{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "TagKey-9823": "TagValue-1254",
          "TagKey-3481": "TagValue-320",
          "TagKey-4926": "TagValue-1187",
          "TagKey-751": "TagValue-3921",
          "TagKey-1866": "TagValue-8559",
          "TagKey-3094": "TagValue-9190",
          "TagKey-2449": "TagValue-9",
          "TagKey-8379": "TagValue-164",
          "TagKey-7470": "TagValue-2205",
          "TagKey-4236": "TagValue-3698",
          "TagKey-5316": "TagValue-2725"
        },
        "subscriptionId": "db1ab6f0-4769-4b27-930e-01e2ef9c123c",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": ".NET Mgmt SDK Test with TTL = 1 Day",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourcegroups/testRG-9117?api-version=**",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {
          "test": "env"
        },
        "location": "eastus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-9117",
        "name": "testRG-9117",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus",
        "tags": {
          "test": "env"
        },
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-9117/providers/Microsoft.DataProtection/backupVaults/vault9932?api-version=2023-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "storageSettings": [
            {
              "datastoreType": "VaultStore",
              "type": "ZoneRedundant"
            },
            {
              "datastoreType": "OperationalStore",
              "type": "ZoneRedundant"
            }
          ]
        },
        "tags": {},
        "location": "eastus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-9117/providers/Microsoft.DataProtection/backupVaults/vault9932/operationStatus/NGJjMmQzM2ItMjAzMi00NTE0LTk2M2MtMjE3NjU5NTA5YjFhOzNjMDc0ZTVkLWE2NjYtNGZjMS04MGEyLWM1MWIwMTQ1MWUwMA==?api-version=2023-01-01",
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "x-ms-arm-resource-system-data": "{\u0022createdBy\u0022:\u00228e6d47e0-7969-4fde-a62c-4fea4f165e98\u0022,\u0022createdByType\u0022:\u0022Application\u0022,\u0022createdAt\u0022:\u00222023-04-24T09:16:33.5905843Z\u0022,\u0022lastModifiedBy\u0022:\u00228e6d47e0-7969-4fde-a62c-4fea4f165e98\u0022,\u0022lastModifiedByType\u0022:\u0022Application\u0022,\u0022lastModifiedAt\u0022:\u00222023-04-24T09:16:33.5905843Z\u0022}",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "99"
      },
      "ResponseBody": {
        "location": "eastus",
        "tags": {},
        "properties": {
          "provisioningState": "Provisioning",
          "storageSettings": [
            {
              "datastoreType": "VaultStore",
              "type": "ZoneRedundant"
            },
            {
              "datastoreType": "OperationalStore",
              "type": "ZoneRedundant"
            }
          ],
          "isVaultProtectedByResourceGuard": false,
          "securitySettings": {
            "softDeleteSettings": {
              "state": "On",
              "retentionDurationInDays": 14.0
            }
          }
        },
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-9117/providers/Microsoft.DataProtection/backupVaults/vault9932",
        "name": "vault9932",
        "type": "Microsoft.DataProtection/backupVaults"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-9117/providers/Microsoft.DataProtection/backupVaults/vault9932/operationStatus/NGJjMmQzM2ItMjAzMi00NTE0LTk2M2MtMjE3NjU5NTA5YjFhOzNjMDc0ZTVkLWE2NjYtNGZjMS04MGEyLWM1MWIwMTQ1MWUwMA==?api-version=2023-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "999"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-9117/providers/Microsoft.DataProtection/backupVaults/vault9932/operationStatus/NGJjMmQzM2ItMjAzMi00NTE0LTk2M2MtMjE3NjU5NTA5YjFhOzNjMDc0ZTVkLWE2NjYtNGZjMS04MGEyLWM1MWIwMTQ1MWUwMA==",
        "name": "NGJjMmQzM2ItMjAzMi00NTE0LTk2M2MtMjE3NjU5NTA5YjFhOzNjMDc0ZTVkLWE2NjYtNGZjMS04MGEyLWM1MWIwMTQ1MWUwMA==",
        "status": "Succeeded",
        "startTime": "2023-04-24T09:16:34.7186771Z",
        "endTime": "2023-04-24T09:16:35Z"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-9117/providers/Microsoft.DataProtection/backupVaults/vault9932/backupPolicies/policy7353?api-version=2023-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "policyRules": [
            {
              "backupParameters": {
                "backupType": "Discrete",
                "objectType": "AzureBackupParams"
              },
              "dataStore": {
                "dataStoreType": "VaultStore",
                "objectType": "DataStoreInfoBase"
              },
              "trigger": {
                "schedule": {
                  "repeatingTimeIntervals": [
                    "R/2023-04-17T16:00:00\u002B00:00/P1D"
                  ],
                  "timeZone": "UTC"
                },
                "taggingCriteria": [
                  {
                    "isDefault": true,
                    "taggingPriority": 99,
                    "tagInfo": {
                      "tagName": "Default"
                    }
                  }
                ],
                "objectType": "ScheduleBasedTriggerContext"
              },
              "name": "BackupDaily",
              "objectType": "AzureBackupRule"
            },
            {
              "isDefault": true,
              "lifecycles": [
                {
                  "deleteAfter": {
                    "duration": "P30D",
                    "objectType": "AbsoluteDeleteOption"
                  },
                  "sourceDataStore": {
                    "dataStoreType": "OperationalStore",
                    "objectType": "DataStoreInfoBase"
                  }
                },
                {
                  "deleteAfter": {
                    "duration": "P7D",
                    "objectType": "AbsoluteDeleteOption"
                  },
                  "sourceDataStore": {
                    "dataStoreType": "VaultStore",
                    "objectType": "DataStoreInfoBase"
                  }
                }
              ],
              "name": "Default",
              "objectType": "AzureRetentionRule"
            }
          ],
          "datasourceTypes": [
            "Microsoft.Storage/storageAccounts/blobServices"
          ],
          "objectType": "BackupPolicy"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "199"
      },
      "ResponseBody": {
        "properties": {
          "policyRules": [
            {
              "backupParameters": {
                "backupType": "Discrete",
     [...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-9117/providers/Microsoft.DataProtection/backupVaults/vault9932/backupPolicies?api-version=2023-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "198"
      },
      "ResponseBody": {
        "value": [
          {
            "properties": {
              "policyRules": [
                {
                  "backupParameters": {
                    "backupType": "Discrete",
                    "objectType": "AzureBackupParams"
                  },
                  "trigger": {
                    "schedule": {
                      "repeatingTimeIntervals": [
                        "R/2023-04-17T16:00:00\u002B00:00/P1D"
                      ],
                      "timeZone": "UTC"
    [...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-9117/providers/Microsoft.DataProtection/backupVaults/vault9932/backupPolicies/policy73531?api-version=2023-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Language": "en-US",
        "Content-Type": "application/json",
        "x-ms-error-code": "UserErrorGenericResourceNotFound",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "196"
      },
      "ResponseBody": {
        "error": {
          "code": "UserErrorGenericResourceNotFound",
          "message": "Azure resource does not exist. Please make sure required resources exist. If the issue persists, contact Microsoft support.",
          "target": null,
          "details": null,
          "innerError": null
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-9117/providers/Microsoft.DataProtection/backupVaults/vault9932/backupPolicies/policy7353?api-version=2023-01-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-resource-requests": "49"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com/",
    "RandomSeed": "1054191213",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "db1ab6f0-4769-4b27-930e-01e2ef9c123c"
  }
}
