{
  "Entries": [
    {
        "RequestUri": "https://management.azure.com/subscriptions/a9280d5f-f9ab-436e-90cb-b6b9863c5551?api-version=2023-02-01",
        "RequestMethod": "GET",
        "RequestHeaders": {
            "Authorization": "Sanitized"
        },
        "RequestBody": null,
        "StatusCode": 200,
        "ResponseHeaders": {
            "Content-Type": "application/json; charset=utf-8",
            "x-ms-ratelimit-remaining-subscription-reads": "11997"
        },
        "ResponseBody": {
            "id": "/subscriptions/a9280d5f-f9ab-436e-90cb-b6b9863c5551",
            "authorizationSource": "RoleBased",
            "managedByTenants": [],
            "subscriptionId": "a9280d5f-f9ab-436e-90cb-b6b9863c5551",
            "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
            "displayName": "ASME_RestonAzureStackEdge_Test",
            "state": "Enabled",
            "subscriptionPolicies": {
                "locationPlacementId": "Internal_2014-09-01",
                "quotaId": "Internal_2014-09-01",
                "spendingLimit": "Off"
            }
        }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/a9280d5f-f9ab-436e-90cb-b6b9863c5551/resourcegroups/hci-cluster-rg4071?api-version=**",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1198"
      },
      "ResponseBody": {
        "id": "/subscriptions/a9280d5f-f9ab-436e-90cb-b6b9863c5551/resourceGroups/hci-cluster-rg4071",
        "name": "hci-cluster-rg4071",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/a9280d5f-f9ab-436e-90cb-b6b9863c5551/resourceGroups/hci-cluster-rg4071/providers/Microsoft.AzureStackHCI/clusters/hci-cluster199?api-version=2023-02-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "eastus",
        "properties": {
          "aadClientId": "8bf9c1c9-db8d-4424-ab87-18e95120854c",
          "aadTenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47"
        },
        "identity": {
          "type": "None"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022bc03d591-0000-0100-0000-63fe34c10000\u0022",
        "mise-correlation-id": "7f24d21e-b969-48c0-867d-7a56a4c8e34e",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-writes": "1197"
      },
      "ResponseBody": {
        "id": "/subscriptions/a9280d5f-f9ab-436e-90cb-b6b9863c5551/resourceGroups/hci-cluster-rg4071/providers/Microsoft.AzureStackHCI/clusters/hci-cluster199",
        "name": "hci-cluster199",
        "type": "microsoft.azurestackhci/clusters",
        "location": "eastus",
        "tags": {},
        "systemData": {
          "createdBy": "8bf9c1c9-db8d-4424-ab87-18e95120854c",
          "createdByType": "Application",
          "createdAt": "2023-02-28T17:07:12.6856433Z",
          "lastModifiedBy": "8bf9c1c9-db8d-4424-ab87-18e95120854c",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2023-02-28T17:07:12.6856433Z"
        },
        "identity": {
          "type": "None"
        },
        "properties": {
          "provisioningState": "Succeeded",
          "status": "NotYetRegistered",
          "cloudId": "998da1e6-0c7f-4fe1-9f50-1cca70148ef2",
          "aadClientId": "8bf9c1c9-db8d-4424-ab87-18e95120854c",
          "aadTenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
          "softwareAssuranceProperties": {
            "softwareAssuranceStatus": "Disabled",
            "softwareAssuranceIntent": "Disable"
          },
          "desiredProperties": {
            "windowsServerSubscription": "Disabled",
            "diagnosticLevel": "Basic"
          },
          "trialDaysRemaining": 60,
          "billingModel": "Trial",
          "serviceEndpoint": "https://dp.stackhci.azure.com/eastus/",
          "resourceProviderObjectId": "f57be460-ae5d-444a-9317-bbfa416ab4b9"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/a9280d5f-f9ab-436e-90cb-b6b9863c5551/resourceGroups/hci-cluster-rg4071/providers/Microsoft.AzureStackHCI/clusters/hci-cluster199?api-version=2023-02-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/providers/Microsoft.AzureStackHCI/locations/EASTUS/operationStatuses/b3d8b046-6ae1-4e2a-a8c4-393f0bf5c8db*2692E515C18993AADF3BCAC567D15876DDBB4B4D2CCC978A3787F7D7DFDB80B6?api-version=2023-02-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022bc031492-0000-0100-0000-63fe34c30000\u0022",
        "Location": "https://management.azure.com/providers/Microsoft.AzureStackHCI/locations/EASTUS/operationStatuses/b3d8b046-6ae1-4e2a-a8c4-393f0bf5c8db*2692E515C18993AADF3BCAC567D15876DDBB4B4D2CCC978A3787F7D7DFDB80B6?api-version=2023-02-01",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-deletes": "14999"
      },
      "ResponseBody": "null"
    },
    {
      "RequestUri": "https://management.azure.com/providers/Microsoft.AzureStackHCI/locations/EASTUS/operationStatuses/b3d8b046-6ae1-4e2a-a8c4-393f0bf5c8db*2692E515C18993AADF3BCAC567D15876DDBB4B4D2CCC978A3787F7D7DFDB80B6?api-version=2023-02-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002292013335-0000-0100-0000-63fe34c20000\u0022",
        "x-ms-ratelimit-remaining-tenant-reads": "11999"
      },
      "ResponseBody": {
        "id": "/providers/Microsoft.AzureStackHCI/locations/EASTUS/operationStatuses/b3d8b046-6ae1-4e2a-a8c4-393f0bf5c8db*2692E515C18993AADF3BCAC567D15876DDBB4B4D2CCC978A3787F7D7DFDB80B6",
        "name": "b3d8b046-6ae1-4e2a-a8c4-393f0bf5c8db*2692E515C18993AADF3BCAC567D15876DDBB4B4D2CCC978A3787F7D7DFDB80B6",
        "resourceId": "/subscriptions/a9280d5f-f9ab-436e-90cb-b6b9863c5551/resourceGroups/hci-cluster-rg4071/providers/Microsoft.AzureStackHCI/clusters/hci-cluster199",
        "status": "Deleting",
        "startTime": "2023-02-28T17:07:14.9164559Z"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/providers/Microsoft.AzureStackHCI/locations/EASTUS/operationStatuses/b3d8b046-6ae1-4e2a-a8c4-393f0bf5c8db*2692E515C18993AADF3BCAC567D15876DDBB4B4D2CCC978A3787F7D7DFDB80B6?api-version=2023-02-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00221100bbe8-0000-0500-0000-63fe34ea0000\u0022",
        "x-ms-ratelimit-remaining-tenant-reads": "11991"
      },
      "ResponseBody": {
        "id": "/providers/Microsoft.AzureStackHCI/locations/EASTUS/operationStatuses/b3d8b046-6ae1-4e2a-a8c4-393f0bf5c8db*2692E515C18993AADF3BCAC567D15876DDBB4B4D2CCC978A3787F7D7DFDB80B6",
        "name": "b3d8b046-6ae1-4e2a-a8c4-393f0bf5c8db*2692E515C18993AADF3BCAC567D15876DDBB4B4D2CCC978A3787F7D7DFDB80B6",
        "resourceId": "/subscriptions/a9280d5f-f9ab-436e-90cb-b6b9863c5551/resourceGroups/hci-cluster-rg4071/providers/Microsoft.AzureStackHCI/clusters/hci-cluster199",
        "status": "Succeeded",
        "startTime": "2023-02-28T17:07:14.9164559Z",
        "properties": null
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "CLIENT_ID": "8bf9c1c9-db8d-4424-ab87-18e95120854c",
    "RandomSeed": "1044197255",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "a9280d5f-f9ab-436e-90cb-b6b9863c5551",
    "TENANT_ID": "72f988bf-86f1-41af-91ab-2d7cd011db47"
  }
}
