{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/ff0aa6da-20f8-44fe-9aee-381c8e8a4aeb?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11986"
      },
      "ResponseBody": {
        "id": "/subscriptions/ff0aa6da-20f8-44fe-9aee-381c8e8a4aeb",
        "authorizationSource": "RoleBased",
        "managedByTenants": [
          {
            "tenantId": "ad44cbb7-4f0b-47b4-97bd-be70a5b1e681"
          }
        ],
        "subscriptionId": "ff0aa6da-20f8-44fe-9aee-381c8e8a4aeb",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": "HCI IDC Test",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/ff0aa6da-20f8-44fe-9aee-381c8e8a4aeb/resourcegroups/hci-cluster-rg4248?api-version=**",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1187"
      },
      "ResponseBody": {
        "id": "/subscriptions/ff0aa6da-20f8-44fe-9aee-381c8e8a4aeb/resourceGroups/hci-cluster-rg4248",
        "name": "hci-cluster-rg4248",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/ff0aa6da-20f8-44fe-9aee-381c8e8a4aeb/resourceGroups/hci-cluster-rg4248/providers/Microsoft.AzureStackHCI/clusters/hci-cluster6862?api-version=2023-02-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "eastus",
        "properties": {
          "aadClientId": "2565ed7c-4b2b-4fd5-a9ac-49b4611844e9",
          "aadTenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47"
        },
        "identity": {
          "type": "None"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00221713f1cd-0000-0100-0000-645c790b0000\u0022",
        "mise-correlation-id": "c08ed730-e2ab-4e56-937d-ed48919ddc6d",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-writes": "1186"
      },
      "ResponseBody": {
        "id": "/subscriptions/ff0aa6da-20f8-44fe-9aee-381c8e8a4aeb/resourceGroups/hci-cluster-rg4248/providers/Microsoft.AzureStackHCI/clusters/hci-cluster6862",
        "name": "hci-cluster6862",
        "type": "microsoft.azurestackhci/clusters",
        "location": "eastus",
        "tags": {},
        "systemData": {
          "createdBy": "2565ed7c-4b2b-4fd5-a9ac-49b4611844e9",
          "createdByType": "Application",
          "createdAt": "2023-05-11T05:11:39.5108251Z",
          "lastModifiedBy": "2565ed7c-4b2b-4fd5-a9ac-49b4611844e9",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2023-05-11T05:11:39.5108251Z"
        },
        "identity": {
          "type": "None"
        },
        "properties": {
          "provisioningState": "Succeeded",
          "status": "NotYetRegistered",
          "cloudId": "f268a1cd-5ed9-45e2-8fe5-fc09c036bce4",
          "aadClientId": "2565ed7c-4b2b-4fd5-a9ac-49b4611844e9",
          "aadTenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
          "softwareAssuranceProperties": {
            "softwareAssuranceStatus": "Disabled",
            "softwareAssuranceIntent": "Disable"
          },
          "desiredProperties": {
            "windowsServerSubscription": "Disabled",
            "diagnosticLevel": "Basic"
          },
          "trialDaysRemaining": 60,
          "billingModel": "Trial",
          "serviceEndpoint": "https://dp.stackhci.azure.com/eastus/",
          "resourceProviderObjectId": "f57be460-ae5d-444a-9317-bbfa416ab4b9"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/ff0aa6da-20f8-44fe-9aee-381c8e8a4aeb/resourceGroups/hci-cluster-rg4248/providers/Microsoft.AzureStackHCI/clusters/hci-cluster6862?api-version=2023-02-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/providers/Microsoft.AzureStackHCI/locations/EASTUS/operationStatuses/d2d2c557-a813-4778-b39a-8bcc49c0d1c6*BCC9504A23B6D101F2CFA8EE22E991C05E33F245E05B268CC41C4502C96F149A?api-version=2023-02-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022171345ce-0000-0100-0000-645c79110000\u0022",
        "Location": "https://management.azure.com/providers/Microsoft.AzureStackHCI/locations/EASTUS/operationStatuses/d2d2c557-a813-4778-b39a-8bcc49c0d1c6*BCC9504A23B6D101F2CFA8EE22E991C05E33F245E05B268CC41C4502C96F149A?api-version=2023-02-01",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-deletes": "14997"
      },
      "ResponseBody": "null"
    },
    {
      "RequestUri": "https://management.azure.com/providers/Microsoft.AzureStackHCI/locations/EASTUS/operationStatuses/d2d2c557-a813-4778-b39a-8bcc49c0d1c6*BCC9504A23B6D101F2CFA8EE22E991C05E33F245E05B268CC41C4502C96F149A?api-version=2023-02-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022a6026bab-0000-0100-0000-645c79100000\u0022",
        "x-ms-ratelimit-remaining-tenant-reads": "11991"
      },
      "ResponseBody": {
        "id": "/providers/Microsoft.AzureStackHCI/locations/EASTUS/operationStatuses/d2d2c557-a813-4778-b39a-8bcc49c0d1c6*BCC9504A23B6D101F2CFA8EE22E991C05E33F245E05B268CC41C4502C96F149A",
        "name": "d2d2c557-a813-4778-b39a-8bcc49c0d1c6*BCC9504A23B6D101F2CFA8EE22E991C05E33F245E05B268CC41C4502C96F149A",
        "resourceId": "/subscriptions/ff0aa6da-20f8-44fe-9aee-381c8e8a4aeb/resourceGroups/hci-cluster-rg4248/providers/Microsoft.AzureStackHCI/clusters/hci-cluster6862",
        "status": "Deleting",
        "startTime": "2023-05-11T05:11:44.9885673Z"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/providers/Microsoft.AzureStackHCI/locations/EASTUS/operationStatuses/d2d2c557-a813-4778-b39a-8bcc49c0d1c6*BCC9504A23B6D101F2CFA8EE22E991C05E33F245E05B268CC41C4502C96F149A?api-version=2023-02-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002297007448-0000-0500-0000-645c79270000\u0022",
        "x-ms-ratelimit-remaining-tenant-reads": "11984"
      },
      "ResponseBody": {
        "id": "/providers/Microsoft.AzureStackHCI/locations/EASTUS/operationStatuses/d2d2c557-a813-4778-b39a-8bcc49c0d1c6*BCC9504A23B6D101F2CFA8EE22E991C05E33F245E05B268CC41C4502C96F149A",
        "name": "d2d2c557-a813-4778-b39a-8bcc49c0d1c6*BCC9504A23B6D101F2CFA8EE22E991C05E33F245E05B268CC41C4502C96F149A",
        "resourceId": "/subscriptions/ff0aa6da-20f8-44fe-9aee-381c8e8a4aeb/resourceGroups/hci-cluster-rg4248/providers/Microsoft.AzureStackHCI/clusters/hci-cluster6862",
        "status": "Succeeded",
        "startTime": "2023-05-11T05:11:44.9885673Z",
        "properties": null
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "CLIENT_ID": "2565ed7c-4b2b-4fd5-a9ac-49b4611844e9",
    "RandomSeed": "1658901069",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "ff0aa6da-20f8-44fe-9aee-381c8e8a4aeb",
    "TENANT_ID": "72f988bf-86f1-41af-91ab-2d7cd011db47"
  }
}
