{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/ff0aa6da-20f8-44fe-9aee-381c8e8a4aeb?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11939"
      },
      "ResponseBody": {
        "id": "/subscriptions/ff0aa6da-20f8-44fe-9aee-381c8e8a4aeb",
        "authorizationSource": "RoleBased",
        "managedByTenants": [
          {
            "tenantId": "ad44cbb7-4f0b-47b4-97bd-be70a5b1e681"
          }
        ],
        "subscriptionId": "ff0aa6da-20f8-44fe-9aee-381c8e8a4aeb",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": "HCI IDC Test",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/ff0aa6da-20f8-44fe-9aee-381c8e8a4aeb/resourcegroups/hci-cluster-rg3384?api-version=**",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1129"
      },
      "ResponseBody": {
        "id": "/subscriptions/ff0aa6da-20f8-44fe-9aee-381c8e8a4aeb/resourceGroups/hci-cluster-rg3384",
        "name": "hci-cluster-rg3384",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/ff0aa6da-20f8-44fe-9aee-381c8e8a4aeb/resourceGroups/hci-cluster-rg3384/providers/Microsoft.AzureStackHCI/clusters/hci-cluster1652?api-version=2023-02-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "eastus",
        "properties": {
          "aadClientId": "2565ed7c-4b2b-4fd5-a9ac-49b4611844e9",
          "aadTenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47"
        },
        "identity": {
          "type": "None"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00220c13df9c-0000-0100-0000-645b6d960000\u0022",
        "mise-correlation-id": "175d9861-99c8-4549-aafe-e13574faae46",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-writes": "1128"
      },
      "ResponseBody": {
        "id": "/subscriptions/ff0aa6da-20f8-44fe-9aee-381c8e8a4aeb/resourceGroups/hci-cluster-rg3384/providers/Microsoft.AzureStackHCI/clusters/hci-cluster1652",
        "name": "hci-cluster1652",
        "type": "microsoft.azurestackhci/clusters",
        "location": "eastus",
        "tags": {},
        "systemData": {
          "createdBy": "2565ed7c-4b2b-4fd5-a9ac-49b4611844e9",
          "createdByType": "Application",
          "createdAt": "2023-05-10T10:10:29.954769Z",
          "lastModifiedBy": "2565ed7c-4b2b-4fd5-a9ac-49b4611844e9",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2023-05-10T10:10:29.954769Z"
        },
        "identity": {
          "type": "None"
        },
        "properties": {
          "provisioningState": "Succeeded",
          "status": "NotYetRegistered",
          "cloudId": "e808e8a3-3f1b-4489-8c1c-57a369dcce3f",
          "aadClientId": "2565ed7c-4b2b-4fd5-a9ac-49b4611844e9",
          "aadTenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
          "softwareAssuranceProperties": {
            "softwareAssuranceStatus": "Disabled",
            "softwareAssuranceIntent": "Disable"
          },
          "desiredProperties": {
            "windowsServerSubscription": "Disabled",
            "diagnosticLevel": "Basic"
          },
          "trialDaysRemaining": 60,
          "billingModel": "Trial",
          "serviceEndpoint": "https://dp.stackhci.azure.com/eastus/",
          "resourceProviderObjectId": "f57be460-ae5d-444a-9317-bbfa416ab4b9"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/ff0aa6da-20f8-44fe-9aee-381c8e8a4aeb/resourceGroups/hci-cluster-rg3384/providers/Microsoft.AzureStackHCI/clusters/hci-cluster1652?api-version=2023-02-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/providers/Microsoft.AzureStackHCI/locations/EASTUS/operationStatuses/3c03dfd5-8e22-4932-8e43-b58577d5ddd5*936FB01F8FF4FD5AC8A885A6DDC6F7B2E6063DA9A717D1AD5BD7DF6E9CCDFB6D?api-version=2023-02-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00220c13269d-0000-0100-0000-645b6d9b0000\u0022",
        "Location": "https://management.azure.com/providers/Microsoft.AzureStackHCI/locations/EASTUS/operationStatuses/3c03dfd5-8e22-4932-8e43-b58577d5ddd5*936FB01F8FF4FD5AC8A885A6DDC6F7B2E6063DA9A717D1AD5BD7DF6E9CCDFB6D?api-version=2023-02-01",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-deletes": "14991"
      },
      "ResponseBody": "null"
    },
    {
      "RequestUri": "https://management.azure.com/providers/Microsoft.AzureStackHCI/locations/EASTUS/operationStatuses/3c03dfd5-8e22-4932-8e43-b58577d5ddd5*936FB01F8FF4FD5AC8A885A6DDC6F7B2E6063DA9A717D1AD5BD7DF6E9CCDFB6D?api-version=2023-02-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00228902c1ae-0000-0100-0000-645b6d9b0000\u0022",
        "x-ms-ratelimit-remaining-tenant-reads": "11983"
      },
      "ResponseBody": {
        "id": "/providers/Microsoft.AzureStackHCI/locations/EASTUS/operationStatuses/3c03dfd5-8e22-4932-8e43-b58577d5ddd5*936FB01F8FF4FD5AC8A885A6DDC6F7B2E6063DA9A717D1AD5BD7DF6E9CCDFB6D",
        "name": "3c03dfd5-8e22-4932-8e43-b58577d5ddd5*936FB01F8FF4FD5AC8A885A6DDC6F7B2E6063DA9A717D1AD5BD7DF6E9CCDFB6D",
        "resourceId": "/subscriptions/ff0aa6da-20f8-44fe-9aee-381c8e8a4aeb/resourceGroups/hci-cluster-rg3384/providers/Microsoft.AzureStackHCI/clusters/hci-cluster1652",
        "status": "Deleting",
        "startTime": "2023-05-10T10:10:35.4750842Z"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/providers/Microsoft.AzureStackHCI/locations/EASTUS/operationStatuses/3c03dfd5-8e22-4932-8e43-b58577d5ddd5*936FB01F8FF4FD5AC8A885A6DDC6F7B2E6063DA9A717D1AD5BD7DF6E9CCDFB6D?api-version=2023-02-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002247002aae-0000-0500-0000-645b6db80000\u0022",
        "x-ms-ratelimit-remaining-tenant-reads": "11976"
      },
      "ResponseBody": {
        "id": "/providers/Microsoft.AzureStackHCI/locations/EASTUS/operationStatuses/3c03dfd5-8e22-4932-8e43-b58577d5ddd5*936FB01F8FF4FD5AC8A885A6DDC6F7B2E6063DA9A717D1AD5BD7DF6E9CCDFB6D",
        "name": "3c03dfd5-8e22-4932-8e43-b58577d5ddd5*936FB01F8FF4FD5AC8A885A6DDC6F7B2E6063DA9A717D1AD5BD7DF6E9CCDFB6D",
        "resourceId": "/subscriptions/ff0aa6da-20f8-44fe-9aee-381c8e8a4aeb/resourceGroups/hci-cluster-rg3384/providers/Microsoft.AzureStackHCI/clusters/hci-cluster1652",
        "status": "Succeeded",
        "startTime": "2023-05-10T10:10:35.4750842Z",
        "properties": null
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "CLIENT_ID": "2565ed7c-4b2b-4fd5-a9ac-49b4611844e9",
    "RandomSeed": "743918558",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "ff0aa6da-20f8-44fe-9aee-381c8e8a4aeb",
    "TENANT_ID": "72f988bf-86f1-41af-91ab-2d7cd011db47"
  }
}
