{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/a9280d5f-f9ab-436e-90cb-b6b9863c5551?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11977"
      },
      "ResponseBody": {
        "id": "/subscriptions/a9280d5f-f9ab-436e-90cb-b6b9863c5551",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "subscriptionId": "a9280d5f-f9ab-436e-90cb-b6b9863c5551",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": "ASME_RestonAzureStackEdge_Test",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/a9280d5f-f9ab-436e-90cb-b6b9863c5551/resourcegroups/hci-cluster-rg3355?api-version=2021-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1173"
      },
      "ResponseBody": {
        "id": "/subscriptions/a9280d5f-f9ab-436e-90cb-b6b9863c5551/resourceGroups/hci-cluster-rg3355",
        "name": "hci-cluster-rg3355",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/a9280d5f-f9ab-436e-90cb-b6b9863c5551/resourceGroups/hci-cluster-rg3355/providers/Microsoft.AzureStackHCI/clusters/hci-cluster1439?api-version=2022-12-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "eastus",
        "properties": {
          "aadClientId": "8bf9c1c9-db8d-4424-ab87-18e95120854c",
          "aadTenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47"
        },
        "identity": {
          "type": "None"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022ee00279b-0000-0100-0000-63ef7a900000\u0022",
        "mise-correlation-id": "7d4cfefe-e49e-4c60-8666-f6c2544c3536",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-writes": "1172"
      },
      "ResponseBody": {
        "id": "/subscriptions/a9280d5f-f9ab-436e-90cb-b6b9863c5551/resourceGroups/hci-cluster-rg3355/providers/Microsoft.AzureStackHCI/clusters/hci-cluster1439",
        "name": "hci-cluster1439",
        "type": "microsoft.azurestackhci/clusters",
        "location": "eastus",
        "tags": {},
        "systemData": {
          "createdBy": "8bf9c1c9-db8d-4424-ab87-18e95120854c",
          "createdByType": "Application",
          "createdAt": "2023-02-17T13:01:03.7418632Z",
          "lastModifiedBy": "8bf9c1c9-db8d-4424-ab87-18e95120854c",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2023-02-17T13:01:03.7418632Z"
        },
        "identity": {
          "type": "None"
        },
        "properties": {
          "provisioningState": "Succeeded",
          "status": "NotYetRegistered",
          "cloudId": "91bc34fa-b161-424c-9f2b-eb417491f77b",
          "aadClientId": "8bf9c1c9-db8d-4424-ab87-18e95120854c",
          "aadTenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
          "softwareAssuranceProperties": {
            "softwareAssuranceStatus": "Disabled",
            "softwareAssuranceIntent": "Disable"
          },
          "desiredProperties": {
            "windowsServerSubscription": "Disabled",
            "diagnosticLevel": "Basic"
          },
          "trialDaysRemaining": 60,
          "billingModel": "Trial",
          "serviceEndpoint": "https://dp.stackhci.azure.com/eastus/",
          "resourceProviderObjectId": "f57be460-ae5d-444a-9317-bbfa416ab4b9"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/a9280d5f-f9ab-436e-90cb-b6b9863c5551/resourceGroups/hci-cluster-rg3355/providers/Microsoft.AzureStackHCI/clusters/hci-cluster1439?api-version=2022-12-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/providers/Microsoft.AzureStackHCI/locations/EASTUS/operationStatuses/4ebb9e3f-3ab5-43cc-bb37-8c4df23a8857*D0B69E4011576584BD2BF5DCBBFF38EC45082BFBAE4EB0C1FAA0B0924A226A70?api-version=2022-12-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022ee00559b-0000-0100-0000-63ef7a910000\u0022",
        "Location": "https://management.azure.com/providers/Microsoft.AzureStackHCI/locations/EASTUS/operationStatuses/4ebb9e3f-3ab5-43cc-bb37-8c4df23a8857*D0B69E4011576584BD2BF5DCBBFF38EC45082BFBAE4EB0C1FAA0B0924A226A70?api-version=2022-12-01",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-deletes": "14997"
      },
      "ResponseBody": "null"
    },
    {
      "RequestUri": "https://management.azure.com/providers/Microsoft.AzureStackHCI/locations/EASTUS/operationStatuses/4ebb9e3f-3ab5-43cc-bb37-8c4df23a8857*D0B69E4011576584BD2BF5DCBBFF38EC45082BFBAE4EB0C1FAA0B0924A226A70?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00224800c207-0000-0100-0000-63ef7a910000\u0022",
        "x-ms-ratelimit-remaining-tenant-reads": "11999"
      },
      "ResponseBody": {
        "id": "/providers/Microsoft.AzureStackHCI/locations/EASTUS/operationStatuses/4ebb9e3f-3ab5-43cc-bb37-8c4df23a8857*D0B69E4011576584BD2BF5DCBBFF38EC45082BFBAE4EB0C1FAA0B0924A226A70",
        "name": "4ebb9e3f-3ab5-43cc-bb37-8c4df23a8857*D0B69E4011576584BD2BF5DCBBFF38EC45082BFBAE4EB0C1FAA0B0924A226A70",
        "resourceId": "/subscriptions/a9280d5f-f9ab-436e-90cb-b6b9863c5551/resourceGroups/hci-cluster-rg3355/providers/Microsoft.AzureStackHCI/clusters/hci-cluster1439",
        "status": "Deleting",
        "startTime": "2023-02-17T13:01:05.436158Z"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/providers/Microsoft.AzureStackHCI/locations/EASTUS/operationStatuses/4ebb9e3f-3ab5-43cc-bb37-8c4df23a8857*D0B69E4011576584BD2BF5DCBBFF38EC45082BFBAE4EB0C1FAA0B0924A226A70?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022fb0105ef-0000-0300-0000-63ef7aa80000\u0022",
        "x-ms-ratelimit-remaining-tenant-reads": "11992"
      },
      "ResponseBody": {
        "id": "/providers/Microsoft.AzureStackHCI/locations/EASTUS/operationStatuses/4ebb9e3f-3ab5-43cc-bb37-8c4df23a8857*D0B69E4011576584BD2BF5DCBBFF38EC45082BFBAE4EB0C1FAA0B0924A226A70",
        "name": "4ebb9e3f-3ab5-43cc-bb37-8c4df23a8857*D0B69E4011576584BD2BF5DCBBFF38EC45082BFBAE4EB0C1FAA0B0924A226A70",
        "resourceId": "/subscriptions/a9280d5f-f9ab-436e-90cb-b6b9863c5551/resourceGroups/hci-cluster-rg3355/providers/Microsoft.AzureStackHCI/clusters/hci-cluster1439",
        "status": "Succeeded",
        "startTime": "2023-02-17T13:01:05.436158Z",
        "properties": null
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "CLIENT_ID": "8bf9c1c9-db8d-4424-ab87-18e95120854c",
    "RandomSeed": "1021805708",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "a9280d5f-f9ab-436e-90cb-b6b9863c5551",
    "TENANT_ID": "72f988bf-86f1-41af-91ab-2d7cd011db47"
  }
}
