{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11982"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "TagKey-9823": "TagValue-566",
          "TagKey-3481": "TagValue-320",
          "TagKey-4926": "TagValue-1187",
          "TagKey-751": "TagValue-3921",
          "TagKey-1866": "TagValue-8559",
          "TagKey-3094": "TagValue-9190",
          "TagKey-2449": "TagValue-9",
          "TagKey-8379": "TagValue-164",
          "TagKey-7470": "TagValue-2205",
          "TagKey-4236": "TagValue-3698",
          "TagKey-5316": "TagValue-2725"
        },
        "subscriptionId": "db1ab6f0-4769-4b27-930e-01e2ef9c123c",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": ".NET Mgmt SDK Test with TTL = 1 Day",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourcegroups/hci-cluster-rg9575?api-version=**",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1189"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/hci-cluster-rg9575",
        "name": "hci-cluster-rg9575",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/hci-cluster-rg9575/providers/Microsoft.AzureStackHCI/clusters/hci-cluster3507?api-version=2022-05-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "eastus",
        "properties": {
          "aadClientId": "ea0eddd2-3d60-47f8-b3bf-7ec8ae554d10",
          "aadTenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022140009c6-0000-0100-0000-62fa08900000\u0022",
        "mise-correlation-id": "4424167d-dade-4774-b21b-7ecc2cc587b7",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-writes": "1188"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/hci-cluster-rg9575/providers/Microsoft.AzureStackHCI/clusters/hci-cluster3507",
        "name": "hci-cluster3507",
        "type": "microsoft.azurestackhci/clusters",
        "location": "eastus",
        "tags": {},
        "systemData": {
          "createdBy": "ea0eddd2-3d60-47f8-b3bf-7ec8ae554d10",
          "createdByType": "Application",
          "createdAt": "2022-08-15T08:49:19.1762748Z",
          "lastModifiedBy": "ea0eddd2-3d60-47f8-b3bf-7ec8ae554d10",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2022-08-15T08:49:19.1762748Z"
        },
        "properties": {
          "provisioningState": "Succeeded",
          "status": "NotYetRegistered",
          "cloudId": "454cebaa-55e1-47cb-ae1f-e4ae916d08af",
          "aadClientId": "ea0eddd2-3d60-47f8-b3bf-7ec8ae554d10",
          "aadTenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
          "desiredProperties": {
            "windowsServerSubscription": "Disabled",
            "diagnosticLevel": "Basic"
          },
          "trialDaysRemaining": 60,
          "billingModel": "Trial",
          "serviceEndpoint": "https://dp.stackhci.azure.com/eastus/"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/hci-cluster-rg9575/providers/Microsoft.AzureStackHCI/clusters/hci-cluster3507?api-version=2022-05-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/providers/Microsoft.AzureStackHCI/locations/EASTUS/operationStatuses/5bb2ec43-fa7a-4a5f-8daf-250a76090e54*FBB26E5BFA6E232F1C6DDD7DBB67C6BBE1DCEFB1E6EAF8430A3419E4FB97C659?api-version=2022-05-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022140029c6-0000-0100-0000-62fa08940000\u0022",
        "Location": "https://management.azure.com/providers/Microsoft.AzureStackHCI/locations/EASTUS/operationStatuses/5bb2ec43-fa7a-4a5f-8daf-250a76090e54*FBB26E5BFA6E232F1C6DDD7DBB67C6BBE1DCEFB1E6EAF8430A3419E4FB97C659?api-version=2022-05-01",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-deletes": "14996"
      },
      "ResponseBody": "null"
    },
    {
      "RequestUri": "https://management.azure.com/providers/Microsoft.AzureStackHCI/locations/EASTUS/operationStatuses/5bb2ec43-fa7a-4a5f-8daf-250a76090e54*FBB26E5BFA6E232F1C6DDD7DBB67C6BBE1DCEFB1E6EAF8430A3419E4FB97C659?api-version=2022-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00220c00b2d7-0000-0100-0000-62fa08930000\u0022",
        "x-ms-ratelimit-remaining-tenant-reads": "11991"
      },
      "ResponseBody": {
        "id": "/providers/Microsoft.AzureStackHCI/locations/EASTUS/operationStatuses/5bb2ec43-fa7a-4a5f-8daf-250a76090e54*FBB26E5BFA6E232F1C6DDD7DBB67C6BBE1DCEFB1E6EAF8430A3419E4FB97C659",
        "name": "5bb2ec43-fa7a-4a5f-8daf-250a76090e54*FBB26E5BFA6E232F1C6DDD7DBB67C6BBE1DCEFB1E6EAF8430A3419E4FB97C659",
        "resourceId": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/hci-cluster-rg9575/providers/Microsoft.AzureStackHCI/clusters/hci-cluster3507",
        "status": "Deleting",
        "startTime": "2022-08-15T08:49:23.7715975Z"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/providers/Microsoft.AzureStackHCI/locations/EASTUS/operationStatuses/5bb2ec43-fa7a-4a5f-8daf-250a76090e54*FBB26E5BFA6E232F1C6DDD7DBB67C6BBE1DCEFB1E6EAF8430A3419E4FB97C659?api-version=2022-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022f70681c8-0000-0300-0000-62fa08a80000\u0022",
        "x-ms-ratelimit-remaining-tenant-reads": "11985"
      },
      "ResponseBody": {
        "id": "/providers/Microsoft.AzureStackHCI/locations/EASTUS/operationStatuses/5bb2ec43-fa7a-4a5f-8daf-250a76090e54*FBB26E5BFA6E232F1C6DDD7DBB67C6BBE1DCEFB1E6EAF8430A3419E4FB97C659",
        "name": "5bb2ec43-fa7a-4a5f-8daf-250a76090e54*FBB26E5BFA6E232F1C6DDD7DBB67C6BBE1DCEFB1E6EAF8430A3419E4FB97C659",
        "resourceId": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/hci-cluster-rg9575/providers/Microsoft.AzureStackHCI/clusters/hci-cluster3507",
        "status": "Succeeded",
        "startTime": "2022-08-15T08:49:23.7715975Z",
        "properties": null
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "CLIENT_ID": "ea0eddd2-3d60-47f8-b3bf-7ec8ae554d10",
    "RandomSeed": "569641315",
    "RESOURCE_MANAGER_URL": "https://management.azure.com",
    "SUBSCRIPTION_ID": "db1ab6f0-4769-4b27-930e-01e2ef9c123c",
    "TENANT_ID": "72f988bf-86f1-41af-91ab-2d7cd011db47"
  }
}
