{
  "Entries": [
    {
      "RequestUri": "/subscriptions/24fb23e3-6ba3-41f0-9b6e-e41131d5d61e/providers/Microsoft.Compute/locations/EastUS2/publishers/MicrosoftWindowsServer/artifacttypes/vmimage/offers/WindowsServer/skus/2012-R2-Datacenter/versions?$top=1&api-version=2020-06-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "[\r\n  {\r\n    \"location\": \"eastus2\",\r\n    \"name\": \"4.127.20180315\",\r\n    \"id\": \"/Subscriptions/24fb23e3-6ba3-41f0-9b6e-e41131d5d61e/Providers/Microsoft.Compute/Locations/eastus2/Publishers/MicrosoftWindowsServer/ArtifactTypes/VMImage/Offers/WindowsServer/Skus/2012-R2-Datacenter/Versions/4.127.20180315\"\r\n  }\r\n]",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/24fb23e3-6ba3-41f0-9b6e-e41131d5d61e/resourcegroups/crptestar83981?api-version=2017-05-10",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"EastUS2\",\r\n  \"tags\": {\r\n    \"crptestar83981\": \"2020-06-13 00:54:01Z\"\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/24fb23e3-6ba3-41f0-9b6e-e41131d5d61e/resourceGroups/crptestar83981\",\r\n  \"name\": \"crptestar83981\",\r\n  \"location\": \"eastus2\",\r\n  \"tags\": {\r\n    \"crptestar83981\": \"2020-06-13 00:54:01Z\"\r\n  },\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 201
    },
[...]
    {
      "RequestUri": "/subscriptions/24fb23e3-6ba3-41f0-9b6e-e41131d5d61e/resourceGroups/crptestar83981/providers/Microsoft.Storage/storageAccounts/crptestar4531?api-version=2015-06-15",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"EastUS2\",\r\n  \"properties\": {\r\n    \"accountType\": \"Standard_GRS\"\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/24fb23e3-6ba3-41f0-9b6e-e41131d5d61e/providers/Microsoft.Storage/locations/eastus2/asyncoperations/7ce542ee-7b23-4742-bdae-97d67f11317e?monitor=true&api-version=2015-06-15"
        ],
        "Retry-After": [
          "17"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "text/plain; charset=utf-8"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 202
    },
    {
      "RequestUri": "/subscriptions/24fb23e3-6ba3-41f0-9b6e-e41131d5d61e/providers/Microsoft.Storage/locations/eastus2/asyncoperations/7ce542ee-7b23-4742-bdae-97d67f11317e?monitor=true&api-version=2015-06-15",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ],
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "{\r\n  \"location\": \"EastUS2\",\r\n  \"properties\": {\r\n    \"accountType\": \"Standard_GRS\"\r\n  }\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/24fb23e3-6ba3-41f0-9b6e-e41131d5d61e/resourceGroups/crptestar83981/providers/Microsoft.Storage/storageAccounts?api-version=2015-06-15",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11998"
        ],
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/24fb23e3-6ba3-41f0-9b6e-e41131d5d61e/resourceGroups/crptestar83981/providers/Microsoft.Storage/storageAccounts/crptestar4531\",\r\n      \"name\": \"crptestar4531\",\r\n      \"type\": \"Microsoft.Storage/storageAccounts\",\r\n      \"location\": \"eastus2\",\r\n      \"tags\": {},\r\n      \"properties\": {\r\n        \"accountType\": \"Standard_GRS\",\r\n        \"provisioningState\": \"Succeeded\",\r\n        \"creationTime\": \"2020-06-13T00:54:04.794904Z\",\r\n        \"primaryEndpoints\": {\r\n          \"blob\": \"https://crptestar4531.blob.core.windows.net/\",\r\n          \"queue\": \"https://crptestar4531.queue.core.windows.net/\",\r\n          \"table\": \"https://crptestar4531.table.core.windows.net/\",\r\n          \"file\": \"https://crptestar4531.file.core.windows.net/\"\r\n        },\r\n        \"primaryLocation\": \"eastus2\",\r\n        \"statusOfPrimary\": \"available\",\r\n        \"secondaryLocation\": \"centralus\",\r\n        \"statusOfSecondary\": \"available\"\r\n      }\r\n    }\r\n  ]\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/24fb23e3-6ba3-41f0-9b6e-e41131d5d61e/resourceGroups/crptestar83981/providers/Microsoft.Network/publicIPAddresses/pip5892?api-version=2019-09-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"publicIPAllocationMethod\": \"Dynamic\",\r\n    \"dnsSettings\": {\r\n      \"domainNameLabel\": \"dn9200\"\r\n    }\r\n  },\r\n  \"location\": \"EastUS2\",\r\n  \"tags\": {\r\n    \"key\": \"value\"\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Retry-After": [
          "1"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/24fb23e3-6ba3-41f0-9b6e-e41131d5d61e/providers/Microsoft.Network/locations/eastus2/operations/70789b39-79ba-48d9-9e2f-192b8f8b948c?api-version=2019-09-01"
        ],
        "Azure-AsyncNotification": [
          "Enabled"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"pip5892\",\r\n  \"id\": \"/subscriptions/24fb23e3-6ba3-41f0-9b6e-e41131d5d61e/resourceGroups/crptestar83981/providers/Microsoft.Network/publicIPAddresses/pip5892\",\r\n  \"etag\": \"W/\\\"791f53db-5e2d-4b2b-b517-a0b9cd3ad582\\\"\",\r\n  \"location\": \"eastus2\",\r\n  \"tags\": {\r\n    \"key\": \"value\"\r\n  },\r\n  \"properties\": {\r\n    \"provisioningState\": \"Updating\",\r\n    \"resourceGuid\": \"a1d5eade-7b06-4bfd-9e53-ca85229e9621\",\r\n    \"publicIPAddressVersion\": \"IPv4\",\r\n    \"publicIPAllocationMethod\": \"Dynamic\",\r\n    \"idleTimeoutInMinutes\": 4,\r\n    \"dnsSettings\": {\r\n      \"domainNameLabel\": \"dn9200\",\r\n      \"fqdn\": \"dn9200.eastus2.cloudapp.azure.com\"\r\n    },\r\n    \"ipTags\": []\r\n  },\r\n  \"type\": \"Microsoft.Network/publicIPAddresses\",\r\n  \"sku\": {\r\n    \"name\": \"Basic\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/24fb23e3-6ba3-41f0-9b6e-e41131d5d61e/providers/Microsoft.Network/locations/eastus2/operations/70789b39-79ba-48d9-9e2f-192b8f8b948c?api-version=2019-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11998"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"status\": \"Succeeded\"\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/24fb23e3-6ba3-41f0-9b6e-e41131d5d61e/resourceGroups/crptestar83981/providers/Microsoft.Network/publicIPAddresses/pip5892?api-version=2019-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "ETag": [
          "W/\"6a47c330-67eb-4bae-be5a-3887cebca2f6\""
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11997"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"pip5892\",\r\n  \"id\": \"/subscriptions/24fb23e3-6ba3-41f0-9b6e-e41131d5d61e/resourceGroups/crptestar83981/providers/Microsoft.Network/publicIPAddresses/pip5892\",\r\n  \"etag\": \"W/\\\"6a47c330-67eb-4bae-be5a-3887cebca2f6\\\"\",\r\n  \"location\": \"eastus2\",\r\n  \"tags\": {\r\n    \"key\": \"value\"\r\n  },\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"resourceGuid\": \"a1d5eade-7b06-4bfd-9e53-ca85229e9621\",\r\n    \"publicIPAddressVersion\": \"IPv4\",\r\n    \"publicIPAllocationMethod\": \"Dynamic\",\r\n    \"idleTimeoutInMinutes\": 4,\r\n    \"dnsSettings\": {\r\n      \"domainNameLabel\": \"dn9200\",\r\n      \"fqdn\": \"dn9200.eastus2.cloudapp.azure.com\"\r\n    },\r\n    \"ipTags\": []\r\n  },\r\n  \"type\": \"Microsoft.Network/publicIPAddresses\",\r\n  \"sku\": {\r\n    \"name\": \"Basic\"\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/24fb23e3-6ba3-41f0-9b6e-e41131d5d61e/resourceGroups/crptestar83981/providers/Microsoft.Network/virtualNetworks/vn5099?api-version=2019-09-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"addressSpace\": {\r\n      \"addressPrefixes\": [\r\n        \"10.0.0.0/16\"\r\n      ]\r\n    },\r\n    \"dhcpOptions\": {\r\n      \"dnsServers\": [\r\n        \"10.1.1.1\",\r\n        \"10.1.2.4\"\r\n      ]\r\n    },\r\n    \"subnets\": [\r\n      {\r\n        \"properties\": {\r\n          \"addressPrefix\": \"10.0.0.0/24\"\r\n        },\r\n        \"name\": \"sn2438\"\r\n      }\r\n    ]\r\n  },\r\n  \"location\": \"EastUS2\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Retry-After": [
          "3"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/24fb23e3-6ba3-41f0-9b6e-e41131d5d61e/providers/Microsoft.Network/locations/eastus2/operatio[...]
[...]
    {
      "RequestUri": "/subscriptions/24fb23e3-6ba3-41f0-9b6e-e41131d5d61e/resourceGroups/crptestar83981/providers/Microsoft.Network/virtualNetworks/vn5099/subnets/sn2438?api-version=2019-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "ETag": [
          "W/\"2d1aba08-e756-4e88-9651-50290d703e61\""
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11991"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"sn2438\",\r\n  \"id\": \"/subscriptions/24fb23e3-6ba3-41f0-9b6e-e41131d5d61e/resourceGroups/crptestar83981/providers/Microsoft.Network/virtualNetworks/vn5099/subnets/sn2438\",\r\n  \"etag\": \"W/\\\"2d1aba08-e756-4e88-9651-50290d703e61\\\"\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"addressPrefix\": \"10.0.0.0/24\",\r\n    \"delegations\": [],\r\n    \"privateEndpointNetworkPolicies\": \"Enabled\",\r\n    \"privateLinkServiceNetworkPolicies\": \"Enabled\"\r\n  },\r\n  \"type\": \"Microsoft.Network/virtualNetworks/subnets\"\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/24fb23e3-6ba3-41f0-9b6e-e41131d5d61e/resourceGroups/crptestar83981/providers/Microsoft.Network/networkInterfaces/nic4657?api-version=2019-09-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"ipConfigurations\": [\r\n      {\r\n        \"properties\": {\r\n          \"privateIPAllocationMethod\": \"Dynamic\",\r\n          \"subnet\": {\r\n            \"properties\": {\r\n              \"addressPrefix\": \"10.0.0.0/24\",\r\n              \"delegations\": [],\r\n              \"privateEndpointNetworkPolicies\": \"Enabled\",\r\n              \"privateLinkServiceNetworkPolicies\": \"Enabled\"\r\n            },\r\n            \"name\": \"sn2438\",\r\n            \"id\": \"/subscriptions/24fb23e3-6ba3-41f0-9b6e-e41131d5d61e/resourceGroups/crptestar83981/providers/Microsoft.Network/virtualNetworks/vn5099/subnets/sn2438\"\r\n      [...]
[...]
    {
      "RequestUri": "/subscriptions/24fb23e3-6ba3-41f0-9b6e-e41131d5d61e/resourceGroups/crptestar83981/providers/Microsoft.Compute/virtualMachineScaleSets/vmss4035?api-version=2020-06-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"sku\": {\r\n    \"name\": \"Standard_A0\",\r\n    \"capacity\": 2\r\n  },\r\n  \"properties\": {\r\n    \"upgradePolicy\": {\r\n      \"mode\": \"Manual\"\r\n    },\r\n    \"virtualMachineProfile\": {\r\n      \"osProfile\": {\r\n        \"computerNamePrefix\": \"test\",\r\n        \"adminUsername\": \"Foo12\",\r\n        \"adminPassword\": \"[PLACEHOLDEr1]\",\r\n        \"customData\": \"Q3VzdG9tIGRhdGE=\"\r\n      },\r\n      \"storageProfile\": {\r\n        \"imageReference\": {\r\n          \"publisher\": \"MicrosoftWindowsServer\",\r\n          \"offer\": \"WindowsServer\",\r\n          \"sku\": \"2012-R2-Datacenter\",\r\n          \"version\": \"4.127.20180315\"\r\n        },\r\n        \"dataDisks\": [\r\n          {\r\n            \"lun\": 1,\r\n            \"createOption\": \"Empty\",\r\n            \"diskSizeGB\": 128\r\n          }\r\n        ]\r\n      },\r\n      \"networkProfile\": {\r\n        \"networkInterfaceConfigurations\": [\r\n          {\r\n            \"name\": \"vmsstestnetconfig758\",\r\n            \"properties\": {\r\n              \"primary\": true,\r\n              \"ipConfigurations\": [\r\n                {\r\n                  \"name\": \"vmsstestnetconfig9033\",\r\n                  \"properties\": {\r\n                    \"subnet\": {\r\n                      \"id\": \"/subscriptions/24fb23e3-6ba3-41f0-9b6e-e41131d5d61e/resourceGroups/crptestar83981/providers/Microsoft.Network/virtualNetworks/vn5099/subnets/sn2438\"\r\n                    },\r\n                    \"applicationGatewayBackendAddressPools\": []\r\n                  }\r\n                }\r\n              ]\r\n            }\r\n          }\r\n        ]\r\n      }\r\n    },\r\n    \"overprovision\": false\r\n  },\r\n  \"location\": \"EastUS2\",\r\n  \"tags\": {\r\n    \"RG\": \"rg\",\r\n    \"testTag\": \"1\"\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Retry-After": [
          "10"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/24fb23e3-6ba3-41f0-9b6e-e41131d5d61e/providers/Microsoft.Compute/locations/eastus2/operations/a07ef5bb-94ec-4439-bf23-97cf2b7ea44c?api-version=2020-06-01"
        ],
        "Azure-AsyncNotification": [
          "Enabled"
        ],
        "x-ms-ratelimit-remaining-resource": [
          "Microsoft.Compute/CreateVMScaleSet3Min;59,Microsoft.Compute/CreateVMScaleSet30Min;299,Microsoft.Compute/VMScaleSetBatchedVMRequests5Min;1198,Microsoft.Compute/VmssQueuedVMOperations;4798"
        ],
        "x-ms-request-charge": [
          "2"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"vmss4035\",\r\n  \"id\": \"/subscriptions/24fb23e3-6ba3-41f0-9b6e-e41131d5d61e/resourceGroups/crptestar83981/providers/Microsoft.Compute/virtualMachineScaleSets/vmss4035\",\r\n  \"type\": \"Microsoft.Compute/virtualMachineScaleSets\",\r\n  \"location\": \"eastus2\",\r\n  \"tags\": {\r\n    \"RG\": \"rg\",\r\n    \"testTag\": \"1\"\r\n  },\r\n  \"sku\": {\r\n    \"name\": \"Standard_A0\",\r\n    \"tier\": \"Standard\",\r\n    \"capacity\": 2\r\n  },\r\n  \"properties\": {\r\n    \"singlePlacementGroup\": true,\r\n    \"upgradePolicy\": {\r\n      \"mode\": \"Manual\"\r\n    },\r\n    \"virtualMachineProfile\": {\r\n      \"osProfile\": {\r\n        \"computerNamePrefix\": \"test\",\r\n        \"adminUsername\": \"Foo12\",\r\n        \"windowsConfiguration\": {\r\n          \"provisionVMAgent\": true,\r\n          \"enableAutomaticUpdates\": true\r\n        },\r\n        \"secrets\": [],\r\n        \"allowExtensionOperations\": true,\r\n        \"requireGuestProvisionSignal\": true\r\n      },\r\n      \"storageProfile\": {\r\n        \"osDisk\": {\r\n          \"createOption\": \"FromImage\",\r\n          \"caching\": \"None\",\r\n          \"managedDisk\": {\r\n            \"storageAccountType\": \"Standard_LRS\"\r\n          },\r\n          \"diskSizeGB\": 127\r\n        },\r\n        \"imageReference\": {\r\n          \"publisher\": \"MicrosoftWindowsServer\",\r\n          \"offer\": \"WindowsServer\",\r\n          \"sku\": \"2012-R2-Datacenter\",\r\n          \"version\": \"4.127.20180315\"\r\n        },\r\n        \"dataDisks\": [\r\n          {\r\n            \"lun\": 1,\r\n            \"createOption\": \"Empty\",\r\n            \"caching\": \"None\",\r\n            \"managedDisk\": {\r\n              \"storageAccountType\": \"Standard_LRS\"\r\n            },\r\n            \"diskSizeGB\": 128\r\n          }\r\n        ]\r\n      },\r\n      \"networkProfile\": {\r\n        \"networkInterfaceConfigurations\": [\r\n          {\r\n            \"name\": \"vmsstestnetconfig758\",\r\n            \"properties\": {\r\n              \"primary\": true,\r\n              \"enableAcceleratedNetworking\": false,\r\n              \"dnsSettings\": {\r\n                \"dnsServers\": []\r\n              },\r\n              \"enableIPForwarding\": false,\r\n              \"ipConfigurations\": [\r\n                {\r\n                  \"name\": \"vmsstestnetconfig9033\",\r\n                  \"properties\": {\r\n                    \"subnet\": {\r\n                      \"id\": \"/subscriptions/24fb23e3-6ba3-41f0-9b6e-e41131d5d61e/resourceGroups/crptestar83981/providers/Microsoft.Network/virtualNetworks/vn5099/subnets/sn2438\"\r\n                    },\r\n                    \"privateIPAddressVersion\": \"IPv4\"\r\n                  }\r\n                }\r\n              ]\r\n            }\r\n          }\r\n        ]\r\n      },\r\n      \"extensionProfile\": {\r\n        \"extensions\": [\r\n          {\r\n            \"name\": \"Microsoft.Azure.Geneva.GenevaMonitoring\",\r\n            \"properties\": {\r\n              \"autoUpgradeMinorVersion\": true,\r\n              \"publisher\": \"Microsoft.Azure.Geneva\",\r\n              \"type\": \"GenevaMonitoring\",\r\n              \"typeHandlerVersion\": \"2.0\",\r\n              \"settings\": {}\r\n            }\r\n          }\r\n        ]\r\n      }\r\n    },\r\n    \"provisioningState\": \"Creating\",\r\n    \"overprovision\": false,\r\n    \"doNotRunExtensionsOnOverprovisionedVMs\": false,\r\n    \"uniqueId\": \"5f546cb4-95e0-49ac-9089-52749cbd923d\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/24fb23e3-6ba3-41f0-9b6e-e41131d5d61e/providers/Microsoft.Compute/locations/eastus2/operations/a07ef5bb-94ec-4439-bf23-97cf2b7ea44c?api-version=2020-06-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Retry-After": [
          "97"
        ],
        "x-ms-ratelimit-remaining-resource": [
          "Microsoft.Compute/GetOperation3Min;14999,Microsoft.Compute/GetOperation30Min;29932"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"startTime\": \"2020-06-12T17:55:13.491062-07:00\",\r\n  \"status\": \"InProgress\",\r\n  \"name\": \"a07ef5bb-94ec-4439-bf23-97cf2b7ea44c\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/24fb23e3-6ba3-41f0-9b6e-e41131d5d61e/providers/Microsoft.Compute/locations/eastus2/operations/a07ef5bb-94ec-4439-bf23-97cf2b7ea44c?api-version=2020-06-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-resource": [
          "Microsoft.Compute/GetOperation3Min;14996,Microsoft.Compute/GetOperation30Min;29956"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"startTime\": \"2020-06-12T17:55:13.491062-07:00\",\r\n  \"endTime\": \"2020-06-12T18:11:47.4316087-07:00\",\r\n  \"status\": \"Succeeded\",\r\n  \"name\": \"a07ef5bb-94ec-4439-bf23-97cf2b7ea44c\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/24fb23e3-6ba3-41f0-9b6e-e41131d5d61e/resourceGroups/crptestar83981/providers/Microsoft.Compute/virtualMachineScaleSets/vmss4035/redeploy?api-version=2020-06-01",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"instanceIds\": [\r\n    \"0\",\r\n    \"1\"\r\n  ]\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/24fb23e3-6ba3-41f0-9b6e-e41131d5d61e/providers/Microsoft.Compute/locations/eastus2/operations/10791c92-c2b2-481d-b6de-16d823f76cde?monitor=true&api-version=2020-06-01"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/24fb23e3-6ba3-41f0-9b6e-e41131d5d61e/providers/Microsoft.Compute/locations/eastus2/operations/10791c92-c2b2-481d-b6de-16d823f76cde?api-version=2020-06-01"
        ],
        "x-ms-ratelimit-remaining-resource": [
          "Microsoft.Compute/VMScaleSetActions3Min;239,Microsoft.Compute/VMScaleSetActions30Min;1197,Microsoft.Compute/VMScaleSetBatchedVMRequests5Min;1198,Microsoft.Compute/VmssQueuedVMOperations;4798"
        ],
        "x-ms-request-charge": [
          "2"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 202
    },
[...]
    {
      "RequestUri": "/subscriptions/24fb23e3-6ba3-41f0-9b6e-e41131d5d61e/providers/Microsoft.Compute/locations/eastus2/operations/10791c92-c2b2-481d-b6de-16d823f76cde?monitor=true&api-version=2020-06-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-resource": [
          "Microsoft.Compute/GetOperation3Min;14987,Microsoft.Compute/GetOperation30Min;29963"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11992"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/24fb23e3-6ba3-41f0-9b6e-e41131d5d61e/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1DUlBURVNUQVI4Mzk4MS1FQVNUVVMyIiwiam9iTG9jYXRpb24iOiJlYXN0dXMyIn0?api-version=2017-05-10",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/24fb23e3-6ba3-41f0-9b6e-e41131d5d61e/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1DUlBURVNUQVI4Mzk4MS1FQVNUVVMyIiwiam9iTG9jYXRpb24iOiJlYXN0dXMyIn0?api-version=2017-05-10"
        ],
        "Retry-After": [
          "15"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 202
    },
[...]
    {
      "RequestUri": "/subscriptions/24fb23e3-6ba3-41f0-9b6e-e41131d5d61e/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1DUlBURVNUQVI4Mzk4MS1FQVNUVVMyIiwiam9iTG9jYXRpb24iOiJlYXN0dXMyIn0?api-version=2017-05-10",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11980"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 200
    }
  ],
  "Names": {
    "TestVMScaleSetBatchOperations_Redeploy": [
      "crptestar8398",
      "vmss4035",
      "crptestar4531"
    ],
    "CreatePublicIP": [
      "pip5892",
      "dn9200"
    ],
    "CreateVNET": [
      "vn5099",
      "sn2438"
    ],
    "CreateNIC": [
      "nic4657",
      "ip3667"
    ],
    "CreateDefaultVMScaleSetInput": [
      "crptestar5752",
      "vmss8008",
      "vmsstestnetconfig758",
      "vmsstestnetconfig9033"
    ]
  },
  "Variables": {
    "SubscriptionId": "24fb23e3-6ba3-41f0-9b6e-e41131d5d61e"
  }
}