{
  "Entries": [
    {
      "RequestUri": "//subscriptions/3172c3ba-8f32-43e1-bf66-c6231cbfb5ca/resourcegroups/AzureAuthzSDK/providers/Microsoft.Authorization/denyAssignments?api-version=2022-04-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14976"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"properties\": {\r\n        \"denyAssignmentName\": \"Test deny name-everyone\",\r\n        \"description\": \"test deny description-ux df1\",\r\n        \"permissions\": [\r\n          {\r\n            \"actions\": [],\r\n            \"notActions\": [],\r\n            \"dataActions\": [\r\n              \"Microsoft.Storage/*\"\r\n            ],\r\n            \"notDataActions\": [\r\n              \"Microsoft.Compute/*\"\r\n            ]\r\n          }\r\n        ],\r\n        \"scope\": \"/subscriptions/3172c3ba-8f32-43e1-bf66-c6231cbfb5ca\",\r\n        \"doNotApplyToChildScopes\": false,\r\n        \"principals\": [\r\n          {\r\n            \"id\": \"00000000-0000-0000-0000-000000000000\",\r\n            \"type\": \"SystemDefined\"\r\n          }\r\n        ],\r\n        \"excludePrincipals\": [\r\n          {\r\n            \"id\": \"c7c8f07d-b7d7-407d-a061-6cc121c0c4a7\",\r\n            \"type\": \"User\"\r\n          },\r\n          {\r\n            \"id\": \"b7908679-8e37-42d4-8a94-90ab5b183903\",\r\n            \"type\": \"Group\"\r\n          }\r\n        ],\r\n        \"condition\": null,\r\n        \"conditionVersion\": null,\r\n        \"isSystemProtected\": true,\r\n        \"createdOn\": \"2018-08-14T19:53:57.1069228Z\",\r\n        \"updatedOn\": \"2018-10-31T19:08:43.8453873Z\",\r\n        \"createdBy\": null,\r\n        \"updatedBy\": null\r\n      },\r\n      \"id\": \"/subscriptions/3172c3ba-8f32-43e1-bf66-c6231cbfb5ca/providers/Microsoft.Authorization/denyAssignments/c10583ca-2d20-403e-9906-43a1fdfe999a\",\r\n      \"type\": \"Microsoft.Authorization/denyAssignments\",\r\n      \"name\": \"c10583ca-2d20-403e-9906-43a1fdfe999a\"\r\n    },\r\n    {\r\n      \"properties\": {\r\n        \"denyAssignmentName\": \"Test deny name 2\",\r\n        \"description\": \"test deny description-ux df2\",\r\n        \"permissions\": [\r\n          {\r\n            \"actions\": [\r\n              \"*/read\"\r\n            ],\r\n            \"notActions\": [\r\n              \"Microsoft.Authorization/*/read\"\r\n            ],\r\n            \"dataActions\": [\r\n              \"*/read\"\r\n    [...]
