{
  "Entries": [
    {
      "RequestUri": "/subscriptions/3172c3ba-8f32-43e1-bf66-c6231cbfb5ca/providers/Microsoft.Authorization/denyAssignments?$filter=principalId%20eq%20'f8d526a054eb4941ae69ebf4a334d0f0'&api-version=2022-04-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14520"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": []\r\n}",
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "3172c3ba-8f32-43e1-bf66-c6231cbfb5ca"
  }
}