{
  "Entries": [
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-6dc43e25-c271-fbde-c8db-059473772700?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 03 Feb 2022 21:44:47 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9E75E662CF947\u0022",
        "Last-Modified": "Thu, 03 Feb 2022 21:44:47 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-6dc43e25-c271-fbde-c8db-059473772700/test-directory-67f1a36a-3d72-6aaa-45d0-b57e4cb011cf?sv=2022-11-02\u0026st=2022-02-03T20%3A44%3A47Z\u0026se=2022-02-03T22%3A44%3A47Z\u0026sr=s\u0026sp=rcwdl\u0026sig=Sanitized\u0026restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9E75E6637710E\u0022",
        "Last-Modified": "Thu, 03 Feb 2022 21:44:47 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2022-02-03T21:44:47.7487374Z",
        "x-ms-file-creation-time": "2022-02-03T21:44:47.7487374Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2022-02-03T21:44:47.7487374Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "17860367565182308406*11459378189709739967",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-6dc43e25-c271-fbde-c8db-059473772700/test-directory-67f1a36a-3d72-6aaa-45d0-b57e4cb011cf/test-file-020ed01d-9a6c-0aa0-74f2-7a71b52b6dca?sv=2022-11-02\u0026st=2022-02-03T20%3A44%3A47Z\u0026se=2022-02-03T22%3A44%3A47Z\u0026sr=s\u0026sp=rcwdl\u0026sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-content-length": "1024",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9E75E6641F6D7\u0022",
        "Last-Modified": "Thu, 03 Feb 2022 21:44:47 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2022-02-03T21:44:47.8176983Z",
        "x-ms-file-creation-time": "2022-02-03T21:44:47.8176983Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2022-02-03T21:44:47.8176983Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "4010187179898695473*11459378189709739967",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-6dc43e25-c271-fbde-c8db-059473772700/test-directory-67f1a36a-3d72-6aaa-45d0-b57e4cb011cf?sv=2022-11-02\u0026st=2022-02-03T20%3A44%3A47Z\u0026se=2022-02-03T22%3A44%3A47Z\u0026sr=s\u0026sp=rcwdl\u0026sig=Sanitized\u0026restype=directory\u0026comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CEnumerationResults ServiceEndpoint=\u0022http://seanmcccanary3.file.core.windows.net/\u0022 ShareName=\u0022test-share-6dc43e25-c271-fbde-c8db-059473772700\u0022 DirectoryPath=\u0022test-directory-67f1a36a-3d72-6aaa-45d0-b57e4cb011cf\u0022\u003E\u003CDirectoryId\u003E13835128424026341376\u003C/DirectoryId\u003E\u003CEntries\u003E\u003CFile\u003E\u003CName\u003Etest-file-020ed01d-9a6c-0aa0-74f2-7a71b52b6dca\u003C/Name\u003E\u003CFileId\u003E11529285414812647424\u003C/FileId\u003E\u003CProperties\u003E\u003CContent-Length\u003E1024\u003C/Content-Length\u003E\u003C/Properties\u003E\u003C/File\u003E\u003C/Entries\u003E\u003CNextMarker /\u003E\u003C/EnumerationResults\u003E"
    },
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-6dc43e25-c271-fbde-c8db-059473772700?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 03 Feb 2022 21:44:47 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2022-02-03T13:44:47.7131657-08:00",
    "RandomSeed": "112764847",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttp://seanmcccanary3.blob.core.windows.net\nhttp://seanmcccanary3.file.core.windows.net\nhttp://seanmcccanary3.queue.core.windows.net\nhttp://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttp://seanmcccanary3-secondary.blob.core.windows.net\nhttp://seanmcccanary3-secondary.file.core.windows.net\nhttp://seanmcccanary3-secondary.queue.core.windows.net\nhttp://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=http://seanmcccanary3.queue.core.windows.net/;FileEndpoint=http://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=http://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\n[encryption scope]\n\n"
  }
}