{
  "Entries": [
    {
      "RequestUri": "https://myaccountname.purview.azure.com/share/sentShares/7911b09b-9cb3-416a-a3f0-e242c0bfd574?api-version=2023-02-15-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "shareKind": "InPlace",
        "properties": {
          "artifact": {
            "storeKind": "AdlsGen2Account",
            "storeReference": {
              "referenceName": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/testResourceGroup/providers/Microsoft.Storage/storageAccounts/providerTestStorageAccount",
              "type": "ArmResourceReference"
            },
            "properties": {
              "paths": [
                {
                  "containerName": "container1",
                  "senderPath": "testfolder1",
                  "receiverPath": "testfolder1"
                }
              ]
            }
          },
          "displayName": "testDisplayName1",
          "description": "updatedDescription"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Operation-Id": "Sanitized",
        "Operation-Location": "Sanitized"
      },
      "ResponseBody": {
        "properties": {
          "displayName": "testDisplayName1",
          "description": "updatedDescription",
          "artifact": {
            "properties": {
              "paths": [
                {
                  "containerName": "container1",
                  "senderPath": "testfolder1",
                  "receiverPath": "testfolder1"
                }
              ],
              "location": "southafricanorth"
            },
            "storeKind": "AdlsGen2Account",
            "storeReference": {
              "referenceName": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/testResourceGroup/providers/Microsoft.Storage/storageAccounts/providerTestStorageAccount",
              "type": "ArmResourceReference"
            }
          },
          "state": "Succeeded",
          "createdAt": "2023-02-23T04:41:30.8583365Z",
          "dependsOn": [],
          "senderName": "SyMS",
          "senderTenantName": "Microsoft"
        },
        "shareKind": "InPlace",
        "id": "7911b09b-9cb3-416a-a3f0-e242c0bfd574",
        "type": "SentShare"
      }
    },
    {
      "RequestUri": "https://myaccountname.purview.azure.com/share/operationResults/00000000-0000-0000-0000-000000000000?api-version=2023-02-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "00000000-0000-0000-0000-000000000000",
        "startTime": "2023-02-23T17:42:55.1761424Z",
        "endTime": "2023-02-23T17:42:55.1761424Z",
        "status": "Succeeded",
        "error": null
      }
    },
[...]
