{
  "Entries": [
    {
      "RequestUri": "https://myaccountname.purview.azure.com/share/sentShares/016eb068-ddaa-41be-8804-8bef566663a5?api-version=2023-05-30-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "shareKind": "InPlace",
        "properties": {
          "artifact": {
            "storeKind": "AdlsGen2Account",
            "storeReference": {
              "referenceName": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/testResourceGroup/providers/Microsoft.Storage/storageAccounts/providerTestStorageAccount",
              "type": "ArmResourceReference"
            },
            "properties": {
              "paths": [
                {
                  "containerName": "container1",
                  "senderPath": "testfolder1",
                  "receiverPath": "testfolder1"
                }
              ]
            }
          },
          "displayName": "testDisplayName1",
          "description": "updatedDescription"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "/sentShares/016eb068-ddaa-41be-8804-8bef566663a5/016eb068-ddaa-41be-8804-8bef566663a5",
        "Operation-Id": "https://myaccountname.purview.azure.com/share/operationResults/00000000-0000-0000-0000-000000000000?api-version=2023-05-30-preview",
        "Operation-Location": "https://myaccountname.purview.azure.com/share/operationResults/00000000-0000-0000-0000-000000000000?api-version=2023-05-30-preview"
      },
      "ResponseBody": {
        "properties": {
          "displayName": "testDisplayName1",
          "description": "updatedDescription",
          "artifact": {
            "properties": {
              "paths": [
                {
                  "containerName": "container1",
                  "senderPath": "testfolder1",
                  "receiverPath": "testfolder1"
                }
              ],
              "location": "australiaeast"
            },
            "storeKind": "AdlsGen2Account",
            "storeReference": {
              "referenceName": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/testResourceGroup/providers/Microsoft.Storage/storageAccounts/providerTestStorageAccount",
              "type": "ArmResourceReference"
            }
          },
          "state": "Succeeded",
          "createdAt": "2023-06-12T04:26:50.3798441Z",
          "dependsOn": [],
          "senderName": "sdk-05-30-share",
          "senderTenantName": "Microsoft"
        },
        "shareKind": "InPlace",
        "id": "016eb068-ddaa-41be-8804-8bef566663a5",
        "type": "SentShare"
      }
    },
    {
      "RequestUri": "https://myaccountname.purview.azure.com/share/operationResults/00000000-0000-0000-0000-000000000000?api-version=2023-05-30-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "00000000-0000-0000-0000-000000000000",
        "startTime": "2023-06-12T04:26:51.3990105Z",
        "endTime": "2023-06-12T04:26:51.3990105Z",
        "status": "Succeeded",
        "error": null
      }
    },
[...]
