{
  "Entries": [
    {
      "RequestUri": "https://myaccountname.purview.azure.com/share/sentShares?referenceName=%2Fsubscriptions%2F0f3dcfc3-18f8-4099-b381-8353e19d43a7%2FresourceGroups%2Ffaisalaltell%2Fproviders%2FMicrosoft.Storage%2FstorageAccounts%2Fftsharersan\u0026api-version=2023-02-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "properties": {
              "displayName": "testDisplayName1",
              "description": "updatedDescription",
              "artifact": {
                "properties": {
                  "paths": [
                    {
                      "containerName": "container1",
                      "senderPath": "testfolder1",
                      "receiverPath": "testfolder1"
                    }
                  ],
                  "location": "southafricanorth"
                },
                "storeKind": "AdlsGen2Account",
                "storeReference": {
                  "referenceName": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/testResourceGroup/providers/Microsoft.Storage/storageAccounts/providerTestStorageAccount",
                  "type": "ArmResourceReference"
                }
              },
              "state": "Succeeded",
              "createdAt": "2023-02-17T04:23:07.5576491Z",
              "dependsOn": [],
              "senderName": "SyMS",
              "senderTenantName": "Microsoft"
            },
            "shareKind": "InPlace",
            "id": "040fbaf2-98c2-4819-970a-78641d63a39e",
            "type": "SentShare"
          },
          {
            "properties": {
              "displayName": "testDisplayName1",
              "description": "updatedDescription",
              "artifact": {
                "properties": {
                  "paths": [
                    {
                      "containerName": "container1",
                      "senderPath": "testfolder1",
                      "receiverPath": "testfolder1"
       [...]
