{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/eef82110-c91b-4395-9420-fcfcbefc5a47?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "id": "/subscriptions/eef82110-c91b-4395-9420-fcfcbefc5a47",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "costcenter": "1000"
        },
        "subscriptionId": "eef82110-c91b-4395-9420-fcfcbefc5a47",
        "tenantId": "ba5ed788-ddc6-429c-a6a2-0277f01dbee7",
        "displayName": "Azure subscription 1",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Public_2014-09-01",
          "quotaId": "PayAsYouGo_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/tenants?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-tenant-reads": "11994"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/tenants/ba5ed788-ddc6-429c-a6a2-0277f01dbee7",
            "tenantId": "ba5ed788-ddc6-429c-a6a2-0277f01dbee7",
            "tenantCategory": "Home"
          }
        ]
      }
    },
    {
      "RequestUri": "https://management.azure.com/providers/Microsoft.BillingBenefits/reservationOrderAliases/testReservationOrderAliasMockSingle?api-version=2022-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "sku": {
          "name": "Standard_B1s"
        },
        "location": "eastus",
        "properties": {
          "displayName": "TestRONameSingle",
          "billingScopeId": "/subscriptions/eef82110-c91b-4395-9420-fcfcbefc5a47",
          "term": "P3Y",
          "billingPlan": "P1M",
          "appliedScopeType": "Single",
          "appliedScopeProperties": {
            "subscriptionId": "/subscriptions/eef82110-c91b-4395-9420-fcfcbefc5a47"
          },
          "quantity": 1,
          "renew": false,
          "reservedResourceType": "VirtualMachines",
          "reservedResourceProperties": {
            "instanceFlexibility": "On"
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/providers/Microsoft.Capacity/operationResults/b99b286c-fcce-4f07-9af6-cb9adea3f62a?api-version=2020-10-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "5",
        "x-ms-ratelimit-remaining-tenant-writes": "1199",
        "x-ms-version": "1.0.2141.1412"
      },
      "ResponseBody": {
        "id": "/providers/Microsoft.BillingBenefits/reservationOrderAliases/testReservationOrderAliasMockSingle",
        "name": "testReservationOrderAliasMockSingle",
        "type": "Microsoft.BillingBenefits/reservationOrderAliases",
        "location": "eastus",
        "kind": null,
        "sku": {
          "name": "Standard_B1s"
        },
        "properties": {
          "reservationOrderId": "/providers/Microsoft.Capacity/reservationOrders/c5279ddd-6097-4756-a5dc-034fa5a8b79d",
          "billingScopeId": "/subscriptions/eef82110-c91b-4395-9420-fcfcbefc5a47",
          "appliedScopeProperties": {
            "tenantId": null,
            "managementGroupId": null,
            "subscriptionId": "/subscriptions/eef82110-c91b-4395-9420-fcfcbefc5a47",
            "resourceGroupId": null
          },
          "quantity": 1,
          "renew": false,
          "billingPlan": "P1M",
          "reservedResourceProperties": {
            "instanceFlexibility": "On"
          },
          "reservedResourceType": "VirtualMachines",
          "reviewDateTime": null,
          "appliedScopeType": "Single",
          "displayName": "TestRONameSingle",
          "provisioningState": "Created",
          "term": "P3Y"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/providers/Microsoft.Capacity/operationResults/b99b286c-fcce-4f07-9af6-cb9adea3f62a?api-version=2022-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/providers/Microsoft.Capacity/operationResults/b99b286c-fcce-4f07-9af6-cb9adea3f62a?api-version=2022-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/providers/Microsoft.Capacity/operationResults/b99b286c-fcce-4f07-9af6-cb9adea3f62a?api-version=2022-11-01",
        "Retry-After": "5",
        "x-ms-ratelimit-remaining-tenant-reads": "11993",
        "x-ms-version": "1.0.2141.1412"
      },
      "ResponseBody": {
        "id": "/providers/Microsoft.Capacity/operationResults/b99b286c-fcce-4f07-9af6-cb9adea3f62a",
        "name": "b99b286c-fcce-4f07-9af6-cb9adea3f62a",
        "status": "Pending"
      }
    },
[...]
