{
  "Entries": [
    {
      "RequestUri": "https://javatextanalyticstestresources.cognitiveservices.azure.com/language/analyze-text/jobs?api-version=2022-10-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "displayName": "ExtractKeyPhrasesWithAutoDetectedLanguage",
        "analysisInput": {
          "documents": [
            {
              "id": "0",
              "text": "Microsoft was founded by Bill Gates and Paul Allen.",
              "language": "auto"
            },
            {
              "id": "1",
              "text": "My cat and my dog might need to see a veterinarian.",
              "language": "auto"
            }
          ]
        },
        "tasks": [
          {
            "parameters": {},
            "kind": "KeyPhraseExtraction"
          }
        ]
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "operation-location": "https://javatextanalyticstestresources.cognitiveservices.azure.com/language/analyze-text/jobs/9f9dae7a-d84c-4d44-88f9-b61a472e3383?api-version=2022-10-01-preview",
        "x-ms-region": "West US 2"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://javatextanalyticstestresources.cognitiveservices.azure.com/language/analyze-text/jobs/9f9dae7a-d84c-4d44-88f9-b61a472e3383?api-version=2022-10-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "West US 2"
      },
      "ResponseBody": {
        "jobId": "9f9dae7a-d84c-4d44-88f9-b61a472e3383",
        "lastUpdateDateTime": "2022-11-22T06:21:48Z",
        "createdDateTime": "2022-11-22T06:21:47Z",
        "expirationDateTime": "2022-11-23T06:21:47Z",
        "status": "notStarted",
        "errors": [],
        "displayName": "ExtractKeyPhrasesWithAutoDetectedLanguage",
        "tasks": {
          "completed": 0,
          "failed": 0,
          "inProgress": 1,
          "total": 1,
          "items": []
        }
      }
    },
[...]
    {
      "RequestUri": "https://javatextanalyticstestresources.cognitiveservices.azure.com/language/analyze-text/jobs/9f9dae7a-d84c-4d44-88f9-b61a472e3383?api-version=2022-10-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "West US 2"
      },
      "ResponseBody": {
        "jobId": "9f9dae7a-d84c-4d44-88f9-b61a472e3383",
        "lastUpdateDateTime": "2022-11-22T06:21:50Z",
        "createdDateTime": "2022-11-22T06:21:47Z",
        "expirationDateTime": "2022-11-23T06:21:47Z",
        "status": "succeeded",
        "errors": [],
        "displayName": "ExtractKeyPhrasesWithAutoDetectedLanguage",
        "tasks": {
          "completed": 1,
          "failed": 0,
          "inProgress": 0,
          "total": 1,
          "items": [
            {
              "kind": "KeyPhraseExtractionLROResults",
              "lastUpdateDateTime": "2022-11-22T06:21:50.1087902Z",
              "status": "succeeded",
              "results": {
                "documents": [
                  {
                    "id": "0",
                    "keyPhrases": [
                      "Bill Gates",
                      "Paul Allen",
                      "Microsoft"
                    ],
                    "warnings": [],
                    "detectedLanguage": {
                      "name": "English",
                      "iso6391Name": "en",
                      "confidenceScore": 0.94
                    },
                    "isLanguageDefaulted": false
                  },
                  {
                    "id": "1",
                    "keyPhrases": [
                      "cat",
                      "dog",
                      "veterinarian"
                    ],
                    "warnings": [],
                    "detectedLanguage": {
                      "name": "English",
                      "iso6391Name": "en",
                      "confidenceScore": 0.96
                    },
                    "isLanguageDefaulted": false
                  }
                ],
                "errors": [],
                "modelVersion": "2022-10-01"
              }
            }
          ]
        }
      }
    }
  ],
  "Variables": {
    "RandomSeed": "2065398393",
    "TEXT_ANALYTICS_API_KEY": "Sanitized",
    "TEXT_ANALYTICS_ENDPOINT": "https://javatextanalyticstestresources.cognitiveservices.azure.com"
  }
}
