{
  "Entries": [
    {
      "RequestUri": "https://javatextanalyticstestresources.cognitiveservices.azure.com/language/:analyze-text?api-version=2022-05-01\u0026showStats=false",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "analysisInput": {
          "documents": [
            {
              "id": "0",
              "text": "Anthony runs his own personal training business so thisisaverylongtokenwhichwillbetruncatedtoshowushowwarningsareemittedintheapi",
              "language": "es"
            }
          ]
        },
        "parameters": {
          "modelVersion": "2020-07-01"
        },
        "kind": "KeyPhraseExtraction"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "csp-billing-usage": "CognitiveServices.TextAnalytics.BatchScoring=1,CognitiveServices.TextAnalytics.TextRecords=1"
      },
      "ResponseBody": {
        "kind": "KeyPhraseExtractionResults",
        "results": {
          "documents": [
            {
              "id": "0",
              "keyPhrases": [
                "own personal training business",
                "Anthony runs",
                "thisisaverylongtokenwhichwillbetruncatedtoshowushowwarningsareem"
              ],
              "warnings": [
                {
                  "code": "LongWordsInDocument",
                  "message": "The document contains very long words (longer than 64 characters). These words will be truncated and may result in unreliable model predictions."
                }
              ]
            }
          ],
          "errors": [],
          "modelVersion": "2020-07-01"
        }
      }
    }
  ],
  "Variables": {
    "RandomSeed": "1782693676",
    "TEXT_ANALYTICS_API_KEY": "Sanitized",
    "TEXT_ANALYTICS_ENDPOINT": "https://javatextanalyticstestresources.cognitiveservices.azure.com"
  }
}
