{
  "Entries": [
    {
      "RequestUri": "https://javatextanalyticstestresources.cognitiveservices.azure.com/language/:analyze-text?api-version=2022-10-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "analysisInput": {
          "documents": [
            {
              "id": "0",
              "text": "My cat might need to see a veterinarian.",
              "language": "en"
            }
          ]
        },
        "kind": "KeyPhraseExtraction"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "csp-billing-usage": "CognitiveServices.TextAnalytics.BatchScoring=1,CognitiveServices.TextAnalytics.TextRecords=1"
      },
      "ResponseBody": {
        "kind": "KeyPhraseExtractionResults",
        "results": {
          "documents": [
            {
              "id": "0",
              "keyPhrases": [
                "cat",
                "veterinarian"
              ],
              "warnings": []
            }
          ],
          "errors": [],
          "modelVersion": "2022-10-01"
        }
      }
    }
  ],
  "Variables": {
    "RandomSeed": "1612981201",
    "TEXT_ANALYTICS_API_KEY": "Sanitized",
    "TEXT_ANALYTICS_ENDPOINT": "https://javatextanalyticstestresources.cognitiveservices.azure.com"
  }
}
