{
  "Entries": [
    {
      "RequestUri": "https://cognitiveusw2dev.azure-api.net/text/analytics/v3.1-preview.2/keyPhrases?showStats=false",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "documents": [
          {
            "id": "0",
            "text": "Microsoft was founded by Bill Gates and Paul Allen.",
            "language": "en"
          },
          {
            "id": "1",
            "text": "My cat and my dog might need to see a veterinarian.",
            "language": "en"
          }
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "csp-billing-usage": "CognitiveServices.TextAnalytics.BatchScoring=2"
      },
      "ResponseBody": {
        "documents": [
          {
            "id": "0",
            "keyPhrases": [
              "Bill Gates",
              "Paul Allen",
              "Microsoft"
            ],
            "warnings": []
          },
          {
            "id": "1",
            "keyPhrases": [
              "dog",
              "cat",
              "veterinarian"
            ],
            "warnings": []
          }
        ],
        "errors": [],
        "modelVersion": "2020-07-01"
      }
    }
  ],
  "Variables": {
    "RandomSeed": "2011102001",
    "TEXT_ANALYTICS_API_KEY": "Sanitized",
    "TEXT_ANALYTICS_ENDPOINT": "https://cognitiveusw2dev.azure-api.net"
  }
}