{
  "Entries": [
    {
      "RequestUri": "https://javatextanalyticstestresources.cognitiveservices.azure.com/text/analytics/v3.2-preview.2/analyze",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "analysisInput": {
          "documents": [
            {
              "id": "0",
              "text": "Microsoft was founded by Bill Gates and Paul Allen.",
              "language": "en"
            },
            {
              "id": "1",
              "text": "My cat and my dog might need to see a veterinarian.",
              "language": "en"
            }
          ]
        },
        "tasks": {
          "keyPhraseExtractionTasks": [
            {
              "parameters": {
                "loggingOptOut": true
              },
              "taskName": "ExtractKeyPhrasesWithDisabledServiceLogs"
            },
            {
              "parameters": {},
              "taskName": "ExtractKeyPhrases"
            }
          ]
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "operation-location": "https://javatextanalyticstestresources.cognitiveservices.azure.com/text/analytics/v3.2-preview.2/analyze/jobs/492a9471-a8a6-402d-9853-126dfbba234d"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://javatextanalyticstestresources.cognitiveservices.azure.com/text/analytics/v3.2-preview.2/analyze/jobs/492a9471-a8a6-402d-9853-126dfbba234d",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "jobId": "492a9471-a8a6-402d-9853-126dfbba234d",
        "lastUpdateDateTime": "2021-10-25T21:14:35Z",
        "createdDateTime": "2021-10-25T21:14:35Z",
        "expirationDateTime": "2021-10-26T21:14:35Z",
        "status": "running",
        "errors": [],
        "tasks": {
          "completed": 0,
          "failed": 0,
          "inProgress": 2,
          "total": 2
        }
      }
    },
[...]
    {
      "RequestUri": "https://javatextanalyticstestresources.cognitiveservices.azure.com/text/analytics/v3.2-preview.2/analyze/jobs/492a9471-a8a6-402d-9853-126dfbba234d",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "jobId": "492a9471-a8a6-402d-9853-126dfbba234d",
        "lastUpdateDateTime": "2021-10-25T21:14:43Z",
        "createdDateTime": "2021-10-25T21:14:35Z",
        "expirationDateTime": "2021-10-26T21:14:35Z",
        "status": "running",
        "errors": [],
        "tasks": {
          "completed": 1,
          "failed": 0,
          "inProgress": 1,
          "total": 2,
          "keyPhraseExtractionTasks": [
            {
              "lastUpdateDateTime": "2021-10-25T21:14:43.0013783Z",
              "taskName": "ExtractKeyPhrasesWithDisabledServiceLogs",
              "state": "succeeded",
              "results": {
                "documents": [
                  {
                    "id": "0",
                    "keyPhrases": [
                      "Bill Gates",
                      "Paul Allen",
                      "Microsoft"
                    ],
                    "warnings": []
                  },
                  {
                    "id": "1",
                    "keyPhrases": [
                      "cat",
                      "dog",
                      "veterinarian"
                    ],
                    "warnings": []
                  }
                ],
                "errors": [],
                "modelVersion": "2021-06-01"
              }
            }
          ]
        }
      }
    },
[...]
