{
  "Entries": [
    {
      "RequestUri": "https://javatextanalyticstestresources.cognitiveservices.azure.com/language/:analyze-text?api-version=2022-05-01\u0026showStats=false",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "analysisInput": {
          "documents": [
            {
              "id": "0",
              "text": "Microsoft was founded by Bill Gates and Paul Allen.",
              "language": "en"
            },
            {
              "id": "1",
              "text": "My cat and my dog might need to see a veterinarian.",
              "language": "en"
            }
          ]
        },
        "parameters": {},
        "kind": "KeyPhraseExtraction"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "csp-billing-usage": "CognitiveServices.TextAnalytics.BatchScoring=2,CognitiveServices.TextAnalytics.TextRecords=2"
      },
      "ResponseBody": {
        "kind": "KeyPhraseExtractionResults",
        "results": {
          "documents": [
            {
              "id": "0",
              "keyPhrases": [
                "Bill Gates",
                "Paul Allen",
                "Microsoft"
              ],
              "warnings": []
            },
            {
              "id": "1",
              "keyPhrases": [
                "cat",
                "dog",
                "veterinarian"
              ],
              "warnings": []
            }
          ],
          "errors": [],
          "modelVersion": "2022-07-01"
        }
      }
    }
  ],
  "Variables": {
    "RandomSeed": "321879272",
    "TEXT_ANALYTICS_API_KEY": "Sanitized",
    "TEXT_ANALYTICS_ENDPOINT": "https://javatextanalyticstestresources.cognitiveservices.azure.com"
  }
}
