{
  "Entries": [
    {
      "RequestUri": "https://javatextanalyticstestresources.cognitiveservices.azure.com/language/:analyze-text?api-version=2022-10-01-preview\u0026showStats=true",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "analysisInput": {
          "documents": [
            {
              "id": "1",
              "text": "Microsoft was founded by Bill Gates and Paul Allen.",
              "language": "en"
            },
            {
              "id": "2",
              "text": "Mi perro y mi gato tienen que ir al veterinario.",
              "language": "es"
            }
          ]
        },
        "parameters": {},
        "kind": "KeyPhraseExtraction"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "csp-billing-usage": "CognitiveServices.TextAnalytics.BatchScoring=2,CognitiveServices.TextAnalytics.TextRecords=2"
      },
      "ResponseBody": {
        "kind": "KeyPhraseExtractionResults",
        "results": {
          "statistics": {
            "documentsCount": 2,
            "validDocumentsCount": 2,
            "erroneousDocumentsCount": 0,
            "transactionsCount": 2
          },
          "documents": [
            {
              "id": "1",
              "keyPhrases": [
                "Bill Gates",
                "Paul Allen",
                "Microsoft"
              ],
              "statistics": {
                "charactersCount": 51,
                "transactionsCount": 1
              },
              "warnings": []
            },
            {
              "id": "2",
              "keyPhrases": [
                "perro",
                "gato",
                "veterinario"
              ],
              "statistics": {
                "charactersCount": 48,
                "transactionsCount": 1
              },
              "warnings": []
            }
          ],
          "errors": [],
          "modelVersion": "2022-10-01"
        }
      }
    }
  ],
  "Variables": {
    "RandomSeed": "824511664",
    "TEXT_ANALYTICS_API_KEY": "Sanitized",
    "TEXT_ANALYTICS_ENDPOINT": "https://javatextanalyticstestresources.cognitiveservices.azure.com"
  }
}
