{
  "Entries": [
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/certificates/683782681/create?api-version=7.4",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/certificates/683782681/create?api-version=7.4",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "policy": {
          "key_props": {
            "kty": "EC",
            "exportable": true,
            "crv": "P-256K"
          },
          "secret_props": {
            "contentType": "application/x-pem-file"
          },
          "x509_props": {
            "subject": "CN=default",
            "key_usage": [
              "digitalSignature"
            ]
          },
          "issuer": {
            "name": "Self"
          }
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://tcac7e9c41ef52cec.vault.azure.net/certificates/683782681/pending?api-version=7.4\u0026request_id=a6d9bbc5aab54c22817bf798fe7dbc8b",
        "Retry-After": "10"
      },
      "ResponseBody": {
        "id": "https://tcac7e9c41ef52cec.vault.azure.net/certificates/683782681/pending",
        "issuer": {
          "name": "Self"
        },
        "csr": "MIIBtTCCAVwCAQAwEjEQMA4GA1UEAxMHZGVmYXVsdDCB9TCBrgYHKoZIzj0CATCBogIBATAsBgcqhkjOPQEBAiEA/////////////////////////////////////v///C8wBgQBAAQBBwRBBHm\u002BZn753LusVaBilc6HCwcCm/zbLc4o2VnygVsW\u002BBeYSDradyajxGVdpPv8DhEIqP0XtEimhVQZnEfQj/sQ1LgCIQD////////////////////\u002Buq7c5q9IoDu/0l6M0DZBQQIBAQNCAAStF18mN\u002Bo/FIQ9\u002Bkf/IlDs9pTgKeWHILySqP6KH3HuSSeQC770LIlhk4mBHxj061QN/RVBQecVDQNHWTHKq0XboEswSQYJKoZIhvcNAQkOMTwwOjAOBgNVHQ8BAf8EBAMCB4AwHQYDVR0lBBYwFAYIKwYBBQUHAwEGCCsGAQUFBwMCMAkGA1UdEwQCMAAwCgYIKoZIzj0EAwIDRwAwRAIgJsKGS1RF6IH04TMBM6peo9Sq7ztTfIPBuUldkE3OXr8CICIf2xtHF0BxoN9CYj5LnO3sxsgKzvCAqaB72LxMldhL",
        "cancellation_requested": false,
        "status": "inProgress",
        "status_details": "Pending certificate created. Certificate request is in progress. This may take some time based on the issuer provider. Please check again later.",
        "request_id": "a6d9bbc5aab54c22817bf798fe7dbc8b"
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/certificates/683782681/pending?api-version=7.4",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10"
      },
      "ResponseBody": {
        "id": "https://tcac7e9c41ef52cec.vault.azure.net/certificates/683782681/p[...]
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/certificates/683782681/pending?api-version=7.4",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "https://tcac7e9c41ef52cec.vault.azure.net/certificates/683782681/pending",
        "issuer": {
          "name": "Self"
        },
        "csr": "MIIBtTCCAVwCAQAwEjEQMA4GA1UEAxMHZGVmYXVsdDCB9TCBrgYHKoZIzj0CATCBogIBATAsBgcqhkjOPQEBAiEA/////////////////////////////////////v///C8wBgQBAAQBBwRBBHm\u002BZn753LusVaBilc6HCwcCm/zbLc4o2VnygVsW\u002BBeYSDradyajxGVdpPv8DhEIqP0XtEimhVQZnEfQj/sQ1LgCIQD////////////////////\u002Buq7c5q9IoDu/0l6M0DZBQQIBAQNCAAStF18mN\u002Bo/FIQ9\u002Bkf/IlDs9pTgKeWHILySqP6KH3HuSSeQC770LIlhk4mBHxj061QN/RVBQecVDQNHWTHKq0XboEswSQYJKoZIhvcNAQkOMTwwOjAOBgNVHQ8BAf8EBAMCB4AwHQYDVR0lBBYwFAYIKwYBBQUHAwEGCCsGAQUFBwMCMAkGA1UdEwQCMAAwCgYIKoZIzj0EAwIDRwAwRAIgJsKGS1RF6IH04TMBM6peo9Sq7ztTfIPBuUldkE3OXr8CICIf2xtHF0BxoN9CYj5LnO3sxsgKzvCAqaB72LxMldhL",
        "cancellation_requested": false,
        "status": "completed",
        "target": "https://tcac7e9c41ef52cec.vault.azure.net/certificates/683782681",
        "request_id": "a6d9bbc5aab54c22817bf798fe7dbc8b"
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/certificates/683782681?api-version=7.4",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "https://tcac7e9c41ef52cec.vault.azure.net/certificates/683782681/c982460695c945ed96fb409b750f9dbe",
        "kid": "https://tcac7e9c41ef52cec.vault.azure.net/keys/683782681/c982460695c945ed96fb409b750f9dbe",
        "sid": "https://tcac7e9c41ef52cec.vault.azure.net/secrets/683782681/c982460695c945ed96fb409b750f9dbe",
        "x5t": "msvWmm_lmwguGRLy9uAmDAZpiNw",
        "cer": "MIICOjCCAeGgAwIBAgIQFHSQ\u002BNomS6SqQMoM7vv\u002B3zAKBggqhkjOPQQDAjASMRAwDgYDVQQDEwdkZWZhdWx0MB4XDTIzMDMwMjAxMTQ1NloXDTI0MDMwMjAxMjQ1NlowEjEQMA4GA1UEAxMHZGVmYXVsdDCB9TCBrgYHKoZIzj0CATCBogIBATAsBgcqhkjOPQEBAiEA/////////////////////////////////////v///C8wBgQBAAQBBwRBBHm\u002BZn753LusVaBilc6HCwcCm/zbLc4o2VnygVsW\u002BBeYSDradyajxGVdpPv8DhEIqP0XtEimhVQZnEfQj/sQ1LgCIQD////////////////////\u002Buq7c5q9IoDu/0l6M0DZBQQIBAQNCAAStF18mN\u002Bo/FIQ9\u002Bkf/IlDs9pTgKeWHILySqP6KH3HuSSeQC770LIlhk4mBHxj061QN/RVBQecVDQNHWTHKq0Xbo3wwejAOBgNVHQ8BAf8EBAMCB4AwCQYDVR0TBAIwADAdBgNVHSUEFjAUBggrBgEFBQcDAQYIKwYBBQUHAwIwHwYDVR0jBBgwFoAUcDA9zPrxzQQ5KbAedITqXRAa2IAwHQYDVR0OBBYEFHAwPcz68c0EOSmwHnSE6l0QGtiAMAoGCCqGSM49BAMCA0cAMEQCIAfoMl3ElWy1FDbDx/M/2B4GwqUDm/5G1SN98XYD5eamAiA3S7w5\u002Bd95yEqwWVOlUTV0YWSojEzk7y/ZB0WqV\u002BBlmA==",
        "attributes": {
          "enabled": true,
          "nbf": 1677719696,
          "exp": 1709342696,
          "created": 1677720296,
          "updated": 1677720296,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7
        },
        "policy": {
          "id": "https://tcac7e9c41ef52cec.vault.azure.net/certificates/683782681/policy",
          "key_props": {
            "exportable": true,
            "kty": "EC",
            "key_size": 256,
            "reuse_key": false,
            "crv": "P-256K"
          },
          "secret_props": {
            "contentType": "application/x-pem-file"
          },
          "x509_props": {
            "subject": "CN=default",
            "ekus": [
              "1.3.6.1.5.5.7.3.1",
              "1.3.6.1.5.5.7.3.2"
            ],
            "key_usage": [
              "digitalSignature"
            ],
            "validity_months": 12,
            "basic_constraints": {
              "ca": false
            }
          },
          "lifetime_actions": [
            {
              "trigger": {
                "lifetime_percentage": 80
              },
              "action": {
                "action_type": "AutoRenew"
              }
            }
          ],
          "issuer": {
            "name": "Self"
          },
          "attributes": {
            "enabled": true,
            "created": 1677720295,
            "updated": 1677720295
          }
        },
        "pending": {
          "id": "https://tcac7e9c41ef52cec.vault.azure.net/certificates/683782681/pending"
        }
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/683782681/c982460695c945ed96fb409b750f9dbe?api-version=7.4",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/683782681/c982460695c945ed96fb409b750f9dbe?api-version=7.4",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://tcac7e9c41ef52cec.vault.azure.net/keys/683782681/c982460695c945ed96fb409b750f9dbe",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-256K",
          "x": "rRdfJjfqPxSEPfpH_yJQ7PaU4CnlhyC8kqj-ih9x7kk",
          "y": "J5ALvvQsiWGTiYEfGPTrVA39FUFB5xUNA0dZMcqrRds"
        },
        "attributes": {
          "enabled": true,
          "nbf": 1677719696,
          "exp": 1709342696,
          "created": 1677720296,
          "updated": 1677720296,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7
        },
        "managed": true
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/683782681/c982460695c945ed96fb409b750f9dbe/sign?api-version=7.4",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES256K",
        "value": "9gVMTJCorB60x7_u3H3Fj42tFhj6skFV-3Qz_-WJ0g0"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://tcac7e9c41ef52cec.vault.azure.net/keys/683782681/c982460695c945ed96fb409b750f9dbe",
        "value": "6rMoIF9HwSVc0rzp2aG-Ndwr5foI27zbwMSwt-r5g9Vb63IZTRnfhpdYB3f0i7JD0QdvgZC244kBlOmySS245A"
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/certificates/683782681/c982460695c945ed96fb409b750f9dbe?api-version=7.4",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "https://tcac7e9c41ef52cec.vault.azure.net/certificates/683782681/c9824[...]
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/secrets/683782681/c982460695c945ed96fb409b750f9dbe?api-version=7.4",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": "-----BEGIN PRIVATE KEY-----\nMIIBMgIBADCBrgYHKoZIzj0CATCBogIBATAsBgcqhkj[...]
