{
  "Entries": [
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/certificates/1129450623/create?api-version=7.3",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/certificates/1129450623/create?api-version=7.3",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "policy": {
          "key_props": {
            "kty": "EC",
            "exportable": true,
            "crv": "P-256"
          },
          "secret_props": {
            "contentType": "application/x-pkcs12"
          },
          "x509_props": {
            "subject": "CN=default",
            "key_usage": [
              "digitalSignature"
            ]
          },
          "issuer": {
            "name": "Self"
          }
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://heathskeyvault.vault.azure.net/certificates/1129450623/pending?api-version=7.3\u0026request_id=0251cf1262d4480da24f31f26349f864",
        "Retry-After": "10"
      },
      "ResponseBody": {
        "id": "https://heathskeyvault.vault.azure.net/certificates/1129450623/pending",
        "issuer": {
          "name": "Self"
        },
        "csr": "MIIBGDCBvwIBADASMRAwDgYDVQQDEwdkZWZhdWx0MFkwEwYHKoZIzj0CAQYIKoZIzj0DAQcDQgAECvQl67Y/2bwfWhQGu6\u002Bzmq0ktrobU9eulFIoMC0sb9xxxTxeYg\u002BwiYM/ET6OFUpIOE8cOQd1yHXU6juBZaaN76BLMEkGCSqGSIb3DQEJDjE8MDowDgYDVR0PAQH/BAQDAgeAMB0GA1UdJQQWMBQGCCsGAQUFBwMBBggrBgEFBQcDAjAJBgNVHRMEAjAAMAoGCCqGSM49BAMCA0gAMEUCIDwe/qxRlYUXhAV8rw6YYkH8dLHbhdv0hqaTFQgIg6z3AiEA\u002B2WzpehZHQPk\u002BDNMfagzpNk0Axh0SN7kAgu6gjl/EaA=",
        "cancellation_requested": false,
        "status": "inProgress",
        "status_details": "Pending certificate created. Certificate request is in progress. This may take some time based on the issuer provider. Please check again later.",
        "request_id": "0251cf1262d4480da24f31f26349f864"
      }
    },
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/certificates/1129450623/pending?api-version=7.3",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10"
      },
      "ResponseBody": {
        "id": "https://heathskeyvault.vault.azure.net/certificates/1129450623/pending",
        "issuer": {
          "name": "Self"
        },
        "csr": "MIIBGDCBvwIBADASMRAwDgYDVQQDEwdkZWZhdWx0MFkwEwYHKoZIzj0CAQYIKoZIzj0DAQcDQgAECvQl67Y/2bwfWhQGu6\u002Bzmq0ktrobU9eulFIoMC0sb9xxxTxeYg\u002BwiYM/ET6OFUpIOE8cOQd1yHXU6juBZaaN76BLMEkGCSqGSIb3DQEJDjE8MDowDgYDVR0PAQH/BAQDAgeAMB0GA1UdJQQWMBQGCCsGAQUFBwMBBggrBgEFBQcDAjAJBgNVHRMEAjAAMAoGCCqGSM49BAMCA0gAMEUCIDwe/qxRlYUXhAV8rw6YYkH8dLHbhdv0hqaTFQgIg6z3AiEA\u002B2WzpehZHQPk\u002BDNMfagzpNk0Axh0SN7kAgu6gjl/EaA=",
        "cancellation_requested": false,
        "status": "inProgress",
        "status_details": "Pending certificate created. Certificate request is in progress. This may take some time based on the issuer provider. Please check again later.",
        "request_id": "0251cf1262d4480da24f31f26349f864"
      }
    },
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/certificates/1129450623/pending?api-version=7.3",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "https://heathskeyvault.vault.azure.net/certificates/1129450623/pending",
        "issuer": {
          "name": "Self"
        },
        "csr": "MIIBGDCBvwIBADASMRAwDgYDVQQDEwdkZWZhdWx0MFkwEwYHKoZIzj0CAQYIKoZIzj0DAQcDQgAECvQl67Y/2bwfWhQGu6\u002Bzmq0ktrobU9eulFIoMC0sb9xxxTxeYg\u002BwiYM/ET6OFUpIOE8cOQd1yHXU6juBZaaN76BLMEkGCSqGSIb3DQEJDjE8MDowDgYDVR0PAQH/BAQDAgeAMB0GA1UdJQQWMBQGCCsGAQUFBwMBBggrBgEFBQcDAjAJBgNVHRMEAjAAMAoGCCqGSM49BAMCA0gAMEUCIDwe/qxRlYUXhAV8rw6YYkH8dLHbhdv0hqaTFQgIg6z3AiEA\u002B2WzpehZHQPk\u002BDNMfagzpNk0Axh0SN7kAgu6gjl/EaA=",
        "cancellation_requested": false,
        "status": "completed",
        "target": "https://heathskeyvault.vault.azure.net/certificates/1129450623",
        "request_id": "0251cf1262d4480da24f31f26349f864"
      }
    },
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/certificates/1129450623?api-version=7.3",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "https://heathskeyvault.vault.azure.net/certificates/1129450623/1dd988aa01ba4298877da023369828ec",
        "kid": "https://heathskeyvault.vault.azure.net/keys/1129450623/1dd988aa01ba4298877da023369828ec",
        "sid": "https://heathskeyvault.vault.azure.net/secrets/1129450623/1dd988aa01ba4298877da023369828ec",
        "x5t": "3bkAh9FEttZUL9H3dHoJ_I-YZr8",
        "cer": "MIIBnTCCAUSgAwIBAgIQahpNuafwQROMmYE4uqV6oDAKBggqhkjOPQQDAjASMRAwDgYDVQQDEwdkZWZhdWx0MB4XDTIyMDMyMzE4MjIwNVoXDTIzMDMyMzE4MzIwNVowEjEQMA4GA1UEAxMHZGVmYXVsdDBZMBMGByqGSM49AgEGCCqGSM49AwEHA0IABAr0Jeu2P9m8H1oUBruvs5qtJLa6G1PXrpRSKDAtLG/cccU8XmIPsImDPxE\u002BjhVKSDhPHDkHdch11Oo7gWWmje\u002BjfDB6MA4GA1UdDwEB/wQEAwIHgDAJBgNVHRMEAjAAMB0GA1UdJQQWMBQGCCsGAQUFBwMBBggrBgEFBQcDAjAfBgNVHSMEGDAWgBRmoNg2qBiCpVQRHblwlwvnlGBw7jAdBgNVHQ4EFgQUZqDYNqgYgqVUER25cJcL55RgcO4wCgYIKoZIzj0EAwIDRwAwRAIgBDoRR1v8mlssIXAgdIOeoe5L6vWaS/uSV7uDFQQSaFUCIFJUey3WXrx1VEwQ9vyW5CqJCKAuA7SezfwIDiWcrDim",
        "attributes": {
          "enabled": true,
          "nbf": 1648059725,
          "exp": 1679596325,
          "created": 1648060325,
          "updated": 1648060325,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7
        },
        "policy": {
          "id": "https://heathskeyvault.vault.azure.net/certificates/1129450623/policy",
          "key_props": {
            "exportable": true,
            "kty": "EC",
            "key_size": 256,
            "reuse_key": false,
            "crv": "P-256"
          },
          "secret_props": {
            "contentType": "application/x-pkcs12"
          },
          "x509_props": {
            "subject": "CN=default",
            "ekus": [
              "1.3.6.1.5.5.7.3.1",
              "1.3.6.1.5.5.7.3.2"
            ],
            "key_usage": [
              "digitalSignature"
            ],
            "validity_months": 12,
            "basic_constraints": {
              "ca": false
            }
          },
          "lifetime_actions": [
            {
              "trigger": {
                "lifetime_percentage": 80
              },
              "action": {
                "action_type": "AutoRenew"
              }
            }
          ],
          "issuer": {
            "name": "Self"
          },
          "attributes": {
            "enabled": true,
            "created": 1648060323,
            "updated": 1648060323
          }
        },
        "pending": {
          "id": "https://heathskeyvault.vault.azure.net/certificates/1129450623/pending"
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/1129450623/1dd988aa01ba4298877da023369828ec?api-version=7.3",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/1129450623/1dd988aa01ba4298877da023369828ec?api-version=7.3",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://heathskeyvault.vault.azure.net/keys/1129450623/1dd988aa01ba4298877da023369828ec",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-256",
          "x": "CvQl67Y_2bwfWhQGu6-zmq0ktrobU9eulFIoMC0sb9w",
          "y": "ccU8XmIPsImDPxE-jhVKSDhPHDkHdch11Oo7gWWmje8"
        },
        "attributes": {
          "enabled": true,
          "nbf": 1648059725,
          "exp": 1679596325,
          "created": 1648060325,
          "updated": 1648060325,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7
        },
        "managed": true
      }
    },
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/1129450623/1dd988aa01ba4298877da023369828ec/sign?api-version=7.3",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES256",
        "value": "9gVMTJCorB60x7_u3H3Fj42tFhj6skFV-3Qz_-WJ0g0"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://heathskeyvault.vault.azure.net/keys/1129450623/1dd988aa01ba4298877da023369828ec",
        "value": "OGT7wPGw7RTwZK0Q-ZRVQeUWmwuuusQZ9rbzlSt_CFpb7q3A_7g1fowT4qNxCq9MXDJCItSEvpRB_tQV4wAogQ"
      }
    },
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/certificates/1129450623/1dd988aa01ba4298877da023369828ec?api-version=7.3",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "https://heathskeyvault.vault.azure.net/certificates/1129450623/1dd988aa0[...]
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/secrets/1129450623/1dd988aa01ba4298877da023369828ec?api-version=7.3",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": "MIIEBwIBAzCCA8MGCSqGSIb3DQEHAaCCA7QEggOwMIIDrDCCAW0GCSqGSIb3DQEHAaCCAV4Egg[...]
