{
  "Entries": [
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/certificates/1556942572/create?api-version=7.4-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/certificates/1556942572/create?api-version=7.4-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "policy": {
          "key_props": {
            "kty": "EC",
            "exportable": true,
            "crv": "P-384"
          },
          "secret_props": {
            "contentType": "application/x-pem-file"
          },
          "x509_props": {
            "subject": "CN=default",
            "key_usage": [
              "digitalSignature"
            ]
          },
          "issuer": {
            "name": "Self"
          }
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://heathskeyvault.vault.azure.net/certificates/1556942572/pending?api-version=7.4-preview.1\u0026request_id=829f7cf2c75249848f8348139f1a57eb",
        "Retry-After": "10"
      },
      "ResponseBody": {
        "id": "https://heathskeyvault.vault.azure.net/certificates/1556942572/pending",
        "issuer": {
          "name": "Self"
        },
        "csr": "MIIBVTCB3AIBADASMRAwDgYDVQQDEwdkZWZhdWx0MHYwEAYHKoZIzj0CAQYFK4EEACIDYgAEfUkAttGZVfWvKMdAT7kG85hdqoeKXKswIEOXwqK\u002BTVL7C39yK2MpjrRq7nLou\u002BNXFn6TMbKV1jnjg1n1LHVF4tIM9h\u002B7Kn74nW/ySKCvI93oS0fBdck5YKc\u002BFVffakwroEswSQYJKoZIhvcNAQkOMTwwOjAOBgNVHQ8BAf8EBAMCB4AwHQYDVR0lBBYwFAYIKwYBBQUHAwEGCCsGAQUFBwMCMAkGA1UdEwQCMAAwCgYIKoZIzj0EAwMDaAAwZQIwE61UyxkCPzdgkm10qaoha5Dcn122z/DlnrSXmIj/12YGzGm6IoM0qYpMg4Va8ffYAjEArgOlt0FzYCpA4cp0\u002BgJ9SYcZlw7/h1zuKKQzOHLfQI1vxqSqDUSavh1umHYSu0qz",
        "cancellation_requested": false,
        "status": "inProgress",
        "status_details": "Pending certificate created. Certificate request is in progress. This may take some time based on the issuer provider. Please check again later.",
        "request_id": "829f7cf2c75249848f8348139f1a57eb"
      }
    },
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/certificates/1556942572/pending?api-version=7.4-preview.1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10"
      },
      "ResponseBody": {
        "id": "https://heathskeyvault.vault.azure.net/certificates/1556942572/pending",
        "issuer": {
          "name": "Self"
        },
        "csr": "MIIBVTCB3AIBADASMRAwDgYDVQQDEwdkZWZhdWx0MHYwEAYHKoZIzj0CAQYFK4EEACIDYgAEfUkAttGZVfWvKMdAT7kG85hdqoeKXKswIEOXwqK\u002BTVL7C39yK2MpjrRq7nLou\u002BNXFn6TMbKV1jnjg1n1LHVF4tIM9h\u002B7Kn74nW/ySKCvI93oS0fBdck5YKc\u002BFVffakwroEswSQYJKoZIhvcNAQkOMTwwOjAOBgNVHQ8BAf8EBAMCB4AwHQYDVR0lBBYwFAYIKwYBBQUHAwEGCCsGAQUFBwMCMAkGA1UdEwQCMAAwCgYIKoZIzj0EAwMDaAAwZQIwE61UyxkCPzdgkm10qaoha5Dcn122z/DlnrSXmIj/12YGzGm6IoM0qYpMg4Va8ffYAjEArgOlt0FzYCpA4cp0\u002BgJ9SYcZlw7/h1zuKKQzOHLfQI1vxqSqDUSavh1umHYSu0qz",
        "cancellation_requested": false,
        "status": "inProgress",
        "status_details": "Pending certificate created. Certificate request is in progress. This may take some time based on the issuer provider. Please check again later.",
        "request_id": "829f7cf2c75249848f8348139f1a57eb"
      }
    },
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/certificates/1556942572/pending?api-version=7.4-preview.1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "https://heathskeyvault.vault.azure.net/certificates/1556942572/pending",
        "issuer": {
          "name": "Self"
        },
        "csr": "MIIBVTCB3AIBADASMRAwDgYDVQQDEwdkZWZhdWx0MHYwEAYHKoZIzj0CAQYFK4EEACIDYgAEfUkAttGZVfWvKMdAT7kG85hdqoeKXKswIEOXwqK\u002BTVL7C39yK2MpjrRq7nLou\u002BNXFn6TMbKV1jnjg1n1LHVF4tIM9h\u002B7Kn74nW/ySKCvI93oS0fBdck5YKc\u002BFVffakwroEswSQYJKoZIhvcNAQkOMTwwOjAOBgNVHQ8BAf8EBAMCB4AwHQYDVR0lBBYwFAYIKwYBBQUHAwEGCCsGAQUFBwMCMAkGA1UdEwQCMAAwCgYIKoZIzj0EAwMDaAAwZQIwE61UyxkCPzdgkm10qaoha5Dcn122z/DlnrSXmIj/12YGzGm6IoM0qYpMg4Va8ffYAjEArgOlt0FzYCpA4cp0\u002BgJ9SYcZlw7/h1zuKKQzOHLfQI1vxqSqDUSavh1umHYSu0qz",
        "cancellation_requested": false,
        "status": "completed",
        "target": "https://heathskeyvault.vault.azure.net/certificates/1556942572",
        "request_id": "829f7cf2c75249848f8348139f1a57eb"
      }
    },
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/certificates/1556942572?api-version=7.4-preview.1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "https://heathskeyvault.vault.azure.net/certificates/1556942572/1bd016a8c8004be38ecd1b01b5db5e27",
        "kid": "https://heathskeyvault.vault.azure.net/keys/1556942572/1bd016a8c8004be38ecd1b01b5db5e27",
        "sid": "https://heathskeyvault.vault.azure.net/secrets/1556942572/1bd016a8c8004be38ecd1b01b5db5e27",
        "x5t": "dU1LvvbC4eaf-sKYTJUlF98PNZk",
        "cer": "MIIB2jCCAWGgAwIBAgIQcw\u002B6UygEQsmEoIAEY8mimDAKBggqhkjOPQQDAzASMRAwDgYDVQQDEwdkZWZhdWx0MB4XDTIyMTEwMTE3MTc1NloXDTIzMTEwMTE3Mjc1NlowEjEQMA4GA1UEAxMHZGVmYXVsdDB2MBAGByqGSM49AgEGBSuBBAAiA2IABH1JALbRmVX1ryjHQE\u002B5BvOYXaqHilyrMCBDl8Kivk1S\u002Bwt/citjKY60au5y6LvjVxZ\u002BkzGyldY544NZ9Sx1ReLSDPYfuyp\u002B\u002BJ1v8kigryPd6EtHwXXJOWCnPhVX32pMK6N8MHowDgYDVR0PAQH/BAQDAgeAMAkGA1UdEwQCMAAwHQYDVR0lBBYwFAYIKwYBBQUHAwEGCCsGAQUFBwMCMB8GA1UdIwQYMBaAFPPgy\u002BBMAg29K6uX7VNy0xSedxuiMB0GA1UdDgQWBBTz4MvgTAINvSurl\u002B1TctMUnncbojAKBggqhkjOPQQDAwNnADBkAjBWZVpR6z7Mj6zwazS0\u002Bd2x9knUqudEZSqSywzJVjIoBSW\u002Bv3jJKINx/1km2FMazbICMHIx3gJVb08QeG/nXYINoc4J1\u002B1H5IxcXXLoN9VZGzP334HEmKeZ3bMl9HZ9ccFhSQ==",
        "attributes": {
          "enabled": true,
          "nbf": 1667323076,
          "exp": 1698859676,
          "created": 1667323676,
          "updated": 1667323676,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7
        },
        "policy": {
          "id": "https://heathskeyvault.vault.azure.net/certificates/1556942572/policy",
          "key_props": {
            "exportable": true,
            "kty": "EC",
            "key_size": 384,
            "reuse_key": false,
            "crv": "P-384"
          },
          "secret_props": {
            "contentType": "application/x-pem-file"
          },
          "x509_props": {
            "subject": "CN=default",
            "ekus": [
              "1.3.6.1.5.5.7.3.1",
              "1.3.6.1.5.5.7.3.2"
            ],
            "key_usage": [
              "digitalSignature"
            ],
            "validity_months": 12,
            "basic_constraints": {
              "ca": false
            }
          },
          "lifetime_actions": [
            {
              "trigger": {
                "lifetime_percentage": 80
              },
              "action": {
                "action_type": "AutoRenew"
              }
            }
          ],
          "issuer": {
            "name": "Self"
          },
          "attributes": {
            "enabled": true,
            "created": 1667323676,
            "updated": 1667323676
          }
        },
        "pending": {
          "id": "https://heathskeyvault.vault.azure.net/certificates/1556942572/pending"
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/1556942572/1bd016a8c8004be38ecd1b01b5db5e27?api-version=7.4-preview.1",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/1556942572/1bd016a8c8004be38ecd1b01b5db5e27?api-version=7.4-preview.1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://heathskeyvault.vault.azure.net/keys/1556942572/1bd016a8c8004be38ecd1b01b5db5e27",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-384",
          "x": "fUkAttGZVfWvKMdAT7kG85hdqoeKXKswIEOXwqK-TVL7C39yK2MpjrRq7nLou-NX",
          "y": "Fn6TMbKV1jnjg1n1LHVF4tIM9h-7Kn74nW_ySKCvI93oS0fBdck5YKc-FVffakwr"
        },
        "attributes": {
          "enabled": true,
          "nbf": 1667323076,
          "exp": 1698859676,
          "created": 1667323676,
          "updated": 1667323676,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7
        },
        "managed": true
      }
    },
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/1556942572/1bd016a8c8004be38ecd1b01b5db5e27/sign?api-version=7.4-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES384",
        "value": "wvGxpVX176CwgLlRRv_xJDHO-NVv7y0SlPv6BV5xD0hsy2KN8hRfSD9pPCEdBTfa"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://heathskeyvault.vault.azure.net/keys/1556942572/1bd016a8c8004be38ecd1b01b5db5e27",
        "value": "x9qAROBu2_dz4SM2NMUwz_4JIqPY6k6Ph2wEy1pQGnQ0vwKbMUrTz_XSFYnocvSFVTJphXjYfzNzWkknrx0MKlHJvpxLpIL2lUoSfDVJFin_js5EBzLY6bAHqDVZi_QC"
      }
    },
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/certificates/1556942572/1bd016a8c8004be38ecd1b01b5db5e27?api-version=7.4-preview.1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "https://heathskeyvault.vault.azure.net/certificates/1556942572[...]
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/secrets/1556942572/1bd016a8c8004be38ecd1b01b5db5e27?api-version=7.4-preview.1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": "-----BEGIN PRIVATE KEY-----\nMIHOAgEAMBAGByqGSM49AgEGBSuBBAAiBIG[...]
