{
  "Entries": [
    {
      "RequestUri": "https://heathskvtest2.vault.azure.net/certificates/578190564/create?api-version=7.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://heathskvtest2.vault.azure.net/certificates/578190564/create?api-version=7.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "policy": {
          "key_props": {
            "kty": "EC",
            "exportable": true,
            "crv": "P-256"
          },
          "secret_props": {
            "contentType": "application/x-pkcs12"
          },
          "x509_props": {
            "subject": "CN=default",
            "key_usage": [
              "digitalSignature"
            ]
          },
          "issuer": {
            "name": "Self"
          }
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://heathskvtest2.vault.azure.net/certificates/578190564/pending?api-version=7.2\u0026request_id=5569487e17b74823a1914187e3b72a95",
        "Retry-After": "10"
      },
      "ResponseBody": {
        "id": "https://heathskvtest2.vault.azure.net/certificates/578190564/pending",
        "issuer": {
          "name": "Self"
        },
        "csr": "MIIBGDCBvwIBADASMRAwDgYDVQQDEwdkZWZhdWx0MFkwEwYHKoZIzj0CAQYIKoZIzj0DAQcDQgAEBnpHQdVhf\u002BHvSjq6UrdDLHjGtzfCuK\u002BqW9XfGEKb4pPAzGYu3NNOorJdqdgXBDkVnJNjBhLYI21YoxT1y\u002BbQmaBLMEkGCSqGSIb3DQEJDjE8MDowDgYDVR0PAQH/BAQDAgeAMB0GA1UdJQQWMBQGCCsGAQUFBwMBBggrBgEFBQcDAjAJBgNVHRMEAjAAMAoGCCqGSM49BAMCA0gAMEUCICXG63Q3gr58VjcJSHugo8tmfo65X\u002B0O5f\u002BWrA3EulvRAiEA6Ls8MoXnMj72gUuzihNv9gV3ZJURcwJ6Zz4D\u002BWnGvzY=",
        "cancellation_requested": false,
        "status": "inProgress",
        "status_details": "Pending certificate created. Certificate request is in progress. This may take some time based on the issuer provider. Please check again later.",
        "request_id": "5569487e17b74823a1914187e3b72a95"
      }
    },
    {
      "RequestUri": "https://heathskvtest2.vault.azure.net/certificates/578190564/pending?api-version=7.2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10"
      },
      "ResponseBody": {
        "id": "https://heathskvtest2.vault.azure.net/certificates/578190564/pending",
        "issuer": {
          "name": "Self"
        },
        "csr": "MIIBGDCBvwIBADASMRAwDgYDVQQDEwdkZWZhdWx0MFkwEwYHKoZIzj0CAQYIKoZIzj0DAQcDQgAEBnpHQdVhf\u002BHvSjq6UrdDLHjGtzfCuK\u002BqW9XfGEKb4pPAzGYu3NNOorJdqdgXBDkVnJNjBhLYI21YoxT1y\u002BbQmaBLMEkGCSqGSIb3DQEJDjE8MDowDgYDVR0PAQH/BAQDAgeAMB0GA1UdJQQWMBQGCCsGAQUFBwMBBggrBgEFBQcDAjAJBgNVHRMEAjAAMAoGCCqGSM49BAMCA0gAMEUCICXG63Q3gr58VjcJSHugo8tmfo65X\u002B0O5f\u002BWrA3EulvRAiEA6Ls8MoXnMj72gUuzihNv9gV3ZJURcwJ6Zz4D\u002BWnGvzY=",
        "cancellation_requested": false,
        "status": "inProgress",
        "status_details": "Pending certificate created. Certificate request is in progress. This may take some time based on the issuer provider. Please check again later.",
        "request_id": "5569487e17b74823a1914187e3b72a95"
      }
    },
[...]
    {
      "RequestUri": "https://heathskvtest2.vault.azure.net/certificates/578190564/pending?api-version=7.2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "https://heathskvtest2.vault.azure.net/certificates/578190564/pending",
        "issuer": {
          "name": "Self"
        },
        "csr": "MIIBGDCBvwIBADASMRAwDgYDVQQDEwdkZWZhdWx0MFkwEwYHKoZIzj0CAQYIKoZIzj0DAQcDQgAEBnpHQdVhf\u002BHvSjq6UrdDLHjGtzfCuK\u002BqW9XfGEKb4pPAzGYu3NNOorJdqdgXBDkVnJNjBhLYI21YoxT1y\u002BbQmaBLMEkGCSqGSIb3DQEJDjE8MDowDgYDVR0PAQH/BAQDAgeAMB0GA1UdJQQWMBQGCCsGAQUFBwMBBggrBgEFBQcDAjAJBgNVHRMEAjAAMAoGCCqGSM49BAMCA0gAMEUCICXG63Q3gr58VjcJSHugo8tmfo65X\u002B0O5f\u002BWrA3EulvRAiEA6Ls8MoXnMj72gUuzihNv9gV3ZJURcwJ6Zz4D\u002BWnGvzY=",
        "cancellation_requested": false,
        "status": "completed",
        "target": "https://heathskvtest2.vault.azure.net/certificates/578190564",
        "request_id": "5569487e17b74823a1914187e3b72a95"
      }
    },
    {
      "RequestUri": "https://heathskvtest2.vault.azure.net/certificates/578190564?api-version=7.2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "https://heathskvtest2.vault.azure.net/certificates/578190564/1faca2e913c140c7a4eafafd0dc3fe48",
        "kid": "https://heathskvtest2.vault.azure.net/keys/578190564/1faca2e913c140c7a4eafafd0dc3fe48",
        "sid": "https://heathskvtest2.vault.azure.net/secrets/578190564/1faca2e913c140c7a4eafafd0dc3fe48",
        "x5t": "kseJ4SAufZT5g70Sd5BumLWur58",
        "cer": "MIIBnjCCAUSgAwIBAgIQLb\u002B1EwJpTTqhs\u002BszIlczEDAKBggqhkjOPQQDAjASMRAwDgYDVQQDEwdkZWZhdWx0MB4XDTIxMDQwODAyMTUxM1oXDTIyMDQwODAyMjUxM1owEjEQMA4GA1UEAxMHZGVmYXVsdDBZMBMGByqGSM49AgEGCCqGSM49AwEHA0IABAZ6R0HVYX/h70o6ulK3Qyx4xrc3wrivqlvV3xhCm\u002BKTwMxmLtzTTqKyXanYFwQ5FZyTYwYS2CNtWKMU9cvm0JmjfDB6MA4GA1UdDwEB/wQEAwIHgDAJBgNVHRMEAjAAMB0GA1UdJQQWMBQGCCsGAQUFBwMBBggrBgEFBQcDAjAfBgNVHSMEGDAWgBRl2X87PyU5ve5Ex45dIazt1zMTazAdBgNVHQ4EFgQUZdl/Oz8lOb3uRMeOXSGs7dczE2swCgYIKoZIzj0EAwIDSAAwRQIhAPKxmPm5oAyQMLhvAst8hy6uFmbpDnD7bJ6o4F\u002B36YCwAiABnWoueMF6BOTZEM1LzFome6VTX3N9g7ZbcvoYctKXdg==",
        "attributes": {
          "enabled": true,
          "nbf": 1617848113,
          "exp": 1649384713,
          "created": 1617848713,
          "updated": 1617848713,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "recoverableDays": 90
        },
        "policy": {
          "id": "https://heathskvtest2.vault.azure.net/certificates/578190564/policy",
          "key_props": {
            "exportable": true,
            "kty": "EC",
            "key_size": 256,
            "reuse_key": false,
            "crv": "P-256"
          },
          "secret_props": {
            "contentType": "application/x-pkcs12"
          },
          "x509_props": {
            "subject": "CN=default",
            "ekus": [
              "1.3.6.1.5.5.7.3.1",
              "1.3.6.1.5.5.7.3.2"
            ],
            "key_usage": [
              "digitalSignature"
            ],
            "validity_months": 12,
            "basic_constraints": {
              "ca": false
            }
          },
          "lifetime_actions": [
            {
              "trigger": {
                "lifetime_percentage": 80
              },
              "action": {
                "action_type": "AutoRenew"
              }
            }
          ],
          "issuer": {
            "name": "Self"
          },
          "attributes": {
            "enabled": true,
            "created": 1617848700,
            "updated": 1617848700
          }
        },
        "pending": {
          "id": "https://heathskvtest2.vault.azure.net/certificates/578190564/pending"
        }
      }
    },
    {
      "RequestUri": "https://heathskvtest2.vault.azure.net/keys/578190564/1faca2e913c140c7a4eafafd0dc3fe48?api-version=7.2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://heathskvtest2.vault.azure.net/keys/578190564/1faca2e913c140c7a4eafafd0dc3fe48?api-version=7.2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://heathskvtest2.vault.azure.net/keys/578190564/1faca2e913c140c7a4eafafd0dc3fe48",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-256",
          "x": "BnpHQdVhf-HvSjq6UrdDLHjGtzfCuK-qW9XfGEKb4pM",
          "y": "wMxmLtzTTqKyXanYFwQ5FZyTYwYS2CNtWKMU9cvm0Jk"
        },
        "attributes": {
          "enabled": true,
          "nbf": 1617848113,
          "exp": 1649384713,
          "created": 1617848713,
          "updated": 1617848713,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "recoverableDays": 90
        },
        "managed": true
      }
    },
    {
      "RequestUri": "https://heathskvtest2.vault.azure.net/keys/578190564/1faca2e913c140c7a4eafafd0dc3fe48/sign?api-version=7.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES256",
        "value": "9gVMTJCorB60x7_u3H3Fj42tFhj6skFV-3Qz_-WJ0g0"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://heathskvtest2.vault.azure.net/keys/578190564/1faca2e913c140c7a4eafafd0dc3fe48",
        "value": "pxw9lV8khzEzFm17LZvfbpP-V30F6u7bpqDukHh2JYAn64g66gOpp6eFig9Po2Zi8fTgPWT2IvXSRAQ5tWjwJg"
      }
    },
    {
      "RequestUri": "https://heathskvtest2.vault.azure.net/certificates/578190564/1faca2e913c140c7a4eafafd0dc3fe48?api-version=7.2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "https://heathskvtest2.vault.az[...]
    {
      "RequestUri": "https://heathskvtest2.vault.azure.net/secrets/578190564/1faca2e913c140c7a4eafafd0dc3fe48?api-version=7.2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": "MIIEBwIBAzCCA8MGCSqGSIb3DQEHAaCC[...]
