{
  "Entries": [
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/certificates/1609808760/create?api-version=7.4-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/certificates/1609808760/create?api-version=7.4-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "policy": {
          "key_props": {
            "kty": "EC",
            "exportable": true,
            "crv": "P-256K"
          },
          "secret_props": {
            "contentType": "application/x-pem-file"
          },
          "x509_props": {
            "subject": "CN=default",
            "key_usage": [
              "digitalSignature"
            ]
          },
          "issuer": {
            "name": "Self"
          }
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://heathskeyvault.vault.azure.net/certificates/1609808760/pending?api-version=7.4-preview.1\u0026request_id=619e6805def4449aa731c4d85efe3864",
        "Retry-After": "10"
      },
      "ResponseBody": {
        "id": "https://heathskeyvault.vault.azure.net/certificates/1609808760/pending",
        "issuer": {
          "name": "Self"
        },
        "csr": "MIIBtjCCAVwCAQAwEjEQMA4GA1UEAxMHZGVmYXVsdDCB9TCBrgYHKoZIzj0CATCBogIBATAsBgcqhkjOPQEBAiEA/////////////////////////////////////v///C8wBgQBAAQBBwRBBHm\u002BZn753LusVaBilc6HCwcCm/zbLc4o2VnygVsW\u002BBeYSDradyajxGVdpPv8DhEIqP0XtEimhVQZnEfQj/sQ1LgCIQD////////////////////\u002Buq7c5q9IoDu/0l6M0DZBQQIBAQNCAAR2Pq6xRCFc4lu3Bw9hKxodls8bS48LsYgLTiPRw8CbkiOaDMn6FjrugGuSnQ4IX1J0JOK9P/jMoc3dMpqNHy6LoEswSQYJKoZIhvcNAQkOMTwwOjAOBgNVHQ8BAf8EBAMCB4AwHQYDVR0lBBYwFAYIKwYBBQUHAwEGCCsGAQUFBwMCMAkGA1UdEwQCMAAwCgYIKoZIzj0EAwIDSAAwRQIhANrLoI\u002BX9ad\u002BvAASW0B6u/05ygnZDGOFWldcjy0zWR\u002ByAiBvB5Xv6amW5JK4Z\u002B\u002B2KvXRD51mVOo9M61eUo\u002BokFBxhA==",
        "cancellation_requested": false,
        "status": "inProgress",
        "status_details": "Pending certificate created. Certificate request is in progress. This may take some time based on the issuer provider. Please check again later.",
        "request_id": "619e6805def4449aa731c4d85efe3864"
      }
    },
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/certificates/1609808760/pending?api-version=7.4-preview.1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10"
      },
      "ResponseBody": {
        "id": "https://heathskeyvault.vault.azure.net/certificates/160980[...]
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/certificates/1609808760/pending?api-version=7.4-preview.1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "https://heathskeyvault.vault.azure.net/certificates/1609808760/pending",
        "issuer": {
          "name": "Self"
        },
        "csr": "MIIBtjCCAVwCAQAwEjEQMA4GA1UEAxMHZGVmYXVsdDCB9TCBrgYHKoZIzj0CATCBogIBATAsBgcqhkjOPQEBAiEA/////////////////////////////////////v///C8wBgQBAAQBBwRBBHm\u002BZn753LusVaBilc6HCwcCm/zbLc4o2VnygVsW\u002BBeYSDradyajxGVdpPv8DhEIqP0XtEimhVQZnEfQj/sQ1LgCIQD////////////////////\u002Buq7c5q9IoDu/0l6M0DZBQQIBAQNCAAR2Pq6xRCFc4lu3Bw9hKxodls8bS48LsYgLTiPRw8CbkiOaDMn6FjrugGuSnQ4IX1J0JOK9P/jMoc3dMpqNHy6LoEswSQYJKoZIhvcNAQkOMTwwOjAOBgNVHQ8BAf8EBAMCB4AwHQYDVR0lBBYwFAYIKwYBBQUHAwEGCCsGAQUFBwMCMAkGA1UdEwQCMAAwCgYIKoZIzj0EAwIDSAAwRQIhANrLoI\u002BX9ad\u002BvAASW0B6u/05ygnZDGOFWldcjy0zWR\u002ByAiBvB5Xv6amW5JK4Z\u002B\u002B2KvXRD51mVOo9M61eUo\u002BokFBxhA==",
        "cancellation_requested": false,
        "status": "completed",
        "target": "https://heathskeyvault.vault.azure.net/certificates/1609808760",
        "request_id": "619e6805def4449aa731c4d85efe3864"
      }
    },
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/certificates/1609808760?api-version=7.4-preview.1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "https://heathskeyvault.vault.azure.net/certificates/1609808760/60f07d4adf364bd4b070fa9f75afe9d1",
        "kid": "https://heathskeyvault.vault.azure.net/keys/1609808760/60f07d4adf364bd4b070fa9f75afe9d1",
        "sid": "https://heathskeyvault.vault.azure.net/secrets/1609808760/60f07d4adf364bd4b070fa9f75afe9d1",
        "x5t": "bwzzPTVbaGCE9bmsUQ34SKSnGBY",
        "cer": "MIICOjCCAeGgAwIBAgIQHhih0sq/SQuLmzYfnex/mTAKBggqhkjOPQQDAjASMRAwDgYDVQQDEwdkZWZhdWx0MB4XDTIyMTEwMTE3MTgxN1oXDTIzMTEwMTE3MjgxN1owEjEQMA4GA1UEAxMHZGVmYXVsdDCB9TCBrgYHKoZIzj0CATCBogIBATAsBgcqhkjOPQEBAiEA/////////////////////////////////////v///C8wBgQBAAQBBwRBBHm\u002BZn753LusVaBilc6HCwcCm/zbLc4o2VnygVsW\u002BBeYSDradyajxGVdpPv8DhEIqP0XtEimhVQZnEfQj/sQ1LgCIQD////////////////////\u002Buq7c5q9IoDu/0l6M0DZBQQIBAQNCAAR2Pq6xRCFc4lu3Bw9hKxodls8bS48LsYgLTiPRw8CbkiOaDMn6FjrugGuSnQ4IX1J0JOK9P/jMoc3dMpqNHy6Lo3wwejAOBgNVHQ8BAf8EBAMCB4AwCQYDVR0TBAIwADAdBgNVHSUEFjAUBggrBgEFBQcDAQYIKwYBBQUHAwIwHwYDVR0jBBgwFoAUb3sYJO0SzW34KZuCDgB79E5hu4IwHQYDVR0OBBYEFG97GCTtEs1t\u002BCmbgg4Ae/ROYbuCMAoGCCqGSM49BAMCA0cAMEQCICt4F5zXSRGs\u002B/dLzCJGICIfAEbXjtbsmgZSRWhP5a91AiBeeNq02ouosX\u002BERnImxDvg0yyLjx37wW0ImKXrXHNCJw==",
        "attributes": {
          "enabled": true,
          "nbf": 1667323097,
          "exp": 1698859697,
          "created": 1667323698,
          "updated": 1667323698,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7
        },
        "policy": {
          "id": "https://heathskeyvault.vault.azure.net/certificates/1609808760/policy",
          "key_props": {
            "exportable": true,
            "kty": "EC",
            "key_size": 256,
            "reuse_key": false,
            "crv": "P-256K"
          },
          "secret_props": {
            "contentType": "application/x-pem-file"
          },
          "x509_props": {
            "subject": "CN=default",
            "ekus": [
              "1.3.6.1.5.5.7.3.1",
              "1.3.6.1.5.5.7.3.2"
            ],
            "key_usage": [
              "digitalSignature"
            ],
            "validity_months": 12,
            "basic_constraints": {
              "ca": false
            }
          },
          "lifetime_actions": [
            {
              "trigger": {
                "lifetime_percentage": 80
              },
              "action": {
                "action_type": "AutoRenew"
              }
            }
          ],
          "issuer": {
            "name": "Self"
          },
          "attributes": {
            "enabled": true,
            "created": 1667323697,
            "updated": 1667323697
          }
        },
        "pending": {
          "id": "https://heathskeyvault.vault.azure.net/certificates/1609808760/pending"
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/1609808760/60f07d4adf364bd4b070fa9f75afe9d1?api-version=7.4-preview.1",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/1609808760/60f07d4adf364bd4b070fa9f75afe9d1?api-version=7.4-preview.1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://heathskeyvault.vault.azure.net/keys/1609808760/60f07d4adf364bd4b070fa9f75afe9d1",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-256K",
          "x": "dj6usUQhXOJbtwcPYSsaHZbPG0uPC7GIC04j0cPAm5I",
          "y": "I5oMyfoWOu6Aa5KdDghfUnQk4r0_-Myhzd0ymo0fLos"
        },
        "attributes": {
          "enabled": true,
          "nbf": 1667323097,
          "exp": 1698859697,
          "created": 1667323698,
          "updated": 1667323698,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7
        },
        "managed": true
      }
    },
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/keys/1609808760/60f07d4adf364bd4b070fa9f75afe9d1/sign?api-version=7.4-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES256K",
        "value": "9gVMTJCorB60x7_u3H3Fj42tFhj6skFV-3Qz_-WJ0g0"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://heathskeyvault.vault.azure.net/keys/1609808760/60f07d4adf364bd4b070fa9f75afe9d1",
        "value": "usy5g-FsT5ab5GNfOd27r8UEqxHpwsEdM_LRgeqRCQQISKvFs1X6a37CjSIsdkcHy8zK-T7-KmKf-CBtibBtcQ"
      }
    },
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/certificates/1609808760/60f07d4adf364bd4b070fa9f75afe9d1?api-version=7.4-preview.1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "https://heathskeyvault.vault.azure.net/certificates/1609808760[...]
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/secrets/1609808760/60f07d4adf364bd4b070fa9f75afe9d1?api-version=7.4-preview.1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": "-----BEGIN PRIVATE KEY-----\nMIIBMgIBADCBrgYHKoZIzj0CATCBogIBATA[...]
