{
  "Entries": [
    {
      "RequestUri": "https://heathskvtest2.vault.azure.net/certificates/244092181/create?api-version=7.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://heathskvtest2.vault.azure.net/certificates/244092181/create?api-version=7.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "policy": {
          "key_props": {
            "kty": "EC",
            "exportable": true,
            "crv": "P-521"
          },
          "secret_props": {
            "contentType": "application/x-pkcs12"
          },
          "x509_props": {
            "subject": "CN=default",
            "key_usage": [
              "digitalSignature"
            ]
          },
          "issuer": {
            "name": "Self"
          }
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://heathskvtest2.vault.azure.net/certificates/244092181/pending?api-version=7.2\u0026request_id=4533a65b44d445ae95c079a62bb9c02e",
        "Retry-After": "10"
      },
      "ResponseBody": {
        "id": "https://heathskvtest2.vault.azure.net/certificates/244092181/pending",
        "issuer": {
          "name": "Self"
        },
        "csr": "MIIBoTCCAQICAQAwEjEQMA4GA1UEAxMHZGVmYXVsdDCBmzAQBgcqhkjOPQIBBgUrgQQAIwOBhgAEANvteirpn2yQ8\u002BCEENjWqUkGgdO89744knTzsPJS7YkUupu\u002BxciQf4dYuIchggTqz\u002B0Tnmhh6M576JlmzChAv\u002BriAHywYcxgQ85/Pn/wMmNji2GkocOBr0pQU6aNdDT18JfvMQyDev\u002BMfnTfIkYXyTKUJ34mgXKDvW0ChAbIr4xZ4qbUoEswSQYJKoZIhvcNAQkOMTwwOjAOBgNVHQ8BAf8EBAMCB4AwHQYDVR0lBBYwFAYIKwYBBQUHAwEGCCsGAQUFBwMCMAkGA1UdEwQCMAAwCgYIKoZIzj0EAwQDgYwAMIGIAkIB3Asv0DT9Rp25vB/tY8OVqmSFB6TIqyvYJp1hkhdMY7LDq8BkHJBhiMETrNHpb/9chl6A5zRMIkK8CSLuOmKvfm8CQgDAUkspG/9fDOxASmbqDNvVXm0h9T/9iQyT3d\u002BlNFGMgNlbxKDmyPbT829v2GxrhlmANDyY17jw89NUbrZqn\u002B1WcA==",
        "cancellation_requested": false,
        "status": "inProgress",
        "status_details": "Pending certificate created. Certificate request is in progress. This may take some time based on the issuer provider. Please check again later.",
        "request_id": "4533a65b44d445ae95c079a62bb9c02e"
      }
    },
    {
      "RequestUri": "https://heathskvtest2.vault.azure.net/certificates/244092181/pending?api-version=7.2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10"
      },
      "ResponseBody": {
        "id": "https://heathskvtest2.vaul[...]
[...]
    {
      "RequestUri": "https://heathskvtest2.vault.azure.net/certificates/244092181/pending?api-version=7.2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "https://heathskvtest2.vault.azure.net/certificates/244092181/pending",
        "issuer": {
          "name": "Self"
        },
        "csr": "MIIBoTCCAQICAQAwEjEQMA4GA1UEAxMHZGVmYXVsdDCBmzAQBgcqhkjOPQIBBgUrgQQAIwOBhgAEANvteirpn2yQ8\u002BCEENjWqUkGgdO89744knTzsPJS7YkUupu\u002BxciQf4dYuIchggTqz\u002B0Tnmhh6M576JlmzChAv\u002BriAHywYcxgQ85/Pn/wMmNji2GkocOBr0pQU6aNdDT18JfvMQyDev\u002BMfnTfIkYXyTKUJ34mgXKDvW0ChAbIr4xZ4qbUoEswSQYJKoZIhvcNAQkOMTwwOjAOBgNVHQ8BAf8EBAMCB4AwHQYDVR0lBBYwFAYIKwYBBQUHAwEGCCsGAQUFBwMCMAkGA1UdEwQCMAAwCgYIKoZIzj0EAwQDgYwAMIGIAkIB3Asv0DT9Rp25vB/tY8OVqmSFB6TIqyvYJp1hkhdMY7LDq8BkHJBhiMETrNHpb/9chl6A5zRMIkK8CSLuOmKvfm8CQgDAUkspG/9fDOxASmbqDNvVXm0h9T/9iQyT3d\u002BlNFGMgNlbxKDmyPbT829v2GxrhlmANDyY17jw89NUbrZqn\u002B1WcA==",
        "cancellation_requested": false,
        "status": "completed",
        "target": "https://heathskvtest2.vault.azure.net/certificates/244092181",
        "request_id": "4533a65b44d445ae95c079a62bb9c02e"
      }
    },
    {
      "RequestUri": "https://heathskvtest2.vault.azure.net/certificates/244092181?api-version=7.2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "https://heathskvtest2.vault.azure.net/certificates/244092181/7802acbb444e4c6e9d7c56d788fb91df",
        "kid": "https://heathskvtest2.vault.azure.net/keys/244092181/7802acbb444e4c6e9d7c56d788fb91df",
        "sid": "https://heathskvtest2.vault.azure.net/secrets/244092181/7802acbb444e4c6e9d7c56d788fb91df",
        "x5t": "aeGfRi53P5yCN95BuvAdjHBAtas",
        "cer": "MIICJjCCAYegAwIBAgIQZ4jAyJujTS6n1finQgJbUjAKBggqhkjOPQQDBDASMRAwDgYDVQQDEwdkZWZhdWx0MB4XDTIxMDQwODAyMTU1NloXDTIyMDQwODAyMjU1NlowEjEQMA4GA1UEAxMHZGVmYXVsdDCBmzAQBgcqhkjOPQIBBgUrgQQAIwOBhgAEANvteirpn2yQ8\u002BCEENjWqUkGgdO89744knTzsPJS7YkUupu\u002BxciQf4dYuIchggTqz\u002B0Tnmhh6M576JlmzChAv\u002BriAHywYcxgQ85/Pn/wMmNji2GkocOBr0pQU6aNdDT18JfvMQyDev\u002BMfnTfIkYXyTKUJ34mgXKDvW0ChAbIr4xZ4qbUo3wwejAOBgNVHQ8BAf8EBAMCB4AwCQYDVR0TBAIwADAdBgNVHSUEFjAUBggrBgEFBQcDAQYIKwYBBQUHAwIwHwYDVR0jBBgwFoAUoQaWchD9/AKPUD5zBtqB3YOdaK8wHQYDVR0OBBYEFKEGlnIQ/fwCj1A\u002Bcwbagd2DnWivMAoGCCqGSM49BAMEA4GMADCBiAJCAOqofSeQkysyDy76Zs1s8crpwxr4dgCnXgDDm180tTevcGt5Hr12TNWCWPgocjmlfek6LP0aquntadsmThehHGXdAkIBWMfZGm/Hg6QznzTxRV3a/rAmtNAjScUJxf1wE/LYqzNpLnT\u002BVPewmweKInmPf13uUt\u002BeZmGltDYX0sQXlSzIh5Y=",
        "attributes": {
          "enabled": true,
          "nbf": 1617848156,
          "exp": 1649384756,
          "created": 1617848757,
          "updated": 1617848757,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "recoverableDays": 90
        },
        "policy": {
          "id": "https://heathskvtest2.vault.azure.net/certificates/244092181/policy",
          "key_props": {
            "exportable": true,
            "kty": "EC",
            "key_size": 521,
            "reuse_key": false,
            "crv": "P-521"
          },
          "secret_props": {
            "contentType": "application/x-pkcs12"
          },
          "x509_props": {
            "subject": "CN=default",
            "ekus": [
              "1.3.6.1.5.5.7.3.1",
              "1.3.6.1.5.5.7.3.2"
            ],
            "key_usage": [
              "digitalSignature"
            ],
            "validity_months": 12,
            "basic_constraints": {
              "ca": false
            }
          },
          "lifetime_actions": [
            {
              "trigger": {
                "lifetime_percentage": 80
              },
              "action": {
                "action_type": "AutoRenew"
              }
            }
          ],
          "issuer": {
            "name": "Self"
          },
          "attributes": {
            "enabled": true,
            "created": 1617848744,
            "updated": 1617848744
          }
        },
        "pending": {
          "id": "https://heathskvtest2.vault.azure.net/certificates/244092181/pending"
        }
      }
    },
    {
      "RequestUri": "https://heathskvtest2.vault.azure.net/keys/244092181/7802acbb444e4c6e9d7c56d788fb91df?api-version=7.2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://heathskvtest2.vault.azure.net/keys/244092181/7802acbb444e4c6e9d7c56d788fb91df?api-version=7.2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://heathskvtest2.vault.azure.net/keys/244092181/7802acbb444e4c6e9d7c56d788fb91df",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-521",
          "x": "ANvteirpn2yQ8-CEENjWqUkGgdO89744knTzsPJS7YkUupu-xciQf4dYuIchggTqz-0Tnmhh6M576JlmzChAv-ri",
          "y": "AHywYcxgQ85_Pn_wMmNji2GkocOBr0pQU6aNdDT18JfvMQyDev-MfnTfIkYXyTKUJ34mgXKDvW0ChAbIr4xZ4qbU"
        },
        "attributes": {
          "enabled": true,
          "nbf": 1617848156,
          "exp": 1649384756,
          "created": 1617848757,
          "updated": 1617848757,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "recoverableDays": 90
        },
        "managed": true
      }
    },
    {
      "RequestUri": "https://heathskvtest2.vault.azure.net/keys/244092181/7802acbb444e4c6e9d7c56d788fb91df/sign?api-version=7.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES512",
        "value": "9v6f80UdrrxmJ6AgJzgpezbbFOKq67ergzOPMozzzOv8MMzX3IIfvxdeOzlIz1QLq_mZiV8madmqKC5S0Fkm8Q"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://heathskvtest2.vault.azure.net/keys/244092181/7802acbb444e4c6e9d7c56d788fb91df",
        "value": "AGypZ4giVJTYUpX3eqaUNsyTsNB19-T2icz-GsfG6WfvREZuRaBVWvhbaUzNG-1RWI3qs16cSPiaLzBngowRWNSrAJoRDORSMVOYO2tsPvWQQSnL2Id_N-OAjJeqOryip3y8ZBKwb9qz2pdA9tV4Dv6kQJDtxF22VWwMt86CaPExjdi_"
      }
    },
    {
      "RequestUri": "https://heathskvtest2.vault.azure.net/certificates/244092181/7802acbb444e4c6e9d7c56d788fb91df?api-version=7.2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "https://heathskvtest2.vault.az[...]
    {
      "RequestUri": "https://heathskvtest2.vault.azure.net/secrets/244092181/7802acbb444e4c6e9d7c56d788fb91df?api-version=7.2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": "MIIE\u002BgIBAzCCBLYGCSqGSIb3DQE[...]
