{
  "Entries": [
    {
      "RequestUri": "https://dotnetkeyvaulttest.vault.azure.net/certificates/1878756777/create?api-version=7.1-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://dotnetkeyvaulttest.vault.azure.net/certificates/1878756777/create?api-version=7.1-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "policy": {
          "key_props": {
            "kty": "RSA",
            "reuse_key": false,
            "exportable": true
          },
          "secret_props": {
            "contentType": "application/x-pkcs12"
          },
          "x509_props": {
            "subject": "CN=default",
            "key_usage": [
              "crlSign",
              "dataEncipherment",
              "digitalSignature",
              "keyEncipherment",
              "keyAgreement",
              "keyCertSign"
            ]
          },
          "issuer": {
            "name": "Self",
            "cert_transparency": false
          }
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://dotnetkeyvaulttest.vault.azure.net/certificates/1878756777/pending?api-version=7.1-preview\u0026request_id=a5422a85d6974a72b05b835624eb51b1",
        "Retry-After": "10"
      },
      "ResponseBody": {
        "id": "https://dotnetkeyvaulttest.vault.azure.net/certificates/1878756777/pending",
        "issuer": {
          "name": "Self"
        },
        "csr": "MIICojCCAYoCAQAwEjEQMA4GA1UEAxMHZGVmYXVsdDCCASIwDQYJKoZIhvcNAQEBBQADggEPADCCAQoCggEBANx4yw2Kcjm7p\u002BQsiSlvx8z5Ipt1pg5QC8V5CNB0Syy8oFNlDGBV1\u002BsNlxJpisPrflZSZ3kpXNeqSXe0DVpjX\u002Bk6EwUpVyn9CvxFjuYixi/k1SSNtONP/2CyZYC7AKwDXDqnNaT/Wohw0EgUw9J9FCPGNunXSORfHi9/pheOTz6a5\u002BQ17GSmV2BcO6spbAbvaZJOO1N13uZg2CbOAZ0w/hTfcaGwfgxun\u002BcCYDNrKp9tSXBHPS1uC7MVeVPo193imezmhGFrmwUisU0gxEfxPCgWBHkLJaeHmZG1g2pmG597WTPB1dQ\u002B7V0qlqJmgtpimZU\u002B6SaghB6nprJ6flML4xsCAwEAAaBLMEkGCSqGSIb3DQEJDjE8MDowDgYDVR0PAQH/BAQDAgG\u002BMB0GA1UdJQQWMBQGCCsGAQUFBwMBBggrBgEFBQcDAjAJBgNVHRMEAjAAMA0GCSqGSIb3DQEBCwUAA4IBAQAvxQIyT1BTSKZKBzwO3ZKxI0Wvhv57Jz7DtszgcndRLLt6icXe1hXenbgWQgZbC8\u002BVw8\u002BtqdDc6dBtaR1ccH6DNHTxEdGEzIh5s1zddYn5rzeJgghIvgtOnvwNBiOM8/jX6US1IiUFfCn4\u002B8\u002B24FOqaMdlH5Kozg6WJbCFOykEleVHypmnm/QR7g10j03qxKAPCN11q0\u002BikBmUXGizpN/30lynhOZdVUKqUxZmT7ufoMksaf\u002BQjZ1zf6F7EF5JxnRao27nWstZyCag0D41ClIz\u002B9vdILKXOuYFkBnxBvZJ1MguDkBBA6fRbVC\u002B9Q9XtkxR3DWEZAFVewlJ1GGiWMZL",
        "cancellation_requested": false,
        "status": "inProgress",
        "status_details": "Pending certificate created. Certificate request is in progress. This may take some time based on the issuer provider. Please check again later.",
        "request_id": "a5422a85d6974a72b05b835624eb51b1"
      }
    },
    {
      "RequestUri": "https://dotnetkeyvaulttest.vault.azure.net/certificates/1878756777/policy?api-version=7.1-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "https://dotnetkeyvaulttest.vault.azure.net/certificates/1878756777/policy",
        "key_props": {
          "exportable": true,
          "kty": "RSA",
          "key_size": 2048,
          "reuse_key": false
        },
        "secret_props": {
          "contentType": "application/x-pkcs12"
        },
        "x509_props": {
          "subject": "CN=default",
          "ekus": [
            "1.3.6.1.5.5.7.3.1",
            "1.3.6.1.5.5.7.3.2"
          ],
          "key_usage": [
            "cRLSign",
            "dataEncipherment",
            "digitalSignature",
            "keyAgreement",
            "keyCertSign",
            "keyEncipherment"
          ],
          "validity_months": 12,
          "basic_constraints": {
            "ca": false
          }
        },
        "lifetime_actions": [
          {
            "trigger": {
              "lifetime_percentage": 80
            },
            "action": {
              "action_type": "AutoRenew"
            }
          }
        ],
        "issuer": {
          "name": "Self",
          "cert_transparency": false
        },
        "attributes": {
          "enabled": true,
          "created": 1585039637,
          "updated": 1585039637
        }
      }
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://dotnetkeyvaulttest.vault.azure.net/",
    "RandomSeed": "1658696678"
  }
}