{
  "Entries": [
    {
      "RequestUri": "https://heathskv.vault.azure.net/certificates/issuers/917541536?api-version=7.1-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://heathskv.vault.azure.net/certificates/issuers/917541536?api-version=7.1-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "provider": "DigiCert",
        "credentials": {
          "account_id": "test",
          "pwd": "test"
        },
        "org_details": {
          "id": "test"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "https://heathskv.vault.azure.net/certificates/issuers/917541536",
        "provider": "DigiCert",
        "credentials": {
          "account_id": "test"
        },
        "org_details": {
          "id": "test",
          "zip": 0
        },
        "attributes": {
          "enabled": true,
          "created": 1581734560,
          "updated": 1581734560
        }
      }
    },
    {
      "RequestUri": "https://heathskv.vault.azure.net/certificates/1867464536/create?api-version=7.1-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "policy": {
          "key_props": {
            "kty": "RSA",
            "reuse_key": false,
            "exportable": true
          },
          "secret_props": {
            "contentType": "application/x-pkcs12"
          },
          "x509_props": {
            "subject": "CN=default",
            "key_usage": [
              "crlSign",
              "dataEncipherment",
              "digitalSignature",
              "keyEncipherment",
              "keyAgreement",
              "keyCertSign"
            ]
          },
          "issuer": {
            "name": "917541536",
            "cert_transparency": false
          }
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://heathskv.vault.azure.net/certificates/1867464536/pending?api-version=7.1-preview\u0026request_id=08db78ee4c8a47baa9781505928af3bc",
        "Retry-After": "10"
      },
      "ResponseBody": {
        "id": "https://heathskv.vault.azure.net/certificates/1867464536/pending",
        "issuer": {
          "name": "917541536"
        },
        "csr": "MIICojCCAYoCAQAwEjEQMA4GA1UEAxMHZGVmYXVsdDCCASIwDQYJKoZIhvcNAQEBBQADggEPADCCAQoCggEBANtSP04Ja4a/W/KuH4KCK5XiuyRgp7xfigzmTKYmdmyif/iE/6Rlr3qi7GgYbBqHEal/jdIBzCRlo3TfzXXPfo5K34lUVPedd/VUAg41RXj0aeAWwt3YIHXUEjK8UG5MCHDvYKFpXHZpW8obyTMa688iAqY8LrJvYBqolVYVWdhp7W6\u002Bj1SxTiso28rrrmUaGka3HMwDDZmLrm5Z4UgnCgpbgmqlDKAxWXCga9ON9fRyGzJceuXszCzGUfsF\u002BI0n\u002Bq1j/uDdRkEoaGOTJycyVEvyjY2VCjWR3pZZ\u002BcC5uJwJJb2N/7ntZ4Rh45ODZP4CeVGpwn5r35rAGWinVWouKi0CAwEAAaBLMEkGCSqGSIb3DQEJDjE8MDowDgYDVR0PAQH/BAQDAgG\u002BMB0GA1UdJQQWMBQGCCsGAQUFBwMBBggrBgEFBQcDAjAJBgNVHRMEAjAAMA0GCSqGSIb3DQEBCwUAA4IBAQBgh4GDFRAoMOm0kKX9KSvyghXzJ\u002BWH\u002B2kKIbRHZ8BdWD61yLsUUWI9QG4oYCZmXnKfqjV/gxrbx7zFpmmLOuBYiMDa6O6IBBR7wDMpjhB5Se2hc9Ysia/YXTl\u002BG9lqSmDqBK\u002BPAwLzsHv7MztRpT06eftfB/nD6tHolz2JsUWxH2LxiokyuI/yngxQRR\u002B7UYXrP3IYnCSFQDvdX9UQsQtLDWBzbGuAKgsE4DvP03DPUcESnECRjVXpWeo7paf/Ttm58FxuN/YW501STdgcqaheWUxkvgSz2ulLhPz4z6kQL4pgBqdJdLyUgsSO/StuJxdfQrPkgXzspOWPGpwPsjUm",
        "cancellation_requested": false,
        "status": "inProgress",
        "status_details": "Pending certificate created. Certificate request is in progress. This may take some time based on the issuer provider. Please check again later.",
        "request_id": "08db78ee4c8a47baa9781505928af3bc"
      }
    },
    {
      "RequestUri": "https://heathskv.vault.azure.net/certificates/1867464536/pending?api-version=7.1-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10"
      },
      "ResponseBody": {
        "id": "https://heathskv.vault[...]
[...]
    {
      "RequestUri": "https://heathskv.vault.azure.net/certificates/issuers/917541536?api-version=7.1-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "https://heathskv.vault.azure.net/certificates/issuers/917541536",
        "provider": "DigiCert",
        "credentials": {
          "account_id": "test"
        },
        "org_details": {
          "id": "test",
          "zip": 0
        },
        "attributes": {
          "enabled": true,
          "created": 1581734560,
          "updated": 1581734560
        }
      }
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://heathskv.vault.azure.net",
    "RandomSeed": "176218365"
  }
}