{
  "Entries": [
    {
      "RequestUri": "https://heathskv.vault.azure.net/certificates/issuers/724386429?api-version=7.1-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://heathskv.vault.azure.net/certificates/issuers/724386429?api-version=7.1-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "provider": "ssladmin",
        "org_details": {
          "admin_details": [
            {
              "first_name": "fName",
              "last_name": "lName",
              "email": "email@domain.tld",
              "phone": "1234"
            }
          ]
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "https://heathskv.vault.azure.net/certificates/issuers/724386429",
        "provider": "ssladmin",
        "org_details": {
          "zip": 0,
          "admin_details": [
            {
              "first_name": "fName",
              "last_name": "lName",
              "email": "email@domain.tld",
              "phone": "1234"
            }
          ]
        },
        "attributes": {
          "enabled": true,
          "created": 1594404751,
          "updated": 1594404751
        }
      }
    },
    {
      "RequestUri": "https://heathskv.vault.azure.net/certificates/issuers/724386429?api-version=7.1-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "https://heathskv.vault.azure.net/certificates/issuers/724386429",
        "provider": "ssladmin",
        "org_details": {
          "zip": 0,
          "admin_details": [
            {
              "first_name": "fName",
              "last_name": "lName",
              "email": "email@domain.tld",
              "phone": "1234"
            }
          ]
        },
        "attributes": {
          "enabled": true,
          "created": 1594404751,
          "updated": 1594404751
        }
      }
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://heathskv.vault.azure.net",
    "RandomSeed": "1602590439"
  }
}