{
  "Entries": [
    {
      "RequestUri": "https://heathskvtest.vault.azure.net/certificates/issuers/917541536?api-version=7.3-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://heathskvtest.vault.azure.net/certificates/issuers/917541536?api-version=7.3-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "provider": "DigiCert",
        "credentials": {
          "account_id": "test",
          "pwd": "test"
        },
        "org_details": {
          "id": "test"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "https://heathskvtest.vault.azure.net/certificates/issuers/917541536",
        "provider": "DigiCert",
        "credentials": {
          "account_id": "test"
        },
        "org_details": {
          "id": "test",
          "zip": 0
        },
        "attributes": {
          "enabled": true,
          "created": 1626235967,
          "updated": 1626235967
        }
      }
    },
    {
      "RequestUri": "https://heathskvtest.vault.azure.net/certificates/1867464536/create?api-version=7.3-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "policy": {
          "key_props": {
            "kty": "RSA",
            "reuse_key": false,
            "exportable": true
          },
          "secret_props": {
            "contentType": "application/x-pkcs12"
          },
          "x509_props": {
            "subject": "CN=default",
            "key_usage": [
              "crlSign",
              "dataEncipherment",
              "digitalSignature",
              "keyEncipherment",
              "keyAgreement",
              "keyCertSign"
            ]
          },
          "issuer": {
            "name": "917541536",
            "cert_transparency": false
          }
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://heathskvtest.vault.azure.net/certificates/1867464536/pending?api-version=7.3-preview\u0026request_id=6e23f9d1abc84970baec44c9f17e7c6d",
        "Retry-After": "10"
      },
      "ResponseBody": {
        "id": "https://heathskvtest.vault.azure.net/certificates/1867464536/pending",
        "issuer": {
          "name": "917541536"
        },
        "csr": "MIICojCCAYoCAQAwEjEQMA4GA1UEAxMHZGVmYXVsdDCCASIwDQYJKoZIhvcNAQEBBQADggEPADCCAQoCggEBALMFlayW3ZQVhfAKVWjLKvmbSAn56ACk/1sIPTgC5CNOH3p8pd8YNP3iJ2KMPxXQTe4jCkKWcngln9YtmdRUnyVLTVvnIBAYr4r9WK6NBUc3qysrqQciPhv7xVJpoSRRZLrzwwhd8JBzwU18X9X0iqLam3GwSo\u002BzmBqNE0RFIRihMuHqBJyLkcCG7054Ga8U90BipAUIzCLwDdrW7JrmUq\u002BF0kOJld386Id4DZewQmjfOZ5A8a6AIzC3\u002BocZXc0MFqi10z9QK8/GS54Yt3fRD0ywgfeaJ4n1DJJS1viAnLPKyvV4huMCPQ78kz\u002BEgLjcI8twriqX20FsOovWVY5WG00CAwEAAaBLMEkGCSqGSIb3DQEJDjE8MDowDgYDVR0PAQH/BAQDAgG\u002BMB0GA1UdJQQWMBQGCCsGAQUFBwMBBggrBgEFBQcDAjAJBgNVHRMEAjAAMA0GCSqGSIb3DQEBCwUAA4IBAQBNyjV8Bpz\u002B567TuMELt0dAmgNWi5IboJ85FK0ubRX7qdX1Mlk90hxqlWi6MMvbHhjrxhh8KkV5SJoyctmJ/7GBxKmFmNJl7/lqsOKkqyfb4BrlyetZH2oK9KYMVmvGzzAzdgEVKDI2XuC6zib\u002BnU8rvL5NAVjoR2UOktPdXVevyccZj1bV9R0\u002BI7I63RyMQ\u002BZ\u002BpB3ySZEvPihw3/XndvFLWHo7pNUaZVGqDhg52Wz6JxGUUS/nZQpLTjnZzT6b8Wve0lvUOp0RiceQPHfir/aHvMGxm8XkYzp\u002Br4Q45pc9S\u002BHkfjJEH3RC11P0PZu5lFziI5tSFzPa7jB1SQRB3tk9",
        "cancellation_requested": false,
        "status": "inProgress",
        "status_details": "Pending certificate created. Certificate request is in progress. This may take some time based on the issuer provider. Please check again later.",
        "request_id": "6e23f9d1abc84970baec44c9f17e7c6d"
      }
    },
    {
      "RequestUri": "https://heathskvtest.vault.azure.net/certificates/1867464536/pending?api-version=7.3-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10"
      },
      "ResponseBody": {
        "id": "https://heathskvtest.vault.azure.net/certificates/1867464536/p[...]
[...]
    {
      "RequestUri": "https://heathskvtest.vault.azure.net/certificates/issuers/917541536?api-version=7.3-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "https://heathskvtest.vault.azure.net/certificates/issuers/917541536",
        "provider": "DigiCert",
        "credentials": {
          "account_id": "test"
        },
        "org_details": {
          "id": "test",
          "zip": 0
        },
        "attributes": {
          "enabled": true,
          "created": 1626235967,
          "updated": 1626235967
        }
      }
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://heathskvtest.vault.azure.net/",
    "RandomSeed": "176218365"
  }
}