{
  "Entries": [
    {
      "RequestUri": "https://heathskvtest.vault.azure.net/certificates/1552156324/create?api-version=7.3-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://heathskvtest.vault.azure.net/certificates/1552156324/create?api-version=7.3-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "policy": {
          "key_props": {
            "kty": "RSA",
            "reuse_key": false,
            "exportable": true
          },
          "secret_props": {
            "contentType": "application/x-pkcs12"
          },
          "x509_props": {
            "subject": "CN=default",
            "key_usage": [
              "crlSign",
              "dataEncipherment",
              "digitalSignature",
              "keyEncipherment",
              "keyAgreement",
              "keyCertSign"
            ]
          },
          "issuer": {
            "name": "Unknown",
            "cert_transparency": false
          }
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://heathskvtest.vault.azure.net/certificates/1552156324/pending?api-version=7.3-preview\u0026request_id=37dea9b65e414f1691b584bcec4875c7",
        "Retry-After": "10"
      },
      "ResponseBody": {
        "id": "https://heathskvtest.vault.azure.net/certificates/1552156324/pending",
        "issuer": {
          "name": "Unknown"
        },
        "csr": "MIICojCCAYoCAQAwEjEQMA4GA1UEAxMHZGVmYXVsdDCCASIwDQYJKoZIhvcNAQEBBQADggEPADCCAQoCggEBAMtf5115cVLT6IAUveJYbKRM6hpHzxInYBxXMdqqQG/O1rHMwz99LA\u002BSSzTUxSdmS7RbmqfQvrSzDSPWGGgk8oZd2fKDwn3kOf4bot8pv32nswQ/4pV8Ikig75cdKC5pOhVLmURN0ZgJQp02oCmXyCbabdXyeeW6UzoalggGZwbP\u002BF7pE0zze9LYQKr2o7oZaJIPdoJ3b/kjTgZqHiwOlobnY2PyAq\u002BAGeVhqeJACGzpx8Bbn1UGviZOQ99Csp3YYriw4FXL5U33sEvrjLttnlE\u002BxEzK0ilQ4/ySt\u002BxNKj20kVTcAi2U63HWo0om5i8jdbDgNZuKyY89dbmTSwGRPH0CAwEAAaBLMEkGCSqGSIb3DQEJDjE8MDowDgYDVR0PAQH/BAQDAgG\u002BMB0GA1UdJQQWMBQGCCsGAQUFBwMBBggrBgEFBQcDAjAJBgNVHRMEAjAAMA0GCSqGSIb3DQEBCwUAA4IBAQBabNKdNI\u002BZQuSM7EeyXRt/B5JaygE313rBJglvukDFX4s3fNdQpBZnAP4xd2KSgOfwlsB5OpMNm\u002BMp1/0N78sSHgiJNCDR5FfF2W0mKbrKNOCJ7HM72rGkGBZ7e9\u002BxqVdKonVTbymsOiru8l\u002B8XOb4FxFAU0XDwHs9jN4\u002BsnZt2rcH9Yvs5\u002BJq6wED8ui59iNIY1Dmq\u002B7PR8QQE36Q8\u002BtQM2kjmJw1wq6UV/ZNsjuMpwcwJfztsDv6Xl868Ztrfkohi\u002B2HJUWJg/iuTveguiUV9aize3s2x4UL1BrFmWh6K0Fqb83Dno7Qe2TH\u002BBmuGpU8e4dmfM40H9cJz\u002BLJNwve",
        "cancellation_requested": false,
        "status": "inProgress",
        "status_details": "Pending certificate created. Please Perform Merge to complete the request.",
        "request_id": "37dea9b65e414f1691b584bcec4875c7"
      }
    },
    {
      "RequestUri": "https://heathskvtest.vault.azure.net/certificates/1552156324/pending?api-version=7.3-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "https://heathskvtest.vault.azure.net/certificates/1552156324/pending",
        "issuer":[...]
    {
      "RequestUri": "https://heathskvtest.vault.azure.net/certificates/1552156324/pending?api-version=7.3-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "PendingCertificateNotFound",
          "message": "Pending certificate not found: 1552156324"
        }
      }
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://heathskvtest.vault.azure.net/",
    "RandomSeed": "1014678827"
  }
}