{
  "Entries": [
    {
      "RequestUri": "https://heathskv.vault.azure.net/certificates/issuers/2086730256?api-version=7.0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://heathskv.vault.azure.net/certificates/issuers/2086730256?api-version=7.0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "provider": "DigiCert",
        "credentials": {
          "account_id": "test",
          "pwd": "test"
        },
        "org_details": {
          "id": "test"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "https://heathskv.vault.azure.net/certificates/issuers/2086730256",
        "provider": "DigiCert",
        "credentials": {
          "account_id": "test"
        },
        "org_details": {
          "id": "test",
          "zip": 0
        },
        "attributes": {
          "enabled": true,
          "created": 1573857023,
          "updated": 1573857023
        }
      }
    },
    {
      "RequestUri": "https://heathskv.vault.azure.net/certificates/250114729/create?api-version=7.0",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "policy": {
          "key_props": {
            "kty": "RSA",
            "reuse_key": false,
            "exportable": true
          },
          "secret_props": {
            "contentType": "application/x-pkcs12"
          },
          "x509_props": {
            "subject": "CN=default",
            "key_usage": [
              "crlSign",
              "dataEncipherment",
              "digitalSignature",
              "keyEncipherment",
              "keyAgreement",
              "keyCertSign"
            ]
          },
          "issuer": {
            "name": "2086730256",
            "cert_transparency": false
          }
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://heathskv.vault.azure.net/certificates/250114729/pending?api-version=7.0\u0026request_id=99cbf0a030cb4cbf8df9ccac6549a7e5",
        "Retry-After": "10"
      },
      "ResponseBody": {
        "id": "https://heathskv.vault.azure.net/certificates/250114729/pending",
        "issuer": {
          "name": "2086730256"
        },
        "csr": "MIICojCCAYoCAQAwEjEQMA4GA1UEAxMHZGVmYXVsdDCCASIwDQYJKoZIhvcNAQEBBQADggEPADCCAQoCggEBAM1zmjgxG/HI4Cu\u002BqcNlkqSWyFq0OJuxAkzWJU1MwKSYRJMZC9Gq9XJvNKVyD7QEyEGEjOjAhcpYkTu40Rv4j12JgNJEgd1mEC\u002BMj/DtDcQbv3V81qLM1vKki1fY7uP6m5Ze1FGcC9WErrtX3t9/lPwq6sjoIyAwzN75KslK3AeCSw4\u002BlxJtYZ6tZp2JB/JzH2w0jMQmVsxSqxMGu6VdViraX\u002BwDenQJBZUr5xLdVX8qlWgzscSV\u002Bff/\u002BD5tPSYCdSN3PLhU9QV4Gl1qIb\u002BRJSLII/1fhYjTmpd45r1hwaYM/Rbz\u002Bf7wOdsecUVRg3Mnr32fuZoBee/dDb\u002BTBKgvDJUCAwEAAaBLMEkGCSqGSIb3DQEJDjE8MDowDgYDVR0PAQH/BAQDAgG\u002BMB0GA1UdJQQWMBQGCCsGAQUFBwMBBggrBgEFBQcDAjAJBgNVHRMEAjAAMA0GCSqGSIb3DQEBCwUAA4IBAQCwC\u002BaCQ41XZqtDywpN9/skzYobrTsIVjx6G7erO7Kp8YrlcxJy9V56nnt60AoFeHPXm/vkaG/TkX3GAjtmkP9q3hCzyPbIu9grOi8O6ov1y6NbNWLu1H/mJIrSVQXMWembkh9nytJNKjxRe6sNo6zYDXyWJEymqobt65KK/C6KgKTzkCLedYako150AhdHfW/d3FOo5VirETCE5a1fOzNNdbBJGZDL0bX4KSpe7f1oOJp1tWke7YSLZf0vkoUkIrRf\u002BZy3eg6/aeBRzmXcElZtN/uLwYNDt9SdCEXKHjaxlE8dUGri0aJIbfPWHUC01oTVK5HTsRhp2je7Ly/JXwEj",
        "cancellation_requested": false,
        "status": "inProgress",
        "status_details": "Pending certificate created. Certificate request is in progress. This may take some time based on the issuer provider. Please check again later.",
        "request_id": "99cbf0a030cb4cbf8df9ccac6549a7e5"
      }
    },
    {
      "RequestUri": "https://heathskv.vault.azure.net/certificates/250114729/pending?api-version=7.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10"
      },
      "ResponseBody": {
        "id": "https://heathskv.vault.azure.ne[...]
[...]
    {
      "RequestUri": "https://heathskv.vault.azure.net/certificates/issuers/2086730256?api-version=7.0",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "https://heathskv.vault.azure.net/certificates/issuers/2086730256",
        "provider": "DigiCert",
        "credentials": {
          "account_id": "test"
        },
        "org_details": {
          "id": "test",
          "zip": 0
        },
        "attributes": {
          "enabled": true,
          "created": 1573857023,
          "updated": 1573857023
        }
      }
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://heathskv.vault.azure.net",
    "RandomSeed": "1786713105"
  }
}