{
  "Entries": [
    {
      "RequestUri": "https://dotnetkeyvaulttest.vault.azure.net/certificates/issuers/1572635698?api-version=7.1-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://dotnetkeyvaulttest.vault.azure.net/certificates/issuers/1572635698?api-version=7.1-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "provider": "ssladmin"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "https://dotnetkeyvaulttest.vault.azure.net/certificates/issuers/1572635698",
        "provider": "ssladmin",
        "attributes": {
          "enabled": true,
          "created": 1585626175,
          "updated": 1585626175
        }
      }
    },
    {
      "RequestUri": "https://dotnetkeyvaulttest.vault.azure.net/certificates/issuers/1572635698?api-version=7.1-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "https://dotnetkeyvaulttest.vault.azure.net/certificates/issuers/1572635698",
        "provider": "ssladmin",
        "attributes": {
          "enabled": true,
          "created": 1585626175,
          "updated": 1585626175
        }
      }
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://dotnetkeyvaulttest.vault.azure.net/",
    "RandomSeed": "485315631"
  }
}