{
  "Entries": [
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/certificates/contacts/?api-version=7.4-preview.1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/certificates/contacts/?api-version=7.4-preview.1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "contacts": [
          {
            "name": "Johnathan Doeman",
            "email": "admin@contoso.com",
            "phone": "2222222222"
          },
          {
            "name": "John Doe",
            "email": "admin@contoso2.com",
            "phone": "1111111111"
          }
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "https://heathskeyvault.vault.azure.net/certificates/contacts",
        "contacts": [
          {
            "email": "admin@contoso.com",
            "name": "Johnathan Doeman",
            "phone": "2222222222"
          },
          {
            "email": "admin@contoso2.com",
            "name": "John Doe",
            "phone": "1111111111"
          }
        ]
      }
    },
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/certificates/contacts/?api-version=7.4-preview.1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "https://heathskeyvault.vault.azure.net/certificates/contacts",
        "contacts": [
          {
            "email": "admin@contoso.com",
            "name": "Johnathan Doeman",
            "phone": "2222222222"
          },
          {
            "email": "admin@contoso2.com",
            "name": "John Doe",
            "phone": "1111111111"
          }
        ]
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com/",
    "AZURE_KEYVAULT_URL": "https://heathskeyvault.vault.azure.net/",
    "RandomSeed": "353109023"
  }
}
