{
  "Entries": [
    {
      "RequestUri": "https://heathskv.vault.azure.net/certificates/1576316779/create?api-version=7.1-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://heathskv.vault.azure.net/certificates/1576316779/create?api-version=7.1-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "policy": {
          "key_props": {
            "kty": "RSA",
            "reuse_key": false,
            "exportable": true
          },
          "secret_props": {
            "contentType": "application/x-pkcs12"
          },
          "x509_props": {
            "subject": "CN=default",
            "key_usage": [
              "crlSign",
              "dataEncipherment",
              "digitalSignature",
              "keyEncipherment",
              "keyAgreement",
              "keyCertSign"
            ]
          },
          "issuer": {
            "name": "Unknown",
            "cert_transparency": false
          }
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://heathskv.vault.azure.net/certificates/1576316779/pending?api-version=7.1-preview\u0026request_id=4e792dcf12ef4b67a53fa95d8489114a",
        "Retry-After": "10"
      },
      "ResponseBody": {
        "id": "https://heathskv.vault.azure.net/certificates/1576316779/pending",
        "issuer": {
          "name": "Unknown"
        },
        "csr": "MIICojCCAYoCAQAwEjEQMA4GA1UEAxMHZGVmYXVsdDCCASIwDQYJKoZIhvcNAQEBBQADggEPADCCAQoCggEBAKtrZr0tJoOnYwntfxEbR8vzMGGEHuRPfz2CddL3IrBlYhmyX5DhwxEOo8YlH4tF4BHzrdzMVhB5UM3QKZo\u002BujlItgPIrSsE6E/ztctOfe6JrKdBQ5tRUQ4tvcU1ZgH9/K4F3npbMY90DElnSgJSAGVUiKEjtGcmyYlpD3UhNyYexr2jjKKTJd7boKMZLKQmM3Kh0q6B2QUhlRetCeFG7TMRB3oxieMMeoDFWFcQaYzdxfNaHfm8EHFs2eKlc6elSeyELj/xNX4OeDSRNsqGL381F/9AHiRj5wPN1/IHwM\u002B9Lw69TeOj7n5V6ngJBIN3AVXSQylNu/Z8\u002BQH5b504MZ8CAwEAAaBLMEkGCSqGSIb3DQEJDjE8MDowDgYDVR0PAQH/BAQDAgG\u002BMB0GA1UdJQQWMBQGCCsGAQUFBwMBBggrBgEFBQcDAjAJBgNVHRMEAjAAMA0GCSqGSIb3DQEBCwUAA4IBAQAyzi0XI7uS/HD0fNdsczDYfDLSsR\u002Bf4Spe5htzv5XzLAJliIz41dXhV4WuK6vLz2NlBg\u002Bn4gWbg4SlE2gPNmRs5Vh8QxZBBvGMrTiDQXeEXhr8SANA/\u002B/IcoviyskVLrKK5lXRrOWl64hZRk\u002BAbkx4xSdKdKkmxWk5y07clkSwXnZu8Hoi8S/DCAKnuR0rDD9dEerPcue328BPpKnKacIN2sMskku2h1\u002B\u002B/ZLqiGb\u002BMcNQpu1phxQcUfqHFthyfOV0qUhy1UtmlI4q9mUGpfD41CKv3aXkXFo9l4Tt1A4pAjRPyhI8uxmV41jsNMK1j/9wDvOCqmWNlx4deTLjtLLa",
        "cancellation_requested": false,
        "status": "inProgress",
        "status_details": "Pending certificate created. Please Perform Merge to complete the request.",
        "request_id": "4e792dcf12ef4b67a53fa95d8489114a"
      }
    },
    {
      "RequestUri": "https://heathskv.vault.azure.net/certificates/1576316779?api-version=7.1-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "https://heathskv.vault.azure.net/certificates/1576316779/bf60b819c3a7426eb129b5fd76b03fa0",
        "attributes": {
          "enabled": false,
          "nbf": 1581733692,
          "exp": 1613356692,
          "created": 1581734293,
          "updated": 1581734293,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "recoverableDays": 90
        },
        "policy": {
          "id": "https://heathskv.vault.azure.net/certificates/1576316779/policy",
          "key_props": {
            "exportable": true,
            "kty": "RSA",
            "key_size": 2048,
            "reuse_key": false
          },
          "secret_props": {
            "contentType": "application/x-pkcs12"
          },
          "x509_props": {
            "subject": "CN=default",
            "ekus": [
              "1.3.6.1.5.5.7.3.1",
              "1.3.6.1.5.5.7.3.2"
            ],
            "key_usage": [
              "cRLSign",
              "dataEncipherment",
              "digitalSignature",
              "keyAgreement",
              "keyCertSign",
              "keyEncipherment"
            ],
            "validity_months": 12,
            "basic_constraints": {
              "ca": false
            }
          },
          "lifetime_actions": [
            {
              "trigger": {
                "lifetime_percentage": 80
              },
              "action": {
                "action_type": "EmailContacts"
              }
            }
          ],
          "issuer": {
            "name": "Unknown",
            "cert_transparency": false
          },
          "attributes": {
            "enabled": true,
            "created": 1581734293,
            "updated": 1581734293
          }
        },
        "pending": {
          "id": "https://heathskv.vault.azure.net/certificates/1576316779/pending"
        }
      }
    },
    {
      "RequestUri": "https://heathskv.vault.azure.net/certificates/1576316779/bf60b819c3a7426eb129b5fd76b03fa0?api-version=7.1-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "https://heathskv.vault.azure.net/certificates/1576316779/bf60b819c3a7426eb129b5fd76b03fa0",
        "attributes": {
          "enabled": false,
          "nbf": 1581733692,
          "exp": 1613356692,
          "created": 1581734293,
          "updated": 1581734293,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "recoverableDays": 90
        }
      }
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://heathskv.vault.azure.net",
    "RandomSeed": "657101853"
  }
}