{
  "Entries": [
    {
      "RequestUri": "/subscriptions/a2118292-1596-401f-aa17-332ff0df38dc/resourceGroups/sample-rg/providers/Microsoft.Sql/servers/sample-server/databases/sample-db-ltr-test?api-version=2020-11-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"sku\": {\r\n    \"name\": \"GP_Gen5\",\r\n    \"tier\": \"GeneralPurpose\",\r\n    \"family\": \"Gen5\",\r\n    \"capacity\": 2\r\n  },\r\n  \"kind\": \"v12.0,user,vcore\",\r\n  \"properties\": {\r\n    \"collation\": \"SQL_Latin1_General_CP1_CI_AS\",\r\n    \"maxSizeBytes\": 34359738368,\r\n    \"status\": \"Online\",\r\n    \"databaseId\": \"e5c20f43-494c-4925-89d1-58e0f4569fb3\",\r\n    \"creationDate\": \"2021-01-31T21:59:43.58Z\",\r\n    \"currentServiceObjectiveName\": \"GP_Gen5_2\",\r\n    \"requestedServiceObjectiveName\": \"GP_Gen5_2\",\r\n    \"defaultSecondaryLocation\": \"northeurope\",\r\n    \"catalogCollation\": \"SQL_Latin1_General_CP1_CI_AS\",\r\n    \"zoneRedundant\": false,\r\n    \"licenseType\": \"LicenseIncluded\",\r\n    \"maxLogSizeBytes\": 68719476736,\r\n    \"earliestRestoreDate\": \"2021-02-18T00:00:00Z\",\r\n    \"readScale\": \"Disabled\",\r\n    \"currentSku\": {\r\n      \"name\": \"GP_Gen5\",\r\n      \"tier\": \"GeneralPurpose\",\r\n      \"family\": \"Gen5\",\r\n      \"capacity\": 2\r\n    },\r\n    \"currentBackupStorageRedundancy\": \"Local\",\r\n    \"requestedBackupStorageRedundancy\": \"Local\",\r\n    \"maintenanceConfigurationId\": \"/subscriptions/a2118292-1596-401f-aa17-332ff0df38dc/providers/Microsoft.Maintenance/publicMaintenanceConfigurations/SQL_Default\"\r\n  },\r\n  \"location\": \"southeastasia\",\r\n  \"id\": \"/subscriptions/a2118292-1596-401f-aa17-332ff0df38dc/resourceGroups/sample-rg/providers/Microsoft.Sql/servers/sample-server/databases/sample-db-ltr-test\",\r\n  \"name\": \"sample-db-ltr-test\",\r\n  \"type\": \"Microsoft.Sql/servers/databases\"\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/a2118292-1596-401f-aa17-332ff0df38dc/resourceGroups/sample-rg/providers/Microsoft.Sql/locations/southeastasia/longTermRetentionServers/sample-server/longTermRetentionDatabases/sample-db-ltr-test/longTermRetentionBackups?api-version=2020-11-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14998"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"properties\": {\r\n        \"serverName\": \"sample-server\",\r\n        \"serverCreateTime\": \"2020-04-22T21:58:33.283Z\",\r\n        \"databaseName\": \"sample-db-ltr-test\",\r\n        \"backupTime\": \"2021-01-31T22:06:15Z\",\r\n        \"backupExpirationTime\": \"2021-03-02T22:06:15Z\",\r\n        \"backupStorageRedundancy\": \"Geo\"\r\n      },\r\n      \"id\": \"/subscriptions/a2118292-1596-401f-aa17-332ff0df38dc/resourceGroups/sample-rg/providers/Microsoft.Sql/locations/southeastasia/longTermRetentionServers/sample-server/longTermRetentionDatabases/sample-db-ltr-test/longTermRetentionBackups/e5c20f43-494c-4925-89d1-58e0f4569fb3;132566043750000000\",\r\n      \"name\": \"e5c20f43-494c-4925-89d1-58e0f4569fb3;132566043750000000\",\r\n      \"type\": \"Microsoft.Sql/locations/longTermRetentionServers/longTermRetentio[...]
    {
      "RequestUri": "/subscriptions/a2118292-1596-401f-aa17-332ff0df38dc/resourceGroups/sample-rg/providers/Microsoft.Sql/locations/southeastasia/longTermRetentionServers/sample-server/longTermRetentionDatabases/sample-db-ltr-test/longTermRetentionBackups/e5c20f43-494c-4925-89d1-58e0f4569fb3%3B132566043750000000?api-version=2020-11-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remain[...]
    {
      "RequestUri": "/subscriptions/a2118292-1596-401f-aa17-332ff0df38dc/providers/Microsoft.Sql/locations/southeastasia/longTermRetentionServers/sample-server/longTermRetentionDatabases/sample-db-ltr-test/longTermRetentionBackups/e5c20f43-494c-4925-89d1-58e0f4569fb3%3B132566043750000000/copy?api-version=2020-11-01-preview",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"targetSubscriptionId\": \"a2118292-1596-401f-aa17-332ff0df38dc\",\r\n    \"targetResourceGroup\": \"sample-rg\",\r\n    \"targetServerResourceId\": \"/subscriptions/a2118292-1596-401f-aa17-332ff0df38dc/resourceGroups/sample-rg/providers/Microsoft.Sql/servers/sample-server-1\",\r\n    \"targetDatabaseName\": \"sample-db-ltr-test-1\"\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/a2118292-1596-401f-aa17-332ff0df38dc/providers/Microsoft.Sql/locations/southeastasia/longTermRetentionBackupOperationResults/a5988f91-c5d9-41aa-aebd-2e31eb49da60?api-version=2020-11-01-preview"
        ],
        "Retry-After": [
          "15"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/a2118292-1596-401f-aa17-332ff0df38dc/providers/Microsoft.Sql/locations/southeastasia/longTermRetentionBackupAzureAsyncOperation/a5988f91-c5d9-41aa-aebd-2e31eb49da60?api-version=2020-11-01-preview"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"operation\": \"CopyBackup\",\r\n  \"startTime\": \"2021-02-25T23:48:28.13Z\"\r\n}",
      "StatusCode": 202
    },
    {
      "RequestUri": "/subscriptions/a2118292-1596-401f-aa17-332ff0df38dc/providers/Microsoft.Sql/locations/southeastasia/longTermRetentionBackupAzureAsyncOperation/a5988f91-c5d9-41aa-aebd-2e31eb49da60?api-version=2020-11-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Retry-After": [
          "15"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14996"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"a5988f91-c5d9-41aa-aebd-2e31eb49da60\",\r\n  \"status\": \"InProgress\",\r\n  \"startTime\": \"2021-02-25T23:48:28.13Z\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/a2118292-1596-401f-aa17-332ff0df38dc/providers/Microsoft.Sql/locations/southeastasia/longTermRetentionBackupOperationResults/a5988f91-c5d9-41aa-aebd-2e31eb49da60?api-version=2020-11-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14994"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"requestId\": \"a5988f91-c5d9-41aa-aebd-2e31eb49da60\",\r\n    \"operationType\": \"CopyBackup\",\r\n    \"fromBackupResourceId\": \"/subscriptions/a2118292-1596-401f-aa17-332ff0df38dc/providers/Microsoft.Sql/locations/Southeast Asia/longTermRetentionServers/sample-server/longTermRetentionDatabases/sample-db-ltr-test/longTermRetentionBackups/e5c20f43-494c-4925-89d1-58e0f4569fb3;132566043750000000\",\r\n    \"toBackupResourceId\": \"/subscriptions/a2118292-1596-401f-aa17-332ff0df38dc/resourceGroups/sample-rg/providers/Microsoft.Sql/locations/Southeast Asia/longTermRetentionServers/sample-server-1/longTermRetentionDatabases/sample-db-ltr-test-1/longTermRetentionBackups/686b36ff-5f3f-49be-afe6-0087186392eb;132566043750000000\",\r\n    \"status\": \"Succeeded\",\r\n    \"message\": \"Complete\"\r\n  },\r\n  \"id\": \"/subscriptions/a2118292-1596-401f-aa17-332ff0df38dc/providers/Microsoft.Sql/locations/Southeast Asia/longTermRetentionBackupOperationResults/a5988f91-c5d9-41aa-aebd-2e31eb49da60\",\r\n  \"name\": \"a5988f91-c5d9-41aa-aebd-2e31eb49da60\",\r\n  \"type\": \"Microsoft.Sql/locations/longTermRetentionBackupOperationResults\"\r\n}",
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "a2118292-1596-401f-aa17-332ff0df38dc"
  }
}