{
  "Entries": [
    {
      "RequestUri": "https://mariari-canada-central.cognitiveservices.azure.com/formrecognizer/v2.1-preview.3/prebuilt/receipt/analyze?includeTextDetails=false\u0026pages=1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/pdf",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Operation-Location": "https://mariari-canada-central.cognitiveservices.azure.com/formrecognizer/v2.1-preview.3/prebuilt/receipt/analyzeResults/a880ec8b-0a45-4de2-bd3f-965093faee55"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://mariari-canada-central.cognitiveservices.azure.com/formrecognizer/v2.1-preview.3/prebuilt/receipt/analyzeResults/a880ec8b-0a45-4de2-bd3f-965093faee55",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "status": "notStarted",
        "createdDateTime": "2021-05-06T18:32:10Z",
        "lastUpdatedDateTime": "2021-05-06T18:32:10Z"
      }
    },
[...]
    {
      "RequestUri": "https://mariari-canada-central.cognitiveservices.azure.com/formrecognizer/v2.1-preview.3/prebuilt/receipt/analyzeResults/a880ec8b-0a45-4de2-bd3f-965093faee55",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "status": "succeeded",
        "createdDateTime": "2021-05-06T18:32:10Z",
        "lastUpdatedDateTime": "2021-05-06T18:32:14Z",
        "analyzeResult": {
          "version": "2.1.0",
          "readResults": [
            {
              "page": 1,
              "angle": 0.5729,
              "width": 8.5,
              "height": 11,
              "unit": "inch"
            }
          ],
          "documentResults": [
            {
              "docType": "prebuilt:receipt",
              "pageRange": [
                1,
                1
              ],
              "fields": {
                "Items": {
                  "type": "array",
                  "valueArray": [
                    {
                      "type": "object",
                      "valueObject": {
                        "Name": {
                          "type": "string",
                          "valueString": "Cappuccino",
                          "text": "Cappuccino",
                          "boundingBox": [
                            1.8926,
                            5.7492,
                            3.0104,
                            5.7936,
                            2.9993,
                            6.0705,
                            1.8926,
                            6.0373
                          ],
                          "page": 1,
                          "confidence": 0.735
                        },
                        "Quantity": {
                          "type": "number",
                          "valueNumber": 1,
                          "text": "1",
                          "boundingBox": [
                            1.6934,
                            5.7382,
                            1.8372,
                            5.7492,
                            1.8372,
                            6.0262,
                            1.6934,
                            6.0262
                          ],
                          "page": 1,
                          "confidence": 0.966
                        },
                        "TotalPrice": {
                          "type": "number",
                          "valueNumber": 2.2,
                          "text": "$2.20",
                          "boundingBox": [
                            4.3053,
                            5.7492,
                            4.7923,
                            5.716,
                            4.8034,
                            5.9597,
                            4.3164,
                            5.9929
                          ],
      [...]
