{
  "Entries": [
    {
      "RequestUri": "https://mariari-canada-central.cognitiveservices.azure.com/formrecognizer/v2.1/prebuilt/receipt/analyze?includeTextDetails=false",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "image/jpeg"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Operation-Location": "https://mariari-canada-central.cognitiveservices.azure.com/formrecognizer/v2.1/prebuilt/receipt/analyzeResults/44caced5-e6d6-4737-9dcc-bb80258ae0a8"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://mariari-canada-central.cognitiveservices.azure.com/formrecognizer/v2.1/prebuilt/receipt/analyzeResults/44caced5-e6d6-4737-9dcc-bb80258ae0a8",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "status": "running",
        "createdDateTime": "2021-05-24T20:42:36Z",
        "lastUpdatedDateTime": "2021-05-24T20:42:36Z"
      }
    },
[...]
    {
      "RequestUri": "https://mariari-canada-central.cognitiveservices.azure.com/formrecognizer/v2.1/prebuilt/receipt/analyzeResults/44caced5-e6d6-4737-9dcc-bb80258ae0a8",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "status": "succeeded",
        "createdDateTime": "2021-05-24T20:42:36Z",
        "lastUpdatedDateTime": "2021-05-24T20:42:39Z",
        "analyzeResult": {
          "version": "2.1.0",
          "readResults": [
            {
              "page": 1,
              "angle": 0,
              "width": 1688,
              "height": 3000,
              "unit": "pixel"
            }
          ],
          "documentResults": [
            {
              "docType": "prebuilt:receipt",
              "pageRange": [
                1,
                1
              ],
              "fields": {
                "Items": {
                  "type": "array",
                  "valueArray": [
                    {
                      "type": "object",
                      "valueObject": {
                        "Name": {
                          "type": "string",
                          "valueString": "Surface Pro 6",
                          "text": "Surface Pro 6",
                          "boundingBox": [
                            364,
                            1559,
                            675,
                            1561.7,
                            674.5,
                            1625.7,
                            363.4,
                            1623
                          ],
                          "page": 1,
                          "confidence": 0.907
                        },
                        "Quantity": {
                          "type": "number",
                          "valueNumber": 1,
                          "text": "1",
                          "boundingBox": [
                            327,
                            1558,
                            352,
                            1559,
                            351,
                            1623,
                            327,
                            1623
                          ],
                          "page": 1,
                          "confidence": 0.971
                        },
                        "TotalPrice": {
                          "type": "number",
                          "valueNumber": 999,
                          "text": "999.00",
                          "boundingBox": [
                            971,
                            1786,
                            1135,
                            1789,
                            1133,
                            1863,
                            969,
                            1860
                          ],
                      [...]
