{
  "Entries": [
    {
      "RequestUri": "/24fb23e3-6ba3-41f0-9b6e-e41131d5d61e/services/networking/media",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2016-03-01"
        ]
      },
      "ResponseBody": "<Error xmlns=\"http://schemas.microsoft.com/windowsazure\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n  <Code>ResourceNotFound</Code>\r\n  <Message>Network configuration does not exist.</Message>\r\n</Error>",
      "ResponseHeaders": {
        "Content-Type": [
          "application/xml; charset=utf-8"
        ],
        "x-ms-servedbyregion": [
          "ussouth3"
        ]
      },
      "StatusCode": 404
    },
[...]
    {
      "RequestUri": "/24fb23e3-6ba3-41f0-9b6e-e41131d5d61e/services/networking/media",
      "RequestMethod": "PUT",
      "RequestBody": "<NetworkConfiguration xmlns=\"http://schemas.microsoft.com/ServiceHosting/2011/07/NetworkConfiguration\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n  <VirtualNetworkConfiguration>\r\n    <Dns>\r\n      <DnsServers />\r\n    </Dns>\r\n    <VirtualNetworkSites>\r\n      <VirtualNetworkSite name=\"virtualNetworkSiteName\" Location=\"East US\">\r\n        <AddressSpace>\r\n          <AddressPrefix>192.168.100.0/24</AddressPrefix>\r\n        </AddressSpace>\r\n        <Subnets>\r\n          <Subnet name=\"FrontEndSubnet5\">\r\n            <AddressPrefix>192.168.100.0/28</AddressPrefix>\r\n          </Subnet>\r\n        </Subnets>\r\n        <DnsServersRef />\r\n      </VirtualNetworkSite>\r\n    </VirtualNetworkSites>\r\n  </VirtualNetworkConfiguration>\r\n</NetworkConfiguration>",
      "RequestHeaders": {
        "Content-Type": [
          "application/octet-stream"
        ],
        "x-ms-version": [
          "2016-03-01"
        ]
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "x-ms-servedbyregion": [
          "ussouth3"
        ]
      },
      "StatusCode": 202
    },
    {
      "RequestUri": "/24fb23e3-6ba3-41f0-9b6e-e41131d5d61e/operations/7f466e069ddda326b942303177cec680",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2016-03-01"
        ]
      },
      "ResponseBody": "<Operation xmlns=\"http://schemas.microsoft.com/windowsazure\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n  <ID>7f466e06-9ddd-a326-b942-303177cec680</ID>\r\n  <Status>InProgress</Status>\r\n</Operation>",
      "ResponseHeaders": {
        "Content-Type": [
          "application/xml; charset=utf-8"
        ],
        "x-ms-servedbyregion": [
          "ussouth3"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/24fb23e3-6ba3-41f0-9b6e-e41131d5d61e/operations/7f466e069ddda326b942303177cec680",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2016-03-01"
        ]
      },
      "ResponseBody": "<Operation xmlns=\"http://schemas.microsoft.com/windowsazure\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n  <ID>7f466e06-9ddd-a326-b942-303177cec680</ID>\r\n  <Status>Succeeded</Status>\r\n  <HttpStatusCode>200</HttpStatusCode>\r\n</Operation>",
      "ResponseHeaders": {
        "Content-Type": [
          "application/xml; charset=utf-8"
        ],
        "x-ms-servedbyregion": [
          "ussouth3"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/24fb23e3-6ba3-41f0-9b6e-e41131d5d61e/services/networking/virtualnetwork/virtualNetworkSiteName/migration?comp=prepare",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2016-03-01"
        ]
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "x-ms-servedbyregion": [
          "ussouth3"
        ]
      },
      "StatusCode": 202
    },
[...]
    {
      "RequestUri": "/24fb23e3-6ba3-41f0-9b6e-e41131d5d61e/services/networking/virtualnetwork",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2016-03-01"
        ]
      },
      "ResponseBody": "<VirtualNetworkSites xmlns=\"http://schemas.microsoft.com/windowsazure\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n  <VirtualNetworkSite>\r\n    <Name>virtualNetworkSiteName</Name>\r\n    <Id>32f669cc-d766-4f10-978e-c04afd716a68</Id>\r\n    <State>Created</State>\r\n    <AddressSpace>\r\n      <AddressPrefixes>\r\n        <AddressPrefix>192.168.100.0/24</AddressPrefix>\r\n      </AddressPrefixes>\r\n    </AddressSpace>\r\n    <Subnets>\r\n      <Subnet>\r\n        <Name>FrontEndSubnet5</Name>\r\n        <AddressPrefix>192.168.100.0/28</AddressPrefix>\r\n      </Subnet>\r\n    </Subnets>\r\n    <Location>East US</Location>\r\n    <MigrationState>2</MigrationState>\r\n  </VirtualNetworkSite>\r\n</VirtualNetworkSites>",
      "ResponseHeaders": {
        "Content-Type": [
          "application/xml; charset=utf-8"
        ],
        "x-ms-servedbyregion": [
          "ussouth3"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/24fb23e3-6ba3-41f0-9b6e-e41131d5d61e/services/networking/virtualnetwork/virtualNetworkSiteName/migration?comp=commit",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2016-03-01"
        ]
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "x-ms-servedbyregion": [
          "ussouth3"
        ]
      },
      "StatusCode": 202
    },
[...]
    {
      "RequestUri": "/24fb23e3-6ba3-41f0-9b6e-e41131d5d61e/operations/b3012eb776019464a1012fa7a8f2a861",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2016-03-01"
        ]
      },
      "ResponseBody": "<Operation xmlns=\"http://schemas.microsoft.com/windowsazure\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n  <ID>b3012eb7-7601-9464-a101-2fa7a8f2a861</ID>\r\n  <Status>Succeeded</Status>\r\n  <HttpStatusCode>200</HttpStatusCode>\r\n</Operation>",
      "ResponseHeaders": {
        "Content-Type": [
          "application/xml; charset=utf-8"
        ],
        "x-ms-servedbyregion": [
          "ussouth3"
        ]
      },
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "24fb23e3-6ba3-41f0-9b6e-e41131d5d61e"
  }
}