{
    "Entries": [
        {
            "RequestUri": "https://aiimdsuavault.vault.azure.net/secrets/identitytestsecret?api-version=7.0",
            "RequestMethod": "PUT",
            "RequestHeaders": {
                "Content-Type": "application/json"
            },
            "RequestBody": null,
            "StatusCode": 401,
            "ResponseHeaders": {
                "Content-Type": "application/json; charset=utf-8",
                "WWW-Authenticate": "Bearer authorization=\u0022https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://vault.azure.net\u0022"
            },
            "ResponseBody": {
                "error": {
                    "code": "Unauthorized",
                    "message": "Request is missing a Bearer or PoP token."
                }
            }
        },
        {
            "RequestUri": "https://aiimdsuavault.vault.azure.net/secrets/identitytestsecret?api-version=7.0",
            "RequestMethod": "PUT",
            "RequestHeaders": {
                "Authorization": "Sanitized",
                "Content-Type": "application/json"
            },
            "RequestBody": {
                "value": "value"
            },
            "StatusCode": 200,
            "ResponseHeaders": {
                "Content-Type": "application/json; charset=utf-8"
            },
            "ResponseBody": {
                "value": "value",
                "id": "https://aiimdsuavault.vault.azure.net/secrets/identitytestsecret/c1a3d50e493d4e998b86a99012e457d9",
                "attributes": {
                    "enabled": true,
                    "created": 1605143629,
                    "updated": 1605143629,
                    "recoveryLevel": "Purgeable"
                }
            }
        }
    ],
    "Variables": {
        "IDENTITYTEST_IMDSTEST_USERASSIGNEDVAULT": "https://aiimdsuavault.vault.azure.net/",
        "IDENTITYTEST_SFTEST_ENABLE": "true",
        "IDENTITY_ENDPOINT": "https://10.0.0.7:2377/metadata/identity/oauth2/token",
        "IDENTITY_HEADER": "fae383f0-b188-4edd-bc54-7f6900000000",
        "IDENTITY_SERVER_THUMBPRINT": "0d2b6efd0c193e05064ec8ffc782ebfbc2265c88",
        "IMDS_ENDPOINT": null,
        "MSI_ENDPOINT": null,
        "MSI_SECRET": null,
        "RandomSeed": "465387951"
    }
}
