{
  "Entries": [
    {
      "RequestUri": "/subscriptions/db4e2fdb-6d80-4e6e-b7cd-736098270664/resourceGroups/demo-resources/providers/Microsoft.DataBoxEdge/dataBoxEdgeDevices/gateway-demo-device/alerts?api-version=2019-03-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"properties\": {\r\n        \"title\": \"Device password has changed\",\r\n        \"alertType\": \"PasswordChangedEvent\",\r\n        \"appearedAtTime\": \"2019-02-20T14:36:15.9967738Z\",\r\n        \"appearedAtDateTime\": \"2019-02-20T14:36:15.9967738Z\",\r\n        \"recommendation\": \"The device administrator password has changed. This is a required action as part of the first time device setup or regular password reset. No further action is required.\",\r\n        \"severity\": \"Informational\",\r\n        \"errorDetails\": {\r\n          \"errorCode\": \"\",\r\n          \"errorMessage\": \"\",\r\n          \"occurrences\": 2,\r\n          \"occurences\": 2\r\n        },\r\n        \"detailedInformation\": {}\r\n      },\r\n      \"id\": \"/subscriptions/db4e2fdb-6d80-4e6e-b7cd-736098270664/resourceGroups/demo-resources/providers/Microsoft.DataBoxEdge/dataBoxEdgeDevices/gateway-demo-device/alerts/3e633f97-a626-4514-a302-e55368b52a14\",\r\n      \"name\": \"3e633f97-a626-4514-a302-e55368b52a14\",\r\n      \"type\": \"Microsoft.DataBoxEdge/dataBoxEdgeDevices/alerts\"\r\n    }\r\n  ]\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/db4e2fdb-6d80-4e6e-b7cd-736098270664/resourceGroups/demo-resources/providers/Microsoft.DataBoxEdge/dataBoxEdgeDevices/gateway-demo-device/alerts/3e633f97-a626-4514-a302-e55368b52a14?api-version=2019-03-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11998"
        ],
        "Content-Type": [
          "application[...]
