{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/b604dcd8-f4cf-4a85-88ea-2cde532905a3?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "id": "/subscriptions/b604dcd8-f4cf-4a85-88ea-2cde532905a3",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {},
        "subscriptionId": "b604dcd8-f4cf-4a85-88ea-2cde532905a3",
        "tenantId": "00000000-0000-0000-0000-000000000000",
        "displayName": "PMaaS Synthetics Corp",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/b604dcd8-f4cf-4a85-88ea-2cde532905a3/resourcegroups/standbyPoolRG-4151?api-version=2022-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "centralindia"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-writes": "11999",
        "x-ms-ratelimit-remaining-subscription-writes": "799"
      },
      "ResponseBody": {
        "id": "/subscriptions/b604dcd8-f4cf-4a85-88ea-2cde532905a3/resourceGroups/standbyPoolRG-4151",
        "name": "standbyPoolRG-4151",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "centralindia",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/b604dcd8-f4cf-4a85-88ea-2cde532905a3/providers/Microsoft.Network?api-version=2022-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "id": "/subscriptions/b604dcd8-f4cf-4a85-88ea-2cde532905a3/providers/Microsoft.Network",
        "namespace": "Microsoft.Network",
        "authorizations": [
          {
            "applicationId": "00000000-0000-0000-0000-000000000000",
            "roleDefinitionId": "18363e25-ff21-4159-ae8d-7dfecb5bd001"
          },
          {
            "applicationId": "00000000-0000-0000-0000-000000000000",
            "roleDefinitionId": "d4d2d679-cce0-429d-9a3b-17118c035f66"
          },
          {
            "applicationId": "00000000-0000-0000-0000-000000000000",
            "roleDefinitionId": "d4d2d679-cce0-429d-9a3b-17118c035f66"
          },
          {
            "applicationId": "00000000-0000-0000-0000-000000000000",
            "roleDefinitionId": "13b[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/b604dcd8-f4cf-4a85-88ea-2cde532905a3/resourceGroups/standbyPoolRG-4151/providers/Microsoft.Network/virtualNetworks/testVNet-1548?api-version=**",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "centralindia",
        "properties": {
          "addressSpace": {
            "addressPrefixes": [
              "10.0.0.0/16"
            ]
          },
          "subnets": [
            {
              "name": "testSubnet-7301",
              "properties": {
                "addressPrefix": "10.0.2.0/24"
              }
            }
          ]
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncNotification": "Enabled",
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/b604dcd8-f4cf-4a85-88ea-2cde532905a3/providers/Microsoft.Network/locations/centralindia/operations/45ce8d99-ef96-4afc-ad3e-cc2dd1c6e108?api-version=2024-07-01&t=638792294087960618&c=MIIHpTCCBo2gAwIBAgITfwTYu0qoRwcN0bP8jwAEBNi7SjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDIwHhcNMjUwMTIzMjA0ODUxWhcNMjUwNzIyMjA0ODUxWjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdjZXJ0aWZpY2F0ZS5tYW5hZ2VtZ[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/b604dcd8-f4cf-4a85-88ea-2cde532905a3/providers/Microsoft.Network/locations/centralindia/operations/45ce8d99-ef96-4afc-ad3e-cc2dd1c6e108?api-version=**&t=638792294087960618&c=MIIHpTCCBo2gAwIBAgITfwTYu0qoRwcN0bP8jwAEBNi7SjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDIwHhcNMjUwMTIzMjA0ODUxWhcNMjUwNzIyMjA0ODUxWjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdjZXJ0aWZp[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/b604dcd8-f4cf-4a85-88ea-2cde532905a3/resourceGroups/standbyPoolRG-4151/providers/Microsoft.Network/virtualNetworks/testVNet-1548?api-version=**",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\"032b4a81-b6ee-4d45-ab6e-41a9d6bd5fbe\"",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "name": "testVNet-1548",
        "id": "/subscriptions/b604dcd8-f4cf-4a85-88ea-2cde532905a3/resourceGroups/standbyPoolRG-4151/providers/Microsoft.Network/virtualNetworks/testVNet-1548",
        "etag": "W/\"032b4a81-b6ee-4d45-ab6e-41a9d6bd5fbe\"",
        "type": "Microsoft.Network/virtualNetworks",
        "location": "centralindia",
        "properties": {
          "provisioningState": "Succeeded",
          "resourceGuid": "c333a9a7-6855-42fc-aafc-1b1f076cd982",
          "addressSpace": {
            "addressPrefixes": [
              "10.0.0.0/16"
            ]
          },
          "privateEndpointVNetPolicies": "Disabled",
          "subnets": [
            {
              "name": "testSubnet-7301",
              "id": "/subscriptions/b604dcd8-f4cf-4a85-88ea-2cde532905a3/resourceGroups/standbyPoolRG-4151/providers/Microsoft.Network/virtualNetworks/testVNet-1548/subnets/testSubnet-7301",
              "etag": "W/\"032b4a81-b6ee-4d45-ab6e-41a9d6bd5fbe\"",
              "properties": {
                "provisioningState": "Succeeded",
                "addressPrefix": "10.0.2.0/24",
                "delegations": [],
                "privateEndpointNetworkPolicies": "Disabled",
                "privateLinkServiceNetworkPolicies": "Enabled"
              },
              "type": "Microsoft.Network/virtualNetworks/subnets"
            }
          ],
          "virtualNetworkPeerings": [],
          "enableDdosProtection": false
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/b604dcd8-f4cf-4a85-88ea-2cde532905a3/providers/Microsoft.ContainerInstance?api-version=2022-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "id": "/subscriptions/b604dcd8-f4cf-4a85-88ea-2cde532905a3/providers/Microsoft.ContainerInstance",
        "namespace": "Microsoft.ContainerInstance",
        "authorizations": [
          {
            "applicationId": "00000000-0000-0000-0000-000000000000",
            "roleDefinitionId": "3c60422b-a83a-428d-9830-22609c77aa6c"
          },
          {
            "applicationId": "00000000-0000-0000-0000-000000000000",
            "roleDefinitionId": "bafbada8-7822-4049-a4d7-4a3f19fa394b"
          }
        ],
        "resourceTypes": [
          {
            "resourceType": "containerGroups",
            "locations": [
              "Australia Central",
              "Australia Central 2",
              "Australia East",
              "Australia Southeast",
              "Brazil South",
              "Canada Central",
              "Canada East",
              "Central India",
              "Central US",
              "East Asia",
              "East US",
              "East US 2",
              "France Central",
              "France South",
              "Germany North",
              "Germany West Centra[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/b604dcd8-f4cf-4a85-88ea-2cde532905a3/resourceGroups/standbyPoolRG-4151/providers/Microsoft.ContainerInstance/containerGroupProfiles/testCG-672?api-version=2024-11-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "centralindia",
        "properties": {
          "sku": "Standard",
          "osType": "Linux",
          "ipAddress": {
            "type": "Public",
            "ports": [
              {
                "protocol": "TCP",
                "port": 8000
              }
            ]
          },
          "containers": [
            {
              "name": "test-instance",
              "properties": {
                "image": "mcr.microsoft.com/azuredocs/aci-helloworld:latest",
                "ports": [
                  {
                    "port": 8000
                  }
                ],
                "resources": {
                  "requests": {
                    "cpu": "1",
                    "memoryInGB": "1.5"
                  }
                }
              }
            }
          ],
          "imageRegistryCredentials": []
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-writes": "11999",
        "x-ms-ratelimit-remaining-subscription-writes": "799"
      },
      "ResponseBody": {
        "properties": {
          "sku": "Standard",
          "containers": [
            {
              "name": "test-instance",
              "properties": {
                "image": "mcr.microsoft.com/azuredocs/aci-helloworld:latest",
                "ports": [
                  {
                    "port": 8000
                  }
                ],
                "resources": {
                  "requests": {
                    "memoryInGB": 1.5,
                    "cpu": 1.0
                  }
                }
              }
            }
          ],
          "imageRegistryCredentials": [],
          "ipAddress": {
            "ports": [
              {
                "protocol": "TCP",
                "port": 8000
              }
            ],
            "type": "Public"
          },
          "osType": "Linux",
          "revision": 1
        },
        "id": "/subscriptions/b604dcd8-f4cf-4a85-88ea-2cde532905a3/resourceGroups/standbyPoolRG-4151/providers/Microsoft.ContainerInstance/containerGroupProfiles/testCG-672",
        "name": "testCG-672",
        "type": "Microsoft.ContainerInstance/containerGroupProfiles",
        "location": "centralindia"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/b604dcd8-f4cf-4a85-88ea-2cde532905a3/resourceGroups/standbyPoolRG-4151/providers/Microsoft.StandbyPool/standbyContainerGroupPools/standbyCG-8756?api-version=2025-03-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "centralindia",
        "properties": {
          "elasticityProfile": {
            "maxReadyCapacity": 1,
            "refillPolicy": "always"
          },
          "containerGroupProperties": {
            "containerGroupProfile": {
              "id": "/subscriptions/b604dcd8-f4cf-4a85-88ea-2cde532905a3/resourceGroups/standbyPoolRG-4151/providers/Microsoft.ContainerInstance/containerGroupProfiles/testCG-672"
            },
            "subnetIds": [
              {
                "id": "/subscriptions/b604dcd8-f4cf-4a85-88ea-2cde532905a3/resourceGroups/standbyPoolRG-4151/providers/Microsoft.Network/virtualNetworks/testVNet-1548/subnets/testSubnet-7301"
              }
            ]
          },
          "zones": [
            "1"
          ]
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\"7f004563-0000-2000-0000-67edb8f70000\"",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-global-writes": "12000",
        "x-ms-ratelimit-remaining-subscription-writes": "19985"
      },
      "ResponseBody": {
        "id": "/subscriptions/b604dcd8-f4cf-4a85-88ea-2cde532905a3/resourceGroups/standbyPoolRG-4151/providers/Microsoft.StandbyPool/standbyContainerGroupPools/standbyCG-8756",
        "name": "standbyCG-8756",
        "type": "microsoft.standbypool/standbycontainergrouppools",
        "location": "centralindia",
        "tags": {},
        "systemData": {
          "createdBy": "Sanitized",
          "createdByType": "User",
          "createdAt": "2025-04-02T22:23:49.5506464Z",
          "lastModifiedBy": "Sanitized",
          "lastModifiedByType": "User",
          "lastModifiedAt": "2025-04-02T22:23:49.5506464Z"
        },
        "properties": {
          "elasticityProfile": {
            "maxReadyCapacity": 1,
            "refillPolicy": "always"
          },
          "containerGroupProperties": {
            "containerGroupProfile": {
              "id": "/subscriptions/b604dcd8-f4cf-4a85-88ea-2cde532905a3/resourceGroups/standbyPoolRG-4151/providers/Microsoft.ContainerInstance/containerGroupProfiles/testCG-672",
              "revision": 1
            },
            "subnetIds": [
              {
                "id": "/subscriptions/b604dcd8-f4cf-4a85-88ea-2cde532905a3/resourceGroups/standbyPoolRG-4151/providers/Microsoft.Network/virtualNetworks/testVNet-1548/subnets/testSubnet-7301"
              }
            ]
          },
          "zones": [
            "1"
          ],
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/b604dcd8-f4cf-4a85-88ea-2cde532905a3/providers/Microsoft.StandbyPool/standbyContainerGroupPools?api-version=2025-03-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-original-request-ids": [
          "f0215430-ca1f-4c1a-a7eb-19f2ff4330f0",
          "68edef63-712d-4e0d-a250-4d6b545660ca",
          "94494690-e602-4627-9dce-892697243181",
          "1155408d-0a7f-4809-bbb4-7b0e22a7f67b",
          "d28ed7e5-6fc5-44a3-98ea-f2db7806eef4",
          "65294c08-2dbd-4b81-aff0-b38d86848d35",
          "bc1c3e6f-9c95-488f-924a-19827affa8e6",
          "1639c17e-922f-4188-9566-6aaa25e311c0",
          "c5583361-840c-45c3-b035-3792a0ef9d1e",
          "87330927-cad7-4944-b59a-cc43ec768543",
          "19c6f40d-7440-483b-90b0-678042f9e288",
          "6be606e4-abef-4aa8-9aaf-689beb8d7666",
          "709e0365-9a0a-410c-8155-342864f28c22",
          "afe6e3e3-df41-4fb5-97fd-c911b9570861",
          "c50ccd98-6db4-454a-baa3-71142490a9c7",
          "d2fa86ad-7f2d-4e34-a12d-9c3a7da329dd",
          "60130705-4354-42ab-abe7-03f5028a4270"
        ],
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/b604dcd8-f4cf-4a85-88ea-2cde532905a3/resourceGroups/ContainerGroupPoolIntegrationWorkloadbrazilsouth-6af5fd5d/providers/Microsoft.StandbyPool/standbyContainerGroupPools/PMaaSSyntheticsCGPool",
            "name": "PMaaSSyntheticsCGPool",
            "type": "microsoft.standbypool/standbycontainergrouppools",
            "location": "brazilsouth",
            "tags": {},
            "systemData": {
              "createdBy": "Sanitized",
          [...]
