{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/b604dcd8-f4cf-4a85-88ea-2cde532905a3?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "id": "/subscriptions/b604dcd8-f4cf-4a85-88ea-2cde532905a3",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {},
        "subscriptionId": "b604dcd8-f4cf-4a85-88ea-2cde532905a3",
        "tenantId": "00000000-0000-0000-0000-000000000000",
        "displayName": "PMaaS Synthetics Corp",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/b604dcd8-f4cf-4a85-88ea-2cde532905a3/resourcegroups/standbyPoolRG-9455?api-version=2022-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "centralindia"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-writes": "11999",
        "x-ms-ratelimit-remaining-subscription-writes": "799"
      },
      "ResponseBody": {
        "id": "/subscriptions/b604dcd8-f4cf-4a85-88ea-2cde532905a3/resourceGroups/standbyPoolRG-9455",
        "name": "standbyPoolRG-9455",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "centralindia",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/b604dcd8-f4cf-4a85-88ea-2cde532905a3/providers/Microsoft.Network?api-version=2022-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16498",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "id": "/subscriptions/b604dcd8-f4cf-4a85-88ea-2cde532905a3/providers/Microsoft.Network",
        "namespace": "Microsoft.Network",
        "authorizations": [
          {
            "applicationId": "00000000-0000-0000-0000-000000000000",
            "roleDefinitionId": "18363e25-ff21-4159-ae8d-7dfecb5bd001"
          },
          {
            "applicationId": "00000000-0000-0000-0000-000000000000",
            "roleDefinitionId": "d4d2d679-cce0-429d-9a3b-17118c035f66"
          },
          {
            "applicationId": "00000000-0000-0000-0000-000000000000",
            "roleDefinitionId": "d4d2d679-cce0-429d-9a3b-17118c035f66"
          },
          {
            "applicationId": "00000000-0000-0000-0000-000000000000",
            "roleDefinitionId": "13b[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/b604dcd8-f4cf-4a85-88ea-2cde532905a3/resourceGroups/standbyPoolRG-9455/providers/Microsoft.Network/virtualNetworks/testVNet-5139?api-version=**",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "centralindia",
        "properties": {
          "addressSpace": {
            "addressPrefixes": [
              "10.0.0.0/16"
            ]
          },
          "subnets": [
            {
              "name": "testSubnet-7301",
              "properties": {
                "addressPrefix": "10.0.2.0/24"
              }
            }
          ]
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncNotification": "Enabled",
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/b604dcd8-f4cf-4a85-88ea-2cde532905a3/providers/Microsoft.Network/locations/centralindia/operations/3e38a182-7261-444e-b244-cd0828ed6eef?api-version=2024-07-01&t=638792291211152550&c=MIIHpTCCBo2gAwIBAgITfwTYu0qoRwcN0bP8jwAEBNi7SjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDIwHhcNMjUwMTIzMjA0ODUxWhcNMjUwNzIyMjA0ODUxWjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdjZXJ0aWZpY2F0ZS5tYW5hZ2VtZ[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/b604dcd8-f4cf-4a85-88ea-2cde532905a3/providers/Microsoft.Network/locations/centralindia/operations/3e38a182-7261-444e-b244-cd0828ed6eef?api-version=**&t=638792291211152550&c=MIIHpTCCBo2gAwIBAgITfwTYu0qoRwcN0bP8jwAEBNi7SjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDIwHhcNMjUwMTIzMjA0ODUxWhcNMjUwNzIyMjA0ODUxWjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdjZXJ0aWZp[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/b604dcd8-f4cf-4a85-88ea-2cde532905a3/resourceGroups/standbyPoolRG-9455/providers/Microsoft.Network/virtualNetworks/testVNet-5139?api-version=**",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\"b5495490-c6fa-43b0-a2af-71908f133e7f\"",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "name": "testVNet-5139",
        "id": "/subscriptions/b604dcd8-f4cf-4a85-88ea-2cde532905a3/resourceGroups/standbyPoolRG-9455/providers/Microsoft.Network/virtualNetworks/testVNet-5139",
        "etag": "W/\"b5495490-c6fa-43b0-a2af-71908f133e7f\"",
        "type": "Microsoft.Network/virtualNetworks",
        "location": "centralindia",
        "properties": {
          "provisioningState": "Succeeded",
          "resourceGuid": "4ad11211-039a-484e-8b90-0629c852249e",
          "addressSpace": {
            "addressPrefixes": [
              "10.0.0.0/16"
            ]
          },
          "privateEndpointVNetPolicies": "Disabled",
          "subnets": [
            {
              "name": "testSubnet-7301",
              "id": "/subscriptions/b604dcd8-f4cf-4a85-88ea-2cde532905a3/resourceGroups/standbyPoolRG-9455/providers/Microsoft.Network/virtualNetworks/testVNet-5139/subnets/testSubnet-7301",
              "etag": "W/\"b5495490-c6fa-43b0-a2af-71908f133e7f\"",
              "properties": {
                "provisioningState": "Succeeded",
                "addressPrefix": "10.0.2.0/24",
                "delegations": [],
                "privateEndpointNetworkPolicies": "Disabled",
                "privateLinkServiceNetworkPolicies": "Enabled"
              },
              "type": "Microsoft.Network/virtualNetworks/subnets"
            }
          ],
          "virtualNetworkPeerings": [],
          "enableDdosProtection": false
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/b604dcd8-f4cf-4a85-88ea-2cde532905a3/providers/Microsoft.ContainerInstance?api-version=2022-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "id": "/subscriptions/b604dcd8-f4cf-4a85-88ea-2cde532905a3/providers/Microsoft.ContainerInstance",
        "namespace": "Microsoft.ContainerInstance",
        "authorizations": [
          {
            "applicationId": "00000000-0000-0000-0000-000000000000",
            "roleDefinitionId": "3c60422b-a83a-428d-9830-22609c77aa6c"
          },
          {
            "applicationId": "00000000-0000-0000-0000-000000000000",
            "roleDefinitionId": "bafbada8-7822-4049-a4d7-4a3f19fa394b"
          }
        ],
        "resourceTypes": [
          {
            "resourceType": "containerGroups",
            "locations": [
              "Australia Central",
              "Australia Central 2",
              "Australia East",
              "Australia Southeast",
              "Brazil South",
              "Canada Central",
              "Canada East",
              "Central India",
              "Central US",
              "East Asia",
              "East US",
              "East US 2",
              "France Central",
              "France South",
              "Germany North",
              "Germany West Centra[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/b604dcd8-f4cf-4a85-88ea-2cde532905a3/resourceGroups/standbyPoolRG-9455/providers/Microsoft.ContainerInstance/containerGroupProfiles/testCG-6620?api-version=2024-11-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "centralindia",
        "properties": {
          "sku": "Standard",
          "osType": "Linux",
          "ipAddress": {
            "type": "Public",
            "ports": [
              {
                "protocol": "TCP",
                "port": 8000
              }
            ]
          },
          "containers": [
            {
              "name": "test-instance",
              "properties": {
                "image": "mcr.microsoft.com/azuredocs/aci-helloworld:latest",
                "ports": [
                  {
                    "port": 8000
                  }
                ],
                "resources": {
                  "requests": {
                    "cpu": "1",
                    "memoryInGB": "1.5"
                  }
                }
              }
            }
          ],
          "imageRegistryCredentials": []
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-writes": "11999",
        "x-ms-ratelimit-remaining-subscription-writes": "799"
      },
      "ResponseBody": {
        "properties": {
          "sku": "Standard",
          "containers": [
            {
              "name": "test-instance",
              "properties": {
                "image": "mcr.microsoft.com/azuredocs/aci-helloworld:latest",
                "ports": [
                  {
                    "port": 8000
                  }
                ],
                "resources": {
                  "requests": {
                    "memoryInGB": 1.5,
                    "cpu": 1.0
                  }
                }
              }
            }
          ],
          "imageRegistryCredentials": [],
          "ipAddress": {
            "ports": [
              {
                "protocol": "TCP",
                "port": 8000
              }
            ],
            "type": "Public"
          },
          "osType": "Linux",
          "revision": 1
        },
        "id": "/subscriptions/b604dcd8-f4cf-4a85-88ea-2cde532905a3/resourceGroups/standbyPoolRG-9455/providers/Microsoft.ContainerInstance/containerGroupProfiles/testCG-6620",
        "name": "testCG-6620",
        "type": "Microsoft.ContainerInstance/containerGroupProfiles",
        "location": "centralindia"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/b604dcd8-f4cf-4a85-88ea-2cde532905a3/resourceGroups/standbyPoolRG-9455/providers/Microsoft.StandbyPool/standbyContainerGroupPools/standbyCG-6914?api-version=2025-03-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "centralindia",
        "properties": {
          "elasticityProfile": {
            "maxReadyCapacity": 1,
            "refillPolicy": "always"
          },
          "containerGroupProperties": {
            "containerGroupProfile": {
              "id": "/subscriptions/b604dcd8-f4cf-4a85-88ea-2cde532905a3/resourceGroups/standbyPoolRG-9455/providers/Microsoft.ContainerInstance/containerGroupProfiles/testCG-6620"
            },
            "subnetIds": [
              {
                "id": "/subscriptions/b604dcd8-f4cf-4a85-88ea-2cde532905a3/resourceGroups/standbyPoolRG-9455/providers/Microsoft.Network/virtualNetworks/testVNet-5139/subnets/testSubnet-7301"
              }
            ]
          },
          "zones": [
            "1"
          ]
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\"7f000361-0000-2000-0000-67edb7e20000\"",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-global-writes": "12000",
        "x-ms-ratelimit-remaining-subscription-writes": "19998"
      },
      "ResponseBody": {
        "id": "/subscriptions/b604dcd8-f4cf-4a85-88ea-2cde532905a3/resourceGroups/standbyPoolRG-9455/providers/Microsoft.StandbyPool/standbyContainerGroupPools/standbyCG-6914",
        "name": "standbyCG-6914",
        "type": "microsoft.standbypool/standbycontainergrouppools",
        "location": "centralindia",
        "tags": {},
        "systemData": {
          "createdBy": "Sanitized",
          "createdByType": "User",
          "createdAt": "2025-04-02T22:19:13.5615523Z",
          "lastModifiedBy": "Sanitized",
          "lastModifiedByType": "User",
          "lastModifiedAt": "2025-04-02T22:19:13.5615523Z"
        },
        "properties": {
          "elasticityProfile": {
            "maxReadyCapacity": 1,
            "refillPolicy": "always"
          },
          "containerGroupProperties": {
            "containerGroupProfile": {
              "id": "/subscriptions/b604dcd8-f4cf-4a85-88ea-2cde532905a3/resourceGroups/standbyPoolRG-9455/providers/Microsoft.ContainerInstance/containerGroupProfiles/testCG-6620",
              "revision": 1
            },
            "subnetIds": [
              {
                "id": "/subscriptions/b604dcd8-f4cf-4a85-88ea-2cde532905a3/resourceGroups/standbyPoolRG-9455/providers/Microsoft.Network/virtualNetworks/testVNet-5139/subnets/testSubnet-7301"
              }
            ]
          },
          "zones": [
            "1"
          ],
          "provisioningState": "Succeeded"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/b604dcd8-f4cf-4a85-88ea-2cde532905a3/providers/Microsoft.Network/locations/centralindia/operations/122f0117-a231-46a0-bb4d-33771fdeef74?api-version=**&t=638792291677574090&c=MIIHpTCCBo2gAwIBAgITfwTYu0qoRwcN0bP8jwAEBNi7SjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDIwHhcNMjUwMTIzMjA0ODUxWhcNMjUwNzIyMjA0ODUxWjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdjZXJ0aWZp[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/b604dcd8-f4cf-4a85-88ea-2cde532905a3/resourceGroups/standbyPoolRG-9455/providers/Microsoft.StandbyPool/standbyContainerGroupPools?api-version=2025-03-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-original-request-ids": "60a57b6d-20bd-4b0f-b285-4ef2dfe48c22",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "199994"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/b604dcd8-f4cf-4a85-88ea-2cde532905a3/resourceGroups/standbyPoolRG-9455/providers/Microsoft.StandbyPool/standbyContainerGroupPools/standbyCG-6914",
            "name": "standbyCG-6914",
            "type": "microsoft.standbypool/standbycontainergrouppools",
            "location": "centralindia",
            "tags": {},
            "systemData": {
              "createdBy": "Sanitized",
              "createdByType": "User",
              "createdA[...]
