{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/9e347dc4-e2fb-4892-b7c0-ca6f58eeed6d?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11970"
      },
      "ResponseBody": {
        "id": "/subscriptions/9e347dc4-e2fb-4892-b7c0-ca6f58eeed6d",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "subscriptionId": "9e347dc4-e2fb-4892-b7c0-ca6f58eeed6d",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": "Project Cupertino Service DevINT",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/9e347dc4-e2fb-4892-b7c0-ca6f58eeed6d/resourcegroups/SdkRg8269?api-version=2021-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "eastus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1196"
      },
      "ResponseBody": {
        "id": "/subscriptions/9e347dc4-e2fb-4892-b7c0-ca6f58eeed6d/resourceGroups/SdkRg8269",
        "name": "SdkRg8269",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus",
        "tags": {},
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/9e347dc4-e2fb-4892-b7c0-ca6f58eeed6d/resourceGroups/SdkRg8269/providers/Microsoft.Web/sites/SdkWeb2926?api-version=2021-02-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "eastus",
        "properties": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "ETag": "\u00221D865BFC258FB80\u0022",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "498"
      },
      "ResponseBody": {
        "id": "/subscriptions/9e347dc4-e2fb-4892-b7c0-ca6f58eeed6d/resourceGroups/SdkRg8269/providers/Microsoft.Web/sites/SdkWeb2926",
        "name": "SdkWeb2926",
        "type": "Microsoft.Web/sites",
        "kind": "app",
        "location": "eastus",
        "tags": {},
        "properties": {
          "name": "SdkWeb2926",
          "state": "Running",
          "hostNames": [
            "sdkweb2926.azurewebsites.net"
          ],
          "webSpace": "SdkRg8269-EastUSwebspace",
          "selfLink": "https://waws-prod-blu-283.api.azurewebsites.windows.net:454/subscriptions/9e347dc4-e2fb-4892-b7c0-ca6f58eeed6d/webspaces/SdkRg8269-EastUSwebspace/sites/SdkWeb2926",
          "repositorySiteName": "SdkWeb2926",
          "owner": null,
          "usageState": "Normal",
          "enabled": true,
          "adminEnabled": true,
          "enabledHostNames": [
            "sdkweb2926.azurewebsites.net",
            "sdkweb2926.scm.azurewebsites.net"
          ],
          "siteProperties": {
            "metadata": null,
            "properties": [
              {
                "name": "LinuxFxVersion",
                "value": ""
              },
              {
                "name": "WindowsFxVersion",
                "value": null
              }
            ],
            "appSettings": null
          },
          "availabilityState": "Normal",
          "sslCertificates": null,
          "csrs": [],
          "cers": null,
          "siteMode": null,
          "hostNameSslStates": [
            {
              "name": "sdkweb2926.azurewebsites.net",
              "sslState": "Disabled",
              "ipBasedSslResult": null,
              "virtualIP": null,
              "thumbprint": null,
              "toUpdate": null,
              "toUpdateIpBasedSsl": null,
              "ipBasedSslState": "NotConfigured",
              "hostType": "Standard"
            },
            {
              "name": "sdkweb2926.scm.azurewebsites.net",
              "sslState": "Disabled",
              "ipBasedSslResult": null,
              "virtualIP": null,
              "thumbprint": null,
              "toUpdate": null,
              "toUpdateIpBasedSsl": null,
              "ipBasedSslState": "NotConfigured",
              "hostType": "Repository"
            }
          ],
          "computeMode": null,
          "serverFarm": null,
          "serverFarmId": "/subscriptions/9e347dc4-e2fb-4892-b7c0-ca6f58eeed6d/resourceGroups/SdkRg8269/providers/Microsoft.Web/serverfarms/Default1eo",
          "reserved": false,
          "isXenon": false,
          "hyperV": false,
          "lastModifiedTimeUtc": "2022-05-12T05:18:48.0133333",
          "storageRecoveryDefaultState": "Running",
          "contentAvailabilityState": "Normal",
          "runtimeAvailabilityState": "Normal",
          "vnetRouteAllEnabled": false,
          "siteConfig": {
            "numberOfWorkers": 1,
            "defaultDocuments": null,
            "netFrameworkVersion": null,
            "phpVersion": null,
            "pythonVersion": null,
            "nodeVersion": null,
            "powerShellVersion": null,
            "linuxFxVersion": "",
            "windowsFxVersion": null,
            "requestTracingEnabled": null,
            "remoteDebuggingEnabled": null,
            "remoteDebuggingVersion": null,
            "httpLoggingEnabled": null,
            "azureMonitorLogCategories": null,
            "acrUseManagedIdentityCreds": false,
            "acrUserManagedIdentityID": null,
            "logsDirectorySizeLimit": null,
            "detailedErrorLoggingEnabled": null,
            "publishingUsername": null,
            "publishingPassword": null,
            "appSettings": null,
            "metadata": null,
            "connectionStrings": null,
            "machineKey": null,
            "handlerMappings": null,
            "documentRoot": null,
            "scmType": null,
            "use32BitWorkerProcess": null,
            "webSocketsEnabled": null,
            "alwaysOn": false,
            "javaVersion": null,
            "javaContainer": null,
            "javaContainerVersion": null,
            "appCommandLine": null,
            "managedPipelineMode": null,
            "virtualApplications": null,
            "winAuthAdminState": null,
            "winAuthTenantState": null,
            "customAppPoolIdentityAdminState": null,
            "customAppPoolIdentityTenantState": null,
            "runtimeADUser": null,
            "runtimeADUserPassword": null,
            "loadBalancing": null,
            "routingRules": null,
            "experiments": null,
            "limits": null,
            "autoHealEnabled": null,
            "autoHealRules": null,
            "tracingOptions": null,
            "vnetName": null,
            "vnetRouteAllEnabled": null,
            "vnetPrivatePortsCount": null,
            "publicNetworkAccess": null,
            "cors": null,
            "push": null,
            "apiDefinition": null,
            "apiManagementConfig": null,
            "autoSwapSlotName": null,
            "localMySqlEnabled": null,
            "managedServiceIdentityId": null,
            "xManagedServiceIdentityId": null,
            "keyVaultReferenceIdentity": null,
            "ipSecurityRestrictions": [
              {
                "ipAddress": "Any",
                "action": "Allow",
                "priority": 1,
                "name": "Allow all",
                "description": "Allow all access"
              }
            ],
            "scmIpSecurityRestrictions": [
              {
                "ipAddress": "Any",
                "action": "Allow",
                "priority": 1,
                "name": "Allow all",
                "description": "Allow all access"
              }
            ],
            "scmIpSecurityRestrictionsUseMain": null,
            "http20Enabled": false,
            "minTlsVersion": null,
            "minTlsCipherSuite": null,
            "supportedTlsCipherSuites": null,
            "scmMinTlsVersion": null,
            "ftpsState": null,
            "preWarmedInstanceCount": null,
            "functionAppScaleLimit": 0,
            "healthCheckPath": null,
            "fileChangeAuditEnabled": null,
            "functionsRuntimeScaleMonitoringEnabled": null,
            "websiteTimeZone": null,
            "minimumElasticInstanceCount": 0,
            "azureStorageAccounts": null,
            "http20ProxyFlag": null,
            "sitePort": null,
            "antivirusScanEnabled": null,
            "storageType": null
          },
          "deploymentId": "SdkWeb2926",
          "slotName": null,
          "trafficManagerHostNames": null,
          "sku": "Free",
          "scmSiteAlsoStopped": false,
          "targetSwapSlot": null,
          "hostingEnvironment": null,
          "hostingEnvironmentProfile": null,
          "clientAffinityEnabled": true,
          "clientCertEnabled": false,
          "clientCertMode": "Required",
          "clientCertExclusionPaths": null,
          "hostNamesDisabled": false,
          "domainVerificationIdentifiers": null,
          "customDomainVerificationId": "AF0CB5629C6ADB7928C73971B430DD08FDC363079825765CACFFBAEDE7E095EC",
          "kind": "app",
          "inboundIpAddress": "20.49.104.50",
          "possibleInboundIpAddresses": "20.49.104.50",
          "ftpUsername": "SdkWeb2926\\$SdkWeb2926",
          "ftpsHostName": "ftps://waws-prod-blu-283.ftp.azurewebsites.windows.net/site/wwwroot",
          "outboundIpAddresses": "52.224.78.52,104.45.179.114,52.226.49.170,52.226.49.241,52.226.50.114,52.226.50.142,20.49.104.50",
          "possibleOutboundIpAddresses": "52.224.78.52,104.45.179.114,52.226.49.170,52.226.49.241,52.226.50.114,52.226.50.142,52.226.50.177,104.45.181.205,52.226.48.77,52.226.50.232,52.226.51.10,52.226.51.118,52.226.51.159,52.226.51.179,52.226.51.205,52.226.51.229,52.226.52.42,52.226.52.66,52.226.52.79,52.226.52.95,52.226.52.97,52.226.52.127,52.224.79.75,52.226.52.169,52.226.52.191,52.226.52.202,52.226.53.5,52.226.53.118,52.226.53.198,52.226.53.224,20.49.104.50",
          "containerSize": 0,
          "dailyMemoryTimeQuota": 0,
          "suspendedTill": null,
          "siteDisabledReason": 0,
          "functionExecutionUnitsCache": null,
          "maxNumberOfWorkers": null,
          "homeStamp": "waws-prod-blu-283",
          "cloningInfo": null,
          "hostingEnvironmentId": null,
          "tags": {},
          "resourceGroup": "SdkRg8269",
          "defaultHostName": "sdkweb2926.azurewebsites.net",
          "slotSwapStatus": null,
          "httpsOnly": false,
          "redundancyMode": "None",
          "inProgressOperationId": null,
          "geoDistributions": null,
          "privateEndpointConnections": null,
          "publicNetworkAccess": null,
          "buildVersion": null,
          "targetBuildVersion": null,
          "migrationState": null,
          "eligibleLogCategories": "AppServiceAppLogs,AppServiceAuditLogs,AppServiceConsoleLogs,AppServiceHTTPLogs,AppServiceIPSecAuditLogs,AppServicePlatformLogs,ScanLogs",
          "storageAccountRequired": false,
          "virtualNetworkSubnetId": null,
          "keyVaultReferenceIdentity": "SystemAssigned"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/9e347dc4-e2fb-4892-b7c0-ca6f58eeed6d/resourceGroups/SdkRg8269/providers/Microsoft.SignalRService/webPubSub/SdkWebPubSub3946?api-version=2021-10-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "sku": {
          "name": "Standard_S1"
        },
        "tags": {},
        "location": "eastus",
        "properties": {
          "liveTraceConfiguration": {
            "categories": []
          },
          "resourceLogConfiguration": {
            "categories": []
          },
          "networkACLs": {
            "publicNetwork": {
              "allow": [],
              "deny": []
            }
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/9e347dc4-e2fb-4892-b7c0-ca6f58eeed6d/resourceGroups/SdkRg8269/providers/Microsoft.SignalRService/WebPubSub/SdkWebPubSub3946/operationStatuses/1d911bb1-5120-4006-83a2-06a7919287ba?api-version=2021-10-01",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/9e347dc4-e2fb-4892-b7c0-ca6f58eeed6d/resourceGroups/SdkRg8269/providers/Microsoft.SignalRService/WebPubSub/SdkWebPubSub3946/operationResults/1d911bb1-5120-4006-83a2-06a7919287ba?api-version=2021-10-01",
        "x-ms-ratelimit-remaining-subscription-writes": "1195",
        "x-rp-server-mvid": "e58ba2c2-e450-4347-b66c-f3ad6f1de555"
      },
      "ResponseBody": {
        "sku": {
          "name": "Standard_S1",
          "tier": "Standard",
          "size": "S1",
          "capacity": 1
        },
        "properties": {
          "provisioningState": "Creating",
          "externalIP": null,
          "hostName": "sdkwebpubsub3946.webpubsub.azure.com",
          "publicPort": 443,
          "serverPort": 443,
          "version": "1.0-preview",
          "privateEndpointConnections": [],
          "sharedPrivateLinkResources": [],
          "tls": {
            "clientCertEnabled": false
          },
          "hostNamePrefix": "sdkwebpubsub3946",
          "liveTraceConfiguration": {
            "enabled": null,
            "categories": []
          },
          "resourceLogConfiguration": {
            "categories": []
          },
          "networkACLs": {
            "defaultAction": "Deny",
            "publicNetwork": {
              "allow": [],
              "deny": []
            },
            "privateEndpoints": []
          },
          "publicNetworkAccess": "Enabled",
          "disableLocalAuth": false,
          "disableAadAuth": false
        },
        "systemData": {
          "createdBy": "e554f854-a327-4842-ad4e-b1df37852e11",
          "createdByType": "Application",
          "createdAt": "2022-05-12T05:19:08.2186403Z",
          "lastModifiedBy": "e554f854-a327-4842-ad4e-b1df37852e11",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2022-05-12T05:19:08.2186403Z"
        },
        "location": "eastus",
        "tags": {},
        "id": "/subscriptions/9e347dc4-e2fb-4892-b7c0-ca6f58eeed6d/resourceGroups/SdkRg8269/providers/Microsoft.SignalRService/WebPubSub/SdkWebPubSub3946",
        "name": "SdkWebPubSub3946",
        "type": "Microsoft.SignalRService/WebPubSub"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/9e347dc4-e2fb-4892-b7c0-ca6f58eeed6d/resourceGroups/SdkRg8269/providers/Microsoft.SignalRService/WebPubSub/SdkWebPubSub3946/operationStatuses/1d911bb1-5120-4006-83a2-06a7919287ba?api-version=2021-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11967",
        "x-rp-server-mvid": "e58ba2c2-e450-4347-b66c-f3ad6f1de555"
      },
      "ResponseBody": {
        "id": "/subscriptions/9e347dc4-e2fb-4892-b7c0-ca6f58eeed6d/resourceGroups/SdkRg8269/providers/Microsoft.SignalRService/WebPubSub/SdkWebPubSub3946/operationStatuses/1d911bb1-5120-4006-83a2-06a7919287ba",
        "name": "1d911bb1-5120-4006-83a2-06a7919287ba",
        "status": "Running",
        "startTime": "2022-05-12T05:19:09.9442556Z"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/9e347dc4-e2fb-4892-b7c0-ca6f58eeed6d/resourceGroups/SdkRg8269/providers/Microsoft.SignalRService/WebPubSub/SdkWebPubSub3946/operationStatuses/1d911bb1-5120-4006-83a2-06a7919287ba?api-version=2021-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11958",
        "x-rp-server-mvid": "e58ba2c2-e450-4347-b66c-f3ad6f1de555"
      },
      "ResponseBody": {
        "id": "/subscriptions/9e347dc4-e2fb-4892-b7c0-ca6f58eeed6d/resourceGroups/SdkRg8269/providers/Microsoft.SignalRService/WebPubSub/SdkWebPubSub3946/operationStatuses/1d911bb1-5120-4006-83a2-06a7919287ba",
        "name": "1d911bb1-5120-4006-83a2-06a7919287ba",
        "status": "Succeeded",
        "startTime": "2022-05-12T05:19:09.9442556Z",
        "endTime": "2022-05-12T05:20:43.9256794Z"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/9e347dc4-e2fb-4892-b7c0-ca6f58eeed6d/resourceGroups/SdkRg8269/providers/Microsoft.Web/sites/SdkWeb2926/providers/Microsoft.ServiceLinker/linkers/SdkLinker4626?api-version=2022-05-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "targetService": {
            "id": "/subscriptions/9e347dc4-e2fb-4892-b7c0-ca6f58eeed6d/resourceGroups/SdkRg8269/providers/Microsoft.SignalRService/WebPubSub/SdkWebPubSub3946",
            "type": "AzureResource"
          },
          "authInfo": {
            "authType": "secret"
          },
          "clientType": "dotnet"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/9e347dc4-e2fb-4892-b7c0-ca6f58eeed6d/providers/Microsoft.ServiceLinker/locations/EASTUS/operationStatuses/83b6a96e-392b-467a-92b6-46d33b142e38*0ECCC3EB662A73473DECEF6D1FDBF765FDFD5140CEBA31607A7C22F3476EDA28?api-version=2022-05-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00225300d1ad-0000-0100-0000-627c99370000\u0022",
        "mise-correlation-id": "b3eb1e70-5598-4d0a-916c-a91adcf1df28",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-writes": "1194"
      },
      "ResponseBody": {
        "id": "/subscriptions/9e347dc4-e2fb-4892-b7c0-ca6f58eeed6d/resourceGroups/SdkRg8269/providers/Microsoft.Web/sites/SdkWeb2926/providers/Microsoft.ServiceLinker/linkers/SdkLinker4626",
        "name": "SdkLinker4626",
        "type": "microsoft.servicelinker/linkers",
        "systemData": {
          "createdBy": "e554f854-a327-4842-ad4e-b1df37852e11",
          "createdByType": "Application",
          "createdAt": "2022-05-12T05:20:54.5505224Z",
          "lastModifiedBy": "e554f854-a327-4842-ad4e-b1df37852e11",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2022-05-12T05:20:54.5505224Z"
        },
        "properties": {
          "provisioningState": "Accepted",
          "targetService": {
            "id": "/subscriptions/9e347dc4-e2fb-4892-b7c0-ca6f58eeed6d/resourceGroups/SdkRg8269/providers/Microsoft.SignalRService/WebPubSub/SdkWebPubSub3946",
            "resourceProperties": null,
            "type": "AzureResource"
          },
          "authInfo": {
            "name": null,
            "secretInfo": null,
            "authType": "secret"
          },
          "vNetSolution": null,
          "clientType": "dotnet",
          "secretStore": null,
          "scope": null
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/9e347dc4-e2fb-4892-b7c0-ca6f58eeed6d/providers/Microsoft.ServiceLinker/locations/EASTUS/operationStatuses/83b6a96e-392b-467a-92b6-46d33b142e38*0ECCC3EB662A73473DECEF6D1FDBF765FDFD5140CEBA31607A7C22F3476EDA28?api-version=2022-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002204009abc-0000-0100-0000-627c99360000\u0022",
        "x-ms-ratelimit-remaining-subscription-reads": "11955"
      },
      "ResponseBody": {
        "id": "/subscriptions/9e347dc4-e2fb-4892-b7c0-ca6f58eeed6d/providers/Microsoft.ServiceLinker/locations/EASTUS/operationStatuses/83b6a96e-392b-467a-92b6-46d33b142e38*0ECCC3EB662A73473DECEF6D1FDBF765FDFD5140CEBA31607A7C22F3476EDA28",
        "name": "83b6a96e-392b-467a-92b6-46d33b142e38*0ECCC3EB662A73473DECEF6D1FDBF765FDFD5140CEBA31607A7C22F3476EDA28",
        "resourceId": "/subscriptions/9e347dc4-e2fb-4892-b7c0-ca6f58eeed6d/resourceGroups/SdkRg8269/providers/Microsoft.Web/sites/SdkWeb2926/providers/Microsoft.ServiceLinker/linkers/SdkLinker4626",
        "status": "Accepted",
        "startTime": "2022-05-12T05:20:54.9361189Z"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/9e347dc4-e2fb-4892-b7c0-ca6f58eeed6d/resourceGroups/SdkRg8269/providers/Microsoft.Web/sites/SdkWeb2926/providers/Microsoft.ServiceLinker/linkers/SdkLinker4626/listConfigurations?api-version=2022-05-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "a79dfed5-a5f4-4af4-8f85-f5bbbbad3b35",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-writes": "1198"
      },
      "ResponseBody": {
        "configurations": [
          {
            "name": "AZURE_WEBPUBSUB_CONNECTIONSTRING",
            "value": "Endpoint=https://sdkwebpubsub3946.webpubsub.azure.com;AccessKey=LdVjIuAf50J90LPjFdiy8bYGB0ZvxfDV07C/XUV7\u002BVI=;Version=1.0;"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/9e347dc4-e2fb-4892-b7c0-ca6f58eeed6d/providers/Microsoft.ServiceLinker/locations/EASTUS/operationStatuses/96525c8c-bbbd-4e82-8e3f-280b6537126e*0ECCC3EB662A73473DECEF6D1FDBF765FDFD5140CEBA31607A7C22F3476EDA28?api-version=2022-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00220400cabc-0000-0100-0000-627c99a20000\u0022",
        "x-ms-ratelimit-remaining-subscription-reads": "11940"
      },
      "ResponseBody": {
        "id": "/subscriptions/9e347dc4-e2fb-4892-b7c0-ca6f58eeed6d/providers/Microsoft.ServiceLinker/locations/EASTUS/operationStatuses/96525c8c-bbbd-4e82-8e3f-280b6537126e*0ECCC3EB662A73473DECEF6D1FDBF765FDFD5140CEBA31607A7C22F3476EDA28",
        "name": "96525c8c-bbbd-4e82-8e3f-280b6537126e*0ECCC3EB662A73473DECEF6D1FDBF765FDFD5140CEBA31607A7C22F3476EDA28",
        "resourceId": "/subscriptions/9e347dc4-e2fb-4892-b7c0-ca6f58eeed6d/resourceGroups/SdkRg8269/providers/Microsoft.Web/sites/SdkWeb2926/providers/Microsoft.ServiceLinker/linkers/SdkLinker4626",
        "status": "Succeeded",
        "startTime": "2022-05-12T05:22:38.8363514Z",
        "endTime": "2022-05-12T05:22:42.12579Z",
        "properties": null
      }
    }
  ],
  "Variables": {
    "RandomSeed": "1284178854",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "9e347dc4-e2fb-4892-b7c0-ca6f58eeed6d"
  }
}
