{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/9e347dc4-e2fb-4892-b7c0-ca6f58eeed6d?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11973"
      },
      "ResponseBody": {
        "id": "/subscriptions/9e347dc4-e2fb-4892-b7c0-ca6f58eeed6d",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "subscriptionId": "9e347dc4-e2fb-4892-b7c0-ca6f58eeed6d",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": "Project Cupertino Service DevINT",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/9e347dc4-e2fb-4892-b7c0-ca6f58eeed6d/resourcegroups/SdkRg2043?api-version=2021-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "eastus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1196"
      },
      "ResponseBody": {
        "id": "/subscriptions/9e347dc4-e2fb-4892-b7c0-ca6f58eeed6d/resourceGroups/SdkRg2043",
        "name": "SdkRg2043",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus",
        "tags": {},
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/9e347dc4-e2fb-4892-b7c0-ca6f58eeed6d/resourceGroups/SdkRg2043/providers/Microsoft.Web/sites/SdkWeb8794?api-version=2021-02-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "eastus",
        "properties": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "ETag": "\u00221D868E9909B5FC0\u0022",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "498"
      },
      "ResponseBody": {
        "id": "/subscriptions/9e347dc4-e2fb-4892-b7c0-ca6f58eeed6d/resourceGroups/SdkRg2043/providers/Microsoft.Web/sites/SdkWeb8794",
        "name": "SdkWeb8794",
        "type": "Microsoft.Web/sites",
        "kind": "app",
        "location": "eastus",
        "tags": {},
        "properties": {
          "name": "SdkWeb8794",
          "state": "Running",
          "hostNames": [
            "sdkweb8794.azurewebsites.net"
          ],
          "webSpace": "SdkRg2043-EastUSwebspace",
          "selfLink": "https://waws-prod-blu-239.api.azurewebsites.windows.net:454/subscriptions/9e347dc4-e2fb-4892-b7c0-ca6f58eeed6d/webspaces/SdkRg2043-EastUSwebspace/sites/SdkWeb8794",
          "repositorySiteName": "SdkWeb8794",
          "owner": null,
          "usageState": "Normal",
          "enabled": true,
          "adminEnabled": true,
          "enabledHostNames": [
            "sdkweb8794.azurewebsites.net",
            "sdkweb8794.scm.azurewebsites.net"
          ],
          "siteProperties": {
            "metadata": null,
            "properties": [
              {
                "name": "LinuxFxVersion",
                "value": ""
              },
              {
                "name": "WindowsFxVersion",
                "value": null
              }
            ],
            "appSettings": null
          },
          "availabilityState": "Normal",
          "sslCertificates": null,
          "csrs": [],
          "cers": null,
          "siteMode": null,
          "hostNameSslStates": [
            {
              "name": "sdkweb8794.azurewebsites.net",
              "sslState": "Disabled",
              "ipBasedSslResult": null,
              "virtualIP": null,
              "thumbprint": null,
              "toUpdate": null,
              "toUpdateIpBasedSsl": null,
              "ipBasedSslState": "NotConfigured",
              "hostType": "Standard"
            },
            {
              "name": "sdkweb8794.scm.azurewebsites.net",
              "sslState": "Disabled",
              "ipBasedSslResult": null,
              "virtualIP": null,
              "thumbprint": null,
              "toUpdate": null,
              "toUpdateIpBasedSsl": null,
              "ipBasedSslState": "NotConfigured",
              "hostType": "Repository"
            }
          ],
          "computeMode": null,
          "serverFarm": null,
          "serverFarmId": "/subscriptions/9e347dc4-e2fb-4892-b7c0-ca6f58eeed6d/resourceGroups/SdkRg2043/providers/Microsoft.Web/serverfarms/Default1zd",
          "reserved": false,
          "isXenon": false,
          "hyperV": false,
          "lastModifiedTimeUtc": "2022-05-16T05:55:36.9066667",
          "storageRecoveryDefaultState": "Running",
          "contentAvailabilityState": "Normal",
          "runtimeAvailabilityState": "Normal",
          "vnetRouteAllEnabled": false,
          "siteConfig": {
            "numberOfWorkers": 1,
            "defaultDocuments": null,
            "netFrameworkVersion": null,
            "phpVersion": null,
            "pythonVersion": null,
            "nodeVersion": null,
            "powerShellVersion": null,
            "linuxFxVersion": "",
            "windowsFxVersion": null,
            "requestTracingEnabled": null,
            "remoteDebuggingEnabled": null,
            "remoteDebuggingVersion": null,
            "httpLoggingEnabled": null,
            "azureMonitorLogCategories": null,
            "acrUseManagedIdentityCreds": false,
            "acrUserManagedIdentityID": null,
            "logsDirectorySizeLimit": null,
            "detailedErrorLoggingEnabled": null,
            "publishingUsername": null,
            "publishingPassword": null,
            "appSettings": null,
            "metadata": null,
            "connectionStrings": null,
            "machineKey": null,
            "handlerMappings": null,
            "documentRoot": null,
            "scmType": null,
            "use32BitWorkerProcess": null,
            "webSocketsEnabled": null,
            "alwaysOn": false,
            "javaVersion": null,
            "javaContainer": null,
            "javaContainerVersion": null,
            "appCommandLine": null,
            "managedPipelineMode": null,
            "virtualApplications": null,
            "winAuthAdminState": null,
            "winAuthTenantState": null,
            "customAppPoolIdentityAdminState": null,
            "customAppPoolIdentityTenantState": null,
            "runtimeADUser": null,
            "runtimeADUserPassword": null,
            "loadBalancing": null,
            "routingRules": null,
            "experiments": null,
            "limits": null,
            "autoHealEnabled": null,
            "autoHealRules": null,
            "tracingOptions": null,
            "vnetName": null,
            "vnetRouteAllEnabled": null,
            "vnetPrivatePortsCount": null,
            "publicNetworkAccess": null,
            "cors": null,
            "push": null,
            "apiDefinition": null,
            "apiManagementConfig": null,
            "autoSwapSlotName": null,
            "localMySqlEnabled": null,
            "managedServiceIdentityId": null,
            "xManagedServiceIdentityId": null,
            "keyVaultReferenceIdentity": null,
            "ipSecurityRestrictions": [
              {
                "ipAddress": "Any",
                "action": "Allow",
                "priority": 1,
                "name": "Allow all",
                "description": "Allow all access"
              }
            ],
            "scmIpSecurityRestrictions": [
              {
                "ipAddress": "Any",
                "action": "Allow",
                "priority": 1,
                "name": "Allow all",
                "description": "Allow all access"
              }
            ],
            "scmIpSecurityRestrictionsUseMain": null,
            "http20Enabled": false,
            "minTlsVersion": null,
            "minTlsCipherSuite": null,
            "supportedTlsCipherSuites": null,
            "scmMinTlsVersion": null,
            "ftpsState": null,
            "preWarmedInstanceCount": null,
            "functionAppScaleLimit": 0,
            "healthCheckPath": null,
            "fileChangeAuditEnabled": null,
            "functionsRuntimeScaleMonitoringEnabled": null,
            "websiteTimeZone": null,
            "minimumElasticInstanceCount": 0,
            "azureStorageAccounts": null,
            "http20ProxyFlag": null,
            "sitePort": null,
            "antivirusScanEnabled": null,
            "storageType": null
          },
          "deploymentId": "SdkWeb8794",
          "slotName": null,
          "trafficManagerHostNames": null,
          "sku": "Free",
          "scmSiteAlsoStopped": false,
          "targetSwapSlot": null,
          "hostingEnvironment": null,
          "hostingEnvironmentProfile": null,
          "clientAffinityEnabled": true,
          "clientCertEnabled": false,
          "clientCertMode": "Required",
          "clientCertExclusionPaths": null,
          "hostNamesDisabled": false,
          "domainVerificationIdentifiers": null,
          "customDomainVerificationId": "AF0CB5629C6ADB7928C73971B430DD08FDC363079825765CACFFBAEDE7E095EC",
          "kind": "app",
          "inboundIpAddress": "20.49.104.29",
          "possibleInboundIpAddresses": "20.49.104.29",
          "ftpUsername": "SdkWeb8794\\$SdkWeb8794",
          "ftpsHostName": "ftps://waws-prod-blu-239.ftp.azurewebsites.windows.net/site/wwwroot",
          "outboundIpAddresses": "52.151.220.252,52.151.221.14,52.151.221.30,52.151.221.42,52.151.221.72,52.151.221.74,20.49.104.29",
          "possibleOutboundIpAddresses": "52.151.220.252,52.151.221.14,52.151.221.30,52.151.221.42,52.151.221.72,52.151.221.74,52.151.221.77,52.151.221.85,20.62.215.142,52.151.221.117,52.151.221.123,52.151.221.145,52.151.221.192,52.151.221.222,52.151.222.76,52.151.222.151,52.151.222.182,52.151.222.189,52.151.222.219,52.151.222.248,52.151.223.1,52.151.223.5,52.151.223.18,52.151.223.29,52.151.223.31,52.151.223.53,52.151.223.69,52.151.223.75,52.151.223.76,52.151.223.93,20.49.104.29",
          "containerSize": 0,
          "dailyMemoryTimeQuota": 0,
          "suspendedTill": null,
          "siteDisabledReason": 0,
          "functionExecutionUnitsCache": null,
          "maxNumberOfWorkers": null,
          "homeStamp": "waws-prod-blu-239",
          "cloningInfo": null,
          "hostingEnvironmentId": null,
          "tags": {},
          "resourceGroup": "SdkRg2043",
          "defaultHostName": "sdkweb8794.azurewebsites.net",
          "slotSwapStatus": null,
          "httpsOnly": false,
          "redundancyMode": "None",
          "inProgressOperationId": null,
          "geoDistributions": null,
          "privateEndpointConnections": null,
          "publicNetworkAccess": null,
          "buildVersion": null,
          "targetBuildVersion": null,
          "migrationState": null,
          "eligibleLogCategories": "AppServiceAppLogs,AppServiceAuditLogs,AppServiceConsoleLogs,AppServiceHTTPLogs,AppServiceIPSecAuditLogs,AppServicePlatformLogs,ScanLogs",
          "storageAccountRequired": false,
          "virtualNetworkSubnetId": null,
          "keyVaultReferenceIdentity": "SystemAssigned"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/9e347dc4-e2fb-4892-b7c0-ca6f58eeed6d/resourceGroups/SdkRg2043/providers/Microsoft.SignalRService/webPubSub/SdkWebPubSub1740?api-version=2021-10-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "sku": {
          "name": "Standard_S1"
        },
        "tags": {},
        "location": "eastus",
        "properties": {
          "liveTraceConfiguration": {
            "categories": []
          },
          "resourceLogConfiguration": {
            "categories": []
          },
          "networkACLs": {
            "publicNetwork": {
              "allow": [],
              "deny": []
            }
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/9e347dc4-e2fb-4892-b7c0-ca6f58eeed6d/resourceGroups/SdkRg2043/providers/Microsoft.SignalRService/WebPubSub/SdkWebPubSub1740/operationStatuses/e28d6d3b-da29-4777-963c-2f3e4e756bf1?api-version=2021-10-01",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/9e347dc4-e2fb-4892-b7c0-ca6f58eeed6d/resourceGroups/SdkRg2043/providers/Microsoft.SignalRService/WebPubSub/SdkWebPubSub1740/operationResults/e28d6d3b-da29-4777-963c-2f3e4e756bf1?api-version=2021-10-01",
        "x-ms-ratelimit-remaining-subscription-writes": "1195",
        "x-rp-server-mvid": "e58ba2c2-e450-4347-b66c-f3ad6f1de555"
      },
      "ResponseBody": {
        "sku": {
          "name": "Standard_S1",
          "tier": "Standard",
          "size": "S1",
          "capacity": 1
        },
        "properties": {
          "provisioningState": "Creating",
          "externalIP": null,
          "hostName": "sdkwebpubsub1740.webpubsub.azure.com",
          "publicPort": 443,
          "serverPort": 443,
          "version": "1.0-preview",
          "privateEndpointConnections": [],
          "sharedPrivateLinkResources": [],
          "tls": {
            "clientCertEnabled": false
          },
          "hostNamePrefix": "sdkwebpubsub1740",
          "liveTraceConfiguration": {
            "enabled": null,
            "categories": []
          },
          "resourceLogConfiguration": {
            "categories": []
          },
          "networkACLs": {
            "defaultAction": "Deny",
            "publicNetwork": {
              "allow": [],
              "deny": []
            },
            "privateEndpoints": []
          },
          "publicNetworkAccess": "Enabled",
          "disableLocalAuth": false,
          "disableAadAuth": false
        },
        "systemData": {
          "createdBy": "e554f854-a327-4842-ad4e-b1df37852e11",
          "createdByType": "Application",
          "createdAt": "2022-05-16T05:55:56.0504544Z",
          "lastModifiedBy": "e554f854-a327-4842-ad4e-b1df37852e11",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2022-05-16T05:55:56.0504544Z"
        },
        "location": "eastus",
        "tags": {},
        "id": "/subscriptions/9e347dc4-e2fb-4892-b7c0-ca6f58eeed6d/resourceGroups/SdkRg2043/providers/Microsoft.SignalRService/WebPubSub/SdkWebPubSub1740",
        "name": "SdkWebPubSub1740",
        "type": "Microsoft.SignalRService/WebPubSub"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/9e347dc4-e2fb-4892-b7c0-ca6f58eeed6d/resourceGroups/SdkRg2043/providers/Microsoft.SignalRService/WebPubSub/SdkWebPubSub1740/operationStatuses/e28d6d3b-da29-4777-963c-2f3e4e756bf1?api-version=2021-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11970",
        "x-rp-server-mvid": "e58ba2c2-e450-4347-b66c-f3ad6f1de555"
      },
      "ResponseBody": {
        "id": "/subscriptions/9e347dc4-e2fb-4892-b7c0-ca6f58eeed6d/resourceGroups/SdkRg2043/providers/Microsoft.SignalRService/WebPubSub/SdkWebPubSub1740/operationStatuses/e28d6d3b-da29-4777-963c-2f3e4e756bf1",
        "name": "e28d6d3b-da29-4777-963c-2f3e4e756bf1",
        "status": "Running",
        "startTime": "2022-05-16T05:55:57.5377236Z"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/9e347dc4-e2fb-4892-b7c0-ca6f58eeed6d/resourceGroups/SdkRg2043/providers/Microsoft.SignalRService/WebPubSub/SdkWebPubSub1740/operationStatuses/e28d6d3b-da29-4777-963c-2f3e4e756bf1?api-version=2021-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11961",
        "x-rp-server-mvid": "e58ba2c2-e450-4347-b66c-f3ad6f1de555"
      },
      "ResponseBody": {
        "id": "/subscriptions/9e347dc4-e2fb-4892-b7c0-ca6f58eeed6d/resourceGroups/SdkRg2043/providers/Microsoft.SignalRService/WebPubSub/SdkWebPubSub1740/operationStatuses/e28d6d3b-da29-4777-963c-2f3e4e756bf1",
        "name": "e28d6d3b-da29-4777-963c-2f3e4e756bf1",
        "status": "Succeeded",
        "startTime": "2022-05-16T05:55:57.5377236Z",
        "endTime": "2022-05-16T05:57:13.3856925Z"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/9e347dc4-e2fb-4892-b7c0-ca6f58eeed6d/resourceGroups/SdkRg2043/providers/Microsoft.Web/sites/SdkWeb8794/providers/Microsoft.ServiceLinker/linkers/SdkLinker7380?api-version=2022-05-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "targetService": {
            "id": "/subscriptions/9e347dc4-e2fb-4892-b7c0-ca6f58eeed6d/resourceGroups/SdkRg2043/providers/Microsoft.SignalRService/WebPubSub/SdkWebPubSub1740",
            "type": "AzureResource"
          },
          "authInfo": {
            "authType": "secret"
          },
          "clientType": "dotnet"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/9e347dc4-e2fb-4892-b7c0-ca6f58eeed6d/providers/Microsoft.ServiceLinker/locations/EASTUS/operationStatuses/fcd18167-63bc-47e5-98d5-99a5fc376df1*527AE3DC097258F181F914A38BB8F09BA2BAFB4A30450C04CD36DE3B1A1DC38D?api-version=2022-05-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00220802cba5-0000-0200-0000-6281e7d60000\u0022",
        "mise-correlation-id": "916e9faf-a89a-4aa8-8f45-556093f65125",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-writes": "1194"
      },
      "ResponseBody": {
        "id": "/subscriptions/9e347dc4-e2fb-4892-b7c0-ca6f58eeed6d/resourceGroups/SdkRg2043/providers/Microsoft.Web/sites/SdkWeb8794/providers/Microsoft.ServiceLinker/linkers/SdkLinker7380",
        "name": "SdkLinker7380",
        "type": "microsoft.servicelinker/linkers",
        "systemData": {
          "createdBy": "e554f854-a327-4842-ad4e-b1df37852e11",
          "createdByType": "Application",
          "createdAt": "2022-05-16T05:57:41.7388993Z",
          "lastModifiedBy": "e554f854-a327-4842-ad4e-b1df37852e11",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2022-05-16T05:57:41.7388993Z"
        },
        "properties": {
          "provisioningState": "Accepted",
          "targetService": {
            "id": "/subscriptions/9e347dc4-e2fb-4892-b7c0-ca6f58eeed6d/resourceGroups/SdkRg2043/providers/Microsoft.SignalRService/WebPubSub/SdkWebPubSub1740",
            "resourceProperties": null,
            "type": "AzureResource"
          },
          "authInfo": {
            "name": null,
            "secretInfo": null,
            "authType": "secret"
          },
          "vNetSolution": null,
          "clientType": "dotnet",
          "secretStore": null,
          "scope": null
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/9e347dc4-e2fb-4892-b7c0-ca6f58eeed6d/providers/Microsoft.ServiceLinker/locations/EASTUS/operationStatuses/fcd18167-63bc-47e5-98d5-99a5fc376df1*527AE3DC097258F181F914A38BB8F09BA2BAFB4A30450C04CD36DE3B1A1DC38D?api-version=2022-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002297097f15-0000-0200-0000-6281e7d60000\u0022",
        "x-ms-ratelimit-remaining-subscription-reads": "11958"
      },
      "ResponseBody": {
        "id": "/subscriptions/9e347dc4-e2fb-4892-b7c0-ca6f58eeed6d/providers/Microsoft.ServiceLinker/locations/EASTUS/operationStatuses/fcd18167-63bc-47e5-98d5-99a5fc376df1*527AE3DC097258F181F914A38BB8F09BA2BAFB4A30450C04CD36DE3B1A1DC38D",
        "name": "fcd18167-63bc-47e5-98d5-99a5fc376df1*527AE3DC097258F181F914A38BB8F09BA2BAFB4A30450C04CD36DE3B1A1DC38D",
        "resourceId": "/subscriptions/9e347dc4-e2fb-4892-b7c0-ca6f58eeed6d/resourceGroups/SdkRg2043/providers/Microsoft.Web/sites/SdkWeb8794/providers/Microsoft.ServiceLinker/linkers/SdkLinker7380",
        "status": "Accepted",
        "startTime": "2022-05-16T05:57:42.7476377Z"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/9e347dc4-e2fb-4892-b7c0-ca6f58eeed6d/resourceGroups/SdkRg2043/providers/Microsoft.Web/sites/SdkWeb8794/providers/Microsoft.ServiceLinker/linkers?api-version=2022-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correl[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/9e347dc4-e2fb-4892-b7c0-ca6f58eeed6d/resourceGroups/SdkRg2043/providers/Microsoft.Web/sites/SdkWeb8794/providers/Microsoft.ServiceLinker/linkers/SdkLinker7380/listConfigurations?api-version=2022-05-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "97b98395-6b9a-4a54-adab-cd6cdb4d02ea",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-writes": "1198"
      },
      "ResponseBody": {
        "configurations": [
          {
            "name": "AZURE_WEBPUBSUB_CONNECTIONSTRING",
            "value": "Endpoint=https://sdkwebpubsub1740.webpubsub.azure.com;AccessKey=lm3c1zh1Js7NbrsF7BICTKYnvnazamj16Ewf0gZ1f0w=;Version=1.0;"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/9e347dc4-e2fb-4892-b7c0-ca6f58eeed6d/providers/Microsoft.ServiceLinker/locations/EASTUS/operationStatuses/6fe05ebf-1acd-4871-bd9d-474520b8474a*527AE3DC097258F181F914A38BB8F09BA2BAFB4A30450C04CD36DE3B1A1DC38D?api-version=2022-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00220600550a-0000-0100-0000-6281e8430000\u0022",
        "x-ms-ratelimit-remaining-subscription-reads": "11941"
      },
      "ResponseBody": {
        "id": "/subscriptions/9e347dc4-e2fb-4892-b7c0-ca6f58eeed6d/providers/Microsoft.ServiceLinker/locations/EASTUS/operationStatuses/6fe05ebf-1acd-4871-bd9d-474520b8474a*527AE3DC097258F181F914A38BB8F09BA2BAFB4A30450C04CD36DE3B1A1DC38D",
        "name": "6fe05ebf-1acd-4871-bd9d-474520b8474a*527AE3DC097258F181F914A38BB8F09BA2BAFB4A30450C04CD36DE3B1A1DC38D",
        "resourceId": "/subscriptions/9e347dc4-e2fb-4892-b7c0-ca6f58eeed6d/resourceGroups/SdkRg2043/providers/Microsoft.Web/sites/SdkWeb8794/providers/Microsoft.ServiceLinker/linkers/SdkLinker7380",
        "status": "Succeeded",
        "startTime": "2022-05-16T05:59:26.0586296Z",
        "endTime": "2022-05-16T05:59:31.3279085Z",
        "properties": null
      }
    }
  ],
  "Variables": {
    "RandomSeed": "1086916386",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "9e347dc4-e2fb-4892-b7c0-ca6f58eeed6d"
  }
}
