{
  "Entries": [
    {
      "RequestUri": "https://amandacanary.file.core.windows.net/test-share-1792b721-9ef4-4ca1-52ef-c8113d7d4750?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 20 Oct 2021 21:07:35 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9940DA4079E97\u0022",
        "Last-Modified": "Wed, 20 Oct 2021 21:07:35 GMT",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://amandacanary.file.core.windows.net/test-share-1792b721-9ef4-4ca1-52ef-c8113d7d4750/test-file-1bab8e1a-1042-78ca-62fc-04cfce9344ec",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Wed, 20 Oct 2021 21:07:35 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9940DA418DDDB\u0022",
        "Last-Modified": "Wed, 20 Oct 2021 21:07:35 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2021-10-20T21:07:35.8214619Z",
        "x-ms-file-creation-time": "2021-10-20T21:07:35.8214619Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2021-10-20T21:07:35.8214619Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "1729393344912377937*12727421398096584927",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://amandacanary.file.core.windows.net/test-share-1792b721-9ef4-4ca1-52ef-c8113d7d4750/test-file-1bab8e1a-1042-78ca-62fc-04cfce9344ec?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 20 Oct 2021 21:07:35 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2021-04-10",
        "x-ms-write": "update"
      },
      "RequestBody": "jBEBXGAsigwWd7XJueVDAzzgtzMI4U347/sAkyOTw9aoTy/3TVaHLX5oT4vZJu1w5\u002B7ReNNPjarDCWxlK/fpg7PeIGq2TLXlWIq1n5HBHsgNkKs1wksDWMGENETqIQGHf8zX\u002BgaCuZo56x9Imu0ZAeqjV5tLtMFo28eoMRhw\u002BzaILSDE6iPCi9YR\u002B9crur7UajJZRspmPMsKbx8\u002B2YiCyO/owG3NVBfH4czEOrjqPCAJ1MblFrRsIfFUuXoDg7FOjjPnQvlRBhYbkmX9oQITIDL\u002BNQXBnbE6fJ57eJqcw14bdqyEAvknt82wyoRPb4DvQZlIBU2rjPCBrMZb1Y57fs8H4SpVjh041303EdMt6w0ejDcBVL0Qb\u002Bm7A1YzzOI/NUu0SI1VmbJ7Dy7Pc3sdU8G5PEhXeSkR9nJBmovH[...]
    {
      "RequestUri": "https://amandacanary.file.core.windows.net/test-share-1792b721-9ef4-4ca1-52ef-c8113d7d4750/test-file-1bab8e1a-1042-78ca-62fc-04cfce9344ec",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 20 Oct 2021 21:07:35 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-range-get-content-md5": "true",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-MD5": "9bAAqmHTPAVfQEilBABHbw==",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D9940DA426225B\u0022",
        "Last-Modified": "Wed, 20 Oct 2021 21:07:35 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2021-10-20T21:07:35.8214619Z",
        "x-ms-file-creation-time": "2021-10-20T21:07:35.8214619Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2021-10-20T21:07:35.8214619Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "1729393344912377937*12727421398096584927",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": "jBEBXGAsigwWd7XJueVDAzzgtzMI4U347/sAkyOTw9aoTy/3TVaHLX5oT4vZJu1w5\u002B7ReNNPjarDCWxlK/fpg7PeIGq2TLXlWIq1n5HBHsgNkKs1wksDWMGENETqIQGHf8zX\u002BgaCuZo56x9Imu0ZAeqjV5tLtMFo28eoMRhw\u002BzaILSDE6iPCi9YR\u002B9crur7UajJZRspmPMsKbx8\u002B2YiCyO/owG3NVBfH4czEOrjqPCAJ1MblFrRsIfFUuXoDg7FOjjPnQvlRBhYbkmX9oQITIDL\u002BNQXBnbE6fJ57eJqcw14bdqyEAvknt82wyoRPb4DvQZlIBU2rjPCBrMZb1Y57fs8H4SpVjh041303EdMt6w0[...]
    {
      "RequestUri": "https://amandacanary.file.core.windows.net/test-share-1792b721-9ef4-4ca1-52ef-c8113d7d4750?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 20 Oct 2021 21:07:35 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1424333318",
    "Storage_TestConfigDefault": "ProductionTenant\namandacanary\nU2FuaXRpemVk\nhttps://amandacanary.blob.core.windows.net\nhttps://amandacanary.file.core.windows.net\nhttps://amandacanary.queue.core.windows.net\nhttps://amandacanary.table.core.windows.net\n\n\n\n\nhttps://amandacanary-secondary.blob.core.windows.net\nhttps://amandacanary-secondary.file.core.windows.net\nhttps://amandacanary-secondary.queue.core.windows.net\nhttps://amandacanary-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandacanary.blob.core.windows.net/;QueueEndpoint=https://amandacanary.queue.core.windows.net/;FileEndpoint=https://amandacanary.file.core.windows.net/;BlobSecondaryEndpoint=https://amandacanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandacanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandacanary-secondary.file.core.windows.net/;AccountName=amandacanary;AccountKey=Kg==;\ntestscope2\n\n"
  }
}