{
  "Entries": [
    {
      "RequestUri": "https://amandacanary.file.core.windows.net/test-share-c5b6953f-9934-d2f5-b915-23904b8abed9?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 20 Oct 2021 18:09:43 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D993F4CB057E67\u0022",
        "Last-Modified": "Wed, 20 Oct 2021 18:09:43 GMT",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://amandacanary.file.core.windows.net/test-share-c5b6953f-9934-d2f5-b915-23904b8abed9/test-file-90e5fd70-62dd-00ed-5b95-eef18efb1939",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Wed, 20 Oct 2021 18:09:43 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D993F4CB13C327\u0022",
        "Last-Modified": "Wed, 20 Oct 2021 18:09:43 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2021-10-20T18:09:43.8009127Z",
        "x-ms-file-creation-time": "2021-10-20T18:09:43.8009127Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2021-10-20T18:09:43.8009127Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "1729393344912377937*12727421398096584927",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://amandacanary.file.core.windows.net/test-share-c5b6953f-9934-d2f5-b915-23904b8abed9/test-file-90e5fd70-62dd-00ed-5b95-eef18efb1939?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 20 Oct 2021 18:09:43 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2020-12-06",
        "x-ms-write": "update"
      },
      "RequestBody": "CfE5Sl1Bt1lZvonTeQxdj\u002BehYRpC51hm9Ze4qAWgfoB7Y\u002BCD7\u002BMk7nnufcOfuO0bL1G02FnLeCKY0lXFiA5UuUAJVxUr2p8DfXOhVGmVxzyqnHmz7KUnr\u002Bu96hyOX2VqmsSDlmHX71SxsFvmKSS4AwsZGuyVoMya4agqbvCDdR4NN7qlEjHb06wkAjxKQYbGBecRdUR51fn36LS4rYFkLjs92PJqE/DaPUdAcJ6QT58iY2gJcf/ZlGLArSl8IiYqv9MADWmTXPH2Njf9OWRbZ5kUlkkZW7w7Y0SQqWXHXRshFbDKj0I2jgd3EjrI3Fv9ZEaQZ4vcEWQXxKkkA7KLL9kc2yO0kddW3QhBokiBc4bok0QfNvaPRARMssuYEYpU6\u002BNhrAA3SNNuOYmDm28blVEjPHBtbPjjjJcfaN4Mvsx97LZkIM[...]
    {
      "RequestUri": "https://amandacanary.file.core.windows.net/test-share-c5b6953f-9934-d2f5-b915-23904b8abed9/test-file-90e5fd70-62dd-00ed-5b95-eef18efb1939",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 20 Oct 2021 18:09:43 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-range-get-content-md5": "true",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-MD5": "r7W2jHur8omGjr\u002Bc6IWlpQ==",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D993F4CB212EAA\u0022",
        "Last-Modified": "Wed, 20 Oct 2021 18:09:43 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2021-10-20T18:09:43.8009127Z",
        "x-ms-file-creation-time": "2021-10-20T18:09:43.8009127Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2021-10-20T18:09:43.8009127Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "1729393344912377937*12727421398096584927",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": "CfE5Sl1Bt1lZvonTeQxdj\u002BehYRpC51hm9Ze4qAWgfoB7Y\u002BCD7\u002BMk7nnufcOfuO0bL1G02FnLeCKY0lXFiA5UuUAJVxUr2p8DfXOhVGmVxzyqnHmz7KUnr\u002Bu96hyOX2VqmsSDlmHX71SxsFvmKSS4AwsZGuyVoMya4agqbvCDdR4NN7qlEjHb06wkAjxKQYbGBecRdUR51fn36LS4rYFkLjs92PJqE/DaPUdAcJ6QT58iY2gJcf/ZlGLArSl8IiYqv9MADWmTXPH2Njf9OWRbZ5kUlkkZW7w7Y0SQqWXHXRshFbDKj0I2jgd3EjrI3Fv9ZEaQZ4vcEWQXxKkkA7KLL9kc2yO0kddW3QhBokiBc4bok0QfNvaPR[...]
    {
      "RequestUri": "https://amandacanary.file.core.windows.net/test-share-c5b6953f-9934-d2f5-b915-23904b8abed9?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 20 Oct 2021 18:09:44 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1262349687",
    "Storage_TestConfigDefault": "ProductionTenant\namandacanary\nU2FuaXRpemVk\nhttps://amandacanary.blob.core.windows.net\nhttps://amandacanary.file.core.windows.net\nhttps://amandacanary.queue.core.windows.net\nhttps://amandacanary.table.core.windows.net\n\n\n\n\nhttps://amandacanary-secondary.blob.core.windows.net\nhttps://amandacanary-secondary.file.core.windows.net\nhttps://amandacanary-secondary.queue.core.windows.net\nhttps://amandacanary-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandacanary.blob.core.windows.net/;QueueEndpoint=https://amandacanary.queue.core.windows.net/;FileEndpoint=https://amandacanary.file.core.windows.net/;BlobSecondaryEndpoint=https://amandacanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandacanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandacanary-secondary.file.core.windows.net/;AccountName=amandacanary;AccountKey=Kg==;\ntestscope2\n\n"
  }
}