{
  "Entries": [
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-080f4c05-cdd5-641f-18da-629a91f3a9c5?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 12 Oct 2021 05:47:02 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D98D43B74CDD2E\u0022",
        "Last-Modified": "Tue, 12 Oct 2021 05:47:02 GMT",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-080f4c05-cdd5-641f-18da-629a91f3a9c5/test-file-c100755d-f85e-0b59-a8bb-1c2b7e1976e2",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "3072",
        "x-ms-date": "Tue, 12 Oct 2021 05:47:02 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D98D43B7569798\u0022",
        "Last-Modified": "Tue, 12 Oct 2021 05:47:02 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2021-10-12T05:47:02.7866520Z",
        "x-ms-file-creation-time": "2021-10-12T05:47:02.7866520Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2021-10-12T05:47:02.7866520Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "4010187179898695473*11459378189709739967",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-080f4c05-cdd5-641f-18da-629a91f3a9c5/test-file-c100755d-f85e-0b59-a8bb-1c2b7e1976e2?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 12 Oct 2021 05:47:02 GMT",
        "x-ms-range": "bytes=0-3071",
        "x-ms-version": "2021-04-10",
        "x-ms-write": "update"
      },
      "RequestBody": "/6J7r7mAtKz5znIY5MAWpgrxYdZumlENEdHyt1mDa1NvVV\u002Br9h\u002B3uAfZFaUyxA1QfFnE4\u002BF3JGRRbZ7ojfxSdWMeqI9ga7DrOqjPlYWs203EoTsAv4dy\u002BDD7WYiBzysKhp9CExt98BCo2ag4p4/epZFQI\u002BvAUrbbq69eZREnaWt8xA7macgxRrEqV\u002BXeOVChHLT3MKs/STTpZmdrH4v/gXA9u\u002BOA\u002BDvJH906lvrQ/HJfvEhdMDjAPXvZ/AJgxSYlK9Z1oX1tICN4LRHOBLM6GGr1DGJCoVE3fH5opvs5aFq2FGojW1v08Zwk5AIn8TjHn\u002BSYa7jD44mFPiT/BXkoP8S3GPBIFr0OARvGHb1OD4pGoAcXoP2h8jHgnhw39ewi/KQ9cNlIfogmimqc/cXMNi6ZuGRyEJ[...]
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-080f4c05-cdd5-641f-18da-629a91f3a9c5?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 12 Oct 2021 05:47:02 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1844894780",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttp://seanmcccanary3.blob.core.windows.net\nhttp://seanmcccanary3.file.core.windows.net\nhttp://seanmcccanary3.queue.core.windows.net\nhttp://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttp://seanmcccanary3-secondary.blob.core.windows.net\nhttp://seanmcccanary3-secondary.file.core.windows.net\nhttp://seanmcccanary3-secondary.queue.core.windows.net\nhttp://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=http://seanmcccanary3.queue.core.windows.net/;FileEndpoint=http://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=http://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\n[encryption scope]\n\n"
  }
}