{
  "Entries": [
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-b65c250b-d345-44f2-758b-575de317280a?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 11 Oct 2021 23:46:18 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D98D1152877629\u0022",
        "Last-Modified": "Mon, 11 Oct 2021 23:46:18 GMT",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-b65c250b-d345-44f2-758b-575de317280a/test-file-38dd157a-13c7-d63d-86dc-9a4a3d116c4d",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "10240",
        "x-ms-date": "Mon, 11 Oct 2021 23:46:18 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D98D115291855B\u0022",
        "Last-Modified": "Mon, 11 Oct 2021 23:46:18 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2021-10-11T23:46:18.8864859Z",
        "x-ms-file-creation-time": "2021-10-11T23:46:18.8864859Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2021-10-11T23:46:18.8864859Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "4010187179898695473*11459378189709739967",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-b65c250b-d345-44f2-758b-575de317280a/test-file-38dd157a-13c7-d63d-86dc-9a4a3d116c4d",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 11 Oct 2021 23:46:18 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D98D115291855B\u0022",
        "Last-Modified": "Mon, 11 Oct 2021 23:46:18 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2021-10-11T23:46:18.8864859Z",
        "x-ms-file-creation-time": "2021-10-11T23:46:18.8864859Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2021-10-11T23:46:18.8864859Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "4010187179898695473*11459378189709739967",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-b65c250b-d345-44f2-758b-575de317280a/test-file-38dd157a-13c7-d63d-86dc-9a4a3d116c4d?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-MD5": "jSheRjY\u002BYTpsMQ94xecQvA==",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Mon, 11 Oct 2021 23:46:18 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2020-12-06",
        "x-ms-write": "update"
      },
      "RequestBody": "0j4wv\u002BHPtwF9oHHJgFhB9OEcqAzuGGbkfBtn0dsp90L7MsjFUOlZ5R4nkgMNgsAgDTmcqFl0MrnYTEPFaOYmVKguzU6Pe6T4wsLtxoVi1/pbR8SijE/ohv8O7AOmlH04AT5a3rRykJGUpOWXh2w0dXVJaiAihMdZRUdOgY6gUS5FtcRHB/hF6LczDehqUf\u002BT2neOXSlcFn13AZhsIw8C81K2UdGo7G18A4Fp73be7vRIu6YXEvQF6Z9GzwZf2cWnMBmVtAAt6\u002B0JEVmn8ycHmROkI2do6uFdsWgyYR1nHSq8wb5cSDr0G9C5DgCaXfZ3PzbzurVdP0U4OAKX\u002BonQofMv6zFoqlDYsAiXr9zgw1RyuiHmdGN0XoJ4JBA3XCFG6GwMa3HEDpXmGgmtxo9pV3SuJT9o6SyQuo2v8IVAoFTnUMZv01firay[...]
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-b65c250b-d345-44f2-758b-575de317280a?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 11 Oct 2021 23:46:19 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1091329693",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttp://seanmcccanary3.blob.core.windows.net\nhttp://seanmcccanary3.file.core.windows.net\nhttp://seanmcccanary3.queue.core.windows.net\nhttp://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttp://seanmcccanary3-secondary.blob.core.windows.net\nhttp://seanmcccanary3-secondary.file.core.windows.net\nhttp://seanmcccanary3-secondary.queue.core.windows.net\nhttp://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=http://seanmcccanary3.queue.core.windows.net/;FileEndpoint=http://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=http://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\n[encryption scope]\n\n"
  }
}