{
  "Entries": [
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-1c379830-10ea-4dcc-995e-f8f37d111e5e?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 12 Oct 2021 05:47:02 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D98D43B715213C\u0022",
        "Last-Modified": "Tue, 12 Oct 2021 05:47:02 GMT",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-1c379830-10ea-4dcc-995e-f8f37d111e5e/test-file-22a8c749-373f-fe17-d2b4-ec845c52e6ee",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "3072",
        "x-ms-date": "Tue, 12 Oct 2021 05:47:02 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D98D43B71F6302\u0022",
        "Last-Modified": "Tue, 12 Oct 2021 05:47:02 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2021-10-12T05:47:02.4248578Z",
        "x-ms-file-creation-time": "2021-10-12T05:47:02.4248578Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2021-10-12T05:47:02.4248578Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "4010187179898695473*11459378189709739967",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-1c379830-10ea-4dcc-995e-f8f37d111e5e/test-file-22a8c749-373f-fe17-d2b4-ec845c52e6ee?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 12 Oct 2021 05:47:02 GMT",
        "x-ms-range": "bytes=0-3071",
        "x-ms-version": "2020-12-06",
        "x-ms-write": "update"
      },
      "RequestBody": "Np7Rk25I7Lf2BFN0g2FgVwO8hptqNCXF7K\u002B7PcNwuO9vLDRNcMfNJPXv8zXPDvzlJV4tvlJr9gJ5C6a\u002BjK7zhktkBVYsEuY87mKlekHw9t6z1hdlQvmcBDYy1GUgDpdG\u002B2zpawmluRN48c/wxXvAiRTICraWjkNRxwAg\u002BT6AG9/KXn7VBovVDh0E7VEprD66ckpQWAPhsG0pmKMIhL/U99XwJWf964OJ8/yZkaHxJxvCZofzMMPb6a4Rq23ozIldL/V8OYbXvYbHx2UHSB7LN3GHRh444ccSFDy56z8VoSZyO2Gsde2V6qkAK2hd1KGPRXT8YIZqJU4uaSVJHtFHsiY\u002BlAy8H8KD8Vt1N7ZetD\u002BbKaXLGECfBxUTfQvHS8zXuXlCHz\u002BU0yayeW4q9e6Xz7XlrvQrfJnln4z2qKG2[...]
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-1c379830-10ea-4dcc-995e-f8f37d111e5e?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 12 Oct 2021 05:47:02 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "2001903984",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttp://seanmcccanary3.blob.core.windows.net\nhttp://seanmcccanary3.file.core.windows.net\nhttp://seanmcccanary3.queue.core.windows.net\nhttp://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttp://seanmcccanary3-secondary.blob.core.windows.net\nhttp://seanmcccanary3-secondary.file.core.windows.net\nhttp://seanmcccanary3-secondary.queue.core.windows.net\nhttp://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=http://seanmcccanary3.queue.core.windows.net/;FileEndpoint=http://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=http://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\n[encryption scope]\n\n"
  }
}