{
  "Entries": [
    {
      "RequestUri": "https://amandacanary.file.core.windows.net/test-share-2bb3db55-0434-4e1a-4b15-15d62770e742?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 20 Oct 2021 21:07:57 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9940DB176A5B1\u0022",
        "Last-Modified": "Wed, 20 Oct 2021 21:07:58 GMT",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://amandacanary.file.core.windows.net/test-share-2bb3db55-0434-4e1a-4b15-15d62770e742/test-file-5f34ce09-fd4c-fcb4-7b22-f783ef5a503c",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Wed, 20 Oct 2021 21:07:57 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9940DB1877281\u0022",
        "Last-Modified": "Wed, 20 Oct 2021 21:07:58 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2021-10-20T21:07:58.3565441Z",
        "x-ms-file-creation-time": "2021-10-20T21:07:58.3565441Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2021-10-20T21:07:58.3565441Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "1729393344912377937*12727421398096584927",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://amandacanary.file.core.windows.net/test-share-2bb3db55-0434-4e1a-4b15-15d62770e742/test-file-5f34ce09-fd4c-fcb4-7b22-f783ef5a503c?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-MD5": "lWH3BJyw8AqjFNzofxgpxA==",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 20 Oct 2021 21:07:57 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2021-04-10",
        "x-ms-write": "update"
      },
      "RequestBody": "oxckeXKHwqHU8e3S7E9q/GUcNZgeeH5ehcUa9/PNVd2tFyfMKjeGGcywmtL6NctexcPUTyob4iqZxvStbMuuB5sPJdQondItlRzMbd2rY0/5vDEw\u002BAWzkTX8M2RC2awBApM26xD3NijwproOT3VN7WKks7CZfQ6WXJSfLGpu6rtvy2pJdHg/AoUJQFFKpEG/r0UBnib8aIWEoI97WAq9gbz/n4QLA3nqZbAqjz29S7dS330lbUyUcmLkxdPpw6l7TL6VSwW9tKvLFzh20dlIx1TYKHmMmBRvaywhJj6lAKEGrkJ/KACxlSrRWVUTHqGJnP1/EZow7rOpJeDZm45tJhaXbyKWyZ5UJ5NOuz\u002B\u002BW0yKmIpAJu8H1cCP1QIg1/mcYzI/fK5\u002B89NfK\u002BkH4jN06sqTTgMDLf8mj5liBvObM0\u002BZs[...]
    {
      "RequestUri": "https://amandacanary.file.core.windows.net/test-share-2bb3db55-0434-4e1a-4b15-15d62770e742?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 20 Oct 2021 21:07:57 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "112135711",
    "Storage_TestConfigDefault": "ProductionTenant\namandacanary\nU2FuaXRpemVk\nhttps://amandacanary.blob.core.windows.net\nhttps://amandacanary.file.core.windows.net\nhttps://amandacanary.queue.core.windows.net\nhttps://amandacanary.table.core.windows.net\n\n\n\n\nhttps://amandacanary-secondary.blob.core.windows.net\nhttps://amandacanary-secondary.file.core.windows.net\nhttps://amandacanary-secondary.queue.core.windows.net\nhttps://amandacanary-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandacanary.blob.core.windows.net/;QueueEndpoint=https://amandacanary.queue.core.windows.net/;FileEndpoint=https://amandacanary.file.core.windows.net/;BlobSecondaryEndpoint=https://amandacanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandacanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandacanary-secondary.file.core.windows.net/;AccountName=amandacanary;AccountKey=Kg==;\ntestscope2\n\n"
  }
}