{
  "Entries": [
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-8d49c3b3-426c-f9c9-69a4-b8323ebc9a01?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 11 Oct 2021 23:30:12 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D98D0F12C2E2BF\u0022",
        "Last-Modified": "Mon, 11 Oct 2021 23:30:12 GMT",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-8d49c3b3-426c-f9c9-69a4-b8323ebc9a01/test-file-7ff0cc25-0536-e0bd-cc5d-d2afd7451531",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Mon, 11 Oct 2021 23:30:12 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D98D0F12D67FF3\u0022",
        "Last-Modified": "Mon, 11 Oct 2021 23:30:12 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2021-10-11T23:30:12.9709043Z",
        "x-ms-file-creation-time": "2021-10-11T23:30:12.9709043Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2021-10-11T23:30:12.9709043Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "4010187179898695473*11459378189709739967",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-8d49c3b3-426c-f9c9-69a4-b8323ebc9a01/test-file-7ff0cc25-0536-e0bd-cc5d-d2afd7451531?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-MD5": "1jWFWQmcTrd4P988U\u002BVDfA==",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Mon, 11 Oct 2021 23:30:12 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2020-12-06",
        "x-ms-write": "update"
      },
      "RequestBody": "/ZuBTqy8W9Q216PLAB6s8/Z9gyOEyp2Q/a7/5crZ61VDb62y9F\u002BP875jmYzuoyAohiC8CBE5TTP98VD9vHYKXetNiJFw\u002Bf6X7Y9lIDARoVqN1l\u002BpHeNECSF6tQIOkTZIWTygoRqOuI0hJRqB1C0C61D2cOYWYEAICH5w9kP8iFxZHcf0cQA//h7SiPfJwzX0d8myGCFQMfn8l5icHsJJJZ2\u002BJ7dlDnpPtnHHRNdIP0VIfH55SW86CevN\u002BNlnouBciGJZCpt\u002BjmhPYmKviO0hs1hSVKFDz9stgx7LmBah5xORa7t17jSqyu4VKuYNi4H\u002Bq0SAFE4\u002BGbiGK4d9svVSrnpOHhwxrMQkqIqzLaX0IPiczezRINPFUlIC7sKsLRf4w3tsvmxkzP9/W2zEiusTkguP4OUIgI2nicv[...]
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-8d49c3b3-426c-f9c9-69a4-b8323ebc9a01?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 11 Oct 2021 23:30:13 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "201192656",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttp://seanmcccanary3.blob.core.windows.net\nhttp://seanmcccanary3.file.core.windows.net\nhttp://seanmcccanary3.queue.core.windows.net\nhttp://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttp://seanmcccanary3-secondary.blob.core.windows.net\nhttp://seanmcccanary3-secondary.file.core.windows.net\nhttp://seanmcccanary3-secondary.queue.core.windows.net\nhttp://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=http://seanmcccanary3.queue.core.windows.net/;FileEndpoint=http://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=http://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\n[encryption scope]\n\n"
  }
}