{
  "Entries": [
    {
      "RequestUri": "https://amandacanary.file.core.windows.net/test-share-43e8594c-9bae-8a26-6f5b-b0c45cea3e28?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 20 Oct 2021 21:07:57 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9940DB11866F9\u0022",
        "Last-Modified": "Wed, 20 Oct 2021 21:07:57 GMT",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://amandacanary.file.core.windows.net/test-share-43e8594c-9bae-8a26-6f5b-b0c45cea3e28/test-file-d3bdc2c1-39de-f954-2de5-ac297ff5f8e3",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Wed, 20 Oct 2021 21:07:57 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9940DB12674FE\u0022",
        "Last-Modified": "Wed, 20 Oct 2021 21:07:57 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2021-10-20T21:07:57.7209086Z",
        "x-ms-file-creation-time": "2021-10-20T21:07:57.7209086Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2021-10-20T21:07:57.7209086Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "1729393344912377937*12727421398096584927",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://amandacanary.file.core.windows.net/test-share-43e8594c-9bae-8a26-6f5b-b0c45cea3e28/test-file-d3bdc2c1-39de-f954-2de5-ac297ff5f8e3?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-MD5": "GVouxPj\u002BIT15JRquVXxmrw==",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 20 Oct 2021 21:07:57 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2021-04-10",
        "x-ms-write": "update"
      },
      "RequestBody": "CA2VeQZ\u002BB9BKUQvjNYsHI2HD6hwq/DaSf/pLfnAp9lAu6pN2toDnWzjv96BK8PXtVuaD3f2AUArWA/kLMohfIVq7tUr3kW3h24/kOwWWR48EXiiJpRhTrpmJn7OG2yivkNZFjzur9cR5ogFumxUFQLtqBtRg1XtBZwewbvG6WgBmNKovULdUWWhjEAIX5RKEhF/3HNRUT7taBCc0\u002B4fTv0gBB2Zq1fADFq1r/MR5KoL0LOmSwz0rEuXv1UyPIF7gkFG5Ft2rGa5v8wYn6FL24NqlP86eQfsK1fWAewCjc/VOi2xzvxOkSRI7Is83AymT\u002BfRy6uCPQk9VrkDoKp6ty38Q2F3lgyHGAPa8Yh4s09HL7YEMMYkVv0gdHRDSux50jVZQJivMrXbTq\u002Bnq098wKdtvHT0coZn2\u002BxkUyGUQ80XXR9XH26[...]
    {
      "RequestUri": "https://amandacanary.file.core.windows.net/test-share-43e8594c-9bae-8a26-6f5b-b0c45cea3e28?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 20 Oct 2021 21:07:57 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "306666511",
    "Storage_TestConfigDefault": "ProductionTenant\namandacanary\nU2FuaXRpemVk\nhttps://amandacanary.blob.core.windows.net\nhttps://amandacanary.file.core.windows.net\nhttps://amandacanary.queue.core.windows.net\nhttps://amandacanary.table.core.windows.net\n\n\n\n\nhttps://amandacanary-secondary.blob.core.windows.net\nhttps://amandacanary-secondary.file.core.windows.net\nhttps://amandacanary-secondary.queue.core.windows.net\nhttps://amandacanary-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandacanary.blob.core.windows.net/;QueueEndpoint=https://amandacanary.queue.core.windows.net/;FileEndpoint=https://amandacanary.file.core.windows.net/;BlobSecondaryEndpoint=https://amandacanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandacanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandacanary-secondary.file.core.windows.net/;AccountName=amandacanary;AccountKey=Kg==;\ntestscope2\n\n"
  }
}