{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourcegroups/networkcloud-sdk4205?api-version=**",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1198"
      },
      "ResponseBody": {
        "id": "/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourceGroups/networkcloud-sdk4205",
        "name": "networkcloud-sdk4205",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/providers/Microsoft.NetworkCloud/rackSkus?api-version=2023-05-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-reads": "11997"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/providers/Microsoft.NetworkCloud/rackSkus/V1_5_4_Compute_DellR750_12C2M",
            "name": "V1_5_4_Compute_DellR750_12C2M",
            "type": "Microsoft.NetworkCloud/rackSkus",
            "properties": {
              "provisioningState": "Succeeded",
              "rackType": "Compute",
              "maxClusterSlots": 0,
              "description": "A compute rack with twelve Dell750 computes and two Dell650 controllers",
              "controllerMachines": [
                {
                  "properties": {
                    "vendor": "Dell",
                    "model": "R650",
                    "generation": "8",
                    "hardwareVersion": "3",
                    "bootstrapProtocol": "PXE",
                    "cpuSockets": 1,
                    "cpuCores": 8,
                    "totalThreads": 16,
                    "memoryCapacityGB": 128,
                    "disks": [
                      {
                        "capacityGB": 446,
                        "type": "SAS",
                        "connection": "TBD"
                      },
                      {
                        "capacityGB": 446,
                        "type": "SAS",
                        "connection": "TBD"
                      }
                    ],
                    "networkInterfaces": [
                      {
                        "address": "04:00.0",
                        "physicalSlot": 0,
                        "portCount": 2,
                        "portSpeed": 1,
                        "deviceConnectionType": "PCI",
                        "vendor": "Broadcom",
                        "model": "BCM5720"
                      },
                      {
                        "address": "04:00.1",
                        "physicalSlot": 0,
                        "portCount": 2,
                        "portSpeed": 1,
                        "deviceConnectionType": "PCI",
                        "vendor": "Broadcom",
                        "model": "BCM5720"
                      },
                [...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/providers/Microsoft.NetworkCloud/rackSkus/V1_5_4_Compute_DellR750_12C2M?api-version=2023-05-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-providerhub-traffic": "True",
    [...]
