{
  "Entries": [
    {
      "RequestUri": "https://dotnetllcpurviewaccount.purview.azure.com/catalog/api/search/autocomplete?api-version=2021-09-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "keywords": "sampledata"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json"
      },
      "ResponseBody": {
        "value": [
          {
            "text": "sampledata csv",
            "queryPlusText": "sampledata csv"
          }
        ]
      }
    }
  ],
  "Variables": {
    "PURVIEW_ACCOUNT_URL": "https://dotnetllcpurviewaccount.purview.azure.com/",
    "RandomSeed": "1043398372"
  }
}