{
  "Entries": [
    {
      "RequestUri": "https://feng-purview.purview.azure.com/catalog/api/search/query?api-version=2021-09-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "keywords": "myPurview"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json"
      },
      "ResponseBody": {
        "@search.count": 0,
        "value": [],
        "@search.facets": null
      }
    }
  ],
  "Variables": {
    "PURVIEW_ACCOUNT_URL": "https://feng-purview.purview.azure.com",
    "RandomSeed": "244402808"
  }
}