{
  "Entries": [
    {
      "RequestUri": "https://dotnetllcpurviewaccount.purview.azure.com/catalog/api/search/suggest?api-version=2021-09-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "keywords": "sampledata.csv"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json"
      },
      "ResponseBody": {
        "value": [
          {
            "owner": null,
            "qualifiedName": "s3://testpurview/sampledata.csv",
            "entityType": "aws_s3_v2_object",
            "name": "sampledata.csv",
            "description": null,
            "term": [],
            "id": "41db512c-3e3d-404d-bfb8-13fa00a326e9",
            "label": [
              "Microsoft.Label.9FBDE396_1A24_4C79_8EDF_9254A0F35055"
            ],
            "classification": [],
            "collectionId": "79uk6l",
            "assetType": [
              "Amazon S3"
            ],
            "@search.text": "\u003Cem\u003Esampledata.csv\u003C/em\u003E",
            "@search.score": 14.03885
          }
        ]
      }
    }
  ],
  "Variables": {
    "PURVIEW_ACCOUNT_URL": "https://dotnetllcpurviewaccount.purview.azure.com/",
    "RandomSeed": "485525644"
  }
}