{
  "Entries": [
    {
      "RequestUri": "https://seanoauthstage.blob.core.windows.net/test-container-3d9957c0-f6f5-4f91-0713-e798d63c5ea1/test-blob-4b309ee7-668d-92d6-58ba-fc91f6d55e81",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Mon, 29 Mar 2021 22:47:07 GMT",
        "x-ms-immutability-policy-mode": "Unlocked",
        "x-ms-immutability-policy-until-date": "Mon, 29 Mar 2021 22:52:07 GMT",
        "x-ms-legal-hold": "true",
        "x-ms-version": "2020-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8F30494FED577\u0022",
        "Last-Modified": "Mon, 29 Mar 2021 22:47:07 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-08-04",
        "x-ms-version-id": "2021-03-29T22:47:07.8082697Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanoauthstage.blob.core.windows.net/test-container-3d9957c0-f6f5-4f91-0713-e798d63c5ea1/test-blob-4b309ee7-668d-92d6-58ba-fc91f6d55e81",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 29 Mar 2021 22:47:08 GMT",
        "x-ms-version": "2020-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D8F30494FED577\u0022",
        "Last-Modified": "Mon, 29 Mar 2021 22:47:07 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Mon, 29 Mar 2021 22:47:07 GMT",
        "x-ms-immutability-policy-mode": "unlocked",
        "x-ms-immutability-policy-until-date": "Mon, 29 Mar 2021 22:52:07 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-legal-hold": "true",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-08-04",
        "x-ms-version-id": "2021-03-29T22:47:07.8082697Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanoauthstage.blob.core.windows.net/test-container-3d9957c0-f6f5-4f91-0713-e798d63c5ea1?restype=container\u0026comp=list\u0026include=Immutabilitypolicy%2CLegalhold",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 29 Mar 2021 22:47:08 GMT",
        "x-ms-version": "2020-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": [...]
    {
      "RequestUri": "https://seanoauthstage.blob.core.windows.net/test-container-3d9957c0-f6f5-4f91-0713-e798d63c5ea1/test-blob-4b309ee7-668d-92d6-58ba-fc91f6d55e81?comp=legalhold",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 29 Mar 2021 22:47:08 GMT",
        "x-ms-legal-hold": "false",
        "x-ms-version": "2020-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "x-ms-legal-hold": "false",
        "x-ms-version": "2020-08-04"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanoauthstage.blob.core.windows.net/test-container-3d9957c0-f6f5-4f91-0713-e798d63c5ea1/test-blob-4b309ee7-668d-92d6-58ba-fc91f6d55e81?comp=immutabilityPolicies",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 29 Mar 2021 22:47:08 GMT",
        "x-ms-version": "2020-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "x-ms-version": "2020-08-04"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanoauthstage.blob.core.windows.net/test-container-3d9957c0-f6f5-4f91-0713-e798d63c5ea1/test-blob-4b309ee7-668d-92d6-58ba-fc91f6d55e81",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 29 Mar 2021 22:47:08 GMT",
        "x-ms-version": "2020-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-delete-type-permanent": "false",
        "x-ms-version": "2020-08-04"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2021-03-29T17:47:07.9943967-05:00",
    "RandomSeed": "1006631082",
    "Storage_TestConfigOAuth": "OAuthTenant\nseanoauthstage\nU2FuaXRpemVk\nhttps://seanoauthstage.blob.core.windows.net\nhttps://seanoauthstage.file.core.windows.net\nhttps://seanoauthstage.queue.core.windows.net\nhttps://seanoauthstage.table.core.windows.net\n\n\n\n\nhttps://seanoauthstage-secondary.blob.core.windows.net\nhttps://seanoauthstage-secondary.file.core.windows.net\nhttps://seanoauthstage-secondary.queue.core.windows.net\nhttps://seanoauthstage-secondary.table.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://seanoauthstage.blob.core.windows.net/;QueueEndpoint=https://seanoauthstage.queue.core.windows.net/;FileEndpoint=https://seanoauthstage.file.core.windows.net/;BlobSecondaryEndpoint=https://seanoauthstage-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanoauthstage-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanoauthstage-secondary.file.core.windows.net/;AccountName=seanoauthstage;AccountKey=Sanitized\n"
  }
}