{
  "Entries": [
    {
      "RequestUri": "https://seanoauthstage.blob.core.windows.net/test-container-43be3682-c67a-364f-246d-a29f16200649/test-blob-7e9202bd-b3e7-f26e-1d1a-2341a5c5d76e",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Mon, 29 Mar 2021 22:45:16 GMT",
        "x-ms-version": "2020-08-04"
      },
      "RequestBody": "SM0OT1dJODUnArmmz/UQZS48FMWm\u002BHPOyMsmYKIOkV\u002BWNFdIErbxc8lcVuX6yCMnCb0TaLARyFBZP4eMI9eTGXBZD5uex1N3SqH7SaKO1ACo/lbk\u002ByivhGsG79IvZVDyyTx0oLiIiEFqmx4OFn6ty2uH4ySArh5Hqosvl9iASOVQCIBlGjNHIHUUel8KoG3sWSNnqIErcRodLPYsWPBp6VM4vQ7\u002BSLE3P8OvazS/PQkeQz60GZ9jJZdlSO09GseEq5AL0eJf7hByL2i\u002BfAXmXu/sDhWytNCz1Zh2mADD\u002BST7Kr\u002Bjs2wnv1QuQuk3pKiRf\u002Bn\u002BUQyy0vfAV/tJ6FUQrjVDw1JGQqqCxE7AhHLmfDHw5RkWxagYSFfI41tw3db/HZOz8\u002BFWSzw\u002Be4y98U6F2tvKWQI7\u002BumNK3r6fV9OEud4wWbeMolPmZ[...]
    {
      "RequestUri": "https://seanoauthstage.blob.core.windows.net/test-container-43be3682-c67a-364f-246d-a29f16200649/test-blob-7e9202bd-b3e7-f26e-1d1a-2341a5c5d76e?sv=2020-06-12\u0026se=2021-03-30T22%3A45%3A16Z\u0026sr=b\u0026sp=i\u0026sig=Sanitized\u0026comp=immutabilityPolicies",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-immutability-policy-mode": "Unlocked",
        "x-ms-immutability-policy-until-date": "Mon, 29 Mar 2021 22:50:16 GMT",
        "x-ms-version": "2020-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "x-ms-immutability-policy-mode": "unlocked",
        "x-ms-immutability-policy-until-date": "Mon, 29 Mar 2021 22:50:16 GMT",
        "x-ms-version": "2020-08-04"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanoauthstage.blob.core.windows.net/test-container-43be3682-c67a-364f-246d-a29f16200649/test-blob-7e9202bd-b3e7-f26e-1d1a-2341a5c5d76e?sv=2020-06-12\u0026se=2021-03-30T22%3A45%3A16Z\u0026sr=b\u0026sp=i\u0026sig=Sanitized\u0026comp=legalhold",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-legal-hold": "false",
        "x-ms-version": "2020-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "x-ms-legal-hold": "false",
        "x-ms-version": "2020-08-04"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanoauthstage.blob.core.windows.net/test-container-43be3682-c67a-364f-246d-a29f16200649?restype=container\u0026comp=list\u0026include=Immutabilitypolicy%2CLegalhold",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 29 Mar 2021 22:45:16 GMT",
        "x-ms-version": "2020-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": [...]
    {
      "RequestUri": "https://seanoauthstage.blob.core.windows.net/test-container-43be3682-c67a-364f-246d-a29f16200649/test-blob-7e9202bd-b3e7-f26e-1d1a-2341a5c5d76e?comp=immutabilityPolicies",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 29 Mar 2021 22:45:16 GMT",
        "x-ms-version": "2020-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "x-ms-version": "2020-08-04"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanoauthstage.blob.core.windows.net/test-container-43be3682-c67a-364f-246d-a29f16200649/test-blob-7e9202bd-b3e7-f26e-1d1a-2341a5c5d76e",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 29 Mar 2021 22:45:16 GMT",
        "x-ms-version": "2020-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-delete-type-permanent": "false",
        "x-ms-version": "2020-08-04"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2021-03-29T17:45:16.3097129-05:00",
    "RandomSeed": "762424784",
    "Storage_TestConfigOAuth": "OAuthTenant\nseanoauthstage\nU2FuaXRpemVk\nhttps://seanoauthstage.blob.core.windows.net\nhttps://seanoauthstage.file.core.windows.net\nhttps://seanoauthstage.queue.core.windows.net\nhttps://seanoauthstage.table.core.windows.net\n\n\n\n\nhttps://seanoauthstage-secondary.blob.core.windows.net\nhttps://seanoauthstage-secondary.file.core.windows.net\nhttps://seanoauthstage-secondary.queue.core.windows.net\nhttps://seanoauthstage-secondary.table.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://seanoauthstage.blob.core.windows.net/;QueueEndpoint=https://seanoauthstage.queue.core.windows.net/;FileEndpoint=https://seanoauthstage.file.core.windows.net/;BlobSecondaryEndpoint=https://seanoauthstage-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanoauthstage-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanoauthstage-secondary.file.core.windows.net/;AccountName=seanoauthstage;AccountKey=Sanitized\n"
  }
}