{
  "Entries": [
    {
      "RequestUri": "https://seanoauthstage.blob.core.windows.net/test-container-865945cc-7bc5-f9c2-bdd9-d38712668769/test-blob-3a454f15-34dc-af1b-102b-b97a7194e468",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Mon, 29 Mar 2021 22:45:30 GMT",
        "x-ms-version": "2020-08-04"
      },
      "RequestBody": "dct3pRL9xfkpzr6Q0ytHfhQjGC/woVeYKql2mcFHhyn0ahFH7uFWF4lMEA11i9vl5DtlTny1eNNz33tphyw34UeVnGkZ/48yzAClo5FJIp/NkLSG4TitPvE\u002B0w9m7Y9dFS7F4O9yy\u002BSrMoF7ENVCKbzcm/d3sP8O6F142yx/zN5xR41ig0KwW8TP2q\u002B3MS4b\u002B6lTilKY5WQutveR\u002BfC4LGaiCshH4KV6LD8yqNVQV7YuXN\u002BCLEGM2GEpM8xKHmHUF65IFCdm0xsD2V4TZj2O3l9AY5wQNf8lFjJmHqzZLw7dXZEnCEKPyInEf1PjeXEkmlVtCbrEw\u002BGuI/71/7VuKqlQNQmsZ9UcsZoTTLasQZzAQoRXayVTGJmveeVEmsjUVVSpk0NoeDN/UFgfsXcqAeFhNL0wF7\u002BE/Rxv/O7w2BfRP/ZiA65YV8pQ1xrNM2chhHcE42ULoz6VJZYn\u002BHtFj3hBTnGByP4zCNzz4D\u002Bkt8m1TXh27PWyxpy3zN4YMV5OC0ehjOX2oLt50NqIGMP\u002B8G3McqsDzqODjofUyvwfGtZ9pNT4Airkvq28/RsaKa7ZuNtwS7\u002BzSz2jHf1dIdW/WbYDCnPuBu5D57P9R9GIaWXZ\u002BxEgr84XyliXVOQth53X/KNkFx866rLtLWQLtgRsGrSYgyXEnqrn60AbV7EJFWAVJUotJFJFnxFeM4FqCxRUKjkwlQN4E134fSvfH5IB5BgE9pC5PvZiUuQUZmspfOAsxi132X9cnRLtNKYmZoB\u002BXU9pZhWDmutDzUMfY6zxzwBLs1hliguYp1h9zApQO\u002BxjlQkcvxbKqCxBNAs8PTll\u002B2Sm27MoGdNE0b68Bs7h8pFXvM6j1RDpgAssJFX/XGofF9ClqmA5O3w21\u002B5XDqFdX0F55YBrwiVUvFqn/PV9RHRUne/9PEgxHoBRbf0hknJpzsQUhXbps1WqUO0FkT\u002BHuJN5A3CyXyP4R8YAGVQoMynoPi0waL79aumaU\u002BtaLI1ByrRqp48Bt26hGz6w6ZoAgh3EHFIRV0/Ue5iHGAw3nRs5vk\u002BfvYua5oe\u002Bjk2ATYFPmdHOlg86MHNlliz3ep5ian4idipKYMSRKTbLUsgCUy0WN347aAYL/47bOidfo2voXCTPXtdWBDgMPG3Zbt2qYkL\u002B4EMfJwF3FnacbyacMobK4/akM/VWvzNGLiuZMpCwMNflYMIoyDUiV0dguZURbwrmDovnBi5MqCAQ2fjV3eTm7D5Ot9LDohrAgduu9QadNL4hsyQFyCmombiiGO88THpjes1Xw7g3I2txJoVTnbIacqQ6syq/4SQUpR4ZIIoqhDRhS3s4RnEF6o\u002B4k6GkVfsFiKVKAplQo5ipQh2aHQ==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "CWmWJ\u002BvNGn1QNiZ1lapx2g==",
        "ETag": "\u00220x8D8F3045B13F177\u0022",
        "Last-Modified": "Mon, 29 Mar 2021 22:45:30 GMT",
        "x-ms-content-crc64": "vteaaZjWzfo=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-08-04",
        "x-ms-version-id": "2021-03-29T22:45:30.6377591Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanoauthstage.blob.core.windows.net/test-container-865945cc-7bc5-f9c2-bdd9-d38712668769/test-blob-3a454f15-34dc-af1b-102b-b97a7194e468?sv=2020-06-12\u0026se=2021-03-30T22%3A45%3A30Z\u0026sr=c\u0026sp=racwdxlti\u0026sig=Sanitized\u0026comp=immutabilityPolicies",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-immutability-policy-mode": "Unlocked",
        "x-ms-immutability-policy-until-date": "Mon, 29 Mar 2021 22:50:30 GMT",
        "x-ms-version": "2020-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "x-ms-immutability-policy-mode": "unlocked",
        "x-ms-immutability-policy-until-date": "Mon, 29 Mar 2021 22:50:30 GMT",
        "x-ms-version": "2020-08-04"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanoauthstage.blob.core.windows.net/test-container-865945cc-7bc5-f9c2-bdd9-d38712668769/test-blob-3a454f15-34dc-af1b-102b-b97a7194e468?sv=2020-06-12\u0026se=2021-03-30T22%3A45%3A30Z\u0026sr=c\u0026sp=racwdxlti\u0026sig=Sanitized\u0026comp=legalhold",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-legal-hold": "false",
        "x-ms-version": "2020-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "x-ms-legal-hold": "false",
        "x-ms-version": "2020-08-04"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanoauthstage.blob.core.windows.net/test-container-865945cc-7bc5-f9c2-bdd9-d38712668769?restype=container\u0026comp=list\u0026include=Immutabilitypolicy%2CLegalhold",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 29 Mar 2021 22:45:31 GMT",
        "x-ms-version": "2020-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": [...]
    {
      "RequestUri": "https://seanoauthstage.blob.core.windows.net/test-container-865945cc-7bc5-f9c2-bdd9-d38712668769/test-blob-3a454f15-34dc-af1b-102b-b97a7194e468?comp=immutabilityPolicies",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 29 Mar 2021 22:45:31 GMT",
        "x-ms-version": "2020-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "x-ms-version": "2020-08-04"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanoauthstage.blob.core.windows.net/test-container-865945cc-7bc5-f9c2-bdd9-d38712668769/test-blob-3a454f15-34dc-af1b-102b-b97a7194e468",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 29 Mar 2021 22:45:31 GMT",
        "x-ms-version": "2020-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-delete-type-permanent": "false",
        "x-ms-version": "2020-08-04"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2021-03-29T17:45:30.9007230-05:00",
    "RandomSeed": "1745374466",
    "Storage_TestConfigOAuth": "OAuthTenant\nseanoauthstage\nU2FuaXRpemVk\nhttps://seanoauthstage.blob.core.windows.net\nhttps://seanoauthstage.file.core.windows.net\nhttps://seanoauthstage.queue.core.windows.net\nhttps://seanoauthstage.table.core.windows.net\n\n\n\n\nhttps://seanoauthstage-secondary.blob.core.windows.net\nhttps://seanoauthstage-secondary.file.core.windows.net\nhttps://seanoauthstage-secondary.queue.core.windows.net\nhttps://seanoauthstage-secondary.table.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://seanoauthstage.blob.core.windows.net/;QueueEndpoint=https://seanoauthstage.queue.core.windows.net/;FileEndpoint=https://seanoauthstage.file.core.windows.net/;BlobSecondaryEndpoint=https://seanoauthstage-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanoauthstage-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanoauthstage-secondary.file.core.windows.net/;AccountName=seanoauthstage;AccountKey=Sanitized\n"
  }
}