{
  "Entries": [
    {
      "RequestUri": "https://seanoauthstage.blob.core.windows.net/test-container-540cc68c-73c9-7495-3d50-7099d00deda4/test-blob-e0eae833-5621-87f1-7f82-230f14b2ffc9",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Mon, 29 Mar 2021 22:47:33 GMT",
        "x-ms-version": "2020-08-04"
      },
      "RequestBody": "brX7ZsQwCF/c/3N4zQ\u002BGQjuS3HYwmj411YXURlCFYItRpysaEYfgAt\u002BLBCLjeLlv/ODTgtWImdN3xZA\u002BW8EPVp/oJibkazC0sdqXpJUbUlzLZUpvst22yQ1Xo0v2oaYdfK6D\u002B1GTipCvH9D78fU\u002BW3M0c/Z3n6PBMV0YjcfkvRAzeSfnmFYKONq5v5MNu9cYGUjYwi6wpt0Kwcn0ev3IymHAx3jNVsIdKTocvd8QtHaFAHN/DPvhg9JK3NeNFr3c8fUxTfNfSsKGupjzk\u002Bj9\u002Bg1TbnqKSb1m3kSlg3rrkBN9QMzq3meCJrWx\u002BVFi7e/qTOHKOadCUqc3y26vucdHmiqFdlMcExul0UfF2VBrA/FUuzeZIVZrO\u002B4ksxP502ztaV4n3XabzjjFJGhgfHhXy8d8Wv6PrnnUGjtl92AIrP3a12/xRCZ6ue3\u002B0/zuC751[...]
    {
      "RequestUri": "https://seanoauthstage.blob.core.windows.net/test-container-540cc68c-73c9-7495-3d50-7099d00deda4/test-blob-235f5f49-075d-88f6-6495-f3ef4e069aa0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://seanoauthstage.blob.core.windows.net/test-container-540cc68c-73c9-7495-3d50-7099d00deda4/test-blob-e0eae833-5621-87f1-7f82-230f14b2ffc9",
        "x-ms-date": "Mon, 29 Mar 2021 22:47:34 GMT",
        "x-ms-immutability-policy-mode": "Unlocked",
        "x-ms-immutability-policy-until-date": "Mon, 29 Mar 2021 22:52:34 GMT",
        "x-ms-legal-hold": "true",
        "x-ms-version": "2020-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8F304A4896D62\u0022",
        "Last-Modified": "Mon, 29 Mar 2021 22:47:33 GMT",
        "x-ms-copy-id": "f9d6e9e0-9f73-4d97-8885-bfd97ae58db3",
        "x-ms-copy-status": "success",
        "x-ms-version": "2020-08-04",
        "x-ms-version-id": "2021-03-29T22:47:33.8823788Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanoauthstage.blob.core.windows.net/test-container-540cc68c-73c9-7495-3d50-7099d00deda4/test-blob-235f5f49-075d-88f6-6495-f3ef4e069aa0",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 29 Mar 2021 22:47:34 GMT",
        "x-ms-version": "2020-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "cQkwFk2vefZTcKWoIdtd\u002Bg==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D8F304A4896D62\u0022",
        "Last-Modified": "Mon, 29 Mar 2021 22:47:33 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-completion-time": "Mon, 29 Mar 2021 22:47:33 GMT",
        "x-ms-copy-id": "f9d6e9e0-9f73-4d97-8885-bfd97ae58db3",
        "x-ms-copy-progress": "1024/1024",
        "x-ms-copy-source": "https://seanoauthstage.blob.core.windows.net/test-container-540cc68c-73c9-7495-3d50-7099d00deda4/test-blob-e0eae833-5621-87f1-7f82-230f14b2ffc9",
        "x-ms-copy-status": "success",
        "x-ms-creation-time": "Mon, 29 Mar 2021 22:47:33 GMT",
        "x-ms-immutability-policy-mode": "unlocked",
        "x-ms-immutability-policy-until-date": "Mon, 29 Mar 2021 22:52:34 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-legal-hold": "true",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-08-04",
        "x-ms-version-id": "2021-03-29T22:47:33.8823788Z"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seanoauthstage.blob.core.windows.net/test-container-540cc68c-73c9-7495-3d50-7099d00deda4?restype=container\u0026comp=list\u0026include=Immutabilitypolicy%2CLegalhold",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 29 Mar 2021 22:47:34 GMT",
        "x-ms-version": "2020-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": [...]
    {
      "RequestUri": "https://seanoauthstage.blob.core.windows.net/test-container-540cc68c-73c9-7495-3d50-7099d00deda4/test-blob-235f5f49-075d-88f6-6495-f3ef4e069aa0?comp=legalhold",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 29 Mar 2021 22:47:34 GMT",
        "x-ms-legal-hold": "false",
        "x-ms-version": "2020-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "x-ms-legal-hold": "false",
        "x-ms-version": "2020-08-04"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanoauthstage.blob.core.windows.net/test-container-540cc68c-73c9-7495-3d50-7099d00deda4/test-blob-235f5f49-075d-88f6-6495-f3ef4e069aa0?comp=immutabilityPolicies",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 29 Mar 2021 22:47:34 GMT",
        "x-ms-version": "2020-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "x-ms-version": "2020-08-04"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanoauthstage.blob.core.windows.net/test-container-540cc68c-73c9-7495-3d50-7099d00deda4/test-blob-235f5f49-075d-88f6-6495-f3ef4e069aa0",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 29 Mar 2021 22:47:34 GMT",
        "x-ms-version": "2020-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-delete-type-permanent": "false",
        "x-ms-version": "2020-08-04"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanoauthstage.blob.core.windows.net/test-container-540cc68c-73c9-7495-3d50-7099d00deda4/test-blob-e0eae833-5621-87f1-7f82-230f14b2ffc9",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 29 Mar 2021 22:47:34 GMT",
        "x-ms-version": "2020-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-delete-type-permanent": "false",
        "x-ms-version": "2020-08-04"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2021-03-29T17:47:34.0589301-05:00",
    "RandomSeed": "934154761",
    "Storage_TestConfigOAuth": "OAuthTenant\nseanoauthstage\nU2FuaXRpemVk\nhttps://seanoauthstage.blob.core.windows.net\nhttps://seanoauthstage.file.core.windows.net\nhttps://seanoauthstage.queue.core.windows.net\nhttps://seanoauthstage.table.core.windows.net\n\n\n\n\nhttps://seanoauthstage-secondary.blob.core.windows.net\nhttps://seanoauthstage-secondary.file.core.windows.net\nhttps://seanoauthstage-secondary.queue.core.windows.net\nhttps://seanoauthstage-secondary.table.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://seanoauthstage.blob.core.windows.net/;QueueEndpoint=https://seanoauthstage.queue.core.windows.net/;FileEndpoint=https://seanoauthstage.file.core.windows.net/;BlobSecondaryEndpoint=https://seanoauthstage-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanoauthstage-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanoauthstage-secondary.file.core.windows.net/;AccountName=seanoauthstage;AccountKey=Sanitized\n"
  }
}