{
  "Entries": [
    {
      "RequestUri": "https://seanoauthstage.blob.core.windows.net/test-container-5736f43b-74d2-66ae-8ab6-fd9f6a014a1a/test-blob-4c00950d-d01d-7c3b-ff48-f46d8ad38818",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Mon, 29 Mar 2021 22:46:17 GMT",
        "x-ms-version": "2020-08-04"
      },
      "RequestBody": "abxs9\u002BtyD/MVFC6XSE4y50EVEdFvBk1rubpXioBB3LYt5TWulFMvm4YMNgmhpDSwFQwrdMK3qGNvAT0wGoVz1Dd3aWIZhFLt5nVLYs9DyhWFp3VzFWfzdjzSPpMV/oEAmGLRKTrRl5C5PY5Na0WTKzcoqnMQAL/Qg/MlRkW/2Oj0SsptcaDasw/kudfYpgr3PhNc7FMN8JejAaVHrFFK\u002BmWmWCF7JrmWTfZjK0fn99zoLgcyYuuU5loyyXD6kwe\u002Bmr5xMk7pexhZxZ9cqsRQuwnIXn5JGJh5EXHGSF1JnLrvpJGIdsWO/rLv2JxMODyV4g5mMTSIdYEm9yHcIjO7DynlbQUzyEVEOmDLWj/7Ldk1MWZO4mqFZi8PYX6jsdx/NMhyZ8s2YRnIIvfUvRtCKspIp/HNbC2\u002BXwbWI2bHoIiDTCV2iMYO/89MhsBzsakTzTa0WwrrscibtAfEXz2zAYFuUHD1y6IDOqghgeVtS65cwlYvE0V9mJpd2tS\u002BSZ\u002BSmIQ\u002BBGA4HgGUsCBiyjDiLmhZZ53ng\u002B478LfVmPHNRfEIj\u002BhhLkZOI6RVm2IlGs5qeqxrZeEBqhSVAhOoY4UQxmovWTpHgf8iC0P4kuiLFtbpax1EYeAPB\u002BTTyywypcAeRNT39cGTIvmtSVmdCRgsCus9v/hnzGSKIFJWdLXT72WD2k0TlCEUVUgklxiGcf3Mp8FA9ObIt3hvbdVuPa5D2Vr0Gi7KGHbKKGqvQzRMBK5Uic30k/p/uyLVpCdMphea4b2\u002BklfPAo5Ldct7GHNDI2gmGbPgTkZfdF8L9HRPfoJSFGF3jnJXhYc\u002BqR0uA6KvkYG\u002BJY1kuZJ3Xx33ww0a/PdJKQMSzJX2z5MsoaQoMHC9XGPzkFj17lrPAC9UX8J5JK0m5dqenMXryFb5OBftTi6sOmaqJmueVDqoQ8xmoW/Qsn33AkqWHsCdB8gB\u002B7ZD4bEAqCVcz/1Ch5Cf9Vn4hSfnKIWa9kzkFhumDB\u002BjnVmEZWIaZfhJdOJ/tHq59yhmpIGgGtIwqOplG5IJtsLenuo3GpD33iAunrSjG0HRKh/zP2edAoOGVL13tElmP70goBaQgtyYbsZhcXsejY2olPFzFnZbQJtnscbSfyrWyF73gnorQahCWtGhPJAHaMcwzyBY8ylGxGB6KNAVxe6ci6kdJgoTfFNJMLyluQQLYEn/orAKfdQ1sL0ZsRjXLJTiBbHn6UG8HVPMDsJsoAtcb8iHFiM\u002Bkg3U6HVM\u002Bco7cQMnw7RSI3YHQoVcPW8SyBCyvUJPUBZxpHOjEgHLcCOIkZy/Rd1WCUtSf9Sd4VWewh9lmTuI6yHtth5BrxF1PNFh1KvSUoMyXLT2/dFB08IdBQ==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "H/lf29qkm5dtvklUH\u002BN2GA==",
        "ETag": "\u00220x8D8F30476AD0022\u0022",
        "Last-Modified": "Mon, 29 Mar 2021 22:46:16 GMT",
        "x-ms-content-crc64": "7aJ3\u002BgGh\u002BXA=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-08-04",
        "x-ms-version-id": "2021-03-29T22:46:16.9393186Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanoauthstage.blob.core.windows.net/test-container-5736f43b-74d2-66ae-8ab6-fd9f6a014a1a/test-blob-94c1a923-fad6-d479-0456-80f573485abc",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://seanoauthstage.blob.core.windows.net/test-container-5736f43b-74d2-66ae-8ab6-fd9f6a014a1a/test-blob-4c00950d-d01d-7c3b-ff48-f46d8ad38818",
        "x-ms-date": "Mon, 29 Mar 2021 22:46:17 GMT",
        "x-ms-immutability-policy-mode": "Unlocked",
        "x-ms-immutability-policy-until-date": "Mon, 29 Mar 2021 22:51:17 GMT",
        "x-ms-legal-hold": "true",
        "x-ms-version": "2020-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8F30476BAE0C9\u0022",
        "Last-Modified": "Mon, 29 Mar 2021 22:46:17 GMT",
        "x-ms-copy-id": "f6128f06-0eb9-4f61-933d-6875ffbe8922",
        "x-ms-copy-status": "success",
        "x-ms-version": "2020-08-04",
        "x-ms-version-id": "2021-03-29T22:46:17.0302665Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanoauthstage.blob.core.windows.net/test-container-5736f43b-74d2-66ae-8ab6-fd9f6a014a1a/test-blob-94c1a923-fad6-d479-0456-80f573485abc",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 29 Mar 2021 22:46:17 GMT",
        "x-ms-version": "2020-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "H/lf29qkm5dtvklUH\u002BN2GA==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D8F30476BAE0C9\u0022",
        "Last-Modified": "Mon, 29 Mar 2021 22:46:17 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-completion-time": "Mon, 29 Mar 2021 22:46:17 GMT",
        "x-ms-copy-id": "f6128f06-0eb9-4f61-933d-6875ffbe8922",
        "x-ms-copy-progress": "1024/1024",
        "x-ms-copy-source": "https://seanoauthstage.blob.core.windows.net/test-container-5736f43b-74d2-66ae-8ab6-fd9f6a014a1a/test-blob-4c00950d-d01d-7c3b-ff48-f46d8ad38818",
        "x-ms-copy-status": "success",
        "x-ms-creation-time": "Mon, 29 Mar 2021 22:46:17 GMT",
        "x-ms-immutability-policy-mode": "unlocked",
        "x-ms-immutability-policy-until-date": "Mon, 29 Mar 2021 22:51:17 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-legal-hold": "true",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-08-04",
        "x-ms-version-id": "2021-03-29T22:46:17.0302665Z"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seanoauthstage.blob.core.windows.net/test-container-5736f43b-74d2-66ae-8ab6-fd9f6a014a1a?restype=container\u0026comp=list\u0026include=Immutabilitypolicy%2CLegalhold",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 29 Mar 2021 22:46:17 GMT",
        "x-ms-version": "2020-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": [...]
    {
      "RequestUri": "https://seanoauthstage.blob.core.windows.net/test-container-5736f43b-74d2-66ae-8ab6-fd9f6a014a1a/test-blob-4c00950d-d01d-7c3b-ff48-f46d8ad38818",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 29 Mar 2021 22:46:17 GMT",
        "x-ms-version": "2020-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-delete-type-permanent": "false",
        "x-ms-version": "2020-08-04"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanoauthstage.blob.core.windows.net/test-container-5736f43b-74d2-66ae-8ab6-fd9f6a014a1a/test-blob-94c1a923-fad6-d479-0456-80f573485abc?comp=legalhold",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 29 Mar 2021 22:46:17 GMT",
        "x-ms-legal-hold": "false",
        "x-ms-version": "2020-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "x-ms-legal-hold": "false",
        "x-ms-version": "2020-08-04"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanoauthstage.blob.core.windows.net/test-container-5736f43b-74d2-66ae-8ab6-fd9f6a014a1a/test-blob-94c1a923-fad6-d479-0456-80f573485abc?comp=immutabilityPolicies",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 29 Mar 2021 22:46:17 GMT",
        "x-ms-version": "2020-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "x-ms-version": "2020-08-04"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanoauthstage.blob.core.windows.net/test-container-5736f43b-74d2-66ae-8ab6-fd9f6a014a1a/test-blob-94c1a923-fad6-d479-0456-80f573485abc",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 29 Mar 2021 22:46:17 GMT",
        "x-ms-version": "2020-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-delete-type-permanent": "false",
        "x-ms-version": "2020-08-04"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2021-03-29T17:46:17.2042465-05:00",
    "RandomSeed": "1042673688",
    "Storage_TestConfigOAuth": "OAuthTenant\nseanoauthstage\nU2FuaXRpemVk\nhttps://seanoauthstage.blob.core.windows.net\nhttps://seanoauthstage.file.core.windows.net\nhttps://seanoauthstage.queue.core.windows.net\nhttps://seanoauthstage.table.core.windows.net\n\n\n\n\nhttps://seanoauthstage-secondary.blob.core.windows.net\nhttps://seanoauthstage-secondary.file.core.windows.net\nhttps://seanoauthstage-secondary.queue.core.windows.net\nhttps://seanoauthstage-secondary.table.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://seanoauthstage.blob.core.windows.net/;QueueEndpoint=https://seanoauthstage.queue.core.windows.net/;FileEndpoint=https://seanoauthstage.file.core.windows.net/;BlobSecondaryEndpoint=https://seanoauthstage-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanoauthstage-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanoauthstage-secondary.file.core.windows.net/;AccountName=seanoauthstage;AccountKey=Sanitized\n"
  }
}