{
  "Entries": [
    {
      "RequestUri": "/v1/apps/DEMO_APP/events/performanceCounters?timespan=P1D&$top=1",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-api-key": [
          "DEMO_KEY"
        ],
        "prefer": [
          "response-v1=true"
        ],
        "x-ms-app": [
          "csharpsdk"
        ]
      },
      "ResponseHeaders": {
        "OData-Version": [
          "4.0;"
        ],
        "Content-Type": [
          "application/json; charset=utf-8; ieee754compatible=false; odata.metadata=none; odata.streaming=false"
        ]
      },
      "ResponseBody": "{\r\n  \"@odata.context\": \"https://api.applicationinsights.io/v1/apps/DEMO_APP/events/$metadata#performanceCounters\",\r\n  \"value\": [\r\n    {\r\n      \"id\": \"8f5af43e-c041-11e8-932e-cd5dae094438\",\r\n      \"type\": \"performanceCounter\",\r\n      \"timestamp\": \"2018-09-24T21:33:50.267Z\",\r\n      \"performanceCounter\": {\r\n        \"value\": 0,\r\n        \"name\": \"Requests In Application Queue\",\r\n        \"category\": \"ASP.NET Applications\",\r\n        \"counter\": \"Requests In Application Queue\",\r\n        \"instance\": \"_LM_W3SVC_1_ROOT_FabrikamProd\"\r\n      },\r\n      \"customDimensions\": null,\r\n      \"operation\": {\r\n        \"name\": \"\",\r\n        \"id\": \"Y/bdjmmVotw=\",\r\n        \"parentId\": \"|Y/bdjmmVotw=.be5e89d_\",\r\n        \"syntheticSource\": \"\"\r\n      },\r\n      \"session\": {\r\n        \"id\": \"\"\r\n      },\r\n      \"user\": {\r\n        \"id\": \"\",\r\n        \"accountId\": \"\",\r\n        \"authenticatedId\": \"\"\r\n      },\r\n      \"cloud\": {\r\n        \"roleName\": \"\",\r\n        \"roleInstance\": \"AIConnect2\"\r\n      },\r\n      \"ai\": {\r\n        \"iKey\": \"5a2e4e0c-e136-4a15-9824-90ba859b0a89\",\r\n        \"appName\": \"fabrikamprod\",\r\n        \"appId\": \"cf58dcfd-0683-487c-bc84-048789bca8e5\",\r\n        \"sdkVersion\": \"pc:2.7.0-10498\"\r\n      },\r\n      \"application\": {\r\n        \"version\": \"\"\r\n      },\r\n      \"client\": {\r\n        \"model\": \"\",\r\n        \"os\": \"\",\r\n        \"type\": \"PC\",\r\n        \"browser\": \"\",\r\n        \"ip\": \"0.0.0.0\",\r\n        \"city\": \"Des Moines\",\r\n        \"stateOrProvince\": \"Iowa\",\r\n        \"countryOrRegion\": \"United States\"\r\n      }\r\n    }\r\n  ]\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/v1/apps/DEMO_APP/events/performanceCounters/8f5af43e-c041-11e8-932e-cd5dae094438?timespan=P1D",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-api-key": [
          "DEMO_KEY"
        ],
        "prefer": [
          "response-v1=true"
        ],
        "x-ms-app": [
          "csharpsdk"
        ]
      },
      "ResponseHeaders": {
        "OData-Version": [
          "4.0;"
        ],
        "Content-Type": [
         [...]
