{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourcegroups/Sql-RG-9013?api-version=**",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11935"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/Sql-RG-9013",
        "name": "Sql-RG-9013",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus2",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/Sql-RG-9013/providers/Microsoft.Network/networkSecurityGroups/network-security-group-1771?api-version=**",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus2",
        "properties": {}
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncNotification": "Enabled",
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Network/locations/westus2/operations/88fc60b1-88db-4f2b-a307-dadc8a211320?api-version=2021-02-01",
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "1",
        "x-ms-ratelimit-remaining-subscription-writes": "1198"
      },
      "ResponseBody": {
        "name": "network-security-group-1771",
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/Sql-RG-9013/providers/Microsoft.Network/networkSecurityGroups/network-security-group-1771",
        "etag": "W/\u0022e439bb21-66db-4e5c-8bd1-b373672e48ad\u0022",
        "type": "Microsoft.Network/networkSecurityGroups",
        "location": "westus2",
        "properties": {
          "provisioningState": "Updating",
          "resourceGuid": "6e075dc8-8d92-448f-b338-545759195dde",
          "securityRules": [],
          "defaultSecurityRules": [
            {
              "name": "AllowVnetInBound",
              "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/Sql-RG-9013/providers/Microsoft.Network/networkSecurityGroups/network-security-group-1771/defaultSecurityRules/AllowVnetInBound",
              "etag": "W/\u0022e439bb21-66db-4e5c-8bd1-b373672e48ad\u0022",
              "type": "Microsoft.Network/networkSecurityGroups/defaultSecurityRules",
              "properties": {
                "provisioningState": "Updating",
                "description": "Allow inbound traffic from all VMs in VNET",
                "protocol": "*",
                "sourcePortRange": "*",
                "destinationPortRange": "*",
                "sourceAddressPrefix": "VirtualNetwork",
                "destinationAddressPrefix": "VirtualNetwork",
                "access": "Allow",
                "priority": 65000,
                "direction": "Inbound",
                "sourcePortRanges": [],
                "destinationPortRanges": [],
                "sourceAddressPrefixes": [],
                "destinationAddressPrefixes": []
              }
            },
            {
              "name": "AllowAzureLoadBalancerInBound",
              "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/Sql-RG-9013/providers/Microsoft.Network/networkSecurityGroups/network-security-group-1771/defaultSecurityRules/AllowAzureLoadBalancerInBound",
              "etag": "W/\u0022e439bb21-66db-4e5c-8bd1-b373672e48ad\u0022",
              "type": "Microsoft.Network/networkSecurityGroups/defaultSecurityRules",
   [...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Network/locations/westus2/operations/88fc60b1-88db-4f2b-a307-dadc8a211320?api-version=**",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11934"
      },
      "ResponseBody": {
        "status": "Succeeded"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/Sql-RG-9013/providers/Microsoft.Network/networkSecurityGroups/network-security-group-1771?api-version=**",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\u0022496793de-08d2-4405-b921-9cbf3283c279\u0022",
        "x-ms-ratelimit-remaining-subscription-reads": "11933"
      },
      "ResponseBody": {
        "name": "network-security-group-1771",
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/Sql-RG-9013/providers/Microsoft.Network/networkSecurityGroups/network-security-group-1771",
        "etag": "W/\u0022496793de-08d2-4405-b921-9cbf3283c279\u0022",
        "type": "Microsoft.Network/networkSecurityGroups",[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/Sql-RG-9013/providers/Microsoft.Network/routeTables/route-table-9821?api-version=**",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus2",
        "properties": {}
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncNotification": "Enabled",
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Network/locations/westus2/operations/d7fbea7f-ab7c-4f93-981e-0da4d3f69f06?api-version=2021-02-01",
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "2",
        "x-ms-ratelimit-remaining-subscription-writes": "1197"
      },
      "ResponseBody": {
        "name": "route-table-9821",
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/Sql-RG-9013/providers/Microsoft.Network/routeTables/route-table-9821",
        "etag": "W/\u002241af42cf-c1d6-43e8-af17-4da6878c96ba\u0022",
        "type": "Microsoft.Network/routeTables",
        "location": "westus2",
        "properties": {
          "provisioningState": "Updating",
          "resourceGuid": "fab9d085-92b8-4f84-bf9f-2581406a2d0c",
          "disableBgpRoutePropagation": false,
          "routes": []
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/Sql-RG-9013/providers/Microsoft.Network/virtualNetworks/vnet-4133?api-version=**",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus2",
        "properties": {
          "addressSpace": {
            "addressPrefixes": [
              "10.10.0.0/16"
            ]
          },
          "subnets": [
            {
              "name": "subnet01",
              "properties": {
                "addressPrefix": "10.10.1.0/24"
              }
            },
            {
              "name": "ManagedInstance",
              "properties": {
                "addressPrefix": "10.10.2.0/24",
                "networkSecurityGroup": {
                  "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/Sql-RG-9013/providers/Microsoft.Network/networkSecurityGroups/network-security-group-1771",
                  "properties": {}
                },
                "routeTable": {
                  "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/Sql-RG-9013/providers/Microsoft.Network/routeTables/route-table-9821",
                  "properties": {}
                },
                "delegations": [
                  {
                    "name": "Microsoft.Sql/managedInstances",
                    "type": "Microsoft.Sql/managedInstances",
                    "properties": {
                      "serviceName": "Microsoft.Sql/managedInstances"
                    }
                  }
                ]
              }
            }
          ]
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncNotification": "Enabled",
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Network/locations/westus2/operations/81f6fa87-b557-4553-aa3e-8261de72bc0b?api-version=2021-02-01",
        "Conten[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/Sql-RG-9013/providers/Microsoft.Sql/managedInstances/managed-instance-4989?api-version=2022-08-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "westus2",
        "properties": {
          "administratorLogin": "admin-managed-instance-4989",
          "administratorLoginPassword": "HvVJ%paVC@%GBKmi",
          "subnetId": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/Sql-RG-9013/providers/Microsoft.Network/virtualNetworks/vnet-4133/subnets/ManagedInstance",
          "publicDataEndpointEnabled": false,
          "proxyOverride": "Proxy",
          "timezoneId": "UTC",
          "maintenanceConfigurationId": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Maintenance/publicMaintenanceConfigurations/SQL_Default",
          "zoneRedundant": false
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "60",
        "x-ms-ratelimit-remaining-subscription-writes": "1195"
      },
      "ResponseBody": {
        "sku": {
          "name": "GP_Gen5",
          "tier": "GeneralPurpose",
          "family": "Gen5",
          "capacity": 8
        },
        "properties": {
          "provisioningState": "Creating",
          "administratorLogin": "admin-managed-instance-4989",
          "licenseType": "LicenseIncluded",
          "vCores": 8,
          "storageSizeInGB": 256,
          "collation": "SQL_Latin1_General_CP1_CI_AS",
          "publicDataEndpointEnabled": false,
          "proxyOverride": "Proxy",
          "timezoneId": "UTC",
          "maintenanceConfigurationId": "SystemDefault",
          "privateEndpointConnections": [],
          "currentBackupStorageRedundancy": "Geo",
          "requestedBackupStorageRedundancy": "Geo",
          "zoneRedundant": false
        },
        "location": "westus2",
        "tags": {},
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/Sql-RG-9013/providers/Microsoft.Sql/managedInstances/managed-instance-4989",
        "name": "managed-instance-4989",
        "type": "Microsoft.Sql/managedInstances"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/Sql-RG-9013/providers/Microsoft.Sql/managedInstances/managed-instance-4989?api-version=2022-08-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11928"
      },
      "ResponseBody": {
        "sku": {
          "name": "GP_Gen5",
          "tier": "GeneralPurpose",
          "family": "Gen5",
          "capacity": 8
        },
        "properties": {
          "provisioningState": "Creating",
          "administratorLogin": "admin-managed-instance-4989",
          "subnetId": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/Sql-RG-9013/providers/Microsoft.Network/virtualNetworks/vnet-4133/subnets/ManagedInstance",
          "state": "Creating",
          "licenseType": "LicenseIncluded",
          "vCores": 8,
          "storageSizeInGB": 256,
          "collation": "SQL_Latin1_General_CP1_CI_AS",
          "publicDataEndpointEnabled": false,
          "proxyOverride": "Proxy",
          "timezoneId": "UTC",
          "maintenanceConfigurationId": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Maintenance/publicMaintenanceConfigurations/SQL_Default",
          "privateEndpointConnections": [],
          "currentBackupStorageRedundancy": "Geo",
          "requestedBackupStorageRedundancy": "Geo",
          "zoneRedundant": false
        },
        "location": "westus2",
        "tags": {},
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/Sql-RG-9013/providers/Microsoft.Sql/managedInstances/managed-instance-4989",
        "name": "managed-instance-4989",
        "type": "Microsoft.Sql/managedInstances"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/Sql-RG-9013/providers/Microsoft.Sql/managedInstances/managed-instance-4989?api-version=2022-08-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11870"
      },
      "ResponseBody": {
        "sku": {
          "name": "GP_Gen5",
          "tier": "GeneralPurpose",
          "family": "Gen5",
          "capacity": 8
        },
        "properties": {
          "provisioningState": "Creating",
          "fullyQualifiedDomainName": "managed-instance-4989.f0e6122370ac.database.windows.net",
          "administratorLogin": "admin-managed-instance-4989",
          "subnetId": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/Sql-RG-9013/providers/Microsoft.Network/virtualNetworks/vnet-4133/subnets/ManagedInstance",
          "state": "Creating",
          "licenseType": "LicenseIncluded",
          "vCores": 8,
          "storageSizeInGB": 256,
          "collation": "SQL_Latin1_General_CP1_CI_AS",
          "dnsZone": "f0e6122370ac",
          "publicDataEndpointEnabled": false,
          "proxyOverride": "Proxy",
          "timezoneId": "UTC",
          "maintenanceConfigurationId": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Maintenance/publicMaintenanceConfigurations/SQL_Default",
          "privateEndpointConnections": [],
          "currentBackupStorageRedundancy": "Geo",
          "requestedBackupStorageRedundancy": "Geo",
          "zoneRedundant": false
        },
        "location": "westus2",
        "tags": {},
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/Sql-RG-9013/providers/Microsoft.Sql/managedInstances/managed-instance-4989",
        "name": "managed-instance-4989",
        "type": "Microsoft.Sql/managedInstances"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/Sql-RG-9013/providers/Microsoft.Network/virtualNetworks?api-version=**",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11861"
      },
      "ResponseBody": {
        "value": [
          {
            "name": "vnet-4133",
            "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/Sql-RG-9013/providers/Microsoft.Network/virtualNetworks/vnet-4133",
            "etag": "W/\u0022cac30cf1-b830-43e1-85ee-61371227fe83\u0022",
            "type": "Microsoft.Network/virtualNetworks",
            "location": "westus2",
            "properties": {
              "provisioningState": "Succeeded",
              "resourceGuid": "f558f71b-1562-41dd-85cf-6d126126dfc2",
              "addressSpace": {
                "addressPrefixes": [
                  "10.10.0.0/16"
                ]
              },
              "subnets": [
                {
                  "name": "subnet01",
                  "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/Sql-RG-9013/providers/Microsoft.Network/virtualNetworks/vnet-4133/subnets/subnet01",
                  "etag": "W/\u0022cac30cf1-b830-43e1-85ee-61371227fe83\u0022",
                  "properties": {
                    "provisioningState": "Succeeded",
                    "addressPrefix": "10.10.1.0/24",
                    "delegations": [],
                    "privateEndpointNetworkPolicies": "Disabled",
                    "privateLinkServiceNetworkPolicies": "Enabled"
                  },
                  "type": "Microsoft.Network/virtualNetworks/subnets"
                },
                {
                  "name": "ManagedInstance",
                  "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/Sql-RG-9013/providers/Microsoft.Network/virtualNetworks/vnet-4133/subnets/ManagedInstance",
                  "etag": "W/\u0022cac30cf1-b830-43e1-85ee-61371227fe83\u0022",
                  "properties": {
                    "provisioningState": "Succeeded",
                    "addressPrefix": "10.10.2.0/24",
                    "networkSecurityGroup": {
                      "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/Sql-RG-9013/providers/Microsoft.Network/networkSecurityGroups/network-security-group-1771"
                    },
                    "routeTable": {
                      "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/Sql-RG-9013/providers/Microsoft.Network/routeTables/route-table-9821"
                    },
                    "ipConfigurations": [
                      {
                        "id": "/subscriptions/0e66391e-3ce4-494b-bb84-6ad01cfb411a/resourceGroups/Default-SWIFT-WestUS2/providers/Microsoft.Network/loadBalancers/wasd-prod-westus2-a-tr10505-privateLB/frontendIPConfigurations/frontend-lb"
                      }
                    ],
                    "networkIntentPolicies": [
                      {
                        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/Sql-RG-9013/providers/Microsoft.Network/networkIntentPolicies/mi_default_f558f71b-1562-41dd-85cf-6d126126dfc2_10-10-2-0-24"
                      }
                    ],
                    "serviceAssociationLinks": [
                      {
                        "name": "serviceAssociationLinkForSqlMI",
                        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/Sql-RG-9013/providers/Microsoft.Network/virtualNetworks/vnet-4133/subnets/ManagedInstance/serviceAssociationLinks/serviceAssociationLinkForSqlMI",
                        "etag": "W/\u0022cac30cf1-b830-43e1-85ee-61371227fe83\u0022",
                        "type": "Microsoft.Network/virtualNetworks/subnets/serviceAssociationLinks",
                        "properties": {
                          "provisioningState": "Succeeded",
                          "linkedResourceType": "Microsoft.Sql/managedInstances",
                          "link": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/Sql-RG-9013/providers/Microsoft.Sql/virtualClusters/VirtualCluster3dbceb39-9cc4-4add-98aa-4e086ead0217?api-version=2022-05-01-preview",
                          "enabledForArmDeployments": false,
                          "allowDelete": false,
                          "locations": []
                        }
                      }
                    ],
                    "delegations": [
                      {
                        "name": "Microsoft.Sql/managedInstances",
                        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/Sql-RG-9013/providers/Microsoft.Network/virtualNetworks/vnet-4133/subnets/ManagedInstance/delegations/Microsoft.Sql/managedInstances",
                        "etag": "W/\u0022cac30cf1-b830-43e1-85ee-61371227fe83\u0022",
                        "properties": {
                          "provisioningState": "Succeeded",
                          "serviceName": "Microsoft.Sql/managedInstances",
                          "actions": [
                            "Microsoft.Network/virtualNetworks/subnets/join/action",
                            "Microsoft.Network/virtualNetworks/subnets/prepareNetworkPolicies/action",
                            "Microsoft.Network/virtualNetworks/subnets/unprepareNetworkPolicies/action"
                          ]
                        },
                        "type": "Microsoft.Network/virtualNetworks/subnets/delegations"
                      }
                    ],
                    "privateEndpointNetworkPolicies": "Disabled",
                    "privateLinkServiceNetworkPolicies": "Enabled"
                  },
                  "type": "Microsoft.Network/virtualNetworks/subnets"
                }
              ],
              "virtualNetworkPeerings": [],
              "enableDdosProtection": false
            }
          }
        ]
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/Sql-RG-9013/providers/Microsoft.Network/virtualNetworks/vnet-4133/subnets/private-endpoint-subnet?api-version=**",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "addressPrefix": "10.10.5.0/24",
          "privateEndpointN[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/Sql-RG-9013/providers/Microsoft.Network/privateEndpoints/managed-instance-4989-private-endpoint?api-version=**",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus2",
        "properties": {
          "subnet": {
            "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/Sql-RG-9013/providers/Microsoft.Network/virtualNetworks/vnet-4133/subnets/private-endpoint-subnet",
            "properties": {}
          },
          "privateLinkServiceConnections": [
            {
              "name": "managed-instance-4989-private-endpoint",
              "properties": {
                "privateLinkServiceId": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/Sql-RG-9013/providers/Microsoft.Sql/managedInstances/managed-instance-4989",
                "groupIds": [
                  "managedInstance"
                ]
              }
            }
          ]
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncNotification": "Enabled",
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Network/locations/westus2/operations/aebcb54d-ead5-4249-8a34-3648cee6c94f?api-version=2021-02-01",
        "Content-Type": "application/json; charset=u[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/Sql-RG-9013/providers/Microsoft.Sql/managedInstances/managed-instance-4989/privateEndpointConnections?api-version=2020-11-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11854"
      },
      "ResponseBody": {
        "value": [
          {
            "properties": {
              "privateEndpoint": {
                "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/Sql-RG-9013/providers/Microsoft.Network/privateEndpoints/managed-instance-4989-private-endpoint"
              },
              "privateLinkServiceConnectionState": {
                "status": "Approved",
                "description": "Auto-approved",
                "actionsRequired": "None"
              },
              "provisioningState": "Ready"
            },
            "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/Sql-RG-9013/providers/Microsoft.Sql/managedInstances/managed-instance-4989/privateEndpointConnections/managed-instance-4989-private-endpoint-31ccf345-15be-4eda-bc83-ecd206d2b1d2",
            "name": "managed-instance-4989-private-endpoint-31ccf345-15be-4eda-bc83-ecd206d2b1d2",
            "type": "Microsoft.Sql/managedInstances/privateEndpointConnections"
          }
        ]
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/Sql-RG-9013/providers/Microsoft.Sql/managedInstances/managed-instance-4989/privateEndpointConnections/managed-instance-4989-private-endpoint-31ccf345-15be-4eda-bc83-ecd206d2b1d2?api-version=2020-11-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "Respon[...]
[...]
