{
  "Entries": [
    {
      "RequestUri": "https://login.microsoftonline.com/common/discovery/instance?api-version=1.1\u0026authorization_endpoint=https%3A%2F%2Flogin.microsoftonline.com%2Fc54fac88-3dd3-461f-a7c4-8a368e0340b3%2Foauth2%2Fv2.0%2Fauthorize",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "return-client-request-id": "true",
        "x-app-name": "UnknownClient",
        "x-app-ver": "0.0.0.0",
        "x-client-CPU": "x64",
        "x-client-OS": "Windows 10 Enterprise",
        "x-client-SKU": "MSAL.Desktop",
        "x-client-Ver": "4.30.1.0"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "tenant_discovery_endpoint": "https://login.microsoftonline.com/c54fac88-3dd3-461f-a7c4-8a368e0340b3/v2.0/.well-known/openid-configuration",
        "api-version": "1.1",
        "metadata": [
          {
            "preferred_network": "login.microsoftonline.com",
            "preferred_cache": "login.windows.net",
            "aliases": [
              "login.microsoftonline.com",
              "login.windows.net",
              "login.microsoft.com",
              "sts.windows.net"
            ]
          },
          {
            "preferred_network": "login.partner.microsoftonline.cn",
            "preferred_cache": "login.partner.microsoftonline.cn",
            "aliases": [
              "login.partner.microsoftonline.cn",
              "login.chinacloudapi.cn"
            ]
          },
          {
            "preferred_network": "login.microsoftonline.de",
            "preferred_cache": "login.microsoftonline.de",
            "aliases": [
              "login.microsoftonline.de"
            ]
          },
          {
            "preferred_network": "login.microsoftonline.us",
            "preferred_cache": "login.microsoftonline.us",
            "aliases": [
              "login.microsoftonline.us",
              "login.usgovcloudapi.net"
            ]
          },
          {
            "preferred_network": "login-us.microsoftonline.com",
            "preferred_cache": "login-us.microsoftonline.com",
            "aliases": [
              "login-us.microsoftonline.com"
            ]
          }
        ]
      }
    },
    {
      "RequestUri": "https://login.microsoftonline.com/c54fac88-3dd3-461f-a7c4-8a368e0340b3/oauth2/v2.0/token",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/x-www-form-urlencoded",
        "return-client-request-id": "true",
        "x-app-name": "UnknownClient",
        "x-app-ver": "0.0.0.0",
        "x-client-CPU": "x64",
        "x-client-current-telemetry": "4|1004,2|,,0,,,,1",
        "x-client-last-telemetry": "4|0|||",
        "x-client-OS": "Windows 10 Enterprise",
        "x-client-SKU": "MSAL.Desktop",
        "x-client-Ver": "4.30.1.0",
        "x-ms-lib-capability": "retry-after, h429"
      },
      "RequestBody": "Sanitized",
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "token_type": "Bearer",
        "expires_in": 3599,
        "ext_expires_in": 3599,
        "access_token": "Sanitized"
      }
    },
    {
      "RequestUri": "https://login.microsoftonline.com/c54fac88-3dd3-461f-a7c4-8a368e0340b3/oauth2/v2.0/token",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/x-www-form-urlencoded",
        "return-client-request-id": "true",
        "x-app-name": "UnknownClient",
        "x-app-ver": "0.0.0.0",
        "x-client-CPU": "x64",
        "x-client-current-telemetry": "4|1004,2|,,0,,,,1",
        "x-client-last-telemetry": "4|0|||",
        "x-client-OS": "Windows 10 Enterprise",
        "x-client-SKU": "MSAL.Desktop",
        "x-client-Ver": "4.30.1.0",
        "x-ms-lib-capability": "retry-after, h429"
      },
      "RequestBody": "Sanitized",
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "token_type": "Bearer",
        "expires_in": 3599,
        "ext_expires_in": 3599,
        "access_token": "Sanitized"
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": null,
    "IDENTITY_SP_CLIENT_ID": "26790ce1-d05c-4de7-ba73-51837152f0bc",
    "IDENTITY_SP_TENANT_ID": "c54fac88-3dd3-461f-a7c4-8a368e0340b3",
    "RandomSeed": "678209588"
  }
}