{
  "Entries": [
    {
      "RequestUri": "https://login.microsoftonline.com/common/discovery/instance?api-version=1.1\u0026authorization_endpoint=https%3A%2F%2Flogin.microsoftonline.com%2F72f988bf-86f1-41af-91ab-2d7cd011db47%2Foauth2%2Fv2.0%2Fauthorize",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "return-client-request-id": "true",
        "x-app-name": "UnknownClient",
        "x-app-ver": "0.0.0.0",
        "x-client-OS": "Microsoft Windows 10.0.19042 ",
        "x-client-SKU": "MSAL.NetCore",
        "x-client-Ver": "4.16.1.0"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "tenant_discovery_endpoint": "https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47/v2.0/.well-known/openid-configuration",
        "api-version": "1.1",
        "metadata": [
          {
            "preferred_network": "login.microsoftonline.com",
            "preferred_cache": "login.windows.net",
            "aliases": [
              "login.microsoftonline.com",
              "login.windows.net",
              "login.microsoft.com",
              "sts.windows.net"
            ]
          },
          {
            "preferred_network": "login.partner.microsoftonline.cn",
            "preferred_cache": "login.partner.microsoftonline.cn",
            "aliases": [
              "login.partner.microsoftonline.cn",
              "login.chinacloudapi.cn"
            ]
          },
          {
            "preferred_network": "login.microsoftonline.de",
            "preferred_cache": "login.microsoftonline.de",
            "aliases": [
              "login.microsoftonline.de"
            ]
          },
          {
            "preferred_network": "login.microsoftonline.us",
            "preferred_cache": "login.microsoftonline.us",
            "aliases": [
              "login.microsoftonline.us",
              "login.usgovcloudapi.net"
            ]
          },
          {
            "preferred_network": "login-us.microsoftonline.com",
            "preferred_cache": "login-us.microsoftonline.com",
            "aliases": [
              "login-us.microsoftonline.com"
            ]
          }
        ]
      }
    },
    {
      "RequestUri": "https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47/oauth2/v2.0/token",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "return-client-request-id": "true",
        "x-app-name": "UnknownClient",
        "x-app-ver": "0.0.0.0",
        "x-client-current-telemetry": "2|1004,0|",
        "x-client-last-telemetry": "2|0|||",
        "x-client-OS": "Microsoft Windows 10.0.19042 ",
        "x-client-SKU": "MSAL.NetCore",
        "x-client-Ver": "4.16.1.0",
        "x-ms-lib-capability": "retry-after, h429",
        "x-ms-PKeyAuth": "1.0"
      },
      "RequestBody": "U2FuaXRpemVk",
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "token_type": "Bearer",
        "expires_in": 86399,
        "ext_expires_in": 86399,
        "refresh_in": 43199,
        "access_token": "Sanitized"
      }
    }
  ],
  "Variables": {
    "IDENTITY_SP_CLIENT_ID": "2c36e5bd-85e1-49c4-95d4-ab070acfb606",
    "IDENTITY_SP_TENANT_ID": "72f988bf-86f1-41af-91ab-2d7cd011db47",
    "RandomSeed": "572638946"
  }
}