{
  "Entries": [
    {
      "RequestUri": "https://sanitized.skype.com/identities?api-version=2021-03-07",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 12 Jul 2022 00:00:16 GMT"
      },
      "RequestBody": {},
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview, 2021-11-01, 2022-06-01",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "hC3SxI7hc0ObkESFiVwM7A.0",
        "X-Processing-Time": "88ms"
      },
      "ResponseBody": {
        "identity": {
          "id": "Sanitized"
        }
      }
    },
    {
      "RequestUri": "https://sanitized.skype.com/calling/callConnections?api-version=2022-04-07-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 12 Jul 2022 00:00:17 GMT"
      },
      "RequestBody": {
        "targets": [
          {
            "rawId": "Sanitized",
            "phoneNumber": {
              "value": "Sanitized"
            }
          }
        ],
        "source": {
          "callerId": {
            "value": "Sanitized"
          },
          "identifier": {
            "rawId": "Sanitized",
            "communicationUser": {
              "id": "Sanitized"
            }
          }
        },
        "callbackUri": "https://dummy.ngrok.io/api/incident/callback?SecretKey=helloworld"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "X-Microsoft-Skype-Chain-ID": "154ee003-4064-4c87-85ee-55c2b2922fb6"
      },
      "ResponseBody": {
        "callConnectionId": "401f1200-86e9-4f1f-a506-591fe9a13b4f",
        "source": {
          "rawId": "Sanitized",
          "communicationUser": {
            "id": "Sanitized"
          }
        },
        "alternateCallerId": {
          "value": "Sanitized"
        },
        "targets": [
          {
            "rawId": "Sanitized",
            "phoneNumber": {
              "value": "Sanitized"
            }
          }
        ],
        "callConnectionState": "connecting",
        "callbackUri": "https://dummy.ngrok.io/api/incident/callback?SecretKey=helloworld"
      }
    },
    {
      "RequestUri": "https://sanitized.skype.com/calling/callConnections/401f1200-86e9-4f1f-a506-591fe9a13b4f?api-version=2022-04-07-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 12 Jul 2022 00:00:27 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "X-Microsoft-Skype-Chain-ID": "154ee003-4064-4c87-85ee-55c2b2922fb6"
      },
      "ResponseBody": {
        "callConnectionId": "401f1200-86e9-4f1f-a506-591fe9a13b4f",
        "serverCallId": "aHR0cHM6Ly9hcGkuZmxpZ2h0cHJveHkuc2t5cGUuY29tL2FwaS92Mi9jcC94LWNvbnYtZXVuby0wMS5jb252LnNreXBlLmNvbS9jb252L3ZYOEI4Q044YUVPOG9YTXNUcDhmWXc/aT0xJmU9NjM3OTI5MDM5NTk1Njg5NzM3",
        "source": {
          "rawId": "Sanitized",
          "communicationUser": {
            "id": "Sanitized"
          }
        },
        "alternateCallerId": {
          "value": "Sanitized"
        },
        "targets": [
          {
            "rawId": "Sanitized",
            "phoneNumber": {
              "value": "Sanitized"
            }
          }
        ],
        "callConnectionState": "connected",
        "callbackUri": "https://dummy.ngrok.io/api/incident/callback?SecretKey=helloworld"
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.skype.com/calling/callConnections/401f1200-86e9-4f1f-a506-591fe9a13b4f?api-version=2022-04-07-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 12 Jul 2022 00:00:38 GMT"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "X-Microsoft-Skype-Chain-ID": "29ef7f48-2b5f-4dd0-a633-fc0bd152bed6"
      },
      "ResponseBody": {
        "error": {
          "code": "8522",
          "message": "Call not found."
        }
      }
    }
  ],
  "Variables": {
    "AZURE_PHONE_NUMBER": "\u002B18771234567",
    "COMMUNICATION_LIVETEST_STATIC_CONNECTION_STRING": "endpoint=https://minwoolee-comm2.communication.azure.com/;accesskey=Kg==",
    "PMA_Endpoint": "https://sanitized.com",
    "RandomSeed": "1285883973",
    "TARGET_PHONE_NUMBER": "\u002B16041234567"
  }
}
