{
  "Entries": [
    {
      "RequestUri": "https://sanitized.skype.com/identities?api-version=2021-03-07",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Sat, 09 Jul 2022 00:51:53 GMT"
      },
      "RequestBody": {},
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview, 2021-11-01, 2022-06-01",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "D5KjPsCE5UuVe3WhWu\u002BwhA.0",
        "X-Processing-Time": "89ms"
      },
      "ResponseBody": {
        "identity": {
          "id": "Sanitized"
        }
      }
    },
    {
      "RequestUri": "https://sanitized.skype.com/calling/callConnections?api-version=2022-04-07-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Sat, 09 Jul 2022 00:51:54 GMT"
      },
      "RequestBody": {
        "targets": [
          {
            "rawId": "Sanitized",
            "phoneNumber": {
              "value": "Sanitized"
            }
          }
        ],
        "source": {
          "callerId": {
            "value": "Sanitized"
          },
          "identifier": {
            "rawId": "Sanitized",
            "communicationUser": {
              "id": "Sanitized"
            }
          }
        },
        "callbackUri": "https://dummy.ngrok.io/api/incident/callback?SecretKey=helloworld"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "X-Microsoft-Skype-Chain-ID": "c09dddbe-eac0-417a-a0a3-6bd56dccebc0"
      },
      "ResponseBody": {
        "callConnectionId": "441f1200-88fd-44c6-b15c-ad3b28f34c31",
        "source": {
          "rawId": "Sanitized",
          "communicationUser": {
            "id": "Sanitized"
          }
        },
        "alternateCallerId": {
          "value": "Sanitized"
        },
        "targets": [
          {
            "rawId": "Sanitized",
            "phoneNumber": {
              "value": "Sanitized"
            }
          }
        ],
        "callConnectionState": "connecting",
        "callbackUri": "https://dummy.ngrok.io/api/incident/callback?SecretKey=helloworld"
      }
    },
    {
      "RequestUri": "https://sanitized.skype.com/calling/callConnections/441f1200-88fd-44c6-b15c-ad3b28f34c31?api-version=2022-04-07-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Sat, 09 Jul 2022 00:52:05 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "X-Microsoft-Skype-Chain-ID": "c09dddbe-eac0-417a-a0a3-6bd56dccebc0"
      },
      "ResponseBody": {
        "callConnectionId": "441f1200-88fd-44c6-b15c-ad3b28f34c31",
        "serverCallId": "aHR0cHM6Ly9hcGkuZmxpZ2h0cHJveHkuc2t5cGUuY29tL2FwaS92Mi9jcC94LWNvbnYtZXVuby0wMS5jb252LnNreXBlLmNvbS9jb252LzhvM3VTLWxiX0V1WkNYcC15THZGM3c/aT0wJmU9NjM3OTI5MDM1NTg4NzYyNDcy",
        "source": {
          "rawId": "Sanitized",
          "communicationUser": {
            "id": "Sanitized"
          }
        },
        "alternateCallerId": {
          "value": "Sanitized"
        },
        "targets": [
          {
            "rawId": "Sanitized",
            "phoneNumber": {
              "value": "Sanitized"
            }
          }
        ],
        "callConnectionState": "connected",
        "callbackUri": "https://dummy.ngrok.io/api/incident/callback?SecretKey=helloworld"
      }
    },
    {
      "RequestUri": "https://sanitized.skype.com/calling/callConnections/441f1200-88fd-44c6-b15c-ad3b28f34c31?api-version=2022-04-07-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Sat, 09 Jul 2022 00:52:05 GMT"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "X-Microsoft-Skype-Chain-ID": "c09dddbe-eac0-417a-a0a3-6bd56dccebc0"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "AZURE_PHONE_NUMBER": "\u002B18771234567",
    "COMMUNICATION_LIVETEST_STATIC_CONNECTION_STRING": "endpoint=https://minwoolee-comm2.communication.azure.com/;accesskey=Kg==",
    "PMA_Endpoint": "https://sanitized.com",
    "RandomSeed": "354208523",
    "TARGET_PHONE_NUMBER": "\u002B16041234567"
  }
}
