{
  "Entries": [
    {
      "RequestUri": "https://acstelephonyportaltesting.communication.azure.com/calling:join?api-version=2021-11-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "callLocator": {
          "groupCallId": "0cf87440-50fd-11ec-87c7-57501c0d6284",
          "kind": "groupCallLocator"
        },
        "source": {
          "communicationUser": {
            "id": "8:acs:ab12b0ea-85ea-4f83-b0b6-84d90209c7c4_0000000e-0b11-32b7-69f0-553a0d00ee50"
          }
        },
        "callbackUri": "https://dummy.ngrok.io/api/incident/callback?SecretKey=helloworld",
        "requestedMediaTypes": [
          "audio"
        ],
        "requestedCallEvents": [
          "participantsUpdated"
        ]
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "X-Microsoft-Skype-Chain-ID": "ca4c07ce-86b2-462f-b794-5d7d0315d842"
      },
      "ResponseBody": {
        "callConnectionId": "40201300-c8d5-4ae2-8196-b923ce5e64dd"
      }
    },
[...]
    {
      "RequestUri": "https://acstelephonyportaltesting.communication.azure.com/calling/recordings?api-version=2021-11-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "callLocator": {
          "groupCallId": "0cf87440-50fd-11ec-87c7-57501c0d6284",
          "kind": "groupCallLocator"
        },
        "recordingStateCallbackUri": "https://dummy.ngrok.io/api/incident/callback?SecretKey=helloworld"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "X-Microsoft-Skype-Chain-ID": "2dc281dd-d9e1-40c4-8f16-cd96a537f677"
      },
      "ResponseBody": {
        "recordingId": "eyJQbGF0Zm9ybUVuZHBvaW50SWQiOiI0MDIwMTMwMC1jYjgwLTQ2OGUtODM5OS0yNjdhOGQ2YzYyMWYiLCJSZXNvdXJjZVNwZWNpZmljSWQiOiI5NzI2MGU0MS1lMGNmLTRjMWMtOGRmYi0yZmEyMzA3MjI1NmUifQ"
      }
    },
    {
      "RequestUri": "https://acstelephonyportaltesting.communication.azure.com/calling/recordings/eyJQbGF0Zm9ybUVuZHBvaW50SWQiOiI0MDIwMTMwMC1jYjgwLTQ2OGUtODM5OS0yNjdhOGQ2YzYyMWYiLCJSZXNvdXJjZVNwZWNpZmljSWQiOiI5NzI2MGU0MS1lMGNmLTRjMWMtOGRmYi0yZmEyMzA3MjI1NmUifQ?api-version=2021-11-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "X-Microsoft-Skype-Chain-ID": "df2c74ca-1cab-4a11-ae65-df38c730a81e"
      },
      "ResponseBody": {
        "recordingState": "active"
      }
    },
    {
      "RequestUri": "https://acstelephonyportaltesting.communication.azure.com/calling/recordings/eyJQbGF0Zm9ybUVuZHBvaW50SWQiOiI0MDIwMTMwMC1jYjgwLTQ2OGUtODM5OS0yNjdhOGQ2YzYyMWYiLCJSZXNvdXJjZVNwZWNpZmljSWQiOiI5NzI2MGU0MS1lMGNmLTRjMWMtOGRmYi0yZmEyMzA3MjI1NmUifQ/:pause?api-version=2021-11-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "X-Microsoft-Skype-Chain-ID": "f3115eba-7be9-4cd0-b838-8f0efe18f4fe"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://acstelephonyportaltesting.communication.azure.com/calling/recordings/eyJQbGF0Zm9ybUVuZHBvaW50SWQiOiI0MDIwMTMwMC1jYjgwLTQ2OGUtODM5OS0yNjdhOGQ2YzYyMWYiLCJSZXNvdXJjZVNwZWNpZmljSWQiOiI5NzI2MGU0MS1lMGNmLTRjMWMtOGRmYi0yZmEyMzA3MjI1NmUifQ/:resume?api-version=2021-11-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "X-Microsoft-Skype-Chain-ID": "90c4d3a5-7f1b-43d1-82ca-e98956e9ce2c"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://acstelephonyportaltesting.communication.azure.com/calling/recordings/eyJQbGF0Zm9ybUVuZHBvaW50SWQiOiI0MDIwMTMwMC1jYjgwLTQ2OGUtODM5OS0yNjdhOGQ2YzYyMWYiLCJSZXNvdXJjZVNwZWNpZmljSWQiOiI5NzI2MGU0MS1lMGNmLTRjMWMtOGRmYi0yZmEyMzA3MjI1NmUifQ?api-version=2021-11-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "X-Microsoft-Skype-Chain-ID": "cd0cc0f6-09eb-48a6-94e0-433a2edec54f"
      },
      "ResponseBody": {
        "error": {
          "code": "8501",
          "message": "Action is invalid when call is not in Established state"
        }
      }
    },
    {
      "RequestUri": "https://acstelephonyportaltesting.communication.azure.com/calling/callConnections/40201300-c8d5-4ae2-8196-b923ce5e64dd/:hangup?api-version=2021-11-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "X-Microsoft-Skype-Chain-ID": "dba75700-9ad5-4021-8658-2625e9775327"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://acstelephonyportaltesting.communication.azure.com/calling/callConnections/40201300-edcb-40f2-8a8a-dd15edac87ab/:hangup?api-version=2021-11-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "X-Microsoft-Skype-Chain-ID": "a4a05af7-ca49-489e-9b8f-a62c0310c15d"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_STATIC_CONNECTION_STRING": "endpoint=https://acstelephonyportaltesting.communication.azure.com/;accesskey=Kg==",
    "RandomSeed": "1908540435"
  }
}