{
  "Entries": [
    {
      "RequestUri": "https://acstelephonyportaltesting.communication.azure.com/calling:join?api-version=2021-11-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 08 Dec 2021 07:24:12 GMT"
      },
      "RequestBody": {
        "callLocator": {
          "groupCallId": "Sanitized",
          "kind": "groupCallLocator"
        },
        "source": {
          "communicationUser": {
            "id": "Sanitized"
          }
        },
        "callbackUri": "https://dummy.ngrok.io/api/incident/callback?SecretKey=helloworld",
        "requestedMediaTypes": [
          "audio"
        ],
        "requestedCallEvents": [
          "participantsUpdated"
        ]
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "X-Microsoft-Skype-Chain-ID": "10c63643-5851-4618-8fee-362ae3aa93c1"
      },
      "ResponseBody": {
        "callConnectionId": "Sanitized"
      }
    },
[...]
    {
      "RequestUri": "https://acstelephonyportaltesting.communication.azure.com/calling/participants?api-version=2021-11-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 08 Dec 2021 07:24:29 GMT"
      },
      "RequestBody": {
        "callLocator": {
          "groupCallId": "Sanitized",
          "kind": "groupCallLocator"
        },
        "callbackUri": "https://dummy.ngrok.io/api/incident/callback?SecretKey=helloworld",
        "participant": {
          "communicationUser": {
            "id": "Sanitized"
          }
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "X-Microsoft-Skype-Chain-ID": "422a6709-aa73-4b65-bbdb-0b2cfd243978"
      },
      "ResponseBody": {
        "operationId": "9358e154-cfef-4eeb-a8e9-07beba688771",
        "status": "running"
      }
    },
    {
      "RequestUri": "https://acstelephonyportaltesting.communication.azure.com/calling/participants:remove?api-version=2021-11-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 08 Dec 2021 07:24:52 GMT"
      },
      "RequestBody": {
        "callLocator": {
          "groupCallId": "Sanitized",
          "kind": "groupCallLocator"
        },
        "identifier": {
          "communicationUser": {
            "id": "Sanitized"
          }
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "X-Microsoft-Skype-Chain-ID": "3512ab87-88d4-43ca-9297-5fe3f2b1c83b"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://acstelephonyportaltesting.communication.azure.com/calling/callConnections/Sanitized/:hangup?api-version=2021-11-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 08 Dec 2021 07:25:03 GMT"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "X-Microsoft-Skype-Chain-ID": "10a47df5-97ec-4c79-a35a-ba4057014e62"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://acstelephonyportaltesting.communication.azure.com/calling/callConnections/Sanitized/:hangup?api-version=2021-11-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 08 Dec 2021 07:25:03 GMT"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "X-Microsoft-Skype-Chain-ID": "abe9c89a-256f-4b6c-81cc-75e209776049"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_STATIC_CONNECTION_STRING": "endpoint=https://acstelephonyportaltesting.communication.azure.com/;accesskey=Kg==",
    "COMMUNICATION_LIVETEST_STATIC_RESOURCE_IDENTIFIER": "Sanitized",
    "RandomSeed": "1248667427",
    "USER_IDENTIFIER": "Sanitized"
  }
}