{
  "Entries": [
    {
      "RequestUri": "https://acs-app-validations.communication.azure.com/calling:join?api-version=2021-11-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 20 Dec 2021 12:19:41 GMT"
      },
      "RequestBody": {
        "callLocator": {
          "groupCallId": "Sanitized",
          "kind": "groupCallLocator"
        },
        "source": {
          "communicationUser": {
            "id": "Sanitized"
          }
        },
        "callbackUri": "https://dummy.ngrok.io/api/incident/callback?SecretKey=helloworld",
        "requestedMediaTypes": [
          "audio"
        ],
        "requestedCallEvents": [
          "participantsUpdated"
        ]
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "X-Microsoft-Skype-Chain-ID": "c435cd58-e88c-4fff-9632-b7c82b6f24e4"
      },
      "ResponseBody": {
        "callConnectionId": "Sanitized"
      }
    },
[...]
    {
      "RequestUri": "https://acs-app-validations.communication.azure.com/calling:playAudio?api-version=2021-11-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 20 Dec 2021 12:19:55 GMT"
      },
      "RequestBody": {
        "callLocator": {
          "groupCallId": "Sanitized",
          "kind": "groupCallLocator"
        },
        "callbackUri": "https://dummy.ngrok.io/api/incident/callback?SecretKey=helloworld",
        "audioFileUri": "https://acsfunctionappstorage.blob.core.windows.net/acs-audio-files/sample-message.wav",
        "loop": true,
        "operationContext": "de346f03-7f8d-41ab-a232-cc5e14990769",
        "audioFileId": "ebb1d98d-fd86-4204-800c-f7bdfc2e515c"
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "X-Microsoft-Skype-Chain-ID": "0fe964c6-2308-4bde-8713-8f8a8ec5bcc2"
      },
      "ResponseBody": {
        "operationId": "d21f1300-a0c2-434c-917b-a49eb11867dd",
        "status": "running",
        "operationContext": "de346f03-7f8d-41ab-a232-cc5e14990769"
      }
    },
    {
      "RequestUri": "https://acs-app-validations.communication.azure.com/calling:cancelMediaOperation?api-version=2021-11-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 20 Dec 2021 12:20:06 GMT"
      },
      "RequestBody": {
        "callLocator": {
          "groupCallId": "Sanitized",
          "kind": "groupCallLocator"
        },
        "mediaOperationId": "d21f1300-a0c2-434c-917b-a49eb11867dd"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "X-Microsoft-Skype-Chain-ID": "38ee1256-8abb-436b-a0bb-165cae51115f"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://acs-app-validations.communication.azure.com/calling/callConnections/Sanitized/:hangup?api-version=2021-11-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 20 Dec 2021 12:20:07 GMT"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "X-Microsoft-Skype-Chain-ID": "c435cd58-e88c-4fff-9632-b7c82b6f24e4"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://acs-app-validations.communication.azure.com/calling/callConnections/Sanitized/:hangup?api-version=2021-11-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 20 Dec 2021 12:20:07 GMT"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "X-Microsoft-Skype-Chain-ID": "c435cd58-e88c-4fff-9632-b7c82b6f24e4"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_STATIC_CONNECTION_STRING": "endpoint=https://acs-app-validations.communication.azure.com/;accesskey=Kg==",
    "COMMUNICATION_LIVETEST_STATIC_RESOURCE_IDENTIFIER": "Sanitized",
    "RandomSeed": "1135263843"
  }
}