{
  "Entries": [
    {
      "RequestUri": "https://us-storage.asm.skype.com/v1/objects/0-wus-d10-00000000000000000000000000000000",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 16 Dec 2021 12:09:33 GMT",
        "x-ms-host": "acs-app-validations.communication.azure.com"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_STATIC_CONNECTION_STRING": "endpoint=https://acs-app-validations.communication.azure.com/;accesskey=Kg==",
    "RandomSeed": "1493252948"
  }
}