{
  "Entries": [
    {
      "RequestUri": "https://us-storage.asm.skype.com/v1/objects/Sanitized",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 06 Dec 2021 14:39:29 GMT",
        "x-ms-host": "acstelephonyportaltesting.communication.azure.com"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_STATIC_CONNECTION_STRING": "endpoint=https://acstelephonyportaltesting.communication.azure.com/;accesskey=Kg==",
    "RandomSeed": "2008390454"
  }
}