{
  "Entries": [
    {
      "RequestUri": "https://us-storage.asm.skype.com/v1/objects/0-wus-d10-182f0234aded83837acb3324f1989c03",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 16 Dec 2021 12:08:16 GMT",
        "x-ms-host": "acs-app-validations.communication.azure.com"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_STATIC_CONNECTION_STRING": "endpoint=https://acs-app-validations.communication.azure.com/;accesskey=Kg==",
    "RandomSeed": "840914583"
  }
}