{
  "Entries": [
    {
      "RequestUri": "https://atlas.microsoft.com/map/copyright/bounding/json?api-version=1.0\u0026mincoordinates=52.41064%2C4.84228\u0026maxcoordinates=52.41762%2C4.84923\u0026text=no",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-client-id": "86ff944f-d704-4f24-8af8-34f4a58ff4e0"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\u0022dc7ffe7b72469970791874b482610232\u0022",
        "x-ms-azuremaps-region": "West US 2"
      },
      "ResponseBody": {
        "formatVersion": "0.0.1",
        "regions": [
          {
            "country": {
              "ISO3": "NLD"
            }
          },
          {
            "country": {
              "ISO3": "ONL"
            }
          }
        ]
      }
    }
  ],
  "Variables": {
    "AZMAPS_CLIENT_ID": "86ff944f-d704-4f24-8af8-34f4a58ff4e0",
    "ENDPOINT_URL": "https://atlas.microsoft.com",
    "RandomSeed": "995386301"
  }
}
