{
  "Entries": [
    {
      "RequestUri": "/subscriptions/45918c83-a22a-4e7d-8026-ccec4bb63589/resourcegroups/csmrg8897?api-version=2020-10-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"westus2\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/45918c83-a22a-4e7d-8026-ccec4bb63589/resourceGroups/csmrg8897\",\r\n  \"name\": \"csmrg8897\",\r\n  \"type\": \"Microsoft.Resources/resourceGroups\",\r\n  \"location\": \"westus2\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/45918c83-a22a-4e7d-8026-ccec4bb63589/resourceGroups/csmrg8897/providers/Microsoft.Orbital/contactProfiles/azsmnet6549?api-version=2021-04-04-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"minimumViableContactDuration\": \"PT1M\",\r\n    \"minimumElevationDegrees\": 5.0,\r\n    \"autoTrackingConfiguration\": \"xBand\",\r\n    \"links\": [\r\n      {\r\n        \"polarization\": \"RHCP\",\r\n        \"direction\": \"Downlink\",\r\n        \"gainOverTemperature\": 25.0,\r\n        \"eirpdBW\": 0.0,\r\n        \"channels\": [\r\n          {\r\n            \"centerFrequencyMHz\": 8160.0,\r\n            \"bandwidthMHz\": 150.0,\r\n            \"endPoint\": {\r\n              \"ipAddress\": \"10.2.0.3\",\r\n              \"endPointName\": \"AQUA_directplayback\",\r\n              \"port\": \"4000\",\r\n              \"protocol\": \"TCP\"\r\n            },\r\n            \"demodulationConfiguration\": \"<config factory=\\\"Attribute\\\" factoryType=\\\"generic\\\">\\r\\n\\t<projectName>quantumRX</projectName>\\r\\n\\t<projectVersion>1.0.0</projectVersion></config>\\r\\n\"\r\n          }\r\n        ]\r\n      }\r\n    ]\r\n  },\r\n  \"location\": \"westus2\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"location\": \"westus2\",\r\n  \"tags\": null,\r\n  \"id\": \"/subscriptions/45918c83-a22a-4e7d-8026-ccec4bb63589/resourceGroups/csmrg8897/providers/Microsoft.Orbital/contactProfiles/azsmnet6549\",\r\n  \"name\": \"azsmnet6549\",\r\n  \"type\": \"Microsoft.Orbital/contactProfiles\",\r\n  \"properties\": {\r\n    \"minimumViableContactDuration\": \"PT1M\",\r\n    \"minimumElevationDegrees\": 5.0,\r\n    \"autoTrackingConfiguration\": \"xBand\",\r\n    \"eventHubNamespaceConnectionString\": null,\r\n    \"links\": [\r\n      {\r\n        \"polarization\": \"RHCP\",\r\n        \"direction\": \"Downlink\",\r\n        \"gainOverTemperature\": 25.0,\r\n        \"eirpdBW\": 0.0,\r\n        \"channels\": [\r\n          {\r\n            \"centerFrequencyMHz\": 8160.0,\r\n            \"bandwidthMHz\": 150.0,\r\n            \"endPoint\": {\r\n              \"ipAddress\": \"10.2.0.3\",\r\n              \"endPointName\": \"AQUA_directplayback\",\r\n              \"port\": \"4000\",\r\n              \"protocol\": \"TCP\"\r\n            },\r\n            \"modulationConfiguration\": null,\r\n            \"demodulationConfiguration\": \"<config factory=\\\"Attribute\\\" factoryType=\\\"generic\\\">\\r\\n\\t<projectName>quantumRX</projectName>\\r\\n\\t<projectVersion>1.0.0</projectVersion></config>\\r\\n\",\r\n            \"encodingConfiguration\": null,\r\n            \"decodingConfiguration\": null\r\n          }\r\n        ]\r\n      }\r\n    ]\r\n  }\r\n}",
      "StatusCode": 201
    },
[...]
    {
      "RequestUri": "/subscriptions/45918c83-a22a-4e7d-8026-ccec4bb63589/resourceGroups/csmrg8897/providers/Microsoft.Orbital/contactProfiles?api-version=2021-04-04-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11997"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"nextLink\": null,\r\n  \"value\": [\r\n    {\r\n      \"location\": \"westus2\",\r\n      \"tags\": null,\r\n      \"id\": \"/subscriptions/45918c83-a22a-4e7d-8026-ccec4bb63589/resourceGroups/csmrg8897/providers/Microsoft.Orbital/contactProfiles/azsmnet6549\",\r\n      \"name\": \"azsmnet6549\",\r\n      \"type\": \"Microsoft.Orbital/contactProfiles\",\r\n      \"properties\": {\r\n        \"minimumViableContactDuration\": \"PT1M\",\r\n        \"minimumElevationDegrees\": 5.0,\r\n        \"autoTrackingConfiguration\": \"xBand\"[...]
[...]
    {
      "RequestUri": "/subscriptions/45918c83-a22a-4e7d-8026-ccec4bb63589/resourceGroups/csmrg8897/providers/Microsoft.Orbital/contactProfiles/azsmnet6549?api-version=2021-04-04-preview",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-deletes": [
          "14999"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 200
    }
  ],
  "Names": {
    "ContactProfileApiTests": [
      "csmrg8897",
      "azsmnet6549"
    ]
  },
  "Variables": {
    "SubscriptionId": "45918c83-a22a-4e7d-8026-ccec4bb63589"
  }
}