{
  "Entries": [
    {
      "RequestUri": "/providers/Microsoft.Capacity/reservationOrders/88e38576-b823-41f6-b128-65ac8da980c2/reservations/57de4172-493a-4929-a44a-b399cefe4ff8/revisions?api-version=2019-04-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-tenant-reads": [
          "14988"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"sku\": {\r\n        \"name\": \"Standard_F1\"\r\n      },\r\n      \"id\": \"/providers/microsoft.capacity/reservationOrders/88e38576-b823-41f6-b128-65ac8da980c2/reservations/57de4172-493a-4929-a44a-b399cefe4ff8/revisions/15\",\r\n      \"type\": \"Microsoft.Capacity/reservationOrders/reservations/revisions\",\r\n      \"name\": \"88e38576-b823-41f6-b128-65ac8da980c2/57de4172-493a-4929-a44a-b399cefe4ff8/15\",\r\n      \"etag\": 15,\r\n      \"location\": \"eastus\",\r\n      \"properties\": {\r\n        \"appliedScopes\": [\r\n          \"/subscriptions/796c84b3-7e3b-411a-a103-157a9ba99783\"\r\n        ],\r\n        \"appliedScopeType\": \"Single\",\r\n        \"quantity\": 3,\r\n        \"provisioningState\": \"Cancelled\",\r\n        \"expiryDate\": \"2020-04-19\",\r\n        \"displayName\": \"TestPurchaseReservation\",\r\n        \"effectiveDateTime\": \"2019-04-19T19:41:51.515238Z\",\r\n        \"extendedStatusInfo\": {\r\n          \"statusCode\": \"Split\",\r\n          \"message\": \"This reservation was split and is no longer active.\"\r\n        },\r\n        \"lastUpdatedDateTime\": \"2019-04-19T19:41:54.1147926Z\",\r\n        \"reservedResourceType\": \"VirtualMachines\",\r\n        \"instanceFlexibility\": \"On\",\r\n        \"skuDescription\": \"Reserved VM Instance, Standard_F1, US East, 1 Year\",\r\n        \"splitProperties\": {\r\n          \"splitDestinations\": [\r\n            \"/providers/microsoft.capacity/reservationOrders/88e38576-b823-41f6-b128-65ac8da980c2/reservations/74834fec-88fc-4d99-8940-a72b60ae6d9a\",\r\n            \"/providers/microsoft.capacity/reservationOrders/88e38576-b823-41f6-b128-65ac8da980c2/reservations/7e1a102b-1326-4c9a-a783-e4a5c542c417\"\r\n          ]\r\n        }\r\n      }\r\n    },\r\n    {\r\n      \"sku\": {\r\n        \"name\": \"Standard_F1\"\r\n      },\r\n      \"id\": \"/providers/microsoft.capacity/reservationO[...]
