{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/77969078-2897-47b0-9143-917252379303/providers/Microsoft.IoTCentral/appTemplates?api-version=2021-11-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "X-IoT-Cluster": "iotcprodcentralus04",
        "x-iot-correlation": "8bcwvzei.0",
        "X-IoT-Version": "041722.0001-release",
        "x-ms-ratelimit-remaining-subscription-writes": "1196"
      },
      "ResponseBody": {
        "value": [
          {
            "manifestId": "iotc-condition",
            "manifestVersion": "1.0.0",
            "name": "Store Analytics \u2013 Condition Monitoring",
            "title": "In-store Analytics \u2013 Condition Monitoring",
            "order": 99,
            "description": "Digitally connect and monitor your store environment to reduce operating costs and create experiences that customers love.",
            "industry": "Retail",
            "locations": [
              {
                "id": "australiaeast",
                "displayName": "Australia East"
              },
              {
                "id": "canadacentral",
                "displayName": "Canada Central"
              },
              {
                "id": "centralus",
                "displayName": "Central US"
              },
              {
                "id": "eastus",
                "displayName": "East US"
              },
              {
                "id": "eastus2",
                "displayName": "East US 2"
              },
              {
  [...]
