{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/77969078-2897-47b0-9143-917252379303/resourcegroups/sdk-test-rg-1189?api-version=2021-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "westus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1188"
      },
      "ResponseBody": {
        "id": "/subscriptions/77969078-2897-47b0-9143-917252379303/resourceGroups/sdk-test-rg-1189",
        "name": "sdk-test-rg-1189",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus",
        "tags": {},
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/77969078-2897-47b0-9143-917252379303/resourceGroups/sdk-test-rg-1189/providers/Microsoft.IoTCentral/iotApps/test-app-6275?api-version=2021-11-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "sku": {
          "name": "ST0"
        },
        "tags": {},
        "location": "westus",
        "properties": {
          "displayName": "test-app-6275",
          "subdomain": "test-app-6275"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "azure-asyncoperation": "https://management.azure.com/subscriptions/77969078-2897-47b0-9143-917252379303/providers/Microsoft.IoTCentral/locations/westus/operationResults/3d45d846-dd98-4b3b-ba56-8eaf1c1292cd?api-version=2021-11-01-preview\u0026type=createOrUpdateIotApplication\u0026x-iot-region=westus\u0026asyncinfo",
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "X-IoT-Cluster": "iotcprodcentralus04",
        "x-iot-correlation": "23jlv1h7.1.0",
        "X-IoT-Version": "041722.0001-release",
        "x-ms-ratelimit-remaining-subscription-writes": "1187"
      },
      "ResponseBody": {
        "id": "/subscriptions/77969078-2897-47b0-9143-917252379303/resourceGroups/sdk-test-rg-1189/providers/Microsoft.IoTCentral/iotApps/test-app-6275",
        "name": "test-app-6275",
        "type": "Microsoft.IoTCentral/IoTApps",
        "location": "westus",
        "tags": {},
        "properties": {
          "state": "created",
          "provisioningState": "Creating",
          "applicationId": "bced4fd2-b0c8-4941-aead-c9ec2091a292",
          "displayName": "test-app-6275",
          "subdomain": "test-app-6275",
          "template": "iotc-pnp-preview@1.0.0",
          "publicNetworkAccess": "Enabled",
          "networkRuleSets": {
            "defaultAction": "Allow",
            "applyToDevices": false,
            "applyToIoTCentral": false,
            "ipRules": []
          },
          "privateEndpointConnections": []
        },
        "sku": {
          "name": "ST0"
        },
        "identity": {
          "type": "None"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/77969078-2897-47b0-9143-917252379303/providers/Microsoft.IoTCentral/locations/westus/operationResults/3d45d846-dd98-4b3b-ba56-8eaf1c1292cd?api-version=2021-11-01-preview\u0026type=createOrUpdateIotApplication\u0026x-iot-region=westus\u0026asyncinfo",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "X-IoT-Cluster": "iotcprodwestus01",
        "x-iot-correlation": "7ss189wj.0",
        "X-IoT-Version": "041722.0001-release",
        "x-ms-ratelimit-remaining-subscription-reads": "11929"
      },
      "ResponseBody": {
        "status": "Creating"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/77969078-2897-47b0-9143-917252379303/resourceGroups/sdk-test-rg-1189/providers/Microsoft.IoTCentral/iotApps/test-app-6275?api-version=2021-11-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\u00228900c6df-0000-0100-0000-626ff94b0000\u0022",
        "X-IoT-Cluster": "iotcprodcentralus04",
        "x-iot-correlation": "4crny79i.0",
        "X-IoT-Version": "041722.0001-release",
        "x-ms-ratelimit-remaining-subscription-reads": "11925"
      },
      "ResponseBody": {
        "id": "/subscriptions/77969078-2897-47b0-9143-917252379303/resourceGroups/sdk-test-rg-1189/providers/Microsoft.IoTCentral/iotApps/test-app-6275",
        "name": "test-app-6275",
        "type": "Microsoft.IoTCentral/IoTApps",
        "location": "westus",
        "tags": {},
        "properties": {
          "state": "created",
          "provisioningState": "Succeeded",
          "applicationId": "bced4fd2-b0c8-4941-aead-c9ec2091a292",
          "displayName": "test-app-6275",
          "subdomain": "test-app-6275",
          "template": "iotc-pnp-preview@1.0.0",
          "publicNetworkAccess": "Enabled",
          "networkRuleSets": {
            "defaultAction": "Allow",
            "applyToDevices": false,
            "applyToIoTCentral": false,
            "ipRules": []
          },
          "privateEndpointConnections": []
        },
        "sku": {
          "name": "ST0"
        },
        "identity": {
          "type": "None"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/77969078-2897-47b0-9143-917252379303/resourceGroups/sdk-test-rg-1189/providers/Microsoft.IoTCentral/iotApps/test-app-6275?api-version=2021-11-01-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "sku": {
          "name": "ST1"
        },
        "identity": {
          "type": "SystemAssigned"
        },
        "properties": {}
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "azure-asyncoperation": "https://management.azure.com/subscriptions/77969078-2897-47b0-9143-917252379303/providers/Microsoft.IoTCentral/locations/westus/operationResults/9dbfa914-7ccc-4b45-b633-f8bafc0a6754?api-version=2021-11-01-preview\u0026type=createOrUpdateIotApplication\u0026x-iot-region=westus\u0026asyncinfo",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/77969078-2897-47b0-9143-917252379303/providers/Microsoft.IoTCentral/locations/westus/operationResults/9dbfa914-7ccc-4b45-b633-f8bafc0a6754?api-version=2021-11-01-preview\u0026type=createOrUpdateIotApplication\u0026x-iot-region=westus",
        "Retry-After": "10",
        "X-IoT-Cluster": "iotcprodcentralus04",
        "x-iot-correlation": "8dmtusgn.1.0",
        "X-IoT-Version": "041722.0001-release",
        "x-ms-ratelimit-remaining-subscription-wr[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/77969078-2897-47b0-9143-917252379303/providers/Microsoft.IoTCentral/locations/westus/operationResults/2e077a9f-5b4b-4a26-bd15-d770633ee241?api-version=2021-11-01-preview\u0026type=deleteIotApplication\u0026x-iot-region=westus\u0026asyncinfo",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "X-IoT-Cluster": "iotcprodwestus01",
        "x-iot-correlation": "7qswg60d.0",
        "X-IoT-Version": "041722.0001-release",
        "x-ms-ratelimit-remaining-subscription-reads": "11915"
      },
      "ResponseBody": {
        "status": "Deleting"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/77969078-2897-47b0-9143-917252379303/providers/Microsoft.IoTCentral/locations/westus/operationResults/2e077a9f-5b4b-4a26-bd15-d770633ee241?api-version=2021-11-01-preview\u0026type=deleteIotApplication\u0026x-iot-region=westus\u0026asyncinfo",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "X-IoT-Cluster": "iotcprodwestus01",
        "x-iot-correlation": "9c2etcdm.0",
        "X-IoT-Version": "041722.0001-release",
        "x-ms-ratelimit-remaining-subscription-reads": "11914"
      },
      "ResponseBody": {
        "status": "Succeeded"
      }
    }
  ],
  "Variables": {
    "RandomSeed": "15792305",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "77969078-2897-47b0-9143-917252379303"
  }
}
