{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourcegroups/sdk-test-rg-2369?api-version=**",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1195"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/sdk-test-rg-2369",
        "name": "sdk-test-rg-2369",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus",
        "tags": {},
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/sdk-test-rg-2369/providers/Microsoft.IoTCentral/iotApps/test-app-587?api-version=2021-11-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "sku": {
          "name": "ST0"
        },
        "tags": {},
        "location": "westus",
        "properties": {
          "displayName": "test-app-587",
          "subdomain": "test-app-587"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "azure-asyncoperation": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.IoTCentral/locations/westus/operationResults/78343ce2-5ac6-42d1-b332-8ac9a7b16f48?api-version=2021-11-01-preview\u0026type=createOrUpdateIotApplication\u0026x-iot-region=westus\u0026asyncinfo",
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "X-IoT-Cluster": "iotcprodcentralus01",
        "x-iot-correlation": "hg7clkb.1.0",
        "X-IoT-Version": "041722.0001-release",
        "x-ms-ratelimit-remaining-subscription-writes": "1194"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/sdk-test-rg-2369/providers/Microsoft.IoTCentral/iotApps/test-app-587",
        "name": "test-app-587",
        "type": "Microsoft.IoTCentral/IoTApps",
        "location": "westus",
        "tags": {},
        "properties": {
          "state": "created",
          "provisioningState": "Creating",
          "applicationId": "b4eceed3-8a57-4403-9756-ed3abe38fbc9",
          "displayName": "test-app-587",
          "subdomain": "test-app-587",
          "template": "iotc-pnp-preview@1.0.0",
          "publicNetworkAccess": "Enabled",
          "networkRuleSets": {
            "defaultAction": "Allow",
            "applyToDevices": false,
            "applyToIoTCentral": false,
            "ipRules": []
          },
          "privateEndpointConnections": []
        },
        "sku": {
          "name": "ST0"
        },
        "identity": {
          "type": "None"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.IoTCentral/locations/westus/operationResults/78343ce2-5ac6-42d1-b332-8ac9a7b16f48?api-version=2021-11-01-preview\u0026type=createOrUpdateIotApplication\u0026x-iot-region=westus\u0026asyncinfo",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "X-IoT-Cluster": "iotcprodwestus04",
        "x-iot-correlation": "39txvtcg.0",
        "X-IoT-Version": "041722.0001-release",
        "x-ms-ratelimit-remaining-subscription-reads": "11987"
      },
      "ResponseBody": {
        "status": "Creating"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/sdk-test-rg-2369/providers/Microsoft.IoTCentral/iotApps/test-app-587?api-version=2021-11-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\u002220000a8b-0000-0100-0000-627045ec0000\u0022",
        "X-IoT-Cluster": "iotcprodcentralus01",
        "x-iot-correlation": "1q7q0uhx.0",
        "X-IoT-Version": "041722.0001-release",
        "x-ms-ratelimit-remaining-subscription-reads": "11984"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/sdk-test-rg-2369/providers/Microsoft.IoTCentral/iotApps/test-app-587",
        "name": "test-app-587",
        "type": "Microsoft.IoTCentral/IoTApps",
        "location": "westus",
        "tags": {},
        "properties": {
          "state": "created",
          "provisioningState": "Succeeded",
          "applicationId": "b4eceed3-8a57-4403-9756-ed3abe38fbc9",
          "displayName": "test-app-587",
          "subdomain": "test-app-587",
          "template": "iotc-pnp-preview@1.0.0",
          "publicNetworkAccess": "Enabled",
          "networkRuleSets": {
            "defaultAction": "Allow",
            "applyToDevices": false,
            "applyToIoTCentral": false,
            "ipRules": []
          },
          "privateEndpointConnections": []
        },
        "sku": {
          "name": "ST0"
        },
        "identity": {
          "type": "None"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/sdk-test-rg-2369/providers/Microsoft.IoTCentral/iotApps/test-app-587/providers/Microsoft.Resources/tags/default?api-version=**",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11983"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/sdk-test-rg-2369/providers/Microsoft.IoTCentral/IoTApps/test-app-587/providers/Microsoft.Resources/tags/default",
        "name": "default",
        "type": "Microsoft.Resources/tags",
        "properties": {
          "tags": {}
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/sdk-test-rg-2369/providers/Microsoft.IoTCentral/iotApps/test-app-587/providers/Microsoft.Resources/tags/default?api-version=**",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "tags": {
            "key": "value"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1193"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/sdk-test-rg-2369/providers/Microsoft.IoTCentral/IoTApps/test-app-587/providers/Microsoft.Resources/tags/default",
        "name": "default",
        "type": "Microsoft.Resources/tags",
        "properties": {
          "tags": {
            "key": "value"
          }
        }
      }
    },
[...]
