{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/2bf4a339-294d-4c25-b0b2-ef649e9f5c27?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11929"
      },
      "ResponseBody": {
        "id": "/subscriptions/2bf4a339-294d-4c25-b0b2-ef649e9f5c27",
        "authorizationSource": "RoleBased",
        "managedByTenants": [
          {
            "tenantId": "942b80cd-1b14-42a1-8dcf-4b21dece61ba"
          }
        ],
        "subscriptionId": "2bf4a339-294d-4c25-b0b2-ef649e9f5c27",
        "tenantId": "888d76fa-54b2-4ced-8ee5-aac1585adee7",
        "displayName": "Liftr-PAN",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Public_2014-09-01",
          "quotaId": "PayAsYouGo_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/2bf4a339-294d-4c25-b0b2-ef649e9f5c27/resourcegroups/dotnetSdkTest-infra-rg?api-version=**",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11928"
      },
      "ResponseBody": {
        "id": "/subscriptions/2bf4a339-294d-4c25-b0b2-ef649e9f5c27/resourceGroups/dotnetSdkTest-infra-rg",
        "name": "dotnetSdkTest-infra-rg",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "northcentralus",
        "tags": {},
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/2bf4a339-294d-4c25-b0b2-ef649e9f5c27/resourceGroups/dotnetSdkTest-infra-rg/providers/PaloAltoNetworks.Cloudngfw/firewalls/dotnetSdkTest-default-1?api-version=2022-08-29",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022b0006c73-0000-0100-0000-649be3190000\u0022",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-reads": "11927"
      },
      "ResponseBody": {
        "id": "/subscriptions/2bf4a339-294d-4c25-b0b2-ef649e9f5c27/resourceGroups/dotnetSdkTest-infra-rg/providers/PaloAltoNetworks.Cloudngfw/firewalls/dotnetSdkTest-default-1",
        "name": "dotnetSdkTest-default-1",
        "type": "paloaltonetworks.cloudngfw/firewalls",
        "location": "eastus2",
        "tags": {
          "Counter": "2"
        },
        "systemData": {
          "createdBy": "vibhuti.sharma@microsoft.com",
          "createdByType": "User",
          "createdAt": "2023-06-28T04:29:21.3902027Z",
          "lastModifiedBy": "864bdfa7-42e8-4658-83dd-9148a39ff519",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2023-06-28T07:36:57.5796494Z"
        },
        "properties": {
          "networkProfile": {
            "vnetConfiguration": {
              "vnet": {
                "resourceId": "/subscriptions/2bf4a339-294d-4c25-b0b2-ef649e9f5c27/resourceGroups/dotnetSdkTest-infra-rg/providers/Microsoft.Network/virtualNetworks/dotnetSdkTest-default-1-vnet"
              },
              "trustSubnet": {
                "resourceId": "/subscriptions/2bf4a339-294d-4c25-b0b2-ef649e9f5c27/resourceGroups/dotnetSdkTest-infra-rg/providers/Microsoft.Network/virtualNetworks/dotnetSdkTest-default-1-vnet/subnets/subnet1"
              },
              "unTrustSubnet": {
                "resourceId": "/subscriptions/2bf4a339-294d-4c25-b0b2-ef649e9f5c27/resourceGroups/dotnetSdkTest-infra-rg/providers/Microsoft.Network/virtualNetworks/dotnetSdkTest-default-1-vnet/subnets/subnet2"
              },
              "ipOfTrustSubnetForUdr": {
                "address": "10.224.0.4"
              }
            },
            "networkType": "VNET",
            "publicIps": [
              {
                "resourceId": "/subscriptions/2bf4a339-294d-4c25-b0b2-ef649e9f5c27/resourceGroups/dotnetSdkTest-infra-rg/providers/Microsoft.Network/publicIPAddresses/dotnetSdkTest-default-1-public-ip",
                "address": "20.122.25.79"
              }
            ],
            "enableEgressNat": "DISABLED",
            "egressNatIp": []
          },
          "associatedRulestack": {
            "resourceId": "/subscriptions/2bf4a339-294d-4c25-b0b2-ef649e9f5c27/resourceGroups/dotnetSdkTest-infra-rg/providers/PaloAltoNetworks.Cloudngfw/localRulestacks/dotnetSdkTest-default-1-lrs",
            "location": "eastus2",
            "rulestackId": "SUBSCRIPTION~2bf4a339-294d-4c25-b0b2-ef649e9f5c27~RG~dotnetSdkTest-infra-rg~STACK~dotnetSdkTest-default-1-lrs"
          },
          "dnsSettings": {
            "enableDnsProxy": "DISABLED",
            "enabledDnsType": "CUSTOM"
          },
          "isPanoramaManaged": "FALSE",
          "provisioningState": "Succeeded",
          "planData": {
            "usageType": "PAYG",
            "billingCycle": "MONTHLY",
            "planId": "cloud-ngfw-payg-test",
            "effectiveDate": "0001-01-01T00:00:00Z"
          },
          "marketplaceDetails": {
            "offerId": "pan_swfw_cloud_ngfw",
            "publisherId": "paloaltonetworks",
            "marketplaceSubscriptionStatus": "Subscribed",
            "marketplaceSubscriptionId": "4d407033-fc7d-470b-dc72-24bd505968d9"
          },
          "panEtag": "6c9061f8-156c-11ee-a1f7-cedd2f0787df"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/2bf4a339-294d-4c25-b0b2-ef649e9f5c27/resourceGroups/dotnetSdkTest-infra-rg/providers/PaloAltoNetworks.Cloudngfw/firewalls/dotnetSdkTest-default-1/saveLogProfile?api-version=2022-08-29",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "logType": "TRAFFIC",
        "logOption": "SAME_DESTINATION",
        "applicationInsights": {},
        "commonDestination": {
          "monitorConfigurations": {
            "id": "/subscriptions/2bf4a339-294d-4c25-b0b2-ef649e9f5c27/resourceGroups/dotnetSdkTest-infra-rg/providers/Microsoft.OperationalInsights/workspaces/dotnetSdkTest-logAnalytics",
            "subscriptionId": "/subscriptions/2bf4a339-294d-4c25-b0b2-ef649e9f5c27",
            "workspace": "22c8efd2-0d44-436a-8c0f-0a31c8a25a84",
            "primaryKey": "Sanitized",
            "secondaryKey": "Sanitized"
          }
        }
      },
      "StatusCode": 204,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "eb4c0e21-bbbb-4b19-9edd-9fcfd1fbbc04",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-writes": "1192"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/2bf4a339-294d-4c25-b0b2-ef649e9f5c27/resourceGroups/dotnetSdkTest-infra-rg/providers/PaloAltoNetworks.Cloudngfw/firewalls/dotnetSdkTest-default-1/getLogProfile?api-version=2022-08-29",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "077d9842-fd86-4223-a82e-906fede70aca",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-writes": "1191"
      },
      "ResponseBody": {
        "logType": "TRAFFIC",
        "logOption": "SAME_DESTINATION",
        "applicationInsights": {
          "id": null,
          "key": null
        },
        "commonDestination": {
          "storageConfigurations": null,
          "eventHubConfigurations": null,
          "monitorConfigurations": {
            "id": "/subscriptions/2bf4a339-294d-4c25-b0b2-ef649e9f5c27/resourceGroups/dotnetSdkTest-infra-rg/providers/Microsoft.OperationalInsights/workspaces/dotnetSdkTest-logAnalytics",
            "subscriptionId": null,
            "workspace": "22c8efd2-0d44-436a-8c0f-0a31c8a25a84",
            "primaryKey": "Sanitized",
            "secondaryKey": "Sanitized"
          }
        },
        "trafficLogDestination": null,
        "threatLogDestination": null,
        "decryptLogDestination": null
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": null,
    "RandomSeed": "1474275728",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "2bf4a339-294d-4c25-b0b2-ef649e9f5c27"
  }
}
