{
  "Entries": [
    {
      "RequestUri": "/secrets/secretwithextendedattribs?api-version=2015-06-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"value\": \"mysecretvalue\",\r\n  \"tags\": {\r\n    \"purpose\": \"unit test\"\r\n  },\r\n  \"contentType\": \"plaintext\",\r\n  \"attributes\": {\r\n    \"enabled\": false,\r\n    \"nbf\": 1476512792\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": \"mysecretvalue\",\r\n  \"contentType\": \"plaintext\",\r\n  \"id\": \"https://herveyw-premium.vault.azure.net/secrets/secretwithextendedattribs/1a54a273e7a845b9b5fc12f7654fc977\",\r\n  \"attributes\": {\r\n    \"enabled\": false,\r\n    \"nbf\": 1476512792,\r\n    \"created\": 1476469593,\r\n    \"updated\": 1476469593\r\n  },\r\n  \"tags\": {\r\n    \"purpose\": \"unit test\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/secrets/secretwithextendedattribs/?api-version=2015-06-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"Forbidden\",\r\n    \"message\": \"Operation get is not allowed on a disabled secret.\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "StatusCode": 403
    }
  ],
  "Names": {},
  "Variables": {
    "VaultAddress": "https://herveyw-premium.vault.azure.net",
    "KeyName": "sdktestkey",
    "KeyVersion": "944192eed71a4ceaa2f6328926754938"
  }
}