{
  "Entries": [
    {
      "RequestUri": "//keys/sdktestkey/create?api-version=2016-10-01",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"kty\": \"RSA\",\r\n  \"key_ops\": [\r\n    \"encrypt\",\r\n    \"decrypt\",\r\n    \"sign\",\r\n    \"verify\",\r\n    \"wrapKey\",\r\n    \"unwrapKey\"\r\n  ]\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"key\": {\r\n    \"kid\": \"https://testvault1020.vault.azure.net/keys/sdktestkey/0389317cb2c84b729affa9c8f101ce37\",\r\n    \"kty\": \"RSA\",\r\n    \"key_ops\": [\r\n      \"encrypt\",\r\n      \"decrypt\",\r\n      \"sign\",\r\n      \"verify\",\r\n      \"wrapKey\",\r\n      \"unwrapKey\"\r\n    ],\r\n    \"n\": \"uK9mxFyFq6z4_EjxThdv0FAxLCOIlImEswFBba4mNb59_HROXgN3_-r2IX3zy4xJ68NeIY3GDjt7c7Ea5MfemRkHGB92GXuLfy2aQkC-Kgd76HzccWEms2wEgqG9CdtosX_GQo_uThzLIZwxIeSZBhnc_3db4pkATS7TYvgnyiHhUkV--ScnCOyygG98wwwl4bBLvrHJE_oZ75HRVsfKe2mr8gHJUKjEr1vyVAGiEHdjKzv-0d_cTnD7Oz7A7sty4RToMrVTQDLFKNNZ0F8BQgy6cEeerafh3gmRUTu3azw849Ebw1JbFPD_YAdGVXVlTutlI1mLagRAPXPfMY_r3Q\",\r\n    \"e\": \"AQAB\"\r\n  },\r\n  \"attributes\": {\r\n    \"enabled\": true,\r\n    \"created\": 1477082129,\r\n    \"updated\": 1477082129\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/keys/sdktestkey//encrypt?api-version=2016-10-01",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"alg\": \"RSA1_5\",\r\n  \"value\": \"Z0pm5tuTYCfeHg\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"kid\": \"https://testvault1020.vault.azure.net/keys/sdktestkey/0389317cb2c84b729affa9c8f101ce37\",\r\n  \"value\": \"YYoMBR_OYkIYJvOlR1egPE-N4dfCJOUG0xVnsc8F42lJwsBCkgZtSa_aiPzYTlgQRKGa5KhanLXi5FFV07LUaioeIhCJU_7JCApvv0KRukD-PRq2xTJhP9z5cWkJ1xdutH-9hIppSI7Kl1OKl2fZwvxoDICgYMUiSQdqAOCCzJXdTRBiqVx-w6ZxNYfi-zUYbf_FpV7LeIr11ywnM6EjpofcWu4qiuKlMHv18pUjIHzi28oBndBWS_jQtpOcMEFkWllcoKIln-GfnkDhPtDTe2ePxGz9-hRfvDGF5isq1KMGo_jryMaxzXgoP6rIw_goWXul0Dd2gZX_3H99lyOD9A\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/keys/sdktestkey/0389317cb2c84b729affa9c8f101ce37/decrypt?api-version=2016-10-01",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"alg\": \"RSA1_5\",\r\n  \"value\": \"YYoMBR_OYkIYJvOlR1egPE-N4dfCJOUG0xVnsc8F42lJwsBCkgZtSa_aiPzYTlgQRKGa5KhanLXi5FFV07LUaioeIhCJU_7JCApvv0KRukD-PRq2xTJhP9z5cWkJ1xdutH-9hIppSI7Kl1OKl2fZwvxoDICgYMUiSQdqAOCCzJXdTRBiqVx-w6ZxNYfi-zUYbf_FpV7LeIr11ywnM6EjpofcWu4qiuKlMHv18pUjIHzi28oBndBWS_jQtpOcMEFkWllcoKIln-GfnkDhPtDTe2ePxGz9-hRfvDGF5isq1KMGo_jryMaxzXgoP6rIw_goWXul0Dd2gZX_3H99lyOD9A\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"kid\": \"https://testvault1020.vault.azure.net/keys/sdktestkey/0389317cb2c84b729affa9c8f101ce37\",\r\n  \"value\": \"Z0pm5tuTYCfeHg\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {
    "VaultAddress": "https://testvault1020.vault.azure.net/",
    "KeyName": "sdktestkey",
    "KeyVersion": "b669c8bf47a940d8ac818c3831fc11b4",
    "RandomBytes": "Z0pm5tuTYCfeHg=="
  }
}