{
  "Entries": [
    {
      "RequestUri": "//keys/CreateSoftKeyTest/create?api-version=2016-10-01",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"kty\": \"RSA\",\r\n  \"key_size\": 2048,\r\n  \"key_ops\": [\r\n    \"encrypt\",\r\n    \"decrypt\",\r\n    \"sign\",\r\n    \"verify\",\r\n    \"wrapKey\",\r\n    \"unwrapKey\"\r\n  ],\r\n  \"attributes\": {},\r\n  \"tags\": {\r\n    \"purpose\": \"unit test\",\r\n    \"test name \": \"CreateGetDeleteKeyTest\"\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"key\": {\r\n    \"kid\": \"https://testvault1020.vault.azure.net/keys/CreateSoftKeyTest/4ee6bb4d2e3549ae9d45753a9b58e96a\",\r\n    \"kty\": \"RSA\",\r\n    \"key_ops\": [\r\n      \"encrypt\",\r\n      \"decrypt\",\r\n      \"sign\",\r\n      \"verify\",\r\n      \"wrapKey\",\r\n      \"unwrapKey\"\r\n    ],\r\n    \"n\": \"2KcHN9mToqFWiK2RYN9CDbVjzNcAOOmsvruUXEgRjWs8dScr-U1U6zZnm_k4wWPHsJ4pGpRwoWAn-D5QnfR-MD6InEARZSHD-luZxndaffsjq32ridwK58qM9L1stUYBwGvGqgnbprVJyhbMJ7x3923Bdj-l3prcQ4uHN_PIfFpyyHvc5XdIo4cn5zGjS47nxTEN9WV67Og36sQfcFvi1a4gwWajrgHxN38DBtgyuXRfxpBdFM8k63dBCFdLpPb3RejrZanLdJu91-GrfzalkofrP2ixCt9meT0XnCEPqlcWNah7irjTdqU6VOloE6tCb-5OmFk-LG9bIewa5Yplfw\",\r\n    \"e\": \"AQAB\"\r\n  },\r\n  \"attributes\": {\r\n    \"enabled\": true,\r\n    \"created\": 1477082040,\r\n    \"updated\": 1477082040\r\n  },\r\n  \"tags\": {\r\n    \"purpose\": \"unit test\",\r\n    \"test name \": \"CreateGetDeleteKeyTest\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/keys/CreateSoftKeyTest/4ee6bb4d2e3549ae9d45753a9b58e96a?api-version=2016-10-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"key\": {\r\n    \"kid\": \"https://testvault1020.vault.azure.net/keys/CreateSoftKeyTest/4ee6bb4d2e3549ae9d45753a9b58e96a\",\r\n    \"kty\": \"RSA\",\r\n    \"key_ops\": [\r\n      \"encrypt\",\r\n      \"decrypt\",\r\n      \"sign\",\r\n      \"verify\",\r\n      \"wrapKey\",\r\n      \"unwrapKey\"\r\n    ],\r\n    \"n\": \"2KcHN9mToqFWiK2RYN9CDbVjzNcAOOmsvruUXEgRjWs8dScr-U1U6zZnm_k4wWPHsJ4pGpRwoWAn-D5QnfR-MD6InEARZSHD-luZxndaffsjq32ridwK58qM9L1stUYBwGvGqgnbprVJyhbMJ7x3923Bdj-l3prcQ4uHN_PIfFpyyHvc5XdIo4cn5zGjS47nxTEN9WV67Og36sQfcFvi1a4gwWajrgHxN38DBtgyuXRfxpBdFM8k63dBCFdLpPb3RejrZanLdJu91-GrfzalkofrP2ixCt9meT0XnCEPqlcWNah7irjTdqU6VOloE6tCb-5OmFk-LG9bIewa5Yplfw\",\r\n    \"e\": \"AQAB\"\r\n  },\r\n  \"attributes\": {\r\n    \"enabled\": true,\r\n    \"created\": 1477082040,\r\n    \"updated\": 1477082040\r\n  },\r\n  \"tags\": {\r\n    \"purpose\": \"unit test\",\r\n    \"test name \": \"CreateGetDeleteKeyTest\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "//keys/CreateSoftKeyTest?api-version=2016-10-01",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"key\": {\r\n    \"kid\": \"https://testvault1020.vault.azure.net/keys/CreateSoftKeyTest/4ee6bb4d2e3549ae9d45753a9b58e96a\",\r\n    \"kty\": \"RSA\",\r\n    \"key_ops\": [\r\n      \"encrypt\",\r\n      \"decrypt\",\r\n      \"sign\",\r\n      \"verify\",\r\n      \"wrapKey\",\r\n      \"unwrapKey\"\r\n    ],\r\n    \"n\": \"2KcHN9mToqFWiK2RYN9CDbVjzNcAOOmsvruUXEgRjWs8dScr-U1U6zZnm_k4wWPHsJ4pGpRwoWAn-D5QnfR-MD6InEARZSHD-luZxndaffsjq32ridwK58qM9L1stUYBwGvGqgnbprVJyhbMJ7x3923Bdj-l3prcQ4uHN_PIfFpyyHvc5XdIo4cn5zGjS47nxTEN9WV67Og36sQfcFvi1a4gwWajrgHxN38DBtgyuXRfxpBdFM8k63dBCFdLpPb3RejrZanLdJu91-GrfzalkofrP2ixCt9meT0XnCEPqlcWNah7irjTdqU6VOloE6tCb-5OmFk-LG9bIewa5Yplfw\",\r\n    \"e\": \"AQAB\"\r\n  },\r\n  \"attributes\": {\r\n    \"enabled\": true,\r\n    \"created\": 1477082040,\r\n    \"updated\": 1477082040\r\n  },\r\n  \"tags\": {\r\n    \"purpose\": \"unit test\",\r\n    \"test name \": \"CreateGetDeleteKeyTest\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "//keys/CreateSoftKeyTest/?api-version=2016-10-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"KeyNotFound\",\r\n    \"message\": \"Key CreateSoftKeyTest not found\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "StatusCode": 404
    }
  ],
  "Names": {},
  "Variables": {
    "VaultAddress": "https://testvault1020.vault.azure.net/",
    "KeyName": "sdktestkey",
    "KeyVersion": "b669c8bf47a940d8ac818c3831fc11b4"
  }
}