{
  "Entries": [
    {
      "RequestUri": "/certificates/issuers/issuer01?api-version=2015-06-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"provider\": \"Test\",\r\n  \"credentials\": {\r\n    \"account_id\": \"keyvaultuser\",\r\n    \"pwd\": \"password\"\r\n  },\r\n  \"org_details\": {\r\n    \"admin_details\": [\r\n      {\r\n        \"first_name\": \"John\",\r\n        \"last_name\": \"Doe\",\r\n        \"email\": \"admin@microsoft.com\",\r\n        \"phone\": \"4255555555\"\r\n      }\r\n    ]\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"https://herveyw-premium.vault.azure.net/certificates/issuers/issuer01\",\r\n  \"provider\": \"Test\",\r\n  \"credentials\": {\r\n    \"account_id\": \"keyvaultuser\"\r\n  },\r\n  \"org_details\": {\r\n    \"zip\": 0,\r\n    \"admin_details\": [\r\n      {\r\n        \"first_name\": \"John\",\r\n        \"last_name\": \"Doe\",\r\n        \"email\": \"admin@microsoft.com\",\r\n        \"phone\": \"4255555555\"\r\n      }\r\n    ]\r\n  },\r\n  \"attributes\": {\r\n    \"enabled\": true,\r\n    \"created\": 1476469534,\r\n    \"updated\": 1476469581\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/certificates/issuers?api-version=2015-06-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"https://herveyw-premium.vault.azure.net/certificates/issuers/issuer01\",\r\n      \"provider\": \"Test\"\r\n    },\r\n    {\r\n      \"id\": \"https://herveyw-premium.vault.azure.net/certificates/issuers/issuer02\",\r\n      \"provider\": \"Test\"\r\n    },\r\n    {\r\n      \"id\": \"https://herveyw-premium.vault.azure.net/certificates/issuers/issuer03\",\r\n      \"provider\": \"Test\"\r\n    }\r\n  ],\r\n  \"nextLink\": null\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/certificates/issuers/issuer02?api-version=2015-06-01",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"id\": \"https://herveyw-premium.vault.azure.net/certificates/issuers/issuer02\",\r\n  \"provider\": \"Test\",\r\n  \"credentials\": {\r\n    \"account_id\": \"keyvaultuser\"\r\n  },\r\n  \"org_details\": {\r\n    \"zip\": 0,\r\n    \"admin_details\": [\r\n      {\r\n        \"first_name\": \"John\",\r\n        \"last_name\": \"Doe\",\r\n        \"email\": \"admin@microsoft.com\",\r\n        \"phone\": \"4255555555\"\r\n      }\r\n    ]\r\n  },\r\n  \"attributes\": {\r\n    \"enabled\": true,\r\n    \"created\": 1476469475,\r\n    \"updated\": 1476469582\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {
    "VaultAddress": "https://herveyw-premium.vault.azure.net",
    "KeyName": "sdktestkey",
    "KeyVersion": "944192eed71a4ceaa2f6328926754938"
  }
}