{
  "Entries": [
    {
      "RequestUri": "//certificates/issuers/issuer01?api-version=2016-10-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"provider\": \"Test\",\r\n  \"credentials\": {\r\n    \"account_id\": \"keyvaultuser\",\r\n    \"pwd\": \"password\"\r\n  },\r\n  \"org_details\": {\r\n    \"admin_details\": [\r\n      {\r\n        \"first_name\": \"John\",\r\n        \"last_name\": \"Doe\",\r\n        \"email\": \"admin@microsoft.com\",\r\n        \"phone\": \"4255555555\"\r\n      }\r\n    ]\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"https://testvault1020.vault.azure.net/certificates/issuers/issuer01\",\r\n  \"provider\": \"Test\",\r\n  \"credentials\": {\r\n    \"account_id\": \"keyvaultuser\"\r\n  },\r\n  \"org_details\": {\r\n    \"zip\": 0,\r\n    \"admin_details\": [\r\n      {\r\n        \"first_name\": \"John\",\r\n        \"last_name\": \"Doe\",\r\n        \"email\": \"admin@microsoft.com\",\r\n        \"phone\": \"4255555555\"\r\n      }\r\n    ]\r\n  },\r\n  \"attributes\": {\r\n    \"enabled\": true,\r\n    \"created\": 1477082045,\r\n    \"updated\": 1477082134\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "//certificates/issuers?api-version=2016-10-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"https://testvault1020.vault.azure.net/certificates/issuers/issuer01\",\r\n      \"provider\": \"Test\"\r\n    },\r\n    {\r\n      \"id\": \"https://testvault1020.vault.azure.net/certificates/issuers/issuer02\",\r\n      \"provider\": \"Test\"\r\n    },\r\n    {\r\n      \"id\": \"https://testvault1020.vault.azure.net/certificates/issuers/issuer03\",\r\n      \"provider\": \"Test\"\r\n    }\r\n  ],\r\n  \"nextLink\": null\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "//certificates/issuers/issuer02?api-version=2016-10-01",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"id\": \"https://testvault1020.vault.azure.net/certificates/issuers/issuer02\",\r\n  \"provider\": \"Test\",\r\n  \"credentials\": {\r\n    \"account_id\": \"keyvaultuser\"\r\n  },\r\n  \"org_details\": {\r\n    \"zip\": 0,\r\n    \"admin_details\": [\r\n      {\r\n        \"first_name\": \"John\",\r\n        \"last_name\": \"Doe\",\r\n        \"email\": \"admin@microsoft.com\",\r\n        \"phone\": \"4255555555\"\r\n      }\r\n    ]\r\n  },\r\n  \"attributes\": {\r\n    \"enabled\": true,\r\n    \"created\": 1477082070,\r\n    \"updated\": 1477082134\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {
    "VaultAddress": "https://testvault1020.vault.azure.net/",
    "KeyName": "sdktestkey",
    "KeyVersion": "b669c8bf47a940d8ac818c3831fc11b4"
  }
}