{
  "Entries": [
    {
      "RequestUri": "/keys/CreateSoftKeyTest/create?api-version=2016-10-01",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"kty\": \"RSA\",\r\n  \"key_size\": 2048,\r\n  \"key_ops\": [\r\n    \"encrypt\",\r\n    \"decrypt\",\r\n    \"sign\",\r\n    \"verify\",\r\n    \"wrapKey\",\r\n    \"unwrapKey\"\r\n  ],\r\n  \"attributes\": {},\r\n  \"tags\": {\r\n    \"purpose\": \"unit test\",\r\n    \"test name \": \"CreateGetDeleteKeyTest\"\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"key\": {\r\n    \"kid\": \"https://testvault1021.vault.azure.net/keys/CreateSoftKeyTest/bc8f174589144c00ab7aa2977162c808\",\r\n    \"kty\": \"RSA\",\r\n    \"key_ops\": [\r\n      \"encrypt\",\r\n      \"decrypt\",\r\n      \"sign\",\r\n      \"verify\",\r\n      \"wrapKey\",\r\n      \"unwrapKey\"\r\n    ],\r\n    \"n\": \"nW4UnM8D5yMF189saOvHclS4YmU3MmNzz_Q3CM-GPu98KssGmaZ-RKPctURVJN4dS0zch_q0VR4VGPMymjpnusGZMHPTox-_fFKcddMDP9vDtH_X2s4ixy7YvEZYUShUxSo7kfaBKuUsW3lLFS1-3YCRD_greiSUlImDPdlr6L4piaD2neExjWJaO-GJE_hgcZ7nGJq_0U29UoUCR-Ka4g-byeZOGN20We4E3YHziB1aZcO-jegNkj5UqX9EbBGbuvv_CqyYZNBMtGyzjq0NzUYoI2SHVhjM3lsDuOW_AyVpKw7uGzkpRVFVwjTMcIb0shFvBjxQSzAfkr6gVjZzPw\",\r\n    \"e\": \"AQAB\"\r\n  },\r\n  \"attributes\": {\r\n    \"enabled\": true,\r\n    \"created\": 1482188950,\r\n    \"updated\": 1482188950\r\n  },\r\n  \"tags\": {\r\n    \"purpose\": \"unit test\",\r\n    \"test name \": \"CreateGetDeleteKeyTest\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/keys/CreateSoftKeyTest/bc8f174589144c00ab7aa2977162c808?api-version=2016-10-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"key\": {\r\n    \"kid\": \"https://testvault1021.vault.azure.net/keys/CreateSoftKeyTest/bc8f174589144c00ab7aa2977162c808\",\r\n    \"kty\": \"RSA\",\r\n    \"key_ops\": [\r\n      \"encrypt\",\r\n      \"decrypt\",\r\n      \"sign\",\r\n      \"verify\",\r\n      \"wrapKey\",\r\n      \"unwrapKey\"\r\n    ],\r\n    \"n\": \"nW4UnM8D5yMF189saOvHclS4YmU3MmNzz_Q3CM-GPu98KssGmaZ-RKPctURVJN4dS0zch_q0VR4VGPMymjpnusGZMHPTox-_fFKcddMDP9vDtH_X2s4ixy7YvEZYUShUxSo7kfaBKuUsW3lLFS1-3YCRD_greiSUlImDPdlr6L4piaD2neExjWJaO-GJE_hgcZ7nGJq_0U29UoUCR-Ka4g-byeZOGN20We4E3YHziB1aZcO-jegNkj5UqX9EbBGbuvv_CqyYZNBMtGyzjq0NzUYoI2SHVhjM3lsDuOW_AyVpKw7uGzkpRVFVwjTMcIb0shFvBjxQSzAfkr6gVjZzPw\",\r\n    \"e\": \"AQAB\"\r\n  },\r\n  \"attributes\": {\r\n    \"enabled\": true,\r\n    \"created\": 1482188950,\r\n    \"updated\": 1482188950\r\n  },\r\n  \"tags\": {\r\n    \"purpose\": \"unit test\",\r\n    \"test name \": \"CreateGetDeleteKeyTest\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/keys/CreateSoftKeyTest?api-version=2016-10-01",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"key\": {\r\n    \"kid\": \"https://testvault1021.vault.azure.net/keys/CreateSoftKeyTest/bc8f174589144c00ab7aa2977162c808\",\r\n    \"kty\": \"RSA\",\r\n    \"key_ops\": [\r\n      \"encrypt\",\r\n      \"decrypt\",\r\n      \"sign\",\r\n      \"verify\",\r\n      \"wrapKey\",\r\n      \"unwrapKey\"\r\n    ],\r\n    \"n\": \"nW4UnM8D5yMF189saOvHclS4YmU3MmNzz_Q3CM-GPu98KssGmaZ-RKPctURVJN4dS0zch_q0VR4VGPMymjpnusGZMHPTox-_fFKcddMDP9vDtH_X2s4ixy7YvEZYUShUxSo7kfaBKuUsW3lLFS1-3YCRD_greiSUlImDPdlr6L4piaD2neExjWJaO-GJE_hgcZ7nGJq_0U29UoUCR-Ka4g-byeZOGN20We4E3YHziB1aZcO-jegNkj5UqX9EbBGbuvv_CqyYZNBMtGyzjq0NzUYoI2SHVhjM3lsDuOW_AyVpKw7uGzkpRVFVwjTMcIb0shFvBjxQSzAfkr6gVjZzPw\",\r\n    \"e\": \"AQAB\"\r\n  },\r\n  \"attributes\": {\r\n    \"enabled\": true,\r\n    \"created\": 1482188950,\r\n    \"updated\": 1482188950\r\n  },\r\n  \"tags\": {\r\n    \"purpose\": \"unit test\",\r\n    \"test name \": \"CreateGetDeleteKeyTest\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/keys/CreateSoftKeyTest/?api-version=2016-10-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"KeyNotFound\",\r\n    \"message\": \"Key not found: CreateSoftKeyTest\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "StatusCode": 404
    }
  ],
  "Names": {},
  "Variables": {
    "VaultAddress": "https://testvault1021.vault.azure.net",
    "KeyName": "sdktestkey",
    "KeyVersion": "4eb68492b5f6421e835d961ad2be3155"
  }
}