{
  "Entries": [
    {
      "RequestUri": "//keys/UpdateKeyAttributesTest/create?api-version=2016-10-01",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"kty\": \"RSA\",\r\n  \"key_size\": 2048,\r\n  \"key_ops\": [\r\n    \"encrypt\",\r\n    \"decrypt\",\r\n    \"sign\",\r\n    \"verify\",\r\n    \"wrapKey\",\r\n    \"unwrapKey\"\r\n  ]\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"key\": {\r\n    \"kid\": \"https://testvault1020.vault.azure.net/keys/UpdateKeyAttributesTest/d880f7c42b4b4f0e88d96ba4d71353e4\",\r\n    \"kty\": \"RSA\",\r\n    \"key_ops\": [\r\n      \"encrypt\",\r\n      \"decrypt\",\r\n      \"sign\",\r\n      \"verify\",\r\n      \"wrapKey\",\r\n      \"unwrapKey\"\r\n    ],\r\n    \"n\": \"tpvNxv1o4Aa3mJe5gtFJm80eEMGTfUxFHtNU1k-9IMJDDm5KuuTp7LAmDtrfoQGAxHphiExMDvt7sG03_0nCz0hnF1UN9pJCkbBu98dN_pd_-CkcI-05cSwwyGngF4pMbgasv0UBLfEFt1MvvFyl8Pdhd8_g6-BAH_xNy-NTzleaiXA1dpdIdqbgwhFX9ozzsEqd_-in12gzeYnO7hf1t9hWb0FeMDYU-MVhW-HJR5G-qzd_jpyzpFFcXMpAqQ8ilHwakGjNMk5rQWEzJzVOchwglX9vkFFRQMR5thjncIMk71wT7VAPtRHDMYiQpH-19czOUrc8fxN0zOs3zz9G9w\",\r\n    \"e\": \"AQAB\"\r\n  },\r\n  \"attributes\": {\r\n    \"enabled\": true,\r\n    \"created\": 1477082073,\r\n    \"updated\": 1477082073\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "//keys/UpdateKeyAttributesTest/?api-version=2016-10-01",
      "RequestMethod": "PATCH",
      "RequestBody": "{\r\n  \"key_ops\": [\r\n    \"decrypt\",\r\n    \"encrypt\"\r\n  ],\r\n  \"attributes\": {\r\n    \"enabled\": true,\r\n    \"nbf\": 315561600,\r\n    \"exp\": 347184000\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"key\": {\r\n    \"kid\": \"https://testvault1020.vault.azure.net/keys/UpdateKeyAttributesTest/d880f7c42b4b4f0e88d96ba4d71353e4\",\r\n    \"kty\": \"RSA\",\r\n    \"key_ops\": [\r\n      \"decrypt\",\r\n      \"encrypt\"\r\n    ],\r\n    \"n\": \"tpvNxv1o4Aa3mJe5gtFJm80eEMGTfUxFHtNU1k-9IMJDDm5KuuTp7LAmDtrfoQGAxHphiExMDvt7sG03_0nCz0hnF1UN9pJCkbBu98dN_pd_-CkcI-05cSwwyGngF4pMbgasv0UBLfEFt1MvvFyl8Pdhd8_g6-BAH_xNy-NTzleaiXA1dpdIdqbgwhFX9ozzsEqd_-in12gzeYnO7hf1t9hWb0FeMDYU-MVhW-HJR5G-qzd_jpyzpFFcXMpAqQ8ilHwakGjNMk5rQWEzJzVOchwglX9vkFFRQMR5thjncIMk71wT7VAPtRHDMYiQpH-19czOUrc8fxN0zOs3zz9G9w\",\r\n    \"e\": \"AQAB\"\r\n  },\r\n  \"attributes\": {\r\n    \"enabled\": true,\r\n    \"nbf\": 315561600,\r\n    \"exp\": 347184000,\r\n    \"created\": 1477082073,\r\n    \"updated\": 1477082073\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/keys/UpdateKeyAttributesTest/d880f7c42b4b4f0e88d96ba4d71353e4?api-version=2016-10-01",
      "RequestMethod": "PATCH",
      "RequestBody": "{\r\n  \"key_ops\": [\r\n    \"decrypt\",\r\n    \"encrypt\"\r\n  ],\r\n  \"attributes\": {\r\n    \"enabled\": false,\r\n    \"nbf\": 631180800,\r\n    \"exp\": 662716800\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"key\": {\r\n    \"kid\": \"https://testvault1020.vault.azure.net/keys/UpdateKeyAttributesTest/d880f7c42b4b4f0e88d96ba4d71353e4\",\r\n    \"kty\": \"RSA\",\r\n    \"key_ops\": [\r\n      \"decrypt\",\r\n      \"encrypt\"\r\n    ],\r\n    \"n\": \"tpvNxv1o4Aa3mJe5gtFJm80eEMGTfUxFHtNU1k-9IMJDDm5KuuTp7LAmDtrfoQGAxHphiExMDvt7sG03_0nCz0hnF1UN9pJCkbBu98dN_pd_-CkcI-05cSwwyGngF4pMbgasv0UBLfEFt1MvvFyl8Pdhd8_g6-BAH_xNy-NTzleaiXA1dpdIdqbgwhFX9ozzsEqd_-in12gzeYnO7hf1t9hWb0FeMDYU-MVhW-HJR5G-qzd_jpyzpFFcXMpAqQ8ilHwakGjNMk5rQWEzJzVOchwglX9vkFFRQMR5thjncIMk71wT7VAPtRHDMYiQpH-19czOUrc8fxN0zOs3zz9G9w\",\r\n    \"e\": \"AQAB\"\r\n  },\r\n  \"attributes\": {\r\n    \"enabled\": false,\r\n    \"nbf\": 631180800,\r\n    \"exp\": 662716800,\r\n    \"created\": 1477082073,\r\n    \"updated\": 1477082073\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "//keys/UpdateKeyAttributesTest?api-version=2016-10-01",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"key\": {\r\n    \"kid\": \"https://testvault1020.vault.azure.net/keys/UpdateKeyAttributesTest/265f7e2e68374bb3a4d84025cdeeab66\",\r\n    \"kty\": \"RSA\",\r\n    \"key_ops\": [\r\n      \"encrypt\",\r\n      \"decrypt\",\r\n      \"sign\",\r\n      \"verify\",\r\n      \"wrapKey\",\r\n      \"unwrapKey\"\r\n    ],\r\n    \"n\": \"yMMisG5o-oveH3YM7GQN1IXB6Xai1PJZdOQItEYzRGc_Qby5h-7AvGCBaegVgfx53B56oIcOrFgGhbaRI_mkpiDuDECEPhTXcHagPLvVIWmpfuXkWr967GlFTzil5I-xfiK6aZGzZ1IYYeEtXDdEGzALTEeLCbBWTynrQ1oxfGPaqV6g3fv2A3CYCx5JhwbGj0uAQe8EgRI2eRTrploEyYULyJtu08gkxJojrcas-VShFUk6lufHfuKNeMnJllBR4GA4xsw7mhPJ0CVSJydSb3Ot2j-T_WWvnwecXj7WG-tY2eBPjKUfe9uqz-PlwLRvp-QzZ6FwzPv3cFD1PishQQ\",\r\n    \"e\": \"AQAB\"\r\n  },\r\n  \"attributes\": {\r\n    \"enabled\": true,\r\n    \"created\": 1477082073,\r\n    \"updated\": 1477082073\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {
    "VaultAddress": "https://testvault1020.vault.azure.net/",
    "KeyName": "sdktestkey",
    "KeyVersion": "b669c8bf47a940d8ac818c3831fc11b4"
  }
}