{
  "Entries": [
    {
      "RequestUri": "https://ads-dev-eastus-pv.purview.azure.com/share/sentShares/ft-testShare-3/acceptedSentShares/d5d52fdb-6aef-45a2-9271-3aa1becfceb3?api-version=2021-09-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "properties": {
          "receivedShareStatus": "Active",
          "createdAt": "2022-05-10T04:12:09.4129417Z",
          "sharedAt": "2022-05-10T04:11:53.7611996Z",
          "expirationDate": null,
          "receiverName": "Faisal Al Tell",
          "receiverEmail": "faisalaltell@microsoft.com",
          "receiverTenantName": "Microsoft",
          "senderName": "Faisal Al Tell",
          "senderEmail": "faisalaltell@microsoft.com",
          "senderTenantName": "Microsoft",
          "receiverTargetObjectId": "a2a34c49-8875-403a-ac27-66f313eb31ca"
        },
        "shareKind": "InPlace",
        "id": "/sentShares/ft-testShare-3/acceptedSentShares/d5d52fdb-6aef-45a2-9271-3aa1becfceb3",
        "name": "d5d52fdb-6aef-45a2-9271-3aa1becfceb3",
        "type": "sentShares/acceptedSentShares"
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": null,
    "PURVIEW_SHARE_URL": "https://ads-dev-eastus-pv.purview.azure.com/share",
    "RandomSeed": "102140549"
  }
}
