{
  "Entries": [
    {
      "RequestUri": "https://ads-dev-eastus-pv.purview.azure.com/share/sentShares/sentShare1/assets/asset1?api-version=2021-09-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kind": "AdlsGen2Account",
        "properties": {
          "storageAccountResourceId": "/subscriptions/0f3dcfc3-18f8-4099-b381-8353e19d43a7/resourceGroups/faisalaltell/providers/Microsoft.Storage/storageAccounts/ftsharersan",
          "receiverAssetName": "testAsset1",
          "paths": [
            {
              "containerName": "container1",
              "senderPath": "testfolder1",
              "receiverPath": "testfolder1"
            }
          ]
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://ads-dev-eastus-pv.purview.azure.com/share/operationResults/ads-dev-eastus-pv367b8c1c-4988-418c-8928-0f9480ef972d?api-version=2021-09-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "/sentShares/sentShare1/assets/asset1/asset1",
        "Operation-Location": "https://ads-dev-eastus-pv.purview.azure.com/share/operationResults/ads-dev-eastus-pv367b8c1c-4988-418c-8928-0f9480ef972d?api-version=2021-09-01-preview"
      },
      "ResponseBody": {
        "properties": {
          "storageAccountResourceId": "/subscriptions/0f3dcfc3-18f8-4099-b381-8353e19d43a7/resourceGroups/faisalaltell/providers/Microsoft.Storage/storageAccounts/ftsharersan",
          "receiverAssetName": "testAsset1",
          "paths": [
            {
              "containerName": "container1",
              "senderPath": "testfolder1",
              "receiverPath": "testfolder1"
            }
          ],
          "location": "southafricanorth",
          "provisioningState": "Creating"
        },
        "kind": "AdlsGen2Account",
        "id": "/sentShares/sentShare1/assets/asset1",
        "name": "asset1",
        "type": "sentShares/assets"
      }
    },
[...]
    {
      "RequestUri": "https://ads-dev-eastus-pv.purview.azure.com/share/sentShares/sentShare1/assets?api-version=2021-09-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "properties": {
              "storageAccountResourceId": "/subscriptions/0f3dcfc3-18f8-4099-b381-8353e19d43a7/resourceGroups/faisalaltell/providers/Microsoft.Storage/storageAccounts/ftsharersan",
              "receiverAssetName": "testAsset1",
              "paths": [
                {
                  "containerName": "container1",
                  "senderPath": "testfolder1",
                  "receiverPath": "testfolder1"
                }
              ],
              "location": "southafricanorth",
              "provisioningState": "Creating"
            },
            "kind": "AdlsGen2Account",
            "id": "/sentShares/sentShare1/assets/asset1",
            "name": "asset1",
            "type": "sentShares/assets"
          }
        ]
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": null,
    "PURVIEW_SHARE_URL": "https://ads-dev-eastus-pv.purview.azure.com/share",
    "RandomSeed": "1294666965"
  }
}
