{
  "Entries": [
    {
      "RequestUri": "https://ads-dev-eastus-pv.purview.azure.com/share/receivedShares/sentShare1/assetMappings/testAsset1?api-version=2021-09-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kind": "AdlsGen2Account",
        "properties": {
          "assetId": "18c8af16-db4c-4a1d-9101-94b3e7ff3f25",
          "storageAccountResourceId": "/subscriptions/0f3dcfc3-18f8-4099-b381-8353e19d43a7/resourceGroups/faisalaltell/providers/Microsoft.Storage/storageAccounts/ftreceiversan",
          "containerName": "receivepath1",
          "mountPath": "",
          "folder": "receiveFolder1"
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://ads-dev-eastus-pv.purview.azure.com/share/operationResults/ads-dev-eastus-pvsentShare1testAsset1?api-version=2021-09-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "/receivedShares/sentShare1/assetMappings/testAsset1/testAsset1",
        "Operation-Location": "https://ads-dev-eastus-pv.purview.azure.com/share/operationResults/ads-dev-eastus-pvsentShare1testAsset1?api-version=2021-09-01-preview"
      },
      "ResponseBody": {
        "properties": {
          "storageAccountResourceId": "/subscriptions/0f3dcfc3-18f8-4099-b381-8353e19d43a7/resourceGroups/faisalaltell/providers/Microsoft.Storage/storageAccounts/ftreceiversan",
          "containerName": "receivepath1",
          "folder": "receiveFolder1",
          "mountPath": "",
          "location": "southafricanorth",
          "assetId": "18c8af16-db4c-4a1d-9101-94b3e7ff3f25",
          "assetMappingStatus": "Broken",
          "provisioningState": "Creating"
        },
        "kind": "AdlsGen2Account",
        "id": "/receivedShares/sentShare1/assetMappings/testAsset1",
        "name": "testAsset1",
        "type": "receivedShares/assetMappings"
      }
    },
    {
      "RequestUri": "https://ads-dev-eastus-pv.purview.azure.com/share/operationResults/ads-dev-eastus-pvsentShare1testAsset1?api-version=2021-09-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "startTime": "2022-07-14T20:47:31.2128972Z",
        "endTime": null,
        "status": "Accepted",
        "error": null
      }
    },
[...]
    {
      "RequestUri": "https://ads-dev-eastus-pv.purview.azure.com/share/receivedShares/sentShare1/assetMappings/testAsset1?api-version=2021-09-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "properties": {
          "storageAccountResourceId": "/subscriptions/0f3dcfc3-18f8-4099-b381-8353e19d43a7/resourceGroups/faisalaltell/providers/Microsoft.Storage/storageAccounts/ftreceiversan",
          "containerName": "receivepath1",
          "folder": "receiveFolder1",
          "mountPath": "",
          "location": "southafricanorth",
          "assetId": "18c8af16-db4c-4a1d-9101-94b3e7ff3f25",
          "assetMappingStatus": "Ok",
          "provisioningState": "Succeeded"
        },
        "kind": "AdlsGen2Account",
        "id": "/receivedShares/sentShare1/assetMappings/testAsset1",
        "name": "testAsset1",
        "type": "receivedShares/assetMappings"
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": null,
    "PURVIEW_SHARE_URL": "https://ads-dev-eastus-pv.purview.azure.com/share",
    "RandomSeed": "1513937851"
  }
}
