{
  "Entries": [
    {
      "RequestUri": "https://ads-dev-eastus-pv.purview.azure.com/share/receivedShares/sentShare1/assetMappings/testAsset1?api-version=2021-09-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://ads-dev-eastus-pv.purview.azure.com/share/operationResults/Delete-ShareAssetMapping-9aedc12d-834c-41f2-8e3e-28a2a69332dd?api-version=2021-09-01-preview",
        "Operation-Location": "https://ads-dev-eastus-pv.purview.azure.com/share/operationResults/Delete-ShareAssetMapping-9aedc12d-834c-41f2-8e3e-28a2a69332dd?api-version=2021-09-01-preview"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://ads-dev-eastus-pv.purview.azure.com/share/operationResults/Delete-ShareAssetMapping-9aedc12d-834c-41f2-8e3e-28a2a69332dd?api-version=2021-09-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "startTime": "2022-07-14T20:49:59.615158Z",
        "endTime": null,
        "status": "Accepted",
        "error": null
      }
    },
[...]
    {
      "RequestUri": "https://ads-dev-eastus-pv.purview.azure.com/share/operationResults/Delete-ShareAssetMapping-9aedc12d-834c-41f2-8e3e-28a2a69332dd?api-version=2021-09-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "startTime": "2022-07-14T20:49:59.615158Z",
        "endTime": null,
        "status": "Succeeded",
        "error": null
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": null,
    "PURVIEW_SHARE_URL": "https://ads-dev-eastus-pv.purview.azure.com/share",
    "RandomSeed": "216454426"
  }
}
