{
  "Entries": [
    {
      "RequestUri": "https://ads-dev-eastus-pv.purview.azure.com/share/receivedInvitations?api-version=2021-09-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "properties": {
              "targetActiveDirectoryId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
              "targetObjectId": "fc010728-94f6-4e9c-be3c-c08687414bd4",
              "description": "",
              "invitationStatus": "Pending",
              "location": "eastus",
              "sentShareName": "sentShare1",
              "sentAt": "2022-07-14T21:51:28.6336482Z",
              "shareKind": "InPlace",
              "receiverName": null,
              "receiverEmail": null,
              "receiverTenantName": null,
              "senderName": "SyMS",
              "senderEmail": null,
              "senderTenantName": "Microsoft"
            },
            "invitationKind": "Application",
            "id": "/receivedInvitations/f891d280-9016-4b0c-8a6d-549caad3be9f",
            "name": "f891d280-9016-4b0c-8a6d-549caad3be9f",
            "type": "receivedInvitations"
          }
        ]
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": null,
    "PURVIEW_SHARE_URL": "https://ads-dev-eastus-pv.purview.azure.com/share",
    "RandomSeed": "1429369378"
  }
}
