{
  "Entries": [
    {
      "RequestUri": "https://ads-dev-eastus-pv.purview.azure.com/share/sentShares/sentShare1/acceptedSentShares/425559bf-8b64-4d8c-a5b4-a25dd92f666a:reinstate?api-version=2021-09-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "shareKind": "InPlace"
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://ads-dev-eastus-pv.purview.azure.com/share/operationResults/a4cf72b9-8011-45ca-b7e7-0da5e4d74c16?api-version=2021-09-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Operation-Location": "https://ads-dev-eastus-pv.purview.azure.com/share/operationResults/a4cf72b9-8011-45ca-b7e7-0da5e4d74c16?api-version=2021-09-01-preview"
      },
      "ResponseBody": {
        "properties": {
          "receivedShareStatus": "Reinstating",
          "createdAt": "2022-07-14T20:27:55.0085452Z",
          "sharedAt": "2022-07-14T20:25:14.2441609Z",
          "expirationDate": null,
          "receiverName": "Faisal Al Tell",
          "receiverEmail": "faisalaltell@microsoft.com",
          "receiverTenantName": "Microsoft",
          "senderName": "Faisal Al Tell",
          "senderEmail": "faisalaltell@microsoft.com",
          "senderTenantName": "Microsoft",
          "receiverTargetObjectId": "a2a34c49-8875-403a-ac27-66f313eb31ca"
        },
        "shareKind": "InPlace",
        "id": "/sentShares/sentShare1/acceptedSentShares/425559bf-8b64-4d8c-a5b4-a25dd92f666a",
        "name": "425559bf-8b64-4d8c-a5b4-a25dd92f666a",
        "type": "sentShares/acceptedSentShares"
      }
    },
    {
      "RequestUri": "https://ads-dev-eastus-pv.purview.azure.com/share/operationResults/a4cf72b9-8011-45ca-b7e7-0da5e4d74c16?api-version=2021-09-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "startTime": "2022-07-14T21:06:30.1418947Z",
        "endTime": null,
        "status": "Accepted",
        "error": null
      }
    },
[...]
    {
      "RequestUri": "https://ads-dev-eastus-pv.purview.azure.com/share/sentShares/sentShare1/acceptedSentShares/425559bf-8b64-4d8c-a5b4-a25dd92f666a?api-version=2021-09-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "properties": {
          "receivedShareStatus": "Active",
          "createdAt": "2022-07-14T20:27:55.0085452Z",
          "sharedAt": "2022-07-14T20:25:14.2441609Z",
          "expirationDate": null,
          "receiverName": "Faisal Al Tell",
          "receiverEmail": "faisalaltell@microsoft.com",
          "receiverTenantName": "Microsoft",
          "senderName": "Faisal Al Tell",
          "senderEmail": "faisalaltell@microsoft.com",
          "senderTenantName": "Microsoft",
          "receiverTargetObjectId": "a2a34c49-8875-403a-ac27-66f313eb31ca"
        },
        "shareKind": "InPlace",
        "id": "/sentShares/sentShare1/acceptedSentShares/425559bf-8b64-4d8c-a5b4-a25dd92f666a",
        "name": "425559bf-8b64-4d8c-a5b4-a25dd92f666a",
        "type": "sentShares/acceptedSentShares"
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": null,
    "PURVIEW_SHARE_URL": "https://ads-dev-eastus-pv.purview.azure.com/share",
    "RandomSeed": "558331976"
  }
}
