{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/fc9d0215-3964-4895-8df1-3801ccffb3e2?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11982"
      },
      "ResponseBody": {
        "id": "/subscriptions/fc9d0215-3964-4895-8df1-3801ccffb3e2",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "subscriptionId": "fc9d0215-3964-4895-8df1-3801ccffb3e2",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": "AMVM-SubLib-006",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/fc9d0215-3964-4895-8df1-3801ccffb3e2/resourcegroups/SDKAutomanage-5101?api-version=2021-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1196"
      },
      "ResponseBody": {
        "id": "/subscriptions/fc9d0215-3964-4895-8df1-3801ccffb3e2/resourceGroups/SDKAutomanage-5101",
        "name": "SDKAutomanage-5101",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/fc9d0215-3964-4895-8df1-3801ccffb3e2/resourceGroups/SDKAutomanage-5101/providers/Microsoft.Automanage/configurationProfiles/SDKAutomanageProfile-9829?api-version=2022-05-04",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "configuration": {
            "Antimalware/Enable": true,
            "Antimalware/EnableRealTimeProtection": true,
            "Antimalware/RunScheduledScan": true,
            "Backup/Enable": true,
            "WindowsAdminCenter/Enable": false,
            "VMInsights/Enable": true,
            "AzureSecurityCenter/Enable": true,
            "UpdateManagement/Enable": true,
            "ChangeTrackingAndInventory/Enable": true,
            "GuestConfiguration/Enable": true,
            "AutomationAccount/Enable": true,
            "LogAnalytics/Enable": true,
            "BootDiagnostics/Enable": true
          }
        },
        "tags": {},
        "location": "eastus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "/subscriptions/fc9d0215-3964-4895-8df1-3801ccffb3e2/resourceGroups/SDKAutomanage-5101/providers/Microsoft.Automanage/configurationProfiles/SDKAutomanageProfile-9829",
        "x-ms-ratelimit-remaining-subscription-writes": "1195"
      },
      "ResponseBody": {
        "id": "/subscriptions/fc9d0215-3964-4895-8df1-3801ccffb3e2/resourceGroups/SDKAutomanage-5101/providers/Microsoft.Automanage/configurationProfiles/SDKAutomanageProfile-9829",
        "name": "SDKAutomanageProfile-9829",
        "type": "Microsoft.Automanage/configurationProfiles",
        "location": "eastus",
        "tags": {},
        "properties": {
          "configuration": {
            "Antimalware/Enable": true,
            "Antimalware/EnableRealTimeProtection": true,
            "Antimalware/RunScheduledScan": true,
            "Backup/Enable": true,
            "WindowsAdminCenter/Enable": false,
            "VMInsights/Enable": true,
            "AzureSecurityCenter/Enable": true,
            "UpdateManagement/Enable": true,
            "ChangeTrackingAndInventory/Enable": true,
            "GuestConfiguration/Enable": true,
            "AutomationAccount/Enable": true,
            "LogAnalytics/Enable": true,
            "BootDiagnostics/Enable": true
          }
        },
        "systemData": {
          "createdAt": "2022-08-19T17:42:38.6838541\u002B00:00",
          "createdBy": "32e0f2f9-e6a2-46c8-8e7d-931c57910f45",
          "createdByType": "Application",
          "lastModifiedAt": "2022-08-19T17:42:38.6838541\u002B00:00",
          "lastModifiedBy": "32e0f2f9-e6a2-46c8-8e7d-931c57910f45",
          "lastModifiedByType": "Application"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/fc9d0215-3964-4895-8df1-3801ccffb3e2/resourceGroups/SDKAutomanage-5101/providers/Microsoft.Resources/deployments/deployVM?api-version=2021-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "template": {
            "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
            "contentVersion": "1.0.0.0",
            "parameters": {
              "vmName": {
                "type": "string",
                "defaultValue": "test-vm"
              },
              "adminPassword": {
                "type": "securestring"
              }
            },
            "resources": [
              {
                "name": "[concat(parameters(\u0027vmName\u0027), \u0027-VirtualNetwork\u0027)]",
                "type": "Microsoft.Network/virtualNetworks",
                "apiVersion": "2020-11-01",
                "location": "[resourceGroup().location]",
                "tags": {
                  "displayName": "[concat(parameters(\u0027vmName\u0027), \u0027-VirtualNetwork\u0027)]"
                },
                "properties": {
                  "addressSpace": {
                    "addressPrefixes": [
                      "10.0.0.0/16"
                    ]
                  },
                  "subnets": [
                    {
                      "name": "[concat(parameters(\u0027vmName\u0027), \u0027-VirtualNetwork-Subnet\u0027)]",
                      "properties": {
                        "addressPrefix": "10.0.0.0/24"
                      }
                    }
                  ]
                }
              },
              {
                "name": "[concat(parameters(\u0027vmName\u0027), \u0027-NetworkInterface\u0027)]",
                "type": "Microsoft.Network/networkInterfaces",
                "apiVersion": "2020-11-01",
                "location": "[resourceGroup().location]",
                "dependsOn": [
                  "[resourceId(\u0027Microsoft.Network/virtualNetworks\u0027, concat(parameters(\u0027vmName\u0027), \u0027-VirtualNetwork\u0027))]"
                ],
                "tags": {
                  "displayName": "[concat(parameters(\u0027vmName\u0027), \u0027-Network Interface\u0027)]"
                },
                "properties": {
                  "ipConfigurations": [
                    {
                      "name": "ipConfig1",
                      "properties": {
                        "privateIPAllocationMethod": "Dynamic",
                        "subnet": {
                          "id": "[resourceId(\u0027Microsoft.Network/virtualNetworks/subnets\u0027, concat(parameters(\u0027vmName\u0027), \u0027-VirtualNetwork\u0027), concat(parameters(\u0027vmName\u0027), \u0027-VirtualNetwork-Subnet\u0027))]"
                        }
                      }
                    }
                  ]
                }
              },
              {
                "name": "[parameters(\u0027vmName\u0027)]",
                "type": "Microsoft.Compute/virtualMachines",
                "apiVersion": "2021-03-01",
                "location": "[resourceGroup().location]",
                "dependsOn": [
                  "[resourceId(\u0027Microsoft.Network/networkInterfaces\u0027, concat(parameters(\u0027vmName\u0027), \u0027-NetworkInterface\u0027))]"
                ],
                "properties": {
                  "hardwareProfile": {
                    "vmSize": "Standard_B1s"
                  },
                  "osProfile": {
                    "computerName": "[parameters(\u0027vmName\u0027)]",
                    "adminUsername": "adminUser",
                    "adminPassword": "[parameters(\u0027adminPassword\u0027)]",
                    "windowsConfiguration": {
                      "enableAutomaticUpdates": true,
                      "patchSettings": {
                        "patchMode": "AutomaticByOS",
                        "assessmentMode": "ImageDefault",
                        "enableHotpatching": false
                      }
                    }
                  },
                  "storageProfile": {
                    "imageReference": {
                      "publisher": "MicrosoftWindowsDesktop",
                      "offer": "Windows-10",
                      "sku": "win10-21h2-pro",
                      "version": "latest"
                    },
                    "osDisk": {
                      "name": "[concat(parameters(\u0027vmName\u0027), \u0027OSDisk\u0027)]",
                      "caching": "ReadWrite",
                      "createOption": "FromImage"
                    }
                  },
                  "networkProfile": {
                    "networkInterfaces": [
                      {
                        "id": "[resourceId(\u0027Microsoft.Network/networkInterfaces\u0027, concat(parameters(\u0027vmName\u0027), \u0027-NetworkInterface\u0027))]"
                      }
                    ]
                  }
                }
              }
            ]
          },
          "parameters": {
            "adminPassword": {
              "value": "!Admin12345"
            },
            "vmName": {
              "value": "sdk-test-vm"
            }
          },
          "mode": "Incremental"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/fc9d0215-3964-4895-8df1-3801ccffb3e2/resourcegroups/SDKAutomanage-5101/providers/Microsoft.Resources/deployments/deployVM/operationStatuses/08585406759258179258?api-version=2021-04-01",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1194"
      },
      "ResponseBody": {
        "id": "/subscriptions/fc9d0215-3964-4895-8df1-3801ccffb3e2/resourceGroups/SDKAutomanage-5101/providers/Microsoft.Resources/deployments/deployVM",
        "name": "deployVM",
        "type": "Microsoft.Resources/deployments",
        "properties": {
          "templateHash": "6132949406852477475",
          "parameters": {
            "vmName": {
              "type": "String",
              "value": "sdk-test-vm"
            },
            "adminPassword": {
              "type": "SecureString"
            }
          },
          "mode": "Incremental",
          "provisioningState": "Accepted",
          "timestamp": "2022-08-19T17:42:40.8428396Z",
          "duration": "PT0.0002595S",
          "correlationId": "4bcc374f-c5e1-4cd1-853f-6b3457d1806a",
          "providers": [
            {
              "namespace": "Microsoft.Network",
              "resourceTypes": [
                {
                  "resourceType": "virtualNetworks",
                  "locations": [
                    "eastus"
                  ]
                },
                {
                  "resourceType": "networkInterfaces",
                  "locations": [
                    "eastus"
                  ]
                }
              ]
            },
            {
              "namespace": "Microsoft.Compute",
              "resourceTypes": [
                {
                  "resourceType": "virtualMachines",
                  "locations": [
                    "eastus"
                  ]
                }
              ]
            }
          ],
          "dependencies": [
            {
              "dependsOn": [
                {
                  "id": "/subscriptions/fc9d0215-3964-4895-8df1-3801ccffb3e2/resourceGroups/SDKAutomanage-5101/providers/Microsoft.Network/virtualNetworks/sdk-test-vm-VirtualNetwork",
                  "resourceType": "Microsoft.Network/virtualNetworks",
                  "resourceName": "sdk-test-vm-VirtualNetwork"
                }
              ],
              "id": "/subscriptions/fc9d0215-3964-4895-8df1-3801ccffb3e2/resourceGroups/SDKAutomanage-5101/providers/Microsoft.Network/networkInterfaces/sdk-test-vm-NetworkInterface",
              "resourceType": "Microsoft.Network/networkInterfaces",
              "resourceName": "sdk-test-vm-NetworkInterface"
            },
            {
              "dependsOn": [
                {
                  "id": "/subscriptions/fc9d0215-3964-4895-8df1-3801ccffb3e2/resourceGroups/SDKAutomanage-5101/providers/Microsoft.Network/networkInterfaces/sdk-test-vm-NetworkInterface",
                  "resourceType": "Microsoft.Network/networkInterfaces",
                  "resourceName": "sdk-test-vm-NetworkInterface"
                }
              ],
              "id": "/subscriptions/fc9d0215-3964-4895-8df1-3801ccffb3e2/resourceGroups/SDKAutomanage-5101/providers/Microsoft.Compute/virtualMachines/sdk-test-vm",
              "resourceType": "Microsoft.Compute/virtualMachines",
              "resourceName": "sdk-test-vm"
            }
          ]
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/fc9d0215-3964-4895-8df1-3801ccffb3e2/resourcegroups/SDKAutomanage-5101/providers/Microsoft.Resources/deployments/deployVM/operationStatuses/08585406759258179258?api-version=2021-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11981"
      },
      "ResponseBody": {
        "status": "Accepted"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/fc9d0215-3964-4895-8df1-3801ccffb3e2/resourceGroups/SDKAutomanage-5101/providers/Microsoft.Compute/virtualMachines/sdk-test-vm?api-version=2022-03-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-resource": "Microsoft.Compute/LowCostGet3Min;3996,Microsoft.Compute/LowCostGet30Min;31986",
        "x-ms-ratelimit-remaining-subscription-reads": "11965"
      },
      "ResponseBody": {
        "name": "sdk-test-vm",
        "id": "/subscriptions/fc9d0215-3964-4895-8df1-3801ccffb3e2/resourceGroups/SDKAutomanage-5101/providers/Microsoft.Compute/virtualMachines/sdk-test-vm",
        "type": "Microsoft.Compute/virtualMachines",
        "location": "eastus",
        "tags": {
          "azsecpack": "nonprod",
          "platformsettings.host_environment.service.platform_optedin_for_rootcerts": "true"
        },
        "properties": {
          "vmId": "6adb16e6-e42d-4f88-bab7-a18cf33ba767",
          "hardwareProfile": {
            "vmSize": "Standard_B1s"
          },
          "storageProfile": {
            "imageReference": {
              "publisher": "MicrosoftWindowsDesktop",
              "offer": "Windows-10",
              "sku": "win10-21h2-pro",
              "version": "latest",
              "exactVersion": "19044.1889.220805"
            },
            "osDisk": {
              "osType": "Windows",
              "name": "sdk-test-vmOSDisk",
              "createOption": "FromImage",
              "caching": "ReadWrite",
              "managedDisk": {
                "storageAccountType": "Premium_LRS",
                "id": "/subscriptions/fc9d0215-3964-4895-8df1-3801ccffb3e2/resourceGroups/SDKAutomanage-5101/providers/Microsoft.Compute/disks/sdk-test-vmOSDisk"
              },
              "deleteOption": "Detach",
              "diskSizeGB": 127
            },
            "dataDisks": []
          },
          "osProfile": {
            "computerName": "sdk-test-vm",
            "adminUsername": "adminUser",
            "windowsConfiguration": {
              "provisionVMAgent": true,
              "enableAutomaticUpdates": true,
              "patchSettings": {
                "patchMode": "AutomaticByOS",
                "assessmentMode": "ImageDefault",
                "enableHotpatching": false
              },
              "enableVMAgentPlatformUpdates": false
            },
            "secrets": [],
            "allowExtensionOperations": true,
            "requireGuestProvisionSignal": true
          },
          "networkProfile": {
            "networkInterfaces": [
              {
                "id": "/subscriptions/fc9d0215-3964-4895-8df1-3801ccffb3e2/resourceGroups/SDKAutomanage-5101/providers/Microsoft.Network/networkInterfaces/sdk-test-vm-NetworkInterface"
              }
            ]
          },
          "provisioningState": "Succeeded",
          "timeCreated": "2022-08-19T17:42:52.8854796\u002B00:00"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/fc9d0215-3964-4895-8df1-3801ccffb3e2/resourceGroups/SDKAutomanage-5101/providers/Microsoft.Compute/virtualMachines/sdk-test-vm/providers/Microsoft.Automanage/configurationProfileAssignments/default?api-version=2022-05-04",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "configurationProfile": "/subscriptions/fc9d0215-3964-4895-8df1-3801ccffb3e2/resourceGroups/SDKAutomanage-5101/providers/Microsoft.Automanage/configurationProfiles/SDKAutomanageProfile-9829"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "/subscriptions/fc9d0215-3964-4895-8df1-3801ccffb3e2/resourceGroups/SDKAutomanage-5101/providers/Microsoft.Compute/virtualMachines/sdk-test-vm/providers/Microsoft.Automanage/configurationProfileAssignments/default",
        "x-ms-ratelimit-remaining-subscription-writes": "1193"
      },
      "ResponseBody": {
        "id": "/subscriptions/fc9d0215-3964-4895-8df1-3801ccffb3e2/resourceGroups/SDKAutomanage-5101/providers/Microsoft.Compute/virtualMachines/sdk-test-vm/providers/Microsoft.Automanage/configurationProfileAssignments/default",
        "name": "default",
        "type": "Microsoft.Automanage/configurationProfileAssignments",
        "properties": {
          "targetId": "/subscriptions/fc9d0215-3964-4895-8df1-3801ccffb3e2/resourceGroups/SDKAutomanage-5101/providers/Microsoft.Compute/virtualMachines/sdk-test-vm",
          "configurationProfile": "/subscriptions/fc9d0215-3964-4895-8df1-3801ccffb3e2/resourceGroups/SDKAutomanage-5101/providers/Microsoft.Automanage/configurationProfiles/SDKAutomanageProfile-9829",
          "status": "New"
        },
        "systemData": {
          "createdAt": "2022-08-19T17:47:02.7207686\u002B00:00",
          "createdBy": "32e0f2f9-e6a2-46c8-8e7d-931c57910f45",
          "createdByType": "Application",
          "lastModifiedAt": "2022-08-19T17:47:02.7207686\u002B00:00",
          "lastModifiedBy": "32e0f2f9-e6a2-46c8-8e7d-931c57910f45",
          "lastModifiedByType": "Application"
        }
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com/",
    "RandomSeed": "1532285743",
    "RESOURCE_MANAGER_URL": "https://management.azure.com/",
    "SUBSCRIPTION_ID": "fc9d0215-3964-4895-8df1-3801ccffb3e2"
  }
}
