{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/2bf4a339-294d-4c25-b0b2-ef649e9f5c27?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11998"
      },
      "ResponseBody": {
        "id": "/subscriptions/2bf4a339-294d-4c25-b0b2-ef649e9f5c27",
        "authorizationSource": "RoleBased",
        "managedByTenants": [
          {
            "tenantId": "942b80cd-1b14-42a1-8dcf-4b21dece61ba"
          }
        ],
        "subscriptionId": "2bf4a339-294d-4c25-b0b2-ef649e9f5c27",
        "tenantId": "888d76fa-54b2-4ced-8ee5-aac1585adee7",
        "displayName": "Liftr-PAN",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Public_2014-09-01",
          "quotaId": "PayAsYouGo_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/2bf4a339-294d-4c25-b0b2-ef649e9f5c27/resourcegroups/dotnetSdkTest-infra-rg?api-version=**",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11997"
      },
      "ResponseBody": {
        "id": "/subscriptions/2bf4a339-294d-4c25-b0b2-ef649e9f5c27/resourceGroups/dotnetSdkTest-infra-rg",
        "name": "dotnetSdkTest-infra-rg",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "northcentralus",
        "tags": {},
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/2bf4a339-294d-4c25-b0b2-ef649e9f5c27/resourceGroups/dotnetSdkTest-infra-rg/providers/PaloAltoNetworks.Cloudngfw/localRulestacks/dotnetSdkTest-lrs-default?api-version=2022-08-29",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00220100d235-0000-0100-0000-649ec2220000\u0022",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-reads": "11981"
      },
      "ResponseBody": {
        "id": "/subscriptions/2bf4a339-294d-4c25-b0b2-ef649e9f5c27/resourceGroups/dotnetSdkTest-infra-rg/providers/PaloAltoNetworks.Cloudngfw/localRulestacks/dotnetSdkTest-lrs-default",
        "name": "dotnetSdkTest-lrs-default",
        "type": "paloaltonetworks.cloudngfw/localrulestacks",
        "location": "eastus2",
        "tags": {},
        "systemData": {
          "createdBy": "vibhuti.sharma@microsoft.com",
          "createdByType": "User",
          "createdAt": "2023-06-30T08:13:20.9801656Z",
          "lastModifiedBy": "54a2195e-8365-444c-8f50-4a5de4be1e2b",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2023-06-30T11:53:06.5640725Z"
        },
        "properties": {
          "scope": "LOCAL",
          "description": "",
          "provisioningState": "Succeeded",
          "defaultMode": "FIREWALL",
          "panEtag": "2fa2d12e-173b-11ee-9baa-ca91a7f37567",
          "minAppIdVersion": "8595-7473",
          "securityServices": {
            "vulnerabilityProfile": "BestPractice",
            "antiSpywareProfile": "BestPractice",
            "antiVirusProfile": "BestPractice",
            "urlFilteringProfile": "BestPractice",
            "fileBlockingProfile": "BestPractice",
            "dnsSubscription": "BestPractice"
          }
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/2bf4a339-294d-4c25-b0b2-ef649e9f5c27/resourceGroups/dotnetSdkTest-infra-rg/providers/PaloAltoNetworks.Cloudngfw/localRulestacks/dotnetSdkTest-default-delSync-lrs?api-version=2022-08-29",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
   [...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/2bf4a339-294d-4c25-b0b2-ef649e9f5c27/resourceGroups/dotnetSdkTest-infra-rg/providers/PaloAltoNetworks.Cloudngfw/localRulestacks/dotnetSdkTest-default-delSync-lrs?api-version=2022-08-29",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/providers/PaloAltoNetworks.Cloudngfw/locations/EASTUS2/operationStatuses/37df111a-d1eb-4004-bb3b-565ce515aa56*7445E1075F27237ED591C46FC2A318CCFB2C7C305F49AD7DD3F35FB302B9791D?api-version=2022-08-29",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00220100bb36-0000-0100-0000-649ec9400000\u0022",
        "Location": "https://management.azure.com/providers/PaloAltoNetworks.Cloudngfw/locations/EASTUS2/operationStatuses/37df111a-d1eb-4004-bb3b-565ce515aa56*7445E1075F27237ED591C46FC2A318CCFB2C7C305F49AD7DD3F35FB302B9791D?api-version=2022-08-29",
        "mise-correlation-id": "35c8c2cb-3401-417d-8c1b-08c135f1ceae",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-deletes": "14997"
      },
      "ResponseBody": "null"
    },
    {
      "RequestUri": "https://management.azure.com/providers/PaloAltoNetworks.Cloudngfw/locations/EASTUS2/operationStatuses/37df111a-d1eb-4004-bb3b-565ce515aa56*7445E1075F27237ED591C46FC2A318CCFB2C7C305F49AD7DD3F35FB302B9791D?api-version=2022-08-29",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00221800674a-0000-0100-0000-649ec93f0000\u0022",
        "x-ms-ratelimit-remaining-tenant-reads": "11999"
      },
      "ResponseBody": {
        "id": "/providers/PaloAltoNetworks.Cloudngfw/locations/EASTUS2/operationStatuses/37df111a-d1eb-4004-bb3b-565ce515aa56*7445E1075F27237ED591C46FC2A318CCFB2C7C305F49AD7DD3F35FB302B9791D",
        "name": "37df111a-d1eb-4004-bb3b-565ce515aa56*7445E1075F27237ED591C46FC2A318CCFB2C7C305F49AD7DD3F35FB302B9791D",
        "resourceId": "/subscriptions/2bf4a339-294d-4c25-b0b2-ef649e9f5c27/resourceGroups/dotnetSdkTest-infra-rg/providers/PaloAltoNetworks.Cloudngfw/localRulestacks/dotnetSdkTest-default-delSync-lrs",
        "status": "Deleting",
        "startTime": "2023-06-30T12:23:27.9268551Z"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/providers/PaloAltoNetworks.Cloudngfw/locations/EASTUS2/operationStatuses/37df111a-d1eb-4004-bb3b-565ce515aa56*7445E1075F27237ED591C46FC2A318CCFB2C7C305F49AD7DD3F35FB302B9791D?api-version=2022-08-29",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00221800b44a-0000-0100-0000-649ec94e0000\u0022",
        "x-ms-ratelimit-remaining-tenant-reads": "11993"
      },
      "ResponseBody": {
        "id": "/providers/PaloAltoNetworks.Cloudngfw/locations/EASTUS2/operationStatuses/37df111a-d1eb-4004-bb3b-565ce515aa56*7445E1075F27237ED591C46FC2A318CCFB2C7C305F49AD7DD3F35FB302B9791D",
        "name": "37df111a-d1eb-4004-bb3b-565ce515aa56*7445E1075F27237ED591C46FC2A318CCFB2C7C305F49AD7DD3F35FB302B9791D",
        "resourceId": "/subscriptions/2bf4a339-294d-4c25-b0b2-ef649e9f5c27/resourceGroups/dotnetSdkTest-infra-rg/providers/PaloAltoNetworks.Cloudngfw/localRulestacks/dotnetSdkTest-default-delSync-lrs",
        "status": "Succeeded",
        "startTime": "2023-06-30T12:23:27.9268551Z",
        "endTime": "2023-06-30T12:23:42.4227677Z",
        "error": {},
        "properties": null
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/2bf4a339-294d-4c25-b0b2-ef649e9f5c27/resourceGroups/dotnetSdkTest-infra-rg/providers/PaloAltoNetworks.Cloudngfw/localRulestacks/dotnetSdkTest-default-delSync-lrs?api-version=2022-08-29",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-failure-cause": "gateway"
      },
      "ResponseBody": {
        "error": {
          "code": "ResourceNotFound",
          "message": "The Resource \u0027PaloAltoNetworks.Cloudngfw/localRulestacks/dotnetSdkTest-default-delSync-lrs\u0027 under resource group \u0027dotnetSdkTest-infra-rg\u0027 was not found. For more details please go to https://aka.ms/ARMResourceNotFoundFix"
        }
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": null,
    "RandomSeed": "447475696",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "2bf4a339-294d-4c25-b0b2-ef649e9f5c27"
  }
}
