{
  "Entries": [
    {
      "RequestUri": "/luis/api/v2.0/apps/86226c53-b7a6-416f-876b-226b2b5ab07b/versions/0.1/entities",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"name\": \"Delete Entity Test\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Ocp-Apim-Subscription-Key": [
          "00000000000000000000000000000000"
        ]
      },
      "ResponseBody": "\"0062f26e-c70c-430b-b534-2a2cda02bb51\"",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Location": [
          "https://api.luis.ai/api/v2.0/apps/86226c53-b7a6-416f-876b-226b2b5ab07b/versions/0.1/entities/0062f26e-c70c-430b-b534-2a2cda02bb51"
        ],
        "Operation-Location": [
          "https://api.luis.ai/api/v2.0/apps/86226c53-b7a6-416f-876b-226b2b5ab07b/versions/0.1/entities/0062f26e-c70c-430b-b534-2a2cda02bb51"
        ]
      },
      "StatusCode": 201
    },
    {
      "RequestUri": "/luis/api/v2.0/apps/86226c53-b7a6-416f-876b-226b2b5ab07b/versions/0.1/entities/0062f26e-c70c-430b-b534-2a2cda02bb51",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": [
          "00000000000000000000000000000000"
        ]
      },
      "ResponseBody": "",
      "ResponseHeaders": {
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/luis/api/v2.0/apps/86226c53-b7a6-416f-876b-226b2b5ab07b/versions/0.1/entities?skip=0&take=100",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": [
          "00000000000000000000000000000000"
        ]
      },
      "ResponseBody": "[\r\n  {\r\n    \"id\": \"7fa94cf1-47a4-4761-9a43-ad3dffaca8e1\",\r\n    \"name\": \"Category\",\r\n    \"typeId\": 1,\r\n    \"readableType\": \"Entity Extractor\"\r\n  },\r\n  {\r\n    \"id\": \"8a09378c-64fc-4f63-a2cc-c19a4d44942b\",\r\n    \"name\": \"Code\",\r\n    \"typeId\": 1,\r\n    \"readableType\": \"Entity Extractor\"\r\n  },\r\n  {\r\n    \"id\": \"14c2528c-287d-45f4-939f-626d2a659aeb\",\r\n    \"name\": \"RoomType\",\r\n    \"typeId\": 1,\r\n    \"readableType\": \"Entity Extractor\"\r\n  }\r\n]",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {}
}