{
  "Entries": [
    {
      "RequestUri": "/luis/api/v2.0/apps/86226c53-b7a6-416f-876b-226b2b5ab07b/versions/0.1/entities?skip=0&take=100",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": [
          "00000000000000000000000000000000"
        ]
      },
      "ResponseBody": "[\r\n  {\r\n    \"id\": \"7fa94cf1-47a4-4761-9a43-ad3dffaca8e1\",\r\n    \"name\": \"Category\",\r\n    \"typeId\": 1,\r\n    \"readableType\": \"Entity Extractor\"\r\n  },\r\n  {\r\n    \"id\": \"8a09378c-64fc-4f63-a2cc-c19a4d44942b\",\r\n    \"name\": \"Code\",\r\n    \"typeId\": 1,\r\n    \"readableType\": \"Entity Extractor\"\r\n  },\r\n  {\r\n    \"id\": \"14c2528c-287d-45f4-939f-626d2a659aeb\",\r\n    \"name\": \"RoomType\",\r\n    \"typeId\": 1,\r\n    \"readableType\": \"Entity Extractor\"\r\n  }\r\n]",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/luis/api/v2.0/apps/86226c53-b7a6-416f-876b-226b2b5ab07b/versions/0.1/entities/14c2528c-287d-45f4-939f-626d2a659aeb/suggest?take=100",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": [
          "00000000000000000000000000000000"
        ]
      },
      "ResponseBody": "[\r\n  {\r\n    \"text\": \"hey\",\r\n    \"tokenizedText\": [\r\n      \"hey\"\r\n    ],\r\n    \"intentPredictions\": [\r\n      {\r\n        \"name\": \"None\",\r\n        \"score\": 0.65\r\n      },\r\n      {\r\n        \"name\": \"FindAirportByCode\",\r\n        \"score\": 0.02\r\n      },\r\n      {\r\n        \"name\": \"WeatherInPlace\",\r\n        \"score\": 0.01\r\n      },\r\n      {\r\n        \"name\": \"TimeInPlace\",\r\n        \"score\": 0.0\r\n      },\r\n      {\r\n        \"name\": \"FindHotels-ChangeLocation\",\r\n        \"score\": 0.0\r\n      },\r\n      {\r\n        \"name\": \"FindHotels\",\r\n        \"score\": 0.0\r\n      }\r\n    ],\r\n    \"entityPredictions\": []\r\n  },\r\n  {\r\n    \"text\": \"2-2-2017\",\r\n    \"tokenizedText\": [\r\n      \"2\",\r\n      \"-\",\r\n      \"2\",\r\n      \"-\",\r\n      \"2017\"\r\n    ],\r\n    \"intentPredictions\": [\r\n      {\r\n        \"name\": \"None\",\r\n        \"score\": 0.88\r\n      },\r\n      {\r\n        \"name\": \"TimeInPlace\",\r\n        \"score\": 0.0\r\n      },\r\n      {\r\n        \"name\": \"FindAirportByCode\",\r\n        \"score\": 0.0\r\n      },\r\n      {\r\n        \"name\": \"FindHotels-ChangeLocation\",\r\n        \"score\": 0.0\r\n      },\r\n      {\r\n        \"name\": \"FindHotels\",\r\n        \"score\": 0.0\r\n      },\r\n      {\r\n        \"name\": \"WeatherInPlace\",\r\n        \"score\": 0.0\r\n      }\r\n    ],\r\n    \"entityPredictions\": [\r\n      {\r\n        \"entityName\": \"datetime\",\r\n        \"startTokenIndex\": 0,\r\n        \"endTokenIndex\": 4,\r\n        \"phrase\": \"2-2-2017\"\r\n      }\r\n    ]\r\n  },\r\n  {\r\n    \"text\": \"maybe find me an airport first\",\r\n    \"tokenizedText\": [\r\n      \"maybe\",\r\n      \"find\",\r\n      \"me\",\r\n      \"an\",\r\n      \"airport\",\r\n      \"first\"\r\n    ],\r\n    \"intentPredictions\": [\r\n      {\r\n        \"name\": \"FindAirportByCode\",\r\n        \"score\": 0.99\r\n      },\r\n      {\r\n        \"name\": \"FindHotels\",\r\n        \"score\": 0.01\r\n      },\r\n      {\r\n        \"name\": \[...]
