{
  "Entries": [
    {
      "RequestUri": "https://javatextanalyticstestresources.cognitiveservices.azure.com/language/:analyze-text?api-version=2022-10-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "analysisInput": {
          "documents": [
            {
              "id": "0",
              "text": "Mo Salah plays in Liverpool FC in England.",
              "language": "en"
            }
          ]
        },
        "parameters": {
          "categories": [
            "Health",
            "Politics",
            "Music",
            "Sports"
          ]
        },
        "kind": "DynamicClassification"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "csp-billing-usage": "CognitiveServices.TextAnalytics.BatchScoring=0,CognitiveServices.TextAnalytics.TextRecords=1",
        "x-ms-region": "West US 2"
      },
      "ResponseBody": {
        "kind": "DynamicClassificationResults",
        "results": {
          "documents": [
            {
              "id": "0",
              "classifications": [
                {
                  "category": "Sports",
                  "confidenceScore": 0.99
                },
                {
                  "category": "Music",
                  "confidenceScore": 0.0
                },
                {
                  "category": "Health",
                  "confidenceScore": 0.0
                },
                {
                  "category": "Politics",
                  "confidenceScore": 0.0
                }
              ],
              "warnings": []
            }
          ],
          "errors": [],
          "modelVersion": "2022-10-01-preview"
        }
      }
    }
  ],
  "Variables": {
    "RandomSeed": "479113545",
    "TEXT_ANALYTICS_API_KEY": "Sanitized",
    "TEXT_ANALYTICS_ENDPOINT": "https://javatextanalyticstestresources.cognitiveservices.azure.com"
  }
}
