{
  "Entries": [
    {
      "RequestUri": "https://javatextanalyticstestresources.cognitiveservices.azure.com/language/analyze-text/jobs?api-version=2022-10-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "displayName": "RecognizePiiEntitiesWithAutoDetectedLanguage",
        "analysisInput": {
          "documents": [
            {
              "id": "0",
              "text": "A developer with SSN 859-98-0987 whose phone number is 800-102-1100 is building tools with our APIs. They work at Microsoft",
              "language": "auto"
            },
            {
              "id": "1",
              "text": "Your ABA number - 111000025 - is the first 9 digits in the lower left hand corner of your personal check",
              "language": "auto"
            }
          ]
        },
        "tasks": [
          {
            "parameters": {
              "stringIndexType": "Utf16CodeUnit"
            },
            "kind": "PiiEntityRecognition"
          }
        ]
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "operation-location": "https://javatextanalyticstestresources.cognitiveservices.azure.com/language/analyze-text/jobs/d2e13058-2129-4382-9fd7-0ba9f59ea9a4?api-version=2022-10-01-preview",
        "x-ms-region": "West US 2"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://javatextanalyticstestresources.cognitiveservices.azure.com/language/analyze-text/jobs/d2e13058-2129-4382-9fd7-0ba9f59ea9a4?api-version=2022-10-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "West US 2"
      },
      "ResponseBody": {
        "jobId": "d2e13058-2129-4382-9fd7-0ba9f59ea9a4",
        "lastUpdateDateTime": "2022-11-22T08:08:33Z",
        "createdDateTime": "2022-11-22T08:08:33Z",
        "expirationDateTime": "2022-11-23T08:08:33Z",
        "status": "notStarted",
        "errors": [],
        "displayName": "RecognizePiiEntitiesWithAutoDetectedLanguage",
        "tasks": {
          "completed": 0,
          "failed": 0,
          "inProgress": 1,
          "total": 1,
          "items": []
        }
      }
    },
[...]
    {
      "RequestUri": "https://javatextanalyticstestresources.cognitiveservices.azure.com/language/analyze-text/jobs/d2e13058-2129-4382-9fd7-0ba9f59ea9a4?api-version=2022-10-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "West US 2"
      },
      "ResponseBody": {
        "jobId": "d2e13058-2129-4382-9fd7-0ba9f59ea9a4",
        "lastUpdateDateTime": "2022-11-22T08:08:35Z",
        "createdDateTime": "2022-11-22T08:08:33Z",
        "expirationDateTime": "2022-11-23T08:08:33Z",
        "status": "succeeded",
        "errors": [],
        "displayName": "RecognizePiiEntitiesWithAutoDetectedLanguage",
        "tasks": {
          "completed": 1,
          "failed": 0,
          "inProgress": 0,
          "total": 1,
          "items": [
            {
              "kind": "PiiEntityRecognitionLROResults",
              "lastUpdateDateTime": "2022-11-22T08:08:35.7395768Z",
              "status": "succeeded",
              "results": {
                "documents": [
                  {
                    "redactedText": "A ********* with SSN *********** whose phone number is ************ is building tools with our APIs. They work at *********",
                    "id": "0",
                    "entities": [
                      {
                        "text": "developer",
                        "category": "PersonType",
                        "offset": 2,
                        "length": 9,
                        "confidenceScore": 0.97
                      },
                      {
                        "text": "859-98-0987",
                        "category": "USSocialSecurityNumber",
                        "offset": 21,
                        "length": 11,
                        "confidenceScore": 0.65
                      },
                      {
                        "text": "800-102-1100",
                        "category": "PhoneNumber",
                        "offset": 55,
                        "length": 12,
                        "confidenceScore": 0.8
                      },
                      {
                        "text": "Microsoft",
                        "category": "Organization",
                        "offset": 114,
                        "length": 9,
                        "confidenceScore": 0.96
                      }
                    ],
                    "warnings": [],
                    "detectedLanguage": {
                      "name": "English",
                      "iso6391Name": "en",
                      "confidenceScore": 0.99
                    },
                    "isLanguageDefaulted": false
                  },
                  {
                    "redactedText": "Your ABA number - ********* - is the first 9 digits in the lower left hand corner of your personal check",
                    "id": "1",
                    "entities": [
                      {
                        "text": "111000025",
                        "category": "PhoneNumber",
                        "offset": 18,
                        "length": 9,
                        "confidenceScore": 0.8
                      },
                      {
                        "text": "111000025",
                        "category": "ABARoutingNumber",
                        "offset": 18,
                        "length": 9,
                        "confidenceScore": 0.75
                      },
                      {
                        "text": "111000025",
                        "category": "NZSocialWelfareNumber",
                        "offset": 18,
                        "length": 9,
                        "confidenceScore": 0.65
                      }
                    ],
                    "warnings": [],
                    "detectedLanguage": {
                      "name": "English",
                      "iso6391Name": "en",
                      "confidenceScore": 0.98
                    },
                    "isLanguageDefaulted": false
                  }
                ],
                "errors": [],
                "modelVersion": "2021-01-15"
              }
            }
          ]
        }
      }
    }
  ],
  "Variables": {
    "RandomSeed": "110986835",
    "TEXT_ANALYTICS_API_KEY": "Sanitized",
    "TEXT_ANALYTICS_ENDPOINT": "https://javatextanalyticstestresources.cognitiveservices.azure.com"
  }
}
