{
  "Entries": [
    {
      "RequestUri": "https://javatextanalyticstestresources.cognitiveservices.azure.com/language/:analyze-text?api-version=2022-05-01\u0026showStats=false",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "analysisInput": {
          "documents": [
            {
              "id": "0",
              "text": "A developer with SSN 859-98-0987 whose phone number is 800-102-1100 is building tools with our APIs. They work at Microsoft",
              "language": "en"
            },
            {
              "id": "1",
              "text": "Your ABA number - 111000025 - is the first 9 digits in the lower left hand corner of your personal check",
              "language": "en"
            }
          ]
        },
        "parameters": {
          "stringIndexType": "Utf16CodeUnit"
        },
        "kind": "PiiEntityRecognition"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "csp-billing-usage": "CognitiveServices.TextAnalytics.BatchScoring=2,CognitiveServices.TextAnalytics.TextRecords=2"
      },
      "ResponseBody": {
        "kind": "PiiEntityRecognitionResults",
        "results": {
          "documents": [
            {
              "redactedText": "A ********* with SSN *********** whose phone number is ************ is building tools with our APIs. They work at *********",
              "id": "0",
              "entities": [
                {
                  "text": "developer",
                  "category": "PersonType",
                  "offset": 2,
                  "length": 9,
                  "confidenceScore": 0.97
                },
                {
                  "text": "859-98-0987",
                  "category": "USSocialSecurityNumber",
                  "offset": 21,
                  "length": 11,
                  "confidenceScore": 0.65
                },
                {
                  "text": "800-102-1100",
                  "category": "PhoneNumber",
                  "offset": 55,
                  "length": 12,
                  "confidenceScore": 0.8
                },
                {
                  "text": "Microsoft",
                  "category": "Organization",
                  "offset": 114,
                  "length": 9,
                  "confidenceScore": 0.96
                }
              ],
              "warnings": []
            },
            {
              "redactedText": "Your ABA number - ********* - is the first 9 digits in the lower left hand corner of your personal check",
              "id": "1",
              "entities": [
                {
                  "text": "111000025",
                  "category": "PhoneNumber",
                  "offset": 18,
                  "length": 9,
                  "confidenceScore": 0.8
                },
                {
                  "text": "111000025",
                  "category": "ABARoutingNumber",
                  "offset": 18,
                  "length": 9,
                  "confidenceScore": 0.75
                },
                {
                  "text": "111000025",
                  "category": "NZSocialWelfareNumber",
                  "offset": 18,
                  "length": 9,
                  "confidenceScore": 0.65
                }
              ],
              "warnings": []
            }
          ],
          "errors": [],
          "modelVersion": "2021-01-15"
        }
      }
    }
  ],
  "Variables": {
    "RandomSeed": "2107751134",
    "TEXT_ANALYTICS_API_KEY": "Sanitized",
    "TEXT_ANALYTICS_ENDPOINT": "https://javatextanalyticstestresources.cognitiveservices.azure.com"
  }
}
