{
  "Entries": [
    {
      "RequestUri": "https://mariari-westus2-s.cognitiveservices.azure.com/text/analytics/v3.1/entities/recognition/pii?showStats=false\u0026stringIndexType=Utf16CodeUnit",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "documents": [
          {
            "id": "0",
            "text": "A developer with SSN 859-98-0987 whose phone number is 800-102-1100 is building tools with our APIs. They work at Microsoft",
            "language": "en"
          }
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "csp-billing-usage": "CognitiveServices.TextAnalytics.BatchScoring=1,CognitiveServices.TextAnalytics.TextRecords=1"
      },
      "ResponseBody": {
        "documents": [
          {
            "redactedText": "A ********* with SSN *********** whose phone number is ************ is building tools with our APIs. They work at *********",
            "id": "0",
            "entities": [
              {
                "text": "developer",
                "category": "PersonType",
                "offset": 2,
                "length": 9,
                "confidenceScore": 0.97
              },
              {
                "text": "859-98-0987",
                "category": "USSocialSecurityNumber",
                "offset": 21,
                "length": 11,
                "confidenceScore": 0.65
              },
              {
                "text": "800-102-1100",
                "category": "PhoneNumber",
                "offset": 55,
                "length": 12,
                "confidenceScore": 0.8
              },
              {
                "text": "Microsoft",
                "category": "Organization",
                "offset": 114,
                "length": 9,
                "confidenceScore": 0.96
              }
            ],
            "warnings": []
          }
        ],
        "errors": [],
        "modelVersion": "2021-01-15"
      }
    }
  ],
  "Variables": {
    "RandomSeed": "1336683597",
    "TEXT_ANALYTICS_API_KEY": "Sanitized",
    "TEXT_ANALYTICS_ENDPOINT": "https://mariari-westus2-s.cognitiveservices.azure.com/"
  }
}