{
  "Entries": [
    {
      "RequestUri": "https://ta-s-westeurope.cognitiveservices.azure.com/text/analytics/v3.1-preview.4/entities/recognition/pii?showStats=false\u0026domain=phi\u0026stringIndexType=Utf16CodeUnit",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "documents": [
          {
            "id": "0",
            "text": "A developer with SSN 859-98-0987 whose phone number is 800-102-1100 is building tools with our APIs.",
            "language": "en"
          },
          {
            "id": "1",
            "text": "Your ABA number - 111000025 - is the first 9 digits in the lower left hand corner of your personal check",
            "language": "en"
          }
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "csp-billing-usage": "CognitiveServices.TextAnalytics.BatchScoring=2"
      },
      "ResponseBody": {
        "documents": [
          {
            "redactedText": "A developer with SSN *********** whose phone number is ************ is building tools with our APIs.",
            "id": "0",
            "entities": [
              {
                "text": "859-98-0987",
                "category": "USSocialSecurityNumber",
                "offset": 21,
                "length": 11,
                "confidenceScore": 0.65
              },
              {
                "text": "800-102-1100",
                "category": "PhoneNumber",
                "offset": 55,
                "length": 12,
                "confidenceScore": 0.8
              }
            ],
            "warnings": []
          },
          {
            "redactedText": "Your ABA number - ********* - is the first 9 digits in the lower left hand corner of your personal check",
            "id": "1",
            "entities": [
              {
                "text": "111000025",
                "category": "PhoneNumber",
                "offset": 18,
                "length": 9,
                "confidenceScore": 0.8
              },
              {
                "text": "111000025",
                "category": "ABARoutingNumber",
                "offset": 18,
                "length": 9,
                "confidenceScore": 0.75
              },
              {
                "text": "111000025",
                "category": "NZSocialWelfareNumber",
                "offset": 18,
                "length": 9,
                "confidenceScore": 0.65
              }
            ],
            "warnings": []
          }
        ],
        "errors": [],
        "modelVersion": "2021-01-15"
      }
    }
  ],
  "Variables": {
    "RandomSeed": "573069134",
    "TEXT_ANALYTICS_API_KEY": "Sanitized",
    "TEXT_ANALYTICS_ENDPOINT": "https://ta-s-westeurope.cognitiveservices.azure.com"
  }
}