{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testrg-batch9997/providers/Microsoft.Batch/batchAccounts/testaccount6201?api-version=2022-10-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus",
        "properties": {
          "autoStorage": {
            "storageAccountId": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testrg-batch9997/providers/Microsoft.Storage/storageAccounts/azstorageforbatch4436"
          }
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Location": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testrg-batch9997/providers/Microsoft.Batch/batchAccounts/testaccount6201/operationResults/b2dbb2f5-355c-4a9f-a72f-7e40f8f6bfdd?api-version=2022-10-01",
        "Retry-After": "15",
        "x-ms-ratelimit-remaining-subscription-writes": "1190"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testrg-batch9997/providers/Microsoft.Batch/batchAccounts/testaccount6201/operationResults/b2dbb2f5-355c-4a9f-a72f-7e40f8f6bfdd?api-version=2022-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Location": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testrg-batch9997/providers/Microsoft.Batch/batchAccounts/testaccount6201/operationResults/b2dbb2f5-355c-4a9f-a72f-7e40f8f6bfdd?api-version=2022-10-01",
        "Retry-After": "15",
        "x-ms-ratelimit-remaining-subscription-reads": "11987"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testrg-batch9997/providers/Microsoft.Batch/batchAccounts/testaccount6201/operationResults/b2dbb2f5-355c-4a9f-a72f-7e40f8f6bfdd?api-version=2022-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00220x8DAD34DF855E104\u0022",
        "Last-Modified": "Thu, 01 Dec 2022 03:41:45 GMT",
        "x-ms-ratelimit-remaining-subscription-reads": "11986"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testrg-batch9997/providers/Microsoft.Batch/batchAccounts/testaccount6201",
        "name": "testaccount6201",
        "type": "Microsoft.Batch/batchAccounts",
        "location": "westus",
        "properties": {
          "accountEndpoint": "testaccount6201.westus.batch.azure.com",
          "nodeManagementEndpoint": "4764f316-1f47-47a8-85dc-469085a65e40.westus.service.batch.azure.com",
          "provisioningState": "Succeeded",
          "dedicatedCoreQuota": 0,
          "dedicatedCoreQuotaPerVMFamily": [
            {
              "name": "standardAv2Family",
              "coreQuota": 0
            },
            {
              "name": "standardDv2Family",
              "coreQuota": 0
            },
            {
              "name": "standardDv3Family",
              "coreQuota": 0
            },
            {
              "name": "standardEv3Family",
              "coreQuota": 0
            },
            {
              "name": "standardDSv2Family",
              "coreQuota": 0
            },
            {
              "name": "standardDSv3Family",
              "core[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testrg-batch9997/providers/Microsoft.Batch/batchAccounts/testaccount6201/applications/testApplication-6797?api-version=2022-10-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "displayName": "displayName",
          "allowUpdates": true
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\u00220x8DAD34DF8D03117\u0022",
        "Last-Modified": "Thu, 01 Dec 2022 03:41:46 GMT",
        "x-ms-ratelimit-remaining-subscription-writes": "1189"
      },
      "ResponseBody": {
        "type": "Microsoft.Batch/batchAccounts/applications",
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testrg-batch9997/providers/Microsoft.Batch/batchAccounts/testaccount6201/applications/testApplication-6797",
        "name": "testApplication-6797",
        "etag": "W/\u00220x8DAD34DF8D03117\u0022",
        "properties": {
          "displayName": "displayName",
          "allowUpdates": true
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testrg-batch9997/providers/Microsoft.Batch/batchAccounts/testaccount6201/applications/testApplication-6797/versions/ApplicationPackage-4095?api-version=2022-10-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\u00220x8DAD34DF995D67F\u0022",
        "Last-Modified": "Thu, 01 Dec 2022 03:41:47 GMT",
        "x-ms-ratelimit-remaining-subscription-writes": "1188"
      },
      "ResponseBody": {
        "type": "Microsoft.Batch/batchAccounts/applications/versions",
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testrg-batch9997/providers/Microsoft.Batch/batchAccounts/testaccount6201/applications/testApplication-6797/versions/ApplicationPackage-4095",
        "name": "ApplicationPackage-4095",
        "etag": "W/\u00220x8DAD34DF995D67F\u0022",
        "properties": {
          "storageUrl": "https://fakeaccount.blob.core.windows.net",
          "storageUrlExpiry": "2022-12-01T07:41:47.99634Z",
          "state": "Pending"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testrg-batch9997/providers/Microsoft.Batch/batchAccounts/testaccount6201/applications/testApplication-6797/versions?api-version=2022-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11984"
      },
      "ResponseBody": {
        "value": [
          {
            "type": "Microsoft.Batch/batchAccounts/applications/versions",
            "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testrg-batch9997/providers/Microsoft.Batch/batchAccounts/testaccount6201/applications/testApplication-6797/versions/ApplicationPackage-1041",
            "name": "ApplicationPackage-1041",
            "etag": "W/\u00220x8DAD34DFAD66719\u0022",
            "properties": {
              "state": "Pending"
            }
     [...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testrg-batch9997/providers/Microsoft.Batch/batchAccounts/testaccount6201/applications/testApplication-6797/versions/ApplicationPackage-40951?api-version=2022-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11982"
      },
      "ResponseBody": {
        "error": {
          "code": "ApplicationPackageNotFound",
          "message": "The specified application package does not exist.\nRequestId:92f6cfeb-ab08-44a1-be0f-9ea2f76f6f66\nTime:2022-12-01T03:41:52.1316729Z",
          "target": "BatchAccount"
        }
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "RandomSeed": "800655578",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "db1ab6f0-4769-4b27-930e-01e2ef9c123c"
  }
}
