{
  "Entries": [
    {
      "RequestUri": "/v1/apps/DEMO_APP/events/exceptions?timespan=P1D&$top=10",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-api-key": [
          "DEMO_KEY"
        ],
        "prefer": [
          "response-v1=true"
        ],
        "x-ms-app": [
          "csharpsdk"
        ]
      },
      "ResponseHeaders": {
        "OData-Version": [
          "4.0;"
        ],
        "Content-Type": [
          "application/json; charset=utf-8; ieee754compatible=false; odata.metadata=none; odata.streaming=false"
        ]
      },
      "ResponseBody": "{\r\n  \"@odata.context\": \"https://api.applicationinsights.io/v1/apps/DEMO_APP/events/$metadata#exceptions\",\r\n  \"value\": [\r\n    {\r\n      \"id\": \"bed16001-c041-11e8-932e-cd5dae094438\",\r\n      \"count\": 1,\r\n      \"type\": \"exception\",\r\n      \"timestamp\": \"2018-09-24T21:35:23.923Z\",\r\n      \"exception\": {\r\n        \"severityLevel\": 4,\r\n        \"problemId\": \"System.NullReferenceException at ASP._Page_Views_ServiceTickets_Details_cshtml.Execute\",\r\n        \"handledAt\": \"\",\r\n        \"assembly\": \"App_Web_jz3u2j3t, Version=0.0.0.0, Culture=neutral, PublicKeyToken=null\",\r\n        \"method\": \"ASP._Page_Views_ServiceTickets_Details_cshtml.Execute\",\r\n        \"message\": \"\",\r\n        \"type\": \"System.NullReferenceException\",\r\n        \"outerType\": \"System.NullReferenceException\",\r\n        \"outerMethod\": \"ASP._Page_Views_ServiceTickets_Details_cshtml.Execute\",\r\n        \"outerAssembly\": \"App_Web_jz3u2j3t, Version=0.0.0.0, Culture=neutral, PublicKeyToken=null\",\r\n        \"outerMessage\": \"Object reference not set to an instance of an object.\",\r\n        \"innermostType\": \"System.NullReferenceException\",\r\n        \"innermostMessage\": \"Object reference not set to an instance of an object.\",\r\n        \"innermostMethod\": \"\",\r\n        \"innermostAssembly\": \"\",\r\n        \"details\": [\r\n          {\r\n            \"parsedStack\": [\r\n              {\r\n                \"fileName\": \"c:\\\\inetpub\\\\wwwroot\\\\FabrikamProd\\\\Views\\\\ServiceTickets\\\\Details.cshtml\",\r\n                \"method\": \"ASP._Page_Views_ServiceTickets_Details_cshtml.Execute\",\r\n                \"level\": 0,\r\n                \"line\": 13,\r\n                \"assembly\": \"App_Web_jz3u2j3t, Version=0.0.0.0, Culture=neutral, PublicKeyToken=null\"\r\n              },\r\n              {\r\n                \"method\": \"System.Web.WebPages.WebPageBase.ExecutePageHierarchy\",\r\n                \"level\": 1,\r\n                \"line\": 0,\r\n                \"assembly\": \"System.Web.WebPages, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35\"\r\n              },\r\n              {\r\n                \"method\":[...]
    {
      "RequestUri": "/v1/apps/DEMO_APP/events/exceptions/bed16001-c041-11e8-932e-cd5dae094438?timespan=P1D",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-api-key": [
          "DEMO_KEY"
        ],
        "prefer": [
          "response-v1=true"
        ],
        "x-ms-app": [
          "csharpsdk"
        ]
      },
      "ResponseHeaders": {
        "OData-Version": [
          "4.0;"
        ],
        "Content-Type": [
          "applica[...]
