{
  "Entries": [
    {
      "RequestUri": "/v1/apps/DEMO_APP/events/customEvents?timespan=P1D&$top=10",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-api-key": [
          "DEMO_KEY"
        ],
        "prefer": [
          "response-v1=true"
        ],
        "x-ms-app": [
          "csharpsdk"
        ]
      },
      "ResponseHeaders": {
        "OData-Version": [
          "4.0;"
        ],
        "Content-Type": [
          "application/json; charset=utf-8; ieee754compatible=false; odata.metadata=none; odata.streaming=false"
        ]
      },
      "ResponseBody": "{\r\n  \"@odata.context\": \"https://api.applicationinsights.io/v1/apps/DEMO_APP/events/$metadata#customEvents\",\r\n  \"value\": [\r\n    {\r\n      \"id\": \"302839f1-c041-11e8-a137-b787b1506f19\",\r\n      \"count\": 1,\r\n      \"type\": \"customEvent\",\r\n      \"timestamp\": \"2018-09-24T21:30:54.552Z\",\r\n      \"customDimensions\": {\r\n        \"ProcessId\": \"2496\",\r\n        \"SnapshotCollectorConfiguration\": \"{\\\"FailedRequestLimit\\\":3,\\\"IsEnabled\\\":true,\\\"IsEnabledWhenProfiling\\\":true,\\\"IsLowPrioritySnapshotUploader\\\":true,\\\"MaximumCollectionPlanSize\\\":50,\\\"MaximumSnapshotsRequired\\\":3,\\\"ProblemCounterResetInterval\\\":\\\"P1D\\\",\\\"ProvideAnonymousTelemetry\\\":true,\\\"ReconnectInterval\\\":\\\"PT15M\\\",\\\"SnapshotInLowPriorityThread\\\":true,\\\"SnapshotsPerDayLimit\\\":30,\\\"SnapshotsPerTenMinutesLimit\\\":1,\\\"ThresholdForSnapshotting\\\":1}\",\r\n        \"HeartbeatInterval\": \"00:30:00\",\r\n        \"EventName\": \"Heartbeat\"\r\n      },\r\n      \"customMeasurements\": {\r\n        \"FirstChanceExceptions\": 846,\r\n        \"TrackExceptionCalls\": 42\r\n      },\r\n      \"operation\": {\r\n        \"name\": \"\",\r\n        \"id\": \"\",\r\n        \"parentId\": \"\",\r\n        \"syntheticSource\": \"\"\r\n      },\r\n      \"session\": {\r\n        \"id\": \"14f18d71-fdf0-4ad4-a5ea-789d943a13c6\"\r\n      },\r\n      \"user\": {\r\n        \"id\": \"\",\r\n        \"accountId\": \"\",\r\n        \"authenticatedId\": \"\"\r\n      },\r\n      \"cloud\": {\r\n        \"roleName\": \"\",\r\n        \"roleInstance\": \"RD00155D467AF0\"\r\n      },\r\n      \"ai\": {\r\n        \"iKey\": \"5a2e4e0c-e136-4a15-9824-90ba859b0a89\",\r\n        \"appName\": \"fabrikamprod\",\r\n        \"appId\": \"cf58dcfd-0683-487c-bc84-048789bca8e5\",\r\n        \"sdkVersion\": \"sc:1.3.0.0\"\r\n      },\r\n      \"customEvent\": {\r\n        \"name\": \"AppInsightsSnapshotCollectorLogs\"\r\n      },\r\n      \"application\": {\r\n        \"version\": \"\"\r\n      },\r\n      \"client\": {\r\n        \"model\": \"\",\r\n        \"os\": \"\",\r\n        \"type\": \"PC\",\r\n        \"browser\": \"\",\r\n        \"ip\": \"0.0.0.0\",\r\n        \"city\": \"San Jose\",\r\n        \"stateOrProvince\": \"California\",\r\n        \"countryOrRegion\": \"United States\"\r\n      }\r\n    },\r\n    {\r\n      \"id\": \"ff222d81-c040-11e8-854e-55d4913e5a6f\",\r\n      \"count\": 1,\r\n      \"type\": \"customEvent\",\r\n      \"timestamp\": \"2018-09-24T21:30:00.114Z\",\r\n      \"customDimensions\": \"\",\r\n      \"customMeasurements\": \"\",\r\n      \"operation\": {\r\n        \"name\": \"/\",\r\n        \"id\": \"dJxRx\",\r\n        \"parentId\": \"dJxRx\",\r\n        \"syntheticSource\": \"\"\r\n      },\r\n      \"session\": {\r\n       [...]
    {
      "RequestUri": "/v1/apps/DEMO_APP/events/customEvents/302839f1-c041-11e8-a137-b787b1506f19?timespan=P1D",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-api-key": [
          "DEMO_KEY"
        ],
        "prefer": [
          "response-v1=true"
        ],
        "x-ms-app": [
          "csharpsdk"
        ]
      },
      "ResponseHeaders": {
        "OData-Version": [
          "4.0;"
        ],
        "Content-Type": [
          "appli[...]
