{
  "Entries": [
    {
      "RequestUri": "/v1/apps/DEMO_APP/events/performanceCounters?timespan=PT12H&$top=10",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-api-key": [
          "DEMO_KEY"
        ],
        "prefer": [
          "response-v1=true"
        ],
        "x-ms-app": [
          "csharpsdk"
        ]
      },
      "ResponseBody": "{\r\n  \"@odata.context\": \"https://api.applicationinsights.io/v1/apps/DEMO_APP/events/$metadata#performanceCounters\",\r\n  \"value\": [\r\n    {\r\n      \"id\": \"4f416d88-fbc0-11e7-9b15-272dd9e533f1\",\r\n      \"type\": \"performanceCounter\",\r\n      \"timestamp\": \"2018-01-17T19:54:57.809Z\",\r\n      \"performanceCounter\": {\r\n        \"value\": 0,\r\n        \"name\": \"IO Data Bytes/sec\",\r\n        \"category\": \"Process\",\r\n        \"counter\": \"IO Data Bytes/sec\",\r\n        \"instanceName\": \"??APP_WIN32_PROC??\",\r\n        \"instance\": \"??APP_WIN32_PROC??\"\r\n      },\r\n      \"customDimensions\": null,\r\n      \"operation\": {\r\n        \"name\": null,\r\n        \"id\": null,\r\n        \"parentId\": null,\r\n        \"syntheticSource\": null\r\n      },\r\n      \"session\": {\r\n        \"id\": null\r\n      },\r\n      \"user\": {\r\n        \"id\": null,\r\n        \"accountId\": null,\r\n        \"authenticatedId\": null\r\n      },\r\n      \"cloud\": {\r\n        \"roleName\": \"fabrikamfiberapp\",\r\n        \"roleInstance\": \"RD00155D467E8D\"\r\n      },\r\n      \"ai\": {\r\n        \"iKey\": \"5a2e4e0c-e136-4a15-9824-90ba859b0a89\",\r\n        \"appName\": \"fabrikamprod\",\r\n        \"appId\": \"cf58dcfd-0683-487c-bc84-048789bca8e5\",\r\n        \"sdkVersion\": \"azwapc:2.5.0-33031\"\r\n      },\r\n      \"application\": {\r\n        \"version\": \"AutoGen_49c3aea0-4641-4675-93b5-55f7a62d22d3\"\r\n      },\r\n      \"client\": {\r\n        \"model\": null,\r\n        \"os\": null,\r\n        \"type\": \"PC\",\r\n        \"browser\": null,\r\n        \"ip\": \"40.112.216.0\",\r\n        \"city\": \"San Jose\",\r\n        \"stateOrProvince\": \"California\",\r\n        \"countryOrRegion\": \"United States\"\r\n      }\r\n    },\r\n    {\r\n      \"id\": \"4f416d84-fbc0-11e7-9b15-272dd9e533f1\",\r\n      \"type\": \"performanceCounter\",\r\n      \"timestamp\": \"2018-01-17T19:54:57.809Z\",\r\n      \"performanceCounter\": {\r\n        \"value\": 0,\r\n        \"name\": \"Requests/Sec\",\r\n        \"category\": \"ASP.NET Applications\",\r\n        \"counter\": \"Requests/Sec\",\r\n        \"instanceName\": \"??APP_W3SVC_PROC??\",\r\n        \"instance\": \"??APP_W3SVC_PROC??\"\r\[...]
    {
      "RequestUri": "/v1/apps/DEMO_APP/events/performanceCounters/4f416d88-fbc0-11e7-9b15-272dd9e533f1?timespan=PT12H",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-api-key": [
          "DEMO_KEY"
        ],
        "prefer": [
          "response-v1=true"
        ],
        "x-ms-app": [
          "csharpsdk"
        ]
      },
      "ResponseBody": "{\r\n  \"@odata.context\": \"https://api.applicationinsights.io/v1/apps/DEMO_APP/events/perf[...]
