{
  "Entries": [
    {
      "RequestUri": "/v1/apps/DEMO_APP/events/browserTimings?timespan=P1D&$top=1",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-api-key": [
          "DEMO_KEY"
        ],
        "prefer": [
          "response-v1=true"
        ],
        "x-ms-app": [
          "csharpsdk"
        ]
      },
      "ResponseHeaders": {
        "OData-Version": [
          "4.0;"
        ],
        "Content-Type": [
          "application/json; charset=utf-8; ieee754compatible=false; odata.metadata=none; odata.streaming=false"
        ]
      },
      "ResponseBody": "{\r\n  \"@odata.context\": \"https://api.applicationinsights.io/v1/apps/DEMO_APP/events/$metadata#browserTimings\",\r\n  \"value\": [\r\n    {\r\n      \"id\": \"d785da71-be68-11e8-b519-694305c1af56\",\r\n      \"count\": 1,\r\n      \"type\": \"browserTiming\",\r\n      \"timestamp\": \"2018-09-22T13:10:13.346Z\",\r\n      \"customDimensions\": null,\r\n      \"customMeasurements\": null,\r\n      \"operation\": {\r\n        \"name\": \"/FabrikamProd/Reports\",\r\n        \"id\": \"2BowX\",\r\n        \"parentId\": \"2BowX\",\r\n        \"syntheticSource\": \"\"\r\n      },\r\n      \"session\": {\r\n        \"id\": \"jo8hI\"\r\n      },\r\n      \"user\": {\r\n        \"id\": \"/oZ02\",\r\n        \"accountId\": \"\",\r\n        \"authenticatedId\": \"\"\r\n      },\r\n      \"cloud\": {\r\n        \"roleName\": \"\",\r\n        \"roleInstance\": \"\"\r\n      },\r\n      \"ai\": {\r\n        \"iKey\": \"5a2e4e0c-e136-4a15-9824-90ba859b0a89\",\r\n        \"appName\": \"fabrikamprod\",\r\n        \"appId\": \"cf58dcfd-0683-487c-bc84-048789bca8e5\",\r\n        \"sdkVersion\": \"javascript:1.0.20\"\r\n      },\r\n      \"browserTiming\": {\r\n        \"name\": \"Index\",\r\n        \"url\": \"http://aiconnect2.cloudapp.net/FabrikamProd/Reports\",\r\n        \"totalDuration\": 649,\r\n        \"performanceBucket\": \"500ms-1sec\",\r\n        \"networkDuration\": 19,\r\n        \"sendDuration\": 130,\r\n        \"receiveDuration\": 18,\r\n        \"processingDuration\": 475\r\n      },\r\n      \"application\": {\r\n        \"version\": \"\"\r\n      },\r\n      \"client\": {\r\n        \"model\": \"Other\",\r\n        \"os\": \"Windows 10\",\r\n        \"type\": \"Browser\",\r\n        \"browser\": \"Chrome 69.0\",\r\n        \"ip\": \"0.0.0.0\",\r\n        \"city\": \"Liverpool\",\r\n        \"stateOrProvince\": \"Liverpool\",\r\n        \"countryOrRegion\": \"United Kingdom\"\r\n      }\r\n    }\r\n  ]\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/v1/apps/DEMO_APP/events/browserTimings/d785da71-be68-11e8-b519-694305c1af56?timespan=P1D",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-api-key": [
          "DEMO_KEY"
        ],
        "prefer": [
          "response-v1=true"
        ],
        "x-ms-app": [
          "csharpsdk"
        ]
      },
      "ResponseHeaders": {
        "OData-Version": [
          "4.0;"
        ],
        "Content-Type": [
          "app[...]
