{
  "Entries": [
    {
      "RequestUri": "/v1/apps/DEMO_APP/events/dependencies?timespan=PT12H&$top=10",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-api-key": [
          "DEMO_KEY"
        ],
        "prefer": [
          "response-v1=true"
        ],
        "x-ms-app": [
          "csharpsdk"
        ]
      },
      "ResponseBody": "{\r\n  \"@odata.context\": \"https://api.applicationinsights.io/v1/apps/DEMO_APP/events/$metadata#dependencies\",\r\n  \"value\": [\r\n    {\r\n      \"id\": \"b222f45e-fbbf-11e7-82bd-4130a1c80119\",\r\n      \"type\": \"dependency\",\r\n      \"count\": 1,\r\n      \"timestamp\": \"2018-01-17T19:50:13.449Z\",\r\n      \"customDimensions\": {\r\n        \"_MS.ProcessedByMetricExtractors\": \"(Name:'Dependencies', Ver:'1.0')\"\r\n      },\r\n      \"customMeasurements\": null,\r\n      \"operation\": {\r\n        \"name\": \"GET Customers/Details\",\r\n        \"id\": \"rhP6IjNSN5o=\",\r\n        \"parentId\": \"|rhP6IjNSN5o=.1eb694b5_\",\r\n        \"syntheticSource\": \"Application Insights Availability Monitoring\"\r\n      },\r\n      \"session\": {\r\n        \"id\": \"65a9a6b5-b639-4892-a0c2-73fce037782b\"\r\n      },\r\n      \"user\": {\r\n        \"id\": \"us-fl-mia-edge_65a9a6b5-b639-4892-a0c2-73fce037782b\",\r\n        \"accountId\": null,\r\n        \"authenticatedId\": null\r\n      },\r\n      \"cloud\": {\r\n        \"roleName\": \"fabrikamfiberapp\",\r\n        \"roleInstance\": \"RD00155D467E8D\"\r\n      },\r\n      \"ai\": {\r\n        \"iKey\": \"5a2e4e0c-e136-4a15-9824-90ba859b0a89\",\r\n        \"appName\": \"fabrikamprod\",\r\n        \"appId\": \"cf58dcfd-0683-487c-bc84-048789bca8e5\",\r\n        \"sdkVersion\": \"rddp:2.5.0-33031\"\r\n      },\r\n      \"dependency\": {\r\n        \"target\": \"fabrikamaccount.table.core.windows.net\",\r\n        \"data\": \"https://fabrikamaccount.table.core.windows.net:443/fabrikamfiber(PartitionKey='Taylor',RowKey='Dan')\",\r\n        \"success\": \"True\",\r\n        \"duration\": 48,\r\n        \"performanceBucket\": \"<250ms\",\r\n        \"resultCode\": \"200\",\r\n        \"type\": \"Azure table\",\r\n        \"name\": \"GET fabrikamaccount/fabrikamfiber\",\r\n        \"id\": \"|rhP6IjNSN5o=.1eb694b5_5.\"\r\n      },\r\n      \"application\": {\r\n        \"version\": \"AutoGen_49c3aea0-4641-4675-93b5-55f7a62d22d3\"\r\n      },\r\n      \"client\": {\r\n        \"model\": null,\r\n        \"os\": null,\r\n        \"type\": \"PC\",\r\n        \"browser\": null,\r\n        \"ip\": \"52.173.244.0\",\r\n        \"city\": \"Des Moines\",\r\n        \"stateOrProvince\": \"Iowa\",\r\n        \"countryOrRegion\": \"United States\"\r\n      }\r\n    },\r\n    {\r\n      \"id\": \"b222f45d-fbbf-11e7-82bd-4130a1c80119\",\r\n      \"type\": \"dependency\",\r\n      \"count\": 1,\r\n      \"timestamp\": \"2018-01-17T19:50:13.293Z\",\r\n      \"customDimensions\": {\r\n        \"_MS.ProcessedByMetricExtractors\": \"(Name:'Dependencies', Ver:'1.0')\"\r\n      },\r\n      \"customMeasurements\": null,\r\n      \"operation\": {\r\n        \"name\": \"GET Customers/Details\",\r\n        \"id\": \"rhP6IjNSN5o=\",\[...]
    {
      "RequestUri": "/v1/apps/DEMO_APP/events/dependencies/b222f45e-fbbf-11e7-82bd-4130a1c80119?timespan=PT12H",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-api-key": [
          "DEMO_KEY"
        ],
        "prefer": [
          "response-v1=true"
        ],
        "x-ms-app": [
          "csharpsdk"
        ]
      },
      "ResponseBody": "{\r\n  \"@odata.context\": \"https://api.applicationinsights.io/v1/apps/DEMO_APP/events/dependencie[...]
