{
  "Entries": [
    {
      "RequestUri": "/v1/apps/DEMO_APP/events/performanceCounters?timespan=P1D&$top=1",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-api-key": [
          "DEMO_KEY"
        ],
        "prefer": [
          "response-v1=true"
        ],
        "x-ms-app": [
          "csharpsdk"
        ]
      },
      "ResponseHeaders": {
        "OData-Version": [
          "4.0;"
        ],
        "Content-Type": [
          "application/json; charset=utf-8; ieee754compatible=false; odata.metadata=none; odata.streaming=false"
        ]
      },
      "ResponseBody": "{\r\n  \"@odata.context\": \"https://api.applicationinsights.io/v1/apps/DEMO_APP/events/$metadata#performanceCounters\",\r\n  \"value\": [\r\n    {\r\n      \"id\": \"cde0be94-bee0-11e8-aac0-a3e0aaf1cf0e\",\r\n      \"type\": \"performanceCounter\",\r\n      \"timestamp\": \"2018-09-23T03:28:47.027Z\",\r\n      \"performanceCounter\": {\r\n        \"value\": 0.312322351046725,\r\n        \"name\": \"% Processor Time\",\r\n        \"category\": \"Process\",\r\n        \"counter\": \"% Processor Time\",\r\n        \"instance\": \"??APP_WIN32_PROC??\"\r\n      },\r\n      \"customDimensions\": null,\r\n      \"operation\": {\r\n        \"name\": \"\",\r\n        \"id\": \"lMcrkKAhNIA=\",\r\n        \"parentId\": \"|lMcrkKAhNIA=.84dbf9e8_\",\r\n        \"syntheticSource\": \"\"\r\n      },\r\n      \"session\": {\r\n        \"id\": \"\"\r\n      },\r\n      \"user\": {\r\n        \"id\": \"\",\r\n        \"accountId\": \"\",\r\n        \"authenticatedId\": \"\"\r\n      },\r\n      \"cloud\": {\r\n        \"roleName\": \"fabrikamfiberapp\",\r\n        \"roleInstance\": \"RD00155D467AF0\"\r\n      },\r\n      \"ai\": {\r\n        \"iKey\": \"5a2e4e0c-e136-4a15-9824-90ba859b0a89\",\r\n        \"appName\": \"fabrikamprod\",\r\n        \"appId\": \"cf58dcfd-0683-487c-bc84-048789bca8e5\",\r\n        \"sdkVersion\": \"azwapc:2.7.0-10498\"\r\n      },\r\n      \"application\": {\r\n        \"version\": \"AutoGen_49c3aea0-4641-4675-93b5-55f7a62d22d3\"\r\n      },\r\n      \"client\": {\r\n        \"model\": \"\",\r\n        \"os\": \"\",\r\n        \"type\": \"PC\",\r\n        \"browser\": \"\",\r\n        \"ip\": \"0.0.0.0\",\r\n        \"city\": \"San Jose\",\r\n        \"stateOrProvince\": \"California\",\r\n        \"countryOrRegion\": \"United States\"\r\n      }\r\n    }\r\n  ]\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/v1/apps/DEMO_APP/events/performanceCounters/cde0be94-bee0-11e8-aac0-a3e0aaf1cf0e?timespan=P1D",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-api-key": [
          "DEMO_KEY"
        ],
        "prefer": [
          "response-v1=true"
        ],
        "x-ms-app": [
          "csharpsdk"
        ]
      },
      "ResponseHeaders": {
        "OData-Version": [
          "4.0;"
        ],
        "Content-Type": [
         [...]
