{
  "Entries": [
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-filesystem-177d15b7-3f78-0770-161a-5b0852bf7293?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 09 Nov 2021 22:14:40 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9A3CE538DC016\u0022",
        "Last-Modified": "Tue, 09 Nov 2021 22:14:41 GMT",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.dfs.core.windows.net/test-filesystem-177d15b7-3f78-0770-161a-5b0852bf7293/test-blob-01363ada-3d04-a266-4716-5d158641ea05?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 09 Nov 2021 22:14:41 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9A3CE5396FE7F\u0022",
        "Last-Modified": "Tue, 09 Nov 2021 22:14:41 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.dfs.core.windows.net/test-filesystem-177d15b7-3f78-0770-161a-5b0852bf7293/test-blob-01363ada-3d04-a266-4716-5d158641ea05?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 09 Nov 2021 22:14:41 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": "pfckFnlT6csw5mjKKp7wKpLWsC5JxtyEhg40T7Fu3J3KUiwfyHEMBDqpe9AhbA6X1RDl5GG1eN4an49qH5oawgnLANhy0GEgyqzzoEoLYxn/nHmgiPc8FdlNBCnhoeWgj7nGVWw2JQSuxRq0wdiTDzt2a4IgeTkSjuv\u002BJMw4PinHUxCQRA2tyXd18sLch1QBuvXtazVifxaAtMeBNwA4dYfx7W3IAsotyaELq4Z3NQeX/WrWS9LzZdT5EI9GLJJ2PHw765rmOLcqv6KUVtSPCH/A6TmWYSq0/oiZzvI655wPlG4KO0lssMSzq4swXg7/aQcQhkJY4NtShu0STWrE8NgF[...]
    {
      "RequestUri": "http://seanmcccanary3.dfs.core.windows.net/test-filesystem-177d15b7-3f78-0770-161a-5b0852bf7293/test-blob-01363ada-3d04-a266-4716-5d158641ea05?action=flush\u0026position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8D9A3CE5396FE7F\u0022",
        "x-ms-date": "Tue, 09 Nov 2021 22:14:41 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9A3CE53B0762C\u0022",
        "Last-Modified": "Tue, 09 Nov 2021 22:14:41 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-filesystem-177d15b7-3f78-0770-161a-5b0852bf7293/test-blob-01363ada-3d04-a266-4716-5d158641ea05",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 09 Nov 2021 22:14:41 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D9A3CE53B0762C\u0022",
        "Last-Modified": "Tue, 09 Nov 2021 22:14:41 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 09 Nov 2021 22:14:41 GMT",
        "x-ms-last-access-time": "Tue, 09 Nov 2021 22:14:41 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-filesystem-177d15b7-3f78-0770-161a-5b0852bf7293/test-blob-01363ada-3d04-a266-4716-5d158641ea05",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8D9A3CE53B0762C\u0022",
        "x-ms-date": "Tue, 09 Nov 2021 22:14:41 GMT",
        "x-ms-range": "bytes=0-127",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-127/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D9A3CE53B0762C\u0022",
        "Last-Modified": "Tue, 09 Nov 2021 22:14:41 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 09 Nov 2021 22:14:41 GMT",
        "x-ms-last-access-time": "Tue, 09 Nov 2021 22:14:41 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": "pfckFnlT6csw5mjKKp7wKpLWsC5JxtyEhg40T7Fu3J3KUiwfyHEMBDqpe9AhbA6X1RDl5GG1eN4an49qH5oawgnLANhy0GEgyqzzoEoLYxn/nHmgiPc8FdlNBCnhoeWgj7nGVWw2JQSuxRq0wdiTDzt2a4IgeTkSjuv\u002BJMw4Pik="
    },
[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-filesystem-177d15b7-3f78-0770-161a-5b0852bf7293?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 09 Nov 2021 22:14:41 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "697511391",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttp://seanmcccanary3.blob.core.windows.net\nhttp://seanmcccanary3.file.core.windows.net\nhttp://seanmcccanary3.queue.core.windows.net\nhttp://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttp://seanmcccanary3-secondary.blob.core.windows.net\nhttp://seanmcccanary3-secondary.file.core.windows.net\nhttp://seanmcccanary3-secondary.queue.core.windows.net\nhttp://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=http://seanmcccanary3.queue.core.windows.net/;FileEndpoint=http://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=http://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Sanitized\n\n\n"
  }
}