{
  "Entries": [
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-filesystem-6e054cfd-04cf-02e1-5d7f-a8242a76c612?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 09 Nov 2021 22:12:46 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9A3CE0F44C10B\u0022",
        "Last-Modified": "Tue, 09 Nov 2021 22:12:46 GMT",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.dfs.core.windows.net/test-filesystem-6e054cfd-04cf-02e1-5d7f-a8242a76c612/test-blob-447fa0ae-f0dc-ff4d-4c8a-1eb386e58327?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 09 Nov 2021 22:12:46 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9A3CE0F4F05B2\u0022",
        "Last-Modified": "Tue, 09 Nov 2021 22:12:46 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.dfs.core.windows.net/test-filesystem-6e054cfd-04cf-02e1-5d7f-a8242a76c612/test-blob-447fa0ae-f0dc-ff4d-4c8a-1eb386e58327?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 09 Nov 2021 22:12:46 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": "cYtcuxMBcGzZYf1mj5GVDi12zO5RTkwLCzIh1n9ZyFQvYt7h8pYeV8q4nmTqJ8qOWQPrZE9KwSM/ULDg35rtf5moNy2zsxyWV3UjmK/nIeNokn18bmMF5KC7oqHmPXgwyx/KQfCd26XmVQzaJilzVy7MeEwccRE2o1KM\u002BBB6rxn9882QHN/zyrfYlRlWK752R0pyGsUrFFoNlJ6eEOOUa6Xy3DNc4ztO2a2URNv433eTFbDGCJVU0d5ygohBVLrTQypzZE6LGmMPI0EXls9/FbQmCvoyzmMQnQtU6WGyDYTzwQGxhHsoCPtNtuRUPToO82zTGkq/oHTGY8ZDNjECXBa8[...]
    {
      "RequestUri": "http://seanmcccanary3.dfs.core.windows.net/test-filesystem-6e054cfd-04cf-02e1-5d7f-a8242a76c612/test-blob-447fa0ae-f0dc-ff4d-4c8a-1eb386e58327?action=flush\u0026position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8D9A3CE0F4F05B2\u0022",
        "x-ms-date": "Tue, 09 Nov 2021 22:12:46 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9A3CE0F68566A\u0022",
        "Last-Modified": "Tue, 09 Nov 2021 22:12:46 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-filesystem-6e054cfd-04cf-02e1-5d7f-a8242a76c612/test-blob-447fa0ae-f0dc-ff4d-4c8a-1eb386e58327",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 09 Nov 2021 22:12:46 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D9A3CE0F68566A\u0022",
        "Last-Modified": "Tue, 09 Nov 2021 22:12:46 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 09 Nov 2021 22:12:46 GMT",
        "x-ms-last-access-time": "Tue, 09 Nov 2021 22:12:46 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-filesystem-6e054cfd-04cf-02e1-5d7f-a8242a76c612/test-blob-447fa0ae-f0dc-ff4d-4c8a-1eb386e58327",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8D9A3CE0F68566A\u0022",
        "x-ms-date": "Tue, 09 Nov 2021 22:12:46 GMT",
        "x-ms-range": "bytes=0-511",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-511/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D9A3CE0F68566A\u0022",
        "Last-Modified": "Tue, 09 Nov 2021 22:12:46 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 09 Nov 2021 22:12:46 GMT",
        "x-ms-last-access-time": "Tue, 09 Nov 2021 22:12:46 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": "cYtcuxMBcGzZYf1mj5GVDi12zO5RTkwLCzIh1n9ZyFQvYt7h8pYeV8q4nmTqJ8qOWQPrZE9KwSM/ULDg35rtf5moNy2zsxyWV3UjmK/nIeNokn18bmMF5KC7oqHmPXgwyx/KQfCd26XmVQzaJilzVy7MeEwccRE2o1KM\u002BBB6rxn9882QHN/zyrfYlRlWK752R0pyGsUrFFoNlJ6eEOOUa6Xy3DNc4ztO2a2URNv433eTFbDGCJVU0d5ygohBVLrTQypzZE6LGmMPI0EXls9/FbQmCvoyzmMQnQtU6WGyDYTzwQGxhHsoCPtNtuRUPToO82zTGkq/oHTGY8ZDNjECXBa8I9XOzZE5/QH/5Rh/u2DQRfb03/I5NCCM6iC15dHKSlnNlxllQCXbmhxIv7pcR6hlcvE6Dn0jg\u002B\u002B0QeNxgxgwNZu\u002BsSRGawXQGUXV8XRlMKN4T3PgjzzcqRQqsP5CaRYEGIofnZaDHgbravQ4TpJ7ThFA\u002BTOlT6Ze4gcPHLsGja8v0djpRpMN9DFs9CRHpFuCr2HtAnDiX8njwbqOdAJL5dxFCX25kQh9MwQCOFqCFz6rjW1ZGYs\u002BTHEPBoXYfoAuIQ9HAZveyB1Yb89s3yZuYap84\u002BeV8ctRB7wLqouDpbSE1BdLOhWjzMRPAam80mxKoKTaXJuYmS9D9vre0x4="
    },
[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-filesystem-6e054cfd-04cf-02e1-5d7f-a8242a76c612/test-blob-447fa0ae-f0dc-ff4d-4c8a-1eb386e58327",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8D9A3CE0F68566A\u0022",
        "x-ms-date": "Tue, 09 Nov 2021 22:12:47 GMT",
        "x-ms-range": "bytes=512-1023",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003EConditionNotMet\u003C/Code\u003E\u003CMessage\u003EThe condition specified using HTTP conditional header(s) is not met.\n",
        "RequestId:db63bbe2-a01e-0002-27b6-d5647a000000\n",
        "Time:2021-11-09T22:12:47.1516329Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-filesystem-6e054cfd-04cf-02e1-5d7f-a8242a76c612?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 09 Nov 2021 22:12:47 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "2010202538",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttp://seanmcccanary3.blob.core.windows.net\nhttp://seanmcccanary3.file.core.windows.net\nhttp://seanmcccanary3.queue.core.windows.net\nhttp://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttp://seanmcccanary3-secondary.blob.core.windows.net\nhttp://seanmcccanary3-secondary.file.core.windows.net\nhttp://seanmcccanary3-secondary.queue.core.windows.net\nhttp://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=http://seanmcccanary3.queue.core.windows.net/;FileEndpoint=http://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=http://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Sanitized\n\n\n"
  }
}