{
  "Entries": [
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-filesystem-ad1a5fec-bac5-46bc-cc82-f68d3ba968ad?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 09 Nov 2021 22:14:30 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9A3CE4D500049\u0022",
        "Last-Modified": "Tue, 09 Nov 2021 22:14:30 GMT",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.dfs.core.windows.net/test-filesystem-ad1a5fec-bac5-46bc-cc82-f68d3ba968ad/test-blob-c76696c6-48e8-5ff0-99ec-06661d43c742?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 09 Nov 2021 22:14:30 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9A3CE4D598BB6\u0022",
        "Last-Modified": "Tue, 09 Nov 2021 22:14:30 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.dfs.core.windows.net/test-filesystem-ad1a5fec-bac5-46bc-cc82-f68d3ba968ad/test-blob-c76696c6-48e8-5ff0-99ec-06661d43c742?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 09 Nov 2021 22:14:30 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": "urMMqjY17bF\u002BjAKaJsuGbcj7AaQH82EmvBOZD13R5ZGKPDYLUw/EVqjw9r8fwhn6A29HrBj8UMdR5u4jm95UrKZxEOmUexq4N6v8Fv2iBvn5nwvtijl4juxvumwhobvJnEkYrrIwZYhVjnVs/znJrt/1KfvTZiJt\u002BIL8JcCtl5bvMnq0ilhHyTqCmPvDDI6ypQuNK3e/9jUnqrUvM0DHp/fffc2/FSSHrmDAUM0mqez0Sn\u002B1IGseMDtEjN\u002BiF5X6uvAE5I/A8pDmBX0X/qZnAADJO\u002BjAEoeLwEyRe4hE5JbKxpXdIsVdM1fvzhrtBjGV3Izf[...]
    {
      "RequestUri": "http://seanmcccanary3.dfs.core.windows.net/test-filesystem-ad1a5fec-bac5-46bc-cc82-f68d3ba968ad/test-blob-c76696c6-48e8-5ff0-99ec-06661d43c742?action=flush\u0026position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8D9A3CE4D598BB6\u0022",
        "x-ms-date": "Tue, 09 Nov 2021 22:14:30 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9A3CE4D776F98\u0022",
        "Last-Modified": "Tue, 09 Nov 2021 22:14:30 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-filesystem-ad1a5fec-bac5-46bc-cc82-f68d3ba968ad/test-blob-c76696c6-48e8-5ff0-99ec-06661d43c742",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 09 Nov 2021 22:14:30 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D9A3CE4D776F98\u0022",
        "Last-Modified": "Tue, 09 Nov 2021 22:14:30 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 09 Nov 2021 22:14:30 GMT",
        "x-ms-last-access-time": "Tue, 09 Nov 2021 22:14:30 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-filesystem-ad1a5fec-bac5-46bc-cc82-f68d3ba968ad/test-blob-c76696c6-48e8-5ff0-99ec-06661d43c742",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8D9A3CE4D776F98\u0022",
        "x-ms-date": "Tue, 09 Nov 2021 22:14:30 GMT",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D9A3CE4D776F98\u0022",
        "Last-Modified": "Tue, 09 Nov 2021 22:14:30 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 09 Nov 2021 22:14:30 GMT",
        "x-ms-last-access-time": "Tue, 09 Nov 2021 22:14:30 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "202[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-filesystem-ad1a5fec-bac5-46bc-cc82-f68d3ba968ad?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 09 Nov 2021 22:14:30 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1278651059",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttp://seanmcccanary3.blob.core.windows.net\nhttp://seanmcccanary3.file.core.windows.net\nhttp://seanmcccanary3.queue.core.windows.net\nhttp://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttp://seanmcccanary3-secondary.blob.core.windows.net\nhttp://seanmcccanary3-secondary.file.core.windows.net\nhttp://seanmcccanary3-secondary.queue.core.windows.net\nhttp://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=http://seanmcccanary3.queue.core.windows.net/;FileEndpoint=http://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=http://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Sanitized\n\n\n"
  }
}