{
  "Entries": [
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-filesystem-bb292770-37b0-746e-b62b-dad51e7d498b?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 09 Nov 2021 22:14:14 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9A3CE43C65031\u0022",
        "Last-Modified": "Tue, 09 Nov 2021 22:14:14 GMT",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.dfs.core.windows.net/test-filesystem-bb292770-37b0-746e-b62b-dad51e7d498b/test-blob-56027715-7b26-0cbc-40f9-1221962ccc0e?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 09 Nov 2021 22:14:14 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9A3CE43D09D4E\u0022",
        "Last-Modified": "Tue, 09 Nov 2021 22:14:14 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.dfs.core.windows.net/test-filesystem-bb292770-37b0-746e-b62b-dad51e7d498b/test-blob-56027715-7b26-0cbc-40f9-1221962ccc0e?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 09 Nov 2021 22:14:14 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": "0qyYTDAPGwKalnQqO4LqA8LNsUhISRcMpRpn1IUuZIdWURndGhzcFLozZd3IOhPig\u002BabYA3mYYmUjKcVp0Z8bDLt1OppDeim8ZyOFOQ5Q2oHhVGfkgN6b\u002B\u002BQSI50xm1ztvmq22UpeXb99W9wWE2lW0g9DiH13dkuc2T62MRZMSsvGl3rj2gF3QzboZyUCRei6u1GN7dLftgfe2cAL6Cxo8REQD3vusvfODAVGjs9mmlMV\u002B7XEvlz5JuEyxMABK5rKf3YUMjaszAhZ/\u002BHNWSd4uH\u002Bs9ey2pDK0Fyiau643jOBqfA\u002BZUmhcqS9ta[...]
    {
      "RequestUri": "http://seanmcccanary3.dfs.core.windows.net/test-filesystem-bb292770-37b0-746e-b62b-dad51e7d498b/test-blob-56027715-7b26-0cbc-40f9-1221962ccc0e?action=flush\u0026position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8D9A3CE43D09D4E\u0022",
        "x-ms-date": "Tue, 09 Nov 2021 22:14:14 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9A3CE43ECD3CD\u0022",
        "Last-Modified": "Tue, 09 Nov 2021 22:14:14 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-filesystem-bb292770-37b0-746e-b62b-dad51e7d498b/test-blob-56027715-7b26-0cbc-40f9-1221962ccc0e",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 09 Nov 2021 22:14:14 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D9A3CE43ECD3CD\u0022",
        "Last-Modified": "Tue, 09 Nov 2021 22:14:14 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 09 Nov 2021 22:14:14 GMT",
        "x-ms-last-access-time": "Tue, 09 Nov 2021 22:14:14 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-filesystem-bb292770-37b0-746e-b62b-dad51e7d498b/test-blob-56027715-7b26-0cbc-40f9-1221962ccc0e",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8D9A3CE43ECD3CD\u0022",
        "x-ms-date": "Tue, 09 Nov 2021 22:14:14 GMT",
        "x-ms-range": "bytes=0-127",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-127/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D9A3CE43ECD3CD\u0022",
        "Last-Modified": "Tue, 09 Nov 2021 22:14:14 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 09 Nov 2021 22:14:14 GMT",
        "x-ms-last-access-time": "Tue, 09 Nov 2021 22:14:14 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": "0qyYTDAPGwKalnQqO4LqA8LNsUhISRcMpRpn1IUuZIdWURndGhzcFLozZd3IOhPig\u002BabYA3mYYmUjKcVp0Z8bDLt1OppDeim8ZyOFOQ5Q2oHhVGfkgN6b\u002B\u002BQSI50xm1ztvmq22UpeXb99W9wWE2lW0g9DiH13dkuc2T62MRZMSs="
    },
[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-filesystem-bb292770-37b0-746e-b62b-dad51e7d498b?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 09 Nov 2021 22:14:15 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1630477714",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttp://seanmcccanary3.blob.core.windows.net\nhttp://seanmcccanary3.file.core.windows.net\nhttp://seanmcccanary3.queue.core.windows.net\nhttp://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttp://seanmcccanary3-secondary.blob.core.windows.net\nhttp://seanmcccanary3-secondary.file.core.windows.net\nhttp://seanmcccanary3-secondary.queue.core.windows.net\nhttp://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=http://seanmcccanary3.queue.core.windows.net/;FileEndpoint=http://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=http://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Sanitized\n\n\n"
  }
}