{
  "Entries": [
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-filesystem-e1d81472-3aa2-0858-329d-9f6f9f6072f9?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 09 Nov 2021 22:13:34 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9A3CE2BEF8ADF\u0022",
        "Last-Modified": "Tue, 09 Nov 2021 22:13:34 GMT",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.dfs.core.windows.net/test-filesystem-e1d81472-3aa2-0858-329d-9f6f9f6072f9/test-blob-5a43c510-7356-3edd-756e-37647be09a16?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 09 Nov 2021 22:13:34 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9A3CE2BF98617\u0022",
        "Last-Modified": "Tue, 09 Nov 2021 22:13:34 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.dfs.core.windows.net/test-filesystem-e1d81472-3aa2-0858-329d-9f6f9f6072f9/test-blob-5a43c510-7356-3edd-756e-37647be09a16?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 09 Nov 2021 22:13:34 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": "Po8Vfa2cvZIoatrMnccA8oyQQEXLnkx8a1eV1es2hpgCNlF4K5RhkpwCq0EwYBqKxwIoVi2NmqBCmBFWBuen8eRCymZ1iMb4L66oyfMKSws8Cw7pDi9qdZyxNZKCCou1Wrld7pW0FD87MCZ/5dGtN0wGGfvZveO111XJxFIzdSUj8246rV11iPfPrd0I64/LBP5FfPCQ253VqBZA6lDsB7sBW/Fic4nvkJAECg8GrOvF/sBU7fk0khfRZAVHNZ6m4qYiB4\u002BdaZF0VutgjNGNzvwqe\u002BuPmBnBzMnakA6Ep1vyXSdp5KRcJ5Uv35YN1AZGRJYJHLqzF0qMYDrGw9i[...]
    {
      "RequestUri": "http://seanmcccanary3.dfs.core.windows.net/test-filesystem-e1d81472-3aa2-0858-329d-9f6f9f6072f9/test-blob-5a43c510-7356-3edd-756e-37647be09a16?action=flush\u0026position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8D9A3CE2BF98617\u0022",
        "x-ms-date": "Tue, 09 Nov 2021 22:13:34 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9A3CE2C12D6C4\u0022",
        "Last-Modified": "Tue, 09 Nov 2021 22:13:34 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-filesystem-e1d81472-3aa2-0858-329d-9f6f9f6072f9/test-blob-5a43c510-7356-3edd-756e-37647be09a16",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 09 Nov 2021 22:13:34 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D9A3CE2C12D6C4\u0022",
        "Last-Modified": "Tue, 09 Nov 2021 22:13:34 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 09 Nov 2021 22:13:34 GMT",
        "x-ms-last-access-time": "Tue, 09 Nov 2021 22:13:34 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-filesystem-e1d81472-3aa2-0858-329d-9f6f9f6072f9/test-blob-5a43c510-7356-3edd-756e-37647be09a16",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8D9A3CE2C12D6C4\u0022",
        "x-ms-date": "Tue, 09 Nov 2021 22:13:34 GMT",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D9A3CE2C12D6C4\u0022",
        "Last-Modified": "Tue, 09 Nov 2021 22:13:34 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 09 Nov 2021 22:13:34 GMT",
        "x-ms-last-access-time": "Tue, 09 Nov 2021 22:13:34 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "202[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-filesystem-e1d81472-3aa2-0858-329d-9f6f9f6072f9?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 09 Nov 2021 22:13:34 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "886938427",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttp://seanmcccanary3.blob.core.windows.net\nhttp://seanmcccanary3.file.core.windows.net\nhttp://seanmcccanary3.queue.core.windows.net\nhttp://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttp://seanmcccanary3-secondary.blob.core.windows.net\nhttp://seanmcccanary3-secondary.file.core.windows.net\nhttp://seanmcccanary3-secondary.queue.core.windows.net\nhttp://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=http://seanmcccanary3.queue.core.windows.net/;FileEndpoint=http://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=http://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Sanitized\n\n\n"
  }
}