{
  "Entries": [
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-filesystem-57838f6d-da04-9651-684d-6f3731b4fe8a?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 09 Nov 2021 22:14:41 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9A3CE5417755A\u0022",
        "Last-Modified": "Tue, 09 Nov 2021 22:14:41 GMT",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.dfs.core.windows.net/test-filesystem-57838f6d-da04-9651-684d-6f3731b4fe8a/test-blob-6b9a408b-77bc-c46b-3890-beb823a8156d?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 09 Nov 2021 22:14:41 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9A3CE54226139\u0022",
        "Last-Modified": "Tue, 09 Nov 2021 22:14:41 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.dfs.core.windows.net/test-filesystem-57838f6d-da04-9651-684d-6f3731b4fe8a/test-blob-6b9a408b-77bc-c46b-3890-beb823a8156d?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 09 Nov 2021 22:14:42 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": "xFL6O7WsR4DLuA74cWs61PDZhGGDYa5TbG\u002BGQ4iBs7PYjiEJmCDgBoiw0SNMah/MvI9RPQ/TV2Okp89GJQT3SgVbIOJKMDzP\u002BH7Y0o\u002BLBgFPuob5L3WjBDe\u002BZfFRmuGDuYYd8Uo9gYtTgUWR\u002BoXTGaDN9mt9/hqQtxurjMtKfl6dVRgIbRW3Ejj7pa0wEgqx6ktQg6R1BbtsjTkvkvTACAPm9KVtyquLFuMyglhsX6QR\u002BaJ/\u002Bvq6J09dnODbiH9DOpyqSR5kRCCfxW3AQ4Ni/y2VHZhSQA4ILMxWDy3Lr45k70i7whaGrLWC4D[...]
    {
      "RequestUri": "http://seanmcccanary3.dfs.core.windows.net/test-filesystem-57838f6d-da04-9651-684d-6f3731b4fe8a/test-blob-6b9a408b-77bc-c46b-3890-beb823a8156d?action=flush\u0026position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8D9A3CE54226139\u0022",
        "x-ms-date": "Tue, 09 Nov 2021 22:14:42 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9A3CE543BB1EC\u0022",
        "Last-Modified": "Tue, 09 Nov 2021 22:14:42 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-filesystem-57838f6d-da04-9651-684d-6f3731b4fe8a/test-blob-6b9a408b-77bc-c46b-3890-beb823a8156d",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 09 Nov 2021 22:14:42 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D9A3CE543BB1EC\u0022",
        "Last-Modified": "Tue, 09 Nov 2021 22:14:42 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 09 Nov 2021 22:14:41 GMT",
        "x-ms-last-access-time": "Tue, 09 Nov 2021 22:14:42 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-filesystem-57838f6d-da04-9651-684d-6f3731b4fe8a/test-blob-6b9a408b-77bc-c46b-3890-beb823a8156d",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8D9A3CE543BB1EC\u0022",
        "x-ms-date": "Tue, 09 Nov 2021 22:14:42 GMT",
        "x-ms-range": "bytes=0-127",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-127/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D9A3CE543BB1EC\u0022",
        "Last-Modified": "Tue, 09 Nov 2021 22:14:42 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 09 Nov 2021 22:14:41 GMT",
        "x-ms-last-access-time": "Tue, 09 Nov 2021 22:14:42 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": "xFL6O7WsR4DLuA74cWs61PDZhGGDYa5TbG\u002BGQ4iBs7PYjiEJmCDgBoiw0SNMah/MvI9RPQ/TV2Okp89GJQT3SgVbIOJKMDzP\u002BH7Y0o\u002BLBgFPuob5L3WjBDe\u002BZfFRmuGDuYYd8Uo9gYtTgUWR\u002BoXTGaDN9mt9/hqQtxurjMtKfl4="
    },
[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-filesystem-57838f6d-da04-9651-684d-6f3731b4fe8a?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 09 Nov 2021 22:14:42 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "16040408",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttp://seanmcccanary3.blob.core.windows.net\nhttp://seanmcccanary3.file.core.windows.net\nhttp://seanmcccanary3.queue.core.windows.net\nhttp://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttp://seanmcccanary3-secondary.blob.core.windows.net\nhttp://seanmcccanary3-secondary.file.core.windows.net\nhttp://seanmcccanary3-secondary.queue.core.windows.net\nhttp://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=http://seanmcccanary3.queue.core.windows.net/;FileEndpoint=http://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=http://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Sanitized\n\n\n"
  }
}