{
  "Entries": [
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-filesystem-dbc5c3d6-80c1-d4b6-2e48-b9918d3d1a33?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 09 Nov 2021 22:13:24 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9A3CE25F22607\u0022",
        "Last-Modified": "Tue, 09 Nov 2021 22:13:24 GMT",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.dfs.core.windows.net/test-filesystem-dbc5c3d6-80c1-d4b6-2e48-b9918d3d1a33/test-blob-511881c7-aac1-81b2-a41a-680dff2e8304?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 09 Nov 2021 22:13:24 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9A3CE25FB0EFC\u0022",
        "Last-Modified": "Tue, 09 Nov 2021 22:13:24 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.dfs.core.windows.net/test-filesystem-dbc5c3d6-80c1-d4b6-2e48-b9918d3d1a33/test-blob-511881c7-aac1-81b2-a41a-680dff2e8304?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 09 Nov 2021 22:13:24 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": "9xZ7J0L5JQdW\u002BraNg63s3\u002BwedvWdy9cpTzSSZBGvubR7ORHR0jRYIHGY92EJnCZtX93Q8/nCJSs\u002BUtgOZ8D1p0ABEUmcGg23xVaEBNN2ILMNJQU03sa7uRPlk4BcSrmxo1AgB4vc0UTQGC2jPiFXyDIlAEG7wch6RVg2toeMW3uc0mCDVhgnMFTAY8WZGHryjstON0l39eKIpcIzphq9Q72xBmvA1HEZ/c/t\u002Bl0C4SzdQyi7PiQxJN1\u002B\u002BrBW9Io5AiAI5xIPMblZNDl6ivqFhsSVVWLyAQWYgOKOQtnBwwhFtPc8\u002BfoazRFuYg[...]
    {
      "RequestUri": "http://seanmcccanary3.dfs.core.windows.net/test-filesystem-dbc5c3d6-80c1-d4b6-2e48-b9918d3d1a33/test-blob-511881c7-aac1-81b2-a41a-680dff2e8304?action=flush\u0026position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8D9A3CE25FB0EFC\u0022",
        "x-ms-date": "Tue, 09 Nov 2021 22:13:24 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9A3CE26145FAA\u0022",
        "Last-Modified": "Tue, 09 Nov 2021 22:13:24 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-filesystem-dbc5c3d6-80c1-d4b6-2e48-b9918d3d1a33/test-blob-511881c7-aac1-81b2-a41a-680dff2e8304",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 09 Nov 2021 22:13:24 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D9A3CE26145FAA\u0022",
        "Last-Modified": "Tue, 09 Nov 2021 22:13:24 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 09 Nov 2021 22:13:24 GMT",
        "x-ms-last-access-time": "Tue, 09 Nov 2021 22:13:24 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-filesystem-dbc5c3d6-80c1-d4b6-2e48-b9918d3d1a33/test-blob-511881c7-aac1-81b2-a41a-680dff2e8304",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8D9A3CE26145FAA\u0022",
        "x-ms-date": "Tue, 09 Nov 2021 22:13:24 GMT",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D9A3CE26145FAA\u0022",
        "Last-Modified": "Tue, 09 Nov 2021 22:13:24 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 09 Nov 2021 22:13:24 GMT",
        "x-ms-last-access-time": "Tue, 09 Nov 2021 22:13:24 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "202[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-filesystem-dbc5c3d6-80c1-d4b6-2e48-b9918d3d1a33?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 09 Nov 2021 22:13:24 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "472756817",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttp://seanmcccanary3.blob.core.windows.net\nhttp://seanmcccanary3.file.core.windows.net\nhttp://seanmcccanary3.queue.core.windows.net\nhttp://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttp://seanmcccanary3-secondary.blob.core.windows.net\nhttp://seanmcccanary3-secondary.file.core.windows.net\nhttp://seanmcccanary3-secondary.queue.core.windows.net\nhttp://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=http://seanmcccanary3.queue.core.windows.net/;FileEndpoint=http://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=http://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Sanitized\n\n\n"
  }
}