{
  "Entries": [
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-filesystem-855e739c-86d6-f027-0d31-6052983bb1b2?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 09 Nov 2021 22:13:16 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9A3CE20F4F4AD\u0022",
        "Last-Modified": "Tue, 09 Nov 2021 22:13:16 GMT",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.dfs.core.windows.net/test-filesystem-855e739c-86d6-f027-0d31-6052983bb1b2/test-blob-ab33b293-5969-449f-0f09-f6d9ee6b7fb1?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 09 Nov 2021 22:13:16 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9A3CE20FE51E7\u0022",
        "Last-Modified": "Tue, 09 Nov 2021 22:13:16 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.dfs.core.windows.net/test-filesystem-855e739c-86d6-f027-0d31-6052983bb1b2/test-blob-ab33b293-5969-449f-0f09-f6d9ee6b7fb1?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 09 Nov 2021 22:13:16 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": "dO9k2TNJTDHJA6farnolugCruX3tsKJcf\u002B8uKh9PbdYzADfb7leBT88cNwwS4roReJFaQU5L6cRNCFlDGiESeZXRp65DScuoKWmu0XmVSZw1HbKN9SyI5xdzjuX9PjSuCb13QTsLzi7FsRjknRhKuL\u002B9Dv1uhIRpSL\u002BXz7vmq\u002Bs0AMe7HQhgKU\u002BDyEQTpEr/KNUmPy83P4U5Dfh8dP5z3gUtr51Qj5q3XeSu6rs/VaR0mKblv2u7/cBCghAP47VQEOk\u002B5vWtrpk6b\u002BJLiVXJ\u002BbdUB9xYjh\u002BacrHcDgyKp3kvXdrR[...]
    {
      "RequestUri": "http://seanmcccanary3.dfs.core.windows.net/test-filesystem-855e739c-86d6-f027-0d31-6052983bb1b2/test-blob-ab33b293-5969-449f-0f09-f6d9ee6b7fb1?action=flush\u0026position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8D9A3CE20FE51E7\u0022",
        "x-ms-date": "Tue, 09 Nov 2021 22:13:16 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9A3CE21175493\u0022",
        "Last-Modified": "Tue, 09 Nov 2021 22:13:16 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-filesystem-855e739c-86d6-f027-0d31-6052983bb1b2/test-blob-ab33b293-5969-449f-0f09-f6d9ee6b7fb1",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 09 Nov 2021 22:13:16 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D9A3CE21175493\u0022",
        "Last-Modified": "Tue, 09 Nov 2021 22:13:16 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 09 Nov 2021 22:13:16 GMT",
        "x-ms-last-access-time": "Tue, 09 Nov 2021 22:13:16 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-filesystem-855e739c-86d6-f027-0d31-6052983bb1b2/test-blob-ab33b293-5969-449f-0f09-f6d9ee6b7fb1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8D9A3CE21175493\u0022",
        "x-ms-date": "Tue, 09 Nov 2021 22:13:16 GMT",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D9A3CE21175493\u0022",
        "Last-Modified": "Tue, 09 Nov 2021 22:13:16 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 09 Nov 2021 22:13:16 GMT",
        "x-ms-last-access-time": "Tue, 09 Nov 2021 22:13:16 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "202[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-filesystem-855e739c-86d6-f027-0d31-6052983bb1b2?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 09 Nov 2021 22:13:16 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1142785317",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttp://seanmcccanary3.blob.core.windows.net\nhttp://seanmcccanary3.file.core.windows.net\nhttp://seanmcccanary3.queue.core.windows.net\nhttp://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttp://seanmcccanary3-secondary.blob.core.windows.net\nhttp://seanmcccanary3-secondary.file.core.windows.net\nhttp://seanmcccanary3-secondary.queue.core.windows.net\nhttp://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=http://seanmcccanary3.queue.core.windows.net/;FileEndpoint=http://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=http://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Sanitized\n\n\n"
  }
}