{
  "Entries": [
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-filesystem-b491ae14-1f63-a4b3-aac0-80804315e3f6?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 09 Nov 2021 22:13:43 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9A3CE3109DCF4\u0022",
        "Last-Modified": "Tue, 09 Nov 2021 22:13:43 GMT",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.dfs.core.windows.net/test-filesystem-b491ae14-1f63-a4b3-aac0-80804315e3f6/test-blob-fb6b0d28-a75d-a3b1-3512-01676b9870e1?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 09 Nov 2021 22:13:43 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9A3CE3119085D\u0022",
        "Last-Modified": "Tue, 09 Nov 2021 22:13:43 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.dfs.core.windows.net/test-filesystem-b491ae14-1f63-a4b3-aac0-80804315e3f6/test-blob-fb6b0d28-a75d-a3b1-3512-01676b9870e1?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 09 Nov 2021 22:13:43 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": "1/AuFuYQ8TAF5yTPqZrJd3vp959N4BItgZ0nmPS9a\u002BVt3kHrAy6wd7KX/f1qDfq5dXhwVrGISffdAJRJ6Vk8SHs\u002BYstY3nRMOYDsteMVw3SjbSN7TBU05JVJDQKZZo5ZW7SBK6svYZYEJB0wm5MUxz0gpXs1wPxmCn01D9FxstLyk1kulJfIdAyMdyf4BEkBNUXFecETI5u4GyEu\u002BVHFk3JKPQc65TOlWDFuqUnUbgYzNNmLqzkQ33C\u002Bdnl2mnu6xuO1rcZBx08SICCPpHlR46wb\u002BsR4Ouc4Ol2Xe2\u002B6Lr22s\u002BJlH8A/8m2KeI[...]
    {
      "RequestUri": "http://seanmcccanary3.dfs.core.windows.net/test-filesystem-b491ae14-1f63-a4b3-aac0-80804315e3f6/test-blob-fb6b0d28-a75d-a3b1-3512-01676b9870e1?action=flush\u0026position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8D9A3CE3119085D\u0022",
        "x-ms-date": "Tue, 09 Nov 2021 22:13:43 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9A3CE31339153\u0022",
        "Last-Modified": "Tue, 09 Nov 2021 22:13:43 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-filesystem-b491ae14-1f63-a4b3-aac0-80804315e3f6/test-blob-fb6b0d28-a75d-a3b1-3512-01676b9870e1",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Modified-Since": "Wed, 10 Nov 2021 22:13:43 GMT",
        "x-ms-date": "Tue, 09 Nov 2021 22:13:43 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 304,
      "ResponseHeaders": {
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-filesystem-d5ffb1de-3174-1322-2c7f-c5439ae4a55f/test-blob-0598acc1-4c3a-e00f-6f13-3a484163fc2c",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Unmodified-Since": "Mon, 08 Nov 2021 22:13:43 GMT",
        "x-ms-date": "Tue, 09 Nov 2021 22:13:43 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-filesystem-fdd7ed75-5def-9885-21eb-181a781deb04/test-blob-6132ab36-3f1a-2d59-3a75-76d3394847e5",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 09 Nov 2021 22:13:44 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D9A3CE3204A58B\u0022",
        "Last-Modified": "Tue, 09 Nov 2021 22:13:44 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 09 Nov 2021 22:13:44 GMT",
        "x-ms-last-access-time": "Tue, 09 Nov 2021 22:13:44 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-filesystem-fdd7ed75-5def-9885-21eb-181a781deb04/test-blob-6132ab36-3f1a-2d59-3a75-76d3394847e5",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "0x8D9A3CE3204A58B",
        "x-ms-date": "Tue, 09 Nov 2021 22:13:44 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 304,
      "ResponseHeaders": {
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-filesystem-0a7a17bc-163e-8b82-bbb9-99fbd9bafe7a/test-blob-ef4b0b0a-d6a4-9e42-64c5-f59c9292986e",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 09 Nov 2021 22:13:45 GMT",
        "x-ms-lease-id": "9be307c3-bfac-6a29-acbb-e6ec75288cc9",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "x-ms-error-code": "LeaseNotPresentWithBlobOperation",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-filesystem-0a7a17bc-163e-8b82-bbb9-99fbd9bafe7a?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 09 Nov 2021 22:13:45 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2021-11-09T14:13:43.0667353-08:00",
    "RandomSeed": "1900625008",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttp://seanmcccanary3.blob.core.windows.net\nhttp://seanmcccanary3.file.core.windows.net\nhttp://seanmcccanary3.queue.core.windows.net\nhttp://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttp://seanmcccanary3-secondary.blob.core.windows.net\nhttp://seanmcccanary3-secondary.file.core.windows.net\nhttp://seanmcccanary3-secondary.queue.core.windows.net\nhttp://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=http://seanmcccanary3.queue.core.windows.net/;FileEndpoint=http://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=http://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Sanitized\n\n\n"
  }
}