{
  "Entries": [
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-filesystem-44492c30-ad77-1a99-3d4c-ddf66137bc57?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 09 Nov 2021 22:13:26 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9A3CE2761FAE5\u0022",
        "Last-Modified": "Tue, 09 Nov 2021 22:13:26 GMT",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.dfs.core.windows.net/test-filesystem-44492c30-ad77-1a99-3d4c-ddf66137bc57/test-blob-e68373ef-ae82-451a-832e-232d2741047a?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 09 Nov 2021 22:13:26 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9A3CE276AE419\u0022",
        "Last-Modified": "Tue, 09 Nov 2021 22:13:26 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.dfs.core.windows.net/test-filesystem-44492c30-ad77-1a99-3d4c-ddf66137bc57/test-blob-e68373ef-ae82-451a-832e-232d2741047a?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 09 Nov 2021 22:13:26 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": "2a7EbrdFwrjSY1sQg7EsqWDWrjO8DzEfJZ\u002BM1QXhUm0BgA5Az31PA2vB2sLPkYjsLsgYvM4y7Mp8pEkXue2y8BHuDgKj69nihqrI\u002BjRvUJMWn6Y9yZaezpREwys0N0p\u002BD\u002Bmw4YKGSULuNTUjavGVDVS1ARlGdSd6T0BuXyiurU5gSutKvm4RkFVkTpNge2OirrbXfzYwN5nCNpJCGOoaQIfmwyAGSk7lpHDE4ieTGdPcy7Bx1y4XLxJSiIjcznhrSg0LerhDnGNo8dvGbFVxLhy\u002BZUw5qGlZzpMOs8LFCNX3WJgZh58bmS5NCeVTUcO94Fls[...]
    {
      "RequestUri": "http://seanmcccanary3.dfs.core.windows.net/test-filesystem-44492c30-ad77-1a99-3d4c-ddf66137bc57/test-blob-e68373ef-ae82-451a-832e-232d2741047a?action=flush\u0026position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8D9A3CE276AE419\u0022",
        "x-ms-date": "Tue, 09 Nov 2021 22:13:27 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9A3CE278434C6\u0022",
        "Last-Modified": "Tue, 09 Nov 2021 22:13:27 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-filesystem-44492c30-ad77-1a99-3d4c-ddf66137bc57/test-blob-e68373ef-ae82-451a-832e-232d2741047a",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 09 Nov 2021 22:13:27 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D9A3CE278434C6\u0022",
        "Last-Modified": "Tue, 09 Nov 2021 22:13:27 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 09 Nov 2021 22:13:26 GMT",
        "x-ms-last-access-time": "Tue, 09 Nov 2021 22:13:27 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-filesystem-44492c30-ad77-1a99-3d4c-ddf66137bc57/test-blob-e68373ef-ae82-451a-832e-232d2741047a",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8D9A3CE278434C6\u0022",
        "x-ms-date": "Tue, 09 Nov 2021 22:13:27 GMT",
        "x-ms-range": "bytes=0-127",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-127/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D9A3CE278434C6\u0022",
        "Last-Modified": "Tue, 09 Nov 2021 22:13:27 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 09 Nov 2021 22:13:26 GMT",
        "x-ms-last-access-time": "Tue, 09 Nov 2021 22:13:27 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": "2a7EbrdFwrjSY1sQg7EsqWDWrjO8DzEfJZ\u002BM1QXhUm0BgA5Az31PA2vB2sLPkYjsLsgYvM4y7Mp8pEkXue2y8BHuDgKj69nihqrI\u002BjRvUJMWn6Y9yZaezpREwys0N0p\u002BD\u002Bmw4YKGSULuNTUjavGVDVS1ARlGdSd6T0BuXyiurU4="
    },
[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-filesystem-44492c30-ad77-1a99-3d4c-ddf66137bc57?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 09 Nov 2021 22:13:27 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "568736582",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttp://seanmcccanary3.blob.core.windows.net\nhttp://seanmcccanary3.file.core.windows.net\nhttp://seanmcccanary3.queue.core.windows.net\nhttp://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttp://seanmcccanary3-secondary.blob.core.windows.net\nhttp://seanmcccanary3-secondary.file.core.windows.net\nhttp://seanmcccanary3-secondary.queue.core.windows.net\nhttp://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=http://seanmcccanary3.queue.core.windows.net/;FileEndpoint=http://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=http://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Sanitized\n\n\n"
  }
}