{
  "Entries": [
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-filesystem-5fa21485-b44d-5ca5-cd6c-8a084fa8aa10?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 09 Nov 2021 22:12:57 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9A3CE159BAA78\u0022",
        "Last-Modified": "Tue, 09 Nov 2021 22:12:57 GMT",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.dfs.core.windows.net/test-filesystem-5fa21485-b44d-5ca5-cd6c-8a084fa8aa10/test-blob-933e241a-ee0f-59bf-18ad-5bfade44c40f?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 09 Nov 2021 22:12:57 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9A3CE15A7EBAE\u0022",
        "Last-Modified": "Tue, 09 Nov 2021 22:12:57 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.dfs.core.windows.net/test-filesystem-5fa21485-b44d-5ca5-cd6c-8a084fa8aa10/test-blob-933e241a-ee0f-59bf-18ad-5bfade44c40f?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 09 Nov 2021 22:12:57 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": "XeSnDXpa8D7wunrOPxVVlX2bJBAsL4mfMf080Z3mbcQZ5TIhj\u002BF1iE08isyA5NnewxO/3vtVYy1bCNt8Hh\u002BhCUy2tFriMwacJpzC8KW9HkwkXQ6JJ47IxIIExocG\u002BWoumoB/yjB/\u002B48NI7hfknKInemOV8ARGOK\u002B7e/Y3W1/liwylFUkPlMcpGF\u002BewPVaTIPfCidd6GpHYKewd1Apx0ijo2MLf4dY1\u002BVcrNfkpze6IO9yGFE4R6LiHbShn122/1DXOx2STwz8RjJBwXuSovlv9hZg9683qxuAKSISt3hH5a1GzWvaJ5HiddIet[...]
    {
      "RequestUri": "http://seanmcccanary3.dfs.core.windows.net/test-filesystem-5fa21485-b44d-5ca5-cd6c-8a084fa8aa10/test-blob-933e241a-ee0f-59bf-18ad-5bfade44c40f?action=flush\u0026position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8D9A3CE15A7EBAE\u0022",
        "x-ms-date": "Tue, 09 Nov 2021 22:12:57 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9A3CE15C3FB17\u0022",
        "Last-Modified": "Tue, 09 Nov 2021 22:12:57 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-filesystem-5fa21485-b44d-5ca5-cd6c-8a084fa8aa10/test-blob-933e241a-ee0f-59bf-18ad-5bfade44c40f",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 09 Nov 2021 22:12:57 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D9A3CE15C3FB17\u0022",
        "Last-Modified": "Tue, 09 Nov 2021 22:12:57 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 09 Nov 2021 22:12:57 GMT",
        "x-ms-last-access-time": "Tue, 09 Nov 2021 22:12:57 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-filesystem-5fa21485-b44d-5ca5-cd6c-8a084fa8aa10/test-blob-933e241a-ee0f-59bf-18ad-5bfade44c40f",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8D9A3CE15C3FB17\u0022",
        "x-ms-date": "Tue, 09 Nov 2021 22:12:57 GMT",
        "x-ms-range": "bytes=0-127",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-127/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D9A3CE15C3FB17\u0022",
        "Last-Modified": "Tue, 09 Nov 2021 22:12:57 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 09 Nov 2021 22:12:57 GMT",
        "x-ms-last-access-time": "Tue, 09 Nov 2021 22:12:57 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": "XeSnDXpa8D7wunrOPxVVlX2bJBAsL4mfMf080Z3mbcQZ5TIhj\u002BF1iE08isyA5NnewxO/3vtVYy1bCNt8Hh\u002BhCUy2tFriMwacJpzC8KW9HkwkXQ6JJ47IxIIExocG\u002BWoumoB/yjB/\u002B48NI7hfknKInemOV8ARGOK\u002B7e/Y3W1/liw="
    },
[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-filesystem-5fa21485-b44d-5ca5-cd6c-8a084fa8aa10?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 09 Nov 2021 22:12:57 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1735822232",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttp://seanmcccanary3.blob.core.windows.net\nhttp://seanmcccanary3.file.core.windows.net\nhttp://seanmcccanary3.queue.core.windows.net\nhttp://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttp://seanmcccanary3-secondary.blob.core.windows.net\nhttp://seanmcccanary3-secondary.file.core.windows.net\nhttp://seanmcccanary3-secondary.queue.core.windows.net\nhttp://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=http://seanmcccanary3.queue.core.windows.net/;FileEndpoint=http://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=http://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Sanitized\n\n\n"
  }
}