{
  "Entries": [
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-filesystem-a324de60-0e8c-fd0f-7b97-7f0fa3d7ebae?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Fri, 12 Nov 2021 00:35:55 GMT",
        "x-ms-version": "2021-02-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9A5746377A900\u0022",
        "Last-Modified": "Fri, 12 Nov 2021 00:35:55 GMT",
        "x-ms-version": "2021-02-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.dfs.core.windows.net/test-filesystem-a324de60-0e8c-fd0f-7b97-7f0fa3d7ebae/test-blob-50cc21c1-a3a9-0a7f-c573-0ab3cbee67aa?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 12 Nov 2021 00:35:55 GMT",
        "x-ms-version": "2021-02-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9A5746380C771\u0022",
        "Last-Modified": "Fri, 12 Nov 2021 00:35:55 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-02-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.dfs.core.windows.net/test-filesystem-a324de60-0e8c-fd0f-7b97-7f0fa3d7ebae/test-blob-50cc21c1-a3a9-0a7f-c573-0ab3cbee67aa?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Fri, 12 Nov 2021 00:35:55 GMT",
        "x-ms-version": "2021-02-12"
      },
      "RequestBody": "tWinbNW2eNGc73HmDc716eiWeni/wzk9o0GhJBHsy1gbK4qf6UIT3rFGioUVKCefIJNt018RFvIuasmUFVS/sCMYyuFDVgCmgpvHeDmzKHoaAgN9fvf4ChWYcH95f8ldh9li/F1FW8mTxlHESZ24ekJOehNQQjErIMDMquaBLQLSavFfUSwc1KY56bimNMB33/U8KgW1DESnNtudeLDjEphO8d\u002BrWSkWMqVsFlh5hez/VMrwRAP9HF2stxpQflv2VtcfV0LhzIbMJvdgSfXsLrHvnSTl886VUdSB/qIOxbNJdsCBWi2pHohEJB4LnNNnwIhpYeE3EGIJigZuX83jvWBE[...]
    {
      "RequestUri": "http://seanmcccanary3.dfs.core.windows.net/test-filesystem-a324de60-0e8c-fd0f-7b97-7f0fa3d7ebae/test-blob-50cc21c1-a3a9-0a7f-c573-0ab3cbee67aa?action=flush\u0026position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8D9A5746380C771\u0022",
        "x-ms-date": "Fri, 12 Nov 2021 00:35:55 GMT",
        "x-ms-version": "2021-02-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9A574639C13A7\u0022",
        "Last-Modified": "Fri, 12 Nov 2021 00:35:55 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2021-02-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-filesystem-a324de60-0e8c-fd0f-7b97-7f0fa3d7ebae/test-blob-50cc21c1-a3a9-0a7f-c573-0ab3cbee67aa",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 12 Nov 2021 00:35:55 GMT",
        "x-ms-version": "2021-02-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D9A574639C13A7\u0022",
        "Last-Modified": "Fri, 12 Nov 2021 00:35:55 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 12 Nov 2021 00:35:55 GMT",
        "x-ms-last-access-time": "Fri, 12 Nov 2021 00:35:55 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-02-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-filesystem-a324de60-0e8c-fd0f-7b97-7f0fa3d7ebae/test-blob-50cc21c1-a3a9-0a7f-c573-0ab3cbee67aa",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8D9A574639C13A7\u0022",
        "x-ms-date": "Fri, 12 Nov 2021 00:35:55 GMT",
        "x-ms-range": "bytes=0-99",
        "x-ms-version": "2021-02-12"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-99/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D9A574639C13A7\u0022",
        "Last-Modified": "Fri, 12 Nov 2021 00:35:55 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 12 Nov 2021 00:35:55 GMT",
        "x-ms-last-access-time": "Fri, 12 Nov 2021 00:35:55 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-02-12"
      },
      "ResponseBody": "tWinbNW2eNGc73HmDc716eiWeni/wzk9o0GhJBHsy1gbK4qf6UIT3rFGioUVKCefIJNt018RFvIuasmUFVS/sCMYyuFDVgCmgpvHeDmzKHoaAgN9fvf4ChWYcH95f8ldh9li/A=="
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-filesystem-a324de60-0e8c-fd0f-7b97-7f0fa3d7ebae?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 12 Nov 2021 00:35:55 GMT",
        "x-ms-version": "2021-02-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-02-12"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1577249927",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttp://seanmcccanary3.blob.core.windows.net\nhttp://seanmcccanary3.file.core.windows.net\nhttp://seanmcccanary3.queue.core.windows.net\nhttp://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttp://seanmcccanary3-secondary.blob.core.windows.net\nhttp://seanmcccanary3-secondary.file.core.windows.net\nhttp://seanmcccanary3-secondary.queue.core.windows.net\nhttp://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=http://seanmcccanary3.queue.core.windows.net/;FileEndpoint=http://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=http://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Sanitized\n\n\n"
  }
}