{
  "Entries": [
    {
      "RequestUri": "https://ssnetvault.vault.azure.net/secrets/1006919532/versions?api-version=7.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "https://ssnetvault.vault.azure.net/secrets/1006919532/0e1d7e562c3e4c0aa191a8596aaeea3c",
            "attributes": {
              "enabled": true,
              "created": 1559594858,
              "updated": 1559594858,
              "recoveryLevel": "Purgeable"
            }
          },
          {
            "id": "https://ssnetvault.vault.azure.net/secrets/1006919532/0e6d6b9c85954b21baad791387caf555",
            "attributes": {
              "enabled": true,
              "created": 1559594856,
              "updated": 1559594856,
              "recoveryLevel": "Purgeable"
            }
          },
          {
            "id": "https://ssnetvault.vault.azure.net/secrets/1006919532/0eb4b3701a7043879d6413f6073375c1",
            "attr[...]
    {
      "RequestUri": "https://ssnetvault.vault.azure.net/secrets/1006919532/versions?api-version=7.0\u0026$skiptoken=eyJOZXh0TWFya2VyIjoiMiExMjghTURBd01EVXdJWE5sWTNKbGRDOHhNREEyT1RFNU5UTXlMelpGUlRGRU9ETXdSa1JGUVRRM00wRkJOVU5FTURGRU1ETTNRemszUXpsRElUQXdNREF5T0NFNU9UazVMVEV5TFRNeFZESXpPalU1T2pVNUxqazVPVGs1T1RsYUlRLS0iLCJUYXJnZXRMb2NhdGlvbiI6MH0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
  [...]
