{
  "Entries": [
    {
      "RequestUri": "https://pakrym-keyvault.vault.azure.net/secrets/215395351?api-version=7.0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "value": "1977993313"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": "1977993313",
        "id": "https://pakrym-keyvault.vault.azure.net/secrets/215395351/b34b61874b304a39a1dc138d17a5b77b",
        "attributes": {
          "enabled": true,
          "created": 1559760235,
          "updated": 1559760235,
          "recoveryLevel": "Recoverable\u002bPurgeable"
        }
      }
    },
[...]
    {
      "RequestUri": "https://pakrym-keyvault.vault.azure.net/secrets/215395351?api-version=7.0",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://pakrym-keyvault.vault.azure.net/deletedsecrets/215395351",
        "deletedDate": 1559760240,
        "scheduledPurgeDate": 1567536240,
        "id": "https://pakrym-keyvault.vault.azure.net/secrets/215395351/f82eb37dc66d4f48be422db5a687ecdb",
        "attributes": {
          "enabled": true,
          "created": 1559760239,
          "updated": 1559760239,
          "recoveryLevel": "Recoverable\u002bPurgeable"
        }
      }
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://pakrym-keyvault.vault.azure.net/",
    "RandomSeed": "1140714447"
  }
}