{
  "Entries": [
    {
      "RequestUri": "https://ssnetvault.vault.azure.net/secrets/2102213139?api-version=7.0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "value": "1840188800"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": "1840188800",
        "id": "https://ssnetvault.vault.azure.net/secrets/2102213139/7da5bd142c71472db78e3fe754c7eb09",
        "attributes": {
          "enabled": true,
          "created": 1559579940,
          "updated": 1559579940,
          "recoveryLevel": "Purgeable"
        }
      }
    },
[...]
    {
      "RequestUri": "https://ssnetvault.vault.azure.net/secrets/2102213139?api-version=7.0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "value": "257181363"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": "257181363",
        "id": "https://ssnetvault.vault.azure.net/secrets/2102213139/f3a7f363c088460e8d0c5da70b9927fa",
        "attributes": {
          "enabled": true,
          "created": 1559579944,
          "updated": 1559579944,
          "recoveryLevel": "Purgeable"
        }
      }
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://ssnetvault.vault.azure.net/",
    "RandomSeed": "1516039707"
  }
}