{
  "Entries": [
    {
      "RequestUri": "https://ssnetvault.vault.azure.net/secrets/2102213139?api-version=7.0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "value": "1840188800"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": "1840188800",
        "id": "https://ssnetvault.vault.azure.net/secrets/2102213139/e21dc948538b443891e5692baad489a8",
        "attributes": {
          "enabled": true,
          "created": 1559594865,
          "updated": 1559594865,
          "recoveryLevel": "Purgeable"
        }
      }
    },
[...]
    {
      "RequestUri": "https://ssnetvault.vault.azure.net/secrets/2102213139?api-version=7.0",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "https://ssnetvault.vault.azure.net/secrets/2102213139/40ec0efa90694211bf3bc56d6f212698",
        "attributes": {
          "enabled": true,
          "created": 1559594869,
          "updated": 1559594869,
          "recoveryLevel": "Purgeable"
        }
      }
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://ssnetvault.vault.azure.net/",
    "RandomSeed": "1516039707"
  }
}