{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11988"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "TagKey-9823": "TagValue-566",
          "TagKey-3481": "TagValue-320",
          "TagKey-4926": "TagValue-1187",
          "TagKey-751": "TagValue-3921",
          "TagKey-1866": "TagValue-8559",
          "TagKey-3094": "TagValue-9190",
          "TagKey-2449": "TagValue-9",
          "TagKey-8379": "TagValue-164",
          "TagKey-7470": "TagValue-2205",
          "TagKey-4236": "TagValue-3698",
          "TagKey-5316": "TagValue-2725"
        },
        "subscriptionId": "db1ab6f0-4769-4b27-930e-01e2ef9c123c",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": ".NET Mgmt SDK Test with TTL = 1 Day",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourcegroups/testRG-1540?api-version=2021-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {
          "test": "env"
        },
        "location": "westus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-1540",
        "name": "testRG-1540",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus",
        "tags": {
          "test": "env"
        },
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-1540/providers/Microsoft.Storage/storageAccounts/accountforbatch7954?api-version=2021-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "sku": {
          "name": "Standard_RAGRS"
        },
        "kind": "StorageV2",
        "location": "westus2",
        "properties": {
          "encryption": {
            "services": {
              "blob": {
                "enabled": true
              },
              "file": {
                "enabled": true
              }
            },
            "keySource": "Microsoft.Storage"
          },
          "networkAcls": {
            "bypass": "AzureServices",
            "defaultAction": "Allow"
          },
          "accessTier": "Hot",
          "supportsHttpsTrafficOnly": true,
          "allowBlobPublicAccess": true,
          "minimumTlsVersion": "TLS1_2",
          "allowSharedKeyAccess": true
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "text/plain; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Storage/locations/westus2/asyncoperations/8e612f63-092e-4f59-b84b-5036b6aab711?monitor=true\u0026api-version=2021-09-01",
        "Retry-After": "17",
        "x-ms-ratelimit-remaining-subscription-writes": "1198"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Storage/locations/westus2/asyncoperations/8e612f63-092e-4f59-b84b-5036b6aab711?monitor=true\u0026api-version=2021-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "text/plain; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Storage/locations/westus2/asyncoperations/8e612f63-092e-4f59-b84b-5036b6aab711?monitor=true\u0026api-version=2021-09-01",
        "Retry-After": "17",
        "x-ms-ratelimit-remaining-subscription-reads": "11987"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Storage/locations/westus2/asyncoperations/8e612f63-092e-4f59-b84b-5036b6aab711?monitor=true\u0026api-version=2021-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ratelimit-remaining-subscription-reads": "11986"
      },
      "ResponseBody": {
        "sku": {
          "name": "Standard_RAGRS",
          "tier": "Standard"
        },
        "kind": "StorageV2",
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-1540/providers/Microsoft.Storage/storageAccounts/accountforbatch7954",
        "name": "accountforbatch7954",
        "type": "Microsoft.Storage/storageAccounts",
        "location": "westus2",
        "tags": {},
        "properties": {
          "keyCreationTime": {
            "key1": "2022-09-08T06:39:24.0323713Z",
            "key2": "2022-09-08T06:39:24.0323713Z"
          },
          "privateEndpointConnections": [],
          "minimumTlsVersion": "TLS1_2",
          "allowBlobPublicAccess": true,
          "allowSharedKeyAccess": true,
          "networkAcls": {
            "bypass": "AzureServices",
            "virtualNetworkRules": [],
            "ipRules": [],
            "defaultAction": "Allow"
          },
          "supportsHttpsTrafficOnly": true,
          "encryption": {
            "services": {
              "file": {
                "keyType": "Account",
                "enabled": true,
                "lastEnabledTime": "2022-09-08T06:39:24.2042386Z"
              },
              "blob": {
                "keyType": "Account",
                "enabled": true,
                "lastEnabledTime": "2022-09-08T06:39:24.2042386Z"
              }
            },
            "keySource": "Microsoft.Storage"
          },
          "accessTier": "Hot",
          "provisioningState": "Succeeded",
          "creationTime": "2022-09-08T06:39:23.9386086Z",
          "primaryEndpoints": {
            "dfs": "https://accountforbatch7954.dfs.core.windows.net/",
            "web": "https://accountforbatch7954.z5.web.core.windows.net/",
            "blob": "https://accountforbatch7954.blob.core.windows.net/",
            "queue": "https://accountforbatch7954.queue.core.windows.net/",
            "table": "https://accountforbatch7954.table.core.windows.net/",
            "file": "https://accountforbatch7954.file.core.windows.net/"
          },
          "primaryLocation": "westus2",
          "statusOfPrimary": "available",
          "secondaryLocation": "westcentralus",
          "statusOfSecondary": "available",
          "secondaryEndpoints": {
            "dfs": "https://accountforbatch7954-secondary.dfs.core.windows.net/",
            "web": "https://accountforbatch7954-secondary.z5.web.core.windows.net/",
            "blob": "https://accountforbatch7954-secondary.blob.core.windows.net/",
            "queue": "https://accountforbatch7954-secondary.queue.core.windows.net/",
            "table": "https://accountforbatch7954-secondary.table.core.windows.net/"
          }
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-9327/providers/Microsoft.Batch/batchAccounts/testaccount6360?api-version=2022-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus",
        "properties": {
          "autoStorage": {
            "storageAccountId": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-1540/providers/Microsoft.Storage/storageAccounts/accountforbatch7954"
          }
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Location": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-9327/providers/Microsoft.Batch/batchAccounts/testaccount6360/operationResults/f9b34759-fe57-4497-a0ce-079f89bbef25?api-version=2022-06-01",
        "Retry-After": "15",
        "x-ms-ratelimit-remaining-subscription-writes": "1196"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-9327/providers/Microsoft.Batch/batchAccounts/testaccount6360/operationResults/f9b34759-fe57-4497-a0ce-079f89bbef25?api-version=2022-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Location": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-9327/providers/Microsoft.Batch/batchAccounts/testaccount6360/operationResults/f9b34759-fe57-4497-a0ce-079f89bbef25?api-version=2022-06-01",
        "Retry-After": "15",
        "x-ms-ratelimit-remaining-subscription-reads": "11985"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-9327/providers/Microsoft.Batch/batchAccounts/testaccount6360/operationResults/f9b34759-fe57-4497-a0ce-079f89bbef25?api-version=2022-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00220x8DA9164F72C2D16\u0022",
        "Last-Modified": "Thu, 08 Sep 2022 06:40:05 GMT",
        "x-ms-ratelimit-remaining-subscription-reads": "11984"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testrg-9327/providers/Microsoft.Batch/batchAccounts/testaccount6360",
        "name": "testaccount6360",
        "type": "Microsoft.Batch/batchAccounts",
        "location": "westus",
        "properties": {
          "accountEndpoint": "testaccount6360.westus.batch.azure.com",
          "provisioningState": "Succeeded",
          "dedicatedCoreQuota": 0,
          "dedicatedCoreQuotaPerVMFamily": [
            {
              "name": "standardAv2Family",
              "coreQuota": 0
            },
            {
              "name": "standardDv2Family",
              "coreQuota": 0
            },
            {
              "name": "standardDv3Family",
              "coreQuota": 0
            },
            {
              "name": "standardEv3Family",
              "coreQuota": 0
            },
            {
              "name": "standardDSv2Family",
              "coreQuota": 0
            },
            {
              "name": "standardDSv3Family",
              "core[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testrg-9327/providers/Microsoft.Batch/batchAccounts/testaccount6360/applications/testApplication-9729?api-version=2022-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "displayName": "displayName",
          "allowUpdates": true
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\u00220x8DA9164F858E61F\u0022",
        "Last-Modified": "Thu, 08 Sep 2022 06:40:07 GMT",
        "x-ms-ratelimit-remaining-subscription-writes": "1195"
      },
      "ResponseBody": {
        "type": "Microsoft.Batch/batchAccounts/applications",
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testrg-9327/providers/Microsoft.Batch/batchAccounts/testaccount6360/applications/testApplication-9729",
        "name": "testApplication-9729",
        "etag": "W/\u00220x8DA9164F858E61F\u0022",
        "properties": {
          "displayName": "displayName",
          "allowUpdates": true
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testrg-9327/providers/Microsoft.Batch/batchAccounts/testaccount6360/applications/testApplication-9729?api-version=2022-06-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-deletes": "14995"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com/",
    "RandomSeed": "396408316",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "db1ab6f0-4769-4b27-930e-01e2ef9c123c"
  }
}
