{
  "Entries": [
    {
      "RequestUri": "https://myaccountname.purview.azure.com/share/receivedShares/bb00baac-b768-4004-a712-c5b942dc9e83?api-version=2023-02-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "properties": {
          "createdAt": "2023-02-24T08:13:53.4805496Z",
          "sharedAt": "2023-02-24T08:13:53.4805496Z",
          "displayName": "testDisplayName1",
          "state": "Succeeded",
          "shareStatus": "Attached",
          "sentShareDescription": "updatedDescription",
          "receiverName": "SyMS",
          "receiverTenantName": "Microsoft",
          "senderName": "SyMS",
          "senderTenantName": "Microsoft",
          "assetLocation": "southafricanorth",
          "assetStoreKind": "AdlsGen2Account",
          "sink": {
            "properties": {
              "containerName": "container2241218",
              "folder": "folder2241218",
              "mountPath": "",
              "location": "southafricanorth"
            },
            "storeKind": "AdlsGen2Account",
            "storeReference": {
              "referenceName": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/testResourceGroup/providers/Microsoft.Storage/storageAccounts/consumerTestStorageAccount",
              "type": "ArmResourceReference"
            }
          }
        },
        "shareKind": "InPlace",
        "id": "bb00baac-b768-4004-a712-c5b942dc9e83",
        "type": "ReceivedShare"
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": null,
    "PURVIEW_SHARE_URL": "https://myaccountname.purview.azure.com/share",
    "RandomSeed": "217536138"
  }
}
