{
  "Entries": [
    {
      "RequestUri": "https://myaccountname.purview.azure.com/share/receivedShares/11726395-c265-4d91-acc8-7bb2cc650f5c?api-version=2023-05-30-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "properties": {
          "createdAt": "2023-06-12T03:59:44.2894837Z",
          "sharedAt": "2023-06-12T03:59:44.2894837Z",
          "displayName": "testDisplayName1",
          "state": "Succeeded",
          "shareStatus": "Detached",
          "sentShareDescription": "updatedDescription",
          "senderName": "sdk-05-30-share",
          "senderTenantName": "Microsoft",
          "assetLocation": "australiaeast",
          "assetStoreKind": "AdlsGen2Account"
        },
        "shareKind": "InPlace",
        "id": "11726395-c265-4d91-acc8-7bb2cc650f5c",
        "type": "ReceivedShare"
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": null,
    "PURVIEW_SHARE_URL": "https://myaccountname.purview.azure.com/share",
    "RandomSeed": "279797338"
  }
}
