{
  "Entries": [
    {
      "RequestUri": "https://fakeHost.api.wus2.timeseriesinsights.azure.com/timeseries/modelSettings?api-version=2020-07-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json"
      },
      "ResponseBody": {
        "modelSettings": {
          "name": "testModel",
          "timeSeriesIdProperties": [
            {
              "name": "foo",
              "type": "String"
            }
          ],
          "defaultTypeId": "1be09af9-f089-4d6b-9f0b-48018b5f7393"
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.timeseriesinsights.azure.com/timeseries/instances/$batch?api-version=2020-07-31",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "get": {
          "timeSeriesIds": [
            [
              "hkz7mvav"
            ]
          ]
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json"
      },
      "ResponseBody": {
        "get": [
          {
            "error": {
              "code": "ResourceNotFound",
              "message": "Time series instance with time series ID \u0027[\u0022hkz7mvav\u0022]\u0027 is not found.",
              "innerError": {
                "code": "InstanceNotFound"
              }
            }
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://fakeHost.api.wus2.timeseriesinsights.azure.com/timeseries/instances/$batch?api-version=2020-07-31",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "put": [
          {
            "timeSeriesId": [
              "hkz7mvav"
            ],
            "typeId": "1be09af9-f089-4d6b-9f0b-48018b5f7393",
            "name": "instance57nALVEh"
          },
          {
            "timeSeriesId": [
              "dSica2bb"
            ],
            "typeId": "1be09af9-f089-4d6b-9f0b-48018b5f7393",
            "name": "instancehmBoHakl"
          }
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json"
      },
      "ResponseBody": {
        "put": [
          {},
          {}
        ]
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.timeseriesinsights.azure.com/timeseries/instances/$batch?api-version=2020-07-31",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "get": {
          "timeSeriesIds": [
            [
              "hkz7mvav"
            ],
            [
              "dSica2bb"
            ]
          ]
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json"
      },
      "ResponseBody": {
        "get": [
          {
            "instance": {
              "typeId": "1be09af9-f089-4d6b-9f0b-48018b5f7393",
              "timeSeriesId": [
                "hkz7mvav"
              ],
              "name": "instance57nALVEh"
            }
          },
          {
            "instance": {
              "typeId": "1be09af9-f089-4d6b-9f0b-48018b5f7393",
              "timeSeriesId": [
                "dSica2bb"
              ],
              "name": "instancehmBoHakl"
            }
          }
        ]
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.timeseriesinsights.azure.com/timeseries/instances/$batch?api-version=2020-07-31",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "update": [
          {
            "timeSeriesId": [
              "hkz7mvav"
            ],
            "typeId": "1be09af9-f089-4d6b-9f0b-48018b5f7393",
            "name": "instance57nALVEh",
            "description": "Description"
          },
          {
            "timeSeriesId": [
              "dSica2bb"
            ],
            "typeId": "1be09af9-f089-4d6b-9f0b-48018b5f7393",
            "name": "instancehmBoHakl",
            "description": "Description"
          }
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json"
      },
      "ResponseBody": {
        "update": [
          {},
          {}
        ]
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.timeseriesinsights.azure.com/timeseries/instances/$batch?api-version=2020-07-31",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "get": {
          "names": [
            "instance57nALVEh",
            "instancehmBoHakl"
          ]
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json"
      },
      "ResponseBody": {
        "get": [
          {
            "instance": {
              "typeId": "1be09af9-f089-4d6b-9f0b-48018b5f7393",
              "timeSeriesId": [
                "hkz7mvav"
              ],
              "name": "instance57nALVEh",
              "description": "Description"
            }
          },
          {
            "instance": {
              "typeId": "1be09af9-f089-4d6b-9f0b-48018b5f7393",
              "timeSeriesId": [
                "dSica2bb"
              ],
              "name": "instancehmBoHakl",
              "description": "Description"
            }
          }
        ]
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.timeseriesinsights.azure.com/timeseries/instances?api-version=2020-07-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json"
      },
      "ResponseBody": {
        "instances": [
          {
            "typeId": "1be09af9-f089-4d6b-9f0b-48018b5f7393",
            "timeSeriesId": [
              "2UcaXO25"
            ]
          },
          {
            "typeId": "TemperatureSensorTypeId",
            "timeSeriesId": [
              "478badb7-73f3-4194-9512-99a7328ae188"
            ]
          },
          {
            "typeId": "1be09af9-f089-4d6b-9f0b-48018b5f7393",
            "timeSeriesId": [
              "9Q4pU4pk"
            ]
          },
          {
  [...]
    {
      "RequestUri": "https://fakeHost.api.wus2.timeseriesinsights.azure.com/timeseries/instances?api-version=2020-07-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-continuation": "aXsic2tpcCI6MTAwMCwidGFrZSI6MTAwMCwicmVxdWVzdEhhc2hDb2RlIjoxOTQ3MjUzNzgyLCJlbnZpcm9ubWVudElkIjoiZTFlY2ZhNGUtMTJhMS00ZmE1LWE2NjUtMjIzZWFiN2Y2NTkyIn0="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json"
      },
      "ResponseBody": {
        "instances": []
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.timeseriesinsights.azure.com/timeseries/instances/$batch?api-version=2020-07-31",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "delete": {
          "timeSeriesIds": [
            [
              "hkz7mvav"
            ],
            [
              "dSica2bb"
            ]
          ]
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json"
      },
      "ResponseBody": {
        "delete": [
          null,
          null
        ]
      }
    }
  ],
  "Variables": {
    "RandomSeed": "1127596620",
    "TIMESERIESINSIGHTS_URL": "fakeHost.api.wus2.timeseriesinsights.azure.com"
  }
}