{
  "Entries": [
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourcegroups/rgdnschash1307?api-version=2016-02-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"eastus\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgdnschash1307\",\r\n  \"name\": \"rgdnschash1307\",\r\n  \"location\": \"eastus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ]
      },
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgdnschash1307/providers/Microsoft.Network/dnsZones/www.contoso-8227.com?api-version=2016-04-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"global\",\r\n  \"tags\": {\r\n    \"a\": \"aa\",\r\n    \"b\": \"bb\"\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgdnschash1307/providers/Microsoft.Network/dnszones/www.contoso-8227.com\",\r\n  \"name\": \"www.contoso-8227.com\",\r\n  \"type\": \"Microsoft.Network/dnszones\",\r\n  \"etag\": \"00000002-0000-0000-658c-26eea300d301\",\r\n  \"location\": \"global\",\r\n  \"tags\": {\r\n    \"a\": \"aa\",\r\n    \"b\": \"bb\"\r\n  },\r\n  \"properties\": {\r\n    \"maxNumberOfRecordSets\": 5000,\r\n    \"nameServers\": [\r\n      \"ns1-04.azure-dns.com.\",\r\n      \"ns2-04.azure-dns.net.\",\r\n      \"ns3-04.azure-dns.org.\",\r\n      \"ns4-04.azure-dns.info.\"\r\n    ],\r\n    \"numberOfRecordSets\": 2\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "ETag": [
          "00000002-0000-0000-658c-26eea300d301"
        ],
        "x-ms-ratelimit-remaining-subscription-resource-requests": [
          "11999"
        ]
      },
      "StatusCode": 201
    },
[...]
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgdnschash1307/providers/Microsoft.Network/dnsZones/www.contoso-8227.com/AAAA/www?api-version=2016-04-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"name\": \"www\",\r\n  \"type\": \"AAAA\",\r\n  \"properties\": {\r\n    \"TTL\": 3600,\r\n    \"AAAARecords\": [\r\n      {\r\n        \"ipv6Address\": \"2001:0db8:85a3:0000:0000:8a2e:0370:7334\"\r\n      },\r\n      {\r\n        \"ipv6Address\": \"2002:0db9:85a4:0000:0000:8a2e:0371:7335\"\r\n      }\r\n    ]\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgdnschash1307/providers/Microsoft.Network/dnszones/www.contoso-8227.com/AAAA/www\",\r\n  \"name\": \"www\",\r\n  \"type\": \"Microsoft.Network/dnszones/AAAA\",\r\n  \"etag\": \"edc2a551-c773-4757-83ba-cb1e30c0e04f\",\r\n  \"properties\": {\r\n    \"fqdn\": \"www.www.contoso-8227.com.\",\r\n    \"TTL\": 3600,\r\n    \"AAAARecords\": [\r\n      {\r\n        \"ipv6Address\": \"2001:0db8:85a3:0000:0000:8a2e:0370:7334\"\r\n      },\r\n      {\r\n        \"ipv6Address\": \"2002:0db9:85a4:0000:0000:8a2e:0371:7335\"\r\n      }\r\n    ]\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "ETag": [
          "edc2a551-c773-4757-83ba-cb1e30c0e04f"
        ],
        "x-ms-ratelimit-remaining-subscription-resource-requests": [
          "11999"
        ]
      },
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgdnschash1307/providers/Microsoft.Network/dnsZones/www.contoso-8227.com/SRV/_sip._tcp?api-version=2016-04-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"name\": \"_sip._tcp\",\r\n  \"type\": \"SRV\",\r\n  \"properties\": {\r\n    \"TTL\": 3600,\r\n    \"SRVRecords\": [\r\n      {\r\n        \"priority\": 10,\r\n        \"weight\": 60,\r\n        \"port\": 5060,\r\n        \"target\": \"bigbox.contoso-service.com\"\r\n      },\r\n      {\r\n        \"priority\": 10,\r\n        \"weight\": 20,\r\n        \"port\": 5060,\r\n        \"target\": \"smallbox1.contoso-service.com\"\r\n      },\r\n      {\r\n        \"priority\": 10,\r\n        \"weight\": 20,\r\n        \"port\": 5060,\r\n        \"target\": \"smallbox2.contoso-service.com\"\r\n      },\r\n      {\r\n        \"priority\": 10,\r\n        \"weight\": 0,\r\n        \"port\": 5060,\r\n        \"target\": \"backupbox.co[...]
[...]
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgdnschash1307/providers/Microsoft.Network/dnsZones/www.contoso-8227.com/CNAME/userguide?api-version=2016-04-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"name\": \"userguide\",\r\n  \"type\": \"CNAME\",\r\n  \"properties\": {\r\n    \"TTL\": 3600,\r\n    \"CNAMERecord\": {\r\n      \"cname\": \"doc.contoso.com\"\r\n    }\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgdnschash1307/providers/Microsoft.Network/dnszones/www.contoso-8227.com/CNAME/userguide\",\r\n  \"name\": \"userguide\",\r\n  \"type\": \"Microsoft.Network/dnszones/CNAME\",\r\n  \"etag\": \"441f880f-db3c-40dd-bc5d-fc87bb56909b\",\r\n  \"properties\": {\r\n    \"fqdn\": \"userguide.www.contoso-8227.com.\",\r\n    \"TTL\": 3600,\r\n    \"CNAMERecord\": {\r\n      \"cname\": \"doc.contoso.com\"\r\n    }\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "ETag": [
          "441f880f-db3c-40dd-bc5d-fc87bb56909b"
        ],
        "x-ms-ratelimit-remaining-subscription-resource-requests": [
          "11999"
        ]
      },
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgdnschash1307/providers/Microsoft.Network/dnsZones/www.contoso-8227.com/NS/partners?api-version=2016-04-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"name\": \"partners\",\r\n  \"type\": \"NS\",\r\n  \"properties\": {\r\n    \"TTL\": 3600,\r\n    \"NSRecords\": [\r\n      {\r\n        \"nsdname\": \"ns1-05.azure-dns.com\"\r\n      },\r\n      {\r\n        \"nsdname\": \"ns2-05.azure-dns.net\"\r\n      },\r\n      {\r\n        \"nsdname\": \"ns3-05.azure-dns.org\"\r\n      },\r\n      {\r\n        \"nsdname\": \"ns4-05.azure-dns.info\"\r\n      }\r\n    ]\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgdnschash1307/providers/Microsoft.Network/dnszones/www.contoso-8227.com/NS/partners\",\r\n  \"name\": \"partners\",\r\n  \"type\": \"Microsoft.Network/dnszones/NS\",\r\n  \"etag\": \"c7cd28a1-aa8d-4207-acf8-bd83b6f4c4b7\",\r\n  \"properties\": {\r\n    \"fqdn\": \"partners.www.contoso-8227.com.\",\r\n    \"TTL\": 3600,\r\n    \"NSRecords\": [\r\n      {\r\n        \"nsdname\": \"ns1-05.azure-dns.com\"\r\n      },\r\n      {\r\n        \"nsdname\": \"ns2-05.azure-dns.net\"\r\n      },\r\n      {\r\n        \"nsdname\": \"ns3-05.azure-dns.org\"\r\n      },\r\n      {\r\n        \"nsdname\": \"ns4-05.azure-dns.info\"\r\n      }\r\n    ]\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "ETag": [
          "c7cd28a1-aa8d-4207-acf8-bd83b6f4c4b7"
        ],
        "x-ms-ratelimit-remaining-subscription-resource-requests": [
          "11999"
        ]
      },
      "StatusCode": 201
    },
[...]
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgdnschash1307/providers/Microsoft.Network/dnsZones/www.contoso-8227.com/MX/email?api-version=2016-04-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"name\": \"email\",\r\n  \"type\": \"MX\",\r\n  \"properties\": {\r\n    \"metadata\": {\r\n      \"mxa\": \"mxaa\",\r\n      \"mxb\": \"mxbb\"\r\n    },\r\n    \"TTL\": 3600,\r\n    \"MXRecords\": [\r\n      {\r\n        \"preference\": 1,\r\n        \"exchange\": \"mail.contoso-mail-exchange1.com\"\r\n      },\r\n      {\r\n        \"preference\": 2,\r\n        \"exchange\": \"mail.contoso-mail-exchange2.com\"\r\n      }\r\n    ]\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgdnschash1307/providers/Microsoft.Network/dnszones/www.contoso-8227.com/MX/email\",\r\n  \"name\": \"email\",\r\n  \"type\": \"Microsoft.Network/dnszones/MX\",\r\n  \"etag\": \"2697cb53-d6a7-445e-9572-34c6dfcd73b5\",\r\n  \"properties\": {\r\n    \"metadata\": {\r\n      \"mxa\": \"mxaa\",\r\n      \"mxb\": \"mxbb\"\r\n    },\r\n    \"fqdn\": \"email.www.contoso-8227.com.\",\r\n    \"TTL\": 3600,\r\n    \"MXRecords\": [\r\n      {\r\n        \"exchange\": \"mail.contoso-mail-exchange1.com\",\r\n        \"preference\": 1\r\n      },\r\n      {\r\n        \"exchange\": \"mail.contoso-mail-exchange2.com\",\r\n        \"preference\": 2\r\n      }\r\n    ]\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "ETag": [
          "2697cb53-d6a7-445e-9572-34c6dfcd73b5"
        ],
        "x-ms-ratelimit-remaining-subscription-resource-requests": [
          "11999"
        ]
      },
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgdnschash1307/providers/Microsoft.Network/dnsZones/www.contoso-8227.com/MX/email?api-version=2016-04-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"id\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgdnschash1307/providers/Microsoft.Network/dnszones/www.contoso-8227.com/MX/email\",\r\n  \"name\": \"email\",\r\n  \"type\": \"Microsoft.Network/dnszones/MX\",\r\n  \"etag\": \"2697cb53-d6a7-445e-9572-34c6dfcd73b5\",\r\n  \"properties\": {\r\n    \"metadata\": {\r\n      \"mxc\": \"mxcc\",\r\n      \"mxb\": \"mxbb\",\r\n      \"mxd\": \"mxdd\"\r\n    },\r\n    \"TTL\": 3600,\r\n    \"MXRecords\": [\r\n      {\r\n        \"preference\": 1,\r\n        \"exchange\": \"mail.contoso-mail-exchange1.com\"\r\n      }\r\n    ]\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgdnschash1307/providers/Microsoft.Network/dnszones/www.contoso-8227.com/MX/email\",\r\n  \"name\": \"email\",\r\n  \"type\": \"Microsoft.Network/dnszones/MX\",\r\n  \"etag\": \"5b2fa95b-53ed-4081-bee5-b90f52c9c993\",\r\n  \"properties\": {\r\n    \"metadata\": {\r\n      \"mxc\": \"mxcc\",\r\n      \"mxb\": \"mxbb\",\r\n      \"mxd\": \"mxdd\"\r\n    },\r\n    \"fqdn\": \"email.www.contoso-8227.com.\",\r\n    \"TTL\": 3600,\r\n    \"MXRecords\": [\r\n      {\r\n        \"exchange\": \"mail.contoso-mail-exchange1.com\",\r\n        \"preference\": 1\r\n      }\r\n    ]\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "ETag": [
          "5b2fa95b-53ed-4081-bee5-b90f52c9c993"
        ],
        "x-ms-ratelimit-remaining-subscription-resource-requests": [
          "11999"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgdnschash1307/providers/Microsoft.Network/dnsZones/www.contoso-8227.com/TXT/@?api-version=2016-04-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"name\": \"@\",\r\n  \"type\": \"TXT\",\r\n  \"properties\": {\r\n    \"TTL\": 3600,\r\n    \"TXTRecords\": [\r\n      {\r\n        \"value\": [\r\n          \"windows-apps-verification=2ZzjfideIJFLFje83\"\r\n        ]\r\n      }\r\n    ]\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgdnschash1307/providers/Microsoft.Network/dnszones/www.contoso-8227.com/TXT/@\",\r\n  \"name\": \"@\",\r\n  \"type\": \"Microsoft.Network/dnszones/TXT\",\r\n  \"etag\": \"19732c97-b178-4e4e-a6b3-5b346bcddcfc\",\r\n  \"properties\": {\r\n    \"fqdn\": \"www.contoso-8227.com.\",\r\n    \"TTL\": 3600,\r\n    \"TXTRecords\": [\r\n      {\r\n        \"value\": [\r\n          \"windows-apps-verification=2ZzjfideIJFLFje83\"\r\n        ]\r\n      }\r\n    ]\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "ETag": [
          "19732c97-b178-4e4e-a6b3-5b346bcddcfc"
        ],
        "x-ms-ratelimit-remaining-subscription-resource-requests": [
          "11999"
        ]
      },
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgdnschash1307/providers/Microsoft.Network/dnsZones/www.contoso-8227.com/A/www?api-version=2016-04-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"name\": \"www\",\r\n  \"type\": \"A\",\r\n  \"properties\": {\r\n    \"TTL\": 7200,\r\n    \"ARecords\": [\r\n      {\r\n        \"ipv4Address\": \"23.96.104.40\"\r\n      },\r\n      {\r\n        \"ipv4Address\": \"24.97.105.41\"\r\n      }\r\n    ]\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgdnschash1307/providers/Microsoft.Network/dnszones/www.contoso-8227.com/A/www\",\r\n  \"name\": \"www\",\r\n  \"type\": \"Microsoft.Network/dnszones/A\",\r\n  \"etag\": \"086b39ad-7fd0-4e6b-825c-5df658067700\",\r\n  \"properties\": {\r\n    \"fqdn\": \"www.www.contoso-8227.com.\",\r\n    \"TTL\": 7200,\r\n    \"ARecords\": [\r\n      {\r\n        \"ipv4Address\": \"23.96.104.40\"\r\n      },\r\n      {\r\n        \"ipv4Address\": \"24.97.105.41\"\r\n      }\r\n    ]\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "ETag": [
          "086b39ad-7fd0-4e6b-825c-5df658067700"
        ],
        "x-ms-ratelimit-remaining-subscription-resource-requests": [
          "11999"
        ]
      },
      "StatusCode": 201
    },
[...]
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgdnschash1307/providers/Microsoft.Network/dnsZones/www.contoso-8227.com/PTR/41?api-version=2016-04-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"name\": \"41\",\r\n  \"type\": \"PTR\",\r\n  \"properties\": {\r\n    \"TTL\": 3600,\r\n    \"PTRRecords\": [\r\n      {\r\n        \"ptrdname\": \"www.contoso.com\"\r\n      },\r\n      {\r\n        \"ptrdname\": \"mail.contoso.com\"\r\n      }\r\n    ]\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgdnschash1307/providers/Microsoft.Network/dnszones/www.contoso-8227.com/PTR/41\",\r\n  \"name\": \"41\",\r\n  \"type\": \"Microsoft.Network/dnszones/PTR\",\r\n  \"etag\": \"ab87328b-ddbd-4d4e-a390-85bff6279b31\",\r\n  \"properties\": {\r\n    \"fqdn\": \"41.www.contoso-8227.com.\",\r\n    \"TTL\": 3600,\r\n    \"PTRRecords\": [\r\n      {\r\n        \"ptrdname\": \"www.contoso.com\"\r\n      },\r\n      {\r\n        \"ptrdname\": \"mail.contoso.com\"\r\n      }\r\n    ]\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "ETag": [
          "ab87328b-ddbd-4d4e-a390-85bff6279b31"
        ],
        "x-ms-ratelimit-remaining-subscription-resource-requests": [
          "11999"
        ]
      },
      "StatusCode": 201
    },
[...]
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgdnschash1307/providers/Microsoft.Network/dnsZones/www.contoso-8227.com/TXT/www?api-version=2016-04-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"name\": \"www\",\r\n  \"type\": \"TXT\",\r\n  \"properties\": {\r\n    \"TTL\": 3600,\r\n    \"TXTRecords\": [\r\n      {\r\n        \"value\": [\r\n          \"some info about www.contoso.com\"\r\n        ]\r\n      }\r\n    ]\r\n  }\r\n}[...]
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgdnschash1307/providers/Microsoft.Network/dnsZones/www.contoso-8227.com/CNAME/documents?api-version=2016-04-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"name\": \"documents\",\r\n  \"type\": \"CNAME\",\r\n  \"properties\": {\r\n    \"TTL\": 3600,\r\n    \"CNAMERecord\": {\r\n      \"cname\": \"doc.contoso.com\"\r\n    }\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgdnschash1307/providers/Microsoft.Network/dnszones/www.contoso-8227.com/CNAME/documents\",\r\n  \"name\": \"documents\",\r\n  \"type\": \"Microsoft.Network/dnszones/CNAME\",\r\n  \"etag\": \"21eb8f8c-e4ce-4dbb-93ea-906839b8959b\",\r\n  \"properties\": {\r\n    \"fqdn\": \"documents.www.contoso-8227.com.\",\r\n    \"TTL\": 3600,\r\n    \"CNAMERecord\": {\r\n      \"cname\": \"doc.contoso.com\"\r\n    }\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "ETag": [
          "21eb8f8c-e4ce-4dbb-93ea-906839b8959b"
        ],
        "x-ms-ratelimit-remaining-subscription-resource-requests": [
          "11999"
        ]
      },
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgdnschash1307/providers/Microsoft.Network/dnsZones/www.contoso-8227.com/SOA/@?api-version=2016-04-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgdnschash1307/providers/Microsoft.Network/dnszones/www.contoso-8227.com/SOA/@\",\r\n  \"name\": \"@\",\r\n  \"type\": \"Microsoft.Network/dnszones/SOA\",\r\n  \"etag\": \"b0f50f30-879b-402b-b831-19416df58e56\",\r\n  \"properties\": {\r\n    \"fqdn\": \"www.contoso-8227.com.\",\r\n    \"TTL\": 3600,\r\n    \"SOARecord\": {\r\n      \"email\": \"azuredns-hostmaster.microsoft.com\",\r\n      \"expireTime\": 2419200,\r\n      \"host\": \"ns1-04.azure-dns.com.\",\r\n      \"minimumTTL\": 300,\r\n      \"refreshTime\": 3600,\r\n      \"retryTime\": 300,\r\n      \"serialNumber\": 1\r\n    }\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "ETag": [
          "b0f50f30-879b-402b-b831-19416df58e56"
        ],
        "x-ms-ratelimit-remaining-subscription-resource-requests": [
          "11999"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgdnschash1307/providers/Microsoft.Network/dnsZones/www.contoso-8227.com/A?api-version=2016-04-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgdnschash1307/providers/Microsoft.Network/dnszones/www.contoso-8227.com/A/www\",\r\n      \"name\": \"www\",\r\n      \"type\": \"Microsoft.Network/dnszones/A\",\r\n      \"etag\": \"086b39ad-7fd0-4e6b-825c-5df658067700\",\r\n      \"properties\": {\r\n        \"fqdn\": \"www.www.contoso-8227.com.\",\r\n        \"TTL\": 7200,\r\n        \"ARecords\": [\r\n          {\r\n            \"ipv4Address\": \"23.96.104.40\"\r\n          },\r\n          {\r\n            \"ipv4Address\": \"24.97.105.41\"\r\n          }\r\n        ]\r\n      }\r\n    }\r\n  ]\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-resource-requests": [
          "11998"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgdnschash1307/providers/Microsoft.Network/dnsZones/www.contoso-8227.com/AAAA?api-version=2016-04-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgdnschash1307/providers/Microsoft.Network/dnszones/www.contoso-8227.com/AAAA/www\",\r\n      \"name\": \"www\",\r\n      \"type\": \"Microsoft.Network/dnszones/AAAA\",\r\n      \"etag\": \"edc2a551-c773-4757-83ba-cb1e30c0e04f\",\r\n      \"properties\": {\r\n        \"fqdn\": \"www.www.contoso-8227.com.\",\r\n        \"TTL\": 3600,\r\n        \"AAAARecords\": [\r\n          {\r\n            \"ipv6Address\": \"2001:db8:85a3::8a2e:370:7334\"\r\n          },\r\n          {\r\n            \"ipv6Address\": \"2002:db9:85a4::8a2e:371:7335\"\r\n          }\r\n        ]\r\n      }\r\n    }\r\n  ]\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-resource-requests": [
          "11999"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgdnschash1307/providers/Microsoft.Network/dnsZones/www.contoso-8227.com/MX?api-version=2016-04-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgdnschash1307/providers/Microsoft.Network/dnszones/www.contoso-8227.com/MX/email\",\r\n      \"name\": \"email\",\r\n      \"type\": \"Microsoft.Network/dnszones/MX\",\r\n      \"etag\": \"2697cb53-d6a7-445e-9572-34c6dfcd73b5\",\r\n      \"properties\": {\r\n        \"metadata\": {\r\n          \"mxa\": \"mxaa\",\r\n          \"mxb\": \"mxbb\"\r\n        },\r\n        \"fqdn\": \"email.www.contoso-8227.com.\",\r\n        \"TTL\": 3600,\r\n        \"MXRecords\": [\r\n          {\r\n            \"exchange\": \"mail.contoso-mail-exchange1.com\",\r\n            \"preference\": 1\r\n          },\r\n          {\r\n            \"exchange\": \"mail.contoso-mail-exchange2.com\",\r\n            \"preference\": 2\r\n          }\r\n        ]\r\n      }\r\n    }\r\n  ]\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-resource-requests": [
          "11999"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgdnschash1307/providers/Microsoft.Network/dnsZones/www.contoso-8227.com/NS?api-version=2016-04-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgdnschash1307/providers/Microsoft.Network/dnszones/www.contoso-8227.com/NS/@[...]
[...]
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgdnschash1307/providers/Microsoft.Network/dnsZones/www.contoso-8227.com/TXT?api-version=2016-04-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgdnschash1307/providers/Microsoft.Network/dnszones/www.contoso-8227.com/TXT[...]
[...]
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgdnschash1307/providers/Microsoft.Network/dnsZones/www.contoso-8227.com/SRV?api-version=2016-04-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgdnschash1307/providers/Microsoft.Network/dnszones/www.contoso-8227.com/SRV[...]
[...]
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgdnschash1307/providers/Microsoft.Network/dnsZones/www.contoso-8227.com/PTR?api-version=2016-04-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgdnschash1307/providers/Microsoft.Network/dnszones/www.contoso-8227.com/PTR[...]
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgdnschash1307/providers/Microsoft.Network/dnsZones/www.contoso-8227.com/CNAME?api-version=2016-04-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgdnschash1307/providers/Microsoft.Network/dnszones/www.contoso-8227.com/C[...]
[...]
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgdnschash1307/providers/Microsoft.Network/dnsZones/www.contoso-8227.com/recordsets?api-version=2016-04-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgdnschash1307/providers/Microsoft.Network/dnszones/www.contoso-8227.[...]
[...]
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgdnschash1307/providers/Microsoft.Network/dnsZones/www.contoso-8227.com/CNAME/help?api-version=2016-04-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"name\": \"help\",\r\n  \"type\": \"CNAME\",\r\n  \"properties\": {\r\n    \"TTL\": 3600,\r\n    \"CNAMERecord\": {\r\n      \"cname\": \"doc.contoso.com\"\r\n    }\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgdnschash1307/providers/Microsoft.Network/dnszones/www.contoso-8227.com/CNAME/help\",\r\n  \"name\": \"help\",\r\n  \"type\": \"Microsoft.Network/dnszones/CNAME\",\r\n  \"etag\": \"e18b62dc-e102-405f-8fe5-8d9ae6df0cde\",\r\n  \"properties\": {\r\n    \"fqdn\": \"help.www.contoso-8227.com.\",\r\n    \"TTL\": 3600,\r\n    \"CNAMERecord\": {\r\n      \"cname\": \"doc.contoso.com\"\r\n    }\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "ETag": [
          "e18b62dc-e102-405f-8fe5-8d9ae6df0cde"
        ],
        "x-ms-ratelimit-remaining-subscription-resource-requests": [
          "11998"
        ]
      },
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgdnschash1307/providers/Microsoft.Network/dnsZones/www.contoso-8227.com/MX/email-internal?api-version=2016-04-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"name\": \"email-internal\",\r\n  \"type\": \"MX\",\r\n  \"properties\": {\r\n    \"TTL\": 3600,\r\n    \"MXRecords\": [\r\n      {\r\n        \"preference\": 1,\r\n        \"exchange\": \"mail.contoso-mail-exchange1.com\"\r\n    [...]
[...]
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgdnschash1307/providers/Microsoft.Network/dnsZones/www.contoso-8227.com?api-version=2016-04-01",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgdnschash1307/providers/Microsoft.Network/dnsOperationResults/delzone636360750424987431c1f0040c?api-version=2016-04-01"
        ],
        "Retry-After": [
          "3"
        ],
        "Azure-AsyncOperation": [
[...]
