{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/providers/Microsoft.DocumentDB/databaseAccountNames/amecassandratest3685?api-version=2020-04-01",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-tenant-reads": "11999"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/f3d94233-a9aa-4241-ac82-2dfb63ce637a/resourceGroups/Default-CosmosDB-1949/providers/Microsoft.DocumentDB/databaseAccounts/amecassandratest3685/cassandraKeyspaces/keyspaceName2510?api-version=2020-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "resource": {
            "id": "keyspaceName2510"
          },
          "options": {
            "throughput": 700,
            "autoscaleSettings": {}
          }
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/f3d94233-a9aa-4241-ac82-2dfb63ce637a/providers/Microsoft.DocumentDB/locations/westus/operationsStatus/91172005-1893-4025-a613-e3183bc9e32b?api-version=2020-04-01",
        "Content-Type": "application/json",
        "Location": "https://management.azure.com/subscriptions/f3d94233-a9aa-4241-ac82-2dfb63ce637a/resourceGroups/Default-CosmosDB-1949/providers/Microsoft.DocumentDB/databaseAccounts/amecassandratest3685/cassandraKeyspaces/keyspaceName2510/operationResults/91172005-1893-4025-a613-e3183bc9e32b?api-version=2020-04-01",
        "x-ms-gatewayversion": "version=2.14.0",
        "x-ms-ratelimit-remaining-subscription-writes": "1197"
      },
      "ResponseBody": {
        "status": "Enqueued"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/f3d94233-a9aa-4241-ac82-2dfb63ce637a/providers/Microsoft.DocumentDB/locations/westus/operationsStatus/91172005-1893-4025-a613-e3183bc9e32b?api-version=2020-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-gatewayversion": "version=2.14.0",
        "x-ms-ratelimit-remaining-subscription-reads": "11851"
      },
      "ResponseBody": {
        "status": "Enqueued"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/f3d94233-a9aa-4241-ac82-2dfb63ce637a/resourceGroups/Default-CosmosDB-1949/providers/Microsoft.DocumentDB/databaseAccounts/amecassandratest3685/cassandraKeyspaces/keyspaceName2510?api-version=2020-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-gatewayversion": "version=2.14.0",
        "x-ms-ratelimit-remaining-subscription-reads": "11840"
      },
      "ResponseBody": {
        "id": "/subscriptions/f3d94233-a9aa-4241-ac82-2dfb63ce637a/resourceGroups/Default-CosmosDB-1949/providers/Microsoft.DocumentDB/databaseAccounts/amecassandratest3685/cassandraKeyspaces/keyspaceName2510",
        "type": "Microsoft.DocumentDB/databaseAccounts/cassandraKeyspaces",
        "name": "keyspaceName2510",
        "properties": {
          "resource": {
            "id": "keyspaceName2510",
            "_rid": "PWZsAA==",
            "_etag": "\"00006400-0000-0700-0000-612def340000\"",
            "_ts": 1630400308
          }
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/f3d94233-a9aa-4241-ac82-2dfb63ce637a/resourceGroups/Default-CosmosDB-1949/providers/Microsoft.DocumentDB/databaseAccounts/amecassandratest3685/cassandraKeyspaces/keyspaceName2510/throughputSettings/default?api-version=2020-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-gatewayversion": "version=2.14.0",
        "x-ms-ratelimit-remaining-subscription-reads": "11838"
      },
      "ResponseBody": {
        "id": "/subscriptions/f3d94233-a9aa-4241-ac82-2dfb63ce637a/resourceGroups/Default-CosmosDB-1949/providers/Microsoft.DocumentDB/databaseAccounts/amecassandratest3685/cassandraKeyspaces/keyspaceName2510/throughputSettings/default",
        "type": "Microsoft.DocumentDB/databaseAccounts/cassandraKeyspaces/throughputSettings",
        "name": "6sQE",
        "properties": {
          "resource": {
            "throughput": 700,
            "minimumThroughput": "400"
          }
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/f3d94233-a9aa-4241-ac82-2dfb63ce637a/resourceGroups/Default-CosmosDB-1949/providers/Microsoft.DocumentDB/databaseAccounts/amecassandratest3685/cassandraKeyspaces/keyspaceName2510/throughputSettings/default?api-version=2020-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-gatewayversion": "version=2.14.0",
        "x-ms-ratelimit-remaining-subscription-reads": "11825"
      },
      "ResponseBody": {
        "id": "/subscriptions/f3d94233-a9aa-4241-ac82-2dfb63ce637a/resourceGroups/Default-CosmosDB-1949/providers/Microsoft.DocumentDB/databaseAccounts/amecassandratest3685/cassandraKeyspaces/keyspaceName2510/throughputSettings/default",
        "type": "Microsoft.DocumentDB/databaseAccounts/cassandraKeyspaces/throughputSettings",
        "name": "6sQE",
        "properties": {
          "resource": {
            "throughput": 800,
            "minimumThroughput": "400"
          }
        }
      }
    }
  ],
  "Variables": {
    "RandomSeed": "1273401775"
  }
}