{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/f3d94233-a9aa-4241-ac82-2dfb63ce637a/resourceGroups/Default-CosmosDB-1949/providers/Microsoft.DocumentDB/databaseAccounts/amecassandratest3685/cassandraKeyspaces/keyspaceName2510/tables?api-version=2020-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-gatewayversion": "version=2.14.0",
        "x-ms-ratelimit-remaining-subscription-reads": "11979"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/f3d94233-a9aa-4241-ac82-2dfb63ce637a/resourceGroups/Default-CosmosDB-1949/providers/Microsoft.DocumentDB/databaseAccounts/amecassandratest3685/cassandraKeyspaces/keyspaceName2510/tables/tableName2510",
            "type": "Microsoft.DocumentDB/databaseAccounts/cassandraKeyspaces/tables",
            "name": "tableName2510",
            "properties": {
              "resource": {
                "id": "tableName2510",
                "_rid": "PWZsAPXygp4=",
                "_etag": "\"00007300-0000-0700-0000-612def840000\"",
                "_ts": 1630400388,
                "defaultTtl": 0,
                "schema": {
                  "columns": [
                    {
                      "name": "columnA",
                      "type": "int"
                    },
                    {
                      "name": "columnB",
                      "type": "ascii"
                    }
                  ],
                  "partitionKeys": [
                    {
                      "name": "columnA"
                    }
                  ],
                  "clusterKeys": [
                    {
                      "name": "columnB",
                      "orderBy": "Asc"
                    }
                  ]
                }
              }
            }
          }
        ]
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/f3d94233-a9aa-4241-ac82-2dfb63ce637a/resourceGroups/Default-CosmosDB-1949/providers/Microsoft.DocumentDB/databaseAccounts/amecassandratest3685/cassandraKeyspaces/keyspaceName2510/tables/tableName2510?api-version=2020-04-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/f3d94233-a9aa-4241-ac82-2dfb63ce637a/providers/Microsoft.DocumentDB/locations/westus/operationsStatus/bc17721b-370d-44d7-85b8-89984e21e737?api-version=2020-04-01",
        "Content-Type": "application/json",
        "Location": "https://management.azure.com/subscriptions/f3d94233-a9aa-4241-ac82-2dfb63ce637a/resourceGroups/Default-CosmosDB-1949/providers/Microsoft.DocumentDB/databaseAccounts/amecassandratest3685/cassandraKeyspaces/keyspaceName2510/tables/tableName2510/operationResults/bc17721b-370d-44d7-85b8-89984e21e737?api-version=2020-04-01",
        "x-ms-gatewayversion": "version=2.14.0",
        "x-ms-ratelimit-remaining-subscription-deletes": "14999"
      },
      "ResponseBody": {
        "status": "Enqueued"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/f3d94233-a9aa-4241-ac82-2dfb63ce637a/providers/Microsoft.DocumentDB/locations/westus/operationsStatus/bc17721b-370d-44d7-85b8-89984e21e737?api-version=2020-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-gatewayversion": "version=2.14.0",
        "x-ms-ratelimit-remaining-subscription-reads": "11978"
      },
      "ResponseBody": {
        "status": "Enqueued"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/f3d94233-a9aa-4241-ac82-2dfb63ce637a/resourceGroups/Default-CosmosDB-1949/providers/Microsoft.DocumentDB/databaseAccounts/amecassandratest3685/cassandraKeyspaces/keyspaceName2510/tables?api-version=2020-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-gatewayversion": "version=2.14.0",
        "x-ms-ratelimit-remaining-subscription-reads": "11972"
      },
      "ResponseBody": {
        "value": []
      }
    }
  ],
  "Variables": {
    "RandomSeed": "1544161023"
  }
}