{
  "Entries": [
    {
      "RequestUri": "/contentmoderator/lists/v1.0/imagelists",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": [
          
        ],
        "User-Agent": [
          "FxVersion/4.7.2600.0",
          "OSName/Windows10Enterprise",
          "OSVersion/6.3.16299",
          "Microsoft.CognitiveServices.ContentModerator.ContentModeratorClient/0.0.0.0"
        ]
      },
      "ResponseBody": "[\r\n  {\r\n    \"Id\": 159492,\r\n    \"Name\": \"sample string 2\",\r\n    \"Description\": \"sample string 3\",\r\n    \"Metadata\": {\r\n      \"sample string 1\": \"sample string 2\",\r\n      \"sample string 3\": \"sample string 4\"\r\n    }\r\n  }\r\n]",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {}
}