{
  "Entries": [
    {
<<<<<<< HEAD
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-1aa316c8-7505-703c-384f-1024b1b733ed?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 05 Dec 2019 04:12:50 GMT",
        "x-ms-share-quota": "1"
=======
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-9e4b0de8-5d34-c5ae-0dd8-ad550f982861?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2019 00:28:30 GMT"
>>>>>>> feature/storage/stg71-base
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
<<<<<<< HEAD
        "Date": "Thu, 05 Dec 2019 04:12:50 GMT",
        "ETag": "\u00220x8D7793964C3D06A\u0022",
        "Last-Modified": "Thu, 05 Dec 2019 04:12:50 GMT",
=======
        "Date": "Fri, 06 Dec 2019 00:28:30 GMT",
        "ETag": "\u00220x8D779E3388F1DF9\u0022",
        "Last-Modified": "Fri, 06 Dec 2019 00:28:30 GMT",
>>>>>>> feature/storage/stg71-base
        "Server": [
          "Windows-Azure-File/1.0",
          "Microsoft-HTTPAPI/2.0"
        ],
<<<<<<< HEAD
        "x-ms-client-request-id": "560325b7-1cf6-859f-46b8-e38bb5eb5b11",
        "x-ms-request-id": "011a0e12-f01a-0002-5622-ab2c83000000",
=======
        "x-ms-client-request-id": "c3733c91-51e0-cede-6e58-e00884198371",
        "x-ms-request-id": "207a5a93-c01a-0026-02cc-abda23000000",
>>>>>>> feature/storage/stg71-base
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
<<<<<<< HEAD
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-1aa316c8-7505-703c-384f-1024b1b733ed?restype=share\u0026comp=snapshot",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 05 Dec 2019 04:12:50 GMT"
=======
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-9e4b0de8-5d34-c5ae-0dd8-ad550f982861?restype=share\u0026comp=snapshot",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2019 00:28:31 GMT"
>>>>>>> feature/storage/stg71-base
        "x-ms-return-client-request-id": "true",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
<<<<<<< HEAD
        "Date": "Thu, 05 Dec 2019 04:12:50 GMT",
        "ETag": "\u00220x8D7793964C3D06A\u0022",
        "Last-Modified": "Thu, 05 Dec 2019 04:12:50 GMT",
=======
        "Date": "Fri, 06 Dec 2019 00:28:30 GMT",
        "ETag": "\u00220x8D779E3388F1DF9\u0022",
        "Last-Modified": "Fri, 06 Dec 2019 00:28:30 GMT",
>>>>>>> feature/storage/stg71-base
        "Server": [
          "Windows-Azure-File/1.0",
          "Microsoft-HTTPAPI/2.0"
        ],
<<<<<<< HEAD
        "x-ms-client-request-id": "8b6d6845-ddb4-20f6-6261-1613a3626a98",
        "x-ms-request-id": "011a0e18-f01a-0002-5b22-ab2c83000000",
        "x-ms-snapshot": "2019-12-05T04:12:50.0000000Z",
=======
        "x-ms-client-request-id": "d2c37fd3-6525-2481-7067-0619bad1aa6f",
        "x-ms-request-id": "207a5a99-c01a-0026-07cc-abda23000000",
        "x-ms-snapshot": "2019-12-06T00:28:31.0000000Z",
>>>>>>> feature/storage/stg71-base
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
<<<<<<< HEAD
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-1aa316c8-7505-703c-384f-1024b1b733ed?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 05 Dec 2019 04:12:50 GMT"
=======
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-9e4b0de8-5d34-c5ae-0dd8-ad550f982861?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2019 00:28:31 GMT"
>>>>>>> feature/storage/stg71-base
        "x-ms-delete-snapshots": "include",
        "x-ms-return-client-request-id": "true",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
<<<<<<< HEAD
        "Date": "Thu, 05 Dec 2019 04:12:50 GMT",
=======
        "Date": "Fri, 06 Dec 2019 00:28:30 GMT",
>>>>>>> feature/storage/stg71-base
        "Server": [
          "Windows-Azure-File/1.0",
          "Microsoft-HTTPAPI/2.0"
        ],
<<<<<<< HEAD
        "x-ms-client-request-id": "4c45826c-d07e-705d-823b-473dfe0f9dc6",
        "x-ms-request-id": "011a0e1d-f01a-0002-5e22-ab2c83000000",
=======
        "x-ms-client-request-id": "043442c9-b156-b64c-80d1-a8d7524c9361",
        "x-ms-request-id": "207a5a9f-c01a-0026-0dcc-abda23000000",
>>>>>>> feature/storage/stg71-base
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
<<<<<<< HEAD
    "RandomSeed": "1815995295",
=======
    "RandomSeed": "1838198876",
>>>>>>> feature/storage/stg71-base
    "Storage_TestConfigDefault": "ProductionTenant\nseanstagetest\nU2FuaXRpemVk\nhttp://seanstagetest.blob.core.windows.net\nhttp://seanstagetest.file.core.windows.net\nhttp://seanstagetest.queue.core.windows.net\nhttp://seanstagetest.table.core.windows.net\n\n\n\n\nhttp://seanstagetest-secondary.blob.core.windows.net\nhttp://seanstagetest-secondary.file.core.windows.net\nhttp://seanstagetest-secondary.queue.core.windows.net\nhttp://seanstagetest-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanstagetest.blob.core.windows.net/;QueueEndpoint=http://seanstagetest.queue.core.windows.net/;FileEndpoint=http://seanstagetest.file.core.windows.net/;BlobSecondaryEndpoint=http://seanstagetest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanstagetest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanstagetest-secondary.file.core.windows.net/;AccountName=seanstagetest;AccountKey=Sanitized"
  }
}