{
  "Entries": [
    {
<<<<<<< HEAD
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-c084a0fd-a163-2f25-be1d-a975f74cfcc1?sv=2019-02-02\u0026ss=f\u0026srt=c\u0026st=2019-12-04T22%3A03%3A04Z\u0026se=2019-12-05T00%3A03%3A04Z\u0026sp=dc\u0026sig=Sanitized\u0026restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
=======
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-c084a0fd-a163-2f25-be1d-a975f74cfcc1?sv=2019-02-02\u0026ss=f\u0026srt=c\u0026st=2019-12-04T18%3A48%3A01Z\u0026se=2019-12-04T20%3A48%3A01Z\u0026sp=dc\u0026sig=Sanitized\u0026restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
>>>>>>> feature/storage/stg71-base
        "User-Agent": [
          "azsdk-net-Storage.Files.Shares/12.0.0-dev.20191204.1\u002B5028d723e0cdeb10a227db4dee6ed6afa7cb4fa8",
          "(.NET Core 4.6.28008.01; Microsoft Windows 10.0.18363 )"
        ],
        "x-ms-client-request-id": "06e3dbd2-8026-5196-faf4-9a69196d256e",
        "x-ms-return-client-request-id": "true",
        "x-ms-share-quota": "1",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
<<<<<<< HEAD
        "Date": "Wed, 04 Dec 2019 23:03:03 GMT",
        "ETag": "\u00220x8D7790E1E74FC55\u0022",
        "Last-Modified": "Wed, 04 Dec 2019 23:03:04 GMT",
=======
        "Date": "Wed, 04 Dec 2019 19:48:01 GMT",
        "ETag": "\u00220x8D778F2DF232B7D\u0022",
        "Last-Modified": "Wed, 04 Dec 2019 19:48:01 GMT",
>>>>>>> feature/storage/stg71-base
        "Server": [
          "Windows-Azure-File/1.0",
          "Microsoft-HTTPAPI/2.0"
        ],
        "x-ms-client-request-id": "06e3dbd2-8026-5196-faf4-9a69196d256e",
<<<<<<< HEAD
        "x-ms-request-id": "d314364f-101a-0035-5ff6-aafe2f000000",
=======
        "x-ms-request-id": "0114e934-f01a-0002-06db-aa2c83000000",
>>>>>>> feature/storage/stg71-base
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
<<<<<<< HEAD
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-c084a0fd-a163-2f25-be1d-a975f74cfcc1?sv=2019-02-02\u0026ss=f\u0026srt=c\u0026st=2019-12-04T22%3A03%3A04Z\u0026se=2019-12-05T00%3A03%3A04Z\u0026sp=dc\u0026sig=Sanitized\u0026restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
=======
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-c084a0fd-a163-2f25-be1d-a975f74cfcc1?sv=2019-02-02\u0026ss=f\u00[...]
