{
  "Entries": [
    {
<<<<<<< HEAD
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-48eae88b-d121-7900-8e74-3190b4475997?sv=2019-02-02\u0026st=2019-12-05T03%3A12%3A56Z\u0026se=2019-12-05T05%3A12%3A56Z\u0026sr=s\u0026sp=rcwdl\u0026sig=Sanitized\u0026restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
=======
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-dfc05ee5-8978-30ef-3f60-733191a9a36b?sv=2019-02-02\u0026st=2019-12-05T23%3A28%3A37Z\u0026se=2019-12-06T01%3A28%3A37Z\u0026sr=s\u0026sp=rcwdl\u0026sig=Sanitized\u0026restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
>>>>>>> feature/storage/stg71-base
          "(.NET Core 4.6.28008.01; Microsoft Windows 10.0.18363 )"
        ],
        "x-ms-client-request-id": "4986dc9a-f697-a8ad-4835-acdb56dff7a3",
        "x-ms-return-client-request-id": "true",
        "x-ms-share-quota": "1",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 403,
      "ResponseHeaders": {
        "Content-Type": "application/xml"
<<<<<<< HEAD
        "Date": "Thu, 05 Dec 2019 04:12:56 GMT",
=======
        "Date": "Fri, 06 Dec 2019 00:28:36 GMT",
>>>>>>> feature/storage/stg71-base
        "Server": [
          "Windows-Azure-File/1.0",
          "Microsoft-HTTPAPI/2.0"
        ],
        "x-ms-client-request-id": "4986dc9a-f697-a8ad-4835-acdb56dff7a3",
        "x-ms-error-code": "AuthorizationFailure",
<<<<<<< HEAD
        "x-ms-request-id": "011a0f1f-f01a-0002-4722-ab2c83000000",
=======
        "x-ms-request-id": "207a5b73-c01a-0026-4acc-abda23000000",
>>>>>>> feature/storage/stg71-base
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003EAuthorizationFailure\u003C/Code\u003E\u003CMessage\u003EThis request is not authorized to perform this operation.\n",
<<<<<<< HEAD
        "RequestId:011a0f1f-f01a-0002-4722-ab2c83000000\n",
        "Time:2019-12-05T04:12:56.7645787Z\u003C/Message\u003E\u003C/Error\u003E"
=======
        "RequestId:207a5b73-c01a-0026-4acc-abda23000000\n",
        "Time:2019-12-06T00:28:37.3625433Z\u003C/Message\u003E\u003C/Error\u003E"
>>>>>>> feature/storage/stg71-base
      ]
    }
  ],
  "Variables": {
<<<<<<< HEAD
    "DateTimeOffsetNow": "2019-12-04T20:12:56.7606280-08:00",
    "RandomSeed": "1186778312",
=======
    "DateTimeOffsetNow": "2019-12-05T16:28:37.3578180-08:00",
    "RandomSeed": "142007379",
>>>>>>> feature/storage/stg71-base
    "Storage_TestConfigDefault": "ProductionTenant\nseanstagetest\nU2FuaXRpemVk\nhttp://seanstagetest.blob.core.windows.net\nhttp://seanstagetest.file.core.windows.net\nhttp://seanstagetest.queue.core.windows.net\nhttp://seanstagetest.table.core.windows.net\n\n\n\n\nhttp://seanstagetest-secondary.blob.core.windows.net\nhttp://seanstagetest-secondary.file.core.windows.net\nhttp://seanstagetest-secondary.queue.core.windows.net\nhttp://seanstagetest-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanstagetest.blob.core.windows.net/;QueueEndpoint=http://seanstagetest.queue.core.windows.net/;FileEndpoint=http://seanstagetest.file.core.windows.net/;BlobSecondaryEndpoint=http://seanstagetest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanstagetest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanstagetest-secondary.file.core.windows.net/;AccountName=seanstagetest;AccountKey=Sanitized"
  }
}