{
  "Entries": [
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-eb579fcf-693e-805e-2af4-43a499a2b8e4?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized"
<<<<<<< HEAD
        "traceparent": "00-96708b3da5e9924d9c0cc7f916965dda-a5cf50637a1c0f48-00",
        "User-Agent": [
          "azsdk-net-Storage.Files.Shares/12.0.0-dev.20191203.1\u002Bfb8a3e76e923ddd8093ad431ccf5d23b2c851a14",
          "(.NET Core 4.6.28008.01; Microsoft Windows 10.0.18363 )"
        ],
        "x-ms-client-request-id": "5b63afb0-a26b-264b-8e9e-2b5a15a47542",
        "x-ms-date": "Wed, 04 Dec 2019 05:17:10 GMT",
=======
        "traceparent": "00-627f70d8d8309e45a3009efd3f1cc8b7-08be801dcb51c845-00",
        "User-Agent": [
          "azsdk-net-Storage.Files.Shares/12.0.0-dev.20191204.1\u002B5028d723e0cdeb10a227db4dee6ed6afa7cb4fa8",
          "(.NET Core 4.6.28008.01; Microsoft Windows 10.0.18363 )"
        ],
        "x-ms-client-request-id": "5b63afb0-a26b-264b-8e9e-2b5a15a47542",
        "x-ms-date": "Wed, 04 Dec 2019 19:48:01 GMT",
>>>>>>> feature/storage/stg71-base
        "x-ms-return-client-request-id": "true",
        "x-ms-share-quota": "1",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
<<<<<<< HEAD
        "Date": "Wed, 04 Dec 2019 05:17:09 GMT",
        "ETag": "\u00220x8D778793731047F\u0022",
        "Last-Modified": "Wed, 04 Dec 2019 05:17:10 GMT",
=======
        "Date": "Wed, 04 Dec 2019 19:48:00 GMT",
        "ETag": "\u00220x8D778F2DEBBDDF2\u0022",
        "Last-Modified": "Wed, 04 Dec 2019 19:48:01 GMT",
>>>>>>> feature/storage/stg71-base
        "Server": [
          "Windows-Azure-File/1.0",
          "Microsoft-HTTPAPI/2.0"
        ],
        "x-ms-client-request-id": "5b63afb0-a26b-264b-8e9e-2b5a15a47542",
<<<<<<< HEAD
        "x-ms-request-id": "b55927f0-301a-000d-0462-aa5aef000000",
=======
        "x-ms-request-id": "0114e91e-f01a-0002-73db-aa2c83000000",
>>>>>>> feature/storage/stg71-base
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
[...]
