{
  "Entries": [
    {
<<<<<<< HEAD
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-69031cf6-bba6-1685-dc88-69c3001f841e?sv=2019-02-02\u0026st=2019-12-04T04%3A17%3A04Z\u0026se=2019-12-04T06%3A17%3A04Z\u0026sr=s\u0026sp=rcwdl\u0026sig=Sanitized\u0026restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
=======
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-69031cf6-bba6-1685-dc88-69c3001f841e?sv=2019-02-02\u0026st=2019-12-04T18%3A47%3A54Z\u0026se=2019-12-04T20%3A47%3A54Z\u0026sr=s\u0026sp=rcwdl\u0026sig=Sanitized\u0026restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
>>>>>>> feature/storage/stg71-base
          "(.NET Core 4.6.28008.01; Microsoft Windows 10.0.18363 )"
        ],
        "x-ms-client-request-id": "98c641c3-9121-4848-0bc8-24fb9c290f0a",
        "x-ms-return-client-request-id": "true",
        "x-ms-share-quota": "1",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 403,
      "ResponseHeaders": {
        "Content-Type": "application/xml"
<<<<<<< HEAD
        "Date": "Wed, 04 Dec 2019 05:17:03 GMT",
=======
        "Date": "Wed, 04 Dec 2019 19:47:54 GMT",
>>>>>>> feature/storage/stg71-base
        "Server": [
          "Windows-Azure-File/1.0",
          "Microsoft-HTTPAPI/2.0"
        ],
        "x-ms-client-request-id": "98c641c3-9121-4848-0bc8-24fb9c290f0a",
        "x-ms-error-code": "AuthorizationFailure",
<<<<<<< HEAD
        "x-ms-request-id": "b559274a-301a-000d-7462-aa5aef000000",
=======
        "x-ms-request-id": "0114e890-f01a-0002-7cdb-aa2c83000000",
>>>>>>> feature/storage/stg71-base
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003EAuthorizationFailure\u003C/Code\u003E\u003CMessage\u003EThis request is not authorized to perform this operation.\n",
<<<<<<< HEAD
        "RequestId:b559274a-301a-000d-7462-aa5aef000000\n",
        "Time:2019-12-04T05:17:04.5139815Z\u003C/Message\u003E\u003C/Error\u003E"
=======
        "RequestId:0114e890-f01a-0002-7cdb-aa2c83000000\n",
        "Time:2019-12-04T19:47:54.7007279Z\u003C/Message\u003E\u003C/Error\u003E"
>>>>>>> feature/storage/stg71-base
      ]
    }
  ],
  "Variables": {
<<<<<<< HEAD
    "DateTimeOffsetNow": "2019-12-03T21:17:04.4752823-08:00",
=======
    "DateTimeOffsetNow": "2019-12-04T11:47:54.6358918-08:00",
>>>>>>> feature/storage/stg71-base
    "RandomSeed": "1426280932",
    "Storage_TestConfigDefault": "ProductionTenant\nseanstagetest\nU2FuaXRpemVk\nhttp://seanstagetest.blob.core.windows.net\nhttp://seanstagetest.file.core.windows.net\nhttp://seanstagetest.queue.core.windows.net\nhttp://seanstagetest.table.core.windows.net\n\n\n\n\nhttp://seanstagetest-secondary.blob.core.windows.net\nhttp://seanstagetest-secondary.file.core.windows.net\nhttp://seanstagetest-secondary.queue.core.windows.net\nhttp://seanstagetest-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanstagetest.blob.core.windows.net/;QueueEndpoint=http://seanstagetest.queue.core.windows.net/;FileEndpoint=http://seanstagetest.file.core.windows.net/;BlobSecondaryEndpoint=http://seanstagetest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanstagetest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanstagetest-secondary.file.core.windows.net/;AccountName=seanstagetest;AccountKey=Sanitized"
  }
}