{
  "Entries": [
    {
<<<<<<< HEAD
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-874fe082-ee2a-0609-52ce-e0b8d1d8ebd6?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2019 00:55:24 GMT"
=======
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-5f258c85-038c-778e-f903-e7fac3ba556b?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2019 00:28:36 GMT"
>>>>>>> feature/storage/stg71-base
        "x-ms-return-client-request-id": "true",
        "x-ms-share-quota": "1",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
<<<<<<< HEAD
        "Date": "Fri, 06 Dec 2019 00:55:24 GMT",
        "ETag": "\u00220x8D779E6FA7527EF\u0022",
        "Last-Modified": "Fri, 06 Dec 2019 00:55:24 GMT",
=======
        "Date": "Fri, 06 Dec 2019 00:28:35 GMT",
        "ETag": "\u00220x8D779E33BDEE6C6\u0022",
        "Last-Modified": "Fri, 06 Dec 2019 00:28:36 GMT",
>>>>>>> feature/storage/stg71-base
        "Server": [
          "Windows-Azure-File/1.0",
          "Microsoft-HTTPAPI/2.0"
        ],
<<<<<<< HEAD
        "x-ms-client-request-id": "da3b3839-5566-4b3a-db29-c01162b8af34",
        "x-ms-request-id": "6a22e4ac-f01a-003d-5bcf-abe420000000",
=======
        "x-ms-client-request-id": "326cf055-40b9-5ef9-c185-44d807980b34",
        "x-ms-request-id": "207a5b4f-c01a-0026-2acc-abda23000000",
>>>>>>> feature/storage/stg71-base
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
<<<<<<< HEAD
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-874fe082-ee2a-0609-52ce-e0b8d1d8ebd6?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2019 00:55:24 GMT"
=======
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-5f258c85-038c-778e-f903-e7fac3ba556b?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2019 00:28:36 GMT"
>>>>>>> feature/storage/stg71-base
        "x-ms-return-client-request-id": "true",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
<<<<<<< HEAD
        "Date": "Fri, 06 Dec 2019 00:55:24 GMT",
=======
        "Date": "Fri, 06 Dec 2019 00:28:35 GMT",
>>>>>>> feature/storage/stg71-base
        "Server": [
          "Windows-Azure-File/1.0",
          "Microsoft-HTTPAPI/2.0"
        ],
<<<<<<< HEAD
        "x-ms-client-request-id": "987f4aad-119d-3e70-a3f2-c5958872fb95",
        "x-ms-request-id": "6a22e4ae-f01a-003d-5ccf-abe420000000",
=======
        "x-ms-client-request-id": "d3a47c4c-224d-f7b1-8728-875c704c5dd2",
        "x-ms-request-id": "207a5b54-c01a-0026-2ecc-abda23000000",
>>>>>>> feature/storage/stg71-base
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
<<<<<<< HEAD
    "RandomSeed": "1978060497",
=======
    "RandomSeed": "689155232",
>>>>>>> feature/storage/stg71-base
    "Storage_TestConfigDefault": "ProductionTenant\nseanstagetest\nU2FuaXRpemVk\nhttp://seanstagetest.blob.core.windows.net\nhttp://seanstagetest.file.core.windows.net\nhttp://seanstagetest.queue.core.windows.net\nhttp://seanstagetest.table.core.windows.net\n\n\n\n\nhttp://seanstagetest-secondary.blob.core.windows.net\nhttp://seanstagetest-secondary.file.core.windows.net\nhttp://seanstagetest-secondary.queue.core.windows.net\nhttp://seanstagetest-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanstagetest.blob.core.windows.net/;QueueEndpoint=http://seanstagetest.queue.core.windows.net/;FileEndpoint=http://seanstagetest.file.core.windows.net/;BlobSecondaryEndpoint=http://seanstagetest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanstagetest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanstagetest-secondary.file.core.windows.net/;AccountName=seanstagetest;AccountKey=Sanitized"
  }
}