{
  "Entries": [
    {
<<<<<<< HEAD
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-285fa7ae-4796-6278-cec4-c70c1e35b0ce?sv=2019-02-02\u0026ss=f\u0026srt=c\u0026st=2019-12-05T23%3A55%3A25Z\u0026se=2019-12-06T01%3A55%3A25Z\u0026sp=dc\u0026sig=Sanitized\u0026restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
=======
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-74bae7fb-eada-9fc4-eab1-d195e4f8be83?sv=2019-02-02\u0026ss=f\u0026srt=c\u0026st=2019-12-05T23%3A28%3A37Z\u0026se=2019-12-06T01%3A28%3A37Z\u0026sp=dc\u0026sig=Sanitized\u0026restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
>>>>>>> feature/storage/stg71-base
        "x-ms-return-client-request-id": "true",
        "x-ms-share-quota": "1",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
<<<<<<< HEAD
        "Date": "Fri, 06 Dec 2019 00:55:24 GMT",
        "ETag": "\u00220x8D779E6FAD9DD10\u0022",
        "Last-Modified": "Fri, 06 Dec 2019 00:55:25 GMT",
=======
        "Date": "Fri, 06 Dec 2019 00:28:36 GMT",
        "ETag": "\u00220x8D779E33C43C30A\u0022",
        "Last-Modified": "Fri, 06 Dec 2019 00:28:37 GMT",
>>>>>>> feature/storage/stg71-base
        "Server": [
          "Windows-Azure-File/1.0",
          "Microsoft-HTTPAPI/2.0"
        ],
<<<<<<< HEAD
        "x-ms-client-request-id": "6b198826-e373-3761-ccbf-2861957e150f",
        "x-ms-request-id": "6a22e4b9-f01a-003d-65cf-abe420000000",
=======
        "x-ms-client-request-id": "f8d35144-eac8-c825-848b-cb1019c52ad4",
        "x-ms-request-id": "207a5b68-c01a-0026-40cc-abda23000000",
>>>>>>> feature/storage/stg71-base
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
<<<<<<< HEAD
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-285fa7ae-4796-6278-cec4-c70c1e35b0ce?sv=2019-02-02\u0026ss=f\u0026srt=c\u0026st=2019-12-05T23%3A55%3A25Z\u0026se=2019-12-06T01%3A55%3A25Z\u0026sp=dc\u0026sig=Sanitized\u0026restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
=======
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-74bae7fb-eada-9fc4-eab1-d195e4f8be83?sv=2019-02-02\u0026ss=f\u00[...]
