{
  "Entries": [
    {
<<<<<<< HEAD
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-1c229f43-9f13-44e8-1c67-4739e314d85c?sv=2019-02-02\u0026ss=f\u0026srt=c\u0026st=2019-12-05T23%3A55%3A18Z\u0026se=2019-12-06T01%3A55%3A18Z\u0026sp=dc\u0026sig=Sanitized\u0026restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
=======
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-9e413165-3ef0-2a54-891e-b072de8df895?sv=2019-02-02\u0026ss=f\u0026srt=c\u0026st=2019-12-05T23%3A28%3A30Z\u0026se=2019-12-06T01%3A28%3A30Z\u0026sp=dc\u0026sig=Sanitized\u0026restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
>>>>>>> feature/storage/stg71-base
        "x-ms-return-client-request-id": "true",
        "x-ms-share-quota": "1",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
<<<<<<< HEAD
        "Date": "Fri, 06 Dec 2019 00:55:17 GMT",
        "ETag": "\u00220x8D779E6F68E9F1E\u0022",
        "Last-Modified": "Fri, 06 Dec 2019 00:55:18 GMT",
=======
        "Date": "Fri, 06 Dec 2019 00:28:29 GMT",
        "ETag": "\u00220x8D779E3380AD265\u0022",
        "Last-Modified": "Fri, 06 Dec 2019 00:28:30 GMT",
>>>>>>> feature/storage/stg71-base
        "Server": [
          "Windows-Azure-File/1.0",
          "Microsoft-HTTPAPI/2.0"
        ],
<<<<<<< HEAD
        "x-ms-client-request-id": "c8248e08-cce8-6f0d-a718-8884ea3777ee",
        "x-ms-request-id": "6a22e451-f01a-003d-19cf-abe420000000",
=======
        "x-ms-client-request-id": "353eea12-2d97-c337-b9b4-21bcdae962eb",
        "x-ms-request-id": "207a5a71-c01a-0026-64cc-abda23000000",
>>>>>>> feature/storage/stg71-base
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
<<<<<<< HEAD
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-1c229f43-9f13-44e8-1c67-4739e314d85c?sv=2019-02-02\u0026ss=f\u0026srt=c\u0026st=2019-12-05T23%3A55%3A18Z\u0026se=2019-12-06T01%3A55%3A18Z\u0026sp=dc\u0026sig=Sanitized\u0026restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
=======
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-9e413165-3ef0-2a54-891e-b072de8df895?sv=2019-02-02\u0026ss=f\u00[...]
