{
  "Entries": [
    {
<<<<<<< HEAD
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-fe78a8c6-6fc8-16b6-3c2d-56391751187a?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 05 Dec 2019 04:12:49 GMT"
=======
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-1f4fc5e9-4bc6-53bc-a27f-0acfc643a4b7?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2019 00:28:29 GMT"
>>>>>>> feature/storage/stg71-base
        "x-ms-return-client-request-id": "true",
        "x-ms-share-quota": "1",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
<<<<<<< HEAD
        "Date": "Thu, 05 Dec 2019 04:12:48 GMT",
        "ETag": "\u00220x8D7793963D8FB50\u0022",
        "Last-Modified": "Thu, 05 Dec 2019 04:12:49 GMT",
=======
        "Date": "Fri, 06 Dec 2019 00:28:28 GMT",
        "ETag": "\u00220x8D779E337A42115\u0022",
        "Last-Modified": "Fri, 06 Dec 2019 00:28:29 GMT",
>>>>>>> feature/storage/stg71-base
        "Server": [
          "Windows-Azure-File/1.0",
          "Microsoft-HTTPAPI/2.0"
        ],
<<<<<<< HEAD
        "x-ms-client-request-id": "3360f507-49a3-dde6-59ac-d03fa632530b",
        "x-ms-request-id": "011a0dc5-f01a-0002-1022-ab2c83000000",
=======
        "x-ms-client-request-id": "9cc98272-88f6-549e-b35f-f1a24e7d3f66",
        "x-ms-request-id": "207a5a56-c01a-0026-4dcc-abda23000000",
>>>>>>> feature/storage/stg71-base
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
<<<<<<< HEAD
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-fe78a8c6-6fc8-16b6-3c2d-56391751187a?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 05 Dec 2019 04:12:49 GMT"
=======
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-1f4fc5e9-4bc6-53bc-a27f-0acfc643a4b7?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2019 00:28:29 GMT"
>>>>>>> feature/storage/stg71-base
        "x-ms-return-client-request-id": "true",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
<<<<<<< HEAD
        "Date": "Thu, 05 Dec 2019 04:12:48 GMT",
=======
        "Date": "Fri, 06 Dec 2019 00:28:28 GMT",
>>>>>>> feature/storage/stg71-base
        "Server": [
          "Windows-Azure-File/1.0",
          "Microsoft-HTTPAPI/2.0"
        ],
<<<<<<< HEAD
        "x-ms-client-request-id": "21319294-e4f1-17d7-289f-fcf7eeb90529",
        "x-ms-request-id": "011a0dc8-f01a-0002-1222-ab2c83000000",
=======
        "x-ms-client-request-id": "445dab10-087a-d6c0-6a1f-5ed69151b817",
        "x-ms-request-id": "207a5a58-c01a-0026-4ecc-abda23000000",
>>>>>>> feature/storage/stg71-base
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
<<<<<<< HEAD
    "RandomSeed": "1512704097",
=======
    "RandomSeed": "1047758938",
>>>>>>> feature/storage/stg71-base
    "Storage_TestConfigDefault": "ProductionTenant\nseanstagetest\nU2FuaXRpemVk\nhttp://seanstagetest.blob.core.windows.net\nhttp://seanstagetest.file.core.windows.net\nhttp://seanstagetest.queue.core.windows.net\nhttp://seanstagetest.table.core.windows.net\n\n\n\n\nhttp://seanstagetest-secondary.blob.core.windows.net\nhttp://seanstagetest-secondary.file.core.windows.net\nhttp://seanstagetest-secondary.queue.core.windows.net\nhttp://seanstagetest-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanstagetest.blob.core.windows.net/;QueueEndpoint=http://seanstagetest.queue.core.windows.net/;FileEndpoint=http://seanstagetest.file.core.windows.net/;BlobSecondaryEndpoint=http://seanstagetest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanstagetest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanstagetest-secondary.file.core.windows.net/;AccountName=seanstagetest;AccountKey=Sanitized"
  }
}