{
  "Entries": [
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-96e9ea88-e2cb-e5d2-b359-c7acb4918d2e?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized"
<<<<<<< HEAD
        "traceparent": "00-637db26a5440e84db9cbe40eb4f7fd3b-44cf08ed060d5141-00",
        "User-Agent": [
          "azsdk-net-Storage.Files.Shares/12.0.0-dev.20191203.1\u002Bfb8a3e76e923ddd8093ad431ccf5d23b2c851a14",
          "(.NET Core 4.6.28008.01; Microsoft Windows 10.0.18363 )"
        ],
        "x-ms-client-request-id": "4f91d025-4112-8b14-5c50-b0198c66da16",
        "x-ms-date": "Wed, 04 Dec 2019 05:17:11 GMT",
=======
        "traceparent": "00-3c4308814435a94eb6ebc8f6a81cf0ee-e12e2fef3c849444-00",
        "User-Agent": [
          "azsdk-net-Storage.Files.Shares/12.0.0-dev.20191204.1\u002B5028d723e0cdeb10a227db4dee6ed6afa7cb4fa8",
          "(.NET Core 4.6.28008.01; Microsoft Windows 10.0.18363 )"
        ],
        "x-ms-client-request-id": "4f91d025-4112-8b14-5c50-b0198c66da16",
        "x-ms-date": "Wed, 04 Dec 2019 19:48:01 GMT",
>>>>>>> feature/storage/stg71-base
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-return-client-request-id": "true",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
<<<<<<< HEAD
        "Date": "Wed, 04 Dec 2019 05:17:10 GMT",
        "ETag": "\u00220x8D77879376F1E95\u0022",
        "Last-Modified": "Wed, 04 Dec 2019 05:17:11 GMT",
=======
        "Date": "Wed, 04 Dec 2019 19:48:00 GMT",
        "ETag": "\u00220x8D778F2DEFD53A1\u0022",
        "Last-Modified": "Wed, 04 Dec 2019 19:48:01 GMT",
>>>>>>> feature/storage/stg71-base
        "Server": [
          "Windows-Azure-File/1.0",
          "Microsoft-HTTPAPI/2.0"
        ],
        "x-ms-client-request-id": "4f91d025-4112-8b14-5c50-b0198c66da16",
<<<<<<< HEAD
        "x-ms-request-id": "b5592800-301a-000d-1162-aa5aef000000",
=======
        "x-ms-request-id": "0114e92b-f01a-0002-7edb-aa2c83000000",
>>>>>>> feature/storage/stg71-base
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
[...]
