{
  "Entries": [
    {
<<<<<<< HEAD
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-984a5cd2-2b02-4c20-fd95-64fd62b610e0?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2019 00:55:24 GMT"
=======
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-0db0b8f3-9cb3-1494-bf27-398bff6afe3e?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2019 00:28:36 GMT"
>>>>>>> feature/storage/stg71-base
        "x-ms-return-client-request-id": "true",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
<<<<<<< HEAD
        "Date": "Fri, 06 Dec 2019 00:55:24 GMT",
        "ETag": "\u00220x8D779E6FA8EF176\u0022",
        "Last-Modified": "Fri, 06 Dec 2019 00:55:24 GMT",
=======
        "Date": "Fri, 06 Dec 2019 00:28:35 GMT",
        "ETag": "\u00220x8D779E33BF99A8F\u0022",
        "Last-Modified": "Fri, 06 Dec 2019 00:28:36 GMT",
>>>>>>> feature/storage/stg71-base
        "Server": [
          "Windows-Azure-File/1.0",
          "Microsoft-HTTPAPI/2.0"
        ],
<<<<<<< HEAD
        "x-ms-client-request-id": "8a4e5939-9e02-f2c5-914c-732e4c39f351",
        "x-ms-request-id": "6a22e4af-f01a-003d-5dcf-abe420000000",
=======
        "x-ms-client-request-id": "6fa9673d-1cfb-fc3b-4079-88279a9d76f7",
        "x-ms-request-id": "207a5b5a-c01a-0026-34cc-abda23000000",
>>>>>>> feature/storage/stg71-base
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
<<<<<<< HEAD
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-984a5cd2-2b02-4c20-fd95-64fd62b610e0?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2019 00:55:25 GMT"
=======
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-0db0b8f3-9cb3-1494-bf27-398bff6afe3e?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2019 00:28:36 GMT"
>>>>>>> feature/storage/stg71-base
        "x-ms-return-client-request-id": "true",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/xml"
<<<<<<< HEAD
        "Date": "Fri, 06 Dec 2019 00:55:24 GMT",
=======
        "Date": "Fri, 06 Dec 2019 00:28:35 GMT",
>>>>>>> feature/storage/stg71-base
        "Server": [
          "Windows-Azure-File/1.0",
          "Microsoft-HTTPAPI/2.0"
        ],
<<<<<<< HEAD
        "x-ms-client-request-id": "08c3c450-8567-bade-285f-1f57dd9a9bca",
        "x-ms-error-code": "ShareAlreadyExists",
        "x-ms-request-id": "6a22e4b1-f01a-003d-5ecf-abe420000000",
=======
        "x-ms-client-request-id": "974e505a-8ec1-a242-38bd-900cc75bde05",
        "x-ms-error-code": "ShareAlreadyExists",
        "x-ms-request-id": "207a5b5c-c01a-0026-35cc-abda23000000",
>>>>>>> feature/storage/stg71-base
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003EShareAlreadyExists\u003C/Code\u003E\u003CMessage\u003EThe specified share already exists.\n",
<<<<<<< HEAD
        "RequestId:6a22e4b1-f01a-003d-5ecf-abe420000000\n",
        "Time:2019-12-06T00:55:25.0135429Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
[...]
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-0db0b8f3-9cb3-1494-bf27-398bff6afe3e?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2019 00:28:36 GMT"
>>>>>>> feature/storage/stg71-base
        "x-ms-return-client-request-id": "true",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
<<<<<<< HEAD
        "Date": "Fri, 06 Dec 2019 00:55:24 GMT",
=======
        "Date": "Fri, 06 Dec 2019 00:28:35 GMT",
>>>>>>> feature/storage/stg71-base
        "Server": [
          "Windows-Azure-File/1.0",
          "Microsoft-HTTPAPI/2.0"
        ],
<<<<<<< HEAD
        "x-ms-client-request-id": "87dea83a-ea75-0fe9-e456-6ed5a761a4f8",
        "x-ms-request-id": "6a22e4b3-f01a-003d-60cf-abe420000000",
=======
        "x-ms-client-request-id": "4acc3bfe-de4f-8135-63a0-4a50f5f3dcda",
        "x-ms-request-id": "207a5b5d-c01a-0026-36cc-abda23000000",
>>>>>>> feature/storage/stg71-base
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
<<<<<<< HEAD
    "RandomSeed": "1634359994",
=======
    "RandomSeed": "428673045",
>>>>>>> feature/storage/stg71-base
    "Storage_TestConfigDefault": "ProductionTenant\nseanstagetest\nU2FuaXRpemVk\nhttp://seanstagetest.blob.core.windows.net\nhttp://seanstagetest.file.core.windows.net\nhttp://seanstagetest.queue.core.windows.net\nhttp://seanstagetest.table.core.windows.net\n\n\n\n\nhttp://seanstagetest-secondary.blob.core.windows.net\nhttp://seanstagetest-secondary.file.core.windows.net\nhttp://seanstagetest-secondary.queue.core.windows.net\nhttp://seanstagetest-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanstagetest.blob.core.windows.net/;QueueEndpoint=http://seanstagetest.queue.core.windows.net/;FileEndpoint=http://seanstagetest.file.core.windows.net/;BlobSecondaryEndpoint=http://seanstagetest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanstagetest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanstagetest-secondary.file.core.windows.net/;AccountName=seanstagetest;AccountKey=Sanitized"
  }
}