{
  "Entries": [
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-56acdbe1-b98b-fe36-5ee2-764c525903d5?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized"
<<<<<<< HEAD
        "traceparent": "00-13024802169a954abc8021ef4d10eaa2-ccba3496c68c4146-00",
=======
        "traceparent": "00-2d705cd0df746d4684e9e28fc0833d4a-0b1cc56ab61bbe49-00",
>>>>>>> feature/storage/stg71-base
        "User-Agent": [
          "azsdk-net-Storage.Files.Shares/12.0.0-dev.20191204.1\u002B5028d723e0cdeb10a227db4dee6ed6afa7cb4fa8",
          "(.NET Core 4.6.28008.01; Microsoft Windows 10.0.18363 )"
        ],
        "x-ms-client-request-id": "730e3ca4-75ec-e46f-67bf-b0b27a49f1e5",
<<<<<<< HEAD
        "x-ms-date": "Wed, 04 Dec 2019 23:03:03 GMT",
=======
        "x-ms-date": "Wed, 04 Dec 2019 19:48:01 GMT",
>>>>>>> feature/storage/stg71-base
        "x-ms-return-client-request-id": "true",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
<<<<<<< HEAD
        "Date": "Wed, 04 Dec 2019 23:03:02 GMT",
        "ETag": "\u00220x8D7790E1E2836F5\u0022",
        "Last-Modified": "Wed, 04 Dec 2019 23:03:03 GMT",
=======
        "Date": "Wed, 04 Dec 2019 19:48:00 GMT",
        "ETag": "\u00220x8D778F2DED643C4\u0022",
        "Last-Modified": "Wed, 04 Dec 2019 19:48:01 GMT",
>>>>>>> feature/storage/stg71-base
        "Server": [
          "Windows-Azure-File/1.0",
          "Microsoft-HTTPAPI/2.0"
        ],
        "x-ms-client-request-id": "730e3ca4-75ec-e46f-67bf-b0b27a49f1e5",
<<<<<<< HEAD
        "x-ms-request-id": "d3143641-101a-0035-54f6-aafe2f000000",
=======
        "x-ms-request-id": "0114e923-f01a-0002-77db-aa2c83000000",
>>>>>>> feature/storage/stg71-base
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-56acdbe1-b98b-fe36-5ee2-764c525903d5?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized"
<<<<<<< HEAD
        "traceparent": "00-9a6c129040f75447a025209878756778-3ced38c4cc70c441-00",
=======
        "traceparent": "00-cb0acc5fc059bc438c3a5fde153ecdaa-01a974daee25014a-00",
>>>>>>> feature/storage/stg71-base
        "User-Agent": [
          "azsdk-net-Storage.Files.Shares/12.0.0-dev.20191204.1\u002B5028d723e0cdeb10a227db4dee6ed6afa7cb4fa8",
          "(.NET Core 4.6.28008.01; Microsoft Windows 10.0.18363 )"
        ],
        "x-ms-client-request-id": "15a7e2c1-904b-ede9-203f-6f65f7c7e4b0",
<<<<<<< HEAD
        "x-ms-date": "Wed, 04 Dec 2019 23:03:03 GMT",
=======
        "x-ms-date": "Wed, 04 Dec 2019 19:48:01 GMT",
>>>>>>> feature/storage/stg71-base
        "x-ms-return-client-request-id": "true",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/xml"
<<<<<<< HEAD
        "Date": "Wed, 04 Dec 2019 23:03:02 GMT",
=======
        "Date": "Wed, 04 Dec 2019 19:48:00 GMT",
>>>>>>> feature/storage/stg71-base
        "Server": [
          "Windows-Azure-File/1.0",
          "Microsoft-HTTPAPI/2.0"
        ],
        "x-ms-client-request-id": "15a7e2c1-904b-ede9-203f-6f65f7c7e4b0",
        "x-ms-error-code": "ShareAlreadyExists",
<<<<<<< HEAD
        "x-ms-request-id": "d3143645-101a-0035-56f6-aafe2f000000",
=======
        "x-ms-request-id": "0114e925-f01a-0002-78db-aa2c83000000",
>>>>>>> feature/storage/stg71-base
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003EShareAlreadyExists\u003C/Code\u003E\u003CMessage\u003EThe specified share already exists.\n",
<<<<<<< HEAD
        "RequestId:d3143645-101a-0035-56f6-aafe2f000000\n",
        "Time:2019-12-04T23:03:03.9519069Z\u003C/Message\u003E\u003C/Error\u003E"
=======
        "RequestId:0114e925-f01a-0002-78db-aa2c83000000\n",
        "Time:2019-12-04T19:48:01.3057281Z\u003C/Message\u003E\u003C/Error\u003E"
>>>>>>> feature/storage/stg71-base
      ]
    },
[...]
