{
  "Entries": [
    {
      "RequestUri": "https://seanstagetest.file.core.windows.net/test-share-40fabc2d-bce7-9bcf-a3e2-045f0bd2855c?sv=2019-02-02\u0026ss=bfq\u0026srt=sco\u0026spr=https\u0026se=2019-12-06T01%3A55%3A19Z\u0026sp=rwdlacup\u0026sig=Sanitized\u0026restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D779E6F78236CF\u0022",
        "Last-Modified": "Fri, 06 Dec 2019 00:55:19 GMT",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanstagetest.file.core.windows.net/test-share-40fabc2d-bce7-9bcf-a3e2-045f0bd2855c/test-directory-8d89e0be-e7ae-bf72-4d43-f0b7e67010fc?sv=2019-02-02\u0026ss=bfq\u0026srt=sco\u0026spr=https\u0026se=2019-12-06T01%3A55%3A19Z\u0026sp=rwdlacup\u0026sig=Sanitized\u0026restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D779E6F7906531\u0022",
        "Last-Modified": "Fri, 06 Dec 2019 00:55:19 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2019-12-06T00:55:19.9088945Z",
        "x-ms-file-creation-time": "2019-12-06T00:55:19.9088945Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2019-12-06T00:55:19.9088945Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "7855875120676328179*422928105932735866",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seanstagetest.file.core.windows.net/test-share-40fabc2d-bce7-9bcf-a3e2-045f0bd2855c/test-directory-8d89e0be-e7ae-bf72-4d43-f0b7e67010fc/test-file-57e62d58-ec14-66c9-c6f3-4c28d5f1a480?sv=2019-02-02\u0026ss=bfq\u0026srt=sco\u0026spr=https\u0026se=2019-12-06T01%3A55%3A19Z\u0026sp=rwdlacup\u0026sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-content-length": "1024",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D779E6F7BEC821\u0022",
        "Last-Modified": "Fri, 06 Dec 2019 00:55:20 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2019-12-06T00:55:20.2128929Z",
        "x-ms-file-creation-time": "2019-12-06T00:55:20.2128929Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2019-12-06T00:55:20.2128929Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "12501538048846835188*422928105932735866",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seanstagetest.file.core.windows.net/test-share-40fabc2d-bce7-9bcf-a3e2-045f0bd2855c/test-directory-8d89e0be-e7ae-bf72-4d43-f0b7e67010fc/test-file-57e62d58-ec14-66c9-c6f3-4c28d5f1a480?sv=2019-02-02\u0026ss=bfq\u0026srt=sco\u0026spr=https\u0026se=2019-12-06T01%3A55%3A19Z\u0026sp=rwdlacup\u0026sig=Sanitized\u0026comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2019-07-07",
        "x-ms-write": "update"
      },
      "RequestBody": "S7A3QLCuOIpqZpWJiw1ue7nEwijfI5eA2Z15fHOlw27pO0FDwxswYTJmgKNo24FWTDPHbhcsEScZtmYSNLsWxaMnoFDMK7edk2H2eKPzGP4bIzBA3lRWvCkZKgy0HSx2ULsAQTsxiSF7Kdq2NpmEJZ5o9xGL1uZO0eMmsgGq6XU1fyfn89bD6ZkPxLV6oIaPlQRuTCYa63nUsXBXC9cg0EBlgLZxnDLHpQ13fBEx0zBclx38PJ1OGpSuE0Fma97C7vR1FR/QHfjSpqYZo25oo90/\u002B3S5I5SiFmYhw4nwYTkutI0dvL4Ri3kkKpX2NXclRW9jJ29qCctf0v\u002B5rlpv4UVs6u7hSucfLW/6lPn\u002BrODv\u002B30ZjDnKw6vBvem/WNwftUhQiUqIRPuIRPkAb3XSYSUeybPcVlULoidDH4z9X9WS29\u002Bxri[...]
[...]
    {
      "RequestUri": "https://seanstagetest.file.core.windows.net/test-share-40fabc2d-bce7-9bcf-a3e2-045f0bd2855c?sv=2019-02-02\u0026ss=bfq\u0026srt=sco\u0026spr=https\u0026se=2019-12-06T01%3A55%3A19Z\u0026sp=rwdlacup\u0026sig=Sanitized\u0026restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanstagetest.file.core.windows.net/test-share-dccc5604-8ef9-9230-16ac-d0aa20012423?sv=2019-02-02\u0026ss=bfq\u0026srt=sco\u0026spr=https\u0026se=2019-12-06T01%3A55%3A19Z\u0026sp=rwdlacup\u0026sig=Sanitized\u0026restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2019-12-05T16:55:19.4694179-08:00",
    "RandomSeed": "1527865725",
    "Storage_TestConfigDefault": "ProductionTenant\nseanstagetest\nU2FuaXRpemVk\nhttp://seanstagetest.blob.core.windows.net\nhttp://seanstagetest.file.core.windows.net\nhttp://seanstagetest.queue.core.windows.net\nhttp://seanstagetest.table.core.windows.net\n\n\n\n\nhttp://seanstagetest-secondary.blob.core.windows.net\nhttp://seanstagetest-secondary.file.core.windows.net\nhttp://seanstagetest-secondary.queue.core.windows.net\nhttp://seanstagetest-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanstagetest.blob.core.windows.net/;QueueEndpoint=http://seanstagetest.queue.core.windows.net/;FileEndpoint=http://seanstagetest.file.core.windows.net/;BlobSecondaryEndpoint=http://seanstagetest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanstagetest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanstagetest-secondary.file.core.windows.net/;AccountName=seanstagetest;AccountKey=Sanitized"
  }
}