{
  "Entries": [
    {
<<<<<<< HEAD
      "RequestUri": "https://seanstagetest.file.core.windows.net/test-share-2864f41f-e291-c6bd-0ab0-e32ff88290c8?sv=2019-02-02\u0026ss=bfq\u0026srt=sco\u0026spr=https\u0026se=2019-12-04T06%3A17%3A05Z\u0026sp=rwdlacup\u0026sig=Sanitized\u0026restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
=======
      "RequestUri": "https://seanstagetest.file.core.windows.net/test-share-2864f41f-e291-c6bd-0ab0-e32ff88290c8?sv=2019-02-02\u0026ss=bfq\u0026srt=sco\u0026spr=https\u0026se=2019-12-04T20%3A47%3A55Z\u0026sp=rwdlacup\u0026sig=Sanitized\u0026restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
>>>>>>> feature/storage/stg71-base
          "(.NET Core 4.6.28008.01; Microsoft Windows 10.0.18363 )"
        ],
        "x-ms-client-request-id": "6f2132a4-b0ee-8eef-f1c8-50870b96d005",
        "x-ms-return-client-request-id": "true",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
<<<<<<< HEAD
        "Date": "Wed, 04 Dec 2019 05:17:06 GMT",
        "ETag": "\u00220x8D77879345F2726\u0022",
        "Last-Modified": "Wed, 04 Dec 2019 05:17:06 GMT",
=======
        "Date": "Wed, 04 Dec 2019 19:47:55 GMT",
        "ETag": "\u00220x8D778F2DBCFB51B\u0022",
        "Last-Modified": "Wed, 04 Dec 2019 19:47:56 GMT",
>>>>>>> feature/storage/stg71-base
        "Server": [
          "Windows-Azure-File/1.0",
          "Microsoft-HTTPAPI/2.0"
        ],
        "x-ms-client-request-id": "6f2132a4-b0ee-8eef-f1c8-50870b96d005",
<<<<<<< HEAD
        "x-ms-request-id": "34a2294b-d01a-0015-6c62-aa8588000000",
=======
        "x-ms-request-id": "605497fa-701a-000c-6fdb-aa0533000000",
>>>>>>> feature/storage/stg71-base
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
<<<<<<< HEAD
      "RequestUri": "https://seanstagetest.file.core.windows.net/test-share-2864f41f-e291-c6bd-0ab0-e32ff88290c8/test-directory-3dba99fc-a50c-b5bc-61b4-0069cfa2291f?sv=2019-02-02\u0026ss=bfq\u0026srt=sco\u0026spr=https\u0026se=2019-12-04T06%3A17%3A05Z\u0026sp=rwdlacup\u0026sig=Sanitized\u0026restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
=======
      "RequestUri": "https://seanstagetest.file.core.windows.net/test-share-2864f41f-e291-c6bd-0ab0-e32ff88290c8/test-directory-3dba99fc-a50c-b5bc-61b4-0069cfa2291f?sv=2019-02-02\u0026ss=bfq\u0026srt=sco\u0026spr=https\u0026se=2019-12-04T20%3A47%3A55Z\u0026sp=rwdlacup\u0026sig=Sanitized\u0026restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
>>>>>>> feature/storage/stg71-base
          "(.NET Core 4.6.28008.01; Microsoft Windows 10.0.18363 )"
        ],
        "x-ms-client-request-id": "d863bc5c-ddfe-ff1f-766b-0d39af86be4e",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-return-client-request-id": "true",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
<<<<<<< HEAD
        "Date": "Wed, 04 Dec 2019 05:17:06 GMT",
        "ETag": "\u00220x8D77879347526AB\u0022",
        "Last-Modified": "Wed, 04 Dec 2019 05:17:06 GMT",
=======
        "Date": "Wed, 04 Dec 2019 19:47:55 GMT",
        "ETag": "\u00220x8D778F2DBDF22DD\u0022",
        "Last-Modified": "Wed, 04 Dec 2019 19:47:56 GMT",
>>>>>>> feature/storage/stg71-base
        "Server": [
          "Windows-Azure-File/1.0",
          "Microsoft-HTTPAPI/2.0"
        ],
        "x-ms-client-request-id": "d863bc5c-ddfe-ff1f-766b-0d39af86be4e",
        "x-ms-file-attributes": "Directory",
<<<<<<< HEAD
        "x-ms-file-change-time": "2019-12-04T05:17:06.2683307Z",
        "x-ms-file-creation-time": "2019-12-04T05:17:06.2683307Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2019-12-04T05:17:06.2683307Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "7855875120676328179*422928105932735866",
        "x-ms-request-id": "34a22951-d01a-0015-7062-aa8588000000",
=======
        "x-ms-file-change-time": "2019-12-04T19:47:56.2467037Z",
        "x-ms-file-creation-time": "2019-12-04T19:47:56.2467037Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2019-12-04T19:47:56.2467037Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "7855875120676328179*422928105932735866",
        "x-ms-request-id": "60549800-701a-000c-73db-aa0533000000",
>>>>>>> feature/storage/stg71-base
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
<<<<<<< HEAD
      "RequestUri": "https://seanstagetest.file.core.windows.net/test-share-b6825d3f-9196-9b02-d809-d727f604b349?sv=2019-02-02\u0026ss=bfq\u0026srt=sco\u0026spr=https\u0026se=2019-12-04T06%3A17%3A05Z\u0026sp=rwdlacup\u0026sig=Sanitized\u0026restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
=======
      "RequestUri": "https://seanstagetest.file.core.windows.net/test-sha[...]
