{
  "Entries": [
    {
<<<<<<< HEAD
      "RequestUri": "https://seanstagetest.file.core.windows.net/test-share-45af3231-e881-4260-bb85-b6bfde626ef1?sv=2019-02-02\u0026ss=bfq\u0026srt=sco\u0026spr=https\u0026se=2019-12-04T06%3A17%3A12Z\u0026sp=rwdlacup\u0026sig=Sanitized\u0026restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
=======
      "RequestUri": "https://seanstagetest.file.core.windows.net/test-share-45af3231-e881-4260-bb85-b6bfde626ef1?sv=2019-02-02\u0026ss=bfq\u0026srt=sco\u0026spr=https\u0026se=2019-12-04T20%3A48%3A02Z\u0026sp=rwdlacup\u0026sig=Sanitized\u0026restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
>>>>>>> feature/storage/stg71-base
          "(.NET Core 4.6.28008.01; Microsoft Windows 10.0.18363 )"
        ],
        "x-ms-client-request-id": "d71047ee-a281-42f1-0b1a-0b0fbf7b7281",
        "x-ms-return-client-request-id": "true",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
<<<<<<< HEAD
        "Date": "Wed, 04 Dec 2019 05:17:12 GMT",
        "ETag": "\u00220x8D7787938429E16\u0022",
        "Last-Modified": "Wed, 04 Dec 2019 05:17:12 GMT",
=======
        "Date": "Wed, 04 Dec 2019 19:48:02 GMT",
        "ETag": "\u00220x8D778F2DFDFBFE5\u0022",
        "Last-Modified": "Wed, 04 Dec 2019 19:48:02 GMT",
>>>>>>> feature/storage/stg71-base
        "Server": [
          "Windows-Azure-File/1.0",
          "Microsoft-HTTPAPI/2.0"
        ],
        "x-ms-client-request-id": "d71047ee-a281-42f1-0b1a-0b0fbf7b7281",
<<<<<<< HEAD
        "x-ms-request-id": "34a2299f-d01a-0015-3762-aa8588000000",
=======
        "x-ms-request-id": "605498a1-701a-000c-0cdb-aa0533000000",
>>>>>>> feature/storage/stg71-base
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
<<<<<<< HEAD
      "RequestUri": "https://seanstagetest.file.core.windows.net/test-share-45af3231-e881-4260-bb85-b6bfde626ef1/test-directory-cd05117d-1c1b-4826-3e4a-1ad7bdef3ecf?sv=2019-02-02\u0026ss=bfq\u0026srt=sco\u0026spr=https\u0026se=2019-12-04T06%3A17%3A12Z\u0026sp=rwdlacup\u0026sig=Sanitized\u0026restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
=======
      "RequestUri": "https://seanstagetest.file.core.windows.net/test-share-45af3231-e881-4260-bb85-b6bfde626ef1/test-directory-cd05117d-1c1b-4826-3e4a-1ad7bdef3ecf?sv=2019-02-02\u0026ss=bfq\u0026srt=sco\u0026spr=https\u0026se=2019-12-04T20%3A48%3A02Z\u0026sp=rwdlacup\u0026sig=Sanitized\u0026restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
>>>>>>> feature/storage/stg71-base
          "(.NET Core 4.6.28008.01; Microsoft Windows 10.0.18363 )"
        ],
        "x-ms-client-request-id": "45b9ae67-2564-d185-20c8-9936881a851c",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-return-client-request-id": "true",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
<<<<<<< HEAD
        "Date": "Wed, 04 Dec 2019 05:17:12 GMT",
        "ETag": "\u00220x8D778793850401A\u0022",
        "Last-Modified": "Wed, 04 Dec 2019 05:17:12 GMT",
=======
        "Date": "Wed, 04 Dec 2019 19:48:02 GMT",
        "ETag": "\u00220x8D778F2DFEE9182\u0022",
        "Last-Modified": "Wed, 04 Dec 2019 19:48:03 GMT",
>>>>>>> feature/storage/stg71-base
        "Server": [
          "Windows-Azure-File/1.0",
          "Microsoft-HTTPAPI/2.0"
        ],
        "x-ms-client-request-id": "45b9ae67-2564-d185-20c8-9936881a851c",
        "x-ms-file-attributes": "Directory",
<<<<<<< HEAD
        "x-ms-file-change-time": "2019-12-04T05:17:12.7373850Z",
        "x-ms-file-creation-time": "2019-12-04T05:17:12.7373850Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2019-12-04T05:17:12.7373850Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "7855875120676328179*422928105932735866",
        "x-ms-request-id": "34a229a3-d01a-0015-3962-aa8588000000",
=======
        "x-ms-file-change-time": "2019-12-04T19:48:03.0587266Z",
        "x-ms-file-creation-time": "2019-12-04T19:48:03.0587266Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2019-12-04T19:48:03.0587266Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "7855875120676328179*422928105932735866",
        "x-ms-request-id": "605498a4-701a-000c-0edb-aa0533000000",
>>>>>>> feature/storage/stg71-base
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
<<<<<<< HEAD
      "RequestUri": "https://seanstagetest.file.core.windows.net/test-share-b58cbe9b-eeb1-9526-3972-29e5d03907a5?sv=2019-02-02\u0026ss=bfq\u0026srt=sco\u0026spr=https\u0026se=2019-12-04T06%3A17%3A12Z\u0026sp=rwdlacup\u0026sig=Sanitized\u0026restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
=======
      "RequestUri": "https://seanstagetest.file.core.windows.net/test-sha[...]
