{
  "Entries": [
    {
      "RequestUri": "https://seanstagetest.file.core.windows.net/test-share-2e062895-f48d-c133-aa8e-1f3fa2dfc97f?sv=2019-02-02\u0026ss=bfq\u0026srt=sco\u0026spr=https\u0026se=2019-12-11T21%3A42%3A35Z\u0026sp=rwdlacup\u0026sig=Sanitized\u0026restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D77E7AA7D6BBA1\u0022",
        "Last-Modified": "Wed, 11 Dec 2019 20:42:36 GMT",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanstagetest.file.core.windows.net/test-share-2e062895-f48d-c133-aa8e-1f3fa2dfc97f/test-directory-18714137-3ff3-90f5-f72f-8de4666f07aa?sv=2019-02-02\u0026ss=bfq\u0026srt=sco\u0026spr=https\u0026se=2019-12-11T21%3A42%3A35Z\u0026sp=rwdlacup\u0026sig=Sanitized\u0026restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D77E7AA7FFF31B\u0022",
        "Last-Modified": "Wed, 11 Dec 2019 20:42:36 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2019-12-11T20:42:36.5893403Z",
        "x-ms-file-creation-time": "2019-12-11T20:42:36.5893403Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2019-12-11T20:42:36.5893403Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "7855875120676328179*422928105932735866",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seanstagetest.file.core.windows.net/test-share-2e062895-f48d-c133-aa8e-1f3fa2dfc97f/test-directory-18714137-3ff3-90f5-f72f-8de4666f07aa/test-file-9faa00bf-ab49-ec79-e268-90928a33e308?sv=2019-02-02\u0026ss=bfq\u0026srt=sco\u0026spr=https\u0026se=2019-12-11T21%3A42%3A35Z\u0026sp=rwdlacup\u0026sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-content-length": "1024",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D77E7AA835FA0B\u0022",
        "Last-Modified": "Wed, 11 Dec 2019 20:42:36 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2019-12-11T20:42:36.9434123Z",
        "x-ms-file-creation-time": "2019-12-11T20:42:36.9434123Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2019-12-11T20:42:36.9434123Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "12501538048846835188*422928105932735866",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seanstagetest.file.core.windows.net/test-share-2e062895-f48d-c133-aa8e-1f3fa2dfc97f/test-directory-18714137-3ff3-90f5-f72f-8de4666f07aa/test-file-9faa00bf-ab49-ec79-e268-90928a33e308?sv=2019-02-02\u0026ss=bfq\u0026srt=sco\u0026spr=https\u0026se=2019-12-11T21%3A42%3A35Z\u0026sp=rwdlacup\u0026sig=Sanitized\u0026comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2019-07-07",
        "x-ms-write": "update"
      },
      "RequestBody": "JaGTLsCLiXcL7Y3bSpKmU3H1\u002BbvbcvWWa73hBTw6Tw2jcQs65MsDfrfvcaaN9wy2npBvJKb1oLKs/MMDqYQ70J5/N9mHa26l8XoD6wFOCXSwK2eryytnrdBYjugHANUztKAIDb8zLzIhyjIr8bWxXfNPUn0djwVzF4oILtyGnfGl0DZgRvu0fPw0iQD4O7wbpzH1uK1XFiWalPY1KwBWmyxBhiF\u002BURf3mtWB6AUFetvN7YerkeVDTbkRxbEFf1H73u7Ut7WanVYa/R3X1S0flRoaZz54qwlG/ThnbItl8RuDhQoXMcMmM08xkJTIbHeL8i\u002BX6xgTgjLljbl8MjDKtAsCVFAiCGRW8zTuRxp1fpHA23pczgYCcALYMqMJqQAfZtyIxhcnaerKQPfjJTsYcA4ovFe2buUF/\u002BRNStXATUk0z\u002BE\u0[...]
[...]
    {
      "RequestUri": "https://seanstagetest.file.core.windows.net/test-share-2e062895-f48d-c133-aa8e-1f3fa2dfc97f?sv=2019-02-02\u0026ss=bfq\u0026srt=sco\u0026spr=https\u0026se=2019-12-11T21%3A42%3A35Z\u0026sp=rwdlacup\u0026sig=Sanitized\u0026restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanstagetest.file.core.windows.net/test-share-c2675be7-0917-3f53-8318-6204a01a56de?sv=2019-02-02\u0026ss=bfq\u0026srt=sco\u0026spr=https\u0026se=2019-12-11T21%3A42%3A35Z\u0026sp=rwdlacup\u0026sig=Sanitized\u0026restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2019-12-11T12:42:35.7131191-08:00",
    "RandomSeed": "102425683",
    "Storage_TestConfigDefault": "ProductionTenant\nseanstagetest\nU2FuaXRpemVk\nhttp://seanstagetest.blob.core.windows.net\nhttp://seanstagetest.file.core.windows.net\nhttp://seanstagetest.queue.core.windows.net\nhttp://seanstagetest.table.core.windows.net\n\n\n\n\nhttp://seanstagetest-secondary.blob.core.windows.net\nhttp://seanstagetest-secondary.file.core.windows.net\nhttp://seanstagetest-secondary.queue.core.windows.net\nhttp://seanstagetest-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanstagetest.blob.core.windows.net/;QueueEndpoint=http://seanstagetest.queue.core.windows.net/;FileEndpoint=http://seanstagetest.file.core.windows.net/;BlobSecondaryEndpoint=http://seanstagetest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanstagetest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanstagetest-secondary.file.core.windows.net/;AccountName=seanstagetest;AccountKey=Sanitized"
  }
}