{
  "Entries": [
    {
      "RequestUri": "https://seanstagetest.file.core.windows.net/test-share-cd9a697e-f11b-7278-e0aa-205dec2a5f28?sv=2019-07-07\u0026ss=bfq\u0026srt=sco\u0026spr=https\u0026se=2019-12-12T00%3A09%3A44Z\u0026sp=rwdlacup\u0026sig=Sanitized\u0026restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D77E8F363A6E9C\u0022",
        "Last-Modified": "Wed, 11 Dec 2019 23:09:45 GMT",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanstagetest.file.core.windows.net/test-share-cd9a697e-f11b-7278-e0aa-205dec2a5f28/test-directory-717e1ccb-48b8-8052-6376-2613919aaef3?sv=2019-07-07\u0026ss=bfq\u0026srt=sco\u0026spr=https\u0026se=2019-12-12T00%3A09%3A44Z\u0026sp=rwdlacup\u0026sig=Sanitized\u0026restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D77E8F36489BD3\u0022",
        "Last-Modified": "Wed, 11 Dec 2019 23:09:45 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2019-12-11T23:09:45.2365779Z",
        "x-ms-file-creation-time": "2019-12-11T23:09:45.2365779Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2019-12-11T23:09:45.2365779Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "7855875120676328179*422928105932735866",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seanstagetest.file.core.windows.net/test-share-cd9a697e-f11b-7278-e0aa-205dec2a5f28/test-directory-717e1ccb-48b8-8052-6376-2613919aaef3/test-file-1a9d4f5b-160e-0fe7-f9ac-dc825785826d?sv=2019-07-07\u0026ss=bfq\u0026srt=sco\u0026spr=https\u0026se=2019-12-12T00%3A09%3A44Z\u0026sp=rwdlacup\u0026sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-content-length": "1024",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D77E8F3675C4DA\u0022",
        "Last-Modified": "Wed, 11 Dec 2019 23:09:45 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2019-12-11T23:09:45.5325402Z",
        "x-ms-file-creation-time": "2019-12-11T23:09:45.5325402Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2019-12-11T23:09:45.5325402Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "12501538048846835188*422928105932735866",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seanstagetest.file.core.windows.net/test-share-cd9a697e-f11b-7278-e0aa-205dec2a5f28/test-directory-717e1ccb-48b8-8052-6376-2613919aaef3/test-file-1a9d4f5b-160e-0fe7-f9ac-dc825785826d?sv=2019-07-07\u0026ss=bfq\u0026srt=sco\u0026spr=https\u0026se=2019-12-12T00%3A09%3A44Z\u0026sp=rwdlacup\u0026sig=Sanitized\u0026comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2019-07-07",
        "x-ms-write": "update"
      },
      "RequestBody": "mkq2/ShlZwZ6\u002B1sXl0wUt7JmNI/F8PXW3b9wpNnf/7mnOC9R4bECViWkh/3hq\u002BHvHSkNl6nHPalV4B9o9MIsm/yib18dwtUAY91pIGn39DLegYav0WgP4PqF\u002BwGSmmFjeOsBPzuC0VtTDDPLXhxAXuzsinI7fcqUk49kmMbUbsl8Bah99rT3W68rW8Q0Q4LeRJ0UpRDuJ/ohbaysHTmUf55qT1h0w2c39S7CECEFX08NhlMov8m5jd6tW4gISz12l9wmyvMqaYE23bDiKxfZHA5cnpfma7/VsMF5xmfeLqnwTHhF35Rc4hzS8uIY12HH1D96rKymjywcUBkxsKMZV64G8d\u002Bekzx5/7x7FHjcvNlfsfEnZIL9Sr1LKI56KjJ4uJs0EuWCKUEDAKzwKnu0P5RA0v6y8fMsCaciUmqt/9WJAlzcqKn03Yi[...]
[...]
    {
      "RequestUri": "https://seanstagetest.file.core.windows.net/test-share-cd9a697e-f11b-7278-e0aa-205dec2a5f28?sv=2019-07-07\u0026ss=bfq\u0026srt=sco\u0026spr=https\u0026se=2019-12-12T00%3A09%3A44Z\u0026sp=rwdlacup\u0026sig=Sanitized\u0026restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanstagetest.file.core.windows.net/test-share-73d500c2-4263-9043-8a74-819d85a4df03?sv=2019-07-07\u0026ss=bfq\u0026srt=sco\u0026spr=https\u0026se=2019-12-12T00%3A09%3A44Z\u0026sp=rwdlacup\u0026sig=Sanitized\u0026restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2019-12-11T15:09:44.8464456-08:00",
    "RandomSeed": "1116196004",
    "Storage_TestConfigDefault": "ProductionTenant\nseanstagetest\nU2FuaXRpemVk\nhttp://seanstagetest.blob.core.windows.net\nhttp://seanstagetest.file.core.windows.net\nhttp://seanstagetest.queue.core.windows.net\nhttp://seanstagetest.table.core.windows.net\n\n\n\n\nhttp://seanstagetest-secondary.blob.core.windows.net\nhttp://seanstagetest-secondary.file.core.windows.net\nhttp://seanstagetest-secondary.queue.core.windows.net\nhttp://seanstagetest-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanstagetest.blob.core.windows.net/;QueueEndpoint=http://seanstagetest.queue.core.windows.net/;FileEndpoint=http://seanstagetest.file.core.windows.net/;BlobSecondaryEndpoint=http://seanstagetest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanstagetest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanstagetest-secondary.file.core.windows.net/;AccountName=seanstagetest;AccountKey=Sanitized\nseanscope1"
  }
}