{
  "Entries": [
    {
      "RequestUri": "https://seanstagetest.file.core.windows.net/test-share-8063d642-cd2c-e42c-c0da-3d6ac0a6e174?sv=2019-02-02\u0026ss=bfq\u0026srt=sco\u0026spr=https\u0026se=2019-12-10T07%3A02%3A31Z\u0026sp=rwdlacup\u0026sig=Sanitized\u0026restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D77D368B7023BB\u0022",
        "Last-Modified": "Tue, 10 Dec 2019 06:02:31 GMT",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanstagetest.file.core.windows.net/test-share-8063d642-cd2c-e42c-c0da-3d6ac0a6e174/test-directory-e7508a9f-a4a5-6755-b319-bd2105a1b185?sv=2019-02-02\u0026ss=bfq\u0026srt=sco\u0026spr=https\u0026se=2019-12-10T07%3A02%3A31Z\u0026sp=rwdlacup\u0026sig=Sanitized\u0026restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D77D368B7E2036\u0022",
        "Last-Modified": "Tue, 10 Dec 2019 06:02:31 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2019-12-10T06:02:31.8219318Z",
        "x-ms-file-creation-time": "2019-12-10T06:02:31.8219318Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2019-12-10T06:02:31.8219318Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "7855875120676328179*422928105932735866",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seanstagetest.file.core.windows.net/test-share-8063d642-cd2c-e42c-c0da-3d6ac0a6e174/test-directory-e7508a9f-a4a5-6755-b319-bd2105a1b185/test-file-33ee9f14-6d87-b0ae-4050-73bdecfc1c9b?sv=2019-02-02\u0026ss=bfq\u0026srt=sco\u0026spr=https\u0026se=2019-12-10T07%3A02%3A31Z\u0026sp=rwdlacup\u0026sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-content-length": "1024",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D77D368BA50980\u0022",
        "Last-Modified": "Tue, 10 Dec 2019 06:02:32 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2019-12-10T06:02:32.0769408Z",
        "x-ms-file-creation-time": "2019-12-10T06:02:32.0769408Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2019-12-10T06:02:32.0769408Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "12501538048846835188*422928105932735866",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seanstagetest.file.core.windows.net/test-share-8063d642-cd2c-e42c-c0da-3d6ac0a6e174/test-directory-e7508a9f-a4a5-6755-b319-bd2105a1b185/test-file-33ee9f14-6d87-b0ae-4050-73bdecfc1c9b?sv=2019-02-02\u0026ss=bfq\u0026srt=sco\u0026spr=https\u0026se=2019-12-10T07%3A02%3A31Z\u0026sp=rwdlacup\u0026sig=Sanitized\u0026comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2019-07-07",
        "x-ms-write": "update"
      },
      "RequestBody": "0GsTF1UBJ1bMzZY5ZErU1lleKlFFvdCnlB7MN/EXul/qOVa6/uumBLUwqUfDQypBEI4EAfhDjROaa4M3NfBltBM2Tyv0GtdtuCacFRSI5FD0iiZiE7hnpqtCH5Nob87FyvQ0jPT/Tfa3lknRp3j/EYcyQ6vJAqFbz6h/sfpDBUlY10ofVFdc9Dwwq31vlf8yQw0LNiwi\u002B8dT2LxLf5z7c5AAec8t370v1k5vmVcj6zqpTG7tOM8dNduDzHuaEHSgNDfsbxsvBGNQ3GDds2JvL\u002B2CoTMuDjvB4kT0qhNBlMXZz2UfN3weekcKnVtvP4J5E5yOGG5BcSX8KozXOlpPDkeaBOT8UPhwZCfrI3HfUqPBepd2snxWl10/IwzwRj/tuo4U1DuefMOkHrNHVk60HdjpFsDC2FvKRGyGvSzrgB3o/Wniy31nI/7U0pTIDkAPi[...]
[...]
    {
      "RequestUri": "https://seanstagetest.file.core.windows.net/test-share-8063d642-cd2c-e42c-c0da-3d6ac0a6e174?sv=2019-02-02\u0026ss=bfq\u0026srt=sco\u0026spr=https\u0026se=2019-12-10T07%3A02%3A31Z\u0026sp=rwdlacup\u0026sig=Sanitized\u0026restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanstagetest.file.core.windows.net/test-share-c493cfd8-299f-9d51-5a28-fdd3ff4a3bb2?sv=2019-02-02\u0026ss=bfq\u0026srt=sco\u0026spr=https\u0026se=2019-12-10T07%3A02%3A31Z\u0026sp=rwdlacup\u0026sig=Sanitized\u0026restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2019-12-09T22:02:31.3913843-08:00",
    "RandomSeed": "890707010",
    "Storage_TestConfigDefault": "ProductionTenant\nseanstagetest\nU2FuaXRpemVk\nhttp://seanstagetest.blob.core.windows.net\nhttp://seanstagetest.file.core.windows.net\nhttp://seanstagetest.queue.core.windows.net\nhttp://seanstagetest.table.core.windows.net\n\n\n\n\nhttp://seanstagetest-secondary.blob.core.windows.net\nhttp://seanstagetest-secondary.file.core.windows.net\nhttp://seanstagetest-secondary.queue.core.windows.net\nhttp://seanstagetest-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanstagetest.blob.core.windows.net/;QueueEndpoint=http://seanstagetest.queue.core.windows.net/;FileEndpoint=http://seanstagetest.file.core.windows.net/;BlobSecondaryEndpoint=http://seanstagetest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanstagetest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanstagetest-secondary.file.core.windows.net/;AccountName=seanstagetest;AccountKey=Sanitized"
  }
}