{
  "Entries": [
    {
<<<<<<< HEAD
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-628180ae-2677-07ab-8728-60dec392ede6?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2019 00:55:20 GMT"
=======
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-8baa2188-e23c-7c93-fafc-e59810e26f36?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2019 00:28:32 GMT"
>>>>>>> feature/storage/stg71-base
        "x-ms-return-client-request-id": "true",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
<<<<<<< HEAD
        "Date": "Fri, 06 Dec 2019 00:55:20 GMT",
        "ETag": "\u00220x8D779E6F8354A3B\u0022",
        "Last-Modified": "Fri, 06 Dec 2019 00:55:20 GMT",
=======
        "Date": "Fri, 06 Dec 2019 00:28:32 GMT",
        "ETag": "\u00220x8D779E339AFA9AB\u0022",
        "Last-Modified": "Fri, 06 Dec 2019 00:28:32 GMT",
>>>>>>> feature/storage/stg71-base
        "Server": [
          "Windows-Azure-File/1.0",
          "Microsoft-HTTPAPI/2.0"
        ],
<<<<<<< HEAD
        "x-ms-client-request-id": "43413fd6-3752-d58b-f150-de02c6154ed8",
        "x-ms-request-id": "6a22e46e-f01a-003d-2dcf-abe420000000",
=======
        "x-ms-client-request-id": "4c69b684-5d8f-87ff-fd4f-6cb30d43cc8e",
        "x-ms-request-id": "207a5ad0-c01a-0026-39cc-abda23000000",
>>>>>>> feature/storage/stg71-base
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
<<<<<<< HEAD
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-628180ae-2677-07ab-8728-60dec392ede6/test-directory-9ef5af39-d7d7-66b1-9d87-c6bfa09c7baa?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2019 00:55:21 GMT"
=======
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-8baa2188-e23c-7c93-fafc-e59810e26f36/test-directory-695774ce-cf4c-e3e7-7b8a-53518933b05d?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2019 00:28:32 GMT"
>>>>>>> feature/storage/stg71-base
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-return-client-request-id": "true",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
<<<<<<< HEAD
        "Date": "Fri, 06 Dec 2019 00:55:20 GMT",
        "ETag": "\u00220x8D779E6F8431387\u0022",
        "Last-Modified": "Fri, 06 Dec 2019 00:55:21 GMT",
=======
        "Date": "Fri, 06 Dec 2019 00:28:32 GMT",
        "ETag": "\u00220x8D779E339BDC83A\u0022",
        "Last-Modified": "Fri, 06 Dec 2019 00:28:32 GMT",
>>>>>>> feature/storage/stg71-base
        "Server": [
          "Windows-Azure-File/1.0",
          "Microsoft-HTTPAPI/2.0"
        ],
<<<<<<< HEAD
        "x-ms-client-request-id": "dbd5ad68-5be7-fff2-8eda-a5cb71cc3555",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2019-12-06T00:55:21.0798983Z",
        "x-ms-file-creation-time": "2019-12-06T00:55:21.0798983Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2019-12-06T00:55:21.0798983Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "7855875120676328179*422928105932735866",
        "x-ms-request-id": "6a22e470-f01a-003d-2ecf-abe420000000",
=======
        "x-ms-client-request-id": "5791ca1e-6844-b5fd-cf86-d1050aaefeca",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2019-12-06T00:28:32.9490490Z",
        "x-ms-file-creation-time": "2019-12-06T00:28:32.9490490Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2019-12-06T00:28:32.9490490Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "7855875120676328179*422928105932735866",
        "x-ms-request-id": "207a5ad2-c01a-0026-3acc-abda23000000",
>>>>>>> feature/storage/stg71-base
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
<<<<<<< HEAD
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-628180ae-2677-07ab-8728-60dec392ede6/test-directory-9ef5af39-d7d7-66b1-9d87-c6bfa09c7baa?restype=directory",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2019 00:55:21 GMT"
=======
      "RequestUri": "http://seanstagetest.file.core.[...]
[...]
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-8baa2188-e23c-7c93-fafc-e59810e26f36?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2019 00:28:33 GMT"
>>>>>>> feature/storage/stg71-base
        "x-ms-delete-snapshots": "include",
        "x-ms-return-client-request-id": "true",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
<<<<<<< HEAD
        "Date": "Fri, 06 Dec 2019 00:55:20 GMT",
=======
        "Date": "Fri, 06 Dec 2019 00:28:32 GMT",
>>>>>>> feature/storage/stg71-base
        "Server": [
          "Windows-Azure-File/1.0",
          "Microsoft-HTTPAPI/2.0"
        ],
<<<<<<< HEAD
        "x-ms-client-request-id": "1c9a8280-1b50-c471-7b8c-c3097472c718",
        "x-ms-request-id": "6a22e474-f01a-003d-32cf-abe420000000",
=======
        "x-ms-client-request-id": "0a16d89a-9214-94e5-eae4-359fcaf4c491",
        "x-ms-request-id": "207a5ada-c01a-0026-42cc-abda23000000",
>>>>>>> feature/storage/stg71-base
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
<<<<<<< HEAD
    "RandomSeed": "253160948",
=======
    "RandomSeed": "1559726728",
>>>>>>> feature/storage/stg71-base
    "Storage_TestConfigDefault": "ProductionTenant\nseanstagetest\nU2FuaXRpemVk\nhttp://seanstagetest.blob.core.windows.net\nhttp://seanstagetest.file.core.windows.net\nhttp://seanstagetest.queue.core.windows.net\nhttp://seanstagetest.table.core.windows.net\n\n\n\n\nhttp://seanstagetest-secondary.blob.core.windows.net\nhttp://seanstagetest-secondary.file.core.windows.net\nhttp://seanstagetest-secondary.queue.core.windows.net\nhttp://seanstagetest-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanstagetest.blob.core.windows.net/;QueueEndpoint=http://seanstagetest.queue.core.windows.net/;FileEndpoint=http://seanstagetest.file.core.windows.net/;BlobSecondaryEndpoint=http://seanstagetest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanstagetest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanstagetest-secondary.file.core.windows.net/;AccountName=seanstagetest;AccountKey=Sanitized"
  }
}