{
  "Entries": [
    {
<<<<<<< HEAD
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-c04efef5-50ab-77e1-f77a-5d6ebd36fceb?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 05 Dec 2019 04:12:58 GMT",
        "x-ms-share-quota": "1"
=======
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-9bad16a3-d5ee-501f-dde4-00a1f29cfb50?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2019 00:28:39 GMT"
>>>>>>> feature/storage/stg71-base
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
<<<<<<< HEAD
        "Date": "Thu, 05 Dec 2019 04:12:58 GMT",
        "ETag": "\u00220x8D7793969A7F39B\u0022",
        "Last-Modified": "Thu, 05 Dec 2019 04:12:58 GMT",
=======
        "Date": "Fri, 06 Dec 2019 00:28:38 GMT",
        "ETag": "\u00220x8D779E33DA54FC9\u0022",
        "Last-Modified": "Fri, 06 Dec 2019 00:28:39 GMT",
>>>>>>> feature/storage/stg71-base
        "Server": [
          "Windows-Azure-File/1.0",
          "Microsoft-HTTPAPI/2.0"
        ],
<<<<<<< HEAD
        "x-ms-client-request-id": "aa151290-7e1b-a32c-3437-cbb0832f511f",
        "x-ms-request-id": "011a0f54-f01a-0002-7522-ab2c83000000",
=======
        "x-ms-client-request-id": "8f909fc2-4bd8-7116-4f48-d029f0629c8b",
        "x-ms-request-id": "207a5bbb-c01a-0026-0acc-abda23000000",
>>>>>>> feature/storage/stg71-base
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
<<<<<<< HEAD
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-c04efef5-50ab-77e1-f77a-5d6ebd36fceb/test-directory-921485c2-4b0b-f0b0-bbcb-7450d4b48faf?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 05 Dec 2019 04:12:58 GMT"
=======
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-9bad16a3-d5ee-501f-dde4-00a1f29cfb50/test-directory-9e36cc4d-fdee-9478-fba8-beeafe727ad0?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2019 00:28:39 GMT"
>>>>>>> feature/storage/stg71-base
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-return-client-request-id": "true",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
<<<<<<< HEAD
        "Date": "Thu, 05 Dec 2019 04:12:58 GMT",
        "ETag": "\u00220x8D7793969B67651\u0022",
        "Last-Modified": "Thu, 05 Dec 2019 04:12:58 GMT",
=======
        "Date": "Fri, 06 Dec 2019 00:28:38 GMT",
        "ETag": "\u00220x8D779E33DB31EFD\u0022",
        "Last-Modified": "Fri, 06 Dec 2019 00:28:39 GMT",
>>>>>>> feature/storage/stg71-base
        "Server": [
          "Windows-Azure-File/1.0",
          "Microsoft-HTTPAPI/2.0"
        ],
        "x-ms-client-request-id": "095f4b67-83d6-c45a-26fc-932f8c2b72dc",
        "x-ms-file-attributes": "Directory",
<<<<<<< HEAD
        "x-ms-file-change-time": "2019-12-05T04:12:58.9876817Z",
        "x-ms-file-creation-time": "2019-12-05T04:12:58.9876817Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2019-12-05T04:12:58.9876817Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "7855875120676328179*422928105932735866",
        "x-ms-request-id": "011a0f5b-f01a-0002-7b22-ab2c83000000",
=======
        "x-ms-file-change-time": "2019-12-06T00:28:39.5900669Z",
        "x-ms-file-creation-time": "2019-12-06T00:28:39.5900669Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2019-12-06T00:28:39.5900669Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "7855875120676328179*422928105932735866",
        "x-ms-request-id": "207a5bc1-c01a-0026-0fcc-abda23000000",
>>>>>>> feature/storage/stg71-base
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
<<<<<<< HEAD
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-c04efef5-50ab-77e1-f77a-5d6ebd36fceb/test-directory-921485c2-4b0b-f0b0-bbcb-7450d4b48faf?restype=directory",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 05 Dec 2019 04:12:59 GMT"
=======
      "RequestUri": "http://seanstagetest.file.core.[...]
[...]
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-9bad16a3-d5ee-501f-dde4-00a1f29cfb50?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2019 00:28:39 GMT"
>>>>>>> feature/storage/stg71-base
        "x-ms-delete-snapshots": "include",
        "x-ms-return-client-request-id": "true",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
<<<<<<< HEAD
        "Date": "Thu, 05 Dec 2019 04:12:58 GMT",
=======
        "Date": "Fri, 06 Dec 2019 00:28:38 GMT",
>>>>>>> feature/storage/stg71-base
        "Server": [
          "Windows-Azure-File/1.0",
          "Microsoft-HTTPAPI/2.0"
        ],
<<<<<<< HEAD
        "x-ms-client-request-id": "9a8cbf41-abfd-6cb8-a6b4-7eda7611055c",
        "x-ms-request-id": "011a0f61-f01a-0002-0122-ab2c83000000",
=======
        "x-ms-client-request-id": "4f69aaaf-88ad-3e83-fca8-3562018c0259",
        "x-ms-request-id": "207a5bc4-c01a-0026-12cc-abda23000000",
>>>>>>> feature/storage/stg71-base
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
<<<<<<< HEAD
    "RandomSeed": "1715085849",
=======
    "RandomSeed": "145433963",
>>>>>>> feature/storage/stg71-base
    "Storage_TestConfigDefault": "ProductionTenant\nseanstagetest\nU2FuaXRpemVk\nhttp://seanstagetest.blob.core.windows.net\nhttp://seanstagetest.file.core.windows.net\nhttp://seanstagetest.queue.core.windows.net\nhttp://seanstagetest.table.core.windows.net\n\n\n\n\nhttp://seanstagetest-secondary.blob.core.windows.net\nhttp://seanstagetest-secondary.file.core.windows.net\nhttp://seanstagetest-secondary.queue.core.windows.net\nhttp://seanstagetest-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanstagetest.blob.core.windows.net/;QueueEndpoint=http://seanstagetest.queue.core.windows.net/;FileEndpoint=http://seanstagetest.file.core.windows.net/;BlobSecondaryEndpoint=http://seanstagetest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanstagetest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanstagetest-secondary.file.core.windows.net/;AccountName=seanstagetest;AccountKey=Sanitized"
  }
}