{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary.file.core.windows.net/test-share-ace796dd-500e-6cc5-546a-7bae1a2e7f24?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 29 Jun 2020 18:06:28 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D81C572549DC99\u0022",
        "Last-Modified": "Mon, 29 Jun 2020 18:06:28 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary.file.core.windows.net/test-share-ace796dd-500e-6cc5-546a-7bae1a2e7f24/%21%27%28%29%3B%5B%5D%40%26%25%3D%2B%24%2C%23\u00E4\u00C4\u00F6\u00D6\u00FC\u00DC\u00DF%3B?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 29 Jun 2020 18:06:29 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D81C572559CE7E\u0022",
        "Last-Modified": "Mon, 29 Jun 2020 18:06:28 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2020-06-29T18:06:28.7300222Z",
        "x-ms-file-creation-time": "2020-06-29T18:06:28.7300222Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2020-06-29T18:06:28.7300222Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "11811099930176499864*14641856446884751121",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary.file.core.windows.net/test-share-ace796dd-500e-6cc5-546a-7bae1a2e7f24/%21%27%28%29%3B%5B%5D%40%26%25%3D%2B%24%2C%23\u00E4\u00C4\u00F6\u00D6\u00FC\u00DC\u00DF%3B?restype=directory",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 29 Jun 2020 18:06:29 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D81C572559CE7E\u0022",
        "Last-Modified": "Mon, 29 Jun 2020 18:06:28 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2020-06-29T18:06:28.7300222Z",
        "x-ms-file-creation-time": "2020-06-29T18:06:28.7300222Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2020-06-29T18:06:28.7300222Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "11811099930176499864*14641856446884751121",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary.file.core.windows.net/test-share-ace796dd-500e-6cc5-546a-7bae1a2e7f24?restype=directory\u0026comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 29 Jun 2020 18:06:29 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CEnumerationResults ServiceEndpoint=\u0022https://seanmcccanary.file.core.windows.net/\u0022 ShareName=\u0022test-share-ace796dd-500e-6cc5-546a-7bae1a2e7f24\u0022 DirectoryPath=\u0022\u0022\u003E\u003CEntries\u003E\u003CDirectory\u003E\u003CName\u003E!\u0027();[]@\u0026amp;%=\u002B$,#\u00E4\u00C4\u00F6\u00D6\u00FC\u00DC\u00DF;\u003C/Name\u003E\u003CProperties /\u003E\u003C/Directory\u003E\u003C/Entries\u003E\u003CNextMarker /\u003E\u003C/EnumerationResults\u003E"
    },
    {
      "RequestUri": "https://seanmcccanary.file.core.windows.net/test-share-ace796dd-500e-6cc5-546a-7bae1a2e7f24?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 29 Jun 2020 18:06:29 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "761096666",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary\nU2FuaXRpemVk\nhttps://seanmcccanary.blob.core.windows.net\nhttps://seanmcccanary.file.core.windows.net\nhttps://seanmcccanary.queue.core.windows.net\nhttps://seanmcccanary.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary-secondary.blob.core.windows.net\nhttps://seanmcccanary-secondary.file.core.windows.net\nhttps://seanmcccanary-secondary.queue.core.windows.net\nhttps://seanmcccanary-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary.queue.core.windows.net/;FileEndpoint=https://seanmcccanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary-secondary.file.core.windows.net/;AccountName=seanmcccanary;AccountKey=Kg==;\nseanscope1"
  }
}