{
  "Entries": [
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-8c1439d1-b859-ef38-718f-e14b84ac3de9?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized"
<<<<<<< HEAD
        "traceparent": "00-632eb69574b5ce4c8ef6b5209a62081f-06fb85fdfbd5534a-00",
        "User-Agent": [
          "azsdk-net-Storage.Files.Shares/12.0.0-dev.20191203.1\u002Bfb8a3e76e923ddd8093ad431ccf5d23b2c851a14",
          "(.NET Core 4.6.28008.01; Microsoft Windows 10.0.18363 )"
        ],
        "x-ms-client-request-id": "2f797e0d-0988-461b-219c-24a8dae79141",
        "x-ms-date": "Wed, 04 Dec 2019 05:17:14 GMT",
=======
        "traceparent": "00-2430913e07aeb04ab8723b53a94aac31-1c68a8f9709cbe42-00",
        "User-Agent": [
          "azsdk-net-Storage.Files.Shares/12.0.0-dev.20191204.1\u002B5028d723e0cdeb10a227db4dee6ed6afa7cb4fa8",
          "(.NET Core 4.6.28008.01; Microsoft Windows 10.0.18363 )"
        ],
        "x-ms-client-request-id": "2f797e0d-0988-461b-219c-24a8dae79141",
        "x-ms-date": "Wed, 04 Dec 2019 19:48:05 GMT",
>>>>>>> feature/storage/stg71-base
        "x-ms-return-client-request-id": "true",
        "x-ms-share-quota": "1",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
<<<<<<< HEAD
        "Date": "Wed, 04 Dec 2019 05:17:13 GMT",
        "ETag": "\u00220x8D77879398B213C\u0022",
        "Last-Modified": "Wed, 04 Dec 2019 05:17:14 GMT",
=======
        "Date": "Wed, 04 Dec 2019 19:48:04 GMT",
        "ETag": "\u00220x8D778F2E1376571\u0022",
        "Last-Modified": "Wed, 04 Dec 2019 19:48:05 GMT",
>>>>>>> feature/storage/stg71-base
        "Server": [
          "Windows-Azure-File/1.0",
          "Microsoft-HTTPAPI/2.0"
        ],
        "x-ms-client-request-id": "2f797e0d-0988-461b-219c-24a8dae79141",
<<<<<<< HEAD
        "x-ms-request-id": "b5592857-301a-000d-5962-aa5aef000000",
=======
        "x-ms-request-id": "0114e988-f01a-0002-4edb-aa2c83000000",
>>>>>>> feature/storage/stg71-base
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-8c1439d1-b859-ef38-718f-e14b84ac3de9?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
<<<<<<< HEAD
        "traceparent": "00-194d89af93028349a805425620b32eb6-bbe2310ca370044a-00",
        "User-Agent": [
          "azsdk-net-Storage.Files.Shares/12.0.0-dev.20191203.1\u002Bfb8a3e76e923ddd8093ad431ccf5d23b2c851a14",
          "(.NET Core 4.6.28008.01; Microsoft Windows 10.0.18363 )"
        ],
        "x-ms-client-request-id": "bf27b650-8ba9-1a0e-7866-dd9bc026e447",
        "x-ms-date": "Wed, 04 Dec 2019 05:17:14 GMT",
=======
        "traceparent": "00-770fa99818bc264e9946940d3db2fd4e-08fe9c05a2d0aa43-00",
        "User-Agent": [
          "azsdk-net-Storage.Files.Shares/12.0.0-dev.20191204.1\u002B5028d723e0cdeb10a227db4dee6ed6afa7cb4fa8",
          "(.NET Core 4.6.28008.01; Microsoft Windows 10.0.18363 )"
        ],
        "x-ms-client-request-id": "bf27b650-8ba9-1a0e-7866-dd9bc026e447",
        "x-ms-date": "Wed, 04 Dec 2019 19:48:05 GMT",
>>>>>>> feature/storage/stg71-base
        "x-ms-delete-snapshots": "include",
        "x-ms-return-client-request-id": "true",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
<<<<<<< HEAD
        "Date": "Wed, 04 Dec 2019 05:17:14 GMT",
=======
        "Date": "Wed, 04 Dec 2019 19:48:04 GMT",
>>>>>>> feature/storage/stg71-base
        "Server": [
          "Windows-Azure-File/1.0",
          "Microsoft-HTTPAPI/2.0"
        ],
        "x-ms-client-request-id": "bf27b650-8ba9-1a0e-7866-dd9bc026e447",
<<<<<<< HEAD
        "x-ms-request-id": "b559285a-301a-000d-5b62-aa5aef000000",
=======
        "x-ms-request-id": "0114e98b-f01a-0002-50db-aa2c83000000",
>>>>>>> feature/storage/stg71-base
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "267590927",
    "Storage_TestConfigDefault": "ProductionTenant\nseanstagetest\nU2FuaXRpemVk\nhttp://seanstagetest.blob.core.windows.net\nhttp://seanstagetest.file.core.windows.net\nhttp://seanstagetest.queue.core.windows.net\nhttp://seanstagetest.table.core.windows.net\n\n\n\n\nhttp://seanstagetest-secondary.blob.core.windows.net\nhttp://seanstagetest-secondary.file.core.windows.net\nhttp://seanstagetest-secondary.queue.core.windows.net\nhttp://seanstagetest-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanstagetest.blob.core.windows.net/;QueueEndpoint=http://seanstagetest.queue.core.windows.net/;FileEndpoint=http://seanstagetest.file.core.windows.net/;BlobSecondaryEndpoint=http://seanstagetest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanstagetest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanstagetest-secondary.file.core.windows.net/;AccountName=seanstagetest;AccountKey=Sanitized"
  }
}