{
  "Entries": [
    {
      "RequestUri": "https://idoxscnapsat20py01c.file.preprod.core.windows.net/test-share-8242e459-5ca4-ae20-bf1d-849c3bbff983?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 22 Sep 2021 17:29:13 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D97DEE7FAF650B\u0022",
        "Last-Modified": "Wed, 22 Sep 2021 17:29:14 GMT",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://idoxscnapsat20py01c.file.preprod.core.windows.net/test-share-8242e459-5ca4-ae20-bf1d-849c3bbff983?restype=share",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 22 Sep 2021 17:29:13 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D97DEE7FAF650B\u0022",
        "Last-Modified": "Wed, 22 Sep 2021 17:29:14 GMT",
        "x-ms-access-tier": "Premium",
        "x-ms-enabled-protocols": "SMB",
        "x-ms-has-immutability-policy": "false",
        "x-ms-has-legal-hold": "false",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-share-next-allowed-quota-downgrade-time": "Wed, 22 Sep 2021 17:29:14 GMT",
        "x-ms-share-provisioned-bandwidth-mibps": "110",
        "x-ms-share-provisioned-egress-mbps": "110",
        "x-ms-share-provisioned-ingress-mbps": "110",
        "x-ms-share-provisioned-iops": "500",
        "x-ms-share-quota": "100",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://idoxscnapsat20py01c.file.preprod.core.windows.net/test-share-8242e459-5ca4-ae20-bf1d-849c3bbff983?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 22 Sep 2021 17:29:13 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1470595000",
    "Storage_TestConfigPremiumFile": "PremiumFileTenant\nidoxscnapsat20py01c\nU2FuaXRpemVk\nhttp://idoxscnapsat20py01c.blob.core.windows.net\nhttps://idoxscnapsat20py01c.file.preprod.core.windows.net\nhttp://idoxscnapsat20py01c.queue.core.windows.net\nhttp://idoxscnapsat20py01c.table.core.windows.net\n\n\n\n\nhttp://idoxscnapsat20py01c-secondary.blob.core.windows.net\nhttp://idoxscnapsat20py01c-secondary.file.core.windows.net\nhttp://idoxscnapsat20py01c-secondary.queue.core.windows.net\nhttp://idoxscnapsat20py01c-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://idoxscnapsat20py01c.blob.core.windows.net/;QueueEndpoint=http://idoxscnapsat20py01c.queue.core.windows.net/;FileEndpoint=https://idoxscnapsat20py01c.file.preprod.core.windows.net/;BlobSecondaryEndpoint=http://idoxscnapsat20py01c-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://idoxscnapsat20py01c-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://idoxscnapsat20py01c-secondary.file.core.windows.net/;AccountName=idoxscnapsat20py01c;AccountKey=Sanitized\n\n\n"
  }
}