{
  "Entries": [
    {
<<<<<<< HEAD
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-a3f3b758-6e69-9481-cb06-f64255481a2b?restype=share",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 05 Dec 2019 04:13:00 GMT"
=======
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-4363db83-25e1-002d-1cc3-15a853ff3a70?restype=share",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2019 00:28:40 GMT"
>>>>>>> feature/storage/stg71-base
        "x-ms-return-client-request-id": "true",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/xml"
<<<<<<< HEAD
        "Date": "Thu, 05 Dec 2019 04:12:59 GMT",
=======
        "Date": "Fri, 06 Dec 2019 00:28:39 GMT",
>>>>>>> feature/storage/stg71-base
        "Server": [
          "Windows-Azure-File/1.0",
          "Microsoft-HTTPAPI/2.0"
        ],
        "x-ms-client-request-id": "d5db7dba-9240-2ae4-db1f-94301eea758b",
        "x-ms-error-code": "ShareNotFound",
<<<<<<< HEAD
        "x-ms-request-id": "011a0f84-f01a-0002-2122-ab2c83000000",
=======
        "x-ms-request-id": "207a5be8-c01a-0026-33cc-abda23000000",
>>>>>>> feature/storage/stg71-base
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003EShareNotFound\u003C/Code\u003E\u003CMessage\u003EThe specified share does not exist.\n",
<<<<<<< HEAD
        "RequestId:011a0f84-f01a-0002-2122-ab2c83000000\n",
        "Time:2019-12-05T04:13:00.2075820Z\u003C/Message\u003E\u003C/Error\u003E"
=======
        "RequestId:207a5be8-c01a-0026-33cc-abda23000000\n",
        "Time:2019-12-06T00:28:40.8115801Z\u003C/Message\u003E\u003C/Error\u003E"
>>>>>>> feature/storage/stg71-base
      ]
    }
  ],
  "Variables": {
<<<<<<< HEAD
    "RandomSeed": "1813606055",
=======
    "RandomSeed": "1027497406",
>>>>>>> feature/storage/stg71-base
    "Storage_TestConfigDefault": "ProductionTenant\nseanstagetest\nU2FuaXRpemVk\nhttp://seanstagetest.blob.core.windows.net\nhttp://seanstagetest.file.core.windows.net\nhttp://seanstagetest.queue.core.windows.net\nhttp://seanstagetest.table.core.windows.net\n\n\n\n\nhttp://seanstagetest-secondary.blob.core.windows.net\nhttp://seanstagetest-secondary.file.core.windows.net\nhttp://seanstagetest-secondary.queue.core.windows.net\nhttp://seanstagetest-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanstagetest.blob.core.windows.net/;QueueEndpoint=http://seanstagetest.queue.core.windows.net/;FileEndpoint=http://seanstagetest.file.core.windows.net/;BlobSecondaryEndpoint=http://seanstagetest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanstagetest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanstagetest-secondary.file.core.windows.net/;AccountName=seanstagetest;AccountKey=Sanitized"
  }
}