{
  "Entries": [
    {
<<<<<<< HEAD
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-d0e1202c-ae2e-8694-015b-311166b6134c?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2019 00:55:22 GMT"
=======
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-3721feb2-e0b4-5f6b-4f87-53cc23655c81?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2019 00:28:33 GMT"
>>>>>>> feature/storage/stg71-base
        "x-ms-return-client-request-id": "true",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
<<<<<<< HEAD
        "Date": "Fri, 06 Dec 2019 00:55:21 GMT",
        "ETag": "\u00220x8D779E6F8D7564D\u0022",
        "Last-Modified": "Fri, 06 Dec 2019 00:55:22 GMT",
=======
        "Date": "Fri, 06 Dec 2019 00:28:32 GMT",
        "ETag": "\u00220x8D779E33A3813CA\u0022",
        "Last-Modified": "Fri, 06 Dec 2019 00:28:33 GMT",
>>>>>>> feature/storage/stg71-base
        "Server": [
          "Windows-Azure-File/1.0",
          "Microsoft-HTTPAPI/2.0"
        ],
<<<<<<< HEAD
        "x-ms-client-request-id": "b9d21dbd-7095-845c-5eab-90e5d5dc9144",
        "x-ms-request-id": "6a22e47b-f01a-003d-38cf-abe420000000",
=======
        "x-ms-client-request-id": "d6003fe3-d4ef-ab19-430b-117d6a7c1fe6",
        "x-ms-request-id": "207a5aee-c01a-0026-55cc-abda23000000",
>>>>>>> feature/storage/stg71-base
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
<<<<<<< HEAD
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-d0e1202c-ae2e-8694-015b-311166b6134c?restype=share\u0026comp=filepermission",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2019 00:55:22 GMT"
=======
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-3721feb2-e0b4-5f6b-4f87-53cc23655c81?restype=share\u0026comp=filepermission",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2019 00:28:33 GMT"
>>>>>>> feature/storage/stg71-base
        "x-ms-file-permission-key": "invalidPermission",
        "x-ms-return-client-request-id": "true",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/xml"
<<<<<<< HEAD
        "Date": "Fri, 06 Dec 2019 00:55:21 GMT",
=======
        "Date": "Fri, 06 Dec 2019 00:28:32 GMT",
>>>>>>> feature/storage/stg71-base
        "Server": [
          "Windows-Azure-File/1.0",
          "Microsoft-HTTPAPI/2.0"
        ],
<<<<<<< HEAD
        "x-ms-client-request-id": "49549175-59e3-00b6-7bf3-5fcf83dd3757",
        "x-ms-error-code": "InvalidHeaderValue",
        "x-ms-request-id": "6a22e47d-f01a-003d-39cf-abe420000000",
=======
        "x-ms-client-request-id": "e4e89719-8664-6b91-f92a-de030db48e69",
        "x-ms-error-code": "InvalidHeaderValue",
        "x-ms-request-id": "207a5af3-c01a-0026-59cc-abda23000000",
>>>>>>> feature/storage/stg71-base
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003EInvalidHeaderValue\u003C/Code\u003E\u003CMessage\u003EThe value for one of the HTTP headers is not in the correct format.\n",
<<<<<<< HEAD
        "RequestId:6a22e47d-f01a-003d-39cf-abe420000000\n",
        "Time:2019-12-06T00:55:22.1325395Z\u003C/Message\u003E\u003CHeaderName\u003Ex-ms-file-permission-key\u003C/HeaderName\u003E\u003CHeaderValue\u003EinvalidPermission\u003C/HeaderValue\u003E\u003C/Error\u003E"
      ]
    },
[...]
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-3721feb2-e0b4-5f6b-4f87-53cc23655c81?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2019 00:28:33 GMT"
>>>>>>> feature/storage/stg71-base
        "x-ms-delete-snapshots": "include",
        "x-ms-return-client-request-id": "true",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
<<<<<<< HEAD
        "Date": "Fri, 06 Dec 2019 00:55:21 GMT",
=======
        "Date": "Fri, 06 Dec 2019 00:28:33 GMT",
>>>>>>> feature/storage/stg71-base
        "Server": [
          "Windows-Azure-File/1.0",
          "Microsoft-HTTPAPI/2.0"
        ],
<<<<<<< HEAD
        "x-ms-client-request-id": "43703aca-4887-7160-e0a1-b1f82d39937f",
        "x-ms-request-id": "6a22e47e-f01a-003d-3acf-abe420000000",
=======
        "x-ms-client-request-id": "d263bd80-3a93-c781-1a90-1e0b2f668717",
        "x-ms-request-id": "207a5af5-c01a-0026-5acc-abda23000000",
>>>>>>> feature/storage/stg71-base
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
<<<<<<< HEAD
    "RandomSeed": "1992620813",
=======
    "RandomSeed": "532300692",
>>>>>>> feature/storage/stg71-base
    "Storage_TestConfigDefault": "ProductionTenant\nseanstagetest\nU2FuaXRpemVk\nhttp://seanstagetest.blob.core.windows.net\nhttp://seanstagetest.file.core.windows.net\nhttp://seanstagetest.queue.core.windows.net\nhttp://seanstagetest.table.core.windows.net\n\n\n\n\nhttp://seanstagetest-secondary.blob.core.windows.net\nhttp://seanstagetest-secondary.file.core.windows.net\nhttp://seanstagetest-secondary.queue.core.windows.net\nhttp://seanstagetest-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanstagetest.blob.core.windows.net/;QueueEndpoint=http://seanstagetest.queue.core.windows.net/;FileEndpoint=http://seanstagetest.file.core.windows.net/;BlobSecondaryEndpoint=http://seanstagetest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanstagetest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanstagetest-secondary.file.core.windows.net/;AccountName=seanstagetest;AccountKey=Sanitized"
  }
}