{
  "Entries": [
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-16f3c9d6-f9ad-a077-6778-c11df1ec80dd?restype=share\u0026comp=stats",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
<<<<<<< HEAD
        "traceparent": "00-c7ea7eca00196c4e99df5a425ab0cb8f-be77de033209e044-00",
        "User-Agent": [
          "azsdk-net-Storage.Files.Shares/12.0.0-dev.20191203.1\u002Bfb8a3e76e923ddd8093ad431ccf5d23b2c851a14",
          "(.NET Core 4.6.28008.01; Microsoft Windows 10.0.18363 )"
        ],
        "x-ms-client-request-id": "fa4b0716-b71b-df2a-4865-45f70cf7f6dd",
        "x-ms-date": "Wed, 04 Dec 2019 05:17:09 GMT",
=======
        "traceparent": "00-76acc8e0662274499b2197fab08960cb-f24edf0baec85d4d-00",
        "User-Agent": [
          "azsdk-net-Storage.Files.Shares/12.0.0-dev.20191204.1\u002B5028d723e0cdeb10a227db4dee6ed6afa7cb4fa8",
          "(.NET Core 4.6.28008.01; Microsoft Windows 10.0.18363 )"
        ],
        "x-ms-client-request-id": "fa4b0716-b71b-df2a-4865-45f70cf7f6dd",
        "x-ms-date": "Wed, 04 Dec 2019 19:47:59 GMT",
>>>>>>> feature/storage/stg71-base
        "x-ms-return-client-request-id": "true",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/xml"
<<<<<<< HEAD
        "Date": "Wed, 04 Dec 2019 05:17:08 GMT",
=======
        "Date": "Wed, 04 Dec 2019 19:47:58 GMT",
>>>>>>> feature/storage/stg71-base
        "Server": [
          "Windows-Azure-File/1.0",
          "Microsoft-HTTPAPI/2.0"
        ],
        "x-ms-client-request-id": "fa4b0716-b71b-df2a-4865-45f70cf7f6dd",
        "x-ms-error-code": "ShareNotFound",
<<<<<<< HEAD
        "x-ms-request-id": "b55927b9-301a-000d-5262-aa5aef000000",
=======
        "x-ms-request-id": "0114e8ef-f01a-0002-4bdb-aa2c83000000",
>>>>>>> feature/storage/stg71-base
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003EShareNotFound\u003C/Code\u003E\u003CMessage\u003EThe specified share does not exist.\n",
<<<<<<< HEAD
        "RequestId:b55927b9-301a-000d-5262-aa5aef000000\n",
        "Time:2019-12-04T05:17:09.2410159Z\u003C/Message\u003E\u003C/Error\u003E"
=======
        "RequestId:0114e8ef-f01a-0002-4bdb-aa2c83000000\n",
        "Time:2019-12-04T19:47:59.3717296Z\u003C/Message\u003E\u003C/Error\u003E"
>>>>>>> feature/storage/stg71-base
      ]
    }
  ],
  "Variables": {
<<<<<<< HEAD
    "DateTimeOffsetNow": "2019-12-03T21:17:09.2368680-08:00",
=======
    "DateTimeOffsetNow": "2019-12-04T11:47:59.3378778-08:00",
>>>>>>> feature/storage/stg71-base
    "RandomSeed": "1494878379",
    "Storage_TestConfigDefault": "ProductionTenant\nseanstagetest\nU2FuaXRpemVk\nhttp://seanstagetest.blob.core.windows.net\nhttp://seanstagetest.file.core.windows.net\nhttp://seanstagetest.queue.core.windows.net\nhttp://seanstagetest.table.core.windows.net\n\n\n\n\nhttp://seanstagetest-secondary.blob.core.windows.net\nhttp://seanstagetest-secondary.file.core.windows.net\nhttp://seanstagetest-secondary.queue.core.windows.net\nhttp://seanstagetest-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanstagetest.blob.core.windows.net/;QueueEndpoint=http://seanstagetest.queue.core.windows.net/;FileEndpoint=http://seanstagetest.file.core.windows.net/;BlobSecondaryEndpoint=http://seanstagetest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanstagetest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanstagetest-secondary.file.core.windows.net/;AccountName=seanstagetest;AccountKey=Sanitized"
  }
}