{
  "Entries": [
    {
<<<<<<< HEAD
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-61cdbdcc-a869-680e-91e6-de80c20a0f4e?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2019 00:55:29 GMT"
=======
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-feb4fcd7-5893-eb43-35e4-b0f9f8387b67?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2019 00:28:41 GMT"
>>>>>>> feature/storage/stg71-base
        "x-ms-return-client-request-id": "true",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
<<<<<<< HEAD
        "Date": "Fri, 06 Dec 2019 00:55:28 GMT",
        "ETag": "\u00220x8D779E6FD13EE7B\u0022",
        "Last-Modified": "Fri, 06 Dec 2019 00:55:29 GMT",
=======
        "Date": "Fri, 06 Dec 2019 00:28:41 GMT",
        "ETag": "\u00220x8D779E33E957C90\u0022",
        "Last-Modified": "Fri, 06 Dec 2019 00:28:41 GMT",
>>>>>>> feature/storage/stg71-base
        "Server": [
          "Windows-Azure-File/1.0",
          "Microsoft-HTTPAPI/2.0"
        ],
<<<<<<< HEAD
        "x-ms-client-request-id": "750fb376-6d04-595c-effe-31941a0e51d4",
        "x-ms-request-id": "6a22e4ec-f01a-003d-09cf-abe420000000",
=======
        "x-ms-client-request-id": "cf42c8f5-4e6a-fbdb-ca94-df5a3bd9505a",
        "x-ms-request-id": "207a5bed-c01a-0026-36cc-abda23000000",
>>>>>>> feature/storage/stg71-base
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
<<<<<<< HEAD
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-61cdbdcc-a869-680e-91e6-de80c20a0f4e?restype=share\u0026comp=stats",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2019 00:55:29 GMT"
=======
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-feb4fcd7-5893-eb43-35e4-b0f9f8387b67?restype=share\u0026comp=stats",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2019 00:28:41 GMT"
>>>>>>> feature/storage/stg71-base
        "x-ms-return-client-request-id": "true",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml"
<<<<<<< HEAD
        "Date": "Fri, 06 Dec 2019 00:55:28 GMT",
=======
        "Date": "Fri, 06 Dec 2019 00:28:41 GMT",
>>>>>>> feature/storage/stg71-base
        "Server": [
          "Windows-Azure-File/1.0",
          "Microsoft-HTTPAPI/2.0"
        ],
        "Transfer-Encoding": "chunked",
<<<<<<< HEAD
        "x-ms-client-request-id": "0e099cc2-9afb-c749-3809-1c0462c2a4cb",
        "x-ms-request-id": "6a22e4ee-f01a-003d-0acf-abe420000000",
=======
        "x-ms-client-request-id": "2f03cbbc-acf5-7bfd-3587-c02643b6d34a",
        "x-ms-request-id": "207a5bf1-c01a-0026-39cc-abda23000000",
>>>>>>> feature/storage/stg71-base
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CShareStats\u003E\u003CShareUsageBytes\u003E0\u003C/ShareUsageBytes\u003E\u003C/ShareStats\u003E"
    },
    {
<<<<<<< HEAD
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-61cdbdcc-a869-680e-91e6-de80c20a0f4e?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2019 00:55:29 GMT"
=======
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-feb4fcd7-5893-eb43-35e4-b0f9f8387b67?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2019 00:28:41 GMT"
>>>>>>> feature/storage/stg71-base
        "x-ms-delete-snapshots": "include",
        "x-ms-return-client-request-id": "true",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
<<<<<<< HEAD
        "Date": "Fri, 06 Dec 2019 00:55:28 GMT",
=======
        "Date": "Fri, 06 Dec 2019 00:28:41 GMT",
>>>>>>> feature/storage/stg71-base
        "Server": [
          "Windows-Azure-File/1.0",
          "Microsoft-HTTPAPI/2.0"
        ],
<<<<<<< HEAD
        "x-ms-client-request-id": "7dd17d9c-4204-aed9-df37-b947422bd5a4",
        "x-ms-request-id": "6a22e4ef-f01a-003d-0bcf-abe420000000",
=======
        "x-ms-client-request-id": "6f9d7081-20d5-fa64-a0d5-1c8a33677235",
        "x-ms-request-id": "207a5bf2-c01a-0026-3acc-abda23000000",
>>>>>>> feature/storage/stg71-base
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
<<<<<<< HEAD
    "RandomSeed": "383151628",
=======
    "RandomSeed": "539678217",
>>>>>>> feature/storage/stg71-base
    "Storage_TestConfigDefault": "ProductionTenant\nseanstagetest\nU2FuaXRpemVk\nhttp://seanstagetest.blob.core.windows.net\nhttp://seanstagetest.file.core.windows.net\nhttp://seanstagetest.queue.core.windows.net\nhttp://seanstagetest.table.core.windows.net\n\n\n\n\nhttp://seanstagetest-secondary.blob.core.windows.net\nhttp://seanstagetest-secondary.file.core.windows.net\nhttp://seanstagetest-secondary.queue.core.windows.net\nhttp://seanstagetest-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanstagetest.blob.core.windows.net/;QueueEndpoint=http://seanstagetest.queue.core.windows.net/;FileEndpoint=http://seanstagetest.file.core.windows.net/;BlobSecondaryEndpoint=http://seanstagetest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanstagetest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanstagetest-secondary.file.core.windows.net/;AccountName=seanstagetest;AccountKey=Sanitized"
  }
}