{
  "Entries": [
    {
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-27179eb3-bbe6-cfbd-4f5d-28be64d9f373?restype=share\u0026comp=acl",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "x-ms-date": "Fri, 06 Dec 2019 00:55:29 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": "\u003CSignedIdentifiers\u003E\u003CSignedIdentifier\u003E\u003CId\u003Erlwsluxfnxqthvbcrrms\u003C/Id\u003E\u003CAccessPolicy\u003E\u003CStart\u003E2019-12-05T23:55:29.7258173Z\u003C/Start\u003E\u003CExpiry\u003E2019-12-06T01:55:29.7258173Z\u003C/Expiry\u003E\u003CPermission\u003Erw\u003C/Permission\u003E\u003C/AccessPolicy\u003E\u003C/SignedIdentifier\u003E\u003C/SignedIdentifiers\u003E",
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ShareNotFound",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003EShareNotFound\u003C/Code\u003E\u003CMessage\u003EThe specified share does not exist.\n",
        "RequestId:6a22e500-f01a-003d-12cf-abe420000000\n",
        "Time:2019-12-06T00:55:29.7325343Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2019-12-05T16:55:29.7258173-08:00",
    "RandomSeed": "1323711223",
    "Storage_TestConfigDefault": "ProductionTenant\nseanstagetest\nU2FuaXRpemVk\nhttp://seanstagetest.blob.core.windows.net\nhttp://seanstagetest.file.core.windows.net\nhttp://seanstagetest.queue.core.windows.net\nhttp://seanstagetest.table.core.windows.net\n\n\n\n\nhttp://seanstagetest-secondary.blob.core.windows.net\nhttp://seanstagetest-secondary.file.core.windows.net\nhttp://seanstagetest-secondary.queue.core.windows.net\nhttp://seanstagetest-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanstagetest.blob.core.windows.net/;QueueEndpoint=http://seanstagetest.queue.core.windows.net/;FileEndpoint=http://seanstagetest.file.core.windows.net/;BlobSecondaryEndpoint=http://seanstagetest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanstagetest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanstagetest-secondary.file.core.windows.net/;AccountName=seanstagetest;AccountKey=Sanitized"
  }
}