{
  "Entries": [
    {
<<<<<<< HEAD
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-7404fa0b-9da9-8391-5e83-692aa1edc085?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 05 Dec 2019 04:13:00 GMT",
        "x-ms-share-quota": "1"
=======
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-2960e640-d489-3a30-ebf4-de4626de38d8?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2019 00:28:41 GMT"
>>>>>>> feature/storage/stg71-base
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
<<<<<<< HEAD
        "Date": "Thu, 05 Dec 2019 04:13:00 GMT",
        "ETag": "\u00220x8D779396AAE8E14\u0022",
        "Last-Modified": "Thu, 05 Dec 2019 04:13:00 GMT",
=======
        "Date": "Fri, 06 Dec 2019 00:28:41 GMT",
        "ETag": "\u00220x8D779E33EC89AC8\u0022",
        "Last-Modified": "Fri, 06 Dec 2019 00:28:41 GMT",
>>>>>>> feature/storage/stg71-base
        "Server": [
          "Windows-Azure-File/1.0",
          "Microsoft-HTTPAPI/2.0"
        ],
<<<<<<< HEAD
        "x-ms-client-request-id": "f27b4cd0-ec80-388f-3de3-9414cdf3add4",
        "x-ms-request-id": "011a0f96-f01a-0002-3022-ab2c83000000",
=======
        "x-ms-client-request-id": "e6c7a1bc-2a2f-51ab-c4fb-d108e6e7476b",
        "x-ms-request-id": "207a5bfb-c01a-0026-41cc-abda23000000",
>>>>>>> feature/storage/stg71-base
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
<<<<<<< HEAD
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-7404fa0b-9da9-8391-5e83-692aa1edc085?restype=share\u0026comp=acl",
=======
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-2960e640-d489-3a30-ebf4-de4626de38d8?restype=share\u0026comp=acl",
>>>>>>> feature/storage/stg71-base
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml"
<<<<<<< HEAD
        "traceparent": "00-d04c9067b6a493408fcc2861cb2cc0ae-3fc0a41931553041-00",
        "User-Agent": [
          "azsdk-net-Storage.Files.Shares/12.0.0-dev.20191204.1\u002B5028d723e0cdeb10a227db4dee6ed6afa7cb4fa8",
          "(.NET Core 4.6.28008.01; Microsoft Windows 10.0.18363 )"
        ],
        "x-ms-client-request-id": "5680c070-e7ea-d416-b85a-ca881fcdab5a",
        "x-ms-date": "Thu, 05 Dec 2019 04:13:00 GMT",
        "x-ms-return-client-request-id": "true",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": "\u003CSignedIdentifiers\u003E\u003CSignedIdentifier\u003E\u003CId\u003Eocaxseynksfjkednyvyc\u003C/Id\u003E\u003CAccessPolicy\u003E\u003CStart\u003E2019-12-05T03:13:00.6932323Z\u003C/Start\u003E\u003CExpiry\u003E2019-12-05T05:13:00.6932323Z\u003C/Expiry\u003E\u003CPermission\u003Erw\u003C/Permission\u003E\u003C/AccessPolicy\u003E\u003C/SignedIdentifier\u003E\u003C/SignedIdentifiers\u003E",
      "StatusCode": 200,
      [...]
