{
  "Entries": [
    {
<<<<<<< HEAD
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-f0dcd674-103d-8c5a-442f-f636419f0e73?restype=share\u0026comp=metadata",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2019 00:55:30 GMT"
=======
      "RequestUri": "http://seanstagetest.file.core.windows.net/test-share-8aaca266-67bf-8ead-bcfd-4ca4f7e57717?restype=share\u0026comp=metadata",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2019 00:28:42 GMT"
>>>>>>> feature/storage/stg71-base
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-return-client-request-id": "true",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/xml"
<<<<<<< HEAD
        "Date": "Fri, 06 Dec 2019 00:55:29 GMT",
=======
        "Date": "Fri, 06 Dec 2019 00:28:42 GMT",
>>>>>>> feature/storage/stg71-base
        "Server": [
          "Windows-Azure-File/1.0",
          "Microsoft-HTTPAPI/2.0"
        ],
<<<<<<< HEAD
        "x-ms-client-request-id": "ca177cf5-513d-323f-37d2-3628e0fc3608",
        "x-ms-error-code": "ShareNotFound",
        "x-ms-request-id": "6a22e509-f01a-003d-19cf-abe420000000",
=======
        "x-ms-client-request-id": "2117b0c1-dee8-34c7-00ce-f4f34cb1b3a8",
        "x-ms-error-code": "ShareNotFound",
        "x-ms-request-id": "207a5c17-c01a-0026-5acc-abda23000000",
>>>>>>> feature/storage/stg71-base
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003EShareNotFound\u003C/Code\u003E\u003CMessage\u003EThe specified share does not exist.\n",
<<<<<<< HEAD
        "RequestId:6a22e509-f01a-003d-19cf-abe420000000\n",
        "Time:2019-12-06T00:55:30.1605308Z\u003C/Message\u003E\u003C/Error\u003E"
=======
        "RequestId:207a5c17-c01a-0026-5acc-abda23000000\n",
        "Time:2019-12-06T00:28:42.0895911Z\u003C/Message\u003E\u003C/Error\u003E"
>>>>>>> feature/storage/stg71-base
      ]
    }
  ],
  "Variables": {
<<<<<<< HEAD
    "RandomSeed": "1186318043",
=======
    "RandomSeed": "1124083558",
>>>>>>> feature/storage/stg71-base
    "Storage_TestConfigDefault": "ProductionTenant\nseanstagetest\nU2FuaXRpemVk\nhttp://seanstagetest.blob.core.windows.net\nhttp://seanstagetest.file.core.windows.net\nhttp://seanstagetest.queue.core.windows.net\nhttp://seanstagetest.table.core.windows.net\n\n\n\n\nhttp://seanstagetest-secondary.blob.core.windows.net\nhttp://seanstagetest-secondary.file.core.windows.net\nhttp://seanstagetest-secondary.queue.core.windows.net\nhttp://seanstagetest-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanstagetest.blob.core.windows.net/;QueueEndpoint=http://seanstagetest.queue.core.windows.net/;FileEndpoint=http://seanstagetest.file.core.windows.net/;BlobSecondaryEndpoint=http://seanstagetest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanstagetest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanstagetest-secondary.file.core.windows.net/;AccountName=seanstagetest;AccountKey=Sanitized"
  }
}