{
  "Entries": [
    {
      "RequestUri": "https://seancanarypremiumfile2.file.core.windows.net/test-share-6eb9cce7-316f-164a-caae-e1a4ecb4668b?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 20 Oct 2020 19:02:58 GMT",
        "x-ms-enabled-protocols": "NFS",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8752AC31A708D\u0022",
        "Last-Modified": "Tue, 20 Oct 2020 19:02:59 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seancanarypremiumfile2.file.core.windows.net/test-share-6eb9cce7-316f-164a-caae-e1a4ecb4668b?restype=share\u0026comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 20 Oct 2020 19:02:58 GMT",
        "x-ms-root-squash": "AllSquash",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8752AC3299780\u0022",
        "Last-Modified": "Tue, 20 Oct 2020 19:02:59 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seancanarypremiumfile2.file.core.windows.net/test-share-6eb9cce7-316f-164a-caae-e1a4ecb4668b?restype=share",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 20 Oct 2020 19:02:58 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8752AC3299780\u0022",
        "Last-Modified": "Tue, 20 Oct 2020 19:02:59 GMT",
        "x-ms-access-tier": "Premium",
        "x-ms-enabled-protocols": "NFS",
        "x-ms-has-immutability-policy": "false",
        "x-ms-has-legal-hold": "false",
        "x-ms-root-squash": "AllSquash",
        "x-ms-share-next-allowed-quota-downgrade-time": "Tue, 20 Oct 2020 19:02:59 GMT",
        "x-ms-share-provisioned-egress-mbps": "66",
        "x-ms-share-provisioned-ingress-mbps": "44",
        "x-ms-share-provisioned-iops": "500",
        "x-ms-share-quota": "100",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "853107268",
    "Storage_TestConfigPremiumFile": "PremiumFileTenant\nseancanarypremiumfile2\nU2FuaXRpemVk\nhttps://seancanarypremiumfile2.blob.core.windows.net\nhttps://seancanarypremiumfile2.file.core.windows.net\nhttps://seancanarypremiumfile2.queue.core.windows.net\nhttps://seancanarypremiumfile2.table.core.windows.net\n\n\n\n\nhttps://seancanarypremiumfile2-secondary.blob.core.windows.net\nhttps://seancanarypremiumfile2-secondary.file.core.windows.net\nhttps://seancanarypremiumfile2-secondary.queue.core.windows.net\nhttps://seancanarypremiumfile2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seancanarypremiumfile2.blob.core.windows.net/;QueueEndpoint=https://seancanarypremiumfile2.queue.core.windows.net/;FileEndpoint=https://seancanarypremiumfile2.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanarypremiumfile2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanarypremiumfile2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanarypremiumfile2-secondary.file.core.windows.net/;AccountName=seancanarypremiumfile2;AccountKey=Sanitized\n"
  }
}