{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-f1862911-504e-ec10-e087-288ff2965b36?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 05 Aug 2020 22:26:41 GMT"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8D8398EA12DAECF\"",
        "Last-Modified": "Wed, 05 Aug 2020 22:26:42 GMT"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-f1862911-504e-ec10-e087-288ff2965b36?restype=share&comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 05 Aug 2020 22:26:44 GMT",
        "x-ms-lease-id": "ebe5aa42-645a-c9b8-2652-d8af0aba5330",
        "x-ms-share-quota": "1024",
         "x-ms-version": "2020-08-04"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "LeaseNotPresentWithContainerOperation"
      },
      "ResponseBody": [
        "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>LeaseNotPresentWithContainerOperation</Code><Message>There is currently no lease on the file share.\n",
        "RequestId:7564b601-e01a-0071-3f77-6b3ce9000000\n",
        "Time:2020-08-05T22:26:43.7108572Z</Message></Error>"
      ]
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-f1862911-504e-ec10-e087-288ff2965b36?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 05 Aug 2020 22:26:44 GMT",
        "x-ms-delete-snapshots": "include"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1777818236",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\nseanscope1"
  }
}