{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/f3d94233-a9aa-4241-ac82-2dfb63ce637a?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11890"
      },
      "ResponseBody": {
        "id": "/subscriptions/f3d94233-a9aa-4241-ac82-2dfb63ce637a",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "subscriptionId": "f3d94233-a9aa-4241-ac82-2dfb63ce637a",
        "tenantId": "75743128-1c62-4904-9be1-c23c1edb9a9f",
        "displayName": "Visual Studio Enterprise Subscription",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Public_2014-09-01",
          "quotaId": "MSDN_2014-09-01",
          "spendingLimit": "On"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/f3d94233-a9aa-4241-ac82-2dfb63ce637a/resourcegroups/testRg-5182?api-version=2021-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "westus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1196"
      },
      "ResponseBody": {
        "id": "/subscriptions/f3d94233-a9aa-4241-ac82-2dfb63ce637a/resourceGroups/testRg-5182",
        "name": "testRg-5182",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus",
        "tags": {},
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/f3d94233-a9aa-4241-ac82-2dfb63ce637a/resourceGroups/testRg-5182/providers/Microsoft.Cdn/profiles/AFDProfile-9013?api-version=2021-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "sku": {
          "name": "Standard_AzureFrontDoor"
        },
        "tags": {},
        "location": "Global",
        "properties": {
          "originResponseTimeoutSeconds": 60
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/f3d94233-a9aa-4241-ac82-2dfb63ce637a/resourcegroups/testRg-5182/providers/Microsoft.Cdn/operationresults/34a52644-6105-45fc-bfb6-2a55f8f05b52?api-version=2021-06-01",
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "21"
      },
      "ResponseBody": {
        "id": "/subscriptions/f3d94233-a9aa-4241-ac82-2dfb63ce637a/resourcegroups/testRg-5182/providers/Microsoft.Cdn/profiles/AFDProfile-9013",
        "type": "Microsoft.Cdn/profiles",
        "name": "AFDProfile-9013",
        "location": "Global",
        "kind": "frontdoor",
        "tags": {},
        "sku": {
          "name": "Standard_AzureFrontDoor"
        },
        "properties": {
          "originResponseTimeoutSeconds": 60,
          "frontDoorId": "09374add-081d-47de-88af-664f48d1b49b",
          "resourceState": "Creating",
          "provisioningState": "Creating"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/f3d94233-a9aa-4241-ac82-2dfb63ce637a/resourcegroups/testRg-5182/providers/Microsoft.Cdn/operationresults/34a52644-6105-45fc-bfb6-2a55f8f05b52?api-version=2021-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11889"
      },
      "ResponseBody": {
        "status": "InProgress",
        "error": {
          "code": "None",
          "message": null
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/f3d94233-a9aa-4241-ac82-2dfb63ce637a/resourceGroups/testRg-5182/providers/Microsoft.Cdn/profiles/AFDProfile-9013/originGroups/AFDOriginGroup-2576?api-version=2021-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "loadBalancingSettings": {
            "sampleSize": 5,
            "successfulSamplesRequired": 4,
            "additionalLatencyInMilliseconds": 200
          },
          "healthProbeSettings": {
            "probePath": "/healthz",
            "probeRequestType": "HEAD",
            "probeProtocol": "Https",
            "probeIntervalInSeconds": 60
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "96"
      },
      "ResponseBody": {
        "id": "/subscriptions/f3d94233-a9aa-4241-ac82-2dfb63ce637a/resourcegroups/testRg-5182/providers/Microsoft.Cdn/profiles/AFDProfile-9013/originGroups/AFDOriginGroup-2576",
        "type": "Microsoft.Cdn/profiles/originGroups",
        "name": "AFDOriginGroup-2576",
        "properties": {
          "loadBalancingSettings": {
            "sampleSize": 5,
            "successfulSamplesRequired": 4,
            "additionalLatencyInMilliseconds": 200
          },
          "healthProbeSettings": {
            "probePath": "/healthz",
            "probeRequestType": "HEAD",
            "probeProtocol": "Https",
            "probeIntervalInSeconds": 60
          },
          "responseBasedAfdOriginErrorDetectionSettings": null,
          "trafficRestorationTimeToHealedOrNewEndpointsInMinutes": null,
          "sessionAffinityState": "Disabled",
          "provisioningState": "Succeeded",
          "deploymentStatus": "NotStarted"
        }
      }
    }
  ],
  "Variables": {
    "RandomSeed": "356186830",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "f3d94233-a9aa-4241-ac82-2dfb63ce637a"
  }
}
