{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/49d64d54-e966-4c46-a868-1999802b762c?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11905"
      },
      "ResponseBody": {
        "id": "/subscriptions/49d64d54-e966-4c46-a868-1999802b762c",
        "authorizationSource": "RoleBased",
        "managedByTenants": [
          {
            "tenantId": "2f4a9838-26b7-47ee-be60-ccc1fdec5953"
          }
        ],
        "subscriptionId": "49d64d54-e966-4c46-a868-1999802b762c",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": "Az WaaS Test 1",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/49d64d54-e966-4c46-a868-1999802b762c/resourcegroups/sdk-tests-dotNet-php-3740?api-version=2021-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1196"
      },
      "ResponseBody": {
        "id": "/subscriptions/49d64d54-e966-4c46-a868-1999802b762c/resourceGroups/sdk-tests-dotNet-php-3740",
        "name": "sdk-tests-dotNet-php-3740",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus",
        "tags": {
          "Created": "20220629"
        },
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/49d64d54-e966-4c46-a868-1999802b762c/resourceGroups/sdk-tests-dotNet-php-3740/providers/Microsoft.Workloads/phpWorkloads/sdk-tests-dotNet-php-3740?api-version=2021-12-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kind": "WordPress",
        "sku": {
          "name": "ExtraLarge"
        },
        "location": "eastus2",
        "properties": {
          "appLocation": "eastus",
          "managedResourceGroupConfiguration": {
            "name": "sdk-tests-dotNet-php-3740-mrg"
          },
          "adminUserProfile": {
            "userName": "azureuser",
            "sshPublicKey": "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQC/LBjDiutHYYebcz91nDpabVKb\u002BypB8ARjrfWrNxd4cVThYsgN\u002BBD3wfRtQcJKzvHEc0fdyrnJEgRgG08Ys8irB5Hr3OJHb\u002BmvoGAy4cRl6m1R7YdYe5PBbFN9P39uvZjae9xf8Kv3PLkpVNQVRykmG\u002ByeBNxOyQmeuCedx9DWt1mSDfgdLvYYTE0NFhVYq9Z39DRG\u002Bx0UFxvMzCDs1/VjdAAyPgNrA\u002BMQvoKToHqXWweOdG1zoGpJJy6o8an6zdLpKEDadtZpuu6I6KloWHYaNrdJhZ2bjST\u002BHcOxYrqVoLA08zriD0JoKj5Ww68sveWBifNidRcAo6ssS6nspZbo5JhrxJrTqSaocwowX13f93s3byAOjW4iUQ5WDJhA6bs3GnCpyB0zy5n/AT3aZBcCbW/I7b9gOf6OAxdhZIw8GXZ42RxxOhQ8GRz9CVaT8kI4e\u002BbawZHUDlxfTscL8m/BksXyER4Yga88Lx4LCdC1r1FPPc1TNlCYl4Y1Fb43DgU="
          },
          "webNodesProfile": {
            "autoScaleMinCount": 1,
            "autoScaleMaxCount": 4,
            "name": "default",
            "nodeSku": "Standard_F2s_v2",
            "osImage": {
              "publisher": "Canonical",
              "offer": "UbuntuServer",
              "sku": "18.04-LTS",
              "version": "latest"
            },
            "osDisk": {
              "storageType": "Premium_LRS",
              "sizeInGB": 127
            }
          },
          "controllerProfile": {
            "name": "controller-vm",
            "nodeSku": "Standard_DS11-1_v2",
            "osImage": {
              "publisher": "Canonical",
              "offer": "UbuntuServer",
              "sku": "18.04-LTS",
              "version": "latest"
            },
            "osDisk": {
              "storageType": "Standard_LRS",
              "sizeInGB": 127
            }
          },
          "networkProfile": {
            "loadBalancerType": "LoadBalancer",
            "loadBalancerSku": "Standard",
            "azureFrontDoorEnabled": "Disabled"
          },
          "databaseProfile": {
            "type": "MySql",
            "serverName": "sdk-tests-dotnet-php-3740",
            "sku": "Standard_D2ds_v4",
            "tier": "GeneralPurpose",
            "haEnabled": "Enabled",
            "storageInGB": 1024,
            "storageIops": 2000,
            "backupRetentionDays": 0
          },
          "fileshareProfile": {
            "shareType": "AzureFiles",
            "storageType": "Premium_LRS",
            "shareSizeInGB": 4096
          },
          "phpProfile": {
            "version": "7.4"
          },
          "cacheProfile": {
            "name": "sdk-tests-dotNet-php-3740",
            "skuName": "Premium",
            "family": "P",
            "capacity": 1
          },
          "backupProfile": {
            "backupEnabled": "Disabled"
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-12-01-preview",
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/49d64d54-e966-4c46-a868-1999802b762c/providers/Microsoft.Workloads/locations/EASTUS2/operationStatuses/bb43da92-2b48-4c04-bb29-bb2b954a52fc*42A6DC4EA47B5158A7EB1DFAD1355DE6B162EB559E56AE4D3207D07699F9BADB?api-version=2021-12-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022c7072b81-0000-0200-0000-62bc1b470000\u0022",
        "Location": "/subscriptions/49d64d54-e966-4c46-a868-1999802b762c/resourceGroups/sdk-tests-dotNet-php-3740/providers/Microsoft.Workloads/phpWorkloads/sdk-tests-dotNet-php-3740",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-writes": "1195"
      },
      "ResponseBody": {
        "id": "/subscriptions/49d64d54-e966-4c46-a868-1999802b762c/resourceGroups/sdk-tests-dotNet-php-3740/providers/Microsoft.Workloads/phpWorkloads/sdk-tests-dotNet-php-3740",
        "name": "sdk-tests-dotNet-php-3740",
        "type": "microsoft.workloads/phpworkloads",
        "sku": {
          "name": "ExtraLarge"
        },
        "kind": "WordPress",
        "location": "eastus2",
        "systemData": {
          "createdBy": "dc41d3e9-63e2-4816-9aa9-bea74b775f50",
          "createdByType": "Application",
          "createdAt": "2022-06-29T09:28:39.0753593Z",
          "lastModifiedBy": "dc41d3e9-63e2-4816-9aa9-bea74b775f50",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2022-06-29T09:28:39.0753593Z"
        },
        "properties": {
          "appLocation": "eastus",
          "managedResourceGroupConfiguration": {
            "name": "sdk-tests-dotNet-php-3740-mrg"
          },
          "adminUserProfile": {
            "userName": "azureuser",
            "sshPublicKey": "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQC/LBjDiutHYYebcz91nDpabVKb\u002BypB8ARjrfWrNxd4cVThYsgN\u002BBD3wfRtQcJKzvHEc0fdyrnJEgRgG08Ys8irB5Hr3OJHb\u002BmvoGAy4cRl6m1R7YdYe5PBbFN9P39uvZjae9x[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/49d64d54-e966-4c46-a868-1999802b762c/providers/Microsoft.Workloads/locations/EASTUS2/operationStatuses/bb43da92-2b48-4c04-bb29-bb2b954a52fc*42A6DC4EA47B5158A7EB1DFAD1355DE6B162EB559E56AE4D3207D07699F9BADB?api-version=2021-12-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00220b112505-0000-0200-0000-62bc1b470000\u0022",
        "x-ms-ratelimit-remaining-subscription-reads": "11904"
      },
      "ResponseBody": {
        "id": "/subscriptions/49d64d54-e966-4c46-a868-1999802b762c/providers/Microsoft.Workloads/locations/EASTUS2/operationStatuses/bb43da92-2b48-4c04-bb29-bb2b954a52fc*42A6DC4EA47B5158A7EB1DFAD1355DE6B162EB559E56AE4D3207D07699F9BADB",
        "name": "bb43da92-2b48-4c04-bb29-bb2b954a52fc*42A6DC4EA47B5158A7EB1DFAD1355DE6B162EB559E56AE4D3207D07699F9BADB",
        "resourceId": "/subscriptions/49d64d54-e966-4c46-a868-1999802b762c/resourceGroups/sdk-tests-dotNet-php-3740/providers/Microsoft.Workloads/phpWorkloads/sdk-tests-dotNet-php-3740",
        "status": "Accepted",
        "startTime": "2022-06-29T09:28:39.3432118Z"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/49d64d54-e966-4c46-a868-1999802b762c/providers/Microsoft.Workloads/locations/EASTUS2/operationStatuses/bb43da92-2b48-4c04-bb29-bb2b954a52fc*42A6DC4EA47B5158A7EB1DFAD1355DE6B162EB559E56AE4D3207D07699F9BADB?api-version=2021-12-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00220b11261c-0000-0200-0000-62bc25a40000\u0022",
        "x-ms-ratelimit-remaining-subscription-reads": "11865"
      },
      "ResponseBody": {
        "id": "/subscriptions/49d64d54-e966-4c46-a868-1999802b762c/providers/Microsoft.Workloads/locations/EASTUS2/operationStatuses/bb43da92-2b48-4c04-bb29-bb2b954a52fc*42A6DC4EA47B5158A7EB1DFAD1355DE6B162EB559E56AE4D3207D07699F9BADB",
        "name": "bb43da92-2b48-4c04-bb29-bb2b954a52fc*42A6DC4EA47B5158A7EB1DFAD1355DE6B162EB559E56AE4D3207D07699F9BADB",
        "resourceId": "/subscriptions/49d64d54-e966-4c46-a868-1999802b762c/resourceGroups/sdk-tests-dotNet-php-3740/providers/Microsoft.Workloads/phpWorkloads/sdk-tests-dotNet-php-3740",
        "status": "Succeeded",
        "startTime": "2022-06-29T09:28:39.3432118Z",
        "endTime": "2022-06-29T10:12:52.2102229Z",
        "properties": null
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/49d64d54-e966-4c46-a868-1999802b762c/resourceGroups/sdk-tests-dotNet-php-3740/providers/Microsoft.Workloads/phpWorkloads/sdk-tests-dotNet-php-3740?api-version=2021-12-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-failure-cause": "gateway",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-reads": "11866"
      },
      "ResponseBody": {
        "error": {
          "code": "ResourceNotFound",
          "message": "The resource \u0027Microsoft.Workloads/phpWorkloads/sdk-tests-dotNet-php-3740\u0027 could not be found."
        }
      }
    }
  ],
  "Variables": {
    "RandomSeed": "616132742",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "49d64d54-e966-4c46-a868-1999802b762c"
  }
}
