{
  "Entries": [
    {
        "RequestUri": "//subscriptions/07c0b09d-9f69-4e6e-8d05-f59f67299cb2/resourceGroups/Rac46PostSwapRG/providers/Microsoft.Web/sites/alertruleTest/providers/microsoft.insights/metrics?$filter=(name.value%20eq%20'Requests')%20and%20timeGrain%20eq%20duration'PT1M'%20and%20startTime%20eq%202017-08-01T06:00:00Z%20and%20endTime%20eq%202017-08-02T23:00:00Z&api-version=2016-09-01",
        "RequestMethod": "GET",
        "RequestBody": "",
        "RequestHeaders": {
        },
        "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"data\": [\r\n        {\r\n          \"timeStamp\": \"2017-08-01T06:00:00Z\",\r\n          \"total\": 0.0\r\n        },\r\n        {\r\n          \"timeStamp\": \"2017-08-01T06:01:00Z\",\r\n          \"total\": 0.0\r\n        },\r\n        {\r\n          \"timeStamp\": \"2017-08-01T06:02:00Z\",\r\n          \"total\": 0.0\r\n        },\r\n        {\r\n          \"timeStamp\": \"2017-08-01T06:03:00Z\",\r\n          \"total\": 0.0\r\n        },\r\n        {\r\n          \"timeStamp\": \"2017-08-01T06:04:00Z\",\r\n          \"total\": 0.0\r\n        },\r\n        {\r\n          \"timeStamp\": \"20[...]
