{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/c526bbbc-c5ff-46b0-9ca8-3e8cb92a2cf5/resourceGroups/MediaServiceRG5068/providers/Microsoft.Media/mediaservices/mediadotnetsdktests7917?api-version=2023-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "westus2",
        "properties": {
          "storageAccounts": [
            {
              "id": "/subscriptions/c526bbbc-c5ff-46b0-9ca8-3e8cb92a2cf5/resourceGroups/MediaServiceRG5068/providers/Microsoft.Storage/storageAccounts/azstorageformedia7701",
              "type": "Primary"
            }
          ]
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/c526bbbc-c5ff-46b0-9ca8-3e8cb92a2cf5/providers/Microsoft.Media/locations/westus2/mediaServicesOperationStatuses/4e8e8a3b-da35-40c7-8c50-069bd4d65e06?api-version=2023-01-01",
        "Content-Type": "application/json; odata.metadata=minimal",
        "Location": "https://management.azure.com/subscriptions/c526bbbc-c5ff-46b0-9ca8-3e8cb92a2cf5/providers/Microsoft.Media/locations/westus2/mediaServicesOperationResults/4e8e8a3b-da35-40c7-8c50-069bd4d65e06?api-version=2023-01-01",
        "OData-Version": "4.0",
        "Retry-After": "30",
        "x-ms-ratelimit-remaining-subscription-writes": "1167"
      },
      "ResponseBody": {
        "name": "mediadotnetsdktests7917",
        "id": "/subscriptions/c526bbbc-c5ff-46b0-9ca8-3e8cb92a2cf5/resourceGroups/MediaServiceRG5068/providers/Microsoft.Media/mediaservices/mediadotnetsdktests7917",
        "type": "Microsoft.Media/mediaservices",
        "location": "West US 2",
        "tags": {},
        "properties": {
          "mediaServiceId": "a5fc3cdc-a94e-4700-94a0-5970e74e8072",
          "storageAccounts": [
            {
              "id": "/subscriptions/c526bbbc-c5ff-46b0-9ca8-3e8cb92a2cf5/resourceGroups/MediaServiceRG5068/providers/Microsoft.Storage/storageAccounts/azstorageformedia7701",
              "type": "Primary"
            }
          ],
          "keyDelivery": {
            "accessControl": {
              "defaultAction": "Allow",
              "ipAllowList": []
            }
          },
          "publicNetworkAccess": "Enabled",
          "provisioningState": "InProgress",
          "privateEndpointConnections": []
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/c526bbbc-c5ff-46b0-9ca8-3e8cb92a2cf5/providers/Microsoft.Media/locations/westus2/mediaServicesOperationStatuses/4e8e8a3b-da35-40c7-8c50-069bd4d65e06?api-version=2023-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal; odata.streaming=true",
        "OData-Version": "4.0",
        "x-ms-ratelimit-remaining-subscription-reads": "11936"
      },
      "ResponseBody": {
        "name": "4e8e8a3b-da35-40c7-8c50-069bd4d65e06",
        "id": "/subscriptions/c526bbbc-c5ff-46b0-9ca8-3e8cb92a2cf5/providers/Microsoft.Media/locations/westus2/mediaServicesOperationStatuses/4e8e8a3b-da35-40c7-8c50-069bd4d65e06",
        "startTime": "2023-03-21T17:41:02.2159174Z",
        "status": "InProgress"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/c526bbbc-c5ff-46b0-9ca8-3e8cb92a2cf5/providers/Microsoft.Media/locations/westus2/mediaServicesOperationStatuses/4e8e8a3b-da35-40c7-8c50-069bd4d65e06?api-version=2023-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal; odata.streaming=true",
        "OData-Version": "4.0",
        "x-ms-ratelimit-remaining-subscription-reads": "11935"
      },
      "ResponseBody": {
        "name": "4e8e8a3b-da35-40c7-8c50-069bd4d65e06",
        "id": "/subscriptions/c526bbbc-c5ff-46b0-9ca8-3e8cb92a2cf5/providers/Microsoft.Media/locations/westus2/mediaServicesOperationStatuses/4e8e8a3b-da35-40c7-8c50-069bd4d65e06",
        "startTime": "2023-03-21T17:41:02.2159174Z",
        "endTime": "2023-03-21T17:41:02.5909396Z",
        "status": "Succeeded"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/c526bbbc-c5ff-46b0-9ca8-3e8cb92a2cf5/resourceGroups/MediaServiceRG5068/providers/Microsoft.Media/mediaservices/mediadotnetsdktests7917?api-version=2023-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal; odata.streaming=true",
        "OData-Version": "4.0",
        "x-ms-ratelimit-remaining-subscription-reads": "11934"
      },
      "ResponseBody": {
        "name": "mediadotnetsdktests7917",
        "id": "/subscriptions/c526bbbc-c5ff-46b0-9ca8-3e8cb92a2cf5/resourceGroups/MediaServiceRG5068/providers/Microsoft.Media/mediaservices/mediadotnetsdktests7917",
        "type": "Microsoft.Media/mediaservices",
        "location": "West US 2",
        "properties": {
          "mediaServiceId": "a5fc3cdc-a94e-4700-94a0-5970e74e8072",
          "storageAccounts": [
            {
              "id": "/subscriptions/c526bbbc-c5ff-46b0-9ca8-3e8cb92a2cf5/resourceGroups/MediaServiceRG5068/providers/Microsoft.Storage/storageAccounts/azstorageformedia7701",
              "type": "Primary"
            }
          ],
          "storageAuthentication": "System",
          "encryption": {
            "type": "SystemKey"
          },
          "keyDelivery": {
            "accessControl": {
              "defaultAction": "Allow",
              "ipAllowList": []
            }
          },
          "publicNetworkAccess": "Enabled",
          "provisioningState": "Succeeded",
          "privateEndpointConnections": [],
          "minimumTlsVersion": "Tls12"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/c526bbbc-c5ff-46b0-9ca8-3e8cb92a2cf5/resourceGroups/MediaServiceRG5068/providers/Microsoft.Media/mediaServices/mediadotnetsdktests7917/contentKeyPolicies/contentKeyPolicy2180?api-version=2023-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "options": [
            {
              "configuration": {
                "@odata.type": "#Microsoft.Media.ContentKeyPolicyClearKeyConfiguration"
              },
              "restriction": {
                "@odata.type": "#Microsoft.Media.ContentKeyPolicyOpenRestriction"
              }
            }
          ]
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal",
        "OData-Version": "4.0",
        "x-ms-ratelimit-remaining-subscription-writes": "1166"
      },
      "ResponseBody": {
        "name": "contentKeyPolicy2180",
        "id": "/subscriptions/c526bbbc-c5ff-46b0-9ca8-3e8cb92a2cf5/resourceGroups/MediaServiceRG5068/providers/Microsoft.Media/mediaservices/mediadotnetsdktests7917/contentKeyPolicies/contentKeyPolicy2180",
        "type": "Microsoft.Media/mediaservices/contentKeyPolicies",
        "properties": {
          "policyId": "e9bd08c3-d7b3-4f42-a54a-5d19d49837d8",
          "created": "2023-03-21T17:41:03.99Z",
          "lastModified": "2023-03-21T17:41:03.99Z",
          "options": [
            {
              "policyOptionId": "7fc7aef3-1bed-4d2c-8a69-6cae68cde1f0",
              "configuration": {
                "@odata.type": "#Microsoft.Media.ContentKeyPolicyClearKeyConfiguration"
              },
              "restriction": {
                "@odata.type": "#Microsoft.Media.ContentKeyPolicyOpenRestriction"
              }
            }
          ]
        },
        "systemData": {
          "createdBy": "d2631ee4-9bcf-4b98-bd42-dced0fadaa92",
          "createdByType": "Application",
          "createdAt": "2023-03-21T17:41:03.9036006Z",
          "lastModifiedBy": "d2631ee4-9bcf-4b98-bd42-dced0fadaa92",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2023-03-21T17:41:03.9036006Z"
        }
      }
    },
[...]
