{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/MediaServiceRG8328/providers/Microsoft.Media/mediaservices/mediaservice6728?api-version=2021-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal",
        "OData-Version": "4.0",
        "x-ms-ratelimit-remaining-subscription-reads": "11953"
      },
      "ResponseBody": {
        "name": "mediaservice6728",
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/MediaServiceRG8328/providers/Microsoft.Media/mediaservices/mediaservice6728",
        "type": "Microsoft.Media/mediaservices",
        "location": "West US 2",
        "properties": {
          "mediaServiceId": "f3ad4a13-de93-4f47-8a97-86a83e329ba1",
          "storageAccounts": [
            {
              "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/MediaServiceRG8328/providers/Microsoft.Storage/storageAccounts/azstorageformedia1859",
              "type": "Primary"
            }
          ],
          "storageAuthentication": "System",
          "encryption": {
            "type": "SystemKey"
          },
          "keyDelivery": {
            "accessControl": {
              "defaultAction": "Allow",
              "ipAllowList": []
            }
          },
          "publicNetworkAccess": "Enabled",
          "provisioningState": "Succeeded",
          "privateEndpointConnections": []
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/MediaServiceRG8328/providers/Microsoft.Media/mediaServices/mediaservice6728/contentKeyPolicies/contentKeyPolicy5168?api-version=2022-08-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "options": [
            {
              "configuration": {
                "@odata.type": "#Microsoft.Media.ContentKeyPolicyClearKeyConfiguration"
              },
              "restriction": {
                "@odata.type": "#Microsoft.Media.ContentKeyPolicyOpenRestriction"
              }
            }
          ]
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal",
        "OData-Version": "4.0",
        "x-ms-ratelimit-remaining-subscription-writes": "1169"
      },
      "ResponseBody": {
        "name": "contentKeyPolicy5168",
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/MediaServiceRG8328/providers/Microsoft.Media/mediaservices/mediaservice6728/contentKeyPolicies/contentKeyPolicy5168",
        "type": "Microsoft.Media/mediaservices/contentKeyPolicies",
        "properties": {
          "policyId": "c44a61a5-a2c7-4bd8-8b5b-9642a3991a4b",
          "created": "2022-09-02T06:28:22.43Z",
          "lastModified": "2022-09-02T06:28:22.43Z",
          "options": [
            {
              "policyOptionId": "5a01ff2b-e1c8-4748-96ec-4d5c675838ea",
              "configuration": {
                "@odata.type": "#Microsoft.Media.ContentKeyPolicyClearKeyConfiguration"
              },
              "restriction": {
                "@odata.type": "#Microsoft.Media.ContentKeyPolicyOpenRestriction"
              }
            }
          ]
        },
        "systemData": {
          "createdBy": "18521949-6d6e-454b-b208-4d3141df8607",
          "createdByType": "Application",
          "createdAt": "2022-09-02T06:28:22.0508727Z",
          "lastModifiedBy": "18521949-6d6e-454b-b208-4d3141df8607",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2022-09-02T06:28:22.0508727Z"
        }
      }
    },
[...]
