{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/MediaServiceRG5666/providers/Microsoft.Media/mediaservices/mediaservice545?api-version=2021-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal",
        "OData-Version": "4.0",
        "x-ms-ratelimit-remaining-subscription-reads": "11945"
      },
      "ResponseBody": {
        "name": "mediaservice545",
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/MediaServiceRG5666/providers/Microsoft.Media/mediaservices/mediaservice545",
        "type": "Microsoft.Media/mediaservices",
        "location": "West US 2",
        "properties": {
          "mediaServiceId": "bd87115a-d860-4ec8-b5ae-28ce2585b050",
          "storageAccounts": [
            {
              "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/MediaServiceRG5666/providers/Microsoft.Storage/storageAccounts/azstorageformedia5975",
              "type": "Primary"
            }
          ],
          "storageAuthentication": "System",
          "encryption": {
            "type": "SystemKey"
          },
          "keyDelivery": {
            "accessControl": {
              "defaultAction": "Allow",
              "ipAllowList": []
            }
          },
          "publicNetworkAccess": "Enabled",
          "provisioningState": "Succeeded",
          "privateEndpointConnections": []
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/MediaServiceRG5666/providers/Microsoft.Media/mediaServices/mediaservice545/contentKeyPolicies/contentKeyPolicy887?api-version=2021-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "options": [
            {
              "configuration": {
                "@odata.type": "#Microsoft.Media.ContentKeyPolicyClearKeyConfiguration"
              },
              "restriction": {
                "@odata.type": "#Microsoft.Media.ContentKeyPolicyOpenRestriction"
              }
            }
          ]
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal",
        "OData-Version": "4.0",
        "x-ms-ratelimit-remaining-subscription-writes": "1171"
      },
      "ResponseBody": {
        "name": "contentKeyPolicy887",
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/MediaServiceRG5666/providers/Microsoft.Media/mediaservices/mediaservice545/contentKeyPolicies/contentKeyPolicy887",
        "type": "Microsoft.Media/mediaservices/contentKeyPolicies",
        "properties": {
          "policyId": "545c0126-80a5-4aa6-af34-8dcbebaadab4",
          "created": "2022-08-17T02:17:06.47Z",
          "lastModified": "2022-08-17T02:17:06.47Z",
          "options": [
            {
              "policyOptionId": "a7c4593d-b03e-4463-af67-c48e7eb5999e",
              "configuration": {
                "@odata.type": "#Microsoft.Media.ContentKeyPolicyClearKeyConfiguration"
              },
              "restriction": {
                "@odata.type": "#Microsoft.Media.ContentKeyPolicyOpenRestriction"
              }
            }
          ]
        },
        "systemData": {
          "createdBy": "8e6d47e0-7969-4fde-a62c-4fea4f165e98",
          "createdByType": "Application",
          "createdAt": "2022-08-17T02:17:06.1689041Z",
          "lastModifiedBy": "8e6d47e0-7969-4fde-a62c-4fea4f165e98",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2022-08-17T02:17:06.1689041Z"
        }
      }
    },
[...]
