{
  "Entries": [
    {
      "RequestUri": "/v1/apps/DEMO_APP/events/availabilityResults?timespan=P1D&$top=10",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-api-key": [
          "DEMO_KEY"
        ],
        "prefer": [
          "response-v1=true"
        ],
        "x-ms-app": [
          "csharpsdk"
        ]
      },
      "ResponseHeaders": {
        "OData-Version": [
          "4.0;"
        ],
        "Content-Type": [
          "application/json; charset=utf-8; ieee754compatible=false; odata.metadata=none; odata.streaming=false"
        ]
      },
      "ResponseBody": "{\r\n  \"@odata.context\": \"https://api.applicationinsights.io/v1/apps/DEMO_APP/events/$metadata#availabilityResults\",\r\n  \"value\": [\r\n    {\r\n      \"id\": \"3ca825fe-c041-11e8-9bf2-f7793a66d6e4\",\r\n      \"count\": 1,\r\n      \"type\": \"availabilityResult\",\r\n      \"timestamp\": \"2018-09-24T21:31:38.782Z\",\r\n      \"customDimensions\": {\r\n        \"FullTestResultAvailable\": \"false\",\r\n        \"WebtestArmResourceName\": \"app service home page-fabrikamprod\",\r\n        \"SyntheticMonitorId\": \"default_app service home page-fabrikamprod_emea-ch-zrh-edge\",\r\n        \"WebtestLocationId\": \"emea-ch-zrh-edge\"\r\n      },\r\n      \"customMeasurements\": null,\r\n      \"operation\": {\r\n        \"name\": \"\",\r\n        \"id\": \"38e0ce615aa24fb990ecb19fe6db817d\",\r\n        \"parentId\": \"38e0ce615aa24fb990ecb19fe6db817d\",\r\n        \"syntheticSource\": \"\"\r\n      },\r\n      \"session\": {\r\n        \"id\": \"\"\r\n      },\r\n      \"user\": {\r\n        \"id\": \"\",\r\n        \"accountId\": \"\",\r\n        \"authenticatedId\": \"\"\r\n      },\r\n      \"cloud\": {\r\n        \"roleName\": \"\",\r\n        \"roleInstance\": \"\"\r\n      },\r\n      \"ai\": {\r\n        \"iKey\": \"5a2e4e0c-e136-4a15-9824-90ba859b0a89\",\r\n        \"appName\": \"fabrikamprod\",\r\n        \"appId\": \"cf58dcfd-0683-487c-bc84-048789bca8e5\",\r\n        \"sdkVersion\": \"\"\r\n      },\r\n      \"availabilityResult\": {\r\n        \"name\": \"App Service Home Page\",\r\n        \"success\": \"1\",\r\n        \"duration\": 1902,\r\n        \"performanceBucket\": \"\",\r\n        \"message\": \"Passed\",\r\n        \"location\": \"France South\",\r\n        \"id\": \"38e0ce615aa24fb990ecb19fe6db817d\",\r\n        \"size\": null\r\n      },\r\n      \"application\": {\r\n        \"version\": \"\"\r\n      },\r\n      \"client\": {\r\n        \"model\": \"\",\r\n        \"os\": \"\",\r\n        \"type\": \"PC\",\r\n        \"browser\": \"\",\r\n        \"ip\": \"0.0.0.0\",\r\n        \"city\": \"Marseille\",\r\n        \"stateOrProvince\": \"Bouches-du-Rhône\",\r\n        \"countryOrRegion\": \"France\"\r\n      }\r\n    },\r\n    {\r\n      \"id\": \"2bcb96d6-c041-11e8-aafd-b722b953cf19\",\r\n      \"count\": 1,\r\n      \"type\": \"availabilityResult\",\r\n      \"timestamp\": \"2018-09-24T21:31:06.633Z\",\r\n      \"customDimensions\": {\r\n        \"FullTestResultAvailable\": \"true\",\r\n        \"WebtestArmResourceName\": \"fabrikam click tickets and employees-fabrikamprod\",\r\n        \"SyntheticMonitorId\": \"default_fabrikam click tickets and employees-fabrikamprod_us-fl-m[...]
    {
      "RequestUri": "/v1/apps/DEMO_APP/events/availabilityResults/3ca825fe-c041-11e8-9bf2-f7793a66d6e4",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-api-key": [
          "DEMO_KEY"
        ],
        "prefer": [
          "response-v1=true"
        ],
        "x-ms-app": [
          "csharpsdk"
        ]
      },
      "ResponseHeaders": {
        "OData-Version": [
          "4.0;"
        ],
        "Content-Type": [
          "application[...]
