{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/f66367e1-cf7d-407b-ba39-53230cc79071?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11972"
      },
      "ResponseBody": {
        "id": "/subscriptions/f66367e1-cf7d-407b-ba39-53230cc79071",
        "authorizationSource": "Bypassed",
        "managedByTenants": [
          {
            "tenantId": "2f4a9838-26b7-47ee-be60-ccc1fdec5953"
          }
        ],
        "subscriptionId": "f66367e1-cf7d-407b-ba39-53230cc79071",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": "MGMT GCRP Package Test 001",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/f66367e1-cf7d-407b-ba39-53230cc79071/resourcegroups/neela-sdk-rg?api-version=**",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11971"
      },
      "ResponseBody": {
        "id": "/subscriptions/f66367e1-cf7d-407b-ba39-53230cc79071/resourceGroups/neela-sdk-rg",
        "name": "neela-sdk-rg",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus",
        "tags": {},
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/f66367e1-cf7d-407b-ba39-53230cc79071/resourceGroups/neela-sdk-rg/providers/Microsoft.HybridCompute/machines/LAPTOP-4B77J53J/providers/Microsoft.GuestConfiguration/guestConfigurationAssignments?api-version=2022-01-25",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11970"
      },
      "ResponseBody": {
        "value": [
          {
            "location": "westcentralus",
            "id": "/subscriptions/f66367e1-cf7d-407b-ba39-53230cc79071/resourceGroups/neela-sdk-rg/providers/Microsoft.HybridCompute/machines/LAPTOP-4B77J53J/providers/Microsoft.GuestConfiguration/guestConfigurationAssignments/AuditSecureProtocol",
            "name": "AuditSecureProtocol",
            "properties": {
              "complianceStatus": "NonCompliant",
              "assignmentHash": "",
              "parameterHash": "PQ==",
              "latestReportId": "/subscriptions/f66367e1-cf7d-407b-ba39-53230cc79071/resourceGroups/neela-sdk-rg/providers/Microsoft.HybridCompute/machines/LAPTOP-4B77J53J/providers/Microsoft.GuestConfiguration/guestConfigurationAssignments/AuditSecureProtocol/reports/6c94b99d-caf5-4b05-b294-065617e83cd2",
              "lastComplianceStatusChecked": "2022-09-06T22:04:37Z",
              "context": null,
              "guestConfiguration": {
                "kind": null,
                "name": "AuditSecureProtocol",
                "version": "1.0.0.3",
                "contentUri": null,
                "contentHash": null,
                "contentType": null,
                "assignmentType": "ApplyAndAutoCorrect",
                "assignmentSource": null,
                "configurationParameter": [
                  {
                    "name": null,
                    "value": null
                  }
                ],
                "configurationProtectedParameter": [],
                "configurationSetting": {
                  "configurationMode": "MonitorOnly",
                  "allowModuleOverwrite": false,
                  "actionAfterReboot": "",
                  "refreshFrequencyMins": 5,
                  "rebootIfNeeded": true,
                  "configurationModeFrequencyMins": 15
                }
              },
              "provisioningState": null,
              "resourceType": null,
              "vmssVMList": null
            }
          },
          {
            "location": "centraluseuap",
            "id": "/subscriptions/f66367e1-cf7d-407b-ba39-53230cc79071/resourceGroups/neela-sdk-rg/providers/Microsoft.HybridCompute/machines/LAPTOP-4B77J53J/providers/Microsoft.GuestConfiguration/guestConfigurationAssignments/WindowsPendingReboot",
            "name": "WindowsPendingReboot",
            "properties": {
              "complianceStatus": "NonCompliant",
              "assignmentHash": "E8F6587B2[...]
