{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11994"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "TagKey-9823": "TagValue-1254",
          "TagKey-3481": "TagValue-320",
          "TagKey-4926": "TagValue-1187",
          "TagKey-751": "TagValue-3921",
          "TagKey-1866": "TagValue-8559",
          "TagKey-3094": "TagValue-9190",
          "TagKey-2449": "TagValue-9",
          "TagKey-8379": "TagValue-164",
          "TagKey-7470": "TagValue-2205",
          "TagKey-4236": "TagValue-3698",
          "TagKey-5316": "TagValue-2725"
        },
        "subscriptionId": "db1ab6f0-4769-4b27-930e-01e2ef9c123c",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": ".NET Mgmt SDK Test with TTL = 1 Day",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourcegroups/testRG-2600?api-version=2021-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {
          "test": "env"
        },
        "location": "eastus"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1192"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-2600",
        "name": "testRG-2600",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus",
        "tags": {
          "test": "env"
        },
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourcegroups/testRG-2600/providers/Microsoft.OperationalInsights/workspaces/testRG-2600-ws?api-version=2022-10-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "westus",
        "properties": {
          "sku": {
            "name": "PerNode"
          },
          "retentionInDays": 30,
          "publicNetworkAccessForIngestion": "Enabled",
          "publicNetworkAccessForQuery": "Enabled"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2015-03-20, 2020-08-01, 2020-10-01, 2021-06-01, 2022-10-01",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-2600/providers/Microsoft.OperationalInsights/workspaces/testRG-2600-ws?api-version=2022-10-01",
        "x-ms-ratelimit-remaining-subscription-writes": "1191"
      },
      "ResponseBody": {
        "properties": {
          "customerId": "2c657092-fbf6-455a-818c-5b05e785774f",
          "provisioningState": "Creating",
          "sku": {
            "name": "PerGB2018",
            "lastSkuUpdate": "2022-12-16T08:17:34.3037598Z"
          },
          "retentionInDays": 30,
          "features": {
            "legacy": 0,
            "searchVersion": 1,
            "enableLogAccessUsingOnlyResourcePermissions": true
          },
          "workspaceCapping": {
            "dailyQuotaGb": -1.0,
            "quotaNextResetTime": "2022-12-16T13:00:00Z",
            "dataIngestionStatus": "RespectQuota"
          },
          "publicNetworkAccessForIngestion": "Enabled",
          "publicNetworkAccessForQuery": "Enabled",
          "createdDate": "2022-12-16T08:17:34.3037598Z",
          "modifiedDate": "2022-12-16T08:17:34.3037598Z"
        },
        "location": "westus",
        "tags": {},
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-2600/providers/Microsoft.OperationalInsights/workspaces/testRG-2600-ws",
        "name": "testRG-2600-ws",
        "type": "Microsoft.OperationalInsights/workspaces"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-2600/providers/Microsoft.OperationalInsights/workspaces/testRG-2600-ws?api-version=2022-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2015-03-20, 2020-08-01, 2020-10-01, 2021-06-01, 2022-10-01"[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-2600/providers/Microsoft.OperationalInsights/workspaces/testRG-2600-ws/providers/Microsoft.SecurityInsights/onboardingStates/default?api-version=2022-08-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "customerManagedKey": false
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "10"
      },
      "ResponseBody": {
        "properties": {},
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-2600/providers/Microsoft.OperationalInsights/workspaces/testRG-2600-ws/providers/Microsoft.SecurityInsights/onboardingStates/default",
        "name": "default",
        "type": "Microsoft.SecurityInsights/onboardingStates",
        "systemData": {
          "createdAt": "2022-12-16T08:17:47.1180576Z",
          "createdBy": "a1fc368b-7f40-4802-8fa1-260d3a6ec34b",
          "createdByType": "Application",
          "lastModifiedAt": "2022-12-16T08:17:47.1180576Z",
          "lastModifiedBy": "a1fc368b-7f40-4802-8fa1-260d3a6ec34b",
          "lastModifiedByType": "Application"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-2600/providers/Microsoft.OperationalInsights/workspaces/testRG-2600-ws/providers/Microsoft.SecurityInsights/watchlists/testWatchlists-8967?api-version=2022-08-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "displayName": "SDK Test",
          "provider": "SDK Test",
          "source": "sdktest",
          "itemsSearchKey": "ipaddress"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1190"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-2600/providers/Microsoft.OperationalInsights/workspaces/testRG-2600-ws/providers/Microsoft.SecurityInsights/Watchlists/testWatchlists-8967",
        "name": "testWatchlists-8967",
        "etag": "\u00220000993a-0000-0100-0000-639c29b00000\u0022",
        "type": "Microsoft.SecurityInsights/Watchlists",
        "systemData": {
          "createdAt": "2022-12-16T08:17:52.3245371Z",
          "createdBy": "a1fc368b-7f40-4802-8fa1-260d3a6ec34b",
          "createdByType": "Application",
          "lastModifiedAt": "2022-12-16T08:17:52.3245371Z",
          "lastModifiedBy": "a1fc368b-7f40-4802-8fa1-260d3a6ec34b",
          "lastModifiedByType": "Application"
        },
        "properties": {
          "watchlistId": "f06ef57d-12db-4abb-b86a-667607714b2b",
          "displayName": "SDK Test",
          "provider": "SDK Test",
          "source": "sdktest",
          "itemsSearchKey": "ipaddress",
          "created": "2022-12-16T08:17:52.3245371\u002B00:00",
          "updated": "2022-12-16T08:17:52.3245371\u002B00:00",
          "createdBy": {
            "objectId": "81fa2eb4-9d84-4df5-ad32-6c22e2feb57e",
            "name": "a1fc368b-7f40-4802-8fa1-260d3a6ec34b"
          },
          "updatedBy": {
            "objectId": "81fa2eb4-9d84-4df5-ad32-6c22e2feb57e",
            "name": "a1fc368b-7f40-4802-8fa1-260d3a6ec34b"
          },
          "watchlistType": "watchlist",
          "watchlistAlias": "testWatchlists-8967",
          "isDeleted": false,
          "labels": [],
          "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
          "numberOfLinesToSkip": 0,
          "uploadStatus": "New"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-2600/providers/Microsoft.OperationalInsights/workspaces/testRG-2600-ws/providers/Microsoft.SecurityInsights/watchlists/testWatchlists-8967/watchlistItems/6d37a904-d199-43ff-892b-53653b784122?api-version=2022-08-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "itemsKeyValue": {
            "ipaddress": "1.1.1.2"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1189"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-2600/providers/Microsoft.OperationalInsights/workspaces/testRG-2600-ws/providers/Microsoft.SecurityInsights/Watchlists/testWatchlists-8967/WatchlistItems/6d37a904-d199-43ff-892b-53653b784122",
        "name": "6d37a904-d199-43ff-892b-53653b784122",
        "etag": "\u002200009b3a-0000-0100-0000-639c29b50000\u0022",
        "type": "Microsoft.SecurityInsights/Watchlists/WatchlistItems",
        "systemData": {
          "createdAt": "2022-12-16T08:17:53.3884499Z",
          "createdBy": "a1fc368b-7f40-4802-8fa1-260d3a6ec34b",
          "createdByType": "Application",
          "lastModifiedAt": "2022-12-16T08:17:53.3884499Z",
          "lastModifiedBy": "a1fc368b-7f40-4802-8fa1-260d3a6ec34b",
          "lastModifiedByType": "Application"
        },
        "properties": {
          "watchlistItemType": "watchlist-item",
          "watchlistItemId": "6d37a904-d199-43ff-892b-53653b784122",
          "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
          "isDeleted": false,
          "created": "2022-12-16T08:17:53.3884499\u002B00:00",
          "updated": "2022-12-16T08:17:53.3884499\u002B00:00",
          "createdBy": {
            "objectId": "81fa2eb4-9d84-4df5-ad32-6c22e2feb57e",
            "name": "a1fc368b-7f40-4802-8fa1-260d3a6ec34b"
          },
          "updatedBy": {
            "objectId": "81fa2eb4-9d84-4df5-ad32-6c22e2feb57e",
            "name": "a1fc368b-7f40-4802-8fa1-260d3a6ec34b"
          },
          "itemsKeyValue": {
            "ipaddress": "1.1.1.2"
          },
          "entityMapping": {}
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-2600/providers/Microsoft.OperationalInsights/workspaces/testRG-2600-ws/providers/Microsoft.SecurityInsights/watchlists/testWatchlists-8967/watchlistItems?api-version=2022-08-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11991"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-2600/providers/Microsoft.OperationalInsights/workspaces/testRG-2600-ws/providers/Microsoft.SecurityInsights/Watchlists/testWatchlists-8967/WatchlistItems/6d37a904-d199-43ff-892b-53653b784122",
            "name": "6d37a904-d199-43ff-892b-53653b784122",
            "etag": "\u002200009b3a-0000-0100-0000-639c29b50000\u0022",
            "type": "Microsoft.SecurityInsights/Watchlists/Watchlis[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-2600/providers/Microsoft.OperationalInsights/workspaces/testRG-2600-ws/providers/Microsoft.SecurityInsights/watchlists/testWatchlists-8967/watchlistItems/6d37a904-d199-43ff-892b-53653b784123?api-version=2022-08-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11989"
      },
      "ResponseBody": {
        "error": {
          "code": "404",
          "message": "Resource \u00276d37a904-d199-43ff-892b-53653b784123\u0027 does not exist"
        }
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com/",
    "RandomSeed": "67759902",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "db1ab6f0-4769-4b27-930e-01e2ef9c123c"
  }
}
