{
  "Entries": [
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-b8daef83-ce4e-2dd4-4eec-380c635578e1?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 08 Nov 2021 23:05:01 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9A30C319EE0BC\u0022",
        "Last-Modified": "Mon, 08 Nov 2021 23:05:01 GMT",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-b8daef83-ce4e-2dd4-4eec-380c635578e1/test-blob-bdd6e92e-a413-d3b5-4515-ceef44e5a999",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Mon, 08 Nov 2021 23:05:01 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9A30C31A84A51\u0022",
        "Last-Modified": "Mon, 08 Nov 2021 23:05:01 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-04-10",
        "x-ms-version-id": "2021-11-08T23:05:01.7693531Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-b8daef83-ce4e-2dd4-4eec-380c635578e1/test-blob-bdd6e92e-a413-d3b5-4515-ceef44e5a999?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\u00220x8D9A30C31A84A51\u0022",
        "x-ms-date": "Mon, 08 Nov 2021 23:05:01 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": "dZqH3cO8kRErQ6hxIXn7bS/eKBIrAIId9Si8G6t66Wc9XuWWWd6VJ78XTRvZFoxuhlkazoGNInUXaeib/3VmsFlBM8KUZBRQSQBSE7JnQ96bTpRRXxrlsDtvfu/2\u002BidKsZzBmOLK2SJFyYWAOg/CsCYJ/7DgFFA\u002BW4OHJOUkWU/ZCGIWpqr70XVyDJWVZXUsrc7J7fp3aZ1Lgj1eQ7Q8IG82pzGsrAl7DS47bge7qfUOWncWW2xUYZ7EyiNtnI3BNewmX75DfwHETd/LO/uVkNlIUOg8JcUD4UWS5\u002BHmDnChejgblUk2ytp2Ug2NiSajLjpKJUykhBAmIn55sJcf3j9vKsHCevuPEYYOxtO4dlcf77mnm\u002Bgk/PYo9HLKvRlDVnPNHV5l4bQ[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-b8daef83-ce4e-2dd4-4eec-380c635578e1/test-blob-bdd6e92e-a413-d3b5-4515-ceef44e5a999",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 08 Nov 2021 23:05:01 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D9A30C31B149A9\u0022",
        "Last-Modified": "Mon, 08 Nov 2021 23:05:01 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Mon, 08 Nov 2021 23:05:01 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-04-10",
        "x-ms-version-id": "2021-11-08T23:05:01.7693531Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-b8daef83-ce4e-2dd4-4eec-380c635578e1?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 08 Nov 2021 23:05:01 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "510082335",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttp://seanmcccanary3.blob.core.windows.net\nhttp://seanmcccanary3.file.core.windows.net\nhttp://seanmcccanary3.queue.core.windows.net\nhttp://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttp://seanmcccanary3-secondary.blob.core.windows.net\nhttp://seanmcccanary3-secondary.file.core.windows.net\nhttp://seanmcccanary3-secondary.queue.core.windows.net\nhttp://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=http://seanmcccanary3.queue.core.windows.net/;FileEndpoint=http://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=http://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\n[encryption scope]\n\n"
  }
}