{
  "Entries": [
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-a3fe2787-ff9f-62c5-a6b1-c671869004e8?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 08 Nov 2021 23:05:02 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9A30C320904A8\u0022",
        "Last-Modified": "Mon, 08 Nov 2021 23:05:02 GMT",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-a3fe2787-ff9f-62c5-a6b1-c671869004e8/test-blob-ef03f9b0-b0f9-47c4-f2b9-21a19ef244df",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Mon, 08 Nov 2021 23:05:02 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9A30C32126E50\u0022",
        "Last-Modified": "Mon, 08 Nov 2021 23:05:02 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-04-10",
        "x-ms-version-id": "2021-11-08T23:05:02.4639568Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-a3fe2787-ff9f-62c5-a6b1-c671869004e8/test-blob-ef03f9b0-b0f9-47c4-f2b9-21a19ef244df?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\u00220x8D9A30C32126E50\u0022",
        "x-ms-date": "Mon, 08 Nov 2021 23:05:02 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": "9VcYuHC3kKuxFjoduO6dCZwNa5yBt8\u002BD5FostJ6DAhoYr\u002BFthFxIT1pjmwFWU\u002BUsNDVX1\u002BLMFT6IlNQWitsMLRQgBAkMMIQ/xRxCHRzNLZF0AIBoLCs4S5mj5O\u002BIMsV\u002BVm7tNU7bIAOxGBHFivchu2dDoYlbpAHo57hwaUyUtpJWw8eu3/dCmeB8txQZcsCigSmIRZE7IrJtBE6Va7a3HGF/b8cwc9twAQip3uzsz3X3zeciC3EBG6AUQduprC0pxZuymgP5cQ1OGESJkUTGgDXZnZ3PlBDwfVMmHDIAxlTagBlROjRx/lzZ1PMteIpcTcClzw6QWjGKwh2w01XbTVHvrhArdEYAZ59B9cAcwgTIys5xWvdFSibnx3cXwSsG/[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-a3fe2787-ff9f-62c5-a6b1-c671869004e8/test-blob-ef03f9b0-b0f9-47c4-f2b9-21a19ef244df",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 08 Nov 2021 23:05:02 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D9A30C321B46A7\u0022",
        "Last-Modified": "Mon, 08 Nov 2021 23:05:02 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Mon, 08 Nov 2021 23:05:02 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-04-10",
        "x-ms-version-id": "2021-11-08T23:05:02.4639568Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-a3fe2787-ff9f-62c5-a6b1-c671869004e8/test-blob-ef03f9b0-b0f9-47c4-f2b9-21a19ef244df",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8D9A30C321B46A7\u0022",
        "x-ms-date": "Mon, 08 Nov 2021 23:05:02 GMT",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D9A30C321B46A7\u0022",
        "Last-Modified": "Mon, 08 Nov 2021 23:05:02 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Mon, 08 Nov 2021 23:05:02 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-a3fe2787-ff9f-62c5-a6b1-c671869004e8?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 08 Nov 2021 23:05:02 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1437451354",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttp://seanmcccanary3.blob.core.windows.net\nhttp://seanmcccanary3.file.core.windows.net\nhttp://seanmcccanary3.queue.core.windows.net\nhttp://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttp://seanmcccanary3-secondary.blob.core.windows.net\nhttp://seanmcccanary3-secondary.file.core.windows.net\nhttp://seanmcccanary3-secondary.queue.core.windows.net\nhttp://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=http://seanmcccanary3.queue.core.windows.net/;FileEndpoint=http://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=http://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\n[encryption scope]\n\n"
  }
}