{
  "Entries": [
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-c8333a9e-4b6e-0f16-f4f2-f8d374c7519c?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 08 Nov 2021 23:04:19 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9A30C18583AFE\u0022",
        "Last-Modified": "Mon, 08 Nov 2021 23:04:19 GMT",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-c8333a9e-4b6e-0f16-f4f2-f8d374c7519c/test-blob-1cff3b4f-6a84-4d4b-b143-62a05db310a1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Mon, 08 Nov 2021 23:04:19 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9A30C18618431\u0022",
        "Last-Modified": "Mon, 08 Nov 2021 23:04:19 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-04-10",
        "x-ms-version-id": "2021-11-08T23:04:19.3614897Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-c8333a9e-4b6e-0f16-f4f2-f8d374c7519c/test-blob-1cff3b4f-6a84-4d4b-b143-62a05db310a1?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\u00220x8D9A30C18618431\u0022",
        "x-ms-date": "Mon, 08 Nov 2021 23:04:19 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": "ox9Y4KXMAzlBKXMjZoENb\u002BJPDhFCq7K3QnKUQDBPY9wMufHiLC8D915MY785AE2FecXFV2ks6vdtoZ0yN8MI8cWXF62QKkOzTBez9UjzfUElD8drigxz3876dYqR0L\u002BbRHL5ouig9U6CEgpRefSveSNbDCj7nWe5IzjelbW4IXtXF7HV\u002BdpZhRl46HcBIWbaS/tnNcOWn6YKQH\u002BwwmCZyvCO\u002BmFD2YBIAocPg7TvuALRBEq6UOy3wHgKy7lbqMO53x6HcicElnJ6HjI8hxvyGoh8370V33kE1jnpOQ3H7VrEVqSVaEXazG3YPzK5ezlcF7Aw3skFowClg5ztG1xkszDYeDF3XLJCohJQPZ9GSlsAjSFdlg6Qv7Kk7\u002BWo7LAQc[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-c8333a9e-4b6e-0f16-f4f2-f8d374c7519c/test-blob-1cff3b4f-6a84-4d4b-b143-62a05db310a1",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 08 Nov 2021 23:04:19 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D9A30C186AD1A2\u0022",
        "Last-Modified": "Mon, 08 Nov 2021 23:04:19 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Mon, 08 Nov 2021 23:04:19 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-04-10",
        "x-ms-version-id": "2021-11-08T23:04:19.3614897Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-c8333a9e-4b6e-0f16-f4f2-f8d374c7519c/test-blob-1cff3b4f-6a84-4d4b-b143-62a05db310a1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8D9A30C186AD1A2\u0022",
        "x-ms-date": "Mon, 08 Nov 2021 23:04:19 GMT",
        "x-ms-range": "bytes=0-255",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-255/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D9A30C186AD1A2\u0022",
        "Last-Modified": "Mon, 08 Nov 2021 23:04:19 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Mon, 08 Nov 2021 23:04:19 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-04-10",
        "x-ms-version-id": "2021-11-08T23:04:19.3614897Z"
      },
      "ResponseBody": "ox9Y4KXMAzlBKXMjZoENb\u002BJPDhFCq7K3QnKUQDBPY9wMufHiLC8D915MY785AE2FecXFV2ks6vdtoZ0yN8MI8cWXF62QKkOzTBez9UjzfUElD8drigxz3876dYqR0L\u002BbRHL5ouig9U6CEgpRefSveSNbDCj7nWe5IzjelbW4IXtXF7HV\u002BdpZhRl46HcBIWbaS/tnNcOWn6YKQH\u002BwwmCZyvCO\u002BmFD2YBIAocPg7TvuALRBEq6UOy3wHgKy7lbqMO53x6HcicElnJ6HjI8hxvyGoh8370V33kE1jnpOQ3H7VrEVqSVaEXazG3YPzK5ezlcF7Aw3skFowClg5ztG1xksw=="
    },
[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-c8333a9e-4b6e-0f16-f4f2-f8d374c7519c/test-blob-58063246-718e-2091-bf60-e40f766b49a0",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Modified-Since": "Sun, 07 Nov 2021 23:04:19 GMT",
        "x-ms-date": "Mon, 08 Nov 2021 23:04:20 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D9A30C18E065B2\u0022",
        "Last-Modified": "Mon, 08 Nov 2021 23:04:20 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Mon, 08 Nov 2021 23:04:19 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-04-10",
        "x-ms-version-id": "2021-11-08T23:04:19.7592628Z"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-c8333a9e-4b6e-0f16-f4f2-f8d374c7519c/test-blob-5160b210-5fb1-b401-d276-2bd655eca17d",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Unmodified-Since": "Tue, 09 Nov 2021 23:04:19 GMT",
        "x-ms-date": "Mon, 08 Nov 2021 23:04:20 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D9A30C191CC9A2\u0022",
        "Last-Modified": "Mon, 08 Nov 2021 23:04:20 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Mon, 08 Nov 2021 23:04:20 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-04-10",
        "x-ms-version-id": "2021-11-08T23:04:20.5248272Z"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-c8333a9e-4b6e-0f16-f4f2-f8d374c7519c/test-blob-e3edaaf3-1a9c-c4c8-f218-bfe3ebeee21b",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "\u0022garbage\u0022",
        "x-ms-date": "Mon, 08 Nov 2021 23:04:21 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D9A30C199E1BCB\u0022",
        "Last-Modified": "Mon, 08 Nov 2021 23:04:21 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Mon, 08 Nov 2021 23:04:21 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-04-10",
        "x-ms-version-id": "2021-11-08T23:04:21.3793412Z"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-c8333a9e-4b6e-0f16-f4f2-f8d374c7519c/test-blob-d92350db-1313-dfa9-81fd-a005cc166a78?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 08 Nov 2021 23:04:21 GMT",
        "x-ms-lease-action": "acquire",
        "x-ms-lease-duration": "-1",
        "x-ms-proposed-lease-id": "6a133bc6-db35-4291-4c9f-6a75566b7044",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9A30C19D92063\u0022",
        "Last-Modified": "Mon, 08 Nov 2021 23:04:21 GMT",
        "x-ms-lease-id": "6a133bc6-db35-4291-4c9f-6a75566b7044",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-c8333a9e-4b6e-0f16-f4f2-f8d374c7519c?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 08 Nov 2021 23:04:22 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2021-11-08T15:04:19.3311734-08:00",
    "RandomSeed": "937861710",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttp://seanmcccanary3.blob.core.windows.net\nhttp://seanmcccanary3.file.core.windows.net\nhttp://seanmcccanary3.queue.core.windows.net\nhttp://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttp://seanmcccanary3-secondary.blob.core.windows.net\nhttp://seanmcccanary3-secondary.file.core.windows.net\nhttp://seanmcccanary3-secondary.queue.core.windows.net\nhttp://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=http://seanmcccanary3.queue.core.windows.net/;FileEndpoint=http://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=http://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\n[encryption scope]\n\n"
  }
}