{
  "Entries": [
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-7c686705-ed2f-e059-e645-8ac8994c29b1?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 08 Nov 2021 23:04:52 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9A30C2BF2C4A1\u0022",
        "Last-Modified": "Mon, 08 Nov 2021 23:04:52 GMT",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-7c686705-ed2f-e059-e645-8ac8994c29b1/test-blob-4567513d-3db4-bbf8-ee77-50141e60dfae",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Mon, 08 Nov 2021 23:04:52 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9A30C2C050515\u0022",
        "Last-Modified": "Mon, 08 Nov 2021 23:04:52 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-04-10",
        "x-ms-version-id": "2021-11-08T23:04:52.3097365Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-7c686705-ed2f-e059-e645-8ac8994c29b1/test-blob-4567513d-3db4-bbf8-ee77-50141e60dfae?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\u00220x8D9A30C2C050515\u0022",
        "x-ms-date": "Mon, 08 Nov 2021 23:04:52 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": "xibg5JcSWZWBDPg6FJ4SG3aUC/iqpk7Of1Qc\u002Bm9yxOroxPWm6upfqkgMAVdLgt3cF\u002BT9A44TaSDYEmVC9V4lD0cNUlCobDGLNGCvnaT2gv12QOOLdMBb1FvUzteFHbTq5/IPPS\u002BNM6uzcc8tZMt84ZBoy7V7mpqHsn711J5ZBherxbay50TN6Q042APxLm\u002BPWOxGHVH/b0xXiIuxmF4NWWu4gZ8VyfpLmuKoQsKXloMOZXuxEunFrFVpW1\u002B5G1CuK36YOKzQeY7x\u002B4JvVyyKv/EHojLjW0aB8tVJq26bkn6R\u002BRdD/13XPuvtwBdmVVUp3pttsXkey884FkXXhs4gVWkD3l0UR8CUMGRG9ZouG51/IM3SLuEFci5HCugX[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-7c686705-ed2f-e059-e645-8ac8994c29b1/test-blob-4567513d-3db4-bbf8-ee77-50141e60dfae",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 08 Nov 2021 23:04:52 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D9A30C2C0DB662\u0022",
        "Last-Modified": "Mon, 08 Nov 2021 23:04:52 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Mon, 08 Nov 2021 23:04:52 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-04-10",
        "x-ms-version-id": "2021-11-08T23:04:52.3097365Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-7c686705-ed2f-e059-e645-8ac8994c29b1?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 08 Nov 2021 23:04:52 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "899262473",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttp://seanmcccanary3.blob.core.windows.net\nhttp://seanmcccanary3.file.core.windows.net\nhttp://seanmcccanary3.queue.core.windows.net\nhttp://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttp://seanmcccanary3-secondary.blob.core.windows.net\nhttp://seanmcccanary3-secondary.file.core.windows.net\nhttp://seanmcccanary3-secondary.queue.core.windows.net\nhttp://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=http://seanmcccanary3.queue.core.windows.net/;FileEndpoint=http://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=http://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\n[encryption scope]\n\n"
  }
}