{
  "Entries": [
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-30e6bdd4-3608-2a71-a9e6-037e7fbb8640?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 08 Nov 2021 23:04:05 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9A30C0FEC2D43\u0022",
        "Last-Modified": "Mon, 08 Nov 2021 23:04:05 GMT",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-30e6bdd4-3608-2a71-a9e6-037e7fbb8640/test-blob-a65e6314-adc7-831d-1877-a33516edbbf3",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Mon, 08 Nov 2021 23:04:05 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9A30C0FF59BAE\u0022",
        "Last-Modified": "Mon, 08 Nov 2021 23:04:05 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-04-10",
        "x-ms-version-id": "2021-11-08T23:04:05.2325294Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-30e6bdd4-3608-2a71-a9e6-037e7fbb8640/test-blob-a65e6314-adc7-831d-1877-a33516edbbf3?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\u00220x8D9A30C0FF59BAE\u0022",
        "x-ms-date": "Mon, 08 Nov 2021 23:04:05 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": "qIv2L3XmHWvvO/NMUe8Fq9S7NjobpV8GB/kZ2Ln0rpAsw9mZB\u002BLSYSc08aRmo8BEEgQEQHZUBQIr8Ch8zUSy\u002B4xiH44VbKTx6dQT57S7n2M41MW0724Z177WbRa5VZTigvYXA4MyL6ZgElahQR1OcFHFRPl//QseSUjQPv6NOJRAMWW\u002Bo5vfBaQeU90YeJWgiP3F9BCbY4Tq\u002Bbo6YfGo0trBYRC4j8215T5UYKkuBdCzMLUAx0ODpc7g06ngpKSzdoECVhaF5/kvEA/SRgLavPPphzE7pwuXPrtC2Lwj1ECaoeooK6\u002B6LUi80bczsV7LBRa19hxyd852axhaQg89CzvPN6UYspFEL1npf9ZTY41ddtKlbd0jKCkbssCXX\u002Bs5f[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-30e6bdd4-3608-2a71-a9e6-037e7fbb8640/test-blob-a65e6314-adc7-831d-1877-a33516edbbf3",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 08 Nov 2021 23:04:05 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D9A30C1035F6B1\u0022",
        "Last-Modified": "Mon, 08 Nov 2021 23:04:05 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Mon, 08 Nov 2021 23:04:05 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-04-10",
        "x-ms-version-id": "2021-11-08T23:04:05.2325294Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-30e6bdd4-3608-2a71-a9e6-037e7fbb8640/test-blob-a65e6314-adc7-831d-1877-a33516edbbf3",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8D9A30C1035F6B1\u0022",
        "x-ms-date": "Mon, 08 Nov 2021 23:04:05 GMT",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D9A30C1035F6B1\u0022",
        "Last-Modified": "Mon, 08 Nov 2021 23:04:05 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Mon, 08 Nov 2021 23:04:05 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-30e6bdd4-3608-2a71-a9e6-037e7fbb8640?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 08 Nov 2021 23:04:05 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1746197885",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttp://seanmcccanary3.blob.core.windows.net\nhttp://seanmcccanary3.file.core.windows.net\nhttp://seanmcccanary3.queue.core.windows.net\nhttp://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttp://seanmcccanary3-secondary.blob.core.windows.net\nhttp://seanmcccanary3-secondary.file.core.windows.net\nhttp://seanmcccanary3-secondary.queue.core.windows.net\nhttp://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=http://seanmcccanary3.queue.core.windows.net/;FileEndpoint=http://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=http://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\n[encryption scope]\n\n"
  }
}