{
  "Entries": [
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-3f2924ac-bc27-373e-2521-bcc611133ae2?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 08 Nov 2021 23:03:46 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9A30C04C55D7E\u0022",
        "Last-Modified": "Mon, 08 Nov 2021 23:03:46 GMT",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-3f2924ac-bc27-373e-2521-bcc611133ae2/test-blob-ff573645-b5c4-c2c5-4943-1cea72c5976a",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Mon, 08 Nov 2021 23:03:46 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9A30C04D1132B\u0022",
        "Last-Modified": "Mon, 08 Nov 2021 23:03:46 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-04-10",
        "x-ms-version-id": "2021-11-08T23:03:46.5381675Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-3f2924ac-bc27-373e-2521-bcc611133ae2/test-blob-ff573645-b5c4-c2c5-4943-1cea72c5976a?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\u00220x8D9A30C04D1132B\u0022",
        "x-ms-date": "Mon, 08 Nov 2021 23:03:46 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": "/M36\u002Bt/3C4sgAEAue4Yu5857/ZLK4\u002B3nIo8k7t4NO32zKLs7Q1hh0XO9NvR7qsGDT1ooc4OxThnfEthP0hytEsTDelLL86N1GSsfDKz5bHfOoJ\u002BD5cj5AdqiWzGAEf9WECQvty9uuFu3sllXkkFs5qZggTF8KSz8yXh3KZhy9AcsyPyIybRHX\u002BhEzDNvoW\u002BZNXSLIJDN2ub4M\u002B639o/CRb5RK8lE5BzxGCJJN135jScJ3vMk5tR3Xu4WkJbGkGhZgod0HXamVFFXmgduhKKJ/qXGrhibnl7p2c3aLlSGKoi577XVhG\u002BxYoqizEzMCdlLjJHwAOJQveMpi0SpyyX80W9/tJTts3o2FEuO\u002BdIRHc/zjqLClSqlaTL[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-3f2924ac-bc27-373e-2521-bcc611133ae2/test-blob-ff573645-b5c4-c2c5-4943-1cea72c5976a",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 08 Nov 2021 23:03:46 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D9A30C04DA60A1\u0022",
        "Last-Modified": "Mon, 08 Nov 2021 23:03:46 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Mon, 08 Nov 2021 23:03:46 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-04-10",
        "x-ms-version-id": "2021-11-08T23:03:46.5381675Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-3f2924ac-bc27-373e-2521-bcc611133ae2/test-blob-ff573645-b5c4-c2c5-4943-1cea72c5976a",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8D9A30C04DA60A1\u0022",
        "x-ms-date": "Mon, 08 Nov 2021 23:03:46 GMT",
        "x-ms-range": "bytes=512-639",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 512-639/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D9A30C04DA60A1\u0022",
        "Last-Modified": "Mon, 08 Nov 2021 23:03:46 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Mon, 08 Nov 2021 23:03:46 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-04-10",
        "x-ms-version-id": "2021-11-08T23:03:46.5381675Z"
      },
      "ResponseBody": "/3aqQTxmVpZv2scl6E1/LjMoY\u002B/GQ41jNz\u002ButtCIQ92gkDVsQ7eenymYIRk//zRlK\u002BIDOFiMULvoRwr9t5/G5pfqhFgYE\u002Bt8icPFLSF0IzgKSYvuhQqFFD95g/usoeiK0juCVXrcTBj2h6\u002BUxiOZdCPR8m0T12GMZXAYno/vz\u002Bg="
    },
[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-3f2924ac-bc27-373e-2521-bcc611133ae2?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 08 Nov 2021 23:03:46 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1613319401",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttp://seanmcccanary3.blob.core.windows.net\nhttp://seanmcccanary3.file.core.windows.net\nhttp://seanmcccanary3.queue.core.windows.net\nhttp://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttp://seanmcccanary3-secondary.blob.core.windows.net\nhttp://seanmcccanary3-secondary.file.core.windows.net\nhttp://seanmcccanary3-secondary.queue.core.windows.net\nhttp://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=http://seanmcccanary3.queue.core.windows.net/;FileEndpoint=http://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=http://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\n[encryption scope]\n\n"
  }
}