{
  "Entries": [
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-d3eeee66-da2e-7562-0e8a-4902dfbb8b47?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 08 Nov 2021 23:03:22 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9A30BF6749F7C\u0022",
        "Last-Modified": "Mon, 08 Nov 2021 23:03:22 GMT",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-d3eeee66-da2e-7562-0e8a-4902dfbb8b47/test-blob-5e240118-8ae2-26c6-3f31-696fef7b3b29",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Mon, 08 Nov 2021 23:03:22 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9A30BF694E876\u0022",
        "Last-Modified": "Mon, 08 Nov 2021 23:03:22 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-04-10",
        "x-ms-version-id": "2021-11-08T23:03:22.6567553Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-d3eeee66-da2e-7562-0e8a-4902dfbb8b47/test-blob-5e240118-8ae2-26c6-3f31-696fef7b3b29?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\u00220x8D9A30BF694E876\u0022",
        "x-ms-date": "Mon, 08 Nov 2021 23:03:22 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": "MlTVfn6SQdopDc7FDxTJNGn4Ky/XD7W2jVZBj8IY31ssehtXBKLTRW4JUoNxPCYQuJRCCH4NeSOeHvAnUbIYEC5zmZT4cjDHJebAzb0yRFAwMNYu1tbcHwH4uOWxq/S88UFV/qORF0Zje\u002BOYTatlbNqf9yDb6TpXl3qTALlKFXryA9x73UasnxmQylrzQ9JWkkwLEbPT4QcH/WYp/heMGGZppknO6o\u002BT81gGSx/fZFSnPG5tPwPGHiLVdN/gg6ECA7L0ipyIh6i9eB5bzZboJ5kSgcGpH9lioogn\u002BHWvs2\u002B3BEhs6tm4H7TFsMfkalCM7UxGzQHfWePZkucTYY8yDcSupMhOezy/WmIM428Rfjc3mwspaOVu16tkk1jxpL4lk6ICNcaIPnI[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-d3eeee66-da2e-7562-0e8a-4902dfbb8b47/test-blob-5e240118-8ae2-26c6-3f31-696fef7b3b29",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 08 Nov 2021 23:03:22 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D9A30BF6A0587D\u0022",
        "Last-Modified": "Mon, 08 Nov 2021 23:03:22 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Mon, 08 Nov 2021 23:03:22 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-04-10",
        "x-ms-version-id": "2021-11-08T23:03:22.6567553Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-d3eeee66-da2e-7562-0e8a-4902dfbb8b47/test-blob-5e240118-8ae2-26c6-3f31-696fef7b3b29",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8D9A30BF6A0587D\u0022",
        "x-ms-date": "Mon, 08 Nov 2021 23:03:22 GMT",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D9A30BF6A0587D\u0022",
        "Last-Modified": "Mon, 08 Nov 2021 23:03:22 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Mon, 08 Nov 2021 23:03:22 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-d3eeee66-da2e-7562-0e8a-4902dfbb8b47?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 08 Nov 2021 23:03:22 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1333093916",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttp://seanmcccanary3.blob.core.windows.net\nhttp://seanmcccanary3.file.core.windows.net\nhttp://seanmcccanary3.queue.core.windows.net\nhttp://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttp://seanmcccanary3-secondary.blob.core.windows.net\nhttp://seanmcccanary3-secondary.file.core.windows.net\nhttp://seanmcccanary3-secondary.queue.core.windows.net\nhttp://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=http://seanmcccanary3.queue.core.windows.net/;FileEndpoint=http://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=http://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\n[encryption scope]\n\n"
  }
}