{
  "Entries": [
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-525a18d8-ca31-1166-6dfb-5ae82b8efae5?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 08 Nov 2021 23:03:28 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9A30BFA264783\u0022",
        "Last-Modified": "Mon, 08 Nov 2021 23:03:28 GMT",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-525a18d8-ca31-1166-6dfb-5ae82b8efae5/test-blob-8c9b9df9-a692-2079-cd33-f13d31975ade",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Mon, 08 Nov 2021 23:03:28 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9A30BFA38FEB4\u0022",
        "Last-Modified": "Mon, 08 Nov 2021 23:03:28 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-04-10",
        "x-ms-version-id": "2021-11-08T23:03:28.7642804Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-525a18d8-ca31-1166-6dfb-5ae82b8efae5/test-blob-8c9b9df9-a692-2079-cd33-f13d31975ade?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\u00220x8D9A30BFA38FEB4\u0022",
        "x-ms-date": "Mon, 08 Nov 2021 23:03:28 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": "YThvC71OukPhvRRGhdXiIvLz576svHEtquewI\u002BP\u002BaseqOC/22/2psrKeXbXyvolPVI9HPo\u002BBYKTGQmHVnpZg41NNm0ym7Ef0SjQMDV\u002B7OuxeYM9Ttis3KdiKL5ic1BQcPnpipSM9qGhHUvRbdVNFCgh1dz3GDCwnFnF0G7yuWHYg787lWZXIILhnDGQ327SERSSPJlzWVTFOOo6xyIysmPp\u002BO4WEYLFzrFaFXwDH8Dq979aXHjEZSZqclx8GF1crunNquaAuAOVzHHoFUfUxhklU9Nm2FXrIZPHq58iSbJX/WaWNXTeZju7wIwK2E/ilaxDVsiN\u002BdaX5oVSvRBkc4bDlBvhQoykSumXqxfF3EVD4RXu4vLpygeT/lLvi6krV1[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-525a18d8-ca31-1166-6dfb-5ae82b8efae5/test-blob-8c9b9df9-a692-2079-cd33-f13d31975ade",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Modified-Since": "Tue, 09 Nov 2021 23:03:28 GMT",
        "x-ms-date": "Mon, 08 Nov 2021 23:03:28 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 304,
      "ResponseHeaders": {
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-83383e79-d43c-2938-b5f1-5d5019f35b5e/test-blob-7888a4d2-18da-2887-8f24-409007c7ce23",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Unmodified-Since": "Sun, 07 Nov 2021 23:03:28 GMT",
        "x-ms-date": "Mon, 08 Nov 2021 23:03:29 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-7fb140af-6690-f40e-c1cf-0fde96613ca6/test-blob-bff2b8d0-ce69-8058-d5cf-85fc15baeb24",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 08 Nov 2021 23:03:29 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D9A30BFACFF895\u0022",
        "Last-Modified": "Mon, 08 Nov 2021 23:03:29 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Mon, 08 Nov 2021 23:03:29 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-04-10",
        "x-ms-version-id": "2021-11-08T23:03:29.6947509Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-7fb140af-6690-f40e-c1cf-0fde96613ca6/test-blob-bff2b8d0-ce69-8058-d5cf-85fc15baeb24",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "0x8D9A30BFACFF895",
        "x-ms-date": "Mon, 08 Nov 2021 23:03:29 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 304,
      "ResponseHeaders": {
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-837d4235-ce5e-2d9f-d316-3f5bc2d47257/test-blob-fc8af4f1-187e-d1a7-c1b6-948adc922184",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 08 Nov 2021 23:03:30 GMT",
        "x-ms-lease-id": "1e488bd9-8c35-6b5f-9a5c-1da4bbb42315",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "x-ms-error-code": "LeaseNotPresentWithBlobOperation",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-837d4235-ce5e-2d9f-d316-3f5bc2d47257?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 08 Nov 2021 23:03:30 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2021-11-08T15:03:28.6118453-08:00",
    "RandomSeed": "618621000",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttp://seanmcccanary3.blob.core.windows.net\nhttp://seanmcccanary3.file.core.windows.net\nhttp://seanmcccanary3.queue.core.windows.net\nhttp://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttp://seanmcccanary3-secondary.blob.core.windows.net\nhttp://seanmcccanary3-secondary.file.core.windows.net\nhttp://seanmcccanary3-secondary.queue.core.windows.net\nhttp://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=http://seanmcccanary3.queue.core.windows.net/;FileEndpoint=http://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=http://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\n[encryption scope]\n\n"
  }
}