{
  "Entries": [
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-919fec3c-cfb3-518c-5194-169bc061fc39?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 09 Nov 2021 23:15:41 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9A3D6D94D7753\u0022",
        "Last-Modified": "Tue, 09 Nov 2021 23:15:41 GMT",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-919fec3c-cfb3-518c-5194-169bc061fc39/test-blob-1bc983a2-67f8-393e-7a88-2f9d9288158a",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Tue, 09 Nov 2021 23:15:41 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9A3D6D959634E\u0022",
        "Last-Modified": "Tue, 09 Nov 2021 23:15:41 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-04-10",
        "x-ms-version-id": "2021-11-09T23:15:41.4478670Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-919fec3c-cfb3-518c-5194-169bc061fc39/test-blob-1bc983a2-67f8-393e-7a88-2f9d9288158a?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\u00220x8D9A3D6D959634E\u0022",
        "x-ms-date": "Tue, 09 Nov 2021 23:15:41 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": "vDIQ5ekiD3d14p9az3J6KCYDfuUw0tnaNeZnD4zN1bJ/nVylGIkp\u002Bsu6s33B3g1jWhGD48L0MulZNq8Cu//rqA3s2jIW1Q\u002Bd2YMadR9bGFbZA7V6SfHwimpyS\u002BLaJz/Lzwpv1ATbTYUB5Qo\u002B2bzK/R1YKbdKcF4c/E/Io4ksw7JETqYU7ENS/bYweWTnsbGtp07Fgf2IgV6rU9i0Eqn71SJX\u002BooWthHZBSsAGff6NUueGvw6Z0G0u81HaJhrnusNNKRBj7Yml/A963zSh2dnsR6MFfiswW3hoj69zk54bWZA8\u002BVTuaWUeIIL/XvE4jRl4Ld534nyYHM2X\u002B13aMmixH0WkpOCFPd595x1ocPyHcAKV\u002B6X/47dTZN[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-919fec3c-cfb3-518c-5194-169bc061fc39/test-blob-1bc983a2-67f8-393e-7a88-2f9d9288158a",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 09 Nov 2021 23:15:41 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D9A3D6D96AECEF\u0022",
        "Last-Modified": "Tue, 09 Nov 2021 23:15:41 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Tue, 09 Nov 2021 23:15:41 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-04-10",
        "x-ms-version-id": "2021-11-09T23:15:41.4478670Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-919fec3c-cfb3-518c-5194-169bc061fc39?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 09 Nov 2021 23:15:41 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1643638897",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttp://seanmcccanary3.blob.core.windows.net\nhttp://seanmcccanary3.file.core.windows.net\nhttp://seanmcccanary3.queue.core.windows.net\nhttp://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttp://seanmcccanary3-secondary.blob.core.windows.net\nhttp://seanmcccanary3-secondary.file.core.windows.net\nhttp://seanmcccanary3-secondary.queue.core.windows.net\nhttp://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=http://seanmcccanary3.queue.core.windows.net/;FileEndpoint=http://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=http://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\n[encryption scope]\n\n"
  }
}