{
  "Entries": [
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-1b95adc9-38d2-860c-90b7-3bef0c79e387?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Fri, 12 Nov 2021 00:35:38 GMT",
        "x-ms-version": "2021-02-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9A574598AD435\u0022",
        "Last-Modified": "Fri, 12 Nov 2021 00:35:38 GMT",
        "x-ms-version": "2021-02-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-1b95adc9-38d2-860c-90b7-3bef0c79e387/test-blob-eeacf02c-6559-08a7-65ef-c4d97f4d5092",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Fri, 12 Nov 2021 00:35:38 GMT",
        "x-ms-version": "2021-02-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9A5745993F558\u0022",
        "Last-Modified": "Fri, 12 Nov 2021 00:35:38 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-02-12",
        "x-ms-version-id": "2021-11-12T00:35:38.7294040Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-1b95adc9-38d2-860c-90b7-3bef0c79e387/test-blob-eeacf02c-6559-08a7-65ef-c4d97f4d5092?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\u00220x8D9A5745993F558\u0022",
        "x-ms-date": "Fri, 12 Nov 2021 00:35:38 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2021-02-12"
      },
      "RequestBody": "Vz4HbmCAA99o2IqVvdzVcQUH3B1pzmHj3yJANxGfcBQG\u002B9hzF0PUkesxrU0bSqJhj2efRaAYFoncJI4\u002BQMzNyGh2jsEEYlrBM0sxOCETx5V/3qep/ytz7uVOlvK1lVEfY\u002BTlpbvhXS0N3hJV5t1oyV35v2IkJMk9AqDbtsxnDJ36EtU8LiHZnoF6nCEYHggH5cyVu9bv\u002Bz8bp6MbBaZhpdJ0W9MIK5s7HyHgqoenJOSY1ND/0VDGCheWIYZ\u002BvpjaGPZOpMM0/7oxWpy1DlC3c4O\u002BgjHWYtSCrlC7cgoUvGCIBpGQWYAgY9UWzXe0EPzG3q4DvzxnBLYizPVyeIywHZ07LQi/JhkCnR5bwJRczp1T9ZNbEP0kIAHabo2KrutIZ[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-1b95adc9-38d2-860c-90b7-3bef0c79e387/test-blob-eeacf02c-6559-08a7-65ef-c4d97f4d5092",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 12 Nov 2021 00:35:38 GMT",
        "x-ms-version": "2021-02-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D9A57459A5F41A\u0022",
        "Last-Modified": "Fri, 12 Nov 2021 00:35:38 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Fri, 12 Nov 2021 00:35:38 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-02-12",
        "x-ms-version-id": "2021-11-12T00:35:38.7294040Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-1b95adc9-38d2-860c-90b7-3bef0c79e387/test-blob-eeacf02c-6559-08a7-65ef-c4d97f4d5092",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8D9A57459A5F41A\u0022",
        "x-ms-date": "Fri, 12 Nov 2021 00:35:38 GMT",
        "x-ms-range": "bytes=0-99",
        "x-ms-version": "2021-02-12"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-99/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D9A57459A5F41A\u0022",
        "Last-Modified": "Fri, 12 Nov 2021 00:35:38 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Fri, 12 Nov 2021 00:35:38 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-02-12",
        "x-ms-version-id": "2021-11-12T00:35:38.7294040Z"
      },
      "ResponseBody": "Vz4HbmCAA99o2IqVvdzVcQUH3B1pzmHj3yJANxGfcBQG\u002B9hzF0PUkesxrU0bSqJhj2efRaAYFoncJI4\u002BQMzNyGh2jsEEYlrBM0sxOCETx5V/3qep/ytz7uVOlvK1lVEfY\u002BTlpQ=="
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-1b95adc9-38d2-860c-90b7-3bef0c79e387?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 12 Nov 2021 00:35:38 GMT",
        "x-ms-version": "2021-02-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-02-12"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "469077210",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttp://seanmcccanary3.blob.core.windows.net\nhttp://seanmcccanary3.file.core.windows.net\nhttp://seanmcccanary3.queue.core.windows.net\nhttp://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttp://seanmcccanary3-secondary.blob.core.windows.net\nhttp://seanmcccanary3-secondary.file.core.windows.net\nhttp://seanmcccanary3-secondary.queue.core.windows.net\nhttp://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=http://seanmcccanary3.queue.core.windows.net/;FileEndpoint=http://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=http://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\n[encryption scope]\n\n"
  }
}