{
  "Entries": [
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-7fdf11f8-00a4-131d-d6f1-bb8b076c95a7?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Fri, 12 Nov 2021 00:35:38 GMT",
        "x-ms-version": "2021-02-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9A574594B6372\u0022",
        "Last-Modified": "Fri, 12 Nov 2021 00:35:38 GMT",
        "x-ms-version": "2021-02-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-7fdf11f8-00a4-131d-d6f1-bb8b076c95a7/test-blob-0988406a-271e-4279-5679-9b440136b709",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Fri, 12 Nov 2021 00:35:38 GMT",
        "x-ms-version": "2021-02-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9A57459545D8F\u0022",
        "Last-Modified": "Fri, 12 Nov 2021 00:35:38 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-02-12",
        "x-ms-version-id": "2021-11-12T00:35:38.3126415Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-7fdf11f8-00a4-131d-d6f1-bb8b076c95a7/test-blob-0988406a-271e-4279-5679-9b440136b709?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\u00220x8D9A57459545D8F\u0022",
        "x-ms-date": "Fri, 12 Nov 2021 00:35:38 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2021-02-12"
      },
      "RequestBody": "\u002BgiHhDgGZW1It8yGn5YqGiZvwUF9zmDqjfjDB4usnj22HY3gM0YTw2CBf471MK7s\u002BeX2GbQmxSuonfY/Ql7hmxmPz4IJSubgW/3h/E7R9FxK1g2ltoSIj1hhOJZP04ABn\u002BR0ZmAr46//Fb23Rcjd1qiZ9WtRPOSVBkAppxJPkIh8311qXY37HvNepqDG0UqPhGHutt0VsGP/32AgATycr4Q1OmVrcnkandd485VEzzX1miOwYdqqZy/6a30t2xy2wfcbkJblJBHo0xgGnLzNuxAqK2cY7E6qi9I1cQf77MK7wTKeKD6eD3YRx43Bo8tyLLBtA6\u002B0ntSocQXEsLIK7eZWS9qKLpLRjBvxBiTA6ecHwkRWjekSBiNd9bY52l/DB9qmaljx6P4[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-7fdf11f8-00a4-131d-d6f1-bb8b076c95a7/test-blob-0988406a-271e-4279-5679-9b440136b709",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 12 Nov 2021 00:35:38 GMT",
        "x-ms-version": "2021-02-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D9A574596523F9\u0022",
        "Last-Modified": "Fri, 12 Nov 2021 00:35:38 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Fri, 12 Nov 2021 00:35:38 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-02-12",
        "x-ms-version-id": "2021-11-12T00:35:38.3126415Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-7fdf11f8-00a4-131d-d6f1-bb8b076c95a7/test-blob-0988406a-271e-4279-5679-9b440136b709",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8D9A574596523F9\u0022",
        "x-ms-date": "Fri, 12 Nov 2021 00:35:38 GMT",
        "x-ms-range": "bytes=0-127",
        "x-ms-version": "2021-02-12"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-127/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D9A574596523F9\u0022",
        "Last-Modified": "Fri, 12 Nov 2021 00:35:38 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Fri, 12 Nov 2021 00:35:38 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-02-12",
        "x-ms-version-id": "2021-11-12T00:35:38.3126415Z"
      },
      "ResponseBody": "\u002BgiHhDgGZW1It8yGn5YqGiZvwUF9zmDqjfjDB4usnj22HY3gM0YTw2CBf471MK7s\u002BeX2GbQmxSuonfY/Ql7hmxmPz4IJSubgW/3h/E7R9FxK1g2ltoSIj1hhOJZP04ABn\u002BR0ZmAr46//Fb23Rcjd1qiZ9WtRPOSVBkAppxJPkIg="
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-7fdf11f8-00a4-131d-d6f1-bb8b076c95a7?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 12 Nov 2021 00:35:38 GMT",
        "x-ms-version": "2021-02-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-02-12"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1621239579",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttp://seanmcccanary3.blob.core.windows.net\nhttp://seanmcccanary3.file.core.windows.net\nhttp://seanmcccanary3.queue.core.windows.net\nhttp://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttp://seanmcccanary3-secondary.blob.core.windows.net\nhttp://seanmcccanary3-secondary.file.core.windows.net\nhttp://seanmcccanary3-secondary.queue.core.windows.net\nhttp://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=http://seanmcccanary3.queue.core.windows.net/;FileEndpoint=http://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=http://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\n[encryption scope]\n\n"
  }
}