{
  "Entries": [
    {
      "RequestUri": "/subscriptions/113d0adc-1017-40e9-84ff-763f52896cc2/resourcegroups/sjrg243?api-version=2017-05-10",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"West US\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/113d0adc-1017-40e9-84ff-763f52896cc2/resourceGroups/sjrg243\",\r\n  \"name\": \"sjrg243\",\r\n  \"location\": \"westus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/113d0adc-1017-40e9-84ff-763f52896cc2/resourceGroups/sjrg243/providers/Microsoft.StreamAnalytics/clusters/sj7034?api-version=2020-03-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"sku\": {\r\n    \"name\": \"Default\",\r\n    \"capacity\": 36\r\n  },\r\n  \"location\": \"West US\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "ETag": [
          "dca7f8a4-167f-463e-ae0b-26a19834e4bb"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/113d0adc-1017-40e9-84ff-763f52896cc2/resourceGroups/sjrg243/providers/Microsoft.StreamAnalytics/clusters/sj7034/OperationResults/0637358112000000000.04f6175a-b874-40a0-86a3-e756e70c7541?api-version=2020-03-01-preview"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1198"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/113d0adc-1017-40e9-84ff-763f52896cc2/resourceGroups/sjrg243/providers/Microsoft.StreamAnalytics/clusters/sj7034\",\r\n  \"name\": \"sj7034\",\r\n  \"type\": \"Microsoft.StreamAnalytics/clusters\",\r\n  \"location\": \"West US\",\r\n  \"properties\": {\r\n    \"createdDate\": \"2020-09-16T06:16:36.043Z\",\r\n    \"clusterId\": \"bc0f377d-b262-4442-9f6b-fa8b98101c76\",\r\n    \"provisioningState\": \"InProgress\",\r\n    \"capacityAllocated\": 0,\r\n    \"capacityAssigned\": 0\r\n  },\r\n  \"sku\": {\r\n    \"name\": \"Default\",\r\n    \"capacity\": 36\r\n  }\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/113d0adc-1017-40e9-84ff-763f52896cc2/resourceGroups/sjrg243/providers/Microsoft.StreamAnalytics/clusters/sj7034/OperationResults/0637358112000000000.04f6175a-b874-40a0-86a3-e756e70c7541?api-version=2020-03-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"status\": \"InProgress\",\r\n  \"error\": null\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/113d0adc-1017-40e9-84ff-763f52896cc2/resourceGroups/sjrg243/providers/Microsoft.StreamAnalytics/clusters/sj7034/privateEndpoints/testpe5172?api-version=2020-03-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"manualPrivateLinkServiceConnections\": [\r\n      {\r\n        \"properties\": {\r\n          \"privateLinkServiceId\": \"/subscriptions/113d0adc-1017-40e9-84ff-763f52896cc2/resourceGroups/sjrg5830/providers/Microsoft.EventHub/namespaces/testeventhub4asacluster\",\r\n          \"groupIds\": [\r\n            \"namespace\"\r\n          ]\r\n        }\r\n      }\r\n    ]\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "ETag": [
          "e35f6112-a5e7-453f-bebd-da3772b6b967"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1198"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/113d0adc-1017-40e9-84ff-763f52896cc2/resourceGroups/sjrg243/providers/Microsoft.StreamAnalytics/clusters/sj7034/privateEndpoints/testpe5172\",\r\n  \"name\": \"testpe5172\",\r\n  \"type\": \"Microsoft.StreamAnalytics/clusters/privateEndpoints\",\r\n  \"properties\": {\r\n    \"createdDate\": \"2020-09-16T06:52:58.71Z\",\r\n    \"manualPrivateLinkServiceConnections\": [\r\n      {\r\n        \"properties\": {\r\n          \"privateLinkServiceConnectionState\": {\r\n            \"status\": \"PendingCreation\",\r\n            \"description\": null,\r\n            \"actionsRequired\": null\r\n          },\r\n          \"privateLinkServiceId\": \"/subscriptions/113d0adc-1017-40e9-84ff-763f52896cc2/resourceGroups/sjrg5830/providers/Microsoft.EventHub/namespaces/testeventhub4asacluster\",\r\n          \"groupIds\": [\r\n            \"namespace\"\r\n          ],\r\n          \"requestMessage\": \"This request originated from a Stream Analytics cluster named sj7034\"\r\n        }\r\n      }\r\n    ]\r\n  },\r\n  \"etag\": null\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/113d0adc-1017-40e9-84ff-763f52896cc2/resourceGroups/sjrg243/providers/Microsoft.StreamAnalytics/clusters/sj7034/privateEndpoints?api-version=2020-03-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11925"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/113d0adc-1017-40e9-84ff-763f52896cc2/resourceGroups/sjrg243/providers/Microsoft.StreamAnalytics/clusters/sj7034/privateEndpoints/testpe5172\",\r\n      \"name\": \"testpe5172\",\r\n      \"type\": \"Microsoft.StreamAnalytics/clusters/privateEndpoints\",\r\n      \"properties\": {\r\n        \"createdDate\": \"2020-09-16T06:52:58.71Z\",\r\n        \"manualPrivateLinkServiceConnections\": [\r\n          {\r\n            \"properties\": {\r\n              \"privateLinkServiceConnectionState\": {\r\n                \"status\": \"PendingCreation\",\r\n                \"description\": null,\r\n                \"actionsRequired\": null\r\n              },\r\n              \"privateLinkServiceId\": \"/subscriptions/113d0adc-1017-40e9-84ff-763f52896cc2/resourceGroups/sjrg5830/providers/Microsoft.EventHub/namespaces/testeventhub4asacluster\",\r\n              \"groupIds\": [\r\n                \"namespace\"\r\n              ],\r\n              \"requestMessage\": \"This request originated from a Stream Analytics cluster named sj7034\"\r\n            }\r\n          }\r\n        ]\r\n      },\r\n      \"etag\": \"e35f6112-a5e7-453f-bebd-da3772b6b967\"\r\n    }\r\n  ],\r\n  \"nextLink\": null\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/113d0adc-1017-40e9-84ff-763f52896cc2/resourceGroups/sjrg243/providers/Microsoft.StreamAnalytics/clusters/sj7034/privateEndpoints/testpe5172?api-version=2020-03-01-preview",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/113d0adc-1017-40e9-84ff-763f52896cc2/resourceGroups/sjrg243/providers/Microsoft.StreamAnalytics/clusters/sj7034/privateEndpoints/testpe5172/OperationResults/0637358112000000000.5ad01407-865e-4d79-b496-88ae1944d775?api-version=2020-03-01-preview"
        ],
        "Retry-After": [
          "10"
        ],
        "x-ms-ratelimit-remaining-subscription-deletes": [
          "14999"
        ],
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 202
    },
    {
      "RequestUri": "/subscriptions/113d0adc-1017-40e9-84ff-763f52896cc2/resourceGroups/sjrg243/providers/Microsoft.StreamAnalytics/clusters/sj7034/privateEndpoints/testpe5172/OperationResults/0637358112000000000.5ad01407-865e-4d79-b496-88ae1944d775?api-version=2020-03-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/113d0adc-1017-40e9-84ff-763f52896cc2/resourceGroups/sjrg243/providers/Microsoft.StreamAnalytics/clusters/sj7034/privateEndpoints/testpe5172/OperationResults/0637358112000000000.5ad01407-865e-4d79-b496-88ae1944d775?api-version=2020-03-01-preview"
        ],
        "Retry-After": [
          "10"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11924"
        ],
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 202
    },
[...]
    {
      "RequestUri": "/subscriptions/113d0adc-1017-40e9-84ff-763f52896cc2/resourceGroups/sjrg243/providers/Microsoft.StreamAnalytics/clusters/sj7034/privateEndpoints/testpe5172/OperationResults/0637358112000000000.5ad01407-865e-4d79-b496-88ae1944d775?api-version=2020-03-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11904"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"status\": \"InProgress\",\r\n  \"error\": null\r\n}",
      "StatusCode": 200
    }
  ],
  "Names": {
    "PrivateEndpointOperationsTest": [
      "sjrg243",
      "sj7034",
      "testpe5172"
    ]
  },
  "Variables": {
    "SubscriptionId": "113d0adc-1017-40e9-84ff-763f52896cc2"
  }
}