{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11988"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "TagKey-9823": "TagValue-1254",
          "TagKey-3481": "TagValue-320",
          "TagKey-4926": "TagValue-1187",
          "TagKey-751": "TagValue-3921",
          "TagKey-1866": "TagValue-8559",
          "TagKey-3094": "TagValue-9190",
          "TagKey-2449": "TagValue-9",
          "TagKey-8379": "TagValue-164",
          "TagKey-7470": "TagValue-2205",
          "TagKey-4236": "TagValue-3698",
          "TagKey-5316": "TagValue-2725"
        },
        "subscriptionId": "db1ab6f0-4769-4b27-930e-01e2ef9c123c",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": ".NET Mgmt SDK Test with TTL = 1 Day",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourcegroups/ConsumptionRG6937?api-version=**",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1197"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/ConsumptionRG6937",
        "name": "ConsumptionRG6937",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/ConsumptionRG6937/providers/Microsoft.Consumption/budgets/budget7147?api-version=2021-10-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "category": "Cost",
          "amount": 100,
          "timeGrain": "Monthly",
          "timePeriod": {
            "startDate": "2023-04-01T00:00:00.0000000Z",
            "endDate": "2024-04-01T00:00:00.0000000Z"
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/ConsumptionRG6937/providers/Microsoft.Consumption/budgets/budget7147?api-version=2021-10-01",
        "session-id": "5867bb23-d462-4c3d-9653-348c36705559",
        "x-ms-ratelimit-remaining-subscription-writes": "1196"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/ConsumptionRG6937/providers/Microsoft.Consumption/budgets/budget7147",
        "name": "budget7147",
        "type": "Microsoft.Consumption/budgets",
        "eTag": "\u00221d96b82b6bd9476\u0022",
        "properties": {
          "timePeriod": {
            "startDate": "2023-04-01T00:00:00Z",
            "endDate": "2024-04-01T00:00:00Z"
          },
          "timeGrain": "Monthly",
          "amount": 100.0,
          "category": "Cost",
          "notifications": {},
          "filter": {}
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/ConsumptionRG6937/providers/Microsoft.Consumption/budgets/budget7147?api-version=2021-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "session-id": "28682424-5b95-42e0-8c72-1998432b500f",
        "x-ms-ratelimit-remaining-subscription-reads": "11987"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/ConsumptionRG6937/providers/Microsoft.Consumption/budgets/budget7147",
        "name": "budget7147",
        "type": "Microsoft.Consumption/budgets",
        "eTag": "\u00221d96b82b6bd9476\u0022",
        "properties": {
          "timePeriod": {
            "startDate": "2023-04-01T00:00:00Z",
            "endDate": "2024-04-01T00:00:00Z"
          },
          "timeGrain": "Monthly",
          "amount": 100.0,
          "currentSpend": {
            "amount": 0.0,
            "unit": "USD"
          },
          "category": "Cost",
          "notifications": {},
          "filter": {}
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/ConsumptionRG6937/providers/Microsoft.Consumption/budgets/budget7147?api-version=2021-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "session-id": "8afc0e3e-06a1-4fa2-9268-3045549a2719",
        "x-ms-ratelimit-remaining-subscription-reads": "11986"
      },
      "ResponseBody": {
        "error": {
          "code": "404",
          "message": "No budget found matching budgetName: budget7147, under storageScope: EntityType = Subscription, EntityId = db1ab6f0-4769-4b27-930e-01e2ef9c123c, ChildScope = EntityType = ResourceGroup, EntityId = ConsumptionRG6937, ChildScope = , MetaData =  , MetaData =   (Request ID: e0037c14-6061-4678-8a2f-be4a2c2a8fe3)"
        }
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "DateTimeOffsetNow": "2023-04-10T16:01:53.4388064\u002B08:00",
    "RandomSeed": "1292505937",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "db1ab6f0-4769-4b27-930e-01e2ef9c123c"
  }
}
