{
  "Entries": [
    {
      "RequestUri": "/subscriptions/72ae9a81-1531-4a08-8de1-d097d29b9097/resourceGroups/hdicsharprg8966/providers/Microsoft.HDInsight/clusters/hdisdk-nodereboot2450?api-version=2018-06-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"South Central US\",\r\n  \"properties\": {\r\n    \"clusterVersion\": \"3.6\",\r\n    \"osType\": \"Linux\",\r\n    \"tier\": \"Standard\",\r\n    \"clusterDefinition\": {\r\n      \"kind\": \"Hadoop\",\r\n      \"configurations\": {\r\n        \"gateway\": {\r\n          \"restAuthCredential.isEnabled\": \"true\",\r\n          \"restAuthCredential.username\": \"admin9759\",\r\n          \"restAuthCredential.password\": \"Password1!9454\"\r\n        }\r\n      }\r\n    },\r\n    \"computeProfile\": {\r\n      \"roles\": [\r\n        {\r\n          \"name\": \"headnode\",\r\n          \"targetInstanceCount\": 2,\r\n          \"hardwareProfile\": {\r\n            \"vmSize\": \"Large\"\r\n          },\r\n          \"osProfile\": {\r\n            \"linuxOperatingSystemProfile\": {\r\n              \"username\": \"sshuser9734\",\r\n              \"password\": \"Password1!4217\"\r\n            }\r\n          }\r\n        },\r\n        {\r\n          \"name\": \"workernode\",\r\n          \"targetInstanceCount\": 3,\r\n          \"hardwareProfile\": {\r\n            \"vmSize\": \"Large\"\r\n          },\r\n          \"osProfile\": {\r\n            \"linuxOperatingSystemProfile\": {\r\n              \"username\": \"sshuser9734\",\r\n              \"password\": \"Password1!4217\"\r\n            }\r\n          }\r\n        },\r\n        {\r\n          \"name\": \"zookeepernode\",\r\n          \"targetInstanceCount\": 3,\r\n          \"hardwareProfile\": {\r\n            \"vmSize\": \"Small\"\r\n          },\r\n          \"osProfile\": {\r\n            \"linuxOperatingSystemProfile\": {\r\n              \"username\": \"sshuser9734\",\r\n              \"password\": \"Password1!4217\"\r\n            }\r\n          }\r\n        }\r\n      ]\r\n    },\r\n    \"storageProfile\": {\r\n      \"storageaccounts\": [\r\n        {\r\n          \"name\": \"hdicsharpstorage675.blob.core.windows.net\",\r\n          \"isDefault\": true,\r\n          \"container\": \"default5829\",\r\n          \"key\": \"6fVXWuKfs+kfoooyGHBrQumr9XwTCO7ddkItUFD6jKtuBMNgIek0Eq0+V6ibYSacLgBWfA6gwnxoxUUzY+9+MA==\"\r\n        }\r\n      ]\r\n    }\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "ETag": [
          "\"33e812a5-2dd9-4e6b-aa24-8e6955b4a731\""
        ],
        "x-ms-hdi-clusteruri": [
          "https://management.azure.com/subscriptions/72ae9a81-1531-4a08-8de1-d097d29b9097/resourceGroups/hdicsharprg8966/providers/Microsoft.HDInsight/clusters/hdisdk-nodereboot2450?api-version=2018-06-01-preview"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com:443/subscriptions/72ae9a81-1531-4a08-8de1-d097d29b9097/resourceGroups/hdicsharprg8966/providers/Microsoft.HDInsight/clusters/hdisdk-nodereboot2450/azureasyncoperations/create?api-version=2018-06-01-preview"
        ],
        "x-ms-hdi-served-by": [
          "southcentralus"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/72ae9a81-1531-4a08-8de1-d097d29b9097/resourceGroups/hdicsharprg8966/providers/Microsoft.HDInsight/clusters/hdisdk-nodereboot2450\",\r\n  \"name\": \"hdisdk-nodereboot2450\",\r\n  \"type\": \"Microsoft.HDInsight/clusters\",\r\n  \"location\": \"South Central US\",\r\n  \"etag\": \"33e812a5-2dd9-4e6b-aa24-8e6955b4a731\",\r\n  \"tags\": null,\r\n  \"properties\": {\r\n    \"clusterVersion\": \"3.6.2000.67\",\r\n    \"clusterHdpVersion\": \"\",\r\n    \"osType\": \"Linux\",\r\n    \"clusterDefinition\": {\r\n      \"blueprint\": \"https://blueprints.azurehdinsight.net/hadoop-3.6.2000.67.2012080609.json\",\r\n      \"kind\": \"Hadoop\",\r\n      \"componentVersion\": {\r\n        \"Hadoop\": \"2.7\"\r\n      }\r\n    },\r\n    \"clusterId\": \"8040e69cc248442e97bb4cfc7f695b5e\",\r\n    \"computeProfile\": {\r\n      \"roles\": [\r\n        {\r\n          \"name\": \"headnode\",\r\n          \"targetInstanceCount\": 2,\r\n          \"hardwareProfile\": {\r\n            \"vmSize\": \"standard_a4_v2\"\r\n          },\r\n          \"osProfile\": {\r\n            \"linuxOperatingSystemProfile\": {\r\n              \"username\": \"sshuser9734\"\r\n            }\r\n          },\r\n          \"encryptDataDisks\": false\r\n        },\r\n        {\r\n          \"name\": \"workernode\",\r\n          \"targetInstanceCount\": 3,\r\n          \"hardwareProfile\": {\r\n            \"vmSize\": \"standard_a4_v2\"\r\n          },\r\n          \"osProfile\": {\r\n            \"linuxOperatingSystemProfile\": {\r\n              \"username\": \"sshuser9734\"\r\n            }\r\n          },\r\n          \"encryptDataDisks\": false\r\n        },\r\n        {\r\n          \"name\": \"zookeepernode\",\r\n          \"targetInstanceCount\": 3,\r\n          \"hardwareProfile\": {\r\n            \"vmSize\": \"standard_a1_v2\"\r\n          },\r\n          \"osProfile\": {\r\n            \"linuxOperatingSystemProfile\": {\r\n              \"username\": \"sshuser9734\"\r\n            }\r\n          },\r\n          \"encryptDataDisks\": false\r\n        }\r\n      ]\r\n    },\r\n    \"provisioningState\": \"InProgress\",\r\n    \"clusterState\": \"Accepted\",\r\n    \"createdDate\": \"2020-12-16T04:33:18.707\",\r\n    \"quotaInfo\": {\r\n      \"coresUsed\": 20\r\n    },\r\n    \"tier\": \"standard\",\r\n    \"encryptionInTransitProperties\": {\r\n      \"isEncryptionInTransitEnabled\": false\r\n    },\r\n    \"storageProfile\": {\r\n      \"storageaccounts\": [\r\n        {\r\n          \"name\": \"hdicsharpstorage675.blob.core.windows.net\",\r\n          \"resourceId\": null,\r\n          \"msiResourceId\": null,\r\n          \"key\": null,\r\n          \"fileSystem\": null,\r\n          \"container\": \"default5829\",\r\n          \"saskey\": null,\r\n          \"isDefault\": true,\r\n          \"fileshare\": null\r\n        }\r\n      ]\r\n    },\r\n    \"minSupportedTlsVersion\": \"1.2\",\r\n    \"excludedServicesConfig\": {\r\n      \"excludedServicesConfigId\": \"default\",\r\n      \"excludedServicesList\": \"\"\r\n    },\r\n    \"computeIsolationProperties\": {\r\n      \"enableComputeIsolation\": false,\r\n      \"hostSku\": null\r\n    }\r\n  }\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/72ae9a81-1531-4a08-8de1-d097d29b9097/resourceGroups/hdicsharprg8966/providers/Microsoft.HDInsight/clusters/hdisdk-nodereboot2450/azureasyncoperations/create?api-version=2018-06-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-hdi-served-by": [
          "southcentralus"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11998"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"status\": \"InProgress\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/72ae9a81-1531-4a08-8de1-d097d29b9097/resourceGroups/hdicsharprg8966/providers/Microsoft.HDInsight/clusters/hdisdk-nodereboot2450/listHosts?api-version=2018-06-01-preview",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "[\r\n  {\r\n    \"name\": \"gw-hdisdk000001\",\r\n    \"fqdn\": \"gw-hdisdk000001.rriy0qqwbvuerir3fdvgvfktlc.jx.internal.cloudapp.net\"\r\n  },\r\n  {\r\n    \"name\": \"gw-hdisdk000002\",\r\n    \"fqdn\": \"gw-hdisdk000002.rriy0qqwbvuerir3fdvgvfktlc.jx.internal.cloudapp.net\"\r\n  },\r\n  {\r\n    \"name\": \"hn0-hdisdk\",\r\n    \"fqdn\": \"hn0-hdisdk.rriy0qqwbvuerir3fdvgvfktlc.jx.internal.cloudapp.net\"\r\n  },\r\n  {\r\n    \"name\": \"hn1-hdisdk\",\r\n    \"fqdn\": \"hn1-hdisdk.rriy0qqwbvuerir3fdvgvfktlc.jx.internal.cloudapp.net\"\r\n  },\r\n  {\r\n    \"name\": \"wn0-hdisdk\",\r\n    \"fqdn\": \"wn0-hdisdk.rriy0qqwbvuerir3fdvgvfktlc.jx.internal.cloudapp.net\"\r\n  },\r\n  {\r\n    \"name\": \"wn3-hdisdk\",\r\n    \"fqdn\": \"wn3-hdisdk.rriy0qqwbvuerir3fdvgvfktlc.jx.internal.cloudapp.net\"\r\n  },\r\n  {\r\n    \"name\": \"wn4-hdisdk\",\r\n    \"fqdn\": \"wn4-hdisdk.rriy0qqwbvuerir3fdvgvfktlc.jx.internal.cloudapp.net\"\r\n  },\r\n  {\r\n    \"name\": \"zk1-hdisdk\",\r\n    \"fqdn\": \"zk1-hdisdk.rriy0qqwbvuerir3fdvgvfktlc.jx.internal.cloudapp.net\"\r\n  },\r\n  {\r\n    \"name\": \"zk3-hdisdk\",\r\n    \"fqdn\": \"zk3-hdisdk.rriy0qqwbvuerir3fdvgvfktlc.jx.internal.cloudapp.net\"\r\n  },\r\n  {\r\n    \"name\": \"zk5-hdisdk\",\r\n    \"fqdn\": \"zk5-hdisdk.rriy0qqwbvuerir3fdvgvfktlc.jx.internal.cloudapp.net\"\r\n  }\r\n]",
      "StatusCode": 200
    }
  ],
  "Names": {
    ".ctor": [
      "admin9759",
      "Password1!9454",
      "sshuser9734",
      "Password1!4217",
      "7f2fd157-ec5f-4e91-9afa-2b878d19e411",
      "hdicsharprg8966",
      "hdicsharpstorage675",
      "hdicsharpmsi4079",
      "hdicsharpvault387",
      "hdicsharpadls3391",
      "default5829",
      "storageaccountkey9228"
    ],
    "TestInitialize": [
      "72ae9a81-1531-4a08-8de1-d097d29b9097"
    ],
    "TestListHosts": [
      "hdisdk-nodereboot2450"
    ]
  },
  "Variables": {
    "SubscriptionId": "72ae9a81-1531-4a08-8de1-d097d29b9097"
  }
}
