{
  "Entries": [
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-e9662b77-7daa-8976-679b-05208dd60b7d?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 20 Jan 2022 20:46:01 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9DC55DE87D54A\u0022",
        "Last-Modified": "Thu, 20 Jan 2022 20:46:01 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-e9662b77-7daa-8976-679b-05208dd60b7d/test-blob-25593f2b-c83f-71f9-af5a-c3fe11558365",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Thu, 20 Jan 2022 20:46:01 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9DC55DE927331\u0022",
        "Last-Modified": "Thu, 20 Jan 2022 20:46:01 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08",
        "x-ms-version-id": "2022-01-20T20:46:01.4106417Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-e9662b77-7daa-8976-679b-05208dd60b7d/test-blob-25593f2b-c83f-71f9-af5a-c3fe11558365?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\u00220x8D9DC55DE927331\u0022",
        "x-ms-date": "Thu, 20 Jan 2022 20:46:01 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-511",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": "T2sf0797E2KpkDJOWZIXGbKC9capJls4wKTgEEf8D6DhRpmK7CUpsCv2e66WqxgcQ6pMj1\u002B9vCgP5xIbmgMbrYCRbBL5jCyNWEWasqutohWLw82csIBBJIpwegUSDhUo284tBD4GI7Z9vzYZIgp9YkT9j9Y1fv0AT0iIiBInekovcdbdf53XhaAWH/BJJwGA8hjAFX8\u002B8l3QLbT1fpqkVkTs6rEzoOKnJgo2H14MtyhHB5b5ZmXL8H55DFLp4QYFcsisXD1PTVI1Ge50B9P\u002BxHWMrXYEqu/fIfkyuZSQvUQDMayVYFrq\u002BLpDxEx2Vumre0fcXDSQAcjZzTpEHZO\u002BpFuqcdYnaGQborW7wOWjaMsQhz1Ms2EPczDkvJIfptonhR/wzOQSgxPiwbp/1EDiNWRvNJZWcvH6mv6mQqvR\u002B/valDvFspzm/QMqafKmkJ/vAYcusHFE0RMu9jHma0FoEcW\u002BpD8EHIPIiDaSKwj/UwpetkEko0uKlsMol7tq/5LCwlgs6Oxf6uUDZSc7saUKLqInh7UARG16NA173ITHXYik0Gmw0msd/8tbID0jTuQeHWgZQ3fcwn3qsrPe4w5gPAifluA7Wlw3CYjppCMvVuUpXb4crhkQxw7rxR\u002B3Pxu9\u002B\u002BM1hLcD4sMM4jnv8x1Zu1zOtYZPRI7ujs/ST5Q8f8o=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9DC55DEA9533F\u0022",
        "Last-Modified": "Thu, 20 Jan 2022 20:46:01 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-content-crc64": "jUKy8RoWXws=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-e9662b77-7daa-8976-679b-05208dd60b7d/test-blob-25593f2b-c83f-71f9-af5a-c3fe11558365",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 20 Jan 2022 20:46:01 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D9DC55DEC0A86F\u0022",
        "Last-Modified": "Thu, 20 Jan 2022 20:46:01 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Thu, 20 Jan 2022 20:46:01 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-06-08",
        "x-ms-version-id": "2022-01-20T20:46:01.4106417Z"
      },
      "ResponseBody": "T2sf0797E2KpkDJOWZIXGbKC9capJls4wKTgEEf8D6DhRpmK7CUpsCv2e66WqxgcQ6pMj1\u002B9vCgP5xIbmgMbrYCRbBL5jCyNWEWasqutohWLw82csIBBJIpwegUSDhUo284tBD4GI7Z9vzYZIgp9YkT9j9Y1fv0AT0iIiBInekovcdbdf53XhaAWH/BJJwGA8hjAFX8\u002B8l3QLbT1fpqkVkTs6rEzoOKnJgo2H14MtyhHB5b5ZmXL8H55DFLp4QYFcsisXD1PTVI1Ge50B9P\u002BxHWMrXYEqu/fIfkyuZSQvUQDMayVYFrq\u002BLpDxEx2Vumre0fcXDSQAcjZzTpEHZO\u00[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-e9662b77-7daa-8976-679b-05208dd60b7d?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 20 Jan 2022 20:46:01 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1330656064",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttp://seanmcccanary3.blob.core.windows.net\nhttp://seanmcccanary3.file.core.windows.net\nhttp://seanmcccanary3.queue.core.windows.net\nhttp://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttp://seanmcccanary3-secondary.blob.core.windows.net\nhttp://seanmcccanary3-secondary.file.core.windows.net\nhttp://seanmcccanary3-secondary.queue.core.windows.net\nhttp://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=http://seanmcccanary3.queue.core.windows.net/;FileEndpoint=http://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=http://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\n[encryption scope]\n\n"
  }
}