{
  "Entries": [
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-694c7f50-f6aa-9622-89b3-93dff971f5ff?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 20 Jan 2022 20:46:02 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9DC55DF30F4B9\u0022",
        "Last-Modified": "Thu, 20 Jan 2022 20:46:02 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-694c7f50-f6aa-9622-89b3-93dff971f5ff/test-blob-78771c81-1cd8-fe90-3dbf-2530cfdad285",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Thu, 20 Jan 2022 20:46:02 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9DC55DF3D196A\u0022",
        "Last-Modified": "Thu, 20 Jan 2022 20:46:02 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08",
        "x-ms-version-id": "2022-01-20T20:46:02.5290090Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-694c7f50-f6aa-9622-89b3-93dff971f5ff/test-blob-78771c81-1cd8-fe90-3dbf-2530cfdad285?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 20 Jan 2022 20:46:02 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": "WCO/C37PyJITTbCXgJV\u002Bu8TANGuj9x71OGtoG3FuBua3oJj1HDs\u002Bbo5Xcf03XnoKLDGm3WEYkmEFydMSZ6whpUfK39/9iZ\u002BIgsXdTIUhvtnwXe9AyCiEnw0271JoKwfiNsy1bH\u002BbDaKSHVucO0bc5Av5Igm84NwfRT/RxppMIFa9\u002Bha4a1JaVU9MrqvN6GTHWgpHbgn9JVXwliY/yUYIRfwF3kAwI3i4n8y5cDIwUlzbCmuPBbFMwNXAyNUrG4wJRGiuxwokljeRjs88Q7Uiv0PJZL7aeEBLuB1rb1ujjYRAsCvKgopSt3M0/XbiD30fnQiRYbfNLssoYw/tuCfc7gFL/JKJWD25d6xLpnrJaKigS9FSESvNcoJgoR57ZP5MWA91lh[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-694c7f50-f6aa-9622-89b3-93dff971f5ff/test-blob-78771c81-1cd8-fe90-3dbf-2530cfdad285?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\u00220x8D9DC55DF3D196A\u0022",
        "x-ms-date": "Thu, 20 Jan 2022 20:46:02 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": "udqTiEhAHwSMaR6VtGsFZPHYxqeNgeAu4Cp3IBfKWxUWFxytSwAFQPxy627\u002B\u002B0rRucE\u002B9hMr\u002BDj6ZKceyP/twg0Jf51PWBjw04WqGpZxMOXgpmZVi2QB6x7jsuZY53j9hSlh9XysgWGpTiOOgd2iiDTCPiKYmDaoB5R\u002Ba6UymOwNrJVsEDppMyUErD1Bc2lBQSqxlqlWZOzyuO3oLRW8drY3gNRINXj5WQr8lOz4Z5QqPSp6gAFC[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-694c7f50-f6aa-9622-89b3-93dff971f5ff?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 20 Jan 2022 20:46:02 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1098939894",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttp://seanmcccanary3.blob.core.windows.net\nhttp://seanmcccanary3.file.core.windows.net\nhttp://seanmcccanary3.queue.core.windows.net\nhttp://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttp://seanmcccanary3-secondary.blob.core.windows.net\nhttp://seanmcccanary3-secondary.file.core.windows.net\nhttp://seanmcccanary3-secondary.queue.core.windows.net\nhttp://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=http://seanmcccanary3.queue.core.windows.net/;FileEndpoint=http://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=http://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\n[encryption scope]\n\n"
  }
}