{
  "Entries": [
    {
      "RequestUri": "https://adu-sdk-testing.api.adu.microsoft.com/deviceUpdate/sdkinstance/updates/providers/fabrikam/names/vacuum/versions/2022.809.131.21?api-version=2022-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00220bc5c812-4d49-4166-a583-ddc0e0e21efe\u0022",
        "mise-correlation-id": "db859c6e-d182-4aa7-9e50-20f9c2a1b77f"
      },
      "ResponseBody": {
        "updateId": {
          "provider": "fabrikam",
          "name": "vacuum",
          "version": "2022.809.131.21"
        },
        "isDeployable": true,
        "updateType": "microsoft/apt:1",
        "installedCriteria": "apt-update-test-2022.809.131.21",
        "compatibility": [
          {
            "DeviceManufacturer": "fabrikam",
            "DeviceModel": "vacuum"
          }
        ],
        "scanResult": "Success",
        "manifestVersion": "3.0",
        "importedDateTime": "2022-08-09T20:33:41.0935063Z",
        "createdDateTime": "2022-08-09T20:31:22.2677901Z",
        "etag": "\u00220bc5c812-4d49-4166-a583-ddc0e0e21efe\u0022"
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "DEVICEUPDATE_ACCOUNT_ENDPOINT": "adu-sdk-testing.api.adu.microsoft.com",
    "DEVICEUPDATE_INSTANCE_ID": "sdkinstance",
    "RandomSeed": "1088281238"
  }
}
