{
  "Entries": [
    {
      "RequestUri": "https://adu-sdk-testing.api.adu.microsoft.com/deviceUpdate/sdkinstance/updates/providers/fabrikam/names/vacuum/versions/2022.401.504.6?api-version=2022-07-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002246deecbf-a19e-41c8-939b-1a8a9ee6fcac\u0022",
        "mise-correlation-id": "f1fa5313-5127-4725-b3ac-4f2e1b60e665"
      },
      "ResponseBody": {
        "updateId": {
          "provider": "fabrikam",
          "name": "vacuum",
          "version": "2022.401.504.6"
        },
        "isDeployable": true,
        "updateType": "microsoft/apt:1",
        "installedCriteria": "apt-update-test-2022.401.504.6",
        "compatibility": [
          {
            "DeviceManufacturer": "fabrikam",
            "DeviceModel": "vacuum"
          }
        ],
        "scanResult": "Success",
        "manifestVersion": "3.0",
        "importedDateTime": "2022-04-02T00:06:08.5994525Z",
        "createdDateTime": "2022-04-02T00:04:07.002276Z",
        "etag": "\u002246deecbf-a19e-41c8-939b-1a8a9ee6fcac\u0022"
      }
    }
  ],
  "Variables": {
    "DEVICEUPDATE_ACCOUNT_ENDPOINT": "adu-sdk-testing.api.adu.microsoft.com",
    "DEVICEUPDATE_INSTANCE_ID": "sdkinstance",
    "RandomSeed": "525536413"
  }
}
