{
  "Entries": [
    {
      "RequestUri": "https://adu-sdk-testing.api.adu.microsoft.com/deviceUpdate/sdkinstance/updates/providers/fabrikam/names?api-version=2022-07-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "f0baca92-9b2f-4cbd-9c5e-de59a5bbb73b"
      },
      "ResponseBody": {
        "value": [
          "vacuum"
        ]
      }
    }
  ],
  "Variables": {
    "RandomSeed": "988638796"
  }
}
