{
  "Entries": [
    {
      "RequestUri": "https://adu-sdk-testing.api.adu.microsoft.com/deviceUpdate/sdkinstance/updates/providers/foo/names/bar/versions/1.2?api-version=2022-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/problem\u002Bjson; charset=utf-8",
        "mise-correlation-id": "360374cb-5480-44dc-b6fe-ea6de74aff6c"
      },
      "ResponseBody": {
        "type": "https://tools.ietf.org/html/rfc7231#section-6.5.4",
        "title": "Not Found",
        "status": 404,
        "traceId": "00-59d6807630f689419d7308a222ad49b9-aa32556b73e4384f-00"
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "DEVICEUPDATE_ACCOUNT_ENDPOINT": "adu-sdk-testing.api.adu.microsoft.com",
    "DEVICEUPDATE_INSTANCE_ID": "sdkinstance",
    "RandomSeed": "1887373563"
  }
}
