{
  "Entries": [
    {
      "RequestUri": "https://adu-sdk-testing.api.adu.microsoft.com/deviceUpdate/sdkinstance/updates/providers/foo/names/bar/versions/1.2/files?api-version=2022-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/problem\u002Bjson; charset=utf-8",
        "mise-correlation-id": "fc6495c2-5426-4fd8-88e4-b3ba19331645"
      },
      "ResponseBody": {
        "type": "https://tools.ietf.org/html/rfc7231#section-6.5.4",
        "title": "Not Found",
        "status": 404,
        "traceId": "00-66e530f3071f084499767e91f550ed34-7fe3c99da7529c44-00"
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "DEVICEUPDATE_ACCOUNT_ENDPOINT": "adu-sdk-testing.api.adu.microsoft.com",
    "DEVICEUPDATE_INSTANCE_ID": "sdkinstance",
    "RandomSeed": "1535449711"
  }
}
