{
  "Entries": [
    {
      "RequestUri": "https://adu-sdk-testing.api.adu.microsoft.com/deviceUpdate/sdkinstance/updates/providers?api-version=2022-07-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "168ad16f-b56e-4c5e-a7d0-502c63dafbb1"
      },
      "ResponseBody": {
        "value": [
          "fabrikam"
        ]
      }
    }
  ],
  "Variables": {
    "RandomSeed": "51943800"
  }
}
