{
  "Entries": [
    {
      "RequestUri": "https://adu-sdk-testing.api.adu.microsoft.com/deviceUpdate/sdkinstance/updates/providers/foo/names/bar/versions/1.2/files?api-version=2022-07-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/problem\u002Bjson; charset=utf-8",
        "mise-correlation-id": "981e2809-f9d4-4601-827d-0906bbad9a9c"
      },
      "ResponseBody": {
        "type": "https://tools.ietf.org/html/rfc7231#section-6.5.4",
        "title": "Not Found",
        "status": 404,
        "traceId": "00-7b1d9d9e7fb705408b38c1736bc2dc67-4129b971f89bcf43-00"
      }
    }
  ],
  "Variables": {
    "RandomSeed": "995729729"
  }
}
