{
  "Entries": [
    {
      "RequestUri": "/v1/apps/DEMO_APP/query",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"query\": \"union * | take 25\"\r\n}",
      "RequestHeaders": {
        "x-api-key": [
          "DEMO_KEY"
        ],
        "prefer": [
          "response-v1=true,include-render=true,include-statistics=true"
        ],
        "x-ms-app": [
          "csharpsdk"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"tables\": [\r\n    {\r\n      \"name\": \"PrimaryResult\",\r\n      \"columns\": [\r\n        {\r\n          \"name\": \"timestamp\",\r\n          \"type\": \"datetime\"\r\n        },\r\n        {\r\n          \"name\": \"message\",\r\n          \"type\": \"string\"\r\n        },\r\n        {\r\n          \"name\": \"severityLevel\",\r\n          \"type\": \"int\"\r\n        },\r\n        {\r\n          \"name\": \"itemType\",\r\n          \"type\": \"string\"\r\n        },\r\n        {\r\n          \"name\": \"customDimensions\",\r\n          \"type\": \"dynamic\"\r\n        },\r\n        {\r\n          \"name\": \"customMeasurements\",\r\n       [...]
