{
  "Entries": [
    {
      "RequestUri": "/subscriptions/a01fbab8-1714-4f94-8b67-40d7827a5efd/resourceGroups/sdktest/providers/Microsoft.ServerManagement/gateways/rameshr12?api-version=2016-07-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/a01fbab8-1714-4f94-8b67-40d7827a5efd/resourcegroups/sdktest/providers/microsoft.servermanagement/gateways/rameshr12\",\r\n  \"name\": \"rameshr12\",\r\n  \"type\": \"microsoft.servermanagement/gateways\",\r\n  \"location\": \"centralus\",\r\n  \"etag\": \"W/\\\"datetime'2016-10-14T01%3A13%3A59.8545155Z'\\\"\",\r\n  \"properties\": {\r\n    \"created\": \"2016-10-14T01:13:56.0773541Z\",\r\n    \"updated\": \"2016-10-14T01:13:56.0773541Z\",\r\n    \"autoUpgrade\": \"On\",\r\n    \"upgradeMode\": \"Automatic\",\r\n    \"desiredVersion\": null,\r\n    \"minimumVersion\": \"1.0.1547.0\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-managementservice-fileversion": [
          "1.0.1691.0"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14967"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/a01fbab8-1714-4f94-8b67-40d7827a5efd/resourceGroups/sdktest/providers/Microsoft.ServerManagement/nodes/rameshr12?api-version=2016-07-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"centralus\",\r\n  \"properties\": {\r\n    \"gatewayId\": \"/subscriptions/a01fbab8-1714-4f94-8b67-40d7827a5efd/resourcegroups/sdktest/providers/microsoft.servermanagement/gateways/rameshr12\",\r\n    \"connectionName\": \"rameshr12\",\r\n    \"userName\": \"\",\r\n    \"password\": \"\"\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/a01fbab8-1714-4f94-8b67-40d7827a5efd/resourcegroups/sdktest/providers/microsoft.servermanagement/nodes/rameshr12\",\r\n  \"name\": \"rameshr12\",\r\n  \"type\": \"microsoft.servermanagement/nodes\",\r\n  \"location\": \"centralus\",\r\n  \"etag\": \"W/\\\"datetime'2016-10-21T20%3A49%3A47.3151106Z'\\\"\",\r\n  \"properties\": {\r\n    \"gatewayId\": \"/subscriptions/a01fbab8-1714-4f94-8b67-40d7827a5efd/resourcegroups/sdktest/providers/microsoft.servermanagement/gateways/rameshr12\",\r\n    \"connectionName\": \"rameshr12\",\r\n    \"created\": \"2016-10-21T20:49:46.3305891Z\",\r\n    \"updated\": \"2016-10-21T20:49:46.3305891Z\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-managementservice-fileversion": [
          "1.0.1691.0"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/a01fbab8-1714-4f94-8b67-40d7827a5efd/providers/Microsoft.ServerManagement/nodes?api-version=2016-07-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/a01fbab8-1714-4f94-8b67-40d7827a5efd/resourcegroups/pd-rnr-wellknown-rg/providers/microsoft.servermanagement/nodes/pd-nd-cu-01\",\r\n      \"name\": \"pd-nd-cu-01\",\r\n      \"type\": \"microsoft.servermanagement/nodes\",\r\n      \"location\": \"centralus\",\r\n      \"etag\": \"W/\\\"datetime'2016-08-17T19%3A28%3A51.4403733Z'\\\"\",\r\n      \"properties\": {\r\n        \"gatewayId\": \"/subscriptions/a01fbab8-1714-4f94-8b67-40d7827a5efd/resourceg[...]
    {
      "RequestUri": "/subscriptions/a01fbab8-1714-4f94-8b67-40d7827a5efd/resourceGroups/sdktest/providers/Microsoft.ServerManagement/nodes?api-version=2016-07-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/a01fbab8-1714-4f94-8b67-40d7827a5efd/resourcegroups/sdktest/providers/microsoft.servermanagement/nodes/rameshr12\",\r\n      \"name\": \"rameshr12\",\r\n      \"type\": \"microsoft.servermanagement/nodes\",\r\n      \"location\": \"centralus\",\r\n      \"etag\": \"W/\\\"datetime'2016-10-21T20%3A49%3A47.3151106Z'\\\"\",\r\n      \"properties\": {\r\n        \"gatewayId\": \"/subscriptions/a01fbab8-1714-4f94-8b67-40d7827a5efd/resourcegroups/sdktest/providers/microsoft.servermanagement/gateways/rameshr12\",\r\n        \"connectionName\": \"rameshr12\",\r\n        \"created\": \"2016-10-21T20:49:46.3305891Z\",\r\n        \"updated\": \"2016-10-21T20:49:46.3305891Z\"\r\n      }\r\n    }\r\n  ]\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-managementservice-fileversion": [
          "1.0.1691.0"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14963"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/a01fbab8-1714-4f94-8b67-40d7827a5efd/resourceGroups/sdktest/providers/Microsoft.ServerManagement/nodes/rameshr12/sessions/80b6d83e-dbcf-43cd-8e60-43b5e5d742ac?api-version=2016-07-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"userName\": \"rsmtuser\",\r\n    \"password\": \"Rsmt!1234\"\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/a01fbab8-1714-4f94-8b67-40d7827a5efd/resourcegroups/sdktest/providers/microsoft.servermanagement/nodes/rameshr12/sessions/80b6d83e-dbcf-43cd-8e60-43b5e5d742ac\",\r\n  \"name\": \"80b6d83e-dbcf-43cd-8e60-43b5e5d742ac\",\r\n  \"type\": \"microsoft.servermanagement/nodes/sessions\",\r\n  \"properties\": {\r\n    \"retentionPeriod\": \"session\",\r\n    \"created\": \"2016-10-21T20:49:49.9711223Z\",\r\n    \"updated\": \"2016-10-21T20:49:49.9711223Z\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-managementservice-fileversion": [
          "1.0.1691.0"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1198"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/a01fbab8-1714-4f94-8b67-40d7827a5efd/resourceGroups/sdktest/providers/Microsoft.ServerManagement/nodes/rameshr12/sessions/80b6d83e-dbcf-43cd-8e60-43b5e5d742ac/features/powerShellConsole/pssessions/00000000-0000-0000-0000-000000000000?api-version=2016-07-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/a01fbab8-1714-4f94-8b67-40d7827a5efd/resourceGroups/sdktest/providers/Microsoft.ServerManagement/nodes/rameshr12/sessions/80b6d83e-dbcf-43cd-8e60-43b5e5d742ac/features/powerShellConsole/pssessions/00000000-0000-0000-0000-000000000000\",\r\n  \"name\": \"00000000-0000-0000-0000-000000000000\",\r\n  \"type\": \"Microsoft.ServerManagement/nodes/features/pssessions\",\r\n  \"properties\": {\r\n    \"sessionId\": \"4108dd13-fafb-4b45-93ea-14db87dec00b\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json"
        ],
        "x-managementservice-fileversion": [
          "1.0.1691.0"
        ],
        "X-ManagementService-ExpiredOn": [
          "2016-10-22T20:49:54.9168032Z"
        ],
        "X-ManagementService-RequestReceiveTimeOnGateway": [
          "2016-10-21T20:49:53.1291423Z"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1197"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/a01fbab8-1714-4f94-8b67-40d7827a5efd/resourceGroups/sdktest/providers/Microsoft.ServerManagement/nodes/rameshr12/sessions/80b6d83e-dbcf-43cd-8e60-43b5e5d742ac/features/powerShellConsole/pssessions/4108dd13-fafb-4b45-93ea-14db87dec00b/invokeCommand?api-version=2016-07-01-preview",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"command\": \"dir c:\\\\\"\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"results\": [\r\n    {\r\n      \"foregroundColor\": \"#FFFFFF\",\r\n      \"backgroundColor\": \"#012456\",\r\n      \"value\": \"\\r\\n\\r\\n    Directory: C:\\\\\\r\\n\\r\\n\\r\\nMode                LastWriteTime         Length Name                                                                  \\r\\n----                -------------         ------ ----                                                                  \\r\\nd-----       10/21/2016   1:36 PM                ActivePython27                                                        \\r\\nd-----        6/26/2015   2:22 PM     [...]
[...]
    {
      "RequestUri": "/subscriptions/a01fbab8-1714-4f94-8b67-40d7827a5efd/resourceGroups/sdktest/providers/Microsoft.ServerManagement/nodes/rameshr12/sessions/80b6d83e-dbcf-43cd-8e60-43b5e5d742ac/features/powerShellConsole/pssessions/4108dd13-fafb-4b45-93ea-14db87dec00b/tab?api-version=2016-07-01-preview",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"command\": \"dir c:\\\\\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf[...]
    {
      "RequestUri": "/subscriptions/a01fbab8-1714-4f94-8b67-40d7827a5efd/resourceGroups/sdktest/providers/Microsoft.ServerManagement/nodes/rameshr12/sessions/80b6d83e-dbcf-43cd-8e60-43b5e5d742ac/features/powerShellConsole/pssessions?api-version=2016-07-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/a01fbab8-1714-4f94-8b67-40d7827a5efd/resourceGroups/sdktest/providers/Microsoft.ServerManagement/nodes/rameshr12/sessions/80b6d83e-dbcf-43cd-8e60-43b5e5d742ac/features/powerShellConsole/pssessions/4108dd13-fafb-4b45-93ea-14db87dec00b\",\r\n      \"name\": \"4108dd13-fafb-4b45-93ea-14db87dec00b\",\r\n      \"type\": \"Microsoft.ServerManagement/nodes/features/pssessions\",\r\n      \"properties\": {\r\n        \"sessionId\": \"4108dd13-fafb-4b45-93ea-14db87dec00b\",\r\n        \"state\": \"Disconnected\",\r\n        \"runspaceAvailability\": \"None\",\r\n        \"disconnectedOn\": \"2016-10-21T13:49:57.2368075-07:00\",\r\n        \"expiresOn\": \"2016-10-21T14:09:57.2368075-07:00\",\r\n        \"version\": {\r\n          \"major\": 5,\r\n          \"minor\": 1,\r\n          \"build\": 14393,\r\n          \"revision\": 206,\r\n          \"majorRevision\": 0,\r\n          \"minorRevision\": 206\r\n        },\r\n        \"name\": \"Runspace10\"\r\n      }\r\n    }\r\n  ]\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json"
        ],
        "x-managementservice-fileversion": [
          "1.0.1691.0"
        ],
        "X-ManagementService-ExpiredOn": [
          "2016-10-22T20:49:58.2863237Z"
        ],
        "X-ManagementService-RequestReceiveTimeOnGateway": [
          "2016-10-21T20:49:58.1638095Z"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14961"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/a01fbab8-1714-4f94-8b67-40d7827a5efd/resourceGroups/sdktest/providers/Microsoft.ServerManagement/nodes/rameshr12/sessions/80b6d83e-dbcf-43cd-8e60-43b5e5d742ac/features/powerShellConsole/pssessions/4108dd13-fafb-4b45-93ea-14db87dec00b?api-version=2016-07-01-preview&$expand=output",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/a01fbab8-1714-4f94-8b67-40d7827a5efd/resourceGroups/sdktest/providers/Microsoft.ServerManagement/nodes/rameshr12/sessions/80b6d83e-dbcf-43cd-8e60-43b5e5d742ac/features/powerShellConsole/pssessions/4108dd13-fafb-4b45-93ea-14db87dec00b\",\r\n  \"name\": \"4108dd13-fafb-4b45-93ea-14db87dec00b\",\r\n  \"type\": \"Microsoft.ServerManagement/nodes/features/pssessions\",\r\n  \"properties\": {\r\n    \"results\": [],\r\n    \"sessionId\": \"4108dd13-fafb-4b45-93ea-14db87dec00b\",\r\n    \"commandId\": \"a740a898-bd11-4cd9-b4af-13da10fdd222\",\r\n    \"command\": \"dir c:\\\\ ; sleep 20 ; dir c:\\\\windows\",\r\n    \"completed\": \"false\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json"
        ],
        "x-managementservice-fileversion": [
          "1.0.1691.0"
        ],
        "X-ManagementService-ExpiredOn": [
          "2016-10-22T20:50:03.0878737Z"
        ],
        "X-ManagementService-RequestReceiveTimeOnGateway": [
          "2016-10-21T20:50:01.9708530Z"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14964"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/a01fbab8-1714-4f94-8b67-40d7827a5efd/resourceGroups/sdktest/providers/Microsoft.ServerManagement/nodes/rameshr12?api-version=2016-07-01-preview",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "x-managementservice-fileversion": [
          "1.0.1691.0"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1192"
        ]
      },
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "a01fbab8-1714-4f94-8b67-40d7827a5efd",
    "SMT_NODE_NAME": "RAMESHR12",
    "SMT_TEST_LOCATION": "centralus",
    "SMT_SESSION_ID": "80b6d83e-dbcf-43cd-8e60-43b5e5d742ac",
    "SMT_NODE_USERNAME": "rsmtuser",
    "SMT_GATEWAY_2": "rameshr12"
  }
}