{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/fed2a274-8787-4a13-8371-f5282597b779?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "id": "/subscriptions/fed2a274-8787-4a13-8371-f5282597b779",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "subscriptionId": "fed2a274-8787-4a13-8371-f5282597b779",
        "tenantId": "3a689a02-340f-4a4e-a32c-6fce276c6bdc",
        "displayName": "PayG04-15-2022",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Public_2014-09-01",
          "quotaId": "PayAsYouGo_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/tenants?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-tenant-reads": "11999"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/tenants/3a689a02-340f-4a4e-a32c-6fce276c6bdc",
            "tenantId": "3a689a02-340f-4a4e-a32c-6fce276c6bdc",
            "tenantCategory": "Home"
          }
        ]
      }
    },
    {
      "RequestUri": "https://management.azure.com/providers/Microsoft.Capacity/calculateExchange?api-version=2022-03-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "reservationsToPurchase": [
            {
              "sku": {
                "name": "Standard_B1ls"
              },
              "location": "westeurope",
              "properties": {
                "reservedResourceType": "VirtualMachines",
                "billingScopeId": "/subscriptions/fed2a274-8787-4a13-8371-f5282597b779",
                "term": "P1Y",
                "billingPlan": "Upfront",
                "quantity": 3,
                "displayName": "testVM",
                "appliedScopeType": "Shared",
                "renew": false,
                "reservedResourceProperties": {
                  "instanceFlexibility": "On"
                }
              }
            }
          ],
          "reservationsToExchange": [
            {
              "reservationId": "/providers/microsoft.capacity/reservationOrders/be56711c-7ba2-4b62-bcb8-cb93ba191ea1/reservations/dc84da8a-9650-455c-9968-b83ac2ae4adb",
              "quantity": 2
            }
          ]
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/providers/Microsoft.Capacity/operationResults/b034361e-502a-4163-a75c-ce0ab8d47966?api-version=2022-03-01",
        "Location": "https://management.azure.com/providers/Microsoft.Capacity/operationResults/b034361e-502a-4163-a75c-ce0ab8d47966?api-version=2022-03-01",
        "Retry-After": "5",
        "x-ms-ratelimit-remaining-tenant-writes": "1199",
        "x-ms-test": "{\u0022contact\u0022:\u0022yunga\u0022,\u0022scenarios\u0022:\u0022GtmRiPurchase\u0022,\u0022retention\u0022:\u002212/22/2022 10:12:48 PM\u0022}",
        "x-ms-version": "1.0.2076.1304"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://management.azure.com/providers/Microsoft.Capacity/operationResults/b034361e-502a-4163-a75c-ce0ab8d47966?api-version=2022-03-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/providers/Microsoft.Capacity/operationResults/b034361e-502a-4163-a75c-ce0ab8d47966?api-version=2022-03-01",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/providers/Microsoft.Capacity/operationResults/b034361e-502a-4163-a75c-ce0ab8d47966?api-version=2022-03-01",
        "Retry-After": "5",
        "x-ms-ratelimit-remaining-tenant-reads": "11998",
        "x-ms-test": "{\u0022contact\u0022:\u0022yunga\u0022,\u0022scenarios\u0022:\u0022GtmRiPurchase\u0022,\u0022retention\u0022:\u002212/22/2022 10:12:49 PM\u0022}",
        "x-ms-version": "1.0.2076.1304"
      },
      "ResponseBody": {
        "id": "/providers/Microsoft.Capacity/operationResults/b034361e-502a-4163-a75c-ce0ab8d47966",
        "name": "b034361e-502a-4163-a75c-ce0ab8d47966",
        "status": "Pending"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/providers/Microsoft.Capacity/operationResults/b034361e-502a-4163-a75c-ce0ab8d47966?api-version=2022-03-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-tenant-reads": "11994",
        "x-ms-test": "{\u0022contact\u0022:\u0022yunga\u0022,\u0022scenarios\u0022:\u0022GtmRiPurchase\u0022,\u0022retention\u0022:\u002212/22/2022 10:13:11 PM\u0022}",
        "x-ms-version": "1.0.2076.1304"
      },
      "ResponseBody": {
        "id": "/providers/Microsoft.Capacity/operationResults/b034361e-502a-4163-a75c-ce0ab8d47966",
        "name": "b034361e-502a-4163-a75c-ce0ab8d47966",
        "status": "Succeeded",
        "properties": {
          "sessionId": "e4071ade-6674-452a-af43-edca781f08dc",
          "netPayable": {
            "currencyCode": "USD",
            "amount": 121.0
          },
          "refundsTotal": {
            "currencyCode": "USD",
            "amount": 62.0
          },
          "purchasesTotal": {
            "currencyCode": "USD",
            "amount": 183.0
          },
          "policyResult": {
            "policyErrors": null
          },
          "reservationsToPurchase": [
            {
              "properties": {
                "location": "westeurope",
                "properties": {
                  "appliedScopes": null,
                  "reservedResourceProperties": {
                    "instanceFlexibility": "On"
                  },
                  "instanceFlexibility": "On",
                  "renew": false,
                  "billingScopeId": "/subscriptions/fed2a274-8787-4a13-8371-f5282597b779",
                  "term": "P1Y",
                  "billingPlan": "Upfront",
                  "quantity": 3,
                  "displayName": "testVM",
                  "appliedScopeType": "Shared",
                  "reservedResourceType": "VirtualMachines"
                },
                "sku": {
                  "name": "Standard_B1ls"
                }
              },
              "billingCurrencyTotal": {
                "currencyCode": "USD",
                "amount": 183.0
              },
              "paymentSchedule": null,
              "pricingCurrencyTotal": null
            }
          ],
          "savingsPlansToPurchase": [],
          "reservationsToExchange": [
            {
              "reservationId": "/providers/microsoft.capacity/reservationOrders/be56711c-7ba2-4b62-bcb8-cb93ba191ea1/reservations/dc84da8a-9650-455c-9968-b83ac2ae4adb",
              "quantity": 2,
              "billingRefundAmount": {
                "currencyCode": "USD",
                "amount": 62.0
              },
              "billingInformation": {
                "billingCurrencyTotalPaidAmount": {
                  "currencyCode": "USD",
                  "amount": 930.0
                },
                "billingCurrencyProratedAmount": {
                  "currencyCode": "USD",
                  "amount": 868.0
                },
                "billingCurrencyRemainingCommitmentAmount": {
                  "currencyCode": "USD",
                  "amount": 0.0
                }
              }
            }
          ]
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/providers/Microsoft.Capacity/exchange?api-version=2022-03-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "sessionId": "e4071ade-6674-452a-af43-edca781f08dc"
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/providers/Microsoft.Capacity/operationResults/e4071ade-6674-452a-af43-edca781f08dc?api-version=2022-03-01",
        "Location": "https://management.azure.com/providers/Microsoft.Capacity/operationResults/e4071ade-6674-452a-af43-edca781f08dc?api-version=2022-03-01",
        "Retry-After": "5",
        "x-ms-ratelimit-remaining-tenant-writes": "1198",
        "x-ms-test": "{\u0022contact\u0022:\u0022yunga\u0022,\u0022scenarios\u0022:\u0022GtmRiPurchase\u0022,\u0022retention\u0022:\u002212/22/2022 10:13:29 PM\u0022}",
        "x-ms-version": "1.0.2076.1304"
      },
      "ResponseBody": null
    },
[...]
