{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/aaaaaaaa-bbbb-cccc-dddd-eeeeeeeeeeee?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "id": "/subscriptions/aaaaaaaa-bbbb-cccc-dddd-eeeeeeeeeeee",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "subscriptionId": "aaaaaaaa-bbbb-cccc-dddd-eeeeeeeeeeee",
        "tenantId": "f1a380c7-4edb-405c-9ffb-015823f5b32c",
        "displayName": "PayG-UK-03-09-2021",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Public_2014-09-01",
          "quotaId": "PayAsYouGo_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/tenants?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-tenant-reads": "11999"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/tenants/f1a380c7-4edb-405c-9ffb-015823f5b32c",
            "tenantId": "f1a380c7-4edb-405c-9ffb-015823f5b32c",
            "tenantCategory": "Home"
          }
        ]
      }
    },
    {
      "RequestUri": "https://management.azure.com/providers/Microsoft.Capacity/reservations?api-version=2022-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/providers/microsoft.capacity/reservationOrders/999047b6-fd6d-4885-9ad9-4480d9dbb4d3/reservations/ef0e5793-9eef-45d2-b3de-582d7e64269d",
            "name": "ef0e5793-9eef-45d2-b3de-582d7e64269d",
            "type": "microsoft.capacity/reservationOrders/reservations",
            "location": "westeurope",
            "etag": 13,
            "sku": {
              "name": "Standard_B1ls"
            },
            "properties": {
              "splitProperties": {
                "splitDestinations": [
                  "ea4ae453-9032-4de5-bf8f-6fd91d827637",
                  "6fda3512-4712-4898-b189-2e872ad47ee1"
                ]
              },
              "reservedResourceType": "VirtualMachines",
              "userFriendlyRenewState": "NotApplicable",
              "skuDescription": "Reserved VM Instance, Standard_B1ls, EU West, 1 Year",
              "renew": false,
              "archived": false,
              "quantity": 3,
              "appliedScopeType": "Shared",
              "displayName": "testVM",
              "provisioningState": "Cancelled",
              "term": "P1Y",
              "displayProvisioningState": "Cancelled",
              "userFriendlyAppliedScopeType": "Shared",
              "expiryDateTime": "2024-03-08T02:17:02.9088170Z",
              "purchaseDateTime": "2023-03-08T01:18:28.2706441Z",
              "benefitStartTime": "2023-03-08T02:17:02.9088170Z",
              "lastUpdatedDateTime": "2023-03-09T06:55:07.9299532Z",
              "expiryDate": "2024-03-08",
              "purchaseDate": "2023-03-08",
              "effectiveDateTime": "2023-03-09T06:55:03.5176795Z",
              "instanceFlexibility": "On",
              "utilization": {
                "aggregates": []
              },
              "billingPlan": "Monthly",
              "billingScopeId": "/subscriptions/aaaaaaaa-bbbb-cccc-dddd-eeeeeeeeeeee"
            }
          },
          {
            "id": "/providers/microsoft.capacity/reservationOrders/f7a0717f-66e4-498f-ab36-e4a22bd8126c/reservations/e52fa856-d857-4f07-a1e7-3a483c1940dc",
            "name": "e52fa856-d857-4f07-a1e7-3a483c1940dc",
            "type": "microsoft.capacity/reservationOrders/reservations",
            "location": "westeurope",
            "etag": 13,
            "sku": {
              "name": "Standard_B1[...]
    {
      "RequestUri": "https://management.azure.com/providers/Microsoft.Capacity/reservations?api-version=2022-11-01\u0026%24skiptoken=50",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/providers/microsoft.capacity/rese[...]
    {
      "RequestUri": "https://management.azure.com/providers/Microsoft.Capacity/calculateExchange?api-version=2022-11-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "reservationsToPurchase": [
            {
              "sku": {
                "name": "Standard_B1ls"
              },
              "location": "westeurope",
              "properties": {
                "reservedResourceType": "VirtualMachines",
                "billingScopeId": "/subscriptions/aaaaaaaa-bbbb-cccc-dddd-eeeeeeeeeeee",
                "term": "P1Y",
                "billingPlan": "Upfront",
                "quantity": 3,
                "displayName": "testVM",
                "appliedScopeType": "Shared",
                "renew": false,
                "reservedResourceProperties": {
                  "instanceFlexibility": "On"
                }
              }
            }
          ],
          "reservationsToExchange": [
            {
              "reservationId": "/providers/microsoft.capacity/reservationOrders/b514d86e-56d4-4287-bf56-e17c3a3e3490/reservations/aa3b5307-e5aa-4916-863a-087571fb66c9",
              "quantity": 2
            }
          ]
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/providers/Microsoft.Capacity/operationResults/42cb40d8-4101-436f-8069-ae987fc96240?api-version=2022-11-01",
        "Location": "https://management.azure.com/providers/Microsoft.Capacity/operationResults/42cb40d8-4101-436f-8069-ae987fc96240?api-version=2022-11-01",
        "Retry-After": "5",
        "x-ms-ratelimit-remaining-tenant-writes": "1199",
        "x-ms-test": "{\u0022contact\u0022:\u0022yull\u0022,\u0022scenarios\u0022:\u0022\\\u0022NewReservationTypeScenario\\\u0022,\\\u0022TestInProduction\\\u0022,\\\u0022Tip\\\u0022\u0022,\u0022retention\u0022:\u00226/8/2023 4:10:36 AM\u0022}",
        "x-ms-version": "1.0.2251.115"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://management.azure.com/providers/Microsoft.Capacity/operationResults/42cb40d8-4101-436f-8069-ae987fc96240?api-version=2022-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/providers/Microsoft.Capacity/operationResults/42cb40d8-4101-436f-8069-ae987fc96240?api-version=2022-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/providers/Microsoft.Capacity/operationResults/42cb40d8-4101-436f-8069-ae987fc96240?api-version=2022-11-01",
        "Retry-After": "5",
        "x-ms-ratelimit-remaining-tenant-reads": "11996",
        "x-ms-test": "{\u0022contact\u0022:\u0022yull\u0022,\u0022scenarios\u0022:\u0022\\\u0022NewReservationTypeScenario\\\u0022,\\\u0022TestInProduction\\\u0022,\\\u0022Tip\\\u0022\u0022,\u0022retention\u0022:\u00226/8/2023 4:10:38 AM\u0022}",
        "x-ms-version": "1.0.2251.115"
      },
      "ResponseBody": {
        "id": "/providers/Microsoft.Capacity/operationResults/42cb40d8-4101-436f-8069-ae987fc96240",
        "name": "42cb40d8-4101-436f-8069-ae987fc96240",
        "status": "Pending"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/providers/Microsoft.Capacity/operationResults/42cb40d8-4101-436f-8069-ae987fc96240?api-version=2022-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-tenant-reads": "11992",
        "x-ms-test": "{\u0022contact\u0022:\u0022yull\u0022,\u0022scenarios\u0022:\u0022\\\u0022NewReservationTypeScenario\\\u0022,\\\u0022TestInProduction\\\u0022,\\\u0022Tip\\\u0022\u0022,\u0022retention\u0022:\u00226/8/2023 4:11:00 AM\u0022}",
        "x-ms-version": "1.0.2251.115"
      },
      "ResponseBody": {
        "id": "/providers/Microsoft.Capacity/operationResults/42cb40d8-4101-436f-8069-ae987fc96240",
        "name": "42cb40d8-4101-436f-8069-ae987fc96240",
        "status": "Succeeded",
        "properties": {
          "sessionId": "20920bfd-94d2-4b6d-9323-3d9f39995d6f",
          "netPayable": {
            "currencyCode": "GBP",
            "amount": 23.16
          },
          "refundsTotal": {
            "currencyCode": "GBP",
            "amount": 45.84
          },
          "purchasesTotal": {
            "currencyCode": "GBP",
            "amount": 69.0
          },
          "policyResult": {
            "policyErrors": null
          },
          "reservationsToPurchase": [
            {
              "properties": {
                "location": "westeurope",
                "properties": {
                  "appliedScopes": null,
                  "reservedResourceProperties": {
                    "instanceFlexibility": "On"
                  },
                  "instanceFlexibility": "On",
                  "renew": false,
                  "billingScopeId": "/subscriptions/aaaaaaaa-bbbb-cccc-dddd-eeeeeeeeeeee",
                  "term": "P1Y",
                  "billingPlan": "Upfront",
                  "quantity": 3,
                  "displayName": "testVM",
                  "appliedScopeType": "Shared",
                  "reservedResourceType": "VirtualMachines",
                  "reviewDateTime": null
                },
                "sku": {
                  "name": "Standard_B1ls"
                }
              },
              "billingCurrencyTotal": {
                "currencyCode": "GBP",
                "amount": 69.0
              },
              "paymentSchedule": null,
              "pricingCurrencyTotal": null
            }
          ],
          "savingsPlansToPurchase": [],
          "reservationsToExchange": [
            {
              "reservationId": "/providers/microsoft.capacity/reservationOrders/b514d86e-56d4-4287-bf56-e17c3a3e3490/reservations/aa3b5307-e5aa-4916-863a-087571fb66c9",
              "quantity": 2,
              "billingRefundAmount": {
                "currencyCode": "GBP",
                "amount": 3.82
              },
              "billingInformation": {
                "billingCurrencyTotalPaidAmount": {
                  "currencyCode": "GBP",
                  "amount": 5.73
                },
                "billingCurrencyProratedAmount": {
                  "currencyCode": "GBP",
                  "amount": 1.91
                },
                "billingCurrencyRemainingCommitmentAmount": {
                  "currencyCode": "GBP",
                  "amount": 42.02
                }
              }
            }
          ]
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/providers/Microsoft.Capacity/exchange?api-version=2022-11-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "sessionId": "20920bfd-94d2-4b6d-9323-3d9f39995d6f"
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/providers/Microsoft.Capacity/operationResults/20920bfd-94d2-4b6d-9323-3d9f39995d6f?api-version=2022-11-01",
        "Location": "https://management.azure.com/providers/Microsoft.Capacity/operationResults/20920bfd-94d2-4b6d-9323-3d9f39995d6f?api-version=2022-11-01",
        "Retry-After": "5",
        "x-ms-ratelimit-remaining-tenant-writes": "1198",
        "x-ms-test": "{\u0022contact\u0022:\u0022yull\u0022,\u0022scenarios\u0022:\u0022\\\u0022NewReservationTypeScenario\\\u0022,\\\u0022TestInProduction\\\u0022,\\\u0022Tip\\\u0022\u0022,\u0022retention\u0022:\u00226/8/2023 4:11:00 AM\u0022}",
        "x-ms-version": "1.0.2251.115"
      },
      "ResponseBody": null
    },
[...]
