{
  "Entries": [
    {
      "RequestUri": "/qnamaker/v5.0-preview.1/knowledgebases/create",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"name\": \"testqna\",\r\n  \"qnaList\": [\r\n    {\r\n      \"answer\": \"hello\",\r\n      \"questions\": [\r\n        \"hi\"\r\n      ]\r\n    }\r\n  ]\r\n}",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": [
          "c692f6f64dd54468b25eefd0c6c67c71"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Location": [
          "/operations/93bf6a25-c135-4c6c-b45f-8ce619cfbb65"
        ],
        "csp-billing-usage": [
          "CognitiveServices.QnAMakerV2.Transaction=1"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"operationState\": \"NotStarted\",\r\n  \"createdTimestamp\": \"2020-10-14T10:30:36.8061308Z\",\r\n  \"lastActionTimestamp\": \"2020-10-14T10:30:36.8061308Z\",\r\n  \"userId\": \"50c22b7204fd4ef8bf9ed68e837abedb\",\r\n  \"operationId\": \"93bf6a25-c135-4c6c-b45f-8ce619cfbb65\"\r\n}",
      "StatusCode": 202
    },
    {
      "RequestUri": "/qnamaker/v5.0-preview.1/operations/93bf6a25-c135-4c6c-b45f-8ce619cfbb65",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": [
          "c692f6f64dd54468b25eefd0c6c67c71"
        ]
      },
      "ResponseHeaders": {
        "Retry-After": [
          "00:00:30"
        ],
        "csp-billing-usage": [
          "CognitiveServices.QnAMakerV2.Transaction=1"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"operationState\": \"Running\",\r\n  \"createdTimestamp\": \"2020-10-14T16:00:36+05:30\",\r\n  \"lastActionTimestamp\": \"2020-10-14T16:00:37+05:30\",\r\n  \"userId\": \"50c22b7204fd4ef8bf9ed68e837abedb\",\r\n  \"operationId\": \"93bf6a25-c135-4c6c-b45f-8ce619cfbb65\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/qnamaker/v5.0-preview.1/operations/93bf6a25-c135-4c6c-b45f-8ce619cfbb65",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": [
          "c692f6f64dd54468b25eefd0c6c67c71"
        ]
      },
      "ResponseHeaders": {
        "csp-billing-usage": [
          "CognitiveServices.QnAMakerV2.Transaction=1"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"operationState\": \"Succeeded\",\r\n  \"createdTimestamp\": \"2020-10-14T16:00:36+05:30\",\r\n  \"lastActionTimestamp\": \"2020-10-14T16:00:44+05:30\",\r\n  \"resourceLocation\": \"/knowledgebases/cdf5fc69-d509-4b2c-8a78-35545d71cf60\",\r\n  \"userId\": \"50c22b7204fd4ef8bf9ed68e837abedb\",\r\n  \"operationId\": \"93bf6a25-c135-4c6c-b45f-8ce619cfbb65\"\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/qnamaker/v5.0-preview.1/knowledgebases/cdf5fc69-d509-4b2c-8a78-35545d71cf60",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": [
          "c692f6f64dd54468b25eefd0c6c67c71"
        ]
      },
      "ResponseHeaders": {
        "csp-billing-usage": [
          "CognitiveServices.QnAMakerV2.Transaction=1"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"cdf5fc69-d509-4b2c-8a78-35545d71cf60\",\r\n  \"hostName\": \"http://svc--runtimeweb.qnamaker-runtime.svc.cluster.local\",\r\n  \"lastAccessedTimestamp\": \"2020-10-14T10:30:39Z\",\r\n  \"lastChangedTimestamp\": \"2020-10-14T10:30:39Z\",\r\n  \"name\": \"testqna\",\r\n  \"userId\": \"50c22b7204fd4ef8bf9ed68e837abedb\",\r\n  \"urls\": [],\r\n  \"sources\": [\r\n    \"Editorial\"\r\n  ],\r\n  \"language\": \"English\",\r\n  \"enableHierarchicalExtraction\": false,\r\n  \"createdTimestamp\": \"2020-10-14T10:30:39Z\",\r\n  \"defaultAnswer\": \"No good match found in KB\"\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/qnamaker/v5.0-preview.1/knowledgebases/cdf5fc69-d509-4b2c-8a78-35545d71cf60/Test/qna",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": [
          "c692f6f64dd54468b25eefd0c6c67c71"
        ]
      },
      "ResponseHeaders": {
        "csp-billing-usage": [
          "CognitiveServices.QnAMakerV2.Transaction=1"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"qnaDocuments\": [\r\n    {\r\n      \"id\": 1,\r\n      \"answer\": \"hello\",\r\n      \"source\": \"Editorial\",\r\n      \"questions\": [\r\n        \"hi\"\r\n      ],\r\n      \"metadata\": [],\r\n      \"alternateQuestionClusters\": [],\r\n      \"context\": {\r\n        \"isContextOnly\": false,\r\n        \"prompts\": []\r\n      },\r\n      \"lastUpdatedTimestampUTC\": \"2020-10-14T16:00:42.334+05:30\"\r\n    }\r\n  ]\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/qnamaker/v5.0-preview.1/knowledgebases/cdf5fc69-d509-4b2c-8a78-35545d71cf60",
      "RequestMethod": "PATCH",
      "RequestBody": "{\r\n  \"add\": {\r\n    \"qnaList\": [\r\n      {\r\n        \"answer\": \"goodbye\",\r\n        \"questions\": [\r\n          \"bye\"\r\n        ]\r\n      }\r\n    ]\r\n  }\r\n}",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": [
          "c692f6f64dd54468b25eefd0c6c67c71"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Location": [
          "/operations/cfa61c35-9f29-4888-8475-da52c8dbdf64"
        ],
        "csp-billing-usage": [
          "CognitiveServices.QnAMakerV2.Transaction=1"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"operationState\": \"NotStarted\",\r\n  \"createdTimestamp\": \"2020-10-14T10:30:48.3823711Z\",\r\n  \"lastActionTimestamp\": \"2020-10-14T10:30:48.3823711Z\",\r\n  \"userId\": \"50c22b7204fd4ef8bf9ed68e837abedb\",\r\n  \"operationId\": \"cfa61c35-9f29-4888-8475-da52c8dbdf64\"\r\n}",
      "StatusCode": 202
    },
[...]
    {
      "RequestUri": "/qnamaker/v5.0-preview.1/knowledgebases/cdf5fc69-d509-4b2c-8a78-35545d71cf60",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": [
          "c692f6f64dd54468b25eefd0c6c67c71"
        ]
      },
      "ResponseHeaders": {
        "csp-billing-usage": [
          "CognitiveServices.QnAMakerV2.Transaction=1"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 204
    }
  ],
  "Names": {},
  "Variables": {}
}