{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.workspace.discovery.azure.com/projects/test-project/investigations/Sanitized/tasks?api-version=2026-02-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "title": "task-for-delete-test",
        "description": "Test task for C# SDK"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "Sanitized",
        "x-ms-build-version": "1"
      },
      "ResponseBody": {
        "name": "5529683318073537106",
        "title": "task-for-delete-test",
        "priority": "Medium",
        "description": "Test task for C# SDK",
        "validationRequirements": [],
        "parentId": null,
        "dependsOn": [],
        "relatedTo": [],
        "assignedTo": {
          "id": "",
          "type": ""
        },
        "comments": [],
        "createdByType": "User",
        "status": "New",
        "createdAt": "2026-05-12T00:50:17.0119902Z",
        "lastModifiedAt": "2026-05-12T00:50:17.0119902Z",
        "executionHistory": [
          {
            "createdAt": "2026-05-12T00:50:17.0119902Z",
            "action": "taskCreated",
            "createdBy": "Sanitized",
            "createdByType": "User",
            "summary": "Task created: task-for-delete-test"
          }
        ],
        "taskCollectionId": "5591319156772512381",
        "investigationId": "/projects/test-project/investigations/test-invst",
        "taskResult": {
          "text": "",
          "storageAssetIds": [],
          "citations": []
        },
        "storageAssetIds": [],
        "lastModifiedByType": "User",
        "lastModifiedBy": "Sanitized",
        "createdBy": "Sanitized",
        "foundryConversationId": null
      }
    },
    {
      "RequestUri": "https://Sanitized.workspace.discovery.azure.com/projects/test-project/investigations/Sanitized/tasks/5529683318073537106?api-version=2026-02-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "mise-correlation-id": "Sanitized",
        "x-ms-build-version": "1"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "AZURE_DISCOVERY_INVESTIGATION_NAME": "test-invst",
    "AZURE_DISCOVERY_PROJECT_NAME": "test-project",
    "AZURE_DISCOVERY_WORKSPACE_ENDPOINT": "https://Sanitized.workspace.discovery.azure.com",
    "RandomSeed": "314148767"
  }
}
