{
  "Entries": [
    {
      "RequestUri": "/rbacclitest.onmicrosoft.com/groups?api-version=1.6",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"displayName\": \"adgroup156\",\r\n  \"mailNickname\": \"adgroup156tester\",\r\n  \"mailEnabled\": false,\r\n  \"securityEnabled\": true\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://graph.windows.net/rbacclitest.onmicrosoft.com/$metadata#directoryObjects/Microsoft.DirectoryServices.Group/@Element\",\r\n  \"odata.type\": \"Microsoft.DirectoryServices.Group\",\r\n  \"objectType\": \"Group\",\r\n  \"objectId\": \"8c3f0447-802d-42e9-bcbc-f1ea7faf992c\",\r\n  \"deletionTimestamp\": null,\r\n  \"description\": null,\r\n  \"dirSyncEnabled\": null,\r\n  \"displayName\": \"adgroup156\",\r\n  \"lastDirSyncTime\": null,\r\n  \"mail\": null,\r\n  \"mailNickname\": \"adgroup156tester\",\r\n  \"mailEnabled\": false,\r\n  \"onPremisesSecurityIdentifier\": null,\r\n  \"provisioningErrors\": [],\r\n  \"proxyAddresses\": [],\r\n  \"securityEnabled\": true\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; odata=minimalmetadata; streaming=true; charset=utf-8"
        ],
        "Location": [
          "https://graph.windows.net/rbacclitest.onmicrosoft.com/directoryObjects/8c3f0447-802d-42e9-bcbc-f1ea7faf992c/Microsoft.DirectoryServices.Group"
        ],
        "ocp-aad-diagnostics-server-name": [
          "MZl/hA8XpttsVIldt7MY8/8xS+QCIPIdkqsWyJMNDKo="
        ],
        "x-ms-dirapi-data-contract-version": [
          "1.6"
        ],
        "ocp-aad-session-key": [
          "TQoHscXhKJzneIWM4OBprDsvXsA3Z8wPlKzt5RhxWw4wB7wOUh_bmJBf3xOw5EhqXSIINFlSwrCEC6OSBGcOyohwypIlCeyRaDPS8hNZJeIUEMN-Ku9iWdnTEYDnyI0HUgwdTR9lwkBeA68_I_hL_A0bMjvmqFl45bLDM6greSTkzQGlxHHPwn13T3ZKhNGCTNtYNRvEy-d_cZuJLU0Hjw.mWEjw_8bN6bcAX1ZajMTWUcvR2U_G79vyVPljcNDniQ"
        ],
        "DataServiceVersion": [
          "3.0;"
        ],
        "Duration": [
          "3918411"
        ]
      },
      "StatusCode": 201
    },
    {
      "RequestUri": "/rbacclitest.onmicrosoft.com/users?api-version=1.6",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"accountEnabled\": true,\r\n  \"displayName\": \"aduser6738\",\r\n  \"passwordProfile\": {\r\n    \"password\": \"Test12345\",\r\n    \"forceChangePasswordNextLogin\": false\r\n  },\r\n  \"userPrincipalName\": \"aduser6738@rbacclitest.onmicrosoft.com\",\r\n  \"mailNickname\": \"aduser6738test\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://graph.windows.net/rbacclitest.onmicrosoft.com/$metadata#directoryObjects/Microsoft.DirectoryServices.User/@Element\",\r\n  \"odata.type\": \"Microsoft.DirectoryServices.User\",\r\n  \"objectType\": \"User\",\r\n  \"objectId\": \"1ba17468-a611-460e-9704-0776ac3e921e\",\r\n  \"deletionTimestamp\": null,\r\n  \"accountEnabled\": true,\r\n  \"signInNames\": [],\r\n  \"assignedLicenses\": [],\r\n  \"assignedPlans\": [],\r\n  \"city\": null,\r\n  \"companyName\": null,\r\n  \"country\": null,\r\n  \"creationType\": null,\r\n  \"department\": null,\r\n  \"dirSyncEnabled\": null,\r\n  \"displayName\": \"aduser6738\",\r\n  \"facsimileTelephoneNumber\": null,\r\n  \"givenName\": null,\r\n  \"immutableId\": null,\r\n  \"isCompromised\": null,\r\n  \"jobTitle\": null,\r\n  \"lastDirSyncTime\": null,\r\n  \"mail\": null,\r\n  \"mailNickname\": \"aduser6738test\",\r\n  \"mobile\": null,\r\n  \"onPremisesSecurityIdentifier\": null,\r\n  \"otherMails\": [],\r\n  \"passwordPolicies\": null,\r\n  \"passwordProfile\": null,\r\n  \"physicalDeliveryOfficeName\": null,\r\n  \"postalCode\": null,\r\n  \"preferredLanguage\": null,\r\n  \"provisionedPlans\": [],\r\n  \"provisioningErrors\": [],\r\n  \"proxyAddresses\": [],\r\n  \"refreshTokensValidFromDateTime\": \"2016-07-19T00:58:04.486703Z\",\r\n  \"sipProxyAddress\": null,\r\n  \"state\": null,\r\n  \"streetAddress\": null,\r\n  \"surname\": null,\r\n  \"telephoneNumber\": null,\r\n  \"usageLocation\": null,\r\n  \"userPrincipalName\": \"aduser6738@rbacclitest.onmicrosoft.com\",\r\n  \"userType\": \"Member\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; odata=minimalmetadata; streaming=true; charset=utf-8"
        ],
        "Location": [
          "https://graph.windows.net/rbacclitest.onmicrosoft.com/directoryObjects/1ba17468-a611-460e-9704-0776ac3e921e/Microsoft.DirectoryServices.User"
        ],
        "ocp-aad-diagnostics-server-name": [
          "DwiZqbw4kpvacRTHgNp62Clzs32ouQbIngVZZ/qji78="
        ],
        "x-ms-dirapi-data-contract-version": [
          "1.6"
        ],
        "ocp-aad-session-key": [
          "4gC5f3d6-O_3X4zolHw5ToXxNaqLGhFwlH2Zg3Nu73n4D4POGUMuXG9gU25Mgh3YfNQpbWKMjI2Pp1CWFQnzvoMgJDLhvNVPceYu0hmk_k7e2vgllh8yCTvwhXz4q4V_qooePhQQl-PFD8NyEpXonsB20XiCUSZDB10qIeMz-VkjZDEfhq8zyvjvzkj3FzNuRikPAEGlY1RTIy2hhm5qUQ.LHd-klxqkpSxEuxGOMGiK1UwQLSqm_rin0K2OO66TlE"
        ],
        "DataServiceVersion": [
          "3.0;"
        ],
        "Duration": [
          "12365743"
        ]
      },
      "StatusCode": 201
    },
    {
      "RequestUri": "/rbacclitest.onmicrosoft.com/groups/8c3f0447-802d-42e9-bcbc-f1ea7faf992c/$links/members?api-version=1.6",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"url\": \"https://graph.windows.net/rbacclitest.onmicrosoft.com/directoryObjects/1ba17468-a611-460e-9704-0776ac3e921e\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "ocp-aad-diagnostics-server-name": [
          "F2LOr8r7qijtW7xVmU1aLk3kz6clyv8DNEw2XQfFr2A="
        ],
        "x-ms-dirapi-data-contract-version": [
          "1.6"
        ],
        "ocp-aad-session-key": [
          "bR_UfekI-znMYreRF8pR7tyyVMGagnm48fOS1nmLY4SsMgmTwJt6qKB7chqiMa0ySAPxAf8nWV0ENA83lqjKrCLWjNnFG9MP9YuQdEDOsj3JMrC7KVZCBV9ol7lbGlBJKJn5xfJVPXHb3JDZuqNLsw0roZQu86ceaGWCCkuKt65L6ATMPd06-7664pDpp3duX2AfTPkBvs3NvQl9kORzCg.pXFGfzZiOr13sKYcrpX4fa587bMGdQNZlcAiaFOst-o"
        ],
        "DataServiceVersion": [
          "1.0;"
        ],
        "Duration": [
          "2075636"
        ]
      },
      "StatusCode": 204
    },
    {
      "RequestUri": "/rbacclitest.onmicrosoft.com/users/1ba17468-a611-460e-9704-0776ac3e921e/getMemberGroups?api-version=1.6",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"securityEnabledOnly\": false\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://graph.windows.net/rbacclitest.onmicrosoft.com/$metadata#Collection(Edm.String)\",\r\n  \"value\": [\r\n    \"8c3f0447-802d-42e9-bcbc-f1ea7faf992c\"\r\n  ]\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; odata=minimalmetadata; streaming=true; charset=utf-8"
        ],
        "ocp-aad-diagnostics-server-name": [
          "8QS3Rr9OchX/gNA/xIqqaruLx3+x2qpMKF2JrRGoy1I="
        ],
        "x-ms-dirapi-data-contract-version": [
          "1.6"
        ],
        "ocp-aad-session-key": [
          "3pS4FhyH4ScsD2C4ZFqoJVGD4-DxgW4rBjTu0u29dJB2nRzv9lvnwFqBvgYfgBhDuTglM_fYM0zS0MujVpKoDOP1F9VOVkeRBvcHraVWiAwBrFEipBC_8XIgCeVEUeBKYaxYFTAtDVVyd5nQyJF3MIeECd_iLC9TMnFijEZUW1RghsGLXtqfP-6TgvRo0RY-uqhrGm0NB77migkmvpc7AQ.FTQRG30aNwBwc7akOqbwUBXBjgkdyud5WSaqABzMOck"
        ],
        "DataServiceVersion": [
          "3.0;"
        ],
        "Duration": [
          "1251883"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/rbacclitest.onmicrosoft.com/groups/8c3f0447-802d-42e9-bcbc-f1ea7faf992c/$links/members/1ba17468-a611-460e-9704-0776ac3e921e?api-version=1.6",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "ocp-aad-diagnostics-server-name": [
          "WidflJ9mqequu8oD2vdZNqrS85ZDnXLVWdKHcPhx/k4="
        ],
        "x-ms-dirapi-data-contract-version": [
          "1.6"
        ],
        "ocp-aad-session-key": [
          "pDf-sJ3k-ZSHfq_qTIv60Cr0K_5cAjL_XMagsbxvCClBpRPZiYfAHTPBZTSu4FyTu46gnkpDUx5BfGgYNTd0bMw0ocO3IBs4_NkomSQIMPjKgcqs4mywHc7zc4ltdaPNEwNamdGgpsVbLG9dEY4K7iLymF6ISfuyZ5ZNeiWzUOceJWmH32dxu7qF4o3elbXIeYBaJe-6C8zzeqvVCCqSHw.CEQoQdbMVbW_RaMCytXmbyS4G_b6ZlV6c5zhFJw1e7c"
        ],
        "DataServiceVersion": [
          "1.0;"
        ],
        "Duration": [
          "1816552"
        ]
      },
      "StatusCode": 204
    },
    {
      "RequestUri": "/rbacclitest.onmicrosoft.com/groups/8c3f0447-802d-42e9-bcbc-f1ea7faf992c?api-version=1.6",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "ocp-aad-diagnostics-server-name": [
          "pcEjtggFbO+fm3HKUqvGP5lzCwUVwGtyMML/tOx4RCQ="
        ],
        "x-ms-dirapi-data-contract-version": [
          "1.6"
        ],
        "ocp-aad-session-key": [
          "cjDnZgVJhFt9e9t7Bug7vit9sjsnFGB3DR9dRToYOfmvUtQBNFydUzjNK2wIhVWkUmCEMbyBTcjX9Mrwnt3490SnXNa8HBZuvOgv0eiMJC9MkGKnepUjKY5zQtldPXhjtM1gUoXGZcP9pQZ0cvwZFSgL1GUxaCU81hTH4PoucBLdlHdEPOdPCY3AwJSLJ8sWsM9MHZMDa8TPomBGOUHNsA.oy7bqVPTxG184skamB6UapGd0VSVyZUllKebHsFzyBQ"
        ],
        "DataServiceVersion": [
          "1.0;"
        ],
        "Duration": [
          "1877997"
        ]
      },
      "StatusCode": 204
    },
    {
      "RequestUri": "/rbacclitest.onmicrosoft.com/users/1ba17468-a611-460e-9704-0776ac3e921e?api-version=1.6",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "ocp-aad-diagnostics-server-name": [
          "1Iav/mHzTGmu2pmYRWHXkhYT/enRd9k1yYAecgDtd9w="
        ],
        "x-ms-dirapi-data-contract-version": [
          "1.6"
        ],
        "ocp-aad-session-key": [
          "0VVxKU4RJEEl8QXS4YitrxBW8X6mB4TvH45Pae4JTW4omRRIhMYRm7R8hbf1SgmBDTkxaL_EMHwkxeKxBS-_9G0tVGJMnQ8MXbEAVql4xymP2SDZgufifSdeENfF2idqtBkJHpgOc_GjOdjHVyfT7TBF_cUpE4zg5PJgpruYjsaBH5kiyELTTLqEKehpP7UaFrUnKanTqupAsVEi7vcqxA.vUgwe-UAQkGGq8Dk5v9fv0DtO7YSSlpnCd5Dhf7Egy8"
        ],
        "DataServiceVersion": [
          "1.0;"
        ],
        "Duration": [
          "9899180"
        ]
      },
      "StatusCode": 204
    }
  ],
  "Names": {
    "CreateGroup": [
      "adgroup156"
    ],
    "CreateUser": [
      "aduser6738"
    ]
  },
  "Variables": {
    "SubscriptionId": "4004a9fd-d58e-48dc-aeb2-4a4aec58606f",
    "TenantId": "rbacclitest.onmicrosoft.com",
    "Domain": "rbacclitest.onmicrosoft.com"
  }
}