{
  "Entries": [
    {
      "RequestUri": "/rbacclitest.onmicrosoft.com/groups?api-version=1.6",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"displayName\": \"adgroup7956\",\r\n  \"mailNickname\": \"adgroup7956tester\",\r\n  \"mailEnabled\": false,\r\n  \"securityEnabled\": true\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://graph.windows.net/rbacclitest.onmicrosoft.com/$metadata#directoryObjects/Microsoft.DirectoryServices.Group/@Element\",\r\n  \"odata.type\": \"Microsoft.DirectoryServices.Group\",\r\n  \"objectType\": \"Group\",\r\n  \"objectId\": \"f159edfc-0403-4952-a577-516f9c47576d\",\r\n  \"deletionTimestamp\": null,\r\n  \"description\": null,\r\n  \"dirSyncEnabled\": null,\r\n  \"displayName\": \"adgroup7956\",\r\n  \"lastDirSyncTime\": null,\r\n  \"mail\": null,\r\n  \"mailNickname\": \"adgroup7956tester\",\r\n  \"mailEnabled\": false,\r\n  \"onPremisesSecurityIdentifier\": null,\r\n  \"provisioningErrors\": [],\r\n  \"proxyAddresses\": [],\r\n  \"securityEnabled\": true\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; odata=minimalmetadata; streaming=true; charset=utf-8"
        ],
        "Location": [
          "https://graph.windows.net/rbacclitest.onmicrosoft.com/directoryObjects/f159edfc-0403-4952-a577-516f9c47576d/Microsoft.DirectoryServices.Group"
        ],
        "ocp-aad-diagnostics-server-name": [
          "dS62cdS3jxXz9WV41FbNbdFCgD8BZkeQdpb/3DuhgUM="
        ],
        "x-ms-dirapi-data-contract-version": [
          "1.6"
        ],
        "ocp-aad-session-key": [
          "HiTuImcbPUByakiTc5HBa8i2sGnQ9rVrASvoSaKWiX3KSN_MrTKN-QvOpd4OY_kNDEOBkGbmPAQNQurS7BOLBJgdH2_7sNJu_cI4eZkpv_HKRwtEaj-yEHtCwGfByFokiiFiqo0aGUtR26b3Kxt5Bw.q9lkphRyiSbPgdkvxQhmbLuzaPYv4YZp6Qg327P1378"
        ],
        "DataServiceVersion": [
          "3.0;"
        ],
        "Duration": [
          "2757361"
        ]
      },
      "StatusCode": 201
    },
    {
      "RequestUri": "/rbacclitest.onmicrosoft.com/users?api-version=1.6",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"accountEnabled\": true,\r\n  \"displayName\": \"aduser4047\",\r\n  \"passwordProfile\": {\r\n    \"password\": \"Test12345\",\r\n    \"forceChangePasswordNextLogin\": false\r\n  },\r\n  \"userPrincipalName\": \"aduser4047@rbacclitest.onmicrosoft.com\",\r\n  \"mailNickname\": \"aduser4047test\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://graph.windows.net/rbacclitest.onmicrosoft.com/$metadata#directoryObjects/Microsoft.DirectoryServices.User/@Element\",\r\n  \"odata.type\": \"Microsoft.DirectoryServices.User\",\r\n  \"objectType\": \"User\",\r\n  \"objectId\": \"6ee1f498-bdb2-4f3f-a35b-39e5289b1ecf\",\r\n  \"deletionTimestamp\": null,\r\n  \"accountEnabled\": true,\r\n  \"signInNames\": [],\r\n  \"assignedLicenses\": [],\r\n  \"assignedPlans\": [],\r\n  \"city\": null,\r\n  \"companyName\": null,\r\n  \"country\": null,\r\n  \"creationType\": null,\r\n  \"department\": null,\r\n  \"dirSyncEnabled\": null,\r\n  \"displayName\": \"aduser4047\",\r\n  \"facsimileTelephoneNumber\": null,\r\n  \"givenName\": null,\r\n  \"immutableId\": null,\r\n  \"isCompromised\": null,\r\n  \"jobTitle\": null,\r\n  \"lastDirSyncTime\": null,\r\n  \"mail\": null,\r\n  \"mailNickname\": \"aduser4047test\",\r\n  \"mobile\": null,\r\n  \"onPremisesSecurityIdentifier\": null,\r\n  \"otherMails\": [],\r\n  \"passwordPolicies\": null,\r\n  \"passwordProfile\": null,\r\n  \"physicalDeliveryOfficeName\": null,\r\n  \"postalCode\": null,\r\n  \"preferredLanguage\": null,\r\n  \"provisionedPlans\": [],\r\n  \"provisioningErrors\": [],\r\n  \"proxyAddresses\": [],\r\n  \"refreshTokensValidFromDateTime\": \"2016-07-19T19:45:02.5328234Z\",\r\n  \"sipProxyAddress\": null,\r\n  \"state\": null,\r\n  \"streetAddress\": null,\r\n  \"surname\": null,\r\n  \"telephoneNumber\": null,\r\n  \"usageLocation\": null,\r\n  \"userPrincipalName\": \"aduser4047@rbacclitest.onmicrosoft.com\",\r\n  \"userType\": \"Member\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; odata=minimalmetadata; streaming=true; charset=utf-8"
        ],
        "Location": [
          "https://graph.windows.net/rbacclitest.onmicrosoft.com/directoryObjects/6ee1f498-bdb2-4f3f-a35b-39e5289b1ecf/Microsoft.DirectoryServices.User"
        ],
        "ocp-aad-diagnostics-server-name": [
          "jScj0D9LuG9lNt/fa5UfFAKwsavkI3rF1e+07pDuN5c="
        ],
        "x-ms-dirapi-data-contract-version": [
          "1.6"
        ],
        "ocp-aad-session-key": [
          "Li3FGj6ZlhFQyDKxf-9RDA_LGeWY8ENXLh8Yundcxwk600scZxFXLVF8SOO2t7GFb82GR0_Kzdt4hJCvtTz7dnIybJPIhg-e0hmLNIVSITZlVKY1MLNvMMxAc_YtUVIoTzgbJx5hL0yTSjkqh_1PUw.tf7mre2Pcz84Xqi5OtBMWqNSqjABuwnOdAOJdtWrwcs"
        ],
        "DataServiceVersion": [
          "3.0;"
        ],
        "Duration": [
          "11814197"
        ]
      },
      "StatusCode": 201
    },
    {
      "RequestUri": "/rbacclitest.onmicrosoft.com/groups/f159edfc-0403-4952-a577-516f9c47576d/$links/members?api-version=1.6",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"url\": \"https://graph.windows.net/rbacclitest.onmicrosoft.com/directoryObjects/6ee1f498-bdb2-4f3f-a35b-39e5289b1ecf\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "ocp-aad-diagnostics-server-name": [
          "8Ba8jFJWlB6UNGy5USNBdUszVHBWp9oGDFk7mC8Am2g="
        ],
        "x-ms-dirapi-data-contract-version": [
          "1.6"
        ],
        "ocp-aad-session-key": [
          "ZoIdlQTkbCkbkzW4KnsVfB-MoqCUjbeCiBLVRbRlVPc7XL99mRaPYPZDkaWU4h9MaQtE0YuVZMdZDox1NXGNdfd6IbVUNOa4MK39jNhFqS33nZ5K3Q4biBw9jjS6XXMb2RsxZWJ5w83oTqC8wPi8MA.heB_eQjoVaPNM4Y4T3KvoY8uwOrLns-_LCKIdj55Ulg"
        ],
        "DataServiceVersion": [
          "1.0;"
        ],
        "Duration": [
          "3144191"
        ]
      },
      "StatusCode": 204
    },
    {
      "RequestUri": "/rbacclitest.onmicrosoft.com/users/6ee1f498-bdb2-4f3f-a35b-39e5289b1ecf/getMemberGroups?api-version=1.6",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"securityEnabledOnly\": false\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://graph.windows.net/rbacclitest.onmicrosoft.com/$metadata#Collection(Edm.String)\",\r\n  \"value\": [\r\n    \"f159edfc-0403-4952-a577-516f9c47576d\"\r\n  ]\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; odata=minimalmetadata; streaming=true; charset=utf-8"
        ],
        "ocp-aad-diagnostics-server-name": [
          "HU7qlXRtX8KLODQBO5CdOeWfpuntgqWle5baRvCgDQc="
        ],
        "x-ms-dirapi-data-contract-version": [
          "1.6"
        ],
        "ocp-aad-session-key": [
          "ggjp9RE2vhnWp3KOn7-Tv6B77SndWpwSDFqWp3Y9-NK7y4uKQt5fcdpGE8j_foKDLtF9Cu-2p2DDbjhGu-8UJfqEs59j9Fy-3qpVNwrW172Leuq5NaLRwqccwX1ywPyWVJebN8wButy-_0ft5YXnGw.0C6MRGepYc7mPIV9BlGozFbFxITCtYu3tN5hbeEBDF4"
        ],
        "DataServiceVersion": [
          "3.0;"
        ],
        "Duration": [
          "1614100"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/rbacclitest.onmicrosoft.com/groups/f159edfc-0403-4952-a577-516f9c47576d/$links/members/6ee1f498-bdb2-4f3f-a35b-39e5289b1ecf?api-version=1.6",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "ocp-aad-diagnostics-server-name": [
          "QyNul+QHNehCBkdgefKI8GTyyTZdKljRxMVgIG/Sq7g="
        ],
        "x-ms-dirapi-data-contract-version": [
          "1.6"
        ],
        "ocp-aad-session-key": [
          "Jpf8s6LPyQlwwuvQ9Hy4IhgdseFfxNKpbRIV7h9pRY8Liwy78QODzwlMnw9sIhtnHo63cIXj0AllxzBdQJNSmmn76T-aPO6tM3HoFwanrSioFlOjk8xQ9sRs9NW_5u7Jrb6W5sdZPT0uGLzMhqNxyg.dkD_5JWQGCgyYlBHh0VsagGB5IecMCXiLJGZk31HRV8"
        ],
        "DataServiceVersion": [
          "1.0;"
        ],
        "Duration": [
          "2613404"
        ]
      },
      "StatusCode": 204
    },
    {
      "RequestUri": "/rbacclitest.onmicrosoft.com/groups/f159edfc-0403-4952-a577-516f9c47576d?api-version=1.6",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "ocp-aad-diagnostics-server-name": [
          "q1vj4XvvU5q+L2Gpz3K8+u73jHZTPgp2vwQVNeo/8kM="
        ],
        "x-ms-dirapi-data-contract-version": [
          "1.6"
        ],
        "ocp-aad-session-key": [
          "dEwG8SMW5LSytfLFa5CuUSrx_d9ppCEDYk6kcjUGEMTibcv4XfjadWssplFlUgCc9vEkW42DeloHtKhyAZhwoYWfVjEBmwQWR75vLe23QOD3hC_ajPWqj3br9wepiL7BnucRAoFhbR3UmxU-lC5e8Q.sOqHkEnBMRI5mBqz6iaE68tqfL_m10EjP3JKjp_eF2M"
        ],
        "DataServiceVersion": [
          "1.0;"
        ],
        "Duration": [
          "2664588"
        ]
      },
      "StatusCode": 204
    },
    {
      "RequestUri": "/rbacclitest.onmicrosoft.com/users/6ee1f498-bdb2-4f3f-a35b-39e5289b1ecf?api-version=1.6",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "ocp-aad-diagnostics-server-name": [
          "nX0EELQHx3TZ2/z8/kRkrIJJFoYzKeuOsYay4yBGCH8="
        ],
        "x-ms-dirapi-data-contract-version": [
          "1.6"
        ],
        "ocp-aad-session-key": [
          "pEDHUFbaF0HuuAvo4WNZGv-eswFbey80EDg0uHxb3K8vem2Mahc5rM6aX2QnHdvxzKs4MOvoTm94GedtXDlYfEZ2inrFdbBulBRdKFVoVyelcmS-TMXn-a5UcQ1cR-Zlj4d2dbDxiu97C1aS6a-3Wg.Tx9-yvJzNTy_UYlmlpm_Yb56GbHdMGsQzBPioYhxhDk"
        ],
        "DataServiceVersion": [
          "1.0;"
        ],
        "Duration": [
          "16001397"
        ]
      },
      "StatusCode": 204
    }
  ],
  "Names": {
    "CreateGroup": [
      "adgroup7956"
    ],
    "CreateUser": [
      "aduser4047"
    ]
  },
  "Variables": {
    "SubscriptionId": "4004a9fd-d58e-48dc-aeb2-4a4aec58606f",
    "TenantId": "rbacclitest.onmicrosoft.com",
    "Domain": "rbacclitest.onmicrosoft.com"
  }
}