{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/fca2e8ee-1179-48b8-9532-428ed0873a2e/resourcegroups/networkcloud-sdk7062?api-version=**",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "id": "/subscriptions/fca2e8ee-1179-48b8-9532-428ed0873a2e/resourceGroups/networkcloud-sdk7062",
        "name": "networkcloud-sdk7062",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/fca2e8ee-1179-48b8-9532-428ed0873a2e/resourceGroups/networkcloud-sdk7062/providers/Microsoft.NetworkCloud/l2Networks/l2network6484?api-version=2023-05-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "extendedLocation": {
          "name": "/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourcegroups/simulator-hostedresources-4ae3464d/providers/microsoft.extendedlocation/customlocations/simulator-cstm-loc",
          "type": "CustomLocation"
        },
        "tags": {},
        "location": "eastus",
        "properties": {
          "l2IsolationDomainId": "/subscriptions/fabricsubs/resourceGroups/fabric-rg/providers/Microsoft.NetworkFabric/L2IsolationDomains/l2isolationdomain1"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/fca2e8ee-1179-48b8-9532-428ed0873a2e/providers/Microsoft.NetworkCloud/locations/EASTUS/operationStatuses/c0ed06a5-2dfd-4f0d-9904-4a517b8cdb15*47C13C034D66DAE186B52121ADEE8E6BD91F605888CE8989E38ADFDE3682CC2A?api-version=2023-05-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00225b10cde5-0000-0100-0000-649456ff0000\u0022",
        "mise-correlation-id": "c22a27d9-d19c-4b8f-b0f3-7e0eaf149a09",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-writes": "1198"
      },
      "ResponseBody": {
        "id": "/subscriptions/fca2e8ee-1179-48b8-9532-428ed0873a2e/resourceGroups/networkcloud-sdk7062/providers/Microsoft.NetworkCloud/l2Networks/l2network6484",
        "name": "l2network6484",
        "type": "microsoft.networkcloud/l2networks",
        "location": "eastus",
        "extendedLocation": {
          "name": "/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourcegroups/simulator-hostedresources-4ae3464d/providers/microsoft.extendedlocation/customlocations/simulator-cstm-loc",
          "type": "CustomLocation"
        },
        "tags": {},
        "systemData": {
          "createdBy": "REDACTED",
          "createdByType": "User",
          "createdAt": "2023-06-22T14:13:18.0358105Z",
          "lastModifiedBy": "REDACTED",
          "lastModifiedByType": "User",
          "lastModifiedAt": "2023-06-22T14:13:18.0358105Z"
        },
        "properties": {
          "provisioningState": "Accepted",
          "l2IsolationDomainId": "/subscriptions/fabricsubs/resourceGroups/fabric-rg/providers/Microsoft.NetworkFabric/L2IsolationDomains/l2isolationdomain1"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/fca2e8ee-1179-48b8-9532-428ed0873a2e/providers/Microsoft.NetworkCloud/locations/EASTUS/operationStatuses/c0ed06a5-2dfd-4f0d-9904-4a517b8cdb15*47C13C034D66DAE186B52121ADEE8E6BD91F605888CE8989E38ADFDE3682CC2A?api-version=2023-05-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022e502dd61-0000-0100-0000-649456ff0000\u0022",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "id": "/subscriptions/fca2e8ee-1179-48b8-9532-428ed0873a2e/providers/Microsoft.NetworkCloud/locations/EASTUS/operationStatuses/c0ed06a5-2dfd-4f0d-9904-4a517b8cdb15*47C13C034D66DAE186B52121ADEE8E6BD91F605888CE8989E38ADFDE3682CC2A",
        "name": "c0ed06a5-2dfd-4f0d-9904-4a517b8cdb15*47C13C034D66DAE186B52121ADEE8E6BD91F605888CE8989E38ADFDE3682CC2A",
        "resourceId": "/subscriptions/fca2e8ee-1179-48b8-9532-428ed0873a2e/resourceGroups/networkcloud-sdk7062/providers/Microsoft.NetworkCloud/l2Networks/l2network6484",
        "status": "Accepted",
        "startTime": "2023-06-22T14:13:19.2779869Z"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/fca2e8ee-1179-48b8-9532-428ed0873a2e/providers/Microsoft.NetworkCloud/locations/EASTUS/operationStatuses/c0ed06a5-2dfd-4f0d-9904-4a517b8cdb15*47C13C034D66DAE186B52121ADEE8E6BD91F605888CE8989E38ADFDE3682CC2A?api-version=2023-05-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022e502df61-0000-0100-0000-649457050000\u0022",
        "x-ms-ratelimit-remaining-subscription-reads": "11995"
      },
      "ResponseBody": {
        "id": "/subscriptions/fca2e8ee-1179-48b8-9532-428ed0873a2e/providers/Microsoft.NetworkCloud/locations/EASTUS/operationStatuses/c0ed06a5-2dfd-4f0d-9904-4a517b8cdb15*47C13C034D66DAE186B52121ADEE8E6BD91F605888CE8989E38ADFDE3682CC2A",
        "name": "c0ed06a5-2dfd-4f0d-9904-4a517b8cdb15*47C13C034D66DAE186B52121ADEE8E6BD91F605888CE8989E38ADFDE3682CC2A",
        "resourceId": "/subscriptions/fca2e8ee-1179-48b8-9532-428ed0873a2e/resourceGroups/networkcloud-sdk7062/providers/Microsoft.NetworkCloud/l2Networks/l2network6484",
        "status": "Succeeded",
        "startTime": "2023-06-22T14:13:19.2779869Z",
        "endTime": "2023-06-22T14:13:25.1955364Z",
        "error": {},
        "properties": null
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/fca2e8ee-1179-48b8-9532-428ed0873a2e/resourceGroups/networkcloud-sdk7062/providers/Microsoft.NetworkCloud/l2Networks?api-version=2023-05-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-original-request-ids": [
          "ffb046e9-3448-439c-9b16-8429e9a82921",
          "81f6bf8b-f77e-4f21-9ddd-dd0504a8e841",
          "180c37fc-cfe4-4ff8-8e56-93f456286d29"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": "11992"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/fca2e8ee-1179-48b8-9532-428ed0873a2e/resourceGroups/networkcloud-sdk7062/providers/Microsoft.NetworkCloud/l2Networks/l2network6484",
            "name": "l2network6484",
            "type": "microsoft.networkcloud/l2networks",
            "location": "eastus",
            "extendedLocation": {
              "name": "/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourcegroups/simulator-hostedresources-4ae3464d/providers/microsoft.extendedlocation/customlocations/simulator-cstm-loc",
              "type": "CustomLocation"
            },
            "tags": {},
            "systemData": {
              "createdBy": "REDACTED",
              "createdByType": "User",
              "createdAt": "2023-06-22T14:13:18.0358105Z",
              "lastModifiedBy": "REDACTED",
              "lastModifiedByType": "User",
              "lastModifiedAt": "2023-06-22T14:13:18.0358105Z"
            },
            "properties": {
              "provisioningState": "Succeeded",
              "l2IsolationDomainId": "/subscriptions/fabricsubs/resourceGroups/fabric-rg/providers/Microsoft.NetworkFabric/L2IsolationDomains/l2isolationdomain1"
            }
          }
        ]
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/fca2e8ee-1179-48b8-9532-428ed0873a2e/providers/Microsoft.NetworkCloud/l2Networks?api-version=2023-05-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-original-request-ids": [
          "a5858940-9864-474a-877c-0450dfb7229a",
          "d6b0049e-413a-42a8-a66d-72a0c336db45",
          "4e6c1acf-485e-4d00-b8fc-02c0dcaa115e"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": "11991"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/fca2e8ee-1179-48b8-9532-428ed0873a2e/resourceGroups/can1-cluster-2/providers/Microsoft.NetworkCloud/l2Networks/l2network-768",
            "name": "l2network-768",
            "type": "microsoft.networkcloud/l2networks",
            "location": "westus3",
            "extendedLocation": {
              "name": "/subscriptions/fca2e8ee-1179-48b8-9532-428ed0873a2e/resourcegroups/can1-a74017943277-hostedresources-535d2c8c/providers/microsoft.extendedlocation/customlocations/can1-a74017943277-cstm-loc",
              "type": "CustomLocation"
            },
            "tags": {
              "ResourceType": "l2Network",
              "ManagedBy": "nc-labs",
              "LabEnvironment": "can1",
              "ResourceTest": "deployment"
            },
            "systemData": {
              "createdBy": "de975306-d24e-4dec-9d3b-ef05c66f0075",
              "createdByType": "Application",
              "createdAt": "2023-06-21T16:07:49.9557809Z",
              "lastModifiedBy": "319f651f-7ddb-4fc6-9857-7aef9250bd05",
              "lastModifiedByType": "Application",
              "lastModifiedAt": "2023-06-21T16:13:35.821448Z"
            },
            "properties": {
              "provisioningState": "Succeeded",
              "hybridAksPluginType": "DPDK",
              "l2IsolationDomainId": "/subscriptions/fca2e8ee-1179-48b8-9532-428ed0873a2e/resourceGroups/can1-cluster-2/providers/Microsoft.ManagedNetworkFabric/l2IsolationDomains/can1-l2domain-768",
              "associatedResourceIds": [],
              "hybridAksClustersAssociatedIds": [
                "/subscriptions/fca2e8ee-1179-48b8-9532-428ed0873a2e/resourceGroups/can1-cluster-2/providers/Microsoft.HybridContainerService/provisionedClusters/pipelinehaks-RAQpANnirByt5g"
              ],
              "virtualMachinesAssociatedIds": [],
              "detailedStatus": "Available",
              "detailedStatusMessage": "all resource creation succeeded",
              "interfaceName": "l2netw-40808",
              "clusterId": "/subscriptions/fca2e8ee-1179-48b8-9532-428ed0873a2e/resourceGroups/can1-cluster-2/providers/Microsoft.NetworkCloud/clusters/can1-a74017943277"
            }
          },
          {
            "id": "/subscriptions/fca2e8ee-1179-48b8-9532-428ed0873a2e/resourceGroups/j20-cluster/providers/Microsoft.NetworkCloud/l2Networks/l2network-569",
            "name": "l2network-569",
            "type": "microsoft.networkcloud/l2networks",
            "location": "eastus",
            "extendedLocation"[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/fca2e8ee-1179-48b8-9532-428ed0873a2e/resourceGroups/networkcloud-sdk7062/providers/Microsoft.NetworkCloud/l2Networks/l2network6484?api-version=2023-05-01-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {
          "key1": "myvalue1"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00225b101de6-0000-0100-0000-649457060000\u0022",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-writes": "1197"
      },
      "ResponseBody": {
        "id": "/subscriptions/fca2e8ee-1179-48b8-9532-428ed0873a2e/resourceGroups/networkcloud-sdk7062/providers/Microsoft.NetworkCloud/l2Networks/l2n[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/fca2e8ee-1179-48b8-9532-428ed0873a2e/resourceGroups/networkcloud-sdk7062/providers/Microsoft.NetworkCloud/l2Networks/l2network6484?api-version=2023-05-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/fca2e8ee-1179-48b8-9532-428ed0873a2e/providers/Microsoft.NetworkCloud/locations/EASTUS/operationStatuses/3a029dd7-905e-4371-bbf0-acdb7b072232*47C13C034D66DAE186B52121ADEE8E6BD91F605888CE8989E38ADFDE3682CC2A?api-version=2023-05-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00225b1024e6-0000-0100-0000-649457070000\u0022",
        "Location": "https://management.azure.com/subscriptions/fca2e8ee-1179-48b8-9532-428ed0873a2e/providers/Microsoft.NetworkCloud/locations/EASTUS/operationStatuses/3a029dd7-905e-4371-bbf0-acdb7b072232*47C13C034D66DAE186B52121ADEE8E6BD91F605888CE8989E38ADFDE3682CC2A?api-version=2023-05-01-preview",
        "mise-correlation-id": "e1a94d36-c74c-4928-b813-7d7e877dc49b",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-deletes": "14999"
      },
      "ResponseBody": "null"
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/fca2e8ee-1179-48b8-9532-428ed0873a2e/providers/Microsoft.NetworkCloud/locations/EASTUS/operationStatuses/3a029dd7-905e-4371-bbf0-acdb7b072232*47C13C034D66DAE186B52121ADEE8E6BD91F605888CE8989E38ADFDE3682CC2A?api-version=2023-05-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022e502e561-0000-0100-0000-6494570e0000\u0022",
        "x-ms-ratelimit-remaining-subscription-reads": "11985"
      },
      "ResponseBody": {
        "id": "/subscriptions/fca2e8ee-1179-48b8-9532-428ed0873a2e/providers/Microsoft.NetworkCloud/locations/EASTUS/operationStatuses/3a029dd7-905e-4371-bbf0-acdb7b072232*47C13C034D66DAE186B52121ADEE8E6BD91F605888CE8989E38ADFDE3682CC2A",
        "name": "3a029dd7-905e-4371-bbf0-acdb7b072232*47C13C034D66DAE186B52121ADEE8E6BD91F605888CE8989E38ADFDE3682CC2A",
        "resourceId": "/subscriptions/fca2e8ee-1179-48b8-9532-428ed0873a2e/resourceGroups/networkcloud-sdk7062/providers/Microsoft.NetworkCloud/l2Networks/l2network6484",
        "status": "Succeeded",
        "startTime": "2023-06-22T14:13:27.3686926Z",
        "endTime": "2023-06-22T14:13:34.0195359Z",
        "properties": null
      }
    }
  ],
  "Variables": {
    "CLUSTER_EXTENDED_LOCATION": "/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourcegroups/simulator-hostedresources-4ae3464d/providers/microsoft.extendedlocation/customlocations/simulator-cstm-loc",
    "L2_ISOLATION_DOMAIN_ID": "/subscriptions/fabricsubs/resourceGroups/fabric-rg/providers/Microsoft.NetworkFabric/L2IsolationDomains/l2isolationdomain1",
    "LOCATION": "eastus",
    "RandomSeed": "116958628",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "fca2e8ee-1179-48b8-9532-428ed0873a2e"
  }
}
