{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/LogicAppRG-1766/providers/Microsoft.Logic/integrationAccounts/intergrationAccount1578?api-version=2019-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11981"
      },
      "ResponseBody": {
        "properties": {
          "state": "Enabled"
        },
        "sku": {
          "name": "Standard"
        },
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/LogicAppRG-1766/providers/Microsoft.Logic/integrationAccounts/intergrationAccount1578",
        "name": "intergrationAccount1578",
        "type": "Microsoft.Logic/integrationAccounts",
        "location": "centralus",
        "tags": {}
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/LogicAppRG-1766/providers/Microsoft.Logic/integrationAccounts/intergrationAccount1578/schemas/schema4403?api-version=2019-05-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "centralus",
        "properties": {
          "schemaType": "Xml",
          "content": "\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-16\u0022?\u003E\r\n\u003Cxs:schema xmlns:b=\u0022http://schemas.microsoft.com/BizTalk/2003\u0022 xmlns=\u0022http://Inbound_EDI.OrderFile\u0022 targetNamespace=\u0022http://Inbound_EDI.OrderFile\u0022 xmlns:xs=\u0022http://www.w3.org/2001/XMLSchema\u0022\u003E\r\n  \u003Cxs:annotation\u003E\r\n    \u003Cxs:appinfo\u003E\r\n      \u003Cb:schemaInfo default_pad_char=\u0022 \u0022 count_positions_by_byte=\u0022false\u0022 parser_optimization=\[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/LogicAppRG-1766/providers/Microsoft.Logic/integrationAccounts/intergrationAccount1578/schemas/schema4403?api-version=2019-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11980"
      },
      "ResponseBody": {
        "properties": {
          "schemaType": "Xml",
          "targetNamespace": "http://Inbound_EDI.OrderFile",
          "documentName": "OrderFile",
          "contentLink": {
            "uri": "https://prod-06.centralus.logic.azure.com:443/integrationAccounts/9fcd7ed0ba9947b980028a3cbdafc8de/schemas/schema4403/contents/Value?api-version=2015-08-01-preview\u0026se=2022-08-24T13%3A07%3A56.2400124Z\u0026sp=%2Fschemas%2Fschema4403%2Fread\u0026sv=1.0\u0026sig=ZISTxm94cBQHrxAJqKTGhfMr1F_4FKYy0cETkWka120",
            "contentSize": 7901
          },
          "createdTime": "2022-08-24T09:07:55.6838421Z",
          "changedTime": "2022-08-24T09:07:55.6839521Z"
        },
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/LogicAppRG-1766/providers/Microsoft.Logic/integrationAccounts/intergrationAccount1578/schemas/schema4403",
        "name": "schema4403",
        "type": "Microsoft.Logic/integrationAccounts/schemas"
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "RandomSeed": "847779867",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "db1ab6f0-4769-4b27-930e-01e2ef9c123c"
  }
}
