// <auto-generated>
// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See License.txt in the project root for
// license information.
//
// Code generated by Microsoft (R) AutoRest Code Generator.
// Changes may cause incorrect behavior and will be lost if the code is
// regenerated.
// </auto-generated>

namespace Microsoft.Azure.Management.Support
{
    using Microsoft.Rest;
    using Microsoft.Rest.Azure;
    using Models;
    using System.Collections;
    using System.Collections.Generic;
    using System.Threading;
    using System.Threading.Tasks;

    /// <summary>
    /// Extension methods for ServicesOperations.
    /// </summary>
    public static partial class ServicesOperationsExtensions
    {
            /// <summary>
            /// List all the Azure services available for support.
            /// </summary>
            /// <remarks>
            /// List all the Azure services available for support. This includes
            /// **Billing**, **Subscription Management**, **Service and subscription limits
            /// (quotas)** and all **technical** services. User must provide the id of the
            /// Azure service when creating a support ticket. &lt;br/&gt;For Billing, the
            /// id is
            /// '/providers/Microsoft.Support/services/517f2da6-78fd-0498-4e22-ad26996b1dfc'.
            /// &lt;br/&gt;For Subscription Management, the id is
            /// '/providers/Microsoft.Support/services/f3dc5421-79ef-1efa-41a5-42bf3cbb52c6'.
            /// &lt;br/&gt;For Quota, the id is
            /// '/providers/Microsoft.Support/services/06bfd9d3-516b-d5c6-5802-169c800dec89'
            /// and rest of the ids are for technical services.
            /// </remarks>
            /// <param name='operations'>
            /// The operations group for this extension method.
            /// </param>
            public static IEnumerable<Service> List(this IServicesOperations operations)
            {
                return operations.ListAsync().GetAwaiter().GetResult();
            }

            /// <summary>
            /// List all the Azure services available for support.
            /// </summary>
            /// <remarks>
            /// List all the Azure services available for support. This includes
            /// **Billing**, **Subscription Management**, **Service and subscription limits
            /// (quotas)** and all **technical** services. User must provide the id of the
            /// Azure service when creating a support ticket. &lt;br/&gt;For Billing, the
            /// id is
            /// '/providers/Microsoft.Support/services/517f2da6-78fd-0498-4e22-ad26996b1dfc'.
            /// &lt;br/&gt;For Subscription Management, the id is
            /// '/providers/Microsoft.Support/services/f3dc5421-79ef-1efa-41a5-42bf3cbb52c6'.
            /// &lt;br/&gt;For Quota, the id is
            /// '/providers/Microsoft.Support/services/06bfd9d3-516b-d5c6-5802-169c800dec89'
            /// and rest of the ids are for technical services.
            /// </remarks>
            /// <param name='operations'>
            /// The operations group for this extension method.
            /// </param>
            /// <param name='cancellationToken'>
            /// The cancellation token.
            /// </param>
            public static async Task<IEnumerable<Service>> ListAsync(this IServicesOperations operations, CancellationToken cancellationToken = default(CancellationToken))
            {
                using (var _result = await operations.ListWithHttpMessagesAsync(null, cancellationToken).ConfigureAwait(false))
                {
                    return _result.Body;
                }
            }

            /// <summary>
            /// Gets a specific Azure service available for support.
            /// </summary>
            /// <param name='operations'>
            /// The operations group for this extension method.
            /// </param>
            /// <param name='serviceName'>
            /// Name of Azure service available for support
            /// </param>
            public static Service Get(this IServicesOperations operations, string serviceName)
            {
                return operations.GetAsync(serviceName).GetAwaiter().GetResult();
            }

            /// <summary>
            /// Gets a specific Azure service available for support.
            /// </summary>
            /// <param name='operations'>
            /// The operations group for this extension method.
            /// </param>
            /// <param name='serviceName'>
            /// Name of Azure service available for support
            /// </param>
            /// <param name='cancellationToken'>
            /// The cancellation token.
            /// </param>
            public static async Task<Service> GetAsync(this IServicesOperations operations, string serviceName, CancellationToken cancellationToken = default(CancellationToken))
            {
                using (var _result = await operations.GetWithHttpMessagesAsync(serviceName, null, cancellationToken).ConfigureAwait(false))
                {
                    return _result.Body;
                }
            }

    }
}
