{
  "Entries": [
    {
      "RequestUri": "/subscriptions/487bb485-b5b0-471e-9c0d-10717612f869/providers/Microsoft.Security/serverVulnerabilityAssessmentsSettings?api-version=2023-05-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-resource-requests": [
          "749"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"properties\": {\r\n        \"selectedProvider\": \"MdeTvm\"\r\n      },\r\n      \"systemData\": {\r\n        \"createdBy\": \"Microsoft defender for cloud server vulnerability assessments\",\r\n        \"createdByType\": \"Application\",\r\n        \"createdAt\": \"2022-07-24T08:30:17.0922969Z\",\r\n        \"lastModifiedBy\": \"c3d82ccb-fee1-430c-949e-6c0a217c00a8\",\r\n        \"lastModifiedByType\": \"Application\",\r\n        \"lastModifiedAt\": \"2023-07-30T12:46:59.6574354Z\"\r\n      },\r\n      \"kind\": \"AzureServersSetting\",\r\n      \"name\": \"AzureServersSetting\",\r\n      \"type\": \"Microsoft.Security/serverVulnerabilityAssessmentsSettings\",\r\n      \"id\": \"/subscriptions/487bb485-b5b0-471e-9c0d-10717612f869/providers/Microsoft.Security/serverVulnerabilityAssessmentsSettings/AzureServersSetting\"\r\n    }\r\n  ]\r\n}",
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "487bb485-b5b0-471e-9c0d-10717612f869"
  }
}