{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/b6a8bef9-9220-454a-a229-f360b6e9f0f6?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11324"
      },
      "ResponseBody": {
        "id": "/subscriptions/b6a8bef9-9220-454a-a229-f360b6e9f0f6",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "subscriptionId": "b6a8bef9-9220-454a-a229-f360b6e9f0f6",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": "Azure Event Grid - DevPool 10",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/b6a8bef9-9220-454a-a229-f360b6e9f0f6/resourcegroups/EventGridRG7925?api-version=**",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus2euap",
        "tags": {
          "DeleteAfter": "2023-06-22T14:58:55.6541263"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1083"
      },
      "ResponseBody": {
        "id": "/subscriptions/b6a8bef9-9220-454a-a229-f360b6e9f0f6/resourceGroups/EventGridRG7925",
        "name": "EventGridRG7925",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus2euap",
        "tags": {
          "DeleteAfter": "2023-06-22T14:58:55.6541263"
        },
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/b6a8bef9-9220-454a-a229-f360b6e9f0f6/resourceGroups/EventGridRG7925/providers/Microsoft.EventGrid/topics/eventGridTopic4444?api-version=2023-06-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "eastus2euap",
        "properties": {}
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com:443/subscriptions/b6a8bef9-9220-454a-a229-f360b6e9f0f6/providers/Microsoft.EventGrid/locations/eastus2euap/operationsStatus/91FDC3AE-314D-4FF5-99B5-3E20E7008B25?api-version=2021-10-15-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "x-ms-ratelimit-remaining-subscription-writes": "1082"
      },
      "ResponseBody": {
        "properties": {
          "provisioningState": "Creating",
          "endpoint": null,
          "minimumTlsVersionAllowed": "1.0"
        },
        "systemData": null,
        "location": "eastus2euap",
        "tags": {},
        "id": "/subscriptions/b6a8bef9-9220-454a-a229-f360b6e9f0f6/resourceGroups/EventGridRG7925/providers/Microsoft.EventGrid/topics/eventGridTopic4444",
        "name": "eventGridTopic4444",
        "type": "Microsoft.EventGrid/topics"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/b6a8bef9-9220-454a-a229-f360b6e9f0f6/providers/Microsoft.EventGrid/locations/eastus2euap/operationsStatus/91FDC3AE-314D-4FF5-99B5-3E20E7008B25?api-version=2023-06-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11323"
      },
      "ResponseBody": {
        "id": "https://management.azure.com/subscriptions/b6a8bef9-9220-454a-a229-f360b6e9f0f6/providers/Microsoft.EventGrid/locations/eastus2euap/operationsStatus/91FDC3AE-314D-4FF5-99B5-3E20E7008B25?api-version=2023-06-01-preview",
        "name": "91fdc3ae-314d-4ff5-99b5-3e20e7008b25",
        "status": "InProgress"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/b6a8bef9-9220-454a-a229-f360b6e9f0f6/resourceGroups/EventGridRG7925/providers/Microsoft.EventGrid/topics/eventGridTopic4444?api-version=2023-06-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11319"
      },
      "ResponseBody": {
        "properties": {
          "provisioningState": "Succeeded",
          "endpoint": "https://eventgridtopic4444.eastus2euap-1.eventgrid.azure.net/api/events",
          "minimumTlsVersionAllowed": "1.0",
          "inputSchema": "EventGridSchema",
          "metricResourceId": "eecaacf7-7b12-473b-9fe5-656404a6be90",
          "publicNetworkAccess": "Enabled",
          "dataResidencyBoundary": "WithinGeopair"
        },
        "sku": {
          "name": "Basic"
        },
        "kind": "Azure",
        "systemData": null,
        "location": "eastus2euap",
        "tags": {},
        "id": "/subscriptions/b6a8bef9-9220-454a-a229-f360b6e9f0f6/resourceGroups/EventGridRG7925/providers/Microsoft.EventGrid/topics/eventGridTopic4444",
        "name": "eventGridTopic4444",
        "type": "Microsoft.EventGrid/topics"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/b6a8bef9-9220-454a-a229-f360b6e9f0f6/resourceGroups/EventGridRG7925/providers/Microsoft.EventGrid/topics/eventGridTopic4444/eventSubscriptions/topicSubscription1876?api-version=2023-06-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "destination": {
            "endpointType": "WebHook",
            "properties": {
              "endpointUrl": "https://devexpfuncappdestination.azurewebsites.net/runtime/webhooks/EventGrid?functionName=EventGridTrigger1\u0026code=PASSWORDCODE"
            }
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com:443/subscriptions/b6a8bef9-9220-454a-a229-f360b6e9f0f6/providers/Microsoft.EventGrid/locations/eastus2euap/operationsStatus/936DD49D-D8DF-43F0-89C6-1C905FF32E86?api-version=2021-10-15-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "x-ms-ratelimit-remaining-subscription-writes": "1081"
      },
      "ResponseBody": {
        "properties": {
          "topic": "/subscriptions/b6a8bef9-9220-454a-a229-f360b6e9f0f6/resourceGroups/eventgridrg7925/providers/microsoft.eventgrid/topics/eventgridtopic4444",
          "provisioningState": "Creating",
          "destination": {
            "properties": {
              "endpointUrl": null,
              "endpointBaseUrl": "https://devexpfuncappdestination.azurewebsites.net/runtime/webhooks/EventGrid"
            },
            "endpointType": "WebHook"
          },
          "filter": {
            "subjectBeginsWith": "",
            "subjectEndsWith": ""
          },
          "labels": null,
          "retryPolicy": {
            "maxDeliveryAttempts": 30,
            "eventTimeToLiveInMinutes": 1440
          }
        },
        "systemData": null,
        "id": "/subscriptions/b6a8bef9-9220-454a-a229-f360b6e9f0f6/resourceGroups/EventGridRG7925/providers/Microsoft.EventGrid/topics/eventGridTopic4444/eventSubscriptions/topicSubscription1876",
        "name": "topicSubscription1876",
        "type": "Microsoft.EventGrid/topics/eventSubscriptions"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/b6a8bef9-9220-454a-a229-f360b6e9f0f6/resourceGroups/EventGridRG7925/providers/Microsoft.EventGrid/topics/eventGridTopic4444/eventSubscriptions/topicSubscription1876?api-version=2023-06-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11315"
      },
      "ResponseBody": {
        "properties": {
          "topic": "/subscriptions/b6a8bef9-9220-454a-a229-f360b6e9f0f6/resourceGroups/eventgridrg7925/providers/microsoft.eventgrid/topics/eventgridtopic4444",
          "provisioningState": "Succeeded",
          "destination": {
            "properties": {
              "endpointUrl": null,
              "endpointBaseUrl": "https://devexpfuncappdestination.azurewebsites.net/runtime/webhooks/EventGrid",
              "maxEventsPerBatch": 1,
              "preferredBatchSizeInKilobytes": 64
            },
            "endpointType": "WebHook"
          },
          "filter": {
            "subjectBeginsWith": "",
            "subjectEndsWith": ""
          },
          "labels": null,
          "eventDeliverySchema": "EventGridSchema",
          "retryPolicy": {
            "maxDeliveryAttempts": 30,
            "eventTimeToLiveInMinutes": 1440
          }
        },
        "systemData": null,
        "id": "/subscriptions/b6a8bef9-9220-454a-a229-f360b6e9f0f6/resourceGroups/EventGridRG7925/providers/Microsoft.EventGrid/topics/eventGridTopic4444/eventSubscriptions/topicSubscription1876",
        "name": "topicSubscription1876",
        "type": "Microsoft.EventGrid/topics/eventSubscriptions"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/b6a8bef9-9220-454a-a229-f360b6e9f0f6/resourceGroups/EventGridRG7925/providers/Microsoft.EventGrid/topics/eventGridTopic4444/eventSubscriptions/topicSubscription1876?api-version=2023-06-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com:443/subscriptions/b6a8bef9-9220-454a-a229-f360b6e9f0f6/providers/Microsoft.EventGrid/locations/eastus2euap/operationsStatus/C0040E81-B814-41FA-86A1-3F0DCAA46D4E?api-version=2021-10-15-preview",
        "Location": "https://management.azure.com/subscriptions/b6a8bef9-9220-454a-a229-f360b6e9f0f6/providers/Microsoft.EventGrid/locations/eastus2euap/operationResults/C0040E81-B814-41FA-86A1-3F0DCAA46D4E?api-version=2021-10-15-preview",
        "Retry-After": "10",
        "x-ms-ratelimit-remaining-subscription-deletes": "14930"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/b6a8bef9-9220-454a-a229-f360b6e9f0f6/resourceGroups/EventGridRG7925/providers/Microsoft.EventGrid/topics/eventGridTopic4444/eventSubscriptions/topicSubscription1876?api-version=2023-06-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11311"
      },
      "ResponseBody": {
        "error": {
          "code": "ResourceNotFound",
          "message": "Event subscription doesn\u0027t exist."
        }
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": null,
    "DateTimeOffsetNow": "2023-06-21T23:58:55.6541263-07:00",
    "RandomSeed": "1058076974",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "b6a8bef9-9220-454a-a229-f360b6e9f0f6"
  }
}
