{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourcegroups/Communication-RG-8536?api-version=**",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11623"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/Communication-RG-8536",
        "name": "Communication-RG-8536",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus",
        "tags": {},
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/Communication-RG-8536/providers/Microsoft.Communication/emailServices/email-test24?api-version=2021-10-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022050164e0-0000-0700-0000-629e02970000\u0022",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-reads": "11622"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/Communication-RG-8536/providers/Microsoft.Communication/emailServices/email-test24",
        "name": "email-test24",
        "type": "microsoft.communication/emailservices",
        "location": "global",
        "tags": {},
        "systemData": {
          "createdBy": "8e6d47e0-7969-4fde-a62c-4fea4f165e98",
          "createdByType": "Application",
          "createdAt": "2022-06-06T13:35:07.3190876Z",
          "lastModifiedBy": "8e6d47e0-7969-4fde-a62c-4fea4f165e98",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2022-06-06T13:35:07.3190876Z"
        },
        "properties": {
          "provisioningState": "Succeeded",
          "dataLocation": "UnitedStates"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/Communication-RG-8536/providers/Microsoft.Communication/emailServices/email-test24/domains/domain-9724.com?api-version=2021-10-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "global",
        "properties": {
          "domainManagement": "CustomerManaged",
          "validSenderUsernames": {
            "username": "displayName"
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Communication/locations/WESTUS2/operationStatuses/bcee6da8-714e-4257-bef4-fe464fd1689d*3A081A0F80D5E8C39B1C1FDA7990FDB25D155FBD1DCA5226D337DCBF40D0598A?api-version=2021-10-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002210004d41-0000-0100-0000-629e02f70000\u0022",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-writes": "1171"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/Communication-RG-8536/providers/Microsoft.Communication/emailServices/email-test24/domains/domain-9724.com",
        "name": "domain-9724.com",
        "type": "microsoft.communication/emailservices/domains",
        "location": "global",
        "tags": {},
        "systemData": {
          "createdBy": "8e6d47e0-7969-4fde-a62c-4fea4f165e98",
          "createdByType": "Application",
          "createdAt": "2022-06-06T13:36:54.1799409Z",
          "lastModifiedBy": "8e6d47e0-7969-4fde-a62c-4fea4f165e98",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2022-06-06T13:36:54.1799409Z"
        },
        "properties": {
          "domainManagement": "CustomerManaged",
          "validSenderUsernames": {
            "username": "displayName"
          },
          "provisioningState": "Accepted"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Communication/locations/WESTUS2/operationStatuses/bcee6da8-714e-4257-bef4-fe464fd1689d*3A081A0F80D5E8C39B1C1FDA7990FDB25D155FBD1DCA5226D337DCBF40D0598A?api-version=2021-10-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00223d00b83e-0000-0800-0000-629e02f60000\u0022",
        "x-ms-ratelimit-remaining-subscription-reads": "11621"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Communication/locations/WESTUS2/operationStatuses/bcee6da8-714e-4257-bef4-fe464fd1689d*3A081A0F80D5E8C39B1C1FDA7990FDB25D155FBD1DCA5226D337DCBF40D0598A",
        "name": "bcee6da8-714e-4257-bef4-fe464fd1689d*3A081A0F80D5E8C39B1C1FDA7990FDB25D155FBD1DCA5226D337DCBF40D0598A",
        "resourceId": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/Communication-RG-8536/providers/Microsoft.Communication/emailServices/email-test24/domains/domain-9724.com",
        "status": "Accepted",
        "startTime": "2022-06-06T13:36:54.8660243Z"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/Communication-RG-8536/providers/Microsoft.Communication/emailServices/email-test24/domains/domain-9724.com/providers/Microsoft.Resources/tags/default?api-version=**",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11610"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/Communication-RG-8536/providers/Microsoft.Communication/EmailServices/email-test24/Domains/domain-9724.com/providers/Microsoft.Resources/tags/default",
        "name": "default",
        "type": "Microsoft.Resources/tags",
        "properties": {
          "tags": {}
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/Communication-RG-8536/providers/Microsoft.Communication/emailServices/email-test24/domains/domain-9724.com/providers/Microsoft.Resources/tags/default?api-version=**",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "tags": {
            "testkey": "testvalue"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1170"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/Communication-RG-8536/providers/Microsoft.Communication/EmailServices/email-test24/Domains/domain-9724.com/providers/Microsoft.Resources/tags/default",
        "name": "default",
        "type": "Microsoft.Resources/tags",
        "properties": {
          "tags": {
            "testkey": "testvalue"
          }
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/Communication-RG-8536/providers/Microsoft.Communication/emailServices/email-test24/domains?api-version=2021-10-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-reads": "11607"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/Communication-RG-8536/providers/Microsoft.Communication/emailServices/email-test24/domains/domain-9724.com",
            "name": "domain-9724.com",
            "type": "microsoft.communication/emailservices/domains",
            "location": "global",
            "tags": {
              "testkey": "testvalue"
            },
            "systemData": {
              "createdBy": "8e6d47e0-7969-4fde-a62c-4fea4f165e98",
              "createdByType": "Application",
              "createdAt": "2022-06-06T13:36:54.1799409Z",
              "lastModifiedBy": "8e6d47e0-7969-4fde-a62c-4fea4f165e98",
              "lastModifiedByType": "Application",
              "lastModifiedAt": "2022-06-06T13:38:37.509371Z"
            },
            "properties": {
              "dataLocation": "unitedstates",
              "fromSenderDomain": "domain-9724.com",
              "mailFromSenderDomain": "domain-9724.com",
              "domainManagement": "CustomerManaged",
              "verificationStates": {
                "Domain": {
                  "status": "NotStarted"
                },
                "SPF": {
                  "status": "NotStarted"
                },
                "DKIM": {
                  "status": "NotStarted"
                },
                "DKIM2": {
                  "status": "NotStarted"
                },
                "DMARC": {
                  "status": "NotStarted"
                }
              },
              "verificationRecords": {
                "Domain": {
                  "type": "TXT",
                  "name": "domain-9724.com",
                  "value": "ms-domain-verification=aa3bf7bc-a863-4d80-939e-e81d8652a6ac",
                  "ttl": 3600
                },
                "SPF": {
                  "type": "TXT",
                  "name": "domain-9724.com",
                  "value": "v=spf1 include:spf.protection.outlook.com -all",
                  "ttl": 3600
                },
                "DKIM": {
                  "type": "CNAME",
                  "name": "selector1-azurecomm-prod-net._domainkey",
                  "value": "selector1-azurecomm-prod-net._domainkey.azurecomm.net",
                  "ttl": 3600
                },
                "DKIM2": {
                  "type": "CNAME",
                  "name": "selector2-azurecomm-prod-net._domainkey",
                  "value": "selector2-azurecomm-prod-net._domainkey.azurecomm.net",
                  "ttl": 3600
                }
              },
              "validSenderUsernames": {
                "username": "displayName"
              },
              "userEngagementTracking": "Disabled",
              "provisioningState": "Succeeded"
            }
          }
        ]
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/Communication-RG-8536/providers/Microsoft.Communication/emailServices/email-test24/domains/domain-9724.com?api-version=2021-10-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Communication/locations/WESTUS2/operationStatuses/3118b950-681a-44a6-b2bd-a26a30ea662f*3A081A0F80D5E8C39B1C1FDA7990FDB25D155FBD1DCA5226D337DCBF40D0598A?api-version=2021-10-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002210005c41-0000-0100-0000-629e03650000\u0022",
        "Location": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Communication/locations/WESTUS2/operationStatuses/3118b950-681a-44a6-b2bd-a26a30ea662f*3A081A0F80D5E8C39B1C1FDA7990FDB25D155FBD1DCA5226D337DCBF40D0598A?api-version=2021-10-01-preview",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-deletes": "14984"
      },
      "ResponseBody": "null"
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Communication/locations/WESTUS2/operationStatuses/3118b950-681a-44a6-b2bd-a26a30ea662f*3A081A0F80D5E8C39B1C1FDA7990FDB25D155FBD1DCA5226D337DCBF40D0598A?api-version=2021-10-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00223d00df3f-0000-0800-0000-629e03e80000\u0022",
        "x-ms-ratelimit-remaining-subscription-reads": "11596"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Communication/locations/WESTUS2/operationStatuses/3118b950-681a-44a6-b2bd-a26a30ea662f*3A081A0F80D5E8C39B1C1FDA7990FDB25D155FBD1DCA5226D337DCBF40D0598A",
        "name": "3118b950-681a-44a6-b2bd-a26a30ea662f*3A081A0F80D5E8C39B1C1FDA7990FDB25D155FBD1DCA5226D337DCBF40D0598A",
        "resourceId": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/Communication-RG-8536/providers/Microsoft.Communication/emailServices/email-test24/domains/domain-9724.com",
        "status": "Succeeded",
        "startTime": "2022-06-06T13:38:45.4920664Z",
        "properties": null
      }
    }
  ],
  "Variables": {
    "RandomSeed": "2070162781",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "db1ab6f0-4769-4b27-930e-01e2ef9c123c"
  }
}
