{
  "Entries": [
    {
      "RequestUri": "https://gokulk-test.cognitiveservices.azure.com/language/authoring/analyze-conversations/projects/MyNewProjectAsync0223?api-version=2024-11-15-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Content-Type": "application/merge-patch+json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "language": "en",
        "projectKind": "Conversation",
        "description": "Project description",
        "multilingual": true,
        "projectName": "MyNewProjectAsync0223"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://gokulk-test.cognitiveservices.azure.com/language/authoring/analyze-conversations/projects/MyNewProjectAsync0223/MyNewProjectAsync0223",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "createdDateTime": "2025-02-24T05:51:23Z",
        "lastModifiedDateTime": "2025-02-24T05:51:23Z",
        "projectKind": "Conversation",
        "projectName": "MyNewProjectAsync0223",
        "multilingual": true,
        "description": "Project description",
        "language": "en"
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORING_ENDPOINT": "https://gokulk-test.cognitiveservices.azure.com/",
    "AZURE_AUTHORING_KEY": "Sanitized",
    "RandomSeed": "905572765"
  }
}
