{
  "Entries": [
    {
      "RequestUri": "https://sdk-test-01.cognitiveservices.azure.com/language/authoring/analyze-conversations/projects/EmailApp/deployments/deploysdk2/:delete-from-resources?api-version=2025-11-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "azureResourceIds": [
          "/subscriptions/b72743ec-8bb3-453f-83ad-a53e8a50712e/resourceGroups/language-sdk-rg/providers/Microsoft.CognitiveServices/accounts/sdk-test-02"
        ]
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "operation-location": "https://sdk-test-01.cognitiveservices.azure.com/language/authoring/analyze-conversations/projects/EmailApp/deployments/deploysdk2/delete-from-resources/jobs/0792c1e4-0474-4697-91de-ee2b6a9bf9ba_639002304000000000?api-version=2025-11-15-preview",
        "x-ms-region": "East US"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://sdk-test-01.cognitiveservices.azure.com/language/authoring/analyze-conversations/projects/EmailApp/deployments/deploysdk2/delete-from-resources/jobs/0792c1e4-0474-4697-91de-ee2b6a9bf9ba_639002304000000000?api-version=2025-11-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "jobId": "0792c1e4-0474-4697-91de-ee2b6a9bf9ba_639002304000000000",
        "createdDateTime": "2025-12-02T23:08:07Z",
        "lastUpdatedDateTime": "2025-12-02T23:08:07Z",
        "expirationDateTime": "2025-12-09T23:08:07Z",
        "status": "running"
      }
    },
[...]
    {
      "RequestUri": "https://sdk-test-01.cognitiveservices.azure.com/language/authoring/analyze-conversations/projects/EmailApp/deployments/deploysdk2/delete-from-resources/jobs/0792c1e4-0474-4697-91de-ee2b6a9bf9ba_639002304000000000?api-version=2025-11-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "jobId": "0792c1e4-0474-4697-91de-ee2b6a9bf9ba_639002304000000000",
        "createdDateTime": "2025-12-02T23:08:07Z",
        "lastUpdatedDateTime": "2025-12-02T23:08:12Z",
        "expirationDateTime": "2025-12-09T23:08:07Z",
        "status": "succeeded"
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORING_ENDPOINT": "https://sdk-test-01.cognitiveservices.azure.com/",
    "AZURE_AUTHORING_KEY": "Sanitized",
    "RandomSeed": "442875077"
  }
}
