{
  "Entries": [
    {
      "RequestUri": "https://gokulk-test.cognitiveservices.azure.com/language/authoring/analyze-conversations/projects/NewProject001?api-version=2025-05-15-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "operation-location": "https://gokulk-test.cognitiveservices.azure.com/language/authoring/analyze-conversations/projects/global/deletion-jobs/67c84d02-8e33-4959-a404-54c70017cc2a_638838144000000000?api-version=2025-05-15-preview",
        "x-ms-region": "East US"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://gokulk-test.cognitiveservices.azure.com/language/authoring/analyze-conversations/projects/global/deletion-jobs/67c84d02-8e33-4959-a404-54c70017cc2a_638838144000000000?api-version=2025-05-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "jobId": "67c84d02-8e33-4959-a404-54c70017cc2a_638838144000000000",
        "createdDateTime": "2025-05-26T03:34:25Z",
        "lastUpdatedDateTime": "2025-05-26T03:34:25Z",
        "expirationDateTime": "2025-06-02T03:34:25Z",
        "status": "succeeded"
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORING_ENDPOINT": "https://gokulk-test.cognitiveservices.azure.com/",
    "AZURE_AUTHORING_KEY": "Sanitized",
    "RandomSeed": "1135471998"
  }
}
