{
  "Entries": [
    {
      "RequestUri": "https://sdk-test-01.cognitiveservices.azure.com/language/authoring/analyze-conversations/projects/NewProject1201?api-version=2025-11-15-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "operation-location": "https://sdk-test-01.cognitiveservices.azure.com/language/authoring/analyze-conversations/projects/global/deletion-jobs/3ff545be-cbca-434e-8fc5-dd94f010dcb0_639002304000000000?api-version=2025-11-15-preview",
        "x-ms-region": "East US"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://sdk-test-01.cognitiveservices.azure.com/language/authoring/analyze-conversations/projects/global/deletion-jobs/3ff545be-cbca-434e-8fc5-dd94f010dcb0_639002304000000000?api-version=2025-11-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "jobId": "3ff545be-cbca-434e-8fc5-dd94f010dcb0_639002304000000000",
        "createdDateTime": "2025-12-02T18:09:50Z",
        "lastUpdatedDateTime": "2025-12-02T18:09:50Z",
        "expirationDateTime": "2025-12-09T18:09:50Z",
        "status": "succeeded"
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORING_ENDPOINT": "https://sdk-test-01.cognitiveservices.azure.com/",
    "AZURE_AUTHORING_KEY": "Sanitized",
    "RandomSeed": "1395728029"
  }
}
