{
  "Entries": [
    {
      "RequestUri": "https://sdk-test-01.cognitiveservices.azure.com/language/authoring/analyze-conversations/projects/EmailApp/deployments/staging?api-version=2025-11-15-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "trainedModelLabel": "Model1"
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "operation-location": "https://sdk-test-01.cognitiveservices.azure.com/language/authoring/analyze-conversations/projects/EmailApp/deployments/staging/jobs/076a9f57-55b2-4003-aaee-060e337e74db_639002304000000000?api-version=2025-11-15-preview",
        "x-ms-region": "East US"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://sdk-test-01.cognitiveservices.azure.com/language/authoring/analyze-conversations/projects/EmailApp/deployments/staging/jobs/076a9f57-55b2-4003-aaee-060e337e74db_639002304000000000?api-version=2025-11-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "jobId": "076a9f57-55b2-4003-aaee-060e337e74db_639002304000000000",
        "createdDateTime": "2025-12-02T18:28:16Z",
        "lastUpdatedDateTime": "2025-12-02T18:28:16Z",
        "expirationDateTime": "2025-12-09T18:28:16Z",
        "status": "notStarted"
      }
    },
[...]
    {
      "RequestUri": "https://sdk-test-01.cognitiveservices.azure.com/language/authoring/analyze-conversations/projects/EmailApp/deployments/staging?api-version=2025-11-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "deploymentName": "staging",
        "modelId": "Model1-20250618T062247-76ed3a8386c24b35958dcac948f884c7",
        "lastTrainedDateTime": "2025-06-18T06:22:47.0408253Z",
        "lastDeployedDateTime": "2025-12-02T18:28:21Z",
        "deploymentExpirationDate": "2027-02-27",
        "modelTrainingConfigVersion": "2022-09-01"
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORING_ENDPOINT": "https://sdk-test-01.cognitiveservices.azure.com/",
    "AZURE_AUTHORING_KEY": "Sanitized",
    "RandomSeed": "273354320"
  }
}
