{
  "Entries": [
    {
      "RequestUri": "https://sdk-test-01.cognitiveservices.azure.com/language/authoring/analyze-conversations/projects/NewProject1201/:export?stringIndexType=Utf16CodeUnit&api-version=2025-11-15-preview&format=Conversation",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "operation-location": "https://sdk-test-01.cognitiveservices.azure.com/language/authoring/analyze-conversations/projects/NewProject1201/export/jobs/c36daf36-7d55-416c-bb86-57d02aa73ba4_639002304000000000?api-version=2025-11-15-preview",
        "x-ms-region": "East US"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://sdk-test-01.cognitiveservices.azure.com/language/authoring/analyze-conversations/projects/NewProject1201/export/jobs/c36daf36-7d55-416c-bb86-57d02aa73ba4_639002304000000000?api-version=2025-11-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "jobId": "c36daf36-7d55-416c-bb86-57d02aa73ba4_639002304000000000",
        "createdDateTime": "2025-12-02T18:08:49Z",
        "lastUpdatedDateTime": "2025-12-02T18:08:49Z",
        "expirationDateTime": "2025-12-09T18:08:49Z",
        "status": "notStarted"
      }
    },
    {
      "RequestUri": "https://sdk-test-01.cognitiveservices.azure.com/language/authoring/analyze-conversations/projects/NewProject1201/export/jobs/c36daf36-7d55-416c-bb86-57d02aa73ba4_639002304000000000?api-version=2025-11-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "resultUrl": "https://sdk-test-01.cognitiveservices.azure.com/language/authoring/analyze-conversations/projects/NewProject1201/export/jobs/c36daf36-7d55-416c-bb86-57d02aa73ba4_639002304000000000/result?api-version=2025-11-15-preview",
        "jobId": "c36daf36-7d55-416c-bb86-57d02aa73ba4_639002304000000000",
        "createdDateTime": "2025-12-02T18:08:49Z",
        "lastUpdatedDateTime": "2025-12-02T18:08:49Z",
        "expirationDateTime": "2025-12-09T18:08:49Z",
        "status": "succeeded"
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORING_ENDPOINT": "https://sdk-test-01.cognitiveservices.azure.com/",
    "AZURE_AUTHORING_KEY": "Sanitized",
    "RandomSeed": "707121415"
  }
}
