{
  "Entries": [
    {
      "RequestUri": "https://gokulk-test.cognitiveservices.azure.com/language/authoring/analyze-conversations/projects/MyNewProjectAsync/:export?stringIndexType=Utf16CodeUnit&api-version=2024-11-15-preview&format=Conversation",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "operation-location": "https://gokulk-test.cognitiveservices.azure.com/language/authoring/analyze-conversations/projects/MyNewProjectAsync/export/jobs/8e4b0bbe-f09e-4bad-8dc9-6052be02e2e8_638763840000000000?api-version=2024-11-15-preview",
        "x-ms-region": "East US"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://gokulk-test.cognitiveservices.azure.com/language/authoring/analyze-conversations/projects/MyNewProjectAsync/export/jobs/8e4b0bbe-f09e-4bad-8dc9-6052be02e2e8_638763840000000000?api-version=2024-11-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "jobId": "8e4b0bbe-f09e-4bad-8dc9-6052be02e2e8_638763840000000000",
        "createdDateTime": "2025-03-01T07:26:50Z",
        "lastUpdatedDateTime": "2025-03-01T07:26:50Z",
        "expirationDateTime": "2025-03-08T07:26:50Z",
        "status": "notStarted"
      }
    },
    {
      "RequestUri": "https://gokulk-test.cognitiveservices.azure.com/language/authoring/analyze-conversations/projects/MyNewProjectAsync/export/jobs/8e4b0bbe-f09e-4bad-8dc9-6052be02e2e8_638763840000000000?api-version=2024-11-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "resultUrl": "https://gokulk-test.cognitiveservices.azure.com/language/authoring/analyze-conversations/projects/MyNewProjectAsync/export/jobs/8e4b0bbe-f09e-4bad-8dc9-6052be02e2e8_638763840000000000/result?api-version=2024-11-15-preview",
        "jobId": "8e4b0bbe-f09e-4bad-8dc9-6052be02e2e8_638763840000000000",
        "createdDateTime": "2025-03-01T07:26:50Z",
        "lastUpdatedDateTime": "2025-03-01T07:26:51Z",
        "expirationDateTime": "2025-03-08T07:26:50Z",
        "status": "succeeded"
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORING_ENDPOINT": "https://gokulk-test.cognitiveservices.azure.com/",
    "AZURE_AUTHORING_KEY": "Sanitized",
    "RandomSeed": "1157493350"
  }
}
