{
  "Entries": [
    {
      "RequestUri": "https://gokulk-test.cognitiveservices.azure.com/language/authoring/analyze-conversations/projects/Aurora-CLU-Prod/models/m1/evaluation/summary-result?api-version=2024-11-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "entitiesEvaluation": {
          "confusionMatrix": {
            "Date": {
              "Date": {
                "normalizedValue": 88.23529,
                "rawValue": 15.0
              },
              "Duration": {
                "normalizedValue": 5.882353,
                "rawValue": 1.0
              },
              "StartTime": {
                "normalizedValue": 5.882353,
                "rawValue": 1.0
              }
            },
            "UserPreferredLanguage": {},
            "Duration": {
              "Duration": {
                "normalizedValue": 85.71429,
                "rawValue": 6.0
              },
              "Date": {
                "normalizedValue": 14.285714,
                "rawValue": 1.0
              }
            },
            "Activity.Raise": {
              "Activity.Raise": {
                "normalizedValue": 88.23529,
                "rawValue": 15.0
              },
              "$none": {
                "normalizedValue": 11.764706,
                "rawValue": 2.0
              }
            },
            "Activity.Edit": {
              "$none": {
                "normalizedValue": 38.46154,
                "rawValue": 5.0
              },
              "Activity.Edit": {
                "normalizedValue": 61.53846,
                "rawValue": 8.0
              }
            },
            "Activity.Cancel": {
              "Activity.Cancel": {
                "normalizedValue": 100.0,
                "rawValue": 4.0
              }
            },
            "Activity.View": {
              "Activity.View": {
                "normalizedValue": 100.0,
                "rawValue": 2.0
              }
            },
            "Location.Country": {},
            "TicketNumber": {
              "TicketNumber": {
                "normalizedValue": 100.0,
                "rawValue": 2.0
              }
            },
            "Location.City": {},
            "Location.Office": {},
            "StartTime": {
              "StartTime": {
                "normalizedValue": 83.333336,
                "rawValue": 5.0
              },
              "Date": {
                "normalizedValue": 16.666666,
                "rawValue": 1.0
              }
            },
            "FloorNumber": {
              "FloorNumber": {
                "normalizedValue": 100.0,
                "rawValue": 3.0
              }
            },
            "Capacity": {
              "Capacity": {
                "normalizedValue": 75.0,
                "rawValue": 3.0
              },
              "$none": {
                "normalizedValue": 25.0,
                "rawValue": 1.0
              }
            },
            "PersonName": {
              "PersonName": {
                "normalizedValue": 100.0,
                "rawValue": 11.0
              }
            },
            "PersonEmail": {
              "PersonEmail": {
                "normalizedValue": 100.0,
                "rawValue": 1.0
              }
            },
            "MeetingRoomsList": {},
            "SystemName": {},
            "WhoIs_Manager": {
              "MeetingRoomsList": {
                "normalizedValue": 31.818182,
                "rawValue": 1.4
              },
              "WhoIs_Manager": {
                "normalizedValue": 68.181816,
                "rawValue": 3.0
              }
            },
            "WhoIs_Peers": {
              "WhoIs_Peers": {
                "normalizedValue": 100.0,
                "rawValue": 4.0
              }
            },
            "WhoIs_WhoAmI": {},
            "WhoIs_DirectReports": {
              "WhoIs_DirectReports": {
                "normalizedValue": 100.0,
                "rawValue": 2.0
              }
            },
            "FacilityType": {},
            "OfficeType": {},
            "OfficeName": {},
            "RegionName": {},
            "$none": {
              "WhoIs_WhoAmI": {
                "normalizedValue": 2.9303622,
                "rawValue": 2.761866
              },
              "$none": {
                "normalizedValue": 77.76676,
                "rawValue": 73.295166
              },
              "OfficeType": {
                "normalizedValue": 1.7489973,
                "rawValue": 1.6484299
              },
              "Activity.Raise": {
                "normalizedValue": 0.07578629,
   [...]
