{
  "Entries": [
    {
      "RequestUri": "https://sdk-test-01.cognitiveservices.azure.com/language/authoring/analyze-conversations/projects/Aurora-CLU-Prod/models/m1/evaluation/result?stringIndexType=Utf16CodeUnit&api-version=2025-05-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "value": [
          {
            "text": "I would like to re-write my out of office response please",
            "language": "en-us",
            "entitiesResult": {
              "expectedEntities": [
                {
                  "category": "Activity.Edit",
                  "offset": 16,
                  "length": 8
                }
              ],
              "predictedEntities": [
                {
                  "category": "WhoIs_WhoAmI",
                  "offset": 0,
                  "length": 1
                },
                {
                  "category": "WhoIs_WhoAmI",
                  "offset": 25,
                  "length": 2
                },
                {
                  "category": "OfficeType",
                  "offset": 35,
                  "length": 6
                }
              ]
            },
            "intentsResult": {
              "expectedIntent": "None",
              "predictedIntent": "None"
            }
          },
          {
            "text": "Can you guide me through the process of editing a meeting?",
            "language": "en-us",
            "entitiesResult": {
              "expectedEntities": [
                {
                  "category": "Activity.Edit",
                  "offset": 40,
                  "length": 7
                }
              ],
              "predictedEntities": [
                {
                  "category": "WhoIs_WhoAmI",
       [...]
