{
  "Entries": [
    {
      "RequestUri": "https://gokulk-test.cognitiveservices.azure.com/language/authoring/analyze-conversations/projects/MyNewProjectAsync?api-version=2025-05-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "createdDateTime": "2024-11-19T23:45:46Z",
        "lastModifiedDateTime": "2025-01-10T04:12:35Z",
        "projectKind": "Conversation",
        "settings": {
          "confidenceThreshold": 0.7,
          "normalizeCasing": false,
          "augmentDiacritics": false
        },
        "projectName": "MyNewProjectAsync",
        "multilingual": true,
        "description": "Project description",
        "language": "en"
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORING_ENDPOINT": "https://gokulk-test.cognitiveservices.azure.com/",
    "AZURE_AUTHORING_KEY": "Sanitized",
    "RandomSeed": "7255369"
  }
}
