{
  "Entries": [
    {
      "RequestUri": "https://sdk-test-01.cognitiveservices.azure.com/language/authoring/analyze-conversations/projects/Test-data-labels/:import?api-version=2025-05-15-preview&format=Conversation",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "projectFileVersion": "2022-10-01-preview",
        "stringIndexType": "Utf16CodeUnit",
        "metadata": {
          "projectKind": "Conversation",
          "settings": {
            "confidenceThreshold": 0
          },
          "projectName": null,
          "multilingual": false,
          "description": "",
          "language": "en-us"
        },
        "assets": {
          "projectKind": "Conversation",
          "intents": [
            {
              "category": "None"
            },
            {
              "category": "Buy"
            }
          ],
          "entities": [
            {
              "category": "product",
              "compositionSetting": "combineComponents"
            }
          ],
          "utterances": [
            {
              "entities": [
                {
                  "category": "product",
                  "offset": 16,
                  "length": 5
                }
              ],
              "text": "I want to buy a house",
              "language": "en-us",
              "intent": "Buy",
              "dataset": "Train"
            },
            {
              "entities": [
                {
                  "category": "product",
                  "offset": 14,
                  "length": 11
                }
              ],
              "text": "I want to buy surface pro",
              "language": "en-us",
              "intent": "Buy",
              "dataset": "Train"
            },
            {
              "entities": [
                {
                  "category": "product",
                  "offset": 14,
                  "length": 4
                }
              ],
              "text": "I want to buy xbox",
              "language": "en-us",
              "intent": "Buy",
              "dataset": "Train"
            }
          ]
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "operation-location": "https://sdk-test-01.cognitiveservices.azure.com/language/authoring/analyze-conversations/projects/Test-data-labels/import/jobs/c731cc30-62f7-4cd0-8e25-da46f03172eb_638839872000000000?api-version=2025-05-15-preview",
        "x-ms-region": "East US"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://sdk-test-01.cognitiveservices.azure.com/language/authoring/analyze-conversations/projects/Test-data-labels/import/jobs/c731cc30-62f7-4cd0-8e25-da46f03172eb_638839872000000000?api-version=2025-05-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "jobId": "c731cc30-62f7-4cd0-8e25-da46f03172eb_638839872000000000",
        "createdDateTime": "2025-05-28T21:43:02Z",
        "lastUpdatedDateTime": "2025-05-28T21:43:02Z",
        "expirationDateTime": "2025-06-04T21:43:02Z",
        "status": "succeeded"
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORING_ENDPOINT": "https://sdk-test-01.cognitiveservices.azure.com/",
    "AZURE_AUTHORING_KEY": "Sanitized",
    "RandomSeed": "1654464859"
  }
}
