{
  "Entries": [
    {
      "RequestUri": "https://gokulk-test.cognitiveservices.azure.com/language/authoring/analyze-conversations/projects/Test-data-labels/deployments/:swap?api-version=2024-11-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "firstDeploymentName": "deployment1",
        "secondDeploymentName": "deployment2"
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "operation-location": "https://gokulk-test.cognitiveservices.azure.com/language/authoring/analyze-conversations/projects/Test-data-labels/deployments/swap/jobs/7a5dbb43-0470-4f3c-b174-3c7caf1ff54a_638676576000000000?api-version=2024-11-15-preview",
        "x-ms-region": "East US"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://gokulk-test.cognitiveservices.azure.com/language/authoring/analyze-conversations/projects/Test-data-labels/deployments/swap/jobs/7a5dbb43-0470-4f3c-b174-3c7caf1ff54a_638676576000000000?api-version=2024-11-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "jobId": "7a5dbb43-0470-4f3c-b174-3c7caf1ff54a_638676576000000000",
        "createdDateTime": "2024-11-20T04:49:59Z",
        "lastUpdatedDateTime": "2024-11-20T04:49:59Z",
        "expirationDateTime": "2024-11-27T04:49:59Z",
        "status": "running"
      }
    },
[...]
    {
      "RequestUri": "https://gokulk-test.cognitiveservices.azure.com/language/authoring/analyze-conversations/projects/Test-data-labels/deployments/swap/jobs/7a5dbb43-0470-4f3c-b174-3c7caf1ff54a_638676576000000000?api-version=2024-11-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "jobId": "7a5dbb43-0470-4f3c-b174-3c7caf1ff54a_638676576000000000",
        "createdDateTime": "2024-11-20T04:49:59Z",
        "lastUpdatedDateTime": "2024-11-20T04:50:06Z",
        "expirationDateTime": "2024-11-27T04:49:59Z",
        "status": "succeeded"
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORING_ENDPOINT": "https://gokulk-test.cognitiveservices.azure.com",
    "AZURE_AUTHORING_KEY": "Sanitized",
    "RandomSeed": "835070108"
  }
}
