{
  "Entries": [
    {
      "RequestUri": "https://gokulk-test.cognitiveservices.azure.com/language/authoring/analyze-conversations/projects/Test-data-labels/:train?api-version=2024-11-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "modelLabel": "MyModel",
        "trainingConfigVersion": "2023-04-15",
        "trainingMode": "standard",
        "evaluationOptions": {
          "kind": "percentage",
          "trainingSplitPercentage": 80,
          "testingSplitPercentage": 20
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "operation-location": "https://gokulk-test.cognitiveservices.azure.com/language/authoring/analyze-conversations/projects/Test-data-labels/train/jobs/191b0715-73e6-47d1-9d69-6a6c6b273d87_638676576000000000?api-version=2024-11-15-preview",
        "x-ms-region": "East US"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://gokulk-test.cognitiveservices.azure.com/language/authoring/analyze-conversations/projects/Test-data-labels/train/jobs/191b0715-73e6-47d1-9d69-6a6c6b273d87_638676576000000000?api-version=2024-11-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "result": {
          "modelLabel": "MyModel",
          "trainingConfigVersion": "2023-04-15",
          "trainingMode": "standard",
          "trainingStatus": {
            "percentComplete": 0,
            "status": "notStarted"
          },
          "evaluationStatus": {
            "percentComplete": 0,
            "status": "notStarted"
          }
        },
        "jobId": "191b0715-73e6-47d1-9d69-6a6c6b273d87_638676576000000000",
        "createdDateTime": "2024-11-20T00:57:03Z",
        "lastUpdatedDateTime": "2024-11-20T00:57:03Z",
        "expirationDateTime": "2024-11-27T00:57:03Z",
        "status": "notStarted"
      }
    },
[...]
    {
      "RequestUri": "https://gokulk-test.cognitiveservices.azure.com/language/authoring/analyze-conversations/projects/Test-data-labels/train/jobs/191b0715-73e6-47d1-9d69-6a6c6b273d87_638676576000000000?api-version=2024-11-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "result": {
          "modelLabel": "MyModel",
          "trainingConfigVersion": "2023-04-15",
          "trainingMode": "standard",
          "trainingStatus": {
            "percentComplete": 0,
            "startDateTime": "2024-11-20T00:57:05.1715887Z",
            "status": "running"
          },
          "evaluationStatus": {
            "percentComplete": 0,
            "status": "notStarted"
          },
          "estimatedEndDateTime": "2024-11-20T00:57:05.1715887Z"
        },
        "jobId": "191b0715-73e6-47d1-9d69-6a6c6b273d87_638676576000000000",
        "createdDateTime": "2024-11-20T00:57:03Z",
        "lastUpdatedDateTime": "2024-11-20T00:57:05Z",
        "expirationDateTime": "2024-11-27T00:57:03Z",
        "status": "running",
        "warnings": [
          {
            "code": "Warning",
            "message": "Intent `Buy` is tagged in `3` training dataset examples, it is recommended to have `10` tags for better model quality."
          },
          {
            "code": "Warning",
            "message": "Entity `product` is tagged in `3` training dataset examples, it is recommended to have `10` tags for better model quality."
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://gokulk-test.cognitiveservices.azure.com/language/authoring/analyze-conversations/projects/Test-data-labels/train/jobs/191b0715-73e6-47d1-9d69-6a6c6b273d87_638676576000000000?api-version=2024-11-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "result": {
          "modelLabel": "MyModel",
          "trainingConfigVersion": "2023-04-15",
          "trainingMode": "standard",
          "trainingStatus": {
            "percentComplete": 100,
            "startDateTime": "2024-11-20T00:57:05.1715887Z",
            "endDateTime": "2024-11-20T00:57:07.2622297Z",
            "status": "succeeded"
          },
          "evaluationStatus": {
            "percentComplete": 0,
            "status": "notStarted"
          }
        },
        "jobId": "191b0715-73e6-47d1-9d69-6a6c6b273d87_638676576000000000",
        "createdDateTime": "2024-11-20T00:57:03Z",
        "lastUpdatedDateTime": "2024-11-20T00:57:09Z",
        "expirationDateTime": "2024-11-27T00:57:03Z",
        "status": "succeeded",
        "warnings": [
          {
            "code": "Warning",
            "message": "Intent `Buy` is tagged in `3` training dataset examples, it is recommended to have `10` tags for better model quality."
          },
          {
            "code": "Warning",
            "message": "Entity `product` is tagged in `3` training dataset examples, it is recommended to have `10` tags for better model quality."
          }
        ]
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORING_ENDPOINT": "https://gokulk-test.cognitiveservices.azure.com",
    "AZURE_AUTHORING_KEY": "Sanitized",
    "RandomSeed": "3863571"
  }
}
