{
  "Entries": [
    {
      "RequestUri": "https://sdk-test-01.cognitiveservices.azure.com/language/authoring/analyze-conversations/projects/Test-data-labels/:train?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "modelLabel": "MyModel",
        "trainingConfigVersion": "2023-04-15",
        "trainingMode": "standard",
        "evaluationOptions": {
          "kind": "percentage",
          "trainingSplitPercentage": 80,
          "testingSplitPercentage": 20
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "operation-location": "https://sdk-test-01.cognitiveservices.azure.com/language/authoring/analyze-conversations/projects/Test-data-labels/train/jobs/5a4da91b-c49e-45ec-9e59-5da6f97cfd86_638863200000000000?api-version=2025-05-15-preview",
        "x-ms-region": "East US"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://sdk-test-01.cognitiveservices.azure.com/language/authoring/analyze-conversations/projects/Test-data-labels/train/jobs/5a4da91b-c49e-45ec-9e59-5da6f97cfd86_638863200000000000?api-version=2025-05-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "result": {
          "modelLabel": "MyModel",
          "trainingConfigVersion": "2023-04-15",
          "trainingMode": "standard",
          "dataGenerationStatus": {
            "percentComplete": 0,
            "status": "notStarted"
          },
          "trainingStatus": {
            "percentComplete": 0,
            "status": "notStarted"
          },
          "evaluationStatus": {
            "percentComplete": 0,
            "status": "notStarted"
          }
        },
        "jobId": "5a4da91b-c49e-45ec-9e59-5da6f97cfd86_638863200000000000",
        "createdDateTime": "2025-06-24T23:31:19Z",
        "lastUpdatedDateTime": "2025-06-24T23:31:19Z",
        "expirationDateTime": "2025-07-01T23:31:19Z",
        "status": "notStarted"
      }
    },
    {
      "RequestUri": "https://sdk-test-01.cognitiveservices.azure.com/language/authoring/analyze-conversations/projects/Test-data-labels/train/jobs/5a4da91b-c49e-45ec-9e59-5da6f97cfd86_638863200000000000?api-version=2025-05-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "result": {
          "modelLabel": "MyModel",
          "trainingConfigVersion": "2023-04-15",
          "trainingMode": "standard",
          "dataGenerationStatus": {
            "percentComplete": 0,
            "status": "notStarted"
          },
          "trainingStatus": {
            "percentComplete": 0,
            "status": "notStarted"
          },
          "evaluationStatus": {
            "percentComplete": 0,
            "status": "notStarted"
          }
        },
        "jobId": "5a4da91b-c49e-45ec-9e59-5da6f97cfd86_638863200000000000",
        "createdDateTime": "2025-06-24T23:31:19Z",
        "lastUpdatedDateTime": "2025-06-24T23:31:20Z",
        "expirationDateTime": "2025-07-01T23:31:19Z",
        "status": "running",
        "warnings": [
          {
            "code": "Warning",
            "message": "Intent `Buy` is tagged in `3` training dataset examples, it is recommended to have `10` tags for better model quality."
          },
          {
            "code": "Warning",
            "message": "Entity `product` is tagged in `3` training dataset examples, it is recommended to have `10` tags for better model quality."
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://sdk-test-01.cognitiveservices.azure.com/language/authoring/analyze-conversations/projects/Test-data-labels/train/jobs/5a4da91b-c49e-45ec-9e59-5da6f97cfd86_638863200000000000?api-version=2025-05-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "result": {
          "modelLabel": "MyModel",
          "trainingConfigVersion": "2023-04-15",
          "trainingMode": "standard",
          "dataGenerationStatus": {
            "percentComplete": 0,
            "status": "notStarted"
          },
          "trainingStatus": {
            "percentComplete": 100,
            "startDateTime": "2025-06-24T23:31:20.7459807Z",
            "endDateTime": "2025-06-24T23:31:22.7742461Z",
            "status": "succeeded"
          },
          "evaluationStatus": {
            "percentComplete": 0,
            "status": "notStarted"
          }
        },
        "jobId": "5a4da91b-c49e-45ec-9e59-5da6f97cfd86_638863200000000000",
        "createdDateTime": "2025-06-24T23:31:19Z",
        "lastUpdatedDateTime": "2025-06-24T23:31:24Z",
        "expirationDateTime": "2025-07-01T23:31:19Z",
        "status": "succeeded",
        "warnings": [
          {
            "code": "Warning",
            "message": "Intent `Buy` is tagged in `3` training dataset examples, it is recommended to have `10` tags for better model quality."
          },
          {
            "code": "Warning",
            "message": "Entity `product` is tagged in `3` training dataset examples, it is recommended to have `10` tags for better model quality."
          }
        ]
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORING_ENDPOINT": "https://sdk-test-01.cognitiveservices.azure.com/",
    "AZURE_AUTHORING_KEY": "Sanitized",
    "RandomSeed": "1306715914"
  }
}
