{
  "Entries": [
    {
      "RequestUri": "/subscriptions/1caaa5a3-2b66-438e-8ab4-bce37d518c5d/resourceGroups/MyNewResourceGroup/providers/Microsoft.Consumption/budgets?api-version=2018-01-31",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"subscriptions/1caaa5a3-2b66-438e-8ab4-bce37d518c5d/resourceGroups/MyNewResourceGroup/providers/Microsoft.Consumption/budgets/NETSDKTestBudget30\",\r\n      \"name\": \"NETSDKTestBudget30\",\r\n      \"type\": \"Microsoft.Consumption/budgets\",\r\n      \"eTag\": \"\\\"1d39ed653e0cd24\\\"\",\r\n      \"properties\": {\r\n        \"timePeriod\": {\r\n          \"startDate\": \"2018-02-01T00:00:00Z\",\r\n          \"endDate\": \"2018-11-01T00:00:00Z\"\r\n        },\r\n        \"timeGrain\": \"Monthly\",\r\n        \"amount\": 60.0,\r\n        \"currentSpend\": {\r\n          \"amount\": 2.2374132917823961,\r\n          \"unit\": \"USD\"\r\n        },\r\n        \"category\": \"Cost\",\r\n        \"notifications\": {},\r\n        \"filters\": {\r\n          \"resourceGroups\": [],\r\n          \"resources\": [],\r\n          \"meters\": []\r\n        }\r\n      }\r\n    }\r\n  ]\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "session-id": [
          "bc0fed16-0c9d-42b4-8c8d-94e7c7bd31d2"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14999"
        ]
      },
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "0df534ff-f8e2-49c4-acd1-3ec9dd9b8213"
  }
}