{
  "Entries": [
    {
      "RequestUri": "https://workspacechhamosynapse.dev.azuresynapse.net/pipelines/Pipeline1473628350?api-version=2019-06-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {}
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://workspacechhamosynapse.dev.azuresynapse.net/operationResults/6914996d-9867-47ff-ba29-03b5352be47c?api-version=2019-06-01-preview",
        "Retry-After": "10"
      },
      "ResponseBody": {
        "id": "/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-chhamosynapse/providers/Microsoft.Synapse/workspaces/workspacechhamosynapse/pipelines/Pipeline1473628350",
        "recordId": 976069,
        "state": "Creating",
        "created": "2021-01-19T20:12:33.2033333Z",
        "changed": "2021-01-19T20:12:33.2033333Z",
        "type": "Pipeline",
        "name": "Pipeline1473628350",
        "operationId": "6914996d-9867-47ff-ba29-03b5352be47c",
        "artifactId": "DA79EFBE-8A02-4C32-924A-293D64F5D8DA"
      }
    },
    {
      "RequestUri": "https://workspacechhamosynapse.dev.azuresynapse.net/operationResults/6914996d-9867-47ff-ba29-03b5352be47c?api-version=2019-06-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://workspacechhamosynapse.dev.azuresynapse.net/operationResults/6914996d-9867-47ff-ba29-03b5352be47c?api-version=2019-06-01-preview",
        "Retry-After": "10"
      },
      "ResponseBody": {
        "status": "InProgress"
      }
    },
[...]
    {
      "RequestUri": "https://workspacechhamosynapse.dev.azuresynapse.net/operationResults/6914996d-9867-47ff-ba29-03b5352be47c?api-version=2019-06-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-chhamosynapse/providers/Microsoft.Synapse/workspaces/workspacechhamosynapse/pipelines/Pipeline1473628350",
        "name": "Pipeline1473628350",
        "type": "Microsoft.Synapse/workspaces/pipelines",
        "properties": {
          "lastPublishTime": "2021-01-19T20:12:35Z"
        },
        "etag": "07005282-0000-0800-0000-60073d330000"
      }
    },
    {
      "RequestUri": "https://workspacechhamosynapse.dev.azuresynapse.net/pipelines/Pipeline1473628350/createRun?api-version=2019-06-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "runId": "a9f1db9c-8fc7-e1b7-f9e3-e4eeda42f518"
      }
    },
    {
      "RequestUri": "https://workspacechhamosynapse.dev.azuresynapse.net/pipelineruns/a9f1db9c-8fc7-e1b7-f9e3-e4eeda42f518?api-version=2019-06-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "/SUBSCRIPTIONS/FAA080AF-C1D8-40AD-9CCE-E1A450CA5B57/RESOURCEGROUPS/RG-CHHAMOSYNAPSE/PROVIDERS/MICROSOFT.SYNAPSE/WORKSPACES/WORKSPACECHHAMOSYNAPSE/pipelineruns/a9f1db9c-8fc7-e1b7-f9e3-e4eeda42f518",
        "runId": "a9f1db9c-8fc7-e1b7-f9e3-e4eeda42f518",
        "debugRunId": null,
        "runGroupId": "a9f1db9c-8fc7-e1b7-f9e3-e4eeda42f518",
        "pipelineName": "Pipeline1473628350",
        "parameters": {},
        "invokedBy": {
          "id": "90928c6f895a4925b907a63953ffd3f0",
          "name": "Manual",
          "invokedByType": "Manual"
        },
        "runStart": "2021-01-19T20:11:09.20996Z",
        "runEnd": "2021-01-19T20:11:11.8854473Z",
        "durationInMs": 2675,
        "status": "Succeeded",
        "message": "",
        "lastUpdated": "2021-01-19T20:11:11.8854473Z",
        "annotations": [],
        "runDimension": {},
        "isLatest": true
      }
    },
[...]
    {
      "RequestUri": "https://workspacechhamosynapse.dev.azuresynapse.net/operationResults/fe8288e6-d4bc-4562-9839-4b5a9d245250?api-version=2019-06-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "AZURE_SYNAPSE_WORKSPACE_URL": "https://workspacechhamosynapse.dev.azuresynapse.net",
    "RandomSeed": "542779573"
  }
}