{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11987"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "TagKey-9823": "TagValue-1254",
          "TagKey-3481": "TagValue-320",
          "TagKey-4926": "TagValue-1187",
          "TagKey-751": "TagValue-3921",
          "TagKey-1866": "TagValue-8559",
          "TagKey-3094": "TagValue-9190",
          "TagKey-2449": "TagValue-9",
          "TagKey-8379": "TagValue-164",
          "TagKey-7470": "TagValue-2205",
          "TagKey-4236": "TagValue-3698",
          "TagKey-5316": "TagValue-2725"
        },
        "subscriptionId": "db1ab6f0-4769-4b27-930e-01e2ef9c123c",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": ".NET Mgmt SDK Test with TTL = 1 Day",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourcegroups/HealthCareApisRG1879?api-version=**",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1197"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/HealthCareApisRG1879",
        "name": "HealthCareApisRG1879",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/HealthCareApisRG1879/providers/Microsoft.HealthcareApis/workspaces/workspace8216?api-version=2022-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "eastus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022fa073960-0000-0400-0000-63f5b0fe0000\u0022",
        "x-ms-ratelimit-remaining-subscription-writes": "1196"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/HealthCareApisRG1879/providers/Microsoft.HealthcareApis/workspaces/workspace8216",
        "name": "workspace8216",
        "type": "Microsoft.HealthcareApis/workspaces",
        "etag": "\u0022fa073960-0000-0400-0000-63f5b0fe0000\u0022",
        "location": "eastus",
        "tags": {},
        "properties": {
          "privateEndpointConnections": [],
          "publicNetworkAccess": "Enabled",
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/HealthCareApisRG1879/providers/Microsoft.EventHub/namespaces/azmedtechspaces8654?api-version=2021-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "eastus",
        "properties": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Server-SB": "Service-Bus-Resource-Provider/CH3",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "49"
      },
      "ResponseBody": {
        "sku": {
          "name": "Standard",
          "tier": "Standard",
          "capacity": 1
        },
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/HealthCareApisRG1879/providers/Microsoft.EventHub/namespaces/azmedtechspaces8654",
        "name": "azmedtechspaces8654",
        "type": "Microsoft.EventHub/Namespaces",
        "location": "East US",
        "tags": {},
        "properties": {
          "disableLocalAuth": false,
          "zoneRedundant": false,
          "isAutoInflateEnabled": false,
          "maximumThroughputUnits": 0,
          "kafkaEnabled": true,
          "provisioningState": "Created",
          "metricId": "db1ab6f0-4769-4b27-930e-01e2ef9c123c:azmedtechspaces8654",
          "createdAt": "2023-02-22T06:06:59.633Z",
          "updatedAt": "2023-02-22T06:06:59.633Z",
          "serviceBusEndpoint": "https://azmedtechspaces8654.servicebus.windows.net:443/",
          "status": "Activating"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/HealthCareApisRG1879/providers/Microsoft.EventHub/namespaces/azmedtechspaces8654/eventhubs/eventhub52?api-version=2021-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1195"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/HealthCareApisRG1879/providers/Microsoft.EventHub/namespaces/azmedtechspaces8654/eventhubs/eventhub52",
        "name": "eventhub52",
        "type": "Microsoft.EventHub/namespaces/eventhubs",
        "location": "eastus",
        "properties": {
          "messageRetentionInDays": 7,
          "partitionCount": 4,
          "status": "Active",
          "createdAt": "2023-02-22T06:08:15.397Z",
          "updatedAt": "2023-02-22T06:08:15.747Z",
          "partitionIds": [
            "0",
            "1",
            "2",
            "3"
          ]
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/HealthCareApisRG1879/providers/Microsoft.HealthcareApis/workspaces/workspace8216/iotconnectors/iotconnector4434?api-version=2022-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "eastus",
        "properties": {
          "ingestionEndpointConfiguration": {
            "eventHubName": "eventhub52",
            "consumerGroup": "$Default",
            "fullyQualifiedEventHubNamespace": "eventhub52.servicesbus.windows.net"
          },
          "deviceMapping": {
            "content": {
              "templateType": "CollectionContent",
              "template": []
            }
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.HealthcareApis/locations/eastus/operationresults/mibynf1y2gcppommphik66jba?api-version=2022-06-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022fa07446a-0000-0400-0000-63f5b1530000\u0022",
        "x-ms-ratelimit-remaining-subscription-writes": "1194"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/HealthCareApisRG1879/providers/Microsoft.HealthcareApis/workspaces/workspace8216/iotconnectors/iotconnector4434",
        "name": "workspace8216/iotconnector4434",
        "type": "Microsoft.HealthcareApis/workspaces/iotconnectors",
        "etag": "\u0022fa07446a-0000-0400-0000-63f5b1530000\u0022",
        "location": "eastus",
        "tags": {},
        "properties": {
          "ingestionEndpointConfiguration": {
            "eventHubName": "eventhub52",
            "consumerGroup": "$Default",
            "fullyQualifiedEventHubNamespace": "eventhub52.servicesbus.windows.net"
          },
          "deviceMapping": {
            "content": {
              "templateType": "CollectionContent",
              "template": []
            }
          },
          "provisioningState": "Creating"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.HealthcareApis/locations/eastus/operationresults/mibynf1y2gcppommphik66jba?api-version=2022-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11977"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.HealthcareApis/locations/eastus/operationresults/mibynf1y2gcppommphik66jba",
        "name": "mibynf1y2gcppommphik66jba",
        "status": "Running",
        "startTime": "2023-02-22T06:08:19.7337348Z"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/HealthCareApisRG1879/providers/Microsoft.HealthcareApis/workspaces/workspace8216/iotconnectors/iotconnector4434?api-version=2022-06-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {
          "addtagkey": "addtagvalue"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022fa07458d-0000-0400-0000-63f5b27d0000\u0022",
        "x-ms-ratelimit-remaining-subscription-writes": "1193"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/HealthCareApisRG1879/providers/Microsoft.HealthcareApis/workspaces/workspace8216/iotconnectors/iotconnector4434",
        "name": "workspace8216/iotconnector4434",
        "type": "Microsoft.HealthcareApis/workspaces/iotconnectors",
        "etag": "\u0022fa07458d-0000-0400-0000-63f5b27d0000\u0022",
        "location": "eastus",
        "tags": {
          "addtagkey": "addtagvalue"
        },
        "properties": {
          "ingestionEndpointConfiguration": {
            "eventHubName": "eventhub52",
            "consumerGroup": "$Default",
            "fullyQualifiedEventHubNamespace": "eventhub52.servicesbus.windows.net"
          },
          "deviceMapping": {
            "content": {
              "templateType": "CollectionContent",
              "template": []
            }
          },
          "provisioningState": "Succeeded"
        }
      }
    },
[...]
