{
  "Entries": [
    {
      "RequestUri": "https://heathskvtesthsm.managedhsm.azure.net/providers/Microsoft.Authorization/roleDefinitions/54240b47-e6cd-6e36-6cc8-e7f894d36ec2?api-version=7.3-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://managedhsm.azure.net\u0022",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://heathskvtesthsm.managedhsm.azure.net/providers/Microsoft.Authorization/roleDefinitions/54240b47-e6cd-6e36-6cc8-e7f894d36ec2?api-version=7.3-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "description": "roleNAITnYx2",
          "type": "CustomRole",
          "permissions": [
            {
              "dataActions": [
                "Microsoft.KeyVault/managedHsm/keys/backup/action"
              ]
            }
          ]
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "58"
      },
      "ResponseBody": {
        "id": "Microsoft.KeyVault/providers/Microsoft.Authorization/roleDefinitions/54240b47-e6cd-6e36-6cc8-e7f894d36ec2",
        "name": "54240b47-e6cd-6e36-6cc8-e7f894d36ec2",
        "properties": {
          "assignableScopes": [
            "/"
          ],
          "description": "roleNAITnYx2",
          "permissions": [
            {
              "actions": [],
              "dataActions": [
                "Microsoft.KeyVault/managedHsm/keys/backup/action"
              ],
              "notActions": [],
              "notDataActions": []
            }
          ],
          "roleName": "",
          "type": "CustomRole"
        },
        "type": "Microsoft.Authorization/roleDefinitions"
      }
    },
[...]
