{
  "Entries": [
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/providers/Microsoft.Authorization/roleDefinitions?api-version=7.4-preview.1",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://managedhsm.azure.net\u0022",
        "x-ms-build-version": "1.0.20221011-1-b82851ba-develop",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": "OK"
    },
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/providers/Microsoft.Authorization/roleDefinitions?api-version=7.4-preview.1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20221011-1-b82851ba-develop",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "Microsoft.KeyVault/providers/Microsoft.Authorization/roleDefinitions/7b127d3c-77bd-4e3e-bbe0-dbb8971fa7f8",
            "name": "7b127d3c-77bd-4e3e-bbe0-dbb8971fa7f8",
            "properties": {
              "assignableScopes": [
                "/"
              ],
              "description": "",
              "permissions": [
                {
                  "actions": [],
                  "dataActions": [
                    "Microsoft.KeyVault/managedHsm/backup/start/action",
                    "Microsoft.KeyVault/managedHsm/backup/status/action",
                    "Microsoft.KeyVault/managedHsm/keys/backup/action"
                  ],
                  "notActions": [],
                  "notDataActions": []
                }
              ],
              "roleName": "Managed HSM Backup User",
              "type": "AKVBuiltInRole"
            },
            "type": "Microsoft.Authorization/roleDefinitions"
          },
          {
            "id": "Microsoft.KeyVault/providers/Microsoft.Authorization/roleDefinitions/33413926-3206-4cdd-b39a-83574fe37a17",
            "name": "33413926-3206-4cdd-b39a-83574fe37a17",
            "properties": {
              "assignableScopes": [
                "/"
              ],
              "description": "",
              "permissions": [
                {
          [...]
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/providers/Microsoft.Authorization/roleAssignments/8af2fff7-3f7e-9fa5-1224-059f130be327?api-version=7.4-preview.1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "roleDefinitionId": "Microsoft.KeyVault/providers/Microsoft.Authorization/roleDefinitions/7b127d3c-77bd-4e3e-bbe0-dbb8971fa7f8",
          "principalId": "15c75300-c9a4-47de-a1d9-c9f062406528"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "37"
      },
      "ResponseBody": {
        "id": "/providers/Microsoft.Authorization/roleAssignments/8af2fff7-3f7e-9fa5-1224-059f130be327",
        "name": "8af2fff7-3f7e-9fa5-1224-059f130be327",
        "properties": {
          "principalId": "15c75300-c9a4-47de-a1d9-c9f062406528",
          "roleDefinitionId": "Microsoft.KeyVault/providers/Microsoft.Authorization/roleDefinitions/7b127d3c-77bd-4e3e-bbe0-dbb8971fa7f8",
          "scope": "/"
        },
        "type": "Microsoft.Authorization/roleAssignments"
      }
    },
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/providers/Microsoft.Authorization/roleAssignments/8af2fff7-3f7e-9fa5-1224-059f130be327?api-version=7.4-preview.1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20221011-1-b82851ba-develop",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": {
        "id": "/providers/Microsoft.Authorization/roleAssignments/8af2fff7-3f7e-9fa5-1224-059f130be327",
        "name": "8af2fff7-3f7e-9fa5-1224-059f130be327",
        "properties": {
          "principalId": "15c75300-c9a4-47de-a1d9-c9f062406528",
          "roleDefinitionId": "Microsoft.KeyVault/providers/Microsoft.Authorization/roleDefinitions/7b127d3c-77bd-4e3e-bbe0-dbb8971fa7f8",
          "scope": "/"
        },
        "type": "Microsoft.Authorization/roleAssignments"
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com/",
    "AZURE_MANAGEDHSM_URL": "https://heathskeyvaulthsm.managedhsm.azure.net/",
    "CLIENT_OBJECTID": "15c75300-c9a4-47de-a1d9-c9f062406528",
    "RandomSeed": "1410581044"
  }
}
