{
  "Entries": [
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/providers/Microsoft.Authorization/roleDefinitions/ddf09cc8-8314-dbf0-9556-0ae368ad339b?api-version=7.3",
      "RequestMethod": "PUT",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://managedhsm.azure.net\u0022",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/providers/Microsoft.Authorization/roleDefinitions/ddf09cc8-8314-dbf0-9556-0ae368ad339b?api-version=7.3",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "description": "role35X5v9LP",
          "type": "CustomRole",
          "permissions": [
            {
              "dataActions": [
                "Microsoft.KeyVault/managedHsm/keys/backup/action"
              ]
            }
          ]
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "49"
      },
      "ResponseBody": {
        "id": "Microsoft.KeyVault/providers/Microsoft.Authorization/roleDefinitions/ddf09cc8-8314-dbf0-9556-0ae368ad339b",
        "name": "ddf09cc8-8314-dbf0-9556-0ae368ad339b",
        "properties": {
          "assignableScopes": [
            "/"
          ],
          "description": "role35X5v9LP",
          "permissions": [
            {
              "actions": [],
              "dataActions": [
                "Microsoft.KeyVault/managedHsm/keys/backup/action"
              ],
              "notActions": [],
              "notDataActions": []
            }
          ],
          "roleName": "",
          "type": "CustomRole"
        },
        "type": "Microsoft.Authorization/roleDefinitions"
      }
    },
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/providers/Microsoft.Authorization/roleDefinitions/ddf09cc8-8314-dbf0-9556-0ae368ad339b?api-version=7.3",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20220305-2-902fedaa-closebadconnections",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": {
        "id": "Microsoft.KeyVault/providers/Microsoft.Authorization/roleDefinitions/ddf09cc8-8314-dbf0-9556-0ae368ad339b",
        "name": "ddf09cc8-8314-dbf0-9556-0ae368ad339b",
        "properties": {
          "assignableScopes": [
            "/"
          ],
          "description": "role35X5v9LP",
          "permissions": [
            {
              "actions": [],
              "dataActions": [
                "Microsoft.KeyVault/managedHsm/keys/backup/action"
              ],
              "notActions": [],
              "notDataActions": []
            }
          ],
          "roleName": "",
          "type": "CustomRole"
        },
        "type": "Microsoft.Authorization/roleDefinitions"
      }
    }
  ],
  "Variables": {
    "AZURE_MANAGEDHSM_URL": "https://heathskeyvaulthsm.managedhsm.azure.net/",
    "RandomSeed": "941997244"
  }
}
