{
  "Entries": [
    {
      "RequestUri": "/subscriptions/db4e2fdb-6d80-4e6e-b7cd-736098270664/resourceGroups/anponnet-rg/providers/Microsoft.DataBoxEdge/dataBoxEdgeDevices/test-gateway-resource/getExtendedInformation?api-version=2019-03-01",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"encryptionKeyThumbprint\": \"9F6715702A6C1D27A643874FA78BC295CF619643\",\r\n    \"encryptionKey\": \"EAAAAP4CHLCqRW34W+oJHSVpZrljjtCH9vaXD9cSb6/cL0LkAUZykn6oK27gFXO0bxARUDvXaq1cTyMJ22jmhEwvp7Tj/q9Ji7poTewYWL6awWMvmJSZcy8+L+BN5PL/vqCz4QngCvV6y8PQDgy6GbSRdEgRJ8hzUATo6EbriRi0M1WyiiVp/+X9pkVJ6SmAI8WEt80FbXrTHBfl7USfXs44VW097wOOtUFHptRitArQP6bd3KFALEs8tbGhO6nqv5wD08kd4sWY9zaACgwaFBqdtfLogbyw/pQJyDFnLWcMFNt5e5et6X/da9dpMopXKM0fSeoTMz/1hewNA4oIJ+H3YTV4EH/YKHTs4qJsFuk/b3NN5AVg+mXNhUEskEkMO+JRmyP+rXBrr/9JQQW0NIsBk4o/sgxtLI8APoyn7OfJ8tNSXQARZBG5KyvuDXCthFI9SgZJ3XyU3Sz9kaPzlzLjcE+s9WltMwrGMZd/EzARxF2mM[...]
    {
      "RequestUri": "/subscriptions/db4e2fdb-6d80-4e6e-b7cd-736098270664/resourceGroups/anponnet-rg/providers/Microsoft.DataBoxEdge/dataBoxEdgeDevices/test-gateway-resource/users/user1?api-version=2019-03-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"encryptedPassword\": {\r\n      \"value\": \"Wk8lDbJf6Qq1eqssVN8d5d+0iGtZB0ZTJ18G04CK8gJPCc0baLuAvhGGcwsmnriDpsNeU9LOJcFW0n6lsIpdgrMdAlgBYNxeXG4tHByQMcbykjBU34XfbrtTTnDf4+ObB7LWnM3wQR9U3QqEOP14mUKdjlPwOB7PYORY9bT+3wNQSrodUh904TWE7VG2u4rxLvpMjmF6hollzebseBmQ3ETYg7b/s38rlHidphkvG46/HFbXQxsHYAgTf5d3kRceSOY5slm1qRb0vJNh5fsu8ALkJE5cGogYuh/aEXNMRkJcQVYL200wRTqPiUt5MQcEsag4hfdv8Gj7hhFaMHEBGg==\",\r\n      \"encryptionCertThumbprint\": \"9F6715702A6C1D27A643874FA78BC295CF619643\",\r\n      \"encryptionAlgorithm\": \"AES256\"\r\n    }\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/db4e2fdb-6d80-4e6e-b7cd-736098270664/resourceGroups/anponnet-rg/providers/Microsoft.DataBoxEdge/dataBoxEdgeDevices/test-gateway-resource/users/user1/operationResults/04ede43e-e858-4692-b4d4-a2a196ec2479?api-version=2019-03-01"
        ],
        "Retry-After": [
          "30"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1197"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 202
    },
    {
      "RequestUri": "/subscriptions/db4e2fdb-6d80-4e6e-b7cd-736098270664/resourceGroups/anponnet-rg/providers/Microsoft.DataBoxEdge/dataBoxEdgeDevices/test-gateway-resource/users/user1/operationResults/04ede43e-e858-4692-b4d4-a2a196ec2479?api-version=2019-03-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/db4e2fdb-6d80-4e6e-b7cd-736098270664/resourceGroups/anponnet-rg/providers/Microsoft.DataBoxEdge/dataBoxEdgeDevices/test-gateway-resource/users/user1?api-version=2019-03-01"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11993"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 202
    },
    {
      "RequestUri": "/subscriptions/db4e2fdb-6d80-4e6e-b7cd-736098270664/resourceGroups/anponnet-rg/providers/Microsoft.DataBoxEdge/dataBoxEdgeDevices/test-gateway-resource/users/user1?api-version=2019-03-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11992"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"properties\": {},\r\n  \"id\": \"/subscriptions/db4e2fdb-6d80-4e6e-b7cd-736098270664/resourceGroups/anponnet-rg/providers/Microsoft.DataBoxEdge/dataBoxEdgeDevices/test-gateway-resource/users/user1\",\r\n  \"name\": \"user1\",\r\n  \"type\": \"Microsoft.DataBoxEdge/dataBoxEdgeDevices/users\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/db4e2fdb-6d80-4e6e-b7cd-736098270664/resourceGroups/anponnet-rg/providers/Microsoft.DataBoxEdge/dataBoxEdgeDevices/test-gateway-resource/users?api-version=2019-03-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11988"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"properties\": {},\r\n      \"id\": \"/subscriptions/db4e2fdb-6d80-4e6e-b7cd-736098270664/resourceGroups/anponnet-rg/providers/Microsoft.DataBoxEdge/dataBoxEdgeDevices/test-gateway-resource/users/user1\",\r\n      \"name\": \"user1\",\r\n      \"type\": \"Microsoft.DataBoxEdge/dataBoxEdgeDevices/users\"\r\n    },\r\n    {\r\n      \"properties\": {},\r\n      \"id\": \"/subscriptions/db4e2fdb-6d80-4e6e-b7cd-736098270664/resourceGroups/anponnet-rg/providers/Microsoft.DataBoxEdge/dataBoxEdgeDevices/test-gateway-resource/users/user2\",\r\n      \"name\": \"user2\",\r\n      \"type\": \"Microsoft.DataBoxEdge/dataBoxEdgeDevices/users\"\r\n    }\r\n  ]\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/db4e2fdb-6d80-4e6e-b7cd-736098270664/resourceGroups/anponnet-rg/providers/Microsoft.DataBoxEdge/dataBoxEdgeDevices/test-gateway-resource/users/user2/operationResults/adfc4828-2416-4681-8fb5-799d2f1eb8c1?api-version=2019-03-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11986"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 204
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "db4e2fdb-6d80-4e6e-b7cd-736098270664",
    "SubId": "db4e2fdb-6d80-4e6e-b7cd-736098270664"
  }
}