{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c?api-version=2019-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11997"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "tagKey1": "tagValue1",
          "tagKey2": "tagValue2"
        },
        "subscriptionId": "db1ab6f0-4769-4b27-930e-01e2ef9c123c",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": ".NET Mgmt SDK Test with TTL = 1 Day",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourcegroups/testRG-2086?api-version=2019-10-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus2",
        "tags": {
          "test": "env"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-2086",
        "name": "testRG-2086",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus2",
        "tags": {
          "test": "env"
        },
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-2086/providers/Microsoft.Compute/diskAccesses/testDA1952?api-version=2020-12-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "westus2",
        "properties": {}
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Compute/locations/westus2/DiskOperations/071be731-4d28-41a7-978d-cc7b7fe6bb3b?api-version=2020-12-01",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Compute/locations/westus2/DiskOperations/071be731-4d28-41a7-978d-cc7b7fe6bb3b?monitor=true\u0026api-version=2020-12-01",
        "x-ms-ratelimit-remaining-subscription-writes": "1198"
      },
      "ResponseBody": [
        "{\r\n",
        "  \u0022name\u0022: \u0022testDA1952\u0022,\r\n",
        "  \u0022type\u0022: \u0022Microsoft.Compute/diskAccesses\u0022,\r\n",
        "  \u0022location\u0022: \u0022westus2\u0022,\r\n",
        "  \u0022tags\u0022: {},\r\n",
        "  \u0022properties\u0022: {\r\n",
        "    \u0022provisioningState\u0022: 0\r\n",
        "  }\r\n",
        "}"
      ]
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Compute/locations/westus2/DiskOperations/071be731-4d28-41a7-978d-cc7b7fe6bb3b?api-version=2020-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-resource": "Microsoft.Compute/GetOperation3Min;49985,Microsoft.Compute/GetOperation30Min;399985",
        "x-ms-ratelimit-remaining-subscription-reads": "11996"
      },
      "ResponseBody": [
        "{\r\n",
        "  \u0022startTime\u0022: \u00222021-08-13T06:52:08.6483199\u002B00:00\u0022,\r\n",
        "  \u0022status\u0022: \u0022InProgress\u0022,\r\n",
        "  \u0022name\u0022: \u0022071be731-4d28-41a7-978d-cc7b7fe6bb3b\u0022\r\n",
        "}"
      ]
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-2086/providers/Microsoft.Compute/diskAccesses?api-version=2020-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-resource": "Microsoft.Comp[...]
