{
  "Entries": [
    {
      "RequestUri": "/2c224e7e-3ef5-431d-a57b-e71f4662e3a6/services/ServiceBus/CheckNamespaceAvailability?namespace=somenamespace",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2013-06-01"
        ]
      },
      "ResponseBody": "<entry xmlns=\"http://www.w3.org/2005/Atom\">\r\n  <id>uuid:2a19ccb7-b227-4a9f-8fec-8aa0562d5852;id=2968075</id>\r\n  <title type=\"text\"></title>\r\n  <updated>2014-10-27T23:13:01Z</updated>\r\n  <content type=\"application/xml\">\r\n    <NamespaceAvailability xmlns=\"http://schemas.microsoft.com/netservices/2010/10/servicebus/connect\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n      <Result>false</Result>\r\n      <ReasonDetail>The specified service namespace is not available.</ReasonDetail>\r\n    </NamespaceAvailability>\r\n  </content>\r\n</entry>",
      "ResponseHeaders": {
        "Content-Type": [
          "application/atom+xml; type=entry; charset=utf-8"
        ],
        "x-ms-servedbyregion": [
          "ussouth2"
        ],
        "Server-SB": [
          "Service-Bus-Resource-Provider/SN1"
        ]
      },
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {}
}