{
  "Entries": [
    {
      "RequestUri": "/0a496442-635f-4974-bda4-2d339b9a6b3c/services/ServiceBus/CheckNamespaceAvailability?namespace=somenamespace",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2013-06-01"
        ]
      },
      "ResponseBody": "<entry xmlns=\"http://www.w3.org/2005/Atom\">\r\n  <id>uuid:bcb2eb35-97d0-4a05-8b07-9f231bfdfe17;id=19996</id>\r\n  <title type=\"text\"></title>\r\n  <updated>2014-10-28T21:55:04Z</updated>\r\n  <content type=\"application/xml\">\r\n    <NamespaceAvailability xmlns=\"http://schemas.microsoft.com/netservices/2010/10/servicebus/connect\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n      <Result>true</Result>\r\n      <ReasonDetail i:nil=\"true\" />\r\n    </NamespaceAvailability>\r\n  </content>\r\n</entry>",
      "ResponseHeaders": {
        "Content-Type": [
          "application/atom+xml; type=entry; charset=utf-8"
        ],
        "x-ms-servedbyregion": [
          "uswest"
        ],
        "Server-SB": [
          "Service-Bus-Resource-Provider/SN1"
        ]
      },
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "0a496442-635f-4974-bda4-2d339b9a6b3c"
  }
}