{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/cc943344-3e50-4367-928f-79e03a97639d?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11970"
      },
      "ResponseBody": {
        "id": "/subscriptions/cc943344-3e50-4367-928f-79e03a97639d",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "subscriptionId": "cc943344-3e50-4367-928f-79e03a97639d",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": "ACI Test Automation 1",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/cc943344-3e50-4367-928f-79e03a97639d/resourcegroups/testRg2181?api-version=**",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1197"
      },
      "ResponseBody": {
        "id": "/subscriptions/cc943344-3e50-4367-928f-79e03a97639d/resourceGroups/testRg2181",
        "name": "testRg2181",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/cc943344-3e50-4367-928f-79e03a97639d/resourceGroups/testRg2181/providers/Microsoft.ContainerInstance/containerGroups/containergrp7717?api-version=2023-05-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "westus",
        "properties": {
          "containers": [
            {
              "name": "containergrp7717",
              "properties": {
                "image": "alpine",
                "command": [
                  "/bin/sh",
                  "-c",
                  "while true; do sleep 10; done"
                ],
                "ports": [
                  {
                    "port": 80
                  }
                ],
                "environmentVariables": [
                  {
                    "name": "secretEnv",
                    "secureValue": "secretValue1"
                  }
                ],
                "resources": {
                  "requests": {
                    "memoryInGB": 1.5,
                    "cpu": 1
                  }
                },
                "livenessProbe": {
                  "exec": {
                    "command": [
                      "ls"
                    ]
                  },
                  "periodSeconds": 20
                }
              }
            }
          ],
          "restartPolicy": "Never",
          "ipAddress": {
            "ports": [
              {
                "protocol": "TCP",
                "port": 80
              }
            ],
            "type": "Public",
            "dnsNameLabel": "containergrp7717"
          },
          "osType": "Linux",
          "diagnostics": {
            "logAnalytics": {
              "workspaceId": "workspaceid",
              "workspaceKey": "workspacekey"
            }
          },
          "sku": "Standard",
          "encryptionProperties": {
            "vaultBaseUrl": "https://cloudaci-cloudtest.vault.azure.net/",
            "keyName": "testencryptionkey",
            "keyVersion": "804d3f1d5ce2456b9bc3dc9e35aaa67e"
          },
          "initContainers": [
            {
              "name": "containergrp7717init",
              "properties": {
                "image": "alpine",
                "command": [
                  "/bin/sh",
                  "-c",
                  "sleep 5"
                ],
                "environmentVariables": [
                  {
                    "name": "secretEnv",
                    "secureValue": "secretValue1"
                  }
                ]
              }
            }
          ]
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/cc943344-3e50-4367-928f-79e03a97639d/providers/Microsoft.ContainerInstance/locations/westus/operations/019591f9-fc57-4980-accc-6b59939271aa?api-version=2018-06-01",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-resource-requests-pt1h": "1797",
        "x-ms-ratelimit-remaining-subscription-resource-requests-pt5m": "899",
        "x-ms-ratelimit-remaining-subscription-writes": "1196"
      },
      "ResponseBody": {
        "properties": {
          "sku": "Standard",
          "encryptionProperties": {
            "vaultBaseUrl": "https://cloudaci-cloudtest.vault.azure.net/",
            "keyName": "testencryptionkey",
            "keyVersion": "804d3f1d5ce2456b9bc3dc9e35aaa67e"
          },
          "provisioningState": "Pending",
          "provisioningTimeoutInSeconds": 1800,
          "isCustomProvisioningTimeout": false,
          "containers": [
            {
              "name": "containergrp7717",
              "properties": {
                "image": "alpine",
                "command": [
                  "/bin/sh",
                  "-c",
                  "while true; do sleep 10; done"
                ],
                "ports": [
                  {
                    "port": 80
                  }
                ],
                "environmentVariables": [
                  {
               [...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/cc943344-3e50-4367-928f-79e03a97639d/providers/Microsoft.ContainerInstance/locations/westus/operations/019591f9-fc57-4980-accc-6b59939271aa?api-version=2023-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11969"
      },
      "ResponseBody": {
        "id": "/subscriptions/cc943344-3e50-4367-928f-79e03a97639d/resourceGroups/testRg2181/providers/Microsoft.ContainerInstance/containerGroups/containergrp7717",
        "status": "Pending",
        "startTime": "2023-04-26T06:09:22.8004251Z",
        "properties": {
          "events": []
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/cc943344-3e50-4367-928f-79e03a97639d/providers/Microsoft.ContainerInstance/locations/westus/operations/019591f9-fc57-4980-accc-6b59939271aa?api-version=2023-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11962"
      },
      "ResponseBody": {
        "id": "/subscriptions/cc943344-3e50-4367-928f-79e03a97639d/resourceGroups/testRg2181/providers/Microsoft.ContainerInstance/containerGroups/containergrp7717",
        "status": "Succeeded",
        "startTime": "2023-04-26T06:09:22.8004251Z",
        "properties": {
          "events": [
            {
              "count": 1,
              "firstTimestamp": "2023-04-26T06:09:29Z",
              "lastTimestamp": "2023-04-26T06:09:29Z",
              "name": "Pulling",
              "message": "pulling image \u0022alpine@sha256:b6ca290b6b4cdcca5b3db3ffa338ee0285c11744b4a6abaa9627746ee3291d8d\u0022",
              "type": "Normal"
            },
            {
              "count": 1,
              "firstTimestamp": "2023-04-26T06:09:30Z",
              "lastTimestamp": "2023-04-26T06:09:30Z",
              "name": "Pulled",
              "message": "Successfully pulled image \u0022alpine@sha256:b6ca290b6b4cdcca5b3db3ffa338ee0285c11744b4a6abaa9627746ee3291d8d\u0022",
              "type": "Normal"
            }
          ]
        }
      }
    },
[...]
