{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/cc943344-3e50-4367-928f-79e03a97639d?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11949"
      },
      "ResponseBody": {
        "id": "/subscriptions/cc943344-3e50-4367-928f-79e03a97639d",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "subscriptionId": "cc943344-3e50-4367-928f-79e03a97639d",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": "ACI Test Automation 1",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/cc943344-3e50-4367-928f-79e03a97639d/resourcegroups/testRg7102?api-version=**",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus2euap"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1193"
      },
      "ResponseBody": {
        "id": "/subscriptions/cc943344-3e50-4367-928f-79e03a97639d/resourceGroups/testRg7102",
        "name": "testRg7102",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus2euap",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/cc943344-3e50-4367-928f-79e03a97639d/resourceGroups/testRg7102/providers/Microsoft.ContainerInstance/containerGroups/containergrp4814?api-version=2023-05-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "identity": {
          "type": "SystemAssigned"
        },
        "tags": {},
        "location": "eastus2euap",
        "properties": {
          "containers": [
            {
              "name": "containergrp4814",
              "properties": {
                "image": "alpine",
                "command": [
                  "/bin/sh",
                  "-c",
                  "while true; do sleep 10; done"
                ],
                "ports": [
                  {
                    "port": 80
                  }
                ],
                "environmentVariables": [
                  {
                    "name": "secretEnv",
                    "secureValue": "secretValue1"
                  }
                ],
                "resources": {
                  "requests": {
                    "memoryInGB": 1.5,
                    "cpu": 1
                  }
                },
                "securityContext": {
                  "privileged": false
                }
              }
            }
          ],
          "restartPolicy": "Never",
          "ipAddress": {
            "ports": [
              {
                "protocol": "TCP",
                "port": 80
              }
            ],
            "type": "Public"
          },
          "osType": "Linux",
          "sku": "Confidential",
          "initContainers": [
            {
              "name": "containergrp4814init",
              "properties": {
                "image": "alpine",
                "command": [
                  "/bin/sh",
                  "-c",
                  "sleep 5"
                ],
                "environmentVariables": [
                  {
                    "name": "secretEnv",
                    "secureValue": "secretValue1"
                  }
                ],
                "securityContext": {
                  "privileged": false
                }
              }
            }
          ]
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/cc943344-3e50-4367-928f-79e03a97639d/providers/Microsoft.ContainerInstance/locations/eastus2euap/operations/a3df54b0-4468-4988-9991-04af343eac4c?api-version=2018-06-01",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-resource-requests-pt1h": "14826",
        "x-ms-ratelimit-remaining-subscription-resource-requests-pt5m": "1488",
        "x-ms-ratelimit-remaining-subscription-writes": "1192"
      },
      "ResponseBody": {
        "properties": {
          "sku": "Confidential",
          "confidentialComputeProperties": {
            "ccePolicy": "cGFja2FnZSBwb2xpY3kKCmFwaV9zdm4gOj0gIjAuMTAuMCIKCm1vdW50X2RldmljZSA6PSB7ImFsbG93ZWQiOiB0cnVlfQptb3VudF9vdmVybGF5IDo9IHsiYWxsb3dlZCI6IHRydWV9CmNyZWF0ZV9jb250YWluZXIgOj0geyJhbGxvd2VkIjogdHJ1ZSwgImVudl9saXN0IjogbnVsbCwgImFsbG93X3N0ZGlvX2FjY2VzcyI6IHRydWV9CnVubW91bnRfZGV2aWNlIDo9IHsiYWxsb3dlZCI6IHRydWV9IAp1bm1vdW50X292ZXJsYXkgOj0geyJhbGxvd2VkIjogdHJ1ZX0KZXhlY19pbl9jb250YWluZXIgOj0geyJhbGxvd2VkIjogdHJ1ZSwgImVudl9saXN0IjogbnVsbH0KZXhlY19leHRlcm5hbCA6PSB7ImFsbG93ZWQiOiB0cnVlLCAiZW52X2xpc3QiOiBudWxsLCAiYWxsb3dfc3RkaW9fYWNjZXNzIjogdHJ1ZX0Kc2h1dGRvd25fY29udGFpbmVyIDo9IHsiYWxsb3dlZCI6IHRydWV9CnNpZ25hbF9jb250YWluZXJfcHJvY2VzcyA6PSB7ImFsbG93ZWQiOiB0cnVlfQpwbGFuOV9tb3VudCA6PSB7ImFsbG93ZWQiOiB0cnVlfQpwbGFuOV91bm1vdW50IDo9IHsiYWxsb3dlZCI6IHRydWV9CmdldF9wcm9wZXJ0aWVzIDo9IHsiYWxsb3dlZCI6IHRydWV9CmR1bXBfc3RhY2tzIDo9IHsiYWxsb3dlZCI6IHRydWV9CnJ1bnRpbWVfbG9nZ2luZyA6PSB7ImFsbG93ZWQiOiB0cnVlfQpsb2FkX2ZyYWdtZW50IDo9IHsiYWxsb3dlZCI6IHRydWV9CnNjcmF0Y2hfbW91bnQgOj0geyJhbGxvd2VkIjogdHJ1ZX0Kc2NyYXRjaF91bm1vdW50IDo9IHsiYWxsb3dlZCI6IHRydWV9Cg=="
          },
          "provisioningState": "Pending",
          "provisioningTimeoutInSeconds": 1800,
          "isCustomProvisioningTimeout": false,
          "containers": [
            {
              "name": "containergrp4814",
              "properties": {
                "image": "alpine",
                "command": [
                  "/bin/sh",
                  "-c",
                  "while true; do sleep 10; done"
                ],
                "ports": [
                  {
                    "port": 80
                  }
                ],
                "environmentVariables": [
                  {
               [...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/cc943344-3e50-4367-928f-79e03a97639d/providers/Microsoft.ContainerInstance/locations/eastus2euap/operations/a3df54b0-4468-4988-9991-04af343eac4c?api-version=2023-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11948"
      },
      "ResponseBody": {
        "id": "/subscriptions/cc943344-3e50-4367-928f-79e03a97639d/resourceGroups/testRg7102/providers/Microsoft.ContainerInstance/containerGroups/containergrp4814",
        "status": "Pending",
        "startTime": "2023-04-26T06:11:12.8701619Z",
        "properties": {
          "events": []
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/cc943344-3e50-4367-928f-79e03a97639d/providers/Microsoft.ContainerInstance/locations/eastus2euap/operations/a3df54b0-4468-4988-9991-04af343eac4c?api-version=2023-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11940"
      },
      "ResponseBody": {
        "id": "/subscriptions/cc943344-3e50-4367-928f-79e03a97639d/resourceGroups/testRg7102/providers/Microsoft.ContainerInstance/containerGroups/containergrp4814",
        "status": "Succeeded",
        "startTime": "2023-04-26T06:11:12.8701619Z",
        "properties": {
          "events": [
            {
              "count": 1,
              "firstTimestamp": "2023-04-26T06:11:18Z",
              "lastTimestamp": "2023-04-26T06:11:18Z",
              "name": "Pulling",
              "message": "pulling image \u0022alpine@sha256:b6ca290b6b4cdcca5b3db3ffa338ee0285c11744b4a6abaa9627746ee3291d8d\u0022",
              "type": "Normal"
            },
            {
              "count": 1,
              "firstTimestamp": "2023-04-26T06:11:19Z",
              "lastTimestamp": "2023-04-26T06:11:19Z",
              "name": "Pulled",
              "message": "Successfully pulled image \u0022alpine@sha256:b6ca290b6b4cdcca5b3db3ffa338ee0285c11744b4a6abaa9627746ee3291d8d\u0022",
              "type": "Normal"
            },
            {
              "count": 1,
              "firstTimestamp": "2023-04-26T06:12:02Z",
              "lastTimestamp": "2023-04-26T06:12:02Z",
              "name": "Started",
              "message": "Started container",
              "type": "Normal"
            }
          ]
        }
      }
    },
[...]
