{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/cc943344-3e50-4367-928f-79e03a97639d?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11997"
      },
      "ResponseBody": {
        "id": "/subscriptions/cc943344-3e50-4367-928f-79e03a97639d",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "subscriptionId": "cc943344-3e50-4367-928f-79e03a97639d",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": "ACI Test Automation 1",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/cc943344-3e50-4367-928f-79e03a97639d/resourcegroups/testRg1629?api-version=**",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "id": "/subscriptions/cc943344-3e50-4367-928f-79e03a97639d/resourceGroups/testRg1629",
        "name": "testRg1629",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/cc943344-3e50-4367-928f-79e03a97639d/resourceGroups/testRg1629/providers/Microsoft.ContainerInstance/containerGroups/containergrp9890?api-version=2022-10-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "identity": {
          "type": "SystemAssigned"
        },
        "tags": {},
        "location": "westus",
        "properties": {
          "containers": [
            {
              "name": "containergrp9890",
              "properties": {
                "image": "alpine",
                "command": [
                  "/bin/sh",
                  "-c",
                  "while true; do sleep 10; done"
                ],
                "ports": [
                  {
                    "port": 80
                  }
                ],
                "environmentVariables": [
                  {
                    "name": "secretEnv",
                    "secureValue": "secretValue1"
                  }
                ],
                "resources": {
                  "requests": {
                    "memoryInGB": 1.5,
                    "cpu": 1
                  }
                },
                "livenessProbe": {
                  "exec": {
                    "command": [
                      "ls"
                    ]
                  },
                  "periodSeconds": 20
                }
              }
            }
          ],
          "restartPolicy": "Never",
          "ipAddress": {
            "ports": [
              {
                "protocol": "TCP",
                "port": 80
              }
            ],
            "type": "Public",
            "dnsNameLabel": "containergrp9890"
          },
          "osType": "Linux",
          "diagnostics": {
            "logAnalytics": {
              "workspaceId": "workspaceid",
              "workspaceKey": "workspacekey"
            }
          },
          "sku": "Standard",
          "encryptionProperties": {
            "vaultBaseUrl": "https://cloudaci-cloudtest.vault.azure.net/",
            "keyName": "testencryptionkey",
            "keyVersion": "804d3f1d5ce2456b9bc3dc9e35aaa67e"
          },
          "initContainers": [
            {
              "name": "containergrp9890init",
              "properties": {
                "image": "alpine",
                "command": [
                  "/bin/sh",
                  "-c",
                  "sleep 5"
                ],
                "environmentVariables": [
                  {
                    "name": "secretEnv",
                    "secureValue": "secretValue1"
                  }
                ]
              }
            }
          ]
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/cc943344-3e50-4367-928f-79e03a97639d/providers/Microsoft.ContainerInstance/locations/westus/operations/2d9f5872-c008-47ba-afc1-cdda36a9f21d?api-version=2018-06-01",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-resource-requests-pt1h": "1797",
        "x-ms-ratelimit-remaining-subscription-resource-requests-pt5m": "897",
        "x-ms-ratelimit-remaining-subscription-writes": "1198"
      },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/cc943344-3e50-4367-928f-79e03a97639d/providers/Microsoft.ContainerInstance/locations/westus/operations/2d9f5872-c008-47ba-afc1-cdda36a9f21d?api-version=2022-10-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11996"
      },
      "ResponseBody": {
        "id": "/subscriptions/cc943344-3e50-4367-928f-79e03a97639d/resourceGroups/testRg1629/providers/Microsoft.ContainerInstance/containerGroups/containergrp9890",
        "status": "Pending",
        "startTime": "2023-01-26T02:46:01.4324743Z",
        "properties": {
          "events": []
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/cc943344-3e50-4367-928f-79e03a97639d/resourceGroups/testRg1629/providers/Microsoft.ContainerInstance/containerGroups/containergrp9890?api-version=2022-10-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11988"
      },
      "ResponseBody": {
        "properties": {
          "sku": "Standard",
          "encryptionProperties": {
            "vaultBaseUrl": "https://cloudaci-cloudtest.vault.azure.net/",
            "keyName": "testencryptionkey",
            "keyVersion": "804d3f1d5ce2456b9bc3dc9e35aaa67e"
          },
          "provisioningState": "Succeeded",
          "containers": [
            {
              "name": "containergrp9890",
              "properties": {
                "image": "alpine",
                "command": [
                  "/bin/sh",
                  "-c",
                  "while true; do sleep 10; done"
                ],
                "ports": [
                  {
                    "port": 80
                  }
                ],
                "environmentVariables": [
                  {
                    "name": "secretEnv"
                  }
                ],
                "instanceView": {
                  "restartCount": 0,
                  "currentState": {
                    "state": "Running",
                    "startTime": "2023-01-26T02:46:25.651Z",
                    "detailStatus": ""
                  }
                },
                "resources": {
                  "requests": {
                    "memoryInGB": 1.5,
                    "cpu": 1.0
                  }
                },
                "livenessProbe": {
                  "exec": {
                    "command": [
                      "ls"
                    ]
                  },
                  "periodSeconds": 20
                }
              }
            }
          ],
          "initContainers": [
            {
              "name": "containergrp9890init",
              "properties": {
                "image": "alpine",
                "command": [
                  "/bin/sh",
                  "-c",
                  "sleep 5"
                ],
                "environmentVariables": [
                  {
                    "name": "secretEnv"
                  }
                ],
                "instanceView": {
                  "restartCount": 0,
                  "currentState": {
                    "state": "Terminated",
                    "startTime": "2023-01-26T02:46:19.391Z",
                    "exitCode": 0,
                    "finishTime": "2023-01-26T02:46:24.87Z",
                    "detailStatus": "Completed"
                  }
                }
              }
            }
          ],
          "restartPolicy": "Never",
          "ipAddress": {
            "ports": [
              {
                "protocol": "TCP",
                "port": 80
              }
            ],
            "ip": "20.245.191.30",
            "type": "Public",
            "dnsNameLabel": "containergrp9890",
            "autoGeneratedDomainNameLabelScope": "Unsecure",
            "fqdn": "containergrp9890.westus.azurecontainer.io"
          },
          "osType": "Linux",
          "instanceView": {
            "events": [],
            "state": "Running"
          },
          "diagnostics": {
            "logAnalytics": {
              "workspaceId": "workspaceid"
            }
          }
        },
        "identity": {
          "principalId": "776bd8b1-f45d-4ee7-8ec3-3119148ad659",
          "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
          "type": "SystemAssigned"
        },
        "id": "/subscriptions/cc943344-3e50-4367-928f-79e03a97639d/resourceGroups/testRg1629/providers/Microsoft.ContainerInstance/containerGroups/containergrp9890",
        "name": "containergrp9890",
        "type": "Microsoft.ContainerInstance/containerGroups",
        "location": "westus",
        "tags": {}
      }
    },
[...]
