{
  "Entries": [
    {
      "RequestUri": "/subscriptions/23587e98-b6ac-4328-a753-03bcd3c8e744/providers/Microsoft.DocumentDB/locations?api-version=2021-10-15",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-gatewayversion": [
          "version=2.14.0"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11972"
        ],
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"subscriptionId/23587e98-b6ac-4328-a753-03bcd3c8e744/providers/Microsoft.DocumentDB/locations/brazilsoutheast/\",\r\n      \"type\": \"Microsoft.DocumentDB/locations\",\r\n      \"name\": \"Brazil Southeast\",\r\n      \"properties\": {\r\n        \"supportsAvailabilityZone\": true,\r\n        \"isResidencyRestricted\": false,\r\n        \"backupStorageRedundancies\": [\r\n          \"Geo\",\r\n          \"Local\"\r\n        ]\r\n      }\r\n    },\r\n    {\r\n      \"id\": \"subscriptionId/23587e98-b6ac-4328-a753-03bcd3c8e744/providers/Microsoft.DocumentDB/locations/centralus/\",\r\n      \"type\": \"Microsoft.DocumentDB/locations\",\r\n      \"name\": \"Central US\",\r\n      \"properties\": {\r\n        \"supportsAvailabilityZone\": true,\r\n        \"isResidencyRestricted\": false,\r\n        \"backupStorageRedundancies\": [\r\n          \"Geo\",\r\n     [...]
    {
      "RequestUri": "/subscriptions/23587e98-b6ac-4328-a753-03bcd3c8e744/providers/Microsoft.DocumentDB/locations/centralus?api-version=2021-10-15",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-gatewayversion": [
          "version=2.14.0"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11971"
        ],
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"subscriptionId/23587e98-b6ac-4328-a753-03bcd3c8e744/providers/Microsoft.DocumentDB/locations/centralus/\",\r\n  \"type\": \"Microsoft.DocumentDB/locations\",\r\n  \"name\": \"Central US\",\r\n  \"properties\": {\r\n    \"supportsAvailabilityZone\": true,\r\n    \"isResidencyRestricted\": false,\r\n    \"backupStorageRedundancies\": [\r\n      \"Geo\",\r\n      \"Zone\",\r\n      \"Local\"\r\n    ]\r\n  }\r\n}",
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "23587e98-b6ac-4328-a753-03bcd3c8e744"
  }
}