{
  "Entries": [
    {
      "RequestUri": "/subscriptions/259fbb24-9bcd-4cfc-865c-fc33b22fe38a/resourcegroups/CosmosDBDotNetSDKTestsRG5416?api-version=2015-11-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"central us\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/259fbb24-9bcd-4cfc-865c-fc33b22fe38a/resourceGroups/CosmosDBDotNetSDKTestsRG5416\",\r\n  \"name\": \"CosmosDBDotNetSDKTestsRG5416\",\r\n  \"location\": \"centralus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/259fbb24-9bcd-4cfc-865c-fc33b22fe38a/providers/Microsoft.DocumentDB/locations?api-version=2022-08-15-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-gatewayversion": [
          "version=2.14.0"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ],
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"subscriptionId/259fbb24-9bcd-4cfc-865c-fc33b22fe38a/providers/Microsoft.DocumentDB/locations/brazilsoutheast/\",\r\n      \"type\": \"Microsoft.DocumentDB/locations\",\r\n      \"name\": \"Brazil Southeast\",\r\n      \"properties\": {\r\n        \"supportsAvailabilityZone\": true,\r\n        \"isResidencyRestricted\": false,\r\n        \"backupStorageRedundancies\": [\r\n          \"Geo\",\r\n          \"Local\"\r\n        ]\r\n      }\r\n    },\r\n    {\r\n      \"id\": \"subscriptionId/259fbb24-9bcd-4cfc-865c-fc33b22fe38a/providers/Microsoft.DocumentDB/locations/centralus/\",\r\n      \"type\": \"Microsoft.DocumentDB/locations\",\r\n      \"name\": \"Central US\",\r\n      \"properties\": {\r\n        \"supportsAvailabilityZone\": true,\r\n        \"isResidencyRestricted\": false,\r\n        \"backupStorageRedundancies\": [\r\n          \"Geo\",\r\n     [...]
    {
      "RequestUri": "/subscriptions/259fbb24-9bcd-4cfc-865c-fc33b22fe38a/providers/Microsoft.DocumentDB/locations/Qatar%20Central?api-version=2022-08-15-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-gatewayversion": [
          "version=2.14.0"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11998"
        ],
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"subscriptionId/259fbb24-9bcd-4cfc-865c-fc33b22fe38a/providers/Microsoft.DocumentDB/locations/qatarcentral/\",\r\n  \"type\": \"Microsoft.DocumentDB/locations\",\r\n  \"name\": \"Qatar Central\",\r\n  \"properties\": {\r\n    \"supportsAvailabilityZone\": true,\r\n    \"isResidencyRestricted\": true,\r\n    \"backupStorageRedundancies\": [\r\n      \"Local\",\r\n      \"Zone\"\r\n    ]\r\n  }\r\n}",
      "StatusCode": 200
    }
  ],
  "Names": {
    "Init": [
      "CosmosDBDotNetSDKTestsRG5416"
    ]
  },
  "Variables": {
    "SubscriptionId": "259fbb24-9bcd-4cfc-865c-fc33b22fe38a"
  }
}