{
  "Entries": [
    {
      "RequestUri": "/subscriptions/259fbb24-9bcd-4cfc-865c-fc33b22fe38a/resourceGroups/CosmosDBDotNetSDKTestsRG6359/providers/Microsoft.DocumentDB/databaseAccounts/accountname1219?api-version=2021-11-15-preview",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-gatewayversion": [
          "version=2.14.0"
        ],
        "x-ms-ratelimit-remaining-subscription-deletes": [
          "14996"
        ],
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "{\r\n  \"code\": \"PreconditionFailed\",\r\n  \"message\": \"There is already an operation in progress which requires exclusive lock on this service accountname1219. Please retry the operation after sometime.\\r\\nActivityId: bc759545-3289-4953-a0cd-54655c841eef, Microsoft.Azure.Documents.Common/2.14.0\"\r\n}",
      "StatusCode": 412
    },
    {
      "RequestUri": "/subscriptions/259fbb24-9bcd-4cfc-865c-fc33b22fe38a/resourcegroups/CosmosDBDotNetSDKTestsRG6453?api-version=2015-11-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"central us\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/259fbb24-9bcd-4cfc-865c-fc33b22fe38a/resourceGroups/CosmosDBDotNetSDKTestsRG6453\",\r\n  \"name\": \"CosmosDBDotNetSDKTestsRG6453\",\r\n  \"location\": \"centralus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/259fbb24-9bcd-4cfc-865c-fc33b22fe38a/providers/Microsoft.DocumentDB/locations?api-version=2021-11-15-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-gatewayversion": [
          "version=2.14.0"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ],
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"subscriptionId/259fbb24-9bcd-4cfc-865c-fc33b22fe38a/providers/Microsoft.DocumentDB/locations/brazilsoutheast/\",\r\n      \"type\": \"Microsoft.DocumentDB/locations\",\r\n      \"name\": \"Brazil Southeast\",\r\n      \"properties\": {\r\n        \"supportsAvailabilityZone\": true,\r\n        \"isResidencyRestricted\": false,\r\n        \"backupStorageRedundancies\": [\r\n          \"Geo\",\r\n          \"Local\"\r\n        ]\r\n      }\r\n    },\r\n    {\r\n      \"id\": \"subscriptionId/259fbb24-9bcd-4cfc-865c-fc33b22fe38a/providers/Microsoft.DocumentDB/locations/centralus/\",\r\n      \"type\": \"Microsoft.DocumentDB/locations\",\r\n      \"name\": \"Central US\",\r\n      \"properties\": {\r\n        \"supportsAvailabilityZone\": true,\r\n        \"isResidencyRestricted\": false,\r\n        \"backupStorageRedundancies\": [\r\n          \"Geo\",\r\n     [...]
    {
      "RequestUri": "/subscriptions/259fbb24-9bcd-4cfc-865c-fc33b22fe38a/providers/Microsoft.DocumentDB/locations/Qatar%20Central?api-version=2021-11-15-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-gatewayversion": [
          "version=2.14.0"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11998"
        ],
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"subscriptionId/259fbb24-9bcd-4cfc-865c-fc33b22fe38a/providers/Microsoft.DocumentDB/locations/qatarcentral/\",\r\n  \"type\": \"Microsoft.DocumentDB/locations\",\r\n  \"name\": \"Qatar Central\",\r\n  \"properties\": {\r\n    \"supportsAvailabilityZone\": false,\r\n    \"isResidencyRestricted\": true,\r\n    \"backupStorageRedundancies\": [\r\n      \"Local\"\r\n    ]\r\n  }\r\n}",
      "StatusCode": 200
    }
  ],
  "Names": {
    "Init": [
      "CosmosDBDotNetSDKTestsRG6453"
    ]
  },
  "Variables": {
    "SubscriptionId": "259fbb24-9bcd-4cfc-865c-fc33b22fe38a"
  }
}