{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/providers/Microsoft.Compute/locations/southeastasia/publishers/MicrosoftWindowsServer/artifacttypes/vmimage/offers/WindowsServer/skus/2012-R2-Datacenter/versions?$top=1\u0026api-version=2019-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11991"
      },
      "ResponseBody": [
        "[\r\n",
        "  {\r\n",
        "    \u0022location\u0022: \u0022southeastasia\u0022,\r\n",
        "    \u0022name\u0022: \u00224.127.20180315\u0022,\r\n",
        "    \u0022id\u0022: \u0022/Subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/Providers/Microsoft.Compute/Locations/southeastasia/Publishers/MicrosoftWindowsServer/ArtifactTypes/VMImage/Offers/WindowsServer/Skus/2012-R2-Datacenter/Versions/4.127.20180315\u0022\r\n",
        "  }\r\n",
        "]"
      ]
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourcegroups/crptestar1508?api-version=2019-10-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "southeastasia",
        "tags": {
          "crptestar1508": "2020-10-12 10:19:26Z"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1198"
      },
      "ResponseBody": {
        "id": "/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/crptestar1508",
        "name": "crptestar1508",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "southeastasia",
        "tags": {
          "crptestar1508": "2020-10-12 10:19:26Z"
        },
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/crptestar1508/providers/Microsoft.Storage/storageAccounts/crptestar2484?api-version=2019-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "sku": {
          "name": "Standard_GRS"
        },
        "kind": "Storage",
        "location": "southeastasia",
        "properties": {}
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "text/plain; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/providers/Microsoft.Storage/locations/southeastasia/asyncoperations/41dd60e5-2c94-43ec-96fd-2358e453780d?monitor=true\u0026api-version=2019-06-01",
        "Retry-After": "17",
        "x-ms-ratelimit-remaining-subscription-writes": "1197"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/providers/Microsoft.Storage/locations/southeastasia/asyncoperations/41dd60e5-2c94-43ec-96fd-2358e453780d?monitor=true\u0026api-version=2019-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "text/plain; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/providers/Microsoft.Storage/locations/southeastasia/asyncoperations/41dd60e5-2c94-43ec-96fd-2358e453780d?monitor=true\u0026api-version=2019-06-01",
        "Retry-After": "17",
        "x-ms-ratelimit-remaining-subscription-reads": "11990"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/providers/Microsoft.Storage/locations/southeastasia/asyncoperations/41dd60e5-2c94-43ec-96fd-2358e453780d?monitor=true\u0026api-version=2019-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ratelimit-remaining-subscription-reads": "11975"
      },
      "ResponseBody": {
        "sku": {
          "name": "Standard_GRS",
          "tier": "Standard"
        },
        "kind": "Storage",
        "id": "/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/crptestar1508/providers/Microsoft.Storage/storageAccounts/crptestar2484",
        "name": "crptestar2484",
        "type": "Microsoft.Storage/storageAccounts",
        "location": "southeastasia",
        "tags": {},
        "properties": {
          "privateEndpointConnections": [],
          "networkAcls": {
            "bypass": "AzureServices",
            "virtualNetworkRules": [],
            "ipRules": [],
            "defaultAction": "Allow"
          },
          "supportsHttpsTrafficOnly": true,
          "encryption": {
            "services": {
              "file": {
                "keyType": "Account",
                "enabled": true,
                "lastEnabledTime": "2020-10-12T10:19:28.9867056Z"
              },
              "blob": {
                "keyType": "Account",
                "enabled": true,
                "lastEnabledTime": "2020-10-12T10:19:28.9867056Z"
              }
            },
            "keySource": "Microsoft.Storage"
          },
          "provisioningState": "Succeeded",
          "creationTime": "2020-10-12T10:19:28.9085558Z",
          "primaryEndpoints": {
            "blob": "https://crptestar2484.blob.core.windows.net/",
            "queue": "https://crptestar2484.queue.core.windows.net/",
            "table": "https://crptestar2484.table.core.windows.net/",
            "file": "https://crptestar2484.file.core.windows.net/"
          },
          "primaryLocation": "southeastasia",
          "statusOfPrimary": "available",
          "secondaryLocation": "eastasia",
          "statusOfSecondary": "available"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/crptestar1508/providers/Microsoft.Storage/storageAccounts?api-version=2019-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ratelimit-remaining-subscription-reads": "11974"
      },
      "ResponseBody": {
        "value": [
          {
            "sku": {
              "name": "Standard_GRS",
              "tier": "Standard"
            },
            "kind": "Storage",
            "id": "/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/crptestar1508/providers/Microsoft.Storage/storageAccounts/crptestar2484",
            "name": "crptestar2484",
            "type": "Microsoft.Storage/storageAccounts",
            "location": "southeastasia",
            "tags": {},
            "properties": {
[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/crptestar1508/providers/Microsoft.Network/publicIPAddresses/pip4016?api-version=2020-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "southeastasia",
        "tags": {
          "key": "value"
        },
        "properties": {
          "publicIPAllocationMethod": "Dynamic",
          "dnsSettings": {
            "domainNameLabel": "dn3024"
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncNotification": "Enabled",
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/providers/Microsoft.Network/locations/southeastasia/operations/d06c4aa4-4bc5-4686-be60-4a88adbbc748?api-version=2020-04-01",
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "1",
        "x-ms-ratelimit-remaining-subscription-writes": "1195"
      },
      "ResponseBody": [
        "{\r\n",
        "  \u0022name\u0022: \u0022pip4016\u0022,\r\n",
        "  \u0022id\u0022: \u0022/sub[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/providers/Microsoft.Network/locations/southeastasia/operations/d06c4aa4-4bc5-4686-be60-4a88adbbc748?api-version=2020-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "2",
        "x-ms-ratelimit-remaining-subscription-reads": "11972"
      },
      "ResponseBody": [
        "{\r\n",
        "  \u0022status\u0022: \u0022InProgress\u0022\r\n",
        "}"
      ]
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/crptestar1508/providers/Microsoft.Network/publicIPAddresses/pip4016?api-version=2020-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\u0022eeb1165c-5330-4a7f-be19-97fa97793e5e\u0022",
        "x-ms-ratelimit-remaining-subscription-reads": "11969"
      },
      "ResponseBody": [
        "{\r\n",
        "  \u0022name\u0022: \u0022pip4016\u0022,\r\n",
        "  \u0022id\u0022: \u0022/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/crptestar1508/providers/Microsoft.Network/publicIPAddresses/pip4016\u0022,\r\n",
        "  \u0022etag\u0022: \u0022W/\\\u0022eeb1165c-5330-4a7f-be19-97fa97793e5e\\\u0022\u0022[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/crptestar1508/providers/Microsoft.Network/virtualNetworks/vn9328?api-version=2020-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "southeastasia",
        "properties": {
          "addressSpace": {
            "addressPrefixes": [
              "10.0.0.0/16"
            ]
          },
          "dhcpOptions": {
            "dnsServers": [
              "10.1.1.1",
              "10.1.2.4"
            ]
          },
          "subnets": [
            {
              "name": "sn1734",
              "properties": {
                "addressPrefix": "10.0.0.0/24"
              }
            }
          ]
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncNotification": "Enabled",
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/providers/Microsoft.Network/locations/southeastasia/operations/e19b91f0-4130-4bb3-bfb0-9db45002e286?api-version=2020-04-01",
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "3",
 [...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/crptestar1508/providers/Microsoft.Network/virtualNetworks/vn9328/subnets/sn1734?api-version=2020-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\u0022e1bb449f[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/crptestar1508/providers/Microsoft.Network/networkInterfaces/nic7910?api-version=2020-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "southeastasia",
        "tags": {
          "key": "value"
        },
        "properties": {
          "ipConfigurations": [
            {
              "name": "ip7083",
              "properties": {
                "privateIPAllocationMethod": "Dynamic",
                "subnet": {
                  "name": "sn1734",
                  "id": "/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/crptestar1508/providers/Microsoft.Network/virtualNetworks/vn9328/subnets/sn1734",
                  "properties": {
                    "addressPrefix": "10.0.0.0/24",
                    "delegations": [],
                    "privateEndpointNetworkPolicies": "Enabled",
                    "privateLinkServiceNetworkPolicies": "Enabled"
                  }
                }
              }
            }
          ]
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncNotification": "Enabled",
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/providers/Microsoft.Network/locations/southeastasia/operations/58f4556f-f895-40bd-88b7-20f21a2589ac?api-version=2020-04-01",
        "Content-Type": "application/json; charset=utf[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/crptestar1508/providers/Microsoft.Compute/availabilitySets/as8844?api-version=2019-12-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "sku": {
          "name": "Classic"
        },
        "location": "southeastasia",
        "tags": {
          "RG": "rg",
          "testTag": "1"
        },
        "properties": {
          "platformUpdateDomainCount": 5,
          "platformFaultDomainCount": 3
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-resource": "Microsoft.Compute/PutVM3Min;239,Microsoft.Compute/PutVM30Min;1199",
        "x-ms-ratelimit-remaining-subscription-writes": "1192"
      },
      "ResponseBody": [
        "{\r\n",
        "  \u0022name\u0022: \u0022as8844\u0022,\r\n",
        "  \u0022id\u0022: \u0022/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/crptestar1508/providers/Microsoft.Compute/availabilitySets/as8844\u0022,\r\n",
        "  \u0022type\u0022: \u0022Microsoft.Compute/availabilitySets\u0022,\r\n",
        "  \u0022location\u0022: \u0022southeastasia\u0022,\r\n",
        "  \u0022tags\u0022: {\r\n",
        "    \u0022RG\u0022: \u0022rg\u0022,\r\n",
        "    \u0022testTag\u0022: \u00221\u0022\r\n",
        "  },\r\n",
        "  \u0022properties\u0022: {\r\n",
        "    \u0022platformUpdateDomainCount\u0022: 5,\r\n",
        "    \u0022platformFaultDomainCount\u0022: 3\r\n",
        "  },\r\n",
        "  \u0022sku\u0022: {\r\n",
        "    \u0022name\u0022: \u0022Classic\u0022\r\n",
        "  }\r\n",
        "}"
      ]
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/crptestar1508/providers/Microsoft.Compute/virtualMachines/vm2829?api-version=2019-12-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "southeastasia",
        "tags": {
          "RG": "rg",
          "testTag": "1"
        },
        "properties": {
          "hardwareProfile": {
            "vmSize": "Standard_A0"
          },
          "storageProfile": {
            "imageReference": {
              "publisher": "MicrosoftWindowsServer",
              "offer": "WindowsServer",
              "sku": "2012-R2-Datacenter",
              "version": "4.127.20180315"
            },
            "osDisk": {
              "name": "test",
              "vhd": {
                "uri": "https://crptestar2484.blob.core.windows.net/crptestar4484/oscrptestar5214.vhd"
              },
              "caching": "None",
              "createOption": "FromImage"
            }
          },
          "osProfile": {
            "computerName": "Test",
            "adminUsername": "Foo12",
            "adminPassword": "[PLACEHOLDEr1]"
          },
          "networkProfile": {
            "networkInterfaces": [
              {
                "id": "/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/crptestar1508/providers/Microsoft.Network/networkInterfaces/nic7910",
                "properties": {}
              }
            ]
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncNotification": "Enabled",
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/providers/Micros[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/providers/Microsoft.Compute/locations/southeastasia/operations/ecec2e01-6979-4a3c-933d-c8dc5ab452a0?api-version=2019-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "50",
        "x-ms-ratelimit-remaining-resource": "Microsoft.Compute/GetOperation3Min;14999,Microsoft.Compute/GetOperation30Min;29995",
        "x-ms-ratelimit-remaining-subscription-reads": "11960"
      },
      "ResponseBody": [
        "{\r\n",
        "  \u0022startTime\u0022: \u00222020-10-12T10:19:55.2204079\u002B00:00\u0022,\r\n",
        "  \u0022status\u0022: \u0022InProgress\u0022,\r\n",
        "  \u0022name\u0022: \u0022ecec2e01-6979-4a3c-933d-c8dc5ab452a0\u0022\r\n",
        "}"
      ]
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/crptestar1508/providers/Microsoft.Compute/virtualMachines/vm2829?$expand=instanceView\u0026api-version=2019-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimi[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/crptestar1508/providers/Microsoft.Compute/virtualMachines/vm2829/instanceView?api-version=2019-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-r[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/crptestar1508/providers/Microsoft.Compute/virtualMachines?api-version=2019-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-resource": "Microsoft[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/crptestar1508/providers/Microsoft.Compute/virtualMachines/vm2829/vmSizes?api-version=2019-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-resour[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/crptestar1508/providers/Microsoft.Compute/availabilitySets/as8844/vmSizes?api-version=2019-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-resou[...]
