{
  "Entries": [
    {
      "RequestUri": "/subscriptions/a9216f37-b90e-4db2-b844-b171e5394fc1/resourcegroups/res295?api-version=2017-05-10",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"CENTRALUSEUAP\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/a9216f37-b90e-4db2-b844-b171e5394fc1/resourceGroups/res295\",\r\n  \"name\": \"res295\",\r\n  \"location\": \"centraluseuap\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/a9216f37-b90e-4db2-b844-b171e5394fc1/resourceGroups/res295/providers/Microsoft.CognitiveServices/accounts/csa328?api-version=2021-04-30",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"kind\": \"Face\",\r\n  \"sku\": {\r\n    \"name\": \"S0\"\r\n  },\r\n  \"tags\": {\r\n    \"key1\": \"value1\",\r\n    \"key2\": \"value2\"\r\n  },\r\n  \"location\": \"CENTRALUSEUAP\",\r\n  \"properties\": {}\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "ETag": [
          "\"1b00acd8-0000-3300-0000-609c7b020000\""
        ],
        "azure-asyncoperation": [
          "https://management.azure.com/subscriptions/a9216f37-b90e-4db2-b844-b171e5394fc1/providers/Microsoft.CognitiveServices/locations/CENTRALUSEUAP/operationResults/a223310e-075e-4512-8b7b-8e693d205409?api-version=2017-04-18"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1198"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/a9216f37-b90e-4db2-b844-b171e5394fc1/resourceGroups/res295/providers/Microsoft.CognitiveServices/accounts/csa328\",\r\n  \"name\": \"csa328\",\r\n  \"type\": \"Microsoft.CognitiveServices/accounts\",\r\n  \"etag\": \"\\\"1b00acd8-0000-3300-0000-609c7b020000\\\"\",\r\n  \"systemData\": {\r\n    \"createdBy\": \"50841d5f-166a-406c-8472-6800c9698b43\",\r\n    \"createdByType\": \"Application\",\r\n    \"createdAt\": \"2021-05-13T01:04:02.3509336Z\",\r\n    \"lastModifiedBy\": \"50841d5f-166a-406c-8472-6800c9698b43\",\r\n    \"lastModifiedByType\": \"Application\",\r\n    \"lastModifiedAt\": \"2021-05-13T01:04:02.3509336Z\"\r\n  },\r\n  \"location\": \"CENTRALUSEUAP\",\r\n  \"sku\": {\r\n    \"name\": \"S0\"\r\n  },\r\n  \"kind\": \"Face\",\r\n  \"tags\": {\r\n    \"key1\": \"value1\",\r\n    \"key2\": \"value2\"\r\n  },\r\n  \"properties\": {\r\n    \"endpoint\": \"https://centraluseuap.api.cognitive.microsoft.com/\",\r\n    \"dateCreated\": \"2021-05-13T01:04:02.759019Z\",\r\n    \"callRateLimit\": {\r\n      \"rules\": [\r\n        {\r\n          \"key\": \"face\",\r\n          \"renewalPeriod\": 1,\r\n          \"count\": 15,\r\n          \"dynamicThrottlingEnabled\": false,\r\n          \"matchPatterns\": [\r\n            {\r\n              \"path\": \"face/*\",\r\n              \"method\": \"*\"\r\n            }\r\n          ]\r\n        },\r\n        {\r\n          \"key\": \"container.billing\",\r\n          \"renewalPeriod\": 10,\r\n          \"count\": 500,\r\n          \"dynamicThrottlingEnabled\": false,\r\n          \"matchPatterns\": [\r\n            {\r\n              \"path\": \"billing/*\",\r\n              \"method\": \"*\"\r\n            }\r\n          ]\r\n        },\r\n        {\r\n          \"key\": \"default\",\r\n          \"renewalPeriod\": 1,\r\n          \"count\": 15,\r\n          \"dynamicThrottlingEnabled\": false,\r\n          \"matchPatterns\": [\r\n            {\r\n              \"path\": \"*\",\r\n              \"method\": \"*\"\r\n            }\r\n          ]\r\n        }\r\n      ]\r\n    },\r\n    \"privateEndpointConnections\": [],\r\n    \"publicNetworkAccess\": \"Enabled\",\r\n    \"capabilities\": [\r\n      {\r\n        \"name\": \"VirtualNetworks\"\r\n      },\r\n      {\r\n        \"name\": \"Container\",\r\n        \"value\": \"Face.*,Face.Face\"\r\n      }\r\n    ],\r\n    \"endpoints\": {\r\n      \"face\": \"https://centraluseuap.api.cognitive.microsoft.com/\"\r\n    },\r\n    \"provisioningState\": \"Creating\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/a9216f37-b90e-4db2-b844-b171e5394fc1/providers/Microsoft.CognitiveServices/locations/CENTRALUSEUAP/operationResults/a223310e-075e-4512-8b7b-8e693d205409?api-version=2017-04-18",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/a9216f37-b90e-4db2-b844-b171e5394fc1/providers/Microsoft.CognitiveServices/locations/CENTRALUSEUAP/operationResults/a223310e-075e-4512-8b7b-8e693d205409\",\r\n  \"name\": \"a223310e-075e-4512-8b7b-8e693d205409\",\r\n  \"status\": \"Succeeded\",\r\n  \"startTime\": \"2021-05-13T01:04:02Z\",\r\n  \"endTime\": \"2021-05-13T01:04:03Z\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/a9216f37-b90e-4db2-b844-b171e5394fc1/resourceGroups/res295/providers/Microsoft.CognitiveServices/accounts/csa328?api-version=2021-04-30",
      "RequestMethod": "PATCH",
      "RequestBody": "{\r\n  \"kind\": \"Face\",\r\n  \"sku\": {\r\n    \"name\": \"S0\"\r\n  },\r\n  \"tags\": {\r\n    \"key1\": \"value1\",\r\n    \"key2\": \"value2\"\r\n  },\r\n  \"location\": \"CENTRALUSEUAP\",\r\n  \"properties\": {\r\n    \"publicNetworkAccess\": \"Enabled\",\r\n    \"disableLocalAuth\": true\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "ETag": [
          "\"1b00d1d8-0000-3300-0000-609c7b220000\""
        ],
        "Location": [
          "https://management.azure.com/subscriptions/a9216f37-b90e-4db2-b844-b171e5394fc1/providers/Microsoft.CognitiveServices/locations/CENTRALUSEUAP/operationResults/07971ca7-5e51-42ad-b68c-e28a2804170b?api-version=2017-04-18&operationResultResponseType=Location"
        ],
        "azure-asyncoperation": [
          "https://management.azure.com/subscriptions/a9216f37-b90e-4db2-b844-b171e5394fc1/providers/Microsoft.CognitiveServices/locations/CENTRALUSEUAP/operationResults/07971ca7-5e51-[...]
    {
      "RequestUri": "/subscriptions/a9216f37-b90e-4db2-b844-b171e5394fc1/providers/Microsoft.CognitiveServices/locations/CENTRALUSEUAP/operationResults/07971ca7-5e51-42ad-b68c-e28a2804170b?api-version=2017-04-18",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11997"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/a9216f37-b90e-4db2-b844-b171e5394fc1/providers/Microsoft.CognitiveServices/locations/CENTRALUSEUAP/operationResults/07971ca7-5e51-42ad-b68c-e28a2804170b\",\r\n  \"name\": \"07971ca7-5e51-42ad-b68c-e28a2804170b\",\r\n  \"status\": \"Succeeded\",\r\n  \"startTime\": \"2021-05-13T01:04:34Z\",\r\n  \"endTime\": \"2021-05-13T01:04:36Z\"\r\n}",
      "StatusCode": 200
    }
  ],
  "Names": {
    "CreateResourceGroup": [
      "res295"
    ],
    "CreateCognitiveServicesAccount": [
      "csa328"
    ]
  },
  "Variables": {
    "SubscriptionId": "a9216f37-b90e-4db2-b844-b171e5394fc1"
  }
}