<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.IdentityModel.Clients.ActiveDirectory" version="2.18.206251556" targetFramework="net45" />
  <package id="Microsoft.Rest.ClientRuntime" version="1.2.0" targetFramework="net45" />
  <package id="Microsoft.Rest.ClientRuntime.Azure" version="1.0.20" targetFramework="net45" />
  <package id="Microsoft.Rest.ClientRuntime.Azure.Authentication" version="0.9.2" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="6.0.4" targetFramework="net45" />
</packages>