{
  "Entries": [
    {
      "RequestUri": "https://pakrymtables3prim.table.cosmos.azure.com/Tables?$format=application%2Fjson%3Bodata%3Dminimalmetadata",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json; odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Wed, 29 Dec 2021 18:16:42 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "TableName": "testtable16Jo6Fej"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "ETag": "W/\u0022datetime\u00272021-12-29T18%3A16%3A42.9714440Z\u0027\u0022",
        "Location": "https://pakrymtables3prim.table.cosmos.azure.com/Tables(\u0027testtable16Jo6Fej\u0027)"
      },
      "ResponseBody": {
        "TableName": "testtable16Jo6Fej",
        "odata.metadata": "https://pakrymtables3prim.table.cosmos.azure.com/$metadata#Tables/@Element"
      }
    },
    {
      "RequestUri": "https://pakrymtables3prim.table.cosmos.azure.com/$batch",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "multipart/mixed; boundary=batch_12258476-d350-454c-acff-a05b1f8ba9ed",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Wed, 29 Dec 2021 18:16:43 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": "LS1tdWx0aXBhcnRfYm91bmRhcnkNCkNvbnRlbnQtVHlwZTogbXVsdGlwYXJ0L21pe[...]
    {
      "RequestUri": "https://pakrymtables3prim.table.cosmos.azure.com/testtable16Jo6Fej(PartitionKey=\u0027PK\u0027,RowKey=\u0027RK\u0027)?$format=application%2Fjson%3Bodata%3Dminimalmetadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Wed, 29 Dec 2021 18:16:43 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "ETag": "W/\u0022datetime\u00272021-12-29T18%3A16%3A43.4957320Z\u0027\u0022"
      },
      "ResponseBody": {
        "odata.metadata": "https://pakrymtables3prim.table.cosmos.azure.com/testtable16Jo6Fej/$metadata#testtable16Jo6Fej/@Element",
        "odata.etag": "W/\u0022datetime\u00272021-12-29T18%3A16%3A43.4957320Z\u0027\u0022",
        "Value": "Foo",
        "PartitionKey": "PK",
        "RowKey": "RK",
        "Timestamp": "2021-12-29T18:16:43.4957320Z"
      }
    },
    {
      "RequestUri": "https://pakrymtables3prim.table.cosmos.azure.com/testtable16Jo6Fej()?$format=application%2Fjson%3Bodata%3Dminimalmetadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Wed, 29 Dec 2021 18:16:43 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata"
      },
      "ResponseBody": {
        "value": [
          {
            "odata.etag": "W/\u0022datetime\u00272021-12-29T18%3A16%3A43.4957320Z\u0027\u0022",
            "Value": "Foo",
            "PartitionKey": "PK",
            "RowKey": "RK",
            "Timestamp": "2021-12-29T18:16:43.4957320Z"
          }
        ],
        "odata.metadata": "https://pakrymtables3prim.table.cosmos.azure.com/$metadata#testtable16Jo6Fej"
      }
    },
    {
      "RequestUri": "https://pakrymtables3prim.table.cosmos.azure.com/testtable16Jo6Fej(PartitionKey=\u0027PK\u0027,RowKey=\u0027RK\u0027)?$format=application%2Fjson%3Bodata%3Dminimalmetadata",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "DataServiceVersion": "3.0",
        "If-Match": "*",
        "x-ms-date": "Wed, 29 Dec 2021 18:16:43 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://pakrymtables3prim.table.cosmos.azure.com/testtable16Jo6Fej(PartitionKey=\u0027PK\u0027,RowKey=\u0027RK\u0027)?$format=application%2Fjson%3Bodata%3Dminimalmetadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Wed, 29 Dec 2021 18:16:43 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "ETag": "W/\u0022datetime\u00272021-12-29T18%3A16%3A43.6824072Z\u0027\u0022"
      },
      "ResponseBody": {
        "odata.metadata": "https://pakrymtables3prim.table.cosmos.azure.com/testtable16Jo6Fej/$metadata#testtable16Jo6Fej/@Element",
        "odata.etag": "W/\u0022datetime\u00272021-12-29T18%3A16%3A43.6824072Z\u0027\u0022",
        "Value@odata.type": "Edm.Guid",
        "Value": "81a130d2-502f-4cf1-a376-63edeb000e9f",
        "PartitionKey": "PK",
        "RowKey": "RK",
        "Timestamp": "2021-12-29T18:16:43.6824072Z"
      }
    },
[...]
    {
      "RequestUri": "https://pakrymtables3prim.table.cosmos.azure.com/Tables(\u0027testtable16Jo6Fej\u0027)",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 29 Dec 2021 18:16:44 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "COSMOS_TABLES_ENDPOINT_SUFFIX": "cosmos.azure.com",
    "RandomSeed": "80812698",
    "TABLES_COSMOS_ACCOUNT_NAME": "pakrymtables3prim",
    "TABLES_PRIMARY_COSMOS_ACCOUNT_KEY": "Kg=="
  }
}
