{
  "Entries": [
    {
      "RequestUri": "https://jolovtablesprim.table.cosmos.azure.com/Tables?$format=application%2Fjson%3Bodata%3Dminimalmetadata",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json; odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Mon, 31 Jan 2022 22:20:48 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "TableName": "testtablekXMLA8IK"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "ETag": "W/\u0022datetime\u00272022-01-31T22%3A20%3A48.8281096Z\u0027\u0022",
        "Location": "https://jolovtablesprim.table.cosmos.azure.com/Tables(\u0027testtablekXMLA8IK\u0027)"
      },
      "ResponseBody": {
        "TableName": "testtablekXMLA8IK",
        "odata.metadata": "https://jolovtablesprim.table.cosmos.azure.com/$metadata#Tables/@Element"
      }
    },
    {
      "RequestUri": "https://jolovtablesprim.table.cosmos.azure.com/$batch",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "multipart/mixed; boundary=batch_f4df4c63-e77a-0699-5a42-3374d63d2635",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Mon, 31 Jan 2022 22:20:49 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": "LS1iYXRjaF9mNGRmNGM2My1lNzdhLTA2OTktNWE0Mi0zMzc0ZDYzZDI2MzUNCkNvbnR[...]
    {
      "RequestUri": "https://jolovtablesprim.table.cosmos.azure.com/testtablekXMLA8IK(PartitionKey=\u0027PK\u0027,RowKey=\u0027RK\u0027)?$format=application%2Fjson%3Bodata%3Dminimalmetadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Mon, 31 Jan 2022 22:20:49 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "ETag": "W/\u0022datetime\u00272022-01-31T22%3A20%3A49.2361736Z\u0027\u0022"
      },
      "ResponseBody": {
        "odata.metadata": "https://jolovtablesprim.table.cosmos.azure.com/testtablekXMLA8IK/$metadata#testtablekXMLA8IK/@Element",
        "odata.etag": "W/\u0022datetime\u00272022-01-31T22%3A20%3A49.2361736Z\u0027\u0022",
        "Value": "Foo",
        "PartitionKey": "PK",
        "RowKey": "RK",
        "Timestamp": "2022-01-31T22:20:49.2361736Z"
      }
    },
    {
      "RequestUri": "https://jolovtablesprim.table.cosmos.azure.com/Tables(\u0027testtablekXMLA8IK\u0027)",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 31 Jan 2022 22:20:49 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "COSMOS_TABLES_ENDPOINT_SUFFIX": "cosmos.azure.com",
    "RandomSeed": "1655409086",
    "TABLES_COSMOS_ACCOUNT_NAME": "jolovtablesprim",
    "TABLES_PRIMARY_COSMOS_ACCOUNT_KEY": "Kg=="
  }
}
