{
  "Entries": [
    {
      "RequestUri": "https://t71f792aaca8f076dprim.table.cosmos.azure.com/Tables?$format=application%2Fjson%3Bodata%3Dminimalmetadata",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json;odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Wed, 08 Mar 2023 07:46:10 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": {
        "TableName": "testtablebA0VGeh2"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "ETag": "W/\u0022datetime\u00272023-03-08T07%3A46%3A18.1624839Z\u0027\u0022",
        "Location": "https://t71f792aaca8f076dprim.table.cosmos.azure.com/Tables(\u0027testtablebA0VGeh2\u0027)"
      },
      "ResponseBody": {
        "TableName": "testtablebA0VGeh2",
        "odata.metadata": "https://t71f792aaca8f076dprim.table.cosmos.azure.com/$metadata#Tables/@Element"
      }
    },
    {
      "RequestUri": "https://t71f792aaca8f076dprim.table.cosmos.azure.com/$batch",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "multipart/mixed; boundary=batch_6eae7882-aa99-e520-98d7-dad05cb0c946",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Wed, 08 Mar 2023 07:46:11 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": "LS1iYXRjaF82ZWFlNzg4Mi1hYTk5LWU1MjAtOThkNy1kYWQwNWNiMGM5NDYNC[...]
    {
      "RequestUri": "https://t71f792aaca8f076dprim.table.cosmos.azure.com/testtablebA0VGeh2(PartitionKey=\u0027PK\u0027,RowKey=\u0027RK\u0027)?$format=application%2Fjson%3Bodata%3Dminimalmetadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Wed, 08 Mar 2023 07:46:12 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "ETag": "W/\u0022datetime\u00272023-03-08T07%3A46%3A18.6204167Z\u0027\u0022"
      },
      "ResponseBody": {
        "odata.metadata": "https://t71f792aaca8f076dprim.table.cosmos.azure.com/testtablebA0VGeh2/$metadata#testtablebA0VGeh2/@Element",
        "odata.etag": "W/\u0022datetime\u00272023-03-08T07%3A46%3A18.6204167Z\u0027\u0022",
        "Value": "Foo",
        "PartitionKey": "PK",
        "RowKey": "RK",
        "Timestamp": "2023-03-08T07:46:18.6204167Z"
      }
    },
    {
      "RequestUri": "https://t71f792aaca8f076dprim.table.cosmos.azure.com/testtablebA0VGeh2()?$format=application%2Fjson%3Bodata%3Dminimalmetadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Wed, 08 Mar 2023 07:46:12 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata"
      },
      "ResponseBody": {
        "value": [
          {
            "odata.etag": "W/\u0022datetime\u00272023-03-08T07%3A46%3A18.6204167Z\u0027\u0022",
            "Value": "Foo",
            "PartitionKey": "PK",
            "RowKey": "RK",
            "Timestamp": "2023-03-08T07:46:18.6204167Z"
          }
        ],
        "odata.metadata": "https://t71f792aaca8f076dprim.table.cosmos.azure.com/$metadata#testtablebA0VGeh2"
      }
    },
    {
      "RequestUri": "https://t71f792aaca8f076dprim.table.cosmos.azure.com/testtablebA0VGeh2(PartitionKey=\u0027PK\u0027,RowKey=\u0027RK\u0027)?$format=application%2Fjson%3Bodata%3Dminimalmetadata",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "DataServiceVersion": "3.0",
        "If-Match": "*",
        "x-ms-date": "Wed, 08 Mar 2023 07:46:12 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "Content-Type": "application/json"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://t71f792aaca8f076dprim.table.cosmos.azure.com/testtablebA0VGeh2(PartitionKey=\u0027PK\u0027,RowKey=\u0027RK\u0027)?$format=application%2Fjson%3Bodata%3Dminimalmetadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Wed, 08 Mar 2023 07:46:12 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "ETag": "W/\u0022datetime\u00272023-03-08T07%3A46%3A19.4226183Z\u0027\u0022"
      },
      "ResponseBody": {
        "odata.metadata": "https://t71f792aaca8f076dprim.table.cosmos.azure.com/testtablebA0VGeh2/$metadata#testtablebA0VGeh2/@Element",
        "odata.etag": "W/\u0022datetime\u00272023-03-08T07%3A46%3A19.4226183Z\u0027\u0022",
        "Value@odata.type": "Edm.Int64",
        "Value": "1",
        "PartitionKey": "PK",
        "RowKey": "RK",
        "Timestamp": "2023-03-08T07:46:19.4226183Z"
      }
    },
[...]
    {
      "RequestUri": "https://t71f792aaca8f076dprim.table.cosmos.azure.com/Tables(\u0027testtablebA0VGeh2\u0027)",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 08 Mar 2023 07:46:16 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "Content-Type": "application/json"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "COSMOS_TABLES_ENDPOINT_SUFFIX": "cosmos.azure.com",
    "RandomSeed": "2131154677",
    "TABLES_COSMOS_ACCOUNT_NAME": "t71f792aaca8f076dprim",
    "TABLES_PRIMARY_COSMOS_ACCOUNT_KEY": "Kg=="
  }
}
