{
  "Entries": [
    {
      "RequestUri": "https://jolovtablesprim.table.cosmos.azure.com/Tables?$format=application%2Fjson%3Bodata%3Dminimalmetadata",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json; odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Mon, 31 Jan 2022 22:21:00 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "TableName": "testtableZAs3Vlej"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "ETag": "W/\u0022datetime\u00272022-01-31T22%3A21%3A00.6172168Z\u0027\u0022",
        "Location": "https://jolovtablesprim.table.cosmos.azure.com/Tables(\u0027testtableZAs3Vlej\u0027)"
      },
      "ResponseBody": {
        "TableName": "testtableZAs3Vlej",
        "odata.metadata": "https://jolovtablesprim.table.cosmos.azure.com/$metadata#Tables/@Element"
      }
    },
    {
      "RequestUri": "https://jolovtablesprim.table.cosmos.azure.com/testtableZAs3Vlej(PartitionKey=\u0027PK\u0027,RowKey=\u0027RK\u0027)?$format=application%2Fjson%3Bodata%3Dminimalmetadata",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Mon, 31 Jan 2022 22:21:01 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "PartitionKey": "PK",
        "RowKey": "RK",
        "Value": "Foo"
      },
      "StatusCode": 204,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "ETag": "W/\u0022datetime\u00272022-01-31T22%3A21%3A01.1346440Z\u0027\u0022"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jolovtablesprim.table.cosmos.azure.com/$batch",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "multipart/mixed; boundary=batch_ed650878-b4a8-3b02-d9bc-7f800b056228",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Mon, 31 Jan 2022 22:21:01 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": "LS1iYXRjaF9lZDY1MDg3OC1iNGE4LTNiMDItZDliYy03ZjgwMGIwNTYyMjgNCkNvbnR[...]
    {
      "RequestUri": "https://jolovtablesprim.table.cosmos.azure.com/testtableZAs3Vlej(PartitionKey=\u0027PK\u0027,RowKey=\u0027RK\u0027)?$format=application%2Fjson%3Bodata%3Dminimalmetadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Mon, 31 Jan 2022 22:21:01 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "ETag": "W/\u0022datetime\u00272022-01-31T22%3A21%3A01.3251080Z\u0027\u0022"
      },
      "ResponseBody": {
        "odata.metadata": "https://jolovtablesprim.table.cosmos.azure.com/testtableZAs3Vlej/$metadata#testtableZAs3Vlej/@Element",
        "odata.etag": "W/\u0022datetime\u00272022-01-31T22%3A21%3A01.3251080Z\u0027\u0022",
        "PartitionKey": "PK",
        "RowKey": "RK",
        "Value": "Bar",
        "Timestamp": "2022-01-31T22:21:01.3251080Z"
      }
    },
    {
      "RequestUri": "https://jolovtablesprim.table.cosmos.azure.com/Tables(\u0027testtableZAs3Vlej\u0027)",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 31 Jan 2022 22:21:01 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "COSMOS_TABLES_ENDPOINT_SUFFIX": "cosmos.azure.com",
    "RandomSeed": "1921994016",
    "TABLES_COSMOS_ACCOUNT_NAME": "jolovtablesprim",
    "TABLES_PRIMARY_COSMOS_ACCOUNT_KEY": "Kg=="
  }
}
