{
  "Entries": [
    {
      "RequestUri": "https://chrisstablesprim.table.cosmos.azure.com/Tables?$format=application%2Fjson%3Bodata%3Dminimalmetadata",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json; odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Thu, 14 Apr 2022 15:46:54 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": {
        "TableName": "testtable9FhsFM57"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "ETag": "W/\u0022datetime\u00272022-04-14T15%3A46%3A55.2219656Z\u0027\u0022",
        "Location": "https://chrisstablesprim.table.cosmos.azure.com/Tables(\u0027testtable9FhsFM57\u0027)"
      },
      "ResponseBody": {
        "TableName": "testtable9FhsFM57",
        "odata.metadata": "https://chrisstablesprim.table.cosmos.azure.com/$metadata#Tables/@Element"
      }
    },
    {
      "RequestUri": "https://chrisstablesprim.table.cosmos.azure.com/testtable9FhsFM57(PartitionKey=\u0027PK\u0027,RowKey=\u0027RK\u0027)?$format=application%2Fjson%3Bodata%3Dminimalmetadata",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Thu, 14 Apr 2022 15:46:55 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": {
        "PartitionKey": "PK",
        "RowKey": "RK",
        "Value": "Foo"
      },
      "StatusCode": 204,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "ETag": "W/\u0022datetime\u00272022-04-14T15%3A46%3A55.6277768Z\u0027\u0022"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://chrisstablesprim.table.cosmos.azure.com/$batch",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "multipart/mixed; boundary=batch_ed061132-cbb1-2a0c-69c7-501571b791f7",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Thu, 14 Apr 2022 15:46:55 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": "LS1iYXRjaF9lZDA2MTEzMi1jYmIxLTJhMGMtNjljNy01MDE1NzFiNzkxZjcNCkNvbn[...]
    {
      "RequestUri": "https://chrisstablesprim.table.cosmos.azure.com/testtable9FhsFM57(PartitionKey=\u0027PK\u0027,RowKey=\u0027RK\u0027)?$format=application%2Fjson%3Bodata%3Dminimalmetadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Thu, 14 Apr 2022 15:46:55 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "ETag": "W/\u0022datetime\u00272022-04-14T15%3A46%3A55.7089800Z\u0027\u0022"
      },
      "ResponseBody": {
        "odata.metadata": "https://chrisstablesprim.table.cosmos.azure.com/testtable9FhsFM57/$metadata#testtable9FhsFM57/@Element",
        "odata.etag": "W/\u0022datetime\u00272022-04-14T15%3A46%3A55.7089800Z\u0027\u0022",
        "PartitionKey": "PK",
        "RowKey": "RK",
        "Value": "Bar",
        "Timestamp": "2022-04-14T15:46:55.7089800Z"
      }
    },
    {
      "RequestUri": "https://chrisstablesprim.table.cosmos.azure.com/Tables(\u0027testtable9FhsFM57\u0027)",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Apr 2022 15:46:55 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "Content-Type": "application/json"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "COSMOS_TABLES_ENDPOINT_SUFFIX": "cosmos.azure.com",
    "RandomSeed": "913645182",
    "TABLES_COSMOS_ACCOUNT_NAME": "chrisstablesprim",
    "TABLES_PRIMARY_COSMOS_ACCOUNT_KEY": "Kg=="
  }
}
