{
  "Entries": [
    {
      "RequestUri": "https://t71f792aaca8f076dprim.table.cosmos.azure.com/Tables?$format=application%2Fjson%3Bodata%3Dminimalmetadata",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json;odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Wed, 08 Mar 2023 07:46:17 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": {
        "TableName": "testtable0EbaizrR"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "ETag": "W/\u0022datetime\u00272023-03-08T07%3A46%3A24.6292487Z\u0027\u0022",
        "Location": "https://t71f792aaca8f076dprim.table.cosmos.azure.com/Tables(\u0027testtable0EbaizrR\u0027)"
      },
      "ResponseBody": {
        "TableName": "testtable0EbaizrR",
        "odata.metadata": "https://t71f792aaca8f076dprim.table.cosmos.azure.com/$metadata#Tables/@Element"
      }
    },
    {
      "RequestUri": "https://t71f792aaca8f076dprim.table.cosmos.azure.com/$batch",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "multipart/mixed; boundary=batch_aa28ca1b-d53a-c29b-0b22-9b79f61c8957",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Wed, 08 Mar 2023 07:46:18 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": "LS1iYXRjaF9hYTI4Y2ExYi1kNTNhLWMyOWItMGIyMi05Yjc5ZjYxYzg5NTcNC[...]
    {
      "RequestUri": "https://t71f792aaca8f076dprim.table.cosmos.azure.com/testtable0EbaizrR(PartitionKey=\u0027PK\u0027,RowKey=\u0027RK\u0027)?$format=application%2Fjson%3Bodata%3Dminimalmetadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Wed, 08 Mar 2023 07:46:18 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "ETag": "W/\u0022datetime\u00272023-03-08T07%3A46%3A25.1279367Z\u0027\u0022"
      },
      "ResponseBody": {
        "odata.metadata": "https://t71f792aaca8f076dprim.table.cosmos.azure.com/testtable0EbaizrR/$metadata#testtable0EbaizrR/@Element",
        "odata.etag": "W/\u0022datetime\u00272023-03-08T07%3A46%3A25.1279367Z\u0027\u0022",
        "Value": "Foo",
        "PartitionKey": "PK",
        "RowKey": "RK",
        "Timestamp": "2023-03-08T07:46:25.1279367Z"
      }
    },
    {
      "RequestUri": "https://t71f792aaca8f076dprim.table.cosmos.azure.com/Tables(\u0027testtable0EbaizrR\u0027)",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 08 Mar 2023 07:46:18 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "Content-Type": "application/json"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "COSMOS_TABLES_ENDPOINT_SUFFIX": "cosmos.azure.com",
    "RandomSeed": "360443673",
    "TABLES_COSMOS_ACCOUNT_NAME": "t71f792aaca8f076dprim",
    "TABLES_PRIMARY_COSMOS_ACCOUNT_KEY": "Kg=="
  }
}
