{
  "Entries": [
    {
      "RequestUri": "https://chrisstablesprim.table.cosmos.azure.com/Tables?$format=application%2Fjson%3Bodata%3Dminimalmetadata",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json; odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Thu, 14 Apr 2022 15:46:47 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": {
        "TableName": "testtableTBQZiODU"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "ETag": "W/\u0022datetime\u00272022-04-14T15%3A46%3A47.7068296Z\u0027\u0022",
        "Location": "https://chrisstablesprim.table.cosmos.azure.com/Tables(\u0027testtableTBQZiODU\u0027)"
      },
      "ResponseBody": {
        "TableName": "testtableTBQZiODU",
        "odata.metadata": "https://chrisstablesprim.table.cosmos.azure.com/$metadata#Tables/@Element"
      }
    },
    {
      "RequestUri": "https://chrisstablesprim.table.cosmos.azure.com/$batch",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "multipart/mixed; boundary=batch_3b4e2b66-9516-2333-b5c4-b2db2eb569aa",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Thu, 14 Apr 2022 15:46:47 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": "LS1iYXRjaF8zYjRlMmI2Ni05NTE2LTIzMzMtYjVjNC1iMmRiMmViNTY5YWENCkNvbn[...]
    {
      "RequestUri": "https://chrisstablesprim.table.cosmos.azure.com/testtableTBQZiODU(PartitionKey=\u0027PK\u0027,RowKey=\u0027RK\u0027)?$format=application%2Fjson%3Bodata%3Dminimalmetadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Thu, 14 Apr 2022 15:46:47 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "ETag": "W/\u0022datetime\u00272022-04-14T15%3A46%3A48.1401864Z\u0027\u0022"
      },
      "ResponseBody": {
        "odata.metadata": "https://chrisstablesprim.table.cosmos.azure.com/testtableTBQZiODU/$metadata#testtableTBQZiODU/@Element",
        "odata.etag": "W/\u0022datetime\u00272022-04-14T15%3A46%3A48.1401864Z\u0027\u0022",
        "Value": "Foo",
        "PartitionKey": "PK",
        "RowKey": "RK",
        "Timestamp": "2022-04-14T15:46:48.1401864Z"
      }
    },
    {
      "RequestUri": "https://chrisstablesprim.table.cosmos.azure.com/Tables(\u0027testtableTBQZiODU\u0027)",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Apr 2022 15:46:47 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "Content-Type": "application/json"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "COSMOS_TABLES_ENDPOINT_SUFFIX": "cosmos.azure.com",
    "RandomSeed": "1689363648",
    "TABLES_COSMOS_ACCOUNT_NAME": "chrisstablesprim",
    "TABLES_PRIMARY_COSMOS_ACCOUNT_KEY": "Kg=="
  }
}
