{
  "Entries": [
    {
      "RequestUri": "https://jolovtablesprim.table.cosmos.azure.com/Tables?$format=application%2Fjson%3Bodata%3Dminimalmetadata",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json; odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Mon, 31 Jan 2022 22:20:49 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "TableName": "testtable9RN28KJ7"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "ETag": "W/\u0022datetime\u00272022-01-31T22%3A20%3A50.0711432Z\u0027\u0022",
        "Location": "https://jolovtablesprim.table.cosmos.azure.com/Tables(\u0027testtable9RN28KJ7\u0027)"
      },
      "ResponseBody": {
        "TableName": "testtable9RN28KJ7",
        "odata.metadata": "https://jolovtablesprim.table.cosmos.azure.com/$metadata#Tables/@Element"
      }
    },
    {
      "RequestUri": "https://jolovtablesprim.table.cosmos.azure.com/$batch",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "multipart/mixed; boundary=batch_3aea57d5-1142-6d9f-b9c7-cfc7ad97c5db",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Mon, 31 Jan 2022 22:20:50 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": "LS1iYXRjaF8zYWVhNTdkNS0xMTQyLTZkOWYtYjljNy1jZmM3YWQ5N2M1ZGINCkNvbnR[...]
    {
      "RequestUri": "https://jolovtablesprim.table.cosmos.azure.com/testtable9RN28KJ7(PartitionKey=\u0027PK\u0027,RowKey=\u0027RK\u0027)?$format=application%2Fjson%3Bodata%3Dminimalmetadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Mon, 31 Jan 2022 22:20:50 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "ETag": "W/\u0022datetime\u00272022-01-31T22%3A20%3A50.5868296Z\u0027\u0022"
      },
      "ResponseBody": {
        "odata.metadata": "https://jolovtablesprim.table.cosmos.azure.com/testtable9RN28KJ7/$metadata#testtable9RN28KJ7/@Element",
        "odata.etag": "W/\u0022datetime\u00272022-01-31T22%3A20%3A50.5868296Z\u0027\u0022",
        "Value": "Foo",
        "PartitionKey": "PK",
        "RowKey": "RK",
        "Timestamp": "2022-01-31T22:20:50.5868296Z"
      }
    },
    {
      "RequestUri": "https://jolovtablesprim.table.cosmos.azure.com/Tables(\u0027testtable9RN28KJ7\u0027)",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 31 Jan 2022 22:20:50 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "COSMOS_TABLES_ENDPOINT_SUFFIX": "cosmos.azure.com",
    "RandomSeed": "1427397293",
    "TABLES_COSMOS_ACCOUNT_NAME": "jolovtablesprim",
    "TABLES_PRIMARY_COSMOS_ACCOUNT_KEY": "Kg=="
  }
}
