{
  "Entries": [
    {
      "RequestUri": "https://jolovtablesprim.table.cosmos.azure.com/Tables?$format=application%2Fjson%3Bodata%3Dminimalmetadata",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json; odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Mon, 31 Jan 2022 22:20:16 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "TableName": "testtableWkqe8IYv"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "ETag": "W/\u0022datetime\u00272022-01-31T22%3A20%3A16.6719496Z\u0027\u0022",
        "Location": "https://jolovtablesprim.table.cosmos.azure.com/Tables(\u0027testtableWkqe8IYv\u0027)"
      },
      "ResponseBody": {
        "TableName": "testtableWkqe8IYv",
        "odata.metadata": "https://jolovtablesprim.table.cosmos.azure.com/$metadata#Tables/@Element"
      }
    },
    {
      "RequestUri": "https://jolovtablesprim.table.cosmos.azure.com/$batch",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "multipart/mixed; boundary=batch_94ad9bca-3a27-126d-d11c-f987ce8d81b2",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Mon, 31 Jan 2022 22:20:17 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": "LS1iYXRjaF85NGFkOWJjYS0zYTI3LTEyNmQtZDExYy1mOTg3Y2U4ZDgxYjINCkNvbnR[...]
    {
      "RequestUri": "https://jolovtablesprim.table.cosmos.azure.com/testtableWkqe8IYv(PartitionKey=\u0027PK\u0027,RowKey=\u0027RK\u0027)?$format=application%2Fjson%3Bodata%3Dminimalmetadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Mon, 31 Jan 2022 22:20:17 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "ETag": "W/\u0022datetime\u00272022-01-31T22%3A20%3A17.2375048Z\u0027\u0022"
      },
      "ResponseBody": {
        "odata.metadata": "https://jolovtablesprim.table.cosmos.azure.com/testtableWkqe8IYv/$metadata#testtableWkqe8IYv/@Element",
        "odata.etag": "W/\u0022datetime\u00272022-01-31T22%3A20%3A17.2375048Z\u0027\u0022",
        "Value": "Foo",
        "PartitionKey": "PK",
        "RowKey": "RK",
        "Timestamp": "2022-01-31T22:20:17.2375048Z"
      }
    },
    {
      "RequestUri": "https://jolovtablesprim.table.cosmos.azure.com/testtableWkqe8IYv()?$format=application%2Fjson%3Bodata%3Dminimalmetadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Mon, 31 Jan 2022 22:20:17 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata"
      },
      "ResponseBody": {
        "value": [
          {
            "odata.etag": "W/\u0022datetime\u00272022-01-31T22%3A20%3A17.2375048Z\u0027\u0022",
            "Value": "Foo",
            "PartitionKey": "PK",
            "RowKey": "RK",
            "Timestamp": "2022-01-31T22:20:17.2375048Z"
          }
        ],
        "odata.metadata": "https://jolovtablesprim.table.cosmos.azure.com/$metadata#testtableWkqe8IYv"
      }
    },
    {
      "RequestUri": "https://jolovtablesprim.table.cosmos.azure.com/testtableWkqe8IYv(PartitionKey=\u0027PK\u0027,RowKey=\u0027RK\u0027)?$format=application%2Fjson%3Bodata%3Dminimalmetadata",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "DataServiceVersion": "3.0",
        "If-Match": "*",
        "x-ms-date": "Mon, 31 Jan 2022 22:20:17 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jolovtablesprim.table.cosmos.azure.com/testtableWkqe8IYv(PartitionKey=\u0027PK\u0027,RowKey=\u0027RK\u0027)?$format=application%2Fjson%3Bodata%3Dminimalmetadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Mon, 31 Jan 2022 22:20:17 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "ETag": "W/\u0022datetime\u00272022-01-31T22%3A20%3A17.6263176Z\u0027\u0022"
      },
      "ResponseBody": {
        "odata.metadata": "https://jolovtablesprim.table.cosmos.azure.com/testtableWkqe8IYv/$metadata#testtableWkqe8IYv/@Element",
        "odata.etag": "W/\u0022datetime\u00272022-01-31T22%3A20%3A17.6263176Z\u0027\u0022",
        "Value@odata.type": "Edm.Guid",
        "Value": "81a130d2-502f-4cf1-a376-63edeb000e9f",
        "PartitionKey": "PK",
        "RowKey": "RK",
        "Timestamp": "2022-01-31T22:20:17.6263176Z"
      }
    },
[...]
    {
      "RequestUri": "https://jolovtablesprim.table.cosmos.azure.com/Tables(\u0027testtableWkqe8IYv\u0027)",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 31 Jan 2022 22:20:20 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "COSMOS_TABLES_ENDPOINT_SUFFIX": "cosmos.azure.com",
    "RandomSeed": "2145651438",
    "TABLES_COSMOS_ACCOUNT_NAME": "jolovtablesprim",
    "TABLES_PRIMARY_COSMOS_ACCOUNT_KEY": "Kg=="
  }
}
