{
  "Entries": [
    {
      "RequestUri": "https://pakrymtables4prim.table.cosmos.azure.com/Tables?$format=application%2Fjson%3Bodata%3Dminimalmetadata",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json; odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Wed, 29 Dec 2021 23:07:24 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "TableName": "testtableqnUarp7b"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "ETag": "W/\u0022datetime\u00272021-12-29T23%3A07%3A24.6601224Z\u0027\u0022",
        "Location": "https://pakrymtables4prim.table.cosmos.azure.com/Tables(\u0027testtableqnUarp7b\u0027)"
      },
      "ResponseBody": {
        "TableName": "testtableqnUarp7b",
        "odata.metadata": "https://pakrymtables4prim.table.cosmos.azure.com/$metadata#Tables/@Element"
      }
    },
    {
      "RequestUri": "https://pakrymtables4prim.table.cosmos.azure.com/testtableqnUarp7b?$format=application%2Fjson%3Bodata%3Dminimalmetadata",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json; odata=nometadata",
        "DataServiceVersion": "3.0",
        "Prefer": "return-no-content",
        "x-ms-date": "Wed, 29 Dec 2021 23:07:25 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "PartitionKey": "PK",
        "RowKey": "RK",
        "Value": "Foo"
      },
      "StatusCode": 204,
      "ResponseHeaders": {
        "ETag": "W/\u0022datetime\u00272021-12-29T23%3A07%3A25.2002824Z\u0027\u0022",
        "Location": "https://pakrymtables4prim.table.cosmos.azure.com/testtableqnUarp7b(PartitionKey=\u0027PK\u0027,RowKey=\u0027RK\u0027)",
        "Preference-Applied": "return-no-content"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://pakrymtables4prim.table.cosmos.azure.com/testtableqnUarp7b(PartitionKey=\u0027PK\u0027,RowKey=\u0027RK\u0027)?$format=application%2Fjson%3Bodata%3Dminimalmetadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Wed, 29 Dec 2021 23:07:25 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "ETag": "W/\u0022datetime\u00272021-12-29T23%3A07%3A25.2002824Z\u0027\u0022"
      },
      "ResponseBody": {
        "odata.metadata": "https://pakrymtables4prim.table.cosmos.azure.com/testtableqnUarp7b/$metadata#testtableqnUarp7b/@Element",
        "odata.etag": "W/\u0022datetime\u00272021-12-29T23%3A07%3A25.2002824Z\u0027\u0022",
        "PartitionKey": "PK",
        "RowKey": "RK",
        "Value": "Foo",
        "Timestamp": "2021-12-29T23:07:25.2002824Z"
      }
    },
    {
      "RequestUri": "https://pakrymtables4prim.table.cosmos.azure.com/Tables(\u0027testtableqnUarp7b\u0027)",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 29 Dec 2021 23:07:25 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "COSMOS_TABLES_ENDPOINT_SUFFIX": "cosmos.azure.com",
    "RandomSeed": "875572034",
    "TABLES_COSMOS_ACCOUNT_NAME": "pakrymtables4prim",
    "TABLES_PRIMARY_COSMOS_ACCOUNT_KEY": "Kg=="
  }
}
