{
  "Entries": [
    {
      "RequestUri": "https://pakrymtables3prim.table.cosmos.azure.com/Tables?$format=application%2Fjson%3Bodata%3Dminimalmetadata",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json; odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Wed, 29 Dec 2021 18:17:05 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "TableName": "testtableNPE6WLTa"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "ETag": "W/\u0022datetime\u00272021-12-29T18%3A17%3A05.8977800Z\u0027\u0022",
        "Location": "https://pakrymtables3prim.table.cosmos.azure.com/Tables(\u0027testtableNPE6WLTa\u0027)"
      },
      "ResponseBody": {
        "TableName": "testtableNPE6WLTa",
        "odata.metadata": "https://pakrymtables3prim.table.cosmos.azure.com/$metadata#Tables/@Element"
      }
    },
    {
      "RequestUri": "https://pakrymtables3prim.table.cosmos.azure.com/testtableNPE6WLTa?$format=application%2Fjson%3Bodata%3Dminimalmetadata",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json; odata=nometadata",
        "DataServiceVersion": "3.0",
        "Prefer": "return-no-content",
        "x-ms-date": "Wed, 29 Dec 2021 18:17:06 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "PartitionKey": "PK",
        "RowKey": "RK",
        "Value": "Foo"
      },
      "StatusCode": 204,
      "ResponseHeaders": {
        "ETag": "W/\u0022datetime\u00272021-12-29T18%3A17%3A06.4142856Z\u0027\u0022",
        "Location": "https://pakrymtables3prim.table.cosmos.azure.com/testtableNPE6WLTa(PartitionKey=\u0027PK\u0027,RowKey=\u0027RK\u0027)",
        "Preference-Applied": "return-no-content"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://pakrymtables3prim.table.cosmos.azure.com/testtableNPE6WLTa(PartitionKey=\u0027PK\u0027,RowKey=\u0027RK\u0027)?$format=application%2Fjson%3Bodata%3Dminimalmetadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Wed, 29 Dec 2021 18:17:06 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "ETag": "W/\u0022datetime\u00272021-12-29T18%3A17%3A06.4142856Z\u0027\u0022"
      },
      "ResponseBody": {
        "odata.metadata": "https://pakrymtables3prim.table.cosmos.azure.com/testtableNPE6WLTa/$metadata#testtableNPE6WLTa/@Element",
        "odata.etag": "W/\u0022datetime\u00272021-12-29T18%3A17%3A06.4142856Z\u0027\u0022",
        "PartitionKey": "PK",
        "RowKey": "RK",
        "Value": "Foo",
        "Timestamp": "2021-12-29T18:17:06.4142856Z"
      }
    },
    {
      "RequestUri": "https://pakrymtables3prim.table.cosmos.azure.com/testtableNPE6WLTa()?$format=application%2Fjson%3Bodata%3Dminimalmetadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Wed, 29 Dec 2021 18:17:06 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata"
      },
      "ResponseBody": {
        "value": [
          {
            "odata.etag": "W/\u0022datetime\u00272021-12-29T18%3A17%3A06.4142856Z\u0027\u0022",
            "PartitionKey": "PK",
            "RowKey": "RK",
            "Value": "Foo",
            "Timestamp": "2021-12-29T18:17:06.4142856Z"
          }
        ],
        "odata.metadata": "https://pakrymtables3prim.table.cosmos.azure.com/$metadata#testtableNPE6WLTa"
      }
    },
    {
      "RequestUri": "https://pakrymtables3prim.table.cosmos.azure.com/testtableNPE6WLTa(PartitionKey=\u0027PK\u0027,RowKey=\u0027RK\u0027)?$format=application%2Fjson%3Bodata%3Dminimalmetadata",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "DataServiceVersion": "3.0",
        "If-Match": "*",
        "x-ms-date": "Wed, 29 Dec 2021 18:17:06 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://pakrymtables3prim.table.cosmos.azure.com/testtableNPE6WLTa?$format=application%2Fjson%3Bodata%3Dminimalmetadata",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json; odata=nometadata",
        "DataServiceVersion": "3.0",
        "Prefer": "return-no-content",
        "x-ms-date": "Wed, 29 Dec 2021 18:17:06 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "PartitionKey": "PK",
        "RowKey": "RK",
        "Value": "81a130d2-502f-4cf1-a376-63edeb000e9f",
        "Value@odata.type": "Edm.Guid"
      },
      "StatusCode": 204,
      "ResponseHeaders": {
        "ETag": "W/\u0022datetime\u00272021-12-29T18%3A17%3A06.6347528Z\u0027\u0022",
        "Location": "https://pakrymtables3prim.table.cosmos.azure.com/testtableNPE6WLTa(PartitionKey=\u0027PK\u0027,RowKey=\u0027RK\u0027)",
        "Preference-Applied": "return-no-content"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://pakrymtables3prim.table.cosmos.azure.com/Tables(\u0027testtableNPE6WLTa\u0027)",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 29 Dec 2021 18:17:07 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "COSMOS_TABLES_ENDPOINT_SUFFIX": "cosmos.azure.com",
    "RandomSeed": "1448352773",
    "TABLES_COSMOS_ACCOUNT_NAME": "pakrymtables3prim",
    "TABLES_PRIMARY_COSMOS_ACCOUNT_KEY": "Kg=="
  }
}
