{
  "Entries": [
    {
      "RequestUri": "https://pakrymtables4prim.table.cosmos.azure.com/Tables?$format=application%2Fjson%3Bodata%3Dminimalmetadata",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json; odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Wed, 29 Dec 2021 23:07:31 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "TableName": "testtableWZmsGLY0"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "ETag": "W/\u0022datetime\u00272021-12-29T23%3A07%3A31.8627336Z\u0027\u0022",
        "Location": "https://pakrymtables4prim.table.cosmos.azure.com/Tables(\u0027testtableWZmsGLY0\u0027)"
      },
      "ResponseBody": {
        "TableName": "testtableWZmsGLY0",
        "odata.metadata": "https://pakrymtables4prim.table.cosmos.azure.com/$metadata#Tables/@Element"
      }
    },
    {
      "RequestUri": "https://pakrymtables4prim.table.cosmos.azure.com/testtableWZmsGLY0(PartitionKey=\u0027PK\u0027,RowKey=\u0027RK\u0027)?$format=application%2Fjson%3Bodata%3Dminimalmetadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Wed, 29 Dec 2021 23:07:32 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata"
      },
      "ResponseBody": {
        "odata.error": {
          "code": "ResourceNotFound",
          "message": {
            "lang": "en-us",
            "value": "The specified resource does not exist.\r\nRequestID:61b14aea-c79f-4363-9e83-1d8ddc588f47\r\n"
          }
        }
      }
    },
    {
      "RequestUri": "https://pakrymtables4prim.table.cosmos.azure.com/Tables(\u0027testtableWZmsGLY0\u0027)",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 29 Dec 2021 23:07:32 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "COSMOS_TABLES_ENDPOINT_SUFFIX": "cosmos.azure.com",
    "RandomSeed": "1777635301",
    "TABLES_COSMOS_ACCOUNT_NAME": "pakrymtables4prim",
    "TABLES_PRIMARY_COSMOS_ACCOUNT_KEY": "Kg=="
  }
}
