{
  "Entries": [
    {
      "RequestUri": "https://pakrymtables4prim.table.cosmos.azure.com/Tables?$format=application%2Fjson%3Bodata%3Dminimalmetadata",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json; odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Mon, 03 Jan 2022 16:25:59 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "TableName": "testtableC33mebZA"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "ETag": "W/\u0022datetime\u00272022-01-03T16%3A26%3A00.3072008Z\u0027\u0022",
        "Location": "https://pakrymtables4prim.table.cosmos.azure.com/Tables(\u0027testtableC33mebZA\u0027)"
      },
      "ResponseBody": {
        "TableName": "testtableC33mebZA",
        "odata.metadata": "https://pakrymtables4prim.table.cosmos.azure.com/$metadata#Tables/@Element"
      }
    },
    {
      "RequestUri": "https://pakrymtables4prim.table.cosmos.azure.com/testtableC33mebZA?$format=application%2Fjson%3Bodata%3Dminimalmetadata",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json; odata=nometadata",
        "DataServiceVersion": "3.0",
        "Prefer": "return-no-content",
        "x-ms-date": "Mon, 03 Jan 2022 16:26:00 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "PartitionKey": "PK",
        "RowKey": "RK",
        "Value": "Foo"
      },
      "StatusCode": 204,
      "ResponseHeaders": {
        "ETag": "W/\u0022datetime\u00272022-01-03T16%3A26%3A01.0018824Z\u0027\u0022",
        "Location": "https://pakrymtables4prim.table.cosmos.azure.com/testtableC33mebZA(PartitionKey=\u0027PK\u0027,RowKey=\u0027RK\u0027)",
        "Preference-Applied": "return-no-content"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://pakrymtables4prim.table.cosmos.azure.com/testtableC33mebZA(PartitionKey=\u0027PK\u0027,RowKey=\u0027RK\u0027)?$format=application%2Fjson%3Bodata%3Dminimalmetadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Mon, 03 Jan 2022 16:26:00 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "ETag": "W/\u0022datetime\u00272022-01-03T16%3A26%3A01.0018824Z\u0027\u0022"
      },
      "ResponseBody": {
        "odata.metadata": "https://pakrymtables4prim.table.cosmos.azure.com/testtableC33mebZA/$metadata#testtableC33mebZA/@Element",
        "odata.etag": "W/\u0022datetime\u00272022-01-03T16%3A26%3A01.0018824Z\u0027\u0022",
        "PartitionKey": "PK",
        "RowKey": "RK",
        "Value": "Foo",
        "Timestamp": "2022-01-03T16:26:01.0018824Z"
      }
    },
    {
      "RequestUri": "https://pakrymtables4prim.table.cosmos.azure.com/testtableC33mebZA(PartitionKey=\u0027PK\u0027,RowKey=\u0027RK\u0027)?$format=application%2Fjson%3Bodata%3Dminimalmetadata",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "DataServiceVersion": "3.0",
        "If-Match": "W/\u0022datetime\u00272022-01-03T16%3A26%3A01.0018824Z\u0027\u0022",
        "x-ms-date": "Mon, 03 Jan 2022 16:26:01 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "Value": "Bar",
        "PartitionKey": "PK",
        "RowKey": "RK"
      },
      "StatusCode": 204,
      "ResponseHeaders": {
        "ETag": "W/\u0022datetime\u00272022-01-03T16%3A26%3A01.0935304Z\u0027\u0022"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://pakrymtables4prim.table.cosmos.azure.com/testtableC33mebZA()?$format=application%2Fjson%3Bodata%3Dminimalmetadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Mon, 03 Jan 2022 16:26:01 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata"
      },
      "ResponseBody": {
        "value": [
          {
            "odata.etag": "W/\u0022datetime\u00272022-01-03T16%3A26%3A01.0935304Z\u0027\u0022",
            "PartitionKey": "PK",
            "RowKey": "RK",
            "Value": "Bar",
            "Timestamp": "2022-01-03T16:26:01.0935304Z"
          }
        ],
        "odata.metadata": "https://pakrymtables4prim.table.cosmos.azure.com/$metadata#testtableC33mebZA"
      }
    },
[...]
    {
      "RequestUri": "https://pakrymtables4prim.table.cosmos.azure.com/testtableC33mebZA?$format=application%2Fjson%3Bodata%3Dminimalmetadata",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json; odata=nometadata",
        "DataServiceVersion": "3.0",
        "Prefer": "return-no-content",
        "x-ms-date": "Mon, 03 Jan 2022 16:26:01 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "PartitionKey": "PK",
        "RowKey": "RK",
        "Value": "81a130d2-502f-4cf1-a376-63edeb000e9f",
        "Value@odata.type": "Edm.Guid"
      },
      "StatusCode": 204,
      "ResponseHeaders": {
        "ETag": "W/\u0022datetime\u00272022-01-03T16%3A26%3A01.8868232Z\u0027\u0022",
        "Location": "https://pakrymtables4prim.table.cosmos.azure.com/testtableC33mebZA(PartitionKey=\u0027PK\u0027,RowKey=\u0027RK\u0027)",
        "Preference-Applied": "return-no-content"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://pakrymtables4prim.table.cosmos.azure.com/Tables(\u0027testtableC33mebZA\u0027)",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 03 Jan 2022 16:26:07 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "COSMOS_TABLES_ENDPOINT_SUFFIX": "cosmos.azure.com",
    "RandomSeed": "1722536638",
    "TABLES_COSMOS_ACCOUNT_NAME": "pakrymtables4prim",
    "TABLES_PRIMARY_COSMOS_ACCOUNT_KEY": "Kg=="
  }
}
