{
  "Entries": [
    {
      "RequestUri": "https://pakrymtables4prim.table.cosmos.azure.com/Tables?$format=application%2Fjson%3Bodata%3Dminimalmetadata",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json; odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Mon, 03 Jan 2022 19:24:51 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "TableName": "testtableT4mzWtPI"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "ETag": "W/\u0022datetime\u00272022-01-03T19%3A24%3A51.8542344Z\u0027\u0022",
        "Location": "https://pakrymtables4prim.table.cosmos.azure.com/Tables(\u0027testtableT4mzWtPI\u0027)"
      },
      "ResponseBody": {
        "TableName": "testtableT4mzWtPI",
        "odata.metadata": "https://pakrymtables4prim.table.cosmos.azure.com/$metadata#Tables/@Element"
      }
    },
    {
      "RequestUri": "https://pakrymtables4prim.table.cosmos.azure.com/testtableT4mzWtPI?$format=application%2Fjson%3Bodata%3Dminimalmetadata",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json; odata=nometadata",
        "DataServiceVersion": "3.0",
        "Prefer": "return-no-content",
        "x-ms-date": "Mon, 03 Jan 2022 19:24:52 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "PartitionKey": "PK",
        "RowKey": "RK",
        "Value": "Foo"
      },
      "StatusCode": 204,
      "ResponseHeaders": {
        "ETag": "W/\u0022datetime\u00272022-01-03T19%3A24%3A52.4669960Z\u0027\u0022",
        "Location": "https://pakrymtables4prim.table.cosmos.azure.com/testtableT4mzWtPI(PartitionKey=\u0027PK\u0027,RowKey=\u0027RK\u0027)",
        "Preference-Applied": "return-no-content"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://pakrymtables4prim.table.cosmos.azure.com/testtableT4mzWtPI(PartitionKey=\u0027PK\u0027,RowKey=\u0027RK\u0027)?$format=application%2Fjson%3Bodata%3Dminimalmetadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Mon, 03 Jan 2022 19:24:52 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "ETag": "W/\u0022datetime\u00272022-01-03T19%3A24%3A52.4669960Z\u0027\u0022"
      },
      "ResponseBody": {
        "odata.metadata": "https://pakrymtables4prim.table.cosmos.azure.com/testtableT4mzWtPI/$metadata#testtableT4mzWtPI/@Element",
        "odata.etag": "W/\u0022datetime\u00272022-01-03T19%3A24%3A52.4669960Z\u0027\u0022",
        "PartitionKey": "PK",
        "RowKey": "RK",
        "Value": "Foo",
        "Timestamp": "2022-01-03T19:24:52.4669960Z"
      }
    },
[...]
    {
      "RequestUri": "https://pakrymtables4prim.table.cosmos.azure.com/testtableT4mzWtPI(PartitionKey=\u0027PK\u0027,RowKey=\u0027RK\u0027)?$format=application%2Fjson%3Bodata%3Dminimalmetadata",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "DataServiceVersion": "3.0",
        "If-Match": "W/\u0022datetime\u00272022-01-03T19%3A24%3A52.4669960Z\u0027\u0022",
        "x-ms-date": "Mon, 03 Jan 2022 19:24:52 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "Value": "Bar",
        "PartitionKey": "PK",
        "RowKey": "RK"
      },
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=fullmetadata"
      },
      "ResponseBody": {
        "odata.error": {
          "code": "UpdateConditionNotSatisfied",
          "message": {
            "lang": "en-us",
            "value": "The update condition specified in the request was not satisfied.\nRequestID:b6c99175-739b-49a9-9b82-0e6b5eb95cdb\n"
          }
        }
      }
    },
    {
      "RequestUri": "https://pakrymtables4prim.table.cosmos.azure.com/Tables(\u0027testtableT4mzWtPI\u0027)",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 03 Jan 2022 19:24:52 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "COSMOS_TABLES_ENDPOINT_SUFFIX": "cosmos.azure.com",
    "RandomSeed": "2123302496",
    "TABLES_COSMOS_ACCOUNT_NAME": "pakrymtables4prim",
    "TABLES_PRIMARY_COSMOS_ACCOUNT_KEY": "Kg=="
  }
}
