{
  "Entries": [
    {
      "RequestUri": "/providers/Microsoft.Billing/billingAccounts/723c8ce0-33ba-5ba7-ef23-e1b72f15f1d8%3A4ce5b530-c82b-44e8-97ec-49f3cce9f14d_2019-05-31/billingProfiles/H6RI-TXWC-BG7-PGB/invoiceSections/ICYS-ZE5B-PJA-PGB/billingRoleAssignments?api-version=2019-10-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-tenant-reads": [
          "11999"
        ],
        "x-ms-service-version": [
          "9.11.1047.343"
        ],
        "api-supported-versions": [
          "2019-10-01-preview"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/providers/Microsoft.Billing/billingAccounts/723c8ce0-33ba-5ba7-ef23-e1b72f15f1d8:4ce5b530-c82b-44e8-97ec-49f3cce9f14d_2019-05-31/billingProfiles/H6RI-TXWC-BG7-PGB/invoiceSections/ICYS-ZE5B-PJA-PGB/billingRoleAssignments/30000000-aaaa-bbbb-cccc-100000000000_5c4fad53-9cfb-4e22-9635-e7f420ab3ca7\",\r\n      \"name\": \"30000000-aaaa-bbbb-cccc-100000000000_5c4fad53-9cfb-4e22-9635-e7f420ab3ca7\",\r\n      \"properties\": {\r\n        \"createdOn\": \"2019-10-16T11:04:14-07:00\",\r\n        \"createdByPrincipalId\": \"5c4fad53-9cfb-4e22-9635-e7f420ab3ca7\",\r\n        \"principalId\": \"5c4fad53-9cfb-4e22-9635-e7f420ab3ca7\",\r\n        \"principalTenantId\": \"98deed94-8d1b-4075-bf56-eaa3d9f5c852\",\r\n        \"roleDefinitionId\": \"/providers/Microsoft.Billing/billingAccounts/723c8ce0-33ba-5ba7-ef23-e1b72f15f1d8:4ce5b530-c82b-44e8-97ec-49f3cce9f14d_2019-05-31/billingProfiles/H6RI-TXWC-BG7-PGB/invoiceSections/ICYS-ZE5B-PJA-PGB/billingRoleDefinitions/30000000-aaaa-bbbb-cccc-100000000000\",\r\n        \"scope\": \"/providers/Microsoft.Billing/billingAccounts/723c8ce0-33ba-5ba7-ef23-e1b72f15f1d8:4ce5b530-c82b-44e8-97ec-49f3cce9f14d_2019-05-31/billingProfiles/H6RI-TXWC-BG7-PGB/invoiceSections/ICYS-ZE5B-PJA-PGB\"\r\n      },\r\n      \"type\": \"Microsoft.Billing/billingRoleAssignments\"\r\n    },\r\n    {\r\n      \"id\": \"/providers/Microsoft.Billing/billingAccounts/723c8ce0-33ba-5ba7-ef23-e1b72f15f1d8:4ce5b530-c82b-44e8-97ec-49f3cce9f14d_2019-05-31/billingProfiles/H6RI-TXWC-BG7-PGB/invoiceSections/ICYS-ZE5B-PJA-PGB/billingRoleAssignments/30000000-aaaa-bbbb-cccc-100000000000_d0ff8ab8-c5e8-4df8-a0f0-57ce8748e870\",\r\n      \"name\": \"30000000-aaaa-bbbb-cccc-100000000000_d0ff8ab8-c5e8-4df8-a0f0-57ce8748e870\",\r\n      \"properties\": {\r\n        \"createdOn\": \"2019-10-16T11:13:25-07:00\",\r\n        \"createdByPrincipalId\": \"\",\r\n        \"principalId\": \"d0ff8ab8-c5e8-4df8-a0f0-57ce8748e870\",\r\n        \"principalTenantId\": \"98deed94-8d1b-4075-bf56-eaa3d9f5c852\",\r\n        \"roleDefinitionId\": \"/providers/Microsoft.Billing/billingAccounts/723c8ce0-33ba-5ba7-ef23-e1b72f15f1d8:4ce5b530-c82b-44e8-97ec-49f3cce9f14d_2019-05-31/billingProfiles/H6RI-TXWC-BG7-PGB/invoiceSections/ICYS-ZE5B-PJA-PGB/billingRoleDefinitions/30000000-aaaa-bbbb-cccc-100000000000\",\r\n        \"scope\": \"/providers/Microsoft.Billing/billingAccounts/723c8ce0-33ba-5ba7-ef23-e1b72f15f1d8:4ce5b530-c82b-44e8-97ec-49f3cce9f14d_2019-05-31/billingProfiles/H6RI-TXWC-BG7-PGB/invoiceSections/ICYS-ZE5B-PJA-PGB\"\r\n      },\r\n      \"type\": \"Microsoft.Billing/billingRoleAssignments\"\r\n    }\r\n  ]\r\n}",
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "df6e24cd-21d5-4f70-ac15-32bb1f8b4536"
  }
}