{
  "Entries": [
    {
      "RequestUri": "https://workspacechhamosynapse.dev.azuresynapse.net/dataflows/DataFlow5794?api-version=2019-06-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": null
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://workspacechhamosynapse.dev.azuresynapse.net/operationResults/33002d01-cc41-4855-a430-6928d73c8e62?api-version=2019-06-01-preview",
        "Retry-After": "10"
      },
      "ResponseBody": {
        "id": "/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-chhamosynapse/providers/Microsoft.Synapse/workspaces/workspacechhamosynapse/dataflows/DataFlow5794",
        "recordId": 960537,
        "state": "Creating",
        "created": "2021-01-15T18:12:21.6833333Z",
        "changed": "2021-01-15T18:12:21.6833333Z",
        "type": "DataFlow",
        "name": "DataFlow5794",
        "operationId": "33002d01-cc41-4855-a430-6928d73c8e62",
        "artifactId": "78D1D734-3570-48AA-B329-5B8FED63F106"
      }
    },
    {
      "RequestUri": "https://workspacechhamosynapse.dev.azuresynapse.net/operationResults/33002d01-cc41-4855-a430-6928d73c8e62?api-version=2019-06-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://workspacechhamosynapse.dev.azuresynapse.net/operationResults/33002d01-cc41-4855-a430-6928d73c8e62?api-version=2019-06-01-preview",
        "Retry-After": "10"
      },
      "ResponseBody": {
        "status": "InProgress"
      }
    },
[...]
    {
      "RequestUri": "https://workspacechhamosynapse.dev.azuresynapse.net/operationResults/33002d01-cc41-4855-a430-6928d73c8e62?api-version=2019-06-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-chhamosynapse/providers/Microsoft.Synapse/workspaces/workspacechhamosynapse/dataflows/DataFlow5794",
        "name": "DataFlow5794",
        "type": "Microsoft.Synapse/workspaces/dataflows",
        "properties": {
          "type": null
        },
        "etag": "d807558a-0000-0800-0000-6001db080000"
      }
    },
    {
      "RequestUri": "https://workspacechhamosynapse.dev.azuresynapse.net/createDataFlowDebugSession?api-version=2019-06-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {},
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://workspacechhamosynapse.dev.azuresynapse.net/operationResults/dfCreateSession$$41364e86-2a36-4d1a-b056-0c76662fb8d9?api-version=2019-06-01-preview"
      },
      "ResponseBody": {
        "sessionId": "41364e86-2a36-4d1a-b056-0c76662fb8d9"
      }
    },
    {
      "RequestUri": "https://workspacechhamosynapse.dev.azuresynapse.net/operationResults/dfCreateSession$$41364e86-2a36-4d1a-b056-0c76662fb8d9?api-version=2019-06-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://workspacechhamosynapse.dev.azuresynapse.net/operationResults/dfCreateSession$$41364e86-2a36-4d1a-b056-0c76662fb8d9?api-version=2019-06-01-preview"
      },
      "ResponseBody": {
        "status": "Pending",
        "sessionId": "41364e86-2a36-4d1a-b056-0c76662fb8d9"
      }
    },
[...]
    {
      "RequestUri": "https://workspacechhamosynapse.dev.azuresynapse.net/queryDataFlowDebugSessions?api-version=2019-06-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "userObjectId": "00b81593-6414-45e8-98bf-c0396b2972ee",
            "startTime": "2021-01-15T18:12:25.2422454\u002B00:00",
            "lastActivityTime": "2021-01-15T18:16:04.1910826\u002B00:00",
            "status": "Started",
            "dataflowName": "DebugSession-41364e86-2a36-4d1a-b056-0c76662fb8d9",
            "sessionId": "41364e86-2a36-4d1a-b056-0c76662fb8d9",
            "coreCount": 8,
            "nodeCount": 0,
            "computeType": "General",
            "timeToLiveInMinutes": 60
          }
        ]
      }
    },
    {
      "RequestUri": "https://workspacechhamosynapse.dev.azuresynapse.net/deleteDataFlowDebugSession?api-version=2019-06-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "sessionId": "41364e86-2a36-4d1a-b056-0c76662fb8d9"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://workspacechhamosynapse.dev.azuresynapse.net/operationResults/3c97a065-f3a7-4f84-8eb6-fb1321358dcf?api-version=2019-06-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "AZURE_SYNAPSE_WORKSPACE_URL": "https://workspacechhamosynapse.dev.azuresynapse.net",
    "RandomSeed": "2064405674"
  }
}