{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/75e96d09-a291-40e1-a5e6-cda78233d867?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11980"
      },
      "ResponseBody": {
        "id": "/subscriptions/75e96d09-a291-40e1-a5e6-cda78233d867",
        "authorizationSource": "RoleBased",
        "managedByTenants": [
          {
            "tenantId": "2f4a9838-26b7-47ee-be60-ccc1fdec5953"
          }
        ],
        "subscriptionId": "75e96d09-a291-40e1-a5e6-cda78233d867",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": "susolank Projects",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/75e96d09-a291-40e1-a5e6-cda78233d867/resourcegroups/sdkTestsRg5506?api-version=**",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1196"
      },
      "ResponseBody": {
        "id": "/subscriptions/75e96d09-a291-40e1-a5e6-cda78233d867/resourceGroups/sdkTestsRg5506",
        "name": "sdkTestsRg5506",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/75e96d09-a291-40e1-a5e6-cda78233d867/resourceGroups/sdkTestsRg5506/providers/Microsoft.Network/virtualNetworks/dhsm-vnet?api-version=2021-02-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus",
        "properties": {
          "addressSpace": {
            "addressPrefixes": [
              "10.0.0.0/16"
            ]
          },
          "subnets": [
            {
              "name": "default",
              "properties": {
                "addressPrefix": "10.0.0.0/24",
                "delegations": [
                  {
                    "name": "myDelegation",
                    "properties": {
                      "serviceName": "Microsoft.HardwareSecurityModules/dedicatedHSMs"
                    }
                  }
                ]
              }
            }
          ]
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncNotification": "Enabled",
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/75e96d09-a291-40e1-a5e6-cda78233d867/providers/Microsoft.Network/locations/eastus/operations/17fc7d1e-f0d3-436c-b5aa-f3fd6ca4bac9?api-version=2021-02-01",
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "3",
        "x-ms-ratelimit-remaining-subscription-writes": "1195"
      },
      "ResponseBody": {
        "name": "dhsm-vnet",
        "id": "/subscriptions/75e96d09-a291-40e1-a5e6-cda78233d867/resourceGroups/sdkTestsRg5506/providers/Microsoft.Network/virtualNetworks/dhsm-vnet",
        "etag": "W/\u0022c31608f8-7bfe-4a4e-903f-11bbf19e0b3c\u0022",
        "type": "Microsoft.Network/virtualNetworks",
        "location": "eastus",
        "properties": {
          "provisioningState": "Updating",
          "resourceGuid": "49a9b8b4-777d-463a-b6ed-abcc8070a0ab",
          "addressSpace": {
            "addressPrefixes": [
              "10.0.0.0/16"
            ]
          },
          "subnets": [
            {
              "name": "default",
              "id": "/subscriptions/75e96d09-a291-40e1-a5e6-cda78233d867/resourceGroups/sdkTestsRg5506/providers/Microsoft.Network/virtualNetworks/dhsm-vnet/subnets/default",
              "etag": "W/\u0022c31608f8-7bfe-4a4e-903f-11bbf19e0b3c\u0022",
              "properties": {
                "provisioningState": "Updating",
                "addressPrefix": "10.0.0.0/24",
                "delegations": [
                  {
                    "name": "myDelegation",
                    "id": "/subscriptions/75e96d09-a291-40e1-a5e6-cda78233d867/resourceGroups/sdkTestsRg5506/providers/Microsoft.Network/virtualNetworks/dhsm-vnet/subnets/default/delegations/myDelegation",
                    "etag": "W/\u0022c31608f8-7bfe-4a4e-903f-11bbf19e0b3c\u0022",
                    "properties": {
                      "provisioningState": "Succeeded",
                      "serviceName": "Microsoft.HardwareSecurityModules/dedicatedHSMs",
                      "actions": [
                        "Microsoft.Network/networkinterfaces/*",
                        "Microsoft.Network/virtualNetworks/subnets/join/action"
                      ]
                    },
                    "type": "Microsoft.Network/virtualNetworks/subnets/delegations"
                  }
                ],
                "purpose": "HostedWorkloads",
                "privateEndpointNetworkPolicies": "Disabled",
                "privateLinkServiceNetworkPolicies": "Enabled"
              },
              "type": "Microsoft.Network/virtualNetworks/subnets"
            }
          ],
          "virtualNetworkPeerings": [],
          "enableDdosProtection": false
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/75e96d09-a291-40e1-a5e6-cda78233d867/providers/Microsoft.Network/locations/eastus/operations/17fc7d1e-f0d3-436c-b5aa-f3fd6ca4bac9?api-version=2021-02-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "x-ms-ratelimit-remaining-subscription-reads": "11978"
      },
      "ResponseBody": {
        "status": "InProgress"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/75e96d09-a291-40e1-a5e6-cda78233d867/resourceGroups/sdkTestsRg5506/providers/Microsoft.Network/virtualNetworks/dhsm-vnet?api-version=2021-02-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\u0022142d4deb-9428-4e06-9f0e-9270f8424444\u0022",
        "x-ms-ratelimit-remaining-subscription-reads": "11976"
      },
      "ResponseBody": {
        "name": "dhsm-vnet",
        "id": "/subscriptions/75e96d09-a291-40e1-a5e6-cda78233d867/resourceGroups/sdkTestsRg5506/providers/Microsoft.Network/virtualNetworks/dhsm-vnet",
        "etag": "W/\u0022142d4deb-9428-4e06-9f0e-9270f8424444\u0022",
        "type": "Microsoft.Network/virtualNetworks",
        "location": "eastus",
        "prope[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/75e96d09-a291-40e1-a5e6-cda78233d867/resourceGroups/sdkTestsRg5506/providers/Microsoft.HardwareSecurityModules/dedicatedHSMs/DedicatedHsmTest4793?api-version=2021-11-30",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "sku": {
          "name": "payShield10K_LMK1_CPS60"
        },
        "tags": {
          "Dept": "SDK Testing",
          "Env": "df"
        },
        "location": "eastus",
        "properties": {
          "networkProfile": {
            "subnet": {
              "id": "/subscriptions/75e96d09-a291-40e1-a5e6-cda78233d867/resourceGroups/sdkTestsRg5506/providers/Microsoft.Network/virtualNetworks/dhsm-vnet/subnets/default"
            },
            "networkInterfaces": [
              {
                "privateIpAddress": "10.0.0.4"
              },
              {
                "privateIpAddress": "10.0.0.5"
              }
            ]
          },
          "managementNetworkProfile": {
            "subnet": {
              "id": "/subscriptions/75e96d09-a291-40e1-a5e6-cda78233d867/resourceGroups/sdkTestsRg5506/providers/Microsoft.Network/virtualNetworks/dhsm-vnet/subnets/default"
            },
            "networkInterfaces": [
              {
                "privateIpAddress": "10.0.0.6"
              }
            ]
          },
          "stampId": "stamp1"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1194"
      },
      "ResponseBody": {
        "sku": {
          "name": "payShield10K_LMK1_CPS60"
        },
        "id": "/subscriptions/75e96d09-a291-40e1-a5e6-cda78233d867/resourceGroups/sdkTestsRg5506/providers/Microsoft.HardwareSecurityModules/dedicatedHSMs/DedicatedHsmTest4793",
        "name": "DedicatedHsmTest4793",
        "type": "Microsoft.HardwareSecurityModules/dedicatedHSMs",
        "location": "eastus",
        "tags": {
          "Dept": "SDK Testing",
          "Env": "df"
        },
        "systemData": {
          "createdBy": "8c04e2a7-4a4a-43bf-bc08-53b4847b53f1",
          "createdByType": "Application",
          "createdAt": "2023-07-10T13:19:43.645Z",
          "lastModifiedBy": "8c04e2a7-4a4a-43bf-bc08-53b4847b53f1",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2023-07-10T13:19:43.645Z"
        },
        "properties": {
          "networkProfile": {
            "subnet": {
              "id": "/subscriptions/75e96d09-a291-40e1-a5e6-cda78233d867/resourceGroups/sdkTestsRg5506/providers/Microsoft.Network/virtualNetworks/dhsm-vnet/subnets/default"
            },
            "networkInterfaces": [
              {
                "privateIpAddress": "10.0.0.4"
              },
              {
                "privateIpAddress": "10.0.0.5"
              }
            ]
          },
          "managementNetworkProfile": {
            "subnet": {
              "id": "/subscriptions/75e96d09-a291-40e1-a5e6-cda78233d867/resourceGroups/sdkTestsRg5506/providers/Microsoft.Network/virtualNetworks/dhsm-vnet/subnets/default"
            },
            "networkInterfaces": [
              {
                "privateIpAddress": "10.0.0.6"
              }
            ]
          },
          "provisioningState": "CheckingQuota",
          "statusMessage": "Resource creation in progress. Validating subscription device quota...",
          "stampId": "stamp1"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/75e96d09-a291-40e1-a5e6-cda78233d867/resourceGroups/sdkTestsRg5506/providers/Microsoft.HardwareSecurityModules/dedicatedHSMs?api-version=2021-11-30",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11956"
      },
      "ResponseBody": {
        "value": [
          {
            "sku": {
              "name": "payShield10K_LMK1_CPS60"
            },
            "id": "/subscriptions/75e96d09-a291-40e1-a5e6-cda78233d867/resourceGroups/sdkTestsRg5506/providers/Microsoft.HardwareSecurityModules/dedicatedHSMs/DedicatedHsmTest4793",
            "name": "DedicatedHsmTest4793",
            "type": "Microsoft.HardwareSecurityModules/dedicatedHSMs",
            "location": "eastus",
            "tags": {
              "Dept": "SDK Testing",
           [...]
