{
  "Entries": [
    {
      "RequestUri": "/subscriptions/35fa7461-d48a-4053-9aa2-56c014495e89/resourcegroups/res1108?api-version=2017-05-10",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"centralus\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/35fa7461-d48a-4053-9aa2-56c014495e89/resourceGroups/res1108\",\r\n  \"name\": \"res1108\",\r\n  \"location\": \"centralus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1196"
        ]
      },
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/35fa7461-d48a-4053-9aa2-56c014495e89/resourceGroups/res1108/providers/Microsoft.BotService/botServices?api-version=2017-12-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-client-principal-name": [
          "test@microsoft.com"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [],\r\n  \"nextLink\": \"https://management.azure.com/subscriptions/35fa7461-d48a-4053-9aa2-56c014495e89/resourceGroups/res1108/providers/Microsoft.BotService/botServices?api-version=2017-12-01&%24skipToken=eyJuZXh0TWFya2VyIjoiMCJ9\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14990"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/35fa7461-d48a-4053-9aa2-56c014495e89/resourceGroups/res1108/providers/Microsoft.BotService/botServices/botservice8086?api-version=2017-12-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"displayName\": \"Default bot display name\",\r\n    \"description\": \"Default bot description\",\r\n    \"endpoint\": \"https://mybot.coffee\",\r\n    \"msaAppId\": \"1950c0e8-d435-4f33-af21-f6494766b529\"\r\n  },\r\n  \"location\": \"global\",\r\n  \"tags\": {\r\n    \"key1\": \"value1\",\r\n    \"key2\": \"value2\"\r\n  },\r\n  \"sku\": {\r\n    \"name\": \"F0\"\r\n  },\r\n  \"kind\": \"sdk\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-client-principal-name": [
          "test@microsoft.com"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/35fa7461-d48a-4053-9aa2-56c014495e89/resourceGroups/res1108/providers/Microsoft.BotService/botServices/botservice8086\",\r\n  \"name\": \"botservice8086\",\r\n  \"type\": \"Microsoft.BotService/botServices\",\r\n  \"etag\": \"W/\\\"datetime'2018-04-02T23%3A16%3A49.443842Z'\\\"\",\r\n  \"location\": \"global\",\r\n  \"sku\": {\r\n    \"name\": \"F0\"\r\n  },\r\n  \"kind\": \"sdk\",\r\n  \"properties\": {\r\n    \"displayName\": \"Default bot display name\",\r\n    \"description\": \"Default bot description\",\r\n    \"iconUrl\": \"//intercom-scratch.azureedge.net/bot-icons-v1/bot-framework-default.png\",\r\n    \"endpoint\": \"https://mybot.coffee\",\r\n    \"msaAppId\": \"1950c0e8-d435-4f33-af21-f6494766b529\",\r\n    \"developerAppInsightKey\": \"\",\r\n    \"developerAppInsightsApplicationId\": \"\",\r\n    \"luisAppIds\": [],\r\n    \"endpointVersion\": \"3.0\",\r\n    \"configuredChannels\": [\r\n      \"webchat\"\r\n    ],\r\n    \"enabledChannels\": [\r\n      \"webchat\",\r\n      \"directline\"\r\n    ],\r\n    \"isDeveloperAppInsightsApiKeySet\": false,\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "ETag": [
          "W/\"datetime'2018-04-02T23%3A16%3A49.443842Z'\""
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1195"
        ]
      },
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/35fa7461-d48a-4053-9aa2-56c014495e89/resourceGroups/res1108/providers/Microsoft.BotService/botServices/botservice8086/channels/EmailChannel?api-version=2017-12-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"channelName\": \"EmailChannel\",\r\n    \"properties\": {\r\n      \"emailAddress\": \"carlostestsdk2@outlook.com\",\r\n      \"password\": \"Carlos.Test1\",\r\n      \"isEnabled\": true\r\n    }\r\n  },\r\n  \"location\": \"global\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-client-principal-name": [
          "test@microsoft.com"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/35fa7461-d48a-4053-9aa2-56c014495e89/resourceGroups/res1108/providers/Microsoft.BotService/botServices/botservice8086/channels/EmailChannel\",\r\n  \"name\": \"botservice8086/EmailChannel\",\r\n  \"type\": \"Microsoft.BotService/botServices/channels\",\r\n  \"etag\": \"W/\\\"6d5e002131b9c814bd22aa8b52a800c24/2/2018 11:16:58 PM\\\"\",\r\n  \"location\": \"global\",\r\n  \"properties\": {\r\n    \"properties\": {\r\n      \"emailAddress\": \"carlostestsdk2@outlook.com\",\r\n      \"password\": \"Carlos.Test1\",\r\n      \"isEnabled\": true\r\n    },\r\n    \"etag\": \"W/\\\"6d5e002131b9c814bd22aa8b52a800c24/2/2018 11:16:58 PM\\\"\",\r\n    \"channelName\": \"EmailChannel\",\r\n    \"location\": \"global\",\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "ETag": [
          "W/\"6d5e002131b9c814bd22aa8b52a800c24/2/2018 11:16:58 PM\""
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1194"
        ]
      },
      "StatusCode": 201
    }
  ],
  "Names": {
    "CreateResourceGroup": [
      "res1108"
    ],
    "CreateAndValidateBot": [
      "botservice8086"
    ]
  },
  "Variables": {
    "SubscriptionId": "35fa7461-d48a-4053-9aa2-56c014495e89"
  }
}