{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.EventHub?api-version=2019-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11878"
      },
      "ResponseBody": {
        "id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.EventHub",
        "namespace": "Microsoft.EventHub",
        "authorizations": [
          {
            "applicationId": "80369ed6-5f11-4dd9-bef3-692475845e77",
            "roleDefinitionId": "eb8e1991-5de0-42a6-a64b-29b059341b7b"
          },
          {
            "applicationId": "6201d19e-14fb-4472-a2d6-5634a5c97568"
          }
        ],
        "resourceTypes": [
          {
            "resourceType": "namespaces",
            "locations": [
              "Australia East",
              "Australia Southeast",
              "Central US",
              "East US",
              "East US 2",
              "West US",
              "West US 2",
              "North Central US",
              "South Central US",
              "West Central US",
              "East Asia",
              "Southeast Asia",
              "Brazil South",
              "Japan East",
              "Japan West",
              "North Europe",
              "West Europe",
              "Central India",
              "South India",
              "West India",
              "Canada Central",
              "Canada East",
              "UK West",
              "UK South",
              "Korea Central",
              "Korea South",
              "France Central",
              "South Africa North",
              "UAE North",
              "Australia Central",
              "Switzerland North",
              "Germany West Central",
              "Norway East",
              "Central US EUAP",
              "East US 2 EUAP"
            ],
            "apiVersions": [
              "2018-01-01-preview",
              "2017-04-01",
              "2015-08-01",
              "2014-09-01"
            ],
            "defaultApiVersion": "2017-04-01",
            "apiProfiles": [
              {
                "profileVersion": "2018-06-01-profile",
                "apiVersion": "2017-04-01"
              }
            ],
            "capabilities": "CrossResourceGroupResourceMove, CrossSubscriptionResourceMove, SystemAssignedResourceIdentity, SupportsTags, SupportsLocation"
          },
          {
            "resourceType": "clusters",
            "locations": [
              "Australia East",
              "Australia Southeast",
              "Central US",
              "East US",
              "East US 2",
              "West US",
              "West US 2",
              "North Central US",
              "South Central US",
          [...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourcegroups/Default-EventHub-1031?api-version=2019-10-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "Australia East"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1191"
      },
      "ResponseBody": {
        "id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/Default-EventHub-1031",
        "name": "Default-EventHub-1031",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "australiaeast",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/Default-EventHub-1031/providers/Microsoft.EventHub/namespaces/sdk-eventhub-Namespace-6772?api-version=2018-01-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "sku": {
          "name": "Standard",
          "tier": "Standard"
        },
        "location": "Australia East",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "properties": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Server-SB": "Service-Bus-Resource-Provider/CH3",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "47"
      },
      "ResponseBody": {
        "sku": {
          "name": "Standard",
          "tier": "Standard",
          "capacity": 1
        },
        "id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/Default-EventHub-1031/providers/Microsoft.EventHub/namespaces/sdk-eventhub-Namespace-6772",
        "name": "sdk-eventhub-Namespace-6772",
        "type": "Microsoft.EventHub/Namespaces",
        "location": "Australia East",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "properties": {
          "zoneRedundant": false,
          "isAutoInflateEnabled": false,
          "maximumThroughputUnits": 0,
          "kafkaEnabled": true,
          "provisioningState": "Created",
          "metricId": "0b1f6471-1bf0-4dda-aec3-cb9272f09590:sdk-eventhub-namespace-6772",
          "createdAt": "2020-09-28T08:48:48.91Z",
          "updatedAt": "2020-09-28T08:48:48.91Z",
          "serviceBusEndpoint": "https://sdk-eventhub-Namespace-6772.servicebus.windows.net:443/",
          "status": "Activating"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/Default-EventHub-1031/providers/Microsoft.EventHub/namespaces/sdk-eventhub-Namespace-6772/eventhubs/sdk-EventHub-thisisthenamewithmorethan53charschecktoverifytheremovlaof50charsnamelengthlimit?api-version=2017-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "messageRetentionInDays": 5
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Server-SB": "Service-Bus-Resource-Provider/CH3",
        "x-ms-ratelimit-remaining-subscription-writes": "1190"
      },
      "ResponseBody": {
        "id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/Default-EventHub-1031/providers/Microsoft.EventHub/namespaces/sdk-eventhub-Namespace-6772/eventhubs/sdk-EventHub-thisisthenamewithmorethan53charschecktoverifytheremovlaof50charsnamelengthlimit",
        "name": "sdk-EventHub-thisisthenamewithmorethan53charschecktoverifytheremovlaof50charsnamelengthlimit",
        "type": "Microsoft.EventHub/Namespaces/EventHubs",
        "location": "Australia East",
        "properties": {
          "messageRetentionInDays": 5,
          "partitionCount": 4,
          "status": "Active",
          "createdAt": "2020-09-28T08:49:43.51Z",
          "updatedAt": "2020-09-28T08:49:43.833Z",
          "partitionIds": [
            "0",
            "1",
            "2",
            "3"
          ]
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/Default-EventHub-1031/providers/Microsoft.EventHub/namespaces/sdk-eventhub-Namespace-6772/eventhubs/sdk-EventHub-thisisthenamewithmorethan53charschecktoverifytheremovlaof50charsnamelengthlimit/consumergroups/thisisthenamewithmorethan53charschecktoverifqwert?api-version=2017-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "userMetadata": "Newly Created"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Server-SB": "Service-Bus-Resource-Provider/CH3",
        "x-ms-ratelimit-remaining-subscription-writes": "1189"
      },
      "ResponseBody": {
        "id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/Default-EventHub-1031/providers/Microsoft.EventHub/namespaces/sdk-eventhub-Namespace-6772/eventhubs/sdk-EventHub-thisisthenamewithmorethan53charschecktoverifytheremovlaof50charsnamelengthlimit/consumergroups/thisisthenamewithmorethan53charschecktoverifqwert",
        "name": "thisisthenamewithmorethan53charschecktoverifqwert",
        "type": "Microsoft.EventHub/Namespaces/EventHubs/ConsumerGroups",
        "location": "Australia East",
        "properties": {
          "createdAt": "2020-09-28T08:49:46.9037144Z",
          "updatedAt": "2020-09-28T08:49:46.9037144Z",
          "userMetadata": "Newly Created"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/Default-EventHub-1031/providers/Microsoft.EventHub/namespaces/sdk-eventhub-Namespace-6772/eventhubs/sdk-EventHub-thisisthenamewithmorethan53charschecktoverifytheremovlaof50charsnamelengthlimit/consumergroups?api-version=2017-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Server-SB": "Service-Bus-Resource-Provider/CH3",
        "x-ms-inline-count": "",
        "x-ms-ratelimit-remaining-subscription-reads": "11847"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/Default-EventHub-1031/providers/Microsoft.EventHub/namespaces/sdk-eventhub-Namespace-6772/eventhubs/sdk-EventHub-thisisthenamewithmorethan53charschecktoverifytheremovlaof50charsnamelengthlimit/consumergroups/$Default",
            "name": "$Default",
            "type": "Microsoft.EventHub/Namespaces/EventHubs/ConsumerGroups",
            "location": "Australia East",
            "properties": {
              "createdAt": "2020-09-28T08:49:43.55Z",
              "updatedAt": "2020-09-28T08:49:43.55Z"
            }
          },
          {
            "id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/Default-EventHub-1031/providers/Microsoft.EventHub/namespaces/sdk-eventhub-Namespace-6772/eventhubs/sdk-EventHub-thisisthenamewithmorethan53charschecktoverifytheremovlaof50charsnamelengthlimit/consumergroups/thisisthenamewithmorethan53charschecktoverifqwert",
            "name": "thisisthenamewithmorethan53charschecktoverifqwert",
            "type": "Microsoft.EventHub/Namespaces/EventHubs/ConsumerGroups",
            "location": "Australia East",
            "properties": {
              "createdAt": "2020-09-28T08:49:46.909Z",
              "updatedAt": "2020-09-28T08:49:46.909Z",
              "userMetadata": "Newly Created"
            }
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/Default-EventHub-1031/providers/Microsoft.EventHub/namespaces/sdk-eventhub-Namespace-6772?api-version=2018-01-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Location": "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/Default-EventHub-1031/providers/Microsoft.EventHub/namespaces/sdk-eventhub-Namespace-6772/operationresults/sdk-eventhub-Namespace-6772?api-version=2018-01-01-preview",
        "Server-SB": "Service-Bus-Resource-Provider/CH3",
        "x-ms-ratelimit-remaining-subscription-deletes": "14990"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/Default-EventHub-1031/providers/Microsoft.EventHub/namespaces/sdk-eventhub-Namespace-6772/operationresults/sdk-eventhub-Namespace-6772?api-version=2018-01-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/Default-EventHub-1031/providers/Microsoft.EventHub/namespaces/sdk-eventhub-Namespace-6772/operationresults/sdk-eventhub-Namespace-6772?api-version=2018-01-01-preview",
        "Retry-After": "31",
        "Server-SB": "Service-Bus-Resource-Provider/CH3",
        "x-ms-ratelimit-remaining-subscription-reads": "11845"
      },
      "ResponseBody": {
        "sku": {
          "name": "Standard",
          "tier": "Standard",
          "capacity": 1
        },
        "id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/Default-EventHub-1031/providers/Microsoft.EventHub/namespaces/sdk-eventhub-Namespace-6772",
        "name": "sdk-eventhub-Namespace-6772",
        "type": "Microsoft.EventHub/Namespaces",
        "location": "Australia East",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "properties": {
          "zoneRedundant": false,
          "isAutoInflateEnabled": false,
          "maximumThroughputUnits": 0,
          "kafkaEnabled": true,
          "provisioningState": "Succeeded",
          "metricId": "0b1f6471-1bf0-4dda-aec3-cb9272f09590:sdk-eventhub-namespace-6772",
          "createdAt": "2020-09-28T08:48:48.91Z",
          "updatedAt": "2020-09-28T08:49:54.54Z",
          "serviceBusEndpoint": "https://sdk-eventhub-Namespace-6772.servicebus.windows.net:443/",
          "status": "Removing"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/Default-EventHub-1031/providers/Microsoft.EventHub/namespaces/sdk-eventhub-Namespace-6772/operationresults/sdk-eventhub-Namespace-6772?api-version=2018-01-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Server-SB": "Service-Bus-Resource-Provider/CH3",
        "x-ms-ratelimit-remaining-subscription-reads": "11829"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "2070104506",
    "SUBSCRIPTION_ID": "0b1f6471-1bf0-4dda-aec3-cb9272f09590"
  }
}