{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourcegroups/Default-EventHub-9311?api-version=2017-05-10",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "South Central US"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1187"
      },
      "ResponseBody": {
        "id": "/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/Default-EventHub-9311",
        "name": "Default-EventHub-9311",
        "location": "southcentralus",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/Default-EventHub-9311/providers/Microsoft.EventHub/namespaces/sdk-eventhub-Namespace-8523?api-version=2018-01-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "sku": {
          "name": "Standard",
          "tier": "Standard",
          "capacity": 1
        },
        "location": "South Central US",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "properties": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Server-SB": "Service-Bus-Resource-Provider/CH3",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "45"
      },
      "ResponseBody": {
        "sku": {
          "name": "Standard",
          "tier": "Standard",
          "capacity": 1
        },
        "id": "/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/Default-EventHub-9311/providers/Microsoft.EventHub/namespaces/sdk-eventhub-Namespace-8523",
        "name": "sdk-eventhub-Namespace-8523",
        "type": "Microsoft.EventHub/Namespaces",
        "location": "South Central US",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "properties": {
          "zoneRedundant": false,
          "isAutoInflateEnabled": false,
          "maximumThroughputUnits": 0,
          "kafkaEnabled": true,
          "provisioningState": "Created",
          "metricId": "c9cbd920-c00c-427c-852b-8aaf38badaeb:sdk-eventhub-namespace-8523",
          "createdAt": "2020-09-08T08:04:55.88Z",
          "updatedAt": "2020-09-08T08:04:55.88Z",
          "serviceBusEndpoint": "https://sdk-eventhub-Namespace-8523.servicebus.windows.net:443/",
          "status": "Activating"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/Default-EventHub-9311/providers/Microsoft.EventHub/namespaces/sdk-eventhub-Namespace-8523/authorizationRules/sdk-Authrules-5011?api-version=2017-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "rights": [
            "Listen",
            "Send"
          ]
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Server-SB": "Service-Bus-Resource-Provider/CH3",
        "x-ms-ratelimit-remaining-subscription-writes": "1186"
      },
      "ResponseBody": {
        "id": "/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/Default-EventHub-9311/providers/Microsoft.EventHub/namespaces/sdk-eventhub-Namespace-8523/authorizationRules/sdk-Authrules-5011",
        "name": "sdk-Authrules-5011",
        "type": "Microsoft.EventHub/Namespaces/AuthorizationRules",
        "location": "South Central US",
        "properties": {
          "rights": [
            "Listen",
            "Send"
          ]
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/Default-EventHub-9311/providers/Microsoft.EventHub/namespaces/sdk-eventhub-Namespace-8523/authorizationRules/sdk-Authrules-5011/listKeys?api-version=2017-04-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Server-SB": "Service-Bus-Resource-Provider/CH3",
        "x-ms-ratelimit-remaining-subscription-writes": "1194"
      },
      "ResponseBody": {
        "primaryConnectionString": "Endpoint=sb://sdk-eventhub-namespace-8523.servicebus.windows.net/;SharedAccessKeyName=sdk-Authrules-5011;SharedAccessKey=1xBvrGo9IaFRhuQepY2tCjCrU/MHX169dDcCTKwvsTA=",
        "secondaryConnectionString": "Endpoint=sb://sdk-eventhub-namespace-8523.servicebus.windows.net/;SharedAccessKeyName=sdk-Authrules-5011;SharedAccessKey=V/vz9MPrWB7Sq9/90N5dLb8F52QQwIADMjCLpbeTEmw=",
        "primaryKey": "1xBvrGo9IaFRhuQepY2tCjCrU/MHX169dDcCTKwvsTA=",
        "secondaryKey": "V/vz9MPrWB7Sq9/90N5dLb8F52QQwIADMjCLpbeTEmw=",
        "keyName": "sdk-Authrules-5011"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/Default-EventHub-9311/providers/Microsoft.EventHub/namespaces/sdk-eventhub-Namespace-8523/disasterRecoveryConfigs/checkNameAvailability?api-version=2017-04-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "sdk-DisasterRecovery-6855"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Server-SB": "Service-Bus-Resource-Provider/CH3",
        "x-ms-ratelimit-remaining-subscription-writes": "1193"
      },
      "ResponseBody": {
        "nameAvailable": true,
        "reason": "None"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/Default-EventHub-9311/providers/Microsoft.EventHub/namespaces/sdk-eventhub-Namespace-8523/disasterRecoveryConfigs/sdk-DisasterRecovery-6855?api-version=2017-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "partnerNamespace": "/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/Default-EventHub-9311/providers/Microsoft.EventHub/namespaces/sdk-eventhub-Namespace-5484"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Server-SB": "Service-Bus-Resource-Provider/CH3",
        "x-ms-ratelimit-remaining-subscription-writes": "1185"
      },
      "ResponseBody": {
        "id": "/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/Default-EventHub-9311/providers/Microsoft.EventHub/namespaces/sdk-eventhub-Namespace-8523/disasterRecoveryConfigs/sdk-DisasterRecovery-6855",
        "name": "sdk-DisasterRecovery-6855",
        "type": "Microsoft.EventHub/Namespaces/disasterrecoveryconfigs",
        "properties": {
          "provisioningState": "Accepted",
          "partnerNamespace": "/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/Default-EventHub-9311/providers/Microsoft.EventHub/namespaces/sdk-eventhub-Namespace-5484",
          "role": "Primary",
          "type": "MetadataReplication"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/Default-EventHub-9311/providers/Microsoft.EventHub/namespaces/sdk-eventhub-Namespace-8523/disasterRecoveryConfigs/sdk-DisasterRecovery-6855/authorizationRules/sdk-Authrules-5011?api-version=2017-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Server-SB": "Service-Bus-Resource-Provider/CH3",
        "x-ms-ratelimit-remaining-subscription-reads": "10917"
      },
      "ResponseBody": {
        "id": "/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/Default-EventHub-9311/providers/Microsoft.EventHub/namespaces/sdk-eventhub-Namespace-8523/disasterRecoveryConfigs/sdk-DisasterRecovery-6855/authorizationRules/sdk-Authrules-5011",
        "name": "sdk-Authrules-5011",
        "type": "Microsoft.EventHub/Namespaces/AuthorizationRules",
        "location": "South Central US",
        "properties": {
          "rights": [
            "Listen",
            "Send"
          ]
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/Default-EventHub-9311/providers/Microsoft.EventHub/namespaces/sdk-eventhub-Namespace-8523/disasterRecoveryConfigs/sdk-DisasterRecovery-6855/authorizationRules/sdk-Authrules-5011/listKeys?api-version=2017-04-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Server-SB": "Service-Bus-Resource-Provider/CH3",
        "x-ms-ratelimit-remaining-subscription-writes": "1191"
      },
      "ResponseBody": {
        "aliasPrimaryConnectionString": "Endpoint=sb://sdk-disasterrecovery-6855.servicebus.windows.net/;SharedAccessKeyName=sdk-Authrules-5011;SharedAccessKey=1xBvrGo9IaFRhuQepY2tCjCrU/MHX169dDcCTKwvsTA=",
        "aliasSecondaryConnectionString": "Endpoint=sb://sdk-disasterrecovery-6855.servicebus.windows.net/;SharedAccessKeyName=sdk-Authrules-5011;SharedAccessKey=V/vz9MPrWB7Sq9/90N5dLb8F52QQwIADMjCLpbeTEmw=",
        "primaryKey": "1xBvrGo9IaFRhuQepY2tCjCrU/MHX169dDcCTKwvsTA=",
        "secondaryKey": "V/vz9MPrWB7Sq9/90N5dLb8F52QQwIADMjCLpbeTEmw=",
        "keyName": "sdk-Authrules-5011"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/Default-EventHub-9311/providers/Microsoft.EventHub/namespaces/sdk-eventhub-Namespace-8523/disasterRecoveryConfigs/sdk-DisasterRecovery-6855?api-version=2017-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Server-SB": "Service-Bus-Resource-Provider/CH3",
        "x-ms-ratelimit-remaining-subscription-reads": "10716"
      },
      "ResponseBody": {
        "id": "/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/Default-EventHub-9311/providers/Microsoft.EventHub/namespaces/sdk-eventhub-Namespace-8523/disasterRecoveryConfigs/sdk-DisasterRecovery-6855",
        "name": "sdk-DisasterRecovery-6855",
        "type": "Microsoft.EventHub/Namespaces/disasterrecoveryconfigs",
        "properties": {
          "provisioningState": "Succeeded",
          "partnerNamespace": "/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/Default-EventHub-9311/providers/Microsoft.EventHub/namespaces/sdk-eventhub-Namespace-5484",
          "role": "Primary",
          "type": "MetadataReplication",
          "pendingReplicationOperationsCount": 0
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/Default-EventHub-9311/providers/Microsoft.EventHub/namespaces/sdk-eventhub-Namespace-8523/disasterRecoveryConfigs/sdk-DisasterRecovery-6855/breakPairing?api-version=2017-04-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Server-SB": "Service-Bus-Resource-Provider/CH3",
        "x-ms-ratelimit-remaining-subscription-writes": "1190"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://manageme