{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourcegroups/Default-EventHub-7487?api-version=2017-05-10",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "South Central US"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1191"
      },
      "ResponseBody": {
        "id": "/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/Default-EventHub-7487",
        "name": "Default-EventHub-7487",
        "location": "southcentralus",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/Default-EventHub-7487/providers/Microsoft.EventHub/namespaces/sdk-eventhub-Namespace-668?api-version=2018-01-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "sku": {
          "name": "Standard",
          "tier": "Standard",
          "capacity": 1
        },
        "location": "South Central US",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "properties": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Server-SB": "Service-Bus-Resource-Provider/CH3",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "47"
      },
      "ResponseBody": {
        "sku": {
          "name": "Standard",
          "tier": "Standard",
          "capacity": 1
        },
        "id": "/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/Default-EventHub-7487/providers/Microsoft.EventHub/namespaces/sdk-eventhub-Namespace-668",
        "name": "sdk-eventhub-Namespace-668",
        "type": "Microsoft.EventHub/Namespaces",
        "location": "South Central US",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "properties": {
          "zoneRedundant": false,
          "isAutoInflateEnabled": false,
          "maximumThroughputUnits": 0,
          "kafkaEnabled": true,
          "provisioningState": "Created",
          "metricId": "c9cbd920-c00c-427c-852b-8aaf38badaeb:sdk-eventhub-namespace-668",
          "createdAt": "2020-09-08T07:57:09.07Z",
          "updatedAt": "2020-09-08T07:57:09.07Z",
          "serviceBusEndpoint": "https://sdk-eventhub-Namespace-668.servicebus.windows.net:443/",
          "status": "Activating"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/Default-EventHub-7487/providers/Microsoft.EventHub/namespaces/sdk-eventhub-Namespace-668/authorizationRules/sdk-Authrules-1738?api-version=2017-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "rights": [
            "Listen",
            "Send"
          ]
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Server-SB": "Service-Bus-Resource-Provider/CH3",
        "x-ms-ratelimit-remaining-subscription-writes": "1190"
      },
      "ResponseBody": {
        "id": "/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/Default-EventHub-7487/providers/Microsoft.EventHub/namespaces/sdk-eventhub-Namespace-668/authorizationRules/sdk-Authrules-1738",
        "name": "sdk-Authrules-1738",
        "type": "Microsoft.EventHub/Namespaces/AuthorizationRules",
        "location": "South Central US",
        "properties": {
          "rights": [
            "Listen",
            "Send"
          ]
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/Default-EventHub-7487/providers/Microsoft.EventHub/namespaces/sdk-eventhub-Namespace-668/authorizationRules/sdk-Authrules-1738/listKeys?api-version=2017-04-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Server-SB": "Service-Bus-Resource-Provider/CH3",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "primaryConnectionString": "Endpoint=sb://sdk-eventhub-namespace-668.servicebus.windows.net/;SharedAccessKeyName=sdk-Authrules-1738;SharedAccessKey=2y01bsqcKKCC6Y82LRPYciOXO1s/EX0QUYwt/UgoBp0=",
        "secondaryConnectionString": "Endpoint=sb://sdk-eventhub-namespace-668.servicebus.windows.net/;SharedAccessKeyName=sdk-Authrules-1738;SharedAccessKey=AWa8AgMt/uGonjwu/QrfrBJgX7Uhz1iWP1C/XIApYEE=",
        "primaryKey": "2y01bsqcKKCC6Y82LRPYciOXO1s/EX0QUYwt/UgoBp0=",
        "secondaryKey": "AWa8AgMt/uGonjwu/QrfrBJgX7Uhz1iWP1C/XIApYEE=",
        "keyName": "sdk-Authrules-1738"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/Default-EventHub-7487/providers/Microsoft.EventHub/namespaces/sdk-eventhub-Namespace-668/disasterRecoveryConfigs/checkNameAvailability?api-version=2017-04-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "sdk-eventhub-Namespace-668"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Server-SB": "Service-Bus-Resource-Provider/CH3",
        "x-ms-ratelimit-remaining-subscription-writes": "1198"
      },
      "ResponseBody": {
        "nameAvailable": true,
        "reason": "None"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/Default-EventHub-7487/providers/Microsoft.EventHub/namespaces/sdk-eventhub-Namespace-668/disasterRecoveryConfigs/sdk-eventhub-Namespace-668?api-version=2017-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "partnerNamespace": "/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/Default-EventHub-7487/providers/Microsoft.EventHub/namespaces/sdk-eventhub-Namespace-5312",
          "alternateName": "sdk-DisasterRecovery-2717"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Server-SB": "Service-Bus-Resource-Provider/CH3",
        "x-ms-ratelimit-remaining-subscription-writes": "1189"
      },
      "ResponseBody": {
        "id": "/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/Default-EventHub-7487/providers/Microsoft.EventHub/namespaces/sdk-eventhub-Namespace-668/disasterRecoveryConfigs/sdk-eventhub-Namespace-668",
        "name": "sdk-eventhub-Namespace-668",
        "type": "Microsoft.EventHub/Namespaces/disasterrecoveryconfigs",
        "properties": {
          "provisioningState": "Accepted",
          "partnerNamespace": "/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/Default-EventHub-7487/providers/Microsoft.EventHub/namespaces/sdk-eventhub-Namespace-5312",
          "alternateName": "sdk-DisasterRecovery-2717",
          "role": "Primary",
          "type": "MetadataReplication"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/Default-EventHub-7487/providers/Microsoft.EventHub/namespaces/sdk-eventhub-Namespace-668/disasterRecoveryConfigs/sdk-eventhub-Namespace-668/authorizationRules/sdk-Authrules-1738?api-version=2017-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Server-SB": "Service-Bus-Resource-Provider/CH3",
        "x-ms-ratelimit-remaining-subscription-reads": "11812"
      },
      "ResponseBody": {
        "id": "/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/Default-EventHub-7487/providers/Microsoft.EventHub/namespaces/sdk-eventhub-Namespace-668/disasterRecoveryConfigs/sdk-eventhub-Namespace-668/authorizationRules/sdk-Authrules-1738",
        "name": "sdk-Authrules-1738",
        "type": "Microsoft.EventHub/Namespaces/AuthorizationRules",
        "location": "South Central US",
        "properties": {
          "rights": [
            "Listen",
            "Send"
          ]
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/Default-EventHub-7487/providers/Microsoft.EventHub/namespaces/sdk-eventhub-Namespace-668/disasterRecoveryConfigs/sdk-eventhub-Namespace-668/authorizationRules/sdk-Authrules-1738/listKeys?api-version=2017-04-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Server-SB": "Service-Bus-Resource-Provider/CH3",
        "x-ms-ratelimit-remaining-subscription-writes": "1197"
      },
      "ResponseBody": {
        "aliasPrimaryConnectionString": "Endpoint=sb://sdk-eventhub-namespace-668.servicebus.windows.net/;SharedAccessKeyName=sdk-Authrules-1738;SharedAccessKey=2y01bsqcKKCC6Y82LRPYciOXO1s/EX0QUYwt/UgoBp0=",
        "aliasSecondaryConnectionString": "Endpoint=sb://sdk-eventhub-namespace-668.servicebus.windows.net/;SharedAccessKeyName=sdk-Authrules-1738;SharedAccessKey=AWa8AgMt/uGonjwu/QrfrBJgX7Uhz1iWP1C/XIApYEE=",
        "primaryKey": "2y01bsqcKKCC6Y82LRPYciOXO1s/EX0QUYwt/UgoBp0=",
        "secondaryKey": "AWa8AgMt/uGonjwu/QrfrBJgX7Uhz1iWP1C/XIApYEE=",
        "keyName": "sdk-Authrules-1738"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/Default-EventHub-7487/providers/Microsoft.EventHub/namespaces/sdk-eventhub-Namespace-668/disasterRecoveryConfigs/sdk-eventhub-Namespace-668?api-version=2017-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Server-SB": "Service-Bus-Resource-Provider/CH3",
        "x-ms-ratelimit-remaining-subscription-reads": "11607"
      },
      "ResponseBody": {
        "id": "/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/Default-EventHub-7487/providers/Microsoft.EventHub/namespaces/sdk-eventhub-Namespace-668/disasterRecoveryConfigs/sdk-eventhub-Namespace-668",
        "name": "sdk-eventhub-Namespace-668",
        "type": "Microsoft.EventHub/Namespaces/disasterrecoveryconfigs",
        "properties": {
          "provisioningState": "Succeeded",
          "partnerNamespace": "/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/Default-EventHub-7487/providers/Microsoft.EventHub/namespaces/sdk-eventhub-Namespace-5312",
          "alternateName": "sdk-DisasterRecovery-2717",
          "role": "Primary",
          "type": "MetadataReplication",
          "pendingReplicationOperationsCount": 0
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/Default-EventHub-7487/providers/Microsoft.EventHub/namespaces/sdk-eventhub-Namespace-668/disasterRecoveryConfigs/sdk-eventhub-Namespace-668/breakPairing?api-version=2017-04-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Server-SB": "Service-Bus-Resource-Provider/CH3",
        "x-ms-ratelimit-remaining-subscription-writes": "1196"
      },
      "ResponseBody": []
    },
[...]
