{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourcegroups/Default-EventHub-4326?api-version=2019-10-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "South Central US"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "id": "/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/Default-EventHub-4326",
        "name": "Default-EventHub-4326",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "southcentralus",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/Default-EventHub-4326/providers/Microsoft.EventHub/namespaces/sdk-eventhub-Namespace-8592?api-version=2018-01-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "sku": {
          "name": "Standard",
          "tier": "Standard",
          "capacity": 1
        },
        "location": "South Central US",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "properties": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Server-SB": "Service-Bus-Resource-Provider/CH3",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "49"
      },
      "ResponseBody": {
        "sku": {
          "name": "Standard",
          "tier": "Standard",
          "capacity": 1
        },
        "id": "/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/Default-EventHub-4326/providers/Microsoft.EventHub/namespaces/sdk-eventhub-Namespace-8592",
        "name": "sdk-eventhub-Namespace-8592",
        "type": "Microsoft.EventHub/Namespaces",
        "location": "South Central US",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "properties": {
          "zoneRedundant": false,
          "isAutoInflateEnabled": false,
          "maximumThroughputUnits": 0,
          "kafkaEnabled": true,
          "provisioningState": "Created",
          "metricId": "c9cbd920-c00c-427c-852b-8aaf38badaeb:sdk-eventhub-namespace-8592",
          "createdAt": "2020-08-04T09:30:50.7Z",
          "updatedAt": "2020-08-04T09:30:50.7Z",
          "serviceBusEndpoint": "https://sdk-eventhub-Namespace-8592.servicebus.windows.net:443/",
          "status": "Activating"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/Default-EventHub-4326/providers/Microsoft.EventHub/namespaces/sdk-eventhub-Namespace-8592/authorizationRules/sdk-Authrules-2630?api-version=2017-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "rights": [
            "Listen",
            "Send"
          ]
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Server-SB": "Service-Bus-Resource-Provider/CH3",
        "x-ms-ratelimit-remaining-subscription-writes": "1198"
      },
      "ResponseBody": {
        "id": "/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/Default-EventHub-4326/providers/Microsoft.EventHub/namespaces/sdk-eventhub-Namespace-8592/authorizationRules/sdk-Authrules-2630",
        "name": "sdk-Authrules-2630",
        "type": "Microsoft.EventHub/Namespaces/AuthorizationRules",
        "location": "South Central US",
        "properties": {
          "rights": [
            "Listen",
            "Send"
          ]
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/Default-EventHub-4326/providers/Microsoft.EventHub/namespaces/sdk-eventhub-Namespace-8592/authorizationRules/sdk-Authrules-2630/listKeys?api-version=2017-04-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Server-SB": "Service-Bus-Resource-Provider/CH3",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "primaryConnectionString": "Endpoint=sb://sdk-eventhub-namespace-8592.servicebus.windows.net/;SharedAccessKeyName=sdk-Authrules-2630;SharedAccessKey=EfZwda37YbCZJ8m89nhQ8jqDSiRSzohv/l34BwEqo5I=",
        "secondaryConnectionString": "Endpoint=sb://sdk-eventhub-namespace-8592.servicebus.windows.net/;SharedAccessKeyName=sdk-Authrules-2630;SharedAccessKey=vfXeZwtwnDi58RhfyvuVzHZid\u002Bhf0TCgAjrRhiy06cM=",
        "primaryKey": "EfZwda37YbCZJ8m89nhQ8jqDSiRSzohv/l34BwEqo5I=",
        "secondaryKey": "vfXeZwtwnDi58RhfyvuVzHZid\u002Bhf0TCgAjrRhiy06cM=",
        "keyName": "sdk-Authrules-2630"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/Default-EventHub-4326/providers/Microsoft.EventHub/namespaces/sdk-eventhub-Namespace-8592/disasterRecoveryConfigs/checkNameAvailability?api-version=2017-04-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "sdk-DisasterRecovery-2239"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Server-SB": "Service-Bus-Resource-Provider/CH3",
        "x-ms-ratelimit-remaining-subscription-writes": "1198"
      },
      "ResponseBody": {
        "nameAvailable": true,
        "reason": "None"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/Default-EventHub-4326/providers/Microsoft.EventHub/namespaces/sdk-eventhub-Namespace-8592/disasterRecoveryConfigs/sdk-DisasterRecovery-2239?api-version=2017-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "partnerNamespace": "/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/Default-EventHub-4326/providers/Microsoft.EventHub/namespaces/sdk-eventhub-Namespace-9644"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Server-SB": "Service-Bus-Resource-Provider/CH3",
        "x-ms-ratelimit-remaining-subscription-writes": "1197"
      },
      "ResponseBody": {
        "id": "/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/Default-EventHub-4326/providers/Microsoft.EventHub/namespaces/sdk-eventhub-Namespace-8592/disasterRecoveryConfigs/sdk-DisasterRecovery-2239",
        "name": "sdk-DisasterRecovery-2239",
        "type": "Microsoft.EventHub/Namespaces/disasterrecoveryconfigs",
        "properties": {
          "provisioningState": "Accepted",
          "partnerNamespace": "/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/Default-EventHub-4326/providers/Microsoft.EventHub/namespaces/sdk-eventhub-Namespace-9644",
          "role": "Primary",
          "type": "MetadataReplication"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/Default-EventHub-4326/providers/Microsoft.EventHub/namespaces/sdk-eventhub-Namespace-8592/disasterRecoveryConfigs/sdk-DisasterRecovery-2239/authorizationRules/sdk-Authrules-2630?api-version=2017-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Server-SB": "Service-Bus-Resource-Provider/CH3",
        "x-ms-ratelimit-remaining-subscription-reads": "11933"
      },
      "ResponseBody": {
        "id": "/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/Default-EventHub-4326/providers/Microsoft.EventHub/namespaces/sdk-eventhub-Namespace-8592/disasterRecoveryConfigs/sdk-DisasterRecovery-2239/authorizationRules/sdk-Authrules-2630",
        "name": "sdk-Authrules-2630",
        "type": "Microsoft.EventHub/Namespaces/AuthorizationRules",
        "location": "South Central US",
        "properties": {
          "rights": [
            "Listen",
            "Send"
          ]
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/Default-EventHub-4326/providers/Microsoft.EventHub/namespaces/sdk-eventhub-Namespace-8592/disasterRecoveryConfigs/sdk-DisasterRecovery-2239/authorizationRules/sdk-Authrules-2630/listKeys?api-version=2017-04-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Server-SB": "Service-Bus-Resource-Provider/CH3",
        "x-ms-ratelimit-remaining-subscription-writes": "1196"
      },
      "ResponseBody": {
        "aliasPrimaryConnectionString": "Endpoint=sb://sdk-disasterrecovery-2239.servicebus.windows.net/;SharedAccessKeyName=sdk-Authrules-2630;SharedAccessKey=EfZwda37YbCZJ8m89nhQ8jqDSiRSzohv/l34BwEqo5I=",
        "aliasSecondaryConnectionString": "Endpoint=sb://sdk-disasterrecovery-2239.servicebus.windows.net/;SharedAccessKeyName=sdk-Authrules-2630;SharedAccessKey=vfXeZwtwnDi58RhfyvuVzHZid\u002Bhf0TCgAjrRhiy06cM=",
        "primaryKey": "EfZwda37YbCZJ8m89nhQ8jqDSiRSzohv/l34BwEqo5I=",
        "secondaryKey": "vfXeZwtwnDi58RhfyvuVzHZid\u002Bhf0TCgAjrRhiy06cM=",
        "keyName": "sdk-Authrules-2630"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/Default-EventHub-4326/providers/Microsoft.EventHub/namespaces/sdk-eventhub-Namespace-8592/disasterRecoveryConfigs/sdk-DisasterRecovery-2239?api-version=2017-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Server-SB": "Service-Bus-Resource-Provider/SN1",
        "x-ms-ratelimit-remaining-subscription-reads": "11795"
      },
      "ResponseBody": {
        "id": "/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/Default-EventHub-4326/providers/Microsoft.EventHub/namespaces/sdk-eventhub-Namespace-8592/disasterRecoveryConfigs/sdk-DisasterRecovery-2239",
        "name": "sdk-DisasterRecovery-2239",
        "type": "Microsoft.EventHub/Namespaces/disasterrecoveryconfigs",
        "properties": {
          "provisioningState": "Succeeded",
          "partnerNamespace": "/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/Default-EventHub-4326/providers/Microsoft.EventHub/namespaces/sdk-eventhub-Namespace-9644",
          "role": "Primary",
          "type": "MetadataReplication",
          "pendingReplicationOperationsCount": 0
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/Default-EventHub-4326/providers/Microsoft.EventHub/namespaces/sdk-eventhub-Namespace-8592/disasterRecoveryConfigs/sdk-DisasterRecovery-2239/breakPairing?api-version=2017-04-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Server-SB": "Service-Bus-Resource-Provider/SN1",
        "x-ms-ratelimit-remaining-subscription-writes": "1195"
      },
      "ResponseBody": []
    },
[...]
