{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57?api-version=2019-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11467"
      },
      "ResponseBody": {
        "id": "/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57",
        "authorizationSource": "RoleBased",
        "managedByTenants": [
          {
            "tenantId": "2f4a9838-26b7-47ee-be60-ccc1fdec5953"
          }
        ],
        "tags": {},
        "subscriptionId": "faa080af-c1d8-40ad-9cce-e1a450ca5b57",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": "Azure SDK Developer Playground",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourcegroups/Default-EventHub-2264?api-version=2019-10-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "southcentralus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "id": "/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/Default-EventHub-2264",
        "name": "Default-EventHub-2264",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "southcentralus",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/Default-EventHub-2264/providers/Microsoft.EventHub/namespaces/sdk-eventhub-Namespace-487?api-version=2018-01-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "sku": {
          "name": "Standard",
          "tier": "Standard",
          "capacity": 1
        },
        "location": "South Central US",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "properties": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Server-SB": "Service-Bus-Resource-Provider/SN1",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "49"
      },
      "ResponseBody": {
        "sku": {
          "name": "Standard",
          "tier": "Standard",
          "capacity": 1
        },
        "id": "/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/Default-EventHub-2264/providers/Microsoft.EventHub/namespaces/sdk-eventhub-Namespace-487",
        "name": "sdk-eventhub-Namespace-487",
        "type": "Microsoft.EventHub/Namespaces",
        "location": "South Central US",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "properties": {
          "zoneRedundant": false,
          "isAutoInflateEnabled": false,
          "maximumThroughputUnits": 0,
          "kafkaEnabled": true,
          "provisioningState": "Created",
          "metricId": "faa080af-c1d8-40ad-9cce-e1a450ca5b57:sdk-eventhub-namespace-487",
          "createdAt": "2021-09-10T00:26:26.473Z",
          "updatedAt": "2021-09-10T00:26:26.473Z",
          "serviceBusEndpoint": "https://sdk-eventhub-Namespace-487.servicebus.windows.net:443/",
          "status": "Activating"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/Default-EventHub-2264/providers/Microsoft.EventHub/namespaces/sdk-eventhub-Namespace-487/authorizationRules/sdk-Authrules-8500?api-version=2017-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "rights": [
            "Listen",
            "Send"
          ]
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Server-SB": "Service-Bus-Resource-Provider/SN1",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "id": "/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/Default-EventHub-2264/providers/Microsoft.EventHub/namespaces/sdk-eventhub-Namespace-487/authorizationRules/sdk-Authrules-8500",
        "name": "sdk-Authrules-8500",
        "type": "Microsoft.EventHub/Namespaces/AuthorizationRules",
        "location": "South Central US",
        "properties": {
          "rights": [
            "Listen",
            "Send"
          ]
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/Default-EventHub-2264/providers/Microsoft.EventHub/namespaces/sdk-eventhub-Namespace-487/authorizationRules/sdk-Authrules-8500/listKeys?api-version=2017-04-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Server-SB": "Service-Bus-Resource-Provider/SN1",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "primaryConnectionString": "Sanitized",
        "secondaryConnectionString": "Sanitized",
        "primaryKey": "Sanitized",
        "secondaryKey": "Sanitized",
        "keyName": "Sanitized"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/Default-EventHub-2264/providers/Microsoft.EventHub/namespaces/sdk-eventhub-Namespace-487/disasterRecoveryConfigs/checkNameAvailability?api-version=2017-04-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "sdk-DisasterRecovery-707"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Server-SB": "Service-Bus-Resource-Provider/SN1",
        "x-ms-ratelimit-remaining-subscription-writes": "1198"
      },
      "ResponseBody": {
        "nameAvailable": true,
        "reason": "None"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/Default-EventHub-2264/providers/Microsoft.EventHub/namespaces/sdk-eventhub-Namespace-487/disasterRecoveryConfigs/sdk-DisasterRecovery-707?api-version=2017-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "partnerNamespace": "/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/Default-EventHub-2264/providers/Microsoft.EventHub/namespaces/sdk-eventhub-Namespace-2872"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Server-SB": "Service-Bus-Resource-Provider/SN1",
        "x-ms-ratelimit-remaining-subscription-writes": "1198"
      },
      "ResponseBody": {
        "id": "/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/Default-EventHub-2264/providers/Microsoft.EventHub/namespaces/sdk-eventhub-Namespace-487/disasterRecoveryConfigs/sdk-DisasterRecovery-707",
        "name": "sdk-DisasterRecovery-707",
        "type": "Microsoft.EventHub/Namespaces/disasterrecoveryconfigs",
        "properties": {
          "provisioningState": "Accepted",
          "partnerNamespace": "/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/Default-EventHub-2264/providers/Microsoft.EventHub/namespaces/sdk-eventhub-Namespace-2872",
          "role": "Primary",
          "type": "MetadataReplication"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/Default-EventHub-2264/providers/Microsoft.EventHub/namespaces/sdk-eventhub-Namespace-487/disasterRecoveryConfigs/sdk-DisasterRecovery-707/authorizationRules/sdk-Authrules-8500?api-version=2017-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Server-SB": "Service-Bus-Resource-Provider/SN1",
        "x-ms-ratelimit-remaining-subscription-reads": "11919"
      },
      "ResponseBody": {
        "id": "/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/Default-EventHub-2264/providers/Microsoft.EventHub/namespaces/sdk-eventhub-Namespace-487/disasterRecoveryConfigs/sdk-DisasterRecovery-707/authorizationRules/sdk-Authrules-8500",
        "name": "sdk-Authrules-8500",
        "type": "Microsoft.EventHub/Namespaces/AuthorizationRules",
        "location": "South Central US",
        "properties": {
          "rights": [
            "Listen",
            "Send"
          ]
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/Default-EventHub-2264/providers/Microsoft.EventHub/namespaces/sdk-eventhub-Namespace-487/disasterRecoveryConfigs/sdk-DisasterRecovery-707/authorizationRules/sdk-Authrules-8500/listKeys?api-version=2017-04-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Server-SB": "Service-Bus-Resource-Provider/SN1",
        "x-ms-ratelimit-remaining-subscription-writes": "1196"
      },
      "ResponseBody": {
        "aliasPrimaryConnectionString": "Sanitized",
        "aliasSecondaryConnectionString": "Sanitized",
        "primaryKey": "Sanitized",
        "secondaryKey": "Sanitized",
        "keyName": "Sanitized"
      }
    },
[...]
