{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourcegroups/Default-EventHub-8946?api-version=2017-05-10",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "South Central US"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1133"
      },
      "ResponseBody": {
        "id": "/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/Default-EventHub-8946",
        "name": "Default-EventHub-8946",
        "location": "southcentralus",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/Default-EventHub-8946/providers/Microsoft.EventHub/namespaces/sdk-eventhub-Namespace-8464?api-version=2018-01-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "sku": {
          "name": "Standard",
          "tier": "Standard",
          "capacity": 1
        },
        "location": "South Central US",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "properties": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Server-SB": "Service-Bus-Resource-Provider/SN1",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "39"
      },
      "ResponseBody": {
        "sku": {
          "name": "Standard",
          "tier": "Standard",
          "capacity": 1
        },
        "id": "/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/Default-EventHub-8946/providers/Microsoft.EventHub/namespaces/sdk-eventhub-Namespace-8464",
        "name": "sdk-eventhub-Namespace-8464",
        "type": "Microsoft.EventHub/Namespaces",
        "location": "South Central US",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "properties": {
          "zoneRedundant": false,
          "isAutoInflateEnabled": false,
          "maximumThroughputUnits": 0,
          "kafkaEnabled": true,
          "provisioningState": "Created",
          "metricId": "c9cbd920-c00c-427c-852b-8aaf38badaeb:sdk-eventhub-namespace-8464",
          "createdAt": "2020-09-08T08:38:02.853Z",
          "updatedAt": "2020-09-08T08:38:02.853Z",
          "serviceBusEndpoint": "https://sdk-eventhub-Namespace-8464.servicebus.windows.net:443/",
          "status": "Activating"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/Default-EventHub-8946/providers/Microsoft.EventHub/namespaces/sdk-eventhub-Namespace-8464/authorizationRules/sdk-Authrules-4004?api-version=2017-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "rights": [
            "Listen",
            "Send"
          ]
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Server-SB": "Service-Bus-Resource-Provider/CH3",
        "x-ms-ratelimit-remaining-subscription-writes": "1132"
      },
      "ResponseBody": {
        "id": "/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/Default-EventHub-8946/providers/Microsoft.EventHub/namespaces/sdk-eventhub-Namespace-8464/authorizationRules/sdk-Authrules-4004",
        "name": "sdk-Authrules-4004",
        "type": "Microsoft.EventHub/Namespaces/AuthorizationRules",
        "location": "South Central US",
        "properties": {
          "rights": [
            "Listen",
            "Send"
          ]
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/Default-EventHub-8946/providers/Microsoft.EventHub/namespaces/sdk-eventhub-Namespace-8464/authorizationRules/sdk-Authrules-4004/listKeys?api-version=2017-04-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Server-SB": "Service-Bus-Resource-Provider/CH3",
        "x-ms-ratelimit-remaining-subscription-writes": "1173"
      },
      "ResponseBody": {
        "primaryConnectionString": "Endpoint=sb://sdk-eventhub-namespace-8464.servicebus.windows.net/;SharedAccessKeyName=sdk-Authrules-4004;SharedAccessKey=O6yY1kolIY3M/pBN7cRmPsIpGu68UDRxEwf\u002BuAMB4FA=",
        "secondaryConnectionString": "Endpoint=sb://sdk-eventhub-namespace-8464.servicebus.windows.net/;SharedAccessKeyName=sdk-Authrules-4004;SharedAccessKey=elVn7CGI7ukLcgjZVewl8DhHHSa\u002BzmrkVtlMclGUhPk=",
        "primaryKey": "O6yY1kolIY3M/pBN7cRmPsIpGu68UDRxEwf\u002BuAMB4FA=",
        "secondaryKey": "elVn7CGI7ukLcgjZVewl8DhHHSa\u002BzmrkVtlMclGUhPk=",
        "keyName": "sdk-Authrules-4004"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/Default-EventHub-8946/providers/Microsoft.EventHub/namespaces/sdk-eventhub-Namespace-8464/disasterRecoveryConfigs/checkNameAvailability?api-version=2017-04-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "sdk-DisasterRecovery-7387"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Server-SB": "Service-Bus-Resource-Provider/CH3",
        "x-ms-ratelimit-remaining-subscription-writes": "1172"
      },
      "ResponseBody": {
        "nameAvailable": true,
        "reason": "None"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/Default-EventHub-8946/providers/Microsoft.EventHub/namespaces/sdk-eventhub-Namespace-8464/disasterRecoveryConfigs/sdk-DisasterRecovery-7387?api-version=2017-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "partnerNamespace": "/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/Default-EventHub-8946/providers/Microsoft.EventHub/namespaces/sdk-eventhub-Namespace-4067"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Server-SB": "Service-Bus-Resource-Provider/CH3",
        "x-ms-ratelimit-remaining-subscription-writes": "1131"
      },
      "ResponseBody": {
        "id": "/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/Default-EventHub-8946/providers/Microsoft.EventHub/namespaces/sdk-eventhub-Namespace-8464/disasterRecoveryConfigs/sdk-DisasterRecovery-7387",
        "name": "sdk-DisasterRecovery-7387",
        "type": "Microsoft.EventHub/Namespaces/disasterrecoveryconfigs",
        "properties": {
          "provisioningState": "Accepted",
          "partnerNamespace": "/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/Default-EventHub-8946/providers/Microsoft.EventHub/namespaces/sdk-eventhub-Namespace-4067",
          "role": "Primary",
          "type": "MetadataReplication"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/Default-EventHub-8946/providers/Microsoft.EventHub/namespaces/sdk-eventhub-Namespace-8464/disasterRecoveryConfigs/sdk-DisasterRecovery-7387/authorizationRules/sdk-Authrules-4004?api-version=2017-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Server-SB": "Service-Bus-Resource-Provider/CH3",
        "x-ms-ratelimit-remaining-subscription-reads": "8458"
      },
      "ResponseBody": {
        "id": "/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/Default-EventHub-8946/providers/Microsoft.EventHub/namespaces/sdk-eventhub-Namespace-8464/disasterRecoveryConfigs/sdk-DisasterRecovery-7387/authorizationRules/sdk-Authrules-4004",
        "name": "sdk-Authrules-4004",
        "type": "Microsoft.EventHub/Namespaces/AuthorizationRules",
        "location": "South Central US",
        "properties": {
          "rights": [
            "Listen",
            "Send"
          ]
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/Default-EventHub-8946/providers/Microsoft.EventHub/namespaces/sdk-eventhub-Namespace-8464/disasterRecoveryConfigs/sdk-DisasterRecovery-7387/authorizationRules/sdk-Authrules-4004/listKeys?api-version=2017-04-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Server-SB": "Service-Bus-Resource-Provider/CH3",
        "x-ms-ratelimit-remaining-subscription-writes": "1170"
      },
      "ResponseBody": {
        "aliasPrimaryConnectionString": "Endpoint=sb://sdk-disasterrecovery-7387.servicebus.windows.net/;SharedAccessKeyName=sdk-Authrules-4004;SharedAccessKey=O6yY1kolIY3M/pBN7cRmPsIpGu68UDRxEwf\u002BuAMB4FA=",
        "aliasSecondaryConnectionString": "Endpoint=sb://sdk-disasterrecovery-7387.servicebus.windows.net/;SharedAccessKeyName=sdk-Authrules-4004;SharedAccessKey=elVn7CGI7ukLcgjZVewl8DhHHSa\u002BzmrkVtlMclGUhPk=",
        "primaryKey": "O6yY1kolIY3M/pBN7cRmPsIpGu68UDRxEwf\u002BuAMB4FA=",
        "secondaryKey": "elVn7CGI7ukLcgjZVewl8DhHHSa\u002BzmrkVtlMclGUhPk=",
        "keyName": "sdk-Authrules-4004"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/Default-EventHub-8946/providers/Microsoft.EventHub/namespaces/sdk-eventhub-Namespace-8464/disasterRecoveryConfigs/sdk-DisasterRecovery-7387?api-version=2017-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Server-SB": "Service-Bus-Resource-Provider/CH3",
        "x-ms-ratelimit-remaining-subscription-reads": "8246"
      },
      "ResponseBody": {
        "id": "/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/Default-EventHub-8946/providers/Microsoft.EventHub/namespaces/sdk-eventhub-Namespace-8464/disasterRecoveryConfigs/sdk-DisasterRecovery-7387",
        "name": "sdk-DisasterRecovery-7387",
        "type": "Microsoft.EventHub/Namespaces/disasterrecoveryconfigs",
        "properties": {
          "provisioningState": "Succeeded",
          "partnerNamespace": "/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/Default-EventHub-8946/providers/Microsoft.EventHub/namespaces/sdk-eventhub-Namespace-4067",
          "role": "Primary",
          "type": "MetadataReplication",
          "pendingReplicationOperationsCount": 0
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/Default-EventHub-8946/providers/Microsoft.EventHub/namespaces/sdk-eventhub-Namespace-8464/disasterRecoveryConfigs/sdk-DisasterRecovery-7387/breakPairing?api-version=2017-04-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Server-SB": "Service-Bus-Resource-Provider/CH3",
        "x-ms-ratelimit-remaining-subscription-writes": "1169"
      },
      "ResponseBody": []
    },
[...]
