{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourcegroups/Default-EventHub-9311?api-version=2019-10-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "South Central US"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1183"
      },
      "ResponseBody": {
        "id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/Default-EventHub-9311",
        "name": "Default-EventHub-9311",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "southcentralus",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/Default-EventHub-9311/providers/Microsoft.EventHub/namespaces/sdk-eventhub-Namespace-8523?api-version=2018-01-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "sku": {
          "name": "Standard",
          "tier": "Standard",
          "capacity": 1
        },
        "location": "South Central US",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "properties": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Server-SB": "Service-Bus-Resource-Provider/CH3",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "44"
      },
      "ResponseBody": {
        "sku": {
          "name": "Standard",
          "tier": "Standard",
          "capacity": 1
        },
        "id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/Default-EventHub-9311/providers/Microsoft.EventHub/namespaces/sdk-eventhub-Namespace-8523",
        "name": "sdk-eventhub-Namespace-8523",
        "type": "Microsoft.EventHub/Namespaces",
        "location": "South Central US",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "properties": {
          "zoneRedundant": false,
          "isAutoInflateEnabled": false,
          "maximumThroughputUnits": 0,
          "kafkaEnabled": true,
          "provisioningState": "Created",
          "metricId": "0b1f6471-1bf0-4dda-aec3-cb9272f09590:sdk-eventhub-namespace-8523",
          "createdAt": "2020-09-28T08:58:28.023Z",
          "updatedAt": "2020-09-28T08:58:28.023Z",
          "serviceBusEndpoint": "https://sdk-eventhub-Namespace-8523.servicebus.windows.net:443/",
          "status": "Activating"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/Default-EventHub-9311/providers/Microsoft.EventHub/namespaces/sdk-eventhub-Namespace-8523/authorizationRules/sdk-Authrules-9644?api-version=2017-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "rights": [
            "Listen",
            "Send"
          ]
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Server-SB": "Service-Bus-Resource-Provider/CH3",
        "x-ms-ratelimit-remaining-subscription-writes": "1182"
      },
      "ResponseBody": {
        "id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/Default-EventHub-9311/providers/Microsoft.EventHub/namespaces/sdk-eventhub-Namespace-8523/authorizationRules/sdk-Authrules-9644",
        "name": "sdk-Authrules-9644",
        "type": "Microsoft.EventHub/Namespaces/AuthorizationRules",
        "location": "South Central US",
        "properties": {
          "rights": [
            "Listen",
            "Send"
          ]
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/Default-EventHub-9311/providers/Microsoft.EventHub/namespaces/sdk-eventhub-Namespace-8523/authorizationRules/sdk-Authrules-9644/listKeys?api-version=2017-04-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Server-SB": "Service-Bus-Resource-Provider/CH3",
        "x-ms-ratelimit-remaining-subscription-writes": "1194"
      },
      "ResponseBody": {
        "primaryConnectionString": "Endpoint=sb://sdk-eventhub-namespace-8523.servicebus.windows.net/;SharedAccessKeyName=sdk-Authrules-9644;SharedAccessKey=ZEENb\u002B22l9oNfZRTfbjWhxXN7Q4mCrHmfht2B0C16z8=",
        "secondaryConnectionString": "Endpoint=sb://sdk-eventhub-namespace-8523.servicebus.windows.net/;SharedAccessKeyName=sdk-Authrules-9644;SharedAccessKey=wJAxYabLR69ZTGJel8wHwzhOq3j7w/hR/S14AWmvYrE=",
        "primaryKey": "ZEENb\u002B22l9oNfZRTfbjWhxXN7Q4mCrHmfht2B0C16z8=",
        "secondaryKey": "wJAxYabLR69ZTGJel8wHwzhOq3j7w/hR/S14AWmvYrE=",
        "keyName": "sdk-Authrules-9644"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/Default-EventHub-9311/providers/Microsoft.EventHub/namespaces/sdk-eventhub-Namespace-8523/disasterRecoveryConfigs/checkNameAvailability?api-version=2017-04-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "sdk-DisasterRecovery-5960"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Server-SB": "Service-Bus-Resource-Provider/CH3",
        "x-ms-ratelimit-remaining-subscription-writes": "1193"
      },
      "ResponseBody": {
        "nameAvailable": true,
        "reason": "None"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/Default-EventHub-9311/providers/Microsoft.EventHub/namespaces/sdk-eventhub-Namespace-8523/disasterRecoveryConfigs/sdk-DisasterRecovery-5960?api-version=2017-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "partnerNamespace": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/Default-EventHub-9311/providers/Microsoft.EventHub/namespaces/sdk-eventhub-Namespace-4657"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Server-SB": "Service-Bus-Resource-Provider/CH3",
        "x-ms-ratelimit-remaining-subscription-writes": "1181"
      },
      "ResponseBody": {
        "id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/Default-EventHub-9311/providers/Microsoft.EventHub/namespaces/sdk-eventhub-Namespace-8523/disasterRecoveryConfigs/sdk-DisasterRecovery-5960",
        "name": "sdk-DisasterRecovery-5960",
        "type": "Microsoft.EventHub/Namespaces/disasterrecoveryconfigs",
        "properties": {
          "provisioningState": "Accepted",
          "partnerNamespace": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/Default-EventHub-9311/providers/Microsoft.EventHub/namespaces/sdk-eventhub-Namespace-4657",
          "role": "Primary",
          "type": "MetadataReplication"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/Default-EventHub-9311/providers/Microsoft.EventHub/namespaces/sdk-eventhub-Namespace-8523/disasterRecoveryConfigs/sdk-DisasterRecovery-5960/authorizationRules/sdk-Authrules-9644?api-version=2017-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Server-SB": "Service-Bus-Resource-Provider/CH3",
        "x-ms-ratelimit-remaining-subscription-reads": "10971"
      },
      "ResponseBody": {
        "id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/Default-EventHub-9311/providers/Microsoft.EventHub/namespaces/sdk-eventhub-Namespace-8523/disasterRecoveryConfigs/sdk-DisasterRecovery-5960/authorizationRules/sdk-Authrules-9644",
        "name": "sdk-Authrules-9644",
        "type": "Microsoft.EventHub/Namespaces/AuthorizationRules",
        "location": "South Central US",
        "properties": {
          "rights": [
            "Listen",
            "Send"
          ]
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/Default-EventHub-9311/providers/Microsoft.EventHub/namespaces/sdk-eventhub-Namespace-8523/disasterRecoveryConfigs/sdk-DisasterRecovery-5960/authorizationRules/sdk-Authrules-9644/listKeys?api-version=2017-04-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Server-SB": "Service-Bus-Resource-Provider/CH3",
        "x-ms-ratelimit-remaining-subscription-writes": "1191"
      },
      "ResponseBody": {
        "aliasPrimaryConnectionString": "Endpoint=sb://sdk-disasterrecovery-5960.servicebus.windows.net/;SharedAccessKeyName=sdk-Authrules-9644;SharedAccessKey=ZEENb\u002B22l9oNfZRTfbjWhxXN7Q4mCrHmfht2B0C16z8=",
        "aliasSecondaryConnectionString": "Endpoint=sb://sdk-disasterrecovery-5960.servicebus.windows.net/;SharedAccessKeyName=sdk-Authrules-9644;SharedAccessKey=wJAxYabLR69ZTGJel8wHwzhOq3j7w/hR/S14AWmvYrE=",
        "primaryKey": "ZEENb\u002B22l9oNfZRTfbjWhxXN7Q4mCrHmfht2B0C16z8=",
        "secondaryKey": "wJAxYabLR69ZTGJel8wHwzhOq3j7w/hR/S14AWmvYrE=",
        "keyName": "sdk-Authrules-9644"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/Default-EventHub-9311/providers/Microsoft.EventHub/namespaces/sdk-eventhub-Namespace-8523/disasterRecoveryConfigs/sdk-DisasterRecovery-5960?api-version=2017-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Server-SB": "Service-Bus-Resource-Provider/CH3",
        "x-ms-ratelimit-remaining-subscription-reads": "10787"
      },
      "ResponseBody": {
        "id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/Default-EventHub-9311/providers/Microsoft.EventHub/namespaces/sdk-eventhub-Namespace-8523/disasterRecoveryConfigs/sdk-DisasterRecovery-5960",
        "name": "sdk-DisasterRecovery-5960",
        "type": "Microsoft.EventHub/Namespaces/disasterrecoveryconfigs",
        "properties": {
          "provisioningState": "Succeeded",
          "partnerNamespace": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/Default-EventHub-9311/providers/Microsoft.EventHub/namespaces/sdk-eventhub-Namespace-4657",
          "role": "Primary",
          "type": "MetadataReplication",
          "pendingReplicationOperationsCount": 0
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/Default-EventHub-9311/providers/Microsoft.EventHub/namespaces/sdk-eventhub-Namespace-8523/disasterRecoveryConfigs/sdk-DisasterRecovery-5960/breakPairing?api-version=2017-04-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Server-SB": "Service-Bus-Resource-Provider/CH3",
        "x-ms-ratelimit-remaining-subscription-writes": "1190"
      },
      "ResponseBody": []
    },
[...]
