{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourcegroups/Default-EventHub-8946?api-version=2019-10-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "South Central US"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1187"
      },
      "ResponseBody": {
        "id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/Default-EventHub-8946",
        "name": "Default-EventHub-8946",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "southcentralus",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/Default-EventHub-8946/providers/Microsoft.EventHub/namespaces/sdk-eventhub-Namespace-8464?api-version=2018-01-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "sku": {
          "name": "Standard",
          "tier": "Standard",
          "capacity": 1
        },
        "location": "South Central US",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "properties": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Server-SB": "Service-Bus-Resource-Provider/CH3",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "49"
      },
      "ResponseBody": {
        "sku": {
          "name": "Standard",
          "tier": "Standard",
          "capacity": 1
        },
        "id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/Default-EventHub-8946/providers/Microsoft.EventHub/namespaces/sdk-eventhub-Namespace-8464",
        "name": "sdk-eventhub-Namespace-8464",
        "type": "Microsoft.EventHub/Namespaces",
        "location": "South Central US",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "properties": {
          "zoneRedundant": false,
          "isAutoInflateEnabled": false,
          "maximumThroughputUnits": 0,
          "kafkaEnabled": true,
          "provisioningState": "Created",
          "metricId": "0b1f6471-1bf0-4dda-aec3-cb9272f09590:sdk-eventhub-namespace-8464",
          "createdAt": "2020-09-28T09:57:40.567Z",
          "updatedAt": "2020-09-28T09:57:40.567Z",
          "serviceBusEndpoint": "https://sdk-eventhub-Namespace-8464.servicebus.windows.net:443/",
          "status": "Activating"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/Default-EventHub-8946/providers/Microsoft.EventHub/namespaces/sdk-eventhub-Namespace-8464/authorizationRules/sdk-Authrules-5762?api-version=2017-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "rights": [
            "Listen",
            "Send"
          ]
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Server-SB": "Service-Bus-Resource-Provider/CH3",
        "x-ms-ratelimit-remaining-subscription-writes": "1186"
      },
      "ResponseBody": {
        "id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/Default-EventHub-8946/providers/Microsoft.EventHub/namespaces/sdk-eventhub-Namespace-8464/authorizationRules/sdk-Authrules-5762",
        "name": "sdk-Authrules-5762",
        "type": "Microsoft.EventHub/Namespaces/AuthorizationRules",
        "location": "South Central US",
        "properties": {
          "rights": [
            "Listen",
            "Send"
          ]
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/Default-EventHub-8946/providers/Microsoft.EventHub/namespaces/sdk-eventhub-Namespace-8464/authorizationRules/sdk-Authrules-5762/listKeys?api-version=2017-04-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Server-SB": "Service-Bus-Resource-Provider/CH3",
        "x-ms-ratelimit-remaining-subscription-writes": "1194"
      },
      "ResponseBody": {
        "primaryConnectionString": "Endpoint=sb://sdk-eventhub-namespace-8464.servicebus.windows.net/;SharedAccessKeyName=sdk-Authrules-5762;SharedAccessKey=6QUxk\u002BT15lP9vrnrOFYMbOZr9ZwZzk17fWSc3\u002BzZjTw=",
        "secondaryConnectionString": "Endpoint=sb://sdk-eventhub-namespace-8464.servicebus.windows.net/;SharedAccessKeyName=sdk-Authrules-5762;SharedAccessKey=Zs20LBTM\u002BLhDsdGtZgZrTHOcoM4AYshtcM7g282RvlY=",
        "primaryKey": "6QUxk\u002BT15lP9vrnrOFYMbOZr9ZwZzk17fWSc3\u002BzZjTw=",
        "secondaryKey": "Zs20LBTM\u002BLhDsdGtZgZrTHOcoM4AYshtcM7g282RvlY=",
        "keyName": "sdk-Authrules-5762"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/Default-EventHub-8946/providers/Microsoft.EventHub/namespaces/sdk-eventhub-Namespace-8464/disasterRecoveryConfigs/checkNameAvailability?api-version=2017-04-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "sdk-DisasterRecovery-3315"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Server-SB": "Service-Bus-Resource-Provider/CH3",
        "x-ms-ratelimit-remaining-subscription-writes": "1193"
      },
      "ResponseBody": {
        "nameAvailable": true,
        "reason": "None"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/Default-EventHub-8946/providers/Microsoft.EventHub/namespaces/sdk-eventhub-Namespace-8464/disasterRecoveryConfigs/sdk-DisasterRecovery-3315?api-version=2017-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "partnerNamespace": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/Default-EventHub-8946/providers/Microsoft.EventHub/namespaces/sdk-eventhub-Namespace-2101"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Server-SB": "Service-Bus-Resource-Provider/CH3",
        "x-ms-ratelimit-remaining-subscription-writes": "1185"
      },
      "ResponseBody": {
        "id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/Default-EventHub-8946/providers/Microsoft.EventHub/namespaces/sdk-eventhub-Namespace-8464/disasterRecoveryConfigs/sdk-DisasterRecovery-3315",
        "name": "sdk-DisasterRecovery-3315",
        "type": "Microsoft.EventHub/Namespaces/disasterrecoveryconfigs",
        "properties": {
          "provisioningState": "Accepted",
          "partnerNamespace": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/Default-EventHub-8946/providers/Microsoft.EventHub/namespaces/sdk-eventhub-Namespace-2101",
          "role": "Primary",
          "type": "MetadataReplication"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/Default-EventHub-8946/providers/Microsoft.EventHub/namespaces/sdk-eventhub-Namespace-8464/disasterRecoveryConfigs/sdk-DisasterRecovery-3315/authorizationRules/sdk-Authrules-5762?api-version=2017-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Server-SB": "Service-Bus-Resource-Provider/CH3",
        "x-ms-ratelimit-remaining-subscription-reads": "7852"
      },
      "ResponseBody": {
        "id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/Default-EventHub-8946/providers/Microsoft.EventHub/namespaces/sdk-eventhub-Namespace-8464/disasterRecoveryConfigs/sdk-DisasterRecovery-3315/authorizationRules/sdk-Authrules-5762",
        "name": "sdk-Authrules-5762",
        "type": "Microsoft.EventHub/Namespaces/AuthorizationRules",
        "location": "South Central US",
        "properties": {
          "rights": [
            "Listen",
            "Send"
          ]
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/Default-EventHub-8946/providers/Microsoft.EventHub/namespaces/sdk-eventhub-Namespace-8464/disasterRecoveryConfigs/sdk-DisasterRecovery-3315/authorizationRules/sdk-Authrules-5762/listKeys?api-version=2017-04-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Server-SB": "Service-Bus-Resource-Provider/CH3",
        "x-ms-ratelimit-remaining-subscription-writes": "1191"
      },
      "ResponseBody": {
        "aliasPrimaryConnectionString": "Endpoint=sb://sdk-disasterrecovery-3315.servicebus.windows.net/;SharedAccessKeyName=sdk-Authrules-5762;SharedAccessKey=6QUxk\u002BT15lP9vrnrOFYMbOZr9ZwZzk17fWSc3\u002BzZjTw=",
        "aliasSecondaryConnectionString": "Endpoint=sb://sdk-disasterrecovery-3315.servicebus.windows.net/;SharedAccessKeyName=sdk-Authrules-5762;SharedAccessKey=Zs20LBTM\u002BLhDsdGtZgZrTHOcoM4AYshtcM7g282RvlY=",
        "primaryKey": "6QUxk\u002BT15lP9vrnrOFYMbOZr9ZwZzk17fWSc3\u002BzZjTw=",
        "secondaryKey": "Zs20LBTM\u002BLhDsdGtZgZrTHOcoM4AYshtcM7g282RvlY=",
        "keyName": "sdk-Authrules-5762"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/Default-EventHub-8946/providers/Microsoft.EventHub/namespaces/sdk-eventhub-Namespace-8464/disasterRecoveryConfigs/sdk-DisasterRecovery-3315?api-version=2017-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Server-SB": "Service-Bus-Resource-Provider/SN1",
        "x-ms-ratelimit-remaining-subscription-reads": "7611"
      },
      "ResponseBody": {
        "id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/Default-EventHub-8946/providers/Microsoft.EventHub/namespaces/sdk-eventhub-Namespace-8464/disasterRecoveryConfigs/sdk-DisasterRecovery-3315",
        "name": "sdk-DisasterRecovery-3315",
        "type": "Microsoft.EventHub/Namespaces/disasterrecoveryconfigs",
        "properties": {
          "provisioningState": "Succeeded",
          "partnerNamespace": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/Default-EventHub-8946/providers/Microsoft.EventHub/namespaces/sdk-eventhub-Namespace-2101",
          "role": "Primary",
          "type": "MetadataReplication",
          "pendingReplicationOperationsCount": 0
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/Default-EventHub-8946/providers/Microsoft.EventHub/namespaces/sdk-eventhub-Namespace-8464/disasterRecoveryConfigs/sdk-DisasterRecovery-3315/breakPairing?api-version=2017-04-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Server-SB": "Service-Bus-Resource-Provider/SN1",
        "x-ms-ratelimit-remaining-subscription-writes": "1190"
      },
      "ResponseBody": []
    },
[...]
