{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/providers/Microsoft.EventHub?api-version=2019-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "10084"
      },
      "ResponseBody": {
        "id": "/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/providers/Microsoft.EventHub",
        "namespace": "Microsoft.EventHub",
        "authorizations": [
          {
            "applicationId": "80369ed6-5f11-4dd9-bef3-692475845e77",
            "roleDefinitionId": "eb8e1991-5de0-42a6-a64b-29b059341b7b"
          },
          {
            "applicationId": "6201d19e-14fb-4472-a2d6-5634a5c97568"
          }
        ],
        "resourceTypes": [
          {
            "resourceType": "namespaces",
            "locations": [
              "Australia East",
              "Australia Southeast",
              "Central US",
              "East US",
              "East US 2",
              "West US",
              "West US 2",
              "North Central US",
              "South Central US",
              "West Central US",
              "East Asia",
              "Southeast Asia",
              "Brazil South",
              "Japan East",
              "Japan West",
              "North Europe",
              "West Europe",
              "Central India",
              "South India",
              "West India",
              "Canada Central",
              "Canada East",
              "UK West",
              "UK South",
              "Korea Central",
              "Korea South",
              "France Central",
              "South Africa North",
              "UAE North",
              "Australia Central",
              "Switzerland North",
              "Germany West Central",
              "Norway East",
              "Central US EUAP",
              "East US 2 EUAP"
            ],
            "apiVersions": [
              "2018-01-01-preview",
              "2017-04-01",
              "2015-08-01",
              "2014-09-01"
            ],
            "defaultApiVersion": "2017-04-01",
            "apiProfiles": [
              {
                "profileVersion": "2018-06-01-profile",
                "apiVersion": "2017-04-01"
              }
            ],
            "capabilities": "CrossResourceGroupResourceMove, CrossSubscriptionResourceMove, SystemAssignedResourceIdentity, SupportsTags, SupportsLocation"
          },
          {
            "resourceType": "clusters",
            "locations": [
              "Australia East",
              "Australia Southeast",
              "Central US",
              "East US",
              "East US 2",
              "West US",
              "West US 2",
              "North Central US",
              "South Central US",
          [...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourcegroups/Default-EventHub-4061?api-version=2019-10-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "Australia East"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1183"
      },
      "ResponseBody": {
        "id": "/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/Default-EventHub-4061",
        "name": "Default-EventHub-4061",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "australiaeast",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/Default-EventHub-4061/providers/Microsoft.EventHub/namespaces/sdk-eventhub-Namespace-4408?api-version=2018-01-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "sku": {
          "name": "Standard",
          "tier": "Standard"
        },
        "location": "Australia East",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "properties": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Server-SB": "Service-Bus-Resource-Provider/SN1",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "44"
      },
      "ResponseBody": {
        "sku": {
          "name": "Standard",
          "tier": "Standard",
          "capacity": 1
        },
        "id": "/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/Default-EventHub-4061/providers/Microsoft.EventHub/namespaces/sdk-eventhub-Namespace-4408",
        "name": "sdk-eventhub-Namespace-4408",
        "type": "Microsoft.EventHub/Namespaces",
        "location": "Australia East",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "properties": {
          "zoneRedundant": false,
          "isAutoInflateEnabled": false,
          "maximumThroughputUnits": 0,
          "kafkaEnabled": true,
          "provisioningState": "Created",
          "metricId": "c9cbd920-c00c-427c-852b-8aaf38badaeb:sdk-eventhub-namespace-4408",
          "createdAt": "2020-08-06T02:09:09.1Z",
          "updatedAt": "2020-08-06T02:09:09.1Z",
          "serviceBusEndpoint": "https://sdk-eventhub-Namespace-4408.servicebus.windows.net:443/",
          "status": "Activating"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/Default-EventHub-4061/providers/Microsoft.EventHub/namespaces/sdk-eventhub-Namespace-4408/eventhubs/sdk-EventHub-6450?api-version=2017-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "messageRetentionInDays": 5
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Server-SB": "Service-Bus-Resource-Provider/SN1",
        "x-ms-ratelimit-remaining-subscription-writes": "1182"
      },
      "ResponseBody": {
        "id": "/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/Default-EventHub-4061/providers/Microsoft.EventHub/namespaces/sdk-eventhub-Namespace-4408/eventhubs/sdk-EventHub-6450",
        "name": "sdk-EventHub-6450",
        "type": "Microsoft.EventHub/Namespaces/EventHubs",
        "location": "Australia East",
        "properties": {
          "messageRetentionInDays": 5,
          "partitionCount": 4,
          "status": "Active",
          "createdAt": "2020-08-06T02:09:57.287Z",
          "updatedAt": "2020-08-06T02:09:57.513Z",
          "partitionIds": [
            "0",
            "1",
            "2",
            "3"
          ]
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/Default-EventHub-4061/providers/Microsoft.EventHub/namespaces/sdk-eventhub-Namespace-4408/eventhubs/sdk-EventHub-6450/authorizationRules/sdk-Authrules-6752?api-version=2017-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "rights": [
            "Listen",
            "Send"
          ]
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Server-SB": "Service-Bus-Resource-Provider/SN1",
        "x-ms-ratelimit-remaining-subscription-writes": "1181"
      },
      "ResponseBody": {
        "id": "/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/Default-EventHub-4061/providers/Microsoft.EventHub/namespaces/sdk-eventhub-Namespace-4408/eventhubs/sdk-EventHub-6450/authorizationRules/sdk-Authrules-6752",
        "name": "sdk-Authrules-6752",
        "type": "Microsoft.EventHub/Namespaces/EventHubs/AuthorizationRules",
        "location": "Australia East",
        "properties": {
          "rights": [
            "Listen",
            "Send"
          ]
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/Default-EventHub-4061/providers/Microsoft.EventHub/namespaces/sdk-eventhub-Namespace-4408/eventhubs/sdk-EventHub-6450/authorizationRules?api-version=2017-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Server-SB": "Service-Bus-Resource-Provider/SN1",
        "x-ms-ratelimit-remaining-subscription-reads": "10046"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/Default-EventHub-4061/providers/Microsoft.EventHub/namespaces/sdk-eventhub-Namespace-4408/eventhubs/sdk-EventHub-6450/authorizationRules/sdk-Authrules-6752",
            "name": "sdk-Authrules-6752",
            "type": "Microsoft.EventHub/Namespaces/EventHubs/AuthorizationRules",
            "location": "Australia East",
            "properties": {
              "rights": [
                "Listen",
                "Send"
              ]
            }
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/Default-EventHub-4061/providers/Microsoft.EventHub/namespaces/sdk-eventhub-Namespace-4408/eventhubs/sdk-EventHub-6450/authorizationRules/sdk-Authrules-6752/listKeys?api-version=2017-04-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Server-SB": "Service-Bus-Resource-Provider/SN1",
        "x-ms-ratelimit-remaining-subscription-writes": "1188"
      },
      "ResponseBody": {
        "primaryConnectionString": "Endpoint=sb://sdk-eventhub-namespace-4408.servicebus.windows.net/;SharedAccessKeyName=sdk-Authrules-6752;SharedAccessKey=MEJlnTEnWx\u002BavHAM\u002Bm4AuP/NWvXCipsDqDk0J/5Wons=;EntityPath=sdk-EventHub-6450",
        "secondaryConnectionString": "Endpoint=sb://sdk-eventhub-namespace-4408.servicebus.windows.net/;SharedAccessKeyName=sdk-Authrules-6752;SharedAccessKey=Ge4u/46D7I\u002BG4m\u002BwwroyHvqFZR5wz9FkuQ79D\u002BF6S\u002B0=;EntityPath=sdk-EventHub-6450",
        "primaryKey": "MEJlnTEnWx\u002BavHAM\u002Bm4AuP/NWvXCipsDqDk0J/5Wons=",
        "secondaryKey": "Ge4u/46D7I\u002BG4m\u002BwwroyHvqFZR5wz9FkuQ79D\u002BF6S\u002B0=",
        "keyName": "sdk-Authrules-6752"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/Default-EventHub-4061/providers/Microsoft.EventHub/namespaces/sdk-eventhub-Namespace-4408/eventhubs/sdk-EventHub-6450/authorizationRules/sdk-Authrules-6752/regenerateKeys?api-version=2017-04-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "keyType": "PrimaryKey"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Server-SB": "Service-Bus-Resource-Provider/SN1",
        "x-ms-ratelimit-remaining-subscription-writes": "1187"
      },
      "ResponseBody": {
        "primaryConnectionString": "Endpoint=sb://sdk-eventhub-namespace-4408.servicebus.windows.net/;SharedAccessKeyName=sdk-Authrules-6752;SharedAccessKey=oEd2jmC9pSL2NCdkf/O9QhFTmRORKjPROIlImQ3rKmo=;EntityPath=sdk-EventHub-6450",
        "secondaryConnectionString": "Endpoint=sb://sdk-eventhub-namespace-4408.servicebus.windows.net/;SharedAccessKeyName=sdk-Authrules-6752;SharedAccessKey=Ge4u/46D7I\u002BG4m\u002BwwroyHvqFZR5wz9FkuQ79D\u002BF6S\u002B0=;EntityPath=sdk-EventHub-6450",
        "primaryKey": "oEd2jmC9pSL2NCdkf/O9QhFTmRORKjPROIlImQ3rKmo=",
        "secondaryKey": "Ge4u/46D7I\u002BG4m\u002BwwroyHvqFZR5wz9FkuQ79D\u002BF6S\u002B0=",
        "keyName": "sdk-Authrules-6752"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/Default-EventHub-4061/providers/Microsoft.EventHub/namespaces/sdk-eventhub-Namespace-4408?api-version=2018-01-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Location": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/Default-EventHub-4061/providers/Microsoft.EventHub/namespaces/sdk-eventhub-Namespace-4408/operationresults/sdk-eventhub-Namespace-4408?api-version=2018-01-01-preview",
        "Server-SB": "Service-Bus-Resource-Provider/SN1",
        "x-ms-ratelimit-remaining-subscription-deletes": "14983"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/Default-EventHub-4061/providers/Microsoft.EventHub/namespaces/sdk-eventhub-Namespace-4408/operationresults/sdk-eventhub-Namespace-4408?api-version=2018-01-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/Default-EventHub-4061/providers/Microsoft.EventHub/namespaces/sdk-eventhub-Namespace-4408/operationresults/sdk-eventhub-Namespace-4408?api-version=2018-01-01-preview",
        "Retry-After": "37",
        "Server-SB": "Service-Bus-Resource-Provider/SN1",
        "x-ms-ratelimit-remaining-subscription-reads": "10044"
      },
      "ResponseBody": {
        "sku": {
          "name": "Standard",
          "tier": "Standard",
          "capacity": 1
        },
        "id": "/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/Default-EventHub-4061/providers/Microsoft.EventHub/namespaces/sdk-eventhub-Namespace-4408",
        "name": "sdk-eventhub-Namespace-4408",
        "type": "Microsoft.EventHub/Namespaces",
        "location": "Australia East",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "properties": {
          "zoneRedundant": false,
          "isAutoInflateEnabled": false,
          "maximumThroughputUnits": 0,
          "kafkaEnabled": true,
          "provisioningState": "Succeeded",
          "metricId": "c9cbd920-c00c-427c-852b-8aaf38badaeb:sdk-eventhub-namespace-4408",
          "createdAt": "2020-08-06T02:09:09.1Z",
          "updatedAt": "2020-08-06T02:10:07.723Z",
          "serviceBusEndpoint": "https://sdk-eventhub-Namespace-4408.servicebus.windows.net:443/",
          "status": "Removing"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/Default-EventHub-4061/providers/Microsoft.EventHub/namespaces/sdk-eventhub-Namespace-4408/operationresults/sdk-eventhub-Namespace-4408?api-version=2018-01-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Server-SB": "Service-Bus-Resource-Provider/SN1",
        "x-ms-ratelimit-remaining-subscription-reads": "10025"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "CreatePrimaryKey": "lvL8IoInwF4d95\u002BtqGVNUyVPBn1g\u002BTPXJCA\u002BbgaPLFc=",
    "RandomSeed": "744371174",
    "SUBSCRIPTION_ID": "c9cbd920-c00c-427c-852b-8aaf38badaeb",
    "UpdatePrimaryKey": "tS1q8F6PPzGiciSn/V/czyWXFrKaNtfMr03r7F4bPC0="
  }
}