{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c?api-version=2019-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11580"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "tagKey1": "tagValue1",
          "tagKey2": "tagValue2"
        },
        "subscriptionId": "db1ab6f0-4769-4b27-930e-01e2ef9c123c",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": ".NET Mgmt SDK Test with TTL = 1 Day",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.EventHub?api-version=2019-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11579"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.EventHub",
        "namespace": "Microsoft.EventHub",
        "authorizations": [
          {
            "applicationId": "80369ed6-5f11-4dd9-bef3-692475845e77",
            "roleDefinitionId": "eb8e1991-5de0-42a6-a64b-29b059341b7b"
          },
          {
            "applicationId": "6201d19e-14fb-4472-a2d6-5634a5c97568"
          }
        ],
        "resourceTypes": [
          {
            "resourceType": "namespaces",
            "locations": [
              "Australia East",
              "Australia Southeast",
              "Central US",
              "East US",
              "East US 2",
              "West US",
              "West US 2",
              "North Central US",
              "South Central US",
              "West Central US",
              "East Asia",
              "Southeast Asia",
              "Brazil South",
              "Japan East",
              "Japan West",
              "North Europe",
              "West Europe",
              "Central India",
              "South India",
              "West India",
              "Canada Central",
              "Canada East",
              "UK West",
              "UK South",
              "Korea Central",
              "Korea South",
              "France Central",
              "South Africa North",
              "UAE North",
              "Australia Central",
              "Switzerland North",
              "Germany West Central",
              "Norway East",
              "Jio India West",
              "West US 3"
            ],
            "apiVersions": [
              "2021-06-01-preview",
              "2021-01-01-preview",
              "2018-01-01-preview",
              "2017-04-01",
              "2015-08-01",
              "2014-09-01"
            ],
            "defaultApiVersion": "2017-04-01",
            "apiProfiles": [
              {
                "profileVersion": "2018-06-01-profile",
                "apiVersion": "2017-04-01"
              }
            ],
            "capabilities": "CrossResourceGroupResourceMove, CrossSubscriptionResourceMove, SystemAssignedResourceIdentity, SupportsTags, SupportsLocation"
          },
          {
            "resourceType": "clusters",
            "locations": [
              "Australia East",
              "Australia Southeast",
              "Central US",
              "East US",
              "East US 2",
              "West US",
              "West US 2",
              "North Central US",
              "South Central US",
          [...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourcegroups/Default-EventHub-4738?api-version=2019-10-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "australiaeast"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1196"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/Default-EventHub-4738",
        "name": "Default-EventHub-4738",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "australiaeast",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/Default-EventHub-4738/providers/Microsoft.EventHub/namespaces/sdk-eventhub-Namespace-1842?api-version=2018-01-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "sku": {
          "name": "Standard",
          "tier": "Standard"
        },
        "location": "Australia East",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "properties": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Server-SB": "Service-Bus-Resource-Provider/CH3",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "49"
      },
      "ResponseBody": {
        "sku": {
          "name": "Standard",
          "tier": "Standard",
          "capacity": 1
        },
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/Default-EventHub-4738/providers/Microsoft.EventHub/namespaces/sdk-eventhub-Namespace-1842",
        "name": "sdk-eventhub-Namespace-1842",
        "type": "Microsoft.EventHub/Namespaces",
        "location": "Australia East",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "properties": {
          "zoneRedundant": false,
          "isAutoInflateEnabled": false,
          "maximumThroughputUnits": 0,
          "kafkaEnabled": true,
          "provisioningState": "Created",
          "metricId": "db1ab6f0-4769-4b27-930e-01e2ef9c123c:sdk-eventhub-namespace-1842",
          "createdAt": "2021-08-29T01:59:39.653Z",
          "updatedAt": "2021-08-29T01:59:39.653Z",
          "serviceBusEndpoint": "https://sdk-eventhub-Namespace-1842.servicebus.windows.net:443/",
          "status": "Activating"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/Default-EventHub-4738/providers/Microsoft.EventHub/namespaces/sdk-eventhub-Namespace-1842/eventhubs/sdk-EventHub-5757?api-version=2017-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "messageRetentionInDays": 5
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Server-SB": "Service-Bus-Resource-Provider/CH3",
        "x-ms-ratelimit-remaining-subscription-writes": "1195"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/Default-EventHub-4738/providers/Microsoft.EventHub/namespaces/sdk-eventhub-Namespace-1842/eventhubs/sdk-EventHub-5757",
        "name": "sdk-EventHub-5757",
        "type": "Microsoft.EventHub/Namespaces/EventHubs",
        "location": "Australia East",
        "properties": {
          "messageRetentionInDays": 5,
          "partitionCount": 4,
          "status": "Active",
          "createdAt": "2021-08-29T02:00:33.28Z",
          "updatedAt": "2021-08-29T02:00:33.527Z",
          "partitionIds": [
            "0",
            "1",
            "2",
            "3"
          ]
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/Default-EventHub-4738/providers/Microsoft.EventHub/namespaces/sdk-eventhub-Namespace-1842/eventhubs/sdk-EventHub-5757/authorizationRules/sdk-Authrules-2682?api-version=2017-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "rights": [
            "Listen",
            "Send"
          ]
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Server-SB": "Service-Bus-Resource-Provider/CH3",
        "x-ms-ratelimit-remaining-subscription-writes": "1196"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/Default-EventHub-4738/providers/Microsoft.EventHub/namespaces/sdk-eventhub-Namespace-1842/eventhubs/sdk-EventHub-5757/authorizationRules/sdk-Authrules-2682",
        "name": "sdk-Authrules-2682",
        "type": "Microsoft.EventHub/Namespaces/EventHubs/AuthorizationRules",
        "location": "Australia East",
        "properties": {
          "rights": [
            "Listen",
            "Send"
          ]
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/Default-EventHub-4738/providers/Microsoft.EventHub/namespaces/sdk-eventhub-Namespace-1842/eventhubs/sdk-EventHub-5757/authorizationRules?api-version=2017-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Server-SB": "Service-Bus-Resource-Provider/CH3",
        "x-ms-ratelimit-remaining-subscription-reads": "11326"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/Default-EventHub-4738/providers/Microsoft.EventHub/namespaces/sdk-eventhub-Namespace-1842/eventhubs/sdk-EventHub-5757/authorizationRules/sdk-Authrules-2682",
            "name": "sdk-Authrules-2682",
            "type": "Microsoft.EventHub/Namespaces/EventHubs/AuthorizationRules",
            "location": "Australia East",
            "properties": {
              "rights": [
                "Listen",
                "Send"
              ]
            }
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/Default-EventHub-4738/providers/Microsoft.EventHub/namespaces/sdk-eventhub-Namespace-1842/eventhubs/sdk-EventHub-5757/authorizationRules/sdk-Authrules-2682/listKeys?api-version=2017-04-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Server-SB": "Service-Bus-Resource-Provider/CH3",
        "x-ms-ratelimit-remaining-subscription-writes": "1194"
      },
      "ResponseBody": {
        "primaryConnectionString": "Sanitized",
        "secondaryConnectionString": "Sanitized",
        "primaryKey": "Sanitized",
        "secondaryKey": "Sanitized",
        "keyName": "sdk-Authrules-2682"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/Default-EventHub-4738/providers/Microsoft.EventHub/namespaces/sdk-eventhub-Namespace-1842/eventhubs/sdk-EventHub-5757/authorizationRules/sdk-Authrules-2682/regenerateKeys?api-version=2017-04-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "keyType": "PrimaryKey"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Server-SB": "Service-Bus-Resource-Provider/CH3",
        "x-ms-ratelimit-remaining-subscription-writes": "1193"
      },
      "ResponseBody": {
        "primaryConnectionString": "Sanitized",
        "secondaryConnectionString": "Sanitized",
        "primaryKey": "Sanitized",
        "secondaryKey": "Sanitized",
        "keyName": "sdk-Authrules-2682"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/Default-EventHub-4738/providers/Microsoft.EventHub/namespaces/sdk-eventhub-Namespace-1842?api-version=2018-01-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Location": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/Default-EventHub-4738/providers/Microsoft.EventHub/namespaces/sdk-eventhub-Namespace-1842/operationresults/sdk-eventhub-Namespace-1842?api-version=2018-01-01-preview",
        "Server-SB": "Service-Bus-Resource-Provider/CH3",
        "x-ms-ratelimit-remaining-subscription-deletes": "14997"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/Default-EventHub-4738/providers/Microsoft.EventHub/namespaces/sdk-eventhub-Namespace-1842/operationresults/sdk-eventhub-Namespace-1842?api-version=2018-01-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/Default-EventHub-4738/providers/Microsoft.EventHub/namespaces/sdk-eventhub-Namespace-1842/operationresults/sdk-eventhub-Namespace-1842?api-version=2018-01-01-preview",
        "Retry-After": "47",
        "Server-SB": "Service-Bus-Resource-Provider/CH3",
        "x-ms-ratelimit-remaining-subscription-reads": "11324"
      },
      "ResponseBody": {
        "sku": {
          "name": "Standard",
          "tier": "Standard",
          "capacity": 1
        },
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/Default-EventHub-4738/providers/Microsoft.EventHub/namespaces/sdk-eventhub-Namespace-1842",
        "name": "sdk-eventhub-Namespace-1842",
        "type": "Microsoft.EventHub/Namespaces",
        "location": "Australia East",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "properties": {
          "zoneRedundant": false,
          "isAutoInflateEnabled": false,
          "maximumThroughputUnits": 0,
          "kafkaEnabled": true,
          "provisioningState": "Succeeded",
          "metricId": "db1ab6f0-4769-4b27-930e-01e2ef9c123c:sdk-eventhub-namespace-1842",
          "createdAt": "2021-08-29T01:59:39.653Z",
          "updatedAt": "2021-08-29T02:00:52.297Z",
          "serviceBusEndpoint": "https://sdk-eventhub-Namespace-1842.servicebus.windows.net:443/",
          "status": "Removing"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/Default-EventHub-4738/providers/Microsoft.EventHub/namespaces/sdk-eventhub-Namespace-1842/operationresults/sdk-eventhub-Namespace-1842?api-version=2018-01-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Server-SB": "Service-Bus-Resource-Provider/CH3",
        "x-ms-ratelimit-remaining-subscription-reads": "11306"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "CreatePrimaryKey": "D95/PeJETXsfNfVhAPNWd6ot1DDWo6b/l83vZagnNZ8=",
    "RandomSeed": "442273361",
    "SUBSCRIPTION_ID": "db1ab6f0-4769-4b27-930e-01e2ef9c123c",
    "UpdatePrimaryKey": "PncnJvdKOXQg1s4TcMfFsWsVWh6g7kESGQKtA1iimGE="
  }
}