{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/providers/Microsoft.EventHub?api-version=2017-05-10",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "8135"
      },
      "ResponseBody": {
        "id": "/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/providers/Microsoft.EventHub",
        "namespace": "Microsoft.EventHub",
        "authorizations": [
          {
            "applicationId": "80369ed6-5f11-4dd9-bef3-692475845e77",
            "roleDefinitionId": "eb8e1991-5de0-42a6-a64b-29b059341b7b"
          },
          {
            "applicationId": "6201d19e-14fb-4472-a2d6-5634a5c97568"
          }
        ],
        "resourceTypes": [
          {
            "resourceType": "namespaces",
            "locations": [
              "Australia East",
              "Australia Southeast",
              "Central US",
              "East US",
              "East US 2",
              "West US",
              "West US 2",
              "North Central US",
              "South Central US",
              "West Central US",
              "East Asia",
              "Southeast Asia",
              "Brazil South",
              "Japan East",
              "Japan West",
              "North Europe",
              "West Europe",
              "Central India",
              "South India",
              "West India",
              "Canada Central",
              "Canada East",
              "UK West",
              "UK South",
              "Korea Central",
              "Korea South",
              "France Central",
              "South Africa North",
              "UAE North",
              "Australia Central",
              "Switzerland North",
              "Germany West Central",
              "Norway East",
              "Central US EUAP",
              "East US 2 EUAP"
            ],
            "apiVersions": [
              "2018-01-01-preview",
              "2017-04-01",
              "2015-08-01",
              "2014-09-01"
            ],
            "apiProfiles": [
              {
                "profileVersion": "2018-06-01-profile",
                "apiVersion": "2017-04-01"
              }
            ],
            "capabilities": "CrossResourceGroupResourceMove, CrossSubscriptionResourceMove, SystemAssignedResourceIdentity"
          },
          {
            "resourceType": "clusters",
            "locations": [
              "Australia East",
              "Australia Southeast",
              "Central US",
              "East US",
              "East US 2",
              "West US",
              "West US 2",
              "North Central US",
              "South Central US",
              "West Central US",
         [...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourcegroups/Default-EventHub-4061?api-version=2017-05-10",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "Australia East"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1171"
      },
      "ResponseBody": {
        "id": "/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/Default-EventHub-4061",
        "name": "Default-EventHub-4061",
        "location": "australiaeast",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/Default-EventHub-4061/providers/Microsoft.EventHub/namespaces/sdk-Namespace-4408?api-version=2018-01-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "sku": {
          "name": "Standard",
          "tier": "Standard"
        },
        "location": "Australia East",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "properties": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Server-SB": "Service-Bus-Resource-Provider/CH3",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "45"
      },
      "ResponseBody": {
        "sku": {
          "name": "Standard",
          "tier": "Standard",
          "capacity": 1
        },
        "id": "/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/Default-EventHub-4061/providers/Microsoft.EventHub/namespaces/sdk-Namespace-4408",
        "name": "sdk-Namespace-4408",
        "type": "Microsoft.EventHub/Namespaces",
        "location": "Australia East",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "properties": {
          "zoneRedundant": false,
          "isAutoInflateEnabled": false,
          "maximumThroughputUnits": 0,
          "kafkaEnabled": true,
          "provisioningState": "Created",
          "metricId": "c9cbd920-c00c-427c-852b-8aaf38badaeb:sdk-namespace-4408",
          "createdAt": "2020-06-12T03:56:41.613Z",
          "updatedAt": "2020-06-12T03:56:41.613Z",
          "serviceBusEndpoint": "https://sdk-Namespace-4408.servicebus.windows.net:443/",
          "status": "Activating"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/Default-EventHub-4061/providers/Microsoft.EventHub/namespaces/sdk-Namespace-4408/eventhubs/sdk-EventHub-7600?api-version=2017-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "messageRetentionInDays": 5
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Server-SB": "Service-Bus-Resource-Provider/CH3",
        "x-ms-ratelimit-remaining-subscription-writes": "1169"
      },
      "ResponseBody": {
        "id": "/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/Default-EventHub-4061/providers/Microsoft.EventHub/namespaces/sdk-Namespace-4408/eventhubs/sdk-EventHub-7600",
        "name": "sdk-EventHub-7600",
        "type": "Microsoft.EventHub/Namespaces/EventHubs",
        "location": "Australia East",
        "properties": {
          "messageRetentionInDays": 5,
          "partitionCount": 4,
          "status": "Active",
          "createdAt": "2020-06-12T03:57:33.177Z",
          "updatedAt": "2020-06-12T03:57:35.52Z",
          "partitionIds": [
            "0",
            "1",
            "2",
            "3"
          ]
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/Default-EventHub-4061/providers/Microsoft.EventHub/namespaces/sdk-Namespace-4408/eventhubs/sdk-EventHub-7600/authorizationRules/sdk-Authrules-4469?api-version=2017-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "rights": [
            "Listen",
            "Send"
          ]
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Server-SB": "Service-Bus-Resource-Provider/CH3",
        "x-ms-ratelimit-remaining-subscription-writes": "1168"
      },
      "ResponseBody": {
        "id": "/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/Default-EventHub-4061/providers/Microsoft.EventHub/namespaces/sdk-Namespace-4408/eventhubs/sdk-EventHub-7600/authorizationRules/sdk-Authrules-4469",
        "name": "sdk-Authrules-4469",
        "type": "Microsoft.EventHub/Namespaces/EventHubs/AuthorizationRules",
        "location": "Australia East",
        "properties": {
          "rights": [
            "Listen",
            "Send"
          ]
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/Default-EventHub-4061/providers/Microsoft.EventHub/namespaces/sdk-Namespace-4408/eventhubs/sdk-EventHub-7600/authorizationRules?api-version=2017-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Server-SB": "Service-Bus-Resource-Provider/CH3",
        "x-ms-ratelimit-remaining-subscription-reads": "8058"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/Default-EventHub-4061/providers/Microsoft.EventHub/namespaces/sdk-Namespace-4408/eventhubs/sdk-EventHub-7600/authorizationRules/sdk-Authrules-4469",
            "name": "sdk-Authrules-4469",
            "type": "Microsoft.EventHub/Namespaces/EventHubs/AuthorizationRules",
            "location": "Australia East",
            "properties": {
              "rights": [
                "Listen",
                "Send"
              ]
            }
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/Default-EventHub-4061/providers/Microsoft.EventHub/namespaces/sdk-Namespace-4408/eventhubs/sdk-EventHub-7600/authorizationRules/sdk-Authrules-4469/listKeys?api-version=2017-04-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Server-SB": "Service-Bus-Resource-Provider/CH3",
        "x-ms-ratelimit-remaining-subscription-writes": "1185"
      },
      "ResponseBody": {
        "primaryConnectionString": "Endpoint=sb://sdk-namespace-4408.servicebus.windows.net/;SharedAccessKeyName=sdk-Authrules-4469;SharedAccessKey=0mL5F1AOpFGBd0\u002B\u002ByD5Pgk\u002BpT9gjYpDXLj9YxZ/frhU=;EntityPath=sdk-EventHub-7600",
        "secondaryConnectionString": "Endpoint=sb://sdk-namespace-4408.servicebus.windows.net/;SharedAccessKeyName=sdk-Authrules-4469;SharedAccessKey=ng9Xbrtwe700HepTKRJvl4AKN1f830IjKH6vAbCKMUU=;EntityPath=sdk-EventHub-7600",
        "primaryKey": "0mL5F1AOpFGBd0\u002B\u002ByD5Pgk\u002BpT9gjYpDXLj9YxZ/frhU=",
        "secondaryKey": "ng9Xbrtwe700HepTKRJvl4AKN1f830IjKH6vAbCKMUU=",
        "keyName": "sdk-Authrules-4469"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/Default-EventHub-4061/providers/Microsoft.EventHub/namespaces/sdk-Namespace-4408/eventhubs/sdk-EventHub-7600/authorizationRules/sdk-Authrules-4469/regenerateKeys?api-version=2017-04-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "keyType": "PrimaryKey"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Server-SB": "Service-Bus-Resource-Provider/CH3",
        "x-ms-ratelimit-remaining-subscription-writes": "1184"
      },
      "ResponseBody": {
        "primaryConnectionString": "Endpoint=sb://sdk-namespace-4408.servicebus.windows.net/;SharedAccessKeyName=sdk-Authrules-4469;SharedAccessKey=kEF5Q60ZrU4O5hlXUx33OjO1c/nXAMc6Etu4TtFZaZI=;EntityPath=sdk-EventHub-7600",
        "secondaryConnectionString": "Endpoint=sb://sdk-namespace-4408.servicebus.windows.net/;SharedAccessKeyName=sdk-Authrules-4469;SharedAccessKey=ng9Xbrtwe700HepTKRJvl4AKN1f830IjKH6vAbCKMUU=;EntityPath=sdk-EventHub-7600",
        "primaryKey": "kEF5Q60ZrU4O5hlXUx33OjO1c/nXAMc6Etu4TtFZaZI=",
        "secondaryKey": "ng9Xbrtwe700HepTKRJvl4AKN1f830IjKH6vAbCKMUU=",
        "keyName": "sdk-Authrules-4469"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/Default-EventHub-4061/providers/Microsoft.EventHub/namespaces/sdk-Namespace-4408?api-version=2018-01-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Location": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/Default-EventHub-4061/providers/Microsoft.EventHub/namespaces/sdk-Namespace-4408/operationresults/sdk-Namespace-4408?api-version=2018-01-01-preview",
        "Server-SB": "Service-Bus-Resource-Provider/CH3",
        "x-ms-ratelimit-remaining-subscription-deletes": "14976"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/Default-EventHub-4061/providers/Microsoft.EventHub/namespaces/sdk-Namespace-4408/operationresults/sdk-Namespace-4408?api-version=2018-01-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/Default-EventHub-4061/providers/Microsoft.EventHub/namespaces/sdk-Namespace-4408/operationresults/sdk-Namespace-4408?api-version=2018-01-01-preview",
        "Retry-After": "49",
        "Server-SB": "Service-Bus-Resource-Provider/CH3",
        "x-ms-ratelimit-remaining-subscription-reads": "8049"
      },
      "ResponseBody": {
        "sku": {
          "name": "Standard",
          "tier": "Standard",
          "capacity": 1
        },
        "id": "/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/Default-EventHub-4061/providers/Microsoft.EventHub/namespaces/sdk-Namespace-4408",
        "name": "sdk-Namespace-4408",
        "type": "Microsoft.EventHub/Namespaces",
        "location": "Australia East",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "properties": {
          "zoneRedundant": false,
          "isAutoInflateEnabled": false,
          "maximumThroughputUnits": 0,
          "kafkaEnabled": true,
          "provisioningState": "Succeeded",
          "metricId": "c9cbd920-c00c-427c-852b-8aaf38badaeb:sdk-namespace-4408",
          "createdAt": "2020-06-12T03:56:41.613Z",
          "updatedAt": "2020-06-12T03:57:46.66Z",
          "serviceBusEndpoint": "https://sdk-Namespace-4408.servicebus.windows.net:443/",
          "status": "Removing"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/Default-EventHub-4061/providers/Microsoft.EventHub/namespaces/sdk-Namespace-4408/operationresults/sdk-Namespace-4408?api-version=2018-01-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Server-SB": "Service-Bus-Resource-Provider/SN1",
        "x-ms-ratelimit-remaining-subscription-reads": "8014"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "CreatePrimaryKey": "Kqgqp0/n0LWFl6FYP9gv5lEr\u002BmAfOnVKNov6ghNfGyc=",
    "RandomSeed": "744371174",
    "SUBSCRIPTION_ID": "c9cbd920-c00c-427c-852b-8aaf38badaeb",
    "TENANT_ID": "72f988bf-86f1-41af-91ab-2d7cd011db47",
    "UpdatePrimaryKey": "tP643ahcCzY/POrk598o/H\u002BBPRGd\u002BKTyZYuq3OElN4Y="
  }
}