{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.EventHub?api-version=2019-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "6705"
      },
      "ResponseBody": {
        "id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.EventHub",
        "namespace": "Microsoft.EventHub",
        "authorizations": [
          {
            "applicationId": "80369ed6-5f11-4dd9-bef3-692475845e77",
            "roleDefinitionId": "eb8e1991-5de0-42a6-a64b-29b059341b7b"
          },
          {
            "applicationId": "6201d19e-14fb-4472-a2d6-5634a5c97568"
          }
        ],
        "resourceTypes": [
          {
            "resourceType": "namespaces",
            "locations": [
              "Australia East",
              "Australia Southeast",
              "Central US",
              "East US",
              "East US 2",
              "West US",
              "West US 2",
              "North Central US",
              "South Central US",
              "West Central US",
              "East Asia",
              "Southeast Asia",
              "Brazil South",
              "Japan East",
              "Japan West",
              "North Europe",
              "West Europe",
              "Central India",
              "South India",
              "West India",
              "Canada Central",
              "Canada East",
              "UK West",
              "UK South",
              "Korea Central",
              "Korea South",
              "France Central",
              "South Africa North",
              "UAE North",
              "Australia Central",
              "Switzerland North",
              "Germany West Central",
              "Norway East",
              "Central US EUAP",
              "East US 2 EUAP"
            ],
            "apiVersions": [
              "2018-01-01-preview",
              "2017-04-01",
              "2015-08-01",
              "2014-09-01"
            ],
            "defaultApiVersion": "2017-04-01",
            "apiProfiles": [
              {
                "profileVersion": "2018-06-01-profile",
                "apiVersion": "2017-04-01"
              }
            ],
            "capabilities": "CrossResourceGroupResourceMove, CrossSubscriptionResourceMove, SystemAssignedResourceIdentity, SupportsTags, SupportsLocation"
          },
          {
            "resourceType": "clusters",
            "locations": [
              "Australia East",
              "Australia Southeast",
              "Central US",
              "East US",
              "East US 2",
              "West US",
              "West US 2",
              "North Central US",
              "South Central US",
          [...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourcegroups/Default-EventHub-6412?api-version=2019-10-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "Australia East"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1179"
      },
      "ResponseBody": {
        "id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/Default-EventHub-6412",
        "name": "Default-EventHub-6412",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "australiaeast",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/Default-EventHub-6412/providers/Microsoft.EventHub/namespaces/sdk-eventhub-Namespace-9089?api-version=2018-01-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "sku": {
          "name": "Standard",
          "tier": "Standard"
        },
        "location": "Australia East",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "properties": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Server-SB": "Service-Bus-Resource-Provider/CH3",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "46"
      },
      "ResponseBody": {
        "sku": {
          "name": "Standard",
          "tier": "Standard",
          "capacity": 1
        },
        "id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/Default-EventHub-6412/providers/Microsoft.EventHub/namespaces/sdk-eventhub-Namespace-9089",
        "name": "sdk-eventhub-Namespace-9089",
        "type": "Microsoft.EventHub/Namespaces",
        "location": "Australia East",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "properties": {
          "zoneRedundant": false,
          "isAutoInflateEnabled": false,
          "maximumThroughputUnits": 0,
          "kafkaEnabled": true,
          "provisioningState": "Created",
          "metricId": "0b1f6471-1bf0-4dda-aec3-cb9272f09590:sdk-eventhub-namespace-9089",
          "createdAt": "2020-09-28T10:08:34.4Z",
          "updatedAt": "2020-09-28T10:08:34.4Z",
          "serviceBusEndpoint": "https://sdk-eventhub-Namespace-9089.servicebus.windows.net:443/",
          "status": "Activating"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/Default-EventHub-6412/providers/Microsoft.EventHub/namespaces/sdk-eventhub-Namespace-9089/eventhubs/sdk-EventHub-3763?api-version=2017-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "messageRetentionInDays": 5
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Server-SB": "Service-Bus-Resource-Provider/CH3",
        "x-ms-ratelimit-remaining-subscription-writes": "1178"
      },
      "ResponseBody": {
        "id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/Default-EventHub-6412/providers/Microsoft.EventHub/namespaces/sdk-eventhub-Namespace-9089/eventhubs/sdk-EventHub-3763",
        "name": "sdk-EventHub-3763",
        "type": "Microsoft.EventHub/Namespaces/EventHubs",
        "location": "Australia East",
        "properties": {
          "messageRetentionInDays": 5,
          "partitionCount": 4,
          "status": "Active",
          "createdAt": "2020-09-28T10:09:26.67Z",
          "updatedAt": "2020-09-28T10:09:27.21Z",
          "partitionIds": [
            "0",
            "1",
            "2",
            "3"
          ]
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/Default-EventHub-6412/providers/Microsoft.EventHub/namespaces/sdk-eventhub-Namespace-9089/eventhubs/sdk-EventHub-3763/authorizationRules/sdk-Authrules-1778?api-version=2017-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "rights": [
            "Listen",
            "Send"
          ]
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Server-SB": "Service-Bus-Resource-Provider/CH3",
        "x-ms-ratelimit-remaining-subscription-writes": "1177"
      },
      "ResponseBody": {
        "id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/Default-EventHub-6412/providers/Microsoft.EventHub/namespaces/sdk-eventhub-Namespace-9089/eventhubs/sdk-EventHub-3763/authorizationRules/sdk-Authrules-1778",
        "name": "sdk-Authrules-1778",
        "type": "Microsoft.EventHub/Namespaces/EventHubs/AuthorizationRules",
        "location": "Australia East",
        "properties": {
          "rights": [
            "Listen",
            "Send"
          ]
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/Default-EventHub-6412/providers/Microsoft.EventHub/namespaces/sdk-eventhub-Namespace-9089/eventhubs/sdk-EventHub-3763/authorizationRules?api-version=2017-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Server-SB": "Service-Bus-Resource-Provider/CH3",
        "x-ms-ratelimit-remaining-subscription-reads": "6666"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/Default-EventHub-6412/providers/Microsoft.EventHub/namespaces/sdk-eventhub-Namespace-9089/eventhubs/sdk-EventHub-3763/authorizationRules/sdk-Authrules-1778",
            "name": "sdk-Authrules-1778",
            "type": "Microsoft.EventHub/Namespaces/EventHubs/AuthorizationRules",
            "location": "Australia East",
            "properties": {
              "rights": [
                "Listen",
                "Send"
              ]
            }
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/Default-EventHub-6412/providers/Microsoft.EventHub/namespaces/sdk-eventhub-Namespace-9089/eventhubs/sdk-EventHub-3763/authorizationRules/sdk-Authrules-1778/listKeys?api-version=2017-04-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Server-SB": "Service-Bus-Resource-Provider/CH3",
        "x-ms-ratelimit-remaining-subscription-writes": "1188"
      },
      "ResponseBody": {
        "primaryConnectionString": "Endpoint=sb://sdk-eventhub-namespace-9089.servicebus.windows.net/;SharedAccessKeyName=sdk-Authrules-1778;SharedAccessKey=CGwHD6VXxkX9kMuhpQEDtEE61clm7fAc06znPuwyKvQ=;EntityPath=sdk-EventHub-3763",
        "secondaryConnectionString": "Endpoint=sb://sdk-eventhub-namespace-9089.servicebus.windows.net/;SharedAccessKeyName=sdk-Authrules-1778;SharedAccessKey=rEnIVtDrV6rn52qQT\u002B0srymVY6KinA2pmJJ4KrPu7P0=;EntityPath=sdk-EventHub-3763",
        "primaryKey": "CGwHD6VXxkX9kMuhpQEDtEE61clm7fAc06znPuwyKvQ=",
        "secondaryKey": "rEnIVtDrV6rn52qQT\u002B0srymVY6KinA2pmJJ4KrPu7P0=",
        "keyName": "sdk-Authrules-1778"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/Default-EventHub-6412/providers/Microsoft.EventHub/namespaces/sdk-eventhub-Namespace-9089/eventhubs/sdk-EventHub-3763/authorizationRules/sdk-Authrules-1778/regenerateKeys?api-version=2017-04-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "keyType": "PrimaryKey"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Server-SB": "Service-Bus-Resource-Provider/CH3",
        "x-ms-ratelimit-remaining-subscription-writes": "1187"
      },
      "ResponseBody": {
        "primaryConnectionString": "Endpoint=sb://sdk-eventhub-namespace-9089.servicebus.windows.net/;SharedAccessKeyName=sdk-Authrules-1778;SharedAccessKey=Pf4Hou8MKHl7r2438wMb3SGW1ApPyVD1TgMlVyhf810=;EntityPath=sdk-EventHub-3763",
        "secondaryConnectionString": "Endpoint=sb://sdk-eventhub-namespace-9089.servicebus.windows.net/;SharedAccessKeyName=sdk-Authrules-1778;SharedAccessKey=rEnIVtDrV6rn52qQT\u002B0srymVY6KinA2pmJJ4KrPu7P0=;EntityPath=sdk-EventHub-3763",
        "primaryKey": "Pf4Hou8MKHl7r2438wMb3SGW1ApPyVD1TgMlVyhf810=",
        "secondaryKey": "rEnIVtDrV6rn52qQT\u002B0srymVY6KinA2pmJJ4KrPu7P0=",
        "keyName": "sdk-Authrules-1778"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/Default-EventHub-6412/providers/Microsoft.EventHub/namespaces/sdk-eventhub-Namespace-9089?api-version=2018-01-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Location": "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/Default-EventHub-6412/providers/Microsoft.EventHub/namespaces/sdk-eventhub-Namespace-9089/operationresults/sdk-eventhub-Namespace-9089?api-version=2018-01-01-preview",
        "Server-SB": "Service-Bus-Resource-Provider/CH3",
        "x-ms-ratelimit-remaining-subscription-deletes": "14980"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/Default-EventHub-6412/providers/Microsoft.EventHub/namespaces/sdk-eventhub-Namespace-9089/operationresults/sdk-eventhub-Namespace-9089?api-version=2018-01-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/Default-EventHub-6412/providers/Microsoft.EventHub/namespaces/sdk-eventhub-Namespace-9089/operationresults/sdk-eventhub-Namespace-9089?api-version=2018-01-01-preview",
        "Retry-After": "31",
        "Server-SB": "Service-Bus-Resource-Provider/CH3",
        "x-ms-ratelimit-remaining-subscription-reads": "6664"
      },
      "ResponseBody": {
        "sku": {
          "name": "Standard",
          "tier": "Standard",
          "capacity": 1
        },
        "id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/Default-EventHub-6412/providers/Microsoft.EventHub/namespaces/sdk-eventhub-Namespace-9089",
        "name": "sdk-eventhub-Namespace-9089",
        "type": "Microsoft.EventHub/Namespaces",
        "location": "Australia East",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "properties": {
          "zoneRedundant": false,
          "isAutoInflateEnabled": false,
          "maximumThroughputUnits": 0,
          "kafkaEnabled": true,
          "provisioningState": "Succeeded",
          "metricId": "0b1f6471-1bf0-4dda-aec3-cb9272f09590:sdk-eventhub-namespace-9089",
          "createdAt": "2020-09-28T10:08:34.4Z",
          "updatedAt": "2020-09-28T10:09:39.687Z",
          "serviceBusEndpoint": "https://sdk-eventhub-Namespace-9089.servicebus.windows.net:443/",
          "status": "Removing"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/Default-EventHub-6412/providers/Microsoft.EventHub/namespaces/sdk-eventhub-Namespace-9089/operationresults/sdk-eventhub-Namespace-9089?api-version=2018-01-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Server-SB": "Service-Bus-Resource-Provider/CH3",
        "x-ms-ratelimit-remaining-subscription-reads": "6647"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "CreatePrimaryKey": "GA6wVfv7nxBkunNoR5RKr4w\u002B2vL6psJ89fVw5b0gbHc=",
    "RandomSeed": "442273361",
    "SUBSCRIPTION_ID": "0b1f6471-1bf0-4dda-aec3-cb9272f09590",
    "UpdatePrimaryKey": "AbB\u002BL4JrH/2o5BLBCIo2vWmOBxP/Qih2lqB1RBJ30hM="
  }
}