{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.EventHub?api-version=2019-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11995"
      },
      "ResponseBody": {
        "id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.EventHub",
        "namespace": "Microsoft.EventHub",
        "authorizations": [
          {
            "applicationId": "80369ed6-5f11-4dd9-bef3-692475845e77",
            "roleDefinitionId": "eb8e1991-5de0-42a6-a64b-29b059341b7b"
          },
          {
            "applicationId": "6201d19e-14fb-4472-a2d6-5634a5c97568"
          }
        ],
        "resourceTypes": [
          {
            "resourceType": "namespaces",
            "locations": [
              "Australia East",
              "Australia Southeast",
              "Central US",
              "East US",
              "East US 2",
              "West US",
              "West US 2",
              "North Central US",
              "South Central US",
              "West Central US",
              "East Asia",
              "Southeast Asia",
              "Brazil South",
              "Japan East",
              "Japan West",
              "North Europe",
              "West Europe",
              "Central India",
              "South India",
              "West India",
              "Canada Central",
              "Canada East",
              "UK West",
              "UK South",
              "Korea Central",
              "Korea South",
              "France Central",
              "South Africa North",
              "UAE North",
              "Australia Central",
              "Switzerland North",
              "Germany West Central",
              "Norway East",
              "Central US EUAP",
              "East US 2 EUAP"
            ],
            "apiVersions": [
              "2018-01-01-preview",
              "2017-04-01",
              "2015-08-01",
              "2014-09-01"
            ],
            "defaultApiVersion": "2017-04-01",
            "apiProfiles": [
              {
                "profileVersion": "2018-06-01-profile",
                "apiVersion": "2017-04-01"
              }
            ],
            "capabilities": "CrossResourceGroupResourceMove, CrossSubscriptionResourceMove, SystemAssignedResourceIdentity, SupportsTags, SupportsLocation"
          },
          {
            "resourceType": "clusters",
            "locations": [
              "Australia East",
              "Australia Southeast",
              "Central US",
              "East US",
              "East US 2",
              "West US",
              "West US 2",
              "North Central US",
              "South Central US",
          [...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourcegroups/Default-EventHub-6437?api-version=2019-10-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "Australia East"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1197"
      },
      "ResponseBody": {
        "id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/Default-EventHub-6437",
        "name": "Default-EventHub-6437",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "australiaeast",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/Default-EventHub-6437/providers/Microsoft.Network/virtualNetworks/sdktestvnet5910?api-version=2020-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus2",
        "properties": {
          "addressSpace": {
            "addressPrefixes": [
              "10.0.0.0/16"
            ]
          },
          "subnets": [
            {
              "name": "default1",
              "properties": {
                "addressPrefix": "10.0.0.0/24",
                "serviceEndpoints": [
                  {
                    "service": "Microsoft.EventHub"
                  }
                ]
              }
            },
            {
              "name": "default2",
              "properties": {
                "addressPrefix": "10.0.1.0/24",
                "serviceEndpoints": [
                  {
                    "service": "Microsoft.EventHub"
                  }
                ]
              }
            },
            {
              "name": "default3",
              "properties": {
                "addressPrefix": "10.0.2.0/24",
                "serviceEndpoints": [
                  {
                    "service": "Microsoft.EventHub"
                  }
                ]
              }
            }
          ]
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncNotification": "Enabled",
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Network/locations/eastus2/operations/f54b728c-f312-4b93-afed-0dc8b8a704a1?api-version=2020-04-01",
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "3",
        "x-ms-ratelimit-remaining-subscription-writes": "1196"
      },
      "ResponseBody": [
        "{\r\n",
        "  \u0022name\u0022: \u0022sdktestvnet5910\u0022,\r\n",
        "  \u0022id\u0022: \u0022/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/Default-EventHub-6437/providers/Microsoft.Network/virtualNetworks/sdktestvnet5910\u0022,\r\n",
        "  \u0022etag\u0022: \u0022W/\\\u00221458e7bb-2bea-410a-ad42-79320bbd030f\\\u0022\u0022,\r\n",
        "  \u0022ty[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Network/locations/eastus2/operations/f54b728c-f312-4b93-afed-0dc8b8a704a1?api-version=2020-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "x-ms-ratelimit-remaining-subscription-reads": "11994"
      },
      "ResponseBody": [
        "{\r\n",
        "  \u0022status\u0022: \u0022InProgress\u0022\r\n",
        "}"
      ]
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/Default-EventHub-6437/providers/Microsoft.Network/virtualNetworks/sdktestvnet5910?api-version=2020-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\u0022505f6a8f-3028-4acc-8a28-24e1104e8122\u0022",
        "x-ms-ratelimit-remaining-subscription-reads": "11992"
      },
      "ResponseBody": [
        "{\r\n",
        "  \u0022name\u0022: \u0022sdktestvnet5910\u0022,\r\n",
        "  \u0022id\u0022: \u0022/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/Default-EventHub-6437/providers/Microsoft.Network/virtualNetworks/sdktestvnet5910\u0022,\r\n",
        "  \u0022etag\u0022: \u0022W/\\\u0022505f6a8f-3028-4acc-8a28-24e1[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/Default-EventHub-6437/providers/Microsoft.EventHub/namespaces/sdk-eventhub-Namespace-5116?api-version=2018-01-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "Australia East",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "properties": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Server-SB": "Service-Bus-Resource-Provider/CH3",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "49"
      },
      "ResponseBody": {
        "sku": {
          "name": "Standard",
          "tier": "Standard",
          "capacity": 1
        },
        "id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/Default-EventHub-6437/providers/Microsoft.EventHub/namespaces/sdk-eventhub-Namespace-5116",
        "name": "sdk-eventhub-Namespace-5116",
        "type": "Microsoft.EventHub/Namespaces",
        "location": "Australia East",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "properties": {
          "zoneRedundant": false,
          "isAutoInflateEnabled": false,
          "maximumThroughputUnits": 0,
          "kafkaEnabled": true,
          "provisioningState": "Created",
          "metricId": "0b1f6471-1bf0-4dda-aec3-cb9272f09590:sdk-eventhub-namespace-5116",
          "createdAt": "2020-09-28T09:25:02.97Z",
          "updatedAt": "2020-09-28T09:25:02.97Z",
          "serviceBusEndpoint": "https://sdk-eventhub-Namespace-5116.servicebus.windows.net:443/",
          "status": "Activating"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/Default-EventHub-6437/providers/Microsoft.EventHub/namespaces/sdk-eventhub-Namespace-5116/networkRuleSets/default?api-version=2018-01-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "defaultAction": "Deny",
          "virtualNetworkRules": [
            {
              "subnet": {
                "id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourcegroups/Default-EventHub-6437/providers/Microsoft.Network/virtualNetworks/sdktestvnet5910/subnets/default1"
              }
            },
            {
              "subnet": {
                "id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourcegroups/Default-EventHub-6437/providers/Microsoft.Network/virtualNetworks/sdktestvnet5910/subnets/default2"
              }
            },
            {
              "subnet": {
                "id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourcegroups/Default-EventHub-6437/providers/Microsoft.Network/virtualNetworks/sdktestvnet5910/subnets/default3"
              }
            }
          ],
          "ipRules": [
            {
              "ipMask": "1.1.1.1",
              "action": "Allow"
            },
            {
              "ipMask": "1.1.1.2",
              "action": "Allow"
            },
            {
              "ipMask": "1.1.1.3",
              "action": "Allow"
            },
            {
              "ipMask": "1.1.1.4",
              "action": "Allow"
            },
            {
              "ipMask": "1.1.1.5",
              "action": "Allow"
            }
          ]
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Server-SB": "Service-Bus-Resource-Provider/SN1",
        "x-ms-ratelimit-remaining-subscription-writes": "1195"
      },
      "ResponseBody": {
        "id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/Default-EventHub-6437/providers/Microsoft.EventHub/namespaces/sdk-eventhub-Namespace-5116/networkRuleSets/default",
        "name": "default",
        "type": "Microsoft.EventHub/Namespaces/NetworkRuleSets",
        "location": "Australia East",
        "properties": {
          "defaultAction": "Deny",
          "virtualNetworkRules": [
            {
              "subnet": {
                "id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourcegroups/Default-EventHub-6437/providers/Microsoft.Network/virtualNetworks/sdktestvnet5910/subnets/default1"
              },
              "ignoreMissingVnetServiceEndpoint": false
            },
            {
              "subnet": {
                "id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourcegroups/Default-EventHub-6437/providers/Microsoft.Network/virtualNetworks/sdktestvnet5910/subnets/default2"
              },
              "ignoreMissingVnetServiceEndpoint": false
            },
            {
              "subnet": {
                "id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourcegroups/Default-EventHub-6437/providers/Microsoft.Network/virtualNetworks/sdktestvnet5910/subnets/default3"
              },
              "ignoreMissingVnetServiceEndpoint": false
            }
          ],
          "ipRules": [
            {
              "ipMask": "1.1.1.1",
              "action": "Allow"
            },
            {
              "ipMask": "1.1.1.2",
              "action": "Allow"
            },
            {
              "ipMask": "1.1.1.3",
              "action": "Allow"
            },
            {
              "ipMask": "1.1.1.4",
              "action": "Allow"
            },
            {
              "ipMask": "1.1.1.5",
              "action": "Allow"
            }
          ]
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/Default-EventHub-6437/providers/Microsoft.EventHub/namespaces/sdk-eventhub-Namespace-5116?api-version=2018-01-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Location": "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/Default-EventHub-6437/providers/Microsoft.EventHub/namespaces/sdk-eventhub-Namespace-5116/operationresults/sdk-eventhub-Namespace-5116?api-version=2018-01-01-preview",
        "Server-SB": "Service-Bus-Resource-Provider/SN1",
        "x-ms-ratelimit-remaining-subscription-deletes": "14998"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/Default-EventHub-6437/providers/Microsoft.EventHub/namespaces/sdk-eventhub-Namespace-5116/operationresults/sdk-eventhub-Namespace-5116?api-version=2018-01-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "appl[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/Default-EventHub-6437/providers/Microsoft.EventHub/namespaces/sdk-eventhub-Namespace-5116/operationresults/sdk-eventhub-Namespace-5116?api-version=2018-01-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Server-SB": "Service-Bus-Resource-Provider/SN1",
        "x-ms-ratelimit-remaining-subscription-reads": "11923"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "915002397",
    "SUBSCRIPTION_ID": "0b1f6471-1bf0-4dda-aec3-cb9272f09590"
  }
}