{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "TagKey-9823": "TagValue-566",
          "TagKey-3481": "TagValue-320",
          "TagKey-4926": "TagValue-1187",
          "TagKey-751": "TagValue-3921",
          "TagKey-1866": "TagValue-8559",
          "TagKey-3094": "TagValue-9190",
          "TagKey-2449": "TagValue-9",
          "TagKey-8379": "TagValue-164",
          "TagKey-7470": "TagValue-2205",
          "TagKey-4236": "TagValue-3698",
          "TagKey-5316": "TagValue-2725"
        },
        "subscriptionId": "db1ab6f0-4769-4b27-930e-01e2ef9c123c",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": ".NET Mgmt SDK Test with TTL = 1 Day",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourcegroups/testRG-761?api-version=2021-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {
          "test": "env"
        },
        "location": "eastus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-761",
        "name": "testRG-761",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus",
        "tags": {
          "test": "env"
        },
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-761/providers/Microsoft.Cache/redis/RedisSchedules9469?api-version=2021-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus",
        "properties": {
          "sku": {
            "name": "Premium",
            "family": "P",
            "capacity": 1
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Cache/locations/East US/asyncOperations/54561289-1b95-4caa-be3f-465bcc572fda?api-version=2021-06-01",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-761/providers/Microsoft.Cache/redis/RedisSchedules9469?api-version=2021-06-01",
        "x-ms-ratelimit-remaining-subscription-writes": "1198",
        "x-rp-server-mvid": "c303d539-9746-4223-858f-ffadcb128e7d"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-761/providers/Microsoft.Cache/Redis/RedisSchedules9469",
        "location": "East US",
        "name": "RedisSchedules9469",
        "type": "Microsoft.Cache/Redis",
        "tags": {},
        "properties": {
          "provisioningState": "Creating",
          "redisVersion": "4.0.14",
          "sku": {
            "name": "Premium",
            "family": "P",
            "capacity": 1
          },
          "enableNonSslPort": false,
          "instances": [
            {
              "sslPort": 15000,
              "isMaster": false,
              "isPrimary": false
            },
            {
              "sslPort": 15001,
              "isMaster": false,
              "isPrimary": false
            }
          ],
          "publicNetworkAccess": "Enabled",
          "redisConfiguration": {
            "maxclients": "7500",
            "maxmemory-reserved": "642",
            "maxfragmentationmemory-reserved": "642",
            "maxmemory-delta": "642"
          },
          "accessKeys": {
            "primaryKey": "Sanitized",
            "secondaryKey": "Sanitized"
          },
          "hostName": "RedisSchedules9469.redis.cache.windows.net",
          "port": 6379,
          "sslPort": 6380,
          "linkedServers": []
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Cache/locations/East%20US/asyncOperations/54561289-1b95-4caa-be3f-465bcc572fda?api-version=2021-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Cache/locations/East US/asyncOperations/54561289-1b95-4caa-be3f-465bcc572fda?api-version=2021-06-01",
        "Content-Type": "application/json",
        "x-ms-ratelimit-remaining-subscription-reads": "11998",
        "x-rp-server-mvid": "c303d539-9746-4223-858f-ffadcb128e7d"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Cache/locations/East US/asyncOperations/54561289-1b95-4caa-be3f-465bcc572fda",
        "name": "54561289-1b95-4caa-be3f-465bcc572fda",
        "status": "InProgress",
        "startTime": null,
        "endTime": null,
        "percentComplete": null,
        "properties": null,
        "error": null
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-761/providers/Microsoft.Cache/redis/RedisSchedules9469/patchSchedules/default?api-version=2021-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "scheduleEntries": [
            {
              "dayOfWeek": "Monday",
              "startHourUtc": 10,
              "maintenanceWindow": "PT10H"
            },
            {
              "dayOfWeek": "Tuesday",
              "startHourUtc": 11,
              "maintenanceWindow": "PT11H"
            }
          ]
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1197",
        "x-rp-server-mvid": "c303d539-9746-4223-858f-ffadcb128e7d"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-761/providers/Microsoft.Cache/Redis/RedisSchedules9469/patchSchedules/default",
        "location": "East US",
        "name": "RedisSchedules9469/default",
        "type": "Microsoft.Cache/Redis/PatchSchedules",
        "properties": {
          "scheduleEntries": [
            {
              "dayOfWeek": "Monday",
              "startHourUtc": 10,
              "maintenanceWindow": "PT10H"
            },
            {
              "dayOfWeek": "Tuesday",
              "startHourUtc": 11,
              "maintenanceWindow": "PT11H"
            }
          ]
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-761/providers/Microsoft.Cache/redis/RedisSchedules9469/patchSchedules/default?api-version=2021-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11963",
        "x-rp-server-mvid": "c303d539-9746-4223-858f-ffadcb128e7d"
      },
      "ResponseBody": {
        "error": {
          "code": "ResourceNotFound",
          "message": "There are no patch schedules found for redis cache \u0027RedisSchedules9469\u0027.\r\nRequestID=a330370c-2686-4e7f-8d5b-8662896a0b1b",
          "target": null
        }
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "RandomSeed": "1353628040",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "db1ab6f0-4769-4b27-930e-01e2ef9c123c"
  }
}
