{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/7c4785eb-d3cf-4349-b811-8d756312d1ff?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11995"
      },
      "ResponseBody": {
        "id": "/subscriptions/7c4785eb-d3cf-4349-b811-8d756312d1ff",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "DDFunMDCTag": "Public"
        },
        "subscriptionId": "7c4785eb-d3cf-4349-b811-8d756312d1ff",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": "CacheTeam - AJ Tiwari",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/7c4785eb-d3cf-4349-b811-8d756312d1ff/resourcegroups/testRG-6157?api-version=**",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {
          "test": "env"
        },
        "location": "eastus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "id": "/subscriptions/7c4785eb-d3cf-4349-b811-8d756312d1ff/resourceGroups/testRG-6157",
        "name": "testRG-6157",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus",
        "tags": {
          "test": "env"
        },
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/7c4785eb-d3cf-4349-b811-8d756312d1ff/resourceGroups/testRG-6157/providers/Microsoft.Cache/redis/RedisSchedules2481?api-version=2023-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus",
        "properties": {
          "sku": {
            "name": "Premium",
            "family": "P",
            "capacity": 1
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/7c4785eb-d3cf-4349-b811-8d756312d1ff/providers/Microsoft.Cache/locations/East%20US/asyncOperations/05354ae1-a0ff-46f8-9b77-dab22c405aac?api-version=2023-04-01",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/7c4785eb-d3cf-4349-b811-8d756312d1ff/resourceGroups/testRG-6157/providers/Microsoft.Cache/redis/RedisSchedules2481?api-version=2023-04-01",
        "x-ms-ratelimit-remaining-subscription-writes": "1198",
        "x-rp-server-mvid": "7bfbfeec-1fa5-40de-80e4-255dbbd614d8"
      },
      "ResponseBody": {
        "id": "/subscriptions/7c4785eb-d3cf-4349-b811-8d756312d1ff/resourceGroups/testRG-6157/providers/Microsoft.Cache/Redis/RedisSchedules2481",
        "location": "East US",
        "name": "RedisSchedules2481",
        "type": "Microsoft.Cache/Redis",
        "tags": {},
        "properties": {
          "provisioningState": "Creating",
          "redisVersion": "6.0",
          "sku": {
            "name": "Premium",
            "family": "P",
            "capacity": 1
          },
          "enableNonSslPort": false,
          "instances": [
            {
              "sslPort": 15000,
              "isMaster": false,
              "isPrimary": false
            },
            {
              "sslPort": 15001,
              "isMaster": false,
              "isPrimary": false
            }
          ],
          "publicNetworkAccess": "Enabled",
          "redisConfiguration": {
            "maxclients": "7500",
            "maxmemory-reserved": "642",
            "maxfragmentationmemory-reserved": "642",
            "maxmemory-delta": "642"
          },
          "accessKeys": {
            "primaryKey": "Sanitized",
            "secondaryKey": "Sanitized"
          },
          "hostName": "RedisSchedules2481.redis.cache.windows.net",
          "port": 6379,
          "sslPort": 6380,
          "linkedServers": []
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/7c4785eb-d3cf-4349-b811-8d756312d1ff/providers/Microsoft.Cache/locations/East%20US/asyncOperations/05354ae1-a0ff-46f8-9b77-dab22c405aac?api-version=2023-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/7c4785eb-d3cf-4349-b811-8d756312d1ff/providers/Microsoft.Cache/locations/East%20US/asyncOperations/05354ae1-a0ff-46f8-9b77-dab22c405aac?api-version=2023-04-01",
        "Content-Type": "application/json",
        "x-ms-ratelimit-remaining-subscription-reads": "11994",
        "x-rp-server-mvid": "7bfbfeec-1fa5-40de-80e4-255dbbd614d8"
      },
      "ResponseBody": {
        "id": "/subscriptions/7c4785eb-d3cf-4349-b811-8d756312d1ff/providers/Microsoft.Cache/locations/East US/asyncOperations/05354ae1-a0ff-46f8-9b77-dab22c405aac",
        "name": "05354ae1-a0ff-46f8-9b77-dab22c405aac",
        "status": "InProgress",
        "startTime": null,
        "endTime": null,
        "percentComplete": null,
        "properties": null,
        "error": null
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/7c4785eb-d3cf-4349-b811-8d756312d1ff/resourceGroups/testRG-6157/providers/Microsoft.Cache/redis/RedisSchedules2481/patchSchedules/default?api-version=2023-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "scheduleEntries": [
            {
              "dayOfWeek": "Monday",
              "startHourUtc": 10,
              "maintenanceWindow": "PT10H"
            },
            {
              "dayOfWeek": "Tuesday",
              "startHourUtc": 11,
              "maintenanceWindow": "PT11H"
            }
          ]
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1199",
        "x-rp-server-mvid": "7bfbfeec-1fa5-40de-80e4-255dbbd614d8"
      },
      "ResponseBody": {
        "id": "/subscriptions/7c4785eb-d3cf-4349-b811-8d756312d1ff/resourceGroups/testRG-6157/providers/Microsoft.Cache/Redis/RedisSchedules2481/patchSchedules/default",
        "location": "East US",
        "name": "RedisSchedules2481/default",
        "type": "Microsoft.Cache/Redis/PatchSchedules",
        "properties": {
          "scheduleEntries": [
            {
              "dayOfWeek": "Monday",
              "startHourUtc": 10,
              "maintenanceWindow": "PT10H"
            },
            {
              "dayOfWeek": "Tuesday",
              "startHourUtc": 11,
              "maintenanceWindow": "PT11H"
            }
          ]
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/7c4785eb-d3cf-4349-b811-8d756312d1ff/resourceGroups/testRG-6157/providers/Microsoft.Cache/redis/RedisSchedules2481/patchSchedules/default?api-version=2023-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11996",
        "x-rp-server-mvid": "7bfbfeec-1fa5-40de-80e4-255dbbd614d8"
      },
      "ResponseBody": {
        "error": {
          "code": "ResourceNotFound",
          "message": "There are no patch schedules found for redis cache \u0027RedisSchedules2481\u0027.\r\nRequestID=dcb43b03-f031-4ee8-93e1-b0dc0faabfd4",
          "target": null
        }
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "RandomSeed": "677670751",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "7c4785eb-d3cf-4349-b811-8d756312d1ff"
  }
}
