{
  "Entries": [
    {
      "RequestUri": "https://batchbatchaccteqyg6rr6mg.westus.batch.azure.com/jobs?api-version=2022-01-01.15.0",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json; odata=minimalmetadata"
      },
      "RequestBody": {
        "id": "BatchClientTest_TestJob",
        "poolInfo": {
          "poolId": "managerPool"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "DataServiceId": "https://batchbatchaccteqyg6rr6mg.westus.batch.azure.com/jobs/job-1",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DA9FD9DE574C00",
        "Last-Modified": "Mon, 26 Sep 2022 16:12:11 GMT",
        "Location": "https://batchbatchaccteqyg6rr6mg.westus.batch.azure.com/jobs/job-1"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://batchbatchaccteqyg6rr6mg.westus.batch.azure.com/jobs/BatchClientTest_TestJob?api-version=2022-01-01.15.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DA9FD9DE574C00",
        "Last-Modified": "Mon, 26 Sep 2022 16:12:11 GMT"
      },
      "ResponseBody": {
        "odata.metadata": "https://batchbatchaccteqyg6rr6mg.westus.batch.azure.com/$metadata#jobs/@Element",
        "id": "BatchClientTest_TestJob",
        "url": "https://batchbatchaccteqyg6rr6mg.westus.batch.azure.com/jobs/BatchClientTest_TestJob",
        "eTag": "0x8DA9FD9DE574C00",
        "lastModified": "2022-09-26T16:12:11.3329152Z",
        "creationTime": "2022-09-26T16:12:11.2779213Z",
        "state": "active",
        "stateTransitionTime": "2022-09-26T16:12:11.3329152Z",
        "priority": 0,
        "maxParallelTasks": -1,
        "usesTaskDependencies": false,
        "allowTaskPreemption": false,
        "constraints": {
          "maxWallClockTime": "P10675199DT2H48M5.4775807S",
          "maxTaskRetryCount": 0
        },
        "poolInfo": {
          "poolId": "managerPool"
        },
        "executionInfo": {
          "startTime": "2022-09-26T16:12:11.3329152Z",
          "poolId": "managerPool"
        },
        "onAllTasksComplete": "noaction",
        "onTaskFailure": "noaction"
      }
    },
    {
      "RequestUri": "https://batchbatchaccteqyg6rr6mg.westus.batch.azure.com/jobs/BatchClientTest_TestJob?api-version=2022-01-01.15.0",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com/",
    "BATCH_ENDPOINT": "https://batchbatchaccteqyg6rr6mg.westus.batch.azure.com",
    "RandomSeed": "525338877"
  }
}
