{
  "Entries": [
    {
      "RequestUri": "https://bb-prod-wcus-1.farmbeats.azure.net/farmers/smoke-test-farmer-4754?api-version=2021-07-31-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson"
      },
      "RequestBody": {},
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-07-31-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "5a004ec4-0000-0600-0000-636234f10000",
        "Location": "http://bb-prod-wcus-1.farmbeats.azure.net/farmers/smoke-test-farmer-4754",
        "mise-correlation-id": "2a5f85af-d3d2-4291-ad1f-beaf9585d53b",
        "x-ms-throttle-information": "50"
      },
      "ResponseBody": {
        "id": "smoke-test-farmer-4754",
        "eTag": "5a004ec4-0000-0600-0000-636234f10000",
        "createdDateTime": "2022-11-02T09:14:25Z",
        "modifiedDateTime": "2022-11-02T09:14:25Z",
        "createdBy": "9002b50e-dc98-445e-a865-72dce38ecafd",
        "modifiedBy": "9002b50e-dc98-445e-a865-72dce38ecafd"
      }
    },
[...]
    {
      "RequestUri": "https://bb-prod-wcus-1.farmbeats.azure.net/farmers/smoke-test-farmer-4754?api-version=2021-07-31-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2021-07-31-preview",
        "mise-correlation-id": "5883b496-8019-4935-a6d2-56fb30884b37",
        "x-ms-throttle-information": "10"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": null,
    "FARMBEATS_ENDPOINT": "https://bb-prod-wcus-1.farmbeats.azure.net",
    "RandomSeed": "778696240"
  }
}
