{
  "Entries": [
    {
      "RequestUri": "https://sdk-testing-wcus-1.farmbeats.azure.net/farmers/smoke-test-farmer?api-version=2021-03-31-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson"
      },
      "RequestBody": {},
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-deprecated-versions": "2020-12-31-preview",
        "api-supported-versions": "2021-03-31-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "000049e1-0000-0600-0000-60aeb5150000",
        "Location": "http://sdk-testing-wcus-1.farmbeats.azure.net/farmers/smoke-test-farmer",
        "x-ms-throttle-information": "5"
      },
      "ResponseBody": {
        "id": "smoke-test-farmer",
        "eTag": "000049e1-0000-0600-0000-60aeb5150000",
        "createdDateTime": "2021-05-26T20:52:37Z",
        "modifiedDateTime": "2021-05-26T20:52:37Z"
      }
    },
[...]
    {
      "RequestUri": "https://sdk-testing-wcus-1.farmbeats.azure.net/farmers/smoke-test-farmer?api-version=2021-03-31-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-deprecated-versions": "2020-12-31-preview",
        "api-supported-versions": "2021-03-31-preview",
        "x-ms-throttle-information": "1"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "FARMBEATS_ENDPOINT": "https://sdk-testing-wcus-1.farmbeats.azure.net",
    "RandomSeed": "1896441747"
  }
}