{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11996"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "TagKey-9823": "TagValue-566",
          "TagKey-3481": "TagValue-320",
          "TagKey-4926": "TagValue-1187",
          "TagKey-751": "TagValue-3921",
          "TagKey-1866": "TagValue-8559",
          "TagKey-3094": "TagValue-9190",
          "TagKey-2449": "TagValue-9",
          "TagKey-8379": "TagValue-164",
          "TagKey-7470": "TagValue-2205",
          "TagKey-4236": "TagValue-3698",
          "TagKey-5316": "TagValue-2725"
        },
        "subscriptionId": "db1ab6f0-4769-4b27-930e-01e2ef9c123c",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": ".NET Mgmt SDK Test with TTL = 1 Day",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourcegroups/testRG-6917?api-version=2021-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {
          "test": "env"
        },
        "location": "eastus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1196"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-6917",
        "name": "testRG-6917",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus",
        "tags": {
          "test": "env"
        },
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourcegroups/testRG-6917/providers/Microsoft.OperationalInsights/workspaces/testRG-6917-ws?api-version=2022-10-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "eastus",
        "properties": {
          "sku": {
            "name": "PerNode"
          },
          "retentionInDays": 30,
          "publicNetworkAccessForIngestion": "Enabled",
          "publicNetworkAccessForQuery": "Enabled"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ratelimit-remaining-subscription-writes": "1195"
      },
      "ResponseBody": {
        "properties": {
          "source": "Azure",
          "customerId": "7c0b583e-9894-4ee8-9bb8-879d4163eac6",
          "provisioningState": "Creating",
          "sku": {
            "name": "pergb2018",
            "lastSkuUpdate": "Wed, 09 Nov 2022 08:23:19 GMT"
          },
          "retentionInDays": 30,
          "features": {
            "legacy": 0,
            "searchVersion": 1,
            "enableLogAccessUsingOnlyResourcePermissions": true
          },
          "workspaceCapping": {
            "dailyQuotaGb": -1.0,
            "quotaNextResetTime": "Thu, 10 Nov 2022 03:00:00 GMT",
            "dataIngestionStatus": "RespectQuota"
          },
          "publicNetworkAccessForIngestion": "Enabled",
          "publicNetworkAccessForQuery": "Enabled",
          "createdDate": "Wed, 09 Nov 2022 08:23:19 GMT",
          "modifiedDate": "Wed, 09 Nov 2022 08:23:19 GMT"
        },
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourcegroups/testrg-6917/providers/microsoft.operationalinsights/workspaces/testrg-6917-ws",
        "name": "testRG-6917-ws",
        "type": "Microsoft.OperationalInsights/workspaces",
        "location": "eastus",
        "tags": {}
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-6917/providers/Microsoft.OperationalInsights/workspaces/testRG-6917-ws/providers/Microsoft.SecurityInsights/onboardingStates/default?api-version=2022-08-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "customerManagedKey": false
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "11"
      },
      "ResponseBody": {
        "properties": {},
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-6917/providers/Microsoft.OperationalInsights/workspaces/testRG-6917-ws/providers/Microsoft.SecurityInsights/onboardingStates/default",
        "name": "default",
        "type": "Microsoft.SecurityInsights/onboardingStates",
        "systemData": {
          "createdAt": "2022-11-09T08:23:21.7744268Z",
          "createdBy": "a1fc368b-7f40-4802-8fa1-260d3a6ec34b",
          "createdByType": "Application",
          "lastModifiedAt": "2022-11-09T08:23:21.7744268Z",
          "lastModifiedBy": "a1fc368b-7f40-4802-8fa1-260d3a6ec34b",
          "lastModifiedByType": "Application"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-6917/providers/Microsoft.OperationalInsights/workspaces/testRG-6917-ws/providers/Microsoft.SecurityInsights/settings/EyesOn?api-version=2022-08-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kind": "EyesOn",
        "properties": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1194"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-6917/providers/Microsoft.OperationalInsights/workspaces/testRG-6917-ws/providers/Microsoft.SecurityInsights/settings/EyesOn",
        "name": "EyesOn",
        "type": "Microsoft.SecurityInsights/settings",
        "kind": "EyesOn",
        "systemData": {
          "createdAt": "2022-11-09T08:23:29.2597932Z",
          "createdBy": "a1fc368b-7f40-4802-8fa1-260d3a6ec34b",
          "createdByType": "Application",
          "lastModifiedAt": "2022-11-09T08:23:29.2597932Z",
          "lastModifiedBy": "a1fc368b-7f40-4802-8fa1-260d3a6ec34b",
          "lastModifiedByType": "Application"
        },
        "properties": {
          "isEnabled": true
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-6917/providers/Microsoft.OperationalInsights/workspaces/testRG-6917-ws/providers/Microsoft.SecurityInsights/settings/EyesOn?api-version=2022-08-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11994"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-6917/providers/Microsoft.OperationalInsights/workspaces/testRG-6917-ws/providers/Microsoft.SecurityInsights/settings/EyesOn",
        "name": "EyesOn",
        "etag": "\u00222c002245-0000-0300-0000-636b63820000\u0022",
        "type": "Microsoft.SecurityInsights/settings",
        "kind": "EyesOn",
        "systemData": {},
        "properties": {
          "isEnabled": true
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-6917/providers/Microsoft.OperationalInsights/workspaces/testRG-6917-ws/providers/Microsoft.SecurityInsights/settings?api-version=2022-08-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11993"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-6917/providers/Microsoft.OperationalInsights/workspaces/testRG-6917-ws/providers/Microsoft.SecurityInsights/settings/EyesOn",
            "name": "EyesOn",
            "etag": "\u00222c003f45-0000-0300-0000-636b63840000\u0022",
            "type": "Microsoft.SecurityInsights/settings",
            "kind": "EyesOn",
            "systemData": {},
            "properties": {
              "is[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-6917/providers/Microsoft.OperationalInsights/workspaces/testRG-6917-ws/providers/Microsoft.SecurityInsights/settings/EyesOn?api-version=2022-08-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11992"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-6917/providers/Microsoft.OperationalInsights/workspaces/testRG-6917-ws/providers/Microsoft.SecurityInsights/settings/EyesOn",
        "name": "EyesOn",
        "etag": "\u00222c003f45-0000-0300-0000-636b63840000\u0022",
        "type": "Microsoft.SecurityInsights/settings",
        "kind": "EyesOn",
        "systemData": {},
        "properties": {
          "isEnabled": true
        }
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com/",
    "RandomSeed": "987682035",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "db1ab6f0-4769-4b27-930e-01e2ef9c123c"
  }
}
