{
  "Entries": [
    {
      "RequestUri": "/subscriptions/0353d26d-e338-469a-a87a-bd3507471155/providers/Microsoft.DataLakeStore/register?api-version=2015-11-01",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/0353d26d-e338-469a-a87a-bd3507471155/providers/Microsoft.DataLakeStore\",\r\n  \"namespace\": \"Microsoft.DataLakeStore\",\r\n  \"resourceTypes\": [\r\n    {\r\n      \"resourceType\": \"accounts\",\r\n      \"locations\": [\r\n        \"West US\",\r\n        \"South Central US\",\r\n        \"East US 2\",\r\n        \"East US\",\r\n        \"Central US\",\r\n        \"North Central US\",\r\n        \"Japan East\",\r\n        \"North Europe\",\r\n        \"Japan West\",\r\n        \"West Europe\"\r\n      ],\r\n      \"apiVersions\": [\r\n        \"2015-10-01-preview\"\r\n      ],\r\n      \"capabilities\": \"CrossResourceGroupResourceMove, CrossSubscriptionResourceMove\"\r\n    },\r\n    {\r\n      \"resourceType\": \"accounts/firewallRules\",\r\n      \"locations\": [\r\n        \"West US\",\r\n        \"South Central US\",\r\n        \"East US 2\",\r\n        \"East US\",\r\n        \"Central US\",\r\n        \"North Central US\",\r\n        \"Japan East\",\r\n        \"North Europe\",\r\n        \"Japan West\",\r\n        \"West Europe\"\r\n      ],\r\n      \"apiVersions\": [\r\n        \"2015-10-01-preview\"\r\n      ]\r\n    },\r\n    {\r\n      \"resourceType\": \"locations\",\r\n      \"locations\": [],\r\n      \"apiVersions\": [\r\n        \"2015-10-01-preview\"\r\n      ]\r\n    },\r\n    {\r\n      \"resourceType\": \"locations/operationresults\",\r\n      \"locations\": [],\r\n      \"apiVersions\": [\r\n        \"2015-10-01-preview\"\r\n      ]\r\n    },\r\n    {\r\n      \"resourceType\": \"operations\",\r\n      \"locations\": [],\r\n      \"apiVersions\": [\r\n        \"2015-10-01-preview\"\r\n      ]\r\n    }\r\n  ],\r\n  \"registrationState\": \"Registered\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1155"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/0353d26d-e338-469a-a87a-bd3507471155/providers/Microsoft.DataLakeStore?api-version=2015-11-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/0353d26d-e338-469a-a87a-bd3507471155/providers/Microsoft.DataLakeStore\",\r\n  \"namespace\": \"Microsoft.DataLakeStore\",\r\n  \"resourceTypes\": [\r\n    {\r\n      \"resourceType\": \"accounts\",\r\n      \"locatio[...]
    {
      "RequestUri": "/subscriptions/0353d26d-e338-469a-a87a-bd3507471155/providers/Microsoft.Storage/register?api-version=2015-11-01",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/0353d26d-e338-469a-a87a-bd3507471155/providers/Microsoft.Storage\",\r\n  \"namespace\": \"Microsoft.Storage\",\r\n  \"resourceTypes\": [\r\n    {\r\n      \"resourceType\": \"storageAccounts\",\r\n      \"location[...]
    {
      "RequestUri": "/subscriptions/0353d26d-e338-469a-a87a-bd3507471155/providers/Microsoft.Storage?api-version=2015-11-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/0353d26d-e338-469a-a87a-bd3507471155/providers/Microsoft.Storage\",\r\n  \"namespace\": \"Microsoft.Storage\",\r\n  \"resourceTypes\": [\r\n    {\r\n      \"resourceType\": \"storageAccounts\",\r\n      \"locations\": [\r\n[...]
    {
      "RequestUri": "/subscriptions/0353d26d-e338-469a-a87a-bd3507471155/resourcegroups/datalakerg17142?api-version=2015-11-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceGroupNotFound\",\r\n    \"message\": \"Resource group 'datalakerg17142' could not be found.\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-failure-cause": [
          "gateway"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14387"
        ]
      },
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/0353d26d-e338-469a-a87a-bd3507471155/resourcegroups/datalakerg17142?api-version=2015-11-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/0353d26d-e338-469a-a87a-bd3507471155/resourceGroups/datalakerg17142\",\r\n  \"name\": \"datalakerg17142\",\r\n  \"location\": \"eastus2\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14386"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/0353d26d-e338-469a-a87a-bd3507471155/resourceGroups/datalakerg17142/providers/Microsoft.DataLakeStore/accounts/testadlfs11984?api-version=2015-10-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.DataLakeStore/accounts/testadlfs11984' under resource group 'datalakerg17142' was not found.\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-failure-cause": [
          "gateway"
        ]
      },
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/0353d26d-e338-469a-a87a-bd3507471155/resourceGroups/datalakerg17142/providers/Microsoft.DataLakeStore/accounts/testadlfs11984?api-version=2015-10-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"firewallState\": \"Disabled\",\r\n    \"firewallRules\": [],\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"state\": \"Active\",\r\n    \"endpoint\": \"testadlfs11984.caboaccountdogfood.net\",\r\n    \"creationTime\": \"2016-02-22T18:03:35.8647992Z\",\r\n    \"lastModifiedTime\": \"2016-02-22T18:03:35.8647992Z\"\r\n  },\r\n  \"location\": \"East US 2\",\r\n  \"tags\": null,\r\n  \"id\": \"/subscriptions/0353d26d-e338-469a-a87a-bd3507471155/resourceGroups/datalakerg17142/providers/Microsoft.DataLakeStore/accounts/testadlfs11984\",\r\n  \"name\": \"testadlfs11984\",\r\n  \"type\": \"Microsoft.DataLakeStore/accounts\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14380"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/0353d26d-e338-469a-a87a-bd3507471155/resourceGroups/datalakerg17142/providers/Microsoft.DataLakeStore/accounts/testadlfs11984?api-version=2015-10-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"East US 2\",\r\n  \"name\": \"testadlfs11984\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"provisioningState\": \"Creating\",\r\n    \"state\": null,\r\n    \"endpoint\": null,\r\n    \"creationTime\": null,\r\n    \"lastModifiedTime\": null\r\n  },\r\n  \"location\": \"East US 2\",\r\n  \"tags\": null,\r\n  \"id\": \"/subscriptions/0353d26d-e338-469a-a87a-bd3507471155/resourceGroups/datalakerg17142/providers/Microsoft.DataLakeStore/accounts/testadlfs11984\",\r\n  \"name\": \"testadlfs11984\",\r\n  \"type\": \"Microsoft.DataLakeStore/accounts\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json"
        ],
        "Location": [
          "https://api-dogfood.resources.windows-int.net/subscriptions/0353d26d-e338-469a-a87a-bd3507471155/resourcegroups/datalakerg17142/providers/Microsoft.DataLakeStore/accounts/testadlfs11984/operationresults/0?api-version=2015-10-01-preview"
        ],
        "Retry-After": [
          "10"
        ],
        "Azure-AsyncOperation": [
          "https://api-dogfood.resources.windows-int.net/subscriptions/0353d26d-e338-469a-a87a-bd3507471155/providers/Microsoft.DataLakeStore/locations/EastUS2/operationResults/a920e018-551b-49ec-baa4-417c8235f0dc0?api-version=2015-10-01-preview&expanded=true"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1152"
        ]
      },
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/0353d26d-e338-469a-a87a-bd3507471155/providers/Microsoft.DataLakeStore/locations/EastUS2/operationResults/a920e018-551b-49ec-baa4-417c8235f0dc0?api-version=2015-10-01-preview&expanded=true",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"status\": \"Succeeded\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14381"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/webhdfs/v1/SDKTestFolder01%2FmsconcatFolder%2FSDKTestFile01.txt753?op=CREATE&write=true&api-version=2015-10-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "These are some random test contents 1234!@",
      "RequestHeaders": {
        "Content-Type": [
          "application/octet-stream"
        ],
        "subscriptionId": [
          "0353d26d-e338-469a-a87a-bd3507471155"
        ]
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "Location": [
          "https://testadlfs11984.caboaccountdogfood.net/webhdfs/v1/SDKTestFolder01/msconcatFolder/SDKTestFile01.txt753?op=CREATE&write=true&api-version=2015-10-01-preview"
        ],
        "ContentLength": [
          "0"
        ],
        "Server-Perf": [
          "[faf8eb9f7310455390127b4951a36080][ AuthTime::1479.39623183794::PostAuthTime::30510.4622696222 ][FsOpenStream :: 00:00:283 ms]%0a[Open :: 00:00:283 ms]%0a[FsAppendStream :: 00:00:286 ms]%0a[Write :: 00:00:287 ms]%0a[CREATE :: 00:00:572 ms]%0a"
        ],
        "Status": [
          "0x0"
        ]
      },
      "StatusCode": 201
    },
    {
      "RequestUri": "/webhdfs/v1/SDKTestFolder01%2FmsconcatFolder%2FSDKTestFile01.txt753?op=GETFILESTATUS&api-version=2015-10-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "subscriptionId": [
          "0353d26d-e338-469a-a87a-bd3507471155"
        ]
      },
      "ResponseBody": "{\r\n  \"FileStatus\": {\r\n    \"length\": 42,\r\n    \"pathSuffix\": \"\",\r\n    \"type\": \"FILE\",\r\n    \"blockSize\": 268435456,\r\n    \"accessTime\": 1456164244270,\r\n    \"modificationTime\": 1456164244713,\r\n    \"replication\": 0,\r\n    \"permission\": \"777\",\r\n    \"owner\": \"NotSupportYet\",\r\n    \"group\": \"NotSupportYet\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Server-Perf": [
          "[1f2d15377210497996e49bef730a5abc][ AuthTime::632.560574411193::PostAuthTime::131.729991155272 ][IsExist :: 00:00:000 ms]%0a[HdfsGetFileStatus :: 00:00:040 ms]%0a[SS Response Process :: 00:00:000 ms]%0a[GETFILESTATUS :: 00:00:040 ms]%0a"
        ],
        "Status": [
          "0x0"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/webhdfs/v1/SDKTestFolder01%2FmsconcatFolder%2FSDKTestFile01.txt753?op=GETFILESTATUS&api-version=2015-10-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "subscriptionId": [
          "0353d26d-e338-469a-a87a-bd3507471155"
        ]
      },
      "ResponseBody": "{\r\n  \"RemoteException\": {\r\n    \"exception\": \"FileNotFoundException\",\r\n    \"message\": \"File/Folder does not exist: /SDKTestFolder01/msconcatFolder/SDKTestFile01.txt753 [96550116a6f34afb8f25c5268e7bcb39]\",\r\n    \"javaClassName\": \"java.io.FileNotFoundException\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Server-Perf": [
          "[96550116a6f34afb8f25c5268e7bcb39][ AuthTime::597.061907963506::PostAuthTime::129.591517272881 ][IsExist :: 00:00:000 ms]%0a[HdfsGetFileStatus :: 00:00:035 ms]%0a[SS Response Process :: 00:00:000 ms]%0a[GETFILESTATUS :: 00:00:036 ms]%0a"
        ],
        "Status": [
          "0x8309000A"
        ]
      },
      "StatusCode": 404
    },
[...]
    {
      "RequestUri": "/webhdfs/v1/SDKTestFolder016666?op=MKDIRS&api-version=2015-10-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "",
      "RequestHeaders": {
        "subscriptionId": [
          "0353d26d-e338-469a-a87a-bd3507471155"
        ]
      },
      "ResponseBody": "{\r\n  \"boolean\": true\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Server-Perf": [
          "[b9e2492aa31d469095d0e508f6cd86c6][ AuthTime::650.951449799753::PostAuthTime::131.302296378794 ][HdfsMkdirs :: 00:00:046 ms]%0a[MKDIRS :: 00:00:046 ms]%0a"
        ],
        "Status": [
          "0x0"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/webhdfs/v1/SDKTestFolder016666%2FSDKTestConcatFile01.txt?deletesourcedirectory=true&op=MSCONCAT&api-version=2015-10-01-preview",
      "RequestMethod": "POST",
      "RequestBody": "sources=SDKTestFolder01/msconcatFolder/SDKTestFile01.txt753,SDKTestFolder01/msconcatFolder/SDKTestFile01.txt3679",
      "RequestHeaders": {
        "Content-Type": [
          "application/octet-stream"
        ],
        "subscriptionId": [
          "0353d26d-e338-469a-a87a-bd3507471155"
        ]
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "Server-Perf": [
          "[5007e877c9434785967c40697cc2e3a1][ AuthTime::597.489602739984::PostAuthTime::128.736127719925 ][IsExist :: 00:00:000 ms]%0a[HdfsGetFileStatus :: 00:00:038 ms]%0a[SS Response Process :: 00:00:000 ms]%0a[FsMultiModifyStream :: 00:00:885 ms]%0a[MSCONCAT :: 00:00:925 ms]%0a"
        ],
        "Status": [
          "0x0"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/webhdfs/v1/SDKTestFolder016666%2FSDKTestConcatFile01.txt?op=GETFILESTATUS&api-version=2015-10-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "subscriptionId": [
          "0353d26d-e338-469a-a87a-bd3507471155"
        ]
      },
      "ResponseBody": "{\r\n  \"FileStatus\": {\r\n    \"length\": 84,\r\n    \"pathSuffix\": \"\",\r\n    \"type\": \"FILE\",\r\n    \"blockSize\": 268435456,\r\n    \"accessTime\": 1456164245630,\r\n    \"modificationTime\": 1456164245930,\r\n    \"replication\": 0,\r\n    \"permission\": \"777\",\r\n    \"owner\": \"NotSupportYet\",\r\n    \"group\": \"NotSupportYet\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Server-Perf": [
          "[c6a3d41453c24db1a95d29b6e96064eb][ AuthTime::624.434373658108::PostAuthTime::139.000802355401 ][IsExist :: 00:00:000 ms]%0a[HdfsGetFileStatus :: 00:00:030 ms]%0a[SS Response Process :: 00:00:000 ms]%0a[GETFILESTATUS :: 00:00:031 ms]%0a"
        ],
        "Status": [
          "0x0"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/webhdfs/v1/SDKTestFolder01%2FmsconcatFolder?op=GETFILESTATUS&api-version=2015-10-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "subscriptionId": [
          "0353d26d-e338-469a-a87a-bd3507471155"
        ]
      },
      "ResponseBody": "{\r\n  \"RemoteException\": {\r\n    \"exception\": \"FileNotFoundException\",\r\n    \"message\": \"File/Folder does not exist: /SDKTestFolder01/msconcatFolder [43867dc0be7a4ce1a355ba6c89ca0e30]\",\r\n    \"javaClassName\": \"java.io.FileNotFoundException\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Server-Perf": [
          "[43867dc0be7a4ce1a355ba6c89ca0e30][ AuthTime::1323.28763842341::PostAuthTime::30222.6236850524 ][IsExist :: 00:00:000 ms]%0a[HdfsGetFileStatus :: 00:00:007 ms]%0a[SS Response Process :: 00:00:000 ms]%0a[GETFILESTATUS :: 00:00:007 ms]%0a"
        ],
        "Status": [
          "0x8309000A"
        ]
      },
      "StatusCode": 404
    }
  ],
  "Names": {
    ".ctor": [
      "datalakerg17142",
      "testdatalake12500",
      "testadlfs11984"
    ],
    "CreateFile": [
      "SDKTestFolder01/msconcatFolder/SDKTestFile01.txt753",
      "SDKTestFolder01/msconcatFolder/SDKTestFile01.txt3679"
    ],
    "CreateFolder": [
      "SDKTestFolder016666"
    ]
  },
  "Variables": {
    "SubscriptionId": "0353d26d-e338-469a-a87a-bd3507471155"
  }
}