{
  "Entries": [
    {
      "RequestUri": "/webhdfs/v1/SDKTestFolder01%2FSDKTestFile01.txt9368?op=CREATE&api-version=2015-10-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "",
      "RequestHeaders": {
        "subscriptionId": [
          "0353d26d-e338-469a-a87a-bd3507471155"
        ]
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "Location": [
          "https://testadlfs13622.caboaccountdogfood.net/webhdfs/v1/SDKTestFolder01/SDKTestFile01.txt9368?op=CREATE&api-version=2015-10-01-preview&write=true"
        ],
        "ContentLength": [
          "0"
        ],
        "Server-Perf": [
          "[a5c742fe311a44aa964d92d466f3bd4e][ AuthTime::1709.06759584743::PostAuthTime::30788.878400867 ][CREATE :: 00:00:000 ms]%0a"
        ]
      },
      "StatusCode": 307
    },
    {
      "RequestUri": "/webhdfs/v1/SDKTestFolder01/SDKTestFile01.txt9368?op=CREATE&api-version=2015-10-01-preview&write=true",
      "RequestMethod": "PUT",
      "RequestBody": "These are some random test contents 1234!@",
      "RequestHeaders": {
        "Content-Type": [
          "application/octet-stream"
        ]
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "Location": [
          "https://testadlfs13622.caboaccountdogfood.net/webhdfs/v1/SDKTestFolder01/SDKTestFile01.txt9368?op=CREATE&api-version=2015-10-01-preview&write=true"
        ],
        "ContentLength": [
          "0"
        ],
        "Server-Perf": [
          "[99edcab0f32b4d7cb97ab5a40e51c4d9][ AuthTime::751.459400876859::PostAuthTime::183.053286041716 ][FsOpenStream :: 00:00:240 ms]%0a[Open :: 00:00:240 ms]%0a[FsAppendStream :: 00:00:247 ms]%0a[Write :: 00:00:248 ms]%0a[FsAppendStream :: 00:00:009 ms]%0a[FlushWrite :: 00:00:009 ms]%0a[CREATE :: 00:00:500 ms]%0a"
        ]
      },
      "StatusCode": 201
    },
    {
      "RequestUri": "/webhdfs/v1/SDKTestFolder01%2FSDKTestFile01.txt9368?op=GETFILESTATUS&api-version=2015-10-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "subscriptionId": [
          "0353d26d-e338-469a-a87a-bd3507471155"
        ]
      },
      "ResponseBody": "{\r\n  \"FileStatus\": {\r\n    \"length\": 42,\r\n    \"pathSuffix\": \"\",\r\n    \"type\": \"FILE\",\r\n    \"blockSize\": 268435456,\r\n    \"accessTime\": 1449714043180,\r\n    \"modificationTime\": 1449714043540,\r\n    \"replication\": 0,\r\n    \"permission\": \"777\",\r\n    \"owner\": \"NotSupportYet\",\r\n    \"group\": \"NotSupportYet\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Server-Perf": [
          "[57bd2991a9ed442aae6101203d77f83b][ AuthTime::814.75820072306::PostAuthTime::187.757926570826 ][IsExist :: 00:00:000 ms]%0a[HdfsGetFileStatus :: 00:00:049 ms]%0a[SS Response Process :: 00:00:000 ms]%0a[GETFILESTATUS :: 00:00:050 ms]%0a"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/webhdfs/v1/SDKTestFolder01%2FSDKTestFile01.txt9368?op=GETFILESTATUS&api-version=2015-10-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "subscriptionId": [
          "0353d26d-e338-469a-a87a-bd3507471155"
        ]
      },
      "ResponseBody": "{\r\n  \"RemoteException\": {\r\n    \"exception\": \"FileNotFoundException\",\r\n    \"message\": \"File/Folder does not exist: /SDKTestFolder01/SDKTestFile01.txt9368 [dbc65fc3dc9e4114908ae274202fdf7c]\",\r\n    \"javaClassName\": \"java.io.FileNotFoundException\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Server-Perf": [
          "[dbc65fc3dc9e4114908ae274202fdf7c][ AuthTime::757.01943059308::PostAuthTime::179.204034699718 ][IsExist :: 00:00:000 ms]%0a[HdfsGetFileStatus :: 00:00:038 ms]%0a[SS Response Process :: 00:00:000 ms]%0a[GETFILESTATUS :: 00:00:039 ms]%0a"
        ]
      },
      "StatusCode": 404
    },
[...]
    {
      "RequestUri": "/webhdfs/v1/SDKTestFolder016826?op=MKDIRS&api-version=2015-10-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "",
      "RequestHeaders": {
        "subscriptionId": [
          "0353d26d-e338-469a-a87a-bd3507471155"
        ]
      },
      "ResponseBody": "{\r\n  \"boolean\": true\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Server-Perf": [
          "[c15a1e2ad89b4e949335af157775d732][ AuthTime::789.951914296847::PostAuthTime::190.324094132158 ][HdfsMkdirs :: 00:00:037 ms]%0a[MKDIRS :: 00:00:037 ms]%0a"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/webhdfs/v1/SDKTestFolder016826%2FSDKTestConcatFile01.txt?sources=SDKTestFolder01%2FSDKTestFile01.txt9368%2CSDKTestFolder01%2FSDKTestFile01.txt4854&op=CONCAT&api-version=2015-10-01-preview",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
        "subscriptionId": [
          "0353d26d-e338-469a-a87a-bd3507471155"
        ]
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "Server-Perf": [
          "[46c663622bb442369ea35ac9255ab2cf][ AuthTime::821.601314219947::PostAuthTime::196.311818441934 ][IsExist :: 00:00:000 ms]%0a[HdfsGetFileStatus :: 00:00:028 ms]%0a[SS Response Process :: 00:00:000 ms]%0a[FsMultiModifyStream :: 00:00:811 ms]%0a[CONCAT :: 00:00:841 ms]%0a"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/webhdfs/v1/SDKTestFolder016826%2FSDKTestConcatFile01.txt?op=GETFILESTATUS&api-version=2015-10-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "subscriptionId": [
          "0353d26d-e338-469a-a87a-bd3507471155"
        ]
      },
      "ResponseBody": "{\r\n  \"FileStatus\": {\r\n    \"length\": 84,\r\n    \"pathSuffix\": \"\",\r\n    \"type\": \"FILE\",\r\n    \"blockSize\": 268435456,\r\n    \"accessTime\": 1449714045010,\r\n    \"modificationTime\": 1449714045083,\r\n    \"replication\": 0,\r\n    \"permission\": \"777\",\r\n    \"owner\": \"NotSupportYet\",\r\n    \"group\": \"NotSupportYet\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Server-Perf": [
          "[80e08410654c453284df897ea1598b25][ AuthTime::878.912389756372::PostAuthTime::204.010321125932 ][IsExist :: 00:00:000 ms]%0a[HdfsGetFileStatus :: 00:00:042 ms]%0a[SS Response Process :: 00:00:000 ms]%0a[GETFILESTATUS :: 00:00:043 ms]%0a"
        ]
      },
      "StatusCode": 200
    }
  ],
  "Names": {
    "CreateFile": [
      "SDKTestFolder01/SDKTestFile01.txt9368",
      "SDKTestFolder01/SDKTestFile01.txt4854"
    ],
    "CreateFolder": [
      "SDKTestFolder016826"
    ]
  },
  "Variables": {
    "SubscriptionId": "0353d26d-e338-469a-a87a-bd3507471155"
  }
}