{
  "Entries": [
    {
      "RequestUri": "/webhdfs/v1/%2F?op=GETACLSTATUS&api-version=2015-10-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "subscriptionId": [
          "0353d26d-e338-469a-a87a-bd3507471155"
        ]
      },
      "ResponseBody": "{\r\n  \"AclStatus\": {\r\n    \"entries\": [\r\n      \"user::rwx\",\r\n      \"group::rwx\",\r\n      \"other::---\",\r\n      \"mask::rwx\",\r\n      \"default:user::rwx\",\r\n      \"default:group::rwx\",\r\n      \"default:other::---\",\r\n      \"default:mask::rwx\"\r\n    ],\r\n    \"owner\": \"353f35f8-e1c3-461c-8314-5650973a5ec7\",\r\n    \"group\": \"353f35f8-e1c3-461c-8314-5650973a5ec7\",\r\n    \"stickyBit\": false\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Server-Perf": [
          "[434c957e9c8d4409be0afec15ff2cf20][ AuthTime::1718.93103788962::PostAuthTime::31356.4842278775 ][HdfsGetAclStatus :: 00:00:164 ms]%0a[SS Response Process :: 00:00:000 ms]%0a[GETACLSTATUS :: 00:00:164 ms]%0a"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/webhdfs/v1/%2F?aclspec=user:027c28d5-c91d-49f0-98c5-d10134b169b3:rwx&op=MODIFYACLENTRIES&api-version=2015-10-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "",
      "RequestHeaders": {
        "subscriptionId": [
          "0353d26d-e338-469a-a87a-bd3507471155"
        ]
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "ContentLength": [
          "0"
        ],
        "Server-Perf": [
          "[37b1ba824c8044b083692307ea6b8b44][ AuthTime::823.752470508934::PostAuthTime::187.333116346269 ][MODIFYACLENTRIES :: 00:00:067 ms]%0a"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/webhdfs/v1/%2F?aclspec=%2Cuser:027c28d5-c91d-49f0-98c5-d10134b169b3&op=REMOVEACLENTRIES&api-version=2015-10-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "",
      "RequestHeaders": {
        "subscriptionId": [
          "0353d26d-e338-469a-a87a-bd3507471155"
        ]
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "ContentLength": [
          "0"
        ],
        "Server-Perf": [
          "[73d4bf3a89fa47d3bc897e4f3a5309ed][ AuthTime::753.609477173802::PostAuthTime::180.917598663177 ][REMOVEACLENTRIES :: 00:00:068 ms]%0a"
        ]
      },
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "0353d26d-e338-469a-a87a-bd3507471155"
  }
}