{
  "Entries": [
    {
      "RequestUri": "/providers/Microsoft.Authorization/providerOperations/Microsoft.Network?api-version=2015-07-01&$expand=resourceTypes",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"displayName\": \"Microsoft Network\",\r\n  \"operations\": [],\r\n  \"resourceTypes\": [\r\n    {\r\n      \"name\": \"networkInterfaces\",\r\n      \"displayName\": \"Network Interface\",\r\n      \"operations\": [\r\n        {\r\n          \"name\": \"Microsoft.Network/networkInterfaces/read\",\r\n          \"displayName\": \"Get Network Interface\",\r\n          \"description\": \"Gets a network interface definition. \",\r\n          \"origin\": null,\r\n          \"properties\": null\r\n        },\r\n        {\r\n          \"name\": \"Microsoft.Network/networkInterfaces/write\",\r\n          \"displayName\": \"Create or Update Network Interface\",\r\n          \"description\": \"Creates a network interface or updates an existing network interface. \",\r\n          \"origin\": null,\r\n          \"properties\": null\r\n        },\r\n        {\r\n          \"name\": \"Microsoft.Network/networkInterfaces/join/action\",\r\n          \"displayName\": \"Join Virtual Machine [...]
