{
  "Entries": [
    {
      "RequestUri": "/subscriptions/487bb485-b5b0-471e-9c0d-10717612f869/providers/Microsoft.Security/secureScores/ascScore?api-version=2020-01-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-resource-requests": [
          "749"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/487bb485-b5b0-471e-9c0d-10717612f869/providers/Microsoft.Security/secureScores/ascScore\",\r\n  \"name\": \"ascScore\",\r\n  \"type\": \"Microsoft.Security/secureScores\",\r\n  \"properties\": {\r\n    \"displayName\": \"ASC score\",\r\n    \"score\": {\r\n      \"max\": 60,\r\n      \"current\": 35.95,\r\n      \"percentage\": 0.5992\r\n    },\r\n    \"weight\": 208\r\n  }\r\n}",
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {}
}