{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.sanitized_label.sanitized_location.geocatalog.spatio.azure.com/data/mosaic/register?api-version=2025-04-30-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "filter": {
          "op": "and",
          "args": [
            {
              "op": "=",
              "args": [
                {
                  "property": "collection"
                },
                "naip-atl"
              ]
            },
            {
              "op": ">=",
              "args": [
                {
                  "property": "datetime"
                },
                "2021-01-01T00:00:00Z"
              ]
            },
            {
              "op": "<=",
              "args": [
                {
                  "property": "datetime"
                },
                "2022-12-31T23:59:59Z"
              ]
            }
          ]
        },
        "filter-lang": "cql2-json"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json"
      },
      "ResponseBody": {
        "searchid": "44643ea3b47ecab89f28592b8451df91",
        "links": [
          {
            "href": "https://Sanitized.sanitized_label.sanitized_location.geocatalog.spatio.azure.com/data/mosaic/44643ea3b47ecab89f28592b8451df91/info",
            "rel": "metadata",
            "type": "application/json",
            "title": "Mosaic metadata"
          },
          {
            "href": "https://Sanitized.sanitized_label.sanitized_location.geocatalog.spatio.azure.com/data/mosaic/44643ea3b47ecab89f28592b8451df91/tilejson.json",
            "rel": "tilejson",
            "type": "application/json",
            "title": "Link for TileJSON"
          },
          {
            "href": "https://Sanitized.sanitized_label.sanitized_location.geocatalog.spatio.azure.com/data/mosaic/44643ea3b47ecab89f28592b8451df91/WMTSCapabilities.xml",
            "rel": "wmts",
            "type": "application/json",
            "title": "Link for WMTS"
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.sanitized_label.sanitized_location.geocatalog.spatio.azure.com/data/mosaic/44643ea3b47ecab89f28592b8451df91/info?api-version=2025-04-30-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json"
      },
      "ResponseBody": {
        "search": {
          "hash": "44643ea3b47ecab89f28592b8451df91",
          "search": {
            "filter": {
              "op": "and",
              "args": [
                {
                  "op": "=",
                  "args": [
                    {
                      "property": "collection"
                    },
                    "naip-atl"
                  ]
                },
                {
                  "op": ">=",
                  "args": [
                    {
                      "property": "datetime"
                    },
                    "2021-01-01T00:00:00Z"
                  ]
                },
                {
                  "op": "<=",
                  "args": [
                    {
                      "property": "datetime"
                    },
                    "2022-12-31T23:59:59Z"
                  ]
                }
              ]
            },
            "filter-lang": "cql2-json"
          },
          "_where": "(collection = 'naip-atl' AND datetime >= '2021-01-01T00:00:00Z' AND datetime <= '2022-12-31T23:59:59Z')",
          "orderby": "datetime DESC, id DESC",
          "lastused": "2025-11-10T14:34:26.200224Z",
          "usecount": 13,
          "metadata": {
            "type": "mosaic"
          }
        },
        "links": [
          {
            "href": "https://Sanitized.sanitized_label.sanitized_location.geocatalog.spatio.azure.com/data/mosaic/44643ea3b47ecab89f28592b8451df91/info",
            "rel": "self",
            "type": "application/json",
            "title": "Mosaic metadata"
          },
          {
            "href": "https://Sanitized.sanitized_label.sanitized_location.geocatalog.spatio.azure.com/data/mosaic/44643ea3b47ecab89f28592b8451df91/tilejson.json",
            "rel": "tilejson",
            "type": "application/json",
            "title": "Link for TileJSON"
          },
          {
            "href": "https://Sanitized.sanitized_label.sanitized_location.geocatalog.spatio.azure.com/data/mosaic/44643ea3b47ecab89f28592b8451df91/WMTSCapabilities.xml",
            "rel": "wmts",
            "type": "application/json",
            "title": "Link for WMTS"
          }
        ]
      }
    }
  ],
  "Variables": {
    "PLANETARYCOMPUTER_COLLECTION_ID": "naip-atl",
    "PLANETARYCOMPUTER_ENDPOINT": "https://Sanitized.sanitized_label.sanitized_location.geocatalog.spatio.azure.com",
    "RandomSeed": "223467115"
  }
}
