{
  "Entries": [
    {
      "RequestUri": "/subscriptions/b36cdf46-b75d-4dc2-9fe1-1296ee8c623d/providers/Microsoft.ServiceFabric/locations/southcentralus/environments/Windows/managedClusterVersions/7.2.457.9590?api-version=2021-05-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"subscriptions/b36cdf46-b75d-4dc2-9fe1-1296ee8c623d/providers/Microsoft.ServiceFabric/locations/southcentralus/environments/Windows/clusterVersions/7.2.457.9590\",\r\n  \"name\": \"7.2.457.9590\",\r\n  \"type\": \"Microsoft.ServiceFabric/locations/environments/ManagedClusterVersions\",\r\n  \"properties\": {\r\n    \"supportExpiryUtc\": \"2021-11-30T00:00:00\",\r\n    \"osType\": \"Windows\",\r\n    \"clusterCodeVersion\": \"7.2.457.9590\"\r\n  }\r\n}",
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "b36cdf46-b75d-4dc2-9fe1-1296ee8c623d"
  }
}