{
  "Entries": [
    {
      "RequestUri": "https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/alert/anomaly/configurations/204a211a-c5f4-45f3-a30e-512fb25d1d2c/alerts/17571a77000/anomalies",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized",
        "x-api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "dataFeedId": "9860df01-e740-40ec-94a2-6351813552ba",
            "metricId": "27e3015f-04fd-44ba-a20b-bc529a0aebae",
            "anomalyDetectionConfigurationId": "fb5a6ed6-2b9e-4b72-8b0c-0046ead1c15c",
            "timestamp": "2020-10-29T00:00:00Z",
            "createdTime": "2020-10-30T00:06:12.66Z",
            "modifiedTime": "2020-10-30T00:06:12.66Z",
            "dimension": {
              "city": "Shanghai",
              "category": "__SUM__"
            },
            "property": {
              "anomalySeverity": "Medium",
              "anomalyStatus": "Active",
              "value": 157077.59999999998,
              "expectedValue": 181218.56936944055
            }
          },
          {
            "dataFeedId": "9860df01-e740-40ec-94a2-6351813552ba",
            "metricId": "27e3015f-04fd-44ba-a20b-bc529a0aebae",
            "anomalyDetectionConfigurationId": "fb5a6ed6-2b9e-4b72-8b0c-0046ead1c15c",
            "timestamp": "2020-10-29T00:00:00Z",
            "createdTime": "2020-10-30T00:06:12.66Z",
            "modifiedTime": "2020-10-30T00:06:12.66Z",
            "dimension": {
              "city": "Bangkok",
      [...]
