{
  "Entries": [
    {
      "RequestUri": "https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/alert/anomaly/configurations/204a211a-c5f4-45f3-a30e-512fb25d1d2c/alerts/query",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized",
        "x-api-key": "Sanitized"
      },
      "RequestBody": {
        "startTime": "2020-10-01T00:00:00Z",
        "endTime": "2020-10-31T00:00:00Z",
        "timeMode": "ModifiedTime"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "alertId": "17557e7a400",
            "timestamp": "2020-10-24T00:00:00Z",
            "createdTime": "2020-10-25T00:06:28.81Z",
            "modifiedTime": "2020-10-30T22:36:37.206Z"
          },
          {
            "alertId": "17552c14800",
            "timestamp": "2020-10-23T00:00:00Z",
            "createdTime": "2020-10-24T00:06:18.805Z",
            "modifiedTime": "2020-10-29T22:00:31.87Z"
          },
          {
            "alertId": "1754d9aec00",
            "timestamp": "2020-10-22T00:00:00Z",
            "createdTime": "2020-10-23T00:06:48.62Z",
            "modifiedTime": "2020-10-28T08:06:39.094Z"
          },
          {
     [...]
