{
  "Entries": [
    {
      "RequestUri": "https://ga-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/alert/anomaly/configurations/126d1470-b500-4ef0-b5c0-47f9ca914a75/alerts/query",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized",
        "x-api-key": "Sanitized"
      },
      "RequestBody": {
        "startTime": "2022-01-01T00:00:00.0000000Z",
        "endTime": "2022-04-15T00:00:00.0000000Z",
        "timeMode": "ModifiedTime"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "alertId": "18020384400",
            "timestamp": "2022-04-13T00:00:00Z",
            "createdTime": "2022-04-14T03:03:23.743Z",
            "modifiedTime": "2022-04-14T03:03:24.743Z"
          },
          {
            "alertId": "1801b11e800",
            "timestamp": "2022-04-12T00:00:00Z",
            "createdTime": "2022-04-13T03:03:29.76Z",
            "modifiedTime": "2022-04-13T03:03:30.088Z"
          },
          {
            "alertId": "1800b9ed400",
            "timestamp": "2022-04-09T00:00:00Z",
            "createdTime": "2022-04-10T03:03:47.907Z",
            "modifiedTime": "2022-04-10T03:03:48.953Z"
          },
          {
    [...]
