{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11991"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "TagKey-9823": "TagValue-566",
          "TagKey-3481": "TagValue-320",
          "TagKey-4926": "TagValue-1187",
          "TagKey-751": "TagValue-3921",
          "TagKey-1866": "TagValue-8559",
          "TagKey-3094": "TagValue-9190",
          "TagKey-2449": "TagValue-9",
          "TagKey-8379": "TagValue-164",
          "TagKey-7470": "TagValue-2205",
          "TagKey-4236": "TagValue-3698",
          "TagKey-5316": "TagValue-2725"
        },
        "subscriptionId": "db1ab6f0-4769-4b27-930e-01e2ef9c123c",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": ".NET Mgmt SDK Test with TTL = 1 Day",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourcegroups/SecurityCenterRG842?api-version=**",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1191"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/SecurityCenterRG842",
        "name": "SecurityCenterRG842",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/SecurityCenterRG842/providers/Microsoft.Logic/integrationAccounts/integrationAccount8793?api-version=2019-05-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "sku": {
          "name": "Standard"
        },
        "tags": {},
        "location": "eastus",
        "properties": {}
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1190"
      },
      "ResponseBody": {
        "properties": {
          "state": "Enabled"
        },
        "sku": {
          "name": "Standard"
        },
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/SecurityCenterRG842/providers/Microsoft.Logic/integrationAccounts/integrationAccount8793",
        "name": "integrationAccount8793",
        "type": "Microsoft.Logic/integrationAccounts",
        "location": "eastus",
        "tags": {}
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/SecurityCenterRG842/providers/Microsoft.Logic/workflows/logicWorkFlow7924?api-version=2019-05-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "eastus",
        "properties": {
          "integrationAccount": {
            "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/SecurityCenterRG842/providers/Microsoft.Logic/integrationAccounts/integrationAccount8793"
          },
          "definition": {
            "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
            "contentVersion": "1.0.0.0",
            "parameters": {},
            "triggers": {
              "manual": {
                "type": "Request",
                "kind": "Http",
                "inputs": {
                  "schema": {}
                }
              }
            },
            "actions": {
              "Response": {
                "runAfter": {},
                "type": "Response",
                "kind": "Http",
                "inputs": {
                  "statusCode": 200
                }
              }
            },
            "outputs": {}
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1189"
      },
      "ResponseBody": {
        "properties": {
          "provisioningState": "Succeeded",
          "createdTime": "2022-10-19T08:53:16.4712198Z",
          "changedTime": "2022-10-19T08:53:16.457183Z",
          "state": "Enabled",
          "version": "08585354372890316990",
          "accessEndpoint": "https://prod-91.eastus.logic.azure.com:443/workflows/0f501b29404a4338abbcbc7b7021cfdf",
          "integrationAccount": {
            "name": "integrationAccount8793",
            "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/SecurityCenterRG842/providers/Microsoft.Logic/integrationAccounts/integrationAccount8793",
            "type": "Microsoft.Logic/integrationAccounts"
          },
          "definition": {
            "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
            "contentVersion": "1.0.0.0",
            "parameters": {},
            "triggers": {
              "manual": {
                "type": "Request",
                "kind": "Http",
                "inputs": {
                  "schema": {}
                }
              }
            },
            "actions": {
              "Response": {
                "runAfter": {},
                "type": "Response",
                "kind": "Http",
                "inputs": {
                  "statusCode": 200
                }
              }
            },
            "outputs": {}
          },
          "parameters": {},
          "endpointsConfiguration": {
            "workflow": {
              "outgoingIpAddresses": [
                {
                  "address": "13.92.98.111"
                },
                {
                  "address": "40.121.91.41"
                },
                {
                  "address": "40.114.82.191"
                },
                {
                  "address": "23.101.139.153"
                },
                {
                  "address": "23.100.29.190"
                },
                {
                  "address": "23.101.136.201"
                },
                {
                  "address": "104.45.153.81"
                },
                {
                  "address": "23.101.132.208"
                },
                {
                  "address": "52.226.216.197"
                },
                {
                  "address": "52.226.216.187"
                },
                {
                  "address": "40.76.151.25"
                },
                {
                  "address": "40.76.148.50"
                },
                {
                  "address": "20.84.29.29"
                },
                {
                  "address": "20.84.29.18"
                },
                {
                  "address": "40.76.174.83"
                },
                {
                  "address": "40.76.174.39"
                }
              ],
              "accessEndpointIpAddresses": [
                {
                  "address": "137.135.106.54"
                },
                {
                  "address": "40.117.99.79"
                },
                {
                  "address": "40.117.100.228"
                },
                {
                  "address": "137.116.126.165"
                },
                {
                  "address": "52.226.216.209"
                },
                {
                  "address": "40.76.151.124"
                },
                {
                  "address": "20.84.29.150"
                },
                {
                  "address": "40.76.174.148"
                }
              ]
            },
            "connector": {
              "outgoingIpAddresses": [
                {
                  "address": "40.71.249.139"
                },
                {
                  "address": "40.71.249.205"
                },
                {
                  "address": "40.114.40.132"
                },
                {
                  "address": "40.71.11.80/28"
                },
                {
                  "address": "40.71.15.160/27"
                },
                {
                  "address": "52.188.157.160"
                },
                {
                  "address": "20.88.153.176/28"
                },
                {
                  "address": "20.88.153.192/27"
                },
                {
                  "address": "52.151.221.184"
                },
                {
                  "address": "52.151.221.119"
                }
              ]
            }
          }
        },
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/SecurityCenterRG842/providers/Microsoft.Logic/workflows/logicWorkFlow7924",
        "name": "logicWorkFlow7924",
        "type": "Microsoft.Logic/workflows",
        "location": "eastus",
        "tags": {}
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/SecurityCenterRG842/providers/Microsoft.Security/automations/automation8845?api-version=2019-01-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "eastus",
        "properties": {
          "scopes": [
            {
              "description": "A description that helps to identify this scope",
              "scopePath": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/SecurityCenterRG842"
            }
          ],
          "sources": [
            {
              "eventSource": "Assessments"
            }
          ],
          "actions": [
            {
              "logicAppResourceId": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/SecurityCenterRG842/providers/Microsoft.Logic/workflows/logicWorkFlow7924",
              "uri": "https://justtestsample.azurewebsites.net/",
              "actionType": "LogicApp"
            }
          ]
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2019-01-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "246"
      },
      "ResponseBody": {
        "properties": {
          "description": "",
          "isEnabled": true,
          "metadata": {
            "createdDateTimeUtc": "2022-10-19T08:53:20.0622246Z",
            "createdBy": "7bee3764-dbea-4729-9c33-446f321aa721",
            "lastUpdatedDateTimeUtc": "2022-10-19T08:53:20.0622246Z",
            "lastUpdatedBy": "7bee3764-dbea-4729-9c33-446f321aa721"
          },
          "scopes": [
            {
              "description": "A description that helps to identify this scope",
              "scopePath": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/SecurityCenterRG842"
            }
          ],
          "sources": [
            {
              "eventSource": "Assessments"
            }
          ],
          "actions": [
            {
              "logicAppResourceId": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/SecurityCenterRG842/providers/Microsoft.Logic/workflows/logicWorkFlow7924",
              "actionType": "LogicApp"
            }
          ]
        },
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourcegroups/SecurityCenterRG842/providers/Microsoft.Security/automations/automation8845",
        "name": "automation8845",
        "type": "Microsoft.Security/automations",
        "etag": "\u00228201f8bd-0000-0d00-0000-634fbb000000\u0022",
        "location": "eastus",
        "tags": {}
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/SecurityCenterRG842/providers/Microsoft.Security/automations/automation8845/providers/Microsoft.Resources/tags/default?api-version=**",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11990"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/SecurityCenterRG842/providers/Microsoft.Security/automations/automation8845/providers/Microsoft.Resources/tags/default",
        "name": "default",
        "type": "Microsoft.Resources/tags",
        "properties": {
          "tags": {}
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/SecurityCenterRG842/providers/Microsoft.Security/automations/automation8845/providers/Microsoft.Resources/tags/default?api-version=**",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "tags": {
            "addtagkey": "addtagvalue"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1188"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/SecurityCenterRG842/providers/Microsoft.Security/automations/automation8845/providers/Microsoft.Resources/tags/default",
        "name": "default",
        "type": "Microsoft.Resources/tags",
        "properties": {
          "tags": {
            "addtagkey": "addtagvalue"
          }
        }
      }
    },
[...]
