{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11945"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "TagKey-9823": "TagValue-1254",
          "TagKey-3481": "TagValue-320",
          "TagKey-4926": "TagValue-1187",
          "TagKey-751": "TagValue-3921",
          "TagKey-1866": "TagValue-8559",
          "TagKey-3094": "TagValue-9190",
          "TagKey-2449": "TagValue-9",
          "TagKey-8379": "TagValue-164",
          "TagKey-7470": "TagValue-2205",
          "TagKey-4236": "TagValue-3698",
          "TagKey-5316": "TagValue-2725"
        },
        "subscriptionId": "db1ab6f0-4769-4b27-930e-01e2ef9c123c",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": ".NET Mgmt SDK Test with TTL = 1 Day",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourcegroups/DevTestLabRG3587?api-version=**",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1193"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/DevTestLabRG3587",
        "name": "DevTestLabRG3587",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/DevTestLabRG3587/providers/Microsoft.DevTestLab/labs/lab5011?api-version=2018-09-15",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "eastus",
        "properties": {
          "premiumDataDisks": "Disabled",
          "environmentPermission": "Contributor"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.DevTestLab/locations/eastus/operations/20230619-32bdc6c9-24d8-4abb-8497-178992007da0?api-version=2018-09-15",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1192"
      },
      "ResponseBody": {
        "properties": {
          "labStorageType": "Premium",
          "mandatoryArtifactsResourceIdsLinux": [],
          "mandatoryArtifactsResourceIdsWindows": [],
          "createdDate": "2023-06-19T03:37:35.9291772\u002B00:00",
          "premiumDataDisks": "Disabled",
          "environmentPermission": "Contributor",
          "announcement": {
            "title": "",
            "markdown": "",
            "enabled": "Disabled",
            "expired": false
          },
          "support": {
            "enabled": "Disabled",
            "markdown": ""
          },
          "provisioningState": "Creating",
          "uniqueIdentifier": "e1243dca-e735-47c1-8484-a46ce9495bd1"
        },
        "location": "eastus",
        "tags": {},
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourcegroups/devtestlabrg3587/providers/microsoft.devtestlab/labs/lab5011",
        "name": "lab5011",
        "type": "Microsoft.DevTestLab/labs"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.DevTestLab/locations/eastus/operations/20230619-32bdc6c9-24d8-4abb-8497-178992007da0?api-version=2018-09-15",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11944"
      },
      "ResponseBody": {
        "status": "Running"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/DevTestLabRG3587/providers/Microsoft.DevTestLab/labs/lab5011?api-version=2018-09-15",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11934"
      },
      "ResponseBody": {
        "properties": {
          "defaultStorageAccount": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourcegroups/devtestlabrg3587/providers/microsoft.storage/storageaccounts/alab50117854",
          "defaultPremiumStorageAccount": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourcegroups/devtestlabrg3587/providers/microsoft.storage/storageaccounts/alab50117854",
          "artifactsStorageAccount": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourcegroups/devtestlabrg3587/providers/microsoft.storage/storageaccounts/alab50117854",
          "premiumDataDiskStorageAccount": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourcegroups/devtestlabrg3587/providers/microsoft.storage/storageaccounts/alab50117854",
          "vaultName": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourcegroups/devtestlabrg3587/providers/microsoft.keyvault/vaults/lab50118360",
          "labStorageType": "Premium",
          "mandatoryArtifactsResourceIdsLinux": [],
          "mandatoryArtifactsResourceIdsWindows": [],
          "createdDate": "2023-06-19T03:37:35.9291772\u002B00:00",
          "premiumDataDisks": "Disabled",
          "environmentPermission": "Contributor",
          "announcement": {
            "title": "",
            "markdown": "",
            "enabled": "Disabled",
            "expired": false
          },
          "support": {
            "enabled": "Disabled",
            "markdown": ""
          },
          "provisioningState": "Succeeded",
          "uniqueIdentifier": "e1243dca-e735-47c1-8484-a46ce9495bd1"
        },
        "location": "eastus",
        "tags": {},
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourcegroups/devtestlabrg3587/providers/microsoft.devtestlab/labs/lab5011",
        "name": "lab5011",
        "type": "Microsoft.DevTestLab/labs"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/devtestlabrg3587/providers/Microsoft.DevTestLab/labs/lab5011/virtualnetworks/dtlVnet6837?api-version=2018-09-15",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "eastus",
        "properties": {}
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.DevTestLab/locations/eastus/operations/20230619-b2401943-6028-4fed-8720-ed53dd8c192a?api-version=2018-09-15",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1191"
      },
      "ResponseBody": {
        "properties": {
          "createdDate": "2023-06-19T03:39:20.6423389\u002B00:00",
          "provisioningState": "Creating",
          "uniqueIdentifier": "31e6a35c-cbb8-4f2d-af4a-aa899de98811"
        },
        "tags": {},
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourcegroups/devtestlabrg3587/providers/microsoft.devtestlab/labs/lab5011/virtualnetworks/dtlvnet6837",
        "name": "dtlVnet6837",
        "type": "Microsoft.DevTestLab/labs/virtualNetworks"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/devtestlabrg3587/providers/Microsoft.DevTestLab/labs/lab5011/virtualnetworks/dtlVnet6837?api-version=2018-09-15",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-dtl-virtual-network-creator": "DevTestLabs",
        "x-ms-ratelimit-remaining-subscription-reads": "11928"
      },
      "ResponseBody": {
        "properties": {
          "allowedSubnets": [
            {
              "resourceId": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/devtestlabrg3587/providers/Microsoft.Network/virtualNetworks/dtlVnet6837/subnets/dtlVnet6837Subnet",
              "labSubnetName": "dtlVnet6837Subnet",
              "allowPublicIp": "Allow"
            }
          ],
          "externalProviderResourceId": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourcegroups/devtestlabrg3587/providers/microsoft.network/virtualnetworks/dtlvnet6837",
          "subnetOverrides": [
            {
              "resourceId": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/devtestlabrg3587/providers/Microsoft.Network/virtualNetworks/dtlVnet6837/subnets/dtlVnet6837Subnet",
              "labSubnetName": "dtlVnet6837Subnet",
              "useInVmCreationPermission": "Allow",
              "usePublicIpAddressPermission": "Allow",
              "sharedPublicIpAddressConfiguration": {
                "allowedPorts": [
                  {
                    "transportProtocol": "Tcp",
                    "backendPort": 3389
                  },
                  {
                    "transportProtocol": "Tcp",
                    "backendPort": 22
                  }
                ]
              }
            }
          ],
          "createdDate": "2023-06-19T03:39:20.6423389\u002B00:00",
          "provisioningState": "Succeeded",
          "uniqueIdentifier": "31e6a35c-cbb8-4f2d-af4a-aa899de98811"
        },
        "tags": {},
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourcegroups/devtestlabrg3587/providers/microsoft.devtestlab/labs/lab5011/virtualnetworks/dtlvnet6837",
        "name": "dtlVnet6837",
        "type": "Microsoft.DevTestLab/labs/virtualNetworks"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/devtestlabrg3587/providers/Microsoft.DevTestLab/labs/lab5011/virtualnetworks/dtlvnet6837?api-version=2018-09-15",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.DevTestLab/locations/eastus/operations/20230619-64be516a-bc3c-45e4-b4a3-adab1f782ede?api-version=2018-09-15",
        "Location": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.DevTestLab/locations/eastus/operations/20230619-64be516a-bc3c-45e4-b4a3-adab1f782ede?monitor=true\u0026api-version=2018-09-15",
        "x-ms-ratelimit-remaining-subscription-deletes": "14991"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/devtestlabrg3587/providers/Microsoft.DevTestLab/labs/lab5011/virtualnetworks/dtlVnet6837?api-version=2018-09-15",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11919"
      },
      "ResponseBody": {
        "error": {
          "code": "ResourceInGroupDoesNotExist",
          "message": "The resource \u0027lab5011/dtlVnet6837\u0027 under resource group \u0027devtestlabrg3587\u0027 was not found."
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/DevTestLabRG3587/providers/Microsoft.Authorization/locks?api-version=2016-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11918"
      },
      "ResponseBody": {
        "value": [
          {
            "properties": {
              "level": "CanNotDelete",
              "notes": "Reserved resource locked by \u0027lab5011\u0027 lab."
            },
            "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourcegroups/devtestlabrg3587/providers/microsoft.storage/storageaccounts/alab50117854/providers/Microsoft.Authorization/locks/DevTestLabs Lock",
            "type": "Microsoft.Authorization/locks",
            "name": "DevTestLabs Lock"
          },
          {
            "properties": {
              "level": "CanNotDelete",
              "notes": "Reserved resource locked by \u0027lab5011\u0027 lab."
            },
            "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourcegroups/DevTestLabRG3587/providers/Microsoft.KeyVault/vaults/lab50118360/providers/Microsoft.Authorization/locks/DevTestLabs Lock",
            "type": "Microsoft.Authorization/locks",
            "name": "DevTestLabs Lock"
          }
        ]
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/devtestlabrg3587/providers/microsoft.storage/storageaccounts/alab50117854/providers/Microsoft.Authorization/locks/DevTestLabs%20Lock?api-version=2016-09-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-deletes": "14990"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/DevTestLabRG3587/providers/Microsoft.KeyVault/vaults/lab50118360/providers/Microsoft.Authorization/locks/DevTestLabs%20Lock?api-version=2016-09-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-deletes": "14989"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "RandomSeed": "894235020",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "db1ab6f0-4769-4b27-930e-01e2ef9c123c"
  }
}
