{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/MediaServiceRG4162/providers/Microsoft.Media/mediaservices/mediaservice5317?api-version=2021-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal",
        "OData-Version": "4.0",
        "x-ms-ratelimit-remaining-subscription-reads": "11897"
      },
      "ResponseBody": {
        "name": "mediaservice5317",
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/MediaServiceRG4162/providers/Microsoft.Media/mediaservices/mediaservice5317",
        "type": "Microsoft.Media/mediaservices",
        "location": "West US 2",
        "properties": {
          "mediaServiceId": "23fb724d-a0ec-45fa-96d8-03565dc2950e",
          "storageAccounts": [
            {
              "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/MediaServiceRG4162/providers/Microsoft.Storage/storageAccounts/azstorageformedia153",
              "type": "Primary"
            }
          ],
          "storageAuthentication": "System",
          "encryption": {
            "type": "SystemKey"
          },
          "keyDelivery": {
            "accessControl": {
              "defaultAction": "Allow",
              "ipAllowList": []
            }
          },
          "publicNetworkAccess": "Enabled",
          "provisioningState": "Succeeded",
          "privateEndpointConnections": []
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/MediaServiceRG4162/providers/Microsoft.Media/mediaservices/mediaservice5317/liveEvents/liveEvent7353?api-version=2021-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal",
        "OData-Version": "4.0",
        "x-ms-ratelimit-remaining-subscription-reads": "11896"
      },
      "ResponseBody": {
        "name": "liveEvent7353",
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/MediaServiceRG4162/providers/Microsoft.Media/mediaservices/mediaservice5317/liveevents/liveEvent7353",
        "type": "Microsoft.Media/mediaservices/liveevents",
        "location": "West US 2",
        "tags": {},
        "properties": {
          "description": "",
          "resourceState": "Stopped",
          "provisioningState": "Succeeded",
          "created": "2022-08-19T05:47:31.8176346Z",
          "lastModified": "2022-08-19T05:47:32.5565062Z",
          "useStaticHostname": false,
          "streamOptions": [],
          "input": {
            "keyFrameIntervalDuration": "",
            "streamingProtocol": "RTMP",
            "accessToken": "55e4d4748ee94ef9880faf8f9f9f0bde",
            "endpoints": [],
            "accessControl": null
          },
          "preview": {
            "previewLocator": "a05cdffe-2870-476d-8106-4c41d4f44d44",
            "streamingPolicyName": "Predefined_ClearStreamingOnly",
            "alternativeMediaId": null,
            "accessControl": null,
            "endpoints": []
          },
          "encoding": {
            "encodingType": "None",
            "presetName": null,
            "stretchMode": null,
            "keyFrameInterval": null
          },
          "crossSiteAccessPolicies": {
            "clientAccessPolicy": null,
            "crossDomainPolicy": null
          },
          "hostnamePrefix": null,
          "transcriptions": []
        },
        "systemData": {
          "createdBy": "8e6d47e0-7969-4fde-a62c-4fea4f165e98",
          "createdByType": "Application",
          "createdAt": "2022-08-19T05:47:31.5684243Z",
          "lastModifiedBy": "8e6d47e0-7969-4fde-a62c-4fea4f165e98",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2022-08-19T05:47:31.5684243Z"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/MediaServiceRG4162/providers/Microsoft.Media/mediaServices/mediaservice5317/assets/empty-asset-input?api-version=2021-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal",
        "OData-Version": "4.0",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "11991"
      },
      "ResponseBody": {
        "name": "empty-asset-input",
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/MediaServiceRG4162/providers/Microsoft.Media/mediaservices/mediaservice5317/assets/empty-asset-input",
        "type": "Microsoft.Media/mediaservices/assets",
        "properties": {
          "assetId": "800ea816-f975-4ad3-b5f5-f7eda3a5180b",
          "created": "2022-08-19T05:47:38.14Z",
          "lastModified": "2022-08-19T05:47:54.76Z",
          "container": "asset-800ea816-f975-4ad3-b5f5-f7eda3a5180b",
          "storageAccountName": "azstorageformedia153",
          "storageEncryptionFormat": "None"
        },
        "systemData": {
          "createdBy": "8e6d47e0-7969-4fde-a62c-4fea4f165e98",
          "createdByType": "Application",
          "createdAt": "2022-08-19T05:47:37.6621838Z",
          "lastModifiedBy": "8e6d47e0-7969-4fde-a62c-4fea4f165e98",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2022-08-19T05:47:54.4746874Z"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/MediaServiceRG4162/providers/Microsoft.Media/mediaservices/mediaservice5317/liveEvents/liveEvent7353/liveOutputs/liveoutput6218?api-version=2021-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "assetName": "empty-asset-input",
          "archiveWindowLength": "PT5M",
          "hls": {
            "fragmentsPerTsSegment": 5
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal",
        "OData-Version": "4.0",
        "x-ms-ratelimit-remaining-subscription-writes": "1169"
      },
      "ResponseBody": {
        "name": "liveoutput6218",
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/MediaServiceRG4162/providers/Microsoft.Media/mediaservices/mediaservice5317/liveevents/liveEvent7353/liveoutputs/liveoutput6218",
        "type": "Microsoft.Media/mediaservices/liveevents/liveoutputs",
        "properties": {
          "description": null,
          "assetName": "empty-asset-input",
          "archiveWindowLength": "PT5M",
          "manifestName": "35c798bc-f288-46f6-9510-58bcda1cb452",
          "outputSnapTime": 0,
          "resourceState": "Creating",
          "provisioningState": "InProgress",
          "created": "2022-08-19T05:47:55.3786893Z",
          "lastModified": "2022-08-19T05:47:55.3786893Z",
          "hls": {
            "fragmentsPerTsSegment": 5
          }
        },
        "systemData": {
          "createdBy": "8e6d47e0-7969-4fde-a62c-4fea4f165e98",
          "createdByType": "Application",
          "createdAt": "2022-08-19T05:47:55.021557Z",
          "lastModifiedBy": "8e6d47e0-7969-4fde-a62c-4fea4f165e98",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2022-08-19T05:47:55.021557Z"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/MediaServiceRG4162/providers/Microsoft.Media/mediaservices/mediaservice5317/liveEvents/liveEvent7353/liveOutputs?api-version=2021-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal",
        "OData-Version": "4.0",
        "x-ms-ratelimit-remaining-subscription-reads": "11893"
      },
      "ResponseBody": {
        "value": [
          {
            "name": "liveoutput6218",
            "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/MediaServiceRG4162/providers/Microsoft.Media/mediaservices/mediaservice5317/liveevents/liveEvent7353/liveoutputs/liveoutput6218",
            "type": "Microsoft.Media/mediaservices/liveevents/liveoutputs",
            "properties": {
              "description": null,
              "assetName": "empty-asset-input",
              "archiveWindowLength": "PT5M",
              "manifestName": "35c798bc-f288-46f6-9510-58bcda1cb452",
              "outputSnapTime": 0,
              "resourceState": "Running",
              "provisioningState": "Succeeded",
              "created": "2022-08-19T05:47:55.4046897Z",
              "lastModified": "2022-08-19T05:47:55.4046897Z",
              "hls": {
                "fragmentsPerTsSegment": 5
              }
            },
            "systemData": {
              "createdBy": "8e6d47e0-7969-4fde-a62c-4fea4f165e98",
              "createdByType": "Application",
              "createdAt": "2022-08-19T05:47:55.021557Z",
              "lastModifiedBy": "8e6d47e0-7969-4fde-a62c-4fea4f165e98",
              "lastModifiedByType": "Application",
              "lastModifiedAt": "2022-08-19T05:47:55.021557Z"
            }
          }
        ]
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/MediaServiceRG4162/providers/Microsoft.Media/mediaservices/mediaservice5317/liveEvents/liveEvent7353/liveOutputs/liveoutput6218?api-version=2021-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-deletes": "14989"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "RandomSeed": "761741580",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "db1ab6f0-4769-4b27-930e-01e2ef9c123c"
  }
}
