{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "TagKey-9823": "TagValue-566",
          "TagKey-3481": "TagValue-320",
          "TagKey-4926": "TagValue-1187",
          "TagKey-751": "TagValue-3921",
          "TagKey-1866": "TagValue-8559",
          "TagKey-3094": "TagValue-9190",
          "TagKey-2449": "TagValue-9",
          "TagKey-8379": "TagValue-164",
          "TagKey-7470": "TagValue-2205",
          "TagKey-4236": "TagValue-3698",
          "TagKey-5316": "TagValue-2725"
        },
        "subscriptionId": "db1ab6f0-4769-4b27-930e-01e2ef9c123c",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": ".NET Mgmt SDK Test with TTL = 1 Day",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourcegroups/MediaServiceRG1901?api-version=2021-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus2",
        "tags": {
          "DeleteAfter": "2022-10-15T02:56:10.9260690Z"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/MediaServiceRG1901",
        "name": "MediaServiceRG1901",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus2",
        "tags": {
          "DeleteAfter": "2022-10-15T02:56:10.9260690Z"
        },
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/MediaServiceRG1901/providers/Microsoft.Storage/storageAccounts/azstorageformedia414?api-version=2022-05-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "sku": {
          "name": "Standard_LRS"
        },
        "kind": "BlobStorage",
        "location": "westus2",
        "properties": {
          "accessTier": "Hot"
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "text/plain; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Storage/locations/westus2/asyncoperations/ad3f95b9-dc5f-48b2-8c37-da63dd6a8771?monitor=true\u0026api-version=2022-05-01",
        "Retry-After": "17",
        "x-ms-ratelimit-remaining-subscription-writes": "1198"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Storage/locations/westus2/asyncoperations/ad3f95b9-dc5f-48b2-8c37-da63dd6a8771?monitor=true\u0026api-version=2022-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "text/plain; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Storage/locations/westus2/asyncoperations/ad3f95b9-dc5f-48b2-8c37-da63dd6a8771?monitor=true\u0026api-version=2022-05-01",
        "Retry-After": "17",
        "x-ms-ratelimit-remaining-subscription-reads": "11998"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Storage/locations/westus2/asyncoperations/ad3f95b9-dc5f-48b2-8c37-da63dd6a8771?monitor=true\u0026api-version=2022-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ratelimit-remaining-subscription-reads": "11997"
      },
      "ResponseBody": {
        "sku": {
          "name": "Standard_LRS",
          "tier": "Standard"
        },
        "kind": "BlobStorage",
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/MediaServiceRG1901/providers/Microsoft.Storage/storageAccounts/azstorageformedia414",
        "name": "azstorageformedia414",
        "type": "Microsoft.Storage/storageAccounts",
        "location": "westus2",
        "tags": {},
        "properties": {
          "keyCreationTime": {
            "key1": "2022-10-14T02:56:16.8077207Z",
            "key2": "2022-10-14T02:56:16.8077207Z"
          },
          "privateEndpointConnections": [],
          "minimumTlsVersion": "TLS1_0",
          "allowBlobPublicAccess": true,
          "networkAcls": {
            "bypass": "AzureServices",
            "virtualNetworkRules": [],
            "ipRules": [],
            "defaultAction": "Allow"
          },
          "supportsHttpsTrafficOnly": true,
          "encryption": {
            "services": {
              "file": {
                "keyType": "Account",
                "enabled": true,
                "lastEnabledTime": "2022-10-14T02:56:17.0420541Z"
              },
              "blob": {
                "keyType": "Account",
                "enabled": true,
                "lastEnabledTime": "2022-10-14T02:56:17.0420541Z"
              }
            },
            "keySource": "Microsoft.Storage"
          },
          "accessTier": "Hot",
          "provisioningState": "Succeeded",
          "creationTime": "2022-10-14T02:56:16.7139696Z",
          "primaryEndpoints": {
            "dfs": "https://azstorageformedia414.dfs.core.windows.net/",
            "blob": "https://azstorageformedia414.blob.core.windows.net/",
            "table": "https://azstorageformedia414.table.core.windows.net/"
          },
          "primaryLocation": "westus2",
          "statusOfPrimary": "available"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/MediaServiceRG1901/providers/Microsoft.Media/mediaservices/mediaforlo4401?api-version=2021-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "westus2",
        "properties": {
          "storageAccounts": [
            {
              "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/MediaServiceRG1901/providers/Microsoft.Storage/storageAccounts/azstorageformedia414",
              "type": "Primary"
            }
          ]
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Media/locations/westus2/mediaServicesOperationStatuses/3b70205d-ea29-47fe-befb-d93eba748c83?api-version=2021-11-01",
        "Content-Type": "application/json; odata.metadata=minimal",
        "Location": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Media/locations/westus2/mediaServicesOperationResults/3b70205d-ea29-47fe-befb-d93eba748c83?api-version=2021-11-01",
        "OData-Version": "4.0",
        "Retry-After": "30",
        "x-ms-ratelimit-remaining-subscription-writes": "1197"
      },
      "ResponseBody": {
        "name": "mediaforlo4401",
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/MediaServiceRG1901/providers/Microsoft.Media/mediaservices/mediaforlo4401",
        "type": "Microsoft.Media/mediaservices",
        "location": "West US 2",
        "tags": {},
        "properties": {
          "mediaServiceId": "603eef4e-1dbc-4c94-a4ac-74146df99e36",
          "storageAccounts": [
            {
              "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/MediaServiceRG1901/providers/Microsoft.Storage/storageAccounts/azstorageformedia414",
              "type": "Primary"
            }
          ],
          "storageAuthentication": "System",
          "keyDelivery": {
            "accessControl": {
              "defaultAction": "Allow",
              "ipAllowList": []
            }
          },
          "publicNetworkAccess": "Enabled",
          "provisioningState": "InProgress",
          "privateEndpointConnections": []
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Media/locations/westus2/mediaServicesOperationStatuses/3b70205d-ea29-47fe-befb-d93eba748c83?api-version=2021-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal; odata.streaming=true",
        "OData-Version": "4.0",
        "x-ms-ratelimit-remaining-subscription-reads": "11996"
      },
      "ResponseBody": {
        "name": "3b70205d-ea29-47fe-befb-d93eba748c83",
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Media/locations/westus2/mediaServicesOperationStatuses/3b70205d-ea29-47fe-befb-d93eba748c83",
        "startTime": "2022-10-14T02:56:39.3134925Z",
        "endTime": "2022-10-14T02:56:39.6728659Z",
        "status": "Succeeded"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/MediaServiceRG1901/providers/Microsoft.Media/mediaservices/mediaforlo4401/liveEvents/liveEvent2146?api-version=2022-08-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "westus2",
        "properties": {
          "input": {
            "streamingProtocol": "RTMP"
          },
          "crossSiteAccessPolicies": {}
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourcegroups/MediaServiceRG1901/providers/Microsoft.Media/mediaservices/mediaforlo4401/liveeventoperations/e53e4924-7b31-4f65-a55e-c14271fb5616?api-version=2022-08-01",
        "Content-Type": "application/json; odata.metadata=minimal",
        "Location": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourcegroups/MediaServiceRG1901/providers/Microsoft.Media/mediaservices/mediaforlo4401/liveevents/liveEvent2146/operationlocations/e53e4924-7b31-4f65-a55e-c14271fb5616?api-version=2022-08-01",
        "OData-Version": "4.0",
        "Retry-After": "2",
        "x-ms-ratelimit-remaining-subscription-writes": "1196"
      },
      "ResponseBody": {
        "name": "liveEvent2146",
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/MediaServiceRG1901/providers/Microsoft.Media/mediaservices/mediaforlo4401/liveevents/liveEvent2146",
        "type": "Microsoft.Media/mediaservices/liveevents",
        "location": "West US 2",
        "tags": {},
        "properties": {
          "description": "",
          "resourceState": "Stopped",
          "provisioningState": "InProgress",
          "created": "2022-10-14T02:56:43.2346018Z",
          "lastModified": "2022-10-14T02:56:43.2346018Z",
          "useStaticHostname": false,
          "streamOptions": [],
          "input": {
            "keyFrameIntervalDuration": "",
            "streamingProtocol": "RTMP",
            "accessToken": "Sanitized",
            "endpoints": [],
            "accessControl": null
          },
          "preview": {
            "previewLocator": "ea1dad80-e423-43d5-94c3-ff1dac57719a",
            "streamingPolicyName": "Predefined_ClearStreamingOnly",
            "alternativeMediaId": null,
            "accessControl": null,
            "endpoints": []
          },
          "encoding": {
            "encodingType": "None",
            "presetName": null,
            "stretchMode": null,
            "keyFrameInterval": null
          },
          "crossSiteAccessPolicies": {
            "clientAccessPolicy": null,
            "crossDomainPolicy": null
          },
          "hostnamePrefix": null,
          "transcriptions": []
        },
        "systemData": {
          "createdBy": "8e6d47e0-7969-4fde-a62c-4fea4f165e98",
          "createdByType": "Application",
          "createdAt": "2022-10-14T02:56:42.0377308Z",
          "lastModifiedBy": "8e6d47e0-7969-4fde-a62c-4fea4f165e98",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2022-10-14T02:56:42.0377308Z"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourcegroups/MediaServiceRG1901/providers/Microsoft.Media/mediaservices/mediaforlo4401/liveeventoperations/e53e4924-7b31-4f65-a55e-c14271fb5616?api-version=2022-08-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourcegroups/MediaServiceRG1901/providers/Microsoft.Media/mediaservices/mediaforlo4401/liveeventoperations/e53e4924-7b31-4f65-a55e-c14271fb5616?api-version=2022-08-01",
        "Content-Type": "application/json; odata.metadata=minimal; odata.streaming=true",
        "OData-Version": "4.0",
        "Retry-After": "2",
        "x-ms-ratelimit-remaining-subscription-reads": "11994"
      },
      "ResponseBody": {
        "name": "e53e4924-7b31-4f65-a55e-c14271fb5616",
        "status": "Succeeded",
        "error": {
          "code": "None",
          "message": null,
          "target": "01adcca3-d6ec-464c-90ba-29e9f962ce00"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/MediaServiceRG1901/providers/Microsoft.Media/mediaServices/mediaforlo4401/assets/empty-asset-input?api-version=2022-08-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {}
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal",
        "OData-Version": "4.0",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "11999"
      },
      "ResponseBody": {
        "name": "empty-asset-input",
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/MediaServiceRG1901/providers/Microsoft.Media/mediaservices/mediaforlo4401/assets/empty-asset-input",
        "type": "Microsoft.Media/mediaservices/assets",
        "properties": {
          "assetId": "4044b3f9-5b90-4d1a-aae8-16a64b8ba257",
          "created": "2022-10-14T02:56:46.407Z",
          "lastModified": "2022-10-14T02:56:46.407Z",
          "storageAccountName": "azstorageformedia414",
          "storageEncryptionFormat": "None"
        },
        "systemData": {
          "createdBy": "8e6d47e0-7969-4fde-a62c-4fea4f165e98",
          "createdByType": "Application",
          "createdAt": "2022-10-14T02:56:45.2408853Z",
          "lastModifiedBy": "8e6d47e0-7969-4fde-a62c-4fea4f165e98",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2022-10-14T02:56:45.2408853Z"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/MediaServiceRG1901/providers/Microsoft.Media/mediaservices/mediaforlo4401/liveEvents/liveEvent2146/liveOutputs/liveoutput1015?api-version=2022-08-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "assetName": "empty-asset-input",
          "archiveWindowLength": "PT5M",
          "hls": {
            "fragmentsPerTsSegment": 5
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal",
        "OData-Version": "4.0",
        "x-ms-ratelimit-remaining-subscription-writes": "1195"
      },
      "ResponseBody": {
        "name": "liveoutput1015",
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/MediaServiceRG1901/providers/Microsoft.Media/mediaservices/mediaforlo4401/liveevents/liveEvent2146/liveoutputs/liveoutput1015",
        "type": "Microsoft.Media/mediaservices/liveevents/liveoutputs",
        "properties": {
          "description": null,
          "assetName": "empty-asset-input",
          "archiveWindowLength": "PT5M",
          "manifestName": "93bb6dbb-06e9-4b1d-b5bd-dd04888c741a",
          "outputSnapTime": 0,
          "resourceState": "Creating",
          "provisioningState": "InProgress",
          "created": "2022-10-14T02:56:47.0785708Z",
          "lastModified": "2022-10-14T02:56:47.0785708Z",
          "hls": {
            "fragmentsPerTsSegment": 5
          },
          "rewindWindowLength": null
        },
        "systemData": {
          "createdBy": "8e6d47e0-7969-4fde-a62c-4fea4f165e98",
          "createdByType": "Application",
          "createdAt": "2022-10-14T02:56:46.6784002Z",
          "lastModifiedBy": "8e6d47e0-7969-4fde-a62c-4fea4f165e98",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2022-10-14T02:56:46.6784002Z"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/MediaServiceRG1901/providers/Microsoft.Media/mediaservices/mediaforlo4401/liveEvents/liveEvent2146/liveOutputs?api-version=2022-08-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal",
        "OData-Version": "4.0",
        "x-ms-ratelimit-remaining-subscription-reads": "11989"
      },
      "ResponseBody": {
        "value": [
          {
            "name": "liveoutput1015",
            "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/MediaServiceRG1901/providers/Microsoft.Media/mediaservices/mediaforlo4401/liveevents/liveEvent2146/liveoutputs/liveoutput1015",
            "type": "Microsoft.Media/mediaservices/liveevents/liveoutputs",
            "properties": {
              "description": null,
              "assetName": "empty-asset-input",
              "archiveWindowLength": "PT5M",
              "manifestName": "93bb6dbb-06e9-4b1d-b5bd-dd04888c741a",
              "outputSnapTime": 0,
              "resourceState": "Running",
              "provisioningState": "Succeeded",
              "created": "2022-10-14T02:56:47.1410853Z",
              "lastModified": "2022-10-14T02:56:47.1410853Z",
              "hls": {
                "fragmentsPerTsSegment": 5
              },
              "rewindWindowLength": null
            },
            "systemData": {
              "createdBy": "8e6d47e0-7969-4fde-a62c-4fea4f165e98",
              "createdByType": "Application",
              "createdAt": "2022-10-14T02:56:46.6784002Z",
              "lastModifiedBy": "8e6d47e0-7969-4fde-a62c-4fea4f165e98",
              "lastModifiedByType": "Application",
              "lastModifiedAt": "2022-10-14T02:56:46.6784002Z"
            }
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/MediaServiceRG1901/providers/Microsoft.Media/mediaservices/mediaforlo4401/liveEvents/liveEvent2146/liveOutputs/liveoutput1015?api-version=2022-08-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Language": "en-US",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11988"
      },
      "ResponseBody": {
        "error": {
          "code": "ResourceNotFound",
          "message": "The Channel was not found."
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/MediaServiceRG1901/providers/Microsoft.Media/mediaservices/mediaforlo4401/liveEvents/liveEvent2146/liveOutputs?api-version=2022-08-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal",
        "OData-Version": "4.0",
        "x-ms-ratelimit-remaining-subscription-reads": "11987"
      },
      "ResponseBody": {
        "value": []
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "RandomSeed": "916072512",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "db1ab6f0-4769-4b27-930e-01e2ef9c123c"
  }
}
