{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11936"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "TagKey-9823": "TagValue-566",
          "TagKey-3481": "TagValue-320",
          "TagKey-4926": "TagValue-1187",
          "TagKey-751": "TagValue-3921",
          "TagKey-1866": "TagValue-8559",
          "TagKey-3094": "TagValue-9190",
          "TagKey-2449": "TagValue-9",
          "TagKey-8379": "TagValue-164",
          "TagKey-7470": "TagValue-2205",
          "TagKey-4236": "TagValue-3698",
          "TagKey-5316": "TagValue-2725"
        },
        "subscriptionId": "db1ab6f0-4769-4b27-930e-01e2ef9c123c",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": ".NET Mgmt SDK Test with TTL = 1 Day",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourcegroups/MediaServiceRG3469?api-version=2021-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus2",
        "tags": {
          "DeleteAfter": "2022-10-17T10:32:13.9677730"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1169"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/MediaServiceRG3469",
        "name": "MediaServiceRG3469",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus2",
        "tags": {
          "DeleteAfter": "2022-10-17T10:32:13.9677730"
        },
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/MediaServiceRG3469/providers/Microsoft.Storage/storageAccounts/azstorageformedia3988?api-version=2022-05-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "sku": {
          "name": "Standard_LRS"
        },
        "kind": "BlobStorage",
        "location": "westus2",
        "properties": {
          "accessTier": "Hot"
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "text/plain; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Storage/locations/westus2/asyncoperations/bae9f52b-c4ae-4b70-895b-483f6cf7ee0c?monitor=true\u0026api-version=2022-05-01",
        "Retry-After": "17",
        "x-ms-ratelimit-remaining-subscription-writes": "1168"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Storage/locations/westus2/asyncoperations/bae9f52b-c4ae-4b70-895b-483f6cf7ee0c?monitor=true\u0026api-version=2022-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "text/plain; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Storage/locations/westus2/asyncoperations/bae9f52b-c4ae-4b70-895b-483f6cf7ee0c?monitor=true\u0026api-version=2022-05-01",
        "Retry-After": "17",
        "x-ms-ratelimit-remaining-subscription-reads": "11935"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Storage/locations/westus2/asyncoperations/bae9f52b-c4ae-4b70-895b-483f6cf7ee0c?monitor=true\u0026api-version=2022-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ratelimit-remaining-subscription-reads": "11934"
      },
      "ResponseBody": {
        "sku": {
          "name": "Standard_LRS",
          "tier": "Standard"
        },
        "kind": "BlobStorage",
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/MediaServiceRG3469/providers/Microsoft.Storage/storageAccounts/azstorageformedia3988",
        "name": "azstorageformedia3988",
        "type": "Microsoft.Storage/storageAccounts",
        "location": "westus2",
        "tags": {},
        "properties": {
          "keyCreationTime": {
            "key1": "2022-10-17T02:32:18.2061767Z",
            "key2": "2022-10-17T02:32:18.2061767Z"
          },
          "privateEndpointConnections": [],
          "minimumTlsVersion": "TLS1_0",
          "allowBlobPublicAccess": true,
          "networkAcls": {
            "bypass": "AzureServices",
            "virtualNetworkRules": [],
            "ipRules": [],
            "defaultAction": "Allow"
          },
          "supportsHttpsTrafficOnly": true,
          "encryption": {
            "services": {
              "file": {
                "keyType": "Account",
                "enabled": true,
                "lastEnabledTime": "2022-10-17T02:32:18.3780325Z"
              },
              "blob": {
                "keyType": "Account",
                "enabled": true,
                "lastEnabledTime": "2022-10-17T02:32:18.3780325Z"
              }
            },
            "keySource": "Microsoft.Storage"
          },
          "accessTier": "Hot",
          "provisioningState": "Succeeded",
          "creationTime": "2022-10-17T02:32:18.1280039Z",
          "primaryEndpoints": {
            "dfs": "https://azstorageformedia3988.dfs.core.windows.net/",
            "blob": "https://azstorageformedia3988.blob.core.windows.net/",
            "table": "https://azstorageformedia3988.table.core.windows.net/"
          },
          "primaryLocation": "westus2",
          "statusOfPrimary": "available"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/MediaServiceRG3469/providers/Microsoft.Media/mediaservices/mediaforlo2772?api-version=2021-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "westus2",
        "properties": {
          "storageAccounts": [
            {
              "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/MediaServiceRG3469/providers/Microsoft.Storage/storageAccounts/azstorageformedia3988",
              "type": "Primary"
            }
          ]
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Media/locations/westus2/mediaServicesOperationStatuses/062abe73-997c-430b-b59b-fa90411da617?api-version=2021-11-01",
        "Content-Type": "application/json; odata.metadata=minimal",
        "Location": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Media/locations/westus2/mediaServicesOperationResults/062abe73-997c-430b-b59b-fa90411da617?api-version=2021-11-01",
        "OData-Version": "4.0",
        "Retry-After": "30",
        "x-ms-ratelimit-remaining-subscription-writes": "1167"
      },
      "ResponseBody": {
        "name": "mediaforlo2772",
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/MediaServiceRG3469/providers/Microsoft.Media/mediaservices/mediaforlo2772",
        "type": "Microsoft.Media/mediaservices",
        "location": "West US 2",
        "tags": {},
        "properties": {
          "mediaServiceId": "5a2e20f0-e47d-425a-b076-b57cac2089ba",
          "storageAccounts": [
            {
              "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/MediaServiceRG3469/providers/Microsoft.Storage/storageAccounts/azstorageformedia3988",
              "type": "Primary"
            }
          ],
          "keyDelivery": {
            "accessControl": {
              "defaultAction": "Allow",
              "ipAllowList": []
            }
          },
          "publicNetworkAccess": "Enabled",
          "provisioningState": "InProgress",
          "privateEndpointConnections": []
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Media/locations/westus2/mediaServicesOperationStatuses/062abe73-997c-430b-b59b-fa90411da617?api-version=2021-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal; odata.streaming=true",
        "OData-Version": "4.0",
        "x-ms-ratelimit-remaining-subscription-reads": "11933"
      },
      "ResponseBody": {
        "name": "062abe73-997c-430b-b59b-fa90411da617",
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Media/locations/westus2/mediaServicesOperationStatuses/062abe73-997c-430b-b59b-fa90411da617",
        "startTime": "2022-10-17T02:32:39.9603233Z",
        "endTime": "2022-10-17T02:32:40.3822229Z",
        "status": "Succeeded"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/MediaServiceRG3469/providers/Microsoft.Media/mediaservices/mediaforlo2772?api-version=2021-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal; odata.streaming=true",
        "OData-Version": "4.0",
        "x-ms-ratelimit-remaining-subscription-reads": "11932"
      },
      "ResponseBody": {
        "name": "mediaforlo2772",
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/MediaServiceRG3469/providers/Microsoft.Media/mediaservices/mediaforlo2772",
        "type": "Microsoft.Media/mediaservices",
        "location": "West US 2",
        "properties": {
          "mediaServiceId": "5a2e20f0-e47d-425a-b076-b57cac2089ba",
          "storageAccounts": [
            {
              "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/MediaServiceRG3469/providers/Microsoft.Storage/storageAccounts/azstorageformedia3988",
              "type": "Primary"
            }
          ],
          "storageAuthentication": "System",
          "encryption": {
            "type": "SystemKey"
          },
          "keyDelivery": {
            "accessControl": {
              "defaultAction": "Allow",
              "ipAllowList": []
            }
          },
          "publicNetworkAccess": "Enabled",
          "provisioningState": "Succeeded",
          "privateEndpointConnections": []
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/MediaServiceRG3469/providers/Microsoft.Media/mediaservices/mediaforlo2772/liveEvents/liveEvent6457?api-version=2022-08-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "westus2",
        "properties": {
          "input": {
            "streamingProtocol": "RTMP"
          },
          "crossSiteAccessPolicies": {}
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourcegroups/MediaServiceRG3469/providers/Microsoft.Media/mediaservices/mediaforlo2772/liveeventoperations/f25f2d40-8c45-4fdb-be43-5a2a4c13cebd?api-version=2022-08-01",
        "Content-Type": "application/json; odata.metadata=minimal",
        "Location": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourcegroups/MediaServiceRG3469/providers/Microsoft.Media/mediaservices/mediaforlo2772/liveevents/liveEvent6457/operationlocations/f25f2d40-8c45-4fdb-be43-5a2a4c13cebd?api-version=2022-08-01",
        "OData-Version": "4.0",
        "Retry-After": "2",
        "x-ms-ratelimit-remaining-subscription-writes": "1166"
      },
      "ResponseBody": {
        "name": "liveEvent6457",
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/MediaServiceRG3469/providers/Microsoft.Media/mediaservices/mediaforlo2772/liveevents/liveEvent6457",
        "type": "Microsoft.Media/mediaservices/liveevents",
        "location": "West US 2",
        "tags": {},
        "properties": {
          "description": "",
          "resourceState": "Stopped",
          "provisioningState": "InProgress",
          "created": "2022-10-17T02:32:43.0738444Z",
          "lastModified": "2022-10-17T02:32:43.0738444Z",
          "useStaticHostname": false,
          "streamOptions": [],
          "input": {
            "keyFrameIntervalDuration": "",
            "streamingProtocol": "RTMP",
            "accessToken": "Sanitized",
            "endpoints": [],
            "accessControl": null
          },
          "preview": {
            "previewLocator": "72f32daa-93d8-4a34-a224-8670af765307",
            "streamingPolicyName": "Predefined_ClearStreamingOnly",
            "alternativeMediaId": null,
            "accessControl": null,
            "endpoints": []
          },
          "encoding": {
            "encodingType": "None",
            "presetName": null,
            "stretchMode": null,
            "keyFrameInterval": null
          },
          "crossSiteAccessPolicies": {
            "clientAccessPolicy": null,
            "crossDomainPolicy": null
          },
          "hostnamePrefix": null,
          "transcriptions": []
        },
        "systemData": {
          "createdBy": "8e6d47e0-7969-4fde-a62c-4fea4f165e98",
          "createdByType": "Application",
          "createdAt": "2022-10-17T02:32:44.0639592Z",
          "lastModifiedBy": "8e6d47e0-7969-4fde-a62c-4fea4f165e98",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2022-10-17T02:32:44.0639592Z"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourcegroups/MediaServiceRG3469/providers/Microsoft.Media/mediaservices/mediaforlo2772/liveeventoperations/f25f2d40-8c45-4fdb-be43-5a2a4c13cebd?api-version=2022-08-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourcegroups/MediaServiceRG3469/providers/Microsoft.Media/mediaservices/mediaforlo2772/liveeventoperations/f25f2d40-8c45-4fdb-be43-5a2a4c13cebd?api-version=2022-08-01",
        "Content-Type": "application/json; odata.metadata=minimal; odata.streaming=true",
        "OData-Version": "4.0",
        "Retry-After": "2",
        "x-ms-ratelimit-remaining-subscription-reads": "11931"
      },
      "ResponseBody": {
        "name": "f25f2d40-8c45-4fdb-be43-5a2a4c13cebd",
        "status": "Succeeded",
        "error": {
          "code": "None",
          "message": null,
          "target": "93757690-5c89-4baa-b7c8-4a5c23d467f5"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/MediaServiceRG3469/providers/Microsoft.Media/mediaServices/mediaforlo2772/assets/empty-asset-input?api-version=2022-08-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {}
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal",
        "OData-Version": "4.0",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "11999"
      },
      "ResponseBody": {
        "name": "empty-asset-input",
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/MediaServiceRG3469/providers/Microsoft.Media/mediaservices/mediaforlo2772/assets/empty-asset-input",
        "type": "Microsoft.Media/mediaservices/assets",
        "properties": {
          "assetId": "8cad66b7-8b95-4ad6-95f4-5f5567b96858",
          "created": "2022-10-17T02:32:46.553Z",
          "lastModified": "2022-10-17T02:32:46.553Z",
          "storageAccountName": "azstorageformedia3988",
          "storageEncryptionFormat": "None"
        },
        "systemData": {
          "createdBy": "8e6d47e0-7969-4fde-a62c-4fea4f165e98",
          "createdByType": "Application",
          "createdAt": "2022-10-17T02:32:46.532706Z",
          "lastModifiedBy": "8e6d47e0-7969-4fde-a62c-4fea4f165e98",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2022-10-17T02:32:46.532706Z"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/MediaServiceRG3469/providers/Microsoft.Media/mediaservices/mediaforlo2772/liveEvents/liveEvent6457/liveOutputs/liveoutput7200?api-version=2022-08-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "assetName": "empty-asset-input",
          "archiveWindowLength": "PT5M",
          "hls": {
            "fragmentsPerTsSegment": 5
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal",
        "OData-Version": "4.0",
        "x-ms-ratelimit-remaining-subscription-writes": "1165"
      },
      "ResponseBody": {
        "name": "liveoutput7200",
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/MediaServiceRG3469/providers/Microsoft.Media/mediaservices/mediaforlo2772/liveevents/liveEvent6457/liveoutputs/liveoutput7200",
        "type": "Microsoft.Media/mediaservices/liveevents/liveoutputs",
        "properties": {
          "description": null,
          "assetName": "empty-asset-input",
          "archiveWindowLength": "PT5M",
          "manifestName": "12d12f7b-9a71-41bd-8693-32906e2fe3e6",
          "outputSnapTime": 0,
          "resourceState": "Creating",
          "provisioningState": "InProgress",
          "created": "2022-10-17T02:32:47.3082558Z",
          "lastModified": "2022-10-17T02:32:47.3082558Z",
          "hls": {
            "fragmentsPerTsSegment": 5
          },
          "rewindWindowLength": null
        },
        "systemData": {
          "createdBy": "8e6d47e0-7969-4fde-a62c-4fea4f165e98",
          "createdByType": "Application",
          "createdAt": "2022-10-17T02:32:48.1577084Z",
          "lastModifiedBy": "8e6d47e0-7969-4fde-a62c-4fea4f165e98",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2022-10-17T02:32:48.1577084Z"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/MediaServiceRG3469/providers/Microsoft.Media/mediaservices/mediaforlo2772/liveEvents/liveEvent6457/liveOutputs?api-version=2022-08-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal",
        "OData-Version": "4.0",
        "x-ms-ratelimit-remaining-subscription-reads": "11926"
      },
      "ResponseBody": {
        "value": [
          {
            "name": "liveoutput7200",
            "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/MediaServiceRG3469/providers/Microsoft.Media/mediaservices/mediaforlo2772/liveevents/liveEvent6457/liveoutputs/liveoutput7200",
            "type": "Microsoft.Media/mediaservices/liveevents/liveoutputs",
            "properties": {
              "description": null,
              "assetName": "empty-asset-input",
              "archiveWindowLength": "PT5M",
              "manifestName": "12d12f7b-9a71-41bd-8693-32906e2fe3e6",
              "outputSnapTime": 0,
              "resourceState": "Running",
              "provisioningState": "Succeeded",
              "created": "2022-10-17T02:32:47.4020065Z",
              "lastModified": "2022-10-17T02:32:47.4020065Z",
              "hls": {
                "fragmentsPerTsSegment": 5
              },
              "rewindWindowLength": null
            },
            "systemData": {
              "createdBy": "8e6d47e0-7969-4fde-a62c-4fea4f165e98",
              "createdByType": "Application",
              "createdAt": "2022-10-17T02:32:48.1577084Z",
              "lastModifiedBy": "8e6d47e0-7969-4fde-a62c-4fea4f165e98",
              "lastModifiedByType": "Application",
              "lastModifiedAt": "2022-10-17T02:32:48.1577084Z"
            }
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/MediaServiceRG3469/providers/Microsoft.Media/mediaservices/mediaforlo2772/liveEvents/liveEvent6457/liveOutputs/liveoutput7200?api-version=2022-08-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Language": "en-US",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11925"
      },
      "ResponseBody": {
        "error": {
          "code": "ResourceNotFound",
          "message": "The Channel was not found."
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/MediaServiceRG3469/providers/Microsoft.Media/mediaservices/mediaforlo2772/liveEvents/liveEvent6457/liveOutputs?api-version=2022-08-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal",
        "OData-Version": "4.0",
        "x-ms-ratelimit-remaining-subscription-reads": "11924"
      },
      "ResponseBody": {
        "value": []
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "DateTimeOffsetNow": "2022-10-17T10:32:13.9677730\u002B08:00",
    "RandomSeed": "1048368159",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "db1ab6f0-4769-4b27-930e-01e2ef9c123c"
  }
}
