{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/MediaServiceRG242/providers/Microsoft.Media/mediaservices/dotnetsdkmediatest7475?api-version=2021-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "westus2",
        "properties": {
          "storageAccounts": [
            {
              "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/MediaServiceRG242/providers/Microsoft.Storage/storageAccounts/azstorageformedia8596",
              "type": "Primary"
            }
          ]
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Media/locations/westus2/mediaServicesOperationStatuses/c81a22ac-81f9-42c6-b7c8-49230248e00d?api-version=2021-11-01",
        "Content-Type": "application/json; odata.metadata=minimal",
        "Location": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Media/locations/westus2/mediaServicesOperationResults/c81a22ac-81f9-42c6-b7c8-49230248e00d?api-version=2021-11-01",
        "OData-Version": "4.0",
        "Retry-After": "30",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "name": "dotnetsdkmediatest7475",
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/MediaServiceRG242/providers/Microsoft.Media/mediaservices/dotnetsdkmediatest7475",
        "type": "Microsoft.Media/mediaservices",
        "location": "West US 2",
        "tags": {},
        "properties": {
          "mediaServiceId": "cddd8987-26e7-4c94-b0a0-7c80793fe706",
          "storageAccounts": [
            {
              "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/MediaServiceRG242/providers/Microsoft.Storage/storageAccounts/azstorageformedia8596",
              "type": "Primary"
            }
          ],
          "storageAuthentication": "System",
          "keyDelivery": {
            "accessControl": {
              "defaultAction": "Allow",
              "ipAllowList": []
            }
          },
          "publicNetworkAccess": "Enabled",
          "provisioningState": "InProgress",
          "privateEndpointConnections": []
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Media/locations/westus2/mediaServicesOperationStatuses/c81a22ac-81f9-42c6-b7c8-49230248e00d?api-version=2021-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal; odata.streaming=true",
        "OData-Version": "4.0",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "name": "c81a22ac-81f9-42c6-b7c8-49230248e00d",
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Media/locations/westus2/mediaServicesOperationStatuses/c81a22ac-81f9-42c6-b7c8-49230248e00d",
        "startTime": "2022-12-01T05:45:28.5397254Z",
        "endTime": "2022-12-01T05:45:28.9147392Z",
        "status": "Succeeded"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/MediaServiceRG242/providers/Microsoft.Media/mediaservices/dotnetsdkmediatest7475?api-version=2021-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal; odata.streaming=true",
        "OData-Version": "4.0",
        "x-ms-ratelimit-remaining-subscription-reads": "11998"
      },
      "ResponseBody": {
        "name": "dotnetsdkmediatest7475",
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/MediaServiceRG242/providers/Microsoft.Media/mediaservices/dotnetsdkmediatest7475",
        "type": "Microsoft.Media/mediaservices",
        "location": "West US 2",
        "properties": {
          "mediaServiceId": "cddd8987-26e7-4c94-b0a0-7c80793fe706",
          "storageAccounts": [
            {
              "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/MediaServiceRG242/providers/Microsoft.Storage/storageAccounts/azstorageformedia8596",
              "type": "Primary"
            }
          ],
          "storageAuthentication": "System",
          "encryption": {
            "type": "SystemKey"
          },
          "keyDelivery": {
            "accessControl": {
              "defaultAction": "Allow",
              "ipAllowList": []
            }
          },
          "publicNetworkAccess": "Enabled",
          "provisioningState": "Succeeded",
          "privateEndpointConnections": []
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/MediaServiceRG242/providers/Microsoft.Media/mediaservices/dotnetsdkmediatest7475/liveEvents/liveEvent8504?api-version=2022-08-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "westus2",
        "properties": {
          "input": {
            "streamingProtocol": "RTMP"
          },
          "crossSiteAccessPolicies": {}
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourcegroups/MediaServiceRG242/providers/Microsoft.Media/mediaservices/dotnetsdkmediatest7475/liveeventoperations/abaea756-dbec-4337-af55-74d4acf9688c?api-version=2022-08-01",
        "Content-Type": "application/json; odata.metadata=minimal",
        "Location": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourcegroups/MediaServiceRG242/providers/Microsoft.Media/mediaservices/dotnetsdkmediatest7475/liveevents/liveEvent8504/operationlocations/abaea756-dbec-4337-af55-74d4acf9688c?api-version=2022-08-01",
        "OData-Version": "4.0",
        "Retry-After": "2",
        "x-ms-ratelimit-remaining-subscription-writes": "1198"
      },
      "ResponseBody": {
        "name": "liveEvent8504",
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/MediaServiceRG242/providers/Microsoft.Media/mediaservices/dotnetsdkmediatest7475/liveevents/liveEvent8504",
        "type": "Microsoft.Media/mediaservices/liveevents",
        "location": "West US 2",
        "tags": {},
        "properties": {
          "description": "",
          "resourceState": "Stopped",
          "provisioningState": "InProgress",
          "created": "2022-12-01T05:45:32.7967847Z",
          "lastModified": "2022-12-01T05:45:32.7967847Z",
          "useStaticHostname": false,
          "streamOptions": [],
          "input": {
            "keyFrameIntervalDuration": "",
            "streamingProtocol": "RTMP",
            "accessToken": "Sanitized",
            "endpoints": [],
            "accessControl": null
          },
          "preview": {
            "previewLocator": "1abb7297-d8e3-4fba-84f4-a217d2a0c2c3",
            "streamingPolicyName": "Predefined_ClearStreamingOnly",
            "alternativeMediaId": null,
            "accessControl": null,
            "endpoints": []
          },
          "encoding": {
            "encodingType": "None",
            "presetName": null,
            "stretchMode": null,
            "keyFrameInterval": null
          },
          "crossSiteAccessPolicies": {
            "clientAccessPolicy": null,
            "crossDomainPolicy": null
          },
          "hostnamePrefix": null,
          "transcriptions": []
        },
        "systemData": {
          "createdBy": "ea0eddd2-3d60-47f8-b3bf-7ec8ae554d10",
          "createdByType": "Application",
          "createdAt": "2022-12-01T05:45:31.5408261Z",
          "lastModifiedBy": "ea0eddd2-3d60-47f8-b3bf-7ec8ae554d10",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2022-12-01T05:45:31.5408261Z"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourcegroups/MediaServiceRG242/providers/Microsoft.Media/mediaservices/dotnetsdkmediatest7475/liveeventoperations/abaea756-dbec-4337-af55-74d4acf9688c?api-version=2022-08-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourcegroups/MediaServiceRG242/providers/Microsoft.Media/mediaservices/dotnetsdkmediatest7475/liveeventoperations/abaea756-dbec-4337-af55-74d4acf9688c?api-version=2022-08-01",
        "Content-Type": "application/json; odata.metadata=minimal; odata.streaming=true",
        "OData-Version": "4.0",
        "Retry-After": "2",
        "x-ms-ratelimit-remaining-subscription-reads": "11997"
      },
      "ResponseBody": {
        "name": "abaea756-dbec-4337-af55-74d4acf9688c",
        "status": "Succeeded",
        "error": {
          "code": "None",
          "message": null,
          "target": "00105949-81e5-4451-bfb5-6505438f54da"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/MediaServiceRG242/providers/Microsoft.Media/mediaServices/dotnetsdkmediatest7475/assets/empty-asset-input?api-version=2022-08-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {}
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal",
        "OData-Version": "4.0",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "11999"
      },
      "ResponseBody": {
        "name": "empty-asset-input",
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/MediaServiceRG242/providers/Microsoft.Media/mediaservices/dotnetsdkmediatest7475/assets/empty-asset-input",
        "type": "Microsoft.Media/mediaservices/assets",
        "properties": {
          "assetId": "5be02a10-4ac4-4955-88b2-dfc7490cc181",
          "created": "2022-12-01T05:45:36.39Z",
          "lastModified": "2022-12-01T05:45:36.39Z",
          "container": "asset-5be02a10-4ac4-4955-88b2-dfc7490cc181",
          "storageAccountName": "azstorageformedia8596",
          "storageEncryptionFormat": "None"
        },
        "systemData": {
          "createdBy": "ea0eddd2-3d60-47f8-b3bf-7ec8ae554d10",
          "createdByType": "Application",
          "createdAt": "2022-12-01T05:45:35.2955107Z",
          "lastModifiedBy": "ea0eddd2-3d60-47f8-b3bf-7ec8ae554d10",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2022-12-01T05:45:35.2955107Z"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/MediaServiceRG242/providers/Microsoft.Media/mediaservices/dotnetsdkmediatest7475/liveEvents/liveEvent8504/liveOutputs/liveoutput8041?api-version=2022-08-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "assetName": "empty-asset-input",
          "archiveWindowLength": "PT5M",
          "hls": {
            "fragmentsPerTsSegment": 5
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal",
        "OData-Version": "4.0",
        "x-ms-ratelimit-remaining-subscription-writes": "1197"
      },
      "ResponseBody": {
        "name": "liveoutput8041",
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/MediaServiceRG242/providers/Microsoft.Media/mediaservices/dotnetsdkmediatest7475/liveevents/liveEvent8504/liveoutputs/liveoutput8041",
        "type": "Microsoft.Media/mediaservices/liveevents/liveoutputs",
        "properties": {
          "description": null,
          "assetName": "empty-asset-input",
          "archiveWindowLength": "PT5M",
          "manifestName": "d56b8634-e5c7-45e5-afb1-e1e00a1e5bd3",
          "outputSnapTime": 0,
          "resourceState": "Creating",
          "provisioningState": "InProgress",
          "created": "2022-12-01T05:45:37.0781181Z",
          "lastModified": "2022-12-01T05:45:37.0781181Z",
          "hls": {
            "fragmentsPerTsSegment": 5
          },
          "rewindWindowLength": null
        },
        "systemData": {
          "createdBy": "ea0eddd2-3d60-47f8-b3bf-7ec8ae554d10",
          "createdByType": "Application",
          "createdAt": "2022-12-01T05:45:36.7806542Z",
          "lastModifiedBy": "ea0eddd2-3d60-47f8-b3bf-7ec8ae554d10",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2022-12-01T05:45:36.7806542Z"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/MediaServiceRG242/providers/Microsoft.Media/mediaservices/dotnetsdkmediatest7475/liveEvents/liveEvent8504/liveOutputs?api-version=2022-08-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal",
        "OData-Version": "4.0",
        "x-ms-ratelimit-remaining-subscription-reads": "11992"
      },
      "ResponseBody": {
        "value": [
          {
            "name": "liveoutput8041",
            "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/MediaServiceRG242/providers/Microsoft.Media/mediaservices/dotnetsdkmediatest7475/liveevents/liveEvent8504/liveoutputs/liveoutput8041",
            "type": "Microsoft.Media/mediaservices/liveevents/liveoutputs",
            "properties": {
              "description": null,
              "assetName": "empty-asset-input",
              "archiveWindowLength": "PT5M",
              "manifestName": "d56b8634-e5c7-45e5-afb1-e1e00a1e5bd3",
              "outputSnapTime": 0,
              "resourceState": "Running",
              "provisioningState": "Succeeded",
              "created": "2022-12-01T05:45:37.1874911Z",
              "lastModified": "2022-12-01T05:45:37.1874911Z",
              "hls": {
                "fragmentsPerTsSegment": 5
              },
              "rewindWindowLength": null
            },
            "systemData": {
              "createdBy": "ea0eddd2-3d60-47f8-b3bf-7ec8ae554d10",
              "createdByType": "Application",
              "createdAt": "2022-12-01T05:45:36.7806542Z",
              "lastModifiedBy": "ea0eddd2-3d60-47f8-b3bf-7ec8ae554d10",
              "lastModifiedByType": "Application",
              "lastModifiedAt": "2022-12-01T05:45:36.7806542Z"
            }
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/MediaServiceRG242/providers/Microsoft.Media/mediaservices/dotnetsdkmediatest7475/liveEvents/liveEvent8504/liveOutputs/liveoutput8041?api-version=2022-08-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Language": "en-US",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11991"
      },
      "ResponseBody": {
        "error": {
          "code": "ResourceNotFound",
          "message": "The Channel was not found."
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/MediaServiceRG242/providers/Microsoft.Media/mediaservices/dotnetsdkmediatest7475/liveEvents/liveEvent8504/liveOutputs?api-version=2022-08-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal",
        "OData-Version": "4.0",
        "x-ms-ratelimit-remaining-subscription-reads": "11990"
      },
      "ResponseBody": {
        "value": []
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "DateTimeOffsetNow": "2022-12-01T13:45:24.0566730\u002B08:00",
    "RandomSeed": "1127524159",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "db1ab6f0-4769-4b27-930e-01e2ef9c123c"
  }
}
