<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!-- NB: will be removed once official package availability is live -->
    <add key="azure-sdk-for-net-pr" value="https://pkgs.dev.azure.com/azure-sdk/internal/_packaging/azure-sdk-for-net-pr/nuget/v3/index.json" />
  </packageSources>
</configuration>