{
  "Entries": [
    {
      "RequestUri": "/providers/Microsoft.Management/checkNameAvailability?api-version=2018-03-01-preview",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"name\": \"TestGroup1\",\r\n  \"type\": \"/providers/Microsoft.Management/managementGroups\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"nameAvailable\": false,\r\n  \"reason\": \"AlreadyExists\",\r\n  \"message\": \"The group with the specified name already exists\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-tenant-writes": [
          "1197"
        ],
        "x-ba-restapi": [
          "1.0.3.787"
        ]
      },
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "394ae65d-9e71-4462-930f-3332dedf845c"
  }
}