{
  "Entries": [
    {
      "RequestUri": "/providers/Microsoft.Management/managementGroups/TestGroup1Child1Child1/subscriptions/7635efed-eeec-4c03-885d-fa004067132a?api-version=2018-01-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "x-ba-restapi": [
          "1.0.3.758"
        ],
        "x-ms-ratelimit-remaining-tenant-writes": [
          "1199"
        ]
      },
      "StatusCode": 204
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "394ae65d-9e71-4462-930f-3332dedf845c"
  }
}