{
  "Entries": [
    {
      "RequestUri": "/subscriptions/12fa089a-89ea-4fb6-a09a-f26c86a51875/resourcegroups/csmrg7844?api-version=2015-11-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"West Central US\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/12fa089a-89ea-4fb6-a09a-f26c86a51875/resourceGroups/csmrg7844\",\r\n  \"name\": \"csmrg7844\",\r\n  \"location\": \"westcentralus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ]
      },
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/12fa089a-89ea-4fb6-a09a-f26c86a51875/resourceGroups/csmrg7844/providers/Microsoft.Network/virtualNetworks/azsmnet675?api-version=2016-09-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"addressSpace\": {\r\n      \"addressPrefixes\": [\r\n        \"10.0.0.0/16\"\r\n      ]\r\n    },\r\n    \"dhcpOptions\": {\r\n      \"dnsServers\": [\r\n        \"10.1.1.1\",\r\n        \"10.1.2.4\"\r\n      ]\r\n    },\r\n    \"subnets\": [\r\n      {\r\n        \"properties\": {\r\n          \"addressPrefix\": \"10.0.0.0/24\"\r\n        },\r\n        \"name\": \"azsmnet5533\"\r\n      },\r\n      {\r\n        \"properties\": {\r\n          \"addressPrefix\": \"10.0.1.0/24\"\r\n        },\r\n        \"name\": \"azsmnet6769\"\r\n      }\r\n    ]\r\n  },\r\n  \"location\": \"West Central US\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"azsmnet675\",\r\n  \"id\": \"/subscriptions/12fa089a-89ea-4fb6-a09a-f26c86a51875/resourceGroups/csmrg7844/providers/Microsoft.Network/virtualNetworks/azsmnet675\",\r\n  \"etag\": \"W/\\\"76f14cae-0f07-4971-87b5-9c3e1e642947\\\"\",\r\n  \"type\": \"Microsoft.Network/virtualNetworks\",\r\n  \"location\": \"westcentralus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Updating\",\r\n    \"resourceGuid\": \"70669345-69c4-4ec6-84b3-dde556f88741\",\r\n    \"addressSpace\": {\r\n      \"addressPrefixes\": [\r\n        \"10.0.0.0/16\"\r\n      ]\r\n    },\r\n    \"dhcpOptions\": {\r\n      \"dnsServers\": [\r\n        \"10.1.1.1\",\r\n        \"10.1.2.4\"\r\n      ]\r\n    },\r\n    \"subnets\": [\r\n      {\r\n        \"name\": \"azsmnet5533\",\r\n        \"id\": \"/subscriptions/12fa089a-89ea-4fb6-a09a-f26c86a51875/resourceGroups/csmrg7844/providers/Microsoft.Network/virtualNetworks/azsmnet675/subnets/azsmnet5533\",\r\n        \"etag\": \"W/\\\"76f14cae-0f07-4971-87b5-9c3e1e642947\\\"\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Updating\",\r\n          \"addressPrefix\": \"10.0.0.0/24\",\r\n          \"serviceTunnels\": []\r\n        }\r\n      },\r\n      {\r\n        \"name\": \"azsmnet6769\",\r\n        \"id\": \"/subscriptions/12fa089a-89ea-4fb6-a09a-f26c86a51875/resourceGroups/csmrg7844/providers/Microsoft.Network/virtualNetworks/azsmnet675/subnets/azsmnet6769\",\r\n        \"etag\": \"W/\\\"76f14cae-0f07-4971-87b5-9c3e1e642947\\\"\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Updating\",\r\n          \"addressPrefix\": \"10.0.1.0/24\",\r\n          \"serviceTunnels\": []\r\n        }\r\n      }\r\n    ],\r\n    \"virtualNetworkPeerings\": []\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Retry-After": [
          "10"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/12fa089a-89ea-4fb6-a09a-f26c86a51875/providers/Microsoft.Network/locations/westcentralus/operations/e5ece107-7b2e-44a8-9fb5-78a0bcdb70e2?api-version=2016-09-01"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ]
      },
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/12fa089a-89ea-4fb6-a09a-f26c86a51875/providers/Microsoft.Network/locations/westcentralus/operations/e5ece107-7b2e-44a8-9fb5-78a0bcdb70e2?api-version=2016-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"status\": \"Succeeded\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14999"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/12fa089a-89ea-4fb6-a09a-f26c86a51875/resourceGroups/csmrg7844/providers/Microsoft.Network/virtualNetworks/azsmnet675/subnets/azsmnet5533?api-version=2016-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"name\": \"azsmnet5533\",\r\n  \"id\": \"/subscriptions/12fa089a-89ea-4fb6-a09a-f26c86a51875/resourceGroups/csmrg7844/providers/Microsoft.Network/virtualNetworks/azsmnet675/subnets/azsmnet5533\",\r\n  \"etag\": \"W/\\\"6c6507b8-cd37-4296-9713-771af7690725\\\"\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"addressPrefix\": \"10.0.0.0/24\",\r\n    \"serviceTunnels\": []\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "ETag": [
          "W/\"6c6507b8-cd37-4296-9713-771af7690725\""
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14996"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/12fa089a-89ea-4fb6-a09a-f26c86a51875/resourceGroups/csmrg7844/providers/Microsoft.Network/applicationGateways/azsmnet4823?api-version=2016-09-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"sku\": {\r\n      \"name\": \"WAF_Medium\",\r\n      \"tier\": \"WAF\",\r\n      \"capacity\": 2\r\n    },\r\n    \"sslPolicy\": {\r\n      \"disabledSslProtocols\": [\r\n        \"TLSv1_0\",\r\n        \"TLSv1_1\"\r\n      ]\r\n    },\r\n    \"gatewayIPConfigurations\": [\r\n      {\r\n        \"properties\": {\r\n          \"subnet\": {\r\n            \"id\": \"/subscriptions/12fa089a-89ea-4fb6-a09a-f26c86a51875/resourceGroups/csmrg7844/providers/Microsoft.Network/virtualNetworks/azsmnet675/subnets/azsmnet5533\"\r\n          }\r\n        },\r\n        \"name\": \"azsmnet9106\"\r\n      }\r\n    ],\r\n    \"authenticationCertificates\": [\r\n      {\r\n        \"properties\": {\r\n          \"data\": \"MIIDTzCCAjegAwIBAgIQj5oTlR6oyJ1NlX9Wb9aFyjANBgkqhkiG9w0BAQsFADAwMS4wLAYDVQQDEyVBcHBsaWNhdGlvbkdhdGV3YXlTc2xDZXJ0LVVuaXRUZXN0LTAxMB4XDTE2MDIxNzA3MDc1M1oXDTM5MTIzMTIzNTk1OVowMDEuMCwGA1UEAxMlQXBwbGljYXRpb25HYXRld2F5U3NsQ2VydC1Vbml0VGVzdC0wMTCCASIwDQYJKoZIhvcNAQEBBQADggEPADCCAQoCggEBANOUOFVmm+P4ht/qaiGZaiMzZSXwqGP8W/XWZRfJSc1mS6B4zBm8MtndmO9NbPUeGetk3E4jI0egP7NufuTAtfZY5nG9/gsZh8Hp4o+x+6F1wCUtK5pQ5Fne4Vwg0Q9k1CgUfQfK0zEoanOTEylcyp1nVpoGc3v4FZ9pQr8/xQ7+PSwgNpmGpU1gmgorDlXIO8jiKb+WfSoPAhHcavoPFg6DeGv30AK2m8ULFezOqbprrozRxXaKzt8fBaDSP1XMakFaO6ffZU4uNgrehW4zMnpdgAjT5koymDKGAfl/7+5QpLxSKc2478J+PvTwy/rfWKJLbEImoM7WE3imWgrHUNMCAwEAAaNlMGMwYQYDVR0BBFowWIAQxDXqD2PYxSlriJ6HuzZ+b6EyMDAxLjAsBgNVBAMTJUFwcGxpY2F0aW9uR2F0ZXdheVNzbENlcnQtVW5pdFRlc3QtMDGCEI+aE5UeqMidTZV/Vm/WhcowDQYJKoZIhvcNAQELBQADggEBADSC6PHkVYmoVOyyW2g7q3GG3MmXa43/HQNTM+pT3HENAlhGg8T9EFrOQ/0QAoEQbrtsP8Isj5u2Bd4MOlYA180ExyfL/NFb7QpXq/pRLbePMQAQicdSvk/9RyrNRBfNjT2KNlBp3RZtCkJjQWlc5ylWydPy4JPUZxit/5ygCRT+cmN1ioF469Ki8hzBlKmrDg8jkFUwFyD7B0fEfPP0gSZI3F6HqgCK2hzBTjujZjddZyn2XxXlxLu57C83CNPP8fbsGW2CwolgmYvt+dJsdDnT7VKX5RS4cOPp/JGG7QdhzqVBoK0vZP6gHEAOPoqBVUWf8SmlVuAVGmDl8EjLnK8=\"\r\n        },\r\n        \"name\": \"azsmnet5430\"\r\n      }\r\n    ],\r\n    \"frontendIPConfigurations\": [\r\n      {\r\n        \"properties\": {\r\n          \"privateIPAllocationMethod\": \"Dynamic\",\r\n          \"subnet\": {\r\n            \"id\": \"/subscriptions/12fa089a-89ea-4fb6-a09a-f26c86a51875/resourceGroups/csmrg7844/providers/Microsoft.Network/virtualNetworks/azsmnet675/subnets/azsmnet5533\"\r\n          }\r\n        },\r\n        \"name\": \"azsmnet4887\"\r\n      }\r\n    ],\r\n    \"frontendPorts\": [\r\n      {\r\n        \"properties\": {\r\n          \"port\": 80\r\n        },\r\n        \"name\": \"azsmnet3719\"\r\n      },\r\n      {\r\n        \"properties\": {\r\n          \"port\": 88\r\n        },\r\n        \"name\": \"azsmnet8527\"\r\n      }\r\n    ],\r\n    \"probes\": [\r\n      {\r\n        \"properties\": {\r\n          \"protocol\": \"Http\",\r\n          \"host\": \"probe.com\",\r\n          \"path\": \"/path/path.htm\",\r\n          \"interval\": 17,\r\n          \"timeout\": 17,\r\n          \"unhealthyThreshold\": 5\r\n        },\r\n        \"name\": \"azsmnet1673\"\r\n      }\r\n    ],\r\n    \"backendAddressPools\": [\r\n      {\r\n        \"properties\": {\r\n          \"backendAddresses\": [\r\n            {\r\n              \"ipAddress\": \"104.42.6.202\"\r\n            },\r\n            {\r\n              \"ipAddress\": \"23.99.1.115\"\r\n            }\r\n          ]\r\n        },\r\n        \"name\": \"azsmnet8485\"\r\n      },\r\n      {\r\n        \"name\": \"azsmnet1092\"\r\n      }\r\n    ],\r\n    \"backendHttpSettingsCollection\": [\r\n      {\r\n        \"properties\": {\r\n          \"port\": 80,\r\n          \"protocol\": \"Http\",\r\n          \"cookieBasedAffinity\": \"Disabled\",\r\n          \"requestTimeout\": 69,\r\n          \"probe\": {\r\n            \"id\": \"/subscriptions/12fa089a-89ea-4fb6-a09a-f26c86a51875/resourceGroups/csmrg7844/providers/Microsoft.Network/applicationGateways/azsmnet4823/probes/azsmnet1673\"\r\n          }\r\n        },\r\n        \"name\": \"azsmnet8160\"\r\n      },\r\n      {\r\n        \"properties\": {\r\n          \"port\": 443,\r\n          \"protocol\": \"Https\",\r\n          \"cookieBasedAffinity\": \"Enabled\",\r\n          \"authenticationCertificates\": [\r\n            {\r\n              \"id\": \"/subscriptions/12fa089a-89ea-4fb6-a09a-f26c86a51875/resourceGroups/csmrg7844/providers/Microsoft.Network/applicationGateways/azsmnet4823/authenticationCertificates/azsmnet5430\"\r\n            }\r\n          ]\r\n        },\r\n        \"name\": \"azsmnet5005\"\r\n      }\r\n    ],\r\n    \"httpListeners\": [\r\n      {\r\n        \"properties\": {\r\n          \"frontendIPConfiguration\": {\r\n            \"id\": \"/subscriptions/12fa089a-89ea-4fb6-a09a-f26c86a51875/resourceGroups/csmrg7844/providers/Microsoft.Network/applicationGateways/azsmnet4823/frontendIPConfigurations/azsmnet4887\"\r\n          },\r\n          \"frontendPort\": {\r\n            \"id\": \"/subscriptions/12fa089a-89ea-4fb6-a09a-f26c86a51875/resourceGroups/csmrg7844/providers/Microsoft.Network/applicationGateways/azsmnet4823/frontendPorts/azsmnet3719\"\r\n          },\r\n          \"protocol\": \"Http\"\r\n        },\r\n        \"name\": \"azsmnet2866\"\r\n      },\r\n      {\r\n        \"properties\": {\r\n          \"frontendIPConfiguration\": {\r\n            \"id\": \"/subscriptions/12fa089a-89ea-4fb6-a09a-f26c86a51875/resourceGroups/csmrg7844/providers/Microsoft.Network/applicationGateways/azsmnet4823/frontendIPConfigurations/azsmnet4887\"\r\n          },\r\n          \"frontendPort\": {\r\n            \"id\": \"/subscriptions/12fa089a-89ea-4fb6-a09a-f26c86a51875/resourceGroups/csmrg7844/providers/Microsoft.Network/applicationGateways/azsmnet4823/frontendPorts/azsmnet8527\"\r\n          },\r\n          \"protocol\": \"Http\"\r\n        },\r\n        \"name\": \"azsmnet5908\"\r\n      }\r\n    ],\r\n    \"requestRoutingRules\": [\r\n      {\r\n        \"properties\": {\r\n          \"ruleType\": \"Basic\",\r\n          \"backendAddressPool\": {\r\n            \"id\": \"/subscriptions/12fa089a-89ea-4fb6-a09a-f26c86a51875/resourceGroups/csmrg7844/providers/Microsoft.Network/applicationGateways/azsmnet4823/backendAddressPools/azsmnet8485\"\r\n          },\r\n          \"backendHttpSettings\": {\r\n            \"id\": \"/subscriptions/12fa089a-89ea-4fb6-a09a-f26c86a51875/resourceGroups/csmrg7844/providers/Microsoft.Network/applicationGateways/azsmnet4823/backendHttpSettingsCollection/azsmnet8160\"\r\n          },\r\n          \"httpListener\": {\r\n            \"id\": \"/subscriptions/12fa089a-89ea-4fb6-a09a-f26c86a51875/resourceGroups/csmrg7844/providers/Microsoft.Network/applicationGateways/azsmnet4823/httpListeners/azsmnet2866\"\r\n          }\r\n        },\r\n        \"name\": \"azsmnet3457\"\r\n      },\r\n      {\r\n        \"properties\": {\r\n          \"ruleType\": \"Basic\",\r\n          \"backendAddressPool\": {\r\n            \"id\": \"/subscriptions/12fa089a-89ea-4fb6-a09a-f26c86a51875/resourceGroups/csmrg7844/providers/Microsoft.Network/applicationGateways/azsmnet4823/backendAddressPools/azsmnet8485\"\r\n          },\r\n          \"backendHttpSettings\": {\r\n            \"id\": \"/subscriptions/12fa089a-89ea-4fb6-a09a-f26c86a51875/resourceGroups/csmrg7844/providers/Microsoft.Network/applicationGateways/azsmnet4823/backendHttpSettingsCollection/azsmnet5005\"\r\n          },\r\n          \"httpListener\": {\r\n            \"id\": \"/subscriptions/12fa089a-89ea-4fb6-a09a-f26c86a51875/resourceGroups/csmrg7844/providers/Microsoft.Network/applicationGateways/azsmnet4823/httpListeners/azsmnet5908\"\r\n          }\r\n        },\r\n        \"name\": \"azsmnet9791\"\r\n      }\r\n    ],\r\n    \"webApplicationFirewallConfiguration\": {\r\n      \"enabled\": true,\r\n      \"firewallMode\": \"Prevention\"\r\n    }\r\n  },\r\n  \"location\": \"West Central US\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"azsmnet4823\",\r\n  \"id\": \"/subscriptions/12fa089a-89ea-4fb6-a09a-f26c86a51875/resourceGroups/csmrg7844/providers/Microsoft.Network/applicationGateways/azsmnet4823\",\r\n  \"etag\": \"W/\\\"cd83dab2-96f8-4bae-8450-f33420510e2c\\\"\",\r\n  \"type\": \"Microsoft.[...]
[...]
    {
      "RequestUri": "/subscriptions/12fa089a-89ea-4fb6-a09a-f26c86a51875/resourceGroups/csmrg7844/providers/Microsoft.Network/networkInterfaces/azsmnet4824?api-version=2016-09-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"ipConfigurations\": [\r\n      {\r\n        \"properties\": {\r\n          \"privateIPAllocationMethod\": \"Dynamic\",\r\n          \"subnet\": {\r\n            \"id\": \"/subscriptions/12fa089a-89ea-4fb6-a09a-f26c86a51875/resourceGroups/csmrg7844/providers/Microsoft.Network/virtualNetworks/azsmnet675/subnets/azsmnet6769\"\r\n          }\r\n        },\r\n        \"name\": \"ipconfig\"\r\n      }\r\n    ]\r\n  },\r\n  \"location\": \"West Central US\",\r\n  \"tags\": {\r\n    \"key\": \"value\"\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"azsmnet4824\",\r\n  \"id\": \"/subscriptions/12fa089a-89ea-4fb6-a09a-f26c86a51875/resourceGroups/csmrg7844/providers/Microsoft.Network/networkInterfaces/azsmnet4824\",\r\n  \"etag\": \"W/\\\"60a7bd2a-bcd5-49ca-8615-a44a5bb09596\\\"\",\r\n  \"location\": \"westcentralus\",\r\n  \"tags\": {\r\n    \"key\": \"value\"\r\n  },\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"resourceGuid\": \"cffea18a-0dee-412d-9c7e-39c07ff04033\",\r\n    \"ipConfigurations\": [\r\n      {\r\n        \"name\": \"ipconfig\",\r\n        \"id\": \"/subscriptions/12fa089a-89ea-4fb6-a09a-f26c86a51875/resourceGroups/csmrg7844/providers/Microsoft.Network/networkInterfaces/azsmnet4824/ipConfigurations/ipconfig\",\r\n        \"etag\": \"W/\\\"60a7bd2a-bcd5-49ca-8615-a44a5bb09596\\\"\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"privateIPAddress\": \"10.0.1.4\",\r\n          \"privateIPAllocationMethod\": \"Dynamic\",\r\n          \"subnet\": {\r\n            \"id\": \"/subscriptions/12fa089a-89ea-4fb6-a09a-f26c86a51875/resourceGroups/csmrg7844/providers/Microsoft.Network/virtualNetworks/azsmnet675/subnets/azsmnet6769\"\r\n          },\r\n          \"primary\": true,\r\n          \"privateIPAddressVersion\": \"IPv4\"\r\n        }\r\n      }\r\n    ],\r\n    \"dnsSettings\": {\r\n      \"dnsServers\": [],\r\n      \"appliedDnsServers\": [],\r\n      \"internalDomainNameSuffix\": \"iwjwm2genhde3bft1xsvn4ehib.yx.internal.cloudapp.net\"\r\n    },\r\n    \"acceleratedNetworkingEnabled\": false,\r\n    \"enableIPForwarding\": false\r\n  },\r\n  \"type\": \"Microsoft.Network/networkInterfaces\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/12fa089a-89ea-4fb6-a09a-f26c86a51875/providers/Microsoft.Network/locations/westcentralus/operations/b96124b7-b065-4861-8d47-0d6449c50497?api-version=2016-09-01"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1197"
        ]
      },
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/12fa089a-89ea-4fb6-a09a-f26c86a51875/resourceGroups/csmrg7844/providers/Microsoft.Network/networkInterfaces/azsmnet4824?api-version=2016-09-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"ipConfigurations\": [\r\n      {\r\n        \"properties\": {\r\n          \"applicationGatewayBackendAddressPools\": [\r\n            {\r\n              \"properties\": {\r\n                \"backendAddresses\": [],\r\n                \"provisioningState\": \"Succeeded\"\r\n              },\r\n              \"name\": \"azsmnet1092\",\r\n              \"etag\": \"W/\\\"a62d31a6-6388-4024-b208-b09a713b3cfd\\\"\",\r\n              \"id\": \"/subscriptions/12fa089a-89ea-4fb6-a09a-f26c86a51875/resourceGroups/csmrg7844/providers/Microsoft.Network/applicationGateways/azsmnet4823/backendAddressPools/azsmnet1092\"\r\n[...]
[...]
    {
      "RequestUri": "/subscriptions/12fa089a-89ea-4fb6-a09a-f26c86a51875/resourceGroups/csmrg7844/providers/Microsoft.Network/applicationGateways/azsmnet4823/start?api-version=2016-09-01",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/12fa089a-89ea-4fb6-a09a-f26c86a51875/providers/Microsoft.Network/locations/westcentralus/operationResults/a4ada96b-db4c-4677-a82f-e6ccaf196e9b?api-version=2016-09-01"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/12fa089a-89ea-4fb6-a09a-f26c86a51875/providers/Microsoft.Network/locations/westcentralus/operations/a4ada96b-db4c-4677-a82f-e6ccaf196e9b?api-version=2016-09-01"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1193"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/12fa089a-89ea-4fb6-a09a-f26c86a51875/resourceGroups/csmrg7844/providers/Microsoft.Network/applicationGateways/azsmnet4823/stop?api-version=2016-09-01",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/12fa089a-89ea-4fb6-a09a-f26c86a51875/providers/Microsoft.Network/locations/westcentralus/operationResults/8ac68d48-01ff-4fc7-86a6-603e322d2c0b?api-version=2016-09-01"
        ],
        "Retry-After": [
          "10"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/12fa089a-89ea-4fb6-a09a-f26c86a51875/providers/Microsoft.Network/locations/westcentralus/operations/8ac68d48-01ff-4fc7-86a6-603e322d2c0b?api-version=2016-09-01"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1192"
        ]
      },
      "StatusCode": 202
    },
[...]
    {
      "RequestUri": "/subscriptions/12fa089a-89ea-4fb6-a09a-f26c86a51875/providers/Microsoft.Network/locations/westcentralus/operations/6e303f1a-81fa-49c2-8677-a78939e75b60?api-version=2016-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"status\": \"Succeeded\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14924"
        ]
      },
      "StatusCode": 200
    }
  ],
  "Names": {
    "ApplicationGatewayApiTest": [
      "csmrg7844",
      "azsmnet675",
      "azsmnet5533",
      "azsmnet6769",
      "azsmnet4823",
      "azsmnet4824",
      "azsmnet3103"
    ],
    "CreateApplicationGateway": [
      "azsmnet9106",
      "azsmnet4887",
      "azsmnet3719",
      "azsmnet8527",
      "azsmnet8485",
      "azsmnet1092",
      "azsmnet8160",
      "azsmnet5005",
      "azsmnet3457",
      "azsmnet9791",
      "azsmnet2866",
      "azsmnet5908",
      "azsmnet1673",
      "azsmnet9328",
      "azsmnet5430"
    ]
  },
  "Variables": {
    "SubscriptionId": "12fa089a-89ea-4fb6-a09a-f26c86a51875"
  }
}