{
  "Entries": [
    {
      "RequestUri": "/subscriptions/0a4ae132-d38b-487e-9051-a22d852b2834/resourcegroups/csmrg769?api-version=2015-11-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"West US\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/0a4ae132-d38b-487e-9051-a22d852b2834/resourceGroups/csmrg769\",\r\n  \"name\": \"csmrg769\",\r\n  \"location\": \"westus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ]
      },
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/0a4ae132-d38b-487e-9051-a22d852b2834/resourceGroups/csmrg769/providers/Microsoft.Network/virtualNetworks/azsmnet5442?api-version=2016-09-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"addressSpace\": {\r\n      \"addressPrefixes\": [\r\n        \"10.0.0.0/16\"\r\n      ]\r\n    },\r\n    \"dhcpOptions\": {\r\n      \"dnsServers\": [\r\n        \"10.1.1.1\",\r\n        \"10.1.2.4\"\r\n      ]\r\n    },\r\n    \"subnets\": [\r\n      {\r\n        \"properties\": {\r\n          \"addressPrefix\": \"10.0.0.0/24\"\r\n        },\r\n        \"name\": \"azsmnet6012\"\r\n      },\r\n      {\r\n        \"properties\": {\r\n          \"addressPrefix\": \"10.0.1.0/24\"\r\n        },\r\n        \"name\": \"azsmnet3173\"\r\n      }\r\n    ]\r\n  },\r\n  \"location\": \"West US\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"azsmnet5442\",\r\n  \"id\": \"/subscriptions/0a4ae132-d38b-487e-9051-a22d852b2834/resourceGroups/csmrg769/providers/Microsoft.Network/virtualNetworks/azsmnet5442\",\r\n  \"etag\": \"W/\\\"0763bf9d-0c64-45c1-9392-af3541db258c\\\"\",\r\n  \"type\": \"Microsoft.Network/virtualNetworks\",\r\n  \"location\": \"westus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Updating\",\r\n    \"resourceGuid\": \"1fe40fcf-5e27-42c1-b5ad-550e4b089427\",\r\n    \"addressSpace\": {\r\n      \"addressPrefixes\": [\r\n        \"10.0.0.0/16\"\r\n      ]\r\n    },\r\n    \"dhcpOptions\": {\r\n      \"dnsServers\": [\r\n        \"10.1.1.1\",\r\n        \"10.1.2.4\"\r\n      ]\r\n    },\r\n    \"subnets\": [\r\n      {\r\n        \"name\": \"azsmnet6012\",\r\n        \"id\": \"/subscriptions/0a4ae132-d38b-487e-9051-a22d852b2834/resourceGroups/csmrg769/providers/Microsoft.Network/virtualNetworks/azsmnet5442/subnets/azsmnet6012\",\r\n        \"etag\": \"W/\\\"0763bf9d-0c64-45c1-9392-af3541db258c\\\"\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Updating\",\r\n          \"addressPrefix\": \"10.0.0.0/24\",\r\n          \"serviceTunnels\": []\r\n        }\r\n      },\r\n      {\r\n        \"name\": \"azsmnet3173\",\r\n        \"id\": \"/subscriptions/0a4ae132-d38b-487e-9051-a22d852b2834/resourceGroups/csmrg769/providers/Microsoft.Network/virtualNetworks/azsmnet5442/subnets/azsmnet3173\",\r\n        \"etag\": \"W/\\\"0763bf9d-0c64-45c1-9392-af3541db258c\\\"\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Updating\",\r\n          \"addressPrefix\": \"10.0.1.0/24\",\r\n          \"serviceTunnels\": []\r\n        }\r\n      }\r\n    ],\r\n    \"virtualNetworkPeerings\": []\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Retry-After": [
          "10"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/0a4ae132-d38b-487e-9051-a22d852b2834/providers/Microsoft.Network/locations/westus.validation/operations/6ad39ea5-606a-47ea-8bc4-d5b7c3cd1b4b?api-version=2016-09-01"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ]
      },
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/0a4ae132-d38b-487e-9051-a22d852b2834/providers/Microsoft.Network/locations/westus.validation/operations/6ad39ea5-606a-47ea-8bc4-d5b7c3cd1b4b?api-version=2016-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"status\": \"Succeeded\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14999"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/0a4ae132-d38b-487e-9051-a22d852b2834/resourceGroups/csmrg769/providers/Microsoft.Network/virtualNetworks/azsmnet5442/subnets/azsmnet6012?api-version=2016-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"name\": \"azsmnet6012\",\r\n  \"id\": \"/subscriptions/0a4ae132-d38b-487e-9051-a22d852b2834/resourceGroups/csmrg769/providers/Microsoft.Network/virtualNetworks/azsmnet5442/subnets/azsmnet6012\",\r\n  \"etag\": \"W/\\\"497b5788-8a0b-48c6-940b-25fbdbc95672\\\"\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"addressPrefix\": \"10.0.0.0/24\",\r\n    \"serviceTunnels\": []\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "ETag": [
          "W/\"497b5788-8a0b-48c6-940b-25fbdbc95672\""
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14996"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/0a4ae132-d38b-487e-9051-a22d852b2834/resourceGroups/csmrg769/providers/Microsoft.Network/applicationGateways/azsmnet5816?api-version=2016-09-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"sku\": {\r\n      \"name\": \"WAF_Medium\",\r\n      \"tier\": \"WAF\",\r\n      \"capacity\": 2\r\n    },\r\n    \"sslPolicy\": {\r\n      \"disabledSslProtocols\": [\r\n        \"TLSv1_0\",\r\n        \"TLSv1_1\"\r\n      ]\r\n    },\r\n    \"gatewayIPConfigurations\": [\r\n      {\r\n        \"properties\": {\r\n          \"subnet\": {\r\n            \"id\": \"/subscriptions/0a4ae132-d38b-487e-9051-a22d852b2834/resourceGroups/csmrg769/providers/Microsoft.Network/virtualNetworks/azsmnet5442/subnets/azsmnet6012\"\r\n          }\r\n        },\r\n        \"name\": \"azsmnet6005\"\r\n      }\r\n    ],\r\n    \"authenticationCertificates\": [\r\n      {\r\n        \"properties\": {\r\n          \"data\": \"MIIDTzCCAjegAwIBAgIQj5oTlR6oyJ1NlX9Wb9aFyjANBgkqhkiG9w0BAQsFADAwMS4wLAYDVQQDEyVBcHBsaWNhdGlvbkdhdGV3YXlTc2xDZXJ0LVVuaXRUZXN0LTAxMB4XDTE2MDIxNzA3MDc1M1oXDTM5MTIzMTIzNTk1OVowMDEuMCwGA1UEAxMlQXBwbGljYXRpb25HYXRld2F5U3NsQ2VydC1Vbml0VGVzdC0wMTCCASIwDQYJKoZIhvcNAQEBBQADggEPADCCAQoCggEBANOUOFVmm+P4ht/qaiGZaiMzZSXwqGP8W/XWZRfJSc1mS6B4zBm8MtndmO9NbPUeGetk3E4jI0egP7NufuTAtfZY5nG9/gsZh8Hp4o+x+6F1wCUtK5pQ5Fne4Vwg0Q9k1CgUfQfK0zEoanOTEylcyp1nVpoGc3v4FZ9pQr8/xQ7+PSwgNpmGpU1gmgorDlXIO8jiKb+WfSoPAhHcavoPFg6DeGv30AK2m8ULFezOqbprrozRxXaKzt8fBaDSP1XMakFaO6ffZU4uNgrehW4zMnpdgAjT5koymDKGAfl/7+5QpLxSKc2478J+PvTwy/rfWKJLbEImoM7WE3imWgrHUNMCAwEAAaNlMGMwYQYDVR0BBFowWIAQxDXqD2PYxSlriJ6HuzZ+b6EyMDAxLjAsBgNVBAMTJUFwcGxpY2F0aW9uR2F0ZXdheVNzbENlcnQtVW5pdFRlc3QtMDGCEI+aE5UeqMidTZV/Vm/WhcowDQYJKoZIhvcNAQELBQADggEBADSC6PHkVYmoVOyyW2g7q3GG3MmXa43/HQNTM+pT3HENAlhGg8T9EFrOQ/0QAoEQbrtsP8Isj5u2Bd4MOlYA180ExyfL/NFb7QpXq/pRLbePMQAQicdSvk/9RyrNRBfNjT2KNlBp3RZtCkJjQWlc5ylWydPy4JPUZxit/5ygCRT+cmN1ioF469Ki8hzBlKmrDg8jkFUwFyD7B0fEfPP0gSZI3F6HqgCK2hzBTjujZjddZyn2XxXlxLu57C83CNPP8fbsGW2CwolgmYvt+dJsdDnT7VKX5RS4cOPp/JGG7QdhzqVBoK0vZP6gHEAOPoqBVUWf8SmlVuAVGmDl8EjLnK8=\"\r\n        },\r\n        \"name\": \"azsmnet1422\"\r\n      }\r\n    ],\r\n    \"frontendIPConfigurations\": [\r\n      {\r\n        \"properties\": {\r\n          \"privateIPAllocationMethod\": \"Dynamic\",\r\n          \"subnet\": {\r\n            \"id\": \"/subscriptions/0a4ae132-d38b-487e-9051-a22d852b2834/resourceGroups/csmrg769/providers/Microsoft.Network/virtualNetworks/azsmnet5442/subnets/azsmnet6012\"\r\n          }\r\n        },\r\n        \"name\": \"azsmnet1400\"\r\n      }\r\n    ],\r\n    \"frontendPorts\": [\r\n      {\r\n        \"properties\": {\r\n          \"port\": 80\r\n        },\r\n        \"name\": \"azsmnet8510\"\r\n      },\r\n      {\r\n        \"properties\": {\r\n          \"port\": 88\r\n        },\r\n        \"name\": \"azsmnet667\"\r\n      }\r\n    ],\r\n    \"probes\": [\r\n      {\r\n        \"properties\": {\r\n          \"protocol\": \"Http\",\r\n          \"host\": \"probe.com\",\r\n          \"path\": \"/path/path.htm\",\r\n          \"interval\": 17,\r\n          \"timeout\": 17,\r\n          \"unhealthyThreshold\": 5\r\n        },\r\n        \"name\": \"azsmnet9977\"\r\n      }\r\n    ],\r\n    \"backendAddressPools\": [\r\n      {\r\n        \"properties\": {\r\n          \"backendAddresses\": [\r\n            {\r\n              \"ipAddress\": \"104.42.6.202\"\r\n            },\r\n            {\r\n              \"ipAddress\": \"23.99.1.115\"\r\n            }\r\n          ]\r\n        },\r\n        \"name\": \"azsmnet3426\"\r\n      },\r\n      {\r\n        \"name\": \"azsmnet9377\"\r\n      }\r\n    ],\r\n    \"backendHttpSettingsCollection\": [\r\n      {\r\n        \"properties\": {\r\n          \"port\": 80,\r\n          \"protocol\": \"Http\",\r\n          \"cookieBasedAffinity\": \"Disabled\",\r\n          \"requestTimeout\": 69,\r\n          \"probe\": {\r\n            \"id\": \"/subscriptions/0a4ae132-d38b-487e-9051-a22d852b2834/resourceGroups/csmrg769/providers/Microsoft.Network/applicationGateways/azsmnet5816/probes/azsmnet9977\"\r\n          }\r\n        },\r\n        \"name\": \"azsmnet9782\"\r\n      },\r\n      {\r\n        \"properties\": {\r\n          \"port\": 443,\r\n          \"protocol\": \"Https\",\r\n          \"cookieBasedAffinity\": \"Enabled\",\r\n          \"authenticationCertificates\": [\r\n            {\r\n              \"id\": \"/subscriptions/0a4ae132-d38b-487e-9051-a22d852b2834/resourceGroups/csmrg769/providers/Microsoft.Network/applicationGateways/azsmnet5816/authenticationCertificates/azsmnet1422\"\r\n            }\r\n          ]\r\n        },\r\n        \"name\": \"azsmnet5127\"\r\n      }\r\n    ],\r\n    \"httpListeners\": [\r\n      {\r\n        \"properties\": {\r\n          \"frontendIPConfiguration\": {\r\n            \"id\": \"/subscriptions/0a4ae132-d38b-487e-9051-a22d852b2834/resourceGroups/csmrg769/providers/Microsoft.Network/applicationGateways/azsmnet5816/frontendIPConfigurations/azsmnet1400\"\r\n          },\r\n          \"frontendPort\": {\r\n            \"id\": \"/subscriptions/0a4ae132-d38b-487e-9051-a22d852b2834/resourceGroups/csmrg769/providers/Microsoft.Network/applicationGateways/azsmnet5816/frontendPorts/azsmnet8510\"\r\n          },\r\n          \"protocol\": \"Http\"\r\n        },\r\n        \"name\": \"azsmnet5077\"\r\n      },\r\n      {\r\n        \"properties\": {\r\n          \"frontendIPConfiguration\": {\r\n            \"id\": \"/subscriptions/0a4ae132-d38b-487e-9051-a22d852b2834/resourceGroups/csmrg769/providers/Microsoft.Network/applicationGateways/azsmnet5816/frontendIPConfigurations/azsmnet1400\"\r\n          },\r\n          \"frontendPort\": {\r\n            \"id\": \"/subscriptions/0a4ae132-d38b-487e-9051-a22d852b2834/resourceGroups/csmrg769/providers/Microsoft.Network/applicationGateways/azsmnet5816/frontendPorts/azsmnet667\"\r\n          },\r\n          \"protocol\": \"Http\"\r\n        },\r\n        \"name\": \"azsmnet7866\"\r\n      }\r\n    ],\r\n    \"requestRoutingRules\": [\r\n      {\r\n        \"properties\": {\r\n          \"ruleType\": \"Basic\",\r\n          \"backendAddressPool\": {\r\n            \"id\": \"/subscriptions/0a4ae132-d38b-487e-9051-a22d852b2834/resourceGroups/csmrg769/providers/Microsoft.Network/applicationGateways/azsmnet5816/backendAddressPools/azsmnet3426\"\r\n          },\r\n          \"backendHttpSettings\": {\r\n            \"id\": \"/subscriptions/0a4ae132-d38b-487e-9051-a22d852b2834/resourceGroups/csmrg769/providers/Microsoft.Network/applicationGateways/azsmnet5816/backendHttpSettingsCollection/azsmnet9782\"\r\n          },\r\n          \"httpListener\": {\r\n            \"id\": \"/subscriptions/0a4ae132-d38b-487e-9051-a22d852b2834/resourceGroups/csmrg769/providers/Microsoft.Network/applicationGateways/azsmnet5816/httpListeners/azsmnet5077\"\r\n          }\r\n        },\r\n        \"name\": \"azsmnet6462\"\r\n      },\r\n      {\r\n        \"properties\": {\r\n          \"ruleType\": \"Basic\",\r\n          \"backendAddressPool\": {\r\n            \"id\": \"/subscriptions/0a4ae132-d38b-487e-9051-a22d852b2834/resourceGroups/csmrg769/providers/Microsoft.Network/applicationGateways/azsmnet5816/backendAddressPools/azsmnet3426\"\r\n          },\r\n          \"backendHttpSettings\": {\r\n            \"id\": \"/subscriptions/0a4ae132-d38b-487e-9051-a22d852b2834/resourceGroups/csmrg769/providers/Microsoft.Network/applicationGateways/azsmnet5816/backendHttpSettingsCollection/azsmnet5127\"\r\n          },\r\n          \"httpListener\": {\r\n            \"id\": \"/subscriptions/0a4ae132-d38b-487e-9051-a22d852b2834/resourceGroups/csmrg769/providers/Microsoft.Network/applicationGateways/azsmnet5816/httpListeners/azsmnet7866\"\r\n          }\r\n        },\r\n        \"name\": \"azsmnet9951\"\r\n      }\r\n    ],\r\n    \"webApplicationFirewallConfiguration\": {\r\n      \"enabled\": true,\r\n      \"firewallMode\": \"Prevention\"\r\n    }\r\n  },\r\n  \"location\": \"West US\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"azsmnet5816\",\r\n  \"id\": \"/subscriptions/0a4ae132-d38b-487e-9051-a22d852b2834/resourceGroups/csmrg769/providers/Microsoft.Network/applicationGateways/azsmnet5816\",\r\n  \"etag\": \"W/\\\"41d3d182-d7ad-45e6-a566-fa2b1f58c210\\\"\",\r\n  \"type\": \"Microsoft.Network/applicationGateways\",\r\n  \"location\": \"westus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Updating\",\r\n    \"resourceGuid\": \"b2f17f49-1c3a-4a0f-83f4-4baeaeb4d471\",\r\n    \"sku\": {\r\n      \"name\": \"WAF_Medium\",\r\n      \"tier\": \"WAF\",\r\n      \"capacity\": 2\r\n    },\r\n    \"gatewayIPConfigurations\": [\r\n      {\r\n        \"name\": \"azsmnet6005\",\r\n        \"id\": \"/subscriptions/0a4ae132-d38b-487e-9051-a22d852b2834/resourceGroups/csmrg769/providers/Microsoft.Network/applicationGateways/azsmnet5816/gatewayIPConfigurations/azsmnet6005\",\r\n        \"etag\": \"W/\\\"41d3d182-d7ad-45e6-a566-fa2b1f58c210\\\"\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Updating\",\r\n          \"subnet\": {\r\n            \"id\": \"/subscriptions/0a4ae132-d38b-487e-9051-a22d852b2834/resourceGroups/csmrg769/providers/Microsoft.Network/virtualNetworks/azsmnet5442/subnets/azsmnet6012\"\r\n          }\r\n        }\r\n      }\r\n    ],\r\n    \"sslCertificates\": [],\r\n    \"authenticationCertificates\": [\r\n      {\r\n        \"name\": \"azsmnet1422\",\r\n        \"id\": \"/subscriptions/0a4ae132-d38b-487e-9051-a22d852b2834/resourceGroups/csmrg769/providers/Microsoft.Network/applicationGateways/azsmnet5816/authenticationCertificates/azsmnet1422\",\r\n        \"etag\": \"W/\\\"41d3d182-d7ad-45e6-a566-fa2b1f58c210\\\"\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Updating\",\r\n          \"data\": \"MIIDTzCCAjegAwIBAgIQj5oTlR6oy[...]
[...]
    {
      "RequestUri": "/subscriptions/0a4ae132-d38b-487e-9051-a22d852b2834/resourceGroups/csmrg769/providers/Microsoft.Network/applicationGateways/azsmnet5816/backendhealth?api-version=2016-09-01",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "null",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Location": [
          "https://management.azure.com/subscriptions/0a4ae132-d38b-487e-9051-a22d852b2834/providers/Microsoft.Network/locations/westus.validation/operationResults/aefa655f-9b46-48f0-8893-00237860dd06?api-version=2016-09-01"
        ],
        "Retry-After": [
          "10"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ]
      },
      "StatusCode": 202
    },
    {
      "RequestUri": "/subscriptions/0a4ae132-d38b-487e-9051-a22d852b2834/providers/Microsoft.Network/locations/westus.validation/operationResults/aefa655f-9b46-48f0-8893-00237860dd06?api-version=2016-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "null",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Location": [
          "https://management.azure.com/subscriptions/0a4ae132-d38b-487e-9051-a22d852b2834/providers/Microsoft.Network/locations/westus.validation/operationResults/aefa655f-9b46-48f0-8893-00237860dd06?api-version=2016-09-01"
        ],
        "Retry-After": [
          "10"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14977"
        ]
      },
      "StatusCode": 202
    },
    {
      "RequestUri": "/subscriptions/0a4ae132-d38b-487e-9051-a22d852b2834/providers/Microsoft.Network/locations/westus.validation/operationResults/aefa655f-9b46-48f0-8893-00237860dd06?api-version=2016-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"backendAddressPools\": [\r\n    {\r\n      \"backendAddressPool\": {\r\n        \"id\": \"/subscriptions/0a4ae132-d38b-487e-9051-a22d852b2834/resourceGroups/csmrg769/providers/Microsoft.Network/applicationGateways/azsmnet5816/backendAddressPools/azsmnet3426\"\r\n      },\r\n      \"backendHttpSettingsCollection\": [\r\n        {\r\n          \"backendHttpSettings\": {\r\n            \"id\": \"/subscriptions/0a4ae132-d38b-487e-9051-a22d852b2834/resourceGroups/csmrg769/providers/Microsoft.Network/applicationGateways/azsmnet5816/backendHttpSettingsCollection/azsmnet9782\"\r\n          },\r\n          \"servers\": [\r\n            {\r\n              \"address\": \"104.42.6.202\",\r\n              \"health\": \"Unknown\"\r\n            },\r\n            {\r\n              \"address\": \"23.99.1.115\",\r\n              \"health\": \"Unknown\"\r\n            }\r\n          ]\r\n        },\r\n        {\r\n          \"backendHttpSettings\": {\r\n            \"id\": \"/subscriptions/0a4ae132-d38b-487e-9051-a22d852b2834/resourceGroups/csmrg769/providers/Microsoft.Network/applicationGateways/azsmnet5816/backendHttpSettingsCollection/azsmnet5127\"\r\n          },\r\n          \"servers\": [\r\n            {\r\n              \"address\": \"104.42.6.202\",\r\n              \"health\": \"Unknown\"\r\n            },\r\n            {\r\n              \"address\": \"23.99.1.115\",\r\n              \"health\": \"Unknown\"\r\n            }\r\n          ]\r\n        }\r\n      ]\r\n    }\r\n  ]\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Location": [
          "https://management.azure.com/subscriptions/0a4ae132-d38b-487e-9051-a22d852b2834/providers/Microsoft.Network/locations/westus.validation/operationResults/aefa655f-9b46-48f0-8893-00237860dd06?api-version=2016-09-01"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14976"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/0a4ae132-d38b-487e-9051-a22d852b2834/resourceGroups/csmrg769/providers/Microsoft.Network/networkInterfaces/azsmnet3657?api-version=2016-09-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"ipConfigurations\": [\r\n      {\r\n        \"properties\": {\r\n          \"privateIPAllocationMethod\": \"Dynamic\",\r\n          \"subnet\": {\r\n            \"id\": \"/subscriptions/0a4ae132-d38b-487e-9051-a22d852b2834/resourceGroups/csmrg769/providers/Microsoft.Network/virtualNetworks/azsmnet5442/subnets/azsmnet3173\"\r\n          }\r\n        },\r\n        \"name\": \"ipconfig\"\r\n      }\r\n    ]\r\n  },\r\n  \"location\": \"West US\",\r\n  \"tags\": {\r\n    \"key\": \"value\"\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"azsmnet3657\",\r\n  \"id\": \"/subscriptions/0a4ae132-d38b-487e-9051-a22d852b2834/resourceGroups/csmrg769/providers/Microsoft.Network/networkInterfaces/azsmnet3657\",\r\n  \"etag\": \"W/\\\"6f8a688b-5658-4f44-bea0-1b461027ae46\\\"\",\r\n  \"location\": \"westus\",\r\n  \"tags\": {\r\n    \"key\": \"value\"\r\n  },\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"resourceGuid\": \"7108889d-4a7b-40a6-87af-ae39f8161cf7\",\r\n    \"ipConfigurations\": [\r\n      {\r\n        \"name\": \"ipconfig\",\r\n        \"id\": \"/subscriptions/0a4ae132-d38b-487e-9051-a22d852b2834/resourceGroups/csmrg769/providers/Microsoft.Network/networkInterfaces/azsmnet3657/ipConfigurations/ipconfig\",\r\n        \"etag\": \"W/\\\"6f8a688b-5658-4f44-bea0-1b461027ae46\\\"\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"privateIPAddress\": \"10.0.1.4\",\r\n          \"privateIPAllocationMethod\": \"Dynamic\",\r\n          \"subnet\": {\r\n            \"id\": \"/subscriptions/0a4ae132-d38b-487e-9051-a22d852b2834/resourceGroups/csmrg769/providers/Microsoft.Network/virtualNetworks/azsmnet5442/subnets/azsmnet3173\"\r\n          },\r\n          \"primary\": true,\r\n          \"privateIPAddressVersion\": \"IPv4\"\r\n        }\r\n      }\r\n    ],\r\n    \"dnsSettings\": {\r\n      \"dnsServers\": [],\r\n      \"appliedDnsServers\": [],\r\n      \"internalDomainNameSuffix\": \"z2h4ihzhl1aufnnnkuhewceueh.d--x.internal.cloudapp.net\"\r\n    },\r\n    \"enableAcceleratedNetworking\": false,\r\n    \"enableIPForwarding\": false\r\n  },\r\n  \"type\": \"Microsoft.Network/networkInterfaces\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/0a4ae132-d38b-487e-9051-a22d852b2834/providers/Microsoft.Network/locations/westus.validation/operations/3a75712a-b69b-4a07-b868-eee0ada5c5f7?api-version=2016-09-01"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1198"
        ]
      },
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/0a4ae132-d38b-487e-9051-a22d852b2834/resourceGroups/csmrg769/providers/Microsoft.Network/networkInterfaces/azsmnet3657?api-version=2016-09-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"ipConfigurations\": [\r\n      {\r\n        \"properties\": {\r\n          \"applicationGatewayBackendAddressPools\": [\r\n            {\r\n              \"properties\": {\r\n                \"backendAddresses\": [],\r\n                \"provisioningState\": \"Succeeded\"\r\n              },\r\n              \"name\": \"azsmnet9377\",\r\n              \"etag\": \"W/\\\"a63b9c99-8fa8-44b3-9e8c-ad42c36fb8cf\\\"\",\r\n              \"id\": \"/subscriptions/0a4ae132-d38b-487e-9051-a22d852b2834/resourceGroups/csmrg769/providers/Microsoft.Network/applicationGateways/azsmnet5816/backendAddressPools/azsmnet9377\"\r\n [...]
[...]
    {
      "RequestUri": "/subscriptions/0a4ae132-d38b-487e-9051-a22d852b2834/resourceGroups/csmrg769/providers/Microsoft.Network/applicationGateways/azsmnet5816/start?api-version=2016-09-01",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/0a4ae132-d38b-487e-9051-a22d852b2834/providers/Microsoft.Network/locations/westus.validation/operationResults/fd84729b-25ee-40cd-a46b-cac7fa3b1fe9?api-version=2016-09-01"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/0a4ae132-d38b-487e-9051-a22d852b2834/providers/Microsoft.Network/locations/westus.validation/operations/fd84729b-25ee-40cd-a46b-cac7fa3b1fe9?api-version=2016-09-01"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1194"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/0a4ae132-d38b-487e-9051-a22d852b2834/resourceGroups/csmrg769/providers/Microsoft.Network/applicationGateways/azsmnet5816/stop?api-version=2016-09-01",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/0a4ae132-d38b-487e-9051-a22d852b2834/providers/Microsoft.Network/locations/westus.validation/operationResults/6b5a28fb-d487-4180-8d51-c7d0f196b26b?api-version=2016-09-01"
        ],
        "Retry-After": [
          "10"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/0a4ae132-d38b-487e-9051-a22d852b2834/providers/Microsoft.Network/locations/westus.validation/operations/6b5a28fb-d487-4180-8d51-c7d0f196b26b?api-version=2016-09-01"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1193"
        ]
      },
      "StatusCode": 202
    },
[...]
    {
      "RequestUri": "/subscriptions/0a4ae132-d38b-487e-9051-a22d852b2834/providers/Microsoft.Network/locations/westus.validation/operations/0c452f32-7200-475d-8944-eec5e2843dd0?api-version=2016-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"status\": \"Succeeded\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14950"
        ]
      },
      "StatusCode": 200
    }
  ],
  "Names": {
    "ApplicationGatewayApiTest": [
      "csmrg769",
      "azsmnet5442",
      "azsmnet6012",
      "azsmnet3173",
      "azsmnet5816",
      "azsmnet3657",
      "azsmnet3349"
    ],
    "CreateApplicationGateway": [
      "azsmnet6005",
      "azsmnet1400",
      "azsmnet8510",
      "azsmnet667",
      "azsmnet3426",
      "azsmnet9377",
      "azsmnet9782",
      "azsmnet5127",
      "azsmnet6462",
      "azsmnet9951",
      "azsmnet5077",
      "azsmnet7866",
      "azsmnet9977",
      "azsmnet9992",
      "azsmnet1422"
    ]
  },
  "Variables": {
    "SubscriptionId": "0a4ae132-d38b-487e-9051-a22d852b2834"
  }
}