{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11857"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "TagKey-9823": "TagValue-566",
          "TagKey-3481": "TagValue-320",
          "TagKey-4926": "TagValue-1187",
          "TagKey-751": "TagValue-3921",
          "TagKey-1866": "TagValue-8559",
          "TagKey-3094": "TagValue-9190",
          "TagKey-2449": "TagValue-9",
          "TagKey-8379": "TagValue-164",
          "TagKey-7470": "TagValue-2205",
          "TagKey-4236": "TagValue-3698",
          "TagKey-5316": "TagValue-2725"
        },
        "subscriptionId": "db1ab6f0-4769-4b27-930e-01e2ef9c123c",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": ".NET Mgmt SDK Test with TTL = 1 Day",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourcegroups/MediaServiceRG2076?api-version=2021-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus2"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1135"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/MediaServiceRG2076",
        "name": "MediaServiceRG2076",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus2",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/MediaServiceRG2076/providers/Microsoft.Storage/storageAccounts/azstorageformedia5810?api-version=2021-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "sku": {
          "name": "Standard_LRS"
        },
        "kind": "BlobStorage",
        "location": "westus2",
        "properties": {
          "accessTier": "Hot"
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "text/plain; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Storage/locations/westus2/asyncoperations/7b27f6f1-cea5-4b94-b764-af035e3ee9da?monitor=true\u0026api-version=2021-09-01",
        "Retry-After": "17",
        "x-ms-ratelimit-remaining-subscription-writes": "1134"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Storage/locations/westus2/asyncoperations/7b27f6f1-cea5-4b94-b764-af035e3ee9da?monitor=true\u0026api-version=2021-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "text/plain; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Storage/locations/westus2/asyncoperations/7b27f6f1-cea5-4b94-b764-af035e3ee9da?monitor=true\u0026api-version=2021-09-01",
        "Retry-After": "17",
        "x-ms-ratelimit-remaining-subscription-reads": "11856"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Storage/locations/westus2/asyncoperations/7b27f6f1-cea5-4b94-b764-af035e3ee9da?monitor=true\u0026api-version=2021-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ratelimit-remaining-subscription-reads": "11855"
      },
      "ResponseBody": {
        "sku": {
          "name": "Standard_LRS",
          "tier": "Standard"
        },
        "kind": "BlobStorage",
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/MediaServiceRG2076/providers/Microsoft.Storage/storageAccounts/azstorageformedia5810",
        "name": "azstorageformedia5810",
        "type": "Microsoft.Storage/storageAccounts",
        "location": "westus2",
        "tags": {},
        "properties": {
          "keyCreationTime": {
            "key1": "2022-08-17T02:22:11.8763533Z",
            "key2": "2022-08-17T02:22:11.8763533Z"
          },
          "privateEndpointConnections": [],
          "minimumTlsVersion": "TLS1_0",
          "allowBlobPublicAccess": true,
          "networkAcls": {
            "bypass": "AzureServices",
            "virtualNetworkRules": [],
            "ipRules": [],
            "defaultAction": "Allow"
          },
          "supportsHttpsTrafficOnly": true,
          "encryption": {
            "services": {
              "file": {
                "keyType": "Account",
                "enabled": true,
                "lastEnabledTime": "2022-08-17T02:22:11.8763533Z"
              },
              "blob": {
                "keyType": "Account",
                "enabled": true,
                "lastEnabledTime": "2022-08-17T02:22:11.8763533Z"
              }
            },
            "keySource": "Microsoft.Storage"
          },
          "accessTier": "Hot",
          "provisioningState": "Succeeded",
          "creationTime": "2022-08-17T02:22:11.7826320Z",
          "primaryEndpoints": {
            "dfs": "https://azstorageformedia5810.dfs.core.windows.net/",
            "blob": "https://azstorageformedia5810.blob.core.windows.net/",
            "table": "https://azstorageformedia5810.table.core.windows.net/"
          },
          "primaryLocation": "westus2",
          "statusOfPrimary": "available"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/MediaServiceRG2076/providers/Microsoft.Media/mediaservices/mediaservice3579?api-version=2021-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "westus2",
        "properties": {
          "storageAccounts": [
            {
              "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/MediaServiceRG2076/providers/Microsoft.Storage/storageAccounts/azstorageformedia5810",
              "type": "Primary"
            }
          ]
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Media/locations/westus2/mediaServicesOperationStatuses/c542ce8b-16a8-4036-8af6-842ced86444a?api-version=2021-11-01",
        "Content-Type": "application/json; odata.metadata=minimal",
        "Location": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Media/locations/westus2/mediaServicesOperationResults/c542ce8b-16a8-4036-8af6-842ced86444a?api-version=2021-11-01",
        "OData-Version": "4.0",
        "Retry-After": "30",
        "x-ms-ratelimit-remaining-subscription-writes": "1133"
      },
      "ResponseBody": {
        "name": "mediaservice3579",
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/MediaServiceRG2076/providers/Microsoft.Media/mediaservices/mediaservice3579",
        "type": "Microsoft.Media/mediaservices",
        "location": "West US 2",
        "tags": {},
        "properties": {
          "mediaServiceId": "1e47bd16-74fd-4d01-b532-9b424c4e8285",
          "storageAccounts": [
            {
              "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/MediaServiceRG2076/providers/Microsoft.Storage/storageAccounts/azstorageformedia5810",
              "type": "Primary"
            }
          ],
          "keyDelivery": {
            "accessControl": {
              "defaultAction": "Allow",
              "ipAllowList": []
            }
          },
          "publicNetworkAccess": "Enabled",
          "provisioningState": "InProgress",
          "privateEndpointConnections": []
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Media/locations/westus2/mediaServicesOperationStatuses/c542ce8b-16a8-4036-8af6-842ced86444a?api-version=2021-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal; odata.streaming=true",
        "OData-Version": "4.0",
        "x-ms-ratelimit-remaining-subscription-reads": "11854"
      },
      "ResponseBody": {
        "name": "c542ce8b-16a8-4036-8af6-842ced86444a",
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Media/locations/westus2/mediaServicesOperationStatuses/c542ce8b-16a8-4036-8af6-842ced86444a",
        "startTime": "2022-08-17T02:22:33.8830709Z",
        "endTime": "2022-08-17T02:22:34.8212632Z",
        "status": "Succeeded"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/MediaServiceRG2076/providers/Microsoft.Media/mediaservices/mediaservice3579?api-version=2021-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal; odata.streaming=true",
        "OData-Version": "4.0",
        "x-ms-ratelimit-remaining-subscription-reads": "11853"
      },
      "ResponseBody": {
        "name": "mediaservice3579",
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/MediaServiceRG2076/providers/Microsoft.Media/mediaservices/mediaservice3579",
        "type": "Microsoft.Media/mediaservices",
        "location": "West US 2",
        "properties": {
          "mediaServiceId": "1e47bd16-74fd-4d01-b532-9b424c4e8285",
          "storageAccounts": [
            {
              "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/MediaServiceRG2076/providers/Microsoft.Storage/storageAccounts/azstorageformedia5810",
              "type": "Primary"
            }
          ],
          "storageAuthentication": "System",
          "encryption": {
            "type": "SystemKey"
          },
          "keyDelivery": {
            "accessControl": {
              "defaultAction": "Allow",
              "ipAllowList": []
            }
          },
          "publicNetworkAccess": "Enabled",
          "provisioningState": "Succeeded",
          "privateEndpointConnections": []
        }
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "RandomSeed": "1807144309",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "db1ab6f0-4769-4b27-930e-01e2ef9c123c"
  }
}
