{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/f3d94233-a9aa-4241-ac82-2dfb63ce637a/providers/Microsoft.DocumentDB/databaseAccounts?api-version=2020-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-gatewayversion": "version=2.14.0",
        "x-ms-ratelimit-remaining-subscription-reads": "11922"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/f3d94233-a9aa-4241-ac82-2dfb63ce637a/resourceGroups/Default-CosmosDB-9687/providers/Microsoft.DocumentDB/databaseAccounts/db4937",
            "name": "db4937",
            "location": "West US",
            "type": "Microsoft.DocumentDB/databaseAccounts",
            "kind": "MongoDB",
            "tags": {
              "key3": "value3",
              "key4": "value4"
            },
            "systemData": {
              "createdAt": "2021-08-31T09:04:49.6109213Z"
            },
            "properties": {
              "provisioningState": "Succeeded",
              "documentEndpoint": "https://db4937.documents.azure.com:443/",
              "mongoEndpoint": "https://db4937.mongo.cosmos.azure.com:443/",
              "publicNetworkAccess": "Enabled",
              "enableAutomaticFailover": true,
              "enableMultipleWriteLocations": false,
              "enablePartitionKeyMonitor": false,
              "isVirtualNetworkFilterEnabled": false,
              "virtualNetworkRules": [],
              "EnabledApiTypes": "MongoDB",
              "disableKeyBasedMetadataWriteAccess": true,
              "enableFreeTier": false,
              "enableAnalyticalStorage": false,
              "analyticalStorageConfiguration": null,
              "instanceId": "df1f8666-c59b-47ee-a20f-0616306b5655",
              "databaseAccountOfferType": "Standard",
              "consistencyPolicy": {
                "defaultConsistencyLevel": "BoundedStaleness",
                "maxIntervalInSeconds": 1000,
                "maxStalenessPrefix": 300
              },
              "apiProperties": {
                "serverVersion": "3.6"
              },
              "configurationOverrides": {
                "EnableBsonSchema": "True"
              },
              "writeLocations": [
                {
                  "id": "db4937-westus",
                  "locationName": "West US",
                  "documentEndpoint": "https://db4937-westus.documents.azure.com:443/",
                  "provisioningState": "Succeeded",
                  "failoverPriority": 0,
                  "isZoneRedundant": false
                }
              ],
              "readLocations": [
                {
                  "id": "db4937-westus",
                  "locationName": "West US",
                  "documentEndpoint": "https://db4937-westus.documents.azure.com:443/",
                  "provisioningState": "Succeeded",
                  "failoverPriority": 0,
                  "isZoneRedundant": false
                }
              ],
              "locations": [
                {
                  "id": "db4937-westus",
                  "locationName": "West US",
                  "documentEndpoint": "https://db4937-westus.documents.azure.com:443/",
                  "provisioningState": "Succeeded",
                  "failoverPriority": 0,
                  "isZoneRedundant": false
                }
              ],
              "failoverPolicies": [
                {
                  "id": "db4937-westus",
                  "locationName": "West US",
                  "failoverPriority": 0
                }
              ],
              "cors": [],
              "capabilities": [
                {
                  "name": "EnableMongo"
                }
              ],
              "ipRules": [
                {
                  "ipAddressOrRange": "23.43.230.120"
                }
              ],
              "backupPolicy": {
                "type": "Periodic",
                "periodicModeProperties": {
                  "backupIntervalInMinutes": 240,
                  "backupRetentionIntervalInHours": 8,
                  "backupStorageRedundancy": "Geo"
                }
              }
            }
          }
        ]
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/f3d94233-a9aa-4241-ac82-2dfb63ce637a/resourceGroups/Default-CosmosDB-9687/providers/Microsoft.DocumentDB/databaseAccounts/db4937?api-version=2020-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-gatewayversion": "version=2.14.0",
  [...]
