{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/Default-CosmosDB-7867/providers/Microsoft.DocumentDB/databaseAccounts?api-version=2020-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Location": "https://management.documents.azure.com:450/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/Default-CosmosDB-7867/providers/Microsoft.DocumentDB/databaseAccounts?api-version=2020-04-01",
        "Content-Type": "application/json",
        "x-ms-gatewayversion": "version=2.11.0",
        "x-ms-ratelimit-remaining-subscription-reads": "11885"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/Default-CosmosDB-7867/providers/Microsoft.DocumentDB/databaseAccounts/db4937",
            "name": "db4937",
            "location": "West US",
            "type": "Microsoft.DocumentDB/databaseAccounts",
            "kind": "MongoDB",
            "tags": {
              "key3": "value3",
              "key4": "value4"
            },
            "systemData": {
              "createdAt": "2020-09-23T00:59:43.9499795Z"
            },
            "properties": {
              "provisioningState": "Succeeded",
              "documentEndpoint": "https://db4937.documents.azure.com:443/",
              "publicNetworkAccess": "Enabled",
              "enableAutomaticFailover": true,
              "enableMultipleWriteLocations": false,
              "enablePartitionKeyMonitor": false,
              "isVirtualNetworkFilterEnabled": false,
              "virtualNetworkRules": [],
              "EnabledApiTypes": "MongoDB",
              "disableKeyBasedMetadataWriteAccess": true,
              "enableFreeTier": false,
              "enableAnalyticalStorage": false,
              "instanceId": "363f8b81-7fd7-4baa-ac5d-857651783a20",
              "createMode": "Default",
              "databaseAccountOfferType": "Standard",
              "consistencyPolicy": {
                "defaultConsistencyLevel": "BoundedStaleness",
                "maxIntervalInSeconds": 1000,
                "maxStalenessPrefix": 300
              },
              "apiProperties": {
                "serverVersion": "3.2"
              },
              "configurationOverrides": {
                "EnableBsonSchema": "True"
              },
              "writeLocations": [
                {
                  "id": "db4937-westus",
                  "locationName": "West US",
                  "documentEndpoint": "https://db4937-westus.documents.azure.com:443/",
                  "provisioningState": "Succeeded",
                  "failoverPriority": 0,
                  "isZoneRedundant": false
                }
              ],
              "readLocations": [
                {
                  "id": "db4937-westus",
                  "locationName": "West US",
                  "documentEndpoint": "https://db4937-westus.documents.azure.com:443/",
                  "provisioningState": "Succeeded",
                  "failoverPriority": 0,
                  "isZoneRedundant": false
                }
              ],
              "locations": [
                {
                  "id": "db4937-westus",
                  "locationName": "West US",
                  "documentEndpoint": "https://db4937-westus.documents.azure.com:443/",
                  "provisioningState": "Succeeded",
                  "failoverPriority": 0,
                  "isZoneRedundant": false
                }
              ],
              "failoverPolicies": [
                {
                  "id": "db4937-westus",
                  "locationName": "West US",
                  "failoverPriority": 0
                }
              ],
              "cors": [],
              "capabilities": [],
              "ipRules": [
                {
                  "ipAddressOrRange": "23.43.230.120"
                }
              ],
              "backupPolicy": {
                "type": "Periodic",
                "periodicModeProperties": {
                  "backupIntervalInMinutes": 240,
                  "backupRetentionIntervalInHours": 8
                }
              }
            }
          }
        ]
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/Default-CosmosDB-7867/providers/Microsoft.DocumentDB/databaseAccounts/db4937?api-version=2020-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Location": "https://management.documents.azure.com:450/subscriptions/db1ab6f0-[...]
