{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/f3d94233-a9aa-4241-ac82-2dfb63ce637a/resourceGroups/Default-CosmosDB-9687/providers/Microsoft.DocumentDB/databaseAccounts/db4937/metricDefinitions?api-version=2020-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-gatewayversion": "version=2.14.0",
        "x-ms-ratelimit-remaining-subscription-reads": "11995"
      },
      "ResponseBody": {
        "value": [
          {
            "metricAvailabilities": [
              {
                "timeGrain": "PT5M",
                "retention": "P2D"
              },
              {
                "timeGrain": "PT1H",
                "retention": "P14D"
              },
              {
                "timeGrain": "P1D",
                "retention": "P60D"
              }
            ],
            "primaryAggregationType": "Last",
            "unit": "Bytes",
            "resourceUri": "/subscriptions/f3d94233-a9aa-4241-ac82-2dfb63ce637a/resourceGroups/Default-CosmosDB-9687/providers/Microsoft.DocumentDB/databaseAccounts/db4937",
            "name": {
              "value": "Data Size",
              "localizedValue": "Data Size"
            }
          },
          {
            "metricAvailabilities": [
              {
                "timeGrain": "PT5M",
                "retention": "P2D"
              },
              {
                "timeGrain": "PT1H",
                "retention": "P14D"
              },
              {
                "timeGrain": "P1D",
                "retention": "P60D"
              }
            ],
            "primaryAggregationType": "Last",
            "unit": "Bytes",
     [...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/f3d94233-a9aa-4241-ac82-2dfb63ce637a/resourceGroups/Default-CosmosDB-9687/providers/Microsoft.DocumentDB/databaseAccounts/db4937/metrics?api-version=2020-04-01&$filter=%28name.value%20eq%20%27Total%20Requests%27%29%20and%20timeGrain%20eq%20duration%27PT5M%27",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-gatewayversion": "version=2.14.0",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "49"
      },
      "ResponseBody": {
        "value": []
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/f3d94233-a9aa-4241-ac82-2dfb63ce637a/resourceGroups/Default-CosmosDB-9687/providers/Microsoft.DocumentDB/databaseAccounts/db4937/region/WEST%20US/metrics?api-version=2020-04-01&$filter=%28name.value%20eq%20%27Total%20Requests%27%29%20and%20timeGrain%20eq%20duration%27PT5M%27",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-gatewayversion": "version=2.14.0",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "49"
      },
      "ResponseBody": {
        "value": []
      }
    }
  ],
  "Variables": {
    "RandomSeed": "119969010"
  }
}