{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11996"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "TagKey-9823": "TagValue-1254",
          "TagKey-3481": "TagValue-320",
          "TagKey-4926": "TagValue-1187",
          "TagKey-751": "TagValue-3921",
          "TagKey-1866": "TagValue-8559",
          "TagKey-3094": "TagValue-9190",
          "TagKey-2449": "TagValue-9",
          "TagKey-8379": "TagValue-164",
          "TagKey-7470": "TagValue-2205",
          "TagKey-4236": "TagValue-3698",
          "TagKey-5316": "TagValue-2725"
        },
        "subscriptionId": "db1ab6f0-4769-4b27-930e-01e2ef9c123c",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": ".NET Mgmt SDK Test with TTL = 1 Day",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourcegroups/PurviewRG8307?api-version=**",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/PurviewRG8307",
        "name": "PurviewRG8307",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/PurviewRG8307/providers/Microsoft.Purview/accounts/purviewAccount853?api-version=2021-07-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "identity": {
          "type": "SystemAssigned"
        },
        "tags": {},
        "location": "eastus",
        "properties": {}
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2020-12-01-preview, 2021-07-01, 2021-12-01",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/PurviewRG8307/providers/Microsoft.Purview/accounts/purviewAccount853?api-version=2021-07-01",
        "x-ms-account-status": "Creating",
        "x-ms-ratelimit-remaining-subscription-writes": "1198"
      },
      "ResponseBody": {
        "sku": {
          "name": "Standard",
          "capacity": 1
        },
        "properties": {
          "cloudConnectors": {
            "awsExternalId": "0d7e3aad-1f9a-4286-9991-847542c5c70f"
          },
          "friendlyName": "purviewAccount853",
          "createdBy": "8e6d47e0-7969-4fde-a62c-4fea4f165e98",
          "createdByObjectId": "7bee3764-dbea-4729-9c33-446f321aa721",
          "createdAt": "2023-03-10T06:05:47.288202Z",
          "endpoints": {
            "catalog": "https://purviewAccount853.purview.azure.com/catalog",
            "scan": "https://purviewAccount853.purview.azure.com/scan",
            "guardian": "https://purviewAccount853.purview.azure.com/guardian"
          },
          "provisioningState": "Creating",
          "privateEndpointConnections": [],
          "publicNetworkAccess": "Enabled",
          "managedResourceGroupName": "managed-rg-bqspiyp"
        },
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/PurviewRG8307/providers/Microsoft.Purview/accounts/purviewAccount853",
        "name": "purviewAccount853",
        "type": "Microsoft.Purview/accounts",
        "location": "eastus",
        "identity": {
          "type": "SystemAssigned",
          "principalId": "007c94b7-9856-49e5-a727-18e2a8ad71f1",
          "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47"
        },
        "tags": {},
        "systemData": {
          "createdBy": "8e6d47e0-7969-4fde-a62c-4fea4f165e98",
          "createdByType": "Application",
          "createdAt": "2023-03-10T06:05:47.288202Z",
          "lastModifiedBy": "8e6d47e0-7969-4fde-a62c-4fea4f165e98",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2023-03-10T06:05:47.288202Z"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/PurviewRG8307/providers/Microsoft.Purview/accounts/purviewAccount853?api-version=2021-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2020-12-01-preview, 2021-07-01, 2021-12-01",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-account-status": "Succeeded",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "sku": {
          "name": "Standard",
          "capacity": 1
        },
        "properties": {
          "cloudConnectors": {
            "awsExternalId": "0d7e3aad-1f9a-4286-9991-847542c5c70f"
          },
          "friendlyName": "purviewAccount853",
          "createdBy": "8e6d47e0-7969-4fde-a62c-4fea4f165e98",
          "createdByObjectId": "7bee3764-dbea-4729-9c33-446f321aa721",
          "createdAt": "2023-03-10T06:05:47.288202Z",
          "endpoints": {
            "catalog": "https://purviewAccount853.purview.azure.com/catalog",
            "scan": "https://purviewAccount853.purview.azure.com/scan",
            "guardian": "https://purviewAccount853.purview.azure.com/guardian"
          },
          "provisioningState": "Succeeded",
          "privateEndpointConnections": [],
          "managedResources": {
            "resourceGroup": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/managed-rg-bqspiyp",
            "storageAccount": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/managed-rg-bqspiyp/providers/Microsoft.Storage/storageAccounts/scaneastuszjopeer",
            "eventHubNamespace": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/managed-rg-bqspiyp/providers/Microsoft.EventHub/namespaces/Atlas-54b5bf64-be5f-407a-b1ec-b52af5aa5b56"
          },
          "publicNetworkAccess": "Enabled",
          "managedResourceGroupName": "managed-rg-bqspiyp"
        },
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/PurviewRG8307/providers/Microsoft.Purview/accounts/purviewAccount853",
        "name": "purviewAccount853",
        "type": "Microsoft.Purview/accounts",
        "location": "eastus",
        "identity": {
          "type": "SystemAssigned",
          "principalId": "007c94b7-9856-49e5-a727-18e2a8ad71f1",
          "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47"
        },
        "tags": {},
        "systemData": {
          "createdBy": "8e6d47e0-7969-4fde-a62c-4fea4f165e98",
          "createdByType": "Application",
          "createdAt": "2023-03-10T06:05:47.288202Z",
          "lastModifiedBy": "8e6d47e0-7969-4fde-a62c-4fea4f165e98",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2023-03-10T06:05:47.288202Z"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/PurviewRG8307/providers/Microsoft.Purview/accounts/purviewAccount853?api-version=2021-07-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {
          "addtagkey": "addtagvalue"
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "api-supported-versions": "2020-12-01-preview, 2021-07-01, 2021-12-01",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/PurviewRG8307/providers/Microsoft.Purview/accounts/purviewAccount853/operationResults/ef4d6073-793a-48c5-8780-879c727b2f2b?api-version=2021-07-01",
        "x-[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/PurviewRG8307/providers/Microsoft.Purview/accounts/purviewAccount853/operationResults/ef4d6073-793a-48c5-8780-879c727b2f2b?api-version=2021-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "api-supported-versions": "2020-12-01-preview, 2021-07-01, 2021-12-01",
        "Location": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/PurviewRG8307/providers/Microsoft.Purview/accounts/purviewAccount853/operationResults/ef4d6073-793a-48c5-8780-879c727b2f2b?api-version=2021-07-01",
        "x-ms-ratelimit-remaining-subscription-reads": "11991"
      },
      "ResponseBody": null
    },
[...]
