{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/49d64d54-e966-4c46-a868-1999802b762c?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11913"
      },
      "ResponseBody": {
        "id": "/subscriptions/49d64d54-e966-4c46-a868-1999802b762c",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "SkipCleanup": "true"
        },
        "subscriptionId": "49d64d54-e966-4c46-a868-1999802b762c",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": "Az WaaS Test 1",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/49d64d54-e966-4c46-a868-1999802b762c/resourcegroups/netSdkTest-4919?api-version=**",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus2"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1195"
      },
      "ResponseBody": {
        "id": "/subscriptions/49d64d54-e966-4c46-a868-1999802b762c/resourceGroups/netSdkTest-4919",
        "name": "netSdkTest-4919",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus2",
        "tags": {
          "Created": "20230224"
        },
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/49d64d54-e966-4c46-a868-1999802b762c/resourcegroups/A98appRg-7108?api-version=**",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus2"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1194"
      },
      "ResponseBody": {
        "id": "/subscriptions/49d64d54-e966-4c46-a868-1999802b762c/resourceGroups/A98appRg-7108",
        "name": "A98appRg-7108",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus2",
        "tags": {
          "Created": "20230224"
        },
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/49d64d54-e966-4c46-a868-1999802b762c/resourceGroups/netSdkTest-4919/providers/Microsoft.Workloads/sapVirtualInstances/A98?api-version=2022-11-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "identity": {
          "type": "UserAssigned",
          "userAssignedIdentities": {
            "/subscriptions/49d64d54-e966-4c46-a868-1999802b762c/resourceGroups/SAP-E2ETest-rg/providers/Microsoft.ManagedIdentity/userAssignedIdentities/E2E-RBAC-MSI": {}
          }
        },
        "tags": {
          "e2e-test": "SVIThreeTierHAAvSet"
        },
        "location": "eastus2",
        "properties": {
          "environment": "NonProd",
          "sapProduct": "S4HANA",
          "configuration": {
            "appLocation": "eastus",
            "infrastructureConfiguration": {
              "centralServer": {
                "subnetId": "/subscriptions/49d64d54-e966-4c46-a868-1999802b762c/resourceGroups/SAP-E2ETest-rg/providers/Microsoft.Network/virtualNetworks/loop-test-vnet/subnets/loopsubnet",
                "virtualMachineConfiguration": {
                  "vmSize": "Standard_E4ds_v4",
                  "imageReference": {
                    "publisher": "RedHat",
                    "offer": "RHEL-SAP-HA",
                    "sku": "84sapha-gen2",
                    "version": "8.4.2021091202"
                  },
                  "osProfile": {
                    "adminUsername": "azureuser",
                    "osConfiguration": {
                      "disablePasswordAuthentication": true,
                      "sshKeyPair": {
                        "publicKey": "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQC8k1K0mjpBtyBRcr\u002B74p6zShq09hMXmQZJJem41RlqV132kbGUy/EHcQLoOmp2qdv6Kz/jgz49YWM2WxxhB8G\u002BUh8G58feYFaGNkT\u002BWTrfE/XLHxFnXMghZgCEiV8vfNUROuHux7UfsxiDt6Nw2215fkJ8lQjQEduKPfS7OmoQQDUvGeg8rxUbwouYdR9z5MmcNKSiBC0Z3EEBWVkY0jsbASarE9iRLDT5JrXeeZWCSe\u002B/lg3Ofe7b28f\u002BnXo9LH/voRVc\u002BeKsx6T6reW9wVtm6ygEBXZbqvuEeqISgLvSFWXD7SsO2CbyJpmaOkzjIMbzlaHV126\u002BPYdAY2vf0gVhCwRt5wU/ueFloMmTb3HbLkyVczluBUsSfcJ3H5DYPECiCy5qKaPsGHDzFGByc/0Yy\u002BfNn2L/WrNgNuC3LaeszTZ7YqNVo/6tXTGSqOMrv8AD1rP71sX2HDSdlLf/HyLRgNjfJn/KR3ZE9QZ2Hl9TRcZ9DN\u002BV/wvc/lci/7nsSx0= generated-by-azure",
                        "privateKey": "Sanitized\nSanitized\nSanitized\nSanitized\nSanitized\nSanitized\nSanitized\nSanitized\nSanitized\nSanitized\nSanitized\nSanitized\nSanitized\nSanitized\nSanitized\nSanitized\nSanitized\nSanitized\nSanitized\nSanitized\nSanitized\nSanitized\nSanitized\nSanitized\nSanitized\nSanitized\nSanitized\nSanitized\nSanitized\nSanitized\nSanitized\nSanitized\nSanitized\nSanitized\nSanitized\nSanitized\nSanitized\nSanitized\nSanitized\n"
                      },
                      "osType": "Linux"
                    }
                  }
                },
                "instanceCount": 2
              },
              "applicationServer": {
                "subnetId": "/subscriptions/49d64d54-e966-4c46-a868-1999802b762c/resourceGroups/SAP-E2ETest-rg/providers/Microsoft.Network/virtualNetworks/loop-test-vnet/subnets/loopsubnet",
                "virtualMachineConfiguration": {
                  "vmSize": "Standard_E4ds_v4",
                  "imageReference": {
                    "publisher": "RedHat",
                    "offer": "RHEL-SAP-HA",
                    "sku": "84sapha-gen2",
                    "version": "8.4.20210[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/49d64d54-e966-4c46-a868-1999802b762c/providers/Microsoft.Workloads/locations/EASTUS2/operationStatuses/1f7f9fa4-a790-4535-8f51-b6abb54168d6*0C605090B3C7CB876DFC1E72857BA46BABDCC0DAB31B337C8C61F0402A6DB189?api-version=2022-11-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00224d00fbf7-0000-0100-0000-63f8657c0000\u0022",
        "x-ms-ratelimit-remaining-subscription-reads": "11912"
      },
      "ResponseBody": {
        "id": "/subscriptions/49d64d54-e966-4c46-a868-1999802b762c/providers/Microsoft.Workloads/locations/EASTUS2/operationStatuses/1f7f9fa4-a790-4535-8f51-b6abb54168d6*0C605090B3C7CB876DFC1E72857BA46BABDCC0DAB31B337C8C61F0402A6DB189",
        "name": "1f7f9fa4-a790-4535-8f51-b6abb54168d6*0C605090B3C7CB876DFC1E72857BA46BABDCC0DAB31B337C8C61F0402A6DB189",
        "resourceId": "/subscriptions/49d64d54-e966-4c46-a868-1999802b762c/resourceGroups/netSdkTest-4919/providers/Microsoft.Workloads/sapVirtualInstances/A98",
        "status": "Accepted",
        "startTime": "2023-02-24T07:21:32.0463701Z"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/49d64d54-e966-4c46-a868-1999802b762c/providers/Microsoft.Workloads/locations/EASTUS2/operationStatuses/1f7f9fa4-a790-4535-8f51-b6abb54168d6*0C605090B3C7CB876DFC1E72857BA46BABDCC0DAB31B337C8C61F0402A6DB189?api-version=2022-11-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00224e007002-0000-0100-0000-63f86c700000\u0022",
        "x-ms-ratelimit-remaining-subscription-reads": "11866"
      },
      "ResponseBody": {
        "id": "/subscriptions/49d64d54-e966-4c46-a868-1999802b762c/providers/Microsoft.Workloads/locations/EASTUS2/operationStatuses/1f7f9fa4-a790-4535-8f51-b6abb54168d6*0C605090B3C7CB876DFC1E72857BA46BABDCC0DAB31B337C8C61F0402A6DB189",
        "name": "1f7f9fa4-a790-4535-8f51-b6abb54168d6*0C605090B3C7CB876DFC1E72857BA46BABDCC0DAB31B337C8C61F0402A6DB189",
        "resourceId": "/subscriptions/49d64d54-e966-4c46-a868-1999802b762c/resourceGroups/netSdkTest-4919/providers/Microsoft.Workloads/sapVirtualInstances/A98",
        "status": "Succeeded",
        "startTime": "2023-02-24T07:21:32.0463701Z",
        "endTime": "2023-02-24T07:51:12.3994255Z",
        "properties": null
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/49d64d54-e966-4c46-a868-1999802b762c/resourceGroups/netSdkTest-4919/providers/Microsoft.Workloads/sapVirtualInstances/A98?api-version=2022-11-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00227e04a923-0000-0100-0000-63f86c700000\u0022",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-reads": "11865"
      },
      "ResponseBody": {
        "id": "/subscriptions/49d64d54-e966-4c46-a868-1999802b762c/resourceGroups/netSdkTest-4919/providers/Microsoft.Workloads/sapVirtualInstances/A98",
        "name": "A98",
        "type": "microsoft.workloads/sapvirtualinstances",
        "location": "eastus2",
        "tags": {
          "e2e-test": "SVIThreeTierHAAvSet"
        },
        "systemData": {
          "createdBy": "b4fe472c-a147-40e8-8824-24b9fa72af38",
          "createdByType": "Application",
          "createdAt": "2023-02-24T07:21:29.6087765Z",
          "lastModifiedBy": "b4fe472c-a147-40e8-8824-24b9fa72af38",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2023-02-24T07:21:29.6087765Z"
        },
        "identity": {
          "type": "UserAssigned",
          "userAssignedIdentities": {
            "/subscriptions/49d64d54-e966-4c46-a868-1999802b762c/resourcegroups/SAP-E2ETest-rg/providers/Microsoft.ManagedIdentity/userAssignedIdentities/E2E-RBAC-MSI": {
              "principalId": "b7202d53-6b98-4194-8748-4f13a9000072",
              "clientId": "914aa6fe-5e5f-4b55-9b68-39da0ad86ee7"
            }
          }
        },
        "properties": {
          "environment": "NonProd",
          "sapProduct": "S4HANA",
          "configuration": {
            "configurationType": "DeploymentWithOSConfig",
            "appLocation": "eastus",
            "infrastructureConfiguration": {
              "deploymentType": "ThreeTier",
              "centralServer": {
                "subnetId": "/subscriptions/49d64d54-e966-4c46-a868-1999802b762c/resourceGroups/SAP-E2ETest-rg/providers/Microsoft.Network/virtualNetworks/loop-test-vnet/subnets/loopsubnet",
                "virtualMachineConfiguration": {
                  "vmSize": "Standard_E4ds_v4",
                  "imageReference": {
                    "sku": "84sapha-gen2",
                    "publisher": "RedHat",
                    "version": "8.4.20210[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/49d64d54-e966-4c46-a868-1999802b762c/resourceGroups/netSdkTest-4919/providers/Microsoft.Workloads/sapVirtualInstances/A98?api-version=2022-11-01-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {
          "Key1": "TestPatchValue"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-12-01-preview, 2022-10-15-preview, 2022-11-01-preview",
        "Azure-AsyncOperation": "subscriptions/49d64d54-e966-4c46-a868-1999802b762c/providers/Microsoft.Workloads/locations/EASTUS2/operationStatuses/87f6d11c-0565-4ce3-b283-f4b81087a7aa*0C605090B3C7CB876DFC1E72857BA46BABDCC0DAB31B337C8C61F0402A6DB189?api-version=2022-11-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00227e045431-0000-0100-0000-63f86c7a0000\u0022",
        "mise-correlation-id": "fa405041-d8e3-45d4-bba7-96e0d07f65bf",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-writes": "1195"
      },
      "ResponseBody": {
        "id": "/subscriptions/49d64d54-e966-4c46-a868-1999802b762c/resourceGroups/netSdkTest-4919/providers/Microsoft.Workloads/sapVirtualInstances/A98",
        "name": "A98",
        "type": "microsoft.workloads/sapvirtualinstances",
        "location": "eastus2",
        "tags": {
          "Key1": "TestPatchValue"[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/49d64d54-e966-4c46-a868-1999802b762c/resourceGroups/netSdkTest-4919/providers/Microsoft.Workloads/sapVirtualInstances?api-version=2022-11-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-original-request-ids": [
          "05cb9035-7038-4f50-be7b-155c63e2a2ed",
          "b3a2ed12-15e6-4615-8777-5a8155dbbfc7",
          "2bb93cc4-6b17-4e5d-9d1c-d9a8c09a8fb8",
          "c670b5fa-3fd5-44c2-8d21-4f1660199379",
          "7d04b276-7326-4357-9e6e-010d408ee8b8",
          "1cbfb97b-8bfa-4b9c-9737-f69413d94ee6",
          "9ebcab1f-b503-4f5c-bf47-1296db76362b",
          "d21f647a-279e-4dcb-a8a9-f0016a8d0746",
          "4e308b9e-ce81-494e-b509-1dd8318ca20e",
          "9e563024-dd76-4c48-b9b7-1f539e286717",
          "e0c11ab4-d7c4-483d-a579-5f351234c12c",
          "5b249927-1a6f-404d-9a29-a4c75ac30e0c",
          "1d9d2f35-2324-4cc3-998b-15aa5b2a5cc7"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": "11863"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/49d64d54-e966-4c46-a868-1999802b762c/resourceGroups/netSdkTest-4919/providers/Microsoft.Workloads/sapVirtualInstances/A98",
            "name": "A98",
            "type": "microsoft.workloads/sapvirtualinstances",
            "location": "eastus2",
            "tags": {
              "Key1": "TestPatchValue"
            },
            "systemData": {
              "createdBy": "b4fe472c-a147-40e8-8824-24b9fa72af38",
              "createdByType": [...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/49d64d54-e966-4c46-a868-1999802b762c/resourceGroups/netSdkTest-4919/providers/Microsoft.Workloads/sapVirtualInstances/A98/applicationInstances?api-version=2022-11-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/49d64d54-e966-4c46-a868-1999802b762c/resourceGroups/netSdkTest-4919/providers/Microsoft.Workloads/sapVirtualInstances/A98/databaseInstances?api-version=2022-11-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ori[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/49d64d54-e966-4c46-a868-1999802b762c/resourceGroups/netSdkTest-4919/providers/Microsoft.Workloads/sapVirtualInstances/A98/centralInstances?api-version=2022-11-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-orig[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/49d64d54-e966-4c46-a868-1999802b762c/resourceGroups/netSdkTest-4919/providers/Microsoft.Workloads/sapVirtualInstances/A98?api-version=2022-11-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/49d64d54-e966-4c46-a868-1999802b762c/providers/Microsoft.Workloads/locations/EASTUS2/operationStatuses/5253e4b9-f79e-47aa-b903-b4aeed541848*0C605090B3C7CB876DFC1E72857BA46BABDCC0DAB31B337C8C61F0402A6DB189?api-version=2022-11-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00227e04d93d-0000-0100-0000-63f86c830000\u0022",
        "Location": "https://management.azure.com/subscriptions/49d64d54-e966-4c46-a868-1999802b762c/providers/Microsoft.Workloads/locations/EASTUS2/operationStatuses/5253e4b9-f79e-47aa-b903-b4aeed541848*0C605090B3C7CB876DFC1E72857BA46BABDCC0DAB31B337C8C61F0402A6DB189?api-version=2022-11-01-preview",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-deletes": "14998"
      },
      "ResponseBody": "null"
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/49d64d54-e966-4c46-a868-1999802b762c/providers/Microsoft.Workloads/locations/EASTUS2/operationStatuses/5253e4b9-f79e-47aa-b903-b4aeed541848*0C605090B3C7CB876DFC1E72857BA46BABDCC0DAB31B337C8C61F0402A6DB189?api-version=2022-11-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002217016c48-0000-0800-0000-63f86d420000\u0022",
        "x-ms-ratelimit-remaining-subscription-reads": "11847"
      },
      "ResponseBody": {
        "id": "/subscriptions/49d64d54-e966-4c46-a868-1999802b762c/providers/Microsoft.Workloads/locations/EASTUS2/operationStatuses/5253e4b9-f79e-47aa-b903-b4aeed541848*0C605090B3C7CB876DFC1E72857BA46BABDCC0DAB31B337C8C61F0402A6DB189",
        "name": "5253e4b9-f79e-47aa-b903-b4aeed541848*0C605090B3C7CB876DFC1E72857BA46BABDCC0DAB31B337C8C61F0402A6DB189",
        "resourceId": "/subscriptions/49d64d54-e966-4c46-a868-1999802b762c/resourceGroups/netSdkTest-4919/providers/Microsoft.Workloads/sapVirtualInstances/A98",
        "status": "Succeeded",
        "startTime": "2023-02-24T07:51:31.1655312Z",
        "properties": null
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "RandomSeed": "1384641883",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "49d64d54-e966-4c46-a868-1999802b762c"
  }
}
