{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/49d64d54-e966-4c46-a868-1999802b762c?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "id": "/subscriptions/49d64d54-e966-4c46-a868-1999802b762c",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "SkipCleanup": "true"
        },
        "subscriptionId": "49d64d54-e966-4c46-a868-1999802b762c",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": "Az WaaS Test 1",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/49d64d54-e966-4c46-a868-1999802b762c/resourcegroups/netSdkTest-5954?api-version=**",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus2"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "id": "/subscriptions/49d64d54-e966-4c46-a868-1999802b762c/resourceGroups/netSdkTest-5954",
        "name": "netSdkTest-5954",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus2",
        "tags": {
          "Created": "20230403"
        },
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/49d64d54-e966-4c46-a868-1999802b762c/resourcegroups/ZW9appRg-1274?api-version=**",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus2"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "id": "/subscriptions/49d64d54-e966-4c46-a868-1999802b762c/resourceGroups/ZW9appRg-1274",
        "name": "ZW9appRg-1274",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus2",
        "tags": {
          "Created": "20230403"
        },
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/49d64d54-e966-4c46-a868-1999802b762c/resourceGroups/netSdkTest-5954/providers/Microsoft.Workloads/sapVirtualInstances/ZW9?api-version=2023-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "identity": {
          "type": "UserAssigned",
          "userAssignedIdentities": {
            "/subscriptions/49d64d54-e966-4c46-a868-1999802b762c/resourceGroups/SAP-E2ETest-rg/providers/Microsoft.ManagedIdentity/userAssignedIdentities/E2E-RBAC-MSI": {}
          }
        },
        "tags": {
          "Testing": "Install"
        },
        "location": "eastus2euap",
        "properties": {
          "environment": "NonProd",
          "sapProduct": "S4HANA",
          "configuration": {
            "appLocation": "eastus",
            "infrastructureConfiguration": {
              "centralServer": {
                "subnetId": "/subscriptions/49d64d54-e966-4c46-a868-1999802b762c/resourceGroups/SAP-E2ETest-rg/providers/Microsoft.Network/virtualNetworks/loop-test-vnet/subnets/loopsubnet",
                "virtualMachineConfiguration": {
                  "vmSize": "Standard_E4ds_v4",
                  "imageReference": {
                    "publisher": "RedHat",
                    "offer": "RHEL-SAP-HA",
                    "sku": "84sapha-gen2",
                    "version": "latest"
                  },
                  "osProfile": {
                    "adminUsername": "username",
                    "adminPassword": "password",
                    "osConfiguration": {
                      "disablePasswordAuthentication": true,
                      "sshKeyPair": {
                        "publicKey": "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQDPasKQ7pRBFzDsyM3y8UiH\u002BZvhDeGzqUsuTPktiz/YJeufmgjWnKqYTuZX/tLhSAtX/imG9dBDCLEe5bxLtOn1m2i1vRCfsh2NxNqVxSl2GRXTnsC9Ehw5PHqXQhxSHNItDD1K6vKlydVw7DhmJgkl\u002B1Og7WPdxeO/D6YQr1ogmaQHoK2A0AJyH9HXGbNtIiFUuPers8sKhzYztPSZCO9EZvYTB7quNSa7usgv6CByiJ2MOre/RuLaE7B7lRKhysjeIn1M\u002BfQ3xKxW9cXsJhAHTgbqO2peydz5TLpP0S9XuIna0O5pQEXFgUnfdX/W6NT94Vl/Cqs8obSfQntZ/QmGvr1Qb27ZBSQ24eIsYDfr1mI423TuXwUr\u002B1AEvaSCapgRBnDaV3nBzk9qp1kIIGWRGpaz6qb3ahYpDGP\u002BA8lABy19rBk\u002B/Kmfb9N8qkUK7kdNytHeusKoR0kzhW8xpctCnd/13oN3gXbps0Tx8O2E5w7n\u002BBIDNodxEGxzdYD1hh0= generated-by-azure",
                        "privateKey": "Sanitized\nSanitized\nSanitized\nSanitized\nSanitized\nSanitized\nSanitized\nSanitized\nSanitized\nSanitized\nSanitized\nSanitized\nSanitized\nSanitized\nSanitized\nSanitized\nSanitized\nSanitized\nSanitized\nSanitized\nSanitized\nSanitized\nSanitized\nSanitized\nSanitized\nSanitized\nSanitized\nSanitized\nSanitized\nSanitized\nSanitized\nSanitized\nSanitized\nSanitized\nSanitized\nSanitized\nSanitized\nSanitized\nSanitized"
                      },
                      "osType": "Linux"
                    }
                  }
                },
                "instanceCount": 2
              },
              "applicationServer": {
                "subnetId": "/subscriptions/49d64d54-e966-4c46-a868-1999802b762c/resourceGroups/SAP-E2ETest-rg/providers/Microsoft.Network/virtualNetworks/loop-test-vnet/subnets/loopsubnet",
                "virtualMachineConfiguration": {
                  "vmSize": "Standard_E4ds_v4",
                  "imageReference": {
                    "publisher": "RedHat",
                    "offer": "RHEL-SAP-HA",
                    "sku": "84sapha-gen2",
                    "version": "latest"
 [...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/49d64d54-e966-4c46-a868-1999802b762c/providers/Microsoft.Workloads/locations/EASTUS2EUAP/operationStatuses/eb3104cb-fcbe-4154-ac9b-756cf1d4551f*0E2C5891F3F077F615123BBFE25A56B96654EA13CAD26B0E6BDEB7CD3B089D55?api-version=2023-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002200008a14-0000-3400-0000-642b62240000\u0022",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "id": "/subscriptions/49d64d54-e966-4c46-a868-1999802b762c/providers/Microsoft.Workloads/locations/EASTUS2EUAP/operationStatuses/eb3104cb-fcbe-4154-ac9b-756cf1d4551f*0E2C5891F3F077F615123BBFE25A56B96654EA13CAD26B0E6BDEB7CD3B089D55",
        "name": "eb3104cb-fcbe-4154-ac9b-756cf1d4551f*0E2C5891F3F077F615123BBFE25A56B96654EA13CAD26B0E6BDEB7CD3B089D55",
        "resourceId": "/subscriptions/49d64d54-e966-4c46-a868-1999802b762c/resourceGroups/netSdkTest-5954/providers/Microsoft.Workloads/sapVirtualInstances/ZW9",
        "status": "Accepted",
        "startTime": "2023-04-03T23:32:52.2317998Z"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/49d64d54-e966-4c46-a868-1999802b762c/providers/Microsoft.Workloads/locations/EASTUS2EUAP/operationStatuses/eb3104cb-fcbe-4154-ac9b-756cf1d4551f*0E2C5891F3F077F615123BBFE25A56B96654EA13CAD26B0E6BDEB7CD3B089D55?api-version=2023-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00220000bd2a-0000-3400-0000-642b6b2d0000\u0022",
        "x-ms-ratelimit-remaining-subscription-reads": "11992"
      },
      "ResponseBody": {
        "id": "/subscriptions/49d64d54-e966-4c46-a868-1999802b762c/providers/Microsoft.Workloads/locations/EASTUS2EUAP/operationStatuses/eb3104cb-fcbe-4154-ac9b-756cf1d4551f*0E2C5891F3F077F615123BBFE25A56B96654EA13CAD26B0E6BDEB7CD3B089D55",
        "name": "eb3104cb-fcbe-4154-ac9b-756cf1d4551f*0E2C5891F3F077F615123BBFE25A56B96654EA13CAD26B0E6BDEB7CD3B089D55",
        "resourceId": "/subscriptions/49d64d54-e966-4c46-a868-1999802b762c/resourceGroups/netSdkTest-5954/providers/Microsoft.Workloads/sapVirtualInstances/ZW9",
        "status": "Succeeded",
        "startTime": "2023-04-03T23:32:52.2317998Z",
        "endTime": "2023-04-04T00:11:25.2697326Z",
        "properties": null
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/49d64d54-e966-4c46-a868-1999802b762c/resourceGroups/netSdkTest-5954/providers/Microsoft.Workloads/sapVirtualInstances/ZW9?api-version=2023-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002200006773-0000-3400-0000-642b6b2d0000\u0022",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-reads": "11991"
      },
      "ResponseBody": {
        "id": "/subscriptions/49d64d54-e966-4c46-a868-1999802b762c/resourceGroups/netSdkTest-5954/providers/Microsoft.Workloads/sapVirtualInstances/ZW9",
        "name": "ZW9",
        "type": "microsoft.workloads/sapvirtualinstances",
        "location": "eastus2euap",
        "tags": {
          "Testing": "Install"
        },
        "systemData": {
          "createdBy": "5b779ad2-8f27-4bdb-81da-b24b24e449da",
          "createdByType": "Application",
          "createdAt": "2023-04-03T23:32:49.6587833Z",
          "lastModifiedBy": "5b779ad2-8f27-4bdb-81da-b24b24e449da",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2023-04-03T23:32:49.6587833Z"
        },
        "identity": {
          "type": "UserAssigned",
          "userAssignedIdentities": {
            "/subscriptions/49d64d54-e966-4c46-a868-1999802b762c/resourcegroups/SAP-E2ETest-rg/providers/Microsoft.ManagedIdentity/userAssignedIdentities/E2E-RBAC-MSI": {
              "principalId": "b7202d53-6b98-4194-8748-4f13a9000072",
              "clientId": "914aa6fe-5e5f-4b55-9b68-39da0ad86ee7"
            }
          }
        },
        "properties": {
          "environment": "NonProd",
          "sapProduct": "S4HANA",
          "configuration": {
            "configurationType": "DeploymentWithOSConfig",
            "appLocation": "eastus",
            "infrastructureConfiguration": {
              "deploymentType": "ThreeTier",
              "centralServer": {
                "subnetId": "/subscriptions/49d64d54-e966-4c46-a868-1999802b762c/resourceGroups/SAP-E2ETest-rg/providers/Microsoft.Network/virtualNetworks/loop-test-vnet/subnets/loopsubnet",
                "virtualMachineConfiguration": {
                  "vmSize": "Standard_E4ds_v4",
                  "imageReference": {
                    "sku": "84sapha-gen2",
                    "publisher": "RedHat",
                    "version": "latest",
[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/49d64d54-e966-4c46-a868-1999802b762c/resourceGroups/netSdkTest-5954/providers/Microsoft.Workloads/sapVirtualInstances/ZW9?api-version=2023-04-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {
          "Key1": "TestPatchValue"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-12-01-preview, 2022-10-15-preview, 2022-11-01-preview, 2023-04-01",
        "Azure-AsyncOperation": "subscriptions/49d64d54-e966-4c46-a868-1999802b762c/providers/Microsoft.Workloads/locations/EASTUS2EUAP/operationStatuses/bf0a598a-7960-4009-ac84-79e6ea4dc956*0E2C5891F3F077F615123BBFE25A56B96654EA13CAD26B0E6BDEB7CD3B089D55?api-version=2023-04-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002200000874-0000-3400-0000-642b6b4d0000\u0022",
        "mise-correlation-id": "acb1c099-c969-4555-8114-29c119307f50",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "id": "/subscriptions/49d64d54-e966-4c46-a868-1999802b762c/resourceGroups/netSdkTest-5954/providers/Microsoft.Workloads/sapVirtualInstances/ZW9",
        "name": "ZW9",
        "type": "microsoft.workloads/sapvirtualinstances",
        "location": "eastus2euap",
        "tags": {
          "Key1": "TestPatchVa[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/49d64d54-e966-4c46-a868-1999802b762c/resourceGroups/netSdkTest-5954/providers/Microsoft.Workloads/sapVirtualInstances?api-version=2023-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-original-request-ids": [
          "7e05005b-2506-46a8-ad5a-7ddffa057c07",
          "3a40dc46-821f-4d5e-abdf-5c652d1c896e",
          "fa489d7f-8617-403b-9b48-50d7179f28c8",
          "8bb90461-0fcf-4cf9-8364-c790bfbd0754",
          "37c4df41-52fd-400f-970a-d850150eff74",
          "d9a53681-a17f-4f0d-9a2b-7763f9d18909",
          "20dbb117-9be6-4cd9-9ef8-fe340287acff",
          "969782a6-ba3d-4cd9-828c-a63481b05001",
          "d45ced57-a3f1-48ab-b6d4-3cd7e3df09f1",
          "97cd09d0-62b9-4d61-9065-15265c4bd52a",
          "28b30f4d-e4be-45cf-b05f-98effdfbfc4a",
          "148f8d1e-0415-45a0-9a88-0591356189fd",
          "2e2fbd6d-4617-458f-bf66-07c371a6d859"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": "11991"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/49d64d54-e966-4c46-a868-1999802b762c/resourceGroups/netSdkTest-5954/providers/Microsoft.Workloads/sapVirtualInstances/ZW9",
            "name": "ZW9",
            "type": "microsoft.workloads/sapvirtualinstances",
            "location": "eastus2euap",
            "tags": {
              "Testing": "Install"
            },
            "systemData": {
              "createdBy": "5b779ad2-8f27-4bdb-81da-b24b24e449da",
              "createdByType": [...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/49d64d54-e966-4c46-a868-1999802b762c/resourceGroups/netSdkTest-5954/providers/Microsoft.Workloads/sapVirtualInstances/ZW9/applicationInstances?api-version=2023-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-reads": "11990"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/49d64d54-e966-4c46-a868-1999802b762c/resourceGroups/netSdkTest-5954/providers/Microsoft.Workloads/sapVirtualInstances/ZW9/applicationInstances/app0",
            "name": "app0",
            "type": "microsoft.workloads/sapvirtualinstances/applicationinstances",
            "location": "eastus2euap",
            "tags": {
              "Testing": "Install"
            },
            "systemData": {
              "createdBy": "ea21b132-560f-4b0b-9876-903b6bca7b9d",
              "createdByType": "Application",
              "createdAt": "2023-04-03T23:35:14.6594458Z",
              "lastModifiedBy": "ea21b132-560f-4b0b-9876-903b6bca7b9d",
              "lastModifiedByType": "Application",
              "lastModifiedAt": "2023-04-04T02:36:36.1118745Z"
            },
            "properties": {
              "instanceNo": "00",
              "subnet": "/subscriptions/49d64d54-e966-4c46-a868-1999802b762c/resourceGroups/SAP-E2ETest-rg/providers/Microsoft.Network/virtualNetworks/loop-test-vnet/subnets/loopsubnet",
              "hostname": "zw9appzavm0",
              "kernelVersion": "777",
              "kernelPatch": "patch 300",
              "ipAddress": "10.0.0.46",
              "gatewayPort": 3300,
              "icmHttpPort": 0,
              "icmHttpsPort": 0,
              "vmDetails": [
                {
                  "virtualMachineId": "/subscriptions/49d64d54-e966-4c46-a868-1999802b762c/resourceGroups/ZW9appRg-1274/providers/Microsoft.Compute/virtualMachines/zw9appzavm0",
                  "type": "Active"
                }
              ],
              "status": "Unavailable",
              "health": "Unknown",
              "provisioningState": "Succeeded"
            }
          },
          {
            "id": "/subscriptions/49d64d54-e966-4c46-a868-1999802b762c/resourceGroups/netSdkTest-5954/providers/Microsoft.Workloads/sapVirtualInstances/ZW9/applicationInstances/app1",
            "name": "app1",
            "type": "microsoft.workloads/sapvirtualinstances/applicationinstances",
            "location": "eastus2euap",
            "tags": {
              "Testing": "Install"
          [...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/49d64d54-e966-4c46-a868-1999802b762c/resourceGroups/netSdkTest-5954/providers/Microsoft.Workloads/sapVirtualInstances/ZW9/databaseInstances?api-version=2023-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-providerhub[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/49d64d54-e966-4c46-a868-1999802b762c/resourceGroups/netSdkTest-5954/providers/Microsoft.Workloads/sapVirtualInstances/ZW9/centralInstances?api-version=2023-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-providerhub-[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/49d64d54-e966-4c46-a868-1999802b762c/resourceGroups/netSdkTest-5954/providers/Microsoft.Workloads/sapVirtualInstances/ZW9/stop?api-version=2023-04-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "api-supported-versions": "2021-12-01-preview, 2022-10-15-preview, 2022-11-01-preview, 2023-04-01",
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/49d64d54-e966-4c46-a868-1999802b762c/providers/Microsoft.Workloads/locations/EASTUS2EUAP/operationStatuses/2dc450e2-387c-4bd5-9d55-6e8d01842388*0E2C5891F3F077F615123BBFE25A56B96654EA13CAD26B0E6BDEB7CD3B089D55?api-version=2023-04-01",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/49d64d54-e966-4c46-a868-1999802b762c/providers/Microsoft.Workloads/locations/EASTUS2EUAP/operationStatuses/2dc450e2-387c-4bd5-9d55-6e8d01842388*0E2C5891F3F077F615123BBFE25A56B96654EA13CAD26B0E6BDEB7CD3B089D55?api-version=2023-04-01",
        "mise-correlation-id": "c75a5354-5f0d-464b-ae3f-9765708b40cf",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": "null"
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/49d64d54-e966-4c46-a868-1999802b762c/providers/Microsoft.Workloads/locations/EASTUS2EUAP/operationStatuses/2dc450e2-387c-4bd5-9d55-6e8d01842388*0E2C5891F3F077F615123BBFE25A56B96654EA13CAD26B0E6BDEB7CD3B089D55?api-version=2023-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002200003d79-0000-3400-0000-642b8dd40000\u0022",
        "x-ms-ratelimit-remaining-subscription-reads": "11986"
      },
      "ResponseBody": {
        "id": "/subscriptions/49d64d54-e966-4c46-a868-1999802b762c/providers/Microsoft.Workloads/locations/EASTUS2EUAP/operationStatuses/2dc450e2-387c-4bd5-9d55-6e8d01842388*0E2C5891F3F077F615123BBFE25A56B96654EA13CAD26B0E6BDEB7CD3B089D55",
        "name": "2dc450e2-387c-4bd5-9d55-6e8d01842388*0E2C5891F3F077F615123BBFE25A56B96654EA13CAD26B0E6BDEB7CD3B089D55",
        "resourceId": "/subscriptions/49d64d54-e966-4c46-a868-1999802b762c/resourceGroups/netSdkTest-5954/providers/Microsoft.Workloads/sapVirtualInstances/ZW9",
        "status": "Failed",
        "startTime": "2023-04-04T02:39:15.2947693Z",
        "endTime": "2023-04-04T02:39:16.8724968Z",
        "error": {
          "code": "UnhandledException",
          "message": "An internal error occurred during execution."
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/49d64d54-e966-4c46-a868-1999802b762c/resourceGroups/netSdkTest-5954/providers/Microsoft.Workloads/sapVirtualInstances/ZW9/start?api-version=2023-04-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "api-supported-versions": "2021-12-01-preview, 2022-10-15-preview, 2022-11-01-preview, 2023-04-01",
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/49d64d54-e966-4c46-a868-1999802b762c/providers/Microsoft.Workloads/locations/EASTUS2EUAP/operationStatuses/e114e0bd-53ff-46eb-bd83-cf0cede1ca0d*0E2C5891F3F077F615123BBFE25A56B96654EA13CAD26B0E6BDEB7CD3B089D55?api-version=2023-04-01",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/49d64d54-e966-4c46-a868-1999802b762c/providers/Microsoft.Workloads/locations/EASTUS2EUAP/operationStatuses/e114e0bd-53ff-46eb-bd83-cf0cede1ca0d*0E2C5891F3F077F615123BBFE25A56B96654EA13CAD26B0E6BDEB7CD3B089D55?api-version=2023-04-01",
        "mise-correlation-id": "66925ce6-dfc2-445d-a789-0d9ceca5b82c",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-writes": "1198"
      },
      "ResponseBody": "null"
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/49d64d54-e966-4c46-a868-1999802b762c/resourceGroups/netSdkTest-5954/providers/Microsoft.Workloads/sapVirtualInstances/ZW9/applicationInstances/app0?api-version=2023-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/49d64d54-e966-4c46-a868-1999802b762c/resourceGroups/netSdkTest-5954/providers/Microsoft.Workloads/sapVirtualInstances/ZW9/applicationInstances/app0/stop?api-version=2023-04-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "api-supported-versions": "2021-12-01-preview, 2022-10-15-preview, 2022-11-01-preview, 2023-04-01",
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/49d64d54-e966-4c46-a868-1999802b762c/providers/Microsoft.Workloads/locations/EASTUS2EUAP/operationStatuses/5a805e79-4ab3-4a8a-af64-22d68da7f812*EFD4469A4DC71E15BE9181830C9D8681356A42244A204E3941E148D4DD421963?api-version=2023-04-01",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/49d64d54-e966-4c46-a868-1999802b762c/providers/Microsoft.Workloads/locations/EASTUS2EUAP/operationStatuses/5a805e79-4ab3-4a8a-af64-22d68da7f812*EFD4469A4DC71E15BE9181830C9D8681356A42244A204E3941E148D4DD421963?api-version=2023-04-01",
        "mise-correlation-id": "ed12ed5f-80ae-4538-a922-747b77ed4495",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-writes": "1197"
      },
      "ResponseBody": "null"
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/49d64d54-e966-4c46-a868-1999802b762c/resourceGroups/netSdkTest-5954/providers/Microsoft.Workloads/sapVirtualInstances/ZW9/centralInstances/cs0?api-version=2023-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/49d64d54-e966-4c46-a868-1999802b762c/resourceGroups/netSdkTest-5954/providers/Microsoft.Workloads/sapVirtualInstances/ZW9/centralInstances/cs0/stop?api-version=2023-04-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "api-supported-versions": "2021-12-01-preview, 2022-10-15-preview, 2022-11-01-preview, 2023-04-01",
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/49d64d54-e966-4c46-a868-1999802b762c/providers/Microsoft.Workloads/locations/EASTUS2EUAP/operationStatuses/8efa9952-55c4-4919-998f-00ba1e0fd474*0580153F44809520C985DBF8B3FDEE5C8989B16984D2BDDCAD80BE0241E33DF6?api-version=2023-04-01",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/49d64d54-e966-4c46-a868-1999802b762c/providers/Microsoft.Workloads/locations/EASTUS2EUAP/operationStatuses/8efa9952-55c4-4919-998f-00ba1e0fd474*0580153F44809520C985DBF8B3FDEE5C8989B16984D2BDDCAD80BE0241E33DF6?api-version=2023-04-01",
        "mise-correlation-id": "ba9d9bb4-bb74-45ec-bed3-c145c4c3133c",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-writes": "1196"
      },
      "ResponseBody": "null"
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/49d64d54-e966-4c46-a868-1999802b762c/resourceGroups/netSdkTest-5954/providers/Microsoft.Workloads/sapVirtualInstances/ZW9/databaseInstances/db0?api-version=2023-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/49d64d54-e966-4c46-a868-1999802b762c/resourceGroups/netSdkTest-5954/providers/Microsoft.Workloads/sapVirtualInstances/ZW9/databaseInstances/db0/stop?api-version=2023-04-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "api-supported-versions": "2021-12-01-preview, 2022-10-15-preview, 2022-11-01-preview, 2023-04-01",
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/49d64d54-e966-4c46-a868-1999802b762c/providers/Microsoft.Workloads/locations/EASTUS2EUAP/operationStatuses/23c2433c-002b-4b5c-88b9-f463caa81caa*B72A97BFD28C0FAD45EAFB59C8A9851784EE44BEA4AA47346BD63229FD8E9BC3?api-version=2023-04-01",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/49d64d54-e966-4c46-a868-1999802b762c/providers/Microsoft.Workloads/locations/EASTUS2EUAP/operationStatuses/23c2433c-002b-4b5c-88b9-f463caa81caa*B72A97BFD28C0FAD45EAFB59C8A9851784EE44BEA4AA47346BD63229FD8E9BC3?api-version=2023-04-01",
        "mise-correlation-id": "51f59fe6-a921-4370-a12b-afa971785699",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-writes": "1195"
      },
      "ResponseBody": "null"
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/49d64d54-e966-4c46-a868-1999802b762c/resourceGroups/netSdkTest-5954/providers/Microsoft.Workloads/sapVirtualInstances/ZW9/applicationInstances/app0/start?api-version=2023-04-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "api-supported-versions": "2021-12-01-preview, 2022-10-15-preview, 2022-11-01-preview, 2023-04-01",
[...]
