{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/49d64d54-e966-4c46-a868-1999802b762c?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "id": "/subscriptions/49d64d54-e966-4c46-a868-1999802b762c",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "SkipCleanup": "true"
        },
        "subscriptionId": "49d64d54-e966-4c46-a868-1999802b762c",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": "Az WaaS Test 1",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/49d64d54-e966-4c46-a868-1999802b762c/resourcegroups/netSdkTest-9073?api-version=**",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus2"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "id": "/subscriptions/49d64d54-e966-4c46-a868-1999802b762c/resourceGroups/netSdkTest-9073",
        "name": "netSdkTest-9073",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus2",
        "tags": {
          "Created": "20230224"
        },
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/49d64d54-e966-4c46-a868-1999802b762c/resourcegroups/A71appRg-2856?api-version=**",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus2"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1198"
      },
      "ResponseBody": {
        "id": "/subscriptions/49d64d54-e966-4c46-a868-1999802b762c/resourceGroups/A71appRg-2856",
        "name": "A71appRg-2856",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus2",
        "tags": {
          "Created": "20230224"
        },
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/49d64d54-e966-4c46-a868-1999802b762c/resourceGroups/netSdkTest-9073/providers/Microsoft.Workloads/sapVirtualInstances/A71?api-version=2022-11-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "identity": {
          "type": "UserAssigned",
          "userAssignedIdentities": {
            "/subscriptions/49d64d54-e966-4c46-a868-1999802b762c/resourceGroups/SAP-E2ETest-rg/providers/Microsoft.ManagedIdentity/userAssignedIdentities/E2E-RBAC-MSI": {}
          }
        },
        "tags": {
          "e2e-test": "SVIThreeTierHAAvSet"
        },
        "location": "eastus2",
        "properties": {
          "environment": "NonProd",
          "sapProduct": "S4HANA",
          "configuration": {
            "appLocation": "eastus",
            "infrastructureConfiguration": {
              "centralServer": {
                "subnetId": "/subscriptions/49d64d54-e966-4c46-a868-1999802b762c/resourceGroups/SAP-E2ETest-rg/providers/Microsoft.Network/virtualNetworks/loop-test-vnet/subnets/loopsubnet",
                "virtualMachineConfiguration": {
                  "vmSize": "Standard_E4ds_v4",
                  "imageReference": {
                    "publisher": "RedHat",
                    "offer": "RHEL-SAP-HA",
                    "sku": "84sapha-gen2",
                    "version": "8.4.2021091202"
                  },
                  "osProfile": {
                    "adminUsername": "azureuser",
                    "osConfiguration": {
                      "disablePasswordAuthentication": true,
                      "sshKeyPair": {
                        "publicKey": "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQC8k1K0mjpBtyBRcr\u002B74p6zShq09hMXmQZJJem41RlqV132kbGUy/EHcQLoOmp2qdv6Kz/jgz49YWM2WxxhB8G\u002BUh8G58feYFaGNkT\u002BWTrfE/XLHxFnXMghZgCEiV8vfNUROuHux7UfsxiDt6Nw2215fkJ8lQjQEduKPfS7OmoQQDUvGeg8rxUbwouYdR9z5MmcNKSiBC0Z3EEBWVkY0jsbASarE9iRLDT5JrXeeZWCSe\u002B/lg3Ofe7b28f\u002BnXo9LH/voRVc\u002BeKsx6T6reW9wVtm6ygEBXZbqvuEeqISgLvSFWXD7SsO2CbyJpmaOkzjIMbzlaHV126\u002BPYdAY2vf0gVhCwRt5wU/ueFloMmTb3HbLkyVczluBUsSfcJ3H5DYPECiCy5qKaPsGHDzFGByc/0Yy\u002BfNn2L/WrNgNuC3LaeszTZ7YqNVo/6tXTGSqOMrv8AD1rP71sX2HDSdlLf/HyLRgNjfJn/KR3ZE9QZ2Hl9TRcZ9DN\u002BV/wvc/lci/7nsSx0= generated-by-azure",
                        "privateKey": "Sanitized\nSanitized\nSanitized\nSanitized\nSanitized\nSanitized\nSanitized\nSanitized\nSanitized\nSanitized\nSanitized\nSanitized\nSanitized\nSanitized\nSanitized\nSanitized\nSanitized\nSanitized\nSanitized\nSanitized\nSanitized\nSanitized\nSanitized\nSanitized\nSanitized\nSanitized\nSanitized\nSanitized\nSanitized\nSanitized\nSanitized\nSanitized\nSanitized\nSanitized\nSanitized\nSanitized\nSanitized\nSanitized\nSanitized\n"
                      },
                      "osType": "Linux"
                    }
                  }
                },
                "instanceCount": 2
              },
              "applicationServer": {
                "subnetId": "/subscriptions/49d64d54-e966-4c46-a868-1999802b762c/resourceGroups/SAP-E2ETest-rg/providers/Microsoft.Network/virtualNetworks/loop-test-vnet/subnets/loopsubnet",
                "virtualMachineConfiguration": {
                  "vmSize": "Standard_E4ds_v4",
                  "imageReference": {
                    "publisher": "RedHat",
                    "offer": "RHEL-SAP-HA",
                    "sku": "84sapha-gen2",
                    "version": "8.4.20210[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/49d64d54-e966-4c46-a868-1999802b762c/providers/Microsoft.Workloads/locations/EASTUS2/operationStatuses/3c19f37e-8eab-4a0a-ad1e-5c9473d67fe3*8A81CCAE83A36843D6BC934E952D015B0764983034BA93B73447171591072604?api-version=2022-11-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00224d0067ef-0000-0100-0000-63f85d1c0000\u0022",
        "x-ms-ratelimit-remaining-subscription-reads": "11998"
      },
      "ResponseBody": {
        "id": "/subscriptions/49d64d54-e966-4c46-a868-1999802b762c/providers/Microsoft.Workloads/locations/EASTUS2/operationStatuses/3c19f37e-8eab-4a0a-ad1e-5c9473d67fe3*8A81CCAE83A36843D6BC934E952D015B0764983034BA93B73447171591072604",
        "name": "3c19f37e-8eab-4a0a-ad1e-5c9473d67fe3*8A81CCAE83A36843D6BC934E952D015B0764983034BA93B73447171591072604",
        "resourceId": "/subscriptions/49d64d54-e966-4c46-a868-1999802b762c/resourceGroups/netSdkTest-9073/providers/Microsoft.Workloads/sapVirtualInstances/A71",
        "status": "Accepted",
        "startTime": "2023-02-24T06:45:48.8155353Z"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/49d64d54-e966-4c46-a868-1999802b762c/providers/Microsoft.Workloads/locations/EASTUS2/operationStatuses/3c19f37e-8eab-4a0a-ad1e-5c9473d67fe3*8A81CCAE83A36843D6BC934E952D015B0764983034BA93B73447171591072604?api-version=2022-11-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00224d00b0f6-0000-0100-0000-63f8647a0000\u0022",
        "x-ms-ratelimit-remaining-subscription-reads": "11933"
      },
      "ResponseBody": {
        "id": "/subscriptions/49d64d54-e966-4c46-a868-1999802b762c/providers/Microsoft.Workloads/locations/EASTUS2/operationStatuses/3c19f37e-8eab-4a0a-ad1e-5c9473d67fe3*8A81CCAE83A36843D6BC934E952D015B0764983034BA93B73447171591072604",
        "name": "3c19f37e-8eab-4a0a-ad1e-5c9473d67fe3*8A81CCAE83A36843D6BC934E952D015B0764983034BA93B73447171591072604",
        "resourceId": "/subscriptions/49d64d54-e966-4c46-a868-1999802b762c/resourceGroups/netSdkTest-9073/providers/Microsoft.Workloads/sapVirtualInstances/A71",
        "status": "Succeeded",
        "startTime": "2023-02-24T06:45:48.8155353Z",
        "endTime": "2023-02-24T07:17:14.3582097Z",
        "properties": null
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/49d64d54-e966-4c46-a868-1999802b762c/resourceGroups/netSdkTest-9073/providers/Microsoft.Workloads/sapVirtualInstances/A71?api-version=2022-11-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002273048130-0000-0100-0000-63f8647a0000\u0022",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-reads": "11932"
      },
      "ResponseBody": {
        "id": "/subscriptions/49d64d54-e966-4c46-a868-1999802b762c/resourceGroups/netSdkTest-9073/providers/Microsoft.Workloads/sapVirtualInstances/A71",
        "name": "A71",
        "type": "microsoft.workloads/sapvirtualinstances",
        "location": "eastus2",
        "tags": {
          "e2e-test": "SVIThreeTierHAAvSet"
        },
        "systemData": {
          "createdBy": "b4fe472c-a147-40e8-8824-24b9fa72af38",
          "createdByType": "Application",
          "createdAt": "2023-02-24T06:45:46.6585895Z",
          "lastModifiedBy": "b4fe472c-a147-40e8-8824-24b9fa72af38",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2023-02-24T06:45:46.6585895Z"
        },
        "identity": {
          "type": "UserAssigned",
          "userAssignedIdentities": {
            "/subscriptions/49d64d54-e966-4c46-a868-1999802b762c/resourcegroups/SAP-E2ETest-rg/providers/Microsoft.ManagedIdentity/userAssignedIdentities/E2E-RBAC-MSI": {
              "principalId": "b7202d53-6b98-4194-8748-4f13a9000072",
              "clientId": "914aa6fe-5e5f-4b55-9b68-39da0ad86ee7"
            }
          }
        },
        "properties": {
          "environment": "NonProd",
          "sapProduct": "S4HANA",
          "configuration": {
            "configurationType": "DeploymentWithOSConfig",
            "appLocation": "eastus",
            "infrastructureConfiguration": {
              "deploymentType": "ThreeTier",
              "centralServer": {
                "subnetId": "/subscriptions/49d64d54-e966-4c46-a868-1999802b762c/resourceGroups/SAP-E2ETest-rg/providers/Microsoft.Network/virtualNetworks/loop-test-vnet/subnets/loopsubnet",
                "virtualMachineConfiguration": {
                  "vmSize": "Standard_E4ds_v4",
                  "imageReference": {
                    "sku": "84sapha-gen2",
                    "publisher": "RedHat",
                    "version": "8.4.20210[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/49d64d54-e966-4c46-a868-1999802b762c/resourceGroups/netSdkTest-9073/providers/Microsoft.Workloads/sapVirtualInstances/A71?api-version=2022-11-01-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {
          "Key1": "TestPatchValue"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-12-01-preview, 2022-10-15-preview, 2022-11-01-preview",
        "Azure-AsyncOperation": "subscriptions/49d64d54-e966-4c46-a868-1999802b762c/providers/Microsoft.Workloads/locations/EASTUS2/operationStatuses/651b0e43-d428-46f9-ab7d-2ff0dee5121e*8A81CCAE83A36843D6BC934E952D015B0764983034BA93B73447171591072604?api-version=2022-11-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00227304985f-0000-0100-0000-63f8649c0000\u0022",
        "mise-correlation-id": "f77e1a15-bdf8-4bd2-9245-8bec7c2c35ec",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-writes": "1196"
      },
      "ResponseBody": {
        "id": "/subscriptions/49d64d54-e966-4c46-a868-1999802b762c/resourceGroups/netSdkTest-9073/providers/Microsoft.Workloads/sapVirtualInstances/A71",
        "name": "A71",
        "type": "microsoft.workloads/sapvirtualinstances",
        "location": "eastus2",
        "tags": {
          "Key1": "TestPatchValue"[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/49d64d54-e966-4c46-a868-1999802b762c/resourceGroups/netSdkTest-9073/providers/Microsoft.Workloads/sapVirtualInstances?api-version=2022-11-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-original-request-ids": [
          "4e49d2d3-2066-400d-a66b-c530eacea388",
          "0d195669-2dc4-4003-934f-31bf890a3a57",
          "0cd0296f-1e42-4f2a-8657-ebc6835287f7",
          "b9e48eb8-650b-480b-acdd-f1dc7f21854e",
          "82cd002e-1537-4269-9ab9-c993071f252e",
          "eef01329-24f2-4430-88ed-76572ff2c08f",
          "845e4b14-23ac-4682-97ae-69a2bb0b4614",
          "3bd2783a-fa92-4ef0-830c-062e3baf52ab",
          "9953b5b9-6c9f-466c-80e4-4aa9076b00c7",
          "ddfc10a4-cd3a-4d6b-a13a-6996acf68098",
          "81e38b3e-a5ee-4948-a197-3fb93e206ba7",
          "53a8b804-eb65-4b6d-8426-9297c2ec94c1",
          "337e7446-e8f4-4b38-b109-683c750dd6ec"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": "11930"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/49d64d54-e966-4c46-a868-1999802b762c/resourceGroups/netSdkTest-9073/providers/Microsoft.Workloads/sapVirtualInstances/A71",
            "name": "A71",
            "type": "microsoft.workloads/sapvirtualinstances",
            "location": "eastus2",
            "tags": {
              "Key1": "TestPatchValue"
            },
            "systemData": {
              "createdBy": "b4fe472c-a147-40e8-8824-24b9fa72af38",
              "createdByType": [...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/49d64d54-e966-4c46-a868-1999802b762c/resourceGroups/netSdkTest-9073/providers/Microsoft.Workloads/sapVirtualInstances/A71/applicationInstances?api-version=2022-11-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/49d64d54-e966-4c46-a868-1999802b762c/resourceGroups/netSdkTest-9073/providers/Microsoft.Workloads/sapVirtualInstances/A71/databaseInstances?api-version=2022-11-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ori[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/49d64d54-e966-4c46-a868-1999802b762c/resourceGroups/netSdkTest-9073/providers/Microsoft.Workloads/sapVirtualInstances/A71/centralInstances?api-version=2022-11-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-orig[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/49d64d54-e966-4c46-a868-1999802b762c/resourceGroups/netSdkTest-9073/providers/Microsoft.Workloads/sapVirtualInstances/A71?api-version=2022-11-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/49d64d54-e966-4c46-a868-1999802b762c/providers/Microsoft.Workloads/locations/EASTUS2/operationStatuses/f39b3d43-bcb6-47e0-8c70-b3b9a1f25c52*8A81CCAE83A36843D6BC934E952D015B0764983034BA93B73447171591072604?api-version=2022-11-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00227304c36a-0000-0100-0000-63f864a40000\u0022",
        "Location": "https://management.azure.com/subscriptions/49d64d54-e966-4c46-a868-1999802b762c/providers/Microsoft.Workloads/locations/EASTUS2/operationStatuses/f39b3d43-bcb6-47e0-8c70-b3b9a1f25c52*8A81CCAE83A36843D6BC934E952D015B0764983034BA93B73447171591072604?api-version=2022-11-01-preview",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-deletes": "14999"
      },
      "ResponseBody": "null"
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/49d64d54-e966-4c46-a868-1999802b762c/providers/Microsoft.Workloads/locations/EASTUS2/operationStatuses/f39b3d43-bcb6-47e0-8c70-b3b9a1f25c52*8A81CCAE83A36843D6BC934E952D015B0764983034BA93B73447171591072604?api-version=2022-11-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002265007017-0000-4d00-0000-63f865620000\u0022",
        "x-ms-ratelimit-remaining-subscription-reads": "11914"
      },
      "ResponseBody": {
        "id": "/subscriptions/49d64d54-e966-4c46-a868-1999802b762c/providers/Microsoft.Workloads/locations/EASTUS2/operationStatuses/f39b3d43-bcb6-47e0-8c70-b3b9a1f25c52*8A81CCAE83A36843D6BC934E952D015B0764983034BA93B73447171591072604",
        "name": "f39b3d43-bcb6-47e0-8c70-b3b9a1f25c52*8A81CCAE83A36843D6BC934E952D015B0764983034BA93B73447171591072604",
        "resourceId": "/subscriptions/49d64d54-e966-4c46-a868-1999802b762c/resourceGroups/netSdkTest-9073/providers/Microsoft.Workloads/sapVirtualInstances/A71",
        "status": "Succeeded",
        "startTime": "2023-02-24T07:17:55.6752168Z",
        "properties": null
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "RandomSeed": "1619904670",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "49d64d54-e966-4c46-a868-1999802b762c"
  }
}
