<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="SteveCadwallader.CodeMaid.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    </sectionGroup>
  </configSections>
  <userSettings>
    <SteveCadwallader.CodeMaid.Properties.Settings>
      <setting name="Cleaning_AutoCleanupOnFileSave" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Formatting_CommentXmlSpaceSingleTags" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Cleaning_InsertEndOfFileTrailingNewLine" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Formatting_CommentWrapColumn" serializeAs="String">
        <value>120</value>
      </setting>
      <setting name="Formatting_CommentRunDuringCleanup" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Cleaning_UpdateFileHeaderCSharp" serializeAs="String">
        <value>// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License.
</value>
      </setting>
      <setting name="Reorganizing_PrimaryOrderByAccessLevel" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Cleaning_PerformPartialCleanupOnExternal" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="Progressing_ShowBuildProgressOnBuildStart" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Cleaning_SkipRemoveAndSortUsingStatementsDuringAutoCleanupOnSave"
        serializeAs="String">
        <value>False</value>
      </setting>
    </SteveCadwallader.CodeMaid.Properties.Settings>
  </userSettings>
</configuration>
