{
  "Entries": [
    {
      "RequestUri": "http://amandacanary.queue.core.windows.net/test-queue-f3189312-9509-a368-30f8-b9c4fa3d095c",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 25 Apr 2020 01:21:58 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://amandacanary.queue.core.windows.net/test-queue-f3189312-9509-a368-30f8-b9c4fa3d095c/messages",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "x-ms-date": "Sat, 25 Apr 2020 01:21:58 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": "\u003CQueueMessage\u003E\u003CMessageText\u003Eebpvrvredawnnbvxjogr\u003C/MessageText\u003E\u003C/QueueMessage\u003E",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CQueueMessagesList\u003E\u003CQueueMessage\u003E\u003CMessageId\u003E3e310a22-2b39-4d61-a6f8-72e57570c1a0\u003C/MessageId\u003E\u003CInsertionTime\u003ESat, 25 Apr 2020 01:21:58 GMT\u003C/InsertionTime\u003E\u003CExpirationTime\u003ESat, 02 May 2020 01:21:58 GMT\u003C/ExpirationTime\u003E\u003CPopReceipt\u003EAgAAAAMAAAAAAAAAxEBy6p8a1gE=\u003C/PopReceipt\u003E\u003CTimeNextVisible\u003ESat, 25 Apr 2020 01:21:58 GMT\u003C/TimeNextVisible\u003E\u003C/QueueMessage\u003E\u003C/QueueMessagesList\u003E"
    },
[...]
    {
      "RequestUri": "http://amandacanary.queue.core.windows.net/test-queue-f3189312-9509-a368-30f8-b9c4fa3d095c",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 25 Apr 2020 01:21:59 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "868927505",
    "Storage_TestConfigDefault": "ProductionTenant\namandacanary\nU2FuaXRpemVk\nhttp://amandacanary.blob.core.windows.net\nhttp://amandacanary.file.core.windows.net\nhttp://amandacanary.queue.core.windows.net\nhttp://amandacanary.table.core.windows.net\n\n\n\n\nhttp://amandacanary-secondary.blob.core.windows.net\nhttp://amandacanary-secondary.file.core.windows.net\nhttp://amandacanary-secondary.queue.core.windows.net\nhttp://amandacanary-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://amandacanary.blob.core.windows.net/;QueueEndpoint=http://amandacanary.queue.core.windows.net/;FileEndpoint=http://amandacanary.file.core.windows.net/;BlobSecondaryEndpoint=http://amandacanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://amandacanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://amandacanary-secondary.file.core.windows.net/;AccountName=amandacanary;AccountKey=Sanitized\n\nDefaultEndpointsProtocol=https;AccountName=ortestsaccountcbn1;AccountKey=OrRfzSm3ktQSklAGiL90/QusS7SdS6Y5S/AJoxZEeyKYDtnue7OKYIMLOraTnT4xcOyhYbqzWVmtTKappcc5Fg==;EndpointSuffix=core.windows.net\nDefaultEndpointsProtocol=https;AccountName=vbalaorcentral1;AccountKey=vlHMz/LZ3Sx7r/1bdTQT26pG0tqORQ4uTIcxGhHB0LQhIhqGxfv2TXV7u\u002BI2ra4UWXrWGGHG2N6l\u002BBfb5FgAcQ==;EndpointSuffix=core.windows.net"
  }
}