{
  "Entries": [
    {
      "RequestUri": "http://storageteglazatesting.queue.core.windows.net/test-queue-454950d3-5fbf-faf4-da33-02f3ab16a454?sv=2018-11-09\u0026st=2019-06-30T16%3A34%3A04Z\u0026se=2019-06-30T18%3A34%3A04Z\u0026sp=raup\u0026sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 403,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "AuthorizationFailure",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": [
        "\ufeff\u003c?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003e\u003cError\u003e\u003cCode\u003eAuthorizationFailure\u003c/Code\u003e\u003cMessage\u003eThis request is not authorized to perform this operation.\n",
        "RequestId:b20f0322-0003-0088-3d6a-2fa807000000\n",
        "Time:2019-06-30T17:34:07.6111704Z\u003c/Message\u003e\u003c/Error\u003e"
      ]
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2019-06-30T10:34:04.6515126-07:00",
    "RandomSeed": "1432672575"
  }
}