{
  "Entries": [
    {
      "RequestUri": "http://storageteglazatesting.queue.core.windows.net/test-queue-8a99f1aa-a74e-c26c-cd87-c5c319bdfb91",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sun, 30 Jun 2019 17:34:04 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "http://storageteglazatesting.queue.core.windows.net/test-queue-8a99f1aa-a74e-c26c-cd87-c5c319bdfb91",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sun, 30 Jun 2019 17:34:04 GMT",
        "x-ms-meta-key": "value",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "QueueAlreadyExists",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": [
        "\ufeff\u003c?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003e\u003cError\u003e\u003cCode\u003eQueueAlreadyExists\u003c/Code\u003e\u003cMessage\u003eThe specified queue already exists.\n",
        "RequestId:b20f02ec-0003-0088-096a-2fa807000000\n",
        "Time:2019-06-30T17:34:07.0676519Z\u003c/Message\u003e\u003c/Error\u003e"
      ]
    }
  ],
  "Variables": {
    "RandomSeed": "1630902574"
  }
}