{
  "Entries": [
    {
      "RequestUri": "http://storageteglazatesting.queue.core.windows.net/test-queue-ab8ab12f-ed0d-22c7-01bd-c4c67c952bf7?sv=2018-11-09\u0026ss=q\u0026srt=c\u0026st=2019-06-17T19%3A59%3A49Z\u0026se=2019-06-17T21%3A59%3A49Z\u0026sp=rwdlaup\u0026sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "http://storageteglazatesting.queue.core.windows.net/test-queue-ab8ab12f-ed0d-22c7-01bd-c4c67c952bf7?sv=2018-11-09\u0026ss=q\u0026srt=c\u0026st=2019-06-17T19%3A59%3A49Z\u0026se=2019-06-17T21%3A59%3A49Z\u0026sp=rwdlaup\u0026sig=Sanitized",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2019-06-17T13:59:49.0106577-07:00",
    "RandomSeed": "1625297660"
  }
}