{
  "Entries": [
    {
      "RequestUri": "http://storageteglazatesting.queue.core.windows.net/test-queue-4f72b1b9-bb77-e403-d9f1-7d026b7599d4?sv=2018-11-09\u0026st=2019-06-17T19%3A59%3A54Z\u0026se=2019-06-17T21%3A59%3A54Z\u0026sp=raup\u0026sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 403,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "AuthorizationFailure",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": [
        "\ufeff\u003c?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003e\u003cError\u003e\u003cCode\u003eAuthorizationFailure\u003c/Code\u003e\u003cMessage\u003eThis request is not authorized to perform this operation.\n",
        "RequestId:a189e9aa-e003-0039-114f-25b612000000\n",
        "Time:2019-06-17T20:59:54.7173671Z\u003c/Message\u003e\u003c/Error\u003e"
      ]
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2019-06-17T13:59:54.6816359-07:00",
    "RandomSeed": "1982861466"
  }
}