{
  "Entries": [
    {
      "RequestUri": "http://storageteglazatesting.queue.core.windows.net/test-queue-e3e7b660-7a2b-51f5-72a9-e56a4fa399db?sv=2018-11-09\u0026ss=q\u0026srt=c\u0026st=2019-06-30T16%3A34%3A00Z\u0026se=2019-06-30T18%3A34%3A00Z\u0026sp=rwdlaup\u0026sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "http://storageteglazatesting.queue.core.windows.net/test-queue-e3e7b660-7a2b-51f5-72a9-e56a4fa399db?sv=2018-11-09\u0026ss=q\u0026srt=c\u0026st=2019-06-30T16%3A34%3A00Z\u0026se=2019-06-30T18%3A34%3A00Z\u0026sp=rwdlaup\u0026sig=Sanitized",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2019-06-30T10:34:00.4210574-07:00",
    "RandomSeed": "2005102848"
  }
}