{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.queue.core.windows.net/test-queue-af469c94-3d22-f597-990f-225e30cb6fda?sv=2020-10-02&ss=bfqt&srt=sco&spr=https&se=2021-05-14T17%3A50%3A20Z&sp=rwdxlacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seanmcccanary3.queue.core.windows.net/test-queue-af469c94-3d22-f597-990f-225e30cb6fda?sv=2020-10-02&ss=bfqt&srt=sco&spr=https&se=2021-05-14T17%3A50%3A20Z&sp=rwdxlacuptfi&sig=Sanitized&comp=metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "x-ms-approximate-messages-count": "0",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seanmcccanary3.queue.core.windows.net/test-queue-416f4d1a-4342-4c86-8313-27dd7c962a2c?sv=2020-10-02&ss=bfqt&srt=sco&spr=https&se=2021-05-14T17%3A50%3A20Z&sp=rwdxlacuptfi&sig=Sanitized",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2021-05-14T11:50:20.848687-05:00",
    "RandomSeed": "69753392",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\nseanscope1\n\n"
  }
}