{
  "Entries": [
    {
      "RequestUri": "https://seandevtest.queue.core.windows.net/test-queue-016cc99e-5bfe-160c-4d6a-2c97d91d3e43",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 06 Jan 2021 02:03:10 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seandevtest.queue.core.windows.net/test-queue-016cc99e-5bfe-160c-4d6a-2c97d91d3e43/messages",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "x-ms-date": "Wed, 06 Jan 2021 02:03:10 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": "﻿<QueueMessage><MessageText>ZWdseGRzb2R5ZW9nZnVrY3N3YmM=</MessageText></QueueMessage>",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>493afac6-d366-4a69-a9c6-9920f1bcb680</MessageId><InsertionTime>Wed, 06 Jan 2021 02:03:11 GMT</InsertionTime><ExpirationTime>Wed, 13 Jan 2021 02:03:11 GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAA3SK1FdDj1gE=</PopReceipt><TimeNextVisible>Wed, 06 Jan 2021 02:03:11 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>"
    },
    {
      "RequestUri": "https://seandevtest.queue.core.windows.net/test-queue-016cc99e-5bfe-160c-4d6a-2c97d91d3e43/messages",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 06 Jan 2021 02:03:10 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>493afac6-d366-4a69-a9c6-9920f1bcb680</MessageId><InsertionTime>Wed, 06 Jan 2021 02:03:11 GMT</InsertionTime><ExpirationTime>Wed, 13 Jan 2021 02:03:11 GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAA3ELGJ9Dj1gE=</PopReceipt><TimeNextVisible>Wed, 06 Jan 2021 02:03:41 GMT</TimeNextVisible><DequeueCount>1</DequeueCount><MessageText>ZWdseGRzb2R5ZW9nZnVrY3N3YmM=</MessageText></QueueMessage></QueueMessagesList>"
    },
    {
      "RequestUri": "https://seandevtest.queue.core.windows.net/test-queue-016cc99e-5bfe-160c-4d6a-2c97d91d3e43",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 06 Jan 2021 02:03:10 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "676114824",
    "Storage_TestConfigDefault": "ProductionTenant\nseandevtest\nU2FuaXRpemVk\nhttps://seandevtest.blob.core.windows.net\nhttps://seandevtest.file.core.windows.net\nhttps://seandevtest.queue.core.windows.net\nhttps://seandevtest.table.core.windows.net\n\n\n\n\nhttps://seandevtest-secondary.blob.core.windows.net\nhttps://seandevtest-secondary.file.core.windows.net\nhttps://seandevtest-secondary.queue.core.windows.net\nhttps://seandevtest-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seandevtest.blob.core.windows.net/;QueueEndpoint=https://seandevtest.queue.core.windows.net/;FileEndpoint=https://seandevtest.file.core.windows.net/;BlobSecondaryEndpoint=https://seandevtest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seandevtest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seandevtest-secondary.file.core.windows.net/;AccountName=seandevtest;AccountKey=Kg==;\nseanscope1\n\n"
  }
}