{
  "Entries": [
    {
      "RequestUri": "http://storageteglazatesting.queue.core.windows.net/test-queue-bfd87f3c-e828-94d2-442e-062f8c41ab10",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 25 Jun 2019 17:35:46 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "http://storageteglazatesting.queue.core.windows.net/test-queue-bfd87f3c-e828-94d2-442e-062f8c41ab10?comp=metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 25 Jun 2019 17:35:46 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "QueueNotFound",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": [
        "\ufeff\u003c?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003e\u003cError\u003e\u003cCode\u003eQueueNotFound\u003c/Code\u003e\u003cMessage\u003eThe specified queue does not exist.\n",
        "RequestId:26b23bf4-3003-0067-617c-2b5df2000000\n",
        "Time:2019-06-25T17:35:46.3387103Z\u003c/Message\u003e\u003c/Error\u003e"
      ]
    }
  ],
  "Variables": {
    "RandomSeed": "391819524"
  }
}