{
  "Entries": [
    {
      "RequestUri": "https://seandevtest.queue.core.windows.net/test-queue-d2f09d82-9f7d-ef38-1754-120575df309c",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 07 Jan 2021 19:23:41 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seandevtest.queue.core.windows.net/test-queue-d2f09d82-9f7d-ef38-1754-120575df309c/messages",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "x-ms-date": "Thu, 07 Jan 2021 19:23:41 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": "\uFEFF\u003CQueueMessage\u003E\u003CMessageText\u003Eujcmpvuvrpgmsyprwnca\u003C/MessageText\u003E\u003C/QueueMessage\u003E",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CQueueMessagesList\u003E\u003CQueueMessage\u003E\u003CMessageId\u003E31c5360c-dfe8-442a-9d4f-cb314a534c7c\u003C/MessageId\u003E\u003CInsertionTime\u003EThu, 07 Jan 2021 19:23:40 GMT\u003C/InsertionTime\u003E\u003CExpirationTime\u003EThu, 14 Jan 2021 19:23:40 GMT\u003C/ExpirationTime\u003E\u003CPopReceipt\u003EAgAAAAMAAAAAAAAA/JsEmyrl1gE=\u003C/PopReceipt\u003E\u003CTimeNextVisible\u003EThu, 07 Jan 2021 19:23:40 GMT\u003C/TimeNextVisible\u003E\u003C/QueueMessage\u003E\u003C/QueueMessagesList\u003E"
    },
[...]
    {
      "RequestUri": "https://seandevtest.queue.core.windows.net/test-queue-d2f09d82-9f7d-ef38-1754-120575df309c/messages?peekonly=true\u0026numofmessages=2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 07 Jan 2021 19:23:41 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-versio[...]
    {
      "RequestUri": "https://seandevtest.queue.core.windows.net/test-queue-d2f09d82-9f7d-ef38-1754-120575df309c",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 07 Jan 2021 19:23:41 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1932248403",
    "Storage_TestConfigDefault": "ProductionTenant\nseandevtest\nU2FuaXRpemVk\nhttps://seandevtest.blob.core.windows.net\nhttps://seandevtest.file.core.windows.net\nhttps://seandevtest.queue.core.windows.net\nhttps://seandevtest.table.core.windows.net\n\n\n\n\nhttps://seandevtest-secondary.blob.core.windows.net\nhttps://seandevtest-secondary.file.core.windows.net\nhttps://seandevtest-secondary.queue.core.windows.net\nhttps://seandevtest-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seandevtest.blob.core.windows.net/;QueueEndpoint=https://seandevtest.queue.core.windows.net/;FileEndpoint=https://seandevtest.file.core.windows.net/;BlobSecondaryEndpoint=https://seandevtest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seandevtest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seandevtest-secondary.file.core.windows.net/;AccountName=seandevtest;AccountKey=Kg==;\nseanscope1"
  }
}