{
  "Entries": [
    {
      "RequestUri": "https://kasoboltest.queue.core.windows.net/test-queue-f21ec946-2a81-7e98-5f46-176a6998a7d1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 26 Jan 2021 21:28:04 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://kasoboltest.queue.core.windows.net/test-queue-f21ec946-2a81-7e98-5f46-176a6998a7d1/messages",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "x-ms-date": "Tue, 26 Jan 2021 21:28:04 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": "﻿<QueueMessage><MessageText>test_content</MessageText></QueueMessage>",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>ba88b4e4-7887-4e08-847c-d5ce88294dbf</MessageId><InsertionTime>Tue, 26 Jan 2021 21:28:04 GMT</InsertionTime><ExpirationTime>Tue, 02 Feb 2021 21:28:04 GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAQiG9ISr01gE=</PopReceipt><TimeNextVisible>Tue, 26 Jan 2021 21:28:04 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>"
    },
[...]
    {
      "RequestUri": "https://kasoboltest.queue.core.windows.net/test-queue-f21ec946-2a81-7e98-5f46-176a6998a7d1/messages?peekonly=true&numofmessages=10",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 26 Jan 2021 21:28:04 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>ba88b4e4-7887-4e08-847c-d5ce88294dbf</MessageId><InsertionTime>Tue, 26 Jan 2021 21:28:04 GMT</InsertionTime><ExpirationTime>Tue, 02 Feb 2021 21:28:04 GMT</ExpirationTime><DequeueCount>0</DequeueCount><MessageText>test_content</MessageText></QueueMessage><QueueMessage><MessageId>0dd9a7dc-5abe-40a3-a670-6aeeb6d59610</MessageId><InsertionTime>Tue, 26 Jan 2021 21:28:04 GMT</InsertionTime><ExpirationTime>Tue, 02 Feb 2021 21:28:04 GMT</ExpirationTime><DequeueCount>0</DequeueCount><MessageText>dGVzdF9jb250ZW50</MessageText></QueueMessage></QueueMessagesList>"
    },
    {
      "RequestUri": "https://kasoboltest.queue.core.windows.net/test-queue-f21ec946-2a81-7e98-5f46-176a6998a7d1",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 26 Jan 2021 21:28:04 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "203054038",
    "Storage_TestConfigDefault": "ProductionTenant\nkasoboltest\nU2FuaXRpemVk\nhttps://kasoboltest.blob.core.windows.net\nhttps://kasoboltest.file.core.windows.net\nhttps://kasoboltest.queue.core.windows.net\nhttps://kasoboltest.table.core.windows.net\n\n\n\n\nhttps://kasoboltest-secondary.blob.core.windows.net\nhttps://kasoboltest-secondary.file.core.windows.net\nhttps://kasoboltest-secondary.queue.core.windows.net\nhttps://kasoboltest-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://kasoboltest.blob.core.windows.net/;QueueEndpoint=https://kasoboltest.queue.core.windows.net/;FileEndpoint=https://kasoboltest.file.core.windows.net/;BlobSecondaryEndpoint=https://kasoboltest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://kasoboltest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://kasoboltest-secondary.file.core.windows.net/;AccountName=kasoboltest;AccountKey=Kg==;\nencryptionScope\n\n"
  }
}