{
  "Entries": [
    {
      "RequestUri": "https://kasoboltest.queue.core.windows.net/test-queue-bb1f8b18-605d-8e50-67f4-ee30c266a808",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 26 Jan 2021 21:29:10 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://kasoboltest.queue.core.windows.net/test-queue-bb1f8b18-605d-8e50-67f4-ee30c266a808/messages",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "x-ms-date": "Tue, 26 Jan 2021 21:29:10 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": "﻿<QueueMessage><MessageText>test_content</MessageText></QueueMessage>",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>f73b850a-d4e9-41e0-988f-d5224628bc50</MessageId><InsertionTime>Tue, 26 Jan 2021 21:29:10 GMT</InsertionTime><ExpirationTime>Tue, 02 Feb 2021 21:29:10 GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAALSkUSSr01gE=</PopReceipt><TimeNextVisible>Tue, 26 Jan 2021 21:29:10 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>"
    },
[...]
    {
      "RequestUri": "https://kasoboltest.queue.core.windows.net/test-queue-bb1f8b18-605d-8e50-67f4-ee30c266a808/messages?numofmessages=10",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 26 Jan 2021 21:29:10 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>f73b850a-d4e9-41e0-988f-d5224628bc50</MessageId><InsertionTime>Tue, 26 Jan 2021 21:29:10 GMT</InsertionTime><ExpirationTime>Tue, 02 Feb 2021 21:29:10 GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAANPoQWyr01gE=</PopReceipt><TimeNextVisible>Tue, 26 Jan 2021 21:29:40 GMT</TimeNextVisible><DequeueCount>1</DequeueCount><MessageText>test_content</MessageText></QueueMessage><QueueMessage><MessageId>7ba418a2-ff21-4233-93e4-1bd947edf577</MessageId><InsertionTime>Tue, 26 Jan 2021 21:29:10 GMT</InsertionTime><ExpirationTime>Tue, 02 Feb 2021 21:29:10 GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAANPoQWyr01gE=</PopReceipt><TimeNextVisible>Tue, 26 Jan 2021 21:29:40 GMT</TimeNextVisible><DequeueCount>1</DequeueCount><MessageText>dGVzdF9jb250ZW50</MessageText></QueueMessage></QueueMessagesList>"
    },
    {
      "RequestUri": "https://kasoboltest.queue.core.windows.net/test-queue-bb1f8b18-605d-8e50-67f4-ee30c266a808",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 26 Jan 2021 21:29:10 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "2008412009",
    "Storage_TestConfigDefault": "ProductionTenant\nkasoboltest\nU2FuaXRpemVk\nhttps://kasoboltest.blob.core.windows.net\nhttps://kasoboltest.file.core.windows.net\nhttps://kasoboltest.queue.core.windows.net\nhttps://kasoboltest.table.core.windows.net\n\n\n\n\nhttps://kasoboltest-secondary.blob.core.windows.net\nhttps://kasoboltest-secondary.file.core.windows.net\nhttps://kasoboltest-secondary.queue.core.windows.net\nhttps://kasoboltest-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://kasoboltest.blob.core.windows.net/;QueueEndpoint=https://kasoboltest.queue.core.windows.net/;FileEndpoint=https://kasoboltest.file.core.windows.net/;BlobSecondaryEndpoint=https://kasoboltest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://kasoboltest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://kasoboltest-secondary.file.core.windows.net/;AccountName=kasoboltest;AccountKey=Kg==;\nencryptionScope\n\n"
  }
}