{
  "Entries": [
    {
      "RequestUri": "https://seandevtest.queue.core.windows.net/test-queue-9638ffb7-122b-543d-0e59-cabb69cbc5e2",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 06 Jan 2021 02:04:35 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seandevtest.queue.core.windows.net/test-queue-9638ffb7-122b-543d-0e59-cabb69cbc5e2/messages",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "x-ms-date": "Wed, 06 Jan 2021 02:04:36 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": "﻿<QueueMessage><MessageText /></QueueMessage>",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>1299c9ce-2582-498e-81f3-8bd597121d3f</MessageId><InsertionTime>Wed, 06 Jan 2021 02:04:36 GMT</InsertionTime><ExpirationTime>Wed, 13 Jan 2021 02:04:36 GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAA+n/YSNDj1gE=</PopReceipt><TimeNextVisible>Wed, 06 Jan 2021 02:04:36 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>"
    },
    {
      "RequestUri": "https://seandevtest.queue.core.windows.net/test-queue-9638ffb7-122b-543d-0e59-cabb69cbc5e2",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 06 Jan 2021 02:04:36 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "134162721",
    "Storage_TestConfigDefault": "ProductionTenant\nseandevtest\nU2FuaXRpemVk\nhttps://seandevtest.blob.core.windows.net\nhttps://seandevtest.file.core.windows.net\nhttps://seandevtest.queue.core.windows.net\nhttps://seandevtest.table.core.windows.net\n\n\n\n\nhttps://seandevtest-secondary.blob.core.windows.net\nhttps://seandevtest-secondary.file.core.windows.net\nhttps://seandevtest-secondary.queue.core.windows.net\nhttps://seandevtest-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seandevtest.blob.core.windows.net/;QueueEndpoint=https://seandevtest.queue.core.windows.net/;FileEndpoint=https://seandevtest.file.core.windows.net/;BlobSecondaryEndpoint=https://seandevtest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seandevtest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seandevtest-secondary.file.core.windows.net/;AccountName=seandevtest;AccountKey=Kg==;\nseanscope1\n\n"
  }
}