{
  "Entries": [
    {
      "RequestUri": "http://storageteglazatesting.queue.core.windows.net/test-queue-277f1780-790d-fae6-f51f-a3607ce19029?comp=acl",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "x-ms-date": "Fri, 12 Jul 2019 17:59:24 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": [
        "\u003cSignedIdentifiers\u003e\r\n",
        "  \u003cSignedIdentifier\u003e\r\n",
        "    \u003cId\u003ejewfwdtqpevtsbvyvppd\u003c/Id\u003e\r\n",
        "    \u003cAccessPolicy\u003e\r\n",
        "      \u003cStart\u003e2019-07-12T16:59:24.2124456Z\u003c/Start\u003e\r\n",
        "      \u003cExpiry\u003e2019-07-12T18:59:24.2124456Z\u003c/Expiry\u003e\r\n",
        "      \u003cPermission\u003eraup\u003c/Permission\u003e\r\n",
        "    \u003c/AccessPolicy\u003e\r\n",
        "  \u003c/SignedIdentifier\u003e\r\n",
        "\u003c/SignedIdentifiers\u003e"
      ],
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "QueueNotFound",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": [
        "\ufeff\u003c?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003e\u003cError\u003e\u003cCode\u003eQueueNotFound\u003c/Code\u003e\u003cMessage\u003eThe specified queue does not exist.\n",
        "RequestId:54d3746b-e003-005b-2adb-387435000000\n",
        "Time:2019-07-12T17:59:24.1984385Z\u003c/Message\u003e\u003c/Error\u003e"
      ]
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2019-07-12T10:59:24.2124456-07:00",
    "RandomSeed": "2110562054",
    "Storage_TestConfigDefault": "ProductionTenant\nstorageteglazatesting\nU2FuaXRpemVk\nhttp://storageteglazatesting.blob.core.windows.net\nhttp://storageteglazatesting.file.core.windows.net\nhttp://storageteglazatesting.queue.core.windows.net\nhttp://storageteglazatesting.table.core.windows.net\n\n\n\n\nhttp://storageteglazatesting-secondary.blob.core.windows.net\n\nhttp://storageteglazatesting-secondary.queue.core.windows.net\nhttp://storageteglazatesting-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://storageteglazatesting.blob.core.windows.net/;QueueEndpoint=http://storageteglazatesting.queue.core.windows.net/;TableEndpoint=http://storageteglazatesting.table.core.windows.net/;FileEndpoint=http://storageteglazatesting.file.core.windows.net/;BlobSecondaryEndpoint=http://storageteglazatesting-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://storageteglazatesting-secondary.queue.core.windows.net/;TableSecondaryEndpoint=http://storageteglazatesting-secondary.table.core.windows.net/;AccountName=storageteglazatesting;AccountKey=Sanitized"
  }
}