{
  "Entries": [
    {
      "RequestUri": "http://storageteglazatesting.queue.core.windows.net/test-queue-7fd878cd-ad02-0397-8dc1-a9fc6e5f439e",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 12 Jul 2019 17:59:25 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "http://storageteglazatesting.queue.core.windows.net/test-queue-7fd878cd-ad02-0397-8dc1-a9fc6e5f439e?comp=acl",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "x-ms-date": "Fri, 12 Jul 2019 17:59:25 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": [
        "\u003cSignedIdentifiers\u003e\r\n",
        "  \u003cSignedIdentifier\u003e\r\n",
        "    \u003cId\u003enntmsohfhwgfiakknvuv\u003c/Id\u003e\r\n",
        "    \u003cAccessPolicy\u003e\r\n",
        "      \u003cStart\u003e2019-07-12T16:59:25.2984344Z\u003c/Start\u003e\r\n",
        "      \u003cExpiry\u003e2019-07-12T18:59:25.2984344Z\u003c/Expiry\u003e\r\n",
        "      \u003cPermission\u003eraup\u003c/Permission\u003e\r\n",
        "    \u003c/AccessPolicy\u003e\r\n",
        "  \u003c/SignedIdentifier\u003e\r\n",
        "\u003c/SignedIdentifiers\u003e"
      ],
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "http://storageteglazatesting.queue.core.windows.net/test-queue-7fd878cd-ad02-0397-8dc1-a9fc6e5f439e",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 12 Jul 2019 17:59:25 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2019-07-12T10:59:25.2984344-07:00",
    "RandomSeed": "597829429",
    "Storage_TestConfigDefault": "ProductionTenant\nstorageteglazatesting\nU2FuaXRpemVk\nhttp://storageteglazatesting.blob.core.windows.net\nhttp://storageteglazatesting.file.core.windows.net\nhttp://storageteglazatesting.queue.core.windows.net\nhttp://storageteglazatesting.table.core.windows.net\n\n\n\n\nhttp://storageteglazatesting-secondary.blob.core.windows.net\n\nhttp://storageteglazatesting-secondary.queue.core.windows.net\nhttp://storageteglazatesting-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://storageteglazatesting.blob.core.windows.net/;QueueEndpoint=http://storageteglazatesting.queue.core.windows.net/;TableEndpoint=http://storageteglazatesting.table.core.windows.net/;FileEndpoint=http://storageteglazatesting.file.core.windows.net/;BlobSecondaryEndpoint=http://storageteglazatesting-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://storageteglazatesting-secondary.queue.core.windows.net/;TableSecondaryEndpoint=http://storageteglazatesting-secondary.table.core.windows.net/;AccountName=storageteglazatesting;AccountKey=Sanitized"
  }
}