{
  "Entries": [
    {
      "RequestUri": "https://seandevtest.queue.core.windows.net/test-queue-057cf44e-4ddc-97ec-c620-12de736bb645",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 06 Jan 2021 02:03:52 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seandevtest.queue.core.windows.net/test-queue-057cf44e-4ddc-97ec-c620-12de736bb645/messages",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "x-ms-date": "Wed, 06 Jan 2021 02:03:52 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": "﻿<QueueMessage><MessageText>foo</MessageText></QueueMessage>",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>e94c24c7-45d3-4b74-9f97-06e1a87534e8</MessageId><InsertionTime>Wed, 06 Jan 2021 02:03:53 GMT</InsertionTime><ExpirationTime>Wed, 13 Jan 2021 02:03:53 GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAALZG6LtDj1gE=</PopReceipt><TimeNextVisible>Wed, 06 Jan 2021 02:03:53 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>"
    },
    {
      "RequestUri": "https://seandevtest.queue.core.windows.net/test-queue-057cf44e-4ddc-97ec-c620-12de736bb645/messages?numofmessages=1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 06 Jan 2021 02:03:52 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>e94c24c7-45d3-4b74-9f97-06e1a87534e8</MessageId><InsertionTime>Wed, 06 Jan 2021 02:03:53 GMT</InsertionTime><ExpirationTime>Wed, 13 Jan 2021 02:03:53 GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAOB2oQNDj1gE=</PopReceipt><TimeNextVisible>Wed, 06 Jan 2021 02:04:23 GMT</TimeNextVisible><DequeueCount>1</DequeueCount><MessageText>foo</MessageText></QueueMessage></QueueMessagesList>"
    },
    {
      "RequestUri": "https://seandevtest.queue.core.windows.net/test-queue-057cf44e-4ddc-97ec-c620-12de736bb645/messages/e94c24c7-45d3-4b74-9f97-06e1a87534e8?popreceipt=AgAAAAMAAAAAAAAAOB2oQNDj1gE%3D&visibilitytimeout=0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "x-ms-date": "Wed, 06 Jan 2021 02:03:52 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": "﻿<QueueMessage><MessageText>bar</MessageText></QueueMessage>",
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-popreceipt": "AwAAAAMAAAAAAAAAKTzSLtDj1gEBAAAA",
        "x-ms-time-next-visible": "Wed, 06 Jan 2021 02:03:53 GMT",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seandevtest.queue.core.windows.net/test-queue-057cf44e-4ddc-97ec-c620-12de736bb645",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 06 Jan 2021 02:03:52 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "459460049",
    "Storage_TestConfigDefault": "ProductionTenant\nseandevtest\nU2FuaXRpemVk\nhttps://seandevtest.blob.core.windows.net\nhttps://seandevtest.file.core.windows.net\nhttps://seandevtest.queue.core.windows.net\nhttps://seandevtest.table.core.windows.net\n\n\n\n\nhttps://seandevtest-secondary.blob.core.windows.net\nhttps://seandevtest-secondary.file.core.windows.net\nhttps://seandevtest-secondary.queue.core.windows.net\nhttps://seandevtest-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seandevtest.blob.core.windows.net/;QueueEndpoint=https://seandevtest.queue.core.windows.net/;FileEndpoint=https://seandevtest.file.core.windows.net/;BlobSecondaryEndpoint=https://seandevtest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seandevtest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seandevtest-secondary.file.core.windows.net/;AccountName=seandevtest;AccountKey=Kg==;\nseanscope1\n\n"
  }
}