{
  "Entries": [
    {
      "RequestUri": "/subscriptions/c920adeb-8172-4d69-80af-a8f4050bc758/providers/microsoft.remoteapp/account/locations?api-version=2014-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "[\r\n  {\r\n    \"locationName\": \"West US\",\r\n    \"displayName\": \"West US\"\r\n  },\r\n  {\r\n    \"locationName\": \"North Central US\",\r\n    \"displayName\": \"North Central US\"\r\n  },\r\n  {\r\n    \"locationName\": \"South Central US\",\r\n    \"displayName\": \"South Central US\"\r\n  },\r\n  {\r\n    \"locationName\": \"North Europe\",\r\n    \"displayName\": \"North Europe\"\r\n  },\r\n  {\r\n    \"locationName\": \"West Europe\",\r\n    \"displayName\": \"West Europe\"\r\n  },\r\n  {\r\n    \"locationName\": \"East Asia\",\r\n    \"displayName\": \"East Asia\"\r\n  },\r\n  {\r\n    \"locationName\": \"Southeast Asia\",\r\n    \"displayName\": \"Southeast Asia\"\r\n  },\r\n  {\r\n    \"locationName\": \"Brazil South\",\r\n    \"displayName\": \"Brazil South\"\r\n  },\r\n  {\r\n    \"locationName\": \"Japan West\",\r\n    \"displayName\": \"Japan West\"\r\n  },\r\n  {\r\n    \"locationName\": \"Australia Southeast\",\r\n    \"displayName\": \"Australia Southeast\"\r\n  },\r\n  {\r\n    \"locationName\": \"Australia East\",\r\n    \"displayName\": \"Australia East\"\r\n  }\r\n]",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14997"
        ]
      },
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "c920adeb-8172-4d69-80af-a8f4050bc758"
  }
}