{
  "Entries": [
    {
      "RequestUri": "https://chrisstablesprim.table.core.windows.net/Tables?$format=application%2Fjson%3Bodata%3Dminimalmetadata",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json; odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "TableName": "testtableepz39qkb"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "Location": "https://chrisstablesprim.table.core.windows.net/Tables(\u0027testtableepz39qkb\u0027)",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://chrisstablesprim.table.core.windows.net/$metadata#Tables/@Element",
        "TableName": "testtableepz39qkb"
      }
    },
    {
      "RequestUri": "https://chrisstablesprim.table.core.windows.net/testtableepz39qkb?$format=application%2Fjson%3Bodata%3Dminimalmetadata",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json; odata=nometadata",
        "DataServiceVersion": "3.0",
        "Prefer": "return-no-content",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "PartitionKey": "somPartition",
        "RowKey": "01",
        "MyFoo": "Two",
        "MyNullableFoo": "Two"
      },
      "StatusCode": 204,
      "ResponseHeaders": {
        "DataServiceId": "https://chrisstablesprim.table.core.windows.net/testtableepz39qkb(PartitionKey=\u0027somPartition\u0027,RowKey=\u002701\u0027)",
        "ETag": "W/\u0022datetime\u00272021-06-16T17%3A28%3A02.7954401Z\u0027\u0022",
        "Location": "https://chrisstablesprim.table.core.windows.net/testtableepz39qkb(PartitionKey=\u0027somPartition\u0027,RowKey=\u002701\u0027)",
        "Preference-Applied": "return-no-content",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://chrisstablesprim.table.core.windows.net/testtableepz39qkb()?$format=application%2Fjson%3Bodata%3Dminimalmetadata\u0026$filter=PartitionKey%20eq%20%27somPartition%27%20and%20RowKey%20eq%20%2701%27",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "DataServiceVersion": "3.0",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://chrisstablesprim.table.core.windows.net/$metadata#testtableepz39qkb",
        "value": [
          {
            "odata.etag": "W/\u0022datetime\u00272021-06-16T17%3A28%3A02.7954401Z\u0027\u0022",
            "PartitionKey": "somPartition",
            "RowKey": "01",
            "Timestamp": "2021-06-16T17:28:02.7954401Z",
            "MyFoo": "Two",
            "MyNullableFoo": "Two"
          }
        ]
      }
    },
    {
      "RequestUri": "https://chrisstablesprim.table.core.windows.net/Tables(\u0027testtableepz39qkb\u0027)",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1523347081",
    "STORAGE_ENDPOINT_SUFFIX": "core.windows.net",
    "TABLES_PRIMARY_STORAGE_ACCOUNT_KEY": "Kg==",
    "TABLES_STORAGE_ACCOUNT_NAME": "chrisstablesprim"
  }
}