{
  "Entries": [
    {
      "RequestUri": "https://chrisstablesprim.table.core.windows.net/Tables?$format=application%2Fjson%3Bodata%3Dminimalmetadata",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json; odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "TableName": "testtabled35j9btv"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "Location": "https://chrisstablesprim.table.core.windows.net/Tables(\u0027testtabled35j9btv\u0027)",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://chrisstablesprim.table.core.windows.net/$metadata#Tables/@Element",
        "TableName": "testtabled35j9btv"
      }
    },
    {
      "RequestUri": "https://chrisstablesprim.table.core.windows.net/testtabled35j9btv?$format=application%2Fjson%3Bodata%3Dminimalmetadata",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json; odata=nometadata",
        "DataServiceVersion": "3.0",
        "Prefer": "return-no-content",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "PartitionKey": "partition",
        "RowKey": "1",
        "CurrentCount": 10,
        "LastCount": 5,
        "renamed_property": "foo"
      },
      "StatusCode": 204,
      "ResponseHeaders": {
        "DataServiceId": "https://chrisstablesprim.table.core.windows.net/testtabled35j9btv(PartitionKey=\u0027partition\u0027,RowKey=\u00271\u0027)",
        "ETag": "W/\u0022datetime\u00272021-08-16T20%3A19%3A35.5847385Z\u0027\u0022",
        "Location": "https://chrisstablesprim.table.core.windows.net/testtabled35j9btv(PartitionKey=\u0027partition\u0027,RowKey=\u00271\u0027)",
        "Preference-Applied": "return-no-content",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://chrisstablesprim.table.core.windows.net/testtabled35j9btv(PartitionKey=\u0027partition\u0027,RowKey=\u00271\u0027)?$format=application%2Fjson%3Bodata%3Dminimalmetadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "DataServiceVersion": "3.0",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "ETag": "W/\u0022datetime\u00272021-08-16T20%3A19%3A35.5847385Z\u0027\u0022",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://chrisstablesprim.table.core.windows.net/$metadata#testtabled35j9btv/@Element",
        "odata.etag": "W/\u0022datetime\u00272021-08-16T20%3A19%3A35.5847385Z\u0027\u0022",
        "PartitionKey": "partition",
        "RowKey": "1",
        "Timestamp": "2021-08-16T20:19:35.5847385Z",
        "CurrentCount": 10,
        "LastCount": 5,
        "renamed_property": "foo"
      }
    },
    {
      "RequestUri": "https://chrisstablesprim.table.core.windows.net/Tables(\u0027testtabled35j9btv\u0027)",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "43426164",
    "STORAGE_ENDPOINT_SUFFIX": "core.windows.net",
    "TABLES_PRIMARY_STORAGE_ACCOUNT_KEY": "Kg==",
    "TABLES_STORAGE_ACCOUNT_NAME": "chrisstablesprim"
  }
}