{
  "Entries": [
    {
      "RequestUri": "https://sdk-test-comm.int.communication.azure.net/emails:send?api-version=2021-10-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "repeatability-first-sent": "Sanitized",
        "repeatability-request-id": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 29 Dec 2022 00:17:03 GMT"
      },
      "RequestBody": {
        "sender": "DoNotReply@aa8c2c80-11ae-48b6-bb2a-783fd5aafaa1.azurecomm-dev.net",
        "content": {
          "subject": "subject",
          "plainText": "Test"
        },
        "recipients": {
          "to": [],
          "CC": [
            {
              "email": "acseaastesting@gmail.com",
              "displayName": "CcAddress"
            }
          ],
          "bCC": [
            {
              "email": "acseaastesting@gmail.com",
              "displayName": "BccAddress"
            }
          ]
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "api-supported-versions": "2021-10-01-preview",
        "mise-correlation-id": "579a0fc6-1d6c-4436-a764-73ab2d79760b",
        "Operation-Location": "https://sdk-test-comm.int.communication.azure.net/emails/b13bae59-2e16-49d0-9ac0-cbf19aee8db4/status",
        "Repeatability-Result": "accepted"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://sdk-test-comm.int.communication.azure.net/emails/b13bae59-2e16-49d0-9ac0-cbf19aee8db4/status?api-version=2021-10-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 29 Dec 2022 00:17:03 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-10-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "2bc25ea4-2c4e-4777-9180-2136a4567e9e",
        "Retry-After": "60"
      },
      "ResponseBody": {
        "messageId": "b13bae59-2e16-49d0-9ac0-cbf19aee8db4",
        "status": "Queued"
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_CONNECTION_STRING_EMAIL": "endpoint=https://sdk-test-comm.int.communication.azure.net/;accesskey=Kg==",
    "RandomSeed": "978975813",
    "RECIPIENT_ADDRESS": "acseaastesting@gmail.com",
    "SENDER_ADDRESS": "DoNotReply@aa8c2c80-11ae-48b6-bb2a-783fd5aafaa1.azurecomm-dev.net"
  }
}
