{
  "Entries": [
    {
      "RequestUri": "https://sdk-test-comm.int.communication.azure.net/emails:send?api-version=2021-10-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "repeatability-first-sent": "Sanitized",
        "repeatability-request-id": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 29 Dec 2022 00:17:01 GMT"
      },
      "RequestBody": {
        "sender": "DoNotReply@aa8c2c80-11ae-48b6-bb2a-783fd5aafaa1.azurecomm-dev.net",
        "content": {
          "subject": "subject",
          "plainText": "Test"
        },
        "recipients": {
          "to": [
            {
              "email": "acseaastesting@gmail.com",
              "displayName": "ToAddress"
            }
          ],
          "CC": [
            {
              "email": "acseaastesting@gmail.com",
              "displayName": "CcAddress"
            }
          ],
          "bCC": [
            {
              "email": "acseaastesting@gmail.com",
              "displayName": "BccAddress"
            }
          ]
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "api-supported-versions": "2021-10-01-preview",
        "mise-correlation-id": "397bd27b-4b21-4f3d-aaa4-3609c36fc427",
        "Operation-Location": "https://sdk-test-comm.int.communication.azure.net/emails/10f2f8ee-dd82-473c-a398-a69731b28777/status",
        "Repeatability-Result": "accepted"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://sdk-test-comm.int.communication.azure.net/emails/10f2f8ee-dd82-473c-a398-a69731b28777/status?api-version=2021-10-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 29 Dec 2022 00:17:01 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-10-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "ce9ba577-8971-4218-a396-7bd515b5d3e8",
        "Retry-After": "60"
      },
      "ResponseBody": {
        "messageId": "10f2f8ee-dd82-473c-a398-a69731b28777",
        "status": "Queued"
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_CONNECTION_STRING_EMAIL": "endpoint=https://sdk-test-comm.int.communication.azure.net/;accesskey=Kg==",
    "RandomSeed": "1040713420",
    "RECIPIENT_ADDRESS": "acseaastesting@gmail.com",
    "SENDER_ADDRESS": "DoNotReply@aa8c2c80-11ae-48b6-bb2a-783fd5aafaa1.azurecomm-dev.net"
  }
}
