{
  "Entries": [
    {
      "RequestUri": "https://sdk-live-test-comm.communication.azure.com/emails:send?api-version=2021-10-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "repeatability-first-sent": "Sanitized",
        "repeatability-request-id": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 10 Nov 2022 21:16:35 GMT"
      },
      "RequestBody": {
        "sender": "DoNotReply@3276b20a-aa29-4ec2-9cf7-b517715b101b.azurecomm.net",
        "content": {
          "subject": "subject",
          "plainText": "Test"
        },
        "recipients": {
          "to": [
            {
              "email": "acseaastesting@gmail.com",
              "displayName": "ToAddress"
            }
          ]
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "api-supported-versions": "2021-10-01-preview",
        "mise-correlation-id": "e51d7dde-1770-46ed-8b64-839fa57d97b6",
        "Operation-Location": "https://sdk-live-test-comm.communication.azure.com/emails/591863f1-e084-4750-be19-62a909b1b0af/status",
        "Repeatability-Result": "accepted"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://sdk-live-test-comm.communication.azure.com/emails/591863f1-e084-4750-be19-62a909b1b0af/status?api-version=2021-10-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 10 Nov 2022 21:16:36 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-10-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "db5bd00a-eddb-4b83-8468-9be1e6e01f03",
        "Retry-After": "60"
      },
      "ResponseBody": {
        "messageId": "591863f1-e084-4750-be19-62a909b1b0af",
        "status": "Queued"
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_CONNECTION_STRING_EMAIL": "endpoint=https://sdk-live-test-comm.communication.azure.com/;accesskey=Kg==",
    "RandomSeed": "1802788710",
    "RECIPIENT_ADDRESS": "acseaastesting@gmail.com",
    "SENDER_ADDRESS": "DoNotReply@3276b20a-aa29-4ec2-9cf7-b517715b101b.azurecomm.net"
  }
}
