{
  "Entries": [
    {
      "RequestUri": "https://sdk-test-comm.int.communication.azure.net/emails:send?api-version=2021-10-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "repeatability-first-sent": "Sanitized",
        "repeatability-request-id": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 29 Dec 2022 00:16:58 GMT"
      },
      "RequestBody": {
        "sender": "DoNotReply@aa8c2c80-11ae-48b6-bb2a-783fd5aafaa1.azurecomm-dev.net",
        "content": {
          "subject": "subject",
          "plainText": "Test"
        },
        "recipients": {
          "to": [
            {
              "email": "acseaastesting@gmail.com",
              "displayName": "ToAddress"
            }
          ]
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "api-supported-versions": "2021-10-01-preview",
        "mise-correlation-id": "c0542126-70b5-4de5-9a0f-3145202a293b",
        "Operation-Location": "https://sdk-test-comm.int.communication.azure.net/emails/c1ccb2be-18f9-4f21-927a-7c171f941dab/status",
        "Repeatability-Result": "accepted"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://sdk-test-comm.int.communication.azure.net/emails/c1ccb2be-18f9-4f21-927a-7c171f941dab/status?api-version=2021-10-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 29 Dec 2022 00:16:59 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-10-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "db61be3d-d2ac-4703-95c3-1bf1c014fa1f",
        "Retry-After": "60"
      },
      "ResponseBody": {
        "messageId": "c1ccb2be-18f9-4f21-927a-7c171f941dab",
        "status": "Queued"
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_CONNECTION_STRING_EMAIL": "endpoint=https://sdk-test-comm.int.communication.azure.net/;accesskey=Kg==",
    "RandomSeed": "1741108831",
    "RECIPIENT_ADDRESS": "acseaastesting@gmail.com",
    "SENDER_ADDRESS": "DoNotReply@aa8c2c80-11ae-48b6-bb2a-783fd5aafaa1.azurecomm-dev.net"
  }
}
