{
  "Entries": [
    {
      "RequestUri": "https://acs-email-functional-test-acs-resource.int.communication.azure.net/emails:send?api-version=2023-01-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Operation-Id": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 23 Feb 2023 07:52:53 GMT"
      },
      "RequestBody": {
        "senderAddress": "donotreply@3773742c-28d1-4e0a-89b2-1678f84745e6.azurecomm-dev.net",
        "content": {
          "subject": "subject",
          "plainText": "Test"
        },
        "recipients": {
          "to": [
            {
              "address": "acseaastesting@gmail.com",
              "displayName": "ToAddress"
            }
          ],
          "bcc": [
            {
              "address": "acseaastesting@gmail.com",
              "displayName": "BccAddress"
            }
          ]
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "api-supported-versions": "2021-10-01-preview, 2023-01-15-preview",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "507b33fe-4bd4-4973-bd0f-76369a3daf09",
        "Operation-Location": "https://acs-email-functional-test-acs-resource.int.communication.azure.net/emails/operations/af46f131-b05c-4056-a45c-62721f23b037?api-version=2023-01-15-preview",
        "Retry-After": "30"
      },
      "ResponseBody": {
        "id": "af46f131-b05c-4056-a45c-62721f23b037",
        "status": "Running",
        "error": null
      }
    },
    {
      "RequestUri": "https://acs-email-functional-test-acs-resource.int.communication.azure.net/emails/operations/af46f131-b05c-4056-a45c-62721f23b037?api-version=2023-01-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 23 Feb 2023 07:52:53 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-10-01-preview, 2023-01-15-preview",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "1800f5f3-8898-47f0-bc28-472baad97650",
        "Retry-After": "30"
      },
      "ResponseBody": {
        "id": "af46f131-b05c-4056-a45c-62721f23b037",
        "status": "Running",
        "error": null
      }
    },
    {
      "RequestUri": "https://acs-email-functional-test-acs-resource.int.communication.azure.net/emails/operations/af46f131-b05c-4056-a45c-62721f23b037?api-version=2023-01-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 23 Feb 2023 07:53:23 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-10-01-preview, 2023-01-15-preview",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "ab922ace-03d8-43f7-be5d-c38fad557125"
      },
      "ResponseBody": {
        "id": "af46f131-b05c-4056-a45c-62721f23b037",
        "status": "Succeeded",
        "error": null
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_CONNECTION_STRING_EMAIL": "endpoint=https://acs-email-functional-test-acs-resource.int.communication.azure.net/;accesskey=Kg==",
    "RandomSeed": "355871693",
    "RECIPIENT_ADDRESS": "acseaastesting@gmail.com",
    "SENDER_ADDRESS": "donotreply@3773742c-28d1-4e0a-89b2-1678f84745e6.azurecomm-dev.net"
  }
}
