{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.com/emails:send?api-version=2023-01-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Operation-Id": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 23 Feb 2023 23:54:37 GMT"
      },
      "RequestBody": {
        "senderAddress": "donotreply@3773742c-28d1-4e0a-89b2-1678f84745e6.azurecomm-dev.net",
        "content": {
          "subject": "subject",
          "plainText": "Test"
        },
        "recipients": {
          "to": [
            {
              "address": "acseaastesting@gmail.com",
              "displayName": "ToAddress"
            }
          ],
          "cc": [
            {
              "address": "acseaastesting@gmail.com",
              "displayName": "CcAddress"
            }
          ],
          "bcc": [
            {
              "address": "acseaastesting@gmail.com",
              "displayName": "BccAddress"
            }
          ]
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "api-supported-versions": "2021-10-01-preview, 2023-01-15-preview",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "9a79ca66-ce0e-4ce6-bc19-274f3fc2ce39",
        "Operation-Location": "https://sanitized.communication.azure.com/emails/operations/sanitizedId?api-version=2023-01-15-preview",
        "Retry-After": "30"
      },
      "ResponseBody": {
        "id": "81b3becb-391d-4bd6-a8e0-446a47b95d2e",
        "status": "Running",
        "error": null
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.com/emails/operations/sanitizedId?api-version=2023-01-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 23 Feb 2023 23:54:37 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-10-01-preview, 2023-01-15-preview",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "93273d30-a4db-48e5-8278-3d6081279a96",
        "Retry-After": "30"
      },
      "ResponseBody": {
        "id": "81b3becb-391d-4bd6-a8e0-446a47b95d2e",
        "status": "Running",
        "error": null
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.com/emails/operations/sanitizedId?api-version=2023-01-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 23 Feb 2023 23:55:07 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-10-01-preview, 2023-01-15-preview",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "9805b15c-422c-4d64-aa02-3ca9a572de69"
      },
      "ResponseBody": {
        "id": "81b3becb-391d-4bd6-a8e0-446a47b95d2e",
        "status": "Succeeded",
        "error": null
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_CONNECTION_STRING_EMAIL": "endpoint=https://acs-email-functional-test-acs-resource.int.communication.azure.net/;accesskey=Kg==",
    "RandomSeed": "1161333160",
    "RECIPIENT_ADDRESS": "acseaastesting@gmail.com",
    "SENDER_ADDRESS": "donotreply@3773742c-28d1-4e0a-89b2-1678f84745e6.azurecomm-dev.net"
  }
}
