{
  "Entries": [
    {
      "RequestUri": "https://sdk-live-test-comm.communication.azure.com/emails:send?api-version=2021-10-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "repeatability-first-sent": "Sanitized",
        "repeatability-request-id": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 10 Nov 2022 21:16:39 GMT"
      },
      "RequestBody": {
        "sender": "DoNotReply@3276b20a-aa29-4ec2-9cf7-b517715b101b.azurecomm.net",
        "content": {
          "subject": "subject",
          "plainText": "Test"
        },
        "recipients": {
          "to": [
            {
              "email": "acseaastesting@gmail.com",
              "displayName": "ToAddress"
            }
          ],
          "bCC": [
            {
              "email": "acseaastesting@gmail.com",
              "displayName": "BccAddress"
            }
          ]
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "api-supported-versions": "2021-10-01-preview",
        "mise-correlation-id": "e10e6297-6302-48e5-b78e-6c956cb37210",
        "Operation-Location": "https://sdk-live-test-comm.communication.azure.com/emails/25cff0ac-d214-49fa-9c24-11ce0015b8f3/status",
        "Repeatability-Result": "accepted"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "COMMUNICATION_CONNECTION_STRING_EMAIL": "endpoint=https://sdk-live-test-comm.communication.azure.com/;accesskey=Kg==",
    "RandomSeed": "706388308",
    "RECIPIENT_ADDRESS": "acseaastesting@gmail.com",
    "SENDER_ADDRESS": "DoNotReply@3276b20a-aa29-4ec2-9cf7-b517715b101b.azurecomm.net"
  }
}
