{
  "Entries": [
    {
      "RequestUri": "/subscriptions/a8c9a924-06c0-4bde-9788-e7b1370969e1/resourcegroups/sqlcrudtest-869?api-version=2017-05-10",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"west us 2\",\r\n  \"tags\": {\r\n    \"sqlcrudtest-869\": \"2018-11-18 14:06:14Z\"\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/a8c9a924-06c0-4bde-9788-e7b1370969e1/resourceGroups/sqlcrudtest-869\",\r\n  \"name\": \"sqlcrudtest-869\",\r\n  \"location\": \"westus2\",\r\n  \"tags\": {\r\n    \"sqlcrudtest-869\": \"2018-11-18 14:06:14Z\"\r\n  },\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/a8c9a924-06c0-4bde-9788-e7b1370969e1/resourceGroups/sqlcrudtest-869/providers/Microsoft.Network/networkSecurityGroups/sqlcrudtest-9957?api-version=2017-08-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"securityRules\": [\r\n      {\r\n        \"properties\": {\r\n          \"protocol\": \"Tcp\",\r\n          \"sourcePortRange\": \"*\",\r\n          \"sourceAddressPrefix\": \"*\",\r\n          \"destinationAddressPrefix\": \"*\",\r\n          \"destinationPortRanges\": [\r\n            \"1433\",\r\n            \"1434\",\r\n            \"5022\",\r\n            \"9000\",\r\n            \"9003\",\r\n            \"1438\",\r\n            \"1440\",\r\n            \"1452\",\r\n            \"80\",\r\n            \"443\"\r\n          ],\r\n          \"access\": \"Allow\",\r\n          \"priority\": 100,\r\n          \"direction\": \"Inbound\"\r\n        },\r\n        \"name\": \"allow_management_inbound\"\r\n      },\r\n      {\r\n        \"properties\": {\r\n          \"protocol\": \"*\",\r\n          \"sourcePortRange\": \"*\",\r\n          \"destinationPortRange\": \"*\",\r\n          \"sourceAddressPrefix\": \"10.0.0.0/26\",\r\n          \"destinationAddressPrefix\": \"*\",\r\n          \"access\": \"Allow\",\r\n          \"priority\": 200,\r\n          \"direction\": \"Inbound\"\r\n        },\r\n        \"name\": \"allow_misubnet_inbound\"\r\n      },\r\n      {\r\n        \"properties\": {\r\n          \"protocol\": \"*\",\r\n          \"sourcePortRange\": \"*\",\r\n          \"destinationPortRange\": \"*\",\r\n          \"sourceAddressPrefix\": \"Azur[...]
    {
      "RequestUri": "/subscriptions/a8c9a924-06c0-4bde-9788-e7b1370969e1/providers/Microsoft.Network/locations/westus2/operations/18646f40-99be-4dc1-8559-7bff2796697d?api-version=2017-08-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"status\": \"Succeeded\"\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/a8c9a924-06c0-4bde-9788-e7b1370969e1/resourceGroups/sqlcrudtest-869/providers/Microsoft.Network/networkSecurityGroups/sqlcrudtest-9957?api-version=2017-08-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "ETag": [
          "W/\"1a8a4a5b-0302-4f91-b4e3-96889b134f36\""
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11998"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"sqlcrudtest-9957\",\r\n  \"id\": \"/subscriptions/a8c9a924-06c0-4bde-9788-e7b1370969e1/resourceGroups/sqlcrudtest-869/providers/Microsoft.Network/networkSecurityGroups/sqlcrudtest-9957\",\r\n  \"etag\": \"W/\\\"1a8a4a5b-0302-4f91-b4e3-96889b134f36\\\"\",\r\n  \"type\": \"Microsoft.Network/networkSecurityGroups\",\r\n  \"location\": \"westus2\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"resourceGuid\": \"b3612733-4bc5-4b8e-a620-fbe8f7e9d0cf\",\r\n    \"securityRules\": [\r\n      {\r\n        \"name\": \"allow_management_inbound\",\r\n        \"id\": \"/subscriptions/a8c9a924-06c0-4bde-9788-e7b1370969e1/resourceGroups/sqlcrudtest-869/providers/Microsoft.Network/networkSecurityGroups/sqlcrudtest-9957/securityRules/allow_management_inbound\",\r\n        \"etag\": \"W/\\\"1a8a4a5b-0302-4f91-b4e3-96889b134f36\\\"\",\r\n        \"type\": \"Microsoft.Network/networkSecurityGroups/securityRules\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"protocol\": \"Tcp\",\r\n          \"sourcePortRange\": \"*\",\r\n          \"sourceAddressPrefix\": \"*\",\r\n          \"destinationAddressPrefix\": \"*\",\r\n          \"access\": \"Allow\",\r\n          \"priority\": 100,\r\n          \"direction\": \"Inbound\",\r\n          \"sourcePortRanges\": [],\r\n          \"destinationPortRanges\": [\r\n            \"1433\",\r\n            \"1434\",\r\n            \"5022\",\r\n            \"9000\",\r\n            \"9003\",\r\n            \"1438\",\r\n            \"1440\",\r\n            \"1452\",\r\n            \"80\",\r\n            \"443\"\r\n          ],\r\n          \"sourceAddressPrefixes\": [],\r\n          \"destinationAddressPrefixes\": []\r\n        }\r\n      },\r\n      {\r\n        \"name\": \"allow_misubnet_inbound\",\r\n        \"id\": \"/subscriptions/a8c9a924-06c0-4bde-9788-e7b1370969e1/resourceGroups/sqlcrudtest-869/providers/Microsoft.Network/networkSecurityGroups/sqlcrudtest-9957/securityRules/allow_misubnet_inbound\",\r\n        \"etag\": \"W/\\\"1a8a4a5b-0302-4f91-b4e3-96889b134f36\\\"\",\r\n        \"type\": \"Microsoft.Network/networkSecurityGroups/securityRules\",\r\n        \"properties\": {\r\n          \"pro[...]
[...]
    {
      "RequestUri": "/subscriptions/a8c9a924-06c0-4bde-9788-e7b1370969e1/resourceGroups/sqlcrudtest-869/providers/Microsoft.Network/routeTables/sqlcrudtest-7676?api-version=2017-08-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"routes\": [\r\n      {\r\n        \"properties\": {\r\n          \"addressPrefix\": \"0.0.0.0/0\",\r\n          \"nextHopType\": \"Internet\"\r\n        },\r\n        \"name\": \"sqlcrudtest-8839\"\r\n      }\r\n    ]\r\n  },\r\n  \"location\": \"westus2\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Retry-After": [
          "10"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/a8c9a924-06c0-4bde-9788-e7b1370969e1/providers/Microsoft.Network/locations/westus2/operations/a48b0bce-cdd4-4853-93bc-2cddaf72c1d0?api-version=2017-08-01"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1198"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"sqlcrudtest-7676\",\r\n  \"id\": \"/subscriptions/a8c9a924-0[...]
[...]
    {
      "RequestUri": "/subscriptions/a8c9a924-06c0-4bde-9788-e7b1370969e1/resourceGroups/sqlcrudtest-869/providers/Microsoft.Network/virtualNetworks/sqlcrudtest-2735?api-version=2017-08-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"addressSpace\": {\r\n      \"addressPrefixes\": [\r\n        \"10.0.0.0/22\"\r\n      ]\r\n    },\r\n    \"subnets\": [\r\n      {\r\n        \"properties\": {\r\n          \"addressPrefix\": \"10.0.0.0/26\",\r\n          \"networkSecurityGroup\": {\r\n            \"properties\": {\r\n              \"securityRules\": [\r\n                {\r\n                  \"properties\": {\r\n                    \"protocol\": \"Tcp\",\r\n                    \"sourcePortRange\": \"*\",\r\n                    \"sourceAddressPrefix\": \"*\",\r\n                    \"sourceAddressPrefixes\": [],\r\n                    \"destinationAddressPrefix\": \"*\",\r\n                    \"destinationAddressPrefixes\": [],\r\n                    \"sourcePortRanges[...]
[...]
    {
      "RequestUri": "/subscriptions/a8c9a924-06c0-4bde-9788-e7b1370969e1/resourceGroups/sqlcrudtest-869/providers/Microsoft.Sql/managedInstances/crud-tests-sqlcrudtest-4664?api-version=2015-05-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"sku\": {\r\n    \"name\": \"MIGP8G4\",\r\n    \"tier\": \"GeneralPurpose\"\r\n  },\r\n  \"properties\": {\r\n    \"administratorLogin\": \"dummylogin\",\r\n    \"administratorLoginPassword\": \"Un53cuRE!\",\r\n    \"subnetId\": \"/subscriptions/a8c9a924-06c0-4bde-9788-e7b1370969e1/resourceGroups/sqlcrudtest-869/providers/Microsoft.Network/virtualNetworks/sqlcrudtest-2735/subnets/MISubnet\"\r\n  },\r\n  \"location\": \"westus2\",\r\n  \"tags\": {}\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/a8c9a924-06c0-4bde-9788-e7b1370969e1/resourceGroups/sqlcrudtest-869/providers/Microsoft.Sql/locations/westus2/managedInstanceOperationResults/76b98355-8b72-4d3e-9d9e-d9408c280243?api-version=2015-05-01-preview"
        ],
        "Retry-After": [
          "60"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/a8c9a924-06c0-4bde-9788-e7b1370969e1/resourceGroups/sqlcrudtest-869/providers/Microsoft.Sql/locations/westus2/managedInstanceAzureAsyncOperation/76b98355-8b72-4d3e-9d9e-d9408c280243?api-version=2015-05-01-preview"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"operation\": \"UpsertManagedServer\",\r\n  \"startTime\": \"2018-11-18T14:06:57.24Z\"\r\n}",
      "StatusCode": 202
    },
    {
      "RequestUri": "/subscriptions/a8c9a924-06c0-4bde-9788-e7b1370969e1/resourceGroups/sqlcrudtest-869/providers/Microsoft.Sql/locations/westus2/managedInstanceAzureAsyncOperation/76b98355-8b72-4d3e-9d9e-d9408c280243?api-version=2015-05-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Retry-After": [
          "60"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"76b98355-8b72-4d3e-9d9e-d9408c280243\",\r\n  \"status\": \"InProgress\",\r\n  \"startTime\": \"2018-11-18T14:06:57.24Z\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/a8c9a924-06c0-4bde-9788-e7b1370969e1/resourceGroups/sqlcrudtest-869/providers/Microsoft.Sql/managedInstances/crud-tests-sqlcrudtest-4664?api-version=2015-05-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11936"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"sku\": {\r\n    \"name\": \"GP_Gen5\",\r\n    \"tier\": \"GeneralPurpose\",\r\n    \"family\": \"Gen5\",\r\n    \"capacity\": 16\r\n  },\r\n  \"properties\": {\r\n    \"fullyQualifiedDomainName\": \"crud-tests-sqlcrudtest-4664.3c2957195a64.database.windows.net\",\r\n    \"administratorLogin\": \"dummylogin\",\r\n    \"subnetId\": \"/subscriptions/a8c9a924-06c0-4bde-9788-e7b1370969e1/resourceGroups/sqlcrudtest-869/providers/Microsoft.Network/virtualNetworks/sqlcrudtest-2735/subnets/MISubnet\",\r\n    \"state\": \"Ready\",\r\n    \"licenseType\": \"LicenseIncluded\",\r\n    \"vCores\": 16,\r\n    \"storageSizeInGB\": 32,\r\n    \"collation\": \"SQL_Latin1_General_CP1_CI_AS\",\r\n    \"dnsZone\": \"3c2957195a64\"\r\n  },\r\n  \"location\": \"westus2\",\r\n  \"tags\": {},\r\n  \"id\": \"/subscriptions/a8c9a924-06c0-4bde-9788-e7b1370969e1/resourceGroups/sqlcrudtest-869/providers/Microsoft.Sql/managedInstances/crud-tests-sqlcrudtest-4664\",\r\n  \"name\": \"crud-tests-sqlcrudtest-4664\",\r\n  \"type\": \"Microsoft.Sql/managedInstances\"\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/a8c9a924-06c0-4bde-9788-e7b1370969e1/resourceGroups/sqlcrudtest-869/providers/Microsoft.Sql/managedInstances/crud-tests-sqlcrudtest-4664/databases/sqlvulnerabilityassessmentscantest-478?api-version=2017-03-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"westus2\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/a8c9a924-06c0-4bde-9788-e7b1370969e1/providers/Microsoft.Sql/locations/westus2/managedDatabaseOperationResults/43b73047-5f9f-4a31-9509-9ea566c2e5f3?api-version=2017-03-01-preview"
        ],
        "Retry-After": [
          "15"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/a8c9a924-06c0-4bde-9788-e7b1370969e1/providers/Microsoft.Sql/locations/westus2/managedDatabaseAzureAsyncOperation/43b73047-5f9f-4a31-9509-9ea566c2e5f3?api-version=2017-03-01-preview"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"operation\": \"CreateManagedDatabase\",\r\n  \"startTime\": \"2018-11-18T16:08:27.763Z\"\r\n}",
      "StatusCode": 202
    },
    {
      "RequestUri": "/subscriptions/a8c9a924-06c0-4bde-9788-e7b1370969e1/providers/Microsoft.Sql/locations/westus2/managedDatabaseAzureAsyncOperation/43b73047-5f9f-4a31-9509-9ea566c2e5f3?api-version=2017-03-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Retry-After": [
          "15"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11935"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"43b73047-5f9f-4a31-9509-9ea566c2e5f3\",\r\n  \"status\": \"InProgress\",\r\n  \"startTime\": \"2018-11-18T16:08:27.763Z\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/a8c9a924-06c0-4bde-9788-e7b1370969e1/resourceGroups/sqlcrudtest-869/providers/Microsoft.Sql/managedInstances/crud-tests-sqlcrudtest-4664/databases/sqlvulnerabilityassessmentscantest-478?api-version=2017-03-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11932"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"collation\": \"SQL_Latin1_General_CP1_CI_AS\",\r\n    \"status\": \"Online\",\r\n    \"creationDate\": \"2018-11-18T16:08:28.027Z\",\r\n    \"defaultSecondaryLocation\": \"westcentralus\"\r\n  },\r\n  \"location\": \"westus2\",\r\n  \"id\": \"/subscriptions/a8c9a924-06c0-4bde-9788-e7b1370969e1/resourceGroups/sqlcrudtest-869/providers/Microsoft.Sql/managedInstances/crud-tests-sqlcrudtest-4664/databases/sqlvulnerabilityassessmentscantest-478\",\r\n  \"name\": \"sqlvulnerabilityassessmentscantest-478\",\r\n  \"type\": \"Microsoft.Sql/managedInstances/databases\"\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/a8c9a924-06c0-4bde-9788-e7b1370969e1/resourceGroups/sqlcrudtest-869/providers/Microsoft.Storage/storageAccounts/sqlvatest7428?api-version=2017-06-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"sku\": {\r\n    \"name\": \"Standard_LRS\"\r\n  },\r\n  \"kind\": \"BlobStorage\",\r\n  \"location\": \"westus2\",\r\n  \"properties\": {\r\n    \"accessTier\": \"Cool\"\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/a8c9a924-06c0-4bde-9788-e7b1370969e1/providers/Microsoft.Storage/locations/westus2/asyncoperations/43781225-076d-4202-a157-fa3505c1a73c?monitor=true&api-version=2017-06-01"
        ],
        "Retry-After": [
          "17"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "text/plain; charset=utf-8"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 202
    },
    {
      "RequestUri": "/subscriptions/a8c9a924-06c0-4bde-9788-e7b1370969e1/providers/Microsoft.Storage/locations/westus2/asyncoperations/43781225-076d-4202-a157-fa3505c1a73c?monitor=true&api-version=2017-06-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ],
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "{\r\n  \"sku\": {\r\n    \"name\": \"Standard_LRS\",\r\n    \"tier\": \"Standard\"\r\n  },\r\n  \"kind\": \"BlobStorage\",\r\n  \"id\": \"/subscriptions/a8c9a924-06c0-4bde-9788-e7b1370969e1/resourceGroups/sqlcrudtest-869/providers/Microsoft.Storage/storageAccounts/sqlvatest7428\",\r\n  \"name\": \"sqlvatest7428\",\r\n  \"type\": \"Microsoft.Storage/storageAccounts\",\r\n  \"location\": \"westus2\",\r\n  \"tags\": {},\r\n  \"properties\": {\r\n    \"networkAcls\": {\r\n      \"bypass\": \"AzureServices\",\r\n      \"virtualNetworkRules\": [],\r\n      \"ipRules\": [],\r\n      \"defaultAction\": \"Allow\"\r\n    },\r\n    \"supportsHttpsTrafficOnly\": false,\r\n    \"encryption\": {\r\n      \"services\": {\r\n        \"file\": {\r\n          \"enabled\": true,\r\n          \"lastEnabledTime\": \"2018-11-18T16:09:17.1479944Z\"\r\n        },\r\n        \"blob\": {\r\n          \"enabled\": true,\r\n          \"lastEnabledTime\": \"2018-11-18T16:09:17.1479944Z\"\r\n        }\r\n      },\r\n      \"keySource\": \"Microsoft.Storage\"\r\n    },\r\n    \"accessTier\": \"Cool\",\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"creationTime\": \"2018-11-18T16:09:17.0698661Z\",\r\n    \"primaryEndpoints\": {\r\n      \"blob\": \"https://sqlvatest7428.blob.core.windows.net/\",\r\n      \"table\": \"https://sqlvatest7428.table.core.windows.net/\"\r\n    },\r\n    \"primaryLocation\": \"westus2\",\r\n    \"statusOfPrimary\": \"available\"\r\n  }\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/a8c9a924-06c0-4bde-9788-e7b1370969e1/resourceGroups/sqlcrudtest-869/providers/Microsoft.Storage/storageAccounts/sqlvatest7428/listKeys?api-version=2017-06-01",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1198"
        ],
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "{\r\n  \"keys\": [\r\n    {\r\n      \"keyName\": \"key1\",\r\n      \"value\": \"SwM88z+WwwA5hou4v+2j+cygotBDULmgsDMwrc3YBjX4vlh20Fhbb69k51i87vfSh76DEloB1bQpkwdXTiKgpw==\",\r\n      \"permissions\": \"FULL\"\r\n    },\r\n    {\r\n      \"keyName\": \"key2\",\r\n      \"value\": \"QLwZPSekiEeOi1kmmzIVJbl/54V7ANWzIVB1nMmLpMCoRMeFKTjYQCw2YCgh4moVJ9hRokO5tRcxwmSd81hSyQ==\",\r\n      \"permissions\": \"FULL\"\r\n    }\r\n  ]\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/a8c9a924-06c0-4bde-9788-e7b1370969e1/resourceGroups/sqlcrudtest-869/providers/Microsoft.Sql/managedInstances/crud-tests-sqlcrudtest-4664/databases/sqlvulnerabilityassessmentscantest-478/vulnerabilityAssessments/default?api-version=2017-10-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"storageContainerPath\": \"https://sqlvatest7428.blob.core.windows.net/vulnerability-assessment\",\r\n    \"storageContainerSasKey\": \"?sv=2016-05-31&sr=c&sig=aYwQ9Kxh7T2OGpQMOFHl2Az5GBXzPNNJ0C3z1jGkRGk%3D&se=2018-11-18T17%3A09%3A36Z&sp=rwl\",\r\n    \"recurringScans\": {\r\n      \"isEnabled\": false,\r\n      \"emailSubscriptionAdmins\": true,\r\n      \"emails\": [\r\n        \"fakemail1@mail.com\",\r\n        \"fakemail2@mail.com\"\r\n      ]\r\n    }\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1198"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"storageContainerPath\": \"https://sqlvatest7428.blob.core.windows.net/vulnerability-assessment/\",\r\n    \"recurringScans\": {\r\n      \"isEnabled\": false,\r\n      \"emailSubscriptionAdmins\": true,\r\n      \"emails\": [\r\n        \"fakemail1@mail.com\",\r\n        \"fakemail2@mail.com\"\r\n      ]\r\n    }\r\n  },\r\n  \"id\": \"/subscriptions/a8c9a924-06c0-4bde-9788-e7b1370969e1/resourceGroups/sqlcrudtest-869/providers/Microsoft.Sql/servers/crud-tests-sqlcrudtest-4664/databases/sqlvulnerabilityassessmentscantest-478/vulnerabilityAssessments/Default\",\r\n  \"name\": \"Default\",\r\n  \"type\": \"Microsoft.Sql/servers/databases/vulnerabilityAssessments\"\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/a8c9a924-06c0-4bde-9788-e7b1370969e1/resourceGroups/sqlcrudtest-869/providers/Microsoft.Sql/managedInstances/crud-tests-sqlcrudtest-4664/databases/sqlvulnerabilityassessmentscantest-478/vulnerabilityAssessments/default/scans/scantest1_sqlvulnerabilityassessmentscantest-/initiateScan?api-version=2017-10-01-preview",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Location": [
 [...]
    {
      "RequestUri": "/subscriptions/a8c9a924-06c0-4bde-9788-e7b1370969e1/resourceGroups/sqlcrudtest-869/providers/Microsoft.Sql/locations/westus2/vulnerabilityAssessmentScanAzureAsyncOperation/4662b573-3388-47dd-95bc-07d96c1ce20c?api-version=2017-10-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Retry-After": [
          "15"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11936"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"4662b573-3388-47dd-95bc-07d96c1ce20c\",\r\n  \"status\": \"InProgress\",\r\n  \"startTime\": \"2018-11-18T16:09:45.137Z\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/a8c9a924-06c0-4bde-9788-e7b1370969e1/resourceGroups/sqlcrudtest-869/providers/Microsoft.Sql/locations/westus2/vulnerabilityAssessmentScanOperationResults/4662b573-3388-47dd-95bc-07d96c1ce20c?api-version=2017-10-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11934"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"scanId\": \"scantest1_sqlvulnerabilityassessmentscantest-\",\r\n    \"triggerType\": \"OnDemand\",\r\n    \"state\": \"Failed\",\r\n    \"startTime\": \"2018-11-18T16:09:45.137Z\",\r\n    \"endTime\": \"9999-12-31T23:59:59.9999999Z\",\r\n    \"storageContainerPath\": \"https://sqlvatest7428.blob.core.windows.net/vulnerability-assessment/\",\r\n    \"numberOfFailedSecurityChecks\": 0\r\n  },\r\n  \"id\": \"/subscriptions/a8c9a924-06c0-4bde-9788-e7b1370969e1/resourceGroups/sqlcrudtest-869/providers/Microsoft.Sql/servers/crud-tests-sqlcrudtest-4664/databases/sqlvulnerabilityassessmentscantest-478/vulnerabilityAssessments/Default/scans/scantest1_sqlvulnerabilityassessmentscantest-\",\r\n  \"name\": \"scantest1_sqlvulnerabilityassessmentscantest-\",\r\n  \"type\": \"Microsoft.Sql/servers/databases/vulnerabilityAssessments/scans\"\r\n}",
      "StatusCode": 201
    },
[...]
    {
      "RequestUri": "/subscriptions/a8c9a924-06c0-4bde-9788-e7b1370969e1/resourceGroups/sqlcrudtest-869/providers/Microsoft.Sql/managedInstances/crud-tests-sqlcrudtest-4664/databases/sqlvulnerabilityassessmentscantest-478/vulnerabilityAssessments/default/scans/scantest1_sqlvulnerabilityassessmentscantest-?api-version=2017-10-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-sub[...]
    {
      "RequestUri": "/subscriptions/a8c9a924-06c0-4bde-9788-e7b1370969e1/resourceGroups/sqlcrudtest-869/providers/Microsoft.Sql/managedInstances/crud-tests-sqlcrudtest-4664/databases/sqlvulnerabilityassessmentscantest-478/vulnerabilityAssessments/default/scans?api-version=2017-10-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11930"
        [...]
[...]
    {
      "RequestUri": "/subscriptions/a8c9a924-06c0-4bde-9788-e7b1370969e1/resourceGroups/sqlcrudtest-869/providers/Microsoft.Sql/managedInstances/crud-tests-sqlcrudtest-4664/databases/sqlvulnerabilityassessmentexportscantest-9822?api-version=2017-03-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"westus2\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/a8c9a924-06c0-4bde-9788-e7b1370969e1/providers/Microsoft.Sql/locations/westus2/managedDatabaseOperationResults/d3cf25ed-e6f8-4ab3-a44b-acd6c46800f3?api-version=2017-03-01-preview"
        ],
        "Retry-After": [
          "15"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/a8c9a924-06c0-4bde-9788-e7b1370969e1/providers/Microsoft.Sql/locations/westus2/managedDatabaseAzureAsyncOperation/d3cf25ed-e6f8-4ab3-a44b-acd6c46800f3?api-version=2017-03-01-preview"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1195"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"operation\": \"CreateManagedDatabase\",\r\n  \"startTime\": \"2018-11-18T16:10:36.833Z\"\r\n}",
      "StatusCode": 202
    },
[...]
    {
      "RequestUri": "/subscriptions/a8c9a924-06c0-4bde-9788-e7b1370969e1/resourceGroups/sqlcrudtest-869/providers/Microsoft.Sql/managedInstances/crud-tests-sqlcrudtest-4664/databases/sqlvulnerabilityassessmentexportscantest-9822/vulnerabilityAssessments/default?api-version=2017-10-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"storageContainerPath\": \"https://sqlvatest4053.blob.core.windows.net/vulnerability-assessment\",\r\n    \"storag[...]
    {
      "RequestUri": "/subscriptions/a8c9a924-06c0-4bde-9788-e7b1370969e1/resourceGroups/sqlcrudtest-869/providers/Microsoft.Sql/managedInstances/crud-tests-sqlcrudtest-4664/databases/sqlvulnerabilityassessmentexportscantest-9822/vulnerabilityAssessments/default/scans/scan1_sqlvulnerabilityassessmentexportscantest-/initiateScan?api-version=2017-10-01-preview",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Locat[...]
[...]
    {
      "RequestUri": "/subscriptions/a8c9a924-06c0-4bde-9788-e7b1370969e1/resourceGroups/sqlcrudtest-869/providers/Microsoft.Sql/managedInstances/crud-tests-sqlcrudtest-4664/databases/sqlvulnerabilityassessmentexportscantest-9822/vulnerabilityAssessments/default/scans/scan1_sqlvulnerabilityassessmentexportscantest-/export?api-version=2017-10-01-preview",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1192"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"exportedReportLocation\": \"https://sqlvatest4053.blob.core.windows.net/vulnerability-assessment/scans/crud-tests-sqlcrudtest-4664/sqlvulnerabilityassessmentexportscantest-9822/scan_scan1_sqlvulnerabilityassessmentexportscantest-.xlsx\"\r\n  },\r\n  \"id\": \"/subscriptions/a8c9a924-06c0-4bde-9788-e7b1370969e1/resourceGroups/sqlcrudtest-869/providers/Microsoft.Sql/servers/crud-tests-sqlcrudtest-4664/databases/sqlvulnerabilityassessmentexportscantest-9822/vulnerabilityAssessments/Default/scans/scan1_sqlvulnerabilityassessmentexportscantest-/export\",\r\n  \"name\": \"scan1_sqlvulnerabilityassessmentexportscantest-\",\r\n  \"type\": \"Microsoft.Sql/servers/databases/vulnerabilityAssessments/scans/export\"\r\n}",
      "StatusCode": 201
    },
    {
[...]
