{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-9b33ef99-4654-ae0b-85e1-9299032744dd?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 15 Dec 2022 08:30:50 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DADE76AC3AAFC0\u0022",
        "Last-Modified": "Thu, 15 Dec 2022 08:30:50 GMT",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-9b33ef99-4654-ae0b-85e1-9299032744dd/foo%5Ctest-blob-3442e125-07e5-bdfd-5994-0eba28195e5a",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 15 Dec 2022 08:30:50 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": "IejNbujE/dhqjwv\u002BJKtazL9pFu6F3FpFl5OMk7XDpcKTwJk/S/BxJLHgMkvTSor794V5r38TyEWOh9ZVOGojpulIa2MSGoDP9/E8pKkPck0IkJswSfZDf/dUscQZHOxHvYthit4n6d0EqriN1iObfhWJTafO81zzBexrvmm8tdoF9Ocdrudu4aa\u002BK58\u002BtanUuDKukM9EeMovbYXyuyt0SPXdiOE8fdAuGmsBEMe9tU9ClwU2DSULwHwd7kBheyZ7SeOqYC3HlztigHVjQ2gCcbc2sCMlPTrQ0cdlH46PzJ9FhcbkE1Uhe//J1I2vp30TGnyJK8sCVgyp2Y5mYnis0rTWHr6hH[...]
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-9b33ef99-4654-ae0b-85e1-9299032744dd/foo%5Cbar%5Ctest-blob-cfb6da85-4313-b015-9388-52b622828e7f",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 15 Dec 2022 08:30:50 GMT",
        "x-ms-version": "2021-12-02"
      },
    [...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-9b33ef99-4654-ae0b-85e1-9299032744dd/foo%5Cpik%5Ctest-blob-e7d7c8d6-1bc8-65d9-352a-0013c5dcba85",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 15 Dec 2022 08:30:50 GMT",
        "x-ms-version": "2021-12-02"
      },
    [...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-9b33ef99-4654-ae0b-85e1-9299032744dd?restype=container\u0026comp=list\u0026prefix=foo",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 15 Dec 2022 08:30:50 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-9b33ef99-4654-ae0b-85e1-9299032744dd/foo/bar/test-blob-cfb6da85-4313-b015-9388-52b622828e7f",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 15 Dec 2022 08:30:50 GMT",
        "x-ms-range": "bytes=0-4194303999",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DADE76AC611D9A\u0022",
        "Last-Modified": "Thu, 15 Dec 2022 08:30:50 GMT",
        "x-ms-blob-content-md5": "\u002BebP9gHMNcvO17QRMy7f0w==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 15 Dec 2022 08:30:50 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2022-12-15T08:30:50.5899418Z"
      },
      "ResponseBody": "hCnaW56RGlVSXjpggAaROnvzFyE4rR2eh\u002B/03h2GdTXir8mK2B//9MBhfbQJtDCM9xg7LmpsR9cLPNOunDs3y\u002BkEftA9BmFb9CJh1i9olNK/Z\u002BcFSkfLdWfxfptMUFiEKbLLBDZgT/C24DpHC3Coo6gA7zVUMoChOQloS4fFD6PK3K19nZCcXxj2TmoNg2r3SdvzS2EiMPYyKcot9wNp8dCWfC/DKwUYY48cXeQVlLaecQKr0cNBqKu2S3TFb2cVjV2adgc7NB3W2\u002BjSBtISHJQUjoYAvR8MVdSDDOCRUvQoB9CGex6uYz3k1fbbb6HZpC7fsOHhFM8\u002BjSAytyc9RYj0qf8BjKF2ZSpIG\u002BgpMeUyqWexsaISRvIBSO39fKwVp5Bt5sWi1xiMaUq2mPjnFF[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-9b33ef99-4654-ae0b-85e1-9299032744dd/foo/pik/test-blob-e7d7c8d6-1bc8-65d9-352a-0013c5dcba85",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 15 Dec 2022 08:30:50 GMT",
        "x-ms-range": "bytes=0-4194303999",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
      [...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-9b33ef99-4654-ae0b-85e1-9299032744dd/foo/test-blob-9cb9afe9-dfda-ae49-a752-52391896014d",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 15 Dec 2022 08:30:50 GMT",
        "x-ms-range": "bytes=0-4194303999",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "C[...]
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-9b33ef99-4654-ae0b-85e1-9299032744dd?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 15 Dec 2022 08:30:51 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "240253708",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
