{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-86f190e0-371f-45ea-7d52-4c58581d1f44?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 15 Dec 2022 08:30:52 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DADE76ADC942FC\u0022",
        "Last-Modified": "Thu, 15 Dec 2022 08:30:52 GMT",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-86f190e0-371f-45ea-7d52-4c58581d1f44/foo%5Cbar%5Ctest-blob-4199e531-0246-ecf5-3be0-9618cc1c1094",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 15 Dec 2022 08:30:53 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": "MbPFSxwH6lbsM7OQONMfxYKy2DsMu2sfZLXdm9IR102ut78ePVShKftCVBJOZLRowNGWGkTUh3ZHpedmKk6E21xl4YAUAYctEK5AymZZ0P8BddsAer0I2jBI1pdsO/\u002Btvnm16YMzU79JaAmWlL0Q7tToZLVyg2CfXQdQyyrvwdSukgzso\u002Bd7zSEctxKzckZyOOjDhNZKOjoZFYt844iUWac05wGxI0rsbJeTVsxO7OrB3pJCLD3\u002BZFfR041c/\u002BqZiF1rfotEwBSd1hc/t\u002BRuyymhuwX1USxqNoKp4FC8kGyt\u002Bc5u421ffB19pVYlv61zYwhku0TkpDYxAU[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-86f190e0-371f-45ea-7d52-4c58581d1f44/foo%5Crul%5Ctest-blob-5292de5f-155a-1875-b4f8-b000239ad4b5",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 15 Dec 2022 08:30:53 GMT",
        "x-ms-version": "2021-12-02"
      },
    [...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-86f190e0-371f-45ea-7d52-4c58581d1f44/foo%5Cpik%5Ctest-blob-320bea61-facf-1876-85f7-e5ed5831cc59",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 15 Dec 2022 08:30:53 GMT",
        "x-ms-version": "2021-12-02"
      },
    [...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-86f190e0-371f-45ea-7d52-4c58581d1f44?restype=container\u0026comp=list\u0026prefix=foo",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 15 Dec 2022 08:30:53 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-86f190e0-371f-45ea-7d52-4c58581d1f44/foo/bar/test-blob-4199e531-0246-ecf5-3be0-9618cc1c1094",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 15 Dec 2022 08:30:53 GMT",
        "x-ms-range": "bytes=0-4194303999",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DADE76ADD2EDD6\u0022",
        "Last-Modified": "Thu, 15 Dec 2022 08:30:53 GMT",
        "x-ms-blob-content-md5": "neLnD6K5s5Nq4VdPFQOwYw==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 15 Dec 2022 08:30:53 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2022-12-15T08:30:53.0135510Z"
      },
      "ResponseBody": "MbPFSxwH6lbsM7OQONMfxYKy2DsMu2sfZLXdm9IR102ut78ePVShKftCVBJOZLRowNGWGkTUh3ZHpedmKk6E21xl4YAUAYctEK5AymZZ0P8BddsAer0I2jBI1pdsO/\u002Btvnm16YMzU79JaAmWlL0Q7tToZLVyg2CfXQdQyyrvwdSukgzso\u002Bd7zSEctxKzckZyOOjDhNZKOjoZFYt844iUWac05wGxI0rsbJeTVsxO7OrB3pJCLD3\u002BZFfR041c/\u002BqZiF1rfotEwBSd1hc/t\u002BRuyymhuwX1USxqNoKp4FC8kGyt\u002Bc5u421ffB19pVYlv61zYwhku0TkpDYxAUgIm\u002BDE4EWrkb0WAOe8QT7nd6vWRHfVNnxIWNUnyFWXPOIkV\u002BA8ucUQei3wXGMg[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-86f190e0-371f-45ea-7d52-4c58581d1f44/foo/pik/test-blob-320bea61-facf-1876-85f7-e5ed5831cc59",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 15 Dec 2022 08:30:53 GMT",
        "x-ms-range": "bytes=0-4194303999",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
      [...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-86f190e0-371f-45ea-7d52-4c58581d1f44/foo/rul/test-blob-5292de5f-155a-1875-b4f8-b000239ad4b5",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 15 Dec 2022 08:30:53 GMT",
        "x-ms-range": "bytes=0-4194303999",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
      [...]
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-86f190e0-371f-45ea-7d52-4c58581d1f44?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 15 Dec 2022 08:30:53 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "224460378",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
