{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-aad9b92f-3b6d-50d3-4c9e-4128b3f89cde?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Fri, 20 Jan 2023 22:36:44 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DAFB36CF4D9BED\u0022",
        "Last-Modified": "Fri, 20 Jan 2023 22:36:45 GMT",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-aad9b92f-3b6d-50d3-4c9e-4128b3f89cde/sourceFolder%5Cblob1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 20 Jan 2023 22:36:44 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": "G6cCgQPO7pFZv6P8ArTXpIyOsXDsNGg9ArSajI9mmuWBHbT3E7Jrm6r/9XJFMz1/iksfrwfV4uc/xH5PM2IC8iS9euX/4JHaIxXF7T/19893GwFDR\u002BverDvNuE40HGhI/AJNh7lYf6q5RYzxEPSoSc2v1xdgvqs5386pMihDpgatfPE8qHAVHpxXigFe7JtGJG6BhERQ6D5XFKfrrkyBdZ\u002BFQ5MDbKBcmbh7CTSp2vIyYw65wiHCXZSy5JTIKnBP1RRi2KgIQ7jNJOuL1N8KrTm1uEo\u002ByLN9w\u002Bb/UIcMk25IKzMfRwFJKSBV6502Noi0qDdaE3IlEQ1h5BXCCPIxwZF8[...]
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-aad9b92f-3b6d-50d3-4c9e-4128b3f89cde/sourceFolder%5Cbar%5Cblob3",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 20 Jan 2023 22:36:44 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": "DVdSSpa/\u002BKEpduEXzqMGG1zZDYtealjHHlUVW3G[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-aad9b92f-3b6d-50d3-4c9e-4128b3f89cde/sourceFolder%5Cpik%5Cblob4",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 20 Jan 2023 22:36:44 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": "LegtXWeRrqvgW63YE8fOst6aTWsADoQhOcOjmCJ2uHSz[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-aad9b92f-3b6d-50d3-4c9e-4128b3f89cde?restype=container\u0026comp=list\u0026prefix=sourceFolder",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 20 Jan 2023 22:36:44 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
    [...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-aad9b92f-3b6d-50d3-4c9e-4128b3f89cde/sourceFolder/bar/blob3",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 20 Jan 2023 22:36:44 GMT",
        "x-ms-range": "bytes=0-4194303999",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DAFB36CF6D71F6\u0022",
        "Last-Modified": "Fri, 20 Jan 2023 22:36:45 GMT",
        "x-ms-blob-content-md5": "FWtbDKtL8DzpcT5G9gJjgg==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 20 Jan 2023 22:36:45 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2023-01-20T22:36:45.3208566Z"
      },
      "ResponseBody": "DVdSSpa/\u002BKEpduEXzqMGG1zZDYtealjHHlUVW3G1Tz20InCXsa0cyH4ve3ZA\u002BbcKVdF6q2AM9qP\u002BiytBqZ0vcyekY6wyb2mvvEUML\u002B/ihyWdCwafO6PdpyzNmSaB2x7h/wdPm5UL2OVnyu8bAMazHAQGo56WjzeDx7yAZNZDLeAmKy/nk\u002BuPkTMgOHC0wadlGnwheziASm/Qy9TZi3MPJJ0O9NSWy4gZdxFrdVfHzwUUGkpZIbKopuDAF8cWtQa/ERPTpczSzk70CAMmFdQYCfzPxXAptgLqZk7z1rTAAsELq2RE8yk4Qkv8ZBiugZALpw7LR/CVllsQ6D5\u002B3viaMwZCG2lw1BXSloIlLFHpPOS96C6l9brRdRUIMwvqumNTYjESbGYnm9P5\u002BLFtc[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-aad9b92f-3b6d-50d3-4c9e-4128b3f89cde/sourceFolder/blob1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 20 Jan 2023 22:36:44 GMT",
        "x-ms-range": "bytes=0-4194303999",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/102[...]
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-aad9b92f-3b6d-50d3-4c9e-4128b3f89cde/sourceFolder/pik/blob4",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 20 Jan 2023 22:36:45 GMT",
        "x-ms-range": "bytes=0-4194303999",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-aad9b92f-3b6d-50d3-4c9e-4128b3f89cde?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 20 Jan 2023 22:36:45 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1719108085",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
