{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-5681cdf7-a042-5aae-530b-561cb8e22d15?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Fri, 20 Jan 2023 22:36:47 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DAFB36D0E16DD3\u0022",
        "Last-Modified": "Fri, 20 Jan 2023 22:36:47 GMT",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-5681cdf7-a042-5aae-530b-561cb8e22d15/sourceFolder%5Cblob1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 20 Jan 2023 22:36:47 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": "9ztlTg6jSY4E9utBetggNP7/nQMzQU80C/tfp5eba1J8ptQCR4wKdx6SztSWHF1RAz9qh1fry7brMUITQ6H2aIuYxNMEHexy9CXkoXJ7ne\u002BdDqRXMOP7kNsdFhZJ9jN8m2VI/leKTeVS95IxBylDb5NSdjX9nzeonDT45gfWKP7yaAUNMp6YE8G/BThQyYmx2qaC9oD\u002Bf/wtoGIjkWbee8\u002BUP54kNj31umJzPpn\u002BV9KqRwxgVDF98\u002BgJ35E8dYFb4IlpvIrqjKNpjDwdikBiLkmPeEpafiadF0u2G1aruEXhGF0QlZtIv7po9sj1X2ioprFIrfw3AGJizKQ\u00[...]
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-5681cdf7-a042-5aae-530b-561cb8e22d15/sourceFolder%5Cbar%5Cblob3",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 20 Jan 2023 22:36:47 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": "fH/kt6v5Y3BSz7QlCzAMEoK6xKwZgfe\u002BF1hdWjZ[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-5681cdf7-a042-5aae-530b-561cb8e22d15/sourceFolder%5Cpik%5Cblob4",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 20 Jan 2023 22:36:47 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": "zVqdfDLxifM\u002BWCBu8GcpWWNHcJUE2vkxDAC0KKg[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-5681cdf7-a042-5aae-530b-561cb8e22d15?restype=container\u0026comp=list\u0026prefix=sourceFolder",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 20 Jan 2023 22:36:47 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
    [...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-5681cdf7-a042-5aae-530b-561cb8e22d15/sourceFolder/bar/blob3",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 20 Jan 2023 22:36:47 GMT",
        "x-ms-range": "bytes=0-4194303999",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DAFB36D1038D1E\u0022",
        "Last-Modified": "Fri, 20 Jan 2023 22:36:47 GMT",
        "x-ms-blob-content-md5": "oIYu0Vyp3STek0F3rgWB1g==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 20 Jan 2023 22:36:47 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2023-01-20T22:36:47.9823134Z"
      },
      "ResponseBody": "fH/kt6v5Y3BSz7QlCzAMEoK6xKwZgfe\u002BF1hdWjZfHJPCgwGtXi0pBuwbshtiOqcgFYPIrRyi\u002BPuIJaBTnAk68rMhY4cuX7NVkb7A/s/bW92xPUSyl292H4sGJTmM1Wni4L9oQdYf8bXPchxd4vorrMrDol7EiFpEqkP8Jzp6yLtV3R0QchoGkkuO4iVTGT2R23huyTMKHlhkJJaSIsp7VKpgCAXcGzqvvBATNaU18ZEFa0zBDP6ISr/Fq06Dc2\u002BBE4168hA4tL8\u002Bvw0j9\u002BizLjMFjbZ9ukis2L5GF2/rLEigkiIXu/6AzbeMg0zxZVLWEXwbfea4A1hEzhpS8p1QUpLEgmXFm3M0hcD/8Tb7u3JrbwXz0K9i54/J0uzkLdoaPDC6LOLtEXYJ5vgmuREiSROn54O[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-5681cdf7-a042-5aae-530b-561cb8e22d15/sourceFolder/blob1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 20 Jan 2023 22:36:47 GMT",
        "x-ms-range": "bytes=0-4194303999",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/102[...]
[...]
