{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-b45baa05-c124-a16e-794a-b46f57b7e561?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Fri, 20 Jan 2023 22:36:43 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DAFB36CED3C4D3\u0022",
        "Last-Modified": "Fri, 20 Jan 2023 22:36:44 GMT",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-b45baa05-c124-a16e-794a-b46f57b7e561/sourceFolder%5Cblob1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 20 Jan 2023 22:36:43 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": "G1Mh0TbZwJUUIuRUgZDpMhggFtSm8ymuBumAqL8aPr1lCXIm8s1bIFRbJhW7Khb7DjpV7UjiOicqc8pNWBjW\u002BuMm7ncdwz9LxfaAS8wT89zShZmFxVF1g89K\u002B38DDsc7hSwylTue3kv6CihRYu9bF3/tetN/UTSRsGuo0sjAR7YvRcWg4V6gM6dNirooIyDf7\u002BT/FZPzvDT3oOTQ9QuDOsJxIhwpuzUhTEcsMcZ6aYxKyeLkwDEjO4iRqEF50D2bylD3tgEDtTSu3slMx4tufTZXhSwon3qQTueUmBL0p3wJkGd1grOLRhOuNeFo13T9IyoKIksRcirWZmcabx0iuTZMQzYk\[...]
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-b45baa05-c124-a16e-794a-b46f57b7e561/sourceFolder%5Cbar%5Cblob3",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 20 Jan 2023 22:36:43 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": "cpfgj9wB3YUSMXrre3N0MsPAQMfz3Tv0IWIXDlt6eZRh[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-b45baa05-c124-a16e-794a-b46f57b7e561/sourceFolder%5Cpik%5Cblob4",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 20 Jan 2023 22:36:43 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": "KwOk\u002BMjx5wDTW0zgbBAOSVKo03Z1EWBROeMUMPw[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-b45baa05-c124-a16e-794a-b46f57b7e561?restype=container\u0026comp=list\u0026prefix=sourceFolder",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 20 Jan 2023 22:36:43 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
    [...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-b45baa05-c124-a16e-794a-b46f57b7e561/sourceFolder/bar/blob3",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 20 Jan 2023 22:36:44 GMT",
        "x-ms-range": "bytes=0-4194303999",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DAFB36CEF5BBB1\u0022",
        "Last-Modified": "Fri, 20 Jan 2023 22:36:44 GMT",
        "x-ms-blob-content-md5": "A/IdUCePg8363DhpXFGbIw==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 20 Jan 2023 22:36:44 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2023-01-20T22:36:44.5363121Z"
      },
      "ResponseBody": "cpfgj9wB3YUSMXrre3N0MsPAQMfz3Tv0IWIXDlt6eZRhOdA\u002BpdVJRmUXHlxaDNdtSaQ/yo1AY5Vb62156s8ql7fliUGiNYztdvlh277fmhWLqcW2O64GIdY74rloz1yW7YakdIKVyhMXUVOT34fXfFFX7kEKc1wI3mhrZ1LThaedy\u002B43OiWT9d\u002BxnulbckFOY2ZoEOEajHkpm5UZKmLARMys9RSZn0IrxPhiWNVzrWsmHATsa3TFgz51DZ6Qect88Fkdrn0ttcQkPEzpuDOjtu4p8g5e1NlX53LVI5Gjm0os5Wd7Vf/u\u002BWY/yC4n3MoL0VawZoa8HRyAxccKWJIygKECvNLLKGHvOvmnHgyrLwqoyVE68jTDb8dL\u002B5A35KDUDEeMJR/3P6n1wSyNFf4Q1Za8YY5[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-b45baa05-c124-a16e-794a-b46f57b7e561/sourceFolder/blob1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 20 Jan 2023 22:36:44 GMT",
        "x-ms-range": "bytes=0-4194303999",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/102[...]
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-b45baa05-c124-a16e-794a-b46f57b7e561?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 20 Jan 2023 22:36:44 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "375426601",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
