{
  "Entries": [
    {
      "RequestUri": "https://seandevtest.queue.core.windows.net/test-queue-7862269e-d9bd-c8fa-f5b3-a910a4d31fe5",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 06 Jan 2021 02:04:44 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seandevtest.queue.core.windows.net/test-queue-7862269e-d9bd-c8fa-f5b3-a910a4d31fe5?sv=2020-04-08\u0026ss=q\u0026srt=sco\u0026st=2021-01-06T01%3A04%3A45Z\u0026se=2021-01-06T03%3A04%3A45Z\u0026sp=rwdxlacuptf\u0026sig=Sanitized\u0026comp=metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "x-ms-approximate-messages-count": "0",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seandevtest.queue.core.windows.net/test-queue-7862269e-d9bd-c8fa-f5b3-a910a4d31fe5",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 06 Jan 2021 02:04:45 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2021-01-05T20:04:45.1209598-06:00",
    "RandomSeed": "644072145",
    "Storage_TestConfigDefault": "ProductionTenant\nseandevtest\nU2FuaXRpemVk\nhttps://seandevtest.blob.core.windows.net\nhttps://seandevtest.file.core.windows.net\nhttps://seandevtest.queue.core.windows.net\nhttps://seandevtest.table.core.windows.net\n\n\n\n\nhttps://seandevtest-secondary.blob.core.windows.net\nhttps://seandevtest-secondary.file.core.windows.net\nhttps://seandevtest-secondary.queue.core.windows.net\nhttps://seandevtest-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seandevtest.blob.core.windows.net/;QueueEndpoint=https://seandevtest.queue.core.windows.net/;FileEndpoint=https://seandevtest.file.core.windows.net/;BlobSecondaryEndpoint=https://seandevtest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seandevtest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seandevtest-secondary.file.core.windows.net/;AccountName=seandevtest;AccountKey=Kg==;\nseanscope1"
  }
}