{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourcegroups/WebPubSubRG-2586?api-version=2021-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11888"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/WebPubSubRG-2586",
        "name": "WebPubSubRG-2586",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus2",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/WebPubSubRG-2586/providers/Microsoft.SignalRService/webPubSub/WebPubSub-975?api-version=2021-10-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "sku": {
          "name": "Standard_S1"
        },
        "tags": {},
        "location": "westus2",
        "properties": {
          "liveTraceConfiguration": {
            "enabled": "true",
            "categories": [
              {
                "name": "category-01",
                "enabled": "True"
              }
            ]
          },
          "resourceLogConfiguration": {
            "categories": [
              {
                "name": "category1",
                "enabled": "false"
              }
            ]
          },
          "networkACLs": {
            "defaultAction": "Deny",
            "publicNetwork": {
              "allow": [],
              "deny": [
                "RESTAPI"
              ]
            },
            "privateEndpoints": []
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/WebPubSubRG-2586/providers/Microsoft.SignalRService/WebPubSub/WebPubSub-975/operationStatuses/b3d57922-9f42-45d3-8b02-fbd1d31574a8?api-version=2021-10-01",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/WebPubSubRG-2586/providers/Microsoft.SignalRService/WebPubSub/WebPubSub-975/operationResults/b3d57922-9f42-45d3-8b02-fbd1d31574a8?api-version=2021-10-01",
        "x-ms-ratelimit-remaining-subscription-writes": "1187",
        "x-rp-server-mvid": "a240317d-2594-4b08-9f0c-5f370ea616d7"
      },
      "ResponseBody": {
        "sku": {
          "name": "Standard_S1",
          "tier": "Standard",
          "size": "S1",
          "capacity": 1
        },
        "properties": {
          "provisioningState": "Creating",
          "externalIP": null,
          "hostName": "webpubsub-975.webpubsub.azure.com",
          "publicPort": 443,
          "serverPort": 443,
          "version": "1.0-preview",
          "privateEndpointConnections": [],
          "sharedPrivateLinkResources": [],
          "tls": {
            "clientCertEnabled": false
          },
          "hostNamePrefix": "webpubsub-975",
          "liveTraceConfiguration": {
            "enabled": "true",
            "categories": [
              {
                "name": "category-01",
                "enabled": "True"
              }
            ]
          },
          "resourceLogConfiguration": {
            "categories": [
              {
                "name": "category1",
                "enabled": "false"
              }
            ]
          },
          "networkACLs": {
            "defaultAction": "Deny",
            "publicNetwork": {
              "allow": [],
              "deny": [
                "RESTAPI"
              ]
            },
            "privateEndpoints": []
          },
          "publicNetworkAccess": "Enabled",
          "disableLocalAuth": false,
          "disableAadAuth": false
        },
        "systemData": {
          "createdBy": "8e6d47e0-7969-4fde-a62c-4fea4f165e98",
          "createdByType": "Application",
          "createdAt": "2022-07-12T07:40:18.3069212Z",
          "lastModifiedBy": "8e6d47e0-7969-4fde-a62c-4fea4f165e98",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2022-07-12T07:40:18.3069212Z"
        },
        "location": "westus2",
        "tags": {},
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/WebPubSubRG-2586/providers/Microsoft.SignalRService/WebPubSub/WebPubSub-975",
        "name": "WebPubSub-975",
        "type": "Microsoft.SignalRService/WebPubSub"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/WebPubSubRG-2586/providers/Microsoft.SignalRService/WebPubSub/WebPubSub-975/operationStatuses/b3d57922-9f42-45d3-8b02-fbd1d31574a8?api-version=2021-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11887",
        "x-rp-server-mvid": "a240317d-2594-4b08-9f0c-5f370ea616d7"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/WebPubSubRG-2586/providers/Microsoft.SignalRService/WebPubSub/WebPubSub-975/operationStatuses/b3d57922-9f42-45d3-8b02-fbd1d31574a8",
        "name": "b3d57922-9f42-45d3-8b02-fbd1d31574a8",
        "status": "Running",
        "startTime": "2022-07-12T07:40:19.5747419Z"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/WebPubSubRG-2586/providers/Microsoft.SignalRService/WebPubSub/WebPubSub-975/operationStatuses/b3d57922-9f42-45d3-8b02-fbd1d31574a8?api-version=2021-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11878",
        "x-rp-server-mvid": "a240317d-2594-4b08-9f0c-5f370ea616d7"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/WebPubSubRG-2586/providers/Microsoft.SignalRService/WebPubSub/WebPubSub-975/operationStatuses/b3d57922-9f42-45d3-8b02-fbd1d31574a8",
        "name": "b3d57922-9f42-45d3-8b02-fbd1d31574a8",
        "status": "Succeeded",
        "startTime": "2022-07-12T07:40:19.5747419Z",
        "endTime": "2022-07-12T07:41:40.6797705Z"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/WebPubSubRG-2586/providers/Microsoft.Network/privateEndpoints/PrivateEndPoint-7831?api-version=2021-02-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus2",
        "properties": {
          "subnet": {
            "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/WebPubSubRG-2586/providers/Microsoft.Network/virtualNetworks/Vnet-2983/subnets/subnet02",
            "properties": {}
          },
          "privateLinkServiceConnections": [
            {
              "name": "PrivateEndPoint-7831",
              "properties": {
                "privateLinkServiceId": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/WebPubSubRG-2586/providers/Microsoft.SignalRService/WebPubSub/WebPubSub-975",
                "groupIds": [
                  "webpubsub"
                ]
              }
            }
          ]
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncNotification": "Enabled",
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Network/locations/westus2/operations/2679d071-5b25-48f4-a3c1-c680d1072ee0?api-version=2021-02-01",
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "x-ms-ratelimit-remaining-subscription-writes": "1186"
      },
      "ResponseBody": {
        "name": "PrivateEndPoint-7831",
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/WebPubSubRG-2586/providers/Microsoft.Network/privateEndpoints/PrivateEndPoint-7831",
        "etag": "W/\u0022ebbb6cb2-216d-4f75-8f15-85d81be26d27\u0022",
        "type": "Microsoft.Network/privateEndpoints",
        "location": "westus2",
        "properties": {
          "provisioningState": "Updating",
          "resourceGuid": "2e290cc8-c728-4010-a832-879022e4983c",
          "privateLinkServiceConnections": [
            {
              "name": "PrivateEndPoint-7831",
              "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/WebPubSubRG-2586/providers/Microsoft.Network/privateEndpoints/PrivateEndPoint-7831/privateLinkServiceConnections/PrivateEndPoint-7831",
              "etag": "W/\u0022ebbb6cb2-216d-4f75-8f15-85d81be26d27\u0022",
              "properties": {
                "provisioningState": "Succeeded",
                "privateLinkServiceId": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/WebPubSubRG-2586/providers/Microsoft.SignalRService/WebPubSub/WebPubSub-975",
                "groupIds": [
                  "webpubsub"
                ],
                "privateLinkServiceConnectionState": {
                  "status": "Approved",
                  "description": "Auto Approved",
                  "actionsRequired": "None"
                }
              },
              "type": "Microsoft.Network/privateEndpoints/privateLinkServiceConnections"
            }
          ],
          "manualPrivateLinkServiceConnections": [],
          "subnet": {
            "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/WebPubSubRG-2586/providers/Microsoft.Network/virtualNetworks/Vnet-2983/subnets/subnet02"
          },
          "networkInterfaces": [
            {
              "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/WebPubSubRG-2586/providers/Microsoft.Network/networkInterfaces/PrivateEndPoint-7831.nic.c8dc1a27-5aca-44d0-9652-d0e830f241e6"
            }
          ],
          "customDnsConfigs": []
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Network/locations/westus2/operations/2679d071-5b25-48f4-a3c1-c680d1072ee0?api-version=2021-02-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "x-ms-ratelimit-remaining-subscription-reads": "11876"
      },
      "ResponseBody": {
        "status": "InProgress"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/WebPubSubRG-2586/providers/Microsoft.Network/privateEndpoints/PrivateEndPoint-7831?api-version=2021-02-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\u0022935273c7-57b3-433b-bcce-bbda78ad20ac\u0022",
        "x-ms-ratelimit-remaining-subscription-reads": "11872"
      },
      "ResponseBody": {
        "name": "PrivateEndPoint-7831",
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/WebPubSubRG-2586/providers/Microsoft.Network/privateEndpoints/PrivateEndPoint-7831",
        "etag": "W/\u0022935273c7-57b3-433b-bcce-bbda78ad20ac\u0022",
        "type": "Microsoft.Network/privateEndpoints",
        "location"[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/WebPubSubRG-2586/providers/Microsoft.SignalRService/webPubSub/WebPubSub-975/privateEndpointConnections?api-version=2021-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11871",
        "x-rp-server-mvid": "a240317d-2594-4b08-9f0c-5f370ea616d7"
      },
      "ResponseBody": {
        "value": [
          {
            "properties": {
              "provisioningState": "Succeeded",
              "privateEndpoint": {
                "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/WebPubSubRG-2586/providers/Microsoft.Network/privateEndpoints/PrivateEndPoint-7831"
              },
              "groupIds": [
                "webpubsub"
              ],
              "privateLinkServiceConnectionState": {
                "status": "Approved",
                "description": "Auto-Approved",
                "actionsRequired": "None"
              }
            },
            "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/WebPubSubRG-2586/providers/Microsoft.SignalRService/WebPubSub/WebPubSub-975/privateEndpointConnections/webpubsub-975.71f18774-e2f2-4799-9b42-66da6eae66e7",
            "name": "webpubsub-975.71f18774-e2f2-4799-9b42-66da6eae66e7",
            "type": "Microsoft.SignalRService/WebPubSub/privateEndpointConnections"
          }
        ]
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/WebPubSubRG-2586/providers/Microsoft.SignalRService/webPubSub/WebPubSub-975/privateEndpointConnections/webpubsub-975.71f18774-e2f2-4799-9b42-66da6eae66e7?api-version=2021-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-T[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/WebPubSubRG-2586/providers/Microsoft.SignalRService/webPubSub/WebPubSub-975/privateEndpointConnections/webpubsub-975.71f18774-e2f2-4799-9b42-66da6eae66e701?api-version=2021-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11869",
        "x-rp-server-mvid": "a240317d-2594-4b08-9f0c-5f370ea616d7"
      },
      "ResponseBody": {
        "error": {
          "code": "NotFound",
          "message": "Private endpoint connection not found",
          "target": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/WebPubSubRG-2586/providers/Microsoft.SignalRService/WebPubSub/WebPubSub-975/privateEndpointConnections/webpubsub-975.71f18774-e2f2-4799-9b42-66da6eae66e701"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/WebPubSubRG-2586/providers/Microsoft.Network/privateEndpoints?api-version=2021-02-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-read[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/WebPubSubRG-2586/providers/Microsoft.SignalRService/webPubSub?api-version=2021-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-read[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/WebPubSubRG-2586/providers/Microsoft.SignalRService/webPubSub/WebPubSub-975?api-version=2021-10-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-deletes": "14989",
        "x-rp-server-mvid": "a240317d-2594-4b08-9f0c-5f370ea616d7"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "RandomSeed": "2087633767",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "db1ab6f0-4769-4b27-930e-01e2ef9c123c"
  }
}
