{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourcegroups/WebPubSubRG-6848?api-version=2019-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11567"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/WebPubSubRG-6848",
        "name": "WebPubSubRG-6848",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus2",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/WebPubSubRG-6848/providers/Microsoft.SignalRService/webPubSub/WebPubSub-6033?api-version=2021-10-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "sku": {
          "name": "Standard_S1"
        },
        "tags": {},
        "location": "westus2",
        "properties": {
          "liveTraceConfiguration": {
            "enabled": "true",
            "categories": [
              {
                "name": "category-01",
                "enabled": "true"
              }
            ]
          },
          "resourceLogConfiguration": {
            "categories": [
              {
                "name": "category1",
                "enabled": "false"
              }
            ]
          },
          "networkACLs": {
            "defaultAction": "Deny",
            "publicNetwork": {
              "allow": [],
              "deny": [
                "RESTAPI"
              ]
            },
            "privateEndpoints": []
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/WebPubSubRG-6848/providers/Microsoft.SignalRService/WebPubSub/WebPubSub-6033/operationStatuses/4eadcae8-f2c9-4220-a97e-cd1968e79c2e?api-version=2021-10-01",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/WebPubSubRG-6848/providers/Microsoft.SignalRService/WebPubSub/WebPubSub-6033/operationResults/4eadcae8-f2c9-4220-a97e-cd1968e79c2e?api-version=2021-10-01",
        "x-ms-ratelimit-remaining-subscription-writes": "1197",
        "x-rp-server-mvid": "33b08b5f-16b4-4fec-b4b0-9a3ce5be7339"
      },
      "ResponseBody": {
        "sku": {
          "name": "Standard_S1",
          "tier": "Standard",
          "size": "S1",
          "capacity": 1
        },
        "properties": {
          "provisioningState": "Creating",
          "externalIP": null,
          "hostName": "webpubsub-6033.webpubsub.azure.com",
          "publicPort": 443,
          "serverPort": 443,
          "version": "1.0-preview",
          "privateEndpointConnections": [],
          "sharedPrivateLinkResources": [],
          "tls": {
            "clientCertEnabled": false
          },
          "hostNamePrefix": "webpubsub-6033",
          "liveTraceConfiguration": {
            "enabled": "true",
            "categories": [
              {
                "name": "category-01",
                "enabled": "true"
              }
            ]
          },
          "resourceLogConfiguration": {
            "categories": [
              {
                "name": "category1",
                "enabled": "false"
              }
            ]
          },
          "networkACLs": {
            "defaultAction": "Deny",
            "publicNetwork": {
              "allow": [],
              "deny": [
                "RESTAPI"
              ]
            },
            "privateEndpoints": []
          },
          "publicNetworkAccess": "Enabled",
          "disableLocalAuth": false,
          "disableAadAuth": false
        },
        "systemData": {
          "createdBy": "8e6d47e0-7969-4fde-a62c-4fea4f165e98",
          "createdByType": "Application",
          "createdAt": "2021-11-26T03:37:40.2060229Z",
          "lastModifiedBy": "8e6d47e0-7969-4fde-a62c-4fea4f165e98",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2021-11-26T03:37:40.2060229Z"
        },
        "location": "westus2",
        "tags": {},
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/WebPubSubRG-6848/providers/Microsoft.SignalRService/WebPubSub/WebPubSub-6033",
        "name": "WebPubSub-6033",
        "type": "Microsoft.SignalRService/WebPubSub"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/WebPubSubRG-6848/providers/Microsoft.SignalRService/WebPubSub/WebPubSub-6033/operationStatuses/4eadcae8-f2c9-4220-a97e-cd1968e79c2e?api-version=2021-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11566",
        "x-rp-server-mvid": "33b08b5f-16b4-4fec-b4b0-9a3ce5be7339"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/WebPubSubRG-6848/providers/Microsoft.SignalRService/WebPubSub/WebPubSub-6033/operationStatuses/4eadcae8-f2c9-4220-a97e-cd1968e79c2e",
        "name": "4eadcae8-f2c9-4220-a97e-cd1968e79c2e",
        "status": "Running",
        "startTime": "2021-11-26T03:37:40.7822403Z"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/WebPubSubRG-6848/providers/Microsoft.SignalRService/WebPubSub/WebPubSub-6033/operationStatuses/4eadcae8-f2c9-4220-a97e-cd1968e79c2e?api-version=2021-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11507",
        "x-rp-server-mvid": "33b08b5f-16b4-4fec-b4b0-9a3ce5be7339"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/WebPubSubRG-6848/providers/Microsoft.SignalRService/WebPubSub/WebPubSub-6033/operationStatuses/4eadcae8-f2c9-4220-a97e-cd1968e79c2e",
        "name": "4eadcae8-f2c9-4220-a97e-cd1968e79c2e",
        "status": "Succeeded",
        "startTime": "2021-11-26T03:37:40.7822403Z",
        "endTime": "2021-11-26T03:38:59.2505728Z"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/WebPubSubRG-6848/providers/Microsoft.SignalRService/webPubSub/WebPubSub-6033/privateEndpointConnections?api-version=2021-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11998",
        "x-rp-server-mvid": "33b08b5f-16b4-4fec-b4b0-9a3ce5be7339"
      },
      "ResponseBody": {
        "value": []
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/WebPubSubRG-6848/providers/Microsoft.Network/privateEndpoints/PrivateEndPoint-6231?api-version=2021-02-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus2",
        "properties": {
          "subnet": {
            "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/WebPubSubRG-6848/providers/Microsoft.Network/virtualNetworks/Vnet-7393/subnets/subnet02",
            "properties": {}
          },
          "privateLinkServiceConnections": [
            {
              "name": "PrivateEndPoint-6231",
              "properties": {
                "privateLinkServiceId": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/WebPubSubRG-6848/providers/Microsoft.SignalRService/WebPubSub/WebPubSub-6033",
                "groupIds": [
                  "webpubsub"
                ]
              }
            }
          ]
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncNotification": "Enabled",
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Network/locations/westus2/operations/8b3dc062-606b-4819-9079-dd02a93014d5?api-version=2021-02-01",
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": [
        "{\r\n",
        "  \u0022name\u0022: \u0022PrivateEndPoint-6231\u0022,\r\n",
        "  \u0022id\u0022: \u0022/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/WebPubSubRG-6848/providers/Microsoft.Network/privateEndpoints/PrivateEndPoint-6231\u0022,\r\n",
        "  \u0022etag\u0022: \u0022W/\\\u00221b87e947-0c7f-42cd-b74b-80c6b0d5acfb\\\u0022\u0022,\r\n",
        "  \[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Network/locations/westus2/operations/8b3dc062-606b-4819-9079-dd02a93014d5?api-version=2021-02-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "x-ms-ratelimit-remaining-subscription-reads": "11997"
      },
      "ResponseBody": [
        "{\r\n",
        "  \u0022status\u0022: \u0022InProgress\u0022\r\n",
        "}"
      ]
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/WebPubSubRG-6848/providers/Microsoft.Network/privateEndpoints/PrivateEndPoint-6231?api-version=2021-02-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\u00225c4a0b0c-61fe-4fc7-9dea-f494cb12a99e\u0022",
        "x-ms-ratelimit-remaining-subscription-reads": "11968"
      },
      "ResponseBody": [
        "{\r\n",
        "  \u0022name\u0022: \u0022PrivateEndPoint-6231\u0022,\r\n",
        "  \u0022id\u0022: \u0022/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/WebPubSubRG-6848/providers/Microsoft.Network/privateEndpoints/PrivateEndPoint-6231\u0022,\r\n",
        "  \u0022etag\u0022: \u0022W/\\\u00225c4a0b0c-61fe-4fc7-9de[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/WebPubSubRG-6848/providers/Microsoft.SignalRService/webPubSub/WebPubSub-6033/privateEndpointConnections?api-version=2021-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11967",
        "x-rp-server-mvid": "33b08b5f-16b4-4fec-b4b0-9a3ce5be7339"
      },
      "ResponseBody": {
        "value": [
          {
            "properties": {
              "provisioningState": "Succeeded",
              "privateEndpoint": {
                "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/WebPubSubRG-6848/providers/Microsoft.Network/privateEndpoints/PrivateEndPoint-6231"
              },
              "groupIds": [
                "webpubsub"
              ],
              "privateLinkServiceConnectionState": {
                "status": "Approved",
                "description": "Auto-Approved",
                "actionsRequired": "None"
              }
            },
            "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/WebPubSubRG-6848/providers/Microsoft.SignalRService/WebPubSub/WebPubSub-6033/privateEndpointConnections/webpubsub-6033.58643197-dc48-4cbc-8065-35dde790a416",
            "name": "webpubsub-6033.58643197-dc48-4cbc-8065-35dde790a416",
            "type": "Microsoft.SignalRService/WebPubSub/privateEndpointConnections"
          }
        ]
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/WebPubSubRG-6848/providers/Microsoft.Network/privateEndpoints?api-version=2021-02-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-read[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/WebPubSubRG-6848/providers/Microsoft.SignalRService/webPubSub?api-version=2021-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-read[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/WebPubSubRG-6848/providers/Microsoft.SignalRService/webPubSub/WebPubSub-6033?api-version=2021-10-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-deletes": "14998",
        "x-rp-server-mvid": "33b08b5f-16b4-4fec-b4b0-9a3ce5be7339"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "26349832",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "db1ab6f0-4769-4b27-930e-01e2ef9c123c"
  }
}