{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourcegroups/WebPubSubRG-403?api-version=**",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11918"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/WebPubSubRG-403",
        "name": "WebPubSubRG-403",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus2",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/WebPubSubRG-403/providers/Microsoft.SignalRService/webPubSub/WebPubSub-517?api-version=2021-10-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "sku": {
          "name": "Standard_S1"
        },
        "tags": {},
        "location": "westus2",
        "properties": {
          "liveTraceConfiguration": {
            "enabled": "true",
            "categories": [
              {
                "name": "category-01",
                "enabled": "true"
              }
            ]
          },
          "resourceLogConfiguration": {
            "categories": [
              {
                "name": "category1",
                "enabled": "false"
              }
            ]
          },
          "networkACLs": {
            "defaultAction": "Deny",
            "publicNetwork": {
              "allow": [],
              "deny": [
                "RESTAPI"
              ]
            },
            "privateEndpoints": []
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/WebPubSubRG-403/providers/Microsoft.SignalRService/WebPubSub/WebPubSub-517/operationStatuses/5c6fcc4d-8f97-4178-af12-ec90d4d71968?api-version=2021-10-01",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/WebPubSubRG-403/providers/Microsoft.SignalRService/WebPubSub/WebPubSub-517/operationResults/5c6fcc4d-8f97-4178-af12-ec90d4d71968?api-version=2021-10-01",
        "x-ms-ratelimit-remaining-subscription-writes": "1191",
        "x-rp-server-mvid": "cc9350c4-39bb-4799-b2d8-466ffea269fe"
      },
      "ResponseBody": {
        "sku": {
          "name": "Standard_S1",
          "tier": "Standard",
          "size": "S1",
          "capacity": 1
        },
        "properties": {
          "provisioningState": "Creating",
          "externalIP": null,
          "hostName": "webpubsub-517.webpubsub.azure.com",
          "publicPort": 443,
          "serverPort": 443,
          "version": "1.0-preview",
          "privateEndpointConnections": [],
          "sharedPrivateLinkResources": [],
          "tls": {
            "clientCertEnabled": false
          },
          "hostNamePrefix": "webpubsub-517",
          "liveTraceConfiguration": {
            "enabled": "true",
            "categories": [
              {
                "name": "category-01",
                "enabled": "true"
              }
            ]
          },
          "resourceLogConfiguration": {
            "categories": [
              {
                "name": "category1",
                "enabled": "false"
              }
            ]
          },
          "networkACLs": {
            "defaultAction": "Deny",
            "publicNetwork": {
              "allow": [],
              "deny": [
                "RESTAPI"
              ]
            },
            "privateEndpoints": []
          },
          "publicNetworkAccess": "Enabled",
          "disableLocalAuth": false,
          "disableAadAuth": false
        },
        "systemData": {
          "createdBy": "8e6d47e0-7969-4fde-a62c-4fea4f165e98",
          "createdByType": "Application",
          "createdAt": "2023-03-22T03:00:51.3029057Z",
          "lastModifiedBy": "8e6d47e0-7969-4fde-a62c-4fea4f165e98",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2023-03-22T03:00:51.3029057Z"
        },
        "location": "westus2",
        "tags": {},
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/WebPubSubRG-403/providers/Microsoft.SignalRService/WebPubSub/WebPubSub-517",
        "name": "WebPubSub-517",
        "type": "Microsoft.SignalRService/WebPubSub"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/WebPubSubRG-403/providers/Microsoft.SignalRService/WebPubSub/WebPubSub-517/operationStatuses/5c6fcc4d-8f97-4178-af12-ec90d4d71968?api-version=2021-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11917",
        "x-rp-server-mvid": "cc9350c4-39bb-4799-b2d8-466ffea269fe"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/WebPubSubRG-403/providers/Microsoft.SignalRService/WebPubSub/WebPubSub-517/operationStatuses/5c6fcc4d-8f97-4178-af12-ec90d4d71968",
        "name": "5c6fcc4d-8f97-4178-af12-ec90d4d71968",
        "status": "Running",
        "startTime": "2023-03-22T03:00:52.4092539Z"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/WebPubSubRG-403/providers/Microsoft.SignalRService/WebPubSub/WebPubSub-517/operationStatuses/5c6fcc4d-8f97-4178-af12-ec90d4d71968?api-version=2021-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11909",
        "x-rp-server-mvid": "cc9350c4-39bb-4799-b2d8-466ffea269fe"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/WebPubSubRG-403/providers/Microsoft.SignalRService/WebPubSub/WebPubSub-517/operationStatuses/5c6fcc4d-8f97-4178-af12-ec90d4d71968",
        "name": "5c6fcc4d-8f97-4178-af12-ec90d4d71968",
        "status": "Succeeded",
        "startTime": "2023-03-22T03:00:52.4092539Z",
        "endTime": "2023-03-22T03:01:42.5789278Z"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/WebPubSubRG-403/providers/Microsoft.SignalRService/webPubSub/WebPubSub-517/privateEndpointConnections?api-version=2021-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11907",
        "x-rp-server-mvid": "cc9350c4-39bb-4799-b2d8-466ffea269fe"
      },
      "ResponseBody": {
        "value": []
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/WebPubSubRG-403/providers/Microsoft.SignalRService/webPubSub/WebPubSub-517/privateEndpointConnections?api-version=2021-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11901",
        "x-rp-server-mvid": "cc9350c4-39bb-4799-b2d8-466ffea269fe"
      },
      "ResponseBody": {
        "value": [
          {
            "properties": {
              "provisioningState": "Succeeded",
              "privateEndpoint": {
                "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/WebPubSubRG-403/providers/Microsoft.Network/privateEndpoints/PrivateEndPoint-7925"
              },
              "groupIds": [
                "webpubsub"
              ],
              "privateLinkServiceConnectionState": {
                "status": "Approved",
                "description": "Auto-Approved",
                "actionsRequired": "None"
              }
            },
            "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/WebPubSubRG-403/providers/Microsoft.SignalRService/WebPubSub/WebPubSub-517/privateEndpointConnections/webpubsub-517.57ac4171-ce7d-4dfb-8049-c3d3030757ee",
            "name": "webpubsub-517.57ac4171-ce7d-4dfb-8049-c3d3030757ee",
            "type": "Microsoft.SignalRService/WebPubSub/privateEndpointConnections"
          }
        ]
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/WebPubSubRG-403/providers/Microsoft.Network/privateEndpoints?api-version=2021-02-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11900"
      },
      "ResponseBody": {
        "value": [
          {
            "name": "PrivateEndPoint-7925",
            "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/WebPubSubRG-403/providers/Microsoft.Network/privateEndpoints/PrivateEndPoint-7925",
            "etag": "W/\u0022b77e13f7-233b-4029-bed1-a7585a96279a\u0022",
            "type": "Microsoft.Network/privateEndpoints",
            "location": "westus2",
            "properties": {
              "provisioningState": "Succeeded",
              "resourceGuid": "dc618672-905e-47a5-89a1-ab41fabcfcdb",
              "privateLinkServiceConnections": [
                {
                  "name": "PrivateEndPoint-7925",
                  "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/WebPubSubRG-403/providers/Microsoft.Network/privateEndpoints/PrivateEndPoint-7925/privateLinkServiceConnections/PrivateEndPoint-7925",
                  "etag": "W/\u0022b77e13f7-233b-4029-bed1-a7585a96279a\u0022",
                  "properties": {
                    "provisioningState": "Succeeded",
                    "privateLinkServiceId": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/WebPubSubRG-403/providers/Microsoft.SignalRService/WebPubSub/WebPubSub-517",
                    "groupIds": [
                      "webpubsub"
                    ],
                    "privateLinkServiceConnectionState": {
                      "status": "Approved",
                      "description": "Auto-Approved",
                      "actionsRequired": "None"
                    }
                  },
                  "type": "Microsoft.Network/privateEndpoints/privateLinkServiceConnections"
                }
              ],
              "manualPrivateLinkServiceConnections": [],
              "subnet": {
                "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/WebPubSubRG-403/providers/Microsoft.Network/virtualNetworks/Vnet-1241/subnets/subnet02"
              },
              "networkInterfaces": [
                {
                  "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/WebPubSubRG-403/providers/Microsoft.Network/networkInterfaces/PrivateEndPoint-7925.nic.8230b341-d653-4cda-9251-d25149cf2269"
                }
              ],
              "customDnsConfigs": [
                {
                  "fqdn": "webpubsub-517.webpubsub.azure.com",
                  "ipAddresses": [
                    "10.10.2.4"
                  ]
                }
              ]
            }
          }
        ]
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/WebPubSubRG-403/providers/Microsoft.Network/privateEndpoints/PrivateEndPoint-7925?api-version=2021-02-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncNotification": "Enabled",
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Network/locations/westus2/operations/575beff7-724f-4596-9cb3-76a814e3b3c9?api-version=2021-02-01",
        "Location": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Network/locations/westus2/operationResults/575beff7-724f-4596-9cb3-76a814e3b3c9?api-version=2021-02-01",
        "Retry-After": "10",
        "x-ms-ratelimit-remaining-subscription-deletes": "14992"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Network/locations/westus2/operations/575beff7-724f-4596-9cb3-76a814e3b3c9?api-version=2021-02-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "x-ms-ratelimit-remaining-subscription-reads": "11899"
      },
      "ResponseBody": {
        "status": "InProgress"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/WebPubSubRG-403/providers/Microsoft.SignalRService/webPubSub?api-version=2021-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/WebPubSubRG-403/providers/Microsoft.SignalRService/webPubSub/WebPubSub-517?api-version=2021-10-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-deletes": "14991",
        "x-rp-server-mvid": "cc9350c4-39bb-4799-b2d8-466ffea269fe"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "RandomSeed": "1289775044",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "db1ab6f0-4769-4b27-930e-01e2ef9c123c"
  }
}
