{
  "Entries": [
    {
      "RequestUri": "https://camaiaor-formrec-eastus.cognitiveservices.azure.com/formrecognizer/v2.1-preview.3/custom/models",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "source": "Sanitized",
        "useLabelFile": false
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Location": "https://camaiaor-formrec-eastus.cognitiveservices.azure.com/formrecognizer/v2.1-preview.3/custom/models/c7b97e6f-1431-44c6-9d61-c9c0ed402735"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://camaiaor-formrec-eastus.cognitiveservices.azure.com/formrecognizer/v2.1-preview.3/custom/models/c7b97e6f-1431-44c6-9d61-c9c0ed402735?includeKeys=true",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "modelInfo": {
          "modelId": "c7b97e6f-1431-44c6-9d61-c9c0ed402735",
          "status": "creating",
          "createdDateTime": "2021-03-23T00:59:04Z",
          "lastUpdatedDateTime": "2021-03-23T00:59:04Z"
        }
      }
    },
[...]
    {
      "RequestUri": "https://camaiaor-formrec-eastus.cognitiveservices.azure.com/formrecognizer/v2.1-preview.3/custom/models/c7b97e6f-1431-44c6-9d61-c9c0ed402735?includeKeys=true",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "modelInfo": {
          "modelId": "c7b97e6f-1431-44c6-9d61-c9c0ed402735",
          "status": "ready",
          "createdDateTime": "2021-03-23T00:59:04Z",
          "lastUpdatedDateTime": "2021-03-23T00:59:26Z"
        },
        "keys": {
          "clusters": {
            "0": [
              "Additional Notes:",
              "Address:",
              "Company Name:",
              "Company Phone:",
              "Dated As:",
              "Details",
              "Email:",
              "Hero Limited",
              "Name:",
              "Phone:",
              "Purchase Order",
              "Purchase Order #:",
              "Quantity",
              "SUBTOTAL",
              "Seattle, WA 93849 Phone:",
              "Shipped From",
              "Shipped To",
              "TAX",
              "TOTAL",
              "Total",
              "Unit Price",
              "Vendor Name:",
              "Website:"
            ]
          }
        },
        "trainResult": {
          "trainingDocuments": [
            {
              "documentName": "Form_1.jpg",
              "pages": 1,
              "errors": [],
              "status": "succeeded"
            },
            {
              "documentName": "Form_2.jpg",
              "pages": 1,
              "errors": [],
              "status": "succeeded"
            },
            {
              "documentName": "Form_3.jpg",
              "pages": 1,
              "errors": [],
              "status": "succeeded"
            },
            {
              "documentName": "Form_4.jpg",
              "pages": 1,
              "errors": [],
              "status": "succeeded"
            },
            {
              "documentName": "Form_5.jpg",
              "pages": 1,
              "errors": [],
              "status": "succeeded"
            }
          ],
          "errors": []
        }
      }
    },
    {
      "RequestUri": "https://camaiaor-formrec-eastus.cognitiveservices.azure.com/formrecognizer/v2.1-preview.3/custom/models/c7b97e6f-1431-44c6-9d61-c9c0ed402735/analyze?includeTextDetails=false",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "source": "Sanitized"
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Operation-Location": "https://camaiaor-formrec-eastus.cognitiveservices.azure.com/formrecognizer/v2.1-preview.3/custom/models/c7b97e6f-1431-44c6-9d61-c9c0ed402735/analyzeresults/c30e06b8-956c-44a9-963f-9b5098dbba83"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://camaiaor-formrec-eastus.cognitiveservices.azure.com/formrecognizer/v2.1-preview.3/custom/models/c7b97e6f-1431-44c6-9d61-c9c0ed402735/analyzeResults/c30e06b8-956c-44a9-963f-9b5098dbba83",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "status": "notStarted",
        "createdDateTime": "2021-03-23T00:59:27Z",
        "lastUpdatedDateTime": "2021-03-23T00:59:27Z"
      }
    },
    {
      "RequestUri": "https://camaiaor-formrec-eastus.cognitiveservices.azure.com/formrecognizer/v2.1-preview.3/custom/models/c7b97e6f-1431-44c6-9d61-c9c0ed402735/analyzeResults/c30e06b8-956c-44a9-963f-9b5098dbba83",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "status": "running",
        "createdDateTime": "2021-03-23T00:59:27Z",
        "lastUpdatedDateTime": "2021-03-23T00:59:28Z",
        "analyzeResult": null
      }
    },
[...]
    {
      "RequestUri": "https://camaiaor-formrec-eastus.cognitiveservices.azure.com/formrecognizer/v2.1-preview.3/custom/models/c7b97e6f-1431-44c6-9d61-c9c0ed402735/analyzeResults/c30e06b8-956c-44a9-963f-9b5098dbba83",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "status": "succeeded",
        "createdDateTime": "2021-03-23T00:59:27Z",
        "lastUpdatedDateTime": "2021-03-23T00:59:37Z",
        "analyzeResult": {
          "version": "2.1.0",
          "readResults": [
            {
              "page": 1,
              "angle": 0,
              "width": 1700,
              "height": 2200,
              "unit": "pixel",
              "lines": [],
              "selectionMarks": null
            }
          ],
          "pageResults": [
            {
              "page": 1,
              "keyValuePairs": [
                {
                  "key": {
                    "text": "Company Phone:",
                    "boundingBox": [
                      163,
                      352,
                      361,
                      352,
                      361,
                      378,
                      163,
                      378
                    ],
                    "elements": null
                  },
                  "value": {
                    "text": "555-348-6512",
                    "boundingBox": [
                      365,
                      351,
                      525,
                      351,
                      525,
                      378,
                      365,
                      378
                    ],
                    "elements": null
                  },
                  "confidence": 1.0
                },
                {
                  "key": {
                    "text": "Website:",
                    "boundingBox": [
                      167,
                      394,
                      268,
                      394,
                      268,
                      417,
                      167,
                      417
                    ],
                    "elements": null
                  },
                  "value": {
                    "text": "[...]
