{
  "Entries": [
    {
      "RequestUri": "https://camaiaor-formrec-westcentralus.cognitiveservices.azure.com/formrecognizer/v2.0-preview/custom/models",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "source": "Sanitized",
        "useLabelFile": true
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Location": "https://camaiaor-formrec-westcentralus.cognitiveservices.azure.com/formrecognizer/v2.0-preview/custom/models/56bc0f18-0fad-4a60-8677-bae30155c87c"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://camaiaor-formrec-westcentralus.cognitiveservices.azure.com/formrecognizer/v2.0-preview/custom/models/56bc0f18-0fad-4a60-8677-bae30155c87c?includeKeys=true",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "modelInfo": {
          "modelId": "56bc0f18-0fad-4a60-8677-bae30155c87c",
          "status": "creating",
          "createdDateTime": "2020-06-17T17:53:20Z",
          "lastUpdatedDateTime": "2020-06-17T17:53:20Z"
        }
      }
    },
[...]
    {
      "RequestUri": "https://camaiaor-formrec-westcentralus.cognitiveservices.azure.com/formrecognizer/v2.0-preview/custom/models/56bc0f18-0fad-4a60-8677-bae30155c87c?includeKeys=true",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "modelInfo": {
          "modelId": "56bc0f18-0fad-4a60-8677-bae30155c87c",
          "status": "ready",
          "createdDateTime": "2020-06-17T17:53:20Z",
          "lastUpdatedDateTime": "2020-06-17T17:53:24Z"
        },
        "trainResult": {
          "averageModelAccuracy": 0.973,
          "trainingDocuments": [
            {
              "documentName": "Form_1.jpg",
              "pages": 1,
              "status": "succeeded"
            },
            {
              "documentName": "Form_2.jpg",
              "pages": 1,
              "status": "succeeded"
            },
            {
              "documentName": "Form_3.jpg",
              "pages": 1,
              "status": "succeeded"
            },
            {
              "documentName": "Form_4.jpg",
              "pages": 1,
              "status": "succeeded"
            },
            {
              "documentName": "Form_5.jpg",
              "pages": 1,
              "status": "succeeded"
            }
          ],
          "fields": [
            {
              "fieldName": "CompanyAddress",
              "accuracy": 0.8
            },
            {
              "fieldName": "CompanyName",
              "accuracy": 1.0
            },
            {
              "fieldName": "CompanyPhoneNumber",
              "accuracy": 1.0
            },
            {
              "fieldName": "DatedAs",
              "accuracy": 1.0
            },
            {
              "fieldName": "Email",
              "accuracy": 0.8
            },
            {
              "fieldName": "Merchant",
              "accuracy": 1.0
            },
            {
              "fieldName": "PhoneNumber",
              "accuracy": 1.0
            },
            {
              "fieldName": "PurchaseOrderNumber",
              "accuracy": 1.0
            },
            {
              "fieldName": "Quantity",
              "accuracy": 1.0
            },
            {
              "fieldName": "Signature",
              "accuracy": 1.0
            },
            {
              "fieldName": "Subtotal",
              "accuracy": 1.0
            },
            {
              "fieldName": "Tax",
              "accuracy": 1.0
            },
            {
              "fieldName": "Total",
              "accuracy": 1.0
            },
            {
              "fieldName": "VendorName",
              "accuracy": 1.0
            },
            {
              "fieldName": "Website",
              "accuracy": 1.0
            }
          ],
          "errors": []
        }
      }
    },
    {
      "RequestUri": "https://camaiaor-formrec-westcentralus.cognitiveservices.azure.com/formrecognizer/v2.0-preview/custom/models/copyAuthorization",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://camaiaor-formrec-westcentralus.cognitiveservices.azure.com/formrecognizer/v2.0-preview/custom/models/1c2dab1b-ce3b-4136-9301-02366e5e4a0e"
      },
      "ResponseBody": {
        "modelId": "1c2dab1b-ce3b-4136-9301-02366e5e4a0e",
        "accessToken": "Sanitized",
        "expirationDateTimeTicks": 1592502806
      }
    },
    {
      "RequestUri": "https://camaiaor-formrec-westcentralus.cognitiveservices.azure.com/formrecognizer/v2.0-preview/custom/models/56bc0f18-0fad-4a60-8677-bae30155c87c/copy",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "targetResourceId": "/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/camaiaor-rg/providers/Microsoft.CognitiveServices/accounts/camaiaor-formrec-westcentralus",
        "targetResourceRegion": "westcentralus",
        "copyAuthorization": {
          "modelId": "1c2dab1b-ce3b-4136-9301-02366e5e4a0e",
          "accessToken": "Sanitized",
          "expirationDateTimeTicks": 1592502806
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Operation-Location": "https://camaiaor-formrec-westcentralus.cognitiveservices.azure.com/formrecognizer/v2.0-preview/custom/models/56bc0f18-0fad-4a60-8677-bae30155c87c/copyresults/bc65517a-6e99-42d5-bdaf-aba4a60ac9a9"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://camaiaor-formrec-westcentralus.cognitiveservices.azure.com/formrecognizer/v2.0-preview/custom/models/56bc0f18-0fad-4a60-8677-bae30155c87c/copyResults/bc65517a-6e99-42d5-bdaf-aba4a60ac9a9",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "status": "notStarted",
        "createdDateTime": "2020-06-17T17:53:27Z",
        "lastUpdatedDateTime": "2020-06-17T17:53:27Z",
        "copyResult": {
          "modelId": "1c2dab1b-ce3b-4136-9301-02366e5e4a0e"
        }
      }
    },
[...]
    {
      "RequestUri": "https://camaiaor-formrec-westcentralus.cognitiveservices.azure.com/formrecognizer/v2.0-preview/custom/models/56bc0f18-0fad-4a60-8677-bae30155c87c",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "FORM_RECOGNIZER_API_KEY": "Sanitized",
    "FORM_RECOGNIZER_BLOB_CONTAINER_SAS_URL": "https://sanitized.blob.core.windows.net",
    "FORM_RECOGNIZER_ENDPOINT": "https://camaiaor-formrec-westcentralus.cognitiveservices.azure.com/",
    "FORM_RECOGNIZER_TARGET_RESOURCE_ID": "/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/camaiaor-rg/providers/Microsoft.CognitiveServices/accounts/camaiaor-formrec-westcentralus",
    "FORM_RECOGNIZER_TARGET_RESOURCE_REGION": "westcentralus",
    "RandomSeed": "101129628"
  }
}