{
  "Entries": [
    {
      "RequestUri": "https://mariari-canada-central.cognitiveservices.azure.com/formrecognizer/v2.1/custom/models",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "source": "Sanitized",
        "useLabelFile": true
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Location": "https://mariari-canada-central.cognitiveservices.azure.com/formrecognizer/v2.1/custom/models/37481571-b872-4df3-a643-b6de0ed8bfd9"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://mariari-canada-central.cognitiveservices.azure.com/formrecognizer/v2.1/custom/models/37481571-b872-4df3-a643-b6de0ed8bfd9?includeKeys=true",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "modelInfo": {
          "modelId": "37481571-b872-4df3-a643-b6de0ed8bfd9",
          "status": "creating",
          "createdDateTime": "2021-05-10T18:38:52Z",
          "lastUpdatedDateTime": "2021-05-10T18:38:52Z"
        }
      }
    },
[...]
    {
      "RequestUri": "https://mariari-canada-central.cognitiveservices.azure.com/formrecognizer/v2.1/custom/models/37481571-b872-4df3-a643-b6de0ed8bfd9?includeKeys=true",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "modelInfo": {
          "modelId": "37481571-b872-4df3-a643-b6de0ed8bfd9",
          "attributes": {
            "isComposed": false
          },
          "status": "ready",
          "createdDateTime": "2021-05-10T18:38:52Z",
          "lastUpdatedDateTime": "2021-05-10T18:38:56Z"
        },
        "trainResult": {
          "averageModelAccuracy": 0.96,
          "trainingDocuments": [
            {
              "documentName": "Form_1.jpg",
              "pages": 1,
              "status": "succeeded"
            },
            {
              "documentName": "Form_2.jpg",
              "pages": 1,
              "status": "succeeded"
            },
            {
              "documentName": "Form_3.jpg",
              "pages": 1,
              "status": "succeeded"
            },
            {
              "documentName": "Form_4.jpg",
              "pages": 1,
              "status": "succeeded"
            },
            {
              "documentName": "Form_5.jpg",
              "pages": 1,
              "status": "succeeded"
            }
          ],
          "fields": [
            {
              "fieldName": "CompanyAddress",
              "accuracy": 0.8
            },
            {
              "fieldName": "CompanyName",
              "accuracy": 0.995
            },
            {
              "fieldName": "CompanyPhoneNumber",
              "accuracy": 0.995
            },
            {
              "fieldName": "DatedAs",
              "accuracy": 0.995
            },
            {
              "fieldName": "Email",
              "accuracy": 0.8
            },
            {
              "fieldName": "Merchant",
              "accuracy": 0.995
            },
            {
              "fieldName": "PhoneNumber",
              "accuracy": 0.995
            },
            {
              "fieldName": "PurchaseOrderNumber",
              "accuracy": 0.995
            },
            {
              "fieldName": "Quantity",
              "accuracy": 0.995
            },
            {
              "fieldName": "Signature",
              "accuracy": 0.8
            },
            {
              "fieldName": "Subtotal",
              "accuracy": 0.995
            },
            {
              "fieldName": "Tax",
              "accuracy": 0.995
            },
            {
              "fieldName": "Total",
              "accuracy": 0.995
            },
            {
              "fieldName": "VendorName",
              "accuracy": 0.995
            },
            {
              "fieldName": "Website",
              "accuracy": 0.995
            }
          ],
          "errors": []
        }
      }
    },
    {
      "RequestUri": "https://mariari-canada-central.cognitiveservices.azure.com/formrecognizer/v2.1/custom/models/copyAuthorization",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://mariari-canada-central.cognitiveservices.azure.com/formrecognizer/v2.1/custom/models/6cbdd9c0-fa75-46e8-a072-9fd259ce8f4e"
      },
      "ResponseBody": {
        "modelId": "6cbdd9c0-fa75-46e8-a072-9fd259ce8f4e",
        "accessToken": "Sanitized",
        "expirationDateTimeTicks": 1620758336
      }
    },
    {
      "RequestUri": "https://mariari-canada-central.cognitiveservices.azure.com/formrecognizer/v2.1/custom/models/37481571-b872-4df3-a643-b6de0ed8bfd9/copy",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "targetResourceId": "/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/mariari-group/providers/Microsoft.CognitiveServices/accounts/mariari-canada-central",
        "targetResourceRegion": "canadacentral",
        "copyAuthorization": {
          "modelId": "6cbdd9c0-fa75-46e8-a072-9fd259ce8f4e",
          "accessToken": "Sanitized",
          "expirationDateTimeTicks": 1620758336
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Operation-Location": "https://mariari-canada-central.cognitiveservices.azure.com/formrecognizer/v2.1/custom/models/37481571-b872-4df3-a643-b6de0ed8bfd9/copyresults/a83dd7f0-02f5-452c-9133-253448d1e268"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://mariari-canada-central.cognitiveservices.azure.com/formrecognizer/v2.1/custom/models/37481571-b872-4df3-a643-b6de0ed8bfd9/copyResults/a83dd7f0-02f5-452c-9133-253448d1e268",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "status": "notStarted",
        "createdDateTime": "2021-05-10T18:38:56Z",
        "lastUpdatedDateTime": "2021-05-10T18:38:56Z",
        "copyResult": {
          "modelId": "6cbdd9c0-fa75-46e8-a072-9fd259ce8f4e"
        }
      }
    },
[...]
    {
      "RequestUri": "https://mariari-canada-central.cognitiveservices.azure.com/formrecognizer/v2.1/custom/models/37481571-b872-4df3-a643-b6de0ed8bfd9",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "FORM_RECOGNIZER_API_KEY": "Sanitized",
    "FORM_RECOGNIZER_BLOB_CONTAINER_SAS_URL_V2": "https://sanitized.blob.core.windows.net",
    "FORM_RECOGNIZER_ENDPOINT": "https://mariari-canada-central.cognitiveservices.azure.com/",
    "FORM_RECOGNIZER_TARGET_RESOURCE_ID": "/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/mariari-group/providers/Microsoft.CognitiveServices/accounts/mariari-canada-central",
    "FORM_RECOGNIZER_TARGET_RESOURCE_REGION": "canadacentral",
    "RandomSeed": "159884097"
  }
}