{
  "Entries": [
    {
      "RequestUri": "https://mariari-canada-central.cognitiveservices.azure.com/formrecognizer/v2.1/custom/models/00000000-0000-0000-0000-000000000000/copy",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "targetResourceId": "resourceId",
        "targetResourceRegion": "westcentralus",
        "copyAuthorization": {
          "modelId": "328c3b7d - a563 - 4ba2 - 8c2f - 2f26d664486a",
          "accessToken": "Sanitized",
          "expirationDateTimeTicks": 1591932653
        }
      },
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "1002",
          "message": "Copy request is invalid. Field \u0027TargetResourceId\u0027 must be a valid Azure Resource ID."
        }
      }
    }
  ],
  "Variables": {
    "FORM_RECOGNIZER_API_KEY": "Sanitized",
    "FORM_RECOGNIZER_ENDPOINT": "https://mariari-canada-central.cognitiveservices.azure.com/",
    "FORM_RECOGNIZER_TARGET_RESOURCE_ID": "/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/mariari-group/providers/Microsoft.CognitiveServices/accounts/mariari-canada-central",
    "FORM_RECOGNIZER_TARGET_RESOURCE_REGION": "canadacentral",
    "RandomSeed": "295461224"
  }
}