{
  "Entries": [
    {
      "RequestUri": "https://mariari-fr-westcentralus.cognitiveservices.azure.com/formrecognizer/v2.0-preview/custom/models/copyAuthorization",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://mariari-fr-westcentralus.cognitiveservices.azure.com/formrecognizer/v2.0-preview/custom/models/76ad485a-9e50-4aa8-81f1-22a2e5eaf955"
      },
      "ResponseBody": {
        "modelId": "76ad485a-9e50-4aa8-81f1-22a2e5eaf955",
        "accessToken": "Sanitized",
        "expirationDateTimeTicks": 1591933051
      }
    }
  ],
  "Variables": {
    "FORM_RECOGNIZER_API_KEY": "Sanitized",
    "FORM_RECOGNIZER_ENDPOINT": "https://mariari-fr-westcentralus.cognitiveservices.azure.com/",
    "FORM_RECOGNIZER_TARGET_RESOURCE_ID": "/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/mariari-group/providers/Microsoft.CognitiveServices/accounts/mariari-fr-westcentralus",
    "FORM_RECOGNIZER_TARGET_RESOURCE_REGION": "westcentralus",
    "RandomSeed": "825959497"
  }
}