{
  "Entries": [
    {
      "RequestUri": "https://mariari-canada-central.cognitiveservices.azure.com/formrecognizer/v2.1/custom/models/copyAuthorization",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://mariari-canada-central.cognitiveservices.azure.com/formrecognizer/v2.1/custom/models/f23d16d6-9992-47ed-ba2d-abfdffb032fe"
      },
      "ResponseBody": {
        "modelId": "f23d16d6-9992-47ed-ba2d-abfdffb032fe",
        "accessToken": "Sanitized",
        "expirationDateTimeTicks": 1620757785
      }
    }
  ],
  "Variables": {
    "FORM_RECOGNIZER_API_KEY": "Sanitized",
    "FORM_RECOGNIZER_ENDPOINT": "https://mariari-canada-central.cognitiveservices.azure.com/",
    "FORM_RECOGNIZER_TARGET_RESOURCE_ID": "/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/mariari-group/providers/Microsoft.CognitiveServices/accounts/mariari-canada-central",
    "FORM_RECOGNIZER_TARGET_RESOURCE_REGION": "canadacentral",
    "RandomSeed": "2144268147"
  }
}