{
  "Entries": [
    {
      "RequestUri": "https://mariari-westus2-formrecognizer.cognitiveservices.azure.com/formrecognizer/v2.0/custom/models",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "source": "Sanitized",
        "useLabelFile": true
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Location": "https://mariari-westus2-formrecognizer.cognitiveservices.azure.com/formrecognizer/v2.0/custom/models/0f5bb4fb-035b-4390-b391-4e8ec99f3ebf"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://mariari-westus2-formrecognizer.cognitiveservices.azure.com/formrecognizer/v2.0/custom/models/0f5bb4fb-035b-4390-b391-4e8ec99f3ebf?includeKeys=true",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "modelInfo": {
          "modelId": "0f5bb4fb-035b-4390-b391-4e8ec99f3ebf",
          "status": "creating",
          "createdDateTime": "2020-08-07T02:35:13Z",
          "lastUpdatedDateTime": "2020-08-07T02:35:13Z"
        }
      }
    },
[...]
    {
      "RequestUri": "https://mariari-westus2-formrecognizer.cognitiveservices.azure.com/formrecognizer/v2.0/custom/models/0f5bb4fb-035b-4390-b391-4e8ec99f3ebf?includeKeys=true",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "modelInfo": {
          "modelId": "0f5bb4fb-035b-4390-b391-4e8ec99f3ebf",
          "status": "ready",
          "createdDateTime": "2020-08-07T02:35:13Z",
          "lastUpdatedDateTime": "2020-08-07T02:35:21Z"
        },
        "trainResult": {
          "averageModelAccuracy": 0.973,
          "trainingDocuments": [
            {
              "documentName": "Form_1.jpg",
              "pages": 1,
              "status": "succeeded"
            },
            {
              "documentName": "Form_2.jpg",
              "pages": 1,
              "status": "succeeded"
            },
            {
              "documentName": "Form_3.jpg",
              "pages": 1,
              "status": "succeeded"
            },
            {
              "documentName": "Form_4.jpg",
              "pages": 1,
              "status": "succeeded"
            },
            {
              "documentName": "Form_5.jpg",
              "pages": 1,
              "status": "succeeded"
            }
          ],
          "fields": [
            {
              "fieldName": "CompanyAddress",
              "accuracy": 0.8
            },
            {
              "fieldName": "CompanyName",
              "accuracy": 1.0
            },
            {
              "fieldName": "CompanyPhoneNumber",
              "accuracy": 1.0
            },
            {
              "fieldName": "DatedAs",
              "accuracy": 1.0
            },
            {
              "fieldName": "Email",
              "accuracy": 0.8
            },
            {
              "fieldName": "Merchant",
              "accuracy": 1.0
            },
            {
              "fieldName": "PhoneNumber",
              "accuracy": 1.0
            },
            {
              "fieldName": "PurchaseOrderNumber",
              "accuracy": 1.0
            },
            {
              "fieldName": "Quantity",
              "accuracy": 1.0
            },
            {
              "fieldName": "Signature",
              "accuracy": 1.0
            },
            {
              "fieldName": "Subtotal",
              "accuracy": 1.0
            },
            {
              "fieldName": "Tax",
              "accuracy": 1.0
            },
            {
              "fieldName": "Total",
              "accuracy": 1.0
            },
            {
              "fieldName": "VendorName",
              "accuracy": 1.0
            },
            {
              "fieldName": "Website",
              "accuracy": 1.0
            }
          ],
          "errors": []
        }
      }
    },
    {
      "RequestUri": "https://mariari-westus2-formrecognizer.cognitiveservices.azure.com/formrecognizer/v2.0/custom/models/copyAuthorization",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://mariari-westus2-formrecognizer.cognitiveservices.azure.com/formrecognizer/v2.0/custom/models/c20f99d1-31dd-4db9-baaa-97cc063209b9"
      },
      "ResponseBody": {
        "modelId": "c20f99d1-31dd-4db9-baaa-97cc063209b9",
        "accessToken": "Sanitized",
        "expirationDateTimeTicks": 1596854122
      }
    },
    {
      "RequestUri": "https://mariari-westus2-formrecognizer.cognitiveservices.azure.com/formrecognizer/v2.0/custom/models/0f5bb4fb-035b-4390-b391-4e8ec99f3ebf/copy",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "targetResourceId": "/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/mariari-group/providers/Microsoft.CognitiveServices/accounts/mariari-westus2-formrecognizer",
        "targetResourceRegion": "westcentralus",
        "copyAuthorization": {
          "modelId": "c20f99d1-31dd-4db9-baaa-97cc063209b9",
          "accessToken": "Sanitized",
          "expirationDateTimeTicks": 1596854122
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Operation-Location": "https://mariari-westus2-formrecognizer.cognitiveservices.azure.com/formrecognizer/v2.0/custom/models/0f5bb4fb-035b-4390-b391-4e8ec99f3ebf/copyresults/849a10a3-a8fe-4cb1-949f-ef56ba73b904"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://mariari-westus2-formrecognizer.cognitiveservices.azure.com/formrecognizer/v2.0/custom/models/0f5bb4fb-035b-4390-b391-4e8ec99f3ebf/copyResults/849a10a3-a8fe-4cb1-949f-ef56ba73b904",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "status": "notStarted",
        "createdDateTime": "2020-08-07T02:35:22Z",
        "lastUpdatedDateTime": "2020-08-07T02:35:22Z",
        "copyResult": {
          "modelId": "c20f99d1-31dd-4db9-baaa-97cc063209b9"
        }
      }
    },
[...]
    {
      "RequestUri": "https://mariari-westus2-formrecognizer.cognitiveservices.azure.com/formrecognizer/v2.0/custom/models/0f5bb4fb-035b-4390-b391-4e8ec99f3ebf/copyResults/849a10a3-a8fe-4cb1-949f-ef56ba73b904",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-cs-error-code": "AuthorizationError"
      },
      "ResponseBody": {
        "status": "failed",
        "createdDateTime": "2020-08-07T02:35:58.2556926Z",
        "lastUpdatedDateTime": "2020-08-07T02:35:58.2556929Z",
        "copyResult": {
          "modelId": "c20f99d1-31dd-4db9-baaa-97cc063209b9",
          "errors": [
            {
              "code": "AuthorizationError",
              "message": "Could not retrieve authorization metadata. If this issue persists use a different target model to copy into."
            }
          ]
        }
      }
    },
    {
      "RequestUri": "https://mariari-westus2-formrecognizer.cognitiveservices.azure.com/formrecognizer/v2.0/custom/models/0f5bb4fb-035b-4390-b391-4e8ec99f3ebf",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "FORM_RECOGNIZER_API_KEY": "Sanitized",
    "FORM_RECOGNIZER_BLOB_CONTAINER_SAS_URL": "https://sanitized.blob.core.windows.net",
    "FORM_RECOGNIZER_ENDPOINT": "https://mariari-westus2-formrecognizer.cognitiveservices.azure.com/",
    "FORM_RECOGNIZER_TARGET_RESOURCE_ID": "/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/mariari-group/providers/Microsoft.CognitiveServices/accounts/mariari-westus2-formrecognizer",
    "FORM_RECOGNIZER_TARGET_RESOURCE_REGION": "westus2",
    "RandomSeed": "231433307"
  }
}