{
  "Entries": [
    {
      "RequestUri": "https://camaiaor-formrec-westcentralus.cognitiveservices.azure.com/formrecognizer/v2.1-preview.2/custom/models",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "source": "Sanitized",
        "useLabelFile": true
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Location": "https://camaiaor-formrec-westcentralus.cognitiveservices.azure.com/formrecognizer/v2.1-preview.2/custom/models/96769aa4-eb33-45e2-8536-0dc4e5ec375c"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://camaiaor-formrec-westcentralus.cognitiveservices.azure.com/formrecognizer/v2.1-preview.2/custom/models/96769aa4-eb33-45e2-8536-0dc4e5ec375c?includeKeys=true",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "modelInfo": {
          "modelId": "96769aa4-eb33-45e2-8536-0dc4e5ec375c",
          "status": "creating",
          "createdDateTime": "2020-10-30T13:24:51Z",
          "lastUpdatedDateTime": "2020-10-30T13:24:51Z"
        }
      }
    },
    {
      "RequestUri": "https://camaiaor-formrec-westcentralus.cognitiveservices.azure.com/formrecognizer/v2.1-preview.2/custom/models/96769aa4-eb33-45e2-8536-0dc4e5ec375c?includeKeys=true",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "modelInfo": {
          "modelId": "96769aa4-eb33-45e2-8536-0dc4e5ec375c",
          "attributes": {
            "isComposed": false
          },
          "status": "ready",
          "createdDateTime": "2020-10-30T13:24:51Z",
          "lastUpdatedDateTime": "2020-10-30T13:24:52Z"
        },
        "trainResult": {
          "averageModelAccuracy": 0.971,
          "trainingDocuments": [
            {
              "documentName": "multi1.pdf",
              "pages": 2,
              "status": "succeeded"
            },
            {
              "documentName": "multi2.pdf",
              "pages": 2,
              "status": "succeeded"
            },
            {
              "documentName": "multi3.pdf",
              "pages": 2,
              "status": "succeeded"
            },
            {
              "documentName": "multi4.pdf",
              "pages": 2,
              "status": "succeeded"
            },
            {
              "documentName": "multi5.pdf",
              "pages": 2,
              "status": "succeeded"
            }
          ],
          "fields": [
            {
              "fieldName": "Bronze",
              "accuracy": 1.0
            },
            {
              "fieldName": "CompanyName",
              "accuracy": 0.8
            },
            {
              "fieldName": "Contact",
              "accuracy": 1.0
            },
            {
              "fieldName": "Full",
              "accuracy": 1.0
            },
            {
              "fieldName": "Gold",
              "accuracy": 1.0
            },
            {
              "fieldName": "Half",
              "accuracy": 1.0
            },
            {
              "fieldName": "Silver",
              "accuracy": 1.0
            }
          ],
          "errors": []
        }
      }
    }
  ],
  "Variables": {
    "FORM_RECOGNIZER_API_KEY": "Sanitized",
    "FORM_RECOGNIZER_ENDPOINT": "https://camaiaor-formrec-westcentralus.cognitiveservices.azure.com/",
    "FORM_RECOGNIZER_MULTIPAGE_BLOB_CONTAINER_SAS_URL": "https://azuresdktrainingdata.blob.core.windows.net/multipage-vendor-forms?sp=rl\u0026st=2020-06-25T04:55:22Z\u0026se=2021-06-26T04:55:00Z\u0026sv=2019-10-10\u0026sr=c\u0026sig=Z25JFTIsP3tbxDjHP2CK05HxIS9uz1E%2FDaRfjeEUyaU%3D",
    "RandomSeed": "396288564"
  }
}