{
  "Entries": [
    {
      "RequestUri": "https://mariari-canada-central.cognitiveservices.azure.com/formrecognizer/v2.1/custom/models",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "source": "Sanitized",
        "useLabelFile": false
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Location": "https://mariari-canada-central.cognitiveservices.azure.com/formrecognizer/v2.1/custom/models/9c5eb7d5-8a17-4f17-9fbb-14f7ee34d446"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://mariari-canada-central.cognitiveservices.azure.com/formrecognizer/v2.1/custom/models/9c5eb7d5-8a17-4f17-9fbb-14f7ee34d446?includeKeys=true",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "modelInfo": {
          "modelId": "9c5eb7d5-8a17-4f17-9fbb-14f7ee34d446",
          "status": "creating",
          "createdDateTime": "2021-05-10T18:40:02Z",
          "lastUpdatedDateTime": "2021-05-10T18:40:02Z"
        }
      }
    },
[...]
    {
      "RequestUri": "https://mariari-canada-central.cognitiveservices.azure.com/formrecognizer/v2.1/custom/models/9c5eb7d5-8a17-4f17-9fbb-14f7ee34d446?includeKeys=true",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "modelInfo": {
          "modelId": "9c5eb7d5-8a17-4f17-9fbb-14f7ee34d446",
          "status": "ready",
          "createdDateTime": "2021-05-10T18:40:02Z",
          "lastUpdatedDateTime": "2021-05-10T18:40:24Z"
        },
        "keys": {
          "clusters": {
            "0": [
              "Contoso Ltd. Conference will be held on May 28-29, 2020 at the Elm Conference Center in",
              "Included",
              "Maple City, Massachusetts. The conference has sold out of its 1,500 tickets, with a 400 person",
              "Package",
              "Price",
              "Rates:",
              "Vendor #:",
              "Vendor Registration",
              "below, and attach a check made out to:",
              "waitlist. Vendor applications are being accepted through Feb 28, 2020. Please fill in the form"
            ],
            "1": [
              "Company Name:",
              "Contact:",
              "Preferred Package:",
              "Special Requests:",
              "Vendor #:",
              "Vendor Details:"
            ]
          }
        },
        "trainResult": {
          "trainingDocuments": [
            {
              "documentName": "multi1.pdf",
              "pages": 2,
              "errors": [],
              "status": "succeeded"
            },
            {
              "documentName": "multi2.pdf",
              "pages": 2,
              "errors": [],
              "status": "succeeded"
            },
            {
              "documentName": "multi3.pdf",
              "pages": 2,
              "errors": [],
              "status": "succeeded"
            },
            {
              "documentName": "multi4.pdf",
              "pages": 2,
              "errors": [],
              "status": "succeeded"
            },
            {
              "documentName": "multi5.pdf",
              "pages": 2,
              "errors": [],
              "status": "succeeded"
            }
          ],
          "errors": []
        }
      }
    }
  ],
  "Variables": {
    "FORM_RECOGNIZER_API_KEY": "Sanitized",
    "FORM_RECOGNIZER_ENDPOINT": "https://mariari-canada-central.cognitiveservices.azure.com/",
    "FORM_RECOGNIZER_MULTIPAGE_BLOB_CONTAINER_SAS_URL_V2": "https://sanitized.blob.core.windows.net",
    "RandomSeed": "1054296771"
  }
}