{
  "Entries": [
    {
      "RequestUri": "https://mariari-westus2-formrecognizer.cognitiveservices.azure.com/formrecognizer/v2.0/custom/models",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "source": "Sanitized",
        "sourceFilter": {
          "prefix": "invalidPrefix",
          "includeSubFolders": true
        },
        "useLabelFile": false
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Location": "https://mariari-westus2-formrecognizer.cognitiveservices.azure.com/formrecognizer/v2.0/custom/models/e54e8d47-0c59-4c6f-8e42-42075bca2625"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://mariari-westus2-formrecognizer.cognitiveservices.azure.com/formrecognizer/v2.0/custom/models/e54e8d47-0c59-4c6f-8e42-42075bca2625?includeKeys=true",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "modelInfo": {
          "modelId": "e54e8d47-0c59-4c6f-8e42-42075bca2625",
          "status": "creating",
          "createdDateTime": "2020-08-07T02:38:17Z",
          "lastUpdatedDateTime": "2020-08-07T02:38:17Z"
        }
      }
    },
    {
      "RequestUri": "https://mariari-westus2-formrecognizer.cognitiveservices.azure.com/formrecognizer/v2.0/custom/models/e54e8d47-0c59-4c6f-8e42-42075bca2625?includeKeys=true",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-cs-error-code": "2014"
      },
      "ResponseBody": {
        "modelInfo": {
          "modelId": "e54e8d47-0c59-4c6f-8e42-42075bca2625",
          "status": "invalid",
          "createdDateTime": "2020-08-07T02:38:17Z",
          "lastUpdatedDateTime": "2020-08-07T02:38:23Z"
        },
        "keys": {
          "clusters": {}
        },
        "trainResult": {
          "trainingDocuments": [],
          "errors": [
            {
              "code": "2014",
              "message": "No valid blobs found in the specified Azure blob container. Please conform to the document format/size/page/dimensions requirements."
            }
          ]
        }
      }
    }
  ],
  "Variables": {
    "FORM_RECOGNIZER_API_KEY": "Sanitized",
    "FORM_RECOGNIZER_BLOB_CONTAINER_SAS_URL": "https://sanitized.blob.core.windows.net",
    "FORM_RECOGNIZER_ENDPOINT": "https://mariari-westus2-formrecognizer.cognitiveservices.azure.com/",
    "RandomSeed": "1187131998"
  }
}