{
  "Entries": [
    {
      "RequestUri": "https://t00b5fddbfc124bd4-formrecognizer.cognitiveservices.azure.com/formrecognizer/v2.0/custom/models",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "source": "Sanitized",
        "useLabelFile": false
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Location": "https://t00b5fddbfc124bd4-formrecognizer.cognitiveservices.azure.com/formrecognizer/v2.0/custom/models/eea990b9-c015-4faa-acc7-47fa63e70403"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://t00b5fddbfc124bd4-formrecognizer.cognitiveservices.azure.com/formrecognizer/v2.0/custom/models/eea990b9-c015-4faa-acc7-47fa63e70403?includeKeys=true",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "modelInfo": {
          "modelId": "eea990b9-c015-4faa-acc7-47fa63e70403",
          "status": "creating",
          "createdDateTime": "2020-08-20T18:08:50Z",
          "lastUpdatedDateTime": "2020-08-20T18:08:50Z"
        }
      }
    },
[...]
    {
      "RequestUri": "https://t00b5fddbfc124bd4-formrecognizer.cognitiveservices.azure.com/formrecognizer/v2.0/custom/models/eea990b9-c015-4faa-acc7-47fa63e70403?includeKeys=true",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "modelInfo": {
          "modelId": "eea990b9-c015-4faa-acc7-47fa63e70403",
          "status": "ready",
          "createdDateTime": "2020-08-20T18:08:50Z",
          "lastUpdatedDateTime": "2020-08-20T18:09:01Z"
        },
        "keys": {
          "clusters": {
            "0": [
              "Contoso Ltd. Conference will be held on May 28-29, 2020 at the Elm Conference Center in",
              "Included",
              "Maple City, Massachusetts. The conference has sold out of its 1,500 tickets, with a 400 person",
              "Package",
              "Price",
              "Rates:",
              "Vendor #:",
              "Vendor Registration",
              "below, and attach a check made out to:",
              "waitlist. Vendor applications are being accepted through Feb 28, 2020. Please fill in the form"
            ],
            "1": [
              "Company Name:",
              "Contact:",
              "Preferred Package:",
              "Special Requests:",
              "Vendor #:",
              "Vendor Details:"
            ]
          }
        },
        "trainResult": {
          "trainingDocuments": [
            {
              "documentName": "multi1.pdf",
              "pages": 2,
              "errors": [],
              "status": "succeeded"
            },
            {
              "documentName": "multi2.pdf",
              "pages": 2,
              "errors": [],
              "status": "succeeded"
            },
            {
              "documentName": "multi3.pdf",
              "pages": 2,
              "errors": [],
              "status": "succeeded"
            },
            {
              "documentName": "multi4.pdf",
              "pages": 2,
              "errors": [],
              "status": "succeeded"
            },
            {
              "documentName": "multi5.pdf",
              "pages": 2,
              "errors": [],
              "status": "succeeded"
            }
          ],
          "errors": []
        }
      }
    }
  ],
  "Variables": {
    "FORM_RECOGNIZER_API_KEY": "Sanitized",
    "FORM_RECOGNIZER_ENDPOINT": "https://t00b5fddbfc124bd4-formrecognizer.cognitiveservices.azure.com",
    "FORM_RECOGNIZER_MULTIPAGE_BLOB_CONTAINER_SAS_URL": "https://azuresdktrainingdata.blob.core.windows.net/multipage-vendor-forms?sv=2015-04-05\u0026sr=c\u0026se=2020-08-20T19%3A55%3A01.0000000Z\u0026sp=rl\u0026sig=cfM9xJdnPvizn6aixlozT98jO6kTZ0hwSvdyXep8jzY%3D",
    "RandomSeed": "1904343804"
  }
}