{
  "Entries": [
    {
      "RequestUri": "https://mariari-westus2-formrecognizer.cognitiveservices.azure.com/formrecognizer/v2.1-preview.1/custom/models",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "source": "Sanitized",
        "useLabelFile": false
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Location": "https://mariari-westus2-formrecognizer.cognitiveservices.azure.com/formrecognizer/v2.1-preview.1/custom/models/132f040d-4fa8-4e4f-aab9-c3116eb2d2ec"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://mariari-westus2-formrecognizer.cognitiveservices.azure.com/formrecognizer/v2.1-preview.1/custom/models/132f040d-4fa8-4e4f-aab9-c3116eb2d2ec?includeKeys=true",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "modelInfo": {
          "modelId": "132f040d-4fa8-4e4f-aab9-c3116eb2d2ec",
          "status": "creating",
          "createdDateTime": "2020-09-09T22:20:49Z",
          "lastUpdatedDateTime": "2020-09-09T22:20:49Z"
        }
      }
    },
    {
      "RequestUri": "https://mariari-westus2-formrecognizer.cognitiveservices.azure.com/formrecognizer/v2.1-preview.1/custom/models/132f040d-4fa8-4e4f-aab9-c3116eb2d2ec?includeKeys=true",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-cs-error-code": "2001"
      },
      "ResponseBody": {
        "modelInfo": {
          "modelId": "132f040d-4fa8-4e4f-aab9-c3116eb2d2ec",
          "status": "invalid",
          "createdDateTime": "2020-09-09T22:20:49Z",
          "lastUpdatedDateTime": "2020-09-09T22:20:49Z"
        },
        "keys": {
          "clusters": {}
        },
        "trainResult": {
          "trainingDocuments": [],
          "errors": [
            {
              "code": "2001",
              "message": "Invalid path."
            }
          ]
        }
      }
    }
  ],
  "Variables": {
    "FORM_RECOGNIZER_API_KEY": "Sanitized",
    "FORM_RECOGNIZER_ENDPOINT": "https://mariari-westus2-formrecognizer.cognitiveservices.azure.com/",
    "RandomSeed": "387877828"
  }
}