{
  "Entries": [
    {
      "RequestUri": "https://mariari-westus2-formrecognizer.cognitiveservices.azure.com/formrecognizer/v2.1-preview.1/custom/models",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "source": "Sanitized",
        "useLabelFile": false
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Location": "https://mariari-westus2-formrecognizer.cognitiveservices.azure.com/formrecognizer/v2.1-preview.1/custom/models/6e2281f4-8a46-4578-a89b-47a6ba1d4b4b"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://mariari-westus2-formrecognizer.cognitiveservices.azure.com/formrecognizer/v2.1-preview.1/custom/models/6e2281f4-8a46-4578-a89b-47a6ba1d4b4b?includeKeys=true",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "modelInfo": {
          "modelId": "6e2281f4-8a46-4578-a89b-47a6ba1d4b4b",
          "status": "creating",
          "createdDateTime": "2020-09-09T22:23:51Z",
          "lastUpdatedDateTime": "2020-09-09T22:23:51Z"
        }
      }
    },
    {
      "RequestUri": "https://mariari-westus2-formrecognizer.cognitiveservices.azure.com/formrecognizer/v2.1-preview.1/custom/models/6e2281f4-8a46-4578-a89b-47a6ba1d4b4b?includeKeys=true",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-cs-error-code": "2001"
      },
      "ResponseBody": {
        "modelInfo": {
          "modelId": "6e2281f4-8a46-4578-a89b-47a6ba1d4b4b",
          "status": "invalid",
          "createdDateTime": "2020-09-09T22:23:51Z",
          "lastUpdatedDateTime": "2020-09-09T22:23:51Z"
        },
        "keys": {
          "clusters": {}
        },
        "trainResult": {
          "trainingDocuments": [],
          "errors": [
            {
              "code": "2001",
              "message": "Invalid path."
            }
          ]
        }
      }
    }
  ],
  "Variables": {
    "FORM_RECOGNIZER_API_KEY": "Sanitized",
    "FORM_RECOGNIZER_ENDPOINT": "https://mariari-westus2-formrecognizer.cognitiveservices.azure.com/",
    "RandomSeed": "41403176"
  }
}