{
  "Entries": [
    {
      "RequestUri": "https://camaiaor-formrec-westcentralus.cognitiveservices.azure.com/formrecognizer/v2.0-preview/custom/models",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "Location": "https://camaiaor-formrec-westcentralus.cognitiveservices.azure.com/formrecognizer/v2.0-preview/custom/models/75657fc8-175f-4744-9690-9c7f02e3d8a7"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://camaiaor-formrec-westcentralus.cognitiveservices.azure.com/formrecognizer/v2.0-preview/custom/models/75657fc8-175f-4744-9690-9c7f02e3d8a7?includeKeys=true",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "modelInfo": {
          "modelId": "75657fc8-175f-4744-9690-9c7f02e3d8a7",
          "status": "creating",
          "createdDateTime": "2020-06-22T08:26:05Z",
          "lastUpdatedDateTime": "2020-06-22T08:26:05Z"
        }
      }
    },
[...]
    {
      "RequestUri": "https://camaiaor-formrec-westcentralus.cognitiveservices.azure.com/formrecognizer/v2.0-preview/custom/models/75657fc8-175f-4744-9690-9c7f02e3d8a7?includeKeys=true",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "modelInfo": {
          "modelId": "75657fc8-175f-4744-9690-9c7f02e3d8a7",
          "status": "ready",
          "createdDateTime": "2020-06-22T08:26:05Z",
          "lastUpdatedDateTime": "2020-06-22T08:26:17Z"
        },
        "trainResult": {
          "averageModelAccuracy": 0.973,
          "trainingDocuments": [
            {
              "documentName": "Form_1.jpg",
              "pages": 1,
              "status": "succeeded"
            },
            {
              "documentName": "Form_2.jpg",
              "pages": 1,
              "status": "succeeded"
            },
            {
              "documentName": "Form_3.jpg",
              "pages": 1,
              "status": "succeeded"
            },
            {
              "documentName": "Form_4.jpg",
              "pages": 1,
              "status": "succeeded"
            },
            {
              "documentName": "Form_5.jpg",
              "pages": 1,
              "status": "succeeded"
            }
          ],
          "fields": [
            {
              "fieldName": "CompanyAddress",
              "accuracy": 0.8
            },
            {
              "fieldName": "CompanyName",
              "accuracy": 1.0
            },
            {
              "fieldName": "CompanyPhoneNumber",
              "accuracy": 1.0
            },
            {
              "fieldName": "DatedAs",
              "accuracy": 1.0
            },
            {
              "fieldName": "Email",
              "accuracy": 0.8
            },
            {
              "fieldName": "Merchant",
              "accuracy": 1.0
            },
            {
              "fieldName": "PhoneNumber",
              "accuracy": 1.0
            },
            {
              "fieldName": "PurchaseOrderNumber",
              "accuracy": 1.0
            },
            {
              "fieldName": "Quantity",
              "accuracy": 1.0
            },
            {
              "fieldName": "Signature",
              "accuracy": 1.0
            },
            {
              "fieldName": "Subtotal",
              "accuracy": 1.0
            },
            {
              "fieldName": "Tax",
              "accuracy": 1.0
            },
            {
              "fieldName": "Total",
              "accuracy": 1.0
            },
            {
              "fieldName": "VendorName",
              "accuracy": 1.0
            },
            {
              "fieldName": "Website",
              "accuracy": 1.0
            }
          ],
          "errors": []
        }
      }
    },
    {
      "RequestUri": "https://camaiaor-formrec-westcentralus.cognitiveservices.azure.com/formrecognizer/v2.0-preview/custom/models/copyAuthorization",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://camaiaor-formrec-westcentralus.cognitiveservices.azure.com/formrecognizer/v2.0-preview/custom/models/a3b3afe4-486b-4c31-bf06-9f136046a6f4"
      },
      "ResponseBody": {
        "modelId": "a3b3afe4-486b-4c31-bf06-9f136046a6f4",
        "accessToken": "Sanitized",
        "expirationDateTimeTicks": 1592900778
      }
    },
    {
      "RequestUri": "https://camaiaor-formrec-westcentralus.cognitiveservices.azure.com/formrecognizer/v2.0-preview/custom/models/75657fc8-175f-4744-9690-9c7f02e3d8a7/copy",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "targetResourceId": "/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/camaiaor-rg/providers/Microsoft.CognitiveServices/accounts/camaiaor-formrec-westcentralus",
        "targetResourceRegion": "eastus2",
        "copyAuthorization": {
          "modelId": "a3b3afe4-486b-4c31-bf06-9f136046a6f4",
          "accessToken": "Sanitized",
          "expirationDateTimeTicks": 1592900778
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Operation-Location": "https://camaiaor-formrec-westcentralus.cognitiveservices.azure.com/formrecognizer/v2.0-preview/custom/models/75657fc8-175f-4744-9690-9c7f02e3d8a7/copyresults/6548c8cc-a70a-40d2-a0d6-9e9ede631101"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://camaiaor-formrec-westcentralus.cognitiveservices.azure.com/formrecognizer/v2.0-preview/custom/models/75657fc8-175f-4744-9690-9c7f02e3d8a7/copyResults/6548c8cc-a70a-40d2-a0d6-9e9ede631101",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "status": "notStarted",
        "createdDateTime": "2020-06-22T08:26:19Z",
        "lastUpdatedDateTime": "2020-06-22T08:26:19Z",
        "copyResult": {
          "modelId": "a3b3afe4-486b-4c31-bf06-9f136046a6f4"
        }
      }
    },
[...]
    {
      "RequestUri": "https://camaiaor-formrec-westcentralus.cognitiveservices.azure.com/formrecognizer/v2.0-preview/custom/models/75657fc8-175f-4744-9690-9c7f02e3d8a7/copyResults/6548c8cc-a70a-40d2-a0d6-9e9ede631101",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-cs-error-code": "ResourceResolverError"
      },
      "ResponseBody": {
        "status": "failed",
        "createdDateTime": "2020-06-22T08:26:48.194171Z",
        "lastUpdatedDateTime": "2020-06-22T08:26:48.1941714Z",
        "copyResult": {
          "modelId": "a3b3afe4-486b-4c31-bf06-9f136046a6f4",
          "errors": [
            {
              "code": "ResourceResolverError",
              "message": "Could not fetch information for Cognitive resource with Id \u0027/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/camaiaor-rg/providers/Microsoft.CognitiveServices/accounts/camaiaor-formrec-westcentralus\u0027. Ensure the resource is valid and exists in the specified region \u0027eastus2\u0027.."
            }
          ]
        }
      }
    },
    {
      "RequestUri": "https://camaiaor-formrec-westcentralus.cognitiveservices.azure.com/formrecognizer/v2.0-preview/custom/models/75657fc8-175f-4744-9690-9c7f02e3d8a7",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "FORM_RECOGNIZER_API_KEY": "Sanitized",
    "FORM_RECOGNIZER_BLOB_CONTAINER_SAS_URL": "https://sanitized.blob.core.windows.net",
    "FORM_RECOGNIZER_ENDPOINT": "https://camaiaor-formrec-westcentralus.cognitiveservices.azure.com/",
    "FORM_RECOGNIZER_TARGET_RESOURCE_ID": "/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/camaiaor-rg/providers/Microsoft.CognitiveServices/accounts/camaiaor-formrec-westcentralus",
    "FORM_RECOGNIZER_TARGET_RESOURCE_REGION": "westcentralus",
    "RandomSeed": "1651066885"
  }
}