{
  "Entries": [
    {
      "RequestUri": "https://camaior-formrec.cognitiveservices.azure.com/formrecognizer/v2.0-preview/custom/models",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "Location": "https://camaior-formrec.cognitiveservices.azure.com/formrecognizer/v2.0-preview/custom/models/876ba309-8bc1-4cc1-adde-6a156a84cc9f"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://camaior-formrec.cognitiveservices.azure.com/formrecognizer/v2.0-preview/custom/models/876ba309-8bc1-4cc1-adde-6a156a84cc9f?includeKeys=true",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "modelInfo": {
          "modelId": "876ba309-8bc1-4cc1-adde-6a156a84cc9f",
          "status": "creating",
          "createdDateTime": "2020-04-29T19:37:39Z",
          "lastUpdatedDateTime": "2020-04-29T19:37:39Z"
        }
      }
    },
[...]
    {
      "RequestUri": "https://camaior-formrec.cognitiveservices.azure.com/formrecognizer/v2.0-preview/custom/models/876ba309-8bc1-4cc1-adde-6a156a84cc9f?includeKeys=true",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "modelInfo": {
          "modelId": "876ba309-8bc1-4cc1-adde-6a156a84cc9f",
          "status": "ready",
          "createdDateTime": "2020-04-29T19:37:39Z",
          "lastUpdatedDateTime": "2020-04-29T19:38:42Z"
        },
        "trainResult": {
          "averageModelAccuracy": 0.973,
          "trainingDocuments": [
            {
              "documentName": "Form_1.jpg",
              "pages": 1,
              "status": "succeeded"
            },
            {
              "documentName": "Form_2.jpg",
              "pages": 1,
              "status": "succeeded"
            },
            {
              "documentName": "Form_3.jpg",
              "pages": 1,
              "status": "succeeded"
            },
            {
              "documentName": "Form_4.jpg",
              "pages": 1,
              "status": "succeeded"
            },
            {
              "documentName": "Form_5.jpg",
              "pages": 1,
              "status": "succeeded"
            }
          ],
          "fields": [
            {
              "fieldName": "CompanyAddress",
              "accuracy": 0.8
            },
            {
              "fieldName": "CompanyName",
              "accuracy": 1.0
            },
            {
              "fieldName": "CompanyPhoneNumber",
              "accuracy": 1.0
            },
            {
              "fieldName": "DatedAs",
              "accuracy": 1.0
            },
            {
              "fieldName": "Email",
              "accuracy": 0.8
            },
            {
              "fieldName": "Merchant",
              "accuracy": 1.0
            },
            {
              "fieldName": "PhoneNumber",
              "accuracy": 1.0
            },
            {
              "fieldName": "PurchaseOrderNumber",
              "accuracy": 1.0
            },
            {
              "fieldName": "Quantity",
              "accuracy": 1.0
            },
            {
              "fieldName": "Signature",
              "accuracy": 1.0
            },
            {
              "fieldName": "Subtotal",
              "accuracy": 1.0
            },
            {
              "fieldName": "Tax",
              "accuracy": 1.0
            },
            {
              "fieldName": "Total",
              "accuracy": 1.0
            },
            {
              "fieldName": "VendorName",
              "accuracy": 1.0
            },
            {
              "fieldName": "Website",
              "accuracy": 1.0
            }
          ],
          "errors": []
        }
      }
    }
  ],
  "Variables": {
    "FORM_RECOGNIZER_API_KEY": "Sanitized",
    "FORM_RECOGNIZER_BLOB_CONTAINER_SAS_URL": "https://sanitized.blob.core.windows.net",
    "FORM_RECOGNIZER_ENDPOINT": "https://camaior-formrec.cognitiveservices.azure.com/",
    "RandomSeed": "743963527"
  }
}