{
  "Entries": [
    {
      "RequestUri": "https://mariari-westus2-formrecognizer.cognitiveservices.azure.com/formrecognizer/v2.1-preview.1/custom/models",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "source": "Sanitized",
        "useLabelFile": true
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Location": "https://mariari-westus2-formrecognizer.cognitiveservices.azure.com/formrecognizer/v2.1-preview.1/custom/models/48d09b9c-b65c-491e-8913-2c0636ad7a0d"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://mariari-westus2-formrecognizer.cognitiveservices.azure.com/formrecognizer/v2.1-preview.1/custom/models/48d09b9c-b65c-491e-8913-2c0636ad7a0d?includeKeys=true",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "modelInfo": {
          "modelId": "48d09b9c-b65c-491e-8913-2c0636ad7a0d",
          "status": "creating",
          "createdDateTime": "2020-09-09T22:22:06Z",
          "lastUpdatedDateTime": "2020-09-09T22:22:06Z"
        }
      }
    },
[...]
    {
      "RequestUri": "https://mariari-westus2-formrecognizer.cognitiveservices.azure.com/formrecognizer/v2.1-preview.1/custom/models/48d09b9c-b65c-491e-8913-2c0636ad7a0d?includeKeys=true",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "modelInfo": {
          "modelId": "48d09b9c-b65c-491e-8913-2c0636ad7a0d",
          "attributes": {
            "isComposed": false
          },
          "status": "ready",
          "createdDateTime": "2020-09-09T22:22:06Z",
          "lastUpdatedDateTime": "2020-09-09T22:22:07Z"
        },
        "trainResult": {
          "averageModelAccuracy": 0.96,
          "trainingDocuments": [
            {
              "documentName": "Form_1.jpg",
              "pages": 1,
              "status": "succeeded"
            },
            {
              "documentName": "Form_2.jpg",
              "pages": 1,
              "status": "succeeded"
            },
            {
              "documentName": "Form_3.jpg",
              "pages": 1,
              "status": "succeeded"
            },
            {
              "documentName": "Form_4.jpg",
              "pages": 1,
              "status": "succeeded"
            },
            {
              "documentName": "Form_5.jpg",
              "pages": 1,
              "status": "succeeded"
            }
          ],
          "fields": [
            {
              "fieldName": "CompanyAddress",
              "accuracy": 0.8
            },
            {
              "fieldName": "CompanyName",
              "accuracy": 1.0
            },
            {
              "fieldName": "CompanyPhoneNumber",
              "accuracy": 1.0
            },
            {
              "fieldName": "DatedAs",
              "accuracy": 1.0
            },
            {
              "fieldName": "Email",
              "accuracy": 0.8
            },
            {
              "fieldName": "Merchant",
              "accuracy": 1.0
            },
            {
              "fieldName": "PhoneNumber",
              "accuracy": 1.0
            },
            {
              "fieldName": "PurchaseOrderNumber",
              "accuracy": 1.0
            },
            {
              "fieldName": "Quantity",
              "accuracy": 1.0
            },
            {
              "fieldName": "Signature",
              "accuracy": 0.8
            },
            {
              "fieldName": "Subtotal",
              "accuracy": 1.0
            },
            {
              "fieldName": "Tax",
              "accuracy": 1.0
            },
            {
              "fieldName": "Total",
              "accuracy": 1.0
            },
            {
              "fieldName": "VendorName",
              "accuracy": 1.0
            },
            {
              "fieldName": "Website",
              "accuracy": 1.0
            }
          ],
          "errors": []
        }
      }
    },
[...]
    {
      "RequestUri": "https://mariari-westus2-formrecognizer.cognitiveservices.azure.com/formrecognizer/v2.1-preview.1/custom/models?op=full",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "modelList": [
          {
            "modelId": "00865e07-158d-471e-9426-01be75f859e0",
            "status": "ready",
            "createdDateTime": "2020-08-26T17:32:48Z",
            "lastUpdatedDateTime": "2020-08-26T17:33:00Z"
          },
          {
            "modelId": "020b8b8c-c2f6-491b-b01a-ff5993467086",
            "status": "ready",
            "createdDateTime": "2020-09-09T22:20:27Z",
            "lastUpdatedDateTime": "2020-09-09T22:20:40Z"
          },
          {
            "modelId"[...]
    {
      "RequestUri": "https://mariari-westus2-formrecognizer.cognitiveservices.azure.com/formrecognizer/v2.1-preview.1/custom/models?nextLink=2!232!MDAwMTMwIXN1YnNjcmlwdGlvbnMvMDJkNTNjMjExN2M4NGQzZjhlMDRkMDZlOWJhMGEwYzUvbW9kZWxzLzQ4ZDA5YjljLWI2NWMtNDkxZS04OTEzLTJjMDYzNmFkN2EwZC80OGQwOWI5Yy1iNjVjLTQ5MWUtODkxMy0yYzA2MzZhZDdhMGQuZ3ohMDAwMDI4ITk5OTktMTItMzFUMjM6NTk6NTkuOTk5OTk5OVoh",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      }[...]
    {
      "RequestUri": "https://mariari-westus2-formrecognizer.cognitiveservices.azure.com/formrecognizer/v2.1-preview.1/custom/models?nextLink=2!212!MDAwMTEzIXN1YnNjcmlwdGlvbnMvMDJkNTNjMjExN2M4NGQzZjhlMDRkMDZlOWJhMGEwYzUvbW9kZWxzLzk0OGE4NmEzLTRlY2QtNDUzYS05YTkzLWQwZWM0ZDQzMWE0Ni9jb3B5QXV0aG9yaXphdGlvbi5qc29uITAwMDAyOCE5OTk5LTEyLTMxVDIzOjU5OjU5Ljk5OTk5OTlaIQ--",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody[...]
    {
      "RequestUri": "https://mariari-westus2-formrecognizer.cognitiveservices.azure.com/formrecognizer/v2.1-preview.1/custom/models?nextLink=2!236!MDAwMTMyIXN1YnNjcmlwdGlvbnMvMDJkNTNjMjExN2M4NGQzZjhlMDRkMDZlOWJhMGEwYzUvbW9kZWxzL2MzNDVkNTM3LWRiOGEtNDJlOS04ZWQxLWExZmYzZmFjNjJiMC9jMzQ1ZDUzNy1kYjhhLTQyZTktOGVkMS1hMWZmM2ZhYzYyYjAuanNvbiEwMDAwMjghOTk5OS0xMi0zMVQyMzo1OTo1OS45OTk5OTk5WiE-",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
   [...]
    {
      "RequestUri": "https://mariari-westus2-formrecognizer.cognitiveservices.azure.com/formrecognizer/v2.1-preview.1/custom/models?nextLink=2!236!MDAwMTMyIXN1YnNjcmlwdGlvbnMvMDJkNTNjMjExN2M4NGQzZjhlMDRkMDZlOWJhMGEwYzUvbW9kZWxzL2ZhMWY2NWMyLTBiMjctNDA2MS04OTI4LTYxYjZkMDY1OWQxOC9mYTFmNjVjMi0wYjI3LTQwNjEtODkyOC02MWI2ZDA2NTlkMTguanNvbiEwMDAwMjghOTk5OS0xMi0zMVQyMzo1OTo1OS45OTk5OTk5WiE-",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "modelList": [
          {
            "modelId": "fa1f65c2-0b27-4061-8928-61b6d0659d18",
            "status": "ready",
            "createdDateTime": "2020-08-26T17:51:36Z",
            "lastUpdatedDateTime": "2020-08-26T17:51:48Z"
          },
          {
            "modelId": "fd4189a4-0770-41b7-a564-3458a22681ae",
            "status": "ready",
            "createdDateTime": "2020-08-26T17:34:57Z",
            "lastUpdatedDateTime": "2020-08-26T17:35:10Z"
          },
          {
            "modelId": "fffcab2a-f5f1-490f-94a1-a52c4c65a3e4",
            "status": "ready",
            "createdDateTime": "2020-09-09T22:21:23Z",
            "lastUpdatedDateTime": "2020-09-09T22:22:04Z"
          }
        ],
        "nextLink": ""
      }
    },
    {
      "RequestUri": "https://mariari-westus2-formrecognizer.cognitiveservices.azure.com/formrecognizer/v2.1-preview.1/custom/models?op=summary",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "summary": {
          "count": 137,
          "limit": 5000,
          "lastUpdatedDateTime": "2020-09-09T22:22:16Z"
        }
      }
    },
    {
      "RequestUri": "https://mariari-westus2-formrecognizer.cognitiveservices.azure.com/formrecognizer/v2.1-preview.1/custom/models/48d09b9c-b65c-491e-8913-2c0636ad7a0d",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://mariari-westus2-formrecognizer.cognitiveservices.azure.com/formrecognizer/v2.1-preview.1/custom/models/48d09b9c-b65c-491e-8913-2c0636ad7a0d?includeKeys=true",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "1022",
          "message": "Model with \u0027id=48d09b9c-b65c-491e-8913-2c0636ad7a0d\u0027 not found."
        }
      }
    }
  ],
  "Variables": {
    "FORM_RECOGNIZER_API_KEY": "Sanitized",
    "FORM_RECOGNIZER_BLOB_CONTAINER_SAS_URL": "https://sanitized.blob.core.windows.net",
    "FORM_RECOGNIZER_ENDPOINT": "https://mariari-westus2-formrecognizer.cognitiveservices.azure.com/",
    "RandomSeed": "1936916989"
  }
}