{
  "Entries": [
    {
      "RequestUri": "/personalizer/v1.0/default/evaluations",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"enableOfflineExperimentation\": true,\r\n  \"name\": \"myFirstEvaluation\",\r\n  \"startTime\": \"2018-12-19T00:00:00Z\",\r\n  \"endTime\": \"2019-01-19T00:00:00Z\",\r\n  \"policies\": [\r\n    {\r\n      \"name\": \"Custom Policy 1\",\r\n      \"arguments\": \"--cb_explore_adf --epsilon 0.2 --dsjson --cb_type ips -l 0.5 --l1 1E-07 --power_t 0.5\"\r\n    }\r\n  ]\r\n}",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": [
          "000"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"14b34670-826a-42e2-80f4-a7e4d6056435\",\r\n  \"name\": \"myFirstEvaluation\",\r\n  \"startTime\": \"2018-12-19T00:00:00Z\",\r\n  \"endTime\": \"2019-01-19T00:00:00Z\",\r\n  \"jobId\": \"14b34670-826a-42e2-80f4-a7e4d6056435\",\r\n  \"status\": \"pending\",\r\n  \"policyResults\": [\r\n    {\r\n      \"name\": \"Custom Policy 1\",\r\n      \"arguments\": \"--cb_explore_adf --epsilon 0.2 --dsjson --cb_type ips -l 0.5 --l1 1E-07 --power_t 0.5\"\r\n    }\r\n  ]\r\n}",
      "StatusCode": 201
    }
  ],
  "Names": {},
  "Variables": {}
}