{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/7c4785eb-d3cf-4349-b811-8d756312d1ff?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11812"
      },
      "ResponseBody": {
        "id": "/subscriptions/7c4785eb-d3cf-4349-b811-8d756312d1ff",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "DDFunMDCTag": "Public"
        },
        "subscriptionId": "7c4785eb-d3cf-4349-b811-8d756312d1ff",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": "CacheTeam - AJ Tiwari",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/7c4785eb-d3cf-4349-b811-8d756312d1ff/resourcegroups/testRG-1388?api-version=**",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {
          "test": "env"
        },
        "location": "eastus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1187"
      },
      "ResponseBody": {
        "id": "/subscriptions/7c4785eb-d3cf-4349-b811-8d756312d1ff/resourceGroups/testRG-1388",
        "name": "testRG-1388",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus",
        "tags": {
          "test": "env"
        },
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/7c4785eb-d3cf-4349-b811-8d756312d1ff/resourceGroups/testRG-1388/providers/Microsoft.Cache/redis/RedisSchedules8425?api-version=2023-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus",
        "properties": {
          "sku": {
            "name": "Premium",
            "family": "P",
            "capacity": 1
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/7c4785eb-d3cf-4349-b811-8d756312d1ff/providers/Microsoft.Cache/locations/East%20US/asyncOperations/92eb4a80-5c6a-4b60-92dd-898decb7c4c3?api-version=2023-04-01",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/7c4785eb-d3cf-4349-b811-8d756312d1ff/resourceGroups/testRG-1388/providers/Microsoft.Cache/redis/RedisSchedules8425?api-version=2023-04-01",
        "x-ms-ratelimit-remaining-subscription-writes": "1186",
        "x-rp-server-mvid": "7bfbfeec-1fa5-40de-80e4-255dbbd614d8"
      },
      "ResponseBody": {
        "id": "/subscriptions/7c4785eb-d3cf-4349-b811-8d756312d1ff/resourceGroups/testRG-1388/providers/Microsoft.Cache/Redis/RedisSchedules8425",
        "location": "East US",
        "name": "RedisSchedules8425",
        "type": "Microsoft.Cache/Redis",
        "tags": {},
        "properties": {
          "provisioningState": "Creating",
          "redisVersion": "6.0",
          "sku": {
            "name": "Premium",
            "family": "P",
            "capacity": 1
          },
          "enableNonSslPort": false,
          "instances": [
            {
              "sslPort": 15000,
              "isMaster": false,
              "isPrimary": false
            },
            {
              "sslPort": 15001,
              "isMaster": false,
              "isPrimary": false
            }
          ],
          "publicNetworkAccess": "Enabled",
          "redisConfiguration": {
            "maxclients": "7500",
            "maxmemory-reserved": "642",
            "maxfragmentationmemory-reserved": "642",
            "maxmemory-delta": "642"
          },
          "accessKeys": {
            "primaryKey": "Sanitized",
            "secondaryKey": "Sanitized"
          },
          "hostName": "RedisSchedules8425.redis.cache.windows.net",
          "port": 6379,
          "sslPort": 6380,
          "linkedServers": []
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/7c4785eb-d3cf-4349-b811-8d756312d1ff/providers/Microsoft.Cache/locations/East%20US/asyncOperations/92eb4a80-5c6a-4b60-92dd-898decb7c4c3?api-version=2023-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/7c4785eb-d3cf-4349-b811-8d756312d1ff/providers/Microsoft.Cache/locations/East%20US/asyncOperations/92eb4a80-5c6a-4b60-92dd-898decb7c4c3?api-version=2023-04-01",
        "Content-Type": "application/json",
        "x-ms-ratelimit-remaining-subscription-reads": "11811",
        "x-rp-server-mvid": "7bfbfeec-1fa5-40de-80e4-255dbbd614d8"
      },
      "ResponseBody": {
        "id": "/subscriptions/7c4785eb-d3cf-4349-b811-8d756312d1ff/providers/Microsoft.Cache/locations/East US/asyncOperations/92eb4a80-5c6a-4b60-92dd-898decb7c4c3",
        "name": "92eb4a80-5c6a-4b60-92dd-898decb7c4c3",
        "status": "InProgress",
        "startTime": null,
        "endTime": null,
        "percentComplete": null,
        "properties": null,
        "error": null
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/7c4785eb-d3cf-4349-b811-8d756312d1ff/resourceGroups/testRG-1388/providers/Microsoft.Cache/redis/RedisSchedules8425/forceReboot?api-version=2023-04-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "rebootType": "AllNodes"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1195",
        "x-rp-server-mvid": "7bfbfeec-1fa5-40de-80e4-255dbbd614d8"
      },
      "ResponseBody": {
        "message": "The requested reboot operation for \u0027Value\u0027 has been successfully scheduled and should be executed shortly."
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "RandomSeed": "531319967",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "7c4785eb-d3cf-4349-b811-8d756312d1ff"
  }
}
