{
  "Entries": [
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/distributionPolicies/01AA322CFB4BDF1F70F25EA3949795D333169E3CD22559755A?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 25 May 2023 19:59:40 GMT"
      },
      "RequestBody": {
        "name": "LongestIdleDistributionPolicy01AA322CFB4BDF1F70F25EA3949795D333169E3CD22559755A",
        "offerTtlSeconds": 30,
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002200006e46-0000-0700-0000-646fbe2c0000\u0022",
        "Last-Modified": "Thu, 25 May 2023 19:59:40 GMT",
        "trace-id": "1f0cf7b2-3da2-900a-7e35-0ad16295cfbf"
      },
      "ResponseBody": {
        "id": "01AA322CFB4BDF1F70F25EA3949795D333169E3CD22559755A",
        "name": "LongestIdleDistributionPolicy01AA322CFB4BDF1F70F25EA3949795D333169E3CD22559755A",
        "offerTtlSeconds": 30,
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        }
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/queues/01AA322CFB4BDF1F70F25EA3949795D333169E3CD22559755A?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 25 May 2023 19:59:40 GMT"
      },
      "RequestBody": {
        "name": "DefaultQueueWithLabels01AA322CFB4BDF1F70F25EA3949795D333169E3CD22559755A",
        "distributionPolicyId": "01AA322CFB4BDF1F70F25EA3949795D333169E3CD22559755A",
        "labels": {
          "Label_1": "Value_1"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00220c00c9de-0000-0700-0000-646fbe2c0000\u0022",
        "Last-Modified": "Thu, 25 May 2023 19:59:40 GMT",
        "trace-id": "8b3e1bb3-f162-5ee2-b00c-fa64a76b59a8"
      },
      "ResponseBody": {
        "id": "01AA322CFB4BDF1F70F25EA3949795D333169E3CD22559755A",
        "name": "DefaultQueueWithLabels01AA322CFB4BDF1F70F25EA3949795D333169E3CD22559755A",
        "distributionPolicyId": "01AA322CFB4BDF1F70F25EA3949795D333169E3CD22559755A",
        "labels": {
          "Label_1": "Value_1",
          "Id": "01AA322CFB4BDF1F70F25EA3949795D333169E3CD22559755A"
        }
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/queues/01AA322CFB4BDF1F70F25EA3949795D333169E3CD22559755A?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 25 May 2023 19:59:40 GMT"
      },
      "RequestBody": {
        "Name": null
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00220c00cade-0000-0700-0000-646fbe2c0000\u0022",
        "Last-Modified": "Thu, 25 May 2023 19:59:40 GMT",
        "trace-id": "f74015a0-209b-de88-fe97-ec8188172499"
      },
      "ResponseBody": {
        "id": "01AA322CFB4BDF1F70F25EA3949795D333169E3CD22559755A",
        "distributionPolicyId": "01AA322CFB4BDF1F70F25EA3949795D333169E3CD22559755A",
        "labels": {
          "Label_1": "Value_1",
          "Id": "01AA322CFB4BDF1F70F25EA3949795D333169E3CD22559755A"
        }
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/queues/01AA322CFB4BDF1F70F25EA3949795D333169E3CD22559755A?api-version=2022-07-18-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 25 May 2023 19:59:40 GMT"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "trace-id": "8331a946-19fc-a890-c7fd-04e6c85725f5"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://sanitized.communication.azure.com/;accesskey=Kg==",
    "id-prefix": "sdk--LzTIaAUGkGie_RZmZE61Q-",
    "RandomSeed": "1418881058"
  }
}
