{
  "Entries": [
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/distributionPolicies/E773E943F5F115E43F035F8467EBEA561B79283CCFCD5AF963?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 26 May 2023 21:34:32 GMT"
      },
      "RequestBody": {
        "name": "LongestIdleDistributionPolicyE773E943F5F115E43F035F8467EBEA561B79283CCFCD5AF963",
        "offerTtlSeconds": 30,
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002200003d62-0000-0700-0000-647125e80000\u0022",
        "Last-Modified": "Fri, 26 May 2023 21:34:32 GMT",
        "trace-id": "a2e3f819-c0cb-7fb0-19fc-a7c4014d9dbe"
      },
      "ResponseBody": {
        "id": "E773E943F5F115E43F035F8467EBEA561B79283CCFCD5AF963",
        "name": "LongestIdleDistributionPolicyE773E943F5F115E43F035F8467EBEA561B79283CCFCD5AF963",
        "offerTtlSeconds": 30,
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        }
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/queues/E773E943F5F115E43F035F8467EBEA561B79283CCFCD5AF963?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 26 May 2023 21:34:32 GMT"
      },
      "RequestBody": {
        "name": "DefaultQueueWithLabelsE773E943F5F115E43F035F8467EBEA561B79283CCFCD5AF963",
        "distributionPolicyId": "E773E943F5F115E43F035F8467EBEA561B79283CCFCD5AF963",
        "labels": {
          "Label_1": "Value_1"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00221600ba39-0000-0700-0000-647125e80000\u0022",
        "Last-Modified": "Fri, 26 May 2023 21:34:32 GMT",
        "trace-id": "13d708bd-0f82-d7b3-2681-92e912cf0e54"
      },
      "ResponseBody": {
        "id": "E773E943F5F115E43F035F8467EBEA561B79283CCFCD5AF963",
        "name": "DefaultQueueWithLabelsE773E943F5F115E43F035F8467EBEA561B79283CCFCD5AF963",
        "distributionPolicyId": "E773E943F5F115E43F035F8467EBEA561B79283CCFCD5AF963",
        "labels": {
          "Label_1": "Value_1",
          "Id": "E773E943F5F115E43F035F8467EBEA561B79283CCFCD5AF963"
        }
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/queues/E773E943F5F115E43F035F8467EBEA561B79283CCFCD5AF963?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 26 May 2023 21:34:32 GMT"
      },
      "RequestBody": {
        "Name": null
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00221600bb39-0000-0700-0000-647125e80000\u0022",
        "Last-Modified": "Fri, 26 May 2023 21:34:32 GMT",
        "trace-id": "a1bb9704-e5a6-3ff2-2de0-e7e7416496a0"
      },
      "ResponseBody": {
        "id": "E773E943F5F115E43F035F8467EBEA561B79283CCFCD5AF963",
        "distributionPolicyId": "E773E943F5F115E43F035F8467EBEA561B79283CCFCD5AF963",
        "labels": {
          "Label_1": "Value_1",
          "Id": "E773E943F5F115E43F035F8467EBEA561B79283CCFCD5AF963"
        }
      }
    },
[...]
    {
      "RequestUri": "https://rsarkar-ppe-test.ppe.communication.azure.net/routing/queues/E773E943F5F115E43F035F8467EBEA561B79283CCFCD5AF963?api-version=2022-07-18-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "HMAC-SHA256 SignedHeaders=x-ms-date;host;x-ms-content-sha256\u0026Signature=bGbm5\u002BJnSOo\u002BPf/xxpBLGQzHVQDPkl1\u002BnM4RIH\u002BpQdA=",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002B/TImW\u002B5JCeuQeRkm5NMpJWZG3hSuFU=",
        "x-ms-date": "Fri, 26 May 2023 21:34:32 GMT"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "trace-id": "df00a9c2-80e7-8941-cda5-09af63f8183f"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://sanitized.communication.azure.com/;accesskey=Kg==",
    "id-prefix": "sdk-Qu2U_gN4uUiopfbKFK3lbA-",
    "RandomSeed": "329175635"
  }
}
