{
  "Entries": [
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/distributionPolicies/5E1AF4429A476CA44325700755B75BCD186664A8E09E208BC1?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 25 Jul 2023 15:15:19 GMT"
      },
      "RequestBody": {
        "name": "LongestIdleDistributionPolicy5E1AF4429A476CA44325700755B75BCD186664A8E09E208BC1",
        "offerExpiresAfterSeconds": 30,
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00220200edfb-0000-0700-0000-64bfe7070000\u0022",
        "Last-Modified": "Tue, 25 Jul 2023 15:15:19 GMT",
        "trace-id": "8d27ef22-2d23-69f3-2817-cba4c7e695f4"
      },
      "ResponseBody": {
        "id": "5E1AF4429A476CA44325700755B75BCD186664A8E09E208BC1",
        "name": "LongestIdleDistributionPolicy5E1AF4429A476CA44325700755B75BCD186664A8E09E208BC1",
        "offerExpiresAfterSeconds": 30,
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        }
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/queues/5E1AF4429A476CA44325700755B75BCD186664A8E09E208BC1?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 25 Jul 2023 15:15:20 GMT"
      },
      "RequestBody": {
        "name": "DefaultQueueWithLabels5E1AF4429A476CA44325700755B75BCD186664A8E09E208BC1",
        "distributionPolicyId": "5E1AF4429A476CA44325700755B75BCD186664A8E09E208BC1",
        "labels": {
          "Label_1": "Value_1"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002202007d2f-0000-0700-0000-64bfe7070000\u0022",
        "Last-Modified": "Tue, 25 Jul 2023 15:15:19 GMT",
        "trace-id": "cedafbb4-2efe-ea11-3c66-26ebc22a39ff"
      },
      "ResponseBody": {
        "id": "5E1AF4429A476CA44325700755B75BCD186664A8E09E208BC1",
        "name": "DefaultQueueWithLabels5E1AF4429A476CA44325700755B75BCD186664A8E09E208BC1",
        "distributionPolicyId": "5E1AF4429A476CA44325700755B75BCD186664A8E09E208BC1",
        "labels": {
          "Label_1": "Value_1",
          "Id": "5E1AF4429A476CA44325700755B75BCD186664A8E09E208BC1"
        }
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/queues/5E1AF4429A476CA44325700755B75BCD186664A8E09E208BC1?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 25 Jul 2023 15:15:20 GMT"
      },
      "RequestBody": {
        "Name": null
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002202007e2f-0000-0700-0000-64bfe7080000\u0022",
        "Last-Modified": "Tue, 25 Jul 2023 15:15:20 GMT",
        "trace-id": "cf42ffd1-0fc2-4951-f24d-11c5cea51f24"
      },
      "ResponseBody": {
        "id": "5E1AF4429A476CA44325700755B75BCD186664A8E09E208BC1",
        "distributionPolicyId": "5E1AF4429A476CA44325700755B75BCD186664A8E09E208BC1",
        "labels": {
          "Label_1": "Value_1",
          "Id": "5E1AF4429A476CA44325700755B75BCD186664A8E09E208BC1"
        }
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/queues/5E1AF4429A476CA44325700755B75BCD186664A8E09E208BC1?api-version=2022-07-18-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 25 Jul 2023 15:15:20 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002202007e2f-0000-0700-0000-64bfe7080000\u0022",
        "Last-Modified": "Tue, 25 Jul 2023 15:15:20 GMT",
        "trace-id": "94814633-378a-d5bc-1e15-6bd7f0f24e29"
      },
      "ResponseBody": {
        "id": "5E1AF4429A476CA44325700755B75BCD186664A8E09E208BC1",
        "distributionPolicyId": "5E1AF4429A476CA44325700755B75BCD186664A8E09E208BC1",
        "labels": {
          "Label_1": "Value_1",
          "Id": "5E1AF4429A476CA44325700755B75BCD186664A8E09E208BC1"
        }
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://sanitized.communication.azure.com/;accesskey=Kg==",
    "id-prefix": "sdk-aePcic5FH0ytTXcx2YMDQw-",
    "RandomSeed": "1007409602"
  }
}
