{
  "Entries": [
    {
      "RequestUri": "https://rsarkar-sdktest.int.communication.azure.net/routing/distributionPolicies/54-BA-D2-47-E5-A7-BF-04-DB-B0-99-A1-02-B9-E9-AB-6C?api-version=2021-10-20-preview2",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 15 Jun 2022 17:38:53 GMT"
      },
      "RequestBody": {
        "name": "LongestIdleDistributionPolicy54-BA-D2-47-E5-A7-BF-04-DB-B0-99-A1-02-B9-E9-AB-6C",
        "offerTtlSeconds": 30,
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2021-10-20-preview2",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002292028ae0-0000-0700-0000-62aa192f0000\u0022",
        "Last-Modified": "Wed, 15 Jun 2022 17:38:55 GMT",
        "trace-id": "ae4641d4b7774c429d1b54c93fbe7b65"
      },
      "ResponseBody": {
        "id": "54-BA-D2-47-E5-A7-BF-04-DB-B0-99-A1-02-B9-E9-AB-6C",
        "name": "LongestIdleDistributionPolicy54-BA-D2-47-E5-A7-BF-04-DB-B0-99-A1-02-B9-E9-AB-6C",
        "offerTtlSeconds": 30,
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        }
      }
    },
    {
      "RequestUri": "https://rsarkar-sdktest.int.communication.azure.net/routing/queues/54-BA-D2-47-E5-A7-BF-04-DB-B0-99-A1-02-B9-E9-AB-6C?api-version=2021-10-20-preview2",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 15 Jun 2022 17:38:54 GMT"
      },
      "RequestBody": {
        "name": "DefaultQueueWithLabels54-BA-D2-47-E5-A7-BF-04-DB-B0-99-A1-02-B9-E9-AB-6C",
        "distributionPolicyId": "54-BA-D2-47-E5-A7-BF-04-DB-B0-99-A1-02-B9-E9-AB-6C",
        "labels": {
          "Label_1": "Value_1"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2021-10-20-preview2",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002222047a58-0000-0700-0000-62aa192f0000\u0022",
        "Last-Modified": "Wed, 15 Jun 2022 17:38:55 GMT",
        "trace-id": "5be1f0f30d29b4469e74c9510ac2b63f"
      },
      "ResponseBody": {
        "id": "54-BA-D2-47-E5-A7-BF-04-DB-B0-99-A1-02-B9-E9-AB-6C",
        "name": "DefaultQueueWithLabels54-BA-D2-47-E5-A7-BF-04-DB-B0-99-A1-02-B9-E9-AB-6C",
        "distributionPolicyId": "54-BA-D2-47-E5-A7-BF-04-DB-B0-99-A1-02-B9-E9-AB-6C",
        "labels": {
          "Label_1": "Value_1",
          "Id": "54-BA-D2-47-E5-A7-BF-04-DB-B0-99-A1-02-B9-E9-AB-6C"
        }
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://rsarkar-sdktest.int.communication.azure.net/;accesskey=Kg==",
    "id-prefix": "sdk-a8fnF31Bf0Cbi5zdn7Fs3g-",
    "RandomSeed": "1406204660"
  }
}
