{
  "Entries": [
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/distributionPolicies/7F6AFCEFF4107D32236D358B4CBE4440E63E5F6EEF4A2AEF13?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 15 Aug 2023 23:09:24 GMT"
      },
      "RequestBody": {
        "name": "LongestIdleDistributionPolicy7F6AFCEFF4107D32236D358B4CBE4440E63E5F6EEF4A2AEF13",
        "offerExpiresAfterSeconds": 30,
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00220000cf2e-0000-0700-0000-64dc05a50000\u0022",
        "Last-Modified": "Tue, 15 Aug 2023 23:09:25 GMT",
        "trace-id": "ecf10308-3738-21a3-1f3d-60a8cf7e87a7"
      },
      "ResponseBody": {
        "id": "7F6AFCEFF4107D32236D358B4CBE4440E63E5F6EEF4A2AEF13",
        "name": "LongestIdleDistributionPolicy7F6AFCEFF4107D32236D358B4CBE4440E63E5F6EEF4A2AEF13",
        "offerExpiresAfterSeconds": 30,
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        }
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/queues/7AA8D1B5E8163FF0CAA72B58FCB53296F609064771DBD7483B?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 15 Aug 2023 23:09:25 GMT"
      },
      "RequestBody": {
        "distributionPolicyId": "7F6AFCEFF4107D32236D358B4CBE4440E63E5F6EEF4A2AEF13",
        "labels": {
          "label1": 12345,
          "label2": "abc",
          "label3": true,
          "label4": false
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00220000ffef-0000-0700-0000-64dc05a50000\u0022",
        "Last-Modified": "Tue, 15 Aug 2023 23:09:25 GMT",
        "trace-id": "8d907a25-233b-835d-499d-cb9992f7ca26"
      },
      "ResponseBody": {
        "id": "7AA8D1B5E8163FF0CAA72B58FCB53296F609064771DBD7483B",
        "distributionPolicyId": "7F6AFCEFF4107D32236D358B4CBE4440E63E5F6EEF4A2AEF13",
        "labels": {
          "label1": 12345,
          "label2": "abc",
          "label3": true,
          "label4": false,
          "Id": "7AA8D1B5E8163FF0CAA72B58FCB53296F609064771DBD7483B"
        }
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/distributionPolicies/7F6AFCEFF4107D32236D358B4CBE4440E63E5F6EEF4A2AEF13?api-version=2022-07-18-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002B/TImW\u002B5JCeuQeRkm5NMpJWZG3hSuFU=",
        "x-ms-date": "Tue, 15 Aug 2023 23:09:25 GMT"
      },
      "RequestBody": null,
      "StatusCode": 400,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "trace-id": "f86215cc-c931-319c-0b48-a3184ddd9a17"
      },
      "ResponseBody": {
        "communicationError": {
          "code": "BadRequest",
          "message": "One or more validation errors occurred.",
          "target": "/routing/distributionPolicies/7F6AFCEFF4107D32236D358B4CBE4440E63E5F6EEF4A2AEF13",
          "details": [
            {
              "code": "QueueExistsWithDistributionPolicy",
              "message": "There is a queue with this distribution policy"
            }
          ]
        }
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://sanitized.communication.azure.com/;accesskey=Kg==",
    "id-prefix": "sdk-LLqDW0i37Eu1KIHSQd2H2Q-",
    "RandomSeed": "1397544713"
  }
}
