{
  "Entries": [
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/distributionPolicies/617F6F9F041DFAE445A8F6C982A5DA11CCF97CB1DA4E0A3498?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 16 Jun 2023 20:52:25 GMT"
      },
      "RequestBody": {
        "name": "LongestIdleDistributionPolicy617F6F9F041DFAE445A8F6C982A5DA11CCF97CB1DA4E0A3498",
        "offerExpiresAfterSeconds": 30,
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00227101d70b-0000-0700-0000-648ccb870000\u0022",
        "Last-Modified": "Fri, 16 Jun 2023 20:52:23 GMT",
        "trace-id": "aa4ac421-3569-1c5b-3d72-3e22a8db59c4"
      },
      "ResponseBody": {
        "id": "617F6F9F041DFAE445A8F6C982A5DA11CCF97CB1DA4E0A3498",
        "name": "LongestIdleDistributionPolicy617F6F9F041DFAE445A8F6C982A5DA11CCF97CB1DA4E0A3498",
        "offerExpiresAfterSeconds": 30,
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        }
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/queues/617F6F9F041DFAE445A8F6C982A5DA11CCF97CB1DA4E0A3498?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 16 Jun 2023 20:52:26 GMT"
      },
      "RequestBody": {
        "name": "DefaultQueueWithLabels617F6F9F041DFAE445A8F6C982A5DA11CCF97CB1DA4E0A3498",
        "distributionPolicyId": "617F6F9F041DFAE445A8F6C982A5DA11CCF97CB1DA4E0A3498",
        "labels": {
          "Label_1": "Value_1"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00220800214b-0000-0700-0000-648ccb870000\u0022",
        "Last-Modified": "Fri, 16 Jun 2023 20:52:23 GMT",
        "trace-id": "0ed09ac6-aef9-78ae-243a-76b8b4bb35e2"
      },
      "ResponseBody": {
        "id": "617F6F9F041DFAE445A8F6C982A5DA11CCF97CB1DA4E0A3498",
        "name": "DefaultQueueWithLabels617F6F9F041DFAE445A8F6C982A5DA11CCF97CB1DA4E0A3498",
        "distributionPolicyId": "617F6F9F041DFAE445A8F6C982A5DA11CCF97CB1DA4E0A3498",
        "labels": {
          "Label_1": "Value_1",
          "Id": "617F6F9F041DFAE445A8F6C982A5DA11CCF97CB1DA4E0A3498"
        }
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/queues/617F6F9F041DFAE445A8F6C982A5DA11CCF97CB1DA4E0A3498?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 16 Jun 2023 20:52:26 GMT"
      },
      "RequestBody": {
        "Name": null
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00220800234b-0000-0700-0000-648ccb880000\u0022",
        "Last-Modified": "Fri, 16 Jun 2023 20:52:24 GMT",
        "trace-id": "42e47d1b-befe-3673-76b7-0462bd952fc9"
      },
      "ResponseBody": {
        "id": "617F6F9F041DFAE445A8F6C982A5DA11CCF97CB1DA4E0A3498",
        "distributionPolicyId": "617F6F9F041DFAE445A8F6C982A5DA11CCF97CB1DA4E0A3498",
        "labels": {
          "Label_1": "Value_1",
          "Id": "617F6F9F041DFAE445A8F6C982A5DA11CCF97CB1DA4E0A3498"
        }
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/distributionPolicies/617F6F9F041DFAE445A8F6C982A5DA11CCF97CB1DA4E0A3498?api-version=2022-07-18-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 16 Jun 2023 20:52:26 GMT"
      },
      "RequestBody": null,
      "StatusCode": 400,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "trace-id": "6758fade-4881-24d0-07fa-c6b97b9fac4b"
      },
      "ResponseBody": {
        "communicationError": {
          "code": "BadRequest",
          "message": "One or more validation errors occurred.",
          "target": "/routing/distributionPolicies/617F6F9F041DFAE445A8F6C982A5DA11CCF97CB1DA4E0A3498",
          "details": [
            {
              "code": "QueueExistsWithDistributionPolicy",
              "message": "There is a queue with this distribution policy"
            }
          ]
        }
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://sanitized.communication.azure.com/;accesskey=Kg==",
    "id-prefix": "sdk-fSOhOIhfy0Ki0QDDuh1BrQ-",
    "RandomSeed": "984508652"
  }
}
