{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/sanitized/resourcegroups/rg-sdk-test-net-9991?api-version=2017-05-10",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "id": "/subscriptions/sanitized/resourceGroups/rg-sdk-test-net-9991",
        "name": "rg-sdk-test-net-9991",
        "location": "westus",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/sanitized/resourceGroups/rg-sdk-test-net-9991/providers/Microsoft.Communication/communicationServices/sdk-test-crud-with-tags-1812?api-version=2020-08-20-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "global",
        "tags": {
          "tag1": "tag1val",
          "tag2": "tag2val"
        },
        "properties": {
          "dataLocation": "UnitedStates"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/providers/Microsoft.Communication/locations/WESTUS2/operationStatuses/842d9f5a-9262-4ecf-82f1-5a2fc48ac026?api-version=2020-08-20-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002272011843-0000-0700-0000-5f66faac0000\u0022",
        "x-ms-ratelimit-remaining-subscription-writes": "1198"
      },
      "ResponseBody": {
        "id": "/subscriptions/sanitized/resourceGroups/rg-sdk-test-net-9991/providers/Microsoft.Communication/communicationServices/sdk-test-crud-with-tags-1812",
        "name": "sdk-test-crud-with-tags-1812",
        "type": "Microsoft.Communication/communicationServices",
        "location": "global",
        "tags": {
          "tag1": "tag1val",
          "tag2": "tag2val"
        },
        "properties": {
          "provisioningState": "Accepted",
          "hostName": "sdk-test-crud-with-tags-1812.communication.azure.com",
          "immutableResourceId": "1dac8bf4-9706-4d91-9b65-9d5f2fd7def0",
          "dataLocation": "UnitedStates"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/providers/Microsoft.Communication/locations/WESTUS2/operationStatuses/842d9f5a-9262-4ecf-82f1-5a2fc48ac026?api-version=2020-08-20-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002275000864-0000-0800-0000-5f66faad0000\u0022",
        "x-ms-ratelimit-remaining-tenant-reads": "11999"
      },
      "ResponseBody": {
        "id": "/providers/Microsoft.Communication/locations/WESTUS2/operationStatuses/842d9f5a-9262-4ecf-82f1-5a2fc48ac026",
        "name": "842d9f5a-9262-4ecf-82f1-5a2fc48ac026",
        "resourceId": "/subscriptions/sanitized/resourceGroups/rg-sdk-test-net-9991/providers/Microsoft.Communication/communicationServices/sdk-test-crud-with-tags-1812",
        "status": "Succeeded",
        "startTime": "2020-09-20T06:46:03.9632799Z",
        "percentComplete": 100.0,
        "properties": null
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/sanitized/resourceGroups/rg-sdk-test-net-9991/providers/Microsoft.Communication/communicationServices/sdk-test-crud-with-tags-1812/listKeys?api-version=2020-08-20-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "primaryKey": "Sanitized",
        "secondaryKey": "Sanitized",
        "primaryConnectionString": "Sanitized",
        "secondaryConnectionString": "Sanitized"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/sanitized/resourceGroups/rg-sdk-test-net-9991/providers/Microsoft.Communication/communicationServices/sdk-test-crud-with-tags-1812?api-version=2020-08-20-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {
          "tag3": "tag3val",
          "tag2": "tag2newval"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002272014a43-0000-0700-0000-5f66faae0000\u0022",
        "x-ms-ratelimit-remaining-subscription-writes": "1197"
      },
      "ResponseBody": {
        "id": "/subscriptions/sanitized/resourceGroups/rg-sdk-test-net-9991/providers/Microsoft.Communication/communicationServices/sdk-test-crud-with-tags-1812",
        "name": "sdk-test-crud-with-tags-1812",
        "type": "Microsoft.Communication/communicationServices",
        "location": "global",
        "tags": {
          "tag3": "tag3val",
          "tag2": "tag2newval"
        },
        "properties": {
          "provisioningState": "Succeeded",
          "hostName": "sdk-test-crud-with-tags-1812.communication.azure.com",
          "immutableResourceId": "1dac8bf4-9706-4d91-9b65-9d5f2fd7def0",
          "dataLocation": "UnitedStates"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/sanitized/resourceGroups/rg-sdk-test-net-9991/providers/Microsoft.Communication/communicationServices/sdk-test-crud-with-tags-1812?api-version=2020-08-20-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002272015743-0000-0700-0000-5f66faaf0000\u0022",
        "Location": "https://management.azure.com/providers/Microsoft.Communication/locations/WESTUS2/operationStatuses/9b4a9754-7795-4083-9569-7278fd2a389b?api-version=2020-08-20-preview",
        "x-ms-ratelimit-remaining-subscription-deletes": "14999"
      },
      "ResponseBody": {
        "id": "/subscriptions/sanitized/resourceGroups/rg-sdk-test-net-9991/providers/Microsoft.Communication/communicationServices/sdk-test-crud-with-tags-1812",
        "name": "sdk-test-crud-with-tags-1812",
        "type": "Microsoft.Communication/communicationServices",
        "location": "global",
        "tags": {
          "tag3": "tag3val",
          "tag2": "tag2newval"
        },
        "properties": {
          "provisioningState": "Deleting",
          "hostName": "sdk-test-crud-with-tags-1812.communication.azure.com",
          "immutableResourceId": "1dac8bf4-9706-4d91-9b65-9d5f2fd7def0",
          "dataLocation": "UnitedStates"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/providers/Microsoft.Communication/locations/WESTUS2/operationStatuses/9b4a9754-7795-4083-9569-7278fd2a389b?api-version=2020-08-20-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002275001664-0000-0800-0000-5f66fab00000\u0022",
        "x-ms-ratelimit-remaining-tenant-reads": "11997"
      },
      "ResponseBody": {
        "id": "/providers/Microsoft.Communication/locations/WESTUS2/operationStatuses/9b4a9754-7795-4083-9569-7278fd2a389b",
        "name": "9b4a9754-7795-4083-9569-7278fd2a389b",
        "resourceId": "/subscriptions/sanitized/resourceGroups/rg-sdk-test-net-9991/providers/Microsoft.Communication/communicationServices/sdk-test-crud-with-tags-1812",
        "status": "Deleted",
        "startTime": "2020-09-20T06:46:07.7166606Z",
        "percentComplete": 100.0
      }
    }
  ],
  "Variables": {
    "LOCATION": "westus",
    "NOTIFICATION_HUBS_CONNECTION_STRING": "sanitized",
    "NOTIFICATION_HUBS_RESOURCE_GROUP_NAME": "rg-sdk-test-comm-link-notif-hub",
    "NOTIFICATION_HUBS_RESOURCE_ID": "/subscriptions/sanitized/resourcegroups/rg-sdk-test-comm-link-notif-hub/providers/Microsoft.NotificationHubs/namespaces/notif-hub-namespace-test/notificationHubs/notif-hub-test-comm-link",
    "RandomSeed": "1324793335",
    "SUBSCRIPTION_ID": "sanitized"
  }
}