{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/sanitized/resourcegroups/rg-sdk-test-net-9846?api-version=2019-10-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1192"
      },
      "ResponseBody": {
        "id": "/subscriptions/sanitized/resourceGroups/rg-sdk-test-net-9846",
        "name": "rg-sdk-test-net-9846",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/sanitized/resourceGroups/rg-sdk-test-net-9846/providers/Microsoft.Communication/communicationServices/sdk-test-crud-simple-3920?api-version=2020-08-20",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "global",
        "properties": {
          "dataLocation": "UnitedStates"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/providers/Microsoft.Communication/locations/WESTUS2/operationStatuses/19cd4311-6aa5-4534-ba66-df437a63942e?api-version=2020-08-20",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022000015ba-0000-0700-0000-605271fe0000\u0022",
        "Location": "https://management.azure.com/providers/Microsoft.Communication/locations/WESTUS2/operationStatuses/19cd4311-6aa5-4534-ba66-df437a63942e?api-version=2020-08-20",
        "x-ms-ratelimit-remaining-subscription-writes": "1191"
      },
      "ResponseBody": {
        "id": "/subscriptions/sanitized/resourceGroups/rg-sdk-test-net-9846/providers/Microsoft.Communication/communicationServices/sdk-test-crud-simple-3920",
        "name": "sdk-test-crud-simple-3920",
        "type": "Microsoft.Communication/communicationServices",
        "location": "global",
        "systemData": {
          "createdBy": "Sanitized",
          "createdByType": "Application",
          "createdAt": "2021-03-17T21:17:46.523066Z",
          "lastModifiedBy": "Sanitized",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2021-03-17T21:17:46.523066Z"
        },
        "properties": {
          "provisioningState": "Accepted",
          "hostName": "sdk-test-crud-simple-3920.communication.azure.com",
          "immutableResourceId": "5c5db8f4-af1f-4270-aee9-234955a6ec4e",
          "dataLocation": "UnitedStates"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/providers/Microsoft.Communication/locations/WESTUS2/operationStatuses/19cd4311-6aa5-4534-ba66-df437a63942e?api-version=2020-08-20",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00220600c4b5-0000-0800-0000-605271fe0000\u0022",
        "x-ms-ratelimit-remaining-tenant-reads": "11977"
      },
      "ResponseBody": {
        "id": "/providers/Microsoft.Communication/locations/WESTUS2/operationStatuses/19cd4311-6aa5-4534-ba66-df437a63942e",
        "name": "19cd4311-6aa5-4534-ba66-df437a63942e",
        "resourceId": "/subscriptions/sanitized/resourceGroups/rg-sdk-test-net-9846/providers/Microsoft.Communication/communicationServices/sdk-test-crud-simple-3920",
        "status": "Accepted",
        "startTime": "2021-03-17T21:17:50.4522043Z"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/providers/Microsoft.Communication/locations/WESTUS2/operationStatuses/19cd4311-6aa5-4534-ba66-df437a63942e?api-version=2020-08-20",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00220600cdb5-0000-0800-0000-605272030000\u0022",
        "x-ms-ratelimit-remaining-tenant-reads": "11973"
      },
      "ResponseBody": {
        "id": "/providers/Microsoft.Communication/locations/WESTUS2/operationStatuses/19cd4311-6aa5-4534-ba66-df437a63942e",
        "name": "19cd4311-6aa5-4534-ba66-df437a63942e",
        "resourceId": "/subscriptions/sanitized/resourceGroups/rg-sdk-test-net-9846/providers/Microsoft.Communication/communicationServices/sdk-test-crud-simple-3920",
        "status": "Succeeded",
        "startTime": "2021-03-17T21:17:50.4522043Z",
        "endTime": "2021-03-17T21:17:55.0958619Z",
        "percentComplete": 100.0,
        "properties": null
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/sanitized/resourceGroups/rg-sdk-test-net-9846/providers/Microsoft.Communication/communicationServices/sdk-test-crud-simple-3920/listKeys?api-version=2020-08-20",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1194"
      },
      "ResponseBody": {
        "primaryKey": "Sanitized",
        "secondaryKey": "Sanitized",
        "primaryConnectionString": "Sanitized",
        "secondaryConnectionString": "Sanitized"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/sanitized/resourceGroups/rg-sdk-test-net-9846/providers/Microsoft.Communication/communicationServices/sdk-test-crud-simple-3920/regenerateKey?api-version=2020-08-20",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "keyType": "Primary"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1193"
      },
      "ResponseBody": {
        "primaryKey": "Sanitized",
        "primaryConnectionString": "Sanitized"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/providers/Microsoft.Communication/locations/WESTUS2/operationStatuses/78fd0c87-1134-4fdc-924c-fa9f61b17f40?api-version=2020-08-20",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00220600e2b5-0000-0800-0000-6052720a0000\u0022",
        "x-ms-ratelimit-remaining-tenant-reads": "11967"
      },
      "ResponseBody": {
        "id": "/providers/Microsoft.Communication/locations/WESTUS2/operationStatuses/78fd0c87-1134-4fdc-924c-fa9f61b17f40",
        "name": "78fd0c87-1134-4fdc-924c-fa9f61b17f40",
        "resourceId": "/subscriptions/sanitized/resourceGroups/rg-sdk-test-net-9846/providers/Microsoft.Communication/communicationServices/sdk-test-crud-simple-3920",
        "status": "Succeeded",
        "startTime": "2021-03-17T21:17:57.210427Z",
        "endTime": "2021-03-17T21:18:02.3537134Z",
        "percentComplete": 100.0,
        "properties": null
      }
    }
  ],
  "Variables": {
    "LOCATION": "westus",
    "NOTIFICATION_HUBS_CONNECTION_STRING": "sanitized",
    "NOTIFICATION_HUBS_RESOURCE_GROUP_NAME": "rg-sdk-test-comm-link-notif-hub",
    "NOTIFICATION_HUBS_RESOURCE_ID": "/subscriptions/sanitized/resourcegroups/rg-sdk-test-comm-link-notif-hub/providers/Microsoft.NotificationHubs/namespaces/notif-hub-namespace-test/notificationHubs/notif-hub-test-comm-link",
    "RandomSeed": "910895499",
    "SUBSCRIPTION_ID": "sanitized"
  }
}