{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/sanitized/resourcegroups/rg-sdk-test-net-7049?api-version=2019-10-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1196"
      },
      "ResponseBody": {
        "id": "/subscriptions/sanitized/resourceGroups/rg-sdk-test-net-7049",
        "name": "rg-sdk-test-net-7049",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/sanitized/resourceGroups/rg-sdk-test-net-7049/providers/Microsoft.Communication/communicationServices/sdk-test-crud-with-tags-3144?api-version=2020-08-20-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "global",
        "tags": {
          "tag1": "tag1val",
          "tag2": "tag2val"
        },
        "properties": {
          "dataLocation": "UnitedStates"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/providers/Microsoft.Communication/locations/WESTUS2/operationStatuses/c86b5bb7-53b4-4aa6-86ec-814bdf79c49a?api-version=2020-08-20-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00221c00d072-0000-0700-0000-5f72f8820000\u0022",
        "x-ms-ratelimit-remaining-subscription-writes": "1195"
      },
      "ResponseBody": {
        "id": "/subscriptions/sanitized/resourceGroups/rg-sdk-test-net-7049/providers/Microsoft.Communication/communicationServices/sdk-test-crud-with-tags-3144",
        "name": "sdk-test-crud-with-tags-3144",
        "type": "Microsoft.Communication/communicationServices",
        "location": "global",
        "tags": {
          "tag1": "tag1val",
          "tag2": "tag2val"
        },
        "properties": {
          "provisioningState": "Accepted",
          "hostName": "sdk-test-crud-with-tags-3144.communication.azure.com",
          "immutableResourceId": "61bccb72-34e2-4592-8c43-52ce6a2b72dd",
          "dataLocation": "UnitedStates"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/providers/Microsoft.Communication/locations/WESTUS2/operationStatuses/c86b5bb7-53b4-4aa6-86ec-814bdf79c49a?api-version=2020-08-20-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00221100488f-0000-0800-0000-5f72f8830000\u0022",
        "x-ms-ratelimit-remaining-tenant-reads": "11996"
      },
      "ResponseBody": {
        "id": "/providers/Microsoft.Communication/locations/WESTUS2/operationStatuses/c86b5bb7-53b4-4aa6-86ec-814bdf79c49a",
        "name": "c86b5bb7-53b4-4aa6-86ec-814bdf79c49a",
        "resourceId": "/subscriptions/sanitized/resourceGroups/rg-sdk-test-net-7049/providers/Microsoft.Communication/communicationServices/sdk-test-crud-with-tags-3144",
        "status": "Succeeded",
        "startTime": "2020-09-29T09:04:01.1691418Z",
        "percentComplete": 100.0,
        "properties": null
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/sanitized/resourceGroups/rg-sdk-test-net-7049/providers/Microsoft.Communication/communicationServices/sdk-test-crud-with-tags-3144/listKeys?api-version=2020-08-20-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1196"
      },
      "ResponseBody": {
        "primaryKey": "Sanitized",
        "secondaryKey": "Sanitized",
        "primaryConnectionString": "Sanitized",
        "secondaryConnectionString": "Sanitized"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/sanitized/resourceGroups/rg-sdk-test-net-7049/providers/Microsoft.Communication/communicationServices/sdk-test-crud-with-tags-3144?api-version=2020-08-20-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {
          "tag3": "tag3val",
          "tag2": "tag2newval"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00221c005f73-0000-0700-0000-5f72f8880000\u0022",
        "x-ms-ratelimit-remaining-subscription-writes": "1194"
      },
      "ResponseBody": {
        "id": "/subscriptions/sanitized/resourceGroups/rg-sdk-test-net-7049/providers/Microsoft.Communication/communicationServices/sdk-test-crud-with-tags-3144",
        "name": "sdk-test-crud-with-tags-3144",
        "type": "Microsoft.Communication/communicationServices",
        "location": "global",
        "tags": {
          "tag3": "tag3val",
          "tag2": "tag2newval"
        },
        "properties": {
          "provisioningState": "Succeeded",
          "hostName": "sdk-test-crud-with-tags-3144.communication.azure.com",
          "immutableResourceId": "61bccb72-34e2-4592-8c43-52ce6a2b72dd",
          "dataLocation": "UnitedStates"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/sanitized/resourceGroups/rg-sdk-test-net-7049/providers/Microsoft.Communication/communicationServices/sdk-test-crud-with-tags-3144?api-version=2020-08-20-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00221c00a273-0000-0700-0000-5f72f88c0000\u0022",
        "Location": "https://management.azure.com/providers/Microsoft.Communication/locations/WESTUS2/operationStatuses/c7ac28a9-53cc-4634-98a6-2803313e85b7?api-version=2020-08-20-preview",
        "x-ms-ratelimit-remaining-subscription-deletes": "14997"
      },
      "ResponseBody": {
        "id": "/subscriptions/sanitized/resourceGroups/rg-sdk-test-net-7049/providers/Microsoft.Communication/communicationServices/sdk-test-crud-with-tags-3144",
        "name": "sdk-test-crud-with-tags-3144",
        "type": "Microsoft.Communication/communicationServices",
        "location": "global",
        "tags": {
          "tag3": "tag3val",
          "tag2": "tag2newval"
        },
        "properties": {
          "provisioningState": "Deleting",
          "hostName": "sdk-test-crud-with-tags-3144.communication.azure.com",
          "immutableResourceId": "61bccb72-34e2-4592-8c43-52ce6a2b72dd",
          "dataLocation": "UnitedStates"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/providers/Microsoft.Communication/locations/WESTUS2/operationStatuses/c7ac28a9-53cc-4634-98a6-2803313e85b7?api-version=2020-08-20-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002211008290-0000-0800-0000-5f72f88c0000\u0022",
        "x-ms-ratelimit-remaining-tenant-reads": "11994"
      },
      "ResponseBody": {
        "id": "/providers/Microsoft.Communication/locations/WESTUS2/operationStatuses/c7ac28a9-53cc-4634-98a6-2803313e85b7",
        "name": "c7ac28a9-53cc-4634-98a6-2803313e85b7",
        "resourceId": "/subscriptions/sanitized/resourceGroups/rg-sdk-test-net-7049/providers/Microsoft.Communication/communicationServices/sdk-test-crud-with-tags-3144",
        "status": "Deleted",
        "startTime": "2020-09-29T09:04:11.3934534Z",
        "percentComplete": 100.0
      }
    }
  ],
  "Variables": {
    "LOCATION": "eastus",
    "NOTIFICATION_HUBS_CONNECTION_STRING": "sanitized",
    "NOTIFICATION_HUBS_RESOURCE_GROUP_NAME": "rg-sdk-test-comm-link-notif-hub",
    "NOTIFICATION_HUBS_RESOURCE_ID": "/subscriptions/sanitized/resourcegroups/rg-sdk-test-comm-link-notif-hub/providers/Microsoft.NotificationHubs/namespaces/notif-hub-namespace-test/notificationHubs/notif-hub-test-comm-link",
    "RandomSeed": "1372296090",
    "SUBSCRIPTION_ID": "sanitized"
  }
}