{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/f3d94233-a9aa-4241-ac82-2dfb63ce637a?api-version=2019-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11988"
      },
      "ResponseBody": {
        "id": "/subscriptions/f3d94233-a9aa-4241-ac82-2dfb63ce637a",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "subscriptionId": "f3d94233-a9aa-4241-ac82-2dfb63ce637a",
        "tenantId": "75743128-1c62-4904-9be1-c23c1edb9a9f",
        "displayName": "Visual Studio Enterprise Subscription",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Public_2014-09-01",
          "quotaId": "MSDN_2014-09-01",
          "spendingLimit": "On"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/f3d94233-a9aa-4241-ac82-2dfb63ce637a/resourcegroups/rg-sdk-test-net-7715?api-version=2019-10-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1193"
      },
      "ResponseBody": {
        "id": "/subscriptions/f3d94233-a9aa-4241-ac82-2dfb63ce637a/resourceGroups/rg-sdk-test-net-7715",
        "name": "rg-sdk-test-net-7715",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/f3d94233-a9aa-4241-ac82-2dfb63ce637a/resourceGroups/rg-sdk-test-net-7715/providers/Microsoft.Communication/communicationServices/sdk-test-crud-with-tags-948?api-version=2020-08-20",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "global",
        "tags": {
          "tag1": "tag1val",
          "tag2": "tag2val"
        },
        "properties": {
          "dataLocation": "UnitedStates"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/providers/Microsoft.Communication/locations/WESTUS2/operationStatuses/c491ec1e-1a7e-45ad-92e1-71835be2d6a3*FEDE2772E40D1DF48C814EBB10AEFD23E8EAD131396D207EF4D32C80864EACCF?api-version=2020-08-20",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00228c01f1c5-0000-0700-0000-612de5bc0000\u0022",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-writes": "1192"
      },
      "ResponseBody": {
        "id": "/subscriptions/f3d94233-a9aa-4241-ac82-2dfb63ce637a/resourceGroups/rg-sdk-test-net-7715/providers/Microsoft.Communication/communicationServices/sdk-test-crud-with-tags-948",
        "name": "sdk-test-crud-with-tags-948",
        "type": "microsoft.communication/communicationservices",
        "location": "global",
        "tags": {
          "tag1": "tag1val",
          "tag2": "tag2val"
        },
        "systemData": {
          "createdBy": "f03720c1-6b28-4033-b949-e30e027685c6",
          "createdByType": "Application",
          "createdAt": "2021-08-31T08:18:02.4667422Z",
          "lastModifiedBy": "f03720c1-6b28-4033-b949-e30e027685c6",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2021-08-31T08:18:02.4667422Z"
        },
        "properties": {
          "dataLocation": "UnitedStates",
          "provisioningState": "Accepted"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/providers/Microsoft.Communication/locations/WESTUS2/operationStatuses/c491ec1e-1a7e-45ad-92e1-71835be2d6a3*FEDE2772E40D1DF48C814EBB10AEFD23E8EAD131396D207EF4D32C80864EACCF?api-version=2020-08-20",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00220000cf34-0000-0800-0000-612de5bb0000\u0022",
        "x-ms-ratelimit-remaining-tenant-reads": "11886"
      },
      "ResponseBody": {
        "id": "/providers/Microsoft.Communication/locations/WESTUS2/operationStatuses/c491ec1e-1a7e-45ad-92e1-71835be2d6a3*FEDE2772E40D1DF48C814EBB10AEFD23E8EAD131396D207EF4D32C80864EACCF",
        "name": "c491ec1e-1a7e-45ad-92e1-71835be2d6a3",
        "resourceId": "/subscriptions/f3d94233-a9aa-4241-ac82-2dfb63ce637a/resourceGroups/rg-sdk-test-net-7715/providers/Microsoft.Communication/communicationServices/sdk-test-crud-with-tags-948",
        "status": "Accepted",
        "startTime": "2021-08-31T08:18:03.8355585Z"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/f3d94233-a9aa-4241-ac82-2dfb63ce637a/resourceGroups/rg-sdk-test-net-7715/providers/Microsoft.Communication/communicationServices/sdk-test-crud-with-tags-948/listKeys?api-version=2020-08-20",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-writes": "1195"
      },
      "ResponseBody": {
        "primaryKey": "Sanitized",
        "secondaryKey": "Sanitized",
        "primaryConnectionString": "Sanitized",
        "secondaryConnectionString": "Sanitized"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/f3d94233-a9aa-4241-ac82-2dfb63ce637a/resourceGroups/rg-sdk-test-net-7715/providers/Microsoft.Communication/communicationServices/sdk-test-crud-with-tags-948?api-version=2020-08-20",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "global",
        "tags": {
          "tag3": "tag3val",
          "tag2": "tag2newval"
        },
        "properties": {
          "dataLocation": "UnitedStates"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00228c013fc6-0000-0700-0000-612de6060000\u0022",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-writes": "1191"
      },
      "ResponseBody": {
        "id": "/subscriptions/f3d94233-a9aa-4241-ac82-2dfb63ce637a/resourceGroups/rg-sdk-test-net-7715/providers/Microsoft.Communication/communicationServices/sdk-test-crud-with-tags-948",
        "name": "sdk-test-crud-with-tags-948",
        "type": "microsoft.communication/communicationservices",
        "location": "global",
        "tags": {
          "tag3": "tag3val",
          "tag2": "tag2newval"
        },
        "systemData": {
          "createdBy": "f03720c1-6b28-4033-b949-e30e027685c6",
          "createdByType": "Application",
          "createdAt": "2021-08-31T08:18:02.4667422Z",
          "lastModifiedBy": "f03720c1-6b28-4033-b949-e30e027685c6",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2021-08-31T08:19:17.6617079Z"
        },
        "properties": {
          "provisioningState": "Succeeded",
          "hostName": "sdk-test-crud-with-tags-948.communication.azure.com",
          "immutableResourceId": "b9be41bf-adac-4f4a-88a5-1038a87d93dd",
          "dataLocation": "UnitedStates"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/f3d94233-a9aa-4241-ac82-2dfb63ce637a/resourceGroups/rg-sdk-test-net-7715/providers/Microsoft.Communication/communicationServices/sdk-test-crud-with-tags-948?api-version=2020-08-20",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/providers/Microsoft.Communication/locations/WESTUS2/operationStatuses/c14ebcfe-5253-405f-821b-80f894bd6f83*FEDE2772E40D1DF48C814EBB10AEFD23E8EAD131396D207EF4D32C80864EACCF?api-version=2020-08-20",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00228c0146c6-0000-0700-0000-612de6090000\u0022",
        "Location": "https://management.azure.com/providers/Microsoft.Communication/locations/WESTUS2/operationStatuses/c14ebcfe-5253-405f-821b-80f894bd6f83*FEDE2772E40D1DF48C814EBB10AEFD23E8EAD131396D207EF4D32C80864EACCF?api-version=2020-08-20",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-deletes": "14995"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://management.azure.com/providers/Microsoft.Communication/locations/WESTUS2/operationStatuses/c14ebcfe-5253-405f-821b-80f894bd6f83*FEDE2772E40D1DF48C814EBB10AEFD23E8EAD131396D207EF4D32C80864EACCF?api-version=2020-08-20",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00220000f234-0000-0800-0000-612de60c0000\u0022",
        "x-ms-ratelimit-remaining-tenant-reads": "11829"
      },
      "ResponseBody": {
        "id": "/providers/Microsoft.Communication/locations/WESTUS2/operationStatuses/c14ebcfe-5253-405f-821b-80f894bd6f83*FEDE2772E40D1DF48C814EBB10AEFD23E8EAD131396D207EF4D32C80864EACCF",
        "name": "c14ebcfe-5253-405f-821b-80f894bd6f83",
        "resourceId": "/subscriptions/f3d94233-a9aa-4241-ac82-2dfb63ce637a/resourceGroups/rg-sdk-test-net-7715/providers/Microsoft.Communication/communicationServices/sdk-test-crud-with-tags-948",
        "status": "Succeeded",
        "startTime": "2021-08-31T08:19:21.2629459Z",
        "endTime": "2021-08-31T08:19:24.2526373Z",
        "percentComplete": 100.0,
        "properties": null
      }
    }
  ],
  "Variables": {
    "RandomSeed": "1323583480",
    "SUBSCRIPTION_ID": "f3d94233-a9aa-4241-ac82-2dfb63ce637a"
  }
}