{
  "Entries": [
    {
      "RequestUri": "https://chrisstablesprim.table.core.windows.net/Tables?$format=application%2Fjson%3Bodata%3Dminimalmetadata",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json;odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": {
        "TableName": "testtableti4rfcoc"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "Location": "https://chrisstablesprim.table.core.windows.net/Tables(\u0027testtableti4rfcoc\u0027)",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": {
        "odata.metadata": "https://chrisstablesprim.table.core.windows.net/$metadata#Tables/@Element",
        "TableName": "testtableti4rfcoc"
      }
    },
    {
      "RequestUri": "https://chrisstablesprim.table.core.windows.net/testtableti4rfcoc?$format=application%2Fjson%3Bodata%3Dminimalmetadata",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json;odata=nometadata",
        "DataServiceVersion": "3.0",
        "Prefer": "return-no-content",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": {
        "DateTimeOffsetNull": null,
        "DateTimeOffsetN": "2020-01-01T01:02:00.0000000Z",
        "DateTimeOffsetN@odata.type": "Edm.DateTime",
        "DateTimeOffset": "2020-01-01T01:02:00.0000000Z",
        "DateTimeOffset@odata.type": "Edm.DateTime",
        "DateTimeNull": null,
        "DateTimeN": "2020-01-01T01:02:00.0000000Z",
        "DateTimeN@odata.type": "Edm.DateTime",
        "DateTime": "2020-01-01T01:02:00.0000000Z",
        "DateTime@odata.type": "Edm.DateTime",
        "DateTimeAsString": "2020-01-01T01:02:00.0000000Z",
        "BoolNull": null,
        "BoolN": false,
        "Bool": false,
        "BoolPrimitiveNull": null,
        "BoolPrimitiveN": false,
        "BoolPrimitive": false,
        "Binary": "AQL/AQ==",
        "Binary@odata.type": "Edm.Binary",
        "BinaryNull": null,
        "BinaryPrimitive": "AQL/AQ==",
        "BinaryPrimitive@odata.type": "Edm.Binary",
        "DoublePrimitiveNull": null,
        "DoublePrimitiveN": 1.5,
        "DoublePrimitiveN@odata.type": "Edm.Double",
        "DoublePrimitive": 1.5,
        "DoublePrimitive@odata.type": "Edm.Double",
        "DoubleNull": null,
        "DoubleN": 1.5,
        "DoubleN@odata.type": "Edm.Double",
        "Double": 1.5,
        "Double@odata.type": "Edm.Double",
        "DoubleInteger": 1,
        "DoubleInteger@odata.type": "Edm.Double",
        "GuidNull": null,
        "GuidN": "0d391d16-97f1-4b9a-be68-4cc871f90001",
        "GuidN@odata.type": "Edm.Guid",
        "Guid": "0d391d16-97f1-4b9a-be68-4cc871f90001",
        "Guid@odata.type": "Edm.Guid",
        "IntegerPrimitiveNull": null,
        "IntegerPrimitiveN": 1,
        "IntegerPrimitive": 1,
        "Int32Null": null,
        "Int32N": 1,
        "Int32": 1,
        "LongPrimitiveNull": null,
        "LongPrimitiveN": "2147483648",
        "LongPrimitiveN@odata.type": "Edm.Int64",
        "LongPrimitive": "2147483648",
        "LongPrimitive@odata.type": "Edm.Int64",
        "Int64Null": null,
        "Int64N": "123456789012",
        "Int64N@odata.type": "Edm.Int64",
        "Int64": "2147483648",
        "Int64@odata.type": "Edm.Int64",
        "String": "0001",
        "PartitionKey": "somPartition",
        "RowKey": "0001"
      },
      "StatusCode": 204,
      "ResponseHeaders": {
        "DataServiceId": "https://chrisstablesprim.table.core.windows.net/testtableti4rfcoc(PartitionKey=\u0027somPartition\u0027,RowKey=\u00270001\u0027)",
        "ETag": "W/\u0022datetime\u00272022-06-13T17%3A09%3A27.8652333Z\u0027\u0022",
        "Location": "https://chrisstablesprim.table.core.windows.net/testtableti4rfcoc(PartitionKey=\u0027somPartition\u0027,RowKey=\u00270001\u0027)",
        "Preference-Applied": "return-no-content",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://chrisstablesprim.table.core.windows.net/testtableti4rfcoc()?$format=application%2Fjson%3Bodata%3Dminimalmetadata\u0026$filter=String%20ge%20%270003%27",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "DataServiceVersion": "3.0",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": {
        "odata.metadata": "https://chrisstablesprim.table.core.windows.net/$metadata#testtableti4rfcoc",
        "value": [
          {
            "odata.etag": "W/\u0022datetime\u00272022-06-13T17%3A09%3A28.0171457Z\u0027\u0022",
            "PartitionKey": "somPartition",
            "RowKey": "0003",
            "Timestamp": "2022-06-13T17:09:28.0171457Z",
            "DateTimeOffsetN@odata.type": "Edm.DateTime",
            "DateTimeOffsetN": "2020-01-01T01:04:00Z",
            "DateTimeOffset@odata.type": "Edm.DateTime",
            "DateTimeOffset": "2020-01-01T01:04:00Z",
            "DateTimeN@odata.type": "Edm.DateTime",
            "DateTimeN": "2020-01-01T01:04:00Z",
            "DateTime@odata.type": "Edm.DateTime",
            "DateTime": "2020-01-01T01:04:00Z",
            "DateTimeAsString": "2020-01-01[...]
    {
      "RequestUri": "https://chrisstablesprim.table.core.windows.net/testtableti4rfcoc()?$format=application%2Fjson%3Bodata%3Dminimalmetadata\u0026$filter=Guid%20eq%20guid%270d391d16-97f1-4b9a-be68-4cc871f90003%27",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "DataServiceVersion": "3.0",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type"[...]
    {
      "RequestUri": "https://chrisstablesprim.table.core.windows.net/testtableti4rfcoc()?$format=application%2Fjson%3Bodata%3Dminimalmetadata\u0026$filter=Int64%20ge%202147483650L",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "DataServiceVersion": "3.0",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimal[...]
    {
      "RequestUri": "https://chrisstablesprim.table.core.windows.net/testtableti4rfcoc()?$format=application%2Fjson%3Bodata%3Dminimalmetadata\u0026$filter=LongPrimitive%20ge%202147483650L",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "DataServiceVersion": "3.0",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata[...]
    {
      "RequestUri": "https://chrisstablesprim.table.core.windows.net/testtableti4rfcoc()?$format=application%2Fjson%3Bodata%3Dminimalmetadata\u0026$filter=LongPrimitiveN%20ge%202147483650L",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "DataServiceVersion": "3.0",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odat[...]
    {
      "RequestUri": "https://chrisstablesprim.table.core.windows.net/testtableti4rfcoc()?$format=application%2Fjson%3Bodata%3Dminimalmetadata\u0026$filter=Double%20ge%203.5",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "DataServiceVersion": "3.0",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadat[...]
    {
      "RequestUri": "https://chrisstablesprim.table.core.windows.net/testtableti4rfcoc()?$format=application%2Fjson%3Bodata%3Dminimalmetadata\u0026$filter=DoublePrimitive%20ge%203.5",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "DataServiceVersion": "3.0",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minim[...]
    {
      "RequestUri": "https://chrisstablesprim.table.core.windows.net/testtableti4rfcoc()?$format=application%2Fjson%3Bodata%3Dminimalmetadata\u0026$filter=Int32%20ge%203",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "DataServiceVersion": "3.0",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; [...]
    {
      "RequestUri": "https://chrisstablesprim.table.core.windows.net/testtableti4rfcoc()?$format=application%2Fjson%3Bodata%3Dminimalmetadata\u0026$filter=Int32N%20ge%203",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "DataServiceVersion": "3.0",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata;[...]
    {
      "RequestUri": "https://chrisstablesprim.table.core.windows.net/testtableti4rfcoc()?$format=application%2Fjson%3Bodata%3Dminimalmetadata\u0026$filter=DateTimeOffset%20ge%20datetime%272020-01-01T01%3A04%3A00Z%27",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "DataServiceVersion": "3.0",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Typ[...]
    {
      "RequestUri": "https://chrisstablesprim.table.core.windows.net/testtableti4rfcoc()?$format=application%2Fjson%3Bodata%3Dminimalmetadata\u0026$filter=DateTimeOffset%20lt%20datetime%272020-01-01T01%3A04%3A00Z%27",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "DataServiceVersion": "3.0",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Typ[...]
    {
      "RequestUri": "https://chrisstablesprim.table.core.windows.net/testtableti4rfcoc()?$format=application%2Fjson%3Bodata%3Dminimalmetadata\u0026$filter=Bool%20eq%20false",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "DataServiceVersion": "3.0",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadat[...]
    {
      "RequestUri": "https://chrisstablesprim.table.core.windows.net/testtableti4rfcoc()?$format=application%2Fjson%3Bodata%3Dminimalmetadata\u0026$filter=BoolPrimitive%20eq%20false",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "DataServiceVersion": "3.0",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minim[...]
    {
      "RequestUri": "https://chrisstablesprim.table.core.windows.net/testtableti4rfcoc()?$format=application%2Fjson%3Bodata%3Dminimalmetadata\u0026$filter=Binary%20eq%20X%270102FF03%27",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "DataServiceVersion": "3.0",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=mi[...]
    {
      "RequestUri": "https://chrisstablesprim.table.core.windows.net/testtableti4rfcoc()?$format=application%2Fjson%3Bodata%3Dminimalmetadata\u0026$filter=BinaryPrimitive%20eq%20X%270102FF03%27",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "DataServiceVersion": "3.0",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json;[...]
    {
      "RequestUri": "https://chrisstablesprim.table.core.windows.net/testtableti4rfcoc()?$format=application%2Fjson%3Bodata%3Dminimalmetadata\u0026$filter=%28%28%28%28%28%28%28PartitionKey%20eq%20%27somPartition%27%29%20and%20%28String%20ge%20%270003%27%29%29%20and%20%28Int64%20ge%202147483650L%29%29%20and%20%28LongPrimitive%20ge%202147483650L%29%29%20and%20%28LongPrimitiveN%20ge%202147483650L%29%29%20and%20%28Int32%20ge%203%29%29%20and%20%28Int32N%20ge%203%29%29%20and%20%28DateTimeOffset%[...]
    {
      "RequestUri": "https://chrisstablesprim.table.core.windows.net/Tables(\u0027testtableti4rfcoc\u0027)",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1459648549",
    "STORAGE_ENDPOINT_SUFFIX": "core.windows.net",
    "TABLES_PRIMARY_STORAGE_ACCOUNT_KEY": "Kg==",
    "TABLES_STORAGE_ACCOUNT_NAME": "chrisstablesprim"
  }
}
