{
  "Entries": [
    {
      "RequestUri": "/subscriptions/796c84b3-7e3b-411a-a103-157a9ba99783/providers/Microsoft.Capacity/appliedReservations?api-version=2019-04-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/796c84b3-7e3b-411a-a103-157a9ba99783/providers/microsoft.capacity/AppliedReservations/default\",\r\n  \"type\": \"Microsoft.Capacity/AppliedReservations\",\r\n  \"name\": \"default\",\r\n  \"properties\": {\r\n    \"reservationOrderIds\": {\r\n      \"value\": [\r\n        \"/providers/Microsoft.Capacity/reservationorders/11cc779e-a8f4-4ea9-880e-2e92b970d7cb\",\r\n        \"/providers/Microsoft.Capacity/reservationorders/0fd2bb5d-5aa5-4c20-8894-d725464e64f8\",\r\n        \"/providers/Microsoft.Capacity/reservationorders/8f3035d1-bfa2-4d81-a6cc-062b5cece09a\",\r\n        \"/providers/Microsoft.Capacity/reservationorders/be3573e4-3fed-4b85-8d0b-b153553b9696\",\r\n        \"/providers/Microsoft.Capacity/reservationorders/86d3f0ad-6cd2-4e3d-a855-eeb5a7a3[...]
