{
  "Entries": [
    {
      "RequestUri": "/subscriptions/796c84b3-7e3b-411a-a103-157a9ba99783/providers/Microsoft.Capacity/catalogs?api-version=2019-04-01&reservedResourceType=VirtualMachines&location=westus",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14999"
        ],
        "x-ms-test": [
          "{\"contact\":\"juhle\",\"scenarios\":\"test\",\"retention\":\"7/16/2019 11:22:22 PM\"}"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "[\r\n  {\r\n    \"resourceType\": \"virtualMachines\",\r\n    \"name\": \"Standard_DS1\",\r\n    \"terms\": [\r\n      \"P1Y\",\r\n      \"P3Y\"\r\n    ],\r\n    \"locations\": [\r\n      \"westus\"\r\n    ],\r\n    \"skuProperties\": [\r\n      {\r\n        \"name\": \"Cores\",\r\n        \"value\": \"1\"\r\n      },\r\n      {\r\n        \"name\": \"RAM\",\r\n        \"value\": \"3.5\"\r\n      },\r\n      {\r\n        \"name\": \"ReservationsAutofitGroup\",\r\n        \"value\": \"DS Series\"\r\n      },\r\n      {\r\n        \"name\": \"ReservationSwappableArmSkuName\",\r\n        \"value\": \"Standard_D1\"\r\n      },\r\n      {\r\n        \"name\": \"vCpu\",\r\n        \"value\": \"1\"\r\n      },\r\n      {\r\n        \"name\": \"ProductShortName\",\r\n        \"value\": \"DS Series\"\r\n      },\r\n      {\r\n        \"name\": \"ProductTitle\",\r\n        \"value\": \"Virtual Machines DS Series\"\r\n      },\r\n      {\r\n        \"name\": \"SkuName\",\r\n        \"value\": \"DS1\"\r\n      },\r\n      {\r\n        \"name\": \"MeterId\",\r\n        \"value\": \"9a721778-24e6-40c4-a4e5-02014fd8f6ee\"\r\n      },\r\n      {\r\n        \"name\": \"MeterType\",\r\n        \"value\": \"1 Compute Hour\"\r\n      },\r\n      {\r\n        \"name\": \"SkuDisplayName\",\r\n        \"value\": \"DS1\"\r\n      }\r\n    ],\r\n    \"restrictions\": []\r\n  },\r\n  {\r\n    \"resourceType\": \"virtualMachines\",\r\n    \"name\": \"Standard_D1\",\r\n    \"terms\": [\r\n      \"P1Y\",\r\n      \"P3Y\"\r\n    ],\r\n    \"locations\": [\r\n      \"westus\"\r\n    ],\r\n    \"skuProperties\": [\r\n      {\r\n        \"name\": \"Cores\",\r\n        \"value\": \"1\"\r\n      },\r\n      {\r\n        \"name\": \"RAM\",\r\n        \"value\": \"3.5\"\r\n      },\r\n      {\r\n        \"name\": \"ReservationsAutofitGroup\",\r\n        \"value\": \"D [...]
    {
      "RequestUri": "/subscriptions/796c84b3-7e3b-411a-a103-157a9ba99783/providers/Microsoft.Capacity/catalogs?api-version=2019-04-01&reservedResourceType=SqlDatabases&location=southeastasia",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14998"
        ],
        "x-ms-test": [
          "{\"contact\":\"juhle\",\"scenarios\":\"test\",\"retention\":\"7/[...]
    {
      "RequestUri": "/subscriptions/796c84b3-7e3b-411a-a103-157a9ba99783/providers/Microsoft.Capacity/catalogs?api-version=2019-04-01&reservedResourceType=SuseLinux",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14997"
        ],
        "x-ms-test": [
          "{\"contact\":\"juhle\",\"scenarios\":\"test\",\"retention\":\"7/16/2019 11:22:28 PM\"}"
  [...]
