{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/326100e2-f69d-4268-8503-075374f62b6e?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11715"
      },
      "ResponseBody": {
        "id": "/subscriptions/326100e2-f69d-4268-8503-075374f62b6e",
        "authorizationSource": "RoleBased",
        "managedByTenants": [
          {
            "tenantId": "2f4a9838-26b7-47ee-be60-ccc1fdec5953"
          }
        ],
        "subscriptionId": "326100e2-f69d-4268-8503-075374f62b6e",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": "Azure Messaging PM Playground",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/326100e2-f69d-4268-8503-075374f62b6e/resourcegroups/testeventhubRG-7199?api-version=**",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {
          "test": "env"
        },
        "location": "eastus2"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1176"
      },
      "ResponseBody": {
        "id": "/subscriptions/326100e2-f69d-4268-8503-075374f62b6e/resourceGroups/testeventhubRG-7199",
        "name": "testeventhubRG-7199",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus2",
        "tags": {
          "test": "env"
        },
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/326100e2-f69d-4268-8503-075374f62b6e/providers/Microsoft.EventHub/checkNameAvailability?api-version=2022-10-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "testnamespacemgmt3582"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Server-SB": "Service-Bus-Resource-Provider/SN1",
        "x-ms-ratelimit-remaining-subscription-writes": "1179"
      },
      "ResponseBody": {
        "nameAvailable": true,
        "reason": "None",
        "message": null
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/326100e2-f69d-4268-8503-075374f62b6e/resourceGroups/testeventhubRG-7199/providers/Microsoft.EventHub/namespaces/testnamespacemgmt3582?api-version=2022-10-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "sku": {
          "name": "Premium"
        },
        "tags": {},
        "location": "eastus2",
        "properties": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Server-SB": "Service-Bus-Resource-Provider/SN1",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "47"
      },
      "ResponseBody": {
        "sku": {
          "name": "Premium",
          "tier": "Premium",
          "capacity": 1
        },
        "id": "/subscriptions/326100e2-f69d-4268-8503-075374f62b6e/resourceGroups/testeventhubRG-7199/providers/Microsoft.EventHub/namespaces/testnamespacemgmt3582",
        "name": "testnamespacemgmt3582",
        "type": "Microsoft.EventHub/Namespaces",
        "location": "East US 2",
        "tags": {},
        "properties": {
          "minimumTlsVersion": "1.2",
          "publicNetworkAccess": "Enabled",
          "disableLocalAuth": false,
          "zoneRedundant": true,
          "isAutoInflateEnabled": false,
          "maximumThroughputUnits": 0,
          "kafkaEnabled": true,
          "provisioningState": "Created",
          "metricId": "326100e2-f69d-4268-8503-075374f62b6e:testnamespacemgmt3582",
          "createdAt": "2023-04-15T03:30:18.373Z",
          "updatedAt": "2023-04-15T03:30:18.373Z",
          "serviceBusEndpoint": "https://testnamespacemgmt3582.servicebus.windows.net:443/",
          "status": "Activating"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/326100e2-f69d-4268-8503-075374f62b6e/providers/Microsoft.Storage?api-version=**",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11704"
      },
      "ResponseBody": {
        "id": "/subscriptions/326100e2-f69d-4268-8503-075374f62b6e/providers/Microsoft.Storage",
        "namespace": "Microsoft.Storage",
        "authorizations": [
          {
            "applicationId": "a6aa9161-5291-40bb-8c5c-923b567bee3b",
            "roleDefinitionId": "070ab87f-0efc-4423-b18b-756f3bdb0236"
          },
          {
            "applicationId": "e406a681-f3d4-42a8-90b6-c2b029497af1"
          },
          {
            "applicationId": "1609d3a1-0db2-4818-b854-fe1614f0718a"
          },
          {
            "applicationId": "05d97c70-cb7c-4e66-8138-d5ca7c59d206",
            "roleDefinitionId": "3185b772-d635-455a-8d37-0a41169c8cf9"
          }
        ],
        "resourceTypes": [
          {
            "resourceType": "storageAccounts/storageTaskAssignments",
            "locations": [
              "East US",
              "East US 2",
              "West US",
              "West Europe",
              "East Asia",
              "Southeast Asia",
              "Japan East",
              "Japan West",
              "North Central US",
              "South Central US",
              "Central US",
              "North Europe",
              "Brazil South",
              "Australia East",
              "Australia Southeast",
              "South India",
              "Central India",
              "West India",
              "Canada East",
              "Canada Central",
              "West US 2",
              "West Central US",
              "UK South",
              "UK West",
              "Korea Central",
              "Korea South",
              "France Central",
              "Australia Central",
              "South Africa North",
              "UAE North",
              "Switzerland North",
              "Germany West Central",
              "Norway East",
              "West US 3",
              "Jio India West",
              "Sweden Central",
              "Qatar Central",
              "Poland Central",
              "East US 2 EUAP",
              "Central US EUAP",
              "UAE Central",
              "Norway West"
            ],
            "apiVersions": [
              "2023-01-01",
              "2022-09-01",
              "2022-05-01",
              "2021-09-01"
            ],
            "defaultApiVersion": "2021-09-01",
            "capabilities": "None"
          },
          {
            "resourceType": "storageAccounts/encryptionScopes",
            "locations": [
              "East US",
              "East US 2",
              "West US",
              "West Europe",
              "East Asia",
              "Southeast Asia",
              "Japan East",
              "Japan West",
              "North Central US",
              "South Central US",
              "Central US",
              "North Europe",
              "Brazil South",[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/326100e2-f69d-4268-8503-075374f62b6e/resourceGroups/testeventhubRG-7199/providers/Microsoft.Storage/storageAccounts/eventhubstorage2485?api-version=2023-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "accessTier": "Hot"
        },
        "kind": "StorageV2",
        "sku": {
          "name": "Standard_LRS"
        },
        "location": "eastus2"
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "text/plain; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/326100e2-f69d-4268-8503-075374f62b6e/providers/Microsoft.Storage/locations/eastus2/asyncoperations/140324de-01e0-48fd-914a-7d5eb84dfcf3?monitor=true\u0026api-version=2023-01-01",
        "Retry-After": "17",
        "x-ms-ratelimit-remaining-subscription-writes": "1175"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/326100e2-f69d-4268-8503-075374f62b6e/providers/Microsoft.Storage/locations/eastus2/asyncoperations/140324de-01e0-48fd-914a-7d5eb84dfcf3?monitor=true\u0026api-version=2023-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "text/plain; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/326100e2-f69d-4268-8503-075374f62b6e/providers/Microsoft.Storage/locations/eastus2/asyncoperations/140324de-01e0-48fd-914a-7d5eb84dfcf3?monitor=true\u0026api-version=2023-01-01",
        "Retry-After": "17",
        "x-ms-ratelimit-remaining-subscription-reads": "11703"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/326100e2-f69d-4268-8503-075374f62b6e/providers/Microsoft.Storage/locations/eastus2/asyncoperations/140324de-01e0-48fd-914a-7d5eb84dfcf3?monitor=true\u0026api-version=2023-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ratelimit-remaining-subscription-reads": "11702"
      },
      "ResponseBody": {
        "sku": {
          "name": "Standard_LRS",
          "tier": "Standard"
        },
        "kind": "StorageV2",
        "id": "/subscriptions/326100e2-f69d-4268-8503-075374f62b6e/resourceGroups/testeventhubRG-7199/providers/Microsoft.Storage/storageAccounts/eventhubstorage2485",
        "name": "eventhubstorage2485",
        "type": "Microsoft.Storage/storageAccounts",
        "location": "eastus2",
        "tags": {},
        "properties": {
          "keyCreationTime": {
            "key1": "2023-04-15T03:32:01.3945950Z",
            "key2": "2023-04-15T03:32:01.3945950Z"
          },
          "privateEndpointConnections": [],
          "minimumTlsVersion": "TLS1_0",
          "allowBlobPublicAccess": true,
          "networkAcls": {
            "ipv6Rules": [],
            "bypass": "AzureServices",
            "virtualNetworkRules": [],
            "ipRules": [],
            "defaultAction": "Allow"
          },
          "supportsHttpsTrafficOnly": true,
          "encryption": {
            "services": {
              "file": {
                "keyType": "Account",
                "enabled": true,
                "lastEnabledTime": "2023-04-15T03:32:02.5039410Z"
              },
              "blob": {
                "keyType": "Account",
                "enabled": true,
                "lastEnabledTime": "2023-04-15T03:32:02.5039410Z"
              }
            },
            "keySource": "Microsoft.Storage"
          },
          "accessTier": "Hot",
          "provisioningState": "Succeeded",
          "creationTime": "2023-04-15T03:32:01.2852348Z",
          "primaryEndpoints": {
            "dfs": "https://eventhubstorage2485.dfs.core.windows.net/",
            "web": "https://eventhubstorage2485.z20.web.core.windows.net/",
            "blob": "https://eventhubstorage2485.blob.core.windows.net/",
            "queue": "https://eventhubstorage2485.queue.core.windows.net/",
            "table": "https://eventhubstorage2485.table.core.windows.net/",
            "file": "https://eventhubstorage2485.file.core.windows.net/"
          },
          "primaryLocation": "eastus2",
          "statusOfPrimary": "available"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/326100e2-f69d-4268-8503-075374f62b6e/resourceGroups/testeventhubRG-7199/providers/Microsoft.EventHub/namespaces/testnamespacemgmt3582/eventhubs/eventhub891?api-version=2022-10-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "partitionCount": 4,
          "status": "Active",
          "captureDescription": {
            "enabled": true,
            "encoding": "Avro",
            "intervalInSeconds": 120,
            "sizeLimitInBytes": 10485763,
            "destination": {
              "name": "EventHubArchive.AzureBlockBlob",
              "properties": {
                "storageAccountResourceId": "/subscriptions/326100e2-f69d-4268-8503-075374f62b6e/resourceGroups/testeventhubRG-7199/providers/Microsoft.Storage/storageAccounts/eventhubstorage2485",
                "blobContainer": "container",
                "archiveNameFormat": "{Namespace}/{EventHub}/{PartitionId}/{Year}/{Month}/{Day}/{Hour}/{Minute}/{Second}"
              }
            }
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1174"
      },
      "ResponseBody": {
        "id": "/subscriptions/326100e2-f69d-4268-8503-075374f62b6e/resourceGroups/testeventhubRG-7199/providers/Microsoft.EventHub/namespaces/testnamespacemgmt3582/eventhubs/eventhub891",
        "name": "eventhub891",
        "type": "Microsoft.EventHub/namespaces/eventhubs",
        "location": "eastus2",
        "properties": {
          "retentionDescription": {
            "cleanupPolicy": "Delete",
            "retentionTimeInHours": 168
          },
          "messageRetentionInDays": 7,
          "partitionCount": 4,
          "status": "Active",
          "createdAt": "2023-04-15T03:32:23.28Z",
          "updatedAt": "2023-04-15T03:32:24.857Z",
          "partitionIds": [
            "0",
            "1",
            "2",
            "3"
          ],
          "captureDescription": {
            "enabled": true,
            "encoding": "Avro",
            "destination": {
              "name": "EventHubArchive.AzureBlockBlob",
              "properties": {
                "storageAccountResourceId": "/subscriptions/326100e2-f69d-4268-8503-075374f62b6e/resourceGroups/testeventhubRG-7199/providers/Microsoft.Storage/storageAccounts/eventhubstorage2485",
                "blobContainer": "container",
                "archiveNameFormat": "{Namespace}/{EventHub}/{PartitionId}/{Year}/{Month}/{Day}/{Hour}/{Minute}/{Second}"
              }
            },
            "intervalInSeconds": 120,
            "sizeLimitInBytes": 10485763
          }
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/326100e2-f69d-4268-8503-075374f62b6e/resourceGroups/testeventhubRG-7199/providers/Microsoft.EventHub/namespaces/testnamespacemgmt3582/eventhubs/eventhub3803?api-version=2022-10-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "partitionCount": 2,
          "status": "Active",
          "retentionDescription": {
            "cleanupPolicy": "Compact",
            "retentionTimeInHours": 2,
            "tombstoneRetentionTimeInHours": 4
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1172"
      },
      "ResponseBody": {
        "id": "/subscriptions/326100e2-f69d-4268-8503-075374f62b6e/resourceGroups/testeventhubRG-7199/providers/Microsoft.EventHub/namespaces/testnamespacemgmt3582/eventhubs/eventhub3803",
        "name": "eventhub3803",
        "type": "Microsoft.EventHub/namespaces/eventhubs",
        "location": "eastus2",
        "properties": {
          "retentionDescription": {
            "cleanupPolicy": "Compact",
            "retentionTimeInHours": 2,
            "tombstoneRetentionTimeInHours": 4
          },
          "messageRetentionInDays": 9223372036854775807,
          "partitionCount": 2,
          "status": "Active",
          "createdAt": "2023-04-15T03:32:28.873Z",
          "updatedAt": "2023-04-15T03:32:29.187Z",
          "partitionIds": [
            "0",
            "1"
          ]
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/326100e2-f69d-4268-8503-075374f62b6e/resourceGroups/testeventhubRG-7199/providers/Microsoft.Storage/storageAccounts/eventhubstorage2485?api-version=2023-01-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "text/plain; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-deletes": "14987"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "RandomSeed": "2057391048",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "326100e2-f69d-4268-8503-075374f62b6e"
  }
}
