{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/61065ccc-9543-4b91-b2d1-0ce42a914507/resourceGroups/nfa-tool-ts-clisdktest-nfrg060523/providers/Microsoft.ManagedNetworkFabric/ipCommunities/nfa-tool-ts-sdk-ipCommunity062223?api-version=2023-02-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {
          "key2814": ""
        },
        "location": "eastus",
        "properties": {
          "annotation": "annotationValue",
          "action": "Permit",
          "wellKnownCommunities": [
            "Internet",
            "LocalAS",
            "NoExport",
            "GShut"
          ],
          "communityMembers": [
            "1234:5678"
          ]
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/61065ccc-9543-4b91-b2d1-0ce42a914507/providers/Microsoft.ManagedNetworkFabric/locations/EASTUS/operationStatuses/f7d17059-b2bf-42b7-b575-3886e5389ad9*1A68A72D260BE9501F254EBC5843B8B6A1BA5DFA0EB25B24259A5DE091866622?api-version=2023-02-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022ff066cba-0000-0100-0000-6493f29a0000\u0022",
        "mise-correlation-id": "646a7adc-10ce-4f21-87c9-3b2cdffacee8",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "id": "/subscriptions/61065ccc-9543-4b91-b2d1-0ce42a914507/resourceGroups/nfa-tool-ts-clisdktest-nfrg060523/providers/Microsoft.ManagedNetworkFabric/ipCommunities/nfa-tool-ts-sdk-ipCommunity062223",
        "name": "nfa-tool-ts-sdk-ipCommunity062223",
        "type": "microsoft.managednetworkfabric/ipcommunities",
        "location": "eastus",
        "tags": {
          "key2814": ""
        },
        "systemData": {
          "createdBy": "v-rmarimuthu@microsoft.com",
          "createdByType": "User",
          "createdAt": "2023-06-22T07:04:57.5760885Z",
          "lastModifiedBy": "v-rmarimuthu@microsoft.com",
          "lastModifiedByType": "User",
          "lastModifiedAt": "2023-06-22T07:04:57.5760885Z"
        },
        "properties": {
          "action": "Permit",
          "wellKnownCommunities": [
            "Internet",
            "LocalAS",
            "NoExport",
            "GShut"
          ],
          "communityMembers": [
            "1234:5678"
          ],
          "provisioningState": "Accepted",
          "annotation": "annotationValue"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/61065ccc-9543-4b91-b2d1-0ce42a914507/providers/Microsoft.ManagedNetworkFabric/locations/EASTUS/operationStatuses/f7d17059-b2bf-42b7-b575-3886e5389ad9*1A68A72D260BE9501F254EBC5843B8B6A1BA5DFA0EB25B24259A5DE091866622?api-version=2023-02-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00224304a2ef-0000-0100-0000-6493f29a0000\u0022",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "id": "/subscriptions/61065ccc-9543-4b91-b2d1-0ce42a914507/providers/Microsoft.ManagedNetworkFabric/locations/EASTUS/operationStatuses/f7d17059-b2bf-42b7-b575-3886e5389ad9*1A68A72D260BE9501F254EBC5843B8B6A1BA5DFA0EB25B24259A5DE091866622",
        "name": "f7d17059-b2bf-42b7-b575-3886e5389ad9*1A68A72D260BE9501F254EBC5843B8B6A1BA5DFA0EB25B24259A5DE091866622",
        "resourceId": "/subscriptions/61065ccc-9543-4b91-b2d1-0ce42a914507/resourceGroups/nfa-tool-ts-clisdktest-nfrg060523/providers/Microsoft.ManagedNetworkFabric/ipCommunities/nfa-tool-ts-sdk-ipCommunity062223",
        "status": "Succeeded",
        "startTime": "2023-06-22T07:04:58.4542501Z",
        "endTime": "2023-06-22T07:04:58.648098Z",
        "properties": null
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/61065ccc-9543-4b91-b2d1-0ce42a914507/resourceGroups/nfa-tool-ts-clisdktest-nfrg060523/providers/Microsoft.ManagedNetworkFabric/ipCommunities?api-version=2023-02-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-original-request-ids": [
          "9ad4e26e-41ae-441f-a48e-4a894a0b1714",
          "0eb25c0c-c3ab-4066-8579-d251fbdfbd66",
          "c1cf0cc2-3ec1-4273-99d5-5bce87cba490",
          "eadc57e8-ded2-4ffb-9770-604abdd410c5"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": "11996"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/61065ccc-9543-4b91-b2d1-0ce42a914507/resourceGroups/nfa-tool-ts-clisdktest-nfrg060523/providers/Microsoft.ManagedNetworkFabric/ipCommunities/nfa-tool-ts-sdk-ipCommunity061623",
            "name": "nfa-tool-ts-sdk-ipCommunity061623",
            "type": "microsoft.managednetworkfabric/ipcommunities",
            "location": "eastus",
            "tags": {
              "key2814": ""
            },
            "systemData": {
              "created[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/61065ccc-9543-4b91-b2d1-0ce42a914507/providers/Microsoft.ManagedNetworkFabric/ipCommunities?api-version=2023-02-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-original-request-ids": [
          "0657bc8e-8b6e-4[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/61065ccc-9543-4b91-b2d1-0ce42a914507/resourceGroups/nfa-tool-ts-clisdktest-nfrg060523/providers/Microsoft.ManagedNetworkFabric/ipCommunities/nfa-tool-ts-sdk-ipCommunity062223?api-version=2023-02-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/61065ccc-9543-4b91-b2d1-0ce42a914507/providers/Microsoft.ManagedNetworkFabric/locations/EASTUS/operationStatuses/dec78a0d-6c51-4830-abdd-8950867531ff*1A68A72D260BE9501F254EBC5843B8B6A1BA5DFA0EB25B24259A5DE091866622?api-version=2023-02-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022ff0673ba-0000-0100-0000-6493f2a20000\u0022",
        "Location": "https://management.azure.com/subscriptions/61065ccc-9543-4b91-b2d1-0ce42a914507/providers/Microsoft.ManagedNetworkFabric/locations/EASTUS/operationStatuses/dec78a0d-6c51-4830-abdd-8950867531ff*1A68A72D260BE9501F254EBC5843B8B6A1BA5DFA0EB25B24259A5DE091866622?api-version=2023-02-01-preview",
        "mise-correlation-id": "e290e26b-a178-43a1-b4a6-b642a30a4d63",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-deletes": "14999"
      },
      "ResponseBody": "null"
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/61065ccc-9543-4b91-b2d1-0ce42a914507/providers/Microsoft.ManagedNetworkFabric/locations/EASTUS/operationStatuses/dec78a0d-6c51-4830-abdd-8950867531ff*1A68A72D260BE9501F254EBC5843B8B6A1BA5DFA0EB25B24259A5DE091866622?api-version=2023-02-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00224304a5ef-0000-0100-0000-6493f2a20000\u0022",
        "x-ms-ratelimit-remaining-subscription-reads": "11994"
      },
      "ResponseBody": {
        "id": "/subscriptions/61065ccc-9543-4b91-b2d1-0ce42a914507/providers/Microsoft.ManagedNetworkFabric/locations/EASTUS/operationStatuses/dec78a0d-6c51-4830-abdd-8950867531ff*1A68A72D260BE9501F254EBC5843B8B6A1BA5DFA0EB25B24259A5DE091866622",
        "name": "dec78a0d-6c51-4830-abdd-8950867531ff*1A68A72D260BE9501F254EBC5843B8B6A1BA5DFA0EB25B24259A5DE091866622",
        "resourceId": "/subscriptions/61065ccc-9543-4b91-b2d1-0ce42a914507/resourceGroups/nfa-tool-ts-clisdktest-nfrg060523/providers/Microsoft.ManagedNetworkFabric/ipCommunities/nfa-tool-ts-sdk-ipCommunity062223",
        "status": "Succeeded",
        "startTime": "2023-06-22T07:05:06.0082809Z",
        "endTime": "2023-06-22T07:05:06.1305201Z",
        "properties": null
      }
    }
  ],
  "Variables": {
    "IP_COMMUNITY_NAME": "nfa-tool-ts-sdk-ipCommunity062223",
    "LOCATION": "eastus",
    "RandomSeed": "1196418117",
    "RESOURCE_GROUP_NAME": "nfa-tool-ts-clisdktest-nfrg060523",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "61065ccc-9543-4b91-b2d1-0ce42a914507"
  }
}
