{
  "Entries": [
    {
      "RequestUri": "https://rnpstd.file.core.windows.net/test-share-ce7726df-4e57-dc64-0617-6f4989715668?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 19 Jul 2021 09:13:10 GMT",
        "x-ms-version": "2020-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D94A956DA6DAB6\u0022",
        "Last-Modified": "Mon, 19 Jul 2021 09:13:09 GMT",
        "x-ms-version": "2020-08-04"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://rnpstd.file.core.windows.net/test-share-ce7726df-4e57-dc64-0617-6f4989715668/test-file-4d6a4da3-c15b-aaca-11b5-84d22699a607?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 19 Jul 2021 09:13:10 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2020-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D94A956DAE1F4A\u0022",
        "Last-Modified": "Mon, 19 Jul 2021 09:13:10 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2021-07-19T09:13:10.0346186Z",
        "x-ms-file-creation-time": "2021-07-19T09:13:10.0346186Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2021-07-19T09:13:10.0346186Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "17884754294986351445*10441682965902013660",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-08-04"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://rnpstd.file.core.windows.net/test-share-ce7726df-4e57-dc64-0617-6f4989715668/test-file-4d6a4da3-c15b-aaca-11b5-84d22699a607/315d8179-8980-a854-6730-5a58b705fe09?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 19 Jul 2021 09:13:10 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2020-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D94A956DB4D745\u0022",
        "Last-Modified": "Mon, 19 Jul 2021 09:13:10 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2021-07-19T09:13:10.0786501Z",
        "x-ms-file-creation-time": "2021-07-19T09:13:10.0786501Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2021-07-19T09:13:10.0786501Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "17884754294986351445*10441682965902013660",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-08-04"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://rnpstd.file.core.windows.net/test-share-ce7726df-4e57-dc64-0617-6f4989715668/test-file-4d6a4da3-c15b-aaca-11b5-84d22699a607/315d8179-8980-a854-6730-5a58b705fe09/0bb83f6a-e11e-bb61-0ec8-67785761f54e?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 19 Jul 2021 09:13:10 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2020-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D94A956DBAA4AC\u0022",
        "Last-Modified": "Mon, 19 Jul 2021 09:13:10 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2021-07-19T09:13:10.1166764Z",
        "x-ms-file-creation-time": "2021-07-19T09:13:10.1166764Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2021-07-19T09:13:10.1166764Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "17884754294986351445*10441682965902013660",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-08-04"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://rnpstd.file.core.windows.net/test-share-ce7726df-4e57-dc64-0617-6f4989715668/test-file-4d6a4da3-c15b-aaca-11b5-84d22699a607/315d8179-8980-a854-6730-5a58b705fe09/2a4b3470-6ea9-7a7f-207e-8164c0cb08c0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Mon, 19 Jul 2021 09:13:10 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2020-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D94A956DC4DFBC\u0022",
        "Last-Modified": "Mon, 19 Jul 2021 09:13:10 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2021-07-19T09:13:10.1837244Z",
        "x-ms-file-creation-time": "2021-07-19T09:13:10.1837244Z",
        "x-ms-file-id": "14988049928633188352",
        "x-ms-file-last-write-time": "2021-07-19T09:13:10.1837244Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "4055675170063113298*10441682965902013660",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-08-04"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://rnpstd.file.core.windows.net/test-share-ce7726df-4e57-dc64-0617-6f4989715668/test-file-4d6a4da3-c15b-aaca-11b5-84d22699a607/315d8179-8980-a854-6730-5a58b705fe09/2a4b3470-6ea9-7a7f-207e-8164c0cb08c0?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Mon, 19 Jul 2021 09:13:10 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2020-08-04",
        "x-ms-write": "update"
      },
      "RequestBody": "07KXZ0HMHlJoffXpiczgpw8SSErwALkqnCy2TbPc5EkJgm5SMXRldHPql1969wXqZ68FYOrGcNL5bMsVFtCfjJms4AZejnWarNTWBmhZr6Qmy\u002BYD1oNeQhKbWMWoUF2jSwvFzhf/jNg6arMW72pqoLwn7krpm7UWTZ30wjaw8Vx2M7pck\u002BGMJz8OyWzQSFKnMbgIgWETua9Wr4B5CsmiinhWoLyvDQzbmscL29JJRQVKTZF9p3D7YnkLBuRgEhx1az/zeqiW9ySsLeaZB93dDWl7L704JOIIWj1DpAYneoerlm\u002BSVctdtFVt0XqKYVucLvh65eNePEdd6x9qUlMdhLJe7nFtSreeHnpoy1NnfvjipnYNrZWjTFkoNWqs8mECUEzHK3PqLuNB28Zo9nH09WwmiKvdD9YduqEXRRVM8iwZZXsGoFKF93iSzNHO[...]
[...]
    {
      "RequestUri": "https://rnpstd.file.core.windows.net/test-share-ce7726df-4e57-dc64-0617-6f4989715668/test-file-4d6a4da3-c15b-aaca-11b5-84d22699a607/315d8179-8980-a854-6730-5a58b705fe09/0bb83f6a-e11e-bb61-0ec8-67785761f54e%5C83e75487-d3ba-a660-0454-91f53d0ed4fe",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Mon, 19 Jul 2021 09:13:10 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2020-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D94A956DD907A3\u0022",
        "Last-Modified": "Mon, 19 Jul 2021 09:13:10 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2021-07-19T09:13:10.3158179Z",
        "x-ms-file-creation-time": "2021-07-19T09:13:10.3158179Z",
        "x-ms-file-id": "17293892937846882304",
        "x-ms-file-last-write-time": "2021-07-19T09:13:10.3158179Z",
        "x-ms-file-parent-id": "16140971433240035328",
        "x-ms-file-permission-key": "4055675170063113298*10441682965902013660",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-08-04"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://rnpstd.file.core.windows.net/test-share-ce7726df-4e57-dc64-0617-6f4989715668/test-file-4d6a4da3-c15b-aaca-11b5-84d22699a607/315d8179-8980-a854-6730-5a58b705fe09/0bb83f6a-e11e-bb61-0ec8-67785761f54e%5C83e75487-d3ba-a660-0454-91f53d0ed4fe?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Mon, 19 Jul 2021 09:13:10 GMT",
        "x-ms-r[...]
[...]
    {
      "RequestUri": "https://rnpstd.file.core.windows.net/test-share-ce7726df-4e57-dc64-0617-6f4989715668/test-file-4d6a4da3-c15b-aaca-11b5-84d22699a607?restype=directory\u0026comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 19 Jul 2021 09:13:10 GMT",
        "x-ms-version": "2020-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2020-08-04"
      },
      "ResponseBody": "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CEnumerationResults ServiceEndpoint=\u0022https://rnpstd.file.core.windows.net/\u0022 ShareName=\u0022test-share-ce7726df-4e57-dc64-0617-6f4989715668\u0022 DirectoryPath=\u0022test-file-4d6a4da3-c15b-aaca-11b5-84d22699a607\u0022\u003E\u003CEntries\u003E\u003CDirectory\u003E\u003CName\u003E315d8179-8980-a854-6730-5a58b705fe09\u003C/Name\u003E\u003CProperties /\u003E\u003C/Directory\u003E\u003C/Entries\u003E\u003CNextMarker /\u003E\u003C/EnumerationResults\u003E"
    },
    {
      "RequestUri": "https://rnpstd.file.core.windows.net/test-share-ce7726df-4e57-dc64-0617-6f4989715668/test-file-4d6a4da3-c15b-aaca-11b5-84d22699a607/315d8179-8980-a854-6730-5a58b705fe09?restype=directory\u0026comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 19 Jul 2021 09:13:10 GMT",
        "x-ms-version": "2020-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders"[...]
    {
      "RequestUri": "https://rnpstd.file.core.windows.net/test-share-ce7726df-4e57-dc64-0617-6f4989715668/test-file-4d6a4da3-c15b-aaca-11b5-84d22699a607/315d8179-8980-a854-6730-5a58b705fe09/0bb83f6a-e11e-bb61-0ec8-67785761f54e?restype=directory\u0026comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 19 Jul 2021 09:13:10 GMT",
        "x-ms-version": "2020-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2020-08-04"
      },
      "ResponseBody": "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CEnumerationResults ServiceEndpoint=\u0022https://rnpstd.file.core.windows.net/\u0022 ShareName=\u0022test-share-ce7726df-4e57-dc64-0617-6f4989715668\u0022 DirectoryPath=\u0022test-file-4d6a4da3-c15b-aaca-11b5-84d22699a607/315d8179-8980-a854-6730-5a58b705fe09/0bb83f6a-e11e-bb61-0ec8-67785761f54e\u0022\u003E\u003CEntries\u003E\u003CFile\u003E\u003CName\u003E83e75487-d3ba-a660-0454-91f53d0ed4fe\u003C/Name\u003E\u003CProperties\u003E\u003CContent-Length\u003E1024\u003C/Content-Length\u003E\u003C/Properties\u003E\u003C/File\u003E\u003C/Entries\u003E\u003CNextMarker /\u003E\u003C/EnumerationResults\u003E"
    },
[...]
    {
      "RequestUri": "https://rnpstd.file.core.windows.net/test-share-ce7726df-4e57-dc64-0617-6f4989715668?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 19 Jul 2021 09:13:10 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2020-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-08-04"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "922622535",
    "Storage_TestConfigDefault": "ProductionTenant\nrnpstd\nU2FuaXRpemVk\nhttps://rnpstd.blob.core.windows.net\nhttps://rnpstd.file.core.windows.net\nhttps://rnpstd.queue.core.windows.net\nhttps://rnpstd.table.core.windows.net\n\n\n\n\nhttps://rnpstd-secondary.blob.core.windows.net\nhttps://rnpstd-secondary.file.core.windows.net\nhttps://rnpstd-secondary.queue.core.windows.net\nhttps://rnpstd-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://rnpstd.blob.core.windows.net/;QueueEndpoint=https://rnpstd.queue.core.windows.net/;FileEndpoint=https://rnpstd.file.core.windows.net/;BlobSecondaryEndpoint=https://rnpstd-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://rnpstd-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://rnpstd-secondary.file.core.windows.net/;AccountName=rnpstd;AccountKey=Kg==;\n[encryption scope]"
  }
}