{
  "Entries": [
    {
      "RequestUri": "https://rnpstd.file.core.windows.net/test-share-7eae3640-0537-eb31-af73-9f05c90029a6?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 19 Jul 2021 09:13:06 GMT",
        "x-ms-version": "2020-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D94A956B736716\u0022",
        "Last-Modified": "Mon, 19 Jul 2021 09:13:06 GMT",
        "x-ms-version": "2020-08-04"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://rnpstd.file.core.windows.net/test-share-7eae3640-0537-eb31-af73-9f05c90029a6/test-file-78d9bd2c-49bf-9d64-5e3b-05bbf5c6489d?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 19 Jul 2021 09:13:06 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2020-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D94A956B7B96D1\u0022",
        "Last-Modified": "Mon, 19 Jul 2021 09:13:06 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2021-07-19T09:13:06.3480017Z",
        "x-ms-file-creation-time": "2021-07-19T09:13:06.3480017Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2021-07-19T09:13:06.3480017Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "17884754294986351445*10441682965902013660",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-08-04"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://rnpstd.file.core.windows.net/test-share-7eae3640-0537-eb31-af73-9f05c90029a6/test-file-78d9bd2c-49bf-9d64-5e3b-05bbf5c6489d/2ecae493-5d77-3d22-55a2-1d0fd834d776?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 19 Jul 2021 09:13:06 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2020-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D94A956B83AE9D\u0022",
        "Last-Modified": "Mon, 19 Jul 2021 09:13:06 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2021-07-19T09:13:06.4010397Z",
        "x-ms-file-creation-time": "2021-07-19T09:13:06.4010397Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2021-07-19T09:13:06.4010397Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "17884754294986351445*10441682965902013660",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-08-04"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://rnpstd.file.core.windows.net/test-share-7eae3640-0537-eb31-af73-9f05c90029a6/test-file-78d9bd2c-49bf-9d64-5e3b-05bbf5c6489d/2d7fd60f-6288-7863-7b3d-cd974ab559a4",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Mon, 19 Jul 2021 09:13:06 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2020-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D94A956B90D065\u0022",
        "Last-Modified": "Mon, 19 Jul 2021 09:13:06 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2021-07-19T09:13:06.4871013Z",
        "x-ms-file-creation-time": "2021-07-19T09:13:06.4871013Z",
        "x-ms-file-id": "10376363910205800448",
        "x-ms-file-last-write-time": "2021-07-19T09:13:06.4871013Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "4055675170063113298*10441682965902013660",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-08-04"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://rnpstd.file.core.windows.net/test-share-7eae3640-0537-eb31-af73-9f05c90029a6/test-file-78d9bd2c-49bf-9d64-5e3b-05bbf5c6489d/2d7fd60f-6288-7863-7b3d-cd974ab559a4?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Mon, 19 Jul 2021 09:13:06 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2020-08-04",
        "x-ms-write": "update"
      },
      "RequestBody": "DTJi0DBxi/YL2HTFgawLISprJ2YJ6mjdiC7zn/CeC5bsjbhAcO6W07alnqlbuVPFQBlkvo8upSPJhEcCfewGbc3d2PP0yrA81VOvZEu/gs/aLV7XOkwHveeUduunk1XKnzHcfeFf0XVoKOk7f0HXCgJ4J0\u002BNLjKB1hoMX1TElEH95MUa4gTte1zpbhFiyz6mvWvpL2wGPHD\u002BW6fGU3Iho5OnPZp8vSj9iqzzpMAgHgrcZqLo22XV96hUHIddJyfpyMp\u002Bu46jKf9D66XAEpew3T2c6u3QOMgt0kbyJ6GhoGKECdz1omN8ODyipO/AFeQQpD5JwD05GY8CUOhIsQFeokpCOwm7uzvaILKxLpTYbL1h4YJiV\u002BAlS/BN8lF6NIY6QwGlftrbVekDb6CKiOv7KuQr5s9\u002B/EtqHPAZbcjpX\u002Bwrd[...]
[...]
    {
      "RequestUri": "https://rnpstd.file.core.windows.net/test-share-7eae3640-0537-eb31-af73-9f05c90029a6/test-file-78d9bd2c-49bf-9d64-5e3b-05bbf5c6489d/2ecae493-5d77-3d22-55a2-1d0fd834d776%5Cc00e3921-be46-7e72-f4e8-326ca8a594eb",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Mon, 19 Jul 2021 09:13:06 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2020-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D94A956BAE21BC\u0022",
        "Last-Modified": "Mon, 19 Jul 2021 09:13:06 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2021-07-19T09:13:06.6792380Z",
        "x-ms-file-creation-time": "2021-07-19T09:13:06.6792380Z",
        "x-ms-file-id": "12682206919419494400",
        "x-ms-file-last-write-time": "2021-07-19T09:13:06.6792380Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "4055675170063113298*10441682965902013660",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-08-04"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://rnpstd.file.core.windows.net/test-share-7eae3640-0537-eb31-af73-9f05c90029a6/test-file-78d9bd2c-49bf-9d64-5e3b-05bbf5c6489d/2ecae493-5d77-3d22-55a2-1d0fd834d776%5Cc00e3921-be46-7e72-f4e8-326ca8a594eb?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Mon, 19 Jul 2021 09:13:06 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-[...]
[...]
    {
      "RequestUri": "https://rnpstd.file.core.windows.net/test-share-7eae3640-0537-eb31-af73-9f05c90029a6/test-file-78d9bd2c-49bf-9d64-5e3b-05bbf5c6489d?restype=directory\u0026comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 19 Jul 2021 09:13:07 GMT",
        "x-ms-version": "2020-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "applicat[...]
    {
      "RequestUri": "https://rnpstd.file.core.windows.net/test-share-7eae3640-0537-eb31-af73-9f05c90029a6/test-file-78d9bd2c-49bf-9d64-5e3b-05bbf5c6489d/2ecae493-5d77-3d22-55a2-1d0fd834d776?restype=directory\u0026comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 19 Jul 2021 09:13:07 GMT",
        "x-ms-version": "2020-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2020-08-04"
      },
      "ResponseBody": "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CEnumerationResults ServiceEndpoint=\u0022https://rnpstd.file.core.windows.net/\u0022 ShareName=\u0022test-share-7eae3640-0537-eb31-af73-9f05c90029a6\u0022 DirectoryPath=\u0022test-file-78d9bd2c-49bf-9d64-5e3b-05bbf5c6489d/2ecae493-5d77-3d22-55a2-1d0fd834d776\u0022\u003E\u003CEntries\u003E\u003CFile\u003E\u003CName\u003Ec00e3921-be46-7e72-f4e8-326ca8a594eb\u003C/Name\u003E\u003CProperties\u003E\u003CContent-Length\u003E1024\u003C/Content-Length\u003E\u003C/Properties\u003E\u003C/File\u003E\u003C/Entries\u003E\u003CNextMarker /\u003E\u003C/EnumerationResults\u003E"
    },
[...]
    {
      "RequestUri": "https://rnpstd.file.core.windows.net/test-share-7eae3640-0537-eb31-af73-9f05c90029a6?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 19 Jul 2021 09:13:07 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2020-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-08-04"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "2078909740",
    "Storage_TestConfigDefault": "ProductionTenant\nrnpstd\nU2FuaXRpemVk\nhttps://rnpstd.blob.core.windows.net\nhttps://rnpstd.file.core.windows.net\nhttps://rnpstd.queue.core.windows.net\nhttps://rnpstd.table.core.windows.net\n\n\n\n\nhttps://rnpstd-secondary.blob.core.windows.net\nhttps://rnpstd-secondary.file.core.windows.net\nhttps://rnpstd-secondary.queue.core.windows.net\nhttps://rnpstd-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://rnpstd.blob.core.windows.net/;QueueEndpoint=https://rnpstd.queue.core.windows.net/;FileEndpoint=https://rnpstd.file.core.windows.net/;BlobSecondaryEndpoint=https://rnpstd-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://rnpstd-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://rnpstd-secondary.file.core.windows.net/;AccountName=rnpstd;AccountKey=Kg==;\n[encryption scope]"
  }
}