{
  "Entries": [
    {
      "RequestUri": "https://rnpstd.file.core.windows.net/test-share-d74b2ee2-d164-ade7-8492-6ff8d4f4dd5b?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 14 Jul 2021 21:48:01 GMT",
        "x-ms-version": "2020-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D947110DBA871B\u0022",
        "Last-Modified": "Wed, 14 Jul 2021 21:48:01 GMT",
        "x-ms-version": "2020-08-04"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://rnpstd.file.core.windows.net/test-share-d74b2ee2-d164-ade7-8492-6ff8d4f4dd5b/test-file-189c9e49-ed69-6f87-a919-778cf22565ff?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 14 Jul 2021 21:48:01 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2020-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D947110DCA7B89\u0022",
        "Last-Modified": "Wed, 14 Jul 2021 21:48:02 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2021-07-14T21:48:02.1025673Z",
        "x-ms-file-creation-time": "2021-07-14T21:48:02.1025673Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2021-07-14T21:48:02.1025673Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "17884754294986351445*10441682965902013660",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-08-04"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://rnpstd.file.core.windows.net/test-share-d74b2ee2-d164-ade7-8492-6ff8d4f4dd5b/test-file-189c9e49-ed69-6f87-a919-778cf22565ff/3rkutwaw.5ga?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 14 Jul 2021 21:48:02 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2020-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D947110DDC0AF9\u0022",
        "Last-Modified": "Wed, 14 Jul 2021 21:48:02 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2021-07-14T21:48:02.2176505Z",
        "x-ms-file-creation-time": "2021-07-14T21:48:02.2176505Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2021-07-14T21:48:02.2176505Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "17884754294986351445*10441682965902013660",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-08-04"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://rnpstd.file.core.windows.net/test-share-d74b2ee2-d164-ade7-8492-6ff8d4f4dd5b/test-file-189c9e49-ed69-6f87-a919-778cf22565ff/kkb4q04x.deb?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 14 Jul 2021 21:48:02 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2020-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D947110DDC5927\u0022",
        "Last-Modified": "Wed, 14 Jul 2021 21:48:02 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2021-07-14T21:48:02.2196519Z",
        "x-ms-file-creation-time": "2021-07-14T21:48:02.2196519Z",
        "x-ms-file-id": "13835093239654252544",
        "x-ms-file-last-write-time": "2021-07-14T21:48:02.2196519Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "17884754294986351445*10441682965902013660",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-08-04"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://rnpstd.file.core.windows.net/test-share-d74b2ee2-d164-ade7-8492-6ff8d4f4dd5b/test-file-189c9e49-ed69-6f87-a919-778cf22565ff/2xqwcpiz.y2f",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Wed, 14 Jul 2021 21:48:02 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2020-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D947110DF4526D\u0022",
        "Last-Modified": "Wed, 14 Jul 2021 21:48:02 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2021-07-14T21:48:02.3767661Z",
        "x-ms-file-creation-time": "2021-07-14T21:48:02.3767661Z",
        "x-ms-file-id": "11529250230440558592",
        "x-ms-file-last-write-time": "2021-07-14T21:48:02.3767661Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "4055675170063113298*10441682965902013660",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-08-04"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://rnpstd.file.core.windows.net/test-share-d74b2ee2-d164-ade7-8492-6ff8d4f4dd5b/test-file-189c9e49-ed69-6f87-a919-778cf22565ff/cxlgaf0l.pzs",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Wed, 14 Jul 2021 21:48:02 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2020-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D947110DF4526D\u0022",
        "Last-Modified": "Wed, 14 Jul 2021 21:48:02 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2021-07-14T21:48:02.3767661Z",
        "x-ms-file-creation-time": "2021-07-14T21:48:02.3767661Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2021-07-14T21:48:02.3767661Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "4055675170063113298*10441682965902013660",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-08-04"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://rnpstd.file.core.windows.net/test-share-d74b2ee2-d164-ade7-8492-6ff8d4f4dd5b/test-file-189c9e49-ed69-6f87-a919-778cf22565ff/cxlgaf0l.pzs?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 14 Jul 2021 21:48:02 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2020-08-04",
        "x-ms-write": "update"
      },
      "RequestBody": "DHSxpIiAwEKGSyLlh8EZ/GnruyqGP8kDmd2s\u002BHgEGhyPbq/WVgFYeuFKAjPax2ZLTAaZamqarsyrrgqr1MfKgTEFVhgRQqVnk0BJPDyVKdJ2YKtxarCy9cDiK6f2raYZf4EC1HFNOQpgMdcqUXGPFoU4NHMcWRaBU2BYLxf\u002BcOWZL7y7klRhKSehEDjYiKROUxQivnkz/SZqgYAQ9AryYsHxkCG104Qw1wpLekjdqMu8CtsC27JsZTGWURDUUDQdrq535/eCmX\u002BQ8uZu6IPdjNm1U\u002Bku74YOhCrwHoJzXIbVLcuaZsHTOXFbcunM/X2uuMU3H/xK7r8naWLNknr9HJZgmLq3QyYX4Rl40n2dQoesQWW8PDyJiz8Mc/xeBqf3XVVTa2XD9nWeHz3i0hxBiibbIFAUQOBZ1g17q88puNpygHQnSdYi6Uv[...]
    {
      "RequestUri": "https://rnpstd.file.core.windows.net/test-share-d74b2ee2-d164-ade7-8492-6ff8d4f4dd5b/test-file-189c9e49-ed69-6f87-a919-778cf22565ff/2xqwcpiz.y2f?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 14 Jul 2021 21:48:02 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2020-08-04",
        "x-ms-write": "update"
      },[...]
    {
      "RequestUri": "https://rnpstd.file.core.windows.net/test-share-d74b2ee2-d164-ade7-8492-6ff8d4f4dd5b/test-file-189c9e49-ed69-6f87-a919-778cf22565ff/3rkutwaw.5ga%5Cmf5yh4op.jnv",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Wed, 14 Jul 2021 21:48:02 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2020-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D947110E0C99DC\u0022",
        "Last-Modified": "Wed, 14 Jul 2021 21:48:02 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2021-07-14T21:48:02.5358812Z",
        "x-ms-file-creation-time": "2021-07-14T21:48:02.5358812Z",
        "x-ms-file-id": "10376363910205800448",
        "x-ms-file-last-write-time": "2021-07-14T21:48:02.5358812Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "4055675170063113298*10441682965902013660",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-08-04"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://rnpstd.file.core.windows.net/test-share-d74b2ee2-d164-ade7-8492-6ff8d4f4dd5b/test-file-189c9e49-ed69-6f87-a919-778cf22565ff/kkb4q04x.deb%5Cg0140ixb.egn",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Wed, 14 Jul 2021 21:48:02 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2020-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D947110E128E6A\u0022",
        "Last-Modified": "Wed, 14 Jul 2021 21:48:02 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2021-07-14T21:48:02.5749098Z",
        "x-ms-file-creation-time": "2021-07-14T21:48:02.5749098Z",
        "x-ms-file-id": "16140936248867946496",
        "x-ms-file-last-write-time": "2021-07-14T21:48:02.5749098Z",
        "x-ms-file-parent-id": "13835093239654252544",
        "x-ms-file-permission-key": "4055675170063113298*10441682965902013660",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-08-04"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://rnpstd.file.core.windows.net/test-share-d74b2ee2-d164-ade7-8492-6ff8d4f4dd5b/test-file-189c9e49-ed69-6f87-a919-778cf22565ff/3rkutwaw.5ga%5Cmf5yh4op.jnv?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 14 Jul 2021 21:48:02 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2020-08-04",
        "x-ms-write": "u[...]
    {
      "RequestUri": "https://rnpstd.file.core.windows.net/test-share-d74b2ee2-d164-ade7-8492-6ff8d4f4dd5b/test-file-189c9e49-ed69-6f87-a919-778cf22565ff/kkb4q04x.deb%5Cg0140ixb.egn?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 14 Jul 2021 21:48:02 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2020-08-04",
        "x-ms-write": "u[...]
    {
      "RequestUri": "https://rnpstd.file.core.windows.net/test-share-d74b2ee2-d164-ade7-8492-6ff8d4f4dd5b/test-file-189c9e49-ed69-6f87-a919-778cf22565ff?restype=directory\u0026comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 14 Jul 2021 21:48:02 GMT",
        "x-ms-version": "2020-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "applicat[...]
    {
      "RequestUri": "https://rnpstd.file.core.windows.net/test-share-d74b2ee2-d164-ade7-8492-6ff8d4f4dd5b/test-file-189c9e49-ed69-6f87-a919-778cf22565ff/3rkutwaw.5ga?restype=directory\u0026comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 14 Jul 2021 21:48:02 GMT",
        "x-ms-version": "2020-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2020-08-04"
      },
      "ResponseBody": "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CEnumerationResults ServiceEndpoint=\u0022https://rnpstd.file.core.windows.net/\u0022 ShareName=\u0022test-share-d74b2ee2-d164-ade7-8492-6ff8d4f4dd5b\u0022 DirectoryPath=\u0022test-file-189c9e49-ed69-6f87-a919-778cf22565ff/3rkutwaw.5ga\u0022\u003E\u003CEntries\u003E\u003CFile\u003E\u003CName\u003Emf5yh4op.jnv\u003C/Name\u003E\u003CProperties\u003E\u003CContent-Length\u003E1024\u003C/Content-Length\u003E\u003C/Properties\u003E\u003C/File\u003E\u003C/Entries\u003E\u003CNextMarker /\u003E\u003C/EnumerationResults\u003E"
    },
    {
      "RequestUri": "https://rnpstd.file.core.windows.net/test-share-d74b2ee2-d164-ade7-8492-6ff8d4f4dd5b/test-file-189c9e49-ed69-6f87-a919-778cf22565ff/kkb4q04x.deb?restype=directory\u0026comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 14 Jul 2021 21:48:02 GMT",
        "x-ms-version": "2020-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2020-08-04"
      },
      "ResponseBody": "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CEnumerationResults ServiceEndpoint=\u0022https://rnpstd.file.core.windows.net/\u0022 ShareName=\u0022test-share-d74b2ee2-d164-ade7-8492-6ff8d4f4dd5b\u0022 DirectoryPath=\u0022test-file-189c9e49-ed69-6f87-a919-778cf22565ff/kkb4q04x.deb\u0022\u003E\u003CEntries\u003E\u003CFile\u003E\u003CName\u003Eg0140ixb.egn\u003C/Name\u003E\u003CProperties\u003E\u003CContent-Length\u003E1024\u003C/Content-Length\u003E\u003C/Properties\u003E\u003C/File\u003E\u003C/Entries\u003E\u003CNextMarker /\u003E\u003C/EnumerationResults\u003E"
    },
    {
      "RequestUri": "https://rnpstd.file.core.windows.net/test-share-d74b2ee2-d164-ade7-8492-6ff8d4f4dd5b?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 14 Jul 2021 21:48:02 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2020-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-08-04"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "2082786910",
    "Storage_TestConfigDefault": "ProductionTenant\nrnpstd\nU2FuaXRpemVk\nhttps://rnpstd.blob.core.windows.net\nhttps://rnpstd.file.core.windows.net\nhttps://rnpstd.queue.core.windows.net\nhttps://rnpstd.table.core.windows.net\n\n\n\n\nhttps://rnpstd-secondary.blob.core.windows.net\nhttps://rnpstd-secondary.file.core.windows.net\nhttps://rnpstd-secondary.queue.core.windows.net\nhttps://rnpstd-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://rnpstd.blob.core.windows.net/;QueueEndpoint=https://rnpstd.queue.core.windows.net/;FileEndpoint=https://rnpstd.file.core.windows.net/;BlobSecondaryEndpoint=https://rnpstd-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://rnpstd-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://rnpstd-secondary.file.core.windows.net/;AccountName=rnpstd;AccountKey=Kg==;\n[encryption scope]"
  }
}