{
  "Entries": [
    {
      "RequestUri": "https://rnpstd.file.core.windows.net/test-share-e4c89f64-ed31-cb34-8068-271f2bcbc9b4?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 19 Jul 2021 09:13:05 GMT",
        "x-ms-version": "2020-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D94A956AFE48C2\u0022",
        "Last-Modified": "Mon, 19 Jul 2021 09:13:05 GMT",
        "x-ms-version": "2020-08-04"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://rnpstd.file.core.windows.net/test-share-e4c89f64-ed31-cb34-8068-271f2bcbc9b4/test-file-238f9779-0894-9d2d-3c3e-2dd6dc1179a0?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 19 Jul 2021 09:13:05 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2020-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D94A956B10656D\u0022",
        "Last-Modified": "Mon, 19 Jul 2021 09:13:05 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2021-07-19T09:13:05.6455021Z",
        "x-ms-file-creation-time": "2021-07-19T09:13:05.6455021Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2021-07-19T09:13:05.6455021Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "17884754294986351445*10441682965902013660",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-08-04"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://rnpstd.file.core.windows.net/test-share-e4c89f64-ed31-cb34-8068-271f2bcbc9b4/test-file-238f9779-0894-9d2d-3c3e-2dd6dc1179a0/test-file-cc8531e1-3484-0554-7866-229f2a40c8c9?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 19 Jul 2021 09:13:05 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2020-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D94A956B16F651\u0022",
        "Last-Modified": "Mon, 19 Jul 2021 09:13:05 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2021-07-19T09:13:05.6885329Z",
        "x-ms-file-creation-time": "2021-07-19T09:13:05.6885329Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2021-07-19T09:13:05.6885329Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "17884754294986351445*10441682965902013660",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-08-04"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://rnpstd.file.core.windows.net/test-share-e4c89f64-ed31-cb34-8068-271f2bcbc9b4/test-file-238f9779-0894-9d2d-3c3e-2dd6dc1179a0/test-file-cc8531e1-3484-0554-7866-229f2a40c8c9/4b7f6375-be68-7d51-d0f4-99dbdb330dbd?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 19 Jul 2021 09:13:05 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2020-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D94A956B1C9CA6\u0022",
        "Last-Modified": "Mon, 19 Jul 2021 09:13:05 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2021-07-19T09:13:05.7255590Z",
        "x-ms-file-creation-time": "2021-07-19T09:13:05.7255590Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2021-07-19T09:13:05.7255590Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "17884754294986351445*10441682965902013660",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-08-04"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://rnpstd.file.core.windows.net/test-share-e4c89f64-ed31-cb34-8068-271f2bcbc9b4/test-file-238f9779-0894-9d2d-3c3e-2dd6dc1179a0/test-file-cc8531e1-3484-0554-7866-229f2a40c8c9/4b7f6375-be68-7d51-d0f4-99dbdb330dbd/34e5ed7d-4573-3cfd-0261-b404478dc49e?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 19 Jul 2021 09:13:05 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2020-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D94A956B215875\u0022",
        "Last-Modified": "Mon, 19 Jul 2021 09:13:05 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2021-07-19T09:13:05.7565813Z",
        "x-ms-file-creation-time": "2021-07-19T09:13:05.7565813Z",
        "x-ms-file-id": "10376363910205800448",
        "x-ms-file-last-write-time": "2021-07-19T09:13:05.7565813Z",
        "x-ms-file-parent-id": "16140971433240035328",
        "x-ms-file-permission-key": "17884754294986351445*10441682965902013660",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-08-04"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://rnpstd.file.core.windows.net/test-share-e4c89f64-ed31-cb34-8068-271f2bcbc9b4/test-file-238f9779-0894-9d2d-3c3e-2dd6dc1179a0/test-file-cc8531e1-3484-0554-7866-229f2a40c8c9/4b7f6375-be68-7d51-d0f4-99dbdb330dbd/2e1ab149-39fe-1d61-9664-76c4b932aba4",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Mon, 19 Jul 2021 09:13:06 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2020-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D94A956B2C7E0A\u0022",
        "Last-Modified": "Mon, 19 Jul 2021 09:13:05 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2021-07-19T09:13:05.8296330Z",
        "x-ms-file-creation-time": "2021-07-19T09:13:05.8296330Z",
        "x-ms-file-id": "12682206919419494400",
        "x-ms-file-last-write-time": "2021-07-19T09:13:05.8296330Z",
        "x-ms-file-parent-id": "16140971433240035328",
        "x-ms-file-permission-key": "4055675170063113298*10441682965902013660",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-08-04"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://rnpstd.file.core.windows.net/test-share-e4c89f64-ed31-cb34-8068-271f2bcbc9b4/test-file-238f9779-0894-9d2d-3c3e-2dd6dc1179a0/test-file-cc8531e1-3484-0554-7866-229f2a40c8c9/4b7f6375-be68-7d51-d0f4-99dbdb330dbd/2e1ab149-39fe-1d61-9664-76c4b932aba4?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Mon, 19 Jul 2021 09:13:06 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2020-08-04",
        "x-ms-write": "update"
      },
      "RequestBody": "4j0J4Ub4UdLEtiAX6apapNVnOlvD1v0Q3UNh3\u002BoRLZuufPbf\u002Bp3VB85Y5MLJcRnAE\u002BdJWYhkUQxA\u002BQQClnLns4iFaWyzeqk4kjONavE6R2sqocsDyNQTSSvpnwGY0nBccDE5QwitDJk9EMdU1\u002BYaBbKY2PWn5Ou0ch9Aydunn7/CMfrAAANjfJQyxbcNvnJFz5pPAPl6tItFhdHobEK9lXAHkqbrWQSuNFxhdR40p7Os\u002B/pAV5/GR3xue3sxew9RdC9GBSzLWXWWocudGT9tEd4eO3FIfT7RQUoqfd6IfblMDwHu7aGH4aKEqrbTKC08AWmdEz\u002BeCfbxdcThodyWDSMSUAo\u002BfiM8l1rPw9KH/Rgc7Xx162p6rgYK/XjdpT/F7Z2Twdgj/YNFYHvkzkUkanerxLNgISG4mKE[...]
[...]
    {
      "RequestUri": "https://rnpstd.file.core.windows.net/test-share-e4c89f64-ed31-cb34-8068-271f2bcbc9b4/test-file-238f9779-0894-9d2d-3c3e-2dd6dc1179a0/test-file-cc8531e1-3484-0554-7866-229f2a40c8c9/4b7f6375-be68-7d51-d0f4-99dbdb330dbd/34e5ed7d-4573-3cfd-0261-b404478dc49e%5C7fa6f548-7a87-7782-a854-843a7bed7f76",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Mon, 19 Jul 2021 09:13:06 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2020-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D94A956B3F4628\u0022",
        "Last-Modified": "Mon, 19 Jul 2021 09:13:05 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2021-07-19T09:13:05.9527208Z",
        "x-ms-file-creation-time": "2021-07-19T09:13:05.9527208Z",
        "x-ms-file-id": "9799903157902376960",
        "x-ms-file-last-write-time": "2021-07-19T09:13:05.9527208Z",
        "x-ms-file-parent-id": "10376363910205800448",
        "x-ms-file-permission-key": "4055675170063113298*10441682965902013660",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-08-04"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://rnpstd.file.core.windows.net/test-share-e4c89f64-ed31-cb34-8068-271f2bcbc9b4/test-file-238f9779-0894-9d2d-3c3e-2dd6dc1179a0/test-file-cc8531e1-3484-0554-7866-229f2a40c8c9/4b7f6375-be68-7d51-d0f4-99dbdb330dbd/34e5ed7d-4573-3cfd-0261-b404478dc49e%5C7fa6f548-7a87-7782-a854-843a7bed7f76?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "[...]
[...]
    {
      "RequestUri": "https://rnpstd.file.core.windows.net/test-share-e4c89f64-ed31-cb34-8068-271f2bcbc9b4/test-file-238f9779-0894-9d2d-3c3e-2dd6dc1179a0?restype=directory\u0026comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 19 Jul 2021 09:13:06 GMT",
        "x-ms-version": "2020-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2020-08-04"
      },
      "ResponseBody": "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CEnumerationResults ServiceEndpoint=\u0022https://rnpstd.file.core.windows.net/\u0022 ShareName=\u0022test-share-e4c89f64-ed31-cb34-8068-271f2bcbc9b4\u0022 DirectoryPath=\u0022test-file-238f9779-0894-9d2d-3c3e-2dd6dc1179a0\u0022\u003E\u003CEntries\u003E\u003CDirectory\u003E\u003CName\u003Etest-file-cc8531e1-3484-0554-7866-229f2a40c8c9\u003C/Name\u003E\u003CProperties /\u003E\u003C/Directory\u003E\u003C/Entries\u003E\u003CNextMarker /\u003E\u003C/EnumerationResults\u003E"
    },
    {
      "RequestUri": "https://rnpstd.file.core.windows.net/test-share-e4c89f64-ed31-cb34-8068-271f2bcbc9b4/test-file-238f9779-0894-9d2d-3c3e-2dd6dc1179a0/test-file-cc8531e1-3484-0554-7866-229f2a40c8c9?restype=directory\u0026comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 19 Jul 2021 09:13:06 GMT",
        "x-ms-version": "2020-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2020-08-04"
      },
      "ResponseBody": "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CEnumerationResults ServiceEndpoint=\u0022https://rnpstd.file.core.windows.net/\u0022 ShareName=\u0022test-share-e4c89f64-ed31-cb34-8068-271f2bcbc9b4\u0022 DirectoryPath=\u0022test-file-238f9779-0894-9d2d-3c3e-2dd6dc1179a0/test-file-cc8531e1-3484-0554-7866-229f2a40c8c9\u0022\u003E\u003CEntries\u003E\u003CDirectory\u003E\u003CName\u003E4b7f6375-be68-7d51-d0f4-99dbdb330dbd\u003C/Name\u003E\u003CProperties /\u003E\u003C/Directory\u003E\u003C/Entries\u003E\u003CNextMarker /\u003E\u003C/EnumerationResults\u003E"
    },
    {
      "RequestUri": "https://rnpstd.file.core.windows.net/test-share-e4c89f64-ed31-cb34-8068-271f2bcbc9b4/test-file-238f9779-0894-9d2d-3c3e-2dd6dc1179a0/test-file-cc8531e1-3484-0554-7866-229f2a40c8c9/4b7f6375-be68-7d51-d0f4-99dbdb330dbd?restype=directory\u0026comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 19 Jul 2021 09:13:06 GMT",
        "x-ms-version": "2020-08-04"
      },
      "RequestBody": null,
 [...]
    {
      "RequestUri": "https://rnpstd.file.core.windows.net/test-share-e4c89f64-ed31-cb34-8068-271f2bcbc9b4/test-file-238f9779-0894-9d2d-3c3e-2dd6dc1179a0/test-file-cc8531e1-3484-0554-7866-229f2a40c8c9/4b7f6375-be68-7d51-d0f4-99dbdb330dbd/34e5ed7d-4573-3cfd-0261-b404478dc49e?restype=directory\u0026comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 19 Jul 2021 09:13:06 GMT",
        "x-ms-version": "2020-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2020-08-04"
      },
      "ResponseBody": "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CEnumerationResults ServiceEndpoint=\u0022https://rnpstd.file.core.windows.net/\u0022 ShareName=\u0022test-share-e4c89f64-ed31-cb34-8068-271f2bcbc9b4\u0022 DirectoryPath=\u0022test-file-238f9779-0894-9d2d-3c3e-2dd6dc1179a0/test-file-cc8531e1-3484-0554-7866-229f2a40c8c9/4b7f6375-be68-7d51-d0f4-99dbdb330dbd/34e5ed7d-4573-3cfd-0261-b404478dc49e\u0022\u003E\u003CEntries\u003E\u003CFile\u003E\u003CName\u003E7fa6f548-7a87-7782-a854-843a7bed7f76\u003C/Name\u003E\u003CProperties\u003E\u003CContent-Length\u003E1024\u003C/Content-Length\u003E\u003C/Properties\u003E\u003C/File\u003E\u003C/Entries\u003E\u003CNextMarker /\u003E\u003C/EnumerationResults\u003E"
    },
[...]
    {
      "RequestUri": "https://rnpstd.file.core.windows.net/test-share-e4c89f64-ed31-cb34-8068-271f2bcbc9b4?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 19 Jul 2021 09:13:06 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2020-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-08-04"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "657063055",
    "Storage_TestConfigDefault": "ProductionTenant\nrnpstd\nU2FuaXRpemVk\nhttps://rnpstd.blob.core.windows.net\nhttps://rnpstd.file.core.windows.net\nhttps://rnpstd.queue.core.windows.net\nhttps://rnpstd.table.core.windows.net\n\n\n\n\nhttps://rnpstd-secondary.blob.core.windows.net\nhttps://rnpstd-secondary.file.core.windows.net\nhttps://rnpstd-secondary.queue.core.windows.net\nhttps://rnpstd-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://rnpstd.blob.core.windows.net/;QueueEndpoint=https://rnpstd.queue.core.windows.net/;FileEndpoint=https://rnpstd.file.core.windows.net/;BlobSecondaryEndpoint=https://rnpstd-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://rnpstd-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://rnpstd-secondary.file.core.windows.net/;AccountName=rnpstd;AccountKey=Kg==;\n[encryption scope]"
  }
}