{
  "Entries": [
    {
      "RequestUri": "https://rnpstd.file.core.windows.net/test-share-b8fdda4f-b49f-f11c-1f41-b4fd4aaf56fa?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 19 Jul 2021 09:13:08 GMT",
        "x-ms-version": "2020-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D94A956CCC7F80\u0022",
        "Last-Modified": "Mon, 19 Jul 2021 09:13:08 GMT",
        "x-ms-version": "2020-08-04"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://rnpstd.file.core.windows.net/test-share-b8fdda4f-b49f-f11c-1f41-b4fd4aaf56fa/test-file-85cbd46c-5b20-a1c5-00ff-64606dad39cf?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 19 Jul 2021 09:13:08 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2020-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D94A956CD2D9D6\u0022",
        "Last-Modified": "Mon, 19 Jul 2021 09:13:08 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2021-07-19T09:13:08.5976022Z",
        "x-ms-file-creation-time": "2021-07-19T09:13:08.5976022Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2021-07-19T09:13:08.5976022Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "17884754294986351445*10441682965902013660",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-08-04"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://rnpstd.file.core.windows.net/test-share-b8fdda4f-b49f-f11c-1f41-b4fd4aaf56fa/test-file-85cbd46c-5b20-a1c5-00ff-64606dad39cf/test-file-a1b7b6ce-5110-f271-d609-586c49e1a923?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 19 Jul 2021 09:13:08 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2020-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D94A956CD831FD\u0022",
        "Last-Modified": "Mon, 19 Jul 2021 09:13:08 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2021-07-19T09:13:08.6326269Z",
        "x-ms-file-creation-time": "2021-07-19T09:13:08.6326269Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2021-07-19T09:13:08.6326269Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "17884754294986351445*10441682965902013660",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-08-04"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://rnpstd.file.core.windows.net/test-share-b8fdda4f-b49f-f11c-1f41-b4fd4aaf56fa/test-file-85cbd46c-5b20-a1c5-00ff-64606dad39cf/test-file-a1b7b6ce-5110-f271-d609-586c49e1a923/c30d4155-55aa-e04b-d8cb-bf144de78943?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 19 Jul 2021 09:13:08 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2020-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D94A956CDDD85B\u0022",
        "Last-Modified": "Mon, 19 Jul 2021 09:13:08 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2021-07-19T09:13:08.6696539Z",
        "x-ms-file-creation-time": "2021-07-19T09:13:08.6696539Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2021-07-19T09:13:08.6696539Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "17884754294986351445*10441682965902013660",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-08-04"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://rnpstd.file.core.windows.net/test-share-b8fdda4f-b49f-f11c-1f41-b4fd4aaf56fa/test-file-85cbd46c-5b20-a1c5-00ff-64606dad39cf/test-file-a1b7b6ce-5110-f271-d609-586c49e1a923/c30d4155-55aa-e04b-d8cb-bf144de78943/5f6e6b4f-a267-4a67-9805-a3c3d5a0a113?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 19 Jul 2021 09:13:08 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2020-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D94A956CE4DE7E\u0022",
        "Last-Modified": "Mon, 19 Jul 2021 09:13:08 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2021-07-19T09:13:08.7156862Z",
        "x-ms-file-creation-time": "2021-07-19T09:13:08.7156862Z",
        "x-ms-file-id": "10376363910205800448",
        "x-ms-file-last-write-time": "2021-07-19T09:13:08.7156862Z",
        "x-ms-file-parent-id": "16140971433240035328",
        "x-ms-file-permission-key": "17884754294986351445*10441682965902013660",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-08-04"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://rnpstd.file.core.windows.net/test-share-b8fdda4f-b49f-f11c-1f41-b4fd4aaf56fa/test-file-85cbd46c-5b20-a1c5-00ff-64606dad39cf/test-file-a1b7b6ce-5110-f271-d609-586c49e1a923/c30d4155-55aa-e04b-d8cb-bf144de78943/2733e4a4-9c85-240a-4849-c5ae8b76cd7b",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Mon, 19 Jul 2021 09:13:08 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2020-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D94A956CF02B28\u0022",
        "Last-Modified": "Mon, 19 Jul 2021 09:13:08 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2021-07-19T09:13:08.7897384Z",
        "x-ms-file-creation-time": "2021-07-19T09:13:08.7897384Z",
        "x-ms-file-id": "12682206919419494400",
        "x-ms-file-last-write-time": "2021-07-19T09:13:08.7897384Z",
        "x-ms-file-parent-id": "16140971433240035328",
        "x-ms-file-permission-key": "4055675170063113298*10441682965902013660",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-08-04"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://rnpstd.file.core.windows.net/test-share-b8fdda4f-b49f-f11c-1f41-b4fd4aaf56fa/test-file-85cbd46c-5b20-a1c5-00ff-64606dad39cf/test-file-a1b7b6ce-5110-f271-d609-586c49e1a923/c30d4155-55aa-e04b-d8cb-bf144de78943/2733e4a4-9c85-240a-4849-c5ae8b76cd7b?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Mon, 19 Jul 2021 09:13:08 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2020-08-04",
        "x-ms-write": "update"
      },
      "RequestBody": "wzN/wyme5/kjOhhKT9szrYnClWt/rDSxAED8NoiF/Wb3rbcHVbwbG8Tjlu9go4\u002BBVkons\u002B8/Txf/zcPporBxnT2xUqIkLFfNpnqmmxVEUV2xeuA9Xkp2t12gB4f5MnkTcvmyrlDtXSryWgx1mbMBu3xlOCfQMz/yO5pEgyTP1HQAkikckaMMwx21SgM9AB6qnkwLk/pSQz\u002B5v3O1qNkGI4WYdAaK5CnYWXQJG\u002Bg7tDp8meXXxEB5rk/pYtEvVxpDryd\u002BpYwXILkjMjqFSChWfgs5OQ/0L15FHsa2oIJYqAJZxmvAvQ6uZXkrs5EG9GYnkuTG9h0LT3/IOIfFYH83y4o4K4K8lsD8i9OVyHvNPylfjw2dkbLkTXbr\u002BISH6AT58\u002BgHzcjka/wjymtJdoYE\u002BvldZdFxmjnXVN4[...]
[...]
    {
      "RequestUri": "https://rnpstd.file.core.windows.net/test-share-b8fdda4f-b49f-f11c-1f41-b4fd4aaf56fa/test-file-85cbd46c-5b20-a1c5-00ff-64606dad39cf/test-file-a1b7b6ce-5110-f271-d609-586c49e1a923/c30d4155-55aa-e04b-d8cb-bf144de78943/5f6e6b4f-a267-4a67-9805-a3c3d5a0a113%5C696f35e2-61b3-0cbd-98cd-6d6d45fa7ca9",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Mon, 19 Jul 2021 09:13:09 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2020-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D94A956D04A147\u0022",
        "Last-Modified": "Mon, 19 Jul 2021 09:13:08 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2021-07-19T09:13:08.9238343Z",
        "x-ms-file-creation-time": "2021-07-19T09:13:08.9238343Z",
        "x-ms-file-id": "9799903157902376960",
        "x-ms-file-last-write-time": "2021-07-19T09:13:08.9238343Z",
        "x-ms-file-parent-id": "10376363910205800448",
        "x-ms-file-permission-key": "4055675170063113298*10441682965902013660",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-08-04"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://rnpstd.file.core.windows.net/test-share-b8fdda4f-b49f-f11c-1f41-b4fd4aaf56fa/test-file-85cbd46c-5b20-a1c5-00ff-64606dad39cf/test-file-a1b7b6ce-5110-f271-d609-586c49e1a923/c30d4155-55aa-e04b-d8cb-bf144de78943/5f6e6b4f-a267-4a67-9805-a3c3d5a0a113%5C696f35e2-61b3-0cbd-98cd-6d6d45fa7ca9?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "[...]
[...]
    {
      "RequestUri": "https://rnpstd.file.core.windows.net/test-share-b8fdda4f-b49f-f11c-1f41-b4fd4aaf56fa/test-file-85cbd46c-5b20-a1c5-00ff-64606dad39cf?restype=directory\u0026comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 19 Jul 2021 09:13:09 GMT",
        "x-ms-version": "2020-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2020-08-04"
      },
      "ResponseBody": "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CEnumerationResults ServiceEndpoint=\u0022https://rnpstd.file.core.windows.net/\u0022 ShareName=\u0022test-share-b8fdda4f-b49f-f11c-1f41-b4fd4aaf56fa\u0022 DirectoryPath=\u0022test-file-85cbd46c-5b20-a1c5-00ff-64606dad39cf\u0022\u003E\u003CEntries\u003E\u003CDirectory\u003E\u003CName\u003Etest-file-a1b7b6ce-5110-f271-d609-586c49e1a923\u003C/Name\u003E\u003CProperties /\u003E\u003C/Directory\u003E\u003C/Entries\u003E\u003CNextMarker /\u003E\u003C/EnumerationResults\u003E"
    },
    {
      "RequestUri": "https://rnpstd.file.core.windows.net/test-share-b8fdda4f-b49f-f11c-1f41-b4fd4aaf56fa/test-file-85cbd46c-5b20-a1c5-00ff-64606dad39cf/test-file-a1b7b6ce-5110-f271-d609-586c49e1a923?restype=directory\u0026comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 19 Jul 2021 09:13:09 GMT",
        "x-ms-version": "2020-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2020-08-04"
      },
      "ResponseBody": "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CEnumerationResults ServiceEndpoint=\u0022https://rnpstd.file.core.windows.net/\u0022 ShareName=\u0022test-share-b8fdda4f-b49f-f11c-1f41-b4fd4aaf56fa\u0022 DirectoryPath=\u0022test-file-85cbd46c-5b20-a1c5-00ff-64606dad39cf/test-file-a1b7b6ce-5110-f271-d609-586c49e1a923\u0022\u003E\u003CEntries\u003E\u003CDirectory\u003E\u003CName\u003Ec30d4155-55aa-e04b-d8cb-bf144de78943\u003C/Name\u003E\u003CProperties /\u003E\u003C/Directory\u003E\u003C/Entries\u003E\u003CNextMarker /\u003E\u003C/EnumerationResults\u003E"
    },
    {
      "RequestUri": "https://rnpstd.file.core.windows.net/test-share-b8fdda4f-b49f-f11c-1f41-b4fd4aaf56fa/test-file-85cbd46c-5b20-a1c5-00ff-64606dad39cf/test-file-a1b7b6ce-5110-f271-d609-586c49e1a923/c30d4155-55aa-e04b-d8cb-bf144de78943?restype=directory\u0026comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 19 Jul 2021 09:13:09 GMT",
        "x-ms-version": "2020-08-04"
      },
      "RequestBody": null,
 [...]
    {
      "RequestUri": "https://rnpstd.file.core.windows.net/test-share-b8fdda4f-b49f-f11c-1f41-b4fd4aaf56fa/test-file-85cbd46c-5b20-a1c5-00ff-64606dad39cf/test-file-a1b7b6ce-5110-f271-d609-586c49e1a923/c30d4155-55aa-e04b-d8cb-bf144de78943/5f6e6b4f-a267-4a67-9805-a3c3d5a0a113?restype=directory\u0026comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 19 Jul 2021 09:13:09 GMT",
        "x-ms-version": "2020-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2020-08-04"
      },
      "ResponseBody": "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CEnumerationResults ServiceEndpoint=\u0022https://rnpstd.file.core.windows.net/\u0022 ShareName=\u0022test-share-b8fdda4f-b49f-f11c-1f41-b4fd4aaf56fa\u0022 DirectoryPath=\u0022test-file-85cbd46c-5b20-a1c5-00ff-64606dad39cf/test-file-a1b7b6ce-5110-f271-d609-586c49e1a923/c30d4155-55aa-e04b-d8cb-bf144de78943/5f6e6b4f-a267-4a67-9805-a3c3d5a0a113\u0022\u003E\u003CEntries\u003E\u003CFile\u003E\u003CName\u003E696f35e2-61b3-0cbd-98cd-6d6d45fa7ca9\u003C/Name\u003E\u003CProperties\u003E\u003CContent-Length\u003E1024\u003C/Content-Length\u003E\u003C/Properties\u003E\u003C/File\u003E\u003C/Entries\u003E\u003CNextMarker /\u003E\u003C/EnumerationResults\u003E"
    },
[...]
    {
      "RequestUri": "https://rnpstd.file.core.windows.net/test-share-b8fdda4f-b49f-f11c-1f41-b4fd4aaf56fa?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 19 Jul 2021 09:13:09 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2020-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-08-04"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "215047611",
    "Storage_TestConfigDefault": "ProductionTenant\nrnpstd\nU2FuaXRpemVk\nhttps://rnpstd.blob.core.windows.net\nhttps://rnpstd.file.core.windows.net\nhttps://rnpstd.queue.core.windows.net\nhttps://rnpstd.table.core.windows.net\n\n\n\n\nhttps://rnpstd-secondary.blob.core.windows.net\nhttps://rnpstd-secondary.file.core.windows.net\nhttps://rnpstd-secondary.queue.core.windows.net\nhttps://rnpstd-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://rnpstd.blob.core.windows.net/;QueueEndpoint=https://rnpstd.queue.core.windows.net/;FileEndpoint=https://rnpstd.file.core.windows.net/;BlobSecondaryEndpoint=https://rnpstd-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://rnpstd-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://rnpstd-secondary.file.core.windows.net/;AccountName=rnpstd;AccountKey=Kg==;\n[encryption scope]"
  }
}