{
  "Entries": [
    {
      "RequestUri": "https://azs-net-shrejaazsearch.search.windows.net/indexes?api-version=2020-06-30",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "api-key": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "wsdjnvvp",
        "fields": [
          {
            "name": "HotelId",
            "type": "Edm.String",
            "key": true,
            "retrievable": true,
            "searchable": false,
            "filterable": true,
            "sortable": true,
            "facetable": false
          },
          {
            "name": "HotelName",
            "type": "Edm.String",
            "key": false,
            "retrievable": true,
            "searchable": true,
            "filterable": true,
            "sortable": true,
            "facetable": false
          },
          {
            "name": "Description",
            "type": "Edm.String",
            "key": false,
            "retrievable": true,
            "searchable": true,
            "filterable": false,
            "sortable": false,
            "facetable": false,
            "analyzer": "en.lucene"
          },
          {
            "name": "Tags",
            "type": "Collection(Edm.String)",
            "key": false,
            "retrievable": true,
            "searchable": true,
            "filterable": true,
            "sortable": false,
            "facetable": true
          },
          {
            "name": "Address",
            "type": "Edm.ComplexType",
            "fields": [
              {
                "name": "StreetAddress",
                "type": "Edm[...]
    {
      "RequestUri": "https://azs-net-shrejaazsearch.search.windows.net/indexes(\u0027wsdjnvvp\u0027)?api-version=2020-06-30",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "elapsed-time": "195"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "919940095",
    "SearchIndexName": "wsdjnvvp",
    "SEARCH_ADMIN_API_KEY": "Sanitized",
    "SEARCH_ENDPOINT_SUFFIX": "search.windows.net",
    "SEARCH_SERVICE_NAME": "azs-net-shrejaazsearch"
  }
}
