{
  "Entries": [
    {
      "RequestUri": "https://azs-net-shrejaazsearch.search.windows.net/indexes(\u0027kltikpql\u0027)/docs/search.index?api-version=2020-06-30",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "api-key": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "value": [
          {
            "@search.action": "upload",
            "HotelId": "783",
            "HotelName": "Upload Inn",
            "GeoLocation": null,
            "Address": null
          },
          {
            "@search.action": "merge",
            "HotelId": "12",
            "HotelName": "Renovated Ranch",
            "GeoLocation": null,
            "Address": null
          }
        ]
      },
      "StatusCode": 403,
      "ResponseHeaders": {
        "Content-Language": "en",
        "Content-Type": "application/json; charset=utf-8",
        "elapsed-time": "57",
        "Preference-Applied": "odata.include-annotations=\u0022*\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "",
          "message": "Authorization failed."
        }
      }
    },
    {
      "RequestUri": "https://azs-net-shrejaazsearch.search.windows.net/indexes(\u0027kltikpql\u0027)?api-version=2020-06-30",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "elapsed-time": "200"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "2090605161",
    "SearchIndexName": "kltikpql",
    "SEARCH_ADMIN_API_KEY": "Sanitized",
    "SEARCH_ENDPOINT_SUFFIX": "search.windows.net",
    "SEARCH_QUERY_API_KEY": "Sanitized",
    "SEARCH_SERVICE_NAME": "azs-net-shrejaazsearch"
  }
}
