{
  "Entries": [
    {
      "RequestUri": "https://azs-net-elwquphc.search.windows.net/indexes(\u0027afxaovck\u0027)/docs/search.index?api-version=2019-05-06-Preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "api-key": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "value": [
          {
            "@search.action": "upload",
            "hotelId": "783",
            "hotelName": "Upload Inn"
          },
          {
            "@search.action": "merge",
            "hotelId": "12",
            "hotelName": "Renovated Ranch"
          }
        ]
      },
      "StatusCode": 403,
      "ResponseHeaders": {
        "Content-Language": "en",
        "Content-Type": "application/json; odata.metadata=none",
        "elapsed-time": "96",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\u0022*\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "",
          "message": "Authorization failed."
        }
      }
    }
  ],
  "Variables": {
    "CLIENT_ID": "f9ab11db-b032-44b3-af0a-44713541cc40",
    "LOCATION": "westus2",
    "RandomSeed": "978400005",
    "RESOURCE_GROUP": "heaths-search",
    "SearchIndexName": "afxaovck",
    "SearchServiceName": "azs-net-elwquphc",
    "SUBSCRIPTION_ID": "faa080af-c1d8-40ad-9cce-e1a450ca5b57",
    "TENANT_ID": "72f988bf-86f1-41af-91ab-2d7cd011db47"
  }
}