{
  "Entries": [
    {
      "RequestUri": "https://azs-net-t50d8619e0b774b52.search.windows.net/indexes(\u0027irggcyth\u0027)/docs(\u002712345\u0027)?api-version=2020-06-30",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "elapsed-time": "4"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1565637229",
    "SearchIndexName": "irggcyth",
    "SEARCH_QUERY_API_KEY": "Sanitized",
    "SEARCH_SERVICE_NAME": "azs-net-t50d8619e0b774b52"
  }
}