{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/bc675d74-3b9f-48da-866a-a10149531391?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11849"
      },
      "ResponseBody": {
        "id": "/subscriptions/bc675d74-3b9f-48da-866a-a10149531391",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "subscriptionId": "bc675d74-3b9f-48da-866a-a10149531391",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": "Azure Dedicated TahomaRP-INT",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/bc675d74-3b9f-48da-866a-a10149531391/resourcegroups/testRG-4122?api-version=**",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {
          "test": "env"
        },
        "location": "australiaeast"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1196"
      },
      "ResponseBody": {
        "id": "/subscriptions/bc675d74-3b9f-48da-866a-a10149531391/resourceGroups/testRG-4122",
        "name": "testRG-4122",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "australiaeast",
        "tags": {
          "test": "env"
        },
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/bc675d74-3b9f-48da-866a-a10149531391/resourceGroups/testRG-4122/providers/Microsoft.StoragePool/diskPools/diskpool-3550?api-version=2021-08-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "sku": {
          "name": "Standard_S1"
        },
        "location": "australiaeast",
        "properties": {
          "availabilityZones": [
            "1"
          ],
          "subnetId": "/subscriptions/bc675d74-3b9f-48da-866a-a10149531391/resourceGroups/hakkaraj-rg/providers/Microsoft.Network/VirtualNetworks/diskpool-vnet-ae/subnets/default",
          "additionalCapabilities": [
            "DiskPool.SkipInfrastructureDeployment"
          ]
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-Asyncoperation": "https://management.azure.com/subscriptions/bc675d74-3b9f-48da-866a-a10149531391/providers/Microsoft.StoragePool/locations/australiaeast/operationsStatus/8019b722-6e2e-4d31-9962-e075201d2126?api-version=2021-08-01",
        "Content-Type": "application/json; charset=UTF-8",
        "Location": "https://management.azure.com/subscriptions/bc675d74-3b9f-48da-866a-a10149531391/providers/Microsoft.StoragePool/locations/australiaeast/operationresults/8019b722-6e2e-4d31-9962-e075201d2126?api-version=2021-08-01",
        "Retry-After": "10",
        "X-Ms-Async-Operation-Timeout": "PT1H",
        "x-ms-ratelimit-remaining-subscription-writes": "1195"
      },
      "ResponseBody": {
        "id": "/subscriptions/bc675d74-3b9f-48da-866a-a10149531391/resourceGroups/testRG-4122/providers/Microsoft.StoragePool/diskPools/diskpool-3550",
        "name": "diskpool-3550",
        "type": "Microsoft.StoragePool/diskPools",
        "location": "australiaeast",
        "tags": {},
        "systemData": {
          "createdBy": "39880218-c3ae-48e3-a5bf-9217521da5ad",
          "createdByType": "Application",
          "createdAt": "2022-01-24T22:29:58.81707Z",
          "lastModifiedBy": "39880218-c3ae-48e3-a5bf-9217521da5ad",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2022-01-24T22:29:58.81707Z"
        },
        "properties": {
          "availabilityZones": [
            "1"
          ],
          "subnetId": "/subscriptions/bc675d74-3b9f-48da-866a-a10149531391/resourceGroups/hakkaraj-rg/providers/Microsoft.Network/VirtualNetworks/diskpool-vnet-ae/subnets/default",
          "provisioningState": "Pending",
          "status": "Unknown",
          "additionalCapabilities": [
            "DiskPool.SkipInfrastructureDeployment"
          ]
        },
        "sku": {
          "name": "Standard_S1",
          "tier": "Standard"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/bc675d74-3b9f-48da-866a-a10149531391/providers/Microsoft.StoragePool/locations/australiaeast/operationsStatus/8019b722-6e2e-4d31-9962-e075201d2126?api-version=2021-08-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=UTF-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11848"
      },
      "ResponseBody": {
        "id": "/subscriptions/bc675d74-3b9f-48da-866a-a10149531391/locations/australiaeast/operationStatus/8019b722-6e2e-4d31-9962-e075201d2126",
        "name": "8019b722-6e2e-4d31-9962-e075201d2126",
        "status": "Running",
        "startTime": "2022-01-24T22:30:00Z",
        "endTime": ""
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/bc675d74-3b9f-48da-866a-a10149531391/resourceGroups/testRG-4122/providers/Microsoft.StoragePool/diskPools/diskpool-3550?api-version=2021-08-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "sku": {
          "name": "Standard_S1"
        },
        "tags": {
          "tag2": "value2"
        },
        "location": "australiaeast",
        "properties": {
          "availabilityZones": [
            "1"
          ],
          "subnetId": "/subscriptions/bc675d74-3b9f-48da-866a-a10149531391/resourceGroups/hakkaraj-rg/providers/Microsoft.Network/VirtualNetworks/diskpool-vnet-ae/subnets/default",
          "additionalCapabilities": [
            "DiskPool.SkipInfrastructureDeployment"
          ]
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
  [...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/bc675d74-3b9f-48da-866a-a10149531391/resourceGroups/testRG-4122/providers/Microsoft.StoragePool/diskPools/diskpool-3550/deallocate?api-version=2021-08-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-Asyncoperation": "https://management.azure.com/subscriptions/bc675d74-3b9f-48da-866a-a10149531391/providers/Microsoft.StoragePool/locations/australiaeast/operationsStatus/99758269-c370-4774-a515-5cf5ece56486?api-version=2021-08-01",
        "Content-Type": "application/json; charset=UTF-8",
        "Location": "https://management.azure.com/subscriptions/bc675d74-3b9f-48da-866a-a10149531391/providers/Microsoft.StoragePool/locations/australiaeast/operationresults/99758269-c370-4774-a515-5cf5ece56486?api-version=2021-08-01",
        "Retry-After": "10",
        "X-Ms-Async-Operation-Timeout": "PT1H",
        "x-ms-ratelimit-remaining-subscription-writes": "1197"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/bc675d74-3b9f-48da-866a-a10149531391/resourceGroups/testRG-4122/providers/Microsoft.StoragePool/diskPools/diskpool-3550/start?api-version=2021-08-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-Asyncoperation": "https://management.azure.com/subscriptions/bc675d74-3b9f-48da-866a-a10149531391/providers/Microsoft.StoragePool/locations/australiaeast/operationsStatus/e67bae32-1503-4033-8e32-c11dd61a9d15?api-version=2021-08-01",
        "Content-Type": "application/json; charset=UTF-8",
        "Location": "https://management.azure.com/subscriptions/bc675d74-3b9f-48da-866a-a10149531391/providers/Microsoft.StoragePool/locations/australiaeast/operationresults/e67bae32-1503-4033-8e32-c11dd61a9d15?api-version=2021-08-01",
        "Retry-After": "10",
        "X-Ms-Async-Operation-Timeout": "PT1H",
        "x-ms-ratelimit-remaining-subscription-writes": "1196"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/bc675d74-3b9f-48da-866a-a10149531391/resourceGroups/testRG-4122/providers/Microsoft.StoragePool/diskPools/diskpool-3550?api-version=2021-08-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=UTF-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11698"
      },
      "ResponseBody": {
        "error": {
          "code": "404",
          "message": "no such Disk pool in the resource group : not found"
        }
      }
    }
  ],
  "Variables": {
    "RandomSeed": "382670274",
    "RESOURCE_MANAGER_URL": "https://management.azure.com/",
    "SUBSCRIPTION_ID": "bc675d74-3b9f-48da-866a-a10149531391"
  }
}