{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/62e47139-66d0-4b0b-a000-1e8a412890c1/resourceGroups/azsdk/providers/Microsoft.DevCenter/projects/sdk-default-project?api-version=2022-08-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00223300266a-0000-1a00-0000-630e89b20000\u0022",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-reads": "11995"
      },
      "ResponseBody": {
        "id": "/subscriptions/62e47139-66d0-4b0b-a000-1e8a412890c1/resourceGroups/azsdk/providers/Microsoft.DevCenter/projects/sdk-default-project",
        "name": "sdk-default-project",
        "type": "microsoft.devcenter/projects",
        "location": "australiaeast",
        "systemData": {
          "createdBy": "tbyfield@microsoft.com",
          "createdByType": "User",
          "createdAt": "2022-08-30T18:12:12.8932217Z",
          "lastModifiedBy": "8788af82-a59e-490f-ba2a-2b05bf776033",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2022-08-30T22:05:33.4132328Z"
        },
        "properties": {
          "provisioningState": "Succeeded",
          "devCenterId": "/subscriptions/62e47139-66d0-4b0b-a000-1e8a412890c1/resourceGroups/azsdk/providers/Microsoft.DevCenter/devcenters/sdk-default-devcenter"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/62e47139-66d0-4b0b-a000-1e8a412890c1/resourceGroups/azsdk/providers/Microsoft.DevCenter/projects/sdk-default-project/pools/sdktest-pool?api-version=2022-08-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "australiaeast",
        "properties": {
          "devBoxDefinitionName": "sdk-default-devboxdefinition",
          "networkConnectionName": "sdk-default-networkconnection",
          "licenseType": "Windows_Client",
          "localAdministrator": "Enabled"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/62e47139-66d0-4b0b-a000-1e8a412890c1/providers/Microsoft.DevCenter/locations/AUSTRALIAEAST/operationStatuses/b1db1d32-8c77-4ab0-9f01-cdf10b3a8137*2DEAC3B865D80A0BC11E291775A31A54774AE30435511A03966E6EA993850ADF?api-version=2022-08-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00228c00bbc1-0000-1a00-0000-630e8a7b0000\u0022",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-writes": "1197",
        "X-Rate-Limit-Limit": "1m",
        "X-Rate-Limit-Remaining": "299",
        "X-Rate-Limit-Reset": "2022-08-30T22:09:51.2250374Z"
      },
      "ResponseBody": {
        "id": "/subscriptions/62e47139-66d0-4b0b-a000-1e8a412890c1/resourceGroups/azsdk/providers/Microsoft.DevCenter/projects/sdk-default-project/pools/sdktest-pool",
        "name": "sdktest-pool",
        "type": "microsoft.devcenter/projects/pools",
        "location": "australiaeast",
        "tags": {},
        "systemData": {
          "createdBy": "8788af82-a59e-490f-ba2a-2b05bf776033",
          "createdByType": "Application",
          "createdAt": "2022-08-30T22:08:49.2290345Z",
          "lastModifiedBy": "8788af82-a59e-490f-ba2a-2b05bf776033",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2022-08-30T22:08:49.2290345Z"
        },
        "properties": {
          "devBoxDefinitionName": "sdk-default-devboxdefinition",
          "networkConnectionName": "sdk-default-networkconnection",
          "licenseType": "Windows_Client",
          "localAdministrator": "Enabled",
          "provisioningState": "Accepted"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/62e47139-66d0-4b0b-a000-1e8a412890c1/providers/Microsoft.DevCenter/locations/AUSTRALIAEAST/operationStatuses/b1db1d32-8c77-4ab0-9f01-cdf10b3a8137*2DEAC3B865D80A0BC11E291775A31A54774AE30435511A03966E6EA993850ADF?api-version=2022-08-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022f802a64e-0000-1a00-0000-630e8a7a0000\u0022",
        "x-ms-ratelimit-remaining-subscription-reads": "11994"
      },
      "ResponseBody": {
        "id": "/subscriptions/62e47139-66d0-4b0b-a000-1e8a412890c1/providers/Microsoft.DevCenter/locations/AUSTRALIAEAST/operationStatuses/b1db1d32-8c77-4ab0-9f01-cdf10b3a8137*2DEAC3B865D80A0BC11E291775A31A54774AE30435511A03966E6EA993850ADF",
        "name": "b1db1d32-8c77-4ab0-9f01-cdf10b3a8137*2DEAC3B865D80A0BC11E291775A31A54774AE30435511A03966E6EA993850ADF",
        "resourceId": "/subscriptions/62e47139-66d0-4b0b-a000-1e8a412890c1/resourceGroups/azsdk/providers/Microsoft.DevCenter/projects/sdk-default-project/pools/sdktest-pool",
        "status": "Accepted",
        "startTime": "2022-08-30T22:08:58.0655323Z"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/62e47139-66d0-4b0b-a000-1e8a412890c1/resourceGroups/azsdk/providers/Microsoft.DevCenter/projects/sdk-default-project/pools?api-version=2022-08-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-original-request-ids": [
          "3e17ba22-2f4d-45a8-b7de-45b8d82396d4",
          "153a8d17-a18f-45f0-a315-200d6a479318",
          "bc1f804c-dab2-431a-b011-b603b19b19c4",
          "da576354-76e4-4f56-b8c4-af247184d037",
          "e81fd62e-954f-4286-8047-227c72ef7c86",
          "5aa8a521-6c14-4c37-a9df-c38817b0f5e0",
          "e933afb8-f9c8-4673-94a6-1636dc04e791",
          "660e52af-eebd-4409-a5ee-b48e3ac4b1f6",
          "6cd45f69-1534-45cc-8b48-1f42188edbab",
          "b37a7df4-96b3-4563-bd36-35f1b139c8db"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": "11995"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/62e47139-66d0-4b0b-a000-1e8a412890c1/resourceGroups/azsdk/providers/Microsoft.DevCenter/projects/sdk-default-project/pools/sdktest-pool",
            "name": "sdktest-pool",
            "type": "microsoft.devcenter/projects/pools",
            "location": "australiaeast",
            "tags": {},
            "systemData": {
              "createdBy": "8788af82-a59e-490f-ba2a-2b05bf776033",
              "createdByType": "Application",
              "createdAt": "2022-08-30T22:08:49.2290345Z",
              "lastModifiedBy": "8788af82-a59e-490f-ba2a-2b05bf776033",
              "lastModifiedByType": "Application",
              "lastModifiedAt": "2022-08-30T22:08:49.2290345Z"
            },
            "properties": {
              "provisioningState": "Succeeded",
              "devBoxDefinitionName": "sdk-default-devboxdefinition",
              "networkConnectionName": "sdk-default-networkconnection",
              "licenseType": "Windows_Client",
              "localAdministrator": "Enabled"
            }
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/62e47139-66d0-4b0b-a000-1e8a412890c1/resourceGroups/azsdk/providers/Microsoft.DevCenter/projects/sdk-default-project/pools/sdktest-pool?api-version=2022-08-01-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "localAdministrator": "Disabled"
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/62e47139-66d0-4b0b-a000-1e8a412890c1/providers/Microsoft.DevCenter/locations/AUSTRALIAEAST/operationStatuses/bf38a011-6699-419b-b195-06b2c5ebb56f*2DEAC3B865D80A0BC11E291775A31A54774AE30435511A03966E6EA993850ADF?api-version=2022-08-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00228c0010c5-0000-1a00-0000-630e8c230000\u0022",
        "Location": "https://management.azure.com/subscriptions/62e47139-66d0-4b0b-a000-1e8a412890c1/providers/Microsoft.DevCenter/locations/AUSTRALIAEAST/operationStatuses/bf38a011-6699-419b-b195-06b2c5ebb56f*2DEAC3B865D80A0BC11E291775A31A54774AE30435511A03966E6EA993850ADF?api-version=2022-08-01-preview",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-writes": "1198"
      },
      "ResponseBody": "null"
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/62e47139-66d0-4b0b-a000-1e8a412890c1/providers/Microsoft.DevCenter/locations/AUSTRALIAEAST/operationStatuses/5b1f99d4-5546-41fe-acb8-4988047273a7*2DEAC3B865D80A0BC11E291775A31A54774AE30435511A03966E6EA993850ADF?api-version=2022-08-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022f802f860-0000-1a00-0000-630e8cdd0000\u0022",
        "x-ms-ratelimit-remaining-subscription-reads": "11974"
      },
      "ResponseBody": {
        "id": "/subscriptions/62e47139-66d0-4b0b-a000-1e8a412890c1/providers/Microsoft.DevCenter/locations/AUSTRALIAEAST/operationStatuses/5b1f99d4-5546-41fe-acb8-4988047273a7*2DEAC3B865D80A0BC11E291775A31A54774AE30435511A03966E6EA993850ADF",
        "name": "5b1f99d4-5546-41fe-acb8-4988047273a7*2DEAC3B865D80A0BC11E291775A31A54774AE30435511A03966E6EA993850ADF",
        "resourceId": "/subscriptions/62e47139-66d0-4b0b-a000-1e8a412890c1/resourceGroups/azsdk/providers/Microsoft.DevCenter/projects/sdk-default-project/pools/sdktest-pool",
        "status": "Succeeded",
        "startTime": "2022-08-30T22:17:53.9988269Z",
        "properties": null
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com/",
    "DEFAULT_ATTACHED_NETWORK_NAME": "sdk-default-networkconnection",
    "DEFAULT_DEVCENTER_ID": "/subscriptions/62e47139-66d0-4b0b-a000-1e8a412890c1/resourceGroups/azsdk/providers/Microsoft.DevCenter/devcenters/sdk-default-devcenter",
    "DEFAULT_MARKETPLACE_DEFINITION_ID": "/subscriptions/62e47139-66d0-4b0b-a000-1e8a412890c1/resourceGroups/azsdk/providers/Microsoft.DevCenter/devcenters/sdk-default-devcenter/devboxdefinitions/sdk-default-devboxdefinition",
    "DEFAULT_NETWORKCONNECTION_ID": "/subscriptions/62e47139-66d0-4b0b-a000-1e8a412890c1/resourceGroups/azsdk/providers/Microsoft.DevCenter/networkConnections/sdk-default-networkconnection",
    "DEFAULT_PROJECT_ID": "/subscriptions/62e47139-66d0-4b0b-a000-1e8a412890c1/resourceGroups/azsdk/providers/Microsoft.DevCenter/projects/sdk-default-project",
    "LOCATION": "australiaeast",
    "RandomSeed": "857116468",
    "RESOURCE_MANAGER_URL": "https://management.azure.com/",
    "SUBSCRIPTION_ID": "62e47139-66d0-4b0b-a000-1e8a412890c1"
  }
}
