{
  "Entries": [
    {
      "RequestUri": "https://nourdocuments.blob.core.windows.net/source1318701497?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 25 Mar 2021 15:41:15 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8EFA45E23CCD4\u0022",
        "Last-Modified": "Thu, 25 Mar 2021 15:40:50 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://nourdocuments.blob.core.windows.net/source1318701497/Document1.txt",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 25 Mar 2021 15:41:17 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": "Rmlyc3QgZW5nbGlzaCB0ZXN0IGRvY3VtZW50",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "zc6asiLoUz/caxlJ6YwKxA==",
        "ETag": "\u00220x8D8EFA45E854222\u0022",
        "Last-Modified": "Thu, 25 Mar 2021 15:40:51 GMT",
        "x-ms-content-crc64": "V7knc5S52gk=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://nourdocuments.blob.core.windows.net/target2127902934?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 25 Mar 2021 15:41:18 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8EFA45EAC007B\u0022",
        "Last-Modified": "Thu, 25 Mar 2021 15:40:51 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://document-translator.cognitiveservices.azure.com/translator/text/batch/v1.0-preview.1/batches",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "inputs": [
          {
            "source": {
              "sourceUrl": "Sanitized",
              "filter": {
                "suffix": "1.txt"
              }
            },
            "targets": [
              {
                "targetUrl": "Sanitized",
                "language": "fr"
              }
            ]
          }
        ]
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Operation-Location": "https://document-translator.cognitiveservices.azure.com/translator/text/batch/v1.0-preview.1/batches/7148851c-abc6-42e1-9548-b67f4077bbe8",
        "X-RequestId": "8cd9091e-11fb-4a35-9a6f-865dbc4a41dd"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://document-translator.cognitiveservices.azure.com/translator/text/batch/v1.0-preview.1/batches/7148851c-abc6-42e1-9548-b67f4077bbe8",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00226084D082F061AEF2A53A98428B049C2CB4956B16079C83EDB5EEA0580B938F38\u0022",
        "X-RequestId": "defcd52d-fb37-41e4-89a2-69024f52c325"
      },
      "ResponseBody": {
        "id": "7148851c-abc6-42e1-9548-b67f4077bbe8",
        "createdDateTimeUtc": "2021-03-25T15:40:52.6282442",
        "lastActionDateTimeUtc": "2021-03-25T15:40:52.6282447",
        "status": "NotStarted",
        "summary": {
          "total": 0,
          "failed": 0,
          "success": 0,
          "inProgress": 0,
          "notYetStarted": 0,
          "cancelled": 0,
          "totalCharacterCharged": 0
        }
      }
    },
[...]
    {
      "RequestUri": "https://document-translator.cognitiveservices.azure.com/translator/text/batch/v1.0-preview.1/batches/7148851c-abc6-42e1-9548-b67f4077bbe8/documents",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002235133C1A921A3F9515D7EA662A3CF3541B37D0C72C7223B77ED1E5443067A2AC\u0022",
        "X-RequestId": "29246a4d-133e-42ef-9f5a-127b61cebd8e"
      },
      "ResponseBody": {
        "value": [
          {
            "path": "https://nourdocuments.blob.core.windows.net/target2127902934/Document1.txt",
            "sourcePath": "https://nourdocuments.blob.core.windows.net/source1318701497/Document1.txt",
            "createdDateTimeUtc": "2021-03-25T15:41:02.1367294",
            "lastActionDateTimeUtc": "2021-03-25T15:41:08.4950052",
            "status": "Succeeded",
            "to": "fr",
            "progress": 1,
            "id": "000005eb-0000-0000-0000-000000000000",
            "characterCharged": 27
          }
        ]
      }
    },
    {
      "RequestUri": "https://document-translator.cognitiveservices.azure.com/translator/text/batch/v1.0-preview.1/batches/7148851c-abc6-42e1-9548-b67f4077bbe8/documents",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002235133C1A921A3F9515D7EA662A3CF3541B37D0C72C7223B77ED1E5443067A2AC\u0022",
        "X-RequestId": "e7034fd1-5244-4102-b164-2a83a170d18a"
      },
      "ResponseBody": {
        "value": [
          {
            "path": "https://nourdocuments.blob.core.windows.net/target2127902934/Document1.txt",
            "sourcePath": "https://nourdocuments.blob.core.windows.net/source1318701497/Document1.txt",
            "createdDateTimeUtc": "2021-03-25T15:41:02.1367294",
            "lastActionDateTimeUtc": "2021-03-25T15:41:08.4950052",
            "status": "Succeeded",
            "to": "fr",
            "progress": 1,
            "id": "000005eb-0000-0000-0000-000000000000",
            "characterCharged": 27
          }
        ]
      }
    }
  ],
  "Variables": {
    "DOCUMENT_TRANSLATION_API_KEY": "Sanitized",
    "DOCUMENT_TRANSLATION_CONNECTION_STRING": "DefaultEndpointsProtocol=https;AccountName=nourdocuments;AccountKey=Kg==;EndpointSuffix=core.windows.net",
    "DOCUMENT_TRANSLATION_ENDPOINT": "https://document-translator.cognitiveservices.azure.com/",
    "RandomSeed": "900799615"
  }
}