{
  "Entries": [
    {
      "RequestUri": "https://mariaridoctrans29prim.blob.core.windows.net/source973090041?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 30 Mar 2021 22:10:03 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8F3C893F77FAC\u0022",
        "Last-Modified": "Tue, 30 Mar 2021 22:10:07 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://mariaridoctrans29prim.blob.core.windows.net/source973090041/Document1.txt",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 30 Mar 2021 22:10:04 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": "Rmlyc3QgZW5nbGlzaCB0ZXN0IGRvY3VtZW50",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "zc6asiLoUz/caxlJ6YwKxA==",
        "ETag": "\u00220x8D8F3C8941B4644\u0022",
        "Last-Modified": "Tue, 30 Mar 2021 22:10:07 GMT",
        "x-ms-content-crc64": "V7knc5S52gk=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://mariaridoctrans29prim.blob.core.windows.net/target889775657?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 30 Mar 2021 22:10:04 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8F3C89425EABB\u0022",
        "Last-Modified": "Tue, 30 Mar 2021 22:10:07 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://mariaridoctrans29-doctranslation.cognitiveservices.azure.com/translator/text/batch/v1.0-preview.1/batches",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "inputs": [
          {
            "source": {
              "sourceUrl": "Sanitized"
            },
            "targets": [
              {
                "targetUrl": "Sanitized",
                "language": "fr"
              }
            ]
          }
        ]
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Operation-Location": "https://mariaridoctrans29-doctranslation.cognitiveservices.azure.com/translator/text/batch/v1.0-preview.1/batches/49ed292a-34df-490c-a264-e8e5174d5b07",
        "X-RequestId": "65f40752-c34f-4525-ba86-8effb9e2d94d"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://mariaridoctrans29-doctranslation.cognitiveservices.azure.com/translator/text/batch/v1.0-preview.1/batches/49ed292a-34df-490c-a264-e8e5174d5b07",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022499E5F1D7CD05D6E8B6148E9C063169DBF234FBB04EB22E6F0CD136E2E6EBB64\u0022",
        "Retry-After": "1",
        "X-RequestId": "dc3641a2-91e8-4aae-ab56-964a13f4af8f"
      },
      "ResponseBody": {
        "id": "49ed292a-34df-490c-a264-e8e5174d5b07",
        "createdDateTimeUtc": "2021-03-30T22:10:08.3549317Z",
        "lastActionDateTimeUtc": "2021-03-30T22:10:08.3549321Z",
        "status": "NotStarted",
        "summary": {
          "total": 0,
          "failed": 0,
          "success": 0,
          "inProgress": 0,
          "notYetStarted": 0,
          "cancelled": 0,
          "totalCharacterCharged": 0
        }
      }
    },
[...]
    {
      "RequestUri": "https://mariaridoctrans29-doctranslation.cognitiveservices.azure.com/translator/text/batch/v1.0-preview.1/batches/49ed292a-34df-490c-a264-e8e5174d5b07/documents",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022AD430ED34D1590C992EEEC96D829FD88C0800BE11AC5FB15659CC07A90F00C81\u0022",
        "Retry-After": "1",
        "X-RequestId": "14414b94-3591-456a-8dd2-77d133b21f33"
      },
      "ResponseBody": {
        "value": [
          {
            "path": "https://mariaridoctrans29prim.blob.core.windows.net/target889775657/Document1.txt",
            "sourcePath": "https://mariaridoctrans29prim.blob.core.windows.net/source973090041/Document1.txt",
            "createdDateTimeUtc": "2021-03-30T22:10:12.130634Z",
            "lastActionDateTimeUtc": "2021-03-30T22:10:24.2290014Z",
            "status": "Succeeded",
            "to": "fr",
            "progress": 1,
            "id": "00003e51-0000-0000-0000-000000000000",
            "characterCharged": 27
          }
        ]
      }
    },
    {
      "RequestUri": "https://mariaridoctrans29-doctranslation.cognitiveservices.azure.com/translator/text/batch/v1.0-preview.1/batches/49ed292a-34df-490c-a264-e8e5174d5b07/documents",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022AD430ED34D1590C992EEEC96D829FD88C0800BE11AC5FB15659CC07A90F00C81\u0022",
        "Retry-After": "1",
        "X-RequestId": "246e7130-b554-4457-921f-07998579668f"
      },
      "ResponseBody": {
        "value": [
          {
            "path": "https://mariaridoctrans29prim.blob.core.windows.net/target889775657/Document1.txt",
            "sourcePath": "https://mariaridoctrans29prim.blob.core.windows.net/source973090041/Document1.txt",
            "createdDateTimeUtc": "2021-03-30T22:10:12.130634Z",
            "lastActionDateTimeUtc": "2021-03-30T22:10:24.2290014Z",
            "status": "Succeeded",
            "to": "fr",
            "progress": 1,
            "id": "00003e51-0000-0000-0000-000000000000",
            "characterCharged": 27
          }
        ]
      }
    }
  ],
  "Variables": {
    "DOCUMENT_TRANSLATION_API_KEY": "Sanitized",
    "DOCUMENT_TRANSLATION_CONNECTION_STRING": "DefaultEndpointsProtocol=https;AccountName=mariaridoctrans29prim;AccountKey=Kg==;EndpointSuffix=core.windows.net",
    "DOCUMENT_TRANSLATION_ENDPOINT": "https://mariaridoctrans29-doctranslation.cognitiveservices.azure.com",
    "RandomSeed": "475707771"
  }
}