{
  "Entries": [
    {
      "RequestUri": "/0093e900-1f14-4f8c-8273-f6c454e3b30e/locations",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2014-10-01"
        ]
      },
      "ResponseBody": "<Locations xmlns=\"http://schemas.microsoft.com/windowsazure\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n  <Location>\r\n    <Name>North Central US</Name>\r\n    <DisplayName>North Central US</DisplayName>\r\n    <AvailableServices>\r\n      <AvailableService>Compute</AvailableService>\r\n      <AvailableService>Storage</AvailableService>\r\n      <AvailableService>PersistentVMRole</AvailableService>\r\n      <AvailableService>HighMemory</AvailableService>\r\n    </AvailableServices>\r\n    <ComputeCapabilities>\r\n      <WebWorkerRoleSizes>\r\n        <RoleSize>A5</RoleSize>\r\n        <RoleSize>A6</RoleSize>\r\n        <RoleSize>A7</RoleSize>\r\n        <RoleSize>ExtraLarge</RoleSize>\r\n        <RoleSize>ExtraSmall</RoleSize>\r\n        <RoleSize>Large</RoleSize>\r\n        <RoleSize>Medium</RoleSize>\r\n        <RoleSize>Small</RoleSize>\r\n      </WebWorkerRoleSizes>\r\n      <VirtualMachinesRoleSizes>\r\n        <RoleSize>A5</RoleSize>\r\n        <RoleSize>A6</RoleSize>\r\n        <RoleSize>A7</RoleSize>\r\n        <RoleSize>Basic_A0</RoleSize>\r\n        <RoleSize>Basic_A1</RoleSize>\r\n        <RoleSize>Basic_A2</RoleSize>\r\n        <RoleSize>Basic_A3</RoleSize>\r\n        <RoleSize>Basic_A4</RoleSize>\r\n        <RoleSize>ExtraLarge</RoleSize>\r\n        <RoleSize>ExtraSmall</RoleSize>\r\n        <RoleSize>Large</RoleSize>\r\n        <RoleSize>Medium</RoleSize>\r\n        <RoleSize>Small</RoleSize>\r\n      </VirtualMachinesRoleSizes>\r\n    </ComputeCapabilities>\r\n    <StorageCapabilities>\r\n      <StorageAccountTypes>\r\n        <StorageAccountType>Premium_LRS</StorageAccountType>\r\n        <StorageAccountType>Standard_LRS</StorageAccountType>\r\n        <StorageAccountType>Standard_ZRS</StorageAccountType>\r\n        <StorageAccountType>Standard_GRS</StorageAccountType>\r\n        <StorageAccountType>Standard_RAGRS</StorageAccountType>\r\n      </StorageAccountTypes>\r\n    </StorageCapabilities>\r\n  </Location>\r\n  <Location>\r\n    <Name>West US</Name>\r\n    <DisplayName>West US</DisplayName>\r\n    <AvailableServices>\r\n      <Ava[...]
    {
      "RequestUri": "/subscriptions/0093e900-1f14-4f8c-8273-f6c454e3b30e/resourcegroups/resourcegroup276?api-version=2014-04-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"West US\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/0093e900-1f14-4f8c-8273-f6c454e3b30e/resourceGroups/resourcegroup276\",\r\n  \"name\": \"resourcegroup276\",\r\n  \"location\": \"westus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ]
      },
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/0093e900-1f14-4f8c-8273-f6c454e3b30e/resourcegroups/resourcegroup276/providers/Microsoft.DataFactory/datafactories/DataFactory203?api-version=2015-extensibility",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"name\": \"DataFactory203\",\r\n  \"location\": \"West US\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"DataFactory203\",\r\n  \"id\": \"/subscriptions/0093e900-1f14-4f8c-8273-f6c454e3b30e/resourcegroups/resourcegroup276/providers/Microsoft.DataFactory/datafactories/DataFactory203\",\r\n  \"type\": \"Microsoft.DataFactory/datafactories\",\r\n  \"location\": \"West US\",\r\n  \"tags\": null,\r\n  \"properties\": {\r\n    \"dataFactoryId\": \"ec10597c-917d-4464-bc84-a65c190a8557\",\r\n    \"provisioningState\": \"PendingCreation\",\r\n    \"error\": null,\r\n    \"errorMessage\": null\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1198"
        ],
        "Location": [
          "https://api-current.resources.windows-int.net/subscriptions/0093e900-1f14-4f8c-8273-f6c454e3b30e/resourcegroups/resourcegroup276/providers/Microsoft.DataFactory/datafactories/DataFactory203?api-version=2015-extensibility"
        ]
      },
      "StatusCode": 201
    },
[...]
    {
      "RequestUri": "/subscriptions/0093e900-1f14-4f8c-8273-f6c454e3b30e/resourcegroups/resourcegroup276/providers/Microsoft.DataFactory/datafactories/DataFactory203/linkedservices/LinkedService-WikipediaClickEvents?api-version=2015-extensibility",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"name\": \"LinkedService-WikipediaClickEvents\",\r\n  \"properties\": {\r\n    \"type\": \"AzureStorageLinkedService\",\r\n    \"typeProperties\": {\r\n      \"connectionString\": \"DefaultEndpointsProtocol=https;AccountName=mdpbvthadoopstore;AccountKey=**********\"\r\n    }\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/0093e900-1f14-4f8c-8273-f6c454e3b30e/resourcegroups/resourcegroup276/providers/Microsoft.DataFactory/datafactories/DataFactory203/linkedservices/LinkedService-WikipediaClickEvents\",\r\n  \"name\": \"LinkedService-WikipediaClickEvents\",\r\n  \"properties\": {\r\n    \"hubName\": \"datafactory203_hub\",\r\n    \"type\": \"AzureStorageLinkedService\",\r\n    \"typeProperties\": {\r\n      \"connectionString\": \"DefaultEndpointsProtocol=https;AccountName=mdpbvthadoopstore;AccountKey=**********\"\r\n    },\r\n    \"provisioningState\": \"PendingCreation\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1197"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/0093e900-1f14-4f8c-8273-f6c454e3b30e/resourcegroups/resourcegroup276/providers/Microsoft.DataFactory/datafactories/DataFactory203/linkedservices/LinkedService-CuratedWikiData?api-version=2015-extensibility",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"name\": \"LinkedService-CuratedWikiData\",\r\n  \"properties\": {\r\n    \"type\": \"AzureStorageLinkedService\",\r\n    \"typeProperties\": {\r\n      \"connectionString\": \"DefaultEndpoi[...]
[...]
    {
      "RequestUri": "/subscriptions/0093e900-1f14-4f8c-8273-f6c454e3b30e/resourcegroups/resourcegroup276/providers/Microsoft.DataFactory/datafactories/DataFactory203/linkedservices/LinkedService-WikiAggregatedData?api-version=2015-extensibility",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"name\": \"LinkedService-WikiAggregatedData\",\r\n  \"properties\": {\r\n    \"type\": \"AzureSqlLinkedService\",\r\n    \"typeProperties\": {\r\n      \"connectionString\": \"Server=tcp:[...]
[...]
    {
      "RequestUri": "/subscriptions/0093e900-1f14-4f8c-8273-f6c454e3b30e/resourcegroups/resourcegroup276/providers/Microsoft.DataFactory/datafactories/DataFactory203/linkedservices/HDILinkedService?api-version=2015-extensibility",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"name\": \"HDILinkedService\",\r\n  \"properties\": {\r\n    \"type\": \"HDInsightBYOCLinkedService\",\r\n    \"typeProperties\": {\r\n      \"clusterUri\": \"https://test1.azurehdinsight.net/\",\r\n      \"userName\": \"admin\",\r\n      \"password\": \"ShakeRattleRoll!2012\",\r\n      \"linkedServiceName\": \"LinkedService-CuratedWikiData\"\r\n    }\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/0093e900-1f14-4f8c-8273-f6c454e3b30e/resourcegroups/resourcegroup276/providers/Microsoft.DataFactory/datafactories/DataFactory203/linkedservices/HDILinkedService\",\r\n  \"name\": \"HDILinkedService\",\r\n  \"properties\": {\r\n    \"hubName\": \"datafactory203_hub\",\r\n    \"type\": \"HDInsightBYOCLinkedService\",\r\n    \"typeProperties\": {\r\n      \"clusterUri\": \"https://test1.azurehdinsight.net/\",\r\n      \"userName\": \"admin\",\r\n      \"password\": \"**********\",\r\n      \"storageAccountName\": null,\r\n      \"storageAccountKey\": null,\r\n      \"location\": null,\r\n      \"linkedServiceName\": \"LinkedService-CuratedWikiData\",\r\n      \"hcatalog\": null\r\n    },\r\n    \"provisioningState\": \"PendingCreation\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1194"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/0093e900-1f14-4f8c-8273-f6c454e3b30e/resourcegroups/resourcegroup276/providers/Microsoft.DataFactory/datafactories/DataFactory203/tables/DA_WikiAggregatedData?api-version=2015-extensibility",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"name\": \"DA_WikiAggregatedData\",\r\n  \"properties\": {\r\n    \"type\": \"AzureSqlTableLocation\",\r\n    \"typeProperties\": {\r\n      \"tableName\": \"wikiaggregateddata\"\r\n    },\r\n    \"linkedServiceName\": \"LinkedService-WikiAggregatedData\",\r\n    \"structure\": [\r\n      {\r\n        \"name\": \"slicetimestamp\",\r\n        \"position\": 0,\r\n        \"type\": \"String\"\r\n      },\r\n      {\r\n        \"name\": \"projectname\",\r\n        \"position\": 1,\r\n        \"type\": \"String\"\r\n      },\r\n      {\r\n        \"name\": \"hits\",\r\n        \"position\": 2,\r\n        \"type\": \"Decimal\"\r\n      }\r\n    ],\r\n    \"availability\": {\r\n      \"frequency\": \"Hour\",\r\n      \"interval\": 1\r\n    },\r\n    \"policy\": {\r\n      \"validation\": {\r\n        \"minimumRows\": 10\r\n      }\r\n    }\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"DA_WikiAggregatedData\",\r\n  \"id\": \"/subscriptions/0093e900-1f14-4f8c-8273-f6c454e3b30e/resourcegroups/resourcegroup276/providers/Microsoft.DataFactory/datafactories/DataFactory203/tables/DA_WikiAggregatedData\",\r\n  \"properties\": {\r\n    \"structure\": [\r\n      {\r\n        \"position\": 0,\r\n        \"name\": \"slicetimestamp\",\r\n        \"type\": \"String\"\r\n      },\r\n      {\r\n        \"position\": 1,\r\n        \"name\": \"projectname\",\r\n        \"type\": \"String\"\r\n      },\r\n      {\r\n        \"position\": 2,\r\n        \"name\": \"hits\",\r\n        \"type\": \"Decimal\"\r\n      }\r\n    ],\r\n    \"published\": false,\r\n    \"type\": \"AzureSqlTableLocation\",\r\n    \"linkedServiceName\": \"LinkedService-WikiAggregatedData\",\r\n    \"typeProperties\": {\r\n      \"tableName\": \"wikiaggregateddata\"\r\n    },\r\n    \"availability\": {\r\n      \"frequency\": \"Hour\",\r\n      \"interval\": 1,\r\n      \"waitOnExternal\": null\r\n    },\r\n    \"policy\": {\r\n      \"validation\": {\r\n        \"minimumRows\": 10\r\n      }\r\n    },\r\n    \"createTime\": \"2015-05-04T21:19:52.9574776Z\",\r\n    \"provisioningState\": \"PendingCreation\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1193"
        ],
        "Location": [
          "https://api-current.resources.windows-int.net/subscriptions/0093e900-1f14-4f8c-8273-f6c454e3b30e/resourcegroups/resourcegroup276/providers/Microsoft.DataFactory/datafactories/DataFactory203/tables/DA_WikiAggregatedData?api-version=2015-extensibility"
        ]
      },
      "StatusCode": 201
    },
[...]
    {
      "RequestUri": "/subscriptions/0093e900-1f14-4f8c-8273-f6c454e3b30e/resourcegroups/resourcegroup276/providers/Microsoft.DataFactory/datafactories/DataFactory203/tables/DA_CuratedWikiData?api-version=2015-extensibility",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"name\": \"DA_CuratedWikiData\",\r\n  \"properties\": {\r\n    \"type\": \"AzureBlobLocation\",\r\n    \"typeProperties\": {\r\n      \"folderPath\": \"wikidatagateway/wikisampledataout/runtime={Slice}\",\r\n      \"partitionedBy\": [\r\n        {\r\n          \"name\": \"Slice\",\r\n          \"value\": {\r\n            \"type\": \"DateTime\",\r\n            \"date\": \"SliceStart\",\r\n            \"format\": \"yyyyMMddHH\"\r\n          }\r\n        }\r\n      ]\r\n    },\r\n    \"linkedServiceName\": \"LinkedService-CuratedWikiData\",\r\n    \"structure\": [\r\n      {\r\n        \"name\": \"slicetimestamp\",\r\n        \"position\": 0,\r\n        \"type\": \"String\"\r\n      },\r\n      {\r\n        \"name\": \"projectname\",\r\n        \"position\": 1,\r\n        \"type\": \"String\"\r\n      },\r\n      {\r\n        \"name\": \"pageviews\",\r\n        \"position\": 2,\r\n        \"type\": \"Dec[...]
[...]
    {
      "RequestUri": "/subscriptions/0093e900-1f14-4f8c-8273-f6c454e3b30e/resourcegroups/resourcegroup276/providers/Microsoft.DataFactory/datafactories/DataFactory203/tables/DA_WikipediaClickEvents?api-version=2015-extensibility",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"name\": \"DA_WikipediaClickEvents\",\r\n  \"properties\": {\r\n    \"type\": \"AzureBlobLocation\",\r\n    \"typeProperties\": {\r\n      \"folderPath\": \"wikidatagateway/wikisampledatain/\"\r\n    },\r\n    \"linkedServiceName\": \"LinkedService-WikipediaClickEvents\",\r\n    \"availability\": {\r\n      \"frequency\": \"Hour\",\r\n      \"interval\": 1,\r\n      \"waitOnExternal\": {\r\n        \"retryInterval\": \"00:01:00\",\r\n        \"retryTimeout\": \"00:10:00\",\r\n        \"maximumRetry\": 3\r\n      }\r\n    },\r\n    \"policy\": {\r\n      \"validation\": {\r\n        \"minimumSizeMB\": 1.0\r\n      }\r\n    }\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"DA_WikipediaClickEvents\",\r\n  \"id\": \"/subscriptions/0093e900-1f14-4f8c-8273-f6c454e3b30e/resourcegroups/resourcegroup276/providers/Microsoft.DataFactory/datafactories/DataFactory203/tables/DA_WikipediaClickEvents\",\r\n  \"properties\": {\r\n    \"published\": false,\r\n    \"type\": \"AzureBlobLocation\",\r\n   [...]
[...]
    {
      "RequestUri": "/subscriptions/0093e900-1f14-4f8c-8273-f6c454e3b30e/resourcegroups/resourcegroup276/providers/Microsoft.DataFactory/datafactories/DataFactory203/datapipelines/DP_Wikipedia2598?api-version=2015-extensibility",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"name\": \"DP_WikipediaSamplePipeline\",\r\n  \"properties\": {\r\n    \"description\": \"DP Wikipedia Sample Pipelines\",\r\n    \"activities\": [\r\n      {\r\n        \"name\": \"WikiHiveActivity\",\r\n        \"inputs\": [\r\n          {\r\n            \"name\": \"DA_WikipediaClickEvents\"\r\n          }\r\n        ],\r\n        \"outputs\": [\r\n          {\r\n            \"name\": \"DA_CuratedWikiData\"\r\n          }\r\n        ],\r\n        \"linkedServiceName\": \"HDILinkedService\",\r\n        \"type\": \"HDInsightHiveActivity\",\r\n        \"typeProperties\": {\r\n          \"script\": \"$$Text.Format('CREATE EXTERNAL TABLE IF NOT EXISTS values2 (projectname string, title string, pageviews string, bytestransfer string) ROW FORMAT DELIMITED FIELDS TERMINATED BY \\\\' \\\\' LINES TERMINATED BY \\\\'10\\\\' STORED AS TEXTFILE LOCATION \\\\'wasb://wikidatagateway@mdpbvthadoopstore.blob.core.windows.net/wikisampledatain\\\\'; CREATE EXTERNAL TABLE IF NOT EXISTS stats2 (slicetimestamp string, projectname string, pageviews string) PARTITIONED BY (runtime STRING) ROW FORMAT DELIMITED[...]
[...]
    {
      "RequestUri": "/subscriptions/0093e900-1f14-4f8c-8273-f6c454e3b30e/resourcegroups/resourcegroup276/providers/Microsoft.DataFactory/datafactories/DataFactory203/datapipelines/DP_Wikipedia2598/update?start=2014-10-08T08:00:00&end=2014-10-08T10:00:00&autoResolve=false&forceRecalc=false&api-version=2015-extensibility",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1189"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/0093e900-1f14-4f8c-8273-f6c454e3b30e/resourcegroups/resourcegroup276/providers/Microsoft.DataFactory/datafactories/DataFactory203/tables/DA_WikiAggregatedData/slices?start=2014-10-08T08:00:00&end=2014-10-08T10:00:00&api-version=2015-extensibility",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"status\": \"PendingExecution\",\r\n      \"latencyStatus\": null,\r\n      \"retryCount\": 0,\r\n      \"longRetryCount\": 0,\r\n      \"statusUpdateTimestamp\": \"2015-05-04T21:20:22.7132565Z\",\r\n      \"start\": \"2014-10-08T08:00:00Z\",\r\n      \"end\": \"2014-10-08T09:00:00Z\"\r\n    },\r\n    {\r\n      \"status\": \"PendingExecution\",\r\n      \"latencyStatus\": null,\r\n      \"retryCount\": 0,\r\n      \"longRetryCount\": 0,\r\n      \"statusUpdateTimestamp\": \"2015-05-04T21:20:22.7132565Z\",\r\n      \"start\": \"2014-10-08T09:00:00Z\",\r\n      \"end\": \"2014-10-08T10:00:00Z\"\r\n    }\r\n  ]\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "31431"
        ]
      },
      "StatusCode": 200
    }
  ],
  "Names": {
    "WikipediaPipelineTest": [
      "resourcegroup276",
      "DataFactory203",
      "DP_Wikipedia2598"
    ]
  },
  "Variables": {
    "SubscriptionId": "0093e900-1f14-4f8c-8273-f6c454e3b30e"
  }
}