{
  "Entries": [
    {
      "RequestUri": "https://lyshi-sdk-ledger-2.eastus.cloudapp.azure.com/app/users/3c1303ad-140b-493c-ab45-bed8ddbfa72c?api-version=0.1-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ccf-transaction-id": "8.4165"
      },
      "ResponseBody": {
        "assignedRole": "Administrator",
        "userId": "3c1303ad-140b-493c-ab45-bed8ddbfa72c"
      }
    }
  ],
  "Variables": {
    "CONFIDENTIALLEDGER_CLIENT_OBJECTID": "3c1303ad-140b-493c-ab45-bed8ddbfa72c",
    "CONFIDENTIALLEDGER_IDENTITY_URL": "https://identity.accledger.azure.com",
    "CONFIDENTIALLEDGER_URL": "https://lyshi-sdk-ledger-2.eastus.cloudapp.azure.com",
    "RandomSeed": "290388264"
  }
}