{
  "Entries": [
    {
      "RequestUri": "https://login.microsoftonline.com/c54fac88-3dd3-461f-a7c4-8a368e0340b3/oauth2/v2.0/token",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/x-www-form-urlencoded",
        "return-client-request-id": "true",
        "x-app-name": "UnknownClient",
        "x-app-ver": "0.0.0.0",
        "x-client-current-telemetry": "2|1001,0|",
        "x-client-last-telemetry": "2|0|||",
        "x-client-OS": "Microsoft Windows 10.0.19042",
        "x-client-SKU": "MSAL.NetCore",
        "x-client-Ver": "4.23.0.0",
        "x-ms-lib-capability": "retry-after, h429",
        "x-ms-PKeyAuth": "1.0"
      },
      "RequestBody": "Sanitized",
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": "invalid_grant",
        "error_description": "AADSTS9002313: Invalid request. Request is malformed or invalid.\r\nTrace ID: d0328f82-572e-40d5-8664-a0a89d030600\r\nCorrelation ID: e1c18997-e101-4b83-914f-c02f7835c6e7\r\nTimestamp: 2021-02-05 20:02:07Z",
        "error_codes": [
          9002313
        ],
        "timestamp": "2021-02-05 20:02:07Z",
        "trace_id": "d0328f82-572e-40d5-8664-a0a89d030600",
        "correlation_id": "e1c18997-e101-4b83-914f-c02f7835c6e7",
        "error_uri": "https://login.microsoftonline.com/error?code=9002313",
        "suberror": "bad_token"
      }
    }
  ],
  "Variables": {
    "AZURE_IDENTITY_TEST_TENANTID": "c54fac88-3dd3-461f-a7c4-8a368e0340b3",
    "RandomSeed": "608052039",
    "TENANT_ID": null
  }
}