{
  "Entries": [
    {
      "RequestUri": "https://login.microsoftonline.com/c54fac88-3dd3-461f-a7c4-8a368e0340b3/oauth2/v2.0/token",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/x-www-form-urlencoded",
        "return-client-request-id": "true",
        "x-app-name": "UnknownClient",
        "x-app-ver": "0.0.0.0",
        "x-client-CPU": "x64",
        "x-client-current-telemetry": "2|1001,0|,,0,,,,1",
        "x-client-last-telemetry": "2|0|||",
        "x-client-OS": "Microsoft Windows NT 10.0.19042.0",
        "x-client-SKU": "MSAL.Desktop",
        "x-client-Ver": "4.25.0.0",
        "x-ms-lib-capability": "retry-after, h429"
      },
      "RequestBody": "Sanitized",
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": "invalid_grant",
        "error_description": "AADSTS9002313: Invalid request. Request is malformed or invalid.\r\nTrace ID: 6998c804-a6c5-4a42-b5af-ac3de263b600\r\nCorrelation ID: 6b103106-3301-4bd0-a004-f10434fbf951\r\nTimestamp: 2021-01-29 23:46:02Z",
        "error_codes": [
          9002313
        ],
        "timestamp": "2021-01-29 23:46:02Z",
        "trace_id": "6998c804-a6c5-4a42-b5af-ac3de263b600",
        "correlation_id": "6b103106-3301-4bd0-a004-f10434fbf951",
        "error_uri": "https://login.microsoftonline.com/error?code=9002313",
        "suberror": "bad_token"
      }
    }
  ],
  "Variables": {
    "AZURE_IDENTITY_TEST_TENANTID": "c54fac88-3dd3-461f-a7c4-8a368e0340b3",
    "RandomSeed": "608052039",
    "TENANT_ID": null
  }
}