{
  "Entries": [
    {
      "RequestUri": "https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47/oauth2/v2.0/token",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "return-client-request-id": "true",
        "x-app-name": "UnknownClient",
        "x-app-ver": "0.0.0.0",
        "x-client-current-telemetry": "2|1001,0|",
        "x-client-last-telemetry": "2|0|||",
        "x-client-OS": "Microsoft Windows 10.0.18363 ",
        "x-client-SKU": "MSAL.NetCore",
        "x-client-Ver": "4.16.1.0",
        "x-ms-lib-capability": "retry-after, h429",
        "x-ms-PKeyAuth": "1.0"
      },
      "RequestBody": "U2FuaXRpemVk",
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": "invalid_grant",
        "error_description": "AADSTS9002313: Invalid request. Request is malformed or invalid.\r\nTrace ID: 0dbd2625-cf57-44e4-be14-bd5f3991f900\r\nCorrelation ID: 14c90689-4082-429c-b924-d3a5facdd620\r\nTimestamp: 2020-07-16 07:51:31Z",
        "error_codes": [
          9002313
        ],
        "timestamp": "2020-07-16 07:51:31Z",
        "trace_id": "0dbd2625-cf57-44e4-be14-bd5f3991f900",
        "correlation_id": "14c90689-4082-429c-b924-d3a5facdd620",
        "error_uri": "https://login.microsoftonline.com/error?code=9002313",
        "suberror": "bad_token"
      }
    }
  ],
  "Variables": {
    "RandomSeed": "1716890069",
    "TENANT_ID": "72f988bf-86f1-41af-91ab-2d7cd011db47"
  }
}