{
  "Entries": [
    {
      "RequestUri": "/personalizer/v1.0/configurations/service",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": [
          "000"
        ]
      },
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"rewardWaitTime\": \"00:01:00\",\r\n  \"defaultReward\": 0.0,\r\n  \"rewardAggregation\": \"average\",\r\n  \"explorationPercentage\": 0.2,\r\n  \"modelExportFrequency\": \"01:00:00\",\r\n  \"logRetentionDays\": 0\r\n}",
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {}
}