{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/2bf4a339-294d-4c25-b0b2-ef649e9f5c27?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11995"
      },
      "ResponseBody": {
        "id": "/subscriptions/2bf4a339-294d-4c25-b0b2-ef649e9f5c27",
        "authorizationSource": "RoleBased",
        "managedByTenants": [
          {
            "tenantId": "942b80cd-1b14-42a1-8dcf-4b21dece61ba"
          }
        ],
        "subscriptionId": "2bf4a339-294d-4c25-b0b2-ef649e9f5c27",
        "tenantId": "888d76fa-54b2-4ced-8ee5-aac1585adee7",
        "displayName": "Liftr-PAN",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Public_2014-09-01",
          "quotaId": "PayAsYouGo_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/2bf4a339-294d-4c25-b0b2-ef649e9f5c27/resourcegroups/dotnetSdkTest-infra-rg?api-version=**",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11994"
      },
      "ResponseBody": {
        "id": "/subscriptions/2bf4a339-294d-4c25-b0b2-ef649e9f5c27/resourceGroups/dotnetSdkTest-infra-rg",
        "name": "dotnetSdkTest-infra-rg",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "northcentralus",
        "tags": {},
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/2bf4a339-294d-4c25-b0b2-ef649e9f5c27/resourceGroups/dotnetSdkTest-infra-rg/providers/PaloAltoNetworks.Cloudngfw/localRulestacks/dotnetSdkTest-default-2-lrs?api-version=2022-08-29",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002201000a3b-0000-0100-0000-649ef7e30000\u0022",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-reads": "11993"
      },
      "ResponseBody": {
        "id": "/subscriptions/2bf4a339-294d-4c25-b0b2-ef649e9f5c27/resourceGroups/dotnetSdkTest-infra-rg/providers/PaloAltoNetworks.Cloudngfw/localRulestacks/dotnetSdkTest-default-2-lrs",
        "name": "dotnetSdkTest-default-2-lrs",
        "type": "paloaltonetworks.cloudngfw/localrulestacks",
        "location": "eastus2",
        "tags": {},
        "systemData": {
          "createdBy": "vibhuti.sharma@microsoft.com",
          "createdByType": "User",
          "createdAt": "2023-06-28T04:35:51.1909158Z",
          "lastModifiedBy": "54a2195e-8365-444c-8f50-4a5de4be1e2b",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2023-06-30T15:42:27.12822Z"
        },
        "properties": {
          "scope": "LOCAL",
          "provisioningState": "Succeeded",
          "defaultMode": "FIREWALL",
          "panEtag": "b6b42cbe-175c-11ee-9baa-ca91a7f37567",
          "minAppIdVersion": "8595-7473",
          "securityServices": {
            "vulnerabilityProfile": "BestPractice",
            "antiSpywareProfile": "BestPractice",
            "antiVirusProfile": "BestPractice",
            "urlFilteringProfile": "BestPractice",
            "fileBlockingProfile": "BestPractice",
            "dnsSubscription": "BestPractice"
          }
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/2bf4a339-294d-4c25-b0b2-ef649e9f5c27/resourceGroups/dotnetSdkTest-infra-rg/providers/PaloAltoNetworks.Cloudngfw/localRulestacks/dotnetSdkTest-default-2-lrs/localRules/1000000?api-version=2022-08-29",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "f4498c36-574a-4c55-98ad-394e925663cf",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-reads": "11992"
      },
      "ResponseBody": {
        "properties": {
          "ruleName": "cloud-ngfw-default-rule",
          "priority": 1000000,
          "description": "Updated description for local rules test",
          "ruleState": "ENABLED",
          "source": {
            "cidrs": [
              "any"
            ],
            "countries": null,
            "feeds": null,
            "prefixLists": null
          },
          "negateSource": "FALSE",
          "destination": {
            "cidrs": [
              "any"
            ],
            "countries": null,
            "feeds": null,
            "prefixLists": null,
            "fqdnLists": null
          },
          "negateDestination": "FALSE",
          "applications": [
            "any"
          ],
          "protocol": "any",
          "actionType": "Allow",
          "enableLogging": "ENABLED",
          "decryptionRuleType": "None",
          "etag": "f3c95256-1760-11ee-91e1-ca91a7f37567"
        }
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": null,
    "RandomSeed": "1892013582",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "2bf4a339-294d-4c25-b0b2-ef649e9f5c27"
  }
}
