{
  "Entries": [
    {
      "RequestUri": "/subscriptions/204315b3-beb7-437c-9090-d506e104521b/resourcegroups/csmrg6957?api-version=2014-04-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"westus\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/204315b3-beb7-437c-9090-d506e104521b/resourceGroups/csmrg6957\",\r\n  \"name\": \"csmrg6957\",\r\n  \"location\": \"westus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1196"
        ]
      },
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/204315b3-beb7-437c-9090-d506e104521b/resourceGroups/csmrg6957/providers/Microsoft.Network/publicIPAddresses/azsmnet2493/?api-version=2015-05-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"publicIPAllocationMethod\": \"Dynamic\",\r\n    \"dnsSettings\": {\r\n      \"domainNameLabel\": \"azsmnet8820\"\r\n    }\r\n  },\r\n  \"location\": \"westus\",\r\n  \"tags\": {\r\n    \"key\": \"value\"\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"azsmnet2493\",\r\n  \"id\": \"/subscriptions/204315b3-beb7-437c-9090-d506e104521b/resourceGroups/csmrg6957/providers/Microsoft.Network/publicIPAddresses/azsmnet2493\",\r\n  \"etag\": \"W/\\\"5aae211c-d532-4d96-985c-92200a4930a5\\\"\",\r\n  \"type\": \"Microsoft.Network/publicIPAddresses\",\r\n  \"location\": \"westus\",\r\n  \"tags\": {\r\n    \"key\": \"value\"\r\n  },\r\n  \"properties\": {\r\n    \"provisioningState\": \"Updating\",\r\n    \"resourceGuid\": \"7883e84f-b942-4c31-a687-bf9520c1887f\",\r\n    \"publicIPAllocationMethod\": \"Dynamic\",\r\n    \"idleTimeoutInMinutes\": 4,\r\n    \"dnsSettings\": {\r\n      \"domainNameLabel\": \"azsmnet8820\",\r\n      \"fqdn\": \"azsmnet8820.azure-bvt.com\"\r\n    }\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Retry-After": [
          "10"
        ],
        "Azure-AsyncOperation": [
          "https://api-dogfood.resources.windows-int.net/subscriptions/204315b3-beb7-437c-9090-d506e104521b/providers/Microsoft.Network/locations/nrp8/operations/42c6fc48-3a4a-4c36-999c-5e3bc9ad68de?api-version=2015-05-01-preview"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1195"
        ]
      },
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/204315b3-beb7-437c-9090-d506e104521b/providers/Microsoft.Network/locations/nrp8/operations/42c6fc48-3a4a-4c36-999c-5e3bc9ad68de?api-version=2015-05-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2015-05-01-preview"
        ]
      },
      "ResponseBody": "{\r\n  \"status\": \"Succeeded\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14997"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/204315b3-beb7-437c-9090-d506e104521b/resourceGroups/csmrg6957/providers/Microsoft.Network/publicIPAddresses/azsmnet2493/?api-version=2015-05-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"name\": \"azsmnet2493\",\r\n  \"id\": \"/subscriptions/204315b3-beb7-437c-9090-d506e104521b/resourceGroups/csmrg6957/providers/Microsoft.Network/publicIPAddresses/azsmnet2493\",\r\n  \"etag\": \"W/\\\"a6fad3fb-658f-449e-924a-c4e91bd99375\\\"\",\r\n  \"type\": \"Microsoft.Network/publicIPAddresses\",\r\n  \"location\": \"westus\",\r\n  \"tags\": {\r\n    \"key\": \"value\"\r\n  },\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"resourceGuid\": \"7883e84f-b942-4c31-a687-bf9520c1887f\",\r\n    \"publicIPAllocationMethod\": \"Dynamic\",\r\n    \"idleTimeoutInMinutes\": 4,\r\n    \"dnsSettings\": {\r\n      \"domainNameLabel\": \"azsmnet8820\",\r\n      \"fqdn\": \"azsmnet8820.azure-bvt.com\"\r\n    }\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "ETag": [
          "W/\"a6fad3fb-658f-449e-924a-c4e91bd99375\""
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14996"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/204315b3-beb7-437c-9090-d506e104521b/resourceGroups/csmrg6957/providers/Microsoft.Network/loadBalancers/azsmnet4045?api-version=2015-05-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"frontendIPConfigurations\": [\r\n      {\r\n        \"properties\": {\r\n          \"publicIPAddress\": {\r\n            \"id\": \"/subscriptions/204315b3-beb7-437c-9090-d506e104521b/resourceGroups/csmrg6957/providers/Microsoft.Network/publicIPAddresses/azsmnet2493\"\r\n          }\r\n        },\r\n        \"name\": \"azsmnet5849\"\r\n      }\r\n    ],\r\n    \"backendAddressPools\": [\r\n      {\r\n        \"properties\": {},\r\n        \"name\": \"azsmnet8064\"\r\n      }\r\n    ],\r\n    \"loadBalancingRules\": [],\r\n    \"probes\": [],\r\n    \"inboundNatRules\": [\r\n      {\r\n        \"properties\": {\r\n          \"frontendIPConfiguration\": {\r\n            \"id\": \"/subscriptions/204315b3-beb7-437c-9090-d506e104521b/resourceGroups/csmrg6957/providers/Microsoft.Network/loadBalancers/azsmnet4045/frontendIPConfigurations/azsmnet5849\"\r\n          },\r\n          \"protocol\": \"Tcp\",\r\n          \"frontendPort\": 3389,\r\n          \"backendPort\": 3389,\r\n          \"idleTimeoutInMinutes\": 15,\r\n          \"enableFloatingIP\": false\r\n        },\r\n        \"name\": \"azsmnet7774\"\r\n      }\r\n    ],\r\n    \"inboundNatPools\": [],\r\n    \"outboundNatRules\": [\r\n      {\r\n        \"properties\": {\r\n          \"allocatedOutboundPorts\": 1000,\r\n          \"frontendIPConfigurations\": [\r\n            {\r\n              \"id\": \"/subscriptions/204315b3-beb7-437c-9090-d506e104521b/resourceGroups/csmrg6957/providers/Microsoft.Network/loadBalancers/azsmnet4045/frontendIPConfigurations/azsmnet5849\"\r\n            }\r\n          ],\r\n          \"backendAddressPool\": {\r\n            \"id\": \"/subscriptions/204315b3-beb7-437c-9090-d506e104521b/resourceGroups/csmrg6957/providers/Microsoft.Network/loadBalancers/azsmnet4045/backendAddressPools/azsmnet8064\"\r\n          }\r\n        },\r\n        \"name\": \"azsmnet2316\"\r\n      }\r\n    ]\r\n  },\r\n  \"name\": \"azsmnet4045\",\r\n  \"location\": \"westus\",\r\n  \"tags\": {}\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"azsmnet4045\",\r\n  \"id\": \"/subscriptions/204315b3-beb7-437c-9090-d506e104521b/resourceGroups/csmrg6957/providers/Microsoft.Network/loadBalancers/azsmnet4045\",\r\n  \"etag\": \"W/\\\"97166d60-330f-467a-81e5-0978f3b8102a\\\"\",\r\n  \"type\": \"Microsoft.Network/loadBalancers\",\r\n  \"location\": \"westus\",\r\n  \"tags\": {},\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"resourceGuid\": \"c495ec94-3420-4f3d-97ed-58918618f37f\",\r\n    \"frontendIPConfigurations\": [\r\n      {\r\n        \"name\": \"azsmnet5849\",\r\n        \"id\": \"/subscriptions/204315b3-beb7-437c-9090-d506e104521b/resourceGroups/csmrg6957/providers/Microsoft.Network/loadBalancers/azsmnet4045/frontendIPConfigurations/azsmnet5849\",\r\n        \"etag\": \"W/\\\"97166d60-330f-467a-81e5-0978f3b8102a\\\"\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"privateIPAllocationMethod\": \"Dynamic\",\r\n          \"publicIPAddress\": {\r\n            \"id\": \"/subscriptions/204315b3-beb7-437c-9090-d506e104521b/resourceGroups/csmrg6957/providers/Microsoft.Network/publicIPAddresses/azsmnet2493\"\r\n          },\r\n          \"inboundNatRules\": [\r\n            {\r\n              \"id\": \"/subscriptions/204315b3-beb7-437c-9090-d506e104521b/resourceGroups/csmrg6957/providers/Microsoft.Network/loadBalancers/azsmnet4045/inboundNatRules/azsmnet7774\"\r\n            }\r\n          ],\r\n          \"outboundNatRules\": [\r\n            {\r\n              \"id\": \"/subscriptions/204315b3-beb7-437c-9090-d506e104521b/resourceGroups/csmrg6957/providers/Microsoft.Network/loadBalancers/azsmnet4045/outboundNatRules/azsmnet2316\"\r\n            }\r\n          ]\r\n        }\r\n      }\r\n    ],\r\n    \"backendAddressPools\": [\r\n      {\r\n        \"name\": \"azsmnet8064\",\r\n        \"id\": \"/subscriptions/204315b3-beb7-437c-9090-d506e104521b/resourceGroups/csmrg6957/providers/Microsoft.Network/loadBalancers/azsmnet4045/backendAddressPools/azsmnet8064\",\r\n        \"etag\": \"W/\\\"97166d60-330f-467a-81e5-0978f3b8102a\\\"\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"outboundNatRule\": {\r\n            \"id\": \"/subscriptions/204315b3-beb7-437c-9090-d506e104521b/resourceGroups/csmrg6957/providers/Microsoft.Network/loadBalancers/azsmnet4045/outboundNatRules/azsmnet2316\"\r\n          }\r\n        }\r\n      }\r\n    ],\r\n    \"loadBalancingRules\": [],\r\n    \"probes\": [],\r\n    \"inboundNatRules\": [\r\n      {\r\n        \"name\": \"azsmnet7774\",\r\n        \"id\": \"/subscriptions/204315b3-beb7-437c-9090-d506e104521b/resourceGroups/csmrg6957/providers/Microsoft.Networ[...]
[...]
    {
      "RequestUri": "/subscriptions/204315b3-beb7-437c-9090-d506e104521b/resourceGroups/csmrg6957/providers/Microsoft.Network/loadBalancers/azsmnet4045?api-version=2015-05-01-preview",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "Retry-After": [
          "10"
        ],
        "Azure-AsyncOperation": [
          "https://api-dogfood.resources.windows-int.net/subscriptions/204315b3-beb7-437c-9090-d506e104521b/providers/Microsoft.Network/locations/nrp8/operations/f66abc85-2efd-4e8c-8afe-ae21e31e4ba4?api-version=2015-05-01-preview"
        ],
        "Location": [
          "https://api-dogfood.resources.windows-int.net/subscriptions/204315b3-beb7-437c-9090-d506e104521b/providers/Microsoft.Network/locations/nrp8/operationResults/f66abc85-2efd-4e8c-8afe-ae21e31e4ba4?api-version=2015-05-01-preview"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1193"
        ]
      },
      "StatusCode": 202
    },
[...]
    {
      "RequestUri": "/subscriptions/204315b3-beb7-437c-9090-d506e104521b/resourceGroups/csmrg6957/providers/Microsoft.Network/loadBalancers?api-version=2015-05-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"value\": [],\r\n  \"nextLink\": \"\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14992"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/204315b3-beb7-437c-9090-d506e104521b/providers/Microsoft.Network/locations/nrp8/operations/5140af57-7009-406f-9c2e-e0f668afb837?api-version=2015-05-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2015-05-01-preview"
        ]
      },
      "ResponseBody": "{\r\n  \"status\": \"Succeeded\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14991"
        ]
      },
      "StatusCode": 200
    }
  ],
  "Names": {
    "LoadBalancerOutboundNatRuleTest": [
      "csmrg6957",
      "azsmnet2493",
      "azsmnet8820",
      "azsmnet4045",
      "azsmnet5849",
      "azsmnet2316",
      "azsmnet8064",
      "azsmnet7774"
    ]
  },
  "Variables": {
    "SubscriptionId": "204315b3-beb7-437c-9090-d506e104521b"
  }
}