{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/LogicAppRG-4541/providers/Microsoft.Logic/integrationAccounts/intergrationAccount6691?api-version=2019-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11997"
      },
      "ResponseBody": {
        "properties": {
          "state": "Enabled"
        },
        "sku": {
          "name": "Standard"
        },
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/LogicAppRG-4541/providers/Microsoft.Logic/integrationAccounts/intergrationAccount6691",
        "name": "intergrationAccount6691",
        "type": "Microsoft.Logic/integrationAccounts",
        "location": "centralus",
        "tags": {}
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/LogicAppRG-4541/providers/Microsoft.Logic/integrationAccounts/intergrationAccount6691/agreements/agreement9772?api-version=2019-05-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "centralus",
        "properties": {
          "agreementType": "Edifact",
          "hostPartner": "HostPartner",
          "guestPartner": "GuestPartner",
          "hostIdentity": {
            "qualifier": "ZZ",
            "value": "zz"
          },
          "guestIdentity": {
            "qualifier": "AA",
            "value": "aa"
          },
          "content": {
            "edifact": {
              "receiveAgreement": {
                "senderBusinessIdentity": {
                  "qualifier": "AA",
                  "value": "AA"
                },
                "receiverBusinessIdentity": {
                  "qualifier": "ZZ",
                  "value": "ZZ"
                },
                "protocolSettings": {
                  "validationSettings": {
                    "validateCharacterSet": true,
                    "checkDuplicateInterchangeControlNumber": true,
                    "interchangeControlNumberValidityDays": 30,
                    "checkDuplicateGroupControlNumber": true,
                    "checkDuplicateTransactionSetControlNumber": true,
                    "validateEDITypes": true,
                    "validateXSDTypes": true,
                    "allowLeadingAndTrailingSpacesAndZeroes": true,
                    "trimLeadingAndTrailingSpacesAndZeroes": true,
                    "trailingSeparatorPolicy": "Optional"
                  },
                  "framingSettings": {
                    "protocolVersion": 4,
                    "dataElementSeparator": 53,
                    "componentSeparator": 58,
                    "segmentTerminator": 39,
                    "releaseIndicator": 63,
                    "repetitionSeparator": 42,
                    "characterSet": "UNOC",
                    "decimalPointIndicator": "Comma",
                    "segmentTerminatorSuffix": "None"
                  },
                  "envelopeSettings": {
                    "applyDelimiterStringAdvice": true,
                    "createGroupingSegments": true,
                    "enableDefaultGroupHeaders": true,
                    "interchangeControlNumberLowerBound": 1,
                    "interchangeControlNumberUpperBound": 99999999,
                    "rolloverInterchangeControlNumber": true,
                    "groupControlNumberLowerBound": 1,
                    "groupControlNumberUpperBound": 99999999,
                    "rolloverGroupControlNumber": true,
                    "overwriteExistingTransactionSetControlNumber": true,
                    "transactionSetControlNumberLowerBound": 1,
                    "transactionSetControlNumberUpperBound": 99999999,
                    "rolloverTransactionSetControlNumber": true,
                    "isTestInterchange": true
                  },
                  "acknowledgementSettings": {
                    "needTechnicalAcknowledgement": true,
                    "batchTechnicalAcknowledgements": true,
                    "needFunctionalAcknowledgement": false,
                    "batchFunctionalAcknowledgements": true,
                    "needLoopForValidMessages": false,
                    "sendSynchronousAcknowledgement": true,
                    "acknowledgementControlNumberLowerBound": 1,
                    "acknowledgementControlNumberUpperBound": 99999999,
                    "rolloverAcknowledgementControlNumber": true
                  },
                  "messageFilter": {
                    "messageFilterType": "Exclude"
                  },
                  "processingSettings": {
                    "maskSecurityInfo": true,
                    "preserveInterchange": true,
                    "suspendInterchangeOnError": true,
                    "createEmptyXmlTagsForTrailingSeparators": true,
                    "useDotAsDecimalSeparator": true
                  },
                  "schemaReferences": []
                }
              },
              "sendAgreement": {
                "senderBusinessIdentity": {
                  "qualifier": "AA",
                  "value": "AA"
                },
                "receiverBusinessIdentity": {
                  "qualifier": "ZZ",
                  "value": "ZZ"
                },
                "protocolSettings": {
                  "validationSettings": {
                    "validateCharacterSet": true,
                    "checkDuplicateInterchangeControlNumber": true,
                    "interchangeC[...]
