{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/LogicAppRG-7457/providers/Microsoft.Logic/integrationAccounts/intergrationAccount3984?api-version=2019-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11991"
      },
      "ResponseBody": {
        "properties": {
          "state": "Enabled"
        },
        "sku": {
          "name": "Standard"
        },
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/LogicAppRG-7457/providers/Microsoft.Logic/integrationAccounts/intergrationAccount3984",
        "name": "intergrationAccount3984",
        "type": "Microsoft.Logic/integrationAccounts",
        "location": "centralus",
        "tags": {}
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/LogicAppRG-7457/providers/Microsoft.Logic/integrationAccounts/intergrationAccount3984/agreements/agreement3830?api-version=2019-05-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "centralus",
        "properties": {
          "agreementType": "AS2",
          "hostPartner": "HostPartner",
          "guestPartner": "GuestPartner",
          "hostIdentity": {
            "qualifier": "ZZ",
            "value": "zz"
          },
          "guestIdentity": {
            "qualifier": "AA",
            "value": "aa"
          },
          "content": {
            "aS2": {
              "receiveAgreement": {
                "senderBusinessIdentity": {
                  "qualifier": "AA",
                  "value": "aa"
                },
                "receiverBusinessIdentity": {
                  "qualifier": "ZZ",
                  "value": "zz"
                },
                "protocolSettings": {
                  "messageConnectionSettings": {
                    "ignoreCertificateNameMismatch": true,
                    "supportHttpStatusCodeContinue": true,
                    "keepHttpConnectionAlive": true,
                    "unfoldHttpHeaders": true
                  },
                  "acknowledgementConnectionSettings": {
                    "ignoreCertificateNameMismatch": true,
                    "supportHttpStatusCodeContinue": true,
                    "keepHttpConnectionAlive": true,
                    "unfoldHttpHeaders": true
                  },
                  "mdnSettings": {
                    "needMDN": true,
                    "signMDN": true,
                    "sendMDNAsynchronously": true,
                    "receiptDeliveryUrl": "http://tempuri.org/",
                    "dispositionNotificationTo": "http://tempuri.org",
                    "signOutboundMDNIfOptional": true,
                    "mdnText": "Sample",
                    "sendInboundMDNToMessageBox": true,
                    "micHashingAlgorithm": "SHA1"
                  },
                  "securitySettings": {
                    "overrideGroupSigningCertificate": false,
                    "enableNRRForInboundEncodedMessages": true,
                    "enableNRRForInboundDecodedMessages": true,
                    "enableNRRForOutboundMDN": true,
                    "enableNRRForOutboundEncodedMessages": true,
                    "enableNRRForOutboundDecodedMessages": true,
                    "enableNRRForInboundMDN": true
                  },
                  "validationSettings": {
                    "overrideMessageProperties": true,
                    "encryptMessage": false,
                    "signMessage": false,
                    "compressMessage": true,
                    "checkDuplicateMessage": true,
                    "interchangeDuplicatesValidityDays": 100,
                    "checkCertificateRevocationListOnSend": true,
                    "checkCertificateRevocationListOnReceive": true,
                    "encryptionAlgorithm": "AES128"
                  },
                  "envelopeSettings": {
                    "messageContentType": "text/plain",
                    "transmitFileNameInMimeHeader": true,
                    "fileNameTemplate": "Test",
                    "suspendMessageOnFileNameGenerationError": true,
                    "autogenerateFileName": true
                  },
                  "errorSettings": {
                    "suspendDuplicateMessage": true,
                    "resendIfMDNNotReceived": true
                  }
                }
              },
              "sendAgreement": {
                "senderBusinessIdentity": {
                  "qualifier": "AA",
                  "value": "aa"
                },
                "receiverBusinessIdentity": {
                  "qualifier": "ZZ",
                  "value": "zz"
                },
                "protocolSettings": {
                  "messageConnectionSettings": {
                    "ignoreCertificateNameMismatch": true,
                    "supportHttpStatusCodeContinue": true,
                    "keepH[...]
[...]
