{
  "Entries": [
    {
      "RequestUri": "/secrets/TestSecret?api-version=2015-06-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"value\": \"lywZ+fGw1lVZBVM+AADIUg==\",\r\n  \"contentType\": \"application/octet-stream\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": \"lywZ+fGw1lVZBVM+AADIUg==\",\r\n  \"contentType\": \"application/octet-stream\",\r\n  \"id\": \"https://sdktestvault0511.vault.azure.net/secrets/TestSecret/c27dac2fdb2443f59d6464600f690914\",\r\n  \"attributes\": {\r\n    \"enabled\": true,\r\n    \"created\": 1462991710,\r\n    \"updated\": 1462991710\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/secrets/TestSecret/?api-version=2015-06-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"value\": \"lywZ+fGw1lVZBVM+AADIUg==\",\r\n  \"contentType\": \"application/octet-stream\",\r\n  \"id\": \"https://sdktestvault0511.vault.azure.net/secrets/TestSecret/c27dac2fdb2443f59d6464600f690914\",\r\n  \"attributes\": {\r\n    \"enabled\": true,\r\n    \"created\": 1462991710,\r\n    \"updated\": 1462991710\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/secrets/TestSecret/c27dac2fdb2443f59d6464600f690914?api-version=2015-06-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"value\": \"lywZ+fGw1lVZBVM+AADIUg==\",\r\n  \"contentType\": \"application/octet-stream\",\r\n  \"id\": \"https://sdktestvault0511.vault.azure.net/secrets/TestSecret/c27dac2fdb2443f59d6464600f690914\",\r\n  \"attributes\": {\r\n    \"enabled\": true,\r\n    \"created\": 1462991710,\r\n    \"updated\": 1462991710\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/secrets/TestSecret?api-version=2015-06-01",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"contentType\": \"application/octet-stream\",\r\n  \"id\": \"https://sdktestvault0511.vault.azure.net/secrets/TestSecret/c27dac2fdb2443f59d6464600f690914\",\r\n  \"attributes\": {\r\n    \"enabled\": true,\r\n    \"created\": 1462991710,\r\n    \"updated\": 1462991710\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {
    "VaultAddress": "https://sdktestvault0511.vault.azure.net",
    "KeyName": "sdktestkey",
    "KeyVersion": "f22b045ff8044294be4ecc1a6c2edf81"
  }
}