{
  "Entries": [
    {
      "RequestUri": "/keys/TestKey/create?api-version=2015-06-01-preview2",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"kty\": \"RSA\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"key\": {\r\n    \"kid\": \"https://sdktestvault0518.vault.azure.net/keys/TestKey/f6a27f810d1a451cbb83e140ebda2a97\",\r\n    \"kty\": \"RSA\",\r\n    \"key_ops\": [\r\n      \"encrypt\",\r\n      \"decrypt\",\r\n      \"sign\",\r\n      \"verify\",\r\n      \"wrapKey\",\r\n      \"unwrapKey\"\r\n    ],\r\n    \"n\": \"0QqDVM-jTBp5oxkk8c72DLz66temKAI_NXUuv4TAgft84ufr_fursyIUCdcIxKes2r1ggfHHm9L8a6HXS5yb1zMI7yAfXCTLNFMqE6ibLTXgX9HMTnEsjUPqJn0x9PbONbPzSiOWW2y9fQl45j6jYOeHquuij8Kowfq1JBHxp_1_VHzinnZgiHviPd86JyuGC3fxwHEc4hx0YIVIQlPkNp0y8XTXrG_UikJ-HfiZJB88sT-ZJs9wav22Hs8bEzMQIMqJhODcEDOwrJ6HfcG1MR1T3pV_j0NNe8r_2z1sz5iaUCasgQXI269TTb0vIPZFV7YwUzc1RgNDaZlhDO7jVw\",\r\n    \"e\": \"AQAB\"\r\n  },\r\n  \"attributes\": {\r\n    \"enabled\": true,\r\n    \"created\": 1465576812,\r\n    \"updated\": 1465576812\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/keys/TestKey/?api-version=2015-06-01-preview2",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"key\": {\r\n    \"kid\": \"https://sdktestvault0518.vault.azure.net/keys/TestKey/f6a27f810d1a451cbb83e140ebda2a97\",\r\n    \"kty\": \"RSA\",\r\n    \"key_ops\": [\r\n      \"encrypt\",\r\n      \"decrypt\",\r\n      \"sign\",\r\n      \"verify\",\r\n      \"wrapKey\",\r\n      \"unwrapKey\"\r\n    ],\r\n    \"n\": \"0QqDVM-jTBp5oxkk8c72DLz66temKAI_NXUuv4TAgft84ufr_fursyIUCdcIxKes2r1ggfHHm9L8a6HXS5yb1zMI7yAfXCTLNFMqE6ibLTXgX9HMTnEsjUPqJn0x9PbONbPzSiOWW2y9fQl45j6jYOeHquuij8Kowfq1JBHxp_1_VHzinnZgiHviPd86JyuGC3fxwHEc4hx0YIVIQlPkNp0y8XTXrG_UikJ-HfiZJB88sT-ZJs9wav22Hs8bEzMQIMqJhODcEDOwrJ6HfcG1MR1T3pV_j0NNe8r_2z1sz5iaUCasgQXI269TTb0vIPZFV7YwUzc1RgNDaZlhDO7jVw\",\r\n    \"e\": \"AQAB\"\r\n  },\r\n  \"attributes\": {\r\n    \"enabled\": true,\r\n    \"created\": 1465576812,\r\n    \"updated\": 1465576812\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/keys/TestKey/f6a27f810d1a451cbb83e140ebda2a97?api-version=2015-06-01-preview2",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"key\": {\r\n    \"kid\": \"https://sdktestvault0518.vault.azure.net/keys/TestKey/f6a27f810d1a451cbb83e140ebda2a97\",\r\n    \"kty\": \"RSA\",\r\n    \"key_ops\": [\r\n      \"encrypt\",\r\n      \"decrypt\",\r\n      \"sign\",\r\n      \"verify\",\r\n      \"wrapKey\",\r\n      \"unwrapKey\"\r\n    ],\r\n    \"n\": \"0QqDVM-jTBp5oxkk8c72DLz66temKAI_NXUuv4TAgft84ufr_fursyIUCdcIxKes2r1ggfHHm9L8a6HXS5yb1zMI7yAfXCTLNFMqE6ibLTXgX9HMTnEsjUPqJn0x9PbONbPzSiOWW2y9fQl45j6jYOeHquuij8Kowfq1JBHxp_1_VHzinnZgiHviPd86JyuGC3fxwHEc4hx0YIVIQlPkNp0y8XTXrG_UikJ-HfiZJB88sT-ZJs9wav22Hs8bEzMQIMqJhODcEDOwrJ6HfcG1MR1T3pV_j0NNe8r_2z1sz5iaUCasgQXI269TTb0vIPZFV7YwUzc1RgNDaZlhDO7jVw\",\r\n    \"e\": \"AQAB\"\r\n  },\r\n  \"attributes\": {\r\n    \"enabled\": true,\r\n    \"created\": 1465576812,\r\n    \"updated\": 1465576812\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/keys/TestKey?api-version=2015-06-01-preview2",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"key\": {\r\n    \"kid\": \"https://sdktestvault0518.vault.azure.net/keys/TestKey/f6a27f810d1a451cbb83e140ebda2a97\",\r\n    \"kty\": \"RSA\",\r\n    \"key_ops\": [\r\n      \"encrypt\",\r\n      \"decrypt\",\r\n      \"sign\",\r\n      \"verify\",\r\n      \"wrapKey\",\r\n      \"unwrapKey\"\r\n    ],\r\n    \"n\": \"0QqDVM-jTBp5oxkk8c72DLz66temKAI_NXUuv4TAgft84ufr_fursyIUCdcIxKes2r1ggfHHm9L8a6HXS5yb1zMI7yAfXCTLNFMqE6ibLTXgX9HMTnEsjUPqJn0x9PbONbPzSiOWW2y9fQl45j6jYOeHquuij8Kowfq1JBHxp_1_VHzinnZgiHviPd86JyuGC3fxwHEc4hx0YIVIQlPkNp0y8XTXrG_UikJ-HfiZJB88sT-ZJs9wav22Hs8bEzMQIMqJhODcEDOwrJ6HfcG1MR1T3pV_j0NNe8r_2z1sz5iaUCasgQXI269TTb0vIPZFV7YwUzc1RgNDaZlhDO7jVw\",\r\n    \"e\": \"AQAB\"\r\n  },\r\n  \"attributes\": {\r\n    \"enabled\": true,\r\n    \"created\": 1465576812,\r\n    \"updated\": 1465576812\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {
    "VaultAddress": "https://sdktestvault0518.vault.azure.net",
    "KeyName": "sdktestkey",
    "KeyVersion": "77d3aa5d3a0c4cf1b5696963dea09bf0"
  }
}