{
  "Entries": [
    {
      "RequestUri": "/secrets/TestSecret?api-version=2015-06-01-preview2",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"value\": \"X4E+A1NZ87zs27kQqgZKnfoOLgkBeZlc\",\r\n  \"contentType\": \"application/octet-stream\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": \"X4E+A1NZ87zs27kQqgZKnfoOLgkBeZlc\",\r\n  \"contentType\": \"application/octet-stream\",\r\n  \"id\": \"https://sdktestvault0518.vault.azure.net/secrets/TestSecret/5a1f1df36ff54512a958b0fb66e44e64\",\r\n  \"attributes\": {\r\n    \"enabled\": true,\r\n    \"created\": 1463588686,\r\n    \"updated\": 1463588686\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/secrets/TestSecret/?api-version=2015-06-01-preview2",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"value\": \"X4E+A1NZ87zs27kQqgZKnfoOLgkBeZlc\",\r\n  \"contentType\": \"application/octet-stream\",\r\n  \"id\": \"https://sdktestvault0518.vault.azure.net/secrets/TestSecret/5a1f1df36ff54512a958b0fb66e44e64\",\r\n  \"attributes\": {\r\n    \"enabled\": true,\r\n    \"created\": 1463588686,\r\n    \"updated\": 1463588686\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/secrets/TestSecret/5a1f1df36ff54512a958b0fb66e44e64?api-version=2015-06-01-preview2",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"value\": \"X4E+A1NZ87zs27kQqgZKnfoOLgkBeZlc\",\r\n  \"contentType\": \"application/octet-stream\",\r\n  \"id\": \"https://sdktestvault0518.vault.azure.net/secrets/TestSecret/5a1f1df36ff54512a958b0fb66e44e64\",\r\n  \"attributes\": {\r\n    \"enabled\": true,\r\n    \"created\": 1463588686,\r\n    \"updated\": 1463588686\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/secrets/TestSecret?api-version=2015-06-01-preview2",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"contentType\": \"application/octet-stream\",\r\n  \"id\": \"https://sdktestvault0518.vault.azure.net/secrets/TestSecret/5a1f1df36ff54512a958b0fb66e44e64\",\r\n  \"attributes\": {\r\n    \"enabled\": true,\r\n    \"created\": 1463588686,\r\n    \"updated\": 1463588686\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {
    "VaultAddress": "https://sdktestvault0518.vault.azure.net",
    "KeyName": "sdktestkey",
    "KeyVersion": "3709cfe10c1346f3b86e07e9b032afb8"
  }
}