{
  "Entries": [
    {
      "RequestUri": "/secrets/TestSecret?api-version=2015-06-01-preview2",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"value\": \"0X3uEp5VdY2cL+MwWLIXFnoCKtNaEUZK\",\r\n  \"contentType\": \"application/octet-stream\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": \"0X3uEp5VdY2cL+MwWLIXFnoCKtNaEUZK\",\r\n  \"contentType\": \"application/octet-stream\",\r\n  \"id\": \"https://sdktestvault0518.vault.azure.net/secrets/TestSecret/c2c9cdd9d5c94c88b725b5b38ec51d94\",\r\n  \"attributes\": {\r\n    \"enabled\": true,\r\n    \"created\": 1465576819,\r\n    \"updated\": 1465576819\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/secrets/TestSecret/?api-version=2015-06-01-preview2",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"value\": \"0X3uEp5VdY2cL+MwWLIXFnoCKtNaEUZK\",\r\n  \"contentType\": \"application/octet-stream\",\r\n  \"id\": \"https://sdktestvault0518.vault.azure.net/secrets/TestSecret/c2c9cdd9d5c94c88b725b5b38ec51d94\",\r\n  \"attributes\": {\r\n    \"enabled\": true,\r\n    \"created\": 1465576819,\r\n    \"updated\": 1465576819\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/secrets/TestSecret/c2c9cdd9d5c94c88b725b5b38ec51d94?api-version=2015-06-01-preview2",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"value\": \"0X3uEp5VdY2cL+MwWLIXFnoCKtNaEUZK\",\r\n  \"contentType\": \"application/octet-stream\",\r\n  \"id\": \"https://sdktestvault0518.vault.azure.net/secrets/TestSecret/c2c9cdd9d5c94c88b725b5b38ec51d94\",\r\n  \"attributes\": {\r\n    \"enabled\": true,\r\n    \"created\": 1465576819,\r\n    \"updated\": 1465576819\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/secrets/TestSecret?api-version=2015-06-01-preview2",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"contentType\": \"application/octet-stream\",\r\n  \"id\": \"https://sdktestvault0518.vault.azure.net/secrets/TestSecret/c2c9cdd9d5c94c88b725b5b38ec51d94\",\r\n  \"attributes\": {\r\n    \"enabled\": true,\r\n    \"created\": 1465576819,\r\n    \"updated\": 1465576819\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {
    "VaultAddress": "https://sdktestvault0518.vault.azure.net",
    "KeyName": "sdktestkey",
    "KeyVersion": "77d3aa5d3a0c4cf1b5696963dea09bf0"
  }
}