{
  "Entries": [
    {
      "RequestUri": "https://8ab2df1c-ed88-4946-a8a9-e1bbb3e4d1fd-sdk-dc-4qb444onnk2tc.centraluseuap.devcenter.azure.com/projects/sdk-project-tum3smsgozvm2/environments?api-version=2023-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "X-Rate-Limit-Limit": "1m",
        "X-Rate-Limit-Remaining": "299",
        "X-Rate-Limit-Reset": "2023-05-09T00:54:17.1466505Z"
      },
      "ResponseBody": {
        "value": []
      }
    },
    {
      "RequestUri": "https://8ab2df1c-ed88-4946-a8a9-e1bbb3e4d1fd-sdk-dc-4qb444onnk2tc.centraluseuap.devcenter.azure.com/projects/sdk-project-tum3smsgozvm2/catalogs/sdk-default-catalog/environmentDefinitions?api-version=2023-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "X-Rate-Limit-Limit": "1m",
        "X-Rate-Limit-Remaining": "299",
        "X-Rate-Limit-Reset": "2023-05-09T00:54:17.4020477Z"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/projects/sdk-project-tum3smsgozvm2/catalogs/sdk-default-catalog/environmentDefinitions/webapp",
            "name": "WebApp",
            "catalogName": "sdk-default-catalog",
            "description": "Deploys an Azure Web App without a data store",
            "parameters": [],
            "parametersSchema": "{\u0022type\u0022:\u0022object\u0022}",
            "templatePath": "Environments/WebApp/azuredeploy.json"
          },
          {
            "id": "/projects/sdk-project-tum3smsgozvm2/catalogs/sdk-default-catalog/environmentDefinitions/functionapp",
            "name": "FunctionApp",
            "catalogName": "sdk-default-catalog",
            "description": "Deploys an Azure Function App, Storage Account, and Application Insights",
            "parameters": [],
            "parametersSchema": "{\u0022type\u0022:\u0022object\u0022}",
            "templatePath": "Environments/FunctionApp/azuredeploy.json"
          },
          {
            "id": "/projects/sdk-project-tum3smsgozvm2/catalogs/sdk-default-catalog/environmentDefinitions/sandbox",
            "name": "Sandbox",
            "catalogName": "sdk-default-catalog",
            "description": "Deploys an empty sandbox environment",
            "parameters": [],
            "parametersSchema": "{\u0022type\u0022:\u0022object\u0022}",
            "templatePath": "Environments/Sandbox/azuredeploy.json"
          }
        ]
      }
    },
    {
      "RequestUri": "https://8ab2df1c-ed88-4946-a8a9-e1bbb3e4d1fd-sdk-dc-4qb444onnk2tc.centraluseuap.devcenter.azure.com/projects/sdk-project-tum3smsgozvm2/users/me/environments/DevTestEnv?api-version=2023-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "environmentDefinitionName": "Sandbox",
        "catalogName": "sdk-default-catalog",
        "environmentType": "sdk-environment-type-6p7h3fou6ey3c"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://8ab2df1c-ed88-4946-a8a9-e1bbb3e4d1fd-sdk-dc-4qb444onnk2tc.centraluseuap.devcenter.azure.com/projects/sdk-project-tum3smsgozvm2/operationstatuses/a370a67a-9f8d-4b05-858a-2c3edb2dccf9?monitor=true",
        "Operation-Location": "https://8ab2df1c-ed88-4946-a8a9-e1bbb3e4d1fd-sdk-dc-4qb444onnk2tc.centraluseuap.devcenter.azure.com/projects/sdk-project-tum3smsgozvm2/operationstatuses/a370a67a-9f8d-4b05-858a-2c3edb2dccf9",
        "X-Rate-Limit-Limit": "1m",
        "X-Rate-Limit-Remaining": "299",
        "X-Rate-Limit-Reset": "2023-05-09T00:54:17.5815740Z"
      },
      "ResponseBody": {
        "name": "devtestenv",
        "environmentType": "sdk-environment-type-6p7h3fou6ey3c",
        "user": "df428e89-1bc2-4e72-b736-032c31a6cd97",
        "provisioningState": "Creating",
        "catalogName": "sdk-default-catalog",
        "environmentDefinitionName": "Sandbox"
      }
    },
    {
      "RequestUri": "https://8ab2df1c-ed88-4946-a8a9-e1bbb3e4d1fd-sdk-dc-4qb444onnk2tc.centraluseuap.devcenter.azure.com/projects/sdk-project-tum3smsgozvm2/operationstatuses/a370a67a-9f8d-4b05-858a-2c3edb2dccf9?api-version=2023-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://8ab2df1c-ed88-4946-a8a9-e1bbb3e4d1fd-sdk-dc-4qb444onnk2tc.centraluseuap.devcenter.azure.com/projects/sdk-project-tum3smsgozvm2/operationstatuses/a370a67a-9f8d-4b05-858a-2c3edb2dccf9?monitor=true",
        "Operation-Location": "https://8ab2df1c-ed88-4946-a8a9-e1bbb3e4d1fd-sdk-dc-4qb444onnk2tc.centraluseuap.devcenter.azure.com/projects/sdk-project-tum3smsgozvm2/operationstatuses/a370a67a-9f8d-4b05-858a-2c3edb2dccf9",
        "Retry-After": "30",
        "X-Rate-Limit-Limit": "1m",
        "X-Rate-Limit-Remaining": "298",
        "X-Rate-Limit-Reset": "2023-05-09T00:54:17.1466505Z"
      },
      "ResponseBody": {
        "id": "/projects/sdk-project-tum3smsgozvm2/operationStatuses/a370a67a-9f8d-4b05-858a-2c3edb2dccf9",
        "name": "a370a67a-9f8d-4b05-858a-2c3edb2dccf9",
        "status": "NotStarted",
        "startTime": "2023-05-09T00:53:17.7906257\u002B00:00"
      }
    },
[...]
    {
      "RequestUri": "https://8ab2df1c-ed88-4946-a8a9-e1bbb3e4d1fd-sdk-dc-4qb444onnk2tc.centraluseuap.devcenter.azure.com/projects/sdk-project-tum3smsgozvm2/operationstatuses/a370a67a-9f8d-4b05-858a-2c3edb2dccf9?api-version=2023-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://8ab2df1c-ed88-4946-a8a9-e1bbb3e4d1fd-sdk-dc-4qb444onnk2tc.centraluseuap.devcenter.azure.com/projects/sdk-project-tum3smsgozvm2/operationstatuses/a370a67a-9f8d-4b05-858a-2c3edb2dccf9?monitor=true",
        "Operation-Location": "https://8ab2df1c-ed88-4946-a8a9-e1bbb3e4d1fd-sdk-dc-4qb444onnk2tc.centraluseuap.devcenter.azure.com/projects/sdk-project-tum3smsgozvm2/operationstatuses/a370a67a-9f8d-4b05-858a-2c3edb2dccf9",
        "Retry-After": "30",
        "X-Rate-Limit-Limit": "1m",
        "X-Rate-Limit-Remaining": "299",
        "X-Rate-Limit-Reset": "2023-05-09T00:55:18.5201697Z"
      },
      "ResponseBody": {
        "id": "/projects/sdk-project-tum3smsgozvm2/operationStatuses/a370a67a-9f8d-4b05-858a-2c3edb2dccf9",
        "name": "a370a67a-9f8d-4b05-858a-2c3edb2dccf9",
        "status": "Succeeded",
        "startTime": "2023-05-09T00:53:17.7906257\u002B00:00",
        "endTime": "2023-05-09T00:54:07.1590975\u002B00:00"
      }
    },
    {
      "RequestUri": "https://8ab2df1c-ed88-4946-a8a9-e1bbb3e4d1fd-sdk-dc-4qb444onnk2tc.centraluseuap.devcenter.azure.com/projects/sdk-project-tum3smsgozvm2/users/me/environments/DevTestEnv?api-version=2023-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "X-Rate-Limit-Limit": "1m",
        "X-Rate-Limit-Remaining": "299",
        "X-Rate-Limit-Reset": "2023-05-09T00:55:18.6519813Z"
      },
      "ResponseBody": {
        "name": "devtestenv",
        "environmentType": "sdk-environment-type-6p7h3fou6ey3c",
        "user": "df428e89-1bc2-4e72-b736-032c31a6cd97",
        "provisioningState": "Succeeded",
        "resourceGroupId": "/subscriptions/62e47139-66d0-4b0b-a000-1e8a412890c1/resourceGroups/sdk-project-tum3smsgozvm2-devtestenv",
        "catalogName": "sdk-default-catalog",
        "environmentDefinitionName": "Sandbox"
      }
    },
[...]
    {
      "RequestUri": "https://8ab2df1c-ed88-4946-a8a9-e1bbb3e4d1fd-sdk-dc-4qb444onnk2tc.centraluseuap.devcenter.azure.com/projects/sdk-project-tum3smsgozvm2/users/df428e89-1bc2-4e72-b736-032c31a6cd97/environments/DevTestEnv?api-version=2023-04-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Location": "https://8ab2df1c-ed88-4946-a8a9-e1bbb3e4d1fd-sdk-dc-4qb444onnk2tc.centraluseuap.devcenter.azure.com/projects/sdk-project-tum3smsgozvm2/operationstatuses/b7ce1b84-0764-4424-828c-c4e62b069bb3?monitor=true",
        "Operation-Location": "https://8ab2df1c-ed88-4946-a8a9-e1bbb3e4d1fd-sdk-dc-4qb444onnk2tc.centraluseuap.devcenter.azure.com/projects/sdk-project-tum3smsgozvm2/operationstatuses/b7ce1b84-0764-4424-828c-c4e62b069bb3",
        "X-Rate-Limit-Limit": "1m",
        "X-Rate-Limit-Remaining": "298",
        "X-Rate-Limit-Reset": "2023-05-09T00:55:18.5201697Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://8ab2df1c-ed88-4946-a8a9-e1bbb3e4d1fd-sdk-dc-4qb444onnk2tc.centraluseuap.devcenter.azure.com/projects/sdk-project-tum3smsgozvm2/operationstatuses/b7ce1b84-0764-4424-828c-c4e62b069bb3?api-version=2023-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://8ab2df1c-ed88-4946-a8a9-e1bbb3e4d1fd-sdk-dc-4qb444onnk2tc.centraluseuap.devcenter.azure.com/projects/sdk-project-tum3smsgozvm2/operationstatuses/b7ce1b84-0764-4424-828c-c4e62b069bb3?monitor=true",
        "Operation-Location": "https://8ab2df1c-ed88-4946-a8a9-e1bbb3e4d1fd-sdk-dc-4qb444onnk2tc.centraluseuap.devcenter.azure.com/projects/sdk-project-tum3smsgozvm2/operationstatuses/b7ce1b84-0764-4424-828c-c4e62b069bb3",
        "Retry-After": "30",
        "X-Rate-Limit-Limit": "1m",
        "X-Rate-Limit-Remaining": "299",
        "X-Rate-Limit-Reset": "2023-05-09T00:56:19.8060479Z"
      },
      "ResponseBody": {
        "id": "/projects/sdk-project-tum3smsgozvm2/operationStatuses/b7ce1b84-0764-4424-828c-c4e62b069bb3",
        "name": "b7ce1b84-0764-4424-828c-c4e62b069bb3",
        "status": "Succeeded",
        "startTime": "2023-05-09T00:54:19.3298749\u002B00:00",
        "endTime": "2023-05-09T00:54:55.8959925\u002B00:00"
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com/",
    "CLIENT_ID": "82759f53-fe56-4a00-a282-dc1990e29267",
    "DEFAULT_CATALOG_NAME": "sdk-default-catalog",
    "DEFAULT_ENVIRONMENT_TYPE_NAME": "sdk-environment-type-6p7h3fou6ey3c",
    "DEFAULT_PROJECT_NAME": "sdk-project-tum3smsgozvm2",
    "DEFAULT_TEST_USER_NAME": "sdk_integration_test_1@fidalgoppe010.onmicrosoft.com",
    "DEVCENTER_ENDPOINT": "https://8ab2df1c-ed88-4946-a8a9-e1bbb3e4d1fd-sdk-dc-4qb444onnk2tc.centraluseuap.devcenter.azure.com/",
    "RandomSeed": "532726374",
    "STATIC_TEST_USER_ID": "df428e89-1bc2-4e72-b736-032c31a6cd97",
    "TENANT_ID": "8ab2df1c-ed88-4946-a8a9-e1bbb3e4d1fd"
  }
}
