{
  "Entries": [
    {
      "RequestUri": "https://8ab2df1c-ed88-4946-a8a9-e1bbb3e4d1fd-sdk-dc-4qb444onnk2tc.centraluseuap.devcenter.azure.com/projects/sdk-project-tum3smsgozvm2/environments?api-version=2023-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "X-Rate-Limit-Limit": "1m",
        "X-Rate-Limit-Remaining": "299",
        "X-Rate-Limit-Reset": "2023-05-09T00:42:13.7338053Z"
      },
      "ResponseBody": {
        "value": []
      }
    },
    {
      "RequestUri": "https://8ab2df1c-ed88-4946-a8a9-e1bbb3e4d1fd-sdk-dc-4qb444onnk2tc.centraluseuap.devcenter.azure.com/projects/sdk-project-tum3smsgozvm2/catalogs/sdk-default-catalog/environmentDefinitions?api-version=2023-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "X-Rate-Limit-Limit": "1m",
        "X-Rate-Limit-Remaining": "299",
        "X-Rate-Limit-Reset": "2023-05-09T00:42:14.1528082Z"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/projects/sdk-project-tum3smsgozvm2/catalogs/sdk-default-catalog/environmentDefinitions/webapp",
            "name": "WebApp",
            "catalogName": "sdk-default-catalog",
            "description": "Deploys an Azure Web App without a data store",
            "parameters": [],
            "parametersSchema": "{\u0022type\u0022:\u0022object\u0022}",
            "templatePath": "Environments/WebApp/azuredeploy.json"
          },
          {
            "id": "/projects/sdk-project-tum3smsgozvm2/catalogs/sdk-default-catalog/environmentDefinitions/functionapp",
            "name": "FunctionApp",
            "catalogName": "sdk-default-catalog",
            "description": "Deploys an Azure Function App, Storage Account, and Application Insights",
            "parameters": [],
            "parametersSchema": "{\u0022type\u0022:\u0022object\u0022}",
            "templatePath": "Environments/FunctionApp/azuredeploy.json"
          },
          {
            "id": "/projects/sdk-project-tum3smsgozvm2/catalogs/sdk-default-catalog/environmentDefinitions/sandbox",
            "name": "Sandbox",
            "catalogName": "sdk-default-catalog",
            "description": "Deploys an empty sandbox environment",
            "parameters": [],
            "parametersSchema": "{\u0022type\u0022:\u0022object\u0022}",
            "templatePath": "Environments/Sandbox/azuredeploy.json"
          }
        ]
      }
    },
    {
      "RequestUri": "https://8ab2df1c-ed88-4946-a8a9-e1bbb3e4d1fd-sdk-dc-4qb444onnk2tc.centraluseuap.devcenter.azure.com/projects/sdk-project-tum3smsgozvm2/users/me/environments/DevTestEnv?api-version=2023-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "environmentDefinitionName": "Sandbox",
        "catalogName": "sdk-default-catalog",
        "environmentType": "sdk-environment-type-6p7h3fou6ey3c"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://8ab2df1c-ed88-4946-a8a9-e1bbb3e4d1fd-sdk-dc-4qb444onnk2tc.centraluseuap.devcenter.azure.com/projects/sdk-project-tum3smsgozvm2/operationstatuses/7664af51-069e-427d-bd81-b3c1818de7fd?monitor=true",
        "Operation-Location": "https://8ab2df1c-ed88-4946-a8a9-e1bbb3e4d1fd-sdk-dc-4qb444onnk2tc.centraluseuap.devcenter.azure.com/projects/sdk-project-tum3smsgozvm2/operationstatuses/7664af51-069e-427d-bd81-b3c1818de7fd",
        "X-Rate-Limit-Limit": "1m",
        "X-Rate-Limit-Remaining": "299",
        "X-Rate-Limit-Reset": "2023-05-09T00:42:14.5308184Z"
      },
      "ResponseBody": {
        "name": "devtestenv",
        "environmentType": "sdk-environment-type-6p7h3fou6ey3c",
        "user": "df428e89-1bc2-4e72-b736-032c31a6cd97",
        "provisioningState": "Creating",
        "catalogName": "sdk-default-catalog",
        "environmentDefinitionName": "Sandbox"
      }
    },
    {
      "RequestUri": "https://8ab2df1c-ed88-4946-a8a9-e1bbb3e4d1fd-sdk-dc-4qb444onnk2tc.centraluseuap.devcenter.azure.com/projects/sdk-project-tum3smsgozvm2/operationstatuses/7664af51-069e-427d-bd81-b3c1818de7fd?api-version=2023-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://8ab2df1c-ed88-4946-a8a9-e1bbb3e4d1fd-sdk-dc-4qb444onnk2tc.centraluseuap.devcenter.azure.com/projects/sdk-project-tum3smsgozvm2/operationstatuses/7664af51-069e-427d-bd81-b3c1818de7fd?monitor=true",
        "Operation-Location": "https://8ab2df1c-ed88-4946-a8a9-e1bbb3e4d1fd-sdk-dc-4qb444onnk2tc.centraluseuap.devcenter.azure.com/projects/sdk-project-tum3smsgozvm2/operationstatuses/7664af51-069e-427d-bd81-b3c1818de7fd",
        "Retry-After": "30",
        "X-Rate-Limit-Limit": "1m",
        "X-Rate-Limit-Remaining": "298",
        "X-Rate-Limit-Reset": "2023-05-09T00:42:13.7338053Z"
      },
      "ResponseBody": {
        "id": "/projects/sdk-project-tum3smsgozvm2/operationStatuses/7664af51-069e-427d-bd81-b3c1818de7fd",
        "name": "7664af51-069e-427d-bd81-b3c1818de7fd",
        "status": "NotStarted",
        "startTime": "2023-05-09T00:41:14.6998557\u002B00:00"
      }
    },
[...]
    {
      "RequestUri": "https://8ab2df1c-ed88-4946-a8a9-e1bbb3e4d1fd-sdk-dc-4qb444onnk2tc.centraluseuap.devcenter.azure.com/projects/sdk-project-tum3smsgozvm2/operationstatuses/7664af51-069e-427d-bd81-b3c1818de7fd?api-version=2023-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://8ab2df1c-ed88-4946-a8a9-e1bbb3e4d1fd-sdk-dc-4qb444onnk2tc.centraluseuap.devcenter.azure.com/projects/sdk-project-tum3smsgozvm2/operationstatuses/7664af51-069e-427d-bd81-b3c1818de7fd?monitor=true",
        "Operation-Location": "https://8ab2df1c-ed88-4946-a8a9-e1bbb3e4d1fd-sdk-dc-4qb444onnk2tc.centraluseuap.devcenter.azure.com/projects/sdk-project-tum3smsgozvm2/operationstatuses/7664af51-069e-427d-bd81-b3c1818de7fd",
        "Retry-After": "30",
        "X-Rate-Limit-Limit": "1m",
        "X-Rate-Limit-Remaining": "299",
        "X-Rate-Limit-Reset": "2023-05-09T00:45:46.2167752Z"
      },
      "ResponseBody": {
        "id": "/projects/sdk-project-tum3smsgozvm2/operationStatuses/7664af51-069e-427d-bd81-b3c1818de7fd",
        "name": "7664af51-069e-427d-bd81-b3c1818de7fd",
        "status": "Succeeded",
        "startTime": "2023-05-09T00:41:14.6998557\u002B00:00",
        "endTime": "2023-05-09T00:44:30.7642311\u002B00:00"
      }
    },
    {
      "RequestUri": "https://8ab2df1c-ed88-4946-a8a9-e1bbb3e4d1fd-sdk-dc-4qb444onnk2tc.centraluseuap.devcenter.azure.com/projects/sdk-project-tum3smsgozvm2/users/me/environments/DevTestEnv?api-version=2023-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "X-Rate-Limit-Limit": "1m",
        "X-Rate-Limit-Remaining": "299",
        "X-Rate-Limit-Reset": "2023-05-09T00:45:46.4373794Z"
      },
      "ResponseBody": {
        "name": "devtestenv",
        "environmentType": "sdk-environment-type-6p7h3fou6ey3c",
        "user": "df428e89-1bc2-4e72-b736-032c31a6cd97",
        "provisioningState": "Succeeded",
        "resourceGroupId": "/subscriptions/62e47139-66d0-4b0b-a000-1e8a412890c1/resourceGroups/sdk-project-tum3smsgozvm2-devtestenv",
        "catalogName": "sdk-default-catalog",
        "environmentDefinitionName": "Sandbox"
      }
    },
[...]
    {
      "RequestUri": "https://8ab2df1c-ed88-4946-a8a9-e1bbb3e4d1fd-sdk-dc-4qb444onnk2tc.centraluseuap.devcenter.azure.com/projects/sdk-project-tum3smsgozvm2/users/df428e89-1bc2-4e72-b736-032c31a6cd97/environments/DevTestEnv?api-version=2023-04-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Location": "https://8ab2df1c-ed88-4946-a8a9-e1bbb3e4d1fd-sdk-dc-4qb444onnk2tc.centraluseuap.devcenter.azure.com/projects/sdk-project-tum3smsgozvm2/operationstatuses/bbbf3c4c-2893-4221-9e74-3f150ca2c548?monitor=true",
        "Operation-Location": "https://8ab2df1c-ed88-4946-a8a9-e1bbb3e4d1fd-sdk-dc-4qb444onnk2tc.centraluseuap.devcenter.azure.com/projects/sdk-project-tum3smsgozvm2/operationstatuses/bbbf3c4c-2893-4221-9e74-3f150ca2c548",
        "X-Rate-Limit-Limit": "1m",
        "X-Rate-Limit-Remaining": "298",
        "X-Rate-Limit-Reset": "2023-05-09T00:45:46.2167752Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://8ab2df1c-ed88-4946-a8a9-e1bbb3e4d1fd-sdk-dc-4qb444onnk2tc.centraluseuap.devcenter.azure.com/projects/sdk-project-tum3smsgozvm2/operationstatuses/bbbf3c4c-2893-4221-9e74-3f150ca2c548?api-version=2023-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://8ab2df1c-ed88-4946-a8a9-e1bbb3e4d1fd-sdk-dc-4qb444onnk2tc.centraluseuap.devcenter.azure.com/projects/sdk-project-tum3smsgozvm2/operationstatuses/bbbf3c4c-2893-4221-9e74-3f150ca2c548?monitor=true",
        "Operation-Location": "https://8ab2df1c-ed88-4946-a8a9-e1bbb3e4d1fd-sdk-dc-4qb444onnk2tc.centraluseuap.devcenter.azure.com/projects/sdk-project-tum3smsgozvm2/operationstatuses/bbbf3c4c-2893-4221-9e74-3f150ca2c548",
        "Retry-After": "30",
        "X-Rate-Limit-Limit": "1m",
        "X-Rate-Limit-Remaining": "298",
        "X-Rate-Limit-Reset": "2023-05-09T00:47:02.9104809Z"
      },
      "ResponseBody": {
        "id": "/projects/sdk-project-tum3smsgozvm2/operationStatuses/bbbf3c4c-2893-4221-9e74-3f150ca2c548",
        "name": "bbbf3c4c-2893-4221-9e74-3f150ca2c548",
        "status": "Succeeded",
        "startTime": "2023-05-09T00:44:47.1559121\u002B00:00",
        "endTime": "2023-05-09T00:46:06.7902179\u002B00:00"
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com/",
    "CLIENT_ID": "82759f53-fe56-4a00-a282-dc1990e29267",
    "DEFAULT_CATALOG_NAME": "sdk-default-catalog",
    "DEFAULT_ENVIRONMENT_TYPE_NAME": "sdk-environment-type-6p7h3fou6ey3c",
    "DEFAULT_PROJECT_NAME": "sdk-project-tum3smsgozvm2",
    "DEFAULT_TEST_USER_NAME": "sdk_integration_test_1@fidalgoppe010.onmicrosoft.com",
    "DEFAULT_DEVCENTER_ENDPOINT": "https://8ab2df1c-ed88-4946-a8a9-e1bbb3e4d1fd-sdk-dc-4qb444onnk2tc.centraluseuap.devcenter.azure.com/",
    "RandomSeed": "1625349637",
    "STATIC_TEST_USER_ID": "df428e89-1bc2-4e72-b736-032c31a6cd97",
    "TENANT_ID": "8ab2df1c-ed88-4946-a8a9-e1bbb3e4d1fd"
  }
}
