{
  "Entries": [
    {
      "RequestUri": "https://8ab2df1c-ed88-4946-a8a9-e1bbb3e4d1fd-sdk-dc-nfe5imigsvzps.eastus.devcenter.azure.com/projects/sdk-project-jo2qjpwybd77m/environmentTypes?api-version=2023-01-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "X-Rate-Limit-Limit": "1m",
        "X-Rate-Limit-Remaining": "299",
        "X-Rate-Limit-Reset": "2023-05-01T21:58:04.4450291Z"
      },
      "ResponseBody": {
        "value": [
          {
            "name": "sdk-environment-type-okzwratgtilbq",
            "deploymentTargetId": "/subscriptions/62e47139-66d0-4b0b-a000-1e8a412890c1",
            "status": "Enabled"
          }
        ]
      }
    }
  ],
  "Variables": {
    "DEFAULT_ENVIRONMENT_TYPE_NAME": "sdk-environment-type-okzwratgtilbq",
    "DEFAULT_PROJECT_NAME": "sdk-project-jo2qjpwybd77m",
    "DEVCENTER_ENDPOINT": "https://8ab2df1c-ed88-4946-a8a9-e1bbb3e4d1fd-sdk-dc-nfe5imigsvzps.eastus.devcenter.azure.com/",
    "RandomSeed": "1592743204"
  }
}
