{
  "Entries": [
    {
      "RequestUri": "https://8ab2df1c-ed88-4946-a8a9-e1bbb3e4d1fd-sdk-dc-nfe5imigsvzps.eastus.devcenter.azure.com/projects/sdk-project-jo2qjpwybd77m/catalogs/sdk-default-catalog/environmentDefinitions?api-version=2023-01-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "X-Rate-Limit-Limit": "1m",
        "X-Rate-Limit-Remaining": "297",
        "X-Rate-Limit-Reset": "2023-05-01T21:33:24.2892148Z"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "8ab2df1c-ed88-4946-a8a9-e1bbb3e4d1fd:sdk-dc-nfe5imigsvzps:sdk-default-catalog:sandbox",
            "name": "Sandbox",
            "catalogName": "sdk-default-catalog",
            "description": "Deploys an empty sandbox environment",
            "parameters": [],
            "parametersSchema": "{\u0022type\u0022:\u0022object\u0022}",
            "templatePath": "Environments/Sandbox/azuredeploy.json"
          },
          {
            "id": "8ab2df1c-ed88-4946-a8a9-e1bbb3e4d1fd:sdk-dc-nfe5imigsvzps:sdk-default-catalog:functionapp",
            "name": "FunctionApp",
            "catalogName": "sdk-default-catalog",
            "description": "Deploys an Azure Function App, Storage Account, and Application Insights",
            "parameters": [
              {
                "id": "name",
                "name": "Name",
                "description": "Name of the Function App.",
                "type": "string",
                "readOnly": false,
                "required": true,
                "allowed": []
              },
              {
                "id": "supportsHttpsTrafficOnly",
                "name": "Supports Https Traffic Only",
                "description": "Allows https traffic only to Storage Account and Functions App if set to true.",
                "type": "boolean",
                "readOnly": false,
                "required": false,
                "allowed": []
              },
              {
                "id": "runtime",
                "name": "Runtime",
                "description": "The language worker runtime to load in the function app.",
                "default": "dotnet-isolated",
                "type": "string",
                "readOnly": false,
                "required": false,
                "allowed": [
                  "dotnet",
                  "dotnet-isolated",
                  "java",
                  "node",
                  "powershell",
                  "python"
                ]
              }
            ],
            "parametersSchema": "{\u0022type\u0022:\u0022object\u0022,\u0022properties\u0022:{\u0022name\u0022:{\u0022titl[...]
