{
  "Entries": [
    {
      "RequestUri": "https://8ab2df1c-ed88-4946-a8a9-e1bbb3e4d1fd-sdk-dc-4qb444onnk2tc.centraluseuap.devcenter.azure.com/projects/sdk-project-tum3smsgozvm2/environmentDefinitions?api-version=2023-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "X-Rate-Limit-Limit": "1m",
        "X-Rate-Limit-Remaining": "297",
        "X-Rate-Limit-Reset": "2023-05-09T00:47:02.9104809Z"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/projects/sdk-project-tum3smsgozvm2/catalogs/sdk-default-catalog/environmentDefinitions/webapp",
            "name": "WebApp",
            "catalogName": "sdk-default-catalog",
            "description": "Deploys an Azure Web App without a data store",
            "parameters": [],
            "parametersSchema": "{\u0022type\u0022:\u0022object\u0022}",
            "templatePath": "Environments/WebApp/azuredeploy.json"
          },
          {
            "id": "/projects/sdk-project-tum3smsgozvm2/catalogs/sdk-default-catalog/environmentDefinitions/functionapp",
            "name": "FunctionApp",
            "catalogName": "sdk-default-catalog",
            "description": "Deploys an Azure Function App, Storage Account, and Application Insights",
            "parameters": [],
            "parametersSchema": "{\u0022type\u0022:\u0022object\u0022}",
            "templatePath": "Environments/FunctionApp/azuredeploy.json"
          },
          {
            "id": "/projects/sdk-project-tum3smsgozvm2/catalogs/sdk-default-catalog/environmentDefinitions/sandbox",
            "name": "Sandbox",
            "catalogName": "sdk-default-catalog",
            "description": "Deploys an empty sandbox environment",
            "parameters": [],
            "parametersSchema": "{\u0022type\u0022:\u0022object\u0022}",
            "templatePath": "Environments/Sandbox/azuredeploy.json"
          }
        ]
      }
    }
  ],
  "Variables": {
    "DEFAULT_PROJECT_NAME": "sdk-project-tum3smsgozvm2",
    "DEVCENTER_ENDPOINT": "https://8ab2df1c-ed88-4946-a8a9-e1bbb3e4d1fd-sdk-dc-4qb444onnk2tc.centraluseuap.devcenter.azure.com/",
    "RandomSeed": "1359787104"
  }
}
