{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c?api-version=2019-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "tagKey1": "tagValue1",
          "tagKey2": "tagValue2"
        },
        "subscriptionId": "db1ab6f0-4769-4b27-930e-01e2ef9c123c",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": ".NET Mgmt SDK Test with TTL = 1 Day",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/providers/Microsoft.Management/managementGroups/mgmt-group-7077?api-version=2021-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {}
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/providers/Microsoft.Management/operationResults/create/asyncOperation/status/managementGroups/mgmt-group-7077?api-version=2021-04-01",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/providers/Microsoft.Management/operationResults/create/managementGroups/mgmt-group-7077?api-version=2021-04-01",
        "Retry-After": "10",
        "x-ba-restapi": "1.0.3.1628",
        "x-ms-ratelimit-remaining-managementgroups-requests": "59",
        "x-ms-ratelimit-remaining-tenant-writes": "1199"
      },
      "ResponseBody": {
        "id": "/providers/Microsoft.Management/managementGroups/mgmt-group-7077",
        "type": "Microsoft.Management/managementGroups",
        "name": "mgmt-group-7077",
        "status": "NotStarted"
      }
    },
    {
      "RequestUri": "https://management.azure.com/providers/Microsoft.Management/operationResults/create/asyncOperation/status/managementGroups/mgmt-group-7077?api-version=2021-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/providers/Microsoft.Management/operationResults/create/asyncOperation/status/managementGroups/mgmt-group-7077?api-version=2021-04-01",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/providers/Microsoft.Management/operationResults/create/managementGroups/mgmt-group-7077?api-version=2021-04-01",
        "Retry-After": "10",
        "x-ba-restapi": "1.0.3.1628",
        "x-ms-ratelimit-remaining-tenant-reads": "11999"
      },
      "ResponseBody": {
        "id": "/providers/Microsoft.Management/operationResults/create/asyncOperation/status/managementGroups/mgmt-group-7077",
        "name": "mgmt-group-7077",
        "status": "NotStarted"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/providers/Microsoft.Management/operationResults/create/asyncOperation/status/managementGroups/mgmt-group-7077?api-version=2021-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ba-restapi": "1.0.3.1628",
        "x-ms-ratelimit-remaining-tenant-reads": "11978"
      },
      "ResponseBody": {
        "id": "/providers/Microsoft.Management/operationResults/create/asyncOperation/status/managementGroups/mgmt-group-7077",
        "name": "mgmt-group-7077",
        "status": "Succeeded",
        "properties": {
          "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
          "displayName": "mgmt-group-7077",
          "details": {
            "version": 4,
            "updatedTime": "2021-07-21T17:26:39.4872427Z",
            "updatedBy": "3b10dae3-28cf-49a7-a8df-8fbae3e77f27"
          }
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/providers/Microsoft.Management/managementGroups/mgmt-group-7077?api-version=2021-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ba-restapi": "1.0.3.1628",
        "x-ms-ratelimit-remaining-tenant-reads": "11977"
      },
      "ResponseBody": {
        "id": "/providers/Microsoft.Management/managementGroups/mgmt-group-7077",
        "type": "Microsoft.Management/managementGroups",
        "name": "mgmt-group-7077",
        "properties": {
          "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
          "displayName": "mgmt-group-7077",
          "details": {
            "version": 4,
            "updatedTime": "2021-07-21T17:26:39.4872427Z",
            "updatedBy": "3b10dae3-28cf-49a7-a8df-8fbae3e77f27",
            "parent": {
              "id": "/providers/Microsoft.Management/managementGroups/72f988bf-86f1-41af-91ab-2d7cd011db47",
              "name": "72f988bf-86f1-41af-91ab-2d7cd011db47",
              "displayName": "72f988bf-86f1-41af-91ab-2d7cd011db47"
            }
          }
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/providers/Microsoft.Management/managementGroups/mgmt-group-7077?api-version=2021-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ba-restapi": "1.0.3.1628",
        "x-ms-ratelimit-remaining-tenant-reads": "11976"
      },
      "ResponseBody": {
        "id": "/providers/Microsoft.Management/managementGroups/mgmt-group-7077",
        "type": "Microsoft.Management/managementGroups",
        "name": "mgmt-group-7077",
        "properties": {
          "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
          "displayName": "mgmt-group-7077",
          "details": {
            "version": 4,
            "updatedTime": "2021-07-21T17:26:39.4872427Z",
            "updatedBy": "3b10dae3-28cf-49a7-a8df-8fbae3e77f27",
            "parent": {
              "id": "/providers/Microsoft.Management/managementGroups/72f988bf-86f1-41af-91ab-2d7cd011db47",
              "name": "72f988bf-86f1-41af-91ab-2d7cd011db47",
              "displayName": "72f988bf-86f1-41af-91ab-2d7cd011db47"
            }
          }
        }
      }
    }
  ],
  "Variables": {
    "RandomSeed": "2078233070",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "db1ab6f0-4769-4b27-930e-01e2ef9c123c"
  }
}