{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/e8257c73-24c5-4791-94dc-8b7901c90dbf?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11971"
      },
      "ResponseBody": {
        "id": "/subscriptions/e8257c73-24c5-4791-94dc-8b7901c90dbf",
        "authorizationSource": "Bypassed",
        "managedByTenants": [],
        "tags": {
          "NRMS9825974": "20220330",
          "NRMSBreakGlassAzureOnly": "286269898",
          "NRMS13179388": "20220808"
        },
        "subscriptionId": "e8257c73-24c5-4791-94dc-8b7901c90dbf",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": "Kusto_Dev_Kusto_Ilay_04_Test",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/e8257c73-24c5-4791-94dc-8b7901c90dbf/resourcegroups/sdkRg391?api-version=2021-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11970"
      },
      "ResponseBody": {
        "id": "/subscriptions/e8257c73-24c5-4791-94dc-8b7901c90dbf/resourceGroups/sdkRg391",
        "name": "sdkRg391",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus2",
        "tags": {
          "ServiceDirectory": "kusto",
          "DeleteAfter": "2022-11-17T14:39:25.3856077Z",
          "Owners": "tabebchuk"
        },
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/e8257c73-24c5-4791-94dc-8b7901c90dbf/resourceGroups/sdkRg391/providers/Microsoft.Kusto/clusters/sdkCluster391?api-version=2022-07-07",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00222022-11-17T13:57:13.7808793Z\u0022",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "285"
      },
      "ResponseBody": {
        "id": "/subscriptions/e8257c73-24c5-4791-94dc-8b7901c90dbf/resourceGroups/sdkRg391/providers/Microsoft.Kusto/Clusters/sdkCluster391",
        "name": "sdkCluster391",
        "type": "Microsoft.Kusto/Clusters",
        "etag": "\u00222022-11-17T13:57:13.7808793Z\u0022",
        "location": "East US 2",
        "sku": {
          "name": "Standard_D13_v2",
          "tier": "Standard",
          "capacity": 2
        },
        "tags": {},
        "properties": {
          "state": "Running",
          "stateReason": null,
          "uri": "https://sdkcluster391.eastus2.kusto.windows.net",
          "dataIngestionUri": "https://ingest-sdkcluster391.eastus2.kusto.windows.net",
          "trustedExternalTenants": [],
          "virtualNetworkConfiguration": null,
          "optimizedAutoscale": null,
          "enableDiskEncryption": false,
          "enableStreamingIngest": false,
          "keyVaultProperties": null,
          "languageExtensions": {
            "value": []
          },
          "enablePurge": null,
          "enableDoubleEncryption": false,
          "engineType": "V3",
          "acceptedAudiences": [],
          "restrictOutboundNetworkAccess": "Disabled",
          "allowedFqdnList": [],
          "publicNetworkAccess": "Enabled",
          "allowedIpRangeList": [],
          "enableAutoStop": true,
          "publicIPType": "IPv4",
          "virtualClusterGraduationProperties": null,
          "privateEndpointConnections": [
            {
              "name": "sdkPrivateEndpoint391-29fe8373-7196-4820-a5b8-bdfcf6488bc5",
              "type": "Microsoft.Kusto/Clusters/privateEndpointConnections",
              "id": "/subscriptions/e8257c73-24c5-4791-94dc-8b7901c90dbf/resourceGroups/sdkRg391/providers/Microsoft.Kusto/Clusters/sdkCluster391/privateEndpointConnections/sdkPrivateEndpoint391-29fe8373-7196-4820-a5b8-bdfcf6488bc5",
              "properties": {
                "provisioningState": "Succeeded",
                "groupId": "cluster",
                "privateEndpoint": {
                  "id": "/subscriptions/e8257c73-24c5-4791-94dc-8b7901c90dbf/resourceGroups/sdkRg391/providers/Microsoft.Network/privateEndpoints/sdkPrivateEndpoint391"
                },
                "privateLinkServiceConnectionState": {
                  "status": "Approved",
                  "description": "",
                  "actionsRequired": "None"
                }
              }
            }
          ],
          "provisioningState": "Succeeded"
        },
        "identity": {
          "principalId": "c2a85b66-7075-4d4a-a350-26a384bdc67e",
          "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
          "type": "SystemAssigned, UserAssigned",
          "userAssignedIdentities": {
            "/subscriptions/e8257c73-24c5-4791-94dc-8b7901c90dbf/resourcegroups/sdkRg391/providers/Microsoft.ManagedIdentity/userAssignedIdentities/sdkUserAssignedIdentity391": {
              "principalId": "119eb477-7e17-4b80-9b9a-a7ec8d81d5b5",
              "clientId": "54e9b317-7b21-44ff-972b-30d3264710f6"
            }
          }
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/e8257c73-24c5-4791-94dc-8b7901c90dbf/resourceGroups/sdkRg391/providers/Microsoft.Kusto/clusters/sdkCluster391/databases/sdkDatabase391?api-version=2022-07-07",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "269"
      },
      "ResponseBody": {
        "id": "/subscriptions/e8257c73-24c5-4791-94dc-8b7901c90dbf/resourceGroups/sdkRg391/providers/Microsoft.Kusto/Clusters/sdkCluster391/Databases/sdkDatabase391",
        "name": "sdkCluster391/sdkDatabase391",
        "type": "Microsoft.Kusto/Clusters/Databases",
        "location": "East US 2",
        "kind": "ReadWrite",
        "properties": {
          "statistics": {
            "size": 0.0
          },
          "isFollowed": false,
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/e8257c73-24c5-4791-94dc-8b7901c90dbf/resourceGroups/sdkRg391/providers/Microsoft.Kusto/clusters/sdkCluster391/databases/sdkDatabase391/dataConnections/sdkEventHubDataConnection3910?api-version=2022-07-07",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus2",
        "kind": "EventHub",
        "properties": {
          "eventHubResourceId": "/subscriptions/e8257c73-24c5-4791-94dc-8b7901c90dbf/resourceGroups/sdkRg391/providers/Microsoft.EventHub/namespaces/sdkEventHubNamespace391/eventhubs/sdkEventHub391",
          "consumerGroup": "$Default"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/e8257c73-24c5-4791-94dc-8b7901c90dbf/providers/Microsoft.Kusto/locations/eastus2/operationResults/56c5ce9b-599d-44f6-ad24-b0c86f0ef5fb?api-version=2022-07-07",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "191"
      },
      "ResponseBody": {
        "id": "/subscriptions/e8257c73-24c5-4791-94dc-8b7901c90dbf/resourceGroups/sdkRg391/providers/Microsoft.Kusto/Clusters/sdkCluster391/Databases/sdkDatabase391/DataConnections/sdkEventHubDataConnection3910",
        "name": "sdkCluster391/sdkDatabase391/sdkEventHubDataConnection3910",
        "type": "Microsoft.Kusto/Clusters/Databases/DataConnections",
        "location": "eastus2",
        "kind": "EventHub",
        "properties": {
          "eventHubResourceId": "/subscriptions/e8257c73-24c5-4791-94dc-8b7901c90dbf/resourceGroups/sdkRg391/providers/Microsoft.EventHub/namespaces/sdkEventHubNamespace391/eventhubs/sdkEventHub391",
          "consumerGroup": "$Default",
          "provisioningState": "Creating"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/e8257c73-24c5-4791-94dc-8b7901c90dbf/providers/Microsoft.Kusto/locations/eastus2/operationResults/56c5ce9b-599d-44f6-ad24-b0c86f0ef5fb?api-version=2022-07-07",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-operation-root-activity-id": "33e894f6-d2bd-4412-bc3c-ad02897f19fa",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "149"
      },
      "ResponseBody": {
        "id": "/subscriptions/e8257c73-24c5-4791-94dc-8b7901c90dbf/providers/Microsoft.Kusto/locations/eastus2/operationresults/56c5ce9b-599d-44f6-ad24-b0c86f0ef5fb",
        "name": "56c5ce9b-599d-44f6-ad24-b0c86f0ef5fb",
        "status": "Running",
        "startTime": "2022-11-17T14:01:51.7755025Z",
        "endTime": "2022-11-17T14:01:51.7755025Z",
        "percentComplete": 0.5,
        "properties": {}
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/e8257c73-24c5-4791-94dc-8b7901c90dbf/resourceGroups/sdkRg391/providers/Microsoft.Kusto/clusters/sdkCluster391/databases/sdkDatabase391/dataConnections/sdkEventHubDataConnection3910?api-version=2022-07-07",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "267"
      },
      "ResponseBody": {
        "id": "/subscriptions/e8257c73-24c5-4791-94dc-8b7901c90dbf/resourceGroups/sdkRg391/providers/Microsoft.Kusto/Clusters/sdkCluster391/Databases/sdkDatabase391/DataConnections/sdkEventHubDataConnection3910",
        "name": "sdkCluster391/sdkDatabase391/sdkEventHubDataConnection3910",
        "type": "Microsoft.Kusto/Clusters/Databases/DataConnections",
        "location": "East US 2",
        "kind": "EventHub",
        "properties": {
          "eventHubResourceId": "/subscriptions/e8257c73-24c5-4791-94dc-8b7901c90dbf/resourceGroups/sdkRg391/providers/Microsoft.EventHub/namespaces/sdkEventHubNamespace391/eventhubs/sdkEventHub391",
          "consumerGroup": "$Default",
          "tableName": "",
          "mappingRuleName": "",
          "dataFormat": "",
          "eventSystemProperties": [],
          "compression": "None",
          "managedIdentityResourceId": null,
          "managedIdentityObjectId": null,
          "databaseRouting": "Single",
          "retrievalStartDate": "2022-11-17T14:01:53.7712562Z",
          "provisioningState": "Succeeded"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/e8257c73-24c5-4791-94dc-8b7901c90dbf/providers/Microsoft.Kusto/locations/East%20US%202/operationResults/af4b1e66-f0f4-4d99-afe1-b6c19d6a0916?api-version=2022-07-07",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-operation-root-activity-id": "2e3d5f23-bd3f-43af-93bb-0dd307266566",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "146"
      },
      "ResponseBody": {
        "id": "/subscriptions/e8257c73-24c5-4791-94dc-8b7901c90dbf/providers/Microsoft.Kusto/locations/East US 2/operationresults/af4b1e66-f0f4-4d99-afe1-b6c19d6a0916",
        "name": "af4b1e66-f0f4-4d99-afe1-b6c19d6a0916",
        "status": "Running",
        "startTime": "2022-11-17T14:01:55.9631369Z",
        "endTime": "2022-11-17T14:01:55.9631369Z",
        "percentComplete": 0.5,
        "properties": {}
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/e8257c73-24c5-4791-94dc-8b7901c90dbf/resourceGroups/sdkRg391/providers/Microsoft.Kusto/clusters/sdkCluster391/databases/sdkDatabase391/dataConnections?api-version=2022-07-07",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/e8257c73-24c5-4791-94dc-8b7901c90dbf/resourceGroups/sdkRg391/providers/Microsoft.Kusto/clusters/sdkCluster391/databases/sdkDatabase391/dataConnections/nonExistent?api-version=2022-07-07",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "262"
      },
      "ResponseBody": {
        "error": {
          "code": "ResourceNotFound",
          "message": "The resource with identifier \u0027/subscriptions/e8257c73-24c5-4791-94dc-8b7901c90dbf/resourceGroups/sdkRg391/providers/Microsoft.Kusto/Clusters/sdkCluster391/Databases/sdkDatabase391/DataConnections/nonExistent\u0027 is not found."
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/e8257c73-24c5-4791-94dc-8b7901c90dbf/resourceGroups/sdkRg391/providers/Microsoft.Kusto/clusters/sdkCluster391/databases/sdkDatabase391/dataConnections/sdkEventHubDataConnection3910?api-version=2022-07-07",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/e8257c73-24c5-4791-94dc-8b7901c90dbf/providers/Microsoft.Kusto/locations/East US 2/operationResults/1b3ad366-af67-4e05-b990-d06a40e95e69?api-version=2022-07-07",
        "Location": "https://management.azure.com/subscriptions/e8257c73-24c5-4791-94dc-8b7901c90dbf/providers/Microsoft.Kusto/locations/East%20US%202/operationResults/1b3ad366-af67-4e05-b990-d06a40e95e69?api-version=2022-07-07\u0026operationResultResponseType=Location",
        "x-ms-ratelimit-remaining-subscription-deletes": "14987"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/e8257c73-24c5-4791-94dc-8b7901c90dbf/providers/Microsoft.Kusto/locations/East%20US%202/operationResults/1b3ad366-af67-4e05-b990-d06a40e95e69?api-version=2022-07-07",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-operation-root-activity-id": "df173873-b905-4bad-93ba-de9dee56935a",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "144"
      },
      "ResponseBody": {
        "id": "/subscriptions/e8257c73-24c5-4791-94dc-8b7901c90dbf/providers/Microsoft.Kusto/locations/East US 2/operationresults/1b3ad366-af67-4e05-b990-d06a40e95e69",
        "name": "1b3ad366-af67-4e05-b990-d06a40e95e69",
        "status": "Running",
        "startTime": "2022-11-17T14:02:01.9168033Z",
        "endTime": "2022-11-17T14:02:01.9168033Z",
        "percentComplete": 0.5,
        "properties": {
          "operationKind": "DmServiceDataObtainerDrop",
          "provisioningState": "Running",
          "operationState": "InProgress"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/e8257c73-24c5-4791-94dc-8b7901c90dbf/resourceGroups/sdkRg391/providers/Microsoft.Kusto/clusters/sdkCluster391/databases/sdkDatabase391/dataConnections/sdkEventHubDataConnection3910?api-version=2022-07-07",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "260"
      },
      "ResponseBody": {
        "error": {
          "code": "ResourceNotFound",
          "message": "The resource with identifier \u0027/subscriptions/e8257c73-24c5-4791-94dc-8b7901c90dbf/resourceGroups/sdkRg391/providers/Microsoft.Kusto/Clusters/sdkCluster391/Databases/sdkDatabase391/DataConnections/sdkEventHubDataConnection3910\u0027 is not found."
        }
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com/",
    "CLUSTER_NAME": "sdkCluster391",
    "DATABASE_NAME": "sdkDatabase391",
    "EVENT_HUB_ID": "/subscriptions/e8257c73-24c5-4791-94dc-8b7901c90dbf/resourceGroups/sdkRg391/providers/Microsoft.EventHub/namespaces/sdkEventHubNamespace391/eventhubs/sdkEventHub391",
    "ID": "391",
    "LOCATION": "eastus2",
    "RandomSeed": "1582829380",
    "RESOURCE_GROUP": "sdkRg391",
    "RESOURCE_MANAGER_URL": "https://management.azure.com/",
    "SUBSCRIPTION_ID": "e8257c73-24c5-4791-94dc-8b7901c90dbf",
    "TABLE_NAME": "sdkScriptContentTable391",
    "USER_ASSIGNED_IDENTITY_ID": "/subscriptions/e8257c73-24c5-4791-94dc-8b7901c90dbf/resourceGroups/sdkRg391/providers/Microsoft.ManagedIdentity/userAssignedIdentities/sdkUserAssignedIdentity391"
  }
}
