{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/61065ccc-9543-4b91-b2d1-0ce42a914507/resourceGroups/nfa-tool-ts-clisdktest-nfrg060523/providers/Microsoft.ManagedNetworkFabric/networkRacks/nfa-tool-ts-nf060523-comprack1?api-version=2023-02-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00222f0cbb39-0000-0100-0000-647da5850000\u0022",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "id": "/subscriptions/61065ccc-9543-4b91-b2d1-0ce42a914507/resourceGroups/nfa-tool-ts-clisdktest-nfrg060523/providers/Microsoft.ManagedNetworkFabric/networkRacks/nfa-tool-ts-nf060523-comprack1",
        "name": "nfa-tool-ts-nf060523-comprack1",
        "type": "microsoft.managednetworkfabric/networkracks",
        "location": "eastus",
        "systemData": {
          "createdBy": "a893dadc-5c8e-47f4-8379-6afb34bdbe12",
          "createdByType": "Application",
          "createdAt": "2023-06-05T07:01:22.4996838Z",
          "lastModifiedBy": "d1bd24c7-b27f-477e-86dd-939e107873d7",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2023-06-05T09:06:13.0515749Z"
        },
        "properties": {
          "networkFabricId": "/subscriptions/61065ccc-9543-4b91-b2d1-0ce42a914507/resourceGroups/nfa-tool-ts-clisdktest-nfrg060523/providers/Microsoft.ManagedNetworkFabric/networkFabrics/nfa-tool-ts-nf060523",
          "networkRackSku": "fab1",
          "networkDevices": [
            "/subscriptions/61065ccc-9543-4b91-b2d1-0ce42a914507/resourceGroups/nfa-tool-ts-clisdktest-nfrg060523/providers/Microsoft.ManagedNetworkFabric/networkDevices/nfa-tool-ts-nf060523-CompRack1-TOR1",
            "/subscriptions/61065ccc-9543-4b91-b2d1-0ce42a914507/resourceGroups/nfa-tool-ts-clisdktest-nfrg060523/providers/Microsoft.ManagedNetworkFabric/networkDevices/nfa-tool-ts-nf060523-CompRack1-TOR2",
            "/subscriptions/61065ccc-9543-4b91-b2d1-0ce42a914507/resourceGroups/nfa-tool-ts-clisdktest-nfrg060523/providers/Microsoft.ManagedNetworkFabric/networkDevices/nfa-tool-ts-nf060523-CompRack1-MgmtSwitch"
          ],
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/61065ccc-9543-4b91-b2d1-0ce42a914507/resourceGroups/nfa-tool-ts-clisdktest-nfrg060523/providers/Microsoft.ManagedNetworkFabric/networkRacks?api-version=2023-02-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-original-request-ids": [
          "426116c3-2523-4912-9fc7-ebb82f7a7314",
          "7411de78-04e6-449d-bbe7-8aa07b85bf5f",
          "cbd4e7c2-d412-42ab-8257-f7ec030fd726",
          "3b8ebdca-f075-44d1-bbb6-1367804fecdf"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": "11998"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/61065ccc-9543-4b91-b2d1-0ce42a914507/resourceGroups/nfa-tool-ts-clisdktest-nfrg060523/providers/Microsoft.ManagedNetworkFabric/networkRacks/nfa-tool-ts-nf060523-aggrack",
            "name": "nfa-tool-ts-nf060523-aggrack",
            "type": "microsoft.managednetworkfabric/networkracks",
            "location": "eastus",
            "systemData": {
              "createdBy": "a893dadc-5c8e-47f4-8379-6afb34bdbe12",
              "createdByType": "[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/61065ccc-9543-4b91-b2d1-0ce42a914507/providers/Microsoft.ManagedNetworkFabric/networkRacks?api-version=2023-02-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-original-request-ids": [
          "43800e16-f7e1-41[...]
