{
  "Entries": [
    {
      "RequestUri": "/luis/api/v2.0/apps/86226c53-b7a6-416f-876b-226b2b5ab07b/versions/0.1/closedlists/d1f95436-57ac-4524-ae81-5bdd32668ccf",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": [
          "00000000000000000000000000000000"
        ]
      },
      "ResponseBody": "",
      "ResponseHeaders": {
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/luis/api/v2.0/apps/86226c53-b7a6-416f-876b-226b2b5ab07b/versions/0.1/closedlists?skip=0&take=100",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": [
          "00000000000000000000000000000000"
        ]
      },
      "ResponseBody": "[\r\n  {\r\n    \"id\": \"4b501a95-2720-43d7-8ca9-4166c0faa6cb\",\r\n    \"name\": \"Retrieve Sample List\",\r\n    \"typeId\": 5,\r\n    \"readableType\": \"Closed List Entity Extractor\",\r\n    \"subLists\": [\r\n      {\r\n        \"id\": 6133361,\r\n        \"canonicalForm\": \"New York\",\r\n        \"list\": [\r\n          \"ny\",\r\n          \"new york\"\r\n        ]\r\n      },\r\n      {\r\n        \"id\": 6133362,\r\n        \"canonicalForm\": \"Washington\",\r\n        \"list\": [\r\n          \"wa\",\r\n          \"washington\"\r\n        ]\r\n      },\r\n      {\r\n        \"id\": 6133363,\r\n        \"canonicalForm\": \"California\",\r\n        \"list\": [\r\n          \"ca\",\r\n          \"california\",\r\n          \"calif.\",\r\n          \"cal.\"\r\n        ]\r\n      }\r\n    ]\r\n  }\r\n]",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {}
}