{
  "Entries": [
    {
      "RequestUri": "https://jb-sdk-e2e-test.communication.azure.com/sip?api-version=2021-05-01-preview1",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 13 Jun 2022 13:32:27 GMT"
      },
      "RequestBody": {
        "routes": []
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "ATrPWXrM20WNOPN4eRZNWg.0",
        "X-Processing-Time": "390ms"
      },
      "ResponseBody": {
        "trunks": {
          "sbs1.sipconfigtest.com": {
            "sipSignalingPort": 9999
          },
          "sbs2.sipconfigtest.com": {
            "sipSignalingPort": 1123
          }
        },
        "routes": []
      }
    },
[...]
    {
      "RequestUri": "https://jb-sdk-e2e-test.communication.azure.com/sip?api-version=2021-05-01-preview1",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 13 Jun 2022 13:32:28 GMT"
      },
      "RequestBody": {
        "trunks": {
          "newsbs.sipconfigtest.com": {
            "sipSignalingPort": 3333
          },
          "sbs1.sipconfigtest.com": null,
          "sbs2.sipconfigtest.com": null
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "qNFV4b0jzUuEv2Yi\u002BbNvNQ.0",
        "X-Processing-Time": "854ms"
      },
      "ResponseBody": {
        "trunks": {
          "newsbs.sipconfigtest.com": {
            "sipSignalingPort": 3333
          }
        },
        "routes": []
      }
    },
    {
      "RequestUri": "https://jb-sdk-e2e-test.communication.azure.com/sip?api-version=2021-05-01-preview1",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 13 Jun 2022 13:32:29 GMT"
      },
      "RequestBody": {
        "routes": [
          {
            "description": "Handle all numbers\u0027",
            "name": "Alternative rule",
            "numberPattern": "\\\u002B[1-9][0-9]{3,23}",
            "trunks": [
              "newsbs.sipconfigtest.com"
            ]
          }
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "SUObOz7Hxki5FFpHFvn4kA.0",
        "X-Processing-Time": "535ms"
      },
      "ResponseBody": {
        "trunks": {
          "newsbs.sipconfigtest.com": {
            "sipSignalingPort": 3333
          }
        },
        "routes": [
          {
            "description": "Handle all numbers\u0027",
            "name": "Alternative rule",
            "numberPattern": "\\\u002B[1-9][0-9]{3,23}",
            "trunks": [
              "newsbs.sipconfigtest.com"
            ]
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://jb-sdk-e2e-test.communication.azure.com/sip?api-version=2021-05-01-preview1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 13 Jun 2022 13:32:34 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "yrijVAEEGUS9avHCgq/o3w.0",
        "X-Processing-Time": "245ms"
      },
      "ResponseBody": {
        "trunks": {
          "newsbs.sipconfigtest.com": {
            "sipSignalingPort": 9999
          }
        },
        "routes": [
          {
            "description": "Handle all numbers\u0027",
            "name": "Alternative rule",
            "numberPattern": "\\\u002B[1-9][0-9]{3,23}",
            "trunks": [
              "newsbs.sipconfigtest.com"
            ]
          }
        ]
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_STATIC_CONNECTION_STRING": "endpoint=https://jb-sdk-e2e-test.communication.azure.com/;accesskey=Kg==",
    "RandomSeed": "440137664"
  }
}
