{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.com/sip?api-version=2023-03-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 07 Mar 2023 14:24:25 GMT"
      },
      "RequestBody": {
        "routes": []
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-05-01-preview, 2022-09-01-preview, 2023-01-01-preview, 2023-03-01",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "emAIt0DuVUeM6wy1pDaIgA.0",
        "X-Processing-Time": "20386ms"
      },
      "ResponseBody": {
        "trunks": {},
        "routes": []
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.com/sip?api-version=2023-03-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 07 Mar 2023 14:24:47 GMT"
      },
      "RequestBody": {
        "trunks": {
          "newsbs-b8e87639-2974-fdef-3a22-093bb53485b4.testdomain.com": {
            "sipSignalingPort": 3333
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-05-01-preview, 2022-09-01-preview, 2023-01-01-preview, 2023-03-01",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "4rzJIDFo8kqVrnT5MW7Mhg.0",
        "X-Processing-Time": "939ms"
      },
      "ResponseBody": {
        "trunks": {
          "newsbs-b8e87639-2974-fdef-3a22-093bb53485b4.testdomain.com": {
            "sipSignalingPort": 3333
          }
        },
        "routes": []
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.com/sip?api-version=2023-03-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 07 Mar 2023 14:24:48 GMT"
      },
      "RequestBody": {
        "routes": [
          {
            "description": "Handle all numbers\u0027",
            "name": "Alternative rule",
            "numberPattern": "\\\u002B[1-9][0-9]{3,23}",
            "trunks": [
              "newsbs-b8e87639-2974-fdef-3a22-093bb53485b4.testdomain.com"
            ]
          }
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-05-01-preview, 2022-09-01-preview, 2023-01-01-preview, 2023-03-01",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "y2Q1aAwsGk6cnniXV2YQcA.0",
        "X-Processing-Time": "193ms"
      },
      "ResponseBody": {
        "trunks": {
          "newsbs-b8e87639-2974-fdef-3a22-093bb53485b4.testdomain.com": {
            "sipSignalingPort": 3333
          }
        },
        "routes": [
          {
            "description": "Handle all numbers\u0027",
            "name": "Alternative rule",
            "numberPattern": "\\\u002B[1-9][0-9]{3,23}",
            "trunks": [
              "newsbs-b8e87639-2974-fdef-3a22-093bb53485b4.testdomain.com"
            ]
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.com/sip?api-version=2023-03-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 07 Mar 2023 14:24:52 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-05-01-preview, 2022-09-01-preview, 2023-01-01-preview, 2023-03-01",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "LiPQG0nSLku\u002B\u002BUphdLFMgA.0",
        "X-Processing-Time": "125ms"
      },
      "ResponseBody": {
        "trunks": {
          "newsbs-b8e87639-2974-fdef-3a22-093bb53485b4.testdomain.com": {
            "sipSignalingPort": 9999
          }
        },
        "routes": [
          {
            "description": "Handle all numbers\u0027",
            "name": "Alternative rule",
            "numberPattern": "\\\u002B[1-9][0-9]{3,23}",
            "trunks": [
              "newsbs-b8e87639-2974-fdef-3a22-093bb53485b4.testdomain.com"
            ]
          }
        ]
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://sanitized.communication.azure.com/;accesskey=Kg==",
    "RandomSeed": "94809023"
  }
}
