{
  "Entries": [
    {
      "RequestUri": "https://jb-sdk-e2e-test.communication.azure.com/sip?api-version=2021-05-01-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 06 Dec 2022 00:04:32 GMT"
      },
      "RequestBody": {
        "routes": []
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-05-01-preview, 2022-09-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "Xrmnmj\u002BY8EuXxgCJ4/E7BQ.0",
        "X-Processing-Time": "189ms"
      },
      "ResponseBody": {
        "trunks": {},
        "routes": []
      }
    },
[...]
    {
      "RequestUri": "https://jb-sdk-e2e-test.communication.azure.com/sip?api-version=2021-05-01-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 06 Dec 2022 00:04:32 GMT"
      },
      "RequestBody": {
        "trunks": {
          "newsbs.com": {
            "sipSignalingPort": 3333
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-05-01-preview, 2022-09-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "gy/hycJCgkmBlVyh/J/NsA.0",
        "X-Processing-Time": "628ms"
      },
      "ResponseBody": {
        "trunks": {
          "newsbs.com": {
            "sipSignalingPort": 3333
          }
        },
        "routes": []
      }
    },
    {
      "RequestUri": "https://jb-sdk-e2e-test.communication.azure.com/sip?api-version=2021-05-01-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 06 Dec 2022 00:04:33 GMT"
      },
      "RequestBody": {
        "routes": [
          {
            "description": "Handle all numbers\u0027",
            "name": "Alternative rule",
            "numberPattern": "\\\u002B[1-9][0-9]{3,23}",
            "trunks": [
              "newsbs.com"
            ]
          }
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-05-01-preview, 2022-09-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "MYrCt9uSd0W7MQT7jv8Tcw.0",
        "X-Processing-Time": "987ms"
      },
      "ResponseBody": {
        "trunks": {
          "newsbs.com": {
            "sipSignalingPort": 3333
          }
        },
        "routes": [
          {
            "description": "Handle all numbers\u0027",
            "name": "Alternative rule",
            "numberPattern": "\\\u002B[1-9][0-9]{3,23}",
            "trunks": [
              "newsbs.com"
            ]
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://jb-sdk-e2e-test.communication.azure.com/sip?api-version=2021-05-01-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 06 Dec 2022 00:04:37 GMT"
      },
      "RequestBody": {
        "trunks": {
          "sbs1.com": {
            "sipSignalingPort": 1122
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-05-01-preview, 2022-09-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "8DgpZejlhkGy\u002B0vgb6UZzA.0",
        "X-Processing-Time": "598ms"
      },
      "ResponseBody": {
        "trunks": {
          "newsbs.com": {
            "sipSignalingPort": 9999
          },
          "sbs1.com": {
            "sipSignalingPort": 1122
          }
        },
        "routes": [
          {
            "description": "Handle all numbers\u0027",
            "name": "Alternative rule",
            "numberPattern": "\\\u002B[1-9][0-9]{3,23}",
            "trunks": [
              "newsbs.com"
            ]
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://jb-sdk-e2e-test.communication.azure.com/sip?api-version=2021-05-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 06 Dec 2022 00:04:39 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-05-01-preview, 2022-09-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "C7Hw/gyPKECecJRDOSgZpA.0",
        "X-Processing-Time": "209ms"
      },
      "ResponseBody": {
        "trunks": {
          "newsbs.com": {
            "sipSignalingPort": 9999
          }
        },
        "routes": [
          {
            "description": "Handle all numbers\u0027",
            "name": "Alternative rule",
            "numberPattern": "\\\u002B[1-9][0-9]{3,23}",
            "trunks": [
              "newsbs.com"
            ]
          }
        ]
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://jb-sdk-e2e-test.communication.azure.com/;accesskey=Kg==",
    "RandomSeed": "570007183"
  }
}
