{
  "Entries": [
    {
      "RequestUri": "/subscriptions/07c0b09d-9f69-4e6e-8d05-f59f67299cb2/providers/Microsoft.Insights/logprofiles/default?api-version=2016-03-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"storageAccountId\": \"/subscriptions/07c0b09d-9f69-4e6e-8d05-f59f67299cb2/resourceGroups/Default-Storage-westus/providers/microsoft.storage/storageaccounts/salp1\",\r\n    \"locations\": [\r\n      \"global\",\r\n      \"eastus\"\r\n    ],\r\n    \"categories\": [\r\n      \"Delete\",\r\n      \"Write\"\r\n    ],\r\n    \"retentionPolicy\": {\r\n      \"enabled\": true,\r\n      \"days\": 4\r\n    }\r\n  },\r\n  \"location\": \"\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/07c0b09d-9f69-4e6e-8d05-f59f67299cb2/providers/Microsoft.Insights/logprofiles/default\",\r\n  \"type\": null,\r\n  \"name\": \"default\",\r\n  \"location\": \"\",\r\n  \"kind\": null,\r\n  \"tags\": null,\r\n  \"properties\": {\r\n    \"storageAccountId\": \"/subscriptions/07c0b09d-9f69-4e6e-8d05-f59f67299cb2/resourceGroups/Default-Storage-westus/providers/microsoft.storage/storageaccounts/salp1\",\r\n    \"serviceBusRuleId\": null,\r\n    \"locations\": [\r\n      \"global\",\r\n      \"eastus\"\r\n    ],\r\n    \"categories\": [\r\n      \"Delete\",\r\n      \"Write\"\r\n    ],\r\n    \"retentionPolicy\": {\r\n      \"enabled\": true,\r\n      \"days\": 4\r\n    }\r\n  },\r\n  \"identity\": null\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/07c0b09d-9f69-4e6e-8d05-f59f67299cb2/providers/Microsoft.Insights/logprofiles?api-version=2016-03-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/07c0b09d-9f69-4e6e-8d05-f59f67299cb2/providers/microsoft.insights/logprofiles/default\",\r\n      \"type\": null,\r\n      \"name\": \"default\",\r\n      \"location\": null,\r\n      \"kind\": null,\r\n      \"tags\": null,\r\n      \"properties\": {\r\n        \"storageAccountId\": \"/subscriptions/07c0b09d-9f69-4e6e-8d05-f59f67299cb2/resourceGroups/Default-Storage-westus/providers/microsoft.storage/storageaccounts/salp1\",\r\n        \"serviceBusRuleId\": null,\r\n        \"locations\": [\r\n          \"global\",\r\n          \"eastus\"\r\n        ],\r\n        \"categories\": [\r\n          \"Delete\",\r\n          \"Write\"\r\n        ],\r\n        \"retentionPolicy\": {\r\n          \"enabled\": true,\r\n          \"days\": 4\r\n        }\r\n      },\r\n      \"identity\": null\r\n    }\r\n  ]\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14989"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/07c0b09d-9f69-4e6e-8d05-f59f67299cb2/providers/Microsoft.Insights/logprofiles/default?api-version=2016-03-01",
      "RequestMethod": "PATCH",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"storageAccountId\": \"/subscriptions/07c0b09d-9f69-4e6e-8d05-f59f67299cb2/resourceGroups/Default-Storage-westus/providers/microsoft.storage/storageaccounts/salp1\",\r\n    \"locations\": [\r\n      \"global\",\r\n      \"eastus\"\r\n    ],\r\n    \"categories\": [\r\n      \"Delete\",\r\n      \"Write\"\r\n    ],\r\n    \"retentionPolicy\": {\r\n      \"enabled\": true,\r\n      \"days\": 4\r\n    }\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"code\": \"Method not allowed\",\r\n  \"message\": \"Exception of type 'Microsoft.WindowsAzure.Management.Monitoring.MonitoringServiceException' was thrown.\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1198"
        ]
      },
      "StatusCode": 405
    },
    {
      "RequestUri": "/subscriptions/07c0b09d-9f69-4e6e-8d05-f59f67299cb2/providers/Microsoft.Insights/logprofiles/default?api-version=2016-03-01",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1197"
        ]
      },
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "07c0b09d-9f69-4e6e-8d05-f59f67299cb2"
  }
}