{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/2c647056-bab2-4175-b172-493ff049eb29/resourcegroups/Sql-RG-8919?api-version=2021-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11998"
      },
      "ResponseBody": {
        "id": "/subscriptions/2c647056-bab2-4175-b172-493ff049eb29/resourceGroups/Sql-RG-8919",
        "name": "Sql-RG-8919",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus2euap",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/2c647056-bab2-4175-b172-493ff049eb29/resourceGroups/Sql-RG-8919/providers/Microsoft.Sql/servers/sql-server-4727?api-version=2021-02-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "eastus2euap",
        "properties": {
          "administratorLogin": "admin-sql-server-4727",
          "administratorLoginPassword": "HvVJ%paVC@%GBKmi"
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/2c647056-bab2-4175-b172-493ff049eb29/resourceGroups/Sql-RG-8919/providers/Microsoft.Sql/locations/eastus2euap/serverAzureAsyncOperation/53362d0a-ca4e-4aae-b352-04eb0d94f968?api-version=2021-02-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/2c647056-bab2-4175-b172-493ff049eb29/resourceGroups/Sql-RG-8919/providers/Microsoft.Sql/locations/eastus2euap/serverOperationResults/53362d0a-ca4e-4aae-b352-04eb0d94f968?api-version=2021-02-01-preview",
        "Retry-After": "1",
        "x-ms-ratelimit-remaining-subscription-writes": "1198"
      },
      "ResponseBody": {
        "operation": "UpsertLogicalServer",
        "startTime": "2022-12-29T06:47:04.263Z"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/2c647056-bab2-4175-b172-493ff049eb29/resourceGroups/Sql-RG-8919/providers/Microsoft.Sql/locations/eastus2euap/serverAzureAsyncOperation/53362d0a-ca4e-4aae-b352-04eb0d94f968?api-version=2021-02-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "1",
        "x-ms-ratelimit-remaining-subscription-reads": "11997"
      },
      "ResponseBody": {
        "name": "53362d0a-ca4e-4aae-b352-04eb0d94f968",
        "status": "InProgress",
        "startTime": "2022-12-29T06:47:04.263Z"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/2c647056-bab2-4175-b172-493ff049eb29/resourceGroups/Sql-RG-8919/providers/Microsoft.Sql/servers/sql-server-4727?api-version=2021-02-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11989"
      },
      "ResponseBody": {
        "kind": "v12.0",
        "properties": {
          "administratorLogin": "admin-sql-server-4727",
          "version": "12.0",
          "state": "Ready",
          "fullyQualifiedDomainName": "sql-server-4727.database.windows.net",
          "privateEndpointConnections": [],
          "publicNetworkAccess": "Enabled",
          "restrictOutboundNetworkAccess": "Disabled"
        },
        "location": "eastus2euap",
        "tags": {},
        "id": "/subscriptions/2c647056-bab2-4175-b172-493ff049eb29/resourceGroups/Sql-RG-8919/providers/Microsoft.Sql/servers/sql-server-4727",
        "name": "sql-server-4727",
        "type": "Microsoft.Sql/servers"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/2c647056-bab2-4175-b172-493ff049eb29/resourceGroups/Sql-RG-8919/providers/Microsoft.Sql/servers/sql-server-4727/databases/sql-database-1283?api-version=2022-05-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "eastus2euap",
        "properties": {}
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/2c647056-bab2-4175-b172-493ff049eb29/resourceGroups/Sql-RG-8919/providers/Microsoft.Sql/locations/eastus2euap/databaseAzureAsyncOperation/2608aeae-e10e-40ac-bc20-3e4f36007d6d?api-version=2022-05-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/2c647056-bab2-4175-b172-493ff049eb29/resourceGroups/Sql-RG-8919/providers/Microsoft.Sql/locations/eastus2euap/databaseOperationResults/2608aeae-e10e-40ac-bc20-3e4f36007d6d?api-version=2022-05-01-preview",
        "Retry-After": "15",
        "x-ms-ratelimit-remaining-subscription-writes": "1197"
      },
      "ResponseBody": {
        "operation": "CreateLogicalDatabase",
        "startTime": "2022-12-29T06:48:11.217Z"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/2c647056-bab2-4175-b172-493ff049eb29/resourceGroups/Sql-RG-8919/providers/Microsoft.Sql/locations/eastus2euap/databaseAzureAsyncOperation/2608aeae-e10e-40ac-bc20-3e4f36007d6d?api-version=2022-05-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "15",
        "x-ms-ratelimit-remaining-subscription-reads": "11988"
      },
      "ResponseBody": {
        "name": "2608aeae-e10e-40ac-bc20-3e4f36007d6d",
        "status": "InProgress",
        "startTime": "2022-12-29T06:48:11.217Z"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/2c647056-bab2-4175-b172-493ff049eb29/resourceGroups/Sql-RG-8919/providers/Microsoft.Sql/servers/sql-server-4727/databases/sql-database-1283?api-version=2022-05-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11983"
      },
      "ResponseBody": {
        "sku": {
          "name": "Standard",
          "tier": "Standard",
          "capacity": 10
        },
        "kind": "v12.0,user",
        "properties": {
          "collation": "SQL_Latin1_General_CP1_CI_AS",
          "maxSizeBytes": 268435456000,
          "status": "Online",
          "databaseId": "5ffe2ac6-0270-4f28-9bc8-ffe0b2e84bce",
          "creationDate": "2022-12-29T06:48:59.36Z",
          "currentServiceObjectiveName": "S0",
          "requestedServiceObjectiveName": "S0",
          "defaultSecondaryLocation": "centraluseuap",
          "catalogCollation": "SQL_Latin1_General_CP1_CI_AS",
          "zoneRedundant": false,
          "readScale": "Disabled",
          "currentSku": {
            "name": "Standard",
            "tier": "Standard",
            "capacity": 10
          },
          "currentBackupStorageRedundancy": "Geo",
          "requestedBackupStorageRedundancy": "Geo",
          "maintenanceConfigurationId": "/subscriptions/2c647056-bab2-4175-b172-493ff049eb29/providers/Microsoft.Maintenance/publicMaintenanceConfigurations/SQL_Default",
          "isLedgerOn": false,
          "isInfraEncryptionEnabled": false
        },
        "location": "eastus2euap",
        "tags": {},
        "id": "/subscriptions/2c647056-bab2-4175-b172-493ff049eb29/resourceGroups/Sql-RG-8919/providers/Microsoft.Sql/servers/sql-server-4727/databases/sql-database-1283",
        "name": "sql-database-1283",
        "type": "Microsoft.Sql/servers/databases"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/2c647056-bab2-4175-b172-493ff049eb29/resourceGroups/Sql-RG-8919/providers/Microsoft.Sql/servers/sql-server-4727/databases/sql-database-12830?api-version=2022-05-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-failure-cause": "gateway"
      },
      "ResponseBody": {
        "error": {
          "code": "ResourceNotFound",
          "message": "The Resource \u0027Microsoft.Sql/servers/sql-server-4727/databases/sql-database-12830\u0027 under resource group \u0027Sql-RG-8919\u0027 was not found. For more details please go to https://aka.ms/ARMResourceNotFoundFix"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/2c647056-bab2-4175-b172-493ff049eb29/resourceGroups/Sql-RG-8919/providers/Microsoft.Sql/servers/sql-server-4727/databases?api-version=2022-05-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11979"
      },
      "ResponseBody": {
        "value": [
          {
            "sku": {
              "name": "System",
              "tier": "System",
              "capacity": 0
            },
            "kind": "v12.0,system",
            "managedBy": "/subscriptions/2c647056-bab2-4175-b172-493ff049eb29/resourceGroups/Sql-RG-8919/providers/Microsoft.Sql/servers/sql-server-4727",
            "properties": {
              "collation": "SQL_Latin1_General_CP1_CI_AS",
              "maxSizeBytes": 53687091200,
              "status": "Online",
              "databaseId": "61eba5ff-0b4b-405f-a1f1-dce96158fec5",
              "creationDate": "2022-12-29T06:47:55.907Z",
              "currentServiceObjectiveName": "System2",
              "requeste[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/2c647056-bab2-4175-b172-493ff049eb29/resourceGroups/Sql-RG-8919/providers/Microsoft.Sql/servers?api-version=2021-02-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11974"
      },
      "ResponseBody": {
        "value": [
          {
            "kind": "v12.0",
            "properties": {
              "administratorLogin": "admin-sql-server-4727",
              "version": "12.0",
              "state": "Ready",
              "fullyQualifiedDomainName": "sql-server-4727.database.windows.net",
              "privateEndpointConnections": [],
              "publicNetworkAccess": "Enabled",
              "restrictOutboundNetworkAccess": "Disabled"
            },
            "location": "eastus2euap",
            "tags": {},
            "id": "/subscriptions/2c647056-bab2-4175-b172-493ff049eb29/resourceGroups/Sql-RG-8919/providers/Microsoft.Sql/servers/sql-server-4727",
            "name": "sql-server-4727",
            "type": "Microsoft.Sql/servers"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/2c647056-bab2-4175-b172-493ff049eb29/resourceGroups/Sql-RG-8919/providers/Microsoft.Sql/locations/eastus2euap/serverAzureAsyncOperation/6e15ef07-900b-422f-8c23-a88c09d5ad5f?api-version=2021-02-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "15",
        "x-ms-ratelimit-remaining-subscription-reads": "11972"
      },
      "ResponseBody": {
        "name": "6e15ef07-900b-422f-8c23-a88c09d5ad5f",
        "status": "Succeeded",
        "startTime": "2022-12-29T06:49:29.377Z"
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "RandomSeed": "1952796868",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "2c647056-bab2-4175-b172-493ff049eb29"
  }
}
