{
  "Entries": [
    {
      "RequestUri": "/subscriptions/30d9d527-c409-4507-b861-d60e7fe9e292/resourcegroups/dotnetsdkrg6208?api-version=2017-05-10",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"westus\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/30d9d527-c409-4507-b861-d60e7fe9e292/resourceGroups/dotnetsdkrg6208\",\r\n  \"name\": \"dotnetsdkrg6208\",\r\n  \"location\": \"westus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/30d9d527-c409-4507-b861-d60e7fe9e292/resourceGroups/dotnetsdkrg6208/providers/Microsoft.Purview/accounts/dotnetsdkaccount2973?api-version=2020-12-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"sku\": {\r\n    \"capacity\": 4,\r\n    \"name\": \"Standard\"\r\n  },\r\n  \"identity\": {\r\n    \"type\": \"SystemAssigned\"\r\n  },\r\n  \"location\": \"westus\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Location": [
          "https://api-dogfood.resources.windows-int.net/subscriptions/30d9d527-c409-4507-b861-d60e7fe9e292/resourceGroups/dotnetsdkrg6208/providers/Microsoft.Purview/accounts/dotnetsdkaccount2973?api-version=2020-12-01-preview"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "x-ms-account-status": [
          "Creating"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"sku\": {\r\n    \"name\": \"Standard\",\r\n    \"capacity\": 4\r\n  },\r\n  \"properties\": {\r\n    \"cloudConnectors\": {\r\n      \"awsExternalId\": \"91c705f0-a18e-426b-82ac-1742c47bc3a8\"\r\n    },\r\n    \"friendlyName\": \"dotnetsdkaccount2973\",\r\n    \"createdBy\": \"\",\r\n    \"createdByObjectId\": \"a25c44f5-d824-45db-8bc1-77b39376f949\",\r\n    \"createdAt\": \"2021-01-27T19:09:05.6630627Z\",\r\n    \"endpoints\": {\r\n      \"catalog\": \"https://dotnetsdkaccount2973.catalog.purview.azure-test.com\",\r\n      \"scan\": \"https://dotnetsdkaccount2973.scan.purview.azure-test.com\",\r\n      \"guardian\": \"https://dotnetsdkaccount2973.guardian.purview.azure-test.com\"\r\n    },\r\n    \"provisioningState\": \"Creating\",\r\n    \"privateEndpointConnections\": [],\r\n    \"managedResources\": null,\r\n    \"publicNetworkAccess\": \"Enabled\"\r\n  },\r\n  \"id\": \"/subscriptions/30d9d527-c409-4507-b861-d60e7fe9e292/resourceGroups/dotnetsdkrg6208/providers/Microsoft.Purview/accounts/dotnetsdkaccount2973\",\r\n  \"name\": \"dotnetsdkaccount2973\",\r\n  \"type\": \"Microsoft.Purview/accounts\",\r\n  \"location\": \"westus\",\r\n  \"identity\": {\r\n    \"type\": \"SystemAssigned\",\r\n    \"principalId\": \"e3c0af9a-e038-4f1a-bab4-3a224fb85cff\",\r\n    \"tenantId\": \"f686d426-8d16-42db-81b7-ab578e110ccd\"\r\n  },\r\n  \"tags\": null\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/30d9d527-c409-4507-b861-d60e7fe9e292/resourceGroups/dotnetsdkrg6208/providers/Microsoft.Purview/accounts/dotnetsdkaccount2973?api-version=2020-12-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14999"
        ],
        "x-ms-account-status": [
          "Creating"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"sku\": {\r\n    \"name\": \"Standard\",\r\n    \"capacity\": 4\r\n  },\r\n  \"properties\": {\r\n    \"cloudConnectors\": {\r\n      \"awsExternalId\": \"91c705f0-a18e-426b-82ac-1742c47bc3a8\"\r\n    },\r\n    \"friendlyName\": \"dotnetsdkaccount2973\",\r\n    \"createdBy\": \"\",\r\n    \"createdByObjectId\": \"a25c44f5-d824-45db-8bc1-77b39376f949\",\r\n    \"createdAt\": \"2021-01-27T19:09:05.6630627Z\",\r\n    \"endpoints\": {\r\n      \"catalog\": \"https://dotnetsdkaccount2973.catalog.purview.azure-test.com\",\r\n      \"scan\": \"https://dotnetsdkaccount2973.scan.purview.azure-test.com\",\r\n      \"guardian\": \"https://dotnetsdkaccount2973.guardian.purview.azure-test.com\"\r\n    },\r\n    \"provisioningState\": \"Creating\",\r\n    \"privateEndpointConnections\": [],\r\n    \"managedResources\": {\r\n      \"resourceGroup\": \"/subscriptions/30d9d527-c409-4507-b861-d60e7fe9e292/resourceGroups/managed-rg-cbcufcg\",\r\n      \"storageAccount\": null,\r\n      \"eventHubNamespace\": null\r\n    },\r\n    \"publicNetworkAccess\": \"Enabled\"\r\n  },\r\n  \"id\": \"/subscriptions/30d9d527-c409-4507-b861-d60e7fe9e292/resourceGroups/dotnetsdkrg6208/providers/Microsoft.Purview/accounts/dotnetsdkaccount2973\",\r\n  \"name\": \"dotnetsdkaccount2973\",\r\n  \"type\": \"Microsoft.Purview/accounts\",\r\n  \"location\": \"westus\",\r\n  \"identity\": {\r\n    \"type\": \"SystemAssigned\",\r\n    \"principalId\": \"e3c0af9a-e038-4f1a-bab4-3a224fb85cff\",\r\n    \"tenantId\": \"f686d426-8d16-42db-81b7-ab578e110ccd\"\r\n  },\r\n  \"tags\": null\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/30d9d527-c409-4507-b861-d60e7fe9e292/providers/Microsoft.Purview/locations/westus/operationResults/d6deaee0-a340-43da-99db-b2d2108047ca?api-version=2020-12-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Location": [
          "https://api-dogfood.resources.windows-int.net/subscriptions/30d9d527-c409-4507-b861-d60e7fe9e292/providers/Microsoft.Purview/locations/westus/operationResults/d6deaee0-a340-43da-99db-b2d2108047ca?api-version=2020-12-01-preview"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14996"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 202
    },
    {
      "RequestUri": "/subscriptions/30d9d527-c409-4507-b861-d60e7fe9e292/providers/Microsoft.Purview/locations/westus/operationResults/d6deaee0-a340-43da-99db-b2d2108047ca?api-version=2020-12-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14995"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"startTime\": \"2021-01-27T19:11:06.2232882Z\",\r\n  \"endTime\": \"2021-01-27T19:11:07.4109989Z\",\r\n  \"status\": \"Succeeded\",\r\n  \"error\": null\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/30d9d527-c409-4507-b861-d60e7fe9e292/resourcegroups/dotnetsdkrg6208?api-version=2017-05-10",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Location": [
          "https://api-dogfood.resources.windows-int.net/subscriptions/30d9d527-c409-4507-b861-d60e7fe9e292/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1ET1RORVRTREtSRzYyMDgtV0VTVFVTIiwiam9iTG9jYXRpb24iOiJ3ZXN0dXMifQ?api-version=2017-05-10"
        ],
        "Retry-After": [
          "15"
        ],
        "x-ms-ratelimit-remaining-subscription-deletes": [
          "14999"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 202
    },
    {
      "RequestUri": "/subscriptions/30d9d527-c409-4507-b861-d60e7fe9e292/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1ET1RORVRTREtSRzYyMDgtV0VTVFVTIiwiam9iTG9jYXRpb24iOiJ3ZXN0dXMifQ?api-version=2017-05-10",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Location": [
          "https://api-dogfood.resources.windows-int.net/subscriptions/30d9d527-c409-4507-b861-d60e7fe9e292/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1ET1RORVRTREtSRzYyMDgtV0VTVFVTIiwiam9iTG9jYXRpb24iOiJ3ZXN0dXMifQ?api-version=2017-05-10"
        ],
        "Retry-After": [
          "15"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14985"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 202
    },
[...]
    {
      "RequestUri": "/subscriptions/30d9d527-c409-4507-b861-d60e7fe9e292/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1ET1RORVRTREtSRzYyMDgtV0VTVFVTIiwiam9iTG9jYXRpb24iOiJ3ZXN0dXMifQ?api-version=2017-05-10",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14982"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 200
    }
  ],
  "Names": {
    "RunTest": [
      "dotnetsdkrg6208",
      "dotnetsdkaccount2973"
    ]
  },
  "Variables": {
    "SubscriptionId": "30d9d527-c409-4507-b861-d60e7fe9e292"
  }
}