{
  "Entries": [
    {
      "RequestUri": "/bing/v7.0/search?mkt=en-us&q=tom%20cruise",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"_type\": \"SearchResponse\",\r\n  \"webPages\": {\r\n    \"webSearchUrl\": \"https://www.bing.com/cr?IG=23519F5659F948AA96213AE900031724&CID=36459132A75D6EFB05489A1AA65B6FDD&rd=1&h=vLNbUkuS1d2pCQg4mVFeF927_9bLoVmfnOQ6kvjyRL8&v=1&r=https%3a%2f%2fwww.bing.com%2fsearch%3fq%3dtom%2bcruise&p=DevEx,5596.1\",\r\n    \"totalEstimatedMatches\": 628000,\r\n    \"value\": [\r\n      {\r\n        \"id\": \"https://api.cognitive.microsoft.com/api/v5/#WebPages.0\",\r\n        \"deepLinks\": null,\r\n        \"dateLastCrawled\": \"2017-10-18T05:10:00\",\r\n        \"about\": [\r\n          {\r\n            \"name\": \"Tom Cruise\"\r\n          }\r\n        ],\r\n        \"name\": \"Official <b>Tom Cruise</b>: Reel, Bio, &amp; Filmography\",\r\n        \"url\": \"http://www.bing.com/cr?IG=23519F5659F948AA96213AE900031724&CID=36459132A75D6EFB05489A1AA65B6FDD&rd=1&h=McTzqpgwQ9a6UpLN18wXG76xD_SNeQtBksrTA-TEJh4&v=1&r=http%3a%2f%2fwww.tomcruise.com%2f&p=DevEx,5093.1\",\r\n        \"displayUrl\": \"www.<b>tomcruise</b>.com\",\r\n        \"snippet\": \"OFFICIAL <b>TOM CRUISE</b> SITE: Watch career movie trailers, videos, and retrospective. Read the <b>Tom Cruise</b> biography or blog for interview videos and new movie news. View ...\"\r\n      },\r\n      {\r\n        \"id\": \"https://api.cognitive.microsoft.com/api/v5/#WebPages.1\",\r\n        \"deepLinks\": null,\r\n        \"dateLastCrawled\": \"2017-10-13T11:49:00\",\r\n        \"about\": [\r\n          {\r\n            \"name\": \"Tom Cruise\"\r\n          }\r\n        ],\r\n        \[...]
