{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/providers/Microsoft.Network?api-version=2017-05-10",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "10855"
      },
      "ResponseBody": {
        "id": "/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/providers/Microsoft.Network",
        "namespace": "Microsoft.Network",
        "authorizations": [
          {
            "applicationId": "2cf9eb86-36b5-49dc-86ae-9a63135dfa8c",
            "roleDefinitionId": "13ba9ab4-19f0-4804-adc4-14ece36cc7a1"
          },
          {
            "applicationId": "7c33bfcb-8d33-48d6-8e60-dc6404003489",
            "roleDefinitionId": "ad6261e4-fa9a-4642-aa5f-104f1b67e9e3"
          },
          {
            "applicationId": "1e3e4475-288f-4018-a376-df66fd7fac5f",
            "roleDefinitionId": "1d538b69-3d87-4e56-8ff8-25786fd48261"
          },
          {
            "applicationId": "a0be0c72-870e-46f0-9c49-c98333a996f7",
            "roleDefinitionId": "7ce22727-ffce-45a9-930c-ddb2e56fa131"
          },
          {
            "applicationId": "486c78bf-a0f7-45f1-92fd-37215929e116",
            "roleDefinitionId": "98a9e526-0a60-4c1f-a33a-ae46e1f8dc0d"
          },
          {
            "applicationId": "19947cfd-0303-466c-ac3c-fcc19a7a1570",
            "roleDefinitionId": "d813ab6c-bfb7-413e-9462-005b21f0ce09"
          },
          {
            "applicationId": "341b7f3d-69b3-47f9-9ce7-5b7f4945fdbd",
            "roleDefinitionId": "8141843c-c51c-4c1e-a5bf-0d351594b86c"
          },
          {
            "applicationId": "328fd23b-de6e-462c-9433-e207470a5727",
            "roleDefinitionId": "79e29e06-4056-41e5-a6b2-959f1f47747e"
          },
          {
            "applicationId": "6d057c82-a784-47ae-8d12-ca7b38cf06b4",
            "roleDefinitionId": "c27dd31e-c1e5-4ab0-93e1-a12ba34f182e"
          }
        ],
        "resourceTypes": [
          {
            "resourceType": "virtualNetworks",
            "locations": [
              "West US",
              "East US",
              "North Europe",
              "West Europe",
              "East Asia",
              "Southeast Asia",
              "North Central US",
              "South Central US",
              "Central US",
              "East US 2",
              "Japan East",
              "Japan West",
              "Brazil South",
              "Australia East",
              "Australia Southeast",
              "Central India",
              "South India",
              "West India",
              "Canada Central",
              "Canada East",
              "West Central US",
              "West US 2",
              "UK West",
              "UK South",
              "Korea Central",
              "Korea South",
              "France Central",
              "Australia Central",
              "South Africa North",
              "UAE North",
              "Switzerland North",
              "Germany West Central",
              "Norway East",
              "Central US EUAP",
              "East US 2 EUAP"
            ],
            "apiVersions": [
              "2020-05-01",
              "2020-04-01",
              "2020-03-01",
              "2020-01-01",
              "2019-12-01",
              "2019-11-01",
              "2019-09-01",
              "2019-08-01",
              "2019-07-01",
              "2019-06-01",
              "2019-04-01",
              "2019-02-01",
              "2018-12-01",
              "2018-11-01",
              "2018-10-01",
              "2018-08-01",
              "2018-07-01",
              "2018-06-01",
              "2018-05-01",
              "2018-04-01",
              "2018-03-01",
              "2018-02-01",
              "2018-01-01",
              "2017-11-01",
              "2017-10-01",
              "2017-09-01",
              "2017-08-01",
              "2017-06-01",
              "2017-04-01",
              "2017-03-01",
              "2016-12-01",
              "2016-11-01",
              "2016-10-01",
              "2016-09-01",
              "2016-08-01",
              "2016-07-01",
              "2016-06-01",
              "2016-03-30",
              "2015-06-15",
              "2015-05-01-preview",
              "2014-12-01-preview"
            ],
            "apiProfiles": [
              {
                "profileVersion": "2017-03-09-profile",
                "apiVersion": "2015-06-15"
              },
              {
                "profileVersion": "2018-03-01-hybrid",
                "apiVersion": "2017-10-01"
              },
              {
                "profileVersion": "2019-03-01-hybrid",
                "apiVersion": "2017-10-01"
              }
            ],
            "capabilities": "CrossResourceGroupResourceMove, CrossSubscriptionResourceMove"
          },
          {
            "resourceType": "natGateways",
            "locations": [
              "West US",
              "East US",
              "North Europe",
              "West Europe",
              "East Asia",
              "Southeast Asia",
              "North Central US",
              "South Central US",
              "Central US",
              "East US 2",
              "Japan East",
              "Japan [...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourcegroups/csmrg6933?api-version=**",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "West US",
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1121"
      },
      "ResponseBody": {
        "id": "/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/csmrg6933",
        "name": "csmrg6933",
        "location": "westus",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/csmrg6933/providers/Microsoft.Network/publicIPAddresses/azsmnet6728?api-version=2020-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "West US",
        "tags": {
          "key": "value"
        },
        "properties": {
          "publicIPAllocationMethod": "Dynamic",
          "dnsSettings": {
            "domainNameLabel": "azsmnet8274"
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncNotification": "Enabled",
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/providers/Microsoft.Network/locations/westus/operations/e75a03de-d432-406c-a6ac-f2a0bd0ee9ea?api-version=2020-04-01",
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "1",
        "x-ms-ratelimit-remaining-subscription-writes": "1120"
      },
      "ResponseBody": [
        "{\r\n",
        "  \"name\": \"azsmnet6728\",\r\n",
        "  \"id\": \"/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/csmrg6933/providers/Microsoft.Network/publicIPAddresses/azsmnet6728\",\r\n",
        "  \"etag\": \"W/\\\"ae73824b-61af-4ddf-abf4-df15acb5b7e7\\\"\",\r\n",
        "  \"location\": \"westus\",\r\n",
        "  \"tags\": {\r\n",
        "    \"key\": \"value\"\r\n",
        "  },\r\n",
        "  \"properties\": {\r\n",
        "    \"provisioningState\": \"Updating\",\r\n",
        "    \"resourceGuid\": \"57799023-02e6-4796-b1bc-645258373cfc\",\r\n",
        "    \"publicIPAddressVersion\": \"IPv4\",\r\n",
        "    \"publicIPAllocationMethod\": \"Dynamic\",\r\n",
        "    \"idleTimeoutInMinutes\": 4,\r\n",
        "    \"dnsSettings\": {\r\n",
        "      \"domainNameLabel\": \"azsmnet8274\",\r\n",
        "      \"fqdn\": \"azsmnet8274.westus.cloudapp.azure.com\"\r\n",
        "    },\r\n",
        "    \"ipTags\": []\r\n",
        "  },\r\n",
        "  \"type\": \"Microsoft.Network/publicIPAddresses\",\r\n",
        "  \"sku\": {\r\n",
        "    \"name\": \"Basic\"\r\n",
        "  }\r\n",
        "}"
      ]
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/providers/Microsoft.Network/locations/westus/operations/e75a03de-d432-406c-a6ac-f2a0bd0ee9ea?api-version=2020-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "10854"
      },
      "ResponseBody": [
        "{\r\n",
        "  \"status\": \"Succeeded\"\r\n",
        "}"
      ]
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/csmrg6933/providers/Microsoft.Network/publicIPAddresses/azsmnet6728?api-version=2020-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\"ad5f90a3-da02-4f7a-a4c4-18e59514b015\"",
        "x-ms-ratelimit-remaining-subscription-reads": "10853"
      },
      "ResponseBody": [
        "{\r\n",
        "  \"name\": \"azsmnet6728\",\r\n",
        "  \"id\": \"/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/csmrg6933/providers/Microsoft.Network/publicIPAddresses/azsmnet6728\",\r\n",
        "  \"etag\": \"W/\\\"ad5f90a3-da02-4f7a-a4c4-18e59514b015\\\"\",\r\n",
        "  \"location\": \"westus\",\r\n",
        "  \"tags\": {\r\n",
        "    \"key\": \"value\"\r\n",
        "  },\r\n",
        "  \"properties\": {\r\n",
        "    \"provisioningState\": \"Succeeded\",\r\n",
        "    \"resourceGuid\": \"57799023-02e6-4796-b1bc-645258373cfc\",\r\n",
        "    \"publicIPAddressVersion\": \"IPv4\",\r\n",
        "    \"publicIPAllocationMethod\": \"Dynamic\",\r\n",
        "    \"idleTimeoutInMinutes\": 4,\r\n",
        "    \"dnsSettings\": {\r\n",
        "      \"domainNameLabel\": \"azsmnet8274\",\r\n",
        "      \"fqdn\": \"azsmnet8274.westus.cloudapp.azure.com\"\r\n",
        "    },\r\n",
        "    \"ipTags\": []\r\n",
        "  },\r\n",
        "  \"type\": \"Microsoft.Network/publicIPAddresses\",\r\n",
        "  \"sku\": {\r\n",
        "    \"name\": \"Basic\"\r\n",
        "  }\r\n",
        "}"
      ]
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/csmrg6933/providers/Microsoft.Network/virtualNetworks/azsmnet6401?api-version=2020-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "West US",
        "properties": {
          "addressSpace": {
            "addressPrefixes": [
              "10.0.0.0/16"
            ]
          },
          "dhcpOptions": {
            "dnsServers": [
              "10.1.1.1",
              "10.1.2.4"
            ]
          },
          "subnets": [
            {
              "name": "GatewaySubnet",
              "properties": {
                "addressPrefix": "10.0.0.0/24"
              }
            }
          ]
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncNotification": "Enabled",
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/providers/Microsoft.Network/locations/westus/operations/f8ce7c3e-a12c-41ef-a6f8-dcff020febf6?api-version=2020-04-01",
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "3",
        [...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/csmrg6933/providers/Microsoft.Network/virtualNetworks/azsmnet6401/subnets/GatewaySubnet?api-version=2020-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\"2a1e55bc-57b5-40fa-bd2d-2dc1ce3d8025\"",
        "x-ms-ratelimit-remaining-subscription-reads": "10850"
      },
      "ResponseBody": [
        "{\r\n",
        "  \"name\": \"GatewaySubnet\",\r\n",
        "  \"id\": \"/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/csmrg6933/providers/Microsoft.Network/virtualNetworks/azsmnet6401/subnets/GatewaySubnet\",\r\n",
        "  \"etag\": \"W/\\\"2a1e55bc-57b5-40fa-bd2d-2dc1ce3d8025\\\"\",\r\n",
        "  \"properties\": {\r\n",
        "    \"provisioningState\": \"Succeeded\",\r\n",
        "    \"addressPrefix\": \"10.0.0.0/24\",\r\n",
        "    \"delegations\": [],\r\n",
        "    \"privateEndpointNetworkPolicies\": \"Enabled\",\r\n",
        "    \"privateLinkServiceNetworkPolicies\": \"Enabled\"\r\n",
        "  },\r\n",
        "  \"type\": \"Microsoft.Network/virtualNetworks/subnets\"\r\n",
        "}"
      ]
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/csmrg6933/providers/Microsoft.Network/virtualNetworkGateways/azsmnet8754?api-version=2020-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "West US",
        "tags": {
          "key": "value"
        },
        "properties": {
          "ipConfigurations": [
            {
              "name": "azsmnet8768",
              "properties": {
                "privateIPAllocationMethod": "Dynamic",
                "subnet": {
                  "id": "/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/csmrg6933/providers/Microsoft.Network/virtualNetworks/azsmnet6401/subnets/GatewaySubnet"
                },
                "publicIPAddress": {
                  "id": "/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/csmrg6933/providers/Microsoft.Network/publicIPAddresses/azsmnet6728"
                }
              }
            }
          ],
          "gatewayType": "Vpn",
          "vpnType": "RouteBased",
          "enableBgp": false
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncNotification": "Enabled",
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/providers/Microsoft.Network/locations/westus/operations/8453a618-83f4-4704-aa58-5d7359d0f664?api-version=2020-04-01",
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "x-ms-ratelimit-remaining-subscription-writes": "1118"
      },
      "ResponseBody": [
        "{\r\n",
        "  \"name\": \"azsmnet8754\",\r\n",
        "  \"id\": \"/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/csmrg6933/providers/Microsoft.Network/virtualNetworkGateways/azsmnet8754\",\r\n",
        "  \"etag\": \"W/\\\"4333ac4c-1a41-4677-b7c4-4e7495861885\\\"\",\r\n",
        "  \"type\": \"Microsoft.Network/virtualNetworkGateways\",\r\n",
        "  \"location\": \"westus\",\r\n",
        "  \"tags\": {\r\n",
        "    \"key\": \"value\"\r\n",
        "  },\r\n",
        "  \"properties\": {\r\n",
        "    \"provisioningState\": \"Updating\",\r\n",
        "    \"resourceGuid\": \"ed0447dd-5e3e-4d82-8967-92d3ba4d5d90\",\r\n",
        "    \"packetCaptureDiagnosticState\": \"None\",\r\n",
        "    \"enablePrivateIpAddress\": false,\r\n",
        "    \"ipConfigurations\": [\r\n",
        "      {\r\n",
        "        \"name\": \"azsmnet8768\",\r\n",
        "        \"id\": \"/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/csmrg6933/providers/Microsoft.Network/virtualNetworkGateways/azsmnet8754/ipConfigurations/azsmnet8768\",\r\n",
        "        \"etag\": \"W/\\\"4333ac4c-1a41-4677-b7c4-4e7495861885\\\"\",\r\n",
        "        \"type\": \"Microsoft.Network/virtualNetworkGateways/ipConfigurations\",\r\n",
        "        \"properties\": {\r\n",
        "          \"provisioningState\": \"Updating\",\r\n",
        "          \"privateIPAllocationMethod\": \"Dynamic\",\r\n",
        "          \"publicIPAddress\": {\r\n",
        "            \"id\": \"/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/csmrg6933/providers/Microsoft.Network/publicIPAddresses/azsmnet6728\"\r\n",
        "          },\r\n",
        "          \"subnet\": {\r\n",
        "            \"id\": \"/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/csmrg6933/providers/Microsoft.Network/virtualNetworks/azsmnet6401/subnets/GatewaySubnet\"\r\n",
        "          }\r\n",
        "        }\r\n",
        "      }\r\n",
        "    ],\r\n",
        "    \"sku\": {\r\n",
        "      \"name\": \"VpnGw1\",\r\n",
        "      \"tier\": \"VpnGw1\",\r\n",
        "      \"capacity\": 2\r\n",
        "    },\r\n",
        "    \"gatewayType\": \"Vpn\",\r\n",
        "    \"vpnType\": \"RouteBased\",\r\n",
        "    \"enableBgp\": false,\r\n",
        "    \"activeActive\": false,\r\n",
        "    \"vpnClientConfiguration\": {\r\n",
        "      \"vpnClientProtocols\": [\r\n",
        "        \"SSTP\"\r\n",
        "      ],\r\n",
        "      \"vpnClientRootCertificates\": [],\r\n",
        "      \"vpnClientRevokedCertificates\": [],\r\n",
        "      \"radiusServers\": [],\r\n",
        "      \"vpnClientIpsecPolicies\": []\r\n",
        "    },\r\n",
        "    \"bgpSettings\": {\r\n",
        "      \"asn\": 0,\r\n",
        "      \"peerWeight\": 0,\r\n",
        "      \"bgpPeeringAddresses\": [\r\n",
        "        {\r\n",
        "          \"ipconfigurationId\": \"/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/csmrg6933/providers/Microsoft.Network/virtualNetworkGateways/azsmnet8754/ipConfigurations/azsmnet8768\",\r\n",
        "          \"defaultBgpIpAddresses\": [],\r\n",
        "          \"customBgpIpAddresses\": []\r\n",
        "        }\r\n",
        "      ]\r\n",
        "    },\r\n",
        "    \"vpnGatewayGeneration\": \"Generation1\"\r\n",
        "  }\r\n",
        "}"
      ]
    },
[...]
