{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11998"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "TagKey-9823": "TagValue-1254",
          "TagKey-3481": "TagValue-320",
          "TagKey-4926": "TagValue-1187",
          "TagKey-751": "TagValue-3921",
          "TagKey-1866": "TagValue-8559",
          "TagKey-3094": "TagValue-9190",
          "TagKey-2449": "TagValue-9",
          "TagKey-8379": "TagValue-164",
          "TagKey-7470": "TagValue-2205",
          "TagKey-4236": "TagValue-3698",
          "TagKey-5316": "TagValue-2725"
        },
        "subscriptionId": "db1ab6f0-4769-4b27-930e-01e2ef9c123c",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": ".NET Mgmt SDK Test with TTL = 1 Day",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourcegroups/csmrg2643?api-version=**",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/csmrg2643",
        "name": "csmrg2643",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/csmrg2643/providers/Microsoft.Network/virtualNetworks/azsmnet8316?api-version=2022-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus2",
        "properties": {
          "addressSpace": {
            "addressPrefixes": [
              "10.0.0.0/16"
            ]
          },
          "dhcpOptions": {
            "dnsServers": [
              "10.1.1.1",
              "10.1.2.4"
            ]
          },
          "subnets": [
            {
              "name": "GatewaySubnet",
              "properties": {
                "addressPrefix": "10.0.0.0/24"
              }
            }
          ]
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncNotification": "Enabled",
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Network/locations/westus2/operations/55146012-3ef9-49ec-a2b5-5f378d1d5ff8?api-version=2022-09-01",
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "3",
        "x-ms-ratelimit-remaining-subscription-writes": "1198"
      },
      "ResponseBody": {
        "name": "azsmnet8316",
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/csmrg2643/providers/Microsoft.Network/virtualNetworks/azsmnet8316",
        "etag": "W/\u0022179f68c9-eb9f-4aa1-a6d9-b97e704c720a\u0022",
        "type": "Microsoft.Network/virtualNetworks",
        "location": "westus2",
        "properties": {
          "provisioningState": "Updating",
          "resourceGuid": "c49ad844-69ab-4920-a765-aa71ed2c4b47",
          "addressSpace": {
            "addressPrefixes": [
              "10.0.0.0/16"
            ]
          },
          "dhcpOptions": {
            "dnsServers": [
              "10.1.1.1",
              "10.1.2.4"
            ]
          },
          "subnets": [
            {
              "name": "GatewaySubnet",
              "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/csmrg2643/providers/Microsoft.Network/virtualNetworks/azsmnet8316/subnets/GatewaySubnet",
              "etag": "W/\u0022179f68c9-eb9f-4aa1-a6d9-b97e704c720a\u0022",
              "properties": {
                "provisioningState": "Updating",
                "addressPrefix": "10.0.0.0/24",
                "delegations": [],
                "privateEndpointNetworkPolicies": "Disabled",
                "privateLinkServiceNetworkPolicies": "Enabled"
              },
              "type": "Microsoft.Network/virtualNetworks/subnets"
            }
          ],
          "virtualNetworkPeerings": [],
          "enableDdosProtection": false
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Network/locations/westus2/operations/55146012-3ef9-49ec-a2b5-5f378d1d5ff8?api-version=2022-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11997"
      },
      "ResponseBody": {
        "status": "Succeeded"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/csmrg2643/providers/Microsoft.Network/virtualNetworks/azsmnet8316?api-version=2022-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\u0022bbc65ea2-eadc-4403-b67a-3e17df5b171d\u0022",
        "x-ms-ratelimit-remaining-subscription-reads": "11996"
      },
      "ResponseBody": {
        "name": "azsmnet8316",
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/csmrg2643/providers/Microsoft.Network/virtualNetworks/azsmnet8316",
        "etag": "W/\u0022bbc65ea2-eadc-4403-b67a-3e17df5b171d\u0022",
        "type": "Microsoft.Network/virtualNetworks",
        "location": "westus2",
        "prope[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/csmrg2643/providers/Microsoft.Network/virtualNetworks/azsmnet8316/subnets/GatewaySubnet?api-version=2022-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\u0022bbc65ea2-eadc-4403-b67a-3e17df5b171d\u0022",
        "x-ms-ratelimit-remaining-subscription-reads": "11993"
      },
      "ResponseBody": {
        "name": "GatewaySubnet",
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/csmrg2643/providers/Microsoft.Network/virtualNetworks/azsmnet8316/subnets/GatewaySubnet",
        "etag": "W/\u0022bbc65ea2-eadc-4403-b67a-3e17df5b171d\u0022",
        "properties": {
          "provisioningState": "Succeeded",
          "addressPrefix": "10.0.0.0/24",
          "delegations": [],
          "privateEndpointNetworkPolicies": "Disabled",
          "privateLinkServiceNetworkPolicies": "Enabled"
        },
        "type": "Microsoft.Network/virtualNetworks/subnets"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/csmrg2643/providers/Microsoft.Network/publicIPAddresses/azsmnet9810?api-version=2022-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus2",
        "tags": {
          "key": "value"
        },
        "properties": {
          "publicIPAllocationMethod": "Dynamic",
          "dnsSettings": {
            "domainNameLabel": "azsmnet1467"
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncNotification": "Enabled",
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Network/locations/westus2/operations/9eeb7b3a-f7f6-436f-a7b5-026106a098cc?api-version=2022-09-01",
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "1",
        "x-ms-ratelimit-remaining-subscription-writes": "1197"
      },
      "ResponseBody": {
        "name": "azsmnet9810",
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/csmrg2643/providers/Microsoft.Network/publicIPAddresses/azsmnet9810",
        "etag": "W/\u0022d89d99aa-39e2-4200-8e85-ade86fd7241b\u0022",
        "location": "westus2",
        "tags": {
          "key": "value"
        },
        "properties": {
          "provisioningState": "Updating",
          "resourceGuid": "2942fa91-c16d-48af-845f-3d7aa6069c91",
          "publicIPAddressVersion": "IPv4",
          "publicIPAllocationMethod": "Dynamic",
          "idleTimeoutInMinutes": 4,
          "dnsSettings": {
            "domainNameLabel": "azsmnet1467",
            "fqdn": "azsmnet1467.westus2.cloudapp.azure.com"
          },
          "ipTags": []
        },
        "type": "Microsoft.Network/publicIPAddresses",
        "sku": {
          "name": "Basic",
          "tier": "Regional"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/csmrg2643/providers/Microsoft.Network/virtualNetworkGateways/azsmnet6616?api-version=2022-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus2",
        "tags": {
          "key": "value"
        },
        "properties": {
          "ipConfigurations": [
            {
              "name": "azsmnet5832",
              "properties": {
                "privateIPAllocationMethod": "Dynamic",
                "subnet": {
                  "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/csmrg2643/providers/Microsoft.Network/virtualNetworks/azsmnet8316/subnets/GatewaySubnet"
                },
                "publicIPAddress": {
                  "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/csmrg2643/providers/Microsoft.Network/publicIPAddresses/azsmnet9810"
                }
              }
            }
          ],
          "gatewayType": "Vpn",
          "vpnType": "RouteBased",
          "enableBgp": false,
          "sku": {
            "name": "Basic",
            "tier": "Basic"
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncNotification": "Enabled",
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Network/locations/westus2/operations/27a3799a-e71f-47ec-b8dc-e0d7471f078c?api-version=2022-09-01",
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "x-ms-ratelimit-remaining-subscription-writes": "1196"
      },
      "ResponseBody": {
        "name": "azsmnet6616",
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/csmrg2643/providers/Microsoft.Network/virtualNetworkGateways/azsmnet6616",
        "etag": "W/\u00222b9e34ad-8487-4ab3-82a8-0c22b1992bea\u0022",
        "type": "Microsoft.Network/virtualNetworkGateways",
        "location": "westus2",
        "tags": {
          "key": "value"
        },
        "properties": {
          "provisioningState": "Updating",
          "resourceGuid": "073edbbe-5f45-4c9f-b7ec-f9696b524632",
          "packetCaptureDiagnosticState": "None",
          "enablePrivateIpAddress": false,
          "isMigrateToCSES": false,
          "ipConfigurations": [
            {
              "name": "azsmnet5832",
              "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/csmrg2643/providers/Microsoft.Network/virtualNetworkGateways/azsmnet6616/ipConfigurations/azsmnet5832",
              "etag": "W/\u00222b9e34ad-8487-4ab3-82a8-0c22b1992bea\u0022",
              "type": "Microsoft.Network/virtualNetworkGateways/ipConfigurations",
              "properties": {
                "provisioningState": "Updating",
                "privateIPAllocationMethod": "Dynamic",
                "publicIPAddress": {
                  "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/csmrg2643/providers/Microsoft.Network/publicIPAddresses/azsmnet9810"
                },
                "subnet": {
                  "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/csmrg2643/providers/Microsoft.Network/virtualNetworks/azsmnet8316/subnets/GatewaySubnet"
                }
              }
            }
          ],
          "natRules": [],
          "virtualNetworkGatewayPolicyGroups": [],
          "enableBgpRouteTranslationForNat": false,
          "disableIPSecReplayProtection": false,
          "sku": {
            "name": "Basic",
            "tier": "Basic",
            "capacity": 2
          },
          "gatewayType": "Vpn",
          "vpnType": "RouteBased",
          "enableBgp": false,
          "activeActive": false,
          "vpnClientConfiguration": {
            "vpnClientProtocols": [
              "SSTP"
            ],
            "vpnAuthenticationTypes": [],
            "vpnClientRootCertificates": [],
            "vpnClientRevokedCertificates": [],
            "vngClientConnectionConfigurations": [],
            "radiusServers": [],
            "vpnClientIpsecPolicies": []
          },
          "bgpSettings": {
            "asn": 0,
            "peerWeight": 0,
            "bgpPeeringAddresses": [
              {
                "ipconfigurationId": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/csmrg2643/providers/Microsoft.Network/virtualNetworkGateways/azsmnet6616/ipConfigurations/azsmnet5832",
                "defaultBgpIpAddresses": [],
                "customBgpIpAddresses": []
              }
            ]
          },
          "vpnGatewayGeneration": "Generation1",
          "allowRemoteVnetTraffic": false,
          "allowVirtualWanTraffic": false
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/csmrg2643/providers/Microsoft.Network/virtualNetworkGateways/azsmnet6616?api-version=2022-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus2",
        "tags": {
          "key": "value",
          "tag2": "value",
          "tag3": "value"
        },
        "properties": {
          "ipConfigurations": [
            {
              "name": "azsmnet5832",
              "properties": {
                "privateIPAllocationMethod": "Dynamic",
                "subnet": {
                  "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/csmrg2643/providers/Microsoft.Network/virtualNetworks/azsmnet8316/subnets/GatewaySubnet"
                },
                "publicIPAddress": {
                  "id"[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/csmrg2643/providers/Microsoft.Network/virtualNetworkGateways/azsmnet6616?api-version=2022-09-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncNotification": "Enabled",
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Network/locations/westus2/operations/695588fe-185f-4924-8e1d-c331ca7848af?api-version=2022-09-01",
        "Location": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Network/locations/westus2/operationResults/695588fe-185f-4924-8e1d-c331ca7848af?api-version=2022-09-01",
        "Retry-After": "10",
        "x-ms-ratelimit-remaining-subscription-deletes": "14999"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Network/locations/westus2/operations/695588fe-185f-4924-8e1d-c331ca7848af?api-version=2022-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "status": "Succeeded"
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "LOCATION": "eastus",
    "RandomSeed": "1207241010",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "db1ab6f0-4769-4b27-930e-01e2ef9c123c"
  }
}
