{
  "Entries": [
    {
      "RequestUri": "https://jolovschemaregistry.servicebus.windows.net/$schemaGroups/azsdk_net_test_group/schemas/TestSchema.EmployeeV2?api-version=2021-10",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json; serialization=Avro"
      },
      "RequestBody": {
        "type": "record",
        "name": "EmployeeV2",
        "namespace": "TestSchema",
        "aliases": [
          "TestSchema.Employee"
        ],
        "fields": [
          {
            "name": "Name",
            "type": "string"
          },
          {
            "name": "Age",
            "type": "int"
          },
          {
            "name": "City",
            "type": "string"
          }
        ]
      },
      "StatusCode": 204,
      "ResponseHeaders": {
        "Location": "https://jolovschemaregistry.servicebus.windows.net/$schemagroups/azsdk_net_test_group/schemas/TestSchema.EmployeeV2/versions/2?api-version=2021-10",
        "Schema-Group-Name": "azsdk_net_test_group",
        "Schema-Id": "133edfde246e4d6591c3cbae1701568f",
        "Schema-Id-Location": "https://jolovschemaregistry.servicebus.windows.net:443/$schemagroups/$schemas/133edfde246e4d6591c3cbae1701568f?api-version=2021-10",
        "Schema-Name": "TestSchema.EmployeeV2",
        "Schema-Version": "2",
        "Schema-Versions-Location": "https://jolovschemaregistry.servicebus.windows.net:443/$schemagroups/azsdk_net_test_group/schemas/TestSchema.EmployeeV2/versions?api-version=2021-10"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "910224699",
    "SCHEMAREGISTRY_ENDPOINT": "jolovschemaregistry.servicebus.windows.net",
    "SCHEMAREGISTRY_GROUP": "azsdk_net_test_group"
  }
}
