{
  "Entries": [
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-6709b0cb-8d50-711a-e146-48dc847b9398?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 20 Jan 2022 20:44:35 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9DC55AB357AD6\u0022",
        "Last-Modified": "Thu, 20 Jan 2022 20:44:35 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-6709b0cb-8d50-711a-e146-48dc847b9398/test-blob-127f4c15-dbab-9fa2-3f84-d37460d4c15f",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 20 Jan 2022 20:44:35 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "1B2M2Y8AsgTpgAmY7PhCfg==",
        "ETag": "\u00220x8D9DC55AB3F5F36\u0022",
        "Last-Modified": "Thu, 20 Jan 2022 20:44:35 GMT",
        "x-ms-content-crc64": "AAAAAAAAAAA=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08",
        "x-ms-version-id": "2022-01-20T20:44:35.3023798Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-6709b0cb-8d50-711a-e146-48dc847b9398/test-blob-127f4c15-dbab-9fa2-3f84-d37460d4c15f?comp=block\u0026blockid=AAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 20 Jan 2022 20:44:35 GMT",
        "x-ms-version": "2021-06-08"
  [...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-6709b0cb-8d50-711a-e146-48dc847b9398/test-blob-127f4c15-dbab-9fa2-3f84-d37460d4c15f?comp=blocklist",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "If-Match": "\u00220x8D9DC55AB3F5F36\u0022",
        "x-ms-date": "Thu, 20 Jan 2022 20:44:35 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": "\uFEFF\u003CBlockList\u003E\u003CLatest\u003EAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\u003C/Latest\u003E\u003C/BlockList\u003E",
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9DC55AB705330\u0022",
        "Last-Modified": "Thu, 20 Jan 2022 20:44:35 GMT",
        "x-ms-content-crc64": "17m5j6ScWgM=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08",
        "x-ms-version-id": "2022-01-20T20:44:35.6251976Z"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-6709b0cb-8d50-711a-e146-48dc847b9398/test-blob-127f4c15-dbab-9fa2-3f84-d37460d4c15f",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 20 Jan 2022 20:44:36 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D9DC55ABDBAFA0\u0022",
        "Last-Modified": "Thu, 20 Jan 2022 20:44:36 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 20 Jan 2022 20:44:36 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Thu, 20 Jan 2022 20:44:36 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-06-08",
        "x-ms-version-id": "2022-01-20T20:44:36.3278000Z"
      },
      "ResponseBody": "jNlEZHXVxPG7zmP7uoFKOhcvVdMxWjIv3agvUTP/nHtqBhJ1\u002BvM2/E/6o3IS9\u002Bw6tlya\u002BTUNOTGmFYfNpXK9vDLokLRu1T8k\u002BVmENrbAHea89ZvXZKJGXczgzuRsaVbdPedAKWY3y\u002BAcdgDbiQJ65vigEbDW5lePojPnjgZat5ADpvnPgPN/hCm6uu6iatTKZefsy1ilBlePsIYzTz3Zwr5w2OIIq2YFIYyGGytp7DdfHSgebuw3XaCiP89sTDXs4PgwMpLxwbqB56rLHusrJsNO1DEUu1PSOHtCZmuWmNVWmjozOLqlbVtunYdBbD61dhkLHXcD1yWkXfoXr1[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-6709b0cb-8d50-711a-e146-48dc847b9398/test-blob-127f4c15-dbab-9fa2-3f84-d37460d4c15f",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 20 Jan 2022 20:44:36 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D9DC55ABDBAFA0\u0022",
        "Last-Modified": "Thu, 20 Jan 2022 20:44:36 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 20 Jan 2022 20:44:36 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Thu, 20 Jan 2022 20:44:36 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-06-08",
        "x-ms-version-id": "2022-01-20T20:44:36.3278000Z"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-01d21323-76e8-f00e-8770-15c52f29218f/test-blob-46127c2f-4613-efe0-1f4f-22d738b68917",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Modified-Since": "Wed, 19 Jan 2022 20:44:35 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 20 Jan 2022 20:44:37 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "1B2M2Y8AsgTpgAmY7PhCfg==",
        "ETag": "\u00220x8D9DC55AC62A663\u0022",
        "Last-Modified": "Thu, 20 Jan 2022 20:44:37 GMT",
        "x-ms-content-crc64": "AAAAAAAAAAA=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08",
        "x-ms-version-id": "2022-01-20T20:44:37.2122995Z"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-e607efe3-6e07-c663-5da8-0533d00dd27c/test-blob-e2016c19-428e-a7f3-412e-1b138eeaa110",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Unmodified-Since": "Fri, 21 Jan 2022 20:44:35 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 20 Jan 2022 20:44:38 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "1B2M2Y8AsgTpgAmY7PhCfg==",
        "ETag": "\u00220x8D9DC55AD2DEF3F\u0022",
        "Last-Modified": "Thu, 20 Jan 2022 20:44:38 GMT",
        "x-ms-content-crc64": "AAAAAAAAAAA=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08",
        "x-ms-version-id": "2022-01-20T20:44:38.5445455Z"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-13e697e4-853f-5384-93a5-c6bc4e96cea5/test-blob-2a31e5b5-5346-f798-c7ea-854131037ccb",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "\u0022garbage\u0022",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 20 Jan 2022 20:44:41 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "1B2M2Y8AsgTpgAmY7PhCfg==",
        "ETag": "\u00220x8D9DC55AEBABE70\u0022",
        "Last-Modified": "Thu, 20 Jan 2022 20:44:41 GMT",
        "x-ms-content-crc64": "AAAAAAAAAAA=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08",
        "x-ms-version-id": "2022-01-20T20:44:41.1450752Z"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-0f348ce3-2153-7923-c800-f7cdabfd22a4/test-blob-4b73ebfe-5a8d-0532-459c-bb2c3b735637?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 20 Jan 2022 20:44:42 GMT",
        "x-ms-lease-action": "acquire",
        "x-ms-lease-duration": "-1",
        "x-ms-proposed-lease-id": "3af689a5-e674-5c18-5ada-9e301afe1078",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9DC55AF725B09\u0022",
        "Last-Modified": "Thu, 20 Jan 2022 20:44:42 GMT",
        "x-ms-lease-id": "3af689a5-e674-5c18-5ada-9e301afe1078",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-0f348ce3-2153-7923-c800-f7cdabfd22a4?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 20 Jan 2022 20:44:43 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2022-01-20T12:44:35.2033394-08:00",
    "RandomSeed": "695962866",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttp://seanmcccanary3.blob.core.windows.net\nhttp://seanmcccanary3.file.core.windows.net\nhttp://seanmcccanary3.queue.core.windows.net\nhttp://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttp://seanmcccanary3-secondary.blob.core.windows.net\nhttp://seanmcccanary3-secondary.file.core.windows.net\nhttp://seanmcccanary3-secondary.queue.core.windows.net\nhttp://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=http://seanmcccanary3.queue.core.windows.net/;FileEndpoint=http://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=http://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\n[encryption scope]\n\n"
  }
}