{
  "Entries": [
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-4b13ca3f-110a-f9c1-c74a-bc979bba02ce?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 24 Nov 2021 23:39:26 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9AFA3A6E5A8C0\u0022",
        "Last-Modified": "Wed, 24 Nov 2021 23:39:26 GMT",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-4b13ca3f-110a-f9c1-c74a-bc979bba02ce/test-blob-838e1a25-573b-dd77-0288-8c6c31fe21f2",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 24 Nov 2021 23:39:26 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": [],
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "1B2M2Y8AsgTpgAmY7PhCfg==",
        "ETag": "\u00220x8D9AFA3A6F57D27\u0022",
        "Last-Modified": "Wed, 24 Nov 2021 23:39:26 GMT",
        "x-ms-content-crc64": "AAAAAAAAAAA=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-04-10",
        "x-ms-version-id": "2021-11-24T23:39:26.5272103Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-4b13ca3f-110a-f9c1-c74a-bc979bba02ce/test-blob-838e1a25-573b-dd77-0288-8c6c31fe21f2",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Modified-Since": "Thu, 25 Nov 2021 23:39:26 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 24 Nov 2021 23:39:26 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": [],
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003EConditionNotMet\u003C/Code\u003E\u003CMessage\u003EThe condition specified using HTTP conditional header(s) is not met.\n",
        "RequestId:d447a0a4-701e-003e-058c-e14dbd000000\n",
        "Time:2021-11-24T23:39:26.5883771Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-92d8687f-498e-2507-0785-b951672b330c/test-blob-18149488-56d3-0eda-f04b-e5beab0a2aa6",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Unmodified-Since": "Tue, 23 Nov 2021 23:39:26 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 24 Nov 2021 23:39:26 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": [],
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003EConditionNotMet\u003C/Code\u003E\u003CMessage\u003EThe condition specified using HTTP conditional header(s) is not met.\n",
        "RequestId:d447a0d3-701e-003e-298c-e14dbd000000\n",
        "Time:2021-11-24T23:39:26.8432318Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-3270d8fa-fffa-59c5-02ce-1edbbfb10055/test-blob-ec72bc56-f5b0-2d9b-1d0e-ece898a32930",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\u0022garbage\u0022",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 24 Nov 2021 23:39:27 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": [],
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003EConditionNotMet\u003C/Code\u003E\u003CMessage\u003EThe condition specified using HTTP conditional header(s) is not met.\n",
        "RequestId:d447a109-701e-003e-578c-e14dbd000000\n",
        "Time:2021-11-24T23:39:27.1170779Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-a1d97bd3-5c6c-8398-0e83-b531f37b1a7f/test-blob-47086c28-eb87-76ef-3a9f-f8b18be46a88",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 24 Nov 2021 23:39:27 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "1B2M2Y8AsgTpgAmY7PhCfg==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D9AFA3A76AC334\u0022",
        "Last-Modified": "Wed, 24 Nov 2021 23:39:27 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 24 Nov 2021 23:39:27 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Wed, 24 Nov 2021 23:39:27 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-04-10",
        "x-ms-version-id": "2021-11-24T23:39:27.2957748Z"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-a1d97bd3-5c6c-8398-0e83-b531f37b1a7f?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 24 Nov 2021 23:39:27 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2021-11-24T15:39:26.3908557-08:00",
    "RandomSeed": "600151214",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttp://seanmcccanary3.blob.core.windows.net\nhttp://seanmcccanary3.file.core.windows.net\nhttp://seanmcccanary3.queue.core.windows.net\nhttp://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttp://seanmcccanary3-secondary.blob.core.windows.net\nhttp://seanmcccanary3-secondary.file.core.windows.net\nhttp://seanmcccanary3-secondary.queue.core.windows.net\nhttp://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=http://seanmcccanary3.queue.core.windows.net/;FileEndpoint=http://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=http://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\n[encryption scope]\n\n"
  }
}