{
  "Entries": [
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-6709b0cb-8d50-711a-e146-48dc847b9398?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 24 Nov 2021 23:39:22 GMT",
        "x-ms-version": "2021-02-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9AFA3A4C058DE\u0022",
        "Last-Modified": "Wed, 24 Nov 2021 23:39:22 GMT",
        "x-ms-version": "2021-02-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-6709b0cb-8d50-711a-e146-48dc847b9398/test-blob-127f4c15-dbab-9fa2-3f84-d37460d4c15f",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 24 Nov 2021 23:39:22 GMT",
        "x-ms-version": "2021-02-12"
      },
      "RequestBody": [],
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "1B2M2Y8AsgTpgAmY7PhCfg==",
        "ETag": "\u00220x8D9AFA3A4CCD2C5\u0022",
        "Last-Modified": "Wed, 24 Nov 2021 23:39:22 GMT",
        "x-ms-content-crc64": "AAAAAAAAAAA=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-02-12",
        "x-ms-version-id": "2021-11-24T23:39:22.9062607Z"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-6709b0cb-8d50-711a-e146-48dc847b9398/test-blob-127f4c15-dbab-9fa2-3f84-d37460d4c15f?comp=block\u0026blockid=AAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 24 Nov 2021 23:39:22 GMT",
        "x-ms-version": "2021-02-12"
  [...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-6709b0cb-8d50-711a-e146-48dc847b9398/test-blob-127f4c15-dbab-9fa2-3f84-d37460d4c15f?comp=blocklist",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "If-Match": "\u00220x8D9AFA3A4D64746\u0022",
        "x-ms-date": "Wed, 24 Nov 2021 23:39:23 GMT",
        "x-ms-version": "2021-02-12"
      },
      "RequestBody": "\uFEFF\u003CBlockList\u003E\u003CLatest\u003EAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\u003C/Latest\u003E\u003C/BlockList\u003E",
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9AFA3A4F9819B\u0022",
        "Last-Modified": "Wed, 24 Nov 2021 23:39:23 GMT",
        "x-ms-content-crc64": "17m5j6ScWgM=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-02-12",
        "x-ms-version-id": "2021-11-24T23:39:23.1990955Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-6709b0cb-8d50-711a-e146-48dc847b9398/test-blob-127f4c15-dbab-9fa2-3f84-d37460d4c15f",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 24 Nov 2021 23:39:23 GMT",
        "x-ms-version": "2021-02-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D9AFA3A4F9819B\u0022",
        "Last-Modified": "Wed, 24 Nov 2021 23:39:23 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 24 Nov 2021 23:39:23 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Wed, 24 Nov 2021 23:39:23 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-02-12",
        "x-ms-version-id": "2021-11-24T23:39:23.1990955Z"
      },
      "ResponseBody": "U2Y7KaNeXAe/sh/wu6D2GhFj37rjCiCYJiPxF4OK8KYZKOU3KYudKawvZpqCH1LQ9HfT01shP0lFowN/bEWENMJ415K7v/GFxbYOtKOFFQfRICILtxxL\u002BOmb8YaIHr1mqzHYCUi/FTWGTg6kEoumwI37rUsieX2lLN6pH81q/ab5qAhxrQu/EgvthGgNpuZd9TH5jHFxRDGzMt1pFvZnG1Bnq2qCNBOBPJtANfQUl4X4SymccXA1h2PWvXouVfsUhWgXpvt72sEed1DVMA49nptXccrMy6rgMSMGrHaYUuafK7CL/PGKfHFofvkgYFdVmR7e1\u002BQwR7m\u002BN3TXdS5KhSRpNQRe[...]
[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-b490e832-d56e-243f-f959-8436b6c01de6/test-blob-b011a0f8-e6d6-8f57-a233-e78e065ab790",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Modified-Since": "Tue, 23 Nov 2021 23:39:22 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 24 Nov 2021 23:39:23 GMT",
        "x-ms-version": "2021-02-12"
      },
      "RequestBody": [],
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "1B2M2Y8AsgTpgAmY7PhCfg==",
        "ETag": "\u00220x8D9AFA3A52A7591\u0022",
        "Last-Modified": "Wed, 24 Nov 2021 23:39:23 GMT",
        "x-ms-content-crc64": "AAAAAAAAAAA=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-02-12",
        "x-ms-version-id": "2021-11-24T23:39:23.5209132Z"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-274abef7-9d8d-15ba-a916-ce159f3c7efb/test-blob-57d89245-17be-74db-0ab3-1ac3f0219910",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Unmodified-Since": "Thu, 25 Nov 2021 23:39:22 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 24 Nov 2021 23:39:24 GMT",
        "x-ms-version": "2021-02-12"
      },
      "RequestBody": [],
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "1B2M2Y8AsgTpgAmY7PhCfg==",
        "ETag": "\u00220x8D9AFA3A58559AA\u0022",
        "Last-Modified": "Wed, 24 Nov 2021 23:39:24 GMT",
        "x-ms-content-crc64": "AAAAAAAAAAA=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-02-12",
        "x-ms-version-id": "2021-11-24T23:39:24.1155770Z"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-876eb842-50bb-18d2-de4a-eae459262fbc/test-blob-eb5d0fe0-989a-1736-6f1c-155902216ac9",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 24 Nov 2021 23:39:24 GMT",
        "x-ms-version": "2021-02-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "1B2M2Y8AsgTpgAmY7PhCfg==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D9AFA3A5D7655F\u0022",
        "Last-Modified": "Wed, 24 Nov 2021 23:39:24 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 24 Nov 2021 23:39:24 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Wed, 24 Nov 2021 23:39:24 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-02-12",
        "x-ms-version-id": "2021-11-24T23:39:24.6522719Z"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-deab4a65-aeb7-4f21-9f77-e607a18cdf49/test-blob-659a282c-859d-b1ca-9930-638120333289?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 24 Nov 2021 23:39:25 GMT",
        "x-ms-lease-action": "acquire",
        "x-ms-lease-duration": "-1",
        "x-ms-proposed-lease-id": "e25ded8d-3d72-5c0f-4f8d-80d8d270182e",
        "x-ms-version": "2021-02-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9AFA3A6858D83\u0022",
        "Last-Modified": "Wed, 24 Nov 2021 23:39:25 GMT",
        "x-ms-lease-id": "e25ded8d-3d72-5c0f-4f8d-80d8d270182e",
        "x-ms-version": "2021-02-12"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-deab4a65-aeb7-4f21-9f77-e607a18cdf49?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 24 Nov 2021 23:39:26 GMT",
        "x-ms-version": "2021-02-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-02-12"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2021-11-24T15:39:22.7893746-08:00",
    "RandomSeed": "695962866",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttp://seanmcccanary3.blob.core.windows.net\nhttp://seanmcccanary3.file.core.windows.net\nhttp://seanmcccanary3.queue.core.windows.net\nhttp://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttp://seanmcccanary3-secondary.blob.core.windows.net\nhttp://seanmcccanary3-secondary.file.core.windows.net\nhttp://seanmcccanary3-secondary.queue.core.windows.net\nhttp://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=http://seanmcccanary3.queue.core.windows.net/;FileEndpoint=http://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=http://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\n[encryption scope]\n\n"
  }
}