{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/b9f138a1-1d64-4108-8413-9ea3be1c1b2d/resourcegroups/csmrg9629?api-version=2019-10-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "South Central US"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1193"
      },
      "ResponseBody": {
        "id": "/subscriptions/b9f138a1-1d64-4108-8413-9ea3be1c1b2d/resourceGroups/csmrg9629",
        "name": "csmrg9629",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "southcentralus",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/b9f138a1-1d64-4108-8413-9ea3be1c1b2d/resourcegroups/csmrg9629/providers/Microsoft.Resources/deployments/csmd846?api-version=2019-10-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "template": null,
          "templateLink": {
            "uri": "https://raw.githubusercontent.com/Azure/azure-quickstart-templates/master/201-web-app-github-deploy/azuredeploy.json"
          },
          "parameters": {
            "repoURL": {
              "value": "https://github.com/devigned/az-roadshow-oss.git"
            },
            "siteName": {
              "value": "csmr8591"
            },
            "location": {
              "value": "westus"
            },
            "sku": {
              "value": "F1"
            }
          },
          "mode": "Incremental"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/b9f138a1-1d64-4108-8413-9ea3be1c1b2d/resourcegroups/csmrg9629/providers/Microsoft.Resources/deployments/csmd846/operationStatuses/08586096744327768723?api-version=2019-10-01",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1192"
      },
      "ResponseBody": {
        "id": "/subscriptions/b9f138a1-1d64-4108-8413-9ea3be1c1b2d/resourceGroups/csmrg9629/providers/Microsoft.Resources/deployments/csmd846",
        "name": "csmd846",
        "type": "Microsoft.Resources/deployments",
        "properties": {
          "templateLink": {
            "uri": "https://raw.githubusercontent.com/Azure/azure-quickstart-templates/master/201-web-app-github-deploy/azuredeploy.json",
            "contentVersion": "1.0.0.1"
          },
          "templateHash": "12192946132745292451",
          "parameters": {
            "siteName": {
              "type": "String",
              "value": "csmr8591"
            },
            "location": {
              "type": "String",
              "value": "westus"
            },
            "sku": {
              "type": "String",
              "value": "F1"
            },
            "workerSize": {
              "type": "String",
              "value": "0"
            },
            "repoURL": {
              "type": "String",
              "value": "https://github.com/devigned/az-roadshow-oss.git"
            },
            "branch": {
              "type": "String",
              "value": "master"
            }
          },
          "mode": "Incremental",
          "provisioningState": "Accepted",
          "timestamp": "2020-06-12T03:27:33.7718574Z",
          "duration": "PT1.0710965S",
          "correlationId": "69cd6a0a-0d99-47c4-93ed-d900f120446d",
          "providers": [
            {
              "namespace": "Microsoft.Web",
              "resourceTypes": [
                {
                  "resourceType": "serverfarms",
                  "locations": [
                    "westus"
                  ]
                },
                {
                  "resourceType": "sites",
                  "locations": [
                    "westus"
                  ]
                },
                {
                  "resourceType": "sites/sourcecontrols",
                  "locations": [
                    "westus"
                  ]
                }
              ]
            }
          ],
          "dependencies": [
            {
              "dependsOn": [
                {
                  "id": "/subscriptions/b9f138a1-1d64-4108-8413-9ea3be1c1b2d/resourceGroups/csmrg9629/providers/Microsoft.Web/serverfarms/hpn-csmrg9629",
                  "resourceType": "Microsoft.Web/serverfarms",
                  "resourceName": "hpn-csmrg9629"
                }
              ],
              "id": "/subscriptions/b9f138a1-1d64-4108-8413-9ea3be1c1b2d/resourceGroups/csmrg9629/providers/Microsoft.Web/sites/csmr8591",
              "resourceType": "Microsoft.Web/sites",
              "resourceName": "csmr8591"
            },
            {
              "dependsOn": [
                {
                  "id": "/subscriptions/b9f138a1-1d64-4108-8413-9ea3be1c1b2d/resourceGroups/csmrg9629/providers/Microsoft.Web/sites/csmr8591",
                  "resourceType": "Microsoft.Web/sites",
                  "resourceName": "csmr8591"
                }
              ],
              "id": "/subscriptions/b9f138a1-1d64-4108-8413-9ea3be1c1b2d/resourceGroups/csmrg9629/providers/Microsoft.Web/sites/csmr8591/sourcecontrols/web",
              "resourceType": "Microsoft.Web/sites/sourcecontrols",
              "resourceName": "csmr8591/web"
            }
          ]
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/b9f138a1-1d64-4108-8413-9ea3be1c1b2d/resourcegroups/csmrg9629/deployments/csmd846/operations?api-version=2019-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11996"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/b9f138a1-1d64-4108-8413-9ea3be1c1b2d/resourceGroups/csmrg9629/providers/Microsoft.Resources/deployments/csmd846/operations/D5D6E9D8E0D62F52",
            "operationId": "D5D6E9D8E0D62F52",
            "properties": {
              "provisioningOperation": "Create",
              "provisioningState": "Succeeded",
              "timestamp": "2020-06-12T03:27:45.2465643Z",
              "duration": "PT9.9452312S",
              "trackingId": "67b4be33-3d1b-4386-9456-f677a8b399be",
              "serviceRequestId": "9a678af0-5a6f-4ac6-b9be-5feb2b95ec53",
              "statusCode": "OK",
              "targetResource": {
                "id": "/subscriptions/b9f138a1-1d64-4108-8413-9ea3be1c1b2d/resourceGroups/csmrg9629/providers/Microsoft.Web/serverfarms/hpn-csmrg9629",
                "resourceType": "Microsoft.Web/serverfarms",
                "resourceName": "hpn-csmrg9629"
              }
            }
          }
        ]
      }
    }
  ],
  "Variables": {
    "RandomSeed": "919183627",
    "SUBSCRIPTION_ID": "b9f138a1-1d64-4108-8413-9ea3be1c1b2d"
  }
}