{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/b9f138a1-1d64-4108-8413-9ea3be1c1b2d/resourcegroups/SDK-test?api-version=2019-10-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "WestUS"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1195"
      },
      "ResponseBody": {
        "id": "/subscriptions/b9f138a1-1d64-4108-8413-9ea3be1c1b2d/resourceGroups/SDK-test",
        "name": "SDK-test",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com//subscriptions/b9f138a1-1d64-4108-8413-9ea3be1c1b2d/providers/Microsoft.Resources/deployments/csmd8514/validate?api-version=2019-10-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "WestUS",
        "properties": {
          "template": {
            "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
            "contentVersion": "1.0.0.0",
            "parameters": {
              "storageAccountName": {
                "type": "string",
                "defaultValue": "armbuilddemo1801"
              }
            },
            "variables": {},
            "resources": [
              {
                "type": "Microsoft.Authorization/policyDefinitions",
                "name": "policy2",
                "apiVersion": "2016-12-01",
                "properties": {
                  "policyType": "Custom",
                  "parameters": {},
                  "policyRule": {
                    "if": {
                      "field": "location",
                      "equals": "northeurope"
                    },
                    "then": {
                      "effect": "deny"
                    }
                  }
                }
              },
              {
                "type": "Microsoft.Authorization/policyAssignments",
                "name": "location-lock",
                "apiVersion": "2016-12-01",
                "dependsOn": [
                  "policy2"
                ],
                "properties": {
                  "scope": "[subscription().id]",
                  "policyDefinitionId": "[resourceId(\u0027Microsoft.Authorization/policyDefinitions\u0027, \u0027policy2\u0027)]"
                }
              },
              {
                "type": "Microsoft.Resources/deployments",
                "name": "rg-nested",
                "apiVersion": "2017-05-10",
                "resourceGroup": "SDK-test",
                "properties": {
                  "template": {
                    "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {},
                    "variables": {},
                    "resources": [
                      {
                        "type": "Microsoft.Storage/storageAccounts",
                        "name": "[parameters(\u0027storageAccountName\u0027)]",
                        "apiVersion": "2015-06-15",
                        "location": "East US",
                        "properties": {
                          "accountType": "Standard_LRS",
                          "supportsHttpsTrafficOnly": "true"
                        }
                      }
                    ]
                  },
                  "mode": "Incremental"
                }
              }
            ]
          },
          "parameters": {
            "storageAccountName": {
              "value": "armbuilddemo1803"
            }
          },
          "mode": "Incremental"
        },
        "tags": {
          "tagKey1": "tagValue1"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1198"
      },
      "ResponseBody": {
        "id": "/subscriptions/b9f138a1-1d64-4108-8413-9ea3be1c1b2d/providers/Microsoft.Resources/deployments/csmd8514",
        "name": "csmd8514",
        "type": "Microsoft.Resources/deployments",
        "location": "westus",
        "tags": {
          "tagKey1": "tagValue1"
        },
        "properties": {
          "templateHash": "6720373025847754913",
          "parameters": {
            "storageAccountName": {
              "type": "String",
              "value": "armbuilddemo1803"
            }
          },
          "mode": "Incremental",
          "provisioningState": "Succeeded",
          "timestamp": "2020-05-29T07:12:39.086242Z",
          "duration": "PT0S",
          "correlationId": "cecc40f6-4641-4c93-ac7a-1fe654f81034",
          "providers": [
            {
              "namespace": "Microsoft.Authorization",
              "resourceTypes": [
                {
                  "resourceType": "policyDefinitions",
                  "locations": [
                    null
                  ]
                },
                {
                  "resourceType": "policyAssignments",
                  "locations": [
                    null
                  ]
                }
              ]
            },
            {
              "namespace": "Microsoft.Resources",
              "resourceTypes": [
                {
                  "resourceType": "deployments",
                  "locations": [
                    null
                  ]
                }
              ]
            }
          ],
          "dependencies": [
            {
              "dependsOn": [
                {
                  "id": "/subscriptions/b9f138a1-1d64-4108-8413-9ea3be1c1b2d/providers/Microsoft.Authorization/policyDefinitions/policy2",
                  "resourceType": "Microsoft.Authorization/policyDefinitions",
                  "resourceName": "policy2"
                }
              ],
              "id": "/subscriptions/b9f138a1-1d64-4108-8413-9ea3be1c1b2d/providers/Microsoft.Authorization/policyAssignments/location-lock",
              "resourceType": "Microsoft.Authorization/policyAssignments",
              "resourceName": "location-lock"
            }
          ],
          "validatedResources": [
            {
              "id": "/subscriptions/b9f138a1-1d64-4108-8413-9ea3be1c1b2d/providers/Microsoft.Authorization/policyDefinitions/policy2"
            },
            {
              "id": "/subscriptions/b9f138a1-1d64-4108-8413-9ea3be1c1b2d/providers/Microsoft.Authorization/policyAssignments/location-lock"
            },
            {
              "id": "/subscriptions/b9f138a1-1d64-4108-8413-9ea3be1c1b2d/resourceGroups/SDK-test/providers/Microsoft.Resources/deployments/rg-nested"
            },
            {
              "id": "/subscriptions/b9f138a1-1d64-4108-8413-9ea3be1c1b2d/resourceGroups/SDK-test/providers/Microsoft.Storage/storageAccounts/armbuilddemo1803"
            }
          ]
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com//subscriptions/b9f138a1-1d64-4108-8413-9ea3be1c1b2d/providers/Microsoft.Resources/deployments/csmd8514?api-version=2019-10-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "WestUS",
        "properties": {
          "template": {
            "$schema": "https://schema.management.azure.com/schemas/2[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/b9f138a1-1d64-4108-8413-9ea3be1c1b2d/providers/Microsoft.Resources/deployments/csmd8514/operationStatuses/08586108705248582895?api-version=2019-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11963"
      },
      "ResponseBody": {
        "status": "Accepted"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com//subscriptions/b9f138a1-1d64-4108-8413-9ea3be1c1b2d/providers/Microsoft.Resources/deployments/csmd8514/operations?api-version=2019-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11934"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/b9f138a1-1d64-4108-8413-9ea3be1c1b2d/providers/Microsoft.Resources/deployments/csmd8514/operations/6ED18CB97CF805BD",
            "operationId": "6ED18CB97CF805BD",
            "properties": {
              "provisioningOperation": "Create",
              "provisioningState": "Succeeded",
              "timestamp": "2020-05-29T07:13:18.1978783Z",
              "duration": "PT33.9977385S",
              "trackingId": "641e506c-f729-48ca-a26d-ee30e7ff1a5c",
              "serviceRequestId": "7d2d39e4-a561-4abe-b9c6-7408477fe50d",
              "statusCode": "OK",
              "targetResource": {
                "id": "/subscriptions/b9f138a1-1d64-4108-8413-9ea3be1c1b2d/resourceGroups/SDK-test/providers/Microsoft.Resources/deployments/rg-nested",
                "resourceType": "Microsoft.Resources/deployments",
                "resourceName": "rg-nested"
              }
            }
          },
          {
            "id": "/subscriptions/b9f138a1-1d64-4108-8413-9ea3be1c1b2d/providers/Microsoft.Resources/deployments/csmd8514/operations/09447EC139317AB8",
            "operationId":[...]
