{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/b9f138a1-1d64-4108-8413-9ea3be1c1b2d/resourcegroups/SDK-test-01?api-version=2019-10-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "WestUS"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1197"
      },
      "ResponseBody": {
        "id": "/subscriptions/b9f138a1-1d64-4108-8413-9ea3be1c1b2d/resourceGroups/SDK-test-01",
        "name": "SDK-test-01",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com//subscriptions/b9f138a1-1d64-4108-8413-9ea3be1c1b2d/resourceGroups/SDK-test-01/providers/Microsoft.Resources/deployments/csmd6906/validate?api-version=2019-10-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "template": {
            "$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
            "contentVersion": "1.0.0.0",
            "parameters": {
              "storageAccountName": {
                "type": "string"
              }
            },
            "resources": [
              {
                "type": "Microsoft.Storage/storageAccounts",
                "name": "[parameters(\u0027storageAccountName\u0027)]",
                "apiVersion": "2015-06-15",
                "location": "[resourceGroup().location]",
                "properties": {
                  "accountType": "Standard_LRS",
                  "supportsHttpsTrafficOnly": "true"
                }
              }
            ],
            "outputs": {}
          },
          "parameters": {
            "storageAccountName": {
              "value": "tianotest105"
            }
          },
          "mode": "Incremental"
        },
        "tags": {
          "tagKey1": "tagValue1"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "id": "/subscriptions/b9f138a1-1d64-4108-8413-9ea3be1c1b2d/resourceGroups/SDK-test-01/providers/Microsoft.Resources/deployments/csmd6906",
        "name": "csmd6906",
        "type": "Microsoft.Resources/deployments",
        "tags": {
          "tagKey1": "tagValue1"
        },
        "properties": {
          "templateHash": "5990385231242796503",
          "parameters": {
            "storageAccountName": {
              "type": "String",
              "value": "tianotest105"
            }
          },
          "mode": "Incremental",
          "provisioningState": "Succeeded",
          "timestamp": "2020-05-29T07:11:53.5947436Z",
          "duration": "PT0S",
          "correlationId": "163f8f28-707f-4088-a074-dbefd48a046d",
          "providers": [
            {
              "namespace": "Microsoft.Storage",
              "resourceTypes": [
                {
                  "resourceType": "storageAccounts",
                  "locations": [
                    "westus"
                  ]
                }
              ]
            }
          ],
          "dependencies": [],
          "validatedResources": [
            {
              "id": "/subscriptions/b9f138a1-1d64-4108-8413-9ea3be1c1b2d/resourceGroups/SDK-test-01/providers/Microsoft.Storage/storageAccounts/tianotest105"
            }
          ]
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com//subscriptions/b9f138a1-1d64-4108-8413-9ea3be1c1b2d/resourceGroups/SDK-test-01/providers/Microsoft.Resources/deployments/csmd6906?api-version=2019-10-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "template": {
            "$schema": "http://schema.management.azure.com/schemas/2015-[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/b9f138a1-1d64-4108-8413-9ea3be1c1b2d/resourcegroups/SDK-test-01/providers/Microsoft.Resources/deployments/csmd6906/operationStatuses/08586108705703002638?api-version=2019-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11995"
      },
      "ResponseBody": {
        "status": "Running"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com//subscriptions/b9f138a1-1d64-4108-8413-9ea3be1c1b2d/resourceGroups/SDK-test-01/providers/Microsoft.Resources/deployments/csmd6906/operations?api-version=2019-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11964"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/b9f138a1-1d64-4108-8413-9ea3be1c1b2d/resourceGroups/SDK-test-01/providers/Microsoft.Resources/deployments/csmd6906/operations/5F2380786A0315F1",
            "operationId": "5F2380786A0315F1",
            "properties": {
              "provisioningOperation": "Create",
              "provisioningState": "Succeeded",
              "timestamp": "2020-05-29T07:12:35.1029218Z",
              "duration": "PT36.5794825S",
              "trackingId": "7cbd0491-f6b6-4c67-bacb-e4bbf5c74343",
              "serviceRequestId": "561f651e-4076-4299-b7d7-94d422994cb5",
              "statusCode": "OK",
              "targetResource": {
                "id": "/subscriptions/b9f138a1-1d64-4108-8413-9ea3be1c1b2d/resourceGroups/SDK-test-01/providers/Microsoft.Storage/storageAccounts/tianotest105",
                "resourceType": "Microsoft.Storage/storageAccounts",
                "resourceName": "tianotest105"
              }
            }
          },
          {
            "id": "/subscriptions/b9f138a1-1d64-4108-8413-9ea3be1c1b2d/resourceGroups/SDK-test-01/providers/Microsoft.Resources/deployments/csmd6906/operations/08586108705703002638",
            "operationId": "08586108705703002638",
            "properties": {
              "provisioningOperation": "EvaluateDeploymentOutput",
              "provisioningState": "Succeeded",
              "timestamp": "2020-05-29T07:12:36.1312856Z",
              "duration": "PT0.442141S",
              "trackingId": "35a5387f-35ac-4e5b-8958-c3af998ff1b3",
              "statusCode": "OK",
              "statusMessage": null
            }
          }
        ]
      }
    }
  ],
  "Variables": {
    "RandomSeed": "91145834",
    "SUBSCRIPTION_ID": "b9f138a1-1d64-4108-8413-9ea3be1c1b2d"
  }
}