{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/providers/Microsoft.Management/managementGroups/tag-mg1/providers/Microsoft.Resources/deployments/csharpsdktest1462/validate?api-version=2019-10-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "East US",
        "properties": {
          "template": {
            "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
            "contentVersion": "1.0.0.0",
            "parameters": {
              "storageAccountName": {
                "type": "string",
                "defaultValue": "tagsa021920"
              }
            },
            "variables": {},
            "resources": [
              {
                "type": "Microsoft.Authorization/policyDefinitions",
                "name": "policy2",
                "apiVersion": "2016-12-01",
                "properties": {
                  "policyType": "Custom",
                  "parameters": {},
                  "policyRule": {
                    "if": {
                      "field": "location",
                      "equals": "northeurope"
                    },
                    "then": {
                      "effect": "deny"
                    }
                  }
                }
              },
              {
                "type": "Microsoft.Authorization/policyAssignments",
                "name": "location-lock",
                "apiVersion": "2016-12-01",
                "dependsOn": [
                  "policy2"
                ],
                "properties": {
                  "scope": "/providers/Microsoft.Management/managementGroups/tag-mg1",
                  "policyDefinitionId": "[concat(\u0027/providers/Microsoft.Management/managementGroups/tag-mg1/\u0027, \u0027providers/\u0027, \u0027Microsoft.Authorization/policyDefinitions/\u0027, \u0027policy2\u0027)]"
                }
              },
              {
                "type": "Microsoft.Resources/deployments",
                "name": "sdktest-subnested",
                "apiVersion": "2018-05-01",
                "location": "West US",
                "subscriptionId": "b9f138a1-1d64-4108-8413-9ea3be1c1b2d",
                "properties": {
                  "template": {
                    "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {},
                    "variables": {},
                    "resources": [
                      {
                        "type": "Microsoft.Resources/resourceGroups",
                        "name": "rg-001",
                        "apiVersion": "2018-05-01",
                        "location": "East US",
                        "properties": {}
                      },
                      {
                        "type": "Microsoft.Resources/deployments",
                        "name": "rg-nested",
                        "apiVersion": "2017-05-10",
                        "resourceGroup": "rg-001",
                        "dependsOn": [
                          "rg-001"
                        ],
                        "properties": {
                          "template": {
                            "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
                            "contentVersion": "1.0.0.0",
                            "parameters": {},
                            "variables": {},
                            "resources": [
                              {
                                "type": "Microsoft.Storage/storageAccounts",
                                "name": "[parameters(\u0027storageAccountName\u0027)]",
                                "apiVersion": "2015-06-15",
                                "location": "East US",
                                "properties": {
                                  "accountType": "Standard_LRS"
                                }
                              }
                            ]
                          },
                          "mode": "Incremental"
                        }
                      }
                    ]
                  },
                  "mode": "Incremental"
                }
              }
            ]
          },
          "parameters": {
            "storageAccountName": {
              "value": "tagsa021921"
            }
          },
          "mode": "Incremental"
        },
        "tags": {
          "tagKey1": "tagValue1"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-tenant-writes": "1199"
      },
      "ResponseBody": {
        "id": "/providers/Microsoft.Management/managementGroups/tag-mg1/providers/Microsoft.Resources/deployments/csharpsdktest1462",
        "name": "csharpsdktest1462",
        "type": "Microsoft.Resources/deployments",
        "location": "eastus",
        "tags": {
          "tagKey1": "tagValue1"
        },
        "properties": {
          "templateHash": "7391752761135312529",
          "parameters": {
            "storageAccountName": {
              "type": "String",
              "value": "tagsa021921"
            }
          },
          "mode": "Incremental",
          "provisioningState": "Succeeded",
          "timestamp": "2020-05-29T07:13:21.1933822Z",
          "duration": "PT0S",
          "correlationId": "41d576d5-add7-43de-a0fe-000600268d5d",
          "providers": [
            {
              "namespace": "Microsoft.Authorization",
              "resourceTypes": [
                {
                  "resourceType": "policyDefinitions",
                  "locations": [
                    null
                  ]
                },
                {
                  "resourceType": "policyAssignments",
                  "locations": [
                    null
                  ]
                }
              ]
            },
            {
              "namespace": "Microsoft.Resources",
              "resourceTypes": [
                {
                  "resourceType": "deployments",
                  "locations": [
                    "westus"
                  ]
                }
              ]
            }
          ],
          "dependencies": [
            {
              "dependsOn": [
                {
                  "id": "/providers/Microsoft.Management/managementGroups/tag-mg1/providers/Microsoft.Authorization/policyDefinitions/policy2",
                  "resourceType": "Microsoft.Authorization/policyDefinitions",
                  "resourceName": "policy2"
                }
              ],
              "id": "/providers/Microsoft.Management/managementGroups/tag-mg1/providers/Microsoft.Authorization/policyAssignments/location-lock",
              "resourceType": "Microsoft.Authorization/policyAssignments",
              "resourceName": "location-lock"
            }
          ],
          "validatedResources": [
            {
              "id": "/providers/Microsoft.Management/managementGroups/tag-mg1/providers/Microsoft.Authorization/policyDefinitions/policy2"
            },
            {
              "id": "/providers/Microsoft.Management/managementGroups/tag-mg1/providers/Microsoft.Authorization/policyAssignments/location-lock"
            },
            {
              "id": "/subscriptions/b9f138a1-1d64-4108-8413-9ea3be1c1b2d/providers/Microsoft.Resources/deployments/sdktest-subnested"
            },
            {
              "id": "/subscriptions/b9f138a1-1d64-4108-8413-9ea3be1c1b2d/resourceGroups/rg-001"
            },
            {
              "id": "/subscriptions/b9f138a1-1d64-4108-8413-9ea3be1c1b2d/resourceGroups/rg-001/providers/Microsoft.Resources/deployments/rg-nested"
            },
            {
              "id": "/subscriptions/b9f138a1-1d64-4108-8413-9ea3be1c1b2d/resourceGroups/rg-001/providers/Microsoft.Storage/storageAccounts/tagsa021921"
            }
          ]
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/providers/Microsoft.Management/managementGroups/tag-mg1/providers/Microsoft.Resources/deployments/csharpsdktest1462?api-version=2019-10-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "East US",
        "properties": {
          "template": {
            "$schema": "https://schema.management.azure[...]
    {
      "RequestUri": "https://management.azure.com/providers/Microsoft.Management/managementGroups/tag-mg1/providers/Microsoft.Resources/deployments/csharpsdktest1462/operationStatuses/08586108704816897002?api-version=2019-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-tenant-reads": "11999"
      },
      "ResponseBody": {
        "status": "Running"
      }
    },
[...]
