{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourcegroups/SDK-test?api-version=2019-10-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "WestUS"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/SDK-test",
        "name": "SDK-test",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Resources/deployments/csmd700/validate?api-version=2019-10-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "WestUS",
        "properties": {
          "template": {
            "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
            "contentVersion": "1.0.0.0",
            "parameters": {
              "storageAccountName": {
                "type": "string",
                "defaultValue": "armbuilddemo1801"
              }
            },
            "variables": {},
            "resources": [
              {
                "type": "Microsoft.Authorization/policyDefinitions",
                "name": "policy2",
                "apiVersion": "2016-12-01",
                "properties": {
                  "policyType": "Custom",
                  "parameters": {},
                  "policyRule": {
                    "if": {
                      "field": "location",
                      "equals": "northeurope"
                    },
                    "then": {
                      "effect": "deny"
                    }
                  }
                }
              },
              {
                "type": "Microsoft.Authorization/policyAssignments",
                "name": "location-lock",
                "apiVersion": "2016-12-01",
                "dependsOn": [
                  "policy2"
                ],
                "properties": {
                  "scope": "[subscription().id]",
                  "policyDefinitionId": "[resourceId(\u0027Microsoft.Authorization/policyDefinitions\u0027, \u0027policy2\u0027)]"
                }
              },
              {
                "type": "Microsoft.Resources/deployments",
                "name": "rg-nested",
                "apiVersion": "2017-05-10",
                "resourceGroup": "SDK-test",
                "properties": {
                  "template": {
                    "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {},
                    "variables": {},
                    "resources": [
                      {
                        "type": "Microsoft.Storage/storageAccounts",
                        "name": "[parameters(\u0027storageAccountName\u0027)]",
                        "apiVersion": "2015-06-15",
                        "location": "East US",
                        "properties": {
                          "accountType": "Standard_LRS",
                          "supportsHttpsTrafficOnly": "true"
                        }
                      }
                    ]
                  },
                  "mode": "Incremental"
                }
              }
            ]
          },
          "parameters": {
            "storageAccountName": {
              "value": "armbuilddemo1803"
            }
          },
          "mode": "Incremental"
        },
        "tags": {
          "tagKey1": "tagValue1"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Resources/deployments/csmd700",
        "name": "csmd700",
        "type": "Microsoft.Resources/deployments",
        "location": "westus",
        "tags": {
          "tagKey1": "tagValue1"
        },
        "properties": {
          "templateHash": "6720373025847754913",
          "parameters": {
            "storageAccountName": {
              "type": "String",
              "value": "armbuilddemo1803"
            }
          },
          "mode": "Incremental",
          "provisioningState": "Succeeded",
          "timestamp": "2020-09-14T09:44:20.0349354Z",
          "duration": "PT0S",
          "correlationId": "9e999737-7771-4a31-bb23-5c7f9e242996",
          "providers": [
            {
              "namespace": "Microsoft.Authorization",
              "resourceTypes": [
                {
                  "resourceType": "policyDefinitions",
                  "locations": [
                    null
                  ]
                },
                {
                  "resourceType": "policyAssignments",
                  "locations": [
                    null
                  ]
                }
              ]
            },
            {
              "namespace": "Microsoft.Resources",
              "resourceTypes": [
                {
                  "resourceType": "deployments",
                  "locations": [
                    null
                  ]
                }
              ]
            }
          ],
          "dependencies": [
            {
              "dependsOn": [
                {
                  "id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Authorization/policyDefinitions/policy2",
                  "resourceType": "Microsoft.Authorization/policyDefinitions",
                  "resourceName": "policy2"
                }
              ],
              "id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Authorization/policyAssignments/location-lock",
              "resourceType": "Microsoft.Authorization/policyAssignments",
              "resourceName": "location-lock"
            }
          ],
          "validatedResources": [
            {
              "id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Authorization/policyDefinitions/policy2"
            },
            {
              "id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Authorization/policyAssignments/location-lock"
            },
            {
              "id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/SDK-test/providers/Microsoft.Resources/deployments/rg-nested"
            },
            {
              "id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/SDK-test/providers/Microsoft.Storage/storageAccounts/armbuilddemo1803"
            }
          ]
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Resources/deployments/csmd700?api-version=2019-10-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "WestUS",
        "properties": {
          "template": {
            "$schema": "https://schema.management.azure.com/schemas/201[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Resources/deployments/csmd700/operationStatuses/08586015302239254151?api-version=2019-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "status": "Accepted"
      }
    },
[...]
