{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/b9f138a1-1d64-4108-8413-9ea3be1c1b2d/resourcegroups/csmrg8949?api-version=2019-10-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "West Europe"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1190"
      },
      "ResponseBody": {
        "id": "/subscriptions/b9f138a1-1d64-4108-8413-9ea3be1c1b2d/resourceGroups/csmrg8949",
        "name": "csmrg8949",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westeurope",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/b9f138a1-1d64-4108-8413-9ea3be1c1b2d/resourcegroups/csmrg8949/providers/Microsoft.Resources/deployments/csmd1418/validate?api-version=2019-10-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "template": null,
          "templateLink": {
            "uri": "https://raw.githubusercontent.com/Azure/azure-quickstart-templates/master/201-web-app-github-deploy/azuredeploy.json"
          },
          "parameters": {
            "repoURL": {
              "value": "https://github.com/devigned/az-roadshow-oss.git"
            },
            "siteName": {
              "value": "csres3002"
            },
            "location": {
              "value": "westus"
            },
            "sku": {
              "value": "F1"
            }
          },
          "mode": "Incremental"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1196"
      },
      "ResponseBody": {
        "id": "/subscriptions/b9f138a1-1d64-4108-8413-9ea3be1c1b2d/resourceGroups/csmrg8949/providers/Microsoft.Resources/deployments/csmd1418",
        "name": "csmd1418",
        "type": "Microsoft.Resources/deployments",
        "properties": {
          "templateLink": {
            "uri": "https://raw.githubusercontent.com/Azure/azure-quickstart-templates/master/201-web-app-github-deploy/azuredeploy.json",
            "contentVersion": "1.0.0.1"
          },
          "templateHash": "12192946132745292451",
          "parameters": {
            "siteName": {
              "type": "String",
              "value": "csres3002"
            },
            "location": {
              "type": "String",
              "value": "westus"
            },
            "sku": {
              "type": "String",
              "value": "F1"
            },
            "workerSize": {
              "type": "String",
              "value": "0"
            },
            "repoURL": {
              "type": "String",
              "value": "https://github.com/devigned/az-roadshow-oss.git"
            },
            "branch": {
              "type": "String",
              "value": "master"
            }
          },
          "mode": "Incremental",
          "provisioningState": "Succeeded",
          "timestamp": "2020-06-12T03:28:13.8348919Z",
          "duration": "PT0S",
          "correlationId": "904d9542-87e9-4703-a4e9-f62c94cfed3e",
          "providers": [
            {
              "namespace": "Microsoft.Web",
              "resourceTypes": [
                {
                  "resourceType": "serverfarms",
                  "locations": [
                    "westus"
                  ]
                },
                {
                  "resourceType": "sites",
                  "locations": [
                    "westus"
                  ]
                },
                {
                  "resourceType": "sites/sourcecontrols",
                  "locations": [
                    "westus"
                  ]
                }
              ]
            }
          ],
          "dependencies": [
            {
              "dependsOn": [
                {
                  "id": "/subscriptions/b9f138a1-1d64-4108-8413-9ea3be1c1b2d/resourceGroups/csmrg8949/providers/Microsoft.Web/serverfarms/hpn-csmrg8949",
                  "resourceType": "Microsoft.Web/serverfarms",
                  "resourceName": "hpn-csmrg8949"
                }
              ],
              "id": "/subscriptions/b9f138a1-1d64-4108-8413-9ea3be1c1b2d/resourceGroups/csmrg8949/providers/Microsoft.Web/sites/csres3002",
              "resourceType": "Microsoft.Web/sites",
              "resourceName": "csres3002"
            },
            {
              "dependsOn": [
                {
                  "id": "/subscriptions/b9f138a1-1d64-4108-8413-9ea3be1c1b2d/resourceGroups/csmrg8949/providers/Microsoft.Web/sites/csres3002",
                  "resourceType": "Microsoft.Web/sites",
                  "resourceName": "csres3002"
                }
              ],
              "id": "/subscriptions/b9f138a1-1d64-4108-8413-9ea3be1c1b2d/resourceGroups/csmrg8949/providers/Microsoft.Web/sites/csres3002/sourcecontrols/web",
              "resourceType": "Microsoft.Web/sites/sourcecontrols",
              "resourceName": "csres3002/web"
            }
          ],
          "validatedResources": [
            {
              "id": "/subscriptions/b9f138a1-1d64-4108-8413-9ea3be1c1b2d/resourceGroups/csmrg8949/providers/Microsoft.Web/serverfarms/hpn-csmrg8949"
            },
            {
              "id": "/subscriptions/b9f138a1-1d64-4108-8413-9ea3be1c1b2d/resourceGroups/csmrg8949/providers/Microsoft.Web/sites/csres3002"
            },
            {
              "id": "/subscriptions/b9f138a1-1d64-4108-8413-9ea3be1c1b2d/resourceGroups/csmrg8949/providers/Microsoft.Web/sites/csres3002/sourcecontrols/web"
            }
          ]
        }
      }
    }
  ],
  "Variables": {
    "RandomSeed": "1818057367",
    "SUBSCRIPTION_ID": "b9f138a1-1d64-4108-8413-9ea3be1c1b2d"
  }
}