{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/dec9ed54-2b7f-4476-9bd0-875544af59df?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11982"
      },
      "ResponseBody": {
        "id": "/subscriptions/dec9ed54-2b7f-4476-9bd0-875544af59df",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "subscriptionId": "dec9ed54-2b7f-4476-9bd0-875544af59df",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": "CosmosDB_RegionalRPValidation",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/dec9ed54-2b7f-4476-9bd0-875544af59df/resourcegroups/dbaccount-6963?api-version=2021-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus2"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1198"
      },
      "ResponseBody": {
        "id": "/subscriptions/dec9ed54-2b7f-4476-9bd0-875544af59df/resourceGroups/dbaccount-6963",
        "name": "dbaccount-6963",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus2",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/dec9ed54-2b7f-4476-9bd0-875544af59df/resourceGroups/dbaccount-6963/providers/Microsoft.DocumentDB/databaseAccounts/dbaccount-6070?api-version=2022-05-15",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kind": "MongoDB",
        "tags": {
          "key1": "value1",
          "key2": "value2"
        },
        "location": "westus2",
        "properties": {
          "consistencyPolicy": {
            "defaultConsistencyLevel": "BoundedStaleness",
            "maxStalenessPrefix": 300,
            "maxIntervalInSeconds": 1000
          },
          "locations": [
            {
              "locationName": "westus",
              "isZoneRedundant": false
            }
          ],
          "databaseAccountOfferType": "Standard",
          "ipRules": [
            {
              "ipAddressOrRange": "23.43.230.120"
            }
          ],
          "isVirtualNetworkFilterEnabled": true,
          "enableAutomaticFailover": false,
          "connectorOffer": "Small",
          "disableKeyBasedMetadataWriteAccess": false
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/dec9ed54-2b7f-4476-9bd0-875544af59df/providers/Microsoft.DocumentDB/locations/westus2/operationsStatus/214b3dfa-e8cd-46ae-9b83-b60639cf57a5?api-version=2022-05-15",
        "Content-Type": "application/json",
        "Location": "https://management.azure.com/subscriptions/dec9ed54-2b7f-4476-9bd0-875544af59df/resourceGroups/dbaccount-6963/providers/Microsoft.DocumentDB/databaseAccounts/dbaccount-6070/operationResults/214b3dfa-e8cd-46ae-9b83-b60639cf57a5?api-version=2022-05-15",
        "x-ms-gatewayversion": "version=2.14.0",
        "x-ms-ratelimit-remaining-subscription-writes": "1197"
      },
      "ResponseBody": {
        "id": "/subscriptions/dec9ed54-2b7f-4476-9bd0-875544af59df/resourceGroups/dbaccount-6963/providers/Microsoft.DocumentDB/databaseAccounts/dbaccount-6070",
        "name": "dbaccount-6070",
        "location": "West US 2",
        "type": "Microsoft.DocumentDB/databaseAccounts",
        "kind": "MongoDB",
        "tags": {
          "key1": "value1",
          "key2": "value2"
        },
        "systemData": {
          "createdAt": "2022-09-14T09:54:16.932336Z"
        },
        "properties": {
          "provisioningState": "Creating",
          "publicNetworkAccess": "Enabled",
          "enableAutomaticFailover": false,
          "enableMultipleWriteLocations": false,
          "enablePartitionKeyMonitor": false,
          "isVirtualNetworkFilterEnabled": true,
          "virtualNetworkRules": [],
          "EnabledApiTypes": "MongoDB",
          "disableKeyBasedMetadataWriteAccess": false,
          "enableFreeTier": false,
          "enableAnalyticalStorage": false,
          "analyticalStorageConfiguration": {
            "schemaType": "FullFidelity"
          },
          "instanceId": "a6bb2253-bdbc-469c-baa7-ce2917283a52",
          "databaseAccountOfferType": "Standard",
          "defaultIdentity": "",
          "networkAclBypass": "None",
          "disableLocalAuth": false,
          "consistencyPolicy": {
            "defaultConsistencyLevel": "BoundedStaleness",
            "maxIntervalInSeconds": 1000,
            "maxStalenessPrefix": 300
          },
          "apiProperties": {
            "serverVersion": "3.6"
          },
          "configurationOverrides": {},
          "writeLocations": [
            {
              "id": "dbaccount-6070-westus",
              "locationName": "West US",
              "provisioningState": "Creating",
              "failoverPriority": 0,
              "isZoneRedundant": false
            }
          ],
          "readLocations": [
            {
              "id": "dbaccount-6070-westus",
              "locationName": "West US",
              "provisioningState": "Creating",
              "failoverPriority": 0,
              "isZoneRedundant": false
            }
          ],
          "locations": [
            {
              "id": "dbaccount-6070-westus",
              "locationName": "West US",
              "provisioningState": "Creating",
              "failoverPriority": 0,
              "isZoneRedundant": false
            }
          ],
          "failoverPolicies": [
            {
              "id": "dbaccount-6070-westus",
              "locationName": "West US",
              "failoverPriority": 0
            }
          ],
          "cors": [],
          "capabilities": [
            {
              "name": "EnableMongo"
            }
          ],
          "ipRules": [
            {
              "ipAddressOrRange": "23.43.230.120"
            }
          ],
          "backupPolicy": {
            "type": "Periodic",
            "periodicModeProperties": {
              "backupIntervalInMinutes": 240,
              "backupRetentionIntervalInHours": 8,
              "backupStorageRedundancy": "Invalid"
            }
          },
          "networkAclBypassResourceIds": []
        },
        "identity": {
          "type": "None"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/dec9ed54-2b7f-4476-9bd0-875544af59df/providers/Microsoft.DocumentDB/locations/westus2/operationsStatus/214b3dfa-e8cd-46ae-9b83-b60639cf57a5?api-version=2022-05-15",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-gatewayversion": "version=2.14.0",
        "x-ms-ratelimit-remaining-subscription-reads": "11980"
      },
      "ResponseBody": {
        "status": "Enqueued"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/dec9ed54-2b7f-4476-9bd0-875544af59df/resourceGroups/dbaccount-6963/providers/Microsoft.DocumentDB/databaseAccounts/dbaccount-6070?api-version=2022-05-15",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-gatewayversion": "version=2.14.0",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "id": "/subscriptions/dec9ed54-2b7f-4476-9bd0-875544af59df/resourceGroups/dbaccount-6963/providers/Microsoft.DocumentDB/databaseAccounts/dbaccount-6070",
        "name": "dbaccount-6070",
        "location": "West US 2",
        "type": "Microsoft.DocumentDB/databaseAccounts",
        "kind": "MongoDB",
        "tags": {
          "key1": "value1",
          "key2": "value2"
        },
        "systemData": {
          "createdAt": "2022-09-14T09:58:35.5196675Z"
        },
        "properties": {
          "provisioningState": "Succeeded",
          "documentEndpoint": "https://dbaccount-6070.documents.azure.com:443/",
          "mongoEndpoint": "https://dbaccount-6070.mongo.cosmos.azure.com:443/",
          "publicNetworkAccess": "Enabled",
          "enableAutomaticFailover": false,
          "enableMultipleWriteLocations": false,
          "enablePartitionKeyMonitor": false,
          "isVirtualNetworkFilterEnabled": true,
          "virtualNetworkRules": [],
          "EnabledApiTypes": "MongoDB",
          "disableKeyBasedMetadataWriteAccess": false,
          "enableFreeTier": false,
          "enableAnalyticalStorage": false,
          "analyticalStorageConfiguration": {
            "schemaType": "FullFidelity"
          },
          "instanceId": "a6bb2253-bdbc-469c-baa7-ce2917283a52",
          "databaseAccountOfferType": "Standard",
          "defaultIdentity": "FirstPartyIdentity",
          "networkAclBypass": "None",
          "disableLocalAuth": false,
          "consistencyPolicy": {
            "defaultConsistencyLevel": "BoundedStaleness",
            "maxIntervalInSeconds": 1000,
            "maxStalenessPrefix": 300
          },
          "apiProperties": {
            "serverVersion": "3.6"
          },
          "configurationOverrides": {
            "EnableBsonSchema": "True"
          },
          "writeLocations": [
            {
              "id": "dbaccount-6070-westus",
              "locationName": "West US",
              "documentEndpoint": "https://dbaccount-6070-westus.documents.azure.com:443/",
              "provisioningState": "Succeeded",
              "failoverPriority": 0,
              "isZoneRedundant": false
            }
          ],
          "readLocations": [
            {
              "id": "dbaccount-6070-westus",
              "loc[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/dec9ed54-2b7f-4476-9bd0-875544af59df/resourceGroups/dbaccount-6963/providers/Microsoft.DocumentDB/databaseAccounts/dbaccount-6070/mongodbDatabases/mongodb-8433?api-version=2022-05-15",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "westus",
        "properties": {
          "resource": {
            "id": "mongodb-8433"
          },
          "options": {
            "throughput": 700
          }
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/dec9ed54-2b7f-4476-9bd0-875544af59df/providers/Microsoft.DocumentDB/locations/westus2/operationsStatus/eb78b13d-1da8-40f4-b699-8554bd02e589?api-version=2022-05-15",
        "Content-Type": "application/json",
        "Location": "https://management.azure.com/subscriptions/dec9ed54-2b7f-4476-9bd0-875544af59df/resourceGroups/dbaccount-6963/providers/Microsoft.DocumentDB/databaseAccounts/dbaccount-6070/mongodbDatabases/mongodb-8433/operationResults/eb78b13d-1da8-40f4-b699-8554bd02e589?api-version=2022-05-15",
        "x-ms-gatewayversion": "version=2.14.0",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "status": "Enqueued"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/dec9ed54-2b7f-4476-9bd0-875544af59df/resourceGroups/dbaccount-6963/providers/Microsoft.DocumentDB/databaseAccounts/dbaccount-6070/mongodbDatabases/mongodb-8433?api-version=2022-05-15",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-gatewayversion": "version=2.14.0",
        "x-ms-ratelimit-remaining-subscription-reads": "11992"
      },
      "ResponseBody": {
        "id": "/subscriptions/dec9ed54-2b7f-4476-9bd0-875544af59df/resourceGroups/dbaccount-6963/providers/Microsoft.DocumentDB/databaseAccounts/dbaccount-6070/mongodbDatabases/mongodb-8433",
        "type": "Microsoft.DocumentDB/databaseAccounts/mongodbDatabases",
        "name": "mongodb-8433",
        "properties": {
          "resource": {
            "id": "mongodb-8433"
          }
        }
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "RandomSeed": "2101916489",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "dec9ed54-2b7f-4476-9bd0-875544af59df"
  }
}
