{
  "Entries": [
    {
      "RequestUri": "/v1/apps/DEMO_APP/metrics/requests%2Fduration?timespan=PT12H&aggregation=avg%2Ccount%2Cmax%2Cmin%2Csum&segment=request%2FresultCode",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-api-key": [
          "DEMO_KEY"
        ],
        "prefer": [
          "response-v1=true"
        ],
        "x-ms-app": [
          "csharpsdk"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": {\r\n    \"start\": \"2018-01-11T06:45:14.851Z\",\r\n    \"end\": \"2018-01-11T18:45:14.851Z\",\r\n    \"segments\": [\r\n      {\r\n        \"requests/duration\": {\r\n          \"avg\": 1020.66,\r\n          \"count\": 361,\r\n          \"max\": 1781.01,\r\n          \"min\": 74.6,\r\n          \"sum\": 368456.89\r\n        },\r\n        \"request/resultCode\": \"500\"\r\n      },\r\n      {\r\n        \"requests/duration\": {\r\n          \"avg\": 350.8,\r\n          \"count\": 2480,\r\n          \"max\": 11883.94,\r\n          \"min\": 0.42,\r\n          \"sum\": 869990.18\r\n        },\r\n        \"request/resultCode\": \"200\"\r\n      },\r\n      {\r\n        \"requests/duration\": {\r\n          \"avg\": 6.83,\r\n          \"count\": 433,\r\n          \"max\": 1554.06,\r\n          \"min\": 1.14,\r\n          \"sum\": 2957.08\r\n        },\r\n        \"request/resultCode\": \"404\"\r\n      }\r\n    ]\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {}
}