{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/MediaServiceRG9415/providers/Microsoft.Media/mediaservices/mediaservice1494?api-version=2021-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal",
        "OData-Version": "4.0",
        "x-ms-ratelimit-remaining-subscription-reads": "11988"
      },
      "ResponseBody": {
        "name": "mediaservice1494",
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/MediaServiceRG9415/providers/Microsoft.Media/mediaservices/mediaservice1494",
        "type": "Microsoft.Media/mediaservices",
        "location": "West US 2",
        "properties": {
          "mediaServiceId": "1b7a0144-1745-4253-9573-02c6674c6b8d",
          "storageAccounts": [
            {
              "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/MediaServiceRG9415/providers/Microsoft.Storage/storageAccounts/azstorageformedia8952",
              "type": "Primary"
            }
          ],
          "storageAuthentication": "System",
          "encryption": {
            "type": "SystemKey"
          },
          "keyDelivery": {
            "accessControl": {
              "defaultAction": "Allow",
              "ipAllowList": []
            }
          },
          "publicNetworkAccess": "Enabled",
          "provisioningState": "Succeeded",
          "privateEndpointConnections": []
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/MediaServiceRG9415/providers/Microsoft.Media/mediaServices/mediaservice1494/streamingPolicies/streamingPolicy5990?api-version=2021-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "envelopeEncryption": {
            "enabledProtocols": {
              "download": false,
              "dash": true,
              "hls": true,
              "smoothStreaming": true
            }
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal",
        "OData-Version": "4.0",
        "x-ms-ratelimit-remaining-subscription-writes": "1193"
      },
      "ResponseBody": {
        "name": "streamingPolicy5990",
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/MediaServiceRG9415/providers/Microsoft.Media/mediaservices/mediaservice1494/streamingPolicies/streamingPolicy5990",
        "type": "Microsoft.Media/mediaservices/streamingPolicies",
        "properties": {
          "created": "2022-08-18T06:54:14.3046474Z",
          "envelopeEncryption": {
            "enabledProtocols": {
              "download": false,
              "dash": true,
              "hls": true,
              "smoothStreaming": true
            },
            "clearTracks": []
          }
        },
        "systemData": {
          "createdBy": "8e6d47e0-7969-4fde-a62c-4fea4f165e98",
          "createdByType": "Application",
          "createdAt": "2022-08-18T06:54:13.9930273Z",
          "lastModifiedBy": "8e6d47e0-7969-4fde-a62c-4fea4f165e98",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2022-08-18T06:54:13.9930273Z"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/MediaServiceRG9415/providers/Microsoft.Media/mediaServices/mediaservice1494/streamingPolicies/streamingPolicy5990?api-version=2021-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal",
        "OData-Version": "4.0",
        "x-ms-ratelimit-remaining-subscription-reads": "11987"
      },
      "ResponseBody": {
        "name": "streamingPolicy5990",
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/MediaServiceRG9415/providers/Microsoft.Media/mediaservices/mediaservice1494/streamingPolicies/streamingPolicy5990",
        "type": "Microsoft.Media/mediaservices/streamingPolicies",
        "properties": {
          "created": "2022-08-18T06:54:14.3046474Z",
          "envelopeEncryption": {
            "enabledProtocols": {
              "download": false,
              "dash": true,
              "hls": true,
              "smoothStreaming": true
            },
            "clearTracks": [],
            "contentKeys": {
              "defaultKey": {},
              "keyToTrackMappings": []
            }
          }
        },
        "systemData": {
          "createdBy": "8e6d47e0-7969-4fde-a62c-4fea4f165e98",
          "createdByType": "Application",
          "createdAt": "2022-08-18T06:54:13.9930273Z",
          "lastModifiedBy": "8e6d47e0-7969-4fde-a62c-4fea4f165e98",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2022-08-18T06:54:13.9930273Z"
        }
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "RandomSeed": "547745773",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "db1ab6f0-4769-4b27-930e-01e2ef9c123c"
  }
}
