{
  "Entries": [
    {
      "RequestUri": "/bing/v7.0/videos/search?q=cars",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"_type\": \"Videos\",\r\n  \"instrumentation\": {},\r\n  \"readLink\": \"https://api.cognitive.microsoft.com/api/v7/videos/search?q=cars\",\r\n  \"webSearchUrl\": \"https://www.bing.com/videos/search?q=cars\",\r\n  \"totalEstimatedMatches\": 1000,\r\n  \"value\": [\r\n    {\r\n      \"webSearchUrl\": \"https://www.bing.com/videos/search?q=cars&view=detail&mid=1CA6E7FBA0D7ECDBC52D1CA6E7FBA0D7ECDBC52D\",\r\n      \"name\": \"Cars\",\r\n      \"description\": \"Cars While traveling to California for the dispute of the final race, cocky, rookie Lightning McQueen accidentally damages the road of the small town. In order to ...\",\r\n      \"thumbnailUrl\": \"https://tse2.mm.bing.net/th?id=OVP.rMYFlpa9XjiIuUY885Yp1ADKEs&pid=Api\",\r\n      \"datePublished\": \"2017-09-06T16:21:25.0000000\",\r\n      \"publisher\": [\r\n        {\r\n          \"name\": \"gostream.is\"\r\n        }\r\n      ],\r\n      \"contentUrl\": \"https://gostream.is/film/cars-6603/watching.html\",\r\n      \"hostPageUrl\": \"https://gostream.is/film/cars-6603/watching.html\",\r\n      \"encodingFormat\": \"\",\r\n      \"hostPageDisplayUrl\": \"https://gostream.is/film/cars-6603/watching.html\",\r\n      \"width\": 213,\r\n      \"height\": 316,\r\n      \"duration\": \"PT1H57M\",\r\n      \"allowHttpsEmbed\": false,\r\n      \"thumbnail\": {\r\n        \"width\": 202,\r\n        \"height\": 300\r\n      },\r\n      \"videoId\": \"1CA6E7FBA0D7ECDBC52D1CA6E7FBA0D7ECDBC52D\",\r\n      \"allowMobileEmbed\": false,\r\n      \"isSuperfresh\": false\r\n    },\r\n    {\r\n      \"webSearchUrl\": \"https://www.bing.com/videos/search?q=cars&view=detail&mid=CEAFE062AC959330E35CCEAFE062AC959330E35C\",\r\n      \"name\": \"Cars\",\r\n      \"description\": \"Hotshot race car Lightning McQueen (Owen Wilson) is living life in the fast lane - until he hits a detour and gets stranded in Radiator Springs, a forgotten town on ...\",\r\n      \"thumbnailUrl\": \"https://tse4.mm.bing.net/th?id=OVP.4LYmtclcrKgGYHCpfhRA1wEsDh&pid=Api\",\r\n      \"datePublished\": \"2011-11-19T14:01:53.0000000\",\r\n      \"publisher\": [\r\n        {\r\n          \"name\": \"YouTube\"\r\n        }\r\n      ],\r\n      \"creator\": {\r\n        \"name\": \"PixarMoviesOnDemand\"\r\n      },\r\n      \"isAccessibleForFree\": false,\r\n      \"contentUrl\": \"https://www.youtube.com/watch?v=_Xbh2ivT0gg\",\r\n      \"hostPageUrl\": \"https://www.youtube.com/watch?v=_Xbh2ivT0gg\",\r\n      \"encodingFormat\": \"\",\r\n      \"hostPageDisplayUrl\": \"https://www.youtube.com/watch?v=_Xbh2ivT0gg\",\r\n      \"width\": 1280,\r\n      \"height\": 720,\r\n      \"duration\": \"PT1H56M31S\",\r\n      \"embedHtml\": \"<iframe width=\\\"1280\\\" height=\\\"720\\\" src=\\\"https://www.youtube.com/embed/_Xbh2ivT0gg?autoplay=1\\\" frameborder=\\\"0\\\" allowfullscreen></iframe>\",\r\n      \"allowHttpsEmbed\": true,\r\n      \"viewCount\": 333644,\r\n      \"thumbnail\": {\r\n        \"width\": 300,\r\n        \"height\": 225\r\n      },\r\n      \"videoId\": \"CEAFE062AC959330E35CCEAFE062AC959330E35C\",\r\n      \"allowMobileEmbed\": true,\r\n      \"isSuperfresh\": false\r\n    },\r\n    {\r\n      \"webSearchUrl\": \"https://www.bing.com/videos/search?q=cars&view=detail&mid=A9A6BF1A1882870A2BF1A9A6BF1A1882870A2BF1\",\r\n      \"name\": \"Cop Cars Kid Cartoon - The Police Car New Cars for kids & Trucks Cartoons for children\",\r\n      \"description\": \"Video for children with Cop Cars Kids Cartoon! Enjoy The Police Car New Kids Animation - Cars & Trucks Cartoons for children on the screen! Enjoy best educat...\",\r\n      \"thumbnailUrl\": \"https://tse4.mm.bing.net/th?id=OVP.IwahJWZR_3EraqgrED0rzwEsCo&pid=Api\",\r\n      \"datePublished\": \"2017-05-06T08:33:12.0000000\",\r\n      \"publisher\": [\r\n        {\r\n          \"name\": \"YouTube\"\r\n        }\r\n      ],\r\n      \"creator\": {\r\n        \"name\": \"Cars & Trains Cartoons\"\r\n      },\r\n      \"isAccessibleForFree\": true,\r\n      \"contentUrl\": \"https://www.youtube.com/watch?v=wHpCrFP3WIg\",\r\n      \"hostPageUrl\": \"https://www.youtube.com/watch?v=wHpCrFP3WIg\",\r\n      \"encodingFormat\": \"h264\",\r\n      \"hostPageDisplayUrl\": \"https://www.youtube.com/watch?v=wHpCrFP3WIg\",\r\n      \"width\": 1280,\r\n      \"height\": 720,\r\n      \"duration\": \"PT1H3M17S\",\r\n      \"motionThumbnailUrl\": \"https://tse1.mm.bing.net/th?id=OM.8SsKh4IYGr%2bmqQ_1506858484&pid=Api\",\r\n      \"embedHtml\": \"<iframe width=\\\"1280\\\" height=\\\"720\\\" src=\\\"https://www.youtube.com/embed/wHpCrFP3WIg?autoplay=1\\\" frameborder=\\\"0\\\" allowfullscreen></iframe>\",\r\n      \"allowHttpsEmbed\": true,\r\n      \"viewCount\": 3910380,\r\n      \"thumbnail\": {\r\n        \"width\": 300,\r\n        \"height\": 168\r\n      },\r\n      \"videoId\": \"A9A6BF1A1882870A2BF1A9A6BF1A1882870A2BF1\",\r\n    [...]
