{
  "Entries": [
    {
      "RequestUri": "https://FakeHost.net/configurations/configlifecycle2010458887?api-version=2020-03-13",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-Match": "\u0022\u0022"
      },
      "RequestBody": {
        "id": "configlifecycle2010458887",
        "labels": {
          "HostPlatform": "SomeValue"
        },
        "content": {
          "deviceContent": {
            "properties.desired.deviceContent_key": "deviceContent_value-configlifecycle2010458887"
          }
        },
        "targetCondition": "*",
        "priority": 789463540
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022MQ==\u0022"
      },
      "ResponseBody": {
        "id": "configlifecycle2010458887",
        "schemaVersion": null,
        "labels": {
          "HostPlatform": "SomeValue"
        },
        "content": {
          "deviceContent": {
            "properties.desired.deviceContent_key": "deviceContent_value-configlifecycle2010458887"
          }
        },
        "targetCondition": "*",
        "createdTimeUtc": "2021-12-09T20:22:04.5192495Z",
        "lastUpdatedTimeUtc": "2021-12-09T20:22:04.5192495Z",
        "priority": 789463540,
        "systemMetrics": {
          "results": {},
          "queries": {
            "targetedCount": "select deviceId from devices",
            "appliedCount": "select deviceId from devices where configurations.[[configlifecycle2010458887]].status = \u0027Applied\u0027"
          }
        },
        "metrics": {
          "results": {},
          "queries": {}
        },
        "etag": "MQ=="
      }
    },
[...]
    {
      "RequestUri": "https://FakeHost.net/configurations/configlifecycle2010458887?api-version=2020-03-13",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "*"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "IOT_HUB_CONNECTION_STRING": "HostName=FakeHost.net;SharedAccessKeyName=iothubowner;SharedAccessKey=Kg==",
    "RandomSeed": "1408898107"
  }
}
