{
  "Entries": [
    {
      "RequestUri": "https://FakeHost.net/configurations/testconfigurations01950819942?api-version=2020-03-13",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-Match": "\u0022\u0022"
      },
      "RequestBody": {
        "id": "testconfigurations01950819942",
        "labels": {
          "HostPlatform": "SomeValue"
        },
        "content": {
          "deviceContent": {
            "properties.desired.deviceContent_key": "deviceContent_value-testconfigurations01950819942"
          }
        },
        "targetCondition": "*",
        "priority": 1968531703
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022MQ==\u0022"
      },
      "ResponseBody": {
        "id": "testconfigurations01950819942",
        "schemaVersion": null,
        "labels": {
          "HostPlatform": "SomeValue"
        },
        "content": {
          "deviceContent": {
            "properties.desired.deviceContent_key": "deviceContent_value-testconfigurations01950819942"
          }
        },
        "targetCondition": "*",
        "createdTimeUtc": "2020-09-01T20:58:35.8926994Z",
        "lastUpdatedTimeUtc": "2020-09-01T20:58:35.8926994Z",
        "priority": 1968531703,
        "systemMetrics": {
          "results": {},
          "queries": {
            "targetedCount": "select deviceId from devices",
            "appliedCount": "select deviceId from devices where configurations.[[testconfigurations01950819942]].status = \u0027Applied\u0027"
          }
        },
        "metrics": {
          "results": {},
          "queries": {}
        },
        "etag": "MQ=="
      }
    },
[...]
    {
      "RequestUri": "https://FakeHost.net/configurations?api-version=2020-03-13",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": "[{\u0022id\u0022:\u0022testconfigurations01950819942\u0022,\u0022schemaVersion\u0022:null,\u0022labels\u0022:{\u0022HostPlatform\u0022:\u0022[...]
[...]
    {
      "RequestUri": "https://FakeHost.net/configurations/testconfigurations41959745517?api-version=2020-03-13",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "*"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "IOT_HUB_CONNECTION_STRING": "HostName=FakeHost.net;SharedAccessKeyName=iothubowner;SharedAccessKey=Kg==",
    "RandomSeed": "1287820092"
  }
}