{
  "Entries": [
    {
      "RequestUri": "https://FakeHost.net/configurations/testconfigurations01670187672?api-version=2020-03-13",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-Match": "\u0022\u0022"
      },
      "RequestBody": {
        "id": "testconfigurations01670187672",
        "labels": {
          "HostPlatform": "SomeValue"
        },
        "content": {
          "deviceContent": {
            "properties.desired.deviceContent_key": "deviceContent_value-testconfigurations01670187672"
          }
        },
        "targetCondition": "*",
        "priority": 1441661840
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022MQ==\u0022"
      },
      "ResponseBody": {
        "id": "testconfigurations01670187672",
        "schemaVersion": null,
        "labels": {
          "HostPlatform": "SomeValue"
        },
        "content": {
          "deviceContent": {
            "properties.desired.deviceContent_key": "deviceContent_value-testconfigurations01670187672"
          }
        },
        "targetCondition": "*",
        "createdTimeUtc": "2020-08-20T00:09:07.3468995Z",
        "lastUpdatedTimeUtc": "2020-08-20T00:09:07.3468995Z",
        "priority": 1441661840,
        "systemMetrics": {
          "results": {},
          "queries": {
            "targetedCount": "select deviceId from devices",
            "appliedCount": "select deviceId from devices where configurations.[[testconfigurations01670187672]].status = \u0027Applied\u0027"
          }
        },
        "metrics": {
          "results": {},
          "queries": {}
        },
        "etag": "MQ=="
      }
    },
[...]
    {
      "RequestUri": "https://FakeHost.net/configurations?api-version=2020-03-13",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": "[{\u0022id\u0022:\u0022testconfigurations01670187672\u0022,\u0022schemaVersion\u0022:null,\u0022labels\u0022:{\u0022HostPlatform\u0022:\u0022[...]
[...]
    {
      "RequestUri": "https://FakeHost.net/configurations/testconfigurations4625808639?api-version=2020-03-13",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "*"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "IOT_HUB_CONNECTION_STRING": "HostName=FakeHost.net;SharedAccessKeyName=iothubowner;SharedAccessKey=Kg==",
    "RandomSeed": "652472912"
  }
}