{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourcegroups/NotificationHubRG-3995?api-version=**",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11985"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/NotificationHubRG-3995",
        "name": "NotificationHubRG-3995",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/NotificationHubRG-3995/providers/Microsoft.NotificationHubs/namespaces/azNotificationHubNamespace4004?api-version=2017-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "sku": {
          "name": "Standard"
        },
        "tags": {},
        "location": "eastus",
        "properties": {}
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2014-09-01, 2016-03-01, 2017-04-01, 2020-01-01-preview",
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/NotificationHubRG-3995/providers/Microsoft.NotificationHubs/namespaces/azNotificationHubNamespace4004/operations/Q3JlYXRlTmFtZXNwYWNlLWRiMWFiNmYwLTQ3NjktNGIyNy05MzBlLTAxZTJlZjljMTIzYy1hek5vdGlmaWNhdGlvbkh1Yk5hbWVzcGFjZTQwMDQ7bmhwcm9kYmwyMDAxLTItZmFicmlj?api-version=2017-04-01",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/NotificationHubRG-3995/providers/Microsoft.NotificationHubs/namespaces/azNotificationHubNamespace4004?api-version=2017-04-01",
        "Retry-After": "10",
        "TrackingId": "a03e6764-4c7b-4d70-8ecc-ff7c6605bfc5",
        "x-ms-ratelimit-remaining-subscription-writes": "1195"
      },
      "ResponseBody": {
        "properties": {
          "provisioningState": "Unknown",
          "enabled": false,
          "zoneRedundant": false
        },
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/NotificationHubRG-3995/providers/Microsoft.NotificationHubs/namespaces/azNotificationHubNamespace4004",
        "name": "azNotificationHubNamespace4004",
        "type": "Microsoft.NotificationHubs/namespaces",
        "tags": {}
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/NotificationHubRG-3995/providers/Microsoft.NotificationHubs/namespaces/azNotificationHubNamespace4004?api-version=2017-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2014-09-01, 2016-03-01, 2017-04-01, 2020-01-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "TrackingId": "759db59b-0f8b-465e-bc01-503250116f53",
        "x-ms-ratelimit-remaining-subscription-reads": "11984"
      },
      "ResponseBody": {
        "sku": {
          "name": "Standard"
        },
        "properties": {
          "provisioningState": "Succeeded",
          "status": "Active",
          "createdAt": "2022-08-29T09:29:14.0500000Z",
          "updatedAt": "2022-08-29T09:29:14.0630000Z",
          "serviceBusEndpoint": "https://azNotificationHubNamespace4004.servicebus.windows.net:443/",
          "enabled": true,
          "critical": false,
          "zoneRedundant": false
        },
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/NotificationHubRG-3995/providers/Microsoft.NotificationHubs/namespaces/azNotificationHubNamespace4004",
        "name": "azNotificationHubNamespace4004",
        "type": "Microsoft.NotificationHubs/namespaces",
        "location": "East US",
        "tags": {}
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "RandomSeed": "577335549",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "db1ab6f0-4769-4b27-930e-01e2ef9c123c"
  }
}
