{
  "Entries": [
    {
      "RequestUri": "/d9ef59c8-34e2-4cea-91c5-b90c66adc055/locations",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2014-10-01"
        ]
      },
      "ResponseBody": "<Locations xmlns=\"http://schemas.microsoft.com/windowsazure\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n  <Location>\r\n    <Name>West US</Name>\r\n    <DisplayName>West US</DisplayName>\r\n    <AvailableServices>\r\n      <AvailableService>Compute</AvailableService>\r\n      <AvailableService>Storage</AvailableService>\r\n      <AvailableService>PersistentVMRole</AvailableService>\r\n      <AvailableService>HighMemory</AvailableService>\r\n    </AvailableServices>\r\n    <ComputeCapabilities>\r\n      <WebWorkerRoleSizes>\r\n        <RoleSize>A5</RoleSize>\r\n        <RoleSize>A6</RoleSize>\r\n        <RoleSize>A7</RoleSize>\r\n        <RoleSize>ExtraLarge</RoleSize>\r\n        <RoleSize>ExtraSmall</RoleSize>\r\n        <RoleSize>Large</RoleSize>\r\n        <RoleSize>Medium</RoleSize>\r\n        <RoleSize>Small</RoleSize>\r\n      </WebWorkerRoleSizes>\r\n      <VirtualMachinesRoleSizes>\r\n        <RoleSize>A5</RoleSize>\r\n        <RoleSize>A6</RoleSize>\r\n        <RoleSize>A7</RoleSize>\r\n        <RoleSize>ExtraLarge</RoleSize>\r\n        <RoleSize>ExtraSmall</RoleSize>\r\n        <RoleSize>Large</RoleSize>\r\n        <RoleSize>Medium</RoleSize>\r\n        <RoleSize>Small</RoleSize>\r\n      </VirtualMachinesRoleSizes>\r\n    </ComputeCapabilities>\r\n    <StorageCapabilities>\r\n      <StorageAccountTypes>\r\n        <StorageAccountType>Standard_LRS</StorageAccountType>\r\n        <StorageAccountType>Standard_ZRS</StorageAccountType>\r\n        <StorageAccountType>Standard_GRS</StorageAccountType>\r\n        <StorageAccountType>Standard_RAGRS</StorageAccountType>\r\n      </StorageAccountTypes>\r\n    </StorageCapabilities>\r\n  </Location>\r\n</Locations>",
      "ResponseHeaders": {
        "Content-Type": [
          "application/xml; charset=utf-8"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/d9ef59c8-34e2-4cea-91c5-b90c66adc055/services/storageservices",
      "RequestMethod": "POST",
      "RequestBody": "<CreateStorageServiceInput xmlns=\"http://schemas.microsoft.com/windowsazure\">\r\n  <ServiceName>teststorage9124</ServiceName>\r\n  <Description p2:nil=\"true\" xmlns:p2=\"http://www.w3.org/2001/XMLSchema-instance\" />\r\n  <Label>dGVzdHN0b3JhZ2U5MTI0</Label>\r\n  <Location>West US</Location>\r\n  <AccountType>Standard_LRS</AccountType>\r\n</CreateStorageServiceInput>",
      "RequestHeaders": {
        "Content-Type": [
          "application/xml"
        ],
        "x-ms-version": [
          "2014-10-01"
        ]
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "Location": [
          "https://137.116.176.138/subscriptions/d9ef59c8-34e2-4cea-91c5-b90c66adc055/storage/teststorage9124"
        ]
      },
      "StatusCode": 202
    },
    {
      "RequestUri": "/d9ef59c8-34e2-4cea-91c5-b90c66adc055/operations/de87648c51e2af92889c721b11f52db5",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2014-10-01"
        ]
      },
      "ResponseBody": "<Operation xmlns=\"http://schemas.microsoft.com/windowsazure\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n  <ID>de87648c-51e2-af92-889c-721b11f52db5</ID>\r\n  <Status>InProgress</Status>\r\n</Operation>",
      "ResponseHeaders": {
        "Content-Type": [
          "application/xml; charset=utf-8"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/d9ef59c8-34e2-4cea-91c5-b90c66adc055/operations/de87648c51e2af92889c721b11f52db5",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2014-10-01"
        ]
      },
      "ResponseBody": "<Operation xmlns=\"http://schemas.microsoft.com/windowsazure\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n  <ID>de87648c-51e2-af92-889c-721b11f52db5</ID>\r\n  <Status>Succeeded</Status>\r\n  <HttpStatusCode>200</HttpStatusCode>\r\n</Operation>",
      "ResponseHeaders": {
        "Content-Type": [
          "application/xml; charset=utf-8"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/d9ef59c8-34e2-4cea-91c5-b90c66adc055/services/hostedservices",
      "RequestMethod": "POST",
      "RequestBody": "<CreateHostedService xmlns=\"http://schemas.microsoft.com/windowsazure\">\r\n  <ServiceName>testsvc2399</ServiceName>\r\n  <Label>dGVzdHN2YzIzOTk=</Label>\r\n  <Location>West US</Location>\r\n</CreateHostedService>",
      "RequestHeaders": {
        "Content-Type": [
          "application/xml"
        ],
        "x-ms-version": [
          "2015-04-01"
        ]
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "Location": [
          "https://137.116.176.138/subscriptions/d9ef59c8-34e2-4cea-91c5-b90c66adc055/compute/testsvc2399"
        ]
      },
      "StatusCode": 201
    },
    {
      "RequestUri": "/d9ef59c8-34e2-4cea-91c5-b90c66adc055/services/storageservices/teststorage9124",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2014-10-01"
        ]
      },
      "ResponseBody": "<StorageService xmlns=\"http://schemas.microsoft.com/windowsazure\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n  <Url>https://137.116.176.138/d9ef59c8-34e2-4cea-91c5-b90c66adc055/services/storageservices/teststorage9124</Url>\r\n  <ServiceName>teststorage9124</ServiceName>\r\n  <StorageServiceProperties>\r\n    <Description i:nil=\"true\" />\r\n    <Location>West US</Location>\r\n    <Label>dGVzdHN0b3JhZ2U5MTI0</Label>\r\n    <Status>Created</Status>\r\n    <Endpoints>\r\n      <Endpoint>https://teststorage9124.blob.core.test-cint.azure-test.net/</Endpoint>\r\n      <Endpoint>https://teststorage9124.queue.core.test-cint.azure-test.net/</Endpoint>\r\n      <Endpoint>https://teststorage9124.table.core.test-cint.azure-test.net/</Endpoint>\r\n    </Endpoints>\r\n    <GeoPrimaryRegion>West US</GeoPrimaryRegion>\r\n    <StatusOfPrimary>Available</StatusOfPrimary>\r\n    <GeoSecondaryRegion />\r\n    <StatusOfSecondary />\r\n    <CreationTime>2015-02-09T08:52:59Z</CreationTime>\r\n    <CustomDomains />\r\n    <AccountType>Standard_LRS</AccountType>\r\n  </StorageServiceProperties>\r\n  <ExtendedProperties />\r\n  <Capabilities>\r\n    <Capability>PersistentVMRole</Capability>\r\n  </Capabilities>\r\n</StorageService>",
      "ResponseHeaders": {
        "Content-Type": [
          "application/xml; charset=utf-8"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/d9ef59c8-34e2-4cea-91c5-b90c66adc055/services/storageservices/teststorage9124/keys",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2014-10-01"
        ]
      },
      "ResponseBody": "<StorageService xmlns=\"http://schemas.microsoft.com/windowsazure\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n  <Url>https://137.116.176.138/d9ef59c8-34e2-4cea-91c5-b90c66adc055/services/storageservices/teststorage9124</Url>\r\n  <StorageServiceKeys>\r\n    <Primary>FZntV1tnIVZ83IWKqU3hMzTAi+4wnRdPZP7iOUKaH1mIHw46oWSjqnNKiZv6UF3HPKSg81oo5NWx8SMSBCON3A==</Primary>\r\n    <Secondary>nLICJJS0fgjPUTJ/QP4T2hrwH6ZujU5p5w2YzNluAOCaPIB1IDEuvBGlodnG3k3MI/gZud1TJPi+3CSIQi3SGw==</Secondary>\r\n  </StorageServiceKeys>\r\n</StorageService>",
      "ResponseHeaders": {
        "Content-Type": [
          "application/xml; charset=utf-8"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/d9ef59c8-34e2-4cea-91c5-b90c66adc055/services/hostedservices/testsvc2399/deploymentslots/Production",
      "RequestMethod": "POST",
      "RequestBody": "<CreateDeployment xmlns=\"http://schemas.microsoft.com/windowsazure\">\r\n  <Name>testsvc2399Prod</Name>\r\n  <PackageUrl>https://teststorage9124.blob.core.test-cint.azure-test.net/cspkg5168/OneWebOneWorker.cspkg</PackageUrl>\r\n  <Label>dGVzdHN2YzIzOTk=</Label>\r\n  <Configuration>PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0NCiAgKioqKioqKioqKioqKioqKioqKioqKioqKioqKioqKioqKioqKioqKioqKioqKioqKioqKioqKioqKioqKioqKioqKioqKioqKioqKioqKioqKioqKioqKioqKioqKg0KDQogIFRoaXMgZmlsZSB3YXMgZ2VuZXJhdGVkIGJ5IGEgdG9vbCBmcm9tIHRoZSBwcm9qZWN0IGZpbGU6IFNlcnZpY2VDb25maWd1cmF0aW9uLkNsb3VkLmNzY2ZnDQoNCiAgQ2hhbmdlcyB0byB0aGlzIGZpbGUgbWF5IGNhdXNlIGluY29ycmVjdCBiZWhhdmlvciBhbmQgd2lsbCBiZSBsb3N0IGlmIHRoZSBmaWxlIGlzIHJlZ2VuZXJhdGVkLg0KDQogICoqKioqKioqKioqKioqKioqKioqKioqKioqKioqKioq[...]
[...]
    {
      "RequestUri": "/d9ef59c8-34e2-4cea-91c5-b90c66adc055/services/hostedservices/testsvc2399/deployments/testsvc2399Prod",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2015-04-01"
        ]
      },
      "ResponseBody": "<Deployment xmlns=\"http://schemas.microsoft.com/windowsazure\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n  <Name>testsvc2399Prod</Name>\r\n  <DeploymentSlot>Production</DeploymentSlot>\r\n  <PrivateID>5e1de771569840cd8f25ed950bf8ab61</PrivateID>\r\n  <Status>Suspended</Status>\r\n  <Label>dGVzdHN2YzIzOTk=</Label>\r\n  <Url>http://testsvc2399.app.rdfetest.azure-bvt.com/</Url>\r\n  <Configuration>PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPCEtLQogICoqKioqKioqKioqKioqKioqKioqKioqKioqKioqKioqKioqKioqKioqKioqKioqKioqKioqKioqKioqKioqKioqKioqKioqKioqKioqKioqKioqKioqKioqKioqKioKCiAgVGhpcyBmaWxlIHdhcyBnZW5lcmF0ZWQgYnkgYSB0b29sIGZyb20gdGhlIHByb2plY3QgZmlsZTogU2VydmljZUNvbmZpZ3VyYXRpb24uQ2xvdWQ[...]
    {
      "RequestUri": "/d9ef59c8-34e2-4cea-91c5-b90c66adc055/services/networking/reservedips",
      "RequestMethod": "POST",
      "RequestBody": "<ReservedIP xmlns=\"http://schemas.microsoft.com/windowsazure\">\r\n  <Name>testrip8258</Name>\r\n  <Label>SampleReserveIPLabel</Label>\r\n  <Location>uswest</Location>\r\n</ReservedIP>",
      "RequestHeaders": {
        "Content-Type": [
          "application/xml"
        ],
        "x-ms-version": [
          "2015-02-01"
        ]
      },
      "ResponseBody": "",
      "ResponseHeaders": {
      },
      "StatusCode": 202
    },
[...]
    {
      "RequestUri": "/d9ef59c8-34e2-4cea-91c5-b90c66adc055/services/networking/reservedips/testrip8258",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2015-02-01"
        ]
      },
      "ResponseBody": "<ReservedIP xmlns=\"http://schemas.microsoft.com/windowsazure\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n  <Name>testrip8258</Name>\r\n  <Address>137.116.179.212</Address>\r\n  <Id>8d09353d-ed09-4536-9803-ea7dfc849c8e</Id>\r\n  <Label>SampleReserveIPLabel</Label>\r\n  <State>Created</State>\r\n  <Location>West US</Location>\r\n</ReservedIP>",
      "ResponseHeaders": {
        "Content-Type": [
          "application/xml; charset=utf-8"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/d9ef59c8-34e2-4cea-91c5-b90c66adc055/services/networking/reservedips/testrip8258",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2015-02-01"
        ]
      },
      "ResponseBody": "<ReservedIP xmlns=\"http://schemas.microsoft.com/windowsazure\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n  <Name>testrip8258</Name>\r\n  <Address>137.116.179.212</Address>\r\n  <Id>8d09353d-ed09-4536-9803-ea7dfc849c8e</Id>\r\n  <Label>SampleReserveIPLabel</Label>\r\n  <State>Created</State>\r\n  <InUse>true</InUse>\r\n  <ServiceName>testsvc2399</ServiceName>\r\n  <DeploymentName>testsvc2399Prod</DeploymentName>\r\n  <Location>West US</Location>\r\n</ReservedIP>",
      "ResponseHeaders": {
        "Content-Type": [
          "application/xml; charset=utf-8"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/d9ef59c8-34e2-4cea-91c5-b90c66adc055/services/networking/reservedips/testrip8258/operations/associate",
      "RequestMethod": "POST",
      "RequestBody": "<ReservedIPAssociation xmlns=\"http://schemas.microsoft.com/windowsazure\">\r\n  <ServiceName>testsvc2399</ServiceName>\r\n  <DeploymentName>testsvc2399Prod</DeploymentName>\r\n</ReservedIPAssociation>",
      "RequestHeaders": {
        "Content-Type": [
          "application/xml"
        ],
        "x-ms-version": [
          "2015-02-01"
        ]
      },
      "ResponseBody": "",
      "ResponseHeaders": {
      },
      "StatusCode": 202
    },
[...]
    {
      "RequestUri": "/d9ef59c8-34e2-4cea-91c5-b90c66adc055/services/networking/reservedips/testrip8258/operations/disassociate",
      "RequestMethod": "POST",
      "RequestBody": "<ReservedIPAssociation xmlns=\"http://schemas.microsoft.com/windowsazure\">\r\n  <ServiceName>testsvc2399</ServiceName>\r\n  <DeploymentName>testsvc2399Prod</DeploymentName>\r\n</ReservedIPAssociation>",
      "RequestHeaders": {
        "Content-Type": [
          "application/xml"
        ],
        "x-ms-version": [
          "2015-02-01"
        ]
      },
      "ResponseBody": "",
      "ResponseHeaders": {
      },
      "StatusCode": 202
    },
[...]
    {
      "RequestUri": "/d9ef59c8-34e2-4cea-91c5-b90c66adc055/services/hostedservices/testsvc2399?comp=media",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2015-04-01"
        ]
      },
      "ResponseBody": "",
      "ResponseHeaders": {
      },
      "StatusCode": 202
    },
[...]
    {
      "RequestUri": "/d9ef59c8-34e2-4cea-91c5-b90c66adc055/services/networking/media",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2015-02-01"
        ]
      },
      "ResponseBody": "<Error xmlns=\"http://schemas.microsoft.com/windowsazure\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n  <Code>ResourceNotFound</Code>\r\n  <Message>Network configuration does not exist.</Message>\r\n</Error>",
      "ResponseHeaders": {
        "Content-Type": [
          "application/xml; charset=utf-8"
        ]
      },
      "StatusCode": 404
    },
    {
      "RequestUri": "/d9ef59c8-34e2-4cea-91c5-b90c66adc055/services/networking/media",
      "RequestMethod": "PUT",
      "RequestBody": "<NetworkConfiguration xmlns=\"http://schemas.microsoft.com/ServiceHosting/2011/07/NetworkConfiguration\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n  <VirtualNetworkConfiguration></VirtualNetworkConfiguration>\r\n</NetworkConfiguration>",
      "RequestHeaders": {
        "Content-Type": [
          "application/octet-stream"
        ],
        "x-ms-version": [
          "2015-02-01"
        ]
      },
      "ResponseBody": "",
      "ResponseHeaders": {
      },
      "StatusCode": 202
    },
[...]
    {
      "RequestUri": "/d9ef59c8-34e2-4cea-91c5-b90c66adc055/operations/ab5c0e1c3bb7a039bb64e95492dccec9",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2015-02-01"
        ]
      },
      "ResponseBody": "<Operation xmlns=\"http://schemas.microsoft.com/windowsazure\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n  <ID>ab5c0e1c-3bb7-a039-bb64-e95492dccec9</ID>\r\n  <Status>Succeeded</Status>\r\n  <HttpStatusCode>200</HttpStatusCode>\r\n</Operation>",
      "ResponseHeaders": {
        "Content-Type": [
          "application/xml; charset=utf-8"
        ]
      },
      "StatusCode": 200
    }
  ],
  "Names": {
    "teststorage1234": [
      "teststorage9124"
    ],
    "TestDisassociateReserveIP": [
      "testsvc2399"
    ],
    "rip": [
      "testrip8258"
    ],
    "CreatePaaSDeployment": [
      "cspkg5168"
    ]
  },
  "Variables": {
    "SubscriptionId": "d9ef59c8-34e2-4cea-91c5-b90c66adc055"
  }
}