{
  "Entries": [
    {
      "RequestUri": "/119560de-0077-4c77-bfd0-b739e5b6aae2/locations",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2014-10-01"
        ]
      },
      "ResponseBody": "<Locations xmlns=\"http://schemas.microsoft.com/windowsazure\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n  <Location>\r\n    <Name>East US</Name>\r\n    <DisplayName>East US</DisplayName>\r\n    <AvailableServices>\r\n      <AvailableService>Compute</AvailableService>\r\n      <AvailableService>Storage</AvailableService>\r\n      <AvailableService>PersistentVMRole</AvailableService>\r\n      <AvailableService>HighMemory</AvailableService>\r\n    </AvailableServices>\r\n    <ComputeCapabilities>\r\n      <WebWorkerRoleSizes>\r\n        <RoleSize>A10</RoleSize>\r\n        <RoleSize>A11</RoleSize>\r\n        <RoleSize>A5</RoleSize>\r\n        <RoleSize>A6</RoleSize>\r\n        <RoleSize>A7</RoleSize>\r\n        <RoleSize>A8</RoleSize>\r\n        <RoleSize>A9</RoleSize>\r\n        <RoleSize>ExtraLarge</RoleSize>\r\n        <RoleSize>ExtraSmall</RoleSize>\r\n        <RoleSize>ExtraSmall_Internal</RoleSize>\r\n        <RoleSize>Large</RoleSize>\r\n        <RoleSize>Medium</RoleSize>\r\n        <RoleSize>Medium_Internal</RoleSize>\r\n        [...]
[...]
    {
      "RequestUri": "/119560de-0077-4c77-bfd0-b739e5b6aae2/services/storageservices",
      "RequestMethod": "POST",
      "RequestBody": "<CreateStorageServiceInput xmlns=\"http://schemas.microsoft.com/windowsazure\">\r\n  <ServiceName>teststorage5255</ServiceName>\r\n  <Description p2:nil=\"true\" xmlns:p2=\"http://www.w3.org/2001/XMLSchema-instance\" />\r\n  <Label>dGVzdHN0b3JhZ2U1MjU1</Label>\r\n  <Location>West Central US</Location>\r\n  <AccountType>Standard_LRS</AccountType>\r\n</CreateStorageServiceInput>",
      "RequestHeaders": {
        "Content-Type": [
          "application/xml"
        ],
        "x-ms-version": [
          "2014-10-01"
        ]
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "x-ms-servedbyregion": [
          "ussouth3"
        ],
        "Location": [
          "https://management.core.windows.net/subscriptions/119560de-0077-4c77-bfd0-b739e5b6aae2/storage/teststorage5255"
        ]
      },
      "StatusCode": 202
    },
    {
      "RequestUri": "/119560de-0077-4c77-bfd0-b739e5b6aae2/operations/c88d5966ae16721c8df20333a7081c95",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2014-10-01"
        ]
      },
      "ResponseBody": "<Operation xmlns=\"http://schemas.microsoft.com/windowsazure\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n  <ID>c88d5966-ae16-721c-8df2-0333a7081c95</ID>\r\n  <Status>InProgress</Status>\r\n</Operation>",
      "ResponseHeaders": {
        "Content-Type": [
          "application/xml; charset=utf-8"
        ],
        "x-ms-servedbyregion": [
          "ussouth3"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/119560de-0077-4c77-bfd0-b739e5b6aae2/operations/c88d5966ae16721c8df20333a7081c95",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2014-10-01"
        ]
      },
      "ResponseBody": "<Operation xmlns=\"http://schemas.microsoft.com/windowsazure\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n  <ID>c88d5966-ae16-721c-8df2-0333a7081c95</ID>\r\n  <Status>Succeeded</Status>\r\n  <HttpStatusCode>200</HttpStatusCode>\r\n</Operation>",
      "ResponseHeaders": {
        "Content-Type": [
          "application/xml; charset=utf-8"
        ],
        "x-ms-servedbyregion": [
          "ussouth3"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/119560de-0077-4c77-bfd0-b739e5b6aae2/services/hostedservices",
      "RequestMethod": "POST",
      "RequestBody": "<CreateHostedService xmlns=\"http://schemas.microsoft.com/windowsazure\">\r\n  <ServiceName>testsvc9462</ServiceName>\r\n  <Label>dGVzdHN2Yzk0NjI=</Label>\r\n  <Location>West Central US</Location>\r\n</CreateHostedService>",
      "RequestHeaders": {
        "Content-Type": [
          "application/xml"
        ],
        "x-ms-version": [
          "2015-04-01"
        ]
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "x-ms-servedbyregion": [
          "ussouth3"
        ],
        "Location": [
          "https://management.core.windows.net/subscriptions/119560de-0077-4c77-bfd0-b739e5b6aae2/compute/testsvc9462"
        ]
      },
      "StatusCode": 201
    },
    {
      "RequestUri": "/119560de-0077-4c77-bfd0-b739e5b6aae2/services/storageservices/teststorage5255",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2014-10-01"
        ]
      },
      "ResponseBody": "<StorageService xmlns=\"http://schemas.microsoft.com/windowsazure\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n  <Url>https://management.core.windows.net/119560de-0077-4c77-bfd0-b739e5b6aae2/services/storageservices/teststorage5255</Url>\r\n  <ServiceName>teststorage5255</ServiceName>\r\n  <StorageServiceProperties>\r\n    <Description i:nil=\"true\" />\r\n    <Location>West Central US</Location>\r\n    <Label>dGVzdHN0b3JhZ2U1MjU1</Label>\r\n    <Status>Created</Status>\r\n    <Endpoints>\r\n      <Endpoint>https://teststorage5255.blob.core.windows.net/</Endpoint>\r\n      <Endpoint>https://teststorage5255.queue.core.windows.net/</Endpoint>\r\n      <Endpoint>https://teststorage5255.table.core.windows.net/</Endpoint>\r\n      <Endpoint>https://teststorage5255.file.core.windows.net/</Endpoint>\r\n    </Endpoints>\r\n    <GeoPrimaryRegion>West Central US</GeoPrimaryRegion>\r\n    <StatusOfPrimary>Available</StatusOfPrimary>\r\n    <GeoSecondaryRegion />\r\n    <StatusOfSecondary />\r\n    <CreationTime>2017-03-28T22:15:24Z</CreationTime>\r\n    <CustomDomains />\r\n    <AccountType>Standard_LRS</AccountType>\r\n  </StorageServiceProperties>\r\n  <ExtendedProperties>\r\n    <ExtendedProperty>\r\n      <Name>ResourceGroup</Name>\r\n      <Value>Default-Storage-WestCentralUS</Value>\r\n    </ExtendedProperty>\r\n    <ExtendedProperty>\r\n      <Name>ResourceLocation</Name>\r\n      <Value>West Central US</Value>\r\n    </ExtendedProperty>\r\n  </ExtendedProperties>\r\n  <Capabilities>\r\n    <Capability>PersistentVMRole</Capability>\r\n  </Capabilities>\r\n</StorageService>",
      "ResponseHeaders": {
        "Content-Type": [
          "application/xml; charset=utf-8"
        ],
        "x-ms-servedbyregion": [
          "ussouth3"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/119560de-0077-4c77-bfd0-b739e5b6aae2/services/storageservices/teststorage5255/keys",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2014-10-01"
        ]
      },
      "ResponseBody": "<StorageService xmlns=\"http://schemas.microsoft.com/windowsazure\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n  <Url>https://management.core.windows.net/119560de-0077-4c77-bfd0-b739e5b6aae2/services/storageservices/teststorage5255</Url>\r\n  <StorageServiceKeys>\r\n    <Primary>wfIpdV8I+upJXututn1eWT8r+P4uxbju95rn1Dhxbp85srC3RvYesxd7DXhn694ybpUnDdhCWn3OUNR22Jlw+Q==</Primary>\r\n    <Secondary>xpbHUiH+65/UEPpDZHLSKTVOAWvJJWT8yJtPSIshqyahTnklhKPGXBTRsiomHXKNXExySe1yklcBTkDIPsnDiA==</Secondary>\r\n  </StorageServiceKeys>\r\n</StorageService>",
      "ResponseHeaders": {
        "Content-Type": [
          "application/xml; charset=utf-8"
        ],
        "x-ms-servedbyregion": [
          "ussouth3"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/119560de-0077-4c77-bfd0-b739e5b6aae2/services/hostedservices/testsvc9462/deploymentslots/Production",
      "RequestMethod": "POST",
      "RequestBody": "<CreateDeployment xmlns=\"http://schemas.microsoft.com/windowsazure\">\r\n  <Name>testsvc9462Prod</Name>\r\n  <PackageUrl>https://teststorage5255.blob.core.windows.net/cspkg8241/OneWebOneWorker.cspkg</PackageUrl>\r\n  <Label>dGVzdHN2Yzk0NjI=</Label>\r\n  <Configuration>PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0NCiAgKioqKioqKioqKioqKioqKioqKioqKioqKioqKioqKioqKioqKioqKioqKioqKioqKioqKioqKioqKioqKioqKioqKioqKioqKioqKioqKioqKioqKioqKioqKioqKg0KDQogIFRoaXMgZmlsZSB3YXMgZ2VuZXJhdGVkIGJ5IGEgdG9vbCBmcm9tIHRoZSBwcm9qZWN0IGZpbGU6IFNlcnZpY2VDb25maWd1cmF0aW9uLkNsb3VkLmNzY2ZnDQoNCiAgQ2hhbmdlcyB0byB0aGlzIGZpbGUgbWF5IGNhdXNlIGluY29ycmVjdCBiZWhhdmlvciBhbmQgd2lsbCBiZSBsb3N0IGlmIHRoZSBmaWxlIGlzIHJlZ2VuZXJhdGVkLg0KDQogICoqKioqKioqKioqKioqKioqKioqKioqKioqKioqKioq[...]
[...]
    {
      "RequestUri": "/119560de-0077-4c77-bfd0-b739e5b6aae2/services/hostedservices/testsvc9462/deployments/testsvc9462Prod",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2015-04-01"
        ]
      },
      "ResponseBody": "<Deployment xmlns=\"http://schemas.microsoft.com/windowsazure\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n  <Name>testsvc9462Prod</Name>\r\n  <DeploymentSlot>Production</DeploymentSlot>\r\n  <PrivateID>0e56750ae5e84c629329bf405d117dd5</PrivateID>\r\n  <Status>Running</Status>\r\n  <Label>dGVzdHN2Yzk0NjI=</Label>\r\n  <Url>http://testsvc9462.cloudapp.net/</Url>\r\n  <Configuration>PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPCEtLQogICoqKioqKioqKioqKioqKioqKioqKioqKioqKioqKioqKioqKioqKioqKioqKioqKioqKioqKioqKioqKioqKioqKioqKioqKioqKioqKioqKioqKioqKioqKioqKioKCiAgVGhpcyBmaWxlIHdhcyBnZW5lcmF0ZWQgYnkgYSB0b29sIGZyb20gdGhlIHByb2plY3QgZmlsZTogU2VydmljZUNvbmZpZ3VyYXRpb24uQ2xvdWQuY3NjZmcKCiAgQ2h[...]
    {
      "RequestUri": "/119560de-0077-4c77-bfd0-b739e5b6aae2/services/networking/reservedips",
      "RequestMethod": "POST",
      "RequestBody": "<ReservedIP xmlns=\"http://schemas.microsoft.com/windowsazure\">\r\n  <Name>testrip6968</Name>\r\n  <Label>SampleReserveIPLabel</Label>\r\n  <Location>West Central US</Location>\r\n  <IPTags>\r\n    <IPTag>\r\n      <IPTagType>FirstPartyUsage</IPTagType>\r\n      <Value>/tagTypes/SystemService/operators/Microsoft/platforms/Azure/services/Microsoft.AzureAD</Value>\r\n    </IPTag>\r\n  </IPTags>\r\n</ReservedIP>",
      "RequestHeaders": {
        "Content-Type": [
          "application/xml"
        ],
        "x-ms-version": [
          "2017-01-01"
        ]
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "x-ms-servedbyregion": [
          "ussouth3"
        ]
      },
      "StatusCode": 202
    },
[...]
    {
      "RequestUri": "/119560de-0077-4c77-bfd0-b739e5b6aae2/services/networking/reservedips/testrip6968",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2017-01-01"
        ]
      },
      "ResponseBody": "<ReservedIP xmlns=\"http://schemas.microsoft.com/windowsazure\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n  <Name>testrip6968</Name>\r\n  <Address>13.71.201.78</Address>\r\n  <Id>a354bf5b-d99d-4225-9806-28df35b0a89a</Id>\r\n  <Label>SampleReserveIPLabel</Label>\r\n  <State>Created</State>\r\n  <Location>West Central US</Location>\r\n  <IPTags>\r\n    <IPTag>\r\n      <IPTagType>FirstPartyUsage</IPTagType>\r\n      <Value>/tagTypes/SystemService/operators/Microsoft/platforms/Azure/services/Microsoft.AzureAD</Value>\r\n    </IPTag>\r\n  </IPTags>\r\n</ReservedIP>",
      "ResponseHeaders": {
        "Content-Type": [
          "application/xml; charset=utf-8"
        ],
        "x-ms-servedbyregion": [
          "ussouth3"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/119560de-0077-4c77-bfd0-b739e5b6aae2/services/networking/reservedips/testrip6968",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2017-01-01"
        ]
      },
      "ResponseBody": "<ReservedIP xmlns=\"http://schemas.microsoft.com/windowsazure\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n  <Name>testrip6968</Name>\r\n  <Address>13.71.201.78</Address>\r\n  <Id>a354bf5b-d99d-4225-9806-28df35b0a89a</Id>\r\n  <Label>SampleReserveIPLabel</Label>\r\n  <State>Created</State>\r\n  <InUse>true</InUse>\r\n  <ServiceName>testsvc9462</ServiceName>\r\n  <DeploymentName>testsvc9462Prod</DeploymentName>\r\n  <Location>West Central US</Location>\r\n  <VirtualIPName>OneWebOneWorkerContractContract</VirtualIPName>\r\n  <IPTags>\r\n    <IPTag>\r\n      <IPTagType>FirstPartyUsage</IPTagType>\r\n      <Value>/tagTypes/SystemService/operators/Microsoft/platforms/Azure/services/Microsoft.AzureAD</Value>\r\n    </IPTag>\r\n  </IPTags>\r\n</ReservedIP>",
      "ResponseHeaders": {
        "Content-Type": [
          "application/xml; charset=utf-8"
        ],
        "x-ms-servedbyregion": [
          "ussouth3"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/119560de-0077-4c77-bfd0-b739e5b6aae2/services/networking/reservedips/testrip6968/operations/associate",
      "RequestMethod": "POST",
      "RequestBody": "<ReservedIPAssociation xmlns=\"http://schemas.microsoft.com/windowsazure\">\r\n  <ServiceName>testsvc9462</ServiceName>\r\n  <DeploymentName>testsvc9462Prod</DeploymentName>\r\n</ReservedIPAssociation>",
      "RequestHeaders": {
        "Content-Type": [
          "application/xml"
        ],
        "x-ms-version": [
          "2017-01-01"
        ]
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "x-ms-servedbyregion": [
          "ussouth3"
        ]
      },
      "StatusCode": 202
    },
[...]
    {
      "RequestUri": "/119560de-0077-4c77-bfd0-b739e5b6aae2/services/hostedservices/testsvc9462?comp=media",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2015-04-01"
        ]
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "x-ms-servedbyregion": [
          "ussouth3"
        ]
      },
      "StatusCode": 202
    },
[...]
    {
      "RequestUri": "/119560de-0077-4c77-bfd0-b739e5b6aae2/services/networking/media",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2017-01-01"
        ]
      },
      "ResponseBody": "<Error xmlns=\"http://schemas.microsoft.com/windowsazure\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n  <Code>ResourceNotFound</Code>\r\n  <Message>Network configuration does not exist.</Message>\r\n</Error>",
      "ResponseHeaders": {
        "Content-Type": [
          "application/xml; charset=utf-8"
        ],
        "x-ms-servedbyregion": [
          "ussouth3"
        ]
      },
      "StatusCode": 404
    },
    {
      "RequestUri": "/119560de-0077-4c77-bfd0-b739e5b6aae2/services/networking/media",
      "RequestMethod": "PUT",
      "RequestBody": "<NetworkConfiguration xmlns=\"http://schemas.microsoft.com/ServiceHosting/2011/07/NetworkConfiguration\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n  <VirtualNetworkConfiguration></VirtualNetworkConfiguration>\r\n</NetworkConfiguration>",
      "RequestHeaders": {
        "Content-Type": [
          "application/octet-stream"
        ],
        "x-ms-version": [
          "2017-01-01"
        ]
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "x-ms-servedbyregion": [
          "ussouth3"
        ]
      },
      "StatusCode": 202
    },
[...]
    {
      "RequestUri": "/119560de-0077-4c77-bfd0-b739e5b6aae2/operations/1542dca3ee5179079b933433502be0a4",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2017-01-01"
        ]
      },
      "ResponseBody": "<Operation xmlns=\"http://schemas.microsoft.com/windowsazure\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n  <ID>1542dca3-ee51-7907-9b93-3433502be0a4</ID>\r\n  <Status>Succeeded</Status>\r\n  <HttpStatusCode>200</HttpStatusCode>\r\n</Operation>",
      "ResponseHeaders": {
        "Content-Type": [
          "application/xml; charset=utf-8"
        ],
        "x-ms-servedbyregion": [
          "ussouth3"
        ]
      },
      "StatusCode": 200
    }
  ],
  "Names": {
    "teststorage1234": [
      "teststorage5255"
    ],
    "TestAssociateReserveIP": [
      "testsvc9462"
    ],
    "rip": [
      "testrip6968"
    ],
    "CreatePaaSDeployment": [
      "cspkg8241"
    ]
  },
  "Variables": {
    "SubscriptionId": "119560de-0077-4c77-bfd0-b739e5b6aae2"
  }
}