{
  "Entries": [
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/distributionPolicies/F4415EA8B2C7AA906D8EE288981B28E04A03C1E0A69FCB7E14?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 05 Apr 2023 20:36:32 GMT"
      },
      "RequestBody": {
        "name": "test",
        "offerTtlSeconds": 600,
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00225900fff6-0000-0700-0000-642ddbd20000\u0022",
        "Last-Modified": "Wed, 05 Apr 2023 20:36:34 GMT",
        "trace-id": "d3442417-b41e-f848-bf72-23434796fe17"
      },
      "ResponseBody": {
        "id": "F4415EA8B2C7AA906D8EE288981B28E04A03C1E0A69FCB7E14",
        "name": "test",
        "offerTtlSeconds": 600,
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        }
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/queues/E0FBB5FEA6DA0F5DE6FC96EA6780E2E7CAE4D3B6BF2018D0D5?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 05 Apr 2023 20:36:33 GMT"
      },
      "RequestBody": {
        "name": "test",
        "distributionPolicyId": "F4415EA8B2C7AA906D8EE288981B28E04A03C1E0A69FCB7E14"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00220a00e6f1-0000-0700-0000-642ddbd20000\u0022",
        "Last-Modified": "Wed, 05 Apr 2023 20:36:34 GMT",
        "trace-id": "9c7ee198-826c-2b42-a46f-d038aa102505"
      },
      "ResponseBody": {
        "id": "E0FBB5FEA6DA0F5DE6FC96EA6780E2E7CAE4D3B6BF2018D0D5",
        "name": "test",
        "distributionPolicyId": "F4415EA8B2C7AA906D8EE288981B28E04A03C1E0A69FCB7E14",
        "labels": {
          "Id": "E0FBB5FEA6DA0F5DE6FC96EA6780E2E7CAE4D3B6BF2018D0D5"
        }
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/workers/872AFB73EA20CE84DED495E34F786EE8567DAB2FD6634F5127?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 05 Apr 2023 20:36:34 GMT"
      },
      "RequestBody": {
        "queueAssignments": {
          "E0FBB5FEA6DA0F5DE6FC96EA6780E2E7CAE4D3B6BF2018D0D5": {}
        },
        "totalCapacity": 1,
        "channelConfigurations": {
          "E11441D991793D96957AC34C8453DBFC069F59CF213901C122": {
            "capacityCostPerJob": 1
          }
        },
        "availableForOffers": true
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002200000001-0000-0000-6f37-e6721536db08\u0022",
        "Last-Modified": "Wed, 05 Apr 2023 20:36:35 GMT",
        "trace-id": "3a59b9eb-b523-9443-a32b-33c64dcc3924"
      },
      "ResponseBody": {
        "id": "872AFB73EA20CE84DED495E34F786EE8567DAB2FD6634F5127",
        "state": "active",
        "queueAssignments": {
          "E0FBB5FEA6DA0F5DE6FC96EA6780E2E7CAE4D3B6BF2018D0D5": {}
        },
        "totalCapacity": 1,
        "labels": {
          "Id": "872AFB73EA20CE84DED495E34F786EE8567DAB2FD6634F5127"
        },
        "tags": {},
        "channelConfigurations": {
          "E11441D991793D96957AC34C8453DBFC069F59CF213901C122": {
            "capacityCostPerJob": 1
          }
        },
        "offers": [],
        "assignedJobs": [],
        "loadRatio": 0,
        "availableForOffers": true
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/jobs/F90A67896641C4AC194787D664A895ABC077F2E47E0A2F562E?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 05 Apr 2023 20:36:34 GMT"
      },
      "RequestBody": {
        "channelId": "E11441D991793D96957AC34C8453DBFC069F59CF213901C122",
        "queueId": "E0FBB5FEA6DA0F5DE6FC96EA6780E2E7CAE4D3B6BF2018D0D5",
        "priority": 1,
        "requestedWorkerSelectors": [],
        "notes": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002200000000-0000-0000-69d1-3f731536db08\u0022",
        "Last-Modified": "Wed, 05 Apr 2023 20:36:35 GMT",
        "trace-id": "d9453fd1-acbb-2644-9278-7438519a6287"
      },
      "ResponseBody": {
        "id": "F90A67896641C4AC194787D664A895ABC077F2E47E0A2F562E",
        "jobStatus": "created",
        "channelId": "E11441D991793D96957AC34C8453DBFC069F59CF213901C122",
        "queueId": "E0FBB5FEA6DA0F5DE6FC96EA6780E2E7CAE4D3B6BF2018D0D5",
        "priority": 1,
        "requestedWorkerSelectors": [],
        "attachedWorkerSelectors": [],
        "labels": {},
        "assignments": {},
        "tags": {},
        "notes": {}
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/workers/872AFB73EA20CE84DED495E34F786EE8567DAB2FD6634F5127?api-version=2022-07-18-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 05 Apr 2023 20:36:37 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002200000003-0000-0000-bded-6c741536db08\u0022",
        "Last-Modified": "Wed, 05 Apr 2023 20:36:37 GMT",
        "trace-id": "d21488b2-bd4e-9948-9866-76bd289bd9fa"
      },
      "ResponseBody": {
        "id": "872AFB73EA20CE84DED495E34F786EE8567DAB2FD6634F5127",
        "state": "active",
        "queueAssignments": {
          "E0FBB5FEA6DA0F5DE6FC96EA6780E2E7CAE4D3B6BF2018D0D5": {}
        },
        "totalCapacity": 1,
        "labels": {
          "Id": "872AFB73EA20CE84DED495E34F786EE8567DAB2FD6634F5127"
        },
        "tags": {},
        "channelConfigurations": {
          "E11441D991793D96957AC34C8453DBFC069F59CF213901C122": {
            "capacityCostPerJob": 1
          }
        },
        "offers": [
          {
            "id": "240d58bf-eda2-40f8-bdec-6226b94e134e",
            "jobId": "F90A67896641C4AC194787D664A895ABC077F2E47E0A2F562E",
            "capacityCost": 1,
            "offerTimeUtc": "2023-04-05T20:36:37.8566045\u002B00:00",
            "expiryTimeUtc": "2023-04-05T20:46:37.856605\u002B00:00"
          }
        ],
        "assignedJobs": [],
        "loadRatio": 1,
        "availableForOffers": true
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/workers/872AFB73EA20CE84DED495E34F786EE8567DAB2FD6634F5127/offers/240d58bf-eda2-40f8-bdec-6226b94e134e:accept?api-version=2022-07-18-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 05 Apr 2023 20:36:37 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "trace-id": "62b91521-4a98-7841-a546-ee288c3fa8a5"
      },
      "ResponseBody": {
        "assignmentId": "cb9ec3d8-47c1-4d7e-8515-fab6d9d41f2c",
        "jobId": "F90A67896641C4AC194787D664A895ABC077F2E47E0A2F562E",
        "workerId": "872AFB73EA20CE84DED495E34F786EE8567DAB2FD6634F5127"
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/workers/872AFB73EA20CE84DED495E34F786EE8567DAB2FD6634F5127/offers/240d58bf-eda2-40f8-bdec-6226b94e134e:decline?api-version=2022-07-18-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 05 Apr 2023 20:36:38 GMT"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "trace-id": "7d2ed215-a31a-0643-abef-93035be9e978"
      },
      "ResponseBody": {
        "communicationError": {
          "code": "NotFound",
          "message": "Exception of type \u0027Microsoft.AzureCommunicationService.CCaaP.Infrastructure.Domain.Abstractions.Exceptions.NotFoundException\u0027 was thrown.",
          "target": "/routing/workers/872AFB73EA20CE84DED495E34F786EE8567DAB2FD6634F5127/offers/240d58bf-eda2-40f8-bdec-6226b94e134e:decline"
        }
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/jobs/F90A67896641C4AC194787D664A895ABC077F2E47E0A2F562E:complete?api-version=2022-07-18-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 05 Apr 2023 20:36:39 GMT"
      },
      "RequestBody": {
        "assignmentId": "cb9ec3d8-47c1-4d7e-8515-fab6d9d41f2c",
        "note": "Job completed by 872AFB73EA20CE84DED495E34F786EE8567DAB2FD6634F5127"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "trace-id": "c683e806-1e7b-cc47-a4d5-7491598dc5a3"
      },
      "ResponseBody": {}
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/jobs/F90A67896641C4AC194787D664A895ABC077F2E47E0A2F562E:close?api-version=2022-07-18-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 05 Apr 2023 20:36:39 GMT"
      },
      "RequestBody": {
        "assignmentId": "cb9ec3d8-47c1-4d7e-8515-fab6d9d41f2c",
        "closeTime": "0001-01-01T00:00:00.0000000Z",
        "note": "Job closed by 872AFB73EA20CE84DED495E34F786EE8567DAB2FD6634F5127"
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "trace-id": "41974441-2861-e241-aea4-bb000d4aeb88"
      },
      "ResponseBody": {}
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/jobs/F90A67896641C4AC194787D664A895ABC077F2E47E0A2F562E?api-version=2022-07-18-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 05 Apr 2023 20:36:40 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002200000004-0000-0000-a337-12761536db08\u0022",
        "Last-Modified": "Wed, 05 Apr 2023 20:36:40 GMT",
        "trace-id": "81de3ed1-c0c2-b44a-a7bf-32e717170869"
      },
      "ResponseBody": {
        "id": "F90A67896641C4AC194787D664A895ABC077F2E47E0A2F562E",
        "jobStatus": "closed",
        "enqueueTimeUtc": "2023-04-05T20:36:36.4466109\u002B00:00",
        "channelId": "E11441D991793D96957AC34C8453DBFC069F59CF213901C122",
        "queueId": "E0FBB5FEA6DA0F5DE6FC96EA6780E2E7CAE4D3B6BF2018D0D5",
        "priority": 1,
        "dispositionCode": "Closed",
        "requestedWorkerSelectors": [],
        "attachedWorkerSelectors": [],
        "labels": {},
        "assignments": {
          "cb9ec3d8-47c1-4d7e-8515-fab6d9d41f2c": {
            "id": "cb9ec3d8-47c1-4d7e-8515-fab6d9d41f2c",
            "workerId": "872AFB73EA20CE84DED495E34F786EE8567DAB2FD6634F5127",
            "assignTime": "2023-04-05T20:36:39.1176513\u002B00:00",
            "completeTime": "2023-04-05T20:36:40.1921166\u002B00:00",
            "closeTime": "2023-04-05T20:36:40.6175651\u002B00:00"
          }
        },
        "tags": {},
        "notes": {
          "2023-04-05T20:36:40.1921166\u002B00:00": "Job completed by 872AFB73EA20CE84DED495E34F786EE8567DAB2FD6634F5127",
          "2023-04-05T20:36:40.6175651\u002B00:00": "Job closed by 872AFB73EA20CE84DED495E34F786EE8567DAB2FD6634F5127"
        }
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://sanitized.communication.azure.com/;accesskey=Kg==",
    "id-prefix": "sdk-EnfCSYn-U0uqt62w_Sznew-",
    "RandomSeed": "1811904312"
  }
}
