{
  "Entries": [
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/distributionPolicies/A22DA7A0DD7B2F527BBAB917C3219719234DB9B9A74924A011?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 16 Jun 2023 20:57:07 GMT"
      },
      "RequestBody": {
        "name": "test",
        "offerExpiresAfterSeconds": 600,
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002271011211-0000-0700-0000-648ccca20000\u0022",
        "Last-Modified": "Fri, 16 Jun 2023 20:57:06 GMT",
        "trace-id": "239d8591-000f-64a1-5a8f-4e98756fb57f"
      },
      "ResponseBody": {
        "id": "A22DA7A0DD7B2F527BBAB917C3219719234DB9B9A74924A011",
        "name": "test",
        "offerExpiresAfterSeconds": 600,
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        }
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/queues/9011FEB4387B2477C4A88C8F5CA647AE9A20AAF65A854CEB8F?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 16 Jun 2023 20:57:08 GMT"
      },
      "RequestBody": {
        "name": "test",
        "distributionPolicyId": "A22DA7A0DD7B2F527BBAB917C3219719234DB9B9A74924A011"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00220800c24b-0000-0700-0000-648ccca20000\u0022",
        "Last-Modified": "Fri, 16 Jun 2023 20:57:06 GMT",
        "trace-id": "f8f8a025-be73-78e7-05ce-1b0c780ffcbb"
      },
      "ResponseBody": {
        "id": "9011FEB4387B2477C4A88C8F5CA647AE9A20AAF65A854CEB8F",
        "name": "test",
        "distributionPolicyId": "A22DA7A0DD7B2F527BBAB917C3219719234DB9B9A74924A011",
        "labels": {
          "Id": "9011FEB4387B2477C4A88C8F5CA647AE9A20AAF65A854CEB8F"
        }
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/workers/C1D1FCC641058935F567D9A213D20EC090062C0FE84C4A7D7B?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 16 Jun 2023 20:57:09 GMT"
      },
      "RequestBody": {
        "queueAssignments": {
          "9011FEB4387B2477C4A88C8F5CA647AE9A20AAF65A854CEB8F": {}
        },
        "totalCapacity": 1,
        "channelConfigurations": {
          "AF719BE8F72F135AF29F562281AEA5534B9EBE0968F7E69C04": {
            "capacityCostPerJob": 1
          }
        },
        "availableForOffers": true
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002200000001-0000-0000-bf8a-823eac6edb08\u0022",
        "Last-Modified": "Fri, 16 Jun 2023 20:57:06 GMT",
        "trace-id": "38d435ec-eceb-455c-ff79-3126233ebd9c"
      },
      "ResponseBody": {
        "id": "C1D1FCC641058935F567D9A213D20EC090062C0FE84C4A7D7B",
        "state": "active",
        "queueAssignments": {
          "9011FEB4387B2477C4A88C8F5CA647AE9A20AAF65A854CEB8F": {}
        },
        "totalCapacity": 1,
        "labels": {
          "Id": "C1D1FCC641058935F567D9A213D20EC090062C0FE84C4A7D7B"
        },
        "tags": {},
        "channelConfigurations": {
          "AF719BE8F72F135AF29F562281AEA5534B9EBE0968F7E69C04": {
            "capacityCostPerJob": 1
          }
        },
        "offers": [],
        "assignedJobs": [],
        "loadRatio": 0,
        "availableForOffers": true
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/jobs/91C04E28F1EBC4626E7F1EA9581385D3A422A72DE2B7BCA7C8?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 16 Jun 2023 20:57:09 GMT"
      },
      "RequestBody": {
        "channelId": "AF719BE8F72F135AF29F562281AEA5534B9EBE0968F7E69C04",
        "queueId": "9011FEB4387B2477C4A88C8F5CA647AE9A20AAF65A854CEB8F",
        "priority": 1,
        "requestedWorkerSelectors": [],
        "notes": {}
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002200000000-0000-0000-bf52-ad3eac6edb08\u0022",
        "Last-Modified": "Fri, 16 Jun 2023 20:57:06 GMT",
        "trace-id": "1fe75d60-644a-5e6b-0325-535f26fba1f2"
      },
      "ResponseBody": {
        "id": "91C04E28F1EBC4626E7F1EA9581385D3A422A72DE2B7BCA7C8",
        "status": "created",
        "channelId": "AF719BE8F72F135AF29F562281AEA5534B9EBE0968F7E69C04",
        "queueId": "9011FEB4387B2477C4A88C8F5CA647AE9A20AAF65A854CEB8F",
        "priority": 1,
        "requestedWorkerSelectors": [],
        "attachedWorkerSelectors": [],
        "labels": {},
        "assignments": {},
        "tags": {},
        "notes": {},
        "unavailableForMatching": false
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/workers/C1D1FCC641058935F567D9A213D20EC090062C0FE84C4A7D7B?api-version=2022-07-18-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 16 Jun 2023 20:57:10 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002200000003-0000-0000-bf31-083fac6edb08\u0022",
        "Last-Modified": "Fri, 16 Jun 2023 20:57:07 GMT",
        "trace-id": "bee93430-83e1-5029-ea77-49ca4cd39786"
      },
      "ResponseBody": {
        "id": "C1D1FCC641058935F567D9A213D20EC090062C0FE84C4A7D7B",
        "state": "active",
        "queueAssignments": {
          "9011FEB4387B2477C4A88C8F5CA647AE9A20AAF65A854CEB8F": {}
        },
        "totalCapacity": 1,
        "labels": {
          "Id": "C1D1FCC641058935F567D9A213D20EC090062C0FE84C4A7D7B"
        },
        "tags": {},
        "channelConfigurations": {
          "AF719BE8F72F135AF29F562281AEA5534B9EBE0968F7E69C04": {
            "capacityCostPerJob": 1
          }
        },
        "offers": [
          {
            "offerId": "070ba1dd-4121-451d-83a8-58f32b9369dc",
            "jobId": "91C04E28F1EBC4626E7F1EA9581385D3A422A72DE2B7BCA7C8",
            "capacityCost": 1,
            "offeredAt": "2023-06-16T20:57:07.3988711\u002B00:00",
            "expiresAt": "2023-06-16T21:07:07.3988714\u002B00:00"
          }
        ],
        "assignedJobs": [],
        "loadRatio": 1,
        "availableForOffers": true
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/workers/C1D1FCC641058935F567D9A213D20EC090062C0FE84C4A7D7B/offers/070ba1dd-4121-451d-83a8-58f32b9369dc:accept?api-version=2022-07-18-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 16 Jun 2023 20:57:10 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "trace-id": "2133dbc3-58d4-6b7b-069b-11af763e0e6d"
      },
      "ResponseBody": {
        "assignmentId": "ab1113a6-0fb3-4729-800a-629f77917e19",
        "jobId": "91C04E28F1EBC4626E7F1EA9581385D3A422A72DE2B7BCA7C8",
        "workerId": "C1D1FCC641058935F567D9A213D20EC090062C0FE84C4A7D7B"
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/workers/C1D1FCC641058935F567D9A213D20EC090062C0FE84C4A7D7B/offers/070ba1dd-4121-451d-83a8-58f32b9369dc:decline?api-version=2022-07-18-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 16 Jun 2023 20:57:11 GMT"
      },
      "RequestBody": {
        "retryOfferAt": "0001-01-01T00:00:00.0000000Z"
      },
      "StatusCode": 404,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "trace-id": "37063235-5abe-165a-632d-5e6da321d803"
      },
      "ResponseBody": {
        "communicationError": {
          "code": "NotFound",
          "message": "DeclineOfferCommandHandler: Offer not found. OfferId: 070ba1dd-4121-451d-83a8-58f32b9369dc, WorkerId: C1D1FCC641058935F567D9A213D20EC090062C0FE84C4A7D7B",
          "target": "/routing/workers/C1D1FCC641058935F567D9A213D20EC090062C0FE84C4A7D7B/offers/070ba1dd-4121-451d-83a8-58f32b9369dc:decline"
        }
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/jobs/91C04E28F1EBC4626E7F1EA9581385D3A422A72DE2B7BCA7C8:complete?api-version=2022-07-18-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 16 Jun 2023 20:57:11 GMT"
      },
      "RequestBody": {
        "assignmentId": "ab1113a6-0fb3-4729-800a-629f77917e19",
        "note": "Job completed by C1D1FCC641058935F567D9A213D20EC090062C0FE84C4A7D7B"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "trace-id": "f7f20e1f-5f89-7256-69b7-2b6897663df9"
      },
      "ResponseBody": {}
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/jobs/91C04E28F1EBC4626E7F1EA9581385D3A422A72DE2B7BCA7C8:close?api-version=2022-07-18-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 16 Jun 2023 20:57:11 GMT"
      },
      "RequestBody": {
        "assignmentId": "ab1113a6-0fb3-4729-800a-629f77917e19",
        "closeAt": "0001-01-01T00:00:00.0000000Z",
        "note": "Job closed by C1D1FCC641058935F567D9A213D20EC090062C0FE84C4A7D7B"
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "trace-id": "7a246770-4199-104d-707e-deb8f06860d1"
      },
      "ResponseBody": {}
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/jobs/91C04E28F1EBC4626E7F1EA9581385D3A422A72DE2B7BCA7C8?api-version=2022-07-18-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 16 Jun 2023 20:57:13 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002200000004-0000-0000-1974-4040ac6edb08\u0022",
        "Last-Modified": "Fri, 16 Jun 2023 20:57:09 GMT",
        "trace-id": "9519ffe5-cfda-f31c-1646-780c3ebc399f"
      },
      "ResponseBody": {
        "id": "91C04E28F1EBC4626E7F1EA9581385D3A422A72DE2B7BCA7C8",
        "status": "closed",
        "enqueuedAt": "2023-06-16T20:57:06.9918414\u002B00:00",
        "channelId": "AF719BE8F72F135AF29F562281AEA5534B9EBE0968F7E69C04",
        "queueId": "9011FEB4387B2477C4A88C8F5CA647AE9A20AAF65A854CEB8F",
        "priority": 1,
        "dispositionCode": "Closed",
        "requestedWorkerSelectors": [],
        "attachedWorkerSelectors": [],
        "labels": {},
        "assignments": {
          "ab1113a6-0fb3-4729-800a-629f77917e19": {
            "assignmentId": "ab1113a6-0fb3-4729-800a-629f77917e19",
            "workerId": "C1D1FCC641058935F567D9A213D20EC090062C0FE84C4A7D7B",
            "assignedAt": "2023-06-16T20:57:08.3601745\u002B00:00",
            "completedAt": "2023-06-16T20:57:09.2210926\u002B00:00",
            "closedAt": "2023-06-16T20:57:09.4453273\u002B00:00"
          }
        },
        "tags": {},
        "notes": {
          "2023-06-16T20:57:09.2210926\u002B00:00": "Job completed by C1D1FCC641058935F567D9A213D20EC090062C0FE84C4A7D7B",
          "2023-06-16T20:57:09.4453273\u002B00:00": "Job closed by C1D1FCC641058935F567D9A213D20EC090062C0FE84C4A7D7B"
        },
        "unavailableForMatching": false
      }
    },
    {
      "RequestUri": "https://rsarkar-sdktest.int.communication.azure.net/routing/distributionPolicies/A22DA7A0DD7B2F527BBAB917C3219719234DB9B9A74924A011?api-version=2022-07-18-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "HMAC-SHA256 SignedHeaders=x-ms-date;host;x-ms-content-sha256\u0026Signature=IKxDipa5VLOSB6dBevvqC6\u002BlHriQMMV15rOyDHecRJY=",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002B/TImW\u002B5JCeuQeRkm5NMpJWZG3hSuFU=",
        "x-ms-date": "Fri, 16 Jun 2023 20:57:13 GMT"
      },
      "RequestBody": null,
      "StatusCode": 400,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "trace-id": "03af232d-0d4e-fc6f-ad81-0fdb120d0fd5"
      },
      "ResponseBody": {
        "communicationError": {
          "code": "BadRequest",
          "message": "One or more validation errors occurred.",
          "target": "/routing/distributionPolicies/A22DA7A0DD7B2F527BBAB917C3219719234DB9B9A74924A011",
          "details": [
            {
              "code": "QueueExistsWithDistributionPolicy",
              "message": "There is a queue with this distribution policy"
            }
          ]
        }
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://sanitized.communication.azure.com/;accesskey=Kg==",
    "id-prefix": "sdk-BMDsQ1RlXE-MQTH1Qu9mBg-",
    "RandomSeed": "1947008685"
  }
}
