{"Entries": [{"RequestUri": "//keys/UpdateKeyAttributesTest/create?api-version=7.0", "EncodedRequestUri": "Ly9rZXlzL1VwZGF0ZUtleUF0dHJpYnV0ZXNUZXN0L2NyZWF0ZT9hcGktdmVyc2lvbj03LjA=", "RequestMethod": "POST", "RequestBody": "{\r\n  \"kty\": \"RSA\",\r\n  \"key_size\": 2048,\r\n  \"key_ops\": [\r\n    \"encrypt\",\r\n    \"decrypt\",\r\n    \"sign\",\r\n    \"verify\",\r\n    \"wrapKey\",\r\n    \"unwrapKey\"\r\n  ]\r\n}", "RequestHeaders": {"Content-Type": ["application/json; charset=utf-8"], "Content-Length": ["156"], "x-ms-client-request-id": ["d89e660c-d504-42fe-9aa6-81049d861efc"], "accept-language": ["en-US"], "User-Agent": ["FxVersion/4.6.25009.03", "Microsoft.Azure.KeyVault.KeyVaultClient/2.2.1-preview"]}, "ResponseBody": "{\r\n  \"key\": {\r\n    \"kid\": \"https://kv-sdk-test.vault-int.azure-int.net/keys/UpdateKeyAttributesTest/3d31e6e5c4c14eaf9be8d42c00225088\",\r\n    \"kty\": \"RSA\",\r\n    \"key_ops\": [\r\n      \"encrypt\",\r\n      \"decrypt\",\r\n      \"sign\",\r\n      \"verify\",\r\n      \"wrapKey\",\r\n      \"unwrapKey\"\r\n    ],\r\n    \"n\": \"tHCSyq1FqGHXIFHs1m4riKYgPFNSTlJGPzxwfUyZJUxxZsFWMxmZRzbM3kcXC5N40AJfeqDOMs0gY0LZEfhw8kJHBf2GEH2Sz923E4OQjLk_ECdAiKPW_8t22cqD_pGIuB7uibjLZgFFRv7oe0t8cTXKn7IwAH5gQBLs8NNV7hx1Ozy82ekCgOovFldmD3c3P1oZQ_v_-jOP6O202aEfDcZut42J6zI8eYwvGiDKmo2fCPPeth1LYBOeUMnrEZGT_f_w3yAgqvuSkHCL0x4MjZzc2EoNI_3ooAHZohDaPHLRfz8neDPADZzbHA6SDn3GgvC1K_Je5GBmqjTH3aIMlw\",\r\n    \"e\": \"AQAB\"\r\n  },\r\n  \"attributes\": {\r\n    \"enabled\": true,\r\n    \"created\": 1493860275,\r\n    \"updated\": 1493860275,\r\n    \"recoverylevel\": \"Recoverable+Purgeable\"\r\n  }\r\n}", "ResponseHeaders": {"Content-Length": ["677"], "Content-Type": ["application/json; charset=utf-8"], "Expires": ["-1"], "Cache-Control": ["no-cache"], "Date": ["Thu, 04 May 2017 01:11:15 GMT"], "Pragma": ["no-cache"], "Server": ["Microsoft-IIS/8.5"], "x-ms-keyvault-region": ["eastus2"], "x-ms-request-id": ["06e350d1-54e4-4ccb-9f86-8fae76d90d56"], "x-ms-keyvault-service-version": ["1.0.0.1184"], "X-AspNet-Version": ["4.0.30319"], "X-Powered-By": ["ASP.NET"], "Strict-Transport-Security": ["max-age=31536000;includeSubDomains"], "X-Content-Type-Options": ["nosniff"]}, "StatusCode": 200}, {"RequestUri": "//keys/UpdateKeyAttributesTest/create?api-version=7.0", "EncodedRequestUri": "Ly9rZXlzL1VwZGF0ZUtleUF0dHJpYnV0ZXNUZXN0L2NyZWF0ZT9hcGktdmVyc2lvbj03LjA=", "RequestMethod": "POST", "RequestBody": "{\r\n  \"kty\": \"RSA\",\r\n  \"key_size\": 2048,\r\n  \"key_ops\": [\r\n    \"encrypt\",\r\n    \"decrypt\",\r\n    \"sign\",\r\n    \"verify\",\r\n    \"wrapKey\",\r\n    \"unwrapKey\"\r\n  ]\r\n}", "RequestHeaders": {"Content-Type": ["application/json; charset=utf-8"], "Content-L[...]
