{
  "Entries": [
    {
      "RequestUri": "https://azs-net-heathsrchtst.search.windows.net/indexes(\u0027omcjubbl\u0027)/search.analyze?api-version=2019-05-06-Preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "api-key": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "text": "The quick brown fox jumped over the lazy dog.",
        "tokenizer": "whitespace"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal",
        "elapsed-time": "6",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\u0022*\u0022"
      },
      "ResponseBody": {
        "@odata.context": "https://azs-net-heathsrchtst.search.windows.net/$metadata#Microsoft.Azure.Search.V2019_05_06_Preview.AnalyzeResult",
        "tokens": [
          {
            "token": "The",
            "startOffset": 0,
            "endOffset": 3,
            "position": 0
          },
          {
            "token": "quick",
            "startOffset": 4,
            "endOffset": 9,
            "position": 1
          },
          {
            "token": "brown",
            "startOffset": 10,
            "endOffset": 15,
            "position": 2
          },
          {
            "token": "fox",
            "startOffset": 16,
            "endOffset": 19,
            "position": 3
          },
          {
            "token": "jumped",
            "startOffset": 20,
            "endOffset": 26,
            "position": 4
          },
          {
            "token": "over",
            "startOffset": 27,
            "endOffset": 31,
            "position": 5
          },
          {
            "token": "the",
            "startOffset": 32,
            "endOffset": 35,
            "position": 6
          },
          {
            "token": "lazy",
            "startOffset": 36,
            "endOffset": 40,
            "position": 7
          },
          {
            "token": "dog.",
            "startOffset": 41,
            "endOffset": 45,
            "position": 8
          }
        ]
      }
    }
  ],
  "Variables": {
    "RandomSeed": "197061334",
    "SearchIndexName": "omcjubbl",
    "SEARCH_ADMIN_API_KEY": "Sanitized",
    "SEARCH_SERVICE_NAME": "azs-net-heathsrchtst"
  }
}