{
  "Entries": [
    {
      "RequestUri": "https://mohitc-acs.search.windows.net/indexes(\u0027tpddmcms\u0027)/search.analyze?api-version=2021-04-30-Preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "api-key": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "text": "I dARe YoU tO reAd It IN A nORmAl vOiCE.",
        "normalizer": "lowercase"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal",
        "elapsed-time": "10",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\u0022*\u0022"
      },
      "ResponseBody": {
        "@odata.context": "https://mohitc-acs.search.windows.net/$metadata#Microsoft.Azure.Search.V2021_04_30_Preview.AnalyzeResult",
        "tokens": [
          {
            "token": "i dare you to read it in a normal voice.",
            "startOffset": 0,
            "endOffset": 40,
            "position": 0
          }
        ]
      }
    },
    {
      "RequestUri": "https://mohitc-acs.search.windows.net/indexes(\u0027tpddmcms\u0027)/search.analyze?api-version=2021-04-30-Preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "api-key": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "text": "Item \u2460 in my \u247D point rant is that 75\u2070F is uncomfortably warm.",
        "normalizer": "asciifolding"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal",
        "elapsed-time": "5",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\u0022*\u0022"
      },
      "ResponseBody": {
        "@odata.context": "https://mohitc-acs.search.windows.net/$metadata#Microsoft.Azure.Search.V2021_04_30_Preview.AnalyzeResult",
        "tokens": [
          {
            "token": "Item 1 in my (10) point rant is that 750F is uncomfortably warm.",
            "startOffset": 0,
            "endOffset": 61,
            "position": 0
          }
        ]
      }
    }
  ],
  "Variables": {
    "RandomSeed": "199832624",
    "SearchIndexName": "tpddmcms",
    "SEARCH_ADMIN_API_KEY": "Sanitized",
    "SEARCH_ENDPOINT_SUFFIX": null,
    "SEARCH_SERVICE_NAME": "mohitc-acs"
  }
}