{
  "Entries": [
    {
      "RequestUri": "https://azs-net-heathsrchtst.search.windows.net/synonymmaps?api-version=2020-06-30",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "api-key": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "vsluedsr",
        "format": "solr",
        "synonyms": "msft=\u003EMicrosoft"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal",
        "elapsed-time": "30",
        "ETag": "W/\u00220x8D81999CBE57DE1\u0022",
        "Location": "https://azs-net-heathsrchtst.search.windows.net/synonymmaps(\u0027vsluedsr\u0027)?api-version=2020-06-30",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\u0022*\u0022"
      },
      "ResponseBody": {
        "@odata.context": "https://azs-net-heathsrchtst.search.windows.net/$metadata#synonymmaps/$entity",
        "@odata.etag": "\u00220x8D81999CBE57DE1\u0022",
        "name": "vsluedsr",
        "format": "solr",
        "synonyms": "msft=\u003EMicrosoft",
        "encryptionKey": null
      }
    },
    {
      "RequestUri": "https://azs-net-heathsrchtst.search.windows.net/synonymmaps(\u0027vsluedsr\u0027)?api-version=2020-06-30",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "api-key": "Sanitized",
        "Content-Type": "application/json",
        "If-Match": "\u00220x8D81999CBE57DE1\u0022",
        "Prefer": "return=representation"
      },
      "RequestBody": {
        "name": "vsluedsr",
        "format": "solr",
        "synonyms": "ms,msft=\u003EMicrosoft",
        "@odata.etag": "\u00220x8D81999CBE57DE1\u0022"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal",
        "elapsed-time": "66",
        "ETag": "W/\u00220x8D81999CBFE3A81\u0022",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\u0022*\u0022"
      },
      "ResponseBody": {
        "@odata.context": "https://azs-net-heathsrchtst.search.windows.net/$metadata#synonymmaps/$entity",
        "@odata.etag": "\u00220x8D81999CBFE3A81\u0022",
        "name": "vsluedsr",
        "format": "solr",
        "synonyms": "ms,msft=\u003EMicrosoft",
        "encryptionKey": null
      }
    },
    {
      "RequestUri": "https://azs-net-heathsrchtst.search.windows.net/synonymmaps(\u0027vsluedsr\u0027)?api-version=2020-06-30",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "api-key": "Sanitized",
        "Content-Type": "application/json",
        "If-Match": "\u00220x8D81999CBE57DE1\u0022",
        "Prefer": "return=representation"
      },
      "RequestBody": {
        "name": "vsluedsr",
        "format": "solr",
        "synonyms": "ms,msft=\u003EMicrosoft",
        "@odata.etag": "\u00220x8D81999CBE57DE1\u0022"
      },
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Language": "en",
        "Content-Type": "application/json; odata.metadata=minimal",
        "elapsed-time": "9",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\u0022*\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "",
          "message": "The precondition given in one of the request headers evaluated to false. No change was made to the resource from this request."
        }
      }
    },
    {
      "RequestUri": "https://azs-net-heathsrchtst.search.windows.net/synonymmaps?$select=name\u0026api-version=2020-06-30",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal",
        "elapsed-time": "90",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\u0022*\u0022"
      },
      "ResponseBody": {
        "@odata.context": "https://azs-net-heathsrchtst.search.windows.net/$metadata#synonymmaps(name)",
        "value": [
          {
            "name": "vsluedsr"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://azs-net-heathsrchtst.search.windows.net/synonymmaps(\u0027vsluedsr\u0027)?api-version=2020-06-30",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "api-key": "Sanitized",
        "If-Match": "\u00220x8D81999CBFE3A81\u0022"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "elapsed-time": "33"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1266633341",
    "SearchIndexName": "josgoidr",
    "SEARCH_ADMIN_API_KEY": "Sanitized",
    "SEARCH_SERVICE_NAME": "azs-net-heathsrchtst"
  }
}