{
  "Entries": [
    {
      "RequestUri": "https://azs-net-morphgyq.search.windows.net/indexes(\u0027ylirgsqk\u0027)/docs/$count?api-version=2019-05-06-Preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "text/plain",
        "elapsed-time": "4",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\u0022*\u0022"
      },
      "ResponseBody": "\uFEFF10"
    }
  ],
  "Variables": {
    "RandomSeed": "1772541862",
    "SearchIndexName": "ylirgsqk",
    "SearchServiceName": "azs-net-morphgyq"
  }
}