{
  "Entries": [
    {
      "RequestUri": "https://mohitc-acs.search.windows.net/indexes?$select=name\u0026api-version=2020-06-30",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal",
        "elapsed-time": "35",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\u0022*\u0022"
      },
      "ResponseBody": {
        "@odata.context": "https://mohitc-acs.search.windows.net/$metadata#indexes(name)",
        "value": [
          {
            "name": "apqpjvpu"
          },
          {
            "name": "fcmqouqy"
          },
          {
            "name": "flwamvwo"
          },
          {
            "name": "hmmcnwrd"
          },
          {
            "name": "kwslcraq"
          },
          {
            "name": "lrvfegpj"
          },
          {
            "name": "mbqvlxmt"
          },
          {
            "name": "nrmhcgbe"
          },
          {
            "name": "pjfwhgmj"
          },
          {
            "name": "rchjcfxp"
          },
          {
            "name": "rvhlhfqb"
          },
          {
            "name": "sixfvebm"
          },
          {
            "name": "sxlsgnhl"
          },
          {
            "name": "tsuiexnx"
          },
          {
            "name": "uakwykfd"
          },
          {
            "name": "unyraeil"
          },
          {
            "name": "upriywvl"
          },
          {
            "name": "uyfipsil"
          },
          {
            "name": "vsorndid"
          },
          {
            "name": "wgkunoqs"
          },
          {
            "name": "wqvovvop"
          },
          {
            "name": "xbnnrmdi"
          }
        ]
      }
    }
  ],
  "Variables": {
    "RandomSeed": "1187297176",
    "SearchIndexName": "mbqvlxmt",
    "SEARCH_ADMIN_API_KEY": "Sanitized",
    "SEARCH_ENDPOINT_SUFFIX": null,
    "SEARCH_SERVICE_NAME": "mohitc-acs"
  }
}