{
  "Entries": [
    {
      "RequestUri": "https://azs-net-t0eeade0124fbb432.search.windows.net/indexes?api-version=2023-07-01-Preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "api-key": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "nunfngmr",
        "fields": [
          {
            "name": "id",
            "type": "Edm.String",
            "key": true,
            "retrievable": true,
            "searchable": false,
            "filterable": false,
            "sortable": false,
            "facetable": false
          },
          {
            "name": "title",
            "type": "Edm.String",
            "key": false,
            "retrievable": true,
            "searchable": true,
            "filterable": true,
            "sortable": false,
            "facetable": false
          }
        ],
        "scoringProfiles": [
          {
            "name": "wvdoomws",
            "text": {
              "weights": {
                "title": 2
              }
            }
          }
        ],
        "defaultScoringProfile": "wvdoomws"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal; odata.streaming=true; charset=utf-8",
        "elapsed-time": "664",
        "ETag": "\u00220x8DB502676C6D41E\u0022",
        "Location": "https://azs-net-t0eeade0124fbb432.search.windows.net/indexes(\u0027nunfngmr\u0027)?api-version=2023-07-01-Preview",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\u0022*\u0022"
      },
      "ResponseBody": {
        "@odata.context": "https://azs-net-t0eeade0124fbb432.search.windows.net/$metadata#indexes/$entity",
        "@odata.etag": "\u00220x8DB502676C6D41E\u0022",
        "name": "nunfngmr",
        "defaultScoringProfile": "wvdoomws",
        "fields": [
          {
            "name": "id",
            "type": "Edm.String",
            "searchable": false,
            "filterable": false,
            "retrievable": true,
            "sortable": false,
            "facetable": false,
            "key": true,
            "indexAnalyzer": null,
            "searchAnalyzer": null,
            "analyzer": null,
            "normalizer": null,
            "dimensions": null,
            "vectorSearchConfiguration": null,
            "synonymMaps": []
          },
          {
            "name": "title",
            "type": "Edm.String",
            "searchable": true,
            "filterable": true,
            "retrievable": true,
            "sortable": false,
            "facetable": false,
            "key": false,
            "indexAnalyzer": null,
            "searchAnalyzer": null,
            "analyzer": null,
            "normalizer": null,
            "dimensions": null,
            "vectorSearchConfiguration": null,
            "synonymMaps": []
          }
        ],
        "scoringProfiles": [
          {
            "name": "wvdoomws",
            "functionAggregation": null,
            "text": {
              "weights": {
                "title": 2.0
              }
            },
            "functions": []
          }
        ],
        "corsOptions": null,
        "suggesters": [],
        "analyzers": [],
        "normalizers": [],
        "tokenizers": [],
        "tokenFilters": [],
        "charFilters": [],
        "encryptionKey": null,
        "similarity": {
          "@odata.type": "#Microsoft.Azure.Search.BM25Similarity",
          "k1": null,
          "b": null
        },
        "semantic": null,
        "vectorSearch": null
      }
    },
    {
      "RequestUri": "https://azs-net-t0eeade0124fbb432.search.windows.net/indexes(\u0027nunfngmr\u0027)?api-version=2023-07-01-Preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "elapsed-time": "175",
        "Preference-Applied": "odata.include-annotations=\u0022*\u0022"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "113821496",
    "SearchIndexName": "nunfngmr",
    "SEARCH_ADMIN_API_KEY": "Sanitized",
    "SEARCH_ENDPOINT_SUFFIX": "search.windows.net",
    "SEARCH_SERVICE_NAME": "azs-net-t0eeade0124fbb432"
  }
}
