{
  "Entries": [
    {
      "RequestUri": "https://mohitc-acs.search.windows.net/indexes?api-version=2020-06-30",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "api-key": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "psetyxxt",
        "fields": [
          {
            "name": "id",
            "type": "Edm.String",
            "key": true,
            "retrievable": true,
            "searchable": false,
            "filterable": false,
            "sortable": false,
            "facetable": false
          },
          {
            "name": "title",
            "type": "Edm.String",
            "key": false,
            "retrievable": true,
            "searchable": true,
            "filterable": true,
            "sortable": false,
            "facetable": false
          }
        ],
        "scoringProfiles": [
          {
            "name": "atqhwpvc",
            "text": {
              "weights": {
                "title": 2
              }
            }
          }
        ],
        "defaultScoringProfile": "atqhwpvc"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal",
        "elapsed-time": "610",
        "ETag": "W/\u00220x8D8F1504112BAFE\u0022",
        "Location": "https://mohitc-acs.search.windows.net/indexes(\u0027psetyxxt\u0027)?api-version=2020-06-30",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\u0022*\u0022"
      },
      "ResponseBody": {
        "@odata.context": "https://mohitc-acs.search.windows.net/$metadata#indexes/$entity",
        "@odata.etag": "\u00220x8D8F1504112BAFE\u0022",
        "name": "psetyxxt",
        "defaultScoringProfile": "atqhwpvc",
        "fields": [
          {
            "name": "id",
            "type": "Edm.String",
            "searchable": false,
            "filterable": false,
            "retrievable": true,
            "sortable": false,
            "facetable": false,
            "key": true,
            "indexAnalyzer": null,
            "searchAnalyzer": null,
            "analyzer": null,
            "synonymMaps": []
          },
          {
            "name": "title",
            "type": "Edm.String",
            "searchable": true,
            "filterable": true,
            "retrievable": true,
            "sortable": false,
            "facetable": false,
            "key": false,
            "indexAnalyzer": null,
            "searchAnalyzer": null,
            "analyzer": null,
            "synonymMaps": []
          }
        ],
        "scoringProfiles": [
          {
            "name": "atqhwpvc",
            "functionAggregation": null,
            "text": {
              "weights": {
                "title": 2.0
              }
            },
            "functions": []
          }
        ],
        "corsOptions": null,
        "suggesters": [],
        "analyzers": [],
        "tokenizers": [],
        "tokenFilters": [],
        "charFilters": [],
        "encryptionKey": null,
        "similarity": {
          "@odata.type": "#Microsoft.Azure.Search.BM25Similarity",
          "k1": null,
          "b": null
        }
      }
    },
    {
      "RequestUri": "https://mohitc-acs.search.windows.net/indexes(\u0027psetyxxt\u0027)?api-version=2020-06-30",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "elapsed-time": "169"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1609538893",
    "SearchIndexName": "psetyxxt",
    "SEARCH_ADMIN_API_KEY": "Sanitized",
    "SEARCH_ENDPOINT_SUFFIX": null,
    "SEARCH_SERVICE_NAME": "mohitc-acs"
  }
}