{
  "Entries": [
    {
      "RequestUri": "https://shreja-search-service.search.windows.net/indexes?api-version=2021-04-30-Preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "api-key": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "siyvrrnu",
        "fields": [
          {
            "name": "hotelId",
            "type": "Edm.String",
            "key": true,
            "retrievable": true,
            "searchable": false,
            "filterable": true,
            "sortable": true,
            "facetable": true
          },
          {
            "name": "hotelName",
            "type": "Edm.String",
            "key": false,
            "retrievable": true,
            "searchable": true,
            "filterable": true,
            "sortable": true,
            "facetable": false
          },
          {
            "name": "description",
            "type": "Edm.String",
            "key": false,
            "retrievable": true,
            "searchable": true,
            "filterable": false,
            "sortable": false,
            "facetable": false,
            "analyzer": "en.lucene"
          },
          {
            "name": "descriptionFr",
            "type": "Edm.String",
            "key": false,
            "retrievable": true,
            "searchable": true,
            "filterable": false,
            "sortable": false,
            "facetable": false,
            "analyzer": "fr.lucene"
          },
          {
            "name": "category",
            "type": "Edm.String",
            "key": false,
            "retrievable": true,
            "searc[...]
    {
      "RequestUri": "https://shreja-search-service.search.windows.net/indexes(\u0027siyvrrnu\u0027)?allowIndexDowntime=true\u0026api-version=2021-04-30-Preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "api-key": "Sanitized",
        "Content-Type": "application/json",
        "If-Match": "\u00220x8DA604D52F306AA\u0022",
        "Prefer": "return=representation"
      },
      "RequestBody": {
        "name": "siyvrrnu",
        "fields": [
          {
            "name": "hotelId",
            "type": "Edm.String",
            "key": true,
            "retrievable": true,
            "searchable": false,
            "filterable": true,
            "sortable": true,
            "facetable": true,
            "synonymMaps": []
          },
          {
            "name": "hotelName",
            "type": "Edm.String",
            "key": false,
            "retrievable": true,
            "searchable": true,
            "filterable": true,
            "sortable": true,
            "facetable": false,
            "synonymMaps": []
          },
          {
            "name": "description",
            "type": "Edm.String",
            "key": false,
            "retrievable": true,
            "searchable": true,
    [...]
    {
      "RequestUri": "https://shreja-search-service.search.windows.net/indexes(\u0027siyvrrnu\u0027)?api-version=2021-04-30-Preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "elapsed-time": "410"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1292821620",
    "SearchIndexName": "siyvrrnu",
    "SEARCH_ADMIN_API_KEY": "Sanitized",
    "SEARCH_ENDPOINT_SUFFIX": null,
    "SEARCH_SERVICE_NAME": "shreja-search-service"
  }
}
