{
  "Entries": [
    {
      "RequestUri": "https://azs-net-heathsrchtst.search.windows.net/indexes?api-version=2019-05-06-Preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "api-key": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "ptbgbued",
        "fields": [
          {
            "name": "hotelId",
            "type": "Edm.String",
            "key": true,
            "retrievable": true,
            "searchable": false,
            "filterable": true,
            "sortable": true,
            "facetable": true
          },
          {
            "name": "hotelName",
            "type": "Edm.String",
            "key": false,
            "retrievable": true,
            "searchable": true,
            "filterable": true,
            "sortable": true,
            "facetable": false
          },
          {
            "name": "description",
            "type": "Edm.String",
            "key": false,
            "retrievable": true,
            "searchable": true,
            "filterable": false,
            "sortable": false,
            "facetable": false,
            "analyzer": "en.lucene"
          },
          {
            "name": "descriptionFr",
            "type": "Edm.String",
            "key": false,
            "retrievable": true,
            "searchable": true,
            "filterable": false,
            "sortable": false,
            "facetable": false,
            "analyzer": "fr.lucene"
          },
          {
            "name": "category",
            "type": "Edm.String",
            "key": false,
            "retrievable": true,
            "searc[...]
    {
      "RequestUri": "https://azs-net-heathsrchtst.search.windows.net/indexes(\u0027ptbgbued\u0027)?allowIndexDowntime=true\u0026api-version=2019-05-06-Preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "api-key": "Sanitized",
        "Content-Type": "application/json",
        "If-Match": "\u00220x8D8079E42686F6C\u0022",
        "Prefer": "return=representation"
      },
      "RequestBody": {
        "name": "ptbgbued",
        "fields": [
          {
            "name": "hotelId",
            "type": "Edm.String",
            "key": true,
            "retrievable": true,
            "searchable": false,
            "filterable": true,
            "sortable": true,
            "facetable": true
          },
          {
            "name": "hotelName",
            "type": "Edm.String",
            "key": false,
            "retr[...]
    {
      "RequestUri": "https://azs-net-heathsrchtst.search.windows.net/indexes(\u0027ptbgbued\u0027)?api-version=2019-05-06-Preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "elapsed-time": "526"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1669853055",
    "SearchIndexName": "ptbgbued",
    "SEARCH_ADMIN_API_KEY": "Sanitized",
    "SEARCH_SERVICE_NAME": "azs-net-heathsrchtst"
  }
}