{
  "Entries": [
    {
      "RequestUri": "/qnamaker/v4.0/endpointkeys",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": [
          "7afcaa16ba1747328eb7a77de8316445"
        ]
      },
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"primaryEndpointKey\": \"9e0f6780-def9-4f40-ab87-7493951c2c50\",\r\n  \"secondaryEndpointKey\": \"313c263a-8544-4179-8a26-2daa9e65a4c2\",\r\n  \"installedVersion\": \"5.45.0\",\r\n  \"lastStableVersion\": \"5.45.0\",\r\n  \"language\": \"English\"\r\n}",
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {}
}