{
  "Entries": [
    {
      "RequestUri": "/subscriptions/111c36dc-4047-4c69-acd5-301072ff1fc2/resourcegroups?api-version=2015-11-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/111c36dc-4047-4c69-acd5-301072ff1fc2/resourceGroups/111c36dc-4047-4c69-acd5-301072ff1fc2\",\r\n      \"name\": \"111c36dc-4047-4c69-acd5-301072ff1fc2\",\r\n      \"location\": \"southcentralus\",\r\n      \"properties\": {\r\n        \"provisioningState\": \"Succeeded\"\r\n      }\r\n    },\r\n    {\r\n      \"id\": \"/subscriptions/111c36dc-4047-4c69-acd5-301072ff1fc2/resourceGroups/aftest\",\r\n      \"name\": \"aftest\",\r\n      \"location\": \"southcentralus\",\r\n      \"properties\": {\r\n        \"provisioningState\": \"Succeeded\"\r\n      }\r\n    },\r\n    {\r\n      \"id\": \"/subscriptions/111c36dc-4047-4c69-acd5-301072ff1fc2/resourceGroups/Api-Default-North-Central-US\",\r\n      \"name\": \"Api-Default-North-Central-US\",\r\n      [...]
    {
      "RequestUri": "/subscriptions/111c36dc-4047-4c69-acd5-301072ff1fc2/resourcegroups/TestRg-NH2642?api-version=2015-11-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"South Central US\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/111c36dc-4047-4c69-acd5-301072ff1fc2/resourceGroups/TestRg-NH2642\",\r\n  \"name\": \"TestRg-NH2642\",\r\n  \"location\": \"southcentralus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ]
      },
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/111c36dc-4047-4c69-acd5-301072ff1fc2/resourceGroups/TestRg-NH2642/providers/Microsoft.NotificationHubs/namespaces/HydraNH-Namespace8400?api-version=2016-03-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"South Central US\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/111c36dc-4047-4c69-acd5-301072ff1fc2/resourceGroups/TestRg-NH2642/providers/Microsoft.NotificationHubs/namespaces/HydraNH-Namespace8400\",\r\n  \"name\": \"HydraNH-Namespace8400\",\r\n  \"type\": \"Microsoft.NotificationHubs/namespaces\",\r\n  \"location\": \"South Central US\",\r\n  \"kind\": \"NotificationHub\",\r\n  \"tags\": {},\r\n  \"properties\": {\r\n    \"provisioningState\": \"Unknown\",\r\n    \"metricId\": null,\r\n    \"enabled\": false,\r\n    \"namespaceType\": \"NotificationHub\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Server-SB": [
          "Service-Bus-Resource-Provider/SN1"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1198"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/111c36dc-4047-4c69-acd5-301072ff1fc2/resourceGroups/TestRg-NH2642/providers/Microsoft.NotificationHubs/namespaces/HydraNH-Namespace8400?api-version=2016-03-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/111c36dc-4047-4c69-acd5-301072ff1fc2/resourceGroups/TestRg-NH2642/providers/Microsoft.NotificationHubs/namespaces/HydraNH-Namespace8400\",\r\n  \"name\": \"HydraNH-Namespace8400\",\r\n  \"type\": \"Microsoft.NotificationHubs/namespaces\",\r\n  \"location\": \"South Central US\",\r\n  \"kind\": \"NotificationHub\",\r\n  \"sku\": {\r\n    \"name\": \"Free\"\r\n  },\r\n  \"tags\": {},\r\n  \"properties\": {\r\n    \"provisioningState\": \"Activating\",\r\n    \"metricId\": null,\r\n    \"status\": \"Created\",\r\n    \"createdAt\": \"2016-09-22T01:49:32.89Z\",\r\n    \"serviceBusEndpoint\": \"https://HydraNH-Namespace8400.servicebus.windows.net:443/\",\r\n    \"enabled\": true,\r\n    \"critical\": false,\r\n    \"scaleUnit\": \"SN1-001\",\r\n    \"dataCenter\": \"SN1\",\r\n    \"updatedAt\": \"2016-09-22T01:49:32.89Z\",\r\n    \"namespaceType\": \"NotificationHub\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Server-SB": [
          "Service-Bus-Resource-Provider/SN1"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14992"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/111c36dc-4047-4c69-acd5-301072ff1fc2/resourceGroups/TestRg-NH2642/providers/Microsoft.NotificationHubs/namespaces/HydraNH-Namespace8400/notificationHubs/HydraNH-NotificationHub5409?api-version=2016-03-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"South Central US\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/111c36dc-4047-4c69-acd5-301072ff1fc2/resourceGroups/TestRg-NH2642/providers/Microsoft.NotificationHubs/namespaces/HydraNH-Namespace8400/notificationHubs/HydraNH-NotificationHub5409\",\r\n  \"name\": \"HydraNH-NotificationHub5409\",\r\n  \"type\": \"Microsoft.NotificationHubs/namespaces/notificationHubs\",\r\n  \"location\": \"South Central US\",\r\n  \"tags\": null,\r\n  \"properties\": {\r\n    \"registrationTtl\": \"10675199.02:48:05.4775807\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Server-SB": [
          "Service-Bus-Resource-Provider/SN1"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1197"
        ]
      },
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/111c36dc-4047-4c69-acd5-301072ff1fc2/resourceGroups/TestRg-NH2642/providers/Microsoft.NotificationHubs/namespaces/HydraNH-Namespace8400/notificationHubs/HydraNH-NotificationHub5409/AuthorizationRules/HydraNH-Authrules1060?api-version=2016-03-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"rights\": [\r\n      \"Listen\",\r\n      \"Send\"\r\n    ]\r\n  },\r\n  \"location\": \"South Central US\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/111c36dc-4047-4c69-acd5-301072ff1fc2/resourceGroups/TestRg-NH2642/providers/Microsoft.NotificationHubs/namespaces/HydraNH-Namespace8400/notificationHubs/HydraNH-NotificationHub5409/AuthorizationRules/HydraNH-Authrules1060\",\r\n  \"name\": \"HydraNH-Authrules1060\",\r\n  \"type\": \"Microsoft.NotificationHubs/namespaces/notificationHubs/authorizationRules\",\r\n  \"location\": null,\r\n  \"tags\": null,\r\n  \"properties\": {\r\n    \"rights\": [\r\n      \"Listen\",\r\n      \"Send\"\r\n    ]\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Server-SB": [
          "Service-Bus-Resource-Provider/SN1"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1196"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/111c36dc-4047-4c69-acd5-301072ff1fc2/resourceGroups/TestRg-NH2642/providers/Microsoft.NotificationHubs/namespaces/HydraNH-Namespace8400/notificationHubs/HydraNH-NotificationHub5409/AuthorizationRules/HydraNH-Authrules1060?api-version=2016-03-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"message\": \"The requested resource HydraNH-Authrules1060 does not exist.\",\r\n    \"code\": \"NotFound\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Server-SB": [
          "Service-Bus-Resource-Provider/SN1"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14756"
        ]
      },
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/111c36dc-4047-4c69-acd5-301072ff1fc2/resourceGroups/TestRg-NH2642/providers/Microsoft.NotificationHubs/namespaces/HydraNH-Namespace8400/notificationHubs/HydraNH-NotificationHub5409/AuthorizationRules?api-version=2016-03-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/111c36dc-4047-4c69-acd5-301072ff1fc2/resourceGroups/TestR[...]
    {
      "RequestUri": "/subscriptions/111c36dc-4047-4c69-acd5-301072ff1fc2/resourceGroups/TestRg-NH2642/providers/Microsoft.NotificationHubs/namespaces/HydraNH-Namespace8400/notificationHubs/HydraNH-NotificationHub5409/AuthorizationRules/HydraNH-Authrules1060/listKeys?api-version=2016-03-01",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"primaryConnectionString\": \"Endpoint=sb://hydranh-namespace8400.servicebus.windows.net/;SharedAccessKeyName=HydraNH-Authrules1060;SharedAccessKey=KsSmsxmn0H5R5Z0aJQjJ7R40XdKOoTfAD9dTGWu+m1k=\",\r\n  \"secondaryConnectionString\": \"Endpoint=sb://hydranh-namespace8400.servicebus.windows.net/;SharedAccessKeyName=HydraNH-Authrules1060;SharedAccessKey=abUIAGuDLqdoosgKy1xmywYbRlWpgP7DLm97rZIPQ+I=\",\r\n  \"primaryKey\": \"KsSmsxmn0H5R5Z0aJQjJ7R40XdKOoTfAD9dTGWu+m1k=\",\r\n  \"secondaryKey\": \"abUIAGuDLqdoosgKy1xmywYbRlWpgP7DLm97rZIPQ+I=\",\r\n  \"keyName\": \"HydraNH-Authrules1060\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Server-SB": [
          "Service-Bus-Resource-Provider/SN1"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1194"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/111c36dc-4047-4c69-acd5-301072ff1fc2/resourceGroups/TestRg-NH2642/providers/Microsoft.NotificationHubs/namespaces/HydraNH-Namespace8400/notificationHubs/HydraNH-NotificationHub5409/AuthorizationRules/HydraNH-Authrules1060/regenerateKeys?api-version=2016-03-01",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"policyKey\": \"primary KEY\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"primaryConnectionString\": \"Endpoint=sb://hydranh-namespace8400.servicebus.windows.net/;SharedAccessKeyName=HydraNH-Authrules1060;SharedAccessKey=Gx8BqqZIo5ovwpAQhylKJybuQl8p2sImyeqmy4x4ZO8=;EntityPath=HydraNH-NotificationHub5409\",\r\n  \"secondaryConnectionString\": \"Endpoint=sb://hydranh-namespace8400.servicebus.windows.net/;SharedAccessKeyName=HydraNH-Authrules1060;SharedAccessKey=abUIAGuDLqdoosgKy1xmywYbRlWpgP7DLm97rZIPQ+I=;EntityPath=HydraNH-NotificationHub5409\",\r\n  \"primaryKey\": \"Gx8BqqZIo5ovwpAQhylKJybuQl8p2sImyeqmy4x4ZO8=\",\r\n  \"secondaryKey\": \"abUIAGuDLqdoosgKy1xmywYbRlWpgP7DLm97rZIPQ+I=\",\r\n  \"keyName\": \"HydraNH-Authrules1060\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Server-SB": [
          "Service-Bus-Resource-Provider/SN1"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1193"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/111c36dc-4047-4c69-acd5-301072ff1fc2/resourceGroups/TestRg-NH2642/providers/Microsoft.NotificationHubs/namespaces/HydraNH-Namespace8400?api-version=2016-03-01",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/111c36dc-4047-4c69-acd5-301072ff1fc2/providers/Microsoft.NotificationHubs/operationresults/HydraNH-Namespace8400?api-version=2016-03-01"
        ],
        "Server-SB": [
          "Service-Bus-Resource-Provider/SN1"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1190"
        ]
      },
      "StatusCode": 202
    },
    {
      "RequestUri": "/subscriptions/111c36dc-4047-4c69-acd5-301072ff1fc2/providers/Microsoft.NotificationHubs/operationresults/HydraNH-Namespace8400?api-version=2016-03-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"id\": \"subscriptions/111c36dc40474c69acd5301072ff1fc2/operationsStatus/HydraNH-Namespace8400\",\r\n  \"name\": \"HydraNH-Namespace8400\",\r\n  \"status\": \"Completed\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Server-SB": [
          "Service-Bus-Resource-Provider/SN1"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14755"
        ]
      },
      "StatusCode": 200
    }
  ],
  "Names": {
    "NotificationHubCreateGetUpdateDeleteAuthorizationRules": [
      "TestRg-NH2642",
      "HydraNH-Namespace8400",
      "HydraNH-NotificationHub5409",
      "HydraNH-Authrules1060"
    ]
  },
  "Variables": {
    "SubscriptionId": "111c36dc-4047-4c69-acd5-301072ff1fc2",
    "CreatePrimaryKey": "et6kdhD2d23KCWRaoT462LYbBMFTAHGWgRPIcYywZUs="
  }
}