{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "TagKey-9823": "TagValue-1254",
          "TagKey-3481": "TagValue-320",
          "TagKey-4926": "TagValue-1187",
          "TagKey-751": "TagValue-3921",
          "TagKey-1866": "TagValue-8559",
          "TagKey-3094": "TagValue-9190",
          "TagKey-2449": "TagValue-9",
          "TagKey-8379": "TagValue-164",
          "TagKey-7470": "TagValue-2205",
          "TagKey-4236": "TagValue-3698",
          "TagKey-5316": "TagValue-2725"
        },
        "subscriptionId": "db1ab6f0-4769-4b27-930e-01e2ef9c123c",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": ".NET Mgmt SDK Test with TTL = 1 Day",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourcegroups/testRG-4893?api-version=**",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {
          "test": "env"
        },
        "location": "eastus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-4893",
        "name": "testRG-4893",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus",
        "tags": {
          "test": "env"
        },
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-4893/providers/Microsoft.HealthBot/healthBots/healthbot-9543?api-version=2021-08-24",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "sku": {
          "name": "F0"
        },
        "tags": {},
        "location": "eastus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/providers/Microsoft.HealthBot/locations/EASTUS/operationStatuses/6cab74b9-4686-47fa-ade7-90a2806479c3*2E7C85B6EE5E3A21FA108C05EB736C0DCCEF5CAAA83E1256CEA4ABEA80A9F198?api-version=2021-08-24",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00228f06a408-0000-0100-0000-64ae74b70000\u0022",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-writes": "1198"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-4893/providers/Microsoft.HealthBot/healthBots/healthbot-9543",
        "name": "healthbot-9543",
        "type": "microsoft.healthbot/healthbots",
        "sku": {
          "name": "F0"
        },
        "location": "eastus",
        "tags": {},
        "systemData": {
          "createdBy": "8e6d47e0-7969-4fde-a62c-4fea4f165e98",
          "createdByType": "Application",
          "createdAt": "2023-07-12T09:39:00.9935312Z",
          "lastModifiedBy": "8e6d47e0-7969-4fde-a62c-4fea4f165e98",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2023-07-12T09:39:00.9935312Z"
        },
        "properties": {
          "provisioningState": "Accepted"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/providers/Microsoft.HealthBot/locations/EASTUS/operationStatuses/6cab74b9-4686-47fa-ade7-90a2806479c3*2E7C85B6EE5E3A21FA108C05EB736C0DCCEF5CAAA83E1256CEA4ABEA80A9F198?api-version=2021-08-24",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00227705491a-0000-0100-0000-64ae74b70000\u0022",
        "x-ms-ratelimit-remaining-tenant-reads": "11999"
      },
      "ResponseBody": {
        "id": "/providers/Microsoft.HealthBot/locations/EASTUS/operationStatuses/6cab74b9-4686-47fa-ade7-90a2806479c3*2E7C85B6EE5E3A21FA108C05EB736C0DCCEF5CAAA83E1256CEA4ABEA80A9F198",
        "name": "6cab74b9-4686-47fa-ade7-90a2806479c3*2E7C85B6EE5E3A21FA108C05EB736C0DCCEF5CAAA83E1256CEA4ABEA80A9F198",
        "resourceId": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-4893/providers/Microsoft.HealthBot/healthBots/healthbot-9543",
        "status": "Working",
        "startTime": "2023-07-12T09:39:02.5351244Z"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/providers/Microsoft.HealthBot/locations/EASTUS/operationStatuses/6cab74b9-4686-47fa-ade7-90a2806479c3*2E7C85B6EE5E3A21FA108C05EB736C0DCCEF5CAAA83E1256CEA4ABEA80A9F198?api-version=2021-08-24",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00227705761f-0000-0100-0000-64ae74dc0000\u0022",
        "x-ms-ratelimit-remaining-tenant-reads": "11991"
      },
      "ResponseBody": {
        "id": "/providers/Microsoft.HealthBot/locations/EASTUS/operationStatuses/6cab74b9-4686-47fa-ade7-90a2806479c3*2E7C85B6EE5E3A21FA108C05EB736C0DCCEF5CAAA83E1256CEA4ABEA80A9F198",
        "name": "6cab74b9-4686-47fa-ade7-90a2806479c3*2E7C85B6EE5E3A21FA108C05EB736C0DCCEF5CAAA83E1256CEA4ABEA80A9F198",
        "resourceId": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-4893/providers/Microsoft.HealthBot/healthBots/healthbot-9543",
        "status": "Succeeded",
        "startTime": "2023-07-12T09:39:02.5351244Z",
        "endTime": "2023-07-12T09:39:40.5053723Z",
        "properties": null
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-4893/providers/Microsoft.HealthBot/healthBots/healthbot-9543?api-version=2021-08-24",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00228f068d09-0000-0100-0000-64ae74dc0000\u0022",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-reads": "11998"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-4893/providers/Microsoft.HealthBot/healthBots/healthbot-9543",
        "name": "healthbot-9543",
        "type": "microsoft.healthbot/healthbots",
        "sku": {
          "name": "F0"
        },
        "location": "eastus",
        "tags": {},
        "systemData": {
          "createdBy": "8e6d47e0-7969-4fde-a62c-4fea4f165e98",
          "createdByType": "Application",
          "createdAt": "2023-07-12T09:39:00.9935312Z",
          "lastModifiedBy": "8e6d47e0-7969-4fde-a62c-4fea4f165e98",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2023-07-12T09:39:00.9935312Z"
        },
        "properties": {
          "provisioningState": "Succeeded",
          "botManagementPortalLink": "https://eastus.healthbot.microsoft.com/account/healthbot-9543-f0xphiv"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-4893/providers/Microsoft.HealthBot/healthBots?api-version=2021-08-24",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-original-request-ids": [
          "6bf9ecec-f4cc-4961-a2eb-dbe5858d2d0f",
          "ec64adb3-ebd8-49b8-8c43-7ae930bbc9b1",
          "69e409b7-3fcb-4ce1-b672-c2523eb4f689",
          "8cc856b2-9279-4316-9cfa-6128515c9f10",
          "100a5ba2-e575-43e2-8913-fdb9182995f1",
          "d2a2ddea-a32a-4018-af77-c8da2efbca46",
          "30ef7d75-e2f2-4c2e-bd6e-d39855d0986e",
          "dba5aed2-e0a5-4974-9a83-430d40b887eb",
          "f6ad84aa-8ef1-448d-93a5-e1d20c1efd09",
          "f16a3ed1-95d5-432e-b88d-762adec10034",
          "958c44a8-f675-4dd5-b4e3-a8f7e6fcfd7d"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": "11993"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-4893/providers/Microsoft.HealthBot/healthBots/healthbot-9543",
            "name": "healthbot-9543",
            "type": "microsoft.healthbot/healthbots",
            "sku": {
              "name": "F0"
            },
            "location": "eastus",
            "tags": {},
            "systemData": {
              "createdBy": "8e6d47e0-7969-4fde-a62c-4fea4f165e98",
              "create[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.HealthBot/healthBots?api-version=2021-08-24",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-original-request-ids": [
          "a3d267ac-f99d-4e21-904c-e6a6e3c8d544"[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-4893/providers/Microsoft.HealthBot/healthBots/healthbot-95431?api-version=2021-08-24",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-failure-cause": "gateway"
      },
      "ResponseBody": {
        "error": {
          "code": "ResourceNotFound",
          "message": "The Resource \u0027Microsoft.HealthBot/healthBots/healthbot-95431\u0027 under resource group \u0027testRG-4893\u0027 was not found. For more details please go to https://aka.ms/ARMResourceNotFoundFix"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/deleteme0712/providers/Microsoft.HealthBot/healthBots/bottest?api-version=2021-08-24",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {
          "updateKey": "updateValue"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/providers/Microsoft.HealthBot/locations/EASTUS/operationStatuses/cdbed624-ee76-4a29-a2a5-0fb5a0ddf825*4A48A335ECA1A79F76019D217B86701FA8A887895AAAC5F5CC37DEB0B88C1CDB?api-version=2021-08-24",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00228f06240d-0000-0100-0000-64ae75800000\u0022",
        "x-ms-providerhub-traffic[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-4893/providers/Microsoft.HealthBot/healthBots/healthbot-9543?api-version=2021-08-24",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/providers/Microsoft.HealthBot/locations/EASTUS/operationStatuses/23629614-cb20-488c-a015-d8e9819fdae6*2E7C85B6EE5E3A21FA108C05EB736C0DCCEF5CAAA83E1256CEA4ABEA80A9F198?api-version=2021-08-24",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00228f06380d-0000-0100-0000-64ae75840000\u0022",
        "Location": "https://management.azure.com/providers/Microsoft.HealthBot/locations/EASTUS/operationStatuses/23629614-cb20-488c-a015-d8e9819fdae6*2E7C85B6EE5E3A21FA108C05EB736C0DCCEF5CAAA83E1256CEA4ABEA80A9F198?api-version=2021-08-24",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-deletes": "14999"
      },
      "ResponseBody": "null"
    },
[...]
    {
      "RequestUri": "https://management.azure.com/providers/Microsoft.HealthBot/locations/eastus/operationStatuses/23629614-cb20-488c-a015-d8e9819fdae6*2E7C85B6EE5E3A21FA108C05EB736C0DCCEF5CAAA83E1256CEA4ABEA80A9F198?api-version=2021-08-24",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002277050f3d-0000-0100-0000-64ae75840000\u0022",
        "x-ms-ratelimit-remaining-tenant-reads": "11969"
      },
      "ResponseBody": {
        "id": "/providers/Microsoft.HealthBot/locations/eastus/operationStatuses/23629614-cb20-488c-a015-d8e9819fdae6*2E7C85B6EE5E3A21FA108C05EB736C0DCCEF5CAAA83E1256CEA4ABEA80A9F198",
        "name": "23629614-cb20-488c-a015-d8e9819fdae6*2E7C85B6EE5E3A21FA108C05EB736C0DCCEF5CAAA83E1256CEA4ABEA80A9F198",
        "resourceId": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-4893/providers/Microsoft.HealthBot/healthBots/healthbot-9543",
        "status": "Succeeded",
        "startTime": "2023-07-12T09:42:27.7051843Z",
        "endTime": "2023-07-12T09:42:28.617219Z",
        "properties": null
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com/",
    "RandomSeed": "1071153853",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "db1ab6f0-4769-4b27-930e-01e2ef9c123c"
  }
}
