{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11989"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "TagKey-9823": "TagValue-1254",
          "TagKey-3481": "TagValue-320",
          "TagKey-4926": "TagValue-1187",
          "TagKey-751": "TagValue-3921",
          "TagKey-1866": "TagValue-8559",
          "TagKey-3094": "TagValue-9190",
          "TagKey-2449": "TagValue-9",
          "TagKey-8379": "TagValue-164",
          "TagKey-7470": "TagValue-2205",
          "TagKey-4236": "TagValue-3698",
          "TagKey-5316": "TagValue-2725"
        },
        "subscriptionId": "db1ab6f0-4769-4b27-930e-01e2ef9c123c",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": ".NET Mgmt SDK Test with TTL = 1 Day",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourcegroups/testRG-8902?api-version=**",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {
          "test": "env"
        },
        "location": "eastus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1194"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-8902",
        "name": "testRG-8902",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus",
        "tags": {
          "test": "env"
        },
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-8902/providers/Microsoft.HealthBot/healthBots/healthbot-3353?api-version=2021-08-24",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "sku": {
          "name": "F0"
        },
        "tags": {},
        "location": "eastus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/providers/Microsoft.HealthBot/locations/EASTUS/operationStatuses/47eb7776-1872-4c6a-84da-c0538c70602b*08D981AC6EA7678227E20705FE24999FE3FD7F42DECB0FADC8B40C68BE0326CA?api-version=2021-08-24",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002217034226-0000-0100-0000-64531afd0000\u0022",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-writes": "1193"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-8902/providers/Microsoft.HealthBot/healthBots/healthbot-3353",
        "name": "healthbot-3353",
        "type": "microsoft.healthbot/healthbots",
        "sku": {
          "name": "F0"
        },
        "location": "eastus",
        "tags": {},
        "systemData": {
          "createdBy": "8e6d47e0-7969-4fde-a62c-4fea4f165e98",
          "createdByType": "Application",
          "createdAt": "2023-05-04T02:39:55.6826306Z",
          "lastModifiedBy": "8e6d47e0-7969-4fde-a62c-4fea4f165e98",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2023-05-04T02:39:55.6826306Z"
        },
        "properties": {
          "provisioningState": "Accepted"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/providers/Microsoft.HealthBot/locations/EASTUS/operationStatuses/47eb7776-1872-4c6a-84da-c0538c70602b*08D981AC6EA7678227E20705FE24999FE3FD7F42DECB0FADC8B40C68BE0326CA?api-version=2021-08-24",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022e7020b69-0000-0100-0000-64531afd0000\u0022",
        "x-ms-ratelimit-remaining-tenant-reads": "11967"
      },
      "ResponseBody": {
        "id": "/providers/Microsoft.HealthBot/locations/EASTUS/operationStatuses/47eb7776-1872-4c6a-84da-c0538c70602b*08D981AC6EA7678227E20705FE24999FE3FD7F42DECB0FADC8B40C68BE0326CA",
        "name": "47eb7776-1872-4c6a-84da-c0538c70602b*08D981AC6EA7678227E20705FE24999FE3FD7F42DECB0FADC8B40C68BE0326CA",
        "resourceId": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-8902/providers/Microsoft.HealthBot/healthBots/healthbot-3353",
        "status": "Working",
        "startTime": "2023-05-04T02:39:56.2359866Z"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/providers/Microsoft.HealthBot/locations/EASTUS/operationStatuses/47eb7776-1872-4c6a-84da-c0538c70602b*08D981AC6EA7678227E20705FE24999FE3FD7F42DECB0FADC8B40C68BE0326CA?api-version=2021-08-24",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022e702576c-0000-0100-0000-64531b230000\u0022",
        "x-ms-ratelimit-remaining-tenant-reads": "11959"
      },
      "ResponseBody": {
        "id": "/providers/Microsoft.HealthBot/locations/EASTUS/operationStatuses/47eb7776-1872-4c6a-84da-c0538c70602b*08D981AC6EA7678227E20705FE24999FE3FD7F42DECB0FADC8B40C68BE0326CA",
        "name": "47eb7776-1872-4c6a-84da-c0538c70602b*08D981AC6EA7678227E20705FE24999FE3FD7F42DECB0FADC8B40C68BE0326CA",
        "resourceId": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-8902/providers/Microsoft.HealthBot/healthBots/healthbot-3353",
        "status": "Succeeded",
        "startTime": "2023-05-04T02:39:56.2359866Z",
        "endTime": "2023-05-04T02:40:35.7677772Z",
        "properties": null
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-8902/providers/Microsoft.HealthBot/healthBots/healthbot-3353?api-version=2021-08-24",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00221703d92c-0000-0100-0000-64531b230000\u0022",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-8902/providers/Microsoft.HealthBot/healthBots/healthbot-3353",
        "name": "healthbot-3353",
        "type": "microsoft.healthbot/healthbots",
        "sku": {
          "name": "F0"
        },
        "location": "eastus",
        "tags": {},
        "systemData": {
          "createdBy": "8e6d47e0-7969-4fde-a62c-4fea4f165e98",
          "createdByType": "Application",
          "createdAt": "2023-05-04T02:39:55.6826306Z",
          "lastModifiedBy": "8e6d47e0-7969-4fde-a62c-4fea4f165e98",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2023-05-04T02:39:55.6826306Z"
        },
        "properties": {
          "provisioningState": "Succeeded",
          "botManagementPortalLink": "https://eastus.healthbot.microsoft.com/account/healthbot-3353-digb6sh"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-8902/providers/Microsoft.HealthBot/healthBots?api-version=2021-08-24",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-original-request-ids": [
          "5cda6843-0731-4b4a-9d58-3f49bec161cb",
          "ae74990e-36e8-4be5-aa55-f060ddbe8500",
          "e6405ee3-6bad-454f-8d91-2a590eb0674f",
          "235a32b9-9501-45e8-b369-94f0a41557f6",
          "795445eb-f4fd-4717-9aa9-3874e9a34c86",
          "8f4a7e9c-8604-4e36-b8cd-e1ff4bb43689",
          "ff0b9f56-2a20-4222-9525-9ebf67ff642e",
          "149be743-f612-4e55-bd9e-0da84b7ce61e",
          "01e065a4-5770-4480-ba9d-e3d0135e47cc",
          "2438ed66-0ad3-4425-b9d9-e34b826e8fb2",
          "7f0965e8-53e9-4484-bf05-80e2d05a2608"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": "11994"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-8902/providers/Microsoft.HealthBot/healthBots/healthbot-3353",
            "name": "healthbot-3353",
            "type": "microsoft.healthbot/healthbots",
            "sku": {
              "name": "F0"
            },
            "location": "eastus",
            "tags": {},
            "systemData": {
              "createdBy": "8e6d47e0-7969-4fde-a62c-4fea4f165e98",
              "create[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-8902/providers/Microsoft.HealthBot/healthBots/healthbot-33531?api-version=2021-08-24",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-failure-cause": "gateway"
      },
      "ResponseBody": {
        "error": {
          "code": "ResourceNotFound",
          "message": "The Resource \u0027Microsoft.HealthBot/healthBots/healthbot-33531\u0027 under resource group \u0027testRG-8902\u0027 was not found. For more details please go to https://aka.ms/ARMResourceNotFoundFix"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-8902/providers/Microsoft.HealthBot/healthBots/healthbot-3353?api-version=2021-08-24",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/providers/Microsoft.HealthBot/locations/EASTUS/operationStatuses/24c5bd2e-8f05-4a00-bb61-252066b04b69*08D981AC6EA7678227E20705FE24999FE3FD7F42DECB0FADC8B40C68BE0326CA?api-version=2021-08-24",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002217035c4a-0000-0100-0000-64531be40000\u0022",
        "Location": "https://management.azure.com/providers/Microsoft.HealthBot/locations/EASTUS/operationStatuses/24c5bd2e-8f05-4a00-bb61-252066b04b69*08D981AC6EA7678227E20705FE24999FE3FD7F42DECB0FADC8B40C68BE0326CA?api-version=2021-08-24",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-deletes": "14999"
      },
      "ResponseBody": "null"
    },
[...]
    {
      "RequestUri": "https://management.azure.com/providers/Microsoft.HealthBot/locations/EASTUS/operationStatuses/24c5bd2e-8f05-4a00-bb61-252066b04b69*08D981AC6EA7678227E20705FE24999FE3FD7F42DECB0FADC8B40C68BE0326CA?api-version=2021-08-24",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022e702c57e-0000-0100-0000-64531be40000\u0022",
        "x-ms-ratelimit-remaining-tenant-reads": "11977"
      },
      "ResponseBody": {
        "id": "/providers/Microsoft.HealthBot/locations/EASTUS/operationStatuses/24c5bd2e-8f05-4a00-bb61-252066b04b69*08D981AC6EA7678227E20705FE24999FE3FD7F42DECB0FADC8B40C68BE0326CA",
        "name": "24c5bd2e-8f05-4a00-bb61-252066b04b69*08D981AC6EA7678227E20705FE24999FE3FD7F42DECB0FADC8B40C68BE0326CA",
        "resourceId": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-8902/providers/Microsoft.HealthBot/healthBots/healthbot-3353",
        "status": "Succeeded",
        "startTime": "2023-05-04T02:43:47.8481548Z",
        "endTime": "2023-05-04T02:43:48.8692752Z",
        "properties": null
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com/",
    "RandomSeed": "1409061260",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "db1ab6f0-4769-4b27-930e-01e2ef9c123c"
  }
}
