{
  "Entries": [
    {
      "RequestUri": "https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/alert/anomaly/configurations/204a211a-c5f4-45f3-a30e-512fb25d1d2c/alerts/query?$top=1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized",
        "x-api-key": "Sanitized"
      },
      "RequestBody": {
        "startTime": "2015-11-04T17:47:10Z",
        "endTime": "2020-11-04T17:47:10Z",
        "timeMode": "CreatedTime"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "alertId": "1758b673c00",
            "timestamp": "2020-11-03T00:00:00Z",
            "createdTime": "2020-11-04T00:06:13.262Z",
            "modifiedTime": "2020-11-04T00:11:03.272Z"
          }
        ],
        "@nextLink": "https://js-metrics-advisor.cognitiveservices.azure.com:443/metricsadvisor/v1.0/alert/anomaly/configurations/204a211a-c5f4-45f3-a30e-512fb25d1d2c/alerts/query?$top=1\u0026$skip=1"
      }
    },
    {
      "RequestUri": "https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/alert/anomaly/configurations/204a211a-c5f4-45f3-a30e-512fb25d1d2c/alerts/query?$top=1\u0026$skip=1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized",
        "x-api-key": "Sanitized"
      },
      "RequestBody": {
        "startTime": "2015-11-04T17:47:10Z",
        "endTime": "2020-11-04T17:47:10Z",
        "timeMode": "CreatedTime"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "alertId": "1758640e000",
            "timestamp": "2020-11-02T00:00:00Z",
            "createdTime": "2020-11-03T00:06:12.487Z",
            "modifiedTime": "2020-11-03T00:11:01.967Z"
          }
        ],
        "@nextLink": "https://js-metrics-advisor.cognitiveservices.azure.com:443/metricsadvisor/v1.0/alert/anomaly/configurations/204a211a-c5f4-45f3-a30e-512fb25d1d2c/alerts/query?$top=1\u0026$skip=2"
      }
    },
    {
      "RequestUri": "https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/alert/anomaly/configurations/204a211a-c5f4-45f3-a30e-512fb25d1d2c/alerts/query?$top=1\u0026$skip=2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized",
        "x-api-key": "Sanitized"
      },
      "RequestBody": {
        "startTime": "2015-11-04T17:47:10Z",
        "endTime": "2020-11-04T17:47:10Z",
        "timeMode": "CreatedTime"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "alertId": "175811a8400",
            "timestamp": "2020-11-01T00:00:00Z",
            "createdTime": "2020-11-02T00:33:16.23Z",
            "modifiedTime": "2020-11-04T00:11:03.014Z"
          }
        ],
        "@nextLink": "https://js-metrics-advisor.cognitiveservices.azure.com:443/metricsadvisor/v1.0/alert/anomaly/configurations/204a211a-c5f4-45f3-a30e-512fb25d1d2c/alerts/query?$top=1\u0026$skip=3"
      }
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2020-11-04T09:47:10.6538441-08:00",
    "METRICSADVISOR_ACCOUNT_NAME": "js-metrics-advisor",
    "METRICSADVISOR_ENDPOINT_SUFFIX": null,
    "METRICSADVISOR_PRIMARY_API_KEY": "Sanitized",
    "METRICSADVISOR_SUBSCRIPTION_KEY": "Sanitized",
    "RandomSeed": "599892032"
  }
}