{
  "Entries": [
    {
      "RequestUri": "https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/alert/anomaly/configurations/204a211a-c5f4-45f3-a30e-512fb25d1d2c/alerts/17571a77000/anomalies?$top=1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized",
        "x-api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "metricId": "27e3015f-04fd-44ba-a20b-bc529a0aebae",
            "anomalyDetectionConfigurationId": "fb5a6ed6-2b9e-4b72-8b0c-0046ead1c15c",
            "timestamp": "2020-10-29T00:00:00Z",
            "createdTime": "2020-10-30T00:06:12.66Z",
            "modifiedTime": "2020-10-30T00:06:12.66Z",
            "dimension": {
              "city": "Shanghai",
              "category": "__SUM__"
            },
            "property": {
              "anomalySeverity": "Medium",
              "anomalyStatus": "Active"
            }
          }
        ],
        "@nextLink": "https://js-metrics-advisor.cognitiveservices.azure.com:443/metricsadvisor/v1.0/alert/anomaly/configurations/204a211a-c5f4-45f3-a30e-512fb25d1d2c/alerts/17571a77000/anomalies?$top=1\u0026$skip=1"
      }
    },
    {
      "RequestUri": "https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/alert/anomaly/configurations/204a211a-c5f4-45f3-a30e-512fb25d1d2c/alerts/17571a77000/anomalies?$top=1\u0026$skip=1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized",
        "x-api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "metricId": "27e3015f-04fd-44ba-a20b-bc529a0aebae",
            "anomalyDetectionConfigurationId": "fb5a6ed6-2b9e-4b72-8b0c-0046ead1c15c",
            "timestamp": "2020-10-29T00:00:00Z",
            "createdTime": "2020-10-30T00:06:12.66Z",
            "modifiedTime": "2020-10-30T00:06:12.66Z",
            "dimension": {
              "city": "Bangkok",
              "category": "__SUM__"
            },
            "property": {
              "anomalySeverity": "Medium",
              "anomalyStatus": "Active"
            }
          }
        ],
        "@nextLink": "https://js-metrics-advisor.cognitiveservices.azure.com:443/metricsadvisor/v1.0/alert/anomaly/configurations/204a211a-c5f4-45f3-a30e-512fb25d1d2c/alerts/17571a77000/anomalies?$top=1\u0026$skip=2"
      }
    },
    {
      "RequestUri": "https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/alert/anomaly/configurations/204a211a-c5f4-45f3-a30e-512fb25d1d2c/alerts/17571a77000/anomalies?$top=1\u0026$skip=2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized",
        "x-api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "metricId": "27e3015f-04fd-44ba-a20b-bc529a0aebae",
            "anomalyDetectionConfigurationId": "fb5a6ed6-2b9e-4b72-8b0c-0046ead1c15c",
            "timestamp": "2020-10-29T00:00:00Z",
            "createdTime": "2020-10-30T00:06:12.66Z",
            "modifiedTime": "2020-10-30T00:06:12.66Z",
            "dimension": {
              "city": "__SUM__",
              "category": "Personal Computers"
            },
            "property": {
              "anomalySeverity": "Low",
              "anomalyStatus": "Active"
            }
          }
        ],
        "@nextLink": "https://js-metrics-advisor.cognitiveservices.azure.com:443/metricsadvisor/v1.0/alert/anomaly/configurations/204a211a-c5f4-45f3-a30e-512fb25d1d2c/alerts/17571a77000/anomalies?$top=1\u0026$skip=3"
      }
    }
  ],
  "Variables": {
    "METRICSADVISOR_ACCOUNT_NAME": "js-metrics-advisor",
    "METRICSADVISOR_ENDPOINT_SUFFIX": null,
    "METRICSADVISOR_PRIMARY_API_KEY": "Sanitized",
    "METRICSADVISOR_SUBSCRIPTION_KEY": "Sanitized",
    "RandomSeed": "963767571"
  }
}