{
  "Entries": [
    {
      "RequestUri": "https://anuchan-cg-metric-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/alert/anomaly/configurations/08318302-6006-4019-9afc-975bc63ee566/alerts/query?$top=1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized",
        "x-api-key": "Sanitized"
      },
      "RequestBody": {
        "startTime": "2015-09-25T22:41:31Z",
        "endTime": "2020-09-25T22:41:31Z",
        "timeMode": "CreatedTime"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "alertId": "174a3a91000",
            "timestamp": "2020-09-19T00:00:00Z",
            "createdTime": "2020-09-20T16:34:42.071Z",
            "modifiedTime": "2020-09-22T02:38:47.84Z"
          }
        ],
        "@nextLink": "https://anuchan-cg-metric-advisor.cognitiveservices.azure.com:443/metricsadvisor/v1.0/alert/anomaly/configurations/08318302-6006-4019-9afc-975bc63ee566/alerts/query?$top=1\u0026$skip=1"
      }
    },
    {
      "RequestUri": "https://anuchan-cg-metric-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/alert/anomaly/configurations/08318302-6006-4019-9afc-975bc63ee566/alerts/query?$top=1\u0026$skip=1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized",
        "x-api-key": "Sanitized"
      },
      "RequestBody": {
        "startTime": "2015-09-25T22:41:31Z",
        "endTime": "2020-09-25T22:41:31Z",
        "timeMode": "CreatedTime"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "alertId": "1749e82b400",
            "timestamp": "2020-09-18T00:00:00Z",
            "createdTime": "2020-09-19T21:35:29.225Z",
            "modifiedTime": "2020-09-20T16:34:22.553Z"
          }
        ],
        "@nextLink": "https://anuchan-cg-metric-advisor.cognitiveservices.azure.com:443/metricsadvisor/v1.0/alert/anomaly/configurations/08318302-6006-4019-9afc-975bc63ee566/alerts/query?$top=1\u0026$skip=2"
      }
    },
    {
      "RequestUri": "https://anuchan-cg-metric-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/alert/anomaly/configurations/08318302-6006-4019-9afc-975bc63ee566/alerts/query?$top=1\u0026$skip=2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized",
        "x-api-key": "Sanitized"
      },
      "RequestBody": {
        "startTime": "2015-09-25T22:41:31Z",
        "endTime": "2020-09-25T22:41:31Z",
        "timeMode": "CreatedTime"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "alertId": "174995c5800",
            "timestamp": "2020-09-17T00:00:00Z",
            "createdTime": "2020-09-18T19:36:00.956Z",
            "modifiedTime": "2020-09-18T19:46:05.762Z"
          }
        ],
        "@nextLink": "https://anuchan-cg-metric-advisor.cognitiveservices.azure.com:443/metricsadvisor/v1.0/alert/anomaly/configurations/08318302-6006-4019-9afc-975bc63ee566/alerts/query?$top=1\u0026$skip=3"
      }
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2020-09-25T17:41:31.1214752-05:00",
    "METRICSADVISOR_ACCOUNT_NAME": "anuchan-cg-metric-advisor",
    "METRICSADVISOR_ENDPOINT_SUFFIX": null,
    "METRICSADVISOR_PRIMARY_API_KEY": "Sanitized",
    "METRICSADVISOR_SUBSCRIPTION_KEY": "Sanitized",
    "RandomSeed": "1661016270"
  }
}