{
  "Entries": [
    {
      "RequestUri": "https://anuchan-cg-metric-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/alert/anomaly/configurations/08318302-6006-4019-9afc-975bc63ee566/alerts/174995c5800/anomalies?$top=1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized",
        "x-api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "metricId": "3d48ed3e-6e6e-4391-b78f-b00dfee1e6f5",
            "anomalyDetectionConfigurationId": "c0f2539f-b804-4ab9-a70f-0da0c89c76d8",
            "timestamp": "2020-09-17T00:00:00Z",
            "createdTime": "2020-09-18T19:36:04.345Z",
            "modifiedTime": "2020-09-18T19:36:04.345Z",
            "dimension": {
              "Dim1": "Common Ash",
              "Dim2": "Bedbug"
            },
            "property": {
              "anomalySeverity": "Low",
              "anomalyStatus": "Active"
            }
          }
        ],
        "@nextLink": "https://anuchan-cg-metric-advisor.cognitiveservices.azure.com:443/metricsadvisor/v1.0/alert/anomaly/configurations/08318302-6006-4019-9afc-975bc63ee566/alerts/174995c5800/anomalies?$top=1\u0026$skip=1"
      }
    },
    {
      "RequestUri": "https://anuchan-cg-metric-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/alert/anomaly/configurations/08318302-6006-4019-9afc-975bc63ee566/alerts/174995c5800/anomalies?$top=1\u0026$skip=1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized",
        "x-api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "metricId": "3d48ed3e-6e6e-4391-b78f-b00dfee1e6f5",
            "anomalyDetectionConfigurationId": "c0f2539f-b804-4ab9-a70f-0da0c89c76d8",
            "timestamp": "2020-09-17T00:00:00Z",
            "createdTime": "2020-09-18T19:36:04.345Z",
            "modifiedTime": "2020-09-18T19:36:04.345Z",
            "dimension": {
              "Dim1": "Chinese red-barked birch",
              "Dim2": "African elephant"
            },
            "property": {
              "anomalySeverity": "Medium",
              "anomalyStatus": "Active"
            }
          }
        ],
        "@nextLink": "https://anuchan-cg-metric-advisor.cognitiveservices.azure.com:443/metricsadvisor/v1.0/alert/anomaly/configurations/08318302-6006-4019-9afc-975bc63ee566/alerts/174995c5800/anomalies?$top=1\u0026$skip=2"
      }
    },
    {
      "RequestUri": "https://anuchan-cg-metric-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/alert/anomaly/configurations/08318302-6006-4019-9afc-975bc63ee566/alerts/174995c5800/anomalies?$top=1\u0026$skip=2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized",
        "x-api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "metricId": "3d48ed3e-6e6e-4391-b78f-b00dfee1e6f5",
            "anomalyDetectionConfigurationId": "c0f2539f-b804-4ab9-a70f-0da0c89c76d8",
            "timestamp": "2020-09-17T00:00:00Z",
            "createdTime": "2020-09-18T19:36:04.345Z",
            "modifiedTime": "2020-09-18T19:36:04.345Z",
            "dimension": {
              "Dim1": "Cherry",
              "Dim2": "Basilisk"
            },
            "property": {
              "anomalySeverity": "Low",
              "anomalyStatus": "Active"
            }
          }
        ],
        "@nextLink": "https://anuchan-cg-metric-advisor.cognitiveservices.azure.com:443/metricsadvisor/v1.0/alert/anomaly/configurations/08318302-6006-4019-9afc-975bc63ee566/alerts/174995c5800/anomalies?$top=1\u0026$skip=3"
      }
    }
  ],
  "Variables": {
    "METRICSADVISOR_ACCOUNT_NAME": "anuchan-cg-metric-advisor",
    "METRICSADVISOR_ENDPOINT_SUFFIX": null,
    "METRICSADVISOR_PRIMARY_API_KEY": "Sanitized",
    "METRICSADVISOR_SUBSCRIPTION_KEY": "Sanitized",
    "RandomSeed": "1935898218"
  }
}