{
  "Entries": [
    {
      "RequestUri": "https://anuchan-cg-metric-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/enrichment/anomalyDetection/configurations/59f26a57-55f7-41eb-8899-a7268d125557/anomalies/query",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized",
        "x-api-key": "Sanitized"
      },
      "RequestBody": {
        "startTime": "2015-09-29T23:42:34Z",
        "endTime": "2020-09-29T23:42:34Z"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "timestamp": "2020-09-17T00:00:00Z",
            "dimension": {
              "city": "Hong Kong",
              "category": "Handmade"
            },
            "property": {
              "anomalySeverity": "Low"
            }
          },
          {
            "timestamp": "2020-09-17T00:00:00Z",
            "dimension": {
              "city": "Paris",
              "category": "Industrial \u0026 Scientific"
            },
            "property": {
              "anomalySeverity": "Medium"
            }
          },
          {
            "timestamp": "2020-09-17T00:00:00Z",
            "dimension": {
              "city": "Belo Horizonte",
              "category": "__SUM__"
            },
 [...]
