{
  "Entries": [
    {
      "RequestUri": "https://anuchan-cg-metric-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/metrics/3d48ed3e-6e6e-4391-b78f-b00dfee1e6f5/status/enrichment/anomalyDetection/query?$top=2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized",
        "x-api-key": "Sanitized"
      },
      "RequestBody": {
        "startTime": "2015-09-29T23:42:48Z",
        "endTime": "2020-09-29T23:42:48Z"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "timestamp": "2019-10-01T00:00:00Z",
            "status": "Succeeded",
            "message": "{\u0022UpdateTime\u0022:\u00222020-09-22T02:09:00.295Z\u0022,\u0022CreateTime\u0022:\u00222020-09-22T02:09:00.295Z\u0022}"
          },
          {
            "timestamp": "2019-10-02T00:00:00Z",
            "status": "Succeeded",
            "message": "{\u0022UpdateTime\u0022:\u00222020-09-22T02:09:00.295Z\u0022,\u0022CreateTime\u0022:\u00222020-09-22T02:09:00.295Z\u0022}"
          }
        ],
        "@nextLink": "https://anuchan-cg-metric-advisor.cognitiveservices.azure.com:443/metricsadvisor/v1.0/metrics/3d48ed3e-6e6e-4391-b78f-b00dfee1e6f5/status/enrichment/anomalyDetection/query?$top=2\u0026$skip=2"
      }
    },
    {
      "RequestUri": "https://anuchan-cg-metric-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/metrics/3d48ed3e-6e6e-4391-b78f-b00dfee1e6f5/status/enrichment/anomalyDetection/query?$top=2\u0026$skip=2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized",
        "x-api-key": "Sanitized"
      },
      "RequestBody": {
        "startTime": "2015-09-29T23:42:48Z",
        "endTime": "2020-09-29T23:42:48Z"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "timestamp": "2019-10-03T00:00:00Z",
            "status": "Succeeded",
            "message": "{\u0022UpdateTime\u0022:\u00222020-09-22T02:08:40.292Z\u0022,\u0022CreateTime\u0022:\u00222020-09-22T02:08:40.292Z\u0022}"
          },
          {
            "timestamp": "2019-10-04T00:00:00Z",
            "status": "Succeeded",
            "message": "{\u0022UpdateTime\u0022:\u00222020-09-22T02:09:00.295Z\u0022,\u0022CreateTime\u0022:\u00222020-09-22T02:09:00.295Z\u0022}"
          }
        ],
        "@nextLink": "https://anuchan-cg-metric-advisor.cognitiveservices.azure.com:443/metricsadvisor/v1.0/metrics/3d48ed3e-6e6e-4391-b78f-b00dfee1e6f5/status/enrichment/anomalyDetection/query?$top=2\u0026$skip=4"
      }
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2020-09-29T18:42:48.5024704-05:00",
    "METRICSADVISOR_ACCOUNT_NAME": "anuchan-cg-metric-advisor",
    "METRICSADVISOR_ENDPOINT_SUFFIX": null,
    "METRICSADVISOR_PRIMARY_API_KEY": "Sanitized",
    "METRICSADVISOR_SUBSCRIPTION_KEY": "Sanitized",
    "RandomSeed": "681814440"
  }
}