{
  "Entries": [
    {
      "RequestUri": "https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/alert/anomaly/configurations/204a211a-c5f4-45f3-a30e-512fb25d1d2c/alerts/17571a77000/incidents?$top=1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized",
        "x-api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "metricId": "27e3015f-04fd-44ba-a20b-bc529a0aebae",
            "anomalyDetectionConfigurationId": "fb5a6ed6-2b9e-4b72-8b0c-0046ead1c15c",
            "incidentId": "0f099f2089162cab683d305ad1a9cba8-17571a77000",
            "startTime": "2020-10-29T00:00:00Z",
            "lastTime": "2020-10-29T00:00:00Z",
            "rootNode": {
              "dimension": {
                "city": "Sao Paulo",
                "category": "Grocery \u0026 Gourmet Food"
              }
            },
            "property": {
              "incidentStatus": "Resolved"
            }
          }
        ],
        "@nextLink": "https://js-metrics-advisor.cognitiveservices.azure.com:443/metricsadvisor/v1.0/alert/anomaly/configurations/204a211a-c5f4-45f3-a30e-512fb25d1d2c/alerts/17571a77000/incidents?$top=1\u0026$skip=1"
      }
    },
    {
      "RequestUri": "https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/alert/anomaly/configurations/204a211a-c5f4-45f3-a30e-512fb25d1d2c/alerts/17571a77000/incidents?$top=1\u0026$skip=1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized",
        "x-api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "metricId": "27e3015f-04fd-44ba-a20b-bc529a0aebae",
            "anomalyDetectionConfigurationId": "fb5a6ed6-2b9e-4b72-8b0c-0046ead1c15c",
            "incidentId": "15ee0a88ee90d2b7580b07acac9b5f1b-17571a77000",
            "startTime": "2020-10-29T00:00:00Z",
            "lastTime": "2020-10-29T00:00:00Z",
            "rootNode": {
              "dimension": {
                "city": "Bengaluru",
                "category": "Grocery \u0026 Gourmet Food"
              }
            },
            "property": {
              "maxSeverity": "Low",
              "incidentStatus": "Active"
            }
          }
        ],
        "@nextLink": "https://js-metrics-advisor.cognitiveservices.azure.com:443/metricsadvisor/v1.0/alert/anomaly/configurations/204a211a-c5f4-45f3-a30e-512fb25d1d2c/alerts/17571a77000/incidents?$top=1\u0026$skip=2"
      }
    },
    {
      "RequestUri": "https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/alert/anomaly/configurations/204a211a-c5f4-45f3-a30e-512fb25d1d2c/alerts/17571a77000/incidents?$top=1\u0026$skip=2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized",
        "x-api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "metricId": "27e3015f-04fd-44ba-a20b-bc529a0aebae",
            "anomalyDetectionConfigurationId": "fb5a6ed6-2b9e-4b72-8b0c-0046ead1c15c",
            "incidentId": "2b03e492fd98f311dac5754867352e2f-17571a77000",
            "startTime": "2020-10-28T00:00:00Z",
            "lastTime": "2020-10-29T00:00:00Z",
            "rootNode": {
              "dimension": {
                "city": "Los Angeles",
                "category": "Camera \u0026 Photo"
              }
            },
            "property": {
              "maxSeverity": "Low",
              "incidentStatus": "Active"
            }
          }
        ],
        "@nextLink": "https://js-metrics-advisor.cognitiveservices.azure.com:443/metricsadvisor/v1.0/alert/anomaly/configurations/204a211a-c5f4-45f3-a30e-512fb25d1d2c/alerts/17571a77000/incidents?$top=1\u0026$skip=3"
      }
    }
  ],
  "Variables": {
    "METRICSADVISOR_ACCOUNT_NAME": "js-metrics-advisor",
    "METRICSADVISOR_ENDPOINT_SUFFIX": null,
    "METRICSADVISOR_PRIMARY_API_KEY": "Sanitized",
    "METRICSADVISOR_SUBSCRIPTION_KEY": "Sanitized",
    "RandomSeed": "797099754"
  }
}