{
  "Entries": [
    {
      "RequestUri": "https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/feedback/metric/query?$top=2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized",
        "x-api-key": "Sanitized"
      },
      "RequestBody": {
        "metricId": "27e3015f-04fd-44ba-a20b-bc529a0aebae"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "feedbackId": "8f322589-9d0b-4dba-9017-bb918cbfc927",
            "createdTime": "2020-11-05T09:35:13.625Z",
            "userPrincipal": "foo@contoso.com",
            "metricId": "27e3015f-04fd-44ba-a20b-bc529a0aebae",
            "dimensionFilter": {
              "dimension": {
                "city": "Los Angeles"
              }
            },
            "feedbackType": "Period",
            "value": {
              "periodType": "AssignValue",
              "periodValue": 2
            }
          },
          {
            "feedbackId": "6e06af66-c7c4-4a27-bde7-5899e240f12f",
            "createdTime": "2020-11-05T09:35:13.033Z",
            "userPrincipal": "foo@contoso.com",
            "metricId": "27e3015f-04fd-44ba-a20b-bc529a0aebae",
            "dimensionFilter": {
              "dimension": {
                "city": "Los Angeles"
              }
            },
            "feedbackType": "Comment",
            "startTime": "2020-08-05T00:00:00Z",
            "endTime": "2020-10-21T00:00:00Z",
            "value": {
              "commentValue": "comment"
            }
          }
        ],
        "@nextLink": "https://js-metrics-advisor.cognitiveservices.azure.com:443/metricsadvisor/v1.0/feedback/metric/query?$top=2\u0026$skip=2"
      }
    },
    {
      "RequestUri": "https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/feedback/metric/query?$top=2\u0026$skip=2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized",
        "x-api-key": "Sanitized"
      },
      "RequestBody": {
        "metricId": "27e3015f-04fd-44ba-a20b-bc529a0aebae"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "feedbackId": "1446642a-0afa-4b43-8a82-f266e622c7a6",
            "createdTime": "2020-11-05T09:35:12.521Z",
            "userPrincipal": "foo@contoso.com",
            "metricId": "27e3015f-04fd-44ba-a20b-bc529a0aebae",
            "dimensionFilter": {
              "dimension": {
                "city": "Los Angeles"
              }
            },
            "feedbackType": "ChangePoint",
            "startTime": "2020-08-05T00:00:00Z",
            "endTime": "2020-10-21T00:00:00Z",
            "value": {
              "changePointValue": "NotChangePoint"
            }
          },
          {
            "feedbackId": "fe98c9dc-df9c-48a1-b987-cbfe8163a33c",
            "createdTime": "2020-11-05T09:35:11.933Z",
            "userPrincipal": "foo@contoso.com",
            "metricId": "27e3015f-04fd-44ba-a20b-bc529a0aebae",
            "dimensionFilter": {
              "dimension": {
                "city": "Los Angeles"
              }
            },
            "feedbackType": "Anomaly",
            "startTime": "2020-08-05T00:00:00Z",
            "endTime": "2020-10-21T00:00:00Z",
            "value": {
              "anomalyValue": "NotAnomaly"
            },
            "anomalyDetectionConfigurationId": null,
            "anomalyDetectionConfigurationSnapshot": null
          }
        ],
        "@nextLink": "https://js-metrics-advisor.cognitiveservices.azure.com:443/metricsadvisor/v1.0/feedback/metric/query?$top=2\u0026$skip=4"
      }
    }
  ],
  "Variables": {
    "METRICSADVISOR_ACCOUNT_NAME": "js-metrics-advisor",
    "METRICSADVISOR_ENDPOINT_SUFFIX": null,
    "METRICSADVISOR_PRIMARY_API_KEY": "Sanitized",
    "METRICSADVISOR_SUBSCRIPTION_KEY": "Sanitized",
    "RandomSeed": "1105967984"
  }
}