{
  "Entries": [
    {
      "RequestUri": "https://anuchan-cg-metric-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds?$top=1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized",
        "x-api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "dataFeedId": "dd64cd95-f22f-4176-9554-ded0b8db83a1",
            "dataFeedName": "testElasticsearchDataFeed2",
            "metrics": [
              {
                "metricId": "2b11308b-9233-403c-bb9e-6b573cda3c08",
                "metricName": "Metric1",
                "metricDisplayName": "Metric1",
                "metricDescription": ""
              },
              {
                "metricId": "36fe66a2-b1fe-4930-baa0-09efe7d08a31",
                "metricName": "Metric2",
                "metricDisplayName": "Metric2",
                "metricDescription": ""
              }
            ],
            "dimension": [
              {
                "dimensionName": "Dim1",
                "dimensionDisplayName": "Dim1"
              },
              {
                "dimensionName": "Dim2",
                "dimensionDisplayName": "Dim2"
              }
            ],
            "dataStartFrom": "2020-08-09T00:00:00Z",
            "dataSourceType": "Elasticsearch",
            "timestampColumn": "Timestamp",
            "startOffsetInSeconds": 0,
            "maxQueryPerMinute": 30.0,
            "granularityName": "Daily",
            "granularityAmount": null,
            "allUpIdentification": null,
            "needRollup": "NoRollup",
            "fillMissingPointType": "SmartFilling",
            "fillMissingPointValue": 0.0,
            "rollUpMethod": "None",
            "rollUpColumns": [],
            "dataFeedDescription": "",
            "stopRetryAfterInSeconds": -1,
            "minRetryIntervalInSeconds": -1,
            "maxConcurrency": -1,
            "viewMode": "Private",
            "admins": [
              "foo@contoso.com",
              "foo@contoso.com",
              "foo@contoso.com",
              "foo@contoso.com",
              "foo@contoso.com",
              "foo@contoso.com",
              "foo@contoso.com",
              "foo@contoso.com",
              "foo@contoso.com",
              "foo@contoso.com",
              "foo@contoso.com"
            ],
            "viewers": [],
            "creator": "foo@contoso.com",
            "status": "Active",
            "createdTime": "2020-09-25T17:11:17Z",
            "isAdmin": true,
            "actionLinkTemplate": "",
            "dataSourceParameter": {
              "authHeader": "Sanitized",
              "port": "9200",
              "query": "select * from adsample where timestamp = @StartTime",
              "host": "ad-sample-es.westus2.cloudapp.azure.com"
            }
          }
        ],
        "@nextLink": "https://anuchan-cg-metric-advisor.cognitiveservices.azure.com:443/metricsadvisor/v1.0/dataFeeds?$top=1\u0026$skip=1"
      }
    },
    {
      "RequestUri": "https://anuchan-cg-metric-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/metrics/2b11308b-9233-403c-bb9e-6b573cda3c08/dimension/query",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized",
        "x-api-key": "Sanitized"
      },
      "RequestBody": {
        "dimensionName": "Dim1"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [],
        "@nextLink": null
      }
    },
[...]
    {
      "RequestUri": "https://anuchan-cg-metric-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/metrics/36fe66a2-b1fe-4930-baa0-09efe7d08a31/dimension/query",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized",
        "x-api-key": "Sanitized"
      },
      "RequestBody": {
        "dimensionName": "Dim2"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [],
        "@nextLink": null
      }
    }
  ],
  "Variables": {
    "METRICSADVISOR_ACCOUNT_NAME": "anuchan-cg-metric-advisor",
    "METRICSADVISOR_ENDPOINT_SUFFIX": null,
    "METRICSADVISOR_PRIMARY_API_KEY": "Sanitized",
    "METRICSADVISOR_SUBSCRIPTION_KEY": "Sanitized",
    "RandomSeed": "1712533915"
  }
}