{
  "Entries": [
    {
      "RequestUri": "https://anuchan-cg-metric-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/metrics/3d48ed3e-6e6e-4391-b78f-b00dfee1e6f5/data/query",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized",
        "x-api-key": "Sanitized"
      },
      "RequestBody": {
        "startTime": "2015-09-29T23:42:40Z",
        "endTime": "2020-09-29T23:42:40Z",
        "series": [
          {
            "Dim1": "*",
            "Dim2": "*"
          }
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "id": {
              "metricId": "3d48ed3e-6e6e-4391-b78f-b00dfee1e6f5",
              "dimension": {
                "Dim1": "*",
                "Dim2": "*"
              }
            },
            "timestampList": [],
            "valueList": []
          }
        ]
      }
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2020-09-29T18:42:40.8782128-05:00",
    "METRICSADVISOR_ACCOUNT_NAME": "anuchan-cg-metric-advisor",
    "METRICSADVISOR_ENDPOINT_SUFFIX": null,
    "METRICSADVISOR_PRIMARY_API_KEY": "Sanitized",
    "METRICSADVISOR_SUBSCRIPTION_KEY": "Sanitized",
    "RandomSeed": "1204385147"
  }
}