{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/f3d94233-a9aa-4241-ac82-2dfb63ce637a?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11023"
      },
      "ResponseBody": {
        "id": "/subscriptions/f3d94233-a9aa-4241-ac82-2dfb63ce637a",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "subscriptionId": "f3d94233-a9aa-4241-ac82-2dfb63ce637a",
        "tenantId": "75743128-1c62-4904-9be1-c23c1edb9a9f",
        "displayName": "Visual Studio Enterprise Subscription",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Public_2014-09-01",
          "quotaId": "MSDN_2014-09-01",
          "spendingLimit": "On"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/f3d94233-a9aa-4241-ac82-2dfb63ce637a/resourcegroups/testRg-8347?api-version=**",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1195"
      },
      "ResponseBody": {
        "id": "/subscriptions/f3d94233-a9aa-4241-ac82-2dfb63ce637a/resourceGroups/testRg-8347",
        "name": "testRg-8347",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus",
        "tags": {},
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/f3d94233-a9aa-4241-ac82-2dfb63ce637a/resourceGroups/testRg-8347/providers/Microsoft.Cdn/profiles/profile-3312?api-version=2021-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "sku": {
          "name": "Standard_Microsoft"
        },
        "tags": {},
        "location": "westus",
        "properties": {}
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/f3d94233-a9aa-4241-ac82-2dfb63ce637a/resourcegroups/testRg-8347/providers/Microsoft.Cdn/operationresults/f423b488-dea4-4f72-9595-a46da0c11cc3?api-version=2021-06-01",
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "20"
      },
      "ResponseBody": {
        "id": "/subscriptions/f3d94233-a9aa-4241-ac82-2dfb63ce637a/resourcegroups/testRg-8347/providers/Microsoft.Cdn/profiles/profile-3312",
        "type": "Microsoft.Cdn/profiles",
        "name": "profile-3312",
        "location": "WestUs",
        "kind": "cdn",
        "tags": {},
        "sku": {
          "name": "Standard_Microsoft"
        },
        "properties": {
          "resourceState": "Creating",
          "provisioningState": "Creating"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/f3d94233-a9aa-4241-ac82-2dfb63ce637a/resourcegroups/testRg-8347/providers/Microsoft.Cdn/operationresults/f423b488-dea4-4f72-9595-a46da0c11cc3?api-version=2021-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11022"
      },
      "ResponseBody": {
        "status": "InProgress",
        "error": {
          "code": "None",
          "message": null
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/f3d94233-a9aa-4241-ac82-2dfb63ce637a/resourceGroups/testRg-8347/providers/Microsoft.Cdn/profiles/profile-3312/endpoints/endpoint-7206?api-version=2021-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "westus",
        "properties": {
          "isHttpAllowed": true,
          "isHttpsAllowed": true,
          "optimizationType": "GeneralWebDelivery",
          "origins": [
            {
              "name": "testOrigin",
              "properties": {
                "hostName": "testsa4dotnetsdk.blob.core.windows.net",
                "priority": 3,
                "weight": 100
              }
            }
          ]
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/f3d94233-a9aa-4241-ac82-2dfb63ce637a/resourcegroups/testRg-8347/providers/Microsoft.Cdn/operationresults/597dc1d9-8240-4569-a137-db77cddb0537?api-version=2021-06-01",
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "95"
      },
      "ResponseBody": {
        "id": "/subscriptions/f3d94233-a9aa-4241-ac82-2dfb63ce637a/resourcegroups/testRg-8347/providers/Microsoft.Cdn/profiles/profile-3312/endpoints/endpoint-7206",
        "type": "Microsoft.Cdn/profiles/endpoints",
        "name": "endpoint-7206",
        "location": "WestUs",
        "tags": {},
        "properties": {
          "hostName": "endpoint-7206.azureedge.net",
          "originHostHeader": null,
          "originPath": null,
          "contentTypesToCompress": [],
          "isCompressionEnabled": false,
          "isHttpAllowed": true,
          "isHttpsAllowed": true,
          "queryStringCachingBehavior": "IgnoreQueryString",
          "optimizationType": "GeneralWebDelivery",
          "probePath": null,
          "origins": [
            {
              "name": "testOrigin",
              "properties": {
                "hostName": "testsa4dotnetsdk.blob.core.windows.net",
                "httpPort": null,
                "httpsPort": null,
                "originHostHeader": null,
                "priority": 3,
                "weight": 100,
                "enabled": true,
                "privateLinkAlias": null,
                "privateLinkResourceId": null,
                "privateLinkLocation": null,
                "privateEndpointStatus": null,
                "privateLinkApprovalMessage": null
              }
            }
          ],
          "originGroups": [],
          "defaultOriginGroup": null,
          "customDomains": [],
          "geoFilters": [],
          "deliveryPolicy": null,
          "urlSigningKeys": null,
          "webApplicationFirewallPolicyLink": null,
          "resourceState": "Creating",
          "provisioningState": "Creating"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/f3d94233-a9aa-4241-ac82-2dfb63ce637a/resourceGroups/testRg-8347/providers/Microsoft.Cdn/profiles/profile-3312/endpoints/endpoint-7206?api-version=2021-06-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "originPath": "/path/valid",
          "originHostHeader": "www.bing.com",
          "isHttpAllowed": false
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/f3d94233-a9aa-4241-ac82-2dfb63ce637a/resourcegroups/testRg-8347/providers/Microsoft.Cdn/operationresults/e78c70e0-6ecd-4924-8ba6-9670f6bc9022?api-version=2021-06-01",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/f3d94233-a9aa-4241-ac82-2dfb63ce637a/resourcegroups/testRg-8347/providers/Microsoft.Cdn/operationresults/e78c70e0-6ecd-4924-8ba6-9670f6bc9022/profileresults/profile-3312/endpointresults/endpoint-7206?api-version=2021-06-01",
        "Retry-After": "10",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "94"
      },
      "ResponseBody": {
        "id": "/subscriptions/f3d94233-a9aa-4241-ac82-2dfb63ce637a/resourcegroups/testRg-8347/pr[...]
[...]
