{
  "Entries": [
    {
      "RequestUri": "/subscriptions/2c224e7e-3ef5-431d-a57b-e71f4662e3a6/resourcegroups/azsmnet6375?api-version=2015-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "RequestBody": [
        "{\r\n",
        "  \u0022location\u0022: \u0022eastus\u0022\r\n",
        "}"
      ],
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1198"
      },
      "ResponseBody": [
        "{\r\n",
        "  \u0022id\u0022: \u0022/subscriptions/2c224e7e-3ef5-431d-a57b-e71f4662e3a6/resourceGroups/azsmnet6375\u0022,\r\n",
        "  \u0022name\u0022: \u0022azsmnet6375\u0022,\r\n",
        "  \u0022location\u0022: \u0022eastus\u0022,\r\n",
        "  \u0022properties\u0022: {\r\n",
        "    \u0022provisioningState\u0022: \u0022Succeeded\u0022\r\n",
        "  }\r\n",
        "}"
      ]
    },
    {
      "RequestUri": "/subscriptions/2c224e7e-3ef5-431d-a57b-e71f4662e3a6/resourcegroups/azsmnet6375/providers/Microsoft.Resources/deployments/azsmnet309?api-version=2015-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "RequestBody": [
        "{\r\n",
        "  \u0022properties\u0022: {\r\n",
        "    \u0022template\u0022: {\r\n",
        "      \u0022$schema\u0022: \u0022http://schema.management.[...]
    {
      "RequestUri": "/subscriptions/2c224e7e-3ef5-431d-a57b-e71f4662e3a6/resourcegroups/azsmnet6375/providers/Microsoft.Resources/deployments/azsmnet309/operationStatuses/08587034010671628763?api-version=2015-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": [],
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "14991"
      },
      "ResponseBody": [
        "{\r\n",
        "  \u0022status\u0022: \u0022Running\u0022\r\n",
        "}"
      ]
    },
[...]
    {
      "RequestUri": "/subscriptions/2c224e7e-3ef5-431d-a57b-e71f4662e3a6/resourceGroups/azsmnet6375/providers/Microsoft.Network/networkWatchers/azsmnet1833?api-version=2017-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "RequestBody": [
        "{\r\n",
        "  \u0022location\u0022: \u0022eastus\u0022\r\n",
        "}"
      ],
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/2c224e7e-3ef5-431d-a57b-e71f4662e3a6/providers/Microsoft.Network/locations/eastus/operations/ab31f5c7-11ff-457f-8118-2727e930dee2?api-version=2017-06-01",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": [
        "{\r\n",
        "  \u0022name\u0022: \u0022azsmnet1833\u0022,\r\n",
        "  \u0022id\u0022: \u0022/subscriptions/2c224e7e-3ef5-431d-a57b-e71f4662e3a6/resourceGroups/azsmnet6375/providers/Microsoft.Network/networkWatchers/azsmnet1833\u0022,\r\n",
        "  \u0022etag\u0022: \u0022W/\\\u0022ec9b2f0d-3071-47e8-9c2a-83a85d80edd2\\\u0022\u0022,\r\n",
        "  \u0022type\u0022: \u0022Microsoft.Network/networkWatchers\u0022,\r\n",
        "  \u0022location\u0022: \u0022eastus\u0022,\r\n",
        "  \u0022properties\u0022: {\r\n",
        "    \u0022provisioningState\u0022: \u0022Succeeded\u0022,\r\n",
        "    \u0022runningOperationIds\u0022: []\r\n",
        "  }\r\n",
        "}"
      ]
    },
    {
      "RequestUri": "/subscriptions/2c224e7e-3ef5-431d-a57b-e71f4662e3a6/resourceGroups/azsmnet6375/providers/Microsoft.Compute/virtualMachines/azsmnet6728?api-version=2017-03-30",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": [],
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "14996"
      },
      "ResponseBody": [
        "{\r\n",[...]
    {
      "RequestUri": "/subscriptions/2c224e7e-3ef5-431d-a57b-e71f4662e3a6/resourceGroups/azsmnet6375/providers/Microsoft.Network/networkInterfaces/azsmnet6309?api-version=2017-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": [],
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\u0022e0713d9b-8a1e-454b-9046-633025fbd590\u0022",
        "x-ms-ratelimit-remaining-subscription-reads": "14997"
      },
      "ResponseBody": [
        "{\r\n",
        "  \u0022name\u0022: \u0022azsmnet6309\u0022,\r\n",
        "  \u0022id\u0022: \u0022/subscriptions/2c224e7e-3ef5-431d-a57b-e71f4662e3a6/resourceGroups/azsmnet6375/providers/Microsoft.Network/networkInterfaces/azsmnet6309\u0022,\r\n",
        "  \u0022etag\u0022: \u0022W/\\\u0022e0713d9b-8a1e-454b-9046-633025fbd590\\\u0022[...]
    {
      "RequestUri": "/subscriptions/2c224e7e-3ef5-431d-a57b-e71f4662e3a6/resourceGroups/azsmnet6375/providers/Microsoft.Network/networkSecurityGroups/azsmnet6728-nsg?api-version=2017-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": [],
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\u0022a1661619-ee15-4f80-bc47-a1eb6adb426e\u0022",
        "x-ms-ratelimit-remainin[...]
[...]
    {
      "RequestUri": "/subscriptions/2c224e7e-3ef5-431d-a57b-e71f4662e3a6/providers/Microsoft.Network/locations/eastus/operations/f1f1d822-8751-4d7f-86c7-79e48fa5ad3b?api-version=2017-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": [],
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "14995"
      },
      "ResponseBody": [
        "{\r\n",
        "  \u0022status\u0022: \u0022Succeeded\u0022\r\n",
        "}"
      ]
    },
    {
      "RequestUri": "/subscriptions/2c224e7e-3ef5-431d-a57b-e71f4662e3a6/resourceGroups/azsmnet6375/providers/Microsoft.Network/networkWatchers/azsmnet1833/ipFlowVerify?api-version=2017-06-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "RequestBody": [
        "{\r\n",
        "  \u0022targetResourceId\u0022: \u0022/subscriptions/2c224e7e-3ef5-431d-a57b-e71f4662e3a6/resourceGroups/azsmnet6375/providers/Microsoft.Compute/virtualMachines/azsmnet6728\u0022,\r\n",
        "  \u0022direction\u0022: \u0022Outbound\u0022,\r\n",
        "  \u0022protocol\u0022: \u0022TCP\u0022,\r\n",
        "  \u0022localPort\u0022: \u002280\u0022,\r\n",
        "  \u0022remotePort\u0022: \u002280\u0022,\r\n",
        "  \u0022localIPAddress\u0022: \u002210.17.3.4\u0022,\r\n",
        "  \u0022remoteIPAddress\u0022: \u002212.11.12.14\u0022\r\n",
        "}"
      ],
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/2c224e7e-3ef5-431d-a57b-e71f4662e3a6/providers/Microsoft.Network/locations/eastus/operationResults/bb818206-5f18-4480-830e-9979031567b3?api-version=2017-06-01",
        "x-ms-ratelimit-remaining-subscription-writes": "1197"
      },
      "ResponseBody": [
        "{\r\n",
        "  \u0022access\u0022: \u0022Deny\u0022,\r\n",
        "  \u0022ruleName\u0022: \u0022securityRules/azsmnet8374\u0022\r\n",
        "}"
      ]
    }
  ],
  "Variables": {
    "SubscriptionId": "2c224e7e-3ef5-431d-a57b-e71f4662e3a6"
  }
}