{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/220fc532-6091-423c-8ba0-66c2397d591b/resourceGroups/dbaccount-1181/providers/Microsoft.DocumentDB/databaseAccounts/dbaccount-3177/gremlinDatabases/gremlin-db-284?api-version=2023-03-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-gatewayversion": "version=2.14.0",
        "x-ms-ratelimit-remaining-subscription-reads": "11757"
      },
      "ResponseBody": {
        "id": "/subscriptions/220fc532-6091-423c-8ba0-66c2397d591b/resourceGroups/dbaccount-1181/providers/Microsoft.DocumentDB/databaseAccounts/dbaccount-3177/gremlinDatabases/gremlin-db-284",
        "type": "Microsoft.DocumentDB/databaseAccounts/gremlinDatabases",
        "name": "gremlin-db-284",
        "properties": {
          "resource": {
            "id": "gremlin-db-284",
            "_rid": "AGx7AA==",
            "_self": "dbs/AGx7AA==/",
            "_etag": "\u002200005a01-0000-0700-0000-649ec1540000\u0022",
            "_colls": "colls/",
            "_users": "users/",
            "_ts": 1688125780
          }
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/220fc532-6091-423c-8ba0-66c2397d591b/resourceGroups/dbaccount-1181/providers/Microsoft.DocumentDB/databaseAccounts/dbaccount-3177/gremlinDatabases/gremlin-db-284/graphs/gremlin-graph-5485?api-version=2023-03-15-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "westus",
        "properties": {
          "resource": {
            "id": "gremlin-graph-5485",
            "indexingPolicy": {
              "automatic": true,
              "indexingMode": "consistent",
              "includedPaths": [
                {
                  "path": "/*"
                }
              ],
              "excludedPaths": [
                {
                  "path": "/pathToNotIndex/*"
                }
              ],
              "compositeIndexes": [
                [
                  {
                    "path": "/orderByPath1",
                    "order": "ascending"
                  },
                  {
                    "path": "/orderByPath2",
                    "order": "descending"
                  }
                ],
                [
                  {
                    "path": "/orderByPath3",
                    "order": "ascending"
                  },
                  {
                    "path": "/orderByPath4",
                    "order": "descending"
                  }
                ]
              ],
              "spatialIndexes": [
                {
                  "path": "/*",
                  "types": [
                    "Point"
                  ]
                }
              ]
            },
            "partitionKey": {
              "paths": [
                "/address"
              ],
              "kind": "Hash"
            },
            "defaultTtl": -1,
            "uniqueKeyPolicy": {
              "uniqueKeys": [
                {
                  "paths": [
                    "/testpath"
                  ]
                }
              ]
            },
            "conflictResolutionPolicy": {
              "mode": "LastWriterWins",
              "conflictResolutionPath": "/path",
              "conflictResolutionProcedure": ""
            }
          },
          "options": {
            "throughput": 700
          }
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/220fc532-6091-423c-8ba0-66c2397d591b/providers/Microsoft.DocumentDB/locations/westus2/operationsStatus/36d203b9-2f12-4efd-8f2a-c8c08f48310c?api-version=2023-03-15-preview",
        "Content-Type": "application/json",
        "Location": "https://management.azure.com/subscriptions/220fc532-6091-423c-8ba0-66c2397d591b/resourceGroups/dbaccount-1181/providers/Microsoft.DocumentDB/databaseAccounts/dbaccount-3177/gremlinDatabases/gremlin-db-284/graphs/gremlin-graph-5485/operationResults/36d203b9-2f12-4efd-8f2a-c8c08f48310c?api-version=2023-03-15-preview",
        "x-ms-gatewayversion": "version=2.14.0",
        "x-ms-ratelimit-remaining-subscription-writes": "1179"
      },
      "ResponseBody": {
        "status": "Enqueued"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/220fc532-6091-423c-8ba0-66c2397d591b/providers/Microsoft.DocumentDB/locations/westus2/operationsStatus/36d203b9-2f12-4efd-8f2a-c8c08f48310c?api-version=2023-03-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-gatewayversion": "version=2.14.0",
        "x-ms-ratelimit-remaining-subscription-reads": "11756"
      },
      "ResponseBody": {
        "status": "Enqueued"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/220fc532-6091-423c-8ba0-66c2397d591b/providers/Microsoft.DocumentDB/locations/westus2/operationsStatus/f3376988-0d9f-42b7-8d7d-de1504d5872f?api-version=2023-03-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-gatewayversion": "version=2.14.0",
        "x-ms-ratelimit-remaining-subscription-reads": "11731"
      },
      "ResponseBody": {
        "status": "Succeeded"
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "RandomSeed": "1973030006",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "220fc532-6091-423c-8ba0-66c2397d591b"
  }
}
