{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/23587e98-b6ac-4328-a753-03bcd3c8e744/resourceGroups/dbaccount-5017/providers/Microsoft.DocumentDB/databaseAccounts/dbaccount-9373/gremlinDatabases/gremlin-db-2126?api-version=2022-11-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-gatewayversion": "version=2.14.0",
        "x-ms-ratelimit-remaining-subscription-reads": "11556"
      },
      "ResponseBody": {
        "id": "/subscriptions/23587e98-b6ac-4328-a753-03bcd3c8e744/resourceGroups/dbaccount-5017/providers/Microsoft.DocumentDB/databaseAccounts/dbaccount-9373/gremlinDatabases/gremlin-db-2126",
        "type": "Microsoft.DocumentDB/databaseAccounts/gremlinDatabases",
        "name": "gremlin-db-2126",
        "properties": {
          "resource": {
            "id": "gremlin-db-2126",
            "_rid": "AzFKAA==",
            "_self": "dbs/AzFKAA==/",
            "_etag": "\u00220000e80e-0000-0700-0000-6434dca00000\u0022",
            "_colls": "colls/",
            "_users": "users/",
            "_ts": 1681185952
          }
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/23587e98-b6ac-4328-a753-03bcd3c8e744/resourceGroups/dbaccount-5017/providers/Microsoft.DocumentDB/databaseAccounts/dbaccount-9373/gremlinDatabases/gremlin-db-2126/graphs/gremlin-graph-1769?api-version=2022-11-15-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "westus",
        "properties": {
          "resource": {
            "id": "gremlin-graph-1769",
            "indexingPolicy": {
              "automatic": true,
              "indexingMode": "consistent",
              "includedPaths": [
                {
                  "path": "/*"
                }
              ],
              "excludedPaths": [
                {
                  "path": "/pathToNotIndex/*"
                }
              ],
              "compositeIndexes": [
                [
                  {
                    "path": "/orderByPath1",
                    "order": "ascending"
                  },
                  {
                    "path": "/orderByPath2",
                    "order": "descending"
                  }
                ],
                [
                  {
                    "path": "/orderByPath3",
                    "order": "ascending"
                  },
                  {
                    "path": "/orderByPath4",
                    "order": "descending"
                  }
                ]
              ],
              "spatialIndexes": [
                {
                  "path": "/*",
                  "types": [
                    "Point"
                  ]
                }
              ]
            },
            "partitionKey": {
              "paths": [
                "/address"
              ],
              "kind": "Hash"
            },
            "defaultTtl": -1,
            "uniqueKeyPolicy": {
              "uniqueKeys": [
                {
                  "paths": [
                    "/testpath"
                  ]
                }
              ]
            },
            "conflictResolutionPolicy": {
              "mode": "LastWriterWins",
              "conflictResolutionPath": "/path",
              "conflictResolutionProcedure": ""
            }
          },
          "options": {
            "throughput": 700
          }
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/23587e98-b6ac-4328-a753-03bcd3c8e744/providers/Microsoft.DocumentDB/locations/westus2/operationsStatus/3d283919-7ce3-4e6d-a231-d64bc1975ad2?api-version=2022-11-15-preview",
        "Content-Type": "application/json",
        "Location": "https://management.azure.com/subscriptions/23587e98-b6ac-4328-a753-03bcd3c8e744/resourceGroups/dbaccount-5017/providers/Microsoft.DocumentDB/databaseAccounts/dbaccount-9373/gremlinDatabases/gremlin-db-2126/graphs/gremlin-graph-1769/operationResults/3d283919-7ce3-4e6d-a231-d64bc1975ad2?api-version=2022-11-15-preview",
        "x-ms-gatewayversion": "version=2.14.0",
        "x-ms-ratelimit-remaining-subscription-writes": "1170"
      },
      "ResponseBody": {
        "status": "Enqueued"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/23587e98-b6ac-4328-a753-03bcd3c8e744/providers/Microsoft.DocumentDB/locations/westus2/operationsStatus/3d283919-7ce3-4e6d-a231-d64bc1975ad2?api-version=2022-11-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-gatewayversion": "version=2.14.0",
        "x-ms-ratelimit-remaining-subscription-reads": "11555"
      },
      "ResponseBody": {
        "status": "Enqueued"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/23587e98-b6ac-4328-a753-03bcd3c8e744/resourceGroups/dbaccount-5017/providers/Microsoft.DocumentDB/databaseAccounts/dbaccount-9373/gremlinDatabases/gremlin-db-2126/graphs/gremlin-graph-1769?api-version=2022-11-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-gatewayversion": "version=2.14.0",
        "x-ms-ratelimit-remaining-subscription-reads": "11541"
      },
      "ResponseBody": {
        "code": "NotFound",
        "message": "Message: {\u0022code\u0022:\u0022NotFound\u0022,\u0022message\u0022:\u0022Message: {\\\u0022Errors\\\u0022:[\\\u0022Resource Not Found. Learn more: https:\\\\/\\\\/aka.ms\\\\/cosmosdb-tsg-not-found\\\u0022]}\\r\\nActivityId: d528a79f-de9d-df12-679d-55b574ac60ab, Request URI: /apps/6fefe49e-9b2e-4c99-8f9c-2354fc7b8ffe/services/afca4836-3e38-4c8e-a331-429211e40491/partitions/82417563-8799-4432-a0b5-5793826c5e8b/replicas/133255041066764413s, RequestStats: \\r\\nRequestStartTime: 2023-04-11T04:07:[...]
[...]
