{
  "Entries": [
    {
      "RequestUri": "/subscriptions/075423e9-7d33-4166-8bdf-3920b04e3735/resourceGroups/ResourceGroup-CUS/providers/Microsoft.Security/iotSecuritySolutions?api-version=2019-08-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-original-request-ids": [
          "",
          ""
        ],
        "x-ms-ratelimit-remaining-subscription-resource-requests": [
          "749"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/075423e9-7d33-4166-8bdf-3920b04e3735/resourceGroups/resourcegroup-cus/providers/Microsoft.Security/IoTSecuritySolutions/iothub-cus\",\r\n      \"name\": \"iothub-cus\",\r\n      \"type\": \"Microsoft.Security/IoTSecuritySolutions\",\r\n      \"location\": \"Central US\",\r\n      \"properties\": {\r\n        \"displayName\": \"IotHub-CUS-LogAnalytics-CUS\",\r\n        \"status\": \"Enabled\",\r\n        \"export\": [],\r\n        \"disabledDataSources\": [],\r\n        \"workspace\": \"/subscriptions/075423e9-7d33-4166-8bdf-3920b04e3735/resourcegroups/resourcegroup-cus/providers/microsoft.operationalinsights/workspaces/loganalytics-cus\",\r\n        \"iotHubs\": [\r\n          \"/subscriptions/075423e9-7d33-4166-8bdf-3920b04e3735/resourcegroups/resourcegroup-cus/providers/microsoft.devices/iothubs/iothub-cus\"\r\n        ],\r\n        \"userDefinedResources\": {\r\n          \"query\": \"where type != \\\"microsoft.devices/iothubs\\\" | where name contains \\\"v2\\\"\",\r\n          \"querySubscriptions\": [\r\n            \"075423e9-7d33-4166-8bdf-3920b04e3735\"\r\n          ]\r\n        },\r\n        \"recommendationsConfiguration\": [\r\n          {\r\n            \"recommendationType\": \"IoT_ACRAuthentication\",\r\n            \"name\": \"Service prinicpal not used with ACR repository\",\r\n            \"status\": \"Enabled\"\r\n          },\r\n          {\r\n            \"recommendationType\": \"IoT_AgentSendsUnutilizedMessages\",\r\n            \"name\": \"Agent sending underutilized messages\",\r\n            \"status\": \"Enabled\"\r\n          },\r\n          {\r\n            \"recommendationType\": \"IoT_Baseline\",\r\n            \"name\": \"Operating system (OS) basel[...]
