{
  "Entries": [
    {
      "RequestUri": "https://ga-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/enrichment/anomalyDetection/configurations/78f3a4e7-fe53-4a05-9f4d-d724ab6c23a7/anomalies/query",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized",
        "x-api-key": "Sanitized"
      },
      "RequestBody": {
        "startTime": "2022-01-01T00:00:00.0000000Z",
        "endTime": "2022-04-15T00:00:00.0000000Z",
        "filter": {
          "dimensionFilter": [
            {
              "dimension": {
                "Dim1": "JPN",
                "Dim2": "JP"
              }
            },
            {
              "dimension": {
                "Dim1": "USD"
              }
            }
          ],
          "severityFilter": {
            "min": "High",
            "max": "High"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "timestamp": "2022-04-14T00:00:00Z",
            "dimension": {
              "Dim1": "JPN",
              "Dim2": "JP"
            },
            "property": {
              "anomalySeverity": "High",
              "value": 92696.0,
              "expectedValue": 80000.0
            }
          },
          {
            "timestamp": "2022-04-13T00:00:00Z",
            "dimension": {
              "Dim1": "JPN",
              "Dim2": "JP"
            },
            "property": {
              "anomalySeverity": "High",
              "value": 86617.0,
              "expectedValue": 80000.0
            }
          },
          {
            "timestamp": "2022-04-09T00:00:00Z",
            "dimension": {
              "Dim1": "JPN",
              "Dim2": "[...]
