{
  "Entries": [
    {
      "RequestUri": "https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/enrichment/anomalyDetection/configurations/fb5a6ed6-2b9e-4b72-8b0c-0046ead1c15c/anomalies/query",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized",
        "x-api-key": "Sanitized"
      },
      "RequestBody": {
        "startTime": "2020-10-01T00:00:00Z",
        "endTime": "2020-10-31T00:00:00Z",
        "filter": {
          "dimensionFilter": [
            {
              "dimension": {
                "city": "Delhi",
                "category": "Handmade"
              }
            },
            {
              "dimension": {
                "city": "Kolkata"
              }
            }
          ],
          "severityFilter": {
            "min": "Medium",
            "max": "Medium"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "timestamp": "2020-10-30T00:00:00Z",
            "dimension": {
              "city": "Delhi",
              "category": "Handmade"
            },
            "property": {
              "anomalySeverity": "Medium",
              "value": 503106.4,
              "expectedValue": 548623.43471338938
            }
          },
          {
            "timestamp": "2020-10-29T00:00:00Z",
            "dimension": {
              "city": "Delhi",
              "category": "Handmade"
            },
            "property": {
              "anomalySeverity": "Medium",
              "value": 513455.6,
              "expectedValue": 596967.90257180436
            }
          },
          {
            "timestamp": "2020-10-28T00:00:00Z",
            "dimension": {
              "[...]
