{
  "Entries": [
    {
      "RequestUri": "https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/enrichment/anomalyDetection/configurations/35c5ee94-8512-4cdc-afc0-fdbb36e38569/anomalies/query",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "startTime": "2020-10-01T00:00:00Z",
        "endTime": "2020-10-31T00:00:00Z"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "timestamp": "2020-10-22T00:00:00Z",
            "dimension": {
              "city": "Miami",
              "category": "Health \u0026 Personal Care"
            },
            "property": {
              "anomalySeverity": "High",
              "value": 0.0
            }
          },
          {
            "timestamp": "2020-10-21T00:00:00Z",
            "dimension": {
              "city": "Miami",
              "category": "Health \u0026 Personal Care"
            },
            "property": {
              "anomalySeverity": "High",
              "value": 0.0
            }
          },
          {
            "timestamp": "2020-10-20T00:00:00Z",
            "dimension": {
              "city": "Miami",
       [...]
