{
  "Entries": [
    {
      "RequestUri": "https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/enrichment/anomalyDetection/configurations/fb5a6ed6-2b9e-4b72-8b0c-0046ead1c15c/anomalies/dimension/query",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "startTime": "2020-10-01T00:00:00Z",
        "endTime": "2020-10-31T00:00:00Z",
        "dimensionName": "city",
        "dimensionFilter": {
          "dimension": {}
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          "__SUM__",
          "Karachi",
          "Los Angeles",
          "Delhi",
          "Manila",
          "Seoul",
          "Mumbai",
          "Beijing",
          "New York",
          "Miami",
          "Mexico City",
          "Tianjin",
          "Philadelphia",
          "Osaka",
          "Santiago",
          "Istanbul",
          "Taipei",
          "Moscow",
          "Kolkata",
          "Madrid",
          "Shenzhen",
          "Lahore",
          "Dallas",
          "Belo Horizonte",
          "Jakarta",
          "Lima",
          "Wuhan",
          "Hyderabad",
          "Cairo",
          "Bogota",
          "Shanghai",
          "Paris",
          "Bangkok",
          "Houston",
          "London",
          "Chennai",
          "Kinshasa",
          "Dhaka",
          "Buenos Aires",
          "Bengaluru",
          "Tokyo",
          "Lagos",
          "Hong Kong",
          "Guangzhou",
          "Chicago",
          "Tehran",
          "Sao Paulo",
          "Chongqing",
          "Rio de Janeiro",
          "Boston",
          "Ho Chi Minh City",
          "Barcelona",
          "Washington",
          "Shenyang",
          "Saint Petersburg",
          "Guadalajara",
          "Singapore",
          "Dongguan",
          "Luanda",
          "Baghdad",
          "Haora",
          "Toronto"
        ],
        "@nextLink": null
      }
    }
  ],
  "Variables": {
    "METRICSADVISOR_ACCOUNT_NAME": "js-metrics-advisor",
    "METRICSADVISOR_ENDPOINT_SUFFIX": null,
    "RandomSeed": "1018134812"
  }
}