{
  "Entries": [
    {
      "RequestUri": "https://ga-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/enrichment/anomalyDetection/configurations/78f3a4e7-fe53-4a05-9f4d-d724ab6c23a7/incidents/query",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized",
        "x-api-key": "Sanitized"
      },
      "RequestBody": {
        "startTime": "2022-01-01T00:00:00.0000000Z",
        "endTime": "2022-04-15T00:00:00.0000000Z",
        "filter": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "incidentId": "88ecf25a0e6bd330ef9e7b49b7c5b92b-180255ea000",
            "startTime": "2022-04-12T00:00:00Z",
            "lastTime": "2022-04-14T00:00:00Z",
            "rootNode": {
              "dimension": {
                "Dim1": "__SUM__",
                "Dim2": "__SUM__"
              }
            },
            "property": {
              "maxSeverity": "High",
              "incidentStatus": "Active",
              "valueOfRootNode": 93058.0,
              "expectedValueOfRootNode": 80000.0
            }
          },
          {
            "incidentId": "88ecf25a0e6bd330ef9e7b49b7c5b92b-1800b9ed400",
            "startTime": "2022-04-07T00:00:00Z",
            "lastTime": "2022-04-09T00:00:00Z",
            "rootNode": {
              "dimension": {
                "Dim1": "__SUM__",
                "Dim2": "__SUM__"
              }
            },
            "property": {
              "maxSeverity": "High",
              "incidentStatus": "Active",
              "valueO[...]
    {
      "RequestUri": "https://ga-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/enrichment/anomalyDetection/configurations/78f3a4e7-fe53-4a05-9f4d-d724ab6c23a7/incidents/88ecf25a0e6bd330ef9e7b49b7c5b92b-17fc385cc00/rootCause",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized",
        "x-api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "rootCause": {
              "dimension": {
                "Dim1": "JPN",
                "Dim2": "JP"
              }
            },
            "path": [
              "Dim1",
              "Dim2"
            ],
            "score": 0.24902853634082778,
            "description": "Increase on Dim1 = JPN | Dim2 = JP contributes the most to current incident."
          }
        ]
      }
    }
  ],
  "Variables": {
    "METRICSADVISOR_ACCOUNT_NAME": "ga-metrics-advisor",
    "METRICSADVISOR_ENDPOINT_SUFFIX": null,
    "METRICSADVISOR_PRIMARY_API_KEY": "Sanitized",
    "METRICSADVISOR_SUBSCRIPTION_KEY": "Sanitized",
    "RandomSeed": "2039288023"
  }
}
