{
  "Entries": [
    {
      "RequestUri": "https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/enrichment/anomalyDetection/configurations/fb5a6ed6-2b9e-4b72-8b0c-0046ead1c15c/incidents/query",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized",
        "x-api-key": "Sanitized"
      },
      "RequestBody": "{\u0022startTime\u0022:\u00222020-10-01T00:00:00Z\u0022,\u0022endTime\u0022:\u00222020-10-31T00:00:00Z\u0022,\u0022filter\u0022:{\u0022dimensionFilter\u0022:[{\u0022dimension\u0022:{\u0022city\u0022:\u0022__SUM__\u0022,\u0022category\u0022:\u0022Grocery \u0026 Gourmet Food\u0022}}]}}",
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "incidentId": "736eed64368bb6a372e855322a15a736-17552c14800",
            "startTime": "2020-10-23T00:00:00Z",
            "lastTime": "2020-10-23T00:00:00Z",
            "rootNode": {
              "dimension": {
                "city": "__SUM__",
                "category": "Grocery \u0026 Gourmet Food"
              }
            },
            "property": {
              "maxSeverity": "Low",
              "incidentStatus": "Active",
              "valueOfRootNode": 63.400000000000006,
              "expectedValueOfRootNode": 48.22158178606567
            }
          },
          {
            "incidentId": "736eed64368bb6a372e855322a15a736-175434e3400",
            "startTime": "2020-10-20T00:00:00Z",
            "lastTime": "2020-10-20T00:00:00Z",
            "rootNode": {
              "dimension": {
                "city": "__SUM__",
                "category": "Grocery \u0026 Gourmet Food"
              }
            },
            "property": {
              "maxSeverity": "Low",
              "incidentStatus"[...]
    {
      "RequestUri": "https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/enrichment/anomalyDetection/configurations/fb5a6ed6-2b9e-4b72-8b0c-0046ead1c15c/incidents/736eed64368bb6a372e855322a15a736-174e1756000/rootCause",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized",
        "x-api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "rootCause": {
              "dimension": {
                "category": "Grocery \u0026 Gourmet Food",
                "city": "Houston"
              }
            },
            "path": [
              "city"
            ],
            "score": 0.093254247542794377,
            "description": "Several potential root causes has been identified, most contributors are: category = Grocery \u0026 Gourmet Food | city = Houston"
          },
          {
            "rootCause": {
              "dimension": {
                "category": "Grocery \u0026 Gourmet Food",
                "city": "Manila"
              }
            },
            "path": [
              "city"
            ],
            "score": 0.070565102895706833,
            "description": "Several potential root causes has [...]
