{
  "Entries": [
    {
      "RequestUri": "https://ga-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/enrichment/anomalyDetection/configurations/efaee305-f049-43ec-9f9b-76026d55c14a/incidents/query",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized",
        "x-api-key": "Sanitized"
      },
      "RequestBody": {
        "startTime": "2021-10-01T00:00:00Z",
        "endTime": "2021-10-31T00:00:00Z",
        "filter": {
          "dimensionFilter": [
            {
              "dimension": {
                "region": "Delhi",
                "category": "Handmade"
              }
            },
            {
              "dimension": {
                "region": "Kolkata"
              }
            }
          ]
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "incidentId": "5dd4e2ae7218115fea669ce9d33161a6-17cce7ef800",
            "startTime": "2021-10-22T00:00:00Z",
            "lastTime": "2021-10-30T00:00:00Z",
            "rootNode": {
              "dimension": {
                "region": "Delhi",
                "category": "Handmade"
              }
            },
            "property": {
              "maxSeverity": "Medium",
              "incidentStatus": "Active",
              "valueOfRootNode": 403239.4,
              "expectedValueOfRootNode": 371195.56461037876
            }
          },
          {
            "incidentId": "5dd4e2ae7218115fea669ce9d33161a6-17c9aff6000",
            "startTime": "2021-10-19T00:00:00Z",
            "lastTime": "2021-10-20T00:00:00Z",
            "rootNode": {
              "dimension": {
                "region": "Delhi",
                "category": "Handmade"
              }
            },
            "property": {
              "maxSeverity": "Medium",
              "incidentStatus": "Active",
              "valueOfRootNode": 585573.4,
              "expectedValueOfRootNode": 588198.1834146369
            }
          }
        ]
      }
    }
  ],
  "Variables": {
    "METRICSADVISOR_ACCOUNT_NAME": "ga-metrics-advisor",
    "METRICSADVISOR_ENDPOINT_SUFFIX": null,
    "METRICSADVISOR_PRIMARY_API_KEY": "Sanitized",
    "METRICSADVISOR_SUBSCRIPTION_KEY": "Sanitized",
    "RandomSeed": "144416950"
  }
}