{
  "Entries": [
    {
      "RequestUri": "https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/enrichment/anomalyDetection/configurations/fb5a6ed6-2b9e-4b72-8b0c-0046ead1c15c/incidents/query",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized",
        "x-api-key": "Sanitized"
      },
      "RequestBody": {
        "startTime": "2020-10-01T00:00:00Z",
        "endTime": "2020-10-31T00:00:00Z",
        "filter": {
          "dimensionFilter": [
            {
              "dimension": {
                "city": "Delhi",
                "category": "Handmade"
              }
            },
            {
              "dimension": {
                "city": "Kolkata"
              }
            }
          ]
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "incidentId": "39b251f509eb2acb6d5ddeb5e8ccbc0d-17576cdcc00",
            "startTime": "2020-10-27T00:00:00Z",
            "lastTime": "2020-10-30T00:00:00Z",
            "rootNode": {
              "dimension": {
                "city": "Kolkata",
                "category": "__SUM__"
              }
            },
            "property": {
              "maxSeverity": "Medium",
              "incidentStatus": "Active"
            }
          },
          {
            "incidentId": "3c400b43bdbbe8260df3ad63f0566df7-1752eb4c400",
            "startTime": "2020-10-16T00:00:00Z",
            "lastTime": "2020-10-16T00:00:00Z",
            "rootNode": {
              "dimension": {
                "city": "Kolkata",
                "category": "Cell Phones"
              }
            },
            "property": {
              "maxSeverity": "Low",
              "incidentStatus": "Active"
            }
[...]
