{
  "Entries": [
    {
      "RequestUri": "https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/enrichment/anomalyDetection/configurations/fb5a6ed6-2b9e-4b72-8b0c-0046ead1c15c/incidents/736eed64368bb6a372e855322a15a736-174e1756000/rootCause",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized",
        "x-api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "rootCause": {
              "dimension": {
                "category": "Grocery \u0026 Gourmet Food",
                "city": "Houston"
              }
            },
            "path": [
              "city"
            ],
            "score": 0.093254247542794544,
            "description": "Several potential root causes has been identified, most contributors are: category = Grocery \u0026 Gourmet Food | city = Houston"
          },
          {
            "rootCause": {
              "dimension": {
                "category": "Grocery \u0026 Gourmet Food",
                "city": "Manila"
              }
            },
            "path": [
              "city"
            ],
            "score": 0.070565102895706944,
            "description": "Several potential root causes has [...]
