{
  "Entries": [
    {
      "RequestUri": "/subscriptions/90c9cfa9-ec88-4677-a8ce-5c74405ef60a/providers/Microsoft.SignalRService?api-version=2015-11-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/90c9cfa9-ec88-4677-a8ce-5c74405ef60a/providers/Microsoft.SignalRService\",\r\n  \"namespace\": \"Microsoft.SignalRService\",\r\n  \"authorizations\": [\r\n    {\r\n      \"applicationId\": \"cdad765c-f191-43ba-b9f5-7aef392f811d\",\r\n      \"roleDefinitionId\": \"346b504e-4aec-45d1-be25-a6e10f3cb4fe\"\r\n    }\r\n  ],\r\n  \"resourceTypes\": [\r\n    {\r\n      \"resourceType\": \"SignalR\",\r\n      \"locations\": [\r\n        \"Australia East\",\r\n        \"Brazil South\",\r\n        \"Canada Central\",\r\n        \"Canada East\",\r\n        \"Central US\",\r\n        \"East Asia\",\r\n        \"East US\",\r\n        \"East US 2\",\r\n        \"France Central\",\r\n        \"Germany West Central\",\r\n        \"Japan East\",\r\n        \"Korea Central\",\r\n        \"North Europe\",\r\n        \"South Africa North\",\r\n        \"South Central US\",\r\n        \"Southeast Asia\",\r\n        \"Switzerland North\",\r\n        \"UK South\",\r\n        \"West Europe\",\r\n        \"West US\",\r\n        \"West US 2\",\r\n        \"UAE North\",\r\n        \"Central US EUAP\",\r\n        \"Japan West\",\r\n        \"North Central US\",\r\n        \"Norway East\",\r\n        \"West Central US\",\r\n        \"West US 3\"\r\n      ],\r\n      \"apiVersions\": [\r\n        \"2021-06-01-preview\",\r\n        \"2021-04-01-preview\",\r\n        \"2020-07-01-preview\",\r\n        \"2020-05-01\",\r\n        \"2018-10-01\",\r\n        \"2018-03-01-preview\"\r\n      ],\r\n      \"capabilities\": \"CrossResourceGroupResourceMove, CrossSubscriptionResourceMove, SystemAssignedResourceIdentity\"\r\n    },\r\n    {\r\n      \"resourceType\": \"WebPubSub\",\r\n      \"locations\": [\r\n        \"East US\",\r\n        \"North Europe\",\r\n        \"Southeast Asia\",\r\n        \"West Europe\",\r\n        \"West US 2\",\r\n        \"Central US EUAP\",\r\n        \"West Central US\"\r\n      ],\r\n      \"apiVersions\": [\r\n        \"2021-06-01-preview\",\r\n        \"2021-04-01-preview\",\r\n[...]
    {
      "RequestUri": "/subscriptions/90c9cfa9-ec88-4677-a8ce-5c74405ef60a/resourcegroups/signalr-test-rg2944?api-version=2015-11-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"Australia East\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/90c9cfa9-ec88-4677-a8ce-5c74405ef60a/resourceGroups/signalr-test-rg2944\",\r\n  \"name\": \"signalr-test-rg2944\",\r\n  \"location\": \"australiaeast\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/90c9cfa9-ec88-4677-a8ce-5c74405ef60a/resourceGroups/signalr-test-rg2944/providers/Microsoft.SignalRService/signalR/signalr-test7472?api-version=2021-06-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"sku\": {\r\n    \"name\": \"Standard_S1\",\r\n    \"tier\": \"Standard\",\r\n    \"capacity\": 2\r\n  },\r\n  \"properties\": {\r\n    \"features\": [\r\n      {\r\n        \"flag\": \"ServiceMode\",\r\n        \"value\": \"Default\"\r\n      }\r\n    ],\r\n    \"upstream\": {\r\n      \"templates\": [\r\n        {\r\n          \"urlTemplate\": \"http://foo.com\"\r\n        }\r\n      ]\r\n    },\r\n    \"networkACLs\": {\r\n      \"defaultAction\": \"Deny\",\r\n      \"publicNetwork\": {\r\n        \"allow\": [\r\n          \"ClientConnection\"\r\n        ]\r\n      },\r\n      \"privateEndpoints\": [\r\n        {\r\n          \"name\": \"mySignalRService.1fa229cd-bf3f-47f0-8c49-afb36723997e\",\r\n          \"allow\": [\r\n            \"ServerConnection\"\r\n          ]\r\n        }\r\n      ]\r\n    }\r\n  },\r\n  \"kind\": \"SignalR\",\r\n  \"location\": \"Australia East\",\r\n  \"tags\": {\r\n    \"key1\": \"value1\",\r\n    \"key2\": \"value2\"\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/90c9cfa9-ec88-4677-a8ce-5c74405ef60a/resourceGroups/signalr-test-rg2944/providers/Microsoft.SignalRService/SignalR/signalr-test7472/operationResults/c0dd98d9-5181-499d-8bb3-f914830b0b9c?api-version=2021-06-01-preview"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1198"
        ],
        "x-rp-server-mvid": [
          "c8c892ec-b6b9-400b-ba22-7ccdea42e60a"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/90c9cfa9-ec88-4677-a8ce-5c74405ef60a/resourceGroups/signalr-test-rg2944/providers/Microsoft.SignalRService/SignalR/signalr-test7472/operationStatuses/c0dd98d9-5181-499d-8bb3-f914830b0b9c?api-version=2021-06-01-preview"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"sku\": {\r\n    \"name\": \"Standard_S1\",\r\n    \"tier\": \"Standard\",\r\n    \"size\": \"S1\",\r\n    \"capacity\": 2\r\n  },\r\n  \"properties\": {\r\n    \"provisioningState\": \"Creating\",\r\n    \"externalIP\": null,\r\n    \"hostName\": \"signalr-test7472.service.signalr.net\",\r\n    \"publicPort\": 443,\r\n    \"serverPort\": 443,\r\n    \"version\": \"1.0-preview\",\r\n    \"privateEndpointConnections\": [],\r\n    \"sharedPrivateLinkResources\": [],\r\n    \"tls\": {\r\n      \"clientCertEnabled\": false\r\n    },\r\n    \"features\": [\r\n      {\r\n        \"flag\": \"ServiceMode\",\r\n        \"value\": \"Default\",\r\n        \"properties\": {}\r\n      },\r\n      {\r\n        \"flag\": \"EnableConnectivityLogs\",\r\n        \"value\": \"False\",\r\n        \"properties\": {}\r\n      },\r\n      {\r\n        \"flag\": \"EnableMessagingLogs\",\r\n        \"value\": \"False\",\r\n        \"properties\": {}\r\n      },\r\n      {\r\n        \"flag\": \"EnableLiveTrace\",\r\n        \"value\": \"False\",\r\n        \"properties\": {}\r\n      }\r\n    ],\r\n    \"cors\": {\r\n      \"allowedOrigins\": [\r\n        \"*\"\r\n      ]\r\n    },\r\n    \"upstream\": {\r\n      \"templates\": [\r\n        {\r\n          \"hubPattern\": \"*\",\r\n          \"eventPattern\": \"*\",\r\n          \"categoryPattern\": \"*\",\r\n          \"urlTemplate\": \"http://foo.com\",\r\n          \"auth\": null\r\n        }\r\n      ]\r\n    },\r\n    \"networkACLs\": {\r\n      \"defaultAction\": \"Deny\",\r\n      \"publicNetwork\": {\r\n        \"allow\": [\r\n          \"ClientConnection\"\r\n        ],\r\n        \"deny\": null\r\n      },\r\n      \"privateEndpoints\": []\r\n    },\r\n    \"publicNetworkAccess\": \"Enabled\",\r\n    \"disableLocalAuth\": false,\r\n    \"disableAadAuth\": false\r\n  },\r\n  \"kind\": \"SignalR\",\r\n  \"systemData\": {\r\n    \"createdBy\": \"59b7932e-bfb4-4220-8281-70105f3056cc\",\r\n    \"createdByType\": \"Application\",\r\n    \"createdAt\": \"2021-07-12T08:53:12.0051064Z\",\r\n    \"lastModifiedBy\": \"59b7932e-bfb4-4220-8281-70105f3056cc\",\r\n    \"lastModifiedByType\": \"Application\",\r\n    \"lastModifiedAt\": \"2021-07-12T08:53:12.0051064Z\"\r\n  },\r\n  \"location\": \"australiaeast\",\r\n  \"tags\": {\r\n    \"key1\": \"value1\",\r\n    \"key2\": \"value2\"\r\n  },\r\n  \"id\": \"/subscriptions/90c9cfa9-ec88-4677-a8ce-5c74405ef60a/resourceGroups/signalr-test-rg2944/providers/Microsoft.SignalRService/SignalR/signalr-test7472\",\r\n  \"name\": \"signalr-test7472\",\r\n  \"type\": \"Microsoft.SignalRService/SignalR\"\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/90c9cfa9-ec88-4677-a8ce-5c74405ef60a/resourceGroups/signalr-test-rg2944/providers/Microsoft.SignalRService/SignalR/signalr-test7472/operationStatuses/c0dd98d9-5181-499d-8bb3-f914830b0b9c?api-version=2021-06-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11998"
        ],
        "x-rp-server-mvid": [
          "c8c892ec-b6b9-400b-ba22-7ccdea42e60a"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/90c9cfa9-ec88-4677-a8ce-5c74405ef60a/resourceGroups/signalr-test-rg2944/providers/Microsoft.SignalRService/SignalR/signalr-test7472/operationStatuses/c0dd98d9-5181-499d-8bb3-f914830b0b9c\",\r\n  \"name\": \"c0dd98d9-5181-499d-8bb3-f914830b0b9c\",\r\n  \"status\": \"Running\",\r\n  \"startTime\": \"2021-07-12T08:53:16.0331178Z\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/90c9cfa9-ec88-4677-a8ce-5c74405ef60a/resourceGroups/signalr-test-rg2944/providers/Microsoft.SignalRService/SignalR/signalr-test7472/operationStatuses/c0dd98d9-5181-499d-8bb3-f914830b0b9c?api-version=2021-06-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11996"
        ],
        "x-rp-server-mvid": [
          "c8c892ec-b6b9-400b-ba22-7ccdea42e60a"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/90c9cfa9-ec88-4677-a8ce-5c74405ef60a/resourceGroups/signalr-test-rg2944/providers/Microsoft.SignalRService/SignalR/signalr-test7472/operationStatuses/c0dd98d9-5181-499d-8bb3-f914830b0b9c\",\r\n  \"name\": \"c0dd98d9-5181-499d-8bb3-f914830b0b9c\",\r\n  \"status\": \"Succeeded\",\r\n  \"startTime\": \"2021-07-12T08:53:16.0331178Z\",\r\n  \"endTime\": \"2021-07-12T08:54:29.3654137Z\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/90c9cfa9-ec88-4677-a8ce-5c74405ef60a/resourceGroups/signalr-test-rg2944/providers/Microsoft.SignalRService/signalR?api-version=2021-06-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11994"
        ],
        "x-rp-server-mvid": [
          "c8c892ec-b6b9-400b-ba22-7ccdea42e60a"
        ],
        "Content-[...]
    {
      "RequestUri": "/subscriptions/90c9cfa9-ec88-4677-a8ce-5c74405ef60a/resourceGroups/signalr-test-rg2944/providers/Microsoft.SignalRService/signalR/signalr-test7472/listKeys?api-version=2021-06-01-preview",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "x-rp-server-mvid": [
          "c8c892ec-b6b9-400b-ba22-7ccdea42e60a"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"primaryKey\": \"UVcte8BfJP4d5ZzvVIYQFFXBqrBJhfbYi1/jn7F0jpY=\",\r\n  \"secondaryKey\": \"UQb8TwqmWhKEGWUyZMbX1zN71EF8VyFZIL8iBPkSQLQ=\",\r\n  \"primaryConnectionString\": \"Endpoint=https://signalr-test7472.service.signalr.net;AccessKey=UVcte8BfJP4d5ZzvVIYQFFXBqrBJhfbYi1/jn7F0jpY=;Version=1.0;\",\r\n  \"secondaryConnectionString\": \"Endpoint=https://signalr-test7472.service.signalr.net;AccessKey=UQb8TwqmWhKEGWUyZMbX1zN71EF8VyFZIL8iBPkSQLQ=;Version=1.0;\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/90c9cfa9-ec88-4677-a8ce-5c74405ef60a/resourceGroups/signalr-test-rg2944/providers/Microsoft.SignalRService/signalR/signalr-test7472?api-version=2021-06-01-preview",
      "RequestMethod": "PATCH",
      "RequestBody": "{\r\n  \"sku\": {\r\n    \"name\": \"Free_F1\",\r\n    \"tier\": \"Free\",\r\n    \"capacity\": 1\r\n  },\r\n  \"properties\": {\r\n    \"features\": [\r\n      {\r\n        \"value\": \"Serverless\"\r\n      }\r\n    ],\r\n    \"cors\": {\r\n      \"allowedOrigins\": [\r\n        \"http://example.com:12345\",\r\n        \"https://contoso.com\"\r\n      ]\r\n    },\r\n    \"disableLocalAuth\": true\r\n  },\r\n  \"tags\": {\r\n    \"key2\": \"value2\",\r\n    \"key3\": \"value3\",\r\n    \"key4\": \"value4\"\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/90c9cfa9-ec88-4677-a8ce-5c74405ef60a/resourceGroups/signalr-test-rg2944/providers/Microsoft.SignalRService/SignalR/signalr-test7472/operationResults/548a688a-5c0c-4401-8ec0-c962922a5d9f?api-version=2021-06-01-preview"
        ],
        "x-rp-server-mvid": [
          "c8c892ec-b6b9-400b-ba22-7ccdea42e60a"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/90c9cfa9-ec88-4677-a8ce-5c74405ef60a/resourceGroups/signalr-test-rg2944/providers/Microsoft.SignalRService/SignalR/signalr-test7472/operationStatuses/548a688a-5c0c-4401-8ec0-c962922a5d9f?api-version=2021-06-01-preview"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1197"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 202
    },
[...]
    {
      "RequestUri": "/subscriptions/90c9cfa9-ec88-4677-a8ce-5c74405ef60a/resourceGroups/signalr-test-rg2944/providers/Microsoft.SignalRService/signalR/signalr-test7472/regenerateKey?api-version=2021-06-01-preview",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"keyType\": \"Primary\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/90c9cfa9-ec88-4677-a8ce-5c74405ef60a/resourceGroups/signalr-test-rg2944/providers/Microsoft.SignalRService/SignalR/signalr-test7472/operationResults/6499e719-4911-48c7-a3dc-7cd09faaf3d5?api-version=2021-06-01-preview"
        ],
        "x-ms-ratelimit-remaining[...]
[...]
    {
      "RequestUri": "/subscriptions/90c9cfa9-ec88-4677-a8ce-5c74405ef60a/resourceGroups/signalr-test-rg2944/providers/Microsoft.SignalRService/SignalR/signalr-test7472/operationResults/6499e719-4911-48c7-a3dc-7cd09faaf3d5?api-version=2021-06-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-rp-server-mvid": [
          "c8c892ec-b6b9-400b-ba22-7ccdea42e60a"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11985"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/90c9cfa9-ec88-4677-a8ce-5c74405ef60a/resourceGroups/signalr-test-rg2944/providers/Microsoft.SignalRService/SignalR/signalr-test7472/operationResults/b73e50d5-4826-4d7f-9e12-3823eea8f77c?api-version=2021-06-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-rp-server-mvid": [
          "c8c892ec-b6b9-400b-ba22-7ccdea42e60a"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11979"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 204
    }
  ],
  "Names": {
    "CreateResourceGroup": [
      "signalr-test-rg2944"
    ],
    "SignalRStandardTierToFreeTest": [
      "signalr-service-test-08203312"
    ],
    "CreateSignalR": [
      "signalr-test7472"
    ]
  },
  "Variables": {
    "SubscriptionId": "90c9cfa9-ec88-4677-a8ce-5c74405ef60a"
  }
}