{
  "Entries": [
    {
      "RequestUri": "/subscriptions/ef72249e-9785-4799-a76b-7cdd80e1b1d0/providers/Microsoft.SignalRService?api-version=2015-11-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11996"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/ef72249e-9785-4799-a76b-7cdd80e1b1d0/providers/Microsoft.SignalRService\",\r\n  \"namespace\": \"Microsoft.SignalRService\",\r\n  \"authorizations\": [\r\n    {\r\n      \"applicationId\": \"cdad765c-f191-43ba-b9f5-7aef392f811d\",\r\n      \"roleDefinitionId\": \"346b504e-4aec-45d1-be25-a6e10f3cb4fe\"\r\n    }\r\n  ],\r\n  \"resourceTypes\": [\r\n    {\r\n      \"resourceType\": \"SignalR\",\r\n      \"locations\": [\r\n        \"East US\",\r\n        \"West US\",\r\n        \"West Europe\",\r\n        \"West US 2\",\r\n        \"East US 2\",\r\n        \"North Europe\",\r\n        \"Australia East\",\r\n        \"Canada East\",\r\n        \"Central US\",\r\n        \"Japan East\",\r\n        \"UK South\",\r\n        \"South Central US\",\r\n        \"Brazil South\",\r\n        \"France Central\",\r\n        \"Korea Central\",\r\n        \"Switzerland North\",\r\n        \"Southeast Asia\",\r\n        \"Central US EUAP\",\r\n        \"West Central US\",\r\n        \"East Asia\",\r\n        \"Canada Central\",\r\n        \"Germany West Central\"\r\n      ],\r\n      \"apiVersions\": [\r\n        \"2020-07-01-preview\",\r\n        \"2020-05-01\",\r\n        \"2018-10-01\",\r\n        \"2018-03-01-preview\"\r\n      ],\r\n      \"capabilities\": \"CrossResourceGroupResourceMove, CrossSubscriptionResourceMove, SystemAssignedResourceIdentity\"\r\n    },\r\n    {\r\n      \"resourceType\": \"locations\",\r\n      \"locations\": [],\r\n      \"apiVersions\": [\r\n        \"2020-07-01-preview\",\r\n        \"2020-05-01\",\r\n        \"2018-10-01\",\r\n        \"2018-03-01-preview\"\r\n      ]\r\n    },\r\n    {\r\n      \"resourceType\": \"locations/operationResults\",\r\n      \"locations\": [\r\n        \"East US\",\r\n        \"West US\"[...]
    {
      "RequestUri": "/subscriptions/ef72249e-9785-4799-a76b-7cdd80e1b1d0/resourcegroups/signalr-test-rg6675?api-version=2015-11-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"East US\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/ef72249e-9785-4799-a76b-7cdd80e1b1d0/resourceGroups/signalr-test-rg6675\",\r\n  \"name\": \"signalr-test-rg6675\",\r\n  \"location\": \"eastus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/ef72249e-9785-4799-a76b-7cdd80e1b1d0/resourceGroups/signalr-test-rg6675/providers/Microsoft.SignalRService/signalR/signalr-test2356?api-version=2020-07-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"sku\": {\r\n    \"name\": \"Free_F1\",\r\n    \"tier\": \"Free\"\r\n  },\r\n  \"properties\": {\r\n    \"features\": [\r\n      {\r\n        \"flag\": \"ServiceMode\",\r\n        \"value\": \"Default\"\r\n      }\r\n    ],\r\n    \"upstream\": {\r\n      \"templates\": [\r\n        {\r\n          \"urlTemplate\": \"http://foo.com\"\r\n        }\r\n      ]\r\n    },\r\n    \"networkACLs\": {\r\n      \"defaultAction\": \"Deny\",\r\n      \"publicNetwork\": {\r\n        \"allow\": [\r\n          \"ClientConnection\"\r\n        ]\r\n      },\r\n      \"privateEndpoints\": [\r\n        {\r\n          \"name\": \"mySignalRService.1fa229cd-bf3f-47f0-8c49-afb36723997e\",\r\n          \"allow\": [\r\n            \"ServerConnection\"\r\n          ]\r\n        }\r\n      ]\r\n    }\r\n  },\r\n  \"kind\": \"SignalR\",\r\n  \"location\": \"East US\",\r\n  \"tags\": {\r\n    \"key1\": \"value1\",\r\n    \"key2\": \"value2\"\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/ef72249e-9785-4799-a76b-7cdd80e1b1d0/resourceGroups/signalr-test-rg6675/providers/Microsoft.SignalRService/locations/eastus/operationResults/e66e1266-72c4-4d86-9706-a9b352a536d1/SignalR/signalr-test2356?api-version=2020-07-01-preview"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1198"
        ],
        "x-rp-server-mvid": [
          "7e5321a5-c0c2-45cc-b2d9-1c712b58a9d7"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/ef72249e-9785-4799-a76b-7cdd80e1b1d0/resourceGroups/signalr-test-rg6675/providers/Microsoft.SignalRService/locations/eastus/operationStatuses/e66e1266-72c4-4d86-9706-a9b352a536d1/SignalR/signalr-test2356?api-version=2020-07-01-preview"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"sku\": {\r\n    \"name\": \"Free_F1\",\r\n    \"tier\": \"Free\",\r\n    \"size\": \"F1\",\r\n    \"capacity\": 1\r\n  },\r\n  \"properties\": {\r\n    \"provisioningState\": \"Creating\",\r\n    \"externalIP\": null,\r\n    \"hostName\": \"signalr-test2356.service.signalr.net\",\r\n    \"publicPort\": 443,\r\n    \"serverPort\": 443,\r\n    \"version\": \"1.0-preview\",\r\n    \"privateEndpointConnections\": [],\r\n    \"tls\": {\r\n      \"clientCertEnabled\": false\r\n    },\r\n    \"features\": [\r\n      {\r\n        \"flag\": \"ServiceMode\",\r\n        \"value\": \"Default\",\r\n        \"properties\": {}\r\n      },\r\n      {\r\n        \"flag\": \"EnableConnectivityLogs\",\r\n        \"value\": \"False\",\r\n        \"properties\": {}\r\n      },\r\n      {\r\n        \"flag\": \"EnableMessagingLogs\",\r\n        \"value\": \"False\",\r\n        \"properties\": {}\r\n      }\r\n    ],\r\n    \"cors\": {\r\n      \"allowedOrigins\": [\r\n        \"*\"\r\n      ]\r\n    },\r\n    \"upstream\": {\r\n      \"templates\": [\r\n        {\r\n          \"hubPattern\": \"*\",\r\n          \"eventPattern\": \"*\",\r\n          \"categoryPattern\": \"*\",\r\n          \"urlTemplate\": \"http://foo.com\",\r\n          \"auth\": null\r\n        }\r\n      ]\r\n    },\r\n    \"networkACLs\": {\r\n      \"defaultAction\": \"Deny\",\r\n      \"publicNetwork\": {\r\n        \"allow\": [\r\n          \"ServerConnection\",\r\n          \"ClientConnection\",\r\n          \"RESTAPI\"\r\n        ],\r\n        \"deny\": null\r\n      },\r\n      \"privateEndpoints\": []\r\n    }\r\n  },\r\n  \"kind\": \"SignalR\",\r\n  \"location\": \"eastus\",\r\n  \"tags\": {\r\n    \"key1\": \"value1\",\r\n    \"key2\": \"value2\"\r\n  },\r\n  \"id\": \"/subscriptions/ef72249e-9785-4799-a76b-7cdd80e1b1d0/resourceGroups/signalr-test-rg6675/providers/Microsoft.SignalRService/SignalR/signalr-test2356\",\r\n  \"name\": \"signalr-test2356\",\r\n  \"type\": \"Microsoft.SignalRService/SignalR\"\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/ef72249e-9785-4799-a76b-7cdd80e1b1d0/resourceGroups/signalr-test-rg6675/providers/Microsoft.SignalRService/locations/eastus/operationStatuses/e66e1266-72c4-4d86-9706-a9b352a536d1/SignalR/signalr-test2356?api-version=2020-07-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11995"
        ],
        "x-rp-server-mvid": [
          "7e5321a5-c0c2-45cc-b2d9-1c712b58a9d7"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/ef72249e-9785-4799-a76b-7cdd80e1b1d0/resourceGroups/signalr-test-rg6675/providers/Microsoft.SignalRService/locations/eastus/operationStatuses/e66e1266-72c4-4d86-9706-a9b352a536d1/SignalR/signalr-test2356\",\r\n  \"name\": \"e66e1266-72c4-4d86-9706-a9b352a536d1\",\r\n  \"status\": \"Running\",\r\n  \"startTime\": \"2021-01-06T08:24:21.4482323Z\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/ef72249e-9785-4799-a76b-7cdd80e1b1d0/resourceGroups/signalr-test-rg6675/providers/Microsoft.SignalRService/locations/eastus/operationStatuses/e66e1266-72c4-4d86-9706-a9b352a536d1/SignalR/signalr-test2356?api-version=2020-07-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11992"
        ],
        "x-rp-server-mvid": [
          "7e5321a5-c0c2-45cc-b2d9-1c712b58a9d7"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/ef72249e-9785-4799-a76b-7cdd80e1b1d0/resourceGroups/signalr-test-rg6675/providers/Microsoft.SignalRService/locations/eastus/operationStatuses/e66e1266-72c4-4d86-9706-a9b352a536d1/SignalR/signalr-test2356\",\r\n  \"name\": \"e66e1266-72c4-4d86-9706-a9b352a536d1\",\r\n  \"status\": \"Succeeded\",\r\n  \"startTime\": \"2021-01-06T08:24:21.4482323Z\",\r\n  \"endTime\": \"2021-01-06T08:25:57.4541983Z\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/ef72249e-9785-4799-a76b-7cdd80e1b1d0/resourceGroups/signalr-test-rg6675/providers/Microsoft.SignalRService/signalR?api-version=2020-07-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11990"
        ],
        "x-rp-server-mvid": [
          "7e5321a5-c0c2-45cc-b2d9-1c712b58a9d7"
        ],
        "Content-[...]
    {
      "RequestUri": "/subscriptions/ef72249e-9785-4799-a76b-7cdd80e1b1d0/resourceGroups/signalr-test-rg6675/providers/Microsoft.SignalRService/signalR/signalr-test2356/listKeys?api-version=2020-07-01-preview",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "x-rp-server-mvid": [
          "7e5321a5-c0c2-45cc-b2d9-1c712b58a9d7"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"primaryKey\": \"eoZeV+FV4xvIemitkNvgR7uVXGBPIhL2boCpAu/AB8Y=\",\r\n  \"secondaryKey\": \"ir5dwmfTRKp96VTIC/TdGMkmyLSAxoU5VRGan52VYsQ=\",\r\n  \"primaryConnectionString\": \"Endpoint=https://signalr-test2356.service.signalr.net;AccessKey=eoZeV+FV4xvIemitkNvgR7uVXGBPIhL2boCpAu/AB8Y=;Version=1.0;\",\r\n  \"secondaryConnectionString\": \"Endpoint=https://signalr-test2356.service.signalr.net;AccessKey=ir5dwmfTRKp96VTIC/TdGMkmyLSAxoU5VRGan52VYsQ=;Version=1.0;\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/ef72249e-9785-4799-a76b-7cdd80e1b1d0/resourceGroups/signalr-test-rg6675/providers/Microsoft.SignalRService/signalR/signalr-test2356?api-version=2020-07-01-preview",
      "RequestMethod": "PATCH",
      "RequestBody": "{\r\n  \"sku\": {\r\n    \"name\": \"Standard_S1\",\r\n    \"tier\": \"Standard\",\r\n    \"capacity\": 5\r\n  },\r\n  \"properties\": {\r\n    \"features\": [\r\n      {\r\n        \"value\": \"Serverless\"\r\n      }\r\n    ],\r\n    \"cors\": {\r\n      \"allowedOrigins\": [\r\n        \"http://example.com:12345\",\r\n        \"https://contoso.com\"\r\n      ]\r\n    }\r\n  },\r\n  \"tags\": {\r\n    \"key2\": \"value2\",\r\n    \"key3\": \"value3\",\r\n    \"key4\": \"value4\"\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/ef72249e-9785-4799-a76b-7cdd80e1b1d0/resourceGroups/signalr-test-rg6675/providers/Microsoft.SignalRService/locations/eastus/operationResults/9d2bfb3f-7a8f-4dd0-a03b-8bdf343604fa/SignalR/signalr-test2356?api-version=2020-07-01-preview"
        ],
        "x-rp-server-mvid": [
          "7e5321a5-c0c2-45cc-b2d9-1c712b58a9d7"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/ef72249e-9785-4799-a76b-7cdd80e1b1d0/resourceGroups/signalr-test-rg6675/providers/Microsoft.SignalRService/locations/eastus/operationStatuses/9d2bfb3f-7a8f-4dd0-a03b-8bdf343604fa/SignalR/signalr-test2356?api-version=2020-07-01-preview"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1197"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 202
    },
[...]
    {
      "RequestUri": "/subscriptions/ef72249e-9785-4799-a76b-7cdd80e1b1d0/resourceGroups/signalr-test-rg6675/providers/Microsoft.SignalRService/signalR/signalr-test2356/regenerateKey?api-version=2020-07-01-preview",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"keyType\": \"Primary\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/ef72249e-9785-4799-a76b-7cdd80e1b1d0/resourceGroups/signalr-test-rg6675/providers/Microsoft.SignalRService/locations/eastus/operationResults/a7169c99-4a5f-4128-a68a-61fbe07a02e8/SignalR/signalr-test2356?api-version=2020-07-01-preview"
        ],
        "x-ms-ra[...]
[...]
    {
      "RequestUri": "/subscriptions/ef72249e-9785-4799-a76b-7cdd80e1b1d0/resourceGroups/signalr-test-rg6675/providers/Microsoft.SignalRService/locations/eastus/operationResults/a7169c99-4a5f-4128-a68a-61fbe07a02e8/SignalR/signalr-test2356?api-version=2020-07-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-rp-server-mvid": [
          "7e5321a5-c0c2-45cc-b2d9-1c712b58a9d7"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11982"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/ef72249e-9785-4799-a76b-7cdd80e1b1d0/resourceGroups/signalr-test-rg6675/providers/Microsoft.SignalRService/locations/eastus/operationResults/633168a0-e8b4-4b32-bf4c-b0613d8aa557/SignalR/signalr-test2356?api-version=2020-07-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-rp-server-mvid": [
          "7e5321a5-c0c2-45cc-b2d9-1c712b58a9d7"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11977"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 204
    }
  ],
  "Names": {
    "CreateResourceGroup": [
      "signalr-test-rg6675"
    ],
    "SignalRFreeTierToStandardTest": [
      "signalr-service-test-08201429"
    ],
    "CreateSignalR": [
      "signalr-test2356"
    ]
  },
  "Variables": {
    "SubscriptionId": "ef72249e-9785-4799-a76b-7cdd80e1b1d0"
  }
}