{
  "Entries": [
    {
      "RequestUri": "/subscriptions/5f4ae1cc-5bfe-4be0-b94d-6e0bf198c74b/providers/Microsoft.SignalRService?api-version=2015-11-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11997"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/5f4ae1cc-5bfe-4be0-b94d-6e0bf198c74b/providers/Microsoft.SignalRService\",\r\n  \"namespace\": \"Microsoft.SignalRService\",\r\n  \"authorizations\": [\r\n    {\r\n      \"applicationId\": \"cdad765c-f191-43ba-b9f5-7aef392f811d\",\r\n      \"roleDefinitionId\": \"346b504e-4aec-45d1-be25-a6e10f3cb4fe\"\r\n    }\r\n  ],\r\n  \"resourceTypes\": [\r\n    {\r\n      \"resourceType\": \"SignalR\",\r\n      \"locations\": [\r\n        \"Australia East\",\r\n        \"Brazil South\",\r\n        \"Canada Central\",\r\n        \"Canada East\",\r\n        \"Central US\",\r\n        \"East Asia\",\r\n        \"East US\",\r\n        \"East US 2\",\r\n        \"France Central\",\r\n        \"Germany West Central\",\r\n        \"Japan East\",\r\n        \"Korea Central\",\r\n        \"North Europe\",\r\n        \"South Africa North\",\r\n        \"South Central US\",\r\n        \"Southeast Asia\",\r\n        \"Switzerland North\",\r\n        \"UK South\",\r\n        \"West Europe\",\r\n        \"West US\",\r\n        \"West US 2\",\r\n        \"UAE North\"\r\n      ],\r\n      \"apiVersions\": [\r\n        \"2021-04-01-preview\",\r\n        \"2020-07-01-preview\",\r\n        \"2020-05-01\",\r\n        \"2018-10-01\",\r\n        \"2018-03-01-preview\"\r\n      ],\r\n      \"capabilities\": \"CrossResourceGroupResourceMove, CrossSubscriptionResourceMove, SystemAssignedResourceIdentity\"\r\n    },\r\n    {\r\n      \"resourceType\": \"WebPubSub\",\r\n      \"locations\": [\r\n        \"East US\",\r\n        \"North Europe\",\r\n        \"Southeast Asia\",\r\n        \"West Europe\",\r\n        \"West US 2\"\r\n      ],\r\n      \"apiVersions\": [\r\n        \"2021-04-01-preview\",\r\n        \"2020-05-01\"\r\n      ],\r\n      \"capabilities\": \"CrossResourceGroupResourceMove, Cro[...]
    {
      "RequestUri": "/subscriptions/5f4ae1cc-5bfe-4be0-b94d-6e0bf198c74b/resourcegroups/signalr-test-rg4241?api-version=2015-11-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"Australia East\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/5f4ae1cc-5bfe-4be0-b94d-6e0bf198c74b/resourceGroups/signalr-test-rg4241\",\r\n  \"name\": \"signalr-test-rg4241\",\r\n  \"location\": \"australiaeast\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/5f4ae1cc-5bfe-4be0-b94d-6e0bf198c74b/resourceGroups/signalr-test-rg4241/providers/Microsoft.SignalRService/signalR/signalr-test7578?api-version=2021-04-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"sku\": {\r\n    \"name\": \"Standard_S1\",\r\n    \"tier\": \"Standard\",\r\n    \"capacity\": 2\r\n  },\r\n  \"properties\": {\r\n    \"features\": [\r\n      {\r\n        \"flag\": \"ServiceMode\",\r\n        \"value\": \"Default\"\r\n      }\r\n    ],\r\n    \"upstream\": {\r\n      \"templates\": [\r\n        {\r\n          \"urlTemplate\": \"http://foo.com\"\r\n        }\r\n      ]\r\n    },\r\n    \"networkACLs\": {\r\n      \"defaultAction\": \"Deny\",\r\n      \"publicNetwork\": {\r\n        \"allow\": [\r\n          \"ClientConnection\"\r\n        ]\r\n      },\r\n      \"privateEndpoints\": [\r\n        {\r\n          \"name\": \"mySignalRService.1fa229cd-bf3f-47f0-8c49-afb36723997e\",\r\n          \"allow\": [\r\n            \"ServerConnection\"\r\n          ]\r\n        }\r\n      ]\r\n    }\r\n  },\r\n  \"kind\": \"SignalR\",\r\n  \"location\": \"Australia East\",\r\n  \"tags\": {\r\n    \"key1\": \"value1\",\r\n    \"key2\": \"value2\"\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/5f4ae1cc-5bfe-4be0-b94d-6e0bf198c74b/resourceGroups/signalr-test-rg4241/providers/Microsoft.SignalRService/locations/australiaeast/operationResults/a817d40e-ea89-47a3-8907-503612ec1ea4/SignalR/signalr-test7578?api-version=2021-04-01-preview"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1198"
        ],
        "x-rp-server-mvid": [
          "a2f7c14d-3749-40f0-a36e-ddee0281a049"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/5f4ae1cc-5bfe-4be0-b94d-6e0bf198c74b/resourceGroups/signalr-test-rg4241/providers/Microsoft.SignalRService/locations/australiaeast/operationStatuses/a817d40e-ea89-47a3-8907-503612ec1ea4/SignalR/signalr-test7578?api-version=2021-04-01-preview"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"sku\": {\r\n    \"name\": \"Standard_S1\",\r\n    \"tier\": \"Standard\",\r\n    \"size\": \"S1\",\r\n    \"capacity\": 2\r\n  },\r\n  \"properties\": {\r\n    \"provisioningState\": \"Creating\",\r\n    \"externalIP\": null,\r\n    \"hostName\": \"signalr-test7578.service.signalr.net\",\r\n    \"publicPort\": 443,\r\n    \"serverPort\": 443,\r\n    \"version\": \"1.0-preview\",\r\n    \"privateEndpointConnections\": [],\r\n    \"sharedPrivateLinkResources\": [],\r\n    \"tls\": {\r\n      \"clientCertEnabled\": false\r\n    },\r\n    \"features\": [\r\n      {\r\n        \"flag\": \"ServiceMode\",\r\n        \"value\": \"Default\",\r\n        \"properties\": {}\r\n      },\r\n      {\r\n        \"flag\": \"EnableConnectivityLogs\",\r\n        \"value\": \"False\",\r\n        \"properties\": {}\r\n      },\r\n      {\r\n        \"flag\": \"EnableMessagingLogs\",\r\n        \"value\": \"False\",\r\n        \"properties\": {}\r\n      },\r\n      {\r\n        \"flag\": \"EnableLiveTrace\",\r\n        \"value\": \"False\",\r\n        \"properties\": {}\r\n      }\r\n    ],\r\n    \"cors\": {\r\n      \"allowedOrigins\": [\r\n        \"*\"\r\n      ]\r\n    },\r\n    \"upstream\": {\r\n      \"templates\": [\r\n        {\r\n          \"hubPattern\": \"*\",\r\n          \"eventPattern\": \"*\",\r\n          \"categoryPattern\": \"*\",\r\n          \"urlTemplate\": \"http://foo.com\",\r\n          \"auth\": null\r\n        }\r\n      ]\r\n    },\r\n    \"networkACLs\": {\r\n      \"defaultAction\": \"Deny\",\r\n      \"publicNetwork\": {\r\n        \"allow\": [\r\n          \"ClientConnection\"\r\n        ],\r\n        \"deny\": null\r\n      },\r\n      \"privateEndpoints\": []\r\n    }\r\n  },\r\n  \"kind\": \"SignalR\",\r\n  \"systemData\": {\r\n    \"createdBy\": \"35a6bcdc-7ed0-4044-9aac-a4d0b2285ead\",\r\n    \"createdByType\": \"Application\",\r\n    \"createdAt\": \"2021-04-28T07:16:02.8533478Z\",\r\n    \"lastModifiedBy\": \"35a6bcdc-7ed0-4044-9aac-a4d0b2285ead\",\r\n    \"lastModifiedByType\": \"Application\",\r\n    \"lastModifiedAt\": \"2021-04-28T07:16:02.8533478Z\"\r\n  },\r\n  \"location\": \"australiaeast\",\r\n  \"tags\": {\r\n    \"key1\": \"value1\",\r\n    \"key2\": \"value2\"\r\n  },\r\n  \"id\": \"/subscriptions/5f4ae1cc-5bfe-4be0-b94d-6e0bf198c74b/resourceGroups/signalr-test-rg4241/providers/Microsoft.SignalRService/SignalR/signalr-test7578\",\r\n  \"name\": \"signalr-test7578\",\r\n  \"type\": \"Microsoft.SignalRService/SignalR\"\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/5f4ae1cc-5bfe-4be0-b94d-6e0bf198c74b/resourceGroups/signalr-test-rg4241/providers/Microsoft.SignalRService/locations/australiaeast/operationStatuses/a817d40e-ea89-47a3-8907-503612ec1ea4/SignalR/signalr-test7578?api-version=2021-04-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11996"
        ],
        "x-rp-server-mvid": [
          "a2f7c14d-3749-40f0-a36e-ddee0281a049"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/5f4ae1cc-5bfe-4be0-b94d-6e0bf198c74b/resourceGroups/signalr-test-rg4241/providers/Microsoft.SignalRService/locations/australiaeast/operationStatuses/a817d40e-ea89-47a3-8907-503612ec1ea4/SignalR/signalr-test7578\",\r\n  \"name\": \"a817d40e-ea89-47a3-8907-503612ec1ea4\",\r\n  \"status\": \"Running\",\r\n  \"startTime\": \"2021-04-28T07:16:08.2459713Z\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/5f4ae1cc-5bfe-4be0-b94d-6e0bf198c74b/resourceGroups/signalr-test-rg4241/providers/Microsoft.SignalRService/locations/australiaeast/operationStatuses/a817d40e-ea89-47a3-8907-503612ec1ea4/SignalR/signalr-test7578?api-version=2021-04-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11991"
        ],
        "x-rp-server-mvid": [
          "a2f7c14d-3749-40f0-a36e-ddee0281a049"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/5f4ae1cc-5bfe-4be0-b94d-6e0bf198c74b/resourceGroups/signalr-test-rg4241/providers/Microsoft.SignalRService/locations/australiaeast/operationStatuses/a817d40e-ea89-47a3-8907-503612ec1ea4/SignalR/signalr-test7578\",\r\n  \"name\": \"a817d40e-ea89-47a3-8907-503612ec1ea4\",\r\n  \"status\": \"Succeeded\",\r\n  \"startTime\": \"2021-04-28T07:16:08.2459713Z\",\r\n  \"endTime\": \"2021-04-28T07:19:06.7883598Z\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/5f4ae1cc-5bfe-4be0-b94d-6e0bf198c74b/resourceGroups/signalr-test-rg4241/providers/Microsoft.SignalRService/signalR?api-version=2021-04-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11989"
        ],
        "x-rp-server-mvid": [
          "a2f7c14d-3749-40f0-a36e-ddee0281a049"
        ],
        "Content-[...]
    {
      "RequestUri": "/subscriptions/5f4ae1cc-5bfe-4be0-b94d-6e0bf198c74b/resourceGroups/signalr-test-rg4241/providers/Microsoft.SignalRService/signalR/signalr-test7578/listKeys?api-version=2021-04-01-preview",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "x-rp-server-mvid": [
          "a2f7c14d-3749-40f0-a36e-ddee0281a049"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"primaryKey\": \"XHoprDQxdYw+y2l1on9Tj9zB8AJJJMrt/NXDTEGfvQE=\",\r\n  \"secondaryKey\": \"LkKHvHb5cdGuiIVDA2xudz5n8v7V1Ih68ou1D7Dl1j4=\",\r\n  \"primaryConnectionString\": \"Endpoint=https://signalr-test7578.service.signalr.net;AccessKey=XHoprDQxdYw+y2l1on9Tj9zB8AJJJMrt/NXDTEGfvQE=;Version=1.0;\",\r\n  \"secondaryConnectionString\": \"Endpoint=https://signalr-test7578.service.signalr.net;AccessKey=LkKHvHb5cdGuiIVDA2xudz5n8v7V1Ih68ou1D7Dl1j4=;Version=1.0;\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/5f4ae1cc-5bfe-4be0-b94d-6e0bf198c74b/resourceGroups/signalr-test-rg4241/providers/Microsoft.SignalRService/signalR/signalr-test7578?api-version=2021-04-01-preview",
      "RequestMethod": "PATCH",
      "RequestBody": "{\r\n  \"sku\": {\r\n    \"name\": \"Free_F1\",\r\n    \"tier\": \"Free\",\r\n    \"capacity\": 1\r\n  },\r\n  \"properties\": {\r\n    \"features\": [\r\n      {\r\n        \"value\": \"Serverless\"\r\n      }\r\n    ],\r\n    \"cors\": {\r\n      \"allowedOrigins\": [\r\n        \"http://example.com:12345\",\r\n        \"https://contoso.com\"\r\n      ]\r\n    }\r\n  },\r\n  \"tags\": {\r\n    \"key2\": \"value2\",\r\n    \"key3\": \"value3\",\r\n    \"key4\": \"value4\"\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/5f4ae1cc-5bfe-4be0-b94d-6e0bf198c74b/resourceGroups/signalr-test-rg4241/providers/Microsoft.SignalRService/locations/australiaeast/operationResults/2ea7ff31-1c58-430d-ba54-3d3f00792d57/SignalR/signalr-test7578?api-version=2021-04-01-preview"
        ],
        "x-rp-server-mvid": [
          "a2f7c14d-3749-40f0-a36e-ddee0281a049"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/5f4ae1cc-5bfe-4be0-b94d-6e0bf198c74b/resourceGroups/signalr-test-rg4241/providers/Microsoft.SignalRService/locations/australiaeast/operationStatuses/2ea7ff31-1c58-430d-ba54-3d3f00792d57/SignalR/signalr-test7578?api-version=2021-04-01-preview"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1197"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 202
    },
[...]
    {
      "RequestUri": "/subscriptions/5f4ae1cc-5bfe-4be0-b94d-6e0bf198c74b/resourceGroups/signalr-test-rg4241/providers/Microsoft.SignalRService/signalR/signalr-test7578/regenerateKey?api-version=2021-04-01-preview",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"keyType\": \"Primary\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/5f4ae1cc-5bfe-4be0-b94d-6e0bf198c74b/resourceGroups/signalr-test-rg4241/providers/Microsoft.SignalRService/locations/australiaeast/operationResults/4d9db504-cc2d-42c2-bafc-61021073aed0/SignalR/signalr-test7578?api-version=2021-04-01-preview"
        ],
        "[...]
[...]
    {
      "RequestUri": "/subscriptions/5f4ae1cc-5bfe-4be0-b94d-6e0bf198c74b/resourceGroups/signalr-test-rg4241/providers/Microsoft.SignalRService/locations/australiaeast/operationResults/4d9db504-cc2d-42c2-bafc-61021073aed0/SignalR/signalr-test7578?api-version=2021-04-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-rp-server-mvid": [
          "a2f7c14d-3749-40f0-a36e-ddee0281a049"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11978"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/5f4ae1cc-5bfe-4be0-b94d-6e0bf198c74b/resourceGroups/signalr-test-rg4241/providers/Microsoft.SignalRService/locations/australiaeast/operationResults/82424bce-240b-4159-b9a9-0d462d29a83a/SignalR/signalr-test7578?api-version=2021-04-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-rp-server-mvid": [
          "a2f7c14d-3749-40f0-a36e-ddee0281a049"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11972"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 204
    }
  ],
  "Names": {
    "CreateResourceGroup": [
      "signalr-test-rg4241"
    ],
    "SignalRStandardTierToFreeTest": [
      "signalr-service-test-08202821"
    ],
    "CreateSignalR": [
      "signalr-test7578"
    ]
  },
  "Variables": {
    "SubscriptionId": "5f4ae1cc-5bfe-4be0-b94d-6e0bf198c74b"
  }
}