{
  "Entries": [
    {
      "RequestUri": "/subscriptions/685ba005-af8d-4b04-8f16-a7bf38b2eb5a/providers/Microsoft.SignalRService?api-version=2015-11-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11992"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/685ba005-af8d-4b04-8f16-a7bf38b2eb5a/providers/Microsoft.SignalRService\",\r\n  \"namespace\": \"Microsoft.SignalRService\",\r\n  \"resourceTypes\": [\r\n    {\r\n      \"resourceType\": \"SignalR\",\r\n      \"locations\": [\r\n        \"East US\",\r\n        \"West US\",\r\n        \"Southeast Asia\",\r\n        \"West Europe\",\r\n        \"West US 2\",\r\n        \"East US 2\",\r\n        \"North Europe\",\r\n        \"Australia East\",\r\n        \"Canada East\",\r\n        \"Central US\",\r\n        \"Japan East\",\r\n        \"UK South\",\r\n        \"South Central US\",\r\n        \"Central US EUAP\",\r\n        \"West Central US\",\r\n        \"Brazil South\",\r\n        \"France Central\",\r\n        \"Korea Central\"\r\n      ],\r\n      \"apiVersions\": [\r\n        \"2018-10-01\",\r\n        \"2018-03-01-preview\"\r\n      ],\r\n      \"capabilities\": \"CrossResourceGroupResourceMove, CrossSubscriptionResourceMove\"\r\n    },\r\n    {\r\n      \"resourceType\": \"locations\",\r\n      \"locations\": [],\r\n      \"apiVersions\": [\r\n        \"2018-10-01\",\r\n        \"2018-03-01-preview\"\r\n      ]\r\n    },\r\n    {\r\n      \"resourceType\": \"locations/operationResults\",\r\n      \"locations\": [\r\n        \"East US\",\r\n        \"West US\",\r\n        \"Southeast Asia\",\r\n        \"West Europe\",\r\n        \"West US 2\",\r\n    [...]
    {
      "RequestUri": "/subscriptions/685ba005-af8d-4b04-8f16-a7bf38b2eb5a/resourcegroups/signalr-test-rg3079?api-version=2015-11-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"East US\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/685ba005-af8d-4b04-8f16-a7bf38b2eb5a/resourceGroups/signalr-test-rg3079\",\r\n  \"name\": \"signalr-test-rg3079\",\r\n  \"location\": \"eastus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/685ba005-af8d-4b04-8f16-a7bf38b2eb5a/resourceGroups/signalr-test-rg3079/providers/Microsoft.SignalRService/signalR/signalr-test8909?api-version=2018-10-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"East US\",\r\n  \"tags\": {\r\n    \"key1\": \"value1\",\r\n    \"key2\": \"value2\"\r\n  },\r\n  \"sku\": {\r\n    \"name\": \"Standard_S1\",\r\n    \"tier\": \"Standard\",\r\n    \"size\": \"S1\",\r\n    \"capacity\": 2\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/685ba005-af8d-4b04-8f16-a7bf38b2eb5a/resourceGroups/signalr-test-rg3079/providers/Microsoft.SignalRService/locations/eastus/operationResults/4dc24b4f-5a35-4061-ba88-dd464686b180/SignalR/signalr-test8909?api-version=2018-10-01"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1198"
        ],
        "x-rp-server-mvid": [
          "e6f85de1-1aaf-43ea-9c1d-8e6875a8bf09"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/685ba005-af8d-4b04-8f16-a7bf38b2eb5a/resourceGroups/signalr-test-rg3079/providers/Microsoft.SignalRService/locations/eastus/operationStatuses/signalr-test8909/operationId/4dc24b4f-5a35-4061-ba88-dd464686b180?api-version=2018-10-01"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"sku\": {\r\n    \"name\": \"Standard_S1\",\r\n    \"tier\": \"Standard\",\r\n    \"size\": \"S1\",\r\n    \"capacity\": 2\r\n  },\r\n  \"properties\": {\r\n    \"provisioningState\": \"Creating\",\r\n    \"externalIP\": null,\r\n    \"hostName\": \"signalr-test8909.service.signalr.net\",\r\n    \"publicPort\": 443,\r\n    \"serverPort\": 443,\r\n    \"version\": \"1.0-preview\",\r\n    \"hostNamePrefix\": \"signalr-test8909\",\r\n    \"features\": [\r\n      {\r\n        \"flag\": \"ServiceMode\",\r\n        \"value\": \"Default\",\r\n        \"properties\": {}\r\n      }\r\n    ],\r\n    \"cors\": {\r\n      \"allowedOrigins\": [\r\n        \"*\"\r\n      ]\r\n    }\r\n  },\r\n  \"location\": \"eastus\",\r\n  \"tags\": {\r\n    \"key1\": \"value1\",\r\n    \"key2\": \"value2\"\r\n  },\r\n  \"id\": \"/subscriptions/685ba005-af8d-4b04-8f16-a7bf38b2eb5a/resourceGroups/signalr-test-rg3079/providers/Microsoft.SignalRService/SignalR/signalr-test8909\",\r\n  \"name\": \"signalr-test8909\",\r\n  \"type\": \"Microsoft.SignalRService/SignalR\"\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/685ba005-af8d-4b04-8f16-a7bf38b2eb5a/resourceGroups/signalr-test-rg3079/providers/Microsoft.SignalRService/locations/eastus/operationStatuses/signalr-test8909/operationId/4dc24b4f-5a35-4061-ba88-dd464686b180?api-version=2018-10-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11991"
        ],
        "x-rp-server-mvid": [
          "e6f85de1-1aaf-43ea-9c1d-8e6875a8bf09"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/685ba005-af8d-4b04-8f16-a7bf38b2eb5a/resourceGroups/signalr-test-rg3079/providers/Microsoft.SignalRService/locations/eastus/operationStatuses/signalr-test8909/operationId/4dc24b4f-5a35-4061-ba88-dd464686b180\",\r\n  \"name\": \"4dc24b4f-5a35-4061-ba88-dd464686b180\",\r\n  \"status\": \"Running\",\r\n  \"startTime\": \"2019-08-20T09:34:52.4688913Z\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/685ba005-af8d-4b04-8f16-a7bf38b2eb5a/resourceGroups/signalr-test-rg3079/providers/Microsoft.SignalRService/locations/eastus/operationStatuses/signalr-test8909/operationId/4dc24b4f-5a35-4061-ba88-dd464686b180?api-version=2018-10-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11987"
        ],
        "x-rp-server-mvid": [
          "e6f85de1-1aaf-43ea-9c1d-8e6875a8bf09"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/685ba005-af8d-4b04-8f16-a7bf38b2eb5a/resourceGroups/signalr-test-rg3079/providers/Microsoft.SignalRService/locations/eastus/operationStatuses/signalr-test8909/operationId/4dc24b4f-5a35-4061-ba88-dd464686b180\",\r\n  \"name\": \"4dc24b4f-5a35-4061-ba88-dd464686b180\",\r\n  \"status\": \"Succeeded\",\r\n  \"startTime\": \"2019-08-20T09:34:52.4688913Z\",\r\n  \"endTime\": \"2019-08-20T09:37:14.4176263Z\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/685ba005-af8d-4b04-8f16-a7bf38b2eb5a/resourceGroups/signalr-test-rg3079/providers/Microsoft.SignalRService/signalR/signalr-test8909?api-version=2018-10-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11980"
        ],
        "x-rp-server-mvid": [
          "e6f85de1-1aaf-43ea-9c1d-8e6875a8bf09"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"sku\": {\r\n    \"name\": \"Free_F1\",\r\n    \"tier\": \"Free\",\r\n    \"size\": \"F1\",\r\n    \"capacity\": 1\r\n  },\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"externalIP\": \"40.114.111.36\",\r\n    \"hostName\": \"signalr-test8909.service.signalr.net\",\r\n    \"publicPort\": 443,\r\n    \"serverPort\": 443,\r\n    \"version\": \"1.0\",\r\n    \"hostNamePrefix\": \"signalr-test8909\",\r\n    \"features\": [\r\n      {\r\n        \"flag\": \"ServiceMode\",\r\n        \"value\": \"Serverless\",\r\n        \"properties\": {}\r\n      }\r\n    ],\r\n    \"cors\": {\r\n      \"allowedOrigins\": [\r\n        \"http://example.com:12345\",\r\n        \"https://contoso.com\"\r\n      ]\r\n    }\r\n  },\r\n  \"location\": \"eastus\",\r\n  \"tags\": {\r\n    \"key2\": \"value2\",\r\n    \"key3\": \"value3\",\r\n    \"key4\": \"value4\"\r\n  },\r\n  \"id\": \"/subscriptions/685ba005-af8d-4b04-8f16-a7bf38b2eb5a/resourceGroups/signalr-test-rg3079/providers/Microsoft.SignalRService/SignalR/signalr-test8909\",\r\n  \"name\": \"signalr-test8909\",\r\n  \"type\": \"Microsoft.SignalRService/SignalR\"\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/685ba005-af8d-4b04-8f16-a7bf38b2eb5a/resourceGroups/signalr-test-rg3079/providers/Microsoft.SignalRService/SignalR?api-version=2018-10-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11985"
        ],
        "x-rp-server-mvid": [
          "e6f85de1-1aaf-43ea-9c1d-8e6875a8bf09"
        ],
        "Content-Type": [[...]
    {
      "RequestUri": "/subscriptions/685ba005-af8d-4b04-8f16-a7bf38b2eb5a/resourceGroups/signalr-test-rg3079/providers/Microsoft.SignalRService/SignalR/signalr-test8909/listKeys?api-version=2018-10-01",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "x-rp-server-mvid": [
          "e6f85de1-1aaf-43ea-9c1d-8e6875a8bf09"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"primaryKey\": \"S5Xkw64Kgsi0RbDTW1AguBqckpgTCGZCCcEzHe/VaKo=\",\r\n  \"secondaryKey\": \"O+NyuiGqvmik/fmJAxmeWJdLgV1ivUMiBGMZD3qckic=\",\r\n  \"primaryConnectionString\": \"Endpoint=https://signalr-test8909.service.signalr.net;AccessKey=S5Xkw64Kgsi0RbDTW1AguBqckpgTCGZCCcEzHe/VaKo=;Version=1.0;\",\r\n  \"secondaryConnectionString\": \"Endpoint=https://signalr-test8909.service.signalr.net;AccessKey=O+NyuiGqvmik/fmJAxmeWJdLgV1ivUMiBGMZD3qckic=;Version=1.0;\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/685ba005-af8d-4b04-8f16-a7bf38b2eb5a/resourceGroups/signalr-test-rg3079/providers/Microsoft.SignalRService/SignalR/signalr-test8909/regenerateKey?api-version=2018-10-01",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"keyType\": \"Primary\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/685ba005-af8d-4b04-8f16-a7bf38b2eb5a/resourceGroups/signalr-test-rg3079/providers/Microsoft.SignalRService/locations/eastus/operationResults/c7cee991-26f0-48dc-b98f-6e2f60c32c07/SignalR/signalr-test8909?api-version=2018-10-01"
        ],
        "x-ms-ratelimit-[...]
[...]
    {
      "RequestUri": "/subscriptions/685ba005-af8d-4b04-8f16-a7bf38b2eb5a/resourceGroups/signalr-test-rg3079/providers/Microsoft.SignalRService/locations/eastus/operationResults/c7cee991-26f0-48dc-b98f-6e2f60c32c07/SignalR/signalr-test8909?api-version=2018-10-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/685ba005-af8d-4b04-8f16-a7bf38b2eb5a/resourceGroups/signalr-test-rg3079/providers/Microsoft.SignalRService/locations/eastus/operationResults/c7cee991-26f0-48dc-b98f-6e2f60c32c07/SignalR/signalr-test8909?api-version=2018-10-01"
        ],
        "x-rp-server-mvid": [
          "e6f85de1-1aaf-43ea-9c1d-8e6875a8bf09"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/685ba005-af8d-4b04-8f16-a7bf38b2eb5a/resourceGroups/signalr-test-rg3079/providers/Microsoft.SignalRService/locations/eastus/operationStatuses/signalr-test8909/operationId/c7cee991-26f0-48dc-b98f-6e2f60c32c07?api-version=2018-10-01"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11979"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 202
    },
[...]
    {
      "RequestUri": "/subscriptions/685ba005-af8d-4b04-8f16-a7bf38b2eb5a/resourceGroups/signalr-test-rg3079/providers/Microsoft.SignalRService/locations/eastus/operationResults/e8aee5c7-a265-4ccc-87fa-a76f0bff5340/SignalR/signalr-test8909?api-version=2018-10-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-rp-server-mvid": [
          "e6f85de1-1aaf-43ea-9c1d-8e6875a8bf09"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11971"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 204
    }
  ],
  "Names": {
    "CreateResourceGroup": [
      "signalr-test-rg3079"
    ],
    "SignalRStandardTierToFreeTest": [
      "signalr-service-test-0820446"
    ],
    "CreateSignalR": [
      "signalr-test8909"
    ],
    "SignalRScenarioVerification": [
      "signalr-service-test8082"
    ]
  },
  "Variables": {
    "SubscriptionId": "685ba005-af8d-4b04-8f16-a7bf38b2eb5a"
  }
}