{
  "Entries": [
    {
      "RequestUri": "/subscriptions/90c9cfa9-ec88-4677-a8ce-5c74405ef60a/providers/Microsoft.SignalRService?api-version=2015-11-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/90c9cfa9-ec88-4677-a8ce-5c74405ef60a/providers/Microsoft.SignalRService\",\r\n  \"namespace\": \"Microsoft.SignalRService\",\r\n  \"authorizations\": [\r\n    {\r\n      \"applicationId\": \"cdad765c-f191-43ba-b9f5-7aef392f811d\",\r\n      \"roleDefinitionId\": \"346b504e-4aec-45d1-be25-a6e10f3cb4fe\"\r\n    }\r\n  ],\r\n  \"resourceTypes\": [\r\n    {\r\n      \"resourceType\": \"SignalR\",\r\n      \"locations\": [\r\n        \"Australia East\",\r\n        \"Brazil South\",\r\n        \"Canada Central\",\r\n        \"Canada East\",\r\n        \"Central US\",\r\n        \"East Asia\",\r\n        \"East US\",\r\n        \"East US 2\",\r\n        \"France Central\",\r\n        \"Germany West Central\",\r\n        \"Japan East\",\r\n        \"Korea Central\",\r\n        \"North Europe\",\r\n        \"South Africa North\",\r\n        \"South Central US\",\r\n        \"Southeast Asia\",\r\n        \"Switzerland North\",\r\n        \"UK South\",\r\n        \"West Europe\",\r\n        \"West US\",\r\n        \"West US 2\",\r\n        \"UAE North\",\r\n        \"Central US EUAP\",\r\n        \"Japan West\",\r\n        \"North Central US\",\r\n        \"Norway East\",\r\n        \"West Central US\",\r\n        \"West US 3\"\r\n      ],\r\n      \"apiVersions\": [\r\n        \"2021-06-01-preview\",\r\n        \"2021-04-01-preview\",\r\n        \"2020-07-01-preview\",\r\n        \"2020-05-01\",\r\n        \"2018-10-01\",\r\n        \"2018-03-01-preview\"\r\n      ],\r\n      \"capabilities\": \"CrossResourceGroupResourceMove, CrossSubscriptionResourceMove, SystemAssignedResourceIdentity\"\r\n    },\r\n    {\r\n      \"resourceType\": \"WebPubSub\",\r\n      \"locations\": [\r\n        \"East US\",\r\n        \"North Europe\",\r\n        \"Southeast Asia\",\r\n        \"West Europe\",\r\n        \"West US 2\",\r\n        \"Central US EUAP\",\r\n        \"West Central US\"\r\n      ],\r\n      \"apiVersions\": [\r\n        \"2021-06-01-preview\",\r\n        \"2021-04-01-preview\",\r\n[...]
    {
      "RequestUri": "/subscriptions/90c9cfa9-ec88-4677-a8ce-5c74405ef60a/providers/Microsoft.SignalRService/locations/Australia%20East/usages?api-version=2021-06-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11998"
        ],
        "x-rp-server-mvid": [
          "c8c892ec-b6b9-400b-ba22-7ccdea42e60a"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/90c9cfa9-ec88-4677-a8ce-5c74405ef60a/providers/Microsoft.SignalRService/locations/australiaeast/usages/FreeTierInstances\",\r\n      \"currentValue\": 1,\r\n      \"limit\": 5,\r\n      \"name\": {\r\n        \"value\": \"FreeTierInstances\",\r\n        \"localizedValue\": \"Free Tier SignalR Instances per subscription\"\r\n      },\r\n      \"unit\": \"Count\"\r\n    },\r\n    {\r\n      \"id\": \"/subscriptions/90c9cfa9-ec88-4677-a8ce-5c74405ef60a/providers/Microsoft.SignalRService/locations/australiaeast/usages/SignalRTotalUnits\",\r\n      \"currentValue\": 5,\r\n      \"limit\": 150,\r\n      \"name\": {\r\n        \"value\": \"SignalRTotalUnits\",\r\n        \"localizedValue\": \"SignalRTotalUnits\"\r\n      },\r\n      \"unit\": \"Count\"\r\n    }\r\n  ]\r\n}",
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "90c9cfa9-ec88-4677-a8ce-5c74405ef60a"
  }
}