{
  "Entries": [
    {
      "RequestUri": "/subscriptions/9caf2a1e-9c49-49b6-89a2-56bdec7e3f97/providers/Microsoft.SignalRService?api-version=2015-11-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/9caf2a1e-9c49-49b6-89a2-56bdec7e3f97/providers/Microsoft.SignalRService\",\r\n  \"namespace\": \"Microsoft.SignalRService\",\r\n  \"authorizations\": [\r\n    {\r\n      \"applicationId\": \"cdad765c-f191-43ba-b9f5-7aef392f811d\",\r\n      \"roleDefinitionId\": \"346b504e-4aec-45d1-be25-a6e10f3cb4fe\"\r\n    }\r\n  ],\r\n  \"resourceTypes\": [\r\n    {\r\n      \"resourceType\": \"SignalR\",\r\n      \"locations\": [\r\n        \"East US\",\r\n        \"West US\",\r\n        \"Southeast Asia\",\r\n        \"West Europe\",\r\n        \"West US 2\",\r\n        \"East US 2\",\r\n        \"North Europe\",\r\n        \"Australia East\",\r\n        \"Canada East\",\r\n        \"Central US\",\r\n        \"Japan East\",\r\n        \"UK South\",\r\n        \"South Central US\",\r\n        \"Brazil South\",\r\n        \"France Central\",\r\n        \"Korea Central\"\r\n      ],\r\n      \"apiVersions\": [\r\n        \"2020-05-01\",\r\n        \"2018-10-01\",\r\n        \"2018-03-01-preview\"\r\n      ],\r\n      \"capabilities\": \"CrossResourceGroupResourceMove, CrossSubscriptionResourceMove\"\r\n    },\r\n    {\r\n      \"resourceType\": \"locations\",\r\n      \"locations\": [],\r\n      \"apiVersions\": [\r\n        \"2020-05-01\",\r\n        \"2018-10-01\",\r\n        \"2018-03-01-preview\"\r\n      ]\r\n    },\r\n    {\r\n      \"resourceType\": \"locations/operationResults\",\r\n      \"locations\": [\r\n        \"East US\",\r\n        \"West US\",\r\n        \"Southeast Asia\",\r\n        \"West Europe\",\r\n   [...]
    {
      "RequestUri": "/subscriptions/9caf2a1e-9c49-49b6-89a2-56bdec7e3f97/resourcegroups/signalr-test-rg64?api-version=2015-11-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"East US\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/9caf2a1e-9c49-49b6-89a2-56bdec7e3f97/resourceGroups/signalr-test-rg64\",\r\n  \"name\": \"signalr-test-rg64\",\r\n  \"location\": \"eastus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/9caf2a1e-9c49-49b6-89a2-56bdec7e3f97/resourceGroups/signalr-test-rg64/providers/Microsoft.SignalRService/signalR/signalr-test9756?api-version=2020-05-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"sku\": {\r\n    \"name\": \"Free_F1\",\r\n    \"tier\": \"Free\",\r\n    \"size\": \"F1\"\r\n  },\r\n  \"properties\": {\r\n    \"features\": [\r\n      {\r\n        \"flag\": \"ServiceMode\",\r\n        \"value\": \"Default\"\r\n      }\r\n    ],\r\n    \"upstream\": {\r\n      \"templates\": [\r\n        {\r\n          \"urlTemplate\": \"http://foo.com\"\r\n        }\r\n      ]\r\n    },\r\n    \"networkACLs\": {\r\n      \"defaultAction\": \"Deny\",\r\n      \"publicNetwork\": {\r\n        \"allow\": [\r\n          \"ClientConnection\"\r\n        ]\r\n      },\r\n      \"privateEndpoints\": [\r\n        {\r\n          \"name\": \"mySignalRService.1fa229cd-bf3f-47f0-8c49-afb36723997e\",\r\n          \"allow\": [\r\n            \"ServerConnection\"\r\n          ]\r\n        }\r\n      ]\r\n    }\r\n  },\r\n  \"kind\": \"SignalR\",\r\n  \"location\": \"East US\",\r\n  \"tags\": {\r\n    \"key1\": \"value1\",\r\n    \"key2\": \"value2\"\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/9caf2a1e-9c49-49b6-89a2-56bdec7e3f97/resourceGroups/signalr-test-rg64/providers/Microsoft.SignalRService/locations/eastus/operationResults/8b85b22d-92ef-407c-85e1-c40510e44241/SignalR/signalr-test9756?api-version=2020-05-01"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1198"
        ],
        "x-rp-server-mvid": [
          "55bd3e84-35c8-42d9-8de9-042c3a9c1079"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/9caf2a1e-9c49-49b6-89a2-56bdec7e3f97/resourceGroups/signalr-test-rg64/providers/Microsoft.SignalRService/locations/eastus/operationStatuses/signalr-test9756/operationId/8b85b22d-92ef-407c-85e1-c40510e44241?api-version=2020-05-01"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"sku\": {\r\n    \"name\": \"Free_F1\",\r\n    \"tier\": \"Free\",\r\n    \"size\": \"F1\",\r\n    \"capacity\": 1\r\n  },\r\n  \"properties\": {\r\n    \"provisioningState\": \"Creating\",\r\n    \"externalIP\": null,\r\n    \"hostName\": \"signalr-test9756.service.signalr.net\",\r\n    \"publicPort\": 443,\r\n    \"serverPort\": 443,\r\n    \"version\": \"1.0-preview\",\r\n    \"privateEndpointConnections\": [],\r\n    \"hostNamePrefix\": \"signalr-test9756\",\r\n    \"features\": [\r\n      {\r\n        \"flag\": \"ServiceMode\",\r\n        \"value\": \"Default\",\r\n        \"properties\": {}\r\n      },\r\n      {\r\n        \"flag\": \"EnableConnectivityLogs\",\r\n        \"value\": \"False\",\r\n        \"properties\": {}\r\n      },\r\n      {\r\n        \"flag\": \"EnableMessagingLogs\",\r\n        \"value\": \"False\",\r\n        \"properties\": {}\r\n      }\r\n    ],\r\n    \"cors\": {\r\n      \"allowedOrigins\": [\r\n        \"*\"\r\n      ]\r\n    },\r\n    \"upstream\": {\r\n      \"templates\": [\r\n        {\r\n          \"hubPattern\": \"*\",\r\n          \"eventPattern\": \"*\",\r\n          \"categoryPattern\": \"*\",\r\n          \"urlTemplate\": \"http://foo.com\"\r\n        }\r\n      ]\r\n    },\r\n    \"networkACLs\": {\r\n      \"defaultAction\": \"Deny\",\r\n      \"publicNetwork\": {\r\n        \"allow\": [\r\n          \"ClientConnection\"\r\n        ],\r\n        \"deny\": null\r\n      },\r\n      \"privateEndpoints\": []\r\n    }\r\n  },\r\n  \"kind\": \"SignalR\",\r\n  \"location\": \"eastus\",\r\n  \"tags\": {\r\n    \"key1\": \"value1\",\r\n    \"key2\": \"value2\"\r\n  },\r\n  \"id\": \"/subscriptions/9caf2a1e-9c49-49b6-89a2-56bdec7e3f97/resourceGroups/signalr-test-rg64/providers/Microsoft.SignalRService/SignalR/signalr-test9756\",\r\n  \"name\": \"signalr-test9756\",\r\n  \"type\": \"Microsoft.SignalRService/SignalR\"\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/9caf2a1e-9c49-49b6-89a2-56bdec7e3f97/resourceGroups/signalr-test-rg64/providers/Microsoft.SignalRService/locations/eastus/operationStatuses/signalr-test9756/operationId/8b85b22d-92ef-407c-85e1-c40510e44241?api-version=2020-05-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11998"
        ],
        "x-rp-server-mvid": [
          "55bd3e84-35c8-42d9-8de9-042c3a9c1079"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/9caf2a1e-9c49-49b6-89a2-56bdec7e3f97/resourceGroups/signalr-test-rg64/providers/Microsoft.SignalRService/locations/eastus/operationStatuses/signalr-test9756/operationId/8b85b22d-92ef-407c-85e1-c40510e44241\",\r\n  \"name\": \"8b85b22d-92ef-407c-85e1-c40510e44241\",\r\n  \"status\": \"Running\",\r\n  \"startTime\": \"2020-05-29T08:53:25.7348335Z\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/9caf2a1e-9c49-49b6-89a2-56bdec7e3f97/resourceGroups/signalr-test-rg64/providers/Microsoft.SignalRService/locations/eastus/operationStatuses/signalr-test9756/operationId/8b85b22d-92ef-407c-85e1-c40510e44241?api-version=2020-05-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11995"
        ],
        "x-rp-server-mvid": [
          "55bd3e84-35c8-42d9-8de9-042c3a9c1079"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/9caf2a1e-9c49-49b6-89a2-56bdec7e3f97/resourceGroups/signalr-test-rg64/providers/Microsoft.SignalRService/locations/eastus/operationStatuses/signalr-test9756/operationId/8b85b22d-92ef-407c-85e1-c40510e44241\",\r\n  \"name\": \"8b85b22d-92ef-407c-85e1-c40510e44241\",\r\n  \"status\": \"Succeeded\",\r\n  \"startTime\": \"2020-05-29T08:53:25.7348335Z\",\r\n  \"endTime\": \"2020-05-29T08:55:06.4039615Z\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/9caf2a1e-9c49-49b6-89a2-56bdec7e3f97/resourceGroups/signalr-test-rg64/providers/Microsoft.SignalRService/signalR?api-version=2020-05-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11993"
        ],
        "x-rp-server-mvid": [
          "55bd3e84-35c8-42d9-8de9-042c3a9c1079"
        ],
        "Content-Type": [
 [...]
    {
      "RequestUri": "/subscriptions/9caf2a1e-9c49-49b6-89a2-56bdec7e3f97/resourceGroups/signalr-test-rg64/providers/Microsoft.SignalRService/signalR/signalr-test9756/listKeys?api-version=2020-05-01",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "x-rp-server-mvid": [
          "55bd3e84-35c8-42d9-8de9-042c3a9c1079"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"primaryKey\": \"ubam9JvnBfbVMHvdXo1A/FIEVg8pOuLbWHLgDS88I24=\",\r\n  \"secondaryKey\": \"9hmiy9YgrWV15fTA62sZ47jzmoBfeppKpj9JQJpXKCI=\",\r\n  \"primaryConnectionString\": \"Endpoint=https://signalr-test9756.service.signalr.net;AccessKey=ubam9JvnBfbVMHvdXo1A/FIEVg8pOuLbWHLgDS88I24=;Version=1.0;\",\r\n  \"secondaryConnectionString\": \"Endpoint=https://signalr-test9756.service.signalr.net;AccessKey=9hmiy9YgrWV15fTA62sZ47jzmoBfeppKpj9JQJpXKCI=;Version=1.0;\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/9caf2a1e-9c49-49b6-89a2-56bdec7e3f97/resourceGroups/signalr-test-rg64/providers/Microsoft.SignalRService/signalR/signalr-test9756?api-version=2020-05-01",
      "RequestMethod": "PATCH",
      "RequestBody": "{\r\n  \"sku\": {\r\n    \"name\": \"Standard_S1\",\r\n    \"tier\": \"Standard\",\r\n    \"size\": \"S1\",\r\n    \"capacity\": 5\r\n  },\r\n  \"properties\": {\r\n    \"hostNamePrefix\": \"signalr-service-test3132\",\r\n    \"features\": [\r\n      {\r\n        \"value\": \"Serverless\"\r\n      }\r\n    ],\r\n    \"cors\": {\r\n      \"allowedOrigins\": [\r\n        \"http://example.com:12345\",\r\n        \"https://contoso.com\"\r\n      ]\r\n    }\r\n  },\r\n  \"tags\": {\r\n    \"key2\": \"value2\",\r\n    \"key3\": \"value3\",\r\n    \"key4\": \"value4\"\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/9caf2a1e-9c49-49b6-89a2-56bdec7e3f97/resourceGroups/signalr-test-rg64/providers/Microsoft.SignalRService/locations/eastus/operationResults/3937c29f-0615-4c49-94e5-489653d89555/SignalR/signalr-test9756?api-version=2020-05-01"
        ],
        "x-rp-server-mvid": [
          "55bd3e84-35c8-42d9-8de9-042c3a9c1079"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/9caf2a1e-9c49-49b6-89a2-56bdec7e3f97/resourceGroups/signalr-test-rg64/providers/Microsoft.SignalRService/locations/eastus/operationStatuses/signalr-test9756/operationId/3937c29f-0615-4c49-94e5-489653d89555?api-version=2020-05-01"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1197"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 202
    },
[...]
    {
      "RequestUri": "/subscriptions/9caf2a1e-9c49-49b6-89a2-56bdec7e3f97/resourceGroups/signalr-test-rg64/providers/Microsoft.SignalRService/signalR/signalr-test9756/regenerateKey?api-version=2020-05-01",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"keyType\": \"Primary\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/9caf2a1e-9c49-49b6-89a2-56bdec7e3f97/resourceGroups/signalr-test-rg64/providers/Microsoft.SignalRService/locations/eastus/operationResults/baa33931-e170-4292-ab0c-88ed0156f8ae/SignalR/signalr-test9756?api-version=2020-05-01"
        ],
        "x-ms-ratelimit-re[...]
[...]
    {
      "RequestUri": "/subscriptions/9caf2a1e-9c49-49b6-89a2-56bdec7e3f97/resourceGroups/signalr-test-rg64/providers/Microsoft.SignalRService/locations/eastus/operationResults/baa33931-e170-4292-ab0c-88ed0156f8ae/SignalR/signalr-test9756?api-version=2020-05-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-rp-server-mvid": [
          "55bd3e84-35c8-42d9-8de9-042c3a9c1079"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11987"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/9caf2a1e-9c49-49b6-89a2-56bdec7e3f97/resourceGroups/signalr-test-rg64/providers/Microsoft.SignalRService/locations/eastus/operationResults/72981ac0-25be-44d3-9053-4737453791f4/SignalR/signalr-test9756?api-version=2020-05-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-rp-server-mvid": [
          "55bd3e84-35c8-42d9-8de9-042c3a9c1079"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11982"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 204
    }
  ],
  "Names": {
    "CreateResourceGroup": [
      "signalr-test-rg64"
    ],
    "SignalRFreeTierToStandardTest": [
      "signalr-service-test-0820506"
    ],
    "CreateSignalR": [
      "signalr-test9756"
    ],
    "SignalRScenarioVerification": [
      "signalr-service-test3132"
    ]
  },
  "Variables": {
    "SubscriptionId": "9caf2a1e-9c49-49b6-89a2-56bdec7e3f97"
  }
}