{
  "Entries": [
    {
      "RequestUri": "/subscriptions/9f6cce51-6baf-4de5-a3c4-6f58b85315b9/providers/Microsoft.Network/locations/westus/providers/Microsoft.Quota/quotas/PublicIPAddresses?api-version=2021-03-15-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "MS-RequestId": [
          "KwYK9Xj2qUSiCQZ0LmCEfQ.0"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ],
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"limit\": {\r\n      \"limitObjectType\": \"LimitValue\",\r\n      \"limitType\": \"Independent\",\r\n      \"value\": 1000\r\n    },\r\n    \"name\": {\r\n      \"value\": \"PublicIPAddresses\",\r\n      \"localizedValue\": \"Public IP Addresses - Basic\"\r\n    },\r\n    \"properties\": {},\r\n    \"unit\": \"Count\",\r\n    \"isQuotaApplicable\": true\r\n  },\r\n  \"id\": \"/subscriptions/9f6cce51-6baf-4de5-a3c4-6f58b85315b9/providers/Microsoft.Network/locations/westus/providers/Microsoft.Quota/quotas/PublicIPAddresses\",\r\n  \"type\": \"Microsoft.Quota/Quotas\",\r\n  \"name\": \"PublicIPAddresses\"\r\n}",
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "9f6cce51-6baf-4de5-a3c4-6f58b85315b9"
  }
}