{
  "Entries": [
    {
      "RequestUri": "/subscriptions/9f6cce51-6baf-4de5-a3c4-6f58b85315b9/providers/Microsoft.Network/locations/westus/providers/Microsoft.Quota/quotas/PublicIPAddresses?api-version=2021-03-15-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"limit\": {\r\n      \"limitObjectType\": \"LimitValue\",\r\n      \"value\": 1005\r\n    },\r\n    \"name\": {\r\n      \"value\": \"PublicIPAddresses\"\r\n    }\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Retry-After": [
          "30"
        ],
        "MS-RequestId": [
          "BvUikGf-30Csj8CGpp8fvg.0"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/9f6cce51-6baf-4de5-a3c4-6f58b85315b9/providers/Microsoft.Network/locations/westus/providers/Microsoft.Quota/operationsStatus/e4d1543f-0eaf-4fbf-8edc-de0fc32624c2?api-version=2021-03-15-preview"
        ],
        "Operation-Location": [
          "https://management.azure.com/subscriptions/9f6cce51-6baf-4de5-a3c4-6f58b85315b9/providers/Microsoft.Network/locations/westus/providers/Microsoft.Quota/operationsStatus/e4d1543f-0eaf-4fbf-8edc-de0fc32624c2?api-version=2021-03-15-preview"
        ],
        "x-ms-ratelimit-remaining-subscription-resource-requests": [
          "24"
        ],
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"limit\": {\r\n      \"limitObjectType\": \"LimitValue\",\r\n      \"limitType\": \"Independent\",\r\n      \"value\": 1005\r\n    },\r\n    \"name\": {\r\n      \"value\": \"PUBLICIPADDRESSES\"\r\n    },\r\n    \"properties\": {},\r\n    \"provisioningState\": \"InProgress\",\r\n    \"isQuotaApplicable\": true\r\n  },\r\n  \"id\": \"/subscriptions/9f6cce51-6baf-4de5-a3c4-6f58b85315b9/providers/Microsoft.Network/locations/westus/providers/Microsoft.Quota/quotaRequests/e4d1543f-0eaf-4fbf-8edc-de0fc32624c2\",\r\n  \"type\": \"Microsoft.Quota/Quotas\",\r\n  \"name\": \"e4d1543f-0eaf-4fbf-8edc-de0fc32624c2\"\r\n}",
      "StatusCode": 202
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "9f6cce51-6baf-4de5-a3c4-6f58b85315b9"
  }
}