{
  "Entries": [
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-filesystem-933e48a7-065e-cee7-1e80-38bd3c487c37?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 21 Sep 2021 17:37:34 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D97D267F77D789\u0022",
        "Last-Modified": "Tue, 21 Sep 2021 17:37:35 GMT",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.dfs.core.windows.net/test-filesystem-933e48a7-065e-cee7-1e80-38bd3c487c37/test-file-5f43abd8-ce17-7d4b-d872-264200f9d605?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 21 Sep 2021 17:37:35 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D97D267FDDCDE5\u0022",
        "Last-Modified": "Tue, 21 Sep 2021 17:37:35 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.dfs.core.windows.net/test-filesystem-933e48a7-065e-cee7-1e80-38bd3c487c37/test-file-5f43abd8-ce17-7d4b-d872-264200f9d605?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-MD5": "\u002BkRtvyYEXZyIrugPP\u002BGMPQ==",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 21 Sep 2021 17:37:35 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": "uz/AWNhw\u002Bztq\u002Be3YG7X/tI5MTg686m2USVPIRPR1YOx\u002BmHePqJkS/jNQKNCn3gWaVcLZmGv5ldDSKw6EqLZH9JgBWYM9cAv1OU/abMKc7WtOLe8xm8eAhQOnvXyLjlZ8CTM4poSCXeW25F8cHikONT6iNnrHFVjRgNN/lbKOaqv5XmOOZEbnzNAJerdoZGfZmYc\u002B6FjbtPPbZiWwAscyJ3qzI7/Gf9H3u2mqvpuhaRtspfwrUIFTHapvs/0hNskI11I8tEGnExm1Ri3uMfZYOf0JQ1zLBtb5YAUVVszT1oSgouZIZLXaxZHidgpUZOuzF3kAF/JtP[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-filesystem-933e48a7-065e-cee7-1e80-38bd3c487c37?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 21 Sep 2021 17:37:36 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1834987777",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttp://seanmcccanary3.blob.core.windows.net\nhttp://seanmcccanary3.file.core.windows.net\nhttp://seanmcccanary3.queue.core.windows.net\nhttp://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttp://seanmcccanary3-secondary.blob.core.windows.net\nhttp://seanmcccanary3-secondary.file.core.windows.net\nhttp://seanmcccanary3-secondary.queue.core.windows.net\nhttp://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=http://seanmcccanary3.queue.core.windows.net/;FileEndpoint=http://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=http://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Sanitized\n\n\n"
  }
}