{
  "Entries": [
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-filesystem-be9bffa1-1b59-2873-2ca0-5835a790fa97?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 14 Sep 2021 17:27:41 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D977A4F4F857D7\u0022",
        "Last-Modified": "Tue, 14 Sep 2021 17:27:41 GMT",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.dfs.core.windows.net/test-filesystem-be9bffa1-1b59-2873-2ca0-5835a790fa97/test-file-0c45bed1-7483-d433-e1c7-23a23f80018c?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 14 Sep 2021 17:27:41 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D977A4F5025E0C\u0022",
        "Last-Modified": "Tue, 14 Sep 2021 17:27:41 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.dfs.core.windows.net/test-filesystem-be9bffa1-1b59-2873-2ca0-5835a790fa97/test-file-0c45bed1-7483-d433-e1c7-23a23f80018c?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-content-crc64": "lnwI0KX5fBs=",
        "x-ms-date": "Tue, 14 Sep 2021 17:27:41 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": "kDpA0oUm9VHWjzjG6fVRU7oZwdVFX76ImRQvlf7ijWyjle2cmRO4Tdz5xEkT\u002BXuEmP6LY1caVjF8tzhw92BS8wHMI1MHtLqnYXP5S5p0daCZqvwAVyoUiD68IOHaR1Z7p9BIR9YnfeRE4wLkIQuWB0KY10xkUpzXt5oVS5PYzRkdfaTKLC3KciwXu3QnMGczJRmeQXAJF1Q0cZA7EjJQaxboxqNmzNoVzmQgTJYnr4Yy4SV6OYupFGZPlbudjmD6xlBdPmrEzFg\u002BiXML6cq\u002BDMEJCDAM1jGKP7I8Fzcfdz8EJYVFynEcbhTNO68XniuckYj6k4Uv7vAe0v\u002B4iLUhH[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-filesystem-be9bffa1-1b59-2873-2ca0-5835a790fa97?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 14 Sep 2021 17:27:42 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "2049015767",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttp://seanmcccanary3.blob.core.windows.net\nhttp://seanmcccanary3.file.core.windows.net\nhttp://seanmcccanary3.queue.core.windows.net\nhttp://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttp://seanmcccanary3-secondary.blob.core.windows.net\nhttp://seanmcccanary3-secondary.file.core.windows.net\nhttp://seanmcccanary3-secondary.queue.core.windows.net\nhttp://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=http://seanmcccanary3.queue.core.windows.net/;FileEndpoint=http://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=http://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Sanitized\n\n\n"
  }
}