{
  "Entries": [
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-filesystem-e58ad592-4c05-2173-bbf7-3ed0e6842cdb?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 14 Sep 2021 17:28:50 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D977A51E1BFDC7\u0022",
        "Last-Modified": "Tue, 14 Sep 2021 17:28:50 GMT",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.dfs.core.windows.net/test-filesystem-e58ad592-4c05-2173-bbf7-3ed0e6842cdb/test-file-ff9757b8-1e4d-d59c-8dcd-206355e69a19?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-date": "Tue, 14 Sep 2021 17:28:50 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D977A51E25593B\u0022",
        "Last-Modified": "Tue, 14 Sep 2021 17:28:50 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.dfs.core.windows.net/test-filesystem-e58ad592-4c05-2173-bbf7-3ed0e6842cdb/test-file-ff9757b8-1e4d-d59c-8dcd-206355e69a19?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 14 Sep 2021 17:28:50 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": "R/2UBZzj3Mls9rQxm/HEdt/k6qAycgN7ZQ1McMxqgyZRujpfsBK9AmiITeJcm5Oa/oYdLR7hw9X5GKCOlmz8AXON4OG3ZcXNJug4qiQhH8l6snJFTVUIb/ZkZZhyL2z8i0xvzrux45jBTwY2qRmx2PjWFOP6trQdhXDqUgAtW/d8PB/YslENyM/ZhP1P0cXds4yfmxqIAdSXUUlKx5CYlPQPum352SanyEwUITG3zbOqDZ5zjcDd9DpKQGAIwwE\u002BQfAJQBdY49pm\u002BNLOc\u002BCi4IOVn7nxJAYzMsUzr5jFnwVL1uBBrY2cUinEDZTtDoBap2DcciNHTBzp1Q[...]
    {
      "RequestUri": "http://seanmcccanary3.dfs.core.windows.net/test-filesystem-e58ad592-4c05-2173-bbf7-3ed0e6842cdb/test-file-ff9757b8-1e4d-d59c-8dcd-206355e69a19?action=flush\u0026position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 14 Sep 2021 17:28:51 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D977A51E9FA79B\u0022",
        "Last-Modified": "Tue, 14 Sep 2021 17:28:51 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-filesystem-e58ad592-4c05-2173-bbf7-3ed0e6842cdb/test-file-ff9757b8-1e4d-d59c-8dcd-206355e69a19",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 14 Sep 2021 17:28:51 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-range-get-content-md5": "true",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-MD5": "0Bp8dNtDP4jRVAVqsBVvRQ==",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D977A51E9FA79B\u0022",
        "Last-Modified": "Tue, 14 Sep 2021 17:28:51 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 14 Sep 2021 17:28:50 GMT",
        "x-ms-last-access-time": "Tue, 14 Sep 2021 17:28:51 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": "R/2UBZzj3Mls9rQxm/HEdt/k6qAycgN7ZQ1McMxqgyZRujpfsBK9AmiITeJcm5Oa/oYdLR7hw9X5GKCOlmz8AXON4OG3ZcXNJug4qiQhH8l6snJFTVUIb/ZkZZhyL2z8i0xvzrux45jBTwY2qRmx2PjWFOP6trQdhXDqUgAtW/d8PB/YslENyM/ZhP1P0cXds4yfmxqIAdSXUUlKx5CYlPQPum352SanyEwUITG3zbOqDZ5zjcDd9DpKQGAIwwE\u002BQfAJQBdY49pm\u002BNLOc\u002BCi4IOVn7nxJAYzMsUzr5jFnwVL1uBBrY2cUinEDZTtDoBap2DcciNHTBzp1Q5RJTRBoVnNg50AYTL2\u002BU2PLRdyRiNF2Ac46CzhA4nDV9h/Si31gmw7IIvjWUYt5nnWtx[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-filesystem-e58ad592-4c05-2173-bbf7-3ed0e6842cdb?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 14 Sep 2021 17:28:51 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "609586296",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttp://seanmcccanary3.blob.core.windows.net\nhttp://seanmcccanary3.file.core.windows.net\nhttp://seanmcccanary3.queue.core.windows.net\nhttp://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttp://seanmcccanary3-secondary.blob.core.windows.net\nhttp://seanmcccanary3-secondary.file.core.windows.net\nhttp://seanmcccanary3-secondary.queue.core.windows.net\nhttp://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=http://seanmcccanary3.queue.core.windows.net/;FileEndpoint=http://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=http://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Sanitized\n\n\n"
  }
}