{
  "Entries": [
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-filesystem-cb214561-a578-deec-da47-39fbb749e634?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 14 Sep 2021 17:29:05 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D977A526F957F0\u0022",
        "Last-Modified": "Tue, 14 Sep 2021 17:29:05 GMT",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.dfs.core.windows.net/test-filesystem-cb214561-a578-deec-da47-39fbb749e634/test-file-1bac51c3-187c-4f1e-0e7b-da0ed91601c7?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 14 Sep 2021 17:29:05 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D977A527032DCE\u0022",
        "Last-Modified": "Tue, 14 Sep 2021 17:29:05 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.dfs.core.windows.net/test-filesystem-cb214561-a578-deec-da47-39fbb749e634/test-file-1bac51c3-187c-4f1e-0e7b-da0ed91601c7?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-MD5": "DIxy5W/4brFfkDRujIN1qg==",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 14 Sep 2021 17:29:05 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": "ODn/XJ8HuS5i7NWcnTfnU6UkqtSKbAvk4KJNB0VJZaE2AXy9iEZ2SSiPFztQ8\u002BJTSJrzq6nRe8wtGnv8ubHpGYczZZu7KspfrWCr\u002BlXQlOy/\u002Bb\u002BrVbr3ZIawj23KeY93pv60HI1HmB3Pk/1JJoB3XYWPPcDxPsPMPAAUC5tclTTQNFRWG3heeGCh28G9rj4GOTHnOjzPhWc75\u002BCMMo2Ccv7IePErIEINMMRfT2IBD43CDtJpdVr4Aa7sGzSY0UbTH2nD9DZN2hjv2gp3bzUFOddSyiS7Gf2j0HZCPgUOdV59jDD5PhtXdTO5eppQgJJ55\u0[...]
[...]
    {
      "RequestUri": "http://seanmcccanary3.dfs.core.windows.net/test-filesystem-cb214561-a578-deec-da47-39fbb749e634/test-file-1bac51c3-187c-4f1e-0e7b-da0ed91601c7?action=flush\u0026position=2048",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 14 Sep 2021 17:29:05 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D977A5271E04EF\u0022",
        "Last-Modified": "Tue, 14 Sep 2021 17:29:05 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-filesystem-cb214561-a578-deec-da47-39fbb749e634?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 14 Sep 2021 17:29:05 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "963415347",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttp://seanmcccanary3.blob.core.windows.net\nhttp://seanmcccanary3.file.core.windows.net\nhttp://seanmcccanary3.queue.core.windows.net\nhttp://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttp://seanmcccanary3-secondary.blob.core.windows.net\nhttp://seanmcccanary3-secondary.file.core.windows.net\nhttp://seanmcccanary3-secondary.queue.core.windows.net\nhttp://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=http://seanmcccanary3.queue.core.windows.net/;FileEndpoint=http://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=http://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Sanitized\n\n\n"
  }
}