{
  "Entries": [
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-filesystem-94d0bb1c-4f29-2f12-7ed6-001343d49969?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 14 Sep 2021 17:45:02 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D977A76132E873\u0022",
        "Last-Modified": "Tue, 14 Sep 2021 17:45:02 GMT",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.dfs.core.windows.net/test-filesystem-94d0bb1c-4f29-2f12-7ed6-001343d49969/test-file-e36bbe93-2eb5-b1e1-bd35-6c7848b29761?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 14 Sep 2021 17:45:02 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D977A761451F9A\u0022",
        "Last-Modified": "Tue, 14 Sep 2021 17:45:02 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.dfs.core.windows.net/test-filesystem-94d0bb1c-4f29-2f12-7ed6-001343d49969/test-file-e36bbe93-2eb5-b1e1-bd35-6c7848b29761?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-MD5": "3Gq4EeXxZI14DfCwQELzJQ==",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 14 Sep 2021 17:45:02 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": "HxbY2WRhrl87gq6oBoMfBQ2N893EB9zNIlkiZJMSB0yXuG/6oO8OvrewVgoQKKafGCNguKYMyxc5CrYKPknMKHpiEU0TJWUdfzQlE7DSvfqzg0xvsU\u002Bli\u002BxYwJU4A39u4y2PrhdYi/K9Qjhy5rdmZ028Vrv9XHcqvYVgu2XQ5Hu1tzCDQg/jW/dZsm8XMqU08VlIfK3DcIe2ZfGR\u002BNCN7V28vC6H4yQ92fvDpKoHE4rgK8kLh2jO8UeozNweUWIny8QRWnZ2rQ00CqOyAMzcrlJmsM0HgWX17svn3xZIH4eYnNjl9rgTaX67133FHPF6yx2Kt6GVIEleG2[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-filesystem-94d0bb1c-4f29-2f12-7ed6-001343d49969?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 14 Sep 2021 17:45:02 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "446711076",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttp://seanmcccanary3.blob.core.windows.net\nhttp://seanmcccanary3.file.core.windows.net\nhttp://seanmcccanary3.queue.core.windows.net\nhttp://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttp://seanmcccanary3-secondary.blob.core.windows.net\nhttp://seanmcccanary3-secondary.file.core.windows.net\nhttp://seanmcccanary3-secondary.queue.core.windows.net\nhttp://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=http://seanmcccanary3.queue.core.windows.net/;FileEndpoint=http://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=http://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Sanitized\n\n\n"
  }
}