{
  "Entries": [
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-filesystem-20243c2f-ad06-bba3-e349-36bc60cf35d5?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 21 Sep 2021 17:37:39 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D97D26821DAF20\u0022",
        "Last-Modified": "Tue, 21 Sep 2021 17:37:39 GMT",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.dfs.core.windows.net/test-filesystem-20243c2f-ad06-bba3-e349-36bc60cf35d5/test-file-9c568e98-65fd-92ab-a7a3-b5bc3efda180?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 21 Sep 2021 17:37:39 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D97D26822768D6\u0022",
        "Last-Modified": "Tue, 21 Sep 2021 17:37:39 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://seanmcccanary3.dfs.core.windows.net/test-filesystem-20243c2f-ad06-bba3-e349-36bc60cf35d5/test-file-9c568e98-65fd-92ab-a7a3-b5bc3efda180?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-MD5": "d74CJTtZBKt/lSKFTQreQg==",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 21 Sep 2021 17:37:39 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": "XAFQxWIPxGVdFE6iMCS3pkWsTYw8pQGuGIUPK8mFM5/UdiMC7D4nXg8tMr4bNEEIllkUMOQDybUAoa3d/5ic1\u002BGuzboBtLoGhe59D3NCk\u002BRDB5VwcQK70KxtAkuQSl92kVrdbWaGBuGfDav1hrlCvQ7JmfgDLGbf8vwOlLJudTuPBn4ZZSV9vACz0GRXxUryK0U9x7BncmX0/nppeHIvMJdvZn87KFfoS933UFsChy2yG2ltMa6LKJMZJWerE0OOhKDM51/LtgLtVHvSbyIK8nZNt1wJwv7o5D7rIgPwPTiZaMu6NZ/O5mRmf9wzuLhwDzPwXVzmhcKi4wMh35T[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-filesystem-20243c2f-ad06-bba3-e349-36bc60cf35d5?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 21 Sep 2021 17:37:39 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1391952017",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttp://seanmcccanary3.blob.core.windows.net\nhttp://seanmcccanary3.file.core.windows.net\nhttp://seanmcccanary3.queue.core.windows.net\nhttp://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttp://seanmcccanary3-secondary.blob.core.windows.net\nhttp://seanmcccanary3-secondary.file.core.windows.net\nhttp://seanmcccanary3-secondary.queue.core.windows.net\nhttp://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=http://seanmcccanary3.queue.core.windows.net/;FileEndpoint=http://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=http://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Sanitized\n\n\n"
  }
}