{
  "Entries": [
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-filesystem-1535e781-48ce-5a8e-d02a-9c8495e1d783?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 14 Sep 2021 17:27:44 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D977A4F6876F7C\u0022",
        "Last-Modified": "Tue, 14 Sep 2021 17:27:44 GMT",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.dfs.core.windows.net/test-filesystem-1535e781-48ce-5a8e-d02a-9c8495e1d783/test-file-fec31716-0faf-83b6-045b-95f73c59b441?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 14 Sep 2021 17:27:44 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D977A4F690DA78\u0022",
        "Last-Modified": "Tue, 14 Sep 2021 17:27:44 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://seanmcccanary3.dfs.core.windows.net/test-filesystem-1535e781-48ce-5a8e-d02a-9c8495e1d783/test-file-fec31716-0faf-83b6-045b-95f73c59b441?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-content-crc64": "7gYtc/9JlBo=",
        "x-ms-date": "Tue, 14 Sep 2021 17:27:44 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": "Q6D\u002B7zKO7mv2BpSkfVmOtaR\u002BhkK99HYB/9VOcGjs2L9FnvMsG5bqcGS57QaB90IprPhf2Dqhbk4p/PBdP34DCS7UXt5mYpoOkxXeBAdwgAiSJMNvjf\u002BFpDCkAh6mjTDmtePYrJhkw0pdUEQkw2pGuXznyxu6k3wuT7quwV97aAbl\u002BE4jmNNvLWF4Ejy6YODFXUihvsEVKyJnqV3etgLq4eg\u002BP8ocIyGpd526QYE/c\u002B/Z6GMX2qlE0MwrvO51kXdejTBTfCEWqTon\u002BEcjW\u002BmhJzZtBc2e0wc/\u002Bm798WYyM\u002BUmW7NQ7PfOwz8[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-filesystem-1535e781-48ce-5a8e-d02a-9c8495e1d783?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 14 Sep 2021 17:27:44 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1837148391",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttp://seanmcccanary3.blob.core.windows.net\nhttp://seanmcccanary3.file.core.windows.net\nhttp://seanmcccanary3.queue.core.windows.net\nhttp://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttp://seanmcccanary3-secondary.blob.core.windows.net\nhttp://seanmcccanary3-secondary.file.core.windows.net\nhttp://seanmcccanary3-secondary.queue.core.windows.net\nhttp://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=http://seanmcccanary3.queue.core.windows.net/;FileEndpoint=http://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=http://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Sanitized\n\n\n"
  }
}