{
  "Entries": [
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-filesystem-4173d169-84f0-648e-5025-a6fa6ac9c09d?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 21 Sep 2021 17:37:50 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D97D2688BB5ABA\u0022",
        "Last-Modified": "Tue, 21 Sep 2021 17:37:50 GMT",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.dfs.core.windows.net/test-filesystem-4173d169-84f0-648e-5025-a6fa6ac9c09d/test-file-b1f4f205-7717-ad17-722b-3e787bd3accd?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 21 Sep 2021 17:37:50 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D97D2688C76094\u0022",
        "Last-Modified": "Tue, 21 Sep 2021 17:37:50 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.dfs.core.windows.net/test-filesystem-4173d169-84f0-648e-5025-a6fa6ac9c09d/test-file-b1f4f205-7717-ad17-722b-3e787bd3accd?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-MD5": "zGXMoA7BoMCGfP6SNtmHGg==",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 21 Sep 2021 17:37:50 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": "xpLp8f3WVuwPxzIYQa8xm4Tvt8kcWbCY0DjMl0SutVzQ0Rigy6\u002B5bEvAVyX0MxGVkZ2PB/o\u002BVWziUSDECb6oYBHVR2\u002BWkM/UNUt9WwKLpJ0nNwWmH65hkXysvXqO9GKMF/cTHuyh/wDNu9GvwPlpVqyDndK5AkFjc7Xz6dNVRkDp8UQLd4WwhTgE2GTcstGCQmfNCleQ0xW1sKs2rRUteHWQxc\u002B1Xt8n0heatCndhsDkcaZrhzvpWR0uVcfZetgj1mDvS\u002BwBzOSIpjg/9h/s2CnqUjxuwfE5p2yyhgkXTVg/dt3I7jrT46TC4\u002BACqmP[...]
    {
      "RequestUri": "http://seanmcccanary3.dfs.core.windows.net/test-filesystem-4173d169-84f0-648e-5025-a6fa6ac9c09d/test-file-b1f4f205-7717-ad17-722b-3e787bd3accd?action=flush\u0026position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 21 Sep 2021 17:37:50 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D97D2688E2ACD0\u0022",
        "Last-Modified": "Tue, 21 Sep 2021 17:37:50 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-filesystem-4173d169-84f0-648e-5025-a6fa6ac9c09d?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 21 Sep 2021 17:37:50 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1813340729",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttp://seanmcccanary3.blob.core.windows.net\nhttp://seanmcccanary3.file.core.windows.net\nhttp://seanmcccanary3.queue.core.windows.net\nhttp://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttp://seanmcccanary3-secondary.blob.core.windows.net\nhttp://seanmcccanary3-secondary.file.core.windows.net\nhttp://seanmcccanary3-secondary.queue.core.windows.net\nhttp://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=http://seanmcccanary3.queue.core.windows.net/;FileEndpoint=http://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=http://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Sanitized\n\n\n"
  }
}