{
  "Entries": [
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-filesystem-8134595d-9f75-e511-f4f7-4d68c57e4495?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 14 Sep 2021 17:27:55 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D977A4FD15B294\u0022",
        "Last-Modified": "Tue, 14 Sep 2021 17:27:55 GMT",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.dfs.core.windows.net/test-filesystem-8134595d-9f75-e511-f4f7-4d68c57e4495/test-file-22f88295-7faa-9b04-0891-3caf334c27f9?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 14 Sep 2021 17:27:55 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D977A4FD20CEE9\u0022",
        "Last-Modified": "Tue, 14 Sep 2021 17:27:55 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.dfs.core.windows.net/test-filesystem-8134595d-9f75-e511-f4f7-4d68c57e4495/test-file-22f88295-7faa-9b04-0891-3caf334c27f9?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-MD5": "tAdHFifgfHzIq63MddXyvA==",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 14 Sep 2021 17:27:55 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": "s/wS5z40Mw2zB3sYrappNVJ\u002B4HMnOxchASIXaMHW/B\u002BQ1LR/rL2RVB5JVXY6bxzG\u002BFh9sgZY9Xfk8eUbHMpL3QtciNn26YiV7YxU3uWg5pIGUXBpWEkZN988mrrXdTdU/Xdr3udDzw7P6MV5AxaSRAtTFcpa4oTBQ1D5uk/NvXhUAOFtNAeqwoJhmnCEnzPIqlavg19t\u002BhrzqZuWSRW/ASpNJAM1JA8EqVJI\u002BEcUPaMcMA/4HjoY5wbGeotsE3lsoZhFN3swk4ZHq9oMJQHS32z3ehkFx\u002BPwND39bqmEl5XZ3FevzgYo7J2JsXNgC8I[...]
[...]
    {
      "RequestUri": "http://seanmcccanary3.dfs.core.windows.net/test-filesystem-8134595d-9f75-e511-f4f7-4d68c57e4495/test-file-22f88295-7faa-9b04-0891-3caf334c27f9?action=flush\u0026position=2048",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 14 Sep 2021 17:27:55 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D977A4FD447E5B\u0022",
        "Last-Modified": "Tue, 14 Sep 2021 17:27:55 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-filesystem-8134595d-9f75-e511-f4f7-4d68c57e4495?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 14 Sep 2021 17:27:55 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "2127058975",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttp://seanmcccanary3.blob.core.windows.net\nhttp://seanmcccanary3.file.core.windows.net\nhttp://seanmcccanary3.queue.core.windows.net\nhttp://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttp://seanmcccanary3-secondary.blob.core.windows.net\nhttp://seanmcccanary3-secondary.file.core.windows.net\nhttp://seanmcccanary3-secondary.queue.core.windows.net\nhttp://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=http://seanmcccanary3.queue.core.windows.net/;FileEndpoint=http://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=http://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Sanitized\n\n\n"
  }
}