{
  "Entries": [
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-filesystem-32a377d9-04ac-88fb-3ffc-b0e5edfbc527?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Fri, 20 Aug 2021 20:53:51 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9641C9D51C7DB\u0022",
        "Last-Modified": "Fri, 20 Aug 2021 20:53:51 GMT",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.dfs.core.windows.net/test-filesystem-32a377d9-04ac-88fb-3ffc-b0e5edfbc527/test-file-069fec40-2990-16b8-9c22-144f2aa8edaa?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-date": "Fri, 20 Aug 2021 20:53:51 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9641C9D5EA1E0\u0022",
        "Last-Modified": "Fri, 20 Aug 2021 20:53:51 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.dfs.core.windows.net/test-filesystem-32a377d9-04ac-88fb-3ffc-b0e5edfbc527/test-file-069fec40-2990-16b8-9c22-144f2aa8edaa?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Fri, 20 Aug 2021 20:53:51 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": "t1N9Gw9xlf3m4PsS/aU7XoKQgWG\u002BNbdKoawIn2yuLRx0FJ75ZF4Q8vY/qY\u002BCC6OZlxFfBZjEMoKcM3ljaPWQOLPenugGQvkjgI9qf4snyJUJbwdbTiiDr\u002BIcXTHlrYkBrnHco227klUXO4QJWrL2dGvkWfntNemKW\u002B4G6uTHPtIGadEZSiQnTtyyQxKjelUvJejGAVOPE3iHUkd/tKhxT/2xA/Hh3SlGvAsdO/HX5uCY18T8AT1/dlVYkvjcqJkzQfMV8XdkTUi\u002BgEVHctiHsGtn5t3jdE7AMoybiEsxaRNy6vr\u002BwvRpNIl8PYH4NwR[...]
    {
      "RequestUri": "http://seanmcccanary3.dfs.core.windows.net/test-filesystem-32a377d9-04ac-88fb-3ffc-b0e5edfbc527/test-file-069fec40-2990-16b8-9c22-144f2aa8edaa?action=flush\u0026position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 20 Aug 2021 20:53:51 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9641C9D820EE3\u0022",
        "Last-Modified": "Fri, 20 Aug 2021 20:53:51 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-filesystem-32a377d9-04ac-88fb-3ffc-b0e5edfbc527/test-file-069fec40-2990-16b8-9c22-144f2aa8edaa",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 20 Aug 2021 20:53:51 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D9641C9D820EE3\u0022",
        "Last-Modified": "Fri, 20 Aug 2021 20:53:51 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 20 Aug 2021 20:53:51 GMT",
        "x-ms-last-access-time": "Fri, 20 Aug 2021 20:53:51 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-filesystem-32a377d9-04ac-88fb-3ffc-b0e5edfbc527/test-file-069fec40-2990-16b8-9c22-144f2aa8edaa",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "0x8D9641C9D820EE3",
        "x-ms-date": "Fri, 20 Aug 2021 20:53:51 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-range-get-content-md5": "true",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-MD5": "1j/Wqh4nRxejY14yDNsbIg==",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D9641C9D820EE3\u0022",
        "Last-Modified": "Fri, 20 Aug 2021 20:53:51 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 20 Aug 2021 20:53:51 GMT",
        "x-ms-last-access-time": "Fri, 20 Aug 2021 20:53:51 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "202[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-filesystem-32a377d9-04ac-88fb-3ffc-b0e5edfbc527?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 20 Aug 2021 20:53:51 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1512210472",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttp://seanmcccanary3.blob.core.windows.net\nhttp://seanmcccanary3.file.core.windows.net\nhttp://seanmcccanary3.queue.core.windows.net\nhttp://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttp://seanmcccanary3-secondary.blob.core.windows.net\nhttp://seanmcccanary3-secondary.file.core.windows.net\nhttp://seanmcccanary3-secondary.queue.core.windows.net\nhttp://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=http://seanmcccanary3.queue.core.windows.net/;FileEndpoint=http://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=http://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Sanitized\n\n\n"
  }
}