{
  "Entries": [
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-filesystem-4da06179-0fc4-0544-9a9e-12e1327aca18?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 14 Sep 2021 17:27:56 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D977A4FDCD75C6\u0022",
        "Last-Modified": "Tue, 14 Sep 2021 17:27:56 GMT",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.dfs.core.windows.net/test-filesystem-4da06179-0fc4-0544-9a9e-12e1327aca18/test-file-52e4f70e-f7b9-423c-9746-ff425be4e292?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-date": "Tue, 14 Sep 2021 17:27:56 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D977A4FDD78139\u0022",
        "Last-Modified": "Tue, 14 Sep 2021 17:27:56 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.dfs.core.windows.net/test-filesystem-4da06179-0fc4-0544-9a9e-12e1327aca18/test-file-52e4f70e-f7b9-423c-9746-ff425be4e292?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 14 Sep 2021 17:27:56 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": "BRpLWyoYNv4XJUjOn2U3hmhHUSsjRj6emg0ZnGCE/jajBV8Ie75B9cDlO5SvbaIyD3nZE5K2br7crcAd/5qekyYRKpoGLgqqBlxqPgqp7y1r54zmq\u002Buj7ZagLM79I/UmRqdtnUMHK\u002BBvLgw2SzC0Mr6TsRcNuOg7bT0EZQE7reJmRPdiPFHpY7usdnzebaJl7PoQanLeGI6/MjAGAsbfM4ApzwY4UfZtqU1bYUFrXP\u002BbnnkHK0NwiCtpogkg42H1zUL7tZ2bLZoEo8AkgrdNVNYwa2NM1wg9uEfbz67sTMbsZpT\u002Bb6Zh/3HeA4iDTAZ0G04z8Hj9q[...]
    {
      "RequestUri": "http://seanmcccanary3.dfs.core.windows.net/test-filesystem-4da06179-0fc4-0544-9a9e-12e1327aca18/test-file-52e4f70e-f7b9-423c-9746-ff425be4e292?action=flush\u0026position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 14 Sep 2021 17:27:56 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D977A4FDE8BCC8\u0022",
        "Last-Modified": "Tue, 14 Sep 2021 17:27:56 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-filesystem-4da06179-0fc4-0544-9a9e-12e1327aca18/test-file-52e4f70e-f7b9-423c-9746-ff425be4e292",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 14 Sep 2021 17:27:56 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D977A4FDE8BCC8\u0022",
        "Last-Modified": "Tue, 14 Sep 2021 17:27:56 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 14 Sep 2021 17:27:56 GMT",
        "x-ms-last-access-time": "Tue, 14 Sep 2021 17:27:56 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-filesystem-4da06179-0fc4-0544-9a9e-12e1327aca18/test-file-52e4f70e-f7b9-423c-9746-ff425be4e292",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "0x8D977A4FDE8BCC8",
        "x-ms-date": "Tue, 14 Sep 2021 17:27:56 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-range-get-content-md5": "true",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-MD5": "vindfz1/G4ZYWcr3ZyxIGg==",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D977A4FDE8BCC8\u0022",
        "Last-Modified": "Tue, 14 Sep 2021 17:27:56 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 14 Sep 2021 17:27:56 GMT",
        "x-ms-last-access-time": "Tue, 14 Sep 2021 17:27:56 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "202[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-filesystem-4da06179-0fc4-0544-9a9e-12e1327aca18?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 14 Sep 2021 17:27:56 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "845013693",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttp://seanmcccanary3.blob.core.windows.net\nhttp://seanmcccanary3.file.core.windows.net\nhttp://seanmcccanary3.queue.core.windows.net\nhttp://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttp://seanmcccanary3-secondary.blob.core.windows.net\nhttp://seanmcccanary3-secondary.file.core.windows.net\nhttp://seanmcccanary3-secondary.queue.core.windows.net\nhttp://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=http://seanmcccanary3.queue.core.windows.net/;FileEndpoint=http://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=http://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Sanitized\n\n\n"
  }
}