{
  "Entries": [
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-filesystem-07bba2d0-fa41-7a24-03c6-beca4622ee77?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Fri, 20 Aug 2021 20:53:53 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9641C9E82902C\u0022",
        "Last-Modified": "Fri, 20 Aug 2021 20:53:53 GMT",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.dfs.core.windows.net/test-filesystem-07bba2d0-fa41-7a24-03c6-beca4622ee77/test-file-09aca953-8d93-7ba6-5a7c-8c7c0b0efaf3?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-date": "Fri, 20 Aug 2021 20:53:53 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9641C9E8C35C0\u0022",
        "Last-Modified": "Fri, 20 Aug 2021 20:53:53 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.dfs.core.windows.net/test-filesystem-07bba2d0-fa41-7a24-03c6-beca4622ee77/test-file-09aca953-8d93-7ba6-5a7c-8c7c0b0efaf3?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Fri, 20 Aug 2021 20:53:53 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": "SI8TQg2BIN1TpG8r2F54aW\u002BtmxnWjbibKaK9R0mhbgu6j31yhRQDrQxuDRqdCujXdkA\u002B\u002B/BBu7rWdxhrw9iUsTVjcUnhBeNaqe0MaICe/R\u002B55tEIYnIbedPCmw78mOkz2lvkOZif9nBc5FICNFM6OHr5sd0Hi0/DSPd1HmrVXhAE2I4kusOGGfBhrH4fGESAh2OTA\u002BcMLE8MIPGhKtcFhoVC/lzFFX22cpfspd7Qoy\u002By9JcGQVso96s\u002BGJnS5e8ZWyX53Rrou3Ll3ZBQIIZwO3zB7jVA/0QqGQewhv3k44yn00q518YVyjkkIG[...]
    {
      "RequestUri": "http://seanmcccanary3.dfs.core.windows.net/test-filesystem-07bba2d0-fa41-7a24-03c6-beca4622ee77/test-file-09aca953-8d93-7ba6-5a7c-8c7c0b0efaf3?action=flush\u0026position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 20 Aug 2021 20:53:53 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9641C9EA0D2F8\u0022",
        "Last-Modified": "Fri, 20 Aug 2021 20:53:53 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-filesystem-07bba2d0-fa41-7a24-03c6-beca4622ee77/test-file-09aca953-8d93-7ba6-5a7c-8c7c0b0efaf3",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 20 Aug 2021 20:53:53 GMT",
        "x-ms-range": "bytes=0-268435455",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D9641C9EA0D2F8\u0022",
        "Last-Modified": "Fri, 20 Aug 2021 20:53:53 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 20 Aug 2021 20:53:53 GMT",
        "x-ms-last-access-time": "Fri, 20 Aug 2021 20:53:53 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": "SI8TQg2BIN1TpG8r2F54aW\u002BtmxnWjbibKaK9R0mhbgu6j31yhRQDrQxuDRqdCujXdkA\u002B\u002B/BBu7rWdxhrw9iUsTVjcUnhBeNaqe0MaICe/R\u002B55tEIYnIbedPCmw78mOkz2lvkOZif9nBc5FICNFM6OHr5sd0Hi0/DSPd1HmrVXhAE2I4kusOGGfBhrH4fGESAh2OTA\u002BcMLE8MIPGhKtcFhoVC/lzFFX22cpfspd7Qoy\u002By9JcGQVso96s\u002BGJnS5e8ZWyX53Rrou3Ll3ZBQIIZwO3zB7jVA/0QqGQewhv3k44yn00q518YVyjkkIGTK2NckztwcEPe52VzgzsMSODV0AfkEqEw8tmO2rCT8G97gX0Avi7cgx9OV7vnt2AgCApEEsB9[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-filesystem-07bba2d0-fa41-7a24-03c6-beca4622ee77?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 20 Aug 2021 20:53:53 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1689309167",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttp://seanmcccanary3.blob.core.windows.net\nhttp://seanmcccanary3.file.core.windows.net\nhttp://seanmcccanary3.queue.core.windows.net\nhttp://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttp://seanmcccanary3-secondary.blob.core.windows.net\nhttp://seanmcccanary3-secondary.file.core.windows.net\nhttp://seanmcccanary3-secondary.queue.core.windows.net\nhttp://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=http://seanmcccanary3.queue.core.windows.net/;FileEndpoint=http://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=http://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Sanitized\n\n\n"
  }
}