{
  "Entries": [
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-filesystem-e60253ce-37bf-732d-c2bf-3ec52b4f6022?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Fri, 20 Aug 2021 20:53:54 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9641C9F471576\u0022",
        "Last-Modified": "Fri, 20 Aug 2021 20:53:54 GMT",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.dfs.core.windows.net/test-filesystem-e60253ce-37bf-732d-c2bf-3ec52b4f6022/test-file-b97bded8-bccd-51aa-032e-2ab16fd0c93e?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-date": "Fri, 20 Aug 2021 20:53:54 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9641C9F50E26B\u0022",
        "Last-Modified": "Fri, 20 Aug 2021 20:53:54 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.dfs.core.windows.net/test-filesystem-e60253ce-37bf-732d-c2bf-3ec52b4f6022/test-file-b97bded8-bccd-51aa-032e-2ab16fd0c93e?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Fri, 20 Aug 2021 20:53:54 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": "\u002B\u002BftBU6ZJ30O4KY03gLtAk/Gjtk6fJnPib95\u002B2PSBOAVhTCf0mopniuY1adOASujXOsiV9Gdmn9NHnuOICwZPNzGH1nSTTDknO\u002BtoqbygIiU1Z93r60PeOqwUrTvm37/fpnLiOLR0Q67Pbrh7/jYW53z\u002BUqNoowvt6ZuIft89QBwriMNJvimwgSQvHLyLYjy1/cW/KEzcdsMnNE7Y68TP0i6cEDUyzSlTDdG/OYaPIkefEkEZflePTxIAYonal9UfH0pOL1IHgzCcK9q7XX18V9HHedlD9lPWzMDjMmqfeHY8n9o8ATM1l09QfVJ9E/HUg8q[...]
    {
      "RequestUri": "http://seanmcccanary3.dfs.core.windows.net/test-filesystem-e60253ce-37bf-732d-c2bf-3ec52b4f6022/test-file-b97bded8-bccd-51aa-032e-2ab16fd0c93e?action=flush\u0026position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 20 Aug 2021 20:53:54 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9641C9F63D1A1\u0022",
        "Last-Modified": "Fri, 20 Aug 2021 20:53:54 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-filesystem-e60253ce-37bf-732d-c2bf-3ec52b4f6022/test-file-b97bded8-bccd-51aa-032e-2ab16fd0c93e",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 20 Aug 2021 20:53:54 GMT",
        "x-ms-range": "bytes=0-268435455",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D9641C9F63D1A1\u0022",
        "Last-Modified": "Fri, 20 Aug 2021 20:53:54 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 20 Aug 2021 20:53:54 GMT",
        "x-ms-last-access-time": "Fri, 20 Aug 2021 20:53:54 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": "\u002B\u002BftBU6ZJ30O4KY03gLtAk/Gjtk6fJnPib95\u002B2PSBOAVhTCf0mopniuY1adOASujXOsiV9Gdmn9NHnuOICwZPNzGH1nSTTDknO\u002BtoqbygIiU1Z93r60PeOqwUrTvm37/fpnLiOLR0Q67Pbrh7/jYW53z\u002BUqNoowvt6ZuIft89QBwriMNJvimwgSQvHLyLYjy1/cW/KEzcdsMnNE7Y68TP0i6cEDUyzSlTDdG/OYaPIkefEkEZflePTxIAYonal9UfH0pOL1IHgzCcK9q7XX18V9HHedlD9lPWzMDjMmqfeHY8n9o8ATM1l09QfVJ9E/HUg8q3014722k2tyJRJJCGPPNkvv1jQFbe0aJKM3kBWbjPDq6f56TXwISxBYnQpHL\u002BikBe2JU[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-filesystem-e60253ce-37bf-732d-c2bf-3ec52b4f6022?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 20 Aug 2021 20:53:54 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "856515901",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttp://seanmcccanary3.blob.core.windows.net\nhttp://seanmcccanary3.file.core.windows.net\nhttp://seanmcccanary3.queue.core.windows.net\nhttp://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttp://seanmcccanary3-secondary.blob.core.windows.net\nhttp://seanmcccanary3-secondary.file.core.windows.net\nhttp://seanmcccanary3-secondary.queue.core.windows.net\nhttp://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=http://seanmcccanary3.queue.core.windows.net/;FileEndpoint=http://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=http://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Sanitized\n\n\n"
  }
}