{
  "Entries": [
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-filesystem-7e154010-faf0-3a7d-f68b-20656a470284?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 21 Sep 2021 17:39:03 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D97D26B46CF588\u0022",
        "Last-Modified": "Tue, 21 Sep 2021 17:39:03 GMT",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.dfs.core.windows.net/test-filesystem-7e154010-faf0-3a7d-f68b-20656a470284/test-file-0e23a0e3-a3af-da2b-fb1b-c1e6a5823f18?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-date": "Tue, 21 Sep 2021 17:39:03 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D97D26B476747B\u0022",
        "Last-Modified": "Tue, 21 Sep 2021 17:39:03 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.dfs.core.windows.net/test-filesystem-7e154010-faf0-3a7d-f68b-20656a470284/test-file-0e23a0e3-a3af-da2b-fb1b-c1e6a5823f18?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 21 Sep 2021 17:39:04 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": "OFHUXgdtfsjt3pPzfSePER36F1m5RSDu32SZ6k4dBwk0n\u002BUZ141RdiFbINEQOF3Ti6/Iq2rmXvMw5X\u002Bi05R6z9aKv91BdjqQqKE3XiRP3acHxV\u002BeVFyfTUHy6PEOr6KN4VD6hniAkRR0OALIrwDO4AjXmw0123t66nKcT45Jgvn/qX3TVVcvhzRKKRxZ1p5BIwfpNhOUWAXVf5sG5EKFK7UIyQWD\u002B4uwqBTZ6rFeIRTTWiuGX0zlalF3/dW8KKLxxP1nUAyZvSh7OY3/um5Td16GMokX/8xoI160C/6184Bx6CWz99AHOp0DCia/5rDiI4Z3NvYZ2[...]
    {
      "RequestUri": "http://seanmcccanary3.dfs.core.windows.net/test-filesystem-7e154010-faf0-3a7d-f68b-20656a470284/test-file-0e23a0e3-a3af-da2b-fb1b-c1e6a5823f18?action=flush\u0026position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 21 Sep 2021 17:39:04 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D97D26B492F907\u0022",
        "Last-Modified": "Tue, 21 Sep 2021 17:39:04 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-filesystem-7e154010-faf0-3a7d-f68b-20656a470284/test-file-0e23a0e3-a3af-da2b-fb1b-c1e6a5823f18",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 21 Sep 2021 17:39:04 GMT",
        "x-ms-range": "bytes=0-5119",
        "x-ms-range-get-content-crc64": "true",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D97D26B492F907\u0022",
        "Last-Modified": "Tue, 21 Sep 2021 17:39:04 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-content-crc64": "KQEV\u002BX\u002Ba48c=",
        "x-ms-creation-time": "Tue, 21 Sep 2021 17:39:03 GMT",
        "x-ms-last-access-time": "Tue, 21 Sep 2021 17:39:04 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": "OFHUXgdtfsjt3pPzfSePER36F1m5RSDu32SZ6k4dBwk0n\u002BUZ141RdiFbINEQOF3Ti6/Iq2rmXvMw5X\u002Bi05R6z9aKv91BdjqQqKE3XiRP3acHxV\u002BeVFyfTUHy6PEOr6KN4VD6hniAkRR0OALIrwDO4AjXmw0123t66nKcT45Jgvn/qX3TVVcvhzRKKRxZ1p5BIwfpNhOUWAXVf5sG5EKFK7UIyQWD\u002B4uwqBTZ6rFeIRTTWiuGX0zlalF3/dW8KKLxxP1nUAyZvSh7OY3/um5Td16GMokX/8xoI160C/6184Bx6CWz99AHOp0DCia/5rDiI4Z3NvYZ2cUx/i2u5LEqxkYNjtFJn3\u002BOfvfsFPSlqTyt0eh3PryJVw5fgviiWVXr2UTgsVjemYMG6[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-filesystem-7e154010-faf0-3a7d-f68b-20656a470284?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 21 Sep 2021 17:39:04 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "550742437",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttp://seanmcccanary3.blob.core.windows.net\nhttp://seanmcccanary3.file.core.windows.net\nhttp://seanmcccanary3.queue.core.windows.net\nhttp://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttp://seanmcccanary3-secondary.blob.core.windows.net\nhttp://seanmcccanary3-secondary.file.core.windows.net\nhttp://seanmcccanary3-secondary.queue.core.windows.net\nhttp://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=http://seanmcccanary3.queue.core.windows.net/;FileEndpoint=http://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=http://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Sanitized\n\n\n"
  }
}