{
  "Entries": [
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-filesystem-9777f9a2-ebcc-53ca-9ad7-413479d674cf?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 21 Sep 2021 17:39:02 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D97D26B35482C4\u0022",
        "Last-Modified": "Tue, 21 Sep 2021 17:39:02 GMT",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.dfs.core.windows.net/test-filesystem-9777f9a2-ebcc-53ca-9ad7-413479d674cf/test-file-e2a092d7-ed57-94bd-b8df-ef97aa615a66?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-date": "Tue, 21 Sep 2021 17:39:02 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D97D26B35D8C30\u0022",
        "Last-Modified": "Tue, 21 Sep 2021 17:39:02 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.dfs.core.windows.net/test-filesystem-9777f9a2-ebcc-53ca-9ad7-413479d674cf/test-file-e2a092d7-ed57-94bd-b8df-ef97aa615a66?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 21 Sep 2021 17:39:02 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": "jKkm4N0BZ3fziU/gUuVdns\u002BzkGaTaD8g22S6iAGMe7sbVc\u002BR4oOv1Sop7s2e3EHSglHH9tDz0iRpBgV5R951Zw6TxfwWzLtMBLo7aXlygf4i5wawxIXqJ4KqJ9t\u002BNo5Ms4e/ChdFu7aVe/EWuGiq94QGV1/XxaKJqJ16a6Tgzc4s77bxsnfm3StQGkiT1G8ZAC9Wd98udO3lNWF5ylARtK4j6ciyuEQNIHk0h6pZ9tMuYGt1iVXu/nrIDH0VbBLbPmaab\u002BumZ0fqSVdl\u002Bu1Ciz\u002BOS2rknCpYNOtO6avH97NnWElEv4boiPgjikD9iQS[...]
    {
      "RequestUri": "http://seanmcccanary3.dfs.core.windows.net/test-filesystem-9777f9a2-ebcc-53ca-9ad7-413479d674cf/test-file-e2a092d7-ed57-94bd-b8df-ef97aa615a66?action=flush\u0026position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 21 Sep 2021 17:39:02 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D97D26B37751FA\u0022",
        "Last-Modified": "Tue, 21 Sep 2021 17:39:02 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-filesystem-9777f9a2-ebcc-53ca-9ad7-413479d674cf/test-file-e2a092d7-ed57-94bd-b8df-ef97aa615a66",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 21 Sep 2021 17:39:02 GMT",
        "x-ms-range": "bytes=0-3071",
        "x-ms-range-get-content-md5": "true",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-MD5": "yjuyInuvXs0QvE9IVhSb2Q==",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D97D26B37751FA\u0022",
        "Last-Modified": "Tue, 21 Sep 2021 17:39:02 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 21 Sep 2021 17:39:02 GMT",
        "x-ms-last-access-time": "Tue, 21 Sep 2021 17:39:02 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": "jKkm4N0BZ3fziU/gUuVdns\u002BzkGaTaD8g22S6iAGMe7sbVc\u002BR4oOv1Sop7s2e3EHSglHH9tDz0iRpBgV5R951Zw6TxfwWzLtMBLo7aXlygf4i5wawxIXqJ4KqJ9t\u002BNo5Ms4e/ChdFu7aVe/EWuGiq94QGV1/XxaKJqJ16a6Tgzc4s77bxsnfm3StQGkiT1G8ZAC9Wd98udO3lNWF5ylARtK4j6ciyuEQNIHk0h6pZ9tMuYGt1iVXu/nrIDH0VbBLbPmaab\u002BumZ0fqSVdl\u002Bu1Ciz\u002BOS2rknCpYNOtO6avH97NnWElEv4boiPgjikD9iQSNhoE9hyGn9qE7QToAV36bI1Gk/qGj/cu4psJywBLqWqvmwGIqiXCRv2GnCX1L5zB5iGbvWYpi[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-filesystem-9777f9a2-ebcc-53ca-9ad7-413479d674cf?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 21 Sep 2021 17:39:02 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "241330807",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttp://seanmcccanary3.blob.core.windows.net\nhttp://seanmcccanary3.file.core.windows.net\nhttp://seanmcccanary3.queue.core.windows.net\nhttp://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttp://seanmcccanary3-secondary.blob.core.windows.net\nhttp://seanmcccanary3-secondary.file.core.windows.net\nhttp://seanmcccanary3-secondary.queue.core.windows.net\nhttp://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=http://seanmcccanary3.queue.core.windows.net/;FileEndpoint=http://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=http://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Sanitized\n\n\n"
  }
}