{
  "Entries": [
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-filesystem-9777f9a2-ebcc-53ca-9ad7-413479d674cf?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Fri, 20 Aug 2021 20:54:00 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9641CA2AF4966\u0022",
        "Last-Modified": "Fri, 20 Aug 2021 20:54:00 GMT",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.dfs.core.windows.net/test-filesystem-9777f9a2-ebcc-53ca-9ad7-413479d674cf/test-file-7e6bc537-fdd5-eb6a-f881-528f839db718?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-date": "Fri, 20 Aug 2021 20:54:00 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9641CA2B8C943\u0022",
        "Last-Modified": "Fri, 20 Aug 2021 20:54:00 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.dfs.core.windows.net/test-filesystem-9777f9a2-ebcc-53ca-9ad7-413479d674cf/test-file-7e6bc537-fdd5-eb6a-f881-528f839db718?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Fri, 20 Aug 2021 20:54:00 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": "15Kg4lftvZS43\u002B\u002BXqmFaZoypJuDdAWd384lP4FLlXZ7Ps5Bmk2g/INtkuogBjHu7G1XPkeKDr9UqKe7NntxB0oJRx/bQ89IkaQYFeUfedWcOk8X8Fsy7TAS6O2l5coH\u002BIucGsMSF6ieCqifbfjaOTLOHvwoXRbu2lXvxFrhoqveEBldf18Wiiaidemuk4M3OLO\u002B28bJ35t0rUBpIk9RvGQAvVnffLnTt5TVhecpQEbSuI\u002BnIsrhEDSB5NIeqWfbTLmBrdYlV7v56yAx9FWwS2z5mmm/rpmdH6klXZfrtQos/jktq5JwqWDTrTumrx/ezZ1hJ[...]
    {
      "RequestUri": "http://seanmcccanary3.dfs.core.windows.net/test-filesystem-9777f9a2-ebcc-53ca-9ad7-413479d674cf/test-file-7e6bc537-fdd5-eb6a-f881-528f839db718?action=flush\u0026position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 20 Aug 2021 20:54:00 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9641CA2CD184D\u0022",
        "Last-Modified": "Fri, 20 Aug 2021 20:54:00 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-filesystem-9777f9a2-ebcc-53ca-9ad7-413479d674cf/test-file-7e6bc537-fdd5-eb6a-f881-528f839db718",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 20 Aug 2021 20:54:00 GMT",
        "x-ms-range": "bytes=0-268435455",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D9641CA2CD184D\u0022",
        "Last-Modified": "Fri, 20 Aug 2021 20:54:00 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 20 Aug 2021 20:54:00 GMT",
        "x-ms-last-access-time": "Fri, 20 Aug 2021 20:54:00 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": "15Kg4lftvZS43\u002B\u002BXqmFaZoypJuDdAWd384lP4FLlXZ7Ps5Bmk2g/INtkuogBjHu7G1XPkeKDr9UqKe7NntxB0oJRx/bQ89IkaQYFeUfedWcOk8X8Fsy7TAS6O2l5coH\u002BIucGsMSF6ieCqifbfjaOTLOHvwoXRbu2lXvxFrhoqveEBldf18Wiiaidemuk4M3OLO\u002B28bJ35t0rUBpIk9RvGQAvVnffLnTt5TVhecpQEbSuI\u002BnIsrhEDSB5NIeqWfbTLmBrdYlV7v56yAx9FWwS2z5mmm/rpmdH6klXZfrtQos/jktq5JwqWDTrTumrx/ezZ1hJRL\u002BG6Ij4I4pA/YkEjYaBPYchp/ahO0E6AFd\u002BmyNRpP6ho/3LuKbCcsAS6lqr5sB[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-filesystem-9777f9a2-ebcc-53ca-9ad7-413479d674cf?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 20 Aug 2021 20:54:00 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "241330807",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttp://seanmcccanary3.blob.core.windows.net\nhttp://seanmcccanary3.file.core.windows.net\nhttp://seanmcccanary3.queue.core.windows.net\nhttp://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttp://seanmcccanary3-secondary.blob.core.windows.net\nhttp://seanmcccanary3-secondary.file.core.windows.net\nhttp://seanmcccanary3-secondary.queue.core.windows.net\nhttp://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=http://seanmcccanary3.queue.core.windows.net/;FileEndpoint=http://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=http://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Sanitized\n\n\n"
  }
}