{
  "Entries": [
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-filesystem-e941ba08-60a7-25fe-f98b-6de1cd7b7808?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Fri, 20 Aug 2021 20:53:59 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9641CA26AB9D3\u0022",
        "Last-Modified": "Fri, 20 Aug 2021 20:53:59 GMT",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.dfs.core.windows.net/test-filesystem-e941ba08-60a7-25fe-f98b-6de1cd7b7808/test-file-a759f5fc-ab21-1740-7505-7c7f77896620?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-date": "Fri, 20 Aug 2021 20:53:59 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9641CA27A7C50\u0022",
        "Last-Modified": "Fri, 20 Aug 2021 20:53:59 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.dfs.core.windows.net/test-filesystem-e941ba08-60a7-25fe-f98b-6de1cd7b7808/test-file-a759f5fc-ab21-1740-7505-7c7f77896620?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Fri, 20 Aug 2021 20:53:59 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": "ttdhyKVqd80mHLBDizBSBTb5t4vTN8wpy\u002BJAlOCMMg2F8hj8kozOv8rZGh/AjBGTZVXR\u002BHNSD34LOPzCKePtmeqjvpgXVXKpK/fA\u002BR2saD/QrC6LuzmaMuOZ8VqPC5bn7IA0Hc55ew/iJ8x7khVhXs\u002B98ny0Yd6xCIu1fmQYGiBh2Q2deEtxVzAfqZNtH6DOOJKL0hgZMoqhgxRCw/2qyQ2rGbkHxOaDTJpLlbhLQ\u002Bnr50XRjUcHR6aC\u002B/Q3LpMzdN\u002BFwQXmxnSsB4Z\u002Bzp3RVT8rVty32DzFo9IShcjxTB0GGCHZxoLjB[...]
    {
      "RequestUri": "http://seanmcccanary3.dfs.core.windows.net/test-filesystem-e941ba08-60a7-25fe-f98b-6de1cd7b7808/test-file-a759f5fc-ab21-1740-7505-7c7f77896620?action=flush\u0026position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 20 Aug 2021 20:53:59 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9641CA28F409D\u0022",
        "Last-Modified": "Fri, 20 Aug 2021 20:53:59 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-filesystem-e941ba08-60a7-25fe-f98b-6de1cd7b7808/test-file-a759f5fc-ab21-1740-7505-7c7f77896620",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 20 Aug 2021 20:53:59 GMT",
        "x-ms-range": "bytes=0-268435455",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D9641CA28F409D\u0022",
        "Last-Modified": "Fri, 20 Aug 2021 20:53:59 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 20 Aug 2021 20:53:59 GMT",
        "x-ms-last-access-time": "Fri, 20 Aug 2021 20:53:59 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": "ttdhyKVqd80mHLBDizBSBTb5t4vTN8wpy\u002BJAlOCMMg2F8hj8kozOv8rZGh/AjBGTZVXR\u002BHNSD34LOPzCKePtmeqjvpgXVXKpK/fA\u002BR2saD/QrC6LuzmaMuOZ8VqPC5bn7IA0Hc55ew/iJ8x7khVhXs\u002B98ny0Yd6xCIu1fmQYGiBh2Q2deEtxVzAfqZNtH6DOOJKL0hgZMoqhgxRCw/2qyQ2rGbkHxOaDTJpLlbhLQ\u002Bnr50XRjUcHR6aC\u002B/Q3LpMzdN\u002BFwQXmxnSsB4Z\u002Bzp3RVT8rVty32DzFo9IShcjxTB0GGCHZxoLjBCDRJYXBiXkJsKW1C9i3e5uivx4z1ECru7pod7V8\u002BI\u002B9R1K75bO3AxlYCdQiO0FF[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-filesystem-e941ba08-60a7-25fe-f98b-6de1cd7b7808?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 20 Aug 2021 20:53:59 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "760974115",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttp://seanmcccanary3.blob.core.windows.net\nhttp://seanmcccanary3.file.core.windows.net\nhttp://seanmcccanary3.queue.core.windows.net\nhttp://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttp://seanmcccanary3-secondary.blob.core.windows.net\nhttp://seanmcccanary3-secondary.file.core.windows.net\nhttp://seanmcccanary3-secondary.queue.core.windows.net\nhttp://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=http://seanmcccanary3.queue.core.windows.net/;FileEndpoint=http://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=http://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Sanitized\n\n\n"
  }
}