{
  "Entries": [
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-filesystem-cf50c34b-0112-9f8c-f65a-19134aa25ee3?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Fri, 20 Aug 2021 20:53:53 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9641C9EFE8D85\u0022",
        "Last-Modified": "Fri, 20 Aug 2021 20:53:53 GMT",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.dfs.core.windows.net/test-filesystem-cf50c34b-0112-9f8c-f65a-19134aa25ee3/test-file-da42a092-0148-4edd-86d9-1a9ff8001710?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-date": "Fri, 20 Aug 2021 20:53:53 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9641C9F080C35\u0022",
        "Last-Modified": "Fri, 20 Aug 2021 20:53:53 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.dfs.core.windows.net/test-filesystem-cf50c34b-0112-9f8c-f65a-19134aa25ee3/test-file-da42a092-0148-4edd-86d9-1a9ff8001710?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Fri, 20 Aug 2021 20:53:53 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": "k0fNcQZ5Fb\u002BRmL7bvQRpFlNRdJzwcVr5iE6uJxHa0z0GwvXuEpXBJZjyWvCCLaI9i2QDk16UkSHt0\u002Bi4yu2ut8SA1fsPegS\u002BkE8D/hdpd1uscJyt10DfcjDTAT6tCVqqQ6MrAlinLhBfRAIPkJIJg1yNC1pRAd\u002BEoGPKO3jFEIb0WLtzPnUDBEKLTZI90OGeyn7iIP0AWULEp2H03fKYmjR8GjjXlkXmiQYYxbRMRtCCK3H64vCJ9P94r5YUDidP87JewbWoxzM5\u002B5b255OOd2GQcrGBnrdD8iU4Xuau0nvfydIB7oQa2WQ9wOZakwxr6jg1[...]
    {
      "RequestUri": "http://seanmcccanary3.dfs.core.windows.net/test-filesystem-cf50c34b-0112-9f8c-f65a-19134aa25ee3/test-file-da42a092-0148-4edd-86d9-1a9ff8001710?action=flush\u0026position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 20 Aug 2021 20:53:54 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9641C9F24E84C\u0022",
        "Last-Modified": "Fri, 20 Aug 2021 20:53:54 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-filesystem-cf50c34b-0112-9f8c-f65a-19134aa25ee3/test-file-da42a092-0148-4edd-86d9-1a9ff8001710",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 20 Aug 2021 20:53:54 GMT",
        "x-ms-range": "bytes=0-268435455",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D9641C9F24E84C\u0022",
        "Last-Modified": "Fri, 20 Aug 2021 20:53:54 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 20 Aug 2021 20:53:53 GMT",
        "x-ms-last-access-time": "Fri, 20 Aug 2021 20:53:54 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": "k0fNcQZ5Fb\u002BRmL7bvQRpFlNRdJzwcVr5iE6uJxHa0z0GwvXuEpXBJZjyWvCCLaI9i2QDk16UkSHt0\u002Bi4yu2ut8SA1fsPegS\u002BkE8D/hdpd1uscJyt10DfcjDTAT6tCVqqQ6MrAlinLhBfRAIPkJIJg1yNC1pRAd\u002BEoGPKO3jFEIb0WLtzPnUDBEKLTZI90OGeyn7iIP0AWULEp2H03fKYmjR8GjjXlkXmiQYYxbRMRtCCK3H64vCJ9P94r5YUDidP87JewbWoxzM5\u002B5b255OOd2GQcrGBnrdD8iU4Xuau0nvfydIB7oQa2WQ9wOZakwxr6jg1g5t1zVT7Gs\u002BQb2lNiikaFh7AjIncdplNRN3Q6V8YzXOteU/faft9BtO1imn77za9P3zu[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-filesystem-cf50c34b-0112-9f8c-f65a-19134aa25ee3?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 20 Aug 2021 20:53:54 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1345951740",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttp://seanmcccanary3.blob.core.windows.net\nhttp://seanmcccanary3.file.core.windows.net\nhttp://seanmcccanary3.queue.core.windows.net\nhttp://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttp://seanmcccanary3-secondary.blob.core.windows.net\nhttp://seanmcccanary3-secondary.file.core.windows.net\nhttp://seanmcccanary3-secondary.queue.core.windows.net\nhttp://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=http://seanmcccanary3.queue.core.windows.net/;FileEndpoint=http://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=http://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Sanitized\n\n\n"
  }
}