{
  "Entries": [
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-filesystem-791b413b-d040-367e-c2e1-559eb6c55c21?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Fri, 20 Aug 2021 20:53:53 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9641C9EC2D933\u0022",
        "Last-Modified": "Fri, 20 Aug 2021 20:53:53 GMT",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.dfs.core.windows.net/test-filesystem-791b413b-d040-367e-c2e1-559eb6c55c21/test-file-be2f51d8-8eca-1664-e8f9-433ed47477c2?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-date": "Fri, 20 Aug 2021 20:53:53 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9641C9ECD9088\u0022",
        "Last-Modified": "Fri, 20 Aug 2021 20:53:53 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.dfs.core.windows.net/test-filesystem-791b413b-d040-367e-c2e1-559eb6c55c21/test-file-be2f51d8-8eca-1664-e8f9-433ed47477c2?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Fri, 20 Aug 2021 20:53:53 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": "uGm2x2cJrbv/UOCURnCezXcXzbQmnAUn4s/4kLwup/PW4FUtPqPWx1TjwMrNNNyCVfScDNgggxtkjuWXER3/0ansvmYacY/TQAZgQtw6Wq7zdTrHkZsbtVw6ya\u002B\u002BPrU25O4h4HZ2Z\u002BRlyMvRwEE/KTQ2pJviN0AN0QgJ4KffFQJQKV7tGXk4fA5VYsnQSfUb\u002B6B6h5kaU62uEw9tbYY9hrPIgZbiURC7/ieNjdV2PYcT7eUHZI5oNtaxPwVqyg\u002BHGNwWB8hfOKqQv4hxjcbXN9WHWn\u002BhNiEkX0rAMREKUDMYBXT5YDa/tLU7dqUF96g[...]
    {
      "RequestUri": "http://seanmcccanary3.dfs.core.windows.net/test-filesystem-791b413b-d040-367e-c2e1-559eb6c55c21/test-file-be2f51d8-8eca-1664-e8f9-433ed47477c2?action=flush\u0026position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 20 Aug 2021 20:53:53 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9641C9EE0318B\u0022",
        "Last-Modified": "Fri, 20 Aug 2021 20:53:53 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-filesystem-791b413b-d040-367e-c2e1-559eb6c55c21/test-file-be2f51d8-8eca-1664-e8f9-433ed47477c2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 20 Aug 2021 20:53:53 GMT",
        "x-ms-range": "bytes=0-268435455",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D9641C9EE0318B\u0022",
        "Last-Modified": "Fri, 20 Aug 2021 20:53:53 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 20 Aug 2021 20:53:53 GMT",
        "x-ms-last-access-time": "Fri, 20 Aug 2021 20:53:53 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": "uGm2x2cJrbv/UOCURnCezXcXzbQmnAUn4s/4kLwup/PW4FUtPqPWx1TjwMrNNNyCVfScDNgggxtkjuWXER3/0ansvmYacY/TQAZgQtw6Wq7zdTrHkZsbtVw6ya\u002B\u002BPrU25O4h4HZ2Z\u002BRlyMvRwEE/KTQ2pJviN0AN0QgJ4KffFQJQKV7tGXk4fA5VYsnQSfUb\u002B6B6h5kaU62uEw9tbYY9hrPIgZbiURC7/ieNjdV2PYcT7eUHZI5oNtaxPwVqyg\u002BHGNwWB8hfOKqQv4hxjcbXN9WHWn\u002BhNiEkX0rAMREKUDMYBXT5YDa/tLU7dqUF96gP2Qcv4nCQ5eK68ad9nweYhW5VWYdS3tafx6bKZr98H2iisFgJ227Chx\u002BSPm\u002BPQh[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-filesystem-791b413b-d040-367e-c2e1-559eb6c55c21?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 20 Aug 2021 20:53:53 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1643112491",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttp://seanmcccanary3.blob.core.windows.net\nhttp://seanmcccanary3.file.core.windows.net\nhttp://seanmcccanary3.queue.core.windows.net\nhttp://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttp://seanmcccanary3-secondary.blob.core.windows.net\nhttp://seanmcccanary3-secondary.file.core.windows.net\nhttp://seanmcccanary3-secondary.queue.core.windows.net\nhttp://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=http://seanmcccanary3.queue.core.windows.net/;FileEndpoint=http://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=http://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Sanitized\n\n\n"
  }
}