{
  "Entries": [
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-filesystem-b680f767-0d43-f5e3-4faa-fed84f072a7f?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Fri, 20 Aug 2021 20:54:02 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9641CA3FC7880\u0022",
        "Last-Modified": "Fri, 20 Aug 2021 20:54:02 GMT",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.dfs.core.windows.net/test-filesystem-b680f767-0d43-f5e3-4faa-fed84f072a7f/test-file-a198ffdb-2fca-a4ab-a332-492493bce61a?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-date": "Fri, 20 Aug 2021 20:54:02 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9641CA408433E\u0022",
        "Last-Modified": "Fri, 20 Aug 2021 20:54:02 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.dfs.core.windows.net/test-filesystem-b680f767-0d43-f5e3-4faa-fed84f072a7f/test-file-a198ffdb-2fca-a4ab-a332-492493bce61a?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Fri, 20 Aug 2021 20:54:02 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": "zYlvN0PPhRk9NXfDG4iGyywMhUnSrpO7uOutZmuvfYcUMI3kE0avhIAbPbYEE0rZPRbdwjEi7x71tH5XIR\u002Btjbfwrur7orjmXAHIt3HdtqSh1ChU0rpW8UBu71/HV2Nhbq/\u002BFGVf3pte92UwWjitGP3atkz2WLv9mbyqjLNYHwWeZ0nB36E/QfaN9ttVJpcIwNdh7aEWahX0AXuotVHoBddgkvPv7DhcmnRWaWHgqHMlosvb9zJjh/wzzN4ml4ykpfED9JSkGdSeBVItvwGzFFkIghOFDA6l/Qr2ux9aNQPnscRw3bPegYj3PfLfNcf7gLiFHhR5HpjiXfeJrV2[...]
    {
      "RequestUri": "http://seanmcccanary3.dfs.core.windows.net/test-filesystem-b680f767-0d43-f5e3-4faa-fed84f072a7f/test-file-a198ffdb-2fca-a4ab-a332-492493bce61a?action=flush\u0026position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 20 Aug 2021 20:54:02 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9641CA425BBB2\u0022",
        "Last-Modified": "Fri, 20 Aug 2021 20:54:02 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-filesystem-b680f767-0d43-f5e3-4faa-fed84f072a7f/test-file-a198ffdb-2fca-a4ab-a332-492493bce61a",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 20 Aug 2021 20:54:02 GMT",
        "x-ms-range": "bytes=0-511",
        "x-ms-range-get-content-md5": "true",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-MD5": "GrcBjH/\u002B1YoMaVg0AzE88g==",
        "Content-Range": "bytes 0-511/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D9641CA425BBB2\u0022",
        "Last-Modified": "Fri, 20 Aug 2021 20:54:02 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 20 Aug 2021 20:54:02 GMT",
        "x-ms-last-access-time": "Fri, 20 Aug 2021 20:54:02 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": "zYlvN0PPhRk9NXfDG4iGyywMhUnSrpO7uOutZmuvfYcUMI3kE0avhIAbPbYEE0rZPRbdwjEi7x71tH5XIR\u002Btjbfwrur7orjmXAHIt3HdtqSh1ChU0rpW8UBu71/HV2Nhbq/\u002BFGVf3pte92UwWjitGP3atkz2WLv9mbyqjLNYHwWeZ0nB36E/QfaN9ttVJpcIwNdh7aEWahX0AXuotVHoBddgkvPv7DhcmnRWaWHgqHMlosvb9zJjh/wzzN4ml4ykpfED9JSkGdSeBVItvwGzFFkIghOFDA6l/Qr2ux9aNQPnscRw3bPegYj3PfLfNcf7gLiFHhR5HpjiXfeJrV21Q89PRQ08QjelKQGKjs4bxsdC\u002Bztn1RfubpMrjX\u002B8VdMrQfojj/C5vj2B3/QT7pDJx5YvRrIhTm23YdZ6EbS36dQtXkzU\u002BDbXiTz95fYj2oACYcbpjA4gCfOMay4ZPq2IyvYg5ZBD9c5gWL11I2h3lIZWd6/tzlzGDVRZR40HvkqPdBsAA/Xvv2z4iTRQq\u002BWLFdeowsb9m/uZWtg76q5AWJly5a9Md5GRZrhD9UUodWFvzTK1X/yDktkfZqgctNW\u002BtzCa3sU2Pp5GFlsOuqa2ceV2zBx7i/id71PVLBDodLLihT0UjZecOI6Tb0igddgzafXDpui4Qiw4/e5xYRKNXqI="
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-filesystem-b680f767-0d43-f5e3-4faa-fed84f072a7f?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 20 Aug 2021 20:54:02 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1748494031",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttp://seanmcccanary3.blob.core.windows.net\nhttp://seanmcccanary3.file.core.windows.net\nhttp://seanmcccanary3.queue.core.windows.net\nhttp://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttp://seanmcccanary3-secondary.blob.core.windows.net\nhttp://seanmcccanary3-secondary.file.core.windows.net\nhttp://seanmcccanary3-secondary.queue.core.windows.net\nhttp://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=http://seanmcccanary3.queue.core.windows.net/;FileEndpoint=http://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=http://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Sanitized\n\n\n"
  }
}