{
  "Entries": [
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-filesystem-78aa4f5a-e64c-0767-bcca-4c29da6f2ff8?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 21 Sep 2021 17:39:04 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D97D26B4F52460\u0022",
        "Last-Modified": "Tue, 21 Sep 2021 17:39:04 GMT",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.dfs.core.windows.net/test-filesystem-78aa4f5a-e64c-0767-bcca-4c29da6f2ff8/test-file-d55e597c-eb8a-3556-9d8d-56d6fdc6cba5?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-date": "Tue, 21 Sep 2021 17:39:04 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D97D26B4FE2E6B\u0022",
        "Last-Modified": "Tue, 21 Sep 2021 17:39:04 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.dfs.core.windows.net/test-filesystem-78aa4f5a-e64c-0767-bcca-4c29da6f2ff8/test-file-d55e597c-eb8a-3556-9d8d-56d6fdc6cba5?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 21 Sep 2021 17:39:04 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": "4of31dNHWRZC/7d9B2TRTTmSI\u002BK3EjpGrmZKEH0nNqsxd2rC3WeCNf9Hkooz2S45uwicaqLp7tBNsCdt/EiZGskMS4/5D3DSD\u002B3icICvE9Q4EFV1i8sISImadS0/FTm2rnjBJo2eP6yYyVq0Bn1PnZxSNOzzI4/9AwIFX5lDkvq0K8IH7uxHmdGo3MFwU0EMSteQ7eFMw4rpwyOKmd8SVTdg/9u7SK\u002BwC5sbSkfNja/B\u002BRXCs6UYaGg3HivJvADxloeKEFRmUAIo3\u002BFGMXhDGzZzyZ/KUKKRR5dygymE50\u002BaKbS/QnxbWqgTmtPD0jb[...]
    {
      "RequestUri": "http://seanmcccanary3.dfs.core.windows.net/test-filesystem-78aa4f5a-e64c-0767-bcca-4c29da6f2ff8/test-file-d55e597c-eb8a-3556-9d8d-56d6fdc6cba5?action=flush\u0026position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 21 Sep 2021 17:39:04 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D97D26B517A625\u0022",
        "Last-Modified": "Tue, 21 Sep 2021 17:39:05 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-filesystem-78aa4f5a-e64c-0767-bcca-4c29da6f2ff8/test-file-d55e597c-eb8a-3556-9d8d-56d6fdc6cba5",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 21 Sep 2021 17:39:05 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-range-get-content-md5": "true",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-MD5": "dcTh8YOEgjRum\u002BO/fjP6XA==",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D97D26B517A625\u0022",
        "Last-Modified": "Tue, 21 Sep 2021 17:39:05 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 21 Sep 2021 17:39:04 GMT",
        "x-ms-last-access-time": "Tue, 21 Sep 2021 17:39:05 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": "4of31dNHWRZC/7d9B2TRTTmSI\u002BK3EjpGrmZKEH0nNqsxd2rC3WeCNf9Hkooz2S45uwicaqLp7tBNsCdt/EiZGskMS4/5D3DSD\u002B3icICvE9Q4EFV1i8sISImadS0/FTm2rnjBJo2eP6yYyVq0Bn1PnZxSNOzzI4/9AwIFX5lDkvq0K8IH7uxHmdGo3MFwU0EMSteQ7eFMw4rpwyOKmd8SVTdg/9u7SK\u002BwC5sbSkfNja/B\u002BRXCs6UYaGg3HivJvADxloeKEFRmUAIo3\u002BFGMXhDGzZzyZ/KUKKRR5dygymE50\u002BaKbS/QnxbWqgTmtPD0jbv9AL0VvJhJkXl\u002BMi8883Yo/iSqwfEhNi5F2/2t7bOznRhg48mj5FcOQNu2Uqzn2bbOvb[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-filesystem-78aa4f5a-e64c-0767-bcca-4c29da6f2ff8?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 21 Sep 2021 17:39:05 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "640086842",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttp://seanmcccanary3.blob.core.windows.net\nhttp://seanmcccanary3.file.core.windows.net\nhttp://seanmcccanary3.queue.core.windows.net\nhttp://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttp://seanmcccanary3-secondary.blob.core.windows.net\nhttp://seanmcccanary3-secondary.file.core.windows.net\nhttp://seanmcccanary3-secondary.queue.core.windows.net\nhttp://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=http://seanmcccanary3.queue.core.windows.net/;FileEndpoint=http://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=http://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Sanitized\n\n\n"
  }
}