{
  "Entries": [
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-filesystem-3571b039-18f8-38ba-89ff-feeae7d86ca1?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 14 Sep 2021 17:29:15 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D977A52C92D7E4\u0022",
        "Last-Modified": "Tue, 14 Sep 2021 17:29:15 GMT",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.dfs.core.windows.net/test-filesystem-3571b039-18f8-38ba-89ff-feeae7d86ca1/test-file-5bc46a5a-bb42-7a98-624f-079c4d380106?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-date": "Tue, 14 Sep 2021 17:29:15 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D977A52C9C6307\u0022",
        "Last-Modified": "Tue, 14 Sep 2021 17:29:15 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.dfs.core.windows.net/test-filesystem-3571b039-18f8-38ba-89ff-feeae7d86ca1/test-file-5bc46a5a-bb42-7a98-624f-079c4d380106?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 14 Sep 2021 17:29:15 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": "P1fHXuMzEjQN5zIPq5NO6x89J8y\u002BY2Rn8HrXP9EcsyVkDHp8e96qJliPTVuJiM7OABx8DxA1SNzzX21oXNJj8TQNqp8Y0nBAkwFzLhUI3mesCD\u002B0n6MULsSeiRxxQsqGLFwmfN4vti6rO3wPwRnH6oAFu1STrlGR\u002BHvaeklUz1E27QK54mKJfFEQCGMmBW2r156ba4Z2834KlYNiVDzlV2wr2dMXDQceez8CgqXtavIOL6OquGPLv/qDrkzeJycVKrD3\u002ByyZk8mXffBGdHDYHCqQUySYO58JXxnZk1\u002B7P1MX7Ff09m7GdJzZEzpzhEuJq5Eh[...]
    {
      "RequestUri": "http://seanmcccanary3.dfs.core.windows.net/test-filesystem-3571b039-18f8-38ba-89ff-feeae7d86ca1/test-file-5bc46a5a-bb42-7a98-624f-079c4d380106?action=flush\u0026position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 14 Sep 2021 17:29:15 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D977A52CADECB1\u0022",
        "Last-Modified": "Tue, 14 Sep 2021 17:29:15 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-filesystem-3571b039-18f8-38ba-89ff-feeae7d86ca1/test-file-5bc46a5a-bb42-7a98-624f-079c4d380106",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 14 Sep 2021 17:29:15 GMT",
        "x-ms-range": "bytes=512-1023",
        "x-ms-range-get-content-crc64": "true",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 512-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D977A52CADECB1\u0022",
        "Last-Modified": "Tue, 14 Sep 2021 17:29:15 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-content-crc64": "CSHZIiGDMFw=",
        "x-ms-creation-time": "Tue, 14 Sep 2021 17:29:15 GMT",
        "x-ms-last-access-time": "Tue, 14 Sep 2021 17:29:15 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": "x0McsciHN7BVnze3KyW9Cwhe07XA3p0ftvebfsdA/D\u002BbJni84YbT6LOCUJz6BKda3SemF3efoeim/PrR7LjoFaL3HAStASmBi\u002BoBPo0BJbFQQKGfmuXI\u002B4WPFeSLAfz7mTv5Aueirdv9JIuMnWJapdZJgasXSXq9LiF/HexF9ontBqVSByLJrZLFoXVZPF4iNHANQoBQ5FDAPNTGI5DvuC4Cnpe9CJ20f9MZUacEY/LCXOl8N7MInSJUkctOA4oC1elHVp3HZSzSWcOtN5KovNjiA8anc4F6\u002BQF1aHbSZXtIFny\u002BvQxU\u002B/e9qt3vW2aPrNXya//DW2JnzF2cUfy1//NHZCAW6v7LjQfP6smjip6a5byh4Pp8hbsZVvCvuKr6B6rpqPdGecHWJt739HGYw0G\u002BAWw/FB75y99k/JQOG9Vd1OIeuuKnVGz7yrkchZFKgJKv8bY9u/OM790X4XwtyAoImR\u002BOegleF6wAREpk3UVOGnsBXioeIBnvksoFj3PvzQGuE\u002BtxuwaJUNoJPXapJxKXycYBLGng6XkGn\u002Bc/WYc5EHZItspa3F90dw5QFOKiRmu3bcWs7aGXzilyahseSfZS0CwAYHBIPe1njLRbkNSWZFl8h\u002BzCjCLUseeg53FDVS4X/US1oeX6bzDYRGHtOz5U2wbCosEKkEMKK6\u002BJp1U="
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-filesystem-3571b039-18f8-38ba-89ff-feeae7d86ca1?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 14 Sep 2021 17:29:15 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1062075542",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttp://seanmcccanary3.blob.core.windows.net\nhttp://seanmcccanary3.file.core.windows.net\nhttp://seanmcccanary3.queue.core.windows.net\nhttp://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttp://seanmcccanary3-secondary.blob.core.windows.net\nhttp://seanmcccanary3-secondary.file.core.windows.net\nhttp://seanmcccanary3-secondary.queue.core.windows.net\nhttp://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=http://seanmcccanary3.queue.core.windows.net/;FileEndpoint=http://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=http://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Sanitized\n\n\n"
  }
}