{
  "Entries": [
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-filesystem-dd26150a-4420-4b65-6568-1ae97b6299bb?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Fri, 20 Aug 2021 20:54:03 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9641CA4915993\u0022",
        "Last-Modified": "Fri, 20 Aug 2021 20:54:03 GMT",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.dfs.core.windows.net/test-filesystem-dd26150a-4420-4b65-6568-1ae97b6299bb/test-file-307bc221-3e97-63ab-5b48-415078633fe3?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-date": "Fri, 20 Aug 2021 20:54:03 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9641CA49D72B3\u0022",
        "Last-Modified": "Fri, 20 Aug 2021 20:54:03 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.dfs.core.windows.net/test-filesystem-dd26150a-4420-4b65-6568-1ae97b6299bb/test-file-307bc221-3e97-63ab-5b48-415078633fe3?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Fri, 20 Aug 2021 20:54:03 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": "FmvaqnnDkouzpbAT5qwHZeKt4fgNMlLgq5osx7l\u002Be\u002BTu5qPZJNvzRPDJs8MtUvli8WABWWYkauQY\u002Bv7flsrRNCnLJAAILkAHuZwIQ36Ps1igytVZfSF9yXu/wCrcE64l\u002BH6ZYS75WcMf\u002BZ/KHCZliUamP8v1eLcITluESW4VKqXu4ksA9VEqp3ASOYOBs61VWTbkNtTiMIDGkRPTdQ9VCs762znaZZT1e5da4j40hpqtLvA3MfTQC7HLOWQ\u002BVzJhvS\u002B0h9dzevSi77o9h05Bkgt4JUYfHtjaKc\u002BHDysvtiRl\u002BSUP[...]
    {
      "RequestUri": "http://seanmcccanary3.dfs.core.windows.net/test-filesystem-dd26150a-4420-4b65-6568-1ae97b6299bb/test-file-307bc221-3e97-63ab-5b48-415078633fe3?action=flush\u0026position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 20 Aug 2021 20:54:03 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9641CA4BE2015\u0022",
        "Last-Modified": "Fri, 20 Aug 2021 20:54:03 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-filesystem-dd26150a-4420-4b65-6568-1ae97b6299bb/test-file-307bc221-3e97-63ab-5b48-415078633fe3",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 20 Aug 2021 20:54:03 GMT",
        "x-ms-range": "bytes=512-1023",
        "x-ms-range-get-content-md5": "true",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-MD5": "Td3PDqCu4T9jEH0jJxUclg==",
        "Content-Range": "bytes 512-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D9641CA4BE2015\u0022",
        "Last-Modified": "Fri, 20 Aug 2021 20:54:03 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 20 Aug 2021 20:54:03 GMT",
        "x-ms-last-access-time": "Fri, 20 Aug 2021 20:54:03 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": "n5d\u002BQ191renpePBYW5y5pjZ2Wt1mTwLVBkjIi8dDCW7CfdSXeQUBP1ZHEgmwAkbLvtqHy58GCVCVqDwXrSIipm\u002BBlt7HIiwwdBqHHz34JQQC/Mzsuz3PvHOEAdDI6pIzJGyaLmtnBJyuVleEfuoSnII3FLBWNuoxstpqQiBbaIqIU/rQXveYmvgvPWTmSz2IcWRNkNXh3e2BaHyR/cF7Uu7N\u002ByvwQj6Ln3q4JvmGS2ac4dC7Dde0p3YMT/Z7B502s\u002Bt1GU8SmC8mwvFbKbb0\u002Bx0V9Bvwv0QXGFS04/JHEJjdgXINETEXikihlUvlWX6/F1TYZRKCRfSmXQH7XbU83rFZfadE5unr/mnSTyr5Mr7W9cueb6uFWjt\u002BZ7MwHC2TZLaZi9vWezFq7Geor/XJrCtCJGfpnW8G0yNsxX82u\u002BI8PutzX6bjAHmaNIJD3atFtbqH7ffFqcZHkre4abayMzGFa3EKVUyFXyTuT2ntw/Z4JhDEr83rdpQlLM3uKpbD6AFRvnE5O19uAo7S11pcWc/BQEOl7YRjmfXc5Ch/ljSOKmZonASEPuuwVaw/GJ86yNL9LelTHfp87SR8XVY27mxZQ6zz9L3LPQJX9ZfXI4FVoRxWgmhKOwxs667fB\u002BCUeWdA5dXyRtQUMvDn\u002ByhipcqjJrs64GsDDgighwgP6zU="
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-filesystem-dd26150a-4420-4b65-6568-1ae97b6299bb?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 20 Aug 2021 20:54:03 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "865139063",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttp://seanmcccanary3.blob.core.windows.net\nhttp://seanmcccanary3.file.core.windows.net\nhttp://seanmcccanary3.queue.core.windows.net\nhttp://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttp://seanmcccanary3-secondary.blob.core.windows.net\nhttp://seanmcccanary3-secondary.file.core.windows.net\nhttp://seanmcccanary3-secondary.queue.core.windows.net\nhttp://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=http://seanmcccanary3.queue.core.windows.net/;FileEndpoint=http://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=http://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Sanitized\n\n\n"
  }
}