{
  "Entries": [
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-filesystem-050f62dd-0021-5123-118a-3baf4cd0586f?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 14 Sep 2021 17:28:04 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D977A502A08EAD\u0022",
        "Last-Modified": "Tue, 14 Sep 2021 17:28:04 GMT",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.dfs.core.windows.net/test-filesystem-050f62dd-0021-5123-118a-3baf4cd0586f/test-file-d6730143-f134-1a55-5e67-47480523cd66?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-date": "Tue, 14 Sep 2021 17:28:04 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D977A502AA4EEA\u0022",
        "Last-Modified": "Tue, 14 Sep 2021 17:28:04 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.dfs.core.windows.net/test-filesystem-050f62dd-0021-5123-118a-3baf4cd0586f/test-file-d6730143-f134-1a55-5e67-47480523cd66?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 14 Sep 2021 17:28:04 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": "CnX7L63LYcRvVSEspRhtqFH3u4I2qZHCxwgupu27d2V2tuDEGlhVd5\u002BvZ97PKHRF\u002Bp72DWhKL2HjOGelnbrWtN28tu84qY34okTih0Ky8p6T6KxOxGn9K4Z/4OHxr9nl2LIAE3KFDVAR/WsjZ6gfMEbIErUOiPB0v4touMisB/Nq/a6Pst8sDtpbPcb\u002B2cTeYK\u002BbKJ0k1lDCjFTnHFWIZPZ4uWn5j35nnAPas0opdebGilgZEN9VRSdezSWKRfKF09jQhh9a5NAxNIuZSSMFmBduIJH9b1QWInRCm8FZ3FcRVOBxWO7GbKaH59xTvPsDWDQOHCRgi[...]
    {
      "RequestUri": "http://seanmcccanary3.dfs.core.windows.net/test-filesystem-050f62dd-0021-5123-118a-3baf4cd0586f/test-file-d6730143-f134-1a55-5e67-47480523cd66?action=flush\u0026position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 14 Sep 2021 17:28:04 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D977A502BCC2D0\u0022",
        "Last-Modified": "Tue, 14 Sep 2021 17:28:04 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-filesystem-050f62dd-0021-5123-118a-3baf4cd0586f/test-file-d6730143-f134-1a55-5e67-47480523cd66",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 14 Sep 2021 17:28:04 GMT",
        "x-ms-range": "bytes=512-1023",
        "x-ms-range-get-content-crc64": "true",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 512-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D977A502BCC2D0\u0022",
        "Last-Modified": "Tue, 14 Sep 2021 17:28:04 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-content-crc64": "1RLv98WDXwk=",
        "x-ms-creation-time": "Tue, 14 Sep 2021 17:28:04 GMT",
        "x-ms-last-access-time": "Tue, 14 Sep 2021 17:28:04 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": "wmu9FK1eQvShf47fuUCBVGaaH3n4a7Q1KqCdkE4d7xrkKd0ZEZ55pBQiowFhOraocdQuCQ9iQFa2iOkMwbGlhJB0\u002BpBjZ0LIIXtl1siz0/Dq9B567uULgeiGY4m0beJjfR9w7T8mRQqRZuiT/WqOA7T5IcySKpWraXmo3AS5FLSYAVmoQuawxK8U6Yj9d4N9\u002BGDUuksW0FKKxYTFfWkF2FIz\u002B/sR5cDOSV0cfUENrfH2KuSk5FppgTEGHnxi6kZGDxE2yXuHbBKfBnDt\u002BVMRfReSz1OEYPP3ynrKCsdDa14X1m0w1uR2br3SBd3pe4jd9aFl0Bvywa4dPv8BvGFKW5sR1SLl4KYzG2GVslsWDk7x7RUl3ptDJRW/EpjldbFch6lC16Zl9xT7MrS6XA5TBzCwD89LJH3/zrANJs0NTqavOSux0zanjPUAKqznicgGawtoNGXiEGIsQwn2V9FH7eMNCiPjoTT6CILaS/rRF0TnB7rCpRlAzSjIhZAssTUjuT3I2X\u002BlIsrXbivjB8VoWyvFDk8XhUfKzD37GxujzVdNtpK9CD3FQuXv6jfuXcVjYCpkZqLlDDP1/gxBqQevM6DUlVEyqlLtAMxqJ5oQ2294mLrxP2e0Z6lexwoxg5jeQLaXGcd0MLXYdmbWe\u002BSY5SKdyRFMvfM5Hy2n1ONHvHw="
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-filesystem-050f62dd-0021-5123-118a-3baf4cd0586f?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 14 Sep 2021 17:28:05 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1537400233",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttp://seanmcccanary3.blob.core.windows.net\nhttp://seanmcccanary3.file.core.windows.net\nhttp://seanmcccanary3.queue.core.windows.net\nhttp://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttp://seanmcccanary3-secondary.blob.core.windows.net\nhttp://seanmcccanary3-secondary.file.core.windows.net\nhttp://seanmcccanary3-secondary.queue.core.windows.net\nhttp://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=http://seanmcccanary3.queue.core.windows.net/;FileEndpoint=http://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=http://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Sanitized\n\n\n"
  }
}