{
  "Entries": [
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-filesystem-403818b7-77f1-2189-4741-4b62d4549337?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 21 Sep 2021 17:39:05 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D97D26B58393DE\u0022",
        "Last-Modified": "Tue, 21 Sep 2021 17:39:05 GMT",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.dfs.core.windows.net/test-filesystem-403818b7-77f1-2189-4741-4b62d4549337/test-file-0156eec1-ec39-5118-5c3f-d9b6b63976f7?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-date": "Tue, 21 Sep 2021 17:39:05 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D97D26B58CC51F\u0022",
        "Last-Modified": "Tue, 21 Sep 2021 17:39:05 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.dfs.core.windows.net/test-filesystem-403818b7-77f1-2189-4741-4b62d4549337/test-file-0156eec1-ec39-5118-5c3f-d9b6b63976f7?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 21 Sep 2021 17:39:05 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": "KFjAIPxHUi6eq9Ib\u002B4Azn5rujrz5F7m1mgbvpDL1WLcFcxJsBn/VepwoYo0a/FbcCzocyKu5/hCfC4b1WK38qVMbFodtx5kbGRMg0LUrm52wEpj32JALS3UCzfr43yLuLLg6/ubOb0SgAa6XmS1bc3DoREUVBNHCD8oRa/qeIjnxMaP98Jy34aNUVtfidLJHplmKEJrc2SjneO8bvQRKAd90pWeKXYPTMWOiwK354JoYysShFBKeFFh6FnismySeClT4bc5LvEjWtt43Ohh77ZdUA/I/qO3N1ZEOEEcKJ5U\u002BA7ZYAXPMzA17y14zZ9o//yjhV5gxX2FnK5c9PKw[...]
    {
      "RequestUri": "http://seanmcccanary3.dfs.core.windows.net/test-filesystem-403818b7-77f1-2189-4741-4b62d4549337/test-file-0156eec1-ec39-5118-5c3f-d9b6b63976f7?action=flush\u0026position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 21 Sep 2021 17:39:05 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D97D26B5AA0CDE\u0022",
        "Last-Modified": "Tue, 21 Sep 2021 17:39:05 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-filesystem-403818b7-77f1-2189-4741-4b62d4549337/test-file-0156eec1-ec39-5118-5c3f-d9b6b63976f7",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 21 Sep 2021 17:39:06 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-range-get-content-crc64": "true",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D97D26B5AA0CDE\u0022",
        "Last-Modified": "Tue, 21 Sep 2021 17:39:05 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-content-crc64": "xkW6qdyXf4k=",
        "x-ms-creation-time": "Tue, 21 Sep 2021 17:39:05 GMT",
        "x-ms-last-access-time": "Tue, 21 Sep 2021 17:39:05 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": "KFjAIPxHUi6eq9Ib\u002B4Azn5rujrz5F7m1mgbvpDL1WLcFcxJsBn/VepwoYo0a/FbcCzocyKu5/hCfC4b1WK38qVMbFodtx5kbGRMg0LUrm52wEpj32JALS3UCzfr43yLuLLg6/ubOb0SgAa6XmS1bc3DoREUVBNHCD8oRa/qeIjnxMaP98Jy34aNUVtfidLJHplmKEJrc2SjneO8bvQRKAd90pWeKXYPTMWOiwK354JoYysShFBKeFFh6FnismySeClT4bc5LvEjWtt43Ohh77ZdUA/I/qO3N1ZEOEEcKJ5U\u002BA7ZYAXPMzA17y14zZ9o//yjhV5gxX2FnK5c9PKwBy49J\u002BTZiI\u002BskiDblxN2PmW62zhAeKc/8DaRU8Nbbjo9gev/O6W2k3dw9vM9hTJ[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-filesystem-403818b7-77f1-2189-4741-4b62d4549337?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 21 Sep 2021 17:39:06 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "796927933",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttp://seanmcccanary3.blob.core.windows.net\nhttp://seanmcccanary3.file.core.windows.net\nhttp://seanmcccanary3.queue.core.windows.net\nhttp://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttp://seanmcccanary3-secondary.blob.core.windows.net\nhttp://seanmcccanary3-secondary.file.core.windows.net\nhttp://seanmcccanary3-secondary.queue.core.windows.net\nhttp://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=http://seanmcccanary3.queue.core.windows.net/;FileEndpoint=http://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=http://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Sanitized\n\n\n"
  }
}