{
  "Entries": [
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-filesystem-d101413b-44a7-2b7e-6deb-f462c68cc970?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 21 Sep 2021 17:37:55 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D97D268BE26309\u0022",
        "Last-Modified": "Tue, 21 Sep 2021 17:37:55 GMT",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.dfs.core.windows.net/test-filesystem-d101413b-44a7-2b7e-6deb-f462c68cc970/test-file-9cb942b8-e23d-578c-6a42-e4701fc0ecdb?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-date": "Tue, 21 Sep 2021 17:37:55 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D97D268BEB8458\u0022",
        "Last-Modified": "Tue, 21 Sep 2021 17:37:55 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.dfs.core.windows.net/test-filesystem-d101413b-44a7-2b7e-6deb-f462c68cc970/test-file-9cb942b8-e23d-578c-6a42-e4701fc0ecdb?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 21 Sep 2021 17:37:55 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": "E03mz72vKjn4t4Cg1RV5ClT0BfzYO2mZa3evA26IpMkyM674/BJzCBd/o4Zi64JUyNobKrrwAtjkTGRGACfLbxK3bqJngQ1Cgf3kWZfiN3/1WjqUbHkPQjDVE6\u002BtLAjwtDRzq3zf7UfM2am9DKhAARXkUaXsNwKZpyxxkW1elFT09KVjbowDFW3zx5PPUTaIlBKayNpiA30x2gNQblzZbkRUyBgD3ZKJ4Tw4\u002BG9vyVb16fxbw8t5kfAnMZSJsqcRGVlOeokehLd/EeeeKgoOwRGsW4Rffqp42zYn26v\u002B/y\u002BVJ94VIE7N12RF27Lk22flGXCD3Fcis[...]
    {
      "RequestUri": "http://seanmcccanary3.dfs.core.windows.net/test-filesystem-d101413b-44a7-2b7e-6deb-f462c68cc970/test-file-9cb942b8-e23d-578c-6a42-e4701fc0ecdb?action=flush\u0026position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 21 Sep 2021 17:37:56 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D97D268C054A28\u0022",
        "Last-Modified": "Tue, 21 Sep 2021 17:37:56 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-filesystem-d101413b-44a7-2b7e-6deb-f462c68cc970/test-file-9cb942b8-e23d-578c-6a42-e4701fc0ecdb",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 21 Sep 2021 17:37:56 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-range-get-content-crc64": "true",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D97D268C054A28\u0022",
        "Last-Modified": "Tue, 21 Sep 2021 17:37:56 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-content-crc64": "w1CPoFz\u002Bp74=",
        "x-ms-creation-time": "Tue, 21 Sep 2021 17:37:55 GMT",
        "x-ms-last-access-time": "Tue, 21 Sep 2021 17:37:56 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": "E03mz72vKjn4t4Cg1RV5ClT0BfzYO2mZa3evA26IpMkyM674/BJzCBd/o4Zi64JUyNobKrrwAtjkTGRGACfLbxK3bqJngQ1Cgf3kWZfiN3/1WjqUbHkPQjDVE6\u002BtLAjwtDRzq3zf7UfM2am9DKhAARXkUaXsNwKZpyxxkW1elFT09KVjbowDFW3zx5PPUTaIlBKayNpiA30x2gNQblzZbkRUyBgD3ZKJ4Tw4\u002BG9vyVb16fxbw8t5kfAnMZSJsqcRGVlOeokehLd/EeeeKgoOwRGsW4Rffqp42zYn26v\u002B/y\u002BVJ94VIE7N12RF27Lk22flGXCD3FcisZuv1Z9S9qgLgBG3CQMr\u002BKDC34MfGqL3k//PQsE7eyPYcnVDZkuueuG8OlqhLdFjuSHPw[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-filesystem-d101413b-44a7-2b7e-6deb-f462c68cc970?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 21 Sep 2021 17:37:56 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "126938209",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttp://seanmcccanary3.blob.core.windows.net\nhttp://seanmcccanary3.file.core.windows.net\nhttp://seanmcccanary3.queue.core.windows.net\nhttp://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttp://seanmcccanary3-secondary.blob.core.windows.net\nhttp://seanmcccanary3-secondary.file.core.windows.net\nhttp://seanmcccanary3-secondary.queue.core.windows.net\nhttp://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=http://seanmcccanary3.queue.core.windows.net/;FileEndpoint=http://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=http://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Sanitized\n\n\n"
  }
}