{
  "Entries": [
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-filesystem-5220504c-8a25-dadb-ea1a-ad2047ea7655?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 21 Sep 2021 17:37:58 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D97D268D3DA16D\u0022",
        "Last-Modified": "Tue, 21 Sep 2021 17:37:58 GMT",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.dfs.core.windows.net/test-filesystem-5220504c-8a25-dadb-ea1a-ad2047ea7655/test-file-49262cfb-f201-0997-0059-70fd73678588?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-date": "Tue, 21 Sep 2021 17:37:58 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D97D268D48E5C7\u0022",
        "Last-Modified": "Tue, 21 Sep 2021 17:37:58 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.dfs.core.windows.net/test-filesystem-5220504c-8a25-dadb-ea1a-ad2047ea7655/test-file-49262cfb-f201-0997-0059-70fd73678588?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 21 Sep 2021 17:37:58 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": "ZZiFEtaRKs7IhSAAhgjhwYCWeCg7axOonQrk0cSqUkORM\u002BJLnJSqaQJYgXvRl4L4d6593O5cTfmF3HXMrVkKHTPdblMlliTr7A8m4umX1waH61kVLXVUNebpxb8f3bypTmRI8ygv0\u002BGKkvDfNWoP7gVvRMH/9PC9iTlsPNBlyw5SfZSFT\u002BTdWBh3i5qFdP972de6sJn7qVl0imruwpcRJMbhjLjWip4hkeyoiGlVNxQ68WL4qxt1V9Q6EcV57pWBZmbUpOhHpU45mR\u002BsUiHwHlJWtNE0GXmrazTkm3jZp6JWJiICgZMr80sUvhH8yASySfJyIzrET[...]
    {
      "RequestUri": "http://seanmcccanary3.dfs.core.windows.net/test-filesystem-5220504c-8a25-dadb-ea1a-ad2047ea7655/test-file-49262cfb-f201-0997-0059-70fd73678588?action=flush\u0026position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 21 Sep 2021 17:37:58 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D97D268D62AB9C\u0022",
        "Last-Modified": "Tue, 21 Sep 2021 17:37:58 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-filesystem-5220504c-8a25-dadb-ea1a-ad2047ea7655/test-file-49262cfb-f201-0997-0059-70fd73678588",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 21 Sep 2021 17:37:58 GMT",
        "x-ms-range": "bytes=0-511",
        "x-ms-range-get-content-crc64": "true",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-511/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D97D268D62AB9C\u0022",
        "Last-Modified": "Tue, 21 Sep 2021 17:37:58 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-content-crc64": "w\u002BXtwFdmadE=",
        "x-ms-creation-time": "Tue, 21 Sep 2021 17:37:58 GMT",
        "x-ms-last-access-time": "Tue, 21 Sep 2021 17:37:58 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": "ZZiFEtaRKs7IhSAAhgjhwYCWeCg7axOonQrk0cSqUkORM\u002BJLnJSqaQJYgXvRl4L4d6593O5cTfmF3HXMrVkKHTPdblMlliTr7A8m4umX1waH61kVLXVUNebpxb8f3bypTmRI8ygv0\u002BGKkvDfNWoP7gVvRMH/9PC9iTlsPNBlyw5SfZSFT\u002BTdWBh3i5qFdP972de6sJn7qVl0imruwpcRJMbhjLjWip4hkeyoiGlVNxQ68WL4qxt1V9Q6EcV57pWBZmbUpOhHpU45mR\u002BsUiHwHlJWtNE0GXmrazTkm3jZp6JWJiICgZMr80sUvhH8yASySfJyIzrETUztKDizYgnWYPF8Viv\u002B7p2\u002BKsGFIFpnr6IvMVGGZoNoktnVFFhad5BBPl4gf3LZs1tVs/l5Pi3yhnmWhDG4T/ltFMRSKdlEZLIwQ\u002BL7Ry8vVn32MLKK7lOr4o7fxPNfie5lsmuuhoqBEU9GSPtL9j5JZi2zwh9H4iVwpkZKZJ\u002B\u002B0brzlpTEgNDzdB5iRKZXYOtPll7Gq8bOHc9FPd9DN6ywh3ZAV2CphOVdwE4A5J5\u002BGUZb\u002Bs1B\u002BCbzJXjFf0PwsD1ysrwwFwiLphJ4aet4zTkwxiSZ6Dzeb49QTDLn5AWibRARjjHiTgE9z1S7yI86e1c\u002BlLgeVscAk0Mt38rWo8EN1vvbZz8HTng="
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-filesystem-5220504c-8a25-dadb-ea1a-ad2047ea7655?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 21 Sep 2021 17:37:58 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "190920032",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttp://seanmcccanary3.blob.core.windows.net\nhttp://seanmcccanary3.file.core.windows.net\nhttp://seanmcccanary3.queue.core.windows.net\nhttp://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttp://seanmcccanary3-secondary.blob.core.windows.net\nhttp://seanmcccanary3-secondary.file.core.windows.net\nhttp://seanmcccanary3-secondary.queue.core.windows.net\nhttp://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=http://seanmcccanary3.queue.core.windows.net/;FileEndpoint=http://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=http://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Sanitized\n\n\n"
  }
}