{
  "Entries": [
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-filesystem-f92c4915-ae7f-d486-190e-bd1b07ad0dac?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Fri, 20 Aug 2021 20:54:04 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9641CA55C2188\u0022",
        "Last-Modified": "Fri, 20 Aug 2021 20:54:04 GMT",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.dfs.core.windows.net/test-filesystem-f92c4915-ae7f-d486-190e-bd1b07ad0dac/test-file-a814fe96-5d96-b6ad-5bb7-5ec4b6cd4b9f?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-date": "Fri, 20 Aug 2021 20:54:04 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9641CA5668CFB\u0022",
        "Last-Modified": "Fri, 20 Aug 2021 20:54:04 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.dfs.core.windows.net/test-filesystem-f92c4915-ae7f-d486-190e-bd1b07ad0dac/test-file-a814fe96-5d96-b6ad-5bb7-5ec4b6cd4b9f?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Fri, 20 Aug 2021 20:54:04 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": "s4R2FOQa37sAE7icrm1wHp9jNMv/\u002B1pJGGhSFQdNl6l5uGbehFp1zFvyET4fx2F8ADRbHWKdR7cpLfx8yMq0s3wPIvYGkppE7mdwDeocKVAH1hTS8nlG23CvtFZe\u002BQSRPl7CEKRqdW6aFi/7LTrMDQSrdPK14sACyEeFV91D5fRi386MWhirnGCmN9xJSq424qdSsoQS21ydv0hd5B6RVjA6mU1rP7LrANiRD6rjuX2YT3Q18TNwUANy7pvQTrhBFOCrDrFhy6P0ZrKsgMyyugXKxJWqW2T9ykhJ\u002BFEXGrEfT/rJOKrLN4TRQYqAw883wDSVBokjl7l8rk[...]
    {
      "RequestUri": "http://seanmcccanary3.dfs.core.windows.net/test-filesystem-f92c4915-ae7f-d486-190e-bd1b07ad0dac/test-file-a814fe96-5d96-b6ad-5bb7-5ec4b6cd4b9f?action=flush\u0026position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 20 Aug 2021 20:54:04 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9641CA5803432\u0022",
        "Last-Modified": "Fri, 20 Aug 2021 20:54:04 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-filesystem-f92c4915-ae7f-d486-190e-bd1b07ad0dac/test-file-a814fe96-5d96-b6ad-5bb7-5ec4b6cd4b9f",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 20 Aug 2021 20:54:04 GMT",
        "x-ms-range": "bytes=256-767",
        "x-ms-range-get-content-crc64": "true",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 256-767/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D9641CA5803432\u0022",
        "Last-Modified": "Fri, 20 Aug 2021 20:54:04 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-content-crc64": "fQhftgMAcnI=",
        "x-ms-creation-time": "Fri, 20 Aug 2021 20:54:04 GMT",
        "x-ms-last-access-time": "Fri, 20 Aug 2021 20:54:04 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": "SwCMMNHogVv\u002BjRDZGtp8BnkROByBFCj8uEFNiWViH7F\u002BZD\u002BAN55l17I5B/sSvp\u002BiMj3vBZk1WzfYj3iQm/j1m21eWrWa/M7aq2FpSA0s6vmiq1cncxkYSQkIqKcm1Ty6Q2yOs2TpBzZuFVk4yxIqq6V\u002B7e\u002BgzihURhCsklQntNYlrwSgnjeVuaQhuF6/4H323vwCp\u002BdMGXVDOmxTPHThR2CDExwOiQxt6TRLfxXKlGaTtrRXJAzu2JWOXWTKQnwvP3H9PM1h51XvlL6zAJpgeaUGv4W/iiNTlTqGgCuoo6e3HD\u002BkzFeZMs9fZ49OO9j7LeS\u002Bw4L3b7VNqaeS2mcpR/EX\u002B\u002BRavKxNbY22YCKTBFlhilJH6d8kwKyKViKwBldoNiCeNz/0oXA3cFb0QQ\u002BSuqRNMU8U4V0R8js3z2aKnWc2TioB9M0abenhEHiJMH\u002Bd95x9Y9QHU1TDjUUEvNEKrdPvvvLlkcXXMsRmMtHkh8K8mtjJDDmSLvrVPmeIFrAY1mOlmnGMuGbXpjAQoSCD3gWDSCL5QKCaXZD4D1JdTxwTTVtuP\u002B1QL\u002BJx8mYIgYzZUl9iBc2OH5bCCz3hlKgTeVcT/VPFFJ8XMhg/h046kdsDHrzz\u002B0lPhC7FqzOwbps5XngP9YQ4FD3AStK1TpdHh3ph3XXsIH4NxHgl/2lrZsQ="
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-filesystem-f92c4915-ae7f-d486-190e-bd1b07ad0dac?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 20 Aug 2021 20:54:04 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "285040462",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttp://seanmcccanary3.blob.core.windows.net\nhttp://seanmcccanary3.file.core.windows.net\nhttp://seanmcccanary3.queue.core.windows.net\nhttp://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttp://seanmcccanary3-secondary.blob.core.windows.net\nhttp://seanmcccanary3-secondary.file.core.windows.net\nhttp://seanmcccanary3-secondary.queue.core.windows.net\nhttp://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=http://seanmcccanary3.queue.core.windows.net/;FileEndpoint=http://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=http://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Sanitized\n\n\n"
  }
}