{
  "Entries": [
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-filesystem-f92c4915-ae7f-d486-190e-bd1b07ad0dac?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 14 Sep 2021 17:28:04 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D977A502686FF4\u0022",
        "Last-Modified": "Tue, 14 Sep 2021 17:28:04 GMT",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.dfs.core.windows.net/test-filesystem-f92c4915-ae7f-d486-190e-bd1b07ad0dac/test-file-147684b3-1ae4-bbdf-0013-b89cae6d701e?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-date": "Tue, 14 Sep 2021 17:28:04 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D977A50271E1FB\u0022",
        "Last-Modified": "Tue, 14 Sep 2021 17:28:04 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.dfs.core.windows.net/test-filesystem-f92c4915-ae7f-d486-190e-bd1b07ad0dac/test-file-147684b3-1ae4-bbdf-0013-b89cae6d701e?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 14 Sep 2021 17:28:04 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": "n2M0y//7WkkYaFIVB02XqXm4Zt6EWnXMW/IRPh/HYXwANFsdYp1Htykt/HzIyrSzfA8i9gaSmkTuZ3AN6hwpUAfWFNLyeUbbcK\u002B0Vl75BJE\u002BXsIQpGp1bpoWL/stOswNBKt08rXiwALIR4VX3UPl9GLfzoxaGKucYKY33ElKrjbip1KyhBLbXJ2/SF3kHpFWMDqZTWs/susA2JEPquO5fZhPdDXxM3BQA3Lum9BOuEEU4KsOsWHLo/RmsqyAzLK6BcrElapbZP3KSEn4URcasR9P\u002Bsk4qss3hNFBioDDzzfANJUGiSOXuXyuRGgX0lLdSwCMMNHogVv\u0[...]
    {
      "RequestUri": "http://seanmcccanary3.dfs.core.windows.net/test-filesystem-f92c4915-ae7f-d486-190e-bd1b07ad0dac/test-file-147684b3-1ae4-bbdf-0013-b89cae6d701e?action=flush\u0026position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 14 Sep 2021 17:28:04 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D977A50282F68B\u0022",
        "Last-Modified": "Tue, 14 Sep 2021 17:28:04 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-filesystem-f92c4915-ae7f-d486-190e-bd1b07ad0dac/test-file-147684b3-1ae4-bbdf-0013-b89cae6d701e",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 14 Sep 2021 17:28:04 GMT",
        "x-ms-range": "bytes=256-767",
        "x-ms-range-get-content-crc64": "true",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 256-767/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D977A50282F68B\u0022",
        "Last-Modified": "Tue, 14 Sep 2021 17:28:04 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-content-crc64": "ipDxaDKlzpY=",
        "x-ms-creation-time": "Tue, 14 Sep 2021 17:28:04 GMT",
        "x-ms-last-access-time": "Tue, 14 Sep 2021 17:28:04 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": "eRE4HIEUKPy4QU2JZWIfsX5kP4A3nmXXsjkH\u002BxK\u002Bn6IyPe8FmTVbN9iPeJCb\u002BPWbbV5atZr8ztqrYWlIDSzq\u002BaKrVydzGRhJCQiopybVPLpDbI6zZOkHNm4VWTjLEiqrpX7t76DOKFRGEKySVCe01iWvBKCeN5W5pCG4Xr/gffbe/AKn50wZdUM6bFM8dOFHYIMTHA6JDG3pNEt/FcqUZpO2tFckDO7YlY5dZMpCfC8/cf08zWHnVe\u002BUvrMAmmB5pQa/hb\u002BKI1OVOoaAK6ijp7ccP6TMV5kyz19nj0472Pst5L7DgvdvtU2pp5LaZylH8Rf75Fq8rE1tjbZgIpMEWWGKUkfp3yTArIpWIrAGV2g2IJ43P/ShcDdwVvRBD5K6pE0xTxThXRHyOzfPZoqdZzZOKgH0zRpt6eEQeIkwf533nH1j1AdTVMONRQS80Qqt0\u002B\u002B\u002B8uWRxdcyxGYy0eSHwrya2MkMOZIu\u002BtU\u002BZ4gWsBjWY6WacYy4ZtemMBChIIPeBYNIIvlAoJpdkPgPUl1PHBNNW24/7VAv4nHyZgiBjNlSX2IFzY4flsILPeGUqBN5VxP9U8UUnxcyGD\u002BHTjqR2wMevPP7SU\u002BELsWrM7BumzleeA/1hDgUPcBK0rVOl0eHemHddewgfg3EeCX/aWtmxHwFKdUrm1fLCn8ysHeZNZY="
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-filesystem-f92c4915-ae7f-d486-190e-bd1b07ad0dac?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 14 Sep 2021 17:28:04 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "285040462",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttp://seanmcccanary3.blob.core.windows.net\nhttp://seanmcccanary3.file.core.windows.net\nhttp://seanmcccanary3.queue.core.windows.net\nhttp://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttp://seanmcccanary3-secondary.blob.core.windows.net\nhttp://seanmcccanary3-secondary.file.core.windows.net\nhttp://seanmcccanary3-secondary.queue.core.windows.net\nhttp://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=http://seanmcccanary3.queue.core.windows.net/;FileEndpoint=http://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=http://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Sanitized\n\n\n"
  }
}