{
  "Entries": [
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-filesystem-6fd4fc71-bd5b-5aee-70fd-a609699e18fd?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 21 Sep 2021 17:39:07 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D97D26B69D8D06\u0022",
        "Last-Modified": "Tue, 21 Sep 2021 17:39:07 GMT",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.dfs.core.windows.net/test-filesystem-6fd4fc71-bd5b-5aee-70fd-a609699e18fd/test-file-b22aa1bf-20d6-e196-3606-a4cc0dd5cc39?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-date": "Tue, 21 Sep 2021 17:39:07 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D97D26B6A697B0\u0022",
        "Last-Modified": "Tue, 21 Sep 2021 17:39:07 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.dfs.core.windows.net/test-filesystem-6fd4fc71-bd5b-5aee-70fd-a609699e18fd/test-file-b22aa1bf-20d6-e196-3606-a4cc0dd5cc39?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 21 Sep 2021 17:39:07 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": "bJxmNYx0KpMVtK295fcXfY1XWewM3TSCnTBuzftbf1S\u002BcWEa5svLS3aWnCFz2Pw/7iY/tnvfLY9o5JhcBl2XujVZ/nOV/ZfCiw52dUESD8U0Lt7UG8nY3kTSsQEzb0QZ/\u002BLsGdmIqfGPfStsabdNVdXSKNd\u002Bwp5sgB8vwkuVjhzJXHZfJvXrq4XtRZ6ebHWMhFssYEdtmjxDf5m5WOal\u002Be4PowxB7i/g53xRkX3/zhSqoz3waC7VW8I6G6ZcMlOeR0uwjshoSpYsTHnKGwi\u002BRLGEDrSotZC/OkdKB9OIhLUos0kxTj9LQlinwxy1CkC5e9b0[...]
    {
      "RequestUri": "http://seanmcccanary3.dfs.core.windows.net/test-filesystem-6fd4fc71-bd5b-5aee-70fd-a609699e18fd/test-file-b22aa1bf-20d6-e196-3606-a4cc0dd5cc39?action=flush\u0026position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 21 Sep 2021 17:39:07 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D97D26B6BFC15D\u0022",
        "Last-Modified": "Tue, 21 Sep 2021 17:39:07 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-filesystem-6fd4fc71-bd5b-5aee-70fd-a609699e18fd/test-file-b22aa1bf-20d6-e196-3606-a4cc0dd5cc39",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 21 Sep 2021 17:39:07 GMT",
        "x-ms-range": "bytes=0-511",
        "x-ms-range-get-content-crc64": "true",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-511/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D97D26B6BFC15D\u0022",
        "Last-Modified": "Tue, 21 Sep 2021 17:39:07 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-content-crc64": "fKsuAfepqPQ=",
        "x-ms-creation-time": "Tue, 21 Sep 2021 17:39:07 GMT",
        "x-ms-last-access-time": "Tue, 21 Sep 2021 17:39:07 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": "bJxmNYx0KpMVtK295fcXfY1XWewM3TSCnTBuzftbf1S\u002BcWEa5svLS3aWnCFz2Pw/7iY/tnvfLY9o5JhcBl2XujVZ/nOV/ZfCiw52dUESD8U0Lt7UG8nY3kTSsQEzb0QZ/\u002BLsGdmIqfGPfStsabdNVdXSKNd\u002Bwp5sgB8vwkuVjhzJXHZfJvXrq4XtRZ6ebHWMhFssYEdtmjxDf5m5WOal\u002Be4PowxB7i/g53xRkX3/zhSqoz3waC7VW8I6G6ZcMlOeR0uwjshoSpYsTHnKGwi\u002BRLGEDrSotZC/OkdKB9OIhLUos0kxTj9LQlinwxy1CkC5e9b01yOe9ZK68VSBHUPCpMjEoWi\u002BjfVyOcxcAfF0Ci8HkIz8k6yRir23dl3qyiQU5B9U8GjX\u002B\u002B3ggp5XQvShRuYleo23xhEbMheqBxeYiG6nRxzSHxnHL5WeGxEOOkjJFS92xVCXXR4OOb5QLPPWSPkvr/rXzyfNXUr3GKr/DPjP4fHnIcMeD\u002Bn\u002BxOZbdgKhyNMX34pN8kYIqWcFoERzDizGgUsB7yY1EaAQ2ApBcedHVVDX5y1tgu\u002Br3nhcGG\u002BkirW5lfS3oNis4s3pPBk7xzd/vkr0nCb/WP9bVhCt2fgxbE1Uh9zyj7V3KgVfg0XVbxdA3FolsO2PuTz1XErI/gnVuNDL5j9bjS6UfHIgoNU="
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-filesystem-6fd4fc71-bd5b-5aee-70fd-a609699e18fd?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 21 Sep 2021 17:39:07 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "2129829874",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttp://seanmcccanary3.blob.core.windows.net\nhttp://seanmcccanary3.file.core.windows.net\nhttp://seanmcccanary3.queue.core.windows.net\nhttp://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttp://seanmcccanary3-secondary.blob.core.windows.net\nhttp://seanmcccanary3-secondary.file.core.windows.net\nhttp://seanmcccanary3-secondary.queue.core.windows.net\nhttp://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=http://seanmcccanary3.queue.core.windows.net/;FileEndpoint=http://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=http://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Sanitized\n\n\n"
  }
}