{
  "Entries": [
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-filesystem-2ba4318a-8ae3-ba2e-32b2-5b029848aa0d?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 21 Sep 2021 17:37:54 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D97D268B5134DF\u0022",
        "Last-Modified": "Tue, 21 Sep 2021 17:37:54 GMT",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.dfs.core.windows.net/test-filesystem-2ba4318a-8ae3-ba2e-32b2-5b029848aa0d/test-file-445022cb-e94a-f1bf-7568-c09e4f9efa0f?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-date": "Tue, 21 Sep 2021 17:37:54 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D97D268B5C9F87\u0022",
        "Last-Modified": "Tue, 21 Sep 2021 17:37:54 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.dfs.core.windows.net/test-filesystem-2ba4318a-8ae3-ba2e-32b2-5b029848aa0d/test-file-445022cb-e94a-f1bf-7568-c09e4f9efa0f?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 21 Sep 2021 17:37:55 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": "hQWeoV8rdNtEJxrdcHse9AmLxJ3S6At6NvcJMLYzSiP7GbkX2JlQn611/yPO4oD6ScuUw9pcPJ36I2pnIkQlEdz34VfBBxtwOyTwXOjnrFR2Dubqn4dIn9wcHbUv6H1pT\u002B5H1wApOEKvI4i2bOC1EncW8BNdOnFUrkJ7pelmQVKmhw35oNRTTdWkOnv\u002BkjL8Zws9GPdqCxV88im\u002BrpNYSeI1D\u002BTSu3KiwqM9uP/2VhsPfj3dKChaPHv4fK2rlZ9CS/GYyYJOKayZm1ZULVIVhpwNri9WeiC62tNo2j7E9y0D\u002B2wOXYyYwVWRRI3SBg8p4/YR[...]
    {
      "RequestUri": "http://seanmcccanary3.dfs.core.windows.net/test-filesystem-2ba4318a-8ae3-ba2e-32b2-5b029848aa0d/test-file-445022cb-e94a-f1bf-7568-c09e4f9efa0f?action=flush\u0026position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 21 Sep 2021 17:37:55 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D97D268B766559\u0022",
        "Last-Modified": "Tue, 21 Sep 2021 17:37:55 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-filesystem-2ba4318a-8ae3-ba2e-32b2-5b029848aa0d/test-file-445022cb-e94a-f1bf-7568-c09e4f9efa0f",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 21 Sep 2021 17:37:55 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-range-get-content-md5": "true",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-MD5": "ni7mtscrLMpFAXu3b6Ig6Q==",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D97D268B766559\u0022",
        "Last-Modified": "Tue, 21 Sep 2021 17:37:55 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 21 Sep 2021 17:37:54 GMT",
        "x-ms-last-access-time": "Tue, 21 Sep 2021 17:37:55 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": "hQWeoV8rdNtEJxrdcHse9AmLxJ3S6At6NvcJMLYzSiP7GbkX2JlQn611/yPO4oD6ScuUw9pcPJ36I2pnIkQlEdz34VfBBxtwOyTwXOjnrFR2Dubqn4dIn9wcHbUv6H1pT\u002B5H1wApOEKvI4i2bOC1EncW8BNdOnFUrkJ7pelmQVKmhw35oNRTTdWkOnv\u002BkjL8Zws9GPdqCxV88im\u002BrpNYSeI1D\u002BTSu3KiwqM9uP/2VhsPfj3dKChaPHv4fK2rlZ9CS/GYyYJOKayZm1ZULVIVhpwNri9WeiC62tNo2j7E9y0D\u002B2wOXYyYwVWRRI3SBg8p4/YRnedv69HR3e6v5U5u1KMpUDHlBikPdOzaxDaS6NTEP/dHsllFlA\u002BbPH\u002Be6dwGI3D[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-filesystem-2ba4318a-8ae3-ba2e-32b2-5b029848aa0d?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 21 Sep 2021 17:37:55 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1766208874",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttp://seanmcccanary3.blob.core.windows.net\nhttp://seanmcccanary3.file.core.windows.net\nhttp://seanmcccanary3.queue.core.windows.net\nhttp://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttp://seanmcccanary3-secondary.blob.core.windows.net\nhttp://seanmcccanary3-secondary.file.core.windows.net\nhttp://seanmcccanary3-secondary.queue.core.windows.net\nhttp://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=http://seanmcccanary3.queue.core.windows.net/;FileEndpoint=http://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=http://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Sanitized\n\n\n"
  }
}