{
  "Entries": [
    {
      "RequestUri": "https://sdktestrecorder.cognitiveservices.azure.com/personalizer/v1.1-preview.1/evaluations",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "enableOfflineExperimentation": true,
        "name": "sdkTestEvaluation",
        "startTime": "2021-06-01T00:00:00-07:00",
        "endTime": "2021-06-30T00:00:00-07:00",
        "policies": [
          {
            "name": "Custom Policy 1",
            "arguments": "--cb_explore_adf --epsilon 0.2 --dsjson --cb_type ips -l 0.5 --l1 1E-07 --power_t 0.5"
          }
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "/personalizer/v1.1-preview.1/evaluations/107d0322-c07e-428a-a2c1-2a407804f374"
      },
      "ResponseBody": {
        "id": "107d0322-c07e-428a-a2c1-2a407804f374",
        "name": "sdkTestEvaluation",
        "startTime": "2021-06-01T07:00:00Z",
        "endTime": "2021-06-30T07:00:00Z",
        "jobId": "107d0322-c07e-428a-a2c1-2a407804f374",
        "status": "pending",
        "policyResults": [
          {
            "name": "Custom Policy 1",
            "arguments": "--ccb_explore_adf --epsilon 0.2 --dsjson --cb_type ips -l 0.5 --l1 1E-07 --power_t 0.5",
            "policySource": "Custom"
          }
        ],
        "featureImportance": [],
        "evaluationType": "Manual",
        "optimalPolicy": "",
        "creationTime": "2021-07-26T23:21:42.831423Z"
      }
    },
    {
      "RequestUri": "https://sdktestrecorder.cognitiveservices.azure.com/personalizer/v1.1-preview.1/evaluations/107d0322-c07e-428a-a2c1-2a407804f374",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "107d0322-c07e-428a-a2c1-2a407804f374",
        "name": "sdkTestEvaluation",
        "startTime": "2021-06-01T07:00:00Z",
        "endTime": "2021-06-30T07:00:00Z",
        "jobId": "107d0322-c07e-428a-a2c1-2a407804f374",
        "status": "pending",
        "policyResults": [
          {
            "name": "Custom Policy 1",
            "arguments": "--ccb_explore_adf --epsilon 0.2 --dsjson --cb_type ips -l 0.5 --l1 1E-07 --power_t 0.5",
            "policySource": "Custom"
          }
        ],
        "featureImportance": [],
        "evaluationType": "Manual",
        "optimalPolicy": "",
        "creationTime": "2021-07-26T23:21:42.831423Z"
      }
    },
[...]
    {
      "RequestUri": "https://sdktestrecorder.cognitiveservices.azure.com/personalizer/v1.1-preview.1/evaluations/107d0322-c07e-428a-a2c1-2a407804f374",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "107d0322-c07e-428a-a2c1-2a407804f374",
        "name": "sdkTestEvaluation",
        "startTime": "2021-06-01T07:00:00Z",
        "endTime": "2021-06-30T07:00:00Z",
        "jobId": "107d0322-c07e-428a-a2c1-2a407804f374",
        "status": "completed",
        "policyResults": [
          {
            "name": "Custom Policy 1",
            "arguments": "--ccb_explore_adf --epsilon 0.2 --dsjson --cb_type ips -l 0.5 --l1 1E-07 --power_t 0.5",
            "policySource": "Custom"
          },
          {
            "name": "online",
            "policySource": "Online",
            "summary": [
              {
                "timeStamp": "2021-06-23T00:45:00Z",
                "ipsEstimatorNumerator": 0.0,
                "ipsEstimatorDenominator": 2.0,
                "snipsEstimatorDenominator": 2.0,
                "aggregateTimeWindow": "PT5M",
                "confidenceInterval": 0.0,
                "averageReward": 0.0
              },
              {
                "timeStamp": "2021-06-23T00:50:00Z",
                "ipsEstimatorNumerator": 0.0,
                "ipsEstimatorDenominator": 0.0,
                "snipsEstimatorDenominator": 0.0,
                "aggregateTimeWindow": "PT5M",
                "confidenceInterval": 0.0,
                "averageReward": 0.0
              },
              {
                "timeStamp": "2021-06-23T00:55:00Z",
                "ipsEstimatorNumerator": 0.0,
      [...]
