{
  "Entries": [
    {
      "RequestUri": "https://jverazsdkprim.table.core.windows.net/Tables?$format=application%2Fjson%3Bodata%3Dminimalmetadata",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json; odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Tue, 23 Mar 2021 18:28:35 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "TableName": "testtablen34od0g5"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "Location": "https://jverazsdkprim.table.core.windows.net/Tables(\u0027testtablen34od0g5\u0027)",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://jverazsdkprim.table.core.windows.net/$metadata#Tables/@Element",
        "TableName": "testtablen34od0g5"
      }
    },
    {
      "RequestUri": "https://jverazsdkprim.table.core.windows.net/testtablen34od0g5(PartitionKey=\u0027somPartition\u0027,RowKey=\u00271\u0027)?$format=application%2Fjson%3Bodata%3Dminimalmetadata",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Tue, 23 Mar 2021 18:28:35 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "StringTypeProperty": "This is the original",
        "PartitionKey": "somPartition",
        "RowKey": "1"
      },
      "StatusCode": 204,
      "ResponseHeaders": {
        "ETag": "W/\u0022datetime\u00272021-03-23T18%3A28%3A38.3119561Z\u0027\u0022",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://jverazsdkprim.table.core.windows.net/testtablen34od0g5()?$format=application%2Fjson%3Bodata%3Dminimalmetadata\u0026$filter=PartitionKey%20eq%20%27somPartition%27%20and%20RowKey%20eq%20%271%27",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Tue, 23 Mar 2021 18:28:35 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://jverazsdkprim.table.core.windows.net/$metadata#testtablen34od0g5",
        "value": [
          {
            "odata.etag": "W/\u0022datetime\u00272021-03-23T18%3A28%3A38.3119561Z\u0027\u0022",
            "PartitionKey": "somPartition",
            "RowKey": "1",
            "Timestamp": "2021-03-23T18:28:38.3119561Z",
            "StringTypeProperty": "This is the original"
          }
        ]
      }
    },
    {
      "RequestUri": "https://jverazsdkprim.table.core.windows.net/testtablen34od0g5(PartitionKey=\u0027somPartition\u0027,RowKey=\u00271\u0027)?$format=application%2Fjson%3Bodata%3Dminimalmetadata",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "DataServiceVersion": "3.0",
        "If-Match": "*",
        "x-ms-date": "Tue, 23 Mar 2021 18:28:35 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "PartitionKey": "somPartition",
        "RowKey": "1",
        "StringTypeProperty": "This is the original",
        "SomeStringProperty": "This is new and improved!"
      },
      "StatusCode": 204,
      "ResponseHeaders": {
        "ETag": "W/\u0022datetime\u00272021-03-23T18%3A28%3A38.356988Z\u0027\u0022",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://jverazsdkprim.table.core.windows.net/testtablen34od0g5(PartitionKey=\u0027somPartition\u0027,RowKey=\u00271\u0027)?$format=application%2Fjson%3Bodata%3Dminimalmetadata",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "DataServiceVersion": "3.0",
        "If-Match": "W/\u0022datetime\u00272021-03-23T18%3A28%3A38.3119561Z\u0027\u0022",
        "x-ms-date": "Tue, 23 Mar 2021 18:28:35 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "PartitionKey": "somPartition",
        "RowKey": "1",
        "SomeStringProperty": "This changed due to a matching Etag",
        "StringTypeProperty": "This is the original"
      },
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.error": {
          "code": "UpdateConditionNotSatisfied",
          "message": {
            "lang": "en-US",
            "value": "The update condition specified in the request was not satisfied.\nRequestId:a02873e3-e002-0026-4912-207c0c000000\nTime:2021-03-23T18:28:38.3997689Z"
          }
        }
      }
    },
[...]
    {
      "RequestUri": "https://jverazsdkprim.table.core.windows.net/Tables(\u0027testtablen34od0g5\u0027)",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 23 Mar 2021 18:28:35 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1434722982",
    "STORAGE_ENDPOINT_SUFFIX": "core.windows.net",
    "TABLES_PRIMARY_STORAGE_ACCOUNT_KEY": "Kg==",
    "TABLES_STORAGE_ACCOUNT_NAME": "jverazsdkprim"
  }
}