{
  "Entries": [
    {
      "RequestUri": "https://t487ba7ce49634c8eprim.table.core.windows.net/Tables?$format=application%2Fjson%3Bodata%3Dminimalmetadata",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json; odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Tue, 25 Aug 2020 16:29:44 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "TableName": "testtablel1upyyea"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "Location": "https://t487ba7ce49634c8eprim.table.core.windows.net/Tables(\u0027testtablel1upyyea\u0027)",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://t487ba7ce49634c8eprim.table.core.windows.net/$metadata#Tables/@Element",
        "TableName": "testtablel1upyyea"
      }
    },
    {
      "RequestUri": "https://t487ba7ce49634c8eprim.table.core.windows.net/testtablel1upyyea(PartitionKey=\u0027somPartition\u0027,RowKey=\u00271\u0027)?$format=application%2Fjson%3Bodata%3Dminimalmetadata",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Tue, 25 Aug 2020 16:29:45 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "StringTypeProperty": "This is the original",
        "PartitionKey": "somPartition",
        "RowKey": "1",
        "Timestamp": null
      },
      "StatusCode": 204,
      "ResponseHeaders": {
        "ETag": "W/\u0022datetime\u00272020-08-25T16%3A29%3A45.0533962Z\u0027\u0022",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://t487ba7ce49634c8eprim.table.core.windows.net/testtablel1upyyea()?$format=application%2Fjson%3Bodata%3Dminimalmetadata\u0026$filter=PartitionKey%20eq%20%27somPartition%27%20and%20RowKey%20eq%20%271%27",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Tue, 25 Aug 2020 16:29:45 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://t487ba7ce49634c8eprim.table.core.windows.net/$metadata#testtablel1upyyea",
        "value": [
          {
            "odata.etag": "W/\u0022datetime\u00272020-08-25T16%3A29%3A45.0533962Z\u0027\u0022",
            "PartitionKey": "somPartition",
            "RowKey": "1",
            "Timestamp": "2020-08-25T16:29:45.0533962Z",
            "StringTypeProperty": "This is the original"
          }
        ]
      }
    },
    {
      "RequestUri": "https://t487ba7ce49634c8eprim.table.core.windows.net/testtablel1upyyea(PartitionKey=\u0027somPartition\u0027,RowKey=\u00271\u0027)?$format=application%2Fjson%3Bodata%3Dminimalmetadata",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "DataServiceVersion": "3.0",
        "If-Match": "*",
        "x-ms-date": "Tue, 25 Aug 2020 16:29:45 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "odata.etag": "W/\u0022datetime\u00272020-08-25T16%3A29%3A45.0533962Z\u0027\u0022",
        "PartitionKey": "somPartition",
        "RowKey": "1",
        "Timestamp": "2020-08-25T16:29:45.0533962Z",
        "StringTypeProperty": "This is the original",
        "SomeStringProperty": "This is new and improved!"
      },
      "StatusCode": 204,
      "ResponseHeaders": {
        "ETag": "W/\u0022datetime\u00272020-08-25T16%3A29%3A45.2005022Z\u0027\u0022",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://t487ba7ce49634c8eprim.table.core.windows.net/testtablel1upyyea(PartitionKey=\u0027somPartition\u0027,RowKey=\u00271\u0027)?$format=application%2Fjson%3Bodata%3Dminimalmetadata",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "DataServiceVersion": "3.0",
        "If-Match": "W/\u0022datetime\u00272020-08-25T16%3A29%3A45.0533962Z\u0027\u0022",
        "x-ms-date": "Tue, 25 Aug 2020 16:29:45 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "odata.etag": "W/\u0022datetime\u00272020-08-25T16%3A29%3A45.2005022Z\u0027\u0022",
        "PartitionKey": "somPartition",
        "RowKey": "1",
        "Timestamp": "2020-08-25T16:29:45.2005022Z",
        "SomeStringProperty": "This changed due to a matching Etag",
        "StringTypeProperty": "This is the original"
      },
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.error": {
          "code": "UpdateConditionNotSatisfied",
          "message": {
            "lang": "en-US",
            "value": "The update condition specified in the request was not satisfied.\nRequestId:acd0b66e-d002-0089-28fc-7a60f1000000\nTime:2020-08-25T16:29:45.3562694Z"
          }
        }
      }
    },
[...]
    {
      "RequestUri": "https://t487ba7ce49634c8eprim.table.core.windows.net/Tables(\u0027testtablel1upyyea\u0027)",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 25 Aug 2020 16:29:45 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "274204635",
    "TABLES_PRIMARY_STORAGE_ACCOUNT_KEY": "Kg==",
    "TABLES_STORAGE_ACCOUNT_NAME": "t487ba7ce49634c8eprim"
  }
}