{
  "Entries": [
    {
      "RequestUri": "https://jverazsdkprim.table.core.windows.net/Tables?$format=application%2Fjson%3Bodata%3Dminimalmetadata",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json;odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Mon, 22 Mar 2021 23:44:38 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "TableName": "testtablegrtwjczw"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json;odata=minimalmetadata;streaming=true;charset=utf-8",
        "Location": "https://jverazsdkprim.table.core.windows.net/Tables(\u0027testtablegrtwjczw\u0027)",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://jverazsdkprim.table.core.windows.net/$metadata#Tables/@Element",
        "TableName": "testtablegrtwjczw"
      }
    },
    {
      "RequestUri": "https://jverazsdkprim.table.core.windows.net/testtablegrtwjczw(PartitionKey=\u0027somPartition\u0027,RowKey=\u00271\u0027)?$format=application%2Fjson%3Bodata%3Dminimalmetadata",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Mon, 22 Mar 2021 23:44:39 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "PartitionKey": "somPartition",
        "RowKey": "1",
        "SomeStringProperty": "This is the original"
      },
      "StatusCode": 204,
      "ResponseHeaders": {
        "ETag": "W/\u0022datetime\u00272021-03-22T23%3A44%3A39.9325324Z\u0027\u0022",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://jverazsdkprim.table.core.windows.net/testtablegrtwjczw()?$format=application%2Fjson%3Bodata%3Dminimalmetadata\u0026$filter=PartitionKey%20eq%20%27somPartition%27%20and%20RowKey%20eq%20%271%27",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Mon, 22 Mar 2021 23:44:39 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json;odata=minimalmetadata;streaming=true;charset=utf-8",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://jverazsdkprim.table.core.windows.net/$metadata#testtablegrtwjczw",
        "value": [
          {
            "odata.etag": "W/\u0022datetime\u00272021-03-22T23%3A44%3A39.9325324Z\u0027\u0022",
            "PartitionKey": "somPartition",
            "RowKey": "1",
            "Timestamp": "2021-03-22T23:44:39.9325324Z",
            "SomeStringProperty": "This is the original"
          }
        ]
      }
    },
    {
      "RequestUri": "https://jverazsdkprim.table.core.windows.net/testtablegrtwjczw(PartitionKey=\u0027somPartition\u0027,RowKey=\u00271\u0027)?$format=application%2Fjson%3Bodata%3Dminimalmetadata",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "DataServiceVersion": "3.0",
        "If-Match": "*",
        "x-ms-date": "Mon, 22 Mar 2021 23:44:39 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "PartitionKey": "somPartition",
        "RowKey": "1",
        "Timestamp": "2021-03-22T23:44:39.9325324Z",
        "Timestamp@odata.type": "Edm.DateTime",
        "SomeStringProperty": "This is new and improved!"
      },
      "StatusCode": 204,
      "ResponseHeaders": {
        "ETag": "W/\u0022datetime\u00272021-03-22T23%3A44%3A40.0095875Z\u0027\u0022",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://jverazsdkprim.table.core.windows.net/testtablegrtwjczw(PartitionKey=\u0027somPartition\u0027,RowKey=\u00271\u0027)?$format=application%2Fjson%3Bodata%3Dminimalmetadata",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "DataServiceVersion": "3.0",
        "If-Match": "W/\u0022datetime\u00272021-03-22T23%3A44%3A39.9325324Z\u0027\u0022",
        "x-ms-date": "Mon, 22 Mar 2021 23:44:39 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "PartitionKey": "somPartition",
        "RowKey": "1",
        "Timestamp": "2021-03-22T23:44:40.0095875Z",
        "Timestamp@odata.type": "Edm.DateTime",
        "SomeStringProperty": "This changed due to a matching Etag"
      },
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/json;odata=minimalmetadata;streaming=true;charset=utf-8",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.error": {
          "code": "UpdateConditionNotSatisfied",
          "message": {
            "lang": "en-US",
            "value": "The update condition specified in the request was not satisfied.\nRequestId:3bea4b8d-2002-005b-7c75-1f0d2f000000\nTime:2021-03-22T23:44:40.1038053Z"
          }
        }
      }
    },
[...]
    {
      "RequestUri": "https://jverazsdkprim.table.core.windows.net/Tables(\u0027testtablegrtwjczw\u0027)",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 22 Mar 2021 23:44:39 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "438884440",
    "STORAGE_ENDPOINT_SUFFIX": "core.windows.net",
    "TABLES_PRIMARY_STORAGE_ACCOUNT_KEY": "Kg==",
    "TABLES_STORAGE_ACCOUNT_NAME": "jverazsdkprim"
  }
}