{
  "Entries": [
    {
      "RequestUri": "https://chrisstablesprim.table.core.windows.net/Tables?$format=application%2Fjson%3Bodata%3Dminimalmetadata",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json;odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Fri, 11 Nov 2022 20:06:56 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": {
        "TableName": "testtableqo66cdon"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "Location": "https://chrisstablesprim.table.core.windows.net/Tables(\u0027testtableqo66cdon\u0027)",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": {
        "odata.metadata": "https://chrisstablesprim.table.core.windows.net/$metadata#Tables/@Element",
        "TableName": "testtableqo66cdon"
      }
    },
    {
      "RequestUri": "https://chrisstablesprim.table.core.windows.net/testtableqo66cdon(PartitionKey=\u0027somPartition\u0027,RowKey=\u0027\u0027)?$format=application%2Fjson%3Bodata%3Dminimalmetadata",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Fri, 11 Nov 2022 20:06:56 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": {
        "PartitionKey": "somPartition",
        "RowKey": "",
        "SomeStringProperty": "This is table entity number 01",
        "SomeDateProperty": "2020-01-01T01:02:00.0000000Z",
        "SomeDateProperty@odata.type": "Edm.DateTime",
        "SomeGuidProperty": "0d391d16-97f1-4b9a-be68-4cc871f90001",
        "SomeGuidProperty@odata.type": "Edm.Guid",
        "SomeBinaryProperty": "AQIDBAU=",
        "SomeBinaryProperty@odata.type": "Edm.Binary",
        "SomeInt64Property": "1",
        "SomeInt64Property@odata.type": "Edm.Int64",
        "SomeDoubleProperty0": 1,
        "SomeDoubleProperty0@odata.type": "Edm.Double",
        "SomeDoubleProperty1": 1.5,
        "SomeDoubleProperty1@odata.type": "Edm.Double",
        "SomeIntProperty": 1
      },
      "StatusCode": 204,
      "ResponseHeaders": {
        "ETag": "W/\u0022datetime\u00272022-11-11T20%3A06%3A57.1376952Z\u0027\u0022",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://chrisstablesprim.table.core.windows.net/testtableqo66cdon(PartitionKey=\u0027somPartition\u0027,RowKey=\u0027\u0027)?$format=application%2Fjson%3Bodata%3Dminimalmetadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Fri, 11 Nov 2022 20:06:56 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "ETag": "W/\u0022datetime\u00272022-11-11T20%3A06%3A57.1376952Z\u0027\u0022",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": {
        "odata.metadata": "https://chrisstablesprim.table.core.windows.net/$metadata#testtableqo66cdon/@Element",
        "odata.etag": "W/\u0022datetime\u00272022-11-11T20%3A06%3A57.1376952Z\u0027\u0022",
        "PartitionKey": "somPartition",
        "RowKey": "",
        "Timestamp": "2022-11-11T20:06:57.1376952Z",
        "SomeBinaryProperty@odata.type": "Edm.Binary",
        "SomeBinaryProperty": "AQIDBAU=",
        "SomeDateProperty@odata.type": "Edm.DateTime",
        "SomeDateProperty": "2020-01-01T01:02:00Z",
        "SomeDoubleProperty0": 1.0,
        "SomeDoubleProperty1": 1.5,
        "SomeGuidProperty@odata.type": "Edm.Guid",
        "SomeGuidProperty": "0d391d16-97f1-4b9a-be68-4cc871f90001",
        "SomeInt64Property@odata.type": "Edm.Int64",
        "SomeInt64Property": "1",
        "SomeIntProperty": 1,
        "SomeStringProperty": "This is table entity number 01"
      }
    },
    {
      "RequestUri": "https://chrisstablesprim.table.core.windows.net/Tables(\u0027testtableqo66cdon\u0027)",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 11 Nov 2022 20:06:57 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "801481646",
    "STORAGE_ENDPOINT_SUFFIX": "core.windows.net",
    "TABLES_PRIMARY_STORAGE_ACCOUNT_KEY": "Kg==",
    "TABLES_STORAGE_ACCOUNT_NAME": "chrisstablesprim"
  }
}
