{
  "Entries": [
    {
      "RequestUri": "https://allkimprim.table.core.windows.net/Tables?$format=application%2Fjson%3Bodata%3Dfullmetadata",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json; odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Tue, 28 Jul 2020 19:07:15 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "TableName": "testtablee0w7o5qv"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=fullmetadata; streaming=true; charset=utf-8",
        "Location": "https://allkimprim.table.core.windows.net/Tables(\u0027testtablee0w7o5qv\u0027)",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://allkimprim.table.core.windows.net/$metadata#Tables/@Element",
        "odata.type": "allkimprim.Tables",
        "odata.id": "https://allkimprim.table.core.windows.net/Tables(\u0027testtablee0w7o5qv\u0027)",
        "odata.editLink": "Tables(\u0027testtablee0w7o5qv\u0027)",
        "TableName": "testtablee0w7o5qv"
      }
    },
[...]
    {
      "RequestUri": "https://allkimprim.table.core.windows.net/Tables?$format=application%2Fjson%3Bodata%3Dfullmetadata\u0026$filter=TableName%20eq%20%27testtablefe6l1uob%27",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Tue, 28 Jul 2020 19:07:16 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=fullmetadata; streaming=true; charset=utf-8",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://allkimprim.table.core.windows.net/$metadata#Tables",
        "value": [
          {
            "odata.type": "allkimprim.Tables",
            "odata.id": "https://allkimprim.table.core.windows.net/Tables(\u0027testtablefe6l1uob\u0027)",
            "odata.editLink": "Tables(\u0027testtablefe6l1uob\u0027)",
            "TableName": "testtablefe6l1uob"
          }
        ]
      }
    },
    {
      "RequestUri": "https://allkimprim.table.core.windows.net/Tables(\u0027testtablefe6l1uob\u0027)",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 28 Jul 2020 19:07:16 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://allkimprim.table.core.windows.net/Tables(\u0027testtablee0w7o5qv\u0027)",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 28 Jul 2020 19:07:16 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1987403566",
    "TABLES_PRIMARY_STORAGE_ACCOUNT_KEY": "",
    "TABLES_STORAGE_ACCOUNT_NAME": "allkimprim"
  }
}