{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c?api-version=2019-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11893"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "tagKey1": "tagValue1",
          "tagKey2": "tagValue2"
        },
        "subscriptionId": "db1ab6f0-4769-4b27-930e-01e2ef9c123c",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": ".NET Mgmt SDK Test with TTL = 1 Day",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourcegroups/Sql-RG-5197?api-version=2019-10-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus2"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1194"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/Sql-RG-5197",
        "name": "Sql-RG-5197",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus2",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/Sql-RG-5197/providers/Microsoft.Network/networkSecurityGroups/networkSecurityGroup-3260?api-version=2021-02-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus2",
        "properties": {}
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncNotification": "Enabled",
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Network/locations/westus2/operations/5bccbdb5-8bb0-423f-a76c-4ce1159ae15f?api-version=2021-02-01",
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "3",
        "x-ms-ratelimit-remaining-subscription-writes": "1193"
      },
      "ResponseBody": [
        "{\r\n",
        "  \"name\": \"networkSecurityGroup-3260\",\r\n",
        "  \"id\": \"/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/Sql-RG-5197/providers/Microsoft.Network/networkSecurityGroups/networkSecurityGroup-3260\",\r\n",
        "  \"etag\": \"W/\\\"f13f161a-7f6a-4464-94aa-8df69c288218\\\"\",\r\n",
        "  \"type\": \"Microsoft.Network/networkSecurityGroups\",\r\n",
        "  \"location\": \"westus2\",\r\n",
        "  \"properties\": {\r\n",
        "    \"provisioningState\": \"Updating\",\r\n",
        "    \"resourceGuid\": \"25a7c0b0-0c96-41f9-a388-acba8ff46b21\",\r\n",
        "    \"securityRules\": [],\r\n",
        "    \"defaultSecurityRules\": [\r\n",
        "      {\r\n",
        "        \"name\": \"AllowVnetInBound\",\r\n",
        "        \"id\": \"/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/Sql-RG-5197/providers/Microsoft.Network/networkSecurityGroups/networkSecurityGroup-3260/defaultSecurityRules/AllowVnetInBound\",\r\n",
        "        \"etag\": \"W/\\\"f13f161a-7f6a-4464-94aa-8df69c288218\\\"\",\r\n",
        "        \"type\": \"Microsoft.Network/networkSecurityGroups/defaultSecurityRules\",\r\n",
        "        \"properties\": {\r\n",
        "          \"provisioningState\": \"Updating\",\r\n",
        "          \"description\": \"Allow inbound traffic from all VMs in VNET\",\r\n",
        "          \"protocol\": \"*\",\r\n",
        "          \"sourcePortRange\": \"*\",\r\n",
        "          \"destinationPortRange\": \"*\",\r\n",
        "          \"sourceAddressPrefix\": \"VirtualNetwork\",\r\n",
        "          \"destinationAddressPrefix\": \"VirtualNetwork\",\r\n",
        "          \"access\": \"Allow\",\r\n",
        "          \"priority\": 65000,\r\n",
        "          \"direction\": \"Inbound\",\r\n",
        "          \"sourcePortRanges\": [],\r\n",
        "          \"destinationPortRanges\": [],\r\n",
        "          \"sourceAddressPrefixes\": [],\r\n",
        "          \"destinationAddressPrefixes\": []\r\n",
        "        }\r\n",
        "      },\r\n",
        "      {\r\n",
        "        \"name\": \"AllowAzureLoadBalancerInBound\",\r\n",
        "        \"id\": \"/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/Sql-RG-5197/providers/Microsoft.Network/networkSecurityGroups/networkSecurityGroup-3260/defaultSecurityRules/AllowAzureLoadBalancerInBound\",\r\n",
        "        \"etag\": \"W/\\\"f13f161a-7f6a-4464-94aa-8df69c288218\\\"\",\r\n",
        "        \"type[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Network/locations/westus2/operations/5bccbdb5-8bb0-423f-a76c-4ce1159ae15f?api-version=2021-02-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11892"
      },
      "ResponseBody": [
        "{\r\n",
        "  \"status\": \"Succeeded\"\r\n",
        "}"
      ]
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/Sql-RG-5197/providers/Microsoft.Network/networkSecurityGroups/networkSecurityGroup-3260?api-version=2021-02-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\"d0af8e31-b968-4f5c-88a0-9a25dacba045\"",
        "x-ms-ratelimit-remaining-subscription-reads": "11891"
      },
      "ResponseBody": [
        "{\r\n",
        "  \"name\": \"networkSecurityGroup-3260\",\r\n",
        "  \"id\": \"/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/Sql-RG-5197/providers/Microsoft.Network/networkSecurityGroups/networkSecurityGroup-3260\",\r\n",
        "  \"etag\": \"W/\\\"d0af8e31-b968-4f5c-88a0-9a25dacba045\\\"\",\r\n",
        "  \"type\[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/Sql-RG-5197/providers/Microsoft.Network/routeTables/routeTable-5749?api-version=2021-02-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus2",
        "properties": {}
      },
      "StatusCode": 201,
      "ResponseHeaders": {[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/Sql-RG-5197/providers/Microsoft.Network/routeTables/routeTable-5749?api-version=2021-02-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\"eab87a5a-f8f7-4ab3-80b7-2305c5ce7613\"",
        "x-ms-ratelimit-remaining-subscription-reads": "11889"
      },
      "ResponseBody": [
        "{\r\n",
        "  \"name\": \"routeTable-5749\",\r\n",
        "  \"id\": \"/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/Sql-RG-5197/providers/Microsoft.Network/routeTables/routeTable-5749\",\r\n",
        "  \"etag\": \"W/\\\"eab87a5a-f8f7-4ab3-80b7-2305c5ce7613\\\"\",\r\n",
        "  \"type\": \"Microsoft.Network/routeTables\",\r\n",
        "  \"location\": \"westus2\",\r\n",
        "  \"properties\": {\r\n",
        "    \"provisioningState\": \"Succeeded\",\r\n",
        "    \"resourceGuid\": \"25bd5112-38fa-42f1-bb21-f1ef0d697c88\",\r\n",
        "    \"disableBgpRoutePropagation\": false,\r\n",
        "    \"routes\": []\r\n",
        "  }\r\n",
        "}"
      ]
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/Sql-RG-5197/providers/Microsoft.Network/virtualNetworks/vnet-777?api-version=2021-02-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus2",
        "properties": {
          "addressSpace": {
            "addressPrefixes": [
              "10.10.0.0/16"
            ]
          },
          "subnets": [
            {
              "name": "subnet01",
              "properties": {
                "addressPrefix": "10.10.1.0/24"
              }
            },
            {
              "name": "ManagedInstance",
              "properties": {
                "addressPrefix": "10.10.2.0/24",
                "networkSecurityGroup": {
                  "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/Sql-RG-5197/providers/Microsoft.Network/networkSecurityGroups/networkSecurityGroup-3260",
                  "properties": {}
                },
                "routeTable": {
                  "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/Sql-RG-5197/providers/Microsoft.Network/routeTables/routeTable-5749",
                  "properties": {}
                },
                "delegations": [
                  {
                    "name": "Microsoft.Sql/managedInstances",
                    "type": "Microsoft.Sql",
                    "properties": {
                      "serviceName": "Microsoft.Sql/managedInstances"
                    }
                  }
                ]
              }
            }
          ]
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncNotification": "Enabled",
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Network/locations/westus2/operations/74ef1625-f6da-420b-955d-62d8dd8072d0?api-version=2021-02-01",
        "Conten[...]
[...]
