{
  "Entries": [
    {
      "RequestUri": "/subscriptions/76cb77fa-8b17-4eab-9493-b65dace99813/providers/Microsoft.Support/supportTickets/testticket/checkNameAvailability?api-version=2020-04-01",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"name\": \"testcommunication4927\",\r\n  \"type\": \"Microsoft.Support/supportTickets\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"nameAvailable\": true\r\n}",
      "StatusCode": 200
    }
  ],
  "Names": {
    "CheckNameAvailabilityTestNameAvailableCommunicationResource": [
      "testcommunication4927"
    ]
  },
  "Variables": {
    "SubscriptionId": "76cb77fa-8b17-4eab-9493-b65dace99813"
  }
}