{
  "Entries": [
    {
      "RequestUri": "/subscriptions/dfb63c8c-7c89-4ef8-af13-75c1d873c895/resourceGroups/ereyTest/providers/Microsoft.ContainerRegistry/registries/azuresdkunittestupdateable?api-version=2017-10-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"sku\": {\r\n    \"name\": \"Standard\",\r\n    \"tier\": \"Standard\"\r\n  },\r\n  \"type\": \"Microsoft.ContainerRegistry/registries\",\r\n  \"id\": \"/subscriptions/dfb63c8c-7c89-4ef8-af13-75c1d873c895/resourceGroups/ereyTest/providers/Microsoft.ContainerRegistry/registries/azuresdkunittestupdateable\",\r\n  \"name\": \"azuresdkunittestupdateable\",\r\n  \"location\": \"westus\",\r\n  \"tags\": {},\r\n  \"properties\": {\r\n    \"loginServer\": \"azuresdkunittestupdateable.azurecr.io\",\r\n    \"creationDate\": \"2019-08-06T23:24:57.9977962Z\",\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"adminUserEnabled\": true\r\n  }\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/dfb63c8c-7c89-4ef8-af13-75c1d873c895/resourceGroups/ereyTest/providers/Microsoft.ContainerRegistry/registries/azuresdkunittestupdateable/listCredentials?api-version=2017-10-01",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"username\": \"azuresdkunittestupdateable\",\r\n  \"passwords\": [\r\n    {\r\n      \"name\": \"password\",\r\n      \"value\": \"NZHS=PRPAui5NO0X4S3iZd6NyhrB4d8h\"\r\n    },\r\n    {\r\n      \"name\": \"password2\",\r\n      \"value\": \"5sx4ISH4wwoHyYGzN/BhKIL691VoEiWx\"\r\n    }\r\n  ]\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/v2/doundo%2Fbash/manifests/temporary",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"mediaType\": \"application/vnd.docker.distribution.manifest.v2+json\",\r\n  \"config\": {\r\n    \"mediaType\": \"application/vnd.docker.container.image.v1+json\",\r\n    \"size\": 5635,\r\n    \"digest\": \"sha256:16463e0c481e161aabb735437d30b3c9c7391c2747cc564bb927e843b73dcb39\"\r\n  },\r\n  \"layers\": [\r\n    {\r\n      \"mediaType\": \"application/vnd.docker.image.rootfs.diff.tar.gzip\",\r\n      \"size\": 2789742,\r\n      \"digest\": \"sha256:0503825856099e6adb39c8297af09547f69684b7016b7f3680ed801aa310baaa\"\r\n    },\r\n    {\r\n      \"mediaType\": \"application/vnd.docker.image.rootfs.diff.tar.gzip\",\r\n      \"size\": 3174556,\r\n      \"digest\": \"sha256:7bf5420b55e6bbefb64ddb4fbb98ef094866f3a3facda638a155715ab6002d9b\"\r\n    },\r\n    {\r\n      \"mediaType\": \"application/vnd.docker.image.rootfs.diff.tar.gzip\",\r\n      \"size\": 344,\r\n      \"digest\": \"sha256:1beb2aaf8cf93eacf658fa7f7f10f89ccec1838d1ac643a273345d4d0bc813a8\"\r\n    }\r\n  ],\r\n  \"schemaVersion\": 2\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/vnd.docker.distribution.manifest.v2+json"
        ]
      },
      "ResponseHeaders": {
        "Docker-Content-Digest": [
          "sha256:e9bf142ca148d37d4d60b2735a26237b2cfc1bf3711d248fc837346182d64264"
        ],
        "Docker-Distribution-Api-Version": [
          "registry/2.0"
        ],
        "Location": [
          "/v2/doundo/bash/manifests/sha256:e9bf142ca148d37d4d60b2735a26237b2cfc1bf3711d248fc837346182d64264"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 201
    },
    {
      "RequestUri": "/v2/doundo%2Fbash/manifests/temporary",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Docker-Content-Digest": [
          "sha256:e9bf142ca148d37d4d60b2735a26237b2cfc1bf3711d248fc837346182d64264"
        ],
        "Docker-Distribution-Api-Version": [
          "registry/2.0"
        ],
        "ETag": [
          "\"sha256:e9bf142ca148d37d4d60b2735a26237b2cfc1bf3711d248fc837346182d64264\""
        ],
        "Content-Type": [
          "application/vnd.docker.distribution.manifest.v2+json"
        ]
      },
      "ResponseBody": "{\r\n  \"mediaType\": \"application/vnd.docker.distribution.manifest.v2+json\",\r\n  \"config\": {\r\n    \"mediaType\": \"application/vnd.docker.container.image.v1+json\",\r\n    \"size\": 5635,\r\n    \"digest\": \"sha256:16463e0c481e161aabb735437d30b3c9c7391c2747cc564bb927e843b73dcb39\"\r\n  },\r\n  \"layers\": [\r\n    {\r\n      \"mediaType\": \"application/vnd.docker.image.rootfs.diff.tar.gzip\",\r\n      \"size\": 2789742,\r\n      \"digest\": \"sha256:0503825856099e6adb39c8297af09547f69684b7016b7f3680ed801aa310baaa\"\r\n    },\r\n    {\r\n      \"mediaType\": \"application/vnd.docker.image.rootfs.diff.tar.gzip\",\r\n      \"size\": 3174556,\r\n      \"digest\": \"sha256:7bf5420b55e6bbefb64ddb4fbb98ef094866f3a3facda638a155715ab6002d9b\"\r\n    },\r\n    {\r\n      \"mediaType\": \"application/vnd.docker.image.rootfs.diff.tar.gzip\",\r\n      \"size\": 344,\r\n      \"digest\": \"sha256:1beb2aaf8cf93eacf658fa7f7f10f89ccec1838d1ac643a273345d4d0bc813a8\"\r\n    }\r\n  ],\r\n  \"schemaVersion\": 2\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/acr/v1/doundo%2Fbash/_tags/temporary",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Docker-Distribution-Api-Version": [
          "registry/2.0"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"registry\": \"azuresdkunittestupdateable.azurecr.io\",\r\n  \"imageName\": \"doundo/bash\",\r\n  \"tag\": {\r\n    \"name\": \"temporary\",\r\n    \"digest\": \"sha256:e9bf142ca148d37d4d60b2735a26237b2cfc1bf3711d248fc837346182d64264\",\r\n    \"createdTime\": \"2019-09-04T18:39:23.6596656Z\",\r\n    \"lastUpdateTime\": \"2019-09-04T18:39:23.6596656Z\",\r\n    \"signed\": false,\r\n    \"changeableAttributes\": {\r\n      \"deleteEnabled\": true,\r\n      \"writeEnabled\": true,\r\n      \"readEnabled\": true,\r\n      \"listEnabled\": true\r\n    }\r\n  }\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/v2/doundo%2Fbash/manifests/sha256%3Ae9bf142ca148d37d4d60b2735a26237b2cfc1bf3711d248fc837346182d64264",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Docker-Distribution-Api-Version": [
          "registry/2.0"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 202
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "dfb63c8c-7c89-4ef8-af13-75c1d873c895"
  }
}