{
  "Entries": [
    {
      "RequestUri": "/subscriptions/dfb63c8c-7c89-4ef8-af13-75c1d873c895/resourceGroups/ereyTest/providers/Microsoft.ContainerRegistry/registries/azuresdkunittest?api-version=2017-10-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11997"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"sku\": {\r\n    \"name\": \"Standard\",\r\n    \"tier\": \"Standard\"\r\n  },\r\n  \"type\": \"Microsoft.ContainerRegistry/registries\",\r\n  \"id\": \"/subscriptions/dfb63c8c-7c89-4ef8-af13-75c1d873c895/resourceGroups/ereyTest/providers/Microsoft.ContainerRegistry/registries/azuresdkunittest\",\r\n  \"name\": \"azuresdkunittest\",\r\n  \"location\": \"westus\",\r\n  \"tags\": {},\r\n  \"properties\": {\r\n    \"loginServer\": \"azuresdkunittest.azurecr.io\",\r\n    \"creationDate\": \"2019-08-01T22:42:31.7178676Z\",\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"adminUserEnabled\": true\r\n  }\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/dfb63c8c-7c89-4ef8-af13-75c1d873c895/resourceGroups/ereyTest/providers/Microsoft.ContainerRegistry/registries/azuresdkunittest/listCredentials?api-version=2017-10-01",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"username\": \"azuresdkunittest\",\r\n  \"passwords\": [\r\n    {\r\n      \"name\": \"password\",\r\n      \"value\": \"ZRMyNiuZoPU8hePZd/Kikv17fsAUZflB\"\r\n    },\r\n    {\r\n      \"name\": \"password2\",\r\n      \"value\": \"g8Lu3=nbd5RNHq9Aik9Al0OR6SmEP9Qr\"\r\n    }\r\n  ]\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/v2/multi-hello-world/manifests/latest",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Docker-Content-Digest": [
          "sha256:6e406c4cd25fdaaf6d9c4b51b47357978a749336535631b8166acc882c9d6f2b"
        ],
        "Docker-Distribution-Api-Version": [
          "registry/2.0"
        ],
        "ETag": [
          "\"sha256:6e406c4cd25fdaaf6d9c4b51b47357978a749336535631b8166acc882c9d6f2b\""
        ],
        "Content-Type": [
          "application/vnd.docker.distribution.manifest.list.v2+json"
        ]
      },
      "ResponseBody": "{\r\n  \"schemaVersion\": 2,\r\n  \"mediaType\": \"application/vnd.docker.distribution.manifest.list.v2+json\",\r\n  \"manifests\": [\r\n    {\r\n      \"mediaType\": \"application/vnd.docker.distribution.manifest.v2+json\",\r\n      \"size\": 528,\r\n      \"digest\": \"sha256:4b36b0347b2c6b02adc54a3d8e8143299e7c733b4dcadb95c1d4c8b6da720172\",\r\n      \"platform\": {\r\n        \"architecture\": \"amd64\",\r\n        \"os\": \"linux\"\r\n      }\r\n    },\r\n    {\r\n      \"mediaType\": \"application/vnd.docker.distribution.manifest.v2+json\",\r\n      \"size\": 838,\r\n      \"digest\": \"sha256:2542c76d5ba87f9923ebcc6711677a2167dedf33e382f61a97772ae35106274d\",\r\n      \"platform\": {\r\n        \"architecture\": \"amd64\",\r\n        \"os\": \"windows\",\r\n        \"os.version\": \"10.0.18362.295\"\r\n      }\r\n    }\r\n  ]\r\n}",
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "dfb63c8c-7c89-4ef8-af13-75c1d873c895"
  }
}