{
  "Entries": [
    {
      "RequestUri": "/subscriptions/422b6c61-95b0-4213-b3be-7282315df71d/resourceGroups/to-delete-02/providers/Microsoft.Automation/automationAccounts/fbs-aa-01/softwareUpdateConfigurationMachineRuns?api-version=2019-06-01&$filter=properties%2FcorrelationId%20eq%20e5934d51-6e50-41f8-b860-3a3657040f8d",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11998"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/422b6c61-95b0-4213-b3be-7282315df71d/resourceGroups/to-delete-02/providers/Microsoft.Automation/automationAccounts/fbs-aa-01/softwareUpdateConfigurationMachineRuns/3c789f68-05aa-4614-9d1a-b557b39cc53c\",\r\n      \"name\": \"3c789f68-05aa-4614-9d1a-b557b39cc53c\",\r\n      \"type\": null,\r\n      \"properties\": {\r\n        \"targetComputer\": \"/subscriptions/422b6c61-95b0-4213-b3be-7282315df71d/resourceGroups/sdk-tests-UM-rg/providers/Microsoft.Compute/virtualMachines/vmj-arm-01\",\r\n        \"targetComputerType\": \"AzureVirtualMachines\",\r\n        \"softwareUpdateConfiguration\": {\r\n          \"name\": \"test-suc\"\r\n        },\r\n        \"status\": \"InProgress\",\r\n        \"osType\": \"Windows\",\r\n        \"correlationId\": \"e5934d51-6e50-41f8-b860-3a3657040f8d\",\r\n        \"sourceComputerId\": \"b0c97b4c-bb21-432e-a374-f2529bd687b4\",\r\n        \"startTime\": \"2021-03-31T17:15:38.57+05:30\",\r\n        \"endTime\": null,\r\n        \"configuredDuration\": \"PT2H\",\r\n        \"job\": null,\r\n        \"error\": null,\r\n        \"creationTime\": \"2021-03-31T17:15:38.57+05:30\",\r\n        \"lastModifiedBy\": null,\r\n        \"lastModifiedTime\": \"2021-03-31T17:16:40.09+05:30\"\r\n      }\r\n    }\r\n  ]\r\n}",
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "422b6c61-95b0-4213-b3be-7282315df71d"
  }
}