{
  "Entries": [
    {
      "RequestUri": "/subscriptions/422b6c61-95b0-4213-b3be-7282315df71d/resourceGroups/to-delete-01/providers/Microsoft.Automation/automationAccounts/fbs-aa-01/softwareUpdateConfigurationMachineRuns/da6493d0-de31-48d9-bc78-08e3c1d80d0a?api-version=2017-05-15-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11986"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/422b6c61-95b0-4213-b3be-7282315df71d/resourceGroups/to-delete-01/providers/Microsoft.Automation/automationAccounts/fbs-aa-01/softwareUpdateConfigurationMachineRuns/da6493d0-de31-48d9-bc78-08e3c1d80d0a\",\r\n  \"name\": \"da6493d0-de31-48d9-bc78-08e3c1d80d0a\",\r\n  \"type\": null,\r\n  \"properties\": {\r\n    \"targetComputer\": \"/subscriptions/422b6c61-95b0-4213-b3be-7282315df71d/resourceGroups/a-stasku-rg0/providers/Microsoft.Compute/virtualMachines/vmj-arm-02\",\r\n    \"targetComputerType\": \"AzureVirtualMachines\",\r\n    \"softwareUpdateConfiguration\": {\r\n      \"name\": \"sdkTest1\"\r\n    },\r\n    \"status\": \"Succeeded\",\r\n    \"osType\": \"Windows\",\r\n    \"correlationId\": \"6ff49ee2-092a-48bf-841a-c3d645611689\",\r\n    \"sourceComputerId\": \"6e3fb962-c468-49c4-81d4-b9a6d854d1ad\",\r\n    \"startTime\": \"2018-10-22T17:04:13.3313852-07:00\",\r\n    \"endTime\": \"2018-10-22T17:05:40.397-07:00\",\r\n    \"configuredDuration\": \"PT2H\",\r\n    \"job\": {\r\n      \"id\": \"/subscriptions/422b6c61-95b0-4213-b3be-7282315df71d/resourceGroups/to-delete-01/providers/Microsoft.Automation/automationAccounts/fbs-aa-01/jobs/da6493d0-de31-48d9-bc78-08e3c1d80d0a\"\r\n    },\r\n    \"error\": null,\r\n    \"creationTime\": \"2018-10-22T17:04:13.3313852-07:00\",\r\n    \"lastModifiedBy\": null,\r\n    \"lastModifiedTime\": \"2018-10-22T17:06:24.88-07:00\"\r\n  }\r\n}",
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "422b6c61-95b0-4213-b3be-7282315df71d"
  }
}