{
  "Entries": [
    {
      "RequestUri": "https://javatextanalyticstestresources.cognitiveservices.azure.com/language/:analyze-text?api-version=2022-05-01\u0026showStats=false",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "analysisInput": {
          "documents": [
            {
              "id": "0",
              "text": "Hello world",
              "countryHint": "us"
            },
            {
              "id": "1",
              "text": "Bonjour tout le monde",
              "countryHint": "us"
            },
            {
              "id": "2",
              "text": "Hola mundo",
              "countryHint": "us"
            }
          ]
        },
        "parameters": {
          "modelVersion": "2019-10-01"
        },
        "kind": "LanguageDetection"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "csp-billing-usage": "CognitiveServices.TextAnalytics.BatchScoring=3,CognitiveServices.TextAnalytics.TextRecords=3"
      },
      "ResponseBody": {
        "kind": "LanguageDetectionResults",
        "results": {
          "documents": [
            {
              "id": "0",
              "detectedLanguage": {
                "name": "English",
                "iso6391Name": "en",
                "confidenceScore": 1.0
              },
              "warnings": []
            },
            {
              "id": "1",
              "detectedLanguage": {
                "name": "French",
                "iso6391Name": "fr",
                "confidenceScore": 1.0
              },
              "warnings": []
            },
            {
              "id": "2",
              "detectedLanguage": {
                "name": "Spanish",
                "iso6391Name": "es",
                "confidenceScore": 1.0
              },
              "warnings": []
            }
          ],
          "errors": [],
          "modelVersion": "2019-10-01"
        }
      }
    }
  ],
  "Variables": {
    "RandomSeed": "507510424",
    "TEXT_ANALYTICS_API_KEY": "Sanitized",
    "TEXT_ANALYTICS_ENDPOINT": "https://javatextanalyticstestresources.cognitiveservices.azure.com"
  }
}
