{
  "Entries": [
    {
      "RequestUri": "https://javatextanalyticstestresources.cognitiveservices.azure.com/language/:analyze-text?api-version=2022-04-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "analysisInput": {
          "documents": [
            {
              "id": "0",
              "text": "Este documento est\u00E1 en espa\u00F1ol",
              "countryHint": "COLOMBIA"
            }
          ]
        },
        "kind": "LanguageDetection"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kind": "LanguageDetectionResults",
        "results": {
          "documents": [],
          "errors": [
            {
              "id": "0",
              "error": {
                "code": "InvalidArgument",
                "message": "Invalid Country Hint.",
                "innererror": {
                  "code": "InvalidCountryHint",
                  "message": "Country hint is not valid. Please specify an ISO 3166-1 alpha-2 two letter country code."
                }
              }
            }
          ],
          "modelVersion": "2021-11-20"
        }
      }
    }
  ],
  "Variables": {
    "RandomSeed": "1862955290",
    "TEXT_ANALYTICS_API_KEY": "Sanitized",
    "TEXT_ANALYTICS_ENDPOINT": "https://javatextanalyticstestresources.cognitiveservices.azure.com"
  }
}
