{
  "Entries": [
    {
      "RequestUri": "https://textanalytics-westeurope.ppe.cognitiveservices.azure.com/text/analytics/v3.1-preview.3/languages?model-version=2019-10-01\u0026showStats=true",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "documents": [
          {
            "id": "1",
            "text": "Hello world",
            "countryHint": "us"
          },
          {
            "id": "2",
            "text": "Bonjour tout le monde",
            "countryHint": "fr"
          },
          {
            "id": "3",
            "text": "Hola mundo",
            "countryHint": "es"
          },
          {
            "id": "4",
            "text": ":) :( :D",
            "countryHint": "us"
          }
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "csp-billing-usage": "CognitiveServices.TextAnalytics.BatchScoring=4"
      },
      "ResponseBody": {
        "statistics": {
          "documentsCount": 4,
          "validDocumentsCount": 4,
          "erroneousDocumentsCount": 0,
          "transactionsCount": 4
        },
        "documents": [
          {
            "id": "1",
            "detectedLanguage": {
              "name": "English",
              "iso6391Name": "en",
              "confidenceScore": 1.0
            },
            "statistics": {
              "charactersCount": 11,
              "transactionsCount": 1
            },
            "warnings": []
          },
          {
            "id": "2",
            "detectedLanguage": {
              "name": "French",
              "iso6391Name": "fr",
              "confidenceScore": 1.0
            },
            "statistics": {
              "charactersCount": 21,
              "transactionsCount": 1
            },
            "warnings": []
          },
          {
            "id": "3",
            "detectedLanguage": {
              "name": "Spanish",
              "iso6391Name": "es",
              "confidenceScore": 1.0
            },
            "statistics": {
              "charactersCount": 10,
              "transactionsCount": 1
            },
            "warnings": []
          },
          {
            "id": "4",
            "detectedLanguage": {
              "name": "(Unknown)",
              "iso6391Name": "(Unknown)",
              "confidenceScore": 0.0
            },
            "statistics": {
              "charactersCount": 8,
              "transactionsCount": 1
            },
            "warnings": []
          }
        ],
        "errors": [],
        "modelVersion": "2019-10-01"
      }
    }
  ],
  "Variables": {
    "RandomSeed": "1441514523",
    "TEXT_ANALYTICS_API_KEY": "Sanitized",
    "TEXT_ANALYTICS_ENDPOINT": "https://textanalytics-westeurope.ppe.cognitiveservices.azure.com"
  }
}