{
  "Entries": [
    {
      "RequestUri": "https://mariari-westus2-s.cognitiveservices.azure.com/text/analytics/v3.1-preview.5/languages?model-version=2019-10-01\u0026showStats=false",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "documents": [
          {
            "id": "1",
            "text": "Hello world",
            "countryHint": "us"
          },
          {
            "id": "2",
            "text": "Bonjour tout le monde",
            "countryHint": "fr"
          },
          {
            "id": "3",
            "text": "Hola mundo",
            "countryHint": "es"
          },
          {
            "id": "4",
            "text": ":) :( :D",
            "countryHint": "us"
          }
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "csp-billing-usage": "CognitiveServices.TextAnalytics.BatchScoring=4,CognitiveServices.TextAnalytics.TextRecords=4"
      },
      "ResponseBody": {
        "documents": [
          {
            "id": "1",
            "detectedLanguage": {
              "name": "English",
              "iso6391Name": "en",
              "confidenceScore": 1.0
            },
            "warnings": []
          },
          {
            "id": "2",
            "detectedLanguage": {
              "name": "French",
              "iso6391Name": "fr",
              "confidenceScore": 1.0
            },
            "warnings": []
          },
          {
            "id": "3",
            "detectedLanguage": {
              "name": "Spanish",
              "iso6391Name": "es",
              "confidenceScore": 1.0
            },
            "warnings": []
          },
          {
            "id": "4",
            "detectedLanguage": {
              "name": "(Unknown)",
              "iso6391Name": "(Unknown)",
              "confidenceScore": 0.0
            },
            "warnings": []
          }
        ],
        "errors": [],
        "modelVersion": "2019-10-01"
      }
    }
  ],
  "Variables": {
    "RandomSeed": "1725013070",
    "TEXT_ANALYTICS_API_KEY": "Sanitized",
    "TEXT_ANALYTICS_ENDPOINT": "https://mariari-westus2-s.cognitiveservices.azure.com/"
  }
}