{
  "Entries": [
    {
      "RequestUri": "https://api.loganalytics.io/v1/workspaces/9a15b791-8d2f-436f-a734-25d128c72254/query",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "query": "TableA1_CL | project StringColumn_s | order by StringColumn_s asc"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "tables": [
          {
            "name": "PrimaryResult",
            "columns": [
              {
                "name": "StringColumn_s",
                "type": "string"
              }
            ],
            "rows": [
              [
                "a"
              ],
              [
                "b"
              ],
              [
                "c"
              ]
            ]
          }
        ]
      }
    }
  ],
  "Variables": {
    "RandomSeed": "2059659621",
    "WORKSPACE_ID": "9a15b791-8d2f-436f-a734-25d128c72254"
  }
}