{
  "Entries": [
    {
      "RequestUri": "https://api.loganalytics.io/v1/$batch",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "requests": [
          {
            "id": "0",
            "body": {
              "query": "Heartbeat"
            },
            "path": "/query",
            "method": "POST",
            "workspace": "9a15b791-8d2f-436f-a734-25d128c72254"
          },
          {
            "id": "1",
            "body": {
              "query": "Heartbeat"
            },
            "path": "/query",
            "method": "POST",
            "workspace": "9a15b791-8d2f-436f-a734-25d128c72254"
          }
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "responses": [
          {
            "id": "0",
            "status": 200,
            "body": {
              "tables": [
                {
                  "name": "PrimaryResult",
                  "columns": [
                    {
                      "name": "TenantId",
                      "type": "string"
                    },
                    {
                      "name": "SourceSystem",
                      "type": "string"
                    },
                    {
                      "name": "TimeGenerated",
                      "type": "datetime"
                    },
                    {
                      "name": "MG",
                      "type": "string"
                    },
                    {
                      "name": "ManagementGroupName",
         [...]
