{
  "Entries": [
    {
      "RequestUri": "https://api.loganalytics.io/v1/workspaces/9a15b791-8d2f-436f-a734-25d128c72254/query",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "query": "TableA1_102_CL | project TimeGenerated",
        "timespan": "P7DT22H2M23.3719678S"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "tables": [
          {
            "name": "PrimaryResult",
            "columns": [
              {
                "name": "TimeGenerated",
                "type": "datetime"
              }
            ],
            "rows": [
              [
                "2021-04-14T00:00:00Z"
              ],
              [
                "2021-04-17T00:00:00Z"
              ]
            ]
          }
        ]
      }
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2021-04-20T15:02:23.3719678-07:00",
    "RandomSeed": "479188848",
    "WORKSPACE_ID": "9a15b791-8d2f-436f-a734-25d128c72254",
    "WORKSPACE_KEY": "Kg=="
  }
}