{
  "Entries": [
    {
      "RequestUri": "https://api.loganalytics.io/v1/workspaces/9a15b791-8d2f-436f-a734-25d128c72254/query",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "query": "TableA1_102_CL |project-rename Name = StringColumn_s, Age = IntColumn_d |order by Name asc"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "tables": [
          {
            "name": "PrimaryResult",
            "columns": [
              {
                "name": "TenantId",
                "type": "string"
              },
              {
                "name": "SourceSystem",
                "type": "string"
              },
              {
                "name": "MG",
                "type": "string"
              },
              {
                "name": "ManagementGroupName",
                "type": "string"
              },
              {
                "name": "TimeGenerated",
                "type": "datetime"
              },
              {
                "name": "Computer",
                "type": "string"
              },
              {
                "name": "RawData",
                "type": "string"
              },
              {
                "name": "Age",
                "type": "real"
              },
              {
                "name": "Name",
                "type": "string"
              },
              {
                "name": "BoolColumn_b",
                "type": "bool"
              },
              {
                "name": "FloatColumn_d",
                "type": "real"
              },
              {
                "name": "Type",
                "type": "string"
              },
              {
                "name": "_ResourceId",
                "type": "string"
              }
            ],
            "rows": [
              [
                "9a15b791-8d2f-436f-a734-25d128c72254",
                "RestAPI",
                "",
                "",
                "2021-04-12T00:00:00Z",
                "",
                "",
                1,
                "a",
                false,
                0,
                "TableA1_102_CL",
                ""
              ],
              [
                "9a15b791-8d2f-436f-a734-25d128c72254",
                "RestAPI",
                "",
                "",
                "2021-04-14T00:00:00Z",
                "",
                "",
                3,
                "b",
                true,
                1.2,
                "TableA1_102_CL",
                ""
              ],
              [
                "9a15b791-8d2f-436f-a734-25d128c72254",
                "RestAPI",
                "",
                "",
                "2021-04-17T00:00:00Z",
                "",
                "",
                1,
                "c",
                false,
                1.1,
                "TableA1_102_CL",
                ""
              ]
            ]
          }
        ]
      }
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2021-04-20T15:12:12.5956196-07:00",
    "RandomSeed": "195466269",
    "WORKSPACE_ID": "9a15b791-8d2f-436f-a734-25d128c72254"
  }
}