{
  "Entries": [
    {
      "RequestUri": "https://api.loganalytics.io/v1/workspaces/9a15b791-8d2f-436f-a734-25d128c72254/query",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "query": "datatable (DateTime: datetime) [ datetime(2015-12-31 23:59:59.9) ]"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "tables": [
          {
            "name": "PrimaryResult",
            "columns": [
              {
                "name": "DateTime",
                "type": "datetime"
              }
            ],
            "rows": [
              [
                "2015-12-31T23:59:59.9Z"
              ]
            ]
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://api.loganalytics.io/v1/workspaces/9a15b791-8d2f-436f-a734-25d128c72254/query",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "query": "datatable (Decimal: decimal) [ decimal(0.10101) ]"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "tables": [
          {
            "name": "PrimaryResult",
            "columns": [
              {
                "name": "Decimal",
                "type": "decimal"
              }
            ],
            "rows": [
              [
                "0.10101"
              ]
            ]
          }
        ]
      }
    }
  ],
  "Variables": {
    "RandomSeed": "1457666448",
    "WORKSPACE_ID": "9a15b791-8d2f-436f-a734-25d128c72254"
  }
}