{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/f3d94233-a9aa-4241-ac82-2dfb63ce637a?api-version=2019-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11815"
      },
      "ResponseBody": {
        "id": "/subscriptions/f3d94233-a9aa-4241-ac82-2dfb63ce637a",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "subscriptionId": "f3d94233-a9aa-4241-ac82-2dfb63ce637a",
        "tenantId": "75743128-1c62-4904-9be1-c23c1edb9a9f",
        "displayName": "Visual Studio Enterprise Subscription",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Public_2014-09-01",
          "quotaId": "MSDN_2014-09-01",
          "spendingLimit": "On"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/f3d94233-a9aa-4241-ac82-2dfb63ce637a/resourcegroups/testRg-5036?api-version=2019-10-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1197"
      },
      "ResponseBody": {
        "id": "/subscriptions/f3d94233-a9aa-4241-ac82-2dfb63ce637a/resourceGroups/testRg-5036",
        "name": "testRg-5036",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/f3d94233-a9aa-4241-ac82-2dfb63ce637a/resourceGroups/testRg-5036/providers/Microsoft.Cdn/profiles/profile-5283?api-version=2020-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "sku": {
          "name": "Standard_Microsoft"
        },
        "location": "westus",
        "properties": {}
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/f3d94233-a9aa-4241-ac82-2dfb63ce637a/resourcegroups/testRg-5036/providers/Microsoft.Cdn/operationresults/93cdb2ac-1242-4282-b657-0accb8ac16a8?api-version=2020-09-01",
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "23"
      },
      "ResponseBody": {
        "id": "/subscriptions/f3d94233-a9aa-4241-ac82-2dfb63ce637a/resourcegroups/testRg-5036/providers/Microsoft.Cdn/profiles/profile-5283",
        "type": "Microsoft.Cdn/profiles",
        "name": "profile-5283",
        "location": "WestUs",
        "kind": "cdn",
        "tags": {},
        "sku": {
          "name": "Standard_Microsoft"
        },
        "properties": {
          "resourceState": "Creating",
          "provisioningState": "Creating"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/f3d94233-a9aa-4241-ac82-2dfb63ce637a/resourcegroups/testRg-5036/providers/Microsoft.Cdn/operationresults/93cdb2ac-1242-4282-b657-0accb8ac16a8?api-version=2020-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11814"
      },
      "ResponseBody": {
        "status": "InProgress",
        "error": {
          "code": "None",
          "message": null
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/f3d94233-a9aa-4241-ac82-2dfb63ce637a/resourceGroups/testRg-5036/providers/Microsoft.Cdn/profiles/profile-5283/endpoints/endpoint-4012?api-version=2020-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus",
        "properties": {
          "isHttpAllowed": true,
          "isHttpsAllowed": true,
          "optimizationType": "GeneralWebDelivery",
          "origins": [
            {
              "name": "testOrigin",
              "properties": {
                "hostName": "testsa4dotnetsdk.blob.core.windows.net",
                "priority": 3,
                "weight": 100
              }
            }
          ]
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/f3d94233-a9aa-4241-ac82-2dfb63ce637a/resourcegroups/testRg-5036/providers/Microsoft.Cdn/operationresults/af9a0916-41f5-4bdf-a1e0-889b4a4f8a7c?api-version=2020-09-01",
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "98"
      },
      "ResponseBody": {
        "id": "/subscriptions/f3d94233-a9aa-4241-ac82-2dfb63ce637a/resourcegroups/testRg-5036/providers/Microsoft.Cdn/profiles/profile-5283/endpoints/endpoint-4012",
        "type": "Microsoft.Cdn/profiles/endpoints",
        "name": "endpoint-4012",
        "location": "WestUs",
        "tags": {},
        "properties": {
          "hostName": "endpoint-4012.azureedge.net",
          "originHostHeader": null,
          "originPath": null,
          "contentTypesToCompress": [],
          "isCompressionEnabled": false,
          "isHttpAllowed": true,
          "isHttpsAllowed": true,
          "queryStringCachingBehavior": "IgnoreQueryString",
          "optimizationType": "GeneralWebDelivery",
          "probePath": null,
          "origins": [
            {
              "name": "testOrigin",
              "properties": {
                "hostName": "testsa4dotnetsdk.blob.core.windows.net",
                "httpPort": null,
                "httpsPort": null,
                "originHostHeader": null,
                "priority": 3,
                "weight": 100,
                "enabled": true,
                "privateLinkAlias": null,
                "privateLinkResourceId": null,
                "privateLinkLocation": null,
                "privateEndpointStatus": null,
                "privateLinkApprovalMessage": null
              }
            }
          ],
          "originGroups": [],
          "defaultOriginGroup": null,
          "customDomains": [],
          "geoFilters": [],
          "deliveryPolicy": null,
          "urlSigningKeys": null,
          "webApplicationFirewallPolicyLink": null,
          "resourceState": "Creating",
          "provisioningState": "Creating"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/f3d94233-a9aa-4241-ac82-2dfb63ce637a/resourceGroups/testRg-5036/providers/Microsoft.Cdn/profiles/profile-5283/endpoints/endpoint-4012/originGroups/origingroup-7351?api-version=2020-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "origins": [
            {
           [...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/f3d94233-a9aa-4241-ac82-2dfb63ce637a/resourceGroups/testRg-5036/providers/Microsoft.Cdn/profiles/profile-5283/endpoints/endpoint-4012/originGroups/origingroup-7351?api-version=2020-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11641"
      },
      "ResponseBody": {
        "id": "/subscriptions/f3d94233-a9aa-4241-ac82-2dfb63ce637a/resourcegroups/testRg-5036/providers/Microsoft.Cdn/profiles/profile-5283/endpoints/endpoint-4012/origingroups/origingroup-7351",
        "type": "Microsoft.Cdn/profiles/endpoints/origingroups",
        "name": "origingroup-7351",
        "properties": {
          "healthProbeSettings": null,
          "responseBasedOriginErrorDetectionSettings": null,
          "trafficRestorationTimeToHealedOrNewEndpointsInMinutes": null,
          "origins": [
            {
              "id": "/subscriptions/f3d94233-a9aa-4241-ac82-2dfb63ce637a/resourceGroups/testRg-5036/providers/Microsoft.Cdn/profiles/profile-5283/endpoints/endpoint-4012/origins/testOrigin"
            }
          ],
          "resourceState": "Active",
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/f3d94233-a9aa-4241-ac82-2dfb63ce637a/resourceGroups/testRg-5036/providers/Microsoft.Cdn/profiles/profile-5283/endpoints/endpoint-4012/originGroups?api-version=2020-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11640"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/f3d94233-a9aa-4241-ac82-2dfb63ce637a/resourcegroups/testRg-5036/providers/Microsoft.Cdn/profiles/profile-5283/endpoints/endpoint-4012/origingroups/origingroup-7351",
            "type": "Microsoft.Cdn/profiles/endpoints/origingroups",
            "name": "origingroup-7351",
            "properties": {
              "healthProbeSettings": null,
              "responseBasedOriginErrorDetectionSettings": null,
              "trafficRestorationTimeToHealedOrNewEndpointsInMinutes": null,
              "origins": [
                {
                  "id": "/subscriptions/f3d94233-a9aa-4241-ac82-2dfb63ce637a/resourceGroups/testRg-5036/providers/Microsoft.Cdn/profiles/profile-5283/endpoints/endpoint-4012/origins/testOrigin"
                }
              ],
              "resourceState": "Active",
              "provisioningState": "Succeeded"
            }
          }
        ]
      }
    }
  ],
  "Variables": {
    "RandomSeed": "1644002413",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "f3d94233-a9aa-4241-ac82-2dfb63ce637a"
  }
}