{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11995"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "TagKey-9823": "TagValue-566",
          "TagKey-3481": "TagValue-320",
          "TagKey-4926": "TagValue-1187",
          "TagKey-751": "TagValue-3921",
          "TagKey-1866": "TagValue-8559",
          "TagKey-3094": "TagValue-9190",
          "TagKey-2449": "TagValue-9",
          "TagKey-8379": "TagValue-164",
          "TagKey-7470": "TagValue-2205",
          "TagKey-4236": "TagValue-3698",
          "TagKey-5316": "TagValue-2725"
        },
        "subscriptionId": "db1ab6f0-4769-4b27-930e-01e2ef9c123c",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": ".NET Mgmt SDK Test with TTL = 1 Day",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/tenants?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-tenant-reads": "11991"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/tenants/72f988bf-86f1-41af-91ab-2d7cd011db47",
            "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
            "tenantCategory": "Home"
          }
        ]
      }
    },
    {
      "RequestUri": "https://management.azure.com/providers/Microsoft.ResourceGraph/resources?api-version=2021-06-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "managementGroups": [
          "91f5d6bc-f464-8343-5e53-3c3e3f99e5c4",
          "makharchMg"
        ],
        "query": "project id, tags, properties | limit 2"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-tenant-reads": "11990",
        "x-ms-ratelimit-remaining-tenant-resource-requests": "14",
        "x-ms-user-quota-remaining": "14",
        "x-ms-user-quota-resets-after": "00:00:05"
      },
      "ResponseBody": {
        "totalRecords": 2,
        "count": 2,
        "data": [
          {
            "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/teststorageRG-5335/providers/Microsoft.Storage/storageAccounts/teststoragemgmt8010",
            "tags": {
              "key1": "value1",
              "key2": "value2"
            },
            "properties": {
              "provisioningState": "Succeeded",
              "encryption": {
                "keySource": "Microsoft.Storage",
                "services": {
                  "blob": {
                    "enabled": true,
                    "lastEnabledTime": "2021-11-18T02:49:12.3580000Z",
                    "keyType": "Account"
                  },
                  "file": {
                    "enabled": true,
                    "lastEnabledTime": "2021-11-18T02:49:12.3580000Z",
                    "keyType": "Account"
                  }
                }
              },
              "privateEndpointConnections": [],
              "supportsHttpsTrafficOnly": true,
              "allowBlobPublicAccess": true,
              "minimumTlsVersion": "TLS1_0",
              "primaryEndpoints": {
                "blob": "https://teststoragemgmt8010.blob.core.windows.net/",
                "file": "https://teststoragemgmt8010.file.core.windows.net/",
                "table": "https://teststoragemgmt8010.table.core.windows.net/",
                "queue": "https://teststoragemgmt8010.queue.core.windows.net/",
                "web": "https://teststoragemgmt8010.z20.web.core.windows.net/",
                "dfs": "https://teststoragemgmt8010.dfs.core.windows.net/"
              },
              "creationTime": "2021-11-18T02:49:12.2480000Z",
              "primaryLocation": "eastus2",
              "statusOfPrimary": "available",
              "keyCreationTime": {
                "key2": "2021-11-18T02:49:12.3580000Z",
                "key1": "2021-11-18T02:49:12.3580000Z"
              },
              "networkAcls": {
                "virtualNetworkRules": [],
                "defaultAction": "Allow",
                "ipRules": [],
                "bypass": "AzureServices"
              },
              "accessTier": "Hot",
              "statusOfSecondary": "available",
              "secondaryLocation": "centralus"
            }
          },
          {
            "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/SECURITYCENTERRG-0000/providers/Microsoft.Compute/disks/vm0000_OsDisk_1_7dc122207b564681916a19a6852f744e",
            "tags": {
              "platformsettings.host_environment.service.platform_optedin_for_rootcerts": "true",
              "azsecpack": "nonprod"
            },
            "properties": {
              "provisioningState": "Succeeded",
              "publicNetworkAccess": "Enabled",
              "diskSizeGB": 30,
              "networkAccessPolicy": "AllowAll",
              "timeCreated": "2022-10-12T02:48:05.7220000Z",
              "hyperVGeneration": "V1",
              "diskSizeBytes": 32213303296,
              "encryption": {
                "type": "EncryptionAtRestWithPlatformKey"
              },
              "diskIOPSReadWrite": 500,
              "diskMBpsReadWrite": 60,
              "creationData": {
                "createOption": "FromImage",
                "imageReference": {
                  "id": "/Subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/Providers/Microsoft.Compute/Locations/eastus/Publishers/Canonical/ArtifactTypes/VMImage/Offers/UbuntuServer/Skus/16.04-LTS/Versions/16.04.202109280"
                }
              },
              "diskState": "Attached",
              "uniqueId": "7dc12220-7b56-4681-916a-19a6852f744e",
              "osType": "Linux",
              "supportedCapabilities": {
                "architecture": "x64"
              }
            }
          }
        ],
        "facets": [],
        "resultTruncated": "false"
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "RandomSeed": "608817481",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "db1ab6f0-4769-4b27-930e-01e2ef9c123c"
  }
}
