{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "TagKey-9823": "TagValue-566",
          "TagKey-3481": "TagValue-320",
          "TagKey-4926": "TagValue-1187",
          "TagKey-751": "TagValue-3921",
          "TagKey-1866": "TagValue-8559",
          "TagKey-3094": "TagValue-9190",
          "TagKey-2449": "TagValue-9",
          "TagKey-8379": "TagValue-164",
          "TagKey-7470": "TagValue-2205",
          "TagKey-4236": "TagValue-3698",
          "TagKey-5316": "TagValue-2725"
        },
        "subscriptionId": "db1ab6f0-4769-4b27-930e-01e2ef9c123c",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": ".NET Mgmt SDK Test with TTL = 1 Day",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/tenants?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-tenant-reads": "11999"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/tenants/72f988bf-86f1-41af-91ab-2d7cd011db47",
            "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
            "tenantCategory": "Home"
          }
        ]
      }
    },
    {
      "RequestUri": "https://management.azure.com/providers/Microsoft.ResourceGraph/resources?api-version=2021-06-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "managementGroups": [
          "91f5d6bc-f464-8343-5e53-3c3e3f99e5c4"
        ],
        "query": "project id, tags, properties | limit 2"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-tenant-reads": "11998",
        "x-ms-ratelimit-remaining-tenant-resource-requests": "14",
        "x-ms-user-quota-remaining": "14",
        "x-ms-user-quota-resets-after": "00:00:05"
      },
      "ResponseBody": {
        "totalRecords": 2,
        "count": 2,
        "data": [
          {
            "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/AzSecPackAutoConfigRG/providers/Microsoft.ManagedIdentity/userAssignedIdentities/AzSecPackAutoConfigUA-eastus",
            "tags": {},
            "properties": {
              "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
              "principalId": "7912661d-c88e-4a77-a379-0e048f26ca7c",
              "clientId": "9601e85e-5ef0-4b72-ae34-adce6248fe56"
            }
          },
          {
            "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/SecurityCenterRG-0000/providers/Microsoft.Network/networkSecurityGroups/nsg1245",
            "tags": null,
            "properties": {
              "provisioningState": "Succeeded",
              "resourceGuid": "d7a4c2d9-6c39-4342-bdb1-7d03ed68d0ac",
              "defaultSecurityRules": [
                {
                  "properties": {
                    "provisioningState": "Succeeded",
                    "destinationAddressPrefixes": [],
                    "protocol": "*",
                    "destinationAddressPrefix": "VirtualNetwork",
                    "sourceAddressPrefixes": [],
                    "destinationPortRanges": [],
                    "sourceAddressPrefix": "VirtualNetwork",
                    "destinationPortRange": "*",
                    "sourcePortRanges": [],
                    "sourcePortRange": "*",
                    "priority": 65000,
                    "direction": "Inbound",
                    "description": "Allow inbound traffic from all VMs in VNET",
                    "access": "Allow"
                  },
                  "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/SecurityCenterRG-0000/providers/Microsoft.Network/networkSecurityGroups/nsg1245/defaultSecurityRules/AllowVnetInBound",
                  "name": "AllowVnetInBound",
                  "type": "Microsoft.Network/networkSecurityGroups/defaultSecurityRules",
                  "etag": "W/\u00228c23ad1b-d071-4232-9912-5c17ced1d19d\u0022"
                },
                {
                  "properties": {
                    "provisioningState": "Succeeded",
                    "destinationAddressPrefixes": [],
                    "protocol": "*",
                    "destinationAddressPrefix": "*",
                    "sourceAddressPrefixes": [],
                    "destinationPortRanges": [],
                    "sourceAddressPrefix": "AzureLoadBalancer",
               [...]
