{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11998"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "TagKey-9823": "TagValue-566",
          "TagKey-3481": "TagValue-320",
          "TagKey-4926": "TagValue-1187",
          "TagKey-751": "TagValue-3921",
          "TagKey-1866": "TagValue-8559",
          "TagKey-3094": "TagValue-9190",
          "TagKey-2449": "TagValue-9",
          "TagKey-8379": "TagValue-164",
          "TagKey-7470": "TagValue-2205",
          "TagKey-4236": "TagValue-3698",
          "TagKey-5316": "TagValue-2725"
        },
        "subscriptionId": "db1ab6f0-4769-4b27-930e-01e2ef9c123c",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": ".NET Mgmt SDK Test with TTL = 1 Day",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/tenants?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-tenant-reads": "11997"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/tenants/72f988bf-86f1-41af-91ab-2d7cd011db47",
            "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
            "tenantCategory": "Home"
          }
        ]
      }
    },
    {
      "RequestUri": "https://management.azure.com/providers/Microsoft.ResourceGraph/resources?api-version=2021-06-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "subscriptions": [
          "db1ab6f0-4769-4b27-930e-01e2ef9c123c"
        ],
        "query": "project id, tags, properties | limit 2",
        "options": {
          "resultFormat": "table"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-tenant-reads": "11996",
        "x-ms-ratelimit-remaining-tenant-resource-requests": "14",
        "x-ms-user-quota-remaining": "14",
        "x-ms-user-quota-resets-after": "00:00:05"
      },
      "ResponseBody": {
        "totalRecords": 2,
        "count": 2,
        "data": {
          "columns": [
            {
              "name": "id",
              "type": "string"
            },
            {
              "name": "tags",
              "type": "object"
            },
            {
              "name": "properties",
              "type": "object"
            }
          ],
          "rows": [
            [
              "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/Default-EventHub-1375/providers/Microsoft.EventHub/namespaces/sdk-eventhub-Namespace-8280",
              {
                "tag2": "value2",
                "tag1": "value1"
              },
              {
                "provisioningState": "Succeeded",
                "publicNetworkAccess": "Enabled",
                "minimumTlsVersion": "1.0",
                "status": "Active",
                "zoneRedundant": false,
                "disableLocalAuth": false,
                "serviceBusEndpoint": "https://sdk-eventhub-Namespace-8280.servicebus.windows.net:443/",
                "maximumThroughputUnits": 0,
                "isAutoInflateEnabled": false,
                "createdAt": "2021-08-28T15:06:44.1570000Z",
                "updatedAt": "2021-08-29T01:45:11.3230000Z",
                "metricId": "db1ab6f0-4769-4b27-930e-01e2ef9c123c:sdk-eventhub-namespace-8280",
                "kafkaEnabled": true,
                "alternateName": "sdk-DisasterRecovery-2526"
              }
            ],
            [
              "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/Default-EventHub-1375/providers/Microsoft.EventHub/namespaces/sdk-eventhub-Namespace-9015",
              {
                "tag2": "value2",
                "tag1": "value1"
              },
              {
                "provisioningState": "Succeeded",
                "publicNetworkAccess": "Enabled",
                "minimumTlsVersion": "1.0",
                "status": "Active",
                "zoneRedundant": false,
                "disableLocalAuth": false,
                "serviceBusEndpoint": "https://sdk-eventhub-Namespace-9015.servicebus.windows.net:443/",
                "maximumThroughputUnits": 0,
                "isAutoInflateEnabled": false,
                "createdAt": "2021-08-28T15:07:33.3400000Z",
                "updatedAt": "2021-08-29T01:51:52.4230000Z",
                "metricId": "db1ab6f0-4769-4b27-930e-01e2ef9c123c:sdk-eventhub-namespace-9015",
                "kafkaEnabled": true
              }
            ]
          ]
        },
        "facets": [],
        "resultTruncated": "false"
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "RandomSeed": "1879845871",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "db1ab6f0-4769-4b27-930e-01e2ef9c123c"
  }
}
