{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/tenants?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-tenant-reads": "11982"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/tenants/72f988bf-86f1-41af-91ab-2d7cd011db47",
            "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
            "tenantCategory": "Home"
          }
        ]
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11978"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "TagKey-9823": "TagValue-1254",
          "TagKey-3481": "TagValue-320",
          "TagKey-4926": "TagValue-1187",
          "TagKey-751": "TagValue-3921",
          "TagKey-1866": "TagValue-8559",
          "TagKey-3094": "TagValue-9190",
          "TagKey-2449": "TagValue-9",
          "TagKey-8379": "TagValue-164",
          "TagKey-7470": "TagValue-2205",
          "TagKey-4236": "TagValue-3698",
          "TagKey-5316": "TagValue-2725"
        },
        "subscriptionId": "db1ab6f0-4769-4b27-930e-01e2ef9c123c",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": ".NET Mgmt SDK Test with TTL = 1 Day",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Support/supportTickets/2303060030001646?api-version=2020-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11977"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Support/supportTickets/2303060030001646",
        "name": "2303060030001646",
        "type": "Microsoft.Support/supportTickets",
        "properties": {
          "description": "Question: Problem Start Date\nAnswer: Not sure, use current time\n\nQuestion: Subscription ID\nAnswer: db1ab6f0-4769-4b27-930e-01e2ef9c123c\n\nQuestion: Provide a brief description of the issue\nAnswer: My subscription was suddenly added 2 delete lock that  caused I can\u0027t delete the any resource.\nThis is a test subscription we are using so we do frequent create/delete operations.",
          "problemClassificationId": "/providers/Microsoft.Support/services/f3dc5421-79ef-1efa-41a5-42bf3cbb52c6/problemClassifications/62f2a151-0564-fc4e-264d-58defd24998e",
          "problemClassificationDisplayName": "Re-enable my subscription / My issue is not listed above",
          "severity": "Minimal",
          "require24X7Response": false,
          "enrollmentId": "",
          "contactDetails": {
            "firstName": "Arthur",
            "lastName": "Ma",
            "preferredContactMethod": "Email",
            "primaryEmailAddress": "arthurma@microsoft.com",
            "preferredTimeZone": "Singapore Standard Time",
            "country": "CHN",
            "preferredSupportLanguage": "en-US"
          },
          "serviceLevelAgreement": {
            "startTime": "2023-03-06T10:36:50Z",
            "expirationTime": "2023-03-07T09:00:00Z",
            "slaMinutes": 480
          },
          "supportEngineer": {
            "emailAddress": "v-kaizheng@microsoft.com"
          },
          "supportPlanType": "Azure Internal",
          "supportTicketId": "2303060030001646",
          "title": "The whole subscription was added a delete lock",
          "serviceId": "/providers/Microsoft.Support/services/f3dc5421-79ef-1efa-41a5-42bf3cbb52c6",
          "serviceDisplayName": "Subscription management",
          "status": "Closed",
          "problemStartTime": "2023-03-06T10:31:00Z",
          "createdDate": "2023-03-06T10:36:50Z",
          "modifiedDate": "2023-03-08T10:05:22Z"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Support/supportTickets/2303060030001646/communications?api-version=2020-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11976"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Support/supportTickets/2303060030001646/communications/0b60e9a8-98bd-ed11-83ff-000d3a18b532",
            "name": "0b60e9a8-98bd-ed11-83ff-000d3a18b532",
            "type": "Microsoft.Support/communications",
            "properties": {
              "communicationType": "Web",
              "communicationDirection": "Outbound",
              "sender": "v-kaizheng@microsoft.com",
              "subject": "\u5FAE\u8F6F\u7ED3\u6848\u786E\u8BA4\u51FD\uFF1AThe whole subscription was added a dele... - TrackingID#2303060030001646",
              "body": "\u003Chtml\u003E\u003Chead\u003E\r\n\u003Cmeta http-equiv=\u0022Content-Type\u0022 content=\u0022text/html; charset=utf-8\u0022\u003E\u003Cmeta name=\u0022Generator\u0022 content=\u0022Microsoft Word 15 (filtered medium)\u0022\u003E\u003Cstyle\u003E\r\n\u003C!--\r\n@font-face\r\n\t{font-family:SimSun}\r\n@font-face\r\n\t{font-family:\u0022Cambria Math\u0022}\r\n@font-face\r\n\t{font-family:DengXian}\r\n@font-face\r\n\t{font-family:Calibri}\r\n@font-face\r\n\t{font-family:\u0022Segoe UI\u0022}\[...]
