{
  "_entries": [
    {
      "RequestUri": "https://pakrym-azconfig-ui.azconfig.io/kv/key-223466119?label=my_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "0OIR8m2PFBz/tLVzxJAua4RsVSufVwRNmaSLhMmyIDE="
      },
      "RequestBody": {
        "value": "my_value",
        "content_type": "",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002bjson; charset=utf-8",
        "ETag": "\u0022izwh8T2OTahgRT3ZTG1qGv5is2Q\u0022",
        "Last-Modified": "Mon, 20 May 2019 17:28:23 GMT",
        "Sync-Token": "zAJw6V16=NDotMSMxOTU4MjI=;sn=195822"
      },
      "ResponseBody": {
        "etag": "izwh8T2OTahgRT3ZTG1qGv5is2Q",
        "key": "key-223466119",
        "label": "my_label",
        "content_type": "",
        "value": "my_value",
        "tags": {},
        "locked": false,
        "last_modified": "2019-05-20T17:28:23\u002b00:00"
      }
    },
    {
      "RequestUri": "https://pakrym-azconfig-ui.azconfig.io/kv/key-223466119?label=my_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002b/TImW\u002b5JCeuQeRkm5NMpJWZG3hSuFU="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002bjson; charset=utf-8",
        "ETag": "\u0022izwh8T2OTahgRT3ZTG1qGv5is2Q\u0022",
        "Last-Modified": "Mon, 20 May 2019 17:28:23 GMT",
        "Sync-Token": "zAJw6V16=NDotMSMxOTU4MjM=;sn=195823"
      },
      "ResponseBody": {
        "etag": "izwh8T2OTahgRT3ZTG1qGv5is2Q",
        "key": "key-223466119",
        "label": "my_label",
        "content_type": "",
        "value": "my_value",
        "tags": {},
        "locked": false,
        "last_modified": "2019-05-20T17:28:23\u002b00:00"
      }
    }
  ],
  "Variables": {
    "APP_CONFIG_CONNECTION": "Endpoint=https://pakrym-azconfig-ui.azconfig.io;Id=0-l1-s0:h5pHKElA5IjSL3z\u002bFOYz;Secret=;",
    "RandomSeed": "2127899635"
  }
}