{
  "Entries": [
    {
      "RequestUri": "https://pakrym-azconfig-ui.azconfig.io/kv/key-1513303815",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "0OIR8m2PFBz/tLVzxJAua4RsVSufVwRNmaSLhMmyIDE="
      },
      "RequestBody": {
        "value": "my_value",
        "content_type": "",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002bjson; charset=utf-8",
        "ETag": "\u0022A8PGYjskjwvZK4SP5WB2E7dU2O0\u0022",
        "Last-Modified": "Mon, 20 May 2019 18:32:37 GMT",
        "Sync-Token": "zAJw6V16=NDotMSMxOTYwMzc=;sn=196037"
      },
      "ResponseBody": {
        "etag": "A8PGYjskjwvZK4SP5WB2E7dU2O0",
        "key": "key-1513303815",
        "label": null,
        "content_type": "",
        "value": "my_value",
        "tags": {},
        "locked": false,
        "last_modified": "2019-05-20T18:32:37\u002b00:00"
      }
    },
    {
      "RequestUri": "https://pakrym-azconfig-ui.azconfig.io/kv/key-1513303815",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002b/TImW\u002b5JCeuQeRkm5NMpJWZG3hSuFU="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002bjson; charset=utf-8",
        "ETag": "\u0022A8PGYjskjwvZK4SP5WB2E7dU2O0\u0022",
        "Last-Modified": "Mon, 20 May 2019 18:32:37 GMT",
        "Sync-Token": "zAJw6V16=NDotMSMxOTYwMzg=;sn=196038"
      },
      "ResponseBody": {
        "etag": "A8PGYjskjwvZK4SP5WB2E7dU2O0",
        "key": "key-1513303815",
        "label": null,
        "content_type": "",
        "value": "my_value",
        "tags": {},
        "locked": false,
        "last_modified": "2019-05-20T18:32:37\u002b00:00"
      }
    }
  ],
  "Variables": {
    "APP_CONFIG_CONNECTION": "Endpoint=https://pakrym-azconfig-ui.azconfig.io;Id=0-l1-s0:h5pHKElA5IjSL3z\u002bFOYz;Secret=;",
    "RandomSeed": "137781480"
  }
}