{
  "Entries": [
    {
      "RequestUri": "https://azconfig.azconfig.io/kv/key-1294588290?label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "b11OQu6GthUatwGXUIKHHSRVyik0TdrUk5kZm3yZd2A="
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002bjson; charset=utf-8",
        "ETag": "\u0022Rp3uMcGD59Jssf0KdhwuEtZpuJ5\u0022",
        "Last-Modified": "Mon, 17 Jun 2019 21:50:18 GMT",
        "Sync-Token": "zAJw6V16=MjotMSMzNjc2OTY=;sn=367696"
      },
      "ResponseBody": {
        "etag": "Rp3uMcGD59Jssf0KdhwuEtZpuJ5",
        "key": "key-1294588290",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2019-06-17T21:50:18\u002b00:00"
      }
    },
    {
      "RequestUri": "https://azconfig.azconfig.io/kv/key-1294588290",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "b11OQu6GthUatwGXUIKHHSRVyik0TdrUk5kZm3yZd2A="
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002bjson; charset=utf-8",
        "ETag": "\u0022Ib1syaJVw2uiGptiYM5tMUEjJII\u0022",
        "Last-Modified": "Mon, 17 Jun 2019 21:50:18 GMT",
        "Sync-Token": "zAJw6V16=MjotMSMzNjc2OTc=;sn=367697"
      },
      "ResponseBody": {
        "etag": "Ib1syaJVw2uiGptiYM5tMUEjJII",
        "key": "key-1294588290",
        "label": null,
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2019-06-17T21:50:18\u002b00:00"
      }
    },
[...]
    {
      "RequestUri": "https://azconfig.azconfig.io/kv/key-1294588290?label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002b/TImW\u002b5JCeuQeRkm5NMpJWZG3hSuFU="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002bjson; charset=utf-8",
        "ETag": "\u0022Rp3uMcGD59Jssf0KdhwuEtZpuJ5\u0022",
        "Last-Modified": "Mon, 17 Jun 2019 21:50:18 GMT",
        "Sync-Token": "zAJw6V16=MjotMSMzNjc2OTk=;sn=367699"
      },
      "ResponseBody": {
        "etag": "Rp3uMcGD59Jssf0KdhwuEtZpuJ5",
        "key": "key-1294588290",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2019-06-17T21:50:18\u002b00:00"
      }
    }
  ],
  "Variables": {
    "APP_CONFIG_CONNECTION": "Endpoint=https://azconfig.azconfig.io;Id=0-l1-s0:jmADmc8mWy/CEawzwEA1;Secret=;",
    "RandomSeed": "1498605687"
  }
}