{
  "Entries": [
    {
      "RequestUri": "https://azconfig.azconfig.io/kv/key-1555898558?label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "b11OQu6GthUatwGXUIKHHSRVyik0TdrUk5kZm3yZd2A="
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002bjson; charset=utf-8",
        "ETag": "\u0022kQBfBzlja5GC3iBFpe8r7q0hrrk\u0022",
        "Last-Modified": "Mon, 17 Jun 2019 21:50:22 GMT",
        "Sync-Token": "zAJw6V16=MjotMSMzNjc3NjY=;sn=367766"
      },
      "ResponseBody": {
        "etag": "kQBfBzlja5GC3iBFpe8r7q0hrrk",
        "key": "key-1555898558",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2019-06-17T21:50:22\u002b00:00"
      }
    },
    {
      "RequestUri": "https://azconfig.azconfig.io/kv/key-1555898558",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "b11OQu6GthUatwGXUIKHHSRVyik0TdrUk5kZm3yZd2A="
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002bjson; charset=utf-8",
        "ETag": "\u00229ATY8OJ4YwL91KOZtEGP3XBoRZJ\u0022",
        "Last-Modified": "Mon, 17 Jun 2019 21:50:22 GMT",
        "Sync-Token": "zAJw6V16=MjotMSMzNjc3Njc=;sn=367767"
      },
      "ResponseBody": {
        "etag": "9ATY8OJ4YwL91KOZtEGP3XBoRZJ",
        "key": "key-1555898558",
        "label": null,
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2019-06-17T21:50:22\u002b00:00"
      }
    },
[...]
    {
      "RequestUri": "https://azconfig.azconfig.io/kv/key-1555898558?label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002b/TImW\u002b5JCeuQeRkm5NMpJWZG3hSuFU="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002bjson; charset=utf-8",
        "ETag": "\u0022kQBfBzlja5GC3iBFpe8r7q0hrrk\u0022",
        "Last-Modified": "Mon, 17 Jun 2019 21:50:22 GMT",
        "Sync-Token": "zAJw6V16=MjotMSMzNjc3Njk=;sn=367769"
      },
      "ResponseBody": {
        "etag": "kQBfBzlja5GC3iBFpe8r7q0hrrk",
        "key": "key-1555898558",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2019-06-17T21:50:22\u002b00:00"
      }
    }
  ],
  "Variables": {
    "APP_CONFIG_CONNECTION": "Endpoint=https://azconfig.azconfig.io;Id=0-l1-s0:jmADmc8mWy/CEawzwEA1;Secret=;",
    "RandomSeed": "652816829"
  }
}