{
  "_entries": [
    {
      "RequestUri": "https://pakrym-azconfig-ui.azconfig.io/kv/BatchKey",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002b/TImW\u002b5JCeuQeRkm5NMpJWZG3hSuFU="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002bjson; charset=utf-8",
        "ETag": "\u0022Al3nrQNM6vuDgq7vYDmjRtW703g\u0022",
        "Last-Modified": "Mon, 08 Apr 2019 20:02:37 GMT",
        "Sync-Token": "zAJw6V16=NDotMSMxOTQyMjE=;sn=194221"
      },
      "ResponseBody": "{\u0022etag\u0022:\u0022Al3nrQNM6vuDgq7vYDmjRtW703g\u0022,\u0022key\u0022:\u0022BatchKey\u0022,\u0022label\u0022:null,\u0022content_type\u0022:\u0022\u0022,\u0022value\u0022:\u0022key-cf4ac67640fc46f2b682583c217b28da\u0022,\u0022tags\u0022:{},\u0022locked\u0022:false,\u0022last_modified\u0022:\u00222019-04-08T20:02:37\u002b00:00\u0022}"
    },
    {
      "RequestUri": "https://pakrym-azconfig-ui.azconfig.io/kv/?key=key-cf4ac67640fc46f2b682583c217b28da",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002b/TImW\u002b5JCeuQeRkm5NMpJWZG3hSuFU="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset\u002bjson; charset=utf-8",
        "Link": "\u003c/kv/?key=key-cf4ac67640fc46f2b682583c217b28da\u0026after=a2V5LWNmNGFjNjc2NDBmYzQ2ZjJiNjgyNTgzYzIxN2IyOGRhCjk0\u003e; rel=\u0022next\u0022",
        "Sync-Token": "zAJw6V16=NDotMSMxOTQyMjE=;sn=194221"
      },
      "ResponseBody": "{\u0022items\u0022:[{\u0022etag\u0022:\u00227gCEPElcrZSc2KqojaReq6B0BTl\u0022,\u0022key\u0022:\u0022key-cf4ac67640fc46f2b682583c217b28da\u0022,\u0022label\u0022:\u00220\u0022,\u0022content_type\u0022:\u0022\u0022,\u0022value\u0022:\u0022test_value\u0022,\u0022[...]
    {
      "RequestUri": "https://pakrym-azconfig-ui.azconfig.io/kv/?key=key-cf4ac67640fc46f2b682583c217b28da\u0026after=a2V5LWNmNGFjNjc2NDBmYzQ2ZjJiNjgyNTgzYzIxN2IyOGRhCjk0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002b/TImW\u002b5JCeuQeRkm5NMpJWZG3hSuFU="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.ap[...]
