{
  "Entries": [
    {
      "RequestUri": "https://pakrym-azconfig-ui.azconfig.io/kv/keyFields-303501802?label=my_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "0OIR8m2PFBz/tLVzxJAua4RsVSufVwRNmaSLhMmyIDE="
      },
      "RequestBody": "{\u0022value\u0022:\u0022my_value\u0022,\u0022content_type\u0022:\u0022\u0022,\u0022tags\u0022:{}}",
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002bjson; charset=utf-8",
        "ETag": "\u0022oWJjFEwNNrMUME0jU79eibM7oXj\u0022",
        "Last-Modified": "Fri, 17 May 2019 20:54:46 GMT",
        "Sync-Token": "zAJw6V16=NDotMSMxOTM2NTE=;sn=193651"
      },
      "ResponseBody": "{\u0022etag\u0022:\u0022oWJjFEwNNrMUME0jU79eibM7oXj\u0022,\u0022key\u0022:\u0022keyFields-303501802\u0022,\u0022label\u0022:\u0022my_label\u0022,\u0022content_type\u0022:\u0022\u0022,\u0022value\u0022:\u0022my_value\u0022,\u0022tags\u0022:{},\u0022locked\u0022:false,\u0022last_modified\u0022:\u00222019-05-17T20:54:46\u002b00:00\u0022}"
    },
    {
      "RequestUri": "https://pakrym-azconfig-ui.azconfig.io/kv/?key=keyFields-303501802\u0026$select=key, label, etag",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002b/TImW\u002b5JCeuQeRkm5NMpJWZG3hSuFU="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset\u002bjson; charset=utf-8",
        "Sync-Token": "zAJw6V16=NDotMSMxOTM2NTE=;sn=193651"
      },
      "ResponseBody": "{\u0022items\u0022:[{\u0022etag\u0022:\u0022oWJjFEwNNrMUME0jU79eibM7oXj\u0022,\u0022key\u0022:\u0022keyFields-303501802\u0022,\u0022label\u0022:\u0022my_label\u0022}]}"
    },
    {
      "RequestUri": "https://pakrym-azconfig-ui.azconfig.io/kv/keyFields-303501802?label=my_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002b/TImW\u002b5JCeuQeRkm5NMpJWZG3hSuFU="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002bjson; charset=utf-8",
        "ETag": "\u0022oWJjFEwNNrMUME0jU79eibM7oXj\u0022",
        "Last-Modified": "Fri, 17 May 2019 20:54:46 GMT",
        "Sync-Token": "zAJw6V16=NDotMSMxOTM2NTI=;sn=193652"
      },
      "ResponseBody": "{\u0022etag\u0022:\u0022oWJjFEwNNrMUME0jU79eibM7oXj\u0022,\u0022key\u0022:\u0022keyFields-303501802\u0022,\u0022label\u0022:\u0022my_label\u0022,\u0022content_type\u0022:\u0022\u0022,\u0022value\u0022:\u0022my_value\u0022,\u0022tags\u0022:{},\u0022locked\u0022:false,\u0022last_modified\u0022:\u00222019-05-17T20:54:46\u002b00:00\u0022}"
    }
  ],
  "Variables": {
    "APP_CONFIG_CONNECTION": "Endpoint=https://pakrym-azconfig-ui.azconfig.io;Id=0-l1-s0:h5pHKElA5IjSL3z\u002bFOYz;Secret=Sanitized;",
    "RandomSeed": "567509637"
  }
}