{
  "Entries": [
    {
      "RequestUri": "https://pakrym-azconfig-ui.azconfig.io/kv/keyFields-1327518230?label=my_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "0OIR8m2PFBz/tLVzxJAua4RsVSufVwRNmaSLhMmyIDE="
      },
      "RequestBody": {
        "value": "my_value",
        "content_type": "",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002bjson; charset=utf-8",
        "ETag": "\u0022Hmpy5KotRTLHhfh4xfEuudM2s8S\u0022",
        "Last-Modified": "Tue, 21 May 2019 17:32:30 GMT",
        "Sync-Token": "zAJw6V16=NDotMSMxOTc3MzY=;sn=197736"
      },
      "ResponseBody": {
        "etag": "Hmpy5KotRTLHhfh4xfEuudM2s8S",
        "key": "keyFields-1327518230",
        "label": "my_label",
        "content_type": "",
        "value": "my_value",
        "tags": {},
        "locked": false,
        "last_modified": "2019-05-21T17:32:30\u002b00:00"
      }
    },
    {
      "RequestUri": "https://pakrym-azconfig-ui.azconfig.io/kv/?key=keyFields-1327518230",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002b/TImW\u002b5JCeuQeRkm5NMpJWZG3hSuFU="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset\u002bjson; charset=utf-8",
        "Sync-Token": "zAJw6V16=NDotMSMxOTc3MzY=;sn=197736"
      },
      "ResponseBody": {
        "items": [
          {
            "etag": "Hmpy5KotRTLHhfh4xfEuudM2s8S",
            "key": "keyFields-1327518230",
            "label": "my_label",
            "content_type": "",
            "value": "my_value",
            "tags": {},
            "locked": false,
            "last_modified": "2019-05-21T17:32:30\u002b00:00"
          }
        ]
      }
    },
    {
      "RequestUri": "https://pakrym-azconfig-ui.azconfig.io/kv/keyFields-1327518230?label=my_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002b/TImW\u002b5JCeuQeRkm5NMpJWZG3hSuFU="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002bjson; charset=utf-8",
        "ETag": "\u0022Hmpy5KotRTLHhfh4xfEuudM2s8S\u0022",
        "Last-Modified": "Tue, 21 May 2019 17:32:30 GMT",
        "Sync-Token": "zAJw6V16=NDotMSMxOTc3Mzc=;sn=197737"
      },
      "ResponseBody": {
        "etag": "Hmpy5KotRTLHhfh4xfEuudM2s8S",
        "key": "keyFields-1327518230",
        "label": "my_label",
        "content_type": "",
        "value": "my_value",
        "tags": {},
        "locked": false,
        "last_modified": "2019-05-21T17:32:30\u002b00:00"
      }
    }
  ],
  "Variables": {
    "APP_CONFIG_CONNECTION": "Endpoint=https://pakrym-azconfig-ui.azconfig.io;Id=0-l1-s0:h5pHKElA5IjSL3z\u002bFOYz;Secret=;",
    "RandomSeed": "1382278332"
  }
}