{
  "Entries": [
    {
      "RequestUri": "https://pakrym-azconfig-ui.azconfig.io/kv/key-1244724155",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "b11OQu6GthUatwGXUIKHHSRVyik0TdrUk5kZm3yZd2A="
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002bjson; charset=utf-8",
        "ETag": "\u0022TYYCKUMWieLTxRycEP4hDNwRslh\u0022",
        "Last-Modified": "Mon, 20 May 2019 18:32:36 GMT",
        "Sync-Token": "zAJw6V16=NDotMSMxOTYwMDM=;sn=196003"
      },
      "ResponseBody": {
        "etag": "TYYCKUMWieLTxRycEP4hDNwRslh",
        "key": "key-1244724155",
        "label": null,
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2019-05-20T18:32:36\u002b00:00"
      }
    },
[...]
    {
      "RequestUri": "https://pakrym-azconfig-ui.azconfig.io/kv/key-1244724155",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002b/TImW\u002b5JCeuQeRkm5NMpJWZG3hSuFU="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002bjson; charset=utf-8",
        "ETag": "\u0022TYYCKUMWieLTxRycEP4hDNwRslh\u0022",
        "Last-Modified": "Mon, 20 May 2019 18:32:36 GMT",
        "Sync-Token": "zAJw6V16=NDotMSMxOTYwMDQ=;sn=196004"
      },
      "ResponseBody": {
        "etag": "TYYCKUMWieLTxRycEP4hDNwRslh",
        "key": "key-1244724155",
        "label": null,
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2019-05-20T18:32:36\u002b00:00"
      }
    }
  ],
  "Variables": {
    "APP_CONFIG_CONNECTION": "Endpoint=https://pakrym-azconfig-ui.azconfig.io;Id=0-l1-s0:h5pHKElA5IjSL3z\u002bFOYz;Secret=;",
    "RandomSeed": "990416262"
  }
}