{
  "_entries": [
    {
      "RequestUri": "https://pakrym-azconfig-ui.azconfig.io/kv/key-17308399",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "b11OQu6GthUatwGXUIKHHSRVyik0TdrUk5kZm3yZd2A="
      },
      "RequestBody": "{\u0022value\u0022:\u0022test_value\u0022,\u0022content_type\u0022:\u0022test_content_type\u0022,\u0022tags\u0022:{\u0022tag1\u0022:\u0022value1\u0022,\u0022tag2\u0022:\u0022value2\u0022}}",
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002bjson; charset=utf-8",
        "ETag": "\u0022dltIk2xme9Z4f8wVtnzXVZkAgMJ\u0022",
        "Last-Modified": "Fri, 17 May 2019 21:44:21 GMT",
        "Sync-Token": "zAJw6V16=NDotMSMxOTQyMzQ=;sn=194234"
      },
      "ResponseBody": "{\u0022etag\u0022:\u0022dltIk2xme9Z4f8wVtnzXVZkAgMJ\u0022,\u0022key\u0022:\u0022key-17308399\u0022,\u0022label\u0022:null,\u0022content_type\u0022:\u0022test_content_type\u0022,\u0022value\u0022:\u0022test_value\u0022,\u0022tags\u0022:{\u0022tag1\u0022:\u0022value1\u0022,\u0022tag2\u0022:\u0022value2\u0022},\u0022locked\u0022:false,\u0022last_modified\u0022:\u00222019-05-17T21:44:21\u002b00:00\u0022}"
    },
    {
      "RequestUri": "https://pakrym-azconfig-ui.azconfig.io/kv/key-17308399?label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "b11OQu6GthUatwGXUIKHHSRVyik0TdrUk5kZm3yZd2A="
      },
      "RequestBody": "{\u0022value\u0022:\u0022test_value\u0022,\u0022content_type\u0022:\u0022test_content_type\u0022,\u0022tags\u0022:{\u0022tag1\u0022:\u0022value1\u0022,\u0022tag2\u0022:\u0022value2\u0022}}",
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002bjson; charset=utf-8",
        "ETag": "\u0022R5OwGeFivLBpf73vOmQrPYtJufb\u0022",
        "Last-Modified": "Fri, 17 May 2019 21:44:21 GMT",
        "Sync-Token": "zAJw6V16=NDotMSMxOTQyMzU=;sn=194235"
      },
      "ResponseBody": "{\u0022etag\u0022:\u0022R5OwGeFivLBpf73vOmQrPYtJufb\u0022,\u0022key\u0022:\u0022key-17308399\u0022,\u0022label\u0022:\u0022test_label\u0022,\u0022content_type\u0022:\u0022test_content_type\u0022,\u0022value\u0022:\u0022test_value\u0022,\u0022tags\u0022:{\u0022tag1\u0022:\u0022value1\u0022,\u0022tag2\u0022:\u0022value2\u0022},\u0022locked\u0022:false,\u0022last_modified\u0022:\u00222019-05-17T21:44:21\u002b00:00\u0022}"
    },
[...]
    {
      "RequestUri": "https://pakrym-azconfig-ui.azconfig.io/kv/key-17308399",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002b/TImW\u002b5JCeuQeRkm5NMpJWZG3hSuFU="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002bjson; charset=utf-8",
        "ETag": "\u0022dltIk2xme9Z4f8wVtnzXVZkAgMJ\u0022",
        "Last-Modified": "Fri, 17 May 2019 21:44:21 GMT",
        "Sync-Token": "zAJw6V16=NDotMSMxOTQyMzc=;sn=194237"
      },
      "ResponseBody": "{\u0022etag\u0022:\u0022dltIk2xme9Z4f8wVtnzXVZkAgMJ\u0022,\u0022key\u0022:\u0022key-17308399\u0022,\u0022label\u0022:null,\u0022content_type\u0022:\u0022test_content_type\u0022,\u0022value\u0022:\u0022test_value\u0022,\u0022tags\u0022:{\u0022tag1\u0022:\u0022value1\u0022,\u0022tag2\u0022:\u0022value2\u0022},\u0022locked\u0022:false,\u0022last_modified\u0022:\u00222019-05-17T21:44:21\u002b00:00\u0022}"
    }
  ],
  "Variables": {
    "APP_CONFIG_CONNECTION": "Endpoint=https://pakrym-azconfig-ui.azconfig.io;Id=0-l1-s0:h5pHKElA5IjSL3z\u002bFOYz;Secret=;",
    "RandomSeed": "1054795446"
  }
}