{
  "Entries": [
    {
      "RequestUri": "https://azconfig.azconfig.io/kv/key-625002417",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "b11OQu6GthUatwGXUIKHHSRVyik0TdrUk5kZm3yZd2A="
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002bjson; charset=utf-8",
        "ETag": "\u0022q0G7jL39gZvTZaSRDfTyaJoQeAa\u0022",
        "Last-Modified": "Mon, 17 Jun 2019 21:50:24 GMT",
        "Sync-Token": "zAJw6V16=MjotMSMzNjc3OTY=;sn=367796"
      },
      "ResponseBody": {
        "etag": "q0G7jL39gZvTZaSRDfTyaJoQeAa",
        "key": "key-625002417",
        "label": null,
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2019-06-17T21:50:24\u002b00:00"
      }
    },
    {
      "RequestUri": "https://azconfig.azconfig.io/kv/key-625002417?label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "b11OQu6GthUatwGXUIKHHSRVyik0TdrUk5kZm3yZd2A="
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002bjson; charset=utf-8",
        "ETag": "\u0022MYV5k8iJxkXH0mCc5rcPxJUuvfw\u0022",
        "Last-Modified": "Mon, 17 Jun 2019 21:50:24 GMT",
        "Sync-Token": "zAJw6V16=MjotMSMzNjc3OTc=;sn=367797"
      },
      "ResponseBody": {
        "etag": "MYV5k8iJxkXH0mCc5rcPxJUuvfw",
        "key": "key-625002417",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2019-06-17T21:50:24\u002b00:00"
      }
    },
[...]
    {
      "RequestUri": "https://azconfig.azconfig.io/kv/key-625002417",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002b/TImW\u002b5JCeuQeRkm5NMpJWZG3hSuFU="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002bjson; charset=utf-8",
        "ETag": "\u0022q0G7jL39gZvTZaSRDfTyaJoQeAa\u0022",
        "Last-Modified": "Mon, 17 Jun 2019 21:50:24 GMT",
        "Sync-Token": "zAJw6V16=MjotMSMzNjc3OTk=;sn=367799"
      },
      "ResponseBody": {
        "etag": "q0G7jL39gZvTZaSRDfTyaJoQeAa",
        "key": "key-625002417",
        "label": null,
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2019-06-17T21:50:24\u002b00:00"
      }
    }
  ],
  "Variables": {
    "APP_CONFIG_CONNECTION": "Endpoint=https://azconfig.azconfig.io;Id=0-l1-s0:jmADmc8mWy/CEawzwEA1;Secret=;",
    "RandomSeed": "554330029"
  }
}