{
  "Entries": [
    {
      "RequestUri": "https://pakrym-azconfig-ui.azconfig.io/kv/key-502567634?label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "b11OQu6GthUatwGXUIKHHSRVyik0TdrUk5kZm3yZd2A="
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002bjson; charset=utf-8",
        "ETag": "\u0022Xwt7ocYJ9GxC4uW0xxqJjw56ylm\u0022",
        "Last-Modified": "Tue, 21 May 2019 17:32:31 GMT",
        "Sync-Token": "zAJw6V16=NDotMSMxOTc3NTI=;sn=197752"
      },
      "ResponseBody": {
        "etag": "Xwt7ocYJ9GxC4uW0xxqJjw56ylm",
        "key": "key-502567634",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2019-05-21T17:32:31\u002b00:00"
      }
    },
    {
      "RequestUri": "https://pakrym-azconfig-ui.azconfig.io/kv/key-502567634?label=test_label",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Accept-Datetime": "Fri, 31 Dec 9999 23:59:59 GMT",
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002b/TImW\u002b5JCeuQeRkm5NMpJWZG3hSuFU="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002bjson; charset=utf-8",
        "ETag": "\u0022Xwt7ocYJ9GxC4uW0xxqJjw56ylm\u0022",
        "Last-Modified": "Tue, 21 May 2019 17:32:31 GMT",
        "Sync-Token": "zAJw6V16=NDotMSMxOTc3NTI=;sn=197752"
      },
      "ResponseBody": {
        "etag": "Xwt7ocYJ9GxC4uW0xxqJjw56ylm",
        "key": "key-502567634",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2019-05-21T17:32:31\u002b00:00"
      }
    },
    {
      "RequestUri": "https://pakrym-azconfig-ui.azconfig.io/kv/key-502567634?label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002b/TImW\u002b5JCeuQeRkm5NMpJWZG3hSuFU="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002bjson; charset=utf-8",
        "ETag": "\u0022Xwt7ocYJ9GxC4uW0xxqJjw56ylm\u0022",
        "Last-Modified": "Tue, 21 May 2019 17:32:31 GMT",
        "Sync-Token": "zAJw6V16=NDotMSMxOTc3NTM=;sn=197753"
      },
      "ResponseBody": {
        "etag": "Xwt7ocYJ9GxC4uW0xxqJjw56ylm",
        "key": "key-502567634",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2019-05-21T17:32:31\u002b00:00"
      }
    }
  ],
  "Variables": {
    "APP_CONFIG_CONNECTION": "Endpoint=https://pakrym-azconfig-ui.azconfig.io;Id=0-l1-s0:h5pHKElA5IjSL3z\u002bFOYz;Secret=;",
    "RandomSeed": "1635849411"
  }
}