{
  "Entries": [
    {
      "RequestUri": "https://azconfig.azconfig.io/kv/key-1391537373?label=my_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "0OIR8m2PFBz/tLVzxJAua4RsVSufVwRNmaSLhMmyIDE="
      },
      "RequestBody": {
        "value": "my_value",
        "content_type": "",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002bjson; charset=utf-8",
        "ETag": "\u0022l4S3E8JbJHFgjT4khNRWKVTLYJ5\u0022",
        "Last-Modified": "Mon, 17 Jun 2019 21:50:21 GMT",
        "Sync-Token": "zAJw6V16=MjotMSMzNjc3Mzc=;sn=367737"
      },
      "ResponseBody": {
        "etag": "l4S3E8JbJHFgjT4khNRWKVTLYJ5",
        "key": "key-1391537373",
        "label": "my_label",
        "content_type": "",
        "value": "my_value",
        "tags": {},
        "locked": false,
        "last_modified": "2019-06-17T21:50:21\u002b00:00"
      }
    },
    {
      "RequestUri": "https://azconfig.azconfig.io/kv/key-1391537373?label=my_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002b/TImW\u002b5JCeuQeRkm5NMpJWZG3hSuFU="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002bjson; charset=utf-8",
        "ETag": "\u0022l4S3E8JbJHFgjT4khNRWKVTLYJ5\u0022",
        "Last-Modified": "Mon, 17 Jun 2019 21:50:21 GMT",
        "Sync-Token": "zAJw6V16=MjotMSMzNjc3Mzg=;sn=367738"
      },
      "ResponseBody": {
        "etag": "l4S3E8JbJHFgjT4khNRWKVTLYJ5",
        "key": "key-1391537373",
        "label": "my_label",
        "content_type": "",
        "value": "my_value",
        "tags": {},
        "locked": false,
        "last_modified": "2019-06-17T21:50:21\u002b00:00"
      }
    }
  ],
  "Variables": {
    "APP_CONFIG_CONNECTION": "Endpoint=https://azconfig.azconfig.io;Id=0-l1-s0:jmADmc8mWy/CEawzwEA1;Secret=;",
    "RandomSeed": "200383655"
  }
}