{
  "Entries": [
    {
      "RequestUri": "https://pakrym-azconfig-ui.azconfig.io/kv/key-1418464120?label=my_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "0OIR8m2PFBz/tLVzxJAua4RsVSufVwRNmaSLhMmyIDE="
      },
      "RequestBody": {
        "value": "my_value",
        "content_type": "",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002bjson; charset=utf-8",
        "ETag": "\u0022dniZVZ7nwnjx1KyLVeh7Rjkmbww\u0022",
        "Last-Modified": "Mon, 20 May 2019 18:32:36 GMT",
        "Sync-Token": "zAJw6V16=NDotMSMxOTYwMTY=;sn=196016"
      },
      "ResponseBody": {
        "etag": "dniZVZ7nwnjx1KyLVeh7Rjkmbww",
        "key": "key-1418464120",
        "label": "my_label",
        "content_type": "",
        "value": "my_value",
        "tags": {},
        "locked": false,
        "last_modified": "2019-05-20T18:32:36\u002b00:00"
      }
    },
    {
      "RequestUri": "https://pakrym-azconfig-ui.azconfig.io/kv/key-1418464120?label=my_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002b/TImW\u002b5JCeuQeRkm5NMpJWZG3hSuFU="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002bjson; charset=utf-8",
        "ETag": "\u0022dniZVZ7nwnjx1KyLVeh7Rjkmbww\u0022",
        "Last-Modified": "Mon, 20 May 2019 18:32:36 GMT",
        "Sync-Token": "zAJw6V16=NDotMSMxOTYwMTc=;sn=196017"
      },
      "ResponseBody": {
        "etag": "dniZVZ7nwnjx1KyLVeh7Rjkmbww",
        "key": "key-1418464120",
        "label": "my_label",
        "content_type": "",
        "value": "my_value",
        "tags": {},
        "locked": false,
        "last_modified": "2019-05-20T18:32:36\u002b00:00"
      }
    }
  ],
  "Variables": {
    "APP_CONFIG_CONNECTION": "Endpoint=https://pakrym-azconfig-ui.azconfig.io;Id=0-l1-s0:h5pHKElA5IjSL3z\u002bFOYz;Secret=;",
    "RandomSeed": "822570479"
  }
}