{
  "Entries": [
    {
      "RequestUri": "https://pakrym-azconfig-ui.azconfig.io/kv/key-2086587479",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "0OIR8m2PFBz/tLVzxJAua4RsVSufVwRNmaSLhMmyIDE="
      },
      "RequestBody": {
        "value": "my_value",
        "content_type": "",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002bjson; charset=utf-8",
        "ETag": "\u0022RROpZC148khTy6rqR5oXqTA38yu\u0022",
        "Last-Modified": "Tue, 21 May 2019 17:38:30 GMT",
        "Sync-Token": "zAJw6V16=NDotMSMxOTc4OTc=;sn=197897"
      },
      "ResponseBody": {
        "etag": "RROpZC148khTy6rqR5oXqTA38yu",
        "key": "key-2086587479",
        "label": null,
        "content_type": "",
        "value": "my_value",
        "tags": {},
        "locked": false,
        "last_modified": "2019-05-21T17:38:30\u002b00:00"
      }
    },
    {
      "RequestUri": "https://pakrym-azconfig-ui.azconfig.io/kv/key-2086587479",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002b/TImW\u002b5JCeuQeRkm5NMpJWZG3hSuFU="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002bjson; charset=utf-8",
        "ETag": "\u0022RROpZC148khTy6rqR5oXqTA38yu\u0022",
        "Last-Modified": "Tue, 21 May 2019 17:38:30 GMT",
        "Sync-Token": "zAJw6V16=NDotMSMxOTc4OTg=;sn=197898"
      },
      "ResponseBody": {
        "etag": "RROpZC148khTy6rqR5oXqTA38yu",
        "key": "key-2086587479",
        "label": null,
        "content_type": "",
        "value": "my_value",
        "tags": {},
        "locked": false,
        "last_modified": "2019-05-21T17:38:30\u002b00:00"
      }
    }
  ],
  "Variables": {
    "APP_CONFIG_CONNECTION": "Endpoint=https://pakrym-azconfig-ui.azconfig.io;Id=0-l1-s0:h5pHKElA5IjSL3z\u002bFOYz;Secret=;",
    "RandomSeed": "505449451"
  }
}