{
  "_entries": [
    {
      "RequestUri": "https://pakrym-azconfig-ui.azconfig.io/kv/key-1975559075?label=my_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "0OIR8m2PFBz/tLVzxJAua4RsVSufVwRNmaSLhMmyIDE="
      },
      "RequestBody": {
        "value": "my_value",
        "content_type": "",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002bjson; charset=utf-8",
        "ETag": "\u0022RhneWVATiebIPEZ8BCtAj4RcfoT\u0022",
        "Last-Modified": "Mon, 20 May 2019 17:28:29 GMT",
        "Sync-Token": "zAJw6V16=NDotMSMxOTU5Mzk=;sn=195939"
      },
      "ResponseBody": {
        "etag": "RhneWVATiebIPEZ8BCtAj4RcfoT",
        "key": "key-1975559075",
        "label": "my_label",
        "content_type": "",
        "value": "my_value",
        "tags": {},
        "locked": false,
        "last_modified": "2019-05-20T17:28:29\u002b00:00"
      }
    },
    {
      "RequestUri": "https://pakrym-azconfig-ui.azconfig.io/kv/key-1975559075?label=my_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002b/TImW\u002b5JCeuQeRkm5NMpJWZG3hSuFU="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002bjson; charset=utf-8",
        "ETag": "\u0022RhneWVATiebIPEZ8BCtAj4RcfoT\u0022",
        "Last-Modified": "Mon, 20 May 2019 17:28:29 GMT",
        "Sync-Token": "zAJw6V16=NDotMSMxOTU5NDA=;sn=195940"
      },
      "ResponseBody": {
        "etag": "RhneWVATiebIPEZ8BCtAj4RcfoT",
        "key": "key-1975559075",
        "label": "my_label",
        "content_type": "",
        "value": "my_value",
        "tags": {},
        "locked": false,
        "last_modified": "2019-05-20T17:28:29\u002b00:00"
      }
    }
  ],
  "Variables": {
    "APP_CONFIG_CONNECTION": "Endpoint=https://pakrym-azconfig-ui.azconfig.io;Id=0-l1-s0:h5pHKElA5IjSL3z\u002bFOYz;Secret=;",
    "RandomSeed": "583815062"
  }
}