{
  "_entries": [
    {
      "RequestUri": "https://pakrym-azconfig-ui.azconfig.io/kv/key-602288203",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "0OIR8m2PFBz/tLVzxJAua4RsVSufVwRNmaSLhMmyIDE="
      },
      "RequestBody": "{\u0022value\u0022:\u0022my_value\u0022,\u0022content_type\u0022:\u0022\u0022,\u0022tags\u0022:{}}",
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002bjson; charset=utf-8",
        "ETag": "\u0022aruHFCrRrP9gannbMoIaekDKBnm\u0022",
        "Last-Modified": "Fri, 17 May 2019 21:44:25 GMT",
        "Sync-Token": "zAJw6V16=NDotMSMxOTQzMTk=;sn=194319"
      },
      "ResponseBody": "{\u0022etag\u0022:\u0022aruHFCrRrP9gannbMoIaekDKBnm\u0022,\u0022key\u0022:\u0022key-602288203\u0022,\u0022label\u0022:null,\u0022content_type\u0022:\u0022\u0022,\u0022value\u0022:\u0022my_value\u0022,\u0022tags\u0022:{},\u0022locked\u0022:false,\u0022last_modified\u0022:\u00222019-05-17T21:44:25\u002b00:00\u0022}"
    },
    {
      "RequestUri": "https://pakrym-azconfig-ui.azconfig.io/kv/key-602288203",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-Match": "*",
        "x-ms-content-sha256": "eewPMDV1zAO9I3b\u002b2TWCyWj/52zWhWcEDL8B1Ut2X\u002bw="
      },
      "RequestBody": "{\u0022value\u0022:\u0022my_value2\u0022,\u0022content_type\u0022:\u0022\u0022,\u0022tags\u0022:{}}",
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002bjson; charset=utf-8",
        "ETag": "\u0022OqRfxjuRXHgMO7guYzvBnvmjWeE\u0022",
        "Last-Modified": "Fri, 17 May 2019 21:44:25 GMT",
        "Sync-Token": "zAJw6V16=NDotMSMxOTQzMjA=;sn=194320"
      },
      "ResponseBody": "{\u0022etag\u0022:\u0022OqRfxjuRXHgMO7guYzvBnvmjWeE\u0022,\u0022key\u0022:\u0022key-602288203\u0022,\u0022label\u0022:null,\u0022content_type\u0022:\u0022\u0022,\u0022value\u0022:\u0022my_value2\u0022,\u0022tags\u0022:{},\u0022locked\u0022:false,\u0022last_modified\u0022:\u00222019-05-17T21:44:25\u002b00:00\u0022}"
    },
    {
      "RequestUri": "https://pakrym-azconfig-ui.azconfig.io/kv/key-602288203",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002b/TImW\u002b5JCeuQeRkm5NMpJWZG3hSuFU="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002bjson; charset=utf-8",
        "ETag": "\u0022OqRfxjuRXHgMO7guYzvBnvmjWeE\u0022",
        "Last-Modified": "Fri, 17 May 2019 21:44:25 GMT",
        "Sync-Token": "zAJw6V16=NDotMSMxOTQzMjE=;sn=194321"
      },
      "ResponseBody": "{\u0022etag\u0022:\u0022OqRfxjuRXHgMO7guYzvBnvmjWeE\u0022,\u0022key\u0022:\u0022key-602288203\u0022,\u0022label\u0022:null,\u0022content_type\u0022:\u0022\u0022,\u0022value\u0022:\u0022my_value2\u0022,\u0022tags\u0022:{},\u0022locked\u0022:false,\u0022last_modified\u0022:\u00222019-05-17T21:44:25\u002b00:00\u0022}"
    }
  ],
  "Variables": {
    "APP_CONFIG_CONNECTION": "Endpoint=https://pakrym-azconfig-ui.azconfig.io;Id=0-l1-s0:h5pHKElA5IjSL3z\u002bFOYz;Secret=;",
    "RandomSeed": "389867539"
  }
}