{
  "_entries": [
    {
      "RequestUri": "https://pakrym-azconfig-ui.azconfig.io/kv/key-1693414341?label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "b11OQu6GthUatwGXUIKHHSRVyik0TdrUk5kZm3yZd2A="
      },
      "RequestBody": "{\u0022value\u0022:\u0022test_value\u0022,\u0022content_type\u0022:\u0022test_content_type\u0022,\u0022tags\u0022:{\u0022tag1\u0022:\u0022value1\u0022,\u0022tag2\u0022:\u0022value2\u0022}}",
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002bjson; charset=utf-8",
        "ETag": "\u0022p5z5P7RhLnr9GrhJxjhwOQdbgyG\u0022",
        "Last-Modified": "Fri, 17 May 2019 21:44:22 GMT",
        "Sync-Token": "zAJw6V16=NDotMSMxOTQyNTc=;sn=194257"
      },
      "ResponseBody": "{\u0022etag\u0022:\u0022p5z5P7RhLnr9GrhJxjhwOQdbgyG\u0022,\u0022key\u0022:\u0022key-1693414341\u0022,\u0022label\u0022:\u0022test_label\u0022,\u0022content_type\u0022:\u0022test_content_type\u0022,\u0022value\u0022:\u0022test_value\u0022,\u0022tags\u0022:{\u0022tag1\u0022:\u0022value1\u0022,\u0022tag2\u0022:\u0022value2\u0022},\u0022locked\u0022:false,\u0022last_modified\u0022:\u00222019-05-17T21:44:22\u002b00:00\u0022}"
    },
[...]
    {
      "RequestUri": "https://pakrym-azconfig-ui.azconfig.io/kv/key-1693414341?label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-Match": "\u0022p5z5P7RhLnr9GrhJxjhwOQdbgyG\u0022",
        "x-ms-content-sha256": "V4b47iwisnmkp3Kl5WIaNIw8234Eu9fawJoMzNp5l0M="
      },
      "RequestBody": "{\u0022value\u0022:\u0022test_value_diff\u0022,\u0022content_type\u0022:\u0022test_content_type\u0022,\u0022tags\u0022:{\u0022tag1\u0022:\u0022value1\u0022,\u0022tag2\u0022:\u0022value2\u0022}}",
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002bjson; charset=utf-8",
        "ETag": "\u0022NbiJCjH7nSH4VauovNqzC9KW145\u0022",
        "Last-Modified": "Fri, 17 May 2019 21:44:22 GMT",
        "Sync-Token": "zAJw6V16=NDotMSMxOTQyNTg=;sn=194258"
      },
      "ResponseBody": "{\u0022etag\u0022:\u0022NbiJCjH7nSH4VauovNqzC9KW145\u0022,\u0022key\u0022:\u0022key-1693414341\u0022,\u0022label\u0022:\u0022test_label\u0022,\u0022content_type\u0022:\u0022test_content_type\u0022,\u0022value\u0022:\u0022test_value_diff\u0022,\u0022tags\u0022:{\u0022tag1\u0022:\u0022value1\u0022,\u0022tag2\u0022:\u0022value2\u0022},\u0022locked\u0022:false,\u0022last_modified\u0022:\u00222019-05-17T21:44:22\u002b00:00\u0022}"
    },
    {
      "RequestUri": "https://pakrym-azconfig-ui.azconfig.io/kv/key-1693414341?label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002b/TImW\u002b5JCeuQeRkm5NMpJWZG3hSuFU="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002bjson; charset=utf-8",
        "ETag": "\u0022NbiJCjH7nSH4VauovNqzC9KW145\u0022",
        "Last-Modified": "Fri, 17 May 2019 21:44:22 GMT",
        "Sync-Token": "zAJw6V16=NDotMSMxOTQyNTk=;sn=194259"
      },
      "ResponseBody": "{\u0022etag\u0022:\u0022NbiJCjH7nSH4VauovNqzC9KW145\u0022,\u0022key\u0022:\u0022key-1693414341\u0022,\u0022label\u0022:\u0022test_label\u0022,\u0022content_type\u0022:\u0022test_content_type\u0022,\u0022value\u0022:\u0022test_value_diff\u0022,\u0022tags\u0022:{\u0022tag1\u0022:\u0022value1\u0022,\u0022tag2\u0022:\u0022value2\u0022},\u0022locked\u0022:false,\u0022last_modified\u0022:\u00222019-05-17T21:44:22\u002b00:00\u0022}"
    }
  ],
  "Variables": {
    "APP_CONFIG_CONNECTION": "Endpoint=https://pakrym-azconfig-ui.azconfig.io;Id=0-l1-s0:h5pHKElA5IjSL3z\u002bFOYz;Secret=;",
    "RandomSeed": "1383621420"
  }
}