{
  "Entries": [
    {
      "RequestUri": "https://pakrym-azconfig-ui.azconfig.io/kv/key-1720414349?label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "b11OQu6GthUatwGXUIKHHSRVyik0TdrUk5kZm3yZd2A="
      },
      "RequestBody": "{\u0022value\u0022:\u0022test_value\u0022,\u0022content_type\u0022:\u0022test_content_type\u0022,\u0022tags\u0022:{\u0022tag1\u0022:\u0022value1\u0022,\u0022tag2\u0022:\u0022value2\u0022}}",
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002bjson; charset=utf-8",
        "ETag": "\u00220WSQBSodQ4BCZrB4D0RAcOSmSV9\u0022",
        "Last-Modified": "Fri, 17 May 2019 20:54:48 GMT",
        "Sync-Token": "zAJw6V16=NDotMSMxOTM2ODc=;sn=193687"
      },
      "ResponseBody": "{\u0022etag\u0022:\u00220WSQBSodQ4BCZrB4D0RAcOSmSV9\u0022,\u0022key\u0022:\u0022key-1720414349\u0022,\u0022label\u0022:\u0022test_label\u0022,\u0022content_type\u0022:\u0022test_content_type\u0022,\u0022value\u0022:\u0022test_value\u0022,\u0022tags\u0022:{\u0022tag1\u0022:\u0022value1\u0022,\u0022tag2\u0022:\u0022value2\u0022},\u0022locked\u0022:false,\u0022last_modified\u0022:\u00222019-05-17T20:54:48\u002b00:00\u0022}"
    },
[...]
    {
      "RequestUri": "https://pakrym-azconfig-ui.azconfig.io/kv/key-1720414349?label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-Match": "*",
        "x-ms-content-sha256": "SnuPTShi18utci7rh9IZuyZMdiZbGxtG8KO/56sjqCA="
      },
      "RequestBody": "{\u0022value\u0022:\u0022test_value\u0022,\u0022content_type\u0022:\u0022test_content_type\u0022,\u0022tags\u0022:{\u0022tag1\u0022:\u0022value-updated\u0022,\u0022tag2\u0022:\u0022value2\u0022,\u0022tag3\u0022:\u0022test_value3\u0022}}",
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002bjson; charset=utf-8",
        "ETag": "\u0022Bvf09VwncaFPaVpZ2U4bi0dAuhr\u0022",
        "Last-Modified": "Fri, 17 May 2019 20:54:48 GMT",
        "Sync-Token": "zAJw6V16=NDotMSMxOTM2ODg=;sn=193688"
      },
      "ResponseBody": "{\u0022etag\u0022:\u0022Bvf09VwncaFPaVpZ2U4bi0dAuhr\u0022,\u0022key\u0022:\u0022key-1720414349\u0022,\u0022label\u0022:\u0022test_label\u0022,\u0022content_type\u0022:\u0022test_content_type\u0022,\u0022value\u0022:\u0022test_value\u0022,\u0022tags\u0022:{\u0022tag1\u0022:\u0022value-updated\u0022,\u0022tag2\u0022:\u0022value2\u0022,\u0022tag3\u0022:\u0022test_value3\u0022},\u0022locked\u0022:false,\u0022last_modified\u0022:\u00222019-05-17T20:54:48\u002b00:00\u0022}"
    },
[...]
    {
      "RequestUri": "https://pakrym-azconfig-ui.azconfig.io/kv/key-1720414349?label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002b/TImW\u002b5JCeuQeRkm5NMpJWZG3hSuFU="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002bjson; charset=utf-8",
        "ETag": "\u0022SAuDQ3JizjxBUP6nynM0FfPWjcF\u0022",
        "Last-Modified": "Fri, 17 May 2019 20:54:48 GMT",
        "Sync-Token": "zAJw6V16=NDotMSMxOTM2OTA=;sn=193690"
      },
      "ResponseBody": "{\u0022etag\u0022:\u0022SAuDQ3JizjxBUP6nynM0FfPWjcF\u0022,\u0022key\u0022:\u0022key-1720414349\u0022,\u0022label\u0022:\u0022test_label\u0022,\u0022content_type\u0022:\u0022test_content_type\u0022,\u0022value\u0022:\u0022test_value\u0022,\u0022tags\u0022:{},\u0022locked\u0022:false,\u0022last_modified\u0022:\u00222019-05-17T20:54:48\u002b00:00\u0022}"
    }
  ],
  "Variables": {
    "APP_CONFIG_CONNECTION": "Endpoint=https://pakrym-azconfig-ui.azconfig.io;Id=0-l1-s0:h5pHKElA5IjSL3z\u002bFOYz;Secret=Sanitized;",
    "RandomSeed": "1851881482"
  }
}