{
  "Entries": [
    {
      "RequestUri": "https://pakrym-azconfig-ui.azconfig.io/kv/key-631609649?label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "b11OQu6GthUatwGXUIKHHSRVyik0TdrUk5kZm3yZd2A="
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002bjson; charset=utf-8",
        "ETag": "\u0022StMzPlTKfwC52CYlnpUXKpnttLO\u0022",
        "Last-Modified": "Tue, 21 May 2019 17:38:30 GMT",
        "Sync-Token": "zAJw6V16=NDotMSMxOTc5MTE=;sn=197911"
      },
      "ResponseBody": {
        "etag": "StMzPlTKfwC52CYlnpUXKpnttLO",
        "key": "key-631609649",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2019-05-21T17:38:30\u002b00:00"
      }
    },
[...]
    {
      "RequestUri": "https://pakrym-azconfig-ui.azconfig.io/kv/key-631609649?label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-Match": "\u0022StMzPlTKfwC52CYlnpUXKpnttLO\u0022",
        "x-ms-content-sha256": "V4b47iwisnmkp3Kl5WIaNIw8234Eu9fawJoMzNp5l0M="
      },
      "RequestBody": {
        "value": "test_value_diff",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002bjson; charset=utf-8",
        "ETag": "\u0022mvddnoBqe4hcuIZCoXiMlr3P8oa\u0022",
        "Last-Modified": "Tue, 21 May 2019 17:38:30 GMT",
        "Sync-Token": "zAJw6V16=NDotMSMxOTc5MTI=;sn=197912"
      },
      "ResponseBody": {
        "etag": "mvddnoBqe4hcuIZCoXiMlr3P8oa",
        "key": "key-631609649",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value_diff",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2019-05-21T17:38:30\u002b00:00"
      }
    },
    {
      "RequestUri": "https://pakrym-azconfig-ui.azconfig.io/kv/key-631609649?label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002b/TImW\u002b5JCeuQeRkm5NMpJWZG3hSuFU="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002bjson; charset=utf-8",
        "ETag": "\u0022mvddnoBqe4hcuIZCoXiMlr3P8oa\u0022",
        "Last-Modified": "Tue, 21 May 2019 17:38:30 GMT",
        "Sync-Token": "zAJw6V16=NDotMSMxOTc5MTM=;sn=197913"
      },
      "ResponseBody": {
        "etag": "mvddnoBqe4hcuIZCoXiMlr3P8oa",
        "key": "key-631609649",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value_diff",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2019-05-21T17:38:30\u002b00:00"
      }
    }
  ],
  "Variables": {
    "APP_CONFIG_CONNECTION": "Endpoint=https://pakrym-azconfig-ui.azconfig.io;Id=0-l1-s0:h5pHKElA5IjSL3z\u002bFOYz;Secret=;",
    "RandomSeed": "155839804"
  }
}