{
  "Entries": [
    {
      "RequestUri": "https://azconfig.azconfig.io/kv/key-1072334357",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "0OIR8m2PFBz/tLVzxJAua4RsVSufVwRNmaSLhMmyIDE="
      },
      "RequestBody": {
        "value": "my_value",
        "content_type": "",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002bjson; charset=utf-8",
        "ETag": "\u0022yuLDXBk9mYRIWgmPANjPBWsktV6\u0022",
        "Last-Modified": "Mon, 17 Jun 2019 21:50:21 GMT",
        "Sync-Token": "zAJw6V16=MjotMSMzNjc3NDE=;sn=367741"
      },
      "ResponseBody": {
        "etag": "yuLDXBk9mYRIWgmPANjPBWsktV6",
        "key": "key-1072334357",
        "label": null,
        "content_type": "",
        "value": "my_value",
        "tags": {},
        "locked": false,
        "last_modified": "2019-06-17T21:50:21\u002b00:00"
      }
    },
    {
      "RequestUri": "https://azconfig.azconfig.io/kv/key-1072334357",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-Match": "*",
        "x-ms-content-sha256": "eewPMDV1zAO9I3b\u002b2TWCyWj/52zWhWcEDL8B1Ut2X\u002bw="
      },
      "RequestBody": {
        "value": "my_value2",
        "content_type": "",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002bjson; charset=utf-8",
        "ETag": "\u0022dq1fzEn8TdZqSuAHI1hX4QU0ddl\u0022",
        "Last-Modified": "Mon, 17 Jun 2019 21:50:21 GMT",
        "Sync-Token": "zAJw6V16=MjotMSMzNjc3NDI=;sn=367742"
      },
      "ResponseBody": {
        "etag": "dq1fzEn8TdZqSuAHI1hX4QU0ddl",
        "key": "key-1072334357",
        "label": null,
        "content_type": "",
        "value": "my_value2",
        "tags": {},
        "locked": false,
        "last_modified": "2019-06-17T21:50:21\u002b00:00"
      }
    },
    {
      "RequestUri": "https://azconfig.azconfig.io/kv/key-1072334357",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002b/TImW\u002b5JCeuQeRkm5NMpJWZG3hSuFU="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002bjson; charset=utf-8",
        "ETag": "\u0022dq1fzEn8TdZqSuAHI1hX4QU0ddl\u0022",
        "Last-Modified": "Mon, 17 Jun 2019 21:50:21 GMT",
        "Sync-Token": "zAJw6V16=MjotMSMzNjc3NDM=;sn=367743"
      },
      "ResponseBody": {
        "etag": "dq1fzEn8TdZqSuAHI1hX4QU0ddl",
        "key": "key-1072334357",
        "label": null,
        "content_type": "",
        "value": "my_value2",
        "tags": {},
        "locked": false,
        "last_modified": "2019-06-17T21:50:21\u002b00:00"
      }
    }
  ],
  "Variables": {
    "APP_CONFIG_CONNECTION": "Endpoint=https://azconfig.azconfig.io;Id=0-l1-s0:jmADmc8mWy/CEawzwEA1;Secret=;",
    "RandomSeed": "1796169384"
  }
}