{
  "_entries": [
    {
      "RequestUri": "https://pakrym-azconfig-ui.azconfig.io/kv/key-1258357261",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "0OIR8m2PFBz/tLVzxJAua4RsVSufVwRNmaSLhMmyIDE="
      },
      "RequestBody": {
        "value": "my_value",
        "content_type": "",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002bjson; charset=utf-8",
        "ETag": "\u0022kUnCUZ9mZvHmdRDUerG1vVhw4BX\u0022",
        "Last-Modified": "Mon, 20 May 2019 17:28:26 GMT",
        "Sync-Token": "zAJw6V16=NDotMSMxOTU4NzM=;sn=195873"
      },
      "ResponseBody": {
        "etag": "kUnCUZ9mZvHmdRDUerG1vVhw4BX",
        "key": "key-1258357261",
        "label": null,
        "content_type": "",
        "value": "my_value",
        "tags": {},
        "locked": false,
        "last_modified": "2019-05-20T17:28:26\u002b00:00"
      }
    },
    {
      "RequestUri": "https://pakrym-azconfig-ui.azconfig.io/kv/key-1258357261",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-Match": "*",
        "x-ms-content-sha256": "eewPMDV1zAO9I3b\u002b2TWCyWj/52zWhWcEDL8B1Ut2X\u002bw="
      },
      "RequestBody": {
        "value": "my_value2",
        "content_type": "",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002bjson; charset=utf-8",
        "ETag": "\u0022BNhKFk5H9qDc5G2aowjkE9nYqMx\u0022",
        "Last-Modified": "Mon, 20 May 2019 17:28:26 GMT",
        "Sync-Token": "zAJw6V16=NDotMSMxOTU4NzQ=;sn=195874"
      },
      "ResponseBody": {
        "etag": "BNhKFk5H9qDc5G2aowjkE9nYqMx",
        "key": "key-1258357261",
        "label": null,
        "content_type": "",
        "value": "my_value2",
        "tags": {},
        "locked": false,
        "last_modified": "2019-05-20T17:28:26\u002b00:00"
      }
    },
    {
      "RequestUri": "https://pakrym-azconfig-ui.azconfig.io/kv/key-1258357261",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002b/TImW\u002b5JCeuQeRkm5NMpJWZG3hSuFU="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002bjson; charset=utf-8",
        "ETag": "\u0022BNhKFk5H9qDc5G2aowjkE9nYqMx\u0022",
        "Last-Modified": "Mon, 20 May 2019 17:28:26 GMT",
        "Sync-Token": "zAJw6V16=NDotMSMxOTU4NzU=;sn=195875"
      },
      "ResponseBody": {
        "etag": "BNhKFk5H9qDc5G2aowjkE9nYqMx",
        "key": "key-1258357261",
        "label": null,
        "content_type": "",
        "value": "my_value2",
        "tags": {},
        "locked": false,
        "last_modified": "2019-05-20T17:28:26\u002b00:00"
      }
    }
  ],
  "Variables": {
    "APP_CONFIG_CONNECTION": "Endpoint=https://pakrym-azconfig-ui.azconfig.io;Id=0-l1-s0:h5pHKElA5IjSL3z\u002bFOYz;Secret=;",
    "RandomSeed": "1209524965"
  }
}