{
  "Entries": [
    {
      "RequestUri": "https://pakrym-azconfig-ui.azconfig.io/kv/key-1998179061?label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "b11OQu6GthUatwGXUIKHHSRVyik0TdrUk5kZm3yZd2A="
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002bjson; charset=utf-8",
        "ETag": "\u0022QGBjLCuNHh1Y7tUHii7w4Lw4RNr\u0022",
        "Last-Modified": "Tue, 21 May 2019 17:32:32 GMT",
        "Sync-Token": "zAJw6V16=NDotMSMxOTc3NzQ=;sn=197774"
      },
      "ResponseBody": {
        "etag": "QGBjLCuNHh1Y7tUHii7w4Lw4RNr",
        "key": "key-1998179061",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2019-05-21T17:32:32\u002b00:00"
      }
    },
[...]
    {
      "RequestUri": "https://pakrym-azconfig-ui.azconfig.io/kv/key-1998179061?label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-Match": "*",
        "x-ms-content-sha256": "SnuPTShi18utci7rh9IZuyZMdiZbGxtG8KO/56sjqCA="
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value-updated",
          "tag2": "value2",
          "tag3": "test_value3"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002bjson; charset=utf-8",
        "ETag": "\u0022POyZ9kv3OoKdZd418njZ6SoTins\u0022",
        "Last-Modified": "Tue, 21 May 2019 17:32:32 GMT",
        "Sync-Token": "zAJw6V16=NDotMSMxOTc3NzU=;sn=197775"
      },
      "ResponseBody": {
        "etag": "POyZ9kv3OoKdZd418njZ6SoTins",
        "key": "key-1998179061",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value-updated",
          "tag2": "value2",
          "tag3": "test_value3"
        },
        "locked": false,
        "last_modified": "2019-05-21T17:32:32\u002b00:00"
      }
    },
[...]
    {
      "RequestUri": "https://pakrym-azconfig-ui.azconfig.io/kv/key-1998179061?label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002b/TImW\u002b5JCeuQeRkm5NMpJWZG3hSuFU="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002bjson; charset=utf-8",
        "ETag": "\u00224eNpb7bcRm8vhUkjhRCI7dHsLb9\u0022",
        "Last-Modified": "Tue, 21 May 2019 17:32:32 GMT",
        "Sync-Token": "zAJw6V16=NDotMSMxOTc3Nzc=;sn=197777"
      },
      "ResponseBody": {
        "etag": "4eNpb7bcRm8vhUkjhRCI7dHsLb9",
        "key": "key-1998179061",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {},
        "locked": false,
        "last_modified": "2019-05-21T17:32:32\u002b00:00"
      }
    }
  ],
  "Variables": {
    "APP_CONFIG_CONNECTION": "Endpoint=https://pakrym-azconfig-ui.azconfig.io;Id=0-l1-s0:h5pHKElA5IjSL3z\u002bFOYz;Secret=;",
    "RandomSeed": "745875356"
  }
}