{
  "Entries": [
    {
      "RequestUri": "https://pakrym-azconfig-ui.azconfig.io/kv/key-1192179945?label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "b11OQu6GthUatwGXUIKHHSRVyik0TdrUk5kZm3yZd2A="
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002bjson; charset=utf-8",
        "ETag": "\u0022it3EegfhbW2aFpMbymtmxDg41z9\u0022",
        "Last-Modified": "Tue, 21 May 2019 17:38:34 GMT",
        "Sync-Token": "zAJw6V16=NDotMSMxOTc5NzY=;sn=197976"
      },
      "ResponseBody": {
        "etag": "it3EegfhbW2aFpMbymtmxDg41z9",
        "key": "key-1192179945",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2019-05-21T17:38:34\u002b00:00"
      }
    },
    {
      "RequestUri": "https://pakrym-azconfig-ui.azconfig.io/kv/key-1192179945?label=test_label_diff",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "b11OQu6GthUatwGXUIKHHSRVyik0TdrUk5kZm3yZd2A="
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002bjson; charset=utf-8",
        "ETag": "\u0022iVrqtO8itUTMCjYaAz8LztQIaM8\u0022",
        "Last-Modified": "Tue, 21 May 2019 17:38:34 GMT",
        "Sync-Token": "zAJw6V16=NDotMSMxOTc5Nzc=;sn=197977"
      },
      "ResponseBody": {
        "etag": "iVrqtO8itUTMCjYaAz8LztQIaM8",
        "key": "key-1192179945",
        "label": "test_label_diff",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2019-05-21T17:38:34\u002b00:00"
      }
    },
    {
      "RequestUri": "https://pakrym-azconfig-ui.azconfig.io/kv/key-1192179945?label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-Match": "*",
        "x-ms-content-sha256": "WTJ4rtvzHsHqhOzvDXKBc79FmjzZMNjujWngXYrajpc="
      },
      "RequestBody": {
        "value": "test_value_update",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002bjson; charset=utf-8",
        "ETag": "\u0022JxRmUAhhlL6s87qioDHF4zltq52\u0022",
        "Last-Modified": "Tue, 21 May 2019 17:38:34 GMT",
        "Sync-Token": "zAJw6V16=NDotMSMxOTc5Nzg=;sn=197978"
      },
      "ResponseBody": {
        "etag": "JxRmUAhhlL6s87qioDHF4zltq52",
        "key": "key-1192179945",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value_update",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2019-05-21T17:38:34\u002b00:00"
      }
    },
[...]
    {
      "RequestUri": "https://pakrym-azconfig-ui.azconfig.io/kv/key-1192179945?label=test_label_diff",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002b/TImW\u002b5JCeuQeRkm5NMpJWZG3hSuFU="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002bjson; charset=utf-8",
        "ETag": "\u0022iVrqtO8itUTMCjYaAz8LztQIaM8\u0022",
        "Last-Modified": "Tue, 21 May 2019 17:38:34 GMT",
        "Sync-Token": "zAJw6V16=NDotMSMxOTc5ODA=;sn=197980"
      },
      "ResponseBody": {
        "etag": "iVrqtO8itUTMCjYaAz8LztQIaM8",
        "key": "key-1192179945",
        "label": "test_label_diff",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2019-05-21T17:38:34\u002b00:00"
      }
    }
  ],
  "Variables": {
    "APP_CONFIG_CONNECTION": "Endpoint=https://pakrym-azconfig-ui.azconfig.io;Id=0-l1-s0:h5pHKElA5IjSL3z\u002bFOYz;Secret=;",
    "RandomSeed": "760132620"
  }
}