{
  "Entries": [
    {
      "RequestUri": "https://myaccountname.purview.azure.com/share/sentShares/9393cfc1-7300-4159-aeff-277b2026846a/sentShareInvitations/0423c905-402c-423c-af12-9a5faad51349?api-version=2023-02-15-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "invitationKind": "Service",
        "properties": {
          "TargetActiveDirectoryId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
          "TargetObjectId": "fc010728-94f6-4e9c-be3c-c08687414bd4"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "/sentShares/9393cfc1-7300-4159-aeff-277b2026846a/sentShareInvitations/0423c905-402c-423c-af12-9a5faad51349/0423c905-402c-423c-af12-9a5faad51349"
      },
      "ResponseBody": {
        "properties": {
          "targetActiveDirectoryId": "9299795a-3979-4c95-a2fa-2431ea9171f2",
          "targetObjectId": "fc010728-94f6-4e9c-be3c-c08687414bd4",
          "shareStatus": "Detached",
          "sentAt": "2023-02-24T07:03:35.4815159Z",
          "senderName": "SyMS",
          "senderTenantName": "Microsoft",
          "state": "Succeeded"
        },
        "invitationKind": "Service",
        "id": "0423c905-402c-423c-af12-9a5faad51349",
        "type": "sentShares/sentShareInvitations"
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": null,
    "PURVIEW_SHARE_URL": "https://myaccountname.purview.azure.com/share",
    "RandomSeed": "363332399"
  }
}
