{
  "Entries": [
    {
      "RequestUri": "https://myaccountname.purview.azure.com/share/sentShares/0e2ab4ec-2d6a-4de4-a0ce-c3238d24a0ce/sentShareInvitations/10e4568b-6f88-4f9c-957a-f806e14b0bf7?api-version=2023-02-15-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "invitationKind": "Service",
        "properties": {
          "TargetActiveDirectoryId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
          "TargetObjectId": "fc010728-94f6-4e9c-be3c-c08687414bd4"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "/sentShares/0e2ab4ec-2d6a-4de4-a0ce-c3238d24a0ce/sentShareInvitations/10e4568b-6f88-4f9c-957a-f806e14b0bf7/10e4568b-6f88-4f9c-957a-f806e14b0bf7"
      },
      "ResponseBody": {
        "properties": {
          "targetActiveDirectoryId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
          "targetObjectId": "fc010728-94f6-4e9c-be3c-c08687414bd4",
          "shareStatus": "Detached",
          "sentAt": "2023-02-23T02:02:05.0173051Z",
          "senderName": "SyMS",
          "senderTenantName": "Microsoft",
          "state": "Succeeded"
        },
        "invitationKind": "Service",
        "id": "10e4568b-6f88-4f9c-957a-f806e14b0bf7",
        "type": "sentShares/sentShareInvitations"
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": null,
    "PURVIEW_SHARE_URL": "https://ads-dev-eastus-pv.purview.azure.com/share",
    "RandomSeed": "267429302"
  }
}
