{
  "Entries": [
    {
      "RequestUri": "https://ads-dev-eastus-pv.purview.azure.com/share/sentShares/5f789532-a7b5-4194-a9a8-81f1bbd27562/sentShareInvitations/be5ea079-c652-4328-91b1-76f15f9e6cf2?api-version=2023-02-15-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "invitationKind": "Service",
        "properties": {
          "TargetActiveDirectoryId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
          "TargetObjectId": "fc010728-94f6-4e9c-be3c-c08687414bd4"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "/sentShares/5f789532-a7b5-4194-a9a8-81f1bbd27562/sentShareInvitations/be5ea079-c652-4328-91b1-76f15f9e6cf2/be5ea079-c652-4328-91b1-76f15f9e6cf2"
      },
      "ResponseBody": {
        "properties": {
          "targetActiveDirectoryId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
          "targetObjectId": "fc010728-94f6-4e9c-be3c-c08687414bd4",
          "shareStatus": "Detached",
          "sentAt": "2023-02-21T18:03:42.7890528Z",
          "senderName": "SyMS",
          "senderTenantName": "Microsoft",
          "state": "Succeeded"
        },
        "invitationKind": "Service",
        "id": "be5ea079-c652-4328-91b1-76f15f9e6cf2",
        "type": "sentShares/sentShareInvitations"
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": null,
    "PURVIEW_SHARE_URL": "https://ads-dev-eastus-pv.purview.azure.com/share",
    "RandomSeed": "120316041"
  }
}
