{
  "Entries": [
    {
      "RequestUri": "https://myaccountname.purview.azure.com/share/sentShares/3fa235b9-4368-4827-8100-745042c14771?api-version=2023-05-30-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Operation-Id": "https://myaccountname.purview.azure.com/share/operationResults/064ad9b8-9653-4767-afed-f50967a01fce?api-version=2023-05-30-preview",
        "Operation-Location": "https://myaccountname.purview.azure.com/share/operationResults/064ad9b8-9653-4767-afed-f50967a01fce?api-version=2023-05-30-preview"
      },
      "ResponseBody": {
        "id": "064ad9b8-9653-4767-afed-f50967a01fce",
        "startTime": "2023-06-12T02:48:50.8751037Z",
        "endTime": null,
        "status": "NotStarted",
        "error": null
      }
    },
    {
      "RequestUri": "https://myaccountname.purview.azure.com/share/operationResults/064ad9b8-9653-4767-afed-f50967a01fce?api-version=2023-05-30-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "064ad9b8-9653-4767-afed-f50967a01fce",
        "startTime": "2023-06-12T02:48:50.7356418Z",
        "endTime": null,
        "status": "Running",
        "error": null
      }
    },
[...]
    {
      "RequestUri": "https://myaccountname.purview.azure.com/share/operationResults/064ad9b8-9653-4767-afed-f50967a01fce?api-version=2023-05-30-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "064ad9b8-9653-4767-afed-f50967a01fce",
        "startTime": "2023-06-12T02:48:50.7356418Z",
        "endTime": null,
        "status": "Succeeded",
        "error": null
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": null,
    "PURVIEW_SHARE_URL": "https://myaccountname.purview.azure.com/share",
    "RandomSeed": "553805856"
  }
}
