{
  "Entries": [
    {
      "RequestUri": "https://ads-perf-westeurope-pv.purview.azure.com/share/sentShares/e802f487-92bf-4dc3-bf1d-86afe0d757a3?api-version=2023-02-15-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://ads-perf-westeurope-pv.purview.azure.com/share/operationResults/969d7bae-86c8-4ae9-a3eb-e3a721c9ce3f?api-version=2023-02-15-preview",
        "Operation-Id": "https://ads-perf-westeurope-pv.purview.azure.com/share/operationResults/969d7bae-86c8-4ae9-a3eb-e3a721c9ce3f?api-version=2023-02-15-preview",
        "Operation-Location": "https://ads-perf-westeurope-pv.purview.azure.com/share/operationResults/969d7bae-86c8-4ae9-a3eb-e3a721c9ce3f?api-version=2023-02-15-preview"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://ads-perf-westeurope-pv.purview.azure.com/share/operationResults/969d7bae-86c8-4ae9-a3eb-e3a721c9ce3f?api-version=2023-02-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "startTime": "2023-02-14T00:55:45.1007121Z",
        "endTime": null,
        "status": "Running",
        "error": null
      }
    },
[...]
    {
      "RequestUri": "https://ads-perf-westeurope-pv.purview.azure.com/share/operationResults/969d7bae-86c8-4ae9-a3eb-e3a721c9ce3f?api-version=2023-02-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "startTime": "2023-02-14T00:55:45.1007121Z",
        "endTime": null,
        "status": "Succeeded",
        "error": null
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": null,
    "PURVIEW_SHARE_URL": "https://ads-perf-westeurope-pv.purview.azure.com/share",
    "RandomSeed": "710228611"
  }
}
