{
  "Entries": [
    {
      "RequestUri": "https://myaccountname.purview.azure.com/share/sentShares/3fa235b9-4368-4827-8100-745042c14771/sentShareInvitations/e0162694-c77e-4f47-94f9-d876a1252021?api-version=2023-05-30-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "properties": {
          "targetActiveDirectoryId": "9299795a-3979-4c95-a2fa-2431ea9171f2",
          "targetObjectId": "67bb1d64-b708-496a-ba33-48c242cbb6c8",
          "shareStatus": "Detached",
          "sentAt": "2023-06-12T03:59:44.2894837Z",
          "senderName": "sdk-05-30-share",
          "senderTenantName": "Microsoft",
          "state": "Succeeded"
        },
        "invitationKind": "Service",
        "id": "e0162694-c77e-4f47-94f9-d876a1252021",
        "type": "sentShares/sentShareInvitations"
      }
    },
    {
      "RequestUri": "https://myaccountname.purview.azure.com/share/sentShares/3fa235b9-4368-4827-8100-745042c14771/sentShareInvitations?api-version=2023-05-30-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "properties": {
              "targetActiveDirectoryId": "9299795a-3979-4c95-a2fa-2431ea9171f2",
              "targetObjectId": "67bb1d64-b708-496a-ba33-48c242cbb6c8",
              "shareStatus": "Detached",
              "sentAt": "2023-06-12T03:59:44.2894837Z",
              "senderName": "sdk-05-30-share",
              "senderTenantName": "Microsoft",
              "state": "Succeeded"
            },
            "invitationKind": "Service",
            "id": "e0162694-c77e-4f47-94f9-d876a1252021",
            "type": "sentShares/sentShareInvitations"
          }
        ]
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": null,
    "PURVIEW_SHARE_URL": "https://myaccountname.purview.azure.com/share",
    "RandomSeed": "2045946204"
  }
}
