{
  "Entries": [
    {
      "RequestUri": "/subscriptions/487bb485-b5b0-471e-9c0d-10717612f869/resourceGroups/MyResourceGroup/providers/Microsoft.Compute/virtualMachines/MyVm/providers/Microsoft.Security/adaptiveNetworkHardenings/default/enforce?api-version=2020-01-01",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"rules\": [\r\n    {\r\n      \"name\": \"SystemGenerated\",\r\n      \"direction\": \"Inbound\",\r\n      \"destinationPort\": 3389,\r\n      \"protocols\": [\r\n        \"TCP\"\r\n      ],\r\n      \"ipAddresses\": []\r\n    }\r\n  ],\r\n  \"networkSecurityGroups\": [\r\n    \"/subscriptions/487bb485-b5b0-471e-9c0d-10717612f869/resourceGroups/MyResourceGroup/providers/Microsoft.Network/networkSecurityGroups/MyNsg\"\r\n  ]\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Location": [
          "/subscriptions/487bb485-b5b0-471e-9c0d-10717612f869/resourceGroups/MyResourceGroup/providers/Microsoft.Compute/virtualMachines/MyVm"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 202
    }
  ],
  "Names": {},
  "Variables": {}
}