{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/12053b8f-cab5-4f5c-9c1a-870580142abd/resourcegroups/dbaccount-9094?api-version=**",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11412"
      },
      "ResponseBody": {
        "id": "/subscriptions/12053b8f-cab5-4f5c-9c1a-870580142abd/resourceGroups/dbaccount-9094",
        "name": "dbaccount-9094",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus2",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/12053b8f-cab5-4f5c-9c1a-870580142abd/resourceGroups/dbaccount-9094/providers/Microsoft.DocumentDB/databaseAccounts/dbaccount-4538?api-version=2022-08-15",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kind": "MongoDB",
        "tags": {
          "key1": "value1",
          "key2": "value2"
        },
        "location": "westus2",
        "properties": {
          "consistencyPolicy": {
            "defaultConsistencyLevel": "BoundedStaleness",
            "maxStalenessPrefix": 300,
            "maxIntervalInSeconds": 1000
          },
          "locations": [
            {
              "locationName": "westus",
              "isZoneRedundant": false
            }
          ],
          "databaseAccountOfferType": "Standard",
          "ipRules": [
            {
              "ipAddressOrRange": "23.43.230.120"
            }
          ],
          "isVirtualNetworkFilterEnabled": true,
          "enableAutomaticFailover": false,
          "capabilities": [
            {
              "name": "EnableMongo"
            },
            {
              "name": "EnableMongoRoleBasedAccessControl"
            }
          ],
          "connectorOffer": "Small",
          "disableKeyBasedMetadataWriteAccess": false
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/12053b8f-cab5-4f5c-9c1a-870580142abd/providers/Microsoft.DocumentDB/locations/westus2/operationsStatus/fec4c54e-8702-4b7b-bc83-7ebeaea2eedb?api-version=2022-08-15",
        "Content-Type": "application/json",
        "Location": "https://management.azure.com/subscriptions/12053b8f-cab5-4f5c-9c1a-870580142abd/resourceGroups/dbaccount-9094/providers/Microsoft.DocumentDB/databaseAccounts/dbaccount-4538/operationResults/fec4c54e-8702-4b7b-bc83-7ebeaea2eedb?api-version=2022-08-15",
        "x-ms-gatewayversion": "version=2.14.0",
        "x-ms-ratelimit-remaining-subscription-writes": "1153"
      },
      "ResponseBody": {
        "id": "/subscriptions/12053b8f-cab5-4f5c-9c1a-870580142abd/resourceGroups/dbaccount-9094/providers/Microsoft.DocumentDB/databaseAccounts/dbaccount-4538",
        "name": "dbaccount-4538",
        "location": "West US 2",
        "type": "Microsoft.DocumentDB/databaseAccounts",
        "kind": "MongoDB",
        "tags": {
          "key1": "value1",
          "key2": "value2"
        },
        "systemData": {
          "createdAt": "2022-09-22T05:16:23.5368533Z"
        },
        "properties": {
          "provisioningState": "Creating",
          "publicNetworkAccess": "Enabled",
          "enableAutomaticFailover": false,
          "enableMultipleWriteLocations": false,
          "enablePartitionKeyMonitor": false,
          "isVirtualNetworkFilterEnabled": true,
          "virtualNetworkRules": [],
          "EnabledApiTypes": "MongoDB",
          "disableKeyBasedMetadataWriteAccess": false,
          "enableFreeTier": false,
          "enableAnalyticalStorage": false,
          "analyticalStorageConfiguration": {
            "schemaType": "FullFidelity"
          },
          "instanceId": "1fbf4f71-8173-4174-af52-85a1224a3c84",
          "databaseAccountOfferType": "Standard",
          "enableCassandraConnector": false,
          "connectorOffer": "Small",
          "defaultIdentity": "",
          "networkAclBypass": "None",
          "disableLocalAuth": false,
          "enablePartitionMerge": false,
          "consistencyPolicy": {
            "defaultConsistencyLevel": "BoundedStaleness",
            "maxIntervalInSeconds": 1000,
            "maxStalenessPrefix": 300
          },
          "apiProperties": {
            "serverVersion": "3.6"
          },
          "configurationOverrides": {},
          "writeLocations": [
            {
              "id": "dbaccount-4538-westus",
              "locationName": "West US",
              "provisioningState": "Creating",
              "failoverPriority": 0,
              "isZoneRedundant": false
            }
          ],
          "readLocations": [
            {
              "id": "dbaccount-4538-westus",
              "locationName": "West US",
              "provisioningState": "Creating",
              "failoverPriority": 0,
              "isZoneRedundant": false
            }
          ],
          "locations": [
            {
              "id": "dbaccount-4538-westus",
              "locationName": "West US",
              "provisioningState": "Creating",
              "failoverPriority": 0,
              "isZoneRedundant": false
            }
          ],
          "failoverPolicies": [
            {
              "id": "dbaccount-4538-westus",
              "locationName": "West US",
              "failoverPriority": 0
            }
          ],
          "cors": [],
          "capabilities": [
            {
              "name": "EnableMongo"
            },
            {
              "name": "EnableMongoRoleBasedAccessControl"
            }
          ],
          "ipRules": [
            {
              "ipAddressOrRange": "23.43.230.120"
            }
          ],
          "backupPolicy": {
            "type": "Periodic",
            "periodicModeProperties": {
              "backupIntervalInMinutes": 240,
              "backupRetentionIntervalInHours": 8,
              "backupStorageRedundancy": "Invalid"
            }
          },
          "networkAclBypassResourceIds": [],
          "keysMetadata": {
            "primaryMasterKey": {
              "generationTime": "2022-09-22T05:16:23.5368533Z"
            },
            "secondaryMasterKey": {
              "generationTime": "2022-09-22T05:16:23.5368533Z"
            },
            "primaryReadonlyMasterKey": {
              "generationTime": "2022-09-22T05:16:23.5368533Z"
            },
            "secondaryReadonlyMasterKey": {
              "generationTime": "2022-09-22T05:16:23.5368533Z"
            }
          }
        },
        "identity": {
          "type": "None"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/12053b8f-cab5-4f5c-9c1a-870580142abd/providers/Microsoft.DocumentDB/locations/westus2/operationsStatus/fec4c54e-8702-4b7b-bc83-7ebeaea2eedb?api-version=2022-08-15",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-gatewayversion": "version=2.14.0",
        "x-ms-ratelimit-remaining-subscription-reads": "11411"
      },
      "ResponseBody": {
        "status": "Enqueued"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/12053b8f-cab5-4f5c-9c1a-870580142abd/resourceGroups/dbaccount-9094/providers/Microsoft.DocumentDB/databaseAccounts/dbaccount-4538?api-version=2022-08-15",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-gatewayversion": "version=2.14.0",
        "x-ms-ratelimit-remaining-subscription-reads": "11395"
      },
      "ResponseBody": {
        "id": "/subscriptions/12053b8f-cab5-4f5c-9c1a-870580142abd/resourceGroups/dbaccount-9094/providers/Microsoft.DocumentDB/databaseAccounts/dbaccount-4538",
        "name": "dbaccount-4538",
        "location": "West US 2",
        "type": "Microsoft.DocumentDB/databaseAccounts",
        "kind": "MongoDB",
        "tags": {
          "key1": "value1",
          "key2": "value2"
        },
        "systemData": {
          "createdAt": "2022-09-22T05:20:29.6158484Z"
        },
        "properties": {
          "provisioningState": "Succeeded",
          "documentEndpoint": "https://dbaccount-4538.documents.azure.com:443/",
          "mongoEndpoint": "https://dbaccount-4538.mongo.cosmos.azure.com:443/",
          "publicNetworkAccess": "Enabled",
          "enableAutomaticFailover": false,
          "enableMultipleWriteLocations": false,
          "enablePartitionKeyMonitor": false,
          "isVirtualNetworkFilterEnabled": true,
          "virtualNetworkRules": [],
          "EnabledApiTypes": "MongoDB",
          "disableKeyBasedMetadataWriteAccess": false,
          "enableFreeTier": false,
          "enableAnalyticalStorage": false,
          "analyticalStorageConfiguration": {
            "schemaType": "FullFidelity"
          },
          "instanceId": "1fbf4f71-8173-4174-af52-85a1224a3c84",
          "databaseAccountOfferType": "Standard",
          "enableCassandraConnector": false,
          "connectorOffer": "Small",
          "defaultIdentity": "FirstPartyIdentity",
          "networkAclBypass": "None",
          "disableLocalAuth": false,
          "enablePartitionMerge": false,
          "consistencyPolicy": {
            "defaultConsistencyLevel": "BoundedStaleness",
            "maxIntervalInSeconds": 1000,
            "maxStalenessPrefix": 300
          },
          "apiProperties": {
            "serverVersion": "3.6"
          },
          "configurationOverrides": {
            "EnableBsonSchema": "True"
          },
          "writeLocations": [
            {
              "id": "dbaccount-4538-westus",
              "locationName": "West US",
              "documentEndpoint": "https://dbaccount-4538-westus.documents.azure.com:443/",
              "provisioningState": "Succeeded",
              "failoverPriority": 0,
              "isZoneRedundant": false
            }
          ],
          "readLocations": [
            {
              "id": "dbaccount-4538-westus",
              "loc[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/12053b8f-cab5-4f5c-9c1a-870580142abd/resourceGroups/dbaccount-9094/providers/Microsoft.DocumentDB/databaseAccounts/dbaccount-4538/mongodbDatabases/mongodb-7245?api-version=2022-08-15",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "westus",
        "properties": {
          "resource": {
            "id": "mongodb-7245"
          },
          "options": {
            "throughput": 700
          }
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/12053b8f-cab5-4f5c-9c1a-870580142abd/providers/Microsoft.DocumentDB/locations/westus2/operationsStatus/1c5fb00a-e65a-45c1-9a16-d22e00040508?api-version=2022-08-15",
        "Content-Type": "application/json",
        "Location": "https://management.azure.com/subscriptions/12053b8f-cab5-4f5c-9c1a-870580142abd/resourceGroups/dbaccount-9094/providers/Microsoft.DocumentDB/databaseAccounts/dbaccount-4538/mongodbDatabases/mongodb-7245/operationResults/1c5fb00a-e65a-45c1-9a16-d22e00040508?api-version=2022-08-15",
        "x-ms-gatewayversion": "version=2.14.0",
        "x-ms-ratelimit-remaining-subscription-writes": "1152"
      },
      "ResponseBody": {
        "status": "Enqueued"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/12053b8f-cab5-4f5c-9c1a-870580142abd/resourceGroups/dbaccount-9094/providers/Microsoft.DocumentDB/databaseAccounts/dbaccount-4538/mongodbRoleDefinitions/mongodb-7245.mongo-role-def-2887?api-version=2022-08-15",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "roleName": "mongo-role-def-2887",
          "type": "CustomRole",
          "databaseName": "mongodb-7245",
          "privileges": [
            {
              "resource": {
                "db": "mongodb-7245",
                "collection": "test"
              },
              "actions": [
                "insert"
              ]
            }
          ]
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/12053b8f-cab5-4f5c-9c1a-870580142abd/providers/Microsoft.DocumentDB/locations/westus2/operationsStatus/d4ddedf7-10ff-4779-962a-7effacc34e88?api-version=2022-08-15",
        "Content-Type": "application/json",
        "Location": "https://management.azure.com/subscriptions/12053b8f-cab5-4f5c-9c1a-870580142abd/resourceGroups/dbaccount-9094/providers/Microsoft.DocumentDB/databaseAccounts/dbaccount-4538/mongodbRoleDefinitions/mongodb-7245.mongo-role-def-2887/operationResults/d4ddedf7-10ff-4779-962a-7effacc34e88?api-version=2022-08-15",
        "x-ms-gatewayversion": "version=2.14.0",
        "x-ms-ratelimit-remaining-subscription-writes": "1151"
      },
      "ResponseBody": {
        "status": "Enqueued"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/12053b8f-cab5-4f5c-9c1a-870580142abd/resourceGroups/dbaccount-9094/providers/Microsoft.DocumentDB/databaseAccounts/dbaccount-4538/mongodbRoleDefinitions/mongodb-7245.mongo-role-def-2887?api-version=2022-08-15",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-gatewayversion": "version=2.14.0",
        "x-ms-ratelimit-remaining-subscription-reads": "11380"
      },
      "ResponseBody": {
        "id": "/subscriptions/12053b8f-cab5-4f5c-9c1a-870580142abd/resourceGroups/dbaccount-9094/providers/Microsoft.DocumentDB/databaseAccounts/dbaccount-4538/mongodbRoleDefinitions/mongodb-7245.mongo-role-def-2887",
        "name": "mongo-role-def-2887",
        "properties": {
          "roleName": "mongo-role-def-2887",
          "type": 1,
          "databaseName": "mongodb-7245",
          "privileges": [
            {
              "resource": {
                "db": "mongodb-7245",
                "collection": "test"
              },
              "actions": [
                "insert"
              ]
            }
          ],
          "roles": []
        },
        "type": "Microsoft.DocumentDB/databaseAccounts/mongodbRoleDefinitions"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/12053b8f-cab5-4f5c-9c1a-870580142abd/providers/Microsoft.DocumentDB/locations/westus2/operationsStatus/7c40daad-ba91-401a-8631-5b8bd5375d53?api-version=2022-08-15",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-gatewayversion": "version=2.14.0",
        "x-ms-ratelimit-remaining-subscription-reads": "11355"
      },
      "ResponseBody": {
        "status": "Succeeded"
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": null,
    "RandomSeed": "401512168",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "12053b8f-cab5-4f5c-9c1a-870580142abd"
  }
}
