{
  "Entries": [
    {
      "RequestUri": "/subscriptions/3c66da21-607e-49b4-8bdf-f25fbb8f705f/providers/Microsoft.DataBox/locations/westus/availableSkus?api-version=2018-01-01",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"country\": \"US\",\r\n  \"location\": \"westus\",\r\n  \"transferType\": \"ImportToAzure\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"sku\": {\r\n        \"name\": \"DataBox\"\r\n      },\r\n      \"enabled\": true,\r\n      \"properties\": {\r\n        \"destinationToServiceLocationMap\": [\r\n          {\r\n            \"destinationLocation\": \"westus\",\r\n            \"serviceLocation\": \"westus\"\r\n          },\r\n          {\r\n            \"destinationLocation\": \"centralus\",\r\n            \"serviceLocation\": \"westus\"\r\n          },\r\n          {\r\n            \"destinationLocation\": \"eastus\",\r\n            \"serviceLocation\": \"westus\"\r\n          },\r\n          {\r\n            \"destinationLocation\": \"eastus2\",\r\n            \"serviceLocation\": \"westus\"\r\n          },\r\n          {\r\n            \"destinationLocation\": \"northcentralus\",\r\n            \"serviceLocation\": \"westus\"\r\n          },\r\n          {\r\n            \"destinationLocation\": \"southcentralus\",\r\n            \"serviceLocation\": \"westus\"\r\n          },\r\n          {\r\n            \"destinationLocation\": \"westcentralus\",\r\n            \"serviceLocation\": \"westus\"\r\n          }\r\n        ],\r\n        \"capacity\": {\r\n          \"usable\": \"80\",\r\n          \"maximum\": \"100\"\r\n        },\r\n        \"costs\": [\r\n          {\r\n            \"meterId\": \"0cf23ffc-0b64-49e6-9bdd-1db885349042\",\r\n            \"meterType\": \"DataBoxServiceFee\"\r\n          },\r\n          {\r\n            \"meterId\": \"a701f058-119b-4713-a923-bed7da4b7801\",\r\n            \"meterType\": \"DataBoxShippingFee\"\r\n          }\r\n        ],\r\n        \"apiVersions\": [\r\n          \"2018-01-01\"\r\n        ]\r\n      }\r\n    },\r\n    {\r\n      \"sku\": {\r\n        \"name\": \"DataBoxDisk\"\r\n      },\r\n      \"enabled\": true,\r\n      \"properties\": {\r\n        \"destinationToServiceLocationMap\": [\r\n          {\r\n            \"destinationLocation\": \"westus\",\r\n            \"serviceLocation\": \"westus\"\r\n          },\r\n          {\r\n            \"destinationLocation\": \"centralus\",\r\n            \"serviceLocation\": \"westus\"\r\n  [...]
