{
  "Entries": [
    {
      "RequestUri": "https://batchbatchacctoqbvmvoayk.eastus.batch.azure.com/pools/PoolClientRecordedTestsAsync_NoPool_3d7a9f26-0d46-4523-8c6a-5022?api-version=2022-01-01.15.0",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com/",
    "BATCH_ENDPOINT": "https://batchbatchacctoqbvmvoayk.eastus.batch.azure.com",
    "RandomSeed": "106988064"
  }
}
