{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11996"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "TagKey-9823": "TagValue-1254",
          "TagKey-3481": "TagValue-320",
          "TagKey-4926": "TagValue-1187",
          "TagKey-751": "TagValue-3921",
          "TagKey-1866": "TagValue-8559",
          "TagKey-3094": "TagValue-9190",
          "TagKey-2449": "TagValue-9",
          "TagKey-8379": "TagValue-164",
          "TagKey-7470": "TagValue-2205",
          "TagKey-4236": "TagValue-3698",
          "TagKey-5316": "TagValue-2725"
        },
        "subscriptionId": "db1ab6f0-4769-4b27-930e-01e2ef9c123c",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": ".NET Mgmt SDK Test with TTL = 1 Day",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourcegroups/testRG-9342?api-version=**",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {
          "test": "env"
        },
        "location": "eastus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-9342",
        "name": "testRG-9342",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus",
        "tags": {
          "test": "env"
        },
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-9342/providers/Microsoft.LabServices/labs/sdklab-4766?api-version=2022-08-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "eastus",
        "properties": {
          "autoShutdownProfile": {
            "shutdownOnDisconnect": "Disabled",
            "shutdownWhenNotConnected": "Disabled",
            "shutdownOnIdle": "UserAbsence",
            "idleDelay": "PT15M"
          },
          "connectionProfile": {
            "webSshAccess": "None",
            "webRdpAccess": "None",
            "clientSshAccess": "Public",
            "clientRdpAccess": "Public"
          },
          "virtualMachineProfile": {
            "createOption": "TemplateVM",
            "imageReference": {
              "offer": "0001-com-ubuntu-server-focal",
              "publisher": "canonical",
              "sku": "20_04-lts",
              "version": "latest"
            },
            "sku": {
              "name": "Standard_Fsv2_2_4GB_64_S_SSD",
              "capacity": 2
            },
            "usageQuota": "PT2H",
            "useSharedPassword": "Enabled",
            "adminUser": {
              "username": "tester",
              "password": "Sanitized"
            }
          },
          "securityProfile": {
            "openAccess": "Disabled"
          },
          "title": "test lab"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2020-05-01-preview, 2021-10-01-preview, 2021-11-15-preview, 2022-05-01-preview, 2022-08-01",
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.LabServices/locations/eastus/operationResults/11307529-67dd-4603-ba8f-4f763b262676?api-version=2022-08-01",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-9342/providers/Microsoft.LabServices/labs/sdklab-4766?api-version=2022-08-01",
        "Operation-Location": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.LabServices/locations/eastus/operationResults/11307529-67dd-4603-ba8f-4f763b262676?api-version=2022-08-01",
        "x-ms-ratelimit-remaining-subscription-writes": "1198"
      },
      "ResponseBody": {
        "systemData": {
          "createdBy": "8e6d47e0-7969-4fde-a62c-4fea4f165e98",
          "createdByType": "Application",
          "createdAt": "2023-02-21T03:30:08.7265368Z",
          "lastModifiedBy": "8e6d47e0-7969-4fde-a62c-4fea4f165e98",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2023-02-21T03:30:08.7265368Z"
        },
        "properties": {
          "provisioningState": "Creating",
          "state": "Draft",
          "autoShutdownProfile": {
            "shutdownOnDisconnect": "Disabled",
            "shutdownWhenNotConnected": "Disabled",
            "shutdownOnIdle": "UserAbsence",
            "idleDelay": "PT15M"
          },
          "connectionProfile": {
            "webSshAccess": "None",
            "webRdpAccess": "None",
            "clientSshAccess": "Public",
            "clientRdpAccess": "Public"
          },
          "virtualMachineProfile": {
            "createOption": "TemplateVM",
            "imageReference": {
              "offer": "0001-com-ubuntu-server-focal",
              "publisher": "canonical",
              "sku": "20_04-lts",
              "version": "latest"
            },
            "osType": "Linux",
            "sku": {
              "name": "Standard_Fsv2_2_4GB_64_S_SSD",
              "capacity": 2
            },
            "additionalCapabilities": {
              "installGpuDrivers": "Disabled"
            },
            "usageQuota": "PT2H",
            "useSharedPassword": "Enabled",
            "adminUser": {
              "username": "tester"
            }
          },
          "securityProfile": {
            "registrationCode": "j789sabz7",
            "openAccess": "Disabled"
          },
          "title": "test lab"
        },
        "tags": {},
        "location": "eastus",
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-9342/providers/Microsoft.LabServices/labs/sdklab-4766",
        "name": "sdklab-4766",
        "type": "Microsoft.LabServices/labs"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.LabServices/locations/eastus/operationResults/11307529-67dd-4603-ba8f-4f763b262676?api-version=2022-08-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2020-05-01-preview, 2021-10-01-preview, 2021-11-15-preview, 2022-05-01-preview, 2022-08-01",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11995"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.LabServices/locations/eastus/operationResults/11307529-67dd-4603-ba8f-4f763b262676",
        "name": "11307529-67dd-4603-ba8f-4f763b262676",
        "status": "InProgress",
        "startTime": "2023-02-21T03:30:10.3411821Z"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.LabServices/locations/eastus/operationResults/11307529-67dd-4603-ba8f-4f763b262676?api-version=2022-08-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2020-05-01-preview, 2021-10-01-preview, 2021-11-15-preview, 2022-05-01-preview, 2022-08-01",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11986"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.LabServices/locations/eastus/operationResults/11307529-67dd-4603-ba8f-4f763b262676",
        "name": "11307529-67dd-4603-ba8f-4f763b262676",
        "status": "Succeeded",
        "startTime": "2023-02-21T03:30:10.3411821Z",
        "endTime": "2023-02-21T03:42:25.1063046Z"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-9342/providers/Microsoft.LabServices/labs/sdklab-4766/virtualMachines?api-version=2022-08-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2020-05-01-preview, 2021-10-01-preview, 2021-11-15-preview, 2022-05-01-preview, 2022-08-01",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11984"
      },
      "ResponseBody": {
        "value": [
          {
            "properties": {
              "provisioningState": "Succeeded",
              "state": "Stopped",
              "connectionProfile": {
                "privateIpAddress": "10.0.0.4",
                "sshAuthority": "lab-5eb49251-ab57-4f50-9318-2b2823778a67.eastus.cloudapp.azure.com:4980",
                "rdpAuthority": "lab-5eb49251-ab57-4f50-9318-2b2823778a67.eastus.cloudapp.azure.com:4990",
                "adminUsername": "tester"
              },
              "vmType": "Template"
            },
            "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-9342/providers/Microsoft.LabServices/labs/sdklab-4766/virtualMachines/0",
            "name": "0",
            "type": "Microsoft.LabServices/labs/virtualMachines"
          },
          {
            "properties": {
              "provisioningState": "Creating",
              "state": "Stopped",
              "vmType": "User"
            },
            "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-9342/providers/Microsoft.LabServices/labs/sdklab-4766/virtualMachines/1",
            "name": "1",
            "type": "Microsoft.LabServices/labs/virtualMachines"
          },
          {
            "properties": {
              "provisioningState": "Creating",
              "state": "Stopped",
              "vmType": "User"
            },
            "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-9342/providers/Microsoft.LabServices/labs/sdklab-4766/virtualMachines/2",
            "name": "2",
            "type": "Microsoft.LabServices/labs/virtualMachines"
          }
        ]
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-9342/providers/Microsoft.LabServices/labs/sdklab-4766/virtualMachines/0?api-version=2022-08-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2020-05-01-preview, 2021-10-01-preview, 2021-11-15-preview, 2022-05-01-preview, 2022-08-01",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11983"
      },
      "ResponseBody": {
        "properties": {
          "provisioningState": "Succeeded",
          "state": "Stopped",
          "connectionProfile": {
            "privateIpAddress": "10.0.0.4",
            "sshAuthority": "lab-5eb49251-ab57-4f50-9318-2b2823778a67.eastus.cloudapp.azure.com:4980",
            "rdpAuthority": "lab-5eb49251-ab57-4f50-9318-2b2823778a67.eastus.cloudapp.azure.com:4990",
            "adminUsername": "tester"
          },
          "vmType": "Template"
        },
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-9342/providers/Microsoft.LabServices/labs/sdklab-4766/virtualMachines/0",
        "name": "0",
        "type": "Microsoft.LabServices/labs/virtualMachines"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-9342/providers/Microsoft.LabServices/labs/sdklab-4766/virtualMachines/foo?api-version=2022-08-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "api-supported-versions": "2020-05-01-preview, 2021-10-01-preview, 2021-11-15-preview, 2022-05-01-preview, 2022-08-01",
        "Content-Type": "application/problem\u002Bjson; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11982"
      },
      "ResponseBody": {
        "type": "https://tools.ietf.org/html/rfc7231#section-6.5.4",
        "title": "Not Found",
        "status": 404,
        "traceId": "00-b86c0425c20de7bb8209c59c2a118083-3b31aca9b324d278-01"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-9342/providers/Microsoft.LabServices/labs/sdklab-4766/virtualMachines/0/start?api-version=2022-08-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "api-supported-versions": "2020-05-01-preview, 2021-10-01-preview, 2021-11-15-[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.LabServices/locations/eastus/operationResults/ff0828cc-7c18-4e43-9316-214184654116?api-version=2022-08-01\u0026monitor=true",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2020-05-01-preview, 2021-10-01-preview, 2021-11-15-preview, 2022-05-01-preview, 2022-08-01",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11970"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.LabServices/locations/eastus/operationResults/ff0828cc-7c18-4e43-9316-214184654116",
        "name": "ff0828cc-7c18-4e43-9316-214184654116",
        "status": "Succeeded",
        "startTime": "2023-02-21T03:42:46.7736192Z",
        "endTime": "2023-02-21T03:44:03.0379872Z"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-9342/providers/Microsoft.LabServices/labs/sdklab-4766/virtualMachines/0/redeploy?api-version=2022-08-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "api-supported-versions": "2020-05-01-preview, 2021-10-01-preview, 2021-11-[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-9342/providers/Microsoft.LabServices/labs/sdklab-4766/virtualMachines/0/reimage?api-version=2022-08-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "api-supported-versions": "2020-05-01-preview, 2021-10-01-preview, 2021-11-1[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-9342/providers/Microsoft.LabServices/labs/sdklab-4766/virtualMachines/0/resetPassword?api-version=2022-08-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "username": "tester",
        "password": "Sanitized"
      },
      "StatusCode":[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-9342/providers/Microsoft.LabServices/labs/sdklab-4766/virtualMachines/0/stop?api-version=2022-08-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "api-supported-versions": "2020-05-01-preview, 2021-10-01-preview, 2021-11-15-p[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-9342/providers/Microsoft.LabServices/labs/sdklab-4766/virtualMachines/0?api-version=2022-08-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2020-05-01-preview, 2021-10-01-preview, 2021-11-15-preview, 2022-05-01-preview, 2022-08-01",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11914"
      },
      "ResponseBody": {
        "properties": {
          "provisioningState": "Succeeded",
          "state": "Stopped",
          "connectionProfile": {
            "privateIpAddress": "10.0.0.4",
            "sshAuthority": "lab-5eb49251-ab57-4f50-9318-2b2823778a67.eastus.cloudapp.azure.com:4980",
            "rdpAuthority": "lab-5eb49251-ab57-4f50-9318-2b2823778a67.eastus.cloudapp.azure.com:4990",
            "adminUsername": "tester"
          },
          "vmType": "Template"
        },
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-9342/providers/Microsoft.LabServices/labs/sdklab-4766/virtualMachines/0",
        "name": "0",
        "type": "Microsoft.LabServices/labs/virtualMachines"
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "RandomSeed": "1153432721",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "db1ab6f0-4769-4b27-930e-01e2ef9c123c"
  }
}
