{
  "Entries": [
    {
      "RequestUri": "/subscriptions/6926fc75-ce7d-4c9e-a87f-c4e38c594eb5/resourcegroups/azsmnet6495?api-version=**",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "RequestBody": [
        "{\r\n",
        "  \"location\": \"centraluseuap\"\r\n",
        "}"
      ],
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": [
        "{\r\n",
        "  \"id\": \"/subscriptions/6926fc75-ce7d-4c9e-a87f-c4e38c594eb5/resourceGroups/azsmnet6495\",\r\n",
        "  \"name\": \"azsmnet6495\",\r\n",
        "  \"location\": \"centraluseuap\",\r\n",
        "  \"properties\": {\r\n",
        "    \"provisioningState\": \"Succeeded\"\r\n",
        "  }\r\n",
        "}"
      ]
    },
    {
      "RequestUri": "/subscriptions/6926fc75-ce7d-4c9e-a87f-c4e38c594eb5/resourcegroups/azsmnet6495/providers/Microsoft.Resources/deployments/azsmnet1790?api-version=2017-05-10",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "RequestBody": [
        "{\r\n",
        "  \"properties\": {\r\n",
        "    \"template\": {\r\n",
        "      \"$schema\": \"http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#\",\r\n",
        "      \"contentVersion\": \"1.0.0.0\",\r\n",
        "      \"parameters\": {\r\n",
        "        \"resourceGroupName\": {\r\n",
        "          \"type\": \"String\"\r\n",
        "        },\r\n",
        "        \"location\": {\r\n",
        "          \"type\": \"String\"\r\n",
        "        },\r\n",
        "        \"virtualMachineName\": {\r\n",
        "          \"type\": \"String\"\r\n",
        "        },\r\n",
        "        \"virtualMachineSize\": {\r\n",
        "          \"type\": \"String\"\r\n",
        "        },\r\n",
        "        \"adminUsername\": {\r\n",
        "          \"type\": \"String\"\r\n",
        "        },\r\n",
        "        \"storageAccountName\": {\r\n",
        "          \"type\": \"String\"\r\n",
        "        },\r\n",
        "        \"virtualNetworkName\": {\r\n",
        "          \"type\": \"String\"\r\n",
        "        },\r\n",
        "        \"routeTableName\": {\r\n",
        "          \"type\": \"String\"\r\n",
        "        },\r\n",
        "        \"networkInterfaceName\": {\r\n",
        "          \"type\": \"String\"\r\n",
        "        },\r\n",
        "        \"networkSecurityGroupName\": {\r\n",
        "          \"type\": \"String\"\r\n",
        "        },\r\n",
        "        \"adminPassword\": {\r\n",
        "          \"type\": \"SecureString\"\r\n",
        "        },\r\n",
        "        \"storageAccountType\": {\r\n",
        "          \"type\": \"String\"\r\n",
        "        },\r\n",
        "        \"diagnosticsStorageAccountName\": {\r\n",
        "          \"type\": \"String\"\r\n",
        "        },\r\n",
        "        \"diagnosticsStorageAccountId\": {\r\n",
        "          \"type\": \"String\"\r\n",
        "        },\r\n",
        "        \"diagnosticsStorageAccountType\": {\r\n",
        "          \"type\": \"String\"\r\n",
        "        },\r\n",
        "        \"addressPrefix\": {\r\n",
        "          \"type\": \"String\"\r\n",
        "        },\r\n",
        "        \"subnetName\": {\r\n",
        "          \"type\": \"String\"\r\n",
        "        },\r\n",
        "        \"subnetPrefix\": {\r\n",
        "          \"type\": \"String\"\r\n",
        "        },\r\n",
        "        \"publicIpAddressName\": {\r\n",
        "          \"type\": \"String\"\r\n",
        "        },\r\n",
        "        \"publicIpAddressType\": {\r\n",
        "          \"type\": \"String\"\r\n",
        "        }\r\n",
        "      },\r\n",
        "      \"variables\": {\r\n",
        "        \"vnetId\": \"[resourceId(parameters('resourceGroupName'),'Microsoft.Network/virtualNetworks', parameters('virtualNetworkName'))]\",\r\n",
        "        \"subnetRef\": \"[concat(variables('vnetId'), '/subnets/', parameters('subnetName'))]\"\r\n",
        "      },\r\n",
        "      \"resources\": [\r\n",
        "        {\r\n",
        "          \"type\": \"Microsoft.Compute/virtualMachines\",\r\n",
        "          \"name\": \"[parameters('virtualMachineName')]\",\r\n",
        "          \"apiVersion\": \"2015-06-15\",\r\n",
        "          \"location\": \"[parameters('location')]\",\r\n",
        "          \"properties\": {\r\n",
        "            \"osProfile\": {\r\n",
        "              \"computerName\": \"[parameters('virtualMachineName')]\",\r\n",
        "              \"adminUsername\": \"[parameters('adminUsername')]\",\r\n",
        "              \"adminPassword\": \"[parameters('adminPassword')]\",\r\n",
        "              \"windowsConfiguration\": {\r\n",
        "                \"provisionVmAgent\": \"true\"\r\n",
        "              }\r\n",
        "            },\r\n",
        "            \"hardwareProfile\": {\r\n",
        "              \"vmSize\": \"[parameters('virtualMachineSize')]\"\r\n",
        "            },\r\n",
        "            \"storageProfile\": {\r\n",
        "              \"imageReference\": {\r\n",
        "                \"publisher\": \"MicrosoftWindowsServer\",\r\n",
        "                \"offer\": \"WindowsServer\",\r\n",
        "                \"sku\": \"2016-Datacenter\",\r\n",
        "                \"version\": \"latest\"\r\n",
        "              },\r\n",
        "              \"osDisk\": {\r\n",
        "                \"name\": \"[parameters('virtualMachineName')]\",\r\n",
        "                \"createOption\": \"fromImage\",\r\n",
        "                \"vhd\": {\r\n",
        "                  \"uri\": \"[concat(concat(reference(resourceId(parameters('resourceGroupName'), 'Microsoft.Storage/storageAccounts', parameters('storageAccountName')), '2015-06-15').primaryEndpoints['blob'], 'vhds/'), parameters('virtualMachineName'), '20161217141554.vhd')]\"\r\n",
        "                }\r\n",
        "              },\r\n",
        "              \"dataDisks\": []\r\n",
        "            },\r\n",
        "            \"networkProfile\": {\r\n",
        "              \"networkInterfaces\": [\r\n",
        "                {\r\n",
        "                  \"id\": \"[resourceId('Microsoft.Network/networkInterfaces', parameters('networkInterfaceName'))]\"\r\n",
        "                }\r\n",
        "              ]\r\n",
        "            },\r\n",
        "            \"diagnosticsProfile\": {\r\n",
        "              \"bootDiagnostics\": {\r\n",
        "                \"enabled\": true,\r\n",
        "                \"storageUri\": \"[reference(resourceId(parameters('resourceGroupName'), 'Microsoft.Storage/storageAccounts', parameters('diagnosticsStorageAccountName')), '2015-06-15').primaryEndpoints['blob']]\"\r\n",
        "              }\r\n",
        "            }\r\n",
        "          },\r\n",
        "          \"dependsOn\": [\r\n",
        "            \"[concat('Microsoft.Network/networkInterfaces/', parameters('networkInterfaceName'))]\",\r\n",
        "            \"[concat('Microsoft.Storage/storageAccounts/', parameters('storageAccountName'))]\",\r\n",
        "            \"[concat('Microsoft.Storage/storageAccounts/', parameters('diagnosticsStorageAccountName'))]\"\r\n",
        "          ]\r\n",
        "        },\r\n",
        "        {\r\n",
        "          \"type\": \"Microsoft.Storage/storageAccounts\",\r\n",
        "          \"name\": \"[parameters('storageAccountName')]\",\r\n",
        "          \"apiVersion\": \"2015-06-15\",\r\n",
        "          \"location\": \"[parameters('location')]\",\r\n",
        "          \"properties\": {\r\n",
        "            \"accountType\": \"[parameters('storageAccountType')]\"\r\n",
        "          }\r\n",
        "        },\r\n",
        "        {\r\n",
        "          \"type\": \"Microsoft.Storage/storageAccounts\",\r\n",
        "          \"name\": \"[parameters('diagnosticsStorageAccountName')]\",\r\n",
        "          \"apiVersion\": \"2015-06-15\",\r\n",
        "          \"location\": \"[parameters('location')]\",\r\n",
        "          \"properties\": {\r\n",
        "            \"accountType\": \"[parameters('diagnosticsStorageAccountType')]\"\r\n",
        "          }\r\n",
        "        },\r\n",
        "        {\r\n",
        "          \"type\": \"Microsoft.Network/routeTables\",\r\n",
        "          \"name\": \"[parameters('routeTableName')]\",\r\n",
        "          \"apiVersion\": \"2016-09-01\",\r\n",
        "          \"location\": \"[parameters('location')]\",\r\n",
        "          \"properties\": {\r\n",
        "            \"routes\": [\r\n",
        "              {\r\n",
        "                \"name\": \"route1\",\r\n",
        "                \"properties\": {\r\n",
        "                  \"addressPrefix\": \"10.1.3.0/24\",\r\n",
        "                  \"nextHopType\": \"VirtualAppliance\",\r\n",
        "                  \"nextHopIpAddress\": \"10.0.1.2\"\r\n",
        "                }\r\n",
        "              }\r\n",
        "            ]\r\n",
        "          }\r\n",
        "        },\r\n",
        "        {\r\n",
        "          \"type\": \"Microsoft.Network/virtualNetworks\",\r\n",
        "          \"name\": \"[parameters('virtualNetworkName')]\",\r\n",
        "          \"apiVersion\": \"2016-09-01\",\r\n",
        "          \"location\": \"[parameters('location')]\",\r\n",
        "          \"properties\": {\r\n",
        "            \"addressSpace\": {\r\n",
        "              \"addressPrefixes\": [\r\n",
        "                \"[parameters('addressPrefix')]\"\r\n",
        "              ]\r\n",
        "            },\r\n",
        "            \"subnets\": [\r\n",
        "              {\r\n",
        "                \"name\": \"[parameters('subnetName')]\",\r\n",
        "                \"properties\": {\r\n",
        "                  \"addressPrefix\": \"[parameters('subnetPrefix')]\",\r\n",
        "                  \"routeTable\": {\r\n",
        "                    \"id\": \"[resourceId('Microsoft.Network/routeTables', parameters('routeTableName'))]\"\r\n",
        "                  }\r\n",
        "                }\r\n",
        "              }\r\n",
        "            ]\r\n",
        "          },\r\n",
        "          \"dependsOn\": [\r\n",
        "            \"[concat('Microsoft.Network/routeTables/', parameters('routeTableName'))]\"\r\n",
        "          ]\r\n",
        "        },\r\n",
        "        {\r\n",
        "          \"type\": \"Microsoft.Network/networkInterfaces\",\r\n",
        "          \"name\": \"[parameters('networkInterfaceName')]\",\r\n",
        "          \"apiVersion\": \"2016-09-01\",\r\n",
        "          \"location\": \"[parameters('location')]\",\r\n",
        "          \"properties\": {\r\n",
        "            \"ipConfigurations\": [\r\n",
        "              {\r\n",
        "                \"name\": \"ipconfig1\",\r\n",
        "                \"properties\": {\r\n",
        "                  \"subnet\": {\r\n",
        "                    \"id\": \"[variables('subnetRef')]\"\r\n",
        "                  },\r\n",
        "                  \"privateIPAllocationMethod\": \"Dynamic\",\r\n",
        "                  \"publicIpAddress\": {\r\n",
        "                    \"id\": \"[resourceId(parameters('resourceGroupName'),'Microsoft.Network/publicIpAddresses', parameters('publicIpAddressName'))]\"\r\n",
        "                  }\r\n",
        "                }\r\n",
        "              }\r\n",
        "            ],\r\n",
        "            \"networkSecurityGroup\": {\r\n",
        "              \"id\": \"[resourceId(parameters('resourceGroupName'), 'Microsoft.Network/networkSecurityGroups', parameters('networkSecurityGroupName'))]\"\r\n",
        "            }\r\n",
        "          },\r\n",
        "          \"dependsOn\": [\r\n",
        "            \"[concat('Microsoft.Network/virtualNetworks/', parameters('virtualNetworkName'))]\",\r\n",
        "            \"[concat('Microsoft.Network/publicIpAddresses/', parameters('publicIpAddressName'))]\",\r\n",
        "            \"[concat('Microsoft.Network/networkSecurityGroups/', parameters('networkSecurityGroupName'))]\"\r\n",
        "          ]\r\n",
        "        },\r\n",
        "        {\r\n",
        "          \"type\": \"Microsoft.Network/publicIpAddresses\",\r\n",
        "          \"name\": \"[parameters('publicIpAddressName')]\",\r\n",
        "          \"apiVersion\": \"2016-09-01\",\r\n",
        "          \"location\": \"[parameters('location')]\",\r\n",
        "          \"properties\": {\r\n",
        "            \"publicIpAllocationMethod\": \"[parameters('publicIpAddressType')]\"\r\n",
        "          }\r\n",
        "        },\r\n",
        "        {\r\n",
        "          \"type\": \"Microsoft.Network/networkSecurityGroups\",\r\n",
        "          \"name\": \"[parameters('networkSecurityGroupName')]\",\r\n",
        "          \"apiVersion\": \"2016-09-01\",\r\n",
        "          \"location\": \"[parameters('location')]\",\r\n",
        "          \"properties\": {\r\n",
        "            \"securityRules\": [\r\n",
        "              {\r\n",
        "                \"name\": \"default-allow-rdp\",\r\n",
        "                \"properties\": {\r\n",
        "                  \"priority\": 1000,\r\n",
        "                  \"sourceAddressPrefix\": \"*\",\r\n",
        "                  \"protocol\": \"TCP\",\r\n",
        "                  \"destinationPortRange\": \"3389\",\r\n",
        "                  \"access\": \"Allow\",\r\n",
        "                  \"direction\": \"Inbound\",\r\n",
        "                  \"sourcePortRange\": \"*\",\r\n",
        "                  \"destinationAddressPrefix\": \"*\"\r\n",
        "                }\r\n",
        "              }\r\n",
        "            ]\r\n",
        "          }\r\n",
        "        }\r\n",
        "      ],\r\n",
        "      \"outputs\": {\r\n",
        "        \"adminUsername\": {\r\n",
        "          \"type\": \"String\",\r\n",
        "          \"value\": \"[parameters('adminUsername')]\"\r\n",
        "        }\r\n",
        "      }\r\n",
        "    },\r\n",
        "    \"parameters\": {\r\n",
        "      \"resourceGroupName\": {\r\n",
        "        \"value\": \"azsmnet6495\"\r\n",
        "      },\r\n",
        "      \"location\": {\r\n",
        "        \"value\": \"centraluseuap\"\r\n",
        "      },\r\n",
        "      \"virtualMachineName\": {\r\n",
        "        \"value\": \"azsmnet3294\"\r\n",
        "      },\r\n"[...]
    {
      "RequestUri": "/subscriptions/6926fc75-ce7d-4c9e-a87f-c4e38c594eb5/resourcegroups/azsmnet6495/providers/Microsoft.Resources/deployments/azsmnet1790/operationStatuses/08586860665750238468?api-version=2017-05-10",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": [],
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "14953"
      },
      "ResponseBody": [
        "{\r\n",
        "  \"status\": \"Running\"\r\n",
        "}"
      ]
    },
[...]
    {
      "RequestUri": "/subscriptions/6926fc75-ce7d-4c9e-a87f-c4e38c594eb5/resourcegroups/azsmnet6495/providers/Microsoft.Resources/deployments/azsmnet1790?api-version=2017-05-10",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": [],
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "14944"
      },
      "ResponseBody": [
        "{\r\n",
        "  \"id\": \"/subscriptions/6926fc75-ce7d-4c9e-a87f-c4e38c594eb5/resourceGroups/azsmnet6495/providers/Microsoft.Resources/deployments/azsmnet1790\",\r\n",
        "  \"name\": \"azsmnet1790\",\r\n",
        "  \"properties\": {\r\n",
        "    \"templateHash\": \"9908915175891452045\",\r\n",
        "    \"parameters\": {\r\n",
        "      \"resourceGroupName\": {\r\n",
        "        \"type\": \"String\",\r\n",
        "        \"value\": \"azsmnet6495\"\r\n",
        "      },\r\n",
        "      \"location\": {\r\n",
        "        \"type\": \"String\",\r\n",
        "        \"value\": \"centraluseuap\"\r\n",
        "      },\r\n",
        "      \"virtualMachineName\": {\r\n",
        "        \"type\": \"String\",\r\n",
        "       [...]
    {
      "RequestUri": "/subscriptions/6926fc75-ce7d-4c9e-a87f-c4e38c594eb5/resourceGroups/azsmnet6495/providers/Microsoft.Compute/virtualMachines/azsmnet3294?api-version=2017-03-30",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": [],
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-resource": "Microsoft.Compute/LowCostGet3Min;4794,Microsoft.Compute/LowCostGet30Min;38386",
        "x-ms-ratelimit-remaining-subscription-reads": "14959"
      },
      "ResponseBody": [
        "{\r\n",
        "  \"properties\": {\r\n",
        "    \"vmId\": \"147d8aa7-9b44-425b-903e-58062442f8cf\",\r\n",
        "    \"hardwareProfile\": {\r\n",
        "      \"vmSize\": \"Standard_DS1_v2\"\r\n",
        "    },\r\n",
        "    \"storageProfile\": {\r\n",
        "      \"imageReference\": {\r\n",
        "        \"publisher\": \"MicrosoftWindowsServer\",\r\n",
        "        \"offer\": \"WindowsServer\",\r\n",
        "        \"sku\": \"2016-Datacenter\",\r\n",
        "        \"version\": \"latest\"\r\n",
        "      },\r\n",
        "      \"osDisk\": {\r\n",
        "        \"osType\": \"Windows\",\r\n",
        "        \"name\": \"azsmnet3294\",\r\n",
        "        \"createOption\": \"FromImage\",\r\n",
        "        \"vhd\": {\r\n",
        "          \"uri\": \"https://azsmnet2567.blob.core.windows.net/vhds/azsmnet329420161217141554.vhd\"\r\n",
        "        },\r\n",
        "        \"caching\": \"ReadWrite\",\r\n",
        "        \"diskSizeGB\": 127\r\n",
        "      },\r\n",
        "      \"dataDisks\": []\r\n",
        "    },\r\n",
        "    \"osProfile\": {\r\n",
        "      \"computerName\": \"azsmnet3294\",\r\n",
        "      \"adminUsername\": \"netanalytics32\",\r\n",
        "      \"windowsConfiguration\": {\r\n",
        "        \"provisionVMAgent\": true,\r\n",
        "        \"enableAutomaticUpdates\": true\r\n",
        "      },\r\n",
        "      \"secrets\": []\r\n",
        "    },\r\n",
        "    \"networkProfile\": {\r\n",
        "      \"networkInterfaces\": [\r\n",
        "        {\r\n",
        "          \"id\": \"/subscriptions/6926fc75-ce7d-4c9e-a87f-c4e38c594eb5/resourceGroups/azsmnet6495/providers/Microsoft.Network/networkInterfaces/azsmnet9671\"\r\n",
        "        }\r\n",
        "      ]\r\n",
        "    },\r\n",
        "    \"diagnosticsProfile\": {\r\n",
        "      \"bootDiagnostics\": {\r\n",
        "        \"enabled\": true,\r\n",
        "        \"storageUri\": \"https://azsmnet4836.blob.core.windows.net/\"\r\n",
        "      }\r\n",
        "    },\r\n",
        "    \"provisioningState\": \"Succeeded\"\r\n",
        "  },\r\n",
        "  \"type\": \"Microsoft.Compute/virtualMachines\",\r\n",
        "  \"location\": \"CentralUSEUAP\",\r\n",
        "  \"id\": \"/subscriptions/6926fc75-ce7d-4c9e-a87f-c4e38c594eb5/resourceGroups/azsmnet6495/providers/Microsoft.Compute/virtualMachines/azsmnet3294\",\r\n",
        "  \"name\": \"azsmnet3294\"\r\n",
        "}"
      ]
    },
    {
      "RequestUri": "/subscriptions/6926fc75-ce7d-4c9e-a87f-c4e38c594eb5/resourceGroups/azsmnet6495/providers/Microsoft.Compute/virtualMachines/azsmnet3294/extensions/NetworkWatcherAgent?api-version=2017-03-30",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "RequestBody": [
        "{\r\n",
        "  \"properties\": {\r\n",
        "    \"publisher\": \"Microsoft.Azure.NetworkWatcher\",\r\n",
        "    \"type\": \"NetworkWatcherAgentWindows\",\r\n",
        "    \"typeHandlerVersion\": \"1.4\"\r\n",
        "  },\r\n",
        "  \"location\": \"centraluseuap\"\r\n",
        "}"
      ],
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/6926fc75-ce7d-4c9e-a87f-c4e38c594eb5/providers/Microsoft.Compute/locations/CentralUSEUAP/operations/0f8d133c-184e-434e-b264-9ae96813816d?api-version=2017-03-30",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-resource": "Microsoft.Compute/UpdateVM3Min;239,Microsoft.Compute/UpdateVM30Min;1199",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": [
        "{\r\n",
        "  \"properties\": {\r\n",
        "    \"publisher\": \"Microsoft.Azure.NetworkWatcher\",\r\n",
        "    \"type\": \"NetworkWatcherAgentWindows\",\r\n",
        "    \"typeHandlerVersion\": \"1.4\",\r\n",
        "    \"autoUpgradeMinorVersion\": false,\r\n",
        "    \"provisioningState\": \"Creating\"\r\n",
        "  },\r\n",
        "  \"type\": \"Microsoft.Compute/virtualMachines/extensions\",\r\n",
        "  \"location\": \"CentralUSEUAP\",\r\n",
        "  \"id\": \"/subscriptions/6926fc75-ce7d-4c9e-a87f-c4e38c594eb5/resourceGroups/azsmnet6495/providers/Microsoft.Compute/virtualMachines/azsmnet3294/extensions/NetworkWatcherAgent\",\r\n",
        "  \"name\": \"NetworkWatcherAgent\"\r\n",
        "}"
      ]
    },
    {
      "RequestUri": "/subscriptions/6926fc75-ce7d-4c9e-a87f-c4e38c594eb5/providers/Microsoft.Compute/locations/CentralUSEUAP/operations/0f8d133c-184e-434e-b264-9ae96813816d?api-version=2017-03-30",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": [],
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-resource": "Microsoft.Compute/GetOperation3Min;11985,Microsoft.Compute/GetOperation30Min;23970",
        "x-ms-ratelimit-remaining-subscription-reads": "14958"
      },
      "ResponseBody": [
        "{\r\n",
        "  \"startTime\": \"2018-01-09T15:30:51.5016594-08:00\",\r\n",
        "  \"status\": \"InProgress\",\r\n",
        "  \"name\": \"0f8d133c-184e-434e-b264-9ae96813816d\"\r\n",
        "}"
      ]
    },
    {
      "RequestUri": "/subscriptions/6926fc75-ce7d-4c9e-a87f-c4e38c594eb5/providers/Microsoft.Compute/locations/CentralUSEUAP/operations/0f8d133c-184e-434e-b264-9ae96813816d?api-version=2017-03-30",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": [],
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-resource": "Microsoft.Compute/GetOperation3Min;11986,Microsoft.Compute/GetOperation30Min;23967",
        "x-ms-ratelimit-remaining-subscription-reads": "14956"
      },
      "ResponseBody": [
        "{\r\n",
        "  \"startTime\": \"2018-01-09T15:30:51.5016594-08:00\",\r\n",
        "  \"endTime\": \"2018-01-09T15:31:32.2476622-08:00\",\r\n",
        "  \"status\": \"Succeeded\",\r\n",
        "  \"name\": \"0f8d133c-184e-434e-b264-9ae96813816d\"\r\n",
        "}"
      ]
    },
[...]
    {
      "RequestUri": "/subscriptions/6926fc75-ce7d-4c9e-a87f-c4e38c594eb5/resourceGroups/azsmnet6495/providers/Microsoft.Network/networkWatchers/azsmnet5282?api-version=2017-10-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "RequestBody": [
        "{\r\n",
        "  \"location\": \"centraluseuap\"\r\n",
        "}"
      ],
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/6926fc75-ce7d-4c9e-a87f-c4e38c594eb5/providers/Microsoft.Network/locations/centraluseuap/operations/6a216f56-cc40-4142-82de-0da50106e66a?api-version=2017-10-01",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": [
        "{\r\n",
        "  \"name\": \"azsmnet5282\",\r\n",
        "  \"id\": \"/subscriptions/6926fc75-ce7d-4c9e-a87f-c4e38c594eb5/resourceGroups/azsmnet6495/providers/Microsoft.Network/networkWatchers/azsmnet5282\",\r\n",
        "  \"etag\": \"W/\\\"c12a3e87-11e7-4d86-ab05-e0d9dfedfef3\\\"\",\r\n",
        "  \"type\": \"Microsoft.Network/networkWatchers\",\r\n",
        "  \"location\": \"centraluseuap\",\r\n",
        "  \"properties\": {\r\n",
        "    \"provisioningState\": \"Succeeded\",\r\n",
        "    \"runningOperationIds\": []\r\n",
        "  }\r\n",
        "}"
      ]
    },
    {
      "RequestUri": "/subscriptions/6926fc75-ce7d-4c9e-a87f-c4e38c594eb5/resourceGroups/azsmnet6495/providers/Microsoft.Network/networkWatchers/azsmnet5282/connectionMonitors/cm?api-version=2017-10-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "RequestBody": [
        "{\r\n",
        "  \"location\": \"centraluseuap\",\r\n",
        "  \"properties\": {\r\n",
        "    \"source\": {\r\n",
        "      \"resourceId\": \"/subscriptions/6926fc75-ce7d-4c9e-a87f-c4e38c594eb5/resourceGroups/azsmnet6495/providers/Microsoft.Compute/virtualMachines/azsmnet3294\"\r\n",
        "    },\r\n",
        "    \"destination\": {\r\n",
        "      \"address\": \"bing.com\",\r\n",
        "      \"port\": 80\r\n",
        "    },\r\n",
        "    \"monitoringIntervalInSeconds\": 30\r\n",
        "  }\r\n",
        "}"
      ],
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/6926fc75-ce7d-4c9e-a87f-c4e38c594eb5/providers/Microsoft.Network/locations/centraluseuap/operations/a74b8ed4-648d-49fa-8fb6-ace04e4a2f4c?api-version=2017-10-01",
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "x-ms-ratelimit-remaining-subscription-writes": "1198"
      },
      "ResponseBody": [
        "{\r\n",
        "  \"name\": \"cm\",\r\n",
        "  \"id\": \"/subscriptions/6926fc75-ce7d-4c9e-a87f-c4e38c594eb5/resourceGroups/azsmnet6495/providers/Microsoft.Network/networkWatchers/azsmnet5282/connectionMonitors/cm\",\r\n",
        "  \"etag\": \"W/\\\"41857a8e-4f79-4c92-9030-5d6855646126\\\"\",\r\n",
        "  \"properties\": {\r\n",
        "    \"provisioningState\": \"Updating\",\r\n",
        "    \"source\": {\r\n",
        "      \"resourceId\": \"/subscriptions/6926fc75-ce7d-4c9e-a87f-c4e38c594eb5/resourceGroups/azsmnet6495/providers/Microsoft.Compute/virtualMachines/azsmnet3294\",\r\n",
        "      \"port\": 0\r\n",
        "    },\r\n",
        "    \"destination\": {\r\n",
        "      \"address\": \"bing.com\",\r\n",
        "      \"port\": 80\r\n",
        "    },\r\n",
        "    \"monitoringIntervalInSeconds\": 30,\r\n",
        "    \"autoStart\": true,\r\n",
        "    \"monitoringStatus\": \"NotStarted\"\r\n",
        "  },\r\n",
        "  \"location\": \"centraluseuap\",\r\n",
        "  \"type\": \"Microsoft.Network/networkWatchers/connectionMonitors\"\r\n",
        "}"
      ]
    },
    {
      "RequestUri": "/subscriptions/6926fc75-ce7d-4c9e-a87f-c4e38c594eb5/providers/Microsoft.Network/locations/centraluseuap/operations/a74b8ed4-648d-49fa-8fb6-ace04e4a2f4c?api-version=2017-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": [],
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "x-ms-ratelimit-remaining-subscription-reads": "14943"
      },
      "ResponseBody": [
        "{\r\n",
        "  \"status\": \"InProgress\"\r\n",
        "}"
      ]
    },
[...]
    {
      "RequestUri": "/subscriptions/6926fc75-ce7d-4c9e-a87f-c4e38c594eb5/resourceGroups/azsmnet6495/providers/Microsoft.Network/networkWatchers/azsmnet5282/connectionMonitors/cm?api-version=2017-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": [],
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\"a1050629-1fc7-4f82-adef-a84c65043e48\"",
        "x-ms-ratelimit-remaining-subscription-reads": "14939"
      },
      "ResponseBody": [
        "{\r\n",
        "  \"name\": \"cm\",\r\n",
        "  \"id\": \"/subscriptions/6926fc75-ce7d-4c9e-a87f-c4e38c594eb5/resourceGroups/azsmnet6495/providers/Microsoft.Network/networkWatchers/azsmnet5282/connectionMonitors/cm\",\r\n",
        "  \"etag\": \"W/\\\"a1050629-1fc7-4f82-adef-a84c65043e48\\\"\",\r\n",
        "  \"properties\": {\r\n",
        "    \"provisioningState\": \"Succeeded\",\r\n",
        "    \"source\": {\r\n",
        "      \"resourceId\": \"/subscriptions/6926fc75-ce7d-4c9e-a87f-c4e38c594eb5/resourceGroups/azsmnet6495/providers/Microsoft.Compute/virtualMachines/azsmnet3294\",\r\n",
        "      \"port\": 0\r\n",
        "    },\r\n",
        "    \"destination\": {\r\n",
        "      \"address\": \"bing.com\",\r\n",
        "      \"port\": 80\r\n",
[...]
