{
  "Entries": [
    {
      "RequestUri": "https://f3395a15-535c-46ea-aaf4-db52915c248b.eastus2euap.cnt-canary.loadtesting.azure.com/tests/test-from-csharp-sdk-testing-framework?api-version=2022-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson"
      },
      "RequestBody": {
        "description": "This test was created through loadtesting C# SDK",
        "displayName": "Dotnet Testing Framework Loadtest",
        "loadTestConfig": {
          "engineInstance": 1,
          "splitAllCSVs": false
        },
        "secrets": {},
        "enviornmentVariables": {},
        "passFailCriteria": {
          "passFailMetrics": {}
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-07-01-preview, 2022-06-01-preview, 2022-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "a84702e7-fbde-4795-850e-d6df52e96e2c"
      },
      "ResponseBody": "{\u0022passFailCriteria\u0022:{\u0022passFailMetrics\u0022:{}},\u0022loadTestConfiguration\u0022:{\u0022engineInstances\u0022:1,\u0022splitAllCSVs\u0022:false,\u0022quickStartTest\u0022:false},\u0022inputArtifacts\u0022:{\u0022testScriptFileInfo\u0022:{\u0022url\u0022:\u0022https://maltccstorageaccounteuap.blob.core.windows.net/c9b97ab2-8306-47d3-9fc5-91c0fe8e3e2f/c7ba594f-25a6-4c91-a0b2-bd39d6f0f696?skoid=fe06edb5-033b-4f33-bef0-9489f8feffb8\u0026sktid=33e01921-4d64-4f8c-a055-5bdaffd5e33d\u0026skt=2023-01-11T09%3A04%3A46Z\u0026ske=2023-01-11T23%3A04%3A46Z\u0026sks=b\u0026skv=2021-08-06\u0026sv=2021-08-06\u0026se=2023-01-11T15%3A33%3A39Z\u0026sr=b\u0026sp=r\u0026sig=Sanitized test was created through loadtesting C# SDK\u0022,\u0022displayName\u0022:\u0022Dotnet Testing Framework Loadtest\u0022,\u0022createdDateTime\u0022:\u00222023-01-11T13:31:50.872Z\u0022,\u0022lastModifiedDateTime\u0022:\u00222023-01-11T14:33:39.619Z\u0022}"
    },
    {
      "RequestUri": "https://f3395a15-535c-46ea-aaf4-db52915c248b.eastus2euap.cnt-canary.loadtesting.azure.com/tests/test-from-csharp-sdk-testing-framework/files/sample.jmx?api-version=2022-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream"
      },
      "RequestBody": "PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4NCjxqbWV0ZXJUZXN0UGxhbiB2ZXJzaW9uPSIxLjIiIHByb3BlcnRpZXM9IjUuMCIgam1l[...]
    {
      "RequestUri": "https://f3395a15-535c-46ea-aaf4-db52915c248b.eastus2euap.cnt-canary.loadtesting.azure.com/tests/test-from-csharp-sdk-testing-framework/files/sample.jmx?api-version=2022-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-07-01-preview, 2022-06-01-preview, 2022-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "03d6210a-2274-47ef-a65a-a04c8bedb818"
      },
      "ResponseBody": {
        "url": "https://maltccstorageaccounteuap.blob.core.windows.net/c9b97ab2-8306-47d3-9fc5-91c0fe8e3e2f/f544289b-4927-4164-a606-4d49b93d66de?skoid=fe06edb5-033b-4f33-bef0-9489f8feffb8\u0026sktid=33e01921-4d64-4f8c-a055-5bdaffd5e33d\u0026skt=2023-01-11T09%3A09%3A04Z\u0026ske=2023-01-11T23%3A09%3A04Z\u0026sks=b\u0026skv=2021-08-06\u0026sv=2021-08-06\u0026se=2023-01-11T14%3A43%3A40Z\u0026sr=b\u0026sp=r\u0026sig=MuSs3tMF7uO%2Bgv3bY8%2FXDE5MuHtdGJZMh2GkQLT2QZk%3D",
        "fileName": "sample.jmx",
        "fileType": "JMX_FILE",
        "expireDateTime": "2023-01-11T14:43:40.79402",
        "validationStatus": "VALIDATION_INITIATED"
      }
    },
[...]
    {
      "RequestUri": "https://f3395a15-535c-46ea-aaf4-db52915c248b.eastus2euap.cnt-canary.loadtesting.azure.com/test-runs/test-run-from-csharp-sdk-testing-framework?api-version=2022-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson"
      },
      "RequestBody": {
        "testId": "test-from-csharp-sdk-testing-framework",
        "displayName": "Run created from dotnet testing framework"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-07-01-preview, 2022-06-01-preview, 2022-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://f3395a15-535c-46ea-aaf4-db52915c248b.eastus2euap.cnt-canary.loadtesting.azure.com/test-runs/test-run-from-csharp-sdk-testing-framework?api-version=2022-11-01",
        "mise-correlation-id": "1dbf31eb-7134-46d2-8a3c-60d712aedc4f"
      },
      "ResponseBody": "{\u0022passFailCriteria\u0022:{\u0022passFailMetrics\u0022:{}},\u0022loadTestConfiguration\u0022:{\u0022engineInstances\u0022:1,\u0022splitAllCSVs\u0022:false,\u0022quickStartTest\u0022:false},\u0022testArtifacts\u0022:{\u0022in[...]
    {
      "RequestUri": "https://f3395a15-535c-46ea-aaf4-db52915c248b.eastus2euap.cnt-canary.loadtesting.azure.com/test-runs/test-run-from-csharp-sdk-testing-framework/app-components?api-version=2022-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson"
      },
      "RequestBody": {
        "components": {
          "/subscriptions/7c71b563-0dc0-4bc0-bcf6-06f8f0516c7a/resourceGroups/App-Service-Sample-Demo-rg/providers/Microsoft.Web/sites/App-Service-Sample-Demo": {
            "resourceId": "/subscriptions/7c71b563-0dc0-4bc0-bcf6-06f8f0516c7a/resourceGroups/App-Service-Sample-Demo-rg/providers/Microsoft.Web/sites/App-Service-Sample-Demo",
            "resourceName": "App-Service-Sample-Demo",
            "resourceType": "Microsoft.Web/sites",
            "kind": "web"
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-07-01-preview, 2022-06-01-preview, 2022-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://f3395a15-535c-46ea-aaf4-db52915c248b.eastus2euap.cnt-canary.loadtesting.azure.com/test-runs/test-run-from-csharp-sdk-testing-framework/app-components?api-version=2022-11-01",
        "mise-correlation-id": "b0ebd306-0dbe-4c8f-864e-0ba158bd6010"
      },
      "ResponseBody": {
        "components": {
          "/subscriptions/7c71b563-0dc0-4bc0-bcf6-06f8f0516c7a/resourceGroups/App-Service-Sample-Demo-rg/providers/Microsoft.Web/sites/App-Service-Sample-Demo": {
            "resourceId": "/subscriptions/7c71b563-0dc0-4bc0-bcf6-06f8f0516c7a/resourceGroups/App-Service-Sample-Demo-rg/providers/Microsoft.Web/sites/App-Service-Sample-Demo",
            "resourceName": "App-Service-Sample-Demo",
            "resourceType": "Microsoft.Web/sites",
            "resourceGroup": "App-Service-Sample-Demo-rg",
            "subscriptionId": "7c71b563-0dc0-4bc0-bcf6-06f8f0516c7a",
            "kind": "web"
          }
        },
        "testRunId": "test-run-from-csharp-sdk-testing-framework",
        "createdDateTime": "2023-01-11T14:33:54.485Z",
        "lastModifiedDateTime": "2023-01-11T14:33:54.485Z"
      }
    },
    {
      "RequestUri": "https://f3395a15-535c-46ea-aaf4-db52915c248b.eastus2euap.cnt-canary.loadtesting.azure.com/test-runs/test-run-from-csharp-sdk-testing-framework/app-components?api-version=2022-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-07-01-preview, 2022-06-01-preview, 2022-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "75e8b419-1af2-4637-937b-b437a254a761"
      },
      "ResponseBody": {
        "components": {
          "/subscriptions/7c71b563-0dc0-4bc0-bcf6-06f8f0516c7a/resourceGroups/App-Service-Sample-Demo-rg/providers/Microsoft.Web/sites/App-Service-Sample-Demo": {
            "resourceId": "/subscriptions/7c71b563-0dc0-4bc0-bcf6-06f8f0516c7a/resourceGroups/App-Service-Sample-Demo-rg/providers/Microsoft.Web/sites/App-Service-Sample-Demo",
            "resourceName": "App-Service-Sample-Demo",
            "resourceType": "Microsoft.Web/sites",
            "resourceGroup": "App-Service-Sample-Demo-rg",
            "subscriptionId": "7c71b563-0dc0-4bc0-bcf6-06f8f0516c7a",
            "kind": "web"
          }
        },
        "testRunId": "test-run-from-csharp-sdk-testing-framework",
        "createdDateTime": "2023-01-11T14:33:54.485Z",
        "lastModifiedDateTime": "2023-01-11T14:33:54.485Z"
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com/",
    "LOADTESTSERVICE_ENDPOINT": "f3395a15-535c-46ea-aaf4-db52915c248b.eastus2euap.cnt-canary.loadtesting.azure.com",
    "LOADTESTSERVICE_RESOURCE_ID": "/subscriptions/7c71b563-0dc0-4bc0-bcf6-06f8f0516c7a/resourceGroups/App-Service-Sample-Demo-rg/providers/Microsoft.Web/sites/App-Service-Sample-Demo",
    "RandomSeed": "2040652037"
  }
}
