{
  "Entries": [
    {
      "RequestUri": "https://f878fc34-142f-4312-8577-a04c47da9c0b.eastasia.cnt-prod.loadtesting.azure.com/tests/test-from-csharp-sdk-testing-framework?api-version=2022-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson"
      },
      "RequestBody": {
        "description": "This test was created through loadtesting C# SDK",
        "displayName": "Dotnet Testing Framework Loadtest",
        "loadTestConfig": {
          "engineInstance": 1,
          "splitAllCSVs": false
        },
        "secrets": {},
        "enviornmentVariables": {},
        "passFailCriteria": {
          "passFailMetrics": {}
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-07-01-preview, 2022-06-01-preview, 2022-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "336a2a6e-6274-46d9-aa74-f831cc32d83f"
      },
      "ResponseBody": {
        "passFailCriteria": {
          "passFailMetrics": {}
        },
        "loadTestConfiguration": {
          "engineInstances": 1,
          "splitAllCSVs": false,
          "quickStartTest": false
        },
        "inputArtifacts": {
          "testScriptFileInfo": {
            "url": "https://maltccstorageaccounthk.blob.core.windows.net/d74dd94a-29ed-406b-9be3-6f70b11c5f6d/fb60017a-9b33-4fdd-a254-eed24a399aa2?skoid=fe06edb5-033b-4f33-bef0-9489f8feffb8\u0026sktid=33e01921-4d64-4f8c-a055-5bdaffd5e33d\u0026skt=2023-01-18T13%3A40%3A18Z\u0026ske=2023-01-19T03%3A40%3A18Z\u0026sks=b\u0026skv=2021-08-06\u0026sv=2021-08-06\u0026se=2023-01-18T19%3A06%3A53Z\u0026sr=b\u0026sp=r\u0026sig=Sanitized",
            "fileName": "sample.jmx",
            "fileType": "JMX_FILE",
            "expireDateTime": "2023-01-18T19:06:53.4547489",
            "validationStatus": "VALIDATION_SUCCESS"
          },
          "additionalFileInfo": []
        },
        "testId": "test-from-csharp-sdk-testing-framework",
        "description": "This test was created through loadtesting C# SDK",
        "displayName": "Dotnet Testing Framework Loadtest",
        "createdDateTime": "2023-01-18T18:00:35.29Z",
        "lastModifiedDateTime": "2023-01-18T18:06:53.448Z"
      }
    },
    {
      "RequestUri": "https://f878fc34-142f-4312-8577-a04c47da9c0b.eastasia.cnt-prod.loadtesting.azure.com/tests/test-from-csharp-sdk-testing-framework/files/sample.jmx?api-version=2022-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream"
      },
      "RequestBody": "PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4gPGptZXRlclRlc3RQbGFuIHZlcnNpb249IjEuMiIgcHJvcGVydGllcz0iNS4wIiBqbWV0ZXI9I[...]
[...]
    {
      "RequestUri": "https://f878fc34-142f-4312-8577-a04c47da9c0b.eastasia.cnt-prod.loadtesting.azure.com/test-runs/test-run-id-from-csharp-sdk?api-version=2022-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson"
      },
      "RequestBody": {
        "testId": "test-from-csharp-sdk-testing-framework",
        "displayName": "Run created from dotnet testing framework"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-07-01-preview, 2022-06-01-preview, 2022-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "21d08eac-1ff2-4786-beef-ab70c24d098b"
      },
      "ResponseBody": {
        "passFailCriteria": {
          "passFailMetrics": {}
        },
        "loadTestConfiguration": {
          "engineInstances": 1,
          "splitAllCSVs": false,
          "quickStartTest": false
        },
        "testArtifacts": {
          "inputArtifacts": {
            "configFileInfo": {
              "url": "https://maltccstorageaccounthk.blob.core.windows.net/d74dd94a-29ed-406b-9be3-6f70b11c5f6d/d4b0753b-3982-4fad-8681-54673d016916?skoid=fe06edb5-033b-4f33-bef0-9489f8feffb8\u0026sktid=33e01921-4d64-4f8c-a055-5bdaffd5e33d\u0026skt=2023-01-18T13%3A45%3A30Z\u0026ske=2023-01-19T03%3A45%3A30Z\u0026sks=b\u0026skv=2021-08-06\u0026sv=2021-08-06\u0026se=2023-01-18T19%3A07%3A05Z\u0026sr=b\u0026sp=r\u0026sig=Sanitized",
              "fileName": "config.yaml",
              "fileType": "ADDITIONAL_ARTIFACTS",
              "expireDateTime": "2023-01-18T19:07:05.2016291",
              "validationStatus": "VALIDATION_NOT_REQUIRED"
            },
            "testScriptFileInfo": {
              "url": "https://maltccstorageaccounthk.blob.core.windows.net/d74dd94a-29ed-406b-9be3-6f70b11c5f6d/fb60017a-9b33-4fdd-a254-eed24a399aa2?skoid=fe06edb5-033b-4f33-bef0-9489f8feffb8\u0026sktid=33e01921-4d64-4f8c-a055-5bdaffd5e33d\u0026skt=2023-01-18T13%3A45%3A30Z\u0026ske=2023-01-19T03%3A45%3A30Z\u0026sks=b\u0026skv=2021-08-06\u0026sv=2021-08-06\u0026se=2023-01-18T19%3A07%3A05Z\u0026sr=b\u0026sp=r\u0026sig=Sanitized",
              "fileName": "sample.jmx",
              "fileType": "JMX_FILE",
              "expireDateTime": "2023-01-18T19:07:05.2015574",
              "validationStatus": "VALIDATION_SUCCESS"
            },
            "inputArtifactsZipFileInfo": {
              "url": "https://maltccstorageaccounthk.blob.core.windows.net/d74dd94a-29ed-406b-9be3-6f70b11c5f6d/6d551e3e-a55a-49dc-ae9b-95721490dd7f?skoid=fe06edb5-033b-4f33-bef0-9489f8feffb8\u0026sktid=33e01921-4d64-4f8c-a055-5bdaffd5e33d\u0026skt=2023-01-18T13%3A45%3A30Z\u0026ske=2023-01-19T03%3A45%3A30Z\u0026sks=b\u0026skv=2021-08-06\u0026sv=2021-08-06\u0026se=2023-01-18T19%3A07%3A05Z\u0026sr=b\u0026sp=r\u0026sig=Sanitized",
              "fileName": "inputartifacts.zip",
              "fileType": "ADDITIONAL_ARTIFACTS",
              "expireDateTime": "2023-01-18T19:07:05.2016505",
              "validationStatus": "VALIDATION_NOT_REQUIRED"
            },
            "additionalFileInfo": []
          },
          "outputArtifacts": {}
        },
        "testResult": "NOT_APPLICABLE",
        "testRunId": "test-run-id-from-csharp-sdk",
        "displayName": "Run created from dotnet testing framework",
        "testId": "test-from-csharp-sdk-testing-framework",
        "status": "CONFIGURING",
        "startDateTime": "2023-01-18T18:06:52.096Z",
        "executedDateTime": "2023-01-18T18:06:51.686Z",
        "portalUrl": "https://portal.azure.com/#blade/Microsoft_Azure_CloudNativeTesting/NewReport//resourceId/%2fsubscriptions%2f7c71b563-0dc0-4bc0-bcf6-06f8f0516c7a%2fresourcegroups%2fnivedit-jain%2fproviders%2fmicrosoft.loadtestservice%2floadtests%2fsdktestingresource/testId/test-from-csharp-sdk-testing-framework/testRunId/test-run-id-from-csharp-sdk",
        "createdDateTime": "2023-01-18T18:06:51.991Z",
        "lastModifiedDateTime": "2023-01-18T18:07:05.193Z"
      }
    },
[...]
    {
      "RequestUri": "https://f878fc34-142f-4312-8577-a04c47da9c0b.eastasia.cnt-prod.loadtesting.azure.com/test-runs/test-run-id-from-csharp-sdk?api-version=2022-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-07-01-preview, 2022-06-01-preview, 2022-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "a00d5a0f-32ad-4bef-a07f-4d194086bcc4"
      },
      "ResponseBody": {
        "passFailCriteria": {
          "passFailMetrics": {}
        },
        "errorDetails": [
          {
            "message": "Processing error logs, please refresh to check actionable errors."
          }
        ],
        "loadTestConfiguration": {
          "engineInstances": 1,
          "splitAllCSVs": false,
          "quickStartTest": false
        },
        "testArtifacts": {
          "inputArtifacts": {
            "configFileInfo": {
              "url": "https://maltccstorageaccounthk.blob.core.windows.net/d74dd94a-29ed-406b-9be3-6f70b11c5f6d/d4b0753b-3982-4fad-8681-54673d016916?skoid=fe06edb5-033b-4f33-[...]
[...]
    {
      "RequestUri": "https://f878fc34-142f-4312-8577-a04c47da9c0b.eastasia.cnt-prod.loadtesting.azure.com/test-runs/test-run-id-from-csharp-sdk/metric-namespaces?api-version=2022-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-07-01-preview, 2022-06-01-preview, 2022-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "0299f0cf-ebf9-4789-b886-09ab1d500c92"
      },
      "ResponseBody": {
        "value": [
          {
            "description": "JMeter load test run metrics",
            "name": "LoadTestRunMetrics"
          },
          {
            "description": "Engine health metrics",
            "name": "EngineHealthMetrics"
          }
        ]
      }
    },
    {
      "RequestUri": "https://f878fc34-142f-4312-8577-a04c47da9c0b.eastasia.cnt-prod.loadtesting.azure.com/test-runs/test-run-id-from-csharp-sdk/metric-definitions?metricNamespace=LoadTestRunMetrics\u0026api-version=2022-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-07-01-preview, 2022-06-01-preview, 2022-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "5b15cfc9-1675-4cd8-8cfe-f63e2ace4e7d"
      },
      "ResponseBody": {
        "value": [
          {
            "dimensions": [
              {
                "description": "Request Name",
                "name": "RequestName"
              }
            ],
            "description": "No of concurrent virtual users",
            "name": "VirtualUsers",
            "namespace": "LoadTestRunMetrics",
            "primaryAggregationType": "Total",
            "supportedAggregationTypes": [
              "Total"
            ],
            "unit": "Count",
            "metricAvailabilities": [
              {
                "timeGrain": "PT5S"
              },
              {
                "timeGrain": "PT10S"
              },
              {
                "timeGrain": "PT1M"
              },
              {
                "timeGrain": "PT5M"
              },
              {
                "timeGrain": "PT1H"
              }
            ]
          },
          {
            "dimensions": [
              {
                "description": "Request Name",
                "name": "RequestName"
              }
            ],
[...]
