{
  "Entries": [
    {
      "RequestUri": "https://f3395a15-535c-46ea-aaf4-db52915c248b.eastus2euap.cnt-canary.loadtesting.azure.com/test-runs/test-run-id-from-csharp-sdk?api-version=2022-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
<<<<<<< HEAD
        "traceparent": "00-a8a1ad05b741e87ee45ebd4ff1ea6384-78267f4bf37fde27-00",
        "User-Agent": "azsdk-net-Developer.LoadTesting/1.0.0-alpha.20230116.1 (.NET 6.0.13; Linux 5.15.79.1-microsoft-standard-WSL2 #1 SMP Wed Nov 23 01:01:46 UTC 2022)",
        "x-ms-client-request-id": "bf03b3135fece5fb8d64cb7b60948bec",
=======
        "traceparent": "00-33039ef8f1a5bcb84cf9174dbc51a42e-32d0e1c4883242a5-00",
        "User-Agent": "azsdk-net-Developer.LoadTesting/1.0.0-alpha.20230117.1 (.NET 6.0.13; Microsoft Windows 10.0.22621)",
        "x-ms-client-request-id": "f116da1469101dbdfea68bd2ed0374e3",
>>>>>>> ga-sdk
        "x-ms-return-client-request-id": "true"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2021-07-01-preview, 2022-06-01-preview, 2022-11-01"
<<<<<<< HEAD
        "Date": "Mon, 16 Jan 2023 09:02:23 GMT",
        "mise-correlation-id": "0d24471d-fefe-478f-b2d4-68b908a40014",
        "Strict-Transport-Security": "max-age=15724800; includeSubDomains",
        "X-Content-Type-Options": "nosniff",
        "x-ms-correlation-request-id": "49572240-65d4-48fd-99ff-a27e2e54bd1d"
=======
        "Date": "Tue, 17 Jan 2023 18:57:20 GMT",
        "mise-correlation-id": "e77ffc2a-5251-40e9-8999-6d001903663f",
        "Strict-Transport-Security": "max-age=15724800; includeSubDomains",
        "X-Content-Type-Options": "nosniff",
        "x-ms-correlation-request-id": "3a55b79c-2256-47a1-aa10-8d2b773e03fa"
>>>>>>> ga-sdk
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://f3395a15-535c-46ea-aaf4-db52915c248b.eastus2euap.cnt-canary.loadtesting.azure.com/tests/test-from-csharp-sdk-testing-framework?api-version=2022-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson"
<<<<<<< HEAD
        "traceparent": "00-c6e80cf99cb0127646e048db49cee18b-c515879c066a3502-00",
        "User-Agent": "azsdk-net-Developer.LoadTesting/1.0.0-alpha.20230116.1 (.NET 6.0.13; Linux 5.15.79.1-microsoft-standard-WSL2 #1 SMP Wed Nov 23 01:01:46 UTC 2022)",
        "x-ms-client-request-id": "3b6b877769b53fae0d372a05bec639e5",
=======
        "traceparent": "00-4aca0bd1ce65b2ae368b00a655386cb4-26876c5f5ef813f5-00",
        "User-Agent": "azsdk-net-Developer.LoadTesting/1.0.0-alpha.20230117.1 (.NET 6.0.13; Microsoft Windows 10.0.22621)",
        "x-ms-client-request-id": "ded92e3f3072e98b77630d323e4b3f65",
>>>>>>> ga-sdk
        "x-ms-return-client-request-id": "true"
      },
      "RequestBody": {
        "description": "This test was created through loadtesting C# SDK",
        "displayName": "Dotnet Testing Framework Loadtest",
        "loadTestConfig": {
          "engineInstance": 1,
          "splitAllCSVs": false
        },
        "secrets": {},
        "enviornmentVariables": {},
        "passFailCriteria": {
          "passFailMetrics": {}
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-07-01-preview, 2022-06-01-preview, 2022-11-01",
        "Content-Type": "application/json; charset=utf-8"
<<<<<<< HEAD
        "Date": "Mon, 16 Jan 2023 09:02:23 GMT",
        "mise-correlation-id": "ca6aaf88-b0bf-466d-b365-a4223a0ad7f7",
        "Strict-Transport-Security": "max-age=15724800; includeSubDomains",
        "X-Content-Type-Options": "nosniff",
        "x-ms-correlation[...]
    {
      "RequestUri": "https://f3395a15-535c-46ea-aaf4-db52915c248b.eastus2euap.cnt-canary.loadtesting.azure.com/tests/test-from-csharp-sdk-testing-framework/files/sample.jmx?api-version=2022-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream"
<<<<<<< HEAD
        "traceparent": "00-f25546e421f33bc7e7a498b2257d7fcd-b915cdf3fff4d708-00",
        "User-Agent": "azsdk-net-Developer.LoadTesting/1[...]
    {
      "RequestUri": "https://f3395a15-535c-46ea-aaf4-db52915c248b.eastus2euap.cnt-canary.loadtesting.azure.com/tests/test-from-csharp-sdk-testing-framework/files/sample.jmx?api-version=2022-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
<<<<<<< HEAD
        "traceparent": "00-f25546e421f33bc7e7a498b2257d7fcd-02bf91f897e107ec-00",
        "User-Agent": "azsdk-net-Developer.LoadTesting/1.0.0-alpha.20230116.1 (.NET 6.0.13; Linux 5.15.79.1-microsoft-standard-WSL2 #1 SMP Wed Nov 23 01:01:46 UTC 2022)",
        "x-ms-client-request-id": "2743cf650023a98904c4b2b434f526c6",
=======
        "traceparent": "00-d025b6d5f6efd235af5df8af38e33dbb-f26433e7229c6f98-00",
        "User-Agent": "azsdk-net-Developer.LoadTesting/1.0.0-alpha.20230117.1 (.NET 6.0.13; Microsoft Windows 10.0.22621)",
        "x-ms-client-request-id": "168f78abfb3be3bf4e2c7aac5b8bdfb3",
        "x-ms-return-client-request-id": "true"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-07-01-preview, 2022-06-01-preview, 2022-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "73ac35c4-8704-42a1-b589-df53c190366d"
      },
      "ResponseBody": {
        "url": "https://maltccstorageaccounteuap.blob.core.windows.net/cf608bc1-06da-4f90-b4c1-600aa4c18e3d/a4e27c42-3660-401c-8405-49d70aa8ab6b?skoid=fe06edb5-033b-4f33-bef0-9489f8feffb8\u0026sktid=33e01921-4d64-4f8c-a055-5bdaffd5e33d\u0026skt=2023-01-17T17%3A12%3A10Z\u0026ske=2023-01-18T07%3A12%3A10Z\u0026sks=b\u0026skv=2021-08-06\u0026sv=2021-08-06\u0026se=2023-01-17T19%3A07%3A22Z\u0026sr=b\u0026sp=r\u0026sig=Sanitized",
        "fileName": "sample.jmx",
        "fileType": "JMX_FILE",
        "expireDateTime": "2023-01-17T19:07:22.7759548",
        "validationStatus": "VALIDATION_INITIATED"
      }
    },
[...]
    {
      "RequestUri": "https://f3395a15-535c-46ea-aaf4-db52915c248b.eastus2euap.cnt-canary.loadtesting.azure.com/test-runs/test-run-id-from-csharp-sdk?api-version=2022-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson"
<<<<<<< HEAD
        "traceparent": "00-d4138044322cce495f2c63a5174b4009-ca5e00749a2a4255-00",
        "User-Agent": "azsdk-net-Developer.LoadTesting/1.0.0-alpha.20230116.1 (.NET 6.0.13; Linux 5.15.79.1-microsoft-standard-WSL2 #1 SMP Wed Nov 23 01:01:46 UTC 2022)",
        "x-ms-client-request-id": "4f601416b9ccd788a212723772101be0",
=======
        "traceparent": "00-30d690cd99d6ed912389c288c446529b-ed1211abced2c872-00",
        "User-Agent": "azsdk-net-Developer.LoadTesting/1.0.0-alpha.20230117.1 (.NET 6.0.13; Microsoft Windows 10.0.22621)",
        "x-ms-client-request-id": "c6866e3128bbe029eb804e23f558c390",
>>>>>>> ga-sdk
        "x-ms-return-client-request-id": "true"
      },
      "RequestBody": {
        "testId": "test-from-csharp-sdk-testing-framework",
        "displayName": "Run created from dotnet testing framework"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-07-01-preview, 2022-06-01-preview, 2022-11-01",
        "Content-Type": "application/json; charset=utf-8"
<<<<<<< HEAD
        "Date": "Mon, 16 Jan 2023 09:02:37 GMT",
        "Location": "https://f3395a15-535c-46ea-aaf4-db52915c248b.eastus2euap.cnt-canary.loadtesting.azure.com/test-runs/test-run-id-from-csharp-sdk?api-version=2022-11-01",
        "mise-correlation-id": "8618e2f8-9883-427a-acb4-0a235cacaf4a",
        "Strict-Transport-Security": "max-age=15724800; includeSubDomains",
        "X-Content-Type-Options": "nosniff",
        "x-ms-correlation-request-id": "c2187802-2dff-404f-840e-0873a22be21f"
      },
      "ResponseBody": "{\u0022passFailCriteria\u0022:{\u0022passFa[...]
    {
      "RequestUri": "https://f3395a15-535c-46ea-aaf4-db52915c248b.eastus2euap.cnt-canary.loadtesting.azure.com/test-runs/test-run-id-from-csharp-sdk:stop?api-version=2022-11-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized"
<<<<<<< HEAD
        "traceparent": "00-9f629e6aac3c092cee7d28563f85c409-baf378ab1e454ff0-00",
        "User-Agent": "azsdk-net-Developer.LoadTesting/1.0.0-alpha.20230116.1 (.NET 6.0.13; Linux 5.15.79.1-microsoft-standard[...]
