{
  "Entries": [
    {
      "RequestUri": "/subscriptions/d7cfdb98-c118-458d-8bdf-246be66b1f5e/resourcegroups/cdnResourceGroup6826?api-version=2015-11-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"westus\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/d7cfdb98-c118-458d-8bdf-246be66b1f5e/resourceGroups/cdnResourceGroup6826\",\r\n  \"name\": \"cdnResourceGroup6826\",\r\n  \"location\": \"westus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/d7cfdb98-c118-458d-8bdf-246be66b1f5e/resourceGroups/cdnResourceGroup6826/providers/Microsoft.Cdn/profiles/profile2369?api-version=2020-09-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"sku\": {\r\n    \"name\": \"Standard_AzureFrontDoor\"\r\n  },\r\n  \"location\": \"WestUs\",\r\n  \"tags\": {\r\n    \"key1\": \"value1\",\r\n    \"key2\": \"value2\"\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Retry-After": [
          "10"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/d7cfdb98-c118-458d-8bdf-246be66b1f5e/resourcegroups/cdnResourceGroup6826/providers/Microsoft.Cdn/operationresults/aa99affe-91d9-4348-a006-7eddbcc0f483?api-version=2020-09-01"
        ],
        "x-ms-ratelimit-remaining-subscription-resource-requests": [
          "24"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/d7cfdb98-c118-458d-8bdf-246be66b1f5e/resourcegroups/cdnResourceGroup6826/providers/Microsoft.Cdn/profiles/profile2369\",\r\n  \"type\": \"Microsoft.Cdn/profiles\",\r\n  \"name\": \"profile2369\",\r\n  \"location\": \"WestUs\",\r\n  \"kind\": \"frontdoor\",\r\n  \"tags\": {\r\n    \"key1\": \"value1\",\r\n    \"key2\": \"value2\"\r\n  },\r\n  \"sku\": {\r\n    \"name\": \"Standard_AzureFrontDoor\"\r\n  },\r\n  \"properties\": {\r\n    \"frontDoorId\": \"b4b87d2f-e2f6-4378-8720-6fae4bcd639f\",\r\n    \"resourceState\": \"Creating\",\r\n    \"provisioningState\": \"Creating\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/d7cfdb98-c118-458d-8bdf-246be66b1f5e/resourcegroups/cdnResourceGroup6826/providers/Microsoft.Cdn/operationresults/aa99affe-91d9-4348-a006-7eddbcc0f483?api-version=2020-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"status\": \"Succeeded\",\r\n  \"error\": {\r\n    \"code\": \"None\",\r\n    \"message\": null\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/d7cfdb98-c118-458d-8bdf-246be66b1f5e/resourceGroups/cdnResourceGroup6826/providers/Microsoft.Cdn/profiles/profile2369/secrets/secretName8792?api-version=2020-09-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"parameters\": {\r\n      \"type\": \"CustomerCertificate\",\r\n      \"secretSource\": {\r\n        \"id\": \"/subscriptions/d7cfdb98-c118-458d-8bdf-246be66b1f5e/resourceGroups/cdn-powershell-test/providers/Microsoft.KeyVault/vaults/cdn-powershell-test-kv/certificates/cdn-powershell-test-cer\"\r\n      },\r\n      \"useLatestVersion\": true,\r\n      \"subjectAlternativeNames\": []\r\n    }\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Retry-After": [
          "10"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/d7cfdb98-c118-458d-8bdf-246be66b1f5e/resourcegroups/cdnResourceGroup6826/providers/Microsoft.Cdn/operationresults/8adcb195-04b2-4110-bf9b-aa06d2a4ce26?api-version=2020-09-01"
        ],
        "x-ms-ratelimit-remaining-subscription-resource-requests": [
          "99"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/d7cfdb98-c118-458d-8bdf-246be66b1f5e/resourcegroups/cdnResourceGroup6826/providers/Microsoft.Cdn/profiles/profile2369/secrets/secretName8792\",\r\n  \"type\": \"Microsoft.Cdn/profiles/secrets\",\r\n  \"name\": \"secretName8792\",\r\n  \"properties\": {\r\n    \"parameters\": {\r\n      \"type\": \"CustomerCertificate\",\r\n      \"subject\": null,\r\n      \"certificateAuthority\": null,\r\n      \"expirationDate\": null,\r\n      \"thumbprint\": null,\r\n      \"secretSource\": {\r\n        \"id\": \"/subscriptions/d7cfdb98-c118-458d-8bdf-246be66b1f5e/resourceGroups/cdn-powershell-test/providers/Microsoft.KeyVault/vaults/cdn-powershell-test-kv/certificates/cdn-powershell-test-cer\"\r\n      },\r\n      \"secretVersion\": null,\r\n      \"useLatestVersion\": true,\r\n      \"subjectAlternativeNames\": []\r\n    },\r\n    \"provisioningState\": \"Creating\",\r\n    \"deploymentStatus\": \"NotStarted\"\r\n  }\r\n}",
      "StatusCode": 201
    },
[...]
    {
      "RequestUri": "/subscriptions/d7cfdb98-c118-458d-8bdf-246be66b1f5e/resourceGroups/cdnResourceGroup6826/providers/Microsoft.Cdn/profiles/profile2369/customDomains/customDomainName4978?api-version=2020-09-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"tlsSettings\": {\r\n      \"certificateType\": \"CustomerCertificate\",\r\n      \"minimumTlsVersion\": \"TLS12\",\r\n      \"secret\": {\r\n        \"id\": \"/subscriptions/d7cfdb98-c118-458d-8bdf-246be66b1f5e/resourcegroups/cdnResourceGroup6826/providers/Microsoft.Cdn/profiles/profile2369/secrets/secretName8792\"\r\n      }\r\n    },\r\n    \"hostName\": \"csharpsdk.dev.cdn.azure.cn\"\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Retry-After": [
          "10"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/d7cfdb98-c118-458d-8bdf-246be66b1f5e/resourcegroups/cdnResourceGroup6826/providers/Microsoft.Cdn/operationresults/992a546c-b5f6-44c5-9a1a-7d0e38e331cb?api-version=2020-09-01"
        ],
        "x-ms-ratelimit-remaining-subscription-resource-requests": [
          "99"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/d7cfdb98-c118-458d-8bdf-246be66b1f5e/resourcegroups/cdnResourceGroup6826/providers/Microsoft.Cdn/profiles/profile2369/customdomains/customDomainName4978\",\r\n  \"type\": \"Microsoft.Cdn/profiles/customdomains\",\r\n  \"name\": \"customDomainName4978\",\r\n  \"properties\": {\r\n    \"hostName\": \"csharpsdk.dev.cdn.azure.cn\",\r\n    \"tlsSettings\": {\r\n      \"certificateType\": \"CustomerCertificate\",\r\n      \"minimumTlsVersion\": \"TLS12\",\r\n      \"secret\": {\r\n        \"id\": \"/subscriptions/d7cfdb98-c118-458d-8bdf-246be66b1f5e/resourcegroups/cdnResourceGroup6826/providers/Microsoft.Cdn/profiles/profile2369/secrets/secretName8792\"\r\n      }\r\n    },\r\n    \"validationProperties\": {\r\n      \"validationToken\": null,\r\n      \"expirationDate\": \"01/01/0001 00:00:00\"\r\n    },\r\n    \"azureDnsZone\": null,\r\n    \"domainValidationState\": \"Submitting\",\r\n    \"provisioningState\": \"Creating\",\r\n    \"deploymentStatus\": \"NotStarted\"\r\n  }\r\n}",
      "StatusCode": 201
    },
[...]
    {
      "RequestUri": "/subscriptions/d7cfdb98-c118-458d-8bdf-246be66b1f5e/resourcegroups/cdnResourceGroup6826?api-version=2015-11-01",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/d7cfdb98-c118-458d-8bdf-246be66b1f5e/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1DRE5SRVNPVVJDRUdST1VQNjgyNi1XRVNUVVMiLCJqb2JMb2NhdGlvbiI6Indlc3R1cyJ9?api-version=2015-11-01"
        ],
        "Retry-After": [
          "15"
        ],
        "x-ms-ratelimit-remaining-subscription-deletes": [
          "14999"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 202
    }
  ],
  "Names": {
    "CreateResourceGroup": [
      "cdnResourceGroup6826"
    ],
    "AFDCustomDomainCreateTest": [
      "profile2369",
      "secretName8792",
      "customDomainName4978"
    ]
  },
  "Variables": {
    "SubscriptionId": "d7cfdb98-c118-458d-8bdf-246be66b1f5e"
  }
}