{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Compute/locations/westus/publishers/Microsoft.Compute/artifacttypes/vmextension/types/VMAccessAgent/versions/2.4.5?api-version=2019-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "8856"
      },
      "ResponseBody": [
        "{\r\n",
        "  \u0022properties\u0022: {\r\n",
        "    \u0022operatingSystem\u0022: \u0022Windows\u0022,\r\n",
        "    \u0022computeRole\u0022: \u0022IaaS\u0022,\r\n",
        "    \u0022vmScaleSetEnabled\u0022: false,\r\n",
        "    \u0022supportsMultipleExtensions\u0022: false,\r\n",
        "    \u0022rollbackSupported\u0022: false,\r\n",
        "    \u0022isJsonExtension\u0022: true\r\n",
        "  },\r\n",
        "  \u0022location\u0022: \u0022westus\u0022,\r\n",
        "  \u0022name\u0022: \u00222.4.5\u0022,\r\n",
        "  \u0022id\u0022: \u0022/Subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/Providers/Microsoft.Compute/Locations/westus/Publishers/Microsoft.Compute/ArtifactTypes/VMExtension/Types/VMAccessAgent/Versions/2.4.5\u0022\r\n",
        "}"
      ]
    }
  ],
  "Variables": {
    "RandomSeed": "410855733",
    "SUBSCRIPTION_ID": "db1ab6f0-4769-4b27-930e-01e2ef9c123c"
  }
}