{
  "Entries": [
    {
      "RequestUri": "/v1/apps/DEMO_APP/events/%24all?timespan=P1D&$top=10",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-api-key": [
          "DEMO_KEY"
        ],
        "prefer": [
          "response-v1=true"
        ],
        "x-ms-app": [
          "csharpsdk"
        ]
      },
      "ResponseBody": "{\r\n  \"@odata.context\": \"https://api.applicationinsights.io/v1/apps/DEMO_APP/events/$metadata#Collection(Edm.EntityType)\",\r\n  \"value\": [\r\n    {\r\n      \"id\": \"71cc0c07-c4b2-11e7-a91f-5bf3105ea323\",\r\n      \"type\": \"availabilityResult\",\r\n      \"count\": 1,\r\n      \"timestamp\": \"2017-11-08T18:27:04.251Z\",\r\n      \"availabilityResult\": {\r\n        \"id\": \"18d1e035-d69e-46b3-8c9a-612630ce446e\",\r\n        \"name\": \"Fabrikam Web App Reports\",\r\n        \"success\": \"1\",\r\n        \"duration\": 56,\r\n        \"performanceBucket\": \"\",\r\n        \"message\": \"Passed\",\r\n        \"location\": \"US : CA-San Jose\",\r\n        \"size\": null\r\n      },\r\n      \"customDimensions\": {\r\n        \"FullTestResultAvailable\": \"false\"\r\n      },\r\n      \"customMeasurements\": null,\r\n      \"operation\": {\r\n        \"name\": \"\",\r\n        \"id\": \"\",\r\n        \"parentId\": \"\",\r\n        \"syntheticSource\": \"\"\r\n      },\r\n      \"session\": {\r\n        \"id\": \"\"\r\n      },\r\n      \"user\": {\r\n        \"id\": \"\",\r\n        \"accountId\": null,\r\n        \"authenticatedId\": null\r\n      },\r\n      \"cloud\": {\r\n        \"roleName\": \"\",\r\n        \"roleInstance\": \"\"\r\n      },\r\n      \"ai\": {\r\n        \"iKey\": \"5a2e4e0c-e136-4a15-9824-90ba859b0a89\",\r\n        \"appName\": \"fabrikamprod\",\r\n        \"appId\": \"cf58dcfd-0683-487c-bc84-048789bca8e5\",\r\n        \"sdkVersion\": \"\"\r\n      },\r\n      \"application\": {\r\n        \"version\": \"\"\r\n      },\r\n      \"client\": {\r\n        \"model\": null,\r\n        \"os\": null,\r\n        \"type\": \"PC\",\r\n        \"browser\": null,\r\n        \"ip\": \"40.83.189.0\",\r\n        \"city\": \"San Jose\",\r\n        \"stateOrProvince\": \"California\",\r\n        \"countryOrRegion\": \"United States\"\r\n      }\r\n    },\r\n    {\r\n      \"id\": \"7cc68fe2-c4b2-11e7-80d6-358c94948698\",\r\n      \"type\": \"availabilityResult\",\r\n      \"count\": 1,\r\n      \"timestamp\": \"2017-11-08T18:26:59.745Z\",\r\n      \"availabilityResult\": {\r\n        \"id\": \"77eba573-82b1-4cfb-8f48-5ee278b38f23\",\r\n        \"name\": \"Fabrikam Web App Reports\",\r\n        \"success\": \"1\",\r\n        \"duration\": 402,\r\n        \"performanceBucket\": \"\",\r\n        \"message\": [...]
