{
  "Entries": [
    {
      "RequestUri": "/v1/apps/DEMO_APP/events/traces?timespan=P1D&$top=10",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-api-key": [
          "DEMO_KEY"
        ],
        "prefer": [
          "response-v1=true"
        ],
        "x-ms-app": [
          "csharpsdk"
        ]
      },
      "ResponseBody": "{\r\n  \"@odata.context\": \"https://api.applicationinsights.io/v1/apps/DEMO_APP/events/$metadata#traces\",\r\n  \"value\": [\r\n    {\r\n      \"id\": \"5f15175a-c4b2-11e7-90a6-31967fcd8bd2\",\r\n      \"type\": \"trace\",\r\n      \"count\": 1,\r\n      \"timestamp\": \"2017-11-08T18:26:28.906Z\",\r\n      \"customDimensions\": null,\r\n      \"customMeasurements\": null,\r\n      \"operation\": {\r\n        \"name\": \"GET /FabrikamProd/Employees/Create\",\r\n        \"id\": \"IDJZzKQkY1Q=\",\r\n        \"parentId\": \"|IDJZzKQkY1Q=.9b74e86a_\",\r\n        \"syntheticSource\": \"Application Insights Availability Monitoring\"\r\n      },\r\n      \"session\": {\r\n        \"id\": \"077523f7-0909-4278-9f65-28e28015c851\"\r\n      },\r\n      \"user\": {\r\n        \"id\": \"apac-sg-sin-azr_077523f7-0909-4278-9f65-28e28015c851\",\r\n        \"accountId\": null,\r\n        \"authenticatedId\": null\r\n      },\r\n      \"cloud\": {\r\n        \"roleName\": \"\",\r\n        \"roleInstance\": \"AIConnect2\"\r\n      },\r\n      \"ai\": {\r\n        \"iKey\": \"5a2e4e0c-e136-4a15-9824-90ba859b0a89\",\r\n        \"appName\": \"fabrikamprod\",\r\n        \"appId\": \"cf58dcfd-0683-487c-bc84-048789bca8e5\",\r\n        \"sdkVersion\": \"sd:2.4.0-27567\"\r\n      },\r\n      \"trace\": {\r\n        \"message\": \"New Request Received\",\r\n        \"severityLevel\": 0\r\n      },\r\n      \"application\": {\r\n        \"version\": \"\"\r\n      },\r\n      \"client\": {\r\n        \"model\": null,\r\n        \"os\": null,\r\n        \"type\": \"PC\",\r\n        \"browser\": null,\r\n        \"ip\": \"52.187.30.0\",\r\n        \"city\": \"Singapore\",\r\n        \"stateOrProvince\": \"Central Singapore Community Development Council\",\r\n        \"countryOrRegion\": \"Singapore\"\r\n      }\r\n    },\r\n    {\r\n      \"id\": \"4784123e-c4b2-11e7-90d1-fd4615d10b58\",\r\n      \"type\": \"trace\",\r\n      \"count\": 1,\r\n      \"timestamp\": \"2017-11-08T18:25:50.473Z\",\r\n      \"customDimensions\": null,\r\n      \"customMeasurements\": null,\r\n      \"operation\": {\r\n        \"name\": \"GET /\",\r\n        \"id\": \"PI4k4P069O0=\",\r\n        \"parentId\": \"|PI4k4P069O0=.bbc126dd_\",\r\n        \"syntheticSource\": \"Application Insights Availabil[...]
    {
      "RequestUri": "/v1/apps/DEMO_APP/events/traces/5f15175a-c4b2-11e7-90a6-31967fcd8bd2",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-api-key": [
          "DEMO_KEY"
        ],
        "prefer": [
          "response-v1=true"
        ],
        "x-ms-app": [
          "csharpsdk"
        ]
      },
      "ResponseBody": "{\r\n  \"@odata.context\": \"https://api.applicationinsights.io/v1/apps/DEMO_APP/events/traces/$metadata#traces\",\r\n  [...]
