{
  "Entries": [
    {
      "RequestUri": "https://personalizersdktestrecordersingleslot.cognitiveservices.azure.com/personalizer/v1.1-preview.1/configurations/service",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "rewardWaitTime": "PT5S",
        "defaultReward": 0.0,
        "rewardAggregation": "earliest",
        "explorationPercentage": 0.2,
        "modelExportFrequency": "PT5M",
        "logRetentionDays": 90,
        "lastConfigurationEditDate": "2021-08-04T16:27:28",
        "learningMode": "Online",
        "isAutoOptimizationEnabled": true,
        "autoOptimizationFrequency": "P28D",
        "autoOptimizationStartDate": "2021-08-18T21:43:47"
      }
    },
    {
      "RequestUri": "https://personalizersdktestrecordersingleslot.cognitiveservices.azure.com/personalizer/v1.1-preview.1/configurations/service",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "rewardWaitTime": "PT5S",
        "defaultReward": 0.0,
        "rewardAggregation": "earliest",
        "explorationPercentage": 0.2,
        "modelExportFrequency": "PT5M",
        "logRetentionDays": 90,
        "lastConfigurationEditDate": "2021-08-04T16:27:28",
        "learningMode": "Online",
        "isAutoOptimizationEnabled": true,
        "autoOptimizationFrequency": "P28D",
        "autoOptimizationStartDate": "2021-08-18T21:43:47"
      }
    }
  ],
  "Variables": {
    "PERSONALIZER_API_KEY_SINGLE_SLOT": "Sanitized",
    "PERSONALIZER_ENDPOINT_SINGLE_SLOT": "https://personalizersdktestrecordersingleslot.cognitiveservices.azure.com",
    "RandomSeed": "556164204"
  }
}