{
  "Entries": [
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/secrets/557458882?api-version=7.4-preview.1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/secrets/557458882?api-version=7.4-preview.1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "value": "value"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": "value",
        "id": "https://heathskeyvault.vault.azure.net/secrets/557458882/9303a6ce8645475086cd3f327f7695bc",
        "attributes": {
          "enabled": true,
          "created": 1667258293,
          "updated": 1667258293,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/secrets/557458882?api-version=7.4-preview.1",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://heathskeyvault.vault.azure.net/deletedsecrets/557458882",
        "deletedDate": 1667258293,
        "scheduledPurgeDate": 1667863093,
        "id": "https://heathskeyvault.vault.azure.net/secrets/557458882/9303a6ce8645475086cd3f327f7695bc",
        "attributes": {
          "enabled": true,
          "created": 1667258293,
          "updated": 1667258293,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/deletedsecrets/557458882?api-version=7.4-preview.1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://heathskeyvault.vault.azure.net/deletedsecrets/557458882",
        "deletedDate": 1667258293,
        "scheduledPurgeDate": 1667863093,
        "id": "https://heathskeyvault.vault.azure.net/secrets/557458882/9303a6ce8645475086cd3f327f7695bc",
        "attributes": {
          "enabled": true,
          "created": 1667258293,
          "updated": 1667258293,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7
        }
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com/",
    "AZURE_KEYVAULT_URL": "https://heathskeyvault.vault.azure.net/",
    "RandomSeed": "1763791410"
  }
}
