{
  "Entries": [
    {
      "RequestUri": "https://pakrym-keyvault.vault.azure.net/secrets/449688869?api-version=7.0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "value": "0"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": "0",
        "id": "https://pakrym-keyvault.vault.azure.net/secrets/449688869/981d23160dc444b2802f31f38678724a",
        "attributes": {
          "enabled": true,
          "created": 1560804354,
          "updated": 1560804354,
          "recoveryLevel": "Recoverable\u002bPurgeable"
        }
      }
    },
[...]
    {
      "RequestUri": "https://pakrym-keyvault.vault.azure.net/secrets/449688869/versions?api-version=7.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "https://pakrym-keyvaul[...]
    {
      "RequestUri": "https://pakrym-keyvault.vault.azure.net/secrets/449688869/versions?api-version=7.0\u0026$skiptoken=eyJOZXh0TWFya2VyIjoiMiExMjQhTURBd01EUTVJWE5sWTNKbGRDODBORGsyT0RnNE5qa3ZPREF3TWtOQ1FUbEJOVU00TkRRME4wRXpPRVZFTXprelFrVXpNRVV6UkVNaE1EQXdNREk0SVRrNU9Ua3RNVEl0TXpGVU1qTTZOVGs2TlRrdU9UazVPVGs1T1ZvaCIsIlRhcmdldExvY2F0aW9uIjowfQ",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
   [...]
    {
      "RequestUri": "https://pakrym-keyvault.vault.azure.net/secrets/449688869?api-version=7.0",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://pakrym-keyvault.vault.azure.net/deletedsecrets/449688869",
        "deletedDate": 1560804359,
        "scheduledPurgeDate": 1568580359,
        "id": "https://pakrym-keyvault.vault.azure.net/secrets/449688869/d2b3b5c847df43ffb2a59351bfa9136a",
        "attributes": {
          "enabled": true,
          "created": 1560804358,
          "updated": 1560804358,
          "recoveryLevel": "Recoverable\u002bPurgeable"
        }
      }
    },
    {
      "RequestUri": "https://pakrym-keyvault.vault.azure.net/deletedsecrets/449688869?api-version=7.0",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://pakrym-keyvault.vault.azure.net/",
    "RandomSeed": "1501598671"
  }
}