{
  "Entries": [
    {
      "RequestUri": "https://pakrym-keyvault.vault.azure.net/secrets/489076644?api-version=7.0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "value": "0"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": "0",
        "id": "https://pakrym-keyvault.vault.azure.net/secrets/489076644/d8c8919835f54ef2bcd10b2bd14feb4e",
        "attributes": {
          "enabled": true,
          "created": 1559922231,
          "updated": 1559922231,
          "recoveryLevel": "Recoverable\u002bPurgeable"
        }
      }
    },
[...]
    {
      "RequestUri": "https://pakrym-keyvault.vault.azure.net/secrets/489076644/versions?api-version=7.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "https://pakrym-keyvaul[...]
    {
      "RequestUri": "https://pakrym-keyvault.vault.azure.net/secrets/489076644/versions?api-version=7.0\u0026$skiptoken=eyJOZXh0TWFya2VyIjoiMiExMjQhTURBd01EUTVJWE5sWTNKbGRDODBPRGt3TnpZMk5EUXZPVEkyT1RZelJEZzBOemxCTkRjMVJVSXdOalU0UVRORU5UUTJNRGd5UWpraE1EQXdNREk0SVRrNU9Ua3RNVEl0TXpGVU1qTTZOVGs2TlRrdU9UazVPVGs1T1ZvaCIsIlRhcmdldExvY2F0aW9uIjowfQ",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
   [...]
    {
      "RequestUri": "https://pakrym-keyvault.vault.azure.net/secrets/489076644?api-version=7.0",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://pakrym-keyvault.vault.azure.net/deletedsecrets/489076644",
        "deletedDate": 1559922236,
        "scheduledPurgeDate": 1567698236,
        "id": "https://pakrym-keyvault.vault.azure.net/secrets/489076644/e2fb8ae2f948429ba992c05caaafa6bf",
        "attributes": {
          "enabled": true,
          "created": 1559922236,
          "updated": 1559922236,
          "recoveryLevel": "Recoverable\u002bPurgeable"
        }
      }
    },
    {
      "RequestUri": "https://pakrym-keyvault.vault.azure.net/deletedsecrets/489076644?api-version=7.0",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://pakrym-keyvault.vault.azure.net/",
    "RandomSeed": "493254650"
  }
}