{
  "Entries": [
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/secrets/restore?api-version=7.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/secrets/restore?api-version=7.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "value": "bm9uLWV4aXN0aW5n"
      },
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "Malformed backup blob",
          "message": "Backup blob is corrupt."
        }
      }
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://heathskeyvault.vault.azure.net/",
    "RandomSeed": "1024482324"
  }
}