{
  "Entries": [
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/secrets/1620254728?api-version=7.4-preview.1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/secrets/1620254728?api-version=7.4-preview.1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "value": "CrudWithExtendedPropsValue1",
        "contentType": "password",
        "attributes": {
          "nbf": 1564536012,
          "exp": 1567128012
        },
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": "CrudWithExtendedPropsValue1",
        "contentType": "password",
        "id": "https://heathskeyvault.vault.azure.net/secrets/1620254728/188e486e81784dd78a76a9032ecf8304",
        "attributes": {
          "enabled": true,
          "nbf": 1564536012,
          "exp": 1567128012,
          "created": 1667258338,
          "updated": 1667258338,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7
        },
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/secrets/1620254728/?api-version=7.4-preview.1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": "CrudWithExtendedPropsValue1",
        "contentType": "password",
        "id": "https://heathskeyvault.vault.azure.net/secrets/1620254728/188e486e81784dd78a76a9032ecf8304",
        "attributes": {
          "enabled": true,
          "nbf": 1564536012,
          "exp": 1567128012,
          "created": 1667258338,
          "updated": 1667258338,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7
        },
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/secrets/1620254728?api-version=7.4-preview.1",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://heathskeyvault.vault.azure.net/deletedsecrets/1620254728",
        "deletedDate": 1667258338,
        "scheduledPurgeDate": 1667863138,
        "contentType": "password",
        "id": "https://heathskeyvault.vault.azure.net/secrets/1620254728/188e486e81784dd78a76a9032ecf8304",
        "attributes": {
          "enabled": true,
          "nbf": 1564536012,
          "exp": 1567128012,
          "created": 1667258338,
          "updated": 1667258338,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7
        },
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com/",
    "AZURE_KEYVAULT_URL": "https://heathskeyvault.vault.azure.net/",
    "RandomSeed": "1957457013"
  }
}
