{
  "Entries": [
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/secrets/428249963?api-version=7.2",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/secrets/428249963?api-version=7.2",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "value": "value1"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": "value1",
        "id": "https://heathskeyvault.vault.azure.net/secrets/428249963/8e13564cdc9f4e0c8fb0003aabb5090d",
        "attributes": {
          "enabled": true,
          "created": 1613783110,
          "updated": 1613783110,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "recoverableDays": 90
        }
      }
    },
[...]
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/secrets/428249963/e68d43f172b040ac947a7054941dc023?api-version=7.2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": "value2",
        "id": "https://heathskeyvault.vault.azure.net/secrets/428249963/e68d43f172b040ac947a7054941dc023",
        "attributes": {
          "enabled": true,
          "created": 1613783110,
          "updated": 1613783110,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "recoverableDays": 90
        }
      }
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://heathskeyvault.vault.azure.net/",
    "RandomSeed": "47720066"
  }
}