{
  "Entries": [
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/secrets/1518274412?api-version=7.1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/secrets/1518274412?api-version=7.1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "value": "CrudWithExtendedPropsValue1",
        "contentType": "password",
        "attributes": {
          "nbf": 1564536012,
          "exp": 1567128012
        },
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": "CrudWithExtendedPropsValue1",
        "contentType": "password",
        "id": "https://heathskeyvault.vault.azure.net/secrets/1518274412/9a51cce2c5a54d1d8de6e557772c1c70",
        "attributes": {
          "enabled": true,
          "nbf": 1564536012,
          "exp": 1567128012,
          "created": 1612561237,
          "updated": 1612561237,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "recoverableDays": 90
        },
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/secrets/1518274412/?api-version=7.1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": "CrudWithExtendedPropsValue1",
        "contentType": "password",
        "id": "https://heathskeyvault.vault.azure.net/secrets/1518274412/9a51cce2c5a54d1d8de6e557772c1c70",
        "attributes": {
          "enabled": true,
          "nbf": 1564536012,
          "exp": 1567128012,
          "created": 1612561237,
          "updated": 1612561237,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "recoverableDays": 90
        },
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/secrets/1518274412?api-version=7.1",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://heathskeyvault.vault.azure.net/deletedsecrets/1518274412",
        "deletedDate": 1612561237,
        "scheduledPurgeDate": 1620337237,
        "contentType": "password",
        "id": "https://heathskeyvault.vault.azure.net/secrets/1518274412/9a51cce2c5a54d1d8de6e557772c1c70",
        "attributes": {
          "enabled": true,
          "nbf": 1564536012,
          "exp": 1567128012,
          "created": 1612561237,
          "updated": 1612561237,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "recoverableDays": 90
        },
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      }
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://heathskeyvault.vault.azure.net/",
    "RandomSeed": "1479130513"
  }
}