{
  "Entries": [
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/secrets/691893969?api-version=7.4",
      "RequestMethod": "PUT",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/secrets/691893969?api-version=7.4",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "value": "CrudBasicValue1"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": "CrudBasicValue1",
        "id": "https://tcac7e9c41ef52cec.vault.azure.net/secrets/691893969/b3ee52d09f14499db1a8d731a1d818ce",
        "attributes": {
          "enabled": true,
          "created": 1677705399,
          "updated": 1677705399,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7
        }
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/secrets/691893969/b3ee52d09f14499db1a8d731a1d818ce?api-version=7.4",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "attributes": {
          "enabled": false
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "https://tcac7e9c41ef52cec.vault.azure.net/secrets/691893969/b3ee52d09f14499db1a8d731a1d818ce",
        "attributes": {
          "enabled": false,
          "created": 1677705399,
          "updated": 1677705399,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7
        }
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/secrets/691893969/?api-version=7.4",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 403,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "Forbidden",
          "message": "Operation get is not allowed on a disabled secret.",
          "innererror": {
            "code": "SecretDisabled"
          }
        }
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/secrets/691893969/b3ee52d09f14499db1a8d731a1d818ce?api-version=7.4",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "attributes": {
          "enabled": true
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "https://tcac7e9c41ef52cec.vault.azure.net/secrets/691893969/b3ee52d09f14499db1a8d731a1d818ce",
        "attributes": {
          "enabled": true,
          "created": 1677705399,
          "updated": 1677705399,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7
        }
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com/",
    "AZURE_KEYVAULT_URL": "https://tcac7e9c41ef52cec.vault.azure.net/",
    "RandomSeed": "247516581"
  }
}
