{
  "Entries": [
    {
      "RequestUri": "https://pakrym-keyvault.vault.azure.net/secrets/1014852356?api-version=7.0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "value": "CrudBasicValue1"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": "CrudBasicValue1",
        "id": "https://pakrym-keyvault.vault.azure.net/secrets/1014852356/e91f0c3a0f8c46e3a894a2403d9430f5",
        "attributes": {
          "enabled": true,
          "created": 1560877106,
          "updated": 1560877106,
          "recoveryLevel": "Recoverable\u002bPurgeable"
        }
      }
    },
    {
      "RequestUri": "https://pakrym-keyvault.vault.azure.net/secrets/1014852356/e91f0c3a0f8c46e3a894a2403d9430f5?api-version=7.0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "value": "CrudBasicValue1",
        "attributes": {
          "enabled": true,
          "exp": 1560877106
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "https://pakrym-keyvault.vault.azure.net/secrets/1014852356/e91f0c3a0f8c46e3a894a2403d9430f5",
        "attributes": {
          "enabled": true,
          "exp": 1560877106,
          "created": 1560877106,
          "updated": 1560877106,
          "recoveryLevel": "Recoverable\u002bPurgeable"
        }
      }
    },
    {
      "RequestUri": "https://pakrym-keyvault.vault.azure.net/secrets/1014852356?api-version=7.0",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://pakrym-keyvault.vault.azure.net/deletedsecrets/1014852356",
        "deletedDate": 1560877106,
        "scheduledPurgeDate": 1568653106,
        "id": "https://pakrym-keyvault.vault.azure.net/secrets/1014852356/e91f0c3a0f8c46e3a894a2403d9430f5",
        "attributes": {
          "enabled": true,
          "exp": 1560877106,
          "created": 1560877106,
          "updated": 1560877106,
          "recoveryLevel": "Recoverable\u002bPurgeable"
        }
      }
    },
    {
      "RequestUri": "https://pakrym-keyvault.vault.azure.net/deletedsecrets/1014852356?api-version=7.0",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://pakrym-keyvault.vault.azure.net/",
    "RandomSeed": "633319276"
  }
}