{
  "Entries": [
    {
      "RequestUri": "https://heathskvtest.vault.azure.net/secrets/1671762936?api-version=7.3-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://heathskvtest.vault.azure.net/secrets/1671762936?api-version=7.3-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "value": "test",
        "tags": {
          "A": "1",
          "B": "2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": "test",
        "id": "https://heathskvtest.vault.azure.net/secrets/1671762936/2549846cd28d46e4b2159517b13bf770",
        "attributes": {
          "enabled": true,
          "created": 1626221857,
          "updated": 1626221857,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "recoverableDays": 90
        },
        "tags": {
          "A": "1",
          "B": "2"
        }
      }
    },
    {
      "RequestUri": "https://heathskvtest.vault.azure.net/secrets/1671762936/2549846cd28d46e4b2159517b13bf770?api-version=7.3-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "attributes": {
          "enabled": true
        },
        "tags": {
          "A": "1",
          "B": "3",
          "C": "4"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "https://heathskvtest.vault.azure.net/secrets/1671762936/2549846cd28d46e4b2159517b13bf770",
        "attributes": {
          "enabled": true,
          "created": 1626221857,
          "updated": 1626221857,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "recoverableDays": 90
        },
        "tags": {
          "A": "1",
          "B": "3",
          "C": "4"
        }
      }
    },
    {
      "RequestUri": "https://heathskvtest.vault.azure.net/secrets/1671762936/2549846cd28d46e4b2159517b13bf770?api-version=7.3-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "attributes": {
          "enabled": true
        },
        "tags": {
          "D": "5"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "https://heathskvtest.vault.azure.net/secrets/1671762936/2549846cd28d46e4b2159517b13bf770",
        "attributes": {
          "enabled": true,
          "created": 1626221857,
          "updated": 1626221857,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "recoverableDays": 90
        },
        "tags": {
          "D": "5"
        }
      }
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://heathskvtest.vault.azure.net/",
    "RandomSeed": "756171147"
  }
}