{
  "Entries": [
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/secrets/955300954?api-version=7.2",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/secrets/955300954?api-version=7.2",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "value": "CrudBasicValue1"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": "CrudBasicValue1",
        "id": "https://heathskeyvault.vault.azure.net/secrets/955300954/e329e4b96da0457aae306cc4ab98e2bc",
        "attributes": {
          "enabled": true,
          "created": 1613782996,
          "updated": 1613782996,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "recoverableDays": 90
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/secrets/955300954/e329e4b96da0457aae306cc4ab98e2bc?api-version=7.2",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "attributes": {
          "enabled": false
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "https://heathskeyvault.vault.azure.net/secrets/955300954/e329e4b96da0457aae306cc4ab98e2bc",
        "attributes": {
          "enabled": false,
          "created": 1613782996,
          "updated": 1613782996,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "recoverableDays": 90
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/secrets/955300954/?api-version=7.2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 403,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "Forbidden",
          "message": "Operation get is not allowed on a disabled secret.",
          "innererror": {
            "code": "SecretDisabled"
          }
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvault.vault.azure.net/secrets/955300954/e329e4b96da0457aae306cc4ab98e2bc?api-version=7.2",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "attributes": {
          "enabled": true
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "https://heathskeyvault.vault.azure.net/secrets/955300954/e329e4b96da0457aae306cc4ab98e2bc",
        "attributes": {
          "enabled": true,
          "created": 1613782996,
          "updated": 1613782996,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "recoverableDays": 90
        }
      }
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://heathskeyvault.vault.azure.net/",
    "RandomSeed": "481290368"
  }
}