{
  "Entries": [
    {
      "RequestUri": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/788036017/create?api-version=7.4",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://managedhsm.azure.net\u0022",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/788036017/create?api-version=7.4",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA-HSM"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "309"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1677705933,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1677705933
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/788036017/0663556859420e580a506a54bd48eafa",
          "kty": "RSA-HSM",
          "n": "puVvQhgUxDm1rfDIViVIs76h-v2U1B_KeP748ovQEfTwrKm8Lbf4f9Pmb2Hkq7i6ItAynVadae_ASbIEagyTHE1InPcynnDp6enSkEpFMlxvAhJ2FueH4IRRWVq7NgjAnOeZmF_nszy2BWqGm8E7LHJ-5vAu84GjNSeWJPp4Os-UH8lKnB3zQmtXwuC4iXVUM40O_kpJWCvNj0aiarKP2PlPzbsXtekYlFBIZ4Po2YfT7pbGmOJLI6xfMvA8XTsw2n1_rllLNNur6lSWDN6ajKuZQAhno4hNj_n3msmC6PPfzOukOEGMfDv2yFECgXehWA6CRPutW3CuDyGNi73EHw"
        }
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/788036017/?api-version=7.4",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20230208-1-3e0fbecc-develop",
        "x-ms-server-latency": "14"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1677705933,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1677705933
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "verify",
            "sign",
            "unwrapKey",
            "decrypt",
            "encrypt",
            "wrapKey"
          ],
          "kid": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/788036017/0663556859420e580a506a54bd48eafa",
          "kty": "RSA-HSM",
          "n": "puVvQhgUxDm1rfDIViVIs76h-v2U1B_KeP748ovQEfTwrKm8Lbf4f9Pmb2Hkq7i6ItAynVadae_ASbIEagyTHE1InPcynnDp6enSkEpFMlxvAhJ2FueH4IRRWVq7NgjAnOeZmF_nszy2BWqGm8E7LHJ-5vAu84GjNSeWJPp4Os-UH8lKnB3zQmtXwuC4iXVUM40O_kpJWCvNj0aiarKP2PlPzbsXtekYlFBIZ4Po2YfT7pbGmOJLI6xfMvA8XTsw2n1_rllLNNur6lSWDN6ajKuZQAhno4hNj_n3msmC6PPfzOukOEGMfDv2yFECgXehWA6CRPutW3CuDyGNi73EHw"
        }
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com/",
    "AZURE_MANAGEDHSM_URL": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/",
    "RandomSeed": "938003765"
  }
}
