{
  "Entries": [
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/896215099/create?api-version=7.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://managedhsm.azure.net\u0022",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/896215099/create?api-version=7.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA",
        "key_size": 2048,
        "public_exponent": 3
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "845"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1612565090,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 90,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "updated": 1612565090
        },
        "key": {
          "e": "Aw",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/896215099/2677460c3f4647c7921f251a310bfe2f",
          "kty": "RSA-HSM",
          "n": "ny_8GRbdIU39Lh8tJsKvUKBVfwEWxSofF3JBZwo1I8GX_5bvb9HSkhAF0wrQ6kD9Lg1gATrGkX86l1WHcK23JzFAgaC5nfRvKHgfRGiAW1N_5mfP2hMDKjE-rkMA6U-IeSXL7zLje7OoeI4zYsZRzVd6foQUbLLuKBO1LzyWDfryNvXx1ua6AMSSv8YAUPKHDrtcpD9l20ei3IcNp1y_9XD7YZUEb4OfsYrw2X7kAt06sYSK9MxVxBHcKLbajPGGn_ivWJXJqF2rEYMr03uzC1H6bBplXSCCzcFr9DuSwTIuMMGQIigOhnSQfjY-VC6RMPm9G4ZDguCKqW8Yn09ZGQ"
        }
      }
    }
  ],
  "Variables": {
    "AZURE_MANAGEDHSM_URL": "https://heathskeyvaulthsm.managedhsm.azure.net/",
    "RandomSeed": "1646831272"
  }
}