{
  "Entries": [
    {
      "RequestUri": "https://heathskvtesthsm.managedhsm.azure.net/keys/909095943/create?api-version=7.3-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://managedhsm.azure.net\u0022",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://heathskvtesthsm.managedhsm.azure.net/keys/909095943/create?api-version=7.3-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC",
        "crv": "P-384"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "371"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1626298842,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 90,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "updated": 1626298842
        },
        "key": {
          "crv": "P-384",
          "key_ops": [
            "verify",
            "sign"
          ],
          "kid": "https://heathskvtesthsm.managedhsm.azure.net/keys/909095943/7132f5832b0100f7285ce37d7db965f7",
          "kty": "EC-HSM",
          "x": "2S0OwFbGpoyhFyEF1cnzp1s-zL8sWQPyZ_E6rrLSyVJgIX-P3G-4GS6n9ubiFAz3",
          "y": "V6apWNpQzEjwKSw3C7nItnHLmvXsNZ2eUEIvZXWXp28t0T1xM_iXjEzyuNMhMOWa"
        }
      }
    },
    {
      "RequestUri": "https://heathskvtesthsm.managedhsm.azure.net/keys/909095943/?api-version=7.3-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20210605-1-ffd80f31-develop",
        "x-ms-server-latency": "135"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1626298842,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 90,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "updated": 1626298842
        },
        "key": {
          "crv": "P-384",
          "key_ops": [
            "sign",
            "verify"
          ],
          "kid": "https://heathskvtesthsm.managedhsm.azure.net/keys/909095943/7132f5832b0100f7285ce37d7db965f7",
          "kty": "EC-HSM",
          "x": "2S0OwFbGpoyhFyEF1cnzp1s-zL8sWQPyZ_E6rrLSyVJgIX-P3G-4GS6n9ubiFAz3",
          "y": "V6apWNpQzEjwKSw3C7nItnHLmvXsNZ2eUEIvZXWXp28t0T1xM_iXjEzyuNMhMOWa"
        }
      }
    }
  ],
  "Variables": {
    "AZURE_MANAGEDHSM_URL": "https://heathskvtesthsm.managedhsm.azure.net/",
    "RandomSeed": "1523960530"
  }
}