{
  "Entries": [
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/1531573878/create?api-version=7.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://managedhsm.azure.net\u0022",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/1531573878/create?api-version=7.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC-HSM"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "287"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1604005156,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 90,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "updated": 1604005156
        },
        "key": {
          "crv": "P-256",
          "key_ops": [
            "verify",
            "sign"
          ],
          "kid": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/1531573878/832b75c456b002231536677a1c29da92",
          "kty": "EC-HSM",
          "x": "pD5jZL6gsCZnqlH0Yn7zvQri2U3XJiaUvBaRx692KQY",
          "y": "i8pd3PVw5UwaSnBL_IoABucjnmxukp762jV2s-6FVhI"
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/1531573878/?api-version=7.1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20200917-2-1617fc9c-develop",
        "x-ms-server-latency": "16"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1604005156,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 90,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "updated": 1604005156
        },
        "key": {
          "crv": "P-256",
          "key_ops": [
            "sign",
            "verify"
          ],
          "kid": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/1531573878/832b75c456b002231536677a1c29da92",
          "kty": "EC-HSM",
          "x": "pD5jZL6gsCZnqlH0Yn7zvQri2U3XJiaUvBaRx692KQY",
          "y": "i8pd3PVw5UwaSnBL_IoABucjnmxukp762jV2s-6FVhI"
        }
      }
    }
  ],
  "Variables": {
    "AZURE_MANAGEDHSM_URL": "https://heathskeyvaulthsm.managedhsm.azure.net/",
    "RandomSeed": "798177356"
  }
}