{
  "Entries": [
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/655627435/create?api-version=7.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://managedhsm.azure.net\u0022",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/655627435/create?api-version=7.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "263"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1612565192,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 90,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "updated": 1612565192
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/655627435/ac761ca60ce3046a8d5983afda5d35d6",
          "kty": "RSA-HSM",
          "n": "j1epqMcIZ31QQpvm2hl0wEe9XOncnnDOAwFaL_4rz5zzWe60S-zPCmUdYsrTS6wADIGKIq1ok0XLgq7naPzEAdTRPruKDdMF14MmPQyHCZ5q6fCZGUJUuiS36xCTGDgf0cWCMkpbgBi2mxV1zIh8Y6oXnC9KjsvOh2FzpRUo6Jh_ub9C-DekehOrVhNnymh4pC6BOAuHDfC_ZpmqZxKH3sYXnp5VvV29NYbvP4e3GRzkoRqpTUXSflc5563pvC46CwFdzFRCP6ZuuN-GlFCHjSHGECRmtSuuVL9zFec2avwvoTzglWPf70Ijq2yvKYBxSUCmh2Q1uTsQlN5PROvv5Q"
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/655627435/?api-version=7.1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20210128-1-4c3070d1-develop",
        "x-ms-server-latency": "119"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1612565192,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 90,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "updated": 1612565192
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "verify",
            "sign",
            "unwrapKey",
            "decrypt",
            "encrypt",
            "wrapKey"
          ],
          "kid": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/655627435/ac761ca60ce3046a8d5983afda5d35d6",
          "kty": "RSA-HSM",
          "n": "j1epqMcIZ31QQpvm2hl0wEe9XOncnnDOAwFaL_4rz5zzWe60S-zPCmUdYsrTS6wADIGKIq1ok0XLgq7naPzEAdTRPruKDdMF14MmPQyHCZ5q6fCZGUJUuiS36xCTGDgf0cWCMkpbgBi2mxV1zIh8Y6oXnC9KjsvOh2FzpRUo6Jh_ub9C-DekehOrVhNnymh4pC6BOAuHDfC_ZpmqZxKH3sYXnp5VvV29NYbvP4e3GRzkoRqpTUXSflc5563pvC46CwFdzFRCP6ZuuN-GlFCHjSHGECRmtSuuVL9zFec2avwvoTzglWPf70Ijq2yvKYBxSUCmh2Q1uTsQlN5PROvv5Q"
        }
      }
    }
  ],
  "Variables": {
    "AZURE_MANAGEDHSM_URL": "https://heathskeyvaulthsm.managedhsm.azure.net/",
    "RandomSeed": "1434068161"
  }
}