{
  "Entries": [
    {
      "RequestUri": "https://heathskvtesthsm.managedhsm.azure.net/keys/118887792/create?api-version=7.3-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://managedhsm.azure.net\u0022",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://heathskvtesthsm.managedhsm.azure.net/keys/118887792/create?api-version=7.3-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA-HSM"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "255"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1626298858,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 90,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "updated": 1626298858
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://heathskvtesthsm.managedhsm.azure.net/keys/118887792/5d267c6af2ab0e2db4ca9053f771b52c",
          "kty": "RSA-HSM",
          "n": "0Ar1yCq3uqkblmeeN3U5_oJYYu6mOVo4PzpkifQln-5_Qufz1-VULbYc5r1CcirFI7EUkb8AFATf2LcZ7pHIfsP6KMaSfdC-IsyfheXclVIGDGrebvPLbOD3O6gRVBuBIyEDTkhjTCQgxXlL09HZySTAPbALFMYCxf4zuwN8cY6R4zpp00m6bZ54Ro0PtxqFk3tvKoCdl25oDcdKdWAf5bE5vLEcH2WPOImawKO6faGTqQB2txW8x1_8ixG5p8s405J9gOQoph63mkIXDgNnKKemqpWYE2oRQw7clix2B418zNquHJLYVP_-uacg65pTgas8OvV1_gE9uY7H-DNxKQ"
        }
      }
    },
    {
      "RequestUri": "https://heathskvtesthsm.managedhsm.azure.net/keys/118887792/?api-version=7.3-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20210605-1-ffd80f31-develop",
        "x-ms-server-latency": "108"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1626298858,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 90,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "updated": 1626298858
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "verify",
            "sign",
            "unwrapKey",
            "decrypt",
            "encrypt",
            "wrapKey"
          ],
          "kid": "https://heathskvtesthsm.managedhsm.azure.net/keys/118887792/5d267c6af2ab0e2db4ca9053f771b52c",
          "kty": "RSA-HSM",
          "n": "0Ar1yCq3uqkblmeeN3U5_oJYYu6mOVo4PzpkifQln-5_Qufz1-VULbYc5r1CcirFI7EUkb8AFATf2LcZ7pHIfsP6KMaSfdC-IsyfheXclVIGDGrebvPLbOD3O6gRVBuBIyEDTkhjTCQgxXlL09HZySTAPbALFMYCxf4zuwN8cY6R4zpp00m6bZ54Ro0PtxqFk3tvKoCdl25oDcdKdWAf5bE5vLEcH2WPOImawKO6faGTqQB2txW8x1_8ixG5p8s405J9gOQoph63mkIXDgNnKKemqpWYE2oRQw7clix2B418zNquHJLYVP_-uacg65pTgas8OvV1_gE9uY7H-DNxKQ"
        }
      }
    }
  ],
  "Variables": {
    "AZURE_MANAGEDHSM_URL": "https://heathskvtesthsm.managedhsm.azure.net/",
    "RandomSeed": "1866943289"
  }
}