{
  "Entries": [
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/586353541/create?api-version=7.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://managedhsm.azure.net\u0022",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/586353541/create?api-version=7.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC",
        "crv": "P-521"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "415"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1613808626,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 90,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "updated": 1613808626
        },
        "key": {
          "crv": "P-521",
          "key_ops": [
            "verify",
            "sign"
          ],
          "kid": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/586353541/a90cf1db31920b9f86057f5934fbf496",
          "kty": "EC-HSM",
          "x": "ASOhF2utfDsTWrKEDIlnROAkXSIh3P-NIfQIpBK7jrZhfTWUhHFPDY05ergWMFt7S3HujaF31_kJb-jnagK8794E",
          "y": "AA4C782WATqKqnslAbb0_5JKQUJdUDeGhKrjRXIpbxxImMXR9lRZ5LYVguV4hezuFYkCz1Ea35-pXg2YrKQnksJE"
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/586353541/?api-version=7.2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20210204-1-c9f88df4-develop",
        "x-ms-server-latency": "153"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1613808626,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 90,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "updated": 1613808626
        },
        "key": {
          "crv": "P-521",
          "key_ops": [
            "sign",
            "verify"
          ],
          "kid": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/586353541/a90cf1db31920b9f86057f5934fbf496",
          "kty": "EC-HSM",
          "x": "ASOhF2utfDsTWrKEDIlnROAkXSIh3P-NIfQIpBK7jrZhfTWUhHFPDY05ergWMFt7S3HujaF31_kJb-jnagK8794E",
          "y": "AA4C782WATqKqnslAbb0_5JKQUJdUDeGhKrjRXIpbxxImMXR9lRZ5LYVguV4hezuFYkCz1Ea35-pXg2YrKQnksJE"
        }
      }
    }
  ],
  "Variables": {
    "AZURE_MANAGEDHSM_URL": "https://heathskeyvaulthsm.managedhsm.azure.net/",
    "RandomSeed": "1529913907"
  }
}