{
  "Entries": [
    {
      "RequestUri": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/1829974275/create?api-version=7.4",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://managedhsm.azure.net\u0022",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/1829974275/create?api-version=7.4",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "225"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1677706025,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1677706025
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/1829974275/c03af5d8749b44291e79b4c30ddb5d1f",
          "kty": "RSA-HSM",
          "n": "vq-2diYG6dcAQRQKbnVL9FRnKLsloHGo7rQxd3Rpnsp7EXzkvTrWH08lXXyaPTB63l2nxGXWzvc91FAqxePRGDSzSg0U8QEcmvqAt2fkum4K51tnErYnxfM_YOP9gMN2fvcdYlXQ7kUoA7vGa-WZnWjH5EYtoI5SHvLYz2ImfKX1K2aZu-2V4ZkDveaJNTvCGo3_W3ew_P1dBziYgoo6RpRXjvZJLJp_PwSc59nXYhFt3rfaPNgLBFp3ADGb1on92ev-q5cHVJaNdxnXaGLxAGkc8qy8xz24dDzyWLTzxKLeeRdR9eRaboKNmu3XJzUKmDF3Jr-fZm1JH9f3RAKNnQ"
        }
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/1829974275/?api-version=7.4",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20230208-1-3e0fbecc-develop",
        "x-ms-server-latency": "14"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1677706025,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1677706025
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "verify",
            "sign",
            "unwrapKey",
            "decrypt",
            "encrypt",
            "wrapKey"
          ],
          "kid": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/1829974275/c03af5d8749b44291e79b4c30ddb5d1f",
          "kty": "RSA-HSM",
          "n": "vq-2diYG6dcAQRQKbnVL9FRnKLsloHGo7rQxd3Rpnsp7EXzkvTrWH08lXXyaPTB63l2nxGXWzvc91FAqxePRGDSzSg0U8QEcmvqAt2fkum4K51tnErYnxfM_YOP9gMN2fvcdYlXQ7kUoA7vGa-WZnWjH5EYtoI5SHvLYz2ImfKX1K2aZu-2V4ZkDveaJNTvCGo3_W3ew_P1dBziYgoo6RpRXjvZJLJp_PwSc59nXYhFt3rfaPNgLBFp3ADGb1on92ev-q5cHVJaNdxnXaGLxAGkc8qy8xz24dDzyWLTzxKLeeRdR9eRaboKNmu3XJzUKmDF3Jr-fZm1JH9f3RAKNnQ"
        }
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com/",
    "AZURE_MANAGEDHSM_URL": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/",
    "RandomSeed": "963579571"
  }
}
