{
  "Entries": [
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/118887792/create?api-version=7.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://managedhsm.azure.net\u0022",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/118887792/create?api-version=7.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA-HSM"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "273"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1613808644,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 90,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "updated": 1613808644
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/118887792/298068385397462d2a27b82761e94495",
          "kty": "RSA-HSM",
          "n": "vvR8GN42smjzcY0vgW7_oCzuOXKF0C8aD3YAyK3Lu0MF1q-6ZGjItWASuDoBWa0TOci_LTRW3NafuFtt2iZEvbrP48yBStuHCleMxyEhnuJUVr2-ypkmtTYdV3dWAf3LY7kKi0agjhUyESH0zArkso5JShTkxKVLWotxr19smPtWe0mxju1G41HAuR-pUM2Xi0DiIqlnpa0E-6j0wDqEMZ6WgGz0ESizWiFCstfk88oRUdaDG5GCwQJCtMqFRZEn9feudn7QET4wp50QS_kCOpBFe7TkU7mFCLKSkxx3EYA9w4xPOv4Mix-DdSsvooa1xMatj_8Tw4qlQGpDOJ7bFw"
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/118887792/?api-version=7.2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20210204-1-c9f88df4-develop",
        "x-ms-server-latency": "125"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1613808644,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 90,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "updated": 1613808644
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "verify",
            "sign",
            "unwrapKey",
            "decrypt",
            "encrypt",
            "wrapKey"
          ],
          "kid": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/118887792/298068385397462d2a27b82761e94495",
          "kty": "RSA-HSM",
          "n": "vvR8GN42smjzcY0vgW7_oCzuOXKF0C8aD3YAyK3Lu0MF1q-6ZGjItWASuDoBWa0TOci_LTRW3NafuFtt2iZEvbrP48yBStuHCleMxyEhnuJUVr2-ypkmtTYdV3dWAf3LY7kKi0agjhUyESH0zArkso5JShTkxKVLWotxr19smPtWe0mxju1G41HAuR-pUM2Xi0DiIqlnpa0E-6j0wDqEMZ6WgGz0ESizWiFCstfk88oRUdaDG5GCwQJCtMqFRZEn9feudn7QET4wp50QS_kCOpBFe7TkU7mFCLKSkxx3EYA9w4xPOv4Mix-DdSsvooa1xMatj_8Tw4qlQGpDOJ7bFw"
        }
      }
    }
  ],
  "Variables": {
    "AZURE_MANAGEDHSM_URL": "https://heathskeyvaulthsm.managedhsm.azure.net/",
    "RandomSeed": "1866943289"
  }
}