{
  "Entries": [
    {
      "RequestUri": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/1509945041/create?api-version=7.4",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://managedhsm.azure.net\u0022",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/1509945041/create?api-version=7.4",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC",
        "crv": "P-384"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "308"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1677705917,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1677705917
        },
        "key": {
          "crv": "P-384",
          "key_ops": [
            "verify",
            "sign"
          ],
          "kid": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/1509945041/dcd717220ecf0e7f88023d6cc542da40",
          "kty": "EC-HSM",
          "x": "pRRxvSjPfFPQGMLuy5JCd_bvHpfnjxiW2N7REGHTaHy_XSTy7MU_GhsmikCMm-QB",
          "y": "9i7g6uqAuUMwk9PkHFV3fd5wcCyMtaaeQtJzK5W7ypKhTKU2FwSUwCsqOSVOiA5X"
        }
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/1509945041/?api-version=7.4",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20230208-1-3e0fbecc-develop",
        "x-ms-server-latency": "14"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1677705917,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1677705917
        },
        "key": {
          "crv": "P-384",
          "key_ops": [
            "sign",
            "verify"
          ],
          "kid": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/1509945041/dcd717220ecf0e7f88023d6cc542da40",
          "kty": "EC-HSM",
          "x": "pRRxvSjPfFPQGMLuy5JCd_bvHpfnjxiW2N7REGHTaHy_XSTy7MU_GhsmikCMm-QB",
          "y": "9i7g6uqAuUMwk9PkHFV3fd5wcCyMtaaeQtJzK5W7ypKhTKU2FwSUwCsqOSVOiA5X"
        }
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com/",
    "AZURE_MANAGEDHSM_URL": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/",
    "RandomSeed": "1355941804"
  }
}
