{
  "Entries": [
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/1381445577/create?api-version=7.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://managedhsm.azure.net\u0022",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/1381445577/create?api-version=7.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA",
        "key_size": 2048
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "263"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1613808505,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 90,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "updated": 1613808505
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/1381445577/34a67a13ea730aec97145adac39072fc",
          "kty": "RSA-HSM",
          "n": "qtsbB7TeZDAkRyh5z30yC3lp6y80b9J8atXzTWnSW36L-XB7MB4NFADnCkESHEgk17wZGSbSQxC46vyJkm_OrhTwVPLI9-LrdFSxbg5J3sHk2nWbPBYjVgWs0Nx_HFtzD8cuk4GSTxAD-abNkUsryIvlkoRr6zF4RvshWl8BYkhjIEHO0lVpLcEumhSWT0n4fAMr4_2FBYFl2xCopD36z6yc8Ze7BZZgtXAuqh27OHF2fmvkQnSTSffZF1nyAbCvIJ6H475zPOAXTgKgiXooU9bZBdr2qqtN2d8yXHm8fdEBczWZG3YWDGWQ5Y1g1AcxWmibamr1rgR6bp0CbYV4rw"
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/1381445577/?api-version=7.2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20210204-1-c9f88df4-develop",
        "x-ms-server-latency": "123"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1613808505,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 90,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "updated": 1613808505
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "verify",
            "sign",
            "unwrapKey",
            "decrypt",
            "encrypt",
            "wrapKey"
          ],
          "kid": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/1381445577/34a67a13ea730aec97145adac39072fc",
          "kty": "RSA-HSM",
          "n": "qtsbB7TeZDAkRyh5z30yC3lp6y80b9J8atXzTWnSW36L-XB7MB4NFADnCkESHEgk17wZGSbSQxC46vyJkm_OrhTwVPLI9-LrdFSxbg5J3sHk2nWbPBYjVgWs0Nx_HFtzD8cuk4GSTxAD-abNkUsryIvlkoRr6zF4RvshWl8BYkhjIEHO0lVpLcEumhSWT0n4fAMr4_2FBYFl2xCopD36z6yc8Ze7BZZgtXAuqh27OHF2fmvkQnSTSffZF1nyAbCvIJ6H475zPOAXTgKgiXooU9bZBdr2qqtN2d8yXHm8fdEBczWZG3YWDGWQ5Y1g1AcxWmibamr1rgR6bp0CbYV4rw"
        }
      }
    }
  ],
  "Variables": {
    "AZURE_MANAGEDHSM_URL": "https://heathskeyvaulthsm.managedhsm.azure.net/",
    "RandomSeed": "964569938"
  }
}