{
  "Entries": [
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/118887792/create?api-version=7.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://managedhsm.azure.net\u0022",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/118887792/create?api-version=7.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA-HSM"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "229"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1604005163,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 90,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "updated": 1604005163
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/118887792/e2920f0ddecd079003b346225b1dec01",
          "kty": "RSA-HSM",
          "n": "voqfcciSqvKkvIAQBvDnZlDaO4mUSVT9Ys9ysO6xDQG-VnvPeMskB-QcVN46raN9byEizDP3vaCIrvpyghwF-sdAQpA0Y-28FFDXnZDkhFp-hJ5kab-_ZO-bDTX4qVB_SqJq92I9mqCwIovRseStPBX-HPGZyJ5_UtmHZvsq9AUf4wvJFBJ8R8jnbKA5SFogAdvcu0tTrrSU9RbHZI1Yk_csJ53f-jnZMN70Az3gbBqRbfDjmg5gXaxklCO955SzcrIBio3TfPRgiS_9H5mTnCqJNtmT6YpzOWAuVoIyAz3Pv6vPMSEe633kxfmvkDB7ZxS1U-tCAKcU5q8gIPy9-w"
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/118887792/?api-version=7.1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20200917-2-1617fc9c-develop",
        "x-ms-server-latency": "16"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1604005163,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 90,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "updated": 1604005163
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "verify",
            "sign",
            "unwrapKey",
            "decrypt",
            "encrypt",
            "wrapKey"
          ],
          "kid": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/118887792/e2920f0ddecd079003b346225b1dec01",
          "kty": "RSA-HSM",
          "n": "voqfcciSqvKkvIAQBvDnZlDaO4mUSVT9Ys9ysO6xDQG-VnvPeMskB-QcVN46raN9byEizDP3vaCIrvpyghwF-sdAQpA0Y-28FFDXnZDkhFp-hJ5kab-_ZO-bDTX4qVB_SqJq92I9mqCwIovRseStPBX-HPGZyJ5_UtmHZvsq9AUf4wvJFBJ8R8jnbKA5SFogAdvcu0tTrrSU9RbHZI1Yk_csJ53f-jnZMN70Az3gbBqRbfDjmg5gXaxklCO955SzcrIBio3TfPRgiS_9H5mTnCqJNtmT6YpzOWAuVoIyAz3Pv6vPMSEe633kxfmvkDB7ZxS1U-tCAKcU5q8gIPy9-w"
        }
      }
    }
  ],
  "Variables": {
    "AZURE_MANAGEDHSM_URL": "https://heathskeyvaulthsm.managedhsm.azure.net/",
    "RandomSeed": "1866943289"
  }
}