{
  "Entries": [
    {
      "RequestUri": "https://heathskvtesthsm.managedhsm.azure.net/keys/586353541/create?api-version=7.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://managedhsm.azure.net\u0022",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://heathskvtesthsm.managedhsm.azure.net/keys/586353541/create?api-version=7.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC",
        "crv": "P-521"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "405"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1626228520,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 90,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "updated": 1626228520
        },
        "key": {
          "crv": "P-521",
          "key_ops": [
            "verify",
            "sign"
          ],
          "kid": "https://heathskvtesthsm.managedhsm.azure.net/keys/586353541/a13451f19db54d568b00a08aa7b4888b",
          "kty": "EC-HSM",
          "x": "AcKm5QAFdpPMT5gZqVBlxI3jH9VOTRDNtQxWxja4w8trzoI2bEHhBv4RGCTW_T3Bqwk5hT_t5b3VmDqlYVbjRWrv",
          "y": "ALQgNyFqYvmkpI_VDMmmFfuR76g-FsW0KcDdO_gYwn0pHzuCcg7Bf3Qbya7J_Ss16Sacgqy0C4UZQ3meTag16PMy"
        }
      }
    },
    {
      "RequestUri": "https://heathskvtesthsm.managedhsm.azure.net/keys/586353541/?api-version=7.2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20210605-1-ffd80f31-develop",
        "x-ms-server-latency": "107"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1626228520,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 90,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "updated": 1626228520
        },
        "key": {
          "crv": "P-521",
          "key_ops": [
            "sign",
            "verify"
          ],
          "kid": "https://heathskvtesthsm.managedhsm.azure.net/keys/586353541/a13451f19db54d568b00a08aa7b4888b",
          "kty": "EC-HSM",
          "x": "AcKm5QAFdpPMT5gZqVBlxI3jH9VOTRDNtQxWxja4w8trzoI2bEHhBv4RGCTW_T3Bqwk5hT_t5b3VmDqlYVbjRWrv",
          "y": "ALQgNyFqYvmkpI_VDMmmFfuR76g-FsW0KcDdO_gYwn0pHzuCcg7Bf3Qbya7J_Ss16Sacgqy0C4UZQ3meTag16PMy"
        }
      }
    }
  ],
  "Variables": {
    "AZURE_MANAGEDHSM_URL": "https://heathskvtesthsm.managedhsm.azure.net/",
    "RandomSeed": "1529913907"
  }
}