{
  "Entries": [
    {
      "RequestUri": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/832303742/create?api-version=7.4",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://managedhsm.azure.net\u0022",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/832303742/create?api-version=7.4",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC",
        "crv": "P-521"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "396"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1677706009,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1677706009
        },
        "key": {
          "crv": "P-521",
          "key_ops": [
            "verify",
            "sign"
          ],
          "kid": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/832303742/cbfd69ea07b34ae5b32509a1241eecb7",
          "kty": "EC-HSM",
          "x": "AST1sFKHWELKPY8QtWHWUD84hbt_seET70-KkKlrJT5bbAS8cRT6F4cs4pB4DNwRoKMATeCL4WQepxpzT2jArO5P",
          "y": "AE4HrA5V6xx3bl2I0BnXhepbqMoYijYaBUQw_lmwfMhrPwuh6zd7AIDtL8kuDKGfcyHOj1b9kmaZnC1nv1ZZdOCc"
        }
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/832303742/?api-version=7.4",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20230208-1-3e0fbecc-develop",
        "x-ms-server-latency": "14"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1677706009,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1677706009
        },
        "key": {
          "crv": "P-521",
          "key_ops": [
            "sign",
            "verify"
          ],
          "kid": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/832303742/cbfd69ea07b34ae5b32509a1241eecb7",
          "kty": "EC-HSM",
          "x": "AST1sFKHWELKPY8QtWHWUD84hbt_seET70-KkKlrJT5bbAS8cRT6F4cs4pB4DNwRoKMATeCL4WQepxpzT2jArO5P",
          "y": "AE4HrA5V6xx3bl2I0BnXhepbqMoYijYaBUQw_lmwfMhrPwuh6zd7AIDtL8kuDKGfcyHOj1b9kmaZnC1nv1ZZdOCc"
        }
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com/",
    "AZURE_MANAGEDHSM_URL": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/",
    "RandomSeed": "1374171345"
  }
}
