{
  "Entries": [
    {
      "RequestUri": "https://heathskvtesthsm.managedhsm.azure.net/keys/1381445577/create?api-version=7.3-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://managedhsm.azure.net\u0022",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://heathskvtesthsm.managedhsm.azure.net/keys/1381445577/create?api-version=7.3-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA",
        "key_size": 2048
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "245"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1626298757,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 90,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "updated": 1626298757
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://heathskvtesthsm.managedhsm.azure.net/keys/1381445577/44444ce0334d03b491dc630a2e0f24c1",
          "kty": "RSA-HSM",
          "n": "qlRAvyycPT4EQdavXR3lMxU5idZPiF_KSi7xl4d2-zBa74B_11KfrrYeVzzq1Ryit20JlwmngxgSKVtf7Mjx1cZiev2dC3Ft7h8bWMtQNibSTKaC3_RHBBgHRijovcG30bntu3tnmOuyXGvm6x4rrbiZBEzjNkKwOWwhPd9OTz2EZ2Q40ftJJUHpMV__X71p9zetbgya9Gk8zHIilYZZwliReovrjJgQZQ6MI8Int1GqNmEn-kqiMm00ESEz9VPBMv4PDDOG7AsRKU_0GqU3z4PyjeHn7KGCQIVEDUWOWGyWana-1I8BMqxMc5lmH7upbGD9NAiRNwkOO2EbiuTSHQ"
        }
      }
    },
    {
      "RequestUri": "https://heathskvtesthsm.managedhsm.azure.net/keys/1381445577/?api-version=7.3-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20210605-1-ffd80f31-develop",
        "x-ms-server-latency": "110"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1626298757,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 90,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "updated": 1626298757
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "verify",
            "sign",
            "unwrapKey",
            "decrypt",
            "encrypt",
            "wrapKey"
          ],
          "kid": "https://heathskvtesthsm.managedhsm.azure.net/keys/1381445577/44444ce0334d03b491dc630a2e0f24c1",
          "kty": "RSA-HSM",
          "n": "qlRAvyycPT4EQdavXR3lMxU5idZPiF_KSi7xl4d2-zBa74B_11KfrrYeVzzq1Ryit20JlwmngxgSKVtf7Mjx1cZiev2dC3Ft7h8bWMtQNibSTKaC3_RHBBgHRijovcG30bntu3tnmOuyXGvm6x4rrbiZBEzjNkKwOWwhPd9OTz2EZ2Q40ftJJUHpMV__X71p9zetbgya9Gk8zHIilYZZwliReovrjJgQZQ6MI8Int1GqNmEn-kqiMm00ESEz9VPBMv4PDDOG7AsRKU_0GqU3z4PyjeHn7KGCQIVEDUWOWGyWana-1I8BMqxMc5lmH7upbGD9NAiRNwkOO2EbiuTSHQ"
        }
      }
    }
  ],
  "Variables": {
    "AZURE_MANAGEDHSM_URL": "https://heathskvtesthsm.managedhsm.azure.net/",
    "RandomSeed": "964569938"
  }
}