{
  "Entries": [
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/1419784424/create?api-version=7.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://managedhsm.azure.net\u0022",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/1419784424/create?api-version=7.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA",
        "key_size": 2048
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "241"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1613808651,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 90,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "updated": 1613808651
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/1419784424/8b85b39cbbea0d119f5cd2cbca685800",
          "kty": "RSA-HSM",
          "n": "mNHCfWLOt1mLz6FIFY_GGbGqb2R9I-mJvzyP9ljJMFNBaucowNO2IhzyyalhRIfFWgoeYoPKFjZKGHfd6qWeBiouP6jAvwNIR3LEuTHMeUf2dZb4Y9bXDieuwyHMsb41GscESBkjR0K77If95KqtO2c-ECOmC2a1BK6ibGDhDbZovZIGaWJ-eDITL8wkxKP8Jw9knE3uyRX5orRtwXLh36-ngsi3dZcDPKfQPyzcEf5uMyBiURmbg715vp8VzSylrIrsw0wUiE1b1ZkWEVkq_XSTQVvb2-qjxG6Kv2a-PC0-y0qmneUPdCpLfTlVQ80DQ_CnMUnDj_z03beAkFgj6w"
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/1419784424/?api-version=7.2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20210204-1-c9f88df4-develop",
        "x-ms-server-latency": "121"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1613808651,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 90,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "updated": 1613808651
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "verify",
            "sign",
            "unwrapKey",
            "decrypt",
            "encrypt",
            "wrapKey"
          ],
          "kid": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/1419784424/8b85b39cbbea0d119f5cd2cbca685800",
          "kty": "RSA-HSM",
          "n": "mNHCfWLOt1mLz6FIFY_GGbGqb2R9I-mJvzyP9ljJMFNBaucowNO2IhzyyalhRIfFWgoeYoPKFjZKGHfd6qWeBiouP6jAvwNIR3LEuTHMeUf2dZb4Y9bXDieuwyHMsb41GscESBkjR0K77If95KqtO2c-ECOmC2a1BK6ibGDhDbZovZIGaWJ-eDITL8wkxKP8Jw9knE3uyRX5orRtwXLh36-ngsi3dZcDPKfQPyzcEf5uMyBiURmbg715vp8VzSylrIrsw0wUiE1b1ZkWEVkq_XSTQVvb2-qjxG6Kv2a-PC0-y0qmneUPdCpLfTlVQ80DQ_CnMUnDj_z03beAkFgj6w"
        }
      }
    }
  ],
  "Variables": {
    "AZURE_MANAGEDHSM_URL": "https://heathskeyvaulthsm.managedhsm.azure.net/",
    "RandomSeed": "1621801065"
  }
}