{
  "Entries": [
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/1437286660/create?api-version=7.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://managedhsm.azure.net\u0022",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/1437286660/create?api-version=7.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA-HSM"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "281"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1612565087,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 90,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "updated": 1612565087
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/1437286660/3f693f09d38f4a10283ceafd0e0453e3",
          "kty": "RSA-HSM",
          "n": "3rz9zTT4ze8EOQ8okZx_KCmA3_BJRAb3Pmco3NU_S5DNIXXP6nVibu2PNM1iZNw59a0j2bGEQ9m7N-v-S37v7eKCrxQakpXPsVmO1KFrbb4KR_Oo4coshhyqNEGBN-DPrrSs5zRgHaD0ZS7zwg4DESzpU1M0IOtapXUkSIt3WPhE--5nbbm_10P6i45fJNzvmT3L_pRfx9xh-pBgFc2OXk-frlozZfQjSiX82rYkF5lHF5AueVtOKiRp7K-klaNyD3voEX8jpZJtAuLvqnpC2ZjYnisYj4jxJm7Ixwl9ZXIlXiWI98ht2CPATA65fD2ijEFBmiGfAT7-4Yh3P1sfgw"
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/1437286660/?api-version=7.1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20210128-1-4c3070d1-develop",
        "x-ms-server-latency": "146"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1612565087,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 90,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "updated": 1612565087
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "verify",
            "sign",
            "unwrapKey",
            "decrypt",
            "encrypt",
            "wrapKey"
          ],
          "kid": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/1437286660/3f693f09d38f4a10283ceafd0e0453e3",
          "kty": "RSA-HSM",
          "n": "3rz9zTT4ze8EOQ8okZx_KCmA3_BJRAb3Pmco3NU_S5DNIXXP6nVibu2PNM1iZNw59a0j2bGEQ9m7N-v-S37v7eKCrxQakpXPsVmO1KFrbb4KR_Oo4coshhyqNEGBN-DPrrSs5zRgHaD0ZS7zwg4DESzpU1M0IOtapXUkSIt3WPhE--5nbbm_10P6i45fJNzvmT3L_pRfx9xh-pBgFc2OXk-frlozZfQjSiX82rYkF5lHF5AueVtOKiRp7K-klaNyD3voEX8jpZJtAuLvqnpC2ZjYnisYj4jxJm7Ixwl9ZXIlXiWI98ht2CPATA65fD2ijEFBmiGfAT7-4Yh3P1sfgw"
        }
      }
    }
  ],
  "Variables": {
    "AZURE_MANAGEDHSM_URL": "https://heathskeyvaulthsm.managedhsm.azure.net/",
    "RandomSeed": "906873490"
  }
}