{
  "Entries": [
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/1919856544/create?api-version=7.3",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://managedhsm.azure.net\u0022",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/1919856544/create?api-version=7.3",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC",
        "crv": "P-256K"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "269"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1648059050,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1648059050
        },
        "key": {
          "crv": "P-256K",
          "key_ops": [
            "verify",
            "sign"
          ],
          "kid": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/1919856544/7ff6ef17a08b44172b3739173b0e52f5",
          "kty": "EC-HSM",
          "x": "JJbYAqkMl3Dx5ph4R_nO2J7Ov7ziajNewdzaeAE01oc",
          "y": "MB3KB7Ezi4Uoa2oDhKbB4NaV3tC9Feoo2ozqDr-5oos"
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/1919856544/?api-version=7.3",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20220305-2-902fedaa-closebadconnections",
        "x-ms-server-latency": "119"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1648059050,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1648059050
        },
        "key": {
          "crv": "P-256K",
          "key_ops": [
            "sign",
            "verify"
          ],
          "kid": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/1919856544/7ff6ef17a08b44172b3739173b0e52f5",
          "kty": "EC-HSM",
          "x": "JJbYAqkMl3Dx5ph4R_nO2J7Ov7ziajNewdzaeAE01oc",
          "y": "MB3KB7Ezi4Uoa2oDhKbB4NaV3tC9Feoo2ozqDr-5oos"
        }
      }
    }
  ],
  "Variables": {
    "AZURE_MANAGEDHSM_URL": "https://heathskeyvaulthsm.managedhsm.azure.net/",
    "RandomSeed": "91513062"
  }
}
