{
  "Entries": [
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/1082486980/create?api-version=7.4-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://managedhsm.azure.net\u0022",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/1082486980/create?api-version=7.4-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA",
        "key_size": 2048
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "278"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1667424317,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1667424317
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/1082486980/2b3277255e610bfb05cdf083d5c768d4",
          "kty": "RSA-HSM",
          "n": "x1HPEaKXrlrNpOcoWFF4VleYLd8l5qgH9pMA7W2YjukyOzP3Zi2NXIeMwvAaQnKWOECv_iyO-B7w5O2Dohjavmxo9i5MYldVnovE1BvW4uLLWESZ9gq6wZxOxEXAU1VqXefMe_TgGwszVLAfp3EGQLAyZwp3-Yt3-4n9b6DETdrdZIy6LqqLW5G5ZnphgnVuqPohIUvaE45RSh9aOaq10ThVNPlzByiuIBMsnck-McnIY_O-_PSz52cPSNMRB4WJVNb_CVWxqD5sXMvFii6M5Ew5QM3uquMukteUQjecB85Jn1u504G8P64Q8Q0L4QktLNK6ff6mpundYK8TfrOJ6Q"
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/1082486980/?api-version=7.4-preview.1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20221020-1-945ffe56-develop",
        "x-ms-server-latency": "129"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1667424317,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1667424317
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "verify",
            "sign",
            "unwrapKey",
            "decrypt",
            "encrypt",
            "wrapKey"
          ],
          "kid": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/1082486980/2b3277255e610bfb05cdf083d5c768d4",
          "kty": "RSA-HSM",
          "n": "x1HPEaKXrlrNpOcoWFF4VleYLd8l5qgH9pMA7W2YjukyOzP3Zi2NXIeMwvAaQnKWOECv_iyO-B7w5O2Dohjavmxo9i5MYldVnovE1BvW4uLLWESZ9gq6wZxOxEXAU1VqXefMe_TgGwszVLAfp3EGQLAyZwp3-Yt3-4n9b6DETdrdZIy6LqqLW5G5ZnphgnVuqPohIUvaE45RSh9aOaq10ThVNPlzByiuIBMsnck-McnIY_O-_PSz52cPSNMRB4WJVNb_CVWxqD5sXMvFii6M5Ew5QM3uquMukteUQjecB85Jn1u504G8P64Q8Q0L4QktLNK6ff6mpundYK8TfrOJ6Q"
        }
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com/",
    "AZURE_MANAGEDHSM_URL": "https://heathskeyvaulthsm.managedhsm.azure.net/",
    "RandomSeed": "1038638816"
  }
}
