{
  "Entries": [
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/896215099/create?api-version=7.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://managedhsm.azure.net\u0022",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/896215099/create?api-version=7.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA",
        "key_size": 2048,
        "public_exponent": 3
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "1642"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1611942852,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 90,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "updated": 1611942852
        },
        "key": {
          "e": "Aw",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/896215099/fb366dda500f0efba89f1dd0835d1d67",
          "kty": "RSA-HSM",
          "n": "iw0gn9poPqHSKB1cIX-XtiieU02SwJJi0tn0f7Or8zKFEs2mL0fyeI77bW2pXPe9sCB09uFkKeMJLXGxXyur2JUcql0rVeVpoMqq3a-NpXAFNfZRuGmDV9kyCS3G2i0dWtjAbgjkClk5pc3VTKl9uhqyLn_qS5ypl1C96J-CmypBv361s30HmewLDdQhcpzORv_Fw6PSo4ZQapZhntFOrQdn7I8veJV1mXE7eq2gIkPQwiXnSbhkUwKdDUX8wlQ0cgFCY3ByAVIoHrzTpP3oW-Wm1lWfr1oTEUpSlhdreuIsHfjPUW95NjQ99-l2SDbAsWvNHWRgl8rC_a5pBmKShw"
        }
      }
    }
  ],
  "Variables": {
    "AZURE_MANAGEDHSM_URL": "https://heathskeyvaulthsm.managedhsm.azure.net/",
    "RandomSeed": "1646831272"
  }
}