{
  "Entries": [
    {
      "RequestUri": "https://heathskvtesthsm.managedhsm.azure.net/keys/200711278/create?api-version=7.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://managedhsm.azure.net\u0022",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://heathskvtesthsm.managedhsm.azure.net/keys/200711278/create?api-version=7.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "255"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1626228421,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 90,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "updated": 1626228421
        },
        "key": {
          "crv": "P-256",
          "key_ops": [
            "verify",
            "sign"
          ],
          "kid": "https://heathskvtesthsm.managedhsm.azure.net/keys/200711278/3655cf4790f7000f0b30176269f82558",
          "kty": "EC-HSM",
          "x": "5u1Bc3aJthJXPKuMCb4-5QUai1p5TdUcNv66fhQ_1Qw",
          "y": "RJac7t8zJAJCmle2L-WE6AHCiWZlpn3WOI-HABlSOcs"
        }
      }
    },
    {
      "RequestUri": "https://heathskvtesthsm.managedhsm.azure.net/keys/200711278/?api-version=7.2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20210605-1-ffd80f31-develop",
        "x-ms-server-latency": "130"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1626228421,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 90,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "updated": 1626228421
        },
        "key": {
          "crv": "P-256",
          "key_ops": [
            "sign",
            "verify"
          ],
          "kid": "https://heathskvtesthsm.managedhsm.azure.net/keys/200711278/3655cf4790f7000f0b30176269f82558",
          "kty": "EC-HSM",
          "x": "5u1Bc3aJthJXPKuMCb4-5QUai1p5TdUcNv66fhQ_1Qw",
          "y": "RJac7t8zJAJCmle2L-WE6AHCiWZlpn3WOI-HABlSOcs"
        }
      }
    }
  ],
  "Variables": {
    "AZURE_MANAGEDHSM_URL": "https://heathskvtesthsm.managedhsm.azure.net/",
    "RandomSeed": "584682683"
  }
}