{
  "Entries": [
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/118887792/create?api-version=7.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://managedhsm.azure.net\u0022",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/118887792/create?api-version=7.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA-HSM"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "237"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1612565190,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 90,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "updated": 1612565190
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/118887792/020a50cfdca507f79a6f8c0b15f0ed6c",
          "kty": "RSA-HSM",
          "n": "s_J93edFSfmvZZTocDro-hd-sayDubJ5ts0e5596uf9qlmY_rH0gaz-QcZ9CEgNmP604DleDU7HW8c-XzCbDKAGmRYVLrKYpT5xbje-Spe7YX6G1TGzeU6hNn9ggE5qwZiOgwuYk2YaOHRLX1xiY7U7bSs50bLaPVznOPnf_XHhhGhy1pHDKuWfTj-ItC4w11KoqBqdfRfRrHnzvwylBAZxr-9djuEQilzE1GR8rioiDCUOJETkKazEb3_UT6Em4VRQy8tRSd2HCmIyZHDVDX0WBHgG6uUS4dWwOJUEMMNFPmMZloT71bfWUzV7_gs7GQbjmzylPvMfKjPSiyHL0tQ"
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/118887792/?api-version=7.1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20210128-1-4c3070d1-develop",
        "x-ms-server-latency": "112"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1612565190,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 90,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "updated": 1612565190
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "verify",
            "sign",
            "unwrapKey",
            "decrypt",
            "encrypt",
            "wrapKey"
          ],
          "kid": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/118887792/020a50cfdca507f79a6f8c0b15f0ed6c",
          "kty": "RSA-HSM",
          "n": "s_J93edFSfmvZZTocDro-hd-sayDubJ5ts0e5596uf9qlmY_rH0gaz-QcZ9CEgNmP604DleDU7HW8c-XzCbDKAGmRYVLrKYpT5xbje-Spe7YX6G1TGzeU6hNn9ggE5qwZiOgwuYk2YaOHRLX1xiY7U7bSs50bLaPVznOPnf_XHhhGhy1pHDKuWfTj-ItC4w11KoqBqdfRfRrHnzvwylBAZxr-9djuEQilzE1GR8rioiDCUOJETkKazEb3_UT6Em4VRQy8tRSd2HCmIyZHDVDX0WBHgG6uUS4dWwOJUEMMNFPmMZloT71bfWUzV7_gs7GQbjmzylPvMfKjPSiyHL0tQ"
        }
      }
    }
  ],
  "Variables": {
    "AZURE_MANAGEDHSM_URL": "https://heathskeyvaulthsm.managedhsm.azure.net/",
    "RandomSeed": "1866943289"
  }
}