{
  "Entries": [
    {
      "RequestUri": "https://heathskvtesthsm.managedhsm.azure.net/keys/909095943/create?api-version=7.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://managedhsm.azure.net\u0022",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://heathskvtesthsm.managedhsm.azure.net/keys/909095943/create?api-version=7.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC",
        "crv": "P-384"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "317"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1626228518,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 90,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "updated": 1626228518
        },
        "key": {
          "crv": "P-384",
          "key_ops": [
            "verify",
            "sign"
          ],
          "kid": "https://heathskvtesthsm.managedhsm.azure.net/keys/909095943/ec6a229cd85c4e29031885970ee30249",
          "kty": "EC-HSM",
          "x": "7PqgPfZhJ0M8aNzu7CLGEWGNcE8htC8EXonuU3NUyIZVQjMmr8e2Ln295raMfI1Y",
          "y": "soS5jCxmYCha3F8iUHnn4jijisnCX6PDhgYRGPezSOvW7Qx4IsKTaNtGGKvdqAfW"
        }
      }
    },
    {
      "RequestUri": "https://heathskvtesthsm.managedhsm.azure.net/keys/909095943/?api-version=7.2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20210605-1-ffd80f31-develop",
        "x-ms-server-latency": "74"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1626228518,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 90,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "updated": 1626228518
        },
        "key": {
          "crv": "P-384",
          "key_ops": [
            "sign",
            "verify"
          ],
          "kid": "https://heathskvtesthsm.managedhsm.azure.net/keys/909095943/ec6a229cd85c4e29031885970ee30249",
          "kty": "EC-HSM",
          "x": "7PqgPfZhJ0M8aNzu7CLGEWGNcE8htC8EXonuU3NUyIZVQjMmr8e2Ln295raMfI1Y",
          "y": "soS5jCxmYCha3F8iUHnn4jijisnCX6PDhgYRGPezSOvW7Qx4IsKTaNtGGKvdqAfW"
        }
      }
    }
  ],
  "Variables": {
    "AZURE_MANAGEDHSM_URL": "https://heathskvtesthsm.managedhsm.azure.net/",
    "RandomSeed": "1523960530"
  }
}