{
  "Entries": [
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/1394267005/create?api-version=7.4-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://managedhsm.azure.net\u0022",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/1394267005/create?api-version=7.4-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA-HSM"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "282"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1667424311,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1667424311
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/1394267005/8130cbbc95e2460a309116f9d9395598",
          "kty": "RSA-HSM",
          "n": "kJu6LCm14sNE_3rq6ToEaGetdRE9GuN-m79Ah8FNngZIkuA1o2-Vw1IAKJtdeXN2fZrvrZKce59s6kez-Vv3yc4Y4nwxsLe8sBQNZnozAR7nQGPHHD78wO8c_iJbfMpVqjJ5-FX1Mg56x1jSRbCfzzdU3TJ9vGd2NhqGXJL7DB-TruTfAuIOYrq8HNkJwWk8ukgzyJghlj9Srty_tkTLo1v52fL2U0SnleQ2I0CNUmJp9iPJ6JIbgnw1jb6dnLABKBG56m42GhcEwvwWbK6zyyZccy0mbUqeuNVY7994qeS2sWdrnkP70XHiB6m5dOrr_Lp3CoUPhi526AUpr_8Law"
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/1394267005/?api-version=7.4-preview.1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20221020-1-945ffe56-develop",
        "x-ms-server-latency": "166"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1667424311,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1667424311
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "verify",
            "sign",
            "unwrapKey",
            "decrypt",
            "encrypt",
            "wrapKey"
          ],
          "kid": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/1394267005/8130cbbc95e2460a309116f9d9395598",
          "kty": "RSA-HSM",
          "n": "kJu6LCm14sNE_3rq6ToEaGetdRE9GuN-m79Ah8FNngZIkuA1o2-Vw1IAKJtdeXN2fZrvrZKce59s6kez-Vv3yc4Y4nwxsLe8sBQNZnozAR7nQGPHHD78wO8c_iJbfMpVqjJ5-FX1Mg56x1jSRbCfzzdU3TJ9vGd2NhqGXJL7DB-TruTfAuIOYrq8HNkJwWk8ukgzyJghlj9Srty_tkTLo1v52fL2U0SnleQ2I0CNUmJp9iPJ6JIbgnw1jb6dnLABKBG56m42GhcEwvwWbK6zyyZccy0mbUqeuNVY7994qeS2sWdrnkP70XHiB6m5dOrr_Lp3CoUPhi526AUpr_8Law"
        }
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com/",
    "AZURE_MANAGEDHSM_URL": "https://heathskeyvaulthsm.managedhsm.azure.net/",
    "RandomSeed": "1941684877"
  }
}
