{
  "Entries": [
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/656549195/create?api-version=7.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://managedhsm.azure.net\u0022",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/656549195/create?api-version=7.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA",
        "key_size": 2048,
        "public_exponent": 3
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "966"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1613808649,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 90,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "updated": 1613808649
        },
        "key": {
          "e": "Aw",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/656549195/a66721d85d3c00741ff2c7eee46ad0d3",
          "kty": "RSA-HSM",
          "n": "kfNmIp2CSOgHmRgON5_eaVqVLEXd6mVYgI6uaJ5wXj52k2WYYdmkQjbFoMmzkx_a8co29Ab8yFiSn6YFNmKXmRu5hj0wc2IyxZwKZPZZUm8EzlDrYmgkKvhRdoGS0meBZuq04EIutwW2MGS-VNvVLXwOzpcrB1Ca_EQNaAnorkRjUZnYlcyQt9JIyC2Ejy-4PdjmEjNrfvxtFz_S-hpphgh0s0l5mLB_V-Op-PRnBxtLV90VPKb-rMkJ7ZLMzGHPuHlzd8mm5JjkVIg9sFFm4gggzzQE4Vvz4lbzH2qxkGvbMEneJq5P6Yb8f0HKMltaSMQpBqaROzbliv01KiyGiQ"
        }
      }
    }
  ],
  "Variables": {
    "AZURE_MANAGEDHSM_URL": "https://heathskeyvaulthsm.managedhsm.azure.net/",
    "RandomSeed": "1265763897"
  }
}