{
  "Entries": [
    {
      "RequestUri": "https://heathskvtesthsm.managedhsm.azure.net/keys/1842108386/create?api-version=7.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://managedhsm.azure.net\u0022",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://heathskvtesthsm.managedhsm.azure.net/keys/1842108386/create?api-version=7.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC-HSM"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "265"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1626228436,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 90,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "updated": 1626228436
        },
        "key": {
          "crv": "P-256",
          "key_ops": [
            "verify",
            "sign"
          ],
          "kid": "https://heathskvtesthsm.managedhsm.azure.net/keys/1842108386/0aa5e11e56714fe395f863659bb39898",
          "kty": "EC-HSM",
          "x": "8viE_NoMuwTdvT4XefOnrVDLvzUcyh8CecJDEeKS_aY",
          "y": "-JDfQX0warYmL8_pqMw0XgPsFvOxKGwv2ahhT5dDZts"
        }
      }
    },
    {
      "RequestUri": "https://heathskvtesthsm.managedhsm.azure.net/keys/1842108386?api-version=7.2",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "212"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1626228436,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 90,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "updated": 1626228436
        },
        "deletedDate": 1626228436,
        "key": {
          "crv": "P-256",
          "key_ops": [
            "verify",
            "sign"
          ],
          "kid": "https://heathskvtesthsm.managedhsm.azure.net/keys/1842108386/0aa5e11e56714fe395f863659bb39898",
          "kty": "EC-HSM",
          "x": "8viE_NoMuwTdvT4XefOnrVDLvzUcyh8CecJDEeKS_aY",
          "y": "-JDfQX0warYmL8_pqMw0XgPsFvOxKGwv2ahhT5dDZts"
        },
        "recoveryId": "https://heathskvtesthsm.managedhsm.azure.net/deletedkeys/1842108386",
        "scheduledPurgeDate": 1634004436
      }
    },
    {
      "RequestUri": "https://heathskvtesthsm.managedhsm.azure.net/deletedkeys/1842108386?api-version=7.2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20210605-1-ffd80f31-develop",
        "x-ms-server-latency": "34"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1626228436,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 90,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "updated": 1626228436
        },
        "deletedDate": 1626228436,
        "key": {
          "crv": "P-256",
          "key_ops": [
            "sign",
            "verify"
          ],
          "kid": "https://heathskvtesthsm.managedhsm.azure.net/keys/1842108386/0aa5e11e56714fe395f863659bb39898",
          "kty": "EC-HSM",
          "x": "8viE_NoMuwTdvT4XefOnrVDLvzUcyh8CecJDEeKS_aY",
          "y": "-JDfQX0warYmL8_pqMw0XgPsFvOxKGwv2ahhT5dDZts"
        },
        "recoveryId": "https://heathskvtesthsm.managedhsm.azure.net/deletedkeys/1842108386",
        "scheduledPurgeDate": 1634004436
      }
    },
    {
      "RequestUri": "https://heathskvtesthsm.managedhsm.azure.net/keys/1842108386/?api-version=7.2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20210605-1-ffd80f31-develop",
        "x-ms-server-latency": "19"
      },
      "ResponseBody": {
        "error": {
          "code": "KeyNotFound",
          "message": "Key not found: https://heathskvtesthsm.managedhsm.azure.net/keys/1842108386 (Activity ID: 36945fc0-e448-11eb-ba03-000d3a70aa3b)"
        }
      }
    }
  ],
  "Variables": {
    "AZURE_MANAGEDHSM_URL": "https://heathskvtesthsm.managedhsm.azure.net/",
    "RandomSeed": "168775746"
  }
}