{
  "Entries": [
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/1845219834/create?api-version=7.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://managedhsm.azure.net\u0022",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/1845219834/create?api-version=7.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA-HSM"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "266"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1604005063,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 90,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "updated": 1604005063
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/1845219834/7beeafd07a4f02acba81242021dabe2a",
          "kty": "RSA-HSM",
          "n": "hM8XbSsSC_gwI_IZBdlxeHpS0i9mrAEXmmRxcRak5jZrRYgjtlLz6bZqY2q7IiYzYOnIwu3slomJxxdtEg9X8KjZtx_r2rhpv0odWTvsBXDFFy4BwZfsrG91t1fQG4hVUIkZhe6caLtlV_MNmImP27NhDYT7tJU8uhKPeyloqNHklf2M_LLD3GKn8s14rEQniXDuXTYQY7-ObLj3KQZQfAdPqZCUsqNqnI9AQD7d8S-CBP3sMbhHCvFBg2uiFOzfdXmryHYam_Dn3CX2hteJpV1gmVKO5LbO7yGbz6U-Gi_MiEmrzkkfdhIASoHjiz8ka2Zx4CzqWEN8GUyzpGZELQ"
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/1845219834?api-version=7.1",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "176"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1604005063,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 90,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "updated": 1604005063
        },
        "deletedDate": 1604005064,
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "verify",
            "sign",
            "unwrapKey",
            "decrypt",
            "encrypt"
          ],
          "kid": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/1845219834/7beeafd07a4f02acba81242021dabe2a",
          "kty": "RSA-HSM",
          "n": "hM8XbSsSC_gwI_IZBdlxeHpS0i9mrAEXmmRxcRak5jZrRYgjtlLz6bZqY2q7IiYzYOnIwu3slomJxxdtEg9X8KjZtx_r2rhpv0odWTvsBXDFFy4BwZfsrG91t1fQG4hVUIkZhe6caLtlV_MNmImP27NhDYT7tJU8uhKPeyloqNHklf2M_LLD3GKn8s14rEQniXDuXTYQY7-ObLj3KQZQfAdPqZCUsqNqnI9AQD7d8S-CBP3sMbhHCvFBg2uiFOzfdXmryHYam_Dn3CX2hteJpV1gmVKO5LbO7yGbz6U-Gi_MiEmrzkkfdhIASoHjiz8ka2Zx4CzqWEN8GUyzpGZELQ"
        },
        "recoveryId": "https://heathskeyvaulthsm.managedhsm.azure.net/deletedkeys/1845219834",
        "scheduledPurgeDate": 1611781064
      }
    },
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/deletedkeys/1845219834?api-version=7.1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20200917-2-1617fc9c-develop",
        "x-ms-server-latency": "76"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1604005063,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 90,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "updated": 1604005063
        },
        "deletedDate": 1604005064,
        "key": {
          "e": "AQAB",
          "key_ops": [
            "encrypt",
            "decrypt",
            "unwrapKey",
            "sign",
            "verify",
            "wrapKey"
          ],
          "kid": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/1845219834/7beeafd07a4f02acba81242021dabe2a",
          "kty": "RSA-HSM",
          "n": "hM8XbSsSC_gwI_IZBdlxeHpS0i9mrAEXmmRxcRak5jZrRYgjtlLz6bZqY2q7IiYzYOnIwu3slomJxxdtEg9X8KjZtx_r2rhpv0odWTvsBXDFFy4BwZfsrG91t1fQG4hVUIkZhe6caLtlV_MNmImP27NhDYT7tJU8uhKPeyloqNHklf2M_LLD3GKn8s14rEQniXDuXTYQY7-ObLj3KQZQfAdPqZCUsqNqnI9AQD7d8S-CBP3sMbhHCvFBg2uiFOzfdXmryHYam_Dn3CX2hteJpV1gmVKO5LbO7yGbz6U-Gi_MiEmrzkkfdhIASoHjiz8ka2Zx4CzqWEN8GUyzpGZELQ"
        },
        "recoveryId": "https://heathskeyvaulthsm.managedhsm.azure.net/deletedkeys/1845219834",
        "scheduledPurgeDate": 1611781064
      }
    },
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/1845219834/?api-version=7.1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20200917-2-1617fc9c-develop",
        "x-ms-server-latency": "14"
      },
      "ResponseBody": {
        "error": {
          "code": "KeyNotFound",
          "message": "Key not found: https://heathskeyvaulthsm.managedhsm.azure.net/keys/1845219834 (Activity ID: 9854e428-1a09-11eb-b905-0242ac120005)"
        }
      }
    }
  ],
  "Variables": {
    "AZURE_MANAGEDHSM_URL": "https://heathskeyvaulthsm.managedhsm.azure.net/",
    "RandomSeed": "1788994495"
  }
}