{
  "Entries": [
    {
      "RequestUri": "https://heathskvtesthsm.managedhsm.azure.net/keys/438802493/create?api-version=7.3-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://managedhsm.azure.net\u0022",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://heathskvtesthsm.managedhsm.azure.net/keys/438802493/create?api-version=7.3-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA-HSM"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "227"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1626298871,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 90,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "updated": 1626298871
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://heathskvtesthsm.managedhsm.azure.net/keys/438802493/5df7afbc2bd5483517018eb8ca920499",
          "kty": "RSA-HSM",
          "n": "rR_fdeu2CKnL80fZ7GLEmREL8PHM9dC2jj9Cx0FoNCnP7TT2gHiW8IFcovLRibFkLFJU8dI3yzZZuhd7kptdcOyxKQIYxL3m1vEtpbSxOPWi8C2zL7XRAuLiR7SJLc2qqJ2vLebyE50kv7PnCpZrvDYkSWPRk7_L72KOJtPLK9txbJ-HD181T6LC1D32cnBrF2F4QtefgfQ1vjjY6mjRtn-I9lAss_WyCRFnvkw4OBfk2a_8QhhquyNvSA65zD25SuTDTWGPlx7WCQmqiLPahRyXRkc5UzOKTZimSXroR1EmoNM6JZkqbhCkOf_IUAiuaaCWBrjkp_6MsCLUVghH8Q"
        }
      }
    },
    {
      "RequestUri": "https://heathskvtesthsm.managedhsm.azure.net/keys/438802493?api-version=7.3-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "192"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1626298871,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 90,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "updated": 1626298871
        },
        "deletedDate": 1626298872,
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "encrypt",
            "decrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://heathskvtesthsm.managedhsm.azure.net/keys/438802493/5df7afbc2bd5483517018eb8ca920499",
          "kty": "RSA-HSM",
          "n": "rR_fdeu2CKnL80fZ7GLEmREL8PHM9dC2jj9Cx0FoNCnP7TT2gHiW8IFcovLRibFkLFJU8dI3yzZZuhd7kptdcOyxKQIYxL3m1vEtpbSxOPWi8C2zL7XRAuLiR7SJLc2qqJ2vLebyE50kv7PnCpZrvDYkSWPRk7_L72KOJtPLK9txbJ-HD181T6LC1D32cnBrF2F4QtefgfQ1vjjY6mjRtn-I9lAss_WyCRFnvkw4OBfk2a_8QhhquyNvSA65zD25SuTDTWGPlx7WCQmqiLPahRyXRkc5UzOKTZimSXroR1EmoNM6JZkqbhCkOf_IUAiuaaCWBrjkp_6MsCLUVghH8Q"
        },
        "recoveryId": "https://heathskvtesthsm.managedhsm.azure.net/deletedkeys/438802493",
        "scheduledPurgeDate": 1634074872
      }
    },
    {
      "RequestUri": "https://heathskvtesthsm.managedhsm.azure.net/deletedkeys/438802493?api-version=7.3-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20210605-1-ffd80f31-develop",
        "x-ms-server-latency": "30"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1626298871,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 90,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "updated": 1626298871
        },
        "deletedDate": 1626298872,
        "key": {
          "e": "AQAB",
          "key_ops": [
            "verify",
            "sign",
            "unwrapKey",
            "encrypt",
            "decrypt",
            "wrapKey"
          ],
          "kid": "https://heathskvtesthsm.managedhsm.azure.net/keys/438802493/5df7afbc2bd5483517018eb8ca920499",
          "kty": "RSA-HSM",
          "n": "rR_fdeu2CKnL80fZ7GLEmREL8PHM9dC2jj9Cx0FoNCnP7TT2gHiW8IFcovLRibFkLFJU8dI3yzZZuhd7kptdcOyxKQIYxL3m1vEtpbSxOPWi8C2zL7XRAuLiR7SJLc2qqJ2vLebyE50kv7PnCpZrvDYkSWPRk7_L72KOJtPLK9txbJ-HD181T6LC1D32cnBrF2F4QtefgfQ1vjjY6mjRtn-I9lAss_WyCRFnvkw4OBfk2a_8QhhquyNvSA65zD25SuTDTWGPlx7WCQmqiLPahRyXRkc5UzOKTZimSXroR1EmoNM6JZkqbhCkOf_IUAiuaaCWBrjkp_6MsCLUVghH8Q"
        },
        "recoveryId": "https://heathskvtesthsm.managedhsm.azure.net/deletedkeys/438802493",
        "scheduledPurgeDate": 1634074872
      }
    },
    {
      "RequestUri": "https://heathskvtesthsm.managedhsm.azure.net/keys/438802493/?api-version=7.3-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20210605-1-ffd80f31-develop",
        "x-ms-server-latency": "16"
      },
      "ResponseBody": {
        "error": {
          "code": "KeyNotFound",
          "message": "Key not found: https://heathskvtesthsm.managedhsm.azure.net/keys/438802493 (Activity ID: 357a4498-e4ec-11eb-aac9-000d3aeb0164)"
        }
      }
    }
  ],
  "Variables": {
    "AZURE_MANAGEDHSM_URL": "https://heathskvtesthsm.managedhsm.azure.net/",
    "RandomSeed": "1022327816"
  }
}