{
  "Entries": [
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/1929092594/create?api-version=7.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://managedhsm.azure.net\u0022",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/1929092594/create?api-version=7.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA-HSM"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "239"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1604005183,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 90,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "updated": 1604005183
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/1929092594/bb33d4d97ca00355b5bb5172de07f162",
          "kty": "RSA-HSM",
          "n": "5iVynUtwaVHMc1TlZnJf8VZw_eCie2pbYpjWdZ5ze5uB7LybHl_3PfEi1d6pHz68NDs0bbox9650Q84dkz0GnDrLe4fgr2J33VM2tGnVh-rbo2S1EwmYoCTWQkGQEbQLT8zHIIeIhujc79eu3nt1shBX3VN6y-uhdd1zJjzVyUO7DSOcHD3j-4OuvPwqb02anUb6mLkv_KYpFzOnQ-edfRfJkhzbGhuL6cT5uKZ2daKClua22sgDQ5q9Ul_KXlV2RMbrKIQch4b3YT9IRgdtwIhLsxIWPTNZnbrcOSp9Qq4BQa6WmNhw902YxPnO3qezqsCSOf-gqPLFV2VpwV4TXQ"
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/1929092594?api-version=7.1",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "189"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1604005183,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 90,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "updated": 1604005183
        },
        "deletedDate": 1604005184,
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "verify",
            "sign",
            "unwrapKey",
            "decrypt",
            "encrypt"
          ],
          "kid": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/1929092594/bb33d4d97ca00355b5bb5172de07f162",
          "kty": "RSA-HSM",
          "n": "5iVynUtwaVHMc1TlZnJf8VZw_eCie2pbYpjWdZ5ze5uB7LybHl_3PfEi1d6pHz68NDs0bbox9650Q84dkz0GnDrLe4fgr2J33VM2tGnVh-rbo2S1EwmYoCTWQkGQEbQLT8zHIIeIhujc79eu3nt1shBX3VN6y-uhdd1zJjzVyUO7DSOcHD3j-4OuvPwqb02anUb6mLkv_KYpFzOnQ-edfRfJkhzbGhuL6cT5uKZ2daKClua22sgDQ5q9Ul_KXlV2RMbrKIQch4b3YT9IRgdtwIhLsxIWPTNZnbrcOSp9Qq4BQa6WmNhw902YxPnO3qezqsCSOf-gqPLFV2VpwV4TXQ"
        },
        "recoveryId": "https://heathskeyvaulthsm.managedhsm.azure.net/deletedkeys/1929092594",
        "scheduledPurgeDate": 1611781184
      }
    },
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/deletedkeys/1929092594?api-version=7.1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20200917-2-1617fc9c-develop",
        "x-ms-server-latency": "70"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1604005183,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 90,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "updated": 1604005183
        },
        "deletedDate": 1604005184,
        "key": {
          "e": "AQAB",
          "key_ops": [
            "encrypt",
            "decrypt",
            "unwrapKey",
            "sign",
            "verify",
            "wrapKey"
          ],
          "kid": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/1929092594/bb33d4d97ca00355b5bb5172de07f162",
          "kty": "RSA-HSM",
          "n": "5iVynUtwaVHMc1TlZnJf8VZw_eCie2pbYpjWdZ5ze5uB7LybHl_3PfEi1d6pHz68NDs0bbox9650Q84dkz0GnDrLe4fgr2J33VM2tGnVh-rbo2S1EwmYoCTWQkGQEbQLT8zHIIeIhujc79eu3nt1shBX3VN6y-uhdd1zJjzVyUO7DSOcHD3j-4OuvPwqb02anUb6mLkv_KYpFzOnQ-edfRfJkhzbGhuL6cT5uKZ2daKClua22sgDQ5q9Ul_KXlV2RMbrKIQch4b3YT9IRgdtwIhLsxIWPTNZnbrcOSp9Qq4BQa6WmNhw902YxPnO3qezqsCSOf-gqPLFV2VpwV4TXQ"
        },
        "recoveryId": "https://heathskeyvaulthsm.managedhsm.azure.net/deletedkeys/1929092594",
        "scheduledPurgeDate": 1611781184
      }
    },
[...]
