{
  "Entries": [
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/deletedkeys/1399220950?api-version=7.2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://managedhsm.azure.net\u0022",
        "x-ms-build-version": "1.0.20210204-1-c9f88df4-develop",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": "OK"
    },
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/deletedkeys/1399220950?api-version=7.2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20210204-1-c9f88df4-develop",
        "x-ms-server-latency": "40"
      },
      "ResponseBody": {
        "error": {
          "code": "KeyNotFound",
          "message": "Key not found: https://heathskeyvaulthsm.managedhsm.azure.net/deletedkeys/1399220950 (Activity ID: 2f2989ba-7353-11eb-bcb9-0242ac120006)"
        }
      }
    }
  ],
  "Variables": {
    "AZURE_MANAGEDHSM_URL": "https://heathskeyvaulthsm.managedhsm.azure.net/",
    "RandomSeed": "1304320875"
  }
}