{
  "Entries": [
    {
      "RequestUri": "https://heathskvtesthsm.managedhsm.azure.net/keys/1058144699/create?api-version=7.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://managedhsm.azure.net\u0022",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://heathskvtesthsm.managedhsm.azure.net/keys/1058144699/create?api-version=7.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC-HSM"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "275"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1626228548,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 90,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "updated": 1626228548
        },
        "key": {
          "crv": "P-256",
          "key_ops": [
            "verify",
            "sign"
          ],
          "kid": "https://heathskvtesthsm.managedhsm.azure.net/keys/1058144699/047993f14f75098a8119ccadf78a7be2",
          "kty": "EC-HSM",
          "x": "wpDnGVT4QLZcsrxkQCtCfuciidhZhbm6ciNtbXVGOGw",
          "y": "6gxI1kZRxS_j-MaGgovgIVdUaWbzNQLMbZ6Vf-Jv9lo"
        }
      }
    },
    {
      "RequestUri": "https://heathskvtesthsm.managedhsm.azure.net/keys/1058144699?api-version=7.2",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "202"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1626228548,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 90,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "updated": 1626228548
        },
        "deletedDate": 1626228548,
        "key": {
          "crv": "P-256",
          "key_ops": [
            "verify",
            "sign"
          ],
          "kid": "https://heathskvtesthsm.managedhsm.azure.net/keys/1058144699/047993f14f75098a8119ccadf78a7be2",
          "kty": "EC-HSM",
          "x": "wpDnGVT4QLZcsrxkQCtCfuciidhZhbm6ciNtbXVGOGw",
          "y": "6gxI1kZRxS_j-MaGgovgIVdUaWbzNQLMbZ6Vf-Jv9lo"
        },
        "recoveryId": "https://heathskvtesthsm.managedhsm.azure.net/deletedkeys/1058144699",
        "scheduledPurgeDate": 1634004548
      }
    },
    {
      "RequestUri": "https://heathskvtesthsm.managedhsm.azure.net/deletedkeys/1058144699?api-version=7.2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20210605-1-ffd80f31-develop",
        "x-ms-server-latency": "38"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1626228548,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 90,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "updated": 1626228548
        },
        "deletedDate": 1626228548,
        "key": {
          "crv": "P-256",
          "key_ops": [
            "sign",
            "verify"
          ],
          "kid": "https://heathskvtesthsm.managedhsm.azure.net/keys/1058144699/047993f14f75098a8119ccadf78a7be2",
          "kty": "EC-HSM",
          "x": "wpDnGVT4QLZcsrxkQCtCfuciidhZhbm6ciNtbXVGOGw",
          "y": "6gxI1kZRxS_j-MaGgovgIVdUaWbzNQLMbZ6Vf-Jv9lo"
        },
        "recoveryId": "https://heathskvtesthsm.managedhsm.azure.net/deletedkeys/1058144699",
        "scheduledPurgeDate": 1634004548
      }
    },
    {
      "RequestUri": "https://heathskvtesthsm.managedhsm.azure.net/deletedkeys/1058144699?api-version=7.2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20210605-1-ffd80f31-develop",
        "x-ms-server-latency": "35"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1626228548,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 90,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "updated": 1626228548
        },
        "deletedDate": 1626228548,
        "key": {
          "crv": "P-256",
          "key_ops": [
            "sign",
            "verify"
          ],
          "kid": "https://heathskvtesthsm.managedhsm.azure.net/keys/1058144699/047993f14f75098a8119ccadf78a7be2",
          "kty": "EC-HSM",
          "x": "wpDnGVT4QLZcsrxkQCtCfuciidhZhbm6ciNtbXVGOGw",
          "y": "6gxI1kZRxS_j-MaGgovgIVdUaWbzNQLMbZ6Vf-Jv9lo"
        },
        "recoveryId": "https://heathskvtesthsm.managedhsm.azure.net/deletedkeys/1058144699",
        "scheduledPurgeDate": 1634004548
      }
    }
  ],
  "Variables": {
    "AZURE_MANAGEDHSM_URL": "https://heathskvtesthsm.managedhsm.azure.net/",
    "RandomSeed": "1390759969"
  }
}