{
  "Entries": [
    {
      "RequestUri": "https://heathskvtesthsm.managedhsm.azure.net/keys/8282990/create?api-version=7.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://managedhsm.azure.net\u0022",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://heathskvtesthsm.managedhsm.azure.net/keys/8282990/create?api-version=7.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "266"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1626228550,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 90,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "updated": 1626228550
        },
        "key": {
          "crv": "P-256",
          "key_ops": [
            "verify",
            "sign"
          ],
          "kid": "https://heathskvtesthsm.managedhsm.azure.net/keys/8282990/16fb7dfcbc15008283d220c17938d582",
          "kty": "EC-HSM",
          "x": "TEyfRAr9PZRKsFmzwgAMIQyrJErP6Vn4PY225eKqRdw",
          "y": "UTuMx-C74YHvcM30FvF17s1gabzq5d2CscaJeaXoxMs"
        }
      }
    },
    {
      "RequestUri": "https://heathskvtesthsm.managedhsm.azure.net/keys/8282990?api-version=7.2",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "206"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1626228550,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 90,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "updated": 1626228550
        },
        "deletedDate": 1626228550,
        "key": {
          "crv": "P-256",
          "key_ops": [
            "verify",
            "sign"
          ],
          "kid": "https://heathskvtesthsm.managedhsm.azure.net/keys/8282990/16fb7dfcbc15008283d220c17938d582",
          "kty": "EC-HSM",
          "x": "TEyfRAr9PZRKsFmzwgAMIQyrJErP6Vn4PY225eKqRdw",
          "y": "UTuMx-C74YHvcM30FvF17s1gabzq5d2CscaJeaXoxMs"
        },
        "recoveryId": "https://heathskvtesthsm.managedhsm.azure.net/deletedkeys/8282990",
        "scheduledPurgeDate": 1634004550
      }
    },
    {
      "RequestUri": "https://heathskvtesthsm.managedhsm.azure.net/deletedkeys/8282990?api-version=7.2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20210605-1-ffd80f31-develop",
        "x-ms-server-latency": "33"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1626228550,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 90,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "updated": 1626228550
        },
        "deletedDate": 1626228550,
        "key": {
          "crv": "P-256",
          "key_ops": [
            "sign",
            "verify"
          ],
          "kid": "https://heathskvtesthsm.managedhsm.azure.net/keys/8282990/16fb7dfcbc15008283d220c17938d582",
          "kty": "EC-HSM",
          "x": "TEyfRAr9PZRKsFmzwgAMIQyrJErP6Vn4PY225eKqRdw",
          "y": "UTuMx-C74YHvcM30FvF17s1gabzq5d2CscaJeaXoxMs"
        },
        "recoveryId": "https://heathskvtesthsm.managedhsm.azure.net/deletedkeys/8282990",
        "scheduledPurgeDate": 1634004550
      }
    }
  ],
  "Variables": {
    "AZURE_MANAGEDHSM_URL": "https://heathskvtesthsm.managedhsm.azure.net/",
    "RandomSeed": "366439516"
  }
}