{
  "Entries": [
    {
      "RequestUri": "https://heathskvtesthsm.managedhsm.azure.net/keys/10913340020/create?api-version=7.3-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://managedhsm.azure.net\u0022",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://heathskvtesthsm.managedhsm.azure.net/keys/10913340020/create?api-version=7.3-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "293"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1626298890,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 90,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "updated": 1626298890
        },
        "key": {
          "crv": "P-256",
          "key_ops": [
            "verify",
            "sign"
          ],
          "kid": "https://heathskvtesthsm.managedhsm.azure.net/keys/10913340020/73a279f307c60cba2e54c0acf98d38fd",
          "kty": "EC-HSM",
          "x": "eubGf72S4mO5-MDlFnNUsQ9oMXFAv5Wvihd6sox61vg",
          "y": "sXdCtH4rLmyMCMH3MD2wuO6YXwy_KBnfs_pQrAEK7HE"
        }
      }
    },
[...]
    {
      "RequestUri": "https://heathskvtesthsm.managedhsm.azure.net/keys/?api-version=7.3-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20210605-1-ffd80f31-develop",
        "x-ms-server-latency": "30"
      },
      "ResponseBody": {
        "value": [
          {
            "attributes": {
              "created": 1626298890,
              "enabled": true,
              "exportable": false,
              "recoverableDays": 90,
              "recoveryLevel": "Recoverable\u002BPurgeable",
              "updated": 1626298890
            },
            "kid": "https://heathskvtesthsm.managedhsm.azure.net/keys/10913340020"
          },
          {
            "attributes": {
              "created": 1626298891,
              "enabled": true,
              "exportable": false,
              "recoverableDays": 90,
              "recoveryLevel": "Recoverable\u002BPurgeable",
              "updated": 1626298891
            },
            "kid": "https://heathskvtesthsm.managedhsm.azure.net/keys/10913340021"
          }
        ]
      }
    }
  ],
  "Variables": {
    "AZURE_MANAGEDHSM_URL": "https://heathskvtesthsm.managedhsm.azure.net/",
    "RandomSeed": "99413603"
  }
}