{
  "Entries": [
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/1175375808/create?api-version=7.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://managedhsm.azure.net\u0022",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/1175375808/create?api-version=7.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "289"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1613808544,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 90,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "updated": 1613808544
        },
        "key": {
          "crv": "P-256",
          "key_ops": [
            "verify",
            "sign"
          ],
          "kid": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/1175375808/9ceeb5d7e73f44cd8bad68d410122f1a",
          "kty": "EC-HSM",
          "x": "hj2h-yPsnBRtEiK3JyIoWwJB48lAgblUkK4eEDTvr78",
          "y": "4Q3hQDgJ1W7QoZbwZZvklJpgWGdb1siN5pwQeW-pBFE"
        }
      }
    },
[...]
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/1175375808/versions?api-version=7.2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20210204-1-c9f88df4-develop",
        "x-ms-server-latency": "159"
      },
      "ResponseBody": {
        "value": [
          {
            "attributes": {
              "created": 1613808544,
              "enabled": true,
              "exportable": false,
              "recoverableDays": 90,
              "recoveryLevel": "Recoverable\u002BPurgeable",
              "updated": 1613808544
            },
            "kid": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/1175375808/9ceeb5d7e73f44cd8bad68d410122f1a"
          },
          {
            "attributes": {
              "created": 1613808544,
              "enabled": true,
              "exportable": false,
              "recoverableDays": 90,
              "recoveryLevel": "Recoverable\u002BPurgeable",
              "updated": 1613808544
            },
            "kid": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/1175375808/f8de92fcbece4aacb1766466a95d8c24"
          }
        ]
      }
    }
  ],
  "Variables": {
    "AZURE_MANAGEDHSM_URL": "https://heathskeyvaulthsm.managedhsm.azure.net/",
    "RandomSeed": "620353597"
  }
}