{
  "Entries": [
    {
      "RequestUri": "https://heathskvtesthsm.managedhsm.azure.net/keys/1175375808/create?api-version=7.3-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://managedhsm.azure.net\u0022",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://heathskvtesthsm.managedhsm.azure.net/keys/1175375808/create?api-version=7.3-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "290"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1626298786,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 90,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "updated": 1626298786
        },
        "key": {
          "crv": "P-256",
          "key_ops": [
            "verify",
            "sign"
          ],
          "kid": "https://heathskvtesthsm.managedhsm.azure.net/keys/1175375808/e648f2e88628028c87a57620f83474b8",
          "kty": "EC-HSM",
          "x": "60QrMek2JRlI5eMAmXVp-N4ZuLrEV-t6inxt6J_IzJE",
          "y": "Vg0CIQFh08RJmNVzkAiP84OHW4NExhkNI2kU6d-xdPI"
        }
      }
    },
[...]
    {
      "RequestUri": "https://heathskvtesthsm.managedhsm.azure.net/keys/1175375808/versions?api-version=7.3-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20210605-1-ffd80f31-develop",
        "x-ms-server-latency": "148"
      },
      "ResponseBody": {
        "value": [
          {
            "attributes": {
              "created": 1626298786,
              "enabled": true,
              "exportable": false,
              "recoverableDays": 90,
              "recoveryLevel": "Recoverable\u002BPurgeable",
              "updated": 1626298786
            },
            "kid": "https://heathskvtesthsm.managedhsm.azure.net/keys/1175375808/e648f2e88628028c87a57620f83474b8"
          },
          {
            "attributes": {
              "created": 1626298787,
              "enabled": true,
              "exportable": false,
              "recoverableDays": 90,
              "recoveryLevel": "Recoverable\u002BPurgeable",
              "updated": 1626298787
            },
            "kid": "https://heathskvtesthsm.managedhsm.azure.net/keys/1175375808/d77ef24fa25b493e36bc658276844f98"
          }
        ]
      }
    }
  ],
  "Variables": {
    "AZURE_MANAGEDHSM_URL": "https://heathskvtesthsm.managedhsm.azure.net/",
    "RandomSeed": "620353597"
  }
}