{
  "Entries": [
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/1391255208/create?api-version=7.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://managedhsm.azure.net\u0022",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/1391255208/create?api-version=7.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "280"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1604005195,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 90,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "updated": 1604005195
        },
        "key": {
          "crv": "P-256",
          "key_ops": [
            "verify",
            "sign"
          ],
          "kid": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/1391255208/12dc376418c90e550457fbdb3bf2dcce",
          "kty": "EC-HSM",
          "x": "5PH_B2zLyNlZnUQmFqOpl-c74xV39OCeoXswZ_68FRg",
          "y": "tzVWMQ7RPgSEC8dP4Q-pyS9940ujOl4hSa5xncFJ7Ug"
        }
      }
    },
[...]
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/1391255208/versions?api-version=7.1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20200917-2-1617fc9c-develop",
        "x-ms-server-latency": "91"
      },
      "ResponseBody": {
        "value": [
          {
            "attributes": {
              "created": 1604005195,
              "enabled": true,
              "exportable": false,
              "recoverableDays": 90,
              "recoveryLevel": "Recoverable\u002BPurgeable",
              "updated": 1604005195
            },
            "kid": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/1391255208/12dc376418c90e550457fbdb3bf2dcce"
          },
          {
            "attributes": {
              "created": 1604005195,
              "enabled": true,
              "exportable": false,
              "recoverableDays": 90,
              "recoveryLevel": "Recoverable\u002BPurgeable",
              "updated": 1604005195
            },
            "kid": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/1391255208/b86c0db567534ce689b12c1f60edc779"
          }
        ]
      }
    }
  ],
  "Variables": {
    "AZURE_MANAGEDHSM_URL": "https://heathskeyvaulthsm.managedhsm.azure.net/",
    "RandomSeed": "670236693"
  }
}