{
  "Entries": [
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/985178593/create?api-version=7.3",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://managedhsm.azure.net\u0022",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/985178593/create?api-version=7.3",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "252"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1648058797,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1648058797
        },
        "key": {
          "crv": "P-256",
          "key_ops": [
            "verify",
            "sign"
          ],
          "kid": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/985178593/282f6b5c8c5c0a32b2ed7edb780ae77b",
          "kty": "EC-HSM",
          "x": "XBSkAbVC9qzQAKIE5pzM9_ko7mFekvWp9C-cuasSdug",
          "y": "91Fr7gddQhWOKhl6MeRgYnrces36D9CN5mx8CS9I_yU"
        }
      }
    },
[...]
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/985178593/versions?api-version=7.3",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20220305-2-902fedaa-closebadconnections",
        "x-ms-server-latency": "152"
      },
      "ResponseBody": {
        "value": [
          {
            "attributes": {
              "created": 1648058797,
              "enabled": true,
              "exportable": false,
              "recoverableDays": 7,
              "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
              "updated": 1648058797
            },
            "kid": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/985178593/282f6b5c8c5c0a32b2ed7edb780ae77b"
          },
          {
            "attributes": {
              "created": 1648058798,
              "enabled": true,
              "exportable": false,
              "recoverableDays": 7,
              "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
              "updated": 1648058798
            },
            "kid": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/985178593/c1a222dd8bda0c5c17ff801768cc9271"
          }
        ]
      }
    }
  ],
  "Variables": {
    "AZURE_MANAGEDHSM_URL": "https://heathskeyvaulthsm.managedhsm.azure.net/",
    "RandomSeed": "1812458028"
  }
}
