{
  "Entries": [
    {
      "RequestUri": "https://heathskvtesthsm.managedhsm.azure.net/keys/89099415/create?api-version=7.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://managedhsm.azure.net\u0022",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://heathskvtesthsm.managedhsm.azure.net/keys/89099415/create?api-version=7.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA-HSM"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "229"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1626228464,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 90,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "updated": 1626228464
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://heathskvtesthsm.managedhsm.azure.net/keys/89099415/43fde3d405c04c6fa944f3dffe3f87c2",
          "kty": "RSA-HSM",
          "n": "mJT9FRlS-QiQioNJASfP6olsb1F_sHwZlwsqUPSTrTL1ZNENCRsy5AotdwDmt-U9m8c4OX97ta3cw_CcOPp8ccZX9vAUifrRa9t7D8lZ-bkhsz6uCJeoxxV5sTGosA2YbdDc6j6kPcg1DFpPyOP83oV6FSYEZlYphUVbsNDdKec43lA178RRkRlpGogXjiXe9IAmSqnMK_h68aYCup1Mk0ZH-BP5AEh0tpCgHV1584nUw1EB_2S5m6g4kc2L1EF_fmLi2rnstQITrD2ruJZL9nxvMM3sPyJUtm0tbxd315SZ1avaL2u10RGGPUEumFL48kmFz1Gc6p974kNjPwgmTQ"
        }
      }
    },
    {
      "RequestUri": "https://heathskvtesthsm.managedhsm.azure.net/keys/89099415/?api-version=7.2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20210605-1-ffd80f31-develop",
        "x-ms-server-latency": "114"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1626228464,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 90,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "updated": 1626228464
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "verify",
            "sign",
            "unwrapKey",
            "decrypt",
            "encrypt",
            "wrapKey"
          ],
          "kid": "https://heathskvtesthsm.managedhsm.azure.net/keys/89099415/43fde3d405c04c6fa944f3dffe3f87c2",
          "kty": "RSA-HSM",
          "n": "mJT9FRlS-QiQioNJASfP6olsb1F_sHwZlwsqUPSTrTL1ZNENCRsy5AotdwDmt-U9m8c4OX97ta3cw_CcOPp8ccZX9vAUifrRa9t7D8lZ-bkhsz6uCJeoxxV5sTGosA2YbdDc6j6kPcg1DFpPyOP83oV6FSYEZlYphUVbsNDdKec43lA178RRkRlpGogXjiXe9IAmSqnMK_h68aYCup1Mk0ZH-BP5AEh0tpCgHV1584nUw1EB_2S5m6g4kc2L1EF_fmLi2rnstQITrD2ruJZL9nxvMM3sPyJUtm0tbxd315SZ1avaL2u10RGGPUEumFL48kmFz1Gc6p974kNjPwgmTQ"
        }
      }
    }
  ],
  "Variables": {
    "AZURE_MANAGEDHSM_URL": "https://heathskvtesthsm.managedhsm.azure.net/",
    "RandomSeed": "942897974"
  }
}