{
  "Entries": [
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/1736812877/create?api-version=7.3",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://managedhsm.azure.net\u0022",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/1736812877/create?api-version=7.3",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA-HSM"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "227"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1648058800,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1648058800
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/1736812877/28f1496396400ab6073d362eb609a361",
          "kty": "RSA-HSM",
          "n": "7bXdjNBFrpwdsV4XEZfwZSPjlN9PMin7qWd2cqmCuYZt0SnGyJEfK7CKMRe9--E8t2-cRvWuwuA3CpbdDPDX1RwlhASIdbmBXgKOPk6BUxK6W7GgW9mCnassJ6p2XKlAkYByT0T-7bl4pIpD37rKmOG_HbNl6R1Shc_Suk7leCS-EoZM2K6MSI7GG-PEWVm7T2XE7v4LOzw-CbZOSrHykU-ApMGiSsw4P3HoA10j0mzyUfoZhU_kGOaoh6bIKDta_ZLYge7wXCCH8c_5zrWuK5BvK6b0-jSIrvwEmh1B5TAqnXILOvXzInaTFFPF9vtbM9cgyrEuNYTrsl6h4gOJlQ"
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/1736812877/?api-version=7.3",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20220305-2-902fedaa-closebadconnections",
        "x-ms-server-latency": "123"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1648058800,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1648058800
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "verify",
            "sign",
            "unwrapKey",
            "decrypt",
            "encrypt",
            "wrapKey"
          ],
          "kid": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/1736812877/28f1496396400ab6073d362eb609a361",
          "kty": "RSA-HSM",
          "n": "7bXdjNBFrpwdsV4XEZfwZSPjlN9PMin7qWd2cqmCuYZt0SnGyJEfK7CKMRe9--E8t2-cRvWuwuA3CpbdDPDX1RwlhASIdbmBXgKOPk6BUxK6W7GgW9mCnassJ6p2XKlAkYByT0T-7bl4pIpD37rKmOG_HbNl6R1Shc_Suk7leCS-EoZM2K6MSI7GG-PEWVm7T2XE7v4LOzw-CbZOSrHykU-ApMGiSsw4P3HoA10j0mzyUfoZhU_kGOaoh6bIKDta_ZLYge7wXCCH8c_5zrWuK5BvK6b0-jSIrvwEmh1B5TAqnXILOvXzInaTFFPF9vtbM9cgyrEuNYTrsl6h4gOJlQ"
        }
      }
    }
  ],
  "Variables": {
    "AZURE_MANAGEDHSM_URL": "https://heathskeyvaulthsm.managedhsm.azure.net/",
    "RandomSeed": "1146283832"
  }
}
