{
  "Entries": [
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/1200860200/create?api-version=7.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://managedhsm.azure.net\u0022",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/1200860200/create?api-version=7.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA-HSM"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "285"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1612565228,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 90,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "updated": 1612565228
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/1200860200/ca62441049df0eb5a828398be173cc92",
          "kty": "RSA-HSM",
          "n": "iuhc0y_oGhWIKtpey-czfie-NFNNhdbxp9MRZmOoHAPZUESb7ItWEukTq8low9qub2J_0JZcFvUaVGGlIJZuYiMFJXHitiy2AFK_GJOQifLABVRGYIwgbTHW3ASiskizMBu2w05AVKnkIF_Dx2aYlcExsGsJbYFwggB38nqfYBRLa_HeKwBP5cM-lA815WcKRRsfOtjiPmfBtOFT6IU6T6ZceTV68clbH4SxIZbjiyS7aQF6PljY1mPXKitlT9VD5QF627dJ4sDgO_WwqUkJyV_41Uin9ct_JAMOCLUVuLPxojyBLEK0g_fn_JjyqiQ2IgbJL9e3r818kez0YKaWQQ"
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/1200860200/?api-version=7.1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20210128-1-4c3070d1-develop",
        "x-ms-server-latency": "117"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1612565228,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 90,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "updated": 1612565228
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "verify",
            "sign",
            "unwrapKey",
            "decrypt",
            "encrypt",
            "wrapKey"
          ],
          "kid": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/1200860200/ca62441049df0eb5a828398be173cc92",
          "kty": "RSA-HSM",
          "n": "iuhc0y_oGhWIKtpey-czfie-NFNNhdbxp9MRZmOoHAPZUESb7ItWEukTq8low9qub2J_0JZcFvUaVGGlIJZuYiMFJXHitiy2AFK_GJOQifLABVRGYIwgbTHW3ASiskizMBu2w05AVKnkIF_Dx2aYlcExsGsJbYFwggB38nqfYBRLa_HeKwBP5cM-lA815WcKRRsfOtjiPmfBtOFT6IU6T6ZceTV68clbH4SxIZbjiyS7aQF6PljY1mPXKitlT9VD5QF627dJ4sDgO_WwqUkJyV_41Uin9ct_JAMOCLUVuLPxojyBLEK0g_fn_JjyqiQ2IgbJL9e3r818kez0YKaWQQ"
        }
      }
    }
  ],
  "Variables": {
    "AZURE_MANAGEDHSM_URL": "https://heathskeyvaulthsm.managedhsm.azure.net/",
    "RandomSeed": "106457297"
  }
}