{
  "Entries": [
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/176760474/create?api-version=7.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://managedhsm.azure.net\u0022",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/176760474/create?api-version=7.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA-HSM"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "253"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1613808558,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 90,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "updated": 1613808558
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/176760474/43f04aa2576c4d9d93da5aa87cc35aeb",
          "kty": "RSA-HSM",
          "n": "vl-vRd0RKMLA0g7YC20CZfo-FL-XWHhQGlxVDXkLBGrhcfbWQ86NrDTQFeLeAMSCpcsPyRX6eAgZDhxEoCqM8pguSM3BJ3LBVuB13cbwH_XS_uid5rKcg1JrVQJl4hNqvsGbPaf8zj8OGIh-muLuJ_BTNZHNOthp9GhbC5SYi9pI5swmhanWK6EILwXPVEJSQFaYn-v_b-z36ZJ7hRADl1lbM2GJuKM6uHIIy2yjGHX_l11b07QHq8zD_HccqL40Os1pXvPXuhRCRhuEAZwTe-g42x7Mt3dXTNpJv003Mkaq4FTMyeV8_2T0OdgMz-iSZbsmnLUk5uji1Rcz6_rcRw"
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/176760474?api-version=7.2",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "213"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1613808558,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 90,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "updated": 1613808558
        },
        "deletedDate": 1613808558,
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "encrypt",
            "decrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/176760474/43f04aa2576c4d9d93da5aa87cc35aeb",
          "kty": "RSA-HSM",
          "n": "vl-vRd0RKMLA0g7YC20CZfo-FL-XWHhQGlxVDXkLBGrhcfbWQ86NrDTQFeLeAMSCpcsPyRX6eAgZDhxEoCqM8pguSM3BJ3LBVuB13cbwH_XS_uid5rKcg1JrVQJl4hNqvsGbPaf8zj8OGIh-muLuJ_BTNZHNOthp9GhbC5SYi9pI5swmhanWK6EILwXPVEJSQFaYn-v_b-z36ZJ7hRADl1lbM2GJuKM6uHIIy2yjGHX_l11b07QHq8zD_HccqL40Os1pXvPXuhRCRhuEAZwTe-g42x7Mt3dXTNpJv003Mkaq4FTMyeV8_2T0OdgMz-iSZbsmnLUk5uji1Rcz6_rcRw"
        },
        "recoveryId": "https://heathskeyvaulthsm.managedhsm.azure.net/deletedkeys/176760474",
        "scheduledPurgeDate": 1621584558
      }
    },
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/deletedkeys/176760474?api-version=7.2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20210204-1-c9f88df4-develop",
        "x-ms-server-latency": "32"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1613808558,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 90,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "updated": 1613808558
        },
        "deletedDate": 1613808558,
        "key": {
          "e": "AQAB",
          "key_ops": [
            "verify",
            "sign",
            "unwrapKey",
            "encrypt",
            "decrypt",
            "wrapKey"
          ],
          "kid": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/176760474/43f04aa2576c4d9d93da5aa87cc35aeb",
          "kty": "RSA-HSM",
          "n": "vl-vRd0RKMLA0g7YC20CZfo-FL-XWHhQGlxVDXkLBGrhcfbWQ86NrDTQFeLeAMSCpcsPyRX6eAgZDhxEoCqM8pguSM3BJ3LBVuB13cbwH_XS_uid5rKcg1JrVQJl4hNqvsGbPaf8zj8OGIh-muLuJ_BTNZHNOthp9GhbC5SYi9pI5swmhanWK6EILwXPVEJSQFaYn-v_b-z36ZJ7hRADl1lbM2GJuKM6uHIIy2yjGHX_l11b07QHq8zD_HccqL40Os1pXvPXuhRCRhuEAZwTe-g42x7Mt3dXTNpJv003Mkaq4FTMyeV8_2T0OdgMz-iSZbsmnLUk5uji1Rcz6_rcRw"
        },
        "recoveryId": "https://heathskeyvaulthsm.managedhsm.azure.net/deletedkeys/176760474",
        "scheduledPurgeDate": 1621584558
      }
    },
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/176760474/?api-version=7.2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20210204-1-c9f88df4-develop",
        "x-ms-server-latency": "22"
      },
      "ResponseBody": {
        "error": {
          "code": "KeyNotFound",
          "message": "Key not found: https://heathskeyvaulthsm.managedhsm.azure.net/keys/176760474 (Activity ID: eee87e2e-7352-11eb-bcb9-0242ac120006)"
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/deletedkeys/176760474/recover?api-version=7.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "181"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1613808558,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 90,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "updated": 1613808558
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "verify",
            "sign",
            "unwrapKey",
            "decrypt",
            "encrypt",
            "wrapKey"
          ],
          "kid": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/176760474/43f04aa2576c4d9d93da5aa87cc35aeb",
          "kty": "RSA-HSM",
          "n": "vl-vRd0RKMLA0g7YC20CZfo-FL-XWHhQGlxVDXkLBGrhcfbWQ86NrDTQFeLeAMSCpcsPyRX6eAgZDhxEoCqM8pguSM3BJ3LBVuB13cbwH_XS_uid5rKcg1JrVQJl4hNqvsGbPaf8zj8OGIh-muLuJ_BTNZHNOthp9GhbC5SYi9pI5swmhanWK6EILwXPVEJSQFaYn-v_b-z36ZJ7hRADl1lbM2GJuKM6uHIIy2yjGHX_l11b07QHq8zD_HccqL40Os1pXvPXuhRCRhuEAZwTe-g42x7Mt3dXTNpJv003Mkaq4FTMyeV8_2T0OdgMz-iSZbsmnLUk5uji1Rcz6_rcRw"
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/176760474/43f04aa2576c4d9d93da5aa87cc35aeb?api-version=7.2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20210204-1-c9f88df4-develop",
        "x-[...]
[...]
