{
  "Entries": [
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/1960804913/create?api-version=7.4-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://managedhsm.azure.net\u0022",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/1960804913/create?api-version=7.4-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC-HSM"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "305"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1667424349,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1667424349
        },
        "key": {
          "crv": "P-256",
          "key_ops": [
            "verify",
            "sign"
          ],
          "kid": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/1960804913/03e73d76908e07d93d083d63a0f77151",
          "kty": "EC-HSM",
          "x": "5n3iFnntjuiiTf2qHo580Tt_fhDCWxet-ESPVtUE8qA",
          "y": "JT98DgqtCtBPkPjfKBY9w1cll-jF8dJ7akab6cp1Ek0"
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/1960804913?api-version=7.4-preview.1",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "259"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1667424349,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1667424349
        },
        "deletedDate": 1667424350,
        "key": {
          "crv": "P-256",
          "key_ops": [
            "verify",
            "sign"
          ],
          "kid": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/1960804913/03e73d76908e07d93d083d63a0f77151",
          "kty": "EC-HSM",
          "x": "5n3iFnntjuiiTf2qHo580Tt_fhDCWxet-ESPVtUE8qA",
          "y": "JT98DgqtCtBPkPjfKBY9w1cll-jF8dJ7akab6cp1Ek0"
        },
        "recoveryId": "https://heathskeyvaulthsm.managedhsm.azure.net/deletedkeys/1960804913",
        "scheduledPurgeDate": 1668029150
      }
    },
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/deletedkeys/1960804913?api-version=7.4-preview.1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20221020-1-945ffe56-develop",
        "x-ms-server-latency": "38"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1667424349,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1667424349
        },
        "deletedDate": 1667424350,
        "key": {
          "crv": "P-256",
          "key_ops": [
            "sign",
            "verify"
          ],
          "kid": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/1960804913/03e73d76908e07d93d083d63a0f77151",
          "kty": "EC-HSM",
          "x": "5n3iFnntjuiiTf2qHo580Tt_fhDCWxet-ESPVtUE8qA",
          "y": "JT98DgqtCtBPkPjfKBY9w1cll-jF8dJ7akab6cp1Ek0"
        },
        "recoveryId": "https://heathskeyvaulthsm.managedhsm.azure.net/deletedkeys/1960804913",
        "scheduledPurgeDate": 1668029150
      }
    },
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/1960804913/?api-version=7.4-preview.1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20221020-1-945ffe56-develop",
        "x-ms-server-latency": "18"
      },
      "ResponseBody": {
        "error": {
          "code": "KeyNotFound",
          "message": "Key not found: https://heathskeyvaulthsm.managedhsm.azure.net/keys/1960804913 (Activity ID: ec6de356-5af4-11ed-8f23-000d3a612dea)"
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/deletedkeys/1960804913/recover?api-version=7.4-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "128"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1667424349,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1667424349
        },
        "key": {
          "crv": "P-256",
          "key_ops": [
            "sign",
            "verify"
          ],
          "kid": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/1960804913/03e73d76908e07d93d083d63a0f77151",
          "kty": "EC-HSM",
          "x": "5n3iFnntjuiiTf2qHo580Tt_fhDCWxet-ESPVtUE8qA",
          "y": "JT98DgqtCtBPkPjfKBY9w1cll-jF8dJ7akab6cp1Ek0"
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/1960804913/03e73d76908e07d93d083d63a0f77151?api-version=7.4-preview.1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20221020-1-945ffe56-develop",
        "x-ms-server-latency": "17"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1667424349,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1667424349
        },
        "key": {
          "crv": "P-256",
          "key_ops": [
            "verify",
            "sign"
          ],
          "kid": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/1960804913/03e73d76908e07d93d083d63a0f77151",
          "kty": "EC-HSM",
          "x": "5n3iFnntjuiiTf2qHo580Tt_fhDCWxet-ESPVtUE8qA",
          "y": "JT98DgqtCtBPkPjfKBY9w1cll-jF8dJ7akab6cp1Ek0"
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/1960804913/?api-version=7.4-preview.1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20221020-1-945ffe56-develop",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1667424349,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1667424349
        },
        "key": {
          "crv": "P-256",
          "key_ops": [
            "sign",
            "verify"
          ],
          "kid": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/1960804913/03e73d76908e07d93d083d63a0f77151",
          "kty": "EC-HSM",
          "x": "5n3iFnntjuiiTf2qHo580Tt_fhDCWxet-ESPVtUE8qA",
          "y": "JT98DgqtCtBPkPjfKBY9w1cll-jF8dJ7akab6cp1Ek0"
        }
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com/",
    "AZURE_MANAGEDHSM_URL": "https://heathskeyvaulthsm.managedhsm.azure.net/",
    "RandomSeed": "2025707881"
  }
}
