{
  "Entries": [
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/454106354/create?api-version=7.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://managedhsm.azure.net\u0022",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/454106354/create?api-version=7.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC-HSM"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "291"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1604005200,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 90,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "updated": 1604005200
        },
        "key": {
          "crv": "P-256",
          "key_ops": [
            "verify",
            "sign"
          ],
          "kid": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/454106354/31023429131505171d58cf0a5a800697",
          "kty": "EC-HSM",
          "x": "lsjCqN3vScijXOgIyoAH4fgBVkTAWwMicRg2NhTq0SY",
          "y": "vIjlicg49M9dXLBGaHnbpUJx7DVz2eMCrCPy8psms3w"
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/454106354?api-version=7.1",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "182"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1604005200,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 90,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "updated": 1604005200
        },
        "deletedDate": 1604005200,
        "key": {
          "crv": "P-256",
          "key_ops": [
            "verify",
            "sign"
          ],
          "kid": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/454106354/31023429131505171d58cf0a5a800697",
          "kty": "EC-HSM",
          "x": "lsjCqN3vScijXOgIyoAH4fgBVkTAWwMicRg2NhTq0SY",
          "y": "vIjlicg49M9dXLBGaHnbpUJx7DVz2eMCrCPy8psms3w"
        },
        "recoveryId": "https://heathskeyvaulthsm.managedhsm.azure.net/deletedkeys/454106354",
        "scheduledPurgeDate": 1611781200
      }
    },
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/deletedkeys/454106354?api-version=7.1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20200917-2-1617fc9c-develop",
        "x-ms-server-latency": "70"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1604005200,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 90,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "updated": 1604005200
        },
        "deletedDate": 1604005200,
        "key": {
          "crv": "P-256",
          "key_ops": [
            "sign",
            "verify"
          ],
          "kid": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/454106354/31023429131505171d58cf0a5a800697",
          "kty": "EC-HSM",
          "x": "lsjCqN3vScijXOgIyoAH4fgBVkTAWwMicRg2NhTq0SY",
          "y": "vIjlicg49M9dXLBGaHnbpUJx7DVz2eMCrCPy8psms3w"
        },
        "recoveryId": "https://heathskeyvaulthsm.managedhsm.azure.net/deletedkeys/454106354",
        "scheduledPurgeDate": 1611781200
      }
    },
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/454106354/?api-version=7.1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20200917-2-1617fc9c-develop",
        "x-ms-server-latency": "18"
      },
      "ResponseBody": {
        "error": {
          "code": "KeyNotFound",
          "message": "Key not found: https://heathskeyvaulthsm.managedhsm.azure.net/keys/454106354 (Activity ID: 9854e428-1a09-11eb-b905-0242ac120005)"
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/deletedkeys/454106354/recover?api-version=7.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "254"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1604005200,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 90,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "updated": 1604005200
        },
        "key": {
          "crv": "P-256",
          "key_ops": [
            "sign",
            "verify"
          ],
          "kid": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/454106354/31023429131505171d58cf0a5a800697",
          "kty": "EC-HSM",
          "x": "lsjCqN3vScijXOgIyoAH4fgBVkTAWwMicRg2NhTq0SY",
          "y": "vIjlicg49M9dXLBGaHnbpUJx7DVz2eMCrCPy8psms3w"
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/454106354/31023429131505171d58cf0a5a800697?api-version=7.1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20200917-2-1617fc9c-develop",
        "x-ms-server-latency": "15"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1604005200,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 90,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "updated": 1604005200
        },
        "key": {
          "crv": "P-256",
          "key_ops": [
            "verify",
            "sign"
          ],
          "kid": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/454106354/31023429131505171d58cf0a5a800697",
          "kty": "EC-HSM",
          "x": "lsjCqN3vScijXOgIyoAH4fgBVkTAWwMicRg2NhTq0SY",
          "y": "vIjlicg49M9dXLBGaHnbpUJx7DVz2eMCrCPy8psms3w"
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/454106354/?api-version=7.1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20200917-2-1617fc9c-develop",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1604005200,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 90,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "updated": 1604005200
        },
        "key": {
          "crv": "P-256",
          "key_ops": [
            "sign",
            "verify"
          ],
          "kid": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/454106354/31023429131505171d58cf0a5a800697",
          "kty": "EC-HSM",
          "x": "lsjCqN3vScijXOgIyoAH4fgBVkTAWwMicRg2NhTq0SY",
          "y": "vIjlicg49M9dXLBGaHnbpUJx7DVz2eMCrCPy8psms3w"
        }
      }
    }
  ],
  "Variables": {
    "AZURE_MANAGEDHSM_URL": "https://heathskeyvaulthsm.managedhsm.azure.net/",
    "RandomSeed": "683733519"
  }
}