{
  "Entries": [
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/1544475666/create?api-version=7.4-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://managedhsm.azure.net\u0022",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/1544475666/create?api-version=7.4-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA-HSM"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "266"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1667583036,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1667583036
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/1544475666/2104fa1fe59d4704123be824dacbbe97",
          "kty": "RSA-HSM",
          "n": "8hRYeycHpUHP30p-w1LvQVcG9sdeEd6sPLqrAsnB5Tye-s77Bwy48K-grUcWyxYqOg-h1PeZQSTaWuQceN8xX0CgUBtw9swCdn7sMRhw-0HcCoT1niUsreahesCe7hboT3WlKhmYzZGDBdyoC6RWr-ABw-Eh1X02zrCCFXxSs3uQLRbNUjSCTEVZkPmecJUjD0AZ5D-ARqgru6ftK5Diaw_EA2SGmOxwnB-Cq_i8Oef6_EELBN1HpSvsJ6QoTyeXDqqWdMCeWvWseXL9-m7OZ1Tg5VOPOHLtrlH_6D2CubgIWWIJfTFnqZUNgE1jLUkqhw67iXnqtb7W3S0wWMwAbQ"
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/1544475666?api-version=7.4-preview.1",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "255"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1667583036,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1667583036
        },
        "deletedDate": 1667583037,
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "encrypt",
            "decrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/1544475666/2104fa1fe59d4704123be824dacbbe97",
          "kty": "RSA-HSM",
          "n": "8hRYeycHpUHP30p-w1LvQVcG9sdeEd6sPLqrAsnB5Tye-s77Bwy48K-grUcWyxYqOg-h1PeZQSTaWuQceN8xX0CgUBtw9swCdn7sMRhw-0HcCoT1niUsreahesCe7hboT3WlKhmYzZGDBdyoC6RWr-ABw-Eh1X02zrCCFXxSs3uQLRbNUjSCTEVZkPmecJUjD0AZ5D-ARqgru6ftK5Diaw_EA2SGmOxwnB-Cq_i8Oef6_EELBN1HpSvsJ6QoTyeXDqqWdMCeWvWseXL9-m7OZ1Tg5VOPOHLtrlH_6D2CubgIWWIJfTFnqZUNgE1jLUkqhw67iXnqtb7W3S0wWMwAbQ"
        },
        "recoveryId": "https://heathskeyvaulthsm.managedhsm.azure.net/deletedkeys/1544475666",
        "scheduledPurgeDate": 1668187837
      }
    },
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/deletedkeys/1544475666?api-version=7.4-preview.1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20221020-1-945ffe56-develop",
        "x-ms-server-latency": "27"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1667583036,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1667583036
        },
        "deletedDate": 1667583037,
        "key": {
          "e": "AQAB",
          "key_ops": [
            "verify",
            "sign",
            "unwrapKey",
            "encrypt",
            "decrypt",
            "wrapKey"
          ],
          "kid": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/1544475666/2104fa1fe59d4704123be824dacbbe97",
          "kty": "RSA-HSM",
          "n": "8hRYeycHpUHP30p-w1LvQVcG9sdeEd6sPLqrAsnB5Tye-s77Bwy48K-grUcWyxYqOg-h1PeZQSTaWuQceN8xX0CgUBtw9swCdn7sMRhw-0HcCoT1niUsreahesCe7hboT3WlKhmYzZGDBdyoC6RWr-ABw-Eh1X02zrCCFXxSs3uQLRbNUjSCTEVZkPmecJUjD0AZ5D-ARqgru6ftK5Diaw_EA2SGmOxwnB-Cq_i8Oef6_EELBN1HpSvsJ6QoTyeXDqqWdMCeWvWseXL9-m7OZ1Tg5VOPOHLtrlH_6D2CubgIWWIJfTFnqZUNgE1jLUkqhw67iXnqtb7W3S0wWMwAbQ"
        },
        "recoveryId": "https://heathskeyvaulthsm.managedhsm.azure.net/deletedkeys/1544475666",
        "scheduledPurgeDate": 1668187837
      }
    },
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/1544475666/?api-version=7.4-preview.1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20221020-1-945ffe56-develop",
        "x-ms-server-latency": "16"
      },
      "ResponseBody": {
        "error": {
          "code": "KeyNotFound",
          "message": "Key not found: https://heathskeyvaulthsm.managedhsm.azure.net/keys/1544475666 (Activity ID: 6564a0f2-5c66-11ed-a368-000d3a612dea)"
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/deletedkeys/1544475666/recover?api-version=7.4-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "113"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1667583036,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1667583036
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "verify",
            "sign",
            "unwrapKey",
            "decrypt",
            "encrypt",
            "wrapKey"
          ],
          "kid": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/1544475666/2104fa1fe59d4704123be824dacbbe97",
          "kty": "RSA-HSM",
          "n": "8hRYeycHpUHP30p-w1LvQVcG9sdeEd6sPLqrAsnB5Tye-s77Bwy48K-grUcWyxYqOg-h1PeZQSTaWuQceN8xX0CgUBtw9swCdn7sMRhw-0HcCoT1niUsreahesCe7hboT3WlKhmYzZGDBdyoC6RWr-ABw-Eh1X02zrCCFXxSs3uQLRbNUjSCTEVZkPmecJUjD0AZ5D-ARqgru6ftK5Diaw_EA2SGmOxwnB-Cq_i8Oef6_EELBN1HpSvsJ6QoTyeXDqqWdMCeWvWseXL9-m7OZ1Tg5VOPOHLtrlH_6D2CubgIWWIJfTFnqZUNgE1jLUkqhw67iXnqtb7W3S0wWMwAbQ"
        }
      }
    },
[...]
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/1544475666/?api-version=7.4-preview.1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20221020-1-945ffe56-develop",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1667583036,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1667583036
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "verify",
            "sign",
            "unwrapKey",
            "decrypt",
            "encrypt",
            "wrapKey"
          ],
          "kid": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/1544475666/2104fa1fe59d4704123be824dacbbe97",
          "kty": "RSA-HSM",
          "n": "8hRYeycHpUHP30p-w1LvQVcG9sdeEd6sPLqrAsnB5Tye-s77Bwy48K-grUcWyxYqOg-h1PeZQSTaWuQceN8xX0CgUBtw9swCdn7sMRhw-0HcCoT1niUsreahesCe7hboT3WlKhmYzZGDBdyoC6RWr-ABw-Eh1X02zrCCFXxSs3uQLRbNUjSCTEVZkPmecJUjD0AZ5D-ARqgru6ftK5Diaw_EA2SGmOxwnB-Cq_i8Oef6_EELBN1HpSvsJ6QoTyeXDqqWdMCeWvWseXL9-m7OZ1Tg5VOPOHLtrlH_6D2CubgIWWIJfTFnqZUNgE1jLUkqhw67iXnqtb7W3S0wWMwAbQ"
        }
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com/",
    "AZURE_MANAGEDHSM_URL": "https://heathskeyvaulthsm.managedhsm.azure.net/",
    "RandomSeed": "309828457"
  }
}
