{
  "Entries": [
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/1222159443/create?api-version=7.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://managedhsm.azure.net\u0022",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/1222159443/create?api-version=7.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC-HSM"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "299"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1613808549,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 90,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "updated": 1613808549
        },
        "key": {
          "crv": "P-256",
          "key_ops": [
            "verify",
            "sign"
          ],
          "kid": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/1222159443/2cc3af83e915068225d39f2ea489d489",
          "kty": "EC-HSM",
          "x": "QnjS3DYtqh8C34D2lsTnvsq3wLIU6PlEnSUQU95ilS0",
          "y": "La6cg9nM5XdUY0N5-PJx_LJexD6qKv02J3V9l7dzreg"
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/1222159443?api-version=7.2",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "219"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1613808549,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 90,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "updated": 1613808549
        },
        "deletedDate": 1613808550,
        "key": {
          "crv": "P-256",
          "key_ops": [
            "verify",
            "sign"
          ],
          "kid": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/1222159443/2cc3af83e915068225d39f2ea489d489",
          "kty": "EC-HSM",
          "x": "QnjS3DYtqh8C34D2lsTnvsq3wLIU6PlEnSUQU95ilS0",
          "y": "La6cg9nM5XdUY0N5-PJx_LJexD6qKv02J3V9l7dzreg"
        },
        "recoveryId": "https://heathskeyvaulthsm.managedhsm.azure.net/deletedkeys/1222159443",
        "scheduledPurgeDate": 1621584550
      }
    },
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/deletedkeys/1222159443?api-version=7.2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20210204-1-c9f88df4-develop",
        "x-ms-server-latency": "34"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1613808549,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 90,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "updated": 1613808549
        },
        "deletedDate": 1613808550,
        "key": {
          "crv": "P-256",
          "key_ops": [
            "sign",
            "verify"
          ],
          "kid": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/1222159443/2cc3af83e915068225d39f2ea489d489",
          "kty": "EC-HSM",
          "x": "QnjS3DYtqh8C34D2lsTnvsq3wLIU6PlEnSUQU95ilS0",
          "y": "La6cg9nM5XdUY0N5-PJx_LJexD6qKv02J3V9l7dzreg"
        },
        "recoveryId": "https://heathskeyvaulthsm.managedhsm.azure.net/deletedkeys/1222159443",
        "scheduledPurgeDate": 1621584550
      }
    },
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/1222159443/?api-version=7.2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20210204-1-c9f88df4-develop",
        "x-ms-server-latency": "22"
      },
      "ResponseBody": {
        "error": {
          "code": "KeyNotFound",
          "message": "Key not found: https://heathskeyvaulthsm.managedhsm.azure.net/keys/1222159443 (Activity ID: e9cb6ff0-7352-11eb-bcb9-0242ac120006)"
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/deletedkeys/1222159443/recover?api-version=7.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "147"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1613808549,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 90,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "updated": 1613808549
        },
        "key": {
          "crv": "P-256",
          "key_ops": [
            "sign",
            "verify"
          ],
          "kid": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/1222159443/2cc3af83e915068225d39f2ea489d489",
          "kty": "EC-HSM",
          "x": "QnjS3DYtqh8C34D2lsTnvsq3wLIU6PlEnSUQU95ilS0",
          "y": "La6cg9nM5XdUY0N5-PJx_LJexD6qKv02J3V9l7dzreg"
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/1222159443/2cc3af83e915068225d39f2ea489d489?api-version=7.2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20210204-1-c9f88df4-develop",
        "x-ms-server-latency": "23"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1613808549,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 90,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "updated": 1613808549
        },
        "key": {
          "crv": "P-256",
          "key_ops": [
            "verify",
            "sign"
          ],
          "kid": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/1222159443/2cc3af83e915068225d39f2ea489d489",
          "kty": "EC-HSM",
          "x": "QnjS3DYtqh8C34D2lsTnvsq3wLIU6PlEnSUQU95ilS0",
          "y": "La6cg9nM5XdUY0N5-PJx_LJexD6qKv02J3V9l7dzreg"
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/1222159443/?api-version=7.2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20210204-1-c9f88df4-develop",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1613808549,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 90,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "updated": 1613808549
        },
        "key": {
          "crv": "P-256",
          "key_ops": [
            "sign",
            "verify"
          ],
          "kid": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/1222159443/2cc3af83e915068225d39f2ea489d489",
          "kty": "EC-HSM",
          "x": "QnjS3DYtqh8C34D2lsTnvsq3wLIU6PlEnSUQU95ilS0",
          "y": "La6cg9nM5XdUY0N5-PJx_LJexD6qKv02J3V9l7dzreg"
        }
      }
    }
  ],
  "Variables": {
    "AZURE_MANAGEDHSM_URL": "https://heathskeyvaulthsm.managedhsm.azure.net/",
    "RandomSeed": "993946357"
  }
}