{
  "Entries": [
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/1424013042/create?api-version=7.4-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://managedhsm.azure.net\u0022",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/1424013042/create?api-version=7.4-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA-HSM"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "276"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1667583043,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1667583043
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/1424013042/a4c249083fcf4c52156419fe1718cdfe",
          "kty": "RSA-HSM",
          "n": "kh_10iRx1pJSmL-BcMry6q6LmgxGLO-X_Nt6vNCs1fFiqLtX2lVH46deeKsscSifTBDnZnmMnn5sKB_qNIckCE8CHBy1G8tzVsAYXyWrRgqdtz1yfDFbq7dYzB5cDzB-1JwreZTLwbXAA107CdLGamGCi3niGCPqF-t0l8LrWp3CSuLt0CKu3gWz4g570jmRv8qWFCpvPZl00yVJ7mcnqoaxiax1dSDprZlKtXN_aYUfKMbqX5OTnj5bljIxB1Y3fBIrG74oHmVaMwOWjhZCTswNMEdg0esfY3O2ug9EtB-_5QmRKC4BSH4F7Tzo_Xmd8KTGR82UrveJdZxFKCBSCw"
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/1424013042?api-version=7.4-preview.1",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "242"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1667583043,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1667583043
        },
        "deletedDate": 1667583043,
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "encrypt",
            "decrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/1424013042/a4c249083fcf4c52156419fe1718cdfe",
          "kty": "RSA-HSM",
          "n": "kh_10iRx1pJSmL-BcMry6q6LmgxGLO-X_Nt6vNCs1fFiqLtX2lVH46deeKsscSifTBDnZnmMnn5sKB_qNIckCE8CHBy1G8tzVsAYXyWrRgqdtz1yfDFbq7dYzB5cDzB-1JwreZTLwbXAA107CdLGamGCi3niGCPqF-t0l8LrWp3CSuLt0CKu3gWz4g570jmRv8qWFCpvPZl00yVJ7mcnqoaxiax1dSDprZlKtXN_aYUfKMbqX5OTnj5bljIxB1Y3fBIrG74oHmVaMwOWjhZCTswNMEdg0esfY3O2ug9EtB-_5QmRKC4BSH4F7Tzo_Xmd8KTGR82UrveJdZxFKCBSCw"
        },
        "recoveryId": "https://heathskeyvaulthsm.managedhsm.azure.net/deletedkeys/1424013042",
        "scheduledPurgeDate": 1668187843
      }
    },
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/deletedkeys/1424013042?api-version=7.4-preview.1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20221020-1-945ffe56-develop",
        "x-ms-server-latency": "35"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1667583043,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1667583043
        },
        "deletedDate": 1667583043,
        "key": {
          "e": "AQAB",
          "key_ops": [
            "verify",
            "sign",
            "unwrapKey",
            "encrypt",
            "decrypt",
            "wrapKey"
          ],
          "kid": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/1424013042/a4c249083fcf4c52156419fe1718cdfe",
          "kty": "RSA-HSM",
          "n": "kh_10iRx1pJSmL-BcMry6q6LmgxGLO-X_Nt6vNCs1fFiqLtX2lVH46deeKsscSifTBDnZnmMnn5sKB_qNIckCE8CHBy1G8tzVsAYXyWrRgqdtz1yfDFbq7dYzB5cDzB-1JwreZTLwbXAA107CdLGamGCi3niGCPqF-t0l8LrWp3CSuLt0CKu3gWz4g570jmRv8qWFCpvPZl00yVJ7mcnqoaxiax1dSDprZlKtXN_aYUfKMbqX5OTnj5bljIxB1Y3fBIrG74oHmVaMwOWjhZCTswNMEdg0esfY3O2ug9EtB-_5QmRKC4BSH4F7Tzo_Xmd8KTGR82UrveJdZxFKCBSCw"
        },
        "recoveryId": "https://heathskeyvaulthsm.managedhsm.azure.net/deletedkeys/1424013042",
        "scheduledPurgeDate": 1668187843
      }
    },
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/1424013042/?api-version=7.4-preview.1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20221020-1-945ffe56-develop",
        "x-ms-server-latency": "17"
      },
      "ResponseBody": {
        "error": {
          "code": "KeyNotFound",
          "message": "Key not found: https://heathskeyvaulthsm.managedhsm.azure.net/keys/1424013042 (Activity ID: 6956087c-5c66-11ed-a368-000d3a612dea)"
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/deletedkeys/1424013042/recover?api-version=7.4-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "120"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1667583043,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1667583043
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "verify",
            "sign",
            "unwrapKey",
            "decrypt",
            "encrypt",
            "wrapKey"
          ],
          "kid": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/1424013042/a4c249083fcf4c52156419fe1718cdfe",
          "kty": "RSA-HSM",
          "n": "kh_10iRx1pJSmL-BcMry6q6LmgxGLO-X_Nt6vNCs1fFiqLtX2lVH46deeKsscSifTBDnZnmMnn5sKB_qNIckCE8CHBy1G8tzVsAYXyWrRgqdtz1yfDFbq7dYzB5cDzB-1JwreZTLwbXAA107CdLGamGCi3niGCPqF-t0l8LrWp3CSuLt0CKu3gWz4g570jmRv8qWFCpvPZl00yVJ7mcnqoaxiax1dSDprZlKtXN_aYUfKMbqX5OTnj5bljIxB1Y3fBIrG74oHmVaMwOWjhZCTswNMEdg0esfY3O2ug9EtB-_5QmRKC4BSH4F7Tzo_Xmd8KTGR82UrveJdZxFKCBSCw"
        }
      }
    },
[...]
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/1424013042/?api-version=7.4-preview.1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20221020-1-945ffe56-develop",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1667583043,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1667583043
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "verify",
            "sign",
            "unwrapKey",
            "decrypt",
            "encrypt",
            "wrapKey"
          ],
          "kid": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/1424013042/a4c249083fcf4c52156419fe1718cdfe",
          "kty": "RSA-HSM",
          "n": "kh_10iRx1pJSmL-BcMry6q6LmgxGLO-X_Nt6vNCs1fFiqLtX2lVH46deeKsscSifTBDnZnmMnn5sKB_qNIckCE8CHBy1G8tzVsAYXyWrRgqdtz1yfDFbq7dYzB5cDzB-1JwreZTLwbXAA107CdLGamGCi3niGCPqF-t0l8LrWp3CSuLt0CKu3gWz4g570jmRv8qWFCpvPZl00yVJ7mcnqoaxiax1dSDprZlKtXN_aYUfKMbqX5OTnj5bljIxB1Y3fBIrG74oHmVaMwOWjhZCTswNMEdg0esfY3O2ug9EtB-_5QmRKC4BSH4F7Tzo_Xmd8KTGR82UrveJdZxFKCBSCw"
        }
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com/",
    "AZURE_MANAGEDHSM_URL": "https://heathskeyvaulthsm.managedhsm.azure.net/",
    "RandomSeed": "1091657233"
  }
}
