{
  "Entries": [
    {
      "RequestUri": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/2077299352/create?api-version=7.4",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://managedhsm.azure.net\u0022",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/2077299352/create?api-version=7.4",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA-HSM"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "257"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1677705976,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1677705976
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/2077299352/e80473663d1b4d901856e6c2d2440910",
          "kty": "RSA-HSM",
          "n": "ik6wKAzVstiN-FVH_obPSqie6EYrRRol_Piu6wx1nkgq-elUBtS_ejOJTZZaRL7ILacWfdTb-qWb7oNMfZXCSsNLJu5epJhVecPCRde2HOxf-5gA2e0imhuxYD3TKfw4BsOSH4o4G5_MiGPtz1e2MD981ener8hmFZozPr7NAFfEj79ln2L0wxYeJ6xAoq1JlVmpal3Klxx9jG0ic_kdR4hJg3CbG8y26cmwWtu0_vE3vxiLaeLkSFGrw4P3qZ9U6WIZ89-g1TImdOtLVZgeMzF1QPjseoUSZZz-2rh-7V9oD_QQFKhbpifY2IbuMt4NymoX8sRZMkicO0-ff21b5w"
        }
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/2077299352?api-version=7.4",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "82"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1677705976,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1677705976
        },
        "deletedDate": 1677705976,
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "encrypt",
            "decrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/2077299352/e80473663d1b4d901856e6c2d2440910",
          "kty": "RSA-HSM",
          "n": "ik6wKAzVstiN-FVH_obPSqie6EYrRRol_Piu6wx1nkgq-elUBtS_ejOJTZZaRL7ILacWfdTb-qWb7oNMfZXCSsNLJu5epJhVecPCRde2HOxf-5gA2e0imhuxYD3TKfw4BsOSH4o4G5_MiGPtz1e2MD981ener8hmFZozPr7NAFfEj79ln2L0wxYeJ6xAoq1JlVmpal3Klxx9jG0ic_kdR4hJg3CbG8y26cmwWtu0_vE3vxiLaeLkSFGrw4P3qZ9U6WIZ89-g1TImdOtLVZgeMzF1QPjseoUSZZz-2rh-7V9oD_QQFKhbpifY2IbuMt4NymoX8sRZMkicO0-ff21b5w"
        },
        "recoveryId": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/deletedkeys/2077299352",
        "scheduledPurgeDate": 1678310776
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/deletedkeys/2077299352?api-version=7.4",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20230208-1-3e0fbecc-develop",
        "x-ms-server-latency": "25"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1677705976,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1677705976
        },
        "deletedDate": 1677705976,
        "key": {
          "e": "AQAB",
          "key_ops": [
            "verify",
            "sign",
            "unwrapKey",
            "encrypt",
            "decrypt",
            "wrapKey"
          ],
          "kid": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/2077299352/e80473663d1b4d901856e6c2d2440910",
          "kty": "RSA-HSM",
          "n": "ik6wKAzVstiN-FVH_obPSqie6EYrRRol_Piu6wx1nkgq-elUBtS_ejOJTZZaRL7ILacWfdTb-qWb7oNMfZXCSsNLJu5epJhVecPCRde2HOxf-5gA2e0imhuxYD3TKfw4BsOSH4o4G5_MiGPtz1e2MD981ener8hmFZozPr7NAFfEj79ln2L0wxYeJ6xAoq1JlVmpal3Klxx9jG0ic_kdR4hJg3CbG8y26cmwWtu0_vE3vxiLaeLkSFGrw4P3qZ9U6WIZ89-g1TImdOtLVZgeMzF1QPjseoUSZZz-2rh-7V9oD_QQFKhbpifY2IbuMt4NymoX8sRZMkicO0-ff21b5w"
        },
        "recoveryId": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/deletedkeys/2077299352",
        "scheduledPurgeDate": 1678310776
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/2077299352/?api-version=7.4",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20230208-1-3e0fbecc-develop",
        "x-ms-server-latency": "16"
      },
      "ResponseBody": {
        "error": {
          "code": "KeyNotFound",
          "message": "Key not found: https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/2077299352 (Activity ID: b391e538-b877-11ed-ab49-0022488d0014)"
        }
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/deletedkeys/2077299352/recover?api-version=7.4",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "115"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1677705976,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1677705976
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "verify",
            "sign",
            "unwrapKey",
            "decrypt",
            "encrypt",
            "wrapKey"
          ],
          "kid": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/2077299352/e80473663d1b4d901856e6c2d2440910",
          "kty": "RSA-HSM",
          "n": "ik6wKAzVstiN-FVH_obPSqie6EYrRRol_Piu6wx1nkgq-elUBtS_ejOJTZZaRL7ILacWfdTb-qWb7oNMfZXCSsNLJu5epJhVecPCRde2HOxf-5gA2e0imhuxYD3TKfw4BsOSH4o4G5_MiGPtz1e2MD981ener8hmFZozPr7NAFfEj79ln2L0wxYeJ6xAoq1JlVmpal3Klxx9jG0ic_kdR4hJg3CbG8y26cmwWtu0_vE3vxiLaeLkSFGrw4P3qZ9U6WIZ89-g1TImdOtLVZgeMzF1QPjseoUSZZz-2rh-7V9oD_QQFKhbpifY2IbuMt4NymoX8sRZMkicO0-ff21b5w"
        }
      }
    },
[...]
    {
      "RequestUri": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/2077299352/?api-version=7.4",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20230208-1-3e0fbecc-develop",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1677705976,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1677705976
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "verify",
            "sign",
            "unwrapKey",
            "decrypt",
            "encrypt",
            "wrapKey"
          ],
          "kid": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/2077299352/e80473663d1b4d901856e6c2d2440910",
          "kty": "RSA-HSM",
          "n": "ik6wKAzVstiN-FVH_obPSqie6EYrRRol_Piu6wx1nkgq-elUBtS_ejOJTZZaRL7ILacWfdTb-qWb7oNMfZXCSsNLJu5epJhVecPCRde2HOxf-5gA2e0imhuxYD3TKfw4BsOSH4o4G5_MiGPtz1e2MD981ener8hmFZozPr7NAFfEj79ln2L0wxYeJ6xAoq1JlVmpal3Klxx9jG0ic_kdR4hJg3CbG8y26cmwWtu0_vE3vxiLaeLkSFGrw4P3qZ9U6WIZ89-g1TImdOtLVZgeMzF1QPjseoUSZZz-2rh-7V9oD_QQFKhbpifY2IbuMt4NymoX8sRZMkicO0-ff21b5w"
        }
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com/",
    "AZURE_MANAGEDHSM_URL": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/",
    "RandomSeed": "1065320581"
  }
}
