{
  "Entries": [
    {
      "RequestUri": "https://heathskvtesthsm.managedhsm.azure.net/keys/454106354/create?api-version=7.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://managedhsm.azure.net\u0022",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://heathskvtesthsm.managedhsm.azure.net/keys/454106354/create?api-version=7.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC-HSM"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "262"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1626228572,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 90,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "updated": 1626228572
        },
        "key": {
          "crv": "P-256",
          "key_ops": [
            "verify",
            "sign"
          ],
          "kid": "https://heathskvtesthsm.managedhsm.azure.net/keys/454106354/4ea950a67bef4c84bca52ab4608b82c1",
          "kty": "EC-HSM",
          "x": "ZQ5dw4_O0qjHG-MOJCDNiG7-1Sae2bncMJ3nFrDKUbc",
          "y": "Gqv-xASP2LBvsRsXnrpoktmhf6KbGbMS-TCqoWcT6gY"
        }
      }
    },
    {
      "RequestUri": "https://heathskvtesthsm.managedhsm.azure.net/keys/454106354?api-version=7.2",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "146"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1626228572,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 90,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "updated": 1626228572
        },
        "deletedDate": 1626228573,
        "key": {
          "crv": "P-256",
          "key_ops": [
            "verify",
            "sign"
          ],
          "kid": "https://heathskvtesthsm.managedhsm.azure.net/keys/454106354/4ea950a67bef4c84bca52ab4608b82c1",
          "kty": "EC-HSM",
          "x": "ZQ5dw4_O0qjHG-MOJCDNiG7-1Sae2bncMJ3nFrDKUbc",
          "y": "Gqv-xASP2LBvsRsXnrpoktmhf6KbGbMS-TCqoWcT6gY"
        },
        "recoveryId": "https://heathskvtesthsm.managedhsm.azure.net/deletedkeys/454106354",
        "scheduledPurgeDate": 1634004573
      }
    },
    {
      "RequestUri": "https://heathskvtesthsm.managedhsm.azure.net/deletedkeys/454106354?api-version=7.2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20210605-1-ffd80f31-develop",
        "x-ms-server-latency": "31"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1626228572,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 90,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "updated": 1626228572
        },
        "deletedDate": 1626228573,
        "key": {
          "crv": "P-256",
          "key_ops": [
            "sign",
            "verify"
          ],
          "kid": "https://heathskvtesthsm.managedhsm.azure.net/keys/454106354/4ea950a67bef4c84bca52ab4608b82c1",
          "kty": "EC-HSM",
          "x": "ZQ5dw4_O0qjHG-MOJCDNiG7-1Sae2bncMJ3nFrDKUbc",
          "y": "Gqv-xASP2LBvsRsXnrpoktmhf6KbGbMS-TCqoWcT6gY"
        },
        "recoveryId": "https://heathskvtesthsm.managedhsm.azure.net/deletedkeys/454106354",
        "scheduledPurgeDate": 1634004573
      }
    },
    {
      "RequestUri": "https://heathskvtesthsm.managedhsm.azure.net/keys/454106354/?api-version=7.2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20210605-1-ffd80f31-develop",
        "x-ms-server-latency": "17"
      },
      "ResponseBody": {
        "error": {
          "code": "KeyNotFound",
          "message": "Key not found: https://heathskvtesthsm.managedhsm.azure.net/keys/454106354 (Activity ID: 87e8857c-e448-11eb-adb3-000d3aeb0164)"
        }
      }
    },
    {
      "RequestUri": "https://heathskvtesthsm.managedhsm.azure.net/deletedkeys/454106354/recover?api-version=7.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "139"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1626228572,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 90,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "updated": 1626228572
        },
        "key": {
          "crv": "P-256",
          "key_ops": [
            "sign",
            "verify"
          ],
          "kid": "https://heathskvtesthsm.managedhsm.azure.net/keys/454106354/4ea950a67bef4c84bca52ab4608b82c1",
          "kty": "EC-HSM",
          "x": "ZQ5dw4_O0qjHG-MOJCDNiG7-1Sae2bncMJ3nFrDKUbc",
          "y": "Gqv-xASP2LBvsRsXnrpoktmhf6KbGbMS-TCqoWcT6gY"
        }
      }
    },
    {
      "RequestUri": "https://heathskvtesthsm.managedhsm.azure.net/keys/454106354/4ea950a67bef4c84bca52ab4608b82c1?api-version=7.2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20210605-1-ffd80f31-develop",
        "x-ms-server-latency": "16"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1626228572,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 90,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "updated": 1626228572
        },
        "key": {
          "crv": "P-256",
          "key_ops": [
            "verify",
            "sign"
          ],
          "kid": "https://heathskvtesthsm.managedhsm.azure.net/keys/454106354/4ea950a67bef4c84bca52ab4608b82c1",
          "kty": "EC-HSM",
          "x": "ZQ5dw4_O0qjHG-MOJCDNiG7-1Sae2bncMJ3nFrDKUbc",
          "y": "Gqv-xASP2LBvsRsXnrpoktmhf6KbGbMS-TCqoWcT6gY"
        }
      }
    },
    {
      "RequestUri": "https://heathskvtesthsm.managedhsm.azure.net/keys/454106354/?api-version=7.2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20210605-1-ffd80f31-develop",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1626228572,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 90,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "updated": 1626228572
        },
        "key": {
          "crv": "P-256",
          "key_ops": [
            "sign",
            "verify"
          ],
          "kid": "https://heathskvtesthsm.managedhsm.azure.net/keys/454106354/4ea950a67bef4c84bca52ab4608b82c1",
          "kty": "EC-HSM",
          "x": "ZQ5dw4_O0qjHG-MOJCDNiG7-1Sae2bncMJ3nFrDKUbc",
          "y": "Gqv-xASP2LBvsRsXnrpoktmhf6KbGbMS-TCqoWcT6gY"
        }
      }
    }
  ],
  "Variables": {
    "AZURE_MANAGEDHSM_URL": "https://heathskvtesthsm.managedhsm.azure.net/",
    "RandomSeed": "683733519"
  }
}