{
  "Entries": [
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/1367814632/create?api-version=7.3",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://managedhsm.azure.net\u0022",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/1367814632/create?api-version=7.3",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA-HSM",
        "key_size": 2048
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "227"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1648058817,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1648058817
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/1367814632/fbe70fe9e50b42902768210a3d57ece0",
          "kty": "RSA-HSM",
          "n": "uTJrlLuza98Nm-hnAJP1JXU1Gy2Wdvu57_A4OGN3SpGl6JdgoyOhE-R_VXBxAj8JoU_Dle6VZ62euB3Pfbd4bfKamngYUlSOCX5yGO-pDQ8TIqVPwNuNcN4v_V4p3-Ycoct_7QtpSvWTtzeUeWSDt0HZiD7d_aKEIheojib_5_50VOV7eF14IyYRF2Y7lCq66Kofw1hCpq735JBCOlUH15Thf7a08yt7MV5WQDwGCOkoosUEMA767eXchEoPzVYdJaiim2PfAd_rexyJRtdyVaj866irj_d1_BXfwUOh4fd2fZTMo04B-v7dxKCrsc3eaiq3MR-cNdf796ilhINRbQ"
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/1367814632/fbe70fe9e50b42902768210a3d57ece0?api-version=7.3",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "attributes": {
          "exportable": true
        },
        "release_policy": {
          "data": "ew0KICAgICJhbnlPZiI6IFsNCiAgICAgICAgew0KICAgICAgICAgICAgImFueU9mIjogWw0KICAgICAgICAgICAgICAgIHsNCiAgICAgICAgICAgICAgICAgICAgImNsYWltIjogInNkay10ZXN0IiwNCiAgICAgICAgICAgICAgICAgICAgImVxdWFscyI6ICJ0cnVlIg0KICAgICAgICAgICAgICAgIH0NCiAgICAgICAgICAgIF0sDQogICAgICAgICAgICAiYXV0aG9yaXR5IjogImh0dHBzOi8vaGVhdGhza2V5dmF1bHRzaXRlLmF6dXJld2Vic2l0ZXMubmV0LyINCiAgICAgICAgfQ0KICAgIF0sDQogICAgInZlcnNpb24iOiAiMS4wLjAiDQp9"
        }
      },
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "112"
      },
      "ResponseBody": {
        "error": {
          "code": "BadParameter",
          "message": "Cannot modify the exportable state of a key (Activity ID: 079ed10c-aad4-11ec-bbab-000d3aeeda4b)"
        }
      }
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_ATTESTATION_URL": "https://heathskeyvaultsite.azurewebsites.net/",
    "AZURE_MANAGEDHSM_URL": "https://heathskeyvaulthsm.managedhsm.azure.net/",
    "RandomSeed": "753994315"
  }
}
