{
  "Entries": [
    {
      "RequestUri": "https://heathskvtesthsm.managedhsm.azure.net/keys//restore?api-version=7.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://managedhsm.azure.net\u0022",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://heathskvtesthsm.managedhsm.azure.net/keys//restore?api-version=7.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "value": "bm9uLWV4aXN0aW5n"
      },
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": {
        "error": {
          "code": "MalformedBackupBlob",
          "message": "Backup blob belongs to a different crypto domain and cannot be used with this instance. (Activity ID: 4c4c4242-e448-11eb-ba03-000d3a70aa3b)"
        }
      }
    }
  ],
  "Variables": {
    "AZURE_MANAGEDHSM_URL": "https://heathskvtesthsm.managedhsm.azure.net/",
    "RandomSeed": "196385741"
  }
}