{
  "Entries": [
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/572141428/create?api-version=7.3",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://managedhsm.azure.net\u0022",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/572141428/create?api-version=7.3",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA-HSM"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "223"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1648059157,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1648059157
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/572141428/54ea8149640e454527e3e27cb0a7de0e",
          "kty": "RSA-HSM",
          "n": "i1YDmVA3S-mOl1jCUeKapglzKmo9KVwV5NyM2bfBZfcFeF5-NRVoJcPH22V2M4iCT9yovbkcSymITvPI1EucSXdb-RfGDgzP0e9uCBRebjOnlbKPBhiILdbjsDvBR2e-1QFCOEiAJcUqU3O0mBHuoUvunzLaclboBweW07Bfvrkl60rdIaHziC-neca4zfjF4NHbzfVl-MgH2FyUYxfFBKZZd0pgPbXsdC0Cdi8aom241yg17F89sFzxSePwbuetwucVXwbneLuQRao52fFOlPk8U0vq3mwsyZ-W2k-vCxE2z5jXxDEoTUsp6ylJ47m79LsQDFrF75f-9DyN6WHzjw"
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/572141428/54ea8149640e454527e3e27cb0a7de0e?api-version=7.3",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "attributes": {
          "enabled": false,
          "exportable": false
        },
        "key_ops": [
          "wrapKey",
          "decrypt",
          "encrypt",
          "u[...]
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/572141428/?api-version=7.3",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20220305-2-902fedaa-closebadconnections",
        "x-ms-server-latency": "19"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1648059157,
          "enabled": false,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1648059157
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "verify",
            "sign",
            "unwrapKey",
            "decrypt",
            "encrypt"
          ],
          "kid": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/572141428/54ea8149640e454527e3e27cb0a7de0e",
          "kty": "RSA-HSM",
          "n": "i1YDmVA3S-mOl1jCUeKapglzKmo9KVwV5NyM2bfBZfcFeF5-NRVoJcPH22V2M4iCT9yovbkcSymITvPI1EucSXdb-RfGDgzP0e9uCBRebjOnlbKPBhiILdbjsDvBR2e-1QFCOEiAJcUqU3O0mBHuoUvunzLaclboBweW07Bfvrkl60rdIaHziC-neca4zfjF4NHbzfVl-MgH2FyUYxfFBKZZd0pgPbXsdC0Cdi8aom241yg17F89sFzxSePwbuetwucVXwbneLuQRao52fFOlPk8U0vq3mwsyZ-W2k-vCxE2z5jXxDEoTUsp6ylJ47m79LsQDFrF75f-9DyN6WHzjw"
        }
      }
    }
  ],
  "Variables": {
    "AZURE_MANAGEDHSM_URL": "https://heathskeyvaulthsm.managedhsm.azure.net/",
    "RandomSeed": "1102418001"
  }
}
