{
  "Entries": [
    {
      "RequestUri": "https://heathskvtesthsm.managedhsm.azure.net/keys/2074885795/create?api-version=7.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://managedhsm.azure.net\u0022",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://heathskvtesthsm.managedhsm.azure.net/keys/2074885795/create?api-version=7.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA-HSM",
        "tags": {
          "A": "1",
          "B": "2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "203"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1626228600,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 90,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "updated": 1626228600
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://heathskvtesthsm.managedhsm.azure.net/keys/2074885795/11f23f94385049412ad289e1fe1c96ba",
          "kty": "RSA-HSM",
          "n": "i1vaflbG5YQVu_nhMZTfG2MQyyujz5yLoOgQBXET2EtW0-QPvFqNpYOMoYcgPkpHXDVrUBB_jEso1KJpHpQnzm9ue-fO_Qhr63PJNHdV_SxxjHPLgE7wgCTC3gU7hUWIdz7f0tlHp2cvU0C2nvRwTF8daen57VOVGjel-qX__73UM8MZ4h5GEjIma-NaD0nFoHJQ6_EhTu63oyWgQJA5jbwSS0IRB_CQ-7tmvBfwxuSzP6EKmLtswBsxpQ7P2f_4513Ov8w8JI-imUG0iVzvjJoc5rskvjIf3-tL2ASoGlZC9g9YcGyE4FTb2hP5eMDmyjgEZ_tH3kLYrCdcU8nT4Q"
        },
        "tags": {
          "A": "1",
          "B": "2"
        }
      }
    },
    {
      "RequestUri": "https://heathskvtesthsm.managedhsm.azure.net/keys/2074885795/11f23f94385049412ad289e1fe1c96ba?api-version=7.2",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "attributes": {
          "enabled": true
        },
        "tags": {
          "A": "1",
          "B": "3",
          "C": "4"
        }
      },
      "StatusCode": 200,
      "R[...]
[...]
