{
  "Entries": [
    {
      "RequestUri": "https://heathskvtesthsm.managedhsm.azure.net/keys/741265882/create?api-version=7.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://managedhsm.azure.net\u0022",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://heathskvtesthsm.managedhsm.azure.net/keys/741265882/create?api-version=7.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC-HSM",
        "key_ops": [
          "verify"
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "237"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1626228584,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 90,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "updated": 1626228584
        },
        "key": {
          "crv": "P-256",
          "key_ops": [
            "verify"
          ],
          "kid": "https://heathskvtesthsm.managedhsm.azure.net/keys/741265882/629dc5879b810609b0a06e252fbceb92",
          "kty": "EC-HSM",
          "x": "fYgrkqH4a63YLWqVq3v7ffc4rUH12aJBni_ywZzVu44",
          "y": "4TqyICeJVgr861mlzi2SU13XUtnZJLR-BsyEZtejap0"
        }
      }
    },
    {
      "RequestUri": "https://heathskvtesthsm.managedhsm.azure.net/keys/741265882/629dc5879b810609b0a06e252fbceb92?api-version=7.2",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "attributes": {
          "enabled": true,
          "exp": 1626314984
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "131"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1626228584,
          "enabled": true,
          "exp": 1626314984,
          "exportable": false,
          "recoverableDays": 90,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "updated": 1626228584
        },
        "key": {
          "crv": "P-256",
          "key_ops": [
            "verify"
          ],
          "kid": "https://heathskvtesthsm.managedhsm.azure.net/keys/741265882/629dc5879b810609b0a06e252fbceb92",
          "kty": "EC-HSM",
          "x": "fYgrkqH4a63YLWqVq3v7ffc4rUH12aJBni_ywZzVu44",
          "y": "4TqyICeJVgr861mlzi2SU13XUtnZJLR-BsyEZtejap0"
        }
      }
    },
    {
      "RequestUri": "https://heathskvtesthsm.managedhsm.azure.net/keys/741265882/629dc5879b810609b0a06e252fbceb92?api-version=7.2",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "attributes": {
          "enabled": true,
          "exp": 1626314984
        },
        "key_ops": [
          "sign",
          "verify"
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "88"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1626228584,
          "enabled": true,
          "exp": 1626314984,
          "exportable": false,
          "recoverableDays": 90,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "updated": 1626228585
        },
        "key": {
          "crv": "P-256",
          "key_ops": [
            "sign",
            "verify"
          ],
          "kid": "https://heathskvtesthsm.managedhsm.azure.net/keys/741265882/629dc5879b810609b0a06e252fbceb92",
          "kty": "EC-HSM",
          "x": "fYgrkqH4a63YLWqVq3v7ffc4rUH12aJBni_ywZzVu44",
          "y": "4TqyICeJVgr861mlzi2SU13XUtnZJLR-BsyEZtejap0"
        }
      }
    }
  ],
  "Variables": {
    "AZURE_MANAGEDHSM_URL": "https://heathskvtesthsm.managedhsm.azure.net/",
    "RandomSeed": "125814140"
  }
}