{
  "Entries": [
    {
      "RequestUri": "https://heathskvtesthsm.managedhsm.azure.net/keys/1808553965/create?api-version=7.3-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://managedhsm.azure.net\u0022",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://heathskvtesthsm.managedhsm.azure.net/keys/1808553965/create?api-version=7.3-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA-HSM"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "248"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1626298931,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 90,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "updated": 1626298931
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://heathskvtesthsm.managedhsm.azure.net/keys/1808553965/f9717e9462324e7597e6242a447461e2",
          "kty": "RSA-HSM",
          "n": "rAQz76Vq9oXFKYi0r9YBgSngQ0qANhq7cP2dTzzQNzQfGACz5krd45IcJBRa_D8cMomr8ko_RcxTKqBafeDMpHfAS_mtJ59cokPToFCf4CJI1b4izQBPuA4l9V8ZDRo_NmtcB8Klnm1jRW1XjSSN9P6WohcjsE51MxWacUPUme5CDEVmq51SxzBLfmJP2JK0rUx_IKtoZ-20BCbpH4dDzsx3kc99oidK8OzB5tT6ygXAixbXGxFvGErhFr6cogH6IghAB4c-RQL9NXmG5UtBVe8Yf54HwtWmIf5zI0qppTmogKRrJejnMJhg1pVy6bVI22KInOBq9FJpWpXiwlZrQw"
        }
      }
    },
    {
      "RequestUri": "https://heathskvtesthsm.managedhsm.azure.net/keys/1808553965/f9717e9462324e7597e6242a447461e2?api-version=7.3-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "attributes": {
          "enabled": false
        },
        "key_ops": [
          "wrapKey",
          "decrypt",
          "encrypt",
          "unwrapKey",
          "si[...]
    {
      "RequestUri": "https://heathskvtesthsm.managedhsm.azure.net/keys/1808553965/?api-version=7.3-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20210605-1-ffd80f31-develop",
        "x-ms-server-latency": "21"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1626298931,
          "enabled": false,
          "exportable": false,
          "recoverableDays": 90,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "updated": 1626298931
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "sign",
            "verify",
            "decrypt",
            "encrypt",
            "unwrapKey"
          ],
          "kid": "https://heathskvtesthsm.managedhsm.azure.net/keys/1808553965/f9717e9462324e7597e6242a447461e2",
          "kty": "RSA-HSM",
          "n": "rAQz76Vq9oXFKYi0r9YBgSngQ0qANhq7cP2dTzzQNzQfGACz5krd45IcJBRa_D8cMomr8ko_RcxTKqBafeDMpHfAS_mtJ59cokPToFCf4CJI1b4izQBPuA4l9V8ZDRo_NmtcB8Klnm1jRW1XjSSN9P6WohcjsE51MxWacUPUme5CDEVmq51SxzBLfmJP2JK0rUx_IKtoZ-20BCbpH4dDzsx3kc99oidK8OzB5tT6ygXAixbXGxFvGErhFr6cogH6IghAB4c-RQL9NXmG5UtBVe8Yf54HwtWmIf5zI0qppTmogKRrJejnMJhg1pVy6bVI22KInOBq9FJpWpXiwlZrQw"
        }
      }
    }
  ],
  "Variables": {
    "AZURE_MANAGEDHSM_URL": "https://heathskvtesthsm.managedhsm.azure.net/",
    "RandomSeed": "308564556"
  }
}