{
  "Entries": [
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/315822362/create?api-version=7.3",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://managedhsm.azure.net\u0022",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/315822362/create?api-version=7.3",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC",
        "tags": {
          "A": "1",
          "B": "2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "272"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1648058844,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1648058844
        },
        "key": {
          "crv": "P-256",
          "key_ops": [
            "verify",
            "sign"
          ],
          "kid": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/315822362/1d108e7d63ed0c2e32eeeaa483a3131f",
          "kty": "EC-HSM",
          "x": "TPtH0mIzagg7dJ41jjC5s6B-JJh858sZC2Jmca6biDI",
          "y": "Eiucdr263vheobSzDLoZIPnlhh0kassF912-wJQC2Vg"
        },
        "tags": {
          "A": "1",
          "B": "2"
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/315822362/1d108e7d63ed0c2e32eeeaa483a3131f?api-version=7.3",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "attributes": {
          "enabled": true,
          "exportable": false
        },
        "tags": {
          "A": "1",
          "B": "3",
          "C": "4"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "200"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1648058844,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1648058844
        },
        "key": {
          "crv": "P-256",
          "key_ops": [
            "verify",
            "sign"
          ],
          "kid": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/315822362/1d108e7d63ed0c2e32eeeaa483a3131f",
          "kty": "EC-HSM",
          "x": "TPtH0mIzagg7dJ41jjC5s6B-JJh858sZC2Jmca6biDI",
          "y": "Eiucdr263vheobSzDLoZIPnlhh0kassF912-wJQC2Vg"
        },
        "tags": {
          "A": "1",
          "B": "3",
          "C": "4"
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/315822362/1d108e7d63ed0c2e32eeeaa483a3131f?api-version=7.3",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "attributes": {
          "enabled": true,
          "exportable": false
        },
        "tags": {
          "D": "5"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "89"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1648058844,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1648058845
        },
        "key": {
          "crv": "P-256",
          "key_ops": [
            "verify",
            "sign"
          ],
          "kid": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/315822362/1d108e7d63ed0c2e32eeeaa483a3131f",
          "kty": "EC-HSM",
          "x": "TPtH0mIzagg7dJ41jjC5s6B-JJh858sZC2Jmca6biDI",
          "y": "Eiucdr263vheobSzDLoZIPnlhh0kassF912-wJQC2Vg"
        },
        "tags": {
          "D": "5"
        }
      }
    }
  ],
  "Variables": {
    "AZURE_MANAGEDHSM_URL": "https://heathskeyvaulthsm.managedhsm.azure.net/",
    "RandomSeed": "1582176692"
  }
}
