{
  "Entries": [
    {
      "RequestUri": "https://heathskvtesthsm.managedhsm.azure.net/keys/1941190089/create?api-version=7.3-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://managedhsm.azure.net\u0022",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://heathskvtesthsm.managedhsm.azure.net/keys/1941190089/create?api-version=7.3-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "297"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1626298922,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 90,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "updated": 1626298922
        },
        "key": {
          "crv": "P-256",
          "key_ops": [
            "verify",
            "sign"
          ],
          "kid": "https://heathskvtesthsm.managedhsm.azure.net/keys/1941190089/8b6607c9c8aa08d20bc4fd9739beeb02",
          "kty": "EC-HSM",
          "x": "o8Yj4TtkxM8p1yyBTA4Rjtf2q7zMTbkSyhUudlO1y14",
          "y": "QhTRddUlX3ccNSRHRb7-7IeeBGnamr9tq4yvYOdOErc"
        }
      }
    },
    {
      "RequestUri": "https://heathskvtesthsm.managedhsm.azure.net/keys/1941190089/8b6607c9c8aa08d20bc4fd9739beeb02?api-version=7.3-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "attributes": {
          "enabled": false
        },
        "key_ops": [
          "verify",
          "sign"
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "191"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1626298922,
          "enabled": false,
          "exportable": false,
          "recoverableDays": 90,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "updated": 1626298923
        },
        "key": {
          "crv": "P-256",
          "key_ops": [
            "verify",
            "sign"
          ],
          "kid": "https://heathskvtesthsm.managedhsm.azure.net/keys/1941190089/8b6607c9c8aa08d20bc4fd9739beeb02",
          "kty": "EC-HSM",
          "x": "o8Yj4TtkxM8p1yyBTA4Rjtf2q7zMTbkSyhUudlO1y14",
          "y": "QhTRddUlX3ccNSRHRb7-7IeeBGnamr9tq4yvYOdOErc"
        }
      }
    },
    {
      "RequestUri": "https://heathskvtesthsm.managedhsm.azure.net/keys/1941190089/?api-version=7.3-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20210605-1-ffd80f31-develop",
        "x-ms-server-latency": "20"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1626298922,
          "enabled": false,
          "exportable": false,
          "recoverableDays": 90,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "updated": 1626298923
        },
        "key": {
          "crv": "P-256",
          "key_ops": [
            "verify",
            "sign"
          ],
          "kid": "https://heathskvtesthsm.managedhsm.azure.net/keys/1941190089/8b6607c9c8aa08d20bc4fd9739beeb02",
          "kty": "EC-HSM",
          "x": "o8Yj4TtkxM8p1yyBTA4Rjtf2q7zMTbkSyhUudlO1y14",
          "y": "QhTRddUlX3ccNSRHRb7-7IeeBGnamr9tq4yvYOdOErc"
        }
      }
    }
  ],
  "Variables": {
    "AZURE_MANAGEDHSM_URL": "https://heathskvtesthsm.managedhsm.azure.net/",
    "RandomSeed": "594720661"
  }
}