{
  "Entries": [
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/1401723447/create?api-version=7.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://managedhsm.azure.net\u0022",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/1401723447/create?api-version=7.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA-HSM"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "262"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1613808726,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 90,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "updated": 1613808726
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/1401723447/bb29b11e0fa247193781f9b110751962",
          "kty": "RSA-HSM",
          "n": "xp0IGKdYqRsFX4JK_LZOuqrCScDGRsG1Stdl3Z7GIWOithnH_U1jloqiA5QDdprgiW0J-o7u_IqUxvVv0jtQscUtTLVieX6_Zz0QgyLkjYfUxpMwMK507KDujR0SCRPgzSzccWuTL3O74pyCG-eVg9Mz9V-iMf85mS2l6hi_XU4W_bkuume5trXvlN-iylMKovPJmHDt7v5KTXHDfW9Z8icE-LlkDndokKclDPr1JcH8NoFj2E6cN_U2ADJ1uqBYhrz2gZO4dRd5xFg300JZXCBcm8Qaiwmuns-GCfHFhG_I4ujFJ2BOzp_KYg8e_4_BcbxBar1AIr7WHwfoLzPdUQ"
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/1401723447/bb29b11e0fa247193781f9b110751962?api-version=7.2",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "attributes": {
          "enabled": true,
          "exp": 1613808726
        },
        "key_ops": [
          "wrapKey",
          "decrypt",
          "encrypt",
          "unwrapKey",
          "sign",
          "verify"
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "222"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1613808726,
          "enabled": true,
          "exp": 1613808726,
          "exportable": false,
          "recoverableDays": 90,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "updated": 1613808726
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "unwrapKey",
            "encrypt",
            "decrypt",
            "verify",
            "sign",
            "wrapKey"
          ],
          "kid": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/1401723447/bb29b11e0fa247193781f9b110751962",
          "kty": "RSA-HSM",
          "n": "xp0IGKdYqRsFX4JK_LZOuqrCScDGRsG1Stdl3Z7GIWOithnH_U1jloqiA5QDdprgiW0J-o7u_IqUxvVv0jtQscUtTLVieX6_Zz0QgyLkjYfUxpMwMK507KDujR0SCRPgzSzccWuTL3O74pyCG-eVg9Mz9V-iMf85mS2l6hi_XU4W_bkuume5trXvlN-iylMKovPJmHDt7v5KTXHDfW9Z8icE-LlkDndokKclDPr1JcH8NoFj2E6cN_U2ADJ1uqBYhrz2gZO4dRd5xFg300JZXCBcm8Qaiwmuns-GCfHFhG_I4ujFJ2BOzp_KYg8e_4_BcbxBar1AIr7WHwfoLzPdUQ"
        }
      }
    }
  ],
  "Variables": {
    "AZURE_MANAGEDHSM_URL": "https://heathskeyvaulthsm.managedhsm.azure.net/",
    "RandomSeed": "1226544841"
  }
}