{
  "Entries": [
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/1808553965/create?api-version=7.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://managedhsm.azure.net\u0022",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/1808553965/create?api-version=7.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA-HSM"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "228"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1604005225,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 90,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "updated": 1604005225
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/1808553965/27b1791957f901c02ed61523606f505c",
          "kty": "RSA-HSM",
          "n": "jVlrcAqXAnfJSjU-KSPOcyHCujzbLQrwNW1g4d1vZwSHRuHlL4zK0pXX3L5DEG-RrOFyoua98fI3C0Ng0oiwA5alFd75plRFRO5kyNYRsI46jH8GMSYlc_u9gjU4kwgXhUcv1g7OtKzTFGbB5hcMin8518Kh-QmTOZOOi0z71D31LfZyD_r8VJOxf8TrKQx36xGz-MZSiV8HRmbZgARNOESrGABNEJLadC2jlKCxchciXbDoVjMTbisIXyEtlQNUdWqJAmdIahmz_cmd9rxqKZ38RW36zPXRYDNEZLQHzGP1DPUkU8x4SAnemN4Xi5ifY6NdkxWbEIwGh26a_aybvQ"
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/1808553965/27b1791957f901c02ed61523606f505c?api-version=7.1",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "attributes": {
          "enabled": false
        },
        "key_ops": [
          "wrapKey",
          "decrypt",
          "encrypt",
          "unwrapKey",
          "sign",
 [...]
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/1808553965/?api-version=7.1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20200917-2-1617fc9c-develop",
        "x-ms-server-latency": "16"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1604005225,
          "enabled": false,
          "exportable": false,
          "recoverableDays": 90,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "updated": 1604005225
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "unwrapKey",
            "encrypt",
            "decrypt",
            "verify",
            "sign",
            "wrapKey"
          ],
          "kid": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/1808553965/27b1791957f901c02ed61523606f505c",
          "kty": "RSA-HSM",
          "n": "jVlrcAqXAnfJSjU-KSPOcyHCujzbLQrwNW1g4d1vZwSHRuHlL4zK0pXX3L5DEG-RrOFyoua98fI3C0Ng0oiwA5alFd75plRFRO5kyNYRsI46jH8GMSYlc_u9gjU4kwgXhUcv1g7OtKzTFGbB5hcMin8518Kh-QmTOZOOi0z71D31LfZyD_r8VJOxf8TrKQx36xGz-MZSiV8HRmbZgARNOESrGABNEJLadC2jlKCxchciXbDoVjMTbisIXyEtlQNUdWqJAmdIahmz_cmd9rxqKZ38RW36zPXRYDNEZLQHzGP1DPUkU8x4SAnemN4Xi5ifY6NdkxWbEIwGh26a_aybvQ"
        }
      }
    }
  ],
  "Variables": {
    "AZURE_MANAGEDHSM_URL": "https://heathskeyvaulthsm.managedhsm.azure.net/",
    "RandomSeed": "308564556"
  }
}