{
  "Entries": [
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/2115187328/create?api-version=7.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://managedhsm.azure.net\u0022",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/2115187328/create?api-version=7.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC-HSM"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "302"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1612565241,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 90,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "updated": 1612565241
        },
        "key": {
          "crv": "P-256",
          "key_ops": [
            "verify",
            "sign"
          ],
          "kid": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/2115187328/74745ba14e84443e01df0b87e51567be",
          "kty": "EC-HSM",
          "x": "njDaepoM1556Gog32Zgqm03Ppu7-KgxdnT9fdmiQlfU",
          "y": "lV1D46_4c38Z2plbeqnSZsD4E7sIEBwId1QXnN2wvDw"
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/2115187328/74745ba14e84443e01df0b87e51567be?api-version=7.1",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "attributes": {
          "enabled": false
        },
        "key_ops": [
          "verify",
          "sign"
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "206"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1612565241,
          "enabled": false,
          "exportable": false,
          "recoverableDays": 90,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "updated": 1612565241
        },
        "key": {
          "crv": "P-256",
          "key_ops": [
            "sign",
            "verify"
          ],
          "kid": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/2115187328/74745ba14e84443e01df0b87e51567be",
          "kty": "EC-HSM",
          "x": "njDaepoM1556Gog32Zgqm03Ppu7-KgxdnT9fdmiQlfU",
          "y": "lV1D46_4c38Z2plbeqnSZsD4E7sIEBwId1QXnN2wvDw"
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/2115187328/?api-version=7.1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20210128-1-4c3070d1-develop",
        "x-ms-server-latency": "22"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1612565241,
          "enabled": false,
          "exportable": false,
          "recoverableDays": 90,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "updated": 1612565241
        },
        "key": {
          "crv": "P-256",
          "key_ops": [
            "sign",
            "verify"
          ],
          "kid": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/2115187328/74745ba14e84443e01df0b87e51567be",
          "kty": "EC-HSM",
          "x": "njDaepoM1556Gog32Zgqm03Ppu7-KgxdnT9fdmiQlfU",
          "y": "lV1D46_4c38Z2plbeqnSZsD4E7sIEBwId1QXnN2wvDw"
        }
      }
    }
  ],
  "Variables": {
    "AZURE_MANAGEDHSM_URL": "https://heathskeyvaulthsm.managedhsm.azure.net/",
    "RandomSeed": "1903863326"
  }
}