{
  "Entries": [
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/621907154/create?api-version=7.4-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://managedhsm.azure.net\u0022",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/621907154/create?api-version=7.4-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA-HSM"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "269"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1667424376,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1667424376
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/621907154/2d7b33f408150388102259a8b8754b2f",
          "kty": "RSA-HSM",
          "n": "iw_N-yJuOjxGRaTgZE5_9HQKoYq7Tdoz4_UKT15FJk_nCRCV9VRIXzII8m_bg2KBHmCpRHeQE1ue2v7rHpOCL3bZ7exlgW7LrJe0khxm6n_bKYaDJqpoOJeU6VIR7cp-FYzB8RD4l3Dggn2ITESLX-v5ik7B-T_P5xL4q78Q8GRimsSr2kM5jOJEJ8QaeVBqSEE1q3Ee-Pbq_YvnH0A-PAL0K5AlpLBz_9HcAZwqFh40jKabGAovJPYRqGS0K_VgUKYwneLBiF2rGI-m9S399iZEuCEzg_M1Vi1_Aywyvl872pj18XhU1oibnx23hXotAjHpVb_bQYpXuu4Mnblo-w"
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/621907154/2d7b33f408150388102259a8b8754b2f?api-version=7.4-preview.1",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "attributes": {
          "enabled": false,
          "exportable": false
        },
        "key_ops": [
          "wrapKey",
          "decrypt",
          "encrypt",
  [...]
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/621907154/?api-version=7.4-preview.1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20221020-1-945ffe56-develop",
        "x-ms-server-latency": "14"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1667424376,
          "enabled": false,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1667424377
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "verify",
            "sign",
            "unwrapKey",
            "decrypt",
            "encrypt"
          ],
          "kid": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/621907154/2d7b33f408150388102259a8b8754b2f",
          "kty": "RSA-HSM",
          "n": "iw_N-yJuOjxGRaTgZE5_9HQKoYq7Tdoz4_UKT15FJk_nCRCV9VRIXzII8m_bg2KBHmCpRHeQE1ue2v7rHpOCL3bZ7exlgW7LrJe0khxm6n_bKYaDJqpoOJeU6VIR7cp-FYzB8RD4l3Dggn2ITESLX-v5ik7B-T_P5xL4q78Q8GRimsSr2kM5jOJEJ8QaeVBqSEE1q3Ee-Pbq_YvnH0A-PAL0K5AlpLBz_9HcAZwqFh40jKabGAovJPYRqGS0K_VgUKYwneLBiF2rGI-m9S399iZEuCEzg_M1Vi1_Aywyvl872pj18XhU1oibnx23hXotAjHpVb_bQYpXuu4Mnblo-w"
        }
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com/",
    "AZURE_MANAGEDHSM_URL": "https://heathskeyvaulthsm.managedhsm.azure.net/",
    "RandomSeed": "1522133660"
  }
}
