{
  "Entries": [
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/413374958/create?api-version=7.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://managedhsm.azure.net\u0022",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/413374958/create?api-version=7.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA-HSM"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "233"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1604005119,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 90,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "updated": 1604005119
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/413374958/06e8b4c8ce9900a6095e2c10fb91426b",
          "kty": "RSA-HSM",
          "n": "kVUfFiOxzGMUVvpwfi_H9t8z6__7WhjLxsI2ieG6MSiFYl4nKuRnCNvqt4likNVBeE2dnPCdodaU8vCBzRwtDhx5LtcpTEU3JbMQqF5owOElOEBdDIDya9SBcTjMhZ0c5odSwYQfOVfEyz5WYZek1lGuOFO93oZLmAe_MLiIwnyc2QR_lVPNcV6UQol5dKiE3EO8A9T3BlTxuwA4LL1ScneOqzjzkDQEO-WILm-LTa23OVqXuRE_gSfuRqcIXqB-hFp3IuLClB_VjySI5y2HEetaP_h94zg8xmi4ODgOvrxr2wbXt9VT5XI402KxZrDozOndXYSymvb4G1ogXcOIMQ"
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/413374958/06e8b4c8ce9900a6095e2c10fb91426b?api-version=7.1",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "attributes": {
          "enabled": true,
          "exp": 1604005119
        },
        "key_ops": [
          "wrapKey",
          "decrypt",
          "encrypt",
          "unwrapKey",
          "sign",
          "verify"
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "77"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1604005119,
          "enabled": true,
          "exp": 1604005119,
          "exportable": false,
          "recoverableDays": 90,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "updated": 1604005119
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "unwrapKey",
            "encrypt",
            "decrypt",
            "verify",
            "sign",
            "wrapKey"
          ],
          "kid": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/413374958/06e8b4c8ce9900a6095e2c10fb91426b",
          "kty": "RSA-HSM",
          "n": "kVUfFiOxzGMUVvpwfi_H9t8z6__7WhjLxsI2ieG6MSiFYl4nKuRnCNvqt4likNVBeE2dnPCdodaU8vCBzRwtDhx5LtcpTEU3JbMQqF5owOElOEBdDIDya9SBcTjMhZ0c5odSwYQfOVfEyz5WYZek1lGuOFO93oZLmAe_MLiIwnyc2QR_lVPNcV6UQol5dKiE3EO8A9T3BlTxuwA4LL1ScneOqzjzkDQEO-WILm-LTa23OVqXuRE_gSfuRqcIXqB-hFp3IuLClB_VjySI5y2HEetaP_h94zg8xmi4ODgOvrxr2wbXt9VT5XI402KxZrDozOndXYSymvb4G1ogXcOIMQ"
        }
      }
    }
  ],
  "Variables": {
    "AZURE_MANAGEDHSM_URL": "https://heathskeyvaulthsm.managedhsm.azure.net/",
    "RandomSeed": "454952398"
  }
}