{
  "Entries": [
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/2074885795/create?api-version=7.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://managedhsm.azure.net\u0022",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/2074885795/create?api-version=7.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA-HSM",
        "tags": {
          "A": "1",
          "B": "2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "239"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1612565259,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 90,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "updated": 1612565259
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/2074885795/c1ad5b8947d8493eb6e6581daad7399d",
          "kty": "RSA-HSM",
          "n": "iRUcLPhe5G8OJkl39QOuJsyZJ7EIWbMqlPWYnz054zcrHLVB0WRWLztavt1BNdG0dqKhvU182gJDQ3wKxhV1slFS7-eKDLEZSgqJ9RO8tk2rECpuuWESDOn649hJnu8cyurHaTsiulK7GdJ5t1wluKpMxhgre4KauSggVv0fXZJYt88j52njpNlYgI526Q4uvzthcv4JKo9SqXbAugNxm2h-Rm5yswHYFPPoczzgNdKYqyulPCPugTyR3kmXgWbfIiwXPKTuO7RcqkUuVlKHDPEX4dvV3J8EdLIuqZ5E646cPmOgYqfxhmFABznn_KccgTB7lEtmMXkQU0rNKHEw8Q"
        },
        "tags": {
          "A": "1",
          "B": "2"
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/2074885795/c1ad5b8947d8493eb6e6581daad7399d?api-version=7.1",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "attributes": {
          "enabled": true
        },
        "tags": {
          "A": "1",
          "B": "3",
          "C": "4"
        }
      },
      "StatusCode": 200,
      [...]
[...]
