{
  "Entries": [
    {
      "RequestUri": "https://heathskvtesthsm.managedhsm.azure.net/keys/2093457421/create?api-version=7.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://managedhsm.azure.net\u0022",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://heathskvtesthsm.managedhsm.azure.net/keys/2093457421/create?api-version=7.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA-HSM",
        "key_ops": [
          "verify"
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "236"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1626228493,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 90,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "updated": 1626228493
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "verify"
          ],
          "kid": "https://heathskvtesthsm.managedhsm.azure.net/keys/2093457421/91e92f391748012f383f5cf950a4f876",
          "kty": "RSA-HSM",
          "n": "iId_LBgZ-7nQe2M-SjsKHuCQjKlhFbEmwQ-I3dXvifBR6b6CBl_l_kaFFXdW44BjsIvC2_sec2rNEM2pO5bOQPGcAQIqf9LSBhJzCvmKmStdk2lYdg_zJfdUTuZzBn_Nb7oYxiFXSCyAPYyEXfpTxZxahYEVtkAewEFuBvdcOV2NLbwdMrP6iu5CnT10G2bfyrDHMocWXzu2JJ5XcMh9MmQYUYBUb_thePknafb47niUzae3M2e6ukDLpp4i6wU-glbkK8kaJNtpCMFqXQyJciZ1_mBX1n0PpKZU7s7nTEJgO1ICS_cPU47OHrABw5Egg67_elkPy_Lrqx4wS9gjdQ"
        }
      }
    },
    {
      "RequestUri": "https://heathskvtesthsm.managedhsm.azure.net/keys/2093457421/91e92f391748012f383f5cf950a4f876?api-version=7.2",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "attributes": {
          "enabled": true,
          "exp": 1626314893
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "154"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1626228493,
          "enabled": true,
          "exp": 1626314893,
          "exportable": false,
          "recoverableDays": 90,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "updated": 1626228493
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "verify"
          ],
          "kid": "https://heathskvtesthsm.managedhsm.azure.net/keys/2093457421/91e92f391748012f383f5cf950a4f876",
          "kty": "RSA-HSM",
          "n": "iId_LBgZ-7nQe2M-SjsKHuCQjKlhFbEmwQ-I3dXvifBR6b6CBl_l_kaFFXdW44BjsIvC2_sec2rNEM2pO5bOQPGcAQIqf9LSBhJzCvmKmStdk2lYdg_zJfdUTuZzBn_Nb7oYxiFXSCyAPYyEXfpTxZxahYEVtkAewEFuBvdcOV2NLbwdMrP6iu5CnT10G2bfyrDHMocWXzu2JJ5XcMh9MmQYUYBUb_thePknafb47niUzae3M2e6ukDLpp4i6wU-glbkK8kaJNtpCMFqXQyJciZ1_mBX1n0PpKZU7s7nTEJgO1ICS_cPU47OHrABw5Egg67_elkPy_Lrqx4wS9gjdQ"
        }
      }
    },
[...]
