{
  "Entries": [
    {
      "RequestUri": "https://heathskvtesthsm.managedhsm.azure.net/keys/787681602/create?api-version=7.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://managedhsm.azure.net\u0022",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://heathskvtesthsm.managedhsm.azure.net/keys/787681602/create?api-version=7.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA-HSM",
        "tags": {
          "A": "1",
          "B": "2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "230"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1626228495,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 90,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "updated": 1626228495
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://heathskvtesthsm.managedhsm.azure.net/keys/787681602/4f33c07bd6ce48d205f53842a05d650d",
          "kty": "RSA-HSM",
          "n": "iqjeJE7moZddlzkTC7xVQftUCGCNfuuW6qWIDRK-Lj5t23xokJyLbDecIObLES2z0lujKRwoKIkrFyiCPGY08BmyGRt17-YRhojAaR_Vs-2bGp8ZDCfDovL0pH7cphcQ33PTBVDgFI47IumOtsPZeyhS7D6zWrLUYQbqy0iKuFNRf9dIfOlMOkwEgXYamuKL1n7xR_0OazujzFwL3W2lOiwMpzpu61M3b-pffGAmqwGE-BovjXt2af5u_24yARfMXnkxoZHhmyPY5_XDRuGn4oMZdOa7TxzA9ZUoQ367nJhpNbQ9L-CR5OTD2WaiURdFurZ4mwYix04y1VELvomnKw"
        },
        "tags": {
          "A": "1",
          "B": "2"
        }
      }
    },
    {
      "RequestUri": "https://heathskvtesthsm.managedhsm.azure.net/keys/787681602/4f33c07bd6ce48d205f53842a05d650d?api-version=7.2",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "attributes": {
          "enabled": true
        },
        "tags": {
          "A": "1",
          "B": "3",
          "C": "4"
        }
      },
      "StatusCode": 200,
      "Re[...]
[...]
