{
  "Entries": [
    {
      "RequestUri": "https://heathskvtesthsm.managedhsm.azure.net/keys/787681602/create?api-version=7.3-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://managedhsm.azure.net\u0022",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://heathskvtesthsm.managedhsm.azure.net/keys/787681602/create?api-version=7.3-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA-HSM",
        "tags": {
          "A": "1",
          "B": "2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "263"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1626298821,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 90,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "updated": 1626298821
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://heathskvtesthsm.managedhsm.azure.net/keys/787681602/081f45cb47da42f5018eb4a2206d11b8",
          "kty": "RSA-HSM",
          "n": "1amPMAXSYjdN8o6R80tH2m5Bv-PlDfRo9y5SegHa_eUrlPzyMDmsGdOj9rIzDaepGMjXGnhi_W6MmonlC49cjp4iRgyzRT5OszDkyxFyLLltBj6OMz91yt3HKBoPtSrL-PE5tpvcazGnRCzRwAncSWED20ev3VdywZgNw4Mpdvkwloc-w7Nx35hubnuVbWRegLzpI02RfcSUAMSPwxnEQ_j_8ZRwm21eY0IIjGzhD3xN-A42CQxH4PHlWZSkPoVsR-SPmF3KQXroCwmr_SEMQaMIDVnrfq8300hjxNs1oeqnoNOBtYrNdD-Hh1Ie4Muy_REiT3OIwESne9sNKiowAQ"
        },
        "tags": {
          "A": "1",
          "B": "2"
        }
      }
    },
    {
      "RequestUri": "https://heathskvtesthsm.managedhsm.azure.net/keys/787681602/081f45cb47da42f5018eb4a2206d11b8?api-version=7.3-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "attributes": {
          "enabled": true
        },
        "tags": {
          "A": "1",
          "B": "3",
          "C": "4"
        }
      },
      "StatusCode": 200,
 [...]
[...]
