{
  "Entries": [
    {
      "RequestUri": "https://heathskvtesthsm.managedhsm.azure.net/keys/1808553965/create?api-version=7.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://managedhsm.azure.net\u0022",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://heathskvtesthsm.managedhsm.azure.net/keys/1808553965/create?api-version=7.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA-HSM"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "210"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1626228596,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 90,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "updated": 1626228596
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://heathskvtesthsm.managedhsm.azure.net/keys/1808553965/6b9723f82e794b7322c2b9600d7f668d",
          "kty": "RSA-HSM",
          "n": "q6ZhaRu2pKSPNa-hnzIPek-o_TPpwPBWEPETRbx9mRAo_2LFoK91O4swnJRi08fEV976bIJ1Nc3E3fTENErAdOOaBAir8JvJP2Bi17-AoedDF8bBd6_swenP3lU8G7ktk3JWIyj2FKcVZhlEchYdAUiox2XoCOu7SLf_Nzid99sZ5rrCFYS_gaqAv9nNM2ecH5quJwkmKfRaFD0ywFIY1s-3_Mer6UUdhiVDD76fChI5rP39u6HJVLgAMk--tCkr2pVLR55nbzBxDjvSFxzR6KYjaM2a21LVdsZq1jtqAcgpJqpmwz0GRNiatJxJdNJH_YfX0uXit6JFQR7Y_YQjFQ"
        }
      }
    },
    {
      "RequestUri": "https://heathskvtesthsm.managedhsm.azure.net/keys/1808553965/6b9723f82e794b7322c2b9600d7f668d?api-version=7.2",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "attributes": {
          "enabled": false
        },
        "key_ops": [
          "wrapKey",
          "decrypt",
          "encrypt",
          "unwrapKey",
          "sign",
   [...]
    {
      "RequestUri": "https://heathskvtesthsm.managedhsm.azure.net/keys/1808553965/?api-version=7.2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20210605-1-ffd80f31-develop",
        "x-ms-server-latency": "17"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1626228596,
          "enabled": false,
          "exportable": false,
          "recoverableDays": 90,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "updated": 1626228596
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "sign",
            "verify",
            "decrypt",
            "encrypt",
            "unwrapKey"
          ],
          "kid": "https://heathskvtesthsm.managedhsm.azure.net/keys/1808553965/6b9723f82e794b7322c2b9600d7f668d",
          "kty": "RSA-HSM",
          "n": "q6ZhaRu2pKSPNa-hnzIPek-o_TPpwPBWEPETRbx9mRAo_2LFoK91O4swnJRi08fEV976bIJ1Nc3E3fTENErAdOOaBAir8JvJP2Bi17-AoedDF8bBd6_swenP3lU8G7ktk3JWIyj2FKcVZhlEchYdAUiox2XoCOu7SLf_Nzid99sZ5rrCFYS_gaqAv9nNM2ecH5quJwkmKfRaFD0ywFIY1s-3_Mer6UUdhiVDD76fChI5rP39u6HJVLgAMk--tCkr2pVLR55nbzBxDjvSFxzR6KYjaM2a21LVdsZq1jtqAcgpJqpmwz0GRNiatJxJdNJH_YfX0uXit6JFQR7Y_YQjFQ"
        }
      }
    }
  ],
  "Variables": {
    "AZURE_MANAGEDHSM_URL": "https://heathskvtesthsm.managedhsm.azure.net/",
    "RandomSeed": "308564556"
  }
}