{
  "Entries": [
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/745029342/create?api-version=7.3",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://managedhsm.azure.net\u0022",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/745029342/create?api-version=7.3",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA-HSM",
        "tags": {
          "A": "1",
          "B": "2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "227"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1648059162,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1648059162
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/745029342/eb648f1668fa05f80b72de3e98fa19e2",
          "kty": "RSA-HSM",
          "n": "7Ww9QqyrExLIXA5NWKZyaJDRNGdMRKp5LB0eyfFEZkH3-qCohCXE9UKFbwZO1UXwStVp2Y9jLvuC3B38bQeoh_0Ue5GRyQJAiYve9MJnaDbcEGte1XP-EvnPYn5zgT8N7ttRGUNV10fG4k9rhY7Eis-WoDEDRVGWvp8DJs-PNhH6TIY_eXjIS_JwDoVSHpX8NJ8Rh2aNA6ngUBkrT4bTPA8swOGJgMFyTadwTyKY8ii7NsH2PqxQtfF7azPiczmHCpdSH8y9KgJLCytKbbF0UfPdxTw4xBFCX5TY8JJbtH9JBoL4NFPcpk5Z3mDRpIxQkawDOtYYQ93rLTTSZ378uQ"
        },
        "tags": {
          "A": "1",
          "B": "2"
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/745029342/eb648f1668fa05f80b72de3e98fa19e2?api-version=7.3",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "attributes": {
          "enabled": true,
          "exportable": false
        },
        "tags": {
          "A": "1",
          "B": "3",
          "C": "4"
        }
      },
 [...]
[...]
