{
  "Entries": [
    {
      "RequestUri": "https://heathskvtesthsm.managedhsm.azure.net/keys/2142242012/create?api-version=7.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://managedhsm.azure.net\u0022",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://heathskvtesthsm.managedhsm.azure.net/keys/2142242012/create?api-version=7.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC-HSM",
        "tags": {
          "A": "1",
          "B": "2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "282"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1626228480,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 90,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "updated": 1626228480
        },
        "key": {
          "crv": "P-256",
          "key_ops": [
            "verify",
            "sign"
          ],
          "kid": "https://heathskvtesthsm.managedhsm.azure.net/keys/2142242012/468a77309b190b353ba5654c7a09921b",
          "kty": "EC-HSM",
          "x": "uhtFktI-zisnVdYIuEnwcIkxGXmuaH5OEqzFQKSe0WQ",
          "y": "ilQFNgX5F7xx5mdLsmqkab7HQvCOzhm476kQl58PN5Q"
        },
        "tags": {
          "A": "1",
          "B": "2"
        }
      }
    },
    {
      "RequestUri": "https://heathskvtesthsm.managedhsm.azure.net/keys/2142242012/468a77309b190b353ba5654c7a09921b?api-version=7.2",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "attributes": {
          "enabled": true
        },
        "tags": {
          "A": "1",
          "B": "3",
          "C": "4"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "189"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1626228480,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 90,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "updated": 1626228480
        },
        "key": {
          "crv": "P-256",
          "key_ops": [
            "verify",
            "sign"
          ],
          "kid": "https://heathskvtesthsm.managedhsm.azure.net/keys/2142242012/468a77309b190b353ba5654c7a09921b",
          "kty": "EC-HSM",
          "x": "uhtFktI-zisnVdYIuEnwcIkxGXmuaH5OEqzFQKSe0WQ",
          "y": "ilQFNgX5F7xx5mdLsmqkab7HQvCOzhm476kQl58PN5Q"
        },
        "tags": {
          "A": "1",
          "B": "3",
          "C": "4"
        }
      }
    },
    {
      "RequestUri": "https://heathskvtesthsm.managedhsm.azure.net/keys/2142242012/468a77309b190b353ba5654c7a09921b?api-version=7.2",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "attributes": {
          "enabled": true
        },
        "tags": {
          "D": "5"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "94"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1626228480,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 90,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "updated": 1626228481
        },
        "key": {
          "crv": "P-256",
          "key_ops": [
            "verify",
            "sign"
          ],
          "kid": "https://heathskvtesthsm.managedhsm.azure.net/keys/2142242012/468a77309b190b353ba5654c7a09921b",
          "kty": "EC-HSM",
          "x": "uhtFktI-zisnVdYIuEnwcIkxGXmuaH5OEqzFQKSe0WQ",
          "y": "ilQFNgX5F7xx5mdLsmqkab7HQvCOzhm476kQl58PN5Q"
        },
        "tags": {
          "D": "5"
        }
      }
    }
  ],
  "Variables": {
    "AZURE_MANAGEDHSM_URL": "https://heathskvtesthsm.managedhsm.azure.net/",
    "RandomSeed": "1855630669"
  }
}