{
  "Entries": [
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/2093457421/create?api-version=7.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://managedhsm.azure.net\u0022",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/2093457421/create?api-version=7.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA-HSM",
        "key_ops": [
          "verify"
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "251"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1612565151,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 90,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "updated": 1612565151
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "verify"
          ],
          "kid": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/2093457421/33cf60ef4626062ebce16fee42d98fe5",
          "kty": "RSA-HSM",
          "n": "wutonmzGgAweOdp-I9vhaBRoypqwYpBIEGk_1ChavZW7wIFem8_RrY_-qJ5IEmRBVjMGmaL_c3p6LlVMM0fAI5CXYoKiCNxnyRE08qUOxtoRybDLk4cHlZwAyHQzScRarKzOnxQL-IVNYtbH5W73Qv4XJYPOv19cQnnUEjcQVSHyRM6gslRnMjSBBFLB-1d1gpYY9sifKiAaHRY2jZPNZbPkl9XfV3_l7VV46oMZCUB-72fhQq6bi2MDsSV-1-WbqyKXzrVyg45njnVNZJ_hck4zhlXy-1qTyj-wzzHMxV0EueAc9LbKGMFU1kw5dKsN8HCUgyxtSwUaWX_mLhTsfQ"
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/2093457421/33cf60ef4626062ebce16fee42d98fe5?api-version=7.1",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "attributes": {
          "enabled": true,
          "exp": 1612651552
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "197"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1612565151,
          "enabled": true,
          "exp": 1612651552,
          "exportable": false,
          "recoverableDays": 90,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "updated": 1612565152
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "verify"
          ],
          "kid": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/2093457421/33cf60ef4626062ebce16fee42d98fe5",
          "kty": "RSA-HSM",
          "n": "wutonmzGgAweOdp-I9vhaBRoypqwYpBIEGk_1ChavZW7wIFem8_RrY_-qJ5IEmRBVjMGmaL_c3p6LlVMM0fAI5CXYoKiCNxnyRE08qUOxtoRybDLk4cHlZwAyHQzScRarKzOnxQL-IVNYtbH5W73Qv4XJYPOv19cQnnUEjcQVSHyRM6gslRnMjSBBFLB-1d1gpYY9sifKiAaHRY2jZPNZbPkl9XfV3_l7VV46oMZCUB-72fhQq6bi2MDsSV-1-WbqyKXzrVyg45njnVNZJ_hck4zhlXy-1qTyj-wzzHMxV0EueAc9LbKGMFU1kw5dKsN8HCUgyxtSwUaWX_mLhTsfQ"
        }
      }
    },
[...]
