{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Compute/locations/southeastasia/runCommands?api-version=2019-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-resource": "Microsoft.Compute/GetSubscriptionInfo3Min;357",
        "x-ms-ratelimit-remaining-subscription-reads": "10073"
      },
      "ResponseBody": [
        "{\r\n",
        "  \u0022value\u0022: [\r\n",
        "    {\r\n",
        "      \u0022$schema\u0022: \u0022http://schema.management.azure.com/schemas/2016-11-17/runcommands.json\u0022,\r\n",
        "      \u0022id\u0022: \u0022EnableRemotePS\u0022,\r\n",
        "      \u0022osType\u0022: \u0022Windows\u0022,\r\n",
        "      \u0022label\u0022: \u0022Enable remote PowerShell\u0022,\r\n",
        "      \u0022description\u0022: \u0022Configure the machine to enable remote Power[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Compute/locations/southeastasia/runCommands/RunPowerShellScript?api-version=2019-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-resource":[...]
