{
  "Entries": [
    {
      "RequestUri": "https://atlas.microsoft.com/route/matrix/sync/json?api-version=1.0\u0026waitForResults=true",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-client-id": "86ff944f-d704-4f24-8af8-34f4a58ff4e0"
      },
      "RequestBody": {
        "origins": {
          "coordinates": [
            [
              123.751,
              45.9375
            ],
            [
              123.791,
              45.96875
            ]
          ],
          "type": "MultiPoint"
        },
        "destinations": {
          "coordinates": [
            [
              123.767,
              45.90625
            ]
          ],
          "type": "MultiPoint"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-azuremaps-region": "West US 2"
      },
      "ResponseBody": {
        "formatVersion": "0.0.1",
        "matrix": [
          [
            {
              "statusCode": 200,
              "response": {
                "routeSummary": {
                  "lengthInMeters": 4784,
                  "travelTimeInSeconds": 443,
                  "trafficDelayInSeconds": 0,
                  "trafficLengthInMeters": 0,
                  "departureTime": "2022-08-26T17:22:46\u002B08:00",
                  "arrivalTime": "2022-08-26T17:30:08\u002B08:00"
                }
              }
            }
          ],
          [
            {
              "statusCode": 200,
              "response": {
                "routeSummary": {
                  "lengthInMeters": 9456,
                  "travelTimeInSeconds": 863,
                  "trafficDelayInSeconds": 0,
                  "trafficLengthInMeters": 0,
                  "departureTime": "2022-08-26T17:22:46\u002B08:00",
                  "arrivalTime": "2022-08-26T17:37:09\u002B08:00"
                }
              }
            }
          ]
        ],
        "summary": {
          "successfulRoutes": 2,
          "totalRoutes": 2
        }
      }
    }
  ],
  "Variables": {
    "AZMAPS_CLIENT_ID": "86ff944f-d704-4f24-8af8-34f4a58ff4e0",
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com/",
    "RandomSeed": "23421484"
  }
}
