{
  "Entries": [
    {
      "RequestUri": "/subscriptions/f9b96b36-1f5e-4021-8959-51527e26e6d3/providers/Microsoft.CognitiveServices/skus?api-version=2017-04-18",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11996"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"resourceType\": \"accounts\",\r\n      \"name\": \"F0\",\r\n      \"tier\": \"Free\",\r\n      \"kind\": \"Bing.Speech\",\r\n      \"locations\": [\r\n        \"GLOBAL\"\r\n      ],\r\n      \"restrictions\": []\r\n    },\r\n    {\r\n      \"resourceType\": \"accounts\",\r\n      \"name\": \"S0\",\r\n      \"tier\": \"Standard\",\r\n      \"kind\": \"Bing.Speech\",\r\n      \"locations\": [\r\n        \"GLOBAL\"\r\n      ],\r\n      \"restrictions\": []\r\n    },\r\n    {\r\n      \"resourceType\": \"accounts\",\r\n      \"name\": \"V0\",\r\n      \"tier\": \"Standard\",\r\n      \"kind\": \"Bing.Speech\",\r\n      \"locations\": [\r\n        \"GLOBAL\"\r\n      ],\r\n      \"restrictions\": []\r\n [...]
