{
  "Entries": [
    {
      "RequestUri": "/v1/apps/DEMO_APP/metrics/requests%2Fduration?timespan=PT12H&interval=PT1H&aggregation=avg&segment=request%2FresultCode",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-api-key": [
          "DEMO_KEY"
        ],
        "prefer": [
          "response-v1=true"
        ],
        "x-ms-app": [
          "csharpsdk"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": {\r\n    \"start\": \"2018-01-11T06:57:48.755Z\",\r\n    \"end\": \"2018-01-11T18:57:48.755Z\",\r\n    \"interval\": \"PT1H\",\r\n    \"segments\": [\r\n      {\r\n        \"start\": \"2018-01-11T06:57:48.755Z\",\r\n        \"end\": \"2018-01-11T07:00:00Z\",\r\n        \"segments\": [\r\n          {\r\n            \"requests/duration\": {\r\n              \"avg\": 782.81\r\n            },\r\n            \"request/resultCode\": \"500\"\r\n          },\r\n          {\r\n            \"requests/duration\": {\r\n              \"avg\": 277.94\r\n            },\r\n            \"request/resultCode\": \"200\"\r\n          }\r\n        ]\r\n      },\r\n      {\r\n        \"start\": \"2018-01-11T07:00:00Z\",\r\n        \"end\": \"2018-01-11T08:00:00Z\",\r\n        \"segments\": [\r\n          {\r\n            \"requests/duration\": {\r\n              \"avg\": 1040.[...]
