{
  "Entries": [
    {
      "RequestUri": "https://eastus.easm.defender.microsoft.com/subscriptions/59af3bf1-d118-4916-808e-923509b34a94/resourceGroups/shad-rg/workspaces/sdktest/dataConnections:validate?api-version=2023-03-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kind": "azureDataExplorer",
        "properties": {
          "clusterName": "sample-cluster",
          "region": "eastus",
          "databaseName": "sample-db"
        },
        "name": "sample-dc",
        "content": "assets",
        "frequency": "daily"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ui-version": "sdk"
      },
      "ResponseBody": {
        "error": null
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "ENDPOINT": "Sanitized",
    "RandomSeed": "448542597",
    "RESOURCEGROUPNAME": "Sanitized",
    "SUBSCRIPTION_ID": "59af3bf1-d118-4916-808e-923509b34a94",
    "WORKSPACENAME": "Sanitized"
  }
}
