{
  "Entries": [
    {
      "RequestUri": "/subscriptions/075423e9-7d33-4166-8bdf-3920b04e3735/resourceGroups/nir-test/providers/Microsoft.Security/iotSecuritySolutions/singahub/analyticsModels/default/aggregatedAlerts/IoT_AgentDroppedEvents%2F2019-05-26/dismiss?api-version=2019-08-01",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "075423e9-7d33-4166-8bdf-3920b04e3735"
  }
}