{
  "Entries": [
    {
      "RequestUri": "/subscriptions/075423e9-7d33-4166-8bdf-3920b04e3735/resourceGroups/ResourceGroup-CUS/providers/Microsoft.Security/iotSecuritySolutions/IotHub-CUS/analyticsModels/default/aggregatedAlerts?api-version=2019-08-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-resource-requests": [
          "749"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/075423e9-7d33-4166-8bdf-3920b04e3735/resourceGroups/resourcegroup-cus/providers/Microsoft.Security/IoTSecuritySolutions/Locations/centralus/default/IoT_SuspiciousUseradd/2019-09-15\",\r\n      \"name\": \"/subscriptions/075423e9-7d33-4166-8bdf-3920b04e3735/resourceGroups/resourcegroup-cus/providers/Microsoft.Security/IoTSecuritySolutions/Locations/centralus/default/IoT_SuspiciousUseradd/2019-09-15\",\r\n      \"type\": \"Microsoft.Security/IoTSecurityAggregatedAlert\",\r\n      \"properties\": {\r\n        \"alertType\": \"IoT_SuspiciousUseradd\",\r\n        \"alertDisplayName\": \"Detected suspicious use of the useradd command\",\r\n        \"aggregatedDateUtc\": \"2019-09-15\",\r\n        \"vendorName\": \"Microsoft\",\r\n        \"count\": 1,\r\n        \"effectedResourceType\": \"IoT Device\",\r\n        \"systemSource\": \"Devices\",\r\n        \"actionTaken\": \"Detected\",\r\n        \"remediationSteps\": \"Review with the user that ran the command if this was legitimate activity that you expect to see on the device. If not, escalate the alert to the information security team.\",\r\n        \"reportedSeverity\": \"Medium\",\r\n        \"description\": \"Suspicious use of the useradd command detected on the device.\",\r\n        \"logAnalyticsQuery\": \"SecurityAlert | where tolower(ResourceId) == tolower('/subscriptions/075423e9-7d33-4166-8bdf-3920b04e3735/resourcegroups/resourcegroup-cus/providers/microsoft.devices/iothubs/iothub-cus') and tolower(AlertName) == tolower('Detected suspicious use of the useradd command') and TimeGenerated > datetime(2019-09-15T00:00:00Z) and TimeGenerated < datetime(2019-09-16T00:00:00Z) | extend DeviceId=parse_json(ExtendedProperties)['DeviceId'] | project DeviceId, TimeGenerated, DisplayName, AlertSeverity, Description, RemediationSteps, ExtendedProperties\"\r\n      }\r\n    }\r\n  ]\r\n}",
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "075423e9-7d33-4166-8bdf-3920b04e3735"
  }
}