{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/7c71b563-0dc0-4bc0-bcf6-06f8f0516c7a?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11960"
      },
      "ResponseBody": {
        "id": "/subscriptions/7c71b563-0dc0-4bc0-bcf6-06f8f0516c7a",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "SkipGreenTeamLinuxSSHAuthForSub": "1081476937",
          "NRMSBreakGlassNonHighRisk": "322946830",
          "NRMS15526970": "20230411"
        },
        "subscriptionId": "7c71b563-0dc0-4bc0-bcf6-06f8f0516c7a",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": "Cloud-Native-Testing-IDC-Test",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/7c71b563-0dc0-4bc0-bcf6-06f8f0516c7a/resourcegroups/SdkRg1200?api-version=2021-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus2"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1196"
      },
      "ResponseBody": {
        "id": "/subscriptions/7c71b563-0dc0-4bc0-bcf6-06f8f0516c7a/resourceGroups/SdkRg1200",
        "name": "SdkRg1200",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus2",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/7c71b563-0dc0-4bc0-bcf6-06f8f0516c7a/resourceGroups/SdkRg1200/providers/Microsoft.LoadTestService/loadTests/Sdk-LoadTestService-DotNet9731?api-version=2022-12-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "westus2",
        "properties": {}
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/7c71b563-0dc0-4bc0-bcf6-06f8f0516c7a/providers/Microsoft.LoadTestService/locations/WESTUS2/operationStatuses/38d24738-370e-49a8-9899-0a9fc4cc1d2d*E1A1D6BD4E9C01F33FA845AFE5B4E27778AB6808E0145939F5D75D40BD43DF82?api-version=2022-12-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002252011398-0000-0800-0000-6379ba4a0000\u0022",
        "mise-correlation-id": "0eeac234-df6f-44ed-a1cb-11939cef4304",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-writes": "1195"
      },
      "ResponseBody": {
        "id": "/subscriptions/7c71b563-0dc0-4bc0-bcf6-06f8f0516c7a/resourceGroups/SdkRg1200/providers/Microsoft.LoadTestService/loadTests/Sdk-LoadTestService-DotNet9731",
        "name": "Sdk-LoadTestService-DotNet9731",
        "type": "microsoft.loadtestservice/loadtests",
        "location": "westus2",
        "tags": {},
        "systemData": {
          "createdBy": "5b96bb74-67f0-463c-9319-6f766ae1c33f",
          "createdByType": "Application",
          "createdAt": "2022-11-20T05:25:30.3315615Z",
          "lastModifiedBy": "5b96bb74-67f0-463c-9319-6f766ae1c33f",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2022-11-20T05:25:30.3315615Z"
        },
        "identity": {
          "type": "None"
        },
        "properties": {
          "description": null,
          "dataPlaneURI": "2ffa7dec-bd82-405a-b8d3-aa066d1bad77.westus2.cnt-prod.loadtesting.azure.com",
          "encryption": null,
          "provisioningState": "Accepted"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/7c71b563-0dc0-4bc0-bcf6-06f8f0516c7a/providers/Microsoft.LoadTestService/locations/WESTUS2/operationStatuses/38d24738-370e-49a8-9899-0a9fc4cc1d2d*E1A1D6BD4E9C01F33FA845AFE5B4E27778AB6808E0145939F5D75D40BD43DF82?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022a7007421-0000-0800-0000-6379ba4b0000\u0022",
        "x-ms-ratelimit-remaining-subscription-reads": "11957"
      },
      "ResponseBody": {
        "id": "/subscriptions/7c71b563-0dc0-4bc0-bcf6-06f8f0516c7a/providers/Microsoft.LoadTestService/locations/WESTUS2/operationStatuses/38d24738-370e-49a8-9899-0a9fc4cc1d2d*E1A1D6BD4E9C01F33FA845AFE5B4E27778AB6808E0145939F5D75D40BD43DF82",
        "name": "38d24738-370e-49a8-9899-0a9fc4cc1d2d*E1A1D6BD4E9C01F33FA845AFE5B4E27778AB6808E0145939F5D75D40BD43DF82",
        "resourceId": "/subscriptions/7c71b563-0dc0-4bc0-bcf6-06f8f0516c7a/resourceGroups/SdkRg1200/providers/Microsoft.LoadTestService/loadTests/Sdk-LoadTestService-DotNet9731",
        "status": "Succeeded",
        "startTime": "2022-11-20T05:25:30.5170997Z",
        "endTime": "2022-11-20T05:25:31.6203251Z",
        "properties": null
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/7c71b563-0dc0-4bc0-bcf6-06f8f0516c7a/resourceGroups/SdkRg1200/providers/Microsoft.LoadTestService/loadTests?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-original-request-ids": [
          "37187351-e094-4c3a-9687-296ddbb02052",
          "30950747-d131-4555-a99c-2ebcf894e8cc",
          "78fa4d60-6e34-4df9-8b20-b2161e88907d",
          "3c9bb79f-44ee-4fe8-a69e-b387007f95fe",
          "68c72dc2-8ddb-4d21-b38f-57d74654c93f",
          "8045f389-614e-4b3d-a88a-93afa0fa6d4a",
          "26781515-f250-4fde-8f74-d6333d143cf6",
          "db295ad3-806e-4e45-b609-16e5ac1c0668",
          "1824422e-d43e-4612-83be-14347c004da4",
          "b3857fc2-f421-4cdc-b698-e32fa7e5711f"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": "11953"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/7c71b563-0dc0-4bc0-bcf6-06f8f0516c7a/resourceGroups/SdkRg1200/providers/Microsoft.LoadTestService/loadTests/Sdk-LoadTestService-DotNet9731",
            "name": "Sdk-LoadTestService-DotNet9731",
            "type": "microsoft.loadtestservice/loadtests",
            "location": "westus2",
            "tags": {},
            "systemData": {
              "createdBy": "5b96bb74-67f0-463c-9319-6f766ae1c33f",
              "createdByType": "Application",
              "createdAt": "2022-11-20T05:25:30.3315615Z",
              "lastModifiedBy": "5b96bb74-67f0-463c-9319-6f766ae1c33f",
              "lastModifiedByType": "Application",
              "lastModifiedAt": "2022-11-20T05:25:30.3315615Z"
            },
            "identity": {
              "type": "None"
            },
            "properties": {
              "description": null,
              "dataPlaneURI": "2ffa7dec-bd82-405a-b8d3-aa066d1bad77.westus2.cnt-prod.loadtesting.azure.com",
              "encryption": null,
              "provisioningState": "Succeeded"
            }
          }
        ]
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/7c71b563-0dc0-4bc0-bcf6-06f8f0516c7a/resourceGroups/SdkRg1200/providers/Microsoft.LoadTestService/loadTests/Sdk-LoadTestService-DotNet9731/outboundNetworkDependenciesEndpoints?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "c5fb479f-da3b-48cb-963c-2a1d0b59ddc9",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-reads": "11952"
      },
      "ResponseBody": {
        "value": [
          {
            "category": "Azure Load Testing",
            "endpoints": [
              {
                "domainName": "*.batch.azure.com",
                "description": null,
                "endpointDetails": [
                  {
                    "port": 29876
                  },
                  {
                    "port": 29877
                  }
                ]
              },
              {
                "domainName": "*.azloadtesting.io",
                "description": null,
                "endpointDetails": [
                  {
                    "port": 443
                  }
                ]
              },
              {
                "domainName": "*.servicebus.windows.net",
                "description": null,
                "endpointDetails": [
                  {
                    "port": 443
                  }
                ]
              },
              {
                "domainName": "*.blob.core.windows.net",
                "description": null,
                "endpointDetails": [
                  {
                    "port": 443
                  }
                ]
              },
              {
                "domainName": "jmeter-plugins.org",
                "description": null,
                "endpointDetails": [
                  {
                    "port": 443
                  }
                ]
              }
            ]
          }
        ]
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/7c71b563-0dc0-4bc0-bcf6-06f8f0516c7a/resourceGroups/SdkRg1200/providers/Microsoft.LoadTestService/loadTests/Sdk-LoadTestService-DotNet9731?api-version=2022-12-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "identity": {
          "type": "SystemAssigned"
        },
        "properties": {
          "description": "test"
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/7c71b563-0dc0-4bc0-bcf6-06f8f0516c7a/providers/Microsoft.LoadTestService/locations/WESTUS2/operationStatuses/948a4c21-fc07-4cc0-9e71-e60d154d575c*E1A1D6BD4E9C01F33FA845AFE5B4E27778AB6808E0145939F5D75D40BD43DF82?api-version=2022-12-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002252016b98-0000-0800-0000-6379ba4f0000\u0022",
        "Location": "https://management.azure.com/subscriptions/7c71b563-0dc0-4bc0-bcf6-06f8f0516c7a/providers/Microsoft.LoadTestService/locations/WESTUS2/operationStatuses/948a4c21-fc07-4cc0-9e71-e60d154d575c*E1A1D6BD4E9C01F33FA845AFE5B4E27778AB6808E0145939F5D75D40BD43DF82?api-version=2022-12-01",
        "mise-correlation-id": "ac4cdc66-9042-4973-9cd9-934764c407dc",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-writes": "1194"
      },
      "ResponseBody": "null"
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/7c71b563-0dc0-4bc0-bcf6-06f8f0516c7a/resourceGroups/SdkRg1200/providers/Microsoft.LoadTestService/loadTests/Sdk-LoadTestService-DotNet9731?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002252018298-0000-0800-0000-6379ba500000\u0022",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-reads": "11949"
      },
      "ResponseBody": {
        "id": "/subscriptions/7c71b563-0dc0-4bc0-bcf6-06f8f0516c7a/resourceGroups/SdkRg1200/providers/Microsoft.LoadTestService/loadTests/Sdk-LoadTestService-DotNet9731",
        "name": "Sdk-LoadTestService-DotNet9731",
        "type": "microsoft.loadtestservice/loadtests",
        "location": "westus2",
        "tags": {},
        "systemData": {
          "createdBy": "5b96bb74-67f0-463c-9319-6f766ae1c33f",
          "createdByType": "Application",
          "createdAt": "2022-11-20T05:25:30.3315615Z",
          "lastModifiedBy": "5b96bb74-67f0-463c-9319-6f766ae1c33f",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2022-11-20T05:25:35.3517958Z"
        },
        "identity": {
          "principalId": "4f58e450-227d-498d-a4ea-b55e82d741bd",
          "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
          "type": "SystemAssigned"
        },
        "properties": {
          "description": "test",
          "dataPlaneURI": "2ffa7dec-bd82-405a-b8d3-aa066d1bad77.westus2.cnt-prod.loadtesting.azure.com",
          "encryption": null,
          "provisioningState": "Succeeded"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/7c71b563-0dc0-4bc0-bcf6-06f8f0516c7a/providers/Microsoft.LoadTestService/locations/WESTUS2/operationStatuses/20a0385a-9266-4e4d-ab85-9589fc5c5da8*E1A1D6BD4E9C01F33FA845AFE5B4E27778AB6808E0145939F5D75D40BD43DF82?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022a700c721-0000-0800-0000-6379ba530000\u0022",
        "x-ms-ratelimit-remaining-subscription-reads": "11948"
      },
      "ResponseBody": {
        "id": "/subscriptions/7c71b563-0dc0-4bc0-bcf6-06f8f0516c7a/providers/Microsoft.LoadTestService/locations/WESTUS2/operationStatuses/20a0385a-9266-4e4d-ab85-9589fc5c5da8*E1A1D6BD4E9C01F33FA845AFE5B4E27778AB6808E0145939F5D75D40BD43DF82",
        "name": "20a0385a-9266-4e4d-ab85-9589fc5c5da8*E1A1D6BD4E9C01F33FA845AFE5B4E27778AB6808E0145939F5D75D40BD43DF82",
        "resourceId": "/subscriptions/7c71b563-0dc0-4bc0-bcf6-06f8f0516c7a/resourceGroups/SdkRg1200/providers/Microsoft.LoadTestService/loadTests/Sdk-LoadTestService-DotNet9731",
        "status": "Succeeded",
        "startTime": "2022-11-20T05:25:38.7272013Z",
        "endTime": "2022-11-20T05:25:39.0046Z",
        "properties": null
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com/",
    "RandomSeed": "833411201",
    "RESOURCE_MANAGER_URL": "https://management.azure.com/",
    "SUBSCRIPTION_ID": "7c71b563-0dc0-4bc0-bcf6-06f8f0516c7a"
  }
}
