{
  "Entries": [
    {
      "RequestUri": "https://login.microsoftonline.com/common/discovery/instance?api-version=1.1\u0026authorization_endpoint=https%3A%2F%2Flogin.microsoftonline.com%2Fc54fac88-3dd3-461f-a7c4-8a368e0340b3%2Foauth2%2Fv2.0%2Fauthorize",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "return-client-request-id": "true",
        "x-app-name": "UnknownClient",
        "x-app-ver": "0.0.0.0",
        "x-client-current-telemetry": "1|1003,0|",
        "x-client-last-telemetry": "",
        "x-client-OS": "Microsoft Windows 10.0.18363 ",
        "x-client-SKU": "MSAL.NetCore",
        "x-client-Ver": "4.10.0.0"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "tenant_discovery_endpoint": "https://login.microsoftonline.com/c54fac88-3dd3-461f-a7c4-8a368e0340b3/v2.0/.well-known/openid-configuration",
        "api-version": "1.1",
        "metadata": [
          {
            "preferred_network": "login.microsoftonline.com",
            "preferred_cache": "login.windows.net",
            "aliases": [
              "login.microsoftonline.com",
              "login.windows.net",
              "login.microsoft.com",
              "sts.windows.net"
            ]
          },
          {
            "preferred_network": "login.partner.microsoftonline.cn",
            "preferred_cache": "login.partner.microsoftonline.cn",
            "aliases": [
              "login.partner.microsoftonline.cn",
              "login.chinacloudapi.cn"
            ]
          },
          {
            "preferred_network": "login.microsoftonline.de",
            "preferred_cache": "login.microsoftonline.de",
            "aliases": [
              "login.microsoftonline.de"
            ]
          },
          {
            "preferred_network": "login.microsoftonline.us",
            "preferred_cache": "login.microsoftonline.us",
            "aliases": [
              "login.microsoftonline.us",
              "login.usgovcloudapi.net"
            ]
          },
          {
            "preferred_network": "login-us.microsoftonline.com",
            "preferred_cache": "login-us.microsoftonline.com",
            "aliases": [
              "login-us.microsoftonline.com"
            ]
          }
        ]
      }
    },
    {
      "RequestUri": "https://login.microsoftonline.com/c54fac88-3dd3-461f-a7c4-8a368e0340b3/v2.0/.well-known/openid-configuration",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "return-client-request-id": "true",
        "x-app-name": "UnknownClient",
        "x-app-ver": "0.0.0.0",
        "x-client-current-telemetry": "1|1003,0|",
        "x-client-last-telemetry": "",
        "x-client-OS": "Microsoft Windows 10.0.18363 ",
        "x-client-SKU": "MSAL.NetCore",
        "x-client-Ver": "4.10.0.0"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "token_endpoint": "https://login.microsoftonline.com/c54fac88-3dd3-461f-a7c4-8a368e0340b3/oauth2/v2.0/token",
        "token_endpoint_auth_methods_supported": [
          "client_secret_post",
          "private_key_jwt",
          "client_secret_basic"
        ],
        "jwks_uri": "https://login.microsoftonline.com/c54fac88-3dd3-461f-a7c4-8a368e0340b3/discovery/v2.0/keys",
        "response_modes_supported": [
          "query",
          "fragment",
          "form_post"
        ],
        "subject_types_supported": [
          "pairwise"
        ],
        "id_token_signing_alg_values_supported": [
          "RS256"
        ],
        "response_types_supported": [
          "code",
          "id_token",
          "code id_token",
          "id_token token"
        ],
        "scopes_supported": [
          "openid",
          "profile",
          "email",
          "offline_access"
        ],
        "issuer": "https://login.microsoftonline.com/c54fac88-3dd3-461f-a7c4-8a368e0340b3/v2.0",
        "request_uri_parameter_supported": false,
        "userinfo_endpoint": "https://graph.microsoft.com/oidc/userinfo",
        "authorization_endpoint": "https://login.microsoftonline.com/c54fac88-3dd3-461f-a7c4-8a368e0340b3/oauth2/v2.0/authorize",
        "http_logout_supported": true,
        "frontchannel_logout_supported": true,
        "end_session_endpoint": "https://login.microsoftonline.com/c54fac88-3dd3-461f-a7c4-8a368e0340b3/oauth2/v2.0/logout",
        "claims_supported": [
          "sub",
          "iss",
          "cloud_instance_name",
          "cloud_instance_host_name",
          "cloud_graph_host_name",
          "msgraph_host",
          "aud",
          "exp",
          "iat",
          "auth_time",
          "acr",
          "nonce",
          "preferred_username",
          "name",
          "tid",
          "ver",
          "at_hash",
          "c_hash",
          "email"
        ],
        "tenant_region_scope": "NA",
        "cloud_instance_name": "microsoftonline.com",
        "cloud_graph_host_name": "graph.windows.net",
        "msgraph_host": "graph.microsoft.com",
        "rbac_url": "https://pas.windows.net"
      }
    },
    {
      "RequestUri": "https://login.microsoftonline.com/common/userrealm/testuser@azuresdkplayground.onmicrosoft.com?api-version=1.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-client-OS": "Microsoft Windows 10.0.18363 ",
        "x-client-SKU": "MSAL.NetCore",
        "x-client-Ver": "4.10.0.0"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline; filename=userrealm.json",
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "ver": "1.0",
        "account_type": "Managed",
        "domain_name": "azuresdkplayground.onmicrosoft.com",
        "cloud_instance_name": "microsoftonline.com",
        "cloud_audience_urn": "urn:federation:MicrosoftOnline"
      }
    },
    {
      "RequestUri": "https://login.microsoftonline.com/c54fac88-3dd3-461f-a7c4-8a368e0340b3/oauth2/v2.0/token",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "return-client-request-id": "true",
        "x-app-name": "UnknownClient",
        "x-app-ver": "0.0.0.0",
        "x-client-current-telemetry": "1|1003,0|",
        "x-client-last-telemetry": "",
        "x-client-OS": "Microsoft Windows 10.0.18363 ",
        "x-client-SKU": "MSAL.NetCore",
        "x-client-Ver": "4.10.0.0"
      },
      "RequestBody": "U2FuaXRpemVk",
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "token_type": "Bearer",
        "scope": "https://vault.azure.net/user_impersonation https://vault.azure.net/.default",
        "expires_in": 3599,
        "ext_expires_in": 3599,
        "access_token": "Sanitized",
        "refresh_token": "Sanitized",
        "foci": "1",
        "id_token": "eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsImtpZCI6IkN0VHVoTUptRDVNN0RMZHpEMnYyeDNRS1NSWSJ9.eyJhdWQiOiIwNGIwNzc5NS04ZGRiLTQ2MWEtYmJlZS0wMmY5ZTFiZjdiNDYiLCJpc3MiOiJodHRwczovL2xvZ2luLm1pY3Jvc29mdG9ubGluZS5jb20vYzU0ZmFjODgtM2RkMy00NjFmLWE3YzQtOGEzNjhlMDM0MGIzL3YyLjAiLCJpYXQiOjE1ODgzNTI2MzIsIm5iZiI6MTU4ODM1MjYzMiwiZXhwIjoxNTg4MzU2NTMyLCJhaW8iOiJBVFFBeS84UEFBQUE1N1FLNmh4TzQxR2NwNXdNdXhqSDUrYnlnZlNFMzJEZnVXdTBNMnQ5SlhSZ1pja2JCNGZOcGNyb1daSlg2UDZQIiwibmFtZSI6InRlc3R1c2VyIiwib2lkIjoiMjMzNjY0ZmEtNGU5Mi00Yzg1LTg5NzctZjc4MmEyNDI1OGU0IiwicHJlZmVycmVkX3VzZXJuYW1lIjoidGVzdHVzZXJAYXp1cmVzZGtwbGF5Z3JvdW5kLm9ubWljcm9zb2Z0LmNvbSIsInN1YiI6InppWGhoM2RGVF9ERFA2a2w4aGI0aGVVUGdmTWlJRUJmUUt6RjZIYTZuc0UiLCJ0aWQiOiJjNTRmYWM4OC0zZGQzLTQ2MWYtYTdjNC04YTM2OGUwMzQwYjMiLCJ1dGkiOiJpZndlbU9uelFVMkhlRjg4VVpjX0FBIiwidmVyIjoiMi4wIn0.YGepoeJxclycbeyRhBwUOEGwUluLtmm5jb_XZteNOb8-_pNvbbFudkD05t-octiWGRITa8TiDi-QEeo6kthANJ9r_ugx3dJUYhXdcWwS1sTCBTERSEnIN_QDZKxi3TVIiPOA2S5uIcXhmcQJFnjuXvlEY9SF9NHe11SaYc777hH_FS3dNMJuhJ038ETR35TqCX2KH_v15kGls42chw4iQOhAU3sB0gDg0wOBTd3OvhBar_mMC5r5TGQbK3TdejTxZJQZcP2Dv_ikmJyVzlheIi983qDAMuDwyLZsm7g80fme9vlFJ1z7pbjoUdrEzQCjgDcPJQNa4NRIghG_ahBPqg",
        "client_info": "eyJ1aWQiOiIyMzM2NjRmYS00ZTkyLTRjODUtODk3Ny1mNzgyYTI0MjU4ZTQiLCJ1dGlkIjoiYzU0ZmFjODgtM2RkMy00NjFmLWE3YzQtOGEzNjhlMDM0MGIzIn0"
      }
    }
  ],
  "Variables": {
    "AZURE_IDENTITY_TEST_TENANTID": "c54fac88-3dd3-461f-a7c4-8a368e0340b3",
    "AZURE_IDENTITY_TEST_USERNAME": "testuser@azuresdkplayground.onmicrosoft.com",
    "RandomSeed": "1640485913"
  }
}