{
  "Entries": [
    {
      "RequestUri": "https://login.microsoftonline.com/common/discovery/instance?api-version=1.1\u0026authorization_endpoint=https%3A%2F%2Flogin.microsoftonline.com%2Fc54fac88-3dd3-461f-a7c4-8a368e0340b3%2Foauth2%2Fv2.0%2Fauthorize",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "return-client-request-id": "true",
        "x-app-name": "UnknownClient",
        "x-app-ver": "0.0.0.0",
        "x-client-OS": "Microsoft Windows 10.0.18363 ",
        "x-client-SKU": "MSAL.NetCore",
        "x-client-Ver": "4.1.0.0"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "tenant_discovery_endpoint": "https://login.microsoftonline.com/c54fac88-3dd3-461f-a7c4-8a368e0340b3/v2.0/.well-known/openid-configuration",
        "api-version": "1.1",
        "metadata": [
          {
            "preferred_network": "login.microsoftonline.com",
            "preferred_cache": "login.windows.net",
            "aliases": [
              "login.microsoftonline.com",
              "login.windows.net",
              "login.microsoft.com",
              "sts.windows.net"
            ]
          },
          {
            "preferred_network": "login.partner.microsoftonline.cn",
            "preferred_cache": "login.partner.microsoftonline.cn",
            "aliases": [
              "login.partner.microsoftonline.cn",
              "login.chinacloudapi.cn"
            ]
          },
          {
            "preferred_network": "login.microsoftonline.de",
            "preferred_cache": "login.microsoftonline.de",
            "aliases": [
              "login.microsoftonline.de"
            ]
          },
          {
            "preferred_network": "login.microsoftonline.us",
            "preferred_cache": "login.microsoftonline.us",
            "aliases": [
              "login.microsoftonline.us",
              "login.usgovcloudapi.net"
            ]
          },
          {
            "preferred_network": "login-us.microsoftonline.com",
            "preferred_cache": "login-us.microsoftonline.com",
            "aliases": [
              "login-us.microsoftonline.com"
            ]
          }
        ]
      }
    },
    {
      "RequestUri": "https://login.microsoftonline.com/c54fac88-3dd3-461f-a7c4-8a368e0340b3/v2.0/.well-known/openid-configuration",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "return-client-request-id": "true",
        "x-app-name": "UnknownClient",
        "x-app-ver": "0.0.0.0",
        "x-client-OS": "Microsoft Windows 10.0.18363 ",
        "x-client-SKU": "MSAL.NetCore",
        "x-client-Ver": "4.1.0.0"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "token_endpoint": "https://login.microsoftonline.com/c54fac88-3dd3-461f-a7c4-8a368e0340b3/oauth2/v2.0/token",
        "token_endpoint_auth_methods_supported": [
          "client_secret_post",
          "private_key_jwt",
          "client_secret_basic"
        ],
        "jwks_uri": "https://login.microsoftonline.com/c54fac88-3dd3-461f-a7c4-8a368e0340b3/discovery/v2.0/keys",
        "response_modes_supported": [
          "query",
          "fragment",
          "form_post"
        ],
        "subject_types_supported": [
          "pairwise"
        ],
        "id_token_signing_alg_values_supported": [
          "RS256"
        ],
        "response_types_supported": [
          "code",
          "id_token",
          "code id_token",
          "id_token token"
        ],
        "scopes_supported": [
          "openid",
          "profile",
          "email",
          "offline_access"
        ],
        "issuer": "https://login.microsoftonline.com/c54fac88-3dd3-461f-a7c4-8a368e0340b3/v2.0",
        "request_uri_parameter_supported": false,
        "userinfo_endpoint": "https://graph.microsoft.com/oidc/userinfo",
        "authorization_endpoint": "https://login.microsoftonline.com/c54fac88-3dd3-461f-a7c4-8a368e0340b3/oauth2/v2.0/authorize",
        "http_logout_supported": true,
        "frontchannel_logout_supported": true,
        "end_session_endpoint": "https://login.microsoftonline.com/c54fac88-3dd3-461f-a7c4-8a368e0340b3/oauth2/v2.0/logout",
        "claims_supported": [
          "sub",
          "iss",
          "cloud_instance_name",
          "cloud_instance_host_name",
          "cloud_graph_host_name",
          "msgraph_host",
          "aud",
          "exp",
          "iat",
          "auth_time",
          "acr",
          "nonce",
          "preferred_username",
          "name",
          "tid",
          "ver",
          "at_hash",
          "c_hash",
          "email"
        ],
        "tenant_region_scope": "NA",
        "cloud_instance_name": "microsoftonline.com",
        "cloud_graph_host_name": "graph.windows.net",
        "msgraph_host": "graph.microsoft.com",
        "rbac_url": "https://pas.windows.net"
      }
    },
    {
      "RequestUri": "https://login.microsoftonline.com/common/userrealm/tempuser2@azuresdkplayground.onmicrosoft.com?api-version=1.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-client-OS": "Microsoft Windows 10.0.18363 ",
        "x-client-SKU": "MSAL.NetCore",
        "x-client-Ver": "4.1.0.0"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline; filename=userrealm.json",
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "ver": "1.0",
        "account_type": "Managed",
        "domain_name": "azuresdkplayground.onmicrosoft.com",
        "cloud_instance_name": "microsoftonline.com",
        "cloud_audience_urn": "urn:federation:MicrosoftOnline"
      }
    },
    {
      "RequestUri": "https://login.microsoftonline.com/c54fac88-3dd3-461f-a7c4-8a368e0340b3/oauth2/v2.0/token",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "return-client-request-id": "true",
        "x-app-name": "UnknownClient",
        "x-app-ver": "0.0.0.0",
        "x-client-OS": "Microsoft Windows 10.0.18363 ",
        "x-client-SKU": "MSAL.NetCore",
        "x-client-Ver": "4.1.0.0"
      },
      "RequestBody": "U2FuaXRpemVk",
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "token_type": "Bearer",
        "scope": "https://vault.azure.net/user_impersonation https://vault.azure.net/.default",
        "expires_in": 3600,
        "ext_expires_in": 3600,
        "access_token": "Sanitized",
        "refresh_token": "Sanitized",
        "id_token": "eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsImtpZCI6IkJCOENlRlZxeWFHckdOdWVoSklpTDRkZmp6dyJ9.eyJhdWQiOiIwNGIwNzc5NS04ZGRiLTQ2MWEtYmJlZS0wMmY5ZTFiZjdiNDYiLCJpc3MiOiJodHRwczovL2xvZ2luLm1pY3Jvc29mdG9ubGluZS5jb20vYzU0ZmFjODgtM2RkMy00NjFmLWE3YzQtOGEzNjhlMDM0MGIzL3YyLjAiLCJpYXQiOjE1NzU1OTIyNjEsIm5iZiI6MTU3NTU5MjI2MSwiZXhwIjoxNTc1NTk2MTYxLCJhaW8iOiJBVFFBeS84TkFBQUFHUVI2YkVoK3FTOENxOHBJVDllZjNhNmNHd0RvcURUYm94ZWFTd2RRSWM5d3U0dkhrVG96Y05WYmNWU1E0ODJXIiwibmFtZSI6IlRlbXAgVXNlciAyIiwib2lkIjoiYzQ4Nzk1NDItODQxZi00MDc0LTk0MTMtZDk4MTM1MWU3MzI4IiwicHJlZmVycmVkX3VzZXJuYW1lIjoidGVtcHVzZXIyQGF6dXJlc2RrcGxheWdyb3VuZC5vbm1pY3Jvc29mdC5jb20iLCJzdWIiOiJlQzZ2b2RIMjk0VUhnTThvTTN0MlRqVHZrU0NOMThiTzAyZ2dLZ09mVDljIiwidGlkIjoiYzU0ZmFjODgtM2RkMy00NjFmLWE3YzQtOGEzNjhlMDM0MGIzIiwidXRpIjoidVBKejVmUGtuVUsydW5wQ1lMckpBUSIsInZlciI6IjIuMCJ9.hPR_MzOKempTBV7s-78uXfl760LalEGEtwQqLEKvg-xDkPKkyj8x1Ig6cUrZcri4v8Uu02Bnw6mEEuhgyW0BDlbETyYIRJN6kVPvQADPWfstUa7lehUjSzZNzaTItU_AHK050Mah50TNelovN0qD7cItNtxAQ62wh-xf8RszJ25NVqd3Jdu45vkvxliTEY5CP4mnJAkKagS7uupS8tnOXF6lCS0MkZetbk4uBBfGj_-MpWISC2ZKYVghptGz2eDU76iFdZps046DsodI-IR3bwnuAWyqer78aLmaNLv_7Qkf1014UwqML8l3AhGVvw1lv_feNukgQzsdGiszej2w0w",
        "client_info": "eyJ1aWQiOiJjNDg3OTU0Mi04NDFmLTQwNzQtOTQxMy1kOTgxMzUxZTczMjgiLCJ1dGlkIjoiYzU0ZmFjODgtM2RkMy00NjFmLWE3YzQtOGEzNjhlMDM0MGIzIn0"
      }
    }
  ],
  "Variables": {
    "AZURE_IDENTITY_TEST_TENANTID": "c54fac88-3dd3-461f-a7c4-8a368e0340b3",
    "AZURE_IDENTITY_TEST_USERNAME": "tempuser2@azuresdkplayground.onmicrosoft.com",
    "RandomSeed": "1640485913"
  }
}