// <auto-generated>
// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See License.txt in the project root for
// license information.
//
// Code generated by Microsoft (R) AutoRest Code Generator.
// Changes may cause incorrect behavior and will be lost if the code is
// regenerated.
// </auto-generated>

namespace Microsoft.Azure.Management.Quota
{
    using Microsoft.Rest;
    using Microsoft.Rest.Azure;
    using Models;
    using System.Threading;
    using System.Threading.Tasks;

    /// <summary>
    /// Extension methods for QuotaResourceProvidersOperations.
    /// </summary>
    public static partial class QuotaResourceProvidersOperationsExtensions
    {
            /// <summary>
            /// Gets the list of current resource providers supported by the
            /// Microsoft.Quota resource provider.
            /// For each resource provider, the resource templates the resource provider
            /// supports are be provided.
            /// For each resource template, the resource dimensions are listed. The
            /// resource dimensions are the name-value pairs in the resource URI.
            /// Example: Microsoft.Compute Resource Provider
            /// The URI template is
            /// '/subscriptions/{subscriptionId}/providers/Microsoft.Compute/locations/{locationId}/quotaBucket'.
            /// The actual dimensions vary depending on the resource provider.
            /// The resource dimensions are {subscriptions},{locations},{quotaBucket}.
            /// </summary>
            /// <param name='operations'>
            /// The operations group for this extension method.
            /// </param>
            public static ResourceProvidersList List(this IQuotaResourceProvidersOperations operations)
            {
                return operations.ListAsync().GetAwaiter().GetResult();
            }

            /// <summary>
            /// Gets the list of current resource providers supported by the
            /// Microsoft.Quota resource provider.
            /// For each resource provider, the resource templates the resource provider
            /// supports are be provided.
            /// For each resource template, the resource dimensions are listed. The
            /// resource dimensions are the name-value pairs in the resource URI.
            /// Example: Microsoft.Compute Resource Provider
            /// The URI template is
            /// '/subscriptions/{subscriptionId}/providers/Microsoft.Compute/locations/{locationId}/quotaBucket'.
            /// The actual dimensions vary depending on the resource provider.
            /// The resource dimensions are {subscriptions},{locations},{quotaBucket}.
            /// </summary>
            /// <param name='operations'>
            /// The operations group for this extension method.
            /// </param>
            /// <param name='cancellationToken'>
            /// The cancellation token.
            /// </param>
            public static async Task<ResourceProvidersList> ListAsync(this IQuotaResourceProvidersOperations operations, CancellationToken cancellationToken = default(CancellationToken))
            {
                using (var _result = await operations.ListWithHttpMessagesAsync(null, cancellationToken).ConfigureAwait(false))
                {
                    return _result.Body;
                }
            }

    }
}
