{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/45b60d85-fd72-427a-a708-f994d26e593e?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11990"
      },
      "ResponseBody": {
        "id": "/subscriptions/45b60d85-fd72-427a-a708-f994d26e593e",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "subscriptionId": "45b60d85-fd72-427a-a708-f994d26e593e",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": "AzureStorage_DMStaging_10041369",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/45b60d85-fd72-427a-a708-f994d26e593e/resourcegroups/testelasticsan?api-version=**",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11989"
      },
      "ResponseBody": {
        "id": "/subscriptions/45b60d85-fd72-427a-a708-f994d26e593e/resourceGroups/testelasticsan",
        "name": "testelasticsan",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus2",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/45b60d85-fd72-427a-a708-f994d26e593e/resourceGroups/testelasticsan/providers/Microsoft.ElasticSan/elasticSans/testsan1?api-version=2021-11-20-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ratelimit-remaining-subscription-reads": "11988"
      },
      "ResponseBody": {
        "properties": {
          "sku": {
            "name": "Premium_LRS"
          },
          "provisioningState": "Succeeded",
          "baseSizeTiB": 2,
          "extendedCapacitySizeTiB": 7,
          "totalIops": 10000,
          "totalMBps": 160,
          "totalSizeTiB": 9,
          "volumeGroupCount": 16,
          "totalVolumeSizeGiB": 0
        },
        "location": "southcentralusstg",
        "id": "/subscriptions/45b60d85-fd72-427a-a708-f994d26e593e/resourceGroups/testelasticsan/providers/Microsoft.ElasticSan/elasticSans/testsan1",
        "name": "testsan1",
        "type": "Microsoft.ElasticSan/ElasticSans",
        "tags": {
          "tag3": "val3"
        },
        "systemData": {
          "createdAt": "2022-09-06T05:44:56.9683284Z",
          "createdBy": "a000255f-5f09-45e0-a970-9d9ed9cc6453",
          "createdByType": "Application",
          "lastModifiedAt": "2022-09-06T06:47:38.6507195Z",
          "lastModifiedBy": "a000255f-5f09-45e0-a970-9d9ed9cc6453",
          "lastModifiedByType": "Application"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/45b60d85-fd72-427a-a708-f994d26e593e/resourceGroups/testelasticsan/providers/Microsoft.ElasticSan/elasticSans/testsan1/volumegroups/testvolgroup-2220?api-version=2021-11-20-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {}
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "Location": "https://management.azure.com/subscriptions/45b60d85-fd72-427a-a708-f994d26e593e/providers/Microsoft.ElasticSan/locations/southcentralusstg/asyncoperations/61536c53-afad-4906-a986-a372687a5465?monitor=true\u0026api-version=2021-11-20-preview",
        "Retry-After": "17",
        "x-ms-ratelimit-remaining-subscription-writes": "1197"
      },
      "ResponseBody": {
        "properties": {
          "provisioningState": "Creating",
          "protocolType": "iSCSI",
          "encryption": "EncryptionAtRestWithPlatformKey"
        },
        "id": "/subscriptions/45b60d85-fd72-427a-a708-f994d26e593e/resourceGroups/testelasticsan/providers/Microsoft.ElasticSan/elasticSans/testsan1/volumegroups/testvolgroup-2220",
        "name": "testvolgroup-2220",
        "type": "Microsoft.ElasticSan/ElasticSans",
        "systemData": {
          "createdAt": "2022-09-06T08:38:25.2918323Z",
          "createdBy": "a000255f-5f09-45e0-a970-9d9ed9cc6453",
          "createdByType": "Application",
          "lastModifiedAt": "2022-09-06T08:38:25.2918323Z",
          "lastModifiedBy": "a000255f-5f09-45e0-a970-9d9ed9cc6453",
          "lastModifiedByType": "Application"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/45b60d85-fd72-427a-a708-f994d26e593e/providers/Microsoft.ElasticSan/locations/southcentralusstg/asyncoperations/61536c53-afad-4906-a986-a372687a5465?monitor=true\u0026api-version=2021-11-20-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ratelimit-remaining-subscription-reads": "11987"
      },
      "ResponseBody": {
        "properties": {
          "provisioningState": "Succeeded",
          "protocolType": "iSCSI",
          "encryption": "EncryptionAtRestWithPlatformKey"
        },
        "id": "/subscriptions/45b60d85-fd72-427a-a708-f994d26e593e/resourceGroups/testelasticsan/providers/Microsoft.ElasticSan/elasticSans/testsan1/volumegroups/testvolgroup-2220",
        "name": "testvolgroup-2220",
        "type": "Microsoft.ElasticSan/ElasticSans",
        "systemData": {
          "createdAt": "2022-09-06T08:38:25.2918323Z",
          "createdBy": "a000255f-5f09-45e0-a970-9d9ed9cc6453",
          "createdByType": "Application",
          "lastModifiedAt": "2022-09-06T08:38:25.2918323Z",
          "lastModifiedBy": "a000255f-5f09-45e0-a970-9d9ed9cc6453",
          "lastModifiedByType": "Application"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/45b60d85-fd72-427a-a708-f994d26e593e/resourceGroups/testelasticsan/providers/Microsoft.ElasticSan/elasticSans/testsan1/volumegroups/testvolgroup-2220?api-version=2021-11-20-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {
          "tag1": "value1"
        },
        "properties": {
          "protocolType": "Iscsi",
          "encryption": "EncryptionAtRestWithPlatformKey",
          "networkAcls": {
            "virtualNetworkRules": [
              {
                "id": "/subscriptions/45b60d85-fd72-427a-a708-f994d26e593e/resourceGroups/testelasticsan/providers/Microsoft.Network/virtualNetworks/testvnet/subnets/subnet1"
              }
            ]
          }
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "Location": "https://management.azure.com/subscriptions/45b60d85-fd72-427a-a708-f994d26e593e/providers/Microsoft.ElasticSan/locations/southcentralusstg/asyncoperations/a1673715-1d15-4eef-90ac-a98fb46ebaf4?monitor=true\u0026api-version=2021-11-20-preview",
        "Retry-After": "17",
        "x-ms-ratelimit-remaining-subscription-writes": "1196"
      },
      "ResponseBody": {
        "properties": {
          "provisioningState": "Updating",
          "networkAcls": {
            "virtualNetworkRules": [
              {
                "action": "Allow",
                "id": "/subscriptions/45b60d85-fd72-427a-a708-f994d26e593e/resourceGroups/testelasticsan/providers/Microsoft.Network/virtualNetworks/testvnet/subnets/subnet1"
              }
            ]
          },
          "protocolType": "iSCSI",
          "encryption": "EncryptionAtRestWithPlatformKey"
        },
        "id": "/subscriptions/45b60d85-fd72-427a-a708-f994d26e593e/resourceGroups/testelasticsan/providers/Microsoft.ElasticSan/elasticSans/testsan1/volumegroups/testvolgroup-2220",
        "name": "testvolgroup-2220",
        "type": "Microsoft.ElasticSan/ElasticSans",
        "tags": {
          "tag1": "value1"
        },
        "systemData": {
          "createdAt": "2022-09-06T08:38:26.5887043Z",
          "createdBy": "a000255f-5f09-45e0-a970-9d9ed9cc6453",
          "createdByType": "Application",
          "lastModifiedAt": "2022-09-06T08:38:26.5887043Z",
          "lastModifiedBy": "a000255f-5f09-45e0-a970-9d9ed9cc6453",
          "lastModifiedByType": "Application"
        }
      }
    },
[...]
