{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourcegroups/azsmnet935?api-version=**",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus2",
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "id": "/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/azsmnet935",
        "name": "azsmnet935",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus2",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourcegroups/azsmnet935/providers/Microsoft.Resources/deployments/azsmnet7275?api-version=2021-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "template": {
            "$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
            "contentVersion": "1.0.0.0",
            "parameters": {
              "resourceGroupName": {
                "type": "String"
              },
              "location": {
                "type": "String"
              },
              "virtualMachineName": {
                "type": "String"
              },
              "virtualMachineSize": {
                "type": "String"
              },
              "adminUsername": {
                "type": "String"
              },
              "storageAccountName": {
                "type": "String"
              },
              "virtualNetworkName": {
                "type": "String"
              },
              "routeTableName": {
                "type": "String"
              },
              "networkInterfaceName": {
                "type": "String"
              },
              "networkSecurityGroupName": {
                "type": "String"
              },
              "adminPassword": {
                "type": "SecureString"
              },
              "storageAccountType": {
                "type": "String"
              },
              "diagnosticsStorageAccountName": {
                "type": "String"
              },
              "diagnosticsStorageAccountId": {
                "type": "String"
              },
              "diagnosticsStorageAccountType": {
                "type": "String"
              },
              "addressPrefix": {
                "type": "String"
              },
              "subnetName": {
                "type": "String"
              },
              "subnetPrefix": {
                "type": "String"
              },
              "publicIpAddressName": {
                "type": "String"
              },
              "publicIpAddressType": {
                "type": "String"
              }
            },
            "variables": {
              "vnetId": "[resourceId(parameters('resourceGroupName'),'Microsoft.Network/virtualNetworks', parameters('virtualNetworkName'))]",
              "subnetRef": "[concat(variables('vnetId'), '/subnets/', parameters('subnetName'))]"
            },
            "resources": [
              {
                "type": "Microsoft.Compute/virtualMachines",
                "name": "[parameters('virtualMachineName')]",
                "apiVersion": "2015-06-15",
                "location": "[parameters('location')]",
                "properties": {
                  "osProfile": {
                    "computerName": "[parameters('virtualMachineName')]",
                    "adminUsername": "[parameters('adminUsername')]",
                    "adminPassword": "[parameters('adminPassword')]",
                    "windowsConfiguration": {
                      "provisionVmAgent": "true"
                    }
                  },
                  "hardwareProfile": {
                    "vmSize": "[parameters('virtualMachineSize')]"
                  },
                  "storageProfile": {
                    "imageReference": {
                      "publisher": "MicrosoftWindowsServer",
                      "offer": "WindowsServer",
                      "sku": "2016-Datacenter",
                      "version": "latest"
                    },
                    "osDisk": {
                      "name": "[parameters('virtualMachineName')]",
                      "createOption": "fromImage",
                      "vhd": {
                        "uri": "[concat(concat(reference(resourceId(parameters('resourceGroupName'), 'Microsoft.Storage/storageAccounts', parameters('storageAccountName')), '2015-06-15').primaryEndpoints['blob'], 'vhds/'), parameters('virtualMachineName'), '20161217141554.vhd')]"
                      }
                    },
                    "dataDisks": []
                  },
                  "networkProfile": {
                    "networkInterfaces": [
                      {
                        "id": "[resourceId('Microsoft.Network/networkInterfaces', parameters('networkInterfaceName'))]"
                      }
                    ]
                  },
                  "diagnosticsProfile": {
                    "bootDiagnostics": {
                      "enabled": true,
                      "storageUri": "[reference(resourceId(parameters('resourceGroupName'), 'Microsoft.Storage/storageAccounts', parameters('diagnosticsStorageAccountName')), '2015-06-15').primaryEndpoints['blob']]"
                    }
                  }
                },
                "dependsOn": [
                  "[concat('Microsoft.Network/networkInterfaces/', parameters('networkInterfaceName'))]",
                  "[concat('Microsoft.Storage/storageAccounts/', parameters('storageAccountName'))]",
                  "[concat('Microsoft.Storage/storageAccounts/', parameters('diagnosticsStorageAccountName'))]"
                ]
              },
              {
                "type": "Microsoft.Storage/storageAccounts",
                "name": "[parameters('storageAccountName')]",
                "apiVersion": "2015-06-15",
                "location": "[parameters('location')]",
                "properties": {
                  "accountType": "[parameters('storageAccountType')]"
                }
              },
              {
                "type": "Microsoft.Storage/storageAccounts",
                "name": "[parameters('diagnosticsStorageAccountName')]",
                "apiVersion": "2015-06-15",
                "location": "[parameters('location')]",
                "properties": {
                  "accountType": "[parameters('diagnosticsStorageAccountType')]"
                }
              },
              {
                "type": "Microsoft.Network/routeTables",
                "name": "[parameters('routeTableName')]",
                "apiVersion": "2016-09-01",
                "location": "[parameters('location')]",
                "properties": {
                  "routes": [
                    {
                      "name": "route1",
                      "properties": {
                        "addressPrefix": "10.1.3.0/24",
                        "nextHopType": "VirtualAppliance",
                        "nextHopIpAddress": "10.0.1.2"
                      }
                    }
                  ]
                }
              },
              {
                "type": "Microsoft.Network/virtualNetworks",
                "name": "[parameters('virtualNetworkName')]",
                "apiVersion": "2016-09-01",
                "location": "[parameters('location')]",
                "properties": {
                  "addressSpace": {
                    "addressPrefixes": [
                      "[parameters('addressPrefix')]"
                    ]
                  },
                  "subnets": [
                    {
                      "name": "[parameters('subnetName')]",
                      "properties": {
                        "addressPrefix": "[parameters('subnetPrefix')]",
                        "routeTable": {
                          "id": "[resourceId('Microsoft.Network/routeTables', parameters('routeTableName'))]"
                        }
                      }
                    }
                  ]
                },
                "dependsOn": [
                  "[concat('Microsoft.Network/routeTables/', parameters('routeTableName'))]"
                ]
              },
              {
                "type": "Microsoft.Network/networkInterfaces",
                "name": "[parameters('networkInterfaceName')]",
                "apiVersion": "2016-09-01",
                "location": "[parameters('location')]",
                "properties": {
                  "ipConfigurations": [
                    {
                      "name": "ipconfig1",
                      "properties": {
                        "subnet": {
                          "id": "[variables('subnetRef')]"
                        },
                        "privateIPAllocationMethod": "Dynamic",
                        "publicIpAddress": {
                          "id": "[resourceId(parameters('resourceGroupName'),'Microsoft.Network/publicIpAddresses', parameters('publicIpAddressName'))]"
                        }
                      }
                    }
                  ],
                  "networkSecurityGroup": {
                    "id": "[resourceId(parameters('resourceGroupName'), 'Microsoft.Network/networkSecurityGroups', parameters('networkSecurityGroupName'))]"
                  }
                },
                "dependsOn": [
                  "[concat('Microsoft.Network/virtualNetworks/', parameters('virtualNetworkName'))]",
                  "[concat('Microsoft.Network/publicIpAddresses/', parameters('publicIpAddressName'))]",
                  "[concat('Microsoft.Network/networkSecurityGroups/', parameters('networkSecurityGroupName'))]"
                ]
              },
              {
                "type": "Microsoft.Network/publicIpAddresses",
                "name": "[parameters('publicIpAddressName')]",
                "apiVersion": "2016-09-01",
                "location": "[parameters('location')]",
                "properties": {
                  "publicIpAllocationMethod": "[parameters('publicIpAddressType')]"
                }
              },
              {
                "type": "Microsoft.Network/networkSecurityGroups",
                "name": "[parameters('networkSecurityGroupName')]",
                "apiVersion": "2016-09-01",
                "location": "[parameters('location')]",
                "properties": {
                  "securityRules": [
                    {
                      "name": "default-allow-rdp",
                      "properties": {
                        "priority": 1000,
                        "sourceAddressPrefix": "*",
                        "protocol": "TCP",
                        "destinationPortRange": "3389",
                        "access": "Allow",
                        "direction": "Inbound",
                        "sourcePortRange": "*",
                        "destinationAddressPrefix": "*"
                      }
                    }
                  ]
                }
              }
            ],
            "outputs": {
              "adminUsername": {
                "type": "String",
                "value": "[parameters('adminUsername')]"
              }
            }
          },
          "parameters": {
            "resourceGroupName": {
              "value": "azsmnet935"
            },
            "location": {
              "value": "westus2"
            },
            "virtualMachineName": {
              "value": "azsmnet3796"
            },
            "virtualMachineSize": {
              "value": "Standard_DS1_v2"
            },
            "adminUsername": {
              "value": "net[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourcegroups/azsmnet935/providers/Microsoft.Resources/deployments/azsmnet7275/operationStatuses/08586001597472431898?api-version=2021-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11997"
      },
      "ResponseBody": {
        "status": "Running"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourcegroups/azsmnet935/providers/Microsoft.Resources/deployments/azsmnet7275?api-version=2021-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11884"
      },
      "ResponseBody": {
        "id": "/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/azsmnet935/providers/Microsoft.Resources/deployments/azsmnet7275",
        "name": "azsmnet7275",
        "type": "Microsoft.Resources/deployments",
        "properties": {
          "templateHash": "8977858299135338221",
          "parameters": {
            "resourceGroupName": {
              "type": "String",
              "value": "azsmnet935"
            },
            "location": {
              "type": "String",
              "value": "westus2"
            },
            "virtualMachineName": {
              "type": "String",
              "value": "azsmnet3796"
            },
            "virtualMachineSize": {
              "type": "String",
              "value": "Standard_DS1_v[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/azsmnet935/providers/Microsoft.Network/networkInterfaces/azsmnet3738?api-version=2020-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\"86dbc412-d82d-4ec6-9a21-74be2c3307d1\"",
        "x-ms-ratelimit-remaining-subscription-reads": "11883"
      },
      "ResponseBody": [
        "{\r\n",
        "  \"name\": \"azsmnet3738\",\r\n",
        "  \"id\": \"/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/azsmnet935/providers/Microsoft.Network/networkInterfaces/azsmnet3738\",\r\n",
        "  \"etag\": \"W/\\\"86dbc412-d82d-4ec6-9a21-74be2c3307d1\\\"\",\r\n",
        "  \"location\": \"westus2\",\r\n",
        "  \"properties\": {\r\n",
        "    \"provisioningState\": \"Succeeded\",\r\n",
        "    \"resourceGuid\": \"0e7ee05c-84cb-4018-a4ce-12d041646ac0\",\r\n",
        "    \"ipConfigurations\": [\r\n",
        "      {\r\n",
        "        \"name\": \"ipconfig1\",\r\n",
        "        \"id\": \"/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/azsmnet935/providers/Microsoft.Network/networkInterfaces/azsmnet3738/ipConfigurations/ipconfig1\",\r\n",
        "        \"etag\": \"W/\\\"86dbc412-d82d-4ec6-9a21-74be2c3307d1\\\"\",\r\n",
        "        \"type\": \"Microsoft.Network/networkInterfaces/ipConfigurations\",\r\n",
        "        \"properties\": {\r\n",
        "          \"provisioningState\": \"Succeeded\",\r\n",
        "          \"privateIPAddress\": \"10.17.3.4\",\r\n",
        "          \"privateIPAllocationMethod\": \"Dynamic\",\r\n",
        "          \"publicIPAddress\": {\r\n",
        "            \"id\": \"/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/azsmnet935/providers/Microsoft.Network/publicIPAddresses/azsmnet3796-ip\"\r\n",
        "          },\r\n",
        "          \"subnet\": {\r\n",
        "            \"id\": \"/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/azsmnet935/providers/Microsoft.Network/virtualNetworks/azsmnet935-vnet/subnets/default\"\r\n",
        "          },\r\n",
        "          \"primary\": true,\r\n",
        "          \"privateIPAddressVersion\": \"IPv4\"\r\n",
        "        }\r\n",
        "      }\r\n",
        "    ],\r\n",
        "    \"dnsSettings\": {\r\n",
        "      \"dnsServers\": [],\r\n",
        "      \"appliedDnsServers\": [],\r\n",
        "      \"internalDomainNameSuffix\": \"4bw4ney3cdeetezwp5dfp55p5f.xx.internal.cloudapp.net\"\r\n",
        "    },\r\n",
        "    \"macAddress\": \"00-0D-3A-C2-AF-BC\",\r\n",
        "    \"enableAcceleratedNetworking\": false,\r\n",
        "    \"enableIPForwarding\": false,\r\n",
        "    \"networkSecurityGroup\": {\r\n",
        "      \"id\": \"/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/azsmnet935/providers/Microsoft.Network/networkSecurityGroups/azsmnet3796-nsg\"\r\n",
        "    },\r\n",
        "    \"primary\": true,\r\n",
        "    \"virtualMachine\": {\r\n",
        "      \"id\": \"/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/azsmnet935/providers/Microsoft.Compute/virtualMachines/azsmnet3796\"\r\n",
        "    },\r\n",
        "    \"hostedWorkloads\": [],\r\n",
        "    \"tapConfigurations\": [],\r\n",
        "    \"nicType\": \"Standard\"\r\n",
        "  },\r\n",
        "  \"type\": \"Microsoft.Network/networkInterfaces\"\r\n",
        "}"
      ]
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/azsmnet935/providers/Microsoft.Compute/virtualMachines/azsmnet3796?$expand=instanceView&api-version=2019-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-resource": "Microsoft.Compute/LowCostGet3Min;3997,Microsoft.Compute/LowCostGet30Min;31970",
        "x-ms-ratelimit-remaining-subscription-reads": "11882"
      },
      "ResponseBody": [
        "{\r\n",
        "  \"name\": \"azsmnet3796\",\r\n",
        "  \"id\": \"/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/azsmnet935/providers/Microsoft.Compute/virtualMachines/azsmnet3796\",\r\n",
        "  \"type\": \"Microsoft.Compute/virtualMachines\",\r\n",
        "  \"location\": \"westus2\",\r\n",
        "  \"properties\": {\r\n",
        "    \"vmId\": \"7e998884-86eb-4b30-b321-c7534ac89a88\",\r\n",
        "    \"hardwareProfile\": {\r\n",
        "      \"vmSize\": \"Standard_DS1_v2\"\r\n",
        "    },\r\n",
        "    \"storageProfile\": {\r\n",
        "      \"imageReference\": {\r\n",
        "        \"publisher\": \"MicrosoftWindowsServer\",\r\n",
        "        \"offer\": \"WindowsServer\",\r\n",
        "        \"sku\": \"2016-Datacenter\",\r\n",
        "        \"version\": \"latest\",\r\n",
        "        \"exactVersion\": \"14393.3930.2009041537\"\r\n",
        "      },\r\n",
        "      \"osDisk\": {\r\n",
        "        \"osType\": \"Windows\",\r\n",
        "        \"name\": \"azsmnet3796\",\r\n",
        "        \"createOption\": \"FromImage\",\r\n",
        "        \"vhd\": {\r\n",
        "          \"uri\": \"https://azsmnet3990.blob.core.windows.net/vhds/azsmnet379620161217141554.vhd\"\r\n",
        "        },\r\n",
        "        \"caching\": \"ReadWrite\",\r\n",
        "        \"diskSizeGB\": 127\r\n",
        "      },\r\n",
        "      \"dataDisks\": []\r\n",
        "    },\r\n",
        "    \"osProfile\": {\r\n",
        "      \"computerName\": \"azsmnet3796\",\r\n",
        "      \"adminUsername\": \"netanalytics32\",\r\n",
        "      \"windowsConfiguration\": {\r\n",
        "        \"provisionVMAgent\": true,\r\n",
        "        \"enableAutomaticUpdates\": true\r\n",
        "      },\r\n",
        "      \"secrets\": []\r\n",
        "    },\r\n",
        "    \"networkProfile\": {\"networkInterfaces\":[{\"id\":\"/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/azsmnet935/providers/Microsoft.Network/networkInterfaces/azsmnet3738\"}]},\r\n",
        "    \"diagnosticsProfile\": {\r\n",
        "      \"bootDiagnostics\": {\r\n",
        "        \"enabled\": true,\r\n",
        "        \"storageUri\": \"https://azsmnet8418.blob.core.windows.net/\"\r\n",
        "      }\r\n",
        "    },\r\n",
        "    \"provisioningState\": \"Succeeded\",\r\n",
        "    \"instanceView\": {\r\n",
        "      \"vmAgent\": {\r\n",
        "        \"vmAgentVersion\": \"Unknown\",\r\n",
        "        \"statuses\": [\r\n",
        "          {\r\n",
        "            \"code\": \"ProvisioningState/Unavailable\",\r\n",
        "            \"level\": \"Warning\",\r\n",
        "            \"displayStatus\": \"Not Ready\",\r\n",
        "            \"message\": \"VM status blob is found but not yet populated.\",\r\n",
        "            \"time\": \"2020-09-30T06:28:33+00:00\"\r\n",
        "          }\r\n",
        "        ]\r\n",
        "      },\r\n",
        "      \"disks\": [\r\n",
        "        {\r\n",
        "          \"name\": \"azsmnet3796\",\r\n",
        "          \"statuses\": [\r\n",
        "            {\r\n",
        "              \"code\": \"ProvisioningState/succeeded\",\r\n",
        "              \"level\": \"Info\",\r\n",
        "              \"displayStatus\": \"Provisioning succeeded\",\r\n",
        "              \"time\": \"2020-09-30T06:27:04.0536218+00:00\"\r\n",
        "            }\r\n",
        "          ]\r\n",
        "        }\r\n",
        "      ],\r\n",
        "      \"bootDiagnostics\": {\r\n",
        "        \"consoleScreenshotBlobUri\": \"https://azsmnet8418.blob.core.windows.net/bootdiagnostics-azsmnet37-7e998884-86eb-4b30-b321-c7534ac89a88/azsmnet3796.7e998884-86eb-4b30-b321-c7534ac89a88.screenshot.bmp\",\r\n",
        "        \"serialConsoleLogBlobUri\": \"https://azsmnet8418.blob.core.windows.net/bootdiagnostics-azsmnet37-7e998884-86eb-4b30-b321-c7534ac89a88/azsmnet3796.7e998884-86eb-4b30-b321-c7534ac89a88.serialconsole.log\"\r\n",
        "      },\r\n",
        "      \"hyperVGeneration\": \"V1\",\r\n",
        "      \"statuses\": [\r\n",
        "        {\r\n",
        "          \"code\": \"ProvisioningState/succeeded\",\r\n",
        "          \"level\": \"Info\",\r\n",
        "          \"displayStatus\": \"Provisioning succeeded\",\r\n",
        "          \"time\": \"2020-09-30T06:28:27.3973493+00:00\"\r\n",
        "        },\r\n",
        "        {\r\n",
        "          \"code\": \"PowerState/running\",\r\n",
        "          \"level\": \"Info\",\r\n",
        "          \"displayStatus\": \"VM running\"\r\n",
        "        }\r\n",
        "      ]\r\n",
        "    }\r\n",
        "  }\r\n",
        "}"
      ]
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/NetworkWatcherRG/providers/Microsoft.Network/networkWatchers/NetworkWatcher_westus2/nextHop?api-version=2020-04-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "targetResourceId": "/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/azsmnet935/providers/Microsoft.Compute/virtualMachines/azsmnet3796",
        "sourceIPAddress": "10.17.3.4",
        "destinationIPAddress": "10.1.3.6"
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/providers/Microsoft.Network/locations/westus2/operationResults/f722e384-76fd-4a43-a8ed-91a8edb636df?api-version=2020-04-01",
        "Retry-After": "10",
        "x-ms-ratelimit-remaining-subscription-reads": "11881"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/providers/Microsoft.Network/locations/westus2/operationResults/f722e384-76fd-4a43-a8ed-91a8edb636df?api-version=2020-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/providers/Microsoft.Network/locations/westus2/operationResults/f722e384-76fd-4a43-a8ed-91a8edb636df?api-version=2020-04-01",
        "Retry-After": "10",
        "x-ms-ratelimit-remaining-subscription-reads": "11880"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/providers/Microsoft.Network/locations/westus2/operationResults/f722e384-76fd-4a43-a8ed-91a8edb636df?api-version=2020-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/providers/Microsoft.Network/locations/westus2/operationResults/f722e384-76fd-4a43-a8ed-91a8edb636df?api-version=2020-04-01",
        "x-ms-ratelimit-remaining-subscription-reads": "11876"
      },
      "ResponseBody": [
        "{\r\n",
        "  \"nextHopType\": \"None\",\r\n",
        "  \"nextHopIpAddress\": \"10.0.1.2\",\r\n",
        "  \"routeTableId\": \"/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/azsmnet935/providers/Microsoft.Network/routeTables/azsmnet935RT\"\r\n",
        "}"
      ]
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/azsmnet935/providers/Microsoft.Network/routeTables/azsmnet935RT?api-version=2020-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\"b5461226-b901-4d9b-bf10-1c13b9ce430e\"",
        "x-ms-ratelimit-remaining-subscription-reads": "11869"
      },
      "ResponseBody": [
        "{\r\n",
        "  \"name\": \"azsmnet935RT\",\r\n",
        "  \"id\": \"/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/azsmnet935/providers/Microsoft.Network/routeTables/azsmnet935RT\",\r\n",
        "  \"etag\": \"W/\\\"b5461226-b901-4d9b-bf10-1c13b9ce430e\\\"\",\r\n",
        "  \"type\": \"Microsoft.Network/routeTables\",\r\n",
        "  \"location\": \"westus2\",\r\n",
        "  \"properties\": {\r\n",
        "    \"provisioningState\": \"Succeeded\",\r\n",
        "    \"resourceGuid\": \"1ff20c9f-783c-4aa8-8628-ac03357284b3\",\r\n",
        "    \"disableBgpRoutePropagation\": false,\r\n",
        "    \"routes\": [\r\n",
        "      {\r\n",
        "        \"name\": \"route1\",\r\n",
        "        \"id\": \"/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/azsmnet935/providers/Microsoft.Network/routeTables/azsmnet935RT/routes/route1\",\r\n",
        "        \"etag\": \"W/\\\"b5461226-b901-4d9b-bf10-1c13b9ce430e\\\"\",\r\n",
        "        \"properties\": {\r\n",
        "          \"provisioningState\": \"Succeeded\",\r\n",
        "          \"addressPrefix\": \"10.1.3.0/24\",\r\n",
        "          \"nextHopType\": \"VirtualAppliance\",\r\n",
        "          \"nextHopIpAddress\": \"10.0.1.2\",\r\n",
        "          \"hasBgpOverride\": false\r\n",
        "        },\r\n",
        "        \"type\": \"Microsoft.Network/routeTables/routes\"\r\n",
        "      }\r\n",
        "    ],\r\n",
        "    \"subnets\": [\r\n",
        "      {\r\n",
        "        \"id\": \"/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/azsmnet935/providers/Microsoft.Network/virtualNetworks/azsmnet935-vnet/subnets/default\"\r\n",
        "      }\r\n",
        "    ]\r\n",
        "  }\r\n",
        "}"
      ]
    }
  ],
  "Variables": {
    "RandomSeed": "2118975657",
    "SUBSCRIPTION_ID": "c9cbd920-c00c-427c-852b-8aaf38badaeb"
  }
}