{
  "Entries": [
    {
      "RequestUri": "/luis/api/v2.0/apps/3327b33c-35df-40d0-a661-c9ade29da239/versions/0.1/listprebuilts",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": [
          "62b834e0069943d9b035f32abd230359"
        ]
      },
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "[\r\n  {\r\n    \"name\": \"age\",\r\n    \"description\": \"Age of a person or thing\",\r\n    \"examples\": \"10-month-old, 19 years old, 58 year-old\"\r\n  },\r\n  {\r\n    \"name\": \"datetime\",\r\n    \"description\": \"Dates and times, resolved to a canonical form\",\r\n    \"examples\": \"June 23, 1976, Jul 11 2012, 7 AM, 6:49 PM, tomorrow at 7 AM\"\r\n  },\r\n  {\r\n    \"name\": \"datetimeV2\",\r\n    \"description\": \"Dates and times, resolved to a canonical form\",\r\n    \"examples\": \"June 23, 1976, Jul 11 2012, 7 AM, 6:49 PM, tomorrow at 7 AM\"\r\n  },\r\n  {\r\n    \"name\": \"dimensi[...]
