{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/bc675d74-3b9f-48da-866a-a10149531391?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11714"
      },
      "ResponseBody": {
        "id": "/subscriptions/bc675d74-3b9f-48da-866a-a10149531391",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "subscriptionId": "bc675d74-3b9f-48da-866a-a10149531391",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": "Azure Dedicated TahomaRP-INT",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/bc675d74-3b9f-48da-866a-a10149531391/resourcegroups/testRG-3941?api-version=2021-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {
          "test": "env"
        },
        "location": "australiaeast"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1193"
      },
      "ResponseBody": {
        "id": "/subscriptions/bc675d74-3b9f-48da-866a-a10149531391/resourceGroups/testRG-3941",
        "name": "testRG-3941",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "australiaeast",
        "tags": {
          "test": "env"
        },
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/bc675d74-3b9f-48da-866a-a10149531391/resourceGroups/testRG-3941/providers/Microsoft.StoragePool/diskPools/diskpool-5550?api-version=2021-08-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "sku": {
          "name": "Standard_S1"
        },
        "location": "australiaeast",
        "properties": {
          "availabilityZones": [
            "1"
          ],
          "subnetId": "/subscriptions/bc675d74-3b9f-48da-866a-a10149531391/resourceGroups/hakkaraj-rg/providers/Microsoft.Network/VirtualNetworks/diskpool-vnet-ae/subnets/default"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-Asyncoperation": "https://management.azure.com/subscriptions/bc675d74-3b9f-48da-866a-a10149531391/providers/Microsoft.StoragePool/locations/australiaeast/operationsStatus/99272895-e6cd-49cc-bb37-984eb6879b2f?api-version=2021-08-01",
        "Content-Type": "application/json; charset=UTF-8",
        "Location": "https://management.azure.com/subscriptions/bc675d74-3b9f-48da-866a-a10149531391/providers/Microsoft.StoragePool/locations/australiaeast/operationresults/99272895-e6cd-49cc-bb37-984eb6879b2f?api-version=2021-08-01",
        "Retry-After": "10",
        "X-Ms-Async-Operation-Timeout": "PT1H",
        "x-ms-ratelimit-remaining-subscription-writes": "1192"
      },
      "ResponseBody": {
        "id": "/subscriptions/bc675d74-3b9f-48da-866a-a10149531391/resourceGroups/testRG-3941/providers/Microsoft.StoragePool/diskPools/diskpool-5550",
        "name": "diskpool-5550",
        "type": "Microsoft.StoragePool/diskPools",
        "location": "australiaeast",
        "tags": {},
        "systemData": {
          "createdBy": "39880218-c3ae-48e3-a5bf-9217521da5ad",
          "createdByType": "Application",
          "createdAt": "2022-01-24T20:20:47.7722054Z",
          "lastModifiedBy": "39880218-c3ae-48e3-a5bf-9217521da5ad",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2022-01-24T20:20:47.7722054Z"
        },
        "properties": {
          "availabilityZones": [
            "1"
          ],
          "subnetId": "/subscriptions/bc675d74-3b9f-48da-866a-a10149531391/resourceGroups/hakkaraj-rg/providers/Microsoft.Network/VirtualNetworks/diskpool-vnet-ae/subnets/default",
          "provisioningState": "Pending",
          "status": "Unknown"
        },
        "sku": {
          "name": "Standard_S1",
          "tier": "Standard"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/bc675d74-3b9f-48da-866a-a10149531391/providers/Microsoft.StoragePool/locations/australiaeast/operationsStatus/99272895-e6cd-49cc-bb37-984eb6879b2f?api-version=2021-08-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=UTF-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11713"
      },
      "ResponseBody": {
        "id": "/subscriptions/bc675d74-3b9f-48da-866a-a10149531391/locations/australiaeast/operationStatus/99272895-e6cd-49cc-bb37-984eb6879b2f",
        "name": "99272895-e6cd-49cc-bb37-984eb6879b2f",
        "status": "Running",
        "startTime": "2022-01-24T20:20:50Z",
        "endTime": ""
      }
    },
[...]
