{
  "Entries": [
    {
      "RequestUri": "//subscriptions/f67cc918-f64f-4c3f-aa24-a855465f9d41/providers/Microsoft.Authorization/policyAssignments/checkRestrictSdkTest?api-version=2021-06-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"policyDefinitionId\": \"/providers/Microsoft.Authorization/policyDefinitions/7433c107-6db4-4ad1-b57a-a76dce0154a1\",\r\n    \"parameters\": {\r\n      \"effect\": {\r\n        \"value\": \"Deny\"\r\n      },\r\n      \"listOfAllowedSKUs\": {\r\n        \"value\": [\r\n          \"Standard_LRS\"\r\n        ]\r\n      }\r\n    }\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"policyDefinitionId\": \"/providers/Microsoft.Authorization/policyDefinitions/7433c107-6db4-4ad1-b57a-a76dce0154a1\",\r\n    \"scope\": \"/subscriptions/f67cc918-f64f-4c3f-aa24-a855465f9d41\",\r\n    \"parameters\": {\r\n      \"effect\": {\r\n        \"value\": \"Deny\"\r\n      },\r\n      \"listOfAllowedSKUs\": {\r\n        \"value\": [\r\n          \"Standard_LRS\"\r\n        ]\r\n      }\r\n    },\r\n    \"metadata\": {\r\n      \"createdBy\": \"7140c269-e408-47a5-a626-a1d836b96883\",\r\n      \"createdOn\": \"2021-11-11T23:11:08.5999351Z\",\r\n      \"updatedBy\": null,\r\n      \"updatedOn\": null\r\n    },\r\n    \"enforcementMode\": \"Default\"\r\n  },\r\n  \"id\": \"/subscriptions/f67cc918-f64f-4c3f-aa24-a855465f9d41/providers/Microsoft.Authorization/policyAssignments/checkRestrictSdkTest\",\r\n  \"type\": \"Microsoft.Authorization/policyAssignments\",\r\n  \"name\": \"checkRestrictSdkTest\",\r\n  \"systemData\": {\r\n    \"createdBy\": \"20f84e2b-2ca6-4035-a118-6105027fce93\",\r\n    \"createdByType\": \"Application\",\r\n    \"createdAt\": \"2021-11-11T23:11:08.4456295Z\",\r\n    \"lastModifiedBy\": \"20f84e2b-2ca6-4035-a118-6105027fce93\",\r\n    \"lastModifiedByType\": \"Application\",\r\n    \"lastModifiedAt\": \"2021-11-11T23:11:08.4456295Z\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/f67cc918-f64f-4c3f-aa24-a855465f9d41/providers/Microsoft.PolicyInsights/checkPolicyRestrictions?api-version=2020-07-01",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"resourceDetails\": {\r\n    \"resourceContent\": {\r\n      \"type\": \"Microsoft.Storage/storageAccounts\"\r\n    },\r\n    \"apiVersion\": \"2021-04-01\"\r\n  },\r\n  \"pendingFields\": [\r\n    {\r\n      \"field\": \"Microsoft.Storage/storageAccounts/sku.name\",\r\n      \"values\": [\r\n        \"Standard_ZRS\",\r\n        \"Premium_LRS\",\r\n        \"Standard_LRS\"\r\n      ]\r\n    }\r\n  ]\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-policy-insights-requests": [
          "149"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11998"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"fieldRestrictions\": [\r\n    {\r\n      \"field\": \"Microsoft.Storage/storageAccounts/sku.name\",\r\n      \"restrictions\": [\r\n        {\r\n          \"result\": \"Deny\",\r\n          \"values\": [\r\n            \"Standard_ZRS\",\r\n            \"Premium_LRS\"\r\n          ],\r\n          \"policy\": {\r\n            \"policyDefinitionId\": \"/providers/Microsoft.Authorization/policyDefinitions/7433c107-6db4-4ad1-b57a-a76dce0154a1\",\r\n            \"policyAssignmentId\": \"/subscriptions/f67cc918-f64f-4c3f-aa24-a855465f9d41/providers/Microsoft.Authorization/policyAssignments/checkRestrictSdkTest\"\r\n          }\r\n        }\r\n      ]\r\n    }\r\n  ],\r\n  \"contentEvaluationResult\": {\r\n    \"policyEvaluations\": []\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
