{
  "Entries": [
    {
      "RequestUri": "/30da001a-1a9e-48a1-8b77-e5abcfe38bdc/services/rdst15/collections?api-version=2014-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2014-08-01"
        ]
      },
      "ResponseBody": "[\r\n  {\r\n    \"AdInfo\": null,\r\n    \"BillingPlanName\": \"Standard\",\r\n    \"CustomRdpProperty\": null,\r\n    \"Description\": \"Created using AUX portal\",\r\n    \"DnsServers\": [],\r\n    \"LastErrorCode\": \"\",\r\n    \"LastModifiedTimeUtc\": \"2015-02-01T10:39:49.214Z\",\r\n    \"MaxSessions\": 10,\r\n    \"Mode\": 1,\r\n    \"Name\": \"simple\",\r\n    \"OfficeType\": 0,\r\n    \"ReadyForPublishing\": true,\r\n    \"Region\": \"West US\",\r\n    \"SessionWarningThreshold\": 8,\r\n    \"Status\": \"Active\",\r\n    \"SubnetName\": null,\r\n    \"TemplateImageName\": \"\",\r\n    \"TrialOnly\": false,\r\n    \"Type\": 1,\r\n    \"VnetName\": \"simplevnet-54e37997-fd0e-45f4-8d5b-182d84c9378c\",\r\n    \"WaitBeforeShutdownInMinutes\": 0\r\n  },\r\n  {\r\n    \"AdInfo\": {\r\n      \"DomainName\": \"rdvmohoro.nttest.microsoft.com\",\r\n      \"OrganizationalUnit\": null,\r\n      \"ServiceAccountPassword\": \"*******\",\r\n      \"ServiceAccountUserName\": \"TestUser@service.com\"\r\n    },\r\n    \"BillingPlanName\": \"Standard\",\r\n    \"CustomRdpProperty\": null,\r\n    \"Description\": \"BVTDesktop\",\r\n    \"DnsServers\": [],\r\n    \"LastErrorCode\": \"\",\r\n    \"LastModifiedTimeUtc\": \"2015-02-01T10:39:02.529Z\",\r\n    \"MaxSessions\": 10,\r\n    \"Mode\": 1,\r\n    \"Name\": \"testd112\",\r\n    \"OfficeType\": 0,\r\n    \"ReadyForPublishing\": true,\r\n    \"Region\": \"\",\r\n    \"SessionWarningThreshold\": 8,\r\n    \"Status\": \"Active\",\r\n    \"SubnetName\": null,\r\n    \"TemplateImageName\": \"bluerefresh.2014.08.21.vhd\",\r\n    \"TrialOnly\": false,\r\n    \"Type\": 0,\r\n    \"VnetName\": \"CloudVnet\",\r\n    \"WaitBeforeShutdownInMinutes\": 0\r\n  }\r\n]",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-servedbyregion": [
          "uswest"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/30da001a-1a9e-48a1-8b77-e5abcfe38bdc/services/rdst15/collections/simple/startMenuApps?api-version=2014-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2014-08-01"
        ]
      },
      "ResponseBody": "[\r\n  {\r\n    \"CommandLineArguments\": \"\",\r\n    \"IconPngUris\": [\r\n      {\r\n        \"Key\": 32,\r\n        \"Value\": \"https://cdvwu220542040rdcm.blob.core.windows.net/icons/077b9afa-cdcc-4cde-8b8f-ae2667c1b9df.png?sv=2012-02-12&se=2015-02-01T11%3A09%3A57Z&sr=b&sp=r&sig=fAxoPpEshwFZtG8i08lcnChB6vN6MveDmMXA%2FrdfRkE%3D\"\r\n      }\r\n    ],\r\n    \"IconUri\": \"https://cdvwu220542040rdcm.blob.core.windows.net/icons/2a6a0b07-b5a8-4400-a197-cfba16fd1770.ico?sv=2012-02-12&se=2015-02-01T11%3A09%3A57Z&sr=b&sp=r&sig=xUixLMTDJCy3Y92Z7JsGjaxS7YEcD4KOQ4hfCDJye0A%3D\",\r\n    \"Id\": \"4c2373c3-f952-41a3-b731-a88d9280fd55\",\r\n    \"Name\": \"Paint\",\r\n    \"VirtualPath\": \"%SYSTEMDRIVE%\\\\Windows\\\\System32\\\\mspaint.exe\"\r\n  },\r\n  {\r\n    \"CommandLineArguments\": \"\",\r\n    \"IconPngUris\": [\r\n      {\r\n        \"Key\": 32,\r\n        \"Value\": \"https://cdvwu220542040rdcm.blob.core.windows.net/icons/29906410-f4b7-4beb-ab51-0c1c40a82b7f.png?sv=2012-02-12&se=2015-02-01T11%3A09%3A57Z&sr=b&sp=r&sig=zbIJ1Xe07eTSMC8sNYg1EnLDl1Rzk5U%2F%2B4mWNsK6XAQ%3D\"\r\n      }\r\n    ],\r\n    \"IconUri\": \"https://cdvwu220542040rdcm.blob.core.windows.net/icons/b[...]
    {
      "RequestUri": "/30da001a-1a9e-48a1-8b77-e5abcfe38bdc/services/rdst15/collections/simple/startMenuApps/4c2373c3-f952-41a3-b731-a88d9280fd55?api-version=2014-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2014-08-01"
        ]
      },
      "ResponseBody": "{\r\n  \"CommandLineArguments\": \"\",\r\n  \"IconPngUris\": [\r\n    {\r\n      \"Key\": 32,\r\n      \"Value\": \"https://cdvwu220542040rdcm.blob.core.windows.net/icons/077b9afa-cdcc-4cde-8b8f-ae2667c1b9df.png?sv=2012-02-12&se=2015-02-01T11%3A09%3A59Z&sr=b&sp=r&sig=eyilsWvR6jx%2BEPsRhUixHcaYgMBXzXGQ4eOw0a%2Fyph8%3D\"\r\n    }\r\n  ],\r\n  \"IconUri\": \"https://cdvwu220542040rdcm.blob.core.windows.net/icons/2a6a0b07-b5a8-4400-a197-cfba16fd1770.ico?sv=2012-02-12&se=2015-02-01T11%3A09%3A59Z&sr=b&sp=r&sig=jw2sumxby0OW29qxOSH9C2z40tQpanS9ajr6y8PcBUQ%3D\",\r\n  \"Id\": \"4c2373c3-f952-41a3-b731-a88d9280fd55\",\r\n  \"Name\": \"Paint\",\r\n  \"VirtualPath\": \"%SYSTEMDRIVE%\\\\Windows\\\\System32\\\\mspaint.exe\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-servedbyregion": [
          "uswest"
        ]
      },
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "30da001a-1a9e-48a1-8b77-e5abcfe38bdc"
  }
}