{
  "Entries": [
    {
      "RequestUri": "/subscriptions/d3bbdcc6-c566-461d-adb1-f8963b79b30e/resourcegroups/csm-sql-rg-7709?api-version=2014-04-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"Japan East\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/d3bbdcc6-c566-461d-adb1-f8963b79b30e/resourceGroups/csm-sql-rg-7709\",\r\n  \"name\": \"csm-sql-rg-7709\",\r\n  \"location\": \"japaneast\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1184"
        ]
      },
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/d3bbdcc6-c566-461d-adb1-f8963b79b30e/resourceGroups/csm-sql-rg-7709/providers/Microsoft.Sql/servers/csm-sql-server-4607?api-version=2014-04-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"version\": \"12.0\",\r\n    \"administratorLogin\": \"testlogin\",\r\n    \"administratorLoginPassword\": \"testp@ssMakingIt1007Longer\"\r\n  },\r\n  \"location\": \"Japan East\",\r\n  \"tags\": {}\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"tags\": {},\r\n  \"id\": \"/subscriptions/d3bbdcc6-c566-461d-adb1-f8963b79b30e/resourceGroups/csm-sql-rg-7709/providers/Microsoft.Sql/servers/csm-sql-server-4607\",\r\n  \"name\": \"csm-sql-server-4607\",\r\n  \"type\": \"Microsoft.Sql/servers\",\r\n  \"location\": \"Japan East\",\r\n  \"kind\": \"v12.0\",\r\n  \"properties\": {\r\n    \"fullyQualifiedDomainName\": \"csm-sql-server-4607.sqltest-eg1.mscds.com\",\r\n    \"administratorLogin\": \"testlogin\",\r\n    \"administratorLoginPassword\": \"testp@ssMakingIt1007Longer\",\r\n    \"externalAdministratorLogin\": null,\r\n    \"externalAdministratorSid\": null,\r\n    \"version\": \"12.0\",\r\n    \"state\": \"Ready\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; odata=minimalmetadata; streaming=true; charset=utf-8"
        ],
        "Preference-Applied": [
          "return-content"
        ],
        "DataServiceVersion": [
          "3.0;"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1183"
        ]
      },
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/d3bbdcc6-c566-461d-adb1-f8963b79b30e/resourceGroups/csm-sql-rg-7709/providers/Microsoft.Sql/servers/csm-sql-server-4607/databases/AdventureWorks2012/serviceTierAdvisors?api-version=2014-04-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\"value\":[{\"id\":\"\/subscriptions\/ea841058-b4bc-4534-b5f0-f5eb5286de2f\/resourceGroups\/Default-SQL-NorthEurope\/providers\/Microsoft.Sql\/servers\/o590wp4otq\/databases\/AdventureWorks2012\/serviceTierAdvisors\/current\",\"name\":\"current\",\"type\":\"Microsoft.Sql\/servers\/databases\/serviceTierAdvisors\",\"properties\":{\"observationPeriodStart\":\"2015-04-20T00:00:00Z\",\"observationPeriodEnd\":\"2015-05-03T00:00:00Z\",\"activeTimeRatio\":0.039503205128205127,\"minDTU\":0.0,\"avgDTU\":0.015513621794871653,\"maxDTU\":45.525,\"maxSizeGb\":0.1357421875,\"serviceLevelObjectiveUsageMetrics\":[{\"serviceLevelObjective\":\"Basic\",\"serviceLevelObjectiveId\":\"dd6d99bb-f193-4ec1-86f2-43d3bccbc49c\",\"inRangeTimeRatio\":0.99628127112914133},{\"serviceLevelObjective\":\"S0\",\"serviceLevelObjectiveId\":\"f1173c43-91bd-4aaa-973c-54e79e15235b\",\"inRangeTimeRatio\":0.0020283975659228792},{\"serviceLevelObjective\":\"S1\",\"serviceLevelObjectiveId\":\"1b1ebd4d-d903-4baa-97f9-4ea675f5e928\",\"inRangeTimeRatio\":0.0010141987829614951},{\"serviceLevelObjective\":\"S3\",\"serviceLevelObjectiveId\":\"789681b8-ca10-4eb0-bdf2-e0b050601b40\",\"inRangeTimeRatio\":0.00067613252197429308}],\"currentServiceLevelObjective\":\"Web\",\"currentServiceLevelObjectiveId\":\"00000000-0000-0000-0000-000000000000\",\"usageBasedRecommendationServiceLevelObjective\":\"Basic\",\"usageBasedRecommendationServiceLevelObjectiveId\":\"dd6d99bb-f193-4ec1-86f2-43d3bccbc49c\",\"databaseSizeBasedRecommendationServiceLevelObjective\":\"Basic\",\"databaseSizeBasedRecommendationServiceLevelObjectiveId\":\"dd6d99bb-f193-4ec1-86f2-43d3bccbc49c\",\"disasterPlanBasedRecommendationServiceLevelObjective\":\"Basic\",\"disasterPlanBasedRecommendationServiceLevelObjectiveId\":\"dd6d99bb-f193-4ec1-86f2-43d3bccbc49c\",\"overallRecommendationServiceLevelObjective\":\"Basic\",\"overallRecommendationServiceLevelObjectiveId\":\"dd6d99bb-f193-4ec1-86f2-43d3bccbc49c\",\"confidence\":1.0}}]}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-failure-cause": [
          "gateway"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/d3bbdcc6-c566-461d-adb1-f8963b79b30e/resourcegroups/csm-sql-rg-7709?api-version=2014-04-01-preview",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "Retry-After": [
          "15"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1182"
        ],
        "Location": [
          "https://api-current.resources.windows-int.net/subscriptions/d3bbdcc6-c566-461d-adb1-f8963b79b30e/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1DU006MkRTUUw6MkRSRzoyRDc3MDktSkFQQU5FQVNUIiwiam9iTG9jYXRpb24iOiJqYXBhbmVhc3QifQ?api-version=2014-04-01-preview"
        ]
      },
      "StatusCode": 202
    },
    {
      "RequestUri": "/subscriptions/d3bbdcc6-c566-461d-adb1-f8963b79b30e/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1DU006MkRTUUw6MkRSRzoyRDc3MDktSkFQQU5FQVNUIiwiam9iTG9jYXRpb24iOiJqYXBhbmVhc3QifQ?api-version=2014-04-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2014-04-01-preview"
        ]
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "Retry-After": [
          "15"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "31962"
        ],
        "Location": [
          "https://api-current.resources.windows-int.net/subscriptions/d3bbdcc6-c566-461d-adb1-f8963b79b30e/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1DU006MkRTUUw6MkRSRzoyRDc3MDktSkFQQU5FQVNUIiwiam9iTG9jYXRpb24iOiJqYXBhbmVhc3QifQ?api-version=2014-04-01-preview"
        ]
      },
      "StatusCode": 202
    },
[...]
    {
      "RequestUri": "/subscriptions/d3bbdcc6-c566-461d-adb1-f8963b79b30e/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1DU006MkRTUUw6MkRSRzoyRDc3MDktSkFQQU5FQVNUIiwiam9iTG9jYXRpb24iOiJqYXBhbmVhc3QifQ?api-version=2014-04-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2014-04-01-preview"
        ]
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "31952"
        ]
      },
      "StatusCode": 200
    }
  ],
  "Names": {
    "RunServerTestInEnvironment": [
      "csm-sql-server-4607",
      "csm-sql-rg-7709"
    ]
  },
  "Variables": {
    "SubscriptionId": "d3bbdcc6-c566-461d-adb1-f8963b79b30e"
  }
}