{
  "Entries": [
    {
      "RequestUri": "/luis/api/v2.0/apps/",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"culture\": \"en-us\",\r\n  \"domain\": \"Comics\",\r\n  \"description\": \"New LUIS App\",\r\n  \"usageScenario\": \"IoT\",\r\n  \"name\": \"Examples Test App\"\r\n}",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": [
          "00000000000000000000000000000000"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Location": [
          "https://westus.api.cognitive.microsoft.com/luis/api/v2.0/apps/c8f4b9cf-7722-4a01-a7a2-05c1cb7c31d9"
        ],
        "Operation-Location": [
          "https://westus.api.cognitive.microsoft.com/luis/api/v2.0/apps/c8f4b9cf-7722-4a01-a7a2-05c1cb7c31d9"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "\"c8f4b9cf-7722-4a01-a7a2-05c1cb7c31d9\"",
      "StatusCode": 201
    },
    {
      "RequestUri": "/luis/api/v2.0/apps/c8f4b9cf-7722-4a01-a7a2-05c1cb7c31d9/versions/0.1/intents",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"name\": \"WeatherInPlace\"\r\n}",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": [
          "00000000000000000000000000000000"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Location": [
          "https://westus.api.cognitive.microsoft.com/luis/api/v2.0/apps/c8f4b9cf-7722-4a01-a7a2-05c1cb7c31d9/versions/0.1/intents/f5750d7e-b596-4feb-a32e-7a233f29f6ba"
        ],
        "Operation-Location": [
          "https://westus.api.cognitive.microsoft.com/luis/api/v2.0/apps/c8f4b9cf-7722-4a01-a7a2-05c1cb7c31d9/versions/0.1/intents/f5750d7e-b596-4feb-a32e-7a233f29f6ba"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "\"f5750d7e-b596-4feb-a32e-7a233f29f6ba\"",
      "StatusCode": 201
    },
    {
      "RequestUri": "/luis/api/v2.0/apps/c8f4b9cf-7722-4a01-a7a2-05c1cb7c31d9/versions/0.1/entities",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"name\": \"Place\"\r\n}",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": [
          "00000000000000000000000000000000"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Location": [
          "https://westus.api.cognitive.microsoft.com/luis/api/v2.0/apps/c8f4b9cf-7722-4a01-a7a2-05c1cb7c31d9/versions/0.1/entities/cd3b8731-c69e-4874-aa76-af0ddfb87331"
        ],
        "Operation-Location": [
          "https://westus.api.cognitive.microsoft.com/luis/api/v2.0/apps/c8f4b9cf-7722-4a01-a7a2-05c1cb7c31d9/versions/0.1/entities/cd3b8731-c69e-4874-aa76-af0ddfb87331"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "\"cd3b8731-c69e-4874-aa76-af0ddfb87331\"",
      "StatusCode": 201
    },
    {
      "RequestUri": "/luis/api/v2.0/apps/c8f4b9cf-7722-4a01-a7a2-05c1cb7c31d9/versions/0.1/examples",
      "RequestMethod": "POST",
      "RequestBody": "[\r\n  {\r\n    \"text\": \"whats the weather in seattle?\",\r\n    \"entityLabels\": [\r\n      {\r\n        \"entityName\": \"Place\",\r\n        \"startCharIndex\": 21,\r\n        \"endCharIndex\": 29\r\n      }\r\n    ],\r\n    \"intentName\": \"WeatherInPlace\"\r\n  },\r\n  {\r\n    \"text\": \"whats the weather in buenos aires?\",\r\n    \"entityLabels\": [\r\n      {\r\n        \"entityName\": \"Place\",\r\n        \"startCharIndex\": 21,\r\n        \"endCharIndex\": 34\r\n      }\r\n    ],\r\n    \"intentName\": \"WeatherInPlace\"\r\n  }\r\n]",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": [
          "00000000000000000000000000000000"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "[\r\n  {\r\n    \"value\": {\r\n      \"ExampleId\": 239854452,\r\n      \"UtteranceText\": \"whats the weather in seattle?\"\r\n    },\r\n    \"hasError\": false\r\n  },\r\n  {\r\n    \"value\": {\r\n      \"ExampleId\": 239854453,\r\n      \"UtteranceText\": \"whats the weather in buenos aires?\"\r\n    },\r\n    \"hasError\": false\r\n  }\r\n]",
      "StatusCode": 201
    },
    {
      "RequestUri": "/luis/api/v2.0/apps/c8f4b9cf-7722-4a01-a7a2-05c1cb7c31d9?force=false",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": [
          "00000000000000000000000000000000"
        ]
      },
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"code\": \"Success\",\r\n  \"message\": \"Operation Successful\"\r\n}",
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {}
}