{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/f9b96b36-1f5e-4021-8959-51527e26e6d3?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11973"
      },
      "ResponseBody": {
        "id": "/subscriptions/f9b96b36-1f5e-4021-8959-51527e26e6d3",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {},
        "subscriptionId": "f9b96b36-1f5e-4021-8959-51527e26e6d3",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": "CS-Platform-Dev-01",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/f9b96b36-1f5e-4021-8959-51527e26e6d3/resourcegroups/testRG-9434?api-version=**",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {
          "test": "env"
        },
        "location": "centralus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1187"
      },
      "ResponseBody": {
        "id": "/subscriptions/f9b96b36-1f5e-4021-8959-51527e26e6d3/resourceGroups/testRG-9434",
        "name": "testRG-9434",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "centralus",
        "tags": {
          "test": "env"
        },
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/f9b96b36-1f5e-4021-8959-51527e26e6d3/resourceGroups/testRG-9434/providers/Microsoft.CognitiveServices/accounts/testAccount-2709?api-version=2023-05-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kind": "TextAnalytics",
        "sku": {
          "name": "S"
        },
        "properties": {},
        "tags": {},
        "location": "centralus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "azure-asyncoperation": "https://management.azure.com/subscriptions/f9b96b36-1f5e-4021-8959-51527e26e6d3/providers/Microsoft.CognitiveServices/locations/centralus/operationResults/38e199d3-0c2a-4236-8e64-f52a1c3f6c1d?api-version=2017-04-18",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022bc03786d-0000-0300-0000-648a97f30000\u0022",
        "x-ms-ratelimit-remaining-subscription-writes": "1186"
      },
      "ResponseBody": {
        "id": "/subscriptions/f9b96b36-1f5e-4021-8959-51527e26e6d3/resourceGroups/testRG-9434/providers/Microsoft.CognitiveServices/accounts/testAccount-2709",
        "name": "testAccount-2709",
        "type": "Microsoft.CognitiveServices/accounts",
        "etag": "\u0022bc03786d-0000-0300-0000-648a97f30000\u0022",
        "location": "centralus",
        "sku": {
          "name": "S"
        },
        "kind": "TextAnalytics",
        "tags": {},
        "properties": {
          "endpoint": "https://centralus.api.cognitive.microsoft.com/",
          "internalId": "f9434dce3f8341e2bcc1dd6ef9edf285",
          "dateCreated": "2023-06-15T04:47:47.705932Z",
          "apiProperties": {
            "qnaAzureSearchEndpointKey": null
          },
          "callRateLimit": {
            "rules": [
              {
                "key": "workflow.endpoint.postcalls",
                "renewalPeriod": 60,
                "count": 1000,
                "matchPatterns": [
                  {
                    "path": "language/:analyze-conversations",
                    "method": "*"
                  }
                ]
              },
              {
                "key": "textAnalytics.conversations.jobs.getcalls",
                "renewalPeriod": 60,
                "count": 1000,
                "matchPatterns": [
                  {
                    "path": "language/analyze-conversations/jobs/*",
                    "method": "GET"
                  }
                ]
              },
              {
                "key": "textAnalytics.conversations.jobs.[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/f9b96b36-1f5e-4021-8959-51527e26e6d3/providers/Microsoft.CognitiveServices/locations/centralus/operationResults/38e199d3-0c2a-4236-8e64-f52a1c3f6c1d?api-version=2023-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11972"
      },
      "ResponseBody": {
        "id": "/subscriptions/f9b96b36-1f5e-4021-8959-51527e26e6d3/providers/Microsoft.CognitiveServices/locations/centralus/operationResults/38e199d3-0c2a-4236-8e64-f52a1c3f6c1d",
        "name": "38e199d3-0c2a-4236-8e64-f52a1c3f6c1d",
        "status": "Creating",
        "startTime": "2023-06-15T04:47:47Z"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/f9b96b36-1f5e-4021-8959-51527e26e6d3/providers/Microsoft.CognitiveServices/locations/centralus/operationResults/38e199d3-0c2a-4236-8e64-f52a1c3f6c1d?api-version=2023-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11965"
      },
      "ResponseBody": {
        "id": "/subscriptions/f9b96b36-1f5e-4021-8959-51527e26e6d3/providers/Microsoft.CognitiveServices/locations/centralus/operationResults/38e199d3-0c2a-4236-8e64-f52a1c3f6c1d",
        "name": "38e199d3-0c2a-4236-8e64-f52a1c3f6c1d",
        "status": "Succeeded",
        "startTime": "2023-06-15T04:47:47Z",
        "endTime": "2023-06-15T04:48:19Z"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/f9b96b36-1f5e-4021-8959-51527e26e6d3/resourceGroups/testRG-9434/providers/Microsoft.CognitiveServices/accounts/testAccount-2709/commitmentPlans/CommitmentPlan-9903?api-version=2023-05-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "hostingModel": "Web",
          "planType": "TA",
          "current": {
            "tier": "T1"
          },
          "autoRenew": false
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00223e18a612-e01c-4c4f-a4ab-ff38e22aa3d9\u0022",
        "x-ms-ratelimit-remaining-subscription-writes": "1185"
      },
      "ResponseBody": {
        "id": "/subscriptions/f9b96b36-1f5e-4021-8959-51527e26e6d3/resourceGroups/testRG-9434/providers/Microsoft.CognitiveServices/accounts/testAccount-2709/commitmentplans/CommitmentPlan-9903",
        "type": "Microsoft.CognitiveServices/accounts/commitmentplans",
        "name": "CommitmentPlan-9903",
        "properties": {
          "hostingModel": "Web",
          "planType": "TA",
          "current": {
            "tier": "T1",
            "startDate": "2023-06-15T00:00:00Z",
            "endDate": "2023-07-01T00:00:00Z",
            "quota": {
              "quantity": 533333,
              "unit": "Transaction"
            }
          },
          "autoRenew": false
        },
        "systemData": {
          "createdBy": "50841d5f-166a-406c-8472-6800c9698b43",
          "createdByType": "Application",
          "createdAt": "2023-06-15T04:48:22.3017373Z",
          "lastModifiedBy": "50841d5f-166a-406c-8472-6800c9698b43",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2023-06-15T04:48:22.3017373Z"
        },
        "etag": "\u00223e18a612-e01c-4c4f-a4ab-ff38e22aa3d9\u0022"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/f9b96b36-1f5e-4021-8959-51527e26e6d3/resourceGroups/testRG-9434/providers/Microsoft.CognitiveServices/accounts/testAccount-2709/commitmentPlans?api-version=2023-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11962"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/f9b96b36-1f5e-4021-8959-51527e26e6d3/resourceGroups/testRG-9434/providers/Microsoft.CognitiveServices/accounts/testAccount-2709/commitmentplans/CommitmentPlan-9903",
            "type": "Microsoft.CognitiveServices/accounts/commitmentplans",
            "name": "CommitmentPlan-9903",
            "properties": {
              "hostingModel": "Web",
              "planType": "TA",
              "current": {
                "tier": "T1",
                "startDate": "2023-06-15T00:00:00Z",
                "endDate": "2023-07-01T00:00:00Z",
                "quota": {
                  "quantity": 533333,
                  "unit": "Transaction"
                }
              },
              "autoRenew": false
            },
            "systemData": {
              "createdBy": "50841d5f-166a-406c-8472-6800c9698b43",
              "createdByType": "Application",
              "createdAt": "2023-06-15T04:48:22.3017373Z",
              "lastModifiedBy": "50841d5f-166a-406c-8472-6800c9698b43",
              "lastModifiedByType": "Application",
              "lastModifiedAt": "2023-06-15T04:48:23.0830274Z"
            },
            "etag": "\u0022cc41565d-0c99-4d78-88f6-d4c8c1c719b3\u0022"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/f9b96b36-1f5e-4021-8959-51527e26e6d3/resourceGroups/testRG-9434/providers/Microsoft.CognitiveServices/accounts/testAccount-2709/commitmentPlans/CommitmentPlan-99031?api-version=2023-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11960"
      },
      "ResponseBody": {
        "error": {
          "code": "NotFound",
          "message": "Specified resource \u0027/subscriptions/f9b96b36-1f5e-4021-8959-51527e26e6d3/resourceGroups/testRG-9434/providers/Microsoft.CognitiveServices/accounts/testAccount-2709/commitmentplans/CommitmentPlan-99031\u0027 cannot be found."
        }
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": null,
    "RandomSeed": "58211248",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "f9b96b36-1f5e-4021-8959-51527e26e6d3"
  }
}
