{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/f9b96b36-1f5e-4021-8959-51527e26e6d3?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11959"
      },
      "ResponseBody": {
        "id": "/subscriptions/f9b96b36-1f5e-4021-8959-51527e26e6d3",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {},
        "subscriptionId": "f9b96b36-1f5e-4021-8959-51527e26e6d3",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": "CS-Platform-Dev-01",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/f9b96b36-1f5e-4021-8959-51527e26e6d3/resourcegroups/testRG-4099?api-version=2021-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {
          "test": "env"
        },
        "location": "centralus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1182"
      },
      "ResponseBody": {
        "id": "/subscriptions/f9b96b36-1f5e-4021-8959-51527e26e6d3/resourceGroups/testRG-4099",
        "name": "testRG-4099",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "centralus",
        "tags": {
          "test": "env"
        },
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/f9b96b36-1f5e-4021-8959-51527e26e6d3/resourceGroups/testRG-4099/providers/Microsoft.CognitiveServices/accounts/testAccount-1329?api-version=2022-10-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kind": "TextAnalytics",
        "sku": {
          "name": "S"
        },
        "properties": {},
        "tags": {},
        "location": "centralus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "azure-asyncoperation": "https://management.azure.com/subscriptions/f9b96b36-1f5e-4021-8959-51527e26e6d3/providers/Microsoft.CognitiveServices/locations/centralus/operationResults/0d2e9510-2ca6-4e6b-9a70-2163bf2f68e1?api-version=2017-04-18",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00223900fdc6-0000-0300-0000-6337eced0000\u0022",
        "x-ms-ratelimit-remaining-subscription-writes": "1181"
      },
      "ResponseBody": {
        "id": "/subscriptions/f9b96b36-1f5e-4021-8959-51527e26e6d3/resourceGroups/testRG-4099/providers/Microsoft.CognitiveServices/accounts/testAccount-1329",
        "name": "testAccount-1329",
        "type": "Microsoft.CognitiveServices/accounts",
        "etag": "\u00223900fdc6-0000-0300-0000-6337eced0000\u0022",
        "location": "centralus",
        "sku": {
          "name": "S"
        },
        "kind": "TextAnalytics",
        "tags": {},
        "properties": {
          "endpoint": "https://centralus.api.cognitive.microsoft.com/",
          "internalId": "7152709d47854b789c3150e9590b5358",
          "dateCreated": "2022-10-01T07:31:57.0771455Z",
          "apiProperties": {
            "qnaAzureSearchEndpointKey": null
          },
          "callRateLimit": {
            "rules": [
              {
                "key": "workflow.endpoint.postcalls",
                "renewalPeriod": 60,
                "count": 1000,
                "dynamicThrottlingEnabled": false,
                "matchPatterns": [
                  {
                    "path": "language/:analyze-conversations",
                    "method": "*"
                  }
                ]
              },
              {
                "key": "textAnalytics.conversations.jobs.getcalls",
                "renewalPeriod": 60,
                "count": 1000,
                "dynamicThrottlingEnabled": false,
                "matchPatterns": [
                  {
                    "path": "language/analyze-conversations/jobs/*",
                    "method": "*"
                  }
                ]
              },
              {
        [...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/f9b96b36-1f5e-4021-8959-51527e26e6d3/providers/Microsoft.CognitiveServices/locations/centralus/operationResults/0d2e9510-2ca6-4e6b-9a70-2163bf2f68e1?api-version=2022-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11958"
      },
      "ResponseBody": {
        "id": "/subscriptions/f9b96b36-1f5e-4021-8959-51527e26e6d3/providers/Microsoft.CognitiveServices/locations/centralus/operationResults/0d2e9510-2ca6-4e6b-9a70-2163bf2f68e1",
        "name": "0d2e9510-2ca6-4e6b-9a70-2163bf2f68e1",
        "status": "Creating",
        "startTime": "2022-10-01T07:31:57Z"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/f9b96b36-1f5e-4021-8959-51527e26e6d3/providers/Microsoft.CognitiveServices/locations/centralus/operationResults/0d2e9510-2ca6-4e6b-9a70-2163bf2f68e1?api-version=2022-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11951"
      },
      "ResponseBody": {
        "id": "/subscriptions/f9b96b36-1f5e-4021-8959-51527e26e6d3/providers/Microsoft.CognitiveServices/locations/centralus/operationResults/0d2e9510-2ca6-4e6b-9a70-2163bf2f68e1",
        "name": "0d2e9510-2ca6-4e6b-9a70-2163bf2f68e1",
        "status": "Succeeded",
        "startTime": "2022-10-01T07:31:57Z",
        "endTime": "2022-10-01T07:32:29Z"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/f9b96b36-1f5e-4021-8959-51527e26e6d3/resourceGroups/testRG-4099/providers/Microsoft.CognitiveServices/accounts/testAccount-1329/commitmentPlans/CommitmentPlan-2340?api-version=2022-10-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "hostingModel": "Web",
          "planType": "TA",
          "current": {
            "tier": "T1"
          },
          "autoRenew": false
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00224a6ecdde-7651-4a90-bb70-f58986e03eba\u0022",
        "x-ms-ratelimit-remaining-subscription-writes": "1180"
      },
      "ResponseBody": {
        "id": "/subscriptions/f9b96b36-1f5e-4021-8959-51527e26e6d3/resourceGroups/testRG-4099/providers/Microsoft.CognitiveServices/accounts/testAccount-1329/commitmentplans/CommitmentPlan-2340",
        "type": "Microsoft.CognitiveServices/accounts/commitmentplans",
        "name": "CommitmentPlan-2340",
        "properties": {
          "hostingModel": "Web",
          "planType": "TA",
          "current": {
            "tier": "T1",
            "startDate": "2022-10-01T00:00:00Z",
            "endDate": "2022-11-01T00:00:00Z",
            "quota": {
              "quantity": 1000000,
              "unit": "Transaction"
            }
          },
          "autoRenew": false
        },
        "systemData": {
          "createdBy": "50841d5f-166a-406c-8472-6800c9698b43",
          "createdByType": "Application",
          "createdAt": "2022-10-01T07:32:31.5103386Z",
          "lastModifiedBy": "50841d5f-166a-406c-8472-6800c9698b43",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2022-10-01T07:32:31.5103386Z"
        },
        "etag": "\u00224a6ecdde-7651-4a90-bb70-f58986e03eba\u0022"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/f9b96b36-1f5e-4021-8959-51527e26e6d3/resourceGroups/testRG-4099/providers/Microsoft.CognitiveServices/accounts/testAccount-1329/commitmentPlans?api-version=2022-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11948"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/f9b96b36-1f5e-4021-8959-51527e26e6d3/resourceGroups/testRG-4099/providers/Microsoft.CognitiveServices/accounts/testAccount-1329/commitmentplans/CommitmentPlan-2340",
            "type": "Microsoft.CognitiveServices/accounts/commitmentplans",
            "name": "CommitmentPlan-2340",
            "properties": {
              "hostingModel": "Web",
              "planType": "TA",
              "current": {
                "tier": "T1",
                "startDate": "2022-10-01T00:00:00Z",
                "endDate": "2022-11-01T00:00:00Z",
                "quota": {
                  "quantity": 1000000,
                  "unit": "Transaction"
                }
              },
              "autoRenew": false
            },
            "systemData": {
              "createdBy": "50841d5f-166a-406c-8472-6800c9698b43",
              "createdByType": "Application",
              "createdAt": "2022-10-01T07:32:31.5103386Z",
              "lastModifiedBy": "50841d5f-166a-406c-8472-6800c9698b43",
              "lastModifiedByType": "Application",
              "lastModifiedAt": "2022-10-01T07:32:32.0826805Z"
            },
            "etag": "\u00224680b3de-a7ef-47f4-ade5-5147dbfb9719\u0022"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/f9b96b36-1f5e-4021-8959-51527e26e6d3/resourceGroups/testRG-4099/providers/Microsoft.CognitiveServices/accounts/testAccount-1329/commitmentPlans/CommitmentPlan-23401?api-version=2022-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11946"
      },
      "ResponseBody": {
        "error": {
          "code": "NotFound",
          "message": "Specified resource \u0027/subscriptions/f9b96b36-1f5e-4021-8959-51527e26e6d3/resourceGroups/testRG-4099/providers/Microsoft.CognitiveServices/accounts/testAccount-1329/commitmentplans/CommitmentPlan-23401\u0027 cannot be found."
        }
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": null,
    "RandomSeed": "732909580",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "f9b96b36-1f5e-4021-8959-51527e26e6d3"
  }
}
