{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/f9b96b36-1f5e-4021-8959-51527e26e6d3?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11959"
      },
      "ResponseBody": {
        "id": "/subscriptions/f9b96b36-1f5e-4021-8959-51527e26e6d3",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {},
        "subscriptionId": "f9b96b36-1f5e-4021-8959-51527e26e6d3",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": "CS-Platform-Dev-01",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/f9b96b36-1f5e-4021-8959-51527e26e6d3/resourcegroups/testRG-6181?api-version=**",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {
          "test": "env"
        },
        "location": "centralus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1182"
      },
      "ResponseBody": {
        "id": "/subscriptions/f9b96b36-1f5e-4021-8959-51527e26e6d3/resourceGroups/testRG-6181",
        "name": "testRG-6181",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "centralus",
        "tags": {
          "test": "env"
        },
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/f9b96b36-1f5e-4021-8959-51527e26e6d3/resourceGroups/testRG-6181/providers/Microsoft.CognitiveServices/accounts/testAccount-1036?api-version=2023-05-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kind": "TextAnalytics",
        "sku": {
          "name": "S"
        },
        "properties": {},
        "tags": {},
        "location": "centralus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "azure-asyncoperation": "https://management.azure.com/subscriptions/f9b96b36-1f5e-4021-8959-51527e26e6d3/providers/Microsoft.CognitiveServices/locations/centralus/operationResults/8c921513-66cf-4dd4-9296-b5335b0b2ded?api-version=2017-04-18",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022bc039179-0000-0300-0000-648a98190000\u0022",
        "x-ms-ratelimit-remaining-subscription-writes": "1181"
      },
      "ResponseBody": {
        "id": "/subscriptions/f9b96b36-1f5e-4021-8959-51527e26e6d3/resourceGroups/testRG-6181/providers/Microsoft.CognitiveServices/accounts/testAccount-1036",
        "name": "testAccount-1036",
        "type": "Microsoft.CognitiveServices/accounts",
        "etag": "\u0022bc039179-0000-0300-0000-648a98190000\u0022",
        "location": "centralus",
        "sku": {
          "name": "S"
        },
        "kind": "TextAnalytics",
        "tags": {},
        "properties": {
          "endpoint": "https://centralus.api.cognitive.microsoft.com/",
          "internalId": "bfde0f3d3d1b401e8c8b98490978eb4d",
          "dateCreated": "2023-06-15T04:48:25.7197075Z",
          "apiProperties": {
            "qnaAzureSearchEndpointKey": null
          },
          "callRateLimit": {
            "rules": [
              {
                "key": "workflow.endpoint.postcalls",
                "renewalPeriod": 60,
                "count": 1000,
                "matchPatterns": [
                  {
                    "path": "language/:analyze-conversations",
                    "method": "*"
                  }
                ]
              },
              {
                "key": "textAnalytics.conversations.jobs.getcalls",
                "renewalPeriod": 60,
                "count": 1000,
                "matchPatterns": [
                  {
                    "path": "language/analyze-conversations/jobs/*",
                    "method": "GET"
                  }
                ]
              },
              {
                "key": "textAnalytics.conversations.jobs.[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/f9b96b36-1f5e-4021-8959-51527e26e6d3/providers/Microsoft.CognitiveServices/locations/centralus/operationResults/8c921513-66cf-4dd4-9296-b5335b0b2ded?api-version=2023-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11958"
      },
      "ResponseBody": {
        "id": "/subscriptions/f9b96b36-1f5e-4021-8959-51527e26e6d3/providers/Microsoft.CognitiveServices/locations/centralus/operationResults/8c921513-66cf-4dd4-9296-b5335b0b2ded",
        "name": "8c921513-66cf-4dd4-9296-b5335b0b2ded",
        "status": "Creating",
        "startTime": "2023-06-15T04:48:25Z"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/f9b96b36-1f5e-4021-8959-51527e26e6d3/providers/Microsoft.CognitiveServices/locations/centralus/operationResults/8c921513-66cf-4dd4-9296-b5335b0b2ded?api-version=2023-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11951"
      },
      "ResponseBody": {
        "id": "/subscriptions/f9b96b36-1f5e-4021-8959-51527e26e6d3/providers/Microsoft.CognitiveServices/locations/centralus/operationResults/8c921513-66cf-4dd4-9296-b5335b0b2ded",
        "name": "8c921513-66cf-4dd4-9296-b5335b0b2ded",
        "status": "Succeeded",
        "startTime": "2023-06-15T04:48:25Z",
        "endTime": "2023-06-15T04:48:57Z"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/f9b96b36-1f5e-4021-8959-51527e26e6d3/resourceGroups/testRG-6181/providers/Microsoft.CognitiveServices/accounts/testAccount-1036/commitmentPlans/CommitmentPlan-1736?api-version=2023-05-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "hostingModel": "Web",
          "planType": "TA",
          "current": {
            "tier": "T1"
          },
          "autoRenew": false
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022d3362409-4633-4e29-bd0e-fec68b5863a6\u0022",
        "x-ms-ratelimit-remaining-subscription-writes": "1180"
      },
      "ResponseBody": {
        "id": "/subscriptions/f9b96b36-1f5e-4021-8959-51527e26e6d3/resourceGroups/testRG-6181/providers/Microsoft.CognitiveServices/accounts/testAccount-1036/commitmentplans/CommitmentPlan-1736",
        "type": "Microsoft.CognitiveServices/accounts/commitmentplans",
        "name": "CommitmentPlan-1736",
        "properties": {
          "hostingModel": "Web",
          "planType": "TA",
          "current": {
            "tier": "T1",
            "startDate": "2023-06-15T00:00:00Z",
            "endDate": "2023-07-01T00:00:00Z",
            "quota": {
              "quantity": 533333,
              "unit": "Transaction"
            }
          },
          "autoRenew": false
        },
        "systemData": {
          "createdBy": "50841d5f-166a-406c-8472-6800c9698b43",
          "createdByType": "Application",
          "createdAt": "2023-06-15T04:49:00.2238865Z",
          "lastModifiedBy": "50841d5f-166a-406c-8472-6800c9698b43",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2023-06-15T04:49:00.2238865Z"
        },
        "etag": "\u0022d3362409-4633-4e29-bd0e-fec68b5863a6\u0022"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/f9b96b36-1f5e-4021-8959-51527e26e6d3/resourceGroups/testRG-6181/providers/Microsoft.CognitiveServices/accounts/testAccount-1036/commitmentPlans?api-version=2023-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11948"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/f9b96b36-1f5e-4021-8959-51527e26e6d3/resourceGroups/testRG-6181/providers/Microsoft.CognitiveServices/accounts/testAccount-1036/commitmentplans/CommitmentPlan-1736",
            "type": "Microsoft.CognitiveServices/accounts/commitmentplans",
            "name": "CommitmentPlan-1736",
            "properties": {
              "hostingModel": "Web",
              "planType": "TA",
              "current": {
                "tier": "T1",
                "startDate": "2023-06-15T00:00:00Z",
                "endDate": "2023-07-01T00:00:00Z",
                "quota": {
                  "quantity": 533333,
                  "unit": "Transaction"
                }
              },
              "autoRenew": false
            },
            "systemData": {
              "createdBy": "50841d5f-166a-406c-8472-6800c9698b43",
              "createdByType": "Application",
              "createdAt": "2023-06-15T04:49:00.2238865Z",
              "lastModifiedBy": "50841d5f-166a-406c-8472-6800c9698b43",
              "lastModifiedByType": "Application",
              "lastModifiedAt": "2023-06-15T04:49:00.7394479Z"
            },
            "etag": "\u00220ad0ff40-0ce5-40ce-b9d0-a88d863f401f\u0022"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/f9b96b36-1f5e-4021-8959-51527e26e6d3/resourceGroups/testRG-6181/providers/Microsoft.CognitiveServices/accounts/testAccount-1036/commitmentPlans/CommitmentPlan-17361?api-version=2023-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11946"
      },
      "ResponseBody": {
        "error": {
          "code": "NotFound",
          "message": "Specified resource \u0027/subscriptions/f9b96b36-1f5e-4021-8959-51527e26e6d3/resourceGroups/testRG-6181/providers/Microsoft.CognitiveServices/accounts/testAccount-1036/commitmentplans/CommitmentPlan-17361\u0027 cannot be found."
        }
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": null,
    "RandomSeed": "1595656969",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "f9b96b36-1f5e-4021-8959-51527e26e6d3"
  }
}
