{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c?api-version=2019-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "tagKey1": "tagValue1",
          "tagKey2": "tagValue2"
        },
        "subscriptionId": "db1ab6f0-4769-4b27-930e-01e2ef9c123c",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": ".NET Mgmt SDK Test with TTL = 1 Day",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourcegroups/testRG-9720?api-version=2019-10-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus",
        "tags": {
          "test": "env"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-9720",
        "name": "testRG-9720",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus",
        "tags": {
          "test": "env"
        },
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-9720/providers/Microsoft.Web/serverfarms/testAppServicePlan6540?api-version=2021-02-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "sku": {
          "name": "S1",
          "tier": "STANDARD",
          "capacity": 1
        },
        "tags": {},
        "location": "eastus",
        "properties": {
          "perSiteScaling": false,
          "isXenon": false
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "ETag": "\u00221D7EB381DE79D95\u0022",
        "x-ms-ratelimit-remaining-subscription-writes": "1198"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-9720/providers/Microsoft.Web/serverfarms/testAppServicePlan6540",
        "name": "testAppServicePlan6540",
        "type": "Microsoft.Web/serverfarms",
        "kind": "app",
        "location": "eastus",
        "tags": {},
        "properties": {
          "serverFarmId": 3931,
          "name": "testAppServicePlan6540",
          "sku": {
            "name": "S1",
            "tier": "Standard",
            "size": "S1",
            "family": "S",
            "capacity": 1
          },
          "workerSize": "Default",
          "workerSizeId": 0,
          "workerTierName": null,
          "numberOfWorkers": 1,
          "currentWorkerSize": "Default",
          "currentWorkerSizeId": 0,
          "currentNumberOfWorkers": 1,
          "status": "Ready",
          "webSpace": "testRG-9720-EastUSwebspace",
          "subscription": "db1ab6f0-4769-4b27-930e-01e2ef9c123c",
          "adminSiteName": null,
          "hostingEnvironment": null,
          "hostingEnvironmentProfile": null,
          "maximumNumberOfWorkers": 0,
          "planName": "VirtualDedicatedPlan",
          "adminRuntimeSiteName": null,
          "computeMode": "Dedicated",
          "siteMode": null,
          "geoRegion": "East US",
          "perSiteScaling": false,
          "elasticScaleEnabled": false,
          "maximumElasticWorkerCount": 1,
          "numberOfSites": 0,
          "hostingEnvironmentId": null,
          "isSpot": false,
          "spotExpirationTime": null,
          "freeOfferExpirationTime": null,
          "tags": {},
          "kind": "app",
          "resourceGroup": "testRG-9720",
          "reserved": false,
          "isXenon": false,
          "hyperV": false,
          "mdmId": "waws-prod-blu-295_3931",
          "targetWorkerCount": 0,
          "targetWorkerSizeId": 0,
          "provisioningState": "Succeeded",
          "webSiteId": null,
          "existingServerFarmIds": null,
          "kubeEnvironmentProfile": null,
          "zoneRedundant": false
        },
        "sku": {
          "name": "S1",
          "tier": "Standard",
          "size": "S1",
          "family": "S",
          "capacity": 1
        }
      }
    }
  ],
  "Variables": {
    "RandomSeed": "2025959173",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "db1ab6f0-4769-4b27-930e-01e2ef9c123c"
  }
}