{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11977"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "TagKey-9823": "TagValue-566",
          "TagKey-3481": "TagValue-320",
          "TagKey-4926": "TagValue-1187",
          "TagKey-751": "TagValue-3921",
          "TagKey-1866": "TagValue-8559",
          "TagKey-3094": "TagValue-9190",
          "TagKey-2449": "TagValue-9",
          "TagKey-8379": "TagValue-164",
          "TagKey-7470": "TagValue-2205",
          "TagKey-4236": "TagValue-3698",
          "TagKey-5316": "TagValue-2725"
        },
        "subscriptionId": "db1ab6f0-4769-4b27-930e-01e2ef9c123c",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": ".NET Mgmt SDK Test with TTL = 1 Day",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourcegroups/testRG-7974?api-version=**",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {
          "test": "env"
        },
        "location": "eastus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1190"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-7974",
        "name": "testRG-7974",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus",
        "tags": {
          "test": "env"
        },
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-7974/providers/Microsoft.Web/serverfarms/testAppServicePlan4849?api-version=2021-02-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "sku": {
          "name": "S1",
          "tier": "STANDARD",
          "capacity": 1
        },
        "tags": {},
        "location": "eastus",
        "properties": {
          "perSiteScaling": false,
          "isXenon": false
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "ETag": "\u00221D8847F70C06680\u0022",
        "x-ms-ratelimit-remaining-subscription-writes": "1189"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-7974/providers/Microsoft.Web/serverfarms/testAppServicePlan4849",
        "name": "testAppServicePlan4849",
        "type": "Microsoft.Web/serverfarms",
        "kind": "app",
        "location": "eastus",
        "tags": {},
        "properties": {
          "serverFarmId": 47077,
          "name": "testAppServicePlan4849",
          "sku": {
            "name": "S1",
            "tier": "Standard",
            "size": "S1",
            "family": "S",
            "capacity": 1
          },
          "workerSize": "Default",
          "workerSizeId": 0,
          "workerTierName": null,
          "numberOfWorkers": 1,
          "currentWorkerSize": "Default",
          "currentWorkerSizeId": 0,
          "currentNumberOfWorkers": 1,
          "status": "Ready",
          "webSpace": "testRG-7974-EastUSwebspace",
          "subscription": "db1ab6f0-4769-4b27-930e-01e2ef9c123c",
          "adminSiteName": null,
          "hostingEnvironment": null,
          "hostingEnvironmentProfile": null,
          "maximumNumberOfWorkers": 0,
          "planName": "VirtualDedicatedPlan",
          "adminRuntimeSiteName": null,
          "computeMode": "Dedicated",
          "siteMode": null,
          "geoRegion": "East US",
          "perSiteScaling": false,
          "elasticScaleEnabled": false,
          "maximumElasticWorkerCount": 1,
          "numberOfSites": 0,
          "hostingEnvironmentId": null,
          "isSpot": false,
          "spotExpirationTime": null,
          "freeOfferExpirationTime": null,
          "tags": {},
          "kind": "app",
          "resourceGroup": "testRG-7974",
          "reserved": false,
          "isXenon": false,
          "hyperV": false,
          "mdmId": "waws-prod-blu-241_47077",
          "targetWorkerCount": 0,
          "targetWorkerSizeId": 0,
          "provisioningState": "Succeeded",
          "webSiteId": null,
          "existingServerFarmIds": null,
          "kubeEnvironmentProfile": null,
          "zoneRedundant": false
        },
        "sku": {
          "name": "S1",
          "tier": "Standard",
          "size": "S1",
          "family": "S",
          "capacity": 1
        }
      }
    }
  ],
  "Variables": {
    "RandomSeed": "1746431575",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "db1ab6f0-4769-4b27-930e-01e2ef9c123c"
  }
}
