{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/c7e7b7a5-88b9-4cd9-a5ed-cc6e3aa4b9c6?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11971"
      },
      "ResponseBody": {
        "id": "/subscriptions/c7e7b7a5-88b9-4cd9-a5ed-cc6e3aa4b9c6",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "subscriptionId": "c7e7b7a5-88b9-4cd9-a5ed-cc6e3aa4b9c6",
        "tenantId": "6d1de6b2-88b7-42b6-9b3e-89a4351d16b4",
        "displayName": "Azure for Students",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Public_2014-09-01",
          "quotaId": "AzureForStudents_2018-01-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/c7e7b7a5-88b9-4cd9-a5ed-cc6e3aa4b9c6/resourcegroups/Default-AppConfiguration-3536?api-version=2021-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "eastus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1196"
      },
      "ResponseBody": {
        "id": "/subscriptions/c7e7b7a5-88b9-4cd9-a5ed-cc6e3aa4b9c6/resourceGroups/Default-AppConfiguration-3536",
        "name": "Default-AppConfiguration-3536",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus",
        "tags": {},
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/c7e7b7a5-88b9-4cd9-a5ed-cc6e3aa4b9c6/resourceGroups/Default-AppConfiguration-3536/providers/Microsoft.AppConfiguration/configurationStores/testapp-1020?api-version=2020-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "sku": {
          "name": "Standard"
        },
        "tags": {},
        "location": "eastus",
        "properties": {
          "publicNetworkAccess": "Disabled"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/c7e7b7a5-88b9-4cd9-a5ed-cc6e3aa4b9c6/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/2aeb5d14-5982-fb3e-1631-12e400d87485?api-version=2020-06-01",
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "x-ms-ratelimit-remaining-subscription-writes": "1195"
      },
      "ResponseBody": {
        "type": "Microsoft.AppConfiguration/configurationStores",
        "location": "eastus",
        "properties": {
          "provisioningState": "Creating",
          "creationDate": "2022-01-18T06:48:04.4552792\u002B00:00",
          "endpoint": null,
          "encryption": null,
          "privateEndpointConnections": null
        },
        "sku": {
          "name": "Standard"
        },
        "id": "/subscriptions/c7e7b7a5-88b9-4cd9-a5ed-cc6e3aa4b9c6/resourceGroups/Default-AppConfiguration-3536/providers/Microsoft.AppConfiguration/configurationStores/testapp-1020",
        "name": "testapp-1020",
        "tags": {}
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/c7e7b7a5-88b9-4cd9-a5ed-cc6e3aa4b9c6/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/2aeb5d14-5982-fb3e-1631-12e400d87485?api-version=2020-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/c7e7b7a5-88b9-4cd9-a5ed-cc6e3aa4b9c6/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/2aeb5d14-5982-fb3e-1631-12e400d87485?api-version=2020-06-01",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11970"
      },
      "ResponseBody": {
        "id": "/subscriptions/c7e7b7a5-88b9-4cd9-a5ed-cc6e3aa4b9c6/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/2aeb5d14-5982-fb3e-1631-12e400d87485",
        "name": "2aeb5d14-5982-fb3e-1631-12e400d87485",
        "status": "Succeeded",
        "error": null
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/c7e7b7a5-88b9-4cd9-a5ed-cc6e3aa4b9c6/resourceGroups/Default-AppConfiguration-3536/providers/Microsoft.AppConfiguration/configurationStores/testapp-1020?api-version=2020-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\u0022bd012843-0000-0100-0000-61e662a50000\u0022",
        "x-ms-ratelimit-remaining-subscription-reads": "11969"
      },
      "ResponseBody": {
        "type": "Microsoft.AppConfiguration/configurationStores",
        "location": "eastus",
        "properties": {
          "provisioningState": "Succeeded",
          "creationDate": "2022-01-18T06:48:04\u002B00:00",
          "endpoint": "https://testapp-1020.azconfig.io",
          "encryption": {
            "keyVaultProperties": null
          },
          "privateEndpointConnections": null,
          "publicNetworkAccess": "Disabled"
        },
        "sku": {
          "name": "standard"
        },
        "id": "/subscriptions/c7e7b7a5-88b9-4cd9-a5ed-cc6e3aa4b9c6/resourceGroups/default-appconfiguration-3536/providers/Microsoft.AppConfiguration/configurationStores/testapp-1020",
        "name": "testapp-1020",
        "tags": {}
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/c7e7b7a5-88b9-4cd9-a5ed-cc6e3aa4b9c6/resourceGroups/Default-AppConfiguration-3536/providers/Microsoft.Network/virtualNetworks/vnetname2327?api-version=2021-02-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus",
        "properties": {
          "addressSpace": {
            "addressPrefixes": [
              "10.0.0.0/16"
            ]
          },
          "dhcpOptions": {
            "dnsServers": [
              "10.1.1.1",
              "10.1.2.4"
            ]
          },
          "subnets": [
            {
              "name": "subnetname3544",
              "properties": {
                "addressPrefix": "10.0.0.0/24",
                "privateEndpointNetworkPolicies": "Disabled"
              }
            }
          ]
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncNotification": "Enabled",
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/c7e7b7a5-88b9-4cd9-a5ed-cc6e3aa4b9c6/providers/Microsoft.Network/locations/eastus/operations/b2261ab8-3266-436e-827c-6aa79f7102d5?api-version=2021-02-01",
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "3",
        "x-ms-ratelimit-remaining-subscription-writes": "1194"
      },
      "ResponseBody": [
        "{\r\n",
        "  \u0022name\u0022: \u0022vnetname2327\u0022,\r\[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/c7e7b7a5-88b9-4cd9-a5ed-cc6e3aa4b9c6/providers/Microsoft.Network/locations/eastus/operations/b2261ab8-3266-436e-827c-6aa79f7102d5?api-version=2021-02-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11968"
      },
      "ResponseBody": [
        "{\r\n",
        "  \u0022status\u0022: \u0022Succeeded\u0022\r\n",
        "}"
      ]
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/c7e7b7a5-88b9-4cd9-a5ed-cc6e3aa4b9c6/resourceGroups/Default-AppConfiguration-3536/providers/Microsoft.Network/privateEndpoints/endpointxyz9849?api-version=2021-02-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus",
        "properties": {
          "subnet": {
            "id": "/subscriptions/c7e7b7a5-88b9-4cd9-a5ed-cc6e3aa4b9c6/resourceGroups/Default-AppConfiguration-3536/providers/Microsoft.Network/virtualNetworks/vnetname2327/subnets/subnetname3544",
            "properties": {}
          },
          "privateLinkServiceConnections": [
            {
              "name": "myconnection",
              "properties": {
                "privateLinkServiceId": "/subscriptions/c7e7b7a5-88b9-4cd9-a5ed-cc6e3aa4b9c6/resourceGroups/default-appconfiguration-3536/providers/Microsoft.AppConfiguration/configurationStores/testapp-1020",
                "groupIds": [
                  "configurationStores"
                ],
                "requestMessage": "Please approve my connection"
              }
            }
          ]
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncNotification": "Enabled",
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/c7e7b7a5-88b9-4cd9-a5ed-cc6e3aa4b9c6/providers/Microsoft.Network/locations/eastus/operations/12e59ffb-d309-416c-b10a-8014bee8be79?api-version=2021-02-01",
        "Content-Type": "application/json; charset=utf-8",
        "Retry-Afte[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/c7e7b7a5-88b9-4cd9-a5ed-cc6e3aa4b9c6/resourceGroups/Default-AppConfiguration-3536/providers/Microsoft.AppConfiguration/configurationStores/foo?api-version=2020-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-failure-cause": "gateway"
      },
      "ResponseBody": {
        "error": {
          "code": "ResourceNotFound",
          "message": "The Resource \u0027Microsoft.AppConfiguration/configurationStores/foo\u0027 under resource group \u0027Default-AppConfiguration-3536\u0027 was not found. For more details please go to https://aka.ms/ARMResourceNotFoundFix"
        }
      }
    }
  ],
  "Variables": {
    "RandomSeed": "702194493",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "c7e7b7a5-88b9-4cd9-a5ed-cc6e3aa4b9c6"
  }
}