{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/e3853e83-0d02-4fb3-b88f-05b5fd21aee2?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11931"
      },
      "ResponseBody": {
        "id": "/subscriptions/e3853e83-0d02-4fb3-b88f-05b5fd21aee2",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "subscriptionId": "e3853e83-0d02-4fb3-b88f-05b5fd21aee2",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": "Liftr-Nginx-Test",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/e3853e83-0d02-4fb3-b88f-05b5fd21aee2/resourcegroups/Default-Nginx-2569?api-version=**",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westcentralus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1162"
      },
      "ResponseBody": {
        "id": "/subscriptions/e3853e83-0d02-4fb3-b88f-05b5fd21aee2/resourceGroups/Default-Nginx-2569",
        "name": "Default-Nginx-2569",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westcentralus",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/e3853e83-0d02-4fb3-b88f-05b5fd21aee2/resourceGroups/Default-Nginx-2569/providers/Microsoft.Network/publicIPAddresses/testPublicIP-8901?api-version=2021-02-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "sku": {
          "name": "Standard"
        },
        "location": "westcentralus",
        "properties": {
          "publicIPAllocationMethod": "Static",
          "publicIPAddressVersion": "IPv4"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "azure-asyncnotification": "Enabled",
        "azure-asyncoperation": "https://management.azure.com/subscriptions/e3853e83-0d02-4fb3-b88f-05b5fd21aee2/providers/Microsoft.Network/locations/westcentralus/operations/b8aae0ab-eb57-45ae-a242-3571257f836c?api-version=2021-02-01",
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "1",
        "x-ms-ratelimit-remaining-subscription-writes": "1161"
      },
      "ResponseBody": {
        "name": "testPublicIP-8901",
        "id": "/subscriptions/e3853e83-0d02-4fb3-b88f-05b5fd21aee2/resourceGroups/Default-Nginx-2569/providers/Microsoft.Network/publicIPAddresses/testPublicIP-8901",
        "etag": "W/\u00221d3cc3f5-3d42-421f-8cf8-48c1145c2c3c\u0022",
        "location": "westcentralus",
        "properties": {
          "provisioningState": "Updating",
          "resourceGuid": "9d9e1a0b-2bcf-4d3d-a982-d202ff405fb4",
          "publicIPAddressVersion": "IPv4",
          "publicIPAllocationMethod": "Static",
          "idleTimeoutInMinutes": 4,
          "ipTags": []
        },
        "type": "Microsoft.Network/publicIPAddresses",
        "sku": {
          "name": "Standard",
          "tier": "Regional"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/e3853e83-0d02-4fb3-b88f-05b5fd21aee2/providers/Microsoft.Network/locations/westcentralus/operations/b8aae0ab-eb57-45ae-a242-3571257f836c?api-version=2021-02-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11930"
      },
      "ResponseBody": {
        "status": "Succeeded"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/e3853e83-0d02-4fb3-b88f-05b5fd21aee2/resourceGroups/Default-Nginx-2569/providers/Microsoft.Network/publicIPAddresses/testPublicIP-8901?api-version=2021-02-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\u0022e87cd198-af43-48cd-bc58-29fa486d766e\u0022",
        "x-ms-ratelimit-remaining-subscription-reads": "11929"
      },
      "ResponseBody": {
        "name": "testPublicIP-8901",
        "id": "/subscriptions/e3853e83-0d02-4fb3-b88f-05b5fd21aee2/resourceGroups/Default-Nginx-2569/providers/Microsoft.Network/publicIPAddresses/testPublicIP-8901",
        "etag": "W/\u0022e87cd198-af43-48cd-bc58-29fa486d766e\u0022",
        "location": "westcentralus",
        "properties": {
          "provisioningState": "Succeeded",
          "resourceGuid": "9d9e1a0b-2bcf-4d3d-a982-d202ff405fb4",
          "ipAddress": "20.165.146.117",
          "publicIPAddressVersion": "IPv4",
          "publicIPAllocationMethod": "Static",
          "idleTimeoutInMinutes": 4,
          "ipTags": []
        },
        "type": "Microsoft.Network/publicIPAddresses",
        "sku": {
          "name": "Standard",
          "tier": "Regional"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/e3853e83-0d02-4fb3-b88f-05b5fd21aee2/resourceGroups/Default-Nginx-2569/providers/Microsoft.Network/networkSecurityGroups/testNSG-5427?api-version=2021-02-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westcentralus",
        "properties": {
          "securityRules": [
            {
              "name": "http",
              "properties": {
                "protocol": "*",
                "sourcePortRange": "*",
                "sourceAddressPrefix": "*",
                "destinationAddressPrefix": "*",
                "destinationPortRanges": [
                  "80"
                ],
                "access": "Allow",
                "priority": 100,
                "direction": "Inbound"
              }
            },
            {
              "name": "NRMS-Rule-103",
              "properties": {
                "description": "Created by Azure Core Security managed policy, rule can be deleted but do not change source ips, please see aka.ms/cainsgpolicy",
                "protocol": "*",
                "sourcePortRange": "*",
                "destinationPortRange": "*",
                "sourceAddressPrefix": "CorpNetPublic",
                "destinationAddressPrefix": "*",
                "access": "Allow",
                "priority": 103,
                "direction": "Inbound"
              }
            }
          ]
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "azure-asyncnotification": "Enabled",
        "azure-asyncoperation": "https://management.azure.com/subscriptions/e3853e83-0d02-4fb3-b88f-05b5fd21aee2/providers/[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/e3853e83-0d02-4fb3-b88f-05b5fd21aee2/resourceGroups/Default-Nginx-2569/providers/Microsoft.Network/virtualNetworks/testVNet-426?api-version=2021-02-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westcentralus",
        "properties": {
          "addressSpace": {
            "addressPrefixes": [
              "10.0.0.0/16"
            ]
          },
          "subnets": [
            {
              "name": "testSubnet-1420",
              "properties": {
                "addressPrefix": "10.0.2.0/24",
                "networkSecurityGroup": {
                  "id": "/subscriptions/e3853e83-0d02-4fb3-b88f-05b5fd21aee2/resourceGroups/Default-Nginx-2569/providers/Microsoft.Network/networkSecurityGroups/testNSG-5427",
                  "location": "westcentralus",
                  "properties": {
                    "securityRules": [
                      {
                        "id": "/subscriptions/e3853e83-0d02-4fb3-b88f-05b5fd21aee2/resourceGroups/Default-Nginx-2569/providers/Microsoft.Network/networkSecurityGroups/testNSG-5427/securityRules/http",
                        "name": "http",
                        "type": "Microsoft.Network/networkSecurityGroups/securityRules",
                        "properties": {
                          "protocol": "*",
                          "sourcePortRange": "*",
                          "sourceAddressPrefix": "*",
                          "sourceAddressPrefixes": [],
                          "destinationAddressPrefix": "*",
                          "destinationAddressPrefixes": [],
                          "sourcePortRanges": [],
                          "destinationPortRanges": [
                            "80"
                          ],
                          "access": "Allow",
                          "priority": 100,
                          "direction": "Inbound"
                        }
                      },
                      {
                        "id": "/subscriptions/e3853e83-0d02-4fb3-b88f-05b5fd21aee2/resourceGroups/Default-Nginx-2569/providers/Microsoft.Network/networkSecurityGroups/t[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/e3853e83-0d02-4fb3-b88f-05b5fd21aee2/resourceGroups/Default-Nginx-2569/providers/Nginx.NginxPlus/nginxDeployments/testDeployment-5494?api-version=2022-08-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "identity": {
          "type": "UserAssigned",
          "userAssignedIdentities": {
            "/subscriptions/e3853e83-0d02-4fb3-b88f-05b5fd21aee2/resourcegroups/synthetics-integration-tests/providers/Microsoft.ManagedIdentity/userAssignedIdentities/integration-tests-mi": {}
          }
        },
        "properties": {
          "networkProfile": {
            "frontEndIPConfiguration": {
              "publicIPAddresses": [
                {
                  "id": "/subscriptions/e3853e83-0d02-4fb3-b88f-05b5fd21aee2/resourceGroups/Default-Nginx-2569/providers/Microsoft.Network/publicIPAddresses/testPublicIP-8901"
                }
              ]
            },
            "networkInterfaceConfiguration": {
              "subnetId": "/subscriptions/e3853e83-0d02-4fb3-b88f-05b5fd21aee2/resourceGroups/Default-Nginx-2569/providers/Microsoft.Network/virtualNetworks/testVNet-426/subnets/testSubnet-1420"
            }
          },
          "enableDiagnosticsSupport": true
        },
        "sku": {
          "name": "preview_Monthly"
        },
        "tags": {},
        "location": "westcentralus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/providers/Nginx.NginxPlus/locations/WESTCENTRALUS/operationStatuses/3bce604d-1d96-4c60-80eb-397d38f3cb8f*D7B31FE9743AB1B790A75A0F2A53009959A09FEDD4F0578E2FAF5939B88289AB?api-version=2022-08-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00220000d480-0000-0600-0000-63598a980000\u0022",
        "Location": "https://management.azure.com/providers/Nginx.NginxPlus/locations/WESTCENTRALUS/operationStatuses/3bce604d-1d96-4c60-80eb-397d38f3cb8f*D7B31FE9743AB1B790A75A0F2A53009959A09FEDD4F0578E2FAF5939B88289AB?api-version=2022-08-01",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-writes": "1158"
      },
      "ResponseBody": {
        "id": "/subscriptions/e3853e83-0d02-4fb3-b88f-05b5fd21aee2/resourceGroups/Default-Nginx-2569/providers/Nginx.NginxPlus/nginxDeployments/testDeployment-5494",
        "name": "testDeployment-5494",
        "type": "nginx.nginxplus/nginxdeployments",
        "sku": {
          "name": "preview_Monthly"
        },
        "location": "westcentralus",
        "tags": {},
        "systemData": {
          "createdBy": "83e1fee6-9cf1-487c-afb2-b5822019b861",
          "createdByType": "Application",
          "createdAt": "2022-10-26T19:29:24.9594591Z",
          "lastModifiedBy": "83e1fee6-9cf1-487c-afb2-b5822019b861",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2022-10-26T19:29:24.9594591Z"
        },
        "identity": {
          "type": "UserAssigned",
          "userAssignedIdentities": {
            "/subscriptions/e3853e83-0d02-4fb3-b88f-05b5fd21aee2/resourcegroups/synthetics-integration-tests/providers/Microsoft.ManagedIdentity/userAssignedIdentities/integration-tests-mi": {
              "principalId": "9c8c1eab-1b64-4d95-bbba-04843012d190",
              "clientId": "cfcab166-335a-4af7-a61d-c7c07236688e"
            }
          }
        },
        "properties": {
          "provisioningState": "Accepted",
          "nginxVersion": null,
          "managedResourceGroup": null,
          "ipAddress": null,
          "networkProfile": {
            "frontEndIPConfiguration": {
              "publicIPAddresses": [
                {
                  "id": "/subscriptions/e3853e83-0d02-4fb3-b88f-05b5fd21aee2/resourceGroups/Default-Nginx-2569/providers/Microsoft.Network/publicIPAddresses/testPublicIP-8901"
                }
              ]
            },
            "networkInterfaceConfiguration": {
              "subnetId": "/subscriptions/e3853e83-0d02-4fb3-b88f-05b5fd21aee2/resourceGroups/Default-Nginx-2569/providers/Microsoft.Network/virtualNetworks/testVNet-426/subnets/testSubnet-1420"
            }
          },
          "enableDiagnosticsSupport": true,
          "logging": null
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/providers/Nginx.NginxPlus/locations/WESTCENTRALUS/operationStatuses/3bce604d-1d96-4c60-80eb-397d38f3cb8f*D7B31FE9743AB1B790A75A0F2A53009959A09FEDD4F0578E2FAF5939B88289AB?api-version=2022-08-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00220000104b-0000-0600-0000-63598a970000\u0022",
        "x-ms-ratelimit-remaining-tenant-reads": "11836"
      },
      "ResponseBody": {
        "id": "/providers/Nginx.NginxPlus/locations/WESTCENTRALUS/operationStatuses/3bce604d-1d96-4c60-80eb-397d38f3cb8f*D7B31FE9743AB1B790A75A0F2A53009959A09FEDD4F0578E2FAF5939B88289AB",
        "name": "3bce604d-1d96-4c60-80eb-397d38f3cb8f*D7B31FE9743AB1B790A75A0F2A53009959A09FEDD4F0578E2FAF5939B88289AB",
        "resourceId": "/subscriptions/e3853e83-0d02-4fb3-b88f-05b5fd21aee2/resourceGroups/Default-Nginx-2569/providers/Nginx.NginxPlus/nginxDeployments/testDeployment-5494",
        "status": "Accepted",
        "startTime": "2022-10-26T19:29:27.7879686Z"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/providers/Nginx.NginxPlus/locations/WESTCENTRALUS/operationStatuses/3bce604d-1d96-4c60-80eb-397d38f3cb8f*D7B31FE9743AB1B790A75A0F2A53009959A09FEDD4F0578E2FAF5939B88289AB?api-version=2022-08-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00220000294b-0000-0600-0000-63598c040000\u0022",
        "x-ms-ratelimit-remaining-tenant-reads": "11842"
      },
      "ResponseBody": {
        "id": "/providers/Nginx.NginxPlus/locations/WESTCENTRALUS/operationStatuses/3bce604d-1d96-4c60-80eb-397d38f3cb8f*D7B31FE9743AB1B790A75A0F2A53009959A09FEDD4F0578E2FAF5939B88289AB",
        "name": "3bce604d-1d96-4c60-80eb-397d38f3cb8f*D7B31FE9743AB1B790A75A0F2A53009959A09FEDD4F0578E2FAF5939B88289AB",
        "resourceId": "/subscriptions/e3853e83-0d02-4fb3-b88f-05b5fd21aee2/resourceGroups/Default-Nginx-2569/providers/Nginx.NginxPlus/nginxDeployments/testDeployment-5494",
        "status": "Succeeded",
        "startTime": "2022-10-26T19:29:27.7879686Z",
        "endTime": "2022-10-26T19:35:32.0917605Z",
        "error": {},
        "properties": null
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/e3853e83-0d02-4fb3-b88f-05b5fd21aee2/resourceGroups/Default-Nginx-2569/providers/Nginx.NginxPlus/nginxDeployments/testDeployment-5494/configurations/default?api-version=2022-08-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "files": [
            {
              "content": "aHR0cCB7CiAgICBzZXJ2ZXIgewogICAgICAgIGxpc3RlbiA4MDsKICAgICAgICBsb2NhdGlvbiAvIHsKICAgICAgICAgICAgZGVmYXVsdF90eXBlIHRleHQvaHRtbDsKICAgICAgICAgICAgcmV0dXJuIDIwMCAnPCFET0NUWVBFIGh0bWw\u002BPGgxIHN0eWxlPSJmb250LXNpemU6MzBweDsiPk5naW54IGNvbmZpZyBpcyB3b3JraW5nITwvaDE\u002BJzsKICAgICAgICB9CiAgICB9Cn0=",
              "virtualPath": "/etc/nginx/nginx.conf"
            }
          ],
          "rootFile": "/etc/nginx/nginx.conf"
        },
        "tags": {},
        "location": "westcentralus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/providers/Nginx.NginxPlus/locations/WESTCENTRALUS/operationStatuses/6eb79e6c-f64c-45c6-9b75-46a0820c6903*22D73B7FF65B5188321F202FB02F83BDE7BCC3892D3E30125C683FD00244E43A?api-version=2022-08-01",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://ma[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/e3853e83-0d02-4fb3-b88f-05b5fd21aee2/resourceGroups/Default-Nginx-2569/providers/Nginx.NginxPlus/nginxDeployments/testDeployment-5494/configurations/default?api-version=2022-08-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-reads": "11929"
      },
      "ResponseBody": {
        "id": "/subscriptions/e3853e83-0d02-4fb3-b88f-05b5fd21aee2/resourceGroups/Default-Nginx-2569/providers/NGINX.NGINXPLUS/nginxDeployments/testDeployment-5494/configurations/default",
        "name": "default",
        "type": "NGINX.NGINXPLUS/nginxDeployments/configurations",
        "properties": {
          "provisioningState": "Succeeded",
          "files": [
            {
              "content": "aHR0cCB7CiAgICBzZXJ2ZXIgewogICAgICAgIGxpc3RlbiA4MDsKICAgICAgICBsb2NhdGlvbiAvIHsKICAgICAgICAgICAgZGVmYXVsdF90eXBlIHRleHQvaHRtbDsKICAgICAgICAgICAgcmV0dXJuIDIwMCAnPCFET0NUWVBFIGh0bWw\u002BPGgxIHN0eWxlPSJmb250LXNpemU6MzBweDsiPk5naW54IGNvbmZpZyBpcyB3b3JraW5nITwvaDE\u002BJzsKICAgICAgICB9CiAgICB9Cn0=",
              "virtualPath": "/etc/nginx/nginx.conf"
            }
          ],
          "protectedFiles": [],
          "package": {
            "data": null
          },
          "rootFile": "/etc/nginx/nginx.conf"
        }
      }
    },
[...]
