{
  "Entries": [
    {
      "RequestUri": "/luis/api/v2.0/apps/",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"culture\": \"en-us\",\r\n  \"domain\": \"Comics\",\r\n  \"description\": \"New LUIS App\",\r\n  \"usageScenario\": \"IoT\",\r\n  \"name\": \"New LUIS App\"\r\n}",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": [
          "62b834e0069943d9b035f32abd230359"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Location": [
          "https://westus.api.cognitive.microsoft.com/luis/api/v2.0/apps/abdd7a0d-3df5-4d22-946a-7b744dd03eb7"
        ],
        "Operation-Location": [
          "https://westus.api.cognitive.microsoft.com/luis/api/v2.0/apps/abdd7a0d-3df5-4d22-946a-7b744dd03eb7"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "\"abdd7a0d-3df5-4d22-946a-7b744dd03eb7\"",
      "StatusCode": 201
    },
    {
      "RequestUri": "/luis/api/v2.0/apps/abdd7a0d-3df5-4d22-946a-7b744dd03eb7/versions?skip=0&take=100",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": [
          "62b834e0069943d9b035f32abd230359"
        ]
      },
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "[\r\n  {\r\n    \"version\": \"0.1\",\r\n    \"createdDateTime\": \"2019-08-25T19:20:19Z\",\r\n    \"lastModifiedDateTime\": \"2019-08-25T19:20:19Z\",\r\n    \"lastTrainedDateTime\": null,\r\n    \"lastPublishedDateTime\": null,\r\n    \"endpointUrl\": null,\r\n    \"assignedEndpointKey\": null,\r\n    \"externalApiKeys\": null,\r\n    \"intentsCount\": 1,\r\n    \"entitiesCount\": 0,\r\n    \"endpointHitsCount\": 0,\r\n    \"trainingStatus\": \"NeedsTraining\"\r\n  }\r\n]",
      "StatusCode": 200
    },
    {
      "RequestUri": "/luis/api/v2.0/apps/abdd7a0d-3df5-4d22-946a-7b744dd03eb7/versions/0.1/customprebuiltdomains",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"domainName\": \"Communication\"\r\n}",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": [
          "62b834e0069943d9b035f32abd230359"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "[\r\n  \"9652916f-1315-4857-84d8-82b30ca7740d\",\r\n  \"19c076e4-afff-4def-9547-5732213cc069\",\r\n  \"bf408784-7299-438c-bfe[...]
    {
      "RequestUri": "/luis/api/v2.0/apps/abdd7a0d-3df5-4d22-946a-7b744dd03eb7/versions/0.1/customprebuiltmodels",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": [
          "62b834e0069943d9b035f32abd230359"
        ]
      },
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "[\r\n  {\r\n    \"id\": \"9652916f-1315-4857-84d8-82b30ca7740d\",\r\n    \"name\": \"Communication.AddContact\",\r\n    \"typeId\": 0,\r\n    \"readableType\": \"Intent Classifier\",\r\n    \"customPrebuiltDomainName\": \"Communication\",\r\n    \"customPrebuiltModelName\": \"AddContact\"\r\n  },\r\n  {\r\n    \"id\": \"19c076e4-afff-4def-9547-5732213cc069\",\r\n    \"name\": \"Communication.AddFlag\",\r\n    \"typeId\": 0,\r\n    \"readableType\": \"Intent Classifier\",\r\n    \"customPrebuiltDomainName\": \"Communication\",\r\n    \"customPrebuiltModelName\": \"AddFlag\"\r\n  },\r\n  {\r\n    \"id\": \"bf408784-7299-438c-bfe7-80c01c3427b3\",\r\n    \"name\": \"Communication.AddMore\",\r\n    \"typeId\": 0,\r\n    \"readableType\": \"Intent Classifier\",\r\n    \[...]
[...]
    {
      "RequestUri": "/luis/api/v2.0/apps/abdd7a0d-3df5-4d22-946a-7b744dd03eb7/versions/0.1/customprebuiltdomains/Communication",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": [
          "62b834e0069943d9b035f32abd230359"
        ]
      },
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"code\": \"Success\",\r\n  \"message\": \"Operation Successful\"\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/luis/api/v2.0/apps/abdd7a0d-3df5-4d22-946a-7b744dd03eb7?force=false",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": [
          "62b834e0069943d9b035f32abd230359"
        ]
      },
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"code\": \"Success\",\r\n  \"message\": \"Operation Successful\"\r\n}",
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {}
}