{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/e37510d7-33b6-4676-886f-ee75bcc01871?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11997"
      },
      "ResponseBody": {
        "id": "/subscriptions/e37510d7-33b6-4676-886f-ee75bcc01871",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "SkipGreenTeamLinuxSSHAuthForSub": "1020642667"
        },
        "subscriptionId": "e37510d7-33b6-4676-886f-ee75bcc01871",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": "CPlat SDK/PowerShell",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/e37510d7-33b6-4676-886f-ee75bcc01871/resourcegroups/testRG-9877?api-version=2021-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {
          "test": "env"
        },
        "location": "eastus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1177"
      },
      "ResponseBody": {
        "id": "/subscriptions/e37510d7-33b6-4676-886f-ee75bcc01871/resourceGroups/testRG-9877",
        "name": "testRG-9877",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus",
        "tags": {
          "test": "env"
        },
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/e37510d7-33b6-4676-886f-ee75bcc01871/resourceGroups/testRG-9877/providers/Microsoft.Compute/availabilitySets/aset-9670?api-version=2020-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {
          "key": "value"
        },
        "location": "eastus",
        "properties": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-resource": "Microsoft.Compute/PutVM3Min;223,Microsoft.Compute/PutVM30Min;1175",
        "x-ms-ratelimit-remaining-subscription-writes": "1176"
      },
      "ResponseBody": {
        "name": "aset-9670",
        "id": "/subscriptions/e37510d7-33b6-4676-886f-ee75bcc01871/resourceGroups/testRG-9877/providers/Microsoft.Compute/availabilitySets/aset-9670",
        "type": "Microsoft.Compute/availabilitySets",
        "location": "eastus",
        "tags": {
          "key": "value"
        },
        "properties": {
          "platformUpdateDomainCount": 5,
          "platformFaultDomainCount": 3
        },
        "sku": {
          "name": "Classic"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/e37510d7-33b6-4676-886f-ee75bcc01871/resourceGroups/testRG-9877/providers/Microsoft.Compute/proximityPlacementGroups/proxGrp-7536?api-version=2022-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "eastus",
        "properties": {}
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-resource": "Microsoft.Compute/PutDeletePPG3Min;94,Microsoft.Compute/PutDeletePPG30Min;493",
        "x-ms-ratelimit-remaining-subscription-writes": "1175"
      },
      "ResponseBody": {
        "name": "proxGrp-7536",
        "id": "/subscriptions/e37510d7-33b6-4676-886f-ee75bcc01871/resourceGroups/testRG-9877/providers/Microsoft.Compute/proximityPlacementGroups/proxGrp-7536",
        "type": "Microsoft.Compute/proximityPlacementGroups",
        "location": "eastus",
        "tags": {},
        "properties": {
          "proximityPlacementGroupType": "Standard"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/e37510d7-33b6-4676-886f-ee75bcc01871/resourceGroups/testRG-9877/providers/Microsoft.Compute/availabilitySets/aset-9670?api-version=2020-06-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "proximityPlacementGroup": {
            "id": "/subscriptions/e37510d7-33b6-4676-886f-ee75bcc01871/resourceGroups/testRG-9877/providers/Microsoft.Compute/proximityPlacementGroups/proxGrp-7536"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-resource": "Microsoft.Compute/PutVM3Min;222,Microsoft.Compute/PutVM30Min;1174",
        "x-ms-ratelimit-remaining-subscription-writes": "1174"
      },
      "ResponseBody": {
        "name": "aset-9670",
        "id": "/subscriptions/e37510d7-33b6-4676-886f-ee75bcc01871/resourceGroups/testRG-9877/providers/Microsoft.Compute/availabilitySets/aset-9670",
        "type": "Microsoft.Compute/availabilitySets",
        "location": "eastus",
        "tags": {
          "key": "value"
        },
        "properties": {
          "platformUpdateDomainCount": 5,
          "platformFaultDomainCount": 3,
          "proximityPlacementGroup": {
            "id": "/subscriptions/e37510d7-33b6-4676-886f-ee75bcc01871/resourceGroups/TESTRG-9877/providers/Microsoft.Compute/proximityPlacementGroups/proxGrp-7536"
          }
        },
        "sku": {
          "name": "Classic"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/e37510d7-33b6-4676-886f-ee75bcc01871/resourceGroups/testRG-8150/providers/Microsoft.Compute/availabilitySets/aset-9219?api-version=2020-06-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-resource": "Microsoft.Compute/PutVM3Min;216,Microsoft.Compute/PutVM30Min;1168",
        "x-ms-ratelimit-remaining-subscription-writes": "1167"
      },
      "ResponseBody": {
        "name": "aset-9219",
        "id": "/subscriptions/e37510d7-33b6-4676-886f-ee75bcc01871/resourceGroups/testRG-8150/providers/Microsoft.Compute/availabilitySets/aset-9219",
        "type": "Microsoft.Compute/availabilitySets",
        "location": "eastus",
        "tags": {
          "key": "value"
        },
        "properties": {
          "platformUpdateDomainCount": 5,
          "platformFaultDomainCount": 3
        },
        "sku": {
          "name": "Classic"
        }
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "RandomSeed": "1346390042",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "e37510d7-33b6-4676-886f-ee75bcc01871"
  }
}
