{
  "Entries": [
    {
      "RequestUri": "/subscriptions/9e28142e-8a8c-4a93-a280-41a2df3e0215/resourcegroups/dynatrace-sdk-test-rg3906?api-version=2015-11-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"westus2\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/9e28142e-8a8c-4a93-a280-41a2df3e0215/resourceGroups/dynatrace-sdk-test-rg3906\",\r\n  \"name\": \"dynatrace-sdk-test-rg3906\",\r\n  \"location\": \"westus2\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/9e28142e-8a8c-4a93-a280-41a2df3e0215/resourceGroups/dynatrace-sdk-test-rg3906/providers/Dynatrace.Observability/monitors/dynatrace-sdk-test-resource8042?api-version=2021-09-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"dynatraceEnvironmentProperties\": {\r\n      \"singleSignOnProperties\": {\r\n        \"aadDomains\": []\r\n      }\r\n    },\r\n    \"userInfo\": {\r\n      \"firstName\": \"Divyansh\",\r\n      \"lastName\": \"Agarwal\",\r\n      \"emailAddress\": \"agarwald@microsoft.com\",\r\n      \"phoneNumber\": \"1234567890\",\r\n      \"country\": \"US\"\r\n    },\r\n    \"planData\": {\r\n      \"usageType\": \"COMMITTED\",\r\n      \"billingCycle\": \"Monthly\",\r\n      \"planDetails\": \"azureportalintegration_privatepreview\",\r\n      \"effectiveDate\": \"2022-05-13T10:40:55.6964353Z\"\r\n    }\r\n  },\r\n  \"location\": \"eastus\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "ETag": [
          "\"19005138-0000-0100-0000-627e35c40000\""
        ],
        "Location": [
          "https://management.azure.com/providers/Dynatrace.Observability/locations/EASTUS/operationStatuses/c819c171-fe71-42a5-9168-3ada511ce503*0B206F5D00198A823B2EE04EFF8F3DE6E6EABBB5C4861CEE6D341F7A9AAC7A83?api-version=2021-09-01-preview"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1198"
        ],
        "x-ms-providerhub-traffic": [
          "True"
        ],
        "mise-correlation-id": [
          "806fd1ea-085c-446a-876c-242080b98336"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/providers/Dynatrace.Observability/locations/EASTUS/operationStatuses/c819c171-fe71-42a5-9168-3ada511ce503*0B206F5D00198A823B2EE04EFF8F3DE6E6EABBB5C4861CEE6D341F7A9AAC7A83?api-version=2021-09-01-preview"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/9e28142e-8a8c-4a93-a280-41a2df3e0215/resourceGroups/dynatrace-sdk-test-rg3906/providers/Dynatrace.Observability/monitors/dynatrace-sdk-test-resource8042\",\r\n  \"name\": \"dynatrace-sdk-test-resource8042\",\r\n  \"type\": \"dynatrace.observability/monitors\",\r\n  \"location\": \"eastus\",\r\n  \"systemData\": {\r\n    \"createdBy\": \"a796cb8d-d398-4da1-9dd3-665d69b3173b\",\r\n    \"createdByType\": \"Application\",\r\n    \"createdAt\": \"2022-05-13T10:41:04.5432446Z\",\r\n    \"lastModifiedBy\": \"a796cb8d-d398-4da1-9dd3-665d69b3173b\",\r\n    \"lastModifiedByType\": \"Application\",\r\n    \"lastModifiedAt\": \"2022-05-13T10:41:04.5432446Z\"\r\n  },\r\n  \"properties\": {\r\n    \"monitoringStatus\": \"Enabled\",\r\n    \"marketplaceSubscriptionStatus\": \"Active\",\r\n    \"dynatraceEnvironmentProperties\": {\r\n      \"userId\": null,\r\n      \"accountInfo\": null,\r\n      \"environmentInfo\": null,\r\n      \"singleSignOnProperties\": {\r\n        \"singleSignOnState\": \"Initial\",\r\n        \"enterpriseAppId\": null,\r\n        \"singleSignOnUrl\": null,\r\n        \"aadDomains\": [],\r\n        \"provisioningState\": \"Accepted\"\r\n      }\r\n    },\r\n    \"userInfo\": null,\r\n    \"planData\": {\r\n      \"usageType\": \"COMMITTED\",\r\n      \"billingCycle\": \"Monthly\",\r\n      \"planDetails\": \"azureportalintegration_privatepreview\",\r\n      \"effectiveDate\": \"2022-05-13T10:40:55.6964353Z\"\r\n    },\r\n    \"liftrResourceCategory\": \"MonitorLogs\",\r\n    \"liftrResourcePreference\": 0,\r\n    \"provisioningState\": \"Accepted\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/providers/Dynatrace.Observability/locations/EASTUS/operationStatuses/c819c171-fe71-42a5-9168-3ada511ce503*0B206F5D00198A823B2EE04EFF8F3DE6E6EABBB5C4861CEE6D341F7A9AAC7A83?api-version=2021-09-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "ETag": [
          "\"4e016ae2-0000-0100-0000-627e35c40000\""
        ],
        "x-ms-ratelimit-remaining-tenant-reads": [
          "11988"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/providers/Dynatrace.Observability/locations/EASTUS/operationStatuses/c819c171-fe71-42a5-9168-3ada511ce503*0B206F5D00198A823B2EE04EFF8F3DE6E6EABBB5C4861CEE6D341F7A9AAC7A83\",\r\n  \"name\": \"c819c171-fe71-42a5-9168-3ada511ce503*0B206F5D00198A823B2EE04EFF8F3DE6E6EABBB5C4861CEE6D341F7A9AAC7A83\",\r\n  \"resourceId\": \"/subscriptions/9e28142e-8a8c-4a93-a280-41a2df3e0215/resourceGroups/dynatrace-sdk-test-rg3906/providers/Dynatrace.Observability/monitors/dynatrace-sdk-test-resource8042\",\r\n  \"status\": \"Accepted\",\r\n  \"startTime\": \"2022-05-13T10:41:08.6624666Z\"\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/providers/Dynatrace.Observability/locations/EASTUS/operationStatuses/c819c171-fe71-42a5-9168-3ada511ce503*0B206F5D00198A823B2EE04EFF8F3DE6E6EABBB5C4861CEE6D341F7A9AAC7A83?api-version=2021-09-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "ETag": [
          "\"4e0164ee-0000-0100-0000-627e35f70000\""
        ],
        "x-ms-ratelimit-remaining-tenant-reads": [
          "11987"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/providers/Dynatrace.Observability/locations/EASTUS/operationStatuses/c819c171-fe71-42a5-9168-3ada511ce503*0B206F5D00198A823B2EE04EFF8F3DE6E6EABBB5C4861CEE6D341F7A9AAC7A83\",\r\n  \"name\": \"c819c171-fe71-42a5-9168-3ada511ce503*0B206F5D00198A823B2EE04EFF8F3DE6E6EABBB5C4861CEE6D341F7A9AAC7A83\",\r\n  \"resourceId\": \"/subscriptions/9e28142e-8a8c-4a93-a280-41a2df3e0215/resourceGroups/dynatrace-sdk-test-rg3906/providers/Dynatrace.Observability/monitors/dynatrace-sdk-test-resource8042\",\r\n  \"status\": \"Succeeded\",\r\n  \"startTime\": \"2022-05-13T10:41:08.6624666Z\",\r\n  \"endTime\": \"2022-05-13T10:41:59.8147634Z\",\r\n  \"error\": {},\r\n  \"properties\": null\r\n}",
      "StatusCode": 200
    },
[...]
