{
  "Entries": [
    {
      "RequestUri": "/subscriptions/6d8e19c2-3a60-481f-8ebb-118dc3007c5d/providers/Microsoft.KeyVault?api-version=2016-02-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/6d8e19c2-3a60-481f-8ebb-118dc3007c5d/providers/Microsoft.KeyVault\",\r\n  \"namespace\": \"Microsoft.KeyVault\",\r\n  \"authorizations\": [\r\n    {\r\n      \"applicationId\": \"cfa8b339-82a2-471a-a3c9-0fc0be7a4093\",\r\n      \"roleDefinitionId\": \"1cf9858a-28a2-4228-abba-94e606305b95\"\r\n    }\r\n  ],\r\n  \"resourceTypes\": [\r\n    {\r\n      \"resourceType\": \"vaults\",\r\n      \"locations\": [\r\n        \"North Central US\",\r\n        \"East US\",\r\n        \"North Europe\",\r\n        \"West Europe\",\r\n        \"East Asia\",\r\n        \"Southeast Asia\",\r\n        \"East US 2\",\r\n        \"Central US\",\r\n        \"South Central US\",\r\n        \"West US\",\r\n        \"Japan East\",\r\n        \"Japan West\",\r\n        \"Australia East\",\r\n        \"Australia Southeast\",\r\n        \"Brazil South\",\r\n        \"Central India\",\r\n        \"South India\",\r\n        \"West India\",\r\n        \"Canada Central\",\r\n        \"Canada East\",\r\n        \"UK South\",\r\n        \"UK West\",\r\n        \"West Central US\",\r\n        \"West US 2\",\r\n        \"Korea Central\",\r\n        \"Korea South\",\r\n        \"France Central\"\r\n      ],\r\n      \"apiVersions\": [\r\n        \"2018-02-14-preview\",\r\n        \"2018-02-14\",\r\n        \"2016-10-01\",\r\n        \"2015-06-01\"\r\n      ],\r\n      \"capabilities\": \"CrossResourceGroupResourceMove, CrossSubscriptionResourceMove\"\r\n    },\r\n    {\r\n      \"resourceType\": \"vaults/secrets\",\r\n      \"locations\": [\r\n        \"North Central US\",\r\n        \"East US\",\r\n        \"North Europe\",\r\n        \"West Europe\",\r\n        \"East Asia\",\r\n        \"Southeast Asia\",\r\n        \"East US 2\",\r\n        \"Central US\",\r\n        \"South Central US\",\r\n        \"West US\",\r\n        \"Japan East\",\r\n        \"Japan West\",\r\n   [...]
    {
      "RequestUri": "/subscriptions/6d8e19c2-3a60-481f-8ebb-118dc3007c5d/resourcegroups/sdktestrg8498?api-version=2016-02-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"North Central US\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/6d8e19c2-3a60-481f-8ebb-118dc3007c5d/resourceGroups/sdktestrg8498\",\r\n  \"name\": \"sdktestrg8498\",\r\n  \"location\": \"northcentralus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ]
      },
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/6d8e19c2-3a60-481f-8ebb-118dc3007c5d/resourceGroups/sdktestrg8498/providers/Microsoft.KeyVault/vaults/sdktestvault873?api-version=2018-02-14",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"North Central US\",\r\n  \"tags\": {\r\n    \"tag1\": \"value1\",\r\n    \"tag2\": \"value2\",\r\n    \"tag3\": \"value3\"\r\n  },\r\n  \"properties\": {\r\n    \"tenantId\": \"72f988bf-86f1-41af-91ab-2d7cd011db47\",\r\n    \"sku\": {\r\n      \"name\": \"standard\",\r\n      \"family\": \"A\"\r\n    },\r\n    \"accessPolicies\": [\r\n      {\r\n        \"tenantId\": \"72f988bf-86f1-41af-91ab-2d7cd011db47\",\r\n        \"objectId\": \"0c6d2fa6-74ce-473f-9c16-2c6e316ea845\",\r\n        \"permissions\": {\r\n          \"keys\": [\r\n            \"all\"\r\n          ],\r\n          \"secrets\": [\r\n            \"all\"\r\n          ],\r\n          \"certificates\": [\r\n            \"all\"\r\n          ],\r\n          \"storage\": [\r\n            \"all\"\r\n          ]\r\n        }\r\n      }\r\n    ],\r\n    \"vaultUri\": \"\",\r\n    \"enabledForDeployment\": true,\r\n    \"enabledForDiskEncryption\": true,\r\n    \"enabledForTemplateDeployment\": true,\r\n    \"enableSoftDelete\": true,\r\n    \"networkAcls\": {\r\n      \"bypass\": \"AzureServices\",\r\n      \"defaultAction\": \"Allow\",\r\n      \"ipRules\": [\r\n        {\r\n          \"value\": \"10.0.0.0/24\"\r\n        },\r\n        {\r\n          \"value\": \"1.0.0.0/25\"\r\n        }\r\n      ]\r\n    }\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/6d8e19c2-3a60-481f-8ebb-118dc3007c5d/resourceGroups/sdktestrg8498/providers/Microsoft.KeyVault/vaults/sdktestvault873\",\r\n  \"name\": \"sdktestvault873\",\r\n  \"type\": \"Microsoft.KeyVault/vaults\",\r\n  \"location\": \"North Central US\",\r\n  \"tags\": {\r\n    \"tag1\": \"value1\",\r\n    \"tag2\": \"value2\",\r\n    \"tag3\": \"value3\"\r\n  },\r\n  \"properties\": {\r\n    \"sku\": {\r\n      \"family\": \"A\",\r\n      \"name\": \"standard\"\r\n    },\r\n    \"tenantId\": \"72f988bf-86f1-41af-91ab-2d7cd011db47\",\r\n    \"networkAcls\": {\r\n      \"bypass\": \"AzureServices\",\r\n      \"defaultAction\": \"Allow\",\r\n      \"ipRules\": [\r\n        {\r\n          \"value\": \"10.0.0.0/24\"\r\n        },\r\n        {\r\n          \"value\": \"1.0.0.0/25\"\r\n        }\r\n      ],\r\n      \"virtualNetworkRules\": []\r\n    },\r\n    \"accessPolicies\": [\r\n      {\r\n        \"tenantId\": \"72f988bf-86f1-41af-91ab-2d7cd011db47\",\r\n        \"objectId\": \"0c6d2fa6-74ce-473f-9c16-2c6e316ea845\",\r\n        \"permissions\": {\r\n          \"keys\": [\r\n            \"all\"\r\n          ],\r\n          \"secrets\": [\r\n            \"all\"\r\n          ],\r\n          \"certificates\": [\r\n            \"all\"\r\n          ],\r\n          \"storage\": [\r\n            \"all\"\r\n          ]\r\n        }\r\n      }\r\n    ],\r\n    \"enabledForDeployment\": true,\r\n    \"enabledForDiskEncryption\": true,\r\n    \"enabledForTemplateDeployment\": true,\r\n    \"enableSoftDelete\": true,\r\n    \"vaultUri\": \"https://sdktestvault873.vault.azure.net\",\r\n    \"provisioningState\": \"RegisteringDns\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/6d8e19c2-3a60-481f-8ebb-118dc3007c5d/providers/Microsoft.KeyVault/locations/North%20Central%20US/deletedVaults/sdktestvault873?api-version=2018-02-14",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/6d8e19c2-3a60-481f-8ebb-118dc3007c5d/providers/Microsoft.KeyVault/locations/northcentralus/deletedVaults/sdktestvault873\",\r\n  \"name\": \"sdktestvault873\",\r\n  \"type\": \"Microsoft.KeyVault/deletedVaults\",\r\n  \"properties\": {\r\n    \"vaultId\": \"/subscriptions/6d8e19c2-3a60-481f-8ebb-118dc3007c5d/resourceGroups/sdktestrg8498/providers/Microsoft.KeyVault/vaults/sdktestvault873\",\r\n    \"location\": \"North Central US\",\r\n    \"tags\": {\r\n      \"tag1\": \"value1\",\r\n      \"tag2\": \"value2\",\r\n      \"tag3\": \"value3\"\r\n    },\r\n    \"deletionDate\": \"2018-06-26T18:03:54Z\",\r\n    \"scheduledPurgeDate\": \"2018-09-24T18:03:54Z\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14998"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/6d8e19c2-3a60-481f-8ebb-118dc3007c5d/providers/Microsoft.KeyVault/locations/North%20Central%20US/deletedVaults/sdktestvault873?api-version=2018-02-14",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The specified resource does not exist.\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14983"
        ]
      },
      "StatusCode": 404
    },
[...]
    {
      "RequestUri": "/subscriptions/6d8e19c2-3a60-481f-8ebb-118dc3007c5d/providers/Microsoft.KeyVault/deletedVaults?api-version=2018-02-14",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/6d8e19c2-3a60-481f-8ebb-118dc3007c5d/providers/Microsoft.KeyVault/locations/northcentralus/deletedVaults/sdktestvault4530\",\r\n      \"name\": \"sdktestvault4530\",\r\n      \"[...]
    {
      "RequestUri": "/subscriptions/6d8e19c2-3a60-481f-8ebb-118dc3007c5d/providers/Microsoft.KeyVault/locations/North%20Central%20US/deletedVaults/sdktestvault4530/purge?api-version=2018-02-14",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/6d8e19c2-3a60-481f-8ebb-118dc3007c5d/providers/Microsoft.KeyVault/locations/northcentralus/operationResults/VVR8MDYzNjY1NjMzMTA3MDQ0Nzc5NXwwRUEzMUFCRThCNDY0MDZEQUZBREZBRTMxQjE1NjU0RA?api-version=2018-02-14"
        ],
        "Retry-After": [
          "5"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1196"
        ]
      },
      "StatusCode": 202
    },
    {
      "RequestUri": "/subscriptions/6d8e19c2-3a60-481f-8ebb-118dc3007c5d/providers/Microsoft.KeyVault/locations/northcentralus/operationResults/VVR8MDYzNjY1NjMzMTA3MDQ0Nzc5NXwwRUEzMUFCRThCNDY0MDZEQUZBREZBRTMxQjE1NjU0RA?api-version=2018-02-14",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"createdDateTime\": \"2018-06-26 18:05:06Z\",\r\n  \"lastActionDateTime\": \"2018-06-26 18:05:14Z\",\r\n  \"status\": \"Succeeded\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14992"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/6d8e19c2-3a60-481f-8ebb-118dc3007c5d/providers/Microsoft.KeyVault/locations/northcentralus/operationResults/VVR8MDYzNjY1NjMzMTE3NzQwODcxNXwzNDg0OUQwNTc0Mzg0OUYzQTAzMDBGRTc0RDMzOUI2Qw?api-version=2018-02-14",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"createdDateTime\": \"2018-06-26 18:05:16Z\",\r\n  \"status\": \"NotStarted\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Location": [
          "https://management.azure.com/subscriptions/6d8e19c2-3a60-481f-8ebb-118dc3007c5d/providers/Microsoft.KeyVault/locations/northcentralus/operationResults/VVR8MDYzNjY1NjMzMTE3NzQwODcxNXwzNDg0OUQwNTc0Mzg0OUYzQTAzMDBGRTc0RDMzOUI2Qw?api-version=2018-02-14"
        ],
        "Retry-After": [
          "5"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14989"
        ]
      },
      "StatusCode": 202
    },
[...]
    {
      "RequestUri": "/subscriptions/6d8e19c2-3a60-481f-8ebb-118dc3007c5d/providers/Microsoft.KeyVault/locations/northcentralus/operationResults/VVR8MDYzNjY1NjMzMTM4NzE2NjY0MHw2REUyMDE1MEYxNTY0N0M5ODBGNkVBODQxQThFNUE0Mw?api-version=2018-02-14",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"createdDateTime\": \"2018-06-26 18:05:37Z\",\r\n  \"lastActionDateTime\": \"2018-06-26 18:05:46Z\",\r\n  \"status\": \"Succeeded\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14985"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/6d8e19c2-3a60-481f-8ebb-118dc3007c5d/providers/Microsoft.KeyVault/deletedVaults?api-version=2018-02-14&%24skiptoken=1dDNboJAFAXgd5k0XRX5rUUT06AMKa13COMMxu4QRsuPQBi0gvHdS%2fsWXdzFSW7OSb4bqsS1W2dVIdH8hkhA2dsKE0adNd%2bgOfrqukbOVfUUV%2fFRnETVTeLh3IpJUp9Ued7LpM2aLqsrqU5TW%2bizxFDMeKoplq0fFFvs94qu22liatpL8pyqTVtfslS0UoUsaWtZH7rJh%2bij%2bFx2aipK0Yn0L8jXuMmUy%2fg5li8MTbcVzVB06%2fFBFuNiXYhqwYtoS6N3Rjn1GI74hs%2bCNS%2f5wfV1YEcTct8g7q4f70oYt0hObMC%2bBnk4QIFN6oY9wXwA7q3CfGcBh54wx6CssAIG6Alt8Yb9fwcy8NECW8GvRe6bwDybup9eWHhLkoMFbrkkmGDKShdY%2bA087IE5o5NjBhyj%2b%2f0H",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/6d8e19c2-3a60-481f-8ebb-118dc3007c5d/providers/Microsoft.KeyVault/locations/westus/deletedVaults/cli-keyvault-2mpilatm5yc\",\r\n      \"name\": \"cli-keyvault-2mpilatm5yc\",\r\n      \"type\": \"Microsoft.KeyVault/deletedVaults\",\r\n      \"properties\": {\r\n        \"vaultId\": \"/subscriptions/6d8e19c2-3a60-481f-8ebb-118dc3007c5d/resourceGroups/cli_test_keyvault_mgmt5ogbv3ud54qaonj2ldzqf6vhrmxdn6lztm2van6zrvlxvu4xcwqus/providers/Microsoft.KeyVault/vaults/cli-keyvault-2mpilatm5yc\",\r\n        \"location\": \"westus\",\r\n        \"tags\": {},\r\n        \"deletionDate\": \"2018-04-26T07:41:07Z\",\r\n        \"scheduledPurgeDate\": \"2018-07-25T07:41:07Z\",\r\n        \"purgeProtectionEnabled\": true\r\n      }\r\n    },\r\n    {\r\n      \"id\": \"/subscriptions/6d8e19c2-3a60-481f-8ebb-118dc3007c5d/providers/Microsoft.KeyVault/locations/westus/deletedVaults/cli-test-keyvault-uajch3\",\r\n      \"name\": \"cli-test-keyvault-uajch3\",\r\n      \"type\": \"Microsoft.KeyVault/deletedVaults\",\r\n      \"properties\": {\r\n        \"vaultId\": \"/subscriptions/6d8e19c2-3a60-481f-8ebb-118dc3007c5d/resourceGroups/cli_test_keyvault_sdpqe7vy7xla6y5kzaw36kcwp4rthkkbdvunlvinam6vq2rsiday4q6qx/pro[...]
