{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.com/messages/streams/test?api-version=2024-02-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 09 Feb 2024 20:55:29 GMT"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "api-supported-versions": "2023-08-24-preview, 2024-02-01",
        "Content-Type": "application/json",
        "MS-CV": "VK1MDsIy\u002B061GGeHS0\u002BCkA.0",
        "X-Processing-Time": "42ms"
      },
      "ResponseBody": {
        "error": {
          "code": "MediaNotFound",
          "message": "Given media object does not exist",
          "innererror": {
            "code": "ErrorCode.IdentifierNotFound",
            "message": "IdentifierNotFound"
          }
        }
      }
    }
  ],
  "Variables": {
    "RandomSeed": "62050493"
  }
}
