{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.com/messages/streams/%20%20?api-version=2024-02-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 09 Feb 2024 20:55:30 GMT"
      },
      "RequestBody": null,
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "OJkq6ViOLku3rD\u002Bjl7wVkg.0",
        "X-Processing-Time": "12ms"
      },
      "ResponseBody": {
        "error": {
          "code": "ModelValidationError",
          "message": "id",
          "target": "id: The id field is required."
        }
      }
    }
  ],
  "Variables": {
    "RandomSeed": "1325290338"
  }
}
