{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.com/messages/streams/%20%20?api-version=2024-02-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 09 Feb 2024 22:12:11 GMT"
      },
      "RequestBody": null,
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "bXsSBuVfjEuFdnxhbjJVEw.0",
        "X-Processing-Time": "6ms"
      },
      "ResponseBody": {
        "error": {
          "code": "ModelValidationError",
          "message": "id",
          "target": "id: The id field is required."
        }
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://sanitized.communication.azure.com/;accesskey=Kg==",
    "RandomSeed": "203714623"
  }
}
