{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.com/messages/streams/test?api-version=2024-02-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 06 Feb 2024 16:05:28 GMT"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "api-supported-versions": "2023-08-24-preview, 2024-02-01",
        "Content-Type": "application/json",
        "MS-CV": "gNjZHctqZEKr3A1\u002BuIC8KQ.0",
        "X-Processing-Time": "67ms"
      },
      "ResponseBody": {
        "error": {
          "code": "MediaNotFound",
          "message": "Given media object does not exist",
          "innererror": {
            "code": "ErrorCode.IdentifierNotFound",
            "message": "IdentifierNotFound"
          }
        }
      }
    }
  ],
  "Variables": {
    "RandomSeed": "104164120"
  }
}
