{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.com/messages/notifications/:send?api-version=2024-02-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Repeatability-First-Sent": "Sanitized",
        "Repeatability-Request-ID": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Sat, 09 Dec 2023 08:08:13 GMT"
      },
      "RequestBody": {
        "channelRegistrationId": "59aced66-68ae-4b7a-8430-36f4c5dfa328",
        "to": [
          "\u002B16041234567"
        ],
        "type": "text",
        "content": "LiveTest"
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "api-supported-versions": "2023-08-24-preview, 2024-02-01",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "8SbndW6jL0SzxFwdhE991Q.0",
        "X-Processing-Time": "282ms"
      },
      "ResponseBody": {
        "receipts": [
          {
            "messageId": "5d508f7e-6a54-4297-8042-97860da87298",
            "to": "\u002B16041234567"
          }
        ]
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://sanitized.communication.azure.com/;accesskey=Kg==",
    "RandomSeed": "253195562",
    "RECIPIENT_IDENTIFIER": "\u002B16041234567",
    "SENDER_CHANNEL_REGISTRATION_ID": "59aced66-68ae-4b7a-8430-36f4c5dfa328"
  }
}
