{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.com/messages/notifications:send?api-version=2024-02-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Repeatability-First-Sent": "Sanitized",
        "Repeatability-Request-ID": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 31 Jan 2024 17:57:11 GMT"
      },
      "RequestBody": {
        "template": {
          "name": "sample_issue_resolution",
          "language": "en_us",
          "values": [
            {
              "text": "Gloria",
              "name": "name",
              "kind": "text"
            },
            {
              "payload": "Yay!",
              "name": "yes",
              "kind": "quickAction"
            },
            {
              "payload": "Nay!",
              "name": "no",
              "kind": "quickAction"
            }
          ],
          "bindings": {
            "body": [
              {
                "refValue": "name"
              }
            ],
            "buttons": [
              {
                "subType": "quickReply",
                "refValue": "yes"
              },
              {
                "subType": "quickReply",
                "refValue": "no"
              }
            ],
            "kind": "whatsApp"
          }
        },
        "channelRegistrationId": "75da05b7-831f-45cf-923d-98e9a9f4c16a",
        "to": [
          "\u002B16041234567"
        ],
        "kind": "template"
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "api-supported-versions": "2023-08-24-preview, 2024-02-01",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "xIf7toitSkSffKsiPCnkNQ.0",
        "Repeatability-Result": "accepted",
        "X-Processing-Time": "274ms"
      },
      "ResponseBody": {
        "receipts": [
          {
            "messageId": "b945ebe4-f955-476f-8475-a24788613ee4",
            "to": "\u002B16041234567"
          }
        ]
      }
    }
  ],
  "Variables": {
    "RandomSeed": "626804743"
  }
}
