{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.com/messages/notifications:send?api-version=2024-02-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Repeatability-First-Sent": "Sanitized",
        "Repeatability-Request-ID": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Sat, 27 Jan 2024 02:50:19 GMT"
      },
      "RequestBody": {
        "template": {
          "name": "sample_purchase_feedback",
          "language": "en_us",
          "values": [
            {
              "url": "https://upload.wikimedia.org/wikipedia/commons/3/30/Building92microsoft.jpg",
              "name": "image",
              "kind": "image"
            },
            {
              "text": "Microsoft Office",
              "name": "product",
              "kind": "text"
            }
          ],
          "bindings": {
            "header": [
              {
                "refValue": "image"
              }
            ],
            "body": [
              {
                "refValue": "product"
              }
            ],
            "kind": "whatsApp"
          }
        },
        "channelRegistrationId": "75da05b7-831f-45cf-923d-98e9a9f4c16a",
        "to": [
          "\u002B16041234567"
        ],
        "kind": "template"
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "api-supported-versions": "2023-08-24-preview, 2024-02-01",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "r\u002Bnm0uTWRUu41nLR\u002B\u002BdY8w.0",
        "Repeatability-Result": "accepted",
        "X-Processing-Time": "558ms"
      },
      "ResponseBody": {
        "receipts": [
          {
            "messageId": "6a7a126f-8532-4ab4-b486-a11617008b3d",
            "to": "\u002B16041234567"
          }
        ]
      }
    }
  ],
  "Variables": {
    "RandomSeed": "503493829"
  }
}
