{
  "Entries": [
    {
      "RequestUri": "https://acsxplatmg-sandbox.unitedstates.communication.azure.com/messages/notifications/:send?api-version=2023-02-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 26 Jul 2023 00:22:05 GMT"
      },
      "RequestBody": {
        "channelRegistrationId": "59aced66-68ae-4b7a-8430-36f4c5dfa328",
        "to": [
          "\u002B16043609258"
        ],
        "type": "template",
        "template": {
          "name": "sample_movie_ticket_confirmation",
          "language": "en_us",
          "values": {
            "image": {
              "kind": "image",
              "image": {
                "url": "https://upload.wikimedia.org/wikipedia/commons/3/30/Building92microsoft.jpg"
              }
            },
            "title": {
              "kind": "text",
              "text": {
                "text": "Avengers"
              }
            },
            "time": {
              "kind": "text",
              "text": {
                "text": "July 1st, 2023 12:30PM"
              }
            },
            "venue": {
              "kind": "text",
              "text": {
                "text": "Cineplex"
              }
            },
            "seats": {
              "kind": "text",
              "text": {
                "text": "Seat 1A"
              }
            }
          },
          "bindings": {
            "whatsApp": {
              "header": [
                {
                  "refValue": "image"
                }
              ],
              "body": [
                {
                  "refValue": "title"
                },
                {
                  "refValue": "time"
                },
                {
                  "refValue": "venue"
                },
                {
                  "refValue": "seats"
                }
              ]
            }
          }
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "api-supported-versions": "2023-02-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "2pd6dKQAG0atYFLYiqGdkw.0",
        "X-Processing-Time": "648ms"
      },
      "ResponseBody": {
        "receipts": [
          {
            "messageId": "26d16e50-008d-4247-8a14-644091a2c007",
            "to": "\u002B16043609258"
          }
        ]
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://sanitized.communication.azure.com/;accesskey=Kg==",
    "RandomSeed": "820457927",
    "RECIPIENT_IDENTIFIER": "\u002B16043609258",
    "SENDER_CHANNEL_REGISTRATION_ID": "59aced66-68ae-4b7a-8430-36f4c5dfa328"
  }
}
