{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.com/messages/notifications/:send?api-version=2023-02-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 26 Jul 2023 17:30:24 GMT"
      },
      "RequestBody": {
        "channelRegistrationId": "59aced66-68ae-4b7a-8430-36f4c5dfa328",
        "to": [
          "\u002B16041234567"
        ],
        "type": "template",
        "template": {
          "name": "sample_purchase_feedback",
          "language": "en_us",
          "values": {
            "image": {
              "kind": "image",
              "image": {
                "url": "https://upload.wikimedia.org/wikipedia/commons/3/30/Building92microsoft.jpg"
              }
            },
            "product": {
              "kind": "text",
              "text": {
                "text": "Microsoft Office"
              }
            }
          },
          "bindings": {
            "whatsApp": {
              "header": [
                {
                  "refValue": "image"
                }
              ],
              "body": [
                {
                  "refValue": "product"
                }
              ]
            }
          }
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "api-supported-versions": "2023-02-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "KKIitoiahEeM26DfK3uomQ.0",
        "X-Processing-Time": "629ms"
      },
      "ResponseBody": {
        "receipts": [
          {
            "messageId": "421b88a1-8225-4c70-be61-a8379520b3c0",
            "to": "\u002B16041234567"
          }
        ]
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://sanitized.communication.azure.com/;accesskey=Kg==",
    "RandomSeed": "51084227",
    "RECIPIENT_IDENTIFIER": "\u002B16041234567",
    "SENDER_CHANNEL_REGISTRATION_ID": "59aced66-68ae-4b7a-8430-36f4c5dfa328"
  }
}
