{
  "Entries": [
    {
      "RequestUri": "https://acsxplatmg-sandbox.unitedstates.communication.azure.com/messages/notifications/:send?api-version=2023-02-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 26 Jul 2023 00:22:07 GMT"
      },
      "RequestBody": {
        "channelRegistrationId": "59aced66-68ae-4b7a-8430-36f4c5dfa328",
        "to": [
          "\u002B16043609258"
        ],
        "type": "template",
        "template": {
          "name": "sample_shipping_confirmation",
          "language": "en_us",
          "values": {
            "threeDays": {
              "kind": "text",
              "text": {
                "text": "3"
              }
            }
          },
          "bindings": {
            "whatsApp": {
              "body": [
                {
                  "refValue": "threeDays"
                }
              ]
            }
          }
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "api-supported-versions": "2023-02-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "Xv9APJc8CUOQ5VEZaNjsDQ.0",
        "X-Processing-Time": "528ms"
      },
      "ResponseBody": {
        "receipts": [
          {
            "messageId": "4ad633ce-258c-4be6-87f6-318dc5d40f38",
            "to": "\u002B16043609258"
          }
        ]
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://sanitized.communication.azure.com/;accesskey=Kg==",
    "RandomSeed": "1967587484",
    "RECIPIENT_IDENTIFIER": "\u002B16043609258",
    "SENDER_CHANNEL_REGISTRATION_ID": "59aced66-68ae-4b7a-8430-36f4c5dfa328"
  }
}
