{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.com/messages/notifications:send?api-version=2024-02-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Repeatability-First-Sent": "Sanitized",
        "Repeatability-Request-ID": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 09 Feb 2024 20:55:44 GMT"
      },
      "RequestBody": {
        "template": {
          "name": "sample_issue_resolution",
          "language": "en_us",
          "values": [
            {
              "text": "Gloria",
              "name": "name",
              "kind": "text"
            },
            {
              "payload": "Yay!",
              "name": "yes",
              "kind": "quickAction"
            },
            {
              "payload": "Nay!",
              "name": "no",
              "kind": "quickAction"
            }
          ],
          "bindings": {
            "body": [
              {
                "refValue": "name"
              }
            ],
            "buttons": [
              {
                "subType": "quickReply",
                "refValue": "yes"
              },
              {
                "subType": "quickReply",
                "refValue": "no"
              }
            ],
            "kind": "whatsApp"
          }
        },
        "channelRegistrationId": "77ffd898-ec44-42cd-b560-57a8903d05c7",
        "to": [
          "\u002B16041234567"
        ],
        "kind": "template"
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "api-supported-versions": "2023-08-24-preview, 2024-02-01",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "azQIUhGzhkyN6/9M7YRo\u002Bg.0",
        "Repeatability-Result": "accepted",
        "X-Processing-Time": "415ms"
      },
      "ResponseBody": {
        "receipts": [
          {
            "messageId": "a4d30b98-be0a-4a23-981c-236fdaf57eb7",
            "to": "\u002B16041234567"
          }
        ]
      }
    }
  ],
  "Variables": {
    "RandomSeed": "875586702"
  }
}
