{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.com/messages/notifications:send?api-version=2024-02-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Repeatability-First-Sent": "Sanitized",
        "Repeatability-Request-ID": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 31 Jan 2024 17:57:14 GMT"
      },
      "RequestBody": {
        "content": "LiveTest",
        "channelRegistrationId": "75da05b7-831f-45cf-923d-98e9a9f4c16a",
        "to": [
          "\u002B16041234567"
        ],
        "kind": "text"
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "api-supported-versions": "2023-08-24-preview, 2024-02-01",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "8/lP/PhmRku16lyeT9atlw.0",
        "Repeatability-Result": "accepted",
        "X-Processing-Time": "274ms"
      },
      "ResponseBody": {
        "receipts": [
          {
            "messageId": "398ea446-aaa4-4b39-9365-92ac864fa071",
            "to": "\u002B16041234567"
          }
        ]
      }
    }
  ],
  "Variables": {
    "RandomSeed": "1292707914"
  }
}
