{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.com/messages/notifications:send?api-version=2024-02-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Repeatability-First-Sent": "Sanitized",
        "Repeatability-Request-ID": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Sat, 27 Jan 2024 02:50:15 GMT"
      },
      "RequestBody": {
        "template": {
          "name": "sample_shipping_confirmation",
          "language": "en_us",
          "values": [
            {
              "text": "3",
              "name": "threeDays",
              "kind": "text"
            }
          ],
          "bindings": {
            "body": [
              {
                "refValue": "threeDays"
              }
            ],
            "kind": "whatsApp"
          }
        },
        "channelRegistrationId": "75da05b7-831f-45cf-923d-98e9a9f4c16a",
        "to": [
          "\u002B16041234567"
        ],
        "kind": "template"
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "api-supported-versions": "2023-08-24-preview, 2024-02-01",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "Y2BMWoOi/06GGDsNc9/fAA.0",
        "Repeatability-Result": "accepted",
        "X-Processing-Time": "570ms"
      },
      "ResponseBody": {
        "receipts": [
          {
            "messageId": "3257f4e3-103b-409e-aeeb-17aba443334e",
            "to": "\u002B16041234567"
          }
        ]
      }
    }
  ],
  "Variables": {
    "RandomSeed": "1276925634"
  }
}
