{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.com/messages/notifications:send?api-version=2024-02-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Repeatability-First-Sent": "Sanitized",
        "Repeatability-Request-ID": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Sat, 27 Jan 2024 02:50:12 GMT"
      },
      "RequestBody": {
        "content": "LiveTest",
        "channelRegistrationId": "75da05b7-831f-45cf-923d-98e9a9f4c16a",
        "to": [
          "\u002B16041234567"
        ],
        "kind": "text"
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "api-supported-versions": "2023-08-24-preview, 2024-02-01",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "x8g\u002B052BCEWD3N9BTa4O2w.0",
        "Repeatability-Result": "accepted",
        "X-Processing-Time": "550ms"
      },
      "ResponseBody": {
        "receipts": [
          {
            "messageId": "6d65e54f-b87a-4b0c-8caf-2d103bdcf279",
            "to": "\u002B16041234567"
          }
        ]
      }
    }
  ],
  "Variables": {
    "RandomSeed": "2001044880"
  }
}
