{
  "Entries": [
    {
      "RequestUri": "https://acsxplatmg-sandbox.unitedstates.communication.azure.com/messages/notifications/:send?api-version=2023-02-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 26 Jul 2023 00:22:05 GMT"
      },
      "RequestBody": {
        "channelRegistrationId": "59aced66-68ae-4b7a-8430-36f4c5dfa328",
        "to": [
          "\u002B16043609258"
        ],
        "type": "text",
        "content": "LiveTest"
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "api-supported-versions": "2023-02-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "jM7ngFneHkqkgaG6Wt776A.0",
        "X-Processing-Time": "760ms"
      },
      "ResponseBody": {
        "receipts": [
          {
            "messageId": "4d4dd5ff-10bf-41ee-a20e-b4d7c5898dc3",
            "to": "\u002B16043609258"
          }
        ]
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://sanitized.communication.azure.com/;accesskey=Kg==",
    "RandomSeed": "452774152",
    "RECIPIENT_IDENTIFIER": "\u002B16043609258",
    "SENDER_CHANNEL_REGISTRATION_ID": "59aced66-68ae-4b7a-8430-36f4c5dfa328"
  }
}
