{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.com/messages/notifications:send?api-version=2024-02-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Repeatability-First-Sent": "Sanitized",
        "Repeatability-Request-ID": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 09 Feb 2024 20:55:38 GMT"
      },
      "RequestBody": {
        "template": {
          "name": "invalid_template",
          "language": "en_us"
        },
        "channelRegistrationId": "77ffd898-ec44-42cd-b560-57a8903d05c7",
        "to": [
          "\u002B16041234567"
        ],
        "kind": "template"
      },
      "StatusCode": 404,
      "ResponseHeaders": {
        "api-supported-versions": "2023-08-24-preview, 2024-02-01",
        "Content-Type": "application/json",
        "MS-CV": "hExiuALD/Uuh\u002Bo45Ym6w7g.0",
        "Repeatability-Result": "accepted",
        "X-Processing-Time": "206ms"
      },
      "ResponseBody": {
        "error": {
          "code": "TemplateNotFound",
          "message": "Template does not exist",
          "innererror": {
            "code": "WaErrorCode.TemplateNotFound",
            "message": "TemplateNotFound: (#132001) Template name does not exist in the translation"
          }
        }
      }
    }
  ],
  "Variables": {
    "RandomSeed": "1556729647"
  }
}
