{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.com/messages/notifications/:send?api-version=2024-02-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Repeatability-First-Sent": "Sanitized",
        "Repeatability-Request-ID": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Sat, 09 Dec 2023 08:08:17 GMT"
      },
      "RequestBody": {
        "channelRegistrationId": "59aced66-68ae-4b7a-8430-36f4c5dfa328",
        "to": [
          "\u002B16041234567"
        ],
        "type": "template",
        "template": {
          "name": "sample_movie_ticket_confirmation",
          "language": "en_us",
          "values": {
            "image": {
              "kind": "image",
              "image": {
                "url": "https://upload.wikimedia.org/wikipedia/commons/3/30/Building92microsoft.jpg"
              }
            },
            "title": {
              "kind": "text",
              "text": {
                "text": "Avengers"
              }
            },
            "time": {
              "kind": "text",
              "text": {
                "text": "July 1st, 2023 12:30PM"
              }
            },
            "venue": {
              "kind": "text",
              "text": {
                "text": "Cineplex"
              }
            },
            "seats": {
              "kind": "text",
              "text": {
                "text": "Seat 1A"
              }
            }
          },
          "bindings": {
            "whatsApp": {
              "header": [
                {
                  "refValue": "image"
                }
              ],
              "body": [
                {
                  "refValue": "title"
                },
                {
                  "refValue": "time"
                },
                {
                  "refValue": "venue"
                },
                {
                  "refValue": "seats"
                }
              ]
            }
          }
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "api-supported-versions": "2023-08-24-preview, 2024-02-01",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "Vq7DQb8kT0SAqxYe62HB6g.0",
        "X-Processing-Time": "371ms"
      },
      "ResponseBody": {
        "receipts": [
          {
            "messageId": "fab28990-8bcd-49dc-9e93-deb150c998eb",
            "to": "\u002B16041234567"
          }
        ]
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://sanitized.communication.azure.com/;accesskey=Kg==",
    "RandomSeed": "1989769539",
    "RECIPIENT_IDENTIFIER": "\u002B16041234567",
    "SENDER_CHANNEL_REGISTRATION_ID": "59aced66-68ae-4b7a-8430-36f4c5dfa328"
  }
}
