{
  "Entries": [
    {
      "RequestUri": "https://acsxplatmg-sandbox.unitedstates.communication.azure.com/messages/notifications/:send?api-version=2023-02-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 26 Jul 2023 00:21:57 GMT"
      },
      "RequestBody": {
        "channelRegistrationId": "59aced66-68ae-4b7a-8430-36f4c5dfa328",
        "to": [
          "\u002B16043609258"
        ],
        "type": "template",
        "template": {
          "name": "sample_happy_hour_announcement",
          "language": "en_us",
          "values": {
            "venue": {
              "kind": "text",
              "text": {
                "text": "Starbucks"
              }
            },
            "time": {
              "kind": "text",
              "text": {
                "text": "Today 2-4PM"
              }
            },
            "video": {
              "kind": "video",
              "video": {
                "url": "https://sample-videos.com/video123/mp4/720/big_buck_bunny_720p_1mb.mp4"
              }
            }
          },
          "bindings": {
            "whatsApp": {
              "header": [
                {
                  "refValue": "video"
                }
              ],
              "body": [
                {
                  "refValue": "venue"
                },
                {
                  "refValue": "time"
                }
              ]
            }
          }
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "api-supported-versions": "2023-02-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "vhA0hvcErUWIu7PWWj1IAQ.0",
        "X-Processing-Time": "1144ms"
      },
      "ResponseBody": {
        "receipts": [
          {
            "messageId": "24980b84-3a83-477b-a5d0-2c30314deb96",
            "to": "\u002B16043609258"
          }
        ]
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://sanitized.communication.azure.com/;accesskey=Kg==",
    "RandomSeed": "1225023802",
    "RECIPIENT_IDENTIFIER": "\u002B16043609258",
    "SENDER_CHANNEL_REGISTRATION_ID": "59aced66-68ae-4b7a-8430-36f4c5dfa328"
  }
}
