{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.com/messages/notifications/:send?api-version=2023-08-24-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 18 Aug 2023 18:08:00 GMT"
      },
      "RequestBody": {
        "channelRegistrationId": "59aced66-68ae-4b7a-8430-36f4c5dfa328",
        "to": [
          "\u002B16041234567"
        ],
        "type": "text",
        "content": "LiveTest"
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "api-supported-versions": "2023-02-01-preview, 2023-08-24-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "tkVciEwfKUGE5q6\u002BRJGRzw.0",
        "X-Processing-Time": "356ms"
      },
      "ResponseBody": {
        "receipts": [
          {
            "messageId": "97f98eeb-ec25-415f-afdf-161a4a42b2bd",
            "to": "\u002B16041234567"
          }
        ]
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://sanitized.communication.azure.com/;accesskey=Kg==",
    "RandomSeed": "1572942681",
    "RECIPIENT_IDENTIFIER": "\u002B16041234567",
    "SENDER_CHANNEL_REGISTRATION_ID": "59aced66-68ae-4b7a-8430-36f4c5dfa328"
  }
}
