{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.com/messages/notifications/:send?api-version=2023-08-24-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Repeatability-First-Sent": "Sanitized",
        "Repeatability-Request-ID": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Sat, 09 Dec 2023 07:26:29 GMT"
      },
      "RequestBody": {
        "channelRegistrationId": "59aced66-68ae-4b7a-8430-36f4c5dfa328",
        "to": [
          "\u002B16041234567"
        ],
        "type": "template",
        "template": {
          "name": "sample_happy_hour_announcement",
          "language": "en_us",
          "values": {
            "venue": {
              "kind": "text",
              "text": {
                "text": "Starbucks"
              }
            },
            "time": {
              "kind": "text",
              "text": {
                "text": "Today 2-4PM"
              }
            },
            "video": {
              "kind": "video",
              "video": {
                "url": "https://sample-videos.com/video123/mp4/720/big_buck_bunny_720p_1mb.mp4"
              }
            }
          },
          "bindings": {
            "whatsApp": {
              "header": [
                {
                  "refValue": "video"
                }
              ],
              "body": [
                {
                  "refValue": "venue"
                },
                {
                  "refValue": "time"
                }
              ]
            }
          }
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "api-supported-versions": "2023-08-24-preview, 2024-02-01",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "VFLmuxPa\u002BEy6aB\u002BSSIYX0w.0",
        "X-Processing-Time": "332ms"
      },
      "ResponseBody": {
        "receipts": [
          {
            "messageId": "aacb11a6-68ca-40da-a448-0e7c580e52af",
            "to": "\u002B16041234567"
          }
        ]
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://sanitized.communication.azure.com/;accesskey=Kg==",
    "RandomSeed": "1207162530",
    "RECIPIENT_IDENTIFIER": "\u002B16041234567",
    "SENDER_CHANNEL_REGISTRATION_ID": "59aced66-68ae-4b7a-8430-36f4c5dfa328"
  }
}
