{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.com/messages/notifications:send?api-version=2024-02-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Repeatability-First-Sent": "Sanitized",
        "Repeatability-Request-ID": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 09 Feb 2024 20:55:34 GMT"
      },
      "RequestBody": {
        "template": {
          "name": "sample_happy_hour_announcement",
          "language": "en_us",
          "values": [
            {
              "text": "Starbucks",
              "name": "venue",
              "kind": "text"
            },
            {
              "text": "Today 2-4PM",
              "name": "time",
              "kind": "text"
            },
            {
              "url": "https://sample-videos.com/video321/mp4/720/big_buck_bunny_720p_1mb.mp4",
              "name": "video",
              "kind": "video"
            }
          ],
          "bindings": {
            "header": [
              {
                "refValue": "video"
              }
            ],
            "body": [
              {
                "refValue": "venue"
              },
              {
                "refValue": "time"
              }
            ],
            "kind": "whatsApp"
          }
        },
        "channelRegistrationId": "77ffd898-ec44-42cd-b560-57a8903d05c7",
        "to": [
          "\u002B16041234567"
        ],
        "kind": "template"
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "api-supported-versions": "2023-08-24-preview, 2024-02-01",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "EfUQeiiNjEiUqcteqEqHog.0",
        "Repeatability-Result": "accepted",
        "X-Processing-Time": "482ms"
      },
      "ResponseBody": {
        "receipts": [
          {
            "messageId": "219f35b5-6c3a-4366-b248-12aa7a1ac03f",
            "to": "\u002B16041234567"
          }
        ]
      }
    }
  ],
  "Variables": {
    "RandomSeed": "1717864924"
  }
}
