{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.com/messages/notifications/:send?api-version=2024-02-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Repeatability-First-Sent": "Sanitized",
        "Repeatability-Request-ID": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 21 Dec 2023 07:56:40 GMT"
      },
      "RequestBody": {
        "channelRegistrationId": "75da05b7-831f-45cf-923d-98e9a9f4c16a",
        "to": [
          "\u002B16041234567"
        ],
        "type": "template",
        "template": {
          "name": "sample_flight_confirmation",
          "language": "en_us",
          "values": [
            {
              "url": "https://go.microsoft.com/fwlink/?linkid=2131549",
              "kind": "document",
              "name": "document"
            },
            {
              "text": "Gloria",
              "kind": "text",
              "name": "firstName"
            },
            {
              "text": "Li",
              "kind": "text",
              "name": "lastName"
            },
            {
              "text": "July 1st, 2023",
              "kind": "text",
              "name": "date"
            }
          ],
          "bindings": {
            "header": [
              {
                "refValue": "document"
              }
            ],
            "body": [
              {
                "refValue": "firstName"
              },
              {
                "refValue": "lastName"
              },
              {
                "refValue": "date"
              }
            ],
            "kind": "whatsApp"
          }
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "api-supported-versions": "2023-08-24-preview, 2024-02-01",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "GjeqRB1c9kW1tsb89\u002Bubxw.0",
        "X-Processing-Time": "514ms"
      },
      "ResponseBody": {
        "receipts": [
          {
            "messageId": "d76116d7-edb3-4572-a017-1e00b2f5bd54",
            "to": "\u002B16041234567"
          }
        ]
      }
    }
  ],
  "Variables": {
    "RandomSeed": "1198062056"
  }
}
