{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.com/messages/notifications:send?api-version=2024-02-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Repeatability-First-Sent": "Sanitized",
        "Repeatability-Request-ID": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 31 Jan 2024 17:57:18 GMT"
      },
      "RequestBody": {
        "content": "LiveTest",
        "channelRegistrationId": "75da05b7-831f-45cf-923d-98e9a9f4c16a",
        "to": [
          "\u002B16041234567"
        ],
        "kind": "text"
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "api-supported-versions": "2023-08-24-preview, 2024-02-01",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "lVFg5aaovkS2Q/AcGK90TQ.0",
        "Repeatability-Result": "accepted",
        "X-Processing-Time": "293ms"
      },
      "ResponseBody": {
        "receipts": [
          {
            "messageId": "f46882c8-9866-4e16-8485-589e6c4ec3e8",
            "to": "\u002B16041234567"
          }
        ]
      }
    }
  ],
  "Variables": {
    "RandomSeed": "1149018175"
  }
}
