{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.com/messages/notifications/:send?api-version=2023-08-24-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Repeatability-First-Sent": "Sanitized",
        "Repeatability-Request-ID": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Sat, 09 Dec 2023 07:26:27 GMT"
      },
      "RequestBody": {
        "channelRegistrationId": "59aced66-68ae-4b7a-8430-36f4c5dfa328",
        "to": [
          "\u002B16041234567"
        ],
        "type": "template",
        "template": {
          "name": "sample_purchase_feedback",
          "language": "en_us",
          "values": {
            "image": {
              "kind": "image",
              "image": {
                "url": "https://upload.wikimedia.org/wikipedia/commons/3/30/Building92microsoft.jpg"
              }
            },
            "product": {
              "kind": "text",
              "text": {
                "text": "Microsoft Office"
              }
            }
          },
          "bindings": {
            "whatsApp": {
              "header": [
                {
                  "refValue": "image"
                }
              ],
              "body": [
                {
                  "refValue": "product"
                }
              ]
            }
          }
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "api-supported-versions": "2023-08-24-preview, 2024-02-01",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "PJLClue6aUKbtxd2zOlMhQ.0",
        "X-Processing-Time": "288ms"
      },
      "ResponseBody": {
        "receipts": [
          {
            "messageId": "7502beec-0067-4121-bdbd-f20a638f2a17",
            "to": "\u002B16041234567"
          }
        ]
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://sanitized.communication.azure.com/;accesskey=Kg==",
    "RandomSeed": "1153637512",
    "RECIPIENT_IDENTIFIER": "\u002B16041234567",
    "SENDER_CHANNEL_REGISTRATION_ID": "59aced66-68ae-4b7a-8430-36f4c5dfa328"
  }
}
