{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.com/messages/notifications:send?api-version=2024-02-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Repeatability-First-Sent": "Sanitized",
        "Repeatability-Request-ID": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 31 Jan 2024 17:57:15 GMT"
      },
      "RequestBody": {
        "template": {
          "name": "sample_happy_hour_announcement",
          "language": "en_us",
          "values": [
            {
              "text": "Starbucks",
              "name": "venue",
              "kind": "text"
            },
            {
              "text": "Today 2-4PM",
              "name": "time",
              "kind": "text"
            },
            {
              "url": "https://sample-videos.com/video123/mp4/720/big_buck_bunny_720p_1mb.mp4",
              "name": "video",
              "kind": "video"
            }
          ],
          "bindings": {
            "header": [
              {
                "refValue": "video"
              }
            ],
            "body": [
              {
                "refValue": "venue"
              },
              {
                "refValue": "time"
              }
            ],
            "kind": "whatsApp"
          }
        },
        "channelRegistrationId": "75da05b7-831f-45cf-923d-98e9a9f4c16a",
        "to": [
          "\u002B16041234567"
        ],
        "kind": "template"
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "api-supported-versions": "2023-08-24-preview, 2024-02-01",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "2ug3qZ8dJUKKmMSngqb7Sw.0",
        "Repeatability-Result": "accepted",
        "X-Processing-Time": "364ms"
      },
      "ResponseBody": {
        "receipts": [
          {
            "messageId": "f6e0b0a3-6fb6-4ef0-a47e-3030db322b62",
            "to": "\u002B16041234567"
          }
        ]
      }
    }
  ],
  "Variables": {
    "RandomSeed": "792062981"
  }
}
