{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.com/messages/notifications:send?api-version=2024-02-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Repeatability-First-Sent": "Sanitized",
        "Repeatability-Request-ID": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Sat, 27 Jan 2024 02:50:13 GMT"
      },
      "RequestBody": {
        "template": {
          "name": "sample_movie_ticket_confirmation",
          "language": "en_us",
          "values": [
            {
              "url": "https://upload.wikimedia.org/wikipedia/commons/3/30/Building92microsoft.jpg",
              "name": "image",
              "kind": "image"
            },
            {
              "text": "Avengers",
              "name": "title",
              "kind": "text"
            },
            {
              "text": "July 1st, 2023 12:30PM",
              "name": "time",
              "kind": "text"
            },
            {
              "text": "Cineplex",
              "name": "venue",
              "kind": "text"
            },
            {
              "text": "Seat 1A",
              "name": "seats",
              "kind": "text"
            }
          ],
          "bindings": {
            "header": [
              {
                "refValue": "image"
              }
            ],
            "body": [
              {
                "refValue": "title"
              },
              {
                "refValue": "time"
              },
              {
                "refValue": "venue"
              },
              {
                "refValue": "seats"
              }
            ],
            "kind": "whatsApp"
          }
        },
        "channelRegistrationId": "75da05b7-831f-45cf-923d-98e9a9f4c16a",
        "to": [
          "\u002B16041234567"
        ],
        "kind": "template"
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "api-supported-versions": "2023-08-24-preview, 2024-02-01",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "m9GRwZVQE0WXU44HJg5hpw.0",
        "Repeatability-Result": "accepted",
        "X-Processing-Time": "702ms"
      },
      "ResponseBody": {
        "receipts": [
          {
            "messageId": "7c37f077-bfe5-4096-960a-ea29ae04490a",
            "to": "\u002B16041234567"
          }
        ]
      }
    }
  ],
  "Variables": {
    "RandomSeed": "2038202785"
  }
}
