{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.com/messages/notifications:send?api-version=2024-02-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Repeatability-First-Sent": "Sanitized",
        "Repeatability-Request-ID": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 09 Feb 2024 20:55:40 GMT"
      },
      "RequestBody": {
        "content": "",
        "channelRegistrationId": "77ffd898-ec44-42cd-b560-57a8903d05c7",
        "to": [
          "\u002B16041234567"
        ],
        "kind": "text"
      },
      "StatusCode": 400,
      "ResponseHeaders": {
        "api-supported-versions": "2023-08-24-preview, 2024-02-01",
        "Content-Type": "application/json",
        "MS-CV": "n613j/xxVUese/\u002BJwG2/4g.0",
        "Repeatability-Result": "accepted",
        "X-Processing-Time": "21ms"
      },
      "ResponseBody": {
        "error": {
          "code": "BadRequest",
          "message": "A non-empty \u0022Content\u0022 is required when message type is Text."
        }
      }
    }
  ],
  "Variables": {
    "RandomSeed": "1637152911"
  }
}
