{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.com/messages/notifications/:send?api-version=2023-08-24-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Sat, 07 Oct 2023 01:01:23 GMT"
      },
      "RequestBody": {
        "channelRegistrationId": "59aced66-68ae-4b7a-8430-36f4c5dfa328",
        "to": [
          "\u002B16041234567"
        ],
        "type": "template",
        "template": {
          "name": "sample_issue_resolution",
          "language": "en_us",
          "values": {
            "name": {
              "kind": "text",
              "text": {
                "text": "Gloria"
              }
            },
            "yes": {
              "kind": "quick_action",
              "quickAction": {
                "payload": "Yay!"
              }
            },
            "no": {
              "kind": "quick_action",
              "quickAction": {
                "payload": "Nay!"
              }
            }
          },
          "bindings": {
            "whatsApp": {
              "body": [
                {
                  "refValue": "name"
                }
              ],
              "button": [
                {
                  "subType": "quickReply",
                  "refValue": "yes"
                },
                {
                  "subType": "quickReply",
                  "refValue": "no"
                }
              ]
            }
          }
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "api-supported-versions": "2023-02-01-preview, 2023-08-24-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "ZrDgRvpSJEKn45UDZqY6lA.0",
        "X-Processing-Time": "642ms"
      },
      "ResponseBody": {
        "receipts": [
          {
            "messageId": "77673d05-57de-4926-b22a-973e348ce44f",
            "to": "\u002B16041234567"
          }
        ]
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://sanitized.communication.azure.com/;accesskey=Kg==",
    "RandomSeed": "1388647227",
    "RECIPIENT_IDENTIFIER": "\u002B16041234567",
    "SENDER_CHANNEL_REGISTRATION_ID": "59aced66-68ae-4b7a-8430-36f4c5dfa328"
  }
}
