{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.com/messages/notifications/:send?api-version=2023-08-24-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 18 Aug 2023 18:07:58 GMT"
      },
      "RequestBody": {
        "channelRegistrationId": "59aced66-68ae-4b7a-8430-36f4c5dfa328",
        "to": [
          "\u002B16041234567"
        ],
        "type": "template",
        "template": {
          "name": "sample_shipping_confirmation",
          "language": "en_us",
          "values": {
            "threeDays": {
              "kind": "text",
              "text": {
                "text": "3"
              }
            }
          },
          "bindings": {
            "whatsApp": {
              "body": [
                {
                  "refValue": "threeDays"
                }
              ]
            }
          }
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "api-supported-versions": "2023-02-01-preview, 2023-08-24-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "oaoBd4oOaUatU7ax0lxBfQ.0",
        "X-Processing-Time": "348ms"
      },
      "ResponseBody": {
        "receipts": [
          {
            "messageId": "247f899e-2106-467b-85eb-5f94cd7d994f",
            "to": "\u002B16041234567"
          }
        ]
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://sanitized.communication.azure.com/;accesskey=Kg==",
    "RandomSeed": "564286513",
    "RECIPIENT_IDENTIFIER": "\u002B16041234567",
    "SENDER_CHANNEL_REGISTRATION_ID": "59aced66-68ae-4b7a-8430-36f4c5dfa328"
  }
}
