{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.com/messages/notifications:send?api-version=2024-02-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Repeatability-First-Sent": "Sanitized",
        "Repeatability-Request-ID": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Sat, 27 Jan 2024 02:50:16 GMT"
      },
      "RequestBody": {
        "template": {
          "name": "sample_flight_confirmation",
          "language": "en_us",
          "values": [
            {
              "url": "https://go.microsoft.com/fwlink/?linkid=2131549",
              "name": "document",
              "kind": "document"
            },
            {
              "text": "Gloria",
              "name": "firstName",
              "kind": "text"
            },
            {
              "text": "Li",
              "name": "lastName",
              "kind": "text"
            },
            {
              "text": "July 1st, 2023",
              "name": "date",
              "kind": "text"
            }
          ],
          "bindings": {
            "header": [
              {
                "refValue": "document"
              }
            ],
            "body": [
              {
                "refValue": "firstName"
              },
              {
                "refValue": "lastName"
              },
              {
                "refValue": "date"
              }
            ],
            "kind": "whatsApp"
          }
        },
        "channelRegistrationId": "75da05b7-831f-45cf-923d-98e9a9f4c16a",
        "to": [
          "\u002B16041234567"
        ],
        "kind": "template"
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "api-supported-versions": "2023-08-24-preview, 2024-02-01",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "OygQGcDg80GJg8zq8d/3zQ.0",
        "Repeatability-Result": "accepted",
        "X-Processing-Time": "542ms"
      },
      "ResponseBody": {
        "receipts": [
          {
            "messageId": "45683025-2a5b-45fa-82cf-0ac0c9e77604",
            "to": "\u002B16041234567"
          }
        ]
      }
    }
  ],
  "Variables": {
    "RandomSeed": "205758322"
  }
}
