{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.com/messages/notifications:send?api-version=2024-02-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Repeatability-First-Sent": "Sanitized",
        "Repeatability-Request-ID": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 09 Feb 2024 20:55:33 GMT"
      },
      "RequestBody": {
        "template": {
          "name": "sample_flight_confirmation",
          "language": "en_us",
          "values": [
            {
              "url": "https://file-examples.com/storage/fe63e96e0365c0e1e99a842/2017/10/file-sample_150kB.pdf",
              "name": "document",
              "kind": "document"
            },
            {
              "text": "Gloria",
              "name": "firstName",
              "kind": "text"
            },
            {
              "text": "Li",
              "name": "lastName",
              "kind": "text"
            },
            {
              "text": "July 1st, 2023",
              "name": "date",
              "kind": "text"
            }
          ],
          "bindings": {
            "header": [
              {
                "refValue": "document"
              }
            ],
            "body": [
              {
                "refValue": "firstName"
              },
              {
                "refValue": "lastName"
              },
              {
                "refValue": "date"
              }
            ],
            "kind": "whatsApp"
          }
        },
        "channelRegistrationId": "77ffd898-ec44-42cd-b560-57a8903d05c7",
        "to": [
          "\u002B16041234567"
        ],
        "kind": "template"
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "api-supported-versions": "2023-08-24-preview, 2024-02-01",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "2R3nxaxip0mvyUEpzk7Ggw.0",
        "Repeatability-Result": "accepted",
        "X-Processing-Time": "554ms"
      },
      "ResponseBody": {
        "receipts": [
          {
            "messageId": "9d84b09d-476c-43a2-99f2-e8c873a77ab9",
            "to": "\u002B16041234567"
          }
        ]
      }
    }
  ],
  "Variables": {
    "RandomSeed": "1879891512"
  }
}
