{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.com/messages/notifications/:send?api-version=2023-08-24-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Repeatability-First-Sent": "Sanitized",
        "Repeatability-Request-ID": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Sat, 09 Dec 2023 07:26:25 GMT"
      },
      "RequestBody": {
        "channelRegistrationId": "59aced66-68ae-4b7a-8430-36f4c5dfa328",
        "to": [
          "\u002B16041234567"
        ],
        "type": "template",
        "template": {
          "name": "sample_flight_confirmation",
          "language": "en_us",
          "values": {
            "document": {
              "kind": "document",
              "document": {
                "url": "https://go.microsoft.com/fwlink/?linkid=2131549"
              }
            },
            "firstName": {
              "kind": "text",
              "text": {
                "text": "Gloria"
              }
            },
            "lastName": {
              "kind": "text",
              "text": {
                "text": "Li"
              }
            },
            "date": {
              "kind": "text",
              "text": {
                "text": "July 1st, 2023"
              }
            }
          },
          "bindings": {
            "whatsApp": {
              "header": [
                {
                  "refValue": "document"
                }
              ],
              "body": [
                {
                  "refValue": "firstName"
                },
                {
                  "refValue": "lastName"
                },
                {
                  "refValue": "date"
                }
              ]
            }
          }
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "api-supported-versions": "2023-08-24-preview, 2024-02-01",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "ZP\u002BRDjpwWUaVUeQVOcQ\u002BDg.0",
        "X-Processing-Time": "351ms"
      },
      "ResponseBody": {
        "receipts": [
          {
            "messageId": "354d189f-e275-4bc3-ba7c-5fc8341b1fa0",
            "to": "\u002B16041234567"
          }
        ]
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://sanitized.communication.azure.com/;accesskey=Kg==",
    "RandomSeed": "1381235971",
    "RECIPIENT_IDENTIFIER": "\u002B16041234567",
    "SENDER_CHANNEL_REGISTRATION_ID": "59aced66-68ae-4b7a-8430-36f4c5dfa328"
  }
}
