{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "id": "/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57",
        "authorizationSource": "Bypassed",
        "managedByTenants": [],
        "subscriptionId": "faa080af-c1d8-40ad-9cce-e1a450ca5b57",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": "Azure SDK Developer Playground",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-securitydevops/providers/Microsoft.SecurityDevOps/gitHubConnectors/securitydevops-ghconnector5440?api-version=2022-09-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022a105cabd-0000-0300-0000-6328d47f0000\u0022",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-reads": "11998"
      },
      "ResponseBody": {
        "id": "/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-securitydevops/providers/Microsoft.SecurityDevOps/gitHubConnectors/securitydevops-ghconnector5440",
        "name": "securitydevops-ghconnector5440",
        "type": "microsoft.securitydevops/githubconnectors",
        "location": "centralus",
        "tags": {},
        "systemData": {
          "createdBy": "6a336720-ffa6-493b-bbd8-48cca8a27ad4",
          "createdByType": "Application",
          "createdAt": "2022-09-19T23:31:30.8462066Z",
          "lastModifiedBy": "6a336720-ffa6-493b-bbd8-48cca8a27ad4",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2022-09-19T23:31:30.8462066Z"
        },
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com/",
    "LOCATION": "centralus",
    "RandomSeed": "2104521575",
    "RESOURCE_GROUP": "rg-securitydevops",
    "RESOURCE_MANAGER_URL": "https://management.azure.com/",
    "SUBSCRIPTION_ID": "faa080af-c1d8-40ad-9cce-e1a450ca5b57"
  }
}
