{
  "Entries": [
    {
      "RequestUri": "https://seanoauthstage.blob.core.windows.net/test-container-dabdbfef-8a05-d5c9-7b4f-02286b2298e4/test-blob-a4fef3d2-9216-4160-255e-be9c5882cedd?comp=immutabilityPolicies",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 04 Jun 2021 19:06:10 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "BlobNotFound",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": [
        "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?>\n",
        "<Error><Code>BlobNotFound</Code><Message>The specified blob does not exist.\n",
        "RequestId:fefabbd1-701e-000f-5d74-59d0c5000000\n",
        "Time:2021-06-04T19:06:09.8605224Z</Message></Error>"
      ]
    },
    {
      "RequestUri": "https://seanoauthstage.blob.core.windows.net/test-container-dabdbfef-8a05-d5c9-7b4f-02286b2298e4?restype=container&comp=list&include=Immutabilitypolicy%2CLegalhold",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 04 Jun 2021 19:06:10 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://seanoauthstage.blob.core.windows.net/\" ContainerName=\"test-container-dabdbfef-8a05-d5c9-7b4f-02286b2298e4\"><Blobs /><NextMarker /></EnumerationResults>"
    }
  ],
  "Variables": {
    "RandomSeed": "382637381",
    "Storage_TestConfigOAuth": "OAuthTenant\nseanoauthstage\nU2FuaXRpemVk\nhttps://seanoauthstage.blob.core.windows.net\nhttps://seanoauthstage.file.core.windows.net\nhttps://seanoauthstage.queue.core.windows.net\nhttps://seanoauthstage.table.core.windows.net\n\n\n\n\nhttps://seanoauthstage-secondary.blob.core.windows.net\nhttps://seanoauthstage-secondary.file.core.windows.net\nhttps://seanoauthstage-secondary.queue.core.windows.net\nhttps://seanoauthstage-secondary.table.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://seanoauthstage.blob.core.windows.net/;QueueEndpoint=https://seanoauthstage.queue.core.windows.net/;FileEndpoint=https://seanoauthstage.file.core.windows.net/;BlobSecondaryEndpoint=https://seanoauthstage-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanoauthstage-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanoauthstage-secondary.file.core.windows.net/;AccountName=seanoauthstage;AccountKey=Sanitized\n\n\n"
  }
}