{
  "Entries": [
    {
      "RequestUri": "https://seanoauthstage.blob.core.windows.net/test-container-12ad17f9-cc2a-01c8-23aa-9fc27864b9b3/test-blob-436e10ad-ce4a-1298-9ba7-7a3cce49f5e1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 08 Jul 2021 16:23:27 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": "peVVmYha6neG\u002BBEb1Sojbbr0LVH9DOkqfpt3glKMM9m1vRyTDiArUib2vFK9fTxwhAyB2Ryk5Jn8Kxvs42cl\u002BsU3ZhcNkF\u002BayNsrBk\u002BXbABfBv1GClm9EdmDl\u002BMEP2\u002B\u002B0cKMhRYkYvSt5xFAeN5JZL4ajdxp3u9selU\u002Bivh7lYlsbDSNCubpOqMJmSJHfJj6OjIk6bKSVPPSIAvB5dj7MVGI1Aupu1rYMFI5YETNJP29RFDGV6vX2hhBu\u002BrbKFXLDWjRv6eMUX7XS7hfWfSuBfwNBKGHNdmlsfrzZwBw/Aj9bVLc\u002B2RWMPLS7gvzd4Akk7btzSSzQ9iPKw6tmOl9Z0\u002BwYeuh0QmXt9OutUbNsjl5z9RKgi7kSSl5TdBVqZgJVIe8QhWVgsGsVhZQBY6SwXjVM8gUM\u002BUgzBjCJ4Q4QQ47pGG/EHAj5E[...]
    {
      "RequestUri": "https://seanoauthstage.blob.core.windows.net/test-container-12ad17f9-cc2a-01c8-23aa-9fc27864b9b3/test-blob-436e10ad-ce4a-1298-9ba7-7a3cce49f5e1?sv=2020-10-02\u0026se=2021-07-09T16%3A23%3A27Z\u0026sr=b\u0026sp=i\u0026sig=Sanitized\u0026comp=immutabilityPolicies",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-immutability-policy-mode": "Unlocked",
        "x-ms-immutability-policy-until-date": "Thu, 08 Jul 2021 16:28:27 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "x-ms-immutability-policy-mode": "unlocked",
        "x-ms-immutability-policy-until-date": "Thu, 08 Jul 2021 16:28:27 GMT",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanoauthstage.blob.core.windows.net/test-container-12ad17f9-cc2a-01c8-23aa-9fc27864b9b3/test-blob-436e10ad-ce4a-1298-9ba7-7a3cce49f5e1?sv=2020-10-02\u0026se=2021-07-09T16%3A23%3A27Z\u0026sr=b\u0026sp=i\u0026sig=Sanitized\u0026comp=legalhold",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-legal-hold": "false",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "x-ms-legal-hold": "false",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanoauthstage.blob.core.windows.net/test-container-12ad17f9-cc2a-01c8-23aa-9fc27864b9b3?restype=container\u0026comp=list\u0026include=Immutabilitypolicy%2CLegalhold",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 08 Jul 2021 16:23:27 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": [...]
    {
      "RequestUri": "https://seanoauthstage.blob.core.windows.net/test-container-12ad17f9-cc2a-01c8-23aa-9fc27864b9b3/test-blob-436e10ad-ce4a-1298-9ba7-7a3cce49f5e1?comp=immutabilityPolicies",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 08 Jul 2021 16:23:27 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanoauthstage.blob.core.windows.net/test-container-12ad17f9-cc2a-01c8-23aa-9fc27864b9b3/test-blob-436e10ad-ce4a-1298-9ba7-7a3cce49f5e1",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 08 Jul 2021 16:23:27 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-delete-type-permanent": "false",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2021-07-08T11:23:27.5642016-05:00",
    "RandomSeed": "72081194",
    "Storage_TestConfigOAuth": "OAuthTenant\nseanoauthstage\nU2FuaXRpemVk\nhttps://seanoauthstage.blob.core.windows.net\nhttps://seanoauthstage.file.core.windows.net\nhttps://seanoauthstage.queue.core.windows.net\nhttps://seanoauthstage.table.core.windows.net\n\n\n\n\nhttps://seanoauthstage-secondary.blob.core.windows.net\nhttps://seanoauthstage-secondary.file.core.windows.net\nhttps://seanoauthstage-secondary.queue.core.windows.net\nhttps://seanoauthstage-secondary.table.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://seanoauthstage.blob.core.windows.net/;QueueEndpoint=https://seanoauthstage.queue.core.windows.net/;FileEndpoint=https://seanoauthstage.file.core.windows.net/;BlobSecondaryEndpoint=https://seanoauthstage-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanoauthstage-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanoauthstage-secondary.file.core.windows.net/;AccountName=seanoauthstage;AccountKey=Sanitized\n\nXClient\nba45b233-e2ef-4169-8808-49eb0d8eba0d"
  }
}