{
  "Entries": [
    {
      "RequestUri": "https://seanoauthstage.blob.core.windows.net/test-container-c452a1ff-c0bf-fb8d-8f4d-a1e12e828a55/test-blob-9df90c6c-7228-a334-7056-fa3dcd63630c",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 08 Jul 2021 16:24:00 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": "9z61AQKm4caOlo1DUGq3Iu1fLvc7KD\u002BMba9UacZQLSvqlervzYlTxSozD5Hk8FIFnthPbTVr0M7/KJNTUnf/PmhiWbuAyFVkDGjNCBmtp3xcTsvuAcD2fsQb8KT2AHOyM9ApgpeXhdaC6mDMnsi1UYEW9gOsET2na9v2Zdixbgz1GtRIgyTlxcn0axZgKeD8ZZ8i3wlvBSKTghe8oB/\u002B0XxU14Pzbc1cMDA6t6YmR0H7\u002Bf85jo4ChRWytAENKSSp9pmZC1FcCfjRxa/YNU18bDvVwKcfxULuUlJuQLjMTwYMkMAMjTvvnvAHZ8jeKVDHNkfFN2h9ijFWq7n/7sk/BXWozKSMb9//5SK3GF16DykBpwlwBhidjwaPteGC768mx2FTNlysOsdnxlFGxXLU3JuQ/ke/z/9dCj2e/br\u002BffVykFD7J9nMVWxCCEDGV8mUuthF8vFoZ/hi9SseDTwMaUhb0zUh2LXCw6nafca\u002BlrN0CkLhuIoECSlYmTGtrUcwNZ73a4STcuIigy5Ijuoxo154qgP5KrG\u002BV8kMyT\u002BEFBVhqUcnxysu4JhgvjRbvHs\u002BJvXSNQNENgrtORO6h6iinm8Y5\u002BSiCtwzScprmWx8YptOzaNKsd4SHHI8Oo4XdFjvvR/FQ9SWnBwZn\u002Bw42Z2ecNd4bLoFWO2QBspxZtBNG9Rxe9tMth/GtzGGMBLy2ULUncm2nwie6WQyNTwKJDVMy4MXx13CUrm4srSJfifbnSyHnMgHlnzM05J2GYHivJL7OmWO2xLkEksP/u1TFGo9V5cQgodtRTQHSvPLTDg41vUhjUTCTMIZo4p895iOeb4oOcLq0TkLjvUxhpAeGcYT1ij3MYcmewrU9t/98E2ceNE0ohJ2TgS8Fv9OkMUy\u002B4nEaSFvl0c3Ar63FdpaDZ6olQ6/6XeznYgkOxqH2OpFovtVOYYsLOCJ/aBUvjgpYQlgpfu3cxESEMyYS1wssCnUcnPfBNQXfGgtNezWX95P\u002BtkRJjLujS7qQym6k\u002BGEXE12gEvFSlw0SSmTiT0kO7DtSVCDGon35eRE9MGrXeiGqdifX9\u002BSia993d0JWwTxxQd4zEqQAULDf5pngVWbietADOBlhdzQWr\u002BgBj2r7ongUi\u002B5MpGe9qiW2\u002BBEKwda4VPyyE8kiz8rp3GL8PoEGJEQhi4m4VZaohY3z6r8iy\u002B3RiTpuSU6vMfvjoofEwWtkcJPNKTYMwD8lyY57LyVLxtC06nWG19r1cpnNlLLOo4QiT7nrFeK3xIk7CH\u002BAc8LWV9v3UBc1nVj417Zcf2tMF2XKWJ\u002BroLEt/OXsi49bdT7XNzzXF1Os7LIg8n5sG4VdrvEZthsjavdqyVMxSRGJnaJ3g==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "/\u002BO/E9CFweI92kPktp9/Yg==",
        "ETag": "\u00220x8D9422CCB397ECC\u0022",
        "Last-Modified": "Thu, 08 Jul 2021 16:24:00 GMT",
        "x-ms-content-crc64": "vNWf5VrYJzc=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-10-02",
        "x-ms-version-id": "2021-07-08T16:24:00.5172940Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanoauthstage.blob.core.windows.net/test-container-c452a1ff-c0bf-fb8d-8f4d-a1e12e828a55/test-blob-9df90c6c-7228-a334-7056-fa3dcd63630c?comp=metadata",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 08 Jul 2021 16:24:00 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9422CCB44C7C1\u0022",
        "Last-Modified": "Thu, 08 Jul 2021 16:24:00 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-10-02",
        "x-ms-version-id": "2021-07-08T16:24:00.5922513Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanoauthstage.blob.core.windows.net/test-container-c452a1ff-c0bf-fb8d-8f4d-a1e12e828a55/test-blob-9df90c6c-7228-a334-7056-fa3dcd63630c?versionid=2021-07-08T16%3A24%3A00.5922513Z\u0026sv=2020-10-02\u0026se=2021-07-09T16%3A24%3A00Z\u0026sr=b\u0026sp=i\u0026sig=Sanitized\u0026comp=immutabilityPolicies",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-immutability-policy-mode": "Unlocked",
        "x-ms-immutability-policy-until-date": "Thu, 08 Jul 2021 16:29:00 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "x-ms-immutability-policy-mode": "unlocked",
        "x-ms-immutability-policy-until-date": "Thu, 08 Jul 2021 16:29:00 GMT",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanoauthstage.blob.core.windows.net/test-container-c452a1ff-c0bf-fb8d-8f4d-a1e12e828a55/test-blob-9df90c6c-7228-a334-7056-fa3dcd63630c?versionid=2021-07-08T16%3A24%3A00.5922513Z\u0026sv=2020-10-02\u0026se=2021-07-09T16%3A24%3A00Z\u0026sr=b\u0026sp=i\u0026sig=Sanitized\u0026comp=legalhold",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-legal-hold": "false",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "x-ms-legal-hold": "false",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanoauthstage.blob.core.windows.net/test-container-c452a1ff-c0bf-fb8d-8f4d-a1e12e828a55?restype=container\u0026comp=list\u0026include=Immutabilitypolicy%2CLegalhold",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 08 Jul 2021 16:24:00 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": [...]
    {
      "RequestUri": "https://seanoauthstage.blob.core.windows.net/test-container-c452a1ff-c0bf-fb8d-8f4d-a1e12e828a55/test-blob-9df90c6c-7228-a334-7056-fa3dcd63630c?comp=immutabilityPolicies",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 08 Jul 2021 16:24:01 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanoauthstage.blob.core.windows.net/test-container-c452a1ff-c0bf-fb8d-8f4d-a1e12e828a55/test-blob-9df90c6c-7228-a334-7056-fa3dcd63630c",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 08 Jul 2021 16:24:01 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-delete-type-permanent": "false",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2021-07-08T11:24:00.7835572-05:00",
    "RandomSeed": "926714243",
    "Storage_TestConfigOAuth": "OAuthTenant\nseanoauthstage\nU2FuaXRpemVk\nhttps://seanoauthstage.blob.core.windows.net\nhttps://seanoauthstage.file.core.windows.net\nhttps://seanoauthstage.queue.core.windows.net\nhttps://seanoauthstage.table.core.windows.net\n\n\n\n\nhttps://seanoauthstage-secondary.blob.core.windows.net\nhttps://seanoauthstage-secondary.file.core.windows.net\nhttps://seanoauthstage-secondary.queue.core.windows.net\nhttps://seanoauthstage-secondary.table.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://seanoauthstage.blob.core.windows.net/;QueueEndpoint=https://seanoauthstage.queue.core.windows.net/;FileEndpoint=https://seanoauthstage.file.core.windows.net/;BlobSecondaryEndpoint=https://seanoauthstage-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanoauthstage-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanoauthstage-secondary.file.core.windows.net/;AccountName=seanoauthstage;AccountKey=Sanitized\n\nXClient\nba45b233-e2ef-4169-8808-49eb0d8eba0d"
  }
}