{
  "Entries": [
    {
      "RequestUri": "https://kasobolcanadanetoauth.blob.core.windows.net/ccc0c3b3-39f3-484e-82af-1eeedc495adf/test-blob-9f2868a5-0490-402c-5d08-064f50c914d4",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 11 Aug 2021 19:42:22 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": "RrBciBKplFkiB5x9SDGdiXzOs0rzSeON4rhXyoWV0gtd0p6FzF6I/NPOfIhorvgranzSghXK4fzMz6VaUcnUjTWQH3WTGL0eRrd2JMxaJDO/K18IwlD2k/ChuPy4LqoK\u002Be9T14\u002BCmFK/sztdVL0wcapymiVpzMrkmoyF8mDAZhcNbCrdB02kPJMNSA4UmD4ycUZRRZSEoC0kbz0C/aXy/00kUOeTUmpdzV2SXIS7zwFNUoEZbiCDicv9uJcPoj/uGknB8EhXnx7b9Hc28kSoaJ87tKok2ZAsoMYclZrTTiseo0E6\u002Bt659rNjPXqoTZeHVE/30\u002B2UykG5lFCBOgmDCKVLF04DbW7Bgr33wJsVg1IvlUFK23o\u002Bitn/gWWON7up3zTUXTVJhObhNlAvnAmmoxH9UqXIOC0qDY10A\u002BwIMksCTuBmQSYd5hFaaaQqDu3QWd5UkOUW4KYHqU\u002Bo1ID62AMFLU4oP2Hq4GyUbs\u002BIAP6fpKkNtKJl6246X5fXdBGQYJChJOGfpxp8abB4gnLXfqhQCDDX7SNhn0Hf7t/KE2taAw0\u002B59wdAPyPkErx7Wn8Y\u002BHuhmvguXNtQISfv7k6slZEHn5kmJfMMwgzR1zYb7LY44v\u002B240AeUqa0adXfkBDVN70rc/rl8pJIVNjrXEWlNDSxtstO9bIRKQzycbwdbXH7/J\u002B5MLj7UvAtLo6nMzYhD3WhLdlFhgHK2krt84EWayenL1\u002Bl68O7tmQbIccjqfXW0WIGfD9YtnadrhZuDV9vFoNnP8PWeyNyJXd1KmR653BU1yJe0C8oDrjpCH3tTakErAsDvKnyAFY\u002B1FaII0wSIsbl2TZ9EEaUfvFK7TLlhNfOcL5ZNyqGYtaMIDvYYCts1yW2x3Ryh5uEr324pxMjWQ9\u002BubKNuOucH7ZfsPBK\u002B97F3hYNbr2jW6jilIetDbuDaMbsWaZ4nx452qe\u002BEtarefOe8ok9FipR213JqyQkLxH6nEgpXmI4TX7301PV5QjSdxrUDlryhhKcmn5IrvQ51euVg7aOQhtRZmVKBUKWe/YVN3PJD\u002BD2x9Y1TMPjr96K/f2oQGGSA/U/gqf1qEDQBh6IM3dAMMXKnrugmTUXbbZG/0dE7juUgvN\u002ByY05AV\u002BVJUblW7ynCo033eGl8ar/6BTxruj5ixfjM7BDwWc4kZ1cC3OuchI537S6DRBZ7pFIvuF4B1J2m5ouwmfMIwll/wwESeY3EXYC9880f34HiQUe\u002B0KFwEoK5a/Zv6/qbbyrVE4EFaTrEW1rdU\u002BDQlwcJ3ki7SeG4D6COWR2XZHGWIpSSOswA7OgM\u002BnVGks6h6NT/Vh2h0BU5LQPQdxAdPPbZNzFMPlxLCOFgrl98YWzg==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "QSuwJDXsLgms8N\u002BNTL\u002BwSw==",
        "ETag": "\u00220x8D95D0023A0861C\u0022",
        "Last-Modified": "Wed, 11 Aug 2021 19:42:22 GMT",
        "x-ms-content-crc64": "CCUpZWbIfls=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-04-10",
        "x-ms-version-id": "2021-08-11T19:42:22.8741660Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://kasobolcanadanetoauth.blob.core.windows.net/ccc0c3b3-39f3-484e-82af-1eeedc495adf/test-blob-aaea6fb9-49fd-874e-552f-eccd53e82d88",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://kasobolcanadanetoauth.blob.core.windows.net/ccc0c3b3-39f3-484e-82af-1eeedc495adf/test-blob-9f2868a5-0490-402c-5d08-064f50c914d4",
        "x-ms-date": "Wed, 11 Aug 2021 19:42:22 GMT",
        "x-ms-immutability-policy-mode": "Unlocked",
        "x-ms-immutability-policy-until-date": "Wed, 11 Aug 2021 19:47:22 GMT",
        "x-ms-legal-hold": "true",
        "x-ms-requires-sync": "true",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\u00220x8D95D0023B74A8E\u0022",
        "Last-Modified": "Wed, 11 Aug 2021 19:42:23 GMT",
        "x-ms-content-crc64": "CCUpZWbIfls=",
        "x-ms-copy-id": "94cef503-b2aa-4b6f-96ce-89dc77ee8791",
        "x-ms-copy-status": "success",
        "x-ms-version": "2021-04-10",
        "x-ms-version-id": "2021-08-11T19:42:23.0382827Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://kasobolcanadanetoauth.blob.core.windows.net/ccc0c3b3-39f3-484e-82af-1eeedc495adf/test-blob-aaea6fb9-49fd-874e-552f-eccd53e82d88",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 11 Aug 2021 19:42:23 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "QSuwJDXsLgms8N\u002BNTL\u002BwSw==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D95D0023B74A8E\u0022",
        "Last-Modified": "Wed, 11 Aug 2021 19:42:23 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-completion-time": "Wed, 11 Aug 2021 19:42:23 GMT",
        "x-ms-copy-id": "94cef503-b2aa-4b6f-96ce-89dc77ee8791",
        "x-ms-copy-progress": "1024/1024",
        "x-ms-copy-source": "https://kasobolcanadanetoauth.blob.core.windows.net/ccc0c3b3-39f3-484e-82af-1eeedc495adf/test-blob-9f2868a5-0490-402c-5d08-064f50c914d4",
        "x-ms-copy-status": "success",
        "x-ms-creation-time": "Wed, 11 Aug 2021 19:42:23 GMT",
        "x-ms-immutability-policy-mode": "unlocked",
        "x-ms-immutability-policy-until-date": "Wed, 11 Aug 2021 19:47:22 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-legal-hold": "true",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-04-10",
        "x-ms-version-id": "2021-08-11T19:42:23.0382827Z"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2021-08-11T12:42:22.9359914-07:00",
    "RandomSeed": "1356998150",
    "Storage_TestConfigOAuth": "OAuthTenant\nkasobolcanadanetoauth\nU2FuaXRpemVk\nhttps://kasobolcanadanetoauth.blob.core.windows.net\nhttp://kasobolcanadanetoauth.file.core.windows.net\nhttp://kasobolcanadanetoauth.queue.core.windows.net\nhttp://kasobolcanadanetoauth.table.core.windows.net\n\n\n\n\nhttp://kasobolcanadanetoauth-secondary.blob.core.windows.net\nhttp://kasobolcanadanetoauth-secondary.file.core.windows.net\nhttp://kasobolcanadanetoauth-secondary.queue.core.windows.net\nhttp://kasobolcanadanetoauth-secondary.table.core.windows.net\nc6b5fe1a-9b59-4975-92c4-d9f728c3c371\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://kasobolcanadanetoauth.blob.core.windows.net/;QueueEndpoint=http://kasobolcanadanetoauth.queue.core.windows.net/;FileEndpoint=http://kasobolcanadanetoauth.file.core.windows.net/;BlobSecondaryEndpoint=http://kasobolcanadanetoauth-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://kasobolcanadanetoauth-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://kasobolcanadanetoauth-secondary.file.core.windows.net/;AccountName=kasobolcanadanetoauth;AccountKey=Sanitized\n\nkasobol\nba45b233-e2ef-4169-8808-49eb0d8eba0d",
    "_containerName": "ccc0c3b3-39f3-484e-82af-1eeedc495adf"
  }
}