{
  "Entries": [
    {
      "RequestUri": "https://shwali-test-resource.int.communication.azure.net/mediaCompositions/presentation?api-version=2022-07-16-preview1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 13 Jul 2022 23:04:12 GMT"
      },
      "RequestBody": {
        "id": "presentation",
        "layout": {
          "resolution": {
            "width": 1920,
            "height": 1080
          },
          "presenter": {
            "presenterId": "presenter",
            "supportId": "support"
          }
        },
        "inputs": {
          "presenter": {
            "participant": {
              "id": {
                "microsoftTeamsUser": {
                  "userId": "f3ba9014-6dca-4456-8ec0-fa03cfa2b7b7"
                }
              },
              "placeholderImageUri": "https://imageendpoint",
              "call": "teamsMeeting"
            }
          },
          "support": {
            "participant": {
              "id": {
                "microsoftTeamsUser": {
                  "userId": "fa4337b5-f13a-41c5-a34f-f2aa46699b61"
                }
              },
              "placeholderImageUri": "https://imageendpoint",
              "call": "teamsMeeting"
            }
          },
          "teamsMeeting": {
            "teamsMeeting": {
              "teamsJoinUrl": "https://teamsJoinUrl"
            }
          }
        },
        "outputs": {
          "acsGroupCall": {
            "groupCall": {
              "id": "d12d2277-ffec-4e22-9979-8c0d8c13d193"
            }
          }
        },
        "streamState": "notStarted"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2022-07-16-preview1",
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "presentation",
        "layout": {
          "kind": "presenter",
          "resolution": {
            "width": 1920,
            "height": 1080
          },
          "presenter": {
            "presenterId": "presenter",
            "supportId": "support",
            "supportPosition": "bottomRight",
            "supportAspectRatio": 1
          }
        },
        "inputs": {
          "presenter": {
            "kind": "participant",
            "participant": {
              "id": {
                "microsoftTeamsUser": {
                  "userId": "f3ba9014-6dca-4456-8ec0-fa03cfa2b7b7"
                }
              },
              "placeholderImageUri": "https://imageendpoint",
              "call": "teamsMeeting"
            }
          },
          "support": {
            "kind": "participant",
            "participant": {
              "id": {
                "microsoftTeamsUser": {
                  "userId": "fa4337b5-f13a-41c5-a34f-f2aa46699b61"
                }
              },
              "placeholderImageUri": "https://imageendpoint",
              "call": "teamsMeeting"
            }
          },
          "teamsMeeting": {
            "kind": "teamsMeeting",
            "teamsMeeting": {
              "teamsJoinUrl": "https://teamsJoinUrl"
            }
          }
        },
        "outputs": {
          "acsGroupCall": {
            "kind": "groupCall",
            "groupCall": {
              "id": "d12d2277-ffec-4e22-9979-8c0d8c13d193"
            }
          }
        },
        "streamState": "notStarted"
      }
    },
    {
      "RequestUri": "https://shwali-test-resource.int.communication.azure.net/mediaCompositions/presentation?api-version=2022-07-16-preview1",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 13 Jul 2022 23:04:13 GMT"
      },
      "RequestBody": {
        "id": "presentation",
        "inputs": {
          "james": {
            "participant": {
              "id": {
                "microsoftTeamsUser": {
                  "userId": "f3ba9014-6dca-4456-8ec0-fa03cfa2b70p"
                }
              },
              "placeholderImageUri": "https://imageendpoint",
              "call": "teamsMeeting"
            }
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2022-07-16-preview1",
        "Content-Type": "application/json; charset=[...]
    {
      "RequestUri": "https://shwali-test-resource.int.communication.azure.net/mediaCompositions/presentation?api-version=2022-07-16-preview1",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 13 Jul 2022 23:04:13 GMT"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2022-07-16-preview1"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_STATIC_CONNECTION_STRING": "endpoint=https://shwali-test-resource.int.communication.azure.net/;accesskey=Kg==",
    "RandomSeed": "976323651"
  }
}
