{
  "Entries": [
    {
      "RequestUri": "https://dev-test-resource.int.communication.azure.net/mediaCompositions/presentation?api-version=2022-07-16-preview1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 22 Jun 2022 21:53:45 GMT"
      },
      "RequestBody": {
        "id": "presentation",
        "layout": {
          "resolution": {
            "width": 1920,
            "height": 1080
          },
          "presenter": {
            "presenterId": "presenter",
            "supportId": "support"
          }
        },
        "outputs": {
          "acsGroupCall": {
            "groupCall": {
              "id": "d12d2277-ffec-4e22-9979-8c0d8c13d193"
            }
          }
        },
        "streamState": "notStarted"
      },
      "StatusCode": 400,
      "ResponseHeaders": {
        "api-supported-versions": "2022-07-16-preview1",
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": "\u0022Inputs are required to be defined for media composition\u0022"
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_STATIC_CONNECTION_STRING": "endpoint=https://dev-test-resource.int.communication.azure.net/;accesskey=Kg==",
    "RandomSeed": "539736148"
  }
}
