{
  "Entries": [
    {
      "RequestUri": "https://test-media.dev.communication.azure.net/mediaCompositions/presentation?api-version=2022-07-16-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 01 Feb 2023 21:19:27 GMT"
      },
      "RequestBody": {
        "id": "presentation",
        "layout": {
          "presenterId": "presenter",
          "supportId": "support",
          "kind": "presenter",
          "resolution": {
            "width": 1920,
            "height": 1080
          }
        },
        "inputs": {
          "presenter": {
            "id": {
              "rawId": "f3ba9014-6dca-4456-8ec0-fa03cfa2b7b7",
              "communicationUser": {
                "id": "f3ba9014-6dca-4456-8ec0-fa03cfa2b7b7"
              }
            },
            "call": "acsGroupCall",
            "kind": "participant",
            "placeholderImageUri": "https://imageendpoint"
          },
          "support": {
            "id": {
              "rawId": "fa4337b5-f13a-41c5-a34f-f2aa46699b61",
              "communicationUser": {
                "id": "fa4337b5-f13a-41c5-a34f-f2aa46699b61"
              }
            },
            "call": "acsGroupCall",
            "kind": "participant",
            "placeholderImageUri": "https://imageendpoint"
          },
          "acsGroupCall": {
            "id": "d12d2277-ffec-4e22-9979-8c0d8c13d193",
            "kind": "groupCall"
          }
        },
        "outputs": {
          "teamsMeeting": {
            "teamsJoinUrl": "https://teamsJoinUrl",
            "kind": "teamsMeeting"
          }
        }
      },
      "StatusCode": 400,
      "ResponseHeaders": {
        "api-supported-versions": "2022-07-16-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "96sHHfU31k\u002BcrIgOrWS\u002BPA.0"
      },
      "ResponseBody": "\u0022Call input and output must be of the same kind and referencing the same call. Call input kind is GroupCall and output kind is TeamsMeeting.\u0022"
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_STATIC_CONNECTION_STRING": "endpoint=https://test-media.dev.communication.azure.net/;accesskey=Kg==",
    "RandomSeed": "891344306"
  }
}
