{
  "Entries": [
    {
      "RequestUri": "https://dev-test-resource.int.communication.azure.net/mediaCompositions/presentation?api-version=2022-07-16-preview1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 22 Jun 2022 21:53:44 GMT"
      },
      "RequestBody": {
        "id": "presentation",
        "layout": {
          "resolution": {
            "width": 1920,
            "height": 1080
          },
          "grid": {
            "rows": 2,
            "columns": 2,
            "inputIds": [
              [
                "InvalidInputId"
              ]
            ]
          }
        },
        "inputs": {
          "teamsMeeting": {
            "teamsMeeting": {
              "teamsJoinUrl": "https://teamsJoinUrl"
            }
          }
        },
        "outputs": {
          "acsGroupCall": {
            "groupCall": {
              "id": "d12d2277-ffec-4e22-9979-8c0d8c13d193"
            }
          }
        },
        "streamState": "notStarted"
      },
      "StatusCode": 400,
      "ResponseHeaders": {
        "api-supported-versions": "2022-07-16-preview1",
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": "\u0022Input with id: InvalidInputId not defined in inputs. If using a selector, check if your syntax is correct.\u0022"
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_STATIC_CONNECTION_STRING": "endpoint=https://dev-test-resource.int.communication.azure.net/;accesskey=Kg==",
    "RandomSeed": "1893352137"
  }
}
