{
  "Entries": [
    {
      "RequestUri": "https://mediacomposition-clientsdk-int.int.communication.azure.net/mediaCompositions/presentation?api-version=2022-07-16-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 07 Dec 2022 17:46:45 GMT"
      },
      "RequestBody": {
        "id": "presentation",
        "layout": {
          "presenterId": "presenter",
          "supportId": "support",
          "kind": "presenter",
          "resolution": {
            "width": 1920,
            "height": 1080
          }
        },
        "outputs": {
          "acsGroupCall": {
            "id": "d12d2277-ffec-4e22-9979-8c0d8c13d193",
            "kind": "groupCall"
          }
        }
      },
      "StatusCode": 400,
      "ResponseHeaders": {
        "api-supported-versions": "2022-07-16-preview",
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": "\u0022Inputs are required to be defined for media composition\u0022"
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://mediacomposition-clientsdk-int.int.communication.azure.net/;accesskey=Kg==",
    "RandomSeed": "230027417"
  }
}
