{
  "Entries": [
    {
      "RequestUri": "https://test-media.dev.communication.azure.net/mediaCompositions/presentation?api-version=2022-07-16-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 01 Feb 2023 21:19:38 GMT"
      },
      "RequestBody": {
        "id": "presentation",
        "layout": {
          "rows": 2,
          "columns": 2,
          "inputIds": [
            [
              "InvalidInputId"
            ]
          ],
          "kind": "grid",
          "resolution": {
            "width": 1920,
            "height": 1080
          }
        },
        "inputs": {
          "acsGroupCall": {
            "id": "d12d2277-ffec-4e22-9979-8c0d8c13d193",
            "kind": "groupCall"
          }
        },
        "outputs": {
          "acsGroupCall": {
            "id": "d12d2277-ffec-4e22-9979-8c0d8c13d193",
            "kind": "groupCall"
          }
        }
      },
      "StatusCode": 400,
      "ResponseHeaders": {
        "api-supported-versions": "2022-07-16-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "SjKYK5qAyEa5c8T4nSK5Ew.0"
      },
      "ResponseBody": "\u0022Input with id: InvalidInputId not defined. If using a selector, check if your syntax is correct.\u0022"
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_STATIC_CONNECTION_STRING": "endpoint=https://test-media.dev.communication.azure.net/;accesskey=Kg==",
    "RandomSeed": "1701936916"
  }
}
