{
  "Entries": [
    {
      "RequestUri": "https://test-media.dev.communication.azure.net/mediaCompositions/nonexistentMediaCompositionId?api-version=2022-07-16-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 01 Feb 2023 21:19:41 GMT"
      },
      "RequestBody": {
        "id": "nonexistentMediaCompositionId",
        "outputs": {
          "acsGroupCall": null
        }
      },
      "StatusCode": 404,
      "ResponseHeaders": {
        "api-supported-versions": "2022-07-16-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "vtJSHbnwuEaO1c4itwPmDA.0"
      },
      "ResponseBody": {
        "type": "https://tools.ietf.org/html/rfc7231#section-6.5.4",
        "title": "Not Found",
        "status": 404,
        "traceId": "00-efe8c0a05cc91cf0eba31532e946ba3a-93d923e174eb906b-00"
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_STATIC_CONNECTION_STRING": "endpoint=https://test-media.dev.communication.azure.net/;accesskey=Kg==",
    "RandomSeed": "1461575419"
  }
}
