{
  "Entries": [
    {
      "RequestUri": "https://shwali-test-resource.int.communication.azure.net/mediaCompositions/nonexistentMediaCompositionId?api-version=2022-07-16-preview1",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 05 Aug 2022 18:25:03 GMT"
      },
      "RequestBody": {
        "id": "nonexistentMediaCompositionId",
        "outputs": {
          "acsGroupCall": null
        }
      },
      "StatusCode": 404,
      "ResponseHeaders": {
        "api-supported-versions": "2022-07-16-preview1",
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "type": "https://tools.ietf.org/html/rfc7231#section-6.5.4",
        "title": "Not Found",
        "status": 404,
        "traceId": "00-7fc280f0168afd43b9b2b3ea7e0fe8d0-134db61d0adb502d-00"
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_STATIC_CONNECTION_STRING": "endpoint=https://shwali-test-resource.int.communication.azure.net/;accesskey=Kg==",
    "RandomSeed": "1442381087"
  }
}
