{
  "Entries": [
    {
      "RequestUri": "https://mediacomposition-clientsdk-int.int.communication.azure.net/mediaCompositions/presentation?api-version=2022-07-16-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 07 Dec 2022 17:46:40 GMT"
      },
      "RequestBody": {
        "id": "presentation",
        "layout": {
          "presenterId": "presenter",
          "supportId": "support",
          "kind": "presenter",
          "resolution": {
            "width": 1920,
            "height": 1080
          }
        },
        "inputs": {
          "presenter": {
            "id": {
              "rawId": "8:orgid:f3ba9014-6dca-4456-8ec0-fa03cfa2b7b7",
              "microsoftTeamsUser": {
                "userId": "f3ba9014-6dca-4456-8ec0-fa03cfa2b7b7",
                "isAnonymous": false,
                "cloud": "public"
              }
            },
            "call": "acsGroupCall",
            "kind": "participant",
            "placeholderImageUri": "https://imageendpoint"
          },
          "support": {
            "id": {
              "rawId": "8:orgid:fa4337b5-f13a-41c5-a34f-f2aa46699b61",
              "microsoftTeamsUser": {
                "userId": "fa4337b5-f13a-41c5-a34f-f2aa46699b61",
                "isAnonymous": false,
                "cloud": "public"
              }
            },
            "call": "acsGroupCall",
            "kind": "participant",
            "placeholderImageUri": "https://imageendpoint"
          },
          "acsGroupCall": {
            "id": "d12d2277-ffec-4e22-9979-8c0d8c13d193",
            "kind": "groupCall"
          }
        },
        "outputs": {
          "acsGroupCall": {
            "id": "d12d2277-ffec-4e22-9979-8c0d8c13d193",
            "kind": "groupCall"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2022-07-16-preview",
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "presentation",
        "layout": {
          "presenterId": "presenter",
          "supportId": "support",
          "supportPosition": "bottomRight",
          "supportAspectRatio": 1,
          "kind": "presenter",
          "resolution": {
            "width": 1920,
            "height": 1080
          },
          "placeholderImageUri": null,
          "scalingMode": "crop"
        },
        "inputs": {
          "presenter": {
            "id": {
              "kind": "microsoftTeamsUser",
              "rawId": "8:orgid:f3ba9014-6dca-4456-8ec0-fa03cfa2b7b7",
              "microsoftTeamsUser": {
                "userId": "f3ba9014-6dca-4456-8ec0-fa03cfa2b7b7",
                "isAnonymous": false,
                "cloud": "public"
              }
            },
            "call": "acsGroupCall",
            "kind": "participant",
            "placeholderImageUri": "https://imageendpoint"
          },
          "support": {
            "id": {
              "kind": "microsoftTeamsUser",
              "rawId": "8:orgid:fa4337b5-f13a-41c5-a34f-f2aa46699b61",
              "microsoftTeamsUser": {
                "userId": "fa4337b5-f13a-41c5-a34f-f2aa46699b61",
                "isAnonymous": false,
                "cloud": "public"
              }
            },
            "call": "acsGroupCall",
            "kind": "participant",
            "placeholderImageUri": "https://imageendpoint"
          },
          "acsGroupCall": {
            "id": "d12d2277-ffec-4e22-9979-8c0d8c13d193",
            "kind": "groupCall"
          }
        },
        "outputs": {
          "acsGroupCall": {
            "id": "d12d2277-ffec-4e22-9979-8c0d8c13d193",
            "kind": "groupCall"
          }
        },
        "streamState": {
          "status": "notStarted"
        }
      }
    },
    {
      "RequestUri": "https://mediacomposition-clientsdk-int.int.communication.azure.net/mediaCompositions/presentation?api-version=2022-07-16-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 07 Dec 2022 17:46:40 GMT"
      },
      "RequestBody": {
        "id": "presentation",
        "inputs": {
          "acsGroupCall": null
        }
      },
      "StatusCode": 400,
      "ResponseHeaders": {
        "api-supported-versions": "2022-07-16-preview",
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": "\u0022Must have exactly one media input of type ACS Group Call, Room or Teams Call; less than one is defined.\u0022"
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://mediacomposition-clientsdk-int.int.communication.azure.net/;accesskey=Kg==",
    "RandomSeed": "1358992980"
  }
}
