{
  "Entries": [
    {
      "RequestUri": "https://shwali-test-resource.int.communication.azure.net/mediaCompositions/presentation?api-version=2022-07-16-preview1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 10 Aug 2022 23:37:17 GMT"
      },
      "RequestBody": {
        "id": "presentation",
        "layout": {
          "presenterId": "presenter",
          "supportId": "support",
          "kind": "presenter",
          "resolution": {
            "width": 1920,
            "height": 1080
          }
        },
        "inputs": {
          "presenter": {
            "id": {
              "rawId": "8:orgid:f3ba9014-6dca-4456-8ec0-fa03cfa2b7b7",
              "microsoftTeamsUser": {
                "userId": "f3ba9014-6dca-4456-8ec0-fa03cfa2b7b7",
                "isAnonymous": false,
                "cloud": "public"
              }
            },
            "call": "teamsMeeting",
            "kind": "participant",
            "placeholderImageUri": "https://imageendpoint"
          },
          "support": {
            "id": {
              "rawId": "8:orgid:fa4337b5-f13a-41c5-a34f-f2aa46699b61",
              "microsoftTeamsUser": {
                "userId": "fa4337b5-f13a-41c5-a34f-f2aa46699b61",
                "isAnonymous": false,
                "cloud": "public"
              }
            },
            "call": "teamsMeeting",
            "kind": "participant",
            "placeholderImageUri": "https://imageendpoint"
          },
          "teamsMeeting": {
            "teamsJoinUrl": "https://teamsJoinUrl",
            "kind": "teamsMeeting"
          }
        },
        "outputs": {
          "acsGroupCall": {
            "id": "d12d2277-ffec-4e22-9979-8c0d8c13d193",
            "kind": "groupCall"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2022-07-16-preview1",
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "presentation",
        "layout": {
          "presenterId": "presenter",
          "supportId": "support",
          "supportPosition": "bottomRight",
          "supportAspectRatio": 1,
          "kind": "presenter",
          "resolution": {
            "width": 1920,
            "height": 1080
          },
          "placeholderImageUri": null
        },
        "inputs": {
          "presenter": {
            "id": {
              "kind": "microsoftTeamsUser",
              "rawId": "8:orgid:f3ba9014-6dca-4456-8ec0-fa03cfa2b7b7",
              "microsoftTeamsUser": {
                "userId": "f3ba9014-6dca-4456-8ec0-fa03cfa2b7b7",
                "isAnonymous": false,
 [...]
    {
      "RequestUri": "https://shwali-test-resource.int.communication.azure.net/mediaCompositions/presentation:stop?api-version=2022-07-16-preview1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 10 Aug 2022 23:37:18 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2022-07-16-preview1",
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "status": "notStarted"
      }
    },
    {
      "RequestUri": "https://shwali-test-resource.int.communication.azure.net/mediaCompositions/presentation?api-version=2022-07-16-preview1",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 10 Aug 2022 23:37:18 GMT"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2022-07-16-preview1"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_STATIC_CONNECTION_STRING": "endpoint=https://shwali-test-resource.int.communication.azure.net/;accesskey=Kg==",
    "RandomSeed": "177560752"
  }
}
