{
  "Entries": [
    {
      "RequestUri": "https://mediacomposition-clientsdk-int.int.communication.azure.net/mediaCompositions/presentation?api-version=2022-07-16-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 09 Dec 2022 22:16:01 GMT"
      },
      "RequestBody": {
        "id": "presentation",
        "layout": {
          "presenterId": "presenter",
          "supportId": "support",
          "kind": "presenter",
          "resolution": {
            "width": 1920,
            "height": 1080
          }
        },
        "inputs": {
          "presenter": {
            "id": {
              "rawId": "f3ba9014-6dca-4456-8ec0-fa03cfa2b7b7",
              "communicationUser": {
                "id": "f3ba9014-6dca-4456-8ec0-fa03cfa2b7b7"
              }
            },
            "call": "acsGroupCall",
            "kind": "participant",
            "placeholderImageUri": "https://imageendpoint"
          },
          "support": {
            "id": {
              "rawId": "fa4337b5-f13a-41c5-a34f-f2aa46699b61",
              "communicationUser": {
                "id": "fa4337b5-f13a-41c5-a34f-f2aa46699b61"
              }
            },
            "call": "acsGroupCall",
            "kind": "participant",
            "placeholderImageUri": "https://imageendpoint"
          },
          "acsGroupCall": {
            "id": "d12d2277-ffec-4e22-9979-8c0d8c13d193",
            "kind": "groupCall"
          }
        },
        "outputs": {
          "acsGroupCall": {
            "id": "d12d2277-ffec-4e22-9979-8c0d8c13d193",
            "kind": "groupCall"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2022-07-16-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "QMB5D2Ngxku\u002BnLim1bWksA.0"
      },
      "ResponseBody": {
        "id": "presentation",
        "layout": {
          "presenterId": "presenter",
          "supportId": "support",
          "supportPosition": "bottomRight",
          "supportAspectRatio": 1,
          "kind": "presenter",
          "resolution": {
            "width": 1920,
            "height": 1080
          },
          "placeholderImageUri": null,
          "scalingMode": "crop"
        },
        "inputs": {
          "presenter": {
            "id": {
              "kind": "communicationUser",
              "rawId": "f3ba9014-6dca-4456-8ec0-fa03cfa2b7b7",
              "communicationUser": {
                "id": "f3ba9014-6dca-4456-8ec0-fa03cfa2b7b7"
              }
            },
            "call": "acsGroupCall",
            "kind": "participant",
            "placeholderImageUri": "https://imageendpoint"
          },
          "support": {
            "id": {
              "kind": "communicationUser",
              "rawId": "fa4337b5-f13a-41c5-a34f-f2aa46699b61",
              "communicationUser": {
                "id": "fa4337b5-f13a-41c5-a34f-f2aa46699b61"
              }
            },
            "call": "acsGroupCall",
            "kind": "participant",
            "placeholderImageUri": "https://imageendpoint"
          },
          "acsGroupCall": {
            "id": "d12d2277-ffec-4e22-9979-8c0d8c13d193",
            "kind": "groupCall"
          }
        },
        "outputs": {
          "acsGroupCall": {
            "id": "d12d2277-ffec-4e22-9979-8c0d8c13d193",
            "kind": "groupCall"
          }
        },
        "streamState": {
          "status": "notStarted"
        }
      }
    },
    {
      "RequestUri": "https://mediacomposition-clientsdk-int.int.communication.azure.net/mediaCompositions/presentation?api-version=2022-07-16-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 09 Dec 2022 22:16:01 GMT"
      },
      "RequestBody": {
        "id": "presentation",
        "layout": {
          "rows": 2,
          "columns": 2,
          "inputIds": [
            [
              "acsGroupCall"
            ]
          ],
          "kind": "grid",
          "resolution": {
            "width": 1920,
            "height": 1080
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2022-07-16-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "w84kRjrXOEyypWCEsFXjmA.0"
      },
      "ResponseBody": {
        "id": "presentation",
        "layout"[...]
    {
      "RequestUri": "https://mediacomposition-clientsdk-int.int.communication.azure.net/mediaCompositions/presentation?api-version=2022-07-16-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 09 Dec 2022 22:16:01 GMT"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2022-07-16-preview",
        "MS-CV": "wveM5aKP4EC1pUB9SMuw4w.0"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://mediacomposition-clientsdk-int.int.communication.azure.net/;accesskey=Kg==",
    "RandomSeed": "1413110058"
  }
}
