{
  "Entries": [
    {
      "RequestUri": "https://mediacomposition-clientsdk-int.int.communication.azure.net/mediaCompositions/nonexistentMediaCompositionId?api-version=2022-07-16-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 07 Dec 2022 17:46:44 GMT"
      },
      "RequestBody": {
        "id": "nonexistentMediaCompositionId"
      },
      "StatusCode": 404,
      "ResponseHeaders": {
        "api-supported-versions": "2022-07-16-preview",
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "type": "https://tools.ietf.org/html/rfc7231#section-6.5.4",
        "title": "Not Found",
        "status": 404,
        "traceId": "00-ff7224a3f10b4f41911087e523903d92-4aac19b7618d20c5-00"
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://mediacomposition-clientsdk-int.int.communication.azure.net/;accesskey=Kg==",
    "RandomSeed": "2037098066"
  }
}
