{
  "Entries": [
    {
      "RequestUri": "https://shwali-test-resource.int.communication.azure.net/mediaCompositions/nonexistentMediaCompositionId?api-version=2022-07-16-preview1",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 08 Aug 2022 21:05:46 GMT"
      },
      "RequestBody": {
        "id": "nonexistentMediaCompositionId",
        "inputs": {
          "james": {
            "id": {
              "microsoftTeamsUser": {
                "userId": "f3ba9014-6dca-4456-8ec0-fa03cfa2b70p"
              }
            },
            "call": "teamsMeeting",
            "kind": "participant",
            "placeholderImageUri": "https://imageendpoint"
          }
        }
      },
      "StatusCode": 404,
      "ResponseHeaders": {
        "api-supported-versions": "2022-07-16-preview1",
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "type": "https://tools.ietf.org/html/rfc7231#section-6.5.4",
        "title": "Not Found",
        "status": 404,
        "traceId": "00-8cf0d1610852724faaf58024b2342c6b-f8edc66861d71e0e-00"
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_STATIC_CONNECTION_STRING": "endpoint=https://shwali-test-resource.int.communication.azure.net/;accesskey=Kg==",
    "RandomSeed": "1522178928"
  }
}
