{
  "Entries": [
    {
      "RequestUri": "https://shwali-test-resource.int.communication.azure.net/mediaCompositions/nonexistentMediaCompositionId?api-version=2022-07-16-preview1",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 21 Jul 2022 17:01:01 GMT"
      },
      "RequestBody": {
        "id": "nonexistentMediaCompositionId",
        "inputs": {
          "james": {
            "participant": {
              "id": {
                "microsoftTeamsUser": {
                  "userId": "f3ba9014-6dca-4456-8ec0-fa03cfa2b70p"
                }
              },
              "placeholderImageUri": "https://imageendpoint",
              "call": "teamsMeeting"
            }
          }
        }
      },
      "StatusCode": 404,
      "ResponseHeaders": {
        "api-supported-versions": "2022-07-16-preview1",
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "type": "https://tools.ietf.org/html/rfc7231#section-6.5.4",
        "title": "Not Found",
        "status": 404,
        "traceId": "00-3fa6863171e23e499efd296f9284d8cf-c03d19bcfe39ba66-00"
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_STATIC_CONNECTION_STRING": "endpoint=https://shwali-test-resource.int.communication.azure.net/;accesskey=Kg==",
    "RandomSeed": "1663366171"
  }
}
