{
  "Entries": [
    {
      "RequestUri": "https://shwali-test-resource.int.communication.azure.net/mediaCompositions/presentation?api-version=2022-07-16-preview1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 08 Aug 2022 21:05:46 GMT"
      },
      "RequestBody": {
        "id": "presentation",
        "layout": {
          "presenterId": "presenter",
          "supportId": "support",
          "kind": "presenter",
          "resolution": {
            "width": 1920,
            "height": 1080
          }
        },
        "inputs": {
          "presenter": {
            "id": {
              "microsoftTeamsUser": {
                "userId": "f3ba9014-6dca-4456-8ec0-fa03cfa2b7b7"
              }
            },
            "call": "teamsMeeting",
            "kind": "participant",
            "placeholderImageUri": "https://imageendpoint"
          },
          "support": {
            "id": {
              "microsoftTeamsUser": {
                "userId": "fa4337b5-f13a-41c5-a34f-f2aa46699b61"
              }
            },
            "call": "teamsMeeting",
            "kind": "participant",
            "placeholderImageUri": "https://imageendpoint"
          },
          "teamsMeeting": {
            "teamsJoinUrl": "https://teamsJoinUrl",
            "kind": "teamsMeeting"
          }
        },
        "outputs": {
          "acsGroupCall": {
            "id": "d12d2277-ffec-4e22-9979-8c0d8c13d193",
            "kind": "groupCall"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2022-07-16-preview1",
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "presentation",
        "layout": {
          "presenterId": "presenter",
          "supportId": "support",
          "supportPosition": "bottomRight",
          "supportAspectRatio": 1,
          "kind": "presenter",
          "resolution": {
            "width": 1920,
            "height": 1080
          },
          "placeholderImageUri": null
        },
        "inputs": {
          "presenter": {
            "id": {
              "microsoftTeamsUser": {
                "userId": "f3ba9014-6dca-4456-8ec0-fa03cfa2b7b7"
              }
            },
            "call": "teamsMeeting",
            "kind": "participant",
            "placeholderImageUri": "https://imageendpoint"
          },
          "support": {
            "id": {
              "microsoftTeamsUser": {
                "userId": "fa4337b5-f13a-41c5-a34f-f2aa46699b61"
              }
            },
            "call": "teamsMeeting",
            "kind": "participant",
            "placeholderImageUri": "https://imageendpoint"
          },
          "teamsMeeting": {
            "teamsJoinUrl": "https://teamsJoinUrl",
            "kind": "teamsMeeting"
          }
        },
        "outputs": {
          "acsGroupCall": {
            "id": "d12d2277-ffec-4e22-9979-8c0d8c13d193",
            "kind": "groupCall"
          }
        },
        "streamState": {
          "status": "notStarted"
        }
      }
    },
    {
      "RequestUri": "https://shwali-test-resource.int.communication.azure.net/mediaCompositions/presentation?api-version=2022-07-16-preview1",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 08 Aug 2022 21:05:46 GMT"
      },
      "RequestBody": {
        "id": "presentation",
        "inputs": {
          "james": {
            "id": {
              "microsoftTeamsUser": {
                "userId": "f3ba9014-6dca-4456-8ec0-fa03cfa2b70p"
              }
            },
            "call": "teamsMeeting",
            "kind": "participant",
            "placeholderImageUri": "https://imageendpoint"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2022-07-16-preview1",
        "Content-Type": "application/json; charset=utf-8"
      },
      [...]
    {
      "RequestUri": "https://shwali-test-resource.int.communication.azure.net/mediaCompositions/presentation?api-version=2022-07-16-preview1",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 08 Aug 2022 21:05:47 GMT"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2022-07-16-preview1"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_STATIC_CONNECTION_STRING": "endpoint=https://shwali-test-resource.int.communication.azure.net/;accesskey=Kg==",
    "RandomSeed": "1634575603"
  }
}
