{
  "Entries": [
    {
      "RequestUri": "https://myaccountname.purview.azure.com/share/sentShares/9393cfc1-7300-4159-aeff-277b2026846a/sentShareInvitations/0423c905-402c-423c-af12-9a5faad51349?api-version=2023-02-15-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Operation-Id": "https://myaccountname.purview.azure.com/share/operationResults/00000000-0000-0000-0000-000000000000?api-version=2023-02-15-preview",
        "Operation-Location": "https://myaccountname.purview.azure.com/share/operationResults/00000000-0000-0000-0000-000000000000?api-version=2023-02-15-preview"
      },
      "ResponseBody": {
        "id": "00000000-0000-0000-0000-000000000000",
        "startTime": "2023-02-24T07:34:17.0469611Z",
        "endTime": null,
        "status": "NotStarted",
        "error": null
      }
    },
    {
      "RequestUri": "https://myaccountname.purview.azure.com/share/operationResults/00000000-0000-0000-0000-000000000000?api-version=2023-02-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "00000000-0000-0000-0000-000000000000",
        "startTime": "2023-02-24T07:34:17.2227438Z",
        "endTime": "2023-02-24T07:34:17.2227438Z",
        "status": "Succeeded",
        "error": null
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": null,
    "PURVIEW_SHARE_URL": "https://myaccountname.purview.azure.com/share",
    "RandomSeed": "98739718"
  }
}
