{
  "Entries": [
    {
      "RequestUri": "https://smstestapp.communication.azure.com/identities?api-version=2021-03-07",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 11 Mar 2022 19:20:14 GMT"
      },
      "RequestBody": {},
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-03-31-preview1, 2021-10-31-preview, 2021-11-01, 2022-06-01",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "feqEmjtRF02EYERcbQLVPA.0",
        "X-Processing-Time": "28ms"
      },
      "ResponseBody": {
        "identity": {
          "id": "8:acs:ac80d96a-85de-48b1-995d-a3a3fa3627c8_00000010-1a4e-49b1-78fe-343a0d006959"
        }
      }
    },
    {
      "RequestUri": "https://smstestapp.communication.azure.com/networkTraversal/:issueRelayConfiguration?api-version=2022-03-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 11 Mar 2022 19:20:15 GMT"
      },
      "RequestBody": {
        "id": "8:acs:ac80d96a-85de-48b1-995d-a3a3fa3627c8_00000010-1a4e-49b1-78fe-343a0d006959",
        "routeType": "nearest"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-02-22-preview1, 2021-06-21-preview, 2021-10-08-preview, 2022-03-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "4fNYT1bZ\u002BkyS9U4iP6rKVQ.0",
        "X-Processing-Time": "20ms"
      },
      "ResponseBody": {
        "iceServers": [
          {
            "routeType": "nearest",
            "urls": [
              "stun:13.107.17.41:3478",
              "turn:13.107.17.41:3478"
            ],
            "username": "BQAANl4jTjUB2DcPiHiswPlUsTrGyhyxnjlytY29Kq4AAAAMARCsgNlqhd5IsZldo6P6NifIhpRxSddj92WTMXrfPcaCvDez3H4=",
            "credential": "Sanitized"
          }
        ],
        "expiresOn": "2022-03-13T19:20:15.086508\u002B00:00"
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://smstestapp.communication.azure.com/;accesskey=Kg==",
    "RandomSeed": "1609487720"
  }
}
