{
  "Entries": [
    {
      "RequestUri": "https://smstestapp.communication.azure.com/networkTraversal/:issueRelayConfiguration?api-version=2022-03-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 10 Mar 2022 23:50:41 GMT"
      },
      "RequestBody": {},
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-02-22-preview1, 2021-06-21-preview, 2021-10-08-preview, 2022-03-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "WwwPR0zUQEOYJkPxa2UD6w.0",
        "X-Processing-Time": "39ms"
      },
      "ResponseBody": {
        "iceServers": [
          {
            "routeType": "any",
            "urls": [
              "stun:turn.azure.com:3478",
              "turn:turn.azure.com:3478"
            ],
            "username": "BQAANvuacpQB2DZrnbHCs0BvSL9l7hhKgvoyearLkb0AAAAMARCsgNlqhd5IsZldo6P6NifIedv0yDrWw7qu625t8IiLFqYSFG8=",
            "credential": "Sanitized"
          },
          {
            "routeType": "nearest",
            "urls": [
              "stun:13.107.17.41:3478",
              "turn:13.107.17.41:3478"
            ],
            "username": "BQAANvuacpQB2DZrnbHCs0BvSL9l7hhKgvoyearLkb0AAAAMARCsgNlqhd5IsZldo6P6NifIedv0yDrWw7qu625t8IiLFqYSFG8=",
            "credential": "Sanitized"
          }
        ],
        "expiresOn": "2022-03-12T23:50:41.8091348\u002B00:00"
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://smstestapp.communication.azure.com/;accesskey=Kg==",
    "RandomSeed": "2002873285"
  }
}
