{
  "Entries": [
    {
      "RequestUri": "https://smstestapp.communication.azure.com/networkTraversal/:issueRelayConfiguration?api-version=2022-03-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 11 Mar 2022 19:20:13 GMT"
      },
      "RequestBody": {},
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-02-22-preview1, 2021-06-21-preview, 2021-10-08-preview, 2022-03-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "fcUshrz6P0Cmp\u002BnxqxSvyQ.0",
        "X-Processing-Time": "19ms"
      },
      "ResponseBody": {
        "iceServers": [
          {
            "routeType": "any",
            "urls": [
              "stun:turn.azure.com:3478",
              "turn:turn.azure.com:3478"
            ],
            "username": "BQAANl1H9U0B2DcPh5VMfujaCV5Y\u002BBt1cfLYp69mL/oAAAAMARCsgNlqhd5IsZldo6P6NifI6j524QF3r7Qy8kW\u002BLrbLrXo4ixw=",
            "credential": "Sanitized"
          },
          {
            "routeType": "nearest",
            "urls": [
              "stun:13.107.17.41:3478",
              "turn:13.107.17.41:3478"
            ],
            "username": "BQAANl1H9U0B2DcPh5VMfujaCV5Y\u002BBt1cfLYp69mL/oAAAAMARCsgNlqhd5IsZldo6P6NifI6j524QF3r7Qy8kW\u002BLrbLrXo4ixw=",
            "credential": "Sanitized"
          }
        ],
        "expiresOn": "2022-03-13T19:20:13.6483669\u002B00:00"
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://smstestapp.communication.azure.com/;accesskey=Kg==",
    "RandomSeed": "890495141"
  }
}
