{
  "Entries": [
    {
      "RequestUri": "https://smstestapp.communication.azure.com/identities?api-version=2021-03-07",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 02 Feb 2022 20:18:27 GMT"
      },
      "RequestBody": {},
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-03-31-preview1, 2021-10-31-preview, 2021-11-01, 2022-06-01",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "QXUCmGQLzEqEm6LsWQiW7w.0",
        "X-Processing-Time": "51ms"
      },
      "ResponseBody": {
        "identity": {
          "id": "8:acs:ac80d96a-85de-48b1-995d-a3a3fa3627c8_0000000f-5bf8-4863-78fe-343a0d000741"
        }
      }
    },
    {
      "RequestUri": "https://smstestapp.communication.azure.com/networkTraversal/:issueRelayConfiguration?api-version=2022-02-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 02 Feb 2022 20:18:27 GMT"
      },
      "RequestBody": {
        "id": "8:acs:ac80d96a-85de-48b1-995d-a3a3fa3627c8_0000000f-5bf8-4863-78fe-343a0d000741",
        "routeType": "any"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-02-22-preview1, 2021-06-21-preview, 2021-10-08-preview, 2022-02-01",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "h4X63kkDbkWZ7\u002BBEOMkXIA.0",
        "X-Processing-Time": "30ms"
      },
      "ResponseBody": {
        "iceServers": [
          {
            "routeType": "any",
            "urls": [
              "stun:turn.azure.com:3478",
              "turn:turn.azure.com:3478"
            ],
            "username": "BQAANl6SwycB2BoEWRt6\u002B98fDA\u002BPuYFWndmuDf\u002B/V0kAAAAMARCsgNlqhd5IsZldo6P6NifIz/zaipYuRsvnjOKYaTPOAppOrhk=",
            "credential": "Sanitized"
          }
        ],
        "expiresOn": "2022-02-04T20:18:27.6409171\u002B00:00"
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://smstestapp.communication.azure.com/;accesskey=Kg==",
    "RandomSeed": "2120511711"
  }
}
