{
  "Entries": [
    {
      "RequestUri": "https://smstestapp.communication.azure.com/networktraversal/:issueRelayConfiguration?api-version=2021-06-21-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 01 Oct 2021 22:07:37 GMT"
      },
      "RequestBody": {},
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-02-22-preview1, 2021-06-21-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "T7dYH49L8kKtMEaQTki7Eg.0",
        "X-Processing-Time": "30ms"
      },
      "ResponseBody": {
        "expiresOn": "2021-10-01T22:07:37.782615\u002B00:00",
        "iceServers": [
          {
            "urls": [
              "stun:world.relay.skype.com:3478",
              "turn:world.relay.skype.com:3478"
            ],
            "username": "BQAANhOKWXsB17ijo\u002BMs3\u002B7W3O9Pa/nIo90rBae/xCQAAAAMARCsgNlqhd5IsZldo6P6NifI/dTKyfLTkDUOxYm7EHzGtlmQoYg=",
            "credential": "Sanitized"
          }
        ]
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://smstestapp.communication.azure.com/;accesskey=Kg==",
    "RandomSeed": "107621483"
  }
}