{
  "Entries": [
    {
      "RequestUri": "https://smstestapp.communication.azure.com/networktraversal/:issueRelayConfiguration?api-version=2021-10-08-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {},
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-02-22-preview1, 2021-06-21-preview, 2021-10-08-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "EN1KFpLj/0i9fv6DV2jPFQ.0",
        "X-Processing-Time": "15ms"
      },
      "ResponseBody": {
        "iceServers": [
          {
            "routeType": "any",
            "urls": [
              "stun:world.relay.skype.com:3478",
              "turn:world.relay.skype.com:3478"
            ],
            "username": "BQAANjSXKRIB19ztiGfQeMbE9a9M9HEyXmY4rNhPucgAAAAMARCsgNlqhd5IsZldo6P6NifIZCuMU3RgZOjD8YafzfwQs0lzZC0=",
            "credential": "Sanitized"
          },
          {
            "routeType": "nearest",
            "urls": [
              "stun:13.107.17.41:3478",
              "turn:13.107.17.41:3478"
            ],
            "username": "BQAANjSXKRIB19ztiGfQeMbE9a9M9HEyXmY4rNhPucgAAAAMARCsgNlqhd5IsZldo6P6NifIZCuMU3RgZOjD8YafzfwQs0lzZC0=",
            "credential": "Sanitized"
          }
        ],
        "expiresOn": "2021-11-17T02:28:57.8503246\u002B00:00"
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://smstestapp.communication.azure.com/;accesskey=Kg==",
    "RandomSeed": "653091290"
  }
}