{
  "Entries": [
    {
      "RequestUri": "https://smstestapp.communication.azure.com/networkTraversal/:issueRelayConfiguration?api-version=2022-03-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {},
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-02-22-preview1, 2021-06-21-preview, 2021-10-08-preview, 2022-03-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "00cttePW7U6MgTdPwoUH3w.0",
        "X-Processing-Time": "154ms"
      },
      "ResponseBody": {
        "iceServers": [
          {
            "routeType": "any",
            "urls": [
              "stun:turn.azure.com:3478",
              "turn:turn.azure.com:3478"
            ],
            "username": "BQAANl5om5IB2DcP4keS/dnPS\u002BvyfCI3i/uBLScW8vAAAAAMARCsgNlqhd5IsZldo6P6NifIRnMnett3AAeb9XygwGVNnx/bSIE=",
            "credential": "Sanitized"
          },
          {
            "routeType": "nearest",
            "urls": [
              "stun:13.107.17.41:3478",
              "turn:13.107.17.41:3478"
            ],
            "username": "BQAANl5om5IB2DcP4keS/dnPS\u002BvyfCI3i/uBLScW8vAAAAAMARCsgNlqhd5IsZldo6P6NifIRnMnett3AAeb9XygwGVNnx/bSIE=",
            "credential": "Sanitized"
          }
        ],
        "expiresOn": "2022-03-13T19:20:15.5424152\u002B00:00"
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://smstestapp.communication.azure.com/;accesskey=Kg==",
    "RandomSeed": "38169314"
  }
}
