{
  "Entries": [
    {
      "RequestUri": "https://smstestapp.communication.azure.com/networkTraversal/:issueRelayConfiguration?api-version=2022-02-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 07 Feb 2022 20:28:29 GMT"
      },
      "RequestBody": {},
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-02-22-preview1, 2021-06-21-preview, 2021-10-08-preview, 2022-02-01",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "My/KarKwjEG/Umq9XOtzNQ.0",
        "X-Processing-Time": "27ms"
      },
      "ResponseBody": {
        "iceServers": [
          {
            "routeType": "any",
            "urls": [
              "stun:turn.azure.com:3478",
              "turn:turn.azure.com:3478"
            ],
            "username": "BQAANpkv\u002BPMB2B3zIKFIeocR\u002Be2CDG/q/MJISBGimhoAAAAMARCsgNlqhd5IsZldo6P6NifIH24y3\u002BokDZmXD/07LiXwJJrTyCI=",
            "credential": "Sanitized"
          },
          {
            "routeType": "nearest",
            "urls": [
              "stun:13.107.17.41:3478",
              "turn:13.107.17.41:3478"
            ],
            "username": "BQAANpkv\u002BPMB2B3zIKFIeocR\u002Be2CDG/q/MJISBGimhoAAAAMARCsgNlqhd5IsZldo6P6NifIH24y3\u002BokDZmXD/07LiXwJJrTyCI=",
            "credential": "Sanitized"
          }
        ],
        "expiresOn": "2022-02-09T20:28:29.186098\u002B00:00"
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://smstestapp.communication.azure.com/;accesskey=Kg==",
    "RandomSeed": "822164041"
  }
}
