{
  "Entries": [
    {
      "RequestUri": "https://anpearesource1.communication.azure.com/identities?api-version=2021-03-07",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {},
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-03-31-preview1",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "FXdD1F67T06Yzg7iQOgrYQ.0",
        "X-Processing-Time": "22ms"
      },
      "ResponseBody": {
        "identity": {
          "id": "8:acs:e1b50ade-1e68-426f-b602-fdda5fda7eb1_0000000a-1822-b9de-6a0b-343a0d002f44"
        }
      }
    },
    {
      "RequestUri": "https://anpearesource1.communication.azure.com/turn/8%3Aacs%3Ae1b50ade-1e68-426f-b602-fdda5fda7eb1_0000000a-1822-b9de-6a0b-343a0d002f44/:issueCredentials?api-version=2021-02-22-preview1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-02-22-preview1",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "jrCRnwU4bkWIvo9XeuJhgw.0",
        "X-Processing-Time": "57ms"
      },
      "ResponseBody": {
        "expiresOn": "2021-05-17T02:56:42.0398464\u002B00:00",
        "turnServers": [
          {
            "urls": [
              "turn:worldaz.turn.skype.com:3478"
            ],
            "username": "BQAANpiE760B10xa2998GWIB1LnjC38YFwD6WO/GZ4AAAAAMARDhtQreHmhCb7YC/dpf2n6xxwi47zF0pM/kllYjgxsq11dsicQ=",
            "credential": "Sanitized"
          }
        ]
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://anpearesource1.communication.azure.com/;accesskey=Kg==",
    "RandomSeed": "1627404540"
  }
}