{
  "Entries": [
    {
      "RequestUri": "https://smstestapp.communication.azure.com/networkTraversal/:issueRelayConfiguration?api-version=2022-02-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {},
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-02-22-preview1, 2021-06-21-preview, 2021-10-08-preview, 2022-02-01",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "UvW7zXh0X0CiU\u002BXMv8vI5g.0",
        "X-Processing-Time": "25ms"
      },
      "ResponseBody": {
        "iceServers": [
          {
            "routeType": "any",
            "urls": [
              "stun:turn.azure.com:3478",
              "turn:turn.azure.com:3478"
            ],
            "username": "BQAANqLVBZ8B2B6w3M3ORbtPQbbgI\u002BfCPg\u002BqYK2ChecAAAAMARCsgNlqhd5IsZldo6P6NifIA6nJB/anFj3XwHK4FCErKutswZQ=",
            "credential": "Sanitized"
          },
          {
            "routeType": "nearest",
            "urls": [
              "stun:13.107.17.41:3478",
              "turn:13.107.17.41:3478"
            ],
            "username": "BQAANqLVBZ8B2B6w3M3ORbtPQbbgI\u002BfCPg\u002BqYK2ChecAAAAMARCsgNlqhd5IsZldo6P6NifIA6nJB/anFj3XwHK4FCErKutswZQ=",
            "credential": "Sanitized"
          }
        ],
        "expiresOn": "2022-02-10T19:01:40.246832\u002B00:00"
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://smstestapp.communication.azure.com/;accesskey=Kg==",
    "RandomSeed": "757251781"
  }
}
