{
  "Entries": [
    {
      "RequestUri": "https://smstestapp.communication.azure.com/networkTraversal/:issueRelayConfiguration?api-version=2022-03-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 11 Mar 2022 19:20:13 GMT"
      },
      "RequestBody": {},
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-02-22-preview1, 2021-06-21-preview, 2021-10-08-preview, 2022-03-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "8ff/PEvrjUmC1JJ5d6Uw\u002BA.0",
        "X-Processing-Time": "19ms"
      },
      "ResponseBody": {
        "iceServers": [
          {
            "routeType": "any",
            "urls": [
              "stun:turn.azure.com:3478",
              "turn:turn.azure.com:3478"
            ],
            "username": "BQAANl0HmG4B2DcP1Mn1ndmwMEsMTJpQfXKa6fjzLfkAAAAMARCsgNlqhd5IsZldo6P6NifIGsX8IKkzZcl5t\u002Bm6DF0\u002Bz7i2ugs=",
            "credential": "Sanitized"
          },
          {
            "routeType": "nearest",
            "urls": [
              "stun:13.107.17.41:3478",
              "turn:13.107.17.41:3478"
            ],
            "username": "BQAANl0HmG4B2DcP1Mn1ndmwMEsMTJpQfXKa6fjzLfkAAAAMARCsgNlqhd5IsZldo6P6NifIGsX8IKkzZcl5t\u002Bm6DF0\u002Bz7i2ugs=",
            "credential": "Sanitized"
          }
        ],
        "expiresOn": "2022-03-13T19:20:13.2337171\u002B00:00"
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://smstestapp.communication.azure.com/;accesskey=Kg==",
    "RandomSeed": "665701791"
  }
}
