{
  "Entries": [
    {
      "RequestUri": "https://smstestapp.communication.azure.com/networkTraversal/:issueRelayConfiguration?api-version=2022-02-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {},
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-02-22-preview1, 2021-06-21-preview, 2021-10-08-preview, 2022-02-01",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "75vCT5iSME\u002BiTxDyK5Eb7g.0",
        "X-Processing-Time": "20ms"
      },
      "ResponseBody": {
        "iceServers": [
          {
            "routeType": "any",
            "urls": [
              "stun:turn.azure.com:3478",
              "turn:turn.azure.com:3478"
            ],
            "username": "BQAANojzMyUB2B4Djw4xViGs6SwAHD1W8hbrvoFk1asAAAAMARCsgNlqhd5IsZldo6P6NifIYh/S\u002BOWaPnmIOZvpk/TKBD0C038=",
            "credential": "Sanitized"
          },
          {
            "routeType": "nearest",
            "urls": [
              "stun:13.107.17.41:3478",
              "turn:13.107.17.41:3478"
            ],
            "username": "BQAANojzMyUB2B4Djw4xViGs6SwAHD1W8hbrvoFk1asAAAAMARCsgNlqhd5IsZldo6P6NifIYh/S\u002BOWaPnmIOZvpk/TKBD0C038=",
            "credential": "Sanitized"
          }
        ],
        "expiresOn": "2022-02-09T22:22:33.8867672\u002B00:00"
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://smstestapp.communication.azure.com/;accesskey=Kg==",
    "RandomSeed": "1181395913"
  }
}
