{
  "Entries": [
    {
      "RequestUri": "https://smstestapp.communication.azure.com/networkTraversal/:issueRelayConfiguration?api-version=2022-02-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {},
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-02-22-preview1, 2021-06-21-preview, 2021-10-08-preview, 2022-02-01",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "2BzdZ4DBd0OZ18TQzQyCYQ.0",
        "X-Processing-Time": "148ms"
      },
      "ResponseBody": {
        "iceServers": [
          {
            "routeType": "any",
            "urls": [
              "stun:turn.azure.com:3478",
              "turn:turn.azure.com:3478"
            ],
            "username": "BQAANogBiWcB2B4DQHJlnAsowrD0OzTCOFOF5j8HZroAAAAMARCsgNlqhd5IsZldo6P6NifIjuY3vdFkS0orq/97GieqmHEXpDs=",
            "credential": "Sanitized"
          },
          {
            "routeType": "nearest",
            "urls": [
              "stun:13.107.17.41:3478",
              "turn:13.107.17.41:3478"
            ],
            "username": "BQAANogBiWcB2B4DQHJlnAsowrD0OzTCOFOF5j8HZroAAAAMARCsgNlqhd5IsZldo6P6NifIjuY3vdFkS0orq/97GieqmHEXpDs=",
            "credential": "Sanitized"
          }
        ],
        "expiresOn": "2022-02-09T22:22:32.3089874\u002B00:00"
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://smstestapp.communication.azure.com/;accesskey=Kg==",
    "RandomSeed": "860417491"
  }
}
