{
  "Entries": [
    {
      "RequestUri": "https://smstestapp.communication.azure.com/networktraversal/:issueRelayConfiguration?api-version=2021-10-08-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {},
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-02-22-preview1, 2021-06-21-preview, 2021-10-08-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "XvwLi\u002BuPkEKt/5r\u002BxtOTWQ.0",
        "X-Processing-Time": "139ms"
      },
      "ResponseBody": {
        "iceServers": [
          {
            "routeType": "any",
            "urls": [
              "stun:world.relay.skype.com:3478",
              "turn:world.relay.skype.com:3478"
            ],
            "username": "BQAANrcuCoYB19wPUygI3NXZBH5Bq6vjTIJJZdknVYgAAAAMARCsgNlqhd5IsZldo6P6NifIOxv5L8MrStMYNBdUuGuMVPDDcAs=",
            "credential": "Sanitized"
          },
          {
            "routeType": "nearest",
            "urls": [
              "stun:13.107.17.41:3478",
              "turn:13.107.17.41:3478"
            ],
            "username": "BQAANrcuCoYB19wPUygI3NXZBH5Bq6vjTIJJZdknVYgAAAAMARCsgNlqhd5IsZldo6P6NifIOxv5L8MrStMYNBdUuGuMVPDDcAs=",
            "credential": "Sanitized"
          }
        ],
        "expiresOn": "2021-11-16T00:03:28.6663724\u002B00:00"
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://smstestapp.communication.azure.com/;accesskey=Kg==",
    "RandomSeed": "94761552"
  }
}