{
  "Entries": [
    {
      "RequestUri": "https://smstestapp.communication.azure.com/networkTraversal/:issueRelayConfiguration?api-version=2022-03-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 09 Mar 2022 18:36:22 GMT"
      },
      "RequestBody": {},
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-02-22-preview1, 2021-06-21-preview, 2021-10-08-preview, 2022-03-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "Wvi9EjKBCkmU3Tyo4aJVAw.0",
        "X-Processing-Time": "19ms"
      },
      "ResponseBody": {
        "iceServers": [
          {
            "routeType": "any",
            "urls": [
              "stun:turn.azure.com:3478",
              "turn:turn.azure.com:3478"
            ],
            "username": "BQAANufoYSwB2DV2lzcPHjaCVW3uiqQrkWuewYvlkAEAAAAMARCsgNlqhd5IsZldo6P6NifINdzOUO7idxKbSDlg8Ch9ACM46FI=",
            "credential": "Sanitized"
          },
          {
            "routeType": "nearest",
            "urls": [
              "stun:13.107.17.41:3478",
              "turn:13.107.17.41:3478"
            ],
            "username": "BQAANufoYSwB2DV2lzcPHjaCVW3uiqQrkWuewYvlkAEAAAAMARCsgNlqhd5IsZldo6P6NifINdzOUO7idxKbSDlg8Ch9ACM46FI=",
            "credential": "Sanitized"
          }
        ],
        "expiresOn": "2022-03-11T18:36:22.0681838\u002B00:00"
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://smstestapp.communication.azure.com/;accesskey=Kg==",
    "RandomSeed": "574029401"
  }
}
