{
  "Entries": [
    {
      "RequestUri": "https://smstestapp.communication.azure.com/networkTraversal/:issueRelayConfiguration?api-version=2022-02-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 07 Feb 2022 19:39:00 GMT"
      },
      "RequestBody": {},
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-02-22-preview1, 2021-06-21-preview, 2021-10-08-preview, 2022-02-01",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "5Ib9V\u002BtTqUC4ji3PhkH91w.0",
        "X-Processing-Time": "27ms"
      },
      "ResponseBody": {
        "iceServers": [
          {
            "routeType": "any",
            "urls": [
              "stun:turn.azure.com:3478",
              "turn:turn.azure.com:3478"
            ],
            "username": "BQAANq9rsHgB2B3sJSLrKqA0dzYNusnUHUZdmfpbgVAAAAAMARCsgNlqhd5IsZldo6P6NifIFyT4uggcaVzBC8NS38yh2LNpql0=",
            "credential": "Sanitized"
          },
          {
            "routeType": "nearest",
            "urls": [
              "stun:13.107.17.41:3478",
              "turn:13.107.17.41:3478"
            ],
            "username": "BQAANq9rsHgB2B3sJSLrKqA0dzYNusnUHUZdmfpbgVAAAAAMARCsgNlqhd5IsZldo6P6NifIFyT4uggcaVzBC8NS38yh2LNpql0=",
            "credential": "Sanitized"
          }
        ],
        "expiresOn": "2022-02-09T19:39:00.0091471\u002B00:00"
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://smstestapp.communication.azure.com/;accesskey=Kg==",
    "RandomSeed": "1910597057"
  }
}
