{
  "Entries": [
    {
      "RequestUri": "https://smstestapp.communication.azure.com/networkTraversal/:issueRelayConfiguration?api-version=2022-03-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "ttl": 5000
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-02-22-preview1, 2021-06-21-preview, 2021-10-08-preview, 2022-03-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "\u002BBz6nwH\u002BNkaQcn8lva6IEA.0",
        "X-Processing-Time": "21ms"
      },
      "ResponseBody": {
        "iceServers": [
          {
            "routeType": "any",
            "urls": [
              "stun:turn.azure.com:3478",
              "turn:turn.azure.com:3478"
            ],
            "username": "BQAANkGE7AsB2DTlCGyc8C15dci1DGFqcwQU2zgAzsQAAAAMARCsgNlqhd5IsZldo6P6NifIDCZbJa1iMAxAcbdx/QnO3W5vTNc=",
            "credential": "Sanitized"
          },
          {
            "routeType": "nearest",
            "urls": [
              "stun:13.107.17.41:3478",
              "turn:13.107.17.41:3478"
            ],
            "username": "BQAANkGE7AsB2DTlCGyc8C15dci1DGFqcwQU2zgAzsQAAAAMARCsgNlqhd5IsZldo6P6NifIDCZbJa1iMAxAcbdx/QnO3W5vTNc=",
            "credential": "Sanitized"
          }
        ],
        "expiresOn": "2022-03-11T01:14:05.8977664\u002B00:00"
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://smstestapp.communication.azure.com/;accesskey=Kg==",
    "RandomSeed": "628320723"
  }
}
