{
  "Entries": [
    {
      "RequestUri": "https://smstestapp.communication.azure.com/networkTraversal/:issueRelayConfiguration?api-version=2022-03-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {},
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-02-22-preview1, 2021-06-21-preview, 2021-10-08-preview, 2022-03-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "bI6nVGE/GkKJfkx7m6uUNQ.0",
        "X-Processing-Time": "14ms"
      },
      "ResponseBody": {
        "iceServers": [
          {
            "routeType": "any",
            "urls": [
              "stun:turn.azure.com:3478",
              "turn:turn.azure.com:3478"
            ],
            "username": "BQAANv3sGukB2DZrP/lxhGoqa9Mrd\u002B4sxaPxa\u002BCzaQQAAAAMARCsgNlqhd5IsZldo6P6NifIzu159\u002B0EDvN/QC0qzkl5zDUfL3o=",
            "credential": "Sanitized"
          },
          {
            "routeType": "nearest",
            "urls": [
              "stun:13.107.17.41:3478",
              "turn:13.107.17.41:3478"
            ],
            "username": "BQAANv3sGukB2DZrP/lxhGoqa9Mrd\u002B4sxaPxa\u002BCzaQQAAAAMARCsgNlqhd5IsZldo6P6NifIzu159\u002B0EDvN/QC0qzkl5zDUfL3o=",
            "credential": "Sanitized"
          }
        ],
        "expiresOn": "2022-03-12T23:50:45.7102034\u002B00:00"
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://smstestapp.communication.azure.com/;accesskey=Kg==",
    "RandomSeed": "164552157"
  }
}
