{
  "Entries": [
    {
      "RequestUri": "https://smstestapp.communication.azure.com/identities?api-version=2021-03-07",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 10 Mar 2022 23:50:46 GMT"
      },
      "RequestBody": {},
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-03-31-preview1, 2021-10-31-preview, 2021-11-01, 2022-06-01",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "1frZqvMGGUuwCzBffmRLYw.0",
        "X-Processing-Time": "27ms"
      },
      "ResponseBody": {
        "identity": {
          "id": "8:acs:ac80d96a-85de-48b1-995d-a3a3fa3627c8_00000010-161f-9b64-f40f-343a0d0023c6"
        }
      }
    },
    {
      "RequestUri": "https://smstestapp.communication.azure.com/networkTraversal/:issueRelayConfiguration?api-version=2022-03-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 10 Mar 2022 23:50:46 GMT"
      },
      "RequestBody": {
        "id": "8:acs:ac80d96a-85de-48b1-995d-a3a3fa3627c8_00000010-161f-9b64-f40f-343a0d0023c6",
        "routeType": "any"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-02-22-preview1, 2021-06-21-preview, 2021-10-08-preview, 2022-03-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "Ha3NaooQMkmg3/yIxwOr3w.0",
        "X-Processing-Time": "23ms"
      },
      "ResponseBody": {
        "iceServers": [
          {
            "routeType": "any",
            "urls": [
              "stun:turn.azure.com:3478",
              "turn:turn.azure.com:3478"
            ],
            "username": "BQAANv6q108B2DZra6a7tCcV60OqvDjLkmC4gQuEz6wAAAAMARCsgNlqhd5IsZldo6P6NifItuw\u002Bt1GHXFSP1H3F6sv60AWne68=",
            "credential": "Sanitized"
          }
        ],
        "expiresOn": "2022-03-12T23:50:46.9485079\u002B00:00"
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://smstestapp.communication.azure.com/;accesskey=Kg==",
    "RandomSeed": "771148061"
  }
}
