{
  "Entries": [
    {
      "RequestUri": "https://smstestapp.communication.azure.com/identities?api-version=2021-03-07",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 29 Sep 2021 15:38:28 GMT"
      },
      "RequestBody": {},
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-03-31-preview1, 2021-10-31-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "iovDkRTBLk6U/2zf3tQ6pQ.0",
        "X-Processing-Time": "60ms"
      },
      "ResponseBody": {
        "identity": {
          "id": "8:acs:ac80d96a-85de-48b1-995d-a3a3fa3627c8_0000000c-d216-ace4-fcb1-9f3a0d000514"
        }
      }
    },
    {
      "RequestUri": "https://smstestapp.communication.azure.com/networktraversal/:issueRelayConfiguration?api-version=2021-06-21-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 29 Sep 2021 15:38:29 GMT"
      },
      "RequestBody": {
        "id": "8:acs:ac80d96a-85de-48b1-995d-a3a3fa3627c8_0000000c-d216-ace4-fcb1-9f3a0d000514"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-02-22-preview1, 2021-06-21-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "svk5ed0odE\u002B19kI8VGmoUA.0",
        "X-Processing-Time": "81ms"
      },
      "ResponseBody": {
        "expiresOn": "2021-09-29T15:38:29.1542456\u002B00:00",
        "iceServers": [
          {
            "urls": [
              "stun:world.relay.skype.com:3478",
              "turn:world.relay.skype.com:3478"
            ],
            "username": "BQAANmHXG2cB17ba16dHFp82dl3EFqjP5XSLpJ6jU/0AAAAMARCsgNlqhd5IsZldo6P6NifIF3zTb7qg/Sob8boYMqIlFM8u8po=",
            "credential": "Sanitized"
          }
        ]
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://smstestapp.communication.azure.com/;accesskey=Kg==",
    "RandomSeed": "983455153"
  }
}