{
  "Entries": [
    {
      "RequestUri": "https://smstestapp.communication.azure.com/identities?api-version=2021-03-07",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Sun, 31 Oct 2021 22:44:47 GMT"
      },
      "RequestBody": {},
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-03-31-preview1, 2021-10-31-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "wyGjsoo810i\u002BE/X1lSuQsw.0",
        "X-Processing-Time": "23ms"
      },
      "ResponseBody": {
        "identity": {
          "id": "8:acs:ac80d96a-85de-48b1-995d-a3a3fa3627c8_0000000d-7868-7a07-6e80-0848220000e4"
        }
      }
    },
    {
      "RequestUri": "https://smstestapp.communication.azure.com/networktraversal/:issueRelayConfiguration?api-version=2021-06-21-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Sun, 31 Oct 2021 22:44:47 GMT"
      },
      "RequestBody": {
        "id": "8:acs:ac80d96a-85de-48b1-995d-a3a3fa3627c8_0000000d-7868-7a07-6e80-0848220000e4",
        "routeType": "nearest"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-02-22-preview1, 2021-06-21-preview, 2021-10-08-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "yvnRzCBP\u002BE\u002B6Tfo8xATqbA.0",
        "X-Processing-Time": "29ms"
      },
      "ResponseBody": {
        "expiresOn": "2021-10-31T22:44:47.818076\u002B00:00",
        "iceServers": [
          {
            "urls": [
              "stun:world.relay.skype.com:3478",
              "turn:world.relay.skype.com:3478"
            ],
            "username": "BQAANj0jrTIB19A76VRGpMa2F7CAx9M2KRub0ez0yR8AAAAMARCsgNlqhd5IsZldo6P6NifIOG5GugEJSWmyg6/TkVlrIb17pBw=",
            "credential": "Sanitized"
          }
        ]
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://smstestapp.communication.azure.com/;accesskey=Kg==",
    "RandomSeed": "109664023"
  }
}