{
  "Entries": [
    {
      "RequestUri": "https://smstestapp.communication.azure.com/networkTraversal/:issueRelayConfiguration?api-version=2022-03-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 11 Mar 2022 19:20:15 GMT"
      },
      "RequestBody": {},
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-02-22-preview1, 2021-06-21-preview, 2021-10-08-preview, 2022-03-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "j6JayqVO90iC4CDamsUAOA.0",
        "X-Processing-Time": "19ms"
      },
      "ResponseBody": {
        "iceServers": [
          {
            "routeType": "any",
            "urls": [
              "stun:turn.azure.com:3478",
              "turn:turn.azure.com:3478"
            ],
            "username": "BQAANl5JdC4B2DcPUzdQ4h2bPX9xw\u002B9vZ6F\u002B266jziYAAAAMARCsgNlqhd5IsZldo6P6NifIfL1FKnLlJ6p2sN5GI1YXs2DjwFk=",
            "credential": "Sanitized"
          },
          {
            "routeType": "nearest",
            "urls": [
              "stun:13.107.17.41:3478",
              "turn:13.107.17.41:3478"
            ],
            "username": "BQAANl5JdC4B2DcPUzdQ4h2bPX9xw\u002B9vZ6F\u002B266jziYAAAAMARCsgNlqhd5IsZldo6P6NifIfL1FKnLlJ6p2sN5GI1YXs2DjwFk=",
            "credential": "Sanitized"
          }
        ],
        "expiresOn": "2022-03-13T19:20:15.3482875\u002B00:00"
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://smstestapp.communication.azure.com/;accesskey=Kg==",
    "RandomSeed": "1347340887"
  }
}
