{
  "Entries": [
    {
      "RequestUri": "https://smstestapp.communication.azure.com/networkTraversal/:issueRelayConfiguration?api-version=2022-03-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {},
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-02-22-preview1, 2021-06-21-preview, 2021-10-08-preview, 2022-03-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "uCMNjkUyQkmfFPBp7bOO\u002Bg.0",
        "X-Processing-Time": "16ms"
      },
      "ResponseBody": {
        "iceServers": [
          {
            "routeType": "any",
            "urls": [
              "stun:turn.azure.com:3478",
              "turn:turn.azure.com:3478"
            ],
            "username": "BQAANufwJSkB2DV2zE8moovHiojwncCOVm4R5wvvW94AAAAMARCsgNlqhd5IsZldo6P6NifIZpOBScqb9vg5MSWdbnBVLXMriXM=",
            "credential": "Sanitized"
          },
          {
            "routeType": "nearest",
            "urls": [
              "stun:13.107.17.41:3478",
              "turn:13.107.17.41:3478"
            ],
            "username": "BQAANufwJSkB2DV2zE8moovHiojwncCOVm4R5wvvW94AAAAMARCsgNlqhd5IsZldo6P6NifIZpOBScqb9vg5MSWdbnBVLXMriXM=",
            "credential": "Sanitized"
          }
        ],
        "expiresOn": "2022-03-11T18:36:22.1177693\u002B00:00"
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://smstestapp.communication.azure.com/;accesskey=Kg==",
    "RandomSeed": "386757647"
  }
}
