{
  "Entries": [
    {
      "RequestUri": "https://smstestapp.communication.azure.com/networkTraversal/:issueRelayConfiguration?api-version=2022-03-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {},
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-02-22-preview1, 2021-06-21-preview, 2021-10-08-preview, 2022-03-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "uifVAqlnxk6VeSfokB\u002BP8A.0",
        "X-Processing-Time": "246ms"
      },
      "ResponseBody": {
        "iceServers": [
          {
            "routeType": "any",
            "urls": [
              "stun:turn.azure.com:3478",
              "turn:turn.azure.com:3478"
            ],
            "username": "BQAANvzSyDAB2DZrxVuwqUwnvHHFBJBiIc5jfhXFolAAAAAMARCsgNlqhd5IsZldo6P6NifI\u002B\u002BMoxZzLuh7KTXVHq0NVYaIj01A=",
            "credential": "Sanitized"
          },
          {
            "routeType": "nearest",
            "urls": [
              "stun:13.107.17.41:3478",
              "turn:13.107.17.41:3478"
            ],
            "username": "BQAANvzSyDAB2DZrxVuwqUwnvHHFBJBiIc5jfhXFolAAAAAMARCsgNlqhd5IsZldo6P6NifI\u002B\u002BMoxZzLuh7KTXVHq0NVYaIj01A=",
            "credential": "Sanitized"
          }
        ],
        "expiresOn": "2022-03-12T23:50:43.8584155\u002B00:00"
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://smstestapp.communication.azure.com/;accesskey=Kg==",
    "RandomSeed": "1726544586"
  }
}
