{
  "Entries": [
    {
      "RequestUri": "https://anpearesource1.communication.azure.com/identities?api-version=2021-03-07",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {},
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-03-31-preview1",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "aT54hqeqzUqFh4khvRX8NA.0",
        "X-Processing-Time": "59ms"
      },
      "ResponseBody": {
        "identity": {
          "id": "8:acs:e1b50ade-1e68-426f-b602-fdda5fda7eb1_0000000a-0cfd-09a1-47b4-a43a0d006da1"
        }
      }
    },
    {
      "RequestUri": "https://anpearesource1.communication.azure.com/turn/8%3Aacs%3Ae1b50ade-1e68-426f-b602-fdda5fda7eb1_0000000a-0cfd-09a1-47b4-a43a0d006da1/:issueCredentials?api-version=2021-02-22-preview1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-02-22-preview1",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "LmJTQYRycUCYa3mLTUnLWA.0",
        "X-Processing-Time": "171ms"
      },
      "ResponseBody": {
        "expiresOn": "2021-05-14T22:59:42.9131316\u002B00:00",
        "turnServers": [
          {
            "urls": [
              "turn:worldaz.turn.skype.com:3478"
            ],
            "username": "BQAANihtqekB10qncDEecy9rsBY3oRj\u002BIQLg9DsTSuUAAAAMARDhtQreHmhCb7YC/dpf2n6xHaI1qFZS8RnYjhiYNCNH7P\u002BtzJs=",
            "credential": "Sanitized"
          }
        ]
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_CONNECTION_STRING": "endpoint=https://anpearesource1.communication.azure.com/;accesskey=Kg==",
    "RandomSeed": "1266706672"
  }
}
