{
  "Entries": [
    {
      "RequestUri": "https://smstestapp.communication.azure.com/identities?api-version=2021-03-07",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 07 Feb 2022 20:28:27 GMT"
      },
      "RequestBody": {},
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-03-31-preview1, 2021-10-31-preview, 2021-11-01, 2022-06-01",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "6EWryBNnk06DBAeDbkTcyw.0",
        "X-Processing-Time": "30ms"
      },
      "ResponseBody": {
        "identity": {
          "id": "8:acs:ac80d96a-85de-48b1-995d-a3a3fa3627c8_0000000f-75c1-384d-78fe-343a0d003246"
        }
      }
    },
    {
      "RequestUri": "https://smstestapp.communication.azure.com/networkTraversal/:issueRelayConfiguration?api-version=2022-02-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "id": "8:acs:ac80d96a-85de-48b1-995d-a3a3fa3627c8_0000000f-75c1-384d-78fe-343a0d003246"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-02-22-preview1, 2021-06-21-preview, 2021-10-08-preview, 2022-02-01",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "Rvq8TS06\u002B0e84FNZC6kY5Q.0",
        "X-Processing-Time": "232ms"
      },
      "ResponseBody": {
        "iceServers": [
          {
            "routeType": "any",
            "urls": [
              "stun:turn.azure.com:3478",
              "turn:turn.azure.com:3478"
            ],
            "username": "BQAANpfNC6oB2B3z6Js4CrzjyejPhRo8U8HfQxXs7u8AAAAMARCsgNlqhd5IsZldo6P6NifIeb56ktmpTUx442huCjp3RJNgO6I=",
            "credential": "Sanitized"
          },
          {
            "routeType": "nearest",
            "urls": [
              "stun:13.107.17.41:3478",
              "turn:13.107.17.41:3478"
            ],
            "username": "BQAANpfNC6oB2B3z6Js4CrzjyejPhRo8U8HfQxXs7u8AAAAMARCsgNlqhd5IsZldo6P6NifIeb56ktmpTUx442huCjp3RJNgO6I=",
            "credential": "Sanitized"
          }
        ],
        "expiresOn": "2022-02-09T20:28:26.8528105\u002B00:00"
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://smstestapp.communication.azure.com/;accesskey=Kg==",
    "RandomSeed": "737487459"
  }
}
