{
  "Entries": [
    {
      "RequestUri": "https://smstestapp.communication.azure.com/networkTraversal/:issueRelayConfiguration?api-version=2022-03-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 09 Mar 2022 18:36:17 GMT"
      },
      "RequestBody": {
        "ttl": 5000
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-02-22-preview1, 2021-06-21-preview, 2021-10-08-preview, 2022-03-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "U29NYkfRb0\u002B\u002BBZNuHsJxMQ.0",
        "X-Processing-Time": "21ms"
      },
      "ResponseBody": {
        "iceServers": [
          {
            "routeType": "any",
            "urls": [
              "stun:turn.azure.com:3478",
              "turn:turn.azure.com:3478"
            ],
            "username": "BQAANuVZLOwB2DV2aM51HpwtM4Uf5VjgPzwRkhN1txYAAAAMARCsgNlqhd5IsZldo6P6NifIOyGs\u002BlvJA2X23X9W00tL10AA90c=",
            "credential": "Sanitized"
          },
          {
            "routeType": "nearest",
            "urls": [
              "stun:13.107.17.41:3478",
              "turn:13.107.17.41:3478"
            ],
            "username": "BQAANuVZLOwB2DV2aM51HpwtM4Uf5VjgPzwRkhN1txYAAAAMARCsgNlqhd5IsZldo6P6NifIOyGs\u002BlvJA2X23X9W00tL10AA90c=",
            "credential": "Sanitized"
          }
        ],
        "expiresOn": "2022-03-11T18:36:17.7791102\u002B00:00"
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://smstestapp.communication.azure.com/;accesskey=Kg==",
    "RandomSeed": "871294673"
  }
}
