{
  "Entries": [
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-8202505a-d662-5afa-a52d-1232261cbd4e?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 01 Dec 2021 23:57:43 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9B5265DEB36D9\u0022",
        "Last-Modified": "Wed, 01 Dec 2021 23:57:43 GMT",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-8202505a-d662-5afa-a52d-1232261cbd4e/test-blob-fd1f050f-0e5a-90be-e8d2-1267ebe38e31",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 01 Dec 2021 23:57:43 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": [],
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "1B2M2Y8AsgTpgAmY7PhCfg==",
        "ETag": "\u00220x8D9B5265DF4DBF5\u0022",
        "Last-Modified": "Wed, 01 Dec 2021 23:57:43 GMT",
        "x-ms-content-crc64": "AAAAAAAAAAA=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-04-10",
        "x-ms-version-id": "2021-12-01T23:57:43.9358719Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-8202505a-d662-5afa-a52d-1232261cbd4e/test-blob-fd1f050f-0e5a-90be-e8d2-1267ebe38e31?comp=block\u0026blockid=AAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 01 Dec 2021 23:57:43 GMT",
        "x-ms-version": "2021-04-10"
  [...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-8202505a-d662-5afa-a52d-1232261cbd4e/test-blob-fd1f050f-0e5a-90be-e8d2-1267ebe38e31?comp=blocklist",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "If-Match": "\u00220x8D9B5265DF4DBF5\u0022",
        "x-ms-date": "Wed, 01 Dec 2021 23:57:44 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": "\uFEFF\u003CBlockList\u003E\u003CLatest\u003EAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\u003C/Latest\u003E\u003C/BlockList\u003E",
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9B5265E2274FA\u0022",
        "Last-Modified": "Wed, 01 Dec 2021 23:57:44 GMT",
        "x-ms-content-crc64": "17m5j6ScWgM=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-04-10",
        "x-ms-version-id": "2021-12-01T23:57:44.2347018Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-8202505a-d662-5afa-a52d-1232261cbd4e/test-blob-fd1f050f-0e5a-90be-e8d2-1267ebe38e31",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 01 Dec 2021 23:57:44 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D9B5265E2274FA\u0022",
        "Last-Modified": "Wed, 01 Dec 2021 23:57:44 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 01 Dec 2021 23:57:44 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Wed, 01 Dec 2021 23:57:44 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-04-10",
        "x-ms-version-id": "2021-12-01T23:57:44.2347018Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-8202505a-d662-5afa-a52d-1232261cbd4e/test-blob-fd1f050f-0e5a-90be-e8d2-1267ebe38e31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8D9B5265E2274FA\u0022",
        "x-ms-date": "Wed, 01 Dec 2021 23:57:44 GMT",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D9B5265E2274FA\u0022",
        "Last-Modified": "Wed, 01 Dec 2021 23:57:44 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 01 Dec 2021 23:57:44 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Wed, 01 Dec 2021 23:57:44 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encry[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-8202505a-d662-5afa-a52d-1232261cbd4e?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 01 Dec 2021 23:57:44 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "951330138",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttp://seanmcccanary3.blob.core.windows.net\nhttp://seanmcccanary3.file.core.windows.net\nhttp://seanmcccanary3.queue.core.windows.net\nhttp://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttp://seanmcccanary3-secondary.blob.core.windows.net\nhttp://seanmcccanary3-secondary.file.core.windows.net\nhttp://seanmcccanary3-secondary.queue.core.windows.net\nhttp://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=http://seanmcccanary3.queue.core.windows.net/;FileEndpoint=http://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=http://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\n[encryption scope]\n\n"
  }
}