{
  "Entries": [
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-1e4ee804-c2ae-580a-857b-9d78f5fbe219?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 24 Jan 2023 17:19:33 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DAFE2F29AA03B1\u0022",
        "Last-Modified": "Tue, 24 Jan 2023 17:19:34 GMT",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-1e4ee804-c2ae-580a-857b-9d78f5fbe219/test-blob-d430fdaf-7ae0-500e-7370-5fdc9f331d54",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 24 Jan 2023 17:19:33 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "1B2M2Y8AsgTpgAmY7PhCfg==",
        "ETag": "\u00220x8DAFE2F29AFFCC6\u0022",
        "Last-Modified": "Tue, 24 Jan 2023 17:19:34 GMT",
        "x-ms-content-crc64": "AAAAAAAAAAA=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2023-01-24T17:19:34.2663878Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-1e4ee804-c2ae-580a-857b-9d78f5fbe219/test-blob-d430fdaf-7ae0-500e-7370-5fdc9f331d54?comp=block\u0026blockid=AAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 24 Jan 2023 17:19:33 GMT",
        "x-ms-version": "2021-12-02"
  [...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-1e4ee804-c2ae-580a-857b-9d78f5fbe219/test-blob-d430fdaf-7ae0-500e-7370-5fdc9f331d54?comp=blocklist",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "If-Match": "\u00220x8DAFE2F29AFFCC6\u0022",
        "x-ms-date": "Tue, 24 Jan 2023 17:19:33 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": "\uFEFF\u003CBlockList\u003E\u003CLatest\u003EAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\u003C/Latest\u003E\u003C/BlockList\u003E",
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DAFE2F29BAF797\u0022",
        "Last-Modified": "Tue, 24 Jan 2023 17:19:34 GMT",
        "x-ms-content-crc64": "17m5j6ScWgM=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2023-01-24T17:19:34.3403441Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-1e4ee804-c2ae-580a-857b-9d78f5fbe219/test-blob-d430fdaf-7ae0-500e-7370-5fdc9f331d54",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 24 Jan 2023 17:19:33 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DAFE2F29BAF797\u0022",
        "Last-Modified": "Tue, 24 Jan 2023 17:19:34 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 24 Jan 2023 17:19:34 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2023-01-24T17:19:34.3403441Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-1e4ee804-c2ae-580a-857b-9d78f5fbe219/test-blob-d430fdaf-7ae0-500e-7370-5fdc9f331d54",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8DAFE2F29BAF797\u0022",
        "x-ms-date": "Tue, 24 Jan 2023 17:19:34 GMT",
        "x-ms-range": "bytes=0-255",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-255/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DAFE2F29BAF797\u0022",
        "Last-Modified": "Tue, 24 Jan 2023 17:19:34 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 24 Jan 2023 17:19:34 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2023-01-24T17:19:34.3403441Z"
      },
      "ResponseBody": "Kn3cwsuKR00Q1KrVXYmUgsxCh/KaRRCav8zgJ0usnTzm7FdGJeyPZroTjDSfLbnC6udfmq//3eRtQQP/qh8BYzdu73AxTlzgsyE4hrnb\u002B5ISHT1kTQKN5w5y2OToj7ubESj9MT1IkJyKf\u002BaOx1YqkkZx7YzinRY04Qhiv3Z49yRlnHWQ3slUyY2g2c4c/h\u002B3R0add6EuuHMSyFA15tEmEofBKCrhmrN9HCT/QcRIGOLoqncv2n\u002BCNuMBfhV5H\u002BK8esdGWtX11q2SIFt9L3avybBtTDxa9jcHP/JG3xueBP1BQsf8Ab0N89PJnbokBQdtUrRlC9KmYoOPPhvjrveS9A=="
    },
[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-1e4ee804-c2ae-580a-857b-9d78f5fbe219/test-blob-85caf7e2-c2fa-44b9-2db3-2dee42d3ca5c",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Modified-Since": "Mon, 23 Jan 2023 17:19:33 GMT",
        "x-ms-date": "Tue, 24 Jan 2023 17:19:34 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DAFE2F29E709DC\u0022",
        "Last-Modified": "Tue, 24 Jan 2023 17:19:34 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 24 Jan 2023 17:19:34 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2023-01-24T17:19:34.6281708Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-1e4ee804-c2ae-580a-857b-9d78f5fbe219/test-blob-575ca664-df72-f4e4-b038-4c7e920a479e",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Unmodified-Since": "Wed, 25 Jan 2023 17:19:33 GMT",
        "x-ms-date": "Tue, 24 Jan 2023 17:19:34 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DAFE2F2A0F4C39\u0022",
        "Last-Modified": "Tue, 24 Jan 2023 17:19:34 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 24 Jan 2023 17:19:34 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2023-01-24T17:19:34.8930129Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-1e4ee804-c2ae-580a-857b-9d78f5fbe219/test-blob-1fd5b10e-d94e-7fc5-5ce5-3ae46c25be9f",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "\u0022garbage\u0022",
        "x-ms-date": "Tue, 24 Jan 2023 17:19:35 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DAFE2F2A6C2AF3\u0022",
        "Last-Modified": "Tue, 24 Jan 2023 17:19:35 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 24 Jan 2023 17:19:35 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2023-01-24T17:19:35.5016449Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-1e4ee804-c2ae-580a-857b-9d78f5fbe219/test-blob-12f043ed-a3b1-72f7-c8ff-18b515813cec?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 24 Jan 2023 17:19:35 GMT",
        "x-ms-lease-action": "acquire",
        "x-ms-lease-duration": "-1",
        "x-ms-proposed-lease-id": "8075bd54-eb24-f5c1-2d5f-a60488baa401",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DAFE2F2AA07946\u0022",
        "Last-Modified": "Tue, 24 Jan 2023 17:19:35 GMT",
        "x-ms-lease-id": "8075bd54-eb24-f5c1-2d5f-a60488baa401",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-1e4ee804-c2ae-580a-857b-9d78f5fbe219?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 24 Jan 2023 17:19:35 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2023-01-24T12:19:33.8675661-05:00",
    "RandomSeed": "578852828",
    "Storage_TestConfigDefault": "ProductionTenant\njaschrepragrs\nU2FuaXRpemVk\nhttps://jaschrepragrs.blob.core.windows.net\nhttps://jaschrepragrs.file.core.windows.net\nhttps://jaschrepragrs.queue.core.windows.net\nhttps://jaschrepragrs.table.core.windows.net\n\n\n\n\nhttps://jaschrepragrs-secondary.blob.core.windows.net\nhttps://jaschrepragrs-secondary.file.core.windows.net\nhttps://jaschrepragrs-secondary.queue.core.windows.net\nhttps://jaschrepragrs-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jaschrepragrs.blob.core.windows.net/;QueueEndpoint=https://jaschrepragrs.queue.core.windows.net/;FileEndpoint=https://jaschrepragrs.file.core.windows.net/;BlobSecondaryEndpoint=https://jaschrepragrs-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jaschrepragrs-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jaschrepragrs-secondary.file.core.windows.net/;AccountName=jaschrepragrs;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
