{
  "Entries": [
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-3fe2454e-eda5-dfe4-61bc-a34a8705c5de?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 08 Nov 2021 23:02:56 GMT",
        "x-ms-version": "2021-02-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9A30BE7433F52\u0022",
        "Last-Modified": "Mon, 08 Nov 2021 23:02:56 GMT",
        "x-ms-version": "2021-02-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-3fe2454e-eda5-dfe4-61bc-a34a8705c5de/test-blob-0a35c741-6e96-82fa-0d94-b90420975f56",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Mon, 08 Nov 2021 23:02:56 GMT",
        "x-ms-version": "2021-02-12"
      },
      "RequestBody": [],
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "1B2M2Y8AsgTpgAmY7PhCfg==",
        "ETag": "\u00220x8D9A30BE74D19F9\u0022",
        "Last-Modified": "Mon, 08 Nov 2021 23:02:57 GMT",
        "x-ms-content-crc64": "AAAAAAAAAAA=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-02-12",
        "x-ms-version-id": "2021-11-08T23:02:57.0193401Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-3fe2454e-eda5-dfe4-61bc-a34a8705c5de/test-blob-0a35c741-6e96-82fa-0d94-b90420975f56?comp=block\u0026blockid=AAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Mon, 08 Nov 2021 23:02:57 GMT",
        "x-ms-version": "2021-02-12"
  [...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-3fe2454e-eda5-dfe4-61bc-a34a8705c5de/test-blob-0a35c741-6e96-82fa-0d94-b90420975f56?comp=blocklist",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "If-Match": "\u00220x8D9A30BE74D19F9\u0022",
        "x-ms-date": "Mon, 08 Nov 2021 23:02:57 GMT",
        "x-ms-version": "2021-02-12"
      },
      "RequestBody": "\uFEFF\u003CBlockList\u003E\u003CLatest\u003EAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\u003C/Latest\u003E\u003C/BlockList\u003E",
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9A30BE75EF1AF\u0022",
        "Last-Modified": "Mon, 08 Nov 2021 23:02:57 GMT",
        "x-ms-content-crc64": "17m5j6ScWgM=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-02-12",
        "x-ms-version-id": "2021-11-08T23:02:57.1372735Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-3fe2454e-eda5-dfe4-61bc-a34a8705c5de/test-blob-0a35c741-6e96-82fa-0d94-b90420975f56",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 08 Nov 2021 23:02:57 GMT",
        "x-ms-version": "2021-02-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D9A30BE75EF1AF\u0022",
        "Last-Modified": "Mon, 08 Nov 2021 23:02:57 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Mon, 08 Nov 2021 23:02:57 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Mon, 08 Nov 2021 23:02:57 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-02-12",
        "x-ms-version-id": "2021-11-08T23:02:57.1372735Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-3fe2454e-eda5-dfe4-61bc-a34a8705c5de/test-blob-0a35c741-6e96-82fa-0d94-b90420975f56",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8D9A30BE75EF1AF\u0022",
        "x-ms-date": "Mon, 08 Nov 2021 23:02:57 GMT",
        "x-ms-range": "bytes=0-127",
        "x-ms-version": "2021-02-12"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-127/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D9A30BE75EF1AF\u0022",
        "Last-Modified": "Mon, 08 Nov 2021 23:02:57 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Mon, 08 Nov 2021 23:02:57 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Mon, 08 Nov 2021 23:02:57 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-02-12",
        "x-ms-version-id": "2021-11-08T23:02:57.1372735Z"
      },
      "ResponseBody": "7eZtIYOq/4jPden\u002BtFWBEW7HjSusQc8iPv0alC3zW0cwiKF24ixYElvQtJmzUfgx44YTSoFKBKwWSuKGj2tb3Bqhziu0Cy9CbnrP24w2b\u002B0E6LGn3xDG5YT1X5hJ0oLwddd\u002BEYPMfddX0dsGeikf4Nr1gae6s/wK2\u002BmnvquW\u002BZw="
    },
[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-3fe2454e-eda5-dfe4-61bc-a34a8705c5de?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 08 Nov 2021 23:02:57 GMT",
        "x-ms-version": "2021-02-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-02-12"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1338523107",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttp://seanmcccanary3.blob.core.windows.net\nhttp://seanmcccanary3.file.core.windows.net\nhttp://seanmcccanary3.queue.core.windows.net\nhttp://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttp://seanmcccanary3-secondary.blob.core.windows.net\nhttp://seanmcccanary3-secondary.file.core.windows.net\nhttp://seanmcccanary3-secondary.queue.core.windows.net\nhttp://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=http://seanmcccanary3.queue.core.windows.net/;FileEndpoint=http://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=http://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\n[encryption scope]\n\n"
  }
}