{
  "Entries": [
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-fc917f76-793b-483b-8fc9-85cc58c7069c?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Fri, 12 Nov 2021 00:35:30 GMT",
        "x-ms-version": "2021-02-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9A57454DE7520\u0022",
        "Last-Modified": "Fri, 12 Nov 2021 00:35:30 GMT",
        "x-ms-version": "2021-02-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-fc917f76-793b-483b-8fc9-85cc58c7069c/test-blob-a4d82963-e0ea-d3f3-9434-a797060902d6",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 12 Nov 2021 00:35:30 GMT",
        "x-ms-version": "2021-02-12"
      },
      "RequestBody": [],
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "1B2M2Y8AsgTpgAmY7PhCfg==",
        "ETag": "\u00220x8D9A57454E7E46E\u0022",
        "Last-Modified": "Fri, 12 Nov 2021 00:35:30 GMT",
        "x-ms-content-crc64": "AAAAAAAAAAA=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-02-12",
        "x-ms-version-id": "2021-11-12T00:35:30.8908654Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-fc917f76-793b-483b-8fc9-85cc58c7069c/test-blob-a4d82963-e0ea-d3f3-9434-a797060902d6?comp=block\u0026blockid=AAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Fri, 12 Nov 2021 00:35:30 GMT",
        "x-ms-version": "2021-02-12"
  [...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-fc917f76-793b-483b-8fc9-85cc58c7069c/test-blob-a4d82963-e0ea-d3f3-9434-a797060902d6?comp=blocklist",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "If-Match": "\u00220x8D9A57454E7E46E\u0022",
        "x-ms-date": "Fri, 12 Nov 2021 00:35:31 GMT",
        "x-ms-version": "2021-02-12"
      },
      "RequestBody": "\uFEFF\u003CBlockList\u003E\u003CLatest\u003EAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\u003C/Latest\u003E\u003C/BlockList\u003E",
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9A574550D8F61\u0022",
        "Last-Modified": "Fri, 12 Nov 2021 00:35:31 GMT",
        "x-ms-content-crc64": "17m5j6ScWgM=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-02-12",
        "x-ms-version-id": "2021-11-12T00:35:31.1387249Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-fc917f76-793b-483b-8fc9-85cc58c7069c/test-blob-a4d82963-e0ea-d3f3-9434-a797060902d6",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 12 Nov 2021 00:35:31 GMT",
        "x-ms-version": "2021-02-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D9A574550D8F61\u0022",
        "Last-Modified": "Fri, 12 Nov 2021 00:35:31 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 12 Nov 2021 00:35:31 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Fri, 12 Nov 2021 00:35:31 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-02-12",
        "x-ms-version-id": "2021-11-12T00:35:31.1387249Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-fc917f76-793b-483b-8fc9-85cc58c7069c/test-blob-a4d82963-e0ea-d3f3-9434-a797060902d6",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8D9A574550D8F61\u0022",
        "x-ms-date": "Fri, 12 Nov 2021 00:35:31 GMT",
        "x-ms-range": "bytes=0-99",
        "x-ms-version": "2021-02-12"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-99/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D9A574550D8F61\u0022",
        "Last-Modified": "Fri, 12 Nov 2021 00:35:31 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 12 Nov 2021 00:35:31 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Fri, 12 Nov 2021 00:35:31 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-02-12",
        "x-ms-version-id": "2021-11-12T00:35:31.1387249Z"
      },
      "ResponseBody": "LJdl38EcTT6S2rKws1BQstEkHlUZOaJoRgasHTNumAQYQr9fdhifkbVvOx9NQ1mjSlGt\u002BSYdavP1/Jm6cDALI0KtmHGR8Dy5hY2fqv2DGwKsCdLiwJ7e\u002BtfLanl\u002B5CCFYxfcoA=="
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-fc917f76-793b-483b-8fc9-85cc58c7069c?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 12 Nov 2021 00:35:31 GMT",
        "x-ms-version": "2021-02-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-02-12"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "674882380",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttp://seanmcccanary3.blob.core.windows.net\nhttp://seanmcccanary3.file.core.windows.net\nhttp://seanmcccanary3.queue.core.windows.net\nhttp://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttp://seanmcccanary3-secondary.blob.core.windows.net\nhttp://seanmcccanary3-secondary.file.core.windows.net\nhttp://seanmcccanary3-secondary.queue.core.windows.net\nhttp://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=http://seanmcccanary3.queue.core.windows.net/;FileEndpoint=http://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=http://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\n[encryption scope]\n\n"
  }
}