{
  "Entries": [
    {
      "RequestUri": "https://fakeHost.api.wus2.timeseriesinsights.azure.com/timeseries/types/$batch?api-version=2020-07-31",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "put": [
          {
            "id": "258886657",
            "name": "typencDGakRm",
            "variables": {
              "categoricalVariableNameOf9bOQTO": {
                "value": {
                  "tsx": "$event"
                },
                "defaultCategory": {
                  "label": "label"
                },
                "kind": "categorical"
              }
            }
          }
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json"
      },
      "ResponseBody": {
        "put": [
          {
            "error": {
              "code": "InvalidInput",
              "message": "Unable to parse \u0027value\u0027 time series expression (TSX) in variable \u0027categoricalVariableNameOf9bOQTO\u0027.",
              "target": "variables.categoricalVariableNameOf9bOQTO.value",
              "innerError": {
                "parseErrorDetails": [
                  {
                    "pos": [
                      6,
                      6
                    ],
                    "line": 1,
                    "col": 6,
                    "msg": "no viable alternative at input \u0027$event\u0027",
                    "code": "SyntaxError",
                    "target": "\u003CEOF\u003E"
                  }
                ],
                "code": "TsxParseError"
              }
            }
          }
        ]
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.timeseriesinsights.azure.com/timeseries/types/$batch?api-version=2020-07-31",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "get": {
          "names": [
            "typencDGakRm"
          ]
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json"
      },
      "ResponseBody": {
        "get": [
          {
            "error": {
              "code": "ResourceNotFound",
              "message": "Time series type with name \u0027typencDGakRm\u0027 is not found.",
              "innerError": {
                "code": "TypeNotFound"
              }
            }
          }
        ]
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.timeseriesinsights.azure.com/timeseries/types/$batch?api-version=2020-07-31",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "delete": {
          "names": [
            "typencDGakRm"
          ]
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json"
      },
      "ResponseBody": {
        "delete": [
          null
        ]
      }
    }
  ],
  "Variables": {
    "RandomSeed": "610600783",
    "TIMESERIESINSIGHTS_URL": "fakeHost.api.wus2.timeseriesinsights.azure.com"
  }
}