{
  "Entries": [
    {
      "RequestUri": "https://fakeHost.api.wus2.timeseriesinsights.azure.com/timeseries/types?api-version=2020-07-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json"
      },
      "ResponseBody": {
        "types": [
          {
            "id": "1be09af9-f089-4d6b-9f0b-48018b5f7393",
            "name": "DefaultType",
            "description": "Default type",
            "variables": {
              "EventCount": {
                "kind": "aggregate",
                "aggregation": {
                  "tsx": "count()"
                }
              }
            }
          },
          {
            "id": "7b842385-0888-49d7-ba15-0c314f5b4a76",
            "name": "TemperatureSensor",
            "variables": {
              "ValueTimesTwo": {
                "kind": "numeric",
                "value": {
                  "tsx": "$event.temperature.Double*2"
                },
                "aggregation": {
                  "tsx": "avg($value)"
                }
              },
              "ValuesTimesThree": {
                "kind": "numeric",
                "value": {
                  "tsx": "$event.temperature.Double*3"
                },
                "aggregation": {
                  "tsx": "avg($value)"
                }
              },
              "Value": {
                "kind": "numeric",
                "value": {
                  "tsx": "$event.temperature.Double"
                },
                "aggregation": {
                  "tsx": "avg($value)"
                }
              },
              "foo": {
                "kind": "numeric",
                "value": {
                  "tsx": "$event.temperature.Double"
                },
                "aggregation": {
                  "tsx": "min($value)"
                }
              },
              "Bar": {
                "kind": "numeric",
                "value": {
                  "tsx": "$event.humidity.Double"
                },
                "aggregation": {
                  "tsx": "median($value)"
                }
              },
              "aggregateVar": {
                "kind": "aggregate",
                "aggregation": {
                  "tsx": "avg($event[\u0027Temperature\u0027].Double)"
                }
              }
            }
          },
          {
            "id": "5107825e-4b61-4d03-b84d-1df93999b0a8",
            "name": "ddd",
            "variables": {
              "aaaa": {
                "kind": "categorical",
                "value": {
                  "tsx": "$event.building.String"
                },
                "filter": {
                  "tsx": "($event.building.String) != null"
                },
                "interpolation": {
                  "kind": "step",
                  "boundary": {
                    "span": "PT5M"
                  }
                },
                "categories": [
                  {
                    "label": "dddd",
                    "values": [
                      "asdada"
                    ],
                    "annotations": {}
                  }
                ],
                "defaultCategory": {
                  "label": "aa",
                  "annotations": {}
                }
              }
            }
          }
        ]
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.timeseriesinsights.azure.com/timeseries/types/$batch?api-version=2020-07-31",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "put": [
          {
            "id": "1141002836",
            "name": "typen6ZDuE3F",
            "variables": {
              "aggregateVariablexWpruYEk": {
                "aggregation": {
                  "tsx": "count()"
                },
                "kind": "aggregate"
              }
            }
          },
          {
            "id": "1546230302",
            "name": "typewNX0JO1y",
            "variables": {
              "aggregateVariablexWpruYEk": {
                "aggregation": {
                  "tsx": "count()"
                },
                "kind": "aggregate"
              }
            }
          }
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json"
      },
      "ResponseBody": {
        "put": [
          {
            "timeSeriesType": {
              "id": "1141002836",
              "name": "typen6ZDuE3F",
              "variables": {
                "aggregateVariablexWpruYEk": {
                  "kind": "aggregate",
                  "aggregation": {
                    "tsx": "count()"
                  }
                }
              }
            }
          },
          {
            "timeSeriesType": {
              "id": "1546230302",
              "name": "typewNX0JO1y",
              "variables": {
                "aggregateVariablexWpruYEk": {
                  "kind": "aggregate",
                  "aggregation": {
                    "tsx": "count()"
                  }
                }
              }
            }
          }
        ]
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.timeseriesinsights.azure.com/timeseries/types/$batch?api-version=2020-07-31",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "get": {
          "names": [
            "typen6ZDuE3F",
            "typewNX0JO1y"
          ]
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json"
      },
      "ResponseBody": {
        "get": [
          {
            "timeSeriesType": {
              "id": "1141002836",
              "name": "typen6ZDuE3F",
              "variables": {
                "aggregateVariablexWpruYEk": {
                  "kind": "aggregate",
                  "aggregation": {
                    "tsx": "count()"
                  }
                }
              }
            }
          },
          {
            "timeSeriesType": {
              "id": "1546230302",
              "name": "typewNX0JO1y",
              "variables": {
                "aggregateVariablexWpruYEk": {
                  "kind": "aggregate",
                  "aggregation": {
                    "tsx": "count()"
                  }
                }
              }
            }
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://fakeHost.api.wus2.timeseriesinsights.azure.com/timeseries/types/$batch?api-version=2020-07-31",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "get": {
          "typeIds": [
            "1141002836",
            "1546230302"
          ]
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json"
      },
      "ResponseBody": {
        "get": [
          {
            "timeSeriesType": {
              "id": "1141002836",
              "name": "typen6ZDuE3F",
              "description": "Description",
              "variables": {
                "aggregateVariablexWpruYEk": {
                  "kind": "aggregate",
                  "aggregation": {
                    "tsx": "count()"
                  }
                }
              }
            }
          },
          {
            "timeSeriesType": {
              "id": "1546230302",
              "name": "typewNX0JO1y",
              "description": "Description",
              "variables": {
                "aggregateVariablexWpruYEk": {
                  "kind": "aggregate",
                  "aggregation": {
                    "tsx": "count()"
                  }
                }
              }
            }
          }
        ]
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.timeseriesinsights.azure.com/timeseries/types/$batch?api-version=2020-07-31",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "delete": {
          "typeIds": [
            "1141002836",
            "1546230302"
          ]
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json"
      },
      "ResponseBody": {
        "delete": [
          null,
          null
        ]
      }
    }
  ],
  "Variables": {
    "RandomSeed": "2126553769",
    "TIMESERIESINSIGHTS_URL": "fakeHost.api.wus2.timeseriesinsights.azure.com"
  }
}