{
  "Entries": [
    {
      "RequestUri": "https://fakeHost.api.wus2.timeseriesinsights.azure.com/timeseries/types?api-version=2020-07-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json"
      },
      "ResponseBody": {
        "types": [
          {
            "id": "1be09af9-f089-4d6b-9f0b-48018b5f7393",
            "name": "DefaultType",
            "description": "Default type",
            "variables": {
              "EventCount": {
                "kind": "aggregate",
                "aggregation": {
                  "tsx": "count()"
                }
              }
            }
          },
          {
            "id": "7b842385-0888-49d7-ba15-0c314f5b4a76",
            "name": "TemperatureSensor",
            "variables": {
              "ValueTimesTwo": {
                "kind": "numeric",
                "value": {
                  "tsx": "$event.temperature.Double*2"
                },
                "aggregation": {
                  "tsx": "avg($value)"
                }
              },
              "ValuesTimesThree": {
                "kind": "numeric",
                "value": {
                  "tsx": "$event.temperature.Double*3"
                },
                "aggregation": {
                  "tsx": "avg($value)"
                }
              },
              "Value": {
                "kind": "numeric",
                "value": {
                  "tsx": "$event.temperature.Double"
                },
                "aggregation": {
                  "tsx": "avg($value)"
                }
              },
              "InterpolationRightStep": {
                "kind": "numeric",
                "value": {
                  "tsx": "$event.temperature.Double"
                },
                "aggregation": {
                  "tsx": "right($value)"
                },
                "interpolation": {
                  "kind": "step"
                }
              },
              "InterpolationRightLinear": {
                "kind": "numeric",
                "value": {
                  "tsx": "$event.temperature.Double"
                },
                "aggregation": {
                  "tsx": "right($value)"
                },
                "interpolation": {
                  "kind": "linear"
                }
              },
              "InterpolationAvgStep": {
                "kind": "numeric",
                "value": {
                  "tsx": "$event.temperature.Double"
                },
                "aggregation": {
                  "tsx": "twavg($value)"
                },
                "interpolation": {
                  "kind": "step"
                }
              },
              "InterpolationAvgLinear": {
                "kind": "numeric",
                "value": {
                  "tsx": "$event.temperature.Double"
                },
                "aggregation": {
                  "tsx": "twavg($value)"
                },
                "interpolation": {
                  "kind": "linear"
                }
              },
              "avgNumeric": {
                "kind": "numeric",
                "value": {
                  "tsx": "$event.temperature.Double"
                },
                "aggregation": {
                  "tsx": "avg($value)"
                }
              },
              "maxNumeric": {
                "kind": "numeric",
                "value": {
                  "tsx": "$event.temperature.Double"
                },
                "aggregation": {
                  "tsx": "max($value)"
                }
              }
            }
          },
          {
            "id": "5107825e-4b61-4d03-b84d-1df93999b0a8",
            "name": "ddd",
            "variables": {
              "aaaa": {
                "kind": "categorical",
                "value": {
                  "tsx": "$event.building.String"
                },
                "filter": {
                  "tsx": "($event.building.String) != null"
                },
                "interpolation": {
                  "kind": "step",
                  "boundary": {
                    "span": "PT5M"
                  }
                },
                "categories": [
                  {
                    "label": "dddd",
                    "values": [
                      "asdada"
                    ],
                    "annotations": {}
                  }
                ],
                "defaultCategory": {
                  "label": "aa",
                  "annotations": {}
                }
              }
            }
          },
          {
            "id": "3feefdef-5342-44bf-bbe7-7b9da91d056e",
            "name": "Humidity Sensor",
            "variables": {
              "[Numeric] Value": {
                "kind": "numeric",
                "value": {
                  "tsx": "$event.humidity.Double"
                },
                "aggregation": {
                  "tsx": "avg($v[...]
    {
      "RequestUri": "https://fakeHost.api.wus2.timeseriesinsights.azure.com/timeseries/types/$batch?api-version=2020-07-31",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "put": [
          {
            "id": "359426700",
            "name": "typeL8CCYedB",
            "variables": {
              "aggregateVariableRtjDlvQI": {
                "aggregation": {
                  "tsx": "count()"
                },
                "kind": "aggregate"
              }
            }
          },
          {
            "id": "2088344450",
            "name": "typezH85pjcv",
            "variables": {
              "aggregateVariableRtjDlvQI": {
                "aggregation": {
                  "tsx": "count()"
                },
                "kind": "aggregate"
              }
            }
          }
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json"
      },
      "ResponseBody": {
        "put": [
          {
            "timeSeriesType": {
              "id": "359426700",
              "name": "typeL8CCYedB",
              "variables": {
                "aggregateVariableRtjDlvQI": {
                  "kind": "aggregate",
                  "aggregation": {
                    "tsx": "count()"
                  }
                }
              }
            }
          },
          {
            "timeSeriesType": {
              "id": "2088344450",
              "name": "typezH85pjcv",
              "variables": {
                "aggregateVariableRtjDlvQI": {
                  "kind": "aggregate",
                  "aggregation": {
                    "tsx": "count()"
                  }
                }
              }
            }
          }
        ]
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.timeseriesinsights.azure.com/timeseries/types/$batch?api-version=2020-07-31",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "get": {
          "names": [
            "typeL8CCYedB",
            "typezH85pjcv"
          ]
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json"
      },
      "ResponseBody": {
        "get": [
          {
            "timeSeriesType": {
              "id": "359426700",
              "name": "typeL8CCYedB",
              "variables": {
                "aggregateVariableRtjDlvQI": {
                  "kind": "aggregate",
                  "aggregation": {
                    "tsx": "count()"
                  }
                }
              }
            }
          },
          {
            "timeSeriesType": {
              "id": "2088344450",
              "name": "typezH85pjcv",
              "variables": {
                "aggregateVariableRtjDlvQI": {
                  "kind": "aggregate",
                  "aggregation": {
                    "tsx": "count()"
                  }
                }
              }
            }
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://fakeHost.api.wus2.timeseriesinsights.azure.com/timeseries/types/$batch?api-version=2020-07-31",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "get": {
          "typeIds": [
            "359426700",
            "2088344450"
          ]
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json"
      },
      "ResponseBody": {
        "get": [
          {
            "timeSeriesType": {
              "id": "359426700",
              "name": "typeL8CCYedB",
              "description": "Description",
              "variables": {
                "aggregateVariableRtjDlvQI": {
                  "kind": "aggregate",
                  "aggregation": {
                    "tsx": "count()"
                  }
                }
              }
            }
          },
          {
            "timeSeriesType": {
              "id": "2088344450",
              "name": "typezH85pjcv",
              "description": "Description",
              "variables": {
                "aggregateVariableRtjDlvQI": {
                  "kind": "aggregate",
                  "aggregation": {
                    "tsx": "count()"
                  }
                }
              }
            }
          }
        ]
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.timeseriesinsights.azure.com/timeseries/types/$batch?api-version=2020-07-31",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "delete": {
          "typeIds": [
            "359426700",
            "2088344450"
          ]
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json"
      },
      "ResponseBody": {
        "delete": [
          null,
          null
        ]
      }
    }
  ],
  "Variables": {
    "RandomSeed": "1411559374",
    "TIMESERIESINSIGHTS_URL": "fakeHost.api.wus2.timeseriesinsights.azure.com"
  }
}