{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "TagKey-9823": "TagValue-1254",
          "TagKey-3481": "TagValue-320",
          "TagKey-4926": "TagValue-1187",
          "TagKey-751": "TagValue-3921",
          "TagKey-1866": "TagValue-8559",
          "TagKey-3094": "TagValue-9190",
          "TagKey-2449": "TagValue-9",
          "TagKey-8379": "TagValue-164",
          "TagKey-7470": "TagValue-2205",
          "TagKey-4236": "TagValue-3698",
          "TagKey-5316": "TagValue-2725"
        },
        "subscriptionId": "db1ab6f0-4769-4b27-930e-01e2ef9c123c",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": ".NET Mgmt SDK Test with TTL = 1 Day",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourcegroups/DnsRG4555?api-version=**",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/DnsRG4555",
        "name": "DnsRG4555",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/DnsRG4555/providers/Microsoft.Network/dnsZones/sample4161.com?api-version=2018-05-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "Global",
        "properties": {}
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "6f5f0d61-52ed-4b94-a7f3-6211d2fbc313",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "11999"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/dnsrg4555/providers/Microsoft.Network/dnszones/sample4161.com",
        "name": "sample4161.com",
        "type": "Microsoft.Network/dnszones",
        "etag": "6f5f0d61-52ed-4b94-a7f3-6211d2fbc313",
        "location": "global",
        "tags": {},
        "properties": {
          "maxNumberOfRecordSets": 10000,
          "maxNumberOfRecordsPerRecordSet": null,
          "nameServers": [
            "ns1-09.azure-dns.com.",
            "ns2-09.azure-dns.net.",
            "ns3-09.azure-dns.org.",
            "ns4-09.azure-dns.info."
          ],
          "numberOfRecordSets": 2,
          "zoneType": "Public"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/dnsrg4555/providers/Microsoft.Network/dnsZones/sample4161.com/AAAA/aaaa100?api-version=2018-05-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "TTL": 3600,
          "AAAARecords": [
            {
              "ipv6Address": "3f0d:8079:32a1:9c1d:dd7c:afc6:fc15:d55"
            },
            {
              "ipv6Address": "3f0d:8079:32a1:9c1d:dd7c:afc6:fc15:d56"
            }
          ]
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "d9c32ffb-239f-4884-acd1-5592ad1002ed",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "11999"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/dnsrg4555/providers/Microsoft.Network/dnszones/sample4161.com/AAAA/aaaa100",
        "name": "aaaa100",
        "type": "Microsoft.Network/dnszones/AAAA",
        "etag": "d9c32ffb-239f-4884-acd1-5592ad1002ed",
        "properties": {
          "fqdn": "aaaa100.sample4161.com.",
          "TTL": 3600,
          "AAAARecords": [
            {
              "ipv6Address": "3f0d:8079:32a1:9c1d:dd7c:afc6:fc15:d55"
            },
            {
              "ipv6Address": "3f0d:8079:32a1:9c1d:dd7c:afc6:fc15:d56"
            }
          ],
          "targetResource": {},
          "provisioningState": "Succeeded"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/dnsrg4555/providers/Microsoft.Network/dnsZones/sample4161.com/CAA/caa100?api-version=2018-05-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "TTL": 3600,
          "caaRecords": [
            {
              "flags": 1,
              "tag": "test1",
              "value": "caa1.contoso.com"
            },
            {
              "flags": 2,
              "tag": "test2",
              "value": "caa2.contoso.com"
            }
          ]
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "34e6f40c-7753-437a-a61a-0f16c514db3c",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "11999"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/dnsrg4555/providers/Microsoft.Network/dnszones/sample4161.com/CAA/caa100",
        "name": "caa100",
        "type": "Microsoft.Network/dnszones/CAA",
        "etag": "34e6f40c-7753-437a-a61a-0f16c514db3c",
        "properties": {
          "fqdn": "caa100.sample4161.com.",
          "TTL": 3600,
          "caaRecords": [
            {
              "flags": 1,
              "tag": "test1",
              "value": "caa1.contoso.com"
            },
            {
              "flags": 2,
              "tag": "test2",
              "value": "caa2.contoso.com"
            }
          ],
          "targetResource": {},
          "provisioningState": "Succeeded"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/dnsrg4555/providers/Microsoft.Network/dnsZones/sample4161.com/MX/mx100?api-version=2018-05-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "TTL": 3600,
          "MXRecords": [
            {
              "preference": 10,
              "exchange": "mymail1.contoso.com"
            }
          ]
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "a320301a-9be2-44f2-94f3-830a23bad70e",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "11999"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/dnsrg4555/providers/Microsoft.Network/dnszones/sample4161.com/MX/mx100",
        "name": "mx100",
        "type": "Microsoft.Network/dnszones/MX",
        "etag": "a320301a-9be2-44f2-94f3-830a23bad70e",
        "properties": {
          "fqdn": "mx100.sample4161.com.",
          "TTL": 3600,
          "MXRecords": [
            {
              "exchange": "mymail1.contoso.com",
              "preference": 10
            }
          ],
          "targetResource": {},
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/dnsrg4555/providers/Microsoft.Network/dnsZones/sample4161.com/recordsets?api-version=2018-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-resource-entities-read": "59993",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "499"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/dnsrg4555/providers/Microsoft.Network/dnszones/sample4161.com/NS/@",
            "name": "@",
            "type": "Microsoft.Network/dnszones/NS",
            "etag": "3435a220-26ce-4fc7-adb7-b13c11401e3f",
            "properties": {
              "fqdn": "sample4161.com.",
              "TTL": 172800,
              "NSRecords": [
                {
                  "nsdname": "ns1-09.azure-dns.com."
                },
                {
                  "nsdname": "ns2-09.azure-dns.net."
                },
                {
                  "nsdname": "ns3-09.azure-dns.org."
                },
                {
                  "nsdname": "ns4-09.azure-dns.info."
                }
              ],
              "targetResource": {},
              "provisioningState": "Succeeded"
            }
          },
          {
            "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/dnsrg4555/providers/Microsoft.Network/dnszones/sample4161.com/SOA/@",
            "name": "@",
            "type": "Microsoft.Network/dnszones/SOA",
            "etag": "07443681-64f8-48c1-843b-be636d4cbbb1",
            "properties": {
              "fqdn": "sample4161.com.",
              "TTL": 3600,
              "SOARecord": {
                "email": "azuredns-hostmaster.microsoft.com",
                "expireTime": 2419200,
                "host": "ns1-09.azure-dns.com.",
                "minimumTTL": 300,
                "refreshTime": 3600,
                "retryTime": 300,
                "serialNumber": 1
              },
              "targetResource": {},
              "provisioningState": "Succeeded"
            }
          },
          {
            "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/dnsrg4555/providers/Microsoft.Network/dnszones/sample4161.com/AAAA/aaaa100",
            "name": "aaaa100",
            "type": "Microsoft.Network/dnszones/AAAA",
            "etag": "d9c32ffb-239f-4884-acd1-5592ad1002ed",
            "properties": {
              "fqdn":[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/DnsRG4555/providers/Microsoft.Network/dnsZones?api-version=2018-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-resource-entities-read": "59999",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "499"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/dnsrg4555/providers/Microsoft.Network/dnszones/sample4161.com",
            "name": "sample4161.com",
            "type": "Microsoft.Network/dnszones",
            "etag": "6f5f0d61-52ed-4b94-a7f3-6211d2fbc313",
            "location": "global",
            "tags": {},
            "properties": {
              "maxNumberOfRecordSets": 10000,
              "maxNumberOfRecordsPerRecordSet": null,
              "nameServers": [
                "ns1-09.azure-dns.com.",
                "ns2-09.azure-dns.net.",
                "ns3-09.azure-dns.org.",
                "ns4-09.azure-dns.info."
              ],
              "numberOfRecordSets": 7,
              "zoneType": "Public"
            }
          }
        ]
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/dnsrg4555/providers/Microsoft.Network/dnsZones/sample4161.com?api-version=2018-05-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com:443/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/dnsrg4555/providers/Microsoft.Network/dnsOperationStatuses/bdw|65|00000000-0000-0000-0000-000000000009;51362;sample4161.com;Regulardelzone6380539163536188318973105e?api-version=2018-05-01",
        "Location": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/dnsrg4555/providers/Microsoft.Network/dnsOperationResults/bdw%7C65%7C00000000-0000-0000-0000-000000000009;51362;sample4161.com;Regulardelzone6380539163536188318973105e?api-version=2018-05-01",
        "Retry-After": "3",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "11999"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/dnsrg4555/providers/Microsoft.Network/dnsOperationStatuses/bdw%7C65%7C00000000-0000-0000-0000-000000000009;51362;sample4161.com;Regulardelzone6380539163536188318973105e?api-version=2018-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "499"
      },
      "ResponseBody": {
        "status": "Succeeded"
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "RandomSeed": "548536594",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "db1ab6f0-4769-4b27-930e-01e2ef9c123c"
  }
}
