{
  "Entries": [
    {
      "RequestUri": "/subscriptions/bc27da3b-3ba2-4e00-a6ec-1fde64aa1e21/resourceGroups/ZESUI-SCALE-RG/providers/Microsoft.Compute/virtualMachines/zesui-lin55-s-vm/providers/Microsoft.WorkloadMonitor/monitors/root/history?api-version=2020-01-13-preview&$filter=isHeartbeat%20eq%20false",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [],\r\n  \"nextLink\": null\r\n}",
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "bc27da3b-3ba2-4e00-a6ec-1fde64aa1e21"
  }
}