{
  "Entries": [
    {
      "RequestUri": "/subscriptions/bc27da3b-3ba2-4e00-a6ec-1fde64aa1e21/resourceGroups/ZESUI-SCALE-RG/providers/Microsoft.Compute/virtualMachines/zesui-lin55-s-vm/providers/Microsoft.WorkloadMonitor/monitors?api-version=2020-01-13-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11996"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"name\": \"cpu-utilization\",\r\n      \"type\": \"microsoft.workloadmonitor/monitors\",\r\n      \"id\": \"/subscriptions/bc27da3b-3ba2-4e00-a6ec-1fde64aa1e21/resourceGroups/zesui-scale-rg/providers/Microsoft.Compute/virtualMachines/zesui-lin55-s-vm/providers/Microsoft.WorkloadMonitor/monitors/cpu-utilization\",\r\n      \"properties\": {\r\n        \"monitorName\": \"cpu-utilization\",\r\n        \"monitorType\": \"cpu-utilization\",\r\n        \"monitoredObject\": \"\",\r\n        \"parentMonitorName\": \"root\",\r\n        \"evaluationTimestamp\": \"2020-10-09T13:23:45Z\",\r\n        \"currentStateFirstObservedTimestamp\": \"2020-09-30T03:23:11Z\",\r\n        \"lastReportedTimestamp\": \"2020-10-09T17:43:44Z\",\r\n        \"previousMonitorState\": \"Healthy\",\r\n        \"currentMonitorState\": \"Healthy\"\r\n      }\r\n    },\r\n    {\r\n      \"name\": \"filesystems\",\r\n      \"type\": \"microsoft.workloadmonitor/monitors\",\r\n      \"id\": \"/subscriptions/bc27da3b-3ba2-4e00-a6ec-1fde64aa1e21/resourceGroups/zesui-scale-rg/providers/Microsoft.Compute/virtualMachines/zesui-lin55-s-vm/providers/Microsoft.WorkloadMonitor/monitors/filesystems\",\r\n      \"properties\": {\r\n        \"monitorName\": \"filesystems\",\r\n        \"monitorType\": \"filesystems\",\r\n        \"monitoredO[...]
