{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "TagKey-9823": "TagValue-566",
          "TagKey-3481": "TagValue-320",
          "TagKey-4926": "TagValue-1187",
          "TagKey-751": "TagValue-3921",
          "TagKey-1866": "TagValue-8559",
          "TagKey-3094": "TagValue-9190",
          "TagKey-2449": "TagValue-9",
          "TagKey-8379": "TagValue-164",
          "TagKey-7470": "TagValue-2205",
          "TagKey-4236": "TagValue-3698",
          "TagKey-5316": "TagValue-2725"
        },
        "subscriptionId": "db1ab6f0-4769-4b27-930e-01e2ef9c123c",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": ".NET Mgmt SDK Test with TTL = 1 Day",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourcegroups/testRG-781?api-version=**",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {
          "test": "env"
        },
        "location": "eastus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-781",
        "name": "testRG-781",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus",
        "tags": {
          "test": "env"
        },
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-781/providers/Microsoft.ApiManagement/service/testapi-6647?api-version=2021-08-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "sku": {
          "name": "Developer",
          "capacity": 1
        },
        "identity": {
          "type": "SystemAssigned"
        },
        "tags": {},
        "location": "eastus",
        "properties": {
          "publisherEmail": "Sample@Sample.com",
          "publisherName": "sample"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022AAAAAABxR1s=\u0022",
        "Location": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-781/providers/Microsoft.ApiManagement/service/testapi-6647/operationresults/ZWFzdHVzOnRlc3RhcGktNjY0N19BY3RfNTg3ZjYxMg==?api-version=2021-08-01",
        "Retry-After": "60",
        "x-ms-ratelimit-remaining-subscription-writes": "1198"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-781/providers/Microsoft.ApiManagement/service/testapi-6647",
        "name": "testapi-6647",
        "type": "Microsoft.ApiManagement/service",
        "tags": {},
        "location": "East US",
        "etag": "AAAAAABxR1s=",
        "properties": {
          "publisherEmail": "Sample@Sample.com",
          "publisherName": "sample",
          "notificationSenderEmail": "apimgmt-noreply@mail.windowsazure.com",
          "provisioningState": "Created",
          "targetProvisioningState": "Activating",
          "createdAtUtc": "2022-08-20T14:22:03.439019Z",
          "gatewayUrl": "https://testapi-6647.azure-api.net",
          "gatewayRegionalUrl": null,
          "portalUrl": null,
          "developerPortalUrl": null,
          "managementApiUrl": null,
          "scmUrl": null,
          "hostnameConfigurations": [
            {
              "type": "Proxy",
              "hostName": "testapi-6647.azure-api.net",
              "encodedCertificate": null,
              "keyVaultId": null,
              "certificatePassword": null,
              "negotiateClientCertificate": false,
              "certificate": null,
              "defaultSslBinding": true,
              "identityClientId": null,
              "certificateSource": "BuiltIn",
              "certificateStatus": null
            }
          ],
          "publicIPAddresses": null,
          "privateIPAddresses": null,
          "additionalLocations": null,
          "virtualNetworkConfiguration": null,
          "customProperties": null,
          "virtualNetworkType": "None",
          "certificates": null,
          "disableGateway": false,
          "apiVersionConstraint": {
            "minApiVersion": null
          },
          "publicIpAddressId": null,
          "publicNetworkAccess": "Enabled",
          "privateEndpointConnections": null,
          "platformVersion": "undetermined"
        },
        "sku": {
          "name": "Developer",
          "capacity": 1
        },
        "identity": {
          "type": "SystemAssigned",
          "principalId": "6e4c3b3f-ff89-43eb-94a9-04f98beee8c0",
          "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47"
        },
        "zones": null,
        "systemData": {
          "createdBy": "8e6d47e0-7969-4fde-a62c-4fea4f165e98",
          "createdByType": "Application",
          "createdAt": "2022-08-20T14:22:01.0764018Z",
          "lastModifiedBy": "8e6d47e0-7969-4fde-a62c-4fea4f165e98",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2022-08-20T14:22:01.0764018Z"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-781/providers/Microsoft.ApiManagement/service/testapi-6647/operationresults/ZWFzdHVzOnRlc3RhcGktNjY0N19BY3RfNTg3ZjYxMg==?api-version=2021-08-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Location": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-781/providers/Microsoft.ApiManagement/service/testapi-6647/operationresults/ZWFzdHVzOnRlc3RhcGktNjY0N19BY3RfNTg3ZjYxMg==?api-version=2021-08-01",
        "Retry-After": "60",
        "x-ms-ratelimit-remaining-subscription-reads": "11998"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-781/providers/Microsoft.ApiManagement/service/testapi-6647/portalRevisions/revisionId3801?api-version=2021-08-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "description": "aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa",
          "isCurrent": true
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Location": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-781/providers/Microsoft.ApiManagement/service/testapi-6647/portalRevisions/revisionId3801?api-version=2021-08-01\u0026asyncId=6301009b4634610abc576ec7\u0026asyncCode=201",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-781/providers/Microsoft.ApiManagement/service/testapi-6647/portalRevisions/revisionId3801?api-version=2021-08-01\u0026asyncId=6301009b4634610abc576ec7\u0026asyncCode=201",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Location": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-781/providers/Microsoft.ApiManagement/service/testapi-6647/portalRevisions/revisionId3801?api-version=2021-08-01\u0026asyncId=6301009b4634610abc576ec7\u0026asyncCode=201",
        "x-ms-ratelimit-remaining-subscription-reads": "11947"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-781/providers/Microsoft.ApiManagement/service/testapi-6647/portalRevisions/revisionId3801?api-version=2021-08-01\u0026asyncId=6301009b4634610abc576ec7\u0026asyncCode=201",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022AAAAAAAACSM=\u0022",
        "x-ms-ratelimit-remaining-subscription-reads": "11938"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-781/providers/Microsoft.ApiManagement/service/testapi-6647/portalRevisions/revisionId3801",
        "type": "Microsoft.ApiManagement/service/portalRevisions",
        "name": "revisionId3801",
        "properties": {
          "description": "aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa",
          "statusDetails": null,
          "status": "failed",
          "isCurrent": false,
          "createdDateTime": "2022-08-20T15:41:14.083Z",
          "updatedDateTime": "2022-08-20T15:42:38.523Z"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-781/providers/Microsoft.ApiManagement/service/testapi-6647/portalRevisions/revisionId3801?api-version=2021-08-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-Match": "*"
      },
      "RequestBody": {
        "properties": {
          "description": "Updated aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022AAAAAAAACSQ=\u0022",
        "x-ms-ratelimit-remaining-subscription-writes": "1198"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-781/providers/Microsoft.ApiManagement/service/testapi-6647/portalRevisions/revisionId3801",
        "type": "Microsoft.ApiManagement/service/portalRevisions",
        "name": "revisionId3801",
        "properties": {
          "description": "Updated aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa",
          "statusDetails": null,
          "status": "failed",
          "isCurrent": false,
          "createdDateTime": "2022-08-20T15:41:14.083Z",
          "updatedDateTime": "2022-08-20T15:42:38.523Z"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-781/providers/Microsoft.ApiManagement/service/testapi-6647/portalRevisions?api-version=2021-08-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11936"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-781/providers/Microsoft.ApiManagement/service/testapi-6647/portalRevisions/revisionId3801",
            "type": "Microsoft.ApiManagement/service/portalRevisions",
            "name": "revisionId3801",
            "properties": {
              "description": "Updated aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa",
              "statusDetails": null,
              "status": "failed",
              "isCurrent": false,
              "createdDateTime": "2022-08-20T15:41:14.083Z",
              "updatedDateTime": "2022-08-20T15:42:59.927Z"
            }
          }
        ],
        "count": 1
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "RandomSeed": "899536211",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "db1ab6f0-4769-4b27-930e-01e2ef9c123c"
  }
}
