{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/b36cdf46-b75d-4dc2-9fe1-1296ee8c623d?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "id": "/subscriptions/b36cdf46-b75d-4dc2-9fe1-1296ee8c623d",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "SkipGreenTeamLinuxSSHAuthForSub": "1257085257",
          "NRMS14092567": "20221026",
          "NRMSBreakGlassSFAzureOnly": "292275228",
          "NRMSBreakGlass": "292275228"
        },
        "subscriptionId": "b36cdf46-b75d-4dc2-9fe1-1296ee8c623d",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": "SFRP Test Automation Subscription",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/b36cdf46-b75d-4dc2-9fe1-1296ee8c623d/resourcegroups/testClusterRG-2977?api-version=**",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {
          "test": "env"
        },
        "location": "southcentralus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "id": "/subscriptions/b36cdf46-b75d-4dc2-9fe1-1296ee8c623d/resourceGroups/testClusterRG-2977",
        "name": "testClusterRG-2977",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "southcentralus",
        "tags": {
          "test": "env"
        },
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/b36cdf46-b75d-4dc2-9fe1-1296ee8c623d/resourceGroups/testClusterRG-2977/providers/Microsoft.ServiceFabric/managedClusters/sfmctestcluster6493?api-version=2023-03-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "sku": {
          "name": "Standard"
        },
        "tags": {},
        "location": "southcentralus",
        "properties": {
          "dnsName": "sfmctestcluster6493",
          "clientConnectionPort": 19000,
          "httpGatewayConnectionPort": 19080,
          "adminUserName": "Myusername4",
          "adminPassword": "Sfmcpass5!"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com:443/subscriptions/b36cdf46-b75d-4dc2-9fe1-1296ee8c623d/providers/Microsoft.ServiceFabric/locations/southcentralus/managedclusteroperations/8dcb0002-e4fa-450d-af2a-6bd77bbf184e?api-version=2023-03-01-preview\u0026Experiment=local",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1198"
      },
      "ResponseBody": {
        "id": "/subscriptions/b36cdf46-b75d-4dc2-9fe1-1296ee8c623d/resourcegroups/testClusterRG-2977/providers/Microsoft.ServiceFabric/managedClusters/sfmctestcluster6493",
        "type": "Microsoft.ServiceFabric/managedclusters",
        "location": "southcentralus",
        "name": "sfmctestcluster6493",
        "tags": {},
        "systemData": {
          "createdBy": "33191366-dc30-4e67-a3e1-7dbb4b02a8ad",
          "createdByType": "Application",
          "createdAt": "2023-06-12T22:56:11.6558343\u002B00:00",
          "lastModifiedBy": "33191366-dc30-4e67-a3e1-7dbb4b02a8ad",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2023-06-12T22:56:11.6558343\u002B00:00"
        },
        "sku": {
          "name": "Standard"
        },
        "properties": {
          "provisioningState": "Creating",
          "clusterId": "7a98f432-64d6-4c84-bf3c-bb4372ba3f49",
          "clusterUpgradeMode": "Automatic",
          "isPrivateClusterCodeVersion": false,
          "clusterUpgradeCadence": "Wave0",
          "adminUserName": "Myusername4",
          "dnsName": "sfmctestcluster6493",
          "clusterCertificateThumbprints": [],
          "clientConnectionPort": 19000,
          "httpGatewayConnectionPort": 19080,
          "allowRdpAccess": false,
          "enableAutoOSUpgrade": false,
          "zonalResiliency": false,
          "useCustomVNet": false,
          "zonalUpdateMode": "Standard"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/b36cdf46-b75d-4dc2-9fe1-1296ee8c623d/providers/Microsoft.ServiceFabric/locations/southcentralus/managedclusteroperations/8dcb0002-e4fa-450d-af2a-6bd77bbf184e?api-version=2023-03-01-preview\u0026Experiment=local",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11998"
      },
      "ResponseBody": {
        "name": "8dcb0002-e4fa-450d-af2a-6bd77bbf184e",
        "startTime": "2023-06-12T22:56:12.3170179Z",
        "endTime": "0001-01-01T00:00:00",
        "percentComplete": 30.0,
        "status": "Created"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/b36cdf46-b75d-4dc2-9fe1-1296ee8c623d/resourceGroups/testClusterRG-2977/providers/Microsoft.ServiceFabric/managedClusters/sfmctestcluster6493?api-version=2023-03-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11982"
      },
      "ResponseBody": {
        "id": "/subscriptions/b36cdf46-b75d-4dc2-9fe1-1296ee8c623d/resourcegroups/testClusterRG-2977/providers/Microsoft.ServiceFabric/managedClusters/sfmctestcluster6493",
        "type": "Microsoft.ServiceFabric/managedclusters",
        "location": "southcentralus",
        "name": "sfmctestcluster6493",
        "tags": {},
        "systemData": {
          "createdBy": "33191366-dc30-4e67-a3e1-7dbb4b02a8ad",
          "createdByType": "Application",
          "createdAt": "2023-06-12T22:56:11.6558343\u002B00:00",
          "lastModifiedBy": "33191366-dc30-4e67-a3e1-7dbb4b02a8ad",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2023-06-12T22:56:11.6558343\u002B00:00"
        },
        "sku": {
          "name": "Standard"
        },
        "properties": {
          "provisioningState": "Succeeded",
          "clusterId": "7a98f432-64d6-4c84-bf3c-bb4372ba3f49",
          "clusterState": "WaitingForNodes",
          "clusterUpgradeMode": "Automatic",
          "isPrivateClusterCodeVersion": false,
          "clusterUpgradeCadence": "Wave0",
          "adminUserName": "Myusername4",
          "dnsName": "sfmctestcluster6493",
          "fqdn": "sfmctestcluster6493.southcentralus.cloudapp.azure.com",
          "ipv4Address": "20.225.177.102",
          "clusterCertificateThumbprints": [
            "44C2B492B887F9FF66FAF83EFDDFDE85098C2549"
          ],
          "clientConnectionPort": 19000,
          "httpGatewayConnectionPort": 19080,
          "allowRdpAccess": false,
          "enableAutoOSUpgrade": false,
          "zonalResiliency": false,
          "useCustomVNet": false,
          "zonalUpdateMode": "Standard"
        }
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "RandomSeed": "969261361",
    "RESOURCE_MANAGER_URL": "https://management.azure.com/",
    "SUBSCRIPTION_ID": "b36cdf46-b75d-4dc2-9fe1-1296ee8c623d"
  }
}
