{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/b36cdf46-b75d-4dc2-9fe1-1296ee8c623d?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11981"
      },
      "ResponseBody": {
        "id": "/subscriptions/b36cdf46-b75d-4dc2-9fe1-1296ee8c623d",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "SkipGreenTeamLinuxSSHAuthForSub": "1257085257",
          "NRMS14092567": "20221026",
          "NRMSBreakGlassSFAzureOnly": "292275228",
          "NRMSBreakGlass": "292275228"
        },
        "subscriptionId": "b36cdf46-b75d-4dc2-9fe1-1296ee8c623d",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": "SFRP Test Automation Subscription",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/b36cdf46-b75d-4dc2-9fe1-1296ee8c623d/resourcegroups/testClusterRG-147?api-version=**",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {
          "test": "env"
        },
        "location": "southcentralus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1197"
      },
      "ResponseBody": {
        "id": "/subscriptions/b36cdf46-b75d-4dc2-9fe1-1296ee8c623d/resourceGroups/testClusterRG-147",
        "name": "testClusterRG-147",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "southcentralus",
        "tags": {
          "test": "env"
        },
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/b36cdf46-b75d-4dc2-9fe1-1296ee8c623d/resourceGroups/testClusterRG-147/providers/Microsoft.ServiceFabric/managedClusters/sfmctestcluster8033?api-version=2023-03-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "sku": {
          "name": "Standard"
        },
        "tags": {},
        "location": "southcentralus",
        "properties": {
          "dnsName": "sfmctestcluster8033",
          "clientConnectionPort": 19000,
          "httpGatewayConnectionPort": 19080,
          "adminUserName": "Myusername4",
          "adminPassword": "Sfmcpass5!"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com:443/subscriptions/b36cdf46-b75d-4dc2-9fe1-1296ee8c623d/providers/Microsoft.ServiceFabric/locations/southcentralus/managedclusteroperations/38c30001-1c71-4b41-a721-9510968ac220?api-version=2023-03-01-preview\u0026Experiment=local",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1196"
      },
      "ResponseBody": {
        "id": "/subscriptions/b36cdf46-b75d-4dc2-9fe1-1296ee8c623d/resourcegroups/testClusterRG-147/providers/Microsoft.ServiceFabric/managedClusters/sfmctestcluster8033",
        "type": "Microsoft.ServiceFabric/managedclusters",
        "location": "southcentralus",
        "name": "sfmctestcluster8033",
        "tags": {},
        "systemData": {
          "createdBy": "33191366-dc30-4e67-a3e1-7dbb4b02a8ad",
          "createdByType": "Application",
          "createdAt": "2023-06-12T23:01:08.9723761\u002B00:00",
          "lastModifiedBy": "33191366-dc30-4e67-a3e1-7dbb4b02a8ad",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2023-06-12T23:01:08.9723761\u002B00:00"
        },
        "sku": {
          "name": "Standard"
        },
        "properties": {
          "provisioningState": "Creating",
          "clusterId": "7dfb295f-bb1b-44fd-aa83-d679968d1c1b",
          "clusterUpgradeMode": "Automatic",
          "isPrivateClusterCodeVersion": false,
          "clusterUpgradeCadence": "Wave0",
          "adminUserName": "Myusername4",
          "dnsName": "sfmctestcluster8033",
          "clusterCertificateThumbprints": [],
          "clientConnectionPort": 19000,
          "httpGatewayConnectionPort": 19080,
          "allowRdpAccess": false,
          "enableAutoOSUpgrade": false,
          "zonalResiliency": false,
          "useCustomVNet": false,
          "zonalUpdateMode": "Standard"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/b36cdf46-b75d-4dc2-9fe1-1296ee8c623d/providers/Microsoft.ServiceFabric/locations/southcentralus/managedclusteroperations/38c30001-1c71-4b41-a721-9510968ac220?api-version=2023-03-01-preview\u0026Experiment=local",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11980"
      },
      "ResponseBody": {
        "name": "38c30001-1c71-4b41-a721-9510968ac220",
        "startTime": "2023-06-12T23:01:09.1437337Z",
        "endTime": "0001-01-01T00:00:00",
        "percentComplete": 30.0,
        "status": "Created"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/b36cdf46-b75d-4dc2-9fe1-1296ee8c623d/resourceGroups/testClusterRG-147/providers/Microsoft.ServiceFabric/managedClusters/sfmctestcluster8033?api-version=2023-03-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11992"
      },
      "ResponseBody": {
        "id": "/subscriptions/b36cdf46-b75d-4dc2-9fe1-1296ee8c623d/resourcegroups/testClusterRG-147/providers/Microsoft.ServiceFabric/managedClusters/sfmctestcluster8033",
        "type": "Microsoft.ServiceFabric/managedclusters",
        "location": "southcentralus",
        "name": "sfmctestcluster8033",
        "tags": {},
        "systemData": {
          "createdBy": "33191366-dc30-4e67-a3e1-7dbb4b02a8ad",
          "createdByType": "Application",
          "createdAt": "2023-06-12T23:01:08.9723761\u002B00:00",
          "lastModifiedBy": "33191366-dc30-4e67-a3e1-7dbb4b02a8ad",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2023-06-12T23:01:08.9723761\u002B00:00"
        },
        "sku": {
          "name": "Standard"
        },
        "properties": {
          "provisioningState": "Succeeded",
          "clusterId": "7dfb295f-bb1b-44fd-aa83-d679968d1c1b",
          "clusterState": "WaitingForNodes",
          "clusterUpgradeMode": "Automatic",
          "isPrivateClusterCodeVersion": false,
          "clusterUpgradeCadence": "Wave0",
          "adminUserName": "Myusername4",
          "dnsName": "sfmctestcluster8033",
          "fqdn": "sfmctestcluster8033.southcentralus.cloudapp.azure.com",
          "ipv4Address": "20.225.130.193",
          "clusterCertificateThumbprints": [
            "3EA8278BB0C377D41B15A9C5B527DBFF85014FA1"
          ],
          "clientConnectionPort": 19000,
          "httpGatewayConnectionPort": 19080,
          "allowRdpAccess": false,
          "enableAutoOSUpgrade": false,
          "zonalResiliency": false,
          "useCustomVNet": false,
          "zonalUpdateMode": "Standard"
        }
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "RandomSeed": "667008653",
    "RESOURCE_MANAGER_URL": "https://management.azure.com/",
    "SUBSCRIPTION_ID": "b36cdf46-b75d-4dc2-9fe1-1296ee8c623d"
  }
}
