{
  "Entries": [
    {
      "RequestUri": "/providers/Microsoft.ManagementPartner/partners/d14e8666-b43e-4f12-aa78-06c49c4859de?api-version=2018-02-01",
      "RequestMethod": "PATCH",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"id\": \"/providers/microsoft.managementpartner/partners/d14e8666-b43e-4f12-aa78-06c49c4859de\",\r\n  \"type\": \"Microsoft.ManagementPartner/partner\",\r\n  \"name\": \"d14e8666-b43e-4f12-aa78-06c49c4859de\",\r\n  \"properties\": {\r\n    \"partnerId\": \"d14e8666-b43e-4f12-aa78-06c49c4859de\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-tenant-writes": [
          "1199"
        ],
        "x-gsm": [
          "7.12.0.50 (AD-CAB:master.c0929e17c.180111-0227)"
        ]
      },
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "d14e8666-b43e-4f12-aa78-06c49c4859de"
  }
}