{
  "Entries": [
    {
        "RequestUri": "https://workflow-sdk.purview.azure-test.com/workflow/workflowtasks/507d9e8a-e5c4-41db-ace5-358961e0bfeb/approve-approval?api-version=2022-05-01-preview",
        "RequestMethod": "POST",
        "RequestHeaders": {
            "Authorization": "Sanitized",
            "Content-Type": "application/json"
        },
        "RequestBody": {
            "comment": "Thanks!"
        },
        "StatusCode": 200,
        "ResponseHeaders": {
        },
        "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1525834204",
    "WORKFLOW_ENDPOINT": "https://workflow-sdk.purview.azure-test.com"
  }
}
