{
  "Entries": [
    {
      "RequestUri": "https://workflow-sdk.purview.azure-test.com/workflow/workflowruns/4f8d70c3-c09b-4e56-bfd1-8b86c79bd4d9/cancel?api-version=2022-05-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "comment": "Thanks!"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1798315145",
    "WORKFLOW_ENDPOINT": "https://workflow-sdk.purview.azure-test.com"
  }
}
