{
  "Entries": [
    {
      "RequestUri": "https://ads-perf-westeurope-pv.purview.azure.com/share/receivedShares/56f029a1-7692-46aa-8412-8bab6e685965?api-version=2022-06-30-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "properties": {
          "createdAt": "2023-02-10T22:48:47.0138898Z",
          "sharedAt": "2023-02-10T22:48:47.0138898Z",
          "displayName": "testDisplayName1",
          "provisioningState": "Succeeded",
          "shareStatus": "Detached",
          "sentShareDescription": "updatedDescription",
          "senderName": "SyMS",
          "senderTenantName": "Microsoft",
          "assetLocation": "southafricanorth",
          "assetStoreKind": "AdlsGen2Account"
        },
        "shareKind": "InPlace",
        "id": "56f029a1-7692-46aa-8412-8bab6e685965",
        "type": "ReceivedShare"
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": null,
    "PURVIEW_SHARE_URL": "https://ads-perf-westeurope-pv.purview.azure.com/share",
    "RandomSeed": "972580648"
  }
}
