{
  "Entries": [
    {
      "RequestUri": "/0a4ae132-d38b-487e-9051-a22d852b2834/services/networking/ApplicationGateways?api-version=2014-10-01",
      "RequestMethod": "POST",
      "RequestBody": "<CreateApplicationGatewayParameters xmlns=\"http://schemas.microsoft.com/windowsazure\">\r\n  <Description>Application Gateway created to test Hydra script</Description>\r\n  <InstanceCount>0</InstanceCount>\r\n  <Name>kagapstesting</Name>\r\n  <Subnets>\r\n    <Subnet>Subnet-1</Subnet>\r\n  </Subnets>\r\n  <VnetName>kagavnet2</VnetName>\r\n</CreateApplicationGatewayParameters>",
      "RequestHeaders": {
        "Content-Type": [
          "application/xml"
        ],
        "x-ms-version": [
          "2014-10-01"
        ]
      },
      "ResponseBody": "<GatewayOperationAsyncResponse xmlns=\"http://schemas.microsoft.com/windowsazure\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n  <ID>7e4177e5-51f6-41d9-bae2-bfb72f99804c</ID>\r\n</GatewayOperationAsyncResponse>",
      "ResponseHeaders": {
        "Content-Type": [
          "application/xml; charset=utf-8"
        ],
        "x-ms-servedbyregion": [
          "ussouth2"
        ]
      },
      "StatusCode": 202
    },
    {
      "RequestUri": "/0a4ae132-d38b-487e-9051-a22d852b2834/services/networking/operation/7e4177e5-51f6-41d9-bae2-bfb72f99804c",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2014-10-01"
        ]
      },
      "ResponseBody": "<GatewayOperation xmlns=\"http://schemas.microsoft.com/windowsazure\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n  <ID>7e4177e5-51f6-41d9-bae2-bfb72f99804c</ID>\r\n  <OperationName>ApplicationGatewayWorkItem</OperationName>\r\n  <OperationStartedTime>2015-02-09T18:25:42.3067657</OperationStartedTime>\r\n  <Status>InProgress</Status>\r\n</GatewayOperation>",
      "ResponseHeaders": {
        "Content-Type": [
          "application/xml; charset=utf-8"
        ],
        "x-ms-servedbyregion": [
          "ussouth2"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/0a4ae132-d38b-487e-9051-a22d852b2834/services/networking/operation/7e4177e5-51f6-41d9-bae2-bfb72f99804c",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2014-10-01"
        ]
      },
      "ResponseBody": "<GatewayOperation xmlns=\"http://schemas.microsoft.com/windowsazure\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n  <HttpStatusCode>OK</HttpStatusCode>\r\n  <ID>7e4177e5-51f6-41d9-bae2-bfb72f99804c</ID>\r\n  <OperationCompletedTime>2015-02-09T18:26:19.1240703</OperationCompletedTime>\r\n  <OperationName>ApplicationGatewayWorkItem</OperationName>\r\n  <OperationStartedTime>2015-02-09T18:25:42.3067657</OperationStartedTime>\r\n  <Status>Successful</Status>\r\n</GatewayOperation>",
      "ResponseHeaders": {
        "Content-Type": [
          "application/xml; charset=utf-8"
        ],
        "x-ms-servedbyregion": [
          "ussouth2"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/0a4ae132-d38b-487e-9051-a22d852b2834/services/networking/ApplicationGateways/kagapstesting/configuration?api-version=2014-10-01",
      "RequestMethod": "POST",
      "RequestBody": "<ApplicationGatewayConfiguration xmlns=\"http://schemas.microsoft.com/windowsazure\">\r\n  <FrontendIPConfigurations>\r\n    <FrontendIPConfiguration>\r\n      <Name>FrontendIP1</Name>\r\n      <Type>Private</Type>\r\n      <StaticIPAddress>10.0.0.10</StaticIPAddress>\r\n    </FrontendIPConfiguration>\r\n  </FrontendIPConfigurations>\r\n  <FrontendPorts>\r\n    <FrontendPort>\r\n      <Name>Port1</Name>\r\n      <Port>80</Port>\r\n    </FrontendPort>\r\n  </FrontendPorts>\r\n  <BackendAddressPools>\r\n    <BackendAddressPool>\r\n      <Name>Pool1</Name>\r\n      <IPAddresses>\r\n        <IPAddress>10.0.0.1</IPAddress>\r\n        <IPAddress>10.0.0.2</IPAddress>\r\n      </IPAddresses>\r\n    </BackendAddressPool>\r\n  </BackendAddressPools>\r\n  <BackendHttpSettingsList>\r\n    <BackendHttpSettings>\r\n      <Name>Setting1</Name>\r\n      <Port>80</Port>\r\n      <Protocol>Http</Protocol>\r\n      <CookieBasedAffinity>Enabled</CookieBasedAffinity>\r\n    </BackendHttpSettings>\r\n  </BackendHttpSettingsList>\r\n  <HttpListeners>\r\n    <HttpListener>\r\n      <Name>Listener1</Name>\r\n      <FrontendIP>FrontendIP1</FrontendIP>\r\n      <FrontendPort>Port1</FrontendPort>\r\n      <Protocol>Http</Protocol>\r\n    </HttpListener>\r\n  </HttpListeners>\r\n  <HttpLoadBalancingRules>\r\n    <HttpLoadBalancingRule>\r\n      <Name>Rule1</Name>\r\n      <Type>Basic</Type>\r\n      <BackendHttpSettings>Setting1</BackendHttpSettings>\r\n      <Listener>Listener1</Listener>\r\n      <BackendAddressPool>Pool1</BackendAddressPool>\r\n    </HttpLoadBalancingRule>\r\n  </HttpLoadBalancingRules>\r\n</ApplicationGatewayConfiguration>",
      "RequestHeaders": {
        "Content-Type": [
          "application/xml"
        ],
        "x-ms-version": [
          "2014-10-01"
        ]
      },
      "ResponseBody": "<GatewayOperationAsyncResponse xmlns=\"http://schemas.microsoft.com/windowsazure\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n  <ID>3a306ffe-c285-4e4b-92b9-4a8abb88bfd9</ID>\r\n</GatewayOperationAsyncResponse>",
      "ResponseHeaders": {
        "Content-Type": [
          "application/xml; charset=utf-8"
        ],
        "x-ms-servedbyregion": [
          "ussouth2"
        ]
      },
      "StatusCode": 202
    },
[...]
    {
      "RequestUri": "/0a4ae132-d38b-487e-9051-a22d852b2834/services/networking/ApplicationGateways/kagapstesting/Operations?api-version=2014-10-01",
      "RequestMethod": "POST",
      "RequestBody": "<ApplicationGatewayOperation xmlns=\"http://schemas.microsoft.com/windowsazure\">\r\n  <OperationType>start</OperationType>\r\n</ApplicationGatewayOperation>",
      "RequestHeaders": {
        "Content-Type": [
          "application/xml"
        ],
        "x-ms-version": [
          "2014-10-01"
        ]
      },
      "ResponseBody": "<GatewayOperationAsyncResponse xmlns=\"http://schemas.microsoft.com/windowsazure\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n  <ID>fef4d4a3-b253-4503-b16a-d02cb47f3ca8</ID>\r\n</GatewayOperationAsyncResponse>",
      "ResponseHeaders": {
        "Content-Type": [
          "application/xml; charset=utf-8"
        ],
        "x-ms-servedbyregion": [
          "ussouth2"
        ]
      },
      "StatusCode": 202
    },
[...]
    {
      "RequestUri": "/0a4ae132-d38b-487e-9051-a22d852b2834/services/networking/ApplicationGateways/kagapstesting?api-version=2014-10-01",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2014-10-01"
        ]
      },
      "ResponseBody": "<GatewayOperationAsyncResponse xmlns=\"http://schemas.microsoft.com/windowsazure\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n  <ID>337401d8-7fcd-4823-aa0f-3c91f170745e</ID>\r\n</GatewayOperationAsyncResponse>",
      "ResponseHeaders": {
        "Content-Type": [
          "application/xml; charset=utf-8"
        ],
        "x-ms-servedbyregion": [
          "ussouth2"
        ]
      },
      "StatusCode": 202
    },
[...]
    {
      "RequestUri": "/0a4ae132-d38b-487e-9051-a22d852b2834/services/networking/operation/337401d8-7fcd-4823-aa0f-3c91f170745e",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2014-10-01"
        ]
      },
      "ResponseBody": "<GatewayOperation xmlns=\"http://schemas.microsoft.com/windowsazure\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n  <HttpStatusCode>OK</HttpStatusCode>\r\n  <ID>337401d8-7fcd-4823-aa0f-3c91f170745e</ID>\r\n  <OperationCompletedTime>2015-02-09T18:37:02.0247622</OperationCompletedTime>\r\n  <OperationName>ApplicationGatewayWorkItem</OperationName>\r\n  <OperationStartedTime>2015-02-09T18:36:24.8498254</OperationStartedTime>\r\n  <Status>Successful</Status>\r\n</GatewayOperation>",
      "ResponseHeaders": {
        "Content-Type": [
          "application/xml; charset=utf-8"
        ],
        "x-ms-servedbyregion": [
          "ussouth2"
        ]
      },
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "0a4ae132-d38b-487e-9051-a22d852b2834"
  }
}