{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c?api-version=2019-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11995"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "tagKey1": "tagValue1",
          "tagKey2": "tagValue2"
        },
        "subscriptionId": "db1ab6f0-4769-4b27-930e-01e2ef9c123c",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": ".NET Mgmt SDK Test with TTL = 1 Day",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourcegroups/testRG-505?api-version=2019-10-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus2",
        "tags": {
          "test": "env"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-505",
        "name": "testRG-505",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus2",
        "tags": {
          "test": "env"
        },
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-505/providers/Microsoft.Network/virtualNetworks/testVNet-3677?api-version=2021-02-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus2",
        "id": null,
        "properties": {
          "addressSpace": {
            "addressPrefixes": [
              "10.0.0.0/16"
            ]
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncNotification": "Enabled",
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Network/locations/westus2/operations/9d8e90af-9637-4c12-8ef7-f95596b0f939?api-version=2021-02-01",
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "3",
        "x-ms-ratelimit-remaining-subscription-writes": "1198"
      },
      "ResponseBody": [
        "{\r\n",
        "  \u0022name\u0022: \u0022testVNet-3677\u0022,\r\n",
        "  \u0022id\u0022: \u0022/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-505/providers/Microsoft.Network/virtualNetworks/testVNet-3677\u0022,\r\n",
        "  \u0022etag\u0022: \u0022W/\\\u002204e94c74-eac2-41cd-b6df-bb0e408e0ff0\\\u0022\u0022,\r\n",
        "  \u0022type\u0022: \u0022Microsoft.Network/virtualNetworks\u0022,\r\n",
        "  \u0022location\u0022: \u0022westus2\u0022,\r\n",
        "  \u0022properties\u0022: {\r\n",
        "    \u0022provisioningState\u0022: \u0022Updating\u0022,\r\n",
        "    \u0022resourceGuid\u0022: \u002206e79db0-020e-4817-b241-c91a6259e959\u0022,\r\n",
        "    \u0022addressSpace\u0022: {\r\n",
        "      \u0022addressPrefixes\u0022: [\r\n",
        "        \u002210.0.0.0/16\u0022\r\n",
        "      ]\r\n",
        "    },\r\n",
        "    \u0022subnets\u0022: [],\r\n",
        "    \u0022virtualNetworkPeerings\u0022: [],\r\n",
        "    \u0022enableDdosProtection\u0022: false\r\n",
        "  }\r\n",
        "}"
      ]
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Network/locations/westus2/operations/9d8e90af-9637-4c12-8ef7-f95596b0f939?api-version=2021-02-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "x-ms-ratelimit-remaining-subscription-reads": "11994"
      },
      "ResponseBody": [
        "{\r\n",
        "  \u0022status\u0022: \u0022InProgress\u0022\r\n",
        "}"
      ]
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-505/providers/Microsoft.Network/virtualNetworks/testVNet-3677?api-version=2021-02-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\u00225d4a9365-2876-46d2-90fa-d686af4f93b9\u0022",
        "x-ms-ratelimit-remaining-subscription-reads": "11992"
      },
      "ResponseBody": [
        "{\r\n",
        "  \u0022name\u0022: \u0022testVNet-3677\u0022,\r\n",
        "  \u0022id\u0022: \u0022/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-505/providers/Microsoft.Network/virtualNetworks/testVNet-3677\u0022,\r\n",
        "  \u0022etag\u0022: \u0022W/\\\u00225d4a9365-2876-46d2-90fa-d686af4f93b9\\\u0022\u0022,\r\n",
        "  \u0022type\u0022: \u0022Microsoft.Network/virtualNetworks\u0022,\r\n",
        "  \u0022location\u0022: \u0022westus2\u0022,\r\n",
        "  \u0022properties\u0022: {\r\n",
        "    \u0022provisioningState\u0022: \u0022Succeeded\u0022,\r\n",
        "    \u0022resourceGuid\u0022: \u002206e79db0-020e-4817-b241-c91a6259e959\u0022,\r\n",
        "    \u0022addressSpace\u0022: {\r\n",
        "      \u0022addressPrefixes\u0022: [\r\n",
        "        \u002210.0.0.0/16\u0022\r\n",
        "      ]\r\n",
        "    },\r\n",
        "    \u0022subnets\u0022: [],\r\n",
        "    \u0022virtualNetworkPeerings\u0022: [],\r\n",
        "    \u0022enableDdosProtection\u0022: false\r\n",
        "  }\r\n",
        "}"
      ]
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-505/providers/Microsoft.Network/virtualNetworks/testVNet-3677/subnets/testSubnet-8919?api-version=2021-02-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "id": null,
        "properties": {
          "addressPrefix": "10.0.2.0/24"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Network/locations/westus2/operations/06382d25-3359-4753-b2f6-e6890f8c5ef7?api-version=2021-02-01",
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "3",
        "x-ms-ratelimit-remaining-subscription-writes": "1197"
      },
      "ResponseBody": [
        "{\r\n",
        "  \u0022name\u0022: \u0022testSubnet-8919\u0022,\r\n",
        "  \u0022id\u0022: \u0022/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-505/providers/Microsoft.Network/virtualNetworks/testVNet-3677/subnets/testSubnet-8919\u0022,\r\n",
        "  \u0022etag\u0022: \u0022W/\\\u00225e6569a0-0f94-4424-bd9b-c947b652635a\\\u0022\u0022,\r\n",
        "  \u0022properties\u0022: {\r\n",
        "    \u0022provisioningState\u0022: \u0022Updating\u0022,\r\n",
        "    \u0022addressPrefix\u0022: \u002210.0.2.0/24\u0022,\r\n",
        "    \u0022delegations\u0022: [],\r\n",
        "    \u0022privateEndpointNetworkPolicies\u0022: \u0022Enabled\u0022,\r\n",
        "    \u0022privateLinkServiceNetworkPolicies\u0022: \u0022Enabled\u0022\r\n",
        "  },\r\n",
        "  \u0022type\u0022: \u0022Microsoft.Network/virtualNetworks/subnets\u0022\r\n",
        "}"
      ]
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-505/providers/Microsoft.Compute/virtualMachineScaleSets/testVMSS-798?api-version=2021-03-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "sku": {
          "name": "Standard_F2",
          "tier": "Standard",
          "capacity": 2
        },
        "tags": {},
        "location": "westus2",
        "properties": {
          "upgradePolicy": {
            "mode": "Manual"
          },
          "virtualMachineProfile": {
            "osProfile": {
              "computerNamePrefix": "testVMSS-798",
              "adminUsername": "adminuser",
              "linuxConfiguration": {
                "disablePasswordAuthentication": true,
                "ssh": {
                  "publicKeys": [
                    {
                      "path": "/home/adminuser/.ssh/authorized_keys",
                      "keyData": "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQC\u002BwWK73dCr\u002BjgQOAxNsHAnNNNMEMWOHYEccp6wJm2gotpr9katuF/ZAdou5AaW1C61slRkHRkpRRX9FA9CYBiitZgvCCz\u002B3nWNN7l/Up54Zps/pHWGZLHNJZRYyAB6j5yVLMVHIHriY49d/GZTZVNB8GoJv9Gakwc/fuEZYYl4YDFiGMBP///TzlI4jhiJzjKnEvqPFki5p2ZRJqcbCiF4pJrxUQR/RXqVFQdbRLZgYfJ8xGB878RENq3yQ39d8dVOkq4edbkzwcUmwwwkYVPIoDGsYLaRHnG\u002BTo7FvMeyO7xDVQkMKzopTQV8AuKpyvpqu0a9pWOMaiCyDytO7GGN you@me.com"
                    }
                  ]
                }
              }
            },
            "storageProfile": {
              "imageReference": {
                "publisher": "Canonical",
                "offer": "UbuntuServer",
                "sku": "16.04-LTS",
                "version": "latest",
                "id": null
              },
              "osDisk": {
                "caching": "ReadWrite",
                "createOption": "FromImage",
                "managedDisk": {
                  "storageAccountType": "Standard_LRS"
                }
              }
            },
            "networkProfile": {
              "networkInterfaceConfigurations": [
                {
                  "name": "example",
                  "id": null,
                  "properties": {
                    "primary": true,
                    "ipConfigurations": [
                      {
                        "name": "internal",
                        "id": null,
                        "properties": {
                          "subnet": {
                            "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-505/providers/Microsoft.Network/virtualNetworks/testVNet-3677/subnets/testSubnet-8919"
                          },
                          "primary": true
                        }
                      }
                    ]
                  }
                }
              ]
            }
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncNotification": "Enabled",
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Compute/locations/westus2/operations/9ebaac53-f4bf-4421-81e2-a32776fa22a1?p=6dc3cfcb-f5db-4e95-ac20-4affbabf6d0b\u0026api-version=2021-03-01",
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "x-ms-ratelimit-remaining-resource": "Microsoft.Compute/CreateVMScaleSet3Min;58,Microsoft.Compute/CreateVMScaleSet30Min;289,Microsoft.Compute/VMScaleSetBatchedVMRequests5Min;1182,Microsoft.Compute/VmssQueuedVMOperations;0",
        "x-ms-ratelimit-remaining-subscription-writes": "1194",
        "x-ms-request-charge": "4"
      },
      "ResponseBody": [
        "{\r\n",
        "  \u0022name\u0022: \u0022testVMSS-798\u0022,\r\n",
        "  \u0022id\u0022: \u0022/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-505/providers/Microsoft.Compute/virtualMachineScaleSets/testVMSS-798\u0022,\r\n",
        "  \u0022type\u0022: \u0022Microsoft.Compute/virtualMachineScaleSets\u0022,\r\n",
        "  \u0022location\u0022: \u0022westus2\u0022,\r\n",
        "  \u0022tags\u0022: {\r\n",
        [...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Compute/locations/westus2/operations/9ebaac53-f4bf-4421-81e2-a32776fa22a1?p=6dc3cfcb-f5db-4e95-ac20-4affbabf6d0b\u0026api-version=2021-03-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "61",
        "x-ms-ratelimit-remaining-resource": "Microsoft.Compute/GetOperation3Min;14529,Microsoft.Compute/GetOperation30Min;26134",
        "x-ms-ratelimit-remaining-subscription-reads": "11984"
      },
      "ResponseBody": [
        "{\r\n",
        "  \u0022startTime\u0022: \u00222021-08-16T08:19:46.3293909\u002B00:00\u0022,\r\n",
        "  \u0022status\u0022: \u0022InProgress\u0022,\r\n",
        "  \u0022name\u0022: \u00229ebaac53-f4bf-4421-81e2-a32776fa22a1\u0022\r\n",
        "}"
      ]
    },
[...]
