{
  "Entries": [
    {
      "RequestUri": "/subscriptions/e80eb9fa-c996-4435-aa32-5af6f3d3077c/resourceGroups/moveCollectionRg/providers/Microsoft.Migrate/moveCollections/ResourceMover-eastus-westus2?api-version=2019-10-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"eastus2\",\r\n  \"identity\": {\r\n    \"type\": \"SystemAssigned\"\r\n  },\r\n  \"properties\": {\r\n    \"sourceRegion\": \"eastus\",\r\n    \"targetRegion\": \"westus2\"\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "ETag": [
          "\"00007559-0000-0200-0000-5f5904ea0000\""
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/e80eb9fa-c996-4435-aa32-5af6f3d3077c/resourceGroups/moveCollectionRg/providers/Microsoft.Migrate/moveCollections/ResourceMover-eastus-westus2\",\r\n  \"name\": \"ResourceMover-eastus-westus2\",\r\n  \"type\": \"Microsoft.Migrate/moveCollections\",\r\n  \"etag\": \"\\\"00007559-0000-0200-0000-5f5904ea0000\\\"\",\r\n  \"location\": \"eastus2\",\r\n  \"properties\": {\r\n    \"sourceRegion\": \"eastus\",\r\n    \"targetRegion\": \"westus2\",\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"errors\": null\r\n  },\r\n  \"identity\": {\r\n    \"principalId\": \"c43d2a38-9e0d-4b13-b2f9-0f2517742461\",\r\n    \"tenantId\": \"72f988bf-86f1-41af-91ab-2d7cd011db47\",\r\n    \"type\": \"SystemAssigned\"\r\n  }\r\n}",
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "e80eb9fa-c996-4435-aa32-5af6f3d3077c"
  }
}