{
  "Entries": [
    {
      "RequestUri": "/subscriptions/e80eb9fa-c996-4435-aa32-5af6f3d3077c/resourceGroups/moveCollectionRg/providers/Microsoft.Migrate/moveCollections/ResourceMover-eastus-westus2?api-version=2021-08-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"eastus2euap\",\r\n  \"identity\": {\r\n    \"type\": \"SystemAssigned\"\r\n  },\r\n  \"properties\": {\r\n    \"sourceRegion\": \"eastus\",\r\n    \"targetRegion\": \"westus2\"\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "ETag": [
          "\"0500ff19-0000-3400-0000-61b8eded0000\""
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/e80eb9fa-c996-4435-aa32-5af6f3d3077c/resourceGroups/moveCollectionRg/providers/Microsoft.Migrate/moveCollections/ResourceMover-eastus-westus2\",\r\n  \"name\": \"ResourceMover-eastus-westus2\",\r\n  \"type\": \"Microsoft.Migrate/moveCollections\",\r\n  \"etag\": \"\\\"0500ff19-0000-3400-0000-61b8eded0000\\\"\",\r\n  \"location\": \"eastus2euap\",\r\n  \"properties\": {\r\n    \"sourceRegion\": \"eastus\",\r\n    \"targetRegion\": \"westus2\",\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"errors\": null\r\n  },\r\n  \"identity\": {\r\n    \"principalId\": \"cc0f0ce3-8e02-486e-8e02-d444b7c8c1e9\",\r\n    \"tenantId\": \"72f988bf-86f1-41af-91ab-2d7cd011db47\",\r\n    \"type\": \"SystemAssigned\"\r\n  },\r\n  \"systemData\": {\r\n    \"createdBy\": \"85c23ebb-b179-4a86-98f8-c93f02621833\",\r\n    \"createdByType\": \"Application\",\r\n    \"createdAt\": \"2021-12-14T19:18:01.9208689Z\",\r\n    \"lastModifiedBy\": \"85c23ebb-b179-4a86-98f8-c93f02621833\",\r\n    \"lastModifiedByType\": \"Application\",\r\n    \"lastModifiedAt\": \"2021-12-14T19:18:01.9208689Z\"\r\n  }\r\n}",
      "StatusCode": 201
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "e80eb9fa-c996-4435-aa32-5af6f3d3077c"
  }
}