{
  "Entries": [
    {
      "RequestUri": "/subscriptions/e80eb9fa-c996-4435-aa32-5af6f3d3077c/resourceGroups/moveCollectionRg/providers/Microsoft.Migrate/moveCollections/ResourceMover-eastus-westus2/moveResources/2784cefb-8202-42ee-ba82-bbbb499885c5?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"2784cefb-8202-42ee-ba82-bbbb499885c5\",\r\n  \"id\": \"/subscriptions/e80eb9fa-c996-4435-aa32-5af6f3d3077c/resourceGroups/moveCollectionRg/providers/Microsoft.Migrate/moveCollections/ResourceMover-eastus-westus2/moveResources/2784cefb-8202-42ee-ba82-bbbb499885c5\",\r\n  \"type\": null,\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"isResolveRequired\": false,\r\n    \"sourceId\": \"/subscriptions/e80eb9fa-c996-4435-aa32-5af6f3d3077c/resourceGroups/NETSdkEastUS/providers/Microsoft.Compute/virtualMachines/vm1\",\r\n    \"targetId\": null,\r\n    \"existingTargetId\": null,\r\n    \"resourceSettings\": {\r\n      \"resourceType\": \"Microsoft.Compute/virtualMachines\",\r\n      \"targetAvailabilityZone\": \"1\",\r\n      \"targetAvailabilitySetId\": null,\r\n      \"targetVmSize\": null,\r\n      \"targetResourceName\": \"targetVm1\"\r\n    },\r\n    \"moveStatus\": {\r\n      \"moveState\": \"PreparePending\",\r\n      \"jobStatus\": null,\r\n      \"errors\": {\r\n        \"properties\": {\r\n          \"code\": \"DependencyComputationPending\",\r\n          \"message\": \"The dependency computation is not completed for resource - /subscriptions/e80eb9fa-c996-4435-aa32-5af6f3d3077c/resourceGroups/NETSdkEastUS/providers/Microsoft.Compute/virtualMachines/vm1'.\\n    Possible Causes: Dependency computation is pending for resource.\\n    Recommended Action: Validate dependencies to compute the dependencies.\\n    \",\r\n          \"details\": []\r\n        }\r\n      }\r\n    },\r\n    \"dependsOn\": [],\r\n    \"dependsOnOverrides\": [\r\n      {\r\n        \"id\": \"/subscriptions/e80eb9fa-c996-4435-aa32-5af6f3d3077c/resourceGroups/NETSdkEastUS/providers/Microsoft.Compute/availabilitySets/AvailabilitySet1\",\r\n        \"targetId\": null\r\n      }\r\n    ],\r\n    \"errors\": null,\r\n    \"sourceResourceSettings\": {\r\n      \"resourceType\": \"Microsoft.Compute/virtualMachines\",\r\n      \"targetAvailabilityZone\": \"na\",\r\n      \"targetAvailabilitySetId\": null,\r\n      \"targetVmSize\": \"Standard_DS3_v2\",\r\n      \"targetResourceName\": \"vm1\"\r\n    }\r\n  }\r\n}",
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "e80eb9fa-c996-4435-aa32-5af6f3d3077c"
  }
}