{
  "Entries": [
    {
      "RequestUri": "/subscriptions/e80eb9fa-c996-4435-aa32-5af6f3d3077c/resourceGroups/moveCollectionRg/providers/Microsoft.Migrate/moveCollections/ResourceMover-eastus-westus2/unresolvedDependencies?api-version=2019-10-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11998"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"count\": 1,\r\n      \"id\": \"/subscriptions/e80eb9fa-c996-4435-aa32-5af6f3d3077c/resourcegroups/netsdkeastus/providers/microsoft.network/networkinterfaces/vm1364\"\r\n    },\r\n    {\r\n      \"count\": 1,\r\n      \"id\": \"/subscriptions/e80eb9fa-c996-4435-aa32-5af6f3d3077c/resourcegroups/netsdkeastus\"\r\n    }\r\n  ],\r\n  \"nextLink\": null\r\n}",
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "e80eb9fa-c996-4435-aa32-5af6f3d3077c"
  }
}