{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/326100e2-f69d-4268-8503-075374f62b6e?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11960"
      },
      "ResponseBody": {
        "id": "/subscriptions/326100e2-f69d-4268-8503-075374f62b6e",
        "authorizationSource": "RoleBased",
        "managedByTenants": [
          {
            "tenantId": "2f4a9838-26b7-47ee-be60-ccc1fdec5953"
          }
        ],
        "subscriptionId": "326100e2-f69d-4268-8503-075374f62b6e",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": "Azure Messaging PM Playground",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/326100e2-f69d-4268-8503-075374f62b6e/resourcegroups/testeventhubRG-4200?api-version=2021-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {
          "test": "env"
        },
        "location": "eastus2"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1190"
      },
      "ResponseBody": {
        "id": "/subscriptions/326100e2-f69d-4268-8503-075374f62b6e/resourceGroups/testeventhubRG-4200",
        "name": "testeventhubRG-4200",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus2",
        "tags": {
          "test": "env"
        },
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/326100e2-f69d-4268-8503-075374f62b6e/providers/Microsoft.Relay/checkNameAvailability?api-version=2021-11-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "testnamespacemgmt6944"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Server-SB": "Service-Bus-Resource-Provider/CH3",
        "x-ms-ratelimit-remaining-subscription-writes": "1196"
      },
      "ResponseBody": {
        "nameAvailable": true,
        "reason": "None",
        "message": null
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/326100e2-f69d-4268-8503-075374f62b6e/resourceGroups/testeventhubRG-4200/providers/Microsoft.Relay/namespaces/testnamespacemgmt6944?api-version=2021-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "eastus2",
        "properties": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Server-SB": "Service-Bus-Resource-Provider/CH3",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "48"
      },
      "ResponseBody": {
        "sku": {
          "name": "Standard",
          "tier": "Standard"
        },
        "id": "/subscriptions/326100e2-f69d-4268-8503-075374f62b6e/resourceGroups/testeventhubRG-4200/providers/Microsoft.Relay/namespaces/testnamespacemgmt6944",
        "name": "testnamespacemgmt6944",
        "type": "Microsoft.Relay/Namespaces",
        "location": "East US 2",
        "tags": {},
        "properties": {
          "provisioningState": "Created",
          "metricId": "326100e2-f69d-4268-8503-075374f62b6e:testnamespacemgmt6944",
          "createdAt": "2022-12-09T05:39:26.27Z",
          "updatedAt": "2022-12-09T05:39:26.27Z",
          "serviceBusEndpoint": "https://testnamespacemgmt6944.servicebus.windows.net:443/",
          "status": "Activating"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/326100e2-f69d-4268-8503-075374f62b6e/resourceGroups/testeventhubRG-4200/providers/Microsoft.Relay/namespaces/testnamespacemgmt6944/wcfRelays/h1?api-version=2021-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "relayType": "NetTcp",
          "requiresClientAuthorization": true,
          "requiresTransportSecurity": false,
          "userMetadata": "test metadata"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1189"
      },
      "ResponseBody": {
        "id": "/subscriptions/326100e2-f69d-4268-8503-075374f62b6e/resourceGroups/testeventhubRG-4200/providers/Microsoft.Relay/namespaces/testnamespacemgmt6944/wcfrelays/h1",
        "name": "h1",
        "type": "Microsoft.Relay/namespaces/wcfrelays",
        "location": "eastus2",
        "properties": {
          "createdAt": "2022-12-09T05:40:38.6705201Z",
          "updatedAt": "2022-12-09T05:40:38.6705201Z",
          "listenerCount": 0,
          "requiresClientAuthorization": true,
          "relayType": "NetTcp",
          "requiresTransportSecurity": false,
          "isDynamic": false,
          "userMetadata": "test metadata"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/326100e2-f69d-4268-8503-075374f62b6e/resourceGroups/testeventhubRG-4200/providers/Microsoft.Relay/namespaces/testnamespacemgmt6944/wcfRelays?api-version=2021-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-inline-count": "",
        "x-ms-ratelimit-remaining-subscription-reads": "11949"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/326100e2-f69d-4268-8503-075374f62b6e/resourceGroups/testeventhubRG-4200/providers/Microsoft.Relay/namespaces/testnamespacemgmt6944/wcfrelays/h1",
            "name": "h1",
            "type": "Microsoft.Relay/namespaces/wcfrelays",
            "location": "eastus2",
            "properties": {
              "createdAt": "2022-12-09T05:40:38.6705201Z",
              "updatedAt": "2022-12-09T05:40:39.5611192Z",
              "listenerCount": 0,
    [...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/326100e2-f69d-4268-8503-075374f62b6e/resourceGroups/testeventhubRG-4200/providers/Microsoft.Relay/namespaces/testnamespacemgmt6944/wcfRelays/h1?api-version=2021-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ratelimit-remaining-subscription-reads": "11948"
      },
      "ResponseBody": {
        "error": {
          "code": "EntityNotFound",
          "message": "Wcf Relay does not exist"
        }
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "RandomSeed": "718062704",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "326100e2-f69d-4268-8503-075374f62b6e"
  }
}
