{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/fed2a274-8787-4a13-8371-f5282597b779?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "id": "/subscriptions/fed2a274-8787-4a13-8371-f5282597b779",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "subscriptionId": "fed2a274-8787-4a13-8371-f5282597b779",
        "tenantId": "3a689a02-340f-4a4e-a32c-6fce276c6bdc",
        "displayName": "PayG04-15-2022",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Public_2014-09-01",
          "quotaId": "PayAsYouGo_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/tenants?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-tenant-reads": "11999"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/tenants/3a689a02-340f-4a4e-a32c-6fce276c6bdc",
            "tenantId": "3a689a02-340f-4a4e-a32c-6fce276c6bdc",
            "tenantCategory": "Home"
          }
        ]
      }
    },
    {
      "RequestUri": "https://management.azure.com/providers/Microsoft.Capacity/calculatePrice?api-version=2022-03-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "sku": {
          "name": "Standard_B1ls"
        },
        "location": "westeurope",
        "properties": {
          "reservedResourceType": "VirtualMachines",
          "billingScopeId": "/subscriptions/fed2a274-8787-4a13-8371-f5282597b779",
          "term": "P1Y",
          "billingPlan": "Monthly",
          "quantity": 3,
          "displayName": "testVM",
          "appliedScopeType": "Shared",
          "renew": false,
          "reservedResourceProperties": {
            "instanceFlexibility": "On"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-tenant-writes": "1199",
        "x-ms-test": "{\u0022contact\u0022:\u0022yunga\u0022,\u0022scenarios\u0022:\u0022GtmRiPurchase,TestInProdcution,CSZ,Inv-v7,crs-vnext,GtmRiPurchase\u0022,\u0022retention\u0022:\u002212/22/2022 10:45:41 PM\u0022}"
      },
      "ResponseBody": {
        "properties": {
          "billingCurrencyTotal": {
            "currencyCode": "USD",
            "amount": 92.88
          },
          "netTotal": 0.0,
          "taxTotal": 0.0,
          "grandTotal": 0.0,
          "paymentSchedule": [
            {
              "dueDate": "2022-09-23",
              "pricingCurrencyTotal": {
                "currencyCode": "USD",
                "amount": 7.74
              },
              "billingCurrencyTotal": {
                "currencyCode": "USD",
                "amount": 7.74
              },
              "status": "Scheduled"
            },
            {
              "dueDate": "2022-10-23",
              "pricingCurrencyTotal": {
                "currencyCode": "USD",
                "amount": 7.74
              },
              "status": "Scheduled"
            },
            {
              "dueDate": "2022-11-23",
              "pricingCurrencyTotal": {
                "currencyCode": "USD",
                "amount": 7.74
              },
              "status": "Scheduled"
            },
          [...]
