{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/aaaaaaaa-bbbb-cccc-dddd-eeeeeeeeeeee?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "id": "/subscriptions/aaaaaaaa-bbbb-cccc-dddd-eeeeeeeeeeee",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "costcenter": "1000"
        },
        "subscriptionId": "aaaaaaaa-bbbb-cccc-dddd-eeeeeeeeeeee",
        "tenantId": "ba5ed788-ddc6-429c-a6a2-0277f01dbee7",
        "displayName": "Azure subscription 1",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Public_2014-09-01",
          "quotaId": "PayAsYouGo_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/tenants?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-tenant-reads": "11999"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/tenants/ba5ed788-ddc6-429c-a6a2-0277f01dbee7",
            "tenantId": "ba5ed788-ddc6-429c-a6a2-0277f01dbee7",
            "tenantCategory": "Home"
          }
        ]
      }
    },
    {
      "RequestUri": "https://management.azure.com/providers/Microsoft.Capacity/calculatePrice?api-version=2022-11-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "sku": {
          "name": "Standard_B1ls"
        },
        "location": "westeurope",
        "properties": {
          "reservedResourceType": "VirtualMachines",
          "billingScopeId": "/subscriptions/aaaaaaaa-bbbb-cccc-dddd-eeeeeeeeeeee",
          "term": "P1Y",
          "billingPlan": "Monthly",
          "quantity": 3,
          "displayName": "testVM",
          "appliedScopeType": "Shared",
          "renew": false,
          "reservedResourceProperties": {
            "instanceFlexibility": "On"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-tenant-writes": "1199",
        "x-ms-test": "{\u0022contact\u0022:\u0022yunga\u0022,\u0022scenarios\u0022:\u0022time-scale:17520,days-until-time-stop:365,TestInProduction,CSZ,Inv-v7,crs-vnext,GtmRiPurchase\u0022,\u0022retention\u0022:\u00226/5/2023 7:56:10 PM\u0022}"
      },
      "ResponseBody": {
        "properties": {
          "billingCurrencyTotal": {
            "currencyCode": "USD",
            "amount": 92.88
          },
          "netTotal": 0.0,
          "taxTotal": 0.0,
          "grandTotal": 0.0,
          "paymentSchedule": [
            {
              "dueDate": "2023-03-07",
              "pricingCurrencyTotal": {
                "currencyCode": "USD",
                "amount": 7.74
              },
              "billingCurrencyTotal": {
                "currencyCode": "USD",
                "amount": 7.74
              },
              "status": "Scheduled"
            },
            {
              "dueDate": "2023-04-07",
              "pricingCurrencyTotal": {
                "currencyCode": "USD",
                "amount": 7.74
              },
              "status": "Scheduled"
            },
            {
              "dueDate": "2023-05-07",
              "pricingCurrencyTotal": {
                "currencyCode": "USD",
                "amount": 7.74
              },
              "status": "Scheduled"
            },
          [...]
