{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/6d5e2387-bdf5-4ca1-83db-795fd2398b93?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11996"
      },
      "ResponseBody": {
        "id": "/subscriptions/6d5e2387-bdf5-4ca1-83db-795fd2398b93",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "subscriptionId": "6d5e2387-bdf5-4ca1-83db-795fd2398b93",
        "tenantId": "2fc06c85-616c-4845-9d37-2faa8091e955",
        "displayName": "Azure subscription 1",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Public_2014-09-01",
          "quotaId": "PayAsYouGo_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/tenants?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-tenant-reads": "11996"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/tenants/2fc06c85-616c-4845-9d37-2faa8091e955",
            "tenantId": "2fc06c85-616c-4845-9d37-2faa8091e955",
            "tenantCategory": "Home"
          }
        ]
      }
    },
    {
      "RequestUri": "https://management.azure.com/providers/Microsoft.Capacity/calculatePrice?api-version=2022-03-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "sku": {
          "name": "Standard_B1ls"
        },
        "location": "westus",
        "properties": {
          "reservedResourceType": "VirtualMachines",
          "billingScopeId": "/subscriptions/6d5e2387-bdf5-4ca1-83db-795fd2398b93",
          "term": "P1Y",
          "billingPlan": "Upfront",
          "quantity": 1,
          "displayName": "testVM",
          "appliedScopeType": "Single",
          "appliedScopes": [
            "/subscriptions/6d5e2387-bdf5-4ca1-83db-795fd2398b93"
          ],
          "renew": false,
          "reservedResourceProperties": {
            "instanceFlexibility": "On"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-tenant-writes": "1196",
        "x-ms-test": "{\u0022contact\u0022:\u0022yunga\u0022,\u0022scenarios\u0022:\u0022test,CSZ,Inv-v7,crs-vnext,GtmRiPurchase\u0022,\u0022retention\u0022:\u00228/16/2022 12:40:30 AM\u0022}"
      },
      "ResponseBody": {
        "properties": {
          "billingCurrencyTotal": {
            "currencyCode": "USD",
            "amount": 32.0
          },
          "netTotal": 0.0,
          "taxTotal": 0.0,
          "grandTotal": 0.0,
          "reservationOrderId": "f644f223-c1c1-4fe6-8db6-058e514e9aa8",
          "skuTitle": "Reserved VM Instance, Standard_B1ls, US West, 1 Year",
          "skuDescription": "Standard_B1ls",
          "pricingCurrencyTotal": {
            "currencyCode": "USD",
            "amount": 32.0
          }
        }
      }
    }
  ],
  "Variables": {
    "RandomSeed": "685231404",
    "RESOURCE_MANAGER_URL": "https://management.azure.com/",
    "SUBSCRIPTION_ID": "6d5e2387-bdf5-4ca1-83db-795fd2398b93"
  }
}
