{
  "Entries": [
    {
      "RequestUri": "/subscriptions/4385cf00-2d3a-425a-832f-f4285b1c9dce/resourceGroups/ResourceGroupForSDKTest/providers/Microsoft.StorSimple/managers/ManagerForSDKTest1/devices?api-version=2017-06-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"properties\": {\r\n        \"friendlyName\": \"sugattdeviceforSDK\",\r\n        \"activationTime\": \"2017-06-14T07:01:51.8964712Z\",\r\n        \"culture\": \"en-US\",\r\n        \"deviceSoftwareVersion\": \"6.3.9600.17802\",\r\n        \"deviceConfigurationStatus\": \"Complete\",\r\n        \"targetIqn\": \"iqn.1991-05.com.microsoft:storsimple100-123456789-target\",\r\n        \"modelDescription\": \"100\",\r\n        \"status\": \"Online\",\r\n        \"serialNumber\": \"123456789\",\r\n        \"deviceType\": \"Series8000PhysicalAppliance\",\r\n        \"activeController\": \"Controller0\",\r\n        \"friendlySoftwareVersion\": \"StorSimple 8000 Series Update 4.0\",\r\n        \"availableLocalStorageInBytes\": 43980464128,\r\n        \"availableTieredStorageInBytes\": 1099511627776,\r\n        \"provisionedTieredStorageInBytes\": 0,\r\n        \"provisionedLocalStorageInBytes\": 0,\r\n        \"provisionedVolumeSizeInBytes\": 0,\r\n        \"usingStorageInBytes\": 0,\r\n        \"totalTieredStorageInBytes\": 1099511627776,\r\n        \"agentGroupVersion\": 7,\r\n        \"networkInterfaceCardCount\": 6\r\n      },\r\n      \"id\": \"/subscriptions/4385cf00-2d3a-425a-832f-f4285b1c9dce/resourceGroups/ResourceGroupForSDKTest/providers/Microsoft.StorSimple/managers/ManagerForSDKTest1/devices/sugattdeviceforSDK\",\r\n      \"name\": \"sugattdeviceforSDK\",\r\n      \"type\": \"Microsoft.StorSimple/managers/devices\",\r\n      \"kind\": \"Series8000\"\r\n    },\r\n    {\r\n      \"properties\": {\r\n        \"friendlyName\": \"jemdeviceforsdk\",\r\n        \"activationTime\": \"2017-06-13T05:03:25.8680622Z\",\r\n        \"culture\": \"en-US\",\r\n        \"deviceSoftwareVersion\": \"6.3.9600.17802\",\r\n        \"deviceConfigurationStatus\": \"Complete\",\r\n        \"targetIqn\": \"Test-Target-IQN\",\r\n        \"modelDescription\": \"100\",\r\n        \"status\": \"Online\",\r\n        \"serialNumber\": \"123456789\",\r\n   [...]
    {
      "RequestUri": "/subscriptions/4385cf00-2d3a-425a-832f-f4285b1c9dce/resourceGroups/ResourceGroupForSDKTest/providers/Microsoft.StorSimple/managers/ManagerForSDKTest1/alerts?$filter=status%20eq%20'Active'%20and%20appearedOnTime%20ge%20'2017-06-09T18:30:00Z'%20and%20appearedOnTime%20le%20'2017-06-19T18:30:00Z'%20and%20sourceType%20eq%20'Device'%20and%20sourceName%20eq%20'Device05ForSDKTest'&$top=100&api-version=2017-06-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"properties\": {\r\n        \"title\": \"Local snapshots for NewVolumeGroupLocal2 have been invalidated\",\r\n        \"scope\": 1,\r\n        \"alertType\": \"SnapShot Capacity\",\r\n        \"appearedAtTime\": \"2017-06-14T11:40:30.5303779Z\",\r\n        \"appearedAtSourceTime\": \"2017-06-14T11:40:30.5303779Z\",\r\n        \"clearedAtTime\": \"0001-01-01T00:00:00Z\",\r\n        \"clearedAtSourceTime\": \"0001-01-01T00:00:00Z\",\r\n        \"source\": {\r\n          \"name\": \"Device05ForSDKTest\",\r\n          \"timeZone\": \"Pacific Standard Time\",\r\n          \"alertSourceType\": 1\r\n        },\r\n        \"recommendation\": \"To ensure that this does not recur in the future, please review the local snapshot schedules for this backup policy and delete any local snapshots that are no longer needed. Frequent local snapshots alongside a high data churn in the volumes associated with this backup policy group might cause local space on the device to be consumed quickly.\",\r\n        \"resolutionReason\": \"\",\r\n        \"severity\": 0,\r\n        \"status\": 0,\r\n        \"errorDetails\": {\r\n          \"errorCode\": \"\",\r\n          \"errorMessage\": \"\",\r\n          \"occurences\": 1\r\n        },\r\n        \"detailedInformation\": {\r\n          \"error message\": \"The local snapshots for NewVolumeGroupLocal2 have been invalidated and deleted because they exceeded the local space on the device.\"\r\n        }\r\n      },\r\n      \"id\": \"/subscriptions/4385cf00-2d3a-425a-832f-f4285b1c9dce/resourceGroups/ResourceGroupForSDKTest/providers/Microsoft.StorSimple/managers/ManagerForSDKTest1/devices/Device05ForSDKTest/alerts/e19576d0-7496-4475-888b-2c8e18e20a56\",\r\n      \"name\": \"e19576d0-7496-4475-888b-2c8e18e20a56\",\[...]
    {
      "RequestUri": "/subscriptions/4385cf00-2d3a-425a-832f-f4285b1c9dce/resourceGroups/ResourceGroupForSDKTest/providers/Microsoft.StorSimple/managers/ManagerForSDKTest1/clearAlerts?api-version=2017-06-01",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"alerts\": [\r\n    \"/subscriptions/4385cf00-2d3a-425a-832f-f4285b1c9dce/resourceGroups/ResourceGroupForSDKTest/providers/Microsoft.StorSimple/managers/ManagerForSDKTest1/devices/Device05ForSDKTest/alerts/e19576d0-7496-4475-888b-2c8e18e20a56\"\r\n  ]\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ]
      },
      "StatusCode": 204
    },
    {
      "RequestUri": "/subscriptions/4385cf00-2d3a-425a-832f-f4285b1c9dce/resourceGroups/ResourceGroupForSDKTest/providers/Microsoft.StorSimple/managers/ManagerForSDKTest1/alerts?$filter=status%20eq%20'Cleared'%20and%20appearedOnTime%20ge%20'2017-06-09T18:30:00Z'%20and%20appearedOnTime%20le%20'2017-06-19T18:30:00Z'&$top=100&api-version=2017-06-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\[...]
    {
      "RequestUri": "/subscriptions/4385cf00-2d3a-425a-832f-f4285b1c9dce/resourceGroups/ResourceGroupForSDKTest/providers/Microsoft.StorSimple/managers/ManagerForSDKTest1/alerts?$filter=appearedOnTime%20ge%20'2017-06-09T18:30:00Z'%20and%20appearedOnTime%20le%20'2017-06-19T18:30:00Z'%20and%20severity%20eq%20'Informational'&$top=100&api-version=2017-06-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n[...]
