{
  "Entries": [
    {
      "RequestUri": "/subscriptions/a5015e1c-867f-4533-8541-85cd470d0cfb/resourceGroups/e2e-testing-rg/providers/Microsoft.ExtendedLocation/customLocations/cl-csharp-sdk-test?api-version=2021-08-15",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"identity\": {\r\n    \"type\": \"SystemAssigned\"\r\n  },\r\n  \"properties\": {\r\n    \"clusterExtensionIds\": [\r\n      \"/subscriptions/a5015e1c-867f-4533-8541-85cd470d0cfb/resourceGroups/e2e-testing-rg/providers/Microsoft.Kubernetes/connectedClusters/cle2edfkapconnectedcluster/providers/Microsoft.KubernetesConfiguration/extensions/cli-test-operator\"\r\n    ],\r\n    \"displayName\": \"cl-csharp-sdk-test\",\r\n    \"hostResourceId\": \"/subscriptions/a5015e1c-867f-4533-8541-85cd470d0cfb/resourceGroups/e2e-testing-rg/providers/Microsoft.Kubernetes/connectedClusters/cle2edfkapconnectedcluster\",\r\n    \"hostType\": \"Kubernetes\",\r\n    \"namespace\": \"cli-operator-namespace\"\r\n  },\r\n  \"location\": \"westus\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Azure-Asyncoperation": [
          "https://api-dogfood.resources.windows-int.net/subscriptions/a5015e1c-867f-4533-8541-85cd470d0cfb/providers/microsoft.extendedlocation/locations/westus/operationsstatus/497769aa-b0e2-4024-b5d3-7d9c7da74bb4?api-version=2021-03-15-preview"
        ],
        "X-Ms-Async-Operation-Timeout": [
          "PT60M"
        ],
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/a5015e1c-867f-4533-8541-85cd470d0cfb/resourcegroups/e2e-testing-rg/providers/microsoft.extendedlocation/customlocations/cl-csharp-sdk-test\",\r\n  \"name\": \"cl-csharp-sdk-test\",\r\n  \"location\": \"westus\",\r\n  \"type\": \"Microsoft.ExtendedLocation/customLocations\",\r\n  \"systemData\": {\r\n    \"createdBy\": \"09512d3b-9edb-4a62-b6c2-2436254a8fa3\",\r\n    \"createdByType\": \"Application\",\r\n    \"createdAt\": \"2021-12-31T23:00:14.531445Z\",\r\n    \"lastModifiedBy\": \"09512d3b-9edb-4a62-b6c2-2436254a8fa3\",\r\n    \"lastModifiedByType\": \"Application\",\r\n    \"lastModifiedAt\": \"2021-12-31T23:00:14.531445Z\"\r\n  },\r\n  \"identity\": {\r\n    \"type\": \"SystemAssigned\",\r\n    \"principalId\": \"5bdc1976-c1f1-4f5e-88f3-fe06bdeb2e02\",\r\n    \"tenantId\": \"f686d426-8d16-42db-81b7-ab578e110ccd\"\r\n  },\r\n  \"properties\": {\r\n    \"hostType\": \"Kubernetes\",\r\n    \"hostResourceId\": \"/subscriptions/a5015e1c-867f-4533-8541-85cd470d0cfb/resourceGroups/e2e-testing-rg/providers/Microsoft.Kubernetes/connectedClusters/cle2edfkapconnectedcluster\",\r\n    \"namespace\": \"cli-operator-namespace\",\r\n    \"displayName\": \"cl-csharp-sdk-test\",\r\n    \"provisioningState\": \"Creating\",\r\n    \"clusterExtensionIds\": [\r\n      \"/subscriptions/a5015e1c-867f-4533-8541-85cd470d0cfb/resourceGroups/e2e-testing-rg/providers/Microsoft.Kubernetes/connectedClusters/cle2edfkapconnectedcluster/providers/Microsoft.KubernetesConfiguration/extensions/cli-test-operator\"\r\n    ],\r\n    \"authentication\": {}\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/a5015e1c-867f-4533-8541-85cd470d0cfb/providers/microsoft.extendedlocation/locations/westus/operationsstatus/497769aa-b0e2-4024-b5d3-7d9c7da74bb4?api-version=2021-03-15-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14999"
        ],
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/a5015e1c-867f-4533-8541-85cd470d0cfb/providers/Microsoft.ExtendedLocation/locations/westus/operationsstatus/497769aa-b0e2-4024-b5d3-7d9c7da74bb4\",\r\n  \"name\": \"497769aa-b0e2-4024-b5d3-7d9c7da74bb4\",\r\n  \"status\": \"Succeeded\",\r\n  \"startTime\": \"2021-12-31T23:00:18.272936269Z\",\r\n  \"endTime\": \"2021-12-31T23:00:25.681852406Z\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/a5015e1c-867f-4533-8541-85cd470d0cfb/providers/Microsoft.ExtendedLocation/customLocations?api-version=2021-08-15",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14995"
        ],
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/a5015e1c-867f-4533-8541-85cd470d0cfb/resourcegroups/ssv-0803-01-df-rg/providers/microsoft.extendedlocation/customlocations/ssv-0803-01-df-appliance-cl2\",\r\n      \"name\": \"ssv-0803-01-df-appliance-cl2\",\r\n      \"location\": \"westus\",\r\n      \"type\": \"Microsoft.ExtendedLocation/customLocations\",\r\n      \"systemData\": {\r\n        \"createdBy\": \"nagiesek@microsoft.com\",\r\n        \"createdByType\": \"User\",\r\n        \"createdAt\[...]
    {
      "RequestUri": "/subscriptions/a5015e1c-867f-4533-8541-85cd470d0cfb/providers/microsoft.extendedlocation/customlocations?%24skipToken=%2BRID%3A~nTpkAJdK27hUMwAAAAAAAA%3D%3D%23RT%3A1%23TRC%3A1%23ISV%3A2%23IEO%3A65551%23QCF%3A4%23FPC%3AAgEAAQA6AFEzMACxAAAh1IDhgHIAAPADAD2ANICBANAA5oC%2FgAHAAwAkgBEAAAwJgXaA8QEA%2FMaAMgAOABAAU4ABGADygQOAY4JRAGAA9YBTgqWAcQEYADqAX4A%3D&api-version=2021-08-15",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "Re[...]
    {
      "RequestUri": "/subscriptions/a5015e1c-867f-4533-8541-85cd470d0cfb/providers/microsoft.extendedlocation/customlocations?%24skipToken=%2BRID%3A~nTpkAJdK27hVMwAAAAAAAA%3D%3D%23RT%3A2%23TRC%3A2%23ISV%3A2%23IEO%3A65551%23QCF%3A4%23FPC%3AAgEAAQA4AFWzsQAAIdSA4YByAADwAwA9gDSAgQDQAOaAv4ABwAMAJIARAAAMCYF2gPEBAPzGgDIADgAQAFOAARgA8oEDgGOCUQBgAPWAU4KlgHEBGAA6gF%2BA&api-version=2021-08-15",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHe[...]
    {
      "RequestUri": "/subscriptions/a5015e1c-867f-4533-8541-85cd470d0cfb/providers/microsoft.extendedlocation/customlocations?%24skipToken=%2BRID%3A~nTpkAJdK27gYNAAAAAAAAA%3D%3D%23RT%3A3%23TRC%3A3%23ISV%3A2%23IEO%3A65551%23QCF%3A4%23FPC%3AAgEAAQA2ABE0ACHUgOGAcgAA8AMAPYA0gIEA0ADmgL%2BAAcADACSAEQAADAmBdoDxAQD8xoAyAA4AEABTgAEYAPKBA4BjglEAYAD1gFOCpYBxARgAOoBfgA%3D%3D&api-version=2021-08-15",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "Respon[...]
    {
      "RequestUri": "/subscriptions/a5015e1c-867f-4533-8541-85cd470d0cfb/providers/microsoft.extendedlocation/customlocations?%24skipToken=%2BRID%3A~nTpkAJdK27gdNAAAAAAAAA%3D%3D%23RT%3A4%23TRC%3A4%23ISV%3A2%23IEO%3A65551%23QCF%3A4%23FPC%3AAgEAAQA0AB201IDhgHIAAPADAD2ANICBANAA5oC%2FgAHAAwAkgBEAAAwJgXaA8QEA%2FMaAMgAOABAAU4ABGADygQOAY4JRAGAA9YBTgqWAcQEYADqAX4A%3D&api-version=2021-08-15",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHe[...]
    {
      "RequestUri": "/subscriptions/a5015e1c-867f-4533-8541-85cd470d0cfb/providers/microsoft.extendedlocation/customlocations?%24skipToken=%2BRID%3A~nTpkAJdK27j0NAAAAAAAAA%3D%3D%23RT%3A5%23TRC%3A5%23ISV%3A2%23IEO%3A65551%23QCF%3A4%23FPC%3AAgEAAQAyAPS04YByAADwAwA9gDSAgQDQAOaAv4ABwAMAJIARAAAMCYF2gPEBAPzGgDIADgAQAFOAARgA8oEDgGOCUQBgAPWAU4KlgHEBGAA6gF%2BA&api-version=2021-08-15",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": [...]
    {
      "RequestUri": "/subscriptions/a5015e1c-867f-4533-8541-85cd470d0cfb/providers/microsoft.extendedlocation/customlocations?%24skipToken=%2BRID%3A~nTpkAJdK27jhNQAAAAAAAA%3D%3D%23RT%3A6%23TRC%3A6%23ISV%3A2%23IEO%3A65551%23QCF%3A4%23FPC%3AAgEAAQAwAOG1cgAA8AMAPYA0gIEA0ADmgL%2BAAcADACSAEQAADAmBdoDxAQD8xoAyAA4AEABTgAEYAPKBA4BjglEAYAD1gFOCpYBxARgAOoBfgA%3D%3D&api-version=2021-08-15",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeader[...]
    {
      "RequestUri": "/subscriptions/a5015e1c-867f-4533-8541-85cd470d0cfb/providers/microsoft.extendedlocation/customlocations?%24skipToken=%2BRID%3A~nTpkAJdK27hsNgAAAAAAAA%3D%3D%23RT%3A7%23TRC%3A7%23ISV%3A2%23IEO%3A65551%23QCF%3A4%23FPC%3AAgEAAQAuAGI2APADAD2ANICBANAA5oC%2FgAHAAwAkgBEAAAwJgXaA8QEA%2FMaAMgAOABAAU4ABGADygQOAY4JRAGAA9YBTgqWAcQEYADqAX4A%3D&api-version=2021-08-15",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": [...]
    {
      "RequestUri": "/subscriptions/a5015e1c-867f-4533-8541-85cd470d0cfb/providers/microsoft.extendedlocation/customlocations?%24skipToken=%2BRID%3A~nTpkAJdK27htNgAAAAAAAA%3D%3D%23RT%3A8%23TRC%3A8%23ISV%3A2%23IEO%3A65551%23QCF%3A4%23FPC%3AAgEAAQAuAGI2AOADAD2ANICBANAA5oC%2FgAHAAwAkgBEAAAwJgXaA8QEA%2FMaAMgAOABAAU4ABGADygQOAY4JRAGAA9YBTgqWAcQEYADqAX4A%3D&api-version=2021-08-15",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": [...]
    {
      "RequestUri": "/subscriptions/a5015e1c-867f-4533-8541-85cd470d0cfb/providers/microsoft.extendedlocation/customlocations?%24skipToken=%2BRID%3A~nTpkAJdK27huNgAAAAAAAA%3D%3D%23RT%3A9%23TRC%3A9%23ISV%3A2%23IEO%3A65551%23QCF%3A4%23FPC%3AAgEAAQAuAGI2AMADAD2ANICBANAA5oC%2FgAHAAwAkgBEAAAwJgXaA8QEA%2FMaAMgAOABAAU4ABGADygQOAY4JRAGAA9YBTgqWAcQEYADqAX4A%3D&api-version=2021-08-15",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": [...]
    {
      "RequestUri": "/subscriptions/a5015e1c-867f-4533-8541-85cd470d0cfb/providers/microsoft.extendedlocation/customlocations?%24skipToken=%2BRID%3A~nTpkAJdK27hvNgAAAAAAAA%3D%3D%23RT%3A10%23TRC%3A10%23ISV%3A2%23IEO%3A65551%23QCF%3A4%23FPC%3AAgEAAQAuAG%2B2AcADAD2ANICBANAA5oC%2FgAHAAwAkgBEAAAwJgXaA8QEA%2FMaAMgAOABAAU4ABGADygQOAY4JRAGAA9YBTgqWAcQEYADqAX4A%3D&api-version=2021-08-15",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeader[...]
    {
      "RequestUri": "/subscriptions/a5015e1c-867f-4533-8541-85cd470d0cfb/providers/microsoft.extendedlocation/customlocations?%24skipToken=%2BRID%3A~nTpkAJdK27hwNgAAAAAAAA%3D%3D%23RT%3A11%23TRC%3A11%23ISV%3A2%23IEO%3A65551%23QCF%3A4%23FPC%3AAgEAAQAsAHE2AwA9gDSAgQDQAOaAv4ABwAMAJIARAAAMCYF2gPEBAPzGgDIADgAQAFOAARgA8oEDgGOCUQBgAPWAU4KlgHEBGAA6gF%2BA&api-version=2021-08-15",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
    [...]
    {
      "RequestUri": "/subscriptions/a5015e1c-867f-4533-8541-85cd470d0cfb/providers/microsoft.extendedlocation/customlocations?%24skipToken=%2BRID%3A~nTpkAJdK27hxNgAAAAAAAA%3D%3D%23RT%3A12%23TRC%3A12%23ISV%3A2%23IEO%3A65551%23QCF%3A4%23FPC%3AAgEAAQAqAHG2PYA0gIEA0ADmgL%2BAAcADACSAEQAADAmBdoDxAQD8xoAyAA4AEABTgAEYAPKBA4BjglEAYAD1gFOCpYBxARgAOoBfgA%3D%3D&api-version=2021-08-15",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
[...]
    {
      "RequestUri": "/subscriptions/a5015e1c-867f-4533-8541-85cd470d0cfb/providers/microsoft.extendedlocation/customlocations?%24skipToken=%2BRID%3A~nTpkAJdK27i9NgAAAAAAAA%3D%3D%23RT%3A13%23TRC%3A13%23ISV%3A2%23IEO%3A65551%23QCF%3A4%23FPC%3AAgEAAQAoAL22NICBANAA5oC%2FgAHAAwAkgBEAAAwJgXaA8QEA%2FMaAMgAOABAAU4ABGADygQOAY4JRAGAA9YBTgqWAcQEYADqAX4A%3D&api-version=2021-08-15",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
    [...]
    {
      "RequestUri": "/subscriptions/a5015e1c-867f-4533-8541-85cd470d0cfb/providers/microsoft.extendedlocation/customlocations?%24skipToken=%2BRID%3A~nTpkAJdK27j0NgAAAAAAAA%3D%3D%23RT%3A14%23TRC%3A14%23ISV%3A2%23IEO%3A65551%23QCF%3A4%23FPC%3AAgEAAQAmAPS2gQDQAOaAv4ABwAMAJIARAAAMCYF2gPEBAPzGgDIADgAQAFOAARgA8oEDgGOCUQBgAPWAU4KlgHEBGAA6gF%2BA&api-version=2021-08-15",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-m[...]
    {
      "RequestUri": "/subscriptions/a5015e1c-867f-4533-8541-85cd470d0cfb/providers/microsoft.extendedlocation/customlocations?%24skipToken=%2BRID%3A~nTpkAJdK27iENwAAAAAAAA%3D%3D%23RT%3A15%23TRC%3A15%23ISV%3A2%23IEO%3A65551%23QCF%3A4%23FPC%3AAgEAAQAkAIE30ADmgL%2BAAcADACSAEQAADAmBdoDxAQD8xoAyAA4AEABTgAEYAPKBA4BjglEAYAD1gFOCpYBxARgAOoBfgA%3D%3D&api-version=2021-08-15",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        [...]
    {
      "RequestUri": "/subscriptions/a5015e1c-867f-4533-8541-85cd470d0cfb/providers/microsoft.extendedlocation/customlocations?%24skipToken=%2BRID%3A~nTpkAJdK27iGNwAAAAAAAA%3D%3D%23RT%3A16%23TRC%3A16%23ISV%3A2%23IEO%3A65551%23QCF%3A4%23FPC%3AAgEAAQAkAIE3wADmgL%2BAAcADACSAEQAADAmBdoDxAQD8xoAyAA4AEABTgAEYAPKBA4BjglEAYAD1gFOCpYBxARgAOoBfgA%3D%3D&api-version=2021-08-15",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        [...]
    {
      "RequestUri": "/subscriptions/a5015e1c-867f-4533-8541-85cd470d0cfb/providers/microsoft.extendedlocation/customlocations?%24skipToken=%2BRID%3A~nTpkAJdK27iHNwAAAAAAAA%3D%3D%23RT%3A17%23TRC%3A17%23ISV%3A2%23IEO%3A65551%23QCF%3A4%23FPC%3AAgEAAQAiAIe35oC%2FgAHAAwAkgBEAAAwJgXaA8QEA%2FMaAMgAOABAAU4ABGADygQOAY4JRAGAA9YBTgqWAcQEYADqAX4A%3D&api-version=2021-08-15",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-m[...]
    {
      "RequestUri": "/subscriptions/a5015e1c-867f-4533-8541-85cd470d0cfb/providers/microsoft.extendedlocation/customlocations?%24skipToken=%2BRID%3A~nTpkAJdK27h2OAAAAAAAAA%3D%3D%23RT%3A18%23TRC%3A18%23ISV%3A2%23IEO%3A65551%23QCF%3A4%23FPC%3AAgEAAQAgAHa4v4ABwAMAJIARAAAMCYF2gPEBAPzGgDIADgAQAFOAARgA8oEDgGOCUQBgAPWAU4KlgHEBGAA6gF%2BA&api-version=2021-08-15",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-rateli[...]
    {
      "RequestUri": "/subscriptions/a5015e1c-867f-4533-8541-85cd470d0cfb/providers/microsoft.extendedlocation/customlocations?%24skipToken=%2BRID%3A~nTpkAJdK27g-OQAAAAAAAA%3D%3D%23RT%3A19%23TRC%3A19%23ISV%3A2%23IEO%3A65551%23QCF%3A4%23FPC%3AAgEAAQAeAD%2B5AcADACSAEQAADAmBdoDxAQD8xoAyAA4AEABTgAEYAPKBA4BjglEAYAD1gFOCpYBxARgAOoBfgA%3D%3D&api-version=2021-08-15",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ra[...]
    {
      "RequestUri": "/subscriptions/a5015e1c-867f-4533-8541-85cd470d0cfb/providers/microsoft.extendedlocation/customlocations?%24skipToken=%2BRID%3A~nTpkAJdK27hAOQAAAAAAAA%3D%3D%23RT%3A20%23TRC%3A20%23ISV%3A2%23IEO%3A65551%23QCF%3A4%23FPC%3AAgEAAQAcAEE5AwAkgBEAAAwJgXaA8QEA%2FMaAMgAOABAAU4ABGADygQOAY4JRAGAA9YBTgqWAcQEYADqAX4A%3D&api-version=2021-08-15",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimi[...]
    {
      "RequestUri": "/subscriptions/a5015e1c-867f-4533-8541-85cd470d0cfb/providers/microsoft.extendedlocation/customlocations?%24skipToken=%2BRID%3A~nTpkAJdK27hBOQAAAAAAAA%3D%3D%23RT%3A21%23TRC%3A21%23ISV%3A2%23IEO%3A65551%23QCF%3A4%23FPC%3AAgEAAQAaAEG5JIARAAAMCYF2gPEBAPzGgDIADgAQAFOAARgA8oEDgGOCUQBgAPWAU4KlgHEBGAA6gF%2BA&api-version=2021-08-15",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-rema[...]
    {
      "RequestUri": "/subscriptions/a5015e1c-867f-4533-8541-85cd470d0cfb/providers/microsoft.extendedlocation/customlocations?%24skipToken=%2BRID%3A~nTpkAJdK27h0OQAAAAAAAA%3D%3D%23RT%3A22%23TRC%3A22%23ISV%3A2%23IEO%3A65551%23QCF%3A4%23FPC%3AAgEAAQAYAHS5EQAADAmBdoDxAQD8xoAyAA4AEABTgAEYAPKBA4BjglEAYAD1gFOCpYBxARgAOoBfgA%3D%3D&api-version=2021-08-15",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-re[...]
    {
      "RequestUri": "/subscriptions/a5015e1c-867f-4533-8541-85cd470d0cfb/providers/microsoft.extendedlocation/customlocations?%24skipToken=%2BRID%3A~nTpkAJdK27iaOQAAAAAAAA%3D%3D%23RT%3A23%23TRC%3A23%23ISV%3A2%23IEO%3A65551%23QCF%3A4%23FPC%3AAgEAAQAWAJE5AAwJgXaA8QEA%2FMaAMgAOABAAU4ABGADygQOAY4JRAGAA9YBTgqWAcQEYADqAX4A%3D&api-version=2021-08-15",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remain[...]
    {
      "RequestUri": "/subscriptions/a5015e1c-867f-4533-8541-85cd470d0cfb/providers/microsoft.extendedlocation/customlocations?%24skipToken=%2BRID%3A~nTpkAJdK27ibOQAAAAAAAA%3D%3D%23RT%3A24%23TRC%3A24%23ISV%3A2%23IEO%3A65551%23QCF%3A4%23FPC%3AAgEAAQAUAJu5CYF2gPEBAPzGgDIADgAQAFOAARgA8oEDgGOCUQBgAPWAU4KlgHEBGAA6gF%2BA&api-version=2021-08-15",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-su[...]
    {
      "RequestUri": "/subscriptions/a5015e1c-867f-4533-8541-85cd470d0cfb/providers/microsoft.extendedlocation/customlocations?%24skipToken=%2BRID%3A~nTpkAJdK27ipOgAAAAAAAA%3D%3D%23RT%3A25%23TRC%3A25%23ISV%3A2%23IEO%3A65551%23QCF%3A4%23FPC%3AAgEAAQASAKm6doDxAQD8xoAyAA4AEABTgAEYAPKBA4BjglEAYAD1gFOCpYBxARgAOoBfgA%3D%3D&api-version=2021-08-15",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-[...]
    {
      "RequestUri": "/subscriptions/a5015e1c-867f-4533-8541-85cd470d0cfb/providers/microsoft.extendedlocation/customlocations?%24skipToken=%2BRID%3A~nTpkAJdK27gmOwAAAAAAAA%3D%3D%23RT%3A26%23TRC%3A26%23ISV%3A2%23IEO%3A65551%23QCF%3A4%23FPC%3AAgEAAQAQACa78QEA%2FMaAMgAOABAAU4ABGADygQOAY4JRAGAA9YBTgqWAcQEYADqAX4A%3D&api-version=2021-08-15",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14969"
        ],
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/a5015e1c-867f-4533-8541-85cd470d0cfb/resourcegroups/tesla-cl-hr-rg-spalling/providers/microsoft.extendedlocation/customlocations/tesla-first-hydration-cl-timable\",\r\n      \"name\": \"tesla-first-hydration-cl-timable\",\r\n      \"location\": \"eastus\",\r\n      \"tags\": {\r\n        \"tesla-TagsKey-conversative\": \"tesla-TagsVal-volcanity\",\r\n        \"tesla-TagsKey-decapod\": \"tesla-TagsVal-substantialia\",\r\n        \"tesla-TagsKey-gundi\": \"tesla-TagsVal-octopodes\",\r\n        \"tesla-TagsKey-precisioner\": \"tesla-TagsVal-unflapping\",\r\n        \"tesla-TagsKey-sanctionative\": \"tesla-TagsVal-nagster\",\r\n        \"tesla-TagsKey-skiograph\": \"tesla-TagsVal-duo\",\r\n        \"tesla-TagsKey-spermatogenic\": \"tesla-TagsVal-sabbathbreaking\",\r\n        \"tesla-TagsKey-streamingly\": \"tesla-TagsVal-venutian\",\r\n        \"tesla-TagsKey-sufflue\": \"tesla-TagsVal-moner\",\r\n        \"tesla-TagsKey-vilipenditory\": \"tesla-TagsVal-stypsis\"\r\n      },\r\n      \"type\": \"Microsoft.ExtendedLocation/customLocations\",\r\n      \"identity\": {\r\n        \"type\": \"None\"\r\n      },\r\n      \"properties\": {\r\n        \"hostType\": \"Kubernetes\",\r\n        \"hostResourceId\": \"/subscriptions/a5015e1c-867f-4533-8541-85cd470d0cfb/resourceGroups/e2e-testing-rg/providers/Microsoft.Kubernetes/connectedClusters/cle2edfkapconnectedcluster\",\r\n        \"namespace\": \"tesla-hr-cassandra-1-clairce-namespace\",\r\n        \"displayName\": \"tesla-first-hydration-cl-timable-displayname\",\r\n        \"provisioningState\": \"Succeeded\",\r\n        \"clusterExtensionIds\": [\r\n          \"/subscriptions/a5015e1c-867f-4533-8541-85cd470d0cfb/resourceGroups/e2e-testing-rg/providers/Microsoft.Kubernetes/connectedClusters/cle2edfkapconnectedcluster/providers/Microsoft.KubernetesConfiguration/extensions/tesla-hr-cassandra-1-clairce\"\r\n        ],\r\n        \"authentication\": {}\r\n      }\r\n    }\r\n  ],\r\n  \"nextLink\": \"https://api-dogfood.resources.windows-int.net/subscriptions/a5015e1c-867f-4533-8541-85cd470d0cfb/providers/microsoft.extendedlocation/customlocations?%24skipToken=%2BRID%3A~nTpkAJdK27gqPQAAAAAAAA%3D%3D%23RT%3A27%23TRC%3A27%23ISV%3A2%23IEO%3A65551%23QCF%3A4%23FPC%3AAgEAAQAOACE9APzGgDIADgAQAFOAARgA8oEDgGOCUQBgAPWAU4KlgHEBGAA6gF%2BA&api-version=2021-08-15\"\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/a5015e1c-867f-4533-8541-85cd470d0cfb/providers/microsoft.extendedlocation/customlocations?%24skipToken=%2BRID%3A~nTpkAJdK27gqPQAAAAAAAA%3D%3D%23RT%3A27%23TRC%3A27%23ISV%3A2%23IEO%3A65551%23QCF%3A4%23FPC%3AAgEAAQAOACE9APzGgDIADgAQAFOAARgA8oEDgGOCUQBgAPWAU4KlgHEBGAA6gF%2BA&api-version=2021-08-15",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscripti[...]
    {
      "RequestUri": "/subscriptions/a5015e1c-867f-4533-8541-85cd470d0cfb/providers/microsoft.extendedlocation/customlocations?%24skipToken=%2BRID%3A~nTpkAJdK27grPQAAAAAAAA%3D%3D%23RT%3A28%23TRC%3A28%23ISV%3A2%23IEO%3A65551%23QCF%3A4%23FPC%3AAgEAAQAOACE9APjGgDIADgAQAFOAARgA8oEDgGOCUQBgAPWAU4KlgHEBGAA6gF%2BA&api-version=2021-08-15",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14967"
        ],
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/a5015e1c-867f-4533-8541-85cd470d0cfb/resourcegroups/tesla-cl-hr-rg-dorsocephalad/providers/microsoft.extendedlocation/customlocations/tesla-first-hydration-cl-unoccupiedly\",\r\n      \"name\": \"tesla-first-hydration-cl-unoccupiedly\",\r\n      \"location\": \"eastus\",\r\n      \"tags\": {\r\n        \"tesla-TagsKey-amphibiotic\": \"tesla-TagsVal-tinselly\",\r\n        \"tesla-TagsKey-calculatingly\": \"tesla-TagsVal-underhang\",\r\n        \"tesla-TagsKey-chervil\": \"tesla-TagsVal-basilica\",\r\n        \"tesla-TagsKey-duvetyn\": \"tesla-TagsVal-petiolulate\",\r\n        \"tesla-TagsKey-indisciplinable\": \"tesla-TagsVal-unfluted\",\r\n        \"tesla-TagsKey-mucilaginously\": \"tesla-TagsVal-aurelia\",\r\n        \"tesla-TagsKey-son\": \"tesla-TagsVal-linoleum\",\r\n        \"tesla-TagsKey-strandless\": \"tesla-TagsVal-trisylabic\",\r\n        \"tesla-TagsKey-subcompensate\": \"tesla-TagsVal-supermalate\",\r\n        \"tesla-TagsKey-unclassifiable\": \"tesla-TagsVal-barge\"\r\n      },\r\n      \"type\": \"Microsoft.ExtendedLocation/customLocations\",\r\n      \"identity\": {\r\n        \"type\": \"None\"\r\n      },\r\n      \"properties\": {\r\n        \"hostType\": \"Kubernetes\",\r\n        \"hostResourceId\": \"/subscriptions/a5015e1c-867f-4533-8541-85cd470d0cfb/resourceGroups/e2e-testing-rg/providers/Microsoft.Kubernetes/connectedClusters/cle2edfkapconnectedcluster\",\r\n        \"namespace\": \"tesla-hr-cassandra-1-snibbled-namespace\",\r\n        \"displayName\": \"tesla-first-hydration-cl-unoccupiedly-displayname\",\r\n        \"provisioningState\": \"Succeeded\",\r\n        \"clusterExtensionIds\": [\r\n          \"/subscriptions/a5015e1c-867f-4533-8541-85cd470d0cfb/resourceGroups/e2e-testing-rg/providers/Microsoft.Kubernetes/connectedClusters/cle2edfkapconnectedcluster/providers/Microsoft.KubernetesConfiguration/extensions/tesla-hr-cassandra-1-snibbled\"\r\n        ],\r\n        \"authentication\": {}\r\n      }\r\n    }\r\n  ],\r\n  \"nextLink\": \"https://api-dogfood.resources.windows-int.net/subscriptions/a5015e1c-867f-4533-8541-85cd470d0cfb/providers/microsoft.extendedlocation/customlocations?%24skipToken=%2BRID%3A~nTpkAJdK27gsPQAAAAAAAA%3D%3D%23RT%3A29%23TRC%3A29%23ISV%3A2%23IEO%3A65551%23QCF%3A4%23FPC%3AAgEAAQAOACE9APDGgDIADgAQAFOAARgA8oEDgGOCUQBgAPWAU4KlgHEBGAA6gF%2BA&api-version=2021-08-15\"\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/a5015e1c-867f-4533-8541-85cd470d0cfb/providers/microsoft.extendedlocation/customlocations?%24skipToken=%2BRID%3A~nTpkAJdK27gsPQAAAAAAAA%3D%3D%23RT%3A29%23TRC%3A29%23ISV%3A2%23IEO%3A65551%23QCF%3A4%23FPC%3AAgEAAQAOACE9APDGgDIADgAQAFOAARgA8oEDgGOCUQBgAPWAU4KlgHEBGAA6gF%2BA&api-version=2021-08-15",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscripti[...]
    {
      "RequestUri": "/subscriptions/a5015e1c-867f-4533-8541-85cd470d0cfb/providers/microsoft.extendedlocation/customlocations?%24skipToken=%2BRID%3A~nTpkAJdK27gtPQAAAAAAAA%3D%3D%23RT%3A30%23TRC%3A30%23ISV%3A2%23IEO%3A65551%23QCF%3A4%23FPC%3AAgEAAQAOACE9AODGgDIADgAQAFOAARgA8oEDgGOCUQBgAPWAU4KlgHEBGAA6gF%2BA&api-version=2021-08-15",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14965"
        ],
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/a5015e1c-867f-4533-8541-85cd470d0cfb/resourcegroups/tesla-cl-hr-rg-oppressor/providers/microsoft.extendedlocation/customlocations/tesla-first-hydration-cl-pinch\",\r\n      \"name\": \"tesla-first-hydration-cl-pinch\",\r\n      \"location\": \"eastus\",\r\n      \"tags\": {\r\n        \"tesla-TagsKey-breediness\": \"tesla-TagsVal-problockade\",\r\n        \"tesla-TagsKey-couchancy\": \"tesla-TagsVal-osphyalgia\",\r\n        \"tesla-TagsKey-dispassionate\": \"tesla-TagsVal-matapan\",\r\n        \"tesla-TagsKey-electroanalysis\": \"tesla-TagsVal-dialectological\",\r\n        \"tesla-TagsKey-kokra\": \"tesla-TagsVal-inactivity\",\r\n        \"tesla-TagsKey-odylize\": \"tesla-TagsVal-dubitation\",\r\n        \"tesla-TagsKey-phocine\": \"tesla-TagsVal-propons\",\r\n        \"tesla-TagsKey-tangoreceptor\": \"tesla-TagsVal-repandodenticulate\",\r\n        \"tesla-TagsKey-vinifera\": \"tesla-TagsVal-deutochloride\",\r\n        \"tesla-TagsKey-voltaelectricity\": \"tesla-TagsVal-mesophragmal\"\r\n      },\r\n      \"type\": \"Microsoft.ExtendedLocation/customLocations\",\r\n      \"identity\": {\r\n        \"type\": \"None\"\r\n      },\r\n      \"properties\": {\r\n        \"hostType\": \"Kubernetes\",\r\n        \"hostResourceId\": \"/subscriptions/a5015e1c-867f-4533-8541-85cd470d0cfb/resourceGroups/e2e-testing-rg/providers/Microsoft.Kubernetes/connectedClusters/cle2edfkapconnectedcluster\",\r\n        \"namespace\": \"tesla-hr-cassandra-1-teleoptile-namespace\",\r\n        \"displayName\": \"tesla-first-hydration-cl-pinch-displayname\",\r\n        \"provisioningState\": \"Succeeded\",\r\n        \"clusterExtensionIds\": [\r\n          \"/subscriptions/a5015e1c-867f-4533-8541-85cd470d0cfb/resourceGroups/e2e-testing-rg/providers/Microsoft.Kubernetes/connectedClusters/cle2edfkapconnectedcluster/providers/Microsoft.KubernetesConfiguration/extensions/tesla-hr-cassandra-1-teleoptile\"\r\n        ],\r\n        \"authentication\": {}\r\n      }\r\n    }\r\n  ],\r\n  \"nextLink\": \"https://api-dogfood.resources.windows-int.net/subscriptions/a5015e1c-867f-4533-8541-85cd470d0cfb/providers/microsoft.extendedlocation/customlocations?%24skipToken=%2BRID%3A~nTpkAJdK27guPQAAAAAAAA%3D%3D%23RT%3A31%23TRC%3A31%23ISV%3A2%23IEO%3A65551%23QCF%3A4%23FPC%3AAgEAAQAOACE9AMDGgDIADgAQAFOAARgA8oEDgGOCUQBgAPWAU4KlgHEBGAA6gF%2BA&api-version=2021-08-15\"\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/a5015e1c-867f-4533-8541-85cd470d0cfb/providers/microsoft.extendedlocation/customlocations?%24skipToken=%2BRID%3A~nTpkAJdK27guPQAAAAAAAA%3D%3D%23RT%3A31%23TRC%3A31%23ISV%3A2%23IEO%3A65551%23QCF%3A4%23FPC%3AAgEAAQAOACE9AMDGgDIADgAQAFOAARgA8oEDgGOCUQBgAPWAU4KlgHEBGAA6gF%2BA&api-version=2021-08-15",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscripti[...]
    {
      "RequestUri": "/subscriptions/a5015e1c-867f-4533-8541-85cd470d0cfb/providers/microsoft.extendedlocation/customlocations?%24skipToken=%2BRID%3A~nTpkAJdK27gvPQAAAAAAAA%3D%3D%23RT%3A32%23TRC%3A32%23ISV%3A2%23IEO%3A65551%23QCF%3A4%23FPC%3AAgEAAQAMAC%2B9xoAyAA4AEABTgAEYAPKBA4BjglEAYAD1gFOCpYBxARgAOoBfgA%3D%3D&api-version=2021-08-15",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscr[...]
    {
      "RequestUri": "/subscriptions/a5015e1c-867f-4533-8541-85cd470d0cfb/providers/microsoft.extendedlocation/customlocations?%24skipToken=%2BRID%3A~nTpkAJdK27j2PQAAAAAAAA%3D%3D%23RT%3A33%23TRC%3A33%23ISV%3A2%23IEO%3A65551%23QCF%3A4%23FPC%3AAgEAAQAKAPa9MgAOABAAU4ABGADygQOAY4JRAGAA9YBTgqWAcQEYADqAX4A%3D&api-version=2021-08-15",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-r[...]
    {
[...]
