{
  "Entries": [
    {
      "RequestUri": "https://api.cognitive.microsofttranslator.com/translate?to=es\u0026from=en\u0026api-version=3.0",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized",
        "Ocp-Apim-Subscription-Region": "westus"
      },
      "RequestBody": "[{\u0022Text\u0022:\u0022The word \\u003C mstrans:dictionary translation =\\u0022wordomatic\\u0022\\u003Ewordomatic\\u003C/mstrans:dictionary\\u003E is a dictionary entry.\u0022}]",
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "X-Metered-Usage": "110",
        "X-MT-System": "Microsoft",
        "X-RequestId": "TRAN.MW1P.99BE.0310T0013.52451A6"
      },
      "ResponseBody": "[{\u0022translations\u0022:[{\u0022text\u0022:\u0022La palabra \u003C mstrans:dictionary translation =\\\u0022wordomatic\\\u0022\u003Ewordomatic\u003C/mstrans:dictionary\u003E es una entrada de diccionario.\u0022,\u0022to\u0022:\u0022es\u0022}]}]"
    }
  ],
  "Variables": {
    "RandomSeed": "277230032",
    "TEXT_TRANSLATION_API_KEY": "Sanitized",
    "TEXT_TRANSLATION_ENDPOINT": "https://api.cognitive.microsofttranslator.com",
    "TEXT_TRANSLATION_REGION": "westus"
  }
}
