{
  "Entries": [
    {
      "RequestUri": "/subscriptions/cd405abc-f3d2-45b1-b011-142dfdd79992/resourcegroups/Default-SQL-EastAsia/providers/Microsoft.Sql/servers/g6gsefjdal/databases/AutomatedSqlExport_manikdb_20131123T091548Z/providers/Microsoft.Authorization/locks/mylock7562?api-version=2015-01-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"level\": \"CanNotDelete\",\r\n    \"notes\": \"optional text.\"\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"level\": \"CanNotDelete\",\r\n    \"notes\": \"optional text.\"\r\n  },\r\n  \"id\": \"/subscriptions/cd405abc-f3d2-45b1-b011-142dfdd79992/resourcegroups/Default-SQL-EastAsia/providers/Microsoft.Sql/servers/g6gsefjdal/databases/AutomatedSqlExport_manikdb_20131123T091548Z/providers/Microsoft.Authorization/locks/mylock7562\",\r\n  \"type\": \"Microsoft.Authorization/locks\",\r\n  \"name\": \"mylock7562\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ]
      },
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/cd405abc-f3d2-45b1-b011-142dfdd79992/resourcegroups/Default-SQL-EastAsia/providers/Microsoft.Sql/servers/g6gsefjdal/databases/AutomatedSqlExport_manikdb_20131123T091548Z/providers/Microsoft.Authorization/locks?api-version=2015-01-01&$filter=",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"properties\": {\r\n        \"level\": \"CanNotDelete\",\r\n        \"notes\": \"Optional text notes.\"\r\n      },\r\n      \"id\": \"/subscriptions/cd405abc-f3d2-45b1-b011-142dfdd79992/resourceGroups/Default-SQL-EastAsia/providers/Microsoft.Sql/servers/g6gsefjdal/providers/Microsoft.Authorization/locks/serverlock\",\r\n      \"type\": \"Microsoft.Authorization/locks\",\r\n      \"name\": \"serverlock\"\r\n    },\r\n    {\r\n      \"properties\": {\r\n        \"level\": \"[...]
    {
      "RequestUri": "/subscriptions/cd405abc-f3d2-45b1-b011-142dfdd79992/resourcegroups/Default-SQL-EastAsia/providers/Microsoft.Sql/servers/g6gsefjdal/databases/AutomatedSqlExport_manikdb_20131123T091548Z/providers/Microsoft.Authorization/locks?api-version=2015-01-01&$filter=atScope()",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"properties\": {\r\n        \"level\": \"CanNotDelete[...]
    {
      "RequestUri": "/subscriptions/cd405abc-f3d2-45b1-b011-142dfdd79992/resourcegroups/Default-SQL-EastAsia/providers/Microsoft.Sql/servers/g6gsefjdal/databases/AutomatedSqlExport_manikdb_20131123T091548Z/providers/Microsoft.Authorization/locks/mylock7562?api-version=2015-01-01",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1198"
        ]
      },
      "StatusCode": 200
    }
  ],
  "Names": {
    "CRUDResourceLock": [
      "mylock7562"
    ]
  },
  "Variables": {
    "SubscriptionId": "cd405abc-f3d2-45b1-b011-142dfdd79992"
  }
}