{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/f3d94233-a9aa-4241-ac82-2dfb63ce637a?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11778"
      },
      "ResponseBody": {
        "id": "/subscriptions/f3d94233-a9aa-4241-ac82-2dfb63ce637a",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "subscriptionId": "f3d94233-a9aa-4241-ac82-2dfb63ce637a",
        "tenantId": "75743128-1c62-4904-9be1-c23c1edb9a9f",
        "displayName": "Visual Studio Enterprise Subscription",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Public_2014-09-01",
          "quotaId": "MSDN_2014-09-01",
          "spendingLimit": "On"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/f3d94233-a9aa-4241-ac82-2dfb63ce637a/resourcegroups/testRg-1706?api-version=2021-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "westus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1196"
      },
      "ResponseBody": {
        "id": "/subscriptions/f3d94233-a9aa-4241-ac82-2dfb63ce637a/resourceGroups/testRg-1706",
        "name": "testRg-1706",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus",
        "tags": {},
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/f3d94233-a9aa-4241-ac82-2dfb63ce637a/resourceGroups/testRg-1706/providers/Microsoft.Cdn/profiles/AFDProfile-5600?api-version=2021-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "sku": {
          "name": "Standard_AzureFrontDoor"
        },
        "tags": {},
        "location": "Global",
        "properties": {
          "originResponseTimeoutSeconds": 60
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/f3d94233-a9aa-4241-ac82-2dfb63ce637a/resourcegroups/testRg-1706/providers/Microsoft.Cdn/operationresults/96d4899e-d27d-4768-aa9d-dc5d0b7df86f?api-version=2021-06-01",
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "21"
      },
      "ResponseBody": {
        "id": "/subscriptions/f3d94233-a9aa-4241-ac82-2dfb63ce637a/resourcegroups/testRg-1706/providers/Microsoft.Cdn/profiles/AFDProfile-5600",
        "type": "Microsoft.Cdn/profiles",
        "name": "AFDProfile-5600",
        "location": "Global",
        "kind": "frontdoor",
        "tags": {},
        "sku": {
          "name": "Standard_AzureFrontDoor"
        },
        "properties": {
          "originResponseTimeoutSeconds": 60,
          "frontDoorId": "53f77075-7e7b-4999-8375-52f243e494a8",
          "resourceState": "Creating",
          "provisioningState": "Creating"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/f3d94233-a9aa-4241-ac82-2dfb63ce637a/resourcegroups/testRg-1706/providers/Microsoft.Cdn/operationresults/96d4899e-d27d-4768-aa9d-dc5d0b7df86f?api-version=2021-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11777"
      },
      "ResponseBody": {
        "status": "InProgress",
        "error": {
          "code": "None",
          "message": null
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/f3d94233-a9aa-4241-ac82-2dfb63ce637a/resourceGroups/testRg-1706/providers/Microsoft.Cdn/profiles/AFDProfile-5600/ruleSets/AFDRuleSet3651?api-version=2021-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "96"
      },
      "ResponseBody": {
        "id": "/subscriptions/f3d94233-a9aa-4241-ac82-2dfb63ce637a/resourcegroups/testRg-1706/providers/Microsoft.Cdn/profiles/AFDProfile-5600/rulesets/AFDRuleSet3651",
        "type": "Microsoft.Cdn/profiles/rulesets",
        "name": "AFDRuleSet3651",
        "properties": {
          "provisioningState": "Succeeded",
          "deploymentStatus": "NotStarted"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/f3d94233-a9aa-4241-ac82-2dfb63ce637a/resourceGroups/testRg-1706/providers/Microsoft.Cdn/profiles/AFDProfile-5600/ruleSets/AFDRuleSet3651/rules/AFDRule4112?api-version=2021-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "order": 1,
          "conditions": [
            {
              "parameters": {
                "typeName": "DeliveryRuleRequestUriConditionParameters",
                "operator": "Any"
              },
              "name": "RequestUri"
            }
          ],
          "actions": [
            {
              "parameters": {
                "typeName": "DeliveryRuleRouteConfigurationOverrideActionParameters",
                "cacheConfiguration": {
                  "queryStringCachingBehavior": "IgnoreSpecifiedQueryStrings",
                  "queryParameters": "a=test",
                  "isCompressionEnabled": "Enabled",
                  "cacheBehavior": "HonorOrigin"
                }
              },
              "name": "RouteConfigurationOverride"
            }
          ]
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/f3d94233-a9aa-4241-ac82-2dfb63ce637a/resourcegroups/testRg-1706/providers/Microsoft.Cdn/operationresults/ee50be81-fc53-45a4-8ad6-aa073c5aecc5?api-version=2021-06-01",
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "95"
      },
      "ResponseBody": {
        "id": "/subscriptions/f3d94233-a9aa-4241-ac82-2dfb63ce637a/resourcegroups/testRg-1706/providers/Microsoft.Cdn/profiles/AFDProfile-5600/rulesets/AFDRuleSet3651/rules/AFDRule4112",
        "type": "Microsoft.Cdn/profiles/rulesets/rules",
        "name": "AFDRule4112",
        "properties": {
          "order": 1,
          "conditions": [
            {
              "name": "RequestUri",
              "parameters": {
                "typeName": "DeliveryRuleRequestUriConditionParameters",
                "operator": "Any",
                "negateCondition": false,
                "matchValues": [],
                "transforms": []
              }
            }
          ],
          "actions": [
            {
              "name": "RouteConfigurationOverride",
              "parameters": {
                "typeName": "DeliveryRuleRouteConfigurationOverrideActionParameters",
                "cacheConfiguration": {
                  "isCompressionEnabled": "Enabled",
                  "queryStringCachingBehavior": "IgnoreSpecifiedQueryStrings",
                  "queryParameters": "a=test",
                  "cacheBehavior": "HonorOrigin",
                  "cacheDuration": null
                },
                "originGroupOverride": null
              }
            }
          ],
          "matchProcessingBehavior": "Continue",
          "provisioningState": "Creating",
          "deploymentStatus": "NotStarted"
        }
      }
    },
[...]
