{
  "Entries": [
    {
      "RequestUri": "/anomalydetector/v1.0/timeseries/last/detect",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"series\": [\r\n    {\r\n      \"timestamp\": \"2018-05-01T00:00:00Z\",\r\n      \"value\": 0.018371249800245713\r\n    },\r\n    {\r\n      \"timestamp\": \"2018-05-02T00:00:00Z\",\r\n      \"value\": 0.025057844489086125\r\n    },\r\n    {\r\n      \"timestamp\": \"2018-05-03T00:00:00Z\",\r\n      \"value\": 0.033960121248365484\r\n    },\r\n    {\r\n      \"timestamp\": \"2018-05-04T00:00:00Z\",\r\n      \"value\": 0.04573148140598568\r\n    },\r\n    {\r\n      \"timestamp\": \"2018-05-05T00:00:00Z\",\r\n      \"value\": 0.061190193011377313\r\n    },\r\n    {\r\n      \"timestamp[...]
[...]
