{
  "Entries": [
    {
      "RequestUri": "/anomalydetector/v1.0/timeseries/last/detect",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"series\": [\r\n    {\r\n      \"timestamp\": \"2018-05-01T00:00:00Z\",\r\n      \"value\": 0.0\r\n    },\r\n    {\r\n      \"timestamp\": \"2018-05-02T00:00:00Z\",\r\n      \"value\": 0.49999999999999994\r\n    },\r\n    {\r\n      \"timestamp\": \"2018-05-03T00:00:00Z\",\r\n      \"value\": 0.8660254037844386\r\n    },\r\n    {\r\n      \"timestamp\": \"2018-05-04T00:00:00Z\",\r\n      \"value\": 1.0\r\n    },\r\n    {\r\n      \"timestamp\": \"2018-05-05T00:00:00Z\",\r\n      \"value\": 0.86602540378443871\r\n    },\r\n    {\r\n      \"timestamp\": \"2018-05-06T00:00:00Z\",\r\n    [...]
[...]
