{
  "Entries": [
    {
      "RequestUri": "https://3498ec60-ff3f-4fb4-8064-bfcf8de553aa.eastus2.exp.azure.net/experiment-metrics/test_metric_activate?api-version=2025-05-31-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch+json"
      },
      "RequestBody": {
        "lifecycle": "Inactive",
        "displayName": "Test Metric ActivateExperimentMetric",
        "description": "A metric created for testing purposes (Azure.Analytics.OnlineExperimentation.Tests.OnlineExperimentationClientTests(False).ActivateExperimentMetric)",
        "categories": [
          "Test"
        ],
        "desiredDirection": "Increase",
        "definition": {
          "type": "EventCount",
          "event": {
            "eventName": "TestEvent"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2025-05-31-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\"Bsj7frKDn6s=\"",
        "Last-Modified": "Thu, 01 May 2025 04:34:23 GMT",
        "mise-correlation-id": "a7abccbb-9aca-41df-9d98-9c8208cfb793"
      },
      "ResponseBody": {
        "lifecycle": "Inactive",
        "desiredDirection": "Increase",
        "id": "test_metric_activate",
        "displayName": "Test Metric ActivateExperimentMetric",
        "description": "A metric created for testing purposes (Azure.Analytics.OnlineExperimentation.Tests.OnlineExperimentationClientTests(False).ActivateExperimentMetric)",
        "categories": [
          "Test"
        ],
        "definition": {
          "event": {
            "eventName": "TestEvent"
          },
          "type": "EventCount"
        },
        "eTag": "\"Bsj7frKDn6s=\"",
        "lastModifiedAt": "2025-05-01T04:34:23.8046368+00:00"
      }
    },
    {
      "RequestUri": "https://3498ec60-ff3f-4fb4-8064-bfcf8de553aa.eastus2.exp.azure.net/experiment-metrics/test_metric_activate?api-version=2025-05-31-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch+json"
      },
      "RequestBody": {
        "lifecycle": "Active"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2025-05-31-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\"JutorBLJ9OY=\"",
        "Last-Modified": "Thu, 01 May 2025 04:34:23 GMT",
        "mise-correlation-id": "49faea72-7548-4e49-aeaf-591056b4e19c"
      },
      "ResponseBody": {
        "lifecycle": "Active",
        "desiredDirection": "Increase",
        "id": "test_metric_activate",
        "displayName": "Test Metric ActivateExperimentMetric",
        "description": "A metric created for testing purposes (Azure.Analytics.OnlineExperimentation.Tests.OnlineExperimentationClientTests(False).ActivateExperimentMetric)",
        "categories": [
          "Test"
        ],
        "definition": {
          "event": {
            "eventName": "TestEvent"
          },
          "type": "EventCount"
        },
        "eTag": "\"JutorBLJ9OY=\"",
        "lastModifiedAt": "2025-05-01T04:34:23.9770525+00:00"
      }
    }
  ],
  "Variables": {
    "ENDPOINT": "https://3498ec60-ff3f-4fb4-8064-bfcf8de553aa.eastus2.exp.azure.net",
    "RandomSeed": "827089991"
  }
}
