{
  "Entries": [
    {
      "RequestUri": "https://a436c1d9-a21b-46b1-8ed5-483c07d02836.eastus2.exp.azure.net/experiment-metrics/test_metric_activate_etag?api-version=2025-05-31-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch+json"
      },
      "RequestBody": {
        "lifecycle": "Inactive",
        "displayName": "Test Metric ActivateExperimentMetricWithETag",
        "description": "A metric created for testing purposes (Azure.Analytics.OnlineExperimentation.Tests.OnlineExperimentationClientTests(True).ActivateExperimentMetricWithETag)",
        "categories": [
          "Test"
        ],
        "desiredDirection": "Increase",
        "definition": {
          "type": "EventCount",
          "event": {
            "eventName": "TestEvent"
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2025-05-31-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\"wkGqKUBO42w=\"",
        "Last-Modified": "Wed, 23 Apr 2025 20:13:29 GMT",
        "Location": "/workspaces/a436c1d9-a21b-46b1-8ed5-483c07d02836/experiment-metrics/test_metric_activate_etag",
        "mise-correlation-id": "3ced0d33-80de-4f6c-80d0-c4e595a2ad60"
      },
      "ResponseBody": {
        "lifecycle": "Inactive",
        "desiredDirection": "Increase",
        "id": "test_metric_activate_etag",
        "displayName": "Test Metric ActivateExperimentMetricWithETag",
        "description": "A metric created for testing purposes (Azure.Analytics.OnlineExperimentation.Tests.OnlineExperimentationClientTests(True).ActivateExperimentMetricWithETag)",
        "categories": [
          "Test"
        ],
        "definition": {
          "event": {
            "eventName": "TestEvent"
          },
          "type": "EventCount"
        },
        "eTag": "\"wkGqKUBO42w=\"",
        "lastModifiedAt": "2025-04-23T20:13:29.2233226+00:00"
      }
    },
    {
      "RequestUri": "https://a436c1d9-a21b-46b1-8ed5-483c07d02836.eastus2.exp.azure.net/experiment-metrics/test_metric_activate_etag?api-version=2025-05-31-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch+json",
        "If-Match": "\"wkGqKUBO42w=\""
      },
      "RequestBody": {
        "lifecycle": "Active"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2025-05-31-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\"4h+lmrlzwCM=\"",
        "Last-Modified": "Wed, 23 Apr 2025 20:13:29 GMT",
        "mise-correlation-id": "20d2f556-d493-4e28-b684-f0f5288974ae"
      },
      "ResponseBody": {
        "lifecycle": "Active",
        "desiredDirection": "Increase",
        "id": "test_metric_activate_etag",
        "displayName": "Test Metric ActivateExperimentMetricWithETag",
        "description": "A metric created for testing purposes (Azure.Analytics.OnlineExperimentation.Tests.OnlineExperimentationClientTests(True).ActivateExperimentMetricWithETag)",
        "categories": [
          "Test"
        ],
        "definition": {
          "event": {
            "eventName": "TestEvent"
          },
          "type": "EventCount"
        },
        "eTag": "\"4h+lmrlzwCM=\"",
        "lastModifiedAt": "2025-04-23T20:13:29.3954348+00:00"
      }
    }
  ],
  "Variables": {
    "ENDPOINT": "https://a436c1d9-a21b-46b1-8ed5-483c07d02836.eastus2.exp.azure.net",
    "RandomSeed": "246066209"
  }
}
