{
  "Entries": [
    {
      "RequestUri": "https://a436c1d9-a21b-46b1-8ed5-483c07d02836.eastus2.exp.azure.net/experiment-metrics/test_metric_deactivate_etag?api-version=2025-05-31-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch+json"
      },
      "RequestBody": {
        "lifecycle": "Active",
        "displayName": "Test Metric DeactivateExperimentMetricWithETag",
        "description": "A metric created for testing purposes (Azure.Analytics.OnlineExperimentation.Tests.OnlineExperimentationClientTests(True).DeactivateExperimentMetricWithETag)",
        "categories": [
          "Test"
        ],
        "desiredDirection": "Increase",
        "definition": {
          "type": "EventCount",
          "event": {
            "eventName": "TestEvent"
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2025-05-31-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\"l8Z9jdhEkKE=\"",
        "Last-Modified": "Wed, 23 Apr 2025 20:13:47 GMT",
        "Location": "/workspaces/a436c1d9-a21b-46b1-8ed5-483c07d02836/experiment-metrics/test_metric_deactivate_etag",
        "mise-correlation-id": "ab6756a5-f037-4467-b512-5882f177ad12"
      },
      "ResponseBody": {
        "lifecycle": "Active",
        "desiredDirection": "Increase",
        "id": "test_metric_deactivate_etag",
        "displayName": "Test Metric DeactivateExperimentMetricWithETag",
        "description": "A metric created for testing purposes (Azure.Analytics.OnlineExperimentation.Tests.OnlineExperimentationClientTests(True).DeactivateExperimentMetricWithETag)",
        "categories": [
          "Test"
        ],
        "definition": {
          "event": {
            "eventName": "TestEvent"
          },
          "type": "EventCount"
        },
        "eTag": "\"l8Z9jdhEkKE=\"",
        "lastModifiedAt": "2025-04-23T20:13:47.9263131+00:00"
      }
    },
    {
      "RequestUri": "https://a436c1d9-a21b-46b1-8ed5-483c07d02836.eastus2.exp.azure.net/experiment-metrics/test_metric_deactivate_etag?api-version=2025-05-31-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch+json",
        "If-Match": "\"l8Z9jdhEkKE=\""
      },
      "RequestBody": {
        "lifecycle": "Inactive"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2025-05-31-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\"2uW29kD3Ewo=\"",
        "Last-Modified": "Wed, 23 Apr 2025 20:13:48 GMT",
        "mise-correlation-id": "c53861d3-7498-4d36-9d18-36bd23ffd65f"
      },
      "ResponseBody": {
        "lifecycle": "Inactive",
        "desiredDirection": "Increase",
        "id": "test_metric_deactivate_etag",
        "displayName": "Test Metric DeactivateExperimentMetricWithETag",
        "description": "A metric created for testing purposes (Azure.Analytics.OnlineExperimentation.Tests.OnlineExperimentationClientTests(True).DeactivateExperimentMetricWithETag)",
        "categories": [
          "Test"
        ],
        "definition": {
          "event": {
            "eventName": "TestEvent"
          },
          "type": "EventCount"
        },
        "eTag": "\"2uW29kD3Ewo=\"",
        "lastModifiedAt": "2025-04-23T20:13:48.0943696+00:00"
      }
    }
  ],
  "Variables": {
    "ENDPOINT": "https://a436c1d9-a21b-46b1-8ed5-483c07d02836.eastus2.exp.azure.net",
    "RandomSeed": "1639936519"
  }
}
