{
  "Entries": [
    {
      "RequestUri": "https://3498ec60-ff3f-4fb4-8064-bfcf8de553aa.eastus2.exp.azure.net/experiment-metrics/test_metric_deactivate?api-version=2025-05-31-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch+json"
      },
      "RequestBody": {
        "lifecycle": "Active",
        "displayName": "Test Metric DeactivateExperimentMetric",
        "description": "A metric created for testing purposes (Azure.Analytics.OnlineExperimentation.Tests.OnlineExperimentationClientTests(True).DeactivateExperimentMetric)",
        "categories": [
          "Test"
        ],
        "desiredDirection": "Increase",
        "definition": {
          "type": "EventCount",
          "event": {
            "eventName": "TestEvent"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2025-05-31-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\"tM5cnGw5Hp0=\"",
        "Last-Modified": "Thu, 01 May 2025 04:35:39 GMT",
        "mise-correlation-id": "8edf182a-56e8-4f03-a8c9-31ac11c90ef7"
      },
      "ResponseBody": {
        "lifecycle": "Active",
        "desiredDirection": "Increase",
        "id": "test_metric_deactivate",
        "displayName": "Test Metric DeactivateExperimentMetric",
        "description": "A metric created for testing purposes (Azure.Analytics.OnlineExperimentation.Tests.OnlineExperimentationClientTests(True).DeactivateExperimentMetric)",
        "categories": [
          "Test"
        ],
        "definition": {
          "event": {
            "eventName": "TestEvent"
          },
          "type": "EventCount"
        },
        "eTag": "\"tM5cnGw5Hp0=\"",
        "lastModifiedAt": "2025-05-01T04:35:39.5115416+00:00"
      }
    },
    {
      "RequestUri": "https://3498ec60-ff3f-4fb4-8064-bfcf8de553aa.eastus2.exp.azure.net/experiment-metrics/test_metric_deactivate?api-version=2025-05-31-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch+json"
      },
      "RequestBody": {
        "lifecycle": "Inactive"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2025-05-31-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\"bt+tkBy2Ajo=\"",
        "Last-Modified": "Thu, 01 May 2025 04:35:39 GMT",
        "mise-correlation-id": "29812784-03b4-45fd-b98e-8db20f3ebcde"
      },
      "ResponseBody": {
        "lifecycle": "Inactive",
        "desiredDirection": "Increase",
        "id": "test_metric_deactivate",
        "displayName": "Test Metric DeactivateExperimentMetric",
        "description": "A metric created for testing purposes (Azure.Analytics.OnlineExperimentation.Tests.OnlineExperimentationClientTests(True).DeactivateExperimentMetric)",
        "categories": [
          "Test"
        ],
        "definition": {
          "event": {
            "eventName": "TestEvent"
          },
          "type": "EventCount"
        },
        "eTag": "\"bt+tkBy2Ajo=\"",
        "lastModifiedAt": "2025-05-01T04:35:39.6673576+00:00"
      }
    }
  ],
  "Variables": {
    "ENDPOINT": "https://3498ec60-ff3f-4fb4-8064-bfcf8de553aa.eastus2.exp.azure.net",
    "RandomSeed": "1858985414"
  }
}
