{
  "Entries": [
    {
      "RequestUri": "https://3498ec60-ff3f-4fb4-8064-bfcf8de553aa.eastus2.exp.azure.net/experiment-metrics/test_metric_conditional_update?api-version=2025-05-31-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch+json"
      },
      "RequestBody": {
        "lifecycle": "Active",
        "displayName": "Test Metric UpdateExperimentMetricWithETag",
        "description": "A metric created for testing purposes (Azure.Analytics.OnlineExperimentation.Tests.OnlineExperimentationClientTests(True).UpdateExperimentMetricWithETag)",
        "categories": [
          "Test"
        ],
        "desiredDirection": "Increase",
        "definition": {
          "type": "EventCount",
          "event": {
            "eventName": "TestEvent"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2025-05-31-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\"r5IKeTJdQ5E=\"",
        "Last-Modified": "Thu, 01 May 2025 04:36:13 GMT",
        "mise-correlation-id": "ec33fcf6-9b34-4b3e-bd05-7e02b668f11e"
      },
      "ResponseBody": {
        "lifecycle": "Active",
        "desiredDirection": "Increase",
        "id": "test_metric_conditional_update",
        "displayName": "Test Metric UpdateExperimentMetricWithETag",
        "description": "A metric created for testing purposes (Azure.Analytics.OnlineExperimentation.Tests.OnlineExperimentationClientTests(True).UpdateExperimentMetricWithETag)",
        "categories": [
          "Test"
        ],
        "definition": {
          "event": {
            "eventName": "TestEvent"
          },
          "type": "EventCount"
        },
        "eTag": "\"r5IKeTJdQ5E=\"",
        "lastModifiedAt": "2025-05-01T04:36:13.8002411+00:00"
      }
    },
    {
      "RequestUri": "https://3498ec60-ff3f-4fb4-8064-bfcf8de553aa.eastus2.exp.azure.net/experiment-metrics/test_metric_conditional_update?api-version=2025-05-31-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch+json",
        "If-Match": "\"r5IKeTJdQ5E=\""
      },
      "RequestBody": {
        "displayName": "Updated With ETag",
        "description": "This metric has been updated with ETag condition"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2025-05-31-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\"AlhYUb/g3Iw=\"",
        "Last-Modified": "Thu, 01 May 2025 04:36:13 GMT",
        "mise-correlation-id": "93eaa3a9-3f4d-4816-a1ae-4fdb35c508cd"
      },
      "ResponseBody": {
        "lifecycle": "Active",
        "desiredDirection": "Increase",
        "id": "test_metric_conditional_update",
        "displayName": "Updated With ETag",
        "description": "This metric has been updated with ETag condition",
        "categories": [
          "Test"
        ],
        "definition": {
          "event": {
            "eventName": "TestEvent"
          },
          "type": "EventCount"
        },
        "eTag": "\"AlhYUb/g3Iw=\"",
        "lastModifiedAt": "2025-05-01T04:36:13.9537905+00:00"
      }
    }
  ],
  "Variables": {
    "ENDPOINT": "https://3498ec60-ff3f-4fb4-8064-bfcf8de553aa.eastus2.exp.azure.net",
    "RandomSeed": "98711123"
  }
}
