{
  "Entries": [
    {
      "RequestUri": "https://fd03a0aa-5843-4c83-8b89-0ddc18abf2df.eastus2.exp.azure.net/experiment-metrics:validate?api-version=2025-05-31-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "lifecycle": "Active",
        "displayName": "Valid Metric",
        "description": "A valid metric for validation testing",
        "categories": [
          "Test",
          "Validation"
        ],
        "desiredDirection": "Increase",
        "definition": {
          "type": "EventCount",
          "event": {
            "eventName": "ValidationEvent"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2025-05-31-preview",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "cda8e91c-a983-4549-86a0-1f531e76ecf4"
      },
      "ResponseBody": {
        "result": "Valid",
        "diagnostics": []
      }
    }
  ],
  "Variables": {
    "ENDPOINT": "https://fd03a0aa-5843-4c83-8b89-0ddc18abf2df.eastus2.exp.azure.net",
    "RandomSeed": "1002662555"
  }
}
