{
  "Entries": [
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-32d63f41-4bea-1ba0-47a7-bc8d575b0d9f?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 10 May 2022 17:02:46 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA32A6E7D28883\u0022",
        "Last-Modified": "Tue, 10 May 2022 17:02:46 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-32d63f41-4bea-1ba0-47a7-bc8d575b0d9f/test-blob-1de69f7d-42d8-1d6f-3299-0bfcbcc66c35",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 10 May 2022 17:02:46 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": "9kyIinSzlq6xu4YMZb3c\u002BrhlVqUfgy6R5DNE4H9QLu18Nezyw2TigxuO2LWZ\u002BYsQKxmEiGe8knMd96VAbrYvYIyYjy/R6jZTgtKKkap5\u002BOuoNLRly6aGwKN51My/ohVlX3gpAWlbPkDjMQWUMQDIpP\u002B5lzkByZTlEs\u002BMWBZplN\u002B9JTIyUPaCTfZzgpqg8Y6isC/NBQvbZJXkQ\u002B6Zz\u002BUqeZwl1gzOllQIN0lDjUf5RCFB6ajmnI/U4sGcTQwI6H4QSQn\u002BehqC0xnbxM7Bl9ZO6v7NWOU9Q9wNUfRLMkhHAE7LM0M9\u002B8oHvxaOCt[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-32d63f41-4bea-1ba0-47a7-bc8d575b0d9f/test-blob-1de69f7d-42d8-1d6f-3299-0bfcbcc66c35",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 May 2022 17:02:46 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-range-get-content-md5": "true",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-MD5": "ji58NlBOAToKgzxVuEm23A==",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA32A6E7E4E452\u0022",
        "Last-Modified": "Tue, 10 May 2022 17:02:46 GMT",
        "x-ms-blob-content-md5": "ji58NlBOAToKgzxVuEm23A==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 10 May 2022 17:02:46 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-06-08",
        "x-ms-version-id": "2022-05-10T17:02:46.2843986Z"
      },
      "ResponseBody": "9kyIinSzlq6xu4YMZb3c\u002BrhlVqUfgy6R5DNE4H9QLu18Nezyw2TigxuO2LWZ\u002BYsQKxmEiGe8knMd96VAbrYvYIyYjy/R6jZTgtKKkap5\u002BOuoNLRly6aGwKN51My/ohVlX3gpAWlbPkDjMQWUMQDIpP\u002B5lzkByZTlEs\u002BMWBZplN\u002B9JTIyUPaCTfZzgpqg8Y6isC/NBQvbZJXkQ\u002B6Zz\u002BUqeZwl1gzOllQIN0lDjUf5RCFB6ajmnI/U4sGcTQwI6H4QSQn\u002BehqC0xnbxM7Bl9ZO6v7NWOU9Q9wNUfRLMkhHAE7LM0M9\u002B8oHvxaOCtfBE0vqTmMOOo\u002BZ0gUs8SklNqHRk8R/9WSTEO80xpnPrzkESz2pYOTlOcW\u002BMmA\[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-32d63f41-4bea-1ba0-47a7-bc8d575b0d9f?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 May 2022 17:02:46 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "2108323342",
    "Storage_TestConfigDefault": "ProductionTenant\njaschrepragrs\nU2FuaXRpemVk\nhttps://jaschrepragrs.blob.core.windows.net\nhttps://jaschrepragrs.file.core.windows.net\nhttps://jaschrepragrs.queue.core.windows.net\nhttps://jaschrepragrs.table.core.windows.net\n\n\n\n\nhttps://jaschrepragrs-secondary.blob.core.windows.net\nhttps://jaschrepragrs-secondary.file.core.windows.net\nhttps://jaschrepragrs-secondary.queue.core.windows.net\nhttps://jaschrepragrs-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jaschrepragrs.blob.core.windows.net/;QueueEndpoint=https://jaschrepragrs.queue.core.windows.net/;FileEndpoint=https://jaschrepragrs.file.core.windows.net/;BlobSecondaryEndpoint=https://jaschrepragrs-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jaschrepragrs-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jaschrepragrs-secondary.file.core.windows.net/;AccountName=jaschrepragrs;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
