{
  "Entries": [
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-a6188619-2077-97e0-30b5-d0b3b14d72c0?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 10 May 2022 17:03:05 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA32A6F347C01B\u0022",
        "Last-Modified": "Tue, 10 May 2022 17:03:05 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-a6188619-2077-97e0-30b5-d0b3b14d72c0/test-blob-8b57c62e-7353-e4cf-c336-895bd3112f5a",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 10 May 2022 17:03:05 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": "NaBErFPDr7g9W6DXR/lujVCTmYuQb5w45Ioip8FjfLS0a7GHX7foVnYExMluYEnCehKVrLZf3cUEC8fJoAf22t7sIttI5y2Yq0MUi6vSyoRAXyyvztD9VY3sg1TvHrZvDurrgT5tepPk/ABzSlIaMUFDiEDaRgwO7s1OXGTZqYyMpXzA50hG0\u002BSZytHPigo60VESrJZ2lMfd3ZJwHx4vC1J05qXVWUr4/bVbQXs6PmTDE4oTxv32FhG14gq11bPGab9/W6NkZXcGGq7hGlJLo54urQuTHERVfs\u002BUIHdAQygBldi8u\u002BPAXq4TDKxOFfy\u002BaT9rhyenMk17Kd3T0EQAxteG[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-a6188619-2077-97e0-30b5-d0b3b14d72c0/test-blob-8b57c62e-7353-e4cf-c336-895bd3112f5a",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 May 2022 17:03:05 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-range-get-content-md5": "true",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-MD5": "ILt1ZhkQLWluey5b2JNrQw==",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA32A6F35F25EA\u0022",
        "Last-Modified": "Tue, 10 May 2022 17:03:05 GMT",
        "x-ms-blob-content-md5": "ILt1ZhkQLWluey5b2JNrQw==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 10 May 2022 17:03:05 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-06-08",
        "x-ms-version-id": "2022-05-10T17:03:05.5405546Z"
      },
      "ResponseBody": "NaBErFPDr7g9W6DXR/lujVCTmYuQb5w45Ioip8FjfLS0a7GHX7foVnYExMluYEnCehKVrLZf3cUEC8fJoAf22t7sIttI5y2Yq0MUi6vSyoRAXyyvztD9VY3sg1TvHrZvDurrgT5tepPk/ABzSlIaMUFDiEDaRgwO7s1OXGTZqYyMpXzA50hG0\u002BSZytHPigo60VESrJZ2lMfd3ZJwHx4vC1J05qXVWUr4/bVbQXs6PmTDE4oTxv32FhG14gq11bPGab9/W6NkZXcGGq7hGlJLo54urQuTHERVfs\u002BUIHdAQygBldi8u\u002BPAXq4TDKxOFfy\u002BaT9rhyenMk17Kd3T0EQAxteG34V6j\u002Bi7bU9dgA\u002BYB2jT1rY41LwAWmKKQJIG7Y1pE0bVyDV2Q9pWsBnYSrE94i[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-a6188619-2077-97e0-30b5-d0b3b14d72c0?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 May 2022 17:03:06 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "2043229004",
    "Storage_TestConfigDefault": "ProductionTenant\njaschrepragrs\nU2FuaXRpemVk\nhttps://jaschrepragrs.blob.core.windows.net\nhttps://jaschrepragrs.file.core.windows.net\nhttps://jaschrepragrs.queue.core.windows.net\nhttps://jaschrepragrs.table.core.windows.net\n\n\n\n\nhttps://jaschrepragrs-secondary.blob.core.windows.net\nhttps://jaschrepragrs-secondary.file.core.windows.net\nhttps://jaschrepragrs-secondary.queue.core.windows.net\nhttps://jaschrepragrs-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jaschrepragrs.blob.core.windows.net/;QueueEndpoint=https://jaschrepragrs.queue.core.windows.net/;FileEndpoint=https://jaschrepragrs.file.core.windows.net/;BlobSecondaryEndpoint=https://jaschrepragrs-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jaschrepragrs-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jaschrepragrs-secondary.file.core.windows.net/;AccountName=jaschrepragrs;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
