{
  "Entries": [
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-c45f42af-86e7-9374-152a-2d348354b699?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 10 May 2022 17:02:45 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA32A6E73D14ED\u0022",
        "Last-Modified": "Tue, 10 May 2022 17:02:45 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-c45f42af-86e7-9374-152a-2d348354b699/test-blob-72899480-197f-9819-da22-e014d2934817",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 10 May 2022 17:02:45 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": "0JSuHwGXDbZmUY7\u002BdTOO7Y1mxEXYxXse2FqdDsv2C0BKNnBweX3F2TDFi8ynwNqMDUBXmzBZAQsZkEam\u002Bf7rb0VOtD/DHXMQoOsVEjqudxd/EQGLnnAP8TVkV\u002Bk2Ht8x2huGWAybyO/MR/tEQ\u002B7RaxkvJ\u002Bj9X9HVPsIJX8aK2oIM4zgfJx4K40gRvld0yq1Hk\u002BzPB/f2NHpJsBpJkmkpQWx5OF\u002B1sUP7JEOg7KF5YHQVwsvautOKFa691XYDwFHe53zq\u002B5JNkeGo1OK0VkjZ0E\u002BlNNCeT4eZ7iKw99zM92PxwQQkjmTixzDpMebw1r9[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-c45f42af-86e7-9374-152a-2d348354b699/test-blob-72899480-197f-9819-da22-e014d2934817",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 May 2022 17:02:45 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-range-get-content-crc64": "true",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA32A6E74C8ACF\u0022",
        "Last-Modified": "Tue, 10 May 2022 17:02:45 GMT",
        "x-ms-blob-content-md5": "S7JcsogR9/ODO1ACmOCkFg==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-content-crc64": "g9jPcIEr/40=",
        "x-ms-creation-time": "Tue, 10 May 2022 17:02:45 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-06-08",
        "x-ms-version-id": "2022-05-10T17:02:45.2859599Z"
      },
      "ResponseBody": "0JSuHwGXDbZmUY7\u002BdTOO7Y1mxEXYxXse2FqdDsv2C0BKNnBweX3F2TDFi8ynwNqMDUBXmzBZAQsZkEam\u002Bf7rb0VOtD/DHXMQoOsVEjqudxd/EQGLnnAP8TVkV\u002Bk2Ht8x2huGWAybyO/MR/tEQ\u002B7RaxkvJ\u002Bj9X9HVPsIJX8aK2oIM4zgfJx4K40gRvld0yq1Hk\u002BzPB/f2NHpJsBpJkmkpQWx5OF\u002B1sUP7JEOg7KF5YHQVwsvautOKFa691XYDwFHe53zq\u002B5JNkeGo1OK0VkjZ0E\u002BlNNCeT4eZ7iKw99zM92PxwQQkjmTixzDpMebw1r9m5AQmXoyBQJf1UQ1vnJkE29x/wpRDtUHqw2yftB6gqRhjShPYppnWcIFtLj1XciqW5FUJcRQ[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-c45f42af-86e7-9374-152a-2d348354b699?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 May 2022 17:02:45 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "843596185",
    "Storage_TestConfigDefault": "ProductionTenant\njaschrepragrs\nU2FuaXRpemVk\nhttps://jaschrepragrs.blob.core.windows.net\nhttps://jaschrepragrs.file.core.windows.net\nhttps://jaschrepragrs.queue.core.windows.net\nhttps://jaschrepragrs.table.core.windows.net\n\n\n\n\nhttps://jaschrepragrs-secondary.blob.core.windows.net\nhttps://jaschrepragrs-secondary.file.core.windows.net\nhttps://jaschrepragrs-secondary.queue.core.windows.net\nhttps://jaschrepragrs-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jaschrepragrs.blob.core.windows.net/;QueueEndpoint=https://jaschrepragrs.queue.core.windows.net/;FileEndpoint=https://jaschrepragrs.file.core.windows.net/;BlobSecondaryEndpoint=https://jaschrepragrs-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jaschrepragrs-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jaschrepragrs-secondary.file.core.windows.net/;AccountName=jaschrepragrs;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
