{
  "Entries": [
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-fbf9f9d6-94fc-7829-bca0-21b2582daea5?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 10 May 2022 17:02:59 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA32A6EFE2569D\u0022",
        "Last-Modified": "Tue, 10 May 2022 17:02:59 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-fbf9f9d6-94fc-7829-bca0-21b2582daea5/test-blob-2fcc9d2e-2ef9-4fe4-c23c-e9b0cb18f766",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 10 May 2022 17:03:00 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": "q8m84jN3fQNiC//kXSLoopnt1/D/xMQcsWzpUQ9tQNiKJlvGXiQAY\u002Boqh9XrLw3SdSKQwEydEucEoDHHjSzz9MomWjbGIUR17XMG1TzuMYFeFtvt3YCM7BRzwb3yONW9NpILxNXWDFTeGtLYljyrFW6vaXZRBhdJmm0iUmCGgrWeSZ6p422rhwqHD8OutFbXyKtPQs5fbC97wSlntLnzV5gdOk2eATIBA\u002BJsyfdUm\u002BYXS4q0Nj/mPt1uLSJDQ9JRk7cqkHkIOcZ5TT/s86I4JyVDUGkuPyBYNvtwL9MQvsAPGjZAKQpsDhHDO\u002BkA\u002BUs6Ngb8//NpIlSW0ll\u00[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-fbf9f9d6-94fc-7829-bca0-21b2582daea5/test-blob-2fcc9d2e-2ef9-4fe4-c23c-e9b0cb18f766",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 May 2022 17:03:00 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-range-get-content-crc64": "true",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA32A6EFF4658A\u0022",
        "Last-Modified": "Tue, 10 May 2022 17:02:59 GMT",
        "x-ms-blob-content-md5": "tORMZCUSKqe/w7f9/YJuwA==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-content-crc64": "h5qcHwzHpPY=",
        "x-ms-creation-time": "Tue, 10 May 2022 17:02:59 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-06-08",
        "x-ms-version-id": "2022-05-10T17:02:59.8077834Z"
      },
      "ResponseBody": "q8m84jN3fQNiC//kXSLoopnt1/D/xMQcsWzpUQ9tQNiKJlvGXiQAY\u002Boqh9XrLw3SdSKQwEydEucEoDHHjSzz9MomWjbGIUR17XMG1TzuMYFeFtvt3YCM7BRzwb3yONW9NpILxNXWDFTeGtLYljyrFW6vaXZRBhdJmm0iUmCGgrWeSZ6p422rhwqHD8OutFbXyKtPQs5fbC97wSlntLnzV5gdOk2eATIBA\u002BJsyfdUm\u002BYXS4q0Nj/mPt1uLSJDQ9JRk7cqkHkIOcZ5TT/s86I4JyVDUGkuPyBYNvtwL9MQvsAPGjZAKQpsDhHDO\u002BkA\u002BUs6Ngb8//NpIlSW0ll\u002BmArzaY5/3dhs9/4a10FXawQ3WD2vNfjNE77Mpffhqlax7XUH0NFagRxzzj4H4SixErdPXn[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-fbf9f9d6-94fc-7829-bca0-21b2582daea5?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 May 2022 17:03:00 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1972873588",
    "Storage_TestConfigDefault": "ProductionTenant\njaschrepragrs\nU2FuaXRpemVk\nhttps://jaschrepragrs.blob.core.windows.net\nhttps://jaschrepragrs.file.core.windows.net\nhttps://jaschrepragrs.queue.core.windows.net\nhttps://jaschrepragrs.table.core.windows.net\n\n\n\n\nhttps://jaschrepragrs-secondary.blob.core.windows.net\nhttps://jaschrepragrs-secondary.file.core.windows.net\nhttps://jaschrepragrs-secondary.queue.core.windows.net\nhttps://jaschrepragrs-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jaschrepragrs.blob.core.windows.net/;QueueEndpoint=https://jaschrepragrs.queue.core.windows.net/;FileEndpoint=https://jaschrepragrs.file.core.windows.net/;BlobSecondaryEndpoint=https://jaschrepragrs-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jaschrepragrs-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jaschrepragrs-secondary.file.core.windows.net/;AccountName=jaschrepragrs;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
