{
  "Entries": [
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-e8df524c-8d53-32ea-80ab-f3f4cec4be68?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 24 Feb 2022 00:47:02 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9F72F2C238F1A\u0022",
        "Last-Modified": "Thu, 24 Feb 2022 00:47:02 GMT",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-e8df524c-8d53-32ea-80ab-f3f4cec4be68/test-blob-5bcb2dff-ba3d-6770-d9ed-dc07901c28de",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 24 Feb 2022 00:47:02 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": "/mUXGX1Z74B0/ZuT2P5DX7jKyoAvlL4afQktMhjfsCDkD\u002B2KCtis0F4UtatpVQJWhlREZ2Jbdmmm/Jx0LL1olU16rskRuVXfHfkiGt8SsCgG1qzDmkm\u002BiZmE5A08OKOgrB9e7qY5Rc3/ZUloOVuJk0t0bVUQpfoEvCUwjdRIo\u002BRVgW6/tMKCzZHewzX/Vk89\u002BlDByMtNjwckWTKACLj4t8FkErjtyd\u002BJ8p/EMuHFBWXV8pKEhtsZB/Fmm1qPAcTZ5gxzmkSXUDBxN9YriV0mX1TNqhYldDDmSgrHhi6E\u002BvDb60zUUWohPqJiE04F7n6TQDsGwleutHHbjU[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-e8df524c-8d53-32ea-80ab-f3f4cec4be68/test-blob-5bcb2dff-ba3d-6770-d9ed-dc07901c28de",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 24 Feb 2022 00:47:02 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-range-get-content-crc64": "true",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D9F72F2C3B4E7F\u0022",
        "Last-Modified": "Thu, 24 Feb 2022 00:47:02 GMT",
        "x-ms-blob-content-md5": "\u002BP257x8fR6aIaM5\u002B62pt9A==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-content-crc64": "CyhER/WkU58=",
        "x-ms-creation-time": "Thu, 24 Feb 2022 00:47:02 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Thu, 24 Feb 2022 00:47:02 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-04-10",
        "x-ms-version-id": "2022-02-24T00:47:02.7243647Z"
      },
      "ResponseBody": "/mUXGX1Z74B0/ZuT2P5DX7jKyoAvlL4afQktMhjfsCDkD\u002B2KCtis0F4UtatpVQJWhlREZ2Jbdmmm/Jx0LL1olU16rskRuVXfHfkiGt8SsCgG1qzDmkm\u002BiZmE5A08OKOgrB9e7qY5Rc3/ZUloOVuJk0t0bVUQpfoEvCUwjdRIo\u002BRVgW6/tMKCzZHewzX/Vk89\u002BlDByMtNjwckWTKACLj4t8FkErjtyd\u002BJ8p/EMuHFBWXV8pKEhtsZB/Fmm1qPAcTZ5gxzmkSXUDBxN9YriV0mX1TNqhYldDDmSgrHhi6E\u002BvDb60zUUWohPqJiE04F7n6TQDsGwleutHHbjU860MkB7T3lT54RUQ3prGxzw2Di4VyLM0bzfTiZLDba\u002BMQa523ZYCYQH57gge4uHBXqO[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-e8df524c-8d53-32ea-80ab-f3f4cec4be68?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 24 Feb 2022 00:47:02 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1931074626",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttp://seanmcccanary3.blob.core.windows.net\nhttp://seanmcccanary3.file.core.windows.net\nhttp://seanmcccanary3.queue.core.windows.net\nhttp://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttp://seanmcccanary3-secondary.blob.core.windows.net\nhttp://seanmcccanary3-secondary.file.core.windows.net\nhttp://seanmcccanary3-secondary.queue.core.windows.net\nhttp://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=http://seanmcccanary3.queue.core.windows.net/;FileEndpoint=http://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=http://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\n[encryption scope]\n\n"
  }
}