{
  "Entries": [
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-8c7d45f6-e7cd-836f-5862-2bf709544c9c?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 10 May 2022 17:16:56 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA32A8E2B729CC\u0022",
        "Last-Modified": "Tue, 10 May 2022 17:16:56 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-8c7d45f6-e7cd-836f-5862-2bf709544c9c/test-blob-529ab741-e1f7-7363-adcb-3dda06f06a2f",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 10 May 2022 17:16:56 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": "UppvGzoBT8NuXqY69LGmTnaOaH8KQtzNQgsYS3oiBoqSzWtDmtBijTqGm2H\u002Bq/3TG2g9ifKAGw\u002B9odku6ANIS1cbpyZFY7SmLNpEhKd6z5YORTAR5H2YEbJchfj3M6U2PVAK4gPWjbe0l10XO5doQ9JCIKLTN2bag5Z06d68rvg0DkZXcOyTN7d4XU0fgNYa9EEltBMDYwbpL19tYqTZ9\u002Bhk4y1QENPlr\u002BnrWtkZugLAWfWclvnlMapAbUCMJdQTn2Zku52oyuNuQAUqGAks0HVdrQiuPWDvf7KDD6OSWIkU17tztf9lF44SLVb0uhmhFJ3LL3jMZWIFdTzrJbs/3Od8[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-8c7d45f6-e7cd-836f-5862-2bf709544c9c/test-blob-529ab741-e1f7-7363-adcb-3dda06f06a2f",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 May 2022 17:16:57 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA32A8E2C62C04\u0022",
        "Last-Modified": "Tue, 10 May 2022 17:16:56 GMT",
        "x-ms-blob-content-md5": "7X/GNh/MTUb9H4CYjZlASA==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 10 May 2022 17:16:56 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-06-08",
        "x-ms-version-id": "2022-05-10T17:16:56.6879236Z"
      },
      "ResponseBody": "UppvGzoBT8NuXqY69LGmTnaOaH8KQtzNQgsYS3oiBoqSzWtDmtBijTqGm2H\u002Bq/3TG2g9ifKAGw\u002B9odku6ANIS1cbpyZFY7SmLNpEhKd6z5YORTAR5H2YEbJchfj3M6U2PVAK4gPWjbe0l10XO5doQ9JCIKLTN2bag5Z06d68rvg0DkZXcOyTN7d4XU0fgNYa9EEltBMDYwbpL19tYqTZ9\u002Bhk4y1QENPlr\u002BnrWtkZugLAWfWclvnlMapAbUCMJdQTn2Zku52oyuNuQAUqGAks0HVdrQiuPWDvf7KDD6OSWIkU17tztf9lF44SLVb0uhmhFJ3LL3jMZWIFdTzrJbs/3Od8FkBNuRp2\u002BJV5nA8J\u002BsSY4fsGxykRR3JYbkDCefLT0lBvd6TYU1qCVDfiUshS\u[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-8c7d45f6-e7cd-836f-5862-2bf709544c9c?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 May 2022 17:16:57 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1715168615",
    "Storage_TestConfigDefault": "ProductionTenant\njaschrepragrs\nU2FuaXRpemVk\nhttps://jaschrepragrs.blob.core.windows.net\nhttps://jaschrepragrs.file.core.windows.net\nhttps://jaschrepragrs.queue.core.windows.net\nhttps://jaschrepragrs.table.core.windows.net\n\n\n\n\nhttps://jaschrepragrs-secondary.blob.core.windows.net\nhttps://jaschrepragrs-secondary.file.core.windows.net\nhttps://jaschrepragrs-secondary.queue.core.windows.net\nhttps://jaschrepragrs-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jaschrepragrs.blob.core.windows.net/;QueueEndpoint=https://jaschrepragrs.queue.core.windows.net/;FileEndpoint=https://jaschrepragrs.file.core.windows.net/;BlobSecondaryEndpoint=https://jaschrepragrs-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jaschrepragrs-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jaschrepragrs-secondary.file.core.windows.net/;AccountName=jaschrepragrs;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
