{
  "Entries": [
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-a4dc05d4-38a1-cb04-ec90-a39d945a701e?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 10 May 2022 17:02:45 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA32A6E77F1D6F\u0022",
        "Last-Modified": "Tue, 10 May 2022 17:02:45 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-a4dc05d4-38a1-cb04-ec90-a39d945a701e/test-blob-3d571127-fca3-8796-6265-2f42845f32e3",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 10 May 2022 17:02:45 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": "wWZDjOLq3lwYaLvnUs3pF17k2qy7\u002BBI3ZSl0Fd9soLVDGHV7kaXb1wlCYKORwtLxGoAh71nKEclUDCe5dsl8q8gGpDpXbYa4CQKjeZdupaNXgvpfSrFbeQasJ4V\u002BImFAxbTbix2Ymqz6aOVWJpcx5WaDYfTOHWAXqiozqkYBOuehY7TjkhqFv\u002BdOZeHLBVJve0Ee\u002B8BscahTxODyZO9l\u002BC7\u002BtcPjTlJM/aIMgLh\u002BS6XYxC8F4z8mNPEMj845klr46GyzzFCOiy3u0f0eX/Hw1Xg7GqDAYBXv14DS17\u002BEE2pHFJdLy35VSTgBFxJBCNQAHLlV[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-a4dc05d4-38a1-cb04-ec90-a39d945a701e/test-blob-3d571127-fca3-8796-6265-2f42845f32e3",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 May 2022 17:02:46 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-range-get-content-crc64": "true",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA32A6E79019CC\u0022",
        "Last-Modified": "Tue, 10 May 2022 17:02:45 GMT",
        "x-ms-blob-content-md5": "V4j5MifphCACPS6tGQEOkg==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-content-crc64": "174DskT2Zb0=",
        "x-ms-creation-time": "Tue, 10 May 2022 17:02:45 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-06-08",
        "x-ms-version-id": "2022-05-10T17:02:45.7287116Z"
      },
      "ResponseBody": "wWZDjOLq3lwYaLvnUs3pF17k2qy7\u002BBI3ZSl0Fd9soLVDGHV7kaXb1wlCYKORwtLxGoAh71nKEclUDCe5dsl8q8gGpDpXbYa4CQKjeZdupaNXgvpfSrFbeQasJ4V\u002BImFAxbTbix2Ymqz6aOVWJpcx5WaDYfTOHWAXqiozqkYBOuehY7TjkhqFv\u002BdOZeHLBVJve0Ee\u002B8BscahTxODyZO9l\u002BC7\u002BtcPjTlJM/aIMgLh\u002BS6XYxC8F4z8mNPEMj845klr46GyzzFCOiy3u0f0eX/Hw1Xg7GqDAYBXv14DS17\u002BEE2pHFJdLy35VSTgBFxJBCNQAHLlV/Xi5OIhXw/XPvLRuab2S1ktZpAn55tBovkgCrc\u002Br0rsFLhXyjdwP8weJhY2Dk61UrjG[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-a4dc05d4-38a1-cb04-ec90-a39d945a701e?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 May 2022 17:02:46 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "110589853",
    "Storage_TestConfigDefault": "ProductionTenant\njaschrepragrs\nU2FuaXRpemVk\nhttps://jaschrepragrs.blob.core.windows.net\nhttps://jaschrepragrs.file.core.windows.net\nhttps://jaschrepragrs.queue.core.windows.net\nhttps://jaschrepragrs.table.core.windows.net\n\n\n\n\nhttps://jaschrepragrs-secondary.blob.core.windows.net\nhttps://jaschrepragrs-secondary.file.core.windows.net\nhttps://jaschrepragrs-secondary.queue.core.windows.net\nhttps://jaschrepragrs-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jaschrepragrs.blob.core.windows.net/;QueueEndpoint=https://jaschrepragrs.queue.core.windows.net/;FileEndpoint=https://jaschrepragrs.file.core.windows.net/;BlobSecondaryEndpoint=https://jaschrepragrs-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jaschrepragrs-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jaschrepragrs-secondary.file.core.windows.net/;AccountName=jaschrepragrs;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
