{
  "Entries": [
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-c94b08f2-287e-5b16-cb23-635c7188a76e?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 10 May 2022 17:02:43 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA32A6E5E9EB07\u0022",
        "Last-Modified": "Tue, 10 May 2022 17:02:42 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-c94b08f2-287e-5b16-cb23-635c7188a76e/test-blob-736970b0-40d2-63d8-647c-d18d50e777ef",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 10 May 2022 17:02:43 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": "7D5rL060ZyxE9SwVwIlvNp0yyyaMsXEe5HpDv/Mhofeb1KCuKFbh3ePPsQegEkAgHpsFgtqnBjrMTErUcKg4IlQ1eevowA5GUO5CvP9qfdI6I6BYGx8c9M5l4dsMDWw6l46ya5lUN12MvjHsZEk6Yc94mkwH3wc1GIQdgt4yOkOBCCVxuBI55etDzFzuMJCEKoAMlHMgM7eHfVMUN7V\u002BWoTta1wkyam9PrVgxBOqR\u002Bj0mVdeJqXQYdRu6Tu\u002BJK02xHHYAMU0X2HWT1W\u002Bv26j3TVrIJ5dIDPeHQmHtt9u/hoHKgCh0Ucivzn2iNdQEaJlygwFUwMO2aM\u002B\u002Be[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-c94b08f2-287e-5b16-cb23-635c7188a76e/test-blob-736970b0-40d2-63d8-647c-d18d50e777ef",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 May 2022 17:02:43 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-range-get-content-md5": "true",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-MD5": "h6Tu02rBZ1uZ5ZorNp5R7A==",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA32A6E5FF7A59\u0022",
        "Last-Modified": "Tue, 10 May 2022 17:02:43 GMT",
        "x-ms-blob-content-md5": "h6Tu02rBZ1uZ5ZorNp5R7A==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 10 May 2022 17:02:43 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-06-08",
        "x-ms-version-id": "2022-05-10T17:02:43.1031897Z"
      },
      "ResponseBody": "7D5rL060ZyxE9SwVwIlvNp0yyyaMsXEe5HpDv/Mhofeb1KCuKFbh3ePPsQegEkAgHpsFgtqnBjrMTErUcKg4IlQ1eevowA5GUO5CvP9qfdI6I6BYGx8c9M5l4dsMDWw6l46ya5lUN12MvjHsZEk6Yc94mkwH3wc1GIQdgt4yOkOBCCVxuBI55etDzFzuMJCEKoAMlHMgM7eHfVMUN7V\u002BWoTta1wkyam9PrVgxBOqR\u002Bj0mVdeJqXQYdRu6Tu\u002BJK02xHHYAMU0X2HWT1W\u002Bv26j3TVrIJ5dIDPeHQmHtt9u/hoHKgCh0Ucivzn2iNdQEaJlygwFUwMO2aM\u002B\u002BeK7rKmBZ1A6tpRuAgvuSGBlZpdcjgxnIevTaasW\u002BFBcY9hkZxOPdSCGFVsN98gBFwqjq[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-c94b08f2-287e-5b16-cb23-635c7188a76e?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 May 2022 17:02:43 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1403344516",
    "Storage_TestConfigDefault": "ProductionTenant\njaschrepragrs\nU2FuaXRpemVk\nhttps://jaschrepragrs.blob.core.windows.net\nhttps://jaschrepragrs.file.core.windows.net\nhttps://jaschrepragrs.queue.core.windows.net\nhttps://jaschrepragrs.table.core.windows.net\n\n\n\n\nhttps://jaschrepragrs-secondary.blob.core.windows.net\nhttps://jaschrepragrs-secondary.file.core.windows.net\nhttps://jaschrepragrs-secondary.queue.core.windows.net\nhttps://jaschrepragrs-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jaschrepragrs.blob.core.windows.net/;QueueEndpoint=https://jaschrepragrs.queue.core.windows.net/;FileEndpoint=https://jaschrepragrs.file.core.windows.net/;BlobSecondaryEndpoint=https://jaschrepragrs-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jaschrepragrs-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jaschrepragrs-secondary.file.core.windows.net/;AccountName=jaschrepragrs;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
