{
  "Entries": [
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-633f1522-40a5-05ab-bea7-98adb5ccad66?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Fri, 25 Feb 2022 21:01:26 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9F8A1FD040C03\u0022",
        "Last-Modified": "Fri, 25 Feb 2022 21:01:26 GMT",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-633f1522-40a5-05ab-bea7-98adb5ccad66/test-blob-e6c7def6-acb7-e76d-0abb-3ac18cccf14a",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 25 Feb 2022 21:01:26 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": "FWoyavwpXLicwHRZ\u002BQFY3dVx0UmCHyXYrT3baXh5Nm4i7JVCrWcqsQ\u002BR8YAD2OMYFBMp167f2PVEWry/TvI/IokFNgxrFjBuRiA68S6l1dRZw1VlUF/AQxOg/lKqa2IcUc72/aHWrP3iupGNpebHnoTnZYud2tEqRfP5yxjdw9q9HZ9fr9gzghZXgpXOMp4s2F/NwgbXf3f8y7eu3eHlBfa2z4dHZ\u002B\u002BstOJ0RVc8XBJUzPK5DwHU5Z4nYuMhhKU1cn2eF2IX5XBwIQ4jYzkgwG\u002BkWRHuK/X14uroHwULizA9PtPanUSvPeaCSe7zsIFlB6FzfCqTR0aHqTV4LsV[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-633f1522-40a5-05ab-bea7-98adb5ccad66/test-blob-e6c7def6-acb7-e76d-0abb-3ac18cccf14a",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 25 Feb 2022 21:01:27 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-range-get-content-crc64": "true",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D9F8A1FD1F7870\u0022",
        "Last-Modified": "Fri, 25 Feb 2022 21:01:26 GMT",
        "x-ms-blob-content-md5": "OW3R9aH2sjeAhqV2PWqCSw==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-content-crc64": "gVw7OQ00H8E=",
        "x-ms-creation-time": "Fri, 25 Feb 2022 21:01:26 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Fri, 25 Feb 2022 21:01:26 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-04-10",
        "x-ms-version-id": "2022-02-25T21:01:26.9757040Z"
      },
      "ResponseBody": "FWoyavwpXLicwHRZ\u002BQFY3dVx0UmCHyXYrT3baXh5Nm4i7JVCrWcqsQ\u002BR8YAD2OMYFBMp167f2PVEWry/TvI/IokFNgxrFjBuRiA68S6l1dRZw1VlUF/AQxOg/lKqa2IcUc72/aHWrP3iupGNpebHnoTnZYud2tEqRfP5yxjdw9q9HZ9fr9gzghZXgpXOMp4s2F/NwgbXf3f8y7eu3eHlBfa2z4dHZ\u002B\u002BstOJ0RVc8XBJUzPK5DwHU5Z4nYuMhhKU1cn2eF2IX5XBwIQ4jYzkgwG\u002BkWRHuK/X14uroHwULizA9PtPanUSvPeaCSe7zsIFlB6FzfCqTR0aHqTV4LsVrZJXd5iVmRSMr9BsqbOIHAjFogxhjlw8FqfeMUvMONw8hFuRYFclc/8F\u002BSIcOadpjgK[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-633f1522-40a5-05ab-bea7-98adb5ccad66?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 25 Feb 2022 21:01:27 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1598959004",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttp://seanmcccanary3.blob.core.windows.net\nhttp://seanmcccanary3.file.core.windows.net\nhttp://seanmcccanary3.queue.core.windows.net\nhttp://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttp://seanmcccanary3-secondary.blob.core.windows.net\nhttp://seanmcccanary3-secondary.file.core.windows.net\nhttp://seanmcccanary3-secondary.queue.core.windows.net\nhttp://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=http://seanmcccanary3.queue.core.windows.net/;FileEndpoint=http://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=http://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\n[encryption scope]\n\n"
  }
}