{
  "Entries": [
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-c37c4785-b112-3f5e-5f15-12b55c637d38?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Fri, 25 Feb 2022 21:01:25 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9F8A1FC7AF2DA\u0022",
        "Last-Modified": "Fri, 25 Feb 2022 21:01:25 GMT",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-c37c4785-b112-3f5e-5f15-12b55c637d38/test-blob-13715e59-47ab-0103-254c-5aae22dbad9c",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 25 Feb 2022 21:01:25 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": "izuhY/aUsiMCd3mVNB9bDer8J5eGNUBYPLvOON8MD8BEA7Oor8cg\u002BRO5RYAqTrK8l3VN\u002BWGh8lb6SSc6xXlD9Wi4UDFssl0i3C6EzPC/Le0JEqBqvxVeoxBdrmag5TOZdU8Ycf2BUOUXKx0zHSVlOxw5MbPZ2DZTWq0gDwT3gfb66lagprzvh8G7U5T4K4br93JKZ7R/wJwZxRdQYEDgH6kmODLOxZRfSanyHYWhWy4mNReRrRpCeyq5h\u002BGlnyaA2zPq0fNUHDLe6h0KjaMXd2roKSspT3KP470HFD2yuqqCcUJSt4k70hnlssL8OO2Hog93vHb7V4vBWu01TAf0LC9ziBxgx[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-c37c4785-b112-3f5e-5f15-12b55c637d38/test-blob-13715e59-47ab-0103-254c-5aae22dbad9c",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 25 Feb 2022 21:01:26 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D9F8A1FC932B5F\u0022",
        "Last-Modified": "Fri, 25 Feb 2022 21:01:26 GMT",
        "x-ms-blob-content-md5": "BDISHX9WmXydbP7gH2xceA==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 25 Feb 2022 21:01:26 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Fri, 25 Feb 2022 21:01:26 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-04-10",
        "x-ms-version-id": "2022-02-25T21:01:26.0562271Z"
      },
      "ResponseBody": "izuhY/aUsiMCd3mVNB9bDer8J5eGNUBYPLvOON8MD8BEA7Oor8cg\u002BRO5RYAqTrK8l3VN\u002BWGh8lb6SSc6xXlD9Wi4UDFssl0i3C6EzPC/Le0JEqBqvxVeoxBdrmag5TOZdU8Ycf2BUOUXKx0zHSVlOxw5MbPZ2DZTWq0gDwT3gfb66lagprzvh8G7U5T4K4br93JKZ7R/wJwZxRdQYEDgH6kmODLOxZRfSanyHYWhWy4mNReRrRpCeyq5h\u002BGlnyaA2zPq0fNUHDLe6h0KjaMXd2roKSspT3KP470HFD2yuqqCcUJSt4k70hnlssL8OO2Hog93vHb7V4vBWu01TAf0LC9ziBxgxMDgrVYSQ52vkqvQgHIuO/40hxm2kVybBYYS8IaTia/QJt1Olg4f6BPuEchCZcuUxvAxPwEDq[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-c37c4785-b112-3f5e-5f15-12b55c637d38?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 25 Feb 2022 21:01:26 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "566116130",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttp://seanmcccanary3.blob.core.windows.net\nhttp://seanmcccanary3.file.core.windows.net\nhttp://seanmcccanary3.queue.core.windows.net\nhttp://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttp://seanmcccanary3-secondary.blob.core.windows.net\nhttp://seanmcccanary3-secondary.file.core.windows.net\nhttp://seanmcccanary3-secondary.queue.core.windows.net\nhttp://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=http://seanmcccanary3.queue.core.windows.net/;FileEndpoint=http://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=http://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\n[encryption scope]\n\n"
  }
}