{
  "Entries": [
    {
      "RequestUri": "https://amandacanary.blob.core.windows.net/test-container-c88ed4f1-3bf1-89bc-4b64-e1182ff33cfe?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 20 Oct 2021 17:56:06 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D993F2E4166ABB\u0022",
        "Last-Modified": "Wed, 20 Oct 2021 17:56:06 GMT",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://amandacanary.blob.core.windows.net/test-container-c88ed4f1-3bf1-89bc-4b64-e1182ff33cfe/test-blob-01c6e58d-5b9a-15e8-01df-106568c93add",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 20 Oct 2021 17:56:06 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": "Xly/c7O4Yie79DXDC\u002Bjo0FjBq0NM6y8DHuLARoGIcn2bSXVEu5lss4iAldqmMmuP8Hg4ZWhOmXIsu1TQ\u002BBymM4G4KMFypBS\u002BVPi6zFZUXOx3MFUITw0UTK8CFwBFnLts2WJY7gmqHUxkeRBwlM0c2F9nWcfGneN0o9sRb40Uebg8TfL0\u002B27izRMJpNX9o7ji5j\u002Bg3UP0pTx\u002B5EotmK2\u002BTwBXNEbaKNzxhIuzvfkOdv8jL4lNc5x1SKi2dRcjtTRmSlTVpW9yB71jr1i3QOhDb21KCmkjcNtk4uudJLLEzs9XTXKkOdGQsCfL6sRDvQjAcwap2KrLQ[...]
    {
      "RequestUri": "https://amandacanary.blob.core.windows.net/test-container-c88ed4f1-3bf1-89bc-4b64-e1182ff33cfe/test-blob-01c6e58d-5b9a-15e8-01df-106568c93add",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 20 Oct 2021 17:56:06 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "5OY5DRb7eE1onQhADPaofg==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D993F2E42361B5\u0022",
        "Last-Modified": "Wed, 20 Oct 2021 17:56:06 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 20 Oct 2021 17:56:06 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-04-10",
        "x-ms-version-id": "2021-10-20T17:56:06.8528565Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://amandacanary.blob.core.windows.net/test-container-c88ed4f1-3bf1-89bc-4b64-e1182ff33cfe/test-blob-01c6e58d-5b9a-15e8-01df-106568c93add",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8D993F2E42361B5\u0022",
        "x-ms-date": "Wed, 20 Oct 2021 17:56:06 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-range-get-content-crc64": "true",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/3072",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D993F2E42361B5\u0022",
        "Last-Modified": "Wed, 20 Oct 2021 17:56:06 GMT",
        "x-ms-blob-content-md5": "5OY5DRb7eE1onQhADPaofg==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-content-crc64": "eVUCcecYMU4=",
        "x-ms-creation-time": "Wed, 20 Oct 2021 17:56:06 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-04-10",
        "x-ms-version-id": "2021-10-20T17:56:06.8528565Z"
      },
      "ResponseBody": "Xly/c7O4Yie79DXDC\u002Bjo0FjBq0NM6y8DHuLARoGIcn2bSXVEu5lss4iAldqmMmuP8Hg4ZWhOmXIsu1TQ\u002BBymM4G4KMFypBS\u002BVPi6zFZUXOx3MFU[...]
[...]
    {
      "RequestUri": "https://amandacanary.blob.core.windows.net/test-container-c88ed4f1-3bf1-89bc-4b64-e1182ff33cfe?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 20 Oct 2021 17:56:07 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "840592848",
    "Storage_TestConfigDefault": "ProductionTenant\namandacanary\nU2FuaXRpemVk\nhttps://amandacanary.blob.core.windows.net\nhttps://amandacanary.file.core.windows.net\nhttps://amandacanary.queue.core.windows.net\nhttps://amandacanary.table.core.windows.net\n\n\n\n\nhttps://amandacanary-secondary.blob.core.windows.net\nhttps://amandacanary-secondary.file.core.windows.net\nhttps://amandacanary-secondary.queue.core.windows.net\nhttps://amandacanary-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandacanary.blob.core.windows.net/;QueueEndpoint=https://amandacanary.queue.core.windows.net/;FileEndpoint=https://amandacanary.file.core.windows.net/;BlobSecondaryEndpoint=https://amandacanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandacanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandacanary-secondary.file.core.windows.net/;AccountName=amandacanary;AccountKey=Kg==;\ntestscope2\n\n"
  }
}