{
  "Entries": [
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-c74f85cc-f48c-3a26-57bc-250a0ba95d64?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 10 May 2022 17:03:11 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA32A6F67F4263\u0022",
        "Last-Modified": "Tue, 10 May 2022 17:03:10 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-c74f85cc-f48c-3a26-57bc-250a0ba95d64/test-blob-9e3e52c1-3aff-00a8-1cf3-473456da842c",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 10 May 2022 17:03:11 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": "dBqGT7GflVg3wZ\u002BaxzaL\u002BuTpG9vaXtY1hugAYgZbanwOUnqV1oiKT5p3yMx2BKZdPnMNOpAIABZDUMnJnzNS21cjjHW79SNcXstBYpUKv4FCoiOSTjDrBVFkUYa/wbBmJe10UngxokhQsdvExp6AOZBHhvwPv40nN4YkV6SdnJwb2z2olW0JEQDbQpxUJz\u002Bz4xj1dzuzVmZfTRrxDUukshU/qOtg2KMjPnX8NHzx0hBHcHSMqCVgaITXSEdSGAS1NpCHFH5UUgt00TjFtyLpbnoKqpzXGArv3kBniY9c0SZxRv7sar6R8x5oGNbsm7Bi7drMR21o3h6FlzU\u002B7cl7GP8S[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-c74f85cc-f48c-3a26-57bc-250a0ba95d64/test-blob-9e3e52c1-3aff-00a8-1cf3-473456da842c",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 May 2022 17:03:11 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "60hG9tlz4E\u002B5Nl2rOou4ew==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA32A6F68FA4D9\u0022",
        "Last-Modified": "Tue, 10 May 2022 17:03:10 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 10 May 2022 17:03:10 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-06-08",
        "x-ms-version-id": "2022-05-10T17:03:10.8915417Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-c74f85cc-f48c-3a26-57bc-250a0ba95d64/test-blob-9e3e52c1-3aff-00a8-1cf3-473456da842c",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8DA32A6F68FA4D9\u0022",
        "x-ms-date": "Tue, 10 May 2022 17:03:11 GMT",
        "x-ms-range": "bytes=0-511",
        "x-ms-range-get-content-crc64": "true",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-511/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA32A6F68FA4D9\u0022",
        "Last-Modified": "Tue, 10 May 2022 17:03:10 GMT",
        "x-ms-blob-content-md5": "60hG9tlz4E\u002B5Nl2rOou4ew==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-content-crc64": "rWXCaUddEq8=",
        "x-ms-creation-time": "Tue, 10 May 2022 17:03:10 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-06-08",
        "x-ms-version-id": "2022-05-10T17:03:10.8915417Z"
      },
      "ResponseBody": "dBqGT7GflVg3wZ\u002BaxzaL\u002BuTpG9vaXtY1hugAYgZbanwOUnqV1oiKT5p3yMx2BKZdPnMNOpAIABZDUMnJnzNS21cjjHW79SNcXstBYpUKv4FCoiOSTjDrBVFkUYa/wbBmJe10UngxokhQsdvExp6AOZBHhvwPv40nN4YkV6SdnJwb2z2olW0JEQDbQpxUJz\u002Bz4xj1dzuzVmZfTRrxDUukshU/qOtg2KMjPnX8NHzx0hBHcHSMqCVgaITXSEdSGAS1NpCHFH5UUgt00TjFtyLpbnoKqpzXGArv3kBniY9c0SZxRv7sar6R8x5oGNbsm7Bi7drMR21o3h6FlzU\u002B7cl7GP8SVHAk/QS8eLd9bgAzA0OPBJu1j4m4CGjfZtKIUwZU7f/X2UZAPvDVEM\u002B26nAeUZTxruguxol2WksHRJYyMySwKIEAXCn9Tsar3366AR74wRQ\u002Bl6UdJiZ2YX/6OPlZo9yqBcHvHfVr9F8hg\u002BcKvFgtD4KC85x/kwJaifupAhbMUTyiD/tcCaMf06NF/KM/bKUnzSl3169AK3K/lJT6wfFJVDGqaKxc0AbeYiD5OpZeGxxWgTXsVXqMYeSInXQPJBGx/KdxlAT4yv0jmHSOR/HcYHl3pD\u002B8XP\u002B2HQbI0zORzj4PRz7v7IYYXbY4ybwG/RryrDz7l4DR9Z\u002Bounb\u002BL/c="
    },
[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-c74f85cc-f48c-3a26-57bc-250a0ba95d64?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 May 2022 17:03:11 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "743719634",
    "Storage_TestConfigDefault": "ProductionTenant\njaschrepragrs\nU2FuaXRpemVk\nhttps://jaschrepragrs.blob.core.windows.net\nhttps://jaschrepragrs.file.core.windows.net\nhttps://jaschrepragrs.queue.core.windows.net\nhttps://jaschrepragrs.table.core.windows.net\n\n\n\n\nhttps://jaschrepragrs-secondary.blob.core.windows.net\nhttps://jaschrepragrs-secondary.file.core.windows.net\nhttps://jaschrepragrs-secondary.queue.core.windows.net\nhttps://jaschrepragrs-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jaschrepragrs.blob.core.windows.net/;QueueEndpoint=https://jaschrepragrs.queue.core.windows.net/;FileEndpoint=https://jaschrepragrs.file.core.windows.net/;BlobSecondaryEndpoint=https://jaschrepragrs-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jaschrepragrs-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jaschrepragrs-secondary.file.core.windows.net/;AccountName=jaschrepragrs;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
