{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-77d06310-06fb-9290-38ec-bc25722fccd3?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 03 May 2023 14:06:42 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB4BDF9EED0AE5\u0022",
        "Last-Modified": "Wed, 03 May 2023 14:06:41 GMT",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-77d06310-06fb-9290-38ec-bc25722fccd3/test-blob-220ccc7d-b83c-833c-84b8-6679dfe7e96a",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-content-crc64": "AAAAAAAAAAA=",
        "x-ms-date": "Wed, 03 May 2023 14:06:42 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "1B2M2Y8AsgTpgAmY7PhCfg==",
        "ETag": "\u00220x8DB4BDF9EF4148B\u0022",
        "Last-Modified": "Wed, 03 May 2023 14:06:41 GMT",
        "x-ms-content-crc64": "AAAAAAAAAAA=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-77d06310-06fb-9290-38ec-bc25722fccd3/test-blob-220ccc7d-b83c-833c-84b8-6679dfe7e96a?comp=block\u0026blockid=AAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-content-crc64": "uxX2D5cCcEE=",
        "x-ms-date": "Wed, 03 May 2023 14:06:42[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-77d06310-06fb-9290-38ec-bc25722fccd3/test-blob-220ccc7d-b83c-833c-84b8-6679dfe7e96a?comp=block\u0026blockid=AAgAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-content-crc64": "uxX2D5cCcEE=",
        "x-ms-date": "Wed, 03 May 2023 14:06:42[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-77d06310-06fb-9290-38ec-bc25722fccd3/test-blob-220ccc7d-b83c-833c-84b8-6679dfe7e96a?comp=block\u0026blockid=AAwAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-content-crc64": "uxX2D5cCcEE=",
        "x-ms-date": "Wed, 03 May 2023 14:06:42[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-77d06310-06fb-9290-38ec-bc25722fccd3/test-blob-220ccc7d-b83c-833c-84b8-6679dfe7e96a?comp=block\u0026blockid=ABAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-content-crc64": "uxX2D5cCcEE=",
        "x-ms-date": "Wed, 03 May 2023 14:06:42[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-77d06310-06fb-9290-38ec-bc25722fccd3/test-blob-220ccc7d-b83c-833c-84b8-6679dfe7e96a?comp=block\u0026blockid=ABQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-content-crc64": "uxX2D5cCcEE=",
        "x-ms-date": "Wed, 03 May 2023 14:06:42[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-77d06310-06fb-9290-38ec-bc25722fccd3/test-blob-220ccc7d-b83c-833c-84b8-6679dfe7e96a?comp=block\u0026blockid=ABgAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-content-crc64": "uxX2D5cCcEE=",
        "x-ms-date": "Wed, 03 May 2023 14:06:42[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-77d06310-06fb-9290-38ec-bc25722fccd3/test-blob-220ccc7d-b83c-833c-84b8-6679dfe7e96a?comp=block\u0026blockid=ABwAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-content-crc64": "uxX2D5cCcEE=",
        "x-ms-date": "Wed, 03 May 2023 14:06:42[...]
[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-77d06310-06fb-9290-38ec-bc25722fccd3/test-blob-220ccc7d-b83c-833c-84b8-6679dfe7e96a?comp=block\u0026blockid=ACQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-content-crc64": "uxX2D5cCcEE=",
        "x-ms-date": "Wed, 03 May 2023 14:06:42[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-77d06310-06fb-9290-38ec-bc25722fccd3/test-blob-220ccc7d-b83c-833c-84b8-6679dfe7e96a?comp=block\u0026blockid=ACgAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-content-crc64": "uxX2D5cCcEE=",
        "x-ms-date": "Wed, 03 May 2023 14:06:42[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-77d06310-06fb-9290-38ec-bc25722fccd3/test-blob-220ccc7d-b83c-833c-84b8-6679dfe7e96a?comp=blocklist",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "If-Match": "\u00220x8DB4BDF9EF4148B\u0022",
        "x-ms-date": "Wed, 03 May 2023 14:06:43 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": "\uFEFF\u003CBlockList\u003E\u003CLatest\u003EAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\u003C/Latest\u003E\u003CLatest\u003EAAgAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\u003C/Latest\u003E\u003CLatest\u003EAAwAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\u003C/Latest\u003E\u003CLatest\u[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-77d06310-06fb-9290-38ec-bc25722fccd3?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 03 May 2023 14:06:43 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "366093639",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanada\nU2FuaXRpemVk\nhttps://seanmcccanada.blob.core.windows.net\nhttps://seanmcccanada.file.core.windows.net\nhttps://seanmcccanada.queue.core.windows.net\nhttps://seanmcccanada.table.core.windows.net\n\n\n\n\nhttps://seanmcccanada-secondary.blob.core.windows.net\nhttps://seanmcccanada-secondary.file.core.windows.net\nhttps://seanmcccanada-secondary.queue.core.windows.net\nhttps://seanmcccanada-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanada.blob.core.windows.net/;QueueEndpoint=https://seanmcccanada.queue.core.windows.net/;FileEndpoint=https://seanmcccanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanada-secondary.file.core.windows.net/;AccountName=seanmcccanada;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
