{
  "Entries": [
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-4a17f4ca-ff5b-094e-320a-630b0070190a?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 10 May 2022 17:03:15 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA32A6F94F3844\u0022",
        "Last-Modified": "Tue, 10 May 2022 17:03:15 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-4a17f4ca-ff5b-094e-320a-630b0070190a/test-blob-6c4634fc-2109-4166-dfbd-c92205e826b2",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 10 May 2022 17:03:15 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": "TohBDFiGtBFVz2kWXoazb9ZNPsd\u002BuZWl0Tu13APpAm4XzXjMgSe\u002BRoTgCaWY27nz2Ube\u002BDRmVJTzmzoc0dgNa836/pAN5u6vjvdDnrDwDfWCwQK8Cwk6sXnj2eXsoXWs0p7Xnd0o5fNYLmk8I7bkAo5FmQ/VUV/DwE0XKgwIw\u002ByCl8sRGG8YWtsOZN2g/Y7D/tZXpwhl1oE\u002BFNyQEbvmUGp8uovq0\u002BoeLD80x\u002ByCI8O\u002BUys1sRzkHMFJ0gSTiEkfKBRyI0MC2CvsOHrIMQ\u002BVvPAZ0b2QsZ5Ol57KoQDmi6T1FJ7XD/\u002BAvHv/SX[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-4a17f4ca-ff5b-094e-320a-630b0070190a/test-blob-6c4634fc-2109-4166-dfbd-c92205e826b2",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 May 2022 17:03:16 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "Mklm03aiZEdj3yUKEq/qhw==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA32A6F970889A\u0022",
        "Last-Modified": "Tue, 10 May 2022 17:03:15 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 10 May 2022 17:03:15 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-06-08",
        "x-ms-version-id": "2022-05-10T17:03:15.7208218Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-4a17f4ca-ff5b-094e-320a-630b0070190a/test-blob-6c4634fc-2109-4166-dfbd-c92205e826b2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8DA32A6F970889A\u0022",
        "x-ms-date": "Tue, 10 May 2022 17:03:16 GMT",
        "x-ms-range": "bytes=0-511",
        "x-ms-range-get-content-crc64": "true",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-511/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA32A6F970889A\u0022",
        "Last-Modified": "Tue, 10 May 2022 17:03:15 GMT",
        "x-ms-blob-content-md5": "Mklm03aiZEdj3yUKEq/qhw==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-content-crc64": "Ooj6t4bh\u002BVo=",
        "x-ms-creation-time": "Tue, 10 May 2022 17:03:15 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-06-08",
        "x-ms-version-id": "2022-05-10T17:03:15.7208218Z"
      },
      "ResponseBody": "TohBDFiGtBFVz2kWXoazb9ZNPsd\u002BuZWl0Tu13APpAm4XzXjMgSe\u002BRoTgCaWY27nz2Ube\u002BDRmVJTzmzoc0dgNa836/pAN5u6vjvdDnrDwDfWCwQK8Cwk6sXnj2eXsoXWs0p7Xnd0o5fNYLmk8I7bkAo5FmQ/VUV/DwE0XKgwIw\u002ByCl8sRGG8YWtsOZN2g/Y7D/tZXpwhl1oE\u002BFNyQEbvmUGp8uovq0\u002BoeLD80x\u002ByCI8O\u002BUys1sRzkHMFJ0gSTiEkfKBRyI0MC2CvsOHrIMQ\u002BVvPAZ0b2QsZ5Ol57KoQDmi6T1FJ7XD/\u002BAvHv/SXihG\u002BqytBYTeraMjnZ1JIukNzcrBazW0xxwva3wmBRBkWglrHyzGOzp0hHtaYUoYup024VE1EPMy0jNQvdoIuGiSv0OT3gP8R5KQTOb6GmXR1vCfL2P/b0kWeAz5tb1ga8vSx\u002BIGRJyZOpm\u002BZIQMOLfNvqcpaYkEkxA6fWX3AtIVcCDa51KDi1IUBfSKQQqFCn9VK/cWNsJCzjSSC8c2ojfHqPSjMRFlCfMU1WOUelIFdXMmYhba/3leV9keMb9K3aP8wthWIdkuL\u002BIDwSFerpPiTJaT0AAg7Kl7BNk4Bxgzife/l3d5rxNaOHI01z4X/6lFe6Uo9s1j29Zu2t0/9ejJ0Hcp3xdcaN1DedeN7BWrY0Uv8o="
    },
[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-4a17f4ca-ff5b-094e-320a-630b0070190a?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 May 2022 17:03:16 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1090403749",
    "Storage_TestConfigDefault": "ProductionTenant\njaschrepragrs\nU2FuaXRpemVk\nhttps://jaschrepragrs.blob.core.windows.net\nhttps://jaschrepragrs.file.core.windows.net\nhttps://jaschrepragrs.queue.core.windows.net\nhttps://jaschrepragrs.table.core.windows.net\n\n\n\n\nhttps://jaschrepragrs-secondary.blob.core.windows.net\nhttps://jaschrepragrs-secondary.file.core.windows.net\nhttps://jaschrepragrs-secondary.queue.core.windows.net\nhttps://jaschrepragrs-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jaschrepragrs.blob.core.windows.net/;QueueEndpoint=https://jaschrepragrs.queue.core.windows.net/;FileEndpoint=https://jaschrepragrs.file.core.windows.net/;BlobSecondaryEndpoint=https://jaschrepragrs-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jaschrepragrs-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jaschrepragrs-secondary.file.core.windows.net/;AccountName=jaschrepragrs;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
