{
  "Entries": [
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-dab313d6-d359-4dc2-bf79-59c718e68eeb?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 10 May 2022 17:44:27 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA32ACBA66C59C\u0022",
        "Last-Modified": "Tue, 10 May 2022 17:44:26 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-dab313d6-d359-4dc2-bf79-59c718e68eeb/test-blob-4c2f19d8-0550-9bf7-14e6-16985218e434",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 10 May 2022 17:44:27 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": "CegYnVxzuloeUKtjOTB0l1CjNHnlXQE/4BDF2rTMCUnjVYnxD4tYIOSmEpncTBgK/i/YtbGZXqvm2L1Lrd\u002BmUkdif\u002BOngojEShOUPkpnYpT4u9yE9FSYSfbdCjbODXIFAMBSesw0Y3unE2qdBSBgf3YpU/IDIV7zyjbtyXdR9j2hjz6KFejHw1hg3eDp\u002BkPWfIvApbmAAd5iX6\u002BWR5kEVhwt/Hbh1mqOYY\u002Bao0R9CtDyFk3rkFGDIY1gJ7U4MHy\u002BXIbEu/3N9aUhMkMq5V6a5VXfozFLGMbKqdvpga\u002B0VjET20a9uE7SJSCnyl0OWTsuxkJgWIxLc[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-dab313d6-d359-4dc2-bf79-59c718e68eeb/test-blob-4c2f19d8-0550-9bf7-14e6-16985218e434",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 May 2022 17:44:27 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "74UK/yyv\u002BoFH5As2vMvr/g==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA32ACBA798E4A\u0022",
        "Last-Modified": "Tue, 10 May 2022 17:44:27 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 10 May 2022 17:44:27 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-06-08",
        "x-ms-version-id": "2022-05-10T17:44:27.0648658Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-dab313d6-d359-4dc2-bf79-59c718e68eeb/test-blob-4c2f19d8-0550-9bf7-14e6-16985218e434",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8DA32ACBA798E4A\u0022",
        "x-ms-date": "Tue, 10 May 2022 17:44:27 GMT",
        "x-ms-range": "bytes=0-511",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-511/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA32ACBA798E4A\u0022",
        "Last-Modified": "Tue, 10 May 2022 17:44:27 GMT",
        "x-ms-blob-content-md5": "74UK/yyv\u002BoFH5As2vMvr/g==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 10 May 2022 17:44:27 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-06-08",
        "x-ms-version-id": "2022-05-10T17:44:27.0648658Z"
      },
      "ResponseBody": "CegYnVxzuloeUKtjOTB0l1CjNHnlXQE/4BDF2rTMCUnjVYnxD4tYIOSmEpncTBgK/i/YtbGZXqvm2L1Lrd\u002BmUkdif\u002BOngojEShOUPkpnYpT4u9yE9FSYSfbdCjbODXIFAMBSesw0Y3unE2qdBSBgf3YpU/IDIV7zyjbtyXdR9j2hjz6KFejHw1hg3eDp\u002BkPWfIvApbmAAd5iX6\u002BWR5kEVhwt/Hbh1mqOYY\u002Bao0R9CtDyFk3rkFGDIY1gJ7U4MHy\u002BXIbEu/3N9aUhMkMq5V6a5VXfozFLGMbKqdvpga\u002B0VjET20a9uE7SJSCnyl0OWTsuxkJgWIxLckPA\u002BRIi5HT2bdwSFgoX3CwHDX4QpE1ovE\u002BgurptU/2kx2gD/L87sECssV2B/EIwFukVWUoNOs72WD3DgSm5iRnebU\u002BiFOBty109ZPPw5r8Mb6PRV/mylo2ZDKOBdy4W8idDo47zjgIJqI3tz9bbBXJ9thKG6DEfK9fBCAc861MuJnHLrEMxGOChx69sxca2vgcxBMEbkAr2JHe3MYb6zbw6vqllEFkvTJ4x5SCCs2YQC0oACueSE5Zm1YjLeeZapvrzMgYdUa6tArgi6qvqdHAQpyY8\u002BcLVp6sS/zrRY9K31j4mjoFg8rqbUwgubyjqfGEXutLAHq04HYpaClJz3J7laxNtw\u002BXvsLQ="
    },
[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-dab313d6-d359-4dc2-bf79-59c718e68eeb?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 May 2022 17:44:27 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "604318597",
    "Storage_TestConfigDefault": "ProductionTenant\njaschrepragrs\nU2FuaXRpemVk\nhttps://jaschrepragrs.blob.core.windows.net\nhttps://jaschrepragrs.file.core.windows.net\nhttps://jaschrepragrs.queue.core.windows.net\nhttps://jaschrepragrs.table.core.windows.net\n\n\n\n\nhttps://jaschrepragrs-secondary.blob.core.windows.net\nhttps://jaschrepragrs-secondary.file.core.windows.net\nhttps://jaschrepragrs-secondary.queue.core.windows.net\nhttps://jaschrepragrs-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jaschrepragrs.blob.core.windows.net/;QueueEndpoint=https://jaschrepragrs.queue.core.windows.net/;FileEndpoint=https://jaschrepragrs.file.core.windows.net/;BlobSecondaryEndpoint=https://jaschrepragrs-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jaschrepragrs-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jaschrepragrs-secondary.file.core.windows.net/;AccountName=jaschrepragrs;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
