{
  "Entries": [
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-5a028ce5-0334-d3c1-cb9a-c7ba753facb3?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 10 May 2022 17:02:55 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA32A6ED78B4EA\u0022",
        "Last-Modified": "Tue, 10 May 2022 17:02:55 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-5a028ce5-0334-d3c1-cb9a-c7ba753facb3/test-blob-4e8100f7-8e25-a11c-1844-3b51d5f7ca8e",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 10 May 2022 17:02:56 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": "5lCVs75vEp20AijOeWAlMsyLFdKV8gbEDmEXznhiETMUF3pdBBt9NZAMBaumFtvkO52pY\u002BeA3PNK0aVcV0QlUvD0umLmxy6wDeBCie1bHfeFMpLauK1MkzqGEjJ1IN1L5rK6sVx5/nRv\u002BFUHPlMG7rOu1yWxS5lDqCYnX7T7O\u002BwC9qI6oWyaCzMeasBXRFXmfyR/x0m4mZsZdgg2Up\u002B/dLxoBEexzE1GE8zxk\u002BDY62PQQOCQfHSjSlwGISpjZLmUX/YD70ANNbPWOLN9xga7QIukZhG\u002BLvhIxbnrqqsi4q8SXTTp1fwjwgstukPAJoRWSuCfv/2o1TD\u0[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-5a028ce5-0334-d3c1-cb9a-c7ba753facb3/test-blob-4e8100f7-8e25-a11c-1844-3b51d5f7ca8e",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 May 2022 17:02:56 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "sCHcVdFpBgXnaWsSB7koew==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA32A6ED882BC6\u0022",
        "Last-Modified": "Tue, 10 May 2022 17:02:55 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 10 May 2022 17:02:55 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-06-08",
        "x-ms-version-id": "2022-05-10T17:02:55.7430726Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-5a028ce5-0334-d3c1-cb9a-c7ba753facb3/test-blob-4e8100f7-8e25-a11c-1844-3b51d5f7ca8e",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8DA32A6ED882BC6\u0022",
        "x-ms-date": "Tue, 10 May 2022 17:02:56 GMT",
        "x-ms-range": "bytes=0-511",
        "x-ms-range-get-content-crc64": "true",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-511/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA32A6ED882BC6\u0022",
        "Last-Modified": "Tue, 10 May 2022 17:02:55 GMT",
        "x-ms-blob-content-md5": "sCHcVdFpBgXnaWsSB7koew==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-content-crc64": "RtTxDjczI2E=",
        "x-ms-creation-time": "Tue, 10 May 2022 17:02:55 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-06-08",
        "x-ms-version-id": "2022-05-10T17:02:55.7430726Z"
      },
      "ResponseBody": "5lCVs75vEp20AijOeWAlMsyLFdKV8gbEDmEXznhiETMUF3pdBBt9NZAMBaumFtvkO52pY\u002BeA3PNK0aVcV0QlUvD0umLmxy6wDeBCie1bHfeFMpLauK1MkzqGEjJ1IN1L5rK6sVx5/nRv\u002BFUHPlMG7rOu1yWxS5lDqCYnX7T7O\u002BwC9qI6oWyaCzMeasBXRFXmfyR/x0m4mZsZdgg2Up\u002B/dLxoBEexzE1GE8zxk\u002BDY62PQQOCQfHSjSlwGISpjZLmUX/YD70ANNbPWOLN9xga7QIukZhG\u002BLvhIxbnrqqsi4q8SXTTp1fwjwgstukPAJoRWSuCfv/2o1TD\u002BuimHIooHs1UEamjR0WuOgaMGkXS0iJ80lWDKgyOxaocD6xrSm6CAJQbuu7sbhHh1ED1aoUS8STKKUo0qPS8xUwDhzuZQvOUDhWxtxs3jGBDnVHPmV8hDRqHoSEkSVejWvGe7OraSJVRXVhzXToNkpjl8Q\u002Bi8S/w3nYdEaHOc8C\u002BElwplKN5aVC8fjgCsa/ceg6EPlRL/GXBrg5wuTbzgu2btU7d4/35aIu65nb38izKPJuXRjFodhX2Z\u002BaRCKwdyPtKZvxhApYQjtXMjRXyzb/hqnyfXDi8L0M463wXZGPfnR17qYswaT4Bgrtfn\u002BT8A5Yqs2IvgmzCjju9JBcZ\u002BSpx7PP4eyQ0="
    },
[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-5a028ce5-0334-d3c1-cb9a-c7ba753facb3?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 May 2022 17:02:56 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1424735853",
    "Storage_TestConfigDefault": "ProductionTenant\njaschrepragrs\nU2FuaXRpemVk\nhttps://jaschrepragrs.blob.core.windows.net\nhttps://jaschrepragrs.file.core.windows.net\nhttps://jaschrepragrs.queue.core.windows.net\nhttps://jaschrepragrs.table.core.windows.net\n\n\n\n\nhttps://jaschrepragrs-secondary.blob.core.windows.net\nhttps://jaschrepragrs-secondary.file.core.windows.net\nhttps://jaschrepragrs-secondary.queue.core.windows.net\nhttps://jaschrepragrs-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jaschrepragrs.blob.core.windows.net/;QueueEndpoint=https://jaschrepragrs.queue.core.windows.net/;FileEndpoint=https://jaschrepragrs.file.core.windows.net/;BlobSecondaryEndpoint=https://jaschrepragrs-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jaschrepragrs-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jaschrepragrs-secondary.file.core.windows.net/;AccountName=jaschrepragrs;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
