{
  "Entries": [
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-6323de41-0731-d369-e12a-e7f8d897a9d2?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 10 May 2022 17:02:51 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA32A6EB1A0E13\u0022",
        "Last-Modified": "Tue, 10 May 2022 17:02:51 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-6323de41-0731-d369-e12a-e7f8d897a9d2/test-blob-b2b0501c-3466-9010-813c-ae4fa20361da",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 10 May 2022 17:02:52 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": "gjkhOrj\u002BRxzw7j4220W6sw5VwgxIPb0LcyZ28fxOKSxtNKHfDeHaNoQzeyeyPP12yHaPtjWAr0R8FcaRiFYgosQSyKak2qYte4yHFcKWWTcp/yiGv3P37YVcY/caSK4uEtlioHNW0e7PYTup\u002BJmC5ryOZ4gumuNRG9shSHeuEjLdWQLoM7jD0y45tl04TfTr2n07i\u002BAlAHj2EYWXNYl3IU8Iy5\u002BXmbIDy5Ra9OSGGc3nNW75codSuFiJ8iEzK56kwpQOMIJUVEDKN8BLygyUcPi4sP8bfa7HtRJHDaaQ0J/2tTFPd\u002BlKkuEtLzvGBu5L9YIpe3ueiUXlRnpvDUa[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-6323de41-0731-d369-e12a-e7f8d897a9d2/test-blob-b2b0501c-3466-9010-813c-ae4fa20361da",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 May 2022 17:02:52 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "6VnlURrzSZyxfbMFK74Lmg==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA32A6EB29AB9B\u0022",
        "Last-Modified": "Tue, 10 May 2022 17:02:51 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 10 May 2022 17:02:51 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-06-08",
        "x-ms-version-id": "2022-05-10T17:02:51.7683099Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-6323de41-0731-d369-e12a-e7f8d897a9d2/test-blob-b2b0501c-3466-9010-813c-ae4fa20361da",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8DA32A6EB29AB9B\u0022",
        "x-ms-date": "Tue, 10 May 2022 17:02:52 GMT",
        "x-ms-range": "bytes=0-511",
        "x-ms-range-get-content-crc64": "true",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-511/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA32A6EB29AB9B\u0022",
        "Last-Modified": "Tue, 10 May 2022 17:02:51 GMT",
        "x-ms-blob-content-md5": "6VnlURrzSZyxfbMFK74Lmg==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-content-crc64": "4W/tvTLe72I=",
        "x-ms-creation-time": "Tue, 10 May 2022 17:02:51 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-06-08",
        "x-ms-version-id": "2022-05-10T17:02:51.7683099Z"
      },
      "ResponseBody": "gjkhOrj\u002BRxzw7j4220W6sw5VwgxIPb0LcyZ28fxOKSxtNKHfDeHaNoQzeyeyPP12yHaPtjWAr0R8FcaRiFYgosQSyKak2qYte4yHFcKWWTcp/yiGv3P37YVcY/caSK4uEtlioHNW0e7PYTup\u002BJmC5ryOZ4gumuNRG9shSHeuEjLdWQLoM7jD0y45tl04TfTr2n07i\u002BAlAHj2EYWXNYl3IU8Iy5\u002BXmbIDy5Ra9OSGGc3nNW75codSuFiJ8iEzK56kwpQOMIJUVEDKN8BLygyUcPi4sP8bfa7HtRJHDaaQ0J/2tTFPd\u002BlKkuEtLzvGBu5L9YIpe3ueiUXlRnpvDUaaOWchVRTbRPgPbR4d7U1zAa8k\u002BxcjZ1UkVyvraTFu24Wak/XTpLHZcLCKGQ1cgZz3ckTKShEvdtIS/f3o79rGoJKZglpYn13\u002BS4pnmE1Hx9WP8/ftpJBzaxwjwKaz8IDVxHl7w/9Bn9LnzP\u002BGx92EyzYnWfvj2PwBJRY\u002BNN62SloJkdTUywPWTVMlBteQ7KQ\u002BnvVwi5eE8ut8ep3oA2vzMIGkfDYJsP8yUQunvtIkcTly/5XpRb/DhZ/oV1Fm7UroMdVW629tNO71PjqL3TMZWAhkdgTVCurC4feXIVmuzGPBv4z8zoXJBMqn8weEOKhrzv5IAXdGEyfrkwp31hOVRnI="
    },
[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-6323de41-0731-d369-e12a-e7f8d897a9d2?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 May 2022 17:02:52 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "337954473",
    "Storage_TestConfigDefault": "ProductionTenant\njaschrepragrs\nU2FuaXRpemVk\nhttps://jaschrepragrs.blob.core.windows.net\nhttps://jaschrepragrs.file.core.windows.net\nhttps://jaschrepragrs.queue.core.windows.net\nhttps://jaschrepragrs.table.core.windows.net\n\n\n\n\nhttps://jaschrepragrs-secondary.blob.core.windows.net\nhttps://jaschrepragrs-secondary.file.core.windows.net\nhttps://jaschrepragrs-secondary.queue.core.windows.net\nhttps://jaschrepragrs-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jaschrepragrs.blob.core.windows.net/;QueueEndpoint=https://jaschrepragrs.queue.core.windows.net/;FileEndpoint=https://jaschrepragrs.file.core.windows.net/;BlobSecondaryEndpoint=https://jaschrepragrs-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jaschrepragrs-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jaschrepragrs-secondary.file.core.windows.net/;AccountName=jaschrepragrs;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
