{
  "Entries": [
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-acfddb41-1ccd-0aa2-b1d5-c0f7f635a0a7?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 09 May 2022 23:57:58 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA3217BDF96998\u0022",
        "Last-Modified": "Mon, 09 May 2022 23:57:57 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-acfddb41-1ccd-0aa2-b1d5-c0f7f635a0a7/test-blob-bb7a9c59-db8b-9d73-ce99-16accfc07795",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Mon, 09 May 2022 23:57:58 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": "q8UiLLhKoI7gHj5ua4UvBt4/VZQfwCrhD90hyQjqa6I6SHEWiMnIV8GI/11AgbpU5qMyM3aPSeqaQB3bKNaG9rOcNCIUGX0Ud/3Tl8DMoY0izONktzcsqv\u002BGe0is7C/qAQmqo02XQMwmHbx4vLIpzp\u002BPuVvzIT57cIojjZ01aIrO6ZW3Iv1AiowWPpl7s\u002B1NXa2oHTPU9t/LLjPCdLMu8LUxqdMdcquiTi7P3OOkALyc1TDwjUpX\u002BvK16/PKfRbZ6E3kSgoaMOoBBc4EBBr8Ji52Jp6CPmNq2a/gZ4a42NAX9fSVwLaygaVG74d8UvXYuMXEVFd3VqrqeXBbOshkSS39[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-acfddb41-1ccd-0aa2-b1d5-c0f7f635a0a7/test-blob-bb7a9c59-db8b-9d73-ce99-16accfc07795",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 09 May 2022 23:57:58 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-range-get-content-crc64": "true",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA3217BE07E812\u0022",
        "Last-Modified": "Mon, 09 May 2022 23:57:58 GMT",
        "x-ms-blob-content-md5": "NFQLnaPQ2NDedntkFayMaA==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-content-crc64": "NKQaDc0j7yQ=",
        "x-ms-creation-time": "Mon, 09 May 2022 23:57:58 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-06-08",
        "x-ms-version-id": "2022-05-09T23:57:58.0172306Z"
      },
      "ResponseBody": "q8UiLLhKoI7gHj5ua4UvBt4/VZQfwCrhD90hyQjqa6I6SHEWiMnIV8GI/11AgbpU5qMyM3aPSeqaQB3bKNaG9rOcNCIUGX0Ud/3Tl8DMoY0izONktzcsqv\u002BGe0is7C/qAQmqo02XQMwmHbx4vLIpzp\u002BPuVvzIT57cIojjZ01aIrO6ZW3Iv1AiowWPpl7s\u002B1NXa2oHTPU9t/LLjPCdLMu8LUxqdMdcquiTi7P3OOkALyc1TDwjUpX\u002BvK16/PKfRbZ6E3kSgoaMOoBBc4EBBr8Ji52Jp6CPmNq2a/gZ4a42NAX9fSVwLaygaVG74d8UvXYuMXEVFd3VqrqeXBbOshkSS397A8lZmZ4w6T4PE/b7oa5B67B84R5oJ9Kq0ZFV0fd4aVafmXmslJeS5CyfhpaD4vpoTIZo1Wp[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-acfddb41-1ccd-0aa2-b1d5-c0f7f635a0a7?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 09 May 2022 23:57:58 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1058611347",
    "Storage_TestConfigDefault": "ProductionTenant\njaschrepragrs\nU2FuaXRpemVk\nhttps://jaschrepragrs.blob.core.windows.net\nhttps://jaschrepragrs.file.core.windows.net\nhttps://jaschrepragrs.queue.core.windows.net\nhttps://jaschrepragrs.table.core.windows.net\n\n\n\n\nhttps://jaschrepragrs-secondary.blob.core.windows.net\nhttps://jaschrepragrs-secondary.file.core.windows.net\nhttps://jaschrepragrs-secondary.queue.core.windows.net\nhttps://jaschrepragrs-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jaschrepragrs.blob.core.windows.net/;QueueEndpoint=https://jaschrepragrs.queue.core.windows.net/;FileEndpoint=https://jaschrepragrs.file.core.windows.net/;BlobSecondaryEndpoint=https://jaschrepragrs-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jaschrepragrs-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jaschrepragrs-secondary.file.core.windows.net/;AccountName=jaschrepragrs;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
