{
  "Entries": [
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-8ac8ddb3-5e6a-4079-aa3a-0d68f1bb3c62?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 28 Apr 2022 21:21:17 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA295D087E7B0E\u0022",
        "Last-Modified": "Thu, 28 Apr 2022 21:21:17 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-8ac8ddb3-5e6a-4079-aa3a-0d68f1bb3c62/test-blob-5c3ab66c-33d9-9d4e-03f1-46888be21316",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 28 Apr 2022 21:21:17 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": "ELKbgURzd/DAAuUd4x5E1OUK5KWr\u002BSQg9cA0uhL0FHzeUUlIOtO\u002BENQfgjxjHoUhJdxDpkPIfhaOe4yDP7zey\u002B1oPpHU/JkRTNTQjHbnvdY7EpU2sW44FdIyub9GOtEXQLdO\u002Bt/zTChCMVlv\u002BPKgpr61SCwnqBp\u002BLyi/oULayxIDuEu/mcL2R8Vs84AVyR3fkhIBkPGk8Jic0Mu3M6vmZ2ZGbD\u002Bm4A37vwFmurSaaGYL3w4v2TohXsizIsj2PxMahosZz1zdObIFBdHwPTXjAmdkq1Scto4sJA13871EBH/tSzQpgJkKLaZcKtNoMSGSzx9hkpS/f[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-8ac8ddb3-5e6a-4079-aa3a-0d68f1bb3c62/test-blob-5c3ab66c-33d9-9d4e-03f1-46888be21316",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Apr 2022 21:21:17 GMT",
        "x-ms-range": "bytes=0-511",
        "x-ms-range-get-content-crc64": "true",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-511/2048",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA295D088D7F8C\u0022",
        "Last-Modified": "Thu, 28 Apr 2022 21:21:17 GMT",
        "x-ms-blob-content-md5": "oe7GpjXVmUlvb6lOC\u002BqjDw==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-content-crc64": "AFAkuJzRSi8=",
        "x-ms-creation-time": "Thu, 28 Apr 2022 21:21:17 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-06-08",
        "x-ms-version-id": "2022-04-28T21:21:17.8534796Z"
      },
      "ResponseBody": "ELKbgURzd/DAAuUd4x5E1OUK5KWr\u002BSQg9cA0uhL0FHzeUUlIOtO\u002BENQfgjxjHoUhJdxDpkPIfhaOe4yDP7zey\u002B1oPpHU/JkRTNTQjHbnvdY7EpU2sW44FdIyub9GOtEXQLdO\u002Bt/zTChCMVlv\u002BPKgpr61SCwnqBp\u002BLyi/oULayxIDuEu/mcL2R8Vs84AVyR3fkhIBkPGk8Jic0Mu3M6vmZ2ZGbD\u002Bm4A37vwFmurSaaGYL3w4v2TohXsizIsj2PxMahosZz1zdObIFBdHwPTXjAmdkq1Scto4sJA13871EBH/tSzQpgJkKLaZcKtNoMSGSzx9hkpS/fs/97apOZkX0wABSAvEAuoLNWn2tP4u7w/Ps5CSe43LqLc1lLJLuu8dgaGrTFS4vkRSckzcWET9DQiq2YYIhVt2NZ9Ukm47w35\u002B2TNYh567FvFIPAU871BuNIeloOFlEPxKNRa1YC/aFrLSYYMRoIlp78KUvEVSNUpO5l3qkiKZFcQ3Ek6IAbLFcilSao3NXJP6P7Ee0FS29//MZn3R84CMNUu63o463e4T004f/864gYnJ7FJtfkVzfB5Sv5s084KkxjVCEn4Bv2HHDwEGmvQxE\u002BT0CAMuHrsGS15z6CJS2t/PdzmZdm8LxCzwqnNEbOUqHauyPOt/dqd\u002BP8sjkdc/cDAhNyO6m514="
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-8ac8ddb3-5e6a-4079-aa3a-0d68f1bb3c62/test-blob-5c3ab66c-33d9-9d4e-03f1-46888be21316",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8DA295D088D7F8C\u0022",
        "x-ms-date": "Thu, 28 Apr 2022 21:21:18 GMT",
        "x-ms-range": "bytes=512-1023",
        "x-ms-range-get-content-crc64": "true",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 512-1023/2048",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA295D088D7F8C\u0022",
        "Last-Modified": "Thu, 28 Apr 2022 21:21:1[...]
[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-8ac8ddb3-5e6a-4079-aa3a-0d68f1bb3c62?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Apr 2022 21:21:18 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1943170219",
    "Storage_TestConfigDefault": "ProductionTenant\njaschrepragrs\nU2FuaXRpemVk\nhttps://jaschrepragrs.blob.core.windows.net\nhttps://jaschrepragrs.file.core.windows.net\nhttps://jaschrepragrs.queue.core.windows.net\nhttps://jaschrepragrs.table.core.windows.net\n\n\n\n\nhttps://jaschrepragrs-secondary.blob.core.windows.net\nhttps://jaschrepragrs-secondary.file.core.windows.net\nhttps://jaschrepragrs-secondary.queue.core.windows.net\nhttps://jaschrepragrs-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jaschrepragrs.blob.core.windows.net/;QueueEndpoint=https://jaschrepragrs.queue.core.windows.net/;FileEndpoint=https://jaschrepragrs.file.core.windows.net/;BlobSecondaryEndpoint=https://jaschrepragrs-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jaschrepragrs-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jaschrepragrs-secondary.file.core.windows.net/;AccountName=jaschrepragrs;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
