{
  "Entries": [
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-b72392b3-395c-18fb-ec7c-779d52db16ae?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 09 May 2022 23:57:42 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA3217B4EB2BF9\u0022",
        "Last-Modified": "Mon, 09 May 2022 23:57:42 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-b72392b3-395c-18fb-ec7c-779d52db16ae/test-blob-34dfa1da-c387-8571-1b62-9fd0585c14f1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Mon, 09 May 2022 23:57:43 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": "9sH9ilJTt2w6curumgpomesUWozq7i07IAytil3zjx77FfruVQYQ7w6D7Q/nxOzn9k95DFPmngeUwmlFpiwORuLM84UPekTkA2t9ZwEeU1wfxZQOeoLKFXbzWZOcyknidKYsG9Bm2HsKlAnoaDcFdm4NJeCYAMtfAd4OGyGxRzgim/Jb8TiLue0YA\u002BZ54qw/7eMkj6RoSXTazRnyV7xaWUzQxsxFqoQ2gWzzgP3l5R8xzy4\u002BjLeTuVF9gCQemWEwvamZqRzf\u002BkJe7Q44dMl39Of6wIiOHMyVPAx6xylgF\u002BcKwsJTTDwCUdTr35\u002BpW0WIBow8JNnZoqHcBG0QZDM[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-b72392b3-395c-18fb-ec7c-779d52db16ae/test-blob-34dfa1da-c387-8571-1b62-9fd0585c14f1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 09 May 2022 23:57:43 GMT",
        "x-ms-range": "bytes=0-511",
        "x-ms-range-get-content-crc64": "true",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-511/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA3217B4F9E05D\u0022",
        "Last-Modified": "Mon, 09 May 2022 23:57:42 GMT",
        "x-ms-blob-content-md5": "iXlWB1\u002BH7YTP8WoOM2jDog==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-content-crc64": "dsJb46HX13g=",
        "x-ms-creation-time": "Mon, 09 May 2022 23:57:42 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-06-08",
        "x-ms-version-id": "2022-05-09T23:57:42.8257885Z"
      },
      "ResponseBody": "9sH9ilJTt2w6curumgpomesUWozq7i07IAytil3zjx77FfruVQYQ7w6D7Q/nxOzn9k95DFPmngeUwmlFpiwORuLM84UPekTkA2t9ZwEeU1wfxZQOeoLKFXbzWZOcyknidKYsG9Bm2HsKlAnoaDcFdm4NJeCYAMtfAd4OGyGxRzgim/Jb8TiLue0YA\u002BZ54qw/7eMkj6RoSXTazRnyV7xaWUzQxsxFqoQ2gWzzgP3l5R8xzy4\u002BjLeTuVF9gCQemWEwvamZqRzf\u002BkJe7Q44dMl39Of6wIiOHMyVPAx6xylgF\u002BcKwsJTTDwCUdTr35\u002BpW0WIBow8JNnZoqHcBG0QZDMZ/dYmLbEGI6ir\u002BG6zojwt6\u002BDH8sCdI/MOMCAhdkjO8eyh0uLIgi2TguLjkSxqJgBkrxiMSXJye9njGP2R5K1g3AaBEdBaZGmzM2/eupLGpAofvccwQqh6L1YI5WowAZ40g7Um6BQwCUqu2BUDk8FHHHPycSbmMJldB\u002BJ5Un//gzLQqTbcoLz177N8gWmTdpuUwMn2PY94TlMcyOAxtrfLr1XjM\u002BqKa3u3/YJyaa4vypFH5JG1CEaiWFvjwNfbwzj8sdEUsEOxCVVNPkANBeSk7P5O6tIlFacPQNqOp6qk2zlJdrjdGxpOldo7aMkGlVN3P9TZjdlm1psqBW9oImKrqWM="
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-b72392b3-395c-18fb-ec7c-779d52db16ae/test-blob-34dfa1da-c387-8571-1b62-9fd0585c14f1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8DA3217B4F9E05D\u0022",
        "x-ms-date": "Mon, 09 May 2022 23:57:43 GMT",
        "x-ms-range": "bytes=512-1023",
        "x-ms-range-get-content-crc64": "true",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 512-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA3217B4F9E05D\u0022",
        "Last-Modified": "Mon, 09 May 2022 23:57:4[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-b72392b3-395c-18fb-ec7c-779d52db16ae?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 09 May 2022 23:57:43 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "901315492",
    "Storage_TestConfigDefault": "ProductionTenant\njaschrepragrs\nU2FuaXRpemVk\nhttps://jaschrepragrs.blob.core.windows.net\nhttps://jaschrepragrs.file.core.windows.net\nhttps://jaschrepragrs.queue.core.windows.net\nhttps://jaschrepragrs.table.core.windows.net\n\n\n\n\nhttps://jaschrepragrs-secondary.blob.core.windows.net\nhttps://jaschrepragrs-secondary.file.core.windows.net\nhttps://jaschrepragrs-secondary.queue.core.windows.net\nhttps://jaschrepragrs-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jaschrepragrs.blob.core.windows.net/;QueueEndpoint=https://jaschrepragrs.queue.core.windows.net/;FileEndpoint=https://jaschrepragrs.file.core.windows.net/;BlobSecondaryEndpoint=https://jaschrepragrs-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jaschrepragrs-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jaschrepragrs-secondary.file.core.windows.net/;AccountName=jaschrepragrs;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
