{
  "Entries": [
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-9c62e665-abb8-720c-40ee-28f10f51e0bf?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 09 May 2022 23:58:00 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA3217BFA59EE0\u0022",
        "Last-Modified": "Mon, 09 May 2022 23:58:00 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-9c62e665-abb8-720c-40ee-28f10f51e0bf/test-blob-10bf7c80-055a-2b71-99e3-ae9b85ac992b",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Mon, 09 May 2022 23:58:01 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": "k8VGTLKqbBvz1ukhwXXqvk44P5HzSjS/T/M3tAwf5iNS5gTCOlM8BxJCorTbvlRkNn6EbU\u002ByD0mRh/y\u002BcrgP0/DGzttxJ4P7\u002Bzd\u002BsaeA45Gf032Nm3jToNa6MbNWfZVaMs/DFe948w/6iXEYM16iEKNrH586gTd48i4FtvXQpH6iJH7YvM6iJ99ukxIGumx3GCAP6171H7GXSyLAczwZKeTzdg/gyVTVyPi/zO0lcTjCjZ7VwLgfrATNQHGs4bOiVGktE0Rdl07MOiJmNVPDcdrp/uWeRGgr1MkKE4njKOdEHXeE917zZPZPCIaVuHexCc\u002BWwuLNAxAAAT56U4P[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-9c62e665-abb8-720c-40ee-28f10f51e0bf/test-blob-10bf7c80-055a-2b71-99e3-ae9b85ac992b",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 09 May 2022 23:58:01 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-range-get-content-crc64": "true",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA3217BFB95130\u0022",
        "Last-Modified": "Mon, 09 May 2022 23:58:00 GMT",
        "x-ms-blob-content-md5": "DiJac\u002B0P3L1549a2GefuYQ==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-content-crc64": "jEcew72/btQ=",
        "x-ms-creation-time": "Mon, 09 May 2022 23:58:00 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-06-08",
        "x-ms-version-id": "2022-05-09T23:58:00.8576304Z"
      },
      "ResponseBody": "k8VGTLKqbBvz1ukhwXXqvk44P5HzSjS/T/M3tAwf5iNS5gTCOlM8BxJCorTbvlRkNn6EbU\u002ByD0mRh/y\u002BcrgP0/DGzttxJ4P7\u002Bzd\u002BsaeA45Gf032Nm3jToNa6MbNWfZVaMs/DFe948w/6iXEYM16iEKNrH586gTd48i4FtvXQpH6iJH7YvM6iJ99ukxIGumx3GCAP6171H7GXSyLAczwZKeTzdg/gyVTVyPi/zO0lcTjCjZ7VwLgfrATNQHGs4bOiVGktE0Rdl07MOiJmNVPDcdrp/uWeRGgr1MkKE4njKOdEHXeE917zZPZPCIaVuHexCc\u002BWwuLNAxAAAT56U4PF6RE7IhjbP3l89pnvTzzilRtRWAm5TGUEdhlng/YfeBFyiR50WpZf1cpVGsxJ3rTUHmwiKPp[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-9c62e665-abb8-720c-40ee-28f10f51e0bf?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 09 May 2022 23:58:01 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1538796823",
    "Storage_TestConfigDefault": "ProductionTenant\njaschrepragrs\nU2FuaXRpemVk\nhttps://jaschrepragrs.blob.core.windows.net\nhttps://jaschrepragrs.file.core.windows.net\nhttps://jaschrepragrs.queue.core.windows.net\nhttps://jaschrepragrs.table.core.windows.net\n\n\n\n\nhttps://jaschrepragrs-secondary.blob.core.windows.net\nhttps://jaschrepragrs-secondary.file.core.windows.net\nhttps://jaschrepragrs-secondary.queue.core.windows.net\nhttps://jaschrepragrs-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jaschrepragrs.blob.core.windows.net/;QueueEndpoint=https://jaschrepragrs.queue.core.windows.net/;FileEndpoint=https://jaschrepragrs.file.core.windows.net/;BlobSecondaryEndpoint=https://jaschrepragrs-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jaschrepragrs-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jaschrepragrs-secondary.file.core.windows.net/;AccountName=jaschrepragrs;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
