{
  "Entries": [
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-9f78afef-2b5c-2a98-10e9-9073b075cafe?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 11 Oct 2021 23:44:25 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D98D110F2B27D1\u0022",
        "Last-Modified": "Mon, 11 Oct 2021 23:44:25 GMT",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-9f78afef-2b5c-2a98-10e9-9073b075cafe/test-blob-7cdb8466-6ca8-4761-a148-3968f3cf22ec",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-MD5": "VkDd\u002BfeoF7qyDyns1HYXFw==",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Mon, 11 Oct 2021 23:44:25 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": "qwsyLzA/Ok9Ldw2GfFEcGm9jomZR2YaSK4iC8FHPc2i66JsCwkr9kA/Upf9aueYcqzQmKYe1ddGEoAOovUn\u002BfASkzJO1GlckZhFXfTOHOHKhZUUdqUrhBHPKfSJGVNPF1in7texSZ5HcAcJ1Xfie/WiRBlgE4NO5wscg65003RE\u002BkaYKi4KGTv60QKeIbKZ7K3\u002B5tU57wfVVQvMkMnvzqCOwNsxRk3HmCrdZUKArMFYhpb8deyjDw9CxtEmPYRyCwJiD1zXaKZgN06qWIXBUKhGcA4y81Sz77XP7n98oV6ma15AIp1ggRnsnEKh9LaFfXIo38l6QxupriOrB3oq45XsB\u002[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-9f78afef-2b5c-2a98-10e9-9073b075cafe?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 11 Oct 2021 23:44:25 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1407646635",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttp://seanmcccanary3.blob.core.windows.net\nhttp://seanmcccanary3.file.core.windows.net\nhttp://seanmcccanary3.queue.core.windows.net\nhttp://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttp://seanmcccanary3-secondary.blob.core.windows.net\nhttp://seanmcccanary3-secondary.file.core.windows.net\nhttp://seanmcccanary3-secondary.queue.core.windows.net\nhttp://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=http://seanmcccanary3.queue.core.windows.net/;FileEndpoint=http://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=http://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\n[encryption scope]\n\n"
  }
}