{
  "Entries": [
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-41b7f62f-0112-e39f-8308-61274e81f3e2?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 09 May 2022 22:02:43 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA3207A4A07A09\u0022",
        "Last-Modified": "Mon, 09 May 2022 22:02:43 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-41b7f62f-0112-e39f-8308-61274e81f3e2/test-blob-e9beb4a2-c473-1a4c-5e39-00c38cb61820?comp=block\u0026blockid=AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-MD5": "FAP43xPV0zimJwX6M0G25A==",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Mon, 09 May 2022 22:02:43 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": "LVBQMMEtJqlT7z1YAg3neQezcXsdK2rV\u002Bv9wCY/FJL5\u002BFWSrudDsh626dIhFZw8AW3zV79S/ywLlezbCvR0ajct\u002B2u2pPMA3x\u002BnNYrbhj5Pvb60T8DXqvklixT2aKcqQoOe9xo0hVx\u002B7nifq8mlLBOui0k5vBp2VlBukR3aCnZ0fPcLPI8kGzhiNV1IO/8zgFsFS91d8IJpKKDJxfRCpOACJy7WmfOAinAQ14q5Lh5VOxDC0MKVGoxwohfuXlFEI5B5RhDMXOZnhL1tSRj7r/qGcI7jf9AhbQiiYfvfligezLf6P\u002BQJhN4uW0wBJ9FzePIZZ\u002BnGYKO8W9UILfrqi\u002B6VTnxlAWwWfO\u002BstSCAHEU7MukJwi5CVGwUOeQS/VrjQ89hb9VVDneCBur\u002BFat/PDuPzP8R4Mm8UvYMTMuIA3\u002BUzXFVIrBv5iBxh79HRELAlPmogzBb0WMFoRjfRL2v\u002BgNvZUg2Kh2LH\u002BranFkKeQ63T7vN43xPOPwST32XjJ1mxY2/2972im7cHWNFgTEF/ygOK/kF4hqDICxMJ96f949Jd9rPTqEzwMFM7cIZBbvLCExVhWSkYONzOLeyqmaMQCXX\u002BAlaOrCG3mc3tPBUZhpwgRuORm4qpRb3WBXpfRZevK2YRQmucNGfzqsBcKvvHtKdPiVLAfm3rVb2Yt6anV1M=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "FAP43xPV0zimJwX6M0G25A==",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-41b7f62f-0112-e39f-8308-61274e81f3e2/test-blob-e9beb4a2-c473-1a4c-5e39-00c38cb61820?comp=block\u0026blockid=AAIAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-MD5": "bMfk2KaPsERAU09g5x9l6g==",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Mon, 09 May 2022 22:[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-41b7f62f-0112-e39f-8308-61274e81f3e2/test-blob-e9beb4a2-c473-1a4c-5e39-00c38cb61820?comp=blocklist",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "x-ms-date": "Mon, 09 May 2022 22:02:44 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": "\uFEFF\u003CBlockList\u003E\u003CLatest\u003EAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\u003C/Latest\u003E\u003CLatest\u003EAAIAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\u003C/Latest\u003E\u003C/BlockList\u003E",
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA3207A4CDC898\u0022",
        "Last-Modified": "Mon, 09 May 2022 22:02:43 GMT",
        "x-ms-content-crc64": "uZyvATng5EM=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08",
        "x-ms-version-id": "2022-05-09T22:02:43.7456024Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-41b7f62f-0112-e39f-8308-61274e81f3e2?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 09 May 2022 22:02:44 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "806602626",
    "Storage_TestConfigDefault": "ProductionTenant\njaschrepragrs\nU2FuaXRpemVk\nhttps://jaschrepragrs.blob.core.windows.net\nhttps://jaschrepragrs.file.core.windows.net\nhttps://jaschrepragrs.queue.core.windows.net\nhttps://jaschrepragrs.table.core.windows.net\n\n\n\n\nhttps://jaschrepragrs-secondary.blob.core.windows.net\nhttps://jaschrepragrs-secondary.file.core.windows.net\nhttps://jaschrepragrs-secondary.queue.core.windows.net\nhttps://jaschrepragrs-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jaschrepragrs.blob.core.windows.net/;QueueEndpoint=https://jaschrepragrs.queue.core.windows.net/;FileEndpoint=https://jaschrepragrs.file.core.windows.net/;BlobSecondaryEndpoint=https://jaschrepragrs-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jaschrepragrs-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jaschrepragrs-secondary.file.core.windows.net/;AccountName=jaschrepragrs;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
