{
  "Entries": [
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-a360f74a-fdfd-a665-4a2f-45e98778f0fc?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 11 Oct 2021 23:44:26 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D98D110F53506D\u0022",
        "Last-Modified": "Mon, 11 Oct 2021 23:44:26 GMT",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-a360f74a-fdfd-a665-4a2f-45e98778f0fc/test-blob-80e97ca1-321b-927f-fc24-53c5dad60d71?comp=block\u0026blockid=AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-MD5": "hZ8gpzwQcdDFUROcGIV4eA==",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Mon, 11 Oct 2021 23:44:26 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": "lT\u002BAeb7UKinImN\u002Btavl08qKI8e9MW70Ujf7MNzN6eACC\u002Btbz1xP\u002BI20BzKa8/Ct3UfsRxtHdSzmBbOzAB/P1TR/fKm8igRqPis2CS48XV5DTVOU4abIupa6ccWsnPhx6DH\u002BH3dK7VdDhgjsDWgCqahVb7LINveRtsITAhg\u002BuaEyxCD4Qj3q\u002BF/8UV\u002Bd2Kkut8gdWy1FpbE6bGixN\u002Bs/BMhrvUlLBmdqanNWy\u002BWb89oU5E5MIWJz7R5zwdXVNcR0wUyTMhtj561gsuy58t3PoniOnE\u002Bc7udl99Aq20SRkTCu3gqVBMHCsQCc7251tf5AoB9dSpl429JpLTpLNQhozx28DxDTNp22z\u002BtK//908D3R6jcpNEqXNgY0L9uHd3/0NCBQtarpcW2Bpn6yLdvW8Dj4dU7VP5rTJNUOmwbGM1RvVsvfJDqW5HjFp43P4QgqYTueiv4tIvSFfYzR3tZmv3MmRtsP98/\u002BZYzWD5gJB0fM4DXPK6hWPjPXVaqtwQmiXugaqZ4tHmlvnCFxWxNcfHZJBP6cm5fKzASnNKIlUKSHM6yv7lmln8HMX4uG5OcgetUwYLwLAcdUU9mVieXLRkt46itirI4Yo2U40DwIR\u002Bshgr3I8PPoeC3pV56AEBXcARVACf6/wcpLF8FW0jGHTAvycAsr/lVbkG35dVjzmI9Q=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "hZ8gpzwQcdDFUROcGIV4eA==",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-a360f74a-fdfd-a665-4a2f-45e98778f0fc/test-blob-80e97ca1-321b-927f-fc24-53c5dad60d71?comp=block\u0026blockid=AAIAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-MD5": "NViXQDlWJqB7SLQ9n38sTQ==",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Mon, 11 Oct 2021 23:[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-a360f74a-fdfd-a665-4a2f-45e98778f0fc/test-blob-80e97ca1-321b-927f-fc24-53c5dad60d71?comp=blocklist",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "x-ms-date": "Mon, 11 Oct 2021 23:44:26 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": "\uFEFF\u003CBlockList\u003E\u003CLatest\u003EAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\u003C/Latest\u003E\u003CLatest\u003EAAIAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\u003C/Latest\u003E\u003C/BlockList\u003E",
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D98D110F65B82F\u0022",
        "Last-Modified": "Mon, 11 Oct 2021 23:44:26 GMT",
        "x-ms-content-crc64": "uZyvATng5EM=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-04-10",
        "x-ms-version-id": "2021-10-11T23:44:26.1920815Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-a360f74a-fdfd-a665-4a2f-45e98778f0fc?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 11 Oct 2021 23:44:26 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "468654513",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttp://seanmcccanary3.blob.core.windows.net\nhttp://seanmcccanary3.file.core.windows.net\nhttp://seanmcccanary3.queue.core.windows.net\nhttp://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttp://seanmcccanary3-secondary.blob.core.windows.net\nhttp://seanmcccanary3-secondary.file.core.windows.net\nhttp://seanmcccanary3-secondary.queue.core.windows.net\nhttp://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=http://seanmcccanary3.queue.core.windows.net/;FileEndpoint=http://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=http://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\n[encryption scope]\n\n"
  }
}