{
  "Entries": [
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-b99b4a77-4ee2-882e-99f4-3466a95a45fe?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 09 May 2022 22:09:09 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA32088A979DDD\u0022",
        "Last-Modified": "Mon, 09 May 2022 22:09:09 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-b99b4a77-4ee2-882e-99f4-3466a95a45fe/test-blob-8f0f7395-f938-0d2b-38e8-dc54f3f6e56a",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Mon, 09 May 2022 22:09:09 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": "nTIZsA9PHfsaZSZ8In9yEv6J5yyD0nmDUUqKKavtcnu6KhHjbUaaL1/cWR/xNhRfFL5FOS9/fsu5lV7ExfNPLPKrwfdtj6S37rjMp3hZkhs2KxTtqDlLO6tGKtfo1mprjS0tRXQd8oUZjUp3s9dSXwNDjpreYYO4YIZLJ2TNzxhNYBpLLEymGDiO0xvv04fU88rTpUjPjSupdOXt0sohTL4xKVK9BzO2nHVhT41oyIz\u002BdzSZ\u002BSrPftPuordmuEZubYdcvqo1FuuXHAjTbj2dQKtZ71qWh1KUYat\u002BzmV7UOMu8\u002BIGDAriyWBIAtwh/A\u002BWUWEMDcnr1\u002BY0yF[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-b99b4a77-4ee2-882e-99f4-3466a95a45fe?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 09 May 2022 22:09:09 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "710648628",
    "Storage_TestConfigDefault": "ProductionTenant\njaschrepragrs\nU2FuaXRpemVk\nhttps://jaschrepragrs.blob.core.windows.net\nhttps://jaschrepragrs.file.core.windows.net\nhttps://jaschrepragrs.queue.core.windows.net\nhttps://jaschrepragrs.table.core.windows.net\n\n\n\n\nhttps://jaschrepragrs-secondary.blob.core.windows.net\nhttps://jaschrepragrs-secondary.file.core.windows.net\nhttps://jaschrepragrs-secondary.queue.core.windows.net\nhttps://jaschrepragrs-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jaschrepragrs.blob.core.windows.net/;QueueEndpoint=https://jaschrepragrs.queue.core.windows.net/;FileEndpoint=https://jaschrepragrs.file.core.windows.net/;BlobSecondaryEndpoint=https://jaschrepragrs-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jaschrepragrs-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jaschrepragrs-secondary.file.core.windows.net/;AccountName=jaschrepragrs;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
