{
  "Entries": [
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-5fdb29fb-0d48-44d0-1345-d68d3f116d99?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 09 May 2022 21:51:07 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA32060590AF69\u0022",
        "Last-Modified": "Mon, 09 May 2022 21:51:07 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-5fdb29fb-0d48-44d0-1345-d68d3f116d99/test-blob-53e16a0b-f751-76fc-fc44-4306e300f004",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-content-crc64": "982zsO3RzNM=",
        "x-ms-date": "Mon, 09 May 2022 21:51:07 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": "\u002Bs0MfvQYRNpYNyr3qQdGui87hGNJInJp4MZyBUQATuyGTs4xS5en8Jft8fCSLaqyDyChGsNny9dao50tpT6VV\u002Bg9cVs4FW6XlJPMXDGB17Icv/YjXzMoHoL21qj6eUpYV5oIVLxOevqyCYYwm26m2cvrEOZIcvi0FFLYQT7GnRpJcwWXeYL1zkX7cVat\u002BIIUUP3dDmhkEOWiU0BpdTi77Gts5yhpD19J9UKgTAChBxvQxPFB6Y6x5GMf9SVCi1gMP4XqQBFaqkCdkxklxMPlAEwkmbFHegLcugLESho5Bmnqkwx6tsYKdRmwo1V1jCCfOvTZHfKmxcWCDYYOlWAmZI2vOz[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-5fdb29fb-0d48-44d0-1345-d68d3f116d99?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 09 May 2022 21:51:07 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "609487798",
    "Storage_TestConfigDefault": "ProductionTenant\njaschrepragrs\nU2FuaXRpemVk\nhttps://jaschrepragrs.blob.core.windows.net\nhttps://jaschrepragrs.file.core.windows.net\nhttps://jaschrepragrs.queue.core.windows.net\nhttps://jaschrepragrs.table.core.windows.net\n\n\n\n\nhttps://jaschrepragrs-secondary.blob.core.windows.net\nhttps://jaschrepragrs-secondary.file.core.windows.net\nhttps://jaschrepragrs-secondary.queue.core.windows.net\nhttps://jaschrepragrs-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jaschrepragrs.blob.core.windows.net/;QueueEndpoint=https://jaschrepragrs.queue.core.windows.net/;FileEndpoint=https://jaschrepragrs.file.core.windows.net/;BlobSecondaryEndpoint=https://jaschrepragrs-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jaschrepragrs-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jaschrepragrs-secondary.file.core.windows.net/;AccountName=jaschrepragrs;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
