{
  "Entries": [
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-7c77bfdd-a5ef-9db0-6fcf-3bf49e5b3167?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 10 May 2022 00:01:33 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA32183E8BDAAB\u0022",
        "Last-Modified": "Tue, 10 May 2022 00:01:33 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-7c77bfdd-a5ef-9db0-6fcf-3bf49e5b3167/test-blob-38e33ccc-84b8-3077-1e6d-cb86c5699cdd",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 10 May 2022 00:01:33 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": "n7wrfBZqV8sBiplpbFE2Kcs0fp//o4CCqPwuwk24ezsQa7\u002BqGobwC6eQjF3J8Hatops4PSnVzfs7qdQaPJV\u002BSA5eWQCRjA9FQ3P3bhYjuLeFgSCxgD4ROp3EbnCy1s4SEUROa5Z1HBWM8/m23l/kGPEclLt1zcjPTB9jzR2ekm2k5V3S1EwgD2UKJYxFWls\u002B31Z/lUITnER7fx53Ek737WGMEvkBEUSk\u002B4RWa6g8ivLDJO3HH/wrkEgYV1UuqfwWEjcruUhiPM0R2pq9vTGcP/Qss\u002B5gMM5kYYGw6brvdlKIP1hwENGpYOcgtUVibtMWfBdgAfUOteJpxljHslM[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-7c77bfdd-a5ef-9db0-6fcf-3bf49e5b3167/test-blob-38e33ccc-84b8-3077-1e6d-cb86c5699cdd",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 May 2022 00:01:34 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA32183E9BC605\u0022",
        "Last-Modified": "Tue, 10 May 2022 00:01:33 GMT",
        "x-ms-blob-content-md5": "b8VWAPVgkNAz3\u002BdF0GUdNw==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 10 May 2022 00:01:33 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-06-08",
        "x-ms-version-id": "2022-05-10T00:01:33.7356560Z"
      },
      "ResponseBody": "n7wrfBZqV8sBiplpbFE2Kcs0fp//o4CCqPwuwk24ezsQa7\u002BqGobwC6eQjF3J8Hatops4PSnVzfs7qdQaPJV\u002BSA5eWQCRjA9FQ3P3bhYjuLeFgSCxgD4ROp3EbnCy1s4SEUROa5Z1HBWM8/m23l/kGPEclLt1zcjPTB9jzR2ekm2k5V3S1EwgD2UKJYxFWls\u002B31Z/lUITnER7fx53Ek737WGMEvkBEUSk\u002B4RWa6g8ivLDJO3HH/wrkEgYV1UuqfwWEjcruUhiPM0R2pq9vTGcP/Qss\u002B5gMM5kYYGw6brvdlKIP1hwENGpYOcgtUVibtMWfBdgAfUOteJpxljHslMTImNINH3ZKy4ig1MHQHqIAvOtmm2ijnRceop2B0p54a6UDJPhGjlVPVDpPX6iB3Ro4MRlGRf[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-7c77bfdd-a5ef-9db0-6fcf-3bf49e5b3167?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 May 2022 00:01:34 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "430572321",
    "Storage_TestConfigDefault": "ProductionTenant\njaschrepragrs\nU2FuaXRpemVk\nhttps://jaschrepragrs.blob.core.windows.net\nhttps://jaschrepragrs.file.core.windows.net\nhttps://jaschrepragrs.queue.core.windows.net\nhttps://jaschrepragrs.table.core.windows.net\n\n\n\n\nhttps://jaschrepragrs-secondary.blob.core.windows.net\nhttps://jaschrepragrs-secondary.file.core.windows.net\nhttps://jaschrepragrs-secondary.queue.core.windows.net\nhttps://jaschrepragrs-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jaschrepragrs.blob.core.windows.net/;QueueEndpoint=https://jaschrepragrs.queue.core.windows.net/;FileEndpoint=https://jaschrepragrs.file.core.windows.net/;BlobSecondaryEndpoint=https://jaschrepragrs-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jaschrepragrs-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jaschrepragrs-secondary.file.core.windows.net/;AccountName=jaschrepragrs;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
