{
  "Entries": [
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-165a7214-1eb7-b859-b4ec-205e9ca5cd2c?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 09 May 2022 22:02:47 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA3207A71F01FC\u0022",
        "Last-Modified": "Mon, 09 May 2022 22:02:47 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-165a7214-1eb7-b859-b4ec-205e9ca5cd2c/test-blob-f0a0e78d-60f0-04e8-f708-cb9d19d350dd?comp=block\u0026blockid=AAIAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-MD5": "gBqyuZFlmC2yTI6dtLZ6OQ==",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Mon, 09 May 2022 22:02:47 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": "g\u002B35MzenmZjE\u002BD\u002Br2G3aFrMBgeTCZaR4ZOqCOt\u002BREn9tiDU2slz/cR\u002BjdZHfv6oIjhnTyF/6jh5JgM5MJF64M\u002BXAPU84o2RWAg/EHvATmaVAeqzFvUofc/oX7TGNskzB6kKrHoFaz\u002Bq0fcZPNm8uNucpDKqx83WboMpVIbUzyE/CAzStZ3oj5arCEECE0DyK6bdJZKaiD/fMEH63Ba00gbR2jDM7gM5sBiYA7\u002BI1Fs\u002BNyjj\u002B6WSpIPM84Vb8bOD8jY\u002BLDUQJT2jp3V1/oiAVl/muKTp1NpdQzGs//p93b5lGA2FSqgmLg3rPFQwGKn7SJ0ldTUKmh1b3OkHYylHJcW3DOZ6\u002Bwu3wI6a/pSGLSqLsbdZVGiJXoHsLWm/HsrkpBqOfQvDfE2VcbCqc5uI0bPCf61x6c1dLbJkjs2d\u002BKHDslp5\u002B7AixDFlx\u002Ba33u7mZ1u5/KMZcrpJMU9VXvF/93kS6r1BDtoDo7d4CCHqpVLHfit15/v\u002Bpj\u002BcMMZgyWVD6dBtpPAtpVR9tljroWaUYo/8keDKCg99EER9oN4XntZSOCJRfQBeldTS9DGfFwTVB9I6ZDeEdd/A8JSrrAR6aheGmWVARuWLnfgL9xHd3flDpJ0P3TqiycJGjIhrsunQWI4aGHmflMDorsY/fILN5xKbaAdnbozc48\u002Bi/bZZI\u002BsQ=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "gBqyuZFlmC2yTI6dtLZ6OQ==",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-165a7214-1eb7-b859-b4ec-205e9ca5cd2c/test-blob-f0a0e78d-60f0-04e8-f708-cb9d19d350dd?comp=block\u0026blockid=AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-MD5": "YTyIdx4Se4E0MN3R/DDuaQ==",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Mon, 09 May 2022 22:[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-165a7214-1eb7-b859-b4ec-205e9ca5cd2c/test-blob-f0a0e78d-60f0-04e8-f708-cb9d19d350dd?comp=blocklist",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "x-ms-date": "Mon, 09 May 2022 22:02:48 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": "\uFEFF\u003CBlockList\u003E\u003CLatest\u003EAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\u003C/Latest\u003E\u003CLatest\u003EAAIAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\u003C/Latest\u003E\u003C/BlockList\u003E",
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA3207A745244F\u0022",
        "Last-Modified": "Mon, 09 May 2022 22:02:47 GMT",
        "x-ms-content-crc64": "uZyvATng5EM=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08",
        "x-ms-version-id": "2022-05-09T22:02:47.8842712Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-165a7214-1eb7-b859-b4ec-205e9ca5cd2c?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 09 May 2022 22:02:48 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1654408790",
    "Storage_TestConfigDefault": "ProductionTenant\njaschrepragrs\nU2FuaXRpemVk\nhttps://jaschrepragrs.blob.core.windows.net\nhttps://jaschrepragrs.file.core.windows.net\nhttps://jaschrepragrs.queue.core.windows.net\nhttps://jaschrepragrs.table.core.windows.net\n\n\n\n\nhttps://jaschrepragrs-secondary.blob.core.windows.net\nhttps://jaschrepragrs-secondary.file.core.windows.net\nhttps://jaschrepragrs-secondary.queue.core.windows.net\nhttps://jaschrepragrs-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jaschrepragrs.blob.core.windows.net/;QueueEndpoint=https://jaschrepragrs.queue.core.windows.net/;FileEndpoint=https://jaschrepragrs.file.core.windows.net/;BlobSecondaryEndpoint=https://jaschrepragrs-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jaschrepragrs-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jaschrepragrs-secondary.file.core.windows.net/;AccountName=jaschrepragrs;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
