{
  "Entries": [
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-542ca09a-2443-4c21-d704-caf3360129f2?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 10 May 2022 00:01:32 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA32183DFAACB6\u0022",
        "Last-Modified": "Tue, 10 May 2022 00:01:32 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-542ca09a-2443-4c21-d704-caf3360129f2/test-blob-afff31ee-3e9d-44e5-33b0-512d606f5ae3",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 10 May 2022 00:01:33 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": "71Nvb5wZSc9EX8HyMcrYtAPy3uwTU3TFwDGC5ZdNy1HrcmcgtJE7\u002BgEfkR5oljVnOH4LDmN5bZvfqa9rl2M395RvB79itwBxtuPq88JVXCn7Gq0ZQbzucQTLQQriz2Od55mK\u002BI92BIB\u002Bmlh/jnnZiUyFcHy1HrXYgZa6lnb2juaATQwoy2SZhRUsm6ZjbuKL8re9XF/n58jksXf5u24Khwxx/0FssL7o7OtmiYMOdBKzLqS\u002BODKHmGVERBntoMmnIROa8W\u002BhHkH41HBzgF5E1T1kRY3JTE7a6mbcKGyl\u002B0sivmdwc4KjEg9ixWTBExgG/2/biFo83tXEwA[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-542ca09a-2443-4c21-d704-caf3360129f2/test-blob-afff31ee-3e9d-44e5-33b0-512d606f5ae3",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 May 2022 00:01:33 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA32183E0B339D\u0022",
        "Last-Modified": "Tue, 10 May 2022 00:01:32 GMT",
        "x-ms-blob-content-md5": "kToTJeOU2MbYf5mRXGfb5w==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 10 May 2022 00:01:32 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-06-08",
        "x-ms-version-id": "2022-05-10T00:01:32.7871901Z"
      },
      "ResponseBody": "71Nvb5wZSc9EX8HyMcrYtAPy3uwTU3TFwDGC5ZdNy1HrcmcgtJE7\u002BgEfkR5oljVnOH4LDmN5bZvfqa9rl2M395RvB79itwBxtuPq88JVXCn7Gq0ZQbzucQTLQQriz2Od55mK\u002BI92BIB\u002Bmlh/jnnZiUyFcHy1HrXYgZa6lnb2juaATQwoy2SZhRUsm6ZjbuKL8re9XF/n58jksXf5u24Khwxx/0FssL7o7OtmiYMOdBKzLqS\u002BODKHmGVERBntoMmnIROa8W\u002BhHkH41HBzgF5E1T1kRY3JTE7a6mbcKGyl\u002B0sivmdwc4KjEg9ixWTBExgG/2/biFo83tXEwAYJxPbVU9gkUcH202G6wTN9ZobqGNdN1Sj8yXPx5uCRrLJ7mk0ZjXKLncFWECsNIccmv3dP2q[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-542ca09a-2443-4c21-d704-caf3360129f2?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 May 2022 00:01:33 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "706901020",
    "Storage_TestConfigDefault": "ProductionTenant\njaschrepragrs\nU2FuaXRpemVk\nhttps://jaschrepragrs.blob.core.windows.net\nhttps://jaschrepragrs.file.core.windows.net\nhttps://jaschrepragrs.queue.core.windows.net\nhttps://jaschrepragrs.table.core.windows.net\n\n\n\n\nhttps://jaschrepragrs-secondary.blob.core.windows.net\nhttps://jaschrepragrs-secondary.file.core.windows.net\nhttps://jaschrepragrs-secondary.queue.core.windows.net\nhttps://jaschrepragrs-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jaschrepragrs.blob.core.windows.net/;QueueEndpoint=https://jaschrepragrs.queue.core.windows.net/;FileEndpoint=https://jaschrepragrs.file.core.windows.net/;BlobSecondaryEndpoint=https://jaschrepragrs-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jaschrepragrs-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jaschrepragrs-secondary.file.core.windows.net/;AccountName=jaschrepragrs;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
