{
  "Entries": [
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-bcea4150-155d-4ebb-b7dd-597373def75b?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 09 May 2022 23:57:43 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA3217B57A3679\u0022",
        "Last-Modified": "Mon, 09 May 2022 23:57:43 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-bcea4150-155d-4ebb-b7dd-597373def75b/test-blob-9dfe956c-dd2a-a7df-0bdd-563f7738ea07",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Mon, 09 May 2022 23:57:44 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": "agJN6M/xjuswo7ObI4/PwHP4gcuph/h4dk54bBRXcqWHtcF7qYKRABlJP8CArs/AhpBF2\u002BFukuMK1HGAeSHW2DANE23OUxfwZoCyYEg3\u002BMd\u002Bt\u002BaDEZfEGSPdcNQQEYb3cmaQc5ti8jJ5VXRgvDKb09ypAcI7U8aZSflK8OJC4FX6uu3hpoQsHMWzCrwiY1zwQp34Zg/Eux\u002Bg9yqhFwFPNnQfZgJEuixXfeX8iEgJduWdWa1FSnlGNf/OQK5aiwTDY9NIA/xarIhwoOkpxzPWloBEA75TCuz72DECdXl9/fHgOSR0wXPpQ60l1amQHW3M96kuFYhGb1nmTCrKVzY[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-bcea4150-155d-4ebb-b7dd-597373def75b/test-blob-9dfe956c-dd2a-a7df-0bdd-563f7738ea07",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 09 May 2022 23:57:44 GMT",
        "x-ms-range": "bytes=0-511",
        "x-ms-range-get-content-crc64": "true",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-511/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA3217B5896181\u0022",
        "Last-Modified": "Mon, 09 May 2022 23:57:43 GMT",
        "x-ms-blob-content-md5": "qsWak82UKcqFhZISWtReQg==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-content-crc64": "dyqOMsi4XS4=",
        "x-ms-creation-time": "Mon, 09 May 2022 23:57:43 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-06-08",
        "x-ms-version-id": "2022-05-09T23:57:43.7662593Z"
      },
      "ResponseBody": "agJN6M/xjuswo7ObI4/PwHP4gcuph/h4dk54bBRXcqWHtcF7qYKRABlJP8CArs/AhpBF2\u002BFukuMK1HGAeSHW2DANE23OUxfwZoCyYEg3\u002BMd\u002Bt\u002BaDEZfEGSPdcNQQEYb3cmaQc5ti8jJ5VXRgvDKb09ypAcI7U8aZSflK8OJC4FX6uu3hpoQsHMWzCrwiY1zwQp34Zg/Eux\u002Bg9yqhFwFPNnQfZgJEuixXfeX8iEgJduWdWa1FSnlGNf/OQK5aiwTDY9NIA/xarIhwoOkpxzPWloBEA75TCuz72DECdXl9/fHgOSR0wXPpQ60l1amQHW3M96kuFYhGb1nmTCrKVzYP8qL4SY4OYtUNW8AQLjVDa7vENn7PT\u002BdomcnLjnRIHut2FeIGl9PevpXUIbrINkEjo\u002BFvBiG4P6K7j6/FQtNgxD3UmRhSPNPn5Xjo\u002By4toGOIp\u002BqT2RfKvtZASwgjGXzBc1x985wo0WcNiCGpz0Nzje5MPJrpzeslCdpCEvDKw8v8JojSr6zGX9aDhVD1Ie\u002BSzL0a193h2KZxV\u002BrB5r92Q8RWrai7od5Bhd3DZUeaL\u002Bjrr0YzsOzuGk7hYFjCBXkXDUKMn3RH1yrf2FH/HXJf1ycB1jZ4Q5LYaJJa2kGFf4BkrFgEDZB0pNgbU9ia7vzbgokwwC5CnsmwtDbh7f3pWVk="
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-bcea4150-155d-4ebb-b7dd-597373def75b/test-blob-9dfe956c-dd2a-a7df-0bdd-563f7738ea07",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8DA3217B5896181\u0022",
        "x-ms-date": "Mon, 09 May 2022 23:57:44 GMT",
        "x-ms-range": "bytes=512-1023",
        "x-ms-range-get-content-crc64": "true",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 512-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA3217B5896181\u0022",
        "Last-Modified": "Mon, 09 May 2022 23:57:4[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-bcea4150-155d-4ebb-b7dd-597373def75b?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 09 May 2022 23:57:44 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "2001942512",
    "Storage_TestConfigDefault": "ProductionTenant\njaschrepragrs\nU2FuaXRpemVk\nhttps://jaschrepragrs.blob.core.windows.net\nhttps://jaschrepragrs.file.core.windows.net\nhttps://jaschrepragrs.queue.core.windows.net\nhttps://jaschrepragrs.table.core.windows.net\n\n\n\n\nhttps://jaschrepragrs-secondary.blob.core.windows.net\nhttps://jaschrepragrs-secondary.file.core.windows.net\nhttps://jaschrepragrs-secondary.queue.core.windows.net\nhttps://jaschrepragrs-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jaschrepragrs.blob.core.windows.net/;QueueEndpoint=https://jaschrepragrs.queue.core.windows.net/;FileEndpoint=https://jaschrepragrs.file.core.windows.net/;BlobSecondaryEndpoint=https://jaschrepragrs-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jaschrepragrs-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jaschrepragrs-secondary.file.core.windows.net/;AccountName=jaschrepragrs;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
