{
  "Entries": [
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-28a9c4b8-b06b-c467-c3c8-74fbcea1df91?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 09 May 2022 21:51:04 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA32060398E002\u0022",
        "Last-Modified": "Mon, 09 May 2022 21:51:03 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-28a9c4b8-b06b-c467-c3c8-74fbcea1df91/test-blob-4086fbaf-6b8a-eceb-ce81-82eb79e67642",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-content-crc64": "XIh9\u002BZx8HKw=",
        "x-ms-date": "Mon, 09 May 2022 21:51:04 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": "UzbAvmK6OvY6a9S29SqHuMd\u002BERpsfPPnRbSGRJ/VuPZBmekFS0GTL3g\u002BKDJ/mcbCYWnsBkxZtNdD2HmuM/ZXZLPddVxAgmyF6uKhLlTAZ6vtxOM16bKq5\u002BQSwnLI5PyC5sN\u002BoiRqgt/9Zhtqt4aDgnDNwW4TIXsBMo13Lr/5vQblH0eQQcSHg0IDOIKWQC9ej0AC\u002ByONb8VIfXCW8lMfA6kVhJg\u002B8kCrRT4sD\u002Bj4avJdGZ5/98LiWLCBR8RU8ZDu4zXZgbyXH5z/VrXlYF/cTxJ\u002BOdm1oAznMivovKt8V1StPiuzH\u002Bk1xfk[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-28a9c4b8-b06b-c467-c3c8-74fbcea1df91?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 09 May 2022 21:51:04 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1820108336",
    "Storage_TestConfigDefault": "ProductionTenant\njaschrepragrs\nU2FuaXRpemVk\nhttps://jaschrepragrs.blob.core.windows.net\nhttps://jaschrepragrs.file.core.windows.net\nhttps://jaschrepragrs.queue.core.windows.net\nhttps://jaschrepragrs.table.core.windows.net\n\n\n\n\nhttps://jaschrepragrs-secondary.blob.core.windows.net\nhttps://jaschrepragrs-secondary.file.core.windows.net\nhttps://jaschrepragrs-secondary.queue.core.windows.net\nhttps://jaschrepragrs-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jaschrepragrs.blob.core.windows.net/;QueueEndpoint=https://jaschrepragrs.queue.core.windows.net/;FileEndpoint=https://jaschrepragrs.file.core.windows.net/;BlobSecondaryEndpoint=https://jaschrepragrs-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jaschrepragrs-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jaschrepragrs-secondary.file.core.windows.net/;AccountName=jaschrepragrs;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
