{
  "Entries": [
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-6abc9043-0a59-158f-4273-ae698e81fab8?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 09 May 2022 22:02:45 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA3207A5784A92\u0022",
        "Last-Modified": "Mon, 09 May 2022 22:02:44 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-6abc9043-0a59-158f-4273-ae698e81fab8/test-blob-8105d34c-db0a-a03a-a48a-5947969d7e8b?comp=block\u0026blockid=AAIAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-MD5": "H0KVs5whPEulAbgR4S1CWQ==",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Mon, 09 May 2022 22:02:45 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": "fcc/MpWkMRvvKUD/S\u002BcfVBI8huMUT7DWvUylHXvwSSm0fabPkMmM\u002BSd9TuCKAM4FQ/gu89IUxi4XaHRI/hOg/t8XSs1AT8NIr4y7lwDPTL1\u002BoNmDwVZWn7Z4uChVRPsT3U8AcrUAxPQ05kNFWC8tRxy2yV05HTyJwasWyJab82uRqLmwztoHftzlTtsSEEeHSnAMnnqd2cATdrAK6ftdmPLYs7B2fHlBr0uBVM5gd7Bjj30lj1Tw9M75nVcp/ZTgh7XoOlyXEM73yu8vG4Xxsv8Ap1l\u002BNwie57/hfd4hGLK2ocwYdzxTy3\u002BuLsVkwdlIB\u002BtXKFU7YU\u002BsSlOdtZPw1rE9eHm42TrDrNvazwlDOiXmmXXyye9ce0B9bC3pthXrvlcTJ0hfkC6xlHx6YJJGaRAttxwd/QzB4f05O2wM2vXF7xCyLxPchghHQTRz4hqtNwIdu/75zcFKUUVLJlXBpLqGtHGBlDn9UTET1rvXTv/iiwRq7h/3zCFOZ93NkWCzhp167C2oLKPIIGrN5fcGcgNGaJpRV7Wbj\u002BdQMyxcL7/QX08eXWLROl9goc60KeYpSPTahyjGYi/n31xGWPh2bPGq/YWn6BWgdS468Lbn5mYBJuo4gaiXCv0gNn0Fi\u002BFm6jTdCitggmDeOhH5i3J5APn2RTEOPetIEvKIhrGYmuk=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "H0KVs5whPEulAbgR4S1CWQ==",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-6abc9043-0a59-158f-4273-ae698e81fab8/test-blob-8105d34c-db0a-a03a-a48a-5947969d7e8b?comp=block\u0026blockid=AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-MD5": "5bIokNouenKxj6WHmeDBHw==",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Mon, 09 May 2022 22:[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-6abc9043-0a59-158f-4273-ae698e81fab8/test-blob-8105d34c-db0a-a03a-a48a-5947969d7e8b?comp=blocklist",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "x-ms-date": "Mon, 09 May 2022 22:02:45 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": "\uFEFF\u003CBlockList\u003E\u003CLatest\u003EAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\u003C/Latest\u003E\u003CLatest\u003EAAIAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\u003C/Latest\u003E\u003C/BlockList\u003E",
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA3207A5995FA8\u0022",
        "Last-Modified": "Mon, 09 May 2022 22:02:45 GMT",
        "x-ms-content-crc64": "uZyvATng5EM=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08",
        "x-ms-version-id": "2022-05-09T22:02:45.0798504Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-6abc9043-0a59-158f-4273-ae698e81fab8?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 09 May 2022 22:02:45 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1593379351",
    "Storage_TestConfigDefault": "ProductionTenant\njaschrepragrs\nU2FuaXRpemVk\nhttps://jaschrepragrs.blob.core.windows.net\nhttps://jaschrepragrs.file.core.windows.net\nhttps://jaschrepragrs.queue.core.windows.net\nhttps://jaschrepragrs.table.core.windows.net\n\n\n\n\nhttps://jaschrepragrs-secondary.blob.core.windows.net\nhttps://jaschrepragrs-secondary.file.core.windows.net\nhttps://jaschrepragrs-secondary.queue.core.windows.net\nhttps://jaschrepragrs-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jaschrepragrs.blob.core.windows.net/;QueueEndpoint=https://jaschrepragrs.queue.core.windows.net/;FileEndpoint=https://jaschrepragrs.file.core.windows.net/;BlobSecondaryEndpoint=https://jaschrepragrs-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jaschrepragrs-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jaschrepragrs-secondary.file.core.windows.net/;AccountName=jaschrepragrs;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
