{
  "Entries": [
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-0431f41f-4f54-337a-010a-b01c7355dee3?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 10 May 2022 00:01:36 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA32184009B681\u0022",
        "Last-Modified": "Tue, 10 May 2022 00:01:36 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-0431f41f-4f54-337a-010a-b01c7355dee3/test-blob-f5a32593-4088-5818-d2b8-3065795a1d75",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 10 May 2022 00:01:36 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": "ldS1SQqM0/r9SgD7XfY/58Jkp1FX6zzd/21N7HJloORdX\u002B4fZP9A6E4D9F3lGeD1TsvO4XeqOqmY10mdPuaHl6kcnv4IIILCJL8CU/bf\u002BOaMWJ6ml79ssyREh4y1o6loe1yzyXri7C5IC723p\u002BayuN9iEOZH4ADqr\u002BvZw5j1DYEVmdiaKy9sqmtwXosCtAs9ks6tUpLDIJpbyRmPCCmVU/47og4OGI2v9mZ614J15/rfnDHJR7ruUng9PmIV3aFC2guMxhL9LnlB/lwsSEkY5uEer2z3ywtETU\u002BV0dormRnEOPx36SHo4m23iEldwgkvJFeA9y41Sg7/SHnCaFy[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-0431f41f-4f54-337a-010a-b01c7355dee3/test-blob-f5a32593-4088-5818-d2b8-3065795a1d75",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 May 2022 00:01:36 GMT",
        "x-ms-range": "bytes=0-511",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-511/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA3218401A1887\u0022",
        "Last-Modified": "Tue, 10 May 2022 00:01:36 GMT",
        "x-ms-blob-content-md5": "Wv4upNCDsi9VIOXjpMsK6A==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 10 May 2022 00:01:36 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-06-08",
        "x-ms-version-id": "2022-05-10T00:01:36.2402439Z"
      },
      "ResponseBody": "ldS1SQqM0/r9SgD7XfY/58Jkp1FX6zzd/21N7HJloORdX\u002B4fZP9A6E4D9F3lGeD1TsvO4XeqOqmY10mdPuaHl6kcnv4IIILCJL8CU/bf\u002BOaMWJ6ml79ssyREh4y1o6loe1yzyXri7C5IC723p\u002BayuN9iEOZH4ADqr\u002BvZw5j1DYEVmdiaKy9sqmtwXosCtAs9ks6tUpLDIJpbyRmPCCmVU/47og4OGI2v9mZ614J15/rfnDHJR7ruUng9PmIV3aFC2guMxhL9LnlB/lwsSEkY5uEer2z3ywtETU\u002BV0dormRnEOPx36SHo4m23iEldwgkvJFeA9y41Sg7/SHnCaFyfFmRDaBBMoP3ANs3\u002BP0PB5opGZayCqqLrju3ud6CoJXkQGHHlGlr544Rav8BgNwvLPmLufAKwHGvCWNkiXihcGBBT7SfR3MswTYIoKOvhilfiIjk\u002Bual3YPwFIsKA1oVb/aewDUnk\u002BWGWvS6Ah/SA4M6CQDvuHl5m3I0qy7kJr3f9zCpEMHwN/inXqPt79tkIhUL0/pVJbN9ISTG8uS2ojQ23g7rJPK9RdEISF3Zj6\u002BW0IkZ3FbHhs2BK/OdKUUT7Lxruw3IePkmSoolTN1Vp5V5LCJfnMXhc1tBafz/IByP9FudbdSdyleP85XIojXwK4BaI/kmtFP6ike2iw78JyZs="
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-0431f41f-4f54-337a-010a-b01c7355dee3/test-blob-f5a32593-4088-5818-d2b8-3065795a1d75",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8DA3218401A1887\u0022",
        "x-ms-date": "Tue, 10 May 2022 00:01:36 GMT",
        "x-ms-range": "bytes=512-1023",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 512-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA3218401A1887\u0022",
        "Last-Modified": "Tue, 10 May 2022 00:01:36 GMT",
        "x-ms-blob-content-md5": "Wv4upN[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-0431f41f-4f54-337a-010a-b01c7355dee3?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 May 2022 00:01:36 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1337004767",
    "Storage_TestConfigDefault": "ProductionTenant\njaschrepragrs\nU2FuaXRpemVk\nhttps://jaschrepragrs.blob.core.windows.net\nhttps://jaschrepragrs.file.core.windows.net\nhttps://jaschrepragrs.queue.core.windows.net\nhttps://jaschrepragrs.table.core.windows.net\n\n\n\n\nhttps://jaschrepragrs-secondary.blob.core.windows.net\nhttps://jaschrepragrs-secondary.file.core.windows.net\nhttps://jaschrepragrs-secondary.queue.core.windows.net\nhttps://jaschrepragrs-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jaschrepragrs.blob.core.windows.net/;QueueEndpoint=https://jaschrepragrs.queue.core.windows.net/;FileEndpoint=https://jaschrepragrs.file.core.windows.net/;BlobSecondaryEndpoint=https://jaschrepragrs-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jaschrepragrs-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jaschrepragrs-secondary.file.core.windows.net/;AccountName=jaschrepragrs;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
