{
  "Entries": [
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-03beb06a-d339-d9d5-bc70-77564ac7af1f?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 09 May 2022 23:57:55 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA3217BC539BF6\u0022",
        "Last-Modified": "Mon, 09 May 2022 23:57:55 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-03beb06a-d339-d9d5-bc70-77564ac7af1f/test-blob-075e9cde-08df-f6ec-c5cf-5f9aa2958c6b",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Mon, 09 May 2022 23:57:55 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": "ORQTariqTfxamrNSvZhk5tIDXkalpcHB89Qb0wKlaeQwyAJhwzK8TLYlr8M1I5t5SYXdtwxwp5RSUXfkj3n6tTDOIfWWAyOfRxKQgPb\u002Bi884oop8yLHXwCFuD3G72Lw8KvmSZwKm4kViPXD63yadVMWnq\u002B3ufe1/9mHTKPSx5G5VU1X9ayTNkb9EGotA3eD60bqsEyzPTa0LE3Gg07pRsFgBpIvRoOig2hkuqmJiPhiA2Fc5BNBChgWo8VezLL4E82oyPjlVKTDSCzkToKNKqdRYIPtjGKuIvx2GKa\u002BR7a1bKbf4LwDfK64mZ/mWL\u002BZhXUeDWwzDodq\u002Bqn4bzv\[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-03beb06a-d339-d9d5-bc70-77564ac7af1f/test-blob-075e9cde-08df-f6ec-c5cf-5f9aa2958c6b",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 09 May 2022 23:57:55 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-range-get-content-crc64": "true",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA3217BC62B239\u0022",
        "Last-Modified": "Mon, 09 May 2022 23:57:55 GMT",
        "x-ms-blob-content-md5": "M6nsl6w\u002BC9jx/e4ZBDlkMQ==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-content-crc64": "xo7s2tNpN3w=",
        "x-ms-creation-time": "Mon, 09 May 2022 23:57:55 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-06-08",
        "x-ms-version-id": "2022-05-09T23:57:55.2567865Z"
      },
      "ResponseBody": "ORQTariqTfxamrNSvZhk5tIDXkalpcHB89Qb0wKlaeQwyAJhwzK8TLYlr8M1I5t5SYXdtwxwp5RSUXfkj3n6tTDOIfWWAyOfRxKQgPb\u002Bi884oop8yLHXwCFuD3G72Lw8KvmSZwKm4kViPXD63yadVMWnq\u002B3ufe1/9mHTKPSx5G5VU1X9ayTNkb9EGotA3eD60bqsEyzPTa0LE3Gg07pRsFgBpIvRoOig2hkuqmJiPhiA2Fc5BNBChgWo8VezLL4E82oyPjlVKTDSCzkToKNKqdRYIPtjGKuIvx2GKa\u002BR7a1bKbf4LwDfK64mZ/mWL\u002BZhXUeDWwzDodq\u002Bqn4bzv\u002BBQR6Mt3fsUXnUePVMPbCy8ZA3JMtnDZKhl4jcOoWBxFyvpCbbCndudQzOruIXdmMqDL[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-03beb06a-d339-d9d5-bc70-77564ac7af1f?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 09 May 2022 23:57:55 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "2119481727",
    "Storage_TestConfigDefault": "ProductionTenant\njaschrepragrs\nU2FuaXRpemVk\nhttps://jaschrepragrs.blob.core.windows.net\nhttps://jaschrepragrs.file.core.windows.net\nhttps://jaschrepragrs.queue.core.windows.net\nhttps://jaschrepragrs.table.core.windows.net\n\n\n\n\nhttps://jaschrepragrs-secondary.blob.core.windows.net\nhttps://jaschrepragrs-secondary.file.core.windows.net\nhttps://jaschrepragrs-secondary.queue.core.windows.net\nhttps://jaschrepragrs-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jaschrepragrs.blob.core.windows.net/;QueueEndpoint=https://jaschrepragrs.queue.core.windows.net/;FileEndpoint=https://jaschrepragrs.file.core.windows.net/;BlobSecondaryEndpoint=https://jaschrepragrs-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jaschrepragrs-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jaschrepragrs-secondary.file.core.windows.net/;AccountName=jaschrepragrs;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
