{
  "Entries": [
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-969a04d6-5c04-b636-eada-1cbdfa14b7de?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 09 May 2022 22:02:49 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA3207A7EA95A9\u0022",
        "Last-Modified": "Mon, 09 May 2022 22:02:48 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-969a04d6-5c04-b636-eada-1cbdfa14b7de/test-blob-fb4cf2b9-ca78-41a5-21a8-1ba4c2a684d7?comp=block\u0026blockid=AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-MD5": "VyU96yf\u002BCDgdaqmgeyipxg==",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Mon, 09 May 2022 22:02:49 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": "9GSBjwJyFJVaRAVOVpe9fIUCViB0nEyeG3f2FAux1l/qCKuU7MYX9MULwE0mGbYZ07h0fNqriVcY43OLewCJqG2mY07rKJC\u002B6mJaaNz\u002BdwHA3UFSPFqEPn9TfAlSjHjFgRfggLVoLasotZF3UCB7GWtxy56\u002BNmwSISTOmKuGbF7plefEHvdMV6\u002BWKofIDe5e12Oe4MHaBkqrzV\u002BQmpX/okgzjbo5tvpzJXPuKAzkShM2b8BH6IudD4\u002BcGVGYu70alog\u002BlX8zJSFoKrtN690\u002BxoNLWirUt7m8lX4rnJ2p22q21JKEprSUA0mf3r7QUCOxXlLOTGCTRd7OgQABB4mDv05QlhdKuSDOtlfgNdj77EVaej1K2o8JI4\u002BztSS0k/vAHB9wgLkMZqUy/5YJshAF05W7po1LOOS/RnOIlgP7GiNbHxm5i2uLTROYGNv5/3B/ruKP\u002BOxudOM6sTlGhM\u002BhN\u002BRyrpP2TEgpL1l6siAJxUcCCOghayI27ao1f9kyRMhD9\u002BD3hlHdiGGaZciT88LDMOvyQ3vnf8vCPMHowcxu9uqQNrs/Ej/1JYCGhwVZovnock7uQAFNXHcUNEqQ9ceUK27eA7wGhB6r/B77YPjGaZnH/09\u002Bf7bpQtpDKt31ZTC58VuWep884e0vQ0TiUfx\u002BTsuxyPV4Fqy49MDiw1lBtpY=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "VyU96yf\u002BCDgdaqmgeyipxg==",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-969a04d6-5c04-b636-eada-1cbdfa14b7de/test-blob-fb4cf2b9-ca78-41a5-21a8-1ba4c2a684d7?comp=block\u0026blockid=AAIAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-MD5": "3m3GzeCCd4sggERMUv1UuA==",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Mon, 09 May 2022 22:[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-969a04d6-5c04-b636-eada-1cbdfa14b7de/test-blob-fb4cf2b9-ca78-41a5-21a8-1ba4c2a684d7?comp=blocklist",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "x-ms-date": "Mon, 09 May 2022 22:02:49 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": "\uFEFF\u003CBlockList\u003E\u003CLatest\u003EAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\u003C/Latest\u003E\u003CLatest\u003EAAIAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\u003C/Latest\u003E\u003C/BlockList\u003E",
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA3207A809DE8E\u0022",
        "Last-Modified": "Mon, 09 May 2022 22:02:49 GMT",
        "x-ms-content-crc64": "uZyvATng5EM=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08",
        "x-ms-version-id": "2022-05-09T22:02:49.1725454Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-969a04d6-5c04-b636-eada-1cbdfa14b7de?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 09 May 2022 22:02:49 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1954245332",
    "Storage_TestConfigDefault": "ProductionTenant\njaschrepragrs\nU2FuaXRpemVk\nhttps://jaschrepragrs.blob.core.windows.net\nhttps://jaschrepragrs.file.core.windows.net\nhttps://jaschrepragrs.queue.core.windows.net\nhttps://jaschrepragrs.table.core.windows.net\n\n\n\n\nhttps://jaschrepragrs-secondary.blob.core.windows.net\nhttps://jaschrepragrs-secondary.file.core.windows.net\nhttps://jaschrepragrs-secondary.queue.core.windows.net\nhttps://jaschrepragrs-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jaschrepragrs.blob.core.windows.net/;QueueEndpoint=https://jaschrepragrs.queue.core.windows.net/;FileEndpoint=https://jaschrepragrs.file.core.windows.net/;BlobSecondaryEndpoint=https://jaschrepragrs-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jaschrepragrs-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jaschrepragrs-secondary.file.core.windows.net/;AccountName=jaschrepragrs;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
