{
  "Entries": [
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-8fc67691-9bd2-111a-de19-a0bae3a19878?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 10 May 2022 00:01:36 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA3218405AFEC0\u0022",
        "Last-Modified": "Tue, 10 May 2022 00:01:36 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-8fc67691-9bd2-111a-de19-a0bae3a19878/test-blob-2ddb73c7-2511-15a5-f010-6064d228c066",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 10 May 2022 00:01:37 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": "5gfobFxPQ4SZURljdzfzBrYPLEBYO0iulRGlmKHogfY9iPsW7/Y0Pl7Fwt4gWS\u002ByIWQ95FLwQqu/OtZLqavisdAjJe473RfA2u3ik3hpjTzh8nY9qpykTUZQVrUg6ZSz4hAO/TNAdkRNfQlkDa8yVqyZabY0pQczf9io64Zin/BYLrBnW5AJoXwx8CyTPz\u002BWHQAIhoDefz0J2n5amIu\u002B6t4YC9//yvocj8c6ArXboD\u002BYEc2GWhhweq9zXoASrgnxcwVOejNgl1IF6/e4o3yILjo\u002Bwoa9OJDFqJEvi2x5CuG\u002BSY6vjCYMOHp6gG4huNcz6zBG0\u002ByDM[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-8fc67691-9bd2-111a-de19-a0bae3a19878/test-blob-2ddb73c7-2511-15a5-f010-6064d228c066",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 May 2022 00:01:37 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA3218406B3A10\u0022",
        "Last-Modified": "Tue, 10 May 2022 00:01:36 GMT",
        "x-ms-blob-content-md5": "PFuSb6FfuG2q1\u002B9pWfV82Q==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 10 May 2022 00:01:36 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-06-08",
        "x-ms-version-id": "2022-05-10T00:01:36.7729427Z"
      },
      "ResponseBody": "5gfobFxPQ4SZURljdzfzBrYPLEBYO0iulRGlmKHogfY9iPsW7/Y0Pl7Fwt4gWS\u002ByIWQ95FLwQqu/OtZLqavisdAjJe473RfA2u3ik3hpjTzh8nY9qpykTUZQVrUg6ZSz4hAO/TNAdkRNfQlkDa8yVqyZabY0pQczf9io64Zin/BYLrBnW5AJoXwx8CyTPz\u002BWHQAIhoDefz0J2n5amIu\u002B6t4YC9//yvocj8c6ArXboD\u002BYEc2GWhhweq9zXoASrgnxcwVOejNgl1IF6/e4o3yILjo\u002Bwoa9OJDFqJEvi2x5CuG\u002BSY6vjCYMOHp6gG4huNcz6zBG0\u002ByDMzt1idGiMQvmjOEW\u002BVrt2KETMooLQrcho/C5\u002B6A7Mzb0OxVTOgNUaQZulPSNC75[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-8fc67691-9bd2-111a-de19-a0bae3a19878?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 May 2022 00:01:37 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "65354790",
    "Storage_TestConfigDefault": "ProductionTenant\njaschrepragrs\nU2FuaXRpemVk\nhttps://jaschrepragrs.blob.core.windows.net\nhttps://jaschrepragrs.file.core.windows.net\nhttps://jaschrepragrs.queue.core.windows.net\nhttps://jaschrepragrs.table.core.windows.net\n\n\n\n\nhttps://jaschrepragrs-secondary.blob.core.windows.net\nhttps://jaschrepragrs-secondary.file.core.windows.net\nhttps://jaschrepragrs-secondary.queue.core.windows.net\nhttps://jaschrepragrs-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jaschrepragrs.blob.core.windows.net/;QueueEndpoint=https://jaschrepragrs.queue.core.windows.net/;FileEndpoint=https://jaschrepragrs.file.core.windows.net/;BlobSecondaryEndpoint=https://jaschrepragrs-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jaschrepragrs-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jaschrepragrs-secondary.file.core.windows.net/;AccountName=jaschrepragrs;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
