{
  "Entries": [
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-adfd0e4c-2a16-91fa-4467-8c2bf95cdc9b?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 09 May 2022 23:57:52 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA3217BAA0FF06\u0022",
        "Last-Modified": "Mon, 09 May 2022 23:57:52 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-adfd0e4c-2a16-91fa-4467-8c2bf95cdc9b/test-blob-4ea96159-25b0-8be6-0ced-28836841a280",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Mon, 09 May 2022 23:57:52 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": "g09BGAh4EL7vy4n6ylUBEEnFAYCrMs105ZJWGHH\u002BdWP0MyJA8gW\u002BsWjyuwINkMnGpwzW9r2mgFCBzDN1IvdN8FYmBZYywB5EBk8XuHbLZlXJj3BkKH6lTrLRvybSSI9wpcqs54oylOfukvBuj8fatmXdrJKH6MjXgLfkYAH3cr2/pxOsHn7KlvuJdpWON77r9wjA9Jz96bwC1GfSTjPl9iAyrui0LZfnExaW/XIySUj4\u002BWj4N30hwr1WqUoW90fHpH91XInWN8lx2eGGZuxKz4sf2lXL7L6iEOwqXYRN0BvOz1nyvOy\u002BIcKeh16cmlvQDNm\u002B9x3y/LfB00udrNl[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-adfd0e4c-2a16-91fa-4467-8c2bf95cdc9b/test-blob-4ea96159-25b0-8be6-0ced-28836841a280",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 09 May 2022 23:57:52 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-range-get-content-crc64": "true",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA3217BAB3E0BB\u0022",
        "Last-Modified": "Mon, 09 May 2022 23:57:52 GMT",
        "x-ms-blob-content-md5": "c5AUtxkuTlxVaDJfTMo3ow==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-content-crc64": "hFnO/fb0UAw=",
        "x-ms-creation-time": "Mon, 09 May 2022 23:57:52 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-06-08",
        "x-ms-version-id": "2022-05-09T23:57:52.4333755Z"
      },
      "ResponseBody": "g09BGAh4EL7vy4n6ylUBEEnFAYCrMs105ZJWGHH\u002BdWP0MyJA8gW\u002BsWjyuwINkMnGpwzW9r2mgFCBzDN1IvdN8FYmBZYywB5EBk8XuHbLZlXJj3BkKH6lTrLRvybSSI9wpcqs54oylOfukvBuj8fatmXdrJKH6MjXgLfkYAH3cr2/pxOsHn7KlvuJdpWON77r9wjA9Jz96bwC1GfSTjPl9iAyrui0LZfnExaW/XIySUj4\u002BWj4N30hwr1WqUoW90fHpH91XInWN8lx2eGGZuxKz4sf2lXL7L6iEOwqXYRN0BvOz1nyvOy\u002BIcKeh16cmlvQDNm\u002B9x3y/LfB00udrNlFIwjFuJeTVxKeYbiTLGVgBXWQWVCqj9j929KiMemhIXXoWWRV1\u002BLEPbTGH5ZlXtBSYM[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-adfd0e4c-2a16-91fa-4467-8c2bf95cdc9b?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 09 May 2022 23:57:52 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "449612286",
    "Storage_TestConfigDefault": "ProductionTenant\njaschrepragrs\nU2FuaXRpemVk\nhttps://jaschrepragrs.blob.core.windows.net\nhttps://jaschrepragrs.file.core.windows.net\nhttps://jaschrepragrs.queue.core.windows.net\nhttps://jaschrepragrs.table.core.windows.net\n\n\n\n\nhttps://jaschrepragrs-secondary.blob.core.windows.net\nhttps://jaschrepragrs-secondary.file.core.windows.net\nhttps://jaschrepragrs-secondary.queue.core.windows.net\nhttps://jaschrepragrs-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jaschrepragrs.blob.core.windows.net/;QueueEndpoint=https://jaschrepragrs.queue.core.windows.net/;FileEndpoint=https://jaschrepragrs.file.core.windows.net/;BlobSecondaryEndpoint=https://jaschrepragrs-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jaschrepragrs-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jaschrepragrs-secondary.file.core.windows.net/;AccountName=jaschrepragrs;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
