{
  "Entries": [
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-97263255-6e7c-53d1-5804-f546a503fdcf?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 09 May 2022 23:57:40 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA3217B3979054\u0022",
        "Last-Modified": "Mon, 09 May 2022 23:57:40 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-97263255-6e7c-53d1-5804-f546a503fdcf/test-blob-6ca4259e-5db6-adc2-f89e-21a3b0fa4084",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Mon, 09 May 2022 23:57:40 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": "85E6EGO3k5xV0cd9Oq0S0lSs8O4O6NExsTz4IRe1qU1bZjCwSp/lniNXvyxMr4mt787S/ZG0vgq/CV4mvnGFnyd6IdN9Yoe1x1HLtyil5QKySzFI4qu7p6cl8EFAv\u002BCx0SAE0Y22L41GHTY/6QfiGiNcc3JAPLx7vnorV3FGdAdxGeUIoRR0/BujAsV1e72gQ9Ue5EttcJRjiBISi9gbAKkvzs8i2nkP53dWnTr3BkO8ixScJ5C8A6lQpBgBYXBDhwIbRa3ufWhcDvzTFtNabILPVgDDf9gZcsom0jZhDYYGExU328CVzQ2rQBiT6OzV9TeWMQtwgAgqAtPiyKsy\u002BgF2zAO\u002BI[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-97263255-6e7c-53d1-5804-f546a503fdcf/test-blob-6ca4259e-5db6-adc2-f89e-21a3b0fa4084",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 09 May 2022 23:57:40 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-range-get-content-crc64": "true",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA3217B3A61A26\u0022",
        "Last-Modified": "Mon, 09 May 2022 23:57:40 GMT",
        "x-ms-blob-content-md5": "Of2iOHyvNaslE/d1tsar5w==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-content-crc64": "/TmMC5jr4oM=",
        "x-ms-creation-time": "Mon, 09 May 2022 23:57:40 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-06-08",
        "x-ms-version-id": "2022-05-09T23:57:40.5990438Z"
      },
      "ResponseBody": "85E6EGO3k5xV0cd9Oq0S0lSs8O4O6NExsTz4IRe1qU1bZjCwSp/lniNXvyxMr4mt787S/ZG0vgq/CV4mvnGFnyd6IdN9Yoe1x1HLtyil5QKySzFI4qu7p6cl8EFAv\u002BCx0SAE0Y22L41GHTY/6QfiGiNcc3JAPLx7vnorV3FGdAdxGeUIoRR0/BujAsV1e72gQ9Ue5EttcJRjiBISi9gbAKkvzs8i2nkP53dWnTr3BkO8ixScJ5C8A6lQpBgBYXBDhwIbRa3ufWhcDvzTFtNabILPVgDDf9gZcsom0jZhDYYGExU328CVzQ2rQBiT6OzV9TeWMQtwgAgqAtPiyKsy\u002BgF2zAO\u002BI5DBOojyFz\u002B/hYreUNz\u002By9x6lpINDdntswVheEUXHRvoF9Kn1PeDfWjJan1JBHj[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-97263255-6e7c-53d1-5804-f546a503fdcf?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 09 May 2022 23:57:41 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1716119723",
    "Storage_TestConfigDefault": "ProductionTenant\njaschrepragrs\nU2FuaXRpemVk\nhttps://jaschrepragrs.blob.core.windows.net\nhttps://jaschrepragrs.file.core.windows.net\nhttps://jaschrepragrs.queue.core.windows.net\nhttps://jaschrepragrs.table.core.windows.net\n\n\n\n\nhttps://jaschrepragrs-secondary.blob.core.windows.net\nhttps://jaschrepragrs-secondary.file.core.windows.net\nhttps://jaschrepragrs-secondary.queue.core.windows.net\nhttps://jaschrepragrs-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jaschrepragrs.blob.core.windows.net/;QueueEndpoint=https://jaschrepragrs.queue.core.windows.net/;FileEndpoint=https://jaschrepragrs.file.core.windows.net/;BlobSecondaryEndpoint=https://jaschrepragrs-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jaschrepragrs-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jaschrepragrs-secondary.file.core.windows.net/;AccountName=jaschrepragrs;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
