{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-29ec10ed-0bcb-d707-dd32-451ce6d15b30?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 30 Mar 2022 00:23:52 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA11E39298EF90\u0022",
        "Last-Modified": "Wed, 30 Mar 2022 00:23:54 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-29ec10ed-0bcb-d707-dd32-451ce6d15b30/test-blob-022d7ff9-1923-7776-6a86-cc4ca7a4d5ef",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-content-crc64": "PXijfmZjdLg=",
        "x-ms-date": "Wed, 30 Mar 2022 00:23:52 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": "Tv9CFDeehqpwe8BUHqfQu9c1ca0Zzo\u002Bjv3FEudZvVGIJNBEH30bYDLINHCUtWKB7srFY55S/n39vn1XGWc3UACdeSumWyduQXGT7DLJqdmfRyAYkF2zNSpSRlz/wErPkOBv\u002Bzw225enVyIovw5PMBSnu9ZDGsOm6kABVBDGcn0qxF9OWa6dZGuMdTk7hnocBxZIVAh0iHYgyQz4NYeG3OSlAfay/NZmClNqtqWGa2fJ4Uz\u002Bfhpwsj/lLZChoTLkBZRUkoCDaQo/4k21CdHQnmGpMlA2iGLKMFO6zc9FxGkchq0NLdTjRnRGvp/Mv6huEI8y9G7irX0xjmIwxJ86\u002Bh[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-29ec10ed-0bcb-d707-dd32-451ce6d15b30?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 30 Mar 2022 00:23:52 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "38470208",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
