{
  "Entries": [
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-efe28237-860c-74b1-cdee-d0c7cada8094?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 09 May 2022 21:50:57 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA3205FF9D431E\u0022",
        "Last-Modified": "Mon, 09 May 2022 21:50:57 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-efe28237-860c-74b1-cdee-d0c7cada8094/test-blob-65307a5b-490d-f63c-b320-e98617a03a7f",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-content-crc64": "OrCDqcxlxNw=",
        "x-ms-date": "Mon, 09 May 2022 21:50:57 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": "TDLYtRJeipRK3NynN3f6OCRQO\u002BrKlyWTXJ3KQar6UDLCVO5HvRRsLVV6n5MOuA/9osAZZKa4MLUMRVh1lEnqT4uq5OKIs3sP5A2VUPeShKSNzJ/q4OuLCSQ4Oni895kMkE8HZNMsdO5ECoCYIt\u002B9esC058ep/2\u002BgHtu\u002BT3gDUux0icCoiiDRYViwpdVq8\u002BdEe7\u002B3BxDRYpDfZkX4biR1QbeUI5gfFPCg44Zv\u002BFmaNSrzedS5S0vboycvySTa2fIzOmQd1s9OJWfPFySKYmk2RTEaBPRQvPZsuYBx70vMxQqTO771fF9bpVRs6jMnUEC9\u002B[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-efe28237-860c-74b1-cdee-d0c7cada8094?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 09 May 2022 21:50:57 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "836397654",
    "Storage_TestConfigDefault": "ProductionTenant\njaschrepragrs\nU2FuaXRpemVk\nhttps://jaschrepragrs.blob.core.windows.net\nhttps://jaschrepragrs.file.core.windows.net\nhttps://jaschrepragrs.queue.core.windows.net\nhttps://jaschrepragrs.table.core.windows.net\n\n\n\n\nhttps://jaschrepragrs-secondary.blob.core.windows.net\nhttps://jaschrepragrs-secondary.file.core.windows.net\nhttps://jaschrepragrs-secondary.queue.core.windows.net\nhttps://jaschrepragrs-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jaschrepragrs.blob.core.windows.net/;QueueEndpoint=https://jaschrepragrs.queue.core.windows.net/;FileEndpoint=https://jaschrepragrs.file.core.windows.net/;BlobSecondaryEndpoint=https://jaschrepragrs-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jaschrepragrs-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jaschrepragrs-secondary.file.core.windows.net/;AccountName=jaschrepragrs;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
