{
  "Entries": [
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-eb733f06-900c-c408-31cc-22c4cf9bf289?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 09 May 2022 22:09:12 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA32088C21FBA0\u0022",
        "Last-Modified": "Mon, 09 May 2022 22:09:11 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-eb733f06-900c-c408-31cc-22c4cf9bf289/test-blob-a7115845-66df-1f00-eb70-147cd677ce61",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Mon, 09 May 2022 22:09:12 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": "9KtTMnP\u002BOg4AJHqMYMzUwgzmf034N6\u002BDso7u\u002Beya28HhQEdEGo3JRkeUurVdnccdh0mYjC9R97380IDkD0AhZUi4qyCEj6h\u002BHTkFZHz5JRTG0XGjAk\u002BSkEmKSEkN5DYGclRtpfKnmPigGW/2S5JAAqtrHj7OfmP5JhvX\u002BUZecDgD/vEojH8iHjh5Aujfm0S2SUaeosX4OPTxdH7W0J\u002BxQqk38kyhGHYrSf8FVXt6GYrWILAAv85yC8b9NxcBTE6Zx78/qKj4FTHPc1nG8uN4dlrz/6/vsYPaxOeFo\u002BFeKvyxa428O3Hh3gt\u002BMEx1rBj[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-eb733f06-900c-c408-31cc-22c4cf9bf289?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 09 May 2022 22:09:12 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1078437429",
    "Storage_TestConfigDefault": "ProductionTenant\njaschrepragrs\nU2FuaXRpemVk\nhttps://jaschrepragrs.blob.core.windows.net\nhttps://jaschrepragrs.file.core.windows.net\nhttps://jaschrepragrs.queue.core.windows.net\nhttps://jaschrepragrs.table.core.windows.net\n\n\n\n\nhttps://jaschrepragrs-secondary.blob.core.windows.net\nhttps://jaschrepragrs-secondary.file.core.windows.net\nhttps://jaschrepragrs-secondary.queue.core.windows.net\nhttps://jaschrepragrs-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jaschrepragrs.blob.core.windows.net/;QueueEndpoint=https://jaschrepragrs.queue.core.windows.net/;FileEndpoint=https://jaschrepragrs.file.core.windows.net/;BlobSecondaryEndpoint=https://jaschrepragrs-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jaschrepragrs-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jaschrepragrs-secondary.file.core.windows.net/;AccountName=jaschrepragrs;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
