{
  "Entries": [
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-d92659d0-7775-bbb8-a70d-f8cd4c643807?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 09 May 2022 21:50:53 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA3205FD6CAC64\u0022",
        "Last-Modified": "Mon, 09 May 2022 21:50:53 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-d92659d0-7775-bbb8-a70d-f8cd4c643807/test-blob-8367526f-c1ed-1511-a9a5-34d907ca827b",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-content-crc64": "lBBtgWnTizY=",
        "x-ms-date": "Mon, 09 May 2022 21:50:53 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": "tMnmiJ\u002BZqwt64ll8jgDhC\u002B8Vsj8KvQIINLswefFcMceI7QMRtZZDgWFOACIRIkyT58iT/AUx8PbG3lTjaTEaHbGS9KD90FZY0jHdu73g9hFunJIoyTTBV/wMStZCXxgvNONxfy2slhdyOirUUzU55ehCdcyf8VN80J2j8IV/FnIYrobZb3bkwgV7to8K7APH02Xu/\u002BpLkEKQ9K\u002BQCKWR8iO4vKWuX3ZxXbLHIzvEcuOa3B0fkRaHzB5ESXrHVLpf6cRrUjBeGHPufKI3hGwHzILL9SuIcmEMMO\u002BHahb7qQn4Zzp3WCCzPMSqMBR0UEixPH33/F6O13djXyFA[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-d92659d0-7775-bbb8-a70d-f8cd4c643807?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 09 May 2022 21:50:53 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "632540877",
    "Storage_TestConfigDefault": "ProductionTenant\njaschrepragrs\nU2FuaXRpemVk\nhttps://jaschrepragrs.blob.core.windows.net\nhttps://jaschrepragrs.file.core.windows.net\nhttps://jaschrepragrs.queue.core.windows.net\nhttps://jaschrepragrs.table.core.windows.net\n\n\n\n\nhttps://jaschrepragrs-secondary.blob.core.windows.net\nhttps://jaschrepragrs-secondary.file.core.windows.net\nhttps://jaschrepragrs-secondary.queue.core.windows.net\nhttps://jaschrepragrs-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jaschrepragrs.blob.core.windows.net/;QueueEndpoint=https://jaschrepragrs.queue.core.windows.net/;FileEndpoint=https://jaschrepragrs.file.core.windows.net/;BlobSecondaryEndpoint=https://jaschrepragrs-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jaschrepragrs-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jaschrepragrs-secondary.file.core.windows.net/;AccountName=jaschrepragrs;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
