{
  "Entries": [
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-f8a1c42e-ea6e-180f-ea27-48968750d1f5?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 09 May 2022 22:09:08 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA32088A0EF9E0\u0022",
        "Last-Modified": "Mon, 09 May 2022 22:09:08 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-f8a1c42e-ea6e-180f-ea27-48968750d1f5/test-blob-f9737946-33f0-2f30-2961-3df78f5e11d2",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Mon, 09 May 2022 22:09:08 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": "vI7w1Uupe7C1OMypaEy8vFyMu168bEtSN6zdHYMASZHIZwbOPfVvMa3jr3EcMyWU\u002Bz2wkt6dXU9Dnp6fy14ste474QFG7n9mHYqx2b3ZNQOGSCFFULeyKgm2ip9Xz2ZPtvqD4VIkTgy\u002BSXRU7ISSamiaGYI85mQ2iLb3j2PfD00jYSLDVVSwYfoUhwZDXj6EIyA3vbbjE8\u002BVTVibLL6p3zonMIpizxQU6beIJ19e8yp4c2xCqFKXQE5SLgf7FDQ7a6fLHC6zIlQMItP\u002BW\u002BtwNlouI7lSZjboj/A8EKEMGNSDTby3ktf8xVAXNoV\u002BmOVj4vetzfF66ARx44[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-f8a1c42e-ea6e-180f-ea27-48968750d1f5?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 09 May 2022 22:09:08 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "29177645",
    "Storage_TestConfigDefault": "ProductionTenant\njaschrepragrs\nU2FuaXRpemVk\nhttps://jaschrepragrs.blob.core.windows.net\nhttps://jaschrepragrs.file.core.windows.net\nhttps://jaschrepragrs.queue.core.windows.net\nhttps://jaschrepragrs.table.core.windows.net\n\n\n\n\nhttps://jaschrepragrs-secondary.blob.core.windows.net\nhttps://jaschrepragrs-secondary.file.core.windows.net\nhttps://jaschrepragrs-secondary.queue.core.windows.net\nhttps://jaschrepragrs-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jaschrepragrs.blob.core.windows.net/;QueueEndpoint=https://jaschrepragrs.queue.core.windows.net/;FileEndpoint=https://jaschrepragrs.file.core.windows.net/;BlobSecondaryEndpoint=https://jaschrepragrs-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jaschrepragrs-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jaschrepragrs-secondary.file.core.windows.net/;AccountName=jaschrepragrs;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
