{
  "Entries": [
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-df1bbbbc-4b95-42ad-4833-d2ed9e80564b?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 09 May 2022 21:51:08 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA3206065C4692\u0022",
        "Last-Modified": "Mon, 09 May 2022 21:51:08 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-df1bbbbc-4b95-42ad-4833-d2ed9e80564b/test-blob-5d8e7638-62d9-b3b9-27e4-930d8dd324fe",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-MD5": "QMqjdjo0oHoo3wjpdDxOWA==",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Mon, 09 May 2022 21:51:08 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": "dM488dwVwBWkmFKkToKfs\u002BIuRGQpP\u002B723hYtPfLZCA9RCrbVWV/Hk3hBc8RVuNCHmQFbTDk6yTXfRRPG54Ijyo9CU0TLyVqCZrDs6MwqoSVFpqTwfrzWFkGB9RNMAaz2Hqg0EmWMvM\u002Bn2OWITuFotaTtgUDeMkvSazwDSdNHNmUE9ckj9Y6/uOrUSabXTsdfGUBvXn9rGOtdYacoiXL8YKJ/g1gXRL8VLchWCeml\u002Bx11ozCT19flmd3dxpPnli932OkDWMtuSNSAWTC3FA4CuGaJs\u002BVCaIjKmel7On4sLZeZ3zH/oaNSBltbEn2mLoXP2g4tXeNJNG9hOL7h8w1[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-df1bbbbc-4b95-42ad-4833-d2ed9e80564b?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 09 May 2022 21:51:08 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "909324340",
    "Storage_TestConfigDefault": "ProductionTenant\njaschrepragrs\nU2FuaXRpemVk\nhttps://jaschrepragrs.blob.core.windows.net\nhttps://jaschrepragrs.file.core.windows.net\nhttps://jaschrepragrs.queue.core.windows.net\nhttps://jaschrepragrs.table.core.windows.net\n\n\n\n\nhttps://jaschrepragrs-secondary.blob.core.windows.net\nhttps://jaschrepragrs-secondary.file.core.windows.net\nhttps://jaschrepragrs-secondary.queue.core.windows.net\nhttps://jaschrepragrs-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jaschrepragrs.blob.core.windows.net/;QueueEndpoint=https://jaschrepragrs.queue.core.windows.net/;FileEndpoint=https://jaschrepragrs.file.core.windows.net/;BlobSecondaryEndpoint=https://jaschrepragrs-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jaschrepragrs-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jaschrepragrs-secondary.file.core.windows.net/;AccountName=jaschrepragrs;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
