{
  "Entries": [
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-c2cb5041-10cd-e0b1-45aa-e78948311f89?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 09 May 2022 21:51:06 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA32060529E613\u0022",
        "Last-Modified": "Mon, 09 May 2022 21:51:06 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-c2cb5041-10cd-e0b1-45aa-e78948311f89/test-blob-5df8c691-a892-f033-f417-a298d73a1d60",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-MD5": "D03SCzbfFgxmHM5DW3biqA==",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Mon, 09 May 2022 21:51:06 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": "eXR7c3z1wrt5GaVrpcuRigkfHTsHywGGcyYm5G0NsD2oCmzaPy1Ldktu2m15V9rdJI7A4cF9WK1y9f9Wz91Na2howppetkvc1KfwmPGUDRtLSb/eTc97K7K/aEkt9KdtIG4EEJQ/fm1D5AwajcC73ujkCoUdbx6Z7Jfon04BruD/gneDj/yGDMpRmmnCYZ7yA4phSekhT7FPayP9V98fQjUsGgpIOE7rXf67zNS11ov59ZvEn2X33jPGMyPZibXrMlgzlkaTqcs7duzrZoPcmpWXA2FDWqPQNDzWggUqEtNIz5l8gT9FZUzQiSh4DHew6ZiOQYVUp9e0Y2EJvSfFEGQYopbpYBlVUp4Uc9F6VyjF[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-c2cb5041-10cd-e0b1-45aa-e78948311f89?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 09 May 2022 21:51:06 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1230097455",
    "Storage_TestConfigDefault": "ProductionTenant\njaschrepragrs\nU2FuaXRpemVk\nhttps://jaschrepragrs.blob.core.windows.net\nhttps://jaschrepragrs.file.core.windows.net\nhttps://jaschrepragrs.queue.core.windows.net\nhttps://jaschrepragrs.table.core.windows.net\n\n\n\n\nhttps://jaschrepragrs-secondary.blob.core.windows.net\nhttps://jaschrepragrs-secondary.file.core.windows.net\nhttps://jaschrepragrs-secondary.queue.core.windows.net\nhttps://jaschrepragrs-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jaschrepragrs.blob.core.windows.net/;QueueEndpoint=https://jaschrepragrs.queue.core.windows.net/;FileEndpoint=https://jaschrepragrs.file.core.windows.net/;BlobSecondaryEndpoint=https://jaschrepragrs-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jaschrepragrs-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jaschrepragrs-secondary.file.core.windows.net/;AccountName=jaschrepragrs;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
