{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-8db6979f-4e37-61d2-8e3e-bd7892a2e0b4?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 30 Mar 2022 00:23:54 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA11E393F0AC3F\u0022",
        "Last-Modified": "Wed, 30 Mar 2022 00:23:56 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-8db6979f-4e37-61d2-8e3e-bd7892a2e0b4/test-blob-9eeaf578-d150-9399-6f3e-628a0a49abd9?comp=block\u0026blockid=YAeAhRPfW%2FLWcr6mYivRfQ%3D%3D",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-MD5": "rdI2LuUVzKwEuRvXrc8sbg==",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 30 Mar 2022 00:23:54 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": "5MwsEuAx4K3nH1KfTlbXU1OD1rzuCIe4aeQW\u002BKol9NFDwJa9DthYcPUG8QyMVPfEMPI3HpOXUtxEc6j7GucDwSuAW46/GkV7KmXH5xd7KxTtUsi37dU9rG26eJowXVUNAy/gDPhpBBWtvPMt0GrFyUeTDsgfS9NVQq8gBaGqS80QueTomh8cg02zCjHiENsC9a9SnE6M7rdbi8lJSP50AnEmHReG3C4od4p7bEGiczLTHhDxV65\u002Bg8osjA9W0jtOPgfAvPPEfBiBKiXEEYJ2uReWdSrugqvCp5lNWVAf0qRPLC064bc/D6H3cC2JunFHttP3v10QX7xc/RRZdyP[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-8db6979f-4e37-61d2-8e3e-bd7892a2e0b4?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 30 Mar 2022 00:23:54 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1790305661",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
