{
  "Entries": [
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-04bf2bde-668e-4d10-2538-f51f7746cdde?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 04 May 2022 22:45:34 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA2E1FCCE578B6\u0022",
        "Last-Modified": "Wed, 04 May 2022 22:45:34 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-04bf2bde-668e-4d10-2538-f51f7746cdde/test-blob-673fd5c4-6ced-735e-f29f-e4db0f507577?comp=block\u0026blockid=4TGrGFVJ164U9u2ZF9MUgQ%3D%3D",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-MD5": "q7ajPK\u002BptNtGB98l\u002Bni/1A==",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 04 May 2022 22:45:34 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": "7QSeO\u002BGSISnUoua/2oOD1TnwAEOzHPS0aezLcpbQIysOOZ/FscMjjBJp3UeNjIZpVEpNCfF8ntEQ6tH1xq6SA3\u002B6sKHjviN1zHQwST6sJ91lYh5Lgxk6kprOtMfxLsVk1tnH0tvkhZYn1zx9S1SSZMP0j2SQRoBlgB4GFQpbhJ6uzHJl5VQBgdyIJKvdvUZFO08E/Z9h1I9ZYVK93XCLy1Oezn/hLX9u8w2HByLUiMLXwNm6Vof/TPjiC4MBRKNs/FlYP\u002B7HYw7QlQmR2cxthdmP5R2W0XTMnoGH/yH7ba5qGwvIe0nUEFzL6cF9bXIrdYaqcV6G1SvkjK[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-04bf2bde-668e-4d10-2538-f51f7746cdde?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 04 May 2022 22:45:34 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1428497255",
    "Storage_TestConfigDefault": "ProductionTenant\njaschrepragrs\nU2FuaXRpemVk\nhttps://jaschrepragrs.blob.core.windows.net\nhttps://jaschrepragrs.file.core.windows.net\nhttps://jaschrepragrs.queue.core.windows.net\nhttps://jaschrepragrs.table.core.windows.net\n\n\n\n\nhttps://jaschrepragrs-secondary.blob.core.windows.net\nhttps://jaschrepragrs-secondary.file.core.windows.net\nhttps://jaschrepragrs-secondary.queue.core.windows.net\nhttps://jaschrepragrs-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jaschrepragrs.blob.core.windows.net/;QueueEndpoint=https://jaschrepragrs.queue.core.windows.net/;FileEndpoint=https://jaschrepragrs.file.core.windows.net/;BlobSecondaryEndpoint=https://jaschrepragrs-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jaschrepragrs-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jaschrepragrs-secondary.file.core.windows.net/;AccountName=jaschrepragrs;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
