{
  "Entries": [
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-85d9d705-eb8e-4064-0316-6760ffaae35c?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 04 May 2022 22:45:33 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA2E1FCC3C322D\u0022",
        "Last-Modified": "Wed, 04 May 2022 22:45:33 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-85d9d705-eb8e-4064-0316-6760ffaae35c/test-blob-dae0cc38-3542-5e13-7fa3-2c7483428119?comp=block\u0026blockid=%2FkKE3mdiZWqTpIwl2q0dlg%3D%3D",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-content-crc64": "GYRWDdMQe4A=",
        "x-ms-date": "Wed, 04 May 2022 22:45:33 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": "lyeK6EhRiZxGP4SOIf00s8WAjHYqVucGhhG3KzrtMuHE1M7kxWiegv7kRTW9vjgIH3ve5pPFykA/hGE2ml5hWQyjykwuUO1c4gp3RhCySMjZrgy\u002BD0xO/gqNpEEGZ\u002BegguwoGvTs2c\u002BOggSITYQwjTuZXetSo0rAVMtCoaurVXoi18Qkii7U7NQ9MIxIxbGFXRYGbQr8Tt\u002BiZ8Uoqjgj4iyJZXW/DAMNxXAWFHK9eI4avEOVpedwJonkgSJoq0KbGk1fvmA7xlET\u002BKiZ5Tls5e83Du31jjxEGT/s24rhpBkuevolXbou3vbxgaw/1kBPeJwyMZ1VposQG6Qg[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-85d9d705-eb8e-4064-0316-6760ffaae35c?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 04 May 2022 22:45:33 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1660213425",
    "Storage_TestConfigDefault": "ProductionTenant\njaschrepragrs\nU2FuaXRpemVk\nhttps://jaschrepragrs.blob.core.windows.net\nhttps://jaschrepragrs.file.core.windows.net\nhttps://jaschrepragrs.queue.core.windows.net\nhttps://jaschrepragrs.table.core.windows.net\n\n\n\n\nhttps://jaschrepragrs-secondary.blob.core.windows.net\nhttps://jaschrepragrs-secondary.file.core.windows.net\nhttps://jaschrepragrs-secondary.queue.core.windows.net\nhttps://jaschrepragrs-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jaschrepragrs.blob.core.windows.net/;QueueEndpoint=https://jaschrepragrs.queue.core.windows.net/;FileEndpoint=https://jaschrepragrs.file.core.windows.net/;BlobSecondaryEndpoint=https://jaschrepragrs-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jaschrepragrs-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jaschrepragrs-secondary.file.core.windows.net/;AccountName=jaschrepragrs;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
