{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-a0f1c538-1731-d1a3-8641-562709b43261?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 14 Mar 2022 14:42:07 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA05C8CFC38481\u0022",
        "Last-Modified": "Mon, 14 Mar 2022 14:42:06 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-a0f1c538-1731-d1a3-8641-562709b43261/test-blob-14d5b6ec-9398-27cb-0fd3-b399af14d93d?comp=block\u0026blockid=ncYjtfoAoQIGgvgSb%2FulCA%3D%3D",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-content-crc64": "LLnVHBwOZpU=",
        "x-ms-date": "Mon, 14 Mar 2022 14:42:07 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": "aC5tgCK/QPbkn2YM\u002BBxzN41eYK5bmM5Nx9vzrpVeMoEb8R4v4TPVBhphtfOCb7DVEXT0wFdZ0s9fH7lHy5FhhWzl8Ab9Q1ZZiVmT\u002BePay1gqHZ0gaXEqwh9P0MJ6jTuJADCGnX6q2M0emzf9xdjrhFRgHa7zQBv6uy7nrnOU3/seCvmzUy7agEXPAc46LfxGY0ttGXCNlsAUjOFPwipairs83rvfODAlhpxoIz5MwI4yoEonJsaKkXQ4nsdMir0bdHcT/U5AZysbR5LTJHKByMtTHSHfM2T1skxHpplo2fzfTa7HOcI/8TkfC94ztm0Bt9b8\u002BGycO0ESHksB\u002BcCRs[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-a0f1c538-1731-d1a3-8641-562709b43261?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 14 Mar 2022 14:42:07 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "994170638",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
