{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-ab4cb6e9-2062-b066-2f4c-4a6500910244?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 14 Mar 2022 14:42:06 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA05C8CF487320\u0022",
        "Last-Modified": "Mon, 14 Mar 2022 14:42:05 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-ab4cb6e9-2062-b066-2f4c-4a6500910244/test-blob-9bc03238-de63-2b95-28a0-a5cf75b3feee?comp=block\u0026blockid=LYKaRwbVW27gVapfOhrVRw%3D%3D",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-content-crc64": "xIaUItN623M=",
        "x-ms-date": "Mon, 14 Mar 2022 14:42:06 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": "QWCML4u3NkY0VVjHgOLOWrkVJWt8zGRxXyssIhfyTnAXKkSCR2OpiF/OAYv6JMjwWzHWkrwY\u002BHT8G9BgixQuQgbnsFaeSxNWbJwMrcrYdjtiPMfmG7yz/jLQhSuSSPxKoL\u002BEE3RyUg8dfyUfDEqqI6WU/U9MSCZJM7EjzcbnwyOfwQ0KU2PH8Om4yJyWlPHoJmKF/Uut/leYO9/CToRJNrwCf0s9n89CzQxlk3\u002BKs5/AO6djYcXY8sK1cRiDBKFlb5LglBSlqoaSQzA\u002BR2rYDodAAhPc5dT2KY2JiC22v8hr/yTtqR6LGpAh0R6VmapX3WOQQgKOiYq96mqGHCJZ2[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-ab4cb6e9-2062-b066-2f4c-4a6500910244?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 14 Mar 2022 14:42:06 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1570167766",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
