{
  "Entries": [
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-67ee2fec-f930-8534-c1c5-4f9278111df8?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 04 May 2022 22:07:16 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA2E1A7357E696\u0022",
        "Last-Modified": "Wed, 04 May 2022 22:07:16 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-67ee2fec-f930-8534-c1c5-4f9278111df8/test-blob-f32fa447-fe2f-c5c0-7f3d-118420de74f8?comp=block\u0026blockid=P4QHTxkqtSin1Ly1AOR5Dw%3D%3D",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 04 May 2022 22:07:16 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": "jSMnfRPDnuLMNmo4eP1O1zIB8VyrfJpmjzaR48tmOQb3JqgSwRY53X2C0ycbWjjUg2bJfAWkrxGJwe3dMbsWZf1kQFJVOxYbyBPfKalySzT\u002BvV9lnb0AUneXiAAoXKzBa24qthnlfkhQrrPxxYVnF3W53nNcschAY\u002B7bvrIW82xmHb06R5QaGD4XFe4JDo3xL3GKb304ZLql6lIrCsCVObtGi6fILdDhnsU0RZzZNlVg6Y5Bi4PuLrkDlV1B7g5\u002BgtszwoPlKAKhqdC4Ax4ey7P9yyExU603WF3uxZhyn7C3tsPApXPRe8CMoOKzNiqa5cmpRCPsTC4t/G[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-67ee2fec-f930-8534-c1c5-4f9278111df8?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 04 May 2022 22:07:16 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1393056101",
    "Storage_TestConfigDefault": "ProductionTenant\njaschrepragrs\nU2FuaXRpemVk\nhttps://jaschrepragrs.blob.core.windows.net\nhttps://jaschrepragrs.file.core.windows.net\nhttps://jaschrepragrs.queue.core.windows.net\nhttps://jaschrepragrs.table.core.windows.net\n\n\n\n\nhttps://jaschrepragrs-secondary.blob.core.windows.net\nhttps://jaschrepragrs-secondary.file.core.windows.net\nhttps://jaschrepragrs-secondary.queue.core.windows.net\nhttps://jaschrepragrs-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jaschrepragrs.blob.core.windows.net/;QueueEndpoint=https://jaschrepragrs.queue.core.windows.net/;FileEndpoint=https://jaschrepragrs.file.core.windows.net/;BlobSecondaryEndpoint=https://jaschrepragrs-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jaschrepragrs-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jaschrepragrs-secondary.file.core.windows.net/;AccountName=jaschrepragrs;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
