{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-73bae0b2-f4ee-b873-397c-affeb3273917?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 14 Mar 2022 14:42:08 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA05C8D084E35E\u0022",
        "Last-Modified": "Mon, 14 Mar 2022 14:42:07 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-73bae0b2-f4ee-b873-397c-affeb3273917/test-blob-8a10d0de-2628-707a-9bbc-48c6ccc5686b?comp=block\u0026blockid=LvYzphal%2FbrEy738bfx7TA%3D%3D",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-content-crc64": "NJCPrAca47g=",
        "x-ms-date": "Mon, 14 Mar 2022 14:42:08 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": "nhv0Y1tR1oRJ0PF\u002BckA0eLRPuhu7XcuR0\u002B\u002BgIbfI7OClWZZozGQE8sHmk3onxAr8lvwarOavbEBQY5BrsLTNgOQQ2Rmpy6xPS8da1clQaQ/lpIu6rkD69e1VGGnUmEIMGRKWF\u002BrxUstQymAeVZZ2//mBhgspEtKjFuMrVLJDe7OFTbu3ulEk9FK/auPf26BW3xlvUhI34gc/8gEGxv0YDE6tmQfbv0SoXJK4aafuxDpD1HSZ1CigTmu0d8dQHS5Up12VMkKYex/Ux/aAfnhfUS7Gw/GJfzglDEucJkh9Vz9jY8JJWZH4q1lUxA0yIM/yVSWYiVo8yyglbyX3/FTXV[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-73bae0b2-f4ee-b873-397c-affeb3273917?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 14 Mar 2022 14:42:08 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "710751006",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
