{
  "Entries": [
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-3f0320b9-61ea-fb4b-f172-101b8381614f?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 24 Feb 2022 00:36:36 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9F72DB72AB4E3\u0022",
        "Last-Modified": "Thu, 24 Feb 2022 00:36:36 GMT",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-3f0320b9-61ea-fb4b-f172-101b8381614f/test-blob-7eed5bf2-b7c5-2a53-9c3b-e08f3cc40762?comp=block\u0026blockid=%2Bd6A5h79TKINhvPF%2F%2F0IOA%3D%3D",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-content-crc64": "mwRLpi8dUbE=",
        "x-ms-date": "Thu, 24 Feb 2022 00:36:36 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": "x3sYYsbqKUDR482U7YvFGfz4FnySCr0Rh39i2LjyuO4Ihvi6vxNRGdyuha4k1mnfBqZfb23RXL2\u002BBttGiFGI3yrfjGaTC1rppvyg44QO7bAWgtESkkiANio7\u002B7g4CpGLJqaEREoCTPpMdslwMXg4rxkqMAV/dUzhXlU8WBCisJxrFLzeiqhlEzbXxhx/EAWxAkueDtqMDLFZo\u002Bb1xvTqqcYtBRy7WSVwxRzPqK8wYU1QilXEA6LB3ggLhebCcE1C7BxWUgro9aklLki9vGMBKUGYpDueJaYjayYUr9Q\u002BrVTPjLuS2g5CZ5SsntVZBCGkClylKcsRo8Z2Mufk00bU5[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-3f0320b9-61ea-fb4b-f172-101b8381614f?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 24 Feb 2022 00:36:37 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "555925205",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttp://seanmcccanary3.blob.core.windows.net\nhttp://seanmcccanary3.file.core.windows.net\nhttp://seanmcccanary3.queue.core.windows.net\nhttp://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttp://seanmcccanary3-secondary.blob.core.windows.net\nhttp://seanmcccanary3-secondary.file.core.windows.net\nhttp://seanmcccanary3-secondary.queue.core.windows.net\nhttp://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=http://seanmcccanary3.queue.core.windows.net/;FileEndpoint=http://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=http://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\n[encryption scope]\n\n"
  }
}