{
  "Entries": [
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-7c55d798-7ba8-af57-444b-588b0f14471e?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 24 Feb 2022 00:36:30 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9F72DB3270172\u0022",
        "Last-Modified": "Thu, 24 Feb 2022 00:36:30 GMT",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-7c55d798-7ba8-af57-444b-588b0f14471e/test-blob-328b3b99-03fd-7155-31d8-f49f876be72c?comp=block\u0026blockid=cPZABcr8n60jWHRry7LuHw%3D%3D",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-content-crc64": "8OYNLUSumqU=",
        "x-ms-date": "Thu, 24 Feb 2022 00:36:30 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": "t4sEd8Prz7DBNEcUzoKYMAonUymdg73iPrdQCjeqEcfbFh6LEMltTBbGAitdLyrsHIBg5xmO9zLOITkMmsR4FyKAObhkDCBBuQcS14GShA\u002BNZO63SiquTR7rve6QYbJRTuoI3fVyhxBgHy4SeyCxO5wpfjXWwM340uyZeU4xsFhUwIiWiacZGtzdVyv8m9H\u002BOYFRZuJ8e40dDwoJ2Q3BLm7VvbuYGrL0EGRZ\u002BGmh/DYbmz/M4Ep22EX6eXmdD0HOHCi8Jt4WZR7PXFZ9IoIkexPU7j7N9E0kX\u002BR1naE4VwAjitxA5NZYBDUg/YTz\u002BLXD1v1mySEDACfamMf5[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-7c55d798-7ba8-af57-444b-588b0f14471e?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 24 Feb 2022 00:36:30 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1906969924",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttp://seanmcccanary3.blob.core.windows.net\nhttp://seanmcccanary3.file.core.windows.net\nhttp://seanmcccanary3.queue.core.windows.net\nhttp://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttp://seanmcccanary3-secondary.blob.core.windows.net\nhttp://seanmcccanary3-secondary.file.core.windows.net\nhttp://seanmcccanary3-secondary.queue.core.windows.net\nhttp://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=http://seanmcccanary3.queue.core.windows.net/;FileEndpoint=http://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=http://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\n[encryption scope]\n\n"
  }
}