{
  "Entries": [
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-ed230e9f-1eb2-98eb-54a9-00c7a607b91b?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 04 May 2022 22:07:22 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA2E1A76950CFC\u0022",
        "Last-Modified": "Wed, 04 May 2022 22:07:21 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-ed230e9f-1eb2-98eb-54a9-00c7a607b91b/test-blob-af077772-cb00-017a-7ade-b341d104abf8?comp=block\u0026blockid=jAHnV95%2BrP50px4QtEzE2w%3D%3D",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 04 May 2022 22:07:22 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": "t68Xd\u002BiKsGwidzbjrd7TnW7G71K4GbM0FVdpTi1i6qcN61UUn8NRTaTiffDjX1XPWmgb\u002ByBvzJ374mKQIGI\u002Bv4yO1sKJv/2qdKGt1ZzCUbYCmvPFR\u002B\u002BGnR63GL1hwSxCpL5kVIiTRZtqcYZ/wfcBOJCsjoZueXidCDmj0qZASLN0azHdXv0tb1VYW9ZoB9wntd8stTKm0ypGx0tP73P1KSjTClXGJNqSfh8wFR6hNAFcfBzGFJOAzpcGl5ey3n/hYzGtlfyGYJEFmTcTdb0MpJJK8nNXLhSVUjy\u002Bv4xC4J\u002BfT7Ls858E1huLwH[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-container-ed230e9f-1eb2-98eb-54a9-00c7a607b91b?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 04 May 2022 22:07:22 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "161330877",
    "Storage_TestConfigDefault": "ProductionTenant\njaschrepragrs\nU2FuaXRpemVk\nhttps://jaschrepragrs.blob.core.windows.net\nhttps://jaschrepragrs.file.core.windows.net\nhttps://jaschrepragrs.queue.core.windows.net\nhttps://jaschrepragrs.table.core.windows.net\n\n\n\n\nhttps://jaschrepragrs-secondary.blob.core.windows.net\nhttps://jaschrepragrs-secondary.file.core.windows.net\nhttps://jaschrepragrs-secondary.queue.core.windows.net\nhttps://jaschrepragrs-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jaschrepragrs.blob.core.windows.net/;QueueEndpoint=https://jaschrepragrs.queue.core.windows.net/;FileEndpoint=https://jaschrepragrs.file.core.windows.net/;BlobSecondaryEndpoint=https://jaschrepragrs-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jaschrepragrs-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jaschrepragrs-secondary.file.core.windows.net/;AccountName=jaschrepragrs;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
