{
  "Entries": [
    {
      "RequestUri": "/1273adef-00a3-4086-a51a-dbcce1857d36/applications?api-version=1.6",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"availableToOtherTenants\": false,\r\n  \"displayName\": \"adApplication8746\",\r\n  \"homepage\": \"http://adApplication8746/home\",\r\n  \"identifierUris\": [\r\n    \"http://adApplication8746/home\"\r\n  ],\r\n  \"replyUrls\": [\r\n    \"http://adApplication8746/home\"\r\n  ]\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://graph.windows.net/1273adef-00a3-4086-a51a-dbcce1857d36/$metadata#directoryObjects/Microsoft.DirectoryServices.Application/@Element\",\r\n  \"odata.type\": \"Microsoft.DirectoryServices.Application\",\r\n  \"objectType\": \"Application\",\r\n  \"objectId\": \"e26888dd-422a-4f09-92f8-5c1c60476f0f\",\r\n  \"deletionTimestamp\": null,\r\n  \"addIns\": [],\r\n  \"appId\": \"e44e24c0-d5d6-417e-8229-2e9495f2973d\",\r\n  \"appRoles\": [],\r\n  \"availableToOtherTenants\": false,\r\n  \"displayName\": \"adApplication8746\",\r\n  \"errorUrl\": null,\r\n  \"groupMembershipClaims\": null,\r\n  \"homepage\": \"http://adApplication8746/home\",\r\n  \"identifierUris\": [\r\n    \"http://adApplication8746/home\"\r\n  ],\r\n  \"keyCredentials\": [],\r\n  \"knownClientApplications\": [],\r\n  \"logoutUrl\": null,\r\n  \"oauth2AllowImplicitFlow\": false,\r\n  \"oauth2AllowUrlPathMatching\": false,\r\n  \"oauth2Permissions\": [\r\n    {\r\n      \"adminConsentDescription\": \"Allow the application to access adApplication8746 on behalf of the signed-in user.\",\r\n      \"adminConsentDisplayName\": \"Access adApplication8746\",\r\n      \"id\": \"acf1060f-2b85-4b9a-8591-dce022d90c39\",\r\n      \"isEnabled\": true,\r\n      \"type\": \"User\",\r\n      \"userConsentDescription\": \"Allow the application to access adApplication8746 on your behalf.\",\r\n      \"userConsentDisplayName\": \"Access adApplication8746\",\r\n      \"value\": \"user_impersonation\"\r\n    }\r\n  ],\r\n  \"oauth2RequirePostResponse\": false,\r\n  \"passwordCredentials\": [],\r\n  \"publicClient\": null,\r\n  \"recordConsentConditions\": null,\r\n  \"replyUrls\": [\r\n    \"http://adApplication8746/home\"\r\n  ],\r\n  \"requiredResourceAccess\": [],\r\n  \"samlMetadataUrl\": null\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; odata=minimalmetadata; streaming=true; charset=utf-8"
        ],
        "Location": [
          "https://graph.windows.net/1273adef-00a3-4086-a51a-dbcce1857d36/directoryObjects/e26888dd-422a-4f09-92f8-5c1c60476f0f/Microsoft.DirectoryServices.Application"
        ],
        "ocp-aad-diagnostics-server-name": [
          "nX0EELQHx3TZ2/z8/kRkrIJJFoYzKeuOsYay4yBGCH8="
        ],
        "x-ms-dirapi-data-contract-version": [
          "1.6"
        ],
        "ocp-aad-session-key": [
          "LDDo0983oDgekZbxz-8kG5D0fnx5s3QlrYxcDdVrSk96Av5ABJ47ZLn8DOjPbieRFMe8buy5A7i9j15t0AUgjIqF6Nns1gvFOLjIeId_yQ9PCBbp4DEbasTgNcZt2u-Yg1u0OMx-g4ellvsObNDHc8YC0KR8U75e_d9_9mkvktZO3qR3nzvtHJHQ9xcsWfmgLjMnXaJCLWejTJUjLMh-sA.sCaYxuwsxgPkm6kDIS4yXsVbE6EbGFgT0bD7Z87P_JM"
        ],
        "DataServiceVersion": [
          "3.0;"
        ],
        "Duration": [
          "4975862"
        ]
      },
      "StatusCode": 201
    },
    {
      "RequestUri": "/1273adef-00a3-4086-a51a-dbcce1857d36/servicePrincipals?api-version=1.6",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"appId\": \"e44e24c0-d5d6-417e-8229-2e9495f2973d\",\r\n  \"accountEnabled\": true\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://graph.windows.net/1273adef-00a3-4086-a51a-dbcce1857d36/$metadata#directoryObjects/Microsoft.DirectoryServices.ServicePrincipal/@Element\",\r\n  \"odata.type\": \"Microsoft.DirectoryServices.ServicePrincipal\",\r\n  \"objectType\": \"ServicePrincipal\",\r\n  \"objectId\": \"862bc544-c0d9-479d-a5be-2383dacab54d\",\r\n  \"deletionTimestamp\": null,\r\n  \"accountEnabled\": true,\r\n  \"addIns\": [],\r\n  \"alternativeNames\": [],\r\n  \"appDisplayName\": \"adApplication8746\",\r\n  \"appId\": \"e44e24c0-d5d6-417e-8229-2e9495f2973d\",\r\n  \"appOwnerTenantId\": \"1273adef-00a3-4086-a51a-dbcce1857d36\",\r\n  \"appRoleAssignmentRequired\": false,\r\n  \"appRoles\": [],\r\n  \"displayName\": \"adApplication8746\",\r\n  \"errorUrl\": null,\r\n  \"homepage\": \"http://adApplication8746/home\",\r\n  \"keyCredentials\": [],\r\n  \"logoutUrl\": null,\r\n  \"oauth2Permissions\": [\r\n    {\r\n      \"adminConsentDescription\": \"Allow the application to access adApplication8746 on behalf of the signed-in user.\",\r\n      \"adminConsentDisplayName\": \"Access adApplication8746\",\r\n      \"id\": \"acf1060f-2b85-4b9a-8591-dce022d90c39\",\r\n      \"isEnabled\": true,\r\n      \"type\": \"User\",\r\n      \"userConsentDescription\": \"Allow the application to access adApplication8746 on your behalf.\",\r\n      \"userConsentDisplayName\": \"Access adApplication8746\",\r\n      \"value\": \"user_impersonation\"\r\n    }\r\n  ],\r\n  \"passwordCredentials\": [],\r\n  \"preferredTokenSigningKeyThumbprint\": null,\r\n  \"publisherName\": \"rbacCliTestDirectory\",\r\n  \"replyUrls\": [\r\n    \"http://adApplication8746/home\"\r\n  ],\r\n  \"samlMetadataUrl\": null,\r\n  \"servicePrincipalNames\": [\r\n    \"e44e24c0-d5d6-417e-8229-2e9495f2973d\",\r\n    \"http://adApplication8746/home\"\r\n  ],\r\n  \"servicePrincipalType\": \"Application\",\r\n  \"tags\": []\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; odata=minimalmetadata; streaming=true; charset=utf-8"
        ],
        "Location": [
          "https://graph.windows.net/1273adef-00a3-4086-a51a-dbcce1857d36/directoryObjects/862bc544-c0d9-479d-a5be-2383dacab54d/Microsoft.DirectoryServices.ServicePrincipal"
        ],
        "ocp-aad-diagnostics-server-name": [
          "eTv/+eSXVMnsnytZxi018Ikz5qYWAsHBiTLR3SMW/5s="
        ],
        "x-ms-dirapi-data-contract-version": [
          "1.6"
        ],
        "ocp-aad-session-key": [
          "yOkCBYgAK9nqhY8uzqjPqf3GwMeZK-FR2GBmNn9l1TNuqSoOh6HrI8HFwp9FH8a5xm7_CWIjPGcayxfIVxrgkf4iP8ixSyaqDNtpKywXVf2FfRCjnZTzGlDfclfRUlRTRHiXD-fj9lU6ufxm8q441wXh4REjT4lzZ_aDFuZrftb4eOSkXNQsI8aiOZtmSYUndLp52gUU3vKYT0RcyDZmJw.FUDU3aT7PJr5xlrIkDDs1i0EovUDTfNSi4YYhh6YS_U"
        ],
        "DataServiceVersion": [
          "3.0;"
        ],
        "Duration": [
          "16856246"
        ]
      },
      "StatusCode": 201
    },
    {
      "RequestUri": "/1273adef-00a3-4086-a51a-dbcce1857d36/servicePrincipals/862bc544-c0d9-479d-a5be-2383dacab54d/keyCredentials?api-version=1.6",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://graph.windows.net/1273adef-00a3-4086-a51a-dbcce1857d36/$metadata#Collection(Microsoft.DirectoryServices.KeyCredential)\",\r\n  \"value\": []\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; odata=minimalmetadata; streaming=true; charset=utf-8"
        ],
        "ocp-aad-diagnostics-server-name": [
          "iuPmgCujsBOHP5ZHyhzOWZQ0FRP7jUfzbegvNsa5PFc="
        ],
        "x-ms-dirapi-data-contract-version": [
          "1.6"
        ],
        "ocp-aad-session-key": [
          "b7UENDyPHmTL-Mub5ENCVqQC9DJB7BfywukraUfgvpwQqeqFPLCyauGERo4l1OQezSodN8VwI4TbWhJIv-9Crrs2xnFqpZ9_BKk0-DCdzDmsUaf9L3TjXRSft-ikZLayJZPkJMyZ2cxwIfrhaVGZNyFZH-VGroNE1MJZ-hULj51YjqawRnQJbbfiO2eudI83cBs_Wj3Iqz19KRieL_F0SQ.K3sZw3DuL7RUZunkkM42zGOLKvBs20UgBpxXTtR6uc4"
        ],
        "DataServiceVersion": [
          "3.0;"
        ],
        "Duration": [
          "1080517"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/1273adef-00a3-4086-a51a-dbcce1857d36/servicePrincipals/862bc544-c0d9-479d-a5be-2383dacab54d/keyCredentials?api-version=1.6",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://graph.windows.net/1273adef-00a3-4086-a51a-dbcce1857d36/$metadata#Collection(Microsoft.DirectoryServices.KeyCredential)\",\r\n  \"value\": [\r\n    {\r\n      \"customKeyIdentifier\": null,\r\n      \"endDate\": \"2017-08-03T02:56:19.4020953Z\",\r\n      \"keyId\": \"9baef13d-5d0d-455e-9920-95acb87265e6\",\r\n      \"startDate\": \"2016-08-03T02:56:19.4020953Z\",\r\n      \"type\": \"AsymmetricX509Cert\",\r\n      \"usage\": \"Verify\",\r\n      \"value\": null\r\n    }\r\n  ]\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; odata=minimalmetadata; streaming=true; charset=utf-8"
        ],
        "ocp-aad-diagnostics-server-name": [
          "iYdxC4//s1JYk40t8P7wp4F402LFHd9cy7lmjVT3g6E="
        ],
        "x-ms-dirapi-data-contract-version": [
          "1.6"
        ],
        "ocp-aad-session-key": [
          "HA5dnJtBaFd1Glbdxg0URQ-10UfpY3tenuCurxYEpuGq5KJNcjSRKCQRot-9eM7G4TsSIKtN40g2-gPoqEsf5NFqbzzjicXJVcXBkXCL54zvxC1m_T2WEY-HGhWXA6QLtTBJBbjV83k0XbtFgQn6Q3dX8IrZ1SWxC91wPMrnZoaTfVu9KWepsUUTqOAL4BTkZ2JcAHTmj4NG29uBiWk_Lw.Qm0ltxxylwGR3JNL-ox-xnHS3g4hCHiQYzYk2Xrm2GM"
        ],
        "DataServiceVersion": [
          "3.0;"
        ],
        "Duration": [
          "1053069"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/1273adef-00a3-4086-a51a-dbcce1857d36/servicePrincipals/862bc544-c0d9-479d-a5be-2383dacab54d/passwordCredentials?api-version=1.6",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://graph.windows.net/1273adef-00a3-4086-a51a-dbcce1857d36/$metadata#Collection(Microsoft.DirectoryServices.PasswordCredential)\",\r\n  \"value\": []\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; odata=minimalmetadata; streaming=true; charset=utf-8"
        ],
        "ocp-aad-diagnostics-server-name": [
          "DwiZqbw4kpvacRTHgNp62Clzs32ouQbIngVZZ/qji78="
        ],
        "x-ms-dirapi-data-contract-version": [
          "1.6"
        ],
        "ocp-aad-session-key": [
          "dikPyF5BXHovf026j5DS1Yg3651sA-DEqmmPTCOGk9wTuOPv8L4lfOJPb3LWEdOhtE9XojPAipEaB8c2Oz4PyPYDhNctdwYnITHfIkSRPY5D2VVBXtVTlTkKy8gOpzC2luP4JFG6ruDEwIGRjNksEIBPs6dhcgEaxkWwkiT3SUvJlMu3PcJJ7KkoFIFCFM2Dc2ey-xLnmqgmIa1FswJUjw.RxUDenXaILc0fGMV1WqUv9zmQaZiKRNE6lpTozjQM9o"
        ],
        "DataServiceVersion": [
          "3.0;"
        ],
        "Duration": [
          "1147281"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/1273adef-00a3-4086-a51a-dbcce1857d36/servicePrincipals/862bc544-c0d9-479d-a5be-2383dacab54d?api-version=1.6",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "ocp-aad-diagnostics-server-name": [
          "ndOaDad62j02kfRa1Cq/gK60FrLF0w5RKl7ELizCzzo="
        ],
        "x-ms-dirapi-data-contract-version": [
          "1.6"
        ],
        "ocp-aad-session-key": [
          "CeGSimYlbUd-csx53ru719zM7dv4sqQ-JJuKzs6XlTfzf_UWRrTkNg7DpkzpROxZYuA8_WPo-gyrf6h-lL0MZFOifFFhcU76J4kDC317AZ4PmaMvtXYjuWxRR6IZte-e75z4tGB4u4czW7n6wJzNo3gPmo9E97zAf53vLHB6g9JAS1_YorfjI7dTACpsaGsATlqlKIv8EW3g8QPdmiK5Nw.-qlCI27m6okvyQrIc46Y86gBjlZwCtJ-LTsR0uGInBM"
        ],
        "DataServiceVersion": [
          "1.0;"
        ],
        "Duration": [
          "3010564"
        ]
      },
      "StatusCode": 204
    },
    {
      "RequestUri": "/1273adef-00a3-4086-a51a-dbcce1857d36/applications/e26888dd-422a-4f09-92f8-5c1c60476f0f?api-version=1.6",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "ocp-aad-diagnostics-server-name": [
          "8QS3Rr9OchX/gNA/xIqqaruLx3+x2qpMKF2JrRGoy1I="
        ],
        "x-ms-dirapi-data-contract-version": [
          "1.6"
        ],
        "ocp-aad-session-key": [
          "I5N44DFb7B8YPXFW4M_5cPxV0uLjSQ11gVcWwNgDYchsAauJDnTmew8vH8EAS0J6B0PHYzdR_y7HqEDCE9CQgKxY-0vrH434CUh-srPpjTArMW2lcGMvIUaqhUE3J3SjpAVEHnKDevfs5GOPtwfZNP_12m9GM4HXb6_ZuiX_2b88wWi-_Vt5OAY1wwzrY_U8bEkTxEF98H_8moX-tq4dkQ.AjgYvYoUP8sgNwmCSbITGYVRBf0n41YqPl-f3943JsU"
        ],
        "DataServiceVersion": [
          "1.0;"
        ],
        "Duration": [
          "14962440"
        ]
      },
      "StatusCode": 204
    }
  ],
  "Names": {
    "CreateApplication": [
      "adApplication8746"
    ]
  },
  "Variables": {
    "SubscriptionId": "4004a9fd-d58e-48dc-aeb2-4a4aec58606f",
    "TenantId": "1273adef-00a3-4086-a51a-dbcce1857d36",
    "Domain": "rbacclitest.onmicrosoft.com"
  }
}