{
  "Entries": [
    {
      "RequestUri": "/1273adef-00a3-4086-a51a-dbcce1857d36/applications?api-version=1.6",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"availableToOtherTenants\": false,\r\n  \"displayName\": \"adApplication2831\",\r\n  \"homepage\": \"http://adApplication2831/home\",\r\n  \"identifierUris\": [\r\n    \"http://adApplication2831/home\"\r\n  ],\r\n  \"replyUrls\": [\r\n    \"http://adApplication2831/home\"\r\n  ]\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://graph.windows.net/1273adef-00a3-4086-a51a-dbcce1857d36/$metadata#directoryObjects/Microsoft.DirectoryServices.Application/@Element\",\r\n  \"odata.type\": \"Microsoft.DirectoryServices.Application\",\r\n  \"objectType\": \"Application\",\r\n  \"objectId\": \"8d76adf1-d32b-4bf6-ac0f-50b25bbae772\",\r\n  \"deletionTimestamp\": null,\r\n  \"addIns\": [],\r\n  \"appId\": \"c72da214-0b32-4096-81d9-3c724ad2906f\",\r\n  \"appRoles\": [],\r\n  \"availableToOtherTenants\": false,\r\n  \"displayName\": \"adApplication2831\",\r\n  \"errorUrl\": null,\r\n  \"groupMembershipClaims\": null,\r\n  \"homepage\": \"http://adApplication2831/home\",\r\n  \"identifierUris\": [\r\n    \"http://adApplication2831/home\"\r\n  ],\r\n  \"keyCredentials\": [],\r\n  \"knownClientApplications\": [],\r\n  \"logoutUrl\": null,\r\n  \"oauth2AllowImplicitFlow\": false,\r\n  \"oauth2AllowUrlPathMatching\": false,\r\n  \"oauth2Permissions\": [\r\n    {\r\n      \"adminConsentDescription\": \"Allow the application to access adApplication2831 on behalf of the signed-in user.\",\r\n      \"adminConsentDisplayName\": \"Access adApplication2831\",\r\n      \"id\": \"766af9bf-f729-4994-adb9-21d7913e14b8\",\r\n      \"isEnabled\": true,\r\n      \"type\": \"User\",\r\n      \"userConsentDescription\": \"Allow the application to access adApplication2831 on your behalf.\",\r\n      \"userConsentDisplayName\": \"Access adApplication2831\",\r\n      \"value\": \"user_impersonation\"\r\n    }\r\n  ],\r\n  \"oauth2RequirePostResponse\": false,\r\n  \"passwordCredentials\": [],\r\n  \"publicClient\": null,\r\n  \"recordConsentConditions\": null,\r\n  \"replyUrls\": [\r\n    \"http://adApplication2831/home\"\r\n  ],\r\n  \"requiredResourceAccess\": [],\r\n  \"samlMetadataUrl\": null\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; odata=minimalmetadata; streaming=true; charset=utf-8"
        ],
        "Location": [
          "https://graph.windows.net/1273adef-00a3-4086-a51a-dbcce1857d36/directoryObjects/8d76adf1-d32b-4bf6-ac0f-50b25bbae772/Microsoft.DirectoryServices.Application"
        ],
        "ocp-aad-diagnostics-server-name": [
          "QBKI9AbEYiPcuPxP6tzpZblINiB8xjSfl91MBr8+PRQ="
        ],
        "x-ms-dirapi-data-contract-version": [
          "1.6"
        ],
        "ocp-aad-session-key": [
          "p0ARxrFEK7aqQjNwBKGq5rNk1M3pClgjljXrbEa6Xsblbq3UxLCQ_Lub8t2_OnsZZ9KewyNyEyR3bImhRYZtFvMdHKYHgyT29qmf4RMcSN1gTsI1JSjVNWLiscdZ8GAKg0QTBV-H7_1jgIEGWU878gX8NMQG0c-TGCLoV7NtO14Ij5rdOF_OWBNnEYJB-x4WftjswSxFd87Fnqcp8jrFOg.k6NvurjRgEM3gm15_Qn87s3PEbXVcEIi4LocRPgioDE"
        ],
        "DataServiceVersion": [
          "3.0;"
        ],
        "Duration": [
          "5185607"
        ]
      },
      "StatusCode": 201
    },
    {
      "RequestUri": "/1273adef-00a3-4086-a51a-dbcce1857d36/applications/8d76adf1-d32b-4bf6-ac0f-50b25bbae772/keyCredentials?api-version=1.6",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://graph.windows.net/1273adef-00a3-4086-a51a-dbcce1857d36/$metadata#Collection(Microsoft.DirectoryServices.KeyCredential)\",\r\n  \"value\": []\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; odata=minimalmetadata; streaming=true; charset=utf-8"
        ],
        "ocp-aad-diagnostics-server-name": [
          "vQftAfqt+/Fndunnhoh0tvWXCd3sL3tfuMwWrdB6MPY="
        ],
        "x-ms-dirapi-data-contract-version": [
          "1.6"
        ],
        "ocp-aad-session-key": [
          "409bpVFzPtIJojkp9ZzQNplEuVpiwvlTRy6F71oTVKInarM5u_2f48FWEYmr79ItnEdox2t_l60BIWziJGC2zOhrcm-oo40YXQ1OQdqo3Qga31pCHaDjtqYPsw-N9Ap70A_8D21kU5hdI7bjyQ_-wzP2q0TQse63JcRwCiOLqS_LSnmRQbR6raRWOIBA7d4Gy-s4cR8O_-SFYZ9CDk3-xw.E1a6OmQ2QEt8lyY5KgctxlwrBtW8PmlVWkpXFEyNkbQ"
        ],
        "DataServiceVersion": [
          "3.0;"
        ],
        "Duration": [
          "1216506"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/1273adef-00a3-4086-a51a-dbcce1857d36/applications/8d76adf1-d32b-4bf6-ac0f-50b25bbae772/keyCredentials?api-version=1.6",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://graph.windows.net/1273adef-00a3-4086-a51a-dbcce1857d36/$metadata#Collection(Microsoft.DirectoryServices.KeyCredential)\",\r\n  \"value\": [\r\n    {\r\n      \"customKeyIdentifier\": null,\r\n      \"endDate\": \"2017-08-03T02:55:46.2975312Z\",\r\n      \"keyId\": \"8e7911c6-f9ff-46d2-9124-76ffb307cadc\",\r\n      \"startDate\": \"2016-08-03T02:55:46.2975312Z\",\r\n      \"type\": \"AsymmetricX509Cert\",\r\n      \"usage\": \"Verify\",\r\n      \"value\": null\r\n    }\r\n  ]\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; odata=minimalmetadata; streaming=true; charset=utf-8"
        ],
        "ocp-aad-diagnostics-server-name": [
          "FpbEqwjNE5UgQMRKJCh+5oT77dK8Xy2HF5eIvb2XUK4="
        ],
        "x-ms-dirapi-data-contract-version": [
          "1.6"
        ],
        "ocp-aad-session-key": [
          "NN4_kNYkiiPon7pxe8dfWUlzcP6VlZI-ZRcPLfXztjBNojFiwpCouPLuoXjVQ2sA_0khsDYd33SFFOVQrrsUYQdWYSg0OV3xIn_MTnaEb0ijWkYu9L-HMMTNDy1Wd1yGDvfbkWmd1K722ryX3SeXVYdD82qCU_FflMZxzVeCZTP6xCDJLNXWC9tNZrUgTlsXd5yYvhnzKmNCaaxkpCTi1Q.8WXFTZ7TCi-qhwdpuCQwYrHMCoxE8f2wWYeq3vAfv9g"
        ],
        "DataServiceVersion": [
          "3.0;"
        ],
        "Duration": [
          "1148810"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/1273adef-00a3-4086-a51a-dbcce1857d36/applications/8d76adf1-d32b-4bf6-ac0f-50b25bbae772/passwordCredentials?api-version=1.6",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://graph.windows.net/1273adef-00a3-4086-a51a-dbcce1857d36/$metadata#Collection(Microsoft.DirectoryServices.PasswordCredential)\",\r\n  \"value\": []\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; odata=minimalmetadata; streaming=true; charset=utf-8"
        ],
        "ocp-aad-diagnostics-server-name": [
          "q1vj4XvvU5q+L2Gpz3K8+u73jHZTPgp2vwQVNeo/8kM="
        ],
        "x-ms-dirapi-data-contract-version": [
          "1.6"
        ],
        "ocp-aad-session-key": [
          "oD8_w08T8ckEqvLwLbbauIyKPyt2GVEnWAIvizWmNCo6Z3c3Ui4iYNERwVEcbtgBqtt3-qAa5QZ4oaf1GUprybFhe0oJXupSmW7HOXzSv-VwQgdaVlm10uayDKW8BifnLGSMvo0Eiioy6kWT6WXXKAJCXrkx9pG9IrPIo6C-cfD9O2-05qIShhEw2_gaMI7TZIUuZHbVsP4LLalAoc3tqQ.D988wyWQbMbeUovwl7xCfnHb0FFir5J6fS8h4ZTV9wY"
        ],
        "DataServiceVersion": [
          "3.0;"
        ],
        "Duration": [
          "974644"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/1273adef-00a3-4086-a51a-dbcce1857d36/applications/8d76adf1-d32b-4bf6-ac0f-50b25bbae772?api-version=1.6",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "ocp-aad-diagnostics-server-name": [
          "yq6d6aKCJ+sm/SqomU3oKf9uqw5YY/Xo6jW8af9zAac="
        ],
        "x-ms-dirapi-data-contract-version": [
          "1.6"
        ],
        "ocp-aad-session-key": [
          "zUmeaEb7eGlE_CgD27UBqJjmTZf5PTukNYFRW-_opCskZDNNNA-JfyPd1PGsAoNjz3ZDkD3ISCxwT6QIy0H8faPcR4dkb9R7MKivt7G2I16epgW7IR8_l0CWHhlxrUdvePSiakYWfRbu16P82VSWot81QCbbKu0_GTTkXTvmUueNTz5ZMKHYLLfqVIRR3drs8j2PCDRmVf6wW9bC-nZtmg.mhCLYB6jFcz9Hh1aJ9Th0kZFyez11KYBpx429XgSYio"
        ],
        "DataServiceVersion": [
          "1.0;"
        ],
        "Duration": [
          "2991400"
        ]
      },
      "StatusCode": 204
    }
  ],
  "Names": {
    "CreateApplication": [
      "adApplication2831"
    ]
  },
  "Variables": {
    "SubscriptionId": "4004a9fd-d58e-48dc-aeb2-4a4aec58606f",
    "TenantId": "1273adef-00a3-4086-a51a-dbcce1857d36",
    "Domain": "rbacclitest.onmicrosoft.com"
  }
}