{
  "Entries": [
    {
      "RequestUri": "https://annelocontainerregistry.azurecr.io/acr/v1/9ee3afef-5ede-e4fd-08a7-19fc2cdeea46/_tags/v1?api-version=2021-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Docker-Distribution-Api-Version": "registry/2.0",
        "WWW-Authenticate": "Bearer realm=\u0022https://annelocontainerregistry.azurecr.io/oauth2/token\u0022,service=\u0022annelocontainerregistry.azurecr.io\u0022,scope=\u0022repository:9ee3afef-5ede-e4fd-08a7-19fc2cdeea46:metadata_read\u0022"
      },
      "ResponseBody": {
        "errors": [
          {
            "code": "UNAUTHORIZED",
            "message": "authentication required, visit https://aka.ms/acr/authorization for more information.",
            "detail": [
              {
                "Type": "repository",
                "Name": "9ee3afef-5ede-e4fd-08a7-19fc2cdeea46",
                "Action": "metadata_read"
              }
            ]
          }
        ]
      }
    },
    {
      "RequestUri": "https://annelocontainerregistry.azurecr.io/oauth2/exchange?api-version=2021-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/x-www-form-urlencoded"
      },
      "RequestBody": "grant_type=access_token\u0026service=annelocontainerregistry.azurecr.io\u0026access_token=Sanitized",
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-calls-per-second": "166.183333"
      },
      "ResponseBody": {
        "refresh_token": "Sanitized.eyJleHAiOjI2MTY5NzUwMjB9.Sanitized"
      }
    },
    {
      "RequestUri": "https://annelocontainerregistry.azurecr.io/oauth2/token?api-version=2021-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/x-www-form-urlencoded"
      },
      "RequestBody": "service=annelocontainerregistry.azurecr.io\u0026scope=repository%3A9ee3afef-5ede-e4fd-08a7-19fc2cdeea46%3Ametadata_read\u0026refresh_token=Sanitized\u0026grant_type=refresh_token",
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-calls-per-second": "166.166667"
      },
      "ResponseBody": {
        "access_token": "Sanitized"
      }
    },
    {
      "RequestUri": "https://annelocontainerregistry.azurecr.io/acr/v1/9ee3afef-5ede-e4fd-08a7-19fc2cdeea46/_tags/v1?api-version=2021-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Docker-Distribution-Api-Version": "registry/2.0"
      },
      "ResponseBody": {
        "registry": "annelocontainerregistry.azurecr.io",
        "imageName": "9ee3afef-5ede-e4fd-08a7-19fc2cdeea46",
        "tag": {
          "name": "v1",
          "digest": "sha256:4859540713618e8f49a2642636bc5f27a2486a0b3eebc8cf76bd8192e0eef8f2",
          "createdTime": "2022-12-13T01:30:29.7010332Z",
          "lastUpdateTime": "2022-12-13T01:30:29.7010332Z",
          "signed": false,
          "changeableAttributes": {
            "deleteEnabled": true,
            "writeEnabled": true,
            "readEnabled": true,
            "listEnabled": true
          }
        }
      }
    },
    {
      "RequestUri": "https://annelocontainerregistry.azurecr.io/acr/v1/9ee3afef-5ede-e4fd-08a7-19fc2cdeea46/_manifests/sha256%3A4859540713618e8f49a2642636bc5f27a2486a0b3eebc8cf76bd8192e0eef8f2?api-version=2021-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Docker-Distribution-Api-Version": "registry/2.0",
        "WWW-Authenticate": "Bearer realm=\u0022https://annelocontainerregistry.azurecr.io/oauth2/token\u0022,service=\u0022annelocontainerregistry.azurecr.io\u0022,scope=\u0022repository:9ee3afef-5ede-e4fd-08a7-19fc2cdeea46:metadata_read\u0022"
      },
      "ResponseBody": {
        "errors": [
          {
            "code": "UNAUTHORIZED",
            "message": "authentication required, visit https://aka.ms/acr/authorization for more information.",
            "detail": [
              {
                "Type": "repository",
                "Name": "9ee3afef-5ede-e4fd-08a7-19fc2cdeea46",
                "Action": "metadata_read"
              }
            ]
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://annelocontainerregistry.azurecr.io/acr/v1/9ee3afef-5ede-e4fd-08a7-19fc2cdeea46/_manifests/sha256%3A4859540713618e8f49a2642636bc5f27a2486a0b3eebc8cf76bd8192e0eef8f2?api-version=2021-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Docker-Distribution-Api-Version": "registry/2.0"
      },
      "ResponseBody": {
        "registry": "annelocontainerregistry.azurecr.io",
        "imageName": "9ee3afef-5ede-e4fd-08a7-19fc2cdeea46",
        "manifest": {
          "digest": "sha256:4859540713618e8f49a2642636bc5f27a2486a0b3eebc8cf76bd8192e0eef8f2",
          "imageSize": 0,
          "createdTime": "2022-12-13T01:30:29.6261432Z",
          "lastUpdateTime": "2022-12-13T01:30:29.6261432Z",
          "mediaType": "application/vnd.oci.image.manifest.v1\u002Bjson",
          "tags": [
            "v1"
          ],
          "changeableAttributes": {
            "deleteEnabled": true,
            "writeEnabled": true,
            "readEnabled": true,
            "listEnabled": true
          }
        }
      }
    },
    {
      "RequestUri": "https://annelocontainerregistry.azurecr.io/v2/9ee3afef-5ede-e4fd-08a7-19fc2cdeea46/manifests/sha256%3A4859540713618e8f49a2642636bc5f27a2486a0b3eebc8cf76bd8192e0eef8f2",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Docker-Distribution-Api-Version": "registry/2.0",
        "WWW-Authenticate": "Bearer realm=\u0022https://annelocontainerregistry.azurecr.io/oauth2/token\u0022,service=\u0022annelocontainerregistry.azurecr.io\u0022,scope=\u0022repository:9ee3afef-5ede-e4fd-08a7-19fc2cdeea46:delete\u0022"
      },
      "ResponseBody": {
        "errors": [
          {
            "code": "UNAUTHORIZED",
            "message": "authentication required, visit https://aka.ms/acr/authorization for more information.",
            "detail": [
              {
                "Type": "repository",
                "Name": "9ee3afef-5ede-e4fd-08a7-19fc2cdeea46",
                "Action": "delete"
              }
            ]
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://annelocontainerregistry.azurecr.io/v2/9ee3afef-5ede-e4fd-08a7-19fc2cdeea46/manifests/sha256%3A4859540713618e8f49a2642636bc5f27a2486a0b3eebc8cf76bd8192e0eef8f2",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Docker-Distribution-Api-Version": "registry/2.0",
        "X-Ms-Ratelimit-Remaining-Calls-Per-Second": "8.000000"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://annelocontainerregistry.azurecr.io/acr/v1/9ee3afef-5ede-e4fd-08a7-19fc2cdeea46/_manifests/sha256%3A4859540713618e8f49a2642636bc5f27a2486a0b3eebc8cf76bd8192e0eef8f2?api-version=2021-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Docker-Distribution-Api-Version": "registry/2.0"
      },
      "ResponseBody": {
        "errors": [
          {
            "code": "MANIFEST_UNKNOWN",
            "message": "manifest unknown"
          }
        ]
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com/",
    "CONTAINERREGISTRY_ENDPOINT": "https://annelocontainerregistry.azurecr.io",
    "RandomSeed": "82914443"
  }
}
