{
  "Entries": [
    {
      "RequestUri": "https://localtestacr01.azurecr.io/acr/v1/library%2Fhello-world/_tags/test-delete-tag",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Docker-Distribution-Api-Version": "registry/2.0",
        "WWW-Authenticate": "Bearer realm=\u0022https://localtestacr01.azurecr.io/oauth2/token\u0022,service=\u0022localtestacr01.azurecr.io\u0022,scope=\u0022repository:library/hello-world:delete\u0022"
      },
      "ResponseBody": {
        "errors": [
          {
            "code": "UNAUTHORIZED",
            "message": "authentication required, visit https://aka.ms/acr/authorization for more information.",
            "detail": [
              {
                "Type": "repository",
                "Name": "library/hello-world",
                "Action": "delete"
              }
            ]
          }
        ]
      }
    },
    {
      "RequestUri": "https://localtestacr01.azurecr.io/oauth2/exchange",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/x-www-form-urlencoded"
      },
      "RequestBody": "grant_type=access_token\u0026service=localtestacr01.azurecr.io\u0026access_token=Sanitized",
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-calls-per-second": "165.883333"
      },
      "ResponseBody": {
        "refresh_token": "Sanitized"
      }
    },
    {
      "RequestUri": "https://localtestacr01.azurecr.io/oauth2/token",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/x-www-form-urlencoded"
      },
      "RequestBody": "grant_type=refresh_token\u0026service=localtestacr01.azurecr.io\u0026scope=repository%3alibrary%2fhello-world%3adelete\u0026refresh_token=Sanitized",
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-calls-per-second": "165.866667"
      },
      "ResponseBody": {
        "access_token": "Sanitized"
      }
    },
    {
      "RequestUri": "https://localtestacr01.azurecr.io/acr/v1/library%2Fhello-world/_tags/test-delete-tag",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Docker-Distribution-Api-Version": "registry/2.0",
        "X-Ms-Int-Docker-Content-Digest": "sha256:f2266cbfc127c960fd30e76b7c792dc23b588c0db76233517e1891a4e357d519",
        "X-Ms-Ratelimit-Remaining-Calls-Per-Second": "8.000000"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://localtestacr01.azurecr.io/acr/v1/library%2Fhello-world/_tags/test-delete-tag",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Docker-Distribution-Api-Version": "registry/2.0"
      },
      "ResponseBody": {
        "errors": [
          {
            "code": "TAG_UNKNOWN",
            "message": "the specified tag does not exist"
          }
        ]
      }
    }
  ],
  "Variables": {
    "CLIENT_ID": "9de00b2f-0a92-4543-9928-f49b89bb1448",
    "CONTAINERREGISTRY_ENDPOINT": "https://localtestacr01.azurecr.io",
    "CONTAINERREGISTRY_REGISTRY_NAME": "localtestacr01",
    "RandomSeed": "677472848",
    "RESOURCE_GROUP": "rg-localtestacr01",
    "SUBSCRIPTION_ID": "faa080af-c1d8-40ad-9cce-e1a450ca5b57",
    "TENANT_ID": "72f988bf-86f1-41af-91ab-2d7cd011db47"
  }
}