{
  "Entries": [
    {
      "RequestUri": "https://mohitcontainerregistry.azurecr.io/acr/v1/library%2Fhello-world/_tags/latest?api-version=2021-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Docker-Distribution-Api-Version": "registry/2.0",
        "WWW-Authenticate": "Bearer realm=\u0022https://mohitcontainerregistry.azurecr.io/oauth2/token\u0022,service=\u0022mohitcontainerregistry.azurecr.io\u0022,scope=\u0022repository:library/hello-world:metadata_read\u0022"
      },
      "ResponseBody": {
        "errors": [
          {
            "code": "UNAUTHORIZED",
            "message": "authentication required, visit https://aka.ms/acr/authorization for more information.",
            "detail": [
              {
                "Type": "repository",
                "Name": "library/hello-world",
                "Action": "metadata_read"
              }
            ]
          }
        ]
      }
    },
    {
      "RequestUri": "https://mohitcontainerregistry.azurecr.io/oauth2/exchange?api-version=2021-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/x-www-form-urlencoded"
      },
      "RequestBody": "grant_type=access_token\u0026service=mohitcontainerregistry.azurecr.io\u0026access_token=Sanitized",
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-calls-per-second": "166.65"
      },
      "ResponseBody": {
        "refresh_token": "Sanitized.eyJleHAiOjI1OTQ2ODM0NjV9.Sanitized"
      }
    },
    {
      "RequestUri": "https://mohitcontainerregistry.azurecr.io/oauth2/token?api-version=2021-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/x-www-form-urlencoded"
      },
      "RequestBody": "service=mohitcontainerregistry.azurecr.io\u0026scope=repository%3Alibrary%2Fhello-world%3Ametadata_read\u0026refresh_token=Sanitized\u0026grant_type=refresh_token",
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-calls-per-second": "166.633333"
      },
      "ResponseBody": {
        "access_token": "Sanitized"
      }
    },
    {
      "RequestUri": "https://mohitcontainerregistry.azurecr.io/acr/v1/library%2Fhello-world/_tags/latest?api-version=2021-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Docker-Distribution-Api-Version": "registry/2.0"
      },
      "ResponseBody": {
        "registry": "mohitcontainerregistry.azurecr.io",
        "imageName": "library/hello-world",
        "tag": {
          "name": "latest",
          "digest": "sha256:bfea6278a0a267fad2634554f4f0c6f31981eea41c553fdf5a83e95a41d40c38",
          "createdTime": "2022-03-30T01:23:57.4655041Z",
          "lastUpdateTime": "2022-03-30T01:23:57.4655041Z",
          "signed": false,
          "changeableAttributes": {
            "deleteEnabled": true,
            "writeEnabled": true,
            "readEnabled": true,
            "listEnabled": true
          }
        }
      }
    }
  ],
  "Variables": {
    "CONTAINERREGISTRY_ENDPOINT": "https://mohitcontainerregistry.azurecr.io",
    "RandomSeed": "90715864"
  }
}
