{
  "Entries": [
    {
      "RequestUri": "https://annelocontainerregistryanon.azurecr.io/acr/v1/52f7574f-f4eb-0651-9b9a-a63ac1ab66de/_tags/v1?api-version=2021-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Docker-Distribution-Api-Version": "registry/2.0",
        "WWW-Authenticate": "Bearer realm=\u0022https://annelocontainerregistryanon.azurecr.io/oauth2/token\u0022,service=\u0022annelocontainerregistryanon.azurecr.io\u0022,scope=\u0022repository:52f7574f-f4eb-0651-9b9a-a63ac1ab66de:metadata_read\u0022"
      },
      "ResponseBody": {
        "errors": [
          {
            "code": "UNAUTHORIZED",
            "message": "authentication required, visit https://aka.ms/acr/authorization for more information.",
            "detail": [
              {
                "Type": "repository",
                "Name": "52f7574f-f4eb-0651-9b9a-a63ac1ab66de",
                "Action": "metadata_read"
              }
            ]
          }
        ]
      }
    },
    {
      "RequestUri": "https://annelocontainerregistryanon.azurecr.io/oauth2/token?api-version=2021-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/x-www-form-urlencoded"
      },
      "RequestBody": "service=annelocontainerregistryanon.azurecr.io\u0026scope=repository%3A52f7574f-f4eb-0651-9b9a-a63ac1ab66de%3Ametadata_read\u0026refresh_token=Sanitized\u0026grant_type=password",
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-calls-per-second": "166.65"
      },
      "ResponseBody": {
        "access_token": "Sanitized"
      }
    },
    {
      "RequestUri": "https://annelocontainerregistryanon.azurecr.io/acr/v1/52f7574f-f4eb-0651-9b9a-a63ac1ab66de/_tags/v1?api-version=2021-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Docker-Distribution-Api-Version": "registry/2.0"
      },
      "ResponseBody": {
        "registry": "annelocontainerregistryanon.azurecr.io",
        "imageName": "52f7574f-f4eb-0651-9b9a-a63ac1ab66de",
        "tag": {
          "name": "v1",
          "digest": "sha256:65def84f362e2f18f9873ecb0663f56c6d6915bc5ba6238a7782ef496e9b35ea",
          "createdTime": "2022-12-14T00:15:22.0643543Z",
          "lastUpdateTime": "2022-12-14T00:15:22.0643543Z",
          "signed": false,
          "changeableAttributes": {
            "deleteEnabled": true,
            "writeEnabled": true,
            "readEnabled": true,
            "listEnabled": true
          }
        }
      }
    },
    {
      "RequestUri": "https://annelocontainerregistryanon.azurecr.io/acr/v1/52f7574f-f4eb-0651-9b9a-a63ac1ab66de/_tags?orderby=timeasc\u0026digest=sha256%3A65def84f362e2f18f9873ecb0663f56c6d6915bc5ba6238a7782ef496e9b35ea\u0026api-version=2021-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Docker-Distribution-Api-Version": "registry/2.0",
        "WWW-Authenticate": "Bearer realm=\u0022https://annelocontainerregistryanon.azurecr.io/oauth2/token\u0022,service=\u0022annelocontainerregistryanon.azurecr.io\u0022,scope=\u0022repository:52f7574f-f4eb-0651-9b9a-a63ac1ab66de:metadata_read\u0022"
      },
      "ResponseBody": {
        "errors": [
          {
            "code": "UNAUTHORIZED",
            "message": "authentication required, visit https://aka.ms/acr/authorization for more information.",
            "detail": [
              {
                "Type": "repository",
                "Name": "52f7574f-f4eb-0651-9b9a-a63ac1ab66de",
                "Action": "metadata_read"
              }
            ]
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://annelocontainerregistryanon.azurecr.io/acr/v1/52f7574f-f4eb-0651-9b9a-a63ac1ab66de/_tags?orderby=timeasc\u0026digest=sha256%3A65def84f362e2f18f9873ecb0663f56c6d6915bc5ba6238a7782ef496e9b35ea\u0026api-version=2021-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Docker-Distribution-Api-Version": "registry/2.0"
      },
      "ResponseBody": {
        "registry": "annelocontainerregistryanon.azurecr.io",
        "imageName": "52f7574f-f4eb-0651-9b9a-a63ac1ab66de",
        "tags": [
          {
            "name": "v1",
            "digest": "sha256:65def84f362e2f18f9873ecb0663f56c6d6915bc5ba6238a7782ef496e9b35ea",
            "createdTime": "2022-12-14T00:15:22.0643543Z",
            "lastUpdateTime": "2022-12-14T00:15:22.0643543Z",
            "signed": false,
            "changeableAttributes": {
              "deleteEnabled": true,
              "writeEnabled": true,
              "readEnabled": true,
              "listEnabled": true
            }
          },
          {
            "name": "v2",
            "digest": "sha256:65def84f362e2f18f9873ecb0663f56c6d6915bc5ba6238a7782ef496e9b35ea",
            "createdTime": "2022-12-14T00:15:23.4986931Z",
            "lastUpdateTime": "2022-12-14T00:15:23.4986931Z",
            "signed": false,
            "changeableAttributes": {
              "deleteEnabled": true,
              "writeEnabled": true,
              "readEnabled": true,
              "listEnabled": true
            }
          }
        ]
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com/",
    "CONTAINERREGISTRY_ANONREGISTRY_ENDPOINT": "https://annelocontainerregistryanon.azurecr.io",
    "CONTAINERREGISTRY_ENDPOINT": "https://annelocontainerregistry.azurecr.io",
    "RandomSeed": "1744114543"
  }
}
