{
  "Entries": [
    {
      "RequestUri": "https://annelocontainerregistryanon.azurecr.io/acr/v1/67f62439-0a66-e1e4-31d7-718163ccc541/_tags/v1?api-version=2021-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Docker-Distribution-Api-Version": "registry/2.0",
        "WWW-Authenticate": "Bearer realm=\u0022https://annelocontainerregistryanon.azurecr.io/oauth2/token\u0022,service=\u0022annelocontainerregistryanon.azurecr.io\u0022,scope=\u0022repository:67f62439-0a66-e1e4-31d7-718163ccc541:metadata_read\u0022"
      },
      "ResponseBody": {
        "errors": [
          {
            "code": "UNAUTHORIZED",
            "message": "authentication required, visit https://aka.ms/acr/authorization for more information.",
            "detail": [
              {
                "Type": "repository",
                "Name": "67f62439-0a66-e1e4-31d7-718163ccc541",
                "Action": "metadata_read"
              }
            ]
          }
        ]
      }
    },
    {
      "RequestUri": "https://annelocontainerregistryanon.azurecr.io/oauth2/token?api-version=2021-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/x-www-form-urlencoded"
      },
      "RequestBody": "service=annelocontainerregistryanon.azurecr.io\u0026scope=repository%3A67f62439-0a66-e1e4-31d7-718163ccc541%3Ametadata_read\u0026refresh_token=Sanitized\u0026grant_type=password",
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-calls-per-second": "166.65"
      },
      "ResponseBody": {
        "access_token": "Sanitized"
      }
    },
    {
      "RequestUri": "https://annelocontainerregistryanon.azurecr.io/acr/v1/67f62439-0a66-e1e4-31d7-718163ccc541/_tags/v1?api-version=2021-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Docker-Distribution-Api-Version": "registry/2.0"
      },
      "ResponseBody": {
        "registry": "annelocontainerregistryanon.azurecr.io",
        "imageName": "67f62439-0a66-e1e4-31d7-718163ccc541",
        "tag": {
          "name": "v1",
          "digest": "sha256:7e34fc8d3586fa5fbd9a7dcb28047f580f4d1c5512768712290b7dee9dcb94c0",
          "createdTime": "2022-12-15T17:05:19.7204138Z",
          "lastUpdateTime": "2022-12-15T17:05:19.7204138Z",
          "signed": false,
          "changeableAttributes": {
            "deleteEnabled": true,
            "writeEnabled": true,
            "readEnabled": true,
            "listEnabled": true
          }
        }
      }
    },
    {
      "RequestUri": "https://annelocontainerregistryanon.azurecr.io/acr/v1/67f62439-0a66-e1e4-31d7-718163ccc541/_tags?orderby=timeasc\u0026digest=sha256%3A7e34fc8d3586fa5fbd9a7dcb28047f580f4d1c5512768712290b7dee9dcb94c0\u0026api-version=2021-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Docker-Distribution-Api-Version": "registry/2.0",
        "WWW-Authenticate": "Bearer realm=\u0022https://annelocontainerregistryanon.azurecr.io/oauth2/token\u0022,service=\u0022annelocontainerregistryanon.azurecr.io\u0022,scope=\u0022repository:67f62439-0a66-e1e4-31d7-718163ccc541:metadata_read\u0022"
      },
      "ResponseBody": {
        "errors": [
          {
            "code": "UNAUTHORIZED",
            "message": "authentication required, visit https://aka.ms/acr/authorization for more information.",
            "detail": [
              {
                "Type": "repository",
                "Name": "67f62439-0a66-e1e4-31d7-718163ccc541",
                "Action": "metadata_read"
              }
            ]
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://annelocontainerregistryanon.azurecr.io/acr/v1/67f62439-0a66-e1e4-31d7-718163ccc541/_tags?orderby=timeasc\u0026digest=sha256%3A7e34fc8d3586fa5fbd9a7dcb28047f580f4d1c5512768712290b7dee9dcb94c0\u0026api-version=2021-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Docker-Distribution-Api-Version": "registry/2.0"
      },
      "ResponseBody": {
        "registry": "annelocontainerregistryanon.azurecr.io",
        "imageName": "67f62439-0a66-e1e4-31d7-718163ccc541",
        "tags": [
          {
            "name": "v1",
            "digest": "sha256:7e34fc8d3586fa5fbd9a7dcb28047f580f4d1c5512768712290b7dee9dcb94c0",
            "createdTime": "2022-12-15T17:05:19.7204138Z",
            "lastUpdateTime": "2022-12-15T17:05:19.7204138Z",
            "signed": false,
            "changeableAttributes": {
              "deleteEnabled": true,
              "writeEnabled": true,
              "readEnabled": true,
              "listEnabled": true
            }
          },
          {
            "name": "v2",
            "digest": "sha256:7e34fc8d3586fa5fbd9a7dcb28047f580f4d1c5512768712290b7dee9dcb94c0",
            "createdTime": "2022-12-15T17:05:20.4206021Z",
            "lastUpdateTime": "2022-12-15T17:05:20.4206021Z",
            "signed": false,
            "changeableAttributes": {
              "deleteEnabled": true,
              "writeEnabled": true,
              "readEnabled": true,
              "listEnabled": true
            }
          }
        ]
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com/",
    "CONTAINERREGISTRY_ANONREGISTRY_ENDPOINT": "https://annelocontainerregistryanon.azurecr.io",
    "CONTAINERREGISTRY_ENDPOINT": "https://annelocontainerregistry.azurecr.io",
    "RandomSeed": "1457682013"
  }
}
