<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Docker</WebPublishMethod>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/c7dccb7f-e6b8-4720-802a-a3925a91bbaf/resourceGroups/spennicott/providers/Microsoft.ContainerRegistry/registries/WebJobsExtensionsCustomAuth</ResourceId>
    <ResourceName>WebJobsExtensionsCustomAuth</ResourceName>
    <ResourceGroup>spennicott</ResourceGroup>
    <Subscription>CPIM_DEV</Subscription>
    <RegistryUrl>https://webjobsextensionscustomauth.azurecr.io</RegistryUrl>
    <PublishImageTag>latest</PublishImageTag>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
  </PropertyGroup>
</Project>