{
  "Entries": [
    {
      "RequestUri": "//subscriptions/487bb485-b5b0-471e-9c0d-10717612f869/providers/Microsoft.Security/assessments/6f90a6d6-d4d6-0794-0ec1-98fa77878c2e?api-version=2021-06-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-resource-requests": [
          "749"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"type\": \"Microsoft.Security/assessments\",\r\n  \"id\": \"/subscriptions/487bb485-b5b0-471e-9c0d-10717612f869/providers/Microsoft.Security/assessments/6f90a6d6-d4d6-0794-0ec1-98fa77878c2e\",\r\n  \"name\": \"6f90a6d6-d4d6-0794-0ec1-98fa77878c2e\",\r\n  \"properties\": {\r\n    \"resourceDetails\": {\r\n      \"Source\": \"Azure\",\r\n      \"Id\": \"/subscriptions/487bb485-b5b0-471e-9c0d-10717612f869\"\r\n    },\r\n    \"displayName\": \"A maximum of 3 owners should be designated for subscriptions\",\r\n    \"status\": {\r\n      \"code\": \"Healthy\",\r\n      \"statusChangeDate\": \"2022-10-14T04:44:15.3211291Z\",\r\n      \"firstEvaluationDate\": \"2022-09-02T06:00:41.2991388Z\"\r\n    },\r\n    \"additionalData\": {\r\n      \"identityDesignateLessThanXOwnersObjectIdList\": \"[\\\"56b8f04c-b471-415a-bbc2-74570bd022de\\\",\\\"af29e494-977e-4749-acb6-6fe3a10c56aa\\\",\\\"25b2be9f-65f7-491e-9e53-61fa1b39fa8a\\\"]\"\r\n    }\r\n  }\r\n}",
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {}
}