{
  "Entries": [
    {
      "RequestUri": "/subscriptions/487bb485-b5b0-471e-9c0d-10717612f869/providers/Microsoft.Security/assessments?api-version=2021-06-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-resource-requests": [
          "749"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"type\": \"Microsoft.Security/assessments\",\r\n      \"id\": \"/subscriptions/487bb485-b5b0-471e-9c0d-10717612f869/resourceGroups/myService1/providers/Microsoft.Compute/virtualMachines/syslogmyservice1vm/providers/Microsoft.Security/assessments/f9f0eed0-f143-47bf-b856-671ea2eeed62\",\r\n      \"name\": \"f9f0eed0-f143-47bf-b856-671ea2eeed62\",\r\n      \"properties\": {\r\n        \"resourceDetails\": {\r\n          \"Source\": \"Azure\",\r\n          \"Id\": \"/subscriptions/487bb485-b5b0-471e-9c0d-10717612f869/resourceGroups/myService1/providers/Microsoft.Compute/virtualMachines/syslogmyservice1vm\"\r\n        },\r\n        \"displayName\": \"Adaptive network hardening recommendations should be applied on internet facing virtual machines\",\r\n        \"status\": {\r\n          \"code\": \"NotApplicable\",\r\n          \"cause\": \"NoNsgOnVm\",\r\n          \"description\": \"This recommendation is relevant only for VMs protected by a network security group\",\r\n          \"statusChangeDate\": \"2022-09-19T11:03:41.3842523Z\",\r\n          \"firstEvaluationDate\": \"2021-03-14T00:00:00\"\r\n        }\r\n      }\r\n    },\r\n    {\r\n      \"type\": \"Microsoft.Security/assessments\",\r\n      \"id\": \"/subscriptions/487bb485-b5b0-471e-9c0d-10717612f869/resourceGroups/myService1/providers/Microsoft.Compute/virtualMachines/testService/providers/Microsoft.Security/assessments/f9f0eed0-f143-47bf-b856-671ea2eeed62\",\r\n      \"name\": \"f9f0eed0-f143-47bf-b856-671ea2eeed62\",\r\n      \"properties\": {\r\n        \"resourceDetails\": {\r\n          \"Source[...]
