{
  "Entries": [
    {
      "RequestUri": "/subscriptions/dd91de05-d791-4ceb-b6dc-988682dc7d72/providers/Microsoft.AlertsManagement/alerts/e694ddf0-8430-4349-a5ed-c5866e9f4377?api-version=2018-05-05",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-resource-requests": [
          "999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"essentials\": {\r\n      \"severity\": \"Sev3\",\r\n      \"alertState\": \"New\",\r\n      \"signalType\": \"Metric\",\r\n      \"monitorCondition\": \"Resolved\",\r\n      \"monitorService\": \"Platform\",\r\n      \"targetResource\": \"/subscriptions/dd91de05-d791-4ceb-b6dc-988682dc7d72/resourcegroups/alertslab/providers/microsoft.apimanagement/service/aig-test\",\r\n      \"targetResourceName\": \"aig-test\",\r\n      \"targetResourceGroup\": \"alertslab\",\r\n      \"targetResourceType\": \"service\",\r\n      \"sourceCreatedId\": \"dd91de05-d791-4ceb-b6dc-988682dc7d72_alertslab_microsoft.insights_metricAlerts_Processing Latency high_1450547674\",\r\n      \"alertRule\": \"/subscriptions/dd91de05-d791-4ceb-b6dc-988682dc7d72/resourceGroups/alertslab/providers/microsoft.insights/metricAlerts/Processing Latency high\",\r\n      \"startDateTime\": \"2019-05-23T14:35:30.7389599Z\",\r\n      \"lastModifiedDateTime\": \"2019-05-23T14:40:33.3691372Z\",\r\n      \"monitorConditionResolvedDateTime\": \"2019-05-23T14:40:35.8868908Z\",\r\n      \"lastModifiedUserName\": \"System\",\r\n      \"actionStatus\": {\r\n        \"isSuppressed\": false\r\n      },\r\n      \"description\": \"Processing Latency high > 340 milliseconds\"\r\n    },\r\n    \"context\": {\r\n      \"version\": \"2.0\",\r\n      \"properties\": null,\r\n      \"status\": \"Activated\",\r\n      \"context\": {\r\n        \"timestamp\": \"2019-05-23T14:35:06.5371135Z\",\r\n        \"id\": \"/subscriptions/dd91de05-d791-4ceb-b6dc-988682dc7d72/resourceGroups/alertslab/providers/microsoft.insights/metricAlerts/Processing%20Latency%20high\",\r\n        \"name\": \"Processing Latency high\",\r\n        \"description\": \"Processing Latency high > 340 milliseconds\",\r\n        \"conditionType\": \"SingleResourceMultipleMetricCriteria\",\r\n        \"severity\": \"3\",\r\n        \"condition\": {\r\n          \"windowSize\": \"PT5M\",\r\n          \"allOf\": [\r\n            {\r\n              \"metricName\": \"Duration\",\r\n              \"metricNamespace\": \"Proxy\",\r\n              \"operator\": \"GreaterThan\",\r\n              \"threshold\": \"340\",\r\n              \"timeAggregation\": \"Average\",\r\n              \"dimensions\": [\r\n                {\r\n                  \"name\": \"ResourceId\",\r\n                  \"value\": \"/subscriptions/dd91de05-d791-4ceb-b6dc-988682dc7d72/resourceGroups/alertslab/providers/Microsoft.ApiManagement/service/aig-test\"\r\n                }\r\n              ],\r\n              \"metricValue\": 364.921568627451\r\n            }\r\n          ],\r\n          \"windowStartTime\": \"2019-05-23T14:27:06.532Z\",\r\n          \"windowEndTime\": \"2019-05-23T14:32:06.532Z\"\r\n        },\r\n        \"subscriptionId\": \"dd91de05-d791-4ceb-b6dc-988682dc7d72\",\r\n        \"resourceGroupName\": \"alertslab\",\r\n        \"resourceName\": \"aig-test\",\r\n        \"resourceType\": \"Microsoft.ApiManagement/service\",\r\n        \"resourceId\": \"/subscriptions/dd91de05-d791-4ceb-b6dc-988682dc7d72/resourceGroups/alertslab/providers/Microsoft.ApiManagement/service/aig-test\",\r\n        \"portalLink\": \"https://portal.azure.com/#resource/subscriptions/dd91de05-d791-4ceb-b6dc-988682dc7d72/resourceGroups/alertslab/providers/Microsoft.ApiManagement/service/aig-test\"\r\n      }\r\n    },\r\n    \"egressConfig\": {\r\n      \"partitionKey\": \"MonitorServiceConfigurationCollectionPartition\",\r\n      \"monitorService\": \"Platform\",\r\n      \"monitorServiceOwnerEmailIds\": \"rkadr@microsoft.com\",\r\n      \"modifiedByApplicationId\": \"b0597695-42dd-4cf3-88bd-fc423874c54a\",\r\n      \"displayConfig\": [\r\n        {\r\n          \"rootJsonNode\": \"Context\",\r\n          \"sectionName\": \"\",\r\n          \"displayControls\": [\r\n            {\r\n              \"resourceId\": \"ResourceId\",\r\n              \"metricData\": {\r\n                \"rootJsonNode\": \"Condition.AllOf\",\r\n                \"metricName\": \"MetricName\",\r\n                \"metricNamespace\": \"MetricNamespace\",\r\n                \"aggregationType\": \"TimeAggregation\",\r\n                \"operator\": \"Operator\",\r\n                \"staticThreshold\": {\r\n                  \"upperThreshold\": \"Threshold\"\r\n                },\r\n                \"dynamicThreshold\": {\r\n                  \"consecutivePeriods\": \"failingPeriods.numberOfEvaluationPeriods\",\r\n                  \"consecutiveViolations\": \"failingPeriods.minFailingPeriodsToAlert\",\r\n                  \"sensitivity\": \"alertSensitivity\",\r\n                  \"startTime\": \"ignoreDataBefore\"\r\n                },\r\n                \"dimensions\": {\r\n                  \"rootJsonNode\": \"Dimensions\",\r\n                  \"keyProperty\": \"Name\",\r\n                  \"valueProperty\": \"Value\"\r\n                }\r\n              },\r\n              \"alertFiredTime\": \"Condition.WindowEndTime\",\r\n              \"timeGrain\": \"Condition.WindowSize\",\r\n              \"property\": \"\",\r\n              \"displayName\": \"Why did this alert fire?\",\r\n              \"type\": \"MetricChart\",\r\n              \"isOptional\": true\r\n            },\r\n            {\r\n              \"property\": \"Condition.WindowStartTime\",\r\n              \"displayName\": \"Evaluation window start time (for which alert fired)\",\r\n              \"type\": \"Text\",\r\n              \"isOptional\": true\r\n            },\r\n            {\r\n              \"property\": \"Condition.WindowEndTime\",\r\n              \"displayName\": \"Evaluation window end time (for which alert fired)\",\r\n              \"type\": \"Text\",\r\n     [...]
