{
  "Entries": [
    {
      "RequestUri": "https://sdk-test-comm.int.communication.azure.net/emails:send?api-version=2021-10-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "repeatability-first-sent": "Sanitized",
        "repeatability-request-id": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 29 Dec 2022 00:16:48 GMT"
      },
      "RequestBody": {
        "sender": "DoNotReply@aa8c2c80-11ae-48b6-bb2a-783fd5aafaa1.azurecomm-dev.net",
        "content": {
          "subject": "This is the subject",
          "plainText": "This is the body"
        },
        "recipients": {
          "to": [
            {
              "email": "acseaastesting@gmail.com",
              "displayName": "Customer Name"
            }
          ]
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "api-supported-versions": "2021-10-01-preview",
        "mise-correlation-id": "e2fbdb3e-3e0e-4e0d-b70b-a171909cd6f8",
        "Operation-Location": "https://sdk-test-comm.int.communication.azure.net/emails/456ac081-a4b1-4966-b761-40c6cbaa75d7/status",
        "Repeatability-Result": "accepted"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "COMMUNICATION_CONNECTION_STRING_EMAIL": "endpoint=https://sdk-test-comm.int.communication.azure.net/;accesskey=Kg==",
    "RandomSeed": "1068898741",
    "RECIPIENT_ADDRESS": "acseaastesting@gmail.com",
    "SENDER_ADDRESS": "DoNotReply@aa8c2c80-11ae-48b6-bb2a-783fd5aafaa1.azurecomm-dev.net"
  }
}
