{
  "Entries": [
    {
      "RequestUri": "https://sdk-live-test-comm.communication.azure.com/emails:send?api-version=2021-10-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "repeatability-first-sent": "Sanitized",
        "repeatability-request-id": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 12 Sep 2022 21:52:46 GMT"
      },
      "RequestBody": {
        "sender": "DoNotReply@3276b20a-aa29-4ec2-9cf7-b517715b101b.azurecomm.net",
        "content": {
          "subject": "This is the subject",
          "plainText": "This is the body"
        },
        "recipients": {
          "to": [
            {
              "email": "acseaastesting@gmail.com",
              "displayName": "Customer Name"
            },
            {
              "email": "acseaastesting@gmail.com",
              "displayName": "Customer Name"
            }
          ],
          "CC": [
            {
              "email": "acseaastesting@gmail.com",
              "displayName": "Customer Name"
            },
            {
              "email": "acseaastesting@gmail.com",
              "displayName": "Customer Name"
            }
          ],
          "bCC": [
            {
              "email": "acseaastesting@gmail.com",
              "displayName": "Customer Name"
            },
            {
              "email": "acseaastesting@gmail.com",
              "displayName": "Customer Name"
            }
          ]
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "api-supported-versions": "2021-10-01-preview",
        "mise-correlation-id": "d72a7229-bd15-422d-bc2b-2648f70d62b9",
        "Operation-Location": "https://sdk-live-test-comm.communication.azure.com/emails/6c614ae5-9476-4bd1-9738-8b3b193d7872/status",
        "Repeatability-Result": "accepted"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "COMMUNICATION_CONNECTION_STRING_EMAIL": "endpoint=https://sdk-live-test-comm.communication.azure.com/;accesskey=Kg==",
    "RandomSeed": "1506371104",
    "RECIPIENT_ADDRESS": "acseaastesting@gmail.com",
    "SENDER_ADDRESS": "DoNotReply@3276b20a-aa29-4ec2-9cf7-b517715b101b.azurecomm.net"
  }
}
