{
  "Entries": [
    {
      "RequestUri": "https://api.cognitive.microsofttranslator.com/transliterate?language=zh-Hans\u0026fromScript=Hans\u0026toScript=Latn\u0026api-version=3.0",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized",
        "Ocp-Apim-Subscription-Region": "westus"
      },
      "RequestBody": "[{\u0022Text\u0022:\u0022\\u8FD9\\u91CC\\u600E\\u4E48\\u4E00\\u56DE\\u4E8B?\u0022}]",
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "X-Metered-Usage": "8",
        "X-RequestId": "TLIT.MW1P.99BD.0322T2104.A2340C1"
      },
      "ResponseBody": "[{\u0022text\u0022:\u0022zh\u00E8 l\u01D0 z\u011Bn me y\u00EC hu\u00ED sh\u00EC?\u0022,\u0022script\u0022:\u0022Latn\u0022}]"
    }
  ],
  "Variables": {
    "RandomSeed": "657502118",
    "TEXT_TRANSLATION_API_KEY": "Sanitized",
    "TEXT_TRANSLATION_ENDPOINT": "https://api.cognitive.microsofttranslator.com",
    "TEXT_TRANSLATION_REGION": "westus"
  }
}
