{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/5b0120b2-6e29-4784-95cd-49a1b101a0c4?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "id": "/subscriptions/5b0120b2-6e29-4784-95cd-49a1b101a0c4",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "NRMSBreakGlassAzureOnly": "NRMSBreakGlassAzureOnly"
        },
        "subscriptionId": "5b0120b2-6e29-4784-95cd-49a1b101a0c4",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": "Marlin - Dev CP",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/5b0120b2-6e29-4784-95cd-49a1b101a0c4/resourcegroups/test-rg-4254?api-version=**",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus2"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "id": "/subscriptions/5b0120b2-6e29-4784-95cd-49a1b101a0c4/resourceGroups/test-rg-4254",
        "name": "test-rg-4254",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus2",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/5b0120b2-6e29-4784-95cd-49a1b101a0c4/resourceGroups/test-rg-4254/providers/Microsoft.DBforPostgreSQL/serverGroupsv2/cosmospgnet5532?api-version=2022-11-08",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "westus2",
        "properties": {
          "administratorLoginPassword": "P4ssw@rd1234",
          "postgresqlVersion": "14",
          "citusVersion": "11.1",
          "preferredPrimaryZone": "1",
          "enableShardsOnCoordinator": true,
          "enableHa": false,
          "coordinatorServerEdition": "GeneralPurpose",
          "coordinatorStorageQuotaInMb": 524288,
          "coordinatorVCores": 4,
          "coordinatorEnablePublicIpAccess": true,
          "nodeCount": 0
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/5b0120b2-6e29-4784-95cd-49a1b101a0c4/providers/Microsoft.DBforPostgreSQL/locations/westus2/azureAsyncOperation/13a029f6-eba2-4d02-94fa-df6cbeb08d3f?api-version=2022-11-08",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/5b0120b2-6e29-4784-95cd-49a1b101a0c4/providers/Microsoft.DBforPostgreSQL/locations/westus2/operationResults/13a029f6-eba2-4d02-94fa-df6cbeb08d3f?api-version=2022-11-08",
        "x-ms-ratelimit-remaining-subscription-writes": "1198"
      },
      "ResponseBody": {
        "id": "/subscriptions/5b0120b2-6e29-4784-95cd-49a1b101a0c4/resourceGroups/test-rg-4254/providers/Microsoft.DBforPostgreSQL/serverGroupsv2/cosmospgnet5532",
        "name": "cosmospgnet5532",
        "type": "Microsoft.DBforPostgreSQL/serverGroupsv2",
        "tags": {},
        "location": "westus2",
        "systemData": {
          "createdAt": "2023-05-27T00:00:08.6992106Z",
          "createdBy": "66761688-d440-4677-af3f-3325374b8ebf",
          "createdByType": "Application",
          "lastModifiedAt": "2023-05-27T00:00:08.6992106Z",
          "lastModifiedBy": "66761688-d440-4677-af3f-3325374b8ebf",
          "lastModifiedByType": "Application"
        },
        "properties": {
          "provisioningState": "Provisioning",
          "state": "Provisioning",
          "administratorLogin": "citus",
          "postgresqlVersion": "14",
          "citusVersion": "11.1",
          "maintenanceWindow": {
            "customWindow": "Disabled",
            "dayOfWeek": 0,
            "startHour": 0,
            "startMinute": 0
          },
          "preferredPrimaryZone": "1",
          "enableShardsOnCoordinator": true,
          "earliestRestoreTime": null,
          "sourceResourceId": null,
          "enableHa": false,
          "coordinatorServerEdition": "GeneralPurpose",
          "nodeServerEdition": "MemoryOptimized",
          "coordinatorStorageQuotaInMb": 524288,
          "nodeStorageQuotaInMb": 524288,
          "coordinatorVCores": 4,
          "nodeVCores": 4,
          "coordinatorEnablePublicIpAccess": true,
          "nodeEnablePublicIpAccess": false,
          "nodeCount": 0,
          "serverNames": [
            {
              "name": "cosmospgnet5532-c",
              "fullyQualifiedDomainName": "c.cosmospgnet5532.postgres.database.azure.com"
            }
          ],
          "readReplicas": [],
          "privateEndpointConnections": []
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/5b0120b2-6e29-4784-95cd-49a1b101a0c4/providers/Microsoft.DBforPostgreSQL/locations/westus2/azureAsyncOperation/13a029f6-eba2-4d02-94fa-df6cbeb08d3f?api-version=2022-11-08",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/5b0120b2-6e29-4784-95cd-49a1b101a0c4/providers/Microsoft.DBforPostgreSQL/locations/westus2/azureAsyncOperation/13a029f6-eba2-4d02-94fa-df6cbeb08d3f?api-version=2022-11-08",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/5b0120b2-6e29-4784-95cd-49a1b101a0c4/providers/Microsoft.DBforPostgreSQL/locations/westus2/operationResults/13a029f6-eba2-4d02-94fa-df6cbeb08d3f?api-version=2022-11-08",
        "x-ms-ratelimit-remaining-subscription-reads": "11998"
      },
      "ResponseBody": {
        "id": "/subscriptions/5b0120b2-6e29-4784-95cd-49a1b101a0c4/providers/Microsoft.DBforPostgreSQL/locations/westus2/azureAsyncOperation/13a029f6-eba2-4d02-94fa-df6cbeb08d3f",
        "name": "13a029f6-eba2-4d02-94fa-df6cbeb08d3f",
        "status": "InProgress",
        "startTime": "2023-05-27 00:00:09 \u002B0000"
      }
    },
[...]
