<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="WebJobs SDK" Description="This rule set contains the rules that applies to sources" ToolsVersion="15.0">
  <IncludeAll Action="Error" />
  <Rules AnalyzerId="Microsoft.Analyzers.ManagedCodeAnalysis" RuleNamespace="Microsoft.Rules.Managed">
    <Rule Id="CA1006" Action="None" />
    <Rule Id="CA1020" Action="None" />
    <Rule Id="CA1024" Action="None" />
    <Rule Id="CA1026" Action="None" />
    <Rule Id="CA1031" Action="None" />
    <Rule Id="CA1033" Action="None" />
    <Rule Id="CA1062" Action="None" />
    <Rule Id="CA1303" Action="None" />
    <Rule Id="CA1305" Action="None" />
    <Rule Id="CA1307" Action="None" />
    <Rule Id="CA1308" Action="None" />
    <Rule Id="CA1506" Action="None" />
    <Rule Id="CA1726" Action="None" />
    <Rule Id="CA1800" Action="None" />
    <Rule Id="CA2204" Action="None" />
    <Rule Id="CA2210" Action="None" />
    <Rule Id="CA2243" Action="None" />
    <Rule Id="CA904" Action="None" />
    <Rule Id="CA905" Action="None" />
    <Rule Id="CA908" Action="None" />
    <Rule Id="CS0618" Action="None" />
  </Rules>
  <Rules AnalyzerId="StyleCop.Analyzers" RuleNamespace="StyleCop.Analyzers">
    <Rule Id="SA0001" Action="None" />
    <Rule Id="SA1005" Action="None" />
    <Rule Id="SA1101" Action="None" />
    <Rule Id="SA1116" Action="None" />
    <Rule Id="SA1117" Action="None" />
    <Rule Id="SA1127" Action="None" />
    <Rule Id="SA1128" Action="None" />
    <Rule Id="SA1139" Action="None" />
    <Rule Id="SA1202" Action="None" />
    <Rule Id="SA1204" Action="None" />
    <Rule Id="SA1308" Action="None" />
    <Rule Id="SA1309" Action="None" />
    <Rule Id="SA1314" Action="None" />
    <Rule Id="SA1402" Action="None" />
    <Rule Id="SA1404" Action="None" />
    <Rule Id="SA1405" Action="None" />
    <Rule Id="SA1413" Action="None" />
    <Rule Id="SA1502" Action="None" />
    <Rule Id="SA1512" Action="None" />
    <Rule Id="SA1513" Action="None" />
    <Rule Id="SA1611" Action="None" />
    <Rule Id="SA1615" Action="None" />
    <Rule Id="SA1618" Action="None" />
    <Rule Id="SA1028" Action="None" />
    <!-- Re-enable this -->
    <Rule Id="SA1009" Action="None" />
    <!-- Re-enable this -->
    <Rule Id="SA1649" Action="None" />
    <!-- Re-enable this -->
    <Rule Id="SA1623" Action="None" />
    <!-- Re-enable this -->
    <Rule Id="SA1515" Action="None" />
    <!-- Re-enable this -->
    <Rule Id="SA1401" Action="None" />
    <!-- Re-enable this -->
    <Rule Id="SA1516" Action="None" />
    <!-- Re-enable this -->
    <Rule Id="SA1400" Action="None" />
    <!-- Re-enable this -->
    <Rule Id="SA1507" Action="None" />
    <!-- Re-enable this -->
    <Rule Id="SA1124" Action="None" />
    <!-- Re-enable this -->
    <Rule Id="SA1614" Action="None" />
    <!-- Re-enable this -->
    <Rule Id="SA1616" Action="None" />
    <!-- Re-enable this -->
    <Rule Id="SA1617" Action="None" />
    <!-- Re-enable this -->
    <Rule Id="SA1622" Action="None" />
    <!-- Re-enable this -->
    <Rule Id="SA1311" Action="None" />
    <!-- Re-enable this -->
    <Rule Id="SA1134" Action="None" />
    <Rule Id="SA1201" Action="None" />
    <Rule Id="SA1121" Action="None" />
    <Rule Id="SA1111" Action="None" />
    <Rule Id="SA1118" Action="None" />
    <Rule Id="SA1003" Action="None" />
    <Rule Id="SA1013" Action="None" />
    <Rule Id="SA1208" Action="None" />
    <Rule Id="SA1210" Action="None" />
    <Rule Id="SA1500" Action="None" />
    <Rule Id="SA1012" Action="None" />
    <Rule Id="SA1122" Action="None" />
    <Rule Id="SA1129" Action="None" />
    <Rule Id="SA1312" Action="None" />
    <Rule Id="SA1137" Action="None" />
    <Rule Id="SA1130" Action="None" />
    <Rule Id="SA1514" Action="None" />
    <Rule Id="SA1505" Action="None" />
    <Rule Id="SA1119" Action="None" />
    <Rule Id="SA1125" Action="None" />
    <Rule Id="SA1206" Action="None" />
    <Rule Id="SA1300" Action="None" />
    <Rule Id="SA1509" Action="None" />
    <Rule Id="SA1008" Action="None" />
    <Rule Id="SA1606" Action="None" />
    <Rule Id="SA1107" Action="None" />
    <Rule Id="SA1504" Action="None" />
    <Rule Id="SA1642" Action="None" />
    <Rule Id="SA1407" Action="None" />
    <Rule Id="SA1624" Action="None" />
    <Rule Id="SA1214" Action="None" />
    <Rule Id="SA1100" Action="None" />
    <Rule Id="SA1501" Action="None" />
    <Rule Id="SA1108" Action="None" />
    <Rule Id="SA1203" Action="None" />
    <Rule Id="SA1002" Action="None" />
  </Rules>
  <Rules AnalyzerId="xunit.analyzers" RuleNamespace="xunit.analyzers">
    <Rule Id="xUnit1013" Action="None" />
    <Rule Id="xUnit2000" Action="None" />
    <Rule Id="xUnit2009" Action="None" />
    <Rule Id="xUnit2002" Action="None" />
    <Rule Id="xUnit2003" Action="None" />
    <Rule Id="xUnit2004" Action="None" />
    <Rule Id="xUnit1004" Action="None" />
  </Rules>
</RuleSet>