{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "TagKey-9823": "TagValue-566",
          "TagKey-3481": "TagValue-320",
          "TagKey-4926": "TagValue-1187",
          "TagKey-751": "TagValue-3921",
          "TagKey-1866": "TagValue-8559",
          "TagKey-3094": "TagValue-9190",
          "TagKey-2449": "TagValue-9",
          "TagKey-8379": "TagValue-164",
          "TagKey-7470": "TagValue-2205",
          "TagKey-4236": "TagValue-3698",
          "TagKey-5316": "TagValue-2725"
        },
        "subscriptionId": "db1ab6f0-4769-4b27-930e-01e2ef9c123c",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": ".NET Mgmt SDK Test with TTL = 1 Day",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourcegroups/testRG-7092?api-version=**",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {
          "test": "env"
        },
        "location": "eastus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-7092",
        "name": "testRG-7092",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus",
        "tags": {
          "test": "env"
        },
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-7092/providers/Microsoft.ApiManagement/service/testapi-5722?api-version=2021-08-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "sku": {
          "name": "Developer",
          "capacity": 1
        },
        "identity": {
          "type": "SystemAssigned"
        },
        "tags": {},
        "location": "eastus",
        "properties": {
          "publisherEmail": "Sample@Sample.com",
          "publisherName": "sample"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022AAAAAABwUnA=\u0022",
        "Location": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-7092/providers/Microsoft.ApiManagement/service/testapi-5722/operationresults/ZWFzdHVzOnRlc3RhcGktNTcyMl9BY3RfMzEzOGUyZDE=?api-version=2021-08-01",
        "Retry-After": "60",
        "x-ms-ratelimit-remaining-subscription-writes": "1198"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-7092/providers/Microsoft.ApiManagement/service/testapi-5722",
        "name": "testapi-5722",
        "type": "Microsoft.ApiManagement/service",
        "tags": {},
        "location": "East US",
        "etag": "AAAAAABwUnA=",
        "properties": {
          "publisherEmail": "Sample@Sample.com",
          "publisherName": "sample",
          "notificationSenderEmail": "apimgmt-noreply@mail.windowsazure.com",
          "provisioningState": "Created",
          "targetProvisioningState": "Activating",
          "createdAtUtc": "2022-08-17T06:06:44.0785517Z",
          "gatewayUrl": "https://testapi-5722.azure-api.net",
          "gatewayRegionalUrl": null,
          "portalUrl": null,
          "developerPortalUrl": null,
          "managementApiUrl": null,
          "scmUrl": null,
          "hostnameConfigurations": [
            {
              "type": "Proxy",
              "hostName": "testapi-5722.azure-api.net",
              "encodedCertificate": null,
              "keyVaultId": null,
              "certificatePassword": null,
              "negotiateClientCertificate": false,
              "certificate": null,
              "defaultSslBinding": true,
              "identityClientId": null,
              "certificateSource": "BuiltIn",
              "certificateStatus": null
            }
          ],
          "publicIPAddresses": null,
          "privateIPAddresses": null,
          "additionalLocations": null,
          "virtualNetworkConfiguration": null,
          "customProperties": null,
          "virtualNetworkType": "None",
          "certificates": null,
          "disableGateway": false,
          "apiVersionConstraint": {
            "minApiVersion": null
          },
          "publicIpAddressId": null,
          "publicNetworkAccess": "Enabled",
          "privateEndpointConnections": null,
          "platformVersion": "undetermined"
        },
        "sku": {
          "name": "Developer",
          "capacity": 1
        },
        "identity": {
          "type": "SystemAssigned",
          "principalId": "b21388bf-e4d5-410c-ac3f-70f05fdb5afc",
          "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47"
        },
        "zones": null,
        "systemData": {
          "createdBy": "8e6d47e0-7969-4fde-a62c-4fea4f165e98",
          "createdByType": "Application",
          "createdAt": "2022-08-17T06:06:42.1647967Z",
          "lastModifiedBy": "8e6d47e0-7969-4fde-a62c-4fea4f165e98",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2022-08-17T06:06:42.1647967Z"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-7092/providers/Microsoft.ApiManagement/service/testapi-5722/operationresults/ZWFzdHVzOnRlc3RhcGktNTcyMl9BY3RfMzEzOGUyZDE=?api-version=2021-08-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Location": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-7092/providers/Microsoft.ApiManagement/service/testapi-5722/operationresults/ZWFzdHVzOnRlc3RhcGktNTcyMl9BY3RfMzEzOGUyZDE=?api-version=2021-08-01",
        "Retry-After": "60",
        "x-ms-ratelimit-remaining-subscription-reads": "11998"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-7092/providers/Microsoft.ApiManagement/service/testapi-5722/templates?api-version=2021-08-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11939"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-7092/providers/Microsoft.ApiManagement/service/testapi-5722/templates/ApplicationApprovedNotificationMessage",
            "type": "Microsoft.ApiManagement/service/templates",
            "name": "ApplicationApprovedNotificationMessage",
            "properties": {
              "subject": "Your application $AppName is published in the application gallery",
              "body": "\u003C!DOCTYPE html \u003E\r\n\u003Chtml\u003E\r\n  \u003Chead /\u003E\r\n  \u003Cbody\u003E\r\n    \u003Cp style=\u0022font-size:12pt;font-family:\u0027Segoe UI\u0027\u0022\u003EDear $DevFirstName $DevLastName,\u003C/p\u003E\r\n    \u003Cp style=\u0022font-size:12pt;font-family:\u0027Segoe UI\u0027\u0022\u003E\r\n          We are happy to let you know that your request to publish the $AppName application in the application gallery has been approved. Your application has been published and can be viewed \u003Ca href=\u0022http://$DevPortalUrl/Applications/Details/$AppId\u0022\u003Ehere\u003C/a\u003E.\r\n        \u003C/p\u003E\r\n    \u003Cp style=\u0022font-size:12pt;font-family:\u0027Segoe UI\u0027\u0022\u003EBest,\u003C/p\u003E\r\n    \u003Cp style=\u0022font-size:12pt;font-family:\u0027Segoe UI\u0027\u0022\u003EThe $OrganizationName API Team\u003C/p\u003E\r\n  \u003C/body\u003E\r\n\u003C/html\u003E",
              "title": "Application gallery submission approved (deprecated)",
              "description": "Developers who submitted their application for publication in the application gallery on the developer portal receive this email after their submission is approved.",
              "isDefault": true,
              "parameters": [
                {
                  "name": "AppId",
                  "title": "Application id",
                  "description": null
                },
                {
                  "name": "AppName",
                  "title": "Application name",
                  "description": null
                },
                {
                  "name": "DevFirstName",
                  "title": "Developer first name",
                  "description": null
                },
               [...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-7092/providers/Microsoft.ApiManagement/service/testapi-5722/templates/ApplicationApprovedNotificationMessage?api-version=2021-08-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "subject": "New Subject"
        }[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-7092/providers/Microsoft.ApiManagement/service/testapi-5722/templates/ApplicationApprovedNotificationMessage?api-version=2021-08-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-Match": "*"
      },
      "RequestBody": {
        "properties": {
          "subject": "Updated Subject"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1198"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-7092/providers/Microsoft.ApiManagement/service/testapi-5722/templates/ApplicationApprovedNotificationMessage",
        "type": "Microsoft.ApiManagement/service/templates",
        "name": "ApplicationApprovedNotificationMessage",
        "properties": {
          "Item1": false,
          "Item2": {
            "Id": 0,
            "Entity": {
              "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-7092/providers/Microsoft.ApiManagement/service/testapi-5722/templates/ApplicationApprovedNotificationMessage",
              "subject": "Updated Subject",
              "body": "\u003C!DOCTYPE html \u003E\r\n\u003Chtml\u003E\r\n  \u003Chead /\u003E\r\n  \u003Cbody\u003E\r\n    \u003Cp style=\u0022font-size:12pt;font-family:\u0027Segoe UI\u0027\u0022\u003EDear $DevFirstName $DevLastName,\u003C/p\u003[...]
[...]
