{
  "Entries": [
    {
      "RequestUri": "/subscriptions?api-version=2015-11-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"offerId\": \"/delegatedProviders/default/offers/balaoffer\",\r\n      \"id\": \"/subscriptions/4caa8431-21b4-4e0b-bca0-1542a5f11e23\",\r\n      \"subscriptionId\": \"4caa8431-21b4-4e0b-bca0-1542a5f11e23\",\r\n      \"tenantId\": \"d9b782d5-d098-4374-8f2c-3907cc34611c\",\r\n      \"displayName\": \"balasub\",\r\n      \"state\": \"Enabled\",\r\n      \"subscriptionPolicies\": {\r\n        \"locationPlacementId\": \"AzureStack\"\r\n      }\r\n    }\r\n  ]\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-tenant-reads": [
          "14995"
        ]
      },
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "4caa8431-21b4-4e0b-bca0-1542a5f11e23"
  }
}