{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/fc35d936-3b89-41f8-8110-a24b56826c37?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "id": "/subscriptions/fc35d936-3b89-41f8-8110-a24b56826c37",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "subscriptionId": "fc35d936-3b89-41f8-8110-a24b56826c37",
        "tenantId": "888d76fa-54b2-4ced-8ee5-aac1585adee7",
        "displayName": "PayG_Test_LiftrQumulo",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Public_2014-09-01",
          "quotaId": "PayAsYouGo_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/fc35d936-3b89-41f8-8110-a24b56826c37/resourcegroups/Default-Qumulo-774?api-version=**",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus2"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "id": "/subscriptions/fc35d936-3b89-41f8-8110-a24b56826c37/resourceGroups/Default-Qumulo-774",
        "name": "Default-Qumulo-774",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus2",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/fc35d936-3b89-41f8-8110-a24b56826c37/resourceGroups/Default-Qumulo-774/providers/Qumulo.Storage/fileSystems/testResource-7201?api-version=2022-10-12",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "eastus2",
        "properties": {
          "marketplaceDetails": {
            "planId": "qumulo-on-azure-v1%%gmz7xq9ge3py%%P1M",
            "offerId": "qumulo-saas-mpp",
            "publisherId": "qumulo1584033880660"
          },
          "storageSku": "Performance",
          "userDetails": {
            "email": "abc@test.com"
          },
          "delegatedSubnetId": "/subscriptions/fc35d936-3b89-41f8-8110-a24b56826c37/resourceGroups/NetworkWatcherRG/providers/Microsoft.Network/virtualNetworks/eastus2vnet/subnets/default",
          "adminPassword": "Test123",
          "initialCapacity": 18,
          "availabilityZone": "2"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/providers/Qumulo.Storage/locations/EASTUS2/operationStatuses/1a8558c3-df8d-40f7-bc9c-3fc58a7ee80a*ED48A1C3A6B2DC22B6378572362BE6D5E8B2873C6B8F644B54EFA89E734E2722?api-version=2022-10-12",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00228d051649-0000-0100-0000-644bb9730000\u0022",
        "Location": "https://management.azure.com/providers/Qumulo.Storage/locations/EASTUS2/operationStatuses/1a8558c3-df8d-40f7-bc9c-3fc58a7ee80a*ED48A1C3A6B2DC22B6378572362BE6D5E8B2873C6B8F644B54EFA89E734E2722?api-version=2022-10-12",
        "mise-correlation-id": "7b8b3240-bc46-44b8-abef-a766e2516b46",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-writes": "1198"
      },
      "ResponseBody": {
        "id": "/subscriptions/fc35d936-3b89-41f8-8110-a24b56826c37/resourceGroups/Default-Qumulo-774/providers/Qumulo.Storage/fileSystems/testResource-7201",
        "name": "testResource-7201",
        "type": "qumulo.storage/filesystems",
        "location": "eastus2",
        "tags": {},
        "systemData": {
          "createdBy": "d01a3099-115f-472c-8d79-8e19275b4d8c",
          "createdByType": "Application",
          "createdAt": "2023-04-28T12:17:53.903871Z",
          "lastModifiedBy": "d01a3099-115f-472c-8d79-8e19275b4d8c",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2023-04-28T12:17:53.903871Z"
        },
        "properties": {
          "marketplaceDetails": {
            "marketplaceSubscriptionId": null,
            "planId": "qumulo-on-azure-v1%%gmz7xq9ge3py%%P1M",
            "offerId": "qumulo-saas-mpp",
            "publisherId": "qumulo1584033880660",
            "marketplaceSubscriptionStatus": "PendingFulfillmentStart"
          },
          "provisioningState": "Accepted",
          "userDetails": {},
          "delegatedSubnetId": "/subscriptions/fc35d936-3b89-41f8-8110-a24b56826c37/resourceGroups/NetworkWatcherRG/providers/Microsoft.Network/virtualNetworks/eastus2vnet/subnets/default",
          "clusterLoginUrl": null,
          "privateIPs": null,
          "storageSku": "Performance",
          "initialCapacity": 18,
          "availabilityZone": "2"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/providers/Qumulo.Storage/locations/EASTUS2/operationStatuses/1a8558c3-df8d-40f7-bc9c-3fc58a7ee80a*ED48A1C3A6B2DC22B6378572362BE6D5E8B2873C6B8F644B54EFA89E734E2722?api-version=2022-10-12",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022cf000460-0000-0100-0000-644bb9720000\u0022",
        "x-ms-ratelimit-remaining-tenant-reads": "11999"
      },
      "ResponseBody": {
        "id": "/providers/Qumulo.Storage/locations/EASTUS2/operationStatuses/1a8558c3-df8d-40f7-bc9c-3fc58a7ee80a*ED48A1C3A6B2DC22B6378572362BE6D5E8B2873C6B8F644B54EFA89E734E2722",
        "name": "1a8558c3-df8d-40f7-bc9c-3fc58a7ee80a*ED48A1C3A6B2DC22B6378572362BE6D5E8B2873C6B8F644B54EFA89E734E2722",
        "resourceId": "/subscriptions/fc35d936-3b89-41f8-8110-a24b56826c37/resourceGroups/Default-Qumulo-774/providers/Qumulo.Storage/fileSystems/testResource-7201",
        "status": "Accepted",
        "startTime": "2023-04-28T12:17:54.884351Z"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/providers/Qumulo.Storage/locations/EASTUS2/operationStatuses/1a8558c3-df8d-40f7-bc9c-3fc58a7ee80a*ED48A1C3A6B2DC22B6378572362BE6D5E8B2873C6B8F644B54EFA89E734E2722?api-version=2022-10-12",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022cf0073bb-0000-0100-0000-644bbb6a0000\u0022",
        "x-ms-ratelimit-remaining-tenant-reads": "11978"
      },
      "ResponseBody": {
        "id": "/providers/Qumulo.Storage/locations/EASTUS2/operationStatuses/1a8558c3-df8d-40f7-bc9c-3fc58a7ee80a*ED48A1C3A6B2DC22B6378572362BE6D5E8B2873C6B8F644B54EFA89E734E2722",
        "name": "1a8558c3-df8d-40f7-bc9c-3fc58a7ee80a*ED48A1C3A6B2DC22B6378572362BE6D5E8B2873C6B8F644B54EFA89E734E2722",
        "resourceId": "/subscriptions/fc35d936-3b89-41f8-8110-a24b56826c37/resourceGroups/Default-Qumulo-774/providers/Qumulo.Storage/fileSystems/testResource-7201",
        "status": "Succeeded",
        "startTime": "2023-04-28T12:17:54.884351Z",
        "endTime": "2023-04-28T12:26:18.5400822Z",
        "error": {},
        "properties": null
      }
    },
[...]
