{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/fc35d936-3b89-41f8-8110-a24b56826c37?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11996"
      },
      "ResponseBody": {
        "id": "/subscriptions/fc35d936-3b89-41f8-8110-a24b56826c37",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "subscriptionId": "fc35d936-3b89-41f8-8110-a24b56826c37",
        "tenantId": "888d76fa-54b2-4ced-8ee5-aac1585adee7",
        "displayName": "PayG_Test_LiftrQumulo",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Public_2014-09-01",
          "quotaId": "PayAsYouGo_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/fc35d936-3b89-41f8-8110-a24b56826c37/resourcegroups/Default-Qumulo-7691?api-version=**",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus2"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "id": "/subscriptions/fc35d936-3b89-41f8-8110-a24b56826c37/resourceGroups/Default-Qumulo-7691",
        "name": "Default-Qumulo-7691",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus2",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/fc35d936-3b89-41f8-8110-a24b56826c37/resourceGroups/Default-Qumulo-7691/providers/Qumulo.Storage/fileSystems/testResource-4458?api-version=2022-10-12",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "eastus2",
        "properties": {
          "marketplaceDetails": {
            "planId": "qumulo-on-azure-v1%%gmz7xq9ge3py%%P1M",
            "offerId": "qumulo-saas-mpp",
            "publisherId": "qumulo1584033880660"
          },
          "storageSku": "Performance",
          "userDetails": {
            "email": "abc@test.com"
          },
          "delegatedSubnetId": "/subscriptions/fc35d936-3b89-41f8-8110-a24b56826c37/resourceGroups/NetworkWatcherRG/providers/Microsoft.Network/virtualNetworks/eastus2vnet/subnets/default",
          "adminPassword": "Test123",
          "initialCapacity": 18,
          "availabilityZone": "2"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/providers/Qumulo.Storage/locations/EASTUS2/operationStatuses/80b16538-2057-485b-b7cb-6bc2633e6094*8653782C9744206E014F46696D176EAA875C439ED7FA615DCEB37C61E3D3CE42?api-version=2022-10-12",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022dd09e909-0000-0100-0000-64536db00000\u0022",
        "Location": "https://management.azure.com/providers/Qumulo.Storage/locations/EASTUS2/operationStatuses/80b16538-2057-485b-b7cb-6bc2633e6094*8653782C9744206E014F46696D176EAA875C439ED7FA615DCEB37C61E3D3CE42?api-version=2022-10-12",
        "mise-correlation-id": "8b1d47d5-2527-4481-8bf8-e078309140d9",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-writes": "1198"
      },
      "ResponseBody": {
        "id": "/subscriptions/fc35d936-3b89-41f8-8110-a24b56826c37/resourceGroups/Default-Qumulo-7691/providers/Qumulo.Storage/fileSystems/testResource-4458",
        "name": "testResource-4458",
        "type": "qumulo.storage/filesystems",
        "location": "eastus2",
        "tags": {},
        "systemData": {
          "createdBy": "d01a3099-115f-472c-8d79-8e19275b4d8c",
          "createdByType": "Application",
          "createdAt": "2023-05-04T08:32:46.5066828Z",
          "lastModifiedBy": "d01a3099-115f-472c-8d79-8e19275b4d8c",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2023-05-04T08:32:46.5066828Z"
        },
        "properties": {
          "marketplaceDetails": {
            "marketplaceSubscriptionId": null,
            "planId": "qumulo-on-azure-v1%%gmz7xq9ge3py%%P1M",
            "offerId": "qumulo-saas-mpp",
            "publisherId": "qumulo1584033880660",
            "marketplaceSubscriptionStatus": "PendingFulfillmentStart"
          },
          "provisioningState": "Accepted",
          "userDetails": {},
          "delegatedSubnetId": "/subscriptions/fc35d936-3b89-41f8-8110-a24b56826c37/resourceGroups/NetworkWatcherRG/providers/Microsoft.Network/virtualNetworks/eastus2vnet/subnets/default",
          "clusterLoginUrl": null,
          "privateIPs": null,
          "storageSku": "Performance",
          "initialCapacity": 18,
          "availabilityZone": "2"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/providers/Qumulo.Storage/locations/EASTUS2/operationStatuses/80b16538-2057-485b-b7cb-6bc2633e6094*8653782C9744206E014F46696D176EAA875C439ED7FA615DCEB37C61E3D3CE42?api-version=2022-10-12",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022b30293f4-0000-0100-0000-64536daf0000\u0022",
        "x-ms-ratelimit-remaining-tenant-reads": "11999"
      },
      "ResponseBody": {
        "id": "/providers/Qumulo.Storage/locations/EASTUS2/operationStatuses/80b16538-2057-485b-b7cb-6bc2633e6094*8653782C9744206E014F46696D176EAA875C439ED7FA615DCEB37C61E3D3CE42",
        "name": "80b16538-2057-485b-b7cb-6bc2633e6094*8653782C9744206E014F46696D176EAA875C439ED7FA615DCEB37C61E3D3CE42",
        "resourceId": "/subscriptions/fc35d936-3b89-41f8-8110-a24b56826c37/resourceGroups/Default-Qumulo-7691/providers/Qumulo.Storage/fileSystems/testResource-4458",
        "status": "Accepted",
        "startTime": "2023-05-04T08:32:47.7501716Z"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/providers/Qumulo.Storage/locations/EASTUS2/operationStatuses/80b16538-2057-485b-b7cb-6bc2633e6094*8653782C9744206E014F46696D176EAA875C439ED7FA615DCEB37C61E3D3CE42?api-version=2022-10-12",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022b302e2f7-0000-0100-0000-64536fe80000\u0022",
        "x-ms-ratelimit-remaining-tenant-reads": "11975"
      },
      "ResponseBody": {
        "id": "/providers/Qumulo.Storage/locations/EASTUS2/operationStatuses/80b16538-2057-485b-b7cb-6bc2633e6094*8653782C9744206E014F46696D176EAA875C439ED7FA615DCEB37C61E3D3CE42",
        "name": "80b16538-2057-485b-b7cb-6bc2633e6094*8653782C9744206E014F46696D176EAA875C439ED7FA615DCEB37C61E3D3CE42",
        "resourceId": "/subscriptions/fc35d936-3b89-41f8-8110-a24b56826c37/resourceGroups/Default-Qumulo-7691/providers/Qumulo.Storage/fileSystems/testResource-4458",
        "status": "Succeeded",
        "startTime": "2023-05-04T08:32:47.7501716Z",
        "endTime": "2023-05-04T08:42:16.26744Z",
        "error": {},
        "properties": null
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/fc35d936-3b89-41f8-8110-a24b56826c37/resourceGroups/Default-Qumulo-7691/providers/Qumulo.Storage/fileSystems/testResource-4458?api-version=2022-10-12",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-failure-cause": "gateway",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-reads": "11994"
      },
      "ResponseBody": {
        "error": {
          "code": "ResourceNotFound",
          "message": "The resource \u0027Qumulo.Storage/fileSystems/testResource-4458\u0027 could not be found."
        }
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": null,
    "RandomSeed": "716869425",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "fc35d936-3b89-41f8-8110-a24b56826c37"
  }
}
