{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/fc35d936-3b89-41f8-8110-a24b56826c37?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "id": "/subscriptions/fc35d936-3b89-41f8-8110-a24b56826c37",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "subscriptionId": "fc35d936-3b89-41f8-8110-a24b56826c37",
        "tenantId": "888d76fa-54b2-4ced-8ee5-aac1585adee7",
        "displayName": "PayG_Test_LiftrQumulo",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Public_2014-09-01",
          "quotaId": "PayAsYouGo_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/fc35d936-3b89-41f8-8110-a24b56826c37/resourcegroups/Default-Qumulo-3454?api-version=**",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus2"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "id": "/subscriptions/fc35d936-3b89-41f8-8110-a24b56826c37/resourceGroups/Default-Qumulo-3454",
        "name": "Default-Qumulo-3454",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus2",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/fc35d936-3b89-41f8-8110-a24b56826c37/resourceGroups/Default-Qumulo-3454/providers/Qumulo.Storage/fileSystems/testResource-1138?api-version=2022-10-12",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "eastus2",
        "properties": {
          "marketplaceDetails": {
            "planId": "qumulo-on-azure-v1%%gmz7xq9ge3py%%P1M",
            "offerId": "qumulo-saas-mpp",
            "publisherId": "qumulo1584033880660"
          },
          "storageSku": "Performance",
          "userDetails": {
            "email": "abc@test.com"
          },
          "delegatedSubnetId": "/subscriptions/fc35d936-3b89-41f8-8110-a24b56826c37/resourceGroups/NetworkWatcherRG/providers/Microsoft.Network/virtualNetworks/eastus2vnet/subnets/default",
          "adminPassword": "Test123",
          "initialCapacity": 18,
          "availabilityZone": "2"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/providers/Qumulo.Storage/locations/EASTUS2/operationStatuses/66410564-842b-4d01-89fd-e38b1f1eb9f0*0D51BA1877E2EE7ECFE813373824F9A9BBA56C7772D3752AC8455EA628EB1643?api-version=2022-10-12",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00228f0583e2-0000-0100-0000-644bc0a70000\u0022",
        "Location": "https://management.azure.com/providers/Qumulo.Storage/locations/EASTUS2/operationStatuses/66410564-842b-4d01-89fd-e38b1f1eb9f0*0D51BA1877E2EE7ECFE813373824F9A9BBA56C7772D3752AC8455EA628EB1643?api-version=2022-10-12",
        "mise-correlation-id": "5173501c-16ca-4119-b9c2-e5bdefd37a60",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-writes": "1198"
      },
      "ResponseBody": {
        "id": "/subscriptions/fc35d936-3b89-41f8-8110-a24b56826c37/resourceGroups/Default-Qumulo-3454/providers/Qumulo.Storage/fileSystems/testResource-1138",
        "name": "testResource-1138",
        "type": "qumulo.storage/filesystems",
        "location": "eastus2",
        "tags": {},
        "systemData": {
          "createdBy": "d01a3099-115f-472c-8d79-8e19275b4d8c",
          "createdByType": "Application",
          "createdAt": "2023-04-28T12:48:38.6312596Z",
          "lastModifiedBy": "d01a3099-115f-472c-8d79-8e19275b4d8c",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2023-04-28T12:48:38.6312596Z"
        },
        "properties": {
          "marketplaceDetails": {
            "marketplaceSubscriptionId": null,
            "planId": "qumulo-on-azure-v1%%gmz7xq9ge3py%%P1M",
            "offerId": "qumulo-saas-mpp",
            "publisherId": "qumulo1584033880660",
            "marketplaceSubscriptionStatus": "PendingFulfillmentStart"
          },
          "provisioningState": "Accepted",
          "userDetails": {},
          "delegatedSubnetId": "/subscriptions/fc35d936-3b89-41f8-8110-a24b56826c37/resourceGroups/NetworkWatcherRG/providers/Microsoft.Network/virtualNetworks/eastus2vnet/subnets/default",
          "clusterLoginUrl": null,
          "privateIPs": null,
          "storageSku": "Performance",
          "initialCapacity": 18,
          "availabilityZone": "2"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/providers/Qumulo.Storage/locations/EASTUS2/operationStatuses/66410564-842b-4d01-89fd-e38b1f1eb9f0*0D51BA1877E2EE7ECFE813373824F9A9BBA56C7772D3752AC8455EA628EB1643?api-version=2022-10-12",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022d000f17b-0000-0100-0000-644bc0a70000\u0022",
        "x-ms-ratelimit-remaining-tenant-reads": "11999"
      },
      "ResponseBody": {
        "id": "/providers/Qumulo.Storage/locations/EASTUS2/operationStatuses/66410564-842b-4d01-89fd-e38b1f1eb9f0*0D51BA1877E2EE7ECFE813373824F9A9BBA56C7772D3752AC8455EA628EB1643",
        "name": "66410564-842b-4d01-89fd-e38b1f1eb9f0*0D51BA1877E2EE7ECFE813373824F9A9BBA56C7772D3752AC8455EA628EB1643",
        "resourceId": "/subscriptions/fc35d936-3b89-41f8-8110-a24b56826c37/resourceGroups/Default-Qumulo-3454/providers/Qumulo.Storage/fileSystems/testResource-1138",
        "status": "Accepted",
        "startTime": "2023-04-28T12:48:39.7245941Z"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/providers/Qumulo.Storage/locations/EASTUS2/operationStatuses/66410564-842b-4d01-89fd-e38b1f1eb9f0*0D51BA1877E2EE7ECFE813373824F9A9BBA56C7772D3752AC8455EA628EB1643?api-version=2022-10-12",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022d100cc01-0000-0100-0000-644bc3260000\u0022",
        "x-ms-ratelimit-remaining-tenant-reads": "11973"
      },
      "ResponseBody": {
        "id": "/providers/Qumulo.Storage/locations/EASTUS2/operationStatuses/66410564-842b-4d01-89fd-e38b1f1eb9f0*0D51BA1877E2EE7ECFE813373824F9A9BBA56C7772D3752AC8455EA628EB1643",
        "name": "66410564-842b-4d01-89fd-e38b1f1eb9f0*0D51BA1877E2EE7ECFE813373824F9A9BBA56C7772D3752AC8455EA628EB1643",
        "resourceId": "/subscriptions/fc35d936-3b89-41f8-8110-a24b56826c37/resourceGroups/Default-Qumulo-3454/providers/Qumulo.Storage/fileSystems/testResource-1138",
        "status": "Succeeded",
        "startTime": "2023-04-28T12:48:39.7245941Z",
        "endTime": "2023-04-28T12:59:18.8357038Z",
        "error": {},
        "properties": null
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/fc35d936-3b89-41f8-8110-a24b56826c37/resourceGroups/Default-Qumulo-3454/providers/Qumulo.Storage/fileSystems/testResource-1138?api-version=2022-10-12",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-failure-cause": "gateway"
      },
      "ResponseBody": {
        "error": {
          "code": "ResourceNotFound",
          "message": "The Resource \u0027Qumulo.Storage/fileSystems/testResource-1138\u0027 under resource group \u0027Default-Qumulo-3454\u0027 was not found. For more details please go to https://aka.ms/ARMResourceNotFoundFix"
        }
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": null,
    "RandomSeed": "61177582",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "fc35d936-3b89-41f8-8110-a24b56826c37"
  }
}
