{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/23587e98-b6ac-4328-a753-03bcd3c8e744?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11793"
      },
      "ResponseBody": {
        "id": "/subscriptions/23587e98-b6ac-4328-a753-03bcd3c8e744",
        "authorizationSource": "RoleBased",
        "managedByTenants": [
          {
            "tenantId": "33e01921-4d64-4f8c-a055-5bdaffd5e33d"
          }
        ],
        "subscriptionId": "23587e98-b6ac-4328-a753-03bcd3c8e744",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": "CosmosDB-Networking-VNET_Federation",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/23587e98-b6ac-4328-a753-03bcd3c8e744/resourcegroups/dbaccount-4472?api-version=**",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus2"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1196"
      },
      "ResponseBody": {
        "id": "/subscriptions/23587e98-b6ac-4328-a753-03bcd3c8e744/resourceGroups/dbaccount-4472",
        "name": "dbaccount-4472",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus2",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com/",
    "RandomSeed": "841382139",
    "RESOURCE_MANAGER_URL": "https://management.azure.com/",
    "SUBSCRIPTION_ID": "23587e98-b6ac-4328-a753-03bcd3c8e744"
  }
}
