{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/220fc532-6091-423c-8ba0-66c2397d591b/resourcegroups/dbaccount-9455?api-version=**",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11992"
      },
      "ResponseBody": {
        "id": "/subscriptions/220fc532-6091-423c-8ba0-66c2397d591b/resourceGroups/dbaccount-9455",
        "name": "dbaccount-9455",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus2",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/220fc532-6091-423c-8ba0-66c2397d591b/resourceGroups/dbaccount-9455/providers/Microsoft.DocumentDB/databaseAccounts/dbaccount-5642?api-version=2023-03-15-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kind": "MongoDB",
        "tags": {
          "key1": "value1",
          "key2": "value2"
        },
        "location": "westus2",
        "properties": {
          "consistencyPolicy": {
            "defaultConsistencyLevel": "BoundedStaleness",
            "maxStalenessPrefix": 300,
            "maxIntervalInSeconds": 1000
          },
          "locations": [
            {
              "locationName": "westus",
              "isZoneRedundant": false
            }
          ],
          "databaseAccountOfferType": "Standard",
          "ipRules": [
            {
              "ipAddressOrRange": "23.43.230.120"
            }
          ],
          "isVirtualNetworkFilterEnabled": true,
          "enableAutomaticFailover": false,
          "connectorOffer": "Small",
          "disableKeyBasedMetadataWriteAccess": false,
          "enablePartitionMerge": false
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/220fc532-6091-423c-8ba0-66c2397d591b/providers/Microsoft.DocumentDB/locations/westus2/operationsStatus/c869bc9e-bd90-4a6b-9934-b499b974c701?api-version=2023-03-15-preview",
        "Content-Type": "application/json",
        "Location": "https://management.azure.com/subscriptions/220fc532-6091-423c-8ba0-66c2397d591b/resourceGroups/dbaccount-9455/providers/Microsoft.DocumentDB/databaseAccounts/dbaccount-5642/operationResults/c869bc9e-bd90-4a6b-9934-b499b974c701?api-version=2023-03-15-preview",
        "x-ms-gatewayversion": "version=2.14.0",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "id": "/subscriptions/220fc532-6091-423c-8ba0-66c2397d591b/resourceGroups/dbaccount-9455/providers/Microsoft.DocumentDB/databaseAccounts/dbaccount-5642",
        "name": "dbaccount-5642",
        "location": "West US 2",
        "type": "Microsoft.DocumentDB/databaseAccounts",
        "kind": "MongoDB",
        "tags": {
          "key1": "value1",
          "key2": "value2"
        },
        "systemData": {
          "createdAt": "2023-06-29T22:11:35.0569477Z"
        },
        "properties": {
          "provisioningState": "Creating",
          "publicNetworkAccess": "Enabled",
          "enableAutomaticFailover": false,
          "enableMultipleWriteLocations": false,
          "enablePartitionKeyMonitor": false,
          "isVirtualNetworkFilterEnabled": true,
          "virtualNetworkRules": [],
          "EnabledApiTypes": "MongoDB",
          "disableKeyBasedMetadataWriteAccess": false,
          "enableFreeTier": false,
          "enableAnalyticalStorage": false,
          "analyticalStorageConfiguration": {
            "schemaType": "FullFidelity"
          },
          "instanceId": "34f08dd4-52f5-4445-8df4-8d8fcc3410b5",
          "databaseAccountOfferType": "Standard",
          "enableCassandraConnector": false,
          "connectorOffer": "Small",
          "enableMaterializedViews": false,
          "enableFullFidelityChangeFeed": false,
          "defaultIdentity": "",
          "networkAclBypass": "None",
          "disableLocalAuth": false,
          "enablePartitionMerge": false,
          "enableBurstCapacity": false,
          "minimalTlsVersion": "Tls12",
          "consistencyPolicy": {
            "defaultConsistencyLevel": "BoundedStaleness",
            "maxIntervalInSeconds": 1000,
            "maxStalenessPrefix": 300
          },
          "apiProperties": {
            "serverVersion": "3.6"
          },
          "configurationOverrides": {},
          "writeLocations": [
            {
              "id": "dbaccount-5642-westus",
              "locationName": "West US",
              "provisioningState": "Creating",
              "failoverPriority": 0,
              "isZoneRedundant": false
            }
          ],
          "readLocations": [
            {
              "id": "dbaccount-5642-westus",
              "locationName": "West US",
              "provisioningState": "Creating",
              "failoverPriority": 0,
              "isZoneRedundant": false
            }
          ],
          "locations": [
            {
              "id": "dbaccount-5642-westus",
              "locationName": "West US",
              "provisioningState": "Creating",
              "failoverPriority": 0,
              "isZoneRedundant": false
            }
          ],
          "failoverPolicies": [
            {
              "id": "dbaccount-5642-westus",
              "locationName": "West US",
              "failoverPriority": 0
            }
          ],
          "cors": [],
          "capabilities": [
            {
              "name": "EnableMongo"
            }
          ],
          "ipRules": [
            {
              "ipAddressOrRange": "23.43.230.120"
            }
          ],
          "backupPolicy": {
            "type": "Periodic",
            "periodicModeProperties": {
              "backupIntervalInMinutes": 240,
              "backupRetentionIntervalInHours": 8,
              "backupStorageRedundancy": "Invalid"
            }
          },
          "networkAclBypassResourceIds": [],
          "diagnosticLogSettings": {
            "enableFullTextQuery": "None"
          },
          "keysMetadata": {
            "primaryMasterKey": {
              "generationTime": "2023-06-29T22:11:35.0569477Z"
            },
            "secondaryMasterKey": {
              "generationTime": "2023-06-29T22:11:35.0569477Z"
            },
            "primaryReadonlyMasterKey": {
              "generationTime": "2023-06-29T22:11:35.0569477Z"
            },
            "secondaryReadonlyMasterKey": {
              "generationTime": "2023-06-29T22:11:35.0569477Z"
            }
          }
        },
        "identity": {
          "type": "None"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/220fc532-6091-423c-8ba0-66c2397d591b/providers/Microsoft.DocumentDB/locations/westus2/operationsStatus/c869bc9e-bd90-4a6b-9934-b499b974c701?api-version=2023-03-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-gatewayversion": "version=2.14.0",
        "x-ms-ratelimit-remaining-subscription-reads": "11991"
      },
      "ResponseBody": {
        "status": "Enqueued"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/220fc532-6091-423c-8ba0-66c2397d591b/resourceGroups/dbaccount-9455/providers/Microsoft.DocumentDB/databaseAccounts/dbaccount-5642?api-version=2023-03-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-gatewayversion": "version=2.14.0",
        "x-ms-ratelimit-remaining-subscription-reads": "11996"
      },
      "ResponseBody": {
        "id": "/subscriptions/220fc532-6091-423c-8ba0-66c2397d591b/resourceGroups/dbaccount-9455/providers/Microsoft.DocumentDB/databaseAccounts/dbaccount-5642",
        "name": "dbaccount-5642",
        "location": "West US 2",
        "type": "Microsoft.DocumentDB/databaseAccounts",
        "kind": "MongoDB",
        "tags": {
          "key1": "value1",
          "key2": "value2"
        },
        "systemData": {
          "createdAt": "2023-06-29T22:14:38.1186425Z"
        },
        "properties": {
          "provisioningState": "Succeeded",
          "documentEndpoint": "https://dbaccount-5642.documents.azure.com:443/",
          "sqlEndpoint": "https://dbaccount-5642.documents.azure.com:443/",
          "mongoEndpoint": "https://dbaccount-5642.mongo.cosmos.azure.com:443/",
          "publicNetworkAccess": "Enabled",
          "enableAutomaticFailover": false,
          "enableMultipleWriteLocations": false,
          "enablePartitionKeyMonitor": false,
          "isVirtualNetworkFilterEnabled": true,
          "virtualNetworkRules": [],
          "EnabledApiTypes": "MongoDB",
          "disableKeyBasedMetadataWriteAccess": false,
          "enableFreeTier": false,
          "enableAnalyticalStorage": false,
          "analyticalStorageConfiguration": {
            "schemaType": "FullFidelity"
          },
          "instanceId": "34f08dd4-52f5-4445-8df4-8d8fcc3410b5",
          "databaseAccountOfferType": "Standard",
          "enableCassandraConnector": false,
          "connectorOffer": "Small",
          "enableMaterializedViews": false,
          "enableFullFidelityChangeFeed": false,
          "defaultIdentity": "FirstPartyIdentity",
          "networkAclBypass": "None",
          "disableLocalAuth": false,
          "enablePartitionMerge": false,
          "enableBurstCapacity": false,
          "minimalTlsVersion": "Tls12",
          "consistencyPolicy": {
            "defaultConsistencyLevel": "BoundedStaleness",
            "maxIntervalInSeconds": 1000,
            "maxStalenessPrefix": 300
          },
          "apiProperties": {
            "serverVersion": "3.6"
          },
          "configurationOverrides": {
            "EnableBsonSchema": "True"
          },
          "writeLocations": [
            {
              "id": "dbaccount-5642-westus",
              "locationName": "West US",
              "documentEndpoint": "https://dbaccount-5642-westus.documents.azure.com:443/",
              "provisioningState": "Succeeded",
              "failoverPriority": 0,
              "isZoneRedundant": false
            }
          ],
          "readLocations": [
            {
              "id": "dbaccount-5642-westus",
              "loc[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/220fc532-6091-423c-8ba0-66c2397d591b/resourceGroups/dbaccount-9455/providers/Microsoft.DocumentDB/databaseAccounts?api-version=2023-03-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11991"
      },
      "ResponseBody": {
        "value": []
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/220fc532-6091-423c-8ba0-66c2397d591b/resourceGroups/dbaccount-9455/providers/Microsoft.DocumentDB/databaseAccounts/dbaccount-5642?api-version=2023-03-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-failure-cause": "gateway"
      },
      "ResponseBody": {
        "error": {
          "code": "ResourceNotFound",
          "message": "The Resource \u0027Microsoft.DocumentDB/databaseAccounts/dbaccount-5642\u0027 under resource group \u0027dbaccount-9455\u0027 was not found. For more details please go to https://aka.ms/ARMResourceNotFoundFix"
        }
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "RandomSeed": "1187457410",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "220fc532-6091-423c-8ba0-66c2397d591b"
  }
}
