<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.IdentityModel.Clients.ActiveDirectory" version="2.28.3" targetFramework="net452" />
  <package id="Microsoft.Rest.ClientRuntime" version="2.3.24" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net452" />
  <package id="xunit" version="2.3.1" targetFramework="net452" />
  <package id="xunit.abstractions" version="2.0.1" targetFramework="net452" />
  <package id="xunit.analyzers" version="0.7.0" targetFramework="net452" />
  <package id="xunit.assert" version="2.3.1" targetFramework="net452" />
  <package id="xunit.core" version="2.3.1" targetFramework="net452" />
  <package id="xunit.extensibility.core" version="2.3.1" targetFramework="net452" />
  <package id="xunit.extensibility.execution" version="2.3.1" targetFramework="net452" />
  <package id="xunit.runner.visualstudio" version="2.3.1" targetFramework="net452" developmentDependency="true" />
</packages>
