{
  "Entries": [
    {
      "RequestUri": "https://blobindex1.blob.core.windows.net/test-container-cb730b79-43a0-8e4d-4016-ecd1e4a25264?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Fri, 17 Apr 2020 23:17:38 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7E325854F5C0D\u0022",
        "Last-Modified": "Fri, 17 Apr 2020 23:17:38 GMT",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://blobindex1.blob.core.windows.net/test-container-cb730b79-43a0-8e4d-4016-ecd1e4a25264/test-blob-9384f653-124a-25e1-1eab-752339880a2b",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Fri, 17 Apr 2020 23:17:39 GMT",
        "x-ms-tags": "myTagKey=myTagValue",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7E3258566B4D2\u0022",
        "Last-Modified": "Fri, 17 Apr 2020 23:17:38 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-12-12",
        "x-ms-version-id": "2020-04-17T23:17:38.7620325Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://blobindex1.blob.core.windows.net/?comp=blobs\u0026where=\u0022myTagKey\u0022%3D%27myTagValue%27",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 17 Apr 2020 23:17:40 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\n",
        "\u003CEnumerationResults ServiceEndpoint=\u0022https://blobindex1.blob.core.windows.net/\u0022\u003E\u003CWhere\u003E\u0026quot;myTagKey\u0026quot;=\u0026apos;myTagValue\u0026apos;\u003C/Where\u003E\u003CBlobs\u003E\u003CBlob\u003E\u003CName\u003Etest-blob-ea6c06a6-0d20-b6b6-9d16-04701491aac3\u003C/Name\u003E\u003CContainerName\u003Etest-container-8d37577b-fe1a-1214-8dbb-7f9b9e1a45db\u003C/ContainerName\u003E\u003CTagValue\u003EmyTagValue\u003C/TagValue\u003E\u003C/Blob\u003E\u003CBlob\u003E\u003CName\u003Etest-blob-9384f653-124a-25e1-1eab-752339880a2b\u003C/Name\u003E\u003CContainerName\u003Etest-container-cb730b79-43a0-8e4d-4016-ecd1e4a25264\u003C/ContainerName\u003E\u003CTagValue\u003EmyTagValue\u003C/TagValue\u003E\u003C/Blob\u003E\u003C/Blobs\u003E\u003CNextMarker/\u003E\u003C/EnumerationResults\u003E"
      ]
    },
    {
      "RequestUri": "https://blobindex1.blob.core.windows.net/test-container-cb730b79-43a0-8e4d-4016-ecd1e4a25264?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 17 Apr 2020 23:17:41 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1922495711",
    "Storage_TestConfigDefault": "ProductionTenant\nblobindex1\nU2FuaXRpemVk\nhttps://blobindex1.blob.core.windows.net\nhttps://blobindex1.file.core.windows.net\nhttps://blobindex1.queue.core.windows.net\nhttps://blobindex1.table.core.windows.net\n\n\n\n\nhttps://blobindex1-secondary.blob.core.windows.net\nhttps://blobindex1-secondary.file.core.windows.net\nhttps://blobindex1-secondary.queue.core.windows.net\nhttps://blobindex1-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://blobindex1.blob.core.windows.net/;QueueEndpoint=https://blobindex1.queue.core.windows.net/;FileEndpoint=https://blobindex1.file.core.windows.net/;BlobSecondaryEndpoint=https://blobindex1-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://blobindex1-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://blobindex1-secondary.file.core.windows.net/;AccountName=blobindex1;AccountKey=Sanitized\nseanscope1"
  }
}