{
  "Entries": [
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/?restype=service\u0026comp=userdelegationkey",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "x-ms-date": "Mon, 01 Jul 2019 21:58:03 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": [
        "\u003cKeyInfo\u003e\r\n",
        "  \u003cExpiry\u003e2019-07-01T22:58:03Z\u003c/Expiry\u003e\r\n",
        "\u003c/KeyInfo\u003e"
      ],
      "StatusCode": 403,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "AuthenticationFailed",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": [
        "\ufeff\u003c?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003e\u003cError\u003e\u003cCode\u003eAuthenticationFailed\u003c/Code\u003e\u003cMessage\u003eServer failed to authenticate the request. Make sure the value of Authorization header is formed correctly including the signature.\n",
        "RequestId:815c22dd-301e-0077-1d58-30989a000000\n",
        "Time:2019-07-01T21:58:03.5708362Z\u003c/Message\u003e\u003cAuthenticationErrorDetail\u003eOnly authentication scheme Bearer is supported\u003c/AuthenticationErrorDetail\u003e\u003c/Error\u003e"
      ]
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2019-07-01T14:58:03.5718865-07:00",
    "RandomSeed": "308763262"
  }
}