{
  "Entries": [
    {
      "RequestUri": "https://seantest2sec.blob.core.windows.net/test-container-302c9d69-9d61-44e0-f06d-fa867a31db84?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 17 Feb 2021 20:05:19 GMT"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D37F5A2142BB\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 20:05:19 GMT"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seantest2sec-secondary.blob.core.windows.net/?comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 20:05:20 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml"
      },
      "ResponseBody": "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CEnumerationResults ServiceEndpoint=\u0022https://seantest2sec-secondary.blob.core.windows.net/\u0022\u003E\u003CContainers\u003E\u003CContainer\u003E\u003CName\u003Etest-container-fba01eb9-d3bd-12b4-4cda-c4a1a4d63782\u003C/Name\u003E\u003CProperties\u003E\u003CLast-Modified\u003EWed, 17 Feb 2021 20:05:11 GMT\u003C/Last-Modified\u003E\u003CEtag\u003E\u00220x8D8D37F54E8C021\u0022\u003C/Etag\u003E\u003CLeaseStatus\u003Eunlocked\u003C/LeaseStatus\u003E\u003CLeaseState\u003Eavailable\u003C/LeaseState\u003E\u003CPublicAccess\u003Econtainer\u003C/PublicAccess\u003E\u003CDefaultEncryptionScope\u003E$account-encryption-key\u003C/DefaultEncryptionScope\u003E\u003CDenyEncryptionScopeOverride\u003Efalse\u003C/DenyEncryptionScopeOverride\u003E\u003CHasImmutabilityPolicy\u003Efalse\u003C/HasImmutabilityPolicy\u003E\u003CHasLegalHold\u003Efalse\u003C/HasLegalHold\u003E\u003C/Properties\u003E\u003C/Container\u003E\u003C/Containers\u003E\u003CNextMarker /\u003E\u003C/EnumerationResults\u003E"
    },
    {
      "RequestUri": "https://seantest2sec.blob.core.windows.net/test-container-302c9d69-9d61-44e0-f06d-fa867a31db84?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 20:05:21 GMT"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1247346677",
    "Storage_TestConfigSecondary": "SecondaryTenant\nseantest2sec\nU2FuaXRpemVk\nhttps://seantest2sec.blob.core.windows.net\nhttps://seantest2sec.file.core.windows.net\nhttps://seantest2sec.queue.core.windows.net\nhttps://seantest2sec.table.core.windows.net\n\n\n\n\nhttps://seantest2sec-secondary.blob.core.windows.net\nhttps://seantest2sec-secondary.file.core.windows.net\nhttps://seantest2sec-secondary.queue.core.windows.net\nhttps://seantest2sec-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seantest2sec.blob.core.windows.net/;QueueEndpoint=https://seantest2sec.queue.core.windows.net/;FileEndpoint=https://seantest2sec.file.core.windows.net/;BlobSecondaryEndpoint=https://seantest2sec-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seantest2sec-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seantest2sec-secondary.file.core.windows.net/;AccountName=seantest2sec;AccountKey=Sanitized\nseanscope1"
  }
}