{
  "Entries": [
    {
      "RequestUri": "https://1emxscnapsn4prde17h.blob.preprod.core.windows.net/test-container-6d03b6bc-045a-3475-0688-446ef9056c8d?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 23 Nov 2020 22:38:16 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8D89000786C4F40\"",
        "Last-Modified": "Mon, 23 Nov 2020 22:38:16 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://1emxscnapsn4prde17h.blob.preprod.core.windows.net/test-container-8de2c5ac-13af-67fe-5141-9fc2824de888?sv=2021-12-02&ss=b&srt=sco&st=2020-11-23T21%3A38%3A16Z&se=2020-11-23T23%3A38%3A16Z&sp=rwdxlacuptf&sig=Sanitized&restype=container&comp=rename",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-source-container-name": "test-container-6d03b6bc-045a-3475-0688-446ef9056c8d",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://1emxscnapsn4prde17h.blob.preprod.core.windows.net/test-container-8de2c5ac-13af-67fe-5141-9fc2824de888?sv=2021-12-02&ss=b&srt=sco&st=2020-11-23T21%3A38%3A16Z&se=2020-11-23T23%3A38%3A16Z&sp=rwdxlacuptf&sig=Sanitized&restype=container",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8D890007896DC61\"",
        "Last-Modified": "Mon, 23 Nov 2020 22:38:17 GMT",
        "x-ms-default-encryption-scope": "$account-encryption-key",
        "x-ms-deny-encryption-scope-override": "false",
        "x-ms-has-immutability-policy": "false",
        "x-ms-has-legal-hold": "false",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://1emxscnapsn4prde17h.blob.preprod.core.windows.net/test-container-8de2c5ac-13af-67fe-5141-9fc2824de888?sv=2021-12-02&ss=b&srt=sco&st=2020-11-23T21%3A38%3A16Z&se=2020-11-23T23%3A38%3A16Z&sp=rwdxlacuptf&sig=Sanitized&restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2020-11-23T16:38:16.9237013-06:00",
    "RandomSeed": "2061246586",
    "Storage_TestConfigDefault": "ProductionTenant\n1emxscnapsn4prde17h\nU2FuaXRpemVk\nhttps://1emxscnapsn4prde17h.blob.preprod.core.windows.net\nhttps://1emxscnapsn4prde17h.file.core.windows.net\nhttps://1emxscnapsn4prde17h.queue.core.windows.net\nhttps://1emxscnapsn4prde17h.table.core.windows.net\n\n\n\n\nhttps://1emxscnapsn4prde17h-secondary.blob.core.windows.net\nhttps://1emxscnapsn4prde17h-secondary.file.core.windows.net\nhttps://1emxscnapsn4prde17h-secondary.queue.core.windows.net\nhttps://1emxscnapsn4prde17h-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://1emxscnapsn4prde17h.blob.preprod.core.windows.net/;QueueEndpoint=https://1emxscnapsn4prde17h.queue.core.windows.net/;FileEndpoint=https://1emxscnapsn4prde17h.file.core.windows.net/;BlobSecondaryEndpoint=https://1emxscnapsn4prde17h-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://1emxscnapsn4prde17h-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://1emxscnapsn4prde17h-secondary.file.core.windows.net/;AccountName=1emxscnapsn4prde17h;AccountKey=Kg==;\nseanscope1\n\n"
  }
}