{
  "Entries": [
    {
      "RequestUri": "https://1emxscnapsn4prde17h.blob.preprod.core.windows.net/test-blob-e7e7bd71-39e1-d05d-fcdf-e85d8b2ce68f?restype=container\u0026comp=rename",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 23 Nov 2020 21:53:22 GMT",
        "x-ms-source-container-name": "test-container-78ae4363-8d55-ae9c-9e62-9be71bee9caf",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ContainerNotFound",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\n",
        "\u003CError\u003E\u003CCode\u003EContainerNotFound\u003C/Code\u003E\u003CMessage\u003EThe specified container does not exist.\n",
        "RequestId:41500801-001e-000c-77e3-c10fb8000000\n",
        "Time:2020-11-23T21:53:22.8255182Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    }
  ],
  "Variables": {
    "RandomSeed": "1021525548",
    "Storage_TestConfigDefault": "ProductionTenant\n1emxscnapsn4prde17h\nU2FuaXRpemVk\nhttps://1emxscnapsn4prde17h.blob.preprod.core.windows.net\nhttps://1emxscnapsn4prde17h.file.core.windows.net\nhttps://1emxscnapsn4prde17h.queue.core.windows.net\nhttps://1emxscnapsn4prde17h.table.core.windows.net\n\n\n\n\nhttps://1emxscnapsn4prde17h-secondary.blob.core.windows.net\nhttps://1emxscnapsn4prde17h-secondary.file.core.windows.net\nhttps://1emxscnapsn4prde17h-secondary.queue.core.windows.net\nhttps://1emxscnapsn4prde17h-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://1emxscnapsn4prde17h.blob.preprod.core.windows.net/;QueueEndpoint=https://1emxscnapsn4prde17h.queue.core.windows.net/;FileEndpoint=https://1emxscnapsn4prde17h.file.core.windows.net/;BlobSecondaryEndpoint=https://1emxscnapsn4prde17h-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://1emxscnapsn4prde17h-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://1emxscnapsn4prde17h-secondary.file.core.windows.net/;AccountName=1emxscnapsn4prde17h;AccountKey=Kg==;\nseanscope1"
  }
}