{
  "Entries": [
    {
      "RequestUri": "https://eastus.easm.defender.microsoft.com/subscriptions/59af3bf1-d118-4916-808e-923509b34a94/resourceGroups/shad-rg/workspaces/sdktest/discoTemplates/43488?api-version=2023-03-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ui-version": "sdk"
      },
      "ResponseBody": {
        "id": "43488",
        "name": "Rigaku Corporation",
        "displayName": "Rigaku Corporation",
        "industry": "Electronic Equipment, Instruments and Components",
        "region": "Asia / Pacific",
        "countryCode": "JP",
        "stateCode": null,
        "city": "Tokyo",
        "seeds": [
          {
            "kind": "as",
            "name": "22960"
          },
          {
            "kind": "domain",
            "name": "xwinsys.com"
          },
          {
            "kind": "domain",
            "name": "rigaku.com"
          }
        ],
        "names": [
          "Rigaku Corporation",
          "Rigaku Americas Corporation",
          "Xwinsys Technology Development Ltd.",
          "Rigaku Europe"
        ]
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "ENDPOINT": "Sanitized",
    "RandomSeed": "14520415",
    "RESOURCEGROUPNAME": "Sanitized",
    "SUBSCRIPTION_ID": "59af3bf1-d118-4916-808e-923509b34a94",
    "WORKSPACENAME": "Sanitized"
  }
}
