{
  "Entries": [
    {
      "RequestUri": "https://leithyta-sdktesting.cognitiveservices.azure.com/language/query-knowledgebases/projects/TestProject1987584416?api-version=2021-10-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "description": "This is the description for a test project",
        "language": "en",
        "multilingualResource": false,
        "settings": {
          "defaultAnswer": "No answer found for your question."
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "projectName": "TestProject1987584416",
        "description": "This is the description for a test project",
        "language": "en",
        "multilingualResource": false,
        "createdDateTime": "2022-01-09T10:54:05Z",
        "lastModifiedDateTime": "2022-01-09T10:54:05Z",
        "settings": {
          "defaultAnswer": "No answer found for your question."
        }
      }
    },
    {
      "RequestUri": "https://leithyta-sdktesting.cognitiveservices.azure.com/language/query-knowledgebases/projects/TestProject1987584416/feedback?api-version=2021-10-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "records": [
          {
            "userId": "userX",
            "userQuestion": "what do you mean?",
            "qnaId": 1
          }
        ]
      },
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://leithyta-sdktesting.cognitiveservices.azure.com/language/query-knowledgebases/projects/TestProject1987584416?api-version=2021-10-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "operation-location": "https://leithyta-sdktesting.cognitiveservices.azure.com:443/language/query-knowledgebases/projects/deletion-jobs/d564399c-71ae-44ee-a1ec-e115d6096c86?api-version=2021-10-01"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://leithyta-sdktesting.cognitiveservices.azure.com/language/query-knowledgebases/projects/deletion-jobs/d564399c-71ae-44ee-a1ec-e115d6096c86?api-version=2021-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "createdDateTime": "2022-01-09T10:54:06\u002B00:00",
        "expirationDateTime": "2022-01-09T16:54:06\u002B00:00",
        "jobId": "d564399c-71ae-44ee-a1ec-e115d6096c86",
        "lastUpdatedDateTime": "2022-01-09T10:54:06\u002B00:00",
        "status": "succeeded"
      }
    }
  ],
  "Variables": {
    "QUESTIONANSWERING_ENDPOINT": "https://leithyta-sdktesting.cognitiveservices.azure.com",
    "QUESTIONANSWERING_KEY": "Sanitized",
    "RandomSeed": "674239258"
  }
}
