{
  "Entries": [
    {
      "RequestUri": "https://leithyta-sdktesting.cognitiveservices.azure.com/language/query-knowledgebases/projects/TestProject2106398266?api-version=2021-10-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "description": "This is the description for a test project",
        "language": "en",
        "multilingualResource": false,
        "settings": {
          "defaultAnswer": "No answer found for your question."
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "projectName": "TestProject2106398266",
        "description": "This is the description for a test project",
        "language": "en",
        "multilingualResource": false,
        "createdDateTime": "2022-01-09T10:55:45Z",
        "lastModifiedDateTime": "2022-01-09T10:55:45Z",
        "settings": {
          "defaultAnswer": "No answer found for your question."
        }
      }
    },
[...]
    {
      "RequestUri": "https://leithyta-sdktesting.cognitiveservices.azure.com/language/query-knowledgebases/projects?api-version=2021-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "projectName": "LeithyCustomQuestionAnsweringEuWest",
            "description": "",
            "language": "en",
            "multilingualResource": false,
            "createdDateTime": "2021-10-29T14:12:48Z",
            "lastModifiedDateTime": "2021-11-18T15:10:54Z",
            "lastDeployedDateTime": "2021-10-29T14:34:58Z",
            "settings": {
              "defaultAnswer": "No answer found"
            }
          },
          {
            "projectName": "NewFAQ",
            "description": "This is the description for a test project",
            "language": "en",
            "multilingualResource": false,
            "createdDateTime": "2021-12-16T12:24:54Z",
            "lastModifiedDateTime": "2022-01-09T10:49:04Z",
            "lastDeployedDateTime": "2022-01-04T15:43:05Z",
   [...]
    {
      "RequestUri": "https://leithyta-sdktesting.cognitiveservices.azure.com/language/query-knowledgebases/projects/TestProject2106398266?api-version=2021-10-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "operation-location": "https://leithyta-sdktesting.cognitiveservices.azure.com:443/language/query-knowledgebases/projects/deletion-jobs/d3ae493d-2ced-46d2-8a22-b9c13cef0d3c?api-version=2021-10-01"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://leithyta-sdktesting.cognitiveservices.azure.com/language/query-knowledgebases/projects/deletion-jobs/d3ae493d-2ced-46d2-8a22-b9c13cef0d3c?api-version=2021-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "createdDateTime": "2022-01-09T10:55:46\u002B00:00",
        "expirationDateTime": "2022-01-09T16:55:46\u002B00:00",
        "jobId": "d3ae493d-2ced-46d2-8a22-b9c13cef0d3c",
        "lastUpdatedDateTime": "2022-01-09T10:55:46\u002B00:00",
        "status": "succeeded"
      }
    }
  ],
  "Variables": {
    "QUESTIONANSWERING_ENDPOINT": "https://leithyta-sdktesting.cognitiveservices.azure.com",
    "QUESTIONANSWERING_KEY": "Sanitized",
    "RandomSeed": "1389542728"
  }
}
