{
  "Entries": [
    {
      "RequestUri": "https://leithyta-sdktesting.cognitiveservices.azure.com/language/query-knowledgebases/projects/TestProject498461362?api-version=2021-10-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "description": "This is the description for a test project",
        "language": "en",
        "multilingualResource": false,
        "settings": {
          "defaultAnswer": "No answer found for your question."
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "projectName": "TestProject498461362",
        "description": "This is the description for a test project",
        "language": "en",
        "multilingualResource": false,
        "createdDateTime": "2022-01-09T10:57:11Z",
        "lastModifiedDateTime": "2022-01-09T10:57:11Z",
        "settings": {
          "defaultAnswer": "No answer found for your question."
        }
      }
    },
    {
      "RequestUri": "https://leithyta-sdktesting.cognitiveservices.azure.com/language/query-knowledgebases/projects/TestProject498461362/synonyms?api-version=2021-10-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "value": [
          {
            "alterations": [
              "qnamaker",
              "qna maker"
            ]
          },
          {
            "alterations": [
              "qna",
              "question and answer"
            ]
          }
        ]
      },
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://leithyta-sdktesting.cognitiveservices.azure.com/language/query-knowledgebases/projects/TestProject498461362?api-version=2021-10-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "operation-location": "https://leithyta-sdktesting.cognitiveservices.azure.com:443/language/query-knowledgebases/projects/deletion-jobs/cd3ff7cd-b52f-4187-8734-6fc0203e1663?api-version=2021-10-01"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://leithyta-sdktesting.cognitiveservices.azure.com/language/query-knowledgebases/projects/deletion-jobs/cd3ff7cd-b52f-4187-8734-6fc0203e1663?api-version=2021-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "createdDateTime": "2022-01-09T10:57:12\u002B00:00",
        "expirationDateTime": "2022-01-09T16:57:12\u002B00:00",
        "jobId": "cd3ff7cd-b52f-4187-8734-6fc0203e1663",
        "lastUpdatedDateTime": "2022-01-09T10:57:12\u002B00:00",
        "status": "succeeded"
      }
    }
  ],
  "Variables": {
    "QUESTIONANSWERING_ENDPOINT": "https://leithyta-sdktesting.cognitiveservices.azure.com",
    "QUESTIONANSWERING_KEY": "Sanitized",
    "RandomSeed": "2099556292"
  }
}
