{
  "Entries": [
    {
      "RequestUri": "/templeton/v1/jobs?user.name=admin&showall=true&fields=*",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "useragent": [
          "HDInsight SDK .Net 2.0.1.0"
        ]
      },
      "ResponseBody": "[\r\n  {\r\n    \"id\": \"job_1460565546496_0061\",\r\n    \"detail\": {\r\n      \"status\": {\r\n        \"mapProgress\": 1.0,\r\n        \"reduceProgress\": 1.0,\r\n        \"cleanupProgress\": 0.0,\r\n        \"setupProgress\": 0.0,\r\n        \"runState\": 2,\r\n        \"startTime\": 1460760621953,\r\n        \"queue\": \"default\",\r\n        \"priority\": \"NORMAL\",\r\n        \"schedulingInfo\": \"NA\",\r\n        \"failureInfo\": \"NA\",\r\n        \"jobACLs\": {},\r\n        \"jobName\": \"dept.jar\",\r\n        \"jobFile\": \"wasb://pattipakalinux330@pattipakalinux.blob.core.windows.net/mr-history/done/2016/04/15/000000/job_1460565546496_0061_conf.xml\",\r\n        \"finishTime\": 1460760634778,\r\n        \"historyFile\": \"\",\r\n        \"trackingUrl\": \"hn0-pattip.d2cmq52jtndulpo2pcweyyzj1d.dx.internal.cloudapp.net:19888/jobhistory/job/job_1460565546496_0061\",\r\n        \"numUsedSlots\": 0,\r\n        \"numReservedSlots\": 0,\r\n        \"usedMem\": 0,\r\n        \"reservedMem\": 0,\r\n        \"neededMem\": 0,\r\n        \"jobId\": \"job_1460565546496_0061\",\r\n        \"username\": \"admin\",\r\n        \"jobID\": {\r\n          \"id\": 61,\r\n          \"jtIdentifier\": \"1460565546496\"\r\n        },\r\n        \"jobPriority\": \"NORMAL\",\r\n        \"jobComplete\": true,\r\n        \"retired\": false,\r\n        \"uber\": false,\r\n        \"state\": \"SUCCEEDED\"\r\n      },\r\n      \"profile\": {\r\n        \"user\": \"admin\",\r\n        \"jobFile\": \"wasb://pattipakalinux330@pattipakalinux.blob.core.windows.net/mr-history/done/2016/04/15/000000/job_1460565546496_0061_conf.xml\",\r\n        \"url\": null,\r\n        \"queueName\": \"default\",\r\n        \"jobId\": \"job_1460565546496_0061\",\r\n        \"jobID\": {\r\n          \"id\": 61,\r\n          \"jtIdentifier\": \"1460565546496\"\r\n        },\r\n        \"jobName\": \"dept.jar\"\r\n      },\r\n      \"id\": \"job_1460565546496_0061\",\r\n      \"parentId\": \"job_1460565546496_0060\",\r\n      \"percentComplete\": null,\r\n      \"exitValue\": null,\r\n      \"user\": \"admin\",\r\n      \"callback\": null,\r\n      \"completed\": null,\r\n      \"userargs\": {},\r\n      \"msg\": null\r\n    }\r\n  },\r\n  {\r\n    \"id\": \"job_1460565546496_0060\",\r\n    \"detail\": {\r\n      \"status\": {\r\n        \"mapProgress\": 1.0,\r\n        \"reduceProgress\": 1.0,\r\n        \"cleanupProgress\": 0.0,\r\n        \"setupProgress\": 0.0,\r\n        \"runState\": 2,\r\n        \"startTime\": 1460760584618,\r\n        \"queue\": \"default\",\r\n        \"priority\": \"NORMAL\",\r\n        \"schedulingInfo\": \"NA\",\r\n        \"failureInfo\": \"NA\",\r\n        \"jobACLs\": {}[...]
