{
  "Entries": [
    {
      "RequestUri": "https://javatextanalyticstestresources.cognitiveservices.azure.com/language/:analyze-text?api-version=2022-04-01-preview\u0026showStats=false",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "analysisInput": {
          "documents": [
            {
              "id": "0",
              "text": "document 1",
              "language": "en"
            },
            {
              "id": "1",
              "text": "document 2",
              "language": "en"
            },
            {
              "id": "2",
              "text": "document 3",
              "language": "en"
            },
            {
              "id": "3",
              "text": "document 4",
              "language": "en"
            },
            {
              "id": "4",
              "text": "document 5",
              "language": "en"
            },
            {
              "id": "5",
              "text": "document 6",
              "language": "en"
            }
          ]
        },
        "parameters": {
          "stringIndexType": "Utf16CodeUnit"
        },
        "kind": "EntityRecognition"
      },
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "InvalidRequest",
          "message": "Invalid document in request.",
          "innererror": {
            "code": "InvalidDocumentBatch",
            "message": "Batch request contains too many records. Max 5 records are permitted."
          }
        }
      }
    }
  ],
  "Variables": {
    "RandomSeed": "1001128243",
    "TEXT_ANALYTICS_API_KEY": "Sanitized",
    "TEXT_ANALYTICS_ENDPOINT": "https://javatextanalyticstestresources.cognitiveservices.azure.com"
  }
}
