{
  "Entries": [
    {
      "RequestUri": "https://javatextanalyticstestresources.cognitiveservices.azure.com/language/:analyze-text?api-version=2022-05-01\u0026showStats=false",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "analysisInput": {
          "documents": [
            {
              "id": "0",
              "text": "Microsoft was founded by Bill Gates and Paul Allen.",
              "language": "en"
            },
            {
              "id": "1",
              "text": "",
              "language": "en"
            },
            {
              "id": "2",
              "text": "My cat might need to see a veterinarian.",
              "language": "en"
            }
          ]
        },
        "parameters": {
          "stringIndexType": "Utf16CodeUnit"
        },
        "kind": "EntityRecognition"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "csp-billing-usage": "CognitiveServices.TextAnalytics.BatchScoring=2,CognitiveServices.TextAnalytics.TextRecords=2"
      },
      "ResponseBody": {
        "kind": "EntityRecognitionResults",
        "results": {
          "documents": [
            {
              "id": "0",
              "entities": [
                {
                  "text": "Microsoft",
                  "category": "Organization",
                  "offset": 0,
                  "length": 9,
                  "confidenceScore": 1.0
                },
                {
                  "text": "Bill Gates",
                  "category": "Person",
                  "offset": 25,
                  "length": 10,
                  "confidenceScore": 1.0
                },
                {
                  "text": "Paul Allen",
                  "category": "Person",
                  "offset": 40,
                  "length": 10,
                  "confidenceScore": 1.0
                }
              ],
              "warnings": []
            },
            {
              "id": "2",
              "entities": [
                {
                  "text": "veterinarian",
                  "category": "PersonType",
                  "offset": 27,
                  "length": 12,
                  "confidenceScore": 1.0
                }
              ],
              "warnings": []
            }
          ],
          "errors": [
            {
              "id": "1",
              "error": {
                "code": "InvalidArgument",
                "message": "Invalid Document in request.",
                "innererror": {
                  "code": "InvalidDocument",
                  "message": "Document text is empty."
                }
              }
            }
          ],
          "modelVersion": "2021-06-01"
        }
      }
    }
  ],
  "Variables": {
    "RandomSeed": "1109537158",
    "TEXT_ANALYTICS_API_KEY": "Sanitized",
    "TEXT_ANALYTICS_ENDPOINT": "https://javatextanalyticstestresources.cognitiveservices.azure.com"
  }
}
