{
  "Entries": [
    {
      "RequestUri": "https://ta-s-westeurope.cognitiveservices.azure.com/text/analytics/v3.1-preview.4/entities/recognition/general?showStats=false\u0026stringIndexType=Utf16CodeUnit",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "documents": [
          {
            "id": "1",
            "text": null,
            "language": "en"
          }
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "documents": [],
        "errors": [
          {
            "id": "1",
            "error": {
              "code": "InvalidArgument",
              "message": "Invalid document in request.",
              "innererror": {
                "code": "InvalidDocument",
                "message": "Document text is empty."
              }
            }
          }
        ],
        "modelVersion": "2021-01-15"
      }
    }
  ],
  "Variables": {
    "RandomSeed": "794759441",
    "TEXT_ANALYTICS_API_KEY": "Sanitized",
    "TEXT_ANALYTICS_ENDPOINT": "https://ta-s-westeurope.cognitiveservices.azure.com"
  }
}