{
  "Entries": [
    {
      "RequestUri": "https://tacanaryjava.cognitiveservices.azure.com/text/analytics/v3.2-preview.1/entities/recognition/general?showStats=true\u0026stringIndexType=Utf16CodeUnit",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "documents": [
          {
            "id": "0",
            "text": "Microsoft was founded by Bill Gates and Paul Allen.",
            "language": "en"
          },
          {
            "id": "1",
            "text": "My cat and my dog might need to see a veterinarian.",
            "language": "en"
          }
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "csp-billing-usage": "CognitiveServices.TextAnalytics.BatchScoring=2,CognitiveServices.TextAnalytics.TextRecords=2"
      },
      "ResponseBody": {
        "statistics": {
          "documentsCount": 2,
          "validDocumentsCount": 2,
          "erroneousDocumentsCount": 0,
          "transactionsCount": 2
        },
        "documents": [
          {
            "id": "0",
            "statistics": {
              "charactersCount": 51,
              "transactionsCount": 1
            },
            "entities": [
              {
                "text": "Microsoft",
                "category": "Organization",
                "offset": 0,
                "length": 9,
                "confidenceScore": 1.0
              },
              {
                "text": "Bill Gates",
                "category": "Person",
                "offset": 25,
                "length": 10,
                "confidenceScore": 1.0
              },
              {
                "text": "Paul Allen",
                "category": "Person",
                "offset": 40,
                "length": 10,
                "confidenceScore": 1.0
              }
            ],
            "warnings": []
          },
          {
            "id": "1",
            "statistics": {
              "charactersCount": 51,
              "transactionsCount": 1
            },
            "entities": [
              {
                "text": "veterinarian",
                "category": "PersonType",
                "offset": 38,
                "length": 12,
                "confidenceScore": 1.0
              }
            ],
            "warnings": []
          }
        ],
        "errors": [],
        "modelVersion": "2021-06-01"
      }
    }
  ],
  "Variables": {
    "RandomSeed": "915085791",
    "TEXT_ANALYTICS_API_KEY": "Sanitized",
    "TEXT_ANALYTICS_ENDPOINT": "https://tacanaryjava.cognitiveservices.azure.com/"
  }
}