{
  "Entries": [
    {
      "RequestUri": "https://javatextanalyticstestresources.cognitiveservices.azure.com/language/:analyze-text?api-version=2022-10-01-preview\u0026showStats=false",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "analysisInput": {
          "documents": [
            {
              "id": "1",
              "text": "The dog is 14 inches tall and weighs 20 lbs. It is 5 years old.",
              "language": "en"
            },
            {
              "id": "2",
              "text": "This is the first aircraft of its kind. It can fly at over 1,300 mph and carry 65-80 passengers.",
              "language": "en"
            },
            {
              "id": "3",
              "text": "The apartment (840 sqft. with 2 bedrooms) costs 2,000 USD per month and will be available on 11/01/2022.",
              "language": "en"
            },
            {
              "id": "4",
              "text": "Mix 1 cup of sugar. Bake for 60 minutes in an oven preheated to 350 degrees F.",
              "language": "en"
            },
            {
              "id": "5",
              "text": "They retrieved 200 terabytes of data from 10/24/2022 to 10/28/2022.",
              "language": "en"
            }
          ]
        },
        "parameters": {
          "stringIndexType": "Utf16CodeUnit",
          "modelVersion": "2022-10-01-preview"
        },
        "kind": "EntityRecognition"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "csp-billing-usage": "CognitiveServices.TextAnalytics.Language.Text.NER=5,CognitiveServices.TextAnalytics.TextRecords=5",
        "x-ms-region": "West US 2"
      },
      "ResponseBody": {
        "kind": "EntityRecognitionResults",
        "results": {
          "documents": [
            {
              "id": "1",
              "entities": [
                {
                  "text": "14",
                  "category": "Quantity",
                  "subcategory": "Number",
                  "offset": 11,
                  "length": 2,
                  "confidenceScore": 0.61,
                  "resolutions": [
                    {
                      "resolutionKind": "NumberResolution",
                      "numberKind": "Integer",
                      "value": 14.0
                    }
                  ]
                },
                {
                  "text": "14 inches",
                  "category": "Quantity",
                  "subcategory": "Dimension",
                  "offset": 11,
                  "length": 9,
                  "confidenceScore": 0.8,
                  "resolutions": [
                    {
                      "resolutionKind": "LengthResolution",
                      "unit": "Inch",
                      "value": 14.0
                    }
                  ]
                },
                {
                  "text": "20",
                  "category": "Quantity",
                  "subcategory": "Number",
                  "offset": 37,
                  "length": 2,
                  "confidenceScore": 0.58,
                  "resolutions": [
                    {
                      "resolutionKind": "NumberResolution",
                      "numberKind": [...]
