{
  "Entries": [
    {
      "RequestUri": "https://cognitiveusw2dev.azure-api.net/text/analytics/v3.1-preview.2/entities/recognition/general?showStats=false",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "documents": [
          {
            "id": "0",
            "text": "document 1",
            "language": "en"
          },
          {
            "id": "1",
            "text": "document 2",
            "language": "en"
          },
          {
            "id": "2",
            "text": "document 3",
            "language": "en"
          },
          {
            "id": "3",
            "text": "document 4",
            "language": "en"
          },
          {
            "id": "4",
            "text": "document 5",
            "language": "en"
          },
          {
            "id": "5",
            "text": "document 6",
            "language": "en"
          }
        ]
      },
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "InvalidRequest",
          "message": "Invalid document in request.",
          "innererror": {
            "code": "InvalidDocumentBatch",
            "message": "Batch request contains too many records. Max 5 records are permitted."
          }
        }
      }
    }
  ],
  "Variables": {
    "RandomSeed": "467834574",
    "TEXT_ANALYTICS_API_KEY": "Sanitized",
    "TEXT_ANALYTICS_ENDPOINT": "https://cognitiveusw2dev.azure-api.net"
  }
}