{
  "Entries": [
    {
      "RequestUri": "https://ads-dev-eastus-pv.purview.azure.com/share/receivedShares/6b47a0d9-6fc1-4e48-b7cd-978c7082a177?api-version=2023-02-15-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "shareKind": "InPlace",
        "properties": {
          "sink": {
            "storeKind": "AdlsGen2Account",
            "storeReference": {
              "referenceName": "/subscriptions/0f3dcfc3-18f8-4099-b381-8353e19d43a7/resourceGroups/faisalaltell/providers/Microsoft.Storage/storageAccounts/ftreceiversan",
              "type": "ArmResourceReference"
            },
            "properties": {
              "containerName": "container221952",
              "folder": "folder221952",
              "mountPath": ""
            }
          },
          "displayName": "testDisplayName1"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "/receivedShares/6b47a0d9-6fc1-4e48-b7cd-978c7082a177/6b47a0d9-6fc1-4e48-b7cd-978c7082a177",
        "Operation-Id": "https://ads-dev-eastus-pv.purview.azure.com/share/operationResults/9a1e7624-a676-4e59-9200-b4ba9a5165d1?api-version=2023-02-15-preview",
        "Operation-Location": "https://ads-dev-eastus-pv.purview.azure.com/share/operationResults/9a1e7624-a676-4e59-9200-b4ba9a5165d1?api-version=2023-02-15-preview"
      },
      "ResponseBody": {
        "properties": {
          "createdAt": "2023-02-21T17:47:56.5196741Z",
          "sharedAt": "2023-02-21T17:47:56.5196741Z",
          "displayName": "testDisplayName1",
          "state": "Creating",
          "shareStatus": "Attached",
          "sentShareDescription": "updatedDescription",
          "receiverName": "SyMS",
          "receiverTenantName": "Microsoft",
          "senderName": "SyMS",
          "senderTenantName": "Microsoft",
          "assetLocation": "southafricanorth",
          "assetStoreKind": "AdlsGen2Account",
          "sink": {
            "properties": {
              "containerName": "container221952",
              "folder": "folder221952",
              "mountPath": "",
              "location": "southafricanorth"
            },
            "storeKind": "AdlsGen2Account",
            "storeReference": {
              "referenceName": "/subscriptions/0f3dcfc3-18f8-4099-b381-8353e19d43a7/resourceGroups/faisalaltell/providers/Microsoft.Storage/storageAccounts/ftreceiversan",
              "type": "ArmResourceReference"
            }
          }
        },
        "shareKind": "InPlace",
        "id": "6b47a0d9-6fc1-4e48-b7cd-978c7082a177",
        "type": "ReceivedShare"
      }
    },
    {
      "RequestUri": "https://ads-dev-eastus-pv.purview.azure.com/share/operationResults/9a1e7624-a676-4e59-9200-b4ba9a5165d1?api-version=2023-02-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "9a1e7624-a676-4e59-9200-b4ba9a5165d1",
        "startTime": "2023-02-21T17:53:20.9534026Z",
        "endTime": null,
        "status": "Running",
        "error": null
      }
    },
[...]
