{
  "Entries": [
    {
      "RequestUri": "https://myaccountname.purview.azure.com/share/receivedShares/098d6c8e-165f-4cf1-9653-79f6a7f99048?api-version=2023-05-30-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "shareKind": "InPlace",
        "properties": {
          "sink": {
            "storeKind": "AdlsGen2Account",
            "storeReference": {
              "referenceName": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/testResourceGroup/providers/Microsoft.Storage/storageAccounts/consumerTestStorageAccount",
              "type": "ArmResourceReference"
            },
            "properties": {
              "containerName": "container222613",
              "folder": "folder222613",
              "mountPath": ""
            }
          },
          "displayName": "testDisplayName1"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Operation-Id": "https://myaccountname.purview.azure.com/share/operationResults/00000000-0000-0000-0000-000000000000?api-version=2023-05-30-preview",
        "Operation-Location": "https://myaccountname.purview.azure.com/share/operationResults/00000000-0000-0000-0000-000000000000?api-version=2023-05-30-preview"
      },
      "ResponseBody": {
        "properties": {
          "createdAt": "2023-06-06T21:37:31.7658403Z",
          "sharedAt": "2023-06-06T21:37:31.7658403Z",
          "displayName": "testDisplayName1",
          "state": "Succeeded",
          "shareStatus": "Attached",
          "sentShareDescription": "updatedDescription",
          "receiverName": "sdk-05-30-share",
          "receiverTenantName": "Microsoft",
          "senderName": "sdk-05-30-share",
          "senderTenantName": "Microsoft",
          "assetLocation": "australiaeast",
          "assetStoreKind": "AdlsGen2Account",
          "sink": {
            "properties": {
              "containerName": "container222613",
              "folder": "folder222613",
              "mountPath": "",
              "location": "australiaeast"
            },
            "storeKind": "AdlsGen2Account",
            "storeReference": {
              "referenceName": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/testResourceGroup/providers/Microsoft.Storage/storageAccounts/consumerTestStorageAccount",
              "type": "ArmResourceReference"
            }
          }
        },
        "shareKind": "InPlace",
        "id": "098d6c8e-165f-4cf1-9653-79f6a7f99048",
        "type": "ReceivedShare"
      }
    },
    {
      "RequestUri": "https://myaccountname.purview.azure.com/share/operationResults/00000000-0000-0000-0000-000000000000?api-version=2023-05-30-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "00000000-0000-0000-0000-000000000000",
        "startTime": "2023-06-07T20:38:51.3079355Z",
        "endTime": "2023-06-07T20:38:51.3079355Z",
        "status": "Succeeded",
        "error": null
      }
    },
[...]
