{
  "Entries": [
    {
      "RequestUri": "https://ads-dev-eastus-pv.purview.azure.com/share/receivedShares/detached?api-version=2023-02-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "properties": {
              "createdAt": "2023-02-21T17:47:56.5196741Z",
              "sharedAt": "2023-02-21T17:47:56.5196741Z",
              "displayName": "testDisplayName1",
              "state": "Succeeded",
              "shareStatus": "Detached",
              "sentShareDescription": "updatedDescription",
              "senderName": "SyMS",
              "senderTenantName": "Microsoft",
              "assetLocation": "southafricanorth",
              "assetStoreKind": "AdlsGen2Account"
            },
            "shareKind": "InPlace",
            "id": "6b47a0d9-6fc1-4e48-b7cd-978c7082a177",
            "type": "ReceivedShare"
          },
          {
            "properties": {
              "createdAt": "2023-02-17T00:08:25.3589647Z",
              "sharedAt": "2023-02-17T00:08:25.3589647Z",
              "displayName": "sentShare1Updated",
              "state": "Succeeded",
              "shareStatus": "Detached",
              "sentShareDescription": "descriptionUpdated",
              "senderName": "Faisal Al Tell",
              "senderTenantName": "Microsoft",
              "assetLocation": "southafricanorth",
              "assetStoreKind": "AdlsGen2Account"
            },
            "shareKind": "InPlace",
            "id": "536ff216-6c6d-4835-9886-4cba2d31a72e",
            "type": "ReceivedShare"
          }
        ]
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": null,
    "PURVIEW_SHARE_URL": "https://ads-dev-eastus-pv.purview.azure.com/share",
    "RandomSeed": "574850092"
  }
}
