{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourcegroups/azsmnet6205?api-version=**",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus2",
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1196"
      },
      "ResponseBody": {
        "id": "/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/azsmnet6205",
        "name": "azsmnet6205",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus2",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourcegroups/azsmnet6205/providers/Microsoft.Resources/deployments/azsmnet8115?api-version=2021-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "template": {
            "$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
            "contentVersion": "1.0.0.0",
            "parameters": {
              "resourceGroupName": {
                "type": "String"
              },
              "location": {
                "type": "String"
              },
              "virtualMachineName": {
                "type": "String"
              },
              "virtualMachineSize": {
                "type": "String"
              },
              "adminUsername": {
                "type": "String"
              },
              "storageAccountName": {
                "type": "String"
              },
              "virtualNetworkName": {
                "type": "String"
              },
              "routeTableName": {
                "type": "String"
              },
              "networkInterfaceName": {
                "type": "String"
              },
              "networkSecurityGroupName": {
                "type": "String"
              },
              "adminPassword": {
                "type": "SecureString"
              },
              "storageAccountType": {
                "type": "String"
              },
              "diagnosticsStorageAccountName": {
                "type": "String"
              },
              "diagnosticsStorageAccountId": {
                "type": "String"
              },
              "diagnosticsStorageAccountType": {
                "type": "String"
              },
              "addressPrefix": {
                "type": "String"
              },
              "subnetName": {
                "type": "String"
              },
              "subnetPrefix": {
                "type": "String"
              },
              "publicIpAddressName": {
                "type": "String"
              },
              "publicIpAddressType": {
                "type": "String"
              }
            },
            "variables": {
              "vnetId": "[resourceId(parameters('resourceGroupName'),'Microsoft.Network/virtualNetworks', parameters('virtualNetworkName'))]",
              "subnetRef": "[concat(variables('vnetId'), '/subnets/', parameters('subnetName'))]"
            },
            "resources": [
              {
                "type": "Microsoft.Compute/virtualMachines",
                "name": "[parameters('virtualMachineName')]",
                "apiVersion": "2015-06-15",
                "location": "[parameters('location')]",
                "properties": {
                  "osProfile": {
                    "computerName": "[parameters('virtualMachineName')]",
                    "adminUsername": "[parameters('adminUsername')]",
                    "adminPassword": "[parameters('adminPassword')]",
                    "windowsConfiguration": {
                      "provisionVmAgent": "true"
                    }
                  },
                  "hardwareProfile": {
                    "vmSize": "[parameters('virtualMachineSize')]"
                  },
                  "storageProfile": {
                    "imageReference": {
                      "publisher": "MicrosoftWindowsServer",
                      "offer": "WindowsServer",
                      "sku": "2016-Datacenter",
                      "version": "latest"
                    },
                    "osDisk": {
                      "name": "[parameters('virtualMachineName')]",
                      "createOption": "fromImage",
                      "vhd": {
                        "uri": "[concat(concat(reference(resourceId(parameters('resourceGroupName'), 'Microsoft.Storage/storageAccounts', parameters('storageAccountName')), '2015-06-15').primaryEndpoints['blob'], 'vhds/'), parameters('virtualMachineName'), '20161217141554.vhd')]"
                      }
                    },
                    "dataDisks": []
                  },
                  "networkProfile": {
                    "networkInterfaces": [
                      {
                        "id": "[resourceId('Microsoft.Network/networkInterfaces', parameters('networkInterfaceName'))]"
                      }
                    ]
                  },
                  "diagnosticsProfile": {
                    "bootDiagnostics": {
                      "enabled": true,
                      "storageUri": "[reference(resourceId(parameters('resourceGroupName'), 'Microsoft.Storage/storageAccounts', parameters('diagnosticsStorageAccountName')), '2015-06-15').primaryEndpoints['blob']]"
                    }
                  }
                },
                "dependsOn": [
                  "[concat('Microsoft.Network/networkInterfaces/', parameters('networkInterfaceName'))]",
                  "[concat('Microsoft.Storage/storageAccounts/', parameters('storageAccountName'))]",
                  "[concat('Microsoft.Storage/storageAccounts/', parameters('diagnosticsStorageAccountName'))]"
                ]
              },
              {
                "type": "Microsoft.Storage/storageAccounts",
                "name": "[parameters('storageAccountName')]",
                "apiVersion": "2015-06-15",
                "location": "[parameters('location')]",
                "properties": {
                  "accountType": "[parameters('storageAccountType')]"
                }
              },
              {
                "type": "Microsoft.Storage/storageAccounts",
                "name": "[parameters('diagnosticsStorageAccountName')]",
                "apiVersion": "2015-06-15",
                "location": "[parameters('location')]",
                "properties": {
                  "accountType": "[parameters('diagnosticsStorageAccountType')]"
                }
              },
              {
                "type": "Microsoft.Network/routeTables",
                "name": "[parameters('routeTableName')]",
                "apiVersion": "2016-09-01",
                "location": "[parameters('location')]",
                "properties": {
                  "routes": [
                    {
                      "name": "route1",
                      "properties": {
                        "addressPrefix": "10.1.3.0/24",
                        "nextHopType": "VirtualAppliance",
                        "nextHopIpAddress": "10.0.1.2"
                      }
                    }
                  ]
                }
              },
              {
                "type": "Microsoft.Network/virtualNetworks",
                "name": "[parameters('virtualNetworkName')]",
                "apiVersion": "2016-09-01",
                "location": "[parameters('location')]",
                "properties": {
                  "addressSpace": {
                    "addressPrefixes": [
                      "[parameters('addressPrefix')]"
                    ]
                  },
                  "subnets": [
                    {
                      "name": "[parameters('subnetName')]",
                      "properties": {
                        "addressPrefix": "[parameters('subnetPrefix')]",
                        "routeTable": {
                          "id": "[resourceId('Microsoft.Network/routeTables', parameters('routeTableName'))]"
                        }
                      }
                    }
                  ]
                },
                "dependsOn": [
                  "[concat('Microsoft.Network/routeTables/', parameters('routeTableName'))]"
                ]
              },
              {
                "type": "Microsoft.Network/networkInterfaces",
                "name": "[parameters('networkInterfaceName')]",
                "apiVersion": "2016-09-01",
                "location": "[parameters('location')]",
                "properties": {
                  "ipConfigurations": [
                    {
                      "name": "ipconfig1",
                      "properties": {
                        "subnet": {
                          "id": "[variables('subnetRef')]"
                        },
                        "privateIPAllocationMethod": "Dynamic",
                        "publicIpAddress": {
                          "id": "[resourceId(parameters('resourceGroupName'),'Microsoft.Network/publicIpAddresses', parameters('publicIpAddressName'))]"
                        }
                      }
                    }
                  ],
                  "networkSecurityGroup": {
                    "id": "[resourceId(parameters('resourceGroupName'), 'Microsoft.Network/networkSecurityGroups', parameters('networkSecurityGroupName'))]"
                  }
                },
                "dependsOn": [
                  "[concat('Microsoft.Network/virtualNetworks/', parameters('virtualNetworkName'))]",
                  "[concat('Microsoft.Network/publicIpAddresses/', parameters('publicIpAddressName'))]",
                  "[concat('Microsoft.Network/networkSecurityGroups/', parameters('networkSecurityGroupName'))]"
                ]
              },
              {
                "type": "Microsoft.Network/publicIpAddresses",
                "name": "[parameters('publicIpAddressName')]",
                "apiVersion": "2016-09-01",
                "location": "[parameters('location')]",
                "properties": {
                  "publicIpAllocationMethod": "[parameters('publicIpAddressType')]"
                }
              },
              {
                "type": "Microsoft.Network/networkSecurityGroups",
                "name": "[parameters('networkSecurityGroupName')]",
                "apiVersion": "2016-09-01",
                "location": "[parameters('location')]",
                "properties": {
                  "securityRules": [
                    {
                      "name": "default-allow-rdp",
                      "properties": {
                        "priority": 1000,
                        "sourceAddressPrefix": "*",
                        "protocol": "TCP",
                        "destinationPortRange": "3389",
                        "access": "Allow",
                        "direction": "Inbound",
                        "sourcePortRange": "*",
                        "destinationAddressPrefix": "*"
                      }
                    }
                  ]
                }
              }
            ],
            "outputs": {
              "adminUsername": {
                "type": "String",
                "value": "[parameters('adminUsername')]"
              }
            }
          },
          "parameters": {
            "resourceGroupName": {
              "value": "azsmnet6205"
            },
            "location": {
              "value": "westus2"
            },
            "virtualMachineName": {
              "value": "azsmnet9210"
            },
            "virtualMachineSize": {
              "value": "Standard_DS1_v2"
            },
            "adminUsername": {
              "value": "ne[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourcegroups/azsmnet6205/providers/Microsoft.Resources/deployments/azsmnet8115/operationStatuses/08586001601428755585?api-version=2021-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "status": "Accepted"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourcegroups/azsmnet6205/providers/Microsoft.Resources/deployments/azsmnet8115?api-version=2021-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11913"
      },
      "ResponseBody": {
        "id": "/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/azsmnet6205/providers/Microsoft.Resources/deployments/azsmnet8115",
        "name": "azsmnet8115",
        "type": "Microsoft.Resources/deployments",
        "properties": {
          "templateHash": "8977858299135338221",
          "parameters": {
            "resourceGroupName": {
              "type": "String",
              "value": "azsmnet6205"
            },
            "location": {
              "type": "String",
              "value": "westus2"
            },
            "virtualMachineName": {
              "type": "String",
              "value": "azsmnet9210"
            },
            "virtualMachineSize": {
              "type": "String",
              "value": "Standard_DS1_[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/azsmnet6205/providers/Microsoft.Compute/virtualMachines/azsmnet9210?$expand=instanceView&api-version=2019-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-resource": "Microsoft.Compute/LowCostGet3Min;3997,Microsoft.Compute/LowCostGet30Min;31966",
        "x-ms-ratelimit-remaining-subscription-reads": "11912"
      },
      "ResponseBody": [
        "{\r\n",
        "  \"name\": \"azsmnet9210\",\r\n",
        "  \"id\": \"/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/azsmnet6205/providers/Microsoft.Compute/virtualMachines/azsmnet9210\",\r\n",
        "  \"type\": \"Microsoft.Compute/virtualMachines\",\r\n",
        "  \"location\": \"westus2\",\r\n",
        "  \"properties\": {\r\n",
        "    \"vmId\": \"32146bdd-37d6-4629-98fc-6e03c04ca082\",\r\n",
        "    \"hardwareProfile\": {\r\n",
        "      \"vmSize\": \"Standard_DS1_v2\"\r\n",
        "    },\r\n",
        "    \"storageProfile\": {\r\n",
        "      \"imageReference\": {\r\n",
        "        \"publisher\": \"MicrosoftWindowsServer\",\r\n",
        "        \"offer\": \"WindowsServer\",\r\n",
        "        \"sku\": \"2016-Datacenter\",\r\n",
        "        \"version\": \"latest\",\r\n",
        "        \"exactVersion\": \"14393.3930.2009041537\"\r\n",
        "      },\r\n",
        "      \"osDisk\": {\r\n",
        "        \"osType\": \"Windows\",\r\n",
        "        \"name\": \"azsmnet9210\",\r\n",
        "        \"createOption\": \"FromImage\",\r\n",
        "        \"vhd\": {\r\n",
        "          \"uri\": \"https://azsmnet9368.blob.core.windows.net/vhds/azsmnet921020161217141554.vhd\"\r\n",
        "        },\r\n",
        "        \"caching\": \"ReadWrite\",\r\n",
        "        \"diskSizeGB\": 127\r\n",
        "      },\r\n",
        "      \"dataDisks\": []\r\n",
        "    },\r\n",
        "    \"osProfile\": {\r\n",
        "      \"computerName\": \"azsmnet9210\",\r\n",
        "      \"adminUsername\": \"netanalytics32\",\r\n",
        "      \"windowsConfiguration\": {\r\n",
        "        \"provisionVMAgent\": true,\r\n",
        "        \"enableAutomaticUpdates\": true\r\n",
        "      },\r\n",
        "      \"secrets\": []\r\n",
        "    },\r\n",
        "    \"networkProfile\": {\"networkInterfaces\":[{\"id\":\"/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/azsmnet6205/providers/Microsoft.Network/networkInterfaces/azsmnet4038\"}]},\r\n",
        "    \"diagnosticsProfile\": {\r\n",
        "      \"bootDiagnostics\": {\r\n",
        "        \"enabled\": true,\r\n",
        "        \"storageUri\": \"https://azsmnet4309.blob.core.windows.net/\"\r\n",
        "      }\r\n",
        "    },\r\n",
        "    \"provisioningState\": \"Succeeded\",\r\n",
        "    \"instanceView\": {\r\n",
        "      \"vmAgent\": {\r\n",
        "        \"vmAgentVersion\": \"Unknown\",\r\n",
        "        \"statuses\": [\r\n",
        "          {\r\n",
        "            \"code\": \"ProvisioningState/Unavailable\",\r\n",
        "            \"level\": \"Warning\",\r\n",
        "            \"displayStatus\": \"Not Ready\",\r\n",
        "            \"message\": \"VM status blob is found but not yet populated.\",\r\n",
        "            \"time\": \"2020-09-30T06:21:11+00:00\"\r\n",
        "          }\r\n",
        "        ]\r\n",
        "      },\r\n",
        "      \"disks\": [\r\n",
        "        {\r\n",
        "          \"name\": \"azsmnet9210\",\r\n",
        "          \"statuses\": [\r\n",
        "            {\r\n",
        "              \"code\": \"ProvisioningState/succeeded\",\r\n",
        "              \"level\": \"Info\",\r\n",
        "              \"displayStatus\": \"Provisioning succeeded\",\r\n",
        "              \"time\": \"2020-09-30T06:19:47.7870905+00:00\"\r\n",
        "            }\r\n",
        "          ]\r\n",
        "        }\r\n",
        "      ],\r\n",
        "      \"bootDiagnostics\": {\r\n",
        "        \"consoleScreenshotBlobUri\": \"https://azsmnet4309.blob.core.windows.net/bootdiagnostics-azsmnet92-32146bdd-37d6-4629-98fc-6e03c04ca082/azsmnet9210.32146bdd-37d6-4629-98fc-6e03c04ca082.screenshot.bmp\",\r\n",
        "        \"serialConsoleLogBlobUri\": \"https://azsmnet4309.blob.core.windows.net/bootdiagnostics-azsmnet92-32146bdd-37d6-4629-98fc-6e03c04ca082/azsmnet9210.32146bdd-37d6-4629-98fc-6e03c04ca082.serialconsole.log\"\r\n",
        "      },\r\n",
        "      \"hyperVGeneration\": \"V1\",\r\n",
        "      \"statuses\": [\r\n",
        "        {\r\n",
        "          \"code\": \"ProvisioningState/succeeded\",\r\n",
        "          \"level\": \"Info\",\r\n",
        "          \"displayStatus\": \"Provisioning succeeded\",\r\n",
        "          \"time\": \"2020-09-30T06:21:06.726116+00:00\"\r\n",
        "        },\r\n",
        "        {\r\n",
        "          \"code\": \"PowerState/running\",\r\n",
        "          \"level\": \"Info\",\r\n",
        "          \"displayStatus\": \"VM running\"\r\n",
        "        }\r\n",
        "      ]\r\n",
        "    }\r\n",
        "  }\r\n",
        "}"
      ]
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/azsmnet6205/providers/Microsoft.Compute/virtualMachines/azsmnet9210/extensions/NetworkWatcherAgent?api-version=2019-12-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus2",
        "properties": {
          "publisher": "Microsoft.Azure.NetworkWatcher",
          "type": "NetworkWatcherAgentWindows",
          "typeHandlerVersion": "1.4"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncNotification": "Enabled",
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/providers/Microsoft.Compute/locations/westus2/operations/20ad096c-7f62-41ca-be3c-9a1ab6393a49?api-version=2019-12-01",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-resource": "Microsoft.Compute/UpdateVM3Min;239,Microsoft.Compute/UpdateVM30Min;1198",
        "x-ms-ratelimit-remaining-subscription-writes": "1194"
      },
      "ResponseBody": [
        "{\r\n",
        "  \"name\": \"NetworkWatcherAgent\",\r\n",
        "  \"id\": \"/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/azsmnet6205/providers/Microsoft.Compute/virtualMachines/azsmnet9210/extensions/NetworkWatcherAgent\",\r\n",
        "  \"type\": \"Microsoft.Compute/virtualMachines/extensions\",\r\n",
        "  \"location\": \"westus2\",\r\n",
        "  \"properties\": {\r\n",
        "    \"autoUpgradeMinorVersion\": false,\r\n",
        "    \"provisioningState\": \"Creating\",\r\n",
        "    \"publisher\": \"Microsoft.Azure.NetworkWatcher\",\r\n",
        "    \"type\": \"NetworkWatcherAgentWindows\",\r\n",
        "    \"typeHandlerVersion\": \"1.4\"\r\n",
        "  }\r\n",
        "}"
      ]
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/providers/Microsoft.Compute/locations/westus2/operations/20ad096c-7f62-41ca-be3c-9a1ab6393a49?api-version=2019-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-resource": "Microsoft.Compute/GetOperation3Min;14997,Microsoft.Compute/GetOperation30Min;29817",
        "x-ms-ratelimit-remaining-subscription-reads": "11911"
      },
      "ResponseBody": [
        "{\r\n",
        "  \"startTime\": \"2020-09-30T06:21:16.7885074+00:00\",\r\n",
        "  \"status\": \"InProgress\",\r\n",
        "  \"name\": \"20ad096c-7f62-41ca-be3c-9a1ab6393a49\"\r\n",
        "}"
      ]
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/providers/Microsoft.Compute/locations/westus2/operations/20ad096c-7f62-41ca-be3c-9a1ab6393a49?api-version=2019-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-resource": "Microsoft.Compute/GetOperation3Min;14891,Microsoft.Compute/GetOperation30Min;29711",
        "x-ms-ratelimit-remaining-subscription-reads": "11806"
      },
      "ResponseBody": [
        "{\r\n",
        "  \"startTime\": \"2020-09-30T06:21:16.7885074+00:00\",\r\n",
        "  \"endTime\": \"2020-09-30T06:23:32.6787188+00:00\",\r\n",
        "  \"status\": \"Succeeded\",\r\n",
        "  \"name\": \"20ad096c-7f62-41ca-be3c-9a1ab6393a49\"\r\n",
        "}"
      ]
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/NetworkWatcherRG/providers/Microsoft.Network/networkWatchers/NetworkWatcher_westus2/connectivityCheck?api-version=2020-04-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "source": {
          "resourceId": "/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/azsmnet6205/providers/Microsoft.Compute/virtualMachines/azsmnet9210"
        },
        "destination": {
          "address": "bing.com",
          "port": 80
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/providers/Microsoft.Network/locations/westus2/operationResults/6031aba0-5a95-41bb-a2a5-14d6409c80c7?api-version=2020-04-01",
        "Retry-After": "10",
        "x-ms-ratelimit-remaining-subscription-reads": "11804"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/providers/Microsoft.Network/locations/westus2/operationResults/6031aba0-5a95-41bb-a2a5-14d6409c80c7?api-version=2020-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/providers/Microsoft.Network/locations/westus2/operationResults/6031aba0-5a95-41bb-a2a5-14d6409c80c7?api-version=2020-04-01",
        "Retry-After": "10",
        "x-ms-ratelimit-remaining-subscription-reads": "11803"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/providers/Microsoft.Network/locations/westus2/operationResults/6031aba0-5a95-41bb-a2a5-14d6409c80c7?api-version=2020-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/providers/Microsoft.Network/locations/westus2/operationResults/6031aba0-5a95-41bb-a2a5-14d6409c80c7?api-version=2020-04-01",
        "x-ms-ratelimit-remaining-subscription-reads": "11767"
      },
      "ResponseBody": [
        "{\r\n",
        "  \"hops\": [\r\n",
        "    {\r\n",
        "      \"type\": \"Source\",\r\n",
        "      \"id\": \"cb9ca824-e6a3-486e-9ebd-66af30ed78b9\",\r\n",
        "      \"address\": \"10.17.3.4\",\r\n",
        "      \"resourceId\": \"/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/azsmnet6205/providers/Microsoft.Compute/virtualMachines/azsmnet9210\",\r\n",
        "      \"nextHopIds\": [\r\n",
        "        \"cd281f75-b735-42dd-9444-62f7207291f9\"\r\n",
        "      ],\r\n",
        "      \"links\": [\r\n",
        "        {\r\n",
        "          \"nextHopId\": \"cd281f75-b735-42dd-9444-62f7207291f9\",\r\n",
        "          \"linkType\": \"Internet\",\r\n",
        "          \"properties\": {\r\n",
        "            \"roundTripTimeMin\": 1,\r\n",
        "            \"roundTripTimeAvg\": 1,\r\n",
        "            \"roundTripTimeMax\": 1\r\n",
        "          },\r\n",
        "          \"context\": {},\r\n",
        "          \"issues\": [],\r\n",
        "          \"resourceId\": \"\"\r\n",
        "        }\r\n",
        "      ],\r\n",
        "      \"previousHopIds\": [],\r\n",
        "      \"previousLinks\": [],\r\n",
        "      \"issues\": []\r\n",
        "    },\r\n",
        "    {\r\n",
        "      \"type\": \"Internet\",\r\n",
        "      \"id\": \"cd281f75-b735-42dd-9444-62f7207291f9\",\r\n",
        "      \"address\": \"13.107.21.200\",\r\n",
        "      \"nextHopIds\": [],\r\n",
        "      \"links\": [],\r\n",
        "      \"previousHopIds\": [\r\n",
        "        \"cb9ca824-e6a3-486e-9ebd-66af30ed78b9\"\r\n",
        "      ],\r\n",
        "      \"previousLinks\": [\r\n",
        "        {\r\n",
        "          \"nextHopId\": \"cb9ca824-e6a3-486e-9ebd-66af30ed78b9\",\r\n",
        "          \"linkType\": \"Internet\",\r\n",
        "          \"properties\": {},\r\n",
        "          \"context\": {},\r\n",
        "          \"issues\": [],\r\n",
        "          \"resourceId\": \"\"\r\n",
        "        }\r\n",
        "      ],\r\n",
        "      \"issues\": []\r\n",
        "    }\r\n",
        "  ],\r\n",
        "  \"connectionStatus\": \"Reachable\",\r\n",
        "  \"avgLatencyInMs\": 1,\r\n",
        "  \"minLatencyInMs\": 1,\r\n",
        "  \"maxLatencyInMs\": 5,\r\n",
        "  \"probesSent\": 66,\r\n",
        "  \"probesFailed\": 0\r\n",
        "}"
      ]
    }
  ],
  "Variables": {
    "RandomSeed": "202147308",
    "SUBSCRIPTION_ID": "c9cbd920-c00c-427c-852b-8aaf38badaeb"
  }
}