{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c?api-version=2019-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11926"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "tagKey1": "tagValue1",
          "tagKey2": "tagValue2"
        },
        "subscriptionId": "db1ab6f0-4769-4b27-930e-01e2ef9c123c",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": ".NET Mgmt SDK Test with TTL = 1 Day",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourcegroups/testservicebusRG-2225?api-version=2019-10-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus2",
        "tags": {
          "test": "env"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1196"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testservicebusRG-2225",
        "name": "testservicebusRG-2225",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus2",
        "tags": {
          "test": "env"
        },
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.ServiceBus/CheckNameAvailability?api-version=2021-06-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "testnamespacemgmt6106"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Server-SB": "Service-Bus-Resource-Provider/SN1",
        "x-ms-ratelimit-remaining-subscription-writes": "1198"
      },
      "ResponseBody": {
        "nameAvailable": true,
        "reason": "None",
        "message": null
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testservicebusRG-2225/providers/Microsoft.ServiceBus/namespaces/testnamespacemgmt6106?api-version=2021-06-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "eastus2",
        "properties": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Server-SB": "Service-Bus-Resource-Provider/SN1",
        "x-ms-ratelimit-remaining-subscription-writes": "1195"
      },
      "ResponseBody": {
        "sku": {
          "name": "Standard",
          "tier": "Standard"
        },
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testservicebusRG-2225/providers/Microsoft.ServiceBus/namespaces/testnamespacemgmt6106",
        "name": "testnamespacemgmt6106",
        "type": "Microsoft.ServiceBus/Namespaces",
        "location": "East US 2",
        "tags": {},
        "properties": {
          "disableLocalAuth": false,
          "zoneRedundant": false,
          "provisioningState": "Created",
          "metricId": "db1ab6f0-4769-4b27-930e-01e2ef9c123c:testnamespacemgmt6106",
          "createdAt": "2021-10-09T03:42:24.673Z",
          "updatedAt": "2021-10-09T03:42:24.673Z",
          "serviceBusEndpoint": "https://testnamespacemgmt6106.servicebus.windows.net:443/",
          "status": "Activating"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testservicebusRG-2225/providers/Microsoft.ServiceBus/namespaces/testnamespacemgmt6106/queues/queue13269?api-version=2021-06-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Server-SB": "Service-Bus-Resource-Provider/SN1",
        "x-ms-ratelimit-remaining-subscription-writes": "1194"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testservicebusRG-2225/providers/Microsoft.ServiceBus/namespaces/testnamespacemgmt6106/queues/queue13269",
        "name": "queue13269",
        "type": "Microsoft.ServiceBus/Namespaces/Queues",
        "location": "East US 2",
        "properties": {
          "maxMessageSizeInKilobytes": 256,
          "lockDuration": "PT1M",
          "maxSizeInMegabytes": 1024,
          "requiresDuplicateDetection": false,
          "requiresSession": false,
          "defaultMessageTimeToLive": "P10675199DT2H48M5.4775807S",
          "deadLetteringOnMessageExpiration": false,
          "enableBatchedOperations": true,
          "duplicateDetectionHistoryTimeWindow": "PT10M",
          "maxDeliveryCount": 10,
          "sizeInBytes": 0,
          "messageCount": 0,
          "status": "Active",
          "autoDeleteOnIdle": "P10675199DT2H48M5.4775807S",
          "enablePartitioning": false,
          "enableExpress": false,
          "countDetails": {
            "activeMessageCount": 0,
            "deadLetterMessageCount": 0,
            "scheduledMessageCount": 0,
            "transferMessageCount": 0,
            "transferDeadLetterMessageCount": 0
          },
          "createdAt": "2021-10-09T03:43:13.233Z",
          "updatedAt": "2021-10-09T03:43:13.26Z",
          "accessedAt": "0001-01-01T00:00:00"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testservicebusRG-2225/providers/Microsoft.ServiceBus/namespaces/testnamespacemgmt6106/queues?api-version=2021-06-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Server-SB": "Service-Bus-Resource-Provider/SN1",
        "x-ms-inline-count": "",
        "x-ms-ratelimit-remaining-subscription-reads": "11892"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testservicebusRG-2225/providers/Microsoft.ServiceBus/namespaces/testnamespacemgmt6106/queues/queue13269",
            "name": "queue13269",
            "type": "Microsoft.ServiceBus/Namespaces/Queues",
            "location": "East US 2",
            "properties": {
              "maxMessageSizeInKilobytes": 256,
              "lockDuration": "PT1M",
              "maxSizeInMegabytes": 1024,
    [...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testservicebusRG-2225/providers/Microsoft.ServiceBus/namespaces?api-version=2021-06-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Server-SB": "Service-Bus-Resourc[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testservicebusRG-2225/providers/Microsoft.ServiceBus/namespaces/testnamespacemgmt6106?api-version=2021-06-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Location": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testservicebusRG-2225/providers/Microsoft.ServiceBus/namespaces/testnamespacemgmt6106/operationresults/testnamespacemgmt6106?api-version=2021-06-01-preview",
        "Server-SB": "Service-Bus-Resource-Provider/SN1",
        "x-ms-ratelimit-remaining-subscription-deletes": "14996"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testservicebusRG-2225/providers/Microsoft.ServiceBus/namespaces/testnamespacemgmt6106/operationresults/testnamespacemgmt6106?api-version=2021-06-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testservicebusRG-2225/providers/Microsoft.ServiceBus/namespaces/testnamespacemgmt6106/operationresults/testnamespacemgmt6106?api-version=2021-06-01-preview",
        "Retry-After": "37",
        "Server-SB": "Service-Bus-Resource-Provider/SN1",
        "x-ms-ratelimit-remaining-subscription-reads": "11890"
      },
      "ResponseBody": {
        "sku": {
          "name": "Standard",
          "tier": "Standard"
        },
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testservicebusRG-2225/providers/Microsoft.ServiceBus/namespaces/testnamespacemgmt6106",
        "name": "testnamespacemgmt6106",
        "type": "Microsoft.ServiceBus/Namespaces",
        "location": "East US 2",
        "tags": {},
        "properties": {
          "disableLocalAuth": false,
          "zoneRedundant": false,
          "provisioningState": "Succeeded",
          "metricId": "db1ab6f0-4769-4b27-930e-01e2ef9c123c:testnamespacemgmt6106",
          "createdAt": "2021-10-09T03:42:24.673Z",
          "updatedAt": "2021-10-09T03:43:18.86Z",
          "serviceBusEndpoint": "https://testnamespacemgmt6106.servicebus.windows.net:443/",
          "status": "Removing"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testservicebusRG-2225/providers/Microsoft.ServiceBus/namespaces/testnamespacemgmt6106/operationresults/testnamespacemgmt6106?api-version=2021-06-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Server-SB": "Service-Bus-Resource-Provider/SN1",
        "x-ms-ratelimit-remaining-subscription-reads": "11871"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "802078162",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "db1ab6f0-4769-4b27-930e-01e2ef9c123c"
  }
}