{
  "Entries": [
    {
      "RequestUri": "/subscriptions/f66367e1-cf7d-407b-ba39-53230cc79071/resourceGroups/geTestResourceGroup002/providers/Microsoft.HybridCompute/machines/WIN-9DFUIQ7NP1B/providers/Microsoft.GuestConfiguration/guestConfigurationAssignments/AuditSecureProtocol?api-version=2020-06-25",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"guestConfiguration\": {\r\n      \"name\": \"AuditSecureProtocol\",\r\n      \"version\": \"1.0.0.3\"\r\n    },\r\n    \"context\": \"Azure policy A\"\r\n  },\r\n  \"name\": \"AuditSecureProtocol\",\r\n  \"location\": \"westcentralus\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"location\": \"westcentralus\",\r\n  \"id\": null,\r\n  \"name\": \"AuditSecureProtocol\",\r\n  \"properties\": {\r\n    \"complianceStatus\": \"Pending\",\r\n    \"assignmentHash\": null,\r\n    \"parameterHash\": null,\r\n    \"latestReportId\": null,\r\n    \"lastComplianceStatusChecked\": null,\r\n    \"context\": \"Azure policy A\",\r\n    \"guestConfiguration\": {\r\n      \"kind\": null,\r\n      \"name\": \"AuditSecureProtocol\",\r\n      \"version\": \"1.0.0.3\",\r\n      \"contentUri\": null,\r\n      \"contentHash\": null,\r\n      \"contentType\": \"Builtin\",\r\n      \"assignmentType\": null,\r\n      \"configurationParameter\": null,\r\n      \"configurationProtectedParameter\": null,\r\n      \"configurationSetting\": null\r\n    },\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
