{
  "Entries": [
    {
      "RequestUri": "/subscriptions/f66367e1-cf7d-407b-ba39-53230cc79071/resourceGroups/gehuan-arc0010/providers/Microsoft.HybridCompute/machines/IamPretendingTo/providers/Microsoft.GuestConfiguration/guestConfigurationAssignments/AuditSecureProtocol?api-version=2021-01-25",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"location\": \"westcentralus\",\r\n  \"id\": \"/subscriptions/f66367e1-cf7d-407b-ba39-53230cc79071/resourceGroups/gehuan-arc0010/providers/Microsoft.HybridCompute/machines/IamPretendingTo/providers/Microsoft.GuestConfiguration/guestConfigurationAssignments/AuditSecureProtocol\",\r\n  \"name\": \"AuditSecureProtocol\",\r\n  \"properties\": {\r\n    \"complianceStatus\": \"Compliant\",\r\n    \"assignmentHash\": \"\",\r\n    \"parameterHash\": \"\",\r\n    \"latestReportId\": \"/subscriptions/f66367e1-cf7d-407b-ba39-53230cc79071/resourceGroups/gehuan-arc0010/providers/Microsoft.HybridCompute/machines/IamPretendingTo/providers/Microsoft.GuestConfiguration/guestConfigurationAssignments/AuditSecureProtocol/reports/2edf57af-ddb7-4154-9e3e-9dff80dddbe3\",\r\n    \"lastComplianceStatusChecked\": \"2021-06-25T01:17:25Z\",\r\n    \"context\": null,\r\n    \"guestConfiguration\": {\r\n      \"kind\": null,\r\n      \"name\": \"AuditSecureProtocol\",\r\n      \"version\": \"1.0.0.3\",\r\n      \"contentUri\": null,\r\n      \"contentHash\": null,\r\n      \"contentType\": null,\r\n      \"assignmentType\": null,\r\n      \"configurationParameter\": [],\r\n      \"configurationProtectedParameter\": [],\r\n      \"configurationSetting\": {\r\n        \"configurationMode\": \"MonitorOnly\",\r\n        \"allowModuleOverwrite\": false,\r\n        \"actionAfterReboot\": \"\",\r\n        \"refreshFrequencyMins\": 5,\r\n        \"rebootIfNeeded\": true,\r\n        \"configurationModeFrequencyMins\": 15\r\n      }\r\n    },\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"resourceType\": null,\r\n    \"vmssVMList\": null\r\n  }\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/f66367e1-cf7d-407b-ba39-53230cc79071/resourceGroups/gehuan-arc0010/providers/Microsoft.HybridCompute/machines/IamPretendingTo/providers/Microsoft.GuestConfiguration/guestConfigurationAssignments/AuditSecureProtocol/reports?api-version=2021-01-25",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11998"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/f66367e1-cf7d-407b-ba39-53230cc79071/resourceGroups/gehuan-arc0010/providers/Microsoft.HybridCompute/machines/IamPretendingTo/providers/Microsoft.GuestConfiguration/guestConfigurationAssignments/AuditSecureProtocol/reports/2edf57af-ddb7-4154-9e3e-9dff80dddbe3\",\r\n      \"name\": \"2edf57af-ddb7-4154-9e3e-9dff80dddbe3\",\r\n      \"properties\": {\r\n        \"complianceStatus\": \"Compliant\",\r\n        \"assignment\": {\r\n          \"name\": \"AuditSecureProtocol\",\r\n          \"configuration\": {\r\n            \"name\": \"AuditSecureProtocol\",\r\n            \"version\": \"1.0.0.3\"\r\n          }\r\n        },\r\n        \"reportId\": \"2edf57af-ddb7-4154-9e3e-9dff80dddbe3\",\r\n        \"vm\": {\r\n          \"id\": \"/subscriptions/f66367e1-cf7d-407b-ba39-53230cc79071/resourceGroups/gehuan-arc0010/providers/Microsoft.HybridCompute/machines/IamPretendingTo\",\r\n          \"uuid\": \"e5c6272f-72ae-44c8-8b3a-1ab65469a39e\"\r\n        },\r\n        \"details\": null,\r\n        \"startTime\": \"2021-06-25T01:17:02Z\",\r\n        \"endTime\": \"2021-06-25T01:17:25Z\",\r\n        \"VMSSResourceId\": null\r\n      }\r\n    }\r\n  ]\r\n}",
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "f66367e1-cf7d-407b-ba39-53230cc79071"
  }
}