{
  "Entries": [
    {
      "RequestUri": "https://t822ba17aa8b34513-textanalytics.cognitiveservices.azure.com/text/analytics/v3.1-preview.1/sentiment?showStats=true",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "documents": [
          {
            "id": "1",
            "text": "Pike Place Market is my favorite Seattle attraction.  We had so much fun there.",
            "language": "en"
          },
          {
            "id": "2",
            "text": "Esta comida no me gusta. Siempre que la como me enfermo.",
            "language": "es"
          }
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "csp-billing-usage": "CognitiveServices.TextAnalytics.BatchScoring=2"
      },
      "ResponseBody": {
        "statistics": {
          "documentsCount": 2,
          "validDocumentsCount": 2,
          "erroneousDocumentsCount": 0,
          "transactionsCount": 2
        },
        "documents": [
          {
            "id": "1",
            "sentiment": "positive",
            "statistics": {
              "charactersCount": 79,
              "transactionsCount": 1
            },
            "confidenceScores": {
              "positive": 1.0,
              "neutral": 0.0,
              "negative": 0.0
            },
            "sentences": [
              {
                "sentiment": "positive",
                "confidenceScores": {
                  "positive": 1.0,
                  "neutral": 0.0,
                  "negative": 0.0
                },
                "offset": 0,
                "length": 52,
                "text": "Pike Place Market is my favorite Seattle attraction."
              },
              {
                "sentiment": "positive",
                "confidenceScores": {
                  "positive": 1.0,
                  "neutral": 0.0,
                  "negative": 0.0
                },
                "offset": 54,
                "length": 25,
                "text": "We had so much fun there."
              }
            ],
            "warnings": []
          },
          {
            "id": "2",
            "sentiment": "negative",
            "statistics": {
              "charactersCount": 56,
              "transactionsCount": 1
            },
            "confidenceScores": {
              "positive": 0.06,
              "neutral": 0.1,
              "negative": 0.84
            },
            "sentences": [
              {
                "sentiment": "negative",
                "confidenceScores": {
                  "positive": 0.11,
                  "neutral": 0.18,
                  "negative": 0.71
                },
                "offset": 0,
                "length": 24,
                "text": "Esta comida no me gusta."
              },
              {
                "sentiment": "negative",
                "confidenceScores": {
                  "positive": 0.01,
                  "neutral": 0.01,
                  "negative": 0.98
                },
                "offset": 25,
                "length": 31,
                "text": "Siempre que la como me enfermo."
              }
            ],
            "warnings": []
          }
        ],
        "errors": [],
        "modelVersion": "2020-04-01"
      }
    }
  ],
  "Variables": {
    "RandomSeed": "323844952",
    "TEXT_ANALYTICS_API_KEY": "Sanitized",
    "TEXT_ANALYTICS_ENDPOINT": "https://t822ba17aa8b34513-textanalytics.cognitiveservices.azure.com"
  }
}