{
  "Entries": [
    {
      "RequestUri": "https://azsdknet-test-ta.cognitiveservices.azure.com/text/analytics/v3.1-preview.1/sentiment",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "documents": [
          {
            "language": "en",
            "id": "0",
            "text": "That was the best day of my life!. I had a lot of fun at the park."
          },
          {
            "language": "en",
            "id": "1",
            "text": "I\u0027m not sure how I feel about this product. It is complicated."
          }
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "csp-billing-usage": "CognitiveServices.TextAnalytics.BatchScoring=2"
      },
      "ResponseBody": {
        "documents": [
          {
            "id": "0",
            "sentiment": "positive",
            "confidenceScores": {
              "positive": 1.0,
              "neutral": 0.0,
              "negative": 0.0
            },
            "sentences": [
              {
                "sentiment": "positive",
                "confidenceScores": {
                  "positive": 1.0,
                  "neutral": 0.0,
                  "negative": 0.0
                },
                "offset": 0,
                "length": 34,
                "text": "That was the best day of my life!."
              },
              {
                "sentiment": "positive",
                "confidenceScores": {
                  "positive": 1.0,
                  "neutral": 0.0,
                  "negative": 0.0
                },
                "offset": 35,
                "length": 31,
                "text": "I had a lot of fun at the park."
              }
            ],
            "warnings": []
          },
          {
            "id": "1",
            "sentiment": "negative",
            "confidenceScores": {
              "positive": 0.0,
              "neutral": 0.0,
              "negative": 1.0
            },
            "sentences": [
              {
                "sentiment": "neutral",
                "confidenceScores": {
                  "positive": 0.02,
                  "neutral": 0.85,
                  "negative": 0.13
                },
                "offset": 0,
                "length": 43,
                "text": "I\u0027m not sure how I feel about this product."
              },
              {
                "sentiment": "negative",
                "confidenceScores": {
                  "positive": 0.0,
                  "neutral": 0.0,
                  "negative": 1.0
                },
                "offset": 44,
                "length": 18,
                "text": "It is complicated."
              }
            ],
            "warnings": []
          }
        ],
        "errors": [],
        "modelVersion": "2020-04-01"
      }
    }
  ],
  "Variables": {
    "RandomSeed": "1384321545",
    "TEXT_ANALYTICS_API_KEY": "Sanitized",
    "TEXT_ANALYTICS_ENDPOINT": "https://azsdknet-test-ta.cognitiveservices.azure.com/"
  }
}