{
  "Entries": [
    {
      "RequestUri": "https://westus2.api.cognitive.microsoft.com/text/analytics/v3.0-preview.1/sentiment",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "documents": [
          {
            "language": "en",
            "id": "0",
            "text": "That was the best day of my life!"
          }
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "csp-billing-usage": "CognitiveServices.TextAnalytics.BatchScoring=1"
      },
      "ResponseBody": {
        "documents": [
          {
            "id": "0",
            "sentiment": "positive",
            "documentScores": {
              "positive": 1.0,
              "neutral": 0.0,
              "negative": 0.0
            },
            "sentences": [
              {
                "sentiment": "positive",
                "sentenceScores": {
                  "positive": 1.0,
                  "neutral": 0.0,
                  "negative": 0.0
                },
                "offset": 0,
                "length": 33
              }
            ]
          }
        ],
        "errors": [],
        "modelVersion": "2019-10-01"
      }
    }
  ],
  "Variables": {
    "RandomSeed": "155387249",
    "TEXT_ANALYTICS_ENDPOINT": "https://westus2.api.cognitive.microsoft.com/",
    "TEXT_ANALYTICS_API_KEY": "Sanitized"
  }
}