{
  "Entries": [
    {
      "RequestUri": "https://t16fb770993214e8c-textanalytics.cognitiveservices.azure.com/text/analytics/v3.1-preview.1/languages?model-version=2019-10-01\u0026showStats=false",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "documents": [
          {
            "id": "1",
            "text": null
          }
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "documents": [],
        "errors": [
          {
            "id": "1",
            "error": {
              "code": "InvalidArgument",
              "message": "Invalid document in request.",
              "innererror": {
                "code": "InvalidDocument",
                "message": "Document text is empty."
              }
            }
          }
        ],
        "modelVersion": "2019-10-01"
      }
    }
  ],
  "Variables": {
    "RandomSeed": "1170714343",
    "TEXT_ANALYTICS_API_KEY": "Sanitized",
    "TEXT_ANALYTICS_ENDPOINT": "https://t16fb770993214e8c-textanalytics.cognitiveservices.azure.com"
  }
}