{
  "Entries": [
    {
      "RequestUri": "https://westus2.api.cognitive.microsoft.com/text/analytics/v3.0-preview.1/languages?showStats=true",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "documents": [
          {
            "countryHint": "us",
            "id": "0",
            "text": "Hello world"
          },
          {
            "countryHint": "us",
            "id": "1",
            "text": "This is a test"
          }
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "csp-billing-usage": "CognitiveServices.TextAnalytics.BatchScoring=2"
      },
      "ResponseBody": {
        "statistics": {
          "documentsCount": 2,
          "validDocumentsCount": 2,
          "erroneousDocumentsCount": 0,
          "transactionsCount": 2
        },
        "documents": [
          {
            "id": "0",
            "detectedLanguages": [
              {
                "name": "English",
                "iso6391Name": "en",
                "score": 1.0
              }
            ],
            "statistics": {
              "charactersCount": 11,
              "transactionsCount": 1
            }
          },
          {
            "id": "1",
            "detectedLanguages": [
              {
                "name": "English",
                "iso6391Name": "en",
                "score": 1.0
              }
            ],
            "statistics": {
              "charactersCount": 14,
              "transactionsCount": 1
            }
          }
        ],
        "errors": [],
        "modelVersion": "2019-10-01"
      }
    }
  ],
  "Variables": {
    "RandomSeed": "27210634",
    "TEXT_ANALYTICS_API_KEY": "Sanitized",
    "TEXT_ANALYTICS_ENDPOINT": "https://westus2.api.cognitive.microsoft.com/"
  }
}