{
  "Entries": [
    {
      "RequestUri": "https://westus2.api.cognitive.microsoft.com/text/analytics/v3.0-preview.1/languages?showStats=true",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "documents": [
          {
            "countryHint": "us",
            "id": "1",
            "text": "Hello world"
          },
          {
            "countryHint": "fr",
            "id": "2",
            "text": "Bonjour tout le monde"
          },
          {
            "countryHint": "es",
            "id": "3",
            "text": "Hola mundo"
          },
          {
            "countryHint": "us",
            "id": "4",
            "text": ":) :( :D"
          }
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "csp-billing-usage": "CognitiveServices.TextAnalytics.BatchScoring=4"
      },
      "ResponseBody": {
        "statistics": {
          "documentsCount": 4,
          "validDocumentsCount": 4,
          "erroneousDocumentsCount": 0,
          "transactionsCount": 4
        },
        "documents": [
          {
            "id": "1",
            "detectedLanguages": [
              {
                "name": "English",
                "iso6391Name": "en",
                "score": 1.0
              }
            ],
            "statistics": {
              "charactersCount": 11,
              "transactionsCount": 1
            }
          },
          {
            "id": "2",
            "detectedLanguages": [
              {
                "name": "French",
                "iso6391Name": "fr",
                "score": 1.0
              }
            ],
            "statistics": {
              "charactersCount": 21,
              "transactionsCount": 1
            }
          },
          {
            "id": "3",
            "detectedLanguages": [
              {
                "name": "Spanish",
                "iso6391Name": "es",
                "score": 1.0
              }
            ],
            "statistics": {
              "charactersCount": 10,
              "transactionsCount": 1
            }
          },
          {
            "id": "4",
            "detectedLanguages": [
              {
                "name": "English",
                "iso6391Name": "en",
                "score": 1.0
              }
            ],
            "statistics": {
              "charactersCount": 8,
              "transactionsCount": 1
            }
          }
        ],
        "errors": [],
        "modelVersion": "2019-10-01"
      }
    }
  ],
  "Variables": {
    "RandomSeed": "1455178816",
    "TEXT_ANALYTICS_API_KEY": "Sanitized",
    "TEXT_ANALYTICS_ENDPOINT": "https://westus2.api.cognitive.microsoft.com/"
  }
}