{
  "Entries": [
    {
      "RequestUri": "https://t0a14a15674c54c18-textanalytics.cognitiveservices.azure.com/text/analytics/v3.1-preview.1/languages",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "documents": [
          {
            "id": "0",
            "text": "Este documento est\u00E1 en espa\u00F1ol",
            "countryHint": "COLOMBIA"
          }
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "documents": [],
        "errors": [
          {
            "id": "0",
            "error": {
              "code": "InvalidArgument",
              "message": "Invalid Country Hint.",
              "innererror": {
                "code": "InvalidCountryHint",
                "message": "Country hint is not valid. Please specify an ISO 3166-1 alpha-2 two letter country code."
              }
            }
          }
        ],
        "modelVersion": "2020-07-01"
      }
    }
  ],
  "Variables": {
    "RandomSeed": "1796471054",
    "TEXT_ANALYTICS_API_KEY": "Sanitized",
    "TEXT_ANALYTICS_ENDPOINT": "https://t0a14a15674c54c18-textanalytics.cognitiveservices.azure.com"
  }
}