{
  "Entries": [
    {
      "RequestUri": "https://westus2.ppe.cognitiveservices.azure.com/text/analytics/v3.0/languages",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "documents": [
          {
            "countryHint": "us",
            "id": "1",
            "text": "Hello world"
          },
          {
            "countryHint": "fr",
            "id": "2",
            "text": "Bonjour tout le monde"
          },
          {
            "countryHint": "es",
            "id": "3",
            "text": "Hola mundo"
          },
          {
            "countryHint": "us",
            "id": "4",
            "text": ":) :( :D"
          }
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "csp-billing-usage": "CognitiveServices.TextAnalytics.BatchScoring=4"
      },
      "ResponseBody": {
        "documents": [
          {
            "id": "1",
            "detectedLanguage": {
              "name": "English",
              "iso6391Name": "en",
              "confidenceScore": 1.0
            },
            "warnings": []
          },
          {
            "id": "2",
            "detectedLanguage": {
              "name": "French",
              "iso6391Name": "fr",
              "confidenceScore": 1.0
            },
            "warnings": []
          },
          {
            "id": "3",
            "detectedLanguage": {
              "name": "Spanish",
              "iso6391Name": "es",
              "confidenceScore": 1.0
            },
            "warnings": []
          },
          {
            "id": "4",
            "detectedLanguage": {
              "name": "(Unknown)",
              "iso6391Name": "(Unknown)",
              "confidenceScore": 0.0
            },
            "warnings": []
          }
        ],
        "errors": [],
        "modelVersion": "2019-10-01"
      }
    }
  ],
  "Variables": {
    "RandomSeed": "628232693",
    "TEXT_ANALYTICS_API_KEY": "Sanitized",
    "TEXT_ANALYTICS_ENDPOINT": "https://westus2.ppe.cognitiveservices.azure.com/"
  }
}