{
  "Entries": [
    {
      "RequestUri": "https://javatextanalyticstestresources.cognitiveservices.azure.com/language/:analyze-text?api-version=2022-10-01-preview\u0026showStats=false",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "analysisInput": {
          "documents": [
            {
              "id": "0",
              "text": "Bill Gates | Microsoft | New Mexico | 127.0.0.1",
              "language": "en"
            }
          ]
        },
        "parameters": {
          "stringIndexType": "Utf16CodeUnit"
        },
        "kind": "EntityRecognition"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "csp-billing-usage": "CognitiveServices.TextAnalytics.BatchScoring=1,CognitiveServices.TextAnalytics.TextRecords=1",
        "x-ms-region": "West US 2"
      },
      "ResponseBody": {
        "kind": "EntityRecognitionResults",
        "results": {
          "documents": [
            {
              "id": "0",
              "entities": [
                {
                  "text": "Bill Gates",
                  "category": "Person",
                  "offset": 0,
                  "length": 10,
                  "confidenceScore": 1.0
                },
                {
                  "text": "Microsoft",
                  "category": "Organization",
                  "offset": 13,
                  "length": 9,
                  "confidenceScore": 0.99
                },
                {
                  "text": "New Mexico",
                  "category": "Location",
                  "subcategory": "GPE",
                  "offset": 25,
                  "length": 10,
                  "confidenceScore": 0.96
                },
                {
                  "text": "127.0.0.1",
                  "category": "IPAddress",
                  "offset": 38,
                  "length": 9,
                  "confidenceScore": 0.8
                }
              ],
              "warnings": []
            }
          ],
          "errors": [],
          "modelVersion": "2021-06-01"
        }
      }
    }
  ],
  "Variables": {
    "RandomSeed": "1262912110",
    "TEXT_ANALYTICS_API_KEY": "Sanitized",
    "TEXT_ANALYTICS_ENDPOINT": "https://javatextanalyticstestresources.cognitiveservices.azure.com"
  }
}
