{
  "Entries": [
    {
      "RequestUri": "https://tacanaryjava.cognitiveservices.azure.com/text/analytics/v3.2-preview.1/entities/recognition/general?model-version=2020-02-01\u0026showStats=false\u0026stringIndexType=Utf16CodeUnit",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "documents": [
          {
            "id": "0",
            "text": "Bill Gates | Microsoft | New Mexico",
            "language": "en"
          }
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "csp-billing-usage": "CognitiveServices.TextAnalytics.BatchScoring=1,CognitiveServices.TextAnalytics.TextRecords=1"
      },
      "ResponseBody": {
        "documents": [
          {
            "id": "0",
            "entities": [
              {
                "text": "Bill Gates",
                "category": "Person",
                "offset": 0,
                "length": 10,
                "confidenceScore": 0.6
              },
              {
                "text": "Microsoft",
                "category": "Organization",
                "offset": 13,
                "length": 9,
                "confidenceScore": 0.85
              },
              {
                "text": "New Mexico",
                "category": "Location",
                "subcategory": "GPE",
                "offset": 25,
                "length": 10,
                "confidenceScore": 0.63
              }
            ],
            "warnings": []
          }
        ],
        "errors": [],
        "modelVersion": "2020-02-01"
      }
    }
  ],
  "Variables": {
    "RandomSeed": "62086103",
    "TEXT_ANALYTICS_API_KEY": "Sanitized",
    "TEXT_ANALYTICS_ENDPOINT": "https://tacanaryjava.cognitiveservices.azure.com/"
  }
}