{
  "Entries": [
    {
      "RequestUri": "https://cognitiveusw2dev.azure-api.net/text/analytics/v3.1-preview.2/keyPhrases",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "documents": [
          {
            "id": "0",
            "text": "Anthony runs his own personal training business so thisisaverylongtokenwhichwillbetruncatedtoshowushowwarningsareemittedintheapi",
            "language": "es"
          }
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "csp-billing-usage": "CognitiveServices.TextAnalytics.BatchScoring=1"
      },
      "ResponseBody": {
        "documents": [
          {
            "id": "0",
            "keyPhrases": [
              "own personal training business",
              "Anthony runs",
              "thisisaverylongtokenwhichwillbetruncatedtoshowushowwarningsareem"
            ],
            "warnings": [
              {
                "code": "LongWordsInDocument",
                "message": "The document contains very long words (longer than 64 characters). These words will be truncated and may result in unreliable model predictions."
              }
            ]
          }
        ],
        "errors": [],
        "modelVersion": "2020-07-01"
      }
    }
  ],
  "Variables": {
    "RandomSeed": "1254603912",
    "TEXT_ANALYTICS_API_KEY": "Sanitized",
    "TEXT_ANALYTICS_ENDPOINT": "https://cognitiveusw2dev.azure-api.net"
  }
}