{
  "Entries": [
    {
      "RequestUri": "https://westus2.ppe.cognitiveservices.azure.com/text/analytics/v3.0/keyPhrases",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "documents": [
          {
            "language": "es",
            "id": "0",
            "text": "Mi perro est\u00E1 en el veterinario"
          }
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "csp-billing-usage": "CognitiveServices.TextAnalytics.BatchScoring=1"
      },
      "ResponseBody": {
        "documents": [
          {
            "id": "0",
            "keyPhrases": [
              "perro",
              "veterinario"
            ],
            "warnings": []
          }
        ],
        "errors": [],
        "modelVersion": "2019-10-01"
      }
    }
  ],
  "Variables": {
    "RandomSeed": "579110148",
    "TEXT_ANALYTICS_API_KEY": "Sanitized",
    "TEXT_ANALYTICS_ENDPOINT": "https://westus2.ppe.cognitiveservices.azure.com/"
  }
}