{
  "Entries": [
    {
      "RequestUri": "https://westus2.api.cognitive.microsoft.com/text/analytics/v3.0-preview.1/entities/recognition/pii",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "documents": [
          {
            "language": "en",
            "id": "0",
            "text": "A developer with SSN 555-55-5555 whose phone number is 555-555-5555 is building tools with our APIs."
          },
          {
            "language": "en",
            "id": "1",
            "text": ""
          },
          {
            "language": "en",
            "id": "2",
            "text": "Your ABA number - 111000025 - is the first 9 digits in the lower left hand corner of your personal check."
          }
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "csp-billing-usage": "CognitiveServices.TextAnalytics.BatchScoring=2"
      },
      "ResponseBody": {
        "documents": [
          {
            "id": "0",
            "entities": [
              {
                "text": "555-55-5555",
                "type": "U.S. Social Security Number (SSN)",
                "offset": 21,
                "length": 11,
                "score": 0.85
              },
              {
                "text": "555-555-5555",
                "type": "PhoneNumber",
                "offset": 55,
                "length": 12,
                "score": 0.8
              }
            ]
          },
          {
            "id": "2",
            "entities": [
              {
                "text": "111000025",
                "type": "PhoneNumber",
                "offset": 18,
                "length": 9,
                "score": 0.8
              },
              {
                "text": "111000025",
                "type": "ABA Routing Number",
                "offset": 18,
                "length": 9,
                "score": 0.75
              }
            ]
          }
        ],
        "errors": [
          {
            "id": "1",
            "error": {
              "code": "InvalidArgument",
              "message": "Invalid document in request.",
              "innerError": {
                "code": "InvalidDocument",
                "message": "Document text is empty."
              }
            }
          }
        ],
        "modelVersion": "2020-02-01"
      }
    }
  ],
  "Variables": {
    "RandomSeed": "1106582482",
    "TEXT_ANALYTICS_API_KEY": "Sanitized",
    "TEXT_ANALYTICS_ENDPOINT": "https://westus2.api.cognitive.microsoft.com/"
  }
}