{
  "Entries": [
    {
      "RequestUri": "https://westus2.ppe.cognitiveservices.azure.com/text/analytics/v3.0/entities/recognition/general",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "documents": [
          {
            "language": "en",
            "id": "1",
            "text": "Microsoft was founded by Bill Gates and Paul Allen."
          },
          {
            "language": "es",
            "id": "2",
            "text": "Mi perro y mi gato tienen que ir al veterinario."
          }
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "csp-billing-usage": "CognitiveServices.TextAnalytics.BatchScoring=2"
      },
      "ResponseBody": {
        "documents": [
          {
            "id": "1",
            "entities": [
              {
                "text": "Microsoft",
                "category": "Organization",
                "offset": 0,
                "length": 9,
                "confidenceScore": 0.52
              },
              {
                "text": "Bill Gates",
                "category": "Person",
                "offset": 25,
                "length": 10,
                "confidenceScore": 0.51
              },
              {
                "text": "Paul Allen",
                "category": "Person",
                "offset": 40,
                "length": 10,
                "confidenceScore": 0.76
              }
            ],
            "warnings": []
          },
          {
            "id": "2",
            "entities": [
              {
                "text": "Mi",
                "category": "DateTime",
                "subcategory": "Date",
                "offset": 0,
                "length": 2,
                "confidenceScore": 0.8
              },
              {
                "text": "mi",
                "category": "DateTime",
                "subcategory": "Date",
                "offset": 11,
                "length": 2,
                "confidenceScore": 0.8
              }
            ],
            "warnings": []
          }
        ],
        "errors": [],
        "modelVersion": "2020-04-01"
      }
    }
  ],
  "Variables": {
    "RandomSeed": "1947220539",
    "TEXT_ANALYTICS_API_KEY": "Sanitized",
    "TEXT_ANALYTICS_ENDPOINT": "https://westus2.ppe.cognitiveservices.azure.com/"
  }
}