{
  "Entries": [
    {
      "RequestUri": "https://cognitiveusw2dev.azure-api.net/text/analytics/v3.1-preview.2/entities/linking?showStats=false",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "documents": [
          {
            "id": "0",
            "text": "Microsoft was founded by Bill Gates and Paul Allen.",
            "language": "en"
          },
          {
            "id": "1",
            "text": "Hello world",
            "language": "en"
          },
          {
            "id": "2",
            "text": "Pike place market is my favorite Seattle attraction.",
            "language": "en"
          },
          {
            "id": "3",
            "text": "I had a wonderful trip to Seattle last week and even visited the Space Needle 2 times!",
            "language": "en"
          },
          {
            "id": "4",
            "text": "Unfortunately, it rained during my entire trip to Seattle. I didn\u0027t even get to visit the Space Needle",
            "language": "en"
          },
          {
            "id": "5",
            "text": "This should fail!",
            "language": "en"
          }
        ]
      },
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "InvalidRequest",
          "message": "Invalid document in request.",
          "innererror": {
            "code": "InvalidDocumentBatch",
            "message": "Batch request contains too many records. Max 5 records are permitted."
          }
        }
      }
    }
  ],
  "Variables": {
    "RandomSeed": "756328253",
    "TEXT_ANALYTICS_API_KEY": "Sanitized",
    "TEXT_ANALYTICS_ENDPOINT": "https://cognitiveusw2dev.azure-api.net"
  }
}