{
  "Entries": [
    {
      "RequestUri": "https://azsdknet-test-ta.cognitiveservices.azure.com/text/analytics/v3.1-preview.1/entities/linking",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "documents": [
          {
            "id": "0",
            "text": "Microsoft fue fundado por Bill Gates y Paul Allen.",
            "language": "es"
          }
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "csp-billing-usage": "CognitiveServices.TextAnalytics.BatchScoring=1"
      },
      "ResponseBody": {
        "documents": [
          {
            "id": "0",
            "entities": [
              {
                "name": "Bill Gates",
                "matches": [
                  {
                    "text": "Bill Gates",
                    "offset": 26,
                    "length": 10,
                    "confidenceScore": 0.37
                  }
                ],
                "language": "es",
                "id": "Bill Gates",
                "url": "https://es.wikipedia.org/wiki/Bill_Gates",
                "dataSource": "Wikipedia"
              },
              {
                "name": "Paul Allen",
                "matches": [
                  {
                    "text": "Paul Allen",
                    "offset": 39,
                    "length": 10,
                    "confidenceScore": 0.9
                  }
                ],
                "language": "es",
                "id": "Paul Allen",
                "url": "https://es.wikipedia.org/wiki/Paul_Allen",
                "dataSource": "Wikipedia"
              },
              {
                "name": "Microsoft",
                "matches": [
                  {
                    "text": "Microsoft",
                    "offset": 0,
                    "length": 9,
                    "confidenceScore": 0.38
                  }
                ],
                "language": "es",
                "id": "Microsoft",
                "url": "https://es.wikipedia.org/wiki/Microsoft",
                "dataSource": "Wikipedia"
              }
            ],
            "warnings": []
          }
        ],
        "errors": [],
        "modelVersion": "2020-02-01"
      }
    }
  ],
  "Variables": {
    "RandomSeed": "740938405",
    "TEXT_ANALYTICS_API_KEY": "Sanitized",
    "TEXT_ANALYTICS_ENDPOINT": "https://azsdknet-test-ta.cognitiveservices.azure.com/"
  }
}