{
  "Entries": [
    {
      "RequestUri": "https://annelo-textanalytics-01.cognitiveservices.azure.com/text/analytics/v3.0-preview.1/entities/recognition/general",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "documents": [
          {
            "language": "en",
            "id": "0",
            "text": "Bill Gates | Microsoft | New Mexico | 800-102-1100 | help@microsoft.com | April 4, 1975 12:34 | April 4, 1975 | 12:34 | five seconds | 9 | third | 120% | \u20AC30 | 11m | 22 \u00B0C"
          }
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "csp-billing-usage": "CognitiveServices.TextAnalytics.BatchScoring=1"
      },
      "ResponseBody": {
        "documents": [
          {
            "id": "0",
            "entities": [
              {
                "text": "Bill Gates",
                "type": "Person",
                "offset": 0,
                "length": 10,
                "score": 1.0
              },
              {
                "text": "Microsoft",
                "type": "Organization",
                "offset": 13,
                "length": 9,
                "score": 1.0
              },
              {
                "text": "New Mexico",
                "type": "Location",
                "offset": 25,
                "length": 10,
                "score": 0.77737605571746826
              },
              {
                "text": "800-102-1100",
                "type": "PhoneNumber",
                "offset": 38,
                "length": 12,
                "score": 0.8
              },
              {
                "text": "help@microsoft.com",
                "type": "Email",
                "offset": 53,
                "length": 18,
                "score": 0.8
              },
              {
                "text": "April 4, 1975 12:34",
                "type": "DateTime",
                "offset": 74,
                "length": 19,
                "score": 0.8
              },
              {
                "text": "April 4, 1975",
                "type": "DateTime",
                "subtype": "Date",
                "offset": 96,
                "length": 13,
                "score": 0.8
              },
              {
                "text": "12:34",
                "type": "DateTime",
                "subtype": "Time",
                "offset": 112,
                "length": 5,
                "score": 0.8
              },
              {
                "text": "five seconds",
                "type": "DateTime",
                "subtype": "Duration",
                "offset": 12[...]
