{
  "Entries": [
    {
      "RequestUri": "https://westus2.api.cognitive.microsoft.com/text/analytics/v3.0-preview.1/entities/recognition/general",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "documents": [
          {
            "language": "en",
            "id": "0",
            "text": "Microsoft was founded by Bill Gates and Paul Allen."
          },
          {
            "language": "en",
            "id": "1",
            "text": ""
          },
          {
            "language": "en",
            "id": "2",
            "text": "My cat might need to see a veterinarian."
          }
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "csp-billing-usage": "CognitiveServices.TextAnalytics.BatchScoring=2"
      },
      "ResponseBody": {
        "documents": [
          {
            "id": "0",
            "entities": [
              {
                "text": "Microsoft",
                "type": "Organization",
                "offset": 0,
                "length": 9,
                "score": 1.0
              },
              {
                "text": "Bill Gates",
                "type": "Person",
                "offset": 25,
                "length": 10,
                "score": 0.67
              },
              {
                "text": "Paul Allen",
                "type": "Person",
                "offset": 40,
                "length": 10,
                "score": 0.81
              }
            ]
          },
          {
            "id": "2",
            "entities": [
              {
                "text": "veterinarian",
                "type": "PersonType",
                "offset": 27,
                "length": 12,
                "score": 0.88
              }
            ]
          }
        ],
        "errors": [
          {
            "id": "1",
            "error": {
              "code": "InvalidArgument",
              "message": "Invalid document in request.",
              "innerError": {
                "code": "InvalidDocument",
                "message": "Document text is empty."
              }
            }
          }
        ],
        "modelVersion": "2020-02-01"
      }
    }
  ],
  "Variables": {
    "RandomSeed": "1784295012",
    "TEXT_ANALYTICS_API_KEY": "Sanitized",
    "TEXT_ANALYTICS_ENDPOINT": "https://westus2.api.cognitive.microsoft.com/"
  }
}