{
  "Entries": [
    {
      "RequestUri": "https://westus2.api.cognitive.microsoft.com/text/analytics/v3.0-preview.1/entities/recognition/pii",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "documents": [
          {
            "language": "en",
            "id": "0",
            "text": "A developer with SSN 555-55-5555 whose phone number is 800-102-1100 is building tools with our APIs."
          }
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "csp-billing-usage": "CognitiveServices.TextAnalytics.BatchScoring=1"
      },
      "ResponseBody": {
        "documents": [
          {
            "id": "0",
            "entities": [
              {
                "text": "555-55-5555",
                "type": "U.S. Social Security Number (SSN)",
                "subtype": "",
                "offset": 21,
                "length": 11,
                "score": 0.85
              },
              {
                "text": " 800-102-1100 ",
                "type": "EU Phone Number",
                "subtype": "",
                "offset": 54,
                "length": 14,
                "score": 0.75
              }
            ]
          }
        ],
        "errors": [],
        "modelVersion": "2019-10-01"
      }
    }
  ],
  "Variables": {
    "RandomSeed": "743435772",
    "TEXT_ANALYTICS_ENDPOINT": "https://westus2.api.cognitive.microsoft.com/",
    "TEXT_ANALYTICS_API_KEY": "Sanitized"
  }
}