{
  "Entries": [
    {
      "RequestUri": "https://azsdknet-test-ta.cognitiveservices.azure.com/text/analytics/v3.1-preview.1/entities/recognition/general?showStats=false",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "documents": [
          {
            "id": "0",
            "text": "Microsoft was founded by Bill Gates and Paul Allen.",
            "language": "en"
          },
          {
            "id": "1",
            "text": "",
            "language": "en"
          },
          {
            "id": "2",
            "text": "My cat might need to see a veterinarian.",
            "language": "en"
          }
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "csp-billing-usage": "CognitiveServices.TextAnalytics.BatchScoring=2"
      },
      "ResponseBody": {
        "documents": [
          {
            "id": "0",
            "entities": [
              {
                "text": "Microsoft",
                "category": "Organization",
                "offset": 0,
                "length": 9,
                "confidenceScore": 0.83
              },
              {
                "text": "Bill Gates",
                "category": "Person",
                "offset": 25,
                "length": 10,
                "confidenceScore": 0.85
              },
              {
                "text": "Paul Allen",
                "category": "Person",
                "offset": 40,
                "length": 10,
                "confidenceScore": 0.9
              }
            ],
            "warnings": []
          },
          {
            "id": "2",
            "entities": [
              {
                "text": "veterinarian",
                "category": "PersonType",
                "offset": 27,
                "length": 12,
                "confidenceScore": 0.84
              }
            ],
            "warnings": []
          }
        ],
        "errors": [
          {
            "id": "1",
            "error": {
              "code": "InvalidArgument",
              "message": "Invalid document in request.",
              "innererror": {
                "code": "InvalidDocument",
                "message": "Document text is empty."
              }
            }
          }
        ],
        "modelVersion": "2020-04-01"
      }
    }
  ],
  "Variables": {
    "RandomSeed": "1784295012",
    "TEXT_ANALYTICS_API_KEY": "Sanitized",
    "TEXT_ANALYTICS_ENDPOINT": "https://azsdknet-test-ta.cognitiveservices.azure.com/"
  }
}