{
  "Entries": [
    {
      "RequestUri": "https://azsdknet-test-ta.cognitiveservices.azure.com/text/analytics/v3.1-preview.1/entities/linking?showStats=true",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "documents": [
          {
            "language": "en",
            "id": "0",
            "text": "Microsoft was founded by Bill Gates and Paul Allen."
          },
          {
            "language": "en",
            "id": "1",
            "text": "Pike place market is my favorite Seattle attraction."
          }
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "csp-billing-usage": "CognitiveServices.TextAnalytics.BatchScoring=2"
      },
      "ResponseBody": {
        "statistics": {
          "documentsCount": 2,
          "validDocumentsCount": 2,
          "erroneousDocumentsCount": 0,
          "transactionsCount": 2
        },
        "documents": [
          {
            "id": "0",
            "statistics": {
              "charactersCount": 51,
              "transactionsCount": 1
            },
            "entities": [
              {
                "name": "Bill Gates",
                "matches": [
                  {
                    "text": "Bill Gates",
                    "offset": 25,
                    "length": 10,
                    "confidenceScore": 0.52
                  }
                ],
                "language": "en",
                "id": "Bill Gates",
                "url": "https://en.wikipedia.org/wiki/Bill_Gates",
                "dataSource": "Wikipedia"
              },
              {
                "name": "Paul Allen",
                "matches": [
                  {
                    "text": "Paul Allen",
                    "offset": 40,
                    "length": 10,
                    "confidenceScore": 0.54
                  }
                ],
                "language": "en",
                "id": "Paul Allen",
                "url": "https://en.wikipedia.org/wiki/Paul_Allen",
                "dataSource": "Wikipedia"
              },
              {
                "name": "Microsoft",
                "matches": [
                  {
                    "text": "Microsoft",
                    "offset": 0,
                    "length": 9,
                    "confidenceScore": 0.49
                  }
                ],
                "language": "en",
                "id": "Microsoft",
                "url": "https://en.wikipedia.org/wiki/Microsoft",
                "dataSource": "Wikipedia"
              }
            ],
            "warnings": []
          },
          {
            "id": "1",
            "statistics": {
              "charactersCount": 52,
              "transactionsCount": 1
            },
            "entities": [
              {
                "name": "Pike Place Market",
                "matches": [
                  {
                    "text": "Pike place market",
                    "offset": 0,
                    "length": 17,
                    "confidenceScore": 0.86
                  }
                ],
                "language": "en",
                "id": "Pike Place Market",
                "url": "https://en.wikipedia.org/wiki/Pike_Place_Market",
                "dataSource": "Wikipedia"
              },
              {
                "name": "Seattle",
                "matches": [
                  {
                    "text": "Seattle",
                    "offset": 33,
                    "length": 7,
                    "confidenceScore": 0.27
                  }
                ],
                "language": "en",
                "id": "Seattle",
                "url": "https://en.wikipedia.org/wiki/Seattle",
                "dataSource": "Wikipedia"
              }
            ],
            "warnings": []
          }
        ],
        "errors": [],
        "modelVersion": "2020-02-01"
      }
    }
  ],
  "Variables": {
    "RandomSeed": "467082777",
    "TEXT_ANALYTICS_API_KEY": "Sanitized",
    "TEXT_ANALYTICS_ENDPOINT": "https://azsdknet-test-ta.cognitiveservices.azure.com/"
  }
}