{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "TagKey-9823": "TagValue-566",
          "TagKey-3481": "TagValue-320",
          "TagKey-4926": "TagValue-1187",
          "TagKey-751": "TagValue-3921",
          "TagKey-1866": "TagValue-8559",
          "TagKey-3094": "TagValue-9190",
          "TagKey-2449": "TagValue-9",
          "TagKey-8379": "TagValue-164",
          "TagKey-7470": "TagValue-2205",
          "TagKey-4236": "TagValue-3698",
          "TagKey-5316": "TagValue-2725"
        },
        "subscriptionId": "db1ab6f0-4769-4b27-930e-01e2ef9c123c",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": ".NET Mgmt SDK Test with TTL = 1 Day",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourcegroups/testRG-3987?api-version=**",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {
          "test": "env"
        },
        "location": "eastus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-3987",
        "name": "testRG-3987",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus",
        "tags": {
          "test": "env"
        },
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-3987/providers/Microsoft.ApiManagement/service/testapi-5371?api-version=2021-08-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "sku": {
          "name": "Developer",
          "capacity": 1
        },
        "identity": {
          "type": "SystemAssigned"
        },
        "tags": {},
        "location": "eastus",
        "properties": {
          "publisherEmail": "Sample@Sample.com",
          "publisherName": "sample"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022AAAAAABs96c=\u0022",
        "Location": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-3987/providers/Microsoft.ApiManagement/service/testapi-5371/operationresults/ZWFzdHVzOnRlc3RhcGktNTM3MV9BY3RfMzZhOTc5ODE=?api-version=2021-08-01",
        "Retry-After": "60",
        "x-ms-ratelimit-remaining-subscription-writes": "1198"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-3987/providers/Microsoft.ApiManagement/service/testapi-5371",
        "name": "testapi-5371",
        "type": "Microsoft.ApiManagement/service",
        "tags": {},
        "location": "East US",
        "etag": "AAAAAABs96c=",
        "properties": {
          "publisherEmail": "Sample@Sample.com",
          "publisherName": "sample",
          "notificationSenderEmail": "apimgmt-noreply@mail.windowsazure.com",
          "provisioningState": "Created",
          "targetProvisioningState": "Activating",
          "createdAtUtc": "2022-08-02T12:16:05.2988118Z",
          "gatewayUrl": "https://testapi-5371.azure-api.net",
          "gatewayRegionalUrl": null,
          "portalUrl": null,
          "developerPortalUrl": null,
          "managementApiUrl": null,
          "scmUrl": null,
          "hostnameConfigurations": [
            {
              "type": "Proxy",
              "hostName": "testapi-5371.azure-api.net",
              "encodedCertificate": null,
              "keyVaultId": null,
              "certificatePassword": null,
              "negotiateClientCertificate": false,
              "certificate": null,
              "defaultSslBinding": true,
              "identityClientId": null,
              "certificateSource": "BuiltIn",
              "certificateStatus": null
            }
          ],
          "publicIPAddresses": null,
          "privateIPAddresses": null,
          "additionalLocations": null,
          "virtualNetworkConfiguration": null,
          "customProperties": null,
          "virtualNetworkType": "None",
          "certificates": null,
          "disableGateway": false,
          "apiVersionConstraint": {
            "minApiVersion": null
          },
          "publicIpAddressId": null,
          "publicNetworkAccess": "Enabled",
          "privateEndpointConnections": null,
          "platformVersion": "undetermined"
        },
        "sku": {
          "name": "Developer",
          "capacity": 1
        },
        "identity": {
          "type": "SystemAssigned",
          "principalId": "bf4dea6b-f95c-4e2d-b8ba-bac0cb56feb3",
          "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47"
        },
        "zones": null,
        "systemData": {
          "createdBy": "8e6d47e0-7969-4fde-a62c-4fea4f165e98",
          "createdByType": "Application",
          "createdAt": "2022-08-02T12:16:02.7064486Z",
          "lastModifiedBy": "8e6d47e0-7969-4fde-a62c-4fea4f165e98",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2022-08-02T12:16:02.7064486Z"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-3987/providers/Microsoft.ApiManagement/service/testapi-5371/operationresults/ZWFzdHVzOnRlc3RhcGktNTM3MV9BY3RfMzZhOTc5ODE=?api-version=2021-08-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Location": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-3987/providers/Microsoft.ApiManagement/service/testapi-5371/operationresults/ZWFzdHVzOnRlc3RhcGktNTM3MV9BY3RfMzZhOTc5ODE=?api-version=2021-08-01",
        "Retry-After": "60",
        "x-ms-ratelimit-remaining-subscription-reads": "11998"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-3987/providers/Microsoft.ApiManagement/service/testapi-5371/apis/testapi-5593?api-version=2021-08-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "description": "apidescription5200",
          "subscriptionKeyParameterNames": {
            "header": "header4520",
            "query": "query3037"
          },
          "displayName": "apiname1463",
          "serviceUrl": "http://newechoapi.cloudapp.net/api",
          "path": "newapiPath",
          "protocols": [
            "https",
            "http"
          ]
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022AAAAAAAACR4=\u0022",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-3987/providers/Microsoft.ApiManagement/service/testapi-5371/apis/testapi-5593",
        "type": "Microsoft.ApiManagement/service/apis",
        "name": "testapi-5593",
        "properties": {
          "displayName": "apiname1463",
          "apiRevision": "1",
          "description": "apidescription5200",
          "subscriptionRequired": true,
          "serviceUrl": "http://newechoapi.cloudapp.net/api",
          "path": "newapiPath",
          "protocols": [
            "http",
            "https"
          ],
          "authenticationSettings": {
            "oAuth2": null,
            "openid": null
          },
          "subscriptionKeyParameterNames": {
            "header": "header4520",
            "query": "query3037"
          },
          "isCurrent": true
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-3987/providers/Microsoft.ApiManagement/service/testapi-5371/loggers/azuremonitor?api-version=2021-08-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "loggerType": "applicationInsights",
          "description": "adding a new logger",
          "credentials": {
            "instrumentationKey": "4fc0bf44-3517-4ef3-b615-4a5b09362400"
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022AAAAAAAACSU=\u0022",
        "x-ms-ratelimit-remaining-subscription-writes": "1198"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-3987/providers/Microsoft.ApiManagement/service/testapi-5371/loggers/azuremonitor",
        "type": "Microsoft.ApiManagement/service/loggers",
        "name": "azuremonitor",
        "properties": {
          "loggerType": "applicationInsights",
          "description": "adding a new logger",
          "credentials": {
            "instrumentationKey": "{{Logger-Credentials--62e929b4463461157cf6125f}}"
          },
          "isBuffered": true,
          "resourceId": null
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-3987/providers/Microsoft.ApiManagement/service/testapi-5371/apis/testapi-5593/diagnostics/applicationinsights?api-version=2021-08-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "alwaysLog": "allErrors",
          "loggerId": "/loggers/azuremonitor",
          "sampling": {
            "samplingType": "fixed",
            "percentage": 50
          },
          "frontend": {
            "request": {
              "headers": [
                "Content-type"
              ],
              "body": {
                "bytes": 512
              }
            },
            "response": {
              "headers": [
                "Content-type"
              ],
              "body": {
                "bytes": 512
              }
            }
          },
          "backend": {
            "request": {
              "headers": [
                "Content-type"
              ],
              "body": {
                "bytes": 512
              }
            },
            "response": {
              "headers": [
                "Content-type"
              ],
              "body": {
                "bytes": 512
              }
            }
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022AAAAAAAACSg=\u0022",
        "x-ms-ratelimit-remaining-subscription-writes": "1197"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-3987/providers/Microsoft.ApiManagement/service/testapi-5371/apis/testapi-5593/diagnostics/applicationinsights",
        "type": "Microsoft.ApiManagement/service/apis/diagnostics",
        "name": "applicationinsights",
        "properties": {
          "alwaysLog": "allErrors",
          "httpCorrelationProtocol": "Legacy",
          "logClientIp": true,
          "loggerId": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-3987/providers/Microsoft.ApiManagement/service/testapi-5371/loggers/azuremonitor",
          "sampling": {
            "samplingType": "fixed",
            "percentage": 50.0
          },
          "frontend": {
            "request": {
              "headers": [
                "Content-type"
              ],
              "body": {
                "bytes": 512
              }
            },
            "response": {
              "headers": [
                "Content-type"
              ],
              "body": {
                "bytes": 512
              }
            }
          },
          "backend": {
            "request": {
              "headers": [
                "Content-type"
              ],
              "body": {
                "bytes": 512
              }
            },
            "response": {
              "headers": [
                "Content-type"
              ],
              "body": {
                "bytes": 512
              }
            }
          }
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-3987/providers/Microsoft.ApiManagement/service/testapi-5371/apis/testapi-5593/diagnostics?api-version=2021-08-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11938"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-3987/providers/Microsoft.ApiManagement/service/testapi-5371/apis/testapi-5593/diagnostics/applicationinsights",
            "type": "Microsoft.ApiManagement/service/apis/diagnostics",
            "name": "applicationinsights",
            "properties": {
              "alwaysLog": "allErrors",
              "httpCorrelationProtocol": "Legacy",
              "logClientIp": true,
           [...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-3987/providers/Microsoft.ApiManagement/service/testapi-5371/apis/testapi-5593/diagnostics/foo?api-version=2021-08-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11935"
      },
      "ResponseBody": {
        "error": {
          "code": "ResourceNotFound",
          "message": "Diagnostic not found.",
          "details": null
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-3987/providers/Microsoft.ApiManagement/service/testapi-5371/apis/testapi-5593/diagnostics/applicationinsights?api-version=2021-08-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "*"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-deletes": "14999"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-3987/providers/Microsoft.ApiManagement/service/testapi-5371/apis/testapi-5593/diagnostics/applicationinsights?api-version=2021-08-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11933"
      },
      "ResponseBody": {
        "error": {
          "code": "ResourceNotFound",
          "message": "Diagnostic not found.",
          "details": null
        }
      }
    }
  ],
  "Variables": {
    "RandomSeed": "1138419455",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "db1ab6f0-4769-4b27-930e-01e2ef9c123c"
  }
}
