{
  "Entries": [
    {
      "RequestUri": "https://chat-sdktester-e2e.int.communication.azure.net/identities?api-version=2021-03-07",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "RBNvo1WzZ4oRRq0W9\u002BhknpT7T8If536DEMBg9hyq/4o="
      },
      "RequestBody": {},
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2020-07-20-preview2, 2021-03-07",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "FvpE6OkDX0\u002ByU9ZDgsDblA.0",
        "X-Processing-Time": "67ms"
      },
      "ResponseBody": {
        "identity": {
          "id": "8:acs:46849534-eb08-4ab7-bde7-c36928cd1547_00000008-5ca4-8d50-9c58-373a0d00054c"
        }
      }
    },
    {
      "RequestUri": "https://chat-sdktester-e2e.int.communication.azure.net/identities/8%3Aacs%3A46849534-eb08-4ab7-bde7-c36928cd1547_00000008-5ca4-8d50-9c58-373a0d00054c/:issueAccessToken?api-version=2021-03-07",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "J\u002BdoRQjtFVYLx3qOvzptwBLjQWqy6OEWEEk1TY1\u002BrT4="
      },
      "RequestBody": {
        "scopes": [
          "chat"
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2020-07-20-preview2, 2021-03-07",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "7yBRgZtB40uWwqs17y\u002BbHw.0",
        "X-Processing-Time": "88ms"
      },
      "ResponseBody": {
        "token": "Sanitized",
        "expiresOn": "2021-02-21T00:07:05.5688362\u002B00:00"
      }
    },
[...]
    {
      "RequestUri": "https://chat-sdktester-e2e.int.communication.azure.net/chat/threads?api-version=2021-01-27-preview4",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c",
        "Content-Type": "application/json",
        "repeatability-Request-Id": "contoso-B0A747F1-6245-4307-8267-B974340677DB"
      },
      "RequestBody": {
        "topic": "Thread topic - ReadReceipts Test",
        "participants": [
          {
            "communicationIdentifier": {
              "communicationUser": {
                "id": "8:acs:46849534-eb08-4ab7-bde7-c36928cd1547_00000008-5ca4-8d50-9c58-373a0d00054c"
              }
            }
          },
          {
            "communicationIdentifier": {
              "communicationUser": {
                "id": "8:acs:46849534-eb08-4ab7-bde7-c36928cd1547_00000008-5ca4-8ed8-9c58-373a0d00054d"
              }
            }
          }
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2020-09-21-preview2, 2020-11-01-preview3, 2021-01-27-preview4",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://chat-sdktester-e2e.int.communication.azure.net/chat/threads/19%3AemUrc5EvSFyhUEQkDadhbSoDys_bRSUb7_gD95uz_3g1@thread.v2",
        "MS-CV": "qPokWUkeYEWA/l85hIUNkA.0",
        "X-Processing-Time": "892ms"
      },
      "ResponseBody": {
        "chatThread": {
          "id": "19:emUrc5EvSFyhUEQkDadhbSoDys_bRSUb7_gD95uz_3g1@thread.v2",
          "topic": "Thread topic - ReadReceipts Test",
          "createdOn": "2021-02-20T00:07:07Z",
          "createdByCommunicationIdentifier": {
            "rawId": "8:acs:46849534-eb08-4ab7-bde7-c36928cd1547_00000008-5ca4-8d50-9c58-373a0d00054c",
            "communicationUser": {
              "id": "8:acs:46849534-eb08-4ab7-bde7-c36928cd1547_00000008-5ca4-8d50-9c58-373a0d00054c"
            }
          }
        }
      }
    },
    {
      "RequestUri": "https://chat-sdktester-e2e.int.communication.azure.net/chat/threads/19%3AemUrc5EvSFyhUEQkDadhbSoDys_bRSUb7_gD95uz_3g1%40thread.v2/messages?api-version=2021-01-27-preview4",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "content": "This is message 1 content"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2020-09-21-preview2, 2020-11-01-preview3, 2021-01-27-preview4",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://chat-sdktester-e2e.int.communication.azure.net/chat/threads/19%3AemUrc5EvSFyhUEQkDadhbSoDys_bRSUb7_gD95uz_3g1@thread.v2/messages/1613779628338",
        "MS-CV": "/vUX\u002B4gaO0KOs7WNQHLbzw.0",
        "X-Processing-Time": "396ms"
      },
      "ResponseBody": {
        "id": "1613779628338"
      }
    },
[...]
    {
      "RequestUri": "https://chat-sdktester-e2e.int.communication.azure.net/chat/threads/19%3AemUrc5EvSFyhUEQkDadhbSoDys_bRSUb7_gD95uz_3g1%40thread.v2/readReceipts?api-version=2021-01-27-preview4",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "chatMessageId": "1613779628844"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2020-09-21-preview2, 2020-11-01-preview3, 2021-01-27-preview4",
        "MS-CV": "D3hoFLJZ/0qqwvjwTMOkuw.0",
        "X-Processing-Time": "478ms"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://chat-sdktester-e2e.int.communication.azure.net/chat/threads/19%3AemUrc5EvSFyhUEQkDadhbSoDys_bRSUb7_gD95uz_3g1%40thread.v2/readReceipts?api-version=2021-01-27-preview4",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2020-09-21-preview2, 2020-11-01-preview3, 2021-01-27-preview4",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "BKqdbCeSUkmtHqqLofiEDQ.0",
        "X-Processing-Time": "249ms"
      },
      "ResponseBody": {
        "value": [
          {
            "senderCommunicationIdentifier": {
              "rawId": "8:acs:46849534-eb08-4ab7-bde7-c36928cd1547_00000008-5ca4-8d50-9c58-373a0d00054c",
              "communicationUser": {
                "id": "8:acs:46849534-eb08-4ab7-bde7-c36928cd1547_00000008-5ca4-8d50-9c58-373a0d00054c"
              }
            },
            "chatMessageId": "1613779628844",
            "readOn": "2021-02-20T00:07:09Z"
          },
          {
            "senderCommunicationIdentifier": {
              "rawId": "8:acs:46849534-eb08-4ab7-bde7-c36928cd1547_00000008-5ca4-8ed8-9c58-373a0d00054d",
              "communicationUser": {
                "id": "8:acs:46849534-eb08-4ab7-bde7-c36928cd1547_00000008-5ca4-8ed8-9c58-373a0d00054d"
              }
            },
            "chatMessageId": "1613779628338",
            "readOn": "2021-02-20T00:07:09Z"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://chat-sdktester-e2e.int.communication.azure.net/chat/threads/19%3AemUrc5EvSFyhUEQkDadhbSoDys_bRSUb7_gD95uz_3g1%40thread.v2?api-version=2021-01-27-preview4",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2020-09-21-preview2, 2020-11-01-preview3, 2021-01-27-preview4",
        "MS-CV": "t\u002BgBqsiuHUWo\u002BwZhdM1YVQ.0",
        "X-Processing-Time": "286ms"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "COMMUNICATION_CONNECTION_STRING": "endpoint=https://chat-sdktester-e2e.int.communication.azure.net/;accesskey=Kg==;",
    "RandomSeed": "2023588260"
  }
}