{
  "Entries": [
    {
      "RequestUri": "https://chat-sdktester-e2e.communication.azure.com/identities?api-version=2021-03-07",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {},
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "F41Ptv\u002Bpk0SOan4ubRAYCA.0",
        "X-Processing-Time": "20ms"
      },
      "ResponseBody": {
        "identity": {
          "id": "8:acs:357e39d2-a29a-4bf6-88cc-fda0afc2c0ed_00000009-007d-6c49-80f5-8b3a0d009c89"
        }
      }
    },
    {
      "RequestUri": "https://chat-sdktester-e2e.communication.azure.com/identities/8%3Aacs%3A357e39d2-a29a-4bf6-88cc-fda0afc2c0ed_00000009-007d-6c49-80f5-8b3a0d009c89/:issueAccessToken?api-version=2021-03-07",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "scopes": [
          "chat"
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "bxXWnF0nV0qY/XcrZdJupw.0",
        "X-Processing-Time": "158ms"
      },
      "ResponseBody": {
        "token": "Sanitized",
        "expiresOn": "2021-03-24T19:42:04.6713093\u002B00:00"
      }
    },
[...]
    {
      "RequestUri": "https://chat-sdktester-e2e.communication.azure.com/chat/threads?api-version=2021-03-07",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c",
        "Content-Type": "application/json",
        "repeatability-Request-Id": "contoso-B0A747F1-6245-4307-8267-B974340677DB"
      },
      "RequestBody": {
        "topic": "Thread topic - ReadReceipts Test",
        "participants": [
          {
            "communicationIdentifier": {
              "communicationUser": {
                "id": "8:acs:357e39d2-a29a-4bf6-88cc-fda0afc2c0ed_00000009-007d-6c49-80f5-8b3a0d009c89"
              }
            }
          },
          {
            "communicationIdentifier": {
              "communicationUser": {
                "id": "8:acs:357e39d2-a29a-4bf6-88cc-fda0afc2c0ed_00000009-007d-6dcf-80f5-8b3a0d009c8a"
              }
            }
          }
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2020-09-21-preview2, 2020-11-01-preview3, 2021-01-27-preview4, 2021-03-01-preview5, 2021-03-07",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://chat-sdktester-e2e.communication.azure.com/chat/threads/19%3AeivHzOpLhUFvf4x_GyS-1kQHpNX1sHJNexwLZ-moczM1@thread.v2",
        "MS-CV": "mrzawkQ3QUqXIoYclvCPxw.0",
        "X-Processing-Time": "967ms"
      },
      "ResponseBody": {
        "chatThread": {
          "id": "19:eivHzOpLhUFvf4x_GyS-1kQHpNX1sHJNexwLZ-moczM1@thread.v2",
          "topic": "Thread topic - ReadReceipts Test",
          "createdOn": "2021-03-23T19:42:06Z",
          "createdByCommunicationIdentifier": {
            "rawId": "8:acs:357e39d2-a29a-4bf6-88cc-fda0afc2c0ed_00000009-007d-6c49-80f5-8b3a0d009c89",
            "communicationUser": {
              "id": "8:acs:357e39d2-a29a-4bf6-88cc-fda0afc2c0ed_00000009-007d-6c49-80f5-8b3a0d009c89"
            }
          }
        }
      }
    },
    {
      "RequestUri": "https://chat-sdktester-e2e.communication.azure.com/chat/threads/19%3AeivHzOpLhUFvf4x_GyS-1kQHpNX1sHJNexwLZ-moczM1%40thread.v2/messages?api-version=2021-03-07",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "content": "This is message 1 content",
        "type": null
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2020-09-21-preview2, 2020-11-01-preview3, 2021-01-27-preview4, 2021-03-01-preview5, 2021-03-07",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://chat-sdktester-e2e.communication.azure.com/chat/threads/19%3AeivHzOpLhUFvf4x_GyS-1kQHpNX1sHJNexwLZ-moczM1@thread.v2/messages/1616528527298",
        "MS-CV": "pOUJ58HI6Eqmcr\u002B5pN\u002Bgsw.0",
        "X-Processing-Time": "178ms"
      },
      "ResponseBody": {
        "id": "1616528527298"
      }
    },
[...]
    {
      "RequestUri": "https://chat-sdktester-e2e.communication.azure.com/chat/threads/19%3AeivHzOpLhUFvf4x_GyS-1kQHpNX1sHJNexwLZ-moczM1%40thread.v2/readReceipts?api-version=2021-03-07",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "chatMessageId": "1616528527513"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2020-09-21-preview2, 2020-11-01-preview3, 2021-01-27-preview4, 2021-03-01-preview5, 2021-03-07",
        "MS-CV": "4evA4Dnirkmfo0HFI24bTA.0",
        "X-Processing-Time": "164ms"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://chat-sdktester-e2e.communication.azure.com/chat/threads/19%3AeivHzOpLhUFvf4x_GyS-1kQHpNX1sHJNexwLZ-moczM1%40thread.v2/readReceipts?api-version=2021-03-07",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2020-09-21-preview2, 2020-11-01-preview3, 2021-01-27-preview4, 2021-03-01-preview5, 2021-03-07",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "bvXw/mBpq0irEvQTxdSX8Q.0",
        "X-Processing-Time": "140ms"
      },
      "ResponseBody": {
        "value": [
          {
            "senderCommunicationIdentifier": {
              "rawId": "8:acs:357e39d2-a29a-4bf6-88cc-fda0afc2c0ed_00000009-007d-6c49-80f5-8b3a0d009c89",
              "communicationUser": {
                "id": "8:acs:357e39d2-a29a-4bf6-88cc-fda0afc2c0ed_00000009-007d-6c49-80f5-8b3a0d009c89"
              }
            },
            "chatMessageId": "1616528527513",
            "readOn": "2021-03-23T19:42:07Z"
          },
          {
            "senderCommunicationIdentifier": {
              "rawId": "8:acs:357e39d2-a29a-4bf6-88cc-fda0afc2c0ed_00000009-007d-6dcf-80f5-8b3a0d009c8a",
              "communicationUser": {
                "id": "8:acs:357e39d2-a29a-4bf6-88cc-fda0afc2c0ed_00000009-007d-6dcf-80f5-8b3a0d009c8a"
              }
            },
            "chatMessageId": "1616528527298",
            "readOn": "2021-03-23T19:42:07Z"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://chat-sdktester-e2e.communication.azure.com/chat/threads/19%3AeivHzOpLhUFvf4x_GyS-1kQHpNX1sHJNexwLZ-moczM1%40thread.v2?api-version=2021-03-07",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2020-09-21-preview2, 2020-11-01-preview3, 2021-01-27-preview4, 2021-03-01-preview5, 2021-03-07",
        "MS-CV": "4P0RTMNXxUKkz1NAFMb97A.0",
        "X-Processing-Time": "198ms"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "COMMUNICATION_CONNECTION_STRING": "endpoint=https://chat-sdktester-e2e.communication.azure.com/;accesskey=Kg==",
    "RandomSeed": "2023588260"
  }
}