{
  "Entries": [
    {
      "RequestUri": "https://chat-sdktester-e2e.int.communication.azure.net/identities?api-version=2021-03-07",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {},
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2020-07-20-preview2, 2021-03-07",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "wmgyAZxxNUSs7E2M8KA2OA.0",
        "X-Processing-Time": "77ms"
      },
      "ResponseBody": {
        "identity": {
          "id": "8:acs:46849534-eb08-4ab7-bde7-c36928cd1547_00000008-b998-68ba-1db7-3a3a0d00885e"
        }
      }
    },
    {
      "RequestUri": "https://chat-sdktester-e2e.int.communication.azure.net/identities/8%3Aacs%3A46849534-eb08-4ab7-bde7-c36928cd1547_00000008-b998-68ba-1db7-3a3a0d00885e/:issueAccessToken?api-version=2021-03-07",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "scopes": [
          "chat"
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2020-07-20-preview2, 2021-03-07",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "sk18DkLFUEaQ2bHaiX/a4Q.0",
        "X-Processing-Time": "87ms"
      },
      "ResponseBody": {
        "token": "Sanitized",
        "expiresOn": "2021-03-11T01:18:30.9108481\u002B00:00"
      }
    },
[...]
    {
      "RequestUri": "https://chat-sdktester-e2e.int.communication.azure.net/chat/threads?api-version=2021-03-01-preview5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c",
        "Content-Type": "application/json",
        "idempotency-token": "contoso-B0A747F1-6245-4307-8267-B974340677DB"
      },
      "RequestBody": {
        "topic": "Thread topic - ReadReceipts Test",
        "participants": [
          {
            "communicationIdentifier": {
              "communicationUser": {
                "id": "8:acs:46849534-eb08-4ab7-bde7-c36928cd1547_00000008-b998-68ba-1db7-3a3a0d00885e"
              }
            }
          },
          {
            "communicationIdentifier": {
              "communicationUser": {
                "id": "8:acs:46849534-eb08-4ab7-bde7-c36928cd1547_00000008-b998-6aa3-1db7-3a3a0d00885f"
              }
            }
          }
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2020-09-21-preview2, 2020-11-01-preview3, 2021-01-27-preview4, 2021-03-01-preview5",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://chat-sdktester-e2e.int.communication.azure.net/chat/threads/19%3ACIF3W_uNS2LnAxZSLDka3dkV0tB3fQ9DJYA6qpt-1hQ1@thread.v2",
        "MS-CV": "/WBhWF5olk27/CWxeMXedw.0",
        "X-Processing-Time": "859ms"
      },
      "ResponseBody": {
        "chatThread": {
          "id": "19:CIF3W_uNS2LnAxZSLDka3dkV0tB3fQ9DJYA6qpt-1hQ1@thread.v2",
          "topic": "Thread topic - ReadReceipts Test",
          "createdOn": "2021-03-10T01:18:32Z",
          "createdByCommunicationIdentifier": {
            "rawId": "8:acs:46849534-eb08-4ab7-bde7-c36928cd1547_00000008-b998-68ba-1db7-3a3a0d00885e",
            "communicationUser": {
              "id": "8:acs:46849534-eb08-4ab7-bde7-c36928cd1547_00000008-b998-68ba-1db7-3a3a0d00885e"
            }
          }
        }
      }
    },
    {
      "RequestUri": "https://chat-sdktester-e2e.int.communication.azure.net/chat/threads/19%3ACIF3W_uNS2LnAxZSLDka3dkV0tB3fQ9DJYA6qpt-1hQ1%40thread.v2/messages?api-version=2021-03-01-preview5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "content": "This is message 1 content",
        "type": null
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2020-09-21-preview2, 2020-11-01-preview3, 2021-01-27-preview4, 2021-03-01-preview5",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://chat-sdktester-e2e.int.communication.azure.net/chat/threads/19%3ACIF3W_uNS2LnAxZSLDka3dkV0tB3fQ9DJYA6qpt-1hQ1@thread.v2/messages/1615339113817",
        "MS-CV": "9lsCEZxGVkmfS0/9/beUgQ.0",
        "X-Processing-Time": "360ms"
      },
      "ResponseBody": {
        "id": "1615339113817"
      }
    },
[...]
    {
      "RequestUri": "https://chat-sdktester-e2e.int.communication.azure.net/chat/threads/19%3ACIF3W_uNS2LnAxZSLDka3dkV0tB3fQ9DJYA6qpt-1hQ1%40thread.v2/readReceipts?api-version=2021-03-01-preview5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "chatMessageId": "1615339114348"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2020-09-21-preview2, 2020-11-01-preview3, 2021-01-27-preview4, 2021-03-01-preview5",
        "MS-CV": "bz96GKLLYEKZWgwP6CKudg.0",
        "X-Processing-Time": "606ms"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://chat-sdktester-e2e.int.communication.azure.net/chat/threads/19%3ACIF3W_uNS2LnAxZSLDka3dkV0tB3fQ9DJYA6qpt-1hQ1%40thread.v2/readReceipts?api-version=2021-03-01-preview5",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2020-09-21-preview2, 2020-11-01-preview3, 2021-01-27-preview4, 2021-03-01-preview5",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "WGEb8zBLU0e7/y/a2Ffvzw.0",
        "X-Processing-Time": "249ms"
      },
      "ResponseBody": {
        "value": [
          {
            "senderCommunicationIdentifier": {
              "rawId": "8:acs:46849534-eb08-4ab7-bde7-c36928cd1547_00000008-b998-68ba-1db7-3a3a0d00885e",
              "communicationUser": {
                "id": "8:acs:46849534-eb08-4ab7-bde7-c36928cd1547_00000008-b998-68ba-1db7-3a3a0d00885e"
              }
            },
            "chatMessageId": "1615339114348",
            "readOn": "2021-03-10T01:18:34Z"
          },
          {
            "senderCommunicationIdentifier": {
              "rawId": "8:acs:46849534-eb08-4ab7-bde7-c36928cd1547_00000008-b998-6aa3-1db7-3a3a0d00885f",
              "communicationUser": {
                "id": "8:acs:46849534-eb08-4ab7-bde7-c36928cd1547_00000008-b998-6aa3-1db7-3a3a0d00885f"
              }
            },
            "chatMessageId": "1615339113817",
            "readOn": "2021-03-10T01:18:35Z"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://chat-sdktester-e2e.int.communication.azure.net/chat/threads/19%3ACIF3W_uNS2LnAxZSLDka3dkV0tB3fQ9DJYA6qpt-1hQ1%40thread.v2?api-version=2021-03-01-preview5",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2020-09-21-preview2, 2020-11-01-preview3, 2021-01-27-preview4, 2021-03-01-preview5",
        "MS-CV": "2gr6RNYfBUeAE4YPyzmBEQ.0",
        "X-Processing-Time": "291ms"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "COMMUNICATION_CONNECTION_STRING": "endpoint=https://chat-sdktester-e2e.int.communication.azure.net/;accesskey=Kg==",
    "RandomSeed": "2023588260"
  }
}