{
  "Entries": [
    {
      "RequestUri": "https://chat-prod-e2e.communication.azure.com/identities?api-version=2020-07-20-preview2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002B/TImW\u002B5JCeuQeRkm5NMpJWZG3hSuFU="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2020-01-15-generalAvailability, 2020-07-20-preview1, 2020-07-20-preview2",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "QBYTXGcOI0uPy8cShSrSSg.0",
        "X-Processing-Time": "205ms"
      },
      "ResponseBody": {
        "id": "8:acs:fa5c4fc3-a269-43e2-9eb6-0ca17b388993_00000006-3b50-eb8c-80f5-8b3a0d000d18"
      }
    },
    {
      "RequestUri": "https://chat-prod-e2e.communication.azure.com/identities/8%3Aacs%3Afa5c4fc3-a269-43e2-9eb6-0ca17b388993_00000006-3b50-eb8c-80f5-8b3a0d000d18/token?api-version=2020-07-20-preview2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "J\u002BdoRQjtFVYLx3qOvzptwBLjQWqy6OEWEEk1TY1\u002BrT4="
      },
      "RequestBody": {
        "scopes": [
          "chat"
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2020-01-15-generalAvailability, 2020-07-20-preview1, 2020-07-20-preview2",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "fgsxZP1SukuE2sIKouCgWA.0",
        "X-Processing-Time": "283ms"
      },
      "ResponseBody": {
        "id": "8:acs:fa5c4fc3-a269-43e2-9eb6-0ca17b388993_00000006-3b50-eb8c-80f5-8b3a0d000d18",
        "token": "Sanitized",
        "expiresOn": "2020-11-06T18:42:42.1685413-08:00"
      }
    },
[...]
    {
      "RequestUri": "https://chat-prod-e2e.communication.azure.com/chat/threads?api-version=2020-09-21-preview2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "topic": "Thread topic - ReadReceipts Async Test",
        "members": [
          {
            "id": "8:acs:fa5c4fc3-a269-43e2-9eb6-0ca17b388993_00000006-3b50-eb8c-80f5-8b3a0d000d18"
          },
          {
            "id": "8:acs:fa5c4fc3-a269-43e2-9eb6-0ca17b388993_00000006-3b50-ee49-80f5-8b3a0d000d19"
          }
        ]
      },
      "StatusCode": 207,
      "ResponseHeaders": {
        "api-supported-versions": "2020-09-21-preview2, 2020-11-01-preview3",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://52.168.174.23/chat/threads/19%3Ae98a61d47941406a9ba0160efbeb95b3@thread.v2",
        "MS-CV": "Mx/0Y6/t7Ei371R/Li0pxA.0",
        "X-Processing-Time": "272ms"
      },
      "ResponseBody": {
        "multipleStatus": [
          {
            "id": "8:acs:fa5c4fc3-a269-43e2-9eb6-0ca17b388993_00000006-3b50-eb8c-80f5-8b3a0d000d18",
            "statusCode": 201,
            "type": "ThreadMember"
          },
          {
            "id": "8:acs:fa5c4fc3-a269-43e2-9eb6-0ca17b388993_00000006-3b50-ee49-80f5-8b3a0d000d19",
            "statusCode": 201,
            "type": "ThreadMember"
          },
          {
            "id": "19:e98a61d47941406a9ba0160efbeb95b3@thread.v2",
            "statusCode": 201,
            "type": "Thread"
          }
        ]
      }
    },
    {
      "RequestUri": "https://chat-prod-e2e.communication.azure.com/chat/threads/19%3Ae98a61d47941406a9ba0160efbeb95b3%40thread.v2/messages?api-version=2020-09-21-preview2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "content": "This is message 1 content"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2020-09-21-preview2, 2020-11-01-preview3",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://52.168.174.23/chat/threads/19%3Ae98a61d47941406a9ba0160efbeb95b3@thread.v2/messages/1604630564417",
        "MS-CV": "jR8nyxeawkWCGLN1GKveRg.0",
        "X-Processing-Time": "211ms"
      },
      "ResponseBody": {
        "id": "1604630564417"
      }
    },
[...]
    {
      "RequestUri": "https://chat-prod-e2e.communication.azure.com/chat/threads/19%3Ae98a61d47941406a9ba0160efbeb95b3%40thread.v2/readreceipts?api-version=2020-09-21-preview2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "chatMessageId": "1604630564677"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2020-09-21-preview2, 2020-11-01-preview3",
        "MS-CV": "eCQ8QUiXok6ZSknGgnULgg.0",
        "X-Processing-Time": "76ms"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://chat-prod-e2e.communication.azure.com/chat/threads/19%3Ae98a61d47941406a9ba0160efbeb95b3%40thread.v2/readreceipts?api-version=2020-09-21-preview2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2020-09-21-preview2, 2020-11-01-preview3",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "tvWh4ijFUE61yTzYyi/10w.0",
        "X-Processing-Time": "57ms"
      },
      "ResponseBody": {
        "value": [
          {
            "senderId": "8:acs:fa5c4fc3-a269-43e2-9eb6-0ca17b388993_00000006-3b50-eb8c-80f5-8b3a0d000d18",
            "chatMessageId": "1604630564677",
            "readOn": "2020-11-06T02:42:44Z"
          },
          {
            "senderId": "8:acs:fa5c4fc3-a269-43e2-9eb6-0ca17b388993_00000006-3b50-ee49-80f5-8b3a0d000d19",
            "chatMessageId": "1604630564417",
            "readOn": "2020-11-06T02:42:45Z"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://chat-prod-e2e.communication.azure.com/chat/threads/19%3Ae98a61d47941406a9ba0160efbeb95b3%40thread.v2?api-version=2020-09-21-preview2",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2020-09-21-preview2, 2020-11-01-preview3",
        "MS-CV": "evBUhsgJu0K9ZNFk7MvZNA.0",
        "X-Processing-Time": "142ms"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "COMMUNICATION_CONNECTION_STRING": "endpoint=https://chat-prod-e2e.communication.azure.com/;accesskey=Kg==;",
    "RandomSeed": "88635572"
  }
}