{
  "Entries": [
    {
      "RequestUri": "https://chat-sdktester-e2e.communication.azure.com/identities?api-version=2021-03-07",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {},
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "gvxjB5JSg0ebbGPAyH/jMw.0",
        "X-Processing-Time": "19ms"
      },
      "ResponseBody": {
        "identity": {
          "id": "8:acs:357e39d2-a29a-4bf6-88cc-fda0afc2c0ed_00000009-8b83-495e-e3c7-593a0d002613"
        }
      }
    },
    {
      "RequestUri": "https://chat-sdktester-e2e.communication.azure.com/identities/8%3Aacs%3A357e39d2-a29a-4bf6-88cc-fda0afc2c0ed_00000009-8b83-495e-e3c7-593a0d002613/:issueAccessToken?api-version=2021-03-07",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "scopes": [
          "chat"
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "uG0I2F9zaUiELaGs0OWV2w.0",
        "X-Processing-Time": "23ms"
      },
      "ResponseBody": {
        "token": "Sanitized",
        "expiresOn": "2021-04-20T19:35:41.8656426\u002B00:00"
      }
    },
[...]
    {
      "RequestUri": "https://chat-sdktester-e2e.communication.azure.com/chat/threads?api-version=2021-03-07",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c",
        "Content-Type": "application/json",
        "repeatability-request-id": "contoso-E0A747F1-6245-4307-8267-B974340677DE"
      },
      "RequestBody": {
        "topic": "Thread topic - ReadReceipts Async Test",
        "participants": [
          {
            "communicationIdentifier": {
              "communicationUser": {
                "id": "8:acs:357e39d2-a29a-4bf6-88cc-fda0afc2c0ed_00000009-8b83-495e-e3c7-593a0d002613"
              }
            }
          },
          {
            "communicationIdentifier": {
              "communicationUser": {
                "id": "8:acs:357e39d2-a29a-4bf6-88cc-fda0afc2c0ed_00000009-8b83-4a56-e3c7-593a0d002615"
              }
            }
          }
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2020-09-21-preview2, 2020-11-01-preview3, 2021-01-27-preview4, 2021-03-01-preview5, 2021-03-07, 2021-04-05-preview6",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://chat-sdktester-e2e.communication.azure.com/chat/threads/19%3AQydWCI7A78j1yES8SvI_II8Q_CjWolFPpULT2pukshc1@thread.v2",
        "MS-CV": "BHzxFUzP/UqcT55JdiUtcg.0",
        "X-Processing-Time": "612ms"
      },
      "ResponseBody": {
        "chatThread": {
          "id": "19:QydWCI7A78j1yES8SvI_II8Q_CjWolFPpULT2pukshc1@thread.v2",
          "topic": "Thread topic - ReadReceipts Async Test",
          "createdOn": "2021-04-19T19:35:46Z",
          "createdByCommunicationIdentifier": {
            "rawId": "8:acs:357e39d2-a29a-4bf6-88cc-fda0afc2c0ed_00000009-8b83-495e-e3c7-593a0d002613",
            "communicationUser": {
              "id": "8:acs:357e39d2-a29a-4bf6-88cc-fda0afc2c0ed_00000009-8b83-495e-e3c7-593a0d002613"
            }
          }
        }
      }
    },
    {
      "RequestUri": "https://chat-sdktester-e2e.communication.azure.com/chat/threads/19%3AQydWCI7A78j1yES8SvI_II8Q_CjWolFPpULT2pukshc1%40thread.v2/messages?api-version=2021-03-07",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "content": "This is message 1 content",
        "type": null
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2020-09-21-preview2, 2020-11-01-preview3, 2021-01-27-preview4, 2021-03-01-preview5, 2021-03-07, 2021-04-05-preview6",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://chat-sdktester-e2e.communication.azure.com/chat/threads/19%3AQydWCI7A78j1yES8SvI_II8Q_CjWolFPpULT2pukshc1@thread.v2/messages/1618860948664",
        "MS-CV": "xaYT0C82ikebDMsYU27NYw.0",
        "X-Processing-Time": "180ms"
      },
      "ResponseBody": {
        "id": "1618860948664"
      }
    },
[...]
    {
      "RequestUri": "https://chat-sdktester-e2e.communication.azure.com/chat/threads/19%3AQydWCI7A78j1yES8SvI_II8Q_CjWolFPpULT2pukshc1%40thread.v2/readReceipts?api-version=2021-03-07",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "chatMessageId": "1618860949409"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2020-09-21-preview2, 2020-11-01-preview3, 2021-01-27-preview4, 2021-03-01-preview5, 2021-03-07, 2021-04-05-preview6",
        "MS-CV": "cstlGwYX7EKUR\u002BildoHfug.0",
        "X-Processing-Time": "129ms"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://chat-sdktester-e2e.communication.azure.com/chat/threads/19%3AQydWCI7A78j1yES8SvI_II8Q_CjWolFPpULT2pukshc1%40thread.v2/readReceipts?api-version=2021-03-07",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2020-09-21-preview2, 2020-11-01-preview3, 2021-01-27-preview4, 2021-03-01-preview5, 2021-03-07, 2021-04-05-preview6",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "VoKPeLL6dUOchmPnTuOdYg.0",
        "X-Processing-Time": "117ms"
      },
      "ResponseBody": {
        "value": [
          {
            "senderCommunicationIdentifier": {
              "rawId": "8:acs:357e39d2-a29a-4bf6-88cc-fda0afc2c0ed_00000009-8b83-495e-e3c7-593a0d002613",
              "communicationUser": {
                "id": "8:acs:357e39d2-a29a-4bf6-88cc-fda0afc2c0ed_00000009-8b83-495e-e3c7-593a0d002613"
              }
            },
            "chatMessageId": "1618860949409",
            "readOn": "2021-04-19T19:35:50Z"
          },
          {
            "senderCommunicationIdentifier": {
              "rawId": "8:acs:357e39d2-a29a-4bf6-88cc-fda0afc2c0ed_00000009-8b83-4a56-e3c7-593a0d002615",
              "communicationUser": {
                "id": "8:acs:357e39d2-a29a-4bf6-88cc-fda0afc2c0ed_00000009-8b83-4a56-e3c7-593a0d002615"
              }
            },
            "chatMessageId": "1618860948664",
            "readOn": "2021-04-19T19:35:50Z"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://chat-sdktester-e2e.communication.azure.com/chat/threads/19%3AQydWCI7A78j1yES8SvI_II8Q_CjWolFPpULT2pukshc1%40thread.v2?api-version=2021-03-07",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2020-09-21-preview2, 2020-11-01-preview3, 2021-01-27-preview4, 2021-03-01-preview5, 2021-03-07, 2021-04-05-preview6",
        "MS-CV": "0A0ephrhlUmMqO46\u002BZ6MOA.0",
        "X-Processing-Time": "140ms"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "COMMUNICATION_CONNECTION_STRING": "endpoint=https://chat-sdktester-e2e.communication.azure.com/;accesskey=Kg==",
    "RandomSeed": "1649358197"
  }
}