{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.com/identities?api-version=2021-03-07",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {},
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2020-07-20-preview2, 2021-03-07",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "XPVpNjaFYUqOvwuDdQWF5A.0",
        "X-Processing-Time": "18ms"
      },
      "ResponseBody": {
        "identity": {
          "id": "8:acs:ac80d96a-85de-48b1-995d-a3a3fa3627c8_00000008-4e0f-dec3-99c6-593a0d0037fd"
        }
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.com/identities/8%3Aacs%3Aac80d96a-85de-48b1-995d-a3a3fa3627c8_00000008-4e0f-dec3-99c6-593a0d0037fd/:issueAccessToken?api-version=2021-03-07",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "scopes": [
          "chat"
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2020-07-20-preview2, 2021-03-07",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "sMUYd98joU\u002BbT4Ih8VCenA.0",
        "X-Processing-Time": "24ms"
      },
      "ResponseBody": {
        "token": "Sanitized",
        "expiresOn": "2021-02-18T04:10:00.4109613\u002B00:00"
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.com/chat/threads?api-version=2020-11-01-preview3",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c",
        "Content-Type": "application/json",
        "repeatability-Request-ID": "contoso-E0A747F1-6245-4307-8267-B974340677DE"
      },
      "RequestBody": {
        "topic": "Thread topic - ReadReceipts Async Test",
        "participants": [
          {
            "id": "8:acs:ac80d96a-85de-48b1-995d-a3a3fa3627c8_00000008-4e0f-dec3-99c6-593a0d0037fd"
          },
          {
            "id": "8:acs:ac80d96a-85de-48b1-995d-a3a3fa3627c8_00000008-4e0f-df78-99c6-593a0d0037fe"
          }
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2020-09-21-preview2, 2020-11-01-preview3, 2021-01-27-preview4",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://sanitized.communication.azure.com/chat/threads/19%3Ar0-KhPs_pYOWRJAKhjFWldLZRCKIRIvxDxbt8hO_ZfI1@thread.v2",
        "MS-CV": "9sRo7llvkkeoJZaSexF78A.0",
        "X-Processing-Time": "307ms"
      },
      "ResponseBody": {
        "chatThread": {
          "id": "19:r0-KhPs_pYOWRJAKhjFWldLZRCKIRIvxDxbt8hO_ZfI1@thread.v2",
          "topic": "Thread topic - ReadReceipts Async Test",
          "createdOn": "2021-02-17T04:10:01Z",
          "createdBy": "8:acs:ac80d96a-85de-48b1-995d-a3a3fa3627c8_00000008-4e0f-dec3-99c6-593a0d0037fd"
        }
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.com/chat/threads/19%3Ar0-KhPs_pYOWRJAKhjFWldLZRCKIRIvxDxbt8hO_ZfI1%40thread.v2/messages?api-version=2020-11-01-preview3",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "content": "This is message 1 content"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2020-09-21-preview2, 2020-11-01-preview3, 2021-01-27-preview4",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://sanitized.communication.azure.com/chat/threads/19%3Ar0-KhPs_pYOWRJAKhjFWldLZRCKIRIvxDxbt8hO_ZfI1@thread.v2/messages/1613535001981",
        "MS-CV": "zEl3X7p190a2X8UfRoXO/g.0",
        "X-Processing-Time": "90ms"
      },
      "ResponseBody": {
        "id": "1613535001981"
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.com/chat/threads/19%3Ar0-KhPs_pYOWRJAKhjFWldLZRCKIRIvxDxbt8hO_ZfI1%40thread.v2/readReceipts?api-version=2020-11-01-preview3",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "chatMessageId": "1613535002121"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2020-09-21-preview2, 2020-11-01-preview3, 2021-01-27-preview4",
        "MS-CV": "NamGcN6f3kylNb7A2P\u002Bu\u002BA.0",
        "X-Processing-Time": "112ms"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.com/chat/threads/19%3Ar0-KhPs_pYOWRJAKhjFWldLZRCKIRIvxDxbt8hO_ZfI1%40thread.v2/readReceipts?api-version=2020-11-01-preview3",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2020-09-21-preview2, 2020-11-01-preview3, 2021-01-27-preview4",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "Suc088L\u002B8Eed38W\u002B5laTMg.0",
        "X-Processing-Time": "58ms"
      },
      "ResponseBody": {
        "value": [
          {
            "senderId": "8:acs:ac80d96a-85de-48b1-995d-a3a3fa3627c8_00000008-4e0f-dec3-99c6-593a0d0037fd",
            "chatMessageId": "1613535002121",
            "readOn": "2021-02-17T04:10:02Z"
          },
          {
            "senderId": "8:acs:ac80d96a-85de-48b1-995d-a3a3fa3627c8_00000008-4e0f-df78-99c6-593a0d0037fe",
            "chatMessageId": "1613535001981",
            "readOn": "2021-02-17T04:10:02Z"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.com/chat/threads/19%3Ar0-KhPs_pYOWRJAKhjFWldLZRCKIRIvxDxbt8hO_ZfI1%40thread.v2?api-version=2020-11-01-preview3",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2020-09-21-preview2, 2020-11-01-preview3, 2021-01-27-preview4",
        "MS-CV": "n4V1dkPD1kaoWcgtLozIDg.0",
        "X-Processing-Time": "93ms"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "COMMUNICATION_CONNECTION_STRING": "endpoint=https://sanitized.communication.azure.com/;accesskey=Kg==",
    "RandomSeed": "1649358197"
  }
}