{
  "Entries": [
    {
      "RequestUri": "https://chat-sdktester-e2e.communication.azure.com/identities?api-version=2021-03-07",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {},
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2020-07-20-preview2, 2021-03-07",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "Pv1DMvm2NUKb0v4pgEJSoA.0",
        "X-Processing-Time": "13ms"
      },
      "ResponseBody": {
        "identity": {
          "id": "8:acs:357e39d2-a29a-4bf6-88cc-fda0afc2c0ed_00000008-b94f-486e-e3c7-593a0d004856"
        }
      }
    },
    {
      "RequestUri": "https://chat-sdktester-e2e.communication.azure.com/identities/8%3Aacs%3A357e39d2-a29a-4bf6-88cc-fda0afc2c0ed_00000008-b94f-486e-e3c7-593a0d004856/:issueAccessToken?api-version=2021-03-07",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "scopes": [
          "chat"
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2020-07-20-preview2, 2021-03-07",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "co1DN/DemUuwYs5cP\u002BUYUQ.0",
        "X-Processing-Time": "24ms"
      },
      "ResponseBody": {
        "token": "Sanitized",
        "expiresOn": "2021-03-10T23:58:38.4477039\u002B00:00"
      }
    },
[...]
    {
      "RequestUri": "https://chat-sdktester-e2e.communication.azure.com/chat/threads?api-version=2021-01-27-preview4",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c",
        "Content-Type": "application/json",
        "idempotency-token": "contoso-B0A747F1-6245-4307-8267-B974340677DB"
      },
      "RequestBody": {
        "topic": "Thread topic - ReadReceipts Test",
        "participants": [
          {
            "communicationIdentifier": {
              "communicationUser": {
                "id": "8:acs:357e39d2-a29a-4bf6-88cc-fda0afc2c0ed_00000008-b94f-486e-e3c7-593a0d004856"
              }
            }
          },
          {
            "communicationIdentifier": {
              "communicationUser": {
                "id": "8:acs:357e39d2-a29a-4bf6-88cc-fda0afc2c0ed_00000008-b94f-4a13-e3c7-593a0d004857"
              }
            }
          }
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2020-09-21-preview2, 2020-11-01-preview3, 2021-01-27-preview4, 2021-03-01-preview5",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://chat-sdktester-e2e.communication.azure.com/chat/threads/19%3A2e701fc3907a4178a13aaf06567034eb@thread.v2",
        "MS-CV": "gZ3mN909\u002BUOSXxWOXe6\u002Bow.0",
        "X-Processing-Time": "503ms"
      },
      "ResponseBody": {
        "chatThread": {
          "id": "19:2e701fc3907a4178a13aaf06567034eb@thread.v2",
          "topic": "Thread topic - ReadReceipts Test",
          "createdOn": "2021-03-09T23:58:40Z",
          "createdByCommunicationIdentifier": {
            "rawId": "8:acs:357e39d2-a29a-4bf6-88cc-fda0afc2c0ed_00000008-b94f-486e-e3c7-593a0d004856",
            "communicationUser": {
              "id": "8:acs:357e39d2-a29a-4bf6-88cc-fda0afc2c0ed_00000008-b94f-486e-e3c7-593a0d004856"
            }
          }
        }
      }
    },
    {
      "RequestUri": "https://chat-sdktester-e2e.communication.azure.com/chat/threads/19%3A2e701fc3907a4178a13aaf06567034eb%40thread.v2/messages?api-version=2021-01-27-preview4",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "content": "This is message 1 content",
        "type": null
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2020-09-21-preview2, 2020-11-01-preview3, 2021-01-27-preview4, 2021-03-01-preview5",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://chat-sdktester-e2e.communication.azure.com/chat/threads/19%3A2e701fc3907a4178a13aaf06567034eb@thread.v2/messages/1615334320704",
        "MS-CV": "DmwSkld0gUaAv43vc79AwA.0",
        "X-Processing-Time": "118ms"
      },
      "ResponseBody": {
        "id": "1615334320704"
      }
    },
[...]
    {
      "RequestUri": "https://chat-sdktester-e2e.communication.azure.com/chat/threads/19%3A2e701fc3907a4178a13aaf06567034eb%40thread.v2/readReceipts?api-version=2021-01-27-preview4",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "chatMessageId": "1615334320987"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2020-09-21-preview2, 2020-11-01-preview3, 2021-01-27-preview4, 2021-03-01-preview5",
        "MS-CV": "ImFPLwfpG0eFuwB2Ny\u002BEuQ.0",
        "X-Processing-Time": "80ms"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://chat-sdktester-e2e.communication.azure.com/chat/threads/19%3A2e701fc3907a4178a13aaf06567034eb%40thread.v2/readReceipts?api-version=2021-01-27-preview4",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2020-09-21-preview2, 2020-11-01-preview3, 2021-01-27-preview4, 2021-03-01-preview5",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "IcFSxLH31kKpftV7fEyyyA.0",
        "X-Processing-Time": "66ms"
      },
      "ResponseBody": {
        "value": [
          {
            "senderCommunicationIdentifier": {
              "rawId": "8:acs:357e39d2-a29a-4bf6-88cc-fda0afc2c0ed_00000008-b94f-486e-e3c7-593a0d004856",
              "communicationUser": {
                "id": "8:acs:357e39d2-a29a-4bf6-88cc-fda0afc2c0ed_00000008-b94f-486e-e3c7-593a0d004856"
              }
            },
            "chatMessageId": "1615334320987",
            "readOn": "2021-03-09T23:58:41Z"
          },
          {
            "senderCommunicationIdentifier": {
              "rawId": "8:acs:357e39d2-a29a-4bf6-88cc-fda0afc2c0ed_00000008-b94f-4a13-e3c7-593a0d004857",
              "communicationUser": {
                "id": "8:acs:357e39d2-a29a-4bf6-88cc-fda0afc2c0ed_00000008-b94f-4a13-e3c7-593a0d004857"
              }
            },
            "chatMessageId": "1615334320704",
            "readOn": "2021-03-09T23:58:41Z"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://chat-sdktester-e2e.communication.azure.com/chat/threads/19%3A2e701fc3907a4178a13aaf06567034eb%40thread.v2?api-version=2021-01-27-preview4",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2020-09-21-preview2, 2020-11-01-preview3, 2021-01-27-preview4, 2021-03-01-preview5",
        "MS-CV": "TwC0OIsAx0eZE38sqcGSgg.0",
        "X-Processing-Time": "176ms"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "COMMUNICATION_CONNECTION_STRING": "endpoint=https://chat-sdktester-e2e.communication.azure.com/;accesskey=Kg==",
    "RandomSeed": "2023588260"
  }
}