{
  "Entries": [
    {
      "RequestUri": "https://avinpsdklivetestacs03222021-communication.communication.azure.com/identities?api-version=2021-02-22-preview1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {},
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "cBpQY7BczkCS2C06rtnAIw.0",
        "X-Processing-Time": "73ms"
      },
      "ResponseBody": {
        "identity": {
          "id": "8:acs:207d5cb4-8afc-42cb-a26f-74ad337313f1_00000008-ffef-21eb-47b4-a43a0d005649"
        }
      }
    },
    {
      "RequestUri": "https://avinpsdklivetestacs03222021-communication.communication.azure.com/identities/8%3Aacs%3A207d5cb4-8afc-42cb-a26f-74ad337313f1_00000008-ffef-21eb-47b4-a43a0d005649/:issueAccessToken?api-version=2021-02-22-preview1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "scopes": [
          "chat"
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "JHEoYfDwG0aylIWZ892ZVQ.0",
        "X-Processing-Time": "146ms"
      },
      "ResponseBody": {
        "token": "Sanitized",
        "expiresOn": "2021-03-24T17:06:39.4481106\u002B00:00"
      }
    },
[...]
    {
      "RequestUri": "https://avinpsdklivetestacs03222021-communication.communication.azure.com/chat/threads?api-version=2021-01-27-preview4",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c",
        "Content-Type": "application/json",
        "repeatability-Request-Id": "contoso-C0A747F1-6245-4307-8267-B974340677DC"
      },
      "RequestBody": {
        "topic": "Thread async from C# sdk",
        "participants": [
          {
            "communicationIdentifier": {
              "communicationUser": {
                "id": "8:acs:207d5cb4-8afc-42cb-a26f-74ad337313f1_00000008-ffef-21eb-47b4-a43a0d005649"
              }
            },
            "displayName": "user1"
          },
          {
            "communicationIdentifier": {
              "communicationUser": {
                "id": "8:acs:207d5cb4-8afc-42cb-a26f-74ad337313f1_00000008-ffef-2309-47b4-a43a0d00564a"
              }
            },
            "displayName": "user2"
          },
          {
            "communicationIdentifier": {
              "communicationUser": {
                "id": "8:acs:207d5cb4-8afc-42cb-a26f-74ad337313f1_00000008-ffef-2420-47b4-a43a0d00564b"
              }
            },
            "displayName": "user3"
          }
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2020-09-21-preview2, 2020-11-01-preview3, 2021-01-27-preview4, 2021-03-01-preview5, 2021-03-07",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://avinpsdklivetestacs03222021-communication.communication.azure.com/chat/threads/19%3AI2xSABp0WgssGYTZGJKoPopznBTE15ePFdIKlgh-mNE1@thread.v2",
        "MS-CV": "WEQgkXEUZkSfMFBL/XcLVw.0",
        "X-Processing-Time": "620ms"
      },
      "ResponseBody": {
        "chatThread": {
          "id": "19:I2xSABp0WgssGYTZGJKoPopznBTE15ePFdIKlgh-mNE1@thread.v2",
          "topic": "Thread async from C# sdk",
          "createdOn": "2021-03-23T17:06:41Z",
          "createdByCommunicationIdentifier": {
            "rawId": "8:acs:207d5cb4-8afc-42cb-a26f-74ad337313f1_00000008-ffef-21eb-47b4-a43a0d005649",
            "communicationUser": {
              "id": "8:acs:207d5cb4-8afc-42cb-a26f-74ad337313f1_00000008-ffef-21eb-47b4-a43a0d005649"
            }
          }
        }
      }
    },
[...]
    {
      "RequestUri": "https://avinpsdklivetestacs03222021-communication.communication.azure.com/chat/threads/19%3AI2xSABp0WgssGYTZGJKoPopznBTE15ePFdIKlgh-mNE1%40thread.v2/participants?api-version=2021-01-27-preview4",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2020-11-01-preview3, 2021-01-27-preview4, 2021-03-01-preview5, 2021-03-07",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "OamTu2zWDUeQJmIyIoKf0Q.0",
        "X-Processing-Time": "98ms"
      },
      "ResponseBody": {
        "value": [
          {
            "communicationIdentifier": {
              "rawId": "8:acs:207d5cb4-8afc-42cb-a26f-74ad337313f1_00000008-ffef-21eb-47b4-a43a0d005649",
              "communicationUser": {
                "id": "8:acs:207d5cb4-8afc-42cb-a26f-74ad337313f1_00000008-ffef-21eb-47b4-a43a0d005649"
              }
            },
            "displayName": "user1",
            "shareHistoryTime": "1970-01-01T00:00:00Z"
          },
          {
            "communicationIdentifier": {
              "rawId": "8:acs:207d5cb4-8afc-42cb-a26f-74ad337313f1_00000008-ffef-2309-47b4-a43a0d00564a",
              "communicationUser": {
                "id": "8:acs:207d5cb4-8afc-42cb-a26f-74ad337313f1_00000008-ffef-2309-47b4-a43a0d00564a"
              }
            },
            "displayName": "user2",
            "shareHistoryTime": "1970-01-01T00:00:00Z"
          },
          {
            "communicationIdentifier": {
              "rawId": "8:acs:207d5cb4-8afc-42cb-a26f-74ad337313f1_00000008-ffef-2420-47b4-a43a0d00564b",
              "communicationUser": {
                "id": "8:acs:207d5cb4-8afc-42cb-a26f-74ad337313f1_00000008-ffef-2420-47b4-a43a0d00564b"
              }
            },
            "displayName": "user3",
            "shareHistoryTime": "1970-01-01T00:00:00Z"
          }
        ]
      }
    },
    {
      "RequestUri": "https://avinpsdklivetestacs03222021-communication.communication.azure.com/chat/threads/19%3AI2xSABp0WgssGYTZGJKoPopznBTE15ePFdIKlgh-mNE1%40thread.v2?api-version=2021-01-27-preview4",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c",
        "Content-Type": "application/merge-patch\u002Bjson"
      },
      "RequestBody": {
        "topic": "Updated topic - C# sdk"
      },
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2020-09-21-preview2, 2020-11-01-preview3, 2021-01-27-preview4, 2021-03-01-preview5, 2021-03-07",
        "MS-CV": "QG\u002BrMx/gCk\u002BNEaWPTNSBYw.0",
        "X-Processing-Time": "196ms"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://avinpsdklivetestacs03222021-communication.communication.azure.com/chat/threads/19%3AI2xSABp0WgssGYTZGJKoPopznBTE15ePFdIKlgh-mNE1%40thread.v2/messages?api-version=2021-01-27-preview4",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "content": "Content for message 1",
        "senderDisplayName": "DisplayName sender message 1"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2020-09-21-preview2, 2020-11-01-preview3, 2021-01-27-preview4, 2021-03-01-preview5, 2021-03-07",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://avinpsdklivetestacs03222021-communication.communication.azure.com/chat/threads/19%3AI2xSABp0WgssGYTZGJKoPopznBTE15ePFdIKlgh-mNE1@thread.v2/messages/1616519203731",
        "MS-CV": "B7zXCNOju0KRBUjQuPTIRA.0",
        "X-Processing-Time": "158ms"
      },
      "ResponseBody": {
        "id": "1616519203731"
      }
    },
    {
      "RequestUri": "https://avinpsdklivetestacs03222021-communication.communication.azure.com/chat/threads/19%3AGOiul5svXQ9h_liIk0IPoVGM0G7QmxNqVjnrDKLzBq01%40thread.v2/messages?api-version=2021-01-27-preview4",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "content": "Content for message 2",
        "senderDisplayName": "DisplayName sender message 1"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2020-09-21-preview2, 2020-11-01-preview3, 2021-01-27-preview4, 2021-03-01-preview5, 2021-03-07",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://avinpsdklivetestacs03222021-communication.communication.azure.com/chat/threads/19%3AGOiul5svXQ9h_liIk0IPoVGM0G7QmxNqVjnrDKLzBq01@thread.v2/messages/1616519203975",
        "MS-CV": "8yMyqhFfwEeXQ/ZdAS4lxw.0",
        "X-Processing-Time": "163ms"
      },
      "ResponseBody": {
        "id": "1616519203975"
      }
    },
[...]
    {
      "RequestUri": "https://avinpsdklivetestacs03222021-communication.communication.azure.com/chat/threads/19%3AI2xSABp0WgssGYTZGJKoPopznBTE15ePFdIKlgh-mNE1%40thread.v2/messages/1616519203731?api-version=2021-01-27-preview4",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2020-09-21-preview2, 2020-11-01-preview3, 2021-01-27-preview4, 2021-03-01-preview5, 2021-03-07",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "TXrQ92Yho06JdLfAR93y2w.0",
        "X-Processing-Time": "103ms"
      },
      "ResponseBody": {
        "id": "1616519203731",
        "type": "text",
        "sequenceId": "4",
        "version": "1616519203731",
        "content": {
          "message": "Content for message 1"
        },
        "senderDisplayName": "DisplayName sender message 1",
        "createdOn": "2021-03-23T17:06:43Z",
        "senderCommunicationIdentifier": {
          "rawId": "8:acs:207d5cb4-8afc-42cb-a26f-74ad337313f1_00000008-ffef-21eb-47b4-a43a0d005649",
          "communicationUser": {
            "id": "8:acs:207d5cb4-8afc-42cb-a26f-74ad337313f1_00000008-ffef-21eb-47b4-a43a0d005649"
          }
        }
      }
    },
    {
      "RequestUri": "https://avinpsdklivetestacs03222021-communication.communication.azure.com/chat/threads/19%3AGOiul5svXQ9h_liIk0IPoVGM0G7QmxNqVjnrDKLzBq01%40thread.v2/messages/1616519203975?api-version=2021-01-27-preview4",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2020-09-21-preview2, 2020-11-01-preview3, 2021-01-27-preview4, 2021-03-01-preview5, 2021-03-07",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "b6m6v5YHK0KWV65Zg1CCOQ.0",
        "X-Processing-Time": "106ms"
      },
      "ResponseBody": {
        "id": "1616519203975",
        "type": "text",
        "sequenceId": "3",
        "version": "1616519203975",
        "content": {
          "message": "Content for message 2"
        },
        "senderDisplayName": "DisplayName sender message 1",
        "createdOn": "2021-03-23T17:06:43Z",
        "senderCommunicationIdentifier": {
          "rawId": "8:acs:207d5cb4-8afc-42cb-a26f-74ad337313f1_00000008-ffef-21eb-47b4-a43a0d005649",
          "communicationUser": {
            "id": "8:acs:207d5cb4-8afc-42cb-a26f-74ad337313f1_00000008-ffef-21eb-47b4-a43a0d005649"
          }
        }
      }
    },
[...]
    {
      "RequestUri": "https://avinpsdklivetestacs03222021-communication.communication.azure.com/chat/threads/19%3AI2xSABp0WgssGYTZGJKoPopznBTE15ePFdIKlgh-mNE1%40thread.v2/messages?maxPageSize=2\u0026api-version=2021-01-27-preview4",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c"
      },
      "Request[...]
    {
      "RequestUri": "https://avinpsdklivetestacs03222021-communication.communication.azure.com/chat/threads/19:I2xSABp0WgssGYTZGJKoPopznBTE15ePFdIKlgh-mNE1@thread.v2/messages?syncState=3e3900000031393a4932785341427030576773734759545a474a4b6f506f707a6e425445313565504664494b6c67682d6d4e4531407468726561642e7632017f8f0d60780100006f900d6078010000\u0026startTime=1%2F1%2F1970%2012%3A00%3A00%20AM%20%2B00%3A00\u0026maxPageSize=2\u0026api-version=2021-01-27-preview4",
      "RequestMethod": "GET",
 [...]
[...]
    {
      "RequestUri": "https://avinpsdklivetestacs03222021-communication.communication.azure.com/chat/threads/19:I2xSABp0WgssGYTZGJKoPopznBTE15ePFdIKlgh-mNE1@thread.v2/messages?syncState=3e3900000031393a4932785341427030576773734759545a474a4b6f506f707a6e425445313565504664494b6c67682d6d4e4531407468726561642e763201d0890d60780100006f900d6078010000\u0026startTime=1%2F1%2F1970%2012%3A00%3A00%20AM%20%2B00%3A00\u0026maxPageSize=2\u0026api-version=2021-01-27-preview4",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2020-09-21-preview2, 2020-11-01-preview3, 2021-01-27-preview4, 2021-03-01-preview5, 2021-03-07",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "VxIBNCp0LUeS6LIS1Q1PsQ.0",
        "X-Processing-Time": "145ms"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "1616519202090",
            "type": "topicUpdated",
            "sequenceId": "2",
            "version": "1616519202090",
            "content": {
              "topic": "Thread async from C# sdk",
              "initiatorCommunicationIdentifier": {
                "rawId": "8:acs:207d5cb4-8afc-42cb-a26f-74ad337313f1_00000008-ffef-21eb-47b4-a43a0d005649",
                "communicationUser": {
                  "id": "8:acs:207d5cb4-8afc-42cb-a26f-74ad337313f1_00000008-ffef-21eb-47b4-a43a0d005649"
                }
              }
            },
            "createdOn": "2021-03-23T17:06:42Z"
          },
          {
            "id": "1616519202020",
            "type": "participantAdded",
            "sequenceId": "1",
            "ver[...]
[...]
    {
      "RequestUri": "https://avinpsdklivetestacs03222021-communication.communication.azure.com/chat/threads/19%3AI2xSABp0WgssGYTZGJKoPopznBTE15ePFdIKlgh-mNE1%40thread.v2/messages/1616519203731?api-version=2021-01-27-preview4",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2020-09-21-preview2, 2020-11-01-preview3, 2021-01-27-preview4, 2021-03-01-preview5, 2021-03-07",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "UnEy7plshkyiPHTNXZWHPw.0",
        "X-Processing-Time": "93ms"
      },
      "ResponseBody": {
        "id": "1616519203731",
        "type": "text",
        "sequenceId": "9",
        "version": "1616519208177",
        "content": {
          "message": "This is message 1 content updated"
        },
        "senderDisplayName": "DisplayName sender message 1",
        "createdOn": "2021-03-23T17:06:43Z",
        "senderCommunicationIdentifier": {
          "rawId": "8:acs:207d5cb4-8afc-42cb-a26f-74ad337313f1_00000008-ffef-21eb-47b4-a43a0d005649",
          "communicationUser": {
            "id": "8:acs:207d5cb4-8afc-42cb-a26f-74ad337313f1_00000008-ffef-21eb-47b4-a43a0d005649"
          }
        },
        "editedOn": "2021-03-23T17:06:48Z"
      }
    },
[...]
    {
      "RequestUri": "https://avinpsdklivetestacs03222021-communication.communication.azure.com/chat/threads/19%3AI2xSABp0WgssGYTZGJKoPopznBTE15ePFdIKlgh-mNE1%40thread.v2/participants/:add?api-version=2021-01-27-preview4",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "participants": [
          {
            "communicationIdentifier": {
              "communicationUser": {
                "id": "8:acs:207d5cb4-8afc-42cb-a26f-74ad337313f1_00000008-ffef-254c-47b4-a43a0d00564c"
              }
            },
            "displayName": "user4"
          }
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2020-11-01-preview3, 2021-01-27-preview4, 2021-03-01-preview5, 2021-03-07",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "7EqF4\u002BQeoEqDjexdGMwYmg.0",
        "X-Processing-Time": "247ms"
      },
      "ResponseBody": {}
    },
[...]
    {
      "RequestUri": "https://avinpsdklivetestacs03222021-communication.communication.azure.com/chat/threads/19%3AI2xSABp0WgssGYTZGJKoPopznBTE15ePFdIKlgh-mNE1%40thread.v2/participants?maxPageSize=2\u0026api-version=2021-01-27-preview4",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c"
      },
      "Req[...]
    {
      "RequestUri": "https://avinpsdklivetestacs03222021-communication.communication.azure.com/chat/threads/19:I2xSABp0WgssGYTZGJKoPopznBTE15ePFdIKlgh-mNE1@thread.v2/participants?skip=2\u0026maxPageSize=2\u0026api-version=2021-01-27-preview4",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c"
      },
  [...]
[...]
    {
      "RequestUri": "https://avinpsdklivetestacs03222021-communication.communication.azure.com/chat/threads/19%3AI2xSABp0WgssGYTZGJKoPopznBTE15ePFdIKlgh-mNE1%40thread.v2/participants/:remove?api-version=2021-01-27-preview4",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "communicationUser": {
          "id": "8:acs:207d5cb4-8afc-42cb-a26f-74ad337313f1_00000008-ffef-254c-47b4-a43a0d00564c"
        }
      },
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2020-11-01-preview3, 2021-01-27-preview4, 2021-03-01-preview5, 2021-03-07",
        "MS-CV": "PAyGu6EMO0C3KNJTCW3EPA.0",
        "X-Processing-Time": "269ms"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://avinpsdklivetestacs03222021-communication.communication.azure.com/chat/threads/19%3AI2xSABp0WgssGYTZGJKoPopznBTE15ePFdIKlgh-mNE1%40thread.v2/typing?api-version=2021-01-27-preview4",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2020-09-21-preview2, 2020-11-01-preview3, 2021-01-27-preview4, 2021-03-01-preview5, 2021-03-07",
        "MS-CV": "kA6EyL6ABUq9riJE9NR6cQ.0",
        "X-Processing-Time": "153ms"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://avinpsdklivetestacs03222021-communication.communication.azure.com/chat/threads?api-version=2021-01-27-preview4",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2020-09-21-preview2, 2020-11-01-preview3, 2021-01-27-preview4, 2021-03-01-preview5, 2021-03-07",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "1X4RmURzAUC3vmHg6ZZk1A.0",
        "X-Processing-Time": "98ms"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "19:I2xSABp0WgssGYTZGJKoPopznBTE15ePFdIKlgh-mNE1@thread.v2",
            "topic": "Updated topic - C# sdk",
            "lastMessageReceivedOn": "2021-03-23T17:06:49Z"
          },
          {
            "id": "19:GOiul5svXQ9h_liIk0IPoVGM0G7QmxNqVjnrDKLzBq01@thread.v2",
            "topic": "Thread async from C# sdk",
            "lastMessageReceivedOn": "2021-03-23T17:06:42Z"
          }
        ]
      }
    },
    {
      "RequestUri": "https://avinpsdklivetestacs03222021-communication.communication.azure.com/chat/threads/19%3AI2xSABp0WgssGYTZGJKoPopznBTE15ePFdIKlgh-mNE1%40thread.v2?api-version=2021-01-27-preview4",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2020-09-21-preview2, 2020-11-01-preview3, 2021-01-27-preview4, 2021-03-01-preview5, 2021-03-07",
        "MS-CV": "NTEBaCh6mkSF3JBr\u002Bv186g.0",
        "X-Processing-Time": "183ms"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "COMMUNICATION_CONNECTION_STRING": "endpoint=https://avinpsdklivetestacs03222021-communication.communication.azure.com/;accesskey=Kg==",
    "RandomSeed": "1326037612"
  }
}