{
  "Entries": [
    {
      "RequestUri": "https://petr-acs-tests-cs.communication.azure.com/identities?api-version=2021-03-07",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 09 May 2022 12:29:21 GMT"
      },
      "RequestBody": {},
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview, 2021-11-01, 2022-06-01",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "iIK9eL1INEmhtW/JRr59ag.2.0",
        "X-Processing-Time": "105ms"
      },
      "ResponseBody": {
        "identity": {
          "id": "8:acs:db5ad774-5418-4073-9faa-a848e3471f03_00000011-48ad-60a1-9806-113a0d00f914"
        }
      }
    },
    {
      "RequestUri": "https://petr-acs-tests-cs.communication.azure.com/identities/8%3Aacs%3Adb5ad774-5418-4073-9faa-a848e3471f03_00000011-48ad-60a1-9806-113a0d00f914/:issueAccessToken?api-version=2021-03-07",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 09 May 2022 12:29:22 GMT"
      },
      "RequestBody": {
        "scopes": [
          "chat"
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview, 2021-11-01, 2022-06-01",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "bvgGnUi8DkWCLiaVctsX\u002Bg.2.0",
        "X-Processing-Time": "160ms"
      },
      "ResponseBody": {
        "token": "Sanitized",
        "expiresOn": "2022-05-10T12:29:26.5205882\u002B00:00"
      }
    },
[...]
    {
      "RequestUri": "https://petr-acs-tests-cs.communication.azure.com/chat/threads?api-version=2021-09-07",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "repeatability-request-id": "contoso-C0A747F1-6245-4307-8267-B974340677DC"
      },
      "RequestBody": {
        "topic": "Thread async from C# sdk",
        "participants": [
          {
            "communicationIdentifier": {
              "rawId": "8:acs:db5ad774-5418-4073-9faa-a848e3471f03_00000011-48ad-60a1-9806-113a0d00f914",
              "communicationUser": {
                "id": "8:acs:db5ad774-5418-4073-9faa-a848e3471f03_00000011-48ad-60a1-9806-113a0d00f914"
              }
            },
            "displayName": "user1"
          },
          {
            "communicationIdentifier": {
              "rawId": "8:acs:db5ad774-5418-4073-9faa-a848e3471f03_00000011-48ad-636f-570c-113a0d00edc6",
              "communicationUser": {
                "id": "8:acs:db5ad774-5418-4073-9faa-a848e3471f03_00000011-48ad-636f-570c-113a0d00edc6"
              }
            },
            "displayName": "user2"
          },
          {
            "communicationIdentifier": {
              "rawId": "8:acs:db5ad774-5418-4073-9faa-a848e3471f03_00000011-48ad-673c-9806-113a0d00f915",
              "communicationUser": {
                "id": "8:acs:db5ad774-5418-4073-9faa-a848e3471f03_00000011-48ad-673c-9806-113a0d00f915"
              }
            },
            "displayName": "user3"
          }
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2021-04-05-preview6, 2021-09-07, 2021-10-01-preview7",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://petr-acs-tests-cs.communication.azure.com/chat/threads/19%3Aqdxn5cdQj2npksv0iQLX8TFJxskJtHjJD13f0RmVpb41@thread.v2",
        "MS-CV": "EOnnaL/FZkmcKr8I56OUKA.0",
        "X-Processing-Time": "697ms"
      },
      "ResponseBody": {
        "chatThread": {
          "id": "19:qdxn5cdQj2npksv0iQLX8TFJxskJtHjJD13f0RmVpb41@thread.v2",
          "topic": "Thread async from C# sdk",
          "createdOn": "2022-05-09T12:29:29Z",
          "createdByCommunicationIdentifier": {
            "rawId": "8:acs:db5ad774-5418-4073-9faa-a848e3471f03_00000011-48ad-60a1-9806-113a0d00f914",
            "communicationUser": {
              "id": "8:acs:db5ad774-5418-4073-9faa-a848e3471f03_00000011-48ad-60a1-9806-113a0d00f914"
            }
          }
        }
      }
    },
[...]
    {
      "RequestUri": "https://petr-acs-tests-cs.communication.azure.com/chat/threads/19%3Aqdxn5cdQj2npksv0iQLX8TFJxskJtHjJD13f0RmVpb41%40thread.v2/participants?api-version=2021-09-07",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2021-04-05-preview6, 2021-09-07, 2021-10-01-preview7",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "tdjIdS/e2EiFtd/p9I6pIg.0",
        "X-Processing-Time": "109ms"
      },
      "ResponseBody": {
        "value": [
          {
            "communicationIdentifier": {
              "rawId": "8:acs:db5ad774-5418-4073-9faa-a848e3471f03_00000011-48ad-60a1-9806-113a0d00f914",
              "communicationUser": {
                "id": "8:acs:db5ad774-5418-4073-9faa-a848e3471f03_00000011-48ad-60a1-9806-113a0d00f914"
              }
            },
            "displayName": "user1",
            "shareHistoryTime": "1970-01-01T00:00:00Z"
          },
          {
            "communicationIdentifier": {
              "rawId": "8:acs:db5ad774-5418-4073-9faa-a848e3471f03_00000011-48ad-636f-570c-113a0d00edc6",
              "communicationUser": {
                "id": "8:acs:db5ad774-5418-4073-9faa-a848e3471f03_00000011-48ad-636f-570c-113a0d00edc6"
              }
            },
            "displayName": "user2",
            "shareHistoryTime": "1970-01-01T00:00:00Z"
          },
          {
            "communicationIdentifier": {
              "rawId": "8:acs:db5ad774-5418-4073-9faa-a848e3471f03_00000011-48ad-673c-9806-113a0d00f915",
              "communicationUser": {
                "id": "8:acs:db5ad774-5418-4073-9faa-a848e3471f03_00000011-48ad-673c-9806-113a0d00f915"
              }
            },
            "displayName": "user3",
            "shareHistoryTime": "1970-01-01T00:00:00Z"
          }
        ]
      }
    },
    {
      "RequestUri": "https://petr-acs-tests-cs.communication.azure.com/chat/threads/19%3Aqdxn5cdQj2npksv0iQLX8TFJxskJtHjJD13f0RmVpb41%40thread.v2?api-version=2021-09-07",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson"
      },
      "RequestBody": {
        "topic": "Updated topic - C# sdk"
      },
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2021-04-05-preview6, 2021-09-07, 2021-10-01-preview7",
        "MS-CV": "BySw/5JUQUWfO7Ju61Ponw.0",
        "X-Processing-Time": "215ms"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://petr-acs-tests-cs.communication.azure.com/chat/threads/19%3Aqdxn5cdQj2npksv0iQLX8TFJxskJtHjJD13f0RmVpb41%40thread.v2/messages?api-version=2021-09-07",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "content": "Content for message 1",
        "senderDisplayName": "DisplayName sender message 1",
        "type": "text"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2021-04-05-preview6, 2021-09-07, 2021-10-01-preview7",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://petr-acs-tests-cs.communication.azure.com/chat/threads/19%3Aqdxn5cdQj2npksv0iQLX8TFJxskJtHjJD13f0RmVpb41@thread.v2/messages/1652099371924",
        "MS-CV": "ewLa1/e7UkCREa8gm84y5g.0",
        "X-Processing-Time": "186ms"
      },
      "ResponseBody": {
        "id": "1652099371924"
      }
    },
    {
      "RequestUri": "https://petr-acs-tests-cs.communication.azure.com/chat/threads/19%3A7KiiSJ15SSioqRH5mSP-Hy_2-cGzlS0fvz0xtj5BHK81%40thread.v2/messages?api-version=2021-09-07",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "content": "Content for message 2",
        "senderDisplayName": "DisplayName sender message 1",
        "type": "html"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2021-04-05-preview6, 2021-09-07, 2021-10-01-preview7",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://petr-acs-tests-cs.communication.azure.com/chat/threads/19%3A7KiiSJ15SSioqRH5mSP-Hy_2-cGzlS0fvz0xtj5BHK81@thread.v2/messages/1652099372356",
        "MS-CV": "GBWukwQQfkSPZTiPBsJQLQ.0",
        "X-Processing-Time": "194ms"
      },
      "ResponseBody": {
        "id": "1652099372356"
      }
    },
[...]
    {
      "RequestUri": "https://petr-acs-tests-cs.communication.azure.com/chat/threads/19%3Aqdxn5cdQj2npksv0iQLX8TFJxskJtHjJD13f0RmVpb41%40thread.v2/messages?api-version=2021-09-07",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "content": "Content for message 7",
        "senderDisplayName": "DisplayName sender message options message 7",
        "type": "html",
        "metadata": {
          "tags": "tag value",
          "deliveryMode": "deliveryMode value",
          "onedriveReferences": "onedriveReferences value",
          "amsreferences": "[\u0022test url file 1\u0022,\u0022test url file2\u0022]",
          "key": "value key"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2021-04-05-preview6, 2021-09-07, 2021-10-01-preview7",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://petr-acs-tests-cs.communication.azure.com/chat/threads/19%3Aqdxn5cdQj2npksv0iQLX8TFJxskJtHjJD13f0RmVpb41@thread.v2/messages/1652099374588",
        "MS-CV": "\u002BGFMB\u002BNmUUKdugoxQaRBeg.0",
        "X-Processing-Time": "173ms"
      },
      "ResponseBody": {
        "id": "1652099374588"
      }
    },
    {
      "RequestUri": "https://petr-acs-tests-cs.communication.azure.com/chat/threads/19%3Aqdxn5cdQj2npksv0iQLX8TFJxskJtHjJD13f0RmVpb41%40thread.v2/messages/1652099371924?api-version=2021-09-07",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2021-04-05-preview6, 2021-09-07, 2021-10-01-preview7",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "frByyXgCNEyjs4/lDr64CQ.0",
        "X-Processing-Time": "125ms"
      },
      "ResponseBody": {
        "id": "1652099371924",
        "type": "text",
        "sequenceId": "4",
        "version": "1652099371924",
        "content": {
          "message": "Content for message 1"
        },
        "senderDisplayName": "DisplayName sender message 1",
        "createdOn": "2022-05-09T12:29:31Z",
        "senderCommunicationIdentifier": {
          "rawId": "8:acs:db5ad774-5418-4073-9faa-a848e3471f03_00000011-48ad-60a1-9806-113a0d00f914",
          "communicationUser": {
            "id": "8:acs:db5ad774-5418-4073-9faa-a848e3471f03_00000011-48ad-60a1-9806-113a0d00f914"
          }
        }
      }
    },
    {
      "RequestUri": "https://petr-acs-tests-cs.communication.azure.com/chat/threads/19%3A7KiiSJ15SSioqRH5mSP-Hy_2-cGzlS0fvz0xtj5BHK81%40thread.v2/messages/1652099372356?api-version=2021-09-07",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2021-04-05-preview6, 2021-09-07, 2021-10-01-preview7",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "s\u002BTiB7JyOEqJ6J/lW05khg.0",
        "X-Processing-Time": "140ms"
      },
      "ResponseBody": {
        "id": "1652099372356",
        "type": "html",
        "sequenceId": "3",
        "version": "1652099372356",
        "content": {
          "message": "Content for message 2"
        },
        "senderDisplayName": "DisplayName sender message 1",
        "createdOn": "2022-05-09T12:29:32Z",
        "senderCommunicationIdentifier": {
          "rawId": "8:acs:db5ad774-5418-4073-9faa-a848e3471f03_00000011-48ad-60a1-9806-113a0d00f914",
          "communicationUser": {
            "id": "8:acs:db5ad774-5418-4073-9faa-a848e3471f03_00000011-48ad-60a1-9806-113a0d00f914"
          }
        }
      }
    },
[...]
    {
      "RequestUri": "https://petr-acs-tests-cs.communication.azure.com/chat/threads/19%3Aqdxn5cdQj2npksv0iQLX8TFJxskJtHjJD13f0RmVpb41%40thread.v2/messages?maxPageSize=2\u0026api-version=2021-09-07",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2021-04-05-preview6, 2021-09-07, 2021-10-01-preview7",
        "Con[...]
    {
      "RequestUri": "https://petr-acs-tests-cs.communication.azure.com/chat/threads/19:qdxn5cdQj2npksv0iQLX8TFJxskJtHjJD13f0RmVpb41@thread.v2/messages?syncState=3e3900000031393a7164786e356364516a326e706b73763069514c583854464a78736b4a74486a4a4431336630526d5670623431407468726561642e7632018adccba880010000fcddcba880010000\u0026startTime=1%2F1%2F1970%2012%3A00%3A00%20AM%20%2B00%3A00\u0026maxPageSize=2\u0026api-version=2021-09-07",
      "RequestMethod": "GET",
      "RequestHeaders": {
        [...]
[...]
    {
      "RequestUri": "https://petr-acs-tests-cs.communication.azure.com/chat/threads/19:qdxn5cdQj2npksv0iQLX8TFJxskJtHjJD13f0RmVpb41@thread.v2/messages?syncState=3e3900000031393a7164786e356364516a326e706b73763069514c583854464a78736b4a74486a4a4431336630526d5670623431407468726561642e76320194d3cba880010000fcddcba880010000\u0026startTime=1%2F1%2F1970%2012%3A00%3A00%20AM%20%2B00%3A00\u0026maxPageSize=2\u0026api-version=2021-09-07",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2021-04-05-preview6, 2021-09-07, 2021-10-01-preview7",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "HBjF\u002BUSXYkWiW4IZtlvSWA.0",
        "X-Processing-Time": "252ms"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "1652099371523",
            "type": "topicUpdated",
            "sequenceId": "3",
            "version": "1652099371523",
            "content": {
              "topic": "Updated topic - C# sdk",
              "initiatorCommunicationIdentifier": {
                "rawId": "8:acs:db5ad774-5418-4073-9faa-a848e3471f03_00000011-48ad-60a1-9806-113a0d00f914",
                "communicationUser": {
                  "id": "8:acs:db5ad774-5418-4073-9faa-a848e3471f03_00000011-48ad-60a1-9806-113a0d00f914"
                }
              }
            },
            "createdOn": "2022-05-09T12:29:31Z"
          },
          {
            "id": "1652099370246",
            "type": "topicUpdated",
            "sequenceId": "2",
            "version": "1652099370246",
            "content": {
              "topic": "Thread async from C# sdk",
              "initiatorCommunicationIdentifier": {
                "rawId": "8:acs:db5ad774-5418-4073-9faa-a848e3471f03_00000011-48ad-60a1-9806-113a0d00f914",
                "communicationUser": {
                  "id": "8:acs:db5ad774-5418-4073-9faa-a848e3471f03_00000011-48ad-60a1-9806-113a0d00f914"
                }
              }
            },
            "createdOn": "2022-05-09T12:29:30Z"
          }
        ],
        "nextLink": "https://petr-acs-tests-cs.communication.azure.com/chat/threads/19:qdxn5cdQj2npksv0iQLX8TFJxskJtHjJD13f0RmVpb41@thread.v2/messages?syncState=3e3900000031393a7164786e356364516a326e706b73763069514c583854464a78736b4a74486a4a4431336630526d5670623431407468726561642e76320106cdcba880010000fcddcba880010000\u0026startTime=1%2F1%2F1970%2012%3A00%3A00%20AM%20%2B00%3A00\u0026maxPageSize=2\u0026api-version=2021-09-07"
      }
    },
[...]
    {
      "RequestUri": "https://petr-acs-tests-cs.communication.azure.com/chat/threads/19%3Aqdxn5cdQj2npksv0iQLX8TFJxskJtHjJD13f0RmVpb41%40thread.v2/messages/1652099371924?api-version=2021-09-07",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2021-04-05-preview6, 2021-09-07, 2021-10-01-preview7",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "z654IpnaNkiz2PjPD8gOKw.0",
        "X-Processing-Time": "108ms"
      },
      "ResponseBody": {
        "id": "1652099371924",
        "type": "text",
        "sequenceId": "10",
        "version": "1652099377751",
        "content": {
          "message": "This is message 1 content updated"
        },
        "senderDisplayName": "DisplayName sender message 1",
        "createdOn": "2022-05-09T12:29:31Z",
        "senderCommunicationIdentifier": {
          "rawId": "8:acs:db5ad774-5418-4073-9faa-a848e3471f03_00000011-48ad-60a1-9806-113a0d00f914",
          "communicationUser": {
            "id": "8:acs:db5ad774-5418-4073-9faa-a848e3471f03_00000011-48ad-60a1-9806-113a0d00f914"
          }
        },
        "editedOn": "2022-05-09T12:29:37Z"
      }
    },
[...]
    {
      "RequestUri": "https://petr-acs-tests-cs.communication.azure.com/chat/threads/19%3Aqdxn5cdQj2npksv0iQLX8TFJxskJtHjJD13f0RmVpb41%40thread.v2/participants/:add?api-version=2021-09-07",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "participants": [
          {
            "communicationIdentifier": {
              "rawId": "8:acs:db5ad774-5418-4073-9faa-a848e3471f03_00000011-48ad-69f3-9806-113a0d00f916",
              "communicationUser": {
                "id": "8:acs:db5ad774-5418-4073-9faa-a848e3471f03_00000011-48ad-69f3-9806-113a0d00f916"
              }
            },
            "displayName": "user4"
          }
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2021-04-05-preview6, 2021-09-07, 2021-10-01-preview7",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "n/MWsr7XsUGdXq2LiMSJjg.0",
        "X-Processing-Time": "225ms"
      },
      "ResponseBody": {}
    },
[...]
    {
      "RequestUri": "https://petr-acs-tests-cs.communication.azure.com/chat/threads/19%3Aqdxn5cdQj2npksv0iQLX8TFJxskJtHjJD13f0RmVpb41%40thread.v2/participants?maxPageSize=2\u0026api-version=2021-09-07",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2021-04-05-preview6, 2021-09-07, 2021-10-01-preview7",
        [...]
    {
      "RequestUri": "https://petr-acs-tests-cs.communication.azure.com/chat/threads/19:qdxn5cdQj2npksv0iQLX8TFJxskJtHjJD13f0RmVpb41@thread.v2/participants?skip=2\u0026maxPageSize=2\u0026api-version=2021-09-07",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2021-04-05-preview6, 2021-09-07, 2021-10-01-preview7",
[...]
[...]
    {
      "RequestUri": "https://petr-acs-tests-cs.communication.azure.com/chat/threads/19%3Aqdxn5cdQj2npksv0iQLX8TFJxskJtHjJD13f0RmVpb41%40thread.v2/participants/:remove?api-version=2021-09-07",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "rawId": "8:acs:db5ad774-5418-4073-9faa-a848e3471f03_00000011-48ad-69f3-9806-113a0d00f916",
        "communicationUser": {
          "id": "8:acs:db5ad774-5418-4073-9faa-a848e3471f03_00000011-48ad-69f3-9806-113a0d00f916"
        }
      },
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2021-04-05-preview6, 2021-09-07, 2021-10-01-preview7",
        "MS-CV": "pvk2t0PIHUKtwb6LUrqk7A.0",
        "X-Processing-Time": "203ms"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://petr-acs-tests-cs.communication.azure.com/chat/threads/19%3Aqdxn5cdQj2npksv0iQLX8TFJxskJtHjJD13f0RmVpb41%40thread.v2/typing?api-version=2021-09-07",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {},
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-05-preview6, 2021-09-07, 2021-10-01-preview7",
        "MS-CV": "Jq/wF65DeEKcSdEi6XK0uA.0",
        "X-Processing-Time": "119ms"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://petr-acs-tests-cs.communication.azure.com/chat/threads?api-version=2021-09-07",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2021-04-05-preview6, 2021-09-07, 2021-10-01-preview7",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "86TeG1HmQ0mXjg0eTW1nMg.0",
        "X-Processing-Time": "182ms"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "19:qdxn5cdQj2npksv0iQLX8TFJxskJtHjJD13f0RmVpb41@thread.v2",
            "topic": "Updated topic - C# sdk",
            "lastMessageReceivedOn": "2022-05-09T12:29:39Z"
          },
          {
            "id": "19:7KiiSJ15SSioqRH5mSP-Hy_2-cGzlS0fvz0xtj5BHK81@thread.v2",
            "topic": "Thread async from C# sdk",
            "lastMessageReceivedOn": "2022-05-09T12:29:32Z"
          }
        ]
      }
    },
    {
      "RequestUri": "https://petr-acs-tests-cs.communication.azure.com/chat/threads/19%3Aqdxn5cdQj2npksv0iQLX8TFJxskJtHjJD13f0RmVpb41%40thread.v2?api-version=2021-09-07",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2021-04-05-preview6, 2021-09-07, 2021-10-01-preview7",
        "MS-CV": "D3gKM0RB30mbdidAxWSxhw.0",
        "X-Processing-Time": "196ms"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://petr-acs-tests-cs.communication.azure.com/;accesskey=Kg==",
    "RandomSeed": "970974641"
  }
}
