{
  "Entries": [
    {
      "RequestUri": "https://chat-sdktester-e2e.communication.azure.com/identities?api-version=2021-03-07",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {},
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2020-07-20-preview2, 2021-03-07",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "sk/d0GnvWEe5RP/UF/GkOg.0",
        "X-Processing-Time": "93ms"
      },
      "ResponseBody": {
        "identity": {
          "id": "8:acs:357e39d2-a29a-4bf6-88cc-fda0afc2c0ed_00000008-a486-c96f-71bf-a43a0d000838"
        }
      }
    },
    {
      "RequestUri": "https://chat-sdktester-e2e.communication.azure.com/identities/8%3Aacs%3A357e39d2-a29a-4bf6-88cc-fda0afc2c0ed_00000008-a486-c96f-71bf-a43a0d000838/:issueAccessToken?api-version=2021-03-07",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "scopes": [
          "chat"
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2020-07-20-preview2, 2021-03-07",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "kOJOTqcP6UeacOQNkUCnuw.0",
        "X-Processing-Time": "216ms"
      },
      "ResponseBody": {
        "token": "Sanitized",
        "expiresOn": "2021-03-06T23:07:14.5394487\u002B00:00"
      }
    },
[...]
    {
      "RequestUri": "https://chat-sdktester-e2e.communication.azure.com/chat/threads?api-version=2021-01-27-preview4",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c",
        "Content-Type": "application/json",
        "repeatability-Request-Id": "contoso-F0A747F1-6245-4307-8267-B974340677D2"
      },
      "RequestBody": {
        "topic": "Thread sync from C# sdk",
        "participants": [
          {
            "communicationIdentifier": {
              "communicationUser": {
                "id": "8:acs:357e39d2-a29a-4bf6-88cc-fda0afc2c0ed_00000008-a486-c96f-71bf-a43a0d000838"
              }
            },
            "displayName": "user1"
          },
          {
            "communicationIdentifier": {
              "communicationUser": {
                "id": "8:acs:357e39d2-a29a-4bf6-88cc-fda0afc2c0ed_00000008-a486-cbf6-71bf-a43a0d000839"
              }
            },
            "displayName": "user2"
          },
          {
            "communicationIdentifier": {
              "communicationUser": {
                "id": "8:acs:357e39d2-a29a-4bf6-88cc-fda0afc2c0ed_00000008-a486-ce65-71bf-a43a0d00083a"
              }
            },
            "displayName": "user3"
          }
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2020-09-21-preview2, 2020-11-01-preview3, 2021-01-27-preview4, 2021-03-01-preview5",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://chat-sdktester-e2e.communication.azure.com/chat/threads/19%3ARgXp7nlWrDiDk2iGSeiA0OBokQdl0LYoNgBewvgvn9A1@thread.v2",
        "MS-CV": "gOGTNpAv5kGs510C2t3/fQ.0",
        "X-Processing-Time": "502ms"
      },
      "ResponseBody": {
        "chatThread": {
          "id": "19:RgXp7nlWrDiDk2iGSeiA0OBokQdl0LYoNgBewvgvn9A1@thread.v2",
          "topic": "Thread sync from C# sdk",
          "createdOn": "2021-03-05T23:07:18Z",
          "createdByCommunicationIdentifier": {
            "rawId": "8:acs:357e39d2-a29a-4bf6-88cc-fda0afc2c0ed_00000008-a486-c96f-71bf-a43a0d000838",
            "communicationUser": {
              "id": "8:acs:357e39d2-a29a-4bf6-88cc-fda0afc2c0ed_00000008-a486-c96f-71bf-a43a0d000838"
            }
          }
        }
      }
    },
[...]
    {
      "RequestUri": "https://chat-sdktester-e2e.communication.azure.com/chat/threads/19%3ARgXp7nlWrDiDk2iGSeiA0OBokQdl0LYoNgBewvgvn9A1%40thread.v2/participants?api-version=2021-01-27-preview4",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2020-11-01-preview3, 2021-01-27-preview4, 2021-03-01-preview5",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "kbra1qiWaEqV\u002BoUFIou17A.0",
        "X-Processing-Time": "143ms"
      },
      "ResponseBody": {
        "value": [
          {
            "communicationIdentifier": {
              "rawId": "8:acs:357e39d2-a29a-4bf6-88cc-fda0afc2c0ed_00000008-a486-c96f-71bf-a43a0d000838",
              "communicationUser": {
                "id": "8:acs:357e39d2-a29a-4bf6-88cc-fda0afc2c0ed_00000008-a486-c96f-71bf-a43a0d000838"
              }
            },
            "displayName": "user1",
            "shareHistoryTime": "1970-01-01T00:00:00Z"
          },
          {
            "communicationIdentifier": {
              "rawId": "8:acs:357e39d2-a29a-4bf6-88cc-fda0afc2c0ed_00000008-a486-cbf6-71bf-a43a0d000839",
              "communicationUser": {
                "id": "8:acs:357e39d2-a29a-4bf6-88cc-fda0afc2c0ed_00000008-a486-cbf6-71bf-a43a0d000839"
              }
            },
            "displayName": "user2",
            "shareHistoryTime": "1970-01-01T00:00:00Z"
          },
          {
            "communicationIdentifier": {
              "rawId": "8:acs:357e39d2-a29a-4bf6-88cc-fda0afc2c0ed_00000008-a486-ce65-71bf-a43a0d00083a",
              "communicationUser": {
                "id": "8:acs:357e39d2-a29a-4bf6-88cc-fda0afc2c0ed_00000008-a486-ce65-71bf-a43a0d00083a"
              }
            },
            "displayName": "user3",
            "shareHistoryTime": "1970-01-01T00:00:00Z"
          }
        ]
      }
    },
    {
      "RequestUri": "https://chat-sdktester-e2e.communication.azure.com/chat/threads/19%3ARgXp7nlWrDiDk2iGSeiA0OBokQdl0LYoNgBewvgvn9A1%40thread.v2?api-version=2021-01-27-preview4",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c",
        "Content-Type": "application/merge-patch\u002Bjson"
      },
      "RequestBody": {
        "topic": "Launch meeting"
      },
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2020-09-21-preview2, 2020-11-01-preview3, 2021-01-27-preview4, 2021-03-01-preview5",
        "MS-CV": "FKpTlSH6f0inTc\u002BPe3zSGg.0",
        "X-Processing-Time": "134ms"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://chat-sdktester-e2e.communication.azure.com/chat/threads/19%3ARgXp7nlWrDiDk2iGSeiA0OBokQdl0LYoNgBewvgvn9A1%40thread.v2/messages?api-version=2021-01-27-preview4",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c",
        "Content-Type": "application/json"
      },
      "RequestBody": "{\u0022content\u0022:\u0022Let\u0027s meet at 11am\u0022}",
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2020-09-21-preview2, 2020-11-01-preview3, 2021-01-27-preview4, 2021-03-01-preview5",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://chat-sdktester-e2e.communication.azure.com/chat/threads/19%3ARgXp7nlWrDiDk2iGSeiA0OBokQdl0LYoNgBewvgvn9A1@thread.v2/messages/1614985640323",
        "MS-CV": "2EFdlHuzNUuY9wZN/kOBhA.0",
        "X-Processing-Time": "128ms"
      },
      "ResponseBody": {
        "id": "1614985640323"
      }
    },
    {
      "RequestUri": "https://chat-sdktester-e2e.communication.azure.com/chat/threads/19%3AyEVUO0I-MwnB0x4QuWYRghC94BxBGIFavRh4y7KHark1%40thread.v2/messages?api-version=2021-01-27-preview4",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "content": "Content for message 2",
        "senderDisplayName": "DisplayName sender message 1",
        "type": "text"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2020-09-21-preview2, 2020-11-01-preview3, 2021-01-27-preview4, 2021-03-01-preview5",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://chat-sdktester-e2e.communication.azure.com/chat/threads/19%3AyEVUO0I-MwnB0x4QuWYRghC94BxBGIFavRh4y7KHark1@thread.v2/messages/1614985640598",
        "MS-CV": "JGC066OE2U2Ib8J9dMOVqg.0",
        "X-Processing-Time": "183ms"
      },
      "ResponseBody": {
        "id": "1614985640598"
      }
    },
[...]
    {
      "RequestUri": "https://chat-sdktester-e2e.communication.azure.com/chat/threads/19%3ARgXp7nlWrDiDk2iGSeiA0OBokQdl0LYoNgBewvgvn9A1%40thread.v2/messages/1614985640323?api-version=2021-01-27-preview4",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2020-09-21-preview2, 2020-11-01-preview3, 2021-01-27-preview4, 2021-03-01-preview5",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "p2DvyhWcokqqLuxS8aK4pA.0",
        "X-Processing-Time": "72ms"
      },
      "ResponseBody": {
        "id": "1614985640323",
        "type": "text",
        "sequenceId": "4",
        "version": "1614985640323",
        "content": {
          "message": "Let\u0027s meet at 11am"
        },
        "senderDisplayName": "",
        "createdOn": "2021-03-05T23:07:20Z",
        "senderCommunicationIdentifier": {
          "rawId": "8:acs:357e39d2-a29a-4bf6-88cc-fda0afc2c0ed_00000008-a486-c96f-71bf-a43a0d000838",
          "communicationUser": {
            "id": "8:acs:357e39d2-a29a-4bf6-88cc-fda0afc2c0ed_00000008-a486-c96f-71bf-a43a0d000838"
          }
        }
      }
    },
    {
      "RequestUri": "https://chat-sdktester-e2e.communication.azure.com/chat/threads/19%3AyEVUO0I-MwnB0x4QuWYRghC94BxBGIFavRh4y7KHark1%40thread.v2/messages/1614985640598?api-version=2021-01-27-preview4",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2020-09-21-preview2, 2020-11-01-preview3, 2021-01-27-preview4, 2021-03-01-preview5",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "wmvDF9WwPkyjdIvh05kn9A.0",
        "X-Processing-Time": "56ms"
      },
      "ResponseBody": {
        "id": "1614985640598",
        "type": "text",
        "sequenceId": "3",
        "version": "1614985640598",
        "content": {
          "message": "Content for message 2"
        },
        "senderDisplayName": "DisplayName sender message 1",
        "createdOn": "2021-03-05T23:07:20Z",
        "senderCommunicationIdentifier": {
          "rawId": "8:acs:357e39d2-a29a-4bf6-88cc-fda0afc2c0ed_00000008-a486-c96f-71bf-a43a0d000838",
          "communicationUser": {
            "id": "8:acs:357e39d2-a29a-4bf6-88cc-fda0afc2c0ed_00000008-a486-c96f-71bf-a43a0d000838"
          }
        }
      }
    },
[...]
    {
      "RequestUri": "https://chat-sdktester-e2e.communication.azure.com/chat/threads/19%3ARgXp7nlWrDiDk2iGSeiA0OBokQdl0LYoNgBewvgvn9A1%40thread.v2/messages?maxPageSize=2\u0026api-version=2021-01-27-preview4",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c"
      },
      "RequestBody": null,
      "Sta[...]
    {
      "RequestUri": "https://chat-sdktester-e2e.communication.azure.com/chat/threads/19:RgXp7nlWrDiDk2iGSeiA0OBokQdl0LYoNgBewvgvn9A1@thread.v2/messages?syncState=3e3900000031393a52675870376e6c57724469446b32694753656941304f426f6b51646c304c596f4e674265777667766e394131407468726561642e763201a73da50478010000f13ea50478010000\u0026startTime=1%2F1%2F1970%2012%3A00%3A00%20AM%20%2B00%3A00\u0026maxPageSize=2\u0026api-version=2021-01-27-preview4",
      "RequestMethod": "GET",
      "RequestHeaders": [...]
[...]
    {
      "RequestUri": "https://chat-sdktester-e2e.communication.azure.com/chat/threads/19:RgXp7nlWrDiDk2iGSeiA0OBokQdl0LYoNgBewvgvn9A1@thread.v2/messages?syncState=3e3900000031393a52675870376e6c57724469446b32694753656941304f426f6b51646c304c596f4e674265777667766e394131407468726561642e763201f737a50478010000f13ea50478010000\u0026startTime=1%2F1%2F1970%2012%3A00%3A00%20AM%20%2B00%3A00\u0026maxPageSize=2\u0026api-version=2021-01-27-preview4",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2020-09-21-preview2, 2020-11-01-preview3, 2021-01-27-preview4, 2021-03-01-preview5",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "KFTzWlhacUGgxDKDzH55XQ.0",
        "X-Processing-Time": "113ms"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "1614985638770",
            "type": "topicUpdated",
            "sequenceId": "2",
            "version": "1614985638770",
            "content": {
              "topic": "Thread sync from C# sdk",
              "initiatorCommunicationIdentifier": {
                "rawId": "8:acs:357e39d2-a29a-4bf6-88cc-fda0afc2c0ed_00000008-a486-c96f-71bf-a43a0d000838",
                "communicationUser": {
                  "id": "8:acs:357e39d2-a29a-4bf6-88cc-fda0afc2c0ed_00000008-a486-c96f-71bf-a43a0d000838"
                }
              }
            },
            "createdOn": "2021-03-05T23:07:18Z"
          },
          {
            "id": "1614985638714",
            "type": "participantAdded",
            "sequenceId": "1",
            "ver[...]
[...]
    {
      "RequestUri": "https://chat-sdktester-e2e.communication.azure.com/chat/threads/19%3ARgXp7nlWrDiDk2iGSeiA0OBokQdl0LYoNgBewvgvn9A1%40thread.v2/messages/1614985640323?api-version=2021-01-27-preview4",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2020-09-21-preview2, 2020-11-01-preview3, 2021-01-27-preview4, 2021-03-01-preview5",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "qJd6Zmz4pEqfEcNkbO\u002BrEg.0",
        "X-Processing-Time": "54ms"
      },
      "ResponseBody": {
        "id": "1614985640323",
        "type": "text",
        "sequenceId": "9",
        "version": "1614985644528",
        "content": {
          "message": "Instead of 11am, let\u0027s meet at 2pm"
        },
        "senderDisplayName": "",
        "createdOn": "2021-03-05T23:07:20Z",
        "senderCommunicationIdentifier": {
          "rawId": "8:acs:357e39d2-a29a-4bf6-88cc-fda0afc2c0ed_00000008-a486-c96f-71bf-a43a0d000838",
          "communicationUser": {
            "id": "8:acs:357e39d2-a29a-4bf6-88cc-fda0afc2c0ed_00000008-a486-c96f-71bf-a43a0d000838"
          }
        },
        "editedOn": "2021-03-05T23:07:24Z"
      }
    },
[...]
    {
      "RequestUri": "https://chat-sdktester-e2e.communication.azure.com/chat/threads/19%3ARgXp7nlWrDiDk2iGSeiA0OBokQdl0LYoNgBewvgvn9A1%40thread.v2/messages?api-version=2021-01-27-preview4",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2020-09-21-preview2, 2020-11-01-preview3, 2021-01-27-preview4, 2021-03-01-preview5",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "t0RIFs28JEe4Ecc2LjQxUw.0",
        "X-Processing-Time": "75ms"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "1614985640323",
            "type": "text",
            "sequenceId": "10",
            "version": "1614985645030",
            "content": {
              "message": ""
            },
            "senderDisplayName": "",
            "createdOn": "2021-03-05T23:07:20Z",
            "senderCommunicationIdentifier": {
              "rawId": "8:acs:357e39d2-a29a-4bf6-88cc-fda0afc2c0ed_00000008-a486-c96f-71bf-a43a0d000838",
              "communicationUser": {
                "id": "8:acs:357e39d2-a29a-4bf6-88cc-fda0afc2c0ed_00000008-a486-c96f-71bf-a43a0d000838"
              }
            },
            "deletedOn": "2021-03-05T23:07:24Z"
          },
          {
            "id": "1614985641713",
            "type": "text",
            "sequenceId": "8",
            "version": "1614985641713",
            "content": {
              "message": "Content for message 6"
            },
            "senderDisplayName": "DisplayName sender message 1",
            "createdOn": "2021-03-05T23:07:21Z",
            "senderCommunicationIdentifier": {
              "rawId": "8:acs:357e39d2-a29a-4bf6-88cc-fda0afc2c0ed_[...]
[...]
    {
      "RequestUri": "https://chat-sdktester-e2e.communication.azure.com/chat/threads/19%3ARgXp7nlWrDiDk2iGSeiA0OBokQdl0LYoNgBewvgvn9A1%40thread.v2/participants/:add?api-version=2021-01-27-preview4",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "participants": [
          {
            "communicationIdentifier": {
              "communicationUser": {
                "id": "8:acs:357e39d2-a29a-4bf6-88cc-fda0afc2c0ed_00000008-a486-d0f3-71bf-a43a0d00083c"
              }
            },
            "displayName": "user4"
          }
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2020-11-01-preview3, 2021-01-27-preview4, 2021-03-01-preview5",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "0s7VpOTow0ek/IjAOXaxWw.0",
        "X-Processing-Time": "212ms"
      },
      "ResponseBody": {}
    },
[...]
    {
      "RequestUri": "https://chat-sdktester-e2e.communication.azure.com/chat/threads/19%3ARgXp7nlWrDiDk2iGSeiA0OBokQdl0LYoNgBewvgvn9A1%40thread.v2/participants?maxPageSize=2\u0026api-version=2021-01-27-preview4",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c"
      },
      "RequestBody": null,
      [...]
    {
      "RequestUri": "https://chat-sdktester-e2e.communication.azure.com/chat/threads/19:RgXp7nlWrDiDk2iGSeiA0OBokQdl0LYoNgBewvgvn9A1@thread.v2/participants?skip=2\u0026maxPageSize=2\u0026api-version=2021-01-27-preview4",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c"
      },
      "RequestBody": null[...]
[...]
    {
      "RequestUri": "https://chat-sdktester-e2e.communication.azure.com/chat/threads/19%3ARgXp7nlWrDiDk2iGSeiA0OBokQdl0LYoNgBewvgvn9A1%40thread.v2/participants/:remove?api-version=2021-01-27-preview4",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "communicationUser": {
          "id": "8:acs:357e39d2-a29a-4bf6-88cc-fda0afc2c0ed_00000008-a486-d0f3-71bf-a43a0d00083c"
        }
      },
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2020-11-01-preview3, 2021-01-27-preview4, 2021-03-01-preview5",
        "MS-CV": "udUQ7Mgkc0y9Ao/RpQ36kQ.0",
        "X-Processing-Time": "204ms"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://chat-sdktester-e2e.communication.azure.com/chat/threads/19%3ARgXp7nlWrDiDk2iGSeiA0OBokQdl0LYoNgBewvgvn9A1%40thread.v2/typing?api-version=2021-01-27-preview4",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2020-09-21-preview2, 2020-11-01-preview3, 2021-01-27-preview4, 2021-03-01-preview5",
        "MS-CV": "qN0N1jzjek2pkOfDZsYd7Q.0",
        "X-Processing-Time": "110ms"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://chat-sdktester-e2e.communication.azure.com/chat/threads?api-version=2021-01-27-preview4",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2020-09-21-preview2, 2020-11-01-preview3, 2021-01-27-preview4, 2021-03-01-preview5",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "uHWz\u002Bm/1DkyR43zhKw4nHA.0",
        "X-Processing-Time": "74ms"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "19:RgXp7nlWrDiDk2iGSeiA0OBokQdl0LYoNgBewvgvn9A1@thread.v2",
            "topic": "Launch meeting",
            "lastMessageReceivedOn": "2021-03-05T23:07:26Z"
          },
          {
            "id": "19:yEVUO0I-MwnB0x4QuWYRghC94BxBGIFavRh4y7KHark1@thread.v2",
            "topic": "Thread sync from C# sdk",
            "lastMessageReceivedOn": "2021-03-05T23:07:19Z"
          }
        ]
      }
    },
    {
      "RequestUri": "https://chat-sdktester-e2e.communication.azure.com/chat/threads/19%3ARgXp7nlWrDiDk2iGSeiA0OBokQdl0LYoNgBewvgvn9A1%40thread.v2?api-version=2021-01-27-preview4",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2020-09-21-preview2, 2020-11-01-preview3, 2021-01-27-preview4, 2021-03-01-preview5",
        "MS-CV": "pWCrMeYHAEyXmIlsrXuYFQ.0",
        "X-Processing-Time": "147ms"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "COMMUNICATION_CONNECTION_STRING": "endpoint=https://chat-sdktester-e2e.communication.azure.com/;accesskey=Kg==",
    "RandomSeed": "800004652"
  }
}