{
  "Entries": [
    {
      "RequestUri": "https://chat-sdktester-e2e.int.communication.azure.net/identities?api-version=2021-03-07",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {},
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "a2p2jeS2ZE6aC\u002Bd7rUyvgQ.0",
        "X-Processing-Time": "28ms"
      },
      "ResponseBody": {
        "identity": {
          "id": "8:acs:46849534-eb08-4ab7-bde7-c36928cd1547_00000009-a194-96eb-9c58-373a0d00156b"
        }
      }
    },
    {
      "RequestUri": "https://chat-sdktester-e2e.int.communication.azure.net/identities/8%3Aacs%3A46849534-eb08-4ab7-bde7-c36928cd1547_00000009-a194-96eb-9c58-373a0d00156b/:issueAccessToken?api-version=2021-03-07",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "scopes": [
          "chat"
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "11UnwTNCFUmZ2QtNn0gq9g.0",
        "X-Processing-Time": "88ms"
      },
      "ResponseBody": {
        "token": "Sanitized",
        "expiresOn": "2021-04-25T02:26:14.5688434\u002B00:00"
      }
    },
[...]
    {
      "RequestUri": "https://chat-sdktester-e2e.int.communication.azure.net/chat/threads?api-version=2021-04-05-preview6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c",
        "Content-Type": "application/json",
        "repeatability-request-id": "contoso-C0A747F1-6245-4307-8267-B974340677DC"
      },
      "RequestBody": {
        "topic": "Thread async from C# sdk",
        "participants": [
          {
            "communicationIdentifier": {
              "communicationUser": {
                "id": "8:acs:46849534-eb08-4ab7-bde7-c36928cd1547_00000009-a194-96eb-9c58-373a0d00156b"
              }
            },
            "displayName": "user1"
          },
          {
            "communicationIdentifier": {
              "communicationUser": {
                "id": "8:acs:46849534-eb08-4ab7-bde7-c36928cd1547_00000009-a194-9847-9c58-373a0d00156c"
              }
            },
            "displayName": "user2"
          },
          {
            "communicationIdentifier": {
              "communicationUser": {
                "id": "8:acs:46849534-eb08-4ab7-bde7-c36928cd1547_00000009-a194-9908-9c58-373a0d00156d"
              }
            },
            "displayName": "user3"
          }
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2020-09-21-preview2, 2020-11-01-preview3, 2021-01-27-preview4, 2021-03-01-preview5, 2021-03-07, 2021-04-05-preview6",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://chat-sdktester-e2e.int.communication.azure.net/chat/threads/19%3ANcL9SsChpF9gmZhFZe5Qfhk9qrdXBChrWLhYDpD8nB01@thread.v2",
        "MS-CV": "guxE3yn4IESA9/xRxVzxuw.0",
        "X-Processing-Time": "855ms"
      },
      "ResponseBody": {
        "chatThread": {
          "id": "19:NcL9SsChpF9gmZhFZe5Qfhk9qrdXBChrWLhYDpD8nB01@thread.v2",
          "topic": "Thread async from C# sdk",
          "createdOn": "2021-04-24T02:26:16Z",
          "createdByCommunicationIdentifier": {
            "rawId": "8:acs:46849534-eb08-4ab7-bde7-c36928cd1547_00000009-a194-96eb-9c58-373a0d00156b",
            "communicationUser": {
              "id": "8:acs:46849534-eb08-4ab7-bde7-c36928cd1547_00000009-a194-96eb-9c58-373a0d00156b"
            }
          }
        }
      }
    },
[...]
    {
      "RequestUri": "https://chat-sdktester-e2e.int.communication.azure.net/chat/threads/19%3ANcL9SsChpF9gmZhFZe5Qfhk9qrdXBChrWLhYDpD8nB01%40thread.v2/participants?api-version=2021-04-05-preview6",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2020-11-01-preview3, 2021-01-27-preview4, 2021-03-01-preview5, 2021-03-07, 2021-04-05-preview6",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "XsGX38E6E0iyhq8vyjoJ2A.0",
        "X-Processing-Time": "254ms"
      },
      "ResponseBody": {
        "value": [
          {
            "communicationIdentifier": {
              "rawId": "8:acs:46849534-eb08-4ab7-bde7-c36928cd1547_00000009-a194-96eb-9c58-373a0d00156b",
              "communicationUser": {
                "id": "8:acs:46849534-eb08-4ab7-bde7-c36928cd1547_00000009-a194-96eb-9c58-373a0d00156b"
              }
            },
            "displayName": "user1",
            "shareHistoryTime": "1970-01-01T00:00:00Z"
          },
          {
            "communicationIdentifier": {
              "rawId": "8:acs:46849534-eb08-4ab7-bde7-c36928cd1547_00000009-a194-9847-9c58-373a0d00156c",
              "communicationUser": {
                "id": "8:acs:46849534-eb08-4ab7-bde7-c36928cd1547_00000009-a194-9847-9c58-373a0d00156c"
              }
            },
            "displayName": "user2",
            "shareHistoryTime": "1970-01-01T00:00:00Z"
          },
          {
            "communicationIdentifier": {
              "rawId": "8:acs:46849534-eb08-4ab7-bde7-c36928cd1547_00000009-a194-9908-9c58-373a0d00156d",
              "communicationUser": {
                "id": "8:acs:46849534-eb08-4ab7-bde7-c36928cd1547_00000009-a194-9908-9c58-373a0d00156d"
              }
            },
            "displayName": "user3",
            "shareHistoryTime": "1970-01-01T00:00:00Z"
          }
        ]
      }
    },
    {
      "RequestUri": "https://chat-sdktester-e2e.int.communication.azure.net/chat/threads/19%3ANcL9SsChpF9gmZhFZe5Qfhk9qrdXBChrWLhYDpD8nB01%40thread.v2?api-version=2021-04-05-preview6",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c",
        "Content-Type": "application/merge-patch\u002Bjson"
      },
      "RequestBody": {
        "topic": "Updated topic - C# sdk"
      },
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2020-09-21-preview2, 2020-11-01-preview3, 2021-01-27-preview4, 2021-03-01-preview5, 2021-03-07, 2021-04-05-preview6",
        "MS-CV": "YN0sgsZsQ0\u002BI7eprfFDryQ.0",
        "X-Processing-Time": "387ms"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://chat-sdktester-e2e.int.communication.azure.net/chat/threads/19%3ANcL9SsChpF9gmZhFZe5Qfhk9qrdXBChrWLhYDpD8nB01%40thread.v2/messages?api-version=2021-04-05-preview6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "content": "Content for message 1",
        "senderDisplayName": "DisplayName sender message 1",
        "type": "text"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2020-09-21-preview2, 2020-11-01-preview3, 2021-01-27-preview4, 2021-03-01-preview5, 2021-03-07, 2021-04-05-preview6",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://chat-sdktester-e2e.int.communication.azure.net/chat/threads/19%3ANcL9SsChpF9gmZhFZe5Qfhk9qrdXBChrWLhYDpD8nB01@thread.v2/messages/1619231179602",
        "MS-CV": "MZYNSd3jwECHifmOXk8AaQ.0",
        "X-Processing-Time": "368ms"
      },
      "ResponseBody": {
        "id": "1619231179602"
      }
    },
    {
      "RequestUri": "https://chat-sdktester-e2e.int.communication.azure.net/chat/threads/19%3AJCSdEdjIjemq7oSsa7RL0rRqkRZ_f8c2YBt0FIymQik1%40thread.v2/messages?api-version=2021-04-05-preview6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "content": "Content for message 2",
        "senderDisplayName": "DisplayName sender message 1",
        "type": "html"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2020-09-21-preview2, 2020-11-01-preview3, 2021-01-27-preview4, 2021-03-01-preview5, 2021-03-07, 2021-04-05-preview6",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://chat-sdktester-e2e.int.communication.azure.net/chat/threads/19%3AJCSdEdjIjemq7oSsa7RL0rRqkRZ_f8c2YBt0FIymQik1@thread.v2/messages/1619231180024",
        "MS-CV": "01LMUF8If0qtGrPkSYUEQg.0",
        "X-Processing-Time": "363ms"
      },
      "ResponseBody": {
        "id": "1619231180024"
      }
    },
[...]
    {
      "RequestUri": "https://chat-sdktester-e2e.int.communication.azure.net/chat/threads/19%3ANcL9SsChpF9gmZhFZe5Qfhk9qrdXBChrWLhYDpD8nB01%40thread.v2/messages/1619231179602?api-version=2021-04-05-preview6",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2020-09-21-preview2, 2020-11-01-preview3, 2021-01-27-preview4, 2021-03-01-preview5, 2021-03-07, 2021-04-05-preview6",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "sTMqdymWYEii9ZhCEfapEw.0",
        "X-Processing-Time": "260ms"
      },
      "ResponseBody": {
        "id": "1619231179602",
        "type": "text",
        "sequenceId": "4",
        "version": "1619231179602",
        "content": {
          "message": "Content for message 1"
        },
        "senderDisplayName": "DisplayName sender message 1",
        "createdOn": "2021-04-24T02:26:19Z",
        "senderCommunicationIdentifier": {
          "rawId": "8:acs:46849534-eb08-4ab7-bde7-c36928cd1547_00000009-a194-96eb-9c58-373a0d00156b",
          "communicationUser": {
            "id": "8:acs:46849534-eb08-4ab7-bde7-c36928cd1547_00000009-a194-96eb-9c58-373a0d00156b"
          }
        }
      }
    },
    {
      "RequestUri": "https://chat-sdktester-e2e.int.communication.azure.net/chat/threads/19%3AJCSdEdjIjemq7oSsa7RL0rRqkRZ_f8c2YBt0FIymQik1%40thread.v2/messages/1619231180024?api-version=2021-04-05-preview6",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2020-09-21-preview2, 2020-11-01-preview3, 2021-01-27-preview4, 2021-03-01-preview5, 2021-03-07, 2021-04-05-preview6",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "/Fx8SxPnT0SQWMsWmVRNIg.0",
        "X-Processing-Time": "252ms"
      },
      "ResponseBody": {
        "id": "1619231180024",
        "type": "html",
        "sequenceId": "3",
        "version": "1619231180024",
        "content": {
          "message": "Content for message 2"
        },
        "senderDisplayName": "DisplayName sender message 1",
        "createdOn": "2021-04-24T02:26:20Z",
        "senderCommunicationIdentifier": {
          "rawId": "8:acs:46849534-eb08-4ab7-bde7-c36928cd1547_00000009-a194-96eb-9c58-373a0d00156b",
          "communicationUser": {
            "id": "8:acs:46849534-eb08-4ab7-bde7-c36928cd1547_00000009-a194-96eb-9c58-373a0d00156b"
          }
        }
      }
    },
[...]
    {
      "RequestUri": "https://chat-sdktester-e2e.int.communication.azure.net/chat/threads/19%3ANcL9SsChpF9gmZhFZe5Qfhk9qrdXBChrWLhYDpD8nB01%40thread.v2/messages?maxPageSize=2\u0026api-version=2021-04-05-preview6",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c"
      },
      "RequestBody": null,
      [...]
    {
      "RequestUri": "https://chat-sdktester-e2e.int.communication.azure.net/chat/threads/19:NcL9SsChpF9gmZhFZe5Qfhk9qrdXBChrWLhYDpD8nB01@thread.v2/messages?syncState=3e3900000031393a4e634c3953734368704639676d5a68465a65355166686b397172645842436872574c6859447044386e423031407468726561642e763201c409b301790100007a0bb30179010000\u0026startTime=1%2F1%2F1970%2012%3A00%3A00%20AM%20%2B00%3A00\u0026maxPageSize=2\u0026api-version=2021-04-05-preview6",
      "RequestMethod": "GET",
      "RequestHeader[...]
[...]
    {
      "RequestUri": "https://chat-sdktester-e2e.int.communication.azure.net/chat/threads/19:NcL9SsChpF9gmZhFZe5Qfhk9qrdXBChrWLhYDpD8nB01@thread.v2/messages?syncState=3e3900000031393a4e634c3953734368704639676d5a68465a65355166686b397172645842436872574c6859447044386e423031407468726561642e7632019300b301790100007a0bb30179010000\u0026startTime=1%2F1%2F1970%2012%3A00%3A00%20AM%20%2B00%3A00\u0026maxPageSize=2\u0026api-version=2021-04-05-preview6",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2020-09-21-preview2, 2020-11-01-preview3, 2021-01-27-preview4, 2021-03-01-preview5, 2021-03-07, 2021-04-05-preview6",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "qhefIw1TD0KgthC3fVlbKQ.0",
        "X-Processing-Time": "375ms"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "1619231177037",
            "type": "topicUpdated",
            "sequenceId": "2",
            "version": "1619231177037",
            "content": {
              "topic": "Thread async from C# sdk",
              "initiatorCommunicationIdentifier": {
                "rawId": "8:acs:46849534-eb08-4ab7-bde7-c36928cd1547_00000009-a194-96eb-9c58-373a0d00156b",
                "communicationUser": {
                  "id": "8:acs:46849534-eb08-4ab7-bde7-c36928cd1547_00000009-a194-96eb-9c58-373a0d00156b"
                }
              }
            },
            "createdOn": "2021-04-24T02:26:17Z"
          },
          {
            "id": "1619231177006",
            "type": "participantAdded",
            "sequenceId": "1",
            "ver[...]
[...]
    {
      "RequestUri": "https://chat-sdktester-e2e.int.communication.azure.net/chat/threads/19%3ANcL9SsChpF9gmZhFZe5Qfhk9qrdXBChrWLhYDpD8nB01%40thread.v2/messages/1619231179602?api-version=2021-04-05-preview6",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2020-09-21-preview2, 2020-11-01-preview3, 2021-01-27-preview4, 2021-03-01-preview5, 2021-03-07, 2021-04-05-preview6",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "OCcjRJInNkC4tl4VsKdTZg.0",
        "X-Processing-Time": "254ms"
      },
      "ResponseBody": {
        "id": "1619231179602",
        "type": "text",
        "sequenceId": "9",
        "version": "1619231186698",
        "content": {
          "message": "This is message 1 content updated"
        },
        "senderDisplayName": "DisplayName sender message 1",
        "createdOn": "2021-04-24T02:26:19Z",
        "senderCommunicationIdentifier": {
          "rawId": "8:acs:46849534-eb08-4ab7-bde7-c36928cd1547_00000009-a194-96eb-9c58-373a0d00156b",
          "communicationUser": {
            "id": "8:acs:46849534-eb08-4ab7-bde7-c36928cd1547_00000009-a194-96eb-9c58-373a0d00156b"
          }
        },
        "editedOn": "2021-04-24T02:26:26Z"
      }
    },
[...]
    {
      "RequestUri": "https://chat-sdktester-e2e.int.communication.azure.net/chat/threads/19%3ANcL9SsChpF9gmZhFZe5Qfhk9qrdXBChrWLhYDpD8nB01%40thread.v2/participants/:add?api-version=2021-04-05-preview6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "participants": [
          {
            "communicationIdentifier": {
              "communicationUser": {
                "id": "8:acs:46849534-eb08-4ab7-bde7-c36928cd1547_00000009-a194-99e0-9c58-373a0d00156e"
              }
            },
            "displayName": "user4"
          }
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2020-11-01-preview3, 2021-01-27-preview4, 2021-03-01-preview5, 2021-03-07, 2021-04-05-preview6",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "nABSfUpBH0S89YTiq8xALQ.0",
        "X-Processing-Time": "424ms"
      },
      "ResponseBody": {}
    },
[...]
    {
      "RequestUri": "https://chat-sdktester-e2e.int.communication.azure.net/chat/threads/19%3ANcL9SsChpF9gmZhFZe5Qfhk9qrdXBChrWLhYDpD8nB01%40thread.v2/participants?maxPageSize=2\u0026api-version=2021-04-05-preview6",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c"
      },
      "RequestBody": null,
  [...]
    {
      "RequestUri": "https://chat-sdktester-e2e.int.communication.azure.net/chat/threads/19:NcL9SsChpF9gmZhFZe5Qfhk9qrdXBChrWLhYDpD8nB01@thread.v2/participants?skip=2\u0026maxPageSize=2\u0026api-version=2021-04-05-preview6",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c"
      },
      "RequestBody": [...]
[...]
    {
      "RequestUri": "https://chat-sdktester-e2e.int.communication.azure.net/chat/threads/19%3ANcL9SsChpF9gmZhFZe5Qfhk9qrdXBChrWLhYDpD8nB01%40thread.v2/participants/:remove?api-version=2021-04-05-preview6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "communicationUser": {
          "id": "8:acs:46849534-eb08-4ab7-bde7-c36928cd1547_00000009-a194-99e0-9c58-373a0d00156e"
        }
      },
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2020-11-01-preview3, 2021-01-27-preview4, 2021-03-01-preview5, 2021-03-07, 2021-04-05-preview6",
        "MS-CV": "wnN3tlhQLUCqqHKrCykAoA.0",
        "X-Processing-Time": "449ms"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://chat-sdktester-e2e.int.communication.azure.net/chat/threads/19%3ANcL9SsChpF9gmZhFZe5Qfhk9qrdXBChrWLhYDpD8nB01%40thread.v2/typing?api-version=2021-04-05-preview6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2020-09-21-preview2, 2020-11-01-preview3, 2021-01-27-preview4, 2021-03-01-preview5, 2021-03-07, 2021-04-05-preview6",
        "MS-CV": "\u002BMmh164SwUKjoJ5APKKgHg.0",
        "X-Processing-Time": "356ms"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://chat-sdktester-e2e.int.communication.azure.net/chat/threads?api-version=2021-04-05-preview6",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2020-09-21-preview2, 2020-11-01-preview3, 2021-01-27-preview4, 2021-03-01-preview5, 2021-03-07, 2021-04-05-preview6",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "CZgaVrPl9UGNiYweV4RYPA.0",
        "X-Processing-Time": "393ms"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "19:NcL9SsChpF9gmZhFZe5Qfhk9qrdXBChrWLhYDpD8nB01@thread.v2",
            "topic": "Updated topic - C# sdk",
            "lastMessageReceivedOn": "2021-04-24T02:26:31Z"
          },
          {
            "id": "19:JCSdEdjIjemq7oSsa7RL0rRqkRZ_f8c2YBt0FIymQik1@thread.v2",
            "topic": "Thread async from C# sdk",
            "lastMessageReceivedOn": "2021-04-24T02:26:17Z"
          }
        ]
      }
    },
    {
      "RequestUri": "https://chat-sdktester-e2e.int.communication.azure.net/chat/threads/19%3ANcL9SsChpF9gmZhFZe5Qfhk9qrdXBChrWLhYDpD8nB01%40thread.v2?api-version=2021-04-05-preview6",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2020-09-21-preview2, 2020-11-01-preview3, 2021-01-27-preview4, 2021-03-01-preview5, 2021-03-07, 2021-04-05-preview6",
        "MS-CV": "z7JTlBPT40Wd0xzY0FoV0A.0",
        "X-Processing-Time": "321ms"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "COMMUNICATION_CONNECTION_STRING": "endpoint=https://chat-sdktester-e2e.int.communication.azure.net/;accesskey=Kg==",
    "RandomSeed": "1326037612"
  }
}