{
  "Entries": [
    {
      "RequestUri": "https://smstestapp.communication.azure.com/identities?api-version=2021-03-07",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 15 Jun 2021 17:49:23 GMT"
      },
      "RequestBody": {},
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-03-31-preview1",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "z2\u002Bn8X6qekeYrLDkg/i1pw.0",
        "X-Processing-Time": "88ms"
      },
      "ResponseBody": {
        "identity": {
          "id": "8:acs:ac80d96a-85de-48b1-995d-a3a3fa3627c8_0000000a-b0ac-6e4a-9806-113a0d00e20c"
        }
      }
    },
    {
      "RequestUri": "https://smstestapp.communication.azure.com/identities/8%3Aacs%3Aac80d96a-85de-48b1-995d-a3a3fa3627c8_0000000a-b0ac-6e4a-9806-113a0d00e20c/:issueAccessToken?api-version=2021-03-07",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 15 Jun 2021 17:49:23 GMT"
      },
      "RequestBody": {
        "scopes": [
          "chat"
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-03-31-preview1",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "ZlZ9Zv\u002BsBk6XUVBoR8QXCA.0",
        "X-Processing-Time": "155ms"
      },
      "ResponseBody": {
        "token": "Sanitized",
        "expiresOn": "2021-06-16T17:49:22.7542441\u002B00:00"
      }
    },
[...]
    {
      "RequestUri": "https://smstestapp.communication.azure.com/chat/threads?api-version=2021-04-05-preview6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c",
        "Content-Type": "application/json",
        "repeatability-request-id": "contoso-C0A747F1-6245-4307-8267-B974340677DC"
      },
      "RequestBody": {
        "topic": "Thread async from C# sdk",
        "participants": [
          {
            "communicationIdentifier": {
              "communicationUser": {
                "id": "8:acs:ac80d96a-85de-48b1-995d-a3a3fa3627c8_0000000a-b0ac-6e4a-9806-113a0d00e20c"
              }
            },
            "displayName": "user1"
          },
          {
            "communicationIdentifier": {
              "communicationUser": {
                "id": "8:acs:ac80d96a-85de-48b1-995d-a3a3fa3627c8_0000000a-b0ac-7017-9806-113a0d00e20d"
              }
            },
            "displayName": "user2"
          },
          {
            "communicationIdentifier": {
              "communicationUser": {
                "id": "8:acs:ac80d96a-85de-48b1-995d-a3a3fa3627c8_0000000a-b0ac-71bf-9806-113a0d00e20e"
              }
            },
            "displayName": "user3"
          }
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2020-09-21-preview2, 2020-11-01-preview3, 2021-01-27-preview4, 2021-03-01-preview5, 2021-03-07, 2021-04-05-preview6",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://smstestapp.communication.azure.com/chat/threads/19%3AlCCWkORkyL4DFUJ_1BSQKzKdBTUcmpJ-6o_6l3Ojalo1@thread.v2",
        "MS-CV": "b6/a5QnvPUOa9Qhrx\u002Bv5yA.0",
        "X-Processing-Time": "391ms"
      },
      "ResponseBody": {
        "chatThread": {
          "id": "19:lCCWkORkyL4DFUJ_1BSQKzKdBTUcmpJ-6o_6l3Ojalo1@thread.v2",
          "topic": "Thread async from C# sdk",
          "createdOn": "2021-06-15T17:49:25Z",
          "createdByCommunicationIdentifier": {
            "rawId": "8:acs:ac80d96a-85de-48b1-995d-a3a3fa3627c8_0000000a-b0ac-6e4a-9806-113a0d00e20c",
            "communicationUser": {
              "id": "8:acs:ac80d96a-85de-48b1-995d-a3a3fa3627c8_0000000a-b0ac-6e4a-9806-113a0d00e20c"
            }
          }
        }
      }
    },
[...]
    {
      "RequestUri": "https://smstestapp.communication.azure.com/chat/threads/19%3AlCCWkORkyL4DFUJ_1BSQKzKdBTUcmpJ-6o_6l3Ojalo1%40thread.v2/participants?api-version=2021-04-05-preview6",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2020-11-01-preview3, 2021-01-27-preview4, 2021-03-01-preview5, 2021-03-07, 2021-04-05-preview6",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "nGOiUUnaYUOJCgXU/pJ7lg.0",
        "X-Processing-Time": "104ms"
      },
      "ResponseBody": {
        "value": [
          {
            "communicationIdentifier": {
              "rawId": "8:acs:ac80d96a-85de-48b1-995d-a3a3fa3627c8_0000000a-b0ac-6e4a-9806-113a0d00e20c",
              "communicationUser": {
                "id": "8:acs:ac80d96a-85de-48b1-995d-a3a3fa3627c8_0000000a-b0ac-6e4a-9806-113a0d00e20c"
              }
            },
            "displayName": "user1",
            "shareHistoryTime": "1970-01-01T00:00:00Z"
          },
          {
            "communicationIdentifier": {
              "rawId": "8:acs:ac80d96a-85de-48b1-995d-a3a3fa3627c8_0000000a-b0ac-7017-9806-113a0d00e20d",
              "communicationUser": {
                "id": "8:acs:ac80d96a-85de-48b1-995d-a3a3fa3627c8_0000000a-b0ac-7017-9806-113a0d00e20d"
              }
            },
            "displayName": "user2",
            "shareHistoryTime": "1970-01-01T00:00:00Z"
          },
          {
            "communicationIdentifier": {
              "rawId": "8:acs:ac80d96a-85de-48b1-995d-a3a3fa3627c8_0000000a-b0ac-71bf-9806-113a0d00e20e",
              "communicationUser": {
                "id": "8:acs:ac80d96a-85de-48b1-995d-a3a3fa3627c8_0000000a-b0ac-71bf-9806-113a0d00e20e"
              }
            },
            "displayName": "user3",
            "shareHistoryTime": "1970-01-01T00:00:00Z"
          }
        ]
      }
    },
    {
      "RequestUri": "https://smstestapp.communication.azure.com/chat/threads/19%3AlCCWkORkyL4DFUJ_1BSQKzKdBTUcmpJ-6o_6l3Ojalo1%40thread.v2?api-version=2021-04-05-preview6",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c",
        "Content-Type": "application/merge-patch\u002Bjson"
      },
      "RequestBody": {
        "topic": "Updated topic - C# sdk"
      },
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2020-09-21-preview2, 2020-11-01-preview3, 2021-01-27-preview4, 2021-03-01-preview5, 2021-03-07, 2021-04-05-preview6",
        "MS-CV": "L7juZcRzrECFuOxAczVkOA.0",
        "X-Processing-Time": "165ms"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://smstestapp.communication.azure.com/chat/threads/19%3AlCCWkORkyL4DFUJ_1BSQKzKdBTUcmpJ-6o_6l3Ojalo1%40thread.v2/messages?api-version=2021-04-05-preview6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "content": "Content for message 1",
        "senderDisplayName": "DisplayName sender message 1",
        "type": "text"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2020-09-21-preview2, 2020-11-01-preview3, 2021-01-27-preview4, 2021-03-01-preview5, 2021-03-07, 2021-04-05-preview6",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://smstestapp.communication.azure.com/chat/threads/19%3AlCCWkORkyL4DFUJ_1BSQKzKdBTUcmpJ-6o_6l3Ojalo1@thread.v2/messages/1623779366911",
        "MS-CV": "GE5UpGl3DkKRwJKk7EwI/Q.0",
        "X-Processing-Time": "153ms"
      },
      "ResponseBody": {
        "id": "1623779366911"
      }
    },
    {
      "RequestUri": "https://smstestapp.communication.azure.com/chat/threads/19%3ApzYpMGgx-wDbYQoLd5_RfAMdU3knhGCoQQZzDc_s8Ho1%40thread.v2/messages?api-version=2021-04-05-preview6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "content": "Content for message 2",
        "senderDisplayName": "DisplayName sender message 1",
        "type": "html"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2020-09-21-preview2, 2020-11-01-preview3, 2021-01-27-preview4, 2021-03-01-preview5, 2021-03-07, 2021-04-05-preview6",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://smstestapp.communication.azure.com/chat/threads/19%3ApzYpMGgx-wDbYQoLd5_RfAMdU3knhGCoQQZzDc_s8Ho1@thread.v2/messages/1623779367111",
        "MS-CV": "SoS7\u002B4TqwE\u002BUtc3gg6mJ\u002Bw.0",
        "X-Processing-Time": "126ms"
      },
      "ResponseBody": {
        "id": "1623779367111"
      }
    },
[...]
    {
      "RequestUri": "https://smstestapp.communication.azure.com/chat/threads/19%3AlCCWkORkyL4DFUJ_1BSQKzKdBTUcmpJ-6o_6l3Ojalo1%40thread.v2/messages/1623779366911?api-version=2021-04-05-preview6",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2020-09-21-preview2, 2020-11-01-preview3, 2021-01-27-preview4, 2021-03-01-preview5, 2021-03-07, 2021-04-05-preview6",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "ygfAUQmsH0qkpOlmdLKwBw.0",
        "X-Processing-Time": "87ms"
      },
      "ResponseBody": {
        "id": "1623779366911",
        "type": "text",
        "sequenceId": "4",
        "version": "1623779366911",
        "content": {
          "message": "Content for message 1"
        },
        "senderDisplayName": "DisplayName sender message 1",
        "createdOn": "2021-06-15T17:49:26Z",
        "senderCommunicationIdentifier": {
          "rawId": "8:acs:ac80d96a-85de-48b1-995d-a3a3fa3627c8_0000000a-b0ac-6e4a-9806-113a0d00e20c",
          "communicationUser": {
            "id": "8:acs:ac80d96a-85de-48b1-995d-a3a3fa3627c8_0000000a-b0ac-6e4a-9806-113a0d00e20c"
          }
        }
      }
    },
    {
      "RequestUri": "https://smstestapp.communication.azure.com/chat/threads/19%3ApzYpMGgx-wDbYQoLd5_RfAMdU3knhGCoQQZzDc_s8Ho1%40thread.v2/messages/1623779367111?api-version=2021-04-05-preview6",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2020-09-21-preview2, 2020-11-01-preview3, 2021-01-27-preview4, 2021-03-01-preview5, 2021-03-07, 2021-04-05-preview6",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "OnWugThGXUujtqM1WKzuNQ.0",
        "X-Processing-Time": "92ms"
      },
      "ResponseBody": {
        "id": "1623779367111",
        "type": "html",
        "sequenceId": "3",
        "version": "1623779367111",
        "content": {
          "message": "Content for message 2"
        },
        "senderDisplayName": "DisplayName sender message 1",
        "createdOn": "2021-06-15T17:49:27Z",
        "senderCommunicationIdentifier": {
          "rawId": "8:acs:ac80d96a-85de-48b1-995d-a3a3fa3627c8_0000000a-b0ac-6e4a-9806-113a0d00e20c",
          "communicationUser": {
            "id": "8:acs:ac80d96a-85de-48b1-995d-a3a3fa3627c8_0000000a-b0ac-6e4a-9806-113a0d00e20c"
          }
        }
      }
    },
[...]
    {
      "RequestUri": "https://smstestapp.communication.azure.com/chat/threads/19%3AlCCWkORkyL4DFUJ_1BSQKzKdBTUcmpJ-6o_6l3Ojalo1%40thread.v2/messages/1623779368091?api-version=2021-04-05-preview6",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2020-09-21-preview2, 2020-11-01-preview3, 2021-01-27-preview4, 2021-03-01-preview5, 2021-03-07, 2021-04-05-preview6",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "adI/DhbrzESo7kc4bQEbJQ.0",
        "X-Processing-Time": "96ms"
      },
      "ResponseBody": {
        "id": "1623779368091",
        "type": "html",
        "sequenceId": "9",
        "version": "1623779368091",
        "content": {
          "message": "Content for message 7"
        },
        "senderDisplayName": "DisplayName sender message options message 7",
        "createdOn": "2021-06-15T17:49:28Z",
        "senderCommunicationIdentifier": {
          "rawId": "8:acs:ac80d96a-85de-48b1-995d-a3a3fa3627c8_0000000a-b0ac-71bf-9806-113a0d00e20e",
          "communicationUser": {
            "id": "8:acs:ac80d96a-85de-48b1-995d-a3a3fa3627c8_0000000a-b0ac-71bf-9806-113a0d00e20e"
          }
        },
        "metadata": {
          "tags": "tag value",
          "deliveryMode": "deliveryMode value",
          "onedriveReferences": "onedriveReferences value",
          "key": "value key",
          "amsreferences": "[\u0022test url file 1\u0022,\u0022test url file2\u0022]"
        }
      }
    },
[...]
    {
      "RequestUri": "https://smstestapp.communication.azure.com/chat/threads/19%3AlCCWkORkyL4DFUJ_1BSQKzKdBTUcmpJ-6o_6l3Ojalo1%40thread.v2/messages?maxPageSize=2\u0026api-version=2021-04-05-preview6",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c"
      },
      "RequestBody": null,
      "StatusCode"[...]
    {
      "RequestUri": "https://smstestapp.communication.azure.com/chat/threads/19:lCCWkORkyL4DFUJ_1BSQKzKdBTUcmpJ-6o_6l3Ojalo1@thread.v2/messages?syncState=3e3900000031393a6c4343576b4f526b794c344446554a5f314253514b7a4b64425455636d704a2d366f5f366c334f6a616c6f31407468726561642e763201bfdbca107a0100009bdcca107a010000\u0026startTime=1%2F1%2F1970%2012%3A00%3A00%20AM%20%2B00%3A00\u0026maxPageSize=2\u0026api-version=2021-04-05-preview6",
      "RequestMethod": "GET",
      "RequestHeaders": {
      [...]
[...]
    {
      "RequestUri": "https://smstestapp.communication.azure.com/chat/threads/19:lCCWkORkyL4DFUJ_1BSQKzKdBTUcmpJ-6o_6l3Ojalo1@thread.v2/messages?syncState=3e3900000031393a6c4343576b4f526b794c344446554a5f314253514b7a4b64425455636d704a2d366f5f366c334f6a616c6f31407468726561642e763201ffd7ca107a0100009bdcca107a010000\u0026startTime=1%2F1%2F1970%2012%3A00%3A00%20AM%20%2B00%3A00\u0026maxPageSize=2\u0026api-version=2021-04-05-preview6",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2020-09-21-preview2, 2020-11-01-preview3, 2021-01-27-preview4, 2021-03-01-preview5, 2021-03-07, 2021-04-05-preview6",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "ae4VBZ4FbEeAftkMlq46iQ.0",
        "X-Processing-Time": "117ms"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "1623779366611",
            "type": "topicUpdated",
            "sequenceId": "3",
            "version": "1623779366611",
            "content": {
              "topic": "Updated topic - C# sdk",
              "initiatorCommunicationIdentifier": {
                "rawId": "8:acs:ac80d96a-85de-48b1-995d-a3a3fa3627c8_0000000a-b0ac-6e4a-9806-113a0d00e20c",
                "communicationUser": {
                  "id": "8:acs:ac80d96a-85de-48b1-995d-a3a3fa3627c8_0000000a-b0ac-6e4a-9806-113a0d00e20c"
                }
              }
            },
            "createdOn": "2021-06-15T17:49:26Z"
          },
          {
            "id": "1623779365751",
            "type": "topicUpdated",
            "sequenceId": "2",
            "version": "1623779365751",
            "content": {
              "topic": "Thread async from C# sdk",
              "initiatorCommunicationIdentifier": {
                "rawId": "8:acs:ac80d96a-85de-48b1-995d-a3a3fa3627c8_0000000a-b0ac-6e4a-9806-113a0d00e20c",
                "communicationUser": {
                  "id": "8:acs:ac80d96a-85de-48b1-995d-a3a3fa3627c8_0000000a-b0ac-6e4a-9806-113a0d00e20c"
                }
              }
            },
            "createdOn": "2021-06-15T17:49:25Z"
          }
        ],
        "nextLink": "https://smstestapp.communication.azure.com/chat/threads/19:lCCWkORkyL4DFUJ_1BSQKzKdBTUcmpJ-6o_6l3Ojalo1@thread.v2/messages?syncState=3e3900000031393a6c4343576b4f526b794c344446554a5f314253514b7a4b64425455636d704a2d366f5f366c334f6a616c6f31407468726561642e76320177d3ca107a0100009bdcca107a010000\u0026startTime=1%2F1%2F1970%2012%3A00%3A00%20AM%20%2B00%3A00\u0026maxPageSize=2\u0026api-version=2021-04-05-preview6"
      }
    },
[...]
    {
      "RequestUri": "https://smstestapp.communication.azure.com/chat/threads/19%3AlCCWkORkyL4DFUJ_1BSQKzKdBTUcmpJ-6o_6l3Ojalo1%40thread.v2/messages/1623779366911?api-version=2021-04-05-preview6",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2020-09-21-preview2, 2020-11-01-preview3, 2021-01-27-preview4, 2021-03-01-preview5, 2021-03-07, 2021-04-05-preview6",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "NgA8NeKz/kyOMHGJ8EWuEQ.0",
        "X-Processing-Time": "86ms"
      },
      "ResponseBody": {
        "id": "1623779366911",
        "type": "text",
        "sequenceId": "10",
        "version": "1623779370507",
        "content": {
          "message": "This is message 1 content updated"
        },
        "senderDisplayName": "DisplayName sender message 1",
        "createdOn": "2021-06-15T17:49:26Z",
        "senderCommunicationIdentifier": {
          "rawId": "8:acs:ac80d96a-85de-48b1-995d-a3a3fa3627c8_0000000a-b0ac-6e4a-9806-113a0d00e20c",
          "communicationUser": {
            "id": "8:acs:ac80d96a-85de-48b1-995d-a3a3fa3627c8_0000000a-b0ac-6e4a-9806-113a0d00e20c"
          }
        },
        "editedOn": "2021-06-15T17:49:30Z"
      }
    },
[...]
    {
      "RequestUri": "https://smstestapp.communication.azure.com/chat/threads/19%3AlCCWkORkyL4DFUJ_1BSQKzKdBTUcmpJ-6o_6l3Ojalo1%40thread.v2/participants/:add?api-version=2021-04-05-preview6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "participants": [
          {
            "communicationIdentifier": {
              "communicationUser": {
                "id": "8:acs:ac80d96a-85de-48b1-995d-a3a3fa3627c8_0000000a-b0ac-736a-9806-113a0d00e210"
              }
            },
            "displayName": "user4"
          }
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2020-11-01-preview3, 2021-01-27-preview4, 2021-03-01-preview5, 2021-03-07, 2021-04-05-preview6",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "SUMCUw/KKkKkzbW4M/Z7Gg.0",
        "X-Processing-Time": "675ms"
      },
      "ResponseBody": {}
    },
[...]
    {
      "RequestUri": "https://smstestapp.communication.azure.com/chat/threads/19%3AlCCWkORkyL4DFUJ_1BSQKzKdBTUcmpJ-6o_6l3Ojalo1%40thread.v2/participants?maxPageSize=2\u0026api-version=2021-04-05-preview6",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c"
      },
      "RequestBody": null,
      "StatusC[...]
    {
      "RequestUri": "https://smstestapp.communication.azure.com/chat/threads/19:lCCWkORkyL4DFUJ_1BSQKzKdBTUcmpJ-6o_6l3Ojalo1@thread.v2/participants?skip=2\u0026maxPageSize=2\u0026api-version=2021-04-05-preview6",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c"
      },
      "RequestBody": null,
      [...]
[...]
    {
      "RequestUri": "https://smstestapp.communication.azure.com/chat/threads/19%3AlCCWkORkyL4DFUJ_1BSQKzKdBTUcmpJ-6o_6l3Ojalo1%40thread.v2/participants/:remove?api-version=2021-04-05-preview6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "communicationUser": {
          "id": "8:acs:ac80d96a-85de-48b1-995d-a3a3fa3627c8_0000000a-b0ac-736a-9806-113a0d00e210"
        }
      },
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2020-11-01-preview3, 2021-01-27-preview4, 2021-03-01-preview5, 2021-03-07, 2021-04-05-preview6",
        "MS-CV": "3PB06UNJUEG38gguOLtniQ.0",
        "X-Processing-Time": "313ms"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://smstestapp.communication.azure.com/chat/threads/19%3AlCCWkORkyL4DFUJ_1BSQKzKdBTUcmpJ-6o_6l3Ojalo1%40thread.v2/typing?api-version=2021-04-05-preview6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2020-09-21-preview2, 2020-11-01-preview3, 2021-01-27-preview4, 2021-03-01-preview5, 2021-03-07, 2021-04-05-preview6",
        "MS-CV": "6jtD43sd7EWqjTKosuvqqQ.0",
        "X-Processing-Time": "100ms"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://smstestapp.communication.azure.com/chat/threads?api-version=2021-04-05-preview6",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2020-09-21-preview2, 2020-11-01-preview3, 2021-01-27-preview4, 2021-03-01-preview5, 2021-03-07, 2021-04-05-preview6",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "oQ2XKie5mEued2HjSHdW9g.0",
        "X-Processing-Time": "82ms"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "19:lCCWkORkyL4DFUJ_1BSQKzKdBTUcmpJ-6o_6l3Ojalo1@thread.v2",
            "topic": "Updated topic - C# sdk",
            "lastMessageReceivedOn": "2021-06-15T17:49:32Z"
          },
          {
            "id": "19:pzYpMGgx-wDbYQoLd5_RfAMdU3knhGCoQQZzDc_s8Ho1@thread.v2",
            "topic": "Thread async from C# sdk",
            "lastMessageReceivedOn": "2021-06-15T17:49:26Z"
          }
        ]
      }
    },
    {
      "RequestUri": "https://smstestapp.communication.azure.com/chat/threads/19%3AlCCWkORkyL4DFUJ_1BSQKzKdBTUcmpJ-6o_6l3Ojalo1%40thread.v2?api-version=2021-04-05-preview6",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2020-09-21-preview2, 2020-11-01-preview3, 2021-01-27-preview4, 2021-03-01-preview5, 2021-03-07, 2021-04-05-preview6",
        "MS-CV": "wVIjrmU3LUuqoFtyacge7g.0",
        "X-Processing-Time": "114ms"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://smstestapp.communication.azure.com/;accesskey=Kg==",
    "RandomSeed": "1213822101"
  }
}