{
  "Entries": [
    {
      "RequestUri": "https://smstestapp.communication.azure.com/identities?api-version=2021-03-07",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 15 Jun 2021 17:49:08 GMT"
      },
      "RequestBody": {},
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-03-31-preview1",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "ECt6KkqVfkOIrv53DmwY/w.0",
        "X-Processing-Time": "95ms"
      },
      "ResponseBody": {
        "identity": {
          "id": "8:acs:ac80d96a-85de-48b1-995d-a3a3fa3627c8_0000000a-b0ac-35c8-9806-113a0d00e205"
        }
      }
    },
    {
      "RequestUri": "https://smstestapp.communication.azure.com/identities/8%3Aacs%3Aac80d96a-85de-48b1-995d-a3a3fa3627c8_0000000a-b0ac-35c8-9806-113a0d00e205/:issueAccessToken?api-version=2021-03-07",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 15 Jun 2021 17:49:09 GMT"
      },
      "RequestBody": {
        "scopes": [
          "chat"
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-03-31-preview1",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "SMphs5ArPEGY2sTIDB7G6Q.0",
        "X-Processing-Time": "156ms"
      },
      "ResponseBody": {
        "token": "Sanitized",
        "expiresOn": "2021-06-16T17:49:08.3838736\u002B00:00"
      }
    },
[...]
    {
      "RequestUri": "https://smstestapp.communication.azure.com/chat/threads?api-version=2021-04-05-preview6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c",
        "Content-Type": "application/json",
        "repeatability-request-id": "contoso-C0A747F1-6245-4307-8267-B974340677DC"
      },
      "RequestBody": {
        "topic": "Thread async from C# sdk",
        "participants": [
          {
            "communicationIdentifier": {
              "communicationUser": {
                "id": "8:acs:ac80d96a-85de-48b1-995d-a3a3fa3627c8_0000000a-b0ac-35c8-9806-113a0d00e205"
              }
            },
            "displayName": "user1"
          },
          {
            "communicationIdentifier": {
              "communicationUser": {
                "id": "8:acs:ac80d96a-85de-48b1-995d-a3a3fa3627c8_0000000a-b0ac-381b-9806-113a0d00e207"
              }
            },
            "displayName": "user2"
          },
          {
            "communicationIdentifier": {
              "communicationUser": {
                "id": "8:acs:ac80d96a-85de-48b1-995d-a3a3fa3627c8_0000000a-b0ac-39be-9806-113a0d00e208"
              }
            },
            "displayName": "user3"
          }
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2020-09-21-preview2, 2020-11-01-preview3, 2021-01-27-preview4, 2021-03-01-preview5, 2021-03-07, 2021-04-05-preview6",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://smstestapp.communication.azure.com/chat/threads/19%3A75QL8PlGKWkSQNl7quyy2ScdZIJehOaHSngOLXiH6tM1@thread.v2",
        "MS-CV": "ys8BmLve10WcgpJNRUfUvg.0",
        "X-Processing-Time": "1674ms"
      },
      "ResponseBody": {
        "chatThread": {
          "id": "19:75QL8PlGKWkSQNl7quyy2ScdZIJehOaHSngOLXiH6tM1@thread.v2",
          "topic": "Thread async from C# sdk",
          "createdOn": "2021-06-15T17:49:12Z",
          "createdByCommunicationIdentifier": {
            "rawId": "8:acs:ac80d96a-85de-48b1-995d-a3a3fa3627c8_0000000a-b0ac-35c8-9806-113a0d00e205",
            "communicationUser": {
              "id": "8:acs:ac80d96a-85de-48b1-995d-a3a3fa3627c8_0000000a-b0ac-35c8-9806-113a0d00e205"
            }
          }
        }
      }
    },
[...]
    {
      "RequestUri": "https://smstestapp.communication.azure.com/chat/threads/19%3A75QL8PlGKWkSQNl7quyy2ScdZIJehOaHSngOLXiH6tM1%40thread.v2/participants?api-version=2021-04-05-preview6",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2020-11-01-preview3, 2021-01-27-preview4, 2021-03-01-preview5, 2021-03-07, 2021-04-05-preview6",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "G0vuZN2ZwkqwhHR6dccdxA.0",
        "X-Processing-Time": "100ms"
      },
      "ResponseBody": {
        "value": [
          {
            "communicationIdentifier": {
              "rawId": "8:acs:ac80d96a-85de-48b1-995d-a3a3fa3627c8_0000000a-b0ac-35c8-9806-113a0d00e205",
              "communicationUser": {
                "id": "8:acs:ac80d96a-85de-48b1-995d-a3a3fa3627c8_0000000a-b0ac-35c8-9806-113a0d00e205"
              }
            },
            "displayName": "user1",
            "shareHistoryTime": "1970-01-01T00:00:00Z"
          },
          {
            "communicationIdentifier": {
              "rawId": "8:acs:ac80d96a-85de-48b1-995d-a3a3fa3627c8_0000000a-b0ac-381b-9806-113a0d00e207",
              "communicationUser": {
                "id": "8:acs:ac80d96a-85de-48b1-995d-a3a3fa3627c8_0000000a-b0ac-381b-9806-113a0d00e207"
              }
            },
            "displayName": "user2",
            "shareHistoryTime": "1970-01-01T00:00:00Z"
          },
          {
            "communicationIdentifier": {
              "rawId": "8:acs:ac80d96a-85de-48b1-995d-a3a3fa3627c8_0000000a-b0ac-39be-9806-113a0d00e208",
              "communicationUser": {
                "id": "8:acs:ac80d96a-85de-48b1-995d-a3a3fa3627c8_0000000a-b0ac-39be-9806-113a0d00e208"
              }
            },
            "displayName": "user3",
            "shareHistoryTime": "1970-01-01T00:00:00Z"
          }
        ]
      }
    },
    {
      "RequestUri": "https://smstestapp.communication.azure.com/chat/threads/19%3A75QL8PlGKWkSQNl7quyy2ScdZIJehOaHSngOLXiH6tM1%40thread.v2?api-version=2021-04-05-preview6",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c",
        "Content-Type": "application/merge-patch\u002Bjson"
      },
      "RequestBody": {
        "topic": "Updated topic - C# sdk"
      },
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2020-09-21-preview2, 2020-11-01-preview3, 2021-01-27-preview4, 2021-03-01-preview5, 2021-03-07, 2021-04-05-preview6",
        "MS-CV": "qaW3aHugDUOHTHXN\u002Bxs/lQ.0",
        "X-Processing-Time": "207ms"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://smstestapp.communication.azure.com/chat/threads/19%3A75QL8PlGKWkSQNl7quyy2ScdZIJehOaHSngOLXiH6tM1%40thread.v2/messages?api-version=2021-04-05-preview6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "content": "Content for message 1",
        "senderDisplayName": "DisplayName sender message 1",
        "type": "text"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2020-09-21-preview2, 2020-11-01-preview3, 2021-01-27-preview4, 2021-03-01-preview5, 2021-03-07, 2021-04-05-preview6",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://smstestapp.communication.azure.com/chat/threads/19%3A75QL8PlGKWkSQNl7quyy2ScdZIJehOaHSngOLXiH6tM1@thread.v2/messages/1623779354729",
        "MS-CV": "2w8tdFc0l0W0I1rp0\u002BDjRw.0",
        "X-Processing-Time": "174ms"
      },
      "ResponseBody": {
        "id": "1623779354729"
      }
    },
    {
      "RequestUri": "https://smstestapp.communication.azure.com/chat/threads/19%3AZqeqmxk4ye5AAx7GnJKL6WyjPrgYXCSmSwNrL0Z6m8U1%40thread.v2/messages?api-version=2021-04-05-preview6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "content": "Content for message 2",
        "senderDisplayName": "DisplayName sender message 1",
        "type": "html"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2020-09-21-preview2, 2020-11-01-preview3, 2021-01-27-preview4, 2021-03-01-preview5, 2021-03-07, 2021-04-05-preview6",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://smstestapp.communication.azure.com/chat/threads/19%3AZqeqmxk4ye5AAx7GnJKL6WyjPrgYXCSmSwNrL0Z6m8U1@thread.v2/messages/1623779354950",
        "MS-CV": "A8RXmZPh7UWz9Cm\u002BNQvWDA.0",
        "X-Processing-Time": "158ms"
      },
      "ResponseBody": {
        "id": "1623779354950"
      }
    },
[...]
    {
      "RequestUri": "https://smstestapp.communication.azure.com/chat/threads/19%3A75QL8PlGKWkSQNl7quyy2ScdZIJehOaHSngOLXiH6tM1%40thread.v2/messages/1623779354729?api-version=2021-04-05-preview6",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2020-09-21-preview2, 2020-11-01-preview3, 2021-01-27-preview4, 2021-03-01-preview5, 2021-03-07, 2021-04-05-preview6",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "kRS\u002Be5YirUK96IdxpjCWwg.0",
        "X-Processing-Time": "84ms"
      },
      "ResponseBody": {
        "id": "1623779354729",
        "type": "text",
        "sequenceId": "4",
        "version": "1623779354729",
        "content": {
          "message": "Content for message 1"
        },
        "senderDisplayName": "DisplayName sender message 1",
        "createdOn": "2021-06-15T17:49:14Z",
        "senderCommunicationIdentifier": {
          "rawId": "8:acs:ac80d96a-85de-48b1-995d-a3a3fa3627c8_0000000a-b0ac-35c8-9806-113a0d00e205",
          "communicationUser": {
            "id": "8:acs:ac80d96a-85de-48b1-995d-a3a3fa3627c8_0000000a-b0ac-35c8-9806-113a0d00e205"
          }
        }
      }
    },
    {
      "RequestUri": "https://smstestapp.communication.azure.com/chat/threads/19%3AZqeqmxk4ye5AAx7GnJKL6WyjPrgYXCSmSwNrL0Z6m8U1%40thread.v2/messages/1623779354950?api-version=2021-04-05-preview6",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2020-09-21-preview2, 2020-11-01-preview3, 2021-01-27-preview4, 2021-03-01-preview5, 2021-03-07, 2021-04-05-preview6",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "aZJPuJzpWE6dIey8GS8OrA.0",
        "X-Processing-Time": "81ms"
      },
      "ResponseBody": {
        "id": "1623779354950",
        "type": "html",
        "sequenceId": "3",
        "version": "1623779354950",
        "content": {
          "message": "Content for message 2"
        },
        "senderDisplayName": "DisplayName sender message 1",
        "createdOn": "2021-06-15T17:49:14Z",
        "senderCommunicationIdentifier": {
          "rawId": "8:acs:ac80d96a-85de-48b1-995d-a3a3fa3627c8_0000000a-b0ac-35c8-9806-113a0d00e205",
          "communicationUser": {
            "id": "8:acs:ac80d96a-85de-48b1-995d-a3a3fa3627c8_0000000a-b0ac-35c8-9806-113a0d00e205"
          }
        }
      }
    },
[...]
    {
      "RequestUri": "https://smstestapp.communication.azure.com/chat/threads/19%3A75QL8PlGKWkSQNl7quyy2ScdZIJehOaHSngOLXiH6tM1%40thread.v2/messages/1623779356004?api-version=2021-04-05-preview6",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2020-09-21-preview2, 2020-11-01-preview3, 2021-01-27-preview4, 2021-03-01-preview5, 2021-03-07, 2021-04-05-preview6",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "gRCTL2AtR0uIiaF4EG09UQ.0",
        "X-Processing-Time": "85ms"
      },
      "ResponseBody": {
        "id": "1623779356004",
        "type": "html",
        "sequenceId": "9",
        "version": "1623779356004",
        "content": {
          "message": "Content for message 7"
        },
        "senderDisplayName": "DisplayName sender message options message 7",
        "createdOn": "2021-06-15T17:49:16Z",
        "senderCommunicationIdentifier": {
          "rawId": "8:acs:ac80d96a-85de-48b1-995d-a3a3fa3627c8_0000000a-b0ac-39be-9806-113a0d00e208",
          "communicationUser": {
            "id": "8:acs:ac80d96a-85de-48b1-995d-a3a3fa3627c8_0000000a-b0ac-39be-9806-113a0d00e208"
          }
        },
        "metadata": {
          "tags": "tag value",
          "deliveryMode": "deliveryMode value",
          "onedriveReferences": "onedriveReferences value",
          "key": "value key",
          "amsreferences": "[\u0022test url file 1\u0022,\u0022test url file2\u0022]"
        }
      }
    },
[...]
    {
      "RequestUri": "https://smstestapp.communication.azure.com/chat/threads/19%3A75QL8PlGKWkSQNl7quyy2ScdZIJehOaHSngOLXiH6tM1%40thread.v2/messages?maxPageSize=2\u0026api-version=2021-04-05-preview6",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c"
      },
      "RequestBody": null,
      "StatusCode"[...]
    {
      "RequestUri": "https://smstestapp.communication.azure.com/chat/threads/19:75QL8PlGKWkSQNl7quyy2ScdZIJehOaHSngOLXiH6tM1@thread.v2/messages?syncState=3e3900000031393a3735514c38506c474b576b53514e6c3771757979325363645a494a65684f6148536e674f4c58694836744d31407468726561642e76320197acca107a01000064adca107a010000\u0026startTime=1%2F1%2F1970%2012%3A00%3A00%20AM%20%2B00%3A00\u0026maxPageSize=2\u0026api-version=2021-04-05-preview6",
      "RequestMethod": "GET",
      "RequestHeaders": {
      [...]
[...]
    {
      "RequestUri": "https://smstestapp.communication.azure.com/chat/threads/19:75QL8PlGKWkSQNl7quyy2ScdZIJehOaHSngOLXiH6tM1@thread.v2/messages?syncState=3e3900000031393a3735514c38506c474b576b53514e6c3771757979325363645a494a65684f6148536e674f4c58694836744d31407468726561642e76320169a8ca107a01000064adca107a010000\u0026startTime=1%2F1%2F1970%2012%3A00%3A00%20AM%20%2B00%3A00\u0026maxPageSize=2\u0026api-version=2021-04-05-preview6",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2020-09-21-preview2, 2020-11-01-preview3, 2021-01-27-preview4, 2021-03-01-preview5, 2021-03-07, 2021-04-05-preview6",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "w8y0LJI9wkORFBONnTWXWw.0",
        "X-Processing-Time": "102ms"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "1623779354165",
            "type": "topicUpdated",
            "sequenceId": "3",
            "version": "1623779354165",
            "content": {
              "topic": "Updated topic - C# sdk",
              "initiatorCommunicationIdentifier": {
                "rawId": "8:acs:ac80d96a-85de-48b1-995d-a3a3fa3627c8_0000000a-b0ac-35c8-9806-113a0d00e205",
                "communicationUser": {
                  "id": "8:acs:ac80d96a-85de-48b1-995d-a3a3fa3627c8_0000000a-b0ac-35c8-9806-113a0d00e205"
                }
              }
            },
            "createdOn": "2021-06-15T17:49:14Z"
          },
          {
            "id": "1623779352908",
            "type": "topicUpdated",
            "sequenceId": "2",
            "version": "1623779352908",
            "content": {
              "topic": "Thread async from C# sdk",
              "initiatorCommunicationIdentifier": {
                "rawId": "8:acs:ac80d96a-85de-48b1-995d-a3a3fa3627c8_0000000a-b0ac-35c8-9806-113a0d00e205",
                "communicationUser": {
                  "id": "8:acs:ac80d96a-85de-48b1-995d-a3a3fa3627c8_0000000a-b0ac-35c8-9806-113a0d00e205"
                }
              }
            },
            "createdOn": "2021-06-15T17:49:12Z"
          }
        ],
        "nextLink": "https://smstestapp.communication.azure.com/chat/threads/19:75QL8PlGKWkSQNl7quyy2ScdZIJehOaHSngOLXiH6tM1@thread.v2/messages?syncState=3e3900000031393a3735514c38506c474b576b53514e6c3771757979325363645a494a65684f6148536e674f4c58694836744d31407468726561642e7632014ca1ca107a01000064adca107a010000\u0026startTime=1%2F1%2F1970%2012%3A00%3A00%20AM%20%2B00%3A00\u0026maxPageSize=2\u0026api-version=2021-04-05-preview6"
      }
    },
[...]
    {
      "RequestUri": "https://smstestapp.communication.azure.com/chat/threads/19%3A75QL8PlGKWkSQNl7quyy2ScdZIJehOaHSngOLXiH6tM1%40thread.v2/messages/1623779354729?api-version=2021-04-05-preview6",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2020-09-21-preview2, 2020-11-01-preview3, 2021-01-27-preview4, 2021-03-01-preview5, 2021-03-07, 2021-04-05-preview6",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "1qlGICJ9lUiW6ypMC7660A.0",
        "X-Processing-Time": "83ms"
      },
      "ResponseBody": {
        "id": "1623779354729",
        "type": "text",
        "sequenceId": "10",
        "version": "1623779358860",
        "content": {
          "message": "This is message 1 content updated"
        },
        "senderDisplayName": "DisplayName sender message 1",
        "createdOn": "2021-06-15T17:49:14Z",
        "senderCommunicationIdentifier": {
          "rawId": "8:acs:ac80d96a-85de-48b1-995d-a3a3fa3627c8_0000000a-b0ac-35c8-9806-113a0d00e205",
          "communicationUser": {
            "id": "8:acs:ac80d96a-85de-48b1-995d-a3a3fa3627c8_0000000a-b0ac-35c8-9806-113a0d00e205"
          }
        },
        "editedOn": "2021-06-15T17:49:18Z"
      }
    },
[...]
    {
      "RequestUri": "https://smstestapp.communication.azure.com/chat/threads/19%3A75QL8PlGKWkSQNl7quyy2ScdZIJehOaHSngOLXiH6tM1%40thread.v2/participants/:add?api-version=2021-04-05-preview6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "participants": [
          {
            "communicationIdentifier": {
              "communicationUser": {
                "id": "8:acs:ac80d96a-85de-48b1-995d-a3a3fa3627c8_0000000a-b0ac-3b5b-9806-113a0d00e209"
              }
            },
            "displayName": "user4"
          }
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2020-11-01-preview3, 2021-01-27-preview4, 2021-03-01-preview5, 2021-03-07, 2021-04-05-preview6",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "ED5/XjoWoEO14JxniRMeKw.0",
        "X-Processing-Time": "224ms"
      },
      "ResponseBody": {}
    },
[...]
    {
      "RequestUri": "https://smstestapp.communication.azure.com/chat/threads/19%3A75QL8PlGKWkSQNl7quyy2ScdZIJehOaHSngOLXiH6tM1%40thread.v2/participants?maxPageSize=2\u0026api-version=2021-04-05-preview6",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c"
      },
      "RequestBody": null,
      "StatusC[...]
    {
      "RequestUri": "https://smstestapp.communication.azure.com/chat/threads/19:75QL8PlGKWkSQNl7quyy2ScdZIJehOaHSngOLXiH6tM1@thread.v2/participants?skip=2\u0026maxPageSize=2\u0026api-version=2021-04-05-preview6",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c"
      },
      "RequestBody": null,
      [...]
[...]
    {
      "RequestUri": "https://smstestapp.communication.azure.com/chat/threads/19%3A75QL8PlGKWkSQNl7quyy2ScdZIJehOaHSngOLXiH6tM1%40thread.v2/participants/:remove?api-version=2021-04-05-preview6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "communicationUser": {
          "id": "8:acs:ac80d96a-85de-48b1-995d-a3a3fa3627c8_0000000a-b0ac-3b5b-9806-113a0d00e209"
        }
      },
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2020-11-01-preview3, 2021-01-27-preview4, 2021-03-01-preview5, 2021-03-07, 2021-04-05-preview6",
        "MS-CV": "Xl4jqKVYp0\u002BqpaLfHVutvQ.0",
        "X-Processing-Time": "302ms"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://smstestapp.communication.azure.com/chat/threads/19%3A75QL8PlGKWkSQNl7quyy2ScdZIJehOaHSngOLXiH6tM1%40thread.v2/typing?api-version=2021-04-05-preview6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2020-09-21-preview2, 2020-11-01-preview3, 2021-01-27-preview4, 2021-03-01-preview5, 2021-03-07, 2021-04-05-preview6",
        "MS-CV": "WhkrArU3O0qYvLKX/iHJrw.0",
        "X-Processing-Time": "123ms"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://smstestapp.communication.azure.com/chat/threads?api-version=2021-04-05-preview6",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2020-09-21-preview2, 2020-11-01-preview3, 2021-01-27-preview4, 2021-03-01-preview5, 2021-03-07, 2021-04-05-preview6",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "OfKXBqOaGUSvJrlRbBRhvA.0",
        "X-Processing-Time": "89ms"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "19:75QL8PlGKWkSQNl7quyy2ScdZIJehOaHSngOLXiH6tM1@thread.v2",
            "topic": "Updated topic - C# sdk",
            "lastMessageReceivedOn": "2021-06-15T17:49:20Z"
          },
          {
            "id": "19:Zqeqmxk4ye5AAx7GnJKL6WyjPrgYXCSmSwNrL0Z6m8U1@thread.v2",
            "topic": "Thread async from C# sdk",
            "lastMessageReceivedOn": "2021-06-15T17:49:13Z"
          }
        ]
      }
    },
    {
      "RequestUri": "https://smstestapp.communication.azure.com/chat/threads/19%3A75QL8PlGKWkSQNl7quyy2ScdZIJehOaHSngOLXiH6tM1%40thread.v2?api-version=2021-04-05-preview6",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2020-09-21-preview2, 2020-11-01-preview3, 2021-01-27-preview4, 2021-03-01-preview5, 2021-03-07, 2021-04-05-preview6",
        "MS-CV": "pFDY\u002BqkpLkSpUj6KZrJubA.0",
        "X-Processing-Time": "152ms"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://smstestapp.communication.azure.com/;accesskey=Kg==",
    "RandomSeed": "1932191803"
  }
}