{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.com/identities?api-version=2021-03-07",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {},
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2020-07-20-preview2, 2021-03-07",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "t\u002BFLEu\u002Bp9Uaq/EY9Q3/OWw.0",
        "X-Processing-Time": "17ms"
      },
      "ResponseBody": {
        "identity": {
          "id": "8:acs:ac80d96a-85de-48b1-995d-a3a3fa3627c8_00000008-3420-7285-1000-343a0d00197c"
        }
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.com/identities/8%3Aacs%3Aac80d96a-85de-48b1-995d-a3a3fa3627c8_00000008-3420-7285-1000-343a0d00197c/:issueAccessToken?api-version=2021-03-07",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "scopes": [
          "chat"
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2020-07-20-preview2, 2021-03-07",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "PpwGJX7uc0aWBajH0xqfHQ.0",
        "X-Processing-Time": "26ms"
      },
      "ResponseBody": {
        "token": "Sanitized",
        "expiresOn": "2021-02-13T03:17:59.1677183\u002B00:00"
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.com/chat/threads?api-version=2020-11-01-preview3",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c",
        "Content-Type": "application/json",
        "repeatability-Request-ID": "contoso-C0A747F1-6245-4307-8267-B974340677DC"
      },
      "RequestBody": {
        "topic": "Thread async from C# sdk",
        "participants": [
          {
            "id": "8:acs:ac80d96a-85de-48b1-995d-a3a3fa3627c8_00000008-3420-7285-1000-343a0d00197c"
          },
          {
            "id": "8:acs:ac80d96a-85de-48b1-995d-a3a3fa3627c8_00000008-3420-731b-1000-343a0d00197d"
          },
          {
            "id": "8:acs:ac80d96a-85de-48b1-995d-a3a3fa3627c8_00000008-3420-739c-1000-343a0d00197e"
          }
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2020-09-21-preview2, 2020-11-01-preview3, 2021-01-27-preview4",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://smstestapp.communication.azure.com/chat/threads/19%3A8uo8ATuGJ3O23BFlogeRsi9io5aaYFpPHIekzvqXPcY1@thread.v2",
        "MS-CV": "7zmJfDV89UGxZPERPiuB9w.0",
        "X-Processing-Time": "496ms"
      },
      "ResponseBody": {
        "chatThread": {
          "id": "19:8uo8ATuGJ3O23BFlogeRsi9io5aaYFpPHIekzvqXPcY1@thread.v2",
          "topic": "Thread async from C# sdk",
          "createdOn": "2021-02-12T03:18:00Z",
          "createdBy": "8:acs:ac80d96a-85de-48b1-995d-a3a3fa3627c8_00000008-3420-7285-1000-343a0d00197c"
        }
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.com/chat/threads/19%3A8uo8ATuGJ3O23BFlogeRsi9io5aaYFpPHIekzvqXPcY1%40thread.v2/participants?api-version=2020-11-01-preview3",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2020-11-01-preview3, 2021-01-27-preview4",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "N2KxlGpyP0yPdN0cKr9A7A.0",
        "X-Processing-Time": "80ms"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "8:acs:ac80d96a-85de-48b1-995d-a3a3fa3627c8_00000008-3420-7285-1000-343a0d00197c",
            "shareHistoryTime": "1970-01-01T00:00:00Z"
          },
          {
            "id": "8:acs:ac80d96a-85de-48b1-995d-a3a3fa3627c8_00000008-3420-731b-1000-343a0d00197d",
            "shareHistoryTime": "1970-01-01T00:00:00Z"
          },
          {
            "id": "8:acs:ac80d96a-85de-48b1-995d-a3a3fa3627c8_00000008-3420-739c-1000-343a0d00197e",
            "shareHistoryTime": "1970-01-01T00:00:00Z"
          }
        ]
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.com/chat/threads/19%3A8uo8ATuGJ3O23BFlogeRsi9io5aaYFpPHIekzvqXPcY1%40thread.v2?api-version=2020-11-01-preview3",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c",
        "Content-Type": "application/merge-patch\u002Bjson"
      },
      "RequestBody": {
        "topic": "Updated topic - C# sdk"
      },
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2020-09-21-preview2, 2020-11-01-preview3, 2021-01-27-preview4",
        "MS-CV": "KHZ\u002B48fuik\u002BA5zNqdiNIpw.0",
        "X-Processing-Time": "270ms"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.com/chat/threads/19%3A8uo8ATuGJ3O23BFlogeRsi9io5aaYFpPHIekzvqXPcY1%40thread.v2/messages?api-version=2020-11-01-preview3",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "content": "Content for message 1",
        "senderDisplayName": "DisplayName sender message 1"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2020-09-21-preview2, 2020-11-01-preview3, 2021-01-27-preview4",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://smstestapp.communication.azure.com/chat/threads/19%3A8uo8ATuGJ3O23BFlogeRsi9io5aaYFpPHIekzvqXPcY1@thread.v2/messages/1613099882658",
        "MS-CV": "zyOGVMTC5kKShpA6g\u002BgFEw.0",
        "X-Processing-Time": "100ms"
      },
      "ResponseBody": {
        "id": "1613099882658"
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.com/chat/threads/19%3AO6etJiep0at9k4ySp80Qa9hGnX0_eUFxSgraB5K-x4U1%40thread.v2/messages?api-version=2020-11-01-preview3",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "content": "Content for message 2",
        "senderDisplayName": "DisplayName sender message 1"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2020-09-21-preview2, 2020-11-01-preview3, 2021-01-27-preview4",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://smstestapp.communication.azure.com/chat/threads/19%3AO6etJiep0at9k4ySp80Qa9hGnX0_eUFxSgraB5K-x4U1@thread.v2/messages/1613099882798",
        "MS-CV": "X7SgJhcVVk6KPuKNgTMjYQ.0",
        "X-Processing-Time": "97ms"
      },
      "ResponseBody": {
        "id": "1613099882798"
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.com/chat/threads/19%3A8uo8ATuGJ3O23BFlogeRsi9io5aaYFpPHIekzvqXPcY1%40thread.v2/messages/1613099882658?api-version=2020-11-01-preview3",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2020-09-21-preview2, 2020-11-01-preview3, 2021-01-27-preview4",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "BP1C8GkRaEy0jXfWvuTAaQ.0",
        "X-Processing-Time": "76ms"
      },
      "ResponseBody": {
        "id": "1613099882658",
        "type": "text",
        "sequenceId": "4",
        "version": "1613099882658",
        "content": {
          "message": "Content for message 1"
        },
        "senderDisplayName": "DisplayName sender message 1",
        "createdOn": "2021-02-12T03:18:02Z",
        "senderId": "8:acs:ac80d96a-85de-48b1-995d-a3a3fa3627c8_00000008-3420-7285-1000-343a0d00197c"
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.com/chat/threads/19%3AO6etJiep0at9k4ySp80Qa9hGnX0_eUFxSgraB5K-x4U1%40thread.v2/messages/1613099882798?api-version=2020-11-01-preview3",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2020-09-21-preview2, 2020-11-01-preview3, 2021-01-27-preview4",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "Kq5cqiOpQ06nufA34RidVQ.0",
        "X-Processing-Time": "73ms"
      },
      "ResponseBody": {
        "id": "1613099882798",
        "type": "text",
        "sequenceId": "3",
        "version": "1613099882798",
        "content": {
          "message": "Content for message 2"
        },
        "senderDisplayName": "DisplayName sender message 1",
        "createdOn": "2021-02-12T03:18:02Z",
        "senderId": "8:acs:ac80d96a-85de-48b1-995d-a3a3fa3627c8_00000008-3420-7285-1000-343a0d00197c"
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.com/chat/threads/19%3A8uo8ATuGJ3O23BFlogeRsi9io5aaYFpPHIekzvqXPcY1%40thread.v2/messages?maxPageSize=2\u0026api-version=2020-11-01-preview3",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c"
      },
      "RequestBody": null,
      "StatusCode":[...]
    {
      "RequestUri": "https://sanitized.communication.azure.com/chat/threads/19:8uo8ATuGJ3O23BFlogeRsi9io5aaYFpPHIekzvqXPcY1@thread.v2/messages?syncState=3e3900000031393a38756f38415475474a334f323342466c6f676552736939696f356161594670504849656b7a76715850635931407468726561642e763201dcda3e94770100006edb3e9477010000\u0026startTime=1%2F1%2F1970%2012%3A00%3A00%20AM%20%2B00%3A00\u0026maxPageSize=2\u0026api-version=2020-11-01-preview3",
      "RequestMethod": "GET",
      "RequestHeaders": {
       [...]
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.com/chat/threads/19:8uo8ATuGJ3O23BFlogeRsi9io5aaYFpPHIekzvqXPcY1@thread.v2/messages?syncState=3e3900000031393a38756f38415475474a334f323342466c6f676552736939696f356161594670504849656b7a76715850635931407468726561642e76320148d73e94770100006edb3e9477010000\u0026startTime=1%2F1%2F1970%2012%3A00%3A00%20AM%20%2B00%3A00\u0026maxPageSize=2\u0026api-version=2020-11-01-preview3",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2020-09-21-preview2, 2020-11-01-preview3, 2021-01-27-preview4",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "FXzdoszRF0O5arJZi8tAoQ.0",
        "X-Processing-Time": "93ms"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "1613099881032",
            "type": "topicUpdated",
            "sequenceId": "2",
            "version": "1613099881032",
            "content": {
              "topic": "Thread async from C# sdk",
              "initiator": "8:acs:ac80d96a-85de-48b1-995d-a3a3fa3627c8_00000008-3420-7285-1000-343a0d00197c"
            },
            "createdOn": "2021-02-12T03:18:01Z"
          },
          {
            "id": "1613099880912",
            "type": "participantAdded",
            "sequenceId": "1",
            "version": "1613099880912",
            "content": {
              "participants": [
                {
                  "id": "8:acs:ac80d96a-85de-48b1-995d-a3a3fa3627c8_00000008-3420-7285-1000-343a0d00197c",
                  "shareHistoryTime": "1970-01-01T00:00:00Z"
                },
                {
                  "id": "8:acs:ac80d96a-85de-48b1-995d-a3a3fa3627c8_00000008-3420-731b-1000-343a0d00197d",
                  "shareHistoryTime": "1970-01-01T00:00:00Z"
                },
                {
                  "id": "8:acs:ac80d96a-85de-48b1-995d-a3a3fa3627c8_00000008-3420-739c-1000-343a0d00197e",
                  "shareHistoryTime": "1970-01-01T00:00:00Z"
                }
              ],
              "initiator": "8:acs:ac80d96a-85de-48b1-995d-a3a3fa3627c8_00000008-3420-7285-1000-343a0d00197c"
            },
            "createdOn": "2021-02-12T03:18:00Z"
          }
        ],
        "nextLink": "https://smstestapp.communication.azure.com/chat/threads/19:8uo8ATuGJ3O23BFlogeRsi9io5aaYFpPHIekzvqXPcY1@thread.v2/messages?syncState=3e3900000031393a38756f38415475474a334f323342466c6f676552736939696f356161594670504849656b7a76715850635931407468726561642e763201d0d13e94770100006edb3e9477010000\u0026startTime=1%2F1%2F1970%2012%3A00%3A00%20AM%20%2B00%3A00\u0026maxPageSize=2\u0026api-version=2020-11-01-preview3"
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.com/chat/threads/19%3A8uo8ATuGJ3O23BFlogeRsi9io5aaYFpPHIekzvqXPcY1%40thread.v2/messages/1613099882658?api-version=2020-11-01-preview3",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2020-09-21-preview2, 2020-11-01-preview3, 2021-01-27-preview4",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "G01shzfiYEOlTl3gIn1ySA.0",
        "X-Processing-Time": "80ms"
      },
      "ResponseBody": {
        "id": "1613099882658",
        "type": "text",
        "sequenceId": "9",
        "version": "1613099886039",
        "content": {
          "message": "This is message 1 content updated"
        },
        "senderDisplayName": "DisplayName sender message 1",
        "createdOn": "2021-02-12T03:18:02Z",
        "senderId": "8:acs:ac80d96a-85de-48b1-995d-a3a3fa3627c8_00000008-3420-7285-1000-343a0d00197c",
        "editedOn": "2021-02-12T03:18:06Z"
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.com/chat/threads/19%3A8uo8ATuGJ3O23BFlogeRsi9io5aaYFpPHIekzvqXPcY1%40thread.v2/messages?api-version=2020-11-01-preview3",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2020-09-21-preview2, 2020-11-01-preview3, 2021-01-27-preview4",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "ezeXm1pZtE6jYUS3BxHnJg.0",
        "X-Processing-Time": "87ms"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "1613099882658",
            "type": "text",
            "sequenceId": "10",
            "version": "1613099886326",
            "content": {
              "message": ""
            },
            "senderDisplayName": "DisplayName sender message 1",
            "createdOn": "2021-02-12T03:18:02Z",
            "senderId": "8:acs:ac80d96a-85de-48b1-995d-a3a3fa3627c8_00000008-3420-7285-1000-343a0d00197c",
            "deletedOn": "2021-02-12T03:18:06Z"
          },
          {
            "id": "1613099883374",
            "type": "text",
            "sequenceId": "8",
            "version": "1613099883374",
            "content": {
              "message": "Content for message 6"
            },
            "senderDisplayName": "DisplayName sender message 1",
            "createdOn": "2021-02-12T03:18:03Z",
            "senderId": "8:acs:ac80d96a-85de-48b1-995d-a3a3fa3627c8_00000008-3420-739c-1000-343a0d00197e"
        [...]
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.com/chat/threads/19%3A8uo8ATuGJ3O23BFlogeRsi9io5aaYFpPHIekzvqXPcY1%40thread.v2/participants/:add?api-version=2020-11-01-preview3",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "participants": [
          {
            "id": "8:acs:ac80d96a-85de-48b1-995d-a3a3fa3627c8_00000008-3420-741e-1000-343a0d00197f"
          }
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2020-11-01-preview3, 2021-01-27-preview4",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "m5fi79NLaUqb4nkxYsN7nA.0",
        "X-Processing-Time": "460ms"
      },
      "ResponseBody": {}
    },
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.com/chat/threads/19%3A8uo8ATuGJ3O23BFlogeRsi9io5aaYFpPHIekzvqXPcY1%40thread.v2/participants?maxPageSize=2\u0026api-version=2020-11-01-preview3",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2020-11-01-preview3, 2021-01-27-preview4",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "l4leYb2QmUON54tLu7ma/Q.0",
        "X-Processing-Time": "81ms"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "8:acs:ac80d96a-85de-48b1-995d-a3a3fa3627c8_00000008-3420-7285-1000-343a0d00197c",
            "shareHistoryTime": "1970-01-01T00:00:00Z"
          },
          {
            "id": "8:acs:ac80d96a-85de-48b1-995d-a3a3fa3627c8_00000008-3420-731b-1000-343a0d00197d",
            "shareHistoryTime": "1970-01-01T00:00:00Z"
          }
        ],
        "nextLink": "https://smstestapp.communication.azure.com/chat/threads/19:8uo8ATuGJ3O23BFlogeRsi9io5aaYFpPHIekzvqXPcY1@thread.v2/participants?skip=2\u0026maxPageSize=2\u0026api-version=2020-11-01-preview3"
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.com/chat/threads/19:8uo8ATuGJ3O23BFlogeRsi9io5aaYFpPHIekzvqXPcY1@thread.v2/participants?skip=2\u0026maxPageSize=2\u0026api-version=2020-11-01-preview3",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2020-11-01-preview3, 2021-01-27-preview4",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "yexNTwZYKUSuyoLhAfNmjQ.0",
        "X-Processing-Time": "69ms"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "8:acs:ac80d96a-85de-48b1-995d-a3a3fa3627c8_00000008-3420-739c-1000-343a0d00197e",
            "shareHistoryTime": "1970-01-01T00:00:00Z"
          },
          {
            "id": "8:acs:ac80d96a-85de-48b1-995d-a3a3fa3627c8_00000008-3420-741e-1000-343a0d00197f",
            "shareHistoryTime": "1970-01-01T00:00:00Z"
          }
        ],
        "nextLink": "https://smstestapp.communication.azure.com/chat/threads/19:8uo8ATuGJ3O23BFlogeRsi9io5aaYFpPHIekzvqXPcY1@thread.v2/participants?skip=4\u0026maxPageSize=2\u0026api-version=2020-11-01-preview3"
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.com/chat/threads/19%3A8uo8ATuGJ3O23BFlogeRsi9io5aaYFpPHIekzvqXPcY1%40thread.v2/participants/8%3Aacs%3Aac80d96a-85de-48b1-995d-a3a3fa3627c8_00000008-3420-741e-1000-343a0d00197f?api-version=2020-11-01-preview3",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2020-11-01-preview3, 2021-01-27-preview4",
        "MS-CV": "MzxdcRmF60Sq2rO7YIgf6g.0",
        "X-Processing-Time": "331ms"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.com/chat/threads/19%3A8uo8ATuGJ3O23BFlogeRsi9io5aaYFpPHIekzvqXPcY1%40thread.v2/typing?api-version=2020-11-01-preview3",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2020-09-21-preview2, 2020-11-01-preview3, 2021-01-27-preview4",
        "MS-CV": "r11z2aaEPEinnBMf\u002B93jQg.0",
        "X-Processing-Time": "86ms"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.com/chat/threads?api-version=2020-11-01-preview3",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2020-09-21-preview2, 2020-11-01-preview3, 2021-01-27-preview4",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "rkM8x38qcECBZWmdu68Ezw.0",
        "X-Processing-Time": "66ms"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "19:8uo8ATuGJ3O23BFlogeRsi9io5aaYFpPHIekzvqXPcY1@thread.v2",
            "topic": "Updated topic - C# sdk",
            "lastMessageReceivedOn": "2021-02-12T03:18:07Z"
          },
          {
            "id": "19:O6etJiep0at9k4ySp80Qa9hGnX0_eUFxSgraB5K-x4U1@thread.v2",
            "topic": "Thread async from C# sdk",
            "lastMessageReceivedOn": "2021-02-12T03:18:01Z"
          }
        ]
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.com/chat/threads/19%3A8uo8ATuGJ3O23BFlogeRsi9io5aaYFpPHIekzvqXPcY1%40thread.v2?api-version=2020-11-01-preview3",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2020-09-21-preview2, 2020-11-01-preview3, 2021-01-27-preview4",
        "MS-CV": "WXgLHZ9qXECIzukR/Ebtvg.0",
        "X-Processing-Time": "249ms"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "COMMUNICATION_CONNECTION_STRING": "endpoint=https://sanitized.communication.azure.com/;accesskey=Kg==",
    "RandomSeed": "1326037612"
  }
}