{
  "Entries": [
    {
      "RequestUri": "https://chat-sdktester-e2e.communication.azure.com/identities?api-version=2021-03-07",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "RBNvo1WzZ4oRRq0W9\u002BhknpT7T8If536DEMBg9hyq/4o="
      },
      "RequestBody": {},
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2020-07-20-preview2, 2021-03-07",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "qs0oA0nHJEme\u002B70EZeN\u002BFg.0",
        "X-Processing-Time": "210ms"
      },
      "ResponseBody": {
        "identity": {
          "id": "8:acs:357e39d2-a29a-4bf6-88cc-fda0afc2c0ed_00000008-08bf-f033-e1ae-1d3a0d00736a"
        }
      }
    },
    {
      "RequestUri": "https://chat-sdktester-e2e.communication.azure.com/identities/8%3Aacs%3A357e39d2-a29a-4bf6-88cc-fda0afc2c0ed_00000008-08bf-f033-e1ae-1d3a0d00736a/:issueAccessToken?api-version=2021-03-07",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "J\u002BdoRQjtFVYLx3qOvzptwBLjQWqy6OEWEEk1TY1\u002BrT4="
      },
      "RequestBody": {
        "scopes": [
          "chat"
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2020-07-20-preview2, 2021-03-07",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "HWYLQJpwNEiryOX9XUGvZw.0",
        "X-Processing-Time": "295ms"
      },
      "ResponseBody": {
        "token": "Sanitized",
        "expiresOn": "2021-02-04T17:08:54.4222455\u002B00:00"
      }
    },
[...]
    {
      "RequestUri": "https://chat-sdktester-e2e.communication.azure.com/chat/threads?api-version=2020-11-01-preview3",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c",
        "Content-Type": "application/json",
        "repeatability-Request-ID": "contoso-F0A747F1-6245-4307-8267-B974340677D2"
      },
      "RequestBody": {
        "topic": "Thread sync from C# sdk",
        "participants": [
          {
            "id": "8:acs:357e39d2-a29a-4bf6-88cc-fda0afc2c0ed_00000008-08bf-f033-e1ae-1d3a0d00736a"
          },
          {
            "id": "8:acs:357e39d2-a29a-4bf6-88cc-fda0afc2c0ed_00000008-08bf-f2e7-e1ae-1d3a0d00736b"
          },
          {
            "id": "8:acs:357e39d2-a29a-4bf6-88cc-fda0afc2c0ed_00000008-08bf-f5ae-e1ae-1d3a0d00736c"
          }
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2020-09-21-preview2, 2020-11-01-preview3, 2021-01-27-preview4",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://chat-sdktester-e2e.communication.azure.com/chat/threads/19%3AghuPMBoK9UOqvUbzsPvbmR23H3x1s_Rvdr0s-s_8IgQ1@thread.v2",
        "MS-CV": "2VorrfAPlUqfCBeszXU6PQ.0",
        "X-Processing-Time": "290ms"
      },
      "ResponseBody": {
        "chatThread": {
          "id": "19:ghuPMBoK9UOqvUbzsPvbmR23H3x1s_Rvdr0s-s_8IgQ1@thread.v2",
          "topic": "Thread sync from C# sdk",
          "createdOn": "2021-02-03T17:08:58Z",
          "createdBy": "8:acs:357e39d2-a29a-4bf6-88cc-fda0afc2c0ed_00000008-08bf-f033-e1ae-1d3a0d00736a"
        }
      }
    },
[...]
    {
      "RequestUri": "https://chat-sdktester-e2e.communication.azure.com/chat/threads/19%3AghuPMBoK9UOqvUbzsPvbmR23H3x1s_Rvdr0s-s_8IgQ1%40thread.v2/participants?api-version=2020-11-01-preview3",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2020-11-01-preview3, 2021-01-27-preview4",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "cTmmtoY1yE\u002BPOsZxSLkZcw.0",
        "X-Processing-Time": "52ms"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "8:acs:357e39d2-a29a-4bf6-88cc-fda0afc2c0ed_00000008-08bf-f033-e1ae-1d3a0d00736a",
            "shareHistoryTime": "1970-01-01T00:00:00Z"
          },
          {
            "id": "8:acs:357e39d2-a29a-4bf6-88cc-fda0afc2c0ed_00000008-08bf-f2e7-e1ae-1d3a0d00736b",
            "shareHistoryTime": "1970-01-01T00:00:00Z"
          },
          {
            "id": "8:acs:357e39d2-a29a-4bf6-88cc-fda0afc2c0ed_00000008-08bf-f5ae-e1ae-1d3a0d00736c",
            "shareHistoryTime": "1970-01-01T00:00:00Z"
          }
        ]
      }
    },
    {
      "RequestUri": "https://chat-sdktester-e2e.communication.azure.com/chat/threads/19%3AghuPMBoK9UOqvUbzsPvbmR23H3x1s_Rvdr0s-s_8IgQ1%40thread.v2?api-version=2020-11-01-preview3",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c",
        "Content-Type": "application/merge-patch\u002Bjson"
      },
      "RequestBody": {
        "topic": "Launch meeting"
      },
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2020-09-21-preview2, 2020-11-01-preview3, 2021-01-27-preview4",
        "MS-CV": "x3xnXwkg9k2Kq5cNUuSLOQ.0",
        "X-Processing-Time": "81ms"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://chat-sdktester-e2e.communication.azure.com/chat/threads/19%3AghuPMBoK9UOqvUbzsPvbmR23H3x1s_Rvdr0s-s_8IgQ1%40thread.v2/messages?api-version=2020-11-01-preview3",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c",
        "Content-Type": "application/json"
      },
      "RequestBody": "{\u0022content\u0022:\u0022Let\u0027s meet at 11am\u0022}",
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2020-09-21-preview2, 2020-11-01-preview3, 2021-01-27-preview4",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://chat-sdktester-e2e.communication.azure.com/chat/threads/19%3AghuPMBoK9UOqvUbzsPvbmR23H3x1s_Rvdr0s-s_8IgQ1@thread.v2/messages/1612372140504",
        "MS-CV": "g5C7UVkYjU\u002B1HyX78Brltg.0",
        "X-Processing-Time": "272ms"
      },
      "ResponseBody": {
        "id": "1612372140504"
      }
    },
    {
      "RequestUri": "https://chat-sdktester-e2e.communication.azure.com/chat/threads/19%3AFTHZQEb9ZDwNGO9Zih1bZowq-nnyqsEWnxyUhNZL8WE1%40thread.v2/messages?api-version=2020-11-01-preview3",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "content": "Content for message 2",
        "senderDisplayName": "DisplayName sender message 1",
        "type": "text"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2020-09-21-preview2, 2020-11-01-preview3, 2021-01-27-preview4",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://chat-sdktester-e2e.communication.azure.com/chat/threads/19%3AFTHZQEb9ZDwNGO9Zih1bZowq-nnyqsEWnxyUhNZL8WE1@thread.v2/messages/1612372140829",
        "MS-CV": "4Y29xzTnkkSBoZFYvyqMkw.0",
        "X-Processing-Time": "235ms"
      },
      "ResponseBody": {
        "id": "1612372140829"
      }
    },
[...]
    {
      "RequestUri": "https://chat-sdktester-e2e.communication.azure.com/chat/threads/19%3AghuPMBoK9UOqvUbzsPvbmR23H3x1s_Rvdr0s-s_8IgQ1%40thread.v2/messages/1612372140504?api-version=2020-11-01-preview3",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2020-09-21-preview2, 2020-11-01-preview3, 2021-01-27-preview4",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "kCCT4OX\u002BvEalNqXqcrsoMQ.0",
        "X-Processing-Time": "204ms"
      },
      "ResponseBody": {
        "id": "1612372140504",
        "type": "text",
        "sequenceId": "4",
        "version": "1612372140504",
        "content": {
          "message": "Let\u0027s meet at 11am"
        },
        "senderDisplayName": "",
        "createdOn": "2021-02-03T17:09:00Z",
        "senderId": "8:acs:357e39d2-a29a-4bf6-88cc-fda0afc2c0ed_00000008-08bf-f033-e1ae-1d3a0d00736a"
      }
    },
    {
      "RequestUri": "https://chat-sdktester-e2e.communication.azure.com/chat/threads/19%3AFTHZQEb9ZDwNGO9Zih1bZowq-nnyqsEWnxyUhNZL8WE1%40thread.v2/messages/1612372140829?api-version=2020-11-01-preview3",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2020-09-21-preview2, 2020-11-01-preview3, 2021-01-27-preview4",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "rfeeA905EkKA7zFyy21png.0",
        "X-Processing-Time": "156ms"
      },
      "ResponseBody": {
        "id": "1612372140829",
        "type": "text",
        "sequenceId": "3",
        "version": "1612372140829",
        "content": {
          "message": "Content for message 2"
        },
        "senderDisplayName": "DisplayName sender message 1",
        "createdOn": "2021-02-03T17:09:00Z",
        "senderId": "8:acs:357e39d2-a29a-4bf6-88cc-fda0afc2c0ed_00000008-08bf-f033-e1ae-1d3a0d00736a"
      }
    },
[...]
    {
      "RequestUri": "https://chat-sdktester-e2e.communication.azure.com/chat/threads/19%3AghuPMBoK9UOqvUbzsPvbmR23H3x1s_Rvdr0s-s_8IgQ1%40thread.v2/messages?maxPageSize=2\u0026api-version=2020-11-01-preview3",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c"
      },
      "RequestBody": null,
      "Sta[...]
    {
      "RequestUri": "https://chat-sdktester-e2e.communication.azure.com/chat/threads/19:ghuPMBoK9UOqvUbzsPvbmR23H3x1s_Rvdr0s-s_8IgQ1@thread.v2/messages?syncState=3e3900000031393a676875504d426f4b39554f717655627a735076626d52323348337831735f5276647230732d735f3849675131407468726561642e763201ed66de68770100002368de6877010000\u0026startTime=1%2F1%2F1970%2012%3A00%3A00%20AM%20%2B00%3A00\u0026maxPageSize=2\u0026api-version=2020-11-01-preview3",
      "RequestMethod": "GET",
      "RequestHeaders": [...]
[...]
    {
      "RequestUri": "https://chat-sdktester-e2e.communication.azure.com/chat/threads/19:ghuPMBoK9UOqvUbzsPvbmR23H3x1s_Rvdr0s-s_8IgQ1@thread.v2/messages?syncState=3e3900000031393a676875504d426f4b39554f717655627a735076626d52323348337831735f5276647230732d735f3849675131407468726561642e763201015fde68770100002368de6877010000\u0026startTime=1%2F1%2F1970%2012%3A00%3A00%20AM%20%2B00%3A00\u0026maxPageSize=2\u0026api-version=2020-11-01-preview3",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2020-09-21-preview2, 2020-11-01-preview3, 2021-01-27-preview4",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "rIyJF8MBnkmeqFe0Rq0AZw.0",
        "X-Processing-Time": "232ms"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "1612372139086",
            "type": "topicUpdated",
            "sequenceId": "2",
            "version": "1612372139086",
            "content": {
              "topic": "Thread sync from C# sdk",
              "initiator": "8:acs:357e39d2-a29a-4bf6-88cc-fda0afc2c0ed_00000008-08bf-f033-e1ae-1d3a0d00736a"
            },
            "createdOn": "2021-02-03T17:08:59Z"
          },
          {
            "id": "1612372139061",
            "type": "participantAdded",
            "sequenceId": "1",
            "version": "1612372139061",
            "content": {
              "participants": [
                {
                  "id": "8:acs:357e39d2-a29a-4bf6-88cc-fda0afc2c0ed_00000008-08bf-f033-e1ae-1d3a0d00736a",
                  "shareHistoryTime": "1970-01-01T00:00:00Z"
                },
                {
                  "id": "8:acs:357e39d2-a29a-4bf6-88cc-fda0afc2c0ed_00000008-08bf-f2e7-e1ae-1d3a0d00736b",
                  "shareHistoryTime": "1970-01-01T00:00:00Z"
                },
                {
                  "id": "8:acs:357e39d2-a29a-4bf6-88cc-fda0afc2c0ed_00000008-08bf-f5ae-e1ae-1d3a0d00736c",
                  "shareHistoryTime": "1970-01-01T00:00:00Z"
                }
              ],
              "initiator": "8:acs:357e39d2-a29a-4bf6-88cc-fda0afc2c0ed_00000008-08bf-f033-e1ae-1d3a0d00736a"
            },
            "createdOn": "2021-02-03T17:08:59Z"
          }
        ],
        "nextLink": "https://chat-sdktester-e2e.communication.azure.com/chat/threads/19:ghuPMBoK9UOqvUbzsPvbmR23H3x1s_Rvdr0s-s_8IgQ1@thread.v2/messages?syncState=3e3900000031393a676875504d426f4b39554f717655627a735076626d52323348337831735f5276647230732d735f3849675131407468726561642e763201355cde68770100002368de6877010000\u0026startTime=1%2F1%2F1970%2012%3A00%3A00%20AM%20%2B00%3A00\u0026maxPageSize=2\u0026api-version=2020-11-01-preview3"
      }
    },
[...]
    {
      "RequestUri": "https://chat-sdktester-e2e.communication.azure.com/chat/threads/19%3AghuPMBoK9UOqvUbzsPvbmR23H3x1s_Rvdr0s-s_8IgQ1%40thread.v2/messages/1612372140504?api-version=2020-11-01-preview3",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2020-09-21-preview2, 2020-11-01-preview3, 2021-01-27-preview4",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "5hqcaiQ6\u002BkqfsbWh3VETEg.0",
        "X-Processing-Time": "157ms"
      },
      "ResponseBody": {
        "id": "1612372140504",
        "type": "text",
        "sequenceId": "9",
        "version": "1612372146540",
        "content": {
          "message": "Instead of 11am, let\u0027s meet at 2pm"
        },
        "senderDisplayName": "",
        "createdOn": "2021-02-03T17:09:00Z",
        "senderId": "8:acs:357e39d2-a29a-4bf6-88cc-fda0afc2c0ed_00000008-08bf-f033-e1ae-1d3a0d00736a",
        "editedOn": "2021-02-03T17:09:06Z"
      }
    },
[...]
    {
      "RequestUri": "https://chat-sdktester-e2e.communication.azure.com/chat/threads/19%3AghuPMBoK9UOqvUbzsPvbmR23H3x1s_Rvdr0s-s_8IgQ1%40thread.v2/messages?api-version=2020-11-01-preview3",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2020-09-21-preview2, 2020-11-01-preview3, 2021-01-27-preview4",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "BiDDB82XLkCR4Z4Tar/9iA.0",
        "X-Processing-Time": "174ms"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "1612372140504",
            "type": "text",
            "sequenceId": "10",
            "version": "1612372147144",
            "content": {
              "message": ""
            },
            "senderDisplayName": "",
            "createdOn": "2021-02-03T17:09:00Z",
            "senderId": "8:acs:357e39d2-a29a-4bf6-88cc-fda0afc2c0ed_00000008-08bf-f033-e1ae-1d3a0d00736a",
            "deletedOn": "2021-02-03T17:09:06Z"
          },
          {
            "id": "1612372142115",
            "type": "text",
            "sequenceId": "8",
            "version": "1612372142115",
            "content": {
              "message": "Content for message 6"
            },
            "senderDisplayName": "DisplayName sender message 1",
            "createdOn": "2021-02-03T17:09:02Z",
            "senderId": "8:acs:357e39d2-a29a-4bf6-88cc-fda0afc2c0ed_00000008-08bf-f5ae-e1ae-1d3a0d00736c"
        [...]
[...]
    {
      "RequestUri": "https://chat-sdktester-e2e.communication.azure.com/chat/threads/19%3AghuPMBoK9UOqvUbzsPvbmR23H3x1s_Rvdr0s-s_8IgQ1%40thread.v2/participants/:add?api-version=2020-11-01-preview3",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "participants": [
          {
            "id": "8:acs:357e39d2-a29a-4bf6-88cc-fda0afc2c0ed_00000008-08bf-f84d-e1ae-1d3a0d00736d"
          }
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2020-11-01-preview3, 2021-01-27-preview4",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "lUNCXYcjq0uQ0LPwNKQEeg.0",
        "X-Processing-Time": "295ms"
      },
      "ResponseBody": {}
    },
[...]
    {
      "RequestUri": "https://chat-sdktester-e2e.communication.azure.com/chat/threads/19%3AghuPMBoK9UOqvUbzsPvbmR23H3x1s_Rvdr0s-s_8IgQ1%40thread.v2/participants?maxPageSize=2\u0026api-version=2020-11-01-preview3",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2020-11-01-preview3, 2021-01-27-preview4",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "6Q8mm1o/90awelyiUMcarA.0",
        "X-Processing-Time": "34ms"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "8:acs:357e39d2-a29a-4bf6-88cc-fda0afc2c0ed_00000008-08bf-f033-e1ae-1d3a0d00736a",
            "shareHistoryTime": "1970-01-01T00:00:00Z"
          },
          {
            "id": "8:acs:357e39d2-a29a-4bf6-88cc-fda0afc2c0ed_00000008-08bf-f2e7-e1ae-1d3a0d00736b",
            "shareHistoryTime": "1970-01-01T00:00:00Z"
          }
        ],
        "nextLink": "https://chat-sdktester-e2e.communication.azure.com/chat/threads/19:ghuPMBoK9UOqvUbzsPvbmR23H3x1s_Rvdr0s-s_8IgQ1@thread.v2/participants?skip=2\u0026maxPageSize=2\u0026api-version=2020-11-01-preview3"
      }
    },
    {
      "RequestUri": "https://chat-sdktester-e2e.communication.azure.com/chat/threads/19:ghuPMBoK9UOqvUbzsPvbmR23H3x1s_Rvdr0s-s_8IgQ1@thread.v2/participants?skip=2\u0026maxPageSize=2\u0026api-version=2020-11-01-preview3",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2020-11-01-preview3, 2021-01-27-preview4",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "qGAV0X3t\u002B0WxTNuM1iyAOA.0",
        "X-Processing-Time": "33ms"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "8:acs:357e39d2-a29a-4bf6-88cc-fda0afc2c0ed_00000008-08bf-f5ae-e1ae-1d3a0d00736c",
            "shareHistoryTime": "1970-01-01T00:00:00Z"
          },
          {
            "id": "8:acs:357e39d2-a29a-4bf6-88cc-fda0afc2c0ed_00000008-08bf-f84d-e1ae-1d3a0d00736d",
            "shareHistoryTime": "1970-01-01T00:00:00Z"
          }
        ],
        "nextLink": "https://chat-sdktester-e2e.communication.azure.com/chat/threads/19:ghuPMBoK9UOqvUbzsPvbmR23H3x1s_Rvdr0s-s_8IgQ1@thread.v2/participants?skip=4\u0026maxPageSize=2\u0026api-version=2020-11-01-preview3"
      }
    },
[...]
    {
      "RequestUri": "https://chat-sdktester-e2e.communication.azure.com/chat/threads/19%3AghuPMBoK9UOqvUbzsPvbmR23H3x1s_Rvdr0s-s_8IgQ1%40thread.v2/participants/8%3Aacs%3A357e39d2-a29a-4bf6-88cc-fda0afc2c0ed_00000008-08bf-f84d-e1ae-1d3a0d00736d?api-version=2020-11-01-preview3",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2020-11-01-preview3, 2021-01-27-preview4",
        "MS-CV": "pLms0RZADk2eXnxz1j0lMg.0",
        "X-Processing-Time": "319ms"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://chat-sdktester-e2e.communication.azure.com/chat/threads/19%3AghuPMBoK9UOqvUbzsPvbmR23H3x1s_Rvdr0s-s_8IgQ1%40thread.v2/typing?api-version=2020-11-01-preview3",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2020-09-21-preview2, 2020-11-01-preview3, 2021-01-27-preview4",
        "MS-CV": "cT3mGuAXpEi4rAr4YsEhkA.0",
        "X-Processing-Time": "152ms"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://chat-sdktester-e2e.communication.azure.com/chat/threads?api-version=2020-11-01-preview3",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2020-09-21-preview2, 2020-11-01-preview3, 2021-01-27-preview4",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "nM6Gn7Bgj06Nf8jVWI5rYQ.0",
        "X-Processing-Time": "34ms"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "19:ghuPMBoK9UOqvUbzsPvbmR23H3x1s_Rvdr0s-s_8IgQ1@thread.v2",
            "topic": "Launch meeting",
            "lastMessageReceivedOn": "2021-02-03T17:09:08Z"
          },
          {
            "id": "19:FTHZQEb9ZDwNGO9Zih1bZowq-nnyqsEWnxyUhNZL8WE1@thread.v2",
            "topic": "Thread sync from C# sdk",
            "lastMessageReceivedOn": "2021-02-03T17:08:59Z"
          }
        ]
      }
    },
    {
      "RequestUri": "https://chat-sdktester-e2e.communication.azure.com/chat/threads/19%3AghuPMBoK9UOqvUbzsPvbmR23H3x1s_Rvdr0s-s_8IgQ1%40thread.v2?api-version=2020-11-01-preview3",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2020-09-21-preview2, 2020-11-01-preview3, 2021-01-27-preview4",
        "MS-CV": "aG/NlEdoWEmew1Xb0Jzx0A.0",
        "X-Processing-Time": "270ms"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "COMMUNICATION_CONNECTION_STRING": "endpoint=https://chat-sdktester-e2e.communication.azure.com/;accesskey=Kg==;",
    "RandomSeed": "800004652"
  }
}