{
  "Entries": [
    {
      "RequestUri": "https://azurecommunicationservices.communication.azure.com/identities?api-version=2021-03-07",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "RBNvo1WzZ4oRRq0W9\u002BhknpT7T8If536DEMBg9hyq/4o="
      },
      "RequestBody": {},
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2020-07-20-preview2, 2021-03-07",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "jvpDcCA8nEOcmBcrJnx\u002B\u002BQ.0",
        "X-Processing-Time": "20ms"
      },
      "ResponseBody": {
        "identity": {
          "id": "8:acs:ac80d96a-85de-48b1-995d-a3a3fa3627c8_00000007-bcda-e3b9-8337-3b3a0d0004bf"
        }
      }
    },
    {
      "RequestUri": "https://azurecommunicationservices.communication.azure.com/identities/8%3Aacs%3Aac80d96a-85de-48b1-995d-a3a3fa3627c8_00000007-bcda-e3b9-8337-3b3a0d0004bf/:issueAccessToken?api-version=2021-03-07",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "J\u002BdoRQjtFVYLx3qOvzptwBLjQWqy6OEWEEk1TY1\u002BrT4="
      },
      "RequestBody": {
        "scopes": [
          "chat"
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2020-07-20-preview2, 2021-03-07",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "lRwM2iChGEiNgQN9aETccQ.0",
        "X-Processing-Time": "25ms"
      },
      "ResponseBody": {
        "token": "Sanitized",
        "expiresOn": "2021-01-20T23:27:11.9004183\u002B00:00"
      }
    },
[...]
    {
      "RequestUri": "https://azurecommunicationservices.communication.azure.com/chat/threads?api-version=2020-09-21-preview2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "topic": "Thread async from C# sdk",
        "members": [
          {
            "id": "8:acs:ac80d96a-85de-48b1-995d-a3a3fa3627c8_00000007-bcda-e3b9-8337-3b3a0d0004bf"
          },
          {
            "id": "8:acs:ac80d96a-85de-48b1-995d-a3a3fa3627c8_00000007-bcda-e444-8337-3b3a0d0004c0"
          },
          {
            "id": "8:acs:ac80d96a-85de-48b1-995d-a3a3fa3627c8_00000007-bcda-e4d2-8337-3b3a0d0004c1"
          }
        ]
      },
      "StatusCode": 207,
      "ResponseHeaders": {
        "api-supported-versions": "2020-09-21-preview2, 2020-11-01-preview3",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://13.64.171.212/chat/threads/19%3A25731468a0e74c108b187479c9d89fcb@thread.v2",
        "MS-CV": "/vnvyufR0ECo8y2BEyPLFw.0",
        "X-Processing-Time": "422ms"
      },
      "ResponseBody": {
        "multipleStatus": [
          {
            "id": "8:acs:ac80d96a-85de-48b1-995d-a3a3fa3627c8_00000007-bcda-e3b9-8337-3b3a0d0004bf",
            "statusCode": 201,
            "type": "ThreadMember"
          },
          {
            "id": "8:acs:ac80d96a-85de-48b1-995d-a3a3fa3627c8_00000007-bcda-e444-8337-3b3a0d0004c0",
            "statusCode": 201,
            "type": "ThreadMember"
          },
          {
            "id": "8:acs:ac80d96a-85de-48b1-995d-a3a3fa3627c8_00000007-bcda-e4d2-8337-3b3a0d0004c1",
            "statusCode": 201,
            "type": "ThreadMember"
          },
          {
            "id": "19:25731468a0e74c108b187479c9d89fcb@thread.v2",
            "statusCode": 201,
            "type": "Thread"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://azurecommunicationservices.communication.azure.com/chat/threads/19%3A25731468a0e74c108b187479c9d89fcb%40thread.v2?api-version=2020-09-21-preview2",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "topic": "Updated topic - C# sdk"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2020-09-21-preview2, 2020-11-01-preview3",
        "MS-CV": "J\u002Bx6GYEYe0WnfTOb5sQ8Cg.0",
        "X-Processing-Time": "280ms"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://azurecommunicationservices.communication.azure.com/chat/threads/19%3A25731468a0e74c108b187479c9d89fcb%40thread.v2?api-version=2020-09-21-preview2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2020-09-21-preview2, 2020-11-01-preview3",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "U888rrjSDEGVLl0MCqfWaA.0",
        "X-Processing-Time": "61ms"
      },
      "ResponseBody": {
        "id": "19:25731468a0e74c108b187479c9d89fcb@thread.v2",
        "topic": "Updated topic - C# sdk",
        "createdOn": "2021-01-19T23:27:13Z",
        "createdBy": "8:acs:ac80d96a-85de-48b1-995d-a3a3fa3627c8_00000007-bcda-e3b9-8337-3b3a0d0004bf",
        "members": [
          {
            "id": "8:acs:ac80d96a-85de-48b1-995d-a3a3fa3627c8_00000007-bcda-e3b9-8337-3b3a0d0004bf",
            "shareHistoryTime": "1970-01-01T00:00:00Z"
          },
          {
            "id": "8:acs:ac80d96a-85de-48b1-995d-a3a3fa3627c8_00000007-bcda-e444-8337-3b3a0d0004c0",
            "shareHistoryTime": "1970-01-01T00:00:00Z"
          },
          {
            "id": "8:acs:ac80d96a-85de-48b1-995d-a3a3fa3627c8_00000007-bcda-e4d2-8337-3b3a0d0004c1",
            "shareHistoryTime": "1970-01-01T00:00:00Z"
          }
        ]
      }
    },
    {
      "RequestUri": "https://azurecommunicationservices.communication.azure.com/chat/threads?api-version=2020-09-21-preview2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2020-09-21-preview2, 2020-11-01-preview3",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "eHnR0Yr5pUSmjxJ4EGWIpQ.0",
        "X-Processing-Time": "59ms"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "19:25731468a0e74c108b187479c9d89fcb@thread.v2",
            "topic": "Updated topic - C# sdk",
            "isDeleted": false,
            "lastMessageReceivedOn": "2021-01-19T23:27:13Z"
          },
          {
            "id": "19:96a8ef6f82fc4b86b5da7f0bd740ab52@thread.v2",
            "topic": "Thread async from C# sdk",
            "isDeleted": false,
            "lastMessageReceivedOn": "2021-01-19T23:27:14Z"
          }
        ]
      }
    },
    {
      "RequestUri": "https://azurecommunicationservices.communication.azure.com/chat/threads/19%3A25731468a0e74c108b187479c9d89fcb%40thread.v2/messages?api-version=2020-09-21-preview2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "priority": "High",
        "content": "Content for message 1",
        "senderDisplayName": "DisplayName sender message 1"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2020-09-21-preview2, 2020-11-01-preview3",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://13.64.171.212/chat/threads/19%3A25731468a0e74c108b187479c9d89fcb@thread.v2/messages/1611098835422",
        "MS-CV": "50flED8nqEqAsuwVF3TQcw.0",
        "X-Processing-Time": "179ms"
      },
      "ResponseBody": {
        "id": "1611098835422"
      }
    },
[...]
    {
      "RequestUri": "https://azurecommunicationservices.communication.azure.com/chat/threads/19%3A25731468a0e74c108b187479c9d89fcb%40thread.v2/messages/1611098835422?api-version=2020-09-21-preview2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2020-09-21-preview2, 2020-11-01-preview3",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "tV5tOHdsnE6VTNiGo8GZaA.0",
        "X-Processing-Time": "267ms"
      },
      "ResponseBody": {
        "id": "1611098835422",
        "type": "Text",
        "priority": "High",
        "version": "1611098835422",
        "content": "Content for message 1",
        "senderDisplayName": "DisplayName sender message 1",
        "createdOn": "2021-01-19T23:27:15Z",
        "senderId": "8:acs:ac80d96a-85de-48b1-995d-a3a3fa3627c8_00000007-bcda-e3b9-8337-3b3a0d0004bf"
      }
    },
[...]
    {
      "RequestUri": "https://azurecommunicationservices.communication.azure.com/chat/threads/19%3A25731468a0e74c108b187479c9d89fcb%40thread.v2/messages?maxPageSize=2\u0026api-version=2020-09-21-preview2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c"
      },
      "RequestBody": null,
      "StatusC[...]
    {
      "RequestUri": "https://azurecommunicationservices.communication.azure.com/chat/threads/19:25731468a0e74c108b187479c9d89fcb@thread.v2/messages?syncState=3e2d00000031393a3235373331343638613065373463313038623138373437396339643839666362407468726561642e763201d04ff91c770100003851f91c77010000\u0026startTime=1%2F1%2F1970%2012%3A00%3A00%20AM%20%2B00%3A00\u0026maxPageSize=2\u0026api-version=2020-09-21-preview2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "[...]
[...]
    {
      "RequestUri": "https://azurecommunicationservices.communication.azure.com/chat/threads/19%3A25731468a0e74c108b187479c9d89fcb%40thread.v2/messages/1611098835422?api-version=2020-09-21-preview2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2020-09-21-preview2, 2020-11-01-preview3",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "uZjVrqrZkUq463E6NAsWaQ.0",
        "X-Processing-Time": "61ms"
      },
      "ResponseBody": {
        "id": "1611098835422",
        "type": "Text",
        "priority": "High",
        "version": "1611098841199",
        "content": "This is message 1 content updated",
        "senderDisplayName": "DisplayName sender message 1",
        "createdOn": "2021-01-19T23:27:15Z",
        "senderId": "8:acs:ac80d96a-85de-48b1-995d-a3a3fa3627c8_00000007-bcda-e3b9-8337-3b3a0d0004bf",
        "editedOn": "2021-01-19T23:27:21Z"
      }
    },
[...]
    {
      "RequestUri": "https://azurecommunicationservices.communication.azure.com/chat/threads/19%3A25731468a0e74c108b187479c9d89fcb%40thread.v2/messages?api-version=2020-09-21-preview2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2020-09-21-preview2, 2020-11-01-preview3",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "e1qDZqe\u002BVEG7ZdZ4BEH0bw.0",
        "X-Processing-Time": "76ms"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "1611098835422",
            "type": "Text",
            "priority": "Normal",
            "version": "1611098841829",
            "content": "",
            "senderDisplayName": "DisplayName sender message 1",
            "createdOn": "2021-01-19T23:27:15Z",
            "senderId": "8:acs:ac80d96a-85de-48b1-995d-a3a3fa3627c8_00000007-bcda-e3b9-8337-3b3a0d0004bf",
            "deletedOn": "2021-01-19T23:27:21Z"
          },
          {
            "id": "1611098837304",
            "type": "Text",
            "priority": "High",
            "version": "1611098837304",
            "content": "Content for message 6",
            "senderDisplayName": "DisplayName sender message 1",
            "createdOn": "2021-01-19T23:27:17Z",
            "senderId": "8:acs:ac80d96a-85de-48b1-995d-a3a3fa3627c8_00000007-bcda-e4d2-8337-3b3a0d0004c1"
          },
          {
            "id": "1611[...]
    {
      "RequestUri": "https://azurecommunicationservices.communication.azure.com/chat/threads/19%3A25731468a0e74c108b187479c9d89fcb%40thread.v2/members?api-version=2020-09-21-preview2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2020-09-21-preview2",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "6pfgiPuH0EG5VeYU1YU\u002BXQ.0",
        "X-Processing-Time": "189ms"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "8:acs:ac80d96a-85de-48b1-995d-a3a3fa3627c8_00000007-bcda-e3b9-8337-3b3a0d0004bf",
            "shareHistoryTime": "1970-01-01T00:00:00Z"
          },
          {
            "id": "8:acs:ac80d96a-85de-48b1-995d-a3a3fa3627c8_00000007-bcda-e444-8337-3b3a0d0004c0",
            "shareHistoryTime": "1970-01-01T00:00:00Z"
          },
          {
            "id": "8:acs:ac80d96a-85de-48b1-995d-a3a3fa3627c8_00000007-bcda-e4d2-8337-3b3a0d0004c1",
            "shareHistoryTime": "1970-01-01T00:00:00Z"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://azurecommunicationservices.communication.azure.com/chat/threads/19%3A25731468a0e74c108b187479c9d89fcb%40thread.v2/members/8%3Aacs%3Aac80d96a-85de-48b1-995d-a3a3fa3627c8_00000007-bcda-e558-8337-3b3a0d0004c2?api-version=2020-09-21-preview2",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2020-09-21-preview2",
        "MS-CV": "frrA3sTWB0yAan4AhJME4w.0",
        "X-Processing-Time": "314ms"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://azurecommunicationservices.communication.azure.com/chat/threads/19%3A25731468a0e74c108b187479c9d89fcb%40thread.v2/typing?api-version=2020-09-21-preview2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2020-09-21-preview2, 2020-11-01-preview3",
        "MS-CV": "TSU/4BaPckuPmy/nXE8Nbg.0",
        "X-Processing-Time": "156ms"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://azurecommunicationservices.communication.azure.com/chat/threads/19%3A25731468a0e74c108b187479c9d89fcb%40thread.v2?api-version=2020-09-21-preview2",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2020-09-21-preview2, 2020-11-01-preview3",
        "MS-CV": "/cwlgc0/wEeu\u002Bez6c18LXA.0",
        "X-Processing-Time": "239ms"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "COMMUNICATION_CONNECTION_STRING": "endpoint=https://azurecommunicationservices.communication.azure.com/;accesskey=Kg==;",
    "RandomSeed": "2028853980"
  }
}
