{
  "Entries": [
    {
      "RequestUri": "https://chat-sdktester-e2e.int.communication.azure.net/identities?api-version=2021-03-07",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {},
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "btAa/D6tYk\u002BHcmPqlFYiXA.0",
        "X-Processing-Time": "36ms"
      },
      "ResponseBody": {
        "identity": {
          "id": "8:acs:46849534-eb08-4ab7-bde7-c36928cd1547_00000009-80b5-7ab6-9c58-373a0d004b64"
        }
      }
    },
    {
      "RequestUri": "https://chat-sdktester-e2e.int.communication.azure.net/identities/8%3Aacs%3A46849534-eb08-4ab7-bde7-c36928cd1547_00000009-80b5-7ab6-9c58-373a0d004b64/:issueAccessToken?api-version=2021-03-07",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "scopes": [
          "chat"
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "l2238ab5pU6waG3k0ZsxJw.0",
        "X-Processing-Time": "93ms"
      },
      "ResponseBody": {
        "token": "Sanitized",
        "expiresOn": "2021-04-18T17:14:41.9338047\u002B00:00"
      }
    },
[...]
    {
      "RequestUri": "https://chat-sdktester-e2e.int.communication.azure.net/chat/threads?api-version=2021-03-07",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c",
        "Content-Type": "application/json",
        "repeatability-request-id": "contoso-F0A747F1-6245-4307-8267-B974340677D2"
      },
      "RequestBody": {
        "topic": "Thread sync from C# sdk",
        "participants": [
          {
            "communicationIdentifier": {
              "communicationUser": {
                "id": "8:acs:46849534-eb08-4ab7-bde7-c36928cd1547_00000009-80b5-7ab6-9c58-373a0d004b64"
              }
            },
            "displayName": "user1"
          },
          {
            "communicationIdentifier": {
              "communicationUser": {
                "id": "8:acs:46849534-eb08-4ab7-bde7-c36928cd1547_00000009-80b5-7bb1-9c58-373a0d004b65"
              }
            },
            "displayName": "user2"
          },
          {
            "communicationIdentifier": {
              "communicationUser": {
                "id": "8:acs:46849534-eb08-4ab7-bde7-c36928cd1547_00000009-80b5-7c93-9c58-373a0d004b66"
              }
            },
            "displayName": "user3"
          }
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2020-09-21-preview2, 2020-11-01-preview3, 2021-01-27-preview4, 2021-03-01-preview5, 2021-03-07, 2021-04-05-preview6",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://chat-sdktester-e2e.int.communication.azure.net/chat/threads/19%3AIyp4M12T7-oR3WuTYHobh3OdX5sRMHuXxuF4lB8OC201@thread.v2",
        "MS-CV": "zQOWicHwE0qlD1VqX5g/qw.0",
        "X-Processing-Time": "906ms"
      },
      "ResponseBody": {
        "chatThread": {
          "id": "19:Iyp4M12T7-oR3WuTYHobh3OdX5sRMHuXxuF4lB8OC201@thread.v2",
          "topic": "Thread sync from C# sdk",
          "createdOn": "2021-04-17T17:14:44Z",
          "createdByCommunicationIdentifier": {
            "rawId": "8:acs:46849534-eb08-4ab7-bde7-c36928cd1547_00000009-80b5-7ab6-9c58-373a0d004b64",
            "communicationUser": {
              "id": "8:acs:46849534-eb08-4ab7-bde7-c36928cd1547_00000009-80b5-7ab6-9c58-373a0d004b64"
            }
          }
        }
      }
    },
[...]
    {
      "RequestUri": "https://chat-sdktester-e2e.int.communication.azure.net/chat/threads/19%3AIyp4M12T7-oR3WuTYHobh3OdX5sRMHuXxuF4lB8OC201%40thread.v2/participants?api-version=2021-03-07",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2020-11-01-preview3, 2021-01-27-preview4, 2021-03-01-preview5, 2021-03-07, 2021-04-05-preview6",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "wHvIlH5RdkubGauw33WzBw.0",
        "X-Processing-Time": "249ms"
      },
      "ResponseBody": {
        "value": [
          {
            "communicationIdentifier": {
              "rawId": "8:acs:46849534-eb08-4ab7-bde7-c36928cd1547_00000009-80b5-7ab6-9c58-373a0d004b64",
              "communicationUser": {
                "id": "8:acs:46849534-eb08-4ab7-bde7-c36928cd1547_00000009-80b5-7ab6-9c58-373a0d004b64"
              }
            },
            "displayName": "user1",
            "shareHistoryTime": "1970-01-01T00:00:00Z"
          },
          {
            "communicationIdentifier": {
              "rawId": "8:acs:46849534-eb08-4ab7-bde7-c36928cd1547_00000009-80b5-7bb1-9c58-373a0d004b65",
              "communicationUser": {
                "id": "8:acs:46849534-eb08-4ab7-bde7-c36928cd1547_00000009-80b5-7bb1-9c58-373a0d004b65"
              }
            },
            "displayName": "user2",
            "shareHistoryTime": "1970-01-01T00:00:00Z"
          },
          {
            "communicationIdentifier": {
              "rawId": "8:acs:46849534-eb08-4ab7-bde7-c36928cd1547_00000009-80b5-7c93-9c58-373a0d004b66",
              "communicationUser": {
                "id": "8:acs:46849534-eb08-4ab7-bde7-c36928cd1547_00000009-80b5-7c93-9c58-373a0d004b66"
              }
            },
            "displayName": "user3",
            "shareHistoryTime": "1970-01-01T00:00:00Z"
          }
        ]
      }
    },
    {
      "RequestUri": "https://chat-sdktester-e2e.int.communication.azure.net/chat/threads/19%3AIyp4M12T7-oR3WuTYHobh3OdX5sRMHuXxuF4lB8OC201%40thread.v2?api-version=2021-03-07",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c",
        "Content-Type": "application/merge-patch\u002Bjson"
      },
      "RequestBody": {
        "topic": "Launch meeting"
      },
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2020-09-21-preview2, 2020-11-01-preview3, 2021-01-27-preview4, 2021-03-01-preview5, 2021-03-07, 2021-04-05-preview6",
        "MS-CV": "biroTb51u02zoSdeMoD8hQ.0",
        "X-Processing-Time": "388ms"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://chat-sdktester-e2e.int.communication.azure.net/chat/threads/19%3AIyp4M12T7-oR3WuTYHobh3OdX5sRMHuXxuF4lB8OC201%40thread.v2/messages?api-version=2021-03-07",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c",
        "Content-Type": "application/json"
      },
      "RequestBody": "{\u0022content\u0022:\u0022Let\u0027s meet at 11am\u0022,\u0022type\u0022:null}",
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2020-09-21-preview2, 2020-11-01-preview3, 2021-01-27-preview4, 2021-03-01-preview5, 2021-03-07, 2021-04-05-preview6",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://chat-sdktester-e2e.int.communication.azure.net/chat/threads/19%3AIyp4M12T7-oR3WuTYHobh3OdX5sRMHuXxuF4lB8OC201@thread.v2/messages/1618679687072",
        "MS-CV": "VizvK2pmz0iQ5BfhfAQriA.0",
        "X-Processing-Time": "379ms"
      },
      "ResponseBody": {
        "id": "1618679687072"
      }
    },
    {
      "RequestUri": "https://chat-sdktester-e2e.int.communication.azure.net/chat/threads/19%3AWrNFnCqpSdkP4SXqoQ-srA7EKCT67VRWdNCf3bu2njM1%40thread.v2/messages?api-version=2021-03-07",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "content": "Content for message 2",
        "senderDisplayName": "DisplayName sender message 1",
        "type": "text"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2020-09-21-preview2, 2020-11-01-preview3, 2021-01-27-preview4, 2021-03-01-preview5, 2021-03-07, 2021-04-05-preview6",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://chat-sdktester-e2e.int.communication.azure.net/chat/threads/19%3AWrNFnCqpSdkP4SXqoQ-srA7EKCT67VRWdNCf3bu2njM1@thread.v2/messages/1618679687478",
        "MS-CV": "ObdZemxAOUe2F4cwZvSXhw.0",
        "X-Processing-Time": "361ms"
      },
      "ResponseBody": {
        "id": "1618679687478"
      }
    },
[...]
    {
      "RequestUri": "https://chat-sdktester-e2e.int.communication.azure.net/chat/threads/19%3AIyp4M12T7-oR3WuTYHobh3OdX5sRMHuXxuF4lB8OC201%40thread.v2/messages/1618679687072?api-version=2021-03-07",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2020-09-21-preview2, 2020-11-01-preview3, 2021-01-27-preview4, 2021-03-01-preview5, 2021-03-07, 2021-04-05-preview6",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "ObehxLDL4EWePgw5DcCMGQ.0",
        "X-Processing-Time": "257ms"
      },
      "ResponseBody": {
        "id": "1618679687072",
        "type": "text",
        "sequenceId": "4",
        "version": "1618679687072",
        "content": {
          "message": "Let\u0027s meet at 11am"
        },
        "senderDisplayName": "",
        "createdOn": "2021-04-17T17:14:47Z",
        "senderCommunicationIdentifier": {
          "rawId": "8:acs:46849534-eb08-4ab7-bde7-c36928cd1547_00000009-80b5-7ab6-9c58-373a0d004b64",
          "communicationUser": {
            "id": "8:acs:46849534-eb08-4ab7-bde7-c36928cd1547_00000009-80b5-7ab6-9c58-373a0d004b64"
          }
        }
      }
    },
    {
      "RequestUri": "https://chat-sdktester-e2e.int.communication.azure.net/chat/threads/19%3AWrNFnCqpSdkP4SXqoQ-srA7EKCT67VRWdNCf3bu2njM1%40thread.v2/messages/1618679687478?api-version=2021-03-07",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2020-09-21-preview2, 2020-11-01-preview3, 2021-01-27-preview4, 2021-03-01-preview5, 2021-03-07, 2021-04-05-preview6",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "pN0jkP5z4EanekKULpPMIg.0",
        "X-Processing-Time": "250ms"
      },
      "ResponseBody": {
        "id": "1618679687478",
        "type": "text",
        "sequenceId": "3",
        "version": "1618679687478",
        "content": {
          "message": "Content for message 2"
        },
        "senderDisplayName": "DisplayName sender message 1",
        "createdOn": "2021-04-17T17:14:47Z",
        "senderCommunicationIdentifier": {
          "rawId": "8:acs:46849534-eb08-4ab7-bde7-c36928cd1547_00000009-80b5-7ab6-9c58-373a0d004b64",
          "communicationUser": {
            "id": "8:acs:46849534-eb08-4ab7-bde7-c36928cd1547_00000009-80b5-7ab6-9c58-373a0d004b64"
          }
        }
      }
    },
[...]
    {
      "RequestUri": "https://chat-sdktester-e2e.int.communication.azure.net/chat/threads/19%3AIyp4M12T7-oR3WuTYHobh3OdX5sRMHuXxuF4lB8OC201%40thread.v2/messages?maxPageSize=2\u0026api-version=2021-03-07",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c"
      },
      "RequestBody": null,
      "StatusCo[...]
    {
      "RequestUri": "https://chat-sdktester-e2e.int.communication.azure.net/chat/threads/19:Iyp4M12T7-oR3WuTYHobh3OdX5sRMHuXxuF4lB8OC201@thread.v2/messages?syncState=3e3900000031393a497970344d313254372d6f523357755459486f6268334f64583573524d487558787546346c42384f43323031407468726561642e763201f9edd3e0780100008fefd3e078010000\u0026startTime=1%2F1%2F1970%2012%3A00%3A00%20AM%20%2B00%3A00\u0026maxPageSize=2\u0026api-version=2021-03-07",
      "RequestMethod": "GET",
      "RequestHeaders": {
   [...]
[...]
    {
      "RequestUri": "https://chat-sdktester-e2e.int.communication.azure.net/chat/threads/19:Iyp4M12T7-oR3WuTYHobh3OdX5sRMHuXxuF4lB8OC201@thread.v2/messages?syncState=3e3900000031393a497970344d313254372d6f523357755459486f6268334f64583573524d487558787546346c42384f43323031407468726561642e763201d0e4d3e0780100008fefd3e078010000\u0026startTime=1%2F1%2F1970%2012%3A00%3A00%20AM%20%2B00%3A00\u0026maxPageSize=2\u0026api-version=2021-03-07",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2020-09-21-preview2, 2020-11-01-preview3, 2021-01-27-preview4, 2021-03-01-preview5, 2021-03-07, 2021-04-05-preview6",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "abKgy\u002BMAZUuOjCP2ErOz0g.0",
        "X-Processing-Time": "373ms"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "1618679684431",
            "type": "topicUpdated",
            "sequenceId": "2",
            "version": "1618679684431",
            "content": {
              "topic": "Thread sync from C# sdk",
              "initiatorCommunicationIdentifier": {
                "rawId": "8:acs:46849534-eb08-4ab7-bde7-c36928cd1547_00000009-80b5-7ab6-9c58-373a0d004b64",
                "communicationUser": {
                  "id": "8:acs:46849534-eb08-4ab7-bde7-c36928cd1547_00000009-80b5-7ab6-9c58-373a0d004b64"
                }
              }
            },
            "createdOn": "2021-04-17T17:14:44Z"
          },
          {
            "id": "1618679684400",
            "type": "participantAdded",
            "sequenceId": "1",
            "ver[...]
[...]
    {
      "RequestUri": "https://chat-sdktester-e2e.int.communication.azure.net/chat/threads/19%3AIyp4M12T7-oR3WuTYHobh3OdX5sRMHuXxuF4lB8OC201%40thread.v2/messages/1618679687072?api-version=2021-03-07",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2020-09-21-preview2, 2020-11-01-preview3, 2021-01-27-preview4, 2021-03-01-preview5, 2021-03-07, 2021-04-05-preview6",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "HaNaudwj3kCfcEZFeW80Vw.0",
        "X-Processing-Time": "255ms"
      },
      "ResponseBody": {
        "id": "1618679687072",
        "type": "text",
        "sequenceId": "9",
        "version": "1618679694134",
        "content": {
          "message": "Instead of 11am, let\u0027s meet at 2pm"
        },
        "senderDisplayName": "",
        "createdOn": "2021-04-17T17:14:47Z",
        "senderCommunicationIdentifier": {
          "rawId": "8:acs:46849534-eb08-4ab7-bde7-c36928cd1547_00000009-80b5-7ab6-9c58-373a0d004b64",
          "communicationUser": {
            "id": "8:acs:46849534-eb08-4ab7-bde7-c36928cd1547_00000009-80b5-7ab6-9c58-373a0d004b64"
          }
        },
        "editedOn": "2021-04-17T17:14:54Z"
      }
    },
[...]
    {
      "RequestUri": "https://chat-sdktester-e2e.int.communication.azure.net/chat/threads/19%3AIyp4M12T7-oR3WuTYHobh3OdX5sRMHuXxuF4lB8OC201%40thread.v2/participants/:add?api-version=2021-03-07",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "participants": [
          {
            "communicationIdentifier": {
              "communicationUser": {
                "id": "8:acs:46849534-eb08-4ab7-bde7-c36928cd1547_00000009-80b5-7d41-9c58-373a0d004b67"
              }
            },
            "displayName": "user4"
          }
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2020-11-01-preview3, 2021-01-27-preview4, 2021-03-01-preview5, 2021-03-07, 2021-04-05-preview6",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "aMlFvivLdkeN\u002BCUdxS/S9A.0",
        "X-Processing-Time": "393ms"
      },
      "ResponseBody": {}
    },
[...]
    {
      "RequestUri": "https://chat-sdktester-e2e.int.communication.azure.net/chat/threads/19%3AIyp4M12T7-oR3WuTYHobh3OdX5sRMHuXxuF4lB8OC201%40thread.v2/participants?maxPageSize=2\u0026api-version=2021-03-07",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c"
      },
      "RequestBody": null,
      "Stat[...]
    {
      "RequestUri": "https://chat-sdktester-e2e.int.communication.azure.net/chat/threads/19:Iyp4M12T7-oR3WuTYHobh3OdX5sRMHuXxuF4lB8OC201@thread.v2/participants?skip=2\u0026maxPageSize=2\u0026api-version=2021-03-07",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c"
      },
      "RequestBody": null,
   [...]
[...]
    {
      "RequestUri": "https://chat-sdktester-e2e.int.communication.azure.net/chat/threads/19%3AIyp4M12T7-oR3WuTYHobh3OdX5sRMHuXxuF4lB8OC201%40thread.v2/participants/:remove?api-version=2021-03-07",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "communicationUser": {
          "id": "8:acs:46849534-eb08-4ab7-bde7-c36928cd1547_00000009-80b5-7d41-9c58-373a0d004b67"
        }
      },
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2020-11-01-preview3, 2021-01-27-preview4, 2021-03-01-preview5, 2021-03-07, 2021-04-05-preview6",
        "MS-CV": "uzX6\u002B7OCEECA8ZvuHxYi8A.0",
        "X-Processing-Time": "428ms"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://chat-sdktester-e2e.int.communication.azure.net/chat/threads/19%3AIyp4M12T7-oR3WuTYHobh3OdX5sRMHuXxuF4lB8OC201%40thread.v2/typing?api-version=2021-03-07",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2020-09-21-preview2, 2020-11-01-preview3, 2021-01-27-preview4, 2021-03-01-preview5, 2021-03-07, 2021-04-05-preview6",
        "MS-CV": "SoiWt1\u002BEEE\u002BS4nCoAfOt8Q.0",
        "X-Processing-Time": "346ms"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://chat-sdktester-e2e.int.communication.azure.net/chat/threads?api-version=2021-03-07",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2020-09-21-preview2, 2020-11-01-preview3, 2021-01-27-preview4, 2021-03-01-preview5, 2021-03-07, 2021-04-05-preview6",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "TZDqO8B8Z0WW92yjH\u002BoAbg.0",
        "X-Processing-Time": "383ms"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "19:Iyp4M12T7-oR3WuTYHobh3OdX5sRMHuXxuF4lB8OC201@thread.v2",
            "topic": "Launch meeting",
            "lastMessageReceivedOn": "2021-04-17T17:14:58Z"
          },
          {
            "id": "19:WrNFnCqpSdkP4SXqoQ-srA7EKCT67VRWdNCf3bu2njM1@thread.v2",
            "topic": "Thread sync from C# sdk",
            "lastMessageReceivedOn": "2021-04-17T17:14:45Z"
          }
        ]
      }
    },
    {
      "RequestUri": "https://chat-sdktester-e2e.int.communication.azure.net/chat/threads/19%3AIyp4M12T7-oR3WuTYHobh3OdX5sRMHuXxuF4lB8OC201%40thread.v2?api-version=2021-03-07",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2020-09-21-preview2, 2020-11-01-preview3, 2021-01-27-preview4, 2021-03-01-preview5, 2021-03-07, 2021-04-05-preview6",
        "MS-CV": "tZ\u002BN0FKpdU6H\u002Bhl1fJxI0g.0",
        "X-Processing-Time": "283ms"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "COMMUNICATION_CONNECTION_STRING": "endpoint=https://chat-sdktester-e2e.int.communication.azure.net/;accesskey=Kg==",
    "RandomSeed": "800004652"
  }
}