{
  "Entries": [
    {
      "RequestUri": "https://chat-sdktester-e2e.dev.communication.azure.net/identities?api-version=2020-07-20-preview2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002B/TImW\u002B5JCeuQeRkm5NMpJWZG3hSuFU="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2020-07-20-preview2, 2021-03-07",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "hD7FSMHPIEmY4uMpT94tYg.0",
        "X-Processing-Time": "20ms"
      },
      "ResponseBody": {
        "id": "8:acs:1b5cc06b-f352-4571-b1e6-d9b259b7c776_00000007-c8ab-87f4-7679-5b3a0d0005c7"
      }
    },
    {
      "RequestUri": "https://chat-sdktester-e2e.dev.communication.azure.net/identities/8%3Aacs%3A1b5cc06b-f352-4571-b1e6-d9b259b7c776_00000007-c8ab-87f4-7679-5b3a0d0005c7/token?api-version=2020-07-20-preview2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "J\u002BdoRQjtFVYLx3qOvzptwBLjQWqy6OEWEEk1TY1\u002BrT4="
      },
      "RequestBody": {
        "scopes": [
          "chat"
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2020-07-20-preview2, 2021-03-07",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "ps3d9GWaUECexNPFRdETeg.0",
        "X-Processing-Time": "92ms"
      },
      "ResponseBody": {
        "id": "8:acs:1b5cc06b-f352-4571-b1e6-d9b259b7c776_00000007-c8ab-87f4-7679-5b3a0d0005c7",
        "token": "Sanitized",
        "expiresOn": "2021-01-23T06:30:54.0634133\u002B00:00"
      }
    },
[...]
    {
      "RequestUri": "https://chat-sdktester-e2e.dev.communication.azure.net/chat/threads?api-version=2020-11-01-preview3",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "topic": "Thread async from C# sdk",
        "participants": [
          {
            "id": "8:acs:1b5cc06b-f352-4571-b1e6-d9b259b7c776_00000007-c8ab-87f4-7679-5b3a0d0005c7"
          },
          {
            "id": "8:acs:1b5cc06b-f352-4571-b1e6-d9b259b7c776_00000007-c8ab-89ea-7679-5b3a0d0005c8"
          },
          {
            "id": "8:acs:1b5cc06b-f352-4571-b1e6-d9b259b7c776_00000007-c8ab-8be8-7679-5b3a0d0005c9"
          }
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2020-09-21-preview2, 2020-11-01-preview3",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://168.61.22.92/chat/threads/19%3Aec908b9300a845cda4a6d2545db65273@thread.v2",
        "MS-CV": "WUToBhsyAkaNoYMiDarIew.0",
        "X-Processing-Time": "836ms"
      },
      "ResponseBody": {
        "chatThread": {
          "id": "19:ec908b9300a845cda4a6d2545db65273@thread.v2",
          "topic": "Thread async from C# sdk",
          "createdOn": "2021-01-22T06:30:58Z",
          "createdBy": "8:acs:1b5cc06b-f352-4571-b1e6-d9b259b7c776_00000007-c8ab-87f4-7679-5b3a0d0005c7"
        }
      }
    },
[...]
    {
      "RequestUri": "https://chat-sdktester-e2e.dev.communication.azure.net/chat/threads/19%3Aec908b9300a845cda4a6d2545db65273%40thread.v2/participants?api-version=2020-11-01-preview3",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2020-11-01-preview3",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "HL13ihXKJ0mTLvnWlwsQRA.0",
        "X-Processing-Time": "257ms"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "8:acs:1b5cc06b-f352-4571-b1e6-d9b259b7c776_00000007-c8ab-87f4-7679-5b3a0d0005c7",
            "shareHistoryTime": "1970-01-01T00:00:00Z"
          },
          {
            "id": "8:acs:1b5cc06b-f352-4571-b1e6-d9b259b7c776_00000007-c8ab-89ea-7679-5b3a0d0005c8",
            "shareHistoryTime": "1970-01-01T00:00:00Z"
          },
          {
            "id": "8:acs:1b5cc06b-f352-4571-b1e6-d9b259b7c776_00000007-c8ab-8be8-7679-5b3a0d0005c9",
            "shareHistoryTime": "1970-01-01T00:00:00Z"
          }
        ]
      }
    },
    {
      "RequestUri": "https://chat-sdktester-e2e.dev.communication.azure.net/chat/threads/19%3Aec908b9300a845cda4a6d2545db65273%40thread.v2?api-version=2020-11-01-preview3",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c",
        "Content-Type": "application/merge-patch\u002Bjson"
      },
      "RequestBody": {
        "topic": "Updated topic - C# sdk"
      },
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2020-09-21-preview2, 2020-11-01-preview3",
        "MS-CV": "\u002BD0MbdmQ8UKNrZ\u002BP3pNrjQ.0",
        "X-Processing-Time": "391ms"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://chat-sdktester-e2e.dev.communication.azure.net/chat/threads/19%3Aec908b9300a845cda4a6d2545db65273%40thread.v2/messages?api-version=2020-11-01-preview3",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "content": "Content for message 1",
        "senderDisplayName": "DisplayName sender message 1"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2020-09-21-preview2, 2020-11-01-preview3",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://168.61.22.92/chat/threads/19%3Aec908b9300a845cda4a6d2545db65273@thread.v2/messages/1611297062182",
        "MS-CV": "XUaP23nTYUWxog7DUbphmA.0",
        "X-Processing-Time": "410ms"
      },
      "ResponseBody": {
        "id": "1611297062182"
      }
    },
[...]
    {
      "RequestUri": "https://chat-sdktester-e2e.dev.communication.azure.net/chat/threads/19%3Aec908b9300a845cda4a6d2545db65273%40thread.v2/messages/1611297062182?api-version=2020-11-01-preview3",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2020-09-21-preview2, 2020-11-01-preview3",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "U8hOdiy2wE2GaVKpQ1G\u002BCQ.0",
        "X-Processing-Time": "264ms"
      },
      "ResponseBody": {
        "id": "1611297062182",
        "type": "text",
        "sequenceId": "4",
        "version": "1611297062182",
        "content": {
          "message": "Content for message 1"
        },
        "senderDisplayName": "DisplayName sender message 1",
        "createdOn": "2021-01-22T06:31:02Z",
        "senderId": "8:acs:1b5cc06b-f352-4571-b1e6-d9b259b7c776_00000007-c8ab-87f4-7679-5b3a0d0005c7"
      }
    },
[...]
    {
      "RequestUri": "https://chat-sdktester-e2e.dev.communication.azure.net/chat/threads/19%3A61d72b905ebf41ad918fab2c707f0793%40thread.v2/messages?api-version=2020-11-01-preview3",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2020-09-21-preview2, 2020-11-01-preview3",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "qeI35nFdSEa91kmGJYwEBQ.0",
        "X-Processing-Time": "275ms"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "1611297062823",
            "type": "text",
            "sequenceId": "3",
            "version": "1611297062823",
            "content": {
              "message": "Content for message 2"
            },
            "senderDisplayName": "DisplayName sender message 1",
            "createdOn": "2021-01-22T06:31:02Z",
            "senderId": "8:acs:1b5cc06b-f352-4571-b1e6-d9b259b7c776_00000007-c8ab-87f4-7679-5b3a0d0005c7"
          },
          {
            "id": "1611297059838",
            "type": "topicUpdated",
            "sequenceId": "2",
            "version": "1611297059838",
            "content": {
              "topic": "Thread async from C# sdk",
              "initiator": "8:acs:1b5cc06b-f352-4571-b1e6-d9b259b7c776_00000007-c8ab-87f4-7679-5b3a0d0005c7"
            },
            "createdOn": "2021-01-22T06:30:59Z",
            "senderId": "19:61d72b905ebf41ad918fab2c707f0793@thread.v2"
          },
          {
            "id": "1611297059791",
            "type": "participantAdded",
            "sequenceId": "1",
            "version": "1611297059791",
            "content": {
              "participants": [
                {
                  "id": "8:acs:1b5cc06b-f352-4571-b1e6-d9b259b7c776_00000007-c8ab-87f4-7679-5b3a0d0005c7",
                  "shareHistoryTime": "1970-01-01T00:00:00Z"
                },
                {
                  "id": "8:acs:1b5cc06b-f352-4571-b1e6-d9b259b7c776_00000007-c8ab-89ea-7679-5b3a0d0005c8",
                  "shareHistoryTime": "1970-01-01T00:00:00Z"
                },
                {
                  "id": "8:acs:1b5cc06b-f352-4571-b1e6-d9b259b7c776_00000007-c8ab-8be8-7679-5b3a0d0005c9",
                  "shareHistoryTime": "1970-01-01T00:00:00Z"
                }
              ],
              "initiator": "8:acs:1b5cc06b-f352-4571-b1e6-d9b259b7c776_00000007-c8ab-87f4-7679-5b3a0d0005c7"
            },
            "createdOn": "2021-01-22T06:30:59Z",
            "senderId": "19:61d72b905ebf41ad918fab2c707f0793@thread.v2"
          }
        ]
      }
    },
    {
      "RequestUri": "https://chat-sdktester-e2e.dev.communication.azure.net/chat/threads/19%3Aec908b9300a845cda4a6d2545db65273%40thread.v2/messages?maxPageSize=2\u0026api-version=2020-11-01-preview3",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c"
      },
      "RequestBody": null,
      "StatusCode"[...]
    {
      "RequestUri": "https://chat-sdktester-e2e.dev.communication.azure.net/chat/threads/19:ec908b9300a845cda4a6d2545db65273@thread.v2/messages?syncState=3e2d00000031393a6563393038623933303061383435636461346136643235343564623635323733407468726561642e7632014907ca2877010000c909ca2877010000\u0026startTime=1%2F1%2F1970%2012%3A00%3A00%20AM%20%2B00%3A00\u0026maxPageSize=2\u0026api-version=2020-11-01-preview3",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "eyJh[...]
[...]
    {
      "RequestUri": "https://chat-sdktester-e2e.dev.communication.azure.net/chat/threads/19%3Aec908b9300a845cda4a6d2545db65273%40thread.v2/messages/1611297062182?api-version=2020-11-01-preview3",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2020-09-21-preview2, 2020-11-01-preview3",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "ZjZmdPsaGEuULBSYzfkENQ.0",
        "X-Processing-Time": "258ms"
      },
      "ResponseBody": {
        "id": "1611297062182",
        "type": "text",
        "sequenceId": "9",
        "version": "1611297072855",
        "content": {
          "message": "This is message 1 content updated"
        },
        "senderDisplayName": "DisplayName sender message 1",
        "createdOn": "2021-01-22T06:31:02Z",
        "senderId": "8:acs:1b5cc06b-f352-4571-b1e6-d9b259b7c776_00000007-c8ab-87f4-7679-5b3a0d0005c7",
        "editedOn": "2021-01-22T06:31:12Z"
      }
    },
[...]
    {
      "RequestUri": "https://chat-sdktester-e2e.dev.communication.azure.net/chat/threads/19%3Aec908b9300a845cda4a6d2545db65273%40thread.v2/messages?api-version=2020-11-01-preview3",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2020-09-21-preview2, 2020-11-01-preview3",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "36r2xRqViEKXtlUthFDSHg.0",
        "X-Processing-Time": "287ms"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "1611297062182",
            "type": "text",
            "sequenceId": "10",
            "version": "1611297073824",
            "content": {
              "message": ""
            },
            "senderDisplayName": "DisplayName sender message 1",
            "createdOn": "2021-01-22T06:31:02Z",
            "senderId": "8:acs:1b5cc06b-f352-4571-b1e6-d9b259b7c776_00000007-c8ab-87f4-7679-5b3a0d0005c7",
            "deletedOn": "2021-01-22T06:31:12Z"
          },
          {
            "id": "1611297065417",
            "type": "text",
            "sequenceId": "8",
            "version": "1611297065417",
            "content": {
              "message": "Content for message 6"
            },
            "senderDisplayName": "DisplayName sender message 1",
            "createdOn": "2021-01-22T06:31:05Z",
            "senderId": "8:acs:1b5cc06b-f352-4571-b1e6-d9b259b7c776_00000007-c8ab-8be8-7679-5b3a0d0005c9"
        [...]
[...]
    {
      "RequestUri": "https://chat-sdktester-e2e.dev.communication.azure.net/chat/threads/19%3Aec908b9300a845cda4a6d2545db65273%40thread.v2/participants/:add?api-version=2020-11-01-preview3",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "participants": [
          {
            "id": "8:acs:1b5cc06b-f352-4571-b1e6-d9b259b7c776_00000007-c8ab-8ddd-7679-5b3a0d0005ca"
          }
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2020-11-01-preview3",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "Hi27/AxW/ES3zF6/T2zkaw.0",
        "X-Processing-Time": "439ms"
      },
      "ResponseBody": {}
    },
[...]
    {
      "RequestUri": "https://chat-sdktester-e2e.dev.communication.azure.net/chat/threads/19%3Aec908b9300a845cda4a6d2545db65273%40thread.v2/participants?maxPageSize=2\u0026api-version=2020-11-01-preview3",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2020-11-01-preview3",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "X3N7/kLWqkGTHFR01S6RwQ.0",
        "X-Processing-Time": "259ms"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "8:acs:1b5cc06b-f352-4571-b1e6-d9b259b7c776_00000007-c8ab-87f4-7679-5b3a0d0005c7",
            "shareHistoryTime": "1970-01-01T00:00:00Z"
          },
          {
            "id": "8:acs:1b5cc06b-f352-4571-b1e6-d9b259b7c776_00000007-c8ab-89ea-7679-5b3a0d0005c8",
            "shareHistoryTime": "1970-01-01T00:00:00Z"
          }
        ],
        "nextLink": "https://chat-sdktester-e2e.dev.communication.azure.net/chat/threads/19:ec908b9300a845cda4a6d2545db65273@thread.v2/participants?skip=2\u0026maxPageSize=2\u0026api-version=2020-11-01-preview3"
      }
    },
    {
      "RequestUri": "https://chat-sdktester-e2e.dev.communication.azure.net/chat/threads/19:ec908b9300a845cda4a6d2545db65273@thread.v2/participants?skip=2\u0026maxPageSize=2\u0026api-version=2020-11-01-preview3",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2020-11-01-preview3",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "cj9mJyT6AE2xZG76yCxODw.0",
        "X-Processing-Time": "258ms"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "8:acs:1b5cc06b-f352-4571-b1e6-d9b259b7c776_00000007-c8ab-8be8-7679-5b3a0d0005c9",
            "shareHistoryTime": "1970-01-01T00:00:00Z"
          },
          {
            "id": "8:acs:1b5cc06b-f352-4571-b1e6-d9b259b7c776_00000007-c8ab-8ddd-7679-5b3a0d0005ca",
            "shareHistoryTime": "1970-01-01T00:00:00Z"
          }
        ],
        "nextLink": "https://chat-sdktester-e2e.dev.communication.azure.net/chat/threads/19:ec908b9300a845cda4a6d2545db65273@thread.v2/participants?skip=4\u0026maxPageSize=2\u0026api-version=2020-11-01-preview3"
      }
    },
[...]
    {
      "RequestUri": "https://chat-sdktester-e2e.dev.communication.azure.net/chat/threads/19%3Aec908b9300a845cda4a6d2545db65273%40thread.v2/participants/8%3Aacs%3A1b5cc06b-f352-4571-b1e6-d9b259b7c776_00000007-c8ab-8ddd-7679-5b3a0d0005ca?api-version=2020-11-01-preview3",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2020-11-01-preview3",
        "MS-CV": "O46URb89wU2jLS0TIIwFIQ.0",
        "X-Processing-Time": "450ms"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://chat-sdktester-e2e.dev.communication.azure.net/chat/threads/19%3Aec908b9300a845cda4a6d2545db65273%40thread.v2/typing?api-version=2020-11-01-preview3",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2020-09-21-preview2, 2020-11-01-preview3",
        "MS-CV": "IISPKby9i0ygteac2tUuAQ.0",
        "X-Processing-Time": "358ms"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://chat-sdktester-e2e.dev.communication.azure.net/chat/threads?api-version=2020-11-01-preview3",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2020-09-21-preview2, 2020-11-01-preview3",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "mBgcGS0OEEyrRaD1AoUWMw.0",
        "X-Processing-Time": "312ms"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "19:ec908b9300a845cda4a6d2545db65273@thread.v2",
            "topic": "Updated topic - C# sdk",
            "lastMessageReceivedOn": "2021-01-22T06:31:18Z"
          },
          {
            "id": "19:61d72b905ebf41ad918fab2c707f0793@thread.v2",
            "topic": "Thread async from C# sdk",
            "lastMessageReceivedOn": "2021-01-22T06:30:59Z"
          }
        ]
      }
    },
    {
      "RequestUri": "https://chat-sdktester-e2e.dev.communication.azure.net/chat/threads/19%3Aec908b9300a845cda4a6d2545db65273%40thread.v2?api-version=2020-11-01-preview3",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2020-09-21-preview2, 2020-11-01-preview3",
        "MS-CV": "mvq64pwM0EOeq6jUU6ikVg.0",
        "X-Processing-Time": "290ms"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "COMMUNICATION_CONNECTION_STRING": "endpoint=https://chat-sdktester-e2e.dev.communication.azure.net/;accesskey=Kg==;",
    "RandomSeed": "1326037612"
  }
}