{
  "Entries": [
    {
      "RequestUri": "https://avinpsdklivetestacs03222021-communication.communication.azure.com/identities?api-version=2021-02-22-preview1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {},
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "LLNXCJGs2kaJHP44\u002BPBmQA.0",
        "X-Processing-Time": "12ms"
      },
      "ResponseBody": {
        "identity": {
          "id": "8:acs:207d5cb4-8afc-42cb-a26f-74ad337313f1_00000008-ffee-e72e-47b4-a43a0d00563f"
        }
      }
    },
    {
      "RequestUri": "https://avinpsdklivetestacs03222021-communication.communication.azure.com/identities/8%3Aacs%3A207d5cb4-8afc-42cb-a26f-74ad337313f1_00000008-ffee-e72e-47b4-a43a0d00563f/:issueAccessToken?api-version=2021-02-22-preview1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "scopes": [
          "chat"
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "2kASVOti\u002B0uDmHbXGrepvA.0",
        "X-Processing-Time": "163ms"
      },
      "ResponseBody": {
        "token": "Sanitized",
        "expiresOn": "2021-03-24T17:06:24.4470476\u002B00:00"
      }
    },
[...]
    {
      "RequestUri": "https://avinpsdklivetestacs03222021-communication.communication.azure.com/chat/threads?api-version=2021-01-27-preview4",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c",
        "Content-Type": "application/json",
        "repeatability-Request-Id": "contoso-F0A747F1-6245-4307-8267-B974340677D2"
      },
      "RequestBody": {
        "topic": "Thread sync from C# sdk",
        "participants": [
          {
            "communicationIdentifier": {
              "communicationUser": {
                "id": "8:acs:207d5cb4-8afc-42cb-a26f-74ad337313f1_00000008-ffee-e72e-47b4-a43a0d00563f"
              }
            },
            "displayName": "user1"
          },
          {
            "communicationIdentifier": {
              "communicationUser": {
                "id": "8:acs:207d5cb4-8afc-42cb-a26f-74ad337313f1_00000008-ffee-e879-47b4-a43a0d005640"
              }
            },
            "displayName": "user2"
          },
          {
            "communicationIdentifier": {
              "communicationUser": {
                "id": "8:acs:207d5cb4-8afc-42cb-a26f-74ad337313f1_00000008-ffee-e9b3-47b4-a43a0d005641"
              }
            },
            "displayName": "user3"
          }
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2020-09-21-preview2, 2020-11-01-preview3, 2021-01-27-preview4, 2021-03-01-preview5, 2021-03-07",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://avinpsdklivetestacs03222021-communication.communication.azure.com/chat/threads/19%3AlvHKoHi3UMgs6oIC0uN0bjx0LaqnQqXJys1iR4uyLBE1@thread.v2",
        "MS-CV": "oMVCenYKnkKrqQgc8Y4GIQ.0",
        "X-Processing-Time": "603ms"
      },
      "ResponseBody": {
        "chatThread": {
          "id": "19:lvHKoHi3UMgs6oIC0uN0bjx0LaqnQqXJys1iR4uyLBE1@thread.v2",
          "topic": "Thread sync from C# sdk",
          "createdOn": "2021-03-23T17:06:26Z",
          "createdByCommunicationIdentifier": {
            "rawId": "8:acs:207d5cb4-8afc-42cb-a26f-74ad337313f1_00000008-ffee-e72e-47b4-a43a0d00563f",
            "communicationUser": {
              "id": "8:acs:207d5cb4-8afc-42cb-a26f-74ad337313f1_00000008-ffee-e72e-47b4-a43a0d00563f"
            }
          }
        }
      }
    },
[...]
    {
      "RequestUri": "https://avinpsdklivetestacs03222021-communication.communication.azure.com/chat/threads/19%3AlvHKoHi3UMgs6oIC0uN0bjx0LaqnQqXJys1iR4uyLBE1%40thread.v2/participants?api-version=2021-01-27-preview4",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2020-11-01-preview3, 2021-01-27-preview4, 2021-03-01-preview5, 2021-03-07",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "0KvvMgahDEqEysOhhvp4Kg.0",
        "X-Processing-Time": "86ms"
      },
      "ResponseBody": {
        "value": [
          {
            "communicationIdentifier": {
              "rawId": "8:acs:207d5cb4-8afc-42cb-a26f-74ad337313f1_00000008-ffee-e72e-47b4-a43a0d00563f",
              "communicationUser": {
                "id": "8:acs:207d5cb4-8afc-42cb-a26f-74ad337313f1_00000008-ffee-e72e-47b4-a43a0d00563f"
              }
            },
            "displayName": "user1",
            "shareHistoryTime": "1970-01-01T00:00:00Z"
          },
          {
            "communicationIdentifier": {
              "rawId": "8:acs:207d5cb4-8afc-42cb-a26f-74ad337313f1_00000008-ffee-e879-47b4-a43a0d005640",
              "communicationUser": {
                "id": "8:acs:207d5cb4-8afc-42cb-a26f-74ad337313f1_00000008-ffee-e879-47b4-a43a0d005640"
              }
            },
            "displayName": "user2",
            "shareHistoryTime": "1970-01-01T00:00:00Z"
          },
          {
            "communicationIdentifier": {
              "rawId": "8:acs:207d5cb4-8afc-42cb-a26f-74ad337313f1_00000008-ffee-e9b3-47b4-a43a0d005641",
              "communicationUser": {
                "id": "8:acs:207d5cb4-8afc-42cb-a26f-74ad337313f1_00000008-ffee-e9b3-47b4-a43a0d005641"
              }
            },
            "displayName": "user3",
            "shareHistoryTime": "1970-01-01T00:00:00Z"
          }
        ]
      }
    },
    {
      "RequestUri": "https://avinpsdklivetestacs03222021-communication.communication.azure.com/chat/threads/19%3AlvHKoHi3UMgs6oIC0uN0bjx0LaqnQqXJys1iR4uyLBE1%40thread.v2?api-version=2021-01-27-preview4",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c",
        "Content-Type": "application/merge-patch\u002Bjson"
      },
      "RequestBody": {
        "topic": "Launch meeting"
      },
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2020-09-21-preview2, 2020-11-01-preview3, 2021-01-27-preview4, 2021-03-01-preview5, 2021-03-07",
        "MS-CV": "Trxf8gEOM0KTmMdE1bkJ4A.0",
        "X-Processing-Time": "190ms"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://avinpsdklivetestacs03222021-communication.communication.azure.com/chat/threads/19%3AlvHKoHi3UMgs6oIC0uN0bjx0LaqnQqXJys1iR4uyLBE1%40thread.v2/messages?api-version=2021-01-27-preview4",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c",
        "Content-Type": "application/json"
      },
      "RequestBody": "{\u0022content\u0022:\u0022Let\u0027s meet at 11am\u0022,\u0022type\u0022:null}",
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2020-09-21-preview2, 2020-11-01-preview3, 2021-01-27-preview4, 2021-03-01-preview5, 2021-03-07",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://avinpsdklivetestacs03222021-communication.communication.azure.com/chat/threads/19%3AlvHKoHi3UMgs6oIC0uN0bjx0LaqnQqXJys1iR4uyLBE1@thread.v2/messages/1616519188766",
        "MS-CV": "YTCNQuC7iUaXduIQawH91g.0",
        "X-Processing-Time": "145ms"
      },
      "ResponseBody": {
        "id": "1616519188766"
      }
    },
    {
      "RequestUri": "https://avinpsdklivetestacs03222021-communication.communication.azure.com/chat/threads/19%3AGlShRHNMxX3J4eRS8UGigPR6Q_q3zE2rs5kZ5H-oIoU1%40thread.v2/messages?api-version=2021-01-27-preview4",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "content": "Content for message 2",
        "senderDisplayName": "DisplayName sender message 1",
        "type": "text"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2020-09-21-preview2, 2020-11-01-preview3, 2021-01-27-preview4, 2021-03-01-preview5, 2021-03-07",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://avinpsdklivetestacs03222021-communication.communication.azure.com/chat/threads/19%3AGlShRHNMxX3J4eRS8UGigPR6Q_q3zE2rs5kZ5H-oIoU1@thread.v2/messages/1616519188996",
        "MS-CV": "LpsZ743pUkSVgwCoDjsupw.0",
        "X-Processing-Time": "139ms"
      },
      "ResponseBody": {
        "id": "1616519188996"
      }
    },
[...]
    {
      "RequestUri": "https://avinpsdklivetestacs03222021-communication.communication.azure.com/chat/threads/19%3AlvHKoHi3UMgs6oIC0uN0bjx0LaqnQqXJys1iR4uyLBE1%40thread.v2/messages/1616519188766?api-version=2021-01-27-preview4",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2020-09-21-preview2, 2020-11-01-preview3, 2021-01-27-preview4, 2021-03-01-preview5, 2021-03-07",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "yJ4cxNHYIEW7z9DTeBr1pw.0",
        "X-Processing-Time": "94ms"
      },
      "ResponseBody": {
        "id": "1616519188766",
        "type": "text",
        "sequenceId": "4",
        "version": "1616519188766",
        "content": {
          "message": "Let\u0027s meet at 11am"
        },
        "senderDisplayName": "",
        "createdOn": "2021-03-23T17:06:28Z",
        "senderCommunicationIdentifier": {
          "rawId": "8:acs:207d5cb4-8afc-42cb-a26f-74ad337313f1_00000008-ffee-e72e-47b4-a43a0d00563f",
          "communicationUser": {
            "id": "8:acs:207d5cb4-8afc-42cb-a26f-74ad337313f1_00000008-ffee-e72e-47b4-a43a0d00563f"
          }
        }
      }
    },
    {
      "RequestUri": "https://avinpsdklivetestacs03222021-communication.communication.azure.com/chat/threads/19%3AGlShRHNMxX3J4eRS8UGigPR6Q_q3zE2rs5kZ5H-oIoU1%40thread.v2/messages/1616519188996?api-version=2021-01-27-preview4",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2020-09-21-preview2, 2020-11-01-preview3, 2021-01-27-preview4, 2021-03-01-preview5, 2021-03-07",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "aGECS0zwu0y6jplnFDnlJA.0",
        "X-Processing-Time": "84ms"
      },
      "ResponseBody": {
        "id": "1616519188996",
        "type": "text",
        "sequenceId": "3",
        "version": "1616519188996",
        "content": {
          "message": "Content for message 2"
        },
        "senderDisplayName": "DisplayName sender message 1",
        "createdOn": "2021-03-23T17:06:28Z",
        "senderCommunicationIdentifier": {
          "rawId": "8:acs:207d5cb4-8afc-42cb-a26f-74ad337313f1_00000008-ffee-e72e-47b4-a43a0d00563f",
          "communicationUser": {
            "id": "8:acs:207d5cb4-8afc-42cb-a26f-74ad337313f1_00000008-ffee-e72e-47b4-a43a0d00563f"
          }
        }
      }
    },
[...]
    {
      "RequestUri": "https://avinpsdklivetestacs03222021-communication.communication.azure.com/chat/threads/19%3AlvHKoHi3UMgs6oIC0uN0bjx0LaqnQqXJys1iR4uyLBE1%40thread.v2/messages?maxPageSize=2\u0026api-version=2021-01-27-preview4",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c"
      },
      "Request[...]
    {
      "RequestUri": "https://avinpsdklivetestacs03222021-communication.communication.azure.com/chat/threads/19:lvHKoHi3UMgs6oIC0uN0bjx0LaqnQqXJys1iR4uyLBE1@thread.v2/messages?syncState=3e3900000031393a6c76484b6f486933554d6773366f494330754e30626a78304c61716e5171584a79733169523475794c424531407468726561642e763201e8540d6078010000e3550d6078010000\u0026startTime=1%2F1%2F1970%2012%3A00%3A00%20AM%20%2B00%3A00\u0026maxPageSize=2\u0026api-version=2021-01-27-preview4",
      "RequestMethod": "GET",
 [...]
[...]
    {
      "RequestUri": "https://avinpsdklivetestacs03222021-communication.communication.azure.com/chat/threads/19:lvHKoHi3UMgs6oIC0uN0bjx0LaqnQqXJys1iR4uyLBE1@thread.v2/messages?syncState=3e3900000031393a6c76484b6f486933554d6773366f494330754e30626a78304c61716e5171584a79733169523475794c424531407468726561642e763201894f0d6078010000e3550d6078010000\u0026startTime=1%2F1%2F1970%2012%3A00%3A00%20AM%20%2B00%3A00\u0026maxPageSize=2\u0026api-version=2021-01-27-preview4",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2020-09-21-preview2, 2020-11-01-preview3, 2021-01-27-preview4, 2021-03-01-preview5, 2021-03-07",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "hOI7TJNZS0eLHmdlaSYv6Q.0",
        "X-Processing-Time": "126ms"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "1616519187151",
            "type": "topicUpdated",
            "sequenceId": "2",
            "version": "1616519187151",
            "content": {
              "topic": "Thread sync from C# sdk",
              "initiatorCommunicationIdentifier": {
                "rawId": "8:acs:207d5cb4-8afc-42cb-a26f-74ad337313f1_00000008-ffee-e72e-47b4-a43a0d00563f",
                "communicationUser": {
                  "id": "8:acs:207d5cb4-8afc-42cb-a26f-74ad337313f1_00000008-ffee-e72e-47b4-a43a0d00563f"
                }
              }
            },
            "createdOn": "2021-03-23T17:06:27Z"
          },
          {
            "id": "1616519187092",
            "type": "participantAdded",
            "sequenceId": "1",
            "ver[...]
[...]
    {
      "RequestUri": "https://avinpsdklivetestacs03222021-communication.communication.azure.com/chat/threads/19%3AlvHKoHi3UMgs6oIC0uN0bjx0LaqnQqXJys1iR4uyLBE1%40thread.v2/messages/1616519188766?api-version=2021-01-27-preview4",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2020-09-21-preview2, 2020-11-01-preview3, 2021-01-27-preview4, 2021-03-01-preview5, 2021-03-07",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "rZoG6LuxzkyC2zcfhSUDOg.0",
        "X-Processing-Time": "83ms"
      },
      "ResponseBody": {
        "id": "1616519188766",
        "type": "text",
        "sequenceId": "9",
        "version": "1616519192802",
        "content": {
          "message": "Instead of 11am, let\u0027s meet at 2pm"
        },
        "senderDisplayName": "",
        "createdOn": "2021-03-23T17:06:28Z",
        "senderCommunicationIdentifier": {
          "rawId": "8:acs:207d5cb4-8afc-42cb-a26f-74ad337313f1_00000008-ffee-e72e-47b4-a43a0d00563f",
          "communicationUser": {
            "id": "8:acs:207d5cb4-8afc-42cb-a26f-74ad337313f1_00000008-ffee-e72e-47b4-a43a0d00563f"
          }
        },
        "editedOn": "2021-03-23T17:06:32Z"
      }
    },
[...]
    {
      "RequestUri": "https://avinpsdklivetestacs03222021-communication.communication.azure.com/chat/threads/19%3AlvHKoHi3UMgs6oIC0uN0bjx0LaqnQqXJys1iR4uyLBE1%40thread.v2/participants/:add?api-version=2021-01-27-preview4",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "participants": [
          {
            "communicationIdentifier": {
              "communicationUser": {
                "id": "8:acs:207d5cb4-8afc-42cb-a26f-74ad337313f1_00000008-ffee-eace-47b4-a43a0d005642"
              }
            },
            "displayName": "user4"
          }
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2020-11-01-preview3, 2021-01-27-preview4, 2021-03-01-preview5, 2021-03-07",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "YHVWQ2KSUUeZX6J5b\u002BnT\u002Bg.0",
        "X-Processing-Time": "239ms"
      },
      "ResponseBody": {}
    },
[...]
    {
      "RequestUri": "https://avinpsdklivetestacs03222021-communication.communication.azure.com/chat/threads/19%3AlvHKoHi3UMgs6oIC0uN0bjx0LaqnQqXJys1iR4uyLBE1%40thread.v2/participants?maxPageSize=2\u0026api-version=2021-01-27-preview4",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c"
      },
      "Req[...]
    {
      "RequestUri": "https://avinpsdklivetestacs03222021-communication.communication.azure.com/chat/threads/19:lvHKoHi3UMgs6oIC0uN0bjx0LaqnQqXJys1iR4uyLBE1@thread.v2/participants?skip=2\u0026maxPageSize=2\u0026api-version=2021-01-27-preview4",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c"
      },
  [...]
[...]
    {
      "RequestUri": "https://avinpsdklivetestacs03222021-communication.communication.azure.com/chat/threads/19%3AlvHKoHi3UMgs6oIC0uN0bjx0LaqnQqXJys1iR4uyLBE1%40thread.v2/participants/:remove?api-version=2021-01-27-preview4",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "communicationUser": {
          "id": "8:acs:207d5cb4-8afc-42cb-a26f-74ad337313f1_00000008-ffee-eace-47b4-a43a0d005642"
        }
      },
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2020-11-01-preview3, 2021-01-27-preview4, 2021-03-01-preview5, 2021-03-07",
        "MS-CV": "3sNH5un\u002B1Ei\u002BcX/58PU5Lw.0",
        "X-Processing-Time": "262ms"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://avinpsdklivetestacs03222021-communication.communication.azure.com/chat/threads/19%3AlvHKoHi3UMgs6oIC0uN0bjx0LaqnQqXJys1iR4uyLBE1%40thread.v2/typing?api-version=2021-01-27-preview4",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2020-09-21-preview2, 2020-11-01-preview3, 2021-01-27-preview4, 2021-03-01-preview5, 2021-03-07",
        "MS-CV": "00Kx/lp\u002B4U6RZSp81J6qAw.0",
        "X-Processing-Time": "126ms"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://avinpsdklivetestacs03222021-communication.communication.azure.com/chat/threads?api-version=2021-01-27-preview4",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2020-09-21-preview2, 2020-11-01-preview3, 2021-01-27-preview4, 2021-03-01-preview5, 2021-03-07",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "HVlUYs2WIkqdUFl9gYZ2zw.0",
        "X-Processing-Time": "83ms"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "19:lvHKoHi3UMgs6oIC0uN0bjx0LaqnQqXJys1iR4uyLBE1@thread.v2",
            "topic": "Launch meeting",
            "lastMessageReceivedOn": "2021-03-23T17:06:34Z"
          },
          {
            "id": "19:GlShRHNMxX3J4eRS8UGigPR6Q_q3zE2rs5kZ5H-oIoU1@thread.v2",
            "topic": "Thread sync from C# sdk",
            "lastMessageReceivedOn": "2021-03-23T17:06:27Z"
          }
        ]
      }
    },
    {
      "RequestUri": "https://avinpsdklivetestacs03222021-communication.communication.azure.com/chat/threads/19%3AlvHKoHi3UMgs6oIC0uN0bjx0LaqnQqXJys1iR4uyLBE1%40thread.v2?api-version=2021-01-27-preview4",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2020-09-21-preview2, 2020-11-01-preview3, 2021-01-27-preview4, 2021-03-01-preview5, 2021-03-07",
        "MS-CV": "aJXZ21FGlESJyU8qyZw7mw.0",
        "X-Processing-Time": "183ms"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "COMMUNICATION_CONNECTION_STRING": "endpoint=https://avinpsdklivetestacs03222021-communication.communication.azure.com/;accesskey=Kg==",
    "RandomSeed": "800004652"
  }
}