{
  "Entries": [
    {
      "RequestUri": "/subscriptions/69a75bda-882e-44d5-8431-63421204132a/resourceGroups/sdk-net-test-qa2/providers/Microsoft.NetApp/netAppAccounts/sdk-net-tests-acc-212?api-version=2021-10-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"northeurope\",\r\n  \"properties\": {\r\n    \"activeDirectories\": []\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "ETag": [
          "W/\"datetime'2022-02-25T16%3A53%3A10.6837688Z'\""
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/69a75bda-882e-44d5-8431-63421204132a/providers/Microsoft.NetApp/locations/northeurope/operationResults/17f976d4-e1a0-46e2-b29d-6f9d64748992?api-version=2021-10-01"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/69a75bda-882e-44d5-8431-63421204132a/resourceGroups/sdk-net-test-qa2/providers/Microsoft.NetApp/netAppAccounts/sdk-net-tests-acc-212\",\r\n  \"name\": \"sdk-net-tests-acc-212\",\r\n  \"type\": \"Microsoft.NetApp/netAppAccounts\",\r\n  \"etag\": \"W/\\\"datetime'2022-02-25T16%3A53%3A10.6837688Z'\\\"\",\r\n  \"location\": \"northeurope\",\r\n  \"tags\": {\r\n    \"CreatedOnDate\": \"2022-02-25T16:53:05.6168062Z\"\r\n  },\r\n  \"properties\": {\r\n    \"activeDirectories\": [],\r\n    \"provisioningState\": \"Creating\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/69a75bda-882e-44d5-8431-63421204132a/providers/Microsoft.NetApp/locations/northeurope/operationResults/17f976d4-e1a0-46e2-b29d-6f9d64748992?api-version=2021-10-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11998"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/69a75bda-882e-44d5-8431-63421204132a/providers/Microsoft.NetApp/locations/northeurope/operationResults/17f976d4-e1a0-46e2-b29d-6f9d64748992\",\r\n  \"name\": \"17f976d4-e1a0-46e2-b29d-6f9d64748992\",\r\n  \"status\": \"Succeeded\",\r\n  \"startTime\": \"2022-02-25T16:53:10.6864611Z\",\r\n  \"endTime\": \"2022-02-25T16:53:10.7214618Z\",\r\n  \"percentComplete\": 100.0,\r\n  \"properties\": {\r\n    \"resourceName\": \"/subscriptions/69a75bda-882e-44d5-8431-63421204132a/resourceGroups/sdk-net-test-qa2/providers/Microsoft.NetApp/netAppAccounts/sdk-net-tests-acc-212\"\r\n  }\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/69a75bda-882e-44d5-8431-63421204132a/resourceGroups/sdk-net-test-qa2/providers/Microsoft.NetApp/netAppAccounts/sdk-net-tests-acc-212?api-version=2021-10-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "ETag": [
          "W/\"datetime'2022-02-25T16%3A53%3A10.7176791Z'\""
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11997"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/69a75bda-882e-44d5-8431-63421204132a/resourceGroups/sdk-net-test-qa2/providers/Microsoft.NetApp/netAppAccounts/sdk-net-tests-acc-212\",\r\n  \"name\": \"sdk-net-tests-acc-212\",\r\n  \"type\": \"Microsoft.NetApp/netAppAccounts\",\r\n  \"etag\": \"W/\\\"datetime'2022-02-25T16%3A53%3A10.7176791Z'\\\"\",\r\n  \"location\": \"northeurope\",\r\n  \"tags\": {\r\n    \"CreatedOnDate\": \"2022-02-25T16:53:05.6168062Z\"\r\n  },\r\n  \"properties\": {\r\n    \"activeDirectories\": [],\r\n    \"encryption\": {\r\n      \"keySource\": \"Microsoft.NetApp\"\r\n    },\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/69a75bda-882e-44d5-8431-63421204132a/resourceGroups/sdk-net-test-qa2/providers/Microsoft.NetApp/netAppAccounts/sdk-net-tests-acc-212/capacityPools/sdk-net-tests-pool-205?api-version=2021-10-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"northeurope\",\r\n  \"properties\": {\r\n    \"size\": 4398046511104,\r\n    \"serviceLevel\": \"Premium\",\r\n    \"qosType\": \"Manual\"\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "ETag": [
          "W/\"datetime'2022-02-25T16%3A53%3A50.5320885Z'\""
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/69a75bda-882e-44d5-8431-63421204132a/providers/Microsoft.NetApp/locations/northeurope/operationResults/33cc03cf-ebd5-4755-96e0-7f1eb0a4d15c?api-version=2021-10-01"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1198"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/69a75bda-882e-44d5-8431-63421204132a/resourceGroups/sdk-net-test-qa2/providers/Microsoft.NetApp/netAppAccounts/sdk-net-tests-acc-212/capacityPools/sdk-net-tests-pool-205\",\r\n  \"name\": \"sdk-net-tests-acc-212/sdk-net-tests-pool-205\",\r\n  \"type\": \"Microsoft.NetApp/netAppAccounts/capacityPools\",\r\n  \"etag\": \"W/\\\"datetime'2022-02-25T16%3A53%3A50.5320885Z'\\\"\",\r\n  \"location\": \"northeurope\",\r\n  \"tags\": {\r\n    \"CreatedOnDate\": \"2022-02-25T16:53:48.0866824Z\"\r\n  },\r\n  \"properties\": {\r\n    \"serviceLevel\": \"Premium\",\r\n    \"size\": 4398046511104,\r\n    \"qosType\": \"Manual\",\r\n    \"totalThroughputMibps\": 0.0,\r\n    \"utilizedThroughputMibps\": 0.0,\r\n    \"provisioningState\": \"Creating\"\r\n  }\r\n}",
      "StatusCode": 201
    },
[...]
    {
      "RequestUri": "/subscriptions/69a75bda-882e-44d5-8431-63421204132a/resourceGroups/sdk-net-test-qa2/providers/Microsoft.NetApp/netAppAccounts/sdk-net-tests-acc-212/capacityPools/sdk-net-tests-pool-205?api-version=2021-10-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "ETag": [
          "W/\"datetime'2022-02-25T16%3A53%3A50.6338813Z'\""
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11995"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/69a75bda-882e-44d5-8431-63421204132a/resourceGroups/sdk-net-test-qa2/providers/Microsoft.NetApp/netAppAccounts/sdk-net-tests-acc-212/capacityPools/sdk-net-tests-pool-205\",\r\n  \"name\": \"sdk-net-tests-acc-212/sdk-net-tests-pool-205\",\r\n  \"type\": \"Microsoft.NetApp/netAppAccounts/capacityPools\",\r\n  \"etag\": \"W/\\\"datetime'2022-02-25T16%3A53%3A50.6338813Z'\\\"\",\r\n  \"location\": \"northeurope\",\r\n  \"tags\": {\r\n    \"CreatedOnDate\": \"2022-02-25T16:53:48.0866824Z\"\r\n  },\r\n  \"properties\": {\r\n    \"poolId\": \"a3e1eb02-7ac7-a6b8-9828-fe35e9eba288\",\r\n    \"serviceLevel\": \"Premium\",\r\n    \"size\": 4398046511104,\r\n    \"qosType\": \"Manual\",\r\n    \"totalThroughputMibps\": 262.144,\r\n    \"utilizedThroughputMibps\": 0.0,\r\n    \"encryptionType\": \"Single\",\r\n    \"coolAccess\": false,\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/69a75bda-882e-44d5-8431-63421204132a/resourceGroups/sdk-net-test-qa2/providers/Microsoft.NetApp/netAppAccounts/sdk-net-tests-acc-212/volumeGroups/sdk-net-tests-volGroup-1?api-version=2021-10-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"northeurope\",\r\n  \"properties\": {\r\n    \"groupMetaData\": {\r\n      \"groupDescription\": \"group description\",\r\n      \"applicationType\": \"SAP-HANA\",\r\n      \"applicationIdentifier\": \"SH1\",\r\n      \"globalPlacementRules\": [\r\n        {\r\n          \"key\": \"Key1\",\r\n          \"value\": \"value1\"\r\n        }\r\n      ],\r\n      \"deploymentSpecId\": \"20542149-bfca-5618-1879-9863dc6767f1\"\r\n    },\r\n    \"volumes\": [\r\n      {\r\n        \"name\": \"sdk-net-tests-volGroup-1-log-1\",\r\n        \"properties\": {\r\n          \"creationToken\": \"sdk-net-tests-volGroup-1-log-1\",\r\n          \"usageThreshold\": 107374182400,\r\n          \"exportPolicy\": {\r\n            \"rules\": [\r\n              {\r\n                \"ruleIndex\": 1,\r\n                \"nfsv3\": false,\r\n                \"nfsv41\": true,\r\n                \"allowedClients\": \"0.0.0.0/0\"\r\n              },\r\n              {\r\n                \"ruleIndex\": 2,\r\n                \"nfsv3\": false,\r\n                \"nfsv41\": true,\r\n                \"allowedClients\": \"0.0.0.0/0\"\r\n              }\r\n            ]\r\n          },\r\n          \"protocolTypes\": [\r\n            \"NFSv4.1\"\r\n          ],\r\n          \"subnetId\": \"/subscriptions/69a75bda-882e-44d5-8431-63421204132a/resourceGroups/sdk-net-test-qa2/providers/Microsoft.Network/virtualNetworks/vnetnortheurope-anf/subnets/default\",\r\n          \"throughputMibps\": 6.0,\r\n          \"capacityPoolResourceId\": \"/subscriptions/69a75bda-882e-44d5-8431-63421204132a/resourceGroups/sdk-net-test-qa2/providers/Microsoft.NetApp/netAppAccounts/sdk-net-tests-acc-212/capacityPools/sdk-net-tests-pool-205\",\r\n          \"proximityPlacementGroup\": \"/subscriptions/69a75bda-882e-44d5-8431-63421204132a/resourceGroups/sdk-net-test-qa2/providers/Microsoft.Compute/proximityPlacementGroups/sdk_test_northeurope_ppg\",\r\n          \"volumeSpecName\": \"log\"\r\n        }\r\n      },\r\n      {\r\n        \"name\": \"sdk-net-tests-volGroup-1-DataBackup-2\",\r\n        \"properties\": {\r\n          \"creationToken\": \"sdk-net-tests-volGroup-1-DataBackup-2\",\r\n          \"usageThreshold\": 107374182400,\r\n          \"exportPolicy\": {\r\n            \"rules\": [\r\n              {\r\n                \"ruleIndex\": 1,\r\n                \"nfsv3\": false,\r\n                \"nfsv41\": true,\r\n                \"allowedClients\": \"0.0.0.0/[...]
[...]
    {
      "RequestUri": "/subscriptions/69a75bda-882e-44d5-8431-63421204132a/resourceGroups/sdk-net-test-qa2/providers/Microsoft.NetApp/netAppAccounts/sdk-net-tests-acc-212/volumeGroups/sdk-net-tests-volGroup-1?api-version=2021-10-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11970"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/69a75bda-882e-44d5-8431-63421204132a/resourceGroups/sdk-net-test-qa2/providers/Microsoft.NetApp/netAppAccounts/sdk-net-tests-acc-212/volumeGroups/sdk-net-tests-volGroup-1\",\r\n  \"name\": \"sdk-net-tests-acc-212/sdk-net-tests-volGroup-1\",\r\n  \"type\": \"Microsoft.NetApp/netAppAccounts/volumeGroups\",\r\n  \"location\": \"northeurope\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"groupMetaData\": {\r\n      \"groupName\": \"sdk-net-tests-volGroup-1\",\r\n      \"groupDescription\": \"group description\",\r\n      \"applicationType\": \"SAP-HANA\",\r\n      \"applicationIdentifier\": \"SH1\",\r\n      \"groupId\": \"fd12eb07-b352-3f25-9633-9b4633eac58f\",\r\n      \"volumesCount\": 3\r\n    },\r\n    \"volumes\": [\r\n      {\r\n        \"id\": \"/subscriptions/69a75bda-882e-44d5-8431-63421204132a/resourceGroups/sdk-net-test-qa2/providers/Microsoft.NetApp/netAppAccounts/sdk-net-tests-acc-212/capacityPools/sdk-net-tests-pool-205/volumes/sdk-net-tests-volGroup-1-log-1\",\r\n        \"type\": \"Microsoft.NetApp/netAppAccounts/capacityPools/volumes\",\r\n        \"name\": \"sdk-net-tests-acc-212/sdk-net-tests-pool-205/sdk-net-tests-volGroup-1-log-1\",\r\n        \"properties\": {\r\n          \"fileSystemId\": \"60fe0a3a-eb06-4123-af53-497e481b287a\",\r\n          \"serviceLevel\": \"Premium\",\r\n          \"creationToken\": \"sdk-net-tests-volGroup-1-log-1\",\r\n          \"ownerId\": \"640ca0c7-8168-11e9-be68-1a412287f42a\",\r\n          \"usageThreshold\": 107374182400,\r\n          \"usedBytes\": 0,\r\n          \"exportPolicy\": {\r\n            \"rules\": [\r\n              {\r\n                \"ruleIndex\": 1,\r\n                \"unixReadOnly\": false,\r\n                \"unixReadWrite\": false,\r\n                \"cifs\": false,\r\n                \"nfsv3\": false,\r\n                \"nfsv4\": true,\r\n                \"nfsv41\": true,\r\n                \"allowedClients\": \"0.0.0.0/0\",\r\n                \"kerberos5ReadOnly\": false,\r\n                \"kerberos5ReadWrite\": false,\r\n                \"kerberos5iReadOnly\": false,\r\n                \"kerberos5iReadWrite\": false,\r\n                \"kerberos5pReadOnly\": false,\r\n                \"kerberos5pReadWrite\": false,\r\n                \"hasRootAccess\": true,\r\n                \"chownMode\": \"Restricted\"\r\n              },\r\n              {\r\n                \"ruleIndex\": 2,\r\n                \"unixReadOnly\": false,\r\n                \"unixReadWrite\": false,\r\n                \"cifs\": false,\r\n                \"nfsv3\": false,\r\n                \"nfsv4\": true,\r\n                \"nfsv41\": true,\r\n                \"allowedClients\": \"0.0.0.0/0\",\r\n                \"kerberos5ReadOnly\": false,\r\n                \"kerberos5ReadWrite\": false,\r\n                \"kerberos5iReadOnly\": false,\r\n                \"kerberos5iReadWrite\": false,\r\n                \"kerberos5pReadOnly\": false,\r\n                \"kerberos5pReadWrite\": false,\r\n                \"hasRootAccess\": true,\r\n                \"chownMode\": \"Restricted\"\r\n              }\r\n            ]\r\n          },\r\n          \"protocolTypes\": [\r\n            \"NFSv4.1\"\r\n          ],\r\n          \"networkSiblingSetId\": \"c8658988-0893-2fd1-e3a8-84769332c0f5\",\r\n          \"storageToNetworkProximity\": \"Default\",\r\n          \"snapshotDirectoryVisible\": true,\r\n          \"vendorID\": \"/subscriptions/69a75bda-882e-44d5-8431-63421204132a/resourceGroups/sdk-net-test-qa2/providers/Microsoft.NetApp/netAppAccounts/sdk-net-tests-acc-212/capacityPools/sdk-net-tests-pool-205/volumes/sdk-net-tests-volGroup-1-log-1\",\r\n          \"poolId\": \"a3e1eb02-7ac7-a6b8-9828-fe35e9eba288\",\r\n          \"mountTargets\": [\r\n            {\r\n              \"provisioningState\": \"\",\r\n              \"mountTargetId\": \"60fe0a3a-eb06-4123-af53-497e481b287a\",\r\n              \"fileSystemId\": \"60fe0a3a-eb06-4123-af53-497e481b287a\",\r\n              \"startIp\": \"\",\r\n              \"endIp\": \"\",\r\n              \"gateway\": \"\",\r\n              \"netmask\": \"\",\r\n              \"subnet\": \"\",\r\n              \"ipAddress\": \"10.0.0.4\"\r\n            },\r\n            {\r\n              \"provisioningState\": \"\",\r\n              \"mountTargetId\": \"60fe0a3a-eb06-4123-af53-497e481b287a\",\r\n              \"fileSystemId\": \"60fe0a3a-eb06-4123-af53-497e481b287a\",\r\n              \"startIp\": \"\",\r\n              \"endIp\": \"\",\r\n              \"gateway\": \"\",\r\n              \"netmask\": \"\",\r\n              \"subnet\": \"\",\r\n              \"ipAddress\": \"10.0.0.6\"\r\n            }\r\n          ],\r\n          \"throughputMibps\": 6.0,\r\n          \"kerberosEnabled\": false,\r\n          \"securityStyle\": \"Unix\",\r\n          \"smbEncryption\": false,\r\n          \"smbContinuouslyAvailable\": false,\r\n          \"ldapEnabled\": false,\r\n          \"encryptionKeySource\": \"Microsoft.NetApp\",\r\n          \"volumeGroupName\": \"sdk-net-tests-volGroup-1\",\r\n          \"t2Network\": \"DUB08-AZ1-Shared-T2-Set1\",\r\n          \"volumeSpecName\": \"log\",\r\n          \"proximityPlacementGroup\": \"/subscriptions/69a75bda-882e-44d5-8431-63421204132a/resourceGroups/sdk-net-test-qa2/providers/Microsoft.Compute/proximityPlacementGroups/sdk_test_northeurope_ppg\",\r\n          \"coolAccess\": false,\r\n          \"avsDataStore\": \"Disabled\",\r\n          \"isDefaultQuotaEnabled\": false,\r\n          \"defaultUserQuotaInKiBs\": 0,\r\n          \"defaultGroupQuotaInKiBs\": 0,\r\n          \"enableSubvolumes\": \"Disabled\"\r\n        }\r\n      },\r\n      {\r\n        \"id\": \"/subscriptions/69a75bda-882e-44d5-8431-63421204132a/resourceGroups/sdk-net-test-qa2/providers/Microsoft.NetApp/netAppAccounts/sdk-net-tests-acc-212/capacityPools/sdk-net-tests-pool-205/volumes/sdk-net-tests-volGroup-1-DataBackup-2\",\r\n        \"type\": \"Microsoft.NetApp/netAppAccounts/capacityPools/volumes\",\r\n        \"name\": \"sdk-net-tests-acc-212/sdk-net-tests-pool-205/sdk-net-tests-volGroup-1-DataBackup-2\",\r\n   [...]
[...]
    {
      "RequestUri": "/subscriptions/69a75bda-882e-44d5-8431-63421204132a/resourceGroups/sdk-net-test-qa2/providers/Microsoft.NetApp/netAppAccounts/sdk-net-tests-acc-212/capacityPools/sdk-net-tests-pool-205/volumes/sdk-net-tests-volGroup-1-log-1?api-version=2021-10-01",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/69a75bda-882e-44d5-8431-63421204132a/providers/Microsoft.NetApp/locations/northeurope/operationResults/b20d03f3-7763-4bde-96eb-8064b89d93f6?api-version=2021-10-01&operationResultResponseType=Location"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/69a75bda-882e-44d5-8431-63421204132a/providers/Microsoft.NetApp/locations/northeurope/operationResults/b20d03f3-7763-4bde-96eb-8064b89d93f6?api-version=2021-10-01"
        ],
        "x-ms-ratelimit-remaining-subscription-deletes": [
          "14999"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 202
    },
[...]
    {
      "RequestUri": "/subscriptions/69a75bda-882e-44d5-8431-63421204132a/providers/Microsoft.NetApp/locations/northeurope/operationResults/b20d03f3-7763-4bde-96eb-8064b89d93f6?api-version=2021-10-01&operationResultResponseType=Location",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11967"
        ],
        "Content-Type": [
          "application/json[...]
    {
      "RequestUri": "/subscriptions/69a75bda-882e-44d5-8431-63421204132a/resourceGroups/sdk-net-test-qa2/providers/Microsoft.NetApp/netAppAccounts/sdk-net-tests-acc-212/capacityPools/sdk-net-tests-pool-205/volumes/sdk-net-tests-volGroup-1-DataBackup-2?api-version=2021-10-01",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/69a75bda-882e-44d5-8431-63421204132a/providers/Microsoft.NetApp/locations/northeurope/operationResults/0c2c39a8-0770-4ce1-be3d-6fdcdd4ede29?api-version=2021-10-01&operationResultResponseType=Location"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/69a75bda-882e-44d5-8431-63421204132a/providers/Microsoft.NetApp/locations/northeurope/operationResults/0c2c39a8-0770-4ce1-be3d-6fdcdd4ede29?api-version=2021-10-01"
        ],
        "x-ms-ratelimit-remaining-subscription-deletes": [
          "14998"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 202
    },
[...]
    {
      "RequestUri": "/subscriptions/69a75bda-882e-44d5-8431-63421204132a/resourceGroups/sdk-net-test-qa2/providers/Microsoft.NetApp/netAppAccounts/sdk-net-tests-acc-212/capacityPools/sdk-net-tests-pool-205/volumes/sdk-net-tests-volGroup-1-DataVol-3?api-version=2021-10-01",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/69a75bda-882e-44d5-8431-63421204132a/providers/Microsoft.NetApp/locations/northeurope/operationResults/3c387909-eedd-490f-8ef6-36f85b91b4a1?api-version=2021-10-01&operationResultResponseType=Location"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/69a75bda-882e-44d5-8431-63421204132a/providers/Microsoft.NetApp/locations/northeurope/operationResults/3c387909-eedd-490f-8ef6-36f85b91b4a1?api-version=2021-10-01"
        ],
        "x-ms-ratelimit-remaining-subscription-deletes": [
          "14997"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 202
    },
[...]
    {
      "RequestUri": "/subscriptions/69a75bda-882e-44d5-8431-63421204132a/providers/Microsoft.NetApp/locations/northeurope/operationResults/df8de2c5-29f4-4001-b7c3-65400d102d0e?api-version=2021-10-01&operationResultResponseType=Location",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11952"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/69a75bda-882e-44d5-8431-63421204132a/resourceGroups/sdk-net-test-qa2/providers/Microsoft.NetApp/netAppAccounts/sdk-net-tests-acc-212\",\r\n  \"name\": \"sdk-net-tests-acc-212\",\r\n  \"type\": \"Microsoft.NetApp/netAppAccounts\",\r\n  \"etag\": \"W/\\\"datetime'2022-02-25T17%3A12%3A34.6472786Z'\\\"\",\r\n  \"location\": \"northeurope\",\r\n  \"tags\": {\r\n    \"CreatedOnDate\": \"2022-02-25T16:53:05.6168062Z\"\r\n  },\r\n  \"properties\": {\r\n    \"encryption\": {\r\n      \"keySource\": \"Microsoft.NetApp\"\r\n    },\r\n    \"activeDirectories\": [],\r\n    \"provisioningState\": \"Deleting\"\r\n  }\r\n}",
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "69a75bda-882e-44d5-8431-63421204132a"
  }
}