{
  "Entries": [
    {
      "RequestUri": "https://azs-net-yhhnimrm.search.windows.net/indexes(\u0027wkokfpgs\u0027)/docs/search.index?api-version=2019-05-06-Preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "api-key": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "value": [
          {
            "@search.action": "upload",
            "hotelId": "AQIDBAU="
          }
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal",
        "elapsed-time": "201",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\u0022*\u0022"
      },
      "ResponseBody": {
        "@odata.context": "https://azs-net-yhhnimrm.search.windows.net/indexes(\u0027wkokfpgs\u0027)/$metadata#Collection(Microsoft.Azure.Search.V2019_05_06_Preview.IndexResult)",
        "value": [
          {
            "key": "AQIDBAU=",
            "status": true,
            "errorMessage": null,
            "statusCode": 201
          }
        ]
      }
    },
    {
      "RequestUri": "https://azs-net-yhhnimrm.search.windows.net/indexes(\u0027wkokfpgs\u0027)/docs(\u0027AQIDBAU%3D\u0027)?$select=hotelId\u0026api-version=2019-05-06-Preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal; odata.streaming=true",
        "elapsed-time": "6",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\u0022*\u0022"
      },
      "ResponseBody": {
        "@odata.context": "https://azs-net-yhhnimrm.search.windows.net/indexes(\u0027wkokfpgs\u0027)/$metadata#docs(*)/$entity",
        "hotelId": "AQIDBAU="
      }
    }
  ],
  "Variables": {
    "RandomSeed": "844862299",
    "SearchIndexName": "wkokfpgs",
    "SearchServiceName": "azs-net-yhhnimrm"
  }
}