{
  "Entries": [
    {
      "RequestUri": "https://azs-net-teglaza.search.windows.net/indexes(\u0027vufoohxy\u0027)/docs/search.index?api-version=2019-05-06-Preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "api-key": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "value": [
          {
            "@search.action": "upload",
            "hotelId": "1",
            "hotelName": "2015-02-11T12:58:00Z",
            "location": {
              "type": "Point",
              "coordinates": [
                -73.975403,
                40.760586000000004
              ]
            },
            "rooms": [
              {
                "baseRate": "NaN"
              }
            ]
          }
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=none",
        "elapsed-time": "123",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\u0022*\u0022"
      },
      "ResponseBody": {
        "value": [
          {
            "key": "1",
            "status": true,
            "errorMessage": null,
            "statusCode": 201
          }
        ]
      }
    },
    {
      "RequestUri": "https://azs-net-teglaza.search.windows.net/indexes(\u0027vufoohxy\u0027)/docs(\u00271\u0027)?$select=hotelId%2ChotelName%2Clocation%2Crooms%2FbaseRate\u0026api-version=2019-05-06-Preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=none",
        "elapsed-time": "8",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\u0022*\u0022"
      },
      "ResponseBody": {
        "hotelId": "1",
        "hotelName": "2015-02-11T12:58:00Z",
        "location": {
          "type": "Point",
          "coordinates": [
            -73.975403,
            40.760586
          ],
          "crs": {
            "type": "name",
            "properties": {
              "name": "EPSG:4326"
            }
          }
        },
        "rooms": [
          {
            "baseRate": "NaN"
          }
        ]
      }
    },
    {
      "RequestUri": "https://azs-net-teglaza.search.windows.net/indexes(\u0027vufoohxy\u0027)?api-version=2019-05-06-Preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "elapsed-time": "662"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "815861156",
    "SearchIndexName": "vufoohxy",
    "SEARCH_ADMIN_API_KEY": "Sanitized",
    "SEARCH_QUERY_API_KEY": "Sanitized",
    "SEARCH_SERVICE_NAME": "azs-net-teglaza"
  }
}