{
  "Entries": [
    {
      "RequestUri": "https://azs-net-heathsearch2.search.windows.net/indexes(\u0027eoqbtafd\u0027)/docs/search.index?api-version=2019-05-06-Preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "api-key": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "value": [
          {
            "@search.action": "upload",
            "hotelId": "1",
            "hotelName": null,
            "tags": [],
            "parkingIncluded": null,
            "lastRenovationDate": null,
            "rating": null,
            "location": null,
            "address": null,
            "rooms": [
              {
                "baseRate": null,
                "bedOptions": null,
                "sleepsCount": null,
                "smokingAllowed": null,
                "tags": []
              }
            ]
          }
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=none",
        "elapsed-time": "82",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\u0022*\u0022"
      },
      "ResponseBody": {
        "value": [
          {
            "key": "1",
            "status": true,
            "errorMessage": null,
            "statusCode": 201
          }
        ]
      }
    },
    {
      "RequestUri": "https://azs-net-heathsearch2.search.windows.net/indexes(\u0027eoqbtafd\u0027)/docs(\u00271\u0027)?api-version=2019-05-06-Preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=none",
        "elapsed-time": "10",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\u0022*\u0022"
      },
      "ResponseBody": {
        "hotelId": "1",
        "hotelName": null,
        "description": null,
        "descriptionFr": null,
        "category": null,
        "tags": [],
        "parkingIncluded": null,
        "smokingAllowed": null,
        "lastRenovationDate": null,
        "rating": null,
        "location": null,
        "address": null,
        "rooms": [
          {
            "description": null,
            "descriptionFr": null,
            "type": null,
            "baseRate": null,
            "bedOptions": null,
            "sleepsCount": null,
            "smokingAllowed": null,
            "tags": []
          }
        ]
      }
    },
    {
      "RequestUri": "https://azs-net-heathsearch2.search.windows.net/indexes(\u0027eoqbtafd\u0027)?api-version=2019-05-06-Preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "elapsed-time": "177"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1106232816",
    "SearchIndexName": "eoqbtafd",
    "SEARCH_ADMIN_API_KEY": "Sanitized",
    "SEARCH_QUERY_API_KEY": "Sanitized",
    "SEARCH_SERVICE_NAME": "azs-net-heathsearch2"
  }
}