{
  "Entries": [
    {
      "RequestUri": "https://azs-net-gyqqmobj.search.windows.net/indexes(\u0027eifefphf\u0027)/docs(\u00273\u0027)?api-version=2019-05-06-Preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal; odata.streaming=true",
        "elapsed-time": "142",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\u0022*\u0022"
      },
      "ResponseBody": {
        "@odata.context": "https://azs-net-gyqqmobj.search.windows.net/indexes(\u0027eifefphf\u0027)/$metadata#docs(*)/$entity",
        "hotelId": "3",
        "hotelName": "EconoStay",
        "description": "Very popular hotel in town",
        "descriptionFr": "H\u00F4tel le plus populaire en ville",
        "category": "Budget",
        "tags": [
          "wifi",
          "budget"
        ],
        "parkingIncluded": true,
        "smokingAllowed": false,
        "lastRenovationDate": "1995-07-01T00:00:00Z",
        "rating": 4,
        "location": {
          "type": "Point",
          "coordinates": [
            -122.131577,
            46.678581
          ],
          "crs": {
            "type": "name",
            "properties": {
              "name": "EPSG:4326"
            }
          }
        },
        "address": null,
        "rooms": []
      }
    }
  ],
  "Variables": {
    "RandomSeed": "554905365",
    "SearchIndexName": "eifefphf",
    "SearchServiceName": "azs-net-gyqqmobj"
  }
}