{
  "Entries": [
    {
      "RequestUri": "https://azs-net-jcswnkcn.search.windows.net/indexes(\u0027mesaejwj\u0027)/docs(\u00273\u0027)?api-version=2019-05-06-Preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=none",
        "elapsed-time": "4",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\u0022*\u0022"
      },
      "ResponseBody": {
        "hotelId": "3",
        "hotelName": "EconoStay",
        "description": "Very popular hotel in town",
        "descriptionFr": "H\u00F4tel le plus populaire en ville",
        "category": "Budget",
        "tags": [
          "wifi",
          "budget"
        ],
        "parkingIncluded": true,
        "smokingAllowed": false,
        "lastRenovationDate": "1995-07-01T00:00:00Z",
        "rating": 4,
        "location": null,
        "address": null,
        "rooms": []
      }
    }
  ],
  "Variables": {
    "RandomSeed": "269565640",
    "SearchIndexName": "mesaejwj",
    "SearchServiceName": "azs-net-jcswnkcn"
  }
}