{
  "Entries": [
    {
      "RequestUri": "https://azs-net-dgnptpig.search.windows.net/indexes(\u0027sijhobda\u0027)/docs/search.index?api-version=2019-05-06-Preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "api-key": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "value": [
          {
            "@search.action": "upload",
            "hotelId": "1",
            "hotelName": null,
            "description": null,
            "descriptionFr": null,
            "category": null,
            "tags": [],
            "parkingIncluded": null,
            "smokingAllowed": null,
            "lastRenovationDate": "2010-06-27T00:00:00.0000000-08:00",
            "rating": null,
            "address": null,
            "rooms": []
          }
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal",
        "elapsed-time": "104",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\u0022*\u0022"
      },
      "ResponseBody": {
        "@odata.context": "https://azs-net-dgnptpig.search.windows.net/indexes(\u0027sijhobda\u0027)/$metadata#Collection(Microsoft.Azure.Search.V2019_05_06_Preview.IndexResult)",
        "value": [
          {
            "key": "1",
            "status": true,
            "errorMessage": null,
            "statusCode": 201
          }
        ]
      }
    },
    {
      "RequestUri": "https://azs-net-dgnptpig.search.windows.net/indexes(\u0027sijhobda\u0027)/docs(\u00271\u0027)?api-version=2019-05-06-Preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal; odata.streaming=true",
        "elapsed-time": "9",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\u0022*\u0022"
      },
      "ResponseBody": {
        "@odata.context": "https://azs-net-dgnptpig.search.windows.net/indexes(\u0027sijhobda\u0027)/$metadata#docs(*)/$entity",
        "hotelId": "1",
        "hotelName": null,
        "description": null,
        "descriptionFr": null,
        "category": null,
        "tags": [],
        "parkingIncluded": null,
        "smokingAllowed": null,
        "lastRenovationDate": "2010-06-27T08:00:00Z",
        "rating": null,
        "location": null,
        "address": null,
        "rooms": []
      }
    }
  ],
  "Variables": {
    "RandomSeed": "144595203",
    "SearchIndexName": "sijhobda",
    "SearchServiceName": "azs-net-dgnptpig"
  }
}