{
  "Entries": [
    {
      "RequestUri": "https://azs-net-ximmdfhv.search.windows.net/indexes(\u0027cwawcfss\u0027)/docs/search.index?api-version=2019-05-06-Preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "api-key": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "value": [
          {
            "@search.action": "upload",
            "hotelId": "1",
            "hotelName": null,
            "description": null,
            "descriptionFr": null,
            "category": null,
            "tags": [],
            "parkingIncluded": null,
            "smokingAllowed": null,
            "lastRenovationDate": null,
            "rating": null,
            "address": {
              "streetAddress": null,
              "city": null,
              "stateProvince": null,
              "country": null,
              "postalCode": null
            },
            "rooms": [
              {
                "description": null,
                "descriptionFr": null,
                "type": null,
                "baseRate": null,
                "bedOptions": null,
                "sleepsCount": null,
                "smokingAllowed": null,
                "tags": []
              },
              {
                "description": null,
                "descriptionFr": null,
                "type": null,
                "baseRate": null,
                "bedOptions": null,
                "sleepsCount": null,
                "smokingAllowed": null,
                "tags": []
              }
            ]
          }
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=none",
        "elapsed-time": "128",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\u0022*\u0022"
      },
      "ResponseBody": {
        "value": [
          {
            "key": "1",
            "status": true,
            "errorMessage": null,
            "statusCode": 201
          }
        ]
      }
    },
    {
      "RequestUri": "https://azs-net-ximmdfhv.search.windows.net/indexes(\u0027cwawcfss\u0027)/docs(\u00271\u0027)?api-version=2019-05-06-Preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=none",
        "elapsed-time": "11",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\u0022*\u0022"
      },
      "ResponseBody": {
        "hotelId": "1",
        "hotelName": null,
        "description": null,
        "descriptionFr": null,
        "category": null,
        "tags": [],
        "parkingIncluded": null,
        "smokingAllowed": null,
        "lastRenovationDate": null,
        "rating": null,
        "location": null,
        "address": {
          "streetAddress": null,
          "city": null,
          "stateProvince": null,
          "country": null,
          "postalCode": null
        },
        "rooms": [
          {
            "description": null,
            "descriptionFr": null,
            "type": null,
            "baseRate": null,
            "bedOptions": null,
            "sleepsCount": null,
            "smokingAllowed": null,
            "tags": []
          },
          {
            "description": null,
            "descriptionFr": null,
            "type": null,
            "baseRate": null,
            "bedOptions": null,
            "sleepsCount": null,
            "smokingAllowed": null,
            "tags": []
          }
        ]
      }
    }
  ],
  "Variables": {
    "CLIENT_ID": "f9ab11db-b032-44b3-af0a-44713541cc40",
    "LOCATION": "westus2",
    "RandomSeed": "226392841",
    "RESOURCE_GROUP": "heaths-search",
    "SearchIndexName": "cwawcfss",
    "SearchServiceName": "azs-net-ximmdfhv",
    "SUBSCRIPTION_ID": "faa080af-c1d8-40ad-9cce-e1a450ca5b57",
    "TENANT_ID": "72f988bf-86f1-41af-91ab-2d7cd011db47"
  }
}