{
  "Entries": [
    {
      "RequestUri": "https://azs-net-edcbiwde.search.windows.net/indexes(\u0027nnpkimvp\u0027)/docs/search.index?api-version=2019-05-06-Preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "api-key": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "value": [
          {
            "@search.action": "upload",
            "hotelId": "4",
            "hotelName": "Value Inn"
          }
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal",
        "elapsed-time": "101",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\u0022*\u0022"
      },
      "ResponseBody": {
        "@odata.context": "https://azs-net-edcbiwde.search.windows.net/indexes(\u0027nnpkimvp\u0027)/$metadata#Collection(Microsoft.Azure.Search.V2019_05_06_Preview.IndexResult)",
        "value": [
          {
            "key": "4",
            "status": true,
            "errorMessage": null,
            "statusCode": 201
          }
        ]
      }
    },
    {
      "RequestUri": "https://azs-net-edcbiwde.search.windows.net/indexes(\u0027nnpkimvp\u0027)/docs(\u00274\u0027)?api-version=2019-05-06-Preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal; odata.streaming=true",
        "elapsed-time": "8",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\u0022*\u0022"
      },
      "ResponseBody": {
        "@odata.context": "https://azs-net-edcbiwde.search.windows.net/indexes(\u0027nnpkimvp\u0027)/$metadata#docs(*)/$entity",
        "hotelId": "4",
        "hotelName": "Value Inn",
        "description": null,
        "descriptionFr": null,
        "category": null,
        "tags": [],
        "parkingIncluded": null,
        "smokingAllowed": null,
        "lastRenovationDate": null,
        "rating": null,
        "location": null,
        "address": null,
        "rooms": []
      }
    }
  ],
  "Variables": {
    "RandomSeed": "10321260",
    "SearchIndexName": "nnpkimvp",
    "SearchServiceName": "azs-net-edcbiwde"
  }
}