{
  "Entries": [
    {
      "RequestUri": "https://azs-net-jcswnkcn.search.windows.net/indexes(\u0027mesaejwj\u0027)/docs(\u00273\u0027)?$select=ThisFieldDoesNotExist\u0026api-version=2019-05-06-Preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Language": "en",
        "Content-Type": "application/json; odata.metadata=none",
        "elapsed-time": "63",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\u0022*\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "",
          "message": "Invalid expression: Could not find a property named \u0027ThisFieldDoesNotExist\u0027 on type \u0027search.document\u0027.\r\nParameter name: $select"
        }
      }
    }
  ],
  "Variables": {
    "RandomSeed": "1662283179",
    "SearchIndexName": "mesaejwj",
    "SearchServiceName": "azs-net-jcswnkcn"
  }
}