{
  "Entries": [
    {
      "RequestUri": "https://azs-net-jcswnkcn.search.windows.net/indexes(\u0027mesaejwj\u0027)/docs(\u0027ThisDocumentDoesNotExist\u0027)?api-version=2019-05-06-Preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "elapsed-time": "7"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "447408589",
    "SearchIndexName": "mesaejwj",
    "SearchServiceName": "azs-net-jcswnkcn"
  }
}