{
  "Entries": [
    {
      "RequestUri": "https://azs-net-teglaza.search.windows.net/indexes(\u0027mfcflcgs\u0027)/docs/search.index?api-version=2019-05-06-Preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "api-key": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "value": [
          {
            "@search.action": "upload",
            "hotelId": "2",
            "hotelName": "Countryside Hotel",
            "description": "Save up to 50% off traditional hotels.  Free WiFi, great location near downtown, full kitchen, washer \u0026 dryer, 24/7 support, bowling alley, fitness center and more.",
            "descriptionFr": "\u00C9conomisez jusqu\u0027\u00E0 50% sur les h\u00F4tels traditionnels.  WiFi gratuit, tr\u00E8s bien situ\u00E9 pr\u00E8s du centre-ville, cuisine compl\u00E8te, laveuse \u0026 s\u00E9cheuse, support 24/7, bowling, centre de fitness et plus encore.",
            "category": "Budget",
            "tags": [
              "24-hour front desk service",
              "coffee in lobby",
              "restaurant"
            ],
            "parkingIncluded": false,
            "smokingAllowed": true,
            "lastRenovationDate": "1999-09-06T00:00:00.0000000\u002B00:00",
            "rating": 3,
            "location": {
              "type": "Point",
              "coordinates": [
                -78.940483,
                35.904159999999997
              ]
            },
            "address": {
              "streetAddress": "6910 Fayetteville Rd",
              "city": "Durham",
              "stateProvince": "NC",
              "country": "USA",
              "postalCode": "27713"
            },
            "rooms": [
              {
                "description": "Suite, 1 King Bed (Amenities)",
                "descriptionFr": "Suite, 1 tr\u00E8s grand lit (Services)",
                "type": "Suite",
                "baseRate": 2.4399999999999999,
                "bedOptions": "1 King Bed",
                "sleepsCount": 2,
                "smokingAllowed": true,
                "tags": [
                  "coffee maker"
                ]
              },
              {
                "description": "Budget Room, 1 Queen Bed (Amenities)",
                "descriptionFr": "Chambre \u00C9conomique, 1 grand lit (Services)",
                "type": "Budget Room",
                "baseRate": 7.6900000000000004,
                "bedOptions": "1 Queen Bed",
                "sleepsCount": 2,
                "smokingAllowed": false,
                "tags": [
                  "coffee maker"
                ]
              }
            ]
          }
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=none",
        "elapsed-time": "102",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\u0022*\u0022"
      },
      "ResponseBody": {
        "value": [
          {
            "key": "2",
            "status": true,
            "errorMessage": null,
            "statusCode": 201
          }
        ]
      }
    },
    {
      "RequestUri": "https://azs-net-teglaza.search.windows.net/indexes(\u0027mfcflcgs\u0027)/docs(\u00272\u0027)?$select=description%2ChotelName%2Caddress%2Fcity%2Crooms%2FbaseRate\u0026api-version=2019-05-06-Preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=none",
        "elapsed-time": "9",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\u0022*\u0022"
      },
      "ResponseBody": "{\u0022hotelName\u0022:\u0022Countryside Hotel\u0022,\u0022description\u0022:\u0022Save up to 50% off traditional hotels.  Free WiFi, great location near downtown, full kitchen, washer \u0026 dryer, 24/7 support, bowling alley, fitness center and more.\u0022,\u0022address\u0022:{\u0022city\u0022:\u0022Durham\u0022},\u0022rooms\u0022:[{\u0022baseRate\u0022:2.44},{\u0022baseRate\u0022:7.69}]}"
    },
    {
      "RequestUri": "https://azs-net-teglaza.search.windows.net/indexes(\u0027mfcflcgs\u0027)?api-version=2019-05-06-Preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "elapsed-time": "897"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1560836648",
    "SearchIndexName": "mfcflcgs",
    "SEARCH_ADMIN_API_KEY": "Sanitized",
    "SEARCH_QUERY_API_KEY": "Sanitized",
    "SEARCH_SERVICE_NAME": "azs-net-teglaza"
  }
}