{
  "Entries": [
    {
      "RequestUri": "https://documentstorageleithy.blob.core.windows.net/source347763875?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Sun, 01 Aug 2021 09:55:01 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D954D26937AFF7\u0022",
        "Last-Modified": "Sun, 01 Aug 2021 09:54:53 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://documentstorageleithy.blob.core.windows.net/source347763875/Document1.txt",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Sun, 01 Aug 2021 09:55:02 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": "Rmlyc3QgZW5nbGlzaCB0ZXN0IGRvY3VtZW50",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "zc6asiLoUz/caxlJ6YwKxA==",
        "ETag": "\u00220x8D954D2696551B6\u0022",
        "Last-Modified": "Sun, 01 Aug 2021 09:54:53 GMT",
        "x-ms-content-crc64": "V7knc5S52gk=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://documentstorageleithy.blob.core.windows.net/target1608235954?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Sun, 01 Aug 2021 09:55:02 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D954D2697BA278\u0022",
        "Last-Modified": "Sun, 01 Aug 2021 09:54:53 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://documentstorageleithy.blob.core.windows.net/glossary1095879497?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Sun, 01 Aug 2021 09:55:02 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D954D2699262B8\u0022",
        "Last-Modified": "Sun, 01 Aug 2021 09:54:54 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://documentstorageleithy.blob.core.windows.net/glossary1095879497/validGlossary.csv",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Sun, 01 Aug 2021 09:55:02 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": "Rmlyc3QsIGdsb3NzYXJ5Rmlyc3QKdGVzdCwgZ2xvc3NhcnlUZXN0Cg==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "elnMklV4kfKtXbWzdhyP5Q==",
        "ETag": "\u00220x8D954D269BE7E78\u0022",
        "Last-Modified": "Sun, 01 Aug 2021 09:54:54 GMT",
        "x-ms-content-crc64": "96JLO0IhQlA=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://document-translation-test.cognitiveservices.azure.com/translator/text/batch/v1.0/batches",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "inputs": [
          {
            "source": {
              "sourceUrl": "Sanitized"
            },
            "targets": [
              {
                "targetUrl": "Sanitized",
                "language": "es",
                "glossaries": [
                  {
                    "glossaryUrl": "Sanitized",
                    "format": "csv"
                  }
                ]
              }
            ]
          }
        ]
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Operation-Location": "https://document-translation-test.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/34824ec5-97ce-43dc-8519-8722e54aee02",
        "X-RequestId": "a1b3aaeb-62b8-416d-aa7b-be64866c1c8b"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://document-translation-test.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/34824ec5-97ce-43dc-8519-8722e54aee02",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022B196CA6C10A8B1C22D800DB3CBAF7251036F777AC337D3AE4DAF01FDFBA0437D\u0022",
        "Retry-After": "1",
        "X-RequestId": "33abf7a2-0fa4-46b0-9cf9-8dcaf9b230a9"
      },
      "ResponseBody": {
        "id": "34824ec5-97ce-43dc-8519-8722e54aee02",
        "createdDateTimeUtc": "2021-08-01T09:54:54.6327365Z",
        "lastActionDateTimeUtc": "2021-08-01T09:54:54.6327369Z",
        "status": "NotStarted",
        "summary": {
          "total": 0,
          "failed": 0,
          "success": 0,
          "inProgress": 0,
          "notYetStarted": 0,
          "cancelled": 0,
          "totalCharacterCharged": 0
        }
      }
    },
[...]
    {
      "RequestUri": "https://document-translation-test.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/34824ec5-97ce-43dc-8519-8722e54aee02/documents",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022909CE5435B5A6C64163791D73AA9E757C4FF1EE6C5933F78452586E2F0DF950E\u0022",
        "Retry-After": "1",
        "X-RequestId": "ea249ff6-1ecb-4757-89cd-baf9cfc02318"
      },
      "ResponseBody": {
        "value": [
          {
            "path": "https://documentstorageleithy.blob.core.windows.net/target1608235954/Document1.txt",
            "sourcePath": "https://documentstorageleithy.blob.core.windows.net/source347763875/Document1.txt",
            "createdDateTimeUtc": "2021-08-01T09:54:56.8179067Z",
            "lastActionDateTimeUtc": "2021-08-01T09:55:03.4036844Z",
            "status": "Succeeded",
            "to": "es",
            "progress": 1,
            "id": "000a25d6-0000-0000-0000-000000000000",
            "characterCharged": 27
          }
        ]
      }
    },
    {
      "RequestUri": "https://documentstorageleithy.blob.core.windows.net/target1608235954/Document1.txt",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sun, 01 Aug 2021 09:55:12 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "aR4oC/97cnA4oMRDpfTTTQ==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D954D26F1D87AC\u0022",
        "Last-Modified": "Sun, 01 Aug 2021 09:55:03 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Sun, 01 Aug 2021 09:54:55 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://documentstorageleithy.blob.core.windows.net/target1608235954/Document1.txt",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sun, 01 Aug 2021 09:55:12 GMT",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-51/52",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D954D26F1D87AC\u0022",
        "Last-Modified": "Sun, 01 Aug 2021 09:55:03 GMT",
        "x-ms-blob-content-md5": "aR4oC/97cnA4oMRDpfTTTQ==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Sun, 01 Aug 2021 09:54:55 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": "Z2xvc3NhcnlGaXJzdCBkb2N1bWVudG8gZGUgZ2xvc3NhcnlUZXN0IGVuIGluZ2zDqXMNCg=="
    }
  ],
  "Variables": {
    "DOCUMENT_TRANSLATION_API_KEY": "Sanitized",
    "DOCUMENT_TRANSLATION_CONNECTION_STRING": "DefaultEndpointsProtocol=https;AccountName=documentstorageleithy;AccountKey=Kg==;EndpointSuffix=core.windows.net",
    "DOCUMENT_TRANSLATION_ENDPOINT": "https://document-translation-test.cognitiveservices.azure.com/",
    "RandomSeed": "1530900488"
  }
}