{
  "Entries": [
    {
      "RequestUri": "https://mariaritranslationprim.blob.core.windows.net/source14657834?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Fri, 15 Oct 2021 18:40:46 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9900B4E054EDB\u0022",
        "Last-Modified": "Fri, 15 Oct 2021 18:40:47 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://mariaritranslationprim.blob.core.windows.net/source14657834/Document1.txt",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 15 Oct 2021 18:40:48 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": [],
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "1B2M2Y8AsgTpgAmY7PhCfg==",
        "ETag": "\u00220x8D9900B4E34177D\u0022",
        "Last-Modified": "Fri, 15 Oct 2021 18:40:48 GMT",
        "x-ms-content-crc64": "AAAAAAAAAAA=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://mariaritranslationprim.blob.core.windows.net/target1773909066?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Fri, 15 Oct 2021 18:40:48 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9900B4E4BDA6D\u0022",
        "Last-Modified": "Fri, 15 Oct 2021 18:40:48 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://mariaritranslation-doctranslation.cognitiveservices.azure.com/translator/text/batch/v1.0/batches",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "inputs": [
          {
            "source": {
              "sourceUrl": "Sanitized"
            },
            "targets": [
              {
                "targetUrl": "Sanitized",
                "language": "fr"
              }
            ]
          }
        ]
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Operation-Location": "https://mariaritranslation-doctranslation.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/603e39c0-e0ad-4cfb-8c0d-413aad08c876",
        "X-RequestId": "2c43d8a4-87a6-45db-8f94-dfbeccb186d0"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://mariaritranslation-doctranslation.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/603e39c0-e0ad-4cfb-8c0d-413aad08c876",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00220E8948A25256C21E5801B37C5211933908D41A4F5B9293DBEE3C83C8F2978FDB\u0022",
        "Retry-After": "1",
        "X-RequestId": "ea30e711-7982-4ca7-9c8b-846eb464ad60"
      },
      "ResponseBody": {
        "id": "603e39c0-e0ad-4cfb-8c0d-413aad08c876",
        "createdDateTimeUtc": "2021-10-15T18:40:49.3285894Z",
        "lastActionDateTimeUtc": "2021-10-15T18:40:49.5570507Z",
        "status": "NotStarted",
        "summary": {
          "total": 1,
          "failed": 0,
          "success": 0,
          "inProgress": 0,
          "notYetStarted": 1,
          "cancelled": 0,
          "totalCharacterCharged": 0
        }
      }
    },
[...]
    {
      "RequestUri": "https://mariaritranslation-doctranslation.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/603e39c0-e0ad-4cfb-8c0d-413aad08c876/documents",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002267571D4871D6B615AF8DE09A4E2A341870B2939766D08053C73F4395FF01CD5A\u0022",
        "Retry-After": "1",
        "X-RequestId": "4f82560c-6db7-45c7-94dc-8cedeedc325a"
      },
      "ResponseBody": {
        "value": [
          {
            "sourcePath": "https://mariaritranslationprim.blob.core.windows.net/source14657834/Document1.txt",
            "createdDateTimeUtc": "2021-10-15T18:40:55.159916Z",
            "lastActionDateTimeUtc": "2021-10-15T18:40:55.7873967Z",
            "status": "Failed",
            "to": "fr",
            "error": {
              "code": "InvalidRequest",
              "message": "Document is empty or missing main part.",
              "target": "Document",
              "innerError": {
                "code": "EmptyDocument",
                "message": "Document is empty or missing main part."
              }
            },
            "progress": 0,
            "id": "000e5042-0000-0000-0000-000000000000",
            "characterCharged": 0
          }
        ]
      }
    }
  ],
  "Variables": {
    "DOCUMENT_TRANSLATION_API_KEY": "Sanitized",
    "DOCUMENT_TRANSLATION_CONNECTION_STRING": "DefaultEndpointsProtocol=https;AccountName=mariaritranslationprim;AccountKey=Kg==;EndpointSuffix=core.windows.net",
    "DOCUMENT_TRANSLATION_ENDPOINT": "https://mariaritranslation-doctranslation.cognitiveservices.azure.com",
    "RandomSeed": "445543759"
  }
}