{
  "Entries": [
    {
      "RequestUri": "https://pakrymtranslationprim.blob.core.windows.net/source569401664?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 04 Aug 2021 19:56:39 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D95781F9A1BC6F\u0022",
        "Last-Modified": "Wed, 04 Aug 2021 19:56:40 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://pakrymtranslationprim.blob.core.windows.net/source569401664/Document1.txt",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 04 Aug 2021 19:56:40 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": "Rmlyc3QgZW5nbGlzaCB0ZXN0IGRvY3VtZW50",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "zc6asiLoUz/caxlJ6YwKxA==",
        "ETag": "\u00220x8D95781F9B54D0D\u0022",
        "Last-Modified": "Wed, 04 Aug 2021 19:56:40 GMT",
        "x-ms-content-crc64": "V7knc5S52gk=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://pakrymtranslationprim.blob.core.windows.net/target203852076?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 04 Aug 2021 19:56:40 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D95781F9BDD507\u0022",
        "Last-Modified": "Wed, 04 Aug 2021 19:56:40 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://pakrymtranslationprim.blob.core.windows.net/target203852076/Document1.txt",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 04 Aug 2021 19:56:40 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": "Rmlyc3QgZW5nbGlzaCB0ZXN0IGRvY3VtZW50",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "zc6asiLoUz/caxlJ6YwKxA==",
        "ETag": "\u00220x8D95781F9CECD17\u0022",
        "Last-Modified": "Wed, 04 Aug 2021 19:56:40 GMT",
        "x-ms-content-crc64": "V7knc5S52gk=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://pakrymtranslation-doctranslation.cognitiveservices.azure.com/translator/text/batch/v1.0/batches",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "inputs": [
          {
            "source": {
              "sourceUrl": "Sanitized"
            },
            "targets": [
              {
                "targetUrl": "Sanitized",
                "language": "fr"
              }
            ]
          }
        ]
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Operation-Location": "https://pakrymtranslation-doctranslation.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/7b870217-3d05-4ca6-8779-9a68e2d11c77",
        "X-RequestId": "df23d65f-03f7-4144-a2dc-29b28d8b698e"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://pakrymtranslation-doctranslation.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/7b870217-3d05-4ca6-8779-9a68e2d11c77",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022B1CF677FFD21E7914A5573383F77ACCE2AFE8E52226C38541ABB7972442E95DC\u0022",
        "Retry-After": "1",
        "X-RequestId": "c948c997-90ad-4bf3-9d7e-e39539f72818"
      },
      "ResponseBody": {
        "id": "7b870217-3d05-4ca6-8779-9a68e2d11c77",
        "createdDateTimeUtc": "2021-08-04T19:56:40.3875746Z",
        "lastActionDateTimeUtc": "2021-08-04T19:56:40.387575Z",
        "status": "NotStarted",
        "summary": {
          "total": 0,
          "failed": 0,
          "success": 0,
          "inProgress": 0,
          "notYetStarted": 0,
          "cancelled": 0,
          "totalCharacterCharged": 0
        }
      }
    },
[...]
    {
      "RequestUri": "https://pakrymtranslation-doctranslation.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/7b870217-3d05-4ca6-8779-9a68e2d11c77/documents",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022C0C49402739E07FD3207592119CB25813008C5EF1262CE5DEC579BDED81DF093\u0022",
        "Retry-After": "1",
        "X-RequestId": "f9dc56c9-e50b-4540-aa41-9ee75db0895c"
      },
      "ResponseBody": {
        "value": [
          {
            "sourcePath": "https://pakrymtranslationprim.blob.core.windows.net/source569401664/Document1.txt",
            "lastActionDateTimeUtc": "2021-08-04T19:56:40.5213134Z",
            "status": "Failed",
            "to": "fr",
            "error": {
              "code": "InvalidRequest",
              "message": "Target document file already exists.",
              "target": "Document",
              "innerError": {
                "code": "TargetFileAlreadyExists",
                "message": "Target document file already exists."
              }
            },
            "progress": 0,
            "id": "000a5227-0000-0000-0000-000000000000",
            "characterCharged": 0
          }
        ]
      }
    }
  ],
  "Variables": {
    "DOCUMENT_TRANSLATION_API_KEY": "Sanitized",
    "DOCUMENT_TRANSLATION_CONNECTION_STRING": "DefaultEndpointsProtocol=https;AccountName=pakrymtranslationprim;AccountKey=Kg==;EndpointSuffix=core.windows.net",
    "DOCUMENT_TRANSLATION_ENDPOINT": "https://pakrymtranslation-doctranslation.cognitiveservices.azure.com",
    "RandomSeed": "1608710573"
  }
}