{
  "Entries": [
    {
      "RequestUri": "https://pakrymtranslationprim.blob.core.windows.net/source871002349?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 04 Aug 2021 19:57:53 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D95782258D092B\u0022",
        "Last-Modified": "Wed, 04 Aug 2021 19:57:53 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://pakrymtranslationprim.blob.core.windows.net/source871002349/Document1.txt",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 04 Aug 2021 19:57:53 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": "Rmlyc3QgZW5nbGlzaCB0ZXN0IGRvY3VtZW50",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "zc6asiLoUz/caxlJ6YwKxA==",
        "ETag": "\u00220x8D95782259FCE8F\u0022",
        "Last-Modified": "Wed, 04 Aug 2021 19:57:53 GMT",
        "x-ms-content-crc64": "V7knc5S52gk=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://pakrymtranslationprim.blob.core.windows.net/target727516098?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 04 Aug 2021 19:57:53 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9578225A96FF1\u0022",
        "Last-Modified": "Wed, 04 Aug 2021 19:57:53 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://pakrymtranslation-doctranslation.cognitiveservices.azure.com/translator/text/batch/v1.0/batches",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "inputs": [
          {
            "source": {
              "sourceUrl": "Sanitized"
            },
            "targets": [
              {
                "targetUrl": "Sanitized",
                "language": "fr"
              }
            ]
          }
        ]
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Operation-Location": "https://pakrymtranslation-doctranslation.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/12ddff40-3d7f-4102-a8de-4742832d9697",
        "X-RequestId": "ad2a5381-e21d-4d55-ae9b-ec06675800fc"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://pakrymtranslation-doctranslation.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/12ddff40-3d7f-4102-a8de-4742832d9697",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002288C232B7F6B3D54018F72FA2B1D3E9F5B5AF28A2980E27B8197B03E041E64AC7\u0022",
        "Retry-After": "1",
        "X-RequestId": "5dcda199-64bc-4c28-9652-13f9235daaec"
      },
      "ResponseBody": {
        "id": "12ddff40-3d7f-4102-a8de-4742832d9697",
        "createdDateTimeUtc": "2021-08-04T19:57:53.9691494Z",
        "lastActionDateTimeUtc": "2021-08-04T19:57:53.9691498Z",
        "status": "NotStarted",
        "summary": {
          "total": 0,
          "failed": 0,
          "success": 0,
          "inProgress": 0,
          "notYetStarted": 0,
          "cancelled": 0,
          "totalCharacterCharged": 0
        }
      }
    },
[...]
    {
      "RequestUri": "https://pakrymtranslation-doctranslation.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/12ddff40-3d7f-4102-a8de-4742832d9697/documents",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022CE12921F5226C51019B6C79CF1BA1E9E5ECF1EA96567963804E87566016E6C99\u0022",
        "Retry-After": "1",
        "X-RequestId": "950bad9d-8b00-4052-93c9-0ebd4f2d130b"
      },
      "ResponseBody": {
        "value": [
          {
            "path": "https://pakrymtranslationprim.blob.core.windows.net/target727516098/Document1.txt",
            "sourcePath": "https://pakrymtranslationprim.blob.core.windows.net/source871002349/Document1.txt",
            "createdDateTimeUtc": "2021-08-04T19:57:56.7016308Z",
            "lastActionDateTimeUtc": "2021-08-04T19:58:00.2788589Z",
            "status": "Succeeded",
            "to": "fr",
            "progress": 1,
            "id": "000a5231-0000-0000-0000-000000000000",
            "characterCharged": 27
          }
        ]
      }
    }
  ],
  "Variables": {
    "DOCUMENT_TRANSLATION_API_KEY": "Sanitized",
    "DOCUMENT_TRANSLATION_CONNECTION_STRING": "DefaultEndpointsProtocol=https;AccountName=pakrymtranslationprim;AccountKey=Kg==;EndpointSuffix=core.windows.net",
    "DOCUMENT_TRANSLATION_ENDPOINT": "https://pakrymtranslation-doctranslation.cognitiveservices.azure.com",
    "RandomSeed": "1510198314"
  }
}