{
  "Entries": [
    {
      "RequestUri": "https://doctranslator.blob.core.windows.net/source1916112197?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 13 Jul 2021 00:27:40 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D94595059342B3\u0022",
        "Last-Modified": "Tue, 13 Jul 2021 00:27:39 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://doctranslator.blob.core.windows.net/source1916112197/Document1.txt",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 13 Jul 2021 00:27:40 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": "Rmlyc3QgZW5nbGlzaCB0ZXN0IGRvY3VtZW50",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "zc6asiLoUz/caxlJ6YwKxA==",
        "ETag": "\u00220x8D9459505D6CD84\u0022",
        "Last-Modified": "Tue, 13 Jul 2021 00:27:40 GMT",
        "x-ms-content-crc64": "V7knc5S52gk=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://doctranslator.blob.core.windows.net/target1947188442?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 13 Jul 2021 00:27:40 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9459505FB6681\u0022",
        "Last-Modified": "Tue, 13 Jul 2021 00:27:40 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://document-translator.cognitiveservices.azure.com/translator/text/batch/v1.0/batches",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "inputs": [
          {
            "source": {
              "sourceUrl": "Sanitized"
            },
            "targets": [
              {
                "targetUrl": "Sanitized",
                "language": "fr"
              }
            ]
          }
        ]
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Operation-Location": "https://document-translator.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/21755d58-c69c-4abd-9d19-4ac114d4ef29",
        "X-RequestId": "f950b58b-352c-4abc-821e-3c218e8b7ecf"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://document-translator.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/21755d58-c69c-4abd-9d19-4ac114d4ef29",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022BA34957161A98DDB5167A2271D846254E16A1161AA0DE61AA8FA3F4DED23ACC0\u0022",
        "Retry-After": "1",
        "X-RequestId": "fcfb676b-a354-4d2a-9dbb-1174be87e674"
      },
      "ResponseBody": {
        "id": "21755d58-c69c-4abd-9d19-4ac114d4ef29",
        "createdDateTimeUtc": "2021-07-13T00:27:40.536163Z",
        "lastActionDateTimeUtc": "2021-07-13T00:27:40.5361718Z",
        "status": "NotStarted",
        "summary": {
          "total": 0,
          "failed": 0,
          "success": 0,
          "inProgress": 0,
          "notYetStarted": 0,
          "cancelled": 0,
          "totalCharacterCharged": 0
        }
      }
    },
[...]
    {
      "RequestUri": "https://document-translator.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/21755d58-c69c-4abd-9d19-4ac114d4ef29/documents",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00222E1AEB582DA2820ABFE6A1527AD54239CFA4801F9A8B18DEC84F37ACC9BC6B5E\u0022",
        "Retry-After": "1",
        "X-RequestId": "cd275211-7c4e-450f-b92d-8a46e50c5847"
      },
      "ResponseBody": {
        "value": [
          {
            "path": "https://doctranslator.blob.core.windows.net/target1947188442/Document1.txt",
            "sourcePath": "https://doctranslator.blob.core.windows.net/source1916112197/Document1.txt",
            "createdDateTimeUtc": "2021-07-13T00:27:42.8075837Z",
            "lastActionDateTimeUtc": "2021-07-13T00:27:50.8983268Z",
            "status": "Succeeded",
            "to": "fr",
            "progress": 1,
            "id": "0007e01c-0000-0000-0000-000000000000",
            "characterCharged": 27
          }
        ]
      }
    }
  ],
  "Variables": {
    "DOCUMENT_TRANSLATION_API_KEY": "Sanitized",
    "DOCUMENT_TRANSLATION_CONNECTION_STRING": "DefaultEndpointsProtocol=https;AccountName=doctranslator;AccountKey=Kg==;EndpointSuffix=core.windows.net",
    "DOCUMENT_TRANSLATION_ENDPOINT": "https://document-translator.cognitiveservices.azure.com/",
    "RandomSeed": "786879908"
  }
}