{
  "Entries": [
    {
      "RequestUri": "https://doctranslator.blob.core.windows.net/source1279371066?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 13 Jul 2021 00:27:01 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D94594EEAC48D0\u0022",
        "Last-Modified": "Tue, 13 Jul 2021 00:27:01 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://doctranslator.blob.core.windows.net/source1279371066/Document1.txt",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 13 Jul 2021 00:27:02 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": "Rmlyc3QgZW5nbGlzaCB0ZXN0IGRvY3VtZW50",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "zc6asiLoUz/caxlJ6YwKxA==",
        "ETag": "\u00220x8D94594EEF29C58\u0022",
        "Last-Modified": "Tue, 13 Jul 2021 00:27:01 GMT",
        "x-ms-content-crc64": "V7knc5S52gk=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://doctranslator.blob.core.windows.net/target1470061865?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 13 Jul 2021 00:27:02 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D94594EF17051D\u0022",
        "Last-Modified": "Tue, 13 Jul 2021 00:27:01 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://document-translator.cognitiveservices.azure.com/translator/text/batch/v1.0/batches",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "inputs": [
          {
            "source": {
              "sourceUrl": "Sanitized"
            },
            "targets": [
              {
                "targetUrl": "Sanitized",
                "language": "fr"
              }
            ]
          }
        ]
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Operation-Location": "https://document-translator.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/cbbd4742-3a89-41dd-a7bc-6ad1eb242f38",
        "X-RequestId": "2396a6f8-245f-484a-b1eb-065d48807b2f"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://document-translator.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/cbbd4742-3a89-41dd-a7bc-6ad1eb242f38",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00224AC6397E66970516303792B03CDB78093A23F4C4CFF46128C03DE2CB560548DE\u0022",
        "Retry-After": "1",
        "X-RequestId": "afd7d983-868a-47ed-a83b-ebb37d1b20b1"
      },
      "ResponseBody": {
        "id": "cbbd4742-3a89-41dd-a7bc-6ad1eb242f38",
        "createdDateTimeUtc": "2021-07-13T00:27:02.1006228Z",
        "lastActionDateTimeUtc": "2021-07-13T00:27:02.1006262Z",
        "status": "NotStarted",
        "summary": {
          "total": 0,
          "failed": 0,
          "success": 0,
          "inProgress": 0,
          "notYetStarted": 0,
          "cancelled": 0,
          "totalCharacterCharged": 0
        }
      }
    },
[...]
    {
      "RequestUri": "https://document-translator.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/cbbd4742-3a89-41dd-a7bc-6ad1eb242f38/documents",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00223BFFCC719BC55E3D161821D08FAAF997165AA77D869CB6C94364D884027BDAF3\u0022",
        "Retry-After": "1",
        "X-RequestId": "a47eaca9-40fb-41e4-b4bf-30c72bcba2cb"
      },
      "ResponseBody": {
        "value": [
          {
            "path": "https://doctranslator.blob.core.windows.net/target1470061865/Document1.txt",
            "sourcePath": "https://doctranslator.blob.core.windows.net/source1279371066/Document1.txt",
            "createdDateTimeUtc": "2021-07-13T00:27:06.9603342Z",
            "lastActionDateTimeUtc": "2021-07-13T00:27:13.7288293Z",
            "status": "Succeeded",
            "to": "fr",
            "progress": 1,
            "id": "0007e019-0000-0000-0000-000000000000",
            "characterCharged": 27
          }
        ]
      }
    }
  ],
  "Variables": {
    "DOCUMENT_TRANSLATION_API_KEY": "Sanitized",
    "DOCUMENT_TRANSLATION_CONNECTION_STRING": "DefaultEndpointsProtocol=https;AccountName=doctranslator;AccountKey=Kg==;EndpointSuffix=core.windows.net",
    "DOCUMENT_TRANSLATION_ENDPOINT": "https://document-translator.cognitiveservices.azure.com/",
    "RandomSeed": "1792734141"
  }
}