{
  "Entries": [
    {
      "RequestUri": "https://mariaridoctrans29prim.blob.core.windows.net/source1478130459?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 18 May 2021 19:03:18 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D91A2F9986EF70\u0022",
        "Last-Modified": "Tue, 18 May 2021 19:03:19 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://mariaridoctrans29prim.blob.core.windows.net/source1478130459/Document1.txt",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 18 May 2021 19:03:18 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": "Rmlyc3QgZW5nbGlzaCB0ZXN0IGRvY3VtZW50",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "zc6asiLoUz/caxlJ6YwKxA==",
        "ETag": "\u00220x8D91A2F998EA158\u0022",
        "Last-Modified": "Tue, 18 May 2021 19:03:19 GMT",
        "x-ms-content-crc64": "V7knc5S52gk=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://mariaridoctrans29prim.blob.core.windows.net/target1411172831?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 18 May 2021 19:03:18 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D91A2F99934DCD\u0022",
        "Last-Modified": "Tue, 18 May 2021 19:03:19 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://mariaridoctrans29-doctranslation.cognitiveservices.azure.com/translator/text/batch/v1.0-preview.1/batches",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "inputs": [
          {
            "source": {
              "sourceUrl": "Sanitized"
            },
            "targets": [
              {
                "targetUrl": "Sanitized",
                "language": "fr"
              }
            ]
          }
        ]
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Operation-Location": "https://mariaridoctrans29-doctranslation.cognitiveservices.azure.com/translator/text/batch/v1.0-preview.1/batches/4815fc5e-1a31-410c-bc27-08abf7c1c214",
        "X-RequestId": "b62e57ea-045f-4465-ab9a-6d3ec25ba8d3"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://mariaridoctrans29-doctranslation.cognitiveservices.azure.com/translator/text/batch/v1.0-preview.1/batches/4815fc5e-1a31-410c-bc27-08abf7c1c214",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00229B0B18022EB5E729D627CAC3A5A4A8C52B3D5685E79468581142577E1B05F58C\u0022",
        "Retry-After": "1",
        "X-RequestId": "d36d389a-61a1-444c-808e-37e8a5c059a1"
      },
      "ResponseBody": {
        "id": "4815fc5e-1a31-410c-bc27-08abf7c1c214",
        "createdDateTimeUtc": "2021-05-18T19:03:19.2955724Z",
        "lastActionDateTimeUtc": "2021-05-18T19:03:19.2955755Z",
        "status": "NotStarted",
        "summary": {
          "total": 0,
          "failed": 0,
          "success": 0,
          "inProgress": 0,
          "notYetStarted": 0,
          "cancelled": 0,
          "totalCharacterCharged": 0
        }
      }
    },
[...]
    {
      "RequestUri": "https://mariaridoctrans29-doctranslation.cognitiveservices.azure.com/translator/text/batch/v1.0-preview.1/batches/4815fc5e-1a31-410c-bc27-08abf7c1c214/documents",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002247AC561C331C458E13E928C00120040F5C956EAE1245E6DC31D9B9F926131482\u0022",
        "Retry-After": "1",
        "X-RequestId": "05e7cade-2d07-49a3-b602-8a495b1d02e0"
      },
      "ResponseBody": {
        "value": [
          {
            "path": "https://mariaridoctrans29prim.blob.core.windows.net/target1411172831/Document1.txt",
            "sourcePath": "https://mariaridoctrans29prim.blob.core.windows.net/source1478130459/Document1.txt",
            "createdDateTimeUtc": "2021-05-18T19:03:26.5269165Z",
            "lastActionDateTimeUtc": "2021-05-18T19:03:38.9776473Z",
            "status": "Succeeded",
            "to": "fr",
            "progress": 1,
            "id": "00016884-0000-0000-0000-000000000000",
            "characterCharged": 27
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://mariaridoctrans29-doctranslation.cognitiveservices.azure.com/translator/text/batch/v1.0-preview.1/batches/4815fc5e-1a31-410c-bc27-08abf7c1c214/documents/00016884-0000-0000-0000-000000000000",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00222925FFECD667A23BD49E8D641AC4781152EC77034602FAC8F4378F2789AFFE3D\u0022",
        "Retry-After": "1",
        "X-RequestId": "35b9179c-c733-4793-81fc-4419a0f10ea4"
      },
      "ResponseBody": {
        "path": "https://mariaridoctrans29prim.blob.core.windows.net/target1411172831/Document1.txt",
        "sourcePath": "https://mariaridoctrans29prim.blob.core.windows.net/source1478130459/Document1.txt",
        "createdDateTimeUtc": "2021-05-18T19:03:26.5269165Z",
        "lastActionDateTimeUtc": "2021-05-18T19:03:38.9776473Z",
        "status": "Succeeded",
        "to": "fr",
        "progress": 1,
        "id": "00016884-0000-0000-0000-000000000000",
        "characterCharged": 27
      }
    }
  ],
  "Variables": {
    "DOCUMENT_TRANSLATION_API_KEY": "Sanitized",
    "DOCUMENT_TRANSLATION_CONNECTION_STRING": "DefaultEndpointsProtocol=https;AccountName=mariaridoctrans29prim;AccountKey=Kg==;EndpointSuffix=core.windows.net",
    "DOCUMENT_TRANSLATION_ENDPOINT": "https://mariaridoctrans29-doctranslation.cognitiveservices.azure.com",
    "RandomSeed": "1442360325"
  }
}