{
  "Entries": [
    {
      "RequestUri": "https://doctranslator.blob.core.windows.net/source1506279317?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 13 Jul 2021 00:26:46 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D94594E638DD7B\u0022",
        "Last-Modified": "Tue, 13 Jul 2021 00:26:46 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://doctranslator.blob.core.windows.net/source1506279317/Document1.txt",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 13 Jul 2021 00:26:47 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": "Rmlyc3QgZW5nbGlzaCB0ZXN0IGRvY3VtZW50",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "zc6asiLoUz/caxlJ6YwKxA==",
        "ETag": "\u00220x8D94594E69271CA\u0022",
        "Last-Modified": "Tue, 13 Jul 2021 00:26:47 GMT",
        "x-ms-content-crc64": "V7knc5S52gk=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://doctranslator.blob.core.windows.net/target947193140?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 13 Jul 2021 00:26:48 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D94594E6B9E4FC\u0022",
        "Last-Modified": "Tue, 13 Jul 2021 00:26:47 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://document-translator.cognitiveservices.azure.com/translator/text/batch/v1.0/batches",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "inputs": [
          {
            "source": {
              "sourceUrl": "Sanitized"
            },
            "targets": [
              {
                "targetUrl": "Sanitized",
                "language": "fr"
              }
            ]
          }
        ]
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Operation-Location": "https://document-translator.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/b57ff0a8-5769-4859-a9fe-4aa18a253c10",
        "X-RequestId": "02a571bf-e81d-4df9-aa2c-59867d96976d"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://document-translator.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/b57ff0a8-5769-4859-a9fe-4aa18a253c10",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00226F4E9DBDD237737A709A2807D5B6436917E745E6D60BBB11BC9673682B4846D5\u0022",
        "Retry-After": "1",
        "X-RequestId": "2d71d009-feb0-4c01-93e4-fa651cf2dc62"
      },
      "ResponseBody": {
        "id": "b57ff0a8-5769-4859-a9fe-4aa18a253c10",
        "createdDateTimeUtc": "2021-07-13T00:26:48.9050492Z",
        "lastActionDateTimeUtc": "2021-07-13T00:26:48.9050546Z",
        "status": "NotStarted",
        "summary": {
          "total": 0,
          "failed": 0,
          "success": 0,
          "inProgress": 0,
          "notYetStarted": 0,
          "cancelled": 0,
          "totalCharacterCharged": 0
        }
      }
    },
[...]
    {
      "RequestUri": "https://document-translator.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/b57ff0a8-5769-4859-a9fe-4aa18a253c10/documents",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002227328EC647A2A0E832525F971AAD1B8C4397130C0CA59E4130D5C2CFB79BA424\u0022",
        "Retry-After": "1",
        "X-RequestId": "f64ff7fa-21fe-49ed-b93a-a3fbbf51f4fb"
      },
      "ResponseBody": {
        "value": [
          {
            "path": "https://doctranslator.blob.core.windows.net/target947193140/Document1.txt",
            "sourcePath": "https://doctranslator.blob.core.windows.net/source1506279317/Document1.txt",
            "createdDateTimeUtc": "2021-07-13T00:26:52.0208302Z",
            "lastActionDateTimeUtc": "2021-07-13T00:26:59.2069602Z",
            "status": "Succeeded",
            "to": "fr",
            "progress": 1,
            "id": "0007e018-0000-0000-0000-000000000000",
            "characterCharged": 27
          }
        ]
      }
    }
  ],
  "Variables": {
    "DOCUMENT_TRANSLATION_API_KEY": "Sanitized",
    "DOCUMENT_TRANSLATION_CONNECTION_STRING": "DefaultEndpointsProtocol=https;AccountName=doctranslator;AccountKey=Kg==;EndpointSuffix=core.windows.net",
    "DOCUMENT_TRANSLATION_ENDPOINT": "https://document-translator.cognitiveservices.azure.com/",
    "RandomSeed": "19507351"
  }
}