{
  "Entries": [
    {
      "RequestUri": "https://mariaridoctrans29prim.blob.core.windows.net/source1895674641?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 29 Mar 2021 22:35:26 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8F302F31DD60A\u0022",
        "Last-Modified": "Mon, 29 Mar 2021 22:35:26 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://mariaridoctrans29prim.blob.core.windows.net/source1895674641/Document1.txt",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Mon, 29 Mar 2021 22:35:27 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": "Rmlyc3QgZW5nbGlzaCB0ZXN0IGRvY3VtZW50",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "zc6asiLoUz/caxlJ6YwKxA==",
        "ETag": "\u00220x8D8F302F33C0033\u0022",
        "Last-Modified": "Mon, 29 Mar 2021 22:35:26 GMT",
        "x-ms-content-crc64": "V7knc5S52gk=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://mariaridoctrans29prim.blob.core.windows.net/target512773566?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 29 Mar 2021 22:35:27 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8F302F346E931\u0022",
        "Last-Modified": "Mon, 29 Mar 2021 22:35:26 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://mariaridoctrans29-doctranslation.cognitiveservices.azure.com/translator/text/batch/v1.0-preview.1/batches",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "inputs": [
          {
            "source": {
              "sourceUrl": "Sanitized"
            },
            "targets": [
              {
                "targetUrl": "Sanitized",
                "language": "fr"
              }
            ]
          }
        ]
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Operation-Location": "https://mariaridoctrans29-doctranslation.cognitiveservices.azure.com/translator/text/batch/v1.0-preview.1/batches/1c0b7d71-ba47-47a7-8b23-f45657db175c",
        "X-RequestId": "8e618325-a4f0-495d-b89f-e028c541b890"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://mariaridoctrans29-doctranslation.cognitiveservices.azure.com/translator/text/batch/v1.0-preview.1/batches/1c0b7d71-ba47-47a7-8b23-f45657db175c",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00225F39E4E7ED23A8CBF68221CD678FECAF20F37ECB46603E485CDAE9DD712DA08B\u0022",
        "Retry-After": "1",
        "X-RequestId": "e1c9d4ef-fce0-4b43-aeb5-88ce7a696373"
      },
      "ResponseBody": {
        "id": "1c0b7d71-ba47-47a7-8b23-f45657db175c",
        "createdDateTimeUtc": "2021-03-29T22:35:27.6002189Z",
        "lastActionDateTimeUtc": "2021-03-29T22:35:27.6002252Z",
        "status": "NotStarted",
        "summary": {
          "total": 0,
          "failed": 0,
          "success": 0,
          "inProgress": 0,
          "notYetStarted": 0,
          "cancelled": 0,
          "totalCharacterCharged": 0
        }
      }
    },
[...]
    {
      "RequestUri": "https://mariaridoctrans29-doctranslation.cognitiveservices.azure.com/translator/text/batch/v1.0-preview.1/batches/1c0b7d71-ba47-47a7-8b23-f45657db175c/documents",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00228A196CF2B4226D961CF9D5ABAA5B5FFAFCC3922B82AFFBCB8A42EB61CCCFC9F1\u0022",
        "Retry-After": "1",
        "X-RequestId": "a388c725-1bc6-485c-a668-9b79f67333f8"
      },
      "ResponseBody": {
        "value": [
          {
            "path": "https://mariaridoctrans29prim.blob.core.windows.net/target512773566/Document1.txt",
            "sourcePath": "https://mariaridoctrans29prim.blob.core.windows.net/source1895674641/Document1.txt",
            "createdDateTimeUtc": "2021-03-29T22:35:29.3222162Z",
            "lastActionDateTimeUtc": "2021-03-29T22:35:39.1656249Z",
            "status": "Succeeded",
            "to": "fr",
            "progress": 1,
            "id": "00003ced-0000-0000-0000-000000000000",
            "characterCharged": 27
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://mariaridoctrans29-doctranslation.cognitiveservices.azure.com/translator/text/batch/v1.0-preview.1/batches/1c0b7d71-ba47-47a7-8b23-f45657db175c/documents/00003ced-0000-0000-0000-000000000000",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00229F208F442AABA10FD5C8DB16C187FA7483AF16D80F8BFC159A31224A09314D48\u0022",
        "Retry-After": "1",
        "X-RequestId": "fc4c3384-1bf4-4829-8194-6fc41810b5d7"
      },
      "ResponseBody": {
        "path": "https://mariaridoctrans29prim.blob.core.windows.net/target512773566/Document1.txt",
        "sourcePath": "https://mariaridoctrans29prim.blob.core.windows.net/source1895674641/Document1.txt",
        "createdDateTimeUtc": "2021-03-29T22:35:29.3222162Z",
        "lastActionDateTimeUtc": "2021-03-29T22:35:39.1656249Z",
        "status": "Succeeded",
        "to": "fr",
        "progress": 1,
        "id": "00003ced-0000-0000-0000-000000000000",
        "characterCharged": 27
      }
    }
  ],
  "Variables": {
    "DOCUMENT_TRANSLATION_API_KEY": "Sanitized",
    "DOCUMENT_TRANSLATION_CONNECTION_STRING": "DefaultEndpointsProtocol=https;AccountName=mariaridoctrans29prim;AccountKey=Kg==;EndpointSuffix=core.windows.net",
    "DOCUMENT_TRANSLATION_ENDPOINT": "https://mariaridoctrans29-doctranslation.cognitiveservices.azure.com",
    "RandomSeed": "1518137243"
  }
}