{
  "Entries": [
    {
      "RequestUri": "https://pakrymtranslationprim.blob.core.windows.net/source775626112?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 04 Aug 2021 19:56:47 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D95781FDF42B80\u0022",
        "Last-Modified": "Wed, 04 Aug 2021 19:56:47 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://pakrymtranslationprim.blob.core.windows.net/source775626112/Document1.txt",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 04 Aug 2021 19:56:47 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": "Rmlyc3QgZW5nbGlzaCB0ZXN0IGRvY3VtZW50",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "zc6asiLoUz/caxlJ6YwKxA==",
        "ETag": "\u00220x8D95781FE0549D2\u0022",
        "Last-Modified": "Wed, 04 Aug 2021 19:56:47 GMT",
        "x-ms-content-crc64": "V7knc5S52gk=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://pakrymtranslationprim.blob.core.windows.net/target1926134375?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 04 Aug 2021 19:56:47 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D95781FE28D993\u0022",
        "Last-Modified": "Wed, 04 Aug 2021 19:56:47 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://pakrymtranslation-doctranslation.cognitiveservices.azure.com/translator/text/batch/v1.0/batches",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "inputs": [
          {
            "source": {
              "sourceUrl": "Sanitized"
            },
            "targets": [
              {
                "targetUrl": "Sanitized",
                "language": "fr"
              }
            ]
          },
          {
            "source": {
              "sourceUrl": "Sanitized"
            },
            "targets": [
              {
                "targetUrl": "Sanitized",
                "language": "es"
              }
            ]
          }
        ]
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Operation-Location": "https://pakrymtranslation-doctranslation.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/44c0e091-da7f-4191-976b-af1b1132d95f",
        "X-RequestId": "193d48b5-c386-42a0-a981-ad19dd22f108"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://pakrymtranslation-doctranslation.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/44c0e091-da7f-4191-976b-af1b1132d95f",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002261AE8C188A628859C71B85F615EF4DD0BD04B7AF14B862A76FE00440DB35DD15\u0022",
        "Retry-After": "1",
        "X-RequestId": "986cbc19-915a-4865-83a0-4de58e1e0a41"
      },
      "ResponseBody": {
        "id": "44c0e091-da7f-4191-976b-af1b1132d95f",
        "createdDateTimeUtc": "2021-08-04T19:56:47.7896416Z",
        "lastActionDateTimeUtc": "2021-08-04T19:56:47.789642Z",
        "status": "NotStarted",
        "summary": {
          "total": 0,
          "failed": 0,
          "success": 0,
          "inProgress": 0,
          "notYetStarted": 0,
          "cancelled": 0,
          "totalCharacterCharged": 0
        }
      }
    },
[...]
    {
      "RequestUri": "https://pakrymtranslation-doctranslation.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/44c0e091-da7f-4191-976b-af1b1132d95f/documents",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022528A8B8C486D2DED0FF88CA75716048F784361C86FCFFD7ABFE4353B6BD1A7EB\u0022",
        "Retry-After": "1",
        "X-RequestId": "c883f31e-bb15-47c7-a790-2c03b063f392"
      },
      "ResponseBody": {
        "value": [
          {
            "path": "https://pakrymtranslationprim.blob.core.windows.net/target1376220267/Document1.txt",
            "sourcePath": "https://pakrymtranslationprim.blob.core.windows.net/source1299958859/Document1.txt",
            "createdDateTimeUtc": "2021-08-04T19:56:49.4813223Z",
            "lastActionDateTimeUtc": "2021-08-04T19:56:53.2552584Z",
            "status": "Succeeded",
            "to": "es",
            "progress": 1,
            "id": "000a522a-0000-0000-0000-000000000000",
            "characterCharged": 27
          },
          {
            "path": "https://pakrymtranslationprim.blob.core.windows.net/target1926134375/Document1.txt",
            "sourcePath": "https://pakrymtranslationprim.blob.core.windows.net/source775626112/Document1.txt",
            "createdDateTimeUtc": "2021-08-04T19:56:49.4749163Z",
            "lastActionDateTimeUtc": "2021-08-04T19:56:53.2277104Z",
            "status": "Succeeded",
            "to": "fr",
            "progress": 1,
            "id": "000a5229-0000-0000-0000-000000000000",
            "characterCharged": 27
          }
        ]
      }
    }
  ],
  "Variables": {
    "DOCUMENT_TRANSLATION_API_KEY": "Sanitized",
    "DOCUMENT_TRANSLATION_CONNECTION_STRING": "DefaultEndpointsProtocol=https;AccountName=pakrymtranslationprim;AccountKey=Kg==;EndpointSuffix=core.windows.net",
    "DOCUMENT_TRANSLATION_ENDPOINT": "https://pakrymtranslation-doctranslation.cognitiveservices.azure.com",
    "RandomSeed": "714343487"
  }
}