{
  "Entries": [
    {
      "RequestUri": "https://mariaridoctrans29prim.blob.core.windows.net/source1129819636?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 24 May 2021 21:25:02 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D91EFA6454E047\u0022",
        "Last-Modified": "Mon, 24 May 2021 21:25:02 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://mariaridoctrans29prim.blob.core.windows.net/source1129819636/Document1.txt",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Mon, 24 May 2021 21:25:02 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": "Rmlyc3QgZW5nbGlzaCB0ZXN0IGRvY3VtZW50",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "zc6asiLoUz/caxlJ6YwKxA==",
        "ETag": "\u00220x8D91EFA645B8F60\u0022",
        "Last-Modified": "Mon, 24 May 2021 21:25:02 GMT",
        "x-ms-content-crc64": "V7knc5S52gk=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://mariaridoctrans29prim.blob.core.windows.net/target1449570230?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 24 May 2021 21:25:02 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D91EFA646D75CE\u0022",
        "Last-Modified": "Mon, 24 May 2021 21:25:02 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://mariaridoctrans29-doctranslation.cognitiveservices.azure.com/translator/text/batch/v1.0/batches",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "inputs": [
          {
            "source": {
              "sourceUrl": "Sanitized"
            },
            "targets": [
              {
                "targetUrl": "Sanitized",
                "language": "fr"
              }
            ]
          },
          {
            "source": {
              "sourceUrl": "Sanitized"
            },
            "targets": [
              {
                "targetUrl": "Sanitized",
                "language": "es"
              }
            ]
          }
        ]
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Operation-Location": "https://mariaridoctrans29-doctranslation.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/9054bdf1-402d-496d-8d9a-df641a1e4715",
        "X-RequestId": "a68773eb-274c-40db-93dd-4a72b480ac6f"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://mariaridoctrans29-doctranslation.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/9054bdf1-402d-496d-8d9a-df641a1e4715",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00222D08DCBE7D12BED109E632B4EC30DE6A5311B3F52AD4560626841C457526F9FC\u0022",
        "Retry-After": "1",
        "X-RequestId": "aed3ddcb-7df1-4a07-8780-fdc4a0fc686e"
      },
      "ResponseBody": {
        "id": "9054bdf1-402d-496d-8d9a-df641a1e4715",
        "createdDateTimeUtc": "2021-05-24T21:25:02.6082645Z",
        "lastActionDateTimeUtc": "2021-05-24T21:25:02.6082648Z",
        "status": "NotStarted",
        "summary": {
          "total": 0,
          "failed": 0,
          "success": 0,
          "inProgress": 0,
          "notYetStarted": 0,
          "cancelled": 0,
          "totalCharacterCharged": 0
        }
      }
    },
[...]
    {
      "RequestUri": "https://mariaridoctrans29-doctranslation.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/9054bdf1-402d-496d-8d9a-df641a1e4715/documents",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022D73C0106D6A66F9973B2BECBBF0C15FA3EAD9DDA3500F4BBEA970D48AF5D1903\u0022",
        "Retry-After": "1",
        "X-RequestId": "8bc237fd-3f87-413e-a166-7a5a4cbc9d60"
      },
      "ResponseBody": {
        "value": [
          {
            "path": "https://mariaridoctrans29prim.blob.core.windows.net/target427690396/Document1.txt",
            "sourcePath": "https://mariaridoctrans29prim.blob.core.windows.net/source710235561/Document1.txt",
            "createdDateTimeUtc": "2021-05-24T21:25:03.4040812Z",
            "lastActionDateTimeUtc": "2021-05-24T21:25:12.6567712Z",
            "status": "Succeeded",
            "to": "es",
            "progress": 1,
            "id": "0007aaea-0000-0000-0000-000000000000",
            "characterCharged": 27
          },
          {
            "path": "https://mariaridoctrans29prim.blob.core.windows.net/target1449570230/Document1.txt",
            "sourcePath": "https://mariaridoctrans29prim.blob.core.windows.net/source1129819636/Document1.txt",
            "createdDateTimeUtc": "2021-05-24T21:25:03.3755172Z",
            "lastActionDateTimeUtc": "2021-05-24T21:25:08.8703898Z",
            "status": "Succeeded",
            "to": "fr",
            "progress": 1,
            "id": "0007aae9-0000-0000-0000-000000000000",
            "characterCharged": 27
          }
        ]
      }
    }
  ],
  "Variables": {
    "DOCUMENT_TRANSLATION_API_KEY": "Sanitized",
    "DOCUMENT_TRANSLATION_CONNECTION_STRING": "DefaultEndpointsProtocol=https;AccountName=mariaridoctrans29prim;AccountKey=Kg==;EndpointSuffix=core.windows.net",
    "DOCUMENT_TRANSLATION_ENDPOINT": "https://mariaridoctrans29-doctranslation.cognitiveservices.azure.com",
    "RandomSeed": "1979211659"
  }
}