{
  "Entries": [
    {
      "RequestUri": "https://mariaridoctrans29prim.blob.core.windows.net/source538173844?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 18 May 2021 19:03:39 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D91A2FA66C931B\u0022",
        "Last-Modified": "Tue, 18 May 2021 19:03:40 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://mariaridoctrans29prim.blob.core.windows.net/source538173844/Document1.txt",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 18 May 2021 19:03:39 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": "Rmlyc3QgZW5nbGlzaCB0ZXN0IGRvY3VtZW50",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "zc6asiLoUz/caxlJ6YwKxA==",
        "ETag": "\u00220x8D91A2FA674148F\u0022",
        "Last-Modified": "Tue, 18 May 2021 19:03:40 GMT",
        "x-ms-content-crc64": "V7knc5S52gk=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://mariaridoctrans29prim.blob.core.windows.net/target1995193906?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 18 May 2021 19:03:39 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D91A2FA683C8D4\u0022",
        "Last-Modified": "Tue, 18 May 2021 19:03:40 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://mariaridoctrans29-doctranslation.cognitiveservices.azure.com/translator/text/batch/v1.0-preview.1/batches",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "inputs": [
          {
            "source": {
              "sourceUrl": "Sanitized"
            },
            "targets": [
              {
                "targetUrl": "Sanitized",
                "language": "fr"
              }
            ]
          },
          {
            "source": {
              "sourceUrl": "Sanitized"
            },
            "targets": [
              {
                "targetUrl": "Sanitized",
                "language": "es"
              }
            ]
          }
        ]
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Operation-Location": "https://mariaridoctrans29-doctranslation.cognitiveservices.azure.com/translator/text/batch/v1.0-preview.1/batches/a0177a08-6a34-4b00-ba6e-a8620fb45da3",
        "X-RequestId": "01c4b623-0fc5-4685-bfcd-b430d970336c"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://mariaridoctrans29-doctranslation.cognitiveservices.azure.com/translator/text/batch/v1.0-preview.1/batches/a0177a08-6a34-4b00-ba6e-a8620fb45da3",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00227BDE5D249C5B6E84B444A4F0C45512DDE624B43BEFE8560879E7F963F910F8EB\u0022",
        "Retry-After": "1",
        "X-RequestId": "dd308dbd-925a-44a4-a1b8-75cb8fac6f87"
      },
      "ResponseBody": {
        "id": "a0177a08-6a34-4b00-ba6e-a8620fb45da3",
        "createdDateTimeUtc": "2021-05-18T19:03:41.0148544Z",
        "lastActionDateTimeUtc": "2021-05-18T19:03:41.0148569Z",
        "status": "NotStarted",
        "summary": {
          "total": 0,
          "failed": 0,
          "success": 0,
          "inProgress": 0,
          "notYetStarted": 0,
          "cancelled": 0,
          "totalCharacterCharged": 0
        }
      }
    },
[...]
    {
      "RequestUri": "https://mariaridoctrans29-doctranslation.cognitiveservices.azure.com/translator/text/batch/v1.0-preview.1/batches/a0177a08-6a34-4b00-ba6e-a8620fb45da3/documents",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022F962A0700B3879F41C2A04A10ED92813183BEF2ACC2E7801519AEEC07C5E5E01\u0022",
        "Retry-After": "1",
        "X-RequestId": "c2035dc9-a44d-4bdd-b8bd-0c457a0d9b98"
      },
      "ResponseBody": {
        "value": [
          {
            "path": "https://mariaridoctrans29prim.blob.core.windows.net/target132110945/Document1.txt",
            "sourcePath": "https://mariaridoctrans29prim.blob.core.windows.net/source941011183/Document1.txt",
            "createdDateTimeUtc": "2021-05-18T19:03:41.6438458Z",
            "lastActionDateTimeUtc": "2021-05-18T19:03:49.9668589Z",
            "status": "Succeeded",
            "to": "es",
            "progress": 1,
            "id": "00016886-0000-0000-0000-000000000000",
            "characterCharged": 27
          },
          {
            "path": "https://mariaridoctrans29prim.blob.core.windows.net/target1995193906/Document1.txt",
            "sourcePath": "https://mariaridoctrans29prim.blob.core.windows.net/source538173844/Document1.txt",
            "createdDateTimeUtc": "2021-05-18T19:03:41.61164Z",
            "lastActionDateTimeUtc": "2021-05-18T19:03:48.95902Z",
            "status": "Succeeded",
            "to": "fr",
            "progress": 1,
            "id": "00016885-0000-0000-0000-000000000000",
            "characterCharged": 27
          }
        ]
      }
    }
  ],
  "Variables": {
    "DOCUMENT_TRANSLATION_API_KEY": "Sanitized",
    "DOCUMENT_TRANSLATION_CONNECTION_STRING": "DefaultEndpointsProtocol=https;AccountName=mariaridoctrans29prim;AccountKey=Kg==;EndpointSuffix=core.windows.net",
    "DOCUMENT_TRANSLATION_ENDPOINT": "https://mariaridoctrans29-doctranslation.cognitiveservices.azure.com",
    "RandomSeed": "255702394"
  }
}