{
  "Entries": [
    {
      "RequestUri": "https://mariaridoctrans29prim.blob.core.windows.net/source708357387?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Fri, 23 Jul 2021 01:02:41 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D94D75929199A2\u0022",
        "Last-Modified": "Fri, 23 Jul 2021 01:02:41 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://mariaridoctrans29prim.blob.core.windows.net/source708357387/Document1.txt",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 23 Jul 2021 01:02:41 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": "Rmlyc3QgZW5nbGlzaCB0ZXN0IGRvY3VtZW50",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "zc6asiLoUz/caxlJ6YwKxA==",
        "ETag": "\u00220x8D94D75929B9AB9\u0022",
        "Last-Modified": "Fri, 23 Jul 2021 01:02:41 GMT",
        "x-ms-content-crc64": "V7knc5S52gk=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://mariaridoctrans29prim.blob.core.windows.net/target430296690?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Fri, 23 Jul 2021 01:02:41 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D94D75929FF3FC\u0022",
        "Last-Modified": "Fri, 23 Jul 2021 01:02:41 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://mariaridoctrans29-doctranslation.cognitiveservices.azure.com/translator/text/batch/v1.0/batches",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "inputs": [
          {
            "source": {
              "sourceUrl": "Sanitized"
            },
            "targets": [
              {
                "targetUrl": "Sanitized",
                "language": "fr"
              }
            ]
          }
        ]
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Operation-Location": "https://mariaridoctrans29-doctranslation.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/7181503b-58d7-4421-8d83-8756ce8f5228"
<<<<<<< HEAD
        "X-RequestId": "21339353-c7bd-4307-b715-007e6382a7e5"
=======
        "X-RequestId": "c7948314-13fc-4f90-ae4d-a8696daf60fd"
>>>>>>> 94532869feae8a6b124f50bae7174c7c1b17e98b
      },
      "ResponseBody": []
    },
    {
<<<<<<< HEAD
      "RequestUri": "https://mariaridoctrans29-doctranslation.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/e690a1e4-fb27-482c-ab47-41482e32d253",
=======
      "RequestUri": "https://mariaridoctrans29-doctranslation.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/7181503b-58d7-4421-8d83-8756ce8f5228",
>>>>>>> 94532869feae8a6b124f50bae7174c7c1b17e98b
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
<<<<<<< HEAD
        "User-Agent": "azsdk-net-AI.Translation.Document/1.0.0-alpha.20210721.1 (.NET Framework 4.8.4300.0; Microsoft Windows 10.0.19043 )",
        "x-ms-client-request-id": "2394d3e2f0f7903b393a2e4adda9e3dd",
=======
        "traceparent": "00-60f33633b6431241829e94c9e430bf19-b5c82a9e431eed4a-00",
        "User-Agent": "azsdk-net-AI.Translation.Document/1.0.0-alpha.20210722.1 (.NET Framework 4.8.4300.0; Microsoft Windows 10.0.19043 )",
        "x-ms-client-request-id": "607b3cb5a653c6a29ad4da4f724a6231",
>>>>>>> 94532869feae8a6b124f50bae7174c7c1b17e98b
        "x-ms-return-client-request-id": "true"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
<<<<<<< HEAD
        "apim-request-id": "438b3f37-d3f6-41b3-9ed4-89e20670a807",
=======
        "apim-request-id": "246f7083-b556-49f9-b359-0588bdf4d321",
>>>>>>> 94532869feae8a6b124f50bae7174c7c1b17e98b
        "Cache-Control": [
          "public",
          "max-age=1"
        ],
        "Content-Type": "application/json; charset=utf-8",
<<<<<<< HEAD
        "Date": "Thu, 22 Jul 2021 00:04:36 GMT",
        "ETag": "\u0022EAA4F8CA28B9BCD5D7A93A86BC7C66B7EA90DF1B52EC2F40347466214F716779\u0022",
=======
        "Date": "Fri, 23 Jul 2021 01:02:41 GMT",
        "ETag": "\u0022B03E3CE38D9FBFEA990E54D82DF54F496F3A13973B2FA9430542DF4A858AB49B\u0022",
>>>>>>> 94532869feae8a6b124f50bae7174c7c1b17e98b
        "Retry-After": "1",
        "Set-Cookie": [
          "ARRAffinity=71659a59bc7ec5e68f754ab1110af7204cc0a6ca9121108e19aeec14032c3bc4;Path=/;HttpOnly;Secure;Domain=mtbatch.nam.microsofttranslator.com",
          "ARRAffinitySameSite=71659a59bc7ec5e68f754ab1110af7204cc0a6ca9121108e19aeec14032c3bc4;Path=/;HttpOnly;SameSite=None;Secure;Domain=mtbatch.nam.microsofttranslator.com"
        ],
        "Strict-Transport-Security": "max-age=31536000; includeSubDomains; preload",
        "Transfer-Encoding": "chunked",
        "x-content-type-options": "nosniff",
        "X-Powered-By": "ASP.NET",
<<<<<<< HEAD
        "X-RequestId": "438b3f37-d3f6-41b3-9ed4-89e20670a807"
      },
      "ResponseBody": {
        "id": "e690a1e4-fb27-482c-ab47-41482e32d253",
        "createdDateTimeUtc": "2021-07-22T00:04:37.6017059Z",
        "lastActionDateTimeUtc": "2021-07-22T00:04:37.6017063Z",
=======
        "X-RequestId": "246f7083-b556-49f9-b359-0588bdf4d321"
      },
      "ResponseBody": {
        "id": "7181503b-58d7-4421-8d83-8756ce8f5228",
        "createdDateTimeUtc": "2021-07-23T01:02:41.692394Z",
        "lastActionDateTimeUtc": "2021-07-23T01:02:41.6923945Z",
>>>>>>> 94532869feae8a6b124f50bae7174c7c1b17e98b
        "status": "NotStarted",
        "summary": {
          "total": 0,
          "failed": 0,
          "success": 0,
          "inProgress": 0,
          "notYetStarted": 0,
          "cancelled": 0,
          "totalCharacterCharged": 0
        }
      }
    },
    {
<<<<<<< HEAD
      "RequestUri": "https://mariaridoctrans29-doctranslation.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/e690a1e4-fb27-482c-ab47-41482e32d253",
=======
      "RequestUri": "https://mariaridoctrans29-doctranslation.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/7181503b-58d7-4421-8d83-8756ce8f5228",
>>>>>>> 94532869feae8a6b124f50bae7174c7c1b17e98b
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp[...]
    {
      "RequestUri": "https://mariaridoctrans29-doctranslation.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/e690a1e4-fb27-482c-ab47-41482e32d253",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022844A15F292EFEF078A62F65CF70DEB06692265E2E97E9644B4F1F34[...]
[...]
    {
      "RequestUri": "https://mariaridoctrans29-doctranslation.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/7181503b-58d7-4421-8d83-8756ce8f5228/documents",
>>>>>>> 94532869feae8a6b124f50bae7174c7c1b17e98b
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
<<<<<<< HEAD
        "User-Agent": "azsdk-net-AI.Translation.Document/1.0.0-alpha.20210721.1 (.NET Framework 4.8.4300.0; Microsoft Windows 10.0.19043 )",
        "x-m[...]
