{
  "Entries": [
    {
      "RequestUri": "https://mariaridoctrans29prim.blob.core.windows.net/source708357387?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Fri, 23 Jul 2021 01:02:41 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D94D75929199A2\u0022",
        "Last-Modified": "Fri, 23 Jul 2021 01:02:41 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://mariaridoctrans29prim.blob.core.windows.net/source708357387/Document1.txt",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 23 Jul 2021 01:02:41 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": "Rmlyc3QgZW5nbGlzaCB0ZXN0IGRvY3VtZW50",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "zc6asiLoUz/caxlJ6YwKxA==",
        "ETag": "\u00220x8D94D75929B9AB9\u0022",
        "Last-Modified": "Fri, 23 Jul 2021 01:02:41 GMT",
        "x-ms-content-crc64": "V7knc5S52gk=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://mariaridoctrans29prim.blob.core.windows.net/target430296690?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Fri, 23 Jul 2021 01:02:41 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D94D75929FF3FC\u0022",
        "Last-Modified": "Fri, 23 Jul 2021 01:02:41 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://mariaridoctrans29-doctranslation.cognitiveservices.azure.com/translator/text/batch/v1.0/batches",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "inputs": [
          {
            "source": {
              "sourceUrl": "Sanitized"
            },
            "targets": [
              {
                "targetUrl": "Sanitized",
                "language": "fr"
              }
            ]
          }
        ]
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Operation-Location": "https://mariaridoctrans29-doctranslation.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/7181503b-58d7-4421-8d83-8756ce8f5228",
        "X-RequestId": "c7948314-13fc-4f90-ae4d-a8696daf60fd"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://mariaridoctrans29-doctranslation.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/7181503b-58d7-4421-8d83-8756ce8f5228",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022B03E3CE38D9FBFEA990E54D82DF54F496F3A13973B2FA9430542DF4A858AB49B\u0022",
        "Retry-After": "1",
        "X-RequestId": "246f7083-b556-49f9-b359-0588bdf4d321"
      },
      "ResponseBody": {
        "id": "7181503b-58d7-4421-8d83-8756ce8f5228",
        "createdDateTimeUtc": "2021-07-23T01:02:41.692394Z",
        "lastActionDateTimeUtc": "2021-07-23T01:02:41.6923945Z",
        "status": "NotStarted",
        "summary": {
          "total": 0,
          "failed": 0,
          "success": 0,
          "inProgress": 0,
          "notYetStarted": 0,
          "cancelled": 0,
          "totalCharacterCharged": 0
        }
      }
    },
[...]
    {
      "RequestUri": "https://mariaridoctrans29-doctranslation.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/7181503b-58d7-4421-8d83-8756ce8f5228/documents",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00224CF7ABDDA95F6645463B189D36D620F22A3211E91AB93CBF116D581EF22EC903\u0022",
        "Retry-After": "1",
        "X-RequestId": "268757bd-bae1-4d59-82ed-83f1ceaf81bb"
      },
      "ResponseBody": {
        "value": [
          {
            "path": "https://mariaridoctrans29prim.blob.core.windows.net/target430296690/Document1.txt",
            "sourcePath": "https://mariaridoctrans29prim.blob.core.windows.net/source708357387/Document1.txt",
            "createdDateTimeUtc": "2021-07-23T01:02:43.9954201Z",
            "lastActionDateTimeUtc": "2021-07-23T01:02:51.2615549Z",
            "status": "Succeeded",
            "to": "fr",
            "progress": 1,
            "id": "0009bcea-0000-0000-0000-000000000000",
            "characterCharged": 27
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://mariaridoctrans29-doctranslation.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/7181503b-58d7-4421-8d83-8756ce8f5228/documents",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00224CF7ABDDA95F6645463B189D36D620F22A3211E91AB93CBF116D581EF22EC903\u0022",
        "Retry-After": "1",
        "X-RequestId": "268757bd-bae1-4d59-82ed-83f1ceaf81bb"
      },
      "ResponseBody": {
        "value": [
          {
            "path": "https://mariaridoctrans29prim.blob.core.windows.net/target430296690/Document1.txt",
            "sourcePath": "https://mariaridoctrans29prim.blob.core.windows.net/source708357387/Document1.txt",
            "createdDateTimeUtc": "2021-07-23T01:02:43.9954201Z",
            "lastActionDateTimeUtc": "2021-07-23T01:02:51.2615549Z",
            "status": "Succeeded",
            "to": "fr",
            "progress": 1,
            "id": "0009bcea-0000-0000-0000-000000000000",
            "characterCharged": 27
          }
        ]
      }
    }
  ],
  "Variables": {
    "DOCUMENT_TRANSLATION_API_KEY": "Sanitized",
    "DOCUMENT_TRANSLATION_CONNECTION_STRING": "DefaultEndpointsProtocol=https;AccountName=mariaridoctrans29prim;AccountKey=Kg==;EndpointSuffix=core.windows.net",
    "DOCUMENT_TRANSLATION_ENDPOINT": "https://mariaridoctrans29-doctranslation.cognitiveservices.azure.com",
    "RandomSeed": "225458741"
  }
}