{
  "Entries": [
    {
      "RequestUri": "https://mariaridoctrans29prim.blob.core.windows.net/source2144588721?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 22 Jul 2021 00:04:35 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D94CA44AFD8B56\u0022",
        "Last-Modified": "Thu, 22 Jul 2021 00:04:36 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://mariaridoctrans29prim.blob.core.windows.net/source2144588721/Document1.txt",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 22 Jul 2021 00:04:36 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": "Rmlyc3QgZW5nbGlzaCB0ZXN0IGRvY3VtZW50",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "zc6asiLoUz/caxlJ6YwKxA==",
        "ETag": "\u00220x8D94CA44B35DE0F\u0022",
        "Last-Modified": "Thu, 22 Jul 2021 00:04:36 GMT",
        "x-ms-content-crc64": "V7knc5S52gk=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://mariaridoctrans29prim.blob.core.windows.net/target1252517123?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 22 Jul 2021 00:04:37 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D94CA44B430555\u0022",
        "Last-Modified": "Thu, 22 Jul 2021 00:04:37 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://mariaridoctrans29-doctranslation.cognitiveservices.azure.com/translator/text/batch/v1.0/batches",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "inputs": [
          {
            "source": {
              "sourceUrl": "Sanitized"
            },
            "targets": [
              {
                "targetUrl": "Sanitized",
                "language": "fr"
              }
            ]
          }
        ]
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Operation-Location": "https://mariaridoctrans29-doctranslation.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/e690a1e4-fb27-482c-ab47-41482e32d253",
        "X-RequestId": "21339353-c7bd-4307-b715-007e6382a7e5"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://mariaridoctrans29-doctranslation.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/e690a1e4-fb27-482c-ab47-41482e32d253",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022EAA4F8CA28B9BCD5D7A93A86BC7C66B7EA90DF1B52EC2F40347466214F716779\u0022",
        "Retry-After": "1",
        "X-RequestId": "438b3f37-d3f6-41b3-9ed4-89e20670a807"
      },
      "ResponseBody": {
        "id": "e690a1e4-fb27-482c-ab47-41482e32d253",
        "createdDateTimeUtc": "2021-07-22T00:04:37.6017059Z",
        "lastActionDateTimeUtc": "2021-07-22T00:04:37.6017063Z",
        "status": "NotStarted",
        "summary": {
          "total": 0,
          "failed": 0,
          "success": 0,
          "inProgress": 0,
          "notYetStarted": 0,
          "cancelled": 0,
          "totalCharacterCharged": 0
        }
      }
    },
[...]
    {
      "RequestUri": "https://mariaridoctrans29-doctranslation.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/e690a1e4-fb27-482c-ab47-41482e32d253/documents",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00228408ADFB3DF87FF5461228054B993992680FB5741C22F12CAB17E34EB4E1C0FA\u0022",
        "Retry-After": "1",
        "X-RequestId": "ba7c456b-0c05-4ab3-b97e-9ef4967c64af"
      },
      "ResponseBody": {
        "value": [
          {
            "path": "https://mariaridoctrans29prim.blob.core.windows.net/target1252517123/Document1.txt",
            "sourcePath": "https://mariaridoctrans29prim.blob.core.windows.net/source2144588721/Document1.txt",
            "createdDateTimeUtc": "2021-07-22T00:04:45.8605044Z",
            "lastActionDateTimeUtc": "2021-07-22T00:04:56.504303Z",
            "status": "Succeeded",
            "to": "fr",
            "progress": 1,
            "id": "00099d75-0000-0000-0000-000000000000",
            "characterCharged": 27
          }
        ]
      }
    },
    {
      "RequestUri": "https://mariaridoctrans29-doctranslation.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/e690a1e4-fb27-482c-ab47-41482e32d253/documents",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00228408ADFB3DF87FF5461228054B993992680FB5741C22F12CAB17E34EB4E1C0FA\u0022",
        "Retry-After": "1",
        "X-RequestId": "8cbddfd7-dd31-4093-9ed9-700d2129a9ac"
      },
      "ResponseBody": {
        "value": [
          {
            "path": "https://mariaridoctrans29prim.blob.core.windows.net/target1252517123/Document1.txt",
            "sourcePath": "https://mariaridoctrans29prim.blob.core.windows.net/source2144588721/Document1.txt",
            "createdDateTimeUtc": "2021-07-22T00:04:45.8605044Z",
            "lastActionDateTimeUtc": "2021-07-22T00:04:56.504303Z",
            "status": "Succeeded",
            "to": "fr",
            "progress": 1,
            "id": "00099d75-0000-0000-0000-000000000000",
            "characterCharged": 27
          }
        ]
      }
    }
  ],
  "Variables": {
    "DOCUMENT_TRANSLATION_API_KEY": "Sanitized",
    "DOCUMENT_TRANSLATION_CONNECTION_STRING": "DefaultEndpointsProtocol=https;AccountName=mariaridoctrans29prim;AccountKey=Kg==;EndpointSuffix=core.windows.net",
    "DOCUMENT_TRANSLATION_ENDPOINT": "https://mariaridoctrans29-doctranslation.cognitiveservices.azure.com",
    "RandomSeed": "1198473767"
  }
}