{
  "Entries": [
    {
      "RequestUri": "https://nourdocuments.blob.core.windows.net/source1852611453?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 25 Mar 2021 15:26:05 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8EFA23F011A85\u0022",
        "Last-Modified": "Thu, 25 Mar 2021 15:25:39 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://nourdocuments.blob.core.windows.net/source1852611453/Document1.txt",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 25 Mar 2021 15:26:06 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": "Rmlyc3QgZW5nbGlzaCB0ZXN0IGRvY3VtZW50",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "zc6asiLoUz/caxlJ6YwKxA==",
        "ETag": "\u00220x8D8EFA23F4CBA89\u0022",
        "Last-Modified": "Thu, 25 Mar 2021 15:25:39 GMT",
        "x-ms-content-crc64": "V7knc5S52gk=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://nourdocuments.blob.core.windows.net/target215561165?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 25 Mar 2021 15:26:06 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8EFA23F6E482F\u0022",
        "Last-Modified": "Thu, 25 Mar 2021 15:25:40 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://document-translator.cognitiveservices.azure.com/translator/text/batch/v1.0-preview.1/batches",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "inputs": [
          {
            "source": {
              "sourceUrl": "Sanitized"
            },
            "targets": [
              {
                "targetUrl": "Sanitized",
                "language": "fr"
              }
            ]
          }
        ]
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Operation-Location": "https://document-translator.cognitiveservices.azure.com/translator/text/batch/v1.0-preview.1/batches/f69346d6-7bec-4c78-bd21-c2af2f6b9e1a",
        "X-RequestId": "33f2a2a2-dabc-48b0-9912-9ca9da303f42"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://document-translator.cognitiveservices.azure.com/translator/text/batch/v1.0-preview.1/batches/f69346d6-7bec-4c78-bd21-c2af2f6b9e1a",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002290EACE764C5AE16CC723D1D1ED5979ADE1D3ECDB9608FDE92DE2230929938D12\u0022",
        "X-RequestId": "c89dab62-7d1d-42b2-ab1e-c63517bd0969"
      },
      "ResponseBody": {
        "id": "f69346d6-7bec-4c78-bd21-c2af2f6b9e1a",
        "createdDateTimeUtc": "2021-03-25T15:25:40.3735947",
        "lastActionDateTimeUtc": "2021-03-25T15:25:40.3735952",
        "status": "NotStarted",
        "summary": {
          "total": 0,
          "failed": 0,
          "success": 0,
          "inProgress": 0,
          "notYetStarted": 0,
          "cancelled": 0,
          "totalCharacterCharged": 0
        }
      }
    },
[...]
    {
      "RequestUri": "https://document-translator.cognitiveservices.azure.com/translator/text/batch/v1.0-preview.1/batches/f69346d6-7bec-4c78-bd21-c2af2f6b9e1a/documents",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00229F56484C82FE59E7A736A7A40C19C61A3BBB51EA6096004F00D6E6AA1825EB48\u0022",
        "X-RequestId": "b9b1f735-691f-4c31-8019-a0a6bb5a3c5d"
      },
      "ResponseBody": {
        "value": [
          {
            "path": "https://nourdocuments.blob.core.windows.net/target215561165/Document1.txt",
            "sourcePath": "https://nourdocuments.blob.core.windows.net/source1852611453/Document1.txt",
            "createdDateTimeUtc": "2021-03-25T15:25:50.3655241",
            "lastActionDateTimeUtc": "2021-03-25T15:26:01.9027674",
            "status": "Succeeded",
            "to": "fr",
            "progress": 1,
            "id": "000005cf-0000-0000-0000-000000000000",
            "characterCharged": 27
          }
        ]
      }
    }
  ],
  "Variables": {
    "DOCUMENT_TRANSLATION_API_KEY": "Sanitized",
    "DOCUMENT_TRANSLATION_CONNECTION_STRING": "DefaultEndpointsProtocol=https;AccountName=nourdocuments;AccountKey=Kg==;EndpointSuffix=core.windows.net",
    "DOCUMENT_TRANSLATION_ENDPOINT": "https://document-translator.cognitiveservices.azure.com/",
    "RandomSeed": "509828649"
  }
}