{
  "Entries": [
    {
      "RequestUri": "https://pakrymtranslationprim.blob.core.windows.net/source506042247?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 04 Aug 2021 19:58:06 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D957822D1E2297\u0022",
        "Last-Modified": "Wed, 04 Aug 2021 19:58:06 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://pakrymtranslationprim.blob.core.windows.net/source506042247/Document1.txt",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 04 Aug 2021 19:58:06 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": "Rmlyc3QgZW5nbGlzaCB0ZXN0IGRvY3VtZW50",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "zc6asiLoUz/caxlJ6YwKxA==",
        "ETag": "\u00220x8D957822D324885\u0022",
        "Last-Modified": "Wed, 04 Aug 2021 19:58:06 GMT",
        "x-ms-content-crc64": "V7knc5S52gk=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://pakrymtranslationprim.blob.core.windows.net/target169702138?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 04 Aug 2021 19:58:06 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D957822D4056CA\u0022",
        "Last-Modified": "Wed, 04 Aug 2021 19:58:06 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://pakrymtranslation-doctranslation.cognitiveservices.azure.com/translator/text/batch/v1.0/batches",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "inputs": [
          {
            "source": {
              "sourceUrl": "Sanitized"
            },
            "targets": [
              {
                "targetUrl": "Sanitized",
                "language": "fr"
              }
            ]
          }
        ]
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Operation-Location": "https://pakrymtranslation-doctranslation.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/4b0912e7-a4c3-407d-ad6f-9ac6837cf30e",
        "X-RequestId": "c0a956ed-e559-46b9-aaec-ed81839d36b5"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://pakrymtranslation-doctranslation.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/4b0912e7-a4c3-407d-ad6f-9ac6837cf30e",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022A576FA7FAC639CB4B709F87B0D44CBD2140E781C7B71163BCF26F7C91304AF88\u0022",
        "Retry-After": "1",
        "X-RequestId": "e99861e1-cf23-499c-b406-c53599c1d9c2"
      },
      "ResponseBody": {
        "id": "4b0912e7-a4c3-407d-ad6f-9ac6837cf30e",
        "createdDateTimeUtc": "2021-08-04T19:58:06.7632434Z",
        "lastActionDateTimeUtc": "2021-08-04T19:58:06.7632437Z",
        "status": "NotStarted",
        "summary": {
          "total": 0,
          "failed": 0,
          "success": 0,
          "inProgress": 0,
          "notYetStarted": 0,
          "cancelled": 0,
          "totalCharacterCharged": 0
        }
      }
    },
[...]
    {
      "RequestUri": "https://pakrymtranslation-doctranslation.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/4b0912e7-a4c3-407d-ad6f-9ac6837cf30e/documents",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022B9294610E7DDDA8366783C6D5C3269CB98220FDA36ED5921CA73771C67CAD2E6\u0022",
        "Retry-After": "1",
        "X-RequestId": "b7cefd40-156a-4811-b766-782618ca31f5"
      },
      "ResponseBody": {
        "value": [
          {
            "path": "https://pakrymtranslationprim.blob.core.windows.net/target169702138/Document1.txt",
            "sourcePath": "https://pakrymtranslationprim.blob.core.windows.net/source506042247/Document1.txt",
            "createdDateTimeUtc": "2021-08-04T19:58:09.7039077Z",
            "lastActionDateTimeUtc": "2021-08-04T19:58:12.4988907Z",
            "status": "Succeeded",
            "to": "fr",
            "progress": 1,
            "id": "000a5233-0000-0000-0000-000000000000",
            "characterCharged": 27
          }
        ]
      }
    }
  ],
  "Variables": {
    "DOCUMENT_TRANSLATION_API_KEY": "Sanitized",
    "DOCUMENT_TRANSLATION_CONNECTION_STRING": "DefaultEndpointsProtocol=https;AccountName=pakrymtranslationprim;AccountKey=Kg==;EndpointSuffix=core.windows.net",
    "DOCUMENT_TRANSLATION_ENDPOINT": "https://pakrymtranslation-doctranslation.cognitiveservices.azure.com",
    "RandomSeed": "154633932"
  }
}