{
  "Entries": [
    {
      "RequestUri": "https://mariaridoctrans29prim.blob.core.windows.net/source337161225?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 18 May 2021 19:05:15 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D91A2FDFBE94B3\u0022",
        "Last-Modified": "Tue, 18 May 2021 19:05:16 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://mariaridoctrans29prim.blob.core.windows.net/source337161225/Document1.txt",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 18 May 2021 19:05:15 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": "Rmlyc3QgZW5nbGlzaCB0ZXN0IGRvY3VtZW50",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "zc6asiLoUz/caxlJ6YwKxA==",
        "ETag": "\u00220x8D91A2FDFC71FD7\u0022",
        "Last-Modified": "Tue, 18 May 2021 19:05:16 GMT",
        "x-ms-content-crc64": "V7knc5S52gk=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://mariaridoctrans29prim.blob.core.windows.net/source337161225/File2.txt",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 18 May 2021 19:05:15 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": "U2Vjb25kIGVuZ2xpc2ggdGVzdCBmaWxl",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "gMtl0NvS8s51WsOvVJ1plg==",
        "ETag": "\u00220x8D91A2FDFCF85C3\u0022",
        "Last-Modified": "Tue, 18 May 2021 19:05:17 GMT",
        "x-ms-content-crc64": "aaA26IeTPCo=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://mariaridoctrans29prim.blob.core.windows.net/target1914933164?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 18 May 2021 19:05:15 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D91A2FDFD44386\u0022",
        "Last-Modified": "Tue, 18 May 2021 19:05:17 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://mariaridoctrans29-doctranslation.cognitiveservices.azure.com/translator/text/batch/v1.0-preview.1/batches",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "inputs": [
          {
            "source": {
              "sourceUrl": "Sanitized",
              "filter": {
                "suffix": "1.txt"
              }
            },
            "targets": [
              {
                "targetUrl": "Sanitized",
                "language": "fr"
              }
            ]
          }
        ]
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Operation-Location": "https://mariaridoctrans29-doctranslation.cognitiveservices.azure.com/translator/text/batch/v1.0-preview.1/batches/75485d67-fb4d-44a3-b21f-30886780babb",
        "X-RequestId": "7c2f405d-831f-4530-82a3-d84ee19dd197"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://mariaridoctrans29-doctranslation.cognitiveservices.azure.com/translator/text/batch/v1.0-preview.1/batches/75485d67-fb4d-44a3-b21f-30886780babb",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022ABB3D916B7E7FB8E2F21B070F0E4778D6E537E3BB70EE931764D4C712639C876\u0022",
        "Retry-After": "1",
        "X-RequestId": "6379ae31-0d52-44c9-ab59-c5616651a9d5"
      },
      "ResponseBody": {
        "id": "75485d67-fb4d-44a3-b21f-30886780babb",
        "createdDateTimeUtc": "2021-05-18T19:05:17.1298881Z",
        "lastActionDateTimeUtc": "2021-05-18T19:05:17.1298938Z",
        "status": "NotStarted",
        "summary": {
          "total": 0,
          "failed": 0,
          "success": 0,
          "inProgress": 0,
          "notYetStarted": 0,
          "cancelled": 0,
          "totalCharacterCharged": 0
        }
      }
    },
[...]
    {
      "RequestUri": "https://mariaridoctrans29-doctranslation.cognitiveservices.azure.com/translator/text/batch/v1.0-preview.1/batches/75485d67-fb4d-44a3-b21f-30886780babb/documents",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00223107921883DEDF85BD0175B4F1C72B6D06C0CC379853AA489E531E638E608981\u0022",
        "Retry-After": "1",
        "X-RequestId": "6692c8bb-6709-41a6-9a1e-ee1634dc9c42"
      },
      "ResponseBody": {
        "value": [
          {
            "path": "https://mariaridoctrans29prim.blob.core.windows.net/target1914933164/Document1.txt",
            "sourcePath": "https://mariaridoctrans29prim.blob.core.windows.net/source337161225/Document1.txt",
            "createdDateTimeUtc": "2021-05-18T19:05:17.8384431Z",
            "lastActionDateTimeUtc": "2021-05-18T19:05:19.5288729Z",
            "status": "Succeeded",
            "to": "fr",
            "progress": 1,
            "id": "00016894-0000-0000-0000-000000000000",
            "characterCharged": 27
          }
        ]
      }
    }
  ],
  "Variables": {
    "DOCUMENT_TRANSLATION_API_KEY": "Sanitized",
    "DOCUMENT_TRANSLATION_CONNECTION_STRING": "DefaultEndpointsProtocol=https;AccountName=mariaridoctrans29prim;AccountKey=Kg==;EndpointSuffix=core.windows.net",
    "DOCUMENT_TRANSLATION_ENDPOINT": "https://mariaridoctrans29-doctranslation.cognitiveservices.azure.com",
    "RandomSeed": "609802869"
  }
}