{
  "Entries": [
    {
      "RequestUri": "https://mariaridoctrans29prim.blob.core.windows.net/source1024656640?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 29 Mar 2021 22:05:33 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8F2FEC5FE28E5\u0022",
        "Last-Modified": "Mon, 29 Mar 2021 22:05:33 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://mariaridoctrans29prim.blob.core.windows.net/source1024656640/Document1.txt",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Mon, 29 Mar 2021 22:05:33 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": [],
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "1B2M2Y8AsgTpgAmY7PhCfg==",
        "ETag": "\u00220x8D8F2FEC6109EA5\u0022",
        "Last-Modified": "Mon, 29 Mar 2021 22:05:33 GMT",
        "x-ms-content-crc64": "AAAAAAAAAAA=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://mariaridoctrans29prim.blob.core.windows.net/target1485570010?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 29 Mar 2021 22:05:33 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8F2FEC61A8FA7\u0022",
        "Last-Modified": "Mon, 29 Mar 2021 22:05:33 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://mariaridoctrans29-doctranslation.cognitiveservices.azure.com/translator/text/batch/v1.0-preview.1/batches",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "inputs": [
          {
            "source": {
              "sourceUrl": "Sanitized"
            },
            "targets": [
              {
                "targetUrl": "Sanitized",
                "language": "fr"
              }
            ]
          }
        ]
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Operation-Location": "https://mariaridoctrans29-doctranslation.cognitiveservices.azure.com/translator/text/batch/v1.0-preview.1/batches/c72e0b77-6fd7-4a61-bde6-73c2d7e04f6b",
        "X-RequestId": "38f8541c-0e59-4ebd-812b-34c66ed8d255"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://mariaridoctrans29-doctranslation.cognitiveservices.azure.com/translator/text/batch/v1.0-preview.1/batches/c72e0b77-6fd7-4a61-bde6-73c2d7e04f6b",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022C17DA6F6C2FCFB2416DA7DBD6B8510828A7EB60D96997E4C5D55FD5EFF956245\u0022",
        "Retry-After": "1",
        "X-RequestId": "0743ff64-3051-41e7-8fbb-cb329ff60dab"
      },
      "ResponseBody": {
        "id": "c72e0b77-6fd7-4a61-bde6-73c2d7e04f6b",
        "createdDateTimeUtc": "2021-03-29T22:05:33.3806701Z",
        "lastActionDateTimeUtc": "2021-03-29T22:05:33.3806732Z",
        "status": "NotStarted",
        "summary": {
          "total": 0,
          "failed": 0,
          "success": 0,
          "inProgress": 0,
          "notYetStarted": 0,
          "cancelled": 0,
          "totalCharacterCharged": 0
        }
      }
    },
[...]
    {
      "RequestUri": "https://mariaridoctrans29-doctranslation.cognitiveservices.azure.com/translator/text/batch/v1.0-preview.1/batches/c72e0b77-6fd7-4a61-bde6-73c2d7e04f6b/documents",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022CAC04404B377D09628395EC4667A216613441884DF87DBCA59E890F9923334DF\u0022",
        "Retry-After": "1",
        "X-RequestId": "e8a91a38-a44f-41dd-9845-6ad060d1585b"
      },
      "ResponseBody": {
        "value": [
          {
            "sourcePath": "https://mariaridoctrans29prim.blob.core.windows.net/source1024656640/Document1.txt",
            "createdDateTimeUtc": "2021-03-29T22:05:37.2892554Z",
            "lastActionDateTimeUtc": "2021-03-29T22:05:37.2892554Z",
            "status": "Failed",
            "to": "fr",
            "error": {
              "code": "InvalidRequest",
              "message": "Document has wrong encoding or is binary file.",
              "target": "Document",
              "innerError": {
                "code": "WrongDocumentEncoding",
                "message": "Document has wrong encoding or is binary file."
              }
            },
            "progress": 0,
            "id": "00003cea-0000-0000-0000-000000000000",
            "characterCharged": 0
          }
        ]
      }
    }
  ],
  "Variables": {
    "DOCUMENT_TRANSLATION_API_KEY": "Sanitized",
    "DOCUMENT_TRANSLATION_CONNECTION_STRING": "DefaultEndpointsProtocol=https;AccountName=mariaridoctrans29prim;AccountKey=Kg==;EndpointSuffix=core.windows.net",
    "DOCUMENT_TRANSLATION_ENDPOINT": "https://mariaridoctrans29-doctranslation.cognitiveservices.azure.com",
    "RandomSeed": "1250005597"
  }
}