{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.com/availablePhoneNumbers/countries/US/:search?api-version=2021_03_07",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "phoneNumberType": "tollFree",
        "assignmentType": "application",
        "capabilities": {
          "calling": "none",
          "sms": "outbound"
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Location": "/availablePhoneNumbers/searchResults/37f7ae85-69f2-4b72-a0e2-8e94a93a0937?api-version=2021_03_07",
        "MS-CV": "\u002B64GUe0j7kes1Gr8SGZTPQ.0",
        "operation-id": "search_37f7ae85-69f2-4b72-a0e2-8e94a93a0937",
        "Operation-Location": "/phoneNumbers/operations/search_37f7ae85-69f2-4b72-a0e2-8e94a93a0937?api-version=2021_03_07",
        "search-id": "37f7ae85-69f2-4b72-a0e2-8e94a93a0937",
        "X-Processing-Time": "2311ms"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://sanitized.communication.azure.com/phoneNumbers/operations/search_Sanitized?api-version=2021_03_07",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "/availablePhoneNumbers/searchResults/37f7ae85-69f2-4b72-a0e2-8e94a93a0937?api-version=2021_03_07",
        "MS-CV": "tP87F7R3i0SzKntlHFLAdw.0",
        "X-Processing-Time": "23ms"
      },
      "ResponseBody": {
        "status": "NotStarted",
        "resourceLocation": "/availablePhoneNumbers/searchResults/37f7ae85-69f2-4b72-a0e2-8e94a93a0937?api-version=2021_03_07",
        "createdDateTime": "2021-02-24T01:03:11.8476181\u002B00:00",
        "id": "Sanitized",
        "operationType": "Search",
        "lastActionDateTime": "0001-01-01T00:00:00\u002B00:00"
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.com/availablePhoneNumbers/searchResults/Sanitized?api-version=2021_03_07",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "OB8o/IprBk2vcVrM1VDZaQ.0",
        "X-Processing-Time": "28ms"
      },
      "ResponseBody": {
        "searchId": "37f7ae85-69f2-4b72-a0e2-8e94a93a0937",
        "phoneNumbers": [
          "\u002B8001111112"
        ],
        "phoneNumberType": "TollFree",
        "assignmentType": "Application",
        "capabilities": {
          "calling": "none",
          "sms": "outbound"
        },
        "cost": {
          "amount": 0.0,
          "currencyCode": "USD",
          "billingFrequency": "Monthly"
        },
        "searchExpiresBy": "2021-02-24T01:18:11.8476166\u002B00:00"
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.com/availablePhoneNumbers/:purchase?api-version=2021_03_07",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "searchId": "37f7ae85-69f2-4b72-a0e2-8e94a93a0937"
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "MS-CV": "ReWU8grCi0e/WkKkwQs41g.0",
        "operation-id": "purchase_37f7ae85-69f2-4b72-a0e2-8e94a93a0937",
        "Operation-Location": "/phoneNumbers/operations/purchase_37f7ae85-69f2-4b72-a0e2-8e94a93a0937?api-version=2021_03_07",
        "purchase-id": "37f7ae85-69f2-4b72-a0e2-8e94a93a0937",
        "X-Processing-Time": "40ms"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://sanitized.communication.azure.com/phoneNumbers/operations/purchase_Sanitized?api-version=2021_03_07",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "LSDqnHppoU6T1Pci7uOGzQ.0",
        "X-Processing-Time": "24ms"
      },
      "ResponseBody": {
        "status": "NotStarted",
        "resourceLocation": null,
        "createdDateTime": "2021-02-24T01:03:11.8476181\u002B00:00",
        "id": "Sanitized",
        "operationType": "Purchase",
        "lastActionDateTime": "0001-01-01T00:00:00\u002B00:00"
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.com/phoneNumbers?api-version=2021_03_07",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "lLPaltIXYkeTaMojnpywVg.0",
        "X-Processing-Time": "23ms"
      },
      "ResponseBody": {
        "phoneNumbers": [
          {
            "id": "Sanitized",
            "phoneNumber": "\u002B8001111112",
            "countryCode": "US",
            "phoneNumberType": "TollFree",
            "capabilities": {
              "calling": "none",
              "sms": "outbound"
            },
            "assignmentType": "Application"
          }
        ]
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.com/phoneNumbers/%2B8001111112/capabilities?api-version=2021_03_07",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": "{\u0022calling\u0022:\u0022outbound\u0022,\u0022sms\u0022:\u0022inbound\u002Boutbound\u0022}",
      "StatusCode": 202,
      "ResponseHeaders": {
        "capabilities-id": "f4971de0-e899-4fb1-9504-520a7102f1cb",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "/phoneNumbers/\u002B8001111112?api-version=2021_03_07",
        "MS-CV": "fI/L6nrZZ0arixjQaYqNMg.0",
        "operation-id": "capabilities_f4971de0-e899-4fb1-9504-520a7102f1cb",
        "Operation-Location": "/phoneNumbers/operations/capabilities_f4971de0-e899-4fb1-9504-520a7102f1cb?api-version=2021_03_07",
        "X-Processing-Time": "51ms"
      },
      "ResponseBody": {
        "capabilitiesUpdateId": "f4971de0-e899-4fb1-9504-520a7102f1cb"
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.com/phoneNumbers/operations/capabilities_Sanitized?api-version=2021_03_07",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "/phoneNumbers/\u002B8001111112?api-version=2021_03_07",
        "MS-CV": "PUaE/YWznUKsl5Swyn/whw.0",
        "X-Processing-Time": "25ms"
      },
      "ResponseBody": {
        "status": "NotStarted",
        "resourceLocation": "/phoneNumbers/\u002B8001111112?api-version=2021_03_07",
        "createdDateTime": "2021-02-24T01:03:28.6018378\u002B00:00",
        "id": "Sanitized",
        "operationType": "UpdatePhoneNumberCapabilities",
        "lastActionDateTime": "0001-01-01T00:00:00\u002B00:00"
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.com/phoneNumbers/\u002B8001111112?api-version=2021_03_07",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "N32Ae0YioU\u002BxZoRynI9Jig.0",
        "X-Processing-Time": "33ms"
      },
      "ResponseBody": {
        "id": "Sanitized",
        "phoneNumber": "\u002B8001111112",
        "countryCode": "US",
        "phoneNumberType": "TollFree",
        "capabilities": {
          "calling": "outbound",
          "sms": "inbound\u002Boutbound"
        },
        "assignmentType": "Application"
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.com/phoneNumbers/%2B8001111112?api-version=2021_03_07",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "MS-CV": "WWbZ/Mr6e02I3GXrTW8Haw.0",
        "operation-id": "release_d33aa8f9-5127-45ce-a199-e49f2d342aa4",
        "Operation-Location": "/phoneNumbers/operations/release_d33aa8f9-5127-45ce-a199-e49f2d342aa4?api-version=2021_03_07",
        "release-id": "d33aa8f9-5127-45ce-a199-e49f2d342aa4",
        "X-Processing-Time": "26ms"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://sanitized.communication.azure.com/phoneNumbers/operations/release_Sanitized?api-version=2021_03_07",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "APreLR2q/UONn60VhoWvKw.0",
        "X-Processing-Time": "21ms"
      },
      "ResponseBody": {
        "status": "Running",
        "resourceLocation": null,
        "createdDateTime": "2021-02-24T01:03:35.0570568\u002B00:00",
        "id": "Sanitized",
        "operationType": "ReleasePhoneNumber",
        "lastActionDateTime": "0001-01-01T00:00:00\u002B00:00"
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.com/phoneNumbers?api-version=2021_03_07",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "wz9Y4csBhE2uwepOMGymJQ.0",
        "X-Processing-Time": "23ms"
      },
      "ResponseBody": {
        "phoneNumbers": []
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_CONNECTION_STRING": "endpoint=https://sanitized.communication.azure.com/;accesskey=Kg==",
    "RandomSeed": "681638112"
  }
}
