{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.com/availablePhoneNumbers/countries/US/:search?api-version=2021_03_07",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "phoneNumberType": "tollFree",
        "assignmentType": "application",
        "capabilities": {
          "calling": "none",
          "sms": "outbound"
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Location": "/availablePhoneNumbers/searchResults/7369fe4e-5e23-4674-8a76-f9f5257ef4a3?api-version=2021_03_07",
        "MS-CV": "vlDKJfbSuU2BFinZanKG3w.0",
        "operation-id": "search_7369fe4e-5e23-4674-8a76-f9f5257ef4a3",
        "Operation-Location": "/phoneNumbers/operations/search_7369fe4e-5e23-4674-8a76-f9f5257ef4a3?api-version=2021_03_07",
        "search-id": "7369fe4e-5e23-4674-8a76-f9f5257ef4a3",
        "X-Processing-Time": "18ms"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://sanitized.communication.azure.com/phoneNumbers/operations/search_Sanitized?api-version=2021_03_07",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "/availablePhoneNumbers/searchResults/7369fe4e-5e23-4674-8a76-f9f5257ef4a3?api-version=2021_03_07",
        "MS-CV": "CzvVxY1BXEioUfSqCDbY4w.0",
        "X-Processing-Time": "3ms"
      },
      "ResponseBody": {
        "status": "NotStarted",
        "resourceLocation": "/availablePhoneNumbers/searchResults/7369fe4e-5e23-4674-8a76-f9f5257ef4a3?api-version=2021_03_07",
        "createdDateTime": "2021-02-25T03:48:05.7121274\u002B00:00",
        "id": "Sanitized",
        "operationType": "Search",
        "lastActionDateTime": "0001-01-01T00:00:00\u002B00:00"
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.com/availablePhoneNumbers/searchResults/Sanitized?api-version=2021_03_07",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "yEJMi15Wq0ytiJR/\u002B6YV6w.0",
        "X-Processing-Time": "3ms"
      },
      "ResponseBody": {
        "searchId": "7369fe4e-5e23-4674-8a76-f9f5257ef4a3",
        "phoneNumbers": [
          "Sanitized"
        ],
        "phoneNumberType": "TollFree",
        "assignmentType": "Application",
        "capabilities": {
          "calling": "none",
          "sms": "outbound"
        },
        "cost": {
          "amount": 0.0,
          "currencyCode": "USD",
          "billingFrequency": "Monthly"
        },
        "searchExpiresBy": "2021-02-25T04:03:05.7121262\u002B00:00"
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.com/availablePhoneNumbers/:purchase?api-version=2021_03_07",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "searchId": "7369fe4e-5e23-4674-8a76-f9f5257ef4a3"
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "MS-CV": "OtadFRBlTESNUyu\u002BHwYeeA.0",
        "operation-id": "purchase_7369fe4e-5e23-4674-8a76-f9f5257ef4a3",
        "Operation-Location": "/phoneNumbers/operations/purchase_7369fe4e-5e23-4674-8a76-f9f5257ef4a3?api-version=2021_03_07",
        "purchase-id": "7369fe4e-5e23-4674-8a76-f9f5257ef4a3",
        "X-Processing-Time": "8ms"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://sanitized.communication.azure.com/phoneNumbers/operations/purchase_Sanitized?api-version=2021_03_07",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "BcQNIXkmgESOnEoeISKvzw.0",
        "X-Processing-Time": "2ms"
      },
      "ResponseBody": {
        "status": "NotStarted",
        "resourceLocation": null,
        "createdDateTime": "2021-02-25T03:48:05.7121274\u002B00:00",
        "id": "Sanitized",
        "operationType": "Purchase",
        "lastActionDateTime": "0001-01-01T00:00:00\u002B00:00"
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.com/phoneNumbers?api-version=2021_03_07",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "P1wCC3WSWUmevx\u002BjIDBO1g.0",
        "X-Processing-Time": "3ms"
      },
      "ResponseBody": {
        "phoneNumbers": [
          {
            "id": "Sanitized",
            "phoneNumber": "Sanitized",
            "countryCode": "US",
            "phoneNumberType": "TollFree",
            "capabilities": {
              "calling": "none",
              "sms": "outbound"
            },
            "assignmentType": "Application",
            "purchaseDate": "0001-01-01T00:00:00\u002B00:00",
            "cost": {
              "amount": 0.0,
              "currencyCode": "USD",
              "billingFrequency": "Monthly"
            }
          },
          {
            "id": "Sanitized",
            "phoneNumber": "Sanitized",
            "countryCode": "US",
            "phoneNumberType": "TollFree",
            "capabilities": {
              "calling": "none",
              "sms": "outbound"
            },
            "assignmentType": "Applic[...]
    {
      "RequestUri": "https://sanitized.communication.azure.com/phoneNumbers/Sanitized/capabilities?api-version=2021_03_07",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": "{\u0022calling\u0022:\u0022outbound\u0022,\u0022sms\u0022:\u0022inbound\u002Boutbound\u0022}",
      "StatusCode": 202,
      "ResponseHeaders": {
        "capabilities-id": "b74a0fae-35fe-4cfd-9c73-f31a0fc75024",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "/phoneNumbers/\u002BSanitized?api-version=2021_03_07",
        "MS-CV": "YDM7NNo48US\u002BAQsZum/1ng.0",
        "operation-id": "capabilities_b74a0fae-35fe-4cfd-9c73-f31a0fc75024",
        "Operation-Location": "/phoneNumbers/operations/capabilities_b74a0fae-35fe-4cfd-9c73-f31a0fc75024?api-version=2021_03_07",
        "X-Processing-Time": "9ms"
      },
      "ResponseBody": {
        "capabilitiesUpdateId": "b74a0fae-35fe-4cfd-9c73-f31a0fc75024"
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.com/phoneNumbers/operations/capabilities_Sanitized?api-version=2021_03_07",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "/phoneNumbers/\u002BSanitized?api-version=2021_03_07",
        "MS-CV": "oVrzDVlTQUOBc8xf0Z0qUQ.0",
        "X-Processing-Time": "2ms"
      },
      "ResponseBody": {
        "status": "NotStarted",
        "resourceLocation": "/phoneNumbers/Sanitized?api-version=2021_03_07",
        "createdDateTime": "2021-02-25T03:48:22.1314363\u002B00:00",
        "id": "Sanitized",
        "operationType": "UpdatePhoneNumberCapabilities",
        "lastActionDateTime": "0001-01-01T00:00:00\u002B00:00"
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.com/phoneNumbers/\u002BSanitized?api-version=2021_03_07",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "/Hl7Aok9VEG1hdmAfganOQ.0",
        "X-Processing-Time": "2ms"
      },
      "ResponseBody": {
        "id": "Sanitized",
        "phoneNumber": "Sanitized",
        "countryCode": "US",
        "phoneNumberType": "TollFree",
        "capabilities": {
          "calling": "outbound",
          "sms": "inbound\u002Boutbound"
        },
        "assignmentType": "Application",
        "purchaseDate": "0001-01-01T00:00:00\u002B00:00",
        "cost": {
          "amount": 0.0,
          "currencyCode": "USD",
          "billingFrequency": "Monthly"
        }
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.com/phoneNumbers/Sanitized?api-version=2021_03_07",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "MS-CV": "Iy22oAlvwUu2bgJY6avr1A.0",
        "operation-id": "release_233b0452-dcc6-4b9d-acff-bb00224146e4",
        "Operation-Location": "/phoneNumbers/operations/release_233b0452-dcc6-4b9d-acff-bb00224146e4?api-version=2021_03_07",
        "release-id": "233b0452-dcc6-4b9d-acff-bb00224146e4",
        "X-Processing-Time": "2ms"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://sanitized.communication.azure.com/phoneNumbers/operations/release_Sanitized?api-version=2021_03_07",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "\u002BeaFx3SyTUeklIuPprJ1SQ.0",
        "X-Processing-Time": "1ms"
      },
      "ResponseBody": {
        "status": "NotStarted",
        "resourceLocation": null,
        "createdDateTime": "2021-02-25T03:48:28.3137144\u002B00:00",
        "id": "Sanitized",
        "operationType": "ReleasePhoneNumber",
        "lastActionDateTime": "0001-01-01T00:00:00\u002B00:00"
      }
    },
[...]
