{
  "Entries": [
    {
      "RequestUri": "/subscriptions/075423e9-7d33-4166-8bdf-3920b04e3735/resourceGroups/ResourceGroup-CUS/providers/Microsoft.Security/iotSecuritySolutions/IotHub-CUS/analyticsModels/default/aggregatedRecommendations?api-version=2019-08-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-resource-requests": [
          "749"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/075423e9-7d33-4166-8bdf-3920b04e3735/resourceGroups/resourcegroup-cus/providers/Microsoft.Security/IoTSecuritySolutions/Locations/centralus/default/IoT_OpenPorts\",\r\n      \"name\": \"/subscriptions/075423e9-7d33-4166-8bdf-3920b04e3735/resourceGroups/resourcegroup-cus/providers/Microsoft.Security/IoTSecuritySolutions/Locations/centralus/default/IoT_OpenPorts\",\r\n      \"type\": \"Microsoft.Security/IoTSecurityAggregatedRecommendation\",\r\n      \"properties\": {\r\n        \"recommendationName\": \"IoT_OpenPorts\",\r\n        \"recommendationDisplayName\": \"Device has open ports\",\r\n        \"recommendationTypeId\": \"\",\r\n        \"detectedBy\": \"IoTSecurity\",\r\n        \"healthyDevices\": 0,\r\n        \"unhealthyDeviceCount\": 1,\r\n        \"remediationSteps\": \"Review open ports on the device and make sure they belong to legitimate and necessary processes for the device to function correctly.\",\r\n        \"reportedSeverity\": \"Medium\",\r\n        \"description\": \"Found a listening endpoint on the device.\",\r\n        \"logAnalyticsQuery\": \"SecurityRecommendation | where tolower(AssessedResourceId) == tolower('/subscriptions/075423e9-7d33-4166-8bdf-3920b04e3735/resourcegroups/resourcegroup-cus/providers/microsoft.devices/iothubs/iothub-cus') and tolower(RecommendationName) == tolower('IoT_OpenPorts')\"\r\n      }\r\n    },\r\n    {\r\n      \"id\": \"/subscriptions/075423e9-7d33-4166-8bdf-3920b04e3735/resourceGroups/resourcegroup-cus/providers/Microsoft.Security/IoTSecuritySolutions/Locations/centralus/default/IoT_PermissiveFire[...]
