{
  "Entries": [
    {
      "RequestUri": "https://sdk-test-comm.int.communication.azure.net/emails:send?api-version=2021-10-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "repeatability-first-sent": "Sanitized",
        "repeatability-request-id": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 29 Dec 2022 00:16:46 GMT"
      },
      "RequestBody": {
        "sender": "DoNotReply@aa8c2c80-11ae-48b6-bb2a-783fd5aafaa1.azurecomm-dev.net",
        "content": {
          "subject": "This is the subject",
          "plainText": "This is the body"
        },
        "recipients": {
          "to": [
            {
              "email": "acseaastesting@gmail.com",
              "displayName": "Customer Name"
            }
          ]
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "api-supported-versions": "2021-10-01-preview",
        "mise-correlation-id": "6878f9fe-6ace-4d1e-b07f-7449f854c543",
        "Operation-Location": "https://sdk-test-comm.int.communication.azure.net/emails/2f760059-a3a7-438d-9983-d054cdee9120/status",
        "Repeatability-Result": "accepted"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://sdk-test-comm.int.communication.azure.net/emails/2f760059-a3a7-438d-9983-d054cdee9120/status?api-version=2021-10-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 29 Dec 2022 00:16:47 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-10-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "c3e56404-c4c0-4e16-a907-99c2e21736df",
        "Retry-After": "60"
      },
      "ResponseBody": {
        "messageId": "2f760059-a3a7-438d-9983-d054cdee9120",
        "status": "Queued"
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_CONNECTION_STRING_EMAIL": "endpoint=https://sdk-test-comm.int.communication.azure.net/;accesskey=Kg==",
    "RandomSeed": "649218865",
    "RECIPIENT_ADDRESS": "acseaastesting@gmail.com",
    "SENDER_ADDRESS": "DoNotReply@aa8c2c80-11ae-48b6-bb2a-783fd5aafaa1.azurecomm-dev.net"
  }
}
