{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.com/emails:send?api-version=2023-01-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Operation-Id": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 23 Feb 2023 23:57:11 GMT"
      },
      "RequestBody": {
        "senderAddress": "donotreply@3773742c-28d1-4e0a-89b2-1678f84745e6.azurecomm-dev.net",
        "content": {
          "subject": "This is the subject",
          "plainText": "This is the body",
          "html": "\u003Chtml\u003E\u003Cbody\u003EThis is the html body\u003C/body\u003E\u003C/html\u003E"
        },
        "recipients": {
          "to": [
            {
              "address": "acseaastesting@gmail.com",
              "displayName": ""
            }
          ]
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "api-supported-versions": "2021-10-01-preview, 2023-01-15-preview",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "6071cc34-b5f4-461e-a60f-f6436fb26f86",
        "Operation-Location": "https://sanitized.communication.azure.com/emails/operations/sanitizedId?api-version=2023-01-15-preview",
        "Retry-After": "30"
      },
      "ResponseBody": {
        "id": "4107e389-5b0a-4e8c-be69-e51bf0b401c9",
        "status": "Running",
        "error": null
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.com/emails/operations/sanitizedId?api-version=2023-01-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 23 Feb 2023 23:57:11 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-10-01-preview, 2023-01-15-preview",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "483b4a7f-6eb8-435c-9dd0-81307ce44972",
        "Retry-After": "30"
      },
      "ResponseBody": {
        "id": "4107e389-5b0a-4e8c-be69-e51bf0b401c9",
        "status": "Running",
        "error": null
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.com/emails/operations/sanitizedId?api-version=2023-01-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 23 Feb 2023 23:57:41 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-10-01-preview, 2023-01-15-preview",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "e526945b-8b54-4658-b517-2778b4cac784"
      },
      "ResponseBody": {
        "id": "4107e389-5b0a-4e8c-be69-e51bf0b401c9",
        "status": "Succeeded",
        "error": null
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_CONNECTION_STRING_EMAIL": "endpoint=https://acs-email-functional-test-acs-resource.int.communication.azure.net/;accesskey=Kg==",
    "RandomSeed": "750060909",
    "RECIPIENT_ADDRESS": "acseaastesting@gmail.com",
    "SENDER_ADDRESS": "donotreply@3773742c-28d1-4e0a-89b2-1678f84745e6.azurecomm-dev.net"
  }
}
