{
  "Entries": [
    {
      "RequestUri": "https://emailsdktestingacs.communication.azure.com/emails:send?api-version=2021-10-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "repeatability-first-sent": "Sanitized",
        "repeatability-request-id": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 23 May 2022 18:55:45 GMT"
      },
      "RequestBody": {
        "sender": "DoNotReply@c9d0862a-c699-4a7b-b840-5e091ce5d628.azurecomm.net",
        "content": {
          "subject": "This is the subject",
          "plainText": "This is the body"
        },
        "recipients": {
          "to": [
            {
              "email": "ACSFunctionalTest@outlook.com",
              "displayName": "Customer Name"
            },
            {
              "email": "ACSFunctionalTest@outlook.com",
              "displayName": "Customer Name"
            }
          ],
          "CC": [
            {
              "email": "ACSFunctionalTest@outlook.com",
              "displayName": "Customer Name"
            },
            {
              "email": "ACSFunctionalTest@outlook.com",
              "displayName": "Customer Name"
            }
          ],
          "bCC": [
            {
              "email": "ACSFunctionalTest@outlook.com",
              "displayName": "Customer Name"
            },
            {
              "email": "ACSFunctionalTest@outlook.com",
              "displayName": "Customer Name"
            }
          ]
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "api-supported-versions": "2021-10-01-preview",
        "Operation-Location": "https://emailsdktestingacs.communication.azure.com/emails/e4722d64-fdb8-4b76-886c-dcd87727d3e5/status",
        "Repeatability-Result": "accepted"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "AZURE_MANAGED_FROM_EMAIL_ADDRESS": "DoNotReply@c9d0862a-c699-4a7b-b840-5e091ce5d628.azurecomm.net",
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://emailsdktestingacs.communication.azure.com/;accesskey=Kg==",
    "RandomSeed": "1107718268",
    "TO_EMAIL_ADDRESS": "ACSFunctionalTest@outlook.com"
  }
}
