{
  "Entries": [
    {
      "RequestUri": "/providers/Microsoft.Billing/enrollmentAccounts/465c11a0-38c3-4ecc-92e9-996c69ae9e76/providers/Microsoft.Subscription/createSubscription?api-version=2019-10-01-preview",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"displayName\": \"TestSubscription_AzureSDK\",\r\n  \"offerType\": \"MS-AZR-0017P\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Retry-After": [
          "10"
        ],
        "api-supported-versions": [
          "2019-10-01-preview"
        ],
        "x-ms-ratelimit-remaining-tenant-writes": [
          "1199"
        ],
        "Location": [
          "https://api-dogfood.resources.windows-int.net/providers/Microsoft.Subscription/subscriptionOperations/599f8500-c2b8-4b4b-9295-d563e3b554dd?api-version=2019-10-01-preview"
        ]
      },
      "StatusCode": 202
    },
    {
      "RequestUri": "/providers/Microsoft.Subscription/subscriptionOperations/599f8500-c2b8-4b4b-9295-d563e3b554dd?api-version=2019-10-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"subscriptionLink\": \"/subscriptions/0b32443b-93cf-48f0-b003-7e4d6b968946\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "api-supported-versions": [
          "2019-10-01-preview"
        ],
        "x-ms-ratelimit-remaining-tenant-reads": [
          "14999"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/providers/Microsoft.Subscription/subscriptionOperations/599f8500-c2b8-4b4b-9295-d563e3b554dd?api-version=2019-10-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"subscriptionLink\": \"/subscriptions/29165a61-87c6-47fe-adc1-4260ff9420a0\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "api-supported-versions": [
          "2019-10-01-preview"
        ],
        "x-ms-ratelimit-remaining-tenant-reads": [
          "14998"
        ]
      },
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "df8cd511-7137-41f2-b2e9-48dc00a0b70f"
  }
}