{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/e815e305-b43a-49c4-8b1a-4e61f1aec1e8?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11992"
      },
      "ResponseBody": {
        "id": "/subscriptions/e815e305-b43a-49c4-8b1a-4e61f1aec1e8",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "NRMSBreakGlass": "299334392"
        },
        "subscriptionId": "e815e305-b43a-49c4-8b1a-4e61f1aec1e8",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": "WANTeam-Subscription-2",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/e815e305-b43a-49c4-8b1a-4e61f1aec1e8/providers/Microsoft.Peering/peerAsns/peerAsn3297?api-version=2022-10-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "peerAsn": 14544980,
          "peerContactDetail": [
            {
              "role": "Noc",
              "email": "noc65003@contoso.com",
              "phone": "8888988888"
            }
          ],
          "peerName": "peerAsn3297"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "92"
      },
      "ResponseBody": {
        "properties": {
          "peerAsn": 14544980,
          "peerContactDetail": [
            {
              "role": "Noc",
              "email": "noc65003@contoso.com",
              "phone": "8888988888"
            }
          ],
          "peerName": "peerAsn3297",
          "validationState": "Pending"
        },
        "name": "peerAsn3297",
        "id": "/subscriptions/e815e305-b43a-49c4-8b1a-4e61f1aec1e8/providers/Microsoft.Peering/peerAsns/peerAsn3297",
        "type": "Microsoft.Peering/peerAsns"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/e815e305-b43a-49c4-8b1a-4e61f1aec1e8/providers/Microsoft.Peering/peerAsns?api-version=2022-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "577"
      },
      "ResponseBody": {
        "value": [
          {
            "properties": {
              "peerAsn": 14544980,
              "peerContactDetail": [
                {
                  "role": "Noc",
                  "email": "noc65003@contoso.com",
                  "phone": "8888988888"
                }
              ],
              "peerName": "peerAsn3297",
              "validationState": "Pending"
            },
            "name": "peerAsn3297",
            "id": "/subscriptions/e815e305-b43a-49c4-8b1a-4e61f1aec1e8/providers/Microsoft.Peering/peerAsns/peerAsn3297",
            "type": "Microsoft.Peering/peerAsns"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/e815e305-b43a-49c4-8b1a-4e61f1aec1e8/providers/Microsoft.Peering/peerAsns?api-version=2022-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "576"
      },
      "ResponseBody": {
        "value": []
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.windows.net",
    "RandomSeed": "1513884566",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "e815e305-b43a-49c4-8b1a-4e61f1aec1e8"
  }
}
