{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/a9280d5f-f9ab-436e-90cb-b6b9863c5551?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11985"
      },
      "ResponseBody": {
        "id": "/subscriptions/a9280d5f-f9ab-436e-90cb-b6b9863c5551",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "subscriptionId": "a9280d5f-f9ab-436e-90cb-b6b9863c5551",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": "ASME_RestonAzureStackEdge_Test",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/a9280d5f-f9ab-436e-90cb-b6b9863c5551/resourcegroups/hci-cluster-rg4401?api-version=2021-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1181"
      },
      "ResponseBody": {
        "id": "/subscriptions/a9280d5f-f9ab-436e-90cb-b6b9863c5551/resourceGroups/hci-cluster-rg4401",
        "name": "hci-cluster-rg4401",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/a9280d5f-f9ab-436e-90cb-b6b9863c5551/resourceGroups/hci-cluster-rg4401/providers/Microsoft.AzureStackHCI/clusters/hci-cluster1512?api-version=2022-12-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "eastus",
        "properties": {
          "aadClientId": "8bf9c1c9-db8d-4424-ab87-18e95120854c",
          "aadTenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47"
        },
        "identity": {
          "type": "None"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022ee009199-0000-0100-0000-63ef7a820000\u0022",
        "mise-correlation-id": "5010bedd-fdf3-450e-830c-a54778d5f922",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-writes": "1180"
      },
      "ResponseBody": {
        "id": "/subscriptions/a9280d5f-f9ab-436e-90cb-b6b9863c5551/resourceGroups/hci-cluster-rg4401/providers/Microsoft.AzureStackHCI/clusters/hci-cluster1512",
        "name": "hci-cluster1512",
        "type": "microsoft.azurestackhci/clusters",
        "location": "eastus",
        "tags": {},
        "systemData": {
          "createdBy": "8bf9c1c9-db8d-4424-ab87-18e95120854c",
          "createdByType": "Application",
          "createdAt": "2023-02-17T13:00:49.678861Z",
          "lastModifiedBy": "8bf9c1c9-db8d-4424-ab87-18e95120854c",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2023-02-17T13:00:49.678861Z"
        },
        "identity": {
          "type": "None"
        },
        "properties": {
          "provisioningState": "Succeeded",
          "status": "NotYetRegistered",
          "cloudId": "5b765c27-431f-45aa-ac6e-50d92f335971",
          "aadClientId": "8bf9c1c9-db8d-4424-ab87-18e95120854c",
          "aadTenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
          "softwareAssuranceProperties": {
            "softwareAssuranceStatus": "Disabled",
            "softwareAssuranceIntent": "Disable"
          },
          "desiredProperties": {
            "windowsServerSubscription": "Disabled",
            "diagnosticLevel": "Basic"
          },
          "trialDaysRemaining": 60,
          "billingModel": "Trial",
          "serviceEndpoint": "https://dp.stackhci.azure.com/eastus/",
          "resourceProviderObjectId": "f57be460-ae5d-444a-9317-bbfa416ab4b9"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/a9280d5f-f9ab-436e-90cb-b6b9863c5551/resourceGroups/hci-cluster-rg4401/providers/Microsoft.AzureStackHCI/clusters/hci-cluster1512/arcSettings/default?api-version=2022-12-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/a9280d5f-f9ab-436e-90cb-b6b9863c5551/resourceGroups/hci-cluster-rg4401/providers/Microsoft.AzureStackHCI/clusters/hci-cluster1512/arcSettings/default?api-version=2022-12-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "connectivityProperties": {
            "enabled": false
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002253006dc3-0000-0100-0000-63ef7a830000\u0022",
        "mise-correlation-id": "89e4d201-f2fa-4a9d-be6e-75c43c1f1687",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-writes": "1178"
      },
      "ResponseBody": {
        "id": "/subscriptions/a9280d5f-f9ab-436e-90cb-b6b9863c5551/resourceGroups/hci-cluster-rg4401/providers/Microsoft.AzureStackHCI/clusters/hci-cluster1512/arcSettings/default",
        "name": "default",
        "type": "microsoft.azurestackhci/clusters/arcsettings",
        "systemData": {
          "createdBy": "8bf9c1c9-db8d-4424-ab87-18e95120854c",
          "createdByType": "Application",
          "createdAt": "2023-02-17T13:00:50.5851445Z",
          "lastModifiedBy": "8bf9c1c9-db8d-4424-ab87-18e95120854c",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2023-02-17T13:00:51.1789161Z"
        },
        "properties": {
          "connectivityProperties": {
            "enabled": false
          },
          "provisioningState": "Succeeded",
          "arcInstanceResourceGroup": "hci-cluster1512-5b765c27-431f-45aa-ac6e-50d92f335971-Arc-Infra-RG",
          "aggregateState": "NotSpecified"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/a9280d5f-f9ab-436e-90cb-b6b9863c5551/resourceGroups/hci-cluster-rg4401/providers/Microsoft.AzureStackHCI/clusters/hci-cluster1512/arcSettings/default?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002253006dc3-0000-0100-0000-63ef7a830000\u0022",
        "mise-correlation-id": "c6683b31-ce39-4a2a-997f-0990ec2d0427",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-reads": "11984"
      },
      "ResponseBody": {
        "id": "/subscriptions/a9280d5f-f9ab-436e-90cb-b6b9863c5551/resourceGroups/hci-cluster-rg4401/providers/Microsoft.AzureStackHCI/clusters/hci-cluster1512/arcSettings/default",
        "name": "default",
        "type": "microsoft.azurestackhci/clusters/arcsettings",
        "properties": {
          "connectivityProperties": {
            "enabled": false
          },
          "provisioningState": "Succeeded",
          "arcInstanceResourceGroup": "hci-cluster1512-5b765c27-431f-45aa-ac6e-50d92f335971-Arc-Infra-RG",
          "aggregateState": "NotSpecified",
          "perNodeDetails": []
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/a9280d5f-f9ab-436e-90cb-b6b9863c5551/resourceGroups/hci-cluster-rg4401/providers/Microsoft.AzureStackHCI/clusters/hci-cluster1512/arcSettings/default?api-version=2022-12-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "mise-correlation-id": "4083868e-0f9d-4533-b01c-b6af01bfb6c5",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-deletes": "14998"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "CLIENT_ID": "8bf9c1c9-db8d-4424-ab87-18e95120854c",
    "RandomSeed": "1145178027",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "a9280d5f-f9ab-436e-90cb-b6b9863c5551",
    "TENANT_ID": "72f988bf-86f1-41af-91ab-2d7cd011db47"
  }
}
