{"Entries": [{"RequestUri": "//storage/updatesas01?api-version=7.0", "EncodedRequestUri": "Ly9zdG9yYWdlL3VwZGF0ZXNhczAxP2FwaS12ZXJzaW9uPTcuMA==", "RequestMethod": "PUT", "RequestBody": "{\r\n  \"resourceId\": \"/subscriptions/76fb41ba-5387-4dff-89f5-24ae457ade99/resourceGroups/kvstoragetestrg/providers/Microsoft.Storage/storageAccounts/azkvteststorage1westus\",\r\n  \"activeKeyName\": \"key1\",\r\n  \"autoRegenerateKey\": true,\r\n  \"regenerationPeriod\": \"P30D\",\r\n  \"attributes\": {\r\n    \"enabled\": true\r\n  }\r\n}", "RequestHeaders": {"Content-Type": ["application/json; charset=utf-8"], "Content-Length": ["310"], "x-ms-client-request-id": ["6c373659-22ae-45d4-b06c-fead5dd31702"], "accept-language": ["en-US"], "User-Agent": ["FxVersion/4.6.25211.01", "Microsoft.Azure.KeyVault.KeyVaultClient/2.3.1.0"]}, "ResponseBody": "{\r\n  \"id\": \"https://storage-sdk-test.vault-int.azure-int.net/storage/updatesas01\",\r\n  \"resourceId\": \"/subscriptions/76fb41ba-5387-4dff-89f5-24ae457ade99/resourceGroups/kvstoragetestrg/providers/Microsoft.Storage/storageAccounts/azkvteststorage1westus\",\r\n  \"activeKeyName\": \"key1\",\r\n  \"autoRegenerateKey\": true,\r\n  \"regenerationPeriod\": \"P30D\",\r\n  \"attributes\": {\r\n    \"enabled\": true,\r\n    \"created\": 1495057360,\r\n    \"updated\": 1495057360\r\n  }\r\n}", "ResponseHeaders": {"Content-Length": ["390"], "Content-Type": ["application/json; charset=utf-8"], "Expires": ["-1"], "Cache-Control": ["no-cache"], "Date": ["Wed, 17 May 2017 21:42:40 GMT"], "Pragma": ["no-cache"], "Server": ["Microsoft-IIS/8.5"], "x-ms-keyvault-region": ["eastus2"], "x-ms-request-id": ["6d4787bb-196a-4baa-92b3-7f1f418051c9"], "x-ms-keyvault-service-version": ["1.0.0.1201"], "X-AspNet-Version": ["4.0.30319"], "X-Powered-By": ["ASP.NET"], "Strict-Transport-Security": ["max-age=31536000;includeSubDomains"], "X-Content-Type-Options": ["nosniff"]}, "StatusCode": 200}, {"RequestUri": "//storage/updatesas01/sas/updateStrgSasDef01?api-version=7.0", "EncodedRequestUri": "Ly9zdG9yYWdlL3VwZGF0ZXNhczAxL3Nhcy91cGRhdGVTdHJnU2FzRGVmMDE/YXBpLXZlcnNpb249Ny4w", "RequestMethod": "PUT", "RequestBody": "{\r\n  \"parameters\": {\r\n    \"sasType\": \"account\",\r\n    \"signedProtocols\": \"https\",\r\n    \"signedServices\": \"bq\",\r\n    \"signedResourceTypes\": \"myresource\",\r\n    \"signedPermissions\": \"rw\",\r\n    \"signedVersion\": \"2016-05-31\",\r\n    \"validityPeriod\": \"PT10H\"\r\n  },\r\n  \"attributes\": {\r\n    \"enabled\": true\r\n  }\r\n}", "RequestHeaders": {"Content-Type": ["application/json; charset=utf-8"], "Content-Length": ["304"], "x-ms-client-request-id": ["cd6006a6-3a4a-444f-bf09-68d672aa3f6c"], "accept-language": ["en-US"], "User-Agent": ["FxVersion/4.6.25211.01", "Microsoft.Azure.KeyVault.KeyVaultClient/2.3.1.0"]}, "ResponseBody": "{\r\n  \"id\": \"https://storage-sdk-test.vault-int.azure-int.net/storage/updatesas01/sas/updateStrgSasDef01\",\r\n  \"sid\": \"https://storage-sdk-test.vault-int.azure-int.net/secrets/updatesas01-updateStrgSasDef01\",\r\n  \"parameters\": {\r\n    \"sasType\": \"account\",\r\n    \"signedProtocols\": \"https\",\r\n    \"signedServices\": \"bq\",\r\n    \"signedResourceTypes\": \"myresource\",\r\n    \"signedPermissions\": \"rw\",\r\n    \"signedVersion\": \"2016-05-31\",\r\n    \"validityPeriod\": \"PT10H\"\r\n  },\r\n  \"attributes\": {\r\n    \"enabled\": true,\r\n    \"created\": 1495057361,\r\n    \"updated\": 14[...]
