{"Entries": [{"RequestUri": "//storage/deleteStrg01?api-version=7.0", "EncodedRequestUri": "Ly9zdG9yYWdlL2RlbGV0ZVN0cmcwMT9hcGktdmVyc2lvbj03LjA=", "RequestMethod": "PUT", "RequestBody": "{\r\n  \"resourceId\": \"/subscriptions/76fb41ba-5387-4dff-89f5-24ae457ade99/resourceGroups/kvstoragetestrg/providers/Microsoft.Storage/storageAccounts/azkvteststorage1westus\",\r\n  \"activeKeyName\": \"key1\",\r\n  \"autoRegenerateKey\": true,\r\n  \"regenerationPeriod\": \"P30D\",\r\n  \"attributes\": {\r\n    \"enabled\": true\r\n  }\r\n}", "RequestHeaders": {"Content-Type": ["application/json; charset=utf-8"], "Content-Length": ["310"], "x-ms-client-request-id": ["69e442ca-4c79-4826-a2b2-c50c652efc40"], "accept-language": ["en-US"], "User-Agent": ["FxVersion/4.6.25211.01", "Microsoft.Azure.KeyVault.KeyVaultClient/2.3.1.0"]}, "ResponseBody": "{\r\n  \"id\": \"https://storage-sdk-test.vault-int.azure-int.net/storage/deleteStrg01\",\r\n  \"resourceId\": \"/subscriptions/76fb41ba-5387-4dff-89f5-24ae457ade99/resourceGroups/kvstoragetestrg/providers/Microsoft.Storage/storageAccounts/azkvteststorage1westus\",\r\n  \"activeKeyName\": \"key1\",\r\n  \"autoRegenerateKey\": true,\r\n  \"regenerationPeriod\": \"P30D\",\r\n  \"attributes\": {\r\n    \"enabled\": true,\r\n    \"created\": 1495057309,\r\n    \"updated\": 1495057309\r\n  }\r\n}", "ResponseHeaders": {"Content-Length": ["391"], "Content-Type": ["application/json; charset=utf-8"], "Expires": ["-1"], "Cache-Control": ["no-cache"], "Date": ["Wed, 17 May 2017 21:41:48 GMT"], "Pragma": ["no-cache"], "Server": ["Microsoft-IIS/8.5"], "x-ms-keyvault-region": ["eastus2"], "x-ms-request-id": ["ddf5d420-95b4-4460-85b7-21348c996301"], "x-ms-keyvault-service-version": ["1.0.0.1201"], "X-AspNet-Version": ["4.0.30319"], "X-Powered-By": ["ASP.NET"], "Strict-Transport-Security": ["max-age=31536000;includeSubDomains"], "X-Content-Type-Options": ["nosniff"]}, "StatusCode": 200}, {"RequestUri": "//storage/deleteStrg01?api-version=7.0", "EncodedRequestUri": "Ly9zdG9yYWdlL2RlbGV0ZVN0cmcwMT9hcGktdmVyc2lvbj03LjA=", "RequestMethod": "DELETE", "RequestBody": "", "RequestHeaders": {"x-ms-client-request-id": ["f2c6994b-f6c2-4558-ba23-a93c5f1a572b"], "accept-language": ["en-US"], "User-Agent": ["FxVersion/4.6.25211.01", "Microsoft.Azure.KeyVault.KeyVaultClient/2.3.1.0"]}, "ResponseBody": "{\r\n  \"id\": \"https://storage-sdk-test.vault-int.azure-int.net/storage/deleteStrg0[...]
