{"Entries": [{"RequestUri": "/keys/sdktestkey//wrapkey?api-version=7.0", "EncodedRequestUri": "L2tleXMvc2RrdGVzdGtleS8vd3JhcGtleT9hcGktdmVyc2lvbj03LjA=", "RequestMethod": "POST", "RequestBody": "{\r\n  \"alg\": \"RSA-OAEP\",\r\n  \"value\": \"Z9xfIPYUMHDxlwqoy5K1agdQxLcjloese4fLgzezhj4\"\r\n}", "RequestHeaders": {"Content-Type": ["application/json; charset=utf-8"], "Content-Length": ["84"], "x-ms-client-request-id": ["741f6211-0112-46bf-93de-8c7e3483131d"], "accept-language": ["en-US"], "User-Agent": ["FxVersion/4.6.24709.01", "Microsoft.Azure.KeyVault.KeyVaultClient/2.0.6"]}, "ResponseBody": "{\r\n  \"kid\": \"https://testvault1021.vault.azure.net/keys/sdktestkey/4eb68492b5f6421e835d961ad2be3155\",\r\n  \"value\": \"W1qgvoCKTsGUBQdjC4ON5mpslhcPoz6GzXn_63uaw-5hm3jYemT5VDJnCyJRSJfUNoXpS1KgWFw-gBiLDx2CAkIJq6TEPPQz89QAcD7_agz1JYRuy54raTeBeIVnrTlQmkPpUoMIlbV8Mm3c7VeJKSi60L9sOOHU72INMIXZ7wVrUL0H0FMAneuhdi5GOV1ajrvCrL5JAB22h2IEsGaaBOoc8k_DAtcmxTWWFOp3p4U2G14vMniU6IP4J5Co8zZbjNCTMsFcycspxq632jcS2_TvPEJSzkFNB29dY5WcGfBQ706D60gvSMh7cJYG0qC_3RtrqQQuvBmOnDI1-syyZw\"\r\n}", "ResponseHeaders": {"Content-Length": ["449"], "Content-Type": ["application/json; charset=utf-8"], "Expires": ["-1"], "Cache-Control": ["no-cache"], "Date": ["Mon, 19 Dec 2016 23:09:12 GMT"], "Pragma": ["no-cache"], "Server": ["Microsoft-IIS/8.5"], "x-ms-keyvault-region": ["eastus"], "x-ms-request-id": ["a51b35f8-65f3-4225-8732-d6d522d6b4fa"], "x-ms-keyvault-service-version": ["1.0.0.793"], "X-AspNet-Version": ["4.0.30319"], "X-Powered-By": ["ASP.NET"], "Strict-Transport-Security": ["max-age=31536000;includeSubDomains"], "X-Content-Type-Options": ["nosniff"]}, "StatusCode": 200}, {"RequestUri": "/keys/sdktestkey/4eb68492b5f6421e835d961ad2be3155/unwrapkey?api-version=7.0", "EncodedRequestUri": "L2tleXMvc2RrdGVzdGtleS80ZWI2ODQ5MmI1ZjY0MjFlODM1ZDk2MWFkMmJlMzE1NS91bndyYXBrZXk/YXBpLXZlcnNpb249Ny4w", "RequestMethod": "POST", "RequestBody": "{\r\n  \"alg\": \"RSA-OAEP\",\r\n  \"value\": \"W1qgvoCKTsGUBQdjC4ON5mpslhcPoz6GzXn_63uaw-5hm3jYemT5VDJnCyJRSJfUNoXpS1KgWFw-gBiLDx2CAkIJq6TEPPQz89QAcD7_agz1JYRuy54raTeBeIVnrTlQmkPpUoMIlbV8Mm3c7VeJKSi60L9sOOHU72INMIXZ7wVrUL0H0FMAneuhd[...]
