{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/264e9200-2944-4334-9a02-721e6268b55f?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11992"
      },
      "ResponseBody": {
        "id": "/subscriptions/264e9200-2944-4334-9a02-721e6268b55f",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "NRMS15767759": "20230530",
          "NRMS14293353": "20221028"
        },
        "subscriptionId": "264e9200-2944-4334-9a02-721e6268b55f",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": "EnS-Velma-Fengy-NonProd",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/264e9200-2944-4334-9a02-721e6268b55f/resourcegroups/testRg5178?api-version=**",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1184"
      },
      "ResponseBody": {
        "id": "/subscriptions/264e9200-2944-4334-9a02-721e6268b55f/resourceGroups/testRg5178",
        "name": "testRg5178",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/264e9200-2944-4334-9a02-721e6268b55f/resourceGroups/testRg5178/providers/Microsoft.IoTFirmwareDefense/workspaces/resource9915?api-version=2023-02-08-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "eastus",
        "properties": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022840085ff-0000-0100-0000-646e30760000\u0022",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-writes": "1183"
      },
      "ResponseBody": {
        "id": "/subscriptions/264e9200-2944-4334-9a02-721e6268b55f/resourceGroups/testRg5178/providers/Microsoft.IoTFirmwareDefense/workspaces/resource9915",
        "name": "resource9915",
        "type": "microsoft.iotfirmwaredefense/workspaces",
        "location": "eastus",
        "tags": {},
        "systemData": {
          "createdBy": "7b16e1fa-ea98-4de3-bf0e-c580630393bd",
          "createdByType": "Application",
          "createdAt": "2023-05-24T15:42:46.1578106Z",
          "lastModifiedBy": "7b16e1fa-ea98-4de3-bf0e-c580630393bd",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2023-05-24T15:42:46.1578106Z"
        },
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/264e9200-2944-4334-9a02-721e6268b55f/resourceGroups/testRg5178/providers/Microsoft.IoTFirmwareDefense/workspaces/resource9915?api-version=2023-02-08-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-failure-cause": "gateway"
      },
      "ResponseBody": {
        "error": {
          "code": "ResourceNotFound",
          "message": "The Resource \u0027Microsoft.IoTFirmwareDefense/workspaces/resource9915\u0027 under resource group \u0027testRg5178\u0027 was not found. For more details please go to https://aka.ms/ARMResourceNotFoundFix"
        }
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "RandomSeed": "331346167",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "264e9200-2944-4334-9a02-721e6268b55f"
  }
}
