// <auto-generated>
// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See License.txt in the project root for
// license information.
//
// Code generated by Microsoft (R) AutoRest Code Generator.
// Changes may cause incorrect behavior and will be lost if the code is
// regenerated.
// </auto-generated>

namespace Microsoft.Azure.Management.Authorization
{
    using Microsoft.Rest;
    using Microsoft.Rest.Azure;
    using Microsoft.Rest.Azure.OData;
    using Models;
    using System.Threading;
    using System.Threading.Tasks;

    /// <summary>
    /// Extension methods for RoleEligibilityScheduleRequestsOperations.
    /// </summary>
    public static partial class RoleEligibilityScheduleRequestsOperationsExtensions
    {
            /// <summary>
            /// Creates a role eligibility schedule request.
            /// </summary>
            /// <param name='operations'>
            /// The operations group for this extension method.
            /// </param>
            /// <param name='scope'>
            /// The scope of the role eligibility schedule request to create. The scope can
            /// be any REST resource instance. For example, use
            /// '/subscriptions/{subscription-id}/' for a subscription,
            /// '/subscriptions/{subscription-id}/resourceGroups/{resource-group-name}' for
            /// a resource group, and
            /// '/subscriptions/{subscription-id}/resourceGroups/{resource-group-name}/providers/{resource-provider}/{resource-type}/{resource-name}'
            /// for a resource.
            /// </param>
            /// <param name='roleEligibilityScheduleRequestName'>
            /// The name of the role eligibility to create. It can be any valid GUID.
            /// </param>
            /// <param name='parameters'>
            /// Parameters for the role eligibility schedule request.
            /// </param>
            public static RoleEligibilityScheduleRequest Create(this IRoleEligibilityScheduleRequestsOperations operations, string scope, string roleEligibilityScheduleRequestName, RoleEligibilityScheduleRequest parameters)
            {
                return operations.CreateAsync(scope, roleEligibilityScheduleRequestName, parameters).GetAwaiter().GetResult();
            }

            /// <summary>
            /// Creates a role eligibility schedule request.
            /// </summary>
            /// <param name='operations'>
            /// The operations group for this extension method.
            /// </param>
            /// <param name='scope'>
            /// The scope of the role eligibility schedule request to create. The scope can
            /// be any REST resource instance. For example, use
            /// '/subscriptions/{subscription-id}/' for a subscription,
            /// '/subscriptions/{subscription-id}/resourceGroups/{resource-group-name}' for
            /// a resource group, and
            /// '/subscriptions/{subscription-id}/resourceGroups/{resource-group-name}/providers/{resource-provider}/{resource-type}/{resource-name}'
            /// for a resource.
            /// </param>
            /// <param name='roleEligibilityScheduleRequestName'>
            /// The name of the role eligibility to create. It can be any valid GUID.
            /// </param>
            /// <param name='parameters'>
            /// Parameters for the role eligibility schedule request.
            /// </param>
            /// <param name='cancellationToken'>
            /// The cancellation token.
            /// </param>
            public static async Task<RoleEligibilityScheduleRequest> CreateAsync(this IRoleEligibilityScheduleRequestsOperations operations, string scope, string roleEligibilityScheduleRequestName, RoleEligibilityScheduleRequest parameters, CancellationToken cancellationToken = default(CancellationToken))
            {
                using (var _result = await operations.CreateWithHttpMessagesAsync(scope, roleEligibilityScheduleRequestName, parameters, null, cancellationToken).ConfigureAwait(false))
                {
                    return _result.Body;
                }
            }

            /// <summary>
            /// Get the specified role eligibility schedule request.
            /// </summary>
            /// <param name='operations'>
            /// The operations group for this extension method.
            /// </param>
            /// <param name='scope'>
            /// The scope of the role eligibility schedule request.
            /// </param>
            /// <param name='roleEligibilityScheduleRequestName'>
            /// The name (guid) of the role eligibility schedule request to get.
            /// </param>
            public static RoleEligibilityScheduleRequest Get(this IRoleEligibilityScheduleRequestsOperations operations, string scope, string roleEligibilityScheduleRequestName)
            {
                return operations.GetAsync(scope, roleEligibilityScheduleRequestName).GetAwaiter().GetResult();
            }

            /// <summary>
            /// Get the specified role eligibility schedule request.
            /// </summary>
            /// <param name='operations'>
            /// The operations group for this extension method.
            /// </param>
            /// <param name='scope'>
            /// The scope of the role eligibility schedule request.
            /// </param>
            /// <param name='roleEligibilityScheduleRequestName'>
            /// The name (guid) of the role eligibility schedule request to get.
            /// </param>
            /// <param name='cancellationToken'>
            /// The cancellation token.
            /// </param>
            public static async Task<RoleEligibilityScheduleRequest> GetAsync(this IRoleEligibilityScheduleRequestsOperations operations, string scope, string roleEligibilityScheduleRequestName, CancellationToken cancellationToken = default(CancellationToken))
            {
                using (var _result = await operations.GetWithHttpMessagesAsync(scope, roleEligibilityScheduleRequestName, null, cancellationToken).ConfigureAwait(false))
                {
                    return _result.Body;
                }
            }

            /// <summary>
            /// Gets role eligibility schedule requests for a scope.
            /// </summary>
            /// <param name='operations'>
            /// The operations group for this extension method.
            /// </param>
            /// <param name='scope'>
            /// The scope of the role eligibility schedule requests.
            /// </param>
            /// <param name='odataQuery'>
            /// OData parameters to apply to the operation.
            /// </param>
            public static IPage<RoleEligibilityScheduleRequest> ListForScope(this IRoleEligibilityScheduleRequestsOperations operations, string scope, ODataQuery<RoleEligibilityScheduleRequestFilter> odataQuery = default(ODataQuery<RoleEligibilityScheduleRequestFilter>))
            {
                return operations.ListForScopeAsync(scope, odataQuery).GetAwaiter().GetResult();
            }

            /// <summary>
            /// Gets role eligibility schedule requests for a scope.
            /// </summary>
            /// <param name='operations'>
            /// The operations group for this extension method.
            /// </param>
            /// <param name='scope'>
            /// The scope of the role eligibility schedule requests.
            /// </param>
            /// <param name='odataQuery'>
            /// OData parameters to apply to the operation.
            /// </param>
            /// <param name='cancellationToken'>
            /// The cancellation token.
            /// </param>
            public static async Task<IPage<RoleEligibilityScheduleRequest>> ListForScopeAsync(this IRoleEligibilityScheduleRequestsOperations operations, string scope, ODataQuery<RoleEligibilityScheduleRequestFilter> odataQuery = default(ODataQuery<RoleEligibilityScheduleRequestFilter>), CancellationToken cancellationToken = default(CancellationToken))
            {
                using (var _result = await operations.ListForScopeWithHttpMessagesAsync(scope, odataQuery, null, cancellationToken).ConfigureAwait(false))
                {
                    return _result.Body;
                }
            }

            /// <summary>
            /// Cancels a pending role eligibility schedule request.
            /// </summary>
            /// <param name='operations'>
            /// The operations group for this extension method.
            /// </param>
            /// <param name='scope'>
            /// The scope of the role eligibility request to cancel.
            /// </param>
            /// <param name='roleEligibilityScheduleRequestName'>
            /// The name of the role eligibility request to cancel.
            /// </param>
            public static void Cancel(this IRoleEligibilityScheduleRequestsOperations operations, string scope, string roleEligibilityScheduleRequestName)
            {
                operations.CancelAsync(scope, roleEligibilityScheduleRequestName).GetAwaiter().GetResult();
            }

            /// <summary>
            /// Cancels a pending role eligibility schedule request.
            /// </summary>
            /// <param name='operations'>
            /// The operations group for this extension method.
            /// </param>
            /// <param name='scope'>
            /// The scope of the role eligibility request to cancel.
            /// </param>
            /// <param name='roleEligibilityScheduleRequestName'>
            /// The name of the role eligibility request to cancel.
            /// </param>
            /// <param name='cancellationToken'>
            /// The cancellation token.
            /// </param>
            public static async Task CancelAsync(this IRoleEligibilityScheduleRequestsOperations operations, string scope, string roleEligibilityScheduleRequestName, CancellationToken cancellationToken = default(CancellationToken))
            {
                (await operations.CancelWithHttpMessagesAsync(scope, roleEligibilityScheduleRequestName, null, cancellationToken).ConfigureAwait(false)).Dispose();
            }

            /// <summary>
            /// Validates a new role eligibility schedule request.
            /// </summary>
            /// <param name='operations'>
            /// The operations group for this extension method.
            /// </param>
            /// <param name='scope'>
            /// The scope of the role eligibility request to validate.
            /// </param>
            /// <param name='roleEligibilityScheduleRequestName'>
            /// The name of the role eligibility request to validate.
            /// </param>
            /// <param name='parameters'>
            /// Parameters for the role eligibility schedule request.
            /// </param>
            public static RoleEligibilityScheduleRequest Validate(this IRoleEligibilityScheduleRequestsOperations operations, string scope, string roleEligibilityScheduleRequestName, RoleEligibilityScheduleRequest parameters)
            {
                return operations.ValidateAsync(scope, roleEligibilityScheduleRequestName, parameters).GetAwaiter().GetResult();
            }

            /// <summary>
            /// Validates a new role eligibility schedule request.
            /// </summary>
            /// <param name='operations'>
            /// The operations group for this extension method.
            /// </param>
            /// <param name='scope'>
            /// The scope of the role eligibility request to validate.
            /// </param>
            /// <param name='roleEligibilityScheduleRequestName'>
            /// The name of the role eligibility request to validate.
            /// </param>
            /// <param name='parameters'>
            /// Parameters for the role eligibility schedule request.
            /// </param>
            /// <param name='cancellationToken'>
            /// The cancellation token.
            /// </param>
            public static async Task<RoleEligibilityScheduleRequest> ValidateAsync(this IRoleEligibilityScheduleRequestsOperations operations, string scope, string roleEligibilityScheduleRequestName, RoleEligibilityScheduleRequest parameters, CancellationToken cancellationToken = default(CancellationToken))
            {
                using (var _result = await operations.ValidateWithHttpMessagesAsync(scope, roleEligibilityScheduleRequestName, parameters, null, cancellationToken).ConfigureAwait(false))
                {
                    return _result.Body;
                }
            }

            /// <summary>
            /// Gets role eligibility schedule requests for a scope.
            /// </summary>
            /// <param name='operations'>
            /// The operations group for this extension method.
            /// </param>
            /// <param name='nextPageLink'>
            /// The NextLink from the previous successful call to List operation.
            /// </param>
            public static IPage<RoleEligibilityScheduleRequest> ListForScopeNext(this IRoleEligibilityScheduleRequestsOperations operations, string nextPageLink)
            {
                return operations.ListForScopeNextAsync(nextPageLink).GetAwaiter().GetResult();
            }

            /// <summary>
            /// Gets role eligibility schedule requests for a scope.
            /// </summary>
            /// <param name='operations'>
            /// The operations group for this extension method.
            /// </param>
            /// <param name='nextPageLink'>
            /// The NextLink from the previous successful call to List operation.
            /// </param>
            /// <param name='cancellationToken'>
            /// The cancellation token.
            /// </param>
            public static async Task<IPage<RoleEligibilityScheduleRequest>> ListForScopeNextAsync(this IRoleEligibilityScheduleRequestsOperations operations, string nextPageLink, CancellationToken cancellationToken = default(CancellationToken))
            {
                using (var _result = await operations.ListForScopeNextWithHttpMessagesAsync(nextPageLink, null, cancellationToken).ConfigureAwait(false))
                {
                    return _result.Body;
                }
            }

    }
}
