{
  "Entries": [
    {
      "RequestUri": "https://acstestbot3.communication.azure.com/calls?api-version=2021-04-15-preview1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "source": {
          "communicationUser": {
            "id": "8:acs:02665c56-277e-4c59-bab4-c475caa3ee80_00000009-fdd3-b400-ceb1-a43a0d000f8c"
          }
        },
        "targets": [
          {
            "phoneNumber": {
              "value": "\u002B15129104698"
            }
          }
        ],
        "callbackUri": "https://dummy.ngrok.io/api/incident/callback?SecretKey=helloworld",
        "requestedModalities": [
          "audio"
        ],
        "requestedCallEvents": [
          "participantsUpdated",
          "dtmfReceived"
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "X-Microsoft-Skype-Chain-ID": "04233920-dbc2-44e8-90df-848aca6e77a8"
      },
      "ResponseBody": {
        "callLegId": "00000b80-0400-4a3f-9ba4-a98722156b00"
      }
    }
  ],
  "Variables": {
    "AZURE_COMMUNICATION_LIVETEST_CONNECTION_STRING": "endpoint=https://acstestbot3.communication.azure.com/;accesskey=Kg==",
    "AZURE_PHONE_NUMBER": "\u002B15129104698",
    "RandomSeed": "54266852"
  }
}