{
  "Entries": [
    {
      "RequestUri": "/providers/Microsoft.Billing/validateAddress?api-version=2020-05-01",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"addressLine1\": \"1 Microsoft Way\",\r\n  \"city\": \"Redmond\",\r\n  \"region\": \"WA\",\r\n  \"country\": \"US\",\r\n  \"postalCode\": \"98052\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "x-ms-service-version": [
          "10.5.1249.546"
        ],
        "api-supported-versions": [
          "2018-11-01-preview, 2019-10-01-preview, 2020-05-01"
        ],
        "x-ms-ratelimit-remaining-tenant-resource-requests": [
          "99"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"status\": \"Valid\",\r\n  \"validationMessage\": \"\"\r\n}",
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "0195fcc8-69cd-4440-852b-237bdae4e36c"
  }
}