{
  "Entries": [
    {
      "RequestUri": "/providers/Microsoft.Management/managementGroups/TestGroup1?api-version=2021-04-01&$expand=children&$recurse=true",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ba-restapi": [
          "0.0.0.0"
        ],
        "x-ms-ratelimit-remaining-tenant-reads": [
          "11999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/providers/Microsoft.Management/managementGroups/TestGroup1\",\r\n  \"type\": \"Microsoft.Management/managementGroups\",\r\n  \"name\": \"TestGroup1\",\r\n  \"properties\": {\r\n    \"tenantId\": \"c7a87cda-9a66-4920-b0f8-869baa04efe0\",\r\n    \"displayName\": \"TestGroup1\",\r\n    \"details\": {\r\n      \"version\": 0,\r\n      \"updatedTime\": \"0001-01-01T00:00:00\",\r\n      \"updatedBy\": null,\r\n      \"parent\": {\r\n        \"id\": \"/providers/Microsoft.Management/managementGroups/c7a87cda-9a66-4920-b0f8-869baa04efe0\",\r\n        \"name\": \"c7a87cda-9a66-4920-b0f8-869baa04efe0\",\r\n        \"displayName\": \"Root Management Group\"\r\n      }\r\n    },\r\n    \"children\": [\r\n      {\r\n        \"id\": \"/providers/Microsoft.Management/managementGroups/TestGroup1Child1\",\r\n        \"type\": \"Microsoft.Management/managementGroups\",\r\n        \"name\": \"TestGroup1Child1\",\r\n        \"displayName\": \"TestGroup1->Child1\",\r\n        \"children\": [\r\n          {\r\n            \"id\": \"/providers/Microsoft.Management/managementGroups/TestGroup1Child1Child1\",\r\n            \"type\": \"Microsoft.Management/managementGroups\",\r\n            \"name\": \"TestGroup1Child1Child1\",\r\n            \"displayName\": \"TestGroup1->Child1->Child1\",\r\n            \"children\": [\r\n              {\r\n                \"id\": \"/subscriptions/5602fbd9-fb0d-4fbb-98b3-10c8ea20b6de\",\r\n                \"type\": \"/subscriptions\",\r\n                \"name\": \"5602fbd9-fb0d-4fbb-98b3-10c8ea20b6de\",\r\n                \"displayName\": \"Visual Studio Enterprise Subscription\"\r\n              }\r\n            ]\r\n          }\r\n        ]\r\n      }\r\n    ]\r\n  }\r\n}",
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "5602fbd9-fb0d-4fbb-98b3-10c8ea20b6de"
  }
}