{
  "Entries": [
    {
      "RequestUri": "/subscriptions/ba75e79b-dd95-4025-9dbf-3a7ae8dff2b5/resourcegroups/avs-sdk-test-rg4608?api-version=2017-05-10",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"centralus\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/ba75e79b-dd95-4025-9dbf-3a7ae8dff2b5/resourceGroups/avs-sdk-test-rg4608\",\r\n  \"name\": \"avs-sdk-test-rg4608\",\r\n  \"location\": \"centralus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/ba75e79b-dd95-4025-9dbf-3a7ae8dff2b5/resourceGroups/avs-sdk-test-rg4608/providers/Microsoft.AVS/privateClouds?api-version=2020-03-20",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": []\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/ba75e79b-dd95-4025-9dbf-3a7ae8dff2b5/resourceGroups/avs-sdk-test-rg4608/providers/Microsoft.AVS/privateClouds?api-version=2020-03-20",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14970"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/ba75e79b-dd95-4025-9dbf-3a7ae8dff2b5/resourceGroups/avs-sdk-test-rg4608/providers/Microsoft.AVS/privateClouds/avs-sdk-test-cloud2092\",\r\n      \"location\": \"centralus\",\r\n      \"name\": \"avs-sdk-test-cloud2092\",\r\n      \"properties\": {\r\n        \"circuit\": {\r\n          \"expressRouteID\": \"/subscriptions/5206f269-120b-41ef-a95b-0dce7109de61/resourceGroups/tnt57-cust-mp01-mock01/providers/Microsoft.Network/expressRouteCircuits/tnt57-cust-mp01-mock01-er\",\r\n          \"expressRoutePrivatePeeringID\": \"/subscriptions/5206f269-120b-41ef-a95b-0dce7109de61/resourceGroups/tnt57-cust-mp01-mock01/providers/Microsoft.Network/expressRouteCircuits/tnt57-cust-mp01-mock01-er/peerings/AzurePrivatePeering\",\r\n          \"primarySubnet\": \"192.168.51.8/30\",\r\n          \"secondarySubnet\": \"192.168.51.12/30\"\r\n        },\r\n        \"endpoints\": {\r\n          \"hcxCloudManager\": \"https://192.168.48.9/\",\r\n          \"nsxtManager\": \"https://192.168.48.3/\",\r\n          \"vcsa\": \"https://192.168.48.2/\"\r\n        },\r\n        \"identitySources\": [],\r\n        \"internet\": \"Disabled\",\r\n        \"managementCluster\": {\r\n          \"clusterId\": 1,\r\n          \"clusterSize\": 4,\r\n          \"hosts\": [\r\n            \"gp-fakehost32.mp01.mock01.vmcp.vs.management\",\r\n            \"gp-fakehost26.mp01.mock01.vmcp.vs.management\",\r\n            \"gp-fakehost31.mp01.mock01.vmcp.vs.management\",\r\n            \"gp-fakehost25.mp01.mock01.vmcp.vs.management\"\r\n          ],\r\n          \"provisioningState\": \"Succeeded\"\r\n        },\r\n        \"managementNetwork\": \"192.168.48.0/24\",\r\n        \"networkBlock\": \"192.168.48.0/22\",\r\n        \"nsxtCertificateThumbprint\": \"B9A9474616752565A3FAF23E0A013ECE3DC8B8FF\",\r\n        \"provisioningNetwork\": \"192.168.50.0/24\",\r\n        \"provisioningState\": \"Succeeded\",\r\n        \"vcenterCertificateThumbprint\": \"BE8EA855AA13D9662A115571636B9B1925C6DB68\",\r\n        \"vmotionNetwork\": \"192.168.49.0/24\"\r\n      },\r\n      \"sku\": {\r\n        \"name\": \"av20\"\r\n      },\r\n      \"tags\": {},\r\n      \"type\": \"Microsoft.AVS/privateClouds\"\r\n    }\r\n  ]\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/ba75e79b-dd95-4025-9dbf-3a7ae8dff2b5/resourceGroups/avs-sdk-test-rg4608/providers/Microsoft.AVS/privateClouds/avs-sdk-test-cloud2092?api-version=2020-03-20",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"sku\": {\r\n    \"name\": \"av20\"\r\n  },\r\n  \"properties\": {\r\n    \"managementCluster\": {\r\n      \"clusterSize\": 4\r\n    },\r\n    \"networkBlock\": \"192.168.48.0/22\"\r\n  },\r\n  \"location\": \"centralus\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Retry-After": [
          "10"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Azure-AsyncOperation": [
          "https://api-dogfood.resources.windows-int.net/subscriptions/ba75e79b-dd95-4025-9dbf-3a7ae8dff2b5/resourceGroups/avs-sdk-test-rg4608/providers/Microsoft.AVS/privateClouds/avs-sdk-test-cloud2092/operationstatuses/f695798f-18ba-4513-ac5e-8c0e93e33d6f?api-version=2020-03-20"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/ba75e79b-dd95-4025-9dbf-3a7ae8dff2b5/resourceGroups/avs-sdk[...]
    {
      "RequestUri": "/subscriptions/ba75e79b-dd95-4025-9dbf-3a7ae8dff2b5/resourceGroups/avs-sdk-test-rg4608/providers/Microsoft.AVS/privateClouds/avs-sdk-test-cloud2092/operationstatuses/f695798f-18ba-4513-ac5e-8c0e93e33d6f?api-version=2020-03-20",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Retry-After": [
          "10"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14998"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/ba75e79b-dd95-4025-9dbf-3a7ae8dff2b5/resourceGroups/avs-sdk-test-rg4608/providers/Microsoft.AVS/privateClouds/avs-sdk-test-cloud2092/operationstatuses/f695798f-18ba-4513-ac5e-8c0e93e33d6f\",\r\n  \"name\": \"f695798f-18ba-4513-ac5e-8c0e93e33d6f\",\r\n  \"percentComplete\": 5,\r\n  \"startTime\": \"2020-06-24T11:45:28.5184317-06:00\",\r\n  \"status\": \"Building\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/ba75e79b-dd95-4025-9dbf-3a7ae8dff2b5/resourceGroups/avs-sdk-test-rg4608/providers/Microsoft.AVS/privateClouds/avs-sdk-test-cloud2092/operationstatuses/f695798f-18ba-4513-ac5e-8c0e93e33d6f?api-version=2020-03-20",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Retry-After": [
          "10"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14987"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"endTime\": \"2020-06-24T11:47:22.1043466-06:00\",\r\n  \"id\": \"/subscriptions/ba75e79b-dd95-4025-9dbf-3a7ae8dff2b5/resourceGroups/avs-sdk-test-rg4608/providers/Microsoft.AVS/privateClouds/avs-sdk-test-cloud2092/operationstatuses/f695798f-18ba-4513-ac5e-8c0e93e33d6f\",\r\n  \"name\": \"f695798f-18ba-4513-ac5e-8c0e93e33d6f\",\r\n  \"percentComplete\": 100,\r\n  \"properties\": {\r\n    \"id\": \"/subscriptions/ba75e79b-dd95-4025-9dbf-3a7ae8dff2b5/resourceGroups/avs-sdk-test-rg4608/providers/Microsoft.AVS/[...]
[...]
    {
      "RequestUri": "/subscriptions/ba75e79b-dd95-4025-9dbf-3a7ae8dff2b5/resourceGroups/avs-sdk-test-rg4608/providers/Microsoft.AVS/privateClouds/avs-sdk-test-cloud2092/clusters?api-version=2020-03-20",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14985"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": []\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/ba75e79b-dd95-4025-9dbf-3a7ae8dff2b5/resourceGroups/avs-sdk-test-rg4608/providers/Microsoft.AVS/privateClouds/avs-sdk-test-cloud2092/clusters/avs-sdk-test-cluster2735?api-version=2020-03-20",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"sku\": {\r\n    \"name\": \"av20\"\r\n  },\r\n  \"properties\": {\r\n    \"clusterSize\": 3\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
   [...]
    {
      "RequestUri": "/subscriptions/ba75e79b-dd95-4025-9dbf-3a7ae8dff2b5/resourceGroups/avs-sdk-test-rg4608/providers/Microsoft.AVS/privateClouds/avs-sdk-test-cloud2092/clusters/avs-sdk-test-cluster2735/operationstatuses/147d33c3-26f3-4225-8ce3-91669e266664?api-version=2020-03-20",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Retry-After": [
          "10"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14984"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/ba75e79b-dd95-4025-9dbf-3a7ae8dff2b5/resourceGroups/avs-sdk-test-rg4608/providers/Microsoft.AVS/privateClouds/avs-sdk-test-cloud2092/clusters/avs-sdk-test-cluster2735/operationstatuses/147d33c3-26f3-4225-8ce3-91669e266664\",\r\n  \"name\": \"147d33c3-26f3-4225-8ce3-91669e266664\",\r\n  \"percentComplete\": 50,\r\n  \"startTime\": \"2020-06-24T11:47:35.5235463-06:00\",\r\n  \"status\": \"Building\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/ba75e79b-dd95-4025-9dbf-3a7ae8dff2b5/resourceGroups/avs-sdk-test-rg4608/providers/Microsoft.AVS/privateClouds/avs-sdk-test-cloud2092/clusters/avs-sdk-test-cluster2735?api-version=2020-03-20",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Location": [
          "https://api-dogfood.resources.windows-int.net/subscriptions/ba75e79b-dd95-4025-9dbf-3a7ae8dff2b5/resourceGroups/avs-sdk-test-rg4608/providers/Microsoft.AVS/privateClouds/avs-sdk-test-cloud2092/clusters/avs-sdk-test-cluster2735/operationresults/44289d9a-cc8a-4f20-a462-d28dd947474c?api-version=2020-03-20"
        ],
        "Retry-After": [
          "10"
        ],
        "x-ms-ratelimit-remaining-subscription-deletes": [
          "14999"
        ],
        "Azure-AsyncOperation":[...]
[...]
    {
      "RequestUri": "/subscriptions/ba75e79b-dd95-4025-9dbf-3a7ae8dff2b5/resourceGroups/avs-sdk-test-rg4608/providers/Microsoft.AVS/privateClouds/avs-sdk-test-cloud2092/clusters/avs-sdk-test-cluster2735/operationresults/44289d9a-cc8a-4f20-a462-d28dd947474c?api-version=2020-03-20",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14972"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "null",
      "StatusCode": 200
    }
  ],
  "Names": {
    "AvsCrud": [
      "avs-sdk-test-rg4608",
      "avs-sdk-test-cloud2092",
      "avs-sdk-test-cluster2735"
    ]
  },
  "Variables": {
    "SubscriptionId": "ba75e79b-dd95-4025-9dbf-3a7ae8dff2b5"
  }
}