{
  "Entries": [
    {
      "RequestUri": "https://mohitc-acs.search.windows.net/indexes(\u0027rkvpdesm\u0027)/docs/search.index?api-version=2020-06-30",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "api-key": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "value": [
          {
            "@search.action": "mergeOrUpload",
            "Id": "1",
            "Name": "Document #1"
          }
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=none",
        "elapsed-time": "102",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\u0022*\u0022"
      },
      "ResponseBody": {
        "value": [
          {
            "key": "1",
            "status": true,
            "errorMessage": null,
            "statusCode": 201
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://mohitc-acs.search.windows.net/indexes(\u0027rkvpdesm\u0027)?api-version=2020-06-30",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "elapsed-time": "170"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1584795358",
    "SearchIndexName": "rkvpdesm",
    "SEARCH_ADMIN_API_KEY": "Sanitized",
    "SEARCH_ENDPOINT_SUFFIX": null,
    "SEARCH_SERVICE_NAME": "mohitc-acs"
  }
}