{
  "Entries": [
    {
      "RequestUri": "https://azs-net-mohitsearch.search.windows.net/indexes(\u0027hrincacx\u0027)/docs/search.index?api-version=2020-06-30",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "api-key": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "value": [
          {
            "@search.action": "upload",
            "Id": "0",
            "Name": "Document #0"
          },
          {
            "@search.action": "upload",
            "Id": "1",
            "Name": "Document #1"
          },
          {
            "@search.action": "upload",
            "Id": "2",
            "Name": "Document #2"
          }
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=none",
        "elapsed-time": "144",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\u0022*\u0022"
      },
      "ResponseBody": {
        "value": [
          {
            "key": "0",
            "status": true,
            "errorMessage": null,
            "statusCode": 201
          },
          {
            "key": "1",
            "status": true,
            "errorMessage": null,
            "statusCode": 201
          },
          {
            "key": "2",
            "status": true,
            "errorMessage": null,
            "statusCode": 201
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://azs-net-mohitsearch.search.windows.net/indexes(\u0027hrincacx\u0027)?api-version=2020-06-30",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "elapsed-time": "161"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1504326134",
    "SearchIndexName": "hrincacx",
    "SEARCH_ADMIN_API_KEY": "Sanitized",
    "SEARCH_SERVICE_NAME": "azs-net-mohitsearch"
  }
}