{
  "Entries": [
    {
      "RequestUri": "https://azs-net-teglaza2.search.windows.net/indexes(\u0027gwjwmgkx\u0027)/docs/$count?api-version=2020-06-30",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "text/plain",
        "elapsed-time": "53",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\u0022*\u0022"
      },
      "ResponseBody": "\uFEFF0"
    },
    {
      "RequestUri": "https://azs-net-teglaza2.search.windows.net/indexes(\u0027gwjwmgkx\u0027)/docs/search.index?api-version=2020-06-30",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "api-key": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "value": [
          {
            "@search.action": "upload",
            "Id": "1",
            "Name": "Document #1"
          },
          {
            "@search.action": "upload",
            "Id": "2",
            "Name": "Document #2"
          },
          {
            "@search.action": "upload",
            "Id": "3",
            "Name": "Document #3"
          },
          {
            "@search.action": "upload",
            "Id": "4",
            "Name": "Document #4"
          },
          {
            "@search.action": "upload",
            "Id": "5",
            "Name": "Document #[...]
[...]
    {
      "RequestUri": "https://azs-net-teglaza2.search.windows.net/indexes(\u0027gwjwmgkx\u0027)?api-version=2020-06-30",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "elapsed-time": "160"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1236532704",
    "SearchIndexName": "gwjwmgkx",
    "SEARCH_ADMIN_API_KEY": "Sanitized",
    "SEARCH_SERVICE_NAME": "azs-net-teglaza2"
  }
}