{
  "Entries": [
    {
      "RequestUri": "https://azs-net-teglaza2.search.windows.net/indexes(\u0027ltbuljsy\u0027)?api-version=2020-06-30",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "elapsed-time": "170"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1851732070",
    "SearchIndexName": "ltbuljsy",
    "SEARCH_ADMIN_API_KEY": "Sanitized",
    "SEARCH_SERVICE_NAME": "azs-net-teglaza2"
  }
}