{
  "Entries": [
    {
      "RequestUri": "/subscriptions/9eb689cd-7243-43b4-b6f6-5c65cb296641/resourceGroups/ResourceGroupForSDKTest/providers/Microsoft.StorSimple/managers/hAzureSDKOperations?api-version=2016-10-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"location\": \"southeastasia\",\r\n  \"name\": \"hAzureSDKOperations\",\r\n  \"etag\": \"W/\\\"datetime'2018-08-07T16%3A06%3A24.4590789Z'\\\"\",\r\n  \"properties\": {\r\n    \"sku\": {\r\n      \"name\": \"standard\"\r\n    },\r\n    \"cisIntrinsicSettings\": {\r\n      \"type\": \"HelsinkiV1\"\r\n    },\r\n    \"provisioningState\": \"Succeeded\"\r\n  },\r\n  \"id\": \"/subscriptions/9eb689cd-7243-43b4-b6f6-5c65cb296641/resourceGroups/ResourceGroupForSDKTest/providers/Microsoft.StorSimple/Managers/hAzureSDKOperations\",\r\n  \"type\": \"Microsoft.StorSimple/Managers\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14999"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/9eb689cd-7243-43b4-b6f6-5c65cb296641/resourceGroups/ResourceGroupForSDKTest/providers/Microsoft.StorSimple/managers/hAzureSDKOperations/metricsDefinitions?api-version=2016-10-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"name\": {\r\n        \"value\": \"HostUsedStorage\",\r\n        \"localizedValue\": \"Primary Storage Used\"\r\n      },\r\n      \"unit\": \"Bytes\",\r\n      \"primaryAggregationType\": \"Average\",\r\n      \"resourceId\": \"https://pod01-cis2.sea.storsimple.windowsazure.com/managers/4239154091695873374\",\r\n      \"metricAvailabilities\": [\r\n        {\r\n          \"timeGrain\": \"P1D\",\r\n          \"retention\": \"P7D\"\r\n        },\r\n        {\r\n          \"timeGrain\": \"P1D\",\r\n          \"retention\": \"P1M\"\r\n        },\r\n        {\r\n          \"timeGrain\": \"P1D\",\r\n          \"retention\": \"P3M\"\r\n        },\r\n        {\r\n          \"timeGrain\": \"P1D\",\r\n          \"retention\": \"P1Y\"\r\n        }\r\n      ],\r\n      \"dimensions\": [\r\n        {\r\n          \"name\": \"Manager\",\r\n          \"value\": \"hAzureSDKOperations\"\r\n        }\r\n      ],\r\n      \"type\": \"Microsoft.StorSimple/managers/metricsDefinitions\"\r\n    },\r\n    {\r\n      \"name\": {\r\n        \"value\": \"CloudConsumedStorage\",\r\n        \"localizedValue\": \"Cloud Storage Used\"\r\n      },\r\n      \"unit\": \"Bytes\",\r\n      \"primaryAggregationType\": \"Average\",\r\n      \"resourceId\": \"https://pod01-cis2.sea.storsimple.windowsazure.com/managers/4239154091695873374\",\r\n      \"metricAvailabilities\": [\r\n        {\r\n          \"timeGrain\": \"P1D\",\r\n          \"retention\": \"P7D\"\r\n        },\r\n        {\r\n          \"timeGrain\": \"P1D\",\r\n          \"retention\": \"P1M\"\r\n        },\r\n        {\r\n          \"timeGrain\": \"P1D\",\r\n          \"retention\": \"P3M\"\r\n        },\r\n        {\r\n          \"timeGrain\": \"P1D\",\r\n          \"retention\": \"P1Y\"\r\n        }\r\n      ],\r\n      \"dimensions\": [\r\n        {\r\n          \"name\": \"Manager\",\r\n          \"value\": \"hAzureSDKOperations\"\r\n        }\r\n      ],\r\n      \"type\": \"Microsoft.StorSimple/managers/metricsDefinitions\"\r\n    }\r\n  ]\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14998"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/9eb689cd-7243-43b4-b6f6-5c65cb296641/resourceGroups/ResourceGroupForSDKTest/providers/Microsoft.StorSimple/managers/hAzureSDKOperations/metrics?$filter=startTime%20ge%20'2018-08-04T18:30:00Z'%20and%20endTime%20le%20'2018-08-11T18:30:00Z'&api-version=2016-10-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"resourceId\": \"https://pod01-cis2.sea.storsimple.windowsazure.com/managers/4239154091695873374\",\r\n      \"startTime\": \"2018-08-04T18:30:00Z\",\r\n      \"endTime\": \"2018-08-11T18:30:00Z\",\r\n      \"timeGrain\": \"1.00:00:00\",\r\n      \"primaryAggregation\": \"Average\",\r\n      \"name\": {\r\n        \"value\": \"HostUsedStorage\",\r\n        \"localizedValue\": \"Primary Storage Used\"\r\n      },\r\n      \"dimensions\": [\r\n        {\r\n          \"name\": \"Manager\",\r\n          \"value\": \"hAzureSDKOperations\"\r\n        }\r\n      ],\r\n      \"unit\": \"Bytes\",\r\n      \"type\": \"Microsoft.StorSimple/managers/metrics\",\r\n      \"values\": [\r\n        {\r\n          \"timeStamp\": \"2018-08-07T00:00:00Z\",\r\n          \"sum\": 0.0,\r\n          \"count\": 1,\r\n          \"average\": 0.0,\r\n          \"minimum\": 0.0,\r\n          \"maximum\": 0.0\r\n        },\r\n        {\r\n          \"timeStamp\": \"2018-08-11T00:00:00Z\",\r\n          \"sum\": 1107165184.0,\r\n          \"count\": 1,\r\n          \"average\": 1107165184.0,\r\n          \"minimum\": 1107165184.0,\r\n          \"maximum\": 1107165184.0\r\n        },\r\n        {\r\n          \"timeStamp\": \"2018-08-10T00:00:00Z\",\r\n          \"sum\": 928645120.0,\r\n          \"count\": 1,\r\n          \"average\": 928645120.0,\r\n          \"minimum\": 928645120.0,\r\n        [...]
