{
  "Entries": [
    {
      "RequestUri": "/subscriptions/487bb485-b5b0-471e-9c0d-10717612f869/providers/Microsoft.Security/securityContacts?api-version=2020-01-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-resource-requests": [
          "749"
        ],
        "api-supported-versions": [
          "2020-01-01-preview"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "[\r\n  {\r\n    \"properties\": {\r\n      \"notificationsByRole\": {\r\n        \"state\": \"Off\",\r\n        \"roles\": []\r\n      },\r\n      \"emails\": \"barbra2@contoso.com\",\r\n      \"phone\": \"\",\r\n      \"alertNotifications\": {\r\n        \"state\": \"Off\",\r\n        \"minimalSeverity\": \"\"\r\n      }\r\n    },\r\n    \"id\": \"/subscriptions/487bb485-b5b0-471e-9c0d-10717612f869/providers/Microsoft.Security/securityContacts/default\",\r\n    \"name\": \"default\",\r\n    \"type\": \"Microsoft.Security/securityContacts\",\r\n    \"etag\": \"\\\"fa0070a3-0000-0d00-0000-635a57230000\\\"\",\r\n    \"location\": \"West Europe\"\r\n  }\r\n]",
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "487bb485-b5b0-471e-9c0d-10717612f869"
  }
}