{
  "Entries": [
    {
      "RequestUri": "https://clubuildppe.ppe.cognitiveservices.azure.com/language/analyze-conversations/jobs?api-version=2022-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "analysisInput": {
          "conversations": [
            {
              "conversationItems": [
                {
                  "text": "Hello, how can I help you?",
                  "id": "1",
                  "participantId": "Agent"
                },
                {
                  "text": "How to upgrade Office? I am getting error messages the whole day.",
                  "id": "2",
                  "participantId": "Customer"
                },
                {
                  "text": "Press the upgrade button please. Then sign in and follow the instructions.",
                  "id": "3",
                  "participantId": "Agent"
                }
              ],
              "id": "1",
              "language": "en",
              "modality": "text"
            }
          ]
        },
        "tasks": [
          {
            "parameters": {
              "summaryAspects": [
                "issue",
                "resolution"
              ]
            },
            "kind": "ConversationalSummarizationTask",
            "taskName": "1"
          }
        ]
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "operation-location": "https://clubuildppe.ppe.cognitiveservices.azure.com/language/analyze-conversations/jobs/41c25112-5f3b-4af4-a8d7-86df47922889?api-version=2022-05-15-preview",
        "x-http2-stream-id": "3"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://clubuildppe.ppe.cognitiveservices.azure.com/language/analyze-conversations/jobs/41c25112-5f3b-4af4-a8d7-86df47922889?api-version=2022-05-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-http2-stream-id": "3"
      },
      "ResponseBody": {
        "jobId": "41c25112-5f3b-4af4-a8d7-86df47922889",
        "lastUpdatedDateTime": "2022-05-18T14:21:19Z",
        "createdDateTime": "2022-05-18T14:21:18Z",
        "expirationDateTime": "2022-05-19T14:21:18Z",
        "status": "running",
        "errors": [],
        "tasks": {
          "completed": 0,
          "failed": 0,
          "inProgress": 1,
          "total": 1,
          "items": []
        }
      }
    },
    {
      "RequestUri": "https://clubuildppe.ppe.cognitiveservices.azure.com/language/analyze-conversations/jobs/41c25112-5f3b-4af4-a8d7-86df47922889?api-version=2022-05-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-http2-stream-id": "3"
      },
      "ResponseBody": {
        "jobId": "41c25112-5f3b-4af4-a8d7-86df47922889",
        "lastUpdatedDateTime": "2022-05-18T14:21:20Z",
        "createdDateTime": "2022-05-18T14:21:18Z",
        "expirationDateTime": "2022-05-19T14:21:18Z",
        "status": "succeeded",
        "errors": [],
        "tasks": {
          "completed": 1,
          "failed": 0,
          "inProgress": 0,
          "total": 1,
          "items": [
            {
              "kind": "conversationalSummarizationResults",
              "taskName": "1",
              "lastUpdateDateTime": "2022-05-18T14:21:20.2024957Z",
              "status": "succeeded",
              "results": {
                "conversations": [
                  {
                    "id": "1",
                    "summaries": [
                      {
                        "aspect": "issue",
                        "text": "Customer wants to upgrade Office"
                      },
                      {
                        "aspect": "resolution",
                        "text": "Asked for the error message | Asked for help to upgrade Office"
                      }
                    ],
                    "warnings": []
                  }
                ],
                "errors": [],
                "modelVersion": "2022-05-15-preview"
              }
            }
          ]
        }
      }
    }
  ],
  "Variables": {
    "AZURE_CONVERSATIONS_ENDPOINT": "https://clubuildppe.ppe.cognitiveservices.azure.com/",
    "AZURE_CONVERSATIONS_KEY": "Sanitized",
    "RandomSeed": "1702709473"
  }
}
