{
  "Entries": [
    {
      "RequestUri": "https://language-dev-frontend-westus2-qna.cognitiveservices.azure.com/language/:analyze-conversations?api-version=2022-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "analysisInput": {
          "conversationItem": {
            "text": "Reserve a table for 2 at the Italian restaurant.",
            "id": "1",
            "participantId": "1"
          }
        },
        "parameters": {
          "projectName": "OrchestrationProject",
          "deploymentName": "production"
        },
        "kind": "Conversation"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "csp-billing-usage": "CognitiveServices.TextAnalytics.Language.OrchestrationWorkflow.Prediction=1"
      },
      "ResponseBody": {
        "kind": "ConversationResult",
        "result": {
          "query": "Reserve a table for 2 at the Italian restaurant.",
          "prediction": {
            "topIntent": "RestaurantIntent",
            "projectKind": "Orchestration",
            "intents": {
              "RestaurantIntent": {
                "confidenceScore": 0.9418521,
                "targetProjectKind": "Luis",
                "result": {
                  "query": "Reserve a table for 2 at the Italian restaurant.",
                  "prediction": {
                    "topIntent": "Reserve",
                    "intents": {
                      "Reserve": {
                        "score": 0.9969401
                      },
                      "Reject": {
                        "score": 0.008681806
                      },
                      "FindReservationEntry": {
                        "score": 0.0076796953
                      },
                      "Confirm": {
                        "score": 0.0052073994
                      },
                      "DeleteReservation": {
                        "score": 0.0025908146
                      },
                      "FindReservationWhen": {
                        "score": 0.0012556213
                      },
                      "FindReservationWhere": {
                        "score": 0.00017406742
                      },
                      "None": {
                        "score": 0.00014516566
                      },
                      "ChangeReservation": {
                        "score": 7.754819E-05
                      }
                    },
                    "entities": {
                      "NumberPeople": [
                        "2"
                      ],
                      "Cuisine": [
                        "Italian"
                      ],
                      "$instance": {
                        "NumberPeople": [
                          {
                            "type": "NumberPeople",
                            "text": "2",
                            "startIndex": 20,
                            "length": 1,
                            "score": 0.99470425,
                            "modelTypeId": 1,
                            "modelType": "Entity Extractor",
                            "recognitionSources": [
                              "model"
                            ]
                          }
                        ],
                        "Cuisine": [
                          {
                            "type": "Cuisine",
                            "text": "Italian",
                            "startIndex": 29,
                            "length": 7,
                            "score": 0.99850464,
                            "modelTypeId": 1,
                            "modelType": "Entity Extractor",
                            "recognitionSources": [
                              "model"
                            ]
                          }
                        ]
                      }
                    }
                  }
                }
              },
              "ChitChat-QnA": {
                "confidenceScore": 0.62348276,
                "targetProjectKind": "QuestionAnswering"
              },
              "EmailIntent": {
                "confidenceScore": 0.2875565,
                "targetProjectKind": "Conversation"
              },
              "None": {
                "confidenceScore": 0.20689525,
                "targetProjectKind": "NonLinked"
              }
            }
          }
        }
      }
    }
  ],
  "Variables": {
    "AZURE_CONVERSATIONS_ENDPOINT": "https://language-dev-frontend-westus2-qna.cognitiveservices.azure.com/",
    "AZURE_CONVERSATIONS_KEY": "Sanitized",
    "AZURE_CONVERSATIONS_WORKFLOW_DEPLOYMENT_NAME": "production",
    "AZURE_CONVERSATIONS_WORKFLOW_PROJECT_NAME": "OrchestrationProject",
    "RandomSeed": "445485785"
  }
}
