{
  "Entries": [
    {
      "RequestUri": "https://languagesdkresource.cognitiveservices.azure.com/language/:analyze-conversations?api-version=2022-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "analysisInput": {
          "conversationItem": {
            "text": "Send an email to Carol about tomorrow\u0027s demo",
            "id": "1",
            "participantId": "1"
          }
        },
        "parameters": {
          "projectName": "OrchestrationScriptDeployed",
          "deploymentName": "production",
          "stringIndexType": "Utf16CodeUnit"
        },
        "kind": "Conversation"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "csp-billing-usage": "CognitiveServices.TextAnalytics.Language.OrchestrationWorkflow.Prediction=1"
      },
      "ResponseBody": {
        "kind": "ConversationResult",
        "result": {
          "query": "Send an email to Carol about tomorrow\u0027s demo",
          "prediction": {
            "topIntent": "EmailIntent",
            "projectKind": "Orchestration",
            "intents": {
              "EmailIntent": {
                "confidenceScore": 0.76472354,
                "targetProjectKind": "Conversation",
                "result": {
                  "query": "Send an email to Carol about tomorrow\u0027s demo",
                  "prediction": {
                    "topIntent": "Send",
                    "projectKind": "Conversation",
                    "intents": [
                      {
                        "category": "Send",
                        "confidenceScore": 0.93409747
                      },
                      {
                        "category": "Read",
                        "confidenceScore": 0.5374636
                      },
                      {
                        "category": "Setup",
                        "confidenceScore": 0.48374596
                      },
                      {
                        "category": "Set",
                        "confidenceScore": 0.2737239
                      },
                      {
                        "category": "Find",
                        "confidenceScore": 0.2394025
                      },
                      {
                        "category": "None",
                        "confidenceScore": 0.2147143
                      },
                      {
                        "category": "Call",
                        "confidenceScore": 0.18309219
                      },
                      {
                        "category": "Play",
                        "confidenceScore": 0.14325047
                      },
                      {
                        "category": "Open",
                        "confidenceScore": 0.13483635
                      }
                    ],
                    "entities": [
                      {
                        "category": "Contact",
                        "text": "Carol",
                        "offset": 17,
                        "length": 5,
                        "confidenceScore": 1,
                        "extraInformation": [
                          {
                            "extraInformationKind": "EntitySubtype",
                            "value": "person.name"
                          }
                        ]
                      },
                      {
                        "category": "MeetingDate",
                        "text": "tomorrow",
                        "offset": 29,
                        "length": 8,
                        "confidenceScore": 1,
                        "resolutions": [
                          {
                            "resolutionKind": "DateTimeResolution",
                            "dateTimeSubKind": "Date",
                            "timex": "2022-06-30",
                            "value": "2022-06-30"
                          }
                        ],
                        "extraInformation": [
                          {
                            "extraInformationKind": "EntitySubtype",
                            "value": "datetime.date"
                          }
                        ]
                      }
                    ]
                  }
                }
              },
              "ChitChat-QnA": {
                "confidenceScore": 0.6278386,
                "targetProjectKind": "QuestionAnswering"
              },
              "None": {
                "confidenceScore": 0.16380304,
                "targetProjectKind": "NonLinked"
              }
            }
          }
        }
      }
    }
  ],
  "Variables": {
    "CONVERSATIONS_ENDPOINT": "https://languagesdkresource.cognitiveservices.azure.com/",
    "CONVERSATIONS_KEY": "Sanitized",
    "CONVERSATIONS_WORKFLOW_DEPLOYMENT_NAME": "production",
    "CONVERSATIONS_WORKFLOW_PROJECT_NAME": "OrchestrationScriptDeployed",
    "RandomSeed": "1669798137"
  }
}
