{
  "Entries": [
    {
      "RequestUri": "https://languagesdktest.cognitiveservices.azure.com/language/:analyze-conversations?api-version=2022-03-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "analysisInput": {
          "conversationItem": {
            "text": "How are you?",
            "participantId": "1",
            "id": "1",
            "modality": "text"
          }
        },
        "parameters": {
          "projectName": "OrchScriptDeployed1",
          "deploymentName": "production"
        },
        "kind": "CustomConversation"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kind": "CustomConversationResult",
        "results": {
          "query": "How are you?",
          "prediction": {
            "topIntent": "ChitChat-QnA",
            "projectKind": "workflow",
            "intents": {
              "ChitChat-QnA": {
                "confidenceScore": 0.9983183,
                "targetKind": "question_answering",
                "result": {
                  "answers": [
                    {
                      "questions": [
                        "How\u0027d you sleep last night?",
                        "Are you doing good?",
                        "Are you feeling well?",
                        "How are you doing?",
                        "How is the day treating you?",
                        "Are you feeling OK?",
                        "How are you?",
                        "How\u0027s it hangin?",
                        "How\u0027s tricks?",
                        "Are you doing OK?",
            [...]
