{
  "Entries": [
    {
      "RequestUri": "https://antischsdktest.cognitiveservices.azure.com/language/:analyze-conversations?projectName=antischOne\u0026deploymentName=production\u0026api-version=2021-07-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "query": "We\u0027ll have 2 plates of seared salmon nigiri."
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": [
        "{\n",
        "  \u0022query\u0022: \u0022We\u0027ll have 2 plates of seared salmon nigiri.\u0022,\n",
        "  \u0022prediction\u0022: {\n",
        "    \u0022intents\u0022: [\n",
        "      {\n",
        "        \u0022category\u0022: \u0022Order\u0022,\n",
        "        \u0022confidenceScore\u0022: 1\n",
        "      }\n",
        "    ],\n",
        "    \u0022entities\u0022: [\n",
        "      {\n",
        "        \u0022category\u0022: \u0022OrderItem\u0022,\n",
        "        \u0022text\u0022: \u00222 plates\u0022,\n",
        "        \u0022offset\u0022: 11,\n",
        "        \u0022length\u0022: 8,\n",
        "        \u0022confidenceScore\u0022: 1\n",
        "      },\n",
        "      {\n",
        "        \u0022category\u0022: \u0022OrderItem\u0022,\n",
        "        \u0022text\u0022: \u0022seared salmon nigiri\u0022,\n",
        "        \u0022offset\u0022: 23,\n",
        "        \u0022length\u0022: 20,\n",
        "        \u0022confidenceScore\u0022: 1\n",
        "      }\n",
        "    ],\n",
        "    \u0022topIntent\u0022: \u0022Order\u0022,\n",
        "    \u0022projectType\u0022: \u0022conversation\u0022\n",
        "  }\n",
        "}"
      ]
    }
  ],
  "Variables": {
    "CONVERSATIONS_KEY": "Sanitized",
    "CONVERSATIONS_PROJECT": "antischOne",
    "CONVERSATIONS_URI": "https://antischsdktest.cognitiveservices.azure.com",
    "RandomSeed": "804914377"
  }
}