{
  "Entries": [
    {
      "RequestUri": "https://languagesdktest.cognitiveservices.azure.com/language/:analyze-conversations?api-version=2022-03-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "analysisInput": {
          "conversationItem": {
            "text": "Send an email to Carol about the tomorrow\u0027s demo.",
            "participantId": "1",
            "id": "1",
            "modality": "text"
          },
          "isLoggingEnabled": true
        },
        "parameters": {
          "projectName": "CluScriptDeployed1",
          "deploymentName": "production",
          "verbose": true
        },
        "kind": "CustomConversation"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kind": "CustomConversationResult",
        "results": {
          "query": "Send an email to Carol about the tomorrow\u0027s demo.",
          "prediction": {
            "topIntent": "Setup",
            "projectKind": "conversation",
            "intents": [
              {
                "category": "Setup",
                "confidenceScore": 0.58996755
              },
              {
                "category": "Play",
                "confidenceScore": 0.2467319
              },
              {
                "category": "Send",
                "confidenceScore": 0.12377208
              },
              {
                "category": "Read",
                "confidenceScore": 0.021846032
              },
              {
                "category": "Call",
                "confidenceScore": 0.008932324
              },
              {
                "category": "Set",
                "confidenceScore": 0.0049096504
              },
              {
                "category": "Find",
                "confidenceScore": 0.0027786533
              },
              {
                "category": "Open",
                "confidenceScore": 0.00095121056
              },
              {
                "category": "None",
                "confidenceScore": 0.00011060793
              }
            ],
            "entities": [
              {
                "category": "Contact",
                "text": "Carol",
                "offset": 17,
                "length": 5,
                "confidenceScore": 1,
                "extraInformation": [
                  {
                    "extraInformationKind": "EntitySubtype",
                    "value": "person.name"
                  }
                ]
              },
              {
                "category": "MeetingDate",
                "text": "tomorrow",
                "offset": 33,
                "length": 8,
                "confidenceScore": 1,
                "resolutions": [
                  {
                    "resolutionKind": "DateTimeResolution",
                    "dateTimeSubKind": "Date",
                    "timex": "2022-04-18",
                    "value": "2022-04-18"
                  }
                ],
                "extraInformation": [
                  {
                    "extraInformationKind": "EntitySubtype",
                    "value": "datetime.date"
                  }
                ]
              }
            ]
          }
        }
      }
    }
  ],
  "Variables": {
    "AZURE_CONVERSATIONS_DEPLOYMENT_NAME": "production",
    "AZURE_CONVERSATIONS_ENDPOINT": "https://languagesdktest.cognitiveservices.azure.com",
    "AZURE_CONVERSATIONS_KEY": "Sanitized",
    "AZURE_CONVERSATIONS_PROJECT_NAME": "CluScriptDeployed1",
    "RandomSeed": "529735693"
  }
}
