{
  "Entries": [
    {
      "RequestUri": "https://westeurope.api.cognitive.microsoft.com/language/:analyze-conversations?api-version=2022-03-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "analysisInput": {
          "conversationItem": {
            "text": "Send an email to Carol about the tomorrow\u0027s demo.",
            "participantId": "1",
            "id": "1",
            "modality": "text"
          }
        },
        "parameters": {
          "projectName": "SampleProject",
          "deploymentName": "MoTest"
        },
        "kind": "CustomConversation"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kind": "CustomConversationResult",
        "results": {
          "query": "Send an email to Carol about the tomorrow\u0027s demo.",
          "prediction": {
            "topIntent": "Read",
            "projectKind": "conversation",
            "intents": [
              {
                "category": "Read",
                "confidenceScore": 0.72393185
              },
              {
                "category": "Send",
                "confidenceScore": 0.14929298
              },
              {
                "category": "Setup",
                "confidenceScore": 0.076164305
              },
              {
                "category": "Find",
                "confidenceScore": 0.04118208
              },
              {
                "category": "Set",
                "confidenceScore": 0.00614006
              },
              {
                "category": "Call",
                "confidenceScore": 0.0025622917
              },
              {
                "category": "Open",
                "confidenceScore": 0.000411571
              },
              {
                "category": "None",
                "confidenceScore": 0.00028198693
              },
              {
                "category": "Play",
                "confidenceScore": 3.289273E-05
              }
            ],
            "entities": [
              {
                "category": "Contact",
                "text": "Carol",
                "offset": 17,
                "length": 5,
                "confidenceScore": 1,
                "extraInformation": [
                  {
                    "extraInformationKind": "EntitySubtype",
                    "value": "person.name"
                  }
                ]
              },
              {
                "category": "MeetingDate",
                "text": "tomorrow",
                "offset": 33,
                "length": 8,
                "confidenceScore": 1,
                "resolutions": [
                  {
                    "resolutionKind": "DateTimeResolution",
                    "dateTimeSubKind": "Date",
                    "timex": "2022-04-06",
                    "value": "2022-04-06"
                  }
                ],
                "extraInformation": [
                  {
                    "extraInformationKind": "EntitySubtype",
                    "value": "datetime.date"
                  }
                ]
              },
              {
                "category": "Location",
                "text": "demo",
                "offset": 44,
                "length": 4,
                "confidenceScore": 1
              }
            ]
          }
        }
      }
    }
  ],
  "Variables": {
    "AZURE_CONVERSATIONS_DEPLOYMENT_NAME": "MoTest",
    "AZURE_CONVERSATIONS_ENDPOINT": "https://westeurope.api.cognitive.microsoft.com",
    "AZURE_CONVERSATIONS_KEY": "Sanitized",
    "AZURE_CONVERSATIONS_PROJECT_NAME": "SampleProject",
    "RandomSeed": "642953683"
  }
}
