{
  "Entries": [
    {
      "RequestUri": "https://languagesdkresource.cognitiveservices.azure.com/language/:analyze-conversations?api-version=2023-04-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "analysisInput": {
          "conversationItem": {
            "text": "Send an email to Carol about tomorrow\u0027s demo",
            "id": "1",
            "participantId": "1"
          }
        },
        "parameters": {
          "projectName": "CLUScriptDeployed",
          "deploymentName": "production",
          "verbose": true,
          "stringIndexType": "Utf16CodeUnit"
        },
        "kind": "Conversation"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "csp-billing-usage": "CognitiveServices.TextAnalytics.Language.ConversationalLanguageUnderstanding.Prediction=1",
        "x-ms-region": "UK South"
      },
      "ResponseBody": {
        "kind": "ConversationResult",
        "result": {
          "query": "Send an email to Carol about tomorrow\u0027s demo",
          "prediction": {
            "topIntent": "Send",
            "projectKind": "Conversation",
            "intents": [
              {
                "category": "Send",
                "confidenceScore": 0.9340558
              },
              {
                "category": "Read",
                "confidenceScore": 0.5373803
              },
              {
                "category": "Setup",
                "confidenceScore": 0.48370427
              },
              {
                "category": "Set",
                "confidenceScore": 0.27368224
              },
              {
                "category": "Find",
                "confidenceScore": 0.2392775
              },
              {
                "category": "None",
                "confidenceScore": 0.21357784
              },
              {
                "category": "Call",
                "confidenceScore": 0.18305053
              },
              {
                "category": "Play",
                "confidenceScore": 0.14316714
              },
              {
                "category": "Open",
                "confidenceScore": 0.13479468
              }
            ],
            "entities": [
              {
                "category": "Contact",
                "text": "Carol",
                "offset": 17,
                "length": 5,
                "confidenceScore": 1,
                "extraInformation": [
                  {
                    "extraInformationKind": "EntitySubtype",
                    "value": "person.name"
                  }
                ]
              },
              {
                "category": "MeetingDate",
                "text": "tomorrow",
                "offset": 29,
                "length": 8,
                "confidenceScore": 1,
                "resolutions": [
                  {
                    "resolutionKind": "DateTimeResolution",
                    "dateTimeSubKind": "Date",
                    "timex": "2023-05-09",
                    "value": "2023-05-09"
                  }
                ],
                "extraInformation": [
                  {
                    "extraInformationKind": "EntitySubtype",
                    "value": "datetime.date"
                  }
                ]
              }
            ]
          }
        }
      }
    }
  ],
  "Variables": {
    "CONVERSATIONS_DEPLOYMENT_NAME": "production",
    "CONVERSATIONS_ENDPOINT": "https://languagesdkresource.cognitiveservices.azure.com/",
    "CONVERSATIONS_KEY": "Sanitized",
    "CONVERSATIONS_PROJECT_NAME": "CLUScriptDeployed",
    "RandomSeed": "1893469250"
  }
}
