{
  "Entries": [
    {
      "RequestUri": "https://languagesdkresource.cognitiveservices.azure.com/language/:analyze-conversations?api-version=2022-05-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "analysisInput": {
          "conversationItem": {
            "text": "Enviar un email a Carol acerca de la presentaci\u00F3n de ma\u00F1ana",
            "language": "es",
            "id": "1",
            "participantId": "1"
          }
        },
        "parameters": {
          "projectName": "CLUScriptDeployed",
          "deploymentName": "production",
          "verbose": true,
          "stringIndexType": "Utf16CodeUnit"
        },
        "kind": "Conversation"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "csp-billing-usage": "CognitiveServices.TextAnalytics.Language.ConversationalLanguageUnderstanding.Prediction=1"
      },
      "ResponseBody": {
        "kind": "ConversationResult",
        "result": {
          "query": "Enviar un email a Carol acerca de la presentaci\u00F3n de ma\u00F1ana",
          "prediction": {
            "topIntent": "Send",
            "projectKind": "Conversation",
            "intents": [
              {
                "category": "Send",
                "confidenceScore": 0.6775715
              },
              {
                "category": "Read",
                "confidenceScore": 0.37886426
              },
              {
                "category": "Setup",
                "confidenceScore": 0.25354233
              },
              {
                "category": "Find",
                "confidenceScore": 0.18457225
              },
              {
                "category": "Play",
                "confidenceScore": 0.17800823
              },
              {
                "category": "Set",
                "confidenceScore": 0.16446844
              },
              {
                "category": "Open",
                "confidenceScore": 0.15069549
              },
              {
                "category": "None",
                "confidenceScore": 0.13704553
              },
              {
                "category": "Call",
                "confidenceScore": 0.12041756
              }
            ],
            "entities": [
              {
                "category": "MeetingDate",
                "text": "ma\u00F1ana",
                "offset": 53,
                "length": 6,
                "confidenceScore": 1,
                "resolutions": [
                  {
                    "resolutionKind": "DateTimeResolution",
                    "dateTimeSubKind": "Date",
                    "timex": "2022-06-30",
                    "value": "2022-06-30"
                  }
                ],
                "extraInformation": [
                  {
                    "extraInformationKind": "EntitySubtype",
                    "value": "datetime.date"
                  }
                ]
              }
            ]
          }
        }
      }
    }
  ],
  "Variables": {
    "CONVERSATIONS_DEPLOYMENT_NAME": "production",
    "CONVERSATIONS_ENDPOINT": "https://languagesdkresource.cognitiveservices.azure.com/",
    "CONVERSATIONS_KEY": "Sanitized",
    "CONVERSATIONS_PROJECT_NAME": "CLUScriptDeployed",
    "RandomSeed": "1734141202"
  }
}
