{
  "Entries": [
    {
      "RequestUri": "https://antischsdktest.cognitiveservices.azure.com/language/:analyze-conversations?projectName=antischTwo\u0026deploymentName=production\u0026api-version=2021-11-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "query": "Where are the calories per recipe?"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "query": "Where are the calories per recipe?",
        "prediction": {
          "topIntent": "SushiMaking",
          "projectKind": "workflow",
          "intents": {
            "SushiMaking": {
              "confidenceScore": 0.76692706,
              "targetKind": "question_answering",
              "result": {
                "answers": [
                  {
                    "questions": [
                      "do you eat cake?",
                      "do you ever eat beef?",
                      "do you ever eat pizza?",
                      "have you ever eaten tofu?",
                      "you don\u0027t eat?",
                      "have you ever wanted to eat?",
                      "Don\u0027t you ever get hungry?",
                      "how many calories do you need?",
                      "What kind of food do you like?",
                      "What do you eat fo[...]
