{
  "Entries": [
    {
      "RequestUri": "https://languagesdktest.cognitiveservices.azure.com/language/:analyze-conversations?api-version=2022-05-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "analysisInput": {
          "conversationItem": {
            "text": "Send an email to Carol about the tomorrow\u0027s demo.",
            "id": "1",
            "participantId": "1"
          }
        },
        "parameters": {
          "projectName": "CluScriptDeployed1",
          "deploymentName": "production",
          "verbose": true,
          "isLoggingEnabled": true,
          "stringIndexType": "Utf16CodeUnit"
        },
        "kind": "Conversation"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "csp-billing-usage": "CognitiveServices.TextAnalytics.Language.ConversationalLanguageUnderstanding.Prediction=1"
      },
      "ResponseBody": {
        "kind": "ConversationResult",
        "result": {
          "query": "Send an email to Carol about the tomorrow\u0027s demo.",
          "prediction": {
            "topIntent": "Setup",
            "projectKind": "Conversation",
            "intents": [
              {
                "category": "Setup",
                "confidenceScore": 0.58996755
              },
              {
                "category": "Play",
                "confidenceScore": 0.2467319
              },
              {
                "category": "Send",
                "confidenceScore": 0.12377208
              },
              {
                "category": "Read",
                "confidenceScore": 0.021846032
              },
              {
                "category": "Call",
                "confidenceScore": 0.008932324
              },
              {
                "category": "Set",
                "confidenceScore": 0.0049096504
              },
              {
                "category": "Find",
                "confidenceScore": 0.0027786533
              },
              {
                "category": "Open",
                "confidenceScore": 0.00095121056
              },
              {
                "category": "None",
                "confidenceScore": 0.00011060793
              }
            ],
            "entities": [
              {
                "category": "Contact",
                "text": "Carol",
                "offset": 17,
                "length": 5,
                "confidenceScore": 1,
                "extraInformation": [
                  {
                    "extraInformationKind": "EntitySubtype",
                    "value": "person.name"
                  }
                ]
              },
              {
                "category": "MeetingDate",
                "text": "tomorrow",
                "offset": 33,
                "length": 8,
                "confidenceScore": 1,
                "resolutions": [
                  {
                    "resolutionKind": "DateTimeResolution",
                    "dateTimeSubKind": "Date",
                    "timex": "2022-05-26",
                    "value": "2022-05-26"
                  }
                ],
                "extraInformation": [
                  {
                    "extraInformationKind": "EntitySubtype",
                    "value": "datetime.date"
                  }
                ]
              }
            ]
          }
        }
      }
    }
  ],
  "Variables": {
    "CONVERSATIONS_DEPLOYMENT_NAME": "production",
    "CONVERSATIONS_ENDPOINT": "https://languagesdktest.cognitiveservices.azure.com",
    "CONVERSATIONS_KEY": "Sanitized",
    "CONVERSATIONS_PROJECT_NAME": "CluScriptDeployed1",
    "RandomSeed": "1671066931"
  }
}
