{
  "Entries": [
    {
      "RequestUri": "https://antischsdktest.cognitiveservices.azure.com/language/:analyze-conversations?projectName=antischTwo\u0026deploymentName=production\u0026api-version=2021-11-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "query": "We\u0027ll have 2 plates of seared salmon nigiri."
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "query": "We\u0027ll have 2 plates of seared salmon nigiri.",
        "prediction": {
          "topIntent": "SushiOrder",
          "projectKind": "workflow",
          "intents": {
            "SushiOrder": {
              "confidenceScore": 0.82421875,
              "targetKind": "conversation",
              "result": {
                "query": "We\u0027ll have 2 plates of seared salmon nigiri.",
                "prediction": {
                  "intents": [
                    {
                      "category": "Order",
                      "confidenceScore": 1
                    }
                  ],
                  "entities": [
                    {
                      "category": "OrderItem",
                      "text": "2 plates",
                      "offset": 11,
                      "length": 8,
                      "confidenceScore": 1,
                      "listKeys": null
                    },
                    {
                      "category": "OrderItem",
                      "text": "seared salmon nigiri",
                      "offset": 23,
                      "length": 20,
                      "confidenceScore": 1,
                      "listKeys": null
                    }
                  ],
                  "topIntent": "Order",
                  "projectKind": "conversation"
                }
              }
            },
            "SushiMaking": {
              "confidenceScore": 0.7317708,
              "targetKind": "question_answering"
            },
            "None": {
              "confidenceScore": 0,
              "targetKind": "non_linked"
            }
          }
        }
      }
    }
  ],
  "Variables": {
    "CONVERSATIONS_KEY": "Sanitized",
    "CONVERSATIONS_URI": "https://antischsdktest.cognitiveservices.azure.com",
    "RandomSeed": "1983100982"
  }
}