{
  "Entries": [
    {
      "RequestUri": "https://languagesdkresource.cognitiveservices.azure.com/language/:analyze-conversations?api-version=2022-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "analysisInput": {
          "conversationItem": {
            "text": "Send an email to Carol about tomorrow\u0027s demo",
            "id": "1",
            "participantId": "1"
          }
        },
        "parameters": {
          "projectName": "invalid-project",
          "deploymentName": "production",
          "stringIndexType": "Utf16CodeUnit"
        },
        "kind": "Conversation"
      },
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json"
      },
      "ResponseBody": {
        "error": {
          "code": "NotFound",
          "message": "The specified deployment cannot be found within the provided subscription."
        }
      }
    }
  ],
  "Variables": {
    "CONVERSATIONS_ENDPOINT": "https://languagesdkresource.cognitiveservices.azure.com/",
    "CONVERSATIONS_KEY": "Sanitized",
    "RandomSeed": "1983927413"
  }
}
