{
  "Entries": [
    {
      "RequestUri": "https://antischsdktest.cognitiveservices.azure.com/language/:analyze-conversations?projectName=invalid-project\u0026deploymentName=production\u0026api-version=2021-11-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "query": "We\u0027ll have 2 plates of seared salmon nigiri."
      },
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "One or more authorization parameter is invalid or missing.",
          "innerError": {
            "code": "Forbidden",
            "message": "The provided authorization parameters cannot access the requested resource."
          }
        }
      }
    }
  ],
  "Variables": {
    "CONVERSATIONS_KEY": "Sanitized",
    "CONVERSATIONS_URI": "https://antischsdktest.cognitiveservices.azure.com",
    "RandomSeed": "776501990"
  }
}
