{
  "Entries": [
    {
      "RequestUri": "https://antischsdktest.cognitiveservices.azure.com/language/:analyze-conversations?projectName=invalid-knowledgebase\u0026deploymentName=production\u0026api-version=2021-07-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "query": "We\u0027ll have 2 plates of seared salmon nigiri."
      },
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json"
      },
      "ResponseBody": [
        "{\n",
        "  \u0022error\u0022: {\n",
        "    \u0022code\u0022: \u0022Unauthorized\u0022,\n",
        "    \u0022message\u0022: \u0022One or more authorization parameter is invalid or missing.\u0022,\n",
        "    \u0022innerError\u0022: {\n",
        "      \u0022code\u0022: \u0022Forbidden\u0022,\n",
        "      \u0022message\u0022: \u0022The provided authorization parameters cannot access the requested resource.\u0022\n",
        "    }\n",
        "  }\n",
        "}"
      ]
    }
  ],
  "Variables": {
    "CONVERSATIONS_KEY": "Sanitized",
    "CONVERSATIONS_URI": "https://antischsdktest.cognitiveservices.azure.com",
    "RandomSeed": "107569117"
  }
}