{
  "Entries": [
    {
      "RequestUri": "https://languagesdkresource.cognitiveservices.azure.com/language/authoring/analyze-conversations/projects/CLUScriptDeployed/:export?stringIndexType=Utf16CodeUnit\u0026api-version=2023-04-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "operation-location": "https://languagesdkresource.cognitiveservices.azure.com/language/authoring/analyze-conversations/projects/CLUScriptDeployed/export/jobs/aef9ba5f-122f-4227-9fa0-34a5b2019ba5_638191008000000000?api-version=2023-04-01",
        "x-ms-region": "UK South"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://languagesdkresource.cognitiveservices.azure.com/language/authoring/analyze-conversations/projects/CLUScriptDeployed/export/jobs/aef9ba5f-122f-4227-9fa0-34a5b2019ba5_638191008000000000?api-version=2023-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "UK South"
      },
      "ResponseBody": {
        "jobId": "aef9ba5f-122f-4227-9fa0-34a5b2019ba5_638191008000000000",
        "createdDateTime": "2023-05-08T23:12:31Z",
        "lastUpdatedDateTime": "2023-05-08T23:12:31Z",
        "expirationDateTime": "2023-05-15T23:12:31Z",
        "status": "notStarted"
      }
    },
    {
      "RequestUri": "https://languagesdkresource.cognitiveservices.azure.com/language/authoring/analyze-conversations/projects/CLUScriptDeployed/export/jobs/aef9ba5f-122f-4227-9fa0-34a5b2019ba5_638191008000000000?api-version=2023-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "UK South"
      },
      "ResponseBody": {
        "resultUrl": "https://languagesdkresource.cognitiveservices.azure.com/language/authoring/analyze-conversations/projects/CLUScriptDeployed/export/jobs/aef9ba5f-122f-4227-9fa0-34a5b2019ba5_638191008000000000/result?api-version=2023-04-01",
        "jobId": "aef9ba5f-122f-4227-9fa0-34a5b2019ba5_638191008000000000",
        "createdDateTime": "2023-05-08T23:12:31Z",
        "lastUpdatedDateTime": "2023-05-08T23:12:31Z",
        "expirationDateTime": "2023-05-15T23:12:31Z",
        "status": "succeeded"
      }
    },
    {
      "RequestUri": "https://languagesdkresource.cognitiveservices.azure.com/language/authoring/analyze-conversations/projects/CLUScriptDeployed/export/jobs/aef9ba5f-122f-4227-9fa0-34a5b2019ba5_638191008000000000/result?api-version=2023-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "UK South"
      },
      "ResponseBody": {
        "projectFileVersion": "2023-04-01",
        "stringIndexType": "Utf16CodeUnit",
        "metadata": {
          "projectKind": "Conversation",
          "settings": {
            "confidenceThreshold": 0.5
          },
          "projectName": "CLUScriptDeployed",
          "multilingual": true,
          "description": "",
          "language": "en-us"
        },
        "assets": {
          "projectKind": "Conversation",
          "intents": [
            {
              "category": "None"
            },
            {
              "category": "Send"
            },
            {
              "category": "Read"
            },
            {
              "category": "Setup"
            },
            {
              "category": "Play"
            },
            {
              "category": "Call"
            },
            {
              "category": "Set"
            },
            {
              "category": "Find"
            },
            {
              "category": "Open"
            }
          ],
          "entities": [
            {
              "category": "MeetingDate",
              "compositionSetting": "combineComponents",
              "prebuilts": [
                {
                  "category": "DateTime"
                }
              ]
            },
            {
              "category": "Artist",
              "compositionSetting": "combineComponents",
              "prebuilts": [
                {
                  "category": "Media.Artist"
                }
              ]
            },
            {
              "category": "Song",
              "compositionSetting": "combineComponents",
              "prebuilts": [
       [...]
