{
  "Entries": [
    {
      "RequestUri": "https://languagesdkresource.cognitiveservices.azure.com/language/authoring/analyze-conversations/projects/net-conv-367666463/:import?api-version=2022-05-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "projectFileVersion": "2022-05-01",
        "metadata": {
          "projectName": "net-conv-367666463",
          "projectKind": "Conversation",
          "multilingual": true,
          "language": "en"
        },
        "assets": {
          "projectKind": "Conversation",
          "entities": [
            {
              "category": "Contact",
              "compositionSetting": "combineComponents",
              "prebuilts": [
                {
                  "category": "Person.Name"
                }
              ]
            }
          ],
          "intents": [
            {
              "category": "Send"
            }
          ],
          "utterances": [
            {
              "text": "Send an email to Johnson",
              "language": "en",
              "intent": "Send",
              "entities": [
                {
                  "category": "Contact",
                  "offset": 17,
                  "length": 7
                }
              ]
            },
            {
              "text": "Send Kathy a calendar invite",
              "language": "en",
              "intent": "Send",
              "entities": [
                {
                  "category": "Contact",
                  "offset": 5,
                  "length": 5
                }
              ]
            }
          ]
        },
        "stringIndexType": "Utf16CodeUnit"
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "operation-location": "https://languagesdkresource.cognitiveservices.azure.com/language/authoring/analyze-conversations/projects/net-conv-367666463/import/jobs/d5c8393b-03cb-4555-a19f-88a926691029_637908480000000000?api-version=2022-05-01"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://languagesdkresource.cognitiveservices.azure.com/language/authoring/analyze-conversations/projects/net-conv-367666463/import/jobs/d5c8393b-03cb-4555-a19f-88a926691029_637908480000000000?api-version=2022-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "jobId": "d5c8393b-03cb-4555-a19f-88a926691029_637908480000000000",
        "createdDateTime": "2022-06-15T01:02:11Z",
        "lastUpdatedDateTime": "2022-06-15T01:02:11Z",
        "expirationDateTime": "2022-06-22T01:02:11Z",
        "status": "succeeded"
      }
    },
    {
      "RequestUri": "https://languagesdkresource.cognitiveservices.azure.com/language/authoring/analyze-conversations/projects/net-conv-367666463/:train?api-version=2022-05-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "modelLabel": "Sample5",
        "trainingMode": "standard"
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "operation-location": "https://languagesdkresource.cognitiveservices.azure.com/language/authoring/analyze-conversations/projects/net-conv-367666463/train/jobs/d7a56f2a-1554-492d-bb70-e5a71911c120_637908480000000000?api-version=2022-05-01"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://languagesdkresource.cognitiveservices.azure.com/language/authoring/analyze-conversations/projects/net-conv-367666463/train/jobs/d7a56f2a-1554-492d-bb70-e5a71911c120_637908480000000000?api-version=2022-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "result": {
          "modelLabel": "Sample5",
          "trainingConfigVersion": "2022-05-01",
          "trainingMode": "standard",
          "trainingStatus": {
            "percentComplete": 0,
            "status": "notStarted"
          },
          "evaluationStatus": {
            "percentComplete": 0,
            "status": "notStarted"
          }
        },
        "jobId": "d7a56f2a-1554-492d-bb70-e5a71911c120_637908480000000000",
        "createdDateTime": "2022-06-15T01:02:12Z",
        "lastUpdatedDateTime": "2022-06-15T01:02:12Z",
        "expirationDateTime": "2022-06-22T01:02:12Z",
        "status": "running"
      }
    },
[...]
    {
      "RequestUri": "https://languagesdkresource.cognitiveservices.azure.com/language/authoring/analyze-conversations/projects/net-conv-367666463/train/jobs/d7a56f2a-1554-492d-bb70-e5a71911c120_637908480000000000?api-version=2022-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "result": {
          "modelLabel": "Sample5",
          "trainingConfigVersion": "2022-05-01",
          "trainingMode": "standard",
          "trainingStatus": {
            "percentComplete": 100,
            "startDateTime": "2022-06-15T01:02:13.4314123Z",
            "endDateTime": "2022-06-15T01:02:15.5780671Z",
            "status": "succeeded"
          },
          "evaluationStatus": {
            "percentComplete": 100,
            "startDateTime": "2022-06-15T01:02:15.5974596Z",
            "endDateTime": "2022-06-15T01:02:16.2098274Z",
            "status": "succeeded"
          }
        },
        "jobId": "d7a56f2a-1554-492d-bb70-e5a71911c120_637908480000000000",
        "createdDateTime": "2022-06-15T01:02:12Z",
        "lastUpdatedDateTime": "2022-06-15T01:02:16Z",
        "expirationDateTime": "2022-06-22T01:02:12Z",
        "status": "succeeded"
      }
    },
    {
      "RequestUri": "https://languagesdkresource.cognitiveservices.azure.com/language/authoring/analyze-conversations/projects/net-conv-367666463/deployments/production?api-version=2022-05-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "trainedModelLabel": "Sample5"
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "operation-location": "https://languagesdkresource.cognitiveservices.azure.com/language/authoring/analyze-conversations/projects/net-conv-367666463/deployments/production/jobs/ff2585da-967b-41dc-8f05-0a854689e260_637908480000000000?api-version=2022-05-01"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://languagesdkresource.cognitiveservices.azure.com/language/authoring/analyze-conversations/projects/net-conv-367666463/deployments/production/jobs/ff2585da-967b-41dc-8f05-0a854689e260_637908480000000000?api-version=2022-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "jobId": "ff2585da-967b-41dc-8f05-0a854689e260_637908480000000000",
        "createdDateTime": "2022-06-15T01:02:17Z",
        "lastUpdatedDateTime": "2022-06-15T01:02:17Z",
        "expirationDateTime": "2022-06-22T01:02:17Z",
        "status": "running"
      }
    },
[...]
    {
      "RequestUri": "https://languagesdkresource.cognitiveservices.azure.com/language/authoring/analyze-conversations/projects/net-conv-367666463/deployments/production?api-version=2022-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "deploymentName": "production",
        "modelId": "Sample5-20220615T010216-aeac9f0032944941b024163bc3ebff89",
        "lastTrainedDateTime": "2022-06-15T01:02:16.6869195Z",
        "lastDeployedDateTime": "2022-06-15T01:02:22Z",
        "deploymentExpirationDate": "2023-10-28",
        "modelTrainingConfigVersion": "2022-05-01"
      }
    }
  ],
  "Variables": {
    "CONVERSATIONS_ENDPOINT": "https://languagesdkresource.cognitiveservices.azure.com/",
    "CONVERSATIONS_KEY": "Sanitized",
    "RandomSeed": "1229230579"
  }
}
