{
  "Entries": [
    {
      "RequestUri": "https://clubuildppe.ppe.cognitiveservices.azure.com/language/analyze-conversations/jobs?api-version=2022-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "analysisInput": {
          "conversations": [
            {
              "conversationItems": [
                {
                  "itn": "hi",
                  "maskedItn": "hi",
                  "text": "Hi",
                  "lexical": "hi",
                  "audioTimings": [
                    {
                      "word": "hi",
                      "offset": 4500000,
                      "duration": 2800000
                    }
                  ],
                  "id": "1",
                  "participantId": "speaker"
                },
                {
                  "itn": "jane doe",
                  "maskedItn": "jane doe",
                  "text": "Jane doe",
                  "lexical": "jane doe",
                  "audioTimings": [
                    {
                      "word": "jane",
                      "offset": 7100000,
                      "duration": 4800000
                    },
                    {
                      "word": "jane",
                      "offset":[...]
    {
      "RequestUri": "https://clubuildppe.ppe.cognitiveservices.azure.com/language/analyze-conversations/jobs/e716636b-dfca-456a-9f58-f1d9f3d21ccc?api-version=2022-05-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-http2-stream-id": "7"
      },
      "ResponseBody": {
        "jobId": "e716636b-dfca-456a-9f58-f1d9f3d21ccc",
        "lastUpdatedDateTime": "2022-05-19T14:51:14Z",
        "createdDateTime": "2022-05-19T14:51:14Z",
        "expirationDateTime": "2022-05-20T14:51:14Z",
        "status": "running",
        "errors": [],
        "tasks": {
          "completed": 0,
          "failed": 0,
          "inProgress": 1,
          "total": 1,
          "items": []
        }
      }
    },
    {
      "RequestUri": "https://clubuildppe.ppe.cognitiveservices.azure.com/language/analyze-conversations/jobs/e716636b-dfca-456a-9f58-f1d9f3d21ccc?api-version=2022-05-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-http2-stream-id": "7"
      },
      "ResponseBody": {
        "jobId": "e716636b-dfca-456a-9f58-f1d9f3d21ccc",
        "lastUpdatedDateTime": "2022-05-19T14:51:15Z",
        "createdDateTime": "2022-05-19T14:51:14Z",
        "expirationDateTime": "2022-05-20T14:51:14Z",
        "status": "succeeded",
        "errors": [],
        "tasks": {
          "completed": 1,
          "failed": 0,
          "inProgress": 0,
          "total": 1,
          "items": [
            {
              "kind": "conversationalPIIResults",
              "taskName": "analyze",
              "lastUpdateDateTime": "2022-05-19T14:51:15.0873855Z",
              "status": "succeeded",
              "results": {
                "conversations": [
                  {
                    "id": "1",
                    "conversationItems": [
                      {
                        "id": "1",
                        "redactedContent": {
                          "itn": "hi",
                          "lexical": "hi",
                          "maskedItn": "hi",
                          "text": "Hi"
                        },
                        "entities": []
                      },
                      {
                        "id": "2",
                        "redactedContent": {
                          "itn": "**** doe",
                          "lexical": "**** doe",
                          "maskedItn": "**** doe",
                          "text": "**** doe"
                        },
                        "entities": [
                          {
                            "text": "jane",
                            "category": "Name",
                            "offset": 0,
                            "length": 4,
                            "confidenceScore": 0.85
                          }
                        ]
                      },
                      {
                        "id": "3",
                        "redactedContent": {
                          "itn": "hi **** what\u0027s your phone number",
                          "lexical": "hi **** what\u0027s your phone number",
                          "maskedItn": "hi **** what\u0027s your phone number",
                          "text": "Hi ****, what\u0027s your phone number?"
                        },
                        "entities": [
                          {
                            "text": "jane",
                            "category": "Name",
                            "offset": 3,
                            "length": 4,
                            "confidenceScore": 0.91
                          }
                        ]
                      }
                    ],
                    "warnings": []
                  }
                ],
                "errors": [],
                "modelVersion": "2022-05-15-preview"
              }
            }
          ]
        }
      }
    }
  ],
  "Variables": {
    "AZURE_CONVERSATIONS_ENDPOINT": "https://clubuildppe.ppe.cognitiveservices.azure.com/",
    "AZURE_CONVERSATIONS_KEY": "Sanitized",
    "RandomSeed": "1728839380"
  }
}
