{
  "Entries": [
    {
      "RequestUri": "https://clubuildppe.ppe.cognitiveservices.azure.com/language/analyze-conversations/jobs?api-version=2022-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "analysisInput": {
          "conversations": [
            {
              "conversationItems": [
                {
                  "text": "Hi, I am John Doe.",
                  "id": "1",
                  "participantId": "0"
                },
                {
                  "text": "Hi John, how are you doing today?",
                  "id": "2",
                  "participantId": "1"
                },
                {
                  "text": "Pretty good.",
                  "id": "3",
                  "participantId": "0"
                }
              ],
              "id": "1",
              "language": "en",
              "modality": "text"
            }
          ]
        },
        "tasks": [
          {
            "parameters": {
              "piiCategories": [
                "All"
              ],
              "includeAudioRedaction": false,
              "modelVersion": "2022-05-15-preview",
              "loggingOptOut": false
            },
            "kind": "ConversationalPIITask",
            "taskName": "analyze"
          }
        ]
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "operation-location": "https://clubuildppe.ppe.cognitiveservices.azure.com/language/analyze-conversations/jobs/31d0c583-b8fe-452e-be91-2d33c7da383d?api-version=2022-05-15-preview",
        "x-http2-stream-id": "3"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://clubuildppe.ppe.cognitiveservices.azure.com/language/analyze-conversations/jobs/31d0c583-b8fe-452e-be91-2d33c7da383d?api-version=2022-05-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-http2-stream-id": "3"
      },
      "ResponseBody": {
        "jobId": "31d0c583-b8fe-452e-be91-2d33c7da383d",
        "lastUpdatedDateTime": "2022-05-23T21:52:57Z",
        "createdDateTime": "2022-05-23T21:52:57Z",
        "expirationDateTime": "2022-05-24T21:52:57Z",
        "status": "notStarted",
        "errors": [],
        "tasks": {
          "completed": 0,
          "failed": 0,
          "inProgress": 1,
          "total": 1,
          "items": []
        }
      }
    },
    {
      "RequestUri": "https://clubuildppe.ppe.cognitiveservices.azure.com/language/analyze-conversations/jobs/31d0c583-b8fe-452e-be91-2d33c7da383d?api-version=2022-05-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-http2-stream-id": "3"
      },
      "ResponseBody": {
        "jobId": "31d0c583-b8fe-452e-be91-2d33c7da383d",
        "lastUpdatedDateTime": "2022-05-23T21:52:59Z",
        "createdDateTime": "2022-05-23T21:52:57Z",
        "expirationDateTime": "2022-05-24T21:52:57Z",
        "status": "succeeded",
        "errors": [],
        "tasks": {
          "completed": 1,
          "failed": 0,
          "inProgress": 0,
          "total": 1,
          "items": [
            {
              "kind": "conversationalPIIResults",
              "taskName": "analyze",
              "lastUpdateDateTime": "2022-05-23T21:52:59.1055539Z",
              "status": "succeeded",
              "results": {
                "conversations": [
                  {
                    "id": "1",
                    "conversationItems": [
                      {
                        "id": "1",
                        "redactedContent": {
                          "text": "Hi, I am ********."
                        },
                        "entities": [
                          {
                            "text": "John Doe",
                            "category": "Name",
                            "offset": 9,
                            "length": 8,
                            "confidenceScore": 0.83
                          }
                        ]
                      },
                      {
                        "id": "2",
                        "redactedContent": {
                          "text": "Hi ****, how are you doing today?"
                        },
                        "entities": [
                          {
                            "text": "John",
                            "category": "Name",
                            "offset": 3,
                            "length": 4,
                            "confidenceScore": 0.97
                          }
                        ]
                      },
                      {
                        "id": "3",
                        "redactedContent": {
                          "text": "Pretty good."
                        },
                        "entities": []
                      }
                    ],
                    "warnings": []
                  }
                ],
                "errors": [],
                "modelVersion": "2022-05-15-preview"
              }
            }
          ]
        }
      }
    }
  ],
  "Variables": {
    "AZURE_CONVERSATIONS_ENDPOINT": "https://clubuildppe.ppe.cognitiveservices.azure.com/",
    "AZURE_CONVERSATIONS_KEY": "Sanitized",
    "RandomSeed": "1351984634"
  }
}
