{
  "Entries": [
    {
      "RequestUri": "https://languagesdkresource.cognitiveservices.azure.com/language/analyze-conversations/jobs?api-version=2022-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "analysisInput": {
          "conversations": [
            {
              "conversationItems": [
                {
                  "text": "Hello, how can I help you?",
                  "id": "1",
                  "participantId": "Agent"
                },
                {
                  "text": "How to upgrade Office? I am getting error messages the whole day.",
                  "id": "2",
                  "participantId": "Customer"
                },
                {
                  "text": "Press the upgrade button please. Then sign in and follow the instructions.",
                  "id": "3",
                  "participantId": "Agent"
                }
              ],
              "id": "1",
              "language": "en",
              "modality": "text"
            }
          ]
        },
        "tasks": [
          {
            "parameters": {
              "summaryAspects": [
                "issue",
                "resolution"
              ]
            },
            "kind": "ConversationalSummarizationTask",
            "taskName": "1"
          }
        ]
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "operation-location": "https://languagesdkresource.cognitiveservices.azure.com/language/analyze-conversations/jobs/a2f572f4-a629-4b3e-b817-bab01e256245?api-version=2022-05-15-preview"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://languagesdkresource.cognitiveservices.azure.com/language/analyze-conversations/jobs/a2f572f4-a629-4b3e-b817-bab01e256245?api-version=2022-05-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "jobId": "a2f572f4-a629-4b3e-b817-bab01e256245",
        "lastUpdatedDateTime": "2022-06-06T21:02:19Z",
        "createdDateTime": "2022-06-06T21:02:18Z",
        "expirationDateTime": "2022-06-07T21:02:18Z",
        "status": "running",
        "errors": [],
        "tasks": {
          "completed": 0,
          "failed": 0,
          "inProgress": 1,
          "total": 1,
          "items": []
        }
      }
    },
    {
      "RequestUri": "https://languagesdkresource.cognitiveservices.azure.com/language/analyze-conversations/jobs/a2f572f4-a629-4b3e-b817-bab01e256245?api-version=2022-05-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "jobId": "a2f572f4-a629-4b3e-b817-bab01e256245",
        "lastUpdatedDateTime": "2022-06-06T21:02:20Z",
        "createdDateTime": "2022-06-06T21:02:18Z",
        "expirationDateTime": "2022-06-07T21:02:18Z",
        "status": "succeeded",
        "errors": [],
        "tasks": {
          "completed": 1,
          "failed": 0,
          "inProgress": 0,
          "total": 1,
          "items": [
            {
              "kind": "conversationalSummarizationResults",
              "taskName": "1",
              "lastUpdateDateTime": "2022-06-06T21:02:20.3202769Z",
              "status": "succeeded",
              "results": {
                "conversations": [
                  {
                    "id": "1",
                    "summaries": [
                      {
                        "aspect": "issue",
                        "text": "Customer wants to upgrade Office"
                      },
                      {
                        "aspect": "resolution",
                        "text": "Asked for the error message | Asked for help to upgrade Office"
                      }
                    ],
                    "warnings": []
                  }
                ],
                "errors": [],
                "modelVersion": "2022-05-15-preview"
              }
            }
          ]
        }
      }
    }
  ],
  "Variables": {
    "CONVERSATIONS_ENDPOINT": "https://languagesdkresource.cognitiveservices.azure.com/",
    "CONVERSATIONS_KEY": "Sanitized",
    "RandomSeed": "1392949460"
  }
}
