{
  "Entries": [
    {
      "RequestUri": "/9532a63e-f2eb-4649-bb23-5ed01077ce80/services/networking/localnetworkgateways?api-version=2017-01-01",
      "RequestMethod": "POST",
      "RequestBody": "<CreateLocalNetworkGatewayParameters xmlns=\"http://schemas.microsoft.com/windowsazure\">\r\n  <AddressSpace>\r\n    <string xmlns=\"http://schemas.microsoft.com/2003/10/Serialization/Arrays\">200.168.0.0/16</string>\r\n  </AddressSpace>\r\n  <GatewayName>coexistenceLocalnetGateway</GatewayName>\r\n  <IpAddress>204.95.99.237</IpAddress>\r\n</CreateLocalNetworkGatewayParameters>",
      "RequestHeaders": {
        "Content-Type": [
          "application/xml"
        ],
        "x-ms-version": [
          "2017-01-01"
        ]
      },
      "ResponseBody": "<string xmlns=\"http://schemas.microsoft.com/2003/10/Serialization/\">3c3f0689-9d5a-4bde-8157-f6730246225c</string>",
      "ResponseHeaders": {
        "Content-Type": [
          "application/xml; charset=utf-8"
        ],
        "x-ms-servedbyregion": [
          "ussouth3"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/9532a63e-f2eb-4649-bb23-5ed01077ce80/services/networking/localnetworkgateways?api-version=2017-01-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2017-01-01"
        ]
      },
      "ResponseBody": "<LocalNetworkGateways xmlns=\"http://schemas.microsoft.com/windowsazure\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n  <LocalNetworkGateway>\r\n    <AddressSpace xmlns:a=\"http://schemas.microsoft.com/2003/10/Serialization/Arrays\">\r\n      <a:string>200.168.0.0/16</a:string>\r\n    </AddressSpace>\r\n    <GatewayName>coexistenceLocalnetGateway</GatewayName>\r\n    <Id>3c3f0689-9d5a-4bde-8157-f6730246225c</Id>\r\n    <IpAddress>204.95.99.237</IpAddress>\r\n    <Location />\r\n  </LocalNetworkGateway>\r\n  <LocalNetworkGateway>\r\n    <AddressSpace xmlns:a=\"http://schemas.microsoft.com/2003/10/Serialization/Arrays\">\r\n      <a:string>192.168.0.0/16</a:string>\r\n    </AddressSpace>\r\n    <GatewayName>resourceMoveLocalNetworkGateway1</GatewayName>\r\n    <Id>bcb11290-1792-4d7c-9b36-de32364fbc93</Id>\r\n    <IpAddress>192.168.3.4</IpAddress>\r\n    <Location />\r\n  </LocalNetworkGateway>\r\n  <LocalNetworkGateway>\r\n    <AddressSpace xmlns:a=\"http://schemas[...]
[...]
    {
      "RequestUri": "/9532a63e-f2eb-4649-bb23-5ed01077ce80/services/networking/localnetworkgateways/3c3f0689-9d5a-4bde-8157-f6730246225c?api-version=2017-01-01",
      "RequestMethod": "PATCH",
      "RequestBody": "<UpdateLocalNetworkGatewayParameters xmlns=\"http://schemas.microsoft.com/windowsazure\">\r\n  <AddressSpace>\r\n    <string xmlns=\"http://schemas.microsoft.com/2003/10/Serialization/Arrays\">200.168.0.0/24</string>\r\n  </AddressSpace>\r\n</UpdateLocalNetworkGatewayParameters>",
      "RequestHeaders": {
        "Content-Type": [
          "application/xml"
        ],
        "x-ms-version": [
          "2017-01-01"
        ]
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "x-ms-servedbyregion": [
          "ussouth3"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/9532a63e-f2eb-4649-bb23-5ed01077ce80/services/networking/localnetworkgateways/3c3f0689-9d5a-4bde-8157-f6730246225c?api-version=2017-01-01",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2017-01-01"
        ]
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "x-ms-servedbyregion": [
          "ussouth3"
        ]
      },
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "9532a63e-f2eb-4649-bb23-5ed01077ce80"
  }
}