{
  "Entries": [
    {
      "RequestUri": "/subscriptions/487bb485-b5b0-471e-9c0d-10717612f869/providers/Microsoft.Security/tasks?api-version=2015-06-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/487bb485-b5b0-471e-9c0d-10717612f869/providers/Microsoft.Security/locations/centralus/tasks/08357a1e-c534-756f-cbb9-7b45e73f3137\",\r\n      \"name\": \"08357a1e-c534-756f-cbb9-7b45e73f3137\",\r\n      \"type\": \"Microsoft.Security/locations/centralus/tasks\",\r\n      \"properties\": {\r\n        \"state\": \"Dismissed\",\r\n        \"subState\": \"NA\",\r\n        \"creationTimeUtc\": \"2018-07-05T12:08:08.7774195Z\",\r\n        \"lastStateChangeTimeUtc\": \"2018-07-09T17:45:42.7431861Z\",\r\n        \"securityTaskParameters\": {\r\n          \"subscriptionId\": \"487bb485-b5b0-471e-9c0d-10717612f869\",\r\n          \"baselineRuleId\": \"7e4d9fe1-eb3f-49ac-bb5b-d417df7e6d6c\",\r\n          \"baselineName\": \"Ensure 'Audit User Account Management' is set to 'Success and Failure'\",\r\n          \"baselineCceId\": \"CCE-37856-2\",\r\n          \"osName\": \"Windows Server 2016 Datacenter\",\r\n          \"severity\": \"Critical\",\r\n          \"ruleType\": \"AuditPolicy\",\r\n          \"workspaces\": [\r\n            {\r\n              \"workspaceId\": \"/subscriptions/487bb485-b5b0-471e-9c0d-10717612f869/resourcegroups/defaultresourcegroup-weu/providers/microsoft.operationalinsights/workspaces/defaultworkspace-487bb485-b5b0-471e-9c0d-10717612f869-weu\",\r\n              \"serverCount\": 1\r\n            }\r\n          ],\r\n          \"totalNumberOfDefectedMachines\": 1,\r\n          \"name\": \"Subscription has machines with failed baseline rule\",\r\n          \"uniqueKey\": \"487bb485-b5b0-471e-9c0d-10717612f869_7e4d9fe1-eb3f-49ac-bb5b-d417df7e6d6c\",\r\n          \"resourceId\": \"/subscriptions/487bb485-b5b0-471e-9c0d-10717612f869\"\r\n        }\r\n      }\r\n    },\r\n    {\r\n      \"id\": \"/subscriptions/487bb485-b5b0-471e-9c0d-10717612f869/providers/Microsoft.Security/locations/centralus/tasks/09ea0fa9-ce5a-d703-e17b-08f1d5246e2c\",\r\n      \"name\": \"09ea0fa9-ce5a-d703-e17b-08f1d5246e2c\",\r\n      \"type\": \"Microsoft.Security/locations/centralus/tasks\",\r\n      \"properties\": {\r\n        \"state\": \"Active\",\r\n        \"subState\": \"NA\",\r\n       [...]
