{
  "Entries": [
    {
      "RequestUri": "https://acstestbot3.communication.azure.com/identities?api-version=2021-03-07",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 07 Jun 2021 18:12:58 GMT"
      },
      "RequestBody": {},
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-03-31-preview1",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "qMu9UadRQ0\u002BbW4//bvq1WA.0",
        "X-Processing-Time": "64ms"
      },
      "ResponseBody": {
        "identity": {
          "id": "8:acs:02665c56-277e-4c59-bab4-c475caa3ee80_0000000a-878f-28b2-0e04-343a0d00443d"
        }
      }
    },
    {
      "RequestUri": "https://acstestbot3.communication.azure.com/calling/calls?api-version=2021-04-15-preview1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 07 Jun 2021 18:12:59 GMT"
      },
      "RequestBody": {
        "sourceAlternateIdentity": {
          "value": "Sanitized"
        },
        "targets": [
          {
            "phoneNumber": {
              "value": "Sanitized"
            }
          }
        ],
        "source": {
          "communicationUser": {
            "id": "8:acs:02665c56-277e-4c59-bab4-c475caa3ee80_0000000a-878f-28b2-0e04-343a0d00443d"
          }
        },
        "callbackUri": "https://dummy.ngrok.io/api/incident/callback?SecretKey=helloworld",
        "requestedModalities": [
          "audio"
        ],
        "requestedCallEvents": [
          "participantsUpdated",
          "dtmfReceived"
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "X-Microsoft-Skype-Chain-ID": "3ca559a4-a4ba-48a7-ab64-fbb6ab7fd554"
      },
      "ResponseBody": {
        "callLegId": "03000480-2998-4c78-bd39-0ae5f35e599f"
      }
    },
    {
      "RequestUri": "https://acstestbot3.communication.azure.com/calling/calls/03000480-2998-4c78-bd39-0ae5f35e599f?api-version=2021-04-15-preview1",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 07 Jun 2021 18:13:00 GMT"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "X-Microsoft-Skype-Chain-ID": "c63f547c-2e5c-48f3-9619-50c45a04467a"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "AZURE_PHONE_NUMBER": "Sanitized",
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://acstestbot3.communication.azure.com/;accesskey=Kg==",
    "COMMUNICATION_LIVETEST_STATIC_CONNECTION_STRING": "endpoint=https://acstestbot3.communication.azure.com/;accesskey=Kg==",
    "RandomSeed": "1936085611"
  }
}
