{
  "Entries": [
    {
      "RequestUri": "/subscriptions/3f93e959-674b-4d15-a196-0b64f0ea1fba/providers/Microsoft.Compute/locations/eastus2euap/publishers/MicrosoftWindowsServer/artifacttypes/vmimage/offers/WindowsServer/skus/2012-R2-Datacenter/versions?$top=1&api-version=2022-11-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-resource": [
          "Microsoft.Compute/ListVMImagesVersionsFromLocation3Min;15999,Microsoft.Compute/ListVMImagesVersionsFromLocation30Min;43999"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "[\r\n  {\r\n    \"location\": \"EastUS2EUAP\",\r\n    \"name\": \"4.127.20180315\",\r\n    \"id\": \"/Subscriptions/3f93e959-674b-4d15-a196-0b64f0ea1fba/Providers/Microsoft.Compute/Locations/EastUS2EUAP/Publishers/MicrosoftWindowsServer/ArtifactTypes/VMImage/Offers/WindowsServer/Skus/2012-R2-Datacenter/Versions/4.127.20180315\"\r\n  }\r\n]",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/3f93e959-674b-4d15-a196-0b64f0ea1fba/resourcegroups/crptestar1572?api-version=2017-05-10",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"eastus2euap\",\r\n  \"tags\": {\r\n    \"crptestar1572\": \"2022-11-23 02:03:42Z\"\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/3f93e959-674b-4d15-a196-0b64f0ea1fba/resourceGroups/crptestar1572\",\r\n  \"name\": \"crptestar1572\",\r\n  \"location\": \"eastus2euap\",\r\n  \"tags\": {\r\n    \"crptestar1572\": \"2022-11-23 02:03:42Z\"\r\n  },\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 201
    },
[...]
    {
      "RequestUri": "/subscriptions/3f93e959-674b-4d15-a196-0b64f0ea1fba/resourceGroups/crptestar1572/providers/Microsoft.Storage/storageAccounts/crptestar2680?api-version=2015-06-15",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"eastus2euap\",\r\n  \"properties\": {\r\n    \"accountType\": \"Standard_GRS\"\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/3f93e959-674b-4d15-a196-0b64f0ea1fba/providers/Microsoft.Storage/locations/eastus2euap/asyncoperations/8ae31658-2dd3-496e-96de-71e1e9af93e3?monitor=true&api-version=2015-06-15"
        ],
        "Retry-After": [
          "17"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "text/plain; charset=utf-8"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 202
    },
    {
      "RequestUri": "/subscriptions/3f93e959-674b-4d15-a196-0b64f0ea1fba/providers/Microsoft.Storage/locations/eastus2euap/asyncoperations/8ae31658-2dd3-496e-96de-71e1e9af93e3?monitor=true&api-version=2015-06-15",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/3f93e959-674b-4d15-a196-0b64f0ea1fba/providers/Microsoft.Storage/locations/eastus2euap/asyncoperations/8ae31658-2dd3-496e-96de-71e1e9af93e3?monitor=true&api-version=2015-06-15"
        ],
        "Retry-After": [
          "3"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ],
        "Content-Type": [
          "text/plain; charset=utf-8"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 202
    },
[...]
    {
      "RequestUri": "/subscriptions/3f93e959-674b-4d15-a196-0b64f0ea1fba/resourceGroups/crptestar1572/providers/Microsoft.Storage/storageAccounts?api-version=2015-06-15",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11996"
        ],
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/3f93e959-674b-4d15-a196-0b64f0ea1fba/resourceGroups/crptestar1572/providers/Microsoft.Storage/storageAccounts/crptestar2680\",\r\n      \"name\": \"crptestar2680\",\r\n      \"type\": \"Microsoft.Storage/storageAccounts\",\r\n      \"location\": \"eastus2euap\",\r\n      \"tags\": {},\r\n      \"properties\": {\r\n        \"accountType\": \"Standard_GRS\",\r\n        \"provisioningState\": \"Succeeded\",\r\n        \"creationTime\": \"2022-11-23T02:03:46.8613016Z\",\r\n        \"primaryEndpoints\": {\r\n          \"blob\": \"https://crptestar2680.blob.core.windows.net/\",\r\n          \"queue\": \"https://crptestar2680.queue.core.windows.net/\",\r\n          \"table\": \"https://crptestar2680.table.core.windows.net/\",\r\n          \"file\": \"https://crptestar2680.file.core.windows.net/\"\r\n        },\r\n        \"primaryLocation\": \"eastus2euap\",\r\n        \"statusOfPrimary\": \"available\",\r\n        \"secondaryLocation\": \"centraluseuap\",\r\n        \"statusOfSecondary\": \"available\"\r\n      }\r\n    }\r\n  ]\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/3f93e959-674b-4d15-a196-0b64f0ea1fba/resourceGroups/crptestar1572/providers/Microsoft.Network/publicIPAddresses/pip8684?api-version=2019-09-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"publicIPAllocationMethod\": \"Dynamic\",\r\n    \"dnsSettings\": {\r\n      \"domainNameLabel\": \"dn8706\"\r\n    }\r\n  },\r\n  \"location\": \"eastus2euap\",\r\n  \"tags\": {\r\n    \"key\": \"value\"\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Retry-After": [
          "1"
        ],
        "azure-asyncoperation": [
          "https://management.azure.com/subscriptions/3f93e959-674b-4d15-a196-0b64f0ea1fba/providers/Microsoft.Network/locations/eastus2euap/operations/9683c0fe-584f-460a-93da-1bfe71221a98?api-version=2019-09-01"
        ],
        "azure-asyncnotification": [
          "Enabled"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"pip8684\",\r\n  \"id\": \"/subscriptions/3f93e959-674b-4d15-a196-0b64f0ea1fba/resourceGroups/crptestar1572/providers/Microsoft.Network/publicIPAddresses/pip8684\",\r\n  \"etag\": \"W/\\\"20aa51d7-d9dc-43bb-99b0-fe0120110e8e\\\"\",\r\n  \"location\": \"eastus2euap\",\r\n  \"tags\": {\r\n    \"key\": \"value\"\r\n  },\r\n  \"properties\": {\r\n    \"provisioningState\": \"Updating\",\r\n    \"resourceGuid\": \"7cf449bb-001b-4900-8b5e-b2b0bb9160d6\",\r\n    \"publicIPAddressVersion\": \"IPv4\",\r\n    \"publicIPAllocationMethod\": \"Dynamic\",\r\n    \"idleTimeoutInMinutes\": 4,\r\n    \"dnsSettings\": {\r\n      \"domainNameLabel\": \"dn8706\",\r\n      \"fqdn\": \"dn8706.eastus2euap.cloudapp.azure.com\"\r\n    },\r\n    \"ipTags\": []\r\n  },\r\n  \"type\": \"Microsoft.Network/publicIPAddresses\",\r\n  \"sku\": {\r\n    \"name\": \"Basic\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/3f93e959-674b-4d15-a196-0b64f0ea1fba/providers/Microsoft.Network/locations/eastus2euap/operations/9683c0fe-584f-460a-93da-1bfe71221a98?api-version=2019-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"status\": \"Succeeded\"\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/3f93e959-674b-4d15-a196-0b64f0ea1fba/resourceGroups/crptestar1572/providers/Microsoft.Network/publicIPAddresses/pip8684?api-version=2019-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "ETag": [
          "W/\"26bf6a5b-3268-4493-acb5-e0da69fa9628\""
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11998"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"pip8684\",\r\n  \"id\": \"/subscriptions/3f93e959-674b-4d15-a196-0b64f0ea1fba/resourceGroups/crptestar1572/providers/Microsoft.Network/publicIPAddresses/pip8684\",\r\n  \"etag\": \"W/\\\"26bf6a5b-3268-4493-acb5-e0da69fa9628\\\"\",\r\n  \"location\": \"eastus2euap\",\r\n  \"tags\": {\r\n    \"key\": \"value\"\r\n  },\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"resourceGuid\": \"7cf449bb-001b-4900-8b5e-b2b0bb9160d6\",\r\n    \"publicIPAddressVersion\": \"IPv4\",\r\n    \"publicIPAllocationMethod\": \"Dynamic\",\r\n    \"idleTimeoutInMinutes\": 4,\r\n    \"dnsSettings\": {\r\n      \"domainNameLabel\": \"dn8706\",\r\n      \"fqdn\": \"dn8706.eastus2euap.cloudapp.azure.com\"\r\n    },\r\n    \"ipTags\": []\r\n  },\r\n  \"type\": \"Microsoft.Network/publicIPAddresses\",\r\n  \"sku\": {\r\n    \"name\": \"Basic\"\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/3f93e959-674b-4d15-a196-0b64f0ea1fba/resourceGroups/crptestar1572/providers/Microsoft.Network/virtualNetworks/vn3970?api-version=2019-09-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"addressSpace\": {\r\n      \"addressPrefixes\": [\r\n        \"10.0.0.0/16\"\r\n      ]\r\n    },\r\n    \"subnets\": [\r\n      {\r\n        \"properties\": {\r\n          \"addressPrefix\": \"10.0.0.0/24\"\r\n        },\r\n        \"name\": \"sn3607\"\r\n      }\r\n    ]\r\n  },\r\n  \"location\": \"eastus2euap\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "azure-asyncoperation": [
          "https://management.azure.com/subscriptions/3f93e959-674b-4d15-a196-0b64f0ea1fba/providers/Microsoft.Network/locations/eastus2euap/operations/e85e5134-68d3-4277-92a2-382904816d77?ap[...]
[...]
    {
      "RequestUri": "/subscriptions/3f93e959-674b-4d15-a196-0b64f0ea1fba/resourceGroups/crptestar1572/providers/Microsoft.Network/virtualNetworks/vn3970/subnets/sn3607?api-version=2019-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "ETag": [
          "W/\"d03d3a1d-c460-417d-a260-643b18aead11\""
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11997"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"sn3607\",\r\n  \"id\": \"/subscriptions/3f93e959-674b-4d15-a196-0b64f0ea1fba/resourceGroups/crptestar1572/providers/Microsoft.Network/virtualNetworks/vn3970/subnets/sn3607\",\r\n  \"etag\": \"W/\\\"d03d3a1d-c460-417d-a260-643b18aead11\\\"\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"addressPrefix\": \"10.0.0.0/24\",\r\n    \"delegations\": [],\r\n    \"privateEndpointNetworkPolicies\": \"Disabled\",\r\n    \"privateLinkServiceNetworkPolicies\": \"Enabled\"\r\n  },\r\n  \"type\": \"Microsoft.Network/virtualNetworks/subnets\"\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/3f93e959-674b-4d15-a196-0b64f0ea1fba/resourceGroups/crptestar1572/providers/Microsoft.Network/networkInterfaces/nic8629?api-version=2019-09-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"ipConfigurations\": [\r\n      {\r\n        \"properties\": {\r\n          \"privateIPAllocationMethod\": \"Dynamic\",\r\n          \"subnet\": {\r\n            \"properties\": {\r\n              \"addressPrefix\": \"10.0.0.0/24\",\r\n              \"delegations\": [],\r\n              \"privateEndpointNetworkPolicies\": \"Disabled\",\r\n              \"privateLinkServiceNetworkPolicies\": \"Enabled\"\r\n            },\r\n            \"name\": \"sn3607\",\r\n            \"id\": \"/subscriptions/3f93e959-674b-4d15-a196-0b64f0ea1fba/resourceGroups/crptestar1572/providers/Microsoft.Network/virtualNetworks/vn3970/subnets/sn3607\"\r\n      [...]
[...]
    {
      "RequestUri": "/subscriptions/3f93e959-674b-4d15-a196-0b64f0ea1fba/resourceGroups/crptestar1572/providers/Microsoft.Compute/availabilitySets/as236?api-version=2022-11-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"platformUpdateDomainCount\": 1,\r\n    \"platformFaultDomainCount\": 1\r\n  },\r\n  \"sku\": {\r\n    \"name\": \"Aligned\"\r\n  },\r\n  \"location\": \"eastus2euap\",\r\n  \"tags\": {\r\n    \"RG\": \"rg\",\r\n    \"testTag\": \"1\"\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-resource": [
          "Microsoft.Compute/PutVM3Min;239,Microsoft.Compute/PutVM30Min;1199"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"as236\",\r\n  \"id\": \"/subscriptions/3f93e959-674b-4d15-a196-0b64f0ea1fba/resourceGroups/crptestar1572/providers/Microsoft.Compute/availabilitySets/as236\",\r\n  \"type\": \"Microsoft.Compute/availabilitySets\",\r\n  \"location\": \"eastus2euap\",\r\n  \"tags\": {\r\n    \"RG\": \"rg\",\r\n    \"testTag\": \"1\"\r\n  },\r\n  \"properties\": {\r\n    \"platformUpdateDomainCount\": 1,\r\n    \"platformFaultDomainCount\": 1,\r\n    \"internalData\": {}\r\n  },\r\n  \"sku\": {\r\n    \"name\": \"Aligned\"\r\n  }\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/3f93e959-674b-4d15-a196-0b64f0ea1fba/resourceGroups/crptestar1572/providers/Microsoft.Compute/virtualMachines/vm2321?api-version=2022-11-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"hardwareProfile\": {\r\n      \"vmSize\": \"Standard_A1_v2\"\r\n    },\r\n    \"storageProfile\": {\r\n      \"imageReference\": {\r\n        \"publisher\": \"MicrosoftWindowsServer\",\r\n        \"offer\": \"WindowsServer\",\r\n        \"sku\": \"2012-R2-Datacenter\",\r\n        \"version\": \"4.127.20180315\"\r\n      },\r\n      \"osDisk\": {\r\n        \"name\": \"test\",\r\n        \"caching\": \"None\",\r\n        \"createOption\": \"FromImage\",\r\n        \"managedDisk\": {\r\n          \"storageAccountType\": \"Standard_LRS\"\r\n        }\r\n      },\r\n      \"dataDisks\": [\r\n        {\r\n          \"lun\": 0,\r\n          \"caching\": \"None\",\r\n          \"createOption\": \"Empty\",\r\n          \"diskSizeGB\": 30,\r\n          \"managedDisk\": {\r\n            \"storageAccountType\": \"Standard_LRS\"\r\n          }\r\n        }\r\n      ]\r\n    },\r\n    \"osProfile\": {\r\n      \"computerName\": \"Test\",\r\n      \"adminUsername\": \"Foo12\",\r\n      \"adminPassword\": \"[PLACEHOLDEr1]\",\r\n      \"customData\": \"ZWNobyAnSGVsbG8gV29ybGQn\"\r\n    },\r\n    \"networkProfile\": {\r\n      \"networkInterfaces\": [\r\n        {\r\n          \"id\": \"/subscriptions/3f93e959-674b-4d15-a196-0b64f0ea1fba/resourceGroups/crptestar1572/providers/Microsoft.Network/networkInterfaces/nic8629\"\r\n        }\r\n      ]\r\n    },\r\n    \"availabilitySet\": {\r\n      \"id\": \"/subscriptions/3f93e959-674b-4d15-a196-0b64f0ea1fba/resourceGroups/crptestar1572/providers/Microsoft.Compute/availabilitySets/as236\"\r\n    }\r\n  },\r\n  \"location\": \"eastus2euap\",\r\n  \"tags\": {\r\n    \"RG\": \"rg\",\r\n    \"testTag\": \"1\"\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Retry-After": [
          "10"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/3f93e959-674b-4d15-a196-0b64f0ea1fba/providers/Microsoft.Compute/locations/EastUS2EUAP/operations/226f84a2-458a-4a71-ab74-7b53d92df2fe?p=112d8830-5990-4d25-b49b-e4d08a8b8786&api-version=2022-11-01"
        ],
        "Azure-AsyncNotification": [
          "Enabled"
        ],
        "x-ms-ratelimit-remaining-resource": [
          "Microsoft.Compute/PutVM3Min;238,Microsoft.Compute/PutVM30Min;1198"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1198"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"vm2321\",\r\n  \"id\": \"/subscriptions/3f93e959-674b-4d15-a196-0b64f0ea1fba/resourceGroups/crptestar1572/providers/Microsoft.Compute/virtualMachines/vm2321\",\r\n  \"type\": \"Microsoft.Compute/virtualMachines\",\r\n  \"location\": \"eastus2euap\",\r\n  \"tags\": {\r\n    \"RG\": \"rg\",\r\n    \"testTag\": \"1\",\r\n    \"azsecpack\": \"nonprod\",\r\n    \"platformsettings.host_environment.service.platform_optedin_for_rootcerts\": \"true\"\r\n  },\r\n  \"properties\": {\r\n    \"vmId\": \"2ab2ed58-2e6a-4014-8459-eaf7898e0406\",\r\n    \"availabilitySet\": {\r\n      \"id\": \"/subscriptions/3f93e959-674b-4d15-a196-0b64f0ea1fba/resourceGroups/crptestar1572/providers/Microsoft.Compute/availabilitySets/AS236\"\r\n    },\r\n    \"hardwareProfile\": {\r\n      \"vmSize\": \"Standard_A1_v2\"\r\n    },\r\n    \"storageProfile\": {\r\n      \"imageReference\": {\r\n        \"publisher\": \"MicrosoftWindowsServer\",\r\n        \"offer\": \"WindowsServer\",\r\n        \"sku\": \"2012-R2-Datacenter\",\r\n        \"version\": \"4.127.20180315\",\r\n        \"exactVersion\": \"4.127.20180315\"\r\n      },\r\n      \"osDisk\": {\r\n        \"osType\": \"Windows\",\r\n        \"name\": \"test\",\r\n        \"createOption\": \"FromImage\",\r\n        \"caching\": \"None\",\r\n        \"managedDisk\": {\r\n          \"storageAccountType\": \"Standard_LRS\"\r\n        },\r\n        \"deleteOption\": \"Detach\",\r\n        \"diskSizeGB\": 127\r\n      },\r\n      \"dataDisks\": [\r\n        {\r\n          \"lun\": 0,\r\n          \"createOption\": \"Empty\",\r\n          \"caching\": \"None\",\r\n          \"managedDisk\": {\r\n            \"storageAccountType\": \"Standard_LRS\"\r\n          },\r\n          \"deleteOption\": \"Detach\",\r\n          \"diskSizeGB\": 30,\r\n          \"toBeDetached\": false\r\n        }\r\n      ]\r\n    },\r\n    \"osProfile\": {\r\n      \"computerName\": \"Test\",\r\n      \"adminUsername\": \"Foo12\",\r\n      \"windowsConfiguration\": {\r\n        \"provisionVMAgent\": true,\r\n        \"enableAutomaticUpdates\": true,\r\n        \"patchSettings\": {\r\n          \"patchMode\": \"AutomaticByOS\",\r\n          \"assessmentMode\": \"ImageDefault\"\r\n        },\r\n        \"enableVMAgentPlatformUpdates\": false\r\n      },\r\n      \"secrets\": [],\r\n      \"allowExtensionOperations\": true,\r\n      \"requireGuestProvisionSignal\": true\r\n    },\r\n    \"networkProfile\": {\r\n      \"networkInterfaces\": [\r\n        {\r\n          \"id\": \"/subscriptions/3f93e959-674b-4d15-a196-0b64f0ea1fba/resourceGroups/crptestar1572/providers/Microsoft.Network/networkInterfaces/nic8629\"\r\n        }\r\n      ]\r\n    },\r\n    \"provisioningState\": \"Creating\",\r\n    \"timeCreated\": \"2022-11-22T18:05:26.9491191-08:00\"\r\n  }\r\n}",
      "StatusCode": 201
    },
[...]
    {
      "RequestUri": "/subscriptions/3f93e959-674b-4d15-a196-0b64f0ea1fba/providers/Microsoft.Compute/locations/EastUS2EUAP/operations/226f84a2-458a-4a71-ab74-7b53d92df2fe?p=112d8830-5990-4d25-b49b-e4d08a8b8786&api-version=2022-11-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Retry-After": [
          "50"
        ],
        "x-ms-ratelimit-remaining-resource": [
          "Microsoft.Compute/GetOperation3Min;14999,Microsoft.Compute/GetOperation30Min;29999"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11998"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"startTime\": \"2022-11-22T18:05:26.8397399-08:00\",\r\n  \"status\": \"InProgress\",\r\n  \"name\": \"226f84a2-458a-4a71-ab74-7b53d92df2fe\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/3f93e959-674b-4d15-a196-0b64f0ea1fba/providers/Microsoft.Compute/locations/EastUS2EUAP/operations/226f84a2-458a-4a71-ab74-7b53d92df2fe?p=112d8830-5990-4d25-b49b-e4d08a8b8786&api-version=2022-11-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-resource": [
          "Microsoft.Compute/GetOperation3Min;14993,Microsoft.Compute/GetOperation30Min;29992"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11994"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"startTime\": \"2022-11-22T18:05:26.8397399-08:00\",\r\n  \"endTime\": \"2022-11-22T18:08:19.8098437-08:00\",\r\n  \"status\": \"Succeeded\",\r\n  \"name\": \"226f84a2-458a-4a71-ab74-7b53d92df2fe\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/3f93e959-674b-4d15-a196-0b64f0ea1fba/resourceGroups/crptestar1572/providers/Microsoft.Compute/virtualMachines/vm2321?api-version=2022-11-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-resource": [
          "Microsoft.Compute/LowCostGet3Min;3985,Microsoft.Compute/LowCostGet30Min;31986,Microsoft.Compute/LowCostGetResource1Min;0"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11990"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"vm2321\",\r\n  \"id\": \"/subscriptions/3f93e959-674b-4d15-a196-0b64f0ea1fba/resourceGroups/crptestar1572/providers/Microsoft.Compute/virtualMachines/vm2321\",\r\n  \"type\": \"Microsoft.Compute/virtualMachines\",\r\n  \"location\": \"eastus2euap\",\r\n  \"tags\": {\r\n    \"RG\": \"rg\",\r\n    \"testTag\": \"1\",\r\n    \"azsecpack\": \"nonprod\",\r\n    \"platformsettings.host_environment.service.platform_optedin_for_rootcerts\": \"true\"\r\n  },\r\n  \"identity\": {\r\n    \"type\": \"UserAssigned\",\r\n    \"userAssignedIdentities\": {\r\n      \"/subscriptions/3f93e959-674b-4d15-a196-0b64f0ea1fba/resourceGroups/AzSecPackAutoConfigRG/providers/Microsoft.ManagedIdentity/userAssignedIdentities/AzSecPackAutoConfigUA-eastus2euap\": {\r\n        \"principalId\": \"4b5482df-9d84-4b6b-856a-34c6e0c3519e\",\r\n        \"clientId\": \"4cc80991-4af3-4425-9e58-5ade2d7ed048\"\r\n      }\r\n    }\r\n  },\r\n  \"properties\": {\r\n    \"vmId\": \"2ab2ed58-2e6a-4014-8459-eaf7898e0406\",\r\n    \"availabilitySet\": {\r\n      \"id\": \"/subscriptions/3f93e959-674b-4d15-a196-0b64f0ea1fba/resourceGroups/crptestar1572/providers/Microsoft.Compute/availabilitySets/AS236\"\r\n    },\r\n    \"hardwareProfile\": {\r\n      \"vmSize\": \"Standard_A1_v2\"\r\n    },\r\n    \"storageProfile\": {\r\n      \"imageReference\": {\r\n        \"pu[...]
    {
      "RequestUri": "/subscriptions/3f93e959-674b-4d15-a196-0b64f0ea1fba/resourceGroups/crptestar1572/providers/Microsoft.Compute/virtualMachines/vm2321?$expand=instanceView&api-version=2022-11-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-resource": [
          "Microsoft.Compute/LowCostGet3Min;3994,Microsoft.Compute/LowCostGet30Min;31994,Microsoft.Compute/LowCostGetResource1Min;0[...]
    {
      "RequestUri": "/subscriptions/3f93e959-674b-4d15-a196-0b64f0ea1fba/resourceGroups/crptestar1572/providers/Microsoft.Compute/virtualMachines/vm2321/reimage?api-version=2022-11-01",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"osProfile\": {\r\n    \"adminPassword\": \"[PLACEHOLDEr1]\",\r\n    \"customData\": \"ZWNobyAnSGVsbG8gV29ybGQn\"\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/3f93e959-674b-4d15-a196-0b64f0ea1fba/providers/Microsoft.Compute/locations/EastUS2EUAP/operations/382b9e64-93ad-4957-bf8b-873a6e7ca690?p=112d8830-5990-4d25-b49b-e4d08a8b8786&monitor=true&api-version=2022-11-01"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/3f93e959-674b-4d15-a196-0b64f0ea1fba/providers/Microsoft.Compute/locations/EastUS2EUAP/operations/382b9e64-93ad-4957-bf8b-873a6e7ca690?p=112d8830-5990-4d25-b49b-e4d08a8b8786&api-version=2022-11-01"
        ],
        "Azure-AsyncNotification": [
          "Enabled"
        ],
        "x-ms-ratelimit-remaining-resource": [
          "Microsoft.Compute/UpdateVM3Min;239,Microsoft.Compute/UpdateVM30Min;1199"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 202
    },
[...]
    {
      "RequestUri": "/subscriptions/3f93e959-674b-4d15-a196-0b64f0ea1fba/providers/Microsoft.Compute/locations/EastUS2EUAP/operations/382b9e64-93ad-4957-bf8b-873a6e7ca690?p=112d8830-5990-4d25-b49b-e4d08a8b8786&monitor=true&api-version=2022-11-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-resource": [
          "Microsoft.Compute/GetOperation3Min;14990,Microsoft.Compute/GetOperation30Min;29978"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11982"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/3f93e959-674b-4d15-a196-0b64f0ea1fba/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1DUlBURVNUQVIxNTcyLUVBU1RVUzJFVUFQIiwiam9iTG9jYXRpb24iOiJlYXN0dXMyZXVhcCJ9?api-version=2017-05-10",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/3f93e959-674b-4d15-a196-0b64f0ea1fba/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1DUlBURVNUQVIxNTcyLUVBU1RVUzJFVUFQIiwiam9iTG9jYXRpb24iOiJlYXN0dXMyZXVhcCJ9?api-version=2017-05-10"
        ],
        "Retry-After": [
          "15"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 202
    },
[...]
    {
      "RequestUri": "/subscriptions/3f93e959-674b-4d15-a196-0b64f0ea1fba/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1DUlBURVNUQVIxNTcyLUVBU1RVUzJFVUFQIiwiam9iTG9jYXRpb24iOiJlYXN0dXMyZXVhcCJ9?api-version=2017-05-10",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11990"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 200
    }
  ],
  "Names": {
    "TestReimage": [
      "crptestar1572",
      "crptestar2680",
      "as236"
    ],
    "CreatePublicIP": [
      "pip8684",
      "dn8706"
    ],
    "CreateVNET": [
      "vn3970",
      "sn3607"
    ],
    "CreateNIC": [
      "nic8629",
      "ip9628"
    ],
    "CreateDefaultVMInput": [
      "crptestar9267",
      "crptestar8210",
      "crptestar8122",
      "vm2321",
      "Microsoft.Compute/virtualMachines2821"
    ]
  },
  "Variables": {
    "SubscriptionId": "3f93e959-674b-4d15-a196-0b64f0ea1fba"
  }
}