{
  "Entries": [
    {
      "RequestUri": "/subscriptions/487bb485-b5b0-471e-9c0d-10717612f869/providers/Microsoft.Security/regulatoryComplianceStandards?api-version=2019-01-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-resource-requests": [
          "749"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/487bb485-b5b0-471e-9c0d-10717612f869/providers/Microsoft.Security/regulatoryComplianceStandards/Azure-CIS-1.1.0\",\r\n      \"name\": \"Azure-CIS-1.1.0\",\r\n      \"type\": \"Microsoft.Security/regulatoryComplianceStandards\",\r\n      \"properties\": {\r\n        \"state\": \"Failed\",\r\n        \"passedControls\": 16,\r\n        \"failedControls\": 5,\r\n        \"skippedControls\": 1,\r\n        \"unsupportedControls\": 84\r\n      }\r\n    },\r\n    {\r\n      \"id\": \"/subscriptions/487bb485-b5b0-471e-9c0d-10717612f869/providers/Microsoft.Security/regulatoryComplianceStandards/ISO-27001\",\r\n      \"name\": \"ISO-27001\",\r\n      \"type\": \"Microsoft.Security/regulatoryComplianceStandards\",\r\n      \"properties\": {\r\n        \"state\": \"Failed\",\r\n        \"passedControls\": 9,\r\n        \"failedControls\": 9,\r\n        \"skippedControls\": 3,\r\n        \"unsupportedControls\": 93\r\n      }\r\n    },\r\n    {\r\n      \"id\": \"/subscriptions/487bb485-b5b0-471e-9c0d-10717612f869/providers/Microsoft.Security/regulatoryComplianceStandards/PCI-DSS-3.2.1\",\r\n      \"name\": \"PCI-DSS-3.2.1\",\r\n      \"type\": \"Microsoft.Security/regulatoryComplianceStandards\",\r\n      \"properties\": {\r\n        \"state\": \"Failed\",\r\n        \"passedControls\": 31,\r\n        \"failedControls\": 9,\r\n        \"skippedControls\": 3,\r\n        \"unsupportedControls\": 189\r\n      }\r\n    },\r\n    {\r\n      \"id\": \"/subscriptions/487bb485-b5b0-471e-9c0d-10717612f869/providers/Microsoft.Security/regulatoryComplianceStandards/SOC-TSP\",\r\n      \"name\": \"SOC-TSP\",\r\n      \"type\": \"Microsoft.Security/regulatoryComplianceStandards\",\r\n      \"properties\": {\r\n        \"state\": \"Passed\",\r\n        \"passedControls\": 12,\r\n        \"failedControls\": 0,\r\n        \"skippedControls\": 0,\r\n        \"unsupportedControls\": 25\r\n      }\r\n    }\r\n  ]\r\n}",
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "487bb485-b5b0-471e-9c0d-10717612f869"
  }
}