{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/providers/Microsoft.Compute/locations/EastUS2/publishers/MicrosoftWindowsServer/artifacttypes/vmimage/offers/WindowsServer/skus/2012-R2-Datacenter/versions?$top=1\u0026api-version=2019-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "9103"
      },
      "ResponseBody": [
        "[\r\n",
        "  {\r\n",
        "    \u0022location\u0022: \u0022eastus2\u0022,\r\n",
        "    \u0022name\u0022: \u00224.127.20180315\u0022,\r\n",
        "    \u0022id\u0022: \u0022/Subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/Providers/Microsoft.Compute/Locations/eastus2/Publishers/MicrosoftWindowsServer/ArtifactTypes/VMImage/Offers/WindowsServer/Skus/2012-R2-Datacenter/Versions/4.127.20180315\u0022\r\n",
        "  }\r\n",
        "]"
      ]
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourcegroups/crptestar99721?api-version=2017-05-10",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "EastUS2",
        "tags": {
          "crptestar99721": "2020-09-10 19:34:21Z"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1185"
      },
      "ResponseBody": {
        "id": "/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/crptestar99721",
        "name": "crptestar99721",
        "location": "eastus2",
        "tags": {
          "crptestar99721": "2020-09-10 19:34:21Z"
        },
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/crptestar99721/providers/Microsoft.Storage/storageAccounts/crptestar3081?api-version=2019-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "sku": {
          "name": "Standard_GRS"
        },
        "kind": "Storage",
        "location": "EastUS2",
        "properties": {}
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "text/plain; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/providers/Microsoft.Storage/locations/eastus2/asyncoperations/37ead825-c801-4e88-a1f4-5c29b4d36f3c?monitor=true\u0026api-version=2019-06-01",
        "Retry-After": "17",
        "x-ms-ratelimit-remaining-subscription-writes": "1184"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/providers/Microsoft.Storage/locations/eastus2/asyncoperations/37ead825-c801-4e88-a1f4-5c29b4d36f3c?monitor=true\u0026api-version=2019-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "text/plain; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/providers/Microsoft.Storage/locations/eastus2/asyncoperations/37ead825-c801-4e88-a1f4-5c29b4d36f3c?monitor=true\u0026api-version=2019-06-01",
        "Retry-After": "17",
        "x-ms-ratelimit-remaining-subscription-reads": "9102"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/providers/Microsoft.Storage/locations/eastus2/asyncoperations/37ead825-c801-4e88-a1f4-5c29b4d36f3c?monitor=true\u0026api-version=2019-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ratelimit-remaining-subscription-reads": "9090"
      },
      "ResponseBody": {
        "sku": {
          "name": "Standard_GRS",
          "tier": "Standard"
        },
        "kind": "Storage",
        "id": "/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/crptestar99721/providers/Microsoft.Storage/storageAccounts/crptestar3081",
        "name": "crptestar3081",
        "type": "Microsoft.Storage/storageAccounts",
        "location": "eastus2",
        "tags": {},
        "properties": {
          "privateEndpointConnections": [],
          "networkAcls": {
            "bypass": "AzureServices",
            "virtualNetworkRules": [],
            "ipRules": [],
            "defaultAction": "Allow"
          },
          "supportsHttpsTrafficOnly": true,
          "encryption": {
            "services": {
              "file": {
                "keyType": "Account",
                "enabled": true,
                "lastEnabledTime": "2020-09-10T19:34:28.8012044Z"
              },
              "blob": {
                "keyType": "Account",
                "enabled": true,
                "lastEnabledTime": "2020-09-10T19:34:28.8012044Z"
              }
            },
            "keySource": "Microsoft.Storage"
          },
          "provisioningState": "Succeeded",
          "creationTime": "2020-09-10T19:34:28.7074439Z",
          "primaryEndpoints": {
            "blob": "https://crptestar3081.blob.core.windows.net/",
            "queue": "https://crptestar3081.queue.core.windows.net/",
            "table": "https://crptestar3081.table.core.windows.net/",
            "file": "https://crptestar3081.file.core.windows.net/"
          },
          "primaryLocation": "eastus2",
          "statusOfPrimary": "available",
          "secondaryLocation": "centralus",
          "statusOfSecondary": "available"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/crptestar99721/providers/Microsoft.Storage/storageAccounts?api-version=2019-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ratelimit-remaining-subscription-reads": "9089"
      },
      "ResponseBody": {
        "value": [
          {
            "sku": {
              "name": "Standard_GRS",
              "tier": "Standard"
            },
            "kind": "Storage",
            "id": "/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/crptestar99721/providers/Microsoft.Storage/storageAccounts/crptestar3081",
            "name": "crptestar3081",
            "type": "Microsoft.Storage/storageAccounts",
            "location": "eastus2",
            "tags": {},
            "properties": {
     [...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/crptestar99721/providers/Microsoft.Network/publicIPAddresses/pip8698?api-version=2020-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "EastUS2",
        "tags": {
          "key": "value"
        },
        "properties": {
          "publicIPAllocationMethod": "Dynamic",
          "dnsSettings": {
            "domainNameLabel": "dn453"
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncNotification": "Enabled",
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/providers/Microsoft.Network/locations/eastus2/operations/a95ff269-5828-44e4-bb7b-97a0de2dbd9d?api-version=2020-04-01",
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "1",
        "x-ms-ratelimit-remaining-subscription-writes": "1182"
      },
      "ResponseBody": [
        "{\r\n",
        "  \u0022name\u0022: \u0022pip8698\u0022,\r\n",
        "  \u0022id\u0022: \u0022/subscript[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/providers/Microsoft.Network/locations/eastus2/operations/a95ff269-5828-44e4-bb7b-97a0de2dbd9d?api-version=2020-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "9087"
      },
      "ResponseBody": [
        "{\r\n",
        "  \u0022status\u0022: \u0022Succeeded\u0022\r\n",
        "}"
      ]
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/crptestar99721/providers/Microsoft.Network/publicIPAddresses/pip8698?api-version=2020-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\u0022251417be-6325-41ff-89d4-1591eeaf790e\u0022",
        "x-ms-ratelimit-remaining-subscription-reads": "9086"
      },
      "ResponseBody": [
        "{\r\n",
        "  \u0022name\u0022: \u0022pip8698\u0022,\r\n",
        "  \u0022id\u0022: \u0022/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/crptestar99721/providers/Microsoft.Network/publicIPAddresses/pip8698\u0022,\r\n",
        "  \u0022etag\u0022: \u0022W/\\\u0022251417be-6325-41ff-89d4-1591eeaf790e\\\u0022\u0022[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/crptestar99721/providers/Microsoft.Network/virtualNetworks/vn5286?api-version=2020-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "EastUS2",
        "properties": {
          "addressSpace": {
            "addressPrefixes": [
              "10.0.0.0/16"
            ]
          },
          "dhcpOptions": {
            "dnsServers": [
              "10.1.1.1",
              "10.1.2.4"
            ]
          },
          "subnets": [
            {
              "name": "sn1025",
              "properties": {
                "addressPrefix": "10.0.0.0/24"
              }
            }
          ]
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncNotification": "Enabled",
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/providers/Microsoft.Network/locations/eastus2/operations/86930495-e091-4361-ad38-ebdbbd3c999b?api-version=2020-04-01",
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "3",
       [...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/crptestar99721/providers/Microsoft.Network/virtualNetworks/vn5286/subnets/sn1025?api-version=2020-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\u0022f570cca[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/crptestar99721/providers/Microsoft.Network/networkInterfaces/nic5188?api-version=2020-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "EastUS2",
        "tags": {
          "key": "value"
        },
        "properties": {
          "ipConfigurations": [
            {
              "name": "ip7132",
              "properties": {
                "privateIPAllocationMethod": "Dynamic",
                "subnet": {
                  "name": "sn1025",
                  "id": "/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/crptestar99721/providers/Microsoft.Network/virtualNetworks/vn5286/subnets/sn1025",
                  "properties": {
                    "addressPrefix": "10.0.0.0/24",
                    "delegations": [],
                    "privateEndpointNetworkPolicies": "Enabled",
                    "privateLinkServiceNetworkPolicies": "Enabled"
                  }
                }
              }
            }
          ]
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncNotification": "Enabled",
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/providers/Microsoft.Network/locations/eastus2/operations/99663a92-bc1a-4ba2-aa38-b673a7f6ca30?api-version=2020-04-01",
        "Content-Type": "application/json; charset=utf-8",
 [...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/crptestar99721/providers/Microsoft.Compute/virtualMachineScaleSets/vmss2837?api-version=2019-12-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "sku": {
          "name": "Standard_A0",
          "capacity": 2
        },
        "location": "EastUS2",
        "tags": {
          "RG": "rg",
          "testTag": "1"
        },
        "properties": {
          "upgradePolicy": {
            "mode": "Automatic"
          },
          "virtualMachineProfile": {
            "osProfile": {
              "computerNamePrefix": "test",
              "adminUsername": "Foo12",
              "adminPassword": "[PLACEHOLDEr1]",
              "customData": "Q3VzdG9tIGRhdGE="
            },
            "storageProfile": {
              "imageReference": {
                "publisher": "MicrosoftWindowsServer",
                "offer": "WindowsServer",
                "sku": "2012-R2-Datacenter",
                "version": "4.127.20180315"
              },
              "dataDisks": [
                {
                  "lun": 1,
                  "createOption": "Empty",
                  "diskSizeGB": 128
                }
              ]
            },
            "networkProfile": {
              "networkInterfaceConfigurations": [
                {
                  "name": "vmsstestnetconfig9196",
                  "properties": {
                    "primary": true,
                    "ipConfigurations": [
                      {
                        "name": "vmsstestnetconfig4066",
                        "properties": {
                          "subnet": {
                            "id": "/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/crptestar99721/providers/Microsoft.Network/virtualNetworks/vn5286/subnets/sn1025"
                          },
                          "applicationGatewayBackendAddressPools": []
                        }
                      }
                    ]
                  }
                }
              ]
            }
          },
          "overprovision": false
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncNotification": "Enabled",
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/providers/Microsoft.Compute/locations/eastus2/operations/42e86f0c-c7bb-4b85-97e4-775f491e38df?api-version=2019-12-01",
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "x-ms-ratelimit-remaining-resource": "Microsoft.Compute/CreateVMScaleSet3Min;59,Microsoft.Compute/CreateVMScaleSet30Min;298,Microsoft.Compute/VMScaleSetBatchedVMRequests5Min;1196,Microsoft.Compute/VmssQueuedVMOperations;4798",
        "x-ms-ratelimit-remaining-subscription-writes": "1186",
        "x-ms-request-charge": "2"
      },
      "ResponseBody": [
        "{\r\n",
        "  \u0022name\u0022: \u0022vmss2837\u0022,\r\n",
        "  \u0022id\u0022: \u0022/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/crptestar99721/providers/Microsoft.Compute/virtualMachineScaleSets/vmss2837\u0022,\r\n",
        "  \u0022type\u0022: \u0022Microsoft.Compute/virtualMachineScaleSets\u0022,\r\n",
        "  \u0022location\u0022: \u0022eastus2\u0022,\r\n",
        "  \u0022tags\u0022: {\r\n",
        "   [...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/providers/Microsoft.Compute/locations/eastus2/operations/42e86f0c-c7bb-4b85-97e4-775f491e38df?api-version=2019-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "97",
        "x-ms-ratelimit-remaining-resource": "Microsoft.Compute/GetOperation3Min;14918,Microsoft.Compute/GetOperation30Min;28893",
        "x-ms-ratelimit-remaining-subscription-reads": "9297"
      },
      "ResponseBody": [
        "{\r\n",
        "  \u0022startTime\u0022: \u00222020-09-10T19:35:03.9874384\u002B00:00\u0022,\r\n",
        "  \u0022status\u0022: \u0022InProgress\u0022,\r\n",
        "  \u0022name\u0022: \u002242e86f0c-c7bb-4b85-97e4-775f491e38df\u0022\r\n",
        "}"
      ]
    },
[...]
