{
  "Entries": [
    {
      "RequestUri": "/templeton/v1/pig?user.name=admin",
      "RequestMethod": "POST",
      "RequestBody": "user.name=admin&execute=records = LOAD '/example/pig/sahara-paleo-fauna.txt' AS (DateBP:int, Loc:chararray, Coordinates:chararray, Samples:chararray, Country:chararray, Laboratory:chararray);filtered_records = FILTER records by Country == 'Egypt' OR Country == 'Morocco';grouped_records = GROUP filtered_records BY Country;DUMP grouped_records;&file=&arg=&files=&statusdir=&enablelog=",
      "RequestHeaders": {
        "Content-Type": [
          "application/text"
        ],
        "useragent": [
          "xplat Hive job submission"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"job_1441022937859_0011\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json"
        ],
        "x-ms-hdi-servedby": [
          "GATEWAY1"
        ],
        "x-ms-hdi-active": [
          "headnode0.nemadj-prod-sdk.b4.internal.cloudapp.net"
        ],
        "x-ms-leader-detect-time": [
          "0"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/templeton/v1/jobs/job_1441022937859_0011?user.name=admin&fields=*",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "useragent": [
          "xplat get job"
        ]
      },
      "ResponseBody": "{\r\n  \"status\": {\r\n    \"mapProgress\": 0.0,\r\n    \"reduceProgress\": 0.0,\r\n    \"cleanupProgress\": 0.0,\r\n    \"setupProgress\": 0.0,\r\n    \"runState\": 4,\r\n    \"startTime\": 1441059678785,\r\n    \"queue\": \"default\",\r\n    \"priority\": \"NORMAL\",\r\n    \"schedulingInfo\": \"NA\",\r\n    \"failureInfo\": \"NA\",\r\n    \"jobACLs\": {},\r\n    \"jobName\": \"TempletonControllerJob\",\r\n    \"jobFile\": \"/user/admin/.staging/job_1441022937859_0011/job.xml\",\r\n    \"finishTime\": 0,\r\n    \"historyFile\": \"\",\r\n    \"trackingUrl\": \"http://headnodehost:9014/proxy/application_1441022937859_0011/\",\r\n    \"numUsedSlots\": 0,\r\n    \"numReservedSlots\": 0,\r\n    \"usedMem\": 0,\r\n    \"reservedMem\": 0,\r\n    \"neededMem\": 0,\r\n    \"jobID\": {\r\n      \"id\": 11,\r\n      \"jtIdentifier\": \"1441022937859\"\r\n    },\r\n    \"username\": \"admin\",\r\n    \"jobPriority\": \"NORMAL\",\r\n    \"jobId\": \"job_1441022937859_0011\",\r\n    \"state\": \"PREP\",\r\n    \"jobComplete\": false,\r\n    \"retired\": false,\r\n    \"uber\": false\r\n  },\r\n  \"profile\": {\r\n    \"user\": \"admin\",\r\n    \"jobFile\": \"/user/admin/.staging/job_1441022937859_0011/job.xml\",\r\n    \"url\": \"http://headnodehost:9014/proxy/application_1441022937859_0011/\",\r\n    \"queueName\": \"default\",\r\n    \"jobID\": {\r\n      \"id\": 11,\r\n      \"jtIdentifier\": \"1441022937859\"\r\n    },\r\n    \"jobName\": \"TempletonControllerJob\",\r\n    \"jobId\": \"job_1441022937859_0011\"\r\n  },\r\n  \"id\": \"job_1441022937859_0011\",\r\n  \"parentId\": null,\r\n  \"percentComplete\": null,\r\n  \"exitValue\": null,\r\n  \"user\": \"admin\",\r\n  \"callback\": null,\r\n  \"completed\": null,\r\n  \"userargs\": {\r\n    \"statusdir\": \"\",\r\n    \"files\": \"\",\r\n    \"arg\": [\r\n      \"\"\r\n    ],\r\n    \"enablelog\": \"false\",\r\n    \"execute\": \"records = LOAD '/example/pig/sahara-paleo-fauna.txt' AS (DateBP:int, Loc:chararray, Coordinates:chararray, Samples:chararray, Country:chararray, Laboratory:chararray);filtered_records = FILTER records by Country == 'Egypt' OR Country == 'Morocco';grouped_records = GROUP filtered_records BY Country;DUMP grouped_records;\",\r\n    \"user.name\": \"admin\",\r\n    \"file\": \"\",\r\n    \"callback\": null,\r\n    \"enablejobreconnect\": null\r\n  },\r\n  \"msg\": null\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json"
        ],
        "x-ms-hdi-servedby": [
          "GATEWAY1"
        ],
        "x-ms-hdi-active": [
          "headnode0.nemadj-prod-sdk.b4.internal.cloudapp.net"
        ],
        "x-ms-leader-detect-time": [
          "0"
        ]
      },
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {}
}