{
  "Entries": [
    {
      "RequestUri": "/1273adef-00a3-4086-a51a-dbcce1857d36/groups?api-version=1.6",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"displayName\": \"testGroup047941556-7d0e-4c5b-8454-1ef508420e25\",\r\n  \"mailNickname\": \"testGroup047941556-7d0e-4c5b-8454-1ef508420e25tester\",\r\n  \"mailEnabled\": false,\r\n  \"securityEnabled\": true\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Location": [
          "https://graph.windows.net/1273adef-00a3-4086-a51a-dbcce1857d36/directoryObjects/d6f48efb-91dc-4df7-81ba-a68611b64650/Microsoft.DirectoryServices.Group"
        ],
        "ocp-aad-diagnostics-server-name": [
          "c+jbw+ZBrEliCN+SCvWixDretq0U48+gk/t2P/iP65E="
        ],
        "x-ms-dirapi-data-contract-version": [
          "1.6"
        ],
        "ocp-aad-session-key": [
          "3RRw1SbqHoJZ62JdqGgmDyidVpS7OUePLeWClXOnwEynC-saKkhp0UZI2-F5jdlg9Mzuvxxtpt731kvgHUbtHHnLY7Ku9WRAAhw1UV7S4PLIieRAOEju65pSGSinqAXF2syzo-r5d8kipy1CrFk2rw.rVymIfNry1Q24HPfjQ3nH7QOlpfi8yk9Woun5l7lraU"
        ],
        "DataServiceVersion": [
          "3.0;"
        ],
        "Duration": [
          "1094697"
        ],
        "Content-Type": [
          "application/json; odata=minimalmetadata; streaming=true; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://graph.windows.net/1273adef-00a3-4086-a51a-dbcce1857d36/$metadata#directoryObjects/Microsoft.DirectoryServices.Group/@Element\",\r\n  \"odata.type\": \"Microsoft.DirectoryServices.Group\",\r\n  \"objectType\": \"Group\",\r\n  \"objectId\": \"d6f48efb-91dc-4df7-81ba-a68611b64650\",\r\n  \"deletionTimestamp\": null,\r\n  \"description\": null,\r\n  \"dirSyncEnabled\": null,\r\n  \"displayName\": \"testGroup047941556-7d0e-4c5b-8454-1ef508420e25\",\r\n  \"lastDirSyncTime\": null,\r\n  \"mail\": null,\r\n  \"mailNickname\": \"testGroup047941556-7d0e-4c5b-8454-1ef508420e25tester\",\r\n  \"mailEnabled\": false,\r\n  \"onPremisesDomainName\": null,\r\n  \"onPremisesNetBiosName\": null,\r\n  \"onPremisesSamAccountName\": null,\r\n  \"onPremisesSecurityIdentifier\": null,\r\n  \"provisioningErrors\": [],\r\n  \"proxyAddresses\": [],\r\n  \"securityEnabled\": true\r\n}",
      "StatusCode": 201
    },
[...]
    {
      "RequestUri": "/1273adef-00a3-4086-a51a-dbcce1857d36/users?api-version=1.6",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"accountEnabled\": true,\r\n  \"displayName\": \"testUser05238fc4b-5749-481f-9b85-0e17e27f02a9\",\r\n  \"passwordProfile\": {\r\n    \"password\": \"Test12345\",\r\n    \"forceChangePasswordNextLogin\": false\r\n  },\r\n  \"userPrincipalName\": \"testUser05238fc4b-5749-481f-9b85-0e17e27f02a9@rbacclitest.onmicrosoft.com\",\r\n  \"mailNickname\": \"testUser05238fc4b-5749-481f-9b85-0e17e27f02a9test\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Location": [
          "https://graph.windows.net/1273adef-00a3-4086-a51a-dbcce1857d36/directoryObjects/0dbd036c-6912-42a4-8c63-161a313eea25/Microsoft.DirectoryServices.User"
        ],[...]
[...]
