{
  "Entries": [
    {
      "RequestUri": "/offers?api-version=2015-11-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/delegatedProviders/default/offers/balaoffer\",\r\n      \"name\": \"balaoffer\",\r\n      \"displayName\": \"balaoffer\",\r\n      \"description\": \"\"\r\n    },\r\n    {\r\n      \"id\": \"/delegatedProviders/default/offers/cnur8007tenantoffer352\",\r\n      \"name\": \"cnur8007tenantoffer352\",\r\n      \"displayName\": \"cnur8007tenantoffer352\"\r\n    },\r\n    {\r\n      \"id\": \"/delegatedProviders/default/offers/cnur8007tenantsubsvcoffer352\",\r\n      \"name\": \"cnur8007tenantsubsvcoffer352\",\r\n      \"displayName\": \"cnur8007tenantsubsvcoffer352\"\r\n    },\r\n    {\r\n      \"id\": \"/delegatedProviders/default/offers/TestOffer-e9a634c1-8846-49f0-ab49-65d24262dc41\",\r\n      \"name\": \"TestOffer-e9a634c1-8846-49f0-ab49-65d24262dc41\",\r\n      \"displayName\": \"TestOffer-e9a634c1-8846-49f0-ab49-65d24262dc41\"\r\n    }\r\n  ]\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-tenant-reads": [
          "14998"
        ]
      },
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "4caa8431-21b4-4e0b-bca0-1542a5f11e23"
  }
}