{
  "Entries": [
    {
      "RequestUri": "https://pakrymtest2.vault.azure.net/secrets/TestSecret?api-version=7.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": "Very secret value",
        "id": "https://pakrymtest2.vault.azure.net/secrets/TestSecret/6a7e6b5d2d9a410da13dcf7d6eec6f44",
        "attributes": {
          "enabled": true,
          "created": 1587663423,
          "updated": 1587663423,
          "recoveryLevel": "Recoverable\u002BPurgeable"
        }
      }
    }
  ],
  "Variables": {
    "KEYVAULT_URL": "https://pakrymtest2.vault.azure.net",
    "RandomSeed": "2070406030"
  }
}