{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-d20699af-4d5c-a10e-c44b-44f80a629d71?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 14 Dec 2022 23:18:13 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DADE297A30A4A0\u0022",
        "Last-Modified": "Wed, 14 Dec 2022 23:18:15 GMT",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-d20699af-4d5c-a10e-c44b-44f80a629d71/test-blob-1f267f38-df45-931e-ef87-996350695256",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Wed, 14 Dec 2022 23:18:13 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DADE297A3B73A4\u0022",
        "Last-Modified": "Wed, 14 Dec 2022 23:18:15 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2022-12-14T23:18:15.2088484Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-d20699af-4d5c-a10e-c44b-44f80a629d71/test-blob-1f267f38-df45-931e-ef87-996350695256?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 14 Dec 2022 23:18:13 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": "QyOVgEvuu7N0h/wHH08KB6vtOz0VVKGACf6aqFOV2pf8496g1vB9yLatRaQrYB2YUOZ6f2EFi\u002B6CFHdMVBJf3qxkCztwajG6cHKHaA78VKjhAlhtG1o29ljwHsJ5MXSjTWf3x1XiJ\u002Ba0vw/ufSLfhb/OalG58sNRLhTigEtvQT794xqnBY1T/tpyuFtKR3g2EJgCqsYj6lukpZhAAKeaRX7Q8JoIOIAxemx2RzloBuacrHCybJZ42vm\u002BA1/1E/4z2HPcelfeLdcY0S9arKMiO56ypFM259joVxagSTUgPGdtQ2/Gi4yPvX6YmptmHi5WnMfBQm6q/fCa9C[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-d20699af-4d5c-a10e-c44b-44f80a629d71/test-blob-1f267f38-df45-931e-ef87-996350695256",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 14 Dec 2022 23:18:13 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DADE297A469589\u0022",
        "Last-Modified": "Wed, 14 Dec 2022 23:18:15 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Wed, 14 Dec 2022 23:18:15 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2022-12-14T23:18:15.2088484Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-d20699af-4d5c-a10e-c44b-44f80a629d71/test-blob-29aac348-b315-15fa-861d-ae97494cccd8",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://amandadev2.blob.core.windows.net/test-container-d20699af-4d5c-a10e-c44b-44f80a629d71/test-blob-1f267f38-df45-931e-ef87-996350695256",
        "x-ms-date": "Wed, 14 Dec 2022 23:18:13 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\u00220x8DADE297A64525E\u0022",
        "Last-Modified": "Wed, 14 Dec 2022 23:18:15 GMT",
        "x-ms-copy-id": "b01337b5-8376-4620-8498-cc881c8b1d9c",
        "x-ms-copy-status": "success",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2022-12-14T23:18:15.4766942Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-d20699af-4d5c-a10e-c44b-44f80a629d71/test-blob-29aac348-b315-15fa-861d-ae97494cccd8",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 14 Dec 2022 23:18:14 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DADE297A64525E\u0022",
        "Last-Modified": "Wed, 14 Dec 2022 23:18:15 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-copy-completion-time": "Wed, 14 Dec 2022 23:18:15 GMT",
        "x-ms-copy-id": "b01337b5-8376-4620-8498-cc881c8b1d9c",
        "x-ms-copy-progress": "1024/1024",
        "x-ms-copy-source": "https://amandadev2.blob.core.windows.net/test-container-d20699af-4d5c-a10e-c44b-44f80a629d71/test-blob-1f267f38-df45-931e-ef87-996350695256",
        "x-ms-copy-status": "success",
        "x-ms-creation-time": "Wed, 14 Dec 2022 23:18:15 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2022-12-14T23:18:15.4766942Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-d20699af-4d5c-a10e-c44b-44f80a629d71/test-blob-29aac348-b315-15fa-861d-ae97494cccd8",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 14 Dec 2022 23:18:14 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DADE297A64525E\u0022",
        "Last-Modified": "Wed, 14 Dec 2022 23:18:15 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-copy-completion-time": "Wed, 14 Dec 2022 23:18:15 GMT",
        "x-ms-copy-id": "b01337b5-8376-4620-8498-cc881c8b1d9c",
        "x-ms-copy-progress": "1024/1024",
        "x-ms-copy-source": "https://amandadev2.blob.c[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-d20699af-4d5c-a10e-c44b-44f80a629d71?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 14 Dec 2022 23:18:14 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "3515184",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
