{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-9be82ce6-0ec3-5c29-6513-7f4b93557fcf?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 14 Dec 2022 23:18:10 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DADE29780F2611\u0022",
        "Last-Modified": "Wed, 14 Dec 2022 23:18:11 GMT",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-9be82ce6-0ec3-5c29-6513-7f4b93557fcf/test-blob-1fcb02fc-2ce9-9063-76f7-8271b5a3b021",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Wed, 14 Dec 2022 23:18:10 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DADE2978198004\u0022",
        "Last-Modified": "Wed, 14 Dec 2022 23:18:11 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2022-12-14T23:18:11.6308996Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-9be82ce6-0ec3-5c29-6513-7f4b93557fcf/test-blob-1fcb02fc-2ce9-9063-76f7-8271b5a3b021?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 14 Dec 2022 23:18:10 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": "C5F2Y2lEMf9CtxIaWPXsZSxSDQ0ZBqlq8t8jPPCnkueCUWISmmfGH3aKZsCzt0eRV6bsLhc/aQXoC3GKIfQPmyUqlwaS2svEjO6Wj5/otzqXkeRJumTQQuhdKo72PP6BesubiCBB/n3bJ6IpqNll/1Q28o8PxuDBWVQdNa88zk/wFBXUTC4aVpJnbZPBppkP9yo5v0pucbPq2i/LI8nNnllTOZTEkbMmHJz8qFhN/7K6Dj2EAw4FgaNh6XL/TjPJms86bm0FSmZ3E6Otcclandp8ERSLSJtKTbfwYqdAJ85oMg6JEpFFtMTXDe9rVw/ZBkyXgj0ePlE07yC1FOe/N\u002BzV[...]
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-9be82ce6-0ec3-5c29-6513-7f4b93557fcf/test-blob-4acff3cb-78bd-e676-6b57-35ca0a61e2d6",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 14 Dec 2022 23:18:10 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DADE297844CF6E\u0022",
        "Last-Modified": "Wed, 14 Dec 2022 23:18:11 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Wed, 14 Dec 2022 23:18:11 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2022-12-14T23:18:11.7998032Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-9be82ce6-0ec3-5c29-6513-7f4b93557fcf/test-blob-1fcb02fc-2ce9-9063-76f7-8271b5a3b021",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-copy-source": "https://amandadev2.blob.core.windows.net/test-container-9be82ce6-0ec3-5c29-6513-7f4b93557fcf/test-blob-4acff3cb-78bd-e676-6b57-35ca0a61e2d6",
        "x-ms-date": "Wed, 14 Dec 2022 23:18:10 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "BlobAlreadyExists",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003EBlobAlreadyExists\u003C/Code\u003E\u003CMessage\u003EThe specified blob already exists.\n",
        "RequestId:92ec0a4a-f01e-0066-7d12-103ac1000000\n",
        "Time:2022-12-14T23:18:12.1337346Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-9be82ce6-0ec3-5c29-6513-7f4b93557fcf/test-blob-1fcb02fc-2ce9-9063-76f7-8271b5a3b021",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 14 Dec 2022 23:18:10 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DADE297825DA46\u0022",
        "Last-Modified": "Wed, 14 Dec 2022 23:18:11 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Wed, 14 Dec 2022 23:18:11 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
  [...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-9be82ce6-0ec3-5c29-6513-7f4b93557fcf?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 14 Dec 2022 23:18:10 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1296150166",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
