{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-cc2ca18d-0de3-b9d2-060a-425b5c2bc3f3?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 14 Dec 2022 23:19:50 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DADE29B3E66095\u0022",
        "Last-Modified": "Wed, 14 Dec 2022 23:19:51 GMT",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-cc2ca18d-0de3-b9d2-060a-425b5c2bc3f3/test-blob-83a144e5-af6a-b314-424a-0fea000c0b2c",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Wed, 14 Dec 2022 23:19:50 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DADE29B3F1155F\u0022",
        "Last-Modified": "Wed, 14 Dec 2022 23:19:52 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2022-12-14T23:19:52.0293215Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-cc2ca18d-0de3-b9d2-060a-425b5c2bc3f3/test-blob-83a144e5-af6a-b314-424a-0fea000c0b2c?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 14 Dec 2022 23:19:50 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": "VJCB4hWf8E9WTZh1so6P\u002Bzq9y5mMqlw\u002BXutxTzV6JsgtlRm36GzQt8EH/H0OvnthoNwFzNUyuKkzQoQqLqAa2ybQSB102BPO7RPXha7fMKBvEK9YdVry\u002Btxvg6Xopokg7CBXPnVe7cfJNt/CWjP7VBLjuh7xwWXM3U1ABFVt5keKt5iNiPIqESLnjz97MKCpdC6TBOtrLyu7imEnHulyW1CXN6KabswfuKn7CTImUKytlpAm2eJcH4ht0f2RA/I5dDPv4/j9DwVhdEtBbyX5lTm0eohZTIJuOxgaLZzPjrW3wpT\u002BN22zr4eKxGWWGq9iczzD3Ihq3[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-cc2ca18d-0de3-b9d2-060a-425b5c2bc3f3/test-blob-83a144e5-af6a-b314-424a-0fea000c0b2c",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 14 Dec 2022 23:19:50 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DADE29B3FC3749\u0022",
        "Last-Modified": "Wed, 14 Dec 2022 23:19:52 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Wed, 14 Dec 2022 23:19:52 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2022-12-14T23:19:52.0293215Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-cc2ca18d-0de3-b9d2-060a-425b5c2bc3f3/test-blob-1b7c7385-3d6b-a2db-fed9-116e61c6fa39",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://amandadev2.blob.core.windows.net/test-container-cc2ca18d-0de3-b9d2-060a-425b5c2bc3f3/test-blob-83a144e5-af6a-b314-424a-0fea000c0b2c",
        "x-ms-date": "Wed, 14 Dec 2022 23:19:50 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\u00220x8DADE29B410F4C1\u0022",
        "Last-Modified": "Wed, 14 Dec 2022 23:19:52 GMT",
        "x-ms-copy-id": "0c71d34a-8cd3-493e-ae67-2f3660c7c0c9",
        "x-ms-copy-status": "success",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2022-12-14T23:19:52.2382017Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-cc2ca18d-0de3-b9d2-060a-425b5c2bc3f3/test-blob-1b7c7385-3d6b-a2db-fed9-116e61c6fa39",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 14 Dec 2022 23:19:50 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DADE29B410F4C1\u0022",
        "Last-Modified": "Wed, 14 Dec 2022 23:19:52 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-copy-completion-time": "Wed, 14 Dec 2022 23:19:52 GMT",
        "x-ms-copy-id": "0c71d34a-8cd3-493e-ae67-2f3660c7c0c9",
        "x-ms-copy-progress": "1024/1024",
        "x-ms-copy-source": "https://amandadev2.blob.core.windows.net/test-container-cc2ca18d-0de3-b9d2-060a-425b5c2bc3f3/test-blob-83a144e5-af6a-b314-424a-0fea000c0b2c",
        "x-ms-copy-status": "success",
        "x-ms-creation-time": "Wed, 14 Dec 2022 23:19:52 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2022-12-14T23:19:52.2382017Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-cc2ca18d-0de3-b9d2-060a-425b5c2bc3f3/test-blob-1b7c7385-3d6b-a2db-fed9-116e61c6fa39",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 14 Dec 2022 23:19:50 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DADE29B410F4C1\u0022",
        "Last-Modified": "Wed, 14 Dec 2022 23:19:52 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-copy-completion-time": "Wed, 14 Dec 2022 23:19:52 GMT",
        "x-ms-copy-id": "0c71d34a-8cd3-493e-ae67-2f3660c7c0c9",
        "x-ms-copy-progress": "1024/1024",
        "x-ms-copy-source": "https://amandadev2.blob.c[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-cc2ca18d-0de3-b9d2-060a-425b5c2bc3f3?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 14 Dec 2022 23:19:50 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1886151331",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
