{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-04a2fe20-323b-bcd1-7838-28bef68494fe?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Sat, 22 Apr 2023 06:57:43 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB42FEDED0AABA\u0022",
        "Last-Modified": "Sat, 22 Apr 2023 06:57:43 GMT",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-04a2fe20-323b-bcd1-7838-28bef68494fe/test-blob-c8d5038a-2caf-f0e0-2bcb-f71f7fa5c6ca",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Sat, 22 Apr 2023 06:57:43 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB42FEDEDA1F39\u0022",
        "Last-Modified": "Sat, 22 Apr 2023 06:57:43 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2022-11-02",
        "x-ms-version-id": "2023-04-22T06:57:43.1020345Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-04a2fe20-323b-bcd1-7838-28bef68494fe/test-blob-c8d5038a-2caf-f0e0-2bcb-f71f7fa5c6ca?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Sat, 22 Apr 2023 06:57:43 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": "vU/zUPr03tk3skgPla3AjQ4fXG6KZS0bSsBRaJygtYY8KnnBKFwwCrqQT3RuUsmQRsSh0OFh7Fch1wU6o3U9l/zC02o0/mWx71G0\u002Bha4rfj2wSHX/uWl2z4hoFBW9mdEUrh4q35fW0he7\u002BGPrPJBaCoNQ\u002BJUZZgWHfgsE10UWvjqb6hdQAJ5l2XZeA4EFS5M3zgmSbKF8O0gYY2FMkfqSpTopDxJ5Ccok6x8e\u002ByJEgfK4DMl7hFFZX\u002B6Pd509GUe7i55HHHxAvsQ/bUGCXUAlk\u002BFu1EUxFuCoj\u002B9jqdJs59HXoy\u002BEPWW2N44FfFcP1wKuqaO7zgTCSnT9noxM3NUxkkVv6roQoZa7\u002BJz3K9qJmPjs9QAusRmM1Rj6hl7ZKRr406nRn\u002BxIXggNABVoC16adAXToCeUwyFroxWhVds3oo9B/hgwt/jMpFb34XEEZMn6YFIZBYkzJBCIpjzWpwhs1Z1GJg0GabxMxzvQ3SGwJ34L5zVJHp0GTtoHqBH8Nf1OisvTvj68s/bVzD6NYkbu2H6\u002BisAS4/cAf5dzPoFqkNE\u002BghIVnGk/j3M\u002BsxJeuSxTGM/TPWr9e6cU036nSXV1a3ttTuA02TvVfzuM1HCkocarH\u002BXxV1OmAQarAMkqmAX9yQfW8SpMXn\u002BUPb4vcGd2cDG4PGlPQ9Pnx02ZiZhy6s=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB42FEDEE9AD50\u0022",
        "Last-Modified": "Sat, 22 Apr 2023 06:57:43 GMT",
        "x-ms-blob-append-offset": "0",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-content-crc64": "0vEpBM9resE=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-04a2fe20-323b-bcd1-7838-28bef68494fe/test-blob-c8d5038a-2caf-f0e0-2bcb-f71f7fa5c6ca",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 22 Apr 2023 06:57:43 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DB42FEDEE9AD50\u0022",
        "Last-Modified": "Sat, 22 Apr 2023 06:57:43 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Sat, 22 Apr 2023 06:57:43 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2022-11-02",
        "x-ms-version-id": "2023-04-22T06:57:43.1020345Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-04a2fe20-323b-bcd1-7838-28bef68494fe/test-blob-ae7f669b-99f1-0760-c3bf-b8e643cb8b95",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-copy-source": "https://amandadev2.blob.core.windows.net/test-container-04a2fe20-323b-bcd1-7838-28bef68494fe/test-blob-c8d5038a-2caf-f0e0-2bcb-f71f7fa5c6ca",
        "x-ms-date": "Sat, 22 Apr 2023 06:57:43 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB42FEDF309704\u0022",
        "Last-Modified": "Sat, 22 Apr 2023 06:57:43 GMT",
        "x-ms-copy-id": "cc26c506-dc78-4b06-b9bb-252eda4b8e5b",
        "x-ms-copy-status": "success",
        "x-ms-version": "2022-11-02",
        "x-ms-version-id": "2023-04-22T06:57:43.6687108Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-04a2fe20-323b-bcd1-7838-28bef68494fe/test-blob-ae7f669b-99f1-0760-c3bf-b8e643cb8b95",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 22 Apr 2023 06:57:43 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DB42FEDF309704\u0022",
        "Last-Modified": "Sat, 22 Apr 2023 06:57:43 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-copy-completion-time": "Sat, 22 Apr 2023 06:57:43 GMT",
        "x-ms-copy-id": "cc26c506-dc78-4b06-b9bb-252eda4b8e5b",
        "x-ms-copy-progress": "512/512",
        "x-ms-copy-source": "https://amandadev2.blob.core.windows.net/test-container-04a2fe20-323b-bcd1-7838-28bef68494fe/test-blob-c8d5038a-2caf-f0e0-2bcb-f71f7fa5c6ca",
        "x-ms-copy-status": "success",
        "x-ms-creation-time": "Sat, 22 Apr 2023 06:57:43 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2022-11-02",
        "x-ms-version-id": "2023-04-22T06:57:43.6687108Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-04a2fe20-323b-bcd1-7838-28bef68494fe/test-blob-ae7f669b-99f1-0760-c3bf-b8e643cb8b95",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 22 Apr 2023 06:57:43 GMT",
        "x-ms-range": "bytes=0-511",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-511/512",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DB42FEDF309704\u0022",
        "Last-Modified": "Sat, 22 Apr 2023 06:57:43 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-copy-completion-time": "Sat, 22 Apr 2023 06:57:43 GMT",
        "x-ms-copy-id": "cc26c506-dc78-4b06-b9bb-252eda4b8e5b",
        "x-ms-copy-progress": "512/512",
        "x-ms-copy-source": "https://amandadev2.blob.core.[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-04a2fe20-323b-bcd1-7838-28bef68494fe?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 22 Apr 2023 06:57:43 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "195208492",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
