{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-163acef0-84ca-1bdc-e908-63bba0145ee8?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 14 Dec 2022 23:18:11 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DADE2978B9F301\u0022",
        "Last-Modified": "Wed, 14 Dec 2022 23:18:12 GMT",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-163acef0-84ca-1bdc-e908-63bba0145ee8/test-blob-f55e1b54-2b01-c838-f39a-e70ce77a264a",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Wed, 14 Dec 2022 23:18:11 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DADE2978C3FEE1\u0022",
        "Last-Modified": "Wed, 14 Dec 2022 23:18:12 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2022-12-14T23:18:12.7482593Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-163acef0-84ca-1bdc-e908-63bba0145ee8/test-blob-f55e1b54-2b01-c838-f39a-e70ce77a264a?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 14 Dec 2022 23:18:11 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": "MWXFtB3OmmzhFtfRVPJPIca3eYpsTQh0yjNS/GUlpoYyJxQTDB8Rw8Kh9yv3eVkYWGBN6R5zQuNcUOrqfJ4GvG9QnyzdPBWnprbHylXdfVHZOaQE171nvuQwtrs0J0Ykmju7p9otOhtLpkNorHiNf9OYEUP5AuSy6OBHrIZZcn5vojAaItV2q/6IuTF6/xJsozfnnBUDK5hXCb755Y2V8TPE\u002BAlHc1z9IWVEcEiyOOnO2wlOctZpbHaYwxgXfcZw88f9tQcIJC/a6Xqwv7pPpNHUKwqERn9dW4uSr7BE5aSf032AtILhxbbadIhcuK28SB5HQlK77KxIoFp7dnV\u002[...]
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-163acef0-84ca-1bdc-e908-63bba0145ee8/test-blob-46628103-582d-31f4-d563-7118fb37865b",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 14 Dec 2022 23:18:11 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DADE2978E47A6F\u0022",
        "Last-Modified": "Wed, 14 Dec 2022 23:18:12 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Wed, 14 Dec 2022 23:18:12 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2022-12-14T23:18:12.8951746Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-163acef0-84ca-1bdc-e908-63bba0145ee8/test-blob-f55e1b54-2b01-c838-f39a-e70ce77a264a",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://amandadev2.blob.core.windows.net/test-container-163acef0-84ca-1bdc-e908-63bba0145ee8/test-blob-46628103-582d-31f4-d563-7118fb37865b",
        "x-ms-date": "Wed, 14 Dec 2022 23:18:11 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\u00220x8DADE2979014CFE\u0022",
        "Last-Modified": "Wed, 14 Dec 2022 23:18:13 GMT",
        "x-ms-copy-id": "efa3e27c-e394-44ea-a0a9-0ce5a7e67757",
        "x-ms-copy-status": "success",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2022-12-14T23:18:13.1510286Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-163acef0-84ca-1bdc-e908-63bba0145ee8/test-blob-f55e1b54-2b01-c838-f39a-e70ce77a264a",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 14 Dec 2022 23:18:11 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DADE2979014CFE\u0022",
        "Last-Modified": "Wed, 14 Dec 2022 23:18:13 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-copy-completion-time": "Wed, 14 Dec 2022 23:18:13 GMT",
        "x-ms-copy-id": "efa3e27c-e394-44ea-a0a9-0ce5a7e67757",
        "x-ms-copy-progress": "1024/1024",
        "x-ms-copy-source": "https://amandadev2.blob.core.windows.net/test-container-163acef0-84ca-1bdc-e908-63bba0145ee8/test-blob-46628103-582d-31f4-d563-7118fb37865b",
        "x-ms-copy-status": "success",
        "x-ms-creation-time": "Wed, 14 Dec 2022 23:18:12 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2022-12-14T23:18:13.1510286Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-163acef0-84ca-1bdc-e908-63bba0145ee8/test-blob-f55e1b54-2b01-c838-f39a-e70ce77a264a",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 14 Dec 2022 23:18:11 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DADE2979014CFE\u0022",
        "Last-Modified": "Wed, 14 Dec 2022 23:18:13 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-copy-completion-time": "Wed, 14 Dec 2022 23:18:13 GMT",
        "x-ms-copy-id": "efa3e27c-e394-44ea-a0a9-0ce5a7e67757",
        "x-ms-copy-progress": "1024/1024",
        "x-ms-copy-source": "https://amandadev2.blob.c[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-163acef0-84ca-1bdc-e908-63bba0145ee8?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 14 Dec 2022 23:18:11 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "196056326",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
