{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-48b6990f-e678-e9a2-7e08-c6c7426ef448?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 22 Apr 2023 06:57:58 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB42FEE7F7887C\u0022",
        "Last-Modified": "Sat, 22 Apr 2023 06:57:58 GMT",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-48b6990f-e678-e9a2-7e08-c6c7426ef448/test-blob-fcb6672a-43f9-7903-6ece-fe0a3d8a2abe",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Sat, 22 Apr 2023 06:57:58 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB42FEE800FD01\u0022",
        "Last-Modified": "Sat, 22 Apr 2023 06:57:58 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2022-11-02",
        "x-ms-version-id": "2023-04-22T06:57:58.4562433Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-48b6990f-e678-e9a2-7e08-c6c7426ef448/test-blob-fcb6672a-43f9-7903-6ece-fe0a3d8a2abe?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Sat, 22 Apr 2023 06:57:58 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": "2GHUb03zecEpYs/AfSxQLWlkvoMP/OtlsktonA0cecN5Pl6YrztPZFIT\u002B4/WOpw6LPu67\u002Br4idt2b7wBityzDekMRz/Nt34uFVkw\u002BwFcjnivLnASYonYgLSCIkB/Tdp2X\u002B2lyfJdbHR9jNqQyI3aGuBDUlxroapfM8eKSpU\u002Br8h/upwTtsWGUcH8lNavSLgmqAdfO/p\u002BC75DRpUq0yHfPtwREA3xxmQavQCabwzUsOsPY6KN3nPNAa/d0HAvW36fHFX5nTeqNeKjRH7645uxbpWqG29/UWBpQw9eE/b062GB\u002BlK22xKzZS7A6Z[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-48b6990f-e678-e9a2-7e08-c6c7426ef448/test-blob-fcb6672a-43f9-7903-6ece-fe0a3d8a2abe",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 22 Apr 2023 06:57:58 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DB42FEE80A717B\u0022",
        "Last-Modified": "Sat, 22 Apr 2023 06:57:58 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Sat, 22 Apr 2023 06:57:58 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2022-11-02",
        "x-ms-version-id": "2023-04-22T06:57:58.4562433Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-48b6990f-e678-e9a2-7e08-c6c7426ef448/test-blob-89f2ed64-eedb-96df-ca8b-94e6c7e27f72",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-copy-source": "https://amandadev2.blob.core.windows.net/test-container-48b6990f-e678-e9a2-7e08-c6c7426ef448/test-blob-fcb6672a-43f9-7903-6ece-fe0a3d8a2abe",
        "x-ms-date": "Sat, 22 Apr 2023 06:57:58 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB42FEE81F55F9\u0022",
        "Last-Modified": "Sat, 22 Apr 2023 06:57:58 GMT",
        "x-ms-copy-id": "37c30b85-3e85-40b8-8425-c78b590cfc34",
        "x-ms-copy-status": "success",
        "x-ms-version": "2022-11-02",
        "x-ms-version-id": "2023-04-22T06:57:58.6551289Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-48b6990f-e678-e9a2-7e08-c6c7426ef448/test-blob-89f2ed64-eedb-96df-ca8b-94e6c7e27f72",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 22 Apr 2023 06:57:58 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DB42FEE81F55F9\u0022",
        "Last-Modified": "Sat, 22 Apr 2023 06:57:58 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-copy-completion-time": "Sat, 22 Apr 2023 06:57:58 GMT",
        "x-ms-copy-id": "37c30b85-3e85-40b8-8425-c78b590cfc34",
        "x-ms-copy-progress": "1024/1024",
        "x-ms-copy-source": "https://amandadev2.blob.core.windows.net/test-container-48b6990f-e678-e9a2-7e08-c6c7426ef448/test-blob-fcb6672a-43f9-7903-6ece-fe0a3d8a2abe",
        "x-ms-copy-status": "success",
        "x-ms-creation-time": "Sat, 22 Apr 2023 06:57:58 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2022-11-02",
        "x-ms-version-id": "2023-04-22T06:57:58.6551289Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-48b6990f-e678-e9a2-7e08-c6c7426ef448/test-blob-89f2ed64-eedb-96df-ca8b-94e6c7e27f72",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 22 Apr 2023 06:57:58 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DB42FEE81F55F9\u0022",
        "Last-Modified": "Sat, 22 Apr 2023 06:57:58 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-copy-completion-time": "Sat, 22 Apr 2023 06:57:58 GMT",
        "x-ms-copy-id": "37c30b85-3e85-40b8-8425-c78b590cfc34",
        "x-ms-copy-progress": "1024/1024",
        "x-ms-copy-source": "https://amandadev2.blob.c[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-48b6990f-e678-e9a2-7e08-c6c7426ef448?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 22 Apr 2023 06:57:58 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "2050998959",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
