{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-58c849a5-bf0f-e67a-9ff4-e46272fb79b3?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 14 Dec 2022 23:19:46 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DADE29B163BCBC\u0022",
        "Last-Modified": "Wed, 14 Dec 2022 23:19:47 GMT",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-58c849a5-bf0f-e67a-9ff4-e46272fb79b3/test-blob-2078a4ed-ce8b-a6d2-5cac-fdffc4fe4fa1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Wed, 14 Dec 2022 23:19:46 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DADE29B16E9969\u0022",
        "Last-Modified": "Wed, 14 Dec 2022 23:19:47 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2022-12-14T23:19:47.8187369Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-58c849a5-bf0f-e67a-9ff4-e46272fb79b3/test-blob-2078a4ed-ce8b-a6d2-5cac-fdffc4fe4fa1?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 14 Dec 2022 23:19:46 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": "IJ3GvOgyXJBCKXOK7a7wG7kpsd/rTkpU/1tOBSpdqin7yZrjO/FVueEK7MQhkXgeUTZR9M/F9dJScb2N5Fdl5H5JjyQTDODI0/j\u002B4GGFM23jL7P0DLZaNdPIkck0x9SJpQhG1wJTC0VViCDWxxVwzT5PqrWkcNfI71pRS3sWkwskdDtZP1trjyNunoSVg26\u002BV8OK5R0f5TQwfuenAr/JP/UUslLZF47j4xqRNdJTMmzsk/O4i67uBI8HKMB0w41kpV\u002BOgdAb5EA1pwEDjrBi3Ut6u2/LEbNGJq7D0u/NbyCNLJBzxLCc0a6zguSs63bepUp0\u002BQgem[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-58c849a5-bf0f-e67a-9ff4-e46272fb79b3/test-blob-2078a4ed-ce8b-a6d2-5cac-fdffc4fe4fa1",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 14 Dec 2022 23:19:46 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DADE29B17B68C6\u0022",
        "Last-Modified": "Wed, 14 Dec 2022 23:19:47 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Wed, 14 Dec 2022 23:19:47 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2022-12-14T23:19:47.8187369Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-58c849a5-bf0f-e67a-9ff4-e46272fb79b3/test-blob-9d0819bb-eb7c-de9a-a661-729b903d6d18",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://amandadev2.blob.core.windows.net/test-container-58c849a5-bf0f-e67a-9ff4-e46272fb79b3/test-blob-2078a4ed-ce8b-a6d2-5cac-fdffc4fe4fa1",
        "x-ms-date": "Wed, 14 Dec 2022 23:19:46 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\u00220x8DADE29B193F635\u0022",
        "Last-Modified": "Wed, 14 Dec 2022 23:19:48 GMT",
        "x-ms-copy-id": "5a5c2234-b011-473c-b1c8-cab221d3d37c",
        "x-ms-copy-status": "success",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2022-12-14T23:19:48.0635957Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-58c849a5-bf0f-e67a-9ff4-e46272fb79b3/test-blob-9d0819bb-eb7c-de9a-a661-729b903d6d18",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 14 Dec 2022 23:19:46 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DADE29B193F635\u0022",
        "Last-Modified": "Wed, 14 Dec 2022 23:19:48 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-copy-completion-time": "Wed, 14 Dec 2022 23:19:48 GMT",
        "x-ms-copy-id": "5a5c2234-b011-473c-b1c8-cab221d3d37c",
        "x-ms-copy-progress": "2048/2048",
        "x-ms-copy-source": "https://amandadev2.blob.core.windows.net/test-container-58c849a5-bf0f-e67a-9ff4-e46272fb79b3/test-blob-2078a4ed-ce8b-a6d2-5cac-fdffc4fe4fa1",
        "x-ms-copy-status": "success",
        "x-ms-creation-time": "Wed, 14 Dec 2022 23:19:48 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2022-12-14T23:19:48.0635957Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-58c849a5-bf0f-e67a-9ff4-e46272fb79b3/test-blob-9d0819bb-eb7c-de9a-a661-729b903d6d18",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 14 Dec 2022 23:19:46 GMT",
        "x-ms-range": "bytes=0-2047",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-2047/2048",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DADE29B193F635\u0022",
        "Last-Modified": "Wed, 14 Dec 2022 23:19:48 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-copy-completion-time": "Wed, 14 Dec 2022 23:19:48 GMT",
        "x-ms-copy-id": "5a5c2234-b011-473c-b1c8-cab221d3d37c",
        "x-ms-copy-progress": "2048/2048",
        "x-ms-copy-source": "https://amandadev2.blob.c[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-58c849a5-bf0f-e67a-9ff4-e46272fb79b3?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 14 Dec 2022 23:19:46 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "968083859",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
