{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-39becb40-8e97-1ba7-77f5-27de450c3847?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 14 Dec 2022 23:19:45 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DADE29B0D24049\u0022",
        "Last-Modified": "Wed, 14 Dec 2022 23:19:46 GMT",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-39becb40-8e97-1ba7-77f5-27de450c3847/test-blob-adc8f796-af7a-cd12-0c98-d3d935703256",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Wed, 14 Dec 2022 23:19:45 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DADE29B0DFDBD4\u0022",
        "Last-Modified": "Wed, 14 Dec 2022 23:19:46 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2022-12-14T23:19:46.8832724Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-39becb40-8e97-1ba7-77f5-27de450c3847/test-blob-adc8f796-af7a-cd12-0c98-d3d935703256?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 14 Dec 2022 23:19:45 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": "xWRr2WW\u002Bf0q302PgYODCFQB6Q5u9GOAZrKT1QcILD8B\u002BvrxP7B9oAQNYhYuiGNOQ9T1fQ2QoDayDUi3AyT6Iq8SjYqEkcynhEkKYZJJVdpPRZUuEq8tcVbAPy5nxqDjF0NrH/7Yya4IUfjEij6kZLtyZ7mPyAwD4RgzwFaeP72oK05O4jXbcn/nJby2aOsYH9Z29V7nU0s3ZzrmqQVbahY7HGLwVYKBlvU5qKZPSXgxG6B8K0ZewNQDG3r\u002B9MV2i7uqf0yIJ8ZX8WJpqaak5B3CsZFg30LT2FuK7T4HhqIvwxzqoM4vpPPeJDXn9RctXjNdPEM0Fax42qL[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-39becb40-8e97-1ba7-77f5-27de450c3847/test-blob-adc8f796-af7a-cd12-0c98-d3d935703256",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 14 Dec 2022 23:19:45 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DADE29B0ED6E64\u0022",
        "Last-Modified": "Wed, 14 Dec 2022 23:19:46 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Wed, 14 Dec 2022 23:19:46 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2022-12-14T23:19:46.8832724Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-39becb40-8e97-1ba7-77f5-27de450c3847/test-blob-42d69f1f-a9d6-d4e5-4a45-14121e69cbcf",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://amandadev2.blob.core.windows.net/test-container-39becb40-8e97-1ba7-77f5-27de450c3847/test-blob-adc8f796-af7a-cd12-0c98-d3d935703256",
        "x-ms-date": "Wed, 14 Dec 2022 23:19:45 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\u00220x8DADE29B10B7953\u0022",
        "Last-Modified": "Wed, 14 Dec 2022 23:19:47 GMT",
        "x-ms-copy-id": "f4940179-ba6a-471b-b449-a1abfa8edb2d",
        "x-ms-copy-status": "success",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2022-12-14T23:19:47.1691091Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-39becb40-8e97-1ba7-77f5-27de450c3847/test-blob-42d69f1f-a9d6-d4e5-4a45-14121e69cbcf",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 14 Dec 2022 23:19:45 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DADE29B10B7953\u0022",
        "Last-Modified": "Wed, 14 Dec 2022 23:19:47 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-copy-completion-time": "Wed, 14 Dec 2022 23:19:47 GMT",
        "x-ms-copy-id": "f4940179-ba6a-471b-b449-a1abfa8edb2d",
        "x-ms-copy-progress": "1024/1024",
        "x-ms-copy-source": "https://amandadev2.blob.core.windows.net/test-container-39becb40-8e97-1ba7-77f5-27de450c3847/test-blob-adc8f796-af7a-cd12-0c98-d3d935703256",
        "x-ms-copy-status": "success",
        "x-ms-creation-time": "Wed, 14 Dec 2022 23:19:47 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2022-12-14T23:19:47.1691091Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-39becb40-8e97-1ba7-77f5-27de450c3847/test-blob-42d69f1f-a9d6-d4e5-4a45-14121e69cbcf",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 14 Dec 2022 23:19:45 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DADE29B10B7953\u0022",
        "Last-Modified": "Wed, 14 Dec 2022 23:19:47 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-copy-completion-time": "Wed, 14 Dec 2022 23:19:47 GMT",
        "x-ms-copy-id": "f4940179-ba6a-471b-b449-a1abfa8edb2d",
        "x-ms-copy-progress": "1024/1024",
        "x-ms-copy-source": "https://amandadev2.blob.c[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-39becb40-8e97-1ba7-77f5-27de450c3847?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 14 Dec 2022 23:19:45 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "2049278656",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
