{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-e45e7359-7127-8ba8-0c12-37f5ff086f95?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 14 Dec 2022 23:18:07 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DADE29764A38DC\u0022",
        "Last-Modified": "Wed, 14 Dec 2022 23:18:08 GMT",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-e45e7359-7127-8ba8-0c12-37f5ff086f95/test-blob-ec080b33-bd40-3a44-3159-827f1c21c452",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Wed, 14 Dec 2022 23:18:07 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DADE2976566764\u0022",
        "Last-Modified": "Wed, 14 Dec 2022 23:18:08 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2022-12-14T23:18:08.6745956Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-e45e7359-7127-8ba8-0c12-37f5ff086f95/test-blob-ec080b33-bd40-3a44-3159-827f1c21c452?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 14 Dec 2022 23:18:07 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": "1ToMDzV6W3zaKAL2wlXylZB6MTTxl9qleLairH96DDWvlrVXO\u002BiiRsU\u002Bw466CMiQE8o3\u002BXf\u002B8D1fZpZ\u002B1679YBvMRyygmlqo1\u002BpustRL6nDtEpm0QhK\u002BsKV499RSJG8WQWJy7sCc8HhwjyKMjz1pFHwlkMUVSB0JDpaGJ6OFVbN7V3Fx2PywUSIgQ7PvMiBoDuJYLZOqAPhFad8pFsjU6zpuEDfL9zt/dT\u002Bi9QRqGdt2HRnALCgg0Vd5LG8chjpZTFh5gCHonBan2LdUBwvz2k8Es/mvE74RTj7gUsvLY\u002B8ESair8Zm6jYACGVRwy8pLhVEgGNJBqjiaZzHiB0pL23XIT75iR\u002Bm2SSV4rPpqoYN0lcx5q0ocw55wEYpn14Y2tz3eqHwM6D1oas6tyf49MMaubnJ90TAqrIwf8jZfTnKfQvW9i/kGaKyPEUB8b/mgM\u002BDEuGkTuOUMtPzw7PYHCRtcDYcIf6XNqAbF7r/vrjySf75Vm5YJjIkPsNf8FXu2hwclIGFyl7M79xBiTcklHQW/Xmw3sW6FU4H9\u002BM7N0JKKD2a4yo7bH\u002BcLGaSGpj7A6pPRPbcOftaZoMzfdZ/kbSZ92D1ibVN34z6ELJjK/6xDPQ47/JLbfJGQHirB\u002B6pIJqt9CM0AXXxAWll4iVE\u002Bz6AgnDiQqXGUoVys0k8ptuc=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DADE297662E8AD\u0022",
        "Last-Modified": "Wed, 14 Dec 2022 23:18:08 GMT",
        "x-ms-blob-append-offset": "0",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-content-crc64": "jxjKTAb2qYI=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-e45e7359-7127-8ba8-0c12-37f5ff086f95/test-blob-ec080b33-bd40-3a44-3159-827f1c21c452",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 14 Dec 2022 23:18:07 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DADE297662E8AD\u0022",
        "Last-Modified": "Wed, 14 Dec 2022 23:18:08 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Wed, 14 Dec 2022 23:18:08 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2022-12-14T23:18:08.6745956Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-e45e7359-7127-8ba8-0c12-37f5ff086f95/test-blob-84a1c9e5-51b6-e611-5bba-2779b7c8017b",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://amandadev2.blob.core.windows.net/test-container-e45e7359-7127-8ba8-0c12-37f5ff086f95/test-blob-ec080b33-bd40-3a44-3159-827f1c21c452",
        "x-ms-date": "Wed, 14 Dec 2022 23:18:07 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\u00220x8DADE297677A622\u0022",
        "Last-Modified": "Wed, 14 Dec 2022 23:18:08 GMT",
        "x-ms-copy-id": "885e2e0d-def1-4739-8b94-341651f22cf5",
        "x-ms-copy-status": "success",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2022-12-14T23:18:08.8934704Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-e45e7359-7127-8ba8-0c12-37f5ff086f95/test-blob-84a1c9e5-51b6-e611-5bba-2779b7c8017b",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 14 Dec 2022 23:18:07 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DADE297677A622\u0022",
        "Last-Modified": "Wed, 14 Dec 2022 23:18:08 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-copy-completion-time": "Wed, 14 Dec 2022 23:18:08 GMT",
        "x-ms-copy-id": "885e2e0d-def1-4739-8b94-341651f22cf5",
        "x-ms-copy-progress": "512/512",
        "x-ms-copy-source": "https://amandadev2.blob.core.windows.net/test-container-e45e7359-7127-8ba8-0c12-37f5ff086f95/test-blob-ec080b33-bd40-3a44-3159-827f1c21c452",
        "x-ms-copy-status": "success",
        "x-ms-creation-time": "Wed, 14 Dec 2022 23:18:08 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2022-12-14T23:18:08.8934704Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-e45e7359-7127-8ba8-0c12-37f5ff086f95/test-blob-84a1c9e5-51b6-e611-5bba-2779b7c8017b",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 14 Dec 2022 23:18:07 GMT",
        "x-ms-range": "bytes=0-511",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-511/512",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DADE297677A622\u0022",
        "Last-Modified": "Wed, 14 Dec 2022 23:18:08 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-copy-completion-time": "Wed, 14 Dec 2022 23:18:08 GMT",
        "x-ms-copy-id": "885e2e0d-def1-4739-8b94-341651f22cf5",
        "x-ms-copy-progress": "512/512",
        "x-ms-copy-source": "https://amandadev2.blob.core.[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-e45e7359-7127-8ba8-0c12-37f5ff086f95?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 14 Dec 2022 23:18:07 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "867111549",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
