{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-14b71f94-f76b-c5c3-8063-a528691eef9e?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 14 Dec 2022 23:19:46 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DADE29B1C8D872\u0022",
        "Last-Modified": "Wed, 14 Dec 2022 23:19:48 GMT",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-14b71f94-f76b-c5c3-8063-a528691eef9e/test-blob-7c02def3-c87d-a8b3-21c0-9ae2a2572870",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Wed, 14 Dec 2022 23:19:47 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DADE29B1D53B58\u0022",
        "Last-Modified": "Wed, 14 Dec 2022 23:19:48 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2022-12-14T23:19:48.4913496Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-14b71f94-f76b-c5c3-8063-a528691eef9e/test-blob-7c02def3-c87d-a8b3-21c0-9ae2a2572870?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 14 Dec 2022 23:19:47 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": "nXH6ZXPz0IxGzcATd8N3y8v52BcgDqZuwgVgjCVlJvY7uJl2W7F7mbKQtFi9GoswYTFBTrSdJI7KjKNtk0Rm4KfK178pAG8afT9lj1pNsKh6MCr0I9dBnpQLrM8NDgZtKtOx80LMBmDBJ9B0OJU0fdv78mIZcbzPiDkrHlSgDG8592WGnL1lrinKM/wGzWb\u002B1i70EhujVLgW4WoJoegLIRthO0AvruAdlUQ5Tz7AyLvTLEclq/lTlqOsb7pSWw1BvhHhpZElzyhO1nzXaQR6VhivNnSg5XUhDaWdgj4myzo3\u002BJAs3yMprVwe19V8fCyeMhiioyWYoNicv5jsh0z[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-14b71f94-f76b-c5c3-8063-a528691eef9e/test-blob-7c02def3-c87d-a8b3-21c0-9ae2a2572870",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 14 Dec 2022 23:19:47 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DADE29B1E03641\u0022",
        "Last-Modified": "Wed, 14 Dec 2022 23:19:48 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Wed, 14 Dec 2022 23:19:48 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2022-12-14T23:19:48.4913496Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-14b71f94-f76b-c5c3-8063-a528691eef9e/test-blob-c39a3cc1-6d8d-e748-5078-65effa4dd238",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://amandadev2.blob.core.windows.net/test-container-14b71f94-f76b-c5c3-8063-a528691eef9e/test-blob-7c02def3-c87d-a8b3-21c0-9ae2a2572870",
        "x-ms-date": "Wed, 14 Dec 2022 23:19:47 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\u00220x8DADE29B2065648\u0022",
        "Last-Modified": "Wed, 14 Dec 2022 23:19:48 GMT",
        "x-ms-copy-id": "5df50bb6-730e-48ec-8457-9f211a5764ea",
        "x-ms-copy-status": "success",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2022-12-14T23:19:48.8131656Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-14b71f94-f76b-c5c3-8063-a528691eef9e/test-blob-c39a3cc1-6d8d-e748-5078-65effa4dd238",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 14 Dec 2022 23:19:47 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DADE29B2065648\u0022",
        "Last-Modified": "Wed, 14 Dec 2022 23:19:48 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-copy-completion-time": "Wed, 14 Dec 2022 23:19:48 GMT",
        "x-ms-copy-id": "5df50bb6-730e-48ec-8457-9f211a5764ea",
        "x-ms-copy-progress": "1024/1024",
        "x-ms-copy-source": "https://amandadev2.blob.core.windows.net/test-container-14b71f94-f76b-c5c3-8063-a528691eef9e/test-blob-7c02def3-c87d-a8b3-21c0-9ae2a2572870",
        "x-ms-copy-status": "success",
        "x-ms-creation-time": "Wed, 14 Dec 2022 23:19:48 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2022-12-14T23:19:48.8131656Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-14b71f94-f76b-c5c3-8063-a528691eef9e/test-blob-c39a3cc1-6d8d-e748-5078-65effa4dd238",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 14 Dec 2022 23:19:47 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DADE29B2065648\u0022",
        "Last-Modified": "Wed, 14 Dec 2022 23:19:48 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-copy-completion-time": "Wed, 14 Dec 2022 23:19:48 GMT",
        "x-ms-copy-id": "5df50bb6-730e-48ec-8457-9f211a5764ea",
        "x-ms-copy-progress": "1024/1024",
        "x-ms-copy-source": "https://amandadev2.blob.c[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-14b71f94-f76b-c5c3-8063-a528691eef9e?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 14 Dec 2022 23:19:47 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1878662125",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
