{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-c1a7c097-85d9-656c-c544-a7451967b75b?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 22 Apr 2023 06:57:56 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB42FEE6BFF985\u0022",
        "Last-Modified": "Sat, 22 Apr 2023 06:57:56 GMT",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-c1a7c097-85d9-656c-c544-a7451967b75b/test-blob-f6a61cb8-0632-4ae6-72b4-a58f75c579bd",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Sat, 22 Apr 2023 06:57:56 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB42FEE6C91FE0\u0022",
        "Last-Modified": "Sat, 22 Apr 2023 06:57:56 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2022-11-02",
        "x-ms-version-id": "2023-04-22T06:57:56.4124128Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-c1a7c097-85d9-656c-c544-a7451967b75b/test-blob-f6a61cb8-0632-4ae6-72b4-a58f75c579bd?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Sat, 22 Apr 2023 06:57:56 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": "hmlKuAPr3PRzec67kNy4hJJz5bWxGn93EQqGKuOVs/N3wbGlDtS7K7vGTPXNbSCcqu\u002B1vGCMDGzq06f5ZLIQ3cbaQ88qEnW9t7r66s6JqqPp6n/z4PaS6rVFujstwsYJtm4u8ipRcZd69wSlkiGdYCgDEHozHf3QR1kZ5Vg6j/X08TRfW7d5l3nneejx7FiUp1kSKrFL1phwXqrQN4s/P2gOsaHsPgVxiXgBS6MV3lsBhT7\u002BKGVDqBuc7v0NqGDtpzmA4ju2p2lUoaA5Sor0W4BPz7FNQRcCywmFUE8IY\u002BEYFKNqlPsfSt3VqYbFCl2Qp5N8vdmun2UifR[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-c1a7c097-85d9-656c-c544-a7451967b75b/test-blob-f6a61cb8-0632-4ae6-72b4-a58f75c579bd",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 22 Apr 2023 06:57:56 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DB42FEE6D35791\u0022",
        "Last-Modified": "Sat, 22 Apr 2023 06:57:56 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Sat, 22 Apr 2023 06:57:56 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2022-11-02",
        "x-ms-version-id": "2023-04-22T06:57:56.4124128Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-c1a7c097-85d9-656c-c544-a7451967b75b/test-blob-9ac36d36-3969-ac8c-fe13-3362bf8cfeab",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://amandadev2.blob.core.windows.net/test-container-c1a7c097-85d9-656c-c544-a7451967b75b/test-blob-f6a61cb8-0632-4ae6-72b4-a58f75c579bd",
        "x-ms-date": "Sat, 22 Apr 2023 06:57:56 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB42FEE6E6DCBC\u0022",
        "Last-Modified": "Sat, 22 Apr 2023 06:57:56 GMT",
        "x-ms-copy-id": "6f28e5ad-7a28-446e-b25a-39c21a5772a4",
        "x-ms-copy-status": "success",
        "x-ms-version": "2022-11-02",
        "x-ms-version-id": "2023-04-22T06:57:56.6073020Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-c1a7c097-85d9-656c-c544-a7451967b75b/test-blob-9ac36d36-3969-ac8c-fe13-3362bf8cfeab",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 22 Apr 2023 06:57:56 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DB42FEE6E6DCBC\u0022",
        "Last-Modified": "Sat, 22 Apr 2023 06:57:56 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-copy-completion-time": "Sat, 22 Apr 2023 06:57:56 GMT",
        "x-ms-copy-id": "6f28e5ad-7a28-446e-b25a-39c21a5772a4",
        "x-ms-copy-progress": "1024/1024",
        "x-ms-copy-source": "https://amandadev2.blob.core.windows.net/test-container-c1a7c097-85d9-656c-c544-a7451967b75b/test-blob-f6a61cb8-0632-4ae6-72b4-a58f75c579bd",
        "x-ms-copy-status": "success",
        "x-ms-creation-time": "Sat, 22 Apr 2023 06:57:56 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2022-11-02",
        "x-ms-version-id": "2023-04-22T06:57:56.6073020Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-c1a7c097-85d9-656c-c544-a7451967b75b/test-blob-9ac36d36-3969-ac8c-fe13-3362bf8cfeab",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 22 Apr 2023 06:57:56 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DB42FEE6E6DCBC\u0022",
        "Last-Modified": "Sat, 22 Apr 2023 06:57:56 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-copy-completion-time": "Sat, 22 Apr 2023 06:57:56 GMT",
        "x-ms-copy-id": "6f28e5ad-7a28-446e-b25a-39c21a5772a4",
        "x-ms-copy-progress": "1024/1024",
        "x-ms-copy-source": "https://amandadev2.blob.c[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-c1a7c097-85d9-656c-c544-a7451967b75b?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 22 Apr 2023 06:57:56 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "812797442",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
