{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-4fdcb3f6-6ba2-04d4-7588-75ab4b0f4ba9?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Sat, 22 Apr 2023 06:58:05 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB42FEEC47F140\u0022",
        "Last-Modified": "Sat, 22 Apr 2023 06:58:05 GMT",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-4fdcb3f6-6ba2-04d4-7588-75ab4b0f4ba9/test-blob-067d9168-3a01-067a-9ee0-7b2ecc432d6d",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Sat, 22 Apr 2023 06:58:05 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": "dKtPC9hUMBXAE5Rvu9Je\u002Bh\u002BePpyj4tGp8LyLHJUGtuN0/Vk00bZmiGUhHAeIzbCrhrzavBfhNJLaphscyBSAuV2w\u002Br15KiloN7U3gcbKICIL35XYK/nMk8nHWSqbSsBQoWKq2NLzMlyTcoVhqbLMEIX4EOh\u002BqI5j42fzstD\u002BzO315uBjH0dPGK05RLh0a\u002BkX\u002B0mlojnX0vjURvRr/4CMlaWXbMPSaPA9qPg7RWPV7nh93LeGWSqzHRTnjthT5Bgsra8T3P8mRZJZZ/lBnIyV/1h77SPJBTx75E6u6tkX6sTfDpe0whF5V5ckLfEwcYGHUo\u002BA[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-4fdcb3f6-6ba2-04d4-7588-75ab4b0f4ba9/test-blob-067d9168-3a01-067a-9ee0-7b2ecc432d6d",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 22 Apr 2023 06:58:05 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "BOZkW60gdlSBdrLL4zGXoQ==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DB42FEEC5165BD\u0022",
        "Last-Modified": "Sat, 22 Apr 2023 06:58:05 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Sat, 22 Apr 2023 06:58:05 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2022-11-02",
        "x-ms-version-id": "2023-04-22T06:58:05.6940989Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-4fdcb3f6-6ba2-04d4-7588-75ab4b0f4ba9/test-blob-0b6cd5e0-b64d-d771-e601-78219ad96b27",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-copy-source": "https://amandadev2.blob.core.windows.net/test-container-4fdcb3f6-6ba2-04d4-7588-75ab4b0f4ba9/test-blob-067d9168-3a01-067a-9ee0-7b2ecc432d6d",
        "x-ms-date": "Sat, 22 Apr 2023 06:58:06 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB42FEEC72A47A\u0022",
        "Last-Modified": "Sat, 22 Apr 2023 06:58:05 GMT",
        "x-ms-copy-id": "ddbeed43-8fc9-4319-90b0-45ae9bed2285",
        "x-ms-copy-status": "success",
        "x-ms-version": "2022-11-02",
        "x-ms-version-id": "2023-04-22T06:58:05.9119738Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-4fdcb3f6-6ba2-04d4-7588-75ab4b0f4ba9/test-blob-0b6cd5e0-b64d-d771-e601-78219ad96b27",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 22 Apr 2023 06:58:06 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "BOZkW60gdlSBdrLL4zGXoQ==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DB42FEEC72A47A\u0022",
        "Last-Modified": "Sat, 22 Apr 2023 06:58:05 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-completion-time": "Sat, 22 Apr 2023 06:58:05 GMT",
        "x-ms-copy-id": "ddbeed43-8fc9-4319-90b0-45ae9bed2285",
        "x-ms-copy-progress": "1024/1024",
        "x-ms-copy-source": "https://amandadev2.blob.core.windows.net/test-container-4fdcb3f6-6ba2-04d4-7588-75ab4b0f4ba9/test-blob-067d9168-3a01-067a-9ee0-7b2ecc432d6d",
        "x-ms-copy-status": "success",
        "x-ms-creation-time": "Sat, 22 Apr 2023 06:58:05 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2022-11-02",
        "x-ms-version-id": "2023-04-22T06:58:05.9119738Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-4fdcb3f6-6ba2-04d4-7588-75ab4b0f4ba9/test-blob-0b6cd5e0-b64d-d771-e601-78219ad96b27",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 22 Apr 2023 06:58:06 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DB42FEEC72A47A\u0022",
        "Last-Modified": "Sat, 22 Apr 2023 06:58:05 GMT",
        "x-ms-blob-content-md5": "BOZkW60gdlSBdrLL4zGXoQ==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-completion-time": "Sat, 22 Apr 2023 06:58:05 GMT",
        "x-ms-copy-id": "ddbeed43-8fc9-4319-90b0-45ae9bed2285",
        "x-ms-copy-progress": "1024/1024",
        "x-ms-copy-source": "https://amandadev2.blob.core.windows.net/test-container-4fdcb3f6-6ba2-04d4-7588-75ab4b0f4ba9/test-blob-067d9168-3a01-067a-9ee0-7b2ecc432d6d",
        "x-ms-copy-status": "success",
        "x-ms-creation-time": "Sat, 22 Apr 20[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-4fdcb3f6-6ba2-04d4-7588-75ab4b0f4ba9?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 22 Apr 2023 06:58:06 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "771489358",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
