{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-1b117e7d-8d33-bc55-2e35-cf4aebc68b87?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 14 Dec 2022 22:29:47 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DADE22B5F27CFE\u0022",
        "Last-Modified": "Wed, 14 Dec 2022 22:29:48 GMT",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-1b117e7d-8d33-bc55-2e35-cf4aebc68b87/test-blob-a029f04c-3a7b-b387-8372-41b7c04bffd4",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 14 Dec 2022 22:29:47 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": "zRGzCAds9CSZ/VsMbezt0vT8sG98xTcwmOER1Ig2EzSzvLXYvQkHUy95S\u002BCIQPI0Use12HNBZQjagm8lWiCbY\u002BkmWbE2FRXr9Fw/A3pXp1jv3YHAgTvAcVat/jqZ4vkP3ej2YuZB/T2yyuQXAmGOgtsXNnye2uGuZedaiRbaUhJjMCWRYEVxreBEDrdWqW/0H3tfgat8cAMGSPz/53Qm2HfRs9E8/CGVpoicWswqV7t4ZWqaetBm5r8hixhJcsZsHTU/hPaduCJaytsi4BU32/BBhoEJi12na80SGnEJTDTCLz2W69LF2q1HQLD1RAWp6q8oB\u002BtFYpHYlxkpi52xUX2nYLDYo[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-1b117e7d-8d33-bc55-2e35-cf4aebc68b87/test-blob-a029f04c-3a7b-b387-8372-41b7c04bffd4",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 14 Dec 2022 22:29:47 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "sPC3vcVn92H8O3HqFtqYvg==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DADE22B5FF3968\u0022",
        "Last-Modified": "Wed, 14 Dec 2022 22:29:49 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 14 Dec 2022 22:29:49 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2022-12-14T22:29:49.0003304Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-1b117e7d-8d33-bc55-2e35-cf4aebc68b87/test-blob-40341d53-5f13-c7e7-1ad0-b9a43d7b5cb9",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://amandadev2.blob.core.windows.net/test-container-1b117e7d-8d33-bc55-2e35-cf4aebc68b87/test-blob-a029f04c-3a7b-b387-8372-41b7c04bffd4",
        "x-ms-date": "Wed, 14 Dec 2022 22:29:47 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\u00220x8DADE22B613F6E4\u0022",
        "Last-Modified": "Wed, 14 Dec 2022 22:29:49 GMT",
        "x-ms-copy-id": "989baa6f-285e-4417-ab22-eeb5989b72cf",
        "x-ms-copy-status": "success",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2022-12-14T22:29:49.1362532Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-1b117e7d-8d33-bc55-2e35-cf4aebc68b87/test-blob-40341d53-5f13-c7e7-1ad0-b9a43d7b5cb9",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 14 Dec 2022 22:29:47 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "sPC3vcVn92H8O3HqFtqYvg==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DADE22B613F6E4\u0022",
        "Last-Modified": "Wed, 14 Dec 2022 22:29:49 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-completion-time": "Wed, 14 Dec 2022 22:29:49 GMT",
        "x-ms-copy-id": "989baa6f-285e-4417-ab22-eeb5989b72cf",
        "x-ms-copy-progress": "2048/2048",
        "x-ms-copy-source": "https://amandadev2.blob.core.windows.net/test-container-1b117e7d-8d33-bc55-2e35-cf4aebc68b87/test-blob-a029f04c-3a7b-b387-8372-41b7c04bffd4",
        "x-ms-copy-status": "success",
        "x-ms-creation-time": "Wed, 14 Dec 2022 22:29:49 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2022-12-14T22:29:49.1362532Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-1b117e7d-8d33-bc55-2e35-cf4aebc68b87/test-blob-40341d53-5f13-c7e7-1ad0-b9a43d7b5cb9",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 14 Dec 2022 22:29:47 GMT",
        "x-ms-range": "bytes=0-2047",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-2047/2048",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DADE22B613F6E4\u0022",
        "Last-Modified": "Wed, 14 Dec 2022 22:29:49 GMT",
        "x-ms-blob-content-md5": "sPC3vcVn92H8O3HqFtqYvg==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-completion-time": "Wed, 14 Dec 2022 22:29:49 GMT",
        "x-ms-copy-id": "989baa6f-285e-4417-ab22-eeb5989b72cf",
        "x-ms-copy-progress": "2048/2048",
        "x-ms-copy-source": "https://amandadev2.blob.core.windows.net/test-container-1b117e7d-8d33-bc55-2e35-cf4aebc68b87/test-blob-a029f04c-3a7b-b387-8372-41b7c04bffd4",
        "x-ms-copy-status": "success",
        "x-ms-creation-time": "Wed, 14 Dec 20[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-1b117e7d-8d33-bc55-2e35-cf4aebc68b87?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 14 Dec 2022 22:29:47 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1748508666",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
