{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-a96f18e9-493b-7209-478b-7993f44bdff6?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 14 Dec 2022 22:29:33 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DADE22ADC7B1E1\u0022",
        "Last-Modified": "Wed, 14 Dec 2022 22:29:35 GMT",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-a96f18e9-493b-7209-478b-7993f44bdff6/test-blob-093c6765-6d27-5455-69b8-61bdd39d13ae",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 14 Dec 2022 22:29:33 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": "UxCAIpMrc5qJpWW/qBj17/4rDCMMrqfgQiPqSR7qjsvGJAnuBgy6WANXwE7WIcxdng7jJxUHvaRpn99wQCl8nxaZ\u002BIMOBujxcbQftO5YCiFXjasPBma2v2dkhWcsSRfZ2yA3PClJTpcm8rVg5wm1EJW\u002BGbN\u002BbJiw4zgcqYGBxCecRtnOIc74Dj4T6ROwVdddr3XRbjBkWm6Ih1jwLKQWpC2OxKEw5\u002B/Gxgp0aoOF/45hvvoLr1b2OOtqRZl1B\u002BGZ/UTmIpA1LciGC6gm7/DrA4jKjm6qCvXXl4y2xaFVUL4p220/ntz9K5AyhaSt0Ej6fkIRq3ly7/JPDooEfmc[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-a96f18e9-493b-7209-478b-7993f44bdff6/test-blob-093c6765-6d27-5455-69b8-61bdd39d13ae",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 14 Dec 2022 22:29:33 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "U0BL7wCBNimeatrOpsnBQA==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DADE22ADD275D9\u0022",
        "Last-Modified": "Wed, 14 Dec 2022 22:29:35 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 14 Dec 2022 22:29:35 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2022-12-14T22:29:35.2851929Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-a96f18e9-493b-7209-478b-7993f44bdff6/test-blob-ceaa5515-915a-0e69-50e7-5cb4c4804e22",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://amandadev2.blob.core.windows.net/test-container-a96f18e9-493b-7209-478b-7993f44bdff6/test-blob-093c6765-6d27-5455-69b8-61bdd39d13ae",
        "x-ms-date": "Wed, 14 Dec 2022 22:29:33 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\u00220x8DADE22ADF0CED4\u0022",
        "Last-Modified": "Wed, 14 Dec 2022 22:29:35 GMT",
        "x-ms-copy-id": "55f02c28-eff4-423b-b917-12d6aaac95ac",
        "x-ms-copy-status": "success",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2022-12-14T22:29:35.4840788Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-a96f18e9-493b-7209-478b-7993f44bdff6/test-blob-ceaa5515-915a-0e69-50e7-5cb4c4804e22",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 14 Dec 2022 22:29:34 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "U0BL7wCBNimeatrOpsnBQA==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DADE22ADF0CED4\u0022",
        "Last-Modified": "Wed, 14 Dec 2022 22:29:35 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-completion-time": "Wed, 14 Dec 2022 22:29:35 GMT",
        "x-ms-copy-id": "55f02c28-eff4-423b-b917-12d6aaac95ac",
        "x-ms-copy-progress": "1024/1024",
        "x-ms-copy-source": "https://amandadev2.blob.core.windows.net/test-container-a96f18e9-493b-7209-478b-7993f44bdff6/test-blob-093c6765-6d27-5455-69b8-61bdd39d13ae",
        "x-ms-copy-status": "success",
        "x-ms-creation-time": "Wed, 14 Dec 2022 22:29:35 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2022-12-14T22:29:35.4840788Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-a96f18e9-493b-7209-478b-7993f44bdff6/test-blob-ceaa5515-915a-0e69-50e7-5cb4c4804e22",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 14 Dec 2022 22:29:34 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DADE22ADF0CED4\u0022",
        "Last-Modified": "Wed, 14 Dec 2022 22:29:35 GMT",
        "x-ms-blob-content-md5": "U0BL7wCBNimeatrOpsnBQA==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-completion-time": "Wed, 14 Dec 2022 22:29:35 GMT",
        "x-ms-copy-id": "55f02c28-eff4-423b-b917-12d6aaac95ac",
        "x-ms-copy-progress": "1024/1024",
        "x-ms-copy-source": "https://amandadev2.blob.core.windows.net/test-container-a96f18e9-493b-7209-478b-7993f44bdff6/test-blob-093c6765-6d27-5455-69b8-61bdd39d13ae",
        "x-ms-copy-status": "success",
        "x-ms-creation-time": "Wed, 14 Dec 20[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-a96f18e9-493b-7209-478b-7993f44bdff6?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 14 Dec 2022 22:29:34 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "330800752",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
