{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-9b33c7f9-2a2f-7c6c-602f-9568453c2c2b?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 14 Dec 2022 22:29:50 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DADE22B7F26F76\u0022",
        "Last-Modified": "Wed, 14 Dec 2022 22:29:52 GMT",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-9b33c7f9-2a2f-7c6c-602f-9568453c2c2b/test-blob-27aaf048-bc53-f7e3-beab-17904fad536a",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 14 Dec 2022 22:29:50 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": "n4ueoI0IS615tRJsYjvez67GdjlLabYNwbdlNDp/iYgcNS0eFlCFQKT8rZ6qd5WCzEjiiTcaHjbUkd7Wohdz\u002BSuJTywOwLhdQTaUT7sYY0oh42jxnQBRAhf3SYVxrp2NibRyICdpdAuQhEcBhc97uy2TtL\u002BvgVwrOE0UFncz65KYBsUHpkIjuG5cYRi4UHxIfI5X3vre3gdXRujaVF2UXJi1aH8JcxTrcPxQUiBDc\u002BfRzJro2w2Yuii\u002Br19ZSWQQyASAA\u002Bf9Pgh5a23\u002BjYvmE9MBCIfDq4CKHa5WS8S0kieXP4ocw3AA1I6Sb3CgmSyc15yMWEDcTRyD9e[...]
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-9b33c7f9-2a2f-7c6c-602f-9568453c2c2b/test-blob-215f4ee0-42a7-4d91-a202-b4b35f8e173a",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 14 Dec 2022 22:29:51 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "UbXDMGk4nov3zeD9FK/yfg==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DADE22B809B0D9\u0022",
        "Last-Modified": "Wed, 14 Dec 2022 22:29:52 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 14 Dec 2022 22:29:52 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2022-12-14T22:29:52.4243673Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-9b33c7f9-2a2f-7c6c-602f-9568453c2c2b/test-blob-27aaf048-bc53-f7e3-beab-17904fad536a",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://amandadev2.blob.core.windows.net/test-container-9b33c7f9-2a2f-7c6c-602f-9568453c2c2b/test-blob-215f4ee0-42a7-4d91-a202-b4b35f8e173a",
        "x-ms-date": "Wed, 14 Dec 2022 22:29:51 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\u00220x8DADE22B826D186\u0022",
        "Last-Modified": "Wed, 14 Dec 2022 22:29:52 GMT",
        "x-ms-copy-id": "222aad93-b0ea-400a-b40f-c57fd783cf24",
        "x-ms-copy-status": "success",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2022-12-14T22:29:52.6162582Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-9b33c7f9-2a2f-7c6c-602f-9568453c2c2b/test-blob-27aaf048-bc53-f7e3-beab-17904fad536a",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 14 Dec 2022 22:29:51 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "UbXDMGk4nov3zeD9FK/yfg==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DADE22B826D186\u0022",
        "Last-Modified": "Wed, 14 Dec 2022 22:29:52 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-completion-time": "Wed, 14 Dec 2022 22:29:52 GMT",
        "x-ms-copy-id": "222aad93-b0ea-400a-b40f-c57fd783cf24",
        "x-ms-copy-progress": "1024/1024",
        "x-ms-copy-source": "https://amandadev2.blob.core.windows.net/test-container-9b33c7f9-2a2f-7c6c-602f-9568453c2c2b/test-blob-215f4ee0-42a7-4d91-a202-b4b35f8e173a",
        "x-ms-copy-status": "success",
        "x-ms-creation-time": "Wed, 14 Dec 2022 22:29:52 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2022-12-14T22:29:52.6162582Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-9b33c7f9-2a2f-7c6c-602f-9568453c2c2b/test-blob-27aaf048-bc53-f7e3-beab-17904fad536a",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 14 Dec 2022 22:29:51 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DADE22B826D186\u0022",
        "Last-Modified": "Wed, 14 Dec 2022 22:29:52 GMT",
        "x-ms-blob-content-md5": "UbXDMGk4nov3zeD9FK/yfg==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-completion-time": "Wed, 14 Dec 2022 22:29:52 GMT",
        "x-ms-copy-id": "222aad93-b0ea-400a-b40f-c57fd783cf24",
        "x-ms-copy-progress": "1024/1024",
        "x-ms-copy-source": "https://amandadev2.blob.core.windows.net/test-container-9b33c7f9-2a2f-7c6c-602f-9568453c2c2b/test-blob-215f4ee0-42a7-4d91-a202-b4b35f8e173a",
        "x-ms-copy-status": "success",
        "x-ms-creation-time": "Wed, 14 Dec 20[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-9b33c7f9-2a2f-7c6c-602f-9568453c2c2b?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 14 Dec 2022 22:29:51 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1809833416",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
