{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-e93d5d40-2597-5aab-6cd5-f3dc749b172f?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 14 Dec 2022 22:29:41 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DADE22B26F7E36\u0022",
        "Last-Modified": "Wed, 14 Dec 2022 22:29:43 GMT",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-e93d5d40-2597-5aab-6cd5-f3dc749b172f/test-blob-770c9a0a-14fe-cd2d-c95b-1e4440c598cf",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 14 Dec 2022 22:29:41 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": "CUNvy6vAnubu2HOA6vGWpvB42yeRVLFYeyGNNSk67bYzuZkHtJfASvsliSagrOPYxHhTyOlxPrSSFk\u002BJMmi9s\u002Bq9TTBXj/FYuJEra8uKt84\u002BtXGw5yXNwXvkdZ5INheTaNU841\u002BygDWH\u002Bw9XRtLpB1\u002BAS333DMzE74u1chlTEIJ6lwP1TtRvjDU7KewWdXuo\u002B24/x\u002BuanFsJd/PT/Q0bNOqN3K7P9LiKEb5Hu\u002BPgrnkQDHerFEmW4Pun69fgm48nH/UBiJnM2Aa1tLYsUuB3Kch5w/CVcCCh9vyyJwjhqnUvIJzu3ibgQzNx9V\u002[...]
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-e93d5d40-2597-5aab-6cd5-f3dc749b172f/test-blob-98b98b92-40b1-c352-52ab-2254823be207",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 14 Dec 2022 22:29:42 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "vCb10lp4IZ0jsv\u002BlEt9amw==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DADE22B2B5E10F\u0022",
        "Last-Modified": "Wed, 14 Dec 2022 22:29:43 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 14 Dec 2022 22:29:43 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2022-12-14T22:29:43.4864911Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-e93d5d40-2597-5aab-6cd5-f3dc749b172f/test-blob-770c9a0a-14fe-cd2d-c95b-1e4440c598cf",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-copy-source": "https://amandadev2.blob.core.windows.net/test-container-e93d5d40-2597-5aab-6cd5-f3dc749b172f/test-blob-98b98b92-40b1-c352-52ab-2254823be207",
        "x-ms-date": "Wed, 14 Dec 2022 22:29:42 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "BlobAlreadyExists",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003EBlobAlreadyExists\u003C/Code\u003E\u003CMessage\u003EThe specified blob already exists.\n",
        "RequestId:3a83f44a-701e-0025-7c0b-10dc9d000000\n",
        "Time:2022-12-14T22:29:43.6318634Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-e93d5d40-2597-5aab-6cd5-f3dc749b172f/test-blob-770c9a0a-14fe-cd2d-c95b-1e4440c598cf",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 14 Dec 2022 22:29:42 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DADE22B27A8E76\u0022",
        "Last-Modified": "Wed, 14 Dec 2022 22:29:43 GMT",
        "x-ms-blob-content-md5": "xpG6qvU1YxpK8Hw2aZ6/Fg==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 14 Dec 2022 22:29:43 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2022-12-14T22:29:43.0977142Z"
      },
      "ResponseBody": "CUNvy6vAnubu2HOA6vGWpvB42yeRVLFYeyGNNSk67bYzuZkHtJfASvsliSagrOPYxHhTyOlxPrS[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-e93d5d40-2597-5aab-6cd5-f3dc749b172f?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 14 Dec 2022 22:29:42 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1423777185",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
