{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-ae07a898-257c-167f-3cd4-75966ba5e2cd?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Sat, 22 Apr 2023 06:58:40 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB42FF011DCD5F\u0022",
        "Last-Modified": "Sat, 22 Apr 2023 06:58:40 GMT",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-ae07a898-257c-167f-3cd4-75966ba5e2cd/test-blob-ee7d2cc6-0462-876a-4b52-4809a9ba6a03",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Sat, 22 Apr 2023 06:58:40 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": "BgVaE1\u002BsN6cnMkMfTZ/c11ThhubiAN/dX/A0aAaAsI4tl54X8cXX7rxpNeYktV7rsTs4gumc5AUlfLNud8\u002BgpoG18bYBxOaOCpcqeMv5uaqSSbfKRy6lkbKY8XQRaHbsyY5kb8Sn6exVqXdRcmw6LMMJ3C4Y1V5TD2ADaNNxfaIgPa48lErm6l/KdZ22Ux9GXsSxCIxI1PMvEF9jpIAY4yzVMDS9/Zd4IvHOTWDAnLtAvQoOv3QW2Gm7DYTqgkbesZFw4CLqiGAtOOWaeoaTbnOjI\u002BZ2CiO4v1jLAvATjqCr75zOULyZVTSq4YaPe17iJ54QR19faKdtuCDKH4ZwGapF74rqx[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-ae07a898-257c-167f-3cd4-75966ba5e2cd/test-blob-ee7d2cc6-0462-876a-4b52-4809a9ba6a03",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 22 Apr 2023 06:58:40 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "C1J1/Dq\u002B3KLONsW88fCRfQ==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DB42FF01278FFB\u0022",
        "Last-Modified": "Sat, 22 Apr 2023 06:58:40 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Sat, 22 Apr 2023 06:58:40 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2022-11-02",
        "x-ms-version-id": "2023-04-22T06:58:40.6520827Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-ae07a898-257c-167f-3cd4-75966ba5e2cd/test-blob-cf5684ab-a0c1-e7ff-cc58-591be5617edc",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-copy-source": "https://amandadev2.blob.core.windows.net/test-container-ae07a898-257c-167f-3cd4-75966ba5e2cd/test-blob-ee7d2cc6-0462-876a-4b52-4809a9ba6a03",
        "x-ms-date": "Sat, 22 Apr 2023 06:58:41 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB42FF017249A1\u0022",
        "Last-Modified": "Sat, 22 Apr 2023 06:58:41 GMT",
        "x-ms-copy-id": "bf850c5a-1215-46ed-88af-26dd08909a44",
        "x-ms-copy-status": "success",
        "x-ms-version": "2022-11-02",
        "x-ms-version-id": "2023-04-22T06:58:41.1428015Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-ae07a898-257c-167f-3cd4-75966ba5e2cd/test-blob-cf5684ab-a0c1-e7ff-cc58-591be5617edc",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 22 Apr 2023 06:58:41 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "C1J1/Dq\u002B3KLONsW88fCRfQ==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DB42FF017249A1\u0022",
        "Last-Modified": "Sat, 22 Apr 2023 06:58:41 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-completion-time": "Sat, 22 Apr 2023 06:58:41 GMT",
        "x-ms-copy-id": "bf850c5a-1215-46ed-88af-26dd08909a44",
        "x-ms-copy-progress": "1024/1024",
        "x-ms-copy-source": "https://amandadev2.blob.core.windows.net/test-container-ae07a898-257c-167f-3cd4-75966ba5e2cd/test-blob-ee7d2cc6-0462-876a-4b52-4809a9ba6a03",
        "x-ms-copy-status": "success",
        "x-ms-creation-time": "Sat, 22 Apr 2023 06:58:41 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2022-11-02",
        "x-ms-version-id": "2023-04-22T06:58:41.1428015Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-ae07a898-257c-167f-3cd4-75966ba5e2cd/test-blob-cf5684ab-a0c1-e7ff-cc58-591be5617edc",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 22 Apr 2023 06:58:41 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DB42FF017249A1\u0022",
        "Last-Modified": "Sat, 22 Apr 2023 06:58:41 GMT",
        "x-ms-blob-content-md5": "C1J1/Dq\u002B3KLONsW88fCRfQ==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-completion-time": "Sat, 22 Apr 2023 06:58:41 GMT",
        "x-ms-copy-id": "bf850c5a-1215-46ed-88af-26dd08909a44",
        "x-ms-copy-progress": "1024/1024",
        "x-ms-copy-source": "https://amandadev2.blob.core.windows.net/test-container-ae07a898-257c-167f-3cd4-75966ba5e2cd/test-blob-ee7d2cc6-0462-876a-4b52-4809a9ba6a03",
        "x-ms-copy-status": "success",
        "x-ms-creation-time": "Sat, 22 A[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-ae07a898-257c-167f-3cd4-75966ba5e2cd?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 22 Apr 2023 06:58:41 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "16332528",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
