{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-94aef249-e453-f3e5-068c-49108b667cb5?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 14 Dec 2022 22:29:42 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DADE22B30B596B\u0022",
        "Last-Modified": "Wed, 14 Dec 2022 22:29:44 GMT",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-94aef249-e453-f3e5-068c-49108b667cb5/test-blob-97b5d480-d264-5a34-9e5e-1a6a4f5db5ee",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 14 Dec 2022 22:29:42 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": "wjhfRjETerp9NELjY/AUIwE7uWbKAGBSzc72jflNa\u002BUww9/fZbWGSROl4nnwTV9DE3LdbeBrVsHYDXliHO3BMMldsp8RNL1MtG9SJR3nYoBvs3mGb/4ExG0dB1g7Iywl5LKwk5rAMt\u002B0kbhwGDGk8Kr482l0OsDLWO4y8yxlEJFDLUFqN8/mroCZ0t5FlKs7eRatQi/Csany5Dqsjj\u002ByT4AnLevwObnbEkXp2mjhhcRC9noVuM1hgHuXeFKUOSBB5oNeHmbASz9d0S/q2ddBEF92apfFnJayxq1wWcFnR9kkqPPlg2Zdgao6uOaedqekVWfyHc\u002BIfErsq1i5T/J\u002[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-94aef249-e453-f3e5-068c-49108b667cb5/test-blob-97b5d480-d264-5a34-9e5e-1a6a4f5db5ee",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 14 Dec 2022 22:29:42 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "rhvKNI\u002B4FSpXchq/alRVkA==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DADE22B3172CB6\u0022",
        "Last-Modified": "Wed, 14 Dec 2022 22:29:44 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 14 Dec 2022 22:29:44 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2022-12-14T22:29:44.1241270Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-94aef249-e453-f3e5-068c-49108b667cb5/test-blob-4aa04d06-c69b-5194-cd8c-a37f8bc1d2a1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://amandadev2.blob.core.windows.net/test-container-94aef249-e453-f3e5-068c-49108b667cb5/test-blob-97b5d480-d264-5a34-9e5e-1a6a4f5db5ee",
        "x-ms-date": "Wed, 14 Dec 2022 22:29:42 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\u00220x8DADE22B32D978D\u0022",
        "Last-Modified": "Wed, 14 Dec 2022 22:29:44 GMT",
        "x-ms-copy-id": "0008ffdf-a99c-471f-a2a1-a3b82a22db90",
        "x-ms-copy-status": "success",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2022-12-14T22:29:44.2710413Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-94aef249-e453-f3e5-068c-49108b667cb5/test-blob-4aa04d06-c69b-5194-cd8c-a37f8bc1d2a1",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 14 Dec 2022 22:29:42 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "rhvKNI\u002B4FSpXchq/alRVkA==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DADE22B32D978D\u0022",
        "Last-Modified": "Wed, 14 Dec 2022 22:29:44 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-completion-time": "Wed, 14 Dec 2022 22:29:44 GMT",
        "x-ms-copy-id": "0008ffdf-a99c-471f-a2a1-a3b82a22db90",
        "x-ms-copy-progress": "1024/1024",
        "x-ms-copy-source": "https://amandadev2.blob.core.windows.net/test-container-94aef249-e453-f3e5-068c-49108b667cb5/test-blob-97b5d480-d264-5a34-9e5e-1a6a4f5db5ee",
        "x-ms-copy-status": "success",
        "x-ms-creation-time": "Wed, 14 Dec 2022 22:29:44 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2022-12-14T22:29:44.2710413Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-94aef249-e453-f3e5-068c-49108b667cb5/test-blob-4aa04d06-c69b-5194-cd8c-a37f8bc1d2a1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 14 Dec 2022 22:29:43 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DADE22B32D978D\u0022",
        "Last-Modified": "Wed, 14 Dec 2022 22:29:44 GMT",
        "x-ms-blob-content-md5": "rhvKNI\u002B4FSpXchq/alRVkA==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-completion-time": "Wed, 14 Dec 2022 22:29:44 GMT",
        "x-ms-copy-id": "0008ffdf-a99c-471f-a2a1-a3b82a22db90",
        "x-ms-copy-progress": "1024/1024",
        "x-ms-copy-source": "https://amandadev2.blob.core.windows.net/test-container-94aef249-e453-f3e5-068c-49108b667cb5/test-blob-97b5d480-d264-5a34-9e5e-1a6a4f5db5ee",
        "x-ms-copy-status": "success",
        "x-ms-creation-time": "Wed, 14 D[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-94aef249-e453-f3e5-068c-49108b667cb5?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 14 Dec 2022 22:29:43 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "697818689",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
