{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-0cc42734-0a2f-1d29-652a-a013ffab1107?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 22 Apr 2023 06:58:43 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB42FF02D37AA0\u0022",
        "Last-Modified": "Sat, 22 Apr 2023 06:58:43 GMT",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-0cc42734-0a2f-1d29-652a-a013ffab1107/test-blob-eeabb345-e06e-edf0-97d8-31be5b7b7cfe",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Sat, 22 Apr 2023 06:58:43 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": "XFwptYVTZkv41BmU21ZCXvahae263tUIWTcnx/ofEheBbNxMU8WH8kxf9prHXBJBltPHuRKPRH6HIFtOK59R2cEBE2559QoxGXegW\u002Bg7Qf0l5TAnV1gF8ShdxTJpOcatDhzYxUmjx6DIlaCb7uiWS99eKUZuKYFo/CFGGzDXyOCw80zLYnuzgR2QX8G4agM/x3lTChB/PuWbcMkoXaxw8M2/6vqcyuljqqgo3sq/r5EdBlO2hL3PMLRnL/GyiyNxH270\u002BX8Jo/yP72BoV2Aa3MA3ClZYuWwQ77lFNJv4sR6Et75cy7YRFGNWJpRdZ9lUTFMweoHNGWUB5AnGw25hlz1B45\u002Biv[...]
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-0cc42734-0a2f-1d29-652a-a013ffab1107/test-blob-55a1f0de-b94c-b120-d130-3e4c840d6d1c",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 22 Apr 2023 06:58:43 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "9ph8ecrzE8lIxF/WnQBiIg==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DB42FF02E88620\u0022",
        "Last-Modified": "Sat, 22 Apr 2023 06:58:43 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Sat, 22 Apr 2023 06:58:43 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2022-11-02",
        "x-ms-version-id": "2023-04-22T06:58:43.5953969Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-0cc42734-0a2f-1d29-652a-a013ffab1107/test-blob-eeabb345-e06e-edf0-97d8-31be5b7b7cfe",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-copy-source": "https://amandadev2.blob.core.windows.net/test-container-0cc42734-0a2f-1d29-652a-a013ffab1107/test-blob-55a1f0de-b94c-b120-d130-3e4c840d6d1c",
        "x-ms-date": "Sat, 22 Apr 2023 06:58:43 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "BlobAlreadyExists",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003EBlobAlreadyExists\u003C/Code\u003E\u003CMessage\u003EThe specified blob already exists.\n",
        "RequestId:be138a88-801e-001e-52e7-749939000000\n",
        "Time:2023-04-22T06:58:43.7193256Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-0cc42734-0a2f-1d29-652a-a013ffab1107/test-blob-eeabb345-e06e-edf0-97d8-31be5b7b7cfe",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 22 Apr 2023 06:58:43 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DB42FF02DFADD2\u0022",
        "Last-Modified": "Sat, 22 Apr 2023 06:58:43 GMT",
        "x-ms-blob-content-md5": "1yLALPCAb7Uo2ukR/EdCjA==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Sat, 22 Apr 2023 06:58:43 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2022-11-02",
        "x-ms-version-id": "2023-04-22T06:58:43.5364306Z"
      },
      "ResponseBody": "XFwptYVTZkv41BmU21ZCXvahae263tUIWTcnx/ofEheBbNxMU8WH8kxf9prHXBJBltPHuRKPRH6[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-0cc42734-0a2f-1d29-652a-a013ffab1107?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 22 Apr 2023 06:58:43 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "187763625",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
