{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-505b0f84-444b-0d60-33ca-f7c6c67c3695?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Sat, 22 Apr 2023 06:57:48 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB42FEE1E87330\u0022",
        "Last-Modified": "Sat, 22 Apr 2023 06:57:48 GMT",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-505b0f84-444b-0d60-33ca-f7c6c67c3695/test-blob-3526a12c-6fa8-7376-f0ac-e905534d3a15",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Sat, 22 Apr 2023 06:57:48 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": "vWqRSZAfM7sp6eFV8tyL1SyRz0DJqLnk2mVW\u002BQrGkdqS2mtOQUhlZsG\u002BNnOCIyQ5QcQ46RAJBhWxrG8qyDqwYlcGwhdxPJTjK2l/C3FGYrdBHbdGjqjKidRVnZTZO52HDdQbe2EMyAUwVL2mivukakq36KqDatSvOzlDG5//Cu/L\u002BP2cKuZWNVWyFTnqI//ZsTJJIVPyA6P/bEAoyaxlMErO25L9Bz9kYbJV0FSaxBc5amlsteib2PRZnb6mLmyoTOTvHEht26ry5cCgnTNOZago7l9D\u002BXthMgKdpGqBvjNGrINvq6fOzI6/edAo\u002BjvACjgWfUAMZVNpjepGzzc[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-505b0f84-444b-0d60-33ca-f7c6c67c3695/test-blob-3526a12c-6fa8-7376-f0ac-e905534d3a15",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 22 Apr 2023 06:57:48 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "Zsz9K9PuDw5cwRnWGioNvA==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DB42FEE223C5C6\u0022",
        "Last-Modified": "Sat, 22 Apr 2023 06:57:48 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Sat, 22 Apr 2023 06:57:48 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2022-11-02",
        "x-ms-version-id": "2023-04-22T06:57:48.6178758Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-505b0f84-444b-0d60-33ca-f7c6c67c3695/test-blob-40259cdd-1aa5-18ee-7aaa-a446de8f7714",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-copy-source": "https://amandadev2.blob.core.windows.net/test-container-505b0f84-444b-0d60-33ca-f7c6c67c3695/test-blob-3526a12c-6fa8-7376-f0ac-e905534d3a15",
        "x-ms-date": "Sat, 22 Apr 2023 06:57:49 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB42FEE268B3FA\u0022",
        "Last-Modified": "Sat, 22 Apr 2023 06:57:49 GMT",
        "x-ms-copy-id": "4e259f15-7932-48a9-8f14-9035778d247c",
        "x-ms-copy-status": "success",
        "x-ms-version": "2022-11-02",
        "x-ms-version-id": "2023-04-22T06:57:49.0696186Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-505b0f84-444b-0d60-33ca-f7c6c67c3695/test-blob-40259cdd-1aa5-18ee-7aaa-a446de8f7714",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 22 Apr 2023 06:57:49 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "Zsz9K9PuDw5cwRnWGioNvA==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DB42FEE268B3FA\u0022",
        "Last-Modified": "Sat, 22 Apr 2023 06:57:49 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-completion-time": "Sat, 22 Apr 2023 06:57:49 GMT",
        "x-ms-copy-id": "4e259f15-7932-48a9-8f14-9035778d247c",
        "x-ms-copy-progress": "2048/2048",
        "x-ms-copy-source": "https://amandadev2.blob.core.windows.net/test-container-505b0f84-444b-0d60-33ca-f7c6c67c3695/test-blob-3526a12c-6fa8-7376-f0ac-e905534d3a15",
        "x-ms-copy-status": "success",
        "x-ms-creation-time": "Sat, 22 Apr 2023 06:57:49 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2022-11-02",
        "x-ms-version-id": "2023-04-22T06:57:49.0696186Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-505b0f84-444b-0d60-33ca-f7c6c67c3695/test-blob-40259cdd-1aa5-18ee-7aaa-a446de8f7714",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 22 Apr 2023 06:57:49 GMT",
        "x-ms-range": "bytes=0-2047",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-2047/2048",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DB42FEE268B3FA\u0022",
        "Last-Modified": "Sat, 22 Apr 2023 06:57:49 GMT",
        "x-ms-blob-content-md5": "Zsz9K9PuDw5cwRnWGioNvA==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-completion-time": "Sat, 22 Apr 2023 06:57:49 GMT",
        "x-ms-copy-id": "4e259f15-7932-48a9-8f14-9035778d247c",
        "x-ms-copy-progress": "2048/2048",
        "x-ms-copy-source": "https://amandadev2.blob.core.windows.net/test-container-505b0f84-444b-0d60-33ca-f7c6c67c3695/test-blob-3526a12c-6fa8-7376-f0ac-e905534d3a15",
        "x-ms-copy-status": "success",
        "x-ms-creation-time": "Sat, 22 Apr 20[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-505b0f84-444b-0d60-33ca-f7c6c67c3695?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 22 Apr 2023 06:57:49 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "696615328",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
