{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-84eca7cd-3d04-48f8-8bc5-2d96dd0d238d?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Sat, 22 Apr 2023 06:58:26 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB42FEF8998075\u0022",
        "Last-Modified": "Sat, 22 Apr 2023 06:58:26 GMT",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-84eca7cd-3d04-48f8-8bc5-2d96dd0d238d/test-blob-f595a1fe-ebe4-f9ae-3d2e-4b7c809d6bca",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Sat, 22 Apr 2023 06:58:26 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": "yy3Bu\u002Bmhz3GLMy5ADKL2D7hG2efQQlMndxzn7DptlmxPjssk8VqjnH0vY38JRbQe53MdKtFVO4namUTMueM2HZzB8H7W0h1eoj1poN/THjFoyQTGUGyb\u002BVJCSVgV1uKa\u002BUXjR1Q1RxVWvoeT65qpBnoSZPDeb80vJvYrlIjFSMtbz6ea8NfcMoLucJHlCA24mELdA3Lyu4p4syFeCbKNkHW7NxzzDxajNjFt8P47Sh7oc/tF50VZaBMdIjy1fijPYeAbKdDxxYgsOsxAhMuLPGgDdZa2SKkwYc8J1e3a7bcIno8eHyFN961zGa15GONHkeXTsgmRGBk268cB5\u002B\u002B[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-84eca7cd-3d04-48f8-8bc5-2d96dd0d238d/test-blob-f595a1fe-ebe4-f9ae-3d2e-4b7c809d6bca",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 22 Apr 2023 06:58:27 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "/gjsEv6\u002BoAHnmnAb0H7hFQ==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DB42FEF8DA026B\u0022",
        "Last-Modified": "Sat, 22 Apr 2023 06:58:26 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Sat, 22 Apr 2023 06:58:26 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2022-11-02",
        "x-ms-version-id": "2023-04-22T06:58:26.7220587Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-84eca7cd-3d04-48f8-8bc5-2d96dd0d238d/test-blob-ddd8b992-7fa6-073f-214f-5219c017e4c7",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-copy-source": "https://amandadev2.blob.core.windows.net/test-container-84eca7cd-3d04-48f8-8bc5-2d96dd0d238d/test-blob-f595a1fe-ebe4-f9ae-3d2e-4b7c809d6bca",
        "x-ms-date": "Sat, 22 Apr 2023 06:58:27 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB42FEF900E5A0\u0022",
        "Last-Modified": "Sat, 22 Apr 2023 06:58:26 GMT",
        "x-ms-copy-id": "f6c7f9e1-3c19-4f18-897d-4073c6bee618",
        "x-ms-copy-status": "success",
        "x-ms-version": "2022-11-02",
        "x-ms-version-id": "2023-04-22T06:58:26.9769120Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-84eca7cd-3d04-48f8-8bc5-2d96dd0d238d/test-blob-ddd8b992-7fa6-073f-214f-5219c017e4c7",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 22 Apr 2023 06:58:27 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "/gjsEv6\u002BoAHnmnAb0H7hFQ==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DB42FEF900E5A0\u0022",
        "Last-Modified": "Sat, 22 Apr 2023 06:58:26 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-completion-time": "Sat, 22 Apr 2023 06:58:26 GMT",
        "x-ms-copy-id": "f6c7f9e1-3c19-4f18-897d-4073c6bee618",
        "x-ms-copy-progress": "2048/2048",
        "x-ms-copy-source": "https://amandadev2.blob.core.windows.net/test-container-84eca7cd-3d04-48f8-8bc5-2d96dd0d238d/test-blob-f595a1fe-ebe4-f9ae-3d2e-4b7c809d6bca",
        "x-ms-copy-status": "success",
        "x-ms-creation-time": "Sat, 22 Apr 2023 06:58:26 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2022-11-02",
        "x-ms-version-id": "2023-04-22T06:58:26.9769120Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-84eca7cd-3d04-48f8-8bc5-2d96dd0d238d/test-blob-ddd8b992-7fa6-073f-214f-5219c017e4c7",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 22 Apr 2023 06:58:27 GMT",
        "x-ms-range": "bytes=0-2047",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-2047/2048",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DB42FEF900E5A0\u0022",
        "Last-Modified": "Sat, 22 Apr 2023 06:58:26 GMT",
        "x-ms-blob-content-md5": "/gjsEv6\u002BoAHnmnAb0H7hFQ==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-completion-time": "Sat, 22 Apr 2023 06:58:26 GMT",
        "x-ms-copy-id": "f6c7f9e1-3c19-4f18-897d-4073c6bee618",
        "x-ms-copy-progress": "2048/2048",
        "x-ms-copy-source": "https://amandadev2.blob.core.windows.net/test-container-84eca7cd-3d04-48f8-8bc5-2d96dd0d238d/test-blob-f595a1fe-ebe4-f9ae-3d2e-4b7c809d6bca",
        "x-ms-copy-status": "success",
        "x-ms-creation-time": "Sat, 22 A[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-84eca7cd-3d04-48f8-8bc5-2d96dd0d238d?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 22 Apr 2023 06:58:27 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "136881270",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
