{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-6476186c-2fbe-aee4-5ac2-bfa6f5744421?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Sat, 22 Apr 2023 06:58:45 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB42FF03AF898A\u0022",
        "Last-Modified": "Sat, 22 Apr 2023 06:58:44 GMT",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-6476186c-2fbe-aee4-5ac2-bfa6f5744421/test-blob-69339e73-1361-ea0d-ffa9-183ccd1ea256",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Sat, 22 Apr 2023 06:58:45 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": "jQc8\u002Be6p9LZoh3PRdfP8DG4TUm7Qy1ZV75ucg\u002BtuS6RitZjIAhpgyqp8ANqgO3ULrAzNucs0hcGw5gpSDXDL\u002BjvPbr9bNAlTs4jEU8t8tbMmkNffoJLYLi/WFxwPDb05sQWe0cy2sHgCeQZDbzL1MzFWLHyZ7Fmp9kCPhBzsRKXLiqLF3uPnb99f3CaLlL794OPruOFAoMWr9NqMJitbFjVgeOWQMFVNb7ycORAyHWKBkaQ4AYvEi\u002BncGekJWki0A8bxKxzZbbCOnkkko2a1edZ4C5WGIxSqm\u002Bz7sxZsQxVz6DZJQfJFpyTzqmNCoOeDJ6ASkU\u002BzLeCxR4[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-6476186c-2fbe-aee4-5ac2-bfa6f5744421/test-blob-e235ae44-ca70-319b-b462-0a5156b7761f",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Sat, 22 Apr 2023 06:58:45 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB42FF03C24B7F\u0022",
        "Last-Modified": "Sat, 22 Apr 2023 06:58:45 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2022-11-02",
        "x-ms-version-id": "2023-04-22T06:58:45.0215807Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-6476186c-2fbe-aee4-5ac2-bfa6f5744421/test-blob-69339e73-1361-ea0d-ffa9-183ccd1ea256",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 22 Apr 2023 06:58:45 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "pqbAcJxQ\u002BKtRqDooGF8DjQ==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DB42FF03B8AFED\u0022",
        "Last-Modified": "Sat, 22 Apr 2023 06:58:44 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Sat, 22 Apr 2023 06:58:44 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2022-11-02",
        "x-ms-version-id": "2023-04-22T06:58:44.9596155Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-6476186c-2fbe-aee4-5ac2-bfa6f5744421/test-blob-e235ae44-ca70-319b-b462-0a5156b7761f",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-copy-source": "https://amandadev2.blob.core.windows.net/test-container-6476186c-2fbe-aee4-5ac2-bfa6f5744421/test-blob-69339e73-1361-ea0d-ffa9-183ccd1ea256",
        "x-ms-date": "Sat, 22 Apr 2023 06:58:45 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "InvalidBlobType",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003EInvalidBlobType\u003C/Code\u003E\u003CMessage\u003EThe blob type is invalid for this operation.\n",
        "RequestId:be138fbc-801e-001e-20e7-749939000000\n",
        "Time:2023-04-22T06:58:45.1455092Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-6476186c-2fbe-aee4-5ac2-bfa6f5744421/test-blob-e235ae44-ca70-319b-b462-0a5156b7761f",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 22 Apr 2023 06:58:45 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-delete-type-permanent": "false",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-6476186c-2fbe-aee4-5ac2-bfa6f5744421?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 22 Apr 2023 06:58:45 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1216088272",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
