{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-0c538b72-b61d-c5c7-5c67-8b90f3c1107f?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 14 Dec 2022 23:20:32 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DADE29CD3CB35F\u0022",
        "Last-Modified": "Wed, 14 Dec 2022 23:20:34 GMT",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-0c538b72-b61d-c5c7-5c67-8b90f3c1107f/test-blob-e79c7a9e-9472-63ac-c5dc-baebc1991567",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Wed, 14 Dec 2022 23:20:33 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DADE29CD47B08B\u0022",
        "Last-Modified": "Wed, 14 Dec 2022 23:20:34 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2022-12-14T23:20:34.5399435Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-0c538b72-b61d-c5c7-5c67-8b90f3c1107f/test-blob-e79c7a9e-9472-63ac-c5dc-baebc1991567?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 14 Dec 2022 23:20:33 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": "BVhFYYGCuE1XvGhyd2YTUnD79PAJ4A6cOygpelekugA0IED3LQo9dRlC3ZwJ\u002B3Io3qcOKYrb8iVKqSZZWT31swJnPlcmGyRmvn/WxwJxkz\u002B1AJuwlZB2WC4arYPk5BvbTSqaob0bAcKCqGsLBCsi2Bbmo1iiRR1x8eUoC26ggtpj\u002B3rY1/GCmv/YLe0kalQC\u002BNRt/UDDOAcNKLDX8vZU4SWRqAixSQAkYwhYyRgvTYaRJhKZMoSZn8Jyy69Bq6gIhEvIk8JLUa7USZo3am/v3dspRszjuq\u002Bg\u002BAhGPn5R47hgUEXMZ7rDRdRkxenqYTRTg\u002B7UF2XcJcmcJ5q5BRIwgmbi1hopInUgZQD3f/TFtpbU8ruQfMtShCt8MEAf[...]
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-0c538b72-b61d-c5c7-5c67-8b90f3c1107f/test-blob-f547f29c-b218-61e8-4a45-4abddd12588a",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 14 Dec 2022 23:20:33 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DADE29CD6E1EA1\u0022",
        "Last-Modified": "Wed, 14 Dec 2022 23:20:34 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Wed, 14 Dec 2022 23:20:34 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2022-12-14T23:20:34.7088457Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-0c538b72-b61d-c5c7-5c67-8b90f3c1107f/test-blob-e79c7a9e-9472-63ac-c5dc-baebc1991567",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-copy-source": "https://amandadev2.blob.core.windows.net/test-container-0c538b72-b61d-c5c7-5c67-8b90f3c1107f/test-blob-f547f29c-b218-61e8-4a45-4abddd12588a",
        "x-ms-date": "Wed, 14 Dec 2022 23:20:33 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "BlobAlreadyExists",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003EBlobAlreadyExists\u003C/Code\u003E\u003CMessage\u003EThe specified blob already exists.\n",
        "RequestId:96c8a86a-a01e-0019-3d12-10f55a000000\n",
        "Time:2022-12-14T23:20:34.9706416Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-0c538b72-b61d-c5c7-5c67-8b90f3c1107f/test-blob-e79c7a9e-9472-63ac-c5dc-baebc1991567",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 14 Dec 2022 23:20:33 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DADE29CD551C09\u0022",
        "Last-Modified": "Wed, 14 Dec 2022 23:20:34 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Wed, 14 Dec 2022 23:20:34 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-0c538b72-b61d-c5c7-5c67-8b90f3c1107f?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 14 Dec 2022 23:20:33 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1215329985",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
