{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-a70e8ad7-6ef9-c17d-3267-a250855ad537?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 14 Dec 2022 23:20:13 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DADE29C1742244\u0022",
        "Last-Modified": "Wed, 14 Dec 2022 23:20:14 GMT",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-a70e8ad7-6ef9-c17d-3267-a250855ad537/test-blob-30e2a38d-fb3c-30d2-374b-62f5ac793729",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Wed, 14 Dec 2022 23:20:13 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DADE29C17EED09\u0022",
        "Last-Modified": "Wed, 14 Dec 2022 23:20:14 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2022-12-14T23:20:14.7702830Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-a70e8ad7-6ef9-c17d-3267-a250855ad537/test-blob-30e2a38d-fb3c-30d2-374b-62f5ac793729?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 14 Dec 2022 23:20:13 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": "pjUISi9WQ6KOt7JzxetwMsSa2kHmX1gM6BHxEy2jPnbw63HgT37iz9dkS9aSKypigTer7oFq/Ebc\u002B2EeZS906ng7gtp5kOJFuAppghOCer3njpL1\u002BFD1hu4qA1QdxGqn72FdVqlP6PFVZjV2AHoyWYCjNtadf/InRvvsT4yNJ/OgwpOyJSMTl6WhoJEbf4Zz96nUeY2UCm9vNRCtY5lkyD5C1j7ngDRckJ8w/N9gDMd1eFfjua1mC7cjQu8TZjQLPddS2KhIi3d1d\u002BnuYw6QDilIN\u002BpCgA\u002BR3MqGxD1ESClrJL8HDTMeLOzfbkHDd6iokjPGyy5JyLzIwfzewcc5MC7Agj5PiQH1Kgr9YxLNzWQh3TIJfn36IlsCPkw3QGslpj4SA/[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-a70e8ad7-6ef9-c17d-3267-a250855ad537/test-blob-30e2a38d-fb3c-30d2-374b-62f5ac793729",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 14 Dec 2022 23:20:13 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DADE29C18972CB\u0022",
        "Last-Modified": "Wed, 14 Dec 2022 23:20:14 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Wed, 14 Dec 2022 23:20:14 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2022-12-14T23:20:14.7702830Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-a70e8ad7-6ef9-c17d-3267-a250855ad537/test-blob-35b40064-3936-7954-461e-2899b72362a6",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://amandadev2.blob.core.windows.net/test-container-a70e8ad7-6ef9-c17d-3267-a250855ad537/test-blob-30e2a38d-fb3c-30d2-374b-62f5ac793729",
        "x-ms-date": "Wed, 14 Dec 2022 23:20:13 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\u00220x8DADE29C1A5F750\u0022",
        "Last-Modified": "Wed, 14 Dec 2022 23:20:15 GMT",
        "x-ms-copy-id": "9d3e5f9d-0489-44f8-8fed-c665f8e6d07c",
        "x-ms-copy-status": "success",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2022-12-14T23:20:15.0251344Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-a70e8ad7-6ef9-c17d-3267-a250855ad537/test-blob-35b40064-3936-7954-461e-2899b72362a6",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 14 Dec 2022 23:20:13 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DADE29C1A5F750\u0022",
        "Last-Modified": "Wed, 14 Dec 2022 23:20:15 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-copy-completion-time": "Wed, 14 Dec 2022 23:20:15 GMT",
        "x-ms-copy-id": "9d3e5f9d-0489-44f8-8fed-c665f8e6d07c",
        "x-ms-copy-progress": "1024/1024",
        "x-ms-copy-source": "https://amandadev2.blob.core.windows.net/test-container-a70e8ad7-6ef9-c17d-3267-a250855ad537/test-blob-30e2a38d-fb3c-30d2-374b-62f5ac793729",
        "x-ms-copy-status": "success",
        "x-ms-creation-time": "Wed, 14 Dec 2022 23:20:15 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2022-12-14T23:20:15.0251344Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-a70e8ad7-6ef9-c17d-3267-a250855ad537/test-blob-35b40064-3936-7954-461e-2899b72362a6",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 14 Dec 2022 23:20:13 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DADE29C1A5F750\u0022",
        "Last-Modified": "Wed, 14 Dec 2022 23:20:15 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-copy-completion-time": "Wed, 14 Dec 2022 23:20:15 GMT",
        "x-ms-copy-id": "9d3e5f9d-0489-44f8-8fed-c665f8e6d07c",
        "x-ms-copy-progress": "1024/1024",
        "x-ms-copy-source": "https://amandadev2.blob.core.wind[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-a70e8ad7-6ef9-c17d-3267-a250855ad537?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 14 Dec 2022 23:20:13 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "2017589449",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
