{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-a8d76c36-bd01-2b11-502d-236499d7bf76?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 14 Dec 2022 23:13:41 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DADE28D83DD739\u0022",
        "Last-Modified": "Wed, 14 Dec 2022 23:13:43 GMT",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-a8d76c36-bd01-2b11-502d-236499d7bf76/test-blob-b1ae8013-0d75-8c7b-d1cd-36b4dca034a3",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Wed, 14 Dec 2022 23:13:42 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DADE28D84AACFD\u0022",
        "Last-Modified": "Wed, 14 Dec 2022 23:13:43 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2022-12-14T23:13:43.5177213Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-a8d76c36-bd01-2b11-502d-236499d7bf76/test-blob-b1ae8013-0d75-8c7b-d1cd-36b4dca034a3?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 14 Dec 2022 23:13:42 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": "ny2OCEbHlPMs4IvsTWeq6lBpKCQg7r1il59PSfeKJm65mog9mR6J0qUokq/KvZeDkKEbJMifP7BvK3Gnd0v8orocMrPfbVEx4FV/\u002BFsNl9kIzLlVbwGmGlrYzW6t4VtaK/D1rorjpCNQ6URzIEdUYpOXn6uSpzO4dhhYB5/jg/76JMxrF\u002BlOJCeVBYW8M/kSg2vaFkKvyIS8PTdyip2DbGZGeft66EqpSHqE/KGu/EMeRoM0CGy8SlxIr9qy3JmKEpgedrn9mJogMc7HK8ziDkDzU0QZT2T5ii6fMjlv9mvh\u002BeoJj4aJIa3pE9ae9B\u002BQZaCavohUccIzJeyLXWZgsDpi5jHh2X\u002B6ajKXLzuOW5YOD8yZ1TjjjIgn1Wqa/sNHiGKcPA[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-a8d76c36-bd01-2b11-502d-236499d7bf76/test-blob-b1ae8013-0d75-8c7b-d1cd-36b4dca034a3",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 14 Dec 2022 23:13:42 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DADE28D8644BB7\u0022",
        "Last-Modified": "Wed, 14 Dec 2022 23:13:43 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Wed, 14 Dec 2022 23:13:43 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2022-12-14T23:13:43.5177213Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-a8d76c36-bd01-2b11-502d-236499d7bf76/test-blob-7f3178ea-3211-ab6d-5450-e274932c55fb",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://amandadev2.blob.core.windows.net/test-container-a8d76c36-bd01-2b11-502d-236499d7bf76/test-blob-b1ae8013-0d75-8c7b-d1cd-36b4dca034a3",
        "x-ms-date": "Wed, 14 Dec 2022 23:13:42 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\u00220x8DADE28D87C6412\u0022",
        "Last-Modified": "Wed, 14 Dec 2022 23:13:43 GMT",
        "x-ms-copy-id": "61cbf33b-38e3-4605-a4f7-a5f70e5b1d0d",
        "x-ms-copy-status": "success",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2022-12-14T23:13:43.8435346Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-a8d76c36-bd01-2b11-502d-236499d7bf76/test-blob-7f3178ea-3211-ab6d-5450-e274932c55fb",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 14 Dec 2022 23:13:42 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DADE28D87C6412\u0022",
        "Last-Modified": "Wed, 14 Dec 2022 23:13:43 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-copy-completion-time": "Wed, 14 Dec 2022 23:13:43 GMT",
        "x-ms-copy-id": "61cbf33b-38e3-4605-a4f7-a5f70e5b1d0d",
        "x-ms-copy-progress": "1024/1024",
        "x-ms-copy-source": "https://amandadev2.blob.core.windows.net/test-container-a8d76c36-bd01-2b11-502d-236499d7bf76/test-blob-b1ae8013-0d75-8c7b-d1cd-36b4dca034a3",
        "x-ms-copy-status": "success",
        "x-ms-creation-time": "Wed, 14 Dec 2022 23:13:43 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2022-12-14T23:13:43.8435346Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-a8d76c36-bd01-2b11-502d-236499d7bf76/test-blob-7f3178ea-3211-ab6d-5450-e274932c55fb",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 14 Dec 2022 23:13:42 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DADE28D87C6412\u0022",
        "Last-Modified": "Wed, 14 Dec 2022 23:13:43 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-copy-completion-time": "Wed, 14 Dec 2022 23:13:43 GMT",
        "x-ms-copy-id": "61cbf33b-38e3-4605-a4f7-a5f70e5b1d0d",
        "x-ms-copy-progress": "1024/1024",
        "x-ms-copy-source": "https://amandadev2.blob.core.wind[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-a8d76c36-bd01-2b11-502d-236499d7bf76?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 14 Dec 2022 23:13:42 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "702653425",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
