{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-5909276e-2968-4ae1-c3c8-774723437d23?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Sat, 22 Apr 2023 06:57:52 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB42FEE41F7267\u0022",
        "Last-Modified": "Sat, 22 Apr 2023 06:57:51 GMT",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-5909276e-2968-4ae1-c3c8-774723437d23/test-blob-ed56197f-1783-d2a4-4549-7d2ee98dc446",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-content-length": "2048",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Sat, 22 Apr 2023 06:57:52 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB42FEE4298311\u0022",
        "Last-Modified": "Sat, 22 Apr 2023 06:57:52 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2022-11-02",
        "x-ms-version-id": "2023-04-22T06:57:52.0119323Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-5909276e-2968-4ae1-c3c8-774723437d23/test-blob-ed56197f-1783-d2a4-4549-7d2ee98dc446?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Sat, 22 Apr 2023 06:57:52 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-2047",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": "IKv6hqszKc9pR7mBxf/P6pHjiH0FfZOHYfVKqOdTb\u002BLubwPsStSvJ2TaJ1SVwb2FKluB1\u002BfD6KIXcyW26IHoFtjWk1X845\u002B9NGEYK1Y\u002B8aA3xH2L0pf7Kodg1dev\u002BD7j8RF8vy1niUe7xKOGq71M2IGEfyMDXUNB22nOmw3IDTsiNDlEwjJyzzs2zw3zdX7JFPxVKnga4JTNO\u002BPEmO4587ZoY3eECBZPErDozI02TWbqBYcRc\u002BLCCFSldodOrjZN/dxWixEHRQvlBRjIMRMGl\u002B192ZNmJ3/TpVsi3pGPAWN5m8\u002Bx38JU4sB7K23K\u002BdZAnt\u002BZ0NSi5tVcguW25GZ6VgS0T5ZDVbcqKfbT6vsS[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-5909276e-2968-4ae1-c3c8-774723437d23/test-blob-ed56197f-1783-d2a4-4549-7d2ee98dc446",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 22 Apr 2023 06:57:52 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DB42FEE43456F8\u0022",
        "Last-Modified": "Sat, 22 Apr 2023 06:57:52 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Sat, 22 Apr 2023 06:57:52 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2022-11-02",
        "x-ms-version-id": "2023-04-22T06:57:52.0119323Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-5909276e-2968-4ae1-c3c8-774723437d23/test-blob-f6348b9b-83b4-ced4-f6f5-a749f8d853f9",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-copy-source": "https://amandadev2.blob.core.windows.net/test-container-5909276e-2968-4ae1-c3c8-774723437d23/test-blob-ed56197f-1783-d2a4-4549-7d2ee98dc446",
        "x-ms-date": "Sat, 22 Apr 2023 06:57:52 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB42FEE44BD31E\u0022",
        "Last-Modified": "Sat, 22 Apr 2023 06:57:52 GMT",
        "x-ms-copy-id": "3a944c49-1c7a-4b9b-a803-533710ea968b",
        "x-ms-copy-status": "success",
        "x-ms-version": "2022-11-02",
        "x-ms-version-id": "2023-04-22T06:57:52.2358046Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-5909276e-2968-4ae1-c3c8-774723437d23/test-blob-f6348b9b-83b4-ced4-f6f5-a749f8d853f9",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 22 Apr 2023 06:57:52 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DB42FEE44BD31E\u0022",
        "Last-Modified": "Sat, 22 Apr 2023 06:57:52 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-copy-completion-time": "Sat, 22 Apr 2023 06:57:52 GMT",
        "x-ms-copy-id": "3a944c49-1c7a-4b9b-a803-533710ea968b",
        "x-ms-copy-progress": "2048/2048",
        "x-ms-copy-source": "https://amandadev2.blob.core.windows.net/test-container-5909276e-2968-4ae1-c3c8-774723437d23/test-blob-ed56197f-1783-d2a4-4549-7d2ee98dc446",
        "x-ms-copy-status": "success",
        "x-ms-creation-time": "Sat, 22 Apr 2023 06:57:52 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2022-11-02",
        "x-ms-version-id": "2023-04-22T06:57:52.2358046Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-5909276e-2968-4ae1-c3c8-774723437d23/test-blob-f6348b9b-83b4-ced4-f6f5-a749f8d853f9",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 22 Apr 2023 06:57:52 GMT",
        "x-ms-range": "bytes=0-2047",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-2047/2048",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DB42FEE44BD31E\u0022",
        "Last-Modified": "Sat, 22 Apr 2023 06:57:52 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-copy-completion-time": "Sat, 22 Apr 2023 06:57:52 GMT",
        "x-ms-copy-id": "3a944c49-1c7a-4b9b-a803-533710ea968b",
        "x-ms-copy-progress": "2048/2048",
        "x-ms-copy-source": "https://amandadev2.blob.core.wind[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-5909276e-2968-4ae1-c3c8-774723437d23?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 22 Apr 2023 06:57:52 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1973298109",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
