{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-7be1d90f-a45c-0bf3-ee4f-47abcf05c1c0?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 22 Apr 2023 06:58:09 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB42FEEE88DA1B\u0022",
        "Last-Modified": "Sat, 22 Apr 2023 06:58:09 GMT",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-7be1d90f-a45c-0bf3-ee4f-47abcf05c1c0/test-blob-41313fcc-b06c-a3f8-176c-02064949b0f0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Sat, 22 Apr 2023 06:58:09 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB42FEEE91D986\u0022",
        "Last-Modified": "Sat, 22 Apr 2023 06:58:09 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2022-11-02",
        "x-ms-version-id": "2023-04-22T06:58:09.4719366Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-7be1d90f-a45c-0bf3-ee4f-47abcf05c1c0/test-blob-41313fcc-b06c-a3f8-176c-02064949b0f0?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Sat, 22 Apr 2023 06:58:09 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": "cfF2L47IPXeThH2TNlgZQ17i4k5tlCThlZn54gADnj2gyC6YXt6RW71liEcYD/oWJhFKLaTpRN3NlJn0z1t3j\u002BVA8m0qgOR/UIeRBwzcyYWe47zuuXGYt4RRy8lFnIxh7fhh1x2N7KUsy90dWDzR8coTVuyeiNZ0qDvp2bUbObP7LxoTevFoEfYWwe2Ue15Hf9r\u002BMUafw2Ui7S/ioxPwEZEqIikivXbZq0T1iMbo4CzcoVnaHAhsW2y08Y3BhW3jJbBcalg1JcJjJYUCqjqeOQwCBQK6FfSJvce8bczpFyXWEWIVjHbUp3yWd/eCarAxFriAv39rKRC706yReLf1eg5gK5jXiK2WLl6FI579BlMWilcUaFimauhSWbjKQi7EofzpIj4XWo0K6pAh5QZxv[...]
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-7be1d90f-a45c-0bf3-ee4f-47abcf05c1c0/test-blob-1cc83c84-e0b9-3287-bddc-90921b11dda4",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 22 Apr 2023 06:58:09 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DB42FEEEB4ECBB\u0022",
        "Last-Modified": "Sat, 22 Apr 2023 06:58:09 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Sat, 22 Apr 2023 06:58:09 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2022-11-02",
        "x-ms-version-id": "2023-04-22T06:58:09.6258472Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-7be1d90f-a45c-0bf3-ee4f-47abcf05c1c0/test-blob-41313fcc-b06c-a3f8-176c-02064949b0f0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://amandadev2.blob.core.windows.net/test-container-7be1d90f-a45c-0bf3-ee4f-47abcf05c1c0/test-blob-1cc83c84-e0b9-3287-bddc-90921b11dda4",
        "x-ms-date": "Sat, 22 Apr 2023 06:58:10 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB42FEEEE03C20\u0022",
        "Last-Modified": "Sat, 22 Apr 2023 06:58:09 GMT",
        "x-ms-copy-id": "58143f64-e629-478a-9a1c-1e00f9a477a9",
        "x-ms-copy-status": "success",
        "x-ms-version": "2022-11-02",
        "x-ms-version-id": "2023-04-22T06:58:09.9866416Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-7be1d90f-a45c-0bf3-ee4f-47abcf05c1c0/test-blob-41313fcc-b06c-a3f8-176c-02064949b0f0",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 22 Apr 2023 06:58:10 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DB42FEEEE03C20\u0022",
        "Last-Modified": "Sat, 22 Apr 2023 06:58:09 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-copy-completion-time": "Sat, 22 Apr 2023 06:58:09 GMT",
        "x-ms-copy-id": "58143f64-e629-478a-9a1c-1e00f9a477a9",
        "x-ms-copy-progress": "1024/1024",
        "x-ms-copy-source": "https://amandadev2.blob.core.windows.net/test-container-7be1d90f-a45c-0bf3-ee4f-47abcf05c1c0/test-blob-1cc83c84-e0b9-3287-bddc-90921b11dda4",
        "x-ms-copy-status": "success",
        "x-ms-creation-time": "Sat, 22 Apr 2023 06:58:09 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2022-11-02",
        "x-ms-version-id": "2023-04-22T06:58:09.9866416Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-7be1d90f-a45c-0bf3-ee4f-47abcf05c1c0/test-blob-41313fcc-b06c-a3f8-176c-02064949b0f0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 22 Apr 2023 06:58:10 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DB42FEEEE03C20\u0022",
        "Last-Modified": "Sat, 22 Apr 2023 06:58:09 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-copy-completion-time": "Sat, 22 Apr 2023 06:58:09 GMT",
        "x-ms-copy-id": "58143f64-e629-478a-9a1c-1e00f9a477a9",
        "x-ms-copy-progress": "1024/1024",
        "x-ms-copy-source": "https://amandadev2.blob.core.wind[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-7be1d90f-a45c-0bf3-ee4f-47abcf05c1c0?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 22 Apr 2023 06:58:10 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1868938605",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
