{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-b1ef58f4-ef87-ee22-90b4-c6364b78b01c?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 14 Dec 2022 23:13:35 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DADE28D42F2634\u0022",
        "Last-Modified": "Wed, 14 Dec 2022 23:13:36 GMT",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-b1ef58f4-ef87-ee22-90b4-c6364b78b01c/test-blob-a195eb0f-8704-ecf6-ae01-6e33d80a930d",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Wed, 14 Dec 2022 23:13:35 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DADE28D439403B\u0022",
        "Last-Modified": "Wed, 14 Dec 2022 23:13:36 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2022-12-14T23:13:36.6926395Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-b1ef58f4-ef87-ee22-90b4-c6364b78b01c/test-blob-a195eb0f-8704-ecf6-ae01-6e33d80a930d?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 14 Dec 2022 23:13:35 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": "5TCeZEhwO1s8TuO1iizvJnZPsMgMa02ccNKhwYXHEWiUPaQP7JlH7G8W/F0OLiiiuO7pGdvCAXnjAvN1z3nVdD17IU2H4DncCMNZ9m/vjkGq/gmW3veN0TsrLOql0R31QIcgkg3aG9i1DBEXaQsK83Syy9FvPpZG7k8SXLNPNjamY7Xnz/sz0OMx4dHmdWcwIDh28wZLhgLw2aS9yL8kZdbacAVVIyR4f/rtPlzFX3jo4Tt72EMwW92y9vVWdQgkDXv6CwVh2/0T/XMMXUelK3os1eaDqI2SqhUooiwvIgnyyTHgylRyhgY9Z9vPI/2VDct7KZ8hoGTuZ2HwOTjQ5NtqGZQVxGAluk/gRkCxw4YYkpVhs/hp0CnN8mPygkzNbIP/ZQlogEhrVW9QQFkjPKTb16aibzD[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-b1ef58f4-ef87-ee22-90b4-c6364b78b01c/test-blob-a195eb0f-8704-ecf6-ae01-6e33d80a930d",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 14 Dec 2022 23:13:35 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DADE28D4459A76\u0022",
        "Last-Modified": "Wed, 14 Dec 2022 23:13:36 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Wed, 14 Dec 2022 23:13:36 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2022-12-14T23:13:36.6926395Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-b1ef58f4-ef87-ee22-90b4-c6364b78b01c/test-blob-3f02f491-3efb-411b-11fb-f7ee43c6bcaf",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://amandadev2.blob.core.windows.net/test-container-b1ef58f4-ef87-ee22-90b4-c6364b78b01c/test-blob-a195eb0f-8704-ecf6-ae01-6e33d80a930d",
        "x-ms-date": "Wed, 14 Dec 2022 23:13:35 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\u00220x8DADE28D459BBBE\u0022",
        "Last-Modified": "Wed, 14 Dec 2022 23:13:36 GMT",
        "x-ms-copy-id": "051dc901-4cb6-4d2a-99b4-624145d503d7",
        "x-ms-copy-status": "success",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2022-12-14T23:13:36.9065167Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-b1ef58f4-ef87-ee22-90b4-c6364b78b01c/test-blob-3f02f491-3efb-411b-11fb-f7ee43c6bcaf",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 14 Dec 2022 23:13:35 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DADE28D459BBBE\u0022",
        "Last-Modified": "Wed, 14 Dec 2022 23:13:36 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-copy-completion-time": "Wed, 14 Dec 2022 23:13:36 GMT",
        "x-ms-copy-id": "051dc901-4cb6-4d2a-99b4-624145d503d7",
        "x-ms-copy-progress": "1024/1024",
        "x-ms-copy-source": "https://amandadev2.blob.core.windows.net/test-container-b1ef58f4-ef87-ee22-90b4-c6364b78b01c/test-blob-a195eb0f-8704-ecf6-ae01-6e33d80a930d",
        "x-ms-copy-status": "success",
        "x-ms-creation-time": "Wed, 14 Dec 2022 23:13:36 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2022-12-14T23:13:36.9065167Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-b1ef58f4-ef87-ee22-90b4-c6364b78b01c/test-blob-3f02f491-3efb-411b-11fb-f7ee43c6bcaf",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 14 Dec 2022 23:13:35 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DADE28D459BBBE\u0022",
        "Last-Modified": "Wed, 14 Dec 2022 23:13:36 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-copy-completion-time": "Wed, 14 Dec 2022 23:13:36 GMT",
        "x-ms-copy-id": "051dc901-4cb6-4d2a-99b4-624145d503d7",
        "x-ms-copy-progress": "1024/1024",
        "x-ms-copy-source": "https://amandadev2.blob.core.wind[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-b1ef58f4-ef87-ee22-90b4-c6364b78b01c?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 14 Dec 2022 23:13:35 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "375621078",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
