{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-433c7408-ca21-cdd1-30f3-f5d450f42140?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 14 Dec 2022 23:20:32 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DADE29CCBFA636\u0022",
        "Last-Modified": "Wed, 14 Dec 2022 23:20:33 GMT",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-433c7408-ca21-cdd1-30f3-f5d450f42140/test-blob-1c6dff03-d22d-5dd1-9886-5c02921b6e92",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Wed, 14 Dec 2022 23:20:32 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DADE29CCCB3FC5\u0022",
        "Last-Modified": "Wed, 14 Dec 2022 23:20:33 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2022-12-14T23:20:33.7244101Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-433c7408-ca21-cdd1-30f3-f5d450f42140/test-blob-1c6dff03-d22d-5dd1-9886-5c02921b6e92?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 14 Dec 2022 23:20:32 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": "zugW8yNN6J\u002BZJhtRqSG\u002BGBXuVB8bZiY3uz/F4kijkoxt0w30FCplRYn1PTxauge41I7lb8Qe7GfC3zjjhwVW9pOO5NYUyQPqiQ\u002BWJinq3AA4DQ66viLHTuamMjTxgb2DnkaozNYxowqK\u002Bua1h8Y91wM3q3r3nDhxxpbvbpbO\u002BQdSE4fjQhAqBmkDL8M8EsYfaVsxutVDiwIONwVAQTV0uwHfY3Q/WZXyDaQQ9G10NLPPzwQ7nT4xD4eF1AoK6cU0jnPCXa9S4A/FPqwxMpeUmQJRcHEwOR7CrVTsuYSK6CTf22X5stcEfe/1dV6SANzw8DsIuHhTA1VV/69bZSeKOlaIUVYym\u002BcqTfOCO8TAL6x3/MhJgi\u002BrjNgPo7Io[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-433c7408-ca21-cdd1-30f3-f5d450f42140/test-blob-1c6dff03-d22d-5dd1-9886-5c02921b6e92",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 14 Dec 2022 23:20:32 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DADE29CCD7E81A\u0022",
        "Last-Modified": "Wed, 14 Dec 2022 23:20:33 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Wed, 14 Dec 2022 23:20:33 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2022-12-14T23:20:33.7244101Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-433c7408-ca21-cdd1-30f3-f5d450f42140/test-blob-87253369-f4c4-b6cc-0cf7-9b3c5b0702d4",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://amandadev2.blob.core.windows.net/test-container-433c7408-ca21-cdd1-30f3-f5d450f42140/test-blob-1c6dff03-d22d-5dd1-9886-5c02921b6e92",
        "x-ms-date": "Wed, 14 Dec 2022 23:20:32 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\u00220x8DADE29CD09030E\u0022",
        "Last-Modified": "Wed, 14 Dec 2022 23:20:34 GMT",
        "x-ms-copy-id": "c246c902-62fe-462e-b9bc-95d08cc5addf",
        "x-ms-copy-status": "success",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2022-12-14T23:20:34.1291790Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-433c7408-ca21-cdd1-30f3-f5d450f42140/test-blob-87253369-f4c4-b6cc-0cf7-9b3c5b0702d4",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 14 Dec 2022 23:20:32 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DADE29CD09030E\u0022",
        "Last-Modified": "Wed, 14 Dec 2022 23:20:34 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-copy-completion-time": "Wed, 14 Dec 2022 23:20:34 GMT",
        "x-ms-copy-id": "c246c902-62fe-462e-b9bc-95d08cc5addf",
        "x-ms-copy-progress": "1024/1024",
        "x-ms-copy-source": "https://amandadev2.blob.core.windows.net/test-container-433c7408-ca21-cdd1-30f3-f5d450f42140/test-blob-1c6dff03-d22d-5dd1-9886-5c02921b6e92",
        "x-ms-copy-status": "success",
        "x-ms-creation-time": "Wed, 14 Dec 2022 23:20:34 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2022-12-14T23:20:34.1291790Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-433c7408-ca21-cdd1-30f3-f5d450f42140/test-blob-87253369-f4c4-b6cc-0cf7-9b3c5b0702d4",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 14 Dec 2022 23:20:32 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DADE29CD09030E\u0022",
        "Last-Modified": "Wed, 14 Dec 2022 23:20:34 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-copy-completion-time": "Wed, 14 Dec 2022 23:20:34 GMT",
        "x-ms-copy-id": "c246c902-62fe-462e-b9bc-95d08cc5addf",
        "x-ms-copy-progress": "1024/1024",
        "x-ms-copy-source": "https://amandadev2.blob.core.wind[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-433c7408-ca21-cdd1-30f3-f5d450f42140?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 14 Dec 2022 23:20:32 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "55063778",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
