{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-8489771f-9cdb-9cd2-1a7e-6353c85bb717?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Fri, 20 Jan 2023 22:00:28 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DAFB31BE58429D\u0022",
        "Last-Modified": "Fri, 20 Jan 2023 22:00:29 GMT",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-8489771f-9cdb-9cd2-1a7e-6353c85bb717/test-blob-a185d720-3823-f359-df7a-a1a1815e86b9",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 20 Jan 2023 22:00:28 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": "3ThTPtsR0aO28WD1fB\u002BU7nYapI8KpGuoLwEUNv2bm7hpQcNJC0jeu53VAYUXsgZuWExIPIKBVTjMqg7Z/JulG1aoizpbSuMtPOnyNaPmkX36pd2wU1416OyKfGA5BL4BL\u002BYvbibMEg1pGv\u002BZjiCV5RmR3la99cj3cqJO0M6C9Dgq8AW9tyJWLpPPRzhenFnL9ZZGqCVnRDodN/uEfkE/5iXHbp4a1y72OrDD7q2PmNZIgto3PEwSw6zLn38m0rBRkGETli67sB5nT211pFaMjp8lO/tnB6rZtaryTzevz2gAcl1MfAGojdG80OzfnB9VPhDgAZe06oi3OuGDyGHmuIAFdTH4Q[...]
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-8489771f-9cdb-9cd2-1a7e-6353c85bb717/test-blob-a185d720-3823-f359-df7a-a1a1815e86b9",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 20 Jan 2023 22:00:28 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "LWlCEEzwNYFd09pTYM5LNQ==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DAFB31BE6D6C2D\u0022",
        "Last-Modified": "Fri, 20 Jan 2023 22:00:29 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 20 Jan 2023 22:00:29 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2023-01-20T22:00:29.3167933Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-8489771f-9cdb-9cd2-1a7e-6353c85bb717/test-blob-a185d720-3823-f359-df7a-a1a1815e86b9",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-copy-source": "https://amandadev2.blob.core.windows.net/test-container-8489771f-9cdb-9cd2-1a7e-6353c85bb717/test-blob-a185d720-3823-f359-df7a-a1a1815e86b9",
        "x-ms-date": "Fri, 20 Jan 2023 22:00:28 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "BlobAlreadyExists",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003EBlobAlreadyExists\u003C/Code\u003E\u003CMessage\u003EThe specified blob already exists.\n",
        "RequestId:55cc39aa-e01e-0008-731a-2d6fee000000\n",
        "Time:2023-01-20T22:00:29.4529463Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-8489771f-9cdb-9cd2-1a7e-6353c85bb717?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 20 Jan 2023 22:00:28 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "505388059",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
