{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-5fd639a1-8443-e746-37f6-6892ff6b7b08?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Sat, 22 Apr 2023 06:58:15 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB42FEF25754AD\u0022",
        "Last-Modified": "Sat, 22 Apr 2023 06:58:15 GMT",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-5fd639a1-8443-e746-37f6-6892ff6b7b08/test-blob-3adb8765-d8d4-28ac-f930-4f2877b0d2d3",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Sat, 22 Apr 2023 06:58:15 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": "3TowjoguMD1yU0GSMvMCAUHVpqW1XeQlQumN/EmSWOyVcEo8gENLXzQ\u002Bbpv\u002Bsr651YzY\u002B2b2KYBWC0yeoDPz4PtV/cKoxYH9ikZxdu9IJo8q1Ca8uV2Fn0fK5nX3rL8AS42fqbT8EBAL23AghLKRDeS8dMsMNyaez1563t4MBt2GcCthqHzaLsMWsd7sZRqVOdiQOjjz8xNnAdpWgjIx/9STmROGL2Vo4UYI9YVHsWlE5aUGe8ulk30X\u002BqaihKuR5bIJWcwGDglzKFjx6/2OH09wEpyNK4MJ7QWWbzW\u002BxV2adxDTPlidPdebklNys6h/idpWMnIPA7ku/2vGb5/[...]
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-5fd639a1-8443-e746-37f6-6892ff6b7b08/test-blob-3adb8765-d8d4-28ac-f930-4f2877b0d2d3",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 22 Apr 2023 06:58:16 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "SN8ZIzpuyJvzQWnJQwRpFA==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DB42FEF26BEB0B\u0022",
        "Last-Modified": "Sat, 22 Apr 2023 06:58:15 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Sat, 22 Apr 2023 06:58:15 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2022-11-02",
        "x-ms-version-id": "2023-04-22T06:58:15.9362348Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-5fd639a1-8443-e746-37f6-6892ff6b7b08/test-blob-3adb8765-d8d4-28ac-f930-4f2877b0d2d3",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-copy-source": "https://amandadev2.blob.core.windows.net/test-container-5fd639a1-8443-e746-37f6-6892ff6b7b08/test-blob-3adb8765-d8d4-28ac-f930-4f2877b0d2d3",
        "x-ms-date": "Sat, 22 Apr 2023 06:58:16 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "BlobAlreadyExists",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003EBlobAlreadyExists\u003C/Code\u003E\u003CMessage\u003EThe specified blob already exists.\n",
        "RequestId:be132a5a-801e-001e-38e7-749939000000\n",
        "Time:2023-04-22T06:58:16.0921458Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-5fd639a1-8443-e746-37f6-6892ff6b7b08?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 22 Apr 2023 06:58:16 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1587117508",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
