{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-efe2f555-0367-61c4-516b-f435ef3a25e0?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Fri, 20 Jan 2023 22:00:32 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DAFB31C076DC53\u0022",
        "Last-Modified": "Fri, 20 Jan 2023 22:00:32 GMT",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-efe2f555-0367-61c4-516b-f435ef3a25e0/test-blob-b1212e30-f614-8010-0727-d860a50c62b2",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 20 Jan 2023 22:00:32 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": "LXeI0H0nsyad5VJI2\u002BrpkUXz/b9zlxJkvZLMsCHXUahXTDMtg5E0anjxo\u002B95KLT6ekPyO2EQF5VlIxPrWwMFxpOq8Y62uw60vpJHgfQi6pXd0Tbe5BVGRzSex2B\u002BSQ907N1czzYmRL41Pn3PyJahQjh9DYnNJ\u002BF9Y6pZGPSuNnSC05UWxhtet413qaaYd3\u002Be/YQnADyGp8X83muMzCzKhwcITPUAinsdH1b8Vn065OwruxtvhjY4/CvQGuiw0uphrCKfjyqJnXIJCuHmilFHwfp\u002BYREQWwDR0FDJMHCTbExrmqlbm1TBoR2oZnxVUnHaiFjuMXDZUFEizr[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-efe2f555-0367-61c4-516b-f435ef3a25e0/test-blob-b1212e30-f614-8010-0727-d860a50c62b2",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 20 Jan 2023 22:00:32 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "OOg1Y9aUGTrCzRFK/04o3w==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DAFB31C0828F14\u0022",
        "Last-Modified": "Fri, 20 Jan 2023 22:00:32 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 20 Jan 2023 22:00:32 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2023-01-20T22:00:32.8097556Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-efe2f555-0367-61c4-516b-f435ef3a25e0/test-blob-41182c92-ccd4-8f70-e563-d5382f5ecf8b",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://amandadev2.blob.core.windows.net/test-container-efe2f555-0367-61c4-516b-f435ef3a25e0/test-blob-b1212e30-f614-8010-0727-d860a50c62b2",
        "x-ms-date": "Fri, 20 Jan 2023 22:00:32 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\u00220x8DAFB31C09A5950\u0022",
        "Last-Modified": "Fri, 20 Jan 2023 22:00:32 GMT",
        "x-ms-copy-id": "d91d689f-05ea-46a6-8e20-ba34e19a9af5",
        "x-ms-copy-status": "success",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2023-01-20T22:00:32.9656656Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-efe2f555-0367-61c4-516b-f435ef3a25e0/test-blob-41182c92-ccd4-8f70-e563-d5382f5ecf8b",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 20 Jan 2023 22:00:32 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "OOg1Y9aUGTrCzRFK/04o3w==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DAFB31C09A5950\u0022",
        "Last-Modified": "Fri, 20 Jan 2023 22:00:32 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-completion-time": "Fri, 20 Jan 2023 22:00:32 GMT",
        "x-ms-copy-id": "d91d689f-05ea-46a6-8e20-ba34e19a9af5",
        "x-ms-copy-progress": "1024/1024",
        "x-ms-copy-source": "https://amandadev2.blob.core.windows.net/test-container-efe2f555-0367-61c4-516b-f435ef3a25e0/test-blob-b1212e30-f614-8010-0727-d860a50c62b2",
        "x-ms-copy-status": "success",
        "x-ms-creation-time": "Fri, 20 Jan 2023 22:00:32 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2023-01-20T22:00:32.9656656Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-efe2f555-0367-61c4-516b-f435ef3a25e0?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 20 Jan 2023 22:00:32 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "487400845",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
