{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-96fefb2b-0e5a-5a61-1323-5b0b00f0d6f0?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Sat, 22 Apr 2023 06:58:56 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB42FF0A4DAA8D\u0022",
        "Last-Modified": "Sat, 22 Apr 2023 06:58:56 GMT",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-96fefb2b-0e5a-5a61-1323-5b0b00f0d6f0/test-blob-5566b488-5076-b7b2-ddaa-07d4bbb3fbd6",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Sat, 22 Apr 2023 06:58:56 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": "uq0kqtbX67ZmGRcQIL6YK9zrFZ5944WnfwG\u002BVPJuBcvv\u002BxkOj1AAHg1OggbKJETYiTFnxv0cjtcnfSvUGJfD9xNLICSkiZyL6/aRLmB/3Fq95srABz/O0m1B5xElKwV1i4ryfgMgMwCV29sGi192qKDQFzLNAvDUfU62Y6KKZcDxG6PWjF5WnbPKKyxjx0cNyj9xVRPTqIiaHQC1ac9dC3UaFXC8oBtCeXp\u002BAtfEcLYHqJhiGRCtHXIbO25doDTjbB\u002B2SbLWUSokLtuYVaWw1q1KrsA3\u002B/Jkbff9oWWs5dhGmpa4DScDMFduPuo0FMjMamXBEvJzrHEtUdu72bD[...]
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-96fefb2b-0e5a-5a61-1323-5b0b00f0d6f0/test-blob-5566b488-5076-b7b2-ddaa-07d4bbb3fbd6",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 22 Apr 2023 06:58:56 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "1s4tVWdOJbVgKIqByV3GAA==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DB42FF0A6240EA\u0022",
        "Last-Modified": "Sat, 22 Apr 2023 06:58:56 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Sat, 22 Apr 2023 06:58:56 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2022-11-02",
        "x-ms-version-id": "2023-04-22T06:58:56.1372154Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-96fefb2b-0e5a-5a61-1323-5b0b00f0d6f0/test-blob-5566b488-5076-b7b2-ddaa-07d4bbb3fbd6",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-copy-source": "https://amandadev2.blob.core.windows.net/test-container-96fefb2b-0e5a-5a61-1323-5b0b00f0d6f0/test-blob-5566b488-5076-b7b2-ddaa-07d4bbb3fbd6",
        "x-ms-date": "Sat, 22 Apr 2023 06:58:56 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "BlobAlreadyExists",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003EBlobAlreadyExists\u003C/Code\u003E\u003CMessage\u003EThe specified blob already exists.\n",
        "RequestId:be13b470-801e-001e-5ae7-749939000000\n",
        "Time:2023-04-22T06:58:56.2591457Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-96fefb2b-0e5a-5a61-1323-5b0b00f0d6f0?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 22 Apr 2023 06:58:56 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1421873820",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
