{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-d66b47b9-c3fa-d640-25c8-b4aec7294303?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Sat, 22 Apr 2023 06:58:54 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB42FF09876A54\u0022",
        "Last-Modified": "Sat, 22 Apr 2023 06:58:54 GMT",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-d66b47b9-c3fa-d640-25c8-b4aec7294303/test-blob-a97c5926-2da6-1b78-e98a-7a7cc73a95fe",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Sat, 22 Apr 2023 06:58:54 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": "tinf56t8wHiV72Y5iiyiEbuL4eoDDbUzGV3Jrv9IBxHiK8WeW65SJo6PJC2LBZS0VBx0ifa8S6h0q81NshF4TOhVV19mBLUMOLpbdOmHqBPIFVrj1H4aJd8cKrDgBXN9FtdFNa40TU9mZ1E8Yde/7AO6hJ23lHhqOzGASdoFLDNG3l4RQnJkk8cKfWwt3cQIXT2sJoDWxYFf2vl9tAR1YDsd9YJ4raqQVfHWrRcLPV1seOycWAWycBjcsmd459/DlB0xD\u002BhCj6\u002BTHNGPABhqVJ2bEDwX2Qc1a4RpnPtDGG0REhn62i51Kuk8CTw0I3AAcl7J3Nejq7sV\u002B6Rk2PK0UARjfe3/b[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-d66b47b9-c3fa-d640-25c8-b4aec7294303/test-blob-a97c5926-2da6-1b78-e98a-7a7cc73a95fe",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 22 Apr 2023 06:58:54 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "smcVbbTRGUNfxpnohPlo\u002BQ==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DB42FF099105DF\u0022",
        "Last-Modified": "Sat, 22 Apr 2023 06:58:54 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Sat, 22 Apr 2023 06:58:54 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2022-11-02",
        "x-ms-version-id": "2023-04-22T06:58:54.7650015Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-d66b47b9-c3fa-d640-25c8-b4aec7294303/test-blob-b9074ea2-f21d-1f3f-e0f7-2d2f14d8a74f",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-copy-source": "https://amandadev2.blob.core.windows.net/test-container-d66b47b9-c3fa-d640-25c8-b4aec7294303/test-blob-a97c5926-2da6-1b78-e98a-7a7cc73a95fe",
        "x-ms-date": "Sat, 22 Apr 2023 06:58:54 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB42FF09A46401\u0022",
        "Last-Modified": "Sat, 22 Apr 2023 06:58:54 GMT",
        "x-ms-copy-id": "95819c44-733a-4dd9-a1c5-28ff2fc48fe1",
        "x-ms-copy-status": "success",
        "x-ms-version": "2022-11-02",
        "x-ms-version-id": "2023-04-22T06:58:54.8919297Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-d66b47b9-c3fa-d640-25c8-b4aec7294303/test-blob-b9074ea2-f21d-1f3f-e0f7-2d2f14d8a74f",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 22 Apr 2023 06:58:55 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "smcVbbTRGUNfxpnohPlo\u002BQ==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DB42FF09A46401\u0022",
        "Last-Modified": "Sat, 22 Apr 2023 06:58:54 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-completion-time": "Sat, 22 Apr 2023 06:58:54 GMT",
        "x-ms-copy-id": "95819c44-733a-4dd9-a1c5-28ff2fc48fe1",
        "x-ms-copy-progress": "1024/1024",
        "x-ms-copy-source": "https://amandadev2.blob.core.windows.net/test-container-d66b47b9-c3fa-d640-25c8-b4aec7294303/test-blob-a97c5926-2da6-1b78-e98a-7a7cc73a95fe",
        "x-ms-copy-status": "success",
        "x-ms-creation-time": "Sat, 22 Apr 2023 06:58:54 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2022-11-02",
        "x-ms-version-id": "2023-04-22T06:58:54.8919297Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-d66b47b9-c3fa-d640-25c8-b4aec7294303?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 22 Apr 2023 06:58:55 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "370602074",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
