{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-3b5758ec-78cf-3b05-711c-ae4c8c6bf7bf?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Fri, 20 Jan 2023 22:00:29 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DAFB31BF218FE8\u0022",
        "Last-Modified": "Fri, 20 Jan 2023 22:00:30 GMT",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-3b5758ec-78cf-3b05-711c-ae4c8c6bf7bf/test-blob-b603c7ab-e487-a18d-4d56-c79dcaad4d06",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 20 Jan 2023 22:00:29 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": "n1SsJ2e9scnj\u002BJD41wc57WCvz4D7eIeRVnNL2YGsDLtL7v12ASWf68TVNtiJeLhkc3WA5sKK3ibMG9DzcddHN\u002BzUrekJw\u002Bs6D\u002BO7JUKvB9665mYLKyX4wBDXqeZVq3ntjf/rtcrPWrCJRtbfzrjjHRPxOYtwPAvG2\u002BzZMRkF5WRpzpdDw1EU64y2geVPGfJX84zTY3LufFD0Jdre9SiXhGBxdv8goFrB3U3\u002Bursld8H6gT6MMoHyelJHT553NfZjHvyF3aPyNlMyEYYl8MGUzq0Y5HTqClLff/ut2VG8SqdXm5y/oJkeB0rrWiH7zYqQsoDwX1GBeBOqpV[...]
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-3b5758ec-78cf-3b05-711c-ae4c8c6bf7bf/test-blob-b603c7ab-e487-a18d-4d56-c79dcaad4d06",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 20 Jan 2023 22:00:30 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "nDX2ZJ5aNM1UTzu9w2dGbw==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DAFB31BF35CE65\u0022",
        "Last-Modified": "Fri, 20 Jan 2023 22:00:30 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 20 Jan 2023 22:00:30 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2023-01-20T22:00:30.6310278Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-3b5758ec-78cf-3b05-711c-ae4c8c6bf7bf/test-blob-b603c7ab-e487-a18d-4d56-c79dcaad4d06",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-copy-source": "https://amandadev2.blob.core.windows.net/test-container-3b5758ec-78cf-3b05-711c-ae4c8c6bf7bf/test-blob-b603c7ab-e487-a18d-4d56-c79dcaad4d06",
        "x-ms-date": "Fri, 20 Jan 2023 22:00:30 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "BlobAlreadyExists",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003EBlobAlreadyExists\u003C/Code\u003E\u003CMessage\u003EThe specified blob already exists.\n",
        "RequestId:55cc3d84-e01e-0008-4a1a-2d6fee000000\n",
        "Time:2023-01-20T22:00:30.7552102Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-3b5758ec-78cf-3b05-711c-ae4c8c6bf7bf?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 20 Jan 2023 22:00:30 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "181050421",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
