{
  "Entries": [
    {
      "RequestUri": "https://aiimdssavault.vault.azure.net/secrets/identitytestsecret?api-version=7.0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "http://localhost:40342/metadata/identity/oauth2/token?api-version=2019-11-01\u0026resource=https%3A%2F%2Fvault.azure.net",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Metadata": "true"
      },
      "RequestBody": "U2FuaXRpemVk",
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "WWW-Authenticate": "Basic realm=/home/sschaab/azure-sdk-for-net/artifacts/bin/Azure.Identity.Tests/Debug/netcoreapp3.1/Data/mock-arc-mi-key.key"
      },
      "ResponseBody": "{\u0022error\u0022:\u0022unauthorized_client\u0022,\u0022error_description\u0022:\u0022Missing Basic Authorization header\u0022,\u0022error_codes\u0022:[401],\u0022timestamp\u0022:\u00222020-11-07 00:53:46.070316823 \\u002B0000 UTC m=\\u002B23008.558905024\u0022,\u0022trace_id\u0022:\u0022\u0022,\u0022correlation_id\u0022:\u0022cd445967-95be-4fba-921e-003bc5e5d7c9\u0022}"
    },
    {
      "RequestUri": "http://localhost:40342/metadata/identity/oauth2/token?api-version=2019-11-01\u0026resource=https%3A%2F%2Fvault.azure.net",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Metadata": "true"
      },
      "RequestBody": "U2FuaXRpemVk",
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json"
      },
      "ResponseBody": {
        "access_token": "Sanitized",
        "refresh_token": "Sanitized",
        "expires_in": "84506",
        "expires_on": "1604794933",
        "not_before": "1604708233",
        "resource": "",
        "token_type": "Bearer"
      }
    },
    {
      "RequestUri": "https://aiimdssavault.vault.azure.net/secrets/identitytestsecret?api-version=7.0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "value": "value"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": "value",
        "id": "https://aiimdssavault.vault.azure.net/secrets/identitytestsecret/007695dc918a4a6797943339f62caf74",
        "attributes": {
          "enabled": true,
          "created": 1604710426,
          "updated": 1604710426,
          "recoveryLevel": "Purgeable"
        }
      }
    }
  ],
  "Variables": {
    "RandomSeed": "1098421875"
  }
}