<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="ResourceName" value="backuprn" />
		<add key="ResourceGroupName" value="backuprg" />
		<add key="ResourceId" value="1774108198771083879" />
		<add key="ContainerName" value="iaasvmcontainer;hydrarecordvm;hydrarecordvm" />
		<add key="DataSourceType" value="VM" />
		<add key="DataSourceId" value="17593283453810" />
		<add key="Location" value="southeastasia" />
		<add key="ItemName" value="iaasvmcontainer;hydrarecordvm;hydrarecordvm" />
		<add key="AzureBackupItemName" value="iaasvmcontainer;hydrarecordvm;hydrarecordvm" />
		<add key="SubscriptionId" value="f5303a0b-fae4-4cdb-b44d-0e4c032dde26" />
		<add key="PolicyName" value="ProtPolicy01"/>
		<add key="WorkloadType" value="IaasVM"/>
		<add key="BackupType" value="Full"/>
		<add key="ScheduleType" value="Daily"/>
		<add key="PolicyId" value="/subscriptions/f5303a0b-fae4-4cdb-b44d-0e4c032dde26/resourceGroups/backuprg/providers/Microsoft.Backup/BackupVault/backuprn/protectionPolicies/ProtPolicy01"/>
		<add key="DailyRetentionCount" value="20"/>
		<add key="WeeklyRetentionCount" value="4"/>
		<add key="ModifiedPolicyName" value="ProtPolicy01_updated"/>
		<add key="ScheduleRunTime" value="6/12/2015 7:30:00 PM"/>
		<add key="ARMResourceId" value="/subscriptions/f5303a0b-fae4-4cdb-b44d-0e4c032dde26/resourceGroups/backuprg/providers/Microsoft.Backup/BackupVault/backuprn" />
		<add key="ResourceType" value="Microsoft.Backup/BackupVault"/>
		<add key="LocationShort" value="southeastasia"/>
		<add key="RecoveryPointName" value="1803262380719"/>
		<add key="Region" value="southeastasia"/>
		<add key="StorageAccountName" value="portalvhds7jzk3jty85qx5"/>
		<add key="ContainerId" value="33"/>
		<add key="ContainerStampId" value="0f2ec04e-7bc1-4d24-af43-caa10134def7"/>
		<add key="ContainerStampUri" value="https://sea-bvtd-prot1-b6vas.ext.trafficmanager.net"/>
		<add key="ContainerFriendlyName" value="DPMDRSCALEINT1.DPMDOM02.SELFHOST.CORP.MICROSOFT.COM"/>
		<add key="ContainerUniqueName" value="DPMDRSCALEINT1.DPMDOM02.SELFHOST.CORP.MICROSOFT.COM"/>
		<add key="BMSContainerFriendlyName" value="hydrarecordvm"/>
		<add key="BMSContainerStatus" value="Registered"/>
		<add key="BMSContainerHealthStatus" value="Healthy"/>
		<add key="BMSContainerType" value="IaasVM"/>
		<add key="BMSContainerParentId" value="/subscriptions/f5303a0b-fae4-4cdb-b44d-0e4c032dde26/resourceGroups/backuprg/providers/Microsoft.Backup/BackupVault/backuprn/containers/hydrarecordvm"/>
		<add key="BMSContainerId" value="/subscriptions/f5303a0b-fae4-4cdb-b44d-0e4c032dde26/resourceGroups/backuprg/providers/Microsoft.Backup/BackupVault/backuprn/containers/iaasvmcontainer;hydrarecordvm;hydrarecordvm"/>
		<add key="BMSContainerName" value="iaasvmcontainer;hydrarecordvm;hydrarecordvm"/>
	</appSettings>
	<system.web>
		<membership defaultProvider="ClientAuthenticationMembershipProvider">
			<providers>
				<add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
			</providers>
		</membership>
		<roleManager defaultProvider="ClientRoleProvider" enabled="true">
			<providers>
				<add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
			</providers>
		</roleManager>
	</system.web>
</configuration>