{
  "Entries": [
    {
      "RequestUri": "/subscriptions/422b6c61-95b0-4213-b3be-7282315df71d/resourceGroups/to-delete-01/providers/Microsoft.Automation/automationAccounts/fbs-aa-01/softwareUpdateConfigurations/test-suc-001?api-version=2017-05-15-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"updateConfiguration\": {\r\n      \"operatingSystem\": \"Windows\",\r\n      \"windows\": {\r\n        \"includedUpdateClassifications\": \"Critical,Security\",\r\n        \"excludedKbNumbers\": [\r\n          \"KB123\",\r\n          \"KB123\"\r\n        ]\r\n      },\r\n      \"duration\": \"PT3H\",\r\n      \"azureVirtualMachines\": [\r\n        \"/subscriptions/422b6c61-95b0-4213-b3be-7282315df71d/resourceGroups/a-stasku-rg0/providers/Microsoft.Compute/virtualMachines/vmj-arm-01\"\r\n      ],\r\n      \"targets\": {\r\n        \"azureQueries\": [\r\n          {\r\n            \"scope\": [\r\n              \"/subscriptions/422b6c61-95b0-4213-b3be-7282315df71d/resourceGroups/a-stasku-rg0\",\r\n              \"/subscriptions/422b6c61-95b0-4213-b3be-7282315df71d\"\r\n            ],\r\n            \"locations\": [\r\n              \"Japan East\",\r\n              \"UK South\"\r\n            ],\r\n            \"tagSettings\": {\r\n              \"tags\": {\r\n                \"tag1\": [\r\n                  \"tag1Value1\",\r\n                  \"tag1Value2\"\r\n                ],\r\n                \"tag2\": [\r\n                  \"tag2Value1\",\r\n                  \"tag2Value2\"\r\n                ]\r\n              },\r\n              \"filterOperator\": \"All\"\r\n            }\r\n          }\r\n        ]\r\n      }\r\n    },\r\n    \"scheduleInfo\": {\r\n      \"startTime\": \"2019-05-05T19:26:00-07:00\",\r\n      \"expiryTimeOffsetMinutes\": 0.0,\r\n      \"nextRunOffsetMinutes\": 0.0,\r\n      \"interval\": 1,\r\n      \"frequency\": \"Day\",\r\n      \"timeZone\": \"America/Los_Angeles\",\r\n      \"creationTime\": \"0001-01-01T00:00:00-08:00\",\r\n      \"lastModifiedTime\": \"0001-01-01T00:00:00-08:00\"\r\n    },\r\n    \"tasks\": {\r\n      \"preTask\": {\r\n        \"source\": \"preScript\"\r\n      },\r\n      \"postTask\": {\r\n        \"parameters\": {\r\n          \"Num\": \"4\"\r\n        },\r\n        \"source\": \"postScript\"\r\n      }\r\n    }\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/422b6c61-95b0-4213-b3be-7282315df71d/resourceGroups/to-delete-01/providers/Microsoft.Automation/automationAccounts/fbs-aa-01/softwareUpdateConfigurations/test-suc-001?api-version=2017-05-15-preview"
        ],
        "x-ms-location": [
          "https://management.azure.com/subscriptions/422b6c61-95b0-4213-b3be-7282315df71d/resourceGroups/to-delete-01/providers/Microsoft.Automation/automationAccounts/fbs-aa-01/softwareUpdateConfigurations/test-suc-001?api-version=2017-05-15-preview"
        ],
        "ocp-location": [
          "https://management.azure.com/subscriptions/422b6c61-95b0-4213-b3be-7282315df71d/resourceGroups/to-delete-01/providers/Microsoft.Automation/automationAccounts/fbs-aa-01/softwareUpdateConfigurations/test-suc-001?api-version=2017-05-15-preview"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/422b6c61-95b0-4213-b3be-7282315df71d/resourceGroups/to-delete-01/providers/Microsoft.Automation/automationAccounts/fbs-aa-01/softwareUpdateConfigurations/test-suc-001\",\r\n  \"name\": \"test-suc-001\",\r\n  \"type\": null,\r\n  \"properties\": {\r\n    \"updateConfiguration\": {\r\n      \"operatingSystem\": \"Windows\",\r\n      \"windows\": {\r\n        \"includedUpdateClassifications\": \"Critical, Security\",\r\n        \"excludedKbNumbers\": [\r\n          \"KB123\",\r\n          \"KB123\"\r\n        ],\r\n        \"includedKbNumbers\": null,\r\n        \"rebootSetting\": \"IfRequired\",\r\n        \"IsInvalidKbNumbers\": false\r\n      },\r\n      \"linux\": null,\r\n      \"targets\": {\r\n        \"azureQueries\": [\r\n          {\r\n            \"scope\": [\r\n              \"/subscriptions/422b6c61-95b0-4213-b3be-7282315df71d\",\r\n              \"/subscriptions/422b6c61-95b0-4213-b3be-7282315df71d/resourceGroups/a-stasku-rg0\"\r\n            ],\r\n            \"tagSettings\": {\r\n              \"tags\": {\r\n                \"tag1\": [\r\n                  \"tag1Value1\",\r\n                  \"tag1Value2\"\r\n                ],\r\n                \"tag2\": [\r\n                  \"tag2Value1\",\r\n                  \"tag2Value2\"\r\n                ]\r\n              },\r\n              \"filterOperator\": \"All\"\r\n            },\r\n            \"locations\": [\r\n              \"Japan East\",\r\n              \"UK South\"\r\n            ]\r\n          }\r\n        ]\r\n      },\r\n      \"duration\": \"PT3H\",\r\n      \"azureVirtualMachines\": [\r\n        \"/subscriptions/422b6c61-95b0-4213-b3be-7282315df71d/resourceGroups/a-stasku-rg0/providers/Microsoft.Compute/virtualMachines/vmj-arm-01\"\r\n      ],\r\n      \"nonAzureComputerNames\": null\r\n    },\r\n    \"scheduleInfo\": {\r\n      \"description\": null,\r\n      \"startTime\": \"2019-05-05T19:26:00-07:00\",\r\n      \"startTimeOffsetMinutes\": -420.0,\r\n      \"expiryTime\": \"9999-12-31T15:59:00-08:00\",\r\n      \"expiryTimeOffsetMinutes\": -480.0,\r\n      \"isEnabled\": true,\r\n      \"nextRun\": \"2019-05-05T19:26:00-07:00\",\r\n      \"nextRunOffsetMinutes\": -420.0,\r\n      \"interval\": 1,\r\n      \"frequency\": \"Day\",\r\n      \"creationTime\": \"0001-01-01T00:00:00-08:00\",\r\n      \"lastModifiedTime\": \"0001-01-01T00:00:00-08:00\",\r\n      \"timeZone\": \"America/Los_Angeles\",\r\n      \"advancedSchedule\": null\r\n    },\r\n    \"provisioningState\": \"Provisioning\",\r\n    \"createdBy\": \"{scrubbed}\",\r\n    \"error\": null,\r\n    \"tasks\": {\r\n      \"preTask\": {\r\n        \"source\": \"preScript\",\r\n        \"parameters\": {}\r\n      },\r\n      \"postTask\": {\r\n        \"source\": \"postScript\",\r\n        \"parameters\": {\r\n          \"Num\": \"4\"\r\n        }\r\n      }\r\n    },\r\n    \"creationTime\": \"2018-10-23T13:10:14.95-07:00\",\r\n    \"lastModifiedBy\": null,\r\n    \"lastModifiedTime\": \"2018-10-23T13:11:22.343-07:00\"\r\n  }\r\n}",
      "StatusCode": 201
    },
[...]
    {
      "RequestUri": "/subscriptions/422b6c61-95b0-4213-b3be-7282315df71d/resourceGroups/to-delete-01/providers/Microsoft.Automation/automationAccounts/fbs-aa-01/softwareUpdateConfigurations/test-suc-001?api-version=2017-05-15-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11978"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"code\": \"NotFound\",\r\n  \"message\": \"Software update configuration not found\"\r\n}",
      "StatusCode": 404
    },
[...]
    {
      "RequestUri": "/subscriptions/422b6c61-95b0-4213-b3be-7282315df71d/resourceGroups/to-delete-01/providers/Microsoft.Automation/automationAccounts/fbs-aa-01/softwareUpdateConfigurations?api-version=2017-05-15-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11980"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/422b6c61-95b0-4213-b3be-7282315df71d/resourceGroups/to-delete-01/providers/Microsoft.Automation/automationAccounts/fbs-aa-01/softwareUpdateConfigurations/all-01\",\r\n      \"name\": \"all-01\",\r\n      \"properties\": {\r\n        \"updateConfiguration\": {\r\n          \"operatingSystem\": \"Windows\",\r\n          \"windows\": {\r\n            \"includedUpdateClassifications\": \"Critical, Security, UpdateRollup, FeaturePack, ServicePack, Definit[...]
    {
      "RequestUri": "/subscriptions/422b6c61-95b0-4213-b3be-7282315df71d/resourceGroups/to-delete-01/providers/Microsoft.Automation/automationAccounts/fbs-aa-01/softwareUpdateConfigurations?api-version=2017-05-15-preview&$filter=properties%2FupdateConfiguration%2FazureVirtualMachines%2Fany%28m%3A%20m%20eq%20%27%2Fsubscriptions%2F422b6c61-95b0-4213-b3be-7282315df71d%2FresourceGroups%2Fa-stasku-rg0%2Fproviders%2FMicrosoft.Compute%2FvirtualMachines%2Fvmj-arm-01%27%29",
      "RequestMethod": [...]
[...]
    {
      "RequestUri": "/subscriptions/422b6c61-95b0-4213-b3be-7282315df71d/resourceGroups/to-delete-01/providers/Microsoft.Automation/automationAccounts/fbs-aa-01/softwareUpdateConfigurations/test-suc-002?api-version=2017-05-15-preview",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-deletes": [
          "14998"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "422b6c61-95b0-4213-b3be-7282315df71d"
  }
}