{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "TagKey-9823": "TagValue-566",
          "TagKey-3481": "TagValue-320",
          "TagKey-4926": "TagValue-1187",
          "TagKey-751": "TagValue-3921",
          "TagKey-1866": "TagValue-8559",
          "TagKey-3094": "TagValue-9190",
          "TagKey-2449": "TagValue-9",
          "TagKey-8379": "TagValue-164",
          "TagKey-7470": "TagValue-2205",
          "TagKey-4236": "TagValue-3698",
          "TagKey-5316": "TagValue-2725"
        },
        "subscriptionId": "db1ab6f0-4769-4b27-930e-01e2ef9c123c",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": ".NET Mgmt SDK Test with TTL = 1 Day",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourcegroups/testRG-100?api-version=**",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {
          "test": "env"
        },
        "location": "eastus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-100",
        "name": "testRG-100",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus",
        "tags": {
          "test": "env"
        },
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-100/providers/Microsoft.ApiManagement/service/testapi-2864?api-version=2021-08-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "sku": {
          "name": "Developer",
          "capacity": 1
        },
        "identity": {
          "type": "SystemAssigned"
        },
        "tags": {},
        "location": "eastus",
        "properties": {
          "publisherEmail": "Sample@Sample.com",
          "publisherName": "sample"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022AAAAAABuGac=\u0022",
        "Location": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-100/providers/Microsoft.ApiManagement/service/testapi-2864/operationresults/ZWFzdHVzOnRlc3RhcGktMjg2NF9BY3RfZjk1MTc2OWE=?api-version=2021-08-01",
        "Retry-After": "60",
        "x-ms-ratelimit-remaining-subscription-writes": "1198"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-100/providers/Microsoft.ApiManagement/service/testapi-2864",
        "name": "testapi-2864",
        "type": "Microsoft.ApiManagement/service",
        "tags": {},
        "location": "East US",
        "etag": "AAAAAABuGac=",
        "properties": {
          "publisherEmail": "Sample@Sample.com",
          "publisherName": "sample",
          "notificationSenderEmail": "apimgmt-noreply@mail.windowsazure.com",
          "provisioningState": "Created",
          "targetProvisioningState": "Activating",
          "createdAtUtc": "2022-08-06T14:04:44.963298Z",
          "gatewayUrl": "https://testapi-2864.azure-api.net",
          "gatewayRegionalUrl": null,
          "portalUrl": null,
          "developerPortalUrl": null,
          "managementApiUrl": null,
          "scmUrl": null,
          "hostnameConfigurations": [
            {
              "type": "Proxy",
              "hostName": "testapi-2864.azure-api.net",
              "encodedCertificate": null,
              "keyVaultId": null,
              "certificatePassword": null,
              "negotiateClientCertificate": false,
              "certificate": null,
              "defaultSslBinding": true,
              "identityClientId": null,
              "certificateSource": "BuiltIn",
              "certificateStatus": null
            }
          ],
          "publicIPAddresses": null,
          "privateIPAddresses": null,
          "additionalLocations": null,
          "virtualNetworkConfiguration": null,
          "customProperties": null,
          "virtualNetworkType": "None",
          "certificates": null,
          "disableGateway": false,
          "apiVersionConstraint": {
            "minApiVersion": null
          },
          "publicIpAddressId": null,
          "publicNetworkAccess": "Enabled",
          "privateEndpointConnections": null,
          "platformVersion": "undetermined"
        },
        "sku": {
          "name": "Developer",
          "capacity": 1
        },
        "identity": {
          "type": "SystemAssigned",
          "principalId": "f4928ab0-1795-407a-9108-e859f82999f1",
          "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47"
        },
        "zones": null,
        "systemData": {
          "createdBy": "8e6d47e0-7969-4fde-a62c-4fea4f165e98",
          "createdByType": "Application",
          "createdAt": "2022-08-06T14:04:42.219788Z",
          "lastModifiedBy": "8e6d47e0-7969-4fde-a62c-4fea4f165e98",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2022-08-06T14:04:42.219788Z"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-100/providers/Microsoft.ApiManagement/service/testapi-2864/operationresults/ZWFzdHVzOnRlc3RhcGktMjg2NF9BY3RfZjk1MTc2OWE=?api-version=2021-08-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Location": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-100/providers/Microsoft.ApiManagement/service/testapi-2864/operationresults/ZWFzdHVzOnRlc3RhcGktMjg2NF9BY3RfZjk1MTc2OWE=?api-version=2021-08-01",
        "Retry-After": "60",
        "x-ms-ratelimit-remaining-subscription-reads": "11998"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-100/providers/Microsoft.ApiManagement/service/testapi-2864/authorizationServers?api-version=2021-08-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11939"
      },
      "ResponseBody": {
        "value": [],
        "count": 0
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-100/providers/Microsoft.ApiManagement/service/testapi-2864/authorizationServers/authsid3610?api-version=2021-08-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "description": "authdescription7208",
          "authorizationMethods": [
            "POST",
            "GET"
          ],
          "clientAuthenticationMethod": [
            "Basic"
          ],
          "tokenBodyParameters": [
            {
              "name": "tokenname7771",
              "value": "tokenvalue6275"
            }
          ],
          "tokenEndpoint": "https://contoso.com/token",
          "supportState": true,
          "defaultScope": "oauth2scope2623",
          "bearerTokenSendingMethods": [
            "authorizationHeader",
            "query"
          ],
          "resourceOwnerUsername": "authresourceownerusername9224",
          "resourceOwnerPassword": "authresourceownerpwd7492",
          "displayName": "authName4944",
          "clientRegistrationEndpoint": "https://contoso.com/clients/reg",
          "authorizationEndpoint": "https://contoso.com/auth",
          "grantTypes": [
            "authorizationCode",
            "implicit",
            "resourceOwnerPassword"
          ],
          "clientId": "clientid6114",
          "clientSecret": "authclientsecret4567"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022AAAAAAAACSQ=\u0022",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-100/providers/Microsoft.ApiManagement/service/testapi-2864/authorizationServers/authsid3610",
        "type": "Micros[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-100/providers/Microsoft.ApiManagement/service/testapi-2864/authorizationServers/authsid3610/listSecrets?api-version=2021-08-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022AAAAAAAACSQ=\u0022",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "clientSecret": "authclientsecret4567",
        "resourceOwnerUsername": "authresourceownerusername9224",
        "resourceOwnerPassword": "authresourceownerpwd7492"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-100/providers/Microsoft.ApiManagement/service/testapi-2864/authorizationServers/authsid3610?api-version=2021-08-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-Match": "*"
      },
      "RequestBody": {
        "properties": {
          "grantTypes": [
            "authorizationCode",
            "resourceOwnerPassword"
          ]
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022AAAAAAAACSU=\u0022",
        "x-ms-ratelimit-remaining-subscription-writes": "1198"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-100/providers/Microsoft.ApiManagement/service/testapi-2864/authorizationServers/authsid3610?api-version=2021-08-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11935"
      },
      "ResponseBody": {
        "error": {
          "code": "ResourceNotFound",
          "message": "OAuth2AuthorizationServer not found.",
          "details": null
        }
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "RandomSeed": "846772570",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "db1ab6f0-4769-4b27-930e-01e2ef9c123c"
  }
}
