{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourcegroups/MediaServiceRG6256?api-version=2021-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11823"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/MediaServiceRG6256",
        "name": "MediaServiceRG6256",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus2",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/MediaServiceRG6256/providers/Microsoft.Media/mediaservices/mediaservice7311?api-version=2021-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "westus2",
        "properties": {
          "storageAccounts": [
            {
              "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/MediaServiceRG6256/providers/Microsoft.Storage/storageAccounts/azstorageformedia874",
              "type": "Primary"
            }
          ]
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Media/locations/westus2/mediaServicesOperationStatuses/f5790874-49e6-4ffc-ba8b-056e1a35413c?api-version=2021-11-01",
        "Content-Type": "application/json; odata.metadata=minimal",
        "Location": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Media/locations/westus2/mediaServicesOperationResults/f5790874-49e6-4ffc-ba8b-056e1a35413c?api-version=2021-11-01",
        "OData-Version": "4.0",
        "Retry-After": "30",
        "x-ms-ratelimit-remaining-subscription-writes": "1121"
      },
      "ResponseBody": {
        "name": "mediaservice7311",
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/MediaServiceRG6256/providers/Microsoft.Media/mediaservices/mediaservice7311",
        "type": "Microsoft.Media/mediaservices",
        "location": "West US 2",
        "tags": {},
        "properties": {
          "mediaServiceId": "4dcaeee1-37ae-4dc0-9b2c-a5b80e9e2b92",
          "storageAccounts": [
            {
              "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/MediaServiceRG6256/providers/Microsoft.Storage/storageAccounts/azstorageformedia874",
              "type": "Primary"
            }
          ],
          "storageAuthentication": "System",
          "keyDelivery": {
            "accessControl": {
              "defaultAction": "Allow",
              "ipAllowList": []
            }
          },
          "publicNetworkAccess": "Enabled",
          "provisioningState": "InProgress",
          "privateEndpointConnections": []
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Media/locations/westus2/mediaServicesOperationStatuses/f5790874-49e6-4ffc-ba8b-056e1a35413c?api-version=2021-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal; odata.streaming=true",
        "OData-Version": "4.0",
        "x-ms-ratelimit-remaining-subscription-reads": "11822"
      },
      "ResponseBody": {
        "name": "f5790874-49e6-4ffc-ba8b-056e1a35413c",
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Media/locations/westus2/mediaServicesOperationStatuses/f5790874-49e6-4ffc-ba8b-056e1a35413c",
        "startTime": "2022-08-17T02:24:06.7288435Z",
        "endTime": "2022-08-17T02:24:07.0263931Z",
        "status": "Succeeded"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/MediaServiceRG6256/providers/Microsoft.Media/mediaservices/mediaservice7311?api-version=2021-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal; odata.streaming=true",
        "OData-Version": "4.0",
        "x-ms-ratelimit-remaining-subscription-reads": "11821"
      },
      "ResponseBody": {
        "name": "mediaservice7311",
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/MediaServiceRG6256/providers/Microsoft.Media/mediaservices/mediaservice7311",
        "type": "Microsoft.Media/mediaservices",
        "location": "West US 2",
        "properties": {
          "mediaServiceId": "4dcaeee1-37ae-4dc0-9b2c-a5b80e9e2b92",
          "storageAccounts": [
            {
              "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/MediaServiceRG6256/providers/Microsoft.Storage/storageAccounts/azstorageformedia874",
              "type": "Primary"
            }
          ],
          "storageAuthentication": "System",
          "encryption": {
            "type": "SystemKey"
          },
          "keyDelivery": {
            "accessControl": {
              "defaultAction": "Allow",
              "ipAllowList": []
            }
          },
          "publicNetworkAccess": "Enabled",
          "provisioningState": "Succeeded",
          "privateEndpointConnections": []
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/MediaServiceRG6256/providers/Microsoft.Media/mediaservices?api-version=2021-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal",
        "OData-Version": "4.0",
        "x-ms-ratelimit-remaining-subscription-reads": "11820"
      },
      "ResponseBody": {
        "value": [
          {
            "name": "mediaservice9928",
            "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/MediaServiceRG6256/providers/Microsoft.Media/mediaservices/mediaservice9928",
            "type": "Microsoft.Media/mediaservices",
            "location": "West US 2",
            "properties": {
              "mediaServiceId": "da09f47e-9a70-4739-b50b-4a3529619dd7",
              "storageAccounts": [
                {
                  "id": "/subscription[...]
