{
  "Entries": [
    {
      "RequestUri": "/subscriptions/bc130894-c5b3-4adc-a077-0b51f3714abe/resourceGroups/RedisGetList2174/providers/Microsoft.Cache/Redis/RedisGetList460/listKeys?api-version=2018-03-01",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-rp-server-mvid": [
          "c8d499fd-faba-42bf-96f3-7c4db098f0ac"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"primaryKey\": \"H2XrWm85y00CVPRj80NDGHT6D2uktMmD9qFRih7c6yQ=\",\r\n  \"secondaryKey\": \"lfQLk5wvIo3TYPeALdduTcYzRdDr9TxSY9g4qctEdV8=\"\r\n}",
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "bc130894-c5b3-4adc-a077-0b51f3714abe"
  }
}