{
  "Entries": [
    {
      "RequestUri": "/subscriptions/e78961ba-36fe-4739-9212-e3031b4c8db7/providers/Microsoft.Authorization/policyDefinitions/02a84be7-c304-421f-9bb7-5d2c26af54ad/providers/Microsoft.PolicyInsights/policyStates/latest/summarize?api-version=2019-10-01&$top=10&$from=2020-03-04T00:00:00Z",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-policy-insights-requests": [
          "594"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"@odata.context\": \"https://management.azure.com/subscriptions/e78961ba-36fe-4739-9212-e3031b4c8db7/providers/Microsoft.Authorization/policyDefinitions/02a84be7-c304-421f-9bb7-5d2c26af54ad/providers/Microsoft.PolicyInsights/policyStates/$metadata#summary\",\r\n  \"@odata.count\": 1,\r\n  \"value\": [\r\n    {\r\n      \"@odata.id\": null,\r\n      \"@odata.context\": \"https://management.azure.com/subscriptions/e78961ba-36fe-4739-9212-e3031b4c8db7/providers/Microsoft.Authorization/policyDefinitions/02a84be7-c304-421f-9bb7-5d2c26af54ad/providers/Microsoft.PolicyInsights/policyStates/$metadata#summary/$entity\",\r\n      \"results\": {\r\n        \"queryResultsUri\": \"https://management.azure.com/subscriptions/e78961ba-36fe-4739-9212-e3031b4c8db7/providers/Microsoft.Authorization/policyDefinitions/02a84be7-c304-421f-9bb7-5d2c26af54ad/providers/Microsoft.PolicyInsights/policyStates/latest/queryResults?api-version=2019-10-01&$from=2020-03-04 00:00:00Z&$to=2020-03-19 23:49:53Z\",\r\n        \"nonCompliantResources\": 0,\r\n        \"nonCompliantPolicies\": 0,\r\n        \"resourceDetails\": [],\r\n        \"policyDetails\": [],\r\n        \"policyGroupDetails\": []\r\n      },\r\n      \"policyAssignments\": []\r\n    }\r\n  ]\r\n}",
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "f67cc918-f64f-4c3f-aa24-a855465f9d41"
  }
}