{
  "Entries": [
    {
      "RequestUri": "//subscriptions/e78961ba-36fe-4739-9212-e3031b4c8db7/resourcegroups/sandipsh/providers/microsoft.storage/storageaccounts/sandipshsa1/providers/Microsoft.PolicyInsights/policyStates/latest/summarize?api-version=2019-10-01&$top=10&$from=2020-03-04T00:00:00Z",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-policy-insights-requests": [
          "597"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"@odata.context\": \"https://management.azure.com/subscriptions/e78961ba-36fe-4739-9212-e3031b4c8db7/resourcegroups/sandipsh/providers/microsoft.storage/storageaccounts/sandipshsa1/providers/Microsoft.PolicyInsights/policyStates/$metadata#summary\",\r\n  \"@odata.count\": 1,\r\n  \"value\": [\r\n    {\r\n      \"@odata.id\": null,\r\n      \"@odata.context\": \"https://management.azure.com/subscriptions/e78961ba-36fe-4739-9212-e3031b4c8db7/resourcegroups/sandipsh/providers/microsoft.storage/storageaccounts/sandipshsa1/providers/Microsoft.PolicyInsights/policyStates/$metadata#summary/$entity\",\r\n      \"results\": {\r\n        \"queryResultsUri\": \"https://management.azure.com/subscriptions/e78961ba-36fe-4739-9212-e3031b4c8db7/resourcegroups/sandipsh/providers/microsoft.storage/storageaccounts/sandipshsa1/providers/Microsoft.PolicyInsights/policyStates/latest/queryResults?api-version=2019-10-01&$from=2020-03-04 00:00:00Z&$to=2020-03-19 23:50:02Z\",\r\n        \"nonCompliantResources\": 1,\r\n        \"nonCompliantPolicies\": 8,\r\n        \"resourceDetails\": [\r\n          {\r\n            \"complianceState\": \"noncompliant\",\r\n            \"count\": 1\r\n          }\r\n        ],\r\n        \"policyDetails\": [\r\n          {\r\n            \"complianceState\": \"compliant\",\r\n            \"count\": 4\r\n          },\r\n          {\r\n            \"complianceState\": \"noncompliant\",\r\n            \"count\": 8\r\n          }\r\n        ],\r\n        \"policyGroupDetails\": [\r\n          {\r\n            \"complianceState\": \"compliant\",\r\n            \"count\": 6\r\n          },\r\n          {\r\n            \"complianceState\": \"noncompliant\",\r\n            \"count\": 10\r\n          }\r\n        ]\r\n      },\r\n      \"policyAssignments\": [\r\n        {\r\n          \"policyAssignmentId\": \"/subscriptions/e78961ba-36fe-4739-9212-e3031b4c8db7/providers/microsoft.authorization/policyassignments/1e4e70f9cd4846268b6998ee\",\r\n          \"policySetDefinitionId\": \"/providers/Microsoft.Authorization/policySetDefinitions/1f3afdf9-d0c9-4c3d-847f-89da613e70a8\",\r\n          \"results\": {\r\n            \"queryResultsUri\": \"https://management.azure.com/subscriptions/e78961ba-36fe-4739-9212-e3031b4c8db7/resourcegroups/sandipsh/providers/microsoft.storage/storageaccounts/sandipshsa1/providers/Microsoft.PolicyInsights/policyStates/latest/queryResults?api-version=2019-10-01&$from=2020-03-04 00:00:00Z&$to=2020-03-19 23:50:02Z and PolicyAssignmentId eq '/subscriptions/e78961ba-36fe-4739-9212-e3031b4c8db7/providers/microsoft.authorization/policyassignments/1e4e70f9cd4846268b6998ee'\",\r\n            \"nonCompliantResources\": 0,\r\n            \"nonCompliantPolicies\": 0,\r\n            \"resourceDetails\": [\r\n              {\r\n                \"complianceState\": \"compliant\",\r\n                \"count\": 1\r\n              }\r\n            ],\r\n            \"policyDetails\": [\r\n              {\r\n                \"complianceState\": \"compliant\",\r\n                \"count\": 2\r\n              }\r\n            ],\r\n            \"policyGroupDetails\": [\r\n              {\r\n                \"complianceState\": \"compliant\",\r\n                \"count\": 1\r\n              }\r\n            ]\r\n          },\r\n          \"policyDefinitions\": [\r\n            {\r\n              \"policyDefinitionGroupNames\": [\r\n                \"\"\r\n              ],\r\n              \"policyDefinitionReferenceId\": \"securetransfertostorageaccountmonitoring\",\r\n              \"policyDefinitionId\": \"/providers/microsoft.authorization/policydefinitions/404c3081-a854-4457-ae30-26a93ef643f9\",\r\n              \"effect\": \"audit\",\r\n              \"results\": {\r\n                \"queryResultsUri\": \"https://management.azure.com/subscriptions/e78961ba-36fe-4739-9212-e3031b4c8db7/resourcegroups/sandipsh/providers/microsoft.storage/storageaccounts/sandipshsa1/providers/Microsoft.PolicyInsights/policyStates/latest/queryResults?api-version=2019-10-01&$from=2020-03-04 00:00:00Z&$to=2020-03-19 23:50:02Z and PolicyAssignmentId eq '/subscriptions/e78961ba-36fe-4739-9212-e3031b4c8db7/providers/microsoft.authorizatio[...]
