{
  "Entries": [
    {
      "RequestUri": "/subscriptions/e78961ba-36fe-4739-9212-e3031b4c8db7/providers/Microsoft.PolicyInsights/policyStates/latest/summarize?api-version=2019-10-01&$top=10&$from=2020-07-04T00:00:00Z",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-policy-insights-requests": [
          "598"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"@odata.context\": \"https://management.azure.com/subscriptions/e78961ba-36fe-4739-9212-e3031b4c8db7/providers/Microsoft.PolicyInsights/policyStates/$metadata#summary\",\r\n  \"@odata.count\": 1,\r\n  \"value\": [\r\n    {\r\n      \"@odata.id\": null,\r\n      \"@odata.context\": \"https://management.azure.com/subscriptions/e78961ba-36fe-4739-9212-e3031b4c8db7/providers/Microsoft.PolicyInsights/policyStates/$metadata#summary/$entity\",\r\n      \"results\": {\r\n        \"queryResultsUri\": \"https://management.azure.com/subscriptions/e78961ba-36fe-4739-9212-e3031b4c8db7/providers/Microsoft.PolicyInsights/policyStates/latest/queryResults?api-version=2019-10-01&$from=2020-07-04 00:00:00Z&$to=2020-09-24 22:02:35Z\",\r\n        \"nonCompliantResources\": 401,\r\n        \"nonCompliantPolicies\": 28,\r\n        \"resourceDetails\": [\r\n          {\r\n            \"complianceState\": \"noncompliant\",\r\n            \"count\": 401\r\n          }\r\n        ],\r\n        \"policyDetails\": [\r\n          {\r\n            \"complianceState\": \"noncompliant\",\r\n            \"count\": 28\r\n          },\r\n          {\r\n            \"complianceState\": \"compliant\",\r\n            \"count\": 5\r\n          }\r\n        ],\r\n        \"policyGroupDetails\": [\r\n          {\r\n            \"complianceState\": \"noncompliant\",\r\n            \"count\": 47\r\n          },\r\n          {\r\n            \"complianceState\": \"compliant\",\r\n            \"count\": 14\r\n          }\r\n        ]\r\n      },\r\n      \"policyAssignments\": [\r\n        {\r\n          \"policyAssignmentId\": \"/subscriptions/e78961ba-36fe-4739-9212-e3031b4c8db7/providers/microsoft.authorization/policyassignments/88c08e678a504eec8471d660\",\r\n          \"policySetDefinitionId\": \"\",\r\n          \"results\": {\r\n            \"queryResultsUri\": \"https://management.azure.com/subscriptions/e78961ba-36fe-4739-9212-e3031b4c8db7/providers/Microsoft.PolicyInsights/policyStates/latest/queryResults?api-version=2019-10-01&$from=2020-07-04 00:00:00Z&$to=2020-09-24 22:02:35Z and PolicyAssignmentId eq '/subscriptions/e78961ba-36fe-4739-9212-e3031b4c8db7/providers/microsoft.authorization/policyassignments/88c08e678a504eec8471d660'\",\r\n            \"nonCompliantResources\": 2,\r\n            \"nonCompliantPolicies\": 1,\r\n            \"resourceDetails\": [\r\n              {\r\n                \"complianceState\": \"compliant\",\r\n                \"count\": 1\r\n              },\r\n              {\r\n                \"complianceState\": \"noncompliant\",\r\n                \"count\": 2\r\n              }\r\n            ],\r\n            \"policyDetails\": [\r\n              {\r\n                \"complianceState\": \"noncompliant\",\r\n                \"count\": 1\r\n              }\r\n            ],\r\n            \"policyGroupDetails\": [\r\n              {\r\n                \"complianceState\": \"noncompliant\",\r\n                \"count\": 1\r\n              }\r\n            ]\r\n          },\r\n          \"policyDefinitions\": [\r\n            {\r\n              \"policyDefinitionGroupNames\": [\r\n                \"\"\r\n              ],\r\n              \"policyDefinitionReferenceId\": \"\",\r\n              \"policyDefinitionId\": \"/subscriptions/e78961ba-36fe-4739-9212-e3031b4c8db7/providers/microsoft.authorization/policydefinitions/3520924f-7a65-4cbf-83e6-e2ed67bbf0da\",\r\n              \"effect\": \"deny\",\r\n              \"results\": {\r\n                \"queryResultsUri\": \"https://management.azure.com/subscriptions/e78961ba-36fe-4739-9212-e3031b4c8db7/providers/Microsoft.PolicyInsights/policyStates/latest/queryResults?api-version=2019-10-01&$from=2020-07-04 00:00:00Z&$to=2020-09-24 22:02:35Z and PolicyAssignmentId eq '/subscriptions/e78961ba-36fe-4739-9212-e3031b4c8db7/providers/microsoft.authorization/policyassignments/88c08e678a504eec8471d660' and PolicyDefinitionId eq '/subscri[...]
