{
  "Entries": [
    {
      "RequestUri": "/providers/Microsoft.Management/managementGroups/azgovtest5/providers/Microsoft.PolicyInsights/policyStates/latest/summarize?api-version=2019-10-01&$top=10&$from=2019-11-21T00:00:00Z",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-tenant-policy-insights-requests": [
          "199"
        ],
        "x-ms-ratelimit-remaining-tenant-reads": [
          "11999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"@odata.context\": \"https://management.azure.com/providers/Microsoft.Management/managementGroups/azgovtest5/providers/Microsoft.PolicyInsights/policyStates/$metadata#summary\",\r\n  \"@odata.count\": 1,\r\n  \"value\": [\r\n    {\r\n      \"@odata.id\": null,\r\n      \"@odata.context\": \"https://management.azure.com/providers/Microsoft.Management/managementGroups/azgovtest5/providers/Microsoft.PolicyInsights/policyStates/$metadata#summary/$entity\",\r\n      \"results\": {\r\n        \"queryResultsUri\": \"https://management.azure.com/providers/Microsoft.Management/managementGroups/azgovtest5/providers/Microsoft.PolicyInsights/policyStates/latest/queryResults?api-version=2019-10-01&$from=2019-11-21 00:00:00Z&$to=2019-11-25 23:00:03Z\",\r\n        \"nonCompliantResources\": 19,\r\n        \"nonCompliantPolicies\": 7,\r\n        \"resourceDetails\": [\r\n          {\r\n            \"complianceState\": \"compliant\",\r\n            \"count\": 154\r\n          },\r\n          {\r\n            \"complianceState\": \"noncompliant\",\r\n            \"count\": 19\r\n          }\r\n        ],\r\n        \"policyDetails\": [\r\n          {\r\n            \"complianceState\": \"noncompliant\",\r\n            \"count\": 7\r\n          },\r\n          {\r\n            \"complianceState\": \"compliant\",\r\n            \"count\": 2\r\n          }\r\n        ],\r\n        \"policyGroupDetails\": [\r\n          {\r\n            \"complianceState\": \"noncompliant\",\r\n            \"count\": 8\r\n          },\r\n          {\r\n            \"complianceState\": \"compliant\",\r\n            \"count\": 3\r\n          }\r\n        ]\r\n      },\r\n      \"policyAssignments\": [\r\n        {\r\n          \"policyAssignmentId\": \"/subscriptions/e78961ba-36fe-4739-9212-e3031b4c8db7/providers/microsoft.authorization/policyassignments/1e4e70f9cd4846268b6998ee\",\r\n          \"policySetDefinitionId\": \"/providers/Microsoft.Authorization/policySetDefinitions/1f3afdf9-d0c9-4c3d-847f-89da613e70a8\",\r\n          \"results\": {\r\n            \"queryResultsUri\": \"https://management.azure.com/providers/Microsoft.Management/managementGroups/azgovtest5/providers/Microsoft.PolicyInsights/policyStates/latest/queryResults?api-version=2019-10-01&$from=2019-11-21 00:00:00Z&$to=2019-11-25 23:00:03Z and PolicyAssignmentId eq '/subscriptions/e78961ba-36fe-4739-9212-e3031b4c8db7/providers/microsoft.autho[...]
