{
  "Entries": [
    {
      "RequestUri": "/subscriptions/e78961ba-36fe-4739-9212-e3031b4c8db7/resourceGroups/sandipsh/providers/Microsoft.PolicyInsights/policyStates/latest/summarize?api-version=2019-10-01&$top=10&$from=2020-03-04T00:00:00Z",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-policy-insights-requests": [
          "599"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"@odata.context\": \"https://management.azure.com/subscriptions/e78961ba-36fe-4739-9212-e3031b4c8db7/resourceGroups/sandipsh/providers/Microsoft.PolicyInsights/policyStates/$metadata#summary\",\r\n  \"@odata.count\": 1,\r\n  \"value\": [\r\n    {\r\n      \"@odata.id\": null,\r\n      \"@odata.context\": \"https://management.azure.com/subscriptions/e78961ba-36fe-4739-9212-e3031b4c8db7/resourceGroups/sandipsh/providers/Microsoft.PolicyInsights/policyStates/$metadata#summary/$entity\",\r\n      \"results\": {\r\n        \"queryResultsUri\": \"https://management.azure.com/subscriptions/e78961ba-36fe-4739-9212-e3031b4c8db7/resourceGroups/sandipsh/providers/Microsoft.PolicyInsights/policyStates/latest/queryResults?api-version=2019-10-01&$from=2020-03-04 00:00:00Z&$to=2020-03-19 23:42:11Z\",\r\n        \"nonCompliantResources\": 18,\r\n        \"nonCompliantPolicies\": 17,\r\n        \"resourceDetails\": [\r\n          {\r\n            \"complianceState\": \"noncompliant\",\r\n            \"count\": 18\r\n          }\r\n        ],\r\n        \"policyDetails\": [\r\n          {\r\n            \"complianceState\": \"noncompliant\",\r\n            \"count\": 17\r\n          },\r\n          {\r\n            \"complianceState\": \"compliant\",\r\n            \"count\": 3\r\n          }\r\n        ],\r\n        \"policyGroupDetails\": [\r\n          {\r\n            \"complianceState\": \"noncompliant\",\r\n            \"count\": 23\r\n          },\r\n          {\r\n            \"complianceState\": \"compliant\",\r\n            \"count\": 5\r\n          }\r\n        ]\r\n      },\r\n      \"policyAssignments\": [\r\n        {\r\n          \"policyAssignmentId\": \"/subscriptions/e78961ba-36fe-4739-9212-e3031b4c8db7/providers/microsoft.authorization/policyassignments/395d27a443f64475aa90e1ef\",\r\n          \"policySetDefinitionId\": \"\",\r\n          \"results\": {\r\n            \"queryResultsUri\": \"https://management.azure.com/subscriptions/e78961ba-36fe-4739-9212-e3031b4c8db7/resourceGroups/sandipsh/providers/Microsoft.PolicyInsights/policyStates/latest/queryResults?api-version=2019-10-01&$from=2020-03-04 00:00:00Z&$to=2020-03-19 23:42:11Z and PolicyAssignmentId eq '/subscriptions/e78961ba-36fe-4739-9212-e3031b4c8db7/providers/microsoft.authorization/policyassignments/395d27a443f64475aa90e1ef'\",\r\n            \"nonCompliantResources\": 18,\r\n            \"nonCompliantPolicies\": 1,\r\n            \"resourceDetails\": [\r\n              {\r\n                \"complianceState\": \"noncompliant\",\r\n                \"count\": 18\r\n              }\r\n            ],\r\n            \"policyDetails\": [\r\n              {\r\n                \"complianceState\": \"noncompliant\",\r\n                \"count\": 1\r\n              }\r\n            ],\r\n            \"policyGroupDetails\": [\r\n              {\r\n                \"complianceState\": \"noncompliant\",\r\n                \"count\": 1\r\n              }\r\n            ]\r\n          },\r\n          \"policyDefinitions\": [\r\n            {\r\n              \"policyDefinitionGroupNames\": [\r\n                \"\"\r\n              ],\r\n              \"policyDefinitionReferenceId\": \"\",\r\n              \"policyDefinitionId\": \"/subscriptions/e78961ba-36fe-4739-9212-e3031b4c8db7/providers/microsoft.authorization/policydefinitions/7851b07c-ec36-4c8f-840c-75939b48f8d9\",\r\n              \"effect\": \"audit\",\r\n              \"results\": {\r\n                \"queryResultsUri\": \"https://management.azure.com/subscriptions/e78961ba-36fe-4739-9212-e3031b4c8db7/resourceGroups/sandipsh/providers/Microsoft.PolicyInsights/policyStates/latest/queryResults?api-version=2019-10-01&$from=2020-03-04 00:00:00Z&$to=2020-03-19 23:42:11Z and PolicyAssignmentId eq '/subscriptions/e78961ba-36fe-4739-9212-e3031b4c8db7/providers/microsoft.authorization/policyassignments/395d27a443f64475aa90e1ef' and PolicyDefinitionId eq '/subscriptions/e78961ba-36fe-4739-9212-e3031b4c8db7/providers/microsoft.authorization/policydefinitions/7851b07c-ec36-4c8f-840c-75939b48f8d9'\",\r\n                \"nonCompliantResources\": 18,\r\n                \"resourceDetails\": [\r\n                  {\r\n                    \"complianceState\": \"noncompliant\",\r\n                    \"count\": 18\r\n                  }\r\n                ],\r\n                \"policyDetails\": [\r\n                  {\r\n                    \"complianceState\": \"noncompliant\",\r\n                    \"count\": 1\r\n                  }\r\n                ],\r\n                \"policyGroupDetails\": [\r\n                  {\r\n                    \"complianceState\": \"noncompliant\",\r\n                    \"count\": 1\r\n                  }\r\n                ]\r\n              }\r\n            }\r\n          ],\r\n          \"policyGroups\": [\r\n            {\r\n              \"policyGroupName\": \"\",\r\n              \"results\": {\r\n                \"queryResultsUri\": \"https://management.azure.com/subscriptions/e78961ba-36fe-4739-9212-e3031b4c8db7/resourceGroups/sandipsh/providers/Microsoft.PolicyInsights/policyStates/latest/queryResults?api-version=2019-10-01&$from=2020-03-04 00:00:00Z&$to=2020-03-19 23:42:11Z and PolicyAssignmentId eq '/subscriptions/e78961ba-36fe-4739-9212-e3031b4c8db7/providers/microsoft.authorization/policyassignments/395d27a443f64475aa90e1ef' and PolicySetDe[...]
