{
  "Entries": [
    {
      "RequestUri": "/subscriptions/55f3dcd4-cac7-43b4-990b-a139d62a1eb2/resourcegroups?api-version=2015-11-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11978"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/55f3dcd4-cac7-43b4-990b-a139d62a1eb2/resourceGroups/Acis-KeyVault-int\",\r\n      \"name\": \"Acis-KeyVault-int\",\r\n      \"location\": \"westus2\",\r\n      \"properties\": {\r\n        \"provisioningState\": \"Succeeded\"\r\n      }\r\n    },\r\n    {\r\n      \"id\": \"/subscriptions/55f3dcd4-cac7-43b4-990b-a139d62a1eb2/resourceGroups/AcisKeyVaultInt\",\r\n      \"name\": \"AcisKeyVaultInt\",\r\n      \"location\": \"westus2\",\r\n      \"properties\": {\r\n        \"provisioningState\": \"Succeeded\"\r\n      }\r\n    },\r\n    {\r\n      \"id\": \"/subscriptions/55f3dcd4-cac7-43b4-990b-a139d62a1eb2/resourceGroups/aegBugbashResourceGroup\",\r\n      \"name\": \"aegBugbashResourceGroup\",\r\n     [...]
    {
      "RequestUri": "/subscriptions/55f3dcd4-cac7-43b4-990b-a139d62a1eb2/resourcegroups/sdk-EventGrid-RG-2176?api-version=2015-11-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"westcentralus\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1194"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/55f3dcd4-cac7-43b4-990b-a139d62a1eb2/resourceGroups/sdk-EventGrid-RG-2176\",\r\n  \"name\": \"sdk-EventGrid-RG-2176\",\r\n  \"location\": \"westcentralus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/55f3dcd4-cac7-43b4-990b-a139d62a1eb2/resourceGroups/sdk-EventGrid-RG-2176/providers/Microsoft.EventGrid/topics/sdk-Topic-8360?api-version=2018-09-15-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"westcentralus\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Retry-After": [
          "10"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com:443/subscriptions/55f3dcd4-cac7-43b4-990b-a139d62a1eb2/providers/Microsoft.EventGrid/locations/westcentralus/operationsStatus/E1D011BB-9874-40CE-A5CA-974C912C1BAF?api-version=2018-09-15-preview"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"provisioningState\": \"Creating\",\r\n    \"endpoint\": null\r\n  },\r\n  \"location\": \"westcentralus\",\r\n  \"tags\": null,\r\n  \"id\": \"/subscriptions/55f3dcd4-cac7-43b4-990b-a139d62a1eb2/resourceGroups/sdk-EventGrid-RG-2176/providers/Microsoft.EventGrid/topics/sdk-Topic-8360\",\r\n  \"name\": \"sdk-Topic-8360\",\r\n  \"type\": \"Microsoft.EventGrid/topics\"\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/55f3dcd4-cac7-43b4-990b-a139d62a1eb2/providers/Microsoft.EventGrid/locations/westcentralus/operationsStatus/E1D011BB-9874-40CE-A5CA-974C912C1BAF?api-version=2018-09-15-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"https://management.azure.com/subscriptions/55f3dcd4-cac7-43b4-990b-a139d62a1eb2/providers/Microsoft.EventGrid/locations/westcentralus/operationsStatus/E1D011BB-9874-40CE-A5CA-974C912C1BAF?api-version=2018-09-15-preview\",\r\n  \"name\": \"e1d011bb-9874-40ce-a5ca-974c912c1baf\",\r\n  \"status\": \"Succeeded\"\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/55f3dcd4-cac7-43b4-990b-a139d62a1eb2/resourceGroups/sdk-EventGrid-RG-2176/providers/Microsoft.EventGrid/topics/sdk-Topic-8360?api-version=2018-09-15-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11998"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"endpoint\": \"https://sdk-topic-8360.westcentralus-1.eventgrid.azure.net/api/events\",\r\n    \"inputSchema\": \"EventGridSchema\"\r\n  },\r\n  \"location\": \"westcentralus\",\r\n  \"tags\": null,\r\n  \"id\": \"/subscriptions/55f3dcd4-cac7-43b4-990b-a139d62a1eb2/resourceGroups/sdk-EventGrid-RG-2176/providers/Microsoft.EventGrid/topics/sdk-Topic-8360\",\r\n  \"name\": \"sdk-Topic-8360\",\r\n  \"type\": \"Microsoft.EventGrid/topics\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "//subscriptions/55f3dcd4-cac7-43b4-990b-a139d62a1eb2/resourceGroups/sdk-EventGrid-RG-2176/providers/Microsoft.EventGrid/topics/sdk-Topic-8360/providers/Microsoft.EventGrid/eventSubscriptions/sdk-EventSubscription-8605?api-version=2018-09-15-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"destination\": {\r\n      \"endpointType\": \"WebHook\",\r\n      \"properties\": {\r\n        \"endpointUrl\": \"https://eventgridrunnerfunction.azurewebsites.net/api/HttpTriggerCSharp1?code=HIDDEN\"\r\n      }\r\n    },\r\n    \"filter\": {\r\n      \"subjectBeginsWith\": \"TestPrefix\",\r\n      \"subjectEndsWith\": \"TestSuffix\",\r\n      \"includedEventTypes\": [\r\n        \"All\"\r\n      ],\r\n      \"isSubjectCaseSensitive\": true\r\n    },\r\n    \"labels\": [\r\n      \"TestLabel1\",\r\n      \"TestLabel2\"\r\n    ],\r\n    \"expirationTimeUtc\": \"2018-10-23T04:24:09.7362377Z\",\r\n    \"eventDeliverySchema\": \"CloudEventV01Schema\",\r\n    \"retryPolicy\": {\r\n      \"maxDeliveryAttempts\": 10,\r\n      \"eventTimeToLiveInMinutes\": 20\r\n    },\r\n    \"deadLetterDestination\": {\r\n      \"endpointType\": \"StorageBlob\",\r\n      \"properties\": {\r\n        \"resourceId\": \"/subscriptions/55f3dcd4-cac7-43b4-990b-a139d62a1eb2/resourceGroups/kalstest/providers/Microsoft.Storage/storageAccounts/kalsdemo\",\r\n        \"blobContainerName\": \"dlq\"\r\n      }\r\n    }\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Retry-After": [
          "10"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com:443/subscriptions/55f3dcd4-cac7-43b4-990b-a139d62a1eb2/providers/Microsoft.EventGrid/locations/westcentralus/operationsStatus/FE82B927-47DF-4501-A718-7587C5450725?api-version=2018-09-15-preview"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1198"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"topic\": \"/subscriptions/55f3dcd4-cac7-43b4-990b-a139d62a1eb2/resourceGroups/sdk-eventgrid-rg-2176/providers/microsoft.eventgrid/topics/sdk-topic-8360\",\r\n    \"provisioningState\": \"Creating\",\r\n    \"destination\": {\r\n      \"properties\": {\r\n        \"endpointUrl\": null,\r\n        \"endpointBaseUrl\": \"https://eventgridrunnerfunction.azurewebsites.net/api/HttpTriggerCSharp1\"\r\n      },\r\n      \"endpointType\": \"WebHook\"\r\n    },\r\n    \"filter\": {\r\n      \"subjectBeginsWith\": \"TestPrefix\",\r\n      \"subjectEndsWith\": \"TestSuffix\",\r\n      \"includedEventTypes\": [\r\n        \"All\"\r\n      ],\r\n      \"isSubjectCaseSensitive\": true\r\n    },\r\n    \"labels\": [\r\n      \"TestLabel1\",\r\n      \"TestLabel2\"\r\n    ],\r\n    \"expirationTimeUtc\": \"2018-10-23T04:24:09.7362377Z\",\r\n    \"eventDeliverySchema\": \"CloudEventV01Schema\",\r\n    \"retryPolicy\": {\r\n      \"maxDeliveryAttempts\": 10,\r\n      \"eventTimeToLiveInMinutes\": 20\r\n    },\r\n    \"deadLetterDestination\": {\r\n      \"properties\": {\r\n        \"resourceId\": \"/subscriptions/55f3dcd4-cac7-43b4-990b-a139d62a1eb2/resourceGroups/kalstest/providers/Microsoft.Storage/storageAccounts/kalsdemo\",\r\n        \"blobContainerName\": \"dlq\"\r\n      },\r\n      \"endpointType\": \"StorageBlob\"\r\n    }\r\n  },\r\n  \"id\": \"/subscriptions/55f3dcd4-cac7-43b4-990b-a139d62a1eb2/resourceGroups/sdk-EventGrid-RG-2176/providers/Microsoft.EventGrid/topics/sdk-Topic-8360/providers/Microsoft.EventGrid/eventSubscriptions/sdk-EventSubscription-8605\",\r\n  \"name\": \"sdk-EventSubscription-8605\",\r\n  \"type\": \"Microsoft.EventGrid/eventSubscriptions\"\r\n}",
      "StatusCode": 201
    },
[...]
    {
      "RequestUri": "//subscriptions/55f3dcd4-cac7-43b4-990b-a139d62a1eb2/resourceGroups/sdk-EventGrid-RG-2176/providers/Microsoft.EventGrid/topics/sdk-Topic-8360/providers/Microsoft.EventGrid/eventSubscriptions/sdk-EventSubscription-8605?api-version=2018-09-15-preview",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/55f3dcd4-cac7-43b4-990b-a139d62a1eb2/providers/Microsoft.EventGrid/locations/westcentralus/operationResults/2F624A72-C1CF-4038-B56E-CF070B576923?api-version=2018-09-15-preview"
        ],
        "Retry-After": [
          "10"
        ],
        "x-ms-ratelimit-remaining-subscription-deletes": [
          "14998"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 202
    },
    {
      "RequestUri": "/subscriptions/55f3dcd4-cac7-43b4-990b-a139d62a1eb2/providers/Microsoft.EventGrid/locations/westcentralus/operationResults/2F624A72-C1CF-4038-B56E-CF070B576923?api-version=2018-09-15-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11991"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/55f3dcd4-cac7-43b4-990b-a139d62a1eb2/providers/Microsoft.EventGrid/locations/westcentralus/operationResults/16DA5020-E9BB-4C5F-A056-4445FE5092F6?api-version=2018-09-15-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11988"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 200
    }
  ],
  "Names": {
    "EventSubscriptionCreateGetUpdateDeleteWithDeadLettering": [
      "sdk-EventGrid-RG-2176",
      "sdk-Topic-8360",
      "sdk-EventSubscription-8605"
    ]
  },
  "Variables": {
    "SubscriptionId": "55f3dcd4-cac7-43b4-990b-a139d62a1eb2"
  }
}