{
  "Entries": [
    {
      "RequestUri": "/providers/Microsoft.Security/operations?api-version=2015-06-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"name\": \"Microsoft.Security/register/action\",\r\n      \"display\": {\r\n        \"provider\": \"Microsoft Security\",\r\n        \"resource\": \"Subscription\",\r\n        \"operation\": \"Register Subscription\",\r\n        \"description\": \"Registers the subscription for Azure Security Center\"\r\n      },\r\n      \"origin\": \"user\"\r\n    },\r\n    {\r\n      \"name\": \"Microsoft.Security/tasks/read\",\r\n      \"display\": {\r\n        \"provider\": \"Microsoft Security\",\r\n        \"resource\": \"Security Recommendations\",\r\n        \"operation\": \"Get security recommendations\",\r\n        \"description\": \"Gets all available security recommendations\"\r\n      },\r\n      \"origin\": \"user\"\r\n    },\r\n    {\r\n      \"name\": \"Microsoft.Security/locations/tasks/read\",\r\n      \"display\": {\r\n [...]
