{
  "Entries": [
    {
      "RequestUri": "/subscriptions/b7a57872-f429-4eb3-b26a-5108178380a5/resourcegroups/azurestack-activation/providers/Microsoft.AzureBridge.Admin/activations/default/products/nonexsting-product?api-version=2016-01-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"UnexpectedAzureProductResponse\",\r\n    \"message\": \"Unexpected response retrieving product information.\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-failure-cause": [
          "service"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14191"
        ]
      },
      "StatusCode": 502
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "b7a57872-f429-4eb3-b26a-5108178380a5"
  }
}