{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourcegroups/Sql-RG-3899?api-version=**",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11888"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/Sql-RG-3899",
        "name": "Sql-RG-3899",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus2",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/Sql-RG-3899/providers/Microsoft.Sql/servers/sqlserver-6138?api-version=2022-08-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "westus2",
        "properties": {
          "administratorLogin": "Admin-sqlserver-6138",
          "administratorLoginPassword": "HvVJ%paVC@%GBKmi"
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/Sql-RG-3899/providers/Microsoft.Sql/locations/westus2/serverAzureAsyncOperation/62e2e4c2-2388-4d58-b48e-de648bdba9e5?api-version=2022-08-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/Sql-RG-3899/providers/Microsoft.Sql/locations/westus2/serverOperationResults/62e2e4c2-2388-4d58-b48e-de648bdba9e5?api-version=2022-08-01-preview",
        "Retry-After": "1",
        "x-ms-ratelimit-remaining-subscription-writes": "1187"
      },
      "ResponseBody": {
        "operation": "UpsertLogicalServer",
        "startTime": "2023-02-22T13:45:00.347Z"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/Sql-RG-3899/providers/Microsoft.Sql/locations/westus2/serverAzureAsyncOperation/62e2e4c2-2388-4d58-b48e-de648bdba9e5?api-version=2022-08-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "1",
        "x-ms-ratelimit-remaining-subscription-reads": "11887"
      },
      "ResponseBody": {
        "name": "62e2e4c2-2388-4d58-b48e-de648bdba9e5",
        "status": "InProgress",
        "startTime": "2023-02-22T13:45:00.347Z"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/Sql-RG-3899/providers/Microsoft.Sql/servers/sqlserver-6138?api-version=2022-08-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11880"
      },
      "ResponseBody": {
        "kind": "v12.0",
        "properties": {
          "administratorLogin": "Admin-sqlserver-6138",
          "version": "12.0",
          "state": "Ready",
          "fullyQualifiedDomainName": "sqlserver-6138.database.windows.net",
          "privateEndpointConnections": [],
          "publicNetworkAccess": "Enabled",
          "restrictOutboundNetworkAccess": "Disabled",
          "externalGovernanceStatus": "Disabled"
        },
        "location": "westus2",
        "tags": {},
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/Sql-RG-3899/providers/Microsoft.Sql/servers/sqlserver-6138",
        "name": "sqlserver-6138",
        "type": "Microsoft.Sql/servers"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/Sql-RG-3899/providers/Microsoft.Sql/servers?api-version=2022-08-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11878"
      },
      "ResponseBody": {
        "value": [
          {
            "kind": "v12.0",
            "properties": {
              "administratorLogin": "Admin-sqlserver-6138",
              "version": "12.0",
              "state": "Ready",
              "fullyQualifiedDomainName": "sqlserver-6138.database.windows.net",
              "privateEndpointConnections": [],
              "publicNetworkAccess": "Enabled",
              "restrictOutboundNetworkAccess": "Disabled",
              "externalGovernanceStatus": "Disabled"
            },
            "location": "westus2",
            "tags": {},
            "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/Sql-RG-3899/providers/Microsoft.Sql/servers/sqlserver-6138",
            "name": "sqlserver-6138",
            "type": "Microsoft.Sql/servers"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/Sql-RG-3899/providers/Microsoft.Sql/locations/westus2/serverAzureAsyncOperation/3d2f38fd-05c4-4af1-bc40-edaaccd28a00?api-version=2022-08-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "15",
        "x-ms-ratelimit-remaining-subscription-reads": "11876"
      },
      "ResponseBody": {
        "name": "3d2f38fd-05c4-4af1-bc40-edaaccd28a00",
        "status": "Succeeded",
        "startTime": "2023-02-22T13:45:49.22Z"
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "RandomSeed": "110368830",
    "RESOURCE_MANAGER_URL": "https://management.azure.com/",
    "SUBSCRIPTION_ID": "db1ab6f0-4769-4b27-930e-01e2ef9c123c"
  }
}
