{
  "Entries": [
    {
      "RequestUri": "/subscriptions/1c0daa04-01ae-4df9-a5d8-491b755f5288/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoles?api-version=2016-05-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/1c0daa04-01ae-4df9-a5d8-491b755f5288/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoles/Active Directory Federation Services\",\r\n      \"name\": \"Active Directory Federation Services\",\r\n      \"type\": \"Microsoft.Fabric.Admin/fabricLocations/infraRoles\",\r\n      \"location\": \"local\",\r\n      \"tags\": {},\r\n      \"properties\": {\r\n        \"instances\": [\r\n          \"subscriptions/1c0daa04-01ae-4df9-a5d8-491b755f5288/resourceGroups/system.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoleInstances/AzS-ADFS01\"\r\n        ]\r\n      }\r\n    },\r\n    {\r\n      \"id\": \"/subscriptions/1c0daa04-01ae-4df9-a5d8-491b755f5288/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoles/Authorization service (Administrator)\",\r\n      \"name\": \"Authorization service (Administrator)\",\r\n  [...]
    {
      "RequestUri": "/subscriptions/1c0daa04-01ae-4df9-a5d8-491b755f5288/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoles/Active%20Directory%20Federation%20Services?api-version=2016-05-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/1c0daa04-01ae-4df9-a5d8-491b755f5288/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoles/Active Directory Federation Services\",\r\n  \"name\": \"Active Directory Federation Services\",\r\n  \"type\": \"Microsoft.Fabric.Admin/fabricLocations/infraRoles\",\r\n  \"location\": \"local\",\r\n  \"tags\": {},\r\n  \"properties\": {\r\n    \"instances\": [\r\n      \"subscriptions/1c0daa04-01ae-4df9-a5d8-491b755f5288/resourceGroups/system.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoleInstances/AzS-ADFS01\"\r\n    ]\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "WWW-Authenticate": [
          "oYG3MIG0oAMKAQChCwYJKoZIgvcSAQICooGfBIGcYIGZBgkqhkiG9xIBAgICAG+BiTCBhqADAgEFoQMCAQ+iejB4oAMCARKicQRvkpSRW6dWQKqCrimodrMfT7RvR6yhf7TRcablmGo7Hd0h4bRZi7UkIFQmAdf3R9lTerSntfxHRqM/URgGbD55j9xgAXSwybVC5FOsZtWxR/gbeQQEwq479uMJFkA0vqdosw/rH6/Ywc6Mck42rGn0"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14212"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/1c0daa04-01ae-4df9-a5d8-491b755f5288/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoles/Authorization%20service%20(Administrator)?api-version=2016-05-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/1c0daa04-01ae-4df9-a5d8-491b755f5288/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/l[...]
    {
      "RequestUri": "/subscriptions/1c0daa04-01ae-4df9-a5d8-491b755f5288/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoles/Authorization%20service%20(User)?api-version=2016-05-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/1c0daa04-01ae-4df9-a5d8-491b755f5288/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoles/Authorization service (User)\",\r\n  \"name\": \"Authorization service (User)\",\r\n  \"type\": \"Microsoft.Fabric.Admin/fabricLocations/infraRoles\",\r\n  \"location\": \"local\",\r\n  \"tags\": {},\r\n  \"properties\": {\r\n    \"instances\": [\r\n      \"subscriptions/1c0daa04-01ae-4df9-a5d8-491b755f5288/resourceGroups/system.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoleInstances/AzS-WASP01\"\r\n    ]\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "WWW-Authenticate": [
          "oYG3MIG0oAMKAQChCwYJKoZIgvcSAQICooGfBIGcYIGZBgkqhkiG9xIBAgICAG+BiTCBhqADAgEFoQMCAQ+iejB4oAMCARKicQRvYrvhdEOe0G0hbQ8rIeVDTOWAZlOatApFYx0VNzRuxujRl7LKAdW5O+pOkaYYyOf/q9SE7M6D1OZmplO2+T19zsiCKzirRpxXPFX96RKyW8bh2hfiTOu+y+EuzDdMTCMJE0RKbhzCGjOy7ycrGSNh"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14210"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/1c0daa04-01ae-4df9-a5d8-491b755f5288/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoles/Azure%20bridge?api-version=2016-05-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/1c0daa04-01ae-4df9-a5d8-491b755f5288/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoles/Azure bridge\",\r\n  \"name\": \"Azure bridge\",\r\n  \"type\": \"Microsoft.Fabric.Admin/fabricLocations/infraRoles\",\r\n  \"location\": \"local\",\r\n  \"tags\": {},\r\n  \"properties\": {\r\n    \"instances\": [\r\n      \"subscriptions/1c0daa04-01ae-4df9-a5d8-491b755f5288/resourceGroups/system.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoleInstances/AzS-WAS01\"\r\n    ]\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "WWW-Authenticate": [
          "oYG3MIG0oAMKAQChCwYJKoZIgvcSAQICooGfBIGcYIGZBgkqhkiG9xIBAgICAG+BiTCBhqADAgEFoQMCAQ+iejB4oAMCARKicQRvYxNWwgbYmiM0L9zhXiZXdPuZ2EvmaMnuzYEwAuQ7aZmfKb1evoo2zPEdkSBgzL9XWt2+Ob4G9l5mpYU4qViL4cOwp8SgRu1d8Z5sKkMGEoBEkrEgCXZ3n79iv7uAOyvtO5eNbKjfTwuJ+L89YAzz"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14209"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/1c0daa04-01ae-4df9-a5d8-491b755f5288/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoles/Azure%20Resource%20Manager%20(Administrator)?api-version=2016-05-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/1c0daa04-01ae-4df9-a5d8-491b755f5288/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocation[...]
    {
      "RequestUri": "/subscriptions/1c0daa04-01ae-4df9-a5d8-491b755f5288/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoles/Azure%20Resource%20Manager%20(User)?api-version=2016-05-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/1c0daa04-01ae-4df9-a5d8-491b755f5288/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoles/Azure Resource Manager (User)\",\r\n  \"name\": \"Azure Resource Manager (User)\",\r\n  \"type\": \"Microsoft.Fabric.Admin/fabricLocations/infraRoles\",\r\n  \"location\": \"local\",\r\n  \"tags\": {},\r\n  \"properties\": {\r\n    \"instances\": [\r\n      \"subscriptions/1c0daa04-01ae-4df9-a5d8-491b755f5288/resourceGroups/system.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoleInstances/AzS-WASP01\"\r\n    ]\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "WWW-Authenticate": [
          "oYG3MIG0oAMKAQChCwYJKoZIgvcSAQICooGfBIGcYIGZBgkqhkiG9xIBAgICAG+BiTCBhqADAgEFoQMCAQ+iejB4oAMCARKicQRvW/7n2koqT41ZIYvM07GeBmlulPnBqmgK6XNLGZ9gYD89gO178FPdB/KvHgmrCLxjSik4T84sqozJvpwN/v++eVazpC2QEYaHm0ljO9IHKG/CQ/MFSljJUHjByVynIUA93I+WNgsOniQXZKVIMFce"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14207"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/1c0daa04-01ae-4df9-a5d8-491b755f5288/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoles/Backup%20controller?api-version=2016-05-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/1c0daa04-01ae-4df9-a5d8-491b755f5288/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoles/Backup controller\",\r\n  \"name\": \"Backup controller\",\r\n  \"type\": \"Microsoft.Fabric.Admin/fabricLocations/infraRoles\",\r\n  \"location\": \"local\",\r\n  \"tags\": {},\r\n  \"properties\": {\r\n    \"instances\": [\r\n      \"subscriptions/1c0daa04-01ae-4df9-a5d8-491b755f5288/resourceGroups/system.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoleInstances/AzS-ERCS01\"\r\n    ]\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "WWW-Authenticate": [
          "oYG3MIG0oAMKAQChCwYJKoZIgvcSAQICooGfBIGcYIGZBgkqhkiG9xIBAgICAG+BiTCBhqADAgEFoQMCAQ+iejB4oAMCARKicQRv+e/yN4PSzaywBEH7E+eeV1tec/cA7BJ//ITd1uX4sQdzRiedpaIIo/VAXz6CWQ/jwVsHEJC1KxBZ08+40+QjaPPqUoUuSyxCel1Qb+ecGNSZH1pWX2+e8xTNog6amCedcVTyjd9IflIGBoRZxsB+"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14206"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/1c0daa04-01ae-4df9-a5d8-491b755f5288/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoles/Backup%20Restore%20Resource%20Provider?api-version=2016-05-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/1c0daa04-01ae-4df9-a5d8-491b755f5288/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/loca[...]
    {
      "RequestUri": "/subscriptions/1c0daa04-01ae-4df9-a5d8-491b755f5288/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoles/Capacity?api-version=2016-05-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/1c0daa04-01ae-4df9-a5d8-491b755f5288/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoles/Capacity\",\r\n  \"name\": \"Capacity\",\r\n  \"type\": \"Microsoft.Fabric.Admin/fabricLocations/infraRoles\",\r\n  \"location\": \"local\",\r\n  \"tags\": {},\r\n  \"properties\": {\r\n    \"instances\": [\r\n      \"subscriptions/1c0daa04-01ae-4df9-a5d8-491b755f5288/resourceGroups/system.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoleInstances/AzS-Xrp01\"\r\n    ]\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "WWW-Authenticate": [
          "oYG3MIG0oAMKAQChCwYJKoZIgvcSAQICooGfBIGcYIGZBgkqhkiG9xIBAgICAG+BiTCBhqADAgEFoQMCAQ+iejB4oAMCARKicQRvawvQS71NUpbETjRe05flb9ArB4OZ+xqxTEck/oOlJl6RVE8rKYQ1fwbimgxr/wOpnHq5P62YNOD316k7QoY0Jv21641s8+/1sIxQjRSp2C4bMwksuXyRRrrK4gNWDak5t/1oLj9Z3RJMZ/d7pW84"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14204"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/1c0daa04-01ae-4df9-a5d8-491b755f5288/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoles/Certificate%20management?api-version=2016-05-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/1c0daa04-01ae-4df9-a5d8-491b755f5288/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoles/Certificate management\",\r\n  \"name\": \"Certificate management\",\r\n  \"type\": \"Microsoft.Fabric.Admin/fabricLocations/infraRoles\",\r\n  \"location\": \"local\",\r\n  \"tags\": {},\r\n  \"properties\": {\r\n    \"instances\": [\r\n      \"subscriptions/1c0daa04-01ae-4df9-a5d8-491b755f5288/resourceGroups/system.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoleInstances/AzS-CA01\"\r\n    ]\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "WWW-Authenticate": [
          "oYG3MIG0oAMKAQChCwYJKoZIgvcSAQICooGfBIGcYIGZBgkqhkiG9xIBAgICAG+BiTCBhqADAgEFoQMCAQ+iejB4oAMCARKicQRvxxXLQkxkP4qreDQIdHY1XKv1Xa5IdLZPMpdV9+5+w3UHEJ/ezYEK3pdofcefHlBVlLi12uf/YpqZ9idk1QCUPKWWSw4n8zu/ehg+tUHPIWy8B/Pker62sz705Mh18hMNn49jIW3RKXvqd8FO4i08"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14203"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/1c0daa04-01ae-4df9-a5d8-491b755f5288/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoles/Compute?api-version=2016-05-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/1c0daa04-01ae-4df9-a5d8-491b755f5288/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoles/Compute\",\r\n  \"name\": \"Compute\",\r\n  \"type\": \"Microsoft.Fabric.Admin/fabricLocations/infraRoles\",\r\n  \"location\": \"local\",\r\n  \"tags\": {},\r\n  \"properties\": {\r\n    \"instances\": [\r\n      \"subscriptions/1c0daa04-01ae-4df9-a5d8-491b755f5288/resourceGroups/system.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoleInstances/AzS-Xrp01\"\r\n    ]\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "WWW-Authenticate": [
          "oYG3MIG0oAMKAQChCwYJKoZIgvcSAQICooGfBIGcYIGZBgkqhkiG9xIBAgICAG+BiTCBhqADAgEFoQMCAQ+iejB4oAMCARKicQRveQKUn35oKDdjymdcNhtYFLkpIPaGudjtpKiD5xUoH1ke+THU++L2U/JLQQUNInpFWleXrbUyCBk94QwLYFNI5qQki8AWh7755cPXleQrbP/PQxyVi4132sCCLHHbTqOOl6zvos4280EudtiJr00i"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14202"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/1c0daa04-01ae-4df9-a5d8-491b755f5288/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoles/Compute%20controller?api-version=2016-05-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/1c0daa04-01ae-4df9-a5d8-491b755f5288/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoles/Compute controller\",\r\n  \"name\": \"Compute controller\",\r\n  \"type\": \"Microsoft.Fabric.Admin/fabricLocations/infraRoles\",\r\n  \"location\": \"local\",\r\n  \"tags\": {},\r\n  \"properties\": {\r\n    \"instances\": [\r\n      \"subscriptions/1c0daa04-01ae-4df9-a5d8-491b755f5288/resourceGroups/system.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoleInstances/AzS-Xrp01\"\r\n    ]\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "WWW-Authenticate": [
          "oYG3MIG0oAMKAQChCwYJKoZIgvcSAQICooGfBIGcYIGZBgkqhkiG9xIBAgICAG+BiTCBhqADAgEFoQMCAQ+iejB4oAMCARKicQRv1lYhG3jgw3iSteb+XIN8HCuRu721B3zN/iRxuPlKBfTZoMs4ch2z6mDgsyrcTx2JJ4lwVl3e9i/D16tW12jJmsrdA7DsrbZeuA1d2Dqo4lAA1Pj3V0IToCHn2xMX86RdmwODCa8gs0VtHPNKR5Ae"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14201"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/1c0daa04-01ae-4df9-a5d8-491b755f5288/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoles/Directory%20management?api-version=2016-05-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/1c0daa04-01ae-4df9-a5d8-491b755f5288/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoles/Directory management\",\r\n  \"name\": \"Directory management\",\r\n  \"type\": \"Microsoft.Fabric.Admin/fabricLocations/infraRoles\",\r\n  \"location\": \"local\",\r\n  \"tags\": {},\r\n  \"properties\": {\r\n    \"instances\": [\r\n      \"subscriptions/1c0daa04-01ae-4df9-a5d8-491b755f5288/resourceGroups/system.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoleInstances/AzS-DC01\"\r\n    ]\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "WWW-Authenticate": [
          "oYG3MIG0oAMKAQChCwYJKoZIgvcSAQICooGfBIGcYIGZBgkqhkiG9xIBAgICAG+BiTCBhqADAgEFoQMCAQ+iejB4oAMCARKicQRvIw03OZbTJUbqC9X6SdumRWe5t7u4AHWK4H8/6KtQ/Mj+gZ38dmyQRUS9725c5z6+QKatpvw8lfhAyi5xGK3/6znzYUUaucHGndoj9QSXzk61we1e9nPz9XHBk0A9qoSBTGoIlo6RZiegWibDmcKo"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14200"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/1c0daa04-01ae-4df9-a5d8-491b755f5288/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoles/Edge%20gateway?api-version=2016-05-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/1c0daa04-01ae-4df9-a5d8-491b755f5288/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoles/Edge gateway\",\r\n  \"name\": \"Edge gateway\",\r\n  \"type\": \"Microsoft.Fabric.Admin/fabricLocations/infraRoles\",\r\n  \"location\": \"local\",\r\n  \"tags\": {},\r\n  \"properties\": {\r\n    \"instances\": [\r\n      \"subscriptions/1c0daa04-01ae-4df9-a5d8-491b755f5288/resourceGroups/system.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoleInstances/AzS-Gwy01\"\r\n    ]\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "WWW-Authenticate": [
          "oYG3MIG0oAMKAQChCwYJKoZIgvcSAQICooGfBIGcYIGZBgkqhkiG9xIBAgICAG+BiTCBhqADAgEFoQMCAQ+iejB4oAMCARKicQRv4F8zcBsN1mrL7LQppffhOjV/uZ3DLkxGJax2rKWgRtn5UqooGKNsi6H5mAzvl7zLP8qzhTEV4ompneV8feBPviq0LRgGGsohxqSc5JnGTdsgN93g5tVQ7zfVCQbXmG+gWFctAZdlIls9Heqhfav/"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14199"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/1c0daa04-01ae-4df9-a5d8-491b755f5288/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoles/Gallery%20service%20(Administrator)?api-version=2016-05-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/1c0daa04-01ae-4df9-a5d8-491b755f5288/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoles/Gallery service (Administrator)\",\r\n  \"name\": \"Gallery service (Administrator)\",\r\n  \"type\": \"Microsoft.Fabric.Admin/fabricLocations/infraRoles\",\r\n  \"location\": \"local\",\r\n  \"tags\": {},\r\n  \"properties\": {\r\n    \"instances\": [\r\n      \"subscriptions/1c0daa04-01ae-4df9-a5d8-491b755f5288/resourceGroups/system.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoleInstances/AzS-WAS01\"\r\n    ]\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "WWW-Authenticate": [
          "oYG3MIG0oAMKAQChCwYJKoZIgvcSAQICooGfBIGcYIGZBgkqhkiG9xIBAgICAG+BiTCBhqADAgEFoQMCAQ+iejB4oAMCARKicQRvaVWbsUOi+NlUEKpDZ+C/dDw4w4DiUAdX9chpQktQU9bbEO/btzZx13LRuz9KGbYCZrDizrGsIki9Hc7vDogYdU/9j3pJItT+2ySVlqsKn2uUTEyvfH5WNqJ/WE/NMDmnvEmzxgiUBsKn5yRXnXS6"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14198"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/1c0daa04-01ae-4df9-a5d8-491b755f5288/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoles/Gallery%20service%20(User)?api-version=2016-05-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/1c0daa04-01ae-4df9-a5d8-491b755f5288/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoles/Gallery service (User)\",\r\n  \"name\": \"Gallery service (User)\",\r\n  \"type\": \"Microsoft.Fabric.Admin/fabricLocations/infraRoles\",\r\n  \"location\": \"local\",\r\n  \"tags\": {},\r\n  \"properties\": {\r\n    \"instances\": [\r\n      \"subscriptions/1c0daa04-01ae-4df9-a5d8-491b755f5288/resourceGroups/system.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoleInstances/AzS-WASP01\"\r\n    ]\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "WWW-Authenticate": [
          "oYG3MIG0oAMKAQChCwYJKoZIgvcSAQICooGfBIGcYIGZBgkqhkiG9xIBAgICAG+BiTCBhqADAgEFoQMCAQ+iejB4oAMCARKicQRvqYk2gnnmfeN9xp8c27tmA941ukF/sOvPfCW9bL8QJKsIS3Z8tpL1sS3vxVE4hTwT26WBS+PwhuDPPRX9PHMOMMrrlieQ3A5aGSHvv59h28SotO+hceWvV5ue0MDMbZB+cMzWkF54X8i3B7ZAQhjy"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14197"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/1c0daa04-01ae-4df9-a5d8-491b755f5288/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoles/Health%20controller?api-version=2016-05-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/1c0daa04-01ae-4df9-a5d8-491b755f5288/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoles/Health controller\",\r\n  \"name\": \"Health controller\",\r\n  \"type\": \"Microsoft.Fabric.Admin/fabricLocations/infraRoles\",\r\n  \"location\": \"local\",\r\n  \"tags\": {},\r\n  \"properties\": {\r\n    \"instances\": [\r\n      \"subscriptions/1c0daa04-01ae-4df9-a5d8-491b755f5288/resourceGroups/system.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoleInstances/AzS-Xrp01\"\r\n    ]\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "WWW-Authenticate": [
          "oYG3MIG0oAMKAQChCwYJKoZIgvcSAQICooGfBIGcYIGZBgkqhkiG9xIBAgICAG+BiTCBhqADAgEFoQMCAQ+iejB4oAMCARKicQRvlBcUfGpNbGsSJMBrQ5/t6dHXOOMIEAgAYexZizeAQUpnxmXN4lctGGx5tbrPUmySy8JsPYvJwJKoR/KcaLILBjGKUp8GPvaUF4TFneztr8nwWQmk4ZorAtrsIHrKNFxSOiGvnymmg63N9s74t+gs"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14196"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/1c0daa04-01ae-4df9-a5d8-491b755f5288/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoles/Infrastructure%20deployment?api-version=2016-05-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/1c0daa04-01ae-4df9-a5d8-491b755f5288/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoles/Infrastructure deployment\",\r\n  \"name\": \"Infrastructure deployment\",\r\n  \"type\": \"Microsoft.Fabric.Admin/fabricLocations/infraRoles\",\r\n  \"location\": \"local\",\r\n  \"tags\": {},\r\n  \"properties\": {\r\n    \"instances\": [\r\n      \"subscriptions/1c0daa04-01ae-4df9-a5d8-491b755f5288/resourceGroups/system.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoleInstances/AzS-ERCS01\"\r\n    ]\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "WWW-Authenticate": [
          "oYG3MIG0oAMKAQChCwYJKoZIgvcSAQICooGfBIGcYIGZBgkqhkiG9xIBAgICAG+BiTCBhqADAgEFoQMCAQ+iejB4oAMCARKicQRvWDPjW3/losV6KjAF1qFFSdfQ7VI5QToAu5Cn0QEXEcLzx22/o0WWDpQm3MkF0E4JstOjXQ1gV2TBns2ZLxTT8g9+FkceVVsCVQuwV65qtT9cFNEkjKy80/0jGJ9btV2FRfZ/sMuLO+VIEqhZlYNW"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14195"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/1c0daa04-01ae-4df9-a5d8-491b755f5288/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoles/Infrastructure%20management%20controller?api-version=2016-05-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/1c0daa04-01ae-4df9-a5d8-491b755f5288/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/lo[...]
    {
      "RequestUri": "/subscriptions/1c0daa04-01ae-4df9-a5d8-491b755f5288/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoles/Infrastructure%20role%20controller?api-version=2016-05-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/1c0daa04-01ae-4df9-a5d8-491b755f5288/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoles/Infrastructure role controller\",\r\n  \"name\": \"Infrastructure role controller\",\r\n  \"type\": \"Microsoft.Fabric.Admin/fabricLocations/infraRoles\",\r\n  \"location\": \"local\",\r\n  \"tags\": {},\r\n  \"properties\": {\r\n    \"instances\": [\r\n      \"subscriptions/1c0daa04-01ae-4df9-a5d8-491b755f5288/resourceGroups/system.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoleInstances/AzS-Xrp01\"\r\n    ]\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "WWW-Authenticate": [
          "oYG3MIG0oAMKAQChCwYJKoZIgvcSAQICooGfBIGcYIGZBgkqhkiG9xIBAgICAG+BiTCBhqADAgEFoQMCAQ+iejB4oAMCARKicQRvvsF1MKOSf0BZW885W1M4S/mibnaojNgdWEmtg01DU0xXIE81Hv+Qkw1B4A8ZCTRerRaS3gGAvI17ZWOkcPfm7RhUGMzzRvc/t8amv64WlnPBzAIjxl1hRDpV4JQCJcY9cn5dalbqzlK2704lvEFs"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14193"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/1c0daa04-01ae-4df9-a5d8-491b755f5288/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoles/Insights%20service%20(Administrator)?api-version=2016-05-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/1c0daa04-01ae-4df9-a5d8-491b755f5288/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoles/Insights service (Administrator)\",\r\n  \"name\": \"Insights service (Administrator)\",\r\n  \"type\": \"Microsoft.Fabric.Admin/fabricLocations/infraRoles\",\r\n  \"location\": \"local\",\r\n  \"tags\": {},\r\n  \"properties\": {\r\n    \"instances\": [\r\n      \"subscriptions/1c0daa04-01ae-4df9-a5d8-491b755f5288/resourceGroups/system.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoleInstances/AzS-WAS01\"\r\n    ]\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "WWW-Authenticate": [
          "oYG3MIG0oAMKAQChCwYJKoZIgvcSAQICooGfBIGcYIGZBgkqhkiG9xIBAgICAG+BiTCBhqADAgEFoQMCAQ+iejB4oAMCARKicQRvwAOw7m0mfD2RAcGfwFcWDOnIvF8k3MnGl8dOsl+58D4E9RTfMT1DcG/1LEm7plAv7rjV4DPQiXPe2vK/MnS/mzvzMdN12qYNlWORVcrs3cd2w7YVAU0+Qwh7X1rWCGQ+fS5g8pEA3UbLoaILe1pU"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14192"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/1c0daa04-01ae-4df9-a5d8-491b755f5288/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoles/Insights%20service%20(User)?api-version=2016-05-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/1c0daa04-01ae-4df9-a5d8-491b755f5288/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoles/Insights service (User)\",\r\n  \"name\": \"Insights service (User)\",\r\n  \"type\": \"Microsoft.Fabric.Admin/fabricLocations/infraRoles\",\r\n  \"location\": \"local\",\r\n  \"tags\": {},\r\n  \"properties\": {\r\n    \"instances\": [\r\n      \"subscriptions/1c0daa04-01ae-4df9-a5d8-491b755f5288/resourceGroups/system.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoleInstances/AzS-WASP01\"\r\n    ]\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "WWW-Authenticate": [
          "oYG3MIG0oAMKAQChCwYJKoZIgvcSAQICooGfBIGcYIGZBgkqhkiG9xIBAgICAG+BiTCBhqADAgEFoQMCAQ+iejB4oAMCARKicQRvwcSUR1WUQTcuFBliT0mvd6IAHJadaccD9k0UyfZmrK3EPNlt04HZ/0yuk3RebS9OcPMpisvfyQO/LOIPl7bt+D7XyjJn1bRYWm5oEC4TP3H9822CSElXAmN249tXz8IB42jD6aPlO7XORG/Seb6k"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14191"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/1c0daa04-01ae-4df9-a5d8-491b755f5288/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoles/Internal%20data%20store?api-version=2016-05-01",
[...]
