{
  "Entries": [
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-filesystem-581a7c6a-db3e-6f7f-78b8-691d5d7318b5?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 10 May 2022 17:39:51 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA32AC160EA3EF\u0022",
        "Last-Modified": "Tue, 10 May 2022 17:39:51 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.dfs.core.windows.net/test-filesystem-581a7c6a-db3e-6f7f-78b8-691d5d7318b5/test-file-6cdb2d74-83ff-c721-f676-dc29ca4d2fd2?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 May 2022 17:39:51 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA32AC161E93F5\u0022",
        "Last-Modified": "Tue, 10 May 2022 17:39:51 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.dfs.core.windows.net/test-filesystem-581a7c6a-db3e-6f7f-78b8-691d5d7318b5/test-file-6cdb2d74-83ff-c721-f676-dc29ca4d2fd2?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 10 May 2022 17:39:51 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": "B8Rt\u002Bw7IBVVrHbLquKcnzAIVhAYDtVVLhylnkkmE4malLNCDPbpF0FIa90LGlmDSHv\u002BJBLuo81FuInPkYHIL5ztMRYvXpI5Iz7Oz6b0ThfDIlXRK\u002Bt6q/Dl\u002BFRtGYG/fDhAGelHV\u002BnpwQTQI9QmUWpyDHMv\u002BwOxdoUhSWY5yAm9D1NqtDQqf85v52bmpoQcv6rp\u002Bw0Sk4U0jqdgIg6Hr/j7FxSAv5k2S4ygwBOczs/9BIm7U8z8qnvKMimMylnD5Dtt65NzmAANt7N8cdN1m7/XYx2AyFwr/miYuolvpYE24NvUMuc8jWiFrZg[...]
    {
      "RequestUri": "https://jaschrepragrs.dfs.core.windows.net/test-filesystem-581a7c6a-db3e-6f7f-78b8-691d5d7318b5/test-file-6cdb2d74-83ff-c721-f676-dc29ca4d2fd2?action=flush\u0026position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 May 2022 17:39:51 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA32AC163D622C\u0022",
        "Last-Modified": "Tue, 10 May 2022 17:39:51 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-filesystem-581a7c6a-db3e-6f7f-78b8-691d5d7318b5/test-file-6cdb2d74-83ff-c721-f676-dc29ca4d2fd2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 May 2022 17:39:51 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-range-get-content-md5": "true",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-MD5": "D2pXbfMRq6LlsPA4sVbAqg==",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA32AC163D622C\u0022",
        "Last-Modified": "Tue, 10 May 2022 17:39:51 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 10 May 2022 17:39:51 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": "B8Rt\u002Bw7IBVVrHbLquKcnzAIVhAYDtVVLhylnkkmE4malLNCDPbpF0FIa90LGlmDSHv\u002BJBLuo81FuInPkYHIL5ztMRYvXpI5Iz7Oz6b0ThfDIlXRK\u002Bt6q/Dl\u002BFRtGYG/fDhAGelHV\u002BnpwQTQI9QmUWpyDHMv\u002BwOxdoUhSWY5yAm9D1NqtDQqf85v52bmpoQcv6rp\u002Bw0Sk4U0jqdgIg6Hr/j7FxSAv5k2S4ygwBOczs/9BIm7U8z8qnvKMimMylnD5Dtt65NzmAANt7N8cdN1m7/XYx2AyFwr/miYuolvpYE24NvUMuc8jWiFrZgZfDioVJptuWc4Px/fQekm2uF6nhIyRYz7nWjUltW0/x7AEn4z8GHzAewZ\u002BqG7\u002BP[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-filesystem-581a7c6a-db3e-6f7f-78b8-691d5d7318b5?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 May 2022 17:39:51 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1846460448",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\njaschrepragrs\nU2FuaXRpemVk\nhttps://jaschrepragrs.blob.core.windows.net\nhttps://jaschrepragrs.file.core.windows.net\nhttps://jaschrepragrs.queue.core.windows.net\nhttps://jaschrepragrs.table.core.windows.net\n\n\n\n\nhttps://jaschrepragrs-secondary.blob.core.windows.net\nhttps://jaschrepragrs-secondary.file.core.windows.net\nhttps://jaschrepragrs-secondary.queue.core.windows.net\nhttps://jaschrepragrs-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jaschrepragrs.blob.core.windows.net/;QueueEndpoint=https://jaschrepragrs.queue.core.windows.net/;FileEndpoint=https://jaschrepragrs.file.core.windows.net/;BlobSecondaryEndpoint=https://jaschrepragrs-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jaschrepragrs-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jaschrepragrs-secondary.file.core.windows.net/;AccountName=jaschrepragrs;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
