{
  "Entries": [
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-filesystem-7217cc82-a064-d3e1-7a1a-4d8a95a4d3cc?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 10 May 2022 17:05:44 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA32A751FC5D46\u0022",
        "Last-Modified": "Tue, 10 May 2022 17:05:44 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.dfs.core.windows.net/test-filesystem-7217cc82-a064-d3e1-7a1a-4d8a95a4d3cc/test-file-5862fd27-a6aa-d649-4085-4f4dc75ca344?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 May 2022 17:05:44 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA32A7520D0C7F\u0022",
        "Last-Modified": "Tue, 10 May 2022 17:05:44 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.dfs.core.windows.net/test-filesystem-7217cc82-a064-d3e1-7a1a-4d8a95a4d3cc/test-file-5862fd27-a6aa-d649-4085-4f4dc75ca344?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 10 May 2022 17:05:44 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": "nMjZYt8ZDKnI4NXiAUCOYVbeuEhcze\u002B84afuaGnShb0KJwV9P2CPuD\u002BePf30TeZf1Q7a0iYuG87YHYE4K6Q/9VoY19k6ESH1T/8IvZDxx5PAj5Nb\u002BLOX2ww2pCLfV42bX0ei3HUNJMPs5YImJl0951btd5wR5P2ngfvMBG3/FvhybV5JTuses2rPbhMwcbWv\u002BbzL8d/xiXtK\u002B1t5QCBW7c\u002BKs7n/9Jhrz8MxQXXqdw9GHQqwMyQYgePj/lOPpXJJeYFDpb38rwQkYCIcv0cFYIRLMyMVpbqqcjLVHPZE2ypR58j0ptFSSm0GjNIC/MG[...]
    {
      "RequestUri": "https://jaschrepragrs.dfs.core.windows.net/test-filesystem-7217cc82-a064-d3e1-7a1a-4d8a95a4d3cc/test-file-5862fd27-a6aa-d649-4085-4f4dc75ca344?action=flush\u0026position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 May 2022 17:05:44 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA32A7522C28C1\u0022",
        "Last-Modified": "Tue, 10 May 2022 17:05:44 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-filesystem-7217cc82-a064-d3e1-7a1a-4d8a95a4d3cc/test-file-5862fd27-a6aa-d649-4085-4f4dc75ca344",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 May 2022 17:05:44 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-range-get-content-md5": "true",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-MD5": "VIb4d54xKMcjEX2z38TU2Q==",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA32A7522C28C1\u0022",
        "Last-Modified": "Tue, 10 May 2022 17:05:44 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 10 May 2022 17:05:44 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": "nMjZYt8ZDKnI4NXiAUCOYVbeuEhcze\u002B84afuaGnShb0KJwV9P2CPuD\u002BePf30TeZf1Q7a0iYuG87YHYE4K6Q/9VoY19k6ESH1T/8IvZDxx5PAj5Nb\u002BLOX2ww2pCLfV42bX0ei3HUNJMPs5YImJl0951btd5wR5P2ngfvMBG3/FvhybV5JTuses2rPbhMwcbWv\u002BbzL8d/xiXtK\u002B1t5QCBW7c\u002BKs7n/9Jhrz8MxQXXqdw9GHQqwMyQYgePj/lOPpXJJeYFDpb38rwQkYCIcv0cFYIRLMyMVpbqqcjLVHPZE2ypR58j0ptFSSm0GjNIC/MGb3Z3PRHJONNPGmTOLJpMO34X3y9d/Ebqz\u002Bem2Dxnnp3ZwOT5YdZe4ArP0LQydxyPa\u0[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-filesystem-7217cc82-a064-d3e1-7a1a-4d8a95a4d3cc?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 May 2022 17:05:45 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "2127843838",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\njaschrepragrs\nU2FuaXRpemVk\nhttps://jaschrepragrs.blob.core.windows.net\nhttps://jaschrepragrs.file.core.windows.net\nhttps://jaschrepragrs.queue.core.windows.net\nhttps://jaschrepragrs.table.core.windows.net\n\n\n\n\nhttps://jaschrepragrs-secondary.blob.core.windows.net\nhttps://jaschrepragrs-secondary.file.core.windows.net\nhttps://jaschrepragrs-secondary.queue.core.windows.net\nhttps://jaschrepragrs-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jaschrepragrs.blob.core.windows.net/;QueueEndpoint=https://jaschrepragrs.queue.core.windows.net/;FileEndpoint=https://jaschrepragrs.file.core.windows.net/;BlobSecondaryEndpoint=https://jaschrepragrs-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jaschrepragrs-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jaschrepragrs-secondary.file.core.windows.net/;AccountName=jaschrepragrs;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
