{
  "Entries": [
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-filesystem-4aa50db4-c737-90f2-c139-d1be0ddf17b2?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 28 Apr 2022 23:03:12 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA296B455B1701\u0022",
        "Last-Modified": "Thu, 28 Apr 2022 23:03:12 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.dfs.core.windows.net/test-filesystem-4aa50db4-c737-90f2-c139-d1be0ddf17b2/test-file-15ce6617-f448-0803-2e3f-7167b9a36186?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Apr 2022 23:03:12 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA296B456AD82D\u0022",
        "Last-Modified": "Thu, 28 Apr 2022 23:03:12 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.dfs.core.windows.net/test-filesystem-4aa50db4-c737-90f2-c139-d1be0ddf17b2/test-file-15ce6617-f448-0803-2e3f-7167b9a36186?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 28 Apr 2022 23:03:13 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": "1HG4B7cfwHJhI12DyKnLgCBEkEApi\u002BdZDNr8TF66DNkL\u002BnRTiBLVDgxDKqgomVr1VmPRMIJn20mJXvrdInMUpxaEd841d/cOb4Ez5WE/MXN/B/b66NxXpB8ryioX9\u002ByZL4ORpCGLv95sw8EBM/XnSi2GXRp9Gb46LNOvCq3M9neUmrXerY1R80cXjiUaVnApQ3/9kZrRHBbEV3dO3LUxn81JbJlACJygNWnSZYqZH9ZihsYtz2Tdw36fGlYVAheS5u5X0enX6DviXVww/raLKzeg7FbvA89oa6gboe5FijJSQH6bQU7ti52KS3IIrcXHE\u002B4fdRbAo[...]
    {
      "RequestUri": "https://jaschrepragrs.dfs.core.windows.net/test-filesystem-4aa50db4-c737-90f2-c139-d1be0ddf17b2/test-file-15ce6617-f448-0803-2e3f-7167b9a36186?action=flush\u0026position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Apr 2022 23:03:13 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA296B458DEB19\u0022",
        "Last-Modified": "Thu, 28 Apr 2022 23:03:13 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-filesystem-4aa50db4-c737-90f2-c139-d1be0ddf17b2/test-file-15ce6617-f448-0803-2e3f-7167b9a36186",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Apr 2022 23:03:13 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-range-get-content-md5": "true",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-MD5": "vs1KWSkb5YHnwAnGbhjOZQ==",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA296B458DEB19\u0022",
        "Last-Modified": "Thu, 28 Apr 2022 23:03:13 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 28 Apr 2022 23:03:12 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": "1HG4B7cfwHJhI12DyKnLgCBEkEApi\u002BdZDNr8TF66DNkL\u002BnRTiBLVDgxDKqgomVr1VmPRMIJn20mJXvrdInMUpxaEd841d/cOb4Ez5WE/MXN/B/b66NxXpB8ryioX9\u002ByZL4ORpCGLv95sw8EBM/XnSi2GXRp9Gb46LNOvCq3M9neUmrXerY1R80cXjiUaVnApQ3/9kZrRHBbEV3dO3LUxn81JbJlACJygNWnSZYqZH9ZihsYtz2Tdw36fGlYVAheS5u5X0enX6DviXVww/raLKzeg7FbvA89oa6gboe5FijJSQH6bQU7ti52KS3IIrcXHE\u002B4fdRbAouMf72VAvEdMnNIp3b047\u002Bros2G5ZLhdX77jU43/JhUbkp6bfFHprM5VPa6f39AHjyMDN[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-filesystem-4aa50db4-c737-90f2-c139-d1be0ddf17b2?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Apr 2022 23:03:13 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "196484389",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\njaschrepragrs\nU2FuaXRpemVk\nhttps://jaschrepragrs.blob.core.windows.net\nhttps://jaschrepragrs.file.core.windows.net\nhttps://jaschrepragrs.queue.core.windows.net\nhttps://jaschrepragrs.table.core.windows.net\n\n\n\n\nhttps://jaschrepragrs-secondary.blob.core.windows.net\nhttps://jaschrepragrs-secondary.file.core.windows.net\nhttps://jaschrepragrs-secondary.queue.core.windows.net\nhttps://jaschrepragrs-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jaschrepragrs.blob.core.windows.net/;QueueEndpoint=https://jaschrepragrs.queue.core.windows.net/;FileEndpoint=https://jaschrepragrs.file.core.windows.net/;BlobSecondaryEndpoint=https://jaschrepragrs-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jaschrepragrs-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jaschrepragrs-secondary.file.core.windows.net/;AccountName=jaschrepragrs;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
