{
  "Entries": [
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-filesystem-005d81f0-0455-95d7-c02d-9cb07698ed82?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 10 May 2022 17:17:10 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA32A8EAB109A7\u0022",
        "Last-Modified": "Tue, 10 May 2022 17:17:09 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.dfs.core.windows.net/test-filesystem-005d81f0-0455-95d7-c02d-9cb07698ed82/test-file-c02491c6-bef9-b44c-d9cd-84842e957469?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 May 2022 17:17:10 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA32A8EAF56518\u0022",
        "Last-Modified": "Tue, 10 May 2022 17:17:10 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.dfs.core.windows.net/test-filesystem-005d81f0-0455-95d7-c02d-9cb07698ed82/test-file-c02491c6-bef9-b44c-d9cd-84842e957469?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 10 May 2022 17:17:10 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": "RFUwCBqL8U9LokYVQscAEjO/CwawSXcl/KFvcdRLmDr6oMs/fvHCGH6YWGitZPyN17q2YnI\u002BcPvdCgt5HIB7/wkLGqH8wJRB/POIGPAOd5il4pkalDbIvC/QYXPlSfz9HVlfokpakRYldWV/tlgLz5Nz0zrmYGrTQ15xLF8hW7P2ivqWr9VOSlCD9B/QSQXXxJLfcnXCF73ui17r6WS3BBmyiCxedCC9JYnpY2tLA/lYmmfMQek9NHM9qCN2YmDsy/AFHcDZeVBxIUzs2bNRoodlk0/96sIwdFS5IMv8R8Mo/Zh6ReU4fyAWWx\u002BcUVu/6wWcEc4R7uAt1KlsIFi[...]
    {
      "RequestUri": "https://jaschrepragrs.dfs.core.windows.net/test-filesystem-005d81f0-0455-95d7-c02d-9cb07698ed82/test-file-c02491c6-bef9-b44c-d9cd-84842e957469?action=flush\u0026position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 May 2022 17:17:10 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA32A8EB17DC4A\u0022",
        "Last-Modified": "Tue, 10 May 2022 17:17:10 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-filesystem-005d81f0-0455-95d7-c02d-9cb07698ed82/test-file-c02491c6-bef9-b44c-d9cd-84842e957469",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 May 2022 17:17:11 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA32A8EB17DC4A\u0022",
        "Last-Modified": "Tue, 10 May 2022 17:17:10 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 10 May 2022 17:17:10 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": "RFUwCBqL8U9LokYVQscAEjO/CwawSXcl/KFvcdRLmDr6oMs/fvHCGH6YWGitZPyN17q2YnI\u002BcPvdCgt5HIB7/wkLGqH8wJRB/POIGPAOd5il4pkalDbIvC/QYXPlSfz9HVlfokpakRYldWV/tlgLz5Nz0zrmYGrTQ15xLF8hW7P2ivqWr9VOSlCD9B/QSQXXxJLfcnXCF73ui17r6WS3BBmyiCxedCC9JYnpY2tLA/lYmmfMQek9NHM9qCN2YmDsy/AFHcDZeVBxIUzs2bNRoodlk0/96sIwdFS5IMv8R8Mo/Zh6ReU4fyAWWx\u002BcUVu/6wWcEc4R7uAt1KlsIFiFddqJw9wa1l2hLBMu54\u002BjlCP5\u002BTXFYDb0Fg63TXA8zF/IkOZFEo1/pRSo\u002B[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-filesystem-005d81f0-0455-95d7-c02d-9cb07698ed82?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 May 2022 17:17:11 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "509522504",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\njaschrepragrs\nU2FuaXRpemVk\nhttps://jaschrepragrs.blob.core.windows.net\nhttps://jaschrepragrs.file.core.windows.net\nhttps://jaschrepragrs.queue.core.windows.net\nhttps://jaschrepragrs.table.core.windows.net\n\n\n\n\nhttps://jaschrepragrs-secondary.blob.core.windows.net\nhttps://jaschrepragrs-secondary.file.core.windows.net\nhttps://jaschrepragrs-secondary.queue.core.windows.net\nhttps://jaschrepragrs-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jaschrepragrs.blob.core.windows.net/;QueueEndpoint=https://jaschrepragrs.queue.core.windows.net/;FileEndpoint=https://jaschrepragrs.file.core.windows.net/;BlobSecondaryEndpoint=https://jaschrepragrs-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jaschrepragrs-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jaschrepragrs-secondary.file.core.windows.net/;AccountName=jaschrepragrs;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
