{
  "Entries": [
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-filesystem-2a604c17-cb49-f475-d8c1-3a658ac2548a?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 10 May 2022 17:05:07 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA32A73C3117DB\u0022",
        "Last-Modified": "Tue, 10 May 2022 17:05:07 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.dfs.core.windows.net/test-filesystem-2a604c17-cb49-f475-d8c1-3a658ac2548a/test-file-b180084e-8147-3ee8-1aba-9550049370ef?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 May 2022 17:05:08 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA32A73C60920B\u0022",
        "Last-Modified": "Tue, 10 May 2022 17:05:08 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.dfs.core.windows.net/test-filesystem-2a604c17-cb49-f475-d8c1-3a658ac2548a/test-file-b180084e-8147-3ee8-1aba-9550049370ef?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 10 May 2022 17:05:08 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": "VSpNzCNy0hlFoQFDvM9Pp60tEw5vAK7j1et4rlSZhhksA1B54kbp4Ko5DjsjBIy7yAK/CvzLm1R8avc4\u002BiPFqxvoF7h\u002B1sRmRDJkNvJzwNFfvOZR2nsdYGj8/XhPsOWGdGIgO\u002BzTPfI\u002BWMXJZ2VhCKol2D09c9GfyrZQgdhLFpRM3cKPU4Tki37zE4G2VPkDmvTOKtioSQCQgHE2g7sZ8kIxfImj0bUlQUy\u002BSV9Q6Ha8TObjfey7pJPB/9ITrgjD2iE/hNdvYMg/qemL6f\u002BhQJf6eTbUNXVVddf24dLiEpJE\u002B28\u002BEWSeT[...]
    {
      "RequestUri": "https://jaschrepragrs.dfs.core.windows.net/test-filesystem-2a604c17-cb49-f475-d8c1-3a658ac2548a/test-file-b180084e-8147-3ee8-1aba-9550049370ef?action=flush\u0026position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 May 2022 17:05:08 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA32A73C9814C4\u0022",
        "Last-Modified": "Tue, 10 May 2022 17:05:08 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-filesystem-2a604c17-cb49-f475-d8c1-3a658ac2548a/test-file-b180084e-8147-3ee8-1aba-9550049370ef",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 May 2022 17:05:08 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-range-get-content-crc64": "true",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA32A73C9814C4\u0022",
        "Last-Modified": "Tue, 10 May 2022 17:05:08 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-content-crc64": "m4XvcTXXQKg=",
        "x-ms-creation-time": "Tue, 10 May 2022 17:05:08 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": "VSpNzCNy0hlFoQFDvM9Pp60tEw5vAK7j1et4rlSZhhksA1B54kbp4Ko5DjsjBIy7yAK/CvzLm1R8avc4\u002BiPFqxvoF7h\u002B1sRmRDJkNvJzwNFfvOZR2nsdYGj8/XhPsOWGdGIgO\u002BzTPfI\u002BWMXJZ2VhCKol2D09c9GfyrZQgdhLFpRM3cKPU4Tki37zE4G2VPkDmvTOKtioSQCQgHE2g7sZ8kIxfImj0bUlQUy\u002BSV9Q6Ha8TObjfey7pJPB/9ITrgjD2iE/hNdvYMg/qemL6f\u002BhQJf6eTbUNXVVddf24dLiEpJE\u002B28\u002BEWSeTewepNQDMLuUIL46GDTR7qSs6Q4AeX71XZZWRu2QYi8zXCxKtpGhUkUbYcEUp/lecw3KkidVnt[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-filesystem-2a604c17-cb49-f475-d8c1-3a658ac2548a?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 May 2022 17:05:08 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "219123",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\njaschrepragrs\nU2FuaXRpemVk\nhttps://jaschrepragrs.blob.core.windows.net\nhttps://jaschrepragrs.file.core.windows.net\nhttps://jaschrepragrs.queue.core.windows.net\nhttps://jaschrepragrs.table.core.windows.net\n\n\n\n\nhttps://jaschrepragrs-secondary.blob.core.windows.net\nhttps://jaschrepragrs-secondary.file.core.windows.net\nhttps://jaschrepragrs-secondary.queue.core.windows.net\nhttps://jaschrepragrs-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jaschrepragrs.blob.core.windows.net/;QueueEndpoint=https://jaschrepragrs.queue.core.windows.net/;FileEndpoint=https://jaschrepragrs.file.core.windows.net/;BlobSecondaryEndpoint=https://jaschrepragrs-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jaschrepragrs-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jaschrepragrs-secondary.file.core.windows.net/;AccountName=jaschrepragrs;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
