{
  "Entries": [
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-filesystem-17da1925-810e-5417-2949-e360cc9e6b27?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 28 Apr 2022 23:03:10 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA296B43D01C65\u0022",
        "Last-Modified": "Thu, 28 Apr 2022 23:03:10 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.dfs.core.windows.net/test-filesystem-17da1925-810e-5417-2949-e360cc9e6b27/test-file-d87cd81f-e486-2d76-4b07-1c2fe63fd803?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Apr 2022 23:03:10 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA296B43E119C4\u0022",
        "Last-Modified": "Thu, 28 Apr 2022 23:03:10 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.dfs.core.windows.net/test-filesystem-17da1925-810e-5417-2949-e360cc9e6b27/test-file-d87cd81f-e486-2d76-4b07-1c2fe63fd803?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 28 Apr 2022 23:03:10 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": "ffeihFOsp196gApyqlxqy/ro9\u002BuzJrwyrJIgfB31k5PJmD3yu8qnvDmLyem7MYtz49yu3YLmilY6b9jAiypBhex3qREedw8vQTuyKF3TdnoHrZlARrYQ4w3mt0vy5jAOSUP9RIh5VWzNf5tGM2L5Z/leud6RAD41ZsYDN7/EPFsLpN4Z1jHxjVctc8cbya\u002Br7VBSlCxRfUkEx97Cdh2sCUJAO4\u002BE35HHbCuHZIx3GpwWWEpvcaguuieUFA5TLxc6gGqF244gJg2\u002BiicByhi8jaxCqx3TPZeZEYBo78qCdDwTTOMi8j8N9TI8sOaALfAO2IdiEIP6Z[...]
    {
      "RequestUri": "https://jaschrepragrs.dfs.core.windows.net/test-filesystem-17da1925-810e-5417-2949-e360cc9e6b27/test-file-d87cd81f-e486-2d76-4b07-1c2fe63fd803?action=flush\u0026position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Apr 2022 23:03:10 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA296B44011FF1\u0022",
        "Last-Modified": "Thu, 28 Apr 2022 23:03:10 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-filesystem-17da1925-810e-5417-2949-e360cc9e6b27/test-file-d87cd81f-e486-2d76-4b07-1c2fe63fd803",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Apr 2022 23:03:10 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-range-get-content-crc64": "true",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA296B44011FF1\u0022",
        "Last-Modified": "Thu, 28 Apr 2022 23:03:10 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-content-crc64": "bAhBJsrScaY=",
        "x-ms-creation-time": "Thu, 28 Apr 2022 23:03:10 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": "ffeihFOsp196gApyqlxqy/ro9\u002BuzJrwyrJIgfB31k5PJmD3yu8qnvDmLyem7MYtz49yu3YLmilY6b9jAiypBhex3qREedw8vQTuyKF3TdnoHrZlARrYQ4w3mt0vy5jAOSUP9RIh5VWzNf5tGM2L5Z/leud6RAD41ZsYDN7/EPFsLpN4Z1jHxjVctc8cbya\u002Br7VBSlCxRfUkEx97Cdh2sCUJAO4\u002BE35HHbCuHZIx3GpwWWEpvcaguuieUFA5TLxc6gGqF244gJg2\u002BiicByhi8jaxCqx3TPZeZEYBo78qCdDwTTOMi8j8N9TI8sOaALfAO2IdiEIP6Z0LT68kOuDZCOxbr7X01mptsNLbrlo2wGeSQWRdDIGO5GeShTwZ2/z37\u002BXTQlUBy2D7r9[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-filesystem-17da1925-810e-5417-2949-e360cc9e6b27?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Apr 2022 23:03:10 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1976179235",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\njaschrepragrs\nU2FuaXRpemVk\nhttps://jaschrepragrs.blob.core.windows.net\nhttps://jaschrepragrs.file.core.windows.net\nhttps://jaschrepragrs.queue.core.windows.net\nhttps://jaschrepragrs.table.core.windows.net\n\n\n\n\nhttps://jaschrepragrs-secondary.blob.core.windows.net\nhttps://jaschrepragrs-secondary.file.core.windows.net\nhttps://jaschrepragrs-secondary.queue.core.windows.net\nhttps://jaschrepragrs-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jaschrepragrs.blob.core.windows.net/;QueueEndpoint=https://jaschrepragrs.queue.core.windows.net/;FileEndpoint=https://jaschrepragrs.file.core.windows.net/;BlobSecondaryEndpoint=https://jaschrepragrs-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jaschrepragrs-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jaschrepragrs-secondary.file.core.windows.net/;AccountName=jaschrepragrs;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
