{
  "Entries": [
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-filesystem-ded6886b-7b22-c0de-82d3-dd4aa20a467c?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 28 Apr 2022 23:02:38 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA296B30B673A8\u0022",
        "Last-Modified": "Thu, 28 Apr 2022 23:02:38 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.dfs.core.windows.net/test-filesystem-ded6886b-7b22-c0de-82d3-dd4aa20a467c/test-file-aedd75ad-b7d5-30d7-cb16-5d4e5cded134?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Apr 2022 23:02:38 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA296B30C72CE3\u0022",
        "Last-Modified": "Thu, 28 Apr 2022 23:02:38 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.dfs.core.windows.net/test-filesystem-ded6886b-7b22-c0de-82d3-dd4aa20a467c/test-file-aedd75ad-b7d5-30d7-cb16-5d4e5cded134?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 28 Apr 2022 23:02:38 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": "2UPiRuG6ltF0rHgAWkwp3sWRDrDJOwhjGc/BNq8tV5CH3bhTwMdpgVtvlsc7wGpihQwgQcbqeZ47fywS\u002BV8hRlXneHyU1h39KIxVWqRAKFllXrGjDRXKnWQZF0GaV4j7TVBxU0jtzq7uIxk6lR76\u002BlbTrZqufjlAHdoYer7bY9AEWQxTz9QQd5ACtOr8kAhFHh3rxqntTM8XMTZt1VPwEr9INTsSpyuCwjYKrMlPQ43S01yh8JwnFg09PJ2eo6I8EqIqs1rNM3fxaANz458Gx\u002B2omwL3TiEiIB8u1GqN5B\u002BTzpomJY8yBZ/ksIiYtDNtNnSv9QegR[...]
    {
      "RequestUri": "https://jaschrepragrs.dfs.core.windows.net/test-filesystem-ded6886b-7b22-c0de-82d3-dd4aa20a467c/test-file-aedd75ad-b7d5-30d7-cb16-5d4e5cded134?action=flush\u0026position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Apr 2022 23:02:38 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA296B30E621C6\u0022",
        "Last-Modified": "Thu, 28 Apr 2022 23:02:38 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-filesystem-ded6886b-7b22-c0de-82d3-dd4aa20a467c/test-file-aedd75ad-b7d5-30d7-cb16-5d4e5cded134",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Apr 2022 23:02:38 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-range-get-content-crc64": "true",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA296B30E621C6\u0022",
        "Last-Modified": "Thu, 28 Apr 2022 23:02:38 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-content-crc64": "tBsPtZvqRKw=",
        "x-ms-creation-time": "Thu, 28 Apr 2022 23:02:38 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": "2UPiRuG6ltF0rHgAWkwp3sWRDrDJOwhjGc/BNq8tV5CH3bhTwMdpgVtvlsc7wGpihQwgQcbqeZ47fywS\u002BV8hRlXneHyU1h39KIxVWqRAKFllXrGjDRXKnWQZF0GaV4j7TVBxU0jtzq7uIxk6lR76\u002BlbTrZqufjlAHdoYer7bY9AEWQxTz9QQd5ACtOr8kAhFHh3rxqntTM8XMTZt1VPwEr9INTsSpyuCwjYKrMlPQ43S01yh8JwnFg09PJ2eo6I8EqIqs1rNM3fxaANz458Gx\u002B2omwL3TiEiIB8u1GqN5B\u002BTzpomJY8yBZ/ksIiYtDNtNnSv9QegRcOAB5M7n14MZITk3xQE36JedpZiEp2ZiWzrwJ713e4X84jWph3892VB10sDtNQeaVbRUX9xPT[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-filesystem-ded6886b-7b22-c0de-82d3-dd4aa20a467c?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Apr 2022 23:02:38 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "598313988",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\njaschrepragrs\nU2FuaXRpemVk\nhttps://jaschrepragrs.blob.core.windows.net\nhttps://jaschrepragrs.file.core.windows.net\nhttps://jaschrepragrs.queue.core.windows.net\nhttps://jaschrepragrs.table.core.windows.net\n\n\n\n\nhttps://jaschrepragrs-secondary.blob.core.windows.net\nhttps://jaschrepragrs-secondary.file.core.windows.net\nhttps://jaschrepragrs-secondary.queue.core.windows.net\nhttps://jaschrepragrs-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jaschrepragrs.blob.core.windows.net/;QueueEndpoint=https://jaschrepragrs.queue.core.windows.net/;FileEndpoint=https://jaschrepragrs.file.core.windows.net/;BlobSecondaryEndpoint=https://jaschrepragrs-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jaschrepragrs-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jaschrepragrs-secondary.file.core.windows.net/;AccountName=jaschrepragrs;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
