{
  "Entries": [
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-filesystem-99061c01-f067-3bc0-69af-e3b31d70960b?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 10 May 2022 17:17:05 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA32A8E7E956BF\u0022",
        "Last-Modified": "Tue, 10 May 2022 17:17:05 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.dfs.core.windows.net/test-filesystem-99061c01-f067-3bc0-69af-e3b31d70960b/test-file-b6cc4393-41e0-b087-0f8d-2939e8689338?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 May 2022 17:17:05 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA32A8E86184FC\u0022",
        "Last-Modified": "Tue, 10 May 2022 17:17:06 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.dfs.core.windows.net/test-filesystem-99061c01-f067-3bc0-69af-e3b31d70960b/test-file-b6cc4393-41e0-b087-0f8d-2939e8689338?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 10 May 2022 17:17:06 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": "TRrHwbMt884BShP8G0Iq\u002BWQAQ94X0DYdBCZo8LDPHf1sUS/2qYkvQkuKw4ruG8GhSIrmnkQfbH3kqr2NxAMdMi0Wj8oSM0/b0AGTjQyrLullxqcm6X64TeSyEv7Mon1IbJFd14z2jhU6Cs1DjN9wOXvTJ/5b90muXkLlYCFQDy6DSiB7TVZcbjeS696wdMEFQtiC\u002BHp/7HVIr3lKES7z6fufv0G\u002B9Osld7nGyQxq/umB3x5IzhezBF2rM57cElwJnwLjELR/Rk3tXYDAuSNo3bCPyDEQqhvj67vjE8FMSGRcvSoJh\u002B00AZnQW3CW80o6QlXtTUkr\[...]
    {
      "RequestUri": "https://jaschrepragrs.dfs.core.windows.net/test-filesystem-99061c01-f067-3bc0-69af-e3b31d70960b/test-file-b6cc4393-41e0-b087-0f8d-2939e8689338?action=flush\u0026position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 May 2022 17:17:06 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA32A8E8866CC2\u0022",
        "Last-Modified": "Tue, 10 May 2022 17:17:06 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-filesystem-99061c01-f067-3bc0-69af-e3b31d70960b/test-file-b6cc4393-41e0-b087-0f8d-2939e8689338",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 May 2022 17:17:06 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA32A8E8866CC2\u0022",
        "Last-Modified": "Tue, 10 May 2022 17:17:06 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 10 May 2022 17:17:06 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": "TRrHwbMt884BShP8G0Iq\u002BWQAQ94X0DYdBCZo8LDPHf1sUS/2qYkvQkuKw4ruG8GhSIrmnkQfbH3kqr2NxAMdMi0Wj8oSM0/b0AGTjQyrLullxqcm6X64TeSyEv7Mon1IbJFd14z2jhU6Cs1DjN9wOXvTJ/5b90muXkLlYCFQDy6DSiB7TVZcbjeS696wdMEFQtiC\u002BHp/7HVIr3lKES7z6fufv0G\u002B9Osld7nGyQxq/umB3x5IzhezBF2rM57cElwJnwLjELR/Rk3tXYDAuSNo3bCPyDEQqhvj67vjE8FMSGRcvSoJh\u002B00AZnQW3CW80o6QlXtTUkr\u002BPTm/yX5nDOLoBQcZPz5XlbDWseYP0\u002BqTfhwqdFrX/saMcQ1I4fIO2VlRbpceY5O[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-filesystem-99061c01-f067-3bc0-69af-e3b31d70960b?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 May 2022 17:17:06 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "858323125",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\njaschrepragrs\nU2FuaXRpemVk\nhttps://jaschrepragrs.blob.core.windows.net\nhttps://jaschrepragrs.file.core.windows.net\nhttps://jaschrepragrs.queue.core.windows.net\nhttps://jaschrepragrs.table.core.windows.net\n\n\n\n\nhttps://jaschrepragrs-secondary.blob.core.windows.net\nhttps://jaschrepragrs-secondary.file.core.windows.net\nhttps://jaschrepragrs-secondary.queue.core.windows.net\nhttps://jaschrepragrs-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jaschrepragrs.blob.core.windows.net/;QueueEndpoint=https://jaschrepragrs.queue.core.windows.net/;FileEndpoint=https://jaschrepragrs.file.core.windows.net/;BlobSecondaryEndpoint=https://jaschrepragrs-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jaschrepragrs-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jaschrepragrs-secondary.file.core.windows.net/;AccountName=jaschrepragrs;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
