{
  "Entries": [
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-filesystem-4167ac9b-6ebe-3d66-5bcb-57bcf9ede557?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 24 Feb 2022 23:55:17 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9F7F11BA4A555\u0022",
        "Last-Modified": "Thu, 24 Feb 2022 23:55:17 GMT",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.dfs.core.windows.net/test-filesystem-4167ac9b-6ebe-3d66-5bcb-57bcf9ede557/test-file-f470918d-0d89-5eec-bba4-83c03596662e?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 24 Feb 2022 23:55:17 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9F7F11BB0E862\u0022",
        "Last-Modified": "Thu, 24 Feb 2022 23:55:17 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.dfs.core.windows.net/test-filesystem-4167ac9b-6ebe-3d66-5bcb-57bcf9ede557/test-file-f470918d-0d89-5eec-bba4-83c03596662e?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 24 Feb 2022 23:55:17 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": "64osiN/60n9xTc0SQk/4RxQC9fO1p/hCzQYA7JVZGb4ZSiq66C50zDO4yxHapFtO5D/M/cCfK0SS6rrZ\u002BubpGDMP\u002BPclPl/mjii//NvnaCmrsghWjBz9eh/mJ/10m9JNz7PdyqxjKaXg5m\u002BY4C5pqoGQLkjek4sXEn3YPhZhcfJWcS0nCZ19R4hidaatZZrwfXx8422JbzwoxrcuiuqOf3V8QW4BQaHjE\u002Ba/ex3laa3j6MGZ5Y2FzALx/0PmTrye0/YwMCMs7zvbmNCGyvMfQlwKSqIp9Zrn93VrEEJd/cQpIagmtDmJt/mGvU29/gEP0bzn2wQad[...]
    {
      "RequestUri": "http://seanmcccanary3.dfs.core.windows.net/test-filesystem-4167ac9b-6ebe-3d66-5bcb-57bcf9ede557/test-file-f470918d-0d89-5eec-bba4-83c03596662e?action=flush\u0026position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 24 Feb 2022 23:55:17 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9F7F11BD3868B\u0022",
        "Last-Modified": "Thu, 24 Feb 2022 23:55:17 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-filesystem-4167ac9b-6ebe-3d66-5bcb-57bcf9ede557/test-file-f470918d-0d89-5eec-bba4-83c03596662e",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 24 Feb 2022 23:55:17 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-range-get-content-crc64": "true",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D9F7F11BD3868B\u0022",
        "Last-Modified": "Thu, 24 Feb 2022 23:55:17 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-content-crc64": "GuACwnhn8qg=",
        "x-ms-creation-time": "Thu, 24 Feb 2022 23:55:17 GMT",
        "x-ms-last-access-time": "Thu, 24 Feb 2022 23:55:17 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": "64osiN/60n9xTc0SQk/4RxQC9fO1p/hCzQYA7JVZGb4ZSiq66C50zDO4yxHapFtO5D/M/cCfK0SS6rrZ\u002BubpGDMP\u002BPclPl/mjii//NvnaCmrsghWjBz9eh/mJ/10m9JNz7PdyqxjKaXg5m\u002BY4C5pqoGQLkjek4sXEn3YPhZhcfJWcS0nCZ19R4hidaatZZrwfXx8422JbzwoxrcuiuqOf3V8QW4BQaHjE\u002Ba/ex3laa3j6MGZ5Y2FzALx/0PmTrye0/YwMCMs7zvbmNCGyvMfQlwKSqIp9Zrn93VrEEJd/cQpIagmtDmJt/mGvU29/gEP0bzn2wQadd5cSTmtwN75fpoLXKlK\u002BI4jgJOpojdNKfhzXD6FdSLAD6zJymr/2/cajT\u002BysqJY[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-filesystem-4167ac9b-6ebe-3d66-5bcb-57bcf9ede557?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 24 Feb 2022 23:55:17 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1320907614",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttp://seanmcccanary3.blob.core.windows.net\nhttp://seanmcccanary3.file.core.windows.net\nhttp://seanmcccanary3.queue.core.windows.net\nhttp://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttp://seanmcccanary3-secondary.blob.core.windows.net\nhttp://seanmcccanary3-secondary.file.core.windows.net\nhttp://seanmcccanary3-secondary.queue.core.windows.net\nhttp://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=http://seanmcccanary3.queue.core.windows.net/;FileEndpoint=http://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=http://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Sanitized\n\n\n"
  }
}