{
  "Entries": [
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-filesystem-67fb782f-00ff-f3ee-c4b7-bc21552e4e75?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 28 Apr 2022 23:03:14 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA296B468B7BB1\u0022",
        "Last-Modified": "Thu, 28 Apr 2022 23:03:14 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.dfs.core.windows.net/test-filesystem-67fb782f-00ff-f3ee-c4b7-bc21552e4e75/test-file-033c421a-5b01-e7ae-c934-5353f7ca195e?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Apr 2022 23:03:14 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA296B469B60E1\u0022",
        "Last-Modified": "Thu, 28 Apr 2022 23:03:14 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.dfs.core.windows.net/test-filesystem-67fb782f-00ff-f3ee-c4b7-bc21552e4e75/test-file-033c421a-5b01-e7ae-c934-5353f7ca195e?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 28 Apr 2022 23:03:15 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": "0MuKhRddwMyMsAq8gWDYp\u002B1TtlBL/9q2d8jIpuN6XKym075OkkRRDUQWwuoE\u002BkO9ytiEm/pMX9Dx1A1PlBrpEVNdFa6hihSoAakLNDzvsX2FCtsK9sGyWXPtXb02AngqLbGXpuSVG0DD3JlQQSuTASOQyok/3huSq7w6tCxWcf4w4QeLVwuY7\u002B\u002BaRxonYRhIWVyapjju6k6WBfooWmcTbGqaIGAjCKkX99qapJcBakqk8VrQvMvGQfa49VIQcJWHhtqvjEC4JVCygq5eVEa3lZqwhGkMQ7Cf1N9pahNXB4dFEh69Ud4J68wJHjkcZ\u002B2wAV\u[...]
    {
      "RequestUri": "https://jaschrepragrs.dfs.core.windows.net/test-filesystem-67fb782f-00ff-f3ee-c4b7-bc21552e4e75/test-file-033c421a-5b01-e7ae-c934-5353f7ca195e?action=flush\u0026position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Apr 2022 23:03:15 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA296B46B96B82\u0022",
        "Last-Modified": "Thu, 28 Apr 2022 23:03:15 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-filesystem-67fb782f-00ff-f3ee-c4b7-bc21552e4e75/test-file-033c421a-5b01-e7ae-c934-5353f7ca195e",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Apr 2022 23:03:15 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-range-get-content-crc64": "true",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA296B46B96B82\u0022",
        "Last-Modified": "Thu, 28 Apr 2022 23:03:15 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-content-crc64": "by7U6bgOdzg=",
        "x-ms-creation-time": "Thu, 28 Apr 2022 23:03:14 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": "0MuKhRddwMyMsAq8gWDYp\u002B1TtlBL/9q2d8jIpuN6XKym075OkkRRDUQWwuoE\u002BkO9ytiEm/pMX9Dx1A1PlBrpEVNdFa6hihSoAakLNDzvsX2FCtsK9sGyWXPtXb02AngqLbGXpuSVG0DD3JlQQSuTASOQyok/3huSq7w6tCxWcf4w4QeLVwuY7\u002B\u002BaRxonYRhIWVyapjju6k6WBfooWmcTbGqaIGAjCKkX99qapJcBakqk8VrQvMvGQfa49VIQcJWHhtqvjEC4JVCygq5eVEa3lZqwhGkMQ7Cf1N9pahNXB4dFEh69Ud4J68wJHjkcZ\u002B2wAV\u002B3X\u002Bsre0MpELdhTro9W3smGUEn\u002BkO8ppicAiR2gmzxuWmzn6ecGZfak0Amp5[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-filesystem-67fb782f-00ff-f3ee-c4b7-bc21552e4e75?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Apr 2022 23:03:15 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "2023194921",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\njaschrepragrs\nU2FuaXRpemVk\nhttps://jaschrepragrs.blob.core.windows.net\nhttps://jaschrepragrs.file.core.windows.net\nhttps://jaschrepragrs.queue.core.windows.net\nhttps://jaschrepragrs.table.core.windows.net\n\n\n\n\nhttps://jaschrepragrs-secondary.blob.core.windows.net\nhttps://jaschrepragrs-secondary.file.core.windows.net\nhttps://jaschrepragrs-secondary.queue.core.windows.net\nhttps://jaschrepragrs-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jaschrepragrs.blob.core.windows.net/;QueueEndpoint=https://jaschrepragrs.queue.core.windows.net/;FileEndpoint=https://jaschrepragrs.file.core.windows.net/;BlobSecondaryEndpoint=https://jaschrepragrs-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jaschrepragrs-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jaschrepragrs-secondary.file.core.windows.net/;AccountName=jaschrepragrs;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
