{
  "Entries": [
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-filesystem-413b461e-a441-45dd-1279-783453ad0578?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 10 May 2022 17:05:03 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA32A73952CC3B\u0022",
        "Last-Modified": "Tue, 10 May 2022 17:05:02 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.dfs.core.windows.net/test-filesystem-413b461e-a441-45dd-1279-783453ad0578/test-file-eb91d99d-0335-87f8-2846-94015f320c94?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 May 2022 17:05:03 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA32A7396720C5\u0022",
        "Last-Modified": "Tue, 10 May 2022 17:05:03 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.dfs.core.windows.net/test-filesystem-413b461e-a441-45dd-1279-783453ad0578/test-file-eb91d99d-0335-87f8-2846-94015f320c94?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 10 May 2022 17:05:03 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": "rPfv3cfOQ6/Ofrojiyp/EZeEfEClugX4vGvsZMqRcyfzggbOEQQs6s9Xe/R01T\u002BW3JJOxePq8PHy9iBb4d7lPQuSLwkksQCTWJFxTj4Qg\u002BYsVYc3Qq5ECJEU2xrj0Qnxcj7p4qY1ciuSu2xReaKy4nI6LotWrvtdTSZ3ENXmsIeIf9sAJqFA9\u002BNcpIdB84/vYfmnqaJ9msRCjJV/vWJVrAvlyfnGsrvR\u002Bjeo\u002Bgl0G1qXiK7cPgbkCuUXvpoMwDmBBvh7XCqVKK891q9r1aC6znA66DWzeW0EAL4UrvMhxTn9JvMQ\u002BL8vAV//nmhXeTV[...]
    {
      "RequestUri": "https://jaschrepragrs.dfs.core.windows.net/test-filesystem-413b461e-a441-45dd-1279-783453ad0578/test-file-eb91d99d-0335-87f8-2846-94015f320c94?action=flush\u0026position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 May 2022 17:05:03 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA32A7398BBA85\u0022",
        "Last-Modified": "Tue, 10 May 2022 17:05:03 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-filesystem-413b461e-a441-45dd-1279-783453ad0578/test-file-eb91d99d-0335-87f8-2846-94015f320c94",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 May 2022 17:05:03 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-range-get-content-md5": "true",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-MD5": "PWxoGu2ntyiH0ubt2mUe2g==",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA32A7398BBA85\u0022",
        "Last-Modified": "Tue, 10 May 2022 17:05:03 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 10 May 2022 17:05:03 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": "rPfv3cfOQ6/Ofrojiyp/EZeEfEClugX4vGvsZMqRcyfzggbOEQQs6s9Xe/R01T\u002BW3JJOxePq8PHy9iBb4d7lPQuSLwkksQCTWJFxTj4Qg\u002BYsVYc3Qq5ECJEU2xrj0Qnxcj7p4qY1ciuSu2xReaKy4nI6LotWrvtdTSZ3ENXmsIeIf9sAJqFA9\u002BNcpIdB84/vYfmnqaJ9msRCjJV/vWJVrAvlyfnGsrvR\u002Bjeo\u002Bgl0G1qXiK7cPgbkCuUXvpoMwDmBBvh7XCqVKK891q9r1aC6znA66DWzeW0EAL4UrvMhxTn9JvMQ\u002BL8vAV//nmhXeTVEXPAp0dgEzo2Kd1trgXq7HBB1ba6tqdWxC\u002BbVs9sFrIeI0FED9/Nh\u002BVhmhoFjxI[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-filesystem-413b461e-a441-45dd-1279-783453ad0578?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 May 2022 17:05:03 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "611334690",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\njaschrepragrs\nU2FuaXRpemVk\nhttps://jaschrepragrs.blob.core.windows.net\nhttps://jaschrepragrs.file.core.windows.net\nhttps://jaschrepragrs.queue.core.windows.net\nhttps://jaschrepragrs.table.core.windows.net\n\n\n\n\nhttps://jaschrepragrs-secondary.blob.core.windows.net\nhttps://jaschrepragrs-secondary.file.core.windows.net\nhttps://jaschrepragrs-secondary.queue.core.windows.net\nhttps://jaschrepragrs-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jaschrepragrs.blob.core.windows.net/;QueueEndpoint=https://jaschrepragrs.queue.core.windows.net/;FileEndpoint=https://jaschrepragrs.file.core.windows.net/;BlobSecondaryEndpoint=https://jaschrepragrs-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jaschrepragrs-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jaschrepragrs-secondary.file.core.windows.net/;AccountName=jaschrepragrs;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
