{
  "Entries": [
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-filesystem-f1013c74-9c5b-1481-4bc0-1108a6b40737?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 28 Apr 2022 23:02:55 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA296B3AF35829\u0022",
        "Last-Modified": "Thu, 28 Apr 2022 23:02:55 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.dfs.core.windows.net/test-filesystem-f1013c74-9c5b-1481-4bc0-1108a6b40737/test-file-0ee682fd-e844-7ca8-2067-24ea1286cac8?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Apr 2022 23:02:55 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA296B3B0A37B9\u0022",
        "Last-Modified": "Thu, 28 Apr 2022 23:02:55 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jaschrepragrs.dfs.core.windows.net/test-filesystem-f1013c74-9c5b-1481-4bc0-1108a6b40737/test-file-0ee682fd-e844-7ca8-2067-24ea1286cac8?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-MD5": "G3060EYKP30ztz4rx6kdUg==",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 28 Apr 2022 23:02:55 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": "iqG\u002BZ6i9fU1E1ni4z379dpvLMPkggPKFc5Jlzt/6jOd7Hnh1FrydGi9GQm5v3zFm6dFh0mEtjQmuOPMWV69uSkmRPbEGh2DeLRXK2j6DFpRh/\u002BUNmbmGTZFvxt7Jh8OA2Pgl3qF/YGFxgqVLYrPLKyFftVjJYLCPC\u002B8fl8CCFaZSSgFFXjfy4Z6DnBYUOuvepJu8adJqtndHldOxYMmg7m3/\u002BRixhc3qbdS6RsSaetAEQfMlxqzU55SK/shkQIDU4q2pFUHSLR7O0fz\u002BsG\u002BzrBoCrR/WeyjAKhKDJ4YEhixT5WMW8WWPMRTUVvSv1TY[...]
[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-filesystem-f1013c74-9c5b-1481-4bc0-1108a6b40737?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Apr 2022 23:02:56 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "434836728",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\njaschrepragrs\nU2FuaXRpemVk\nhttps://jaschrepragrs.blob.core.windows.net\nhttps://jaschrepragrs.file.core.windows.net\nhttps://jaschrepragrs.queue.core.windows.net\nhttps://jaschrepragrs.table.core.windows.net\n\n\n\n\nhttps://jaschrepragrs-secondary.blob.core.windows.net\nhttps://jaschrepragrs-secondary.file.core.windows.net\nhttps://jaschrepragrs-secondary.queue.core.windows.net\nhttps://jaschrepragrs-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jaschrepragrs.blob.core.windows.net/;QueueEndpoint=https://jaschrepragrs.queue.core.windows.net/;FileEndpoint=https://jaschrepragrs.file.core.windows.net/;BlobSecondaryEndpoint=https://jaschrepragrs-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jaschrepragrs-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jaschrepragrs-secondary.file.core.windows.net/;AccountName=jaschrepragrs;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
