{
  "Entries": [
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-filesystem-409f3411-672c-4e34-d251-dafe3980b79f?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 10 May 2022 17:40:51 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA32AC3A0EB5EA\u0022",
        "Last-Modified": "Tue, 10 May 2022 17:40:51 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.dfs.core.windows.net/test-filesystem-409f3411-672c-4e34-d251-dafe3980b79f/test-file-551a0ab1-f932-59b5-3a65-90904a0ee494?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 May 2022 17:40:51 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA32AC3A1DF775\u0022",
        "Last-Modified": "Tue, 10 May 2022 17:40:51 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.dfs.core.windows.net/test-filesystem-409f3411-672c-4e34-d251-dafe3980b79f/test-file-551a0ab1-f932-59b5-3a65-90904a0ee494?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 10 May 2022 17:40:52 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": "pGLwBXEONN7FB5HSz1ZvriMBsnzLkM0XzPBeQmh7RYc26Dh8MydnPIjVYsrsoACXhxvPUHSn4xSU2DmAsPJ2ScEJm\u002Bce8nv8mXbz9S0DKyzwxrpNrPUTjwUk6Fru54yWXxkI4gQYeZWf07b9s\u002B3mka0NkOk3KJzL9Qzi\u002BgohDbLqXJYU\u002Bkgn100lrdk/FdsXPles4FeiXzZ8Pez4Nn\u002BKfsUEE1dX0ZZl5ricEnvCjOAwyruzdC1bR/1fl7xbL6DOmi4UOwKEwGzARvqeBU27urAMx2zD1gmXqMtZ9znZCrYXzndNrlHdrAlP8y4zvUKwpN0M[...]
    {
      "RequestUri": "https://jaschrepragrs.dfs.core.windows.net/test-filesystem-409f3411-672c-4e34-d251-dafe3980b79f/test-file-551a0ab1-f932-59b5-3a65-90904a0ee494?action=flush\u0026position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 May 2022 17:40:52 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA32AC3A3E250C\u0022",
        "Last-Modified": "Tue, 10 May 2022 17:40:51 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-filesystem-409f3411-672c-4e34-d251-dafe3980b79f/test-file-551a0ab1-f932-59b5-3a65-90904a0ee494",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 May 2022 17:40:52 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA32AC3A3E250C\u0022",
        "Last-Modified": "Tue, 10 May 2022 17:40:51 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 10 May 2022 17:40:51 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-filesystem-409f3411-672c-4e34-d251-dafe3980b79f/test-file-551a0ab1-f932-59b5-3a65-90904a0ee494",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8DA32AC3A3E250C\u0022",
        "x-ms-date": "Tue, 10 May 2022 17:40:52 GMT",
        "x-ms-range": "bytes=0-511",
        "x-ms-range-get-content-crc64": "true",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-511/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA32AC3A3E250C\u0022",
        "Last-Modified": "Tue, 10 May 2022 17:40:51 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-content-crc64": "wAtb9GQaeMM=",
        "x-ms-creation-time": "Tue, 10 May 2022 17:40:51 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": "pGLwBXEONN7FB5HSz1ZvriMBsnzLkM0XzPBeQmh7RYc26Dh8MydnPIjVYsrsoACXhxvPUHSn4xSU2DmAsPJ2ScEJm\u002Bce8nv8mXbz9S0DKyzwxrpNrPUTjwUk6Fru54yWXxkI4gQYeZWf07b9s\u002B3mka0NkOk3KJzL9Qzi\u002BgohDbLqXJYU\u002Bkgn100lrdk/FdsXPles4FeiXzZ8Pez4Nn\u002BKfsUEE1dX0ZZl5ricEnvCjOAwyruzdC1bR/1fl7xbL6DOmi4UOwKEwGzARvqeBU27urAMx2zD1gmXqMtZ9znZCrYXzndNrlHdrAlP8y4zvUKwpN0MTmg0C8QkfJI2Ksgy5jtDhjfVbQtfLxtic\u002BPbZOuJqFNczbxO48OzKDG/p4FBHQ3z7zYK2jbSrB9M0pfgSRimrIF11hh\u002B9aNzIkXaoIeZIVbW6HW0fs4ciiCdARAr0t8ZGPr/zEb0dPqTlrfx9wyXs7FACmCi8S2zWEz34fOSSFBlwYeMmlQP4XR7IOcWK5IUBk5f6sh/dibNS3T6/ZIGAU5njDaEChlcMSjsJ9BFnCy64tulMl2I5kphv07gFeThdB\u002BYr59bkPs1A7mfkk5Vh69HQBq3Yc7x36XrI0vKextEC7Kxre2NXlLfby\u002Bj6FP7CzifmdXJKRNQp9D5cG2vaoeeWoecpNrBueHH2PE="
    },
[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-filesystem-409f3411-672c-4e34-d251-dafe3980b79f?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 May 2022 17:40:52 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1037994936",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\njaschrepragrs\nU2FuaXRpemVk\nhttps://jaschrepragrs.blob.core.windows.net\nhttps://jaschrepragrs.file.core.windows.net\nhttps://jaschrepragrs.queue.core.windows.net\nhttps://jaschrepragrs.table.core.windows.net\n\n\n\n\nhttps://jaschrepragrs-secondary.blob.core.windows.net\nhttps://jaschrepragrs-secondary.file.core.windows.net\nhttps://jaschrepragrs-secondary.queue.core.windows.net\nhttps://jaschrepragrs-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jaschrepragrs.blob.core.windows.net/;QueueEndpoint=https://jaschrepragrs.queue.core.windows.net/;FileEndpoint=https://jaschrepragrs.file.core.windows.net/;BlobSecondaryEndpoint=https://jaschrepragrs-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jaschrepragrs-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jaschrepragrs-secondary.file.core.windows.net/;AccountName=jaschrepragrs;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
