{
  "Entries": [
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-filesystem-ac0bad56-d3f8-02b2-0287-c5be49f0058d?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 10 May 2022 17:05:54 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA32A757E0C1E8\u0022",
        "Last-Modified": "Tue, 10 May 2022 17:05:54 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.dfs.core.windows.net/test-filesystem-ac0bad56-d3f8-02b2-0287-c5be49f0058d/test-file-7bc552e9-11ce-a886-3b6c-82fb13170cf8?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 May 2022 17:05:54 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA32A757FC6CF9\u0022",
        "Last-Modified": "Tue, 10 May 2022 17:05:54 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.dfs.core.windows.net/test-filesystem-ac0bad56-d3f8-02b2-0287-c5be49f0058d/test-file-7bc552e9-11ce-a886-3b6c-82fb13170cf8?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 10 May 2022 17:05:54 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": "3xUxlJ6ie9vMHalDx9Phhvv5pS5rm48U/Ez9vFxtAXlH1f8LSvctdp\u002BonODSvbBxUZd38uQ\u002BykSGHZhRpb9/Xxwv/PLU1TsEzC\u002BOwv6vQj6ci2vE9Q6UCAq6hS1e29HgKT3DosG\u002BnXtbcya0rwhG1tpatRlUumoNm/PnGVAOpfBerpnB65993u7vaIHo4FgCdK5SBCW3i2/StgfN1oMqTc41VgBuheo63NcrZFHpJbqb5aSiu6DKpiMq7jWYrwdqxRuysolXk\u002B/DFyhOjCcd6ZBMMvDeiJEuarDdRJa1oizPwJ42NnMxQ1K13qR4fBn7DASk[...]
    {
      "RequestUri": "https://jaschrepragrs.dfs.core.windows.net/test-filesystem-ac0bad56-d3f8-02b2-0287-c5be49f0058d/test-file-7bc552e9-11ce-a886-3b6c-82fb13170cf8?action=flush\u0026position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 May 2022 17:05:54 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA32A7581AC618\u0022",
        "Last-Modified": "Tue, 10 May 2022 17:05:54 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-filesystem-ac0bad56-d3f8-02b2-0287-c5be49f0058d/test-file-7bc552e9-11ce-a886-3b6c-82fb13170cf8",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 May 2022 17:05:54 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA32A7581AC618\u0022",
        "Last-Modified": "Tue, 10 May 2022 17:05:54 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 10 May 2022 17:05:54 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-filesystem-ac0bad56-d3f8-02b2-0287-c5be49f0058d/test-file-7bc552e9-11ce-a886-3b6c-82fb13170cf8",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8DA32A7581AC618\u0022",
        "x-ms-date": "Tue, 10 May 2022 17:05:55 GMT",
        "x-ms-range": "bytes=0-511",
        "x-ms-range-get-content-crc64": "true",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-511/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA32A7581AC618\u0022",
        "Last-Modified": "Tue, 10 May 2022 17:05:54 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-content-crc64": "rltD9T6J75g=",
        "x-ms-creation-time": "Tue, 10 May 2022 17:05:54 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": "3xUxlJ6ie9vMHalDx9Phhvv5pS5rm48U/Ez9vFxtAXlH1f8LSvctdp\u002BonODSvbBxUZd38uQ\u002BykSGHZhRpb9/Xxwv/PLU1TsEzC\u002BOwv6vQj6ci2vE9Q6UCAq6hS1e29HgKT3DosG\u002BnXtbcya0rwhG1tpatRlUumoNm/PnGVAOpfBerpnB65993u7vaIHo4FgCdK5SBCW3i2/StgfN1oMqTc41VgBuheo63NcrZFHpJbqb5aSiu6DKpiMq7jWYrwdqxRuysolXk\u002B/DFyhOjCcd6ZBMMvDeiJEuarDdRJa1oizPwJ42NnMxQ1K13qR4fBn7DASkTH0Wiz2JhEfZek5YDnX7f8yI57MdGu\u002BeKanttu6W4jiSEFavuDRhrLIrWMkEXNAvfPxNciRQhjGOeGKTm81YQpcVxv0eTMeXJzoB8sImmszZvjnySG8TQYolID/RzhDk0xUx7pbTEDA1tUvqT5RuaN6Wut2UZvonAoRz\u002BSuHxlkqHB\u002Bt9Ks1Bq4IvJIkKfH1trhhOxQzUGwbCesSYBYFru/ywDN1wXMyYLQvi6lnA9mSfUNzJopE9syykuvAI6aXAw6jMmm\u002BgPRFLttgBMTDswUSf\u002BLTkYdlrclnwi\u002BHcj0Nl4eaxNFw1P1OLveu5PIH797lraPDxHGGPYSgVr3FvbueUmw9KO80oqvkhGM="
    },
[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-filesystem-ac0bad56-d3f8-02b2-0287-c5be49f0058d?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 May 2022 17:05:55 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "479365734",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\njaschrepragrs\nU2FuaXRpemVk\nhttps://jaschrepragrs.blob.core.windows.net\nhttps://jaschrepragrs.file.core.windows.net\nhttps://jaschrepragrs.queue.core.windows.net\nhttps://jaschrepragrs.table.core.windows.net\n\n\n\n\nhttps://jaschrepragrs-secondary.blob.core.windows.net\nhttps://jaschrepragrs-secondary.file.core.windows.net\nhttps://jaschrepragrs-secondary.queue.core.windows.net\nhttps://jaschrepragrs-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jaschrepragrs.blob.core.windows.net/;QueueEndpoint=https://jaschrepragrs.queue.core.windows.net/;FileEndpoint=https://jaschrepragrs.file.core.windows.net/;BlobSecondaryEndpoint=https://jaschrepragrs-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jaschrepragrs-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jaschrepragrs-secondary.file.core.windows.net/;AccountName=jaschrepragrs;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
