{
  "Entries": [
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-filesystem-8fc787eb-f5fc-bade-35e0-59ad8e3fed5a?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 28 Apr 2022 23:03:24 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA296B4C0F7ED7\u0022",
        "Last-Modified": "Thu, 28 Apr 2022 23:03:24 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.dfs.core.windows.net/test-filesystem-8fc787eb-f5fc-bade-35e0-59ad8e3fed5a/test-file-a8b28aaa-9df0-2ede-d3e2-277f83393458?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Apr 2022 23:03:24 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA296B4C1FA400\u0022",
        "Last-Modified": "Thu, 28 Apr 2022 23:03:24 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jaschrepragrs.dfs.core.windows.net/test-filesystem-8fc787eb-f5fc-bade-35e0-59ad8e3fed5a/test-file-a8b28aaa-9df0-2ede-d3e2-277f83393458?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-MD5": "utYvm1wLl9ZSvds9a7Irpw==",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 28 Apr 2022 23:03:24 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": "naxzjhFSVg7R7OcCnw0XCMT2KklqFzwRhYAHo4qYexq/djX2uY1RMe7GBTAdW8YThkpZaGPwdIRwYgiRS7ODOXHMQijYIU42pPlbpBIL8yq58xxAPhK2zgGwhleFwOY7Qsy/URidO2X8I8NqlNByZG7d11eWQ/peFnMnJ5r3sOQTIGJGTKIRHLe3RBtPTDoxPSHoqOiOpP/RYDqkdhPKBXLeVnRtLBjLy7uf3/7fD8k59up4Dgj8hHxidOtnbaWk7D\u002BocPXFwxAJHdws78UA8VFxaoApUfZp4tH4C7csY14W\u002B/K/N5/TczLZb/Esz5W2YoOa9gIleppIPo0kzbh[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-filesystem-8fc787eb-f5fc-bade-35e0-59ad8e3fed5a?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Apr 2022 23:03:24 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "808054720",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\njaschrepragrs\nU2FuaXRpemVk\nhttps://jaschrepragrs.blob.core.windows.net\nhttps://jaschrepragrs.file.core.windows.net\nhttps://jaschrepragrs.queue.core.windows.net\nhttps://jaschrepragrs.table.core.windows.net\n\n\n\n\nhttps://jaschrepragrs-secondary.blob.core.windows.net\nhttps://jaschrepragrs-secondary.file.core.windows.net\nhttps://jaschrepragrs-secondary.queue.core.windows.net\nhttps://jaschrepragrs-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jaschrepragrs.blob.core.windows.net/;QueueEndpoint=https://jaschrepragrs.queue.core.windows.net/;FileEndpoint=https://jaschrepragrs.file.core.windows.net/;BlobSecondaryEndpoint=https://jaschrepragrs-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jaschrepragrs-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jaschrepragrs-secondary.file.core.windows.net/;AccountName=jaschrepragrs;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
