{
  "Entries": [
    {
      "RequestUri": "https://seanhnscanada.blob.core.windows.net/test-filesystem-e118aa6c-62b1-cfdd-07d3-002240b098d8?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 09 May 2023 19:59:59 GMT",
        "x-ms-version": "2023-01-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB50C7F7D24133\u0022",
        "Last-Modified": "Tue, 09 May 2023 19:59:58 GMT",
        "x-ms-version": "2023-01-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanada.dfs.core.windows.net/test-filesystem-e118aa6c-62b1-cfdd-07d3-002240b098d8/test-file-da49ee88-6223-57c9-f752-2c9193a994fd?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 09 May 2023 19:59:59 GMT",
        "x-ms-version": "2023-01-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB50C7F7DDC351\u0022",
        "Last-Modified": "Tue, 09 May 2023 19:59:59 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-01-03"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanhnscanada.dfs.core.windows.net/test-filesystem-e118aa6c-62b1-cfdd-07d3-002240b098d8/test-file-da49ee88-6223-57c9-f752-2c9193a994fd?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-content-crc64": "4mPvGYcQPh4=",
        "x-ms-date": "Tue, 09 May 2023 19:59:59 GMT",
        "x-ms-version": "2023-01-03"
      },
      "RequestBody": "fOHqyj2Ryo4/\u002B18JFotKQiT3NMPvPwaFPMcyEMJhgXamM9Sj2uXMW7EzGdaPc8MEfNnlpNY\u002BKT3bZY11X7rM3nnpY\u002BO3pmc/KtgRuyUv9skELZToe92fZwmXx3VYVvz3ZztdpQ/fTdVxpnn\u002BLG0XrG7DcTEm5GKcSvvZH9/y59PbGlTq0lG6JOC/dtVjoDqcfxsGlOXL0ILYwFsTBi31f76lIhIYLdkdCExQZ22NOanBPaDE61LtEEnSERH1ph6yyfcWvX4ohFJB6YyZemkVS4eyUsmNMZNstxLJRhzIJ2Eunp12dnsqmblNggLGVJXfvMWKQ1RVJZdkqgVrXj02e[...]
    {
      "RequestUri": "https://seanhnscanada.dfs.core.windows.net/test-filesystem-e118aa6c-62b1-cfdd-07d3-002240b098d8/test-file-da49ee88-6223-57c9-f752-2c9193a994fd?action=flush\u0026position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8DB50C7F7EA01AB\u0022",
        "x-ms-date": "Tue, 09 May 2023 19:59:59 GMT",
        "x-ms-version": "2023-01-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB50C7F7FE2B7A\u0022",
        "Last-Modified": "Tue, 09 May 2023 19:59:59 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2023-01-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanada.blob.core.windows.net/test-filesystem-e118aa6c-62b1-cfdd-07d3-002240b098d8?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 09 May 2023 19:59:59 GMT",
        "x-ms-version": "2023-01-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2023-01-03"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1174078172",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseanhnscanada\nU2FuaXRpemVk\nhttps://seanhnscanada.blob.core.windows.net\nhttps://seanhnscanada.file.core.windows.net\nhttps://seanhnscanada.queue.core.windows.net\nhttps://seanhnscanada.table.core.windows.net\n\n\n\n\nhttps://seanhnscanada-secondary.blob.core.windows.net\nhttps://seanhnscanada-secondary.file.core.windows.net\nhttps://seanhnscanada-secondary.queue.core.windows.net\nhttps://seanhnscanada-secondary.table.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://seanhnscanada.blob.core.windows.net/;QueueEndpoint=https://seanhnscanada.queue.core.windows.net/;FileEndpoint=https://seanhnscanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanhnscanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanhnscanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanhnscanada-secondary.file.core.windows.net/;AccountName=seanhnscanada;AccountKey=Sanitized\n\nXClient\n"
  }
}
