{
  "Entries": [
    {
      "RequestUri": "https://seanhnscanada.blob.core.windows.net/test-filesystem-7250d3a4-05e9-38f4-6a84-0bf3b20b9025?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 03 May 2023 14:31:14 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB4BE30C6BC46D\u0022",
        "Last-Modified": "Wed, 03 May 2023 14:31:14 GMT",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanada.dfs.core.windows.net/test-filesystem-7250d3a4-05e9-38f4-6a84-0bf3b20b9025/test-file-5779b8d6-66b7-5252-779c-68618a19ad50?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 03 May 2023 14:31:14 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB4BE30C7B66E2\u0022",
        "Last-Modified": "Wed, 03 May 2023 14:31:14 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanhnscanada.dfs.core.windows.net/test-filesystem-7250d3a4-05e9-38f4-6a84-0bf3b20b9025/test-file-5779b8d6-66b7-5252-779c-68618a19ad50?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-content-crc64": "wyfnJan5\u002BA0=",
        "x-ms-date": "Wed, 03 May 2023 14:31:14 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": "rJRWSVI9cnFHs97HKNkBnP8GqRQdQWIUEQpUvcDotuQP922jdzuxCyt7Bw//ivxEwNWk3wX9yGsxQjhH6bSxX/z5uDFrXSTEVJ3oojlTFIYOEP3qQ9ffES4CcjUDaiJ2yagSBtHL2GOw4IpnFSYx3S2xOdi3xxskGqcCaOvvwOp6cdiRQQ60QzeaOWNNd/wI0ZQHUTBKvwGM7esqyG93wR\u002Bf7KNNoJwe/PagHY6316Kr\u002BZdW6G\u002B5MLLWBFMiinrHIndErYpYuzD46FQ6qaFz1RZIf8/XIdmw5bzxd5xI\u002B3J82fsWcyoYUz5nXf8af4cRYy892guq7wCelMfO[...]
[...]
    {
      "RequestUri": "https://seanhnscanada.dfs.core.windows.net/test-filesystem-7250d3a4-05e9-38f4-6a84-0bf3b20b9025/test-file-5779b8d6-66b7-5252-779c-68618a19ad50?action=flush\u0026position=10130",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8DB4BE30C833E13\u0022",
        "x-ms-date": "Wed, 03 May 2023 14:31:15 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB4BE30CECA015\u0022",
        "Last-Modified": "Wed, 03 May 2023 14:31:14 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanada.blob.core.windows.net/test-filesystem-7250d3a4-05e9-38f4-6a84-0bf3b20b9025?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 03 May 2023 14:31:15 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "2011792465",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseanhnscanada\nU2FuaXRpemVk\nhttps://seanhnscanada.blob.core.windows.net\nhttps://seanhnscanada.file.core.windows.net\nhttps://seanhnscanada.queue.core.windows.net\nhttps://seanhnscanada.table.core.windows.net\n\n\n\n\nhttps://seanhnscanada-secondary.blob.core.windows.net\nhttps://seanhnscanada-secondary.file.core.windows.net\nhttps://seanhnscanada-secondary.queue.core.windows.net\nhttps://seanhnscanada-secondary.table.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://seanhnscanada.blob.core.windows.net/;QueueEndpoint=https://seanhnscanada.queue.core.windows.net/;FileEndpoint=https://seanhnscanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanhnscanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanhnscanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanhnscanada-secondary.file.core.windows.net/;AccountName=seanhnscanada;AccountKey=Sanitized\n\nXClient\n"
  }
}
