{
  "Entries": [
    {
      "RequestUri": "https://seanhnscanada.blob.core.windows.net/test-filesystem-ddf1a4ef-b4c5-620e-5604-8c159efe6f85?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 09 May 2023 19:59:58 GMT",
        "x-ms-version": "2023-01-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB50C7F762C6EC\u0022",
        "Last-Modified": "Tue, 09 May 2023 19:59:58 GMT",
        "x-ms-version": "2023-01-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanada.dfs.core.windows.net/test-filesystem-ddf1a4ef-b4c5-620e-5604-8c159efe6f85/test-file-a232186b-1e2c-040f-d93d-7315ef7211bb?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 09 May 2023 19:59:58 GMT",
        "x-ms-version": "2023-01-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB50C7F7706653\u0022",
        "Last-Modified": "Tue, 09 May 2023 19:59:58 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-01-03"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanhnscanada.dfs.core.windows.net/test-filesystem-ddf1a4ef-b4c5-620e-5604-8c159efe6f85/test-file-a232186b-1e2c-040f-d93d-7315ef7211bb?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-content-crc64": "i1Kl8ukkHp8=",
        "x-ms-date": "Tue, 09 May 2023 19:59:59 GMT",
        "x-ms-version": "2023-01-03"
      },
      "RequestBody": "EuUrNL5dk3\u002BtLkgPy/3XiP7LuHKdKMjoqzZndRDTjGZOrP6lotEC/5fhmY\u002BFd/VRidYka3b0nuodQomH9h1v2aHiwB7\u002BMeUsyLjavI44YzNBFuw5riHvWQ4Uh2BIewl6csDtorbWUlfw\u002BKK9GeJb5N5VRt8xNSqA8mcQ6amF402vYEnOS8B9asOUSbZ\u002BMj8ruKOC8zQpST2VbbBPxmitaxRVDrmYjZke2NwcnOx0AcAn5DEGA/AYhhYMON0QLaNa592hKCSGkyo=",
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-content-crc64": "i1Kl8ukkHp8=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-01-03"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanhnscanada.dfs.core.windows.net/test-filesystem-ddf1a4ef-b4c5-620e-5604-8c159efe6f85/test-file-a232186b-1e2c-040f-d93d-7315ef7211bb?action=flush\u0026position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8DB50C7F782BCE5\u0022",
        "x-ms-date": "Tue, 09 May 2023 19:59:59 GMT",
        "x-ms-version": "2023-01-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB50C7F7C3F0A3\u0022",
        "Last-Modified": "Tue, 09 May 2023 19:59:58 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2023-01-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanada.blob.core.windows.net/test-filesystem-ddf1a4ef-b4c5-620e-5604-8c159efe6f85?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 09 May 2023 19:59:59 GMT",
        "x-ms-version": "2023-01-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2023-01-03"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1583347714",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseanhnscanada\nU2FuaXRpemVk\nhttps://seanhnscanada.blob.core.windows.net\nhttps://seanhnscanada.file.core.windows.net\nhttps://seanhnscanada.queue.core.windows.net\nhttps://seanhnscanada.table.core.windows.net\n\n\n\n\nhttps://seanhnscanada-secondary.blob.core.windows.net\nhttps://seanhnscanada-secondary.file.core.windows.net\nhttps://seanhnscanada-secondary.queue.core.windows.net\nhttps://seanhnscanada-secondary.table.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://seanhnscanada.blob.core.windows.net/;QueueEndpoint=https://seanhnscanada.queue.core.windows.net/;FileEndpoint=https://seanhnscanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanhnscanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanhnscanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanhnscanada-secondary.file.core.windows.net/;AccountName=seanhnscanada;AccountKey=Sanitized\n\nXClient\n"
  }
}
