{
  "Entries": [
    {
      "RequestUri": "https://seanhnscanada.blob.core.windows.net/test-filesystem-979f4519-1695-9fa1-f8e2-4da5bf6d8f42?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 03 May 2023 14:07:22 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB4BDFB6943EA7\u0022",
        "Last-Modified": "Wed, 03 May 2023 14:07:21 GMT",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanada.dfs.core.windows.net/test-filesystem-979f4519-1695-9fa1-f8e2-4da5bf6d8f42/test-file-e0181ff9-4eac-e9a5-f89c-e98cf2cca6a0?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 03 May 2023 14:07:22 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB4BDFB69F4759\u0022",
        "Last-Modified": "Wed, 03 May 2023 14:07:21 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanhnscanada.dfs.core.windows.net/test-filesystem-979f4519-1695-9fa1-f8e2-4da5bf6d8f42/test-file-e0181ff9-4eac-e9a5-f89c-e98cf2cca6a0?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-content-crc64": "OQCkr6XZ9KY=",
        "x-ms-date": "Wed, 03 May 2023 14:07:22 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": "eA5tpRhY8PPp0sSqC/BviVKCIotg//ppmbCXklCVkPvS4jghAemyKkMZpnXM1Gpai0xzu7WMx3gTAwtowV2jU0HJ1ym4TYhpz/dHRlmFncVFPAcDItVFRhq/Df7eSmnldlMzAvxBoj3ECuu\u002BRIEfjWVFIoVWoDBshJEO\u002BT\u002BKi4SNYtAFUprJA5rJPxjphgGZn4CYmCfkjtYixn5rMqn\u002BOn9nMOKxGTvKfB7rjWAYg/2PdVm/8fJcqdP544wcXtHxygWYglYe54VFzRsJ\u002BQF1CUKA27xPPkiMCoYPtzaurR5N\u002BsJbfwGncY3TeiPWU7DShNlJnIIUoYy[...]
[...]
    {
      "RequestUri": "https://seanhnscanada.dfs.core.windows.net/test-filesystem-979f4519-1695-9fa1-f8e2-4da5bf6d8f42/test-file-e0181ff9-4eac-e9a5-f89c-e98cf2cca6a0?action=flush\u0026position=10240",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8DB4BDFB6AA0A44\u0022",
        "x-ms-date": "Wed, 03 May 2023 14:07:22 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB4BDFB6FDB094\u0022",
        "Last-Modified": "Wed, 03 May 2023 14:07:22 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanada.blob.core.windows.net/test-filesystem-979f4519-1695-9fa1-f8e2-4da5bf6d8f42?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 03 May 2023 14:07:22 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "941073014",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseanhnscanada\nU2FuaXRpemVk\nhttps://seanhnscanada.blob.core.windows.net\nhttps://seanhnscanada.file.core.windows.net\nhttps://seanhnscanada.queue.core.windows.net\nhttps://seanhnscanada.table.core.windows.net\n\n\n\n\nhttps://seanhnscanada-secondary.blob.core.windows.net\nhttps://seanhnscanada-secondary.file.core.windows.net\nhttps://seanhnscanada-secondary.queue.core.windows.net\nhttps://seanhnscanada-secondary.table.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://seanhnscanada.blob.core.windows.net/;QueueEndpoint=https://seanhnscanada.queue.core.windows.net/;FileEndpoint=https://seanhnscanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanhnscanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanhnscanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanhnscanada-secondary.file.core.windows.net/;AccountName=seanhnscanada;AccountKey=Sanitized\n\nXClient\n"
  }
}
