{
  "Entries": [
    {
      "RequestUri": "https://seanhnscanada.blob.core.windows.net/test-filesystem-0e3ab205-306c-5ef2-54aa-4f20792aa414?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 03 May 2023 14:07:51 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB4BDFC840E9AF\u0022",
        "Last-Modified": "Wed, 03 May 2023 14:07:51 GMT",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanada.dfs.core.windows.net/test-filesystem-0e3ab205-306c-5ef2-54aa-4f20792aa414/test-file-c0c5caef-c2d8-c30f-15df-38449b530d9c?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 03 May 2023 14:07:51 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB4BDFC84C4532\u0022",
        "Last-Modified": "Wed, 03 May 2023 14:07:51 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanhnscanada.dfs.core.windows.net/test-filesystem-0e3ab205-306c-5ef2-54aa-4f20792aa414/test-file-c0c5caef-c2d8-c30f-15df-38449b530d9c?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-content-crc64": "WSn7XWFQ7pU=",
        "x-ms-date": "Wed, 03 May 2023 14:07:51 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": "WLHzXXgAASnOREgLtXbxC50oZEtP3uBwZVxQWEAQiu61XSO7Vq\u002Btuyyw9\u002B\u002BeYF50d5A1QnNfznnRgvgcsKjpvbpaVVdTNrTteqgen\u002Bfw0QX\u002B2\u002BGw20d7Vo\u002Bp6dO3kQuExzk1QwoGIUDbR8jKQS\u002BS4LDzHdTHOeJy3//IqUzhNuidmtitu47697qg1JN/sBRgFwgixHQ2vI1Xw2QLPnfz\u002BhHfLaZW5CUi\u002BSUaJmRO8i7qaJJEvnJ0Zt1KVvgp7rlCrdqCoINuCTLjAMtOHJYoCNA1IdXkrzufasbJDI0t\u002BAps13iKzF[...]
[...]
    {
      "RequestUri": "https://seanhnscanada.dfs.core.windows.net/test-filesystem-0e3ab205-306c-5ef2-54aa-4f20792aa414/test-file-c0c5caef-c2d8-c30f-15df-38449b530d9c?action=flush\u0026position=10240",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8DB4BDFC8540EC0\u0022",
        "x-ms-date": "Wed, 03 May 2023 14:07:52 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB4BDFC8B9F5E8\u0022",
        "Last-Modified": "Wed, 03 May 2023 14:07:52 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanada.blob.core.windows.net/test-filesystem-0e3ab205-306c-5ef2-54aa-4f20792aa414?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 03 May 2023 14:07:52 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "367425541",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseanhnscanada\nU2FuaXRpemVk\nhttps://seanhnscanada.blob.core.windows.net\nhttps://seanhnscanada.file.core.windows.net\nhttps://seanhnscanada.queue.core.windows.net\nhttps://seanhnscanada.table.core.windows.net\n\n\n\n\nhttps://seanhnscanada-secondary.blob.core.windows.net\nhttps://seanhnscanada-secondary.file.core.windows.net\nhttps://seanhnscanada-secondary.queue.core.windows.net\nhttps://seanhnscanada-secondary.table.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://seanhnscanada.blob.core.windows.net/;QueueEndpoint=https://seanhnscanada.queue.core.windows.net/;FileEndpoint=https://seanhnscanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanhnscanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanhnscanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanhnscanada-secondary.file.core.windows.net/;AccountName=seanhnscanada;AccountKey=Sanitized\n\nXClient\n"
  }
}
