{
  "Entries": [
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-filesystem-c56ff411-95df-8ae1-7b66-4bb4666e053d?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 09 May 2022 20:56:01 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA31FE53230D18\u0022",
        "Last-Modified": "Mon, 09 May 2022 20:56:01 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.dfs.core.windows.net/test-filesystem-c56ff411-95df-8ae1-7b66-4bb4666e053d/test-file-b48a1ba1-4c11-9c93-6ac2-f607f9458a97?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 09 May 2022 20:56:01 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA31FE533299F9\u0022",
        "Last-Modified": "Mon, 09 May 2022 20:56:01 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jaschrepragrs.dfs.core.windows.net/test-filesystem-c56ff411-95df-8ae1-7b66-4bb4666e053d/test-file-b48a1ba1-4c11-9c93-6ac2-f607f9458a97?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-MD5": "fyCYTMhOWbnrByrMkPRLzg==",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Mon, 09 May 2022 20:56:01 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": "j7Xvgd2R5v\u002BAEqfmFXTPp\u002BVzJwcwSKSZmMe2N00ssAgYR90F5P/5\u002B3c\u002BPYVVatSx8RxiOO7YCEcQVugW2q\u002BxU2Kezc6XysPleSuP8gsfRC7yBEUwyXcaQD6V9I0W4yDIjekjtpwGGiZZfb7CSRY78RK6JNZpgIrqhI2PAdY1zpYKx2Qi\u002B42R6\u002Bof10u5V/YoWgJ7W79KXgxeOTEPdxhQI64ouIKxGfWEKTjsSqk\u002BMS2WZ6fTunLXwGhXw8JbgXTRzrSdkJ90dkAM9zKGXhRjHwcEeQ9xfWk7UPcZWlUzKajEGnz1oaCOI[...]
[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-filesystem-c56ff411-95df-8ae1-7b66-4bb4666e053d?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 09 May 2022 20:56:02 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "112226722",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\njaschrepragrs\nU2FuaXRpemVk\nhttps://jaschrepragrs.blob.core.windows.net\nhttps://jaschrepragrs.file.core.windows.net\nhttps://jaschrepragrs.queue.core.windows.net\nhttps://jaschrepragrs.table.core.windows.net\n\n\n\n\nhttps://jaschrepragrs-secondary.blob.core.windows.net\nhttps://jaschrepragrs-secondary.file.core.windows.net\nhttps://jaschrepragrs-secondary.queue.core.windows.net\nhttps://jaschrepragrs-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jaschrepragrs.blob.core.windows.net/;QueueEndpoint=https://jaschrepragrs.queue.core.windows.net/;FileEndpoint=https://jaschrepragrs.file.core.windows.net/;BlobSecondaryEndpoint=https://jaschrepragrs-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jaschrepragrs-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jaschrepragrs-secondary.file.core.windows.net/;AccountName=jaschrepragrs;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
