{
  "Entries": [
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-filesystem-1482e0fb-a618-abb1-52ba-8dc815c53e0b?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 24 Feb 2022 00:37:00 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9F72DC54CB44F\u0022",
        "Last-Modified": "Thu, 24 Feb 2022 00:37:00 GMT",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.dfs.core.windows.net/test-filesystem-1482e0fb-a618-abb1-52ba-8dc815c53e0b/test-file-5b708005-5f71-aa12-b4fb-b3e815aa69a4?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 24 Feb 2022 00:37:00 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9F72DC5571E7B\u0022",
        "Last-Modified": "Thu, 24 Feb 2022 00:37:00 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://seanmcccanary3.dfs.core.windows.net/test-filesystem-1482e0fb-a618-abb1-52ba-8dc815c53e0b/test-file-5b708005-5f71-aa12-b4fb-b3e815aa69a4?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-content-crc64": "h\u002BM6hDJfz84=",
        "x-ms-date": "Thu, 24 Feb 2022 00:37:00 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": "ZaXsTEAwhqDzvI1QltG9w4d\u002Br\u002BWGfzeEDpZxTRcQy5Kn33tHoubN6Kmeyhcr4JZi/39Ue0Q7quVuaD6qvzmI4/D6qLZVdiGgsMc757QfWC7/Dk2YvFBOazWW2TmoIyhwFucmMTffDIles8p8/8IwTw8QqrDr8CagrDyAv53n\u002BI2ey9DN\u002BCb2IAHDOQmG0WxyZokpl3h4hSbBhoX6X03sdrs83TTyYlbpGYquJ7YdGdrQDVkTvmAVJkaqDHKh/MC018NOSvM4gAMzQH7tyV1wo2yqKlH02bhaJrftSFbkRx3K\u002BlDyz8/nl41V333iKF3oOmgF99FvwP4[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-filesystem-1482e0fb-a618-abb1-52ba-8dc815c53e0b?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 24 Feb 2022 00:37:01 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "657334161",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttp://seanmcccanary3.blob.core.windows.net\nhttp://seanmcccanary3.file.core.windows.net\nhttp://seanmcccanary3.queue.core.windows.net\nhttp://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttp://seanmcccanary3-secondary.blob.core.windows.net\nhttp://seanmcccanary3-secondary.file.core.windows.net\nhttp://seanmcccanary3-secondary.queue.core.windows.net\nhttp://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=http://seanmcccanary3.queue.core.windows.net/;FileEndpoint=http://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=http://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Sanitized\n\n\n"
  }
}