{
  "Entries": [
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-filesystem-ad0c1dcd-f064-692d-9b4e-cb44072c835b?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 09 May 2022 20:56:02 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA31FE53F69056\u0022",
        "Last-Modified": "Mon, 09 May 2022 20:56:02 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.dfs.core.windows.net/test-filesystem-ad0c1dcd-f064-692d-9b4e-cb44072c835b/test-file-b51e7443-4ea1-4f83-c40c-c56f986a8066?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 09 May 2022 20:56:03 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA31FE5405D10D\u0022",
        "Last-Modified": "Mon, 09 May 2022 20:56:02 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jaschrepragrs.dfs.core.windows.net/test-filesystem-ad0c1dcd-f064-692d-9b4e-cb44072c835b/test-file-b51e7443-4ea1-4f83-c40c-c56f986a8066?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-content-crc64": "dR3\u002Br2Y66NQ=",
        "x-ms-date": "Mon, 09 May 2022 20:56:03 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": "2HvDJ3xM0\u002BokiU04U0PQwLusW\u002Bo2TwuiZENIP4iA5isTCREdF2ujnEkLD8alTDYVy5q98NkuXohvIMM4A5NipKMiJUoxs6hPCL6gKkBE/BcNM3PuwvVS5KuJrfaoapm1qGsjgifr5BjxbegajTNIKiSrK9AfdOGu0ECfqAWxp50l6oHVIXrwIU9b/FQMN1d3QILS/D7JljSJdbLmTDsSQMZK9aKycwmpuwqBxHiNoZjpKGeD3qpeXFRNS6zHCdUTSbyNwUK0xc15KEE0R9G8/NMa/STUj2Ec7JlNZSdc4rE1bXu8/99WNGKaCbVoKhSDkU/ZrAuwP7pacdWoZmClHEaQ/9[...]
[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-filesystem-ad0c1dcd-f064-692d-9b4e-cb44072c835b?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 09 May 2022 20:56:04 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1601747229",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\njaschrepragrs\nU2FuaXRpemVk\nhttps://jaschrepragrs.blob.core.windows.net\nhttps://jaschrepragrs.file.core.windows.net\nhttps://jaschrepragrs.queue.core.windows.net\nhttps://jaschrepragrs.table.core.windows.net\n\n\n\n\nhttps://jaschrepragrs-secondary.blob.core.windows.net\nhttps://jaschrepragrs-secondary.file.core.windows.net\nhttps://jaschrepragrs-secondary.queue.core.windows.net\nhttps://jaschrepragrs-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jaschrepragrs.blob.core.windows.net/;QueueEndpoint=https://jaschrepragrs.queue.core.windows.net/;FileEndpoint=https://jaschrepragrs.file.core.windows.net/;BlobSecondaryEndpoint=https://jaschrepragrs-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jaschrepragrs-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jaschrepragrs-secondary.file.core.windows.net/;AccountName=jaschrepragrs;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
