{
  "Entries": [
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-filesystem-647d32e1-a9ed-fbb2-6e11-d0204d9ccb36?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 09 May 2022 20:55:50 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA31FE4CD6DBB9\u0022",
        "Last-Modified": "Mon, 09 May 2022 20:55:50 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.dfs.core.windows.net/test-filesystem-647d32e1-a9ed-fbb2-6e11-d0204d9ccb36/test-file-a8e265eb-73ca-ceef-6c74-fcaf5538bf11?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 09 May 2022 20:55:51 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA31FE4CEB6212\u0022",
        "Last-Modified": "Mon, 09 May 2022 20:55:50 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jaschrepragrs.dfs.core.windows.net/test-filesystem-647d32e1-a9ed-fbb2-6e11-d0204d9ccb36/test-file-a8e265eb-73ca-ceef-6c74-fcaf5538bf11?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Mon, 09 May 2022 20:55:51 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": "wSLSY/Q3SX59jcGJ308o6M2a5teMgluLsM8a9/Y0XjtTQ6Kws\u002BFCAiuSy00JXb\u002BSYISz\u002BIA4\u002BT7HR7IkHVKHSC\u002BGNZutdzTsWOSr\u002BrcNgVMPiJdygGW7Gklj6WwuHeXYC4Megycj5OhQx6CcjP\u002BHucVfFJS7FMfJyxtSSY3HvTr\u002B0u4z7/4s7KOuIrjFHo1J3DCnzwhQHfa7VbgM0ZtbiAplnboRU8rHMyjwDPIPBKyNCG1dIO4xrrX4eJpFHxoIU5muX4HTOIhm35zgXxEDrFALf8ku/mcbNO8EGNowgRMO6LhYYKQru[...]
[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-filesystem-647d32e1-a9ed-fbb2-6e11-d0204d9ccb36?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 09 May 2022 20:55:52 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "421102590",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\njaschrepragrs\nU2FuaXRpemVk\nhttps://jaschrepragrs.blob.core.windows.net\nhttps://jaschrepragrs.file.core.windows.net\nhttps://jaschrepragrs.queue.core.windows.net\nhttps://jaschrepragrs.table.core.windows.net\n\n\n\n\nhttps://jaschrepragrs-secondary.blob.core.windows.net\nhttps://jaschrepragrs-secondary.file.core.windows.net\nhttps://jaschrepragrs-secondary.queue.core.windows.net\nhttps://jaschrepragrs-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jaschrepragrs.blob.core.windows.net/;QueueEndpoint=https://jaschrepragrs.queue.core.windows.net/;FileEndpoint=https://jaschrepragrs.file.core.windows.net/;BlobSecondaryEndpoint=https://jaschrepragrs-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jaschrepragrs-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jaschrepragrs-secondary.file.core.windows.net/;AccountName=jaschrepragrs;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
