{
  "Entries": [
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-filesystem-6afa8546-ef5d-f908-e989-d7cb617080ea?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 09 May 2022 20:56:14 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA31FE5AC412E9\u0022",
        "Last-Modified": "Mon, 09 May 2022 20:56:14 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.dfs.core.windows.net/test-filesystem-6afa8546-ef5d-f908-e989-d7cb617080ea/test-file-1af9eb98-0863-4416-edeb-9a0500c944d7?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 09 May 2022 20:56:14 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA31FE5AD38AA6\u0022",
        "Last-Modified": "Mon, 09 May 2022 20:56:14 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jaschrepragrs.dfs.core.windows.net/test-filesystem-6afa8546-ef5d-f908-e989-d7cb617080ea/test-file-1af9eb98-0863-4416-edeb-9a0500c944d7?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Mon, 09 May 2022 20:56:14 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": "naBmyLJ1580vZL9/kvfFesITTCnfzKMEgRVv2\u002BlXmwgC43STCP4QCVDDheMF\u002B3i0YxQ85laxmtH8YUadBgvj2Mi3fa6CMnHDAkLZG0e//4WdunfVG7WxUEijlqa3cwJE36wbTn7JMTGjeOQT136JPWLBAEuTDrwTBSxm35zKDI9AlTuapLEH04lGMqPRnXjJGVlE9nO2sNHvCEhRY1KU2GtU00JD75ixuSzCTdsZQme0nMVDhhUbieVpqpxotnA3sVo3fMk2hirAkj1H9GL21cbhnceMUVJWOUpc2UT8SQO7ipuB4sadfRWbgvPY1JSCc9TWhhipq18I4UJ\u00[...]
[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-filesystem-6afa8546-ef5d-f908-e989-d7cb617080ea?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 09 May 2022 20:56:15 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1906558198",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\njaschrepragrs\nU2FuaXRpemVk\nhttps://jaschrepragrs.blob.core.windows.net\nhttps://jaschrepragrs.file.core.windows.net\nhttps://jaschrepragrs.queue.core.windows.net\nhttps://jaschrepragrs.table.core.windows.net\n\n\n\n\nhttps://jaschrepragrs-secondary.blob.core.windows.net\nhttps://jaschrepragrs-secondary.file.core.windows.net\nhttps://jaschrepragrs-secondary.queue.core.windows.net\nhttps://jaschrepragrs-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jaschrepragrs.blob.core.windows.net/;QueueEndpoint=https://jaschrepragrs.queue.core.windows.net/;FileEndpoint=https://jaschrepragrs.file.core.windows.net/;BlobSecondaryEndpoint=https://jaschrepragrs-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jaschrepragrs-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jaschrepragrs-secondary.file.core.windows.net/;AccountName=jaschrepragrs;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
