{
  "Entries": [
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-filesystem-2faf5c50-369c-b152-603a-7c6fc360ff43?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 24 Feb 2022 00:47:25 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9F72F39ACB45C\u0022",
        "Last-Modified": "Thu, 24 Feb 2022 00:47:25 GMT",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.dfs.core.windows.net/test-filesystem-2faf5c50-369c-b152-603a-7c6fc360ff43/test-file-b43a2613-54b6-a1bd-ad2e-e340291bd442?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 24 Feb 2022 00:47:25 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9F72F39B63EB1\u0022",
        "Last-Modified": "Thu, 24 Feb 2022 00:47:25 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.dfs.core.windows.net/test-filesystem-2faf5c50-369c-b152-603a-7c6fc360ff43/test-file-b43a2613-54b6-a1bd-ad2e-e340291bd442?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 24 Feb 2022 00:47:25 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": "HWF5xcdxyzKBiQUynWk0dmLJUG0SzztpTin0\u002BzQjn9w9j8sacBLqrokbrX2DrcHmxXJUvP2\u002B900lEHaefdD\u002BXeop9Q6dGQZQ3qHj9iK\u002B5aFnDTXCz\u002BLefpd\u002B9GCcTDC5HU\u002BSWrizSKtrA95b2gErZyrUNm\u002BaPI4ISnZ2HyWms5JxKtjSLIvotMWKVssDgqSVU401xxXBHuHBiQ9CPCmGxVBM6rAoWDuf7IKqEOXCBcfS4cyXcOx8rwz3EKJ7pnebA5F7t5j0bfpSltuTFg37/4RIb1td7lRj0DqjMUiZJEULDgxURk0v3[...]
    {
      "RequestUri": "http://seanmcccanary3.dfs.core.windows.net/test-filesystem-2faf5c50-369c-b152-603a-7c6fc360ff43/test-file-b43a2613-54b6-a1bd-ad2e-e340291bd442?action=flush\u0026position=3072",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 24 Feb 2022 00:47:25 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9F72F39C94ECF\u0022",
        "Last-Modified": "Thu, 24 Feb 2022 00:47:25 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-filesystem-2faf5c50-369c-b152-603a-7c6fc360ff43/test-file-b43a2613-54b6-a1bd-ad2e-e340291bd442",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 24 Feb 2022 00:47:25 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D9F72F39C94ECF\u0022",
        "Last-Modified": "Thu, 24 Feb 2022 00:47:25 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 24 Feb 2022 00:47:25 GMT",
        "x-ms-last-access-time": "Thu, 24 Feb 2022 00:47:25 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-filesystem-2faf5c50-369c-b152-603a-7c6fc360ff43/test-file-b43a2613-54b6-a1bd-ad2e-e340291bd442",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8D9F72F39C94ECF\u0022",
        "x-ms-date": "Thu, 24 Feb 2022 00:47:25 GMT",
        "x-ms-range": "bytes=0-2047",
        "x-ms-range-get-content-crc64": "true",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-2047/3072",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D9F72F39C94ECF\u0022",
        "Last-Modified": "Thu, 24 Feb 2022 00:47:25 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-content-crc64": "9wAxw9HXwuI=",
        "x-ms-creation-time": "Thu, 24 Feb 2022 00:47:25 GMT",
        "x-ms-last-access-time": "Thu, 24 Feb 2022 00:47:25 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": "HWF5xcdxyzKBiQUynWk0dmLJUG0SzztpTin0\u002BzQjn9w9j8sacBLqrokbrX2DrcHmxXJUvP2\u002B900lEHaefdD\u002BXeop9Q6dGQZQ3qHj9iK\u002B5aFnDTXCz\u002BLefpd\u002B9GCcTDC5HU\u[...]
[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-filesystem-2faf5c50-369c-b152-603a-7c6fc360ff43?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 24 Feb 2022 00:47:25 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1119128316",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttp://seanmcccanary3.blob.core.windows.net\nhttp://seanmcccanary3.file.core.windows.net\nhttp://seanmcccanary3.queue.core.windows.net\nhttp://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttp://seanmcccanary3-secondary.blob.core.windows.net\nhttp://seanmcccanary3-secondary.file.core.windows.net\nhttp://seanmcccanary3-secondary.queue.core.windows.net\nhttp://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=http://seanmcccanary3.queue.core.windows.net/;FileEndpoint=http://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=http://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Sanitized\n\n\n"
  }
}