{
  "Entries": [
    {
      "RequestUri": "https://seanhnscanada.blob.core.windows.net/test-filesystem-9eb2b950-b61a-16b0-8720-75cefc5f57d4?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 09 May 2023 19:15:11 GMT",
        "x-ms-version": "2023-01-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB50C1B5E870D0\u0022",
        "Last-Modified": "Tue, 09 May 2023 19:15:11 GMT",
        "x-ms-version": "2023-01-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanada.dfs.core.windows.net/test-filesystem-9eb2b950-b61a-16b0-8720-75cefc5f57d4/test-file-db7eff5f-2a9d-3910-a9b3-e271ab873ddc?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 09 May 2023 19:15:11 GMT",
        "x-ms-version": "2023-01-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB50C1B5F54AF1\u0022",
        "Last-Modified": "Tue, 09 May 2023 19:15:11 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-01-03"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanhnscanada.dfs.core.windows.net/test-filesystem-9eb2b950-b61a-16b0-8720-75cefc5f57d4/test-file-db7eff5f-2a9d-3910-a9b3-e271ab873ddc?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-content-crc64": "Z0l5Q3/tfMA=",
        "x-ms-date": "Tue, 09 May 2023 19:15:12 GMT",
        "x-ms-version": "2023-01-03"
      },
      "RequestBody": "1\u002B\u002B6eVzNOs\u002BlBnc\u002BqOIvN8CRTzoHJipD5WZqPLcl63/Ht/f3lOWIsoeJi6LU7p0xjZEtLljaT7DEd5P1Yv4XgBr4dvHqN6PbCZyzfZuIbvfJOa8m\u002BL0n7GhHMxxSkk\u002BIcQqH3HerRlXtUiW7J9EUPAibLClO8Yhd0ImJowSGiHZMKgyQAJKAHfJaOaWXa8WXMvcUtmYlOoCCKgvtIqNRZ8mvbvzEgzt2Gw439LfixWXE8nAMctEPJ/CMDdaGkvtPCdLc6PzI0q\u002B7nZtY7kXIoGSmKC8yRPT3n0cMN3Vl74kS5\u002BvlBt1o/B/BUdU2tzirx[...]
    {
      "RequestUri": "https://seanhnscanada.dfs.core.windows.net/test-filesystem-9eb2b950-b61a-16b0-8720-75cefc5f57d4/test-file-db7eff5f-2a9d-3910-a9b3-e271ab873ddc?action=flush\u0026position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8DB50C1B5FCCAA2\u0022",
        "x-ms-date": "Tue, 09 May 2023 19:15:12 GMT",
        "x-ms-version": "2023-01-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB50C1B616BA53\u0022",
        "Last-Modified": "Tue, 09 May 2023 19:15:11 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2023-01-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanada.blob.core.windows.net/test-filesystem-9eb2b950-b61a-16b0-8720-75cefc5f57d4?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 09 May 2023 19:15:12 GMT",
        "x-ms-version": "2023-01-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2023-01-03"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1731901114",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseanhnscanada\nU2FuaXRpemVk\nhttps://seanhnscanada.blob.core.windows.net\nhttps://seanhnscanada.file.core.windows.net\nhttps://seanhnscanada.queue.core.windows.net\nhttps://seanhnscanada.table.core.windows.net\n\n\n\n\nhttps://seanhnscanada-secondary.blob.core.windows.net\nhttps://seanhnscanada-secondary.file.core.windows.net\nhttps://seanhnscanada-secondary.queue.core.windows.net\nhttps://seanhnscanada-secondary.table.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://seanhnscanada.blob.core.windows.net/;QueueEndpoint=https://seanhnscanada.queue.core.windows.net/;FileEndpoint=https://seanhnscanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanhnscanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanhnscanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanhnscanada-secondary.file.core.windows.net/;AccountName=seanhnscanada;AccountKey=Sanitized\n\nXClient\n"
  }
}
