{
  "Entries": [
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-filesystem-79056ab4-d787-3311-47de-dbc4449b5361?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 10 May 2022 17:40:52 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA32AC3A8EA8D5\u0022",
        "Last-Modified": "Tue, 10 May 2022 17:40:52 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.dfs.core.windows.net/test-filesystem-79056ab4-d787-3311-47de-dbc4449b5361/test-file-9e114cbf-e98e-31c2-ae18-12074cc36cec?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 May 2022 17:40:52 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA32AC3A9DEA75\u0022",
        "Last-Modified": "Tue, 10 May 2022 17:40:52 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.dfs.core.windows.net/test-filesystem-79056ab4-d787-3311-47de-dbc4449b5361/test-file-9e114cbf-e98e-31c2-ae18-12074cc36cec?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 10 May 2022 17:40:52 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": "X8zo2cH5bsIGPQ7x/uPEXeIx6TWikMgQb0NrpHRk8DbZvM6iASLp4qA1vVo40vV3tB8epkuHeM8D12p9jcpOok3YF0EVIlu/RweUbdJu2JxO8\u002B9VRUnqUkP\u002Bniq4a1TV5xsNYLuzYZHEX15E8gv8lf/NL5rb\u002BFwD7cT\u002BF4QwBtyyvoW3YHfhmpFdkebqpmA4AQgr6jy6\u002Bu6\u002BCXL2tUoNk1iCkTSFRTWH7JQIfWd2GUdkxhV7BRuf\u002BMOX\u002BFYE6\u002BVHUP2NaBQrsrvTo/6osn2HSPArke80ko4945lw7k3eggGuwC1p[...]
    {
      "RequestUri": "https://jaschrepragrs.dfs.core.windows.net/test-filesystem-79056ab4-d787-3311-47de-dbc4449b5361/test-file-9e114cbf-e98e-31c2-ae18-12074cc36cec?action=flush\u0026position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 May 2022 17:40:53 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA32AC3AC542E8\u0022",
        "Last-Modified": "Tue, 10 May 2022 17:40:52 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-filesystem-79056ab4-d787-3311-47de-dbc4449b5361/test-file-9e114cbf-e98e-31c2-ae18-12074cc36cec",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 May 2022 17:40:53 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA32AC3AC542E8\u0022",
        "Last-Modified": "Tue, 10 May 2022 17:40:52 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 10 May 2022 17:40:52 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-filesystem-79056ab4-d787-3311-47de-dbc4449b5361/test-file-9e114cbf-e98e-31c2-ae18-12074cc36cec",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8DA32AC3AC542E8\u0022",
        "x-ms-date": "Tue, 10 May 2022 17:40:53 GMT",
        "x-ms-range": "bytes=0-511",
        "x-ms-range-get-content-crc64": "true",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-511/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA32AC3AC542E8\u0022",
        "Last-Modified": "Tue, 10 May 2022 17:40:52 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-content-crc64": "xoFEtbA4eC4=",
        "x-ms-creation-time": "Tue, 10 May 2022 17:40:52 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": "X8zo2cH5bsIGPQ7x/uPEXeIx6TWikMgQb0NrpHRk8DbZvM6iASLp4qA1vVo40vV3tB8epkuHeM8D12p9jcpOok3YF0EVIlu/RweUbdJu2JxO8\u002B9VRUnqUkP\u002Bniq4a1TV5xsNYLuzYZHEX15E8gv8lf/NL5rb\u002BFwD7cT\u002BF4QwBtyyvoW3YHfhmpFdkebqpmA4AQgr6jy6\u002Bu6\u002BCXL2tUoNk1iCkTSFRTWH7JQIfWd2GUdkxhV7BRuf\u002BMOX\u002BFYE6\u002BVHUP2NaBQrsrvTo/6osn2HSPArke80ko4945lw7k3eggGuwC1p6LAyORNap2Ic9kZGELBm2Vn2Er1vUIV7u8Ru9SD9\u002BfFPHV8/\u002BFjb2uorIOxSKt2dd6mnuK1v\u002Bpgrt31P67JBH/1V9vJQJ\u002BAAGjjTQzCZKJDm0X13VUFD4CPGE0HajO446gDu/TPqTFDJpp11nLZoko7saBo0ysm7ERbPiROeJo5Jm1kvqipd\u002B4Qtra\u002BjzUNsXoGy7SPUAyA3M\u002BwdG8I9KoAPKwFdOOhkj22WBhwaF0PSYiuS6zhqdZc5\u002BHY\u002BP\u002BDC8IMulKFCDyaYTl21Pv0DHRyoSriXqj5HpLZqJEBxJlCN0xaZ64OhkFME\u002BZ3atDeaNdpalfQnKkVE5\u002B/r2OvlJicNKGrmajGYBrplkrCgbPB\u002B0O5lF5BbZanRVAQ="
    },
[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-filesystem-79056ab4-d787-3311-47de-dbc4449b5361?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 May 2022 17:40:53 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "881153845",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\njaschrepragrs\nU2FuaXRpemVk\nhttps://jaschrepragrs.blob.core.windows.net\nhttps://jaschrepragrs.file.core.windows.net\nhttps://jaschrepragrs.queue.core.windows.net\nhttps://jaschrepragrs.table.core.windows.net\n\n\n\n\nhttps://jaschrepragrs-secondary.blob.core.windows.net\nhttps://jaschrepragrs-secondary.file.core.windows.net\nhttps://jaschrepragrs-secondary.queue.core.windows.net\nhttps://jaschrepragrs-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jaschrepragrs.blob.core.windows.net/;QueueEndpoint=https://jaschrepragrs.queue.core.windows.net/;FileEndpoint=https://jaschrepragrs.file.core.windows.net/;BlobSecondaryEndpoint=https://jaschrepragrs-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jaschrepragrs-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jaschrepragrs-secondary.file.core.windows.net/;AccountName=jaschrepragrs;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
