{
  "Entries": [
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-filesystem-d9eb9014-68aa-512f-da19-4c1a8acda0eb?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 10 May 2022 17:05:19 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA32A7432D2CBE\u0022",
        "Last-Modified": "Tue, 10 May 2022 17:05:19 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.dfs.core.windows.net/test-filesystem-d9eb9014-68aa-512f-da19-4c1a8acda0eb/test-file-8e155fd8-77df-2a9a-bcfb-b4ab420614c4?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 May 2022 17:05:19 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA32A7433E4ECF\u0022",
        "Last-Modified": "Tue, 10 May 2022 17:05:19 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.dfs.core.windows.net/test-filesystem-d9eb9014-68aa-512f-da19-4c1a8acda0eb/test-file-8e155fd8-77df-2a9a-bcfb-b4ab420614c4?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 10 May 2022 17:05:19 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": "FiPSohKn5YmHrEUb2yKXw24BsKDnYNKHOxOa1iBYwjCEdPaWRAg4wgVcuGxYjWt4MKZCfLNrMbZRS2b/DA9oL\u002BkVl2YrAH9myO2bi6dlLq2nIqZ6FUZ9GUJARfihOLb284mCQ/YETC8m3LPF0KYO6x24WOpp7Rmjl34j67uGxJA3pJcd4\u002Bq3otZ2VDmSt0mcMVnb6eDLjAVv3qt44GB0nxcjjisO8AgyAbUU8pngEOA0h7liq9uvaxiSrQQ\u002BPsF1ArQhbygejkBQqecrt5prj83LQ1mmEvQ8cyMTfEME88LznvDlv6G3Fvl5EQHzhLN9Jh42cvtoz/C/5f[...]
    {
      "RequestUri": "https://jaschrepragrs.dfs.core.windows.net/test-filesystem-d9eb9014-68aa-512f-da19-4c1a8acda0eb/test-file-8e155fd8-77df-2a9a-bcfb-b4ab420614c4?action=flush\u0026position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 May 2022 17:05:20 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA32A7436E0A7A\u0022",
        "Last-Modified": "Tue, 10 May 2022 17:05:19 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-filesystem-d9eb9014-68aa-512f-da19-4c1a8acda0eb/test-file-8e155fd8-77df-2a9a-bcfb-b4ab420614c4",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 May 2022 17:05:20 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA32A7436E0A7A\u0022",
        "Last-Modified": "Tue, 10 May 2022 17:05:19 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 10 May 2022 17:05:19 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-filesystem-d9eb9014-68aa-512f-da19-4c1a8acda0eb/test-file-8e155fd8-77df-2a9a-bcfb-b4ab420614c4",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8DA32A7436E0A7A\u0022",
        "x-ms-date": "Tue, 10 May 2022 17:05:20 GMT",
        "x-ms-range": "bytes=0-511",
        "x-ms-range-get-content-crc64": "true",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-511/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA32A7436E0A7A\u0022",
        "Last-Modified": "Tue, 10 May 2022 17:05:19 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-content-crc64": "GHI1stGWSik=",
        "x-ms-creation-time": "Tue, 10 May 2022 17:05:19 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": "FiPSohKn5YmHrEUb2yKXw24BsKDnYNKHOxOa1iBYwjCEdPaWRAg4wgVcuGxYjWt4MKZCfLNrMbZRS2b/DA9oL\u002BkVl2YrAH9myO2bi6dlLq2nIqZ6FUZ9GUJARfihOLb284mCQ/YETC8m3LPF0KYO6x24WOpp7Rmjl34j67uGxJA3pJcd4\u002Bq3otZ2VDmSt0mcMVnb6eDLjAVv3qt44GB0nxcjjisO8AgyAbUU8pngEOA0h7liq9uvaxiSrQQ\u002BPsF1ArQhbygejkBQqecrt5prj83LQ1mmEvQ8cyMTfEME88LznvDlv6G3Fvl5EQHzhLN9Jh42cvtoz/C/5fwFCxL9TLUkNxmqhtAsFCxgLQDySO9vlVUkzYDGi8//JdmlsQvne8RMz0ya06BOCl7PB6HvzZ0MlnW82X81XatJqmD2h2IgebI8pnmi1MG11sIi94QtEFg8mBuVKqJEF3GhUCk/V4L7ro7vsiYjasK0BwK8E2YnHJkHue9Hik4P\u002BI8IAIOXdX5AJkn2PV0xGC1Z4SKfhwMLejSPN52TtCM/37qXG2k\u002BHJKEfOwcMN471qDB7qkrcHCL/YZOBz3grHIltl2jmv3EGsSQGwsX7klVVGH90sV6E29KDB7j7xRVo89693qAmDyj/NPkm1VkdA48\u002BLPb49qsqqPuWY3e4SqwO3c7nPY="
    },
[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-filesystem-d9eb9014-68aa-512f-da19-4c1a8acda0eb?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 May 2022 17:05:20 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1838995015",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\njaschrepragrs\nU2FuaXRpemVk\nhttps://jaschrepragrs.blob.core.windows.net\nhttps://jaschrepragrs.file.core.windows.net\nhttps://jaschrepragrs.queue.core.windows.net\nhttps://jaschrepragrs.table.core.windows.net\n\n\n\n\nhttps://jaschrepragrs-secondary.blob.core.windows.net\nhttps://jaschrepragrs-secondary.file.core.windows.net\nhttps://jaschrepragrs-secondary.queue.core.windows.net\nhttps://jaschrepragrs-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jaschrepragrs.blob.core.windows.net/;QueueEndpoint=https://jaschrepragrs.queue.core.windows.net/;FileEndpoint=https://jaschrepragrs.file.core.windows.net/;BlobSecondaryEndpoint=https://jaschrepragrs-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jaschrepragrs-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jaschrepragrs-secondary.file.core.windows.net/;AccountName=jaschrepragrs;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
