{
  "Entries": [
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-filesystem-0c453120-4772-8fa1-ed70-9f634531820c?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 09 May 2022 20:56:18 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA31FE5D53CF10\u0022",
        "Last-Modified": "Mon, 09 May 2022 20:56:18 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.dfs.core.windows.net/test-filesystem-0c453120-4772-8fa1-ed70-9f634531820c/test-file-1e32502b-0c49-9657-2872-cdc5fd0bfb91?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 09 May 2022 20:56:18 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA31FE5D634CD0\u0022",
        "Last-Modified": "Mon, 09 May 2022 20:56:18 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jaschrepragrs.dfs.core.windows.net/test-filesystem-0c453120-4772-8fa1-ed70-9f634531820c/test-file-1e32502b-0c49-9657-2872-cdc5fd0bfb91?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-MD5": "febN0nWQUPqDJZYiDNK/WA==",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Mon, 09 May 2022 20:56:18 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": "hjyMGHcINeCbW1wRTK6SxeT5Wa\u002Bg9ctbP5lMT9Jvn4USfWzAm3QuAWGw8eU90ZPk8qdCUdGf3ZFxMdjeu\u002BUOLLzW/89B0ilvyldN7wPlHm4FaFwrLE2zc5/bTmqcT0Z7osQpZtLEox990od6Ue2NixJq2FOI4v9uIosvZoS\u002B03oR0k0/u7ebQcU9rVrGOSKyTcJXMnfz8r/EukNHlDybv/8MaX6fTs9azpeNSzSlp\u002BlofRjBZqADHt\u002BNegBzVKyIou5autCjEv/y/GPfZaeLHxNa3hck2lheCUufEtPP53rqBalGSu0YxWoZzmk8I7g4Alvt[...]
[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-filesystem-0c453120-4772-8fa1-ed70-9f634531820c?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 09 May 2022 20:56:19 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "838764998",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\njaschrepragrs\nU2FuaXRpemVk\nhttps://jaschrepragrs.blob.core.windows.net\nhttps://jaschrepragrs.file.core.windows.net\nhttps://jaschrepragrs.queue.core.windows.net\nhttps://jaschrepragrs.table.core.windows.net\n\n\n\n\nhttps://jaschrepragrs-secondary.blob.core.windows.net\nhttps://jaschrepragrs-secondary.file.core.windows.net\nhttps://jaschrepragrs-secondary.queue.core.windows.net\nhttps://jaschrepragrs-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jaschrepragrs.blob.core.windows.net/;QueueEndpoint=https://jaschrepragrs.queue.core.windows.net/;FileEndpoint=https://jaschrepragrs.file.core.windows.net/;BlobSecondaryEndpoint=https://jaschrepragrs-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jaschrepragrs-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jaschrepragrs-secondary.file.core.windows.net/;AccountName=jaschrepragrs;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
