{
  "Entries": [
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-filesystem-2f197d2c-5b0b-291a-9ebd-8bce05bfe9f0?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 09 May 2022 22:03:14 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA3207B6DD20E4\u0022",
        "Last-Modified": "Mon, 09 May 2022 22:03:14 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.dfs.core.windows.net/test-filesystem-2f197d2c-5b0b-291a-9ebd-8bce05bfe9f0/test-file-e7885965-5d55-90cc-37c1-3ba74e1d9e38?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 09 May 2022 22:03:14 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA3207B6ED8104\u0022",
        "Last-Modified": "Mon, 09 May 2022 22:03:14 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jaschrepragrs.dfs.core.windows.net/test-filesystem-2f197d2c-5b0b-291a-9ebd-8bce05bfe9f0/test-file-e7885965-5d55-90cc-37c1-3ba74e1d9e38?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-content-crc64": "1Ghp01nyxyk=",
        "x-ms-date": "Mon, 09 May 2022 22:03:14 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": "niyIcB5vHmJZZ1uRU6q\u002B9MBjqi8/YdPS3IRWl6Y4bsQLR9E\u002BIYsJtLccLra1lRtDzC8r4WM/gD1ZtZSaGYe8IfiWhQzYf9M1WfZ3IzIcHEZpE8p3DI1gy8aU5Wv3b5swXw29HhAOak1b9odtx10KPJlNMQa9RRRrNrlFRJloPelbR8MlX/02Wqh8GxUF8wRpiqnSqT6Ucxr4UehWySaz8ridEYCa5NybF9ZdQCn\u002BZUO13LrwlpSrxtSpLQ0V35CCyShdaOGDz6XMNpFnNzLw\u002BeyloO1rwlwj8kur8bfPhjdF23cAof1hMQ0UJF8DQ4\u002BhuDMhbz6jFgbMOXWV[...]
    {
      "RequestUri": "https://jaschrepragrs.dfs.core.windows.net/test-filesystem-2f197d2c-5b0b-291a-9ebd-8bce05bfe9f0/test-file-e7885965-5d55-90cc-37c1-3ba74e1d9e38?action=flush\u0026position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 09 May 2022 22:03:14 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA3207B72133CB\u0022",
        "Last-Modified": "Mon, 09 May 2022 22:03:14 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-filesystem-2f197d2c-5b0b-291a-9ebd-8bce05bfe9f0?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 09 May 2022 22:03:14 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "627163220",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\njaschrepragrs\nU2FuaXRpemVk\nhttps://jaschrepragrs.blob.core.windows.net\nhttps://jaschrepragrs.file.core.windows.net\nhttps://jaschrepragrs.queue.core.windows.net\nhttps://jaschrepragrs.table.core.windows.net\n\n\n\n\nhttps://jaschrepragrs-secondary.blob.core.windows.net\nhttps://jaschrepragrs-secondary.file.core.windows.net\nhttps://jaschrepragrs-secondary.queue.core.windows.net\nhttps://jaschrepragrs-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jaschrepragrs.blob.core.windows.net/;QueueEndpoint=https://jaschrepragrs.queue.core.windows.net/;FileEndpoint=https://jaschrepragrs.file.core.windows.net/;BlobSecondaryEndpoint=https://jaschrepragrs-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jaschrepragrs-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jaschrepragrs-secondary.file.core.windows.net/;AccountName=jaschrepragrs;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
