{
  "Entries": [
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-filesystem-b59e3229-1c9b-f407-ebc8-d2e0aec694c9?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 09 May 2022 22:02:57 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA3207AC976867\u0022",
        "Last-Modified": "Mon, 09 May 2022 22:02:56 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.dfs.core.windows.net/test-filesystem-b59e3229-1c9b-f407-ebc8-d2e0aec694c9/test-file-4520ba82-50e7-7759-f263-39e63cead294?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 09 May 2022 22:02:57 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA3207ACA77465\u0022",
        "Last-Modified": "Mon, 09 May 2022 22:02:56 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jaschrepragrs.dfs.core.windows.net/test-filesystem-b59e3229-1c9b-f407-ebc8-d2e0aec694c9/test-file-4520ba82-50e7-7759-f263-39e63cead294?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-content-crc64": "Qp4CBiPBP8M=",
        "x-ms-date": "Mon, 09 May 2022 22:02:57 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": "HwojHaHWyjUwQt0zYCNBO7jkFejDMQsYtZKKLunirm7ZwsSojfFM9PvNMnv0IP/YGM9myFSmNe7/CmgOS5tMTZNuWp5fma7GmCDs9v\u002BPI5SSshYafOYaM43VqIKJPahfgeTohcVheH4hnzA0uT7ucObTfJmFMdGsVCcRifErPVp3jXUbpp7PMTmX\u002Bdy25npO5zectcEP2k8SOzGeUO\u002BN9WHVvCvI08pIBEpf7Tj19m6twqK5j4iZZ7MmCGpsMeFKCgN64SlOhRNtU7B2r\u002BwWHUXC8I1M1GbZPFR4ostf29NpFeM1ehRFXzyOSzvXIrjGEOokqkBT/TacoaXU1eNIDnjdDJoJ4aMwfZFQvYgqARmcsZLgOjGTFhesmNhvcIlZRj3D\u002BhYdvS5H8yyuAz\u002BtcqCLOCRRaNNGSfaDXEnKwQ0I93dKZwYCf/RjmUYE5RLX/yY44zhkB95pfLEgmmDlfDIfpQzIYwqZibgv7s6MQmTjrF0ikd3Uo\u002B\u002BZ4OpV4uSTfRwT5D8GD5sbn1p/NRkP3TpMPe4DwutVSwEcLoIgRKfUm3CyeF0k3JzBB/KCVW7WigOvCKX2kLowvpk\u002B6uAZ\u002B1qzq5moXGTdJ2BRQbv40/aTRqN\u002BcDwB3Qu2gbrD5vG7pwyYz6nVLS2f0uBEpU7\u002BOOujqqQ9m4oesc6N8dqpGUA=",
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-content-crc64": "Qp4CBiPBP8M=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jaschrepragrs.dfs.core.windows.net/test-filesystem-b59e3229-1c9b-f407-ebc8-d2e0aec694c9/test-file-4520ba82-50e7-7759-f263-39e63cead294?action=flush\u0026position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 09 May 2022 22:02:57 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA3207ACE73359\u0022",
        "Last-Modified": "Mon, 09 May 2022 22:02:57 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-filesystem-b59e3229-1c9b-f407-ebc8-d2e0aec694c9?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 09 May 2022 22:02:57 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1748440162",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\njaschrepragrs\nU2FuaXRpemVk\nhttps://jaschrepragrs.blob.core.windows.net\nhttps://jaschrepragrs.file.core.windows.net\nhttps://jaschrepragrs.queue.core.windows.net\nhttps://jaschrepragrs.table.core.windows.net\n\n\n\n\nhttps://jaschrepragrs-secondary.blob.core.windows.net\nhttps://jaschrepragrs-secondary.file.core.windows.net\nhttps://jaschrepragrs-secondary.queue.core.windows.net\nhttps://jaschrepragrs-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jaschrepragrs.blob.core.windows.net/;QueueEndpoint=https://jaschrepragrs.queue.core.windows.net/;FileEndpoint=https://jaschrepragrs.file.core.windows.net/;BlobSecondaryEndpoint=https://jaschrepragrs-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jaschrepragrs-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jaschrepragrs-secondary.file.core.windows.net/;AccountName=jaschrepragrs;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
