{
  "Entries": [
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-filesystem-b8ba33d1-c921-c1ca-f51e-6b6bed104660?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 09 May 2022 23:58:19 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA3217CAC13DC1\u0022",
        "Last-Modified": "Mon, 09 May 2022 23:58:19 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.dfs.core.windows.net/test-filesystem-b8ba33d1-c921-c1ca-f51e-6b6bed104660/test-file-bce8d37b-1de1-eaa8-27e7-4aa38bdcba95?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 09 May 2022 23:58:19 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA3217CB02778F\u0022",
        "Last-Modified": "Mon, 09 May 2022 23:58:19 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.dfs.core.windows.net/test-filesystem-b8ba33d1-c921-c1ca-f51e-6b6bed104660/test-file-bce8d37b-1de1-eaa8-27e7-4aa38bdcba95?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Mon, 09 May 2022 23:58:20 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": "xxB7whRDewEvip/3Q3e3uy4IDRV8TdJNB7kAT3U6EP7IA4v5vi5OGVuRyQMoLr9hT5\u002BbFgxKBXk9LrpaQyyM9HmhLj/svf3/uvS56oTPJdn6nv/Wnvrxfv4RvI9z9NUvBdSJhv\u002BAdJGhm1wYkRr1bgnhYKQstVZ/sLBB2gFtjMUeieSvRZ7ZeipuNAKd2e3jHE6FkZMxA1B9CtZPPpmPMw\u002BW\u002BQc1RShqB\u002BZ6vYFU4dfDXb6z6Poy7YaUMjvHijuQ3gHyB9/mrdYlGomttkbPKSj/i\u002BHb20sUZAyAoBPto32r6t5/Ydr33a/ojs1whDY[...]
    {
      "RequestUri": "https://jaschrepragrs.dfs.core.windows.net/test-filesystem-b8ba33d1-c921-c1ca-f51e-6b6bed104660/test-file-bce8d37b-1de1-eaa8-27e7-4aa38bdcba95?action=flush\u0026position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 09 May 2022 23:58:20 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA3217CB22F32E\u0022",
        "Last-Modified": "Mon, 09 May 2022 23:58:20 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-filesystem-b8ba33d1-c921-c1ca-f51e-6b6bed104660/test-file-bce8d37b-1de1-eaa8-27e7-4aa38bdcba95",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 09 May 2022 23:58:20 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-range-get-content-crc64": "true",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA3217CB22F32E\u0022",
        "Last-Modified": "Mon, 09 May 2022 23:58:20 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-content-crc64": "cOakhwpFSrU=",
        "x-ms-creation-time": "Mon, 09 May 2022 23:58:19 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": "xxB7whRDewEvip/3Q3e3uy4IDRV8TdJNB7kAT3U6EP7IA4v5vi5OGVuRyQMoLr9hT5\u002BbFgxKBXk9LrpaQyyM9HmhLj/svf3/uvS56oTPJdn6nv/Wnvrxfv4RvI9z9NUvBdSJhv\u002BAdJGhm1wYkRr1bgnhYKQstVZ/sLBB2gFtjMUeieSvRZ7ZeipuNAKd2e3jHE6FkZMxA1B9CtZPPpmPMw\u002BW\u002BQc1RShqB\u002BZ6vYFU4dfDXb6z6Poy7YaUMjvHijuQ3gHyB9/mrdYlGomttkbPKSj/i\u002BHb20sUZAyAoBPto32r6t5/Ydr33a/ojs1whDY/xQkSyP5ZtQK13aLTZQ3CN3cMAsxnT8dNB64x8k1\u002BpN/VQNsK29p/UTXbyoM3JHiiJVd[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-filesystem-b8ba33d1-c921-c1ca-f51e-6b6bed104660?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 09 May 2022 23:58:20 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1487884351",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\njaschrepragrs\nU2FuaXRpemVk\nhttps://jaschrepragrs.blob.core.windows.net\nhttps://jaschrepragrs.file.core.windows.net\nhttps://jaschrepragrs.queue.core.windows.net\nhttps://jaschrepragrs.table.core.windows.net\n\n\n\n\nhttps://jaschrepragrs-secondary.blob.core.windows.net\nhttps://jaschrepragrs-secondary.file.core.windows.net\nhttps://jaschrepragrs-secondary.queue.core.windows.net\nhttps://jaschrepragrs-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jaschrepragrs.blob.core.windows.net/;QueueEndpoint=https://jaschrepragrs.queue.core.windows.net/;FileEndpoint=https://jaschrepragrs.file.core.windows.net/;BlobSecondaryEndpoint=https://jaschrepragrs-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jaschrepragrs-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jaschrepragrs-secondary.file.core.windows.net/;AccountName=jaschrepragrs;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
