{
  "Entries": [
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-filesystem-99587653-0147-c579-189a-afbf3ef4f548?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 09 May 2022 22:03:23 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA3207BC4364E1\u0022",
        "Last-Modified": "Mon, 09 May 2022 22:03:23 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.dfs.core.windows.net/test-filesystem-99587653-0147-c579-189a-afbf3ef4f548/test-file-48caad3c-4dda-2566-61ba-c2a90cbcde1c?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 09 May 2022 22:03:23 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA3207BC532C11\u0022",
        "Last-Modified": "Mon, 09 May 2022 22:03:23 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jaschrepragrs.dfs.core.windows.net/test-filesystem-99587653-0147-c579-189a-afbf3ef4f548/test-file-48caad3c-4dda-2566-61ba-c2a90cbcde1c?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-content-crc64": "IFf8qaYzyn8=",
        "x-ms-date": "Mon, 09 May 2022 22:03:23 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": "2IaQ24PHBSpxreE1XbSjTCxpzTUAVGFDCme7eYrCefcmVOubO5LDKgPKLjmgIbZbqlIWyPO2T4QkTdEbC4ugrzPpDgnJCBCZpqIxNSUnoumxYM43rLEEcAVndu7Bpx53KX8GtxOskqJCfCFQhBle/aroaqu8aQKC5J4EYZIi1/\u002BEuQymIevVBM0s9DCPs\u002BzrCXhD2Txzu8B8hNJ1qDEQIKQizMoNt9y/EmbdkHTS8jGxGFcZ3v7CEP5MKZwZYFucHNSLbech3lGchMfVlipLqpKhw5DZ9kGmX7zLwI4/prELQHOgRoVKjzkGfFk27XrTAH8Kd53KwyWS5Q0qVh3DXd4VylW3q2M[...]
    {
      "RequestUri": "https://jaschrepragrs.dfs.core.windows.net/test-filesystem-99587653-0147-c579-189a-afbf3ef4f548/test-file-48caad3c-4dda-2566-61ba-c2a90cbcde1c?action=flush\u0026position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 09 May 2022 22:03:23 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA3207BC8705CD\u0022",
        "Last-Modified": "Mon, 09 May 2022 22:03:23 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-filesystem-99587653-0147-c579-189a-afbf3ef4f548?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 09 May 2022 22:03:23 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1447109991",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\njaschrepragrs\nU2FuaXRpemVk\nhttps://jaschrepragrs.blob.core.windows.net\nhttps://jaschrepragrs.file.core.windows.net\nhttps://jaschrepragrs.queue.core.windows.net\nhttps://jaschrepragrs.table.core.windows.net\n\n\n\n\nhttps://jaschrepragrs-secondary.blob.core.windows.net\nhttps://jaschrepragrs-secondary.file.core.windows.net\nhttps://jaschrepragrs-secondary.queue.core.windows.net\nhttps://jaschrepragrs-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jaschrepragrs.blob.core.windows.net/;QueueEndpoint=https://jaschrepragrs.queue.core.windows.net/;FileEndpoint=https://jaschrepragrs.file.core.windows.net/;BlobSecondaryEndpoint=https://jaschrepragrs-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jaschrepragrs-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jaschrepragrs-secondary.file.core.windows.net/;AccountName=jaschrepragrs;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
