{
  "Entries": [
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-filesystem-2a24b2c9-5a92-b543-493e-a03c9c530015?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 28 Apr 2022 23:03:29 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA296B4F89FA4B\u0022",
        "Last-Modified": "Thu, 28 Apr 2022 23:03:29 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.dfs.core.windows.net/test-filesystem-2a24b2c9-5a92-b543-493e-a03c9c530015/test-file-4287765c-9706-dbe3-737a-694e7bf252a5?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Apr 2022 23:03:30 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA296B4F97034B\u0022",
        "Last-Modified": "Thu, 28 Apr 2022 23:03:29 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.dfs.core.windows.net/test-filesystem-2a24b2c9-5a92-b543-493e-a03c9c530015/test-file-4287765c-9706-dbe3-737a-694e7bf252a5?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 28 Apr 2022 23:03:30 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": "/TPDa5v2n6MkZJQKdo7mfO\u002BFTexzTimM5n2AlFZ2d1fIBLebCuKA\u002BA88jYeDqdC2BlMowvDTbK8KN4QddQtMruw9QXHXS3EMBFXcNsGiCD2syY0CTrVm9ZcHkNJeYoIE8N\u002BaRWhe37vhG76b9jbuZy5HcKx9SV831kvaz7qfrqHT2EbhB8PUTurSITL3y/5hGSmkFvHVhqZ/Y28chA8AQm0cxx7wDF9rciLCqygtQAtNeLaR\u002Bpiw/VGfYqRTuMnb0d/F2wPgcQ3JOaPPE9t\u002BUiJjzwxYb0fUbMrMUKm6F7pY5tlJZ2QHbAapyMH04el2IRCB[...]
    {
      "RequestUri": "https://jaschrepragrs.dfs.core.windows.net/test-filesystem-2a24b2c9-5a92-b543-493e-a03c9c530015/test-file-4287765c-9706-dbe3-737a-694e7bf252a5?action=flush\u0026position=2048",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Apr 2022 23:03:30 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA296B4FB6E267\u0022",
        "Last-Modified": "Thu, 28 Apr 2022 23:03:30 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-filesystem-2a24b2c9-5a92-b543-493e-a03c9c530015/test-file-4287765c-9706-dbe3-737a-694e7bf252a5",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Apr 2022 23:03:30 GMT",
        "x-ms-range": "bytes=0-2047",
        "x-ms-range-get-content-crc64": "true",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-2047/2048",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA296B4FB6E267\u0022",
        "Last-Modified": "Thu, 28 Apr 2022 23:03:30 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-content-crc64": "SMuOma9fu5A=",
        "x-ms-creation-time": "Thu, 28 Apr 2022 23:03:29 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": "/TPDa5v2n6MkZJQKdo7mfO\u002BFTexzTimM5n2AlFZ2d1fIBLebCuKA\u002BA88jYeDqdC2BlMowvDTbK8KN4QddQtMruw9QXHXS3EMBFXcNsGiCD2syY0CTrVm9ZcHkNJeYoIE8N\u002BaRWhe37vhG76b9jbuZy5HcKx9SV831kvaz7qfrqHT2EbhB8PUTurSITL3y/5hGSmkFvHVhqZ/Y28chA8AQm0cxx7wDF9rciLCqygtQAtNeLaR\u002Bpiw/VGfYqRTuMnb0d/F2wPgcQ3JOaPPE9t\u002BUiJjzwxYb0fUbMrMUKm6F7pY5tlJZ2QHbAapyMH04el2IRCB8Om9gmKX8G84EyFjDiHpdi0CNOq9XGIFr6eG4IvhVi6ZOSfRm2R2snb1zljlRbmfC2q8dOwlw[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-filesystem-2a24b2c9-5a92-b543-493e-a03c9c530015?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Apr 2022 23:03:30 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1880822347",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\njaschrepragrs\nU2FuaXRpemVk\nhttps://jaschrepragrs.blob.core.windows.net\nhttps://jaschrepragrs.file.core.windows.net\nhttps://jaschrepragrs.queue.core.windows.net\nhttps://jaschrepragrs.table.core.windows.net\n\n\n\n\nhttps://jaschrepragrs-secondary.blob.core.windows.net\nhttps://jaschrepragrs-secondary.file.core.windows.net\nhttps://jaschrepragrs-secondary.queue.core.windows.net\nhttps://jaschrepragrs-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jaschrepragrs.blob.core.windows.net/;QueueEndpoint=https://jaschrepragrs.queue.core.windows.net/;FileEndpoint=https://jaschrepragrs.file.core.windows.net/;BlobSecondaryEndpoint=https://jaschrepragrs-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jaschrepragrs-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jaschrepragrs-secondary.file.core.windows.net/;AccountName=jaschrepragrs;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
