{
  "Entries": [
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-filesystem-b499cd13-0708-e756-c6c4-3c78cc791cdf?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 09 May 2022 22:03:08 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA3207B348C096\u0022",
        "Last-Modified": "Mon, 09 May 2022 22:03:08 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.dfs.core.windows.net/test-filesystem-b499cd13-0708-e756-c6c4-3c78cc791cdf/test-file-58dae856-ca7b-afa3-91b6-e234642ec084?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 09 May 2022 22:03:08 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA3207B35A56ED\u0022",
        "Last-Modified": "Mon, 09 May 2022 22:03:08 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jaschrepragrs.dfs.core.windows.net/test-filesystem-b499cd13-0708-e756-c6c4-3c78cc791cdf/test-file-58dae856-ca7b-afa3-91b6-e234642ec084?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-MD5": "Y2e0wQZ\u002BMw5xzeGXJfEDuw==",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Mon, 09 May 2022 22:03:08 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": "cPa/RgI06NYS1kcbioSeLQPZvVqrTr4eCS2ukBfZp\u002BuJL2FS2Xtghor4u0pZA/OvlPfeQsQIoiE3oT3Vhle\u002BOC9cklsjS1OHeTbQspN0xAY5/vsg\u002B2UmgYw/Gjg\u002BigAyOYIa/XGXi0mkVsiON\u002B\u002BNw9w2m4dcnj3KNRDP5DAaSe42nnkRWceVonOxe6ScmEmcsVdbB\u002B541ptEUMdgyKcZigzZV5l2fGoVofkUqiOZLZ3GMjLZvkL/vsfdzQn/NNrLmPGYwkCwJjXsRmX1ZCx4qyIpmZV1QMvJ2ZnRma9hFWwfSBExAGtcFgz97HfdClmbZSHm1ZtEVlgmzuin3o2FizH41RsaRqq3zIKJd1RT7M8/NjONej/Q2vK5CzKCtTh/d2BG5DQ\u002BgR53LwgZu94D0uEZaKhZ\u002BBHxKPspYDt3NBdKCQDzDAiaALQVFUo2tx8TtThQaUyPJn5PVLw5FSDj//vxzrHdEMXZfmfzQ\u002BPGu3DbFasCJ8rKuuOBpLhMYeuUMRVPRehuNqVyd\u002BrlnOKbiZlLXQB04dgwJhTNW2sNjB18XhLNdnaHbd4Fj6/g5R0B5hofAAPrH1A8Hx7UoNo5ZerNaD3QzhIixPAhb1EpUED2y3VR7owakT7BkFdXs80EyyrFEnzgMRgI/DwTybD\u002BE8/d3dRk6HZes9f/Dj27yxE=",
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-MD5": "Y2e0wQZ\u002BMw5xzeGXJfEDuw==",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jaschrepragrs.dfs.core.windows.net/test-filesystem-b499cd13-0708-e756-c6c4-3c78cc791cdf/test-file-58dae856-ca7b-afa3-91b6-e234642ec084?action=flush\u0026position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 09 May 2022 22:03:08 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA3207B397A538\u0022",
        "Last-Modified": "Mon, 09 May 2022 22:03:08 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-filesystem-b499cd13-0708-e756-c6c4-3c78cc791cdf?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 09 May 2022 22:03:08 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "818954637",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\njaschrepragrs\nU2FuaXRpemVk\nhttps://jaschrepragrs.blob.core.windows.net\nhttps://jaschrepragrs.file.core.windows.net\nhttps://jaschrepragrs.queue.core.windows.net\nhttps://jaschrepragrs.table.core.windows.net\n\n\n\n\nhttps://jaschrepragrs-secondary.blob.core.windows.net\nhttps://jaschrepragrs-secondary.file.core.windows.net\nhttps://jaschrepragrs-secondary.queue.core.windows.net\nhttps://jaschrepragrs-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jaschrepragrs.blob.core.windows.net/;QueueEndpoint=https://jaschrepragrs.queue.core.windows.net/;FileEndpoint=https://jaschrepragrs.file.core.windows.net/;BlobSecondaryEndpoint=https://jaschrepragrs-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jaschrepragrs-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jaschrepragrs-secondary.file.core.windows.net/;AccountName=jaschrepragrs;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
