{
  "Entries": [
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-filesystem-51647dc7-8f8a-cd1c-bdcb-40503230e1d3?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 09 May 2022 23:58:36 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA3217D496DF5C\u0022",
        "Last-Modified": "Mon, 09 May 2022 23:58:35 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.dfs.core.windows.net/test-filesystem-51647dc7-8f8a-cd1c-bdcb-40503230e1d3/test-file-71942d5a-e319-7125-5373-78d5e622128b?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 09 May 2022 23:58:36 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA3217D4DE5FDF\u0022",
        "Last-Modified": "Mon, 09 May 2022 23:58:36 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.dfs.core.windows.net/test-filesystem-51647dc7-8f8a-cd1c-bdcb-40503230e1d3/test-file-71942d5a-e319-7125-5373-78d5e622128b?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Mon, 09 May 2022 23:58:36 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": "MTxMh2D\u002BG9vnqivvgm/PbxGFQo\u002B\u002B85nvhmPpwMwNZwZnHHvCADJaD4eWBo8L5vokorB3zd2jMj2iXQD9FFoP2kIkiGb0DW7eKjIHJ\u002BwK46BoxR4blZopxOk9H6MxXfoshixM512TMJVBmKOqmwpRl3lglE8880Wo\u002BsN9tu3KrMw326DAvftC1ZSI2vz3fyje7Icp0cmr75PmpO2aFnqnd\u002BvWc8BpkNl9Hb66sxlIsXubnslloNsDjOsN2RkOqL8a4GIQIAxodVuurLQL8Dt6nvNy/newQtYQ0\u002BfVXLbAb3T/oNO2OJBuMiltt/[...]
    {
      "RequestUri": "https://jaschrepragrs.dfs.core.windows.net/test-filesystem-51647dc7-8f8a-cd1c-bdcb-40503230e1d3/test-file-71942d5a-e319-7125-5373-78d5e622128b?action=flush\u0026position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 09 May 2022 23:58:36 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA3217D4FE8D68\u0022",
        "Last-Modified": "Mon, 09 May 2022 23:58:36 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-filesystem-51647dc7-8f8a-cd1c-bdcb-40503230e1d3/test-file-71942d5a-e319-7125-5373-78d5e622128b",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 09 May 2022 23:58:36 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-range-get-content-md5": "true",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-MD5": "eKmBmCEifVBMaOW8PdDoew==",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA3217D4FE8D68\u0022",
        "Last-Modified": "Mon, 09 May 2022 23:58:36 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Mon, 09 May 2022 23:58:36 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": "MTxMh2D\u002BG9vnqivvgm/PbxGFQo\u002B\u002B85nvhmPpwMwNZwZnHHvCADJaD4eWBo8L5vokorB3zd2jMj2iXQD9FFoP2kIkiGb0DW7eKjIHJ\u002BwK46BoxR4blZopxOk9H6MxXfoshixM512TMJVBmKOqmwpRl3lglE8880Wo\u002BsN9tu3KrMw326DAvftC1ZSI2vz3fyje7Icp0cmr75PmpO2aFnqnd\u002BvWc8BpkNl9Hb66sxlIsXubnslloNsDjOsN2RkOqL8a4GIQIAxodVuurLQL8Dt6nvNy/newQtYQ0\u002BfVXLbAb3T/oNO2OJBuMiltt/Qn95uvkzslnKlHaZ6M/00lkxil7Tw/DFBow2ZjA8xOQovh6dtLJcl7mtPLtzY0KjhCSZ8QyMm[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-filesystem-51647dc7-8f8a-cd1c-bdcb-40503230e1d3?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 09 May 2022 23:58:37 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "568061029",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\njaschrepragrs\nU2FuaXRpemVk\nhttps://jaschrepragrs.blob.core.windows.net\nhttps://jaschrepragrs.file.core.windows.net\nhttps://jaschrepragrs.queue.core.windows.net\nhttps://jaschrepragrs.table.core.windows.net\n\n\n\n\nhttps://jaschrepragrs-secondary.blob.core.windows.net\nhttps://jaschrepragrs-secondary.file.core.windows.net\nhttps://jaschrepragrs-secondary.queue.core.windows.net\nhttps://jaschrepragrs-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jaschrepragrs.blob.core.windows.net/;QueueEndpoint=https://jaschrepragrs.queue.core.windows.net/;FileEndpoint=https://jaschrepragrs.file.core.windows.net/;BlobSecondaryEndpoint=https://jaschrepragrs-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jaschrepragrs-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jaschrepragrs-secondary.file.core.windows.net/;AccountName=jaschrepragrs;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
