{
  "Entries": [
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-filesystem-27838c5b-71d0-4d66-89cb-0f4e2c7b6db7?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 09 May 2022 23:58:04 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA3217C2021364\u0022",
        "Last-Modified": "Mon, 09 May 2022 23:58:04 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.dfs.core.windows.net/test-filesystem-27838c5b-71d0-4d66-89cb-0f4e2c7b6db7/test-file-cc782bdc-fa7f-32ea-1ede-41d2b327ff03?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 09 May 2022 23:58:05 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA3217C280BD24\u0022",
        "Last-Modified": "Mon, 09 May 2022 23:58:05 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.dfs.core.windows.net/test-filesystem-27838c5b-71d0-4d66-89cb-0f4e2c7b6db7/test-file-cc782bdc-fa7f-32ea-1ede-41d2b327ff03?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Mon, 09 May 2022 23:58:05 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": "2fvyVtSP2Bsnu1PjQKtPzprJQ2ez00WN4jS20JZGLHu6SeECyNpxe\u002Bysc7ecFNbzHtqD0hXLMwa2ZXSg2QiE4I7XKffJTQbAV8d6B2CN8M5dwrK7wllm7hXbTGJl0aLkJ5IpxerfKdDUw3tNUCylKHSmQhZWyR00cTvh7gGjWoYllt/NZCvjfpnh5v/eGZ7pNSPuv4\u002BMjV519FOv/TvOMWn1KLlM2MRIwsN8dOIeVVid97jetJr3mAmAWG/XNIFeErWV6fDknV1epfzLDxh8Vp77EQaD8HzO/o\u002Bwy4BUcY5CHmEtiWxnuFpbfw\u002BeK4jwBAHR2yJ62[...]
    {
      "RequestUri": "https://jaschrepragrs.dfs.core.windows.net/test-filesystem-27838c5b-71d0-4d66-89cb-0f4e2c7b6db7/test-file-cc782bdc-fa7f-32ea-1ede-41d2b327ff03?action=flush\u0026position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 09 May 2022 23:58:06 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA3217C2A6DD3F\u0022",
        "Last-Modified": "Mon, 09 May 2022 23:58:05 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-filesystem-27838c5b-71d0-4d66-89cb-0f4e2c7b6db7/test-file-cc782bdc-fa7f-32ea-1ede-41d2b327ff03",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 09 May 2022 23:58:06 GMT",
        "x-ms-range": "bytes=0-511",
        "x-ms-range-get-content-crc64": "true",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-511/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA3217C2A6DD3F\u0022",
        "Last-Modified": "Mon, 09 May 2022 23:58:05 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-content-crc64": "Jz8yr1/tbCU=",
        "x-ms-creation-time": "Mon, 09 May 2022 23:58:05 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": "2fvyVtSP2Bsnu1PjQKtPzprJQ2ez00WN4jS20JZGLHu6SeECyNpxe\u002Bysc7ecFNbzHtqD0hXLMwa2ZXSg2QiE4I7XKffJTQbAV8d6B2CN8M5dwrK7wllm7hXbTGJl0aLkJ5IpxerfKdDUw3tNUCylKHSmQhZWyR00cTvh7gGjWoYllt/NZCvjfpnh5v/eGZ7pNSPuv4\u002BMjV519FOv/TvOMWn1KLlM2MRIwsN8dOIeVVid97jetJr3mAmAWG/XNIFeErWV6fDknV1epfzLDxh8Vp77EQaD8HzO/o\u002Bwy4BUcY5CHmEtiWxnuFpbfw\u002BeK4jwBAHR2yJ62iI4xuthM9HcCjRuifG3T80ylFmrKHBtMNIGwMd/g5Vrx0M/9MKABoSJfnXaMKKXObUznkfJz7Kxy5YYWnMJXYafAsGtd1sLsY7UIqn7kv8wb4cSS\u002BRNofiQjSkraKsRfyDuOy3g6cFaJ\u002B259awJtjiW6Ovs9xGiUWHJHOox30niwqOJDVfST4XFuCP3lKxLh9fwlH/AJYcOTOnMF83WKEik1jIJgKngxJllJj/tqr20fZUTQUvJIp0besBuBje474/bU756QgcuENDmWv5HIaEsF5o4w\u002Bf82rSU7QXocb5hrTevEVf/OjqN5TB648ef1FkfQu6dgCuo33gJ5VUBRp4RhK3HmA9JLdw="
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-filesystem-27838c5b-71d0-4d66-89cb-0f4e2c7b6db7/test-file-cc782bdc-fa7f-32ea-1ede-41d2b327ff03",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8DA3217C2A6DD3F\u0022",
        "x-ms-date": "Mon, 09 May 2022 23:58:06 GMT",
        "x-ms-range": "bytes=512-1023",
        "x-ms-range-get-content-crc64": "true",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 512-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA3217C2A6DD3F\u0022",
        "Last-Modified": "Mon, 09 May 2022 23:58:0[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-filesystem-27838c5b-71d0-4d66-89cb-0f4e2c7b6db7?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 09 May 2022 23:58:06 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "866819930",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\njaschrepragrs\nU2FuaXRpemVk\nhttps://jaschrepragrs.blob.core.windows.net\nhttps://jaschrepragrs.file.core.windows.net\nhttps://jaschrepragrs.queue.core.windows.net\nhttps://jaschrepragrs.table.core.windows.net\n\n\n\n\nhttps://jaschrepragrs-secondary.blob.core.windows.net\nhttps://jaschrepragrs-secondary.file.core.windows.net\nhttps://jaschrepragrs-secondary.queue.core.windows.net\nhttps://jaschrepragrs-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jaschrepragrs.blob.core.windows.net/;QueueEndpoint=https://jaschrepragrs.queue.core.windows.net/;FileEndpoint=https://jaschrepragrs.file.core.windows.net/;BlobSecondaryEndpoint=https://jaschrepragrs-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jaschrepragrs-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jaschrepragrs-secondary.file.core.windows.net/;AccountName=jaschrepragrs;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
