{
  "Entries": [
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-filesystem-d64fdb4e-65cc-143a-1463-6544491f7014?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 09 May 2022 22:03:05 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA3207B18DBCEF\u0022",
        "Last-Modified": "Mon, 09 May 2022 22:03:05 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.dfs.core.windows.net/test-filesystem-d64fdb4e-65cc-143a-1463-6544491f7014/test-file-2e2f4c49-6c44-77f7-0d51-7228d813eacd?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 09 May 2022 22:03:05 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA3207B19E8F11\u0022",
        "Last-Modified": "Mon, 09 May 2022 22:03:05 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jaschrepragrs.dfs.core.windows.net/test-filesystem-d64fdb4e-65cc-143a-1463-6544491f7014/test-file-2e2f4c49-6c44-77f7-0d51-7228d813eacd?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-content-crc64": "mUzwlNnAozs=",
        "x-ms-date": "Mon, 09 May 2022 22:03:05 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": "k/jf7d\u002BBRzGDLEAQLJvarH7NakvBdaNwhJzRKmoWJC7iXgtCiPe4V7Ysd0OooAtNBgbDMPuMGR5Ub2lDsB3GbQgSLc6PlyOGFRKVlf1fx\u002BSQgyNkU/MyVUXt7RmOdKeZZQo7lnI9vm7iPBrp94Mg9aeEsiz5YhkU39eIoqoK\u002BKBr/C/yJDFyU8W1ghfZSV7BzPhxCsJ6nwPwJraatRzE10N5fftULdB2El9nROACO5V5xtWxme7e8FwrAv16152o8KrTX8tjbZ4o\u002B/diE1sj7usgIe5GEz5Vm42eKCvT/DrBvlM1LtzKFVk3iZ32e90ACBMSWbavYtxsfsM\u002BxERyVP\u002B9oVQH7b8PVguUD4qgXh\u002BwnSAXwaKDEVx3ybAYi1AUxDSeOdqJ\u002BRpUAgKrG1JSyx\u002BkjickW5NcOY/3kCQO98q6f0tVASVEJqQGw76g2PYKJP2Rc/0p8GigQv9LkWj1RQs38JsH/Mr6X2eDHZfVu2GY7WsmfYPMkI7itb4l\u002BZU7EH2zaOdaAygzlhOWptLRyoaesqT8z8iHal8MJEYL1GbRRw0aIlN5PupD8\u002BZvNuq7Eeo4h0fwPkG1K/2HTd7hJ8KtxF7FtqgzJXS6udzhFzR1URJc000e4AnMZPdV8fALYsskwXGM9lpBBGHTNoVk1BPIEvzLhFR1juRV\u002BFKx3TM=",
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-content-crc64": "mUzwlNnAozs=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jaschrepragrs.dfs.core.windows.net/test-filesystem-d64fdb4e-65cc-143a-1463-6544491f7014/test-file-2e2f4c49-6c44-77f7-0d51-7228d813eacd?action=flush\u0026position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 09 May 2022 22:03:05 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA3207B1E6FF53\u0022",
        "Last-Modified": "Mon, 09 May 2022 22:03:05 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-filesystem-d64fdb4e-65cc-143a-1463-6544491f7014?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 09 May 2022 22:03:06 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "458256769",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\njaschrepragrs\nU2FuaXRpemVk\nhttps://jaschrepragrs.blob.core.windows.net\nhttps://jaschrepragrs.file.core.windows.net\nhttps://jaschrepragrs.queue.core.windows.net\nhttps://jaschrepragrs.table.core.windows.net\n\n\n\n\nhttps://jaschrepragrs-secondary.blob.core.windows.net\nhttps://jaschrepragrs-secondary.file.core.windows.net\nhttps://jaschrepragrs-secondary.queue.core.windows.net\nhttps://jaschrepragrs-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jaschrepragrs.blob.core.windows.net/;QueueEndpoint=https://jaschrepragrs.queue.core.windows.net/;FileEndpoint=https://jaschrepragrs.file.core.windows.net/;BlobSecondaryEndpoint=https://jaschrepragrs-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jaschrepragrs-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jaschrepragrs-secondary.file.core.windows.net/;AccountName=jaschrepragrs;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
