{
  "Entries": [
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-filesystem-9dbc6a54-6b39-5db0-2a86-851087e086b7?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 09 May 2022 23:58:06 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA3217C2FB9109\u0022",
        "Last-Modified": "Mon, 09 May 2022 23:58:06 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.dfs.core.windows.net/test-filesystem-9dbc6a54-6b39-5db0-2a86-851087e086b7/test-file-deaf9202-9ea6-762b-7f2d-44ca2b929fae?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 09 May 2022 23:58:06 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA3217C338F606\u0022",
        "Last-Modified": "Mon, 09 May 2022 23:58:06 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.dfs.core.windows.net/test-filesystem-9dbc6a54-6b39-5db0-2a86-851087e086b7/test-file-deaf9202-9ea6-762b-7f2d-44ca2b929fae?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Mon, 09 May 2022 23:58:07 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": "n\u002B0MPKMyQLTgV09SN1VXfWuIivrKFJbqY6ochBOOnIcYSbsXoN9ZU0xikcnapswEsg\u002BQQDvTIYtXItj4FbugUbrHOe6aQNyLLzetZ4LMD7zdGNID/ltMRCcwwH4GYT2Rwj8OEmzeanIyBBEEJbkJixIcG/3onFNfe/TGaYBdhM36HKVCvf1P/q1f0PpKSB9tJzRs6kY/qSXsr5Z4GADy1YBDCQkUxs4VzBxPictZFDPVWEJL8ZmHunN/VQ1m1\u002BatbPt5Bj4VWWBmVx4p8B9Zk5pior\u002B9p\u002BPmu0\u002BWlHDArvQ1ohzP3w31wP/i5Zp7Xcp[...]
    {
      "RequestUri": "https://jaschrepragrs.dfs.core.windows.net/test-filesystem-9dbc6a54-6b39-5db0-2a86-851087e086b7/test-file-deaf9202-9ea6-762b-7f2d-44ca2b929fae?action=flush\u0026position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 09 May 2022 23:58:07 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA3217C358FC93\u0022",
        "Last-Modified": "Mon, 09 May 2022 23:58:06 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-filesystem-9dbc6a54-6b39-5db0-2a86-851087e086b7/test-file-deaf9202-9ea6-762b-7f2d-44ca2b929fae",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 09 May 2022 23:58:07 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-range-get-content-crc64": "true",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA3217C358FC93\u0022",
        "Last-Modified": "Mon, 09 May 2022 23:58:06 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-content-crc64": "VnvI2o6uSRI=",
        "x-ms-creation-time": "Mon, 09 May 2022 23:58:06 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": "n\u002B0MPKMyQLTgV09SN1VXfWuIivrKFJbqY6ochBOOnIcYSbsXoN9ZU0xikcnapswEsg\u002BQQDvTIYtXItj4FbugUbrHOe6aQNyLLzetZ4LMD7zdGNID/ltMRCcwwH4GYT2Rwj8OEmzeanIyBBEEJbkJixIcG/3onFNfe/TGaYBdhM36HKVCvf1P/q1f0PpKSB9tJzRs6kY/qSXsr5Z4GADy1YBDCQkUxs4VzBxPictZFDPVWEJL8ZmHunN/VQ1m1\u002BatbPt5Bj4VWWBmVx4p8B9Zk5pior\u002B9p\u002BPmu0\u002BWlHDArvQ1ohzP3w31wP/i5Zp7XcpTJsFyAzUn78UYk0rufsTvpagp9E4CibSNbeG/28FJa16FQ26uTaq/DrJWt0zDBkE78j/xUWl8[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-filesystem-9dbc6a54-6b39-5db0-2a86-851087e086b7?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 09 May 2022 23:58:08 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1122212056",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\njaschrepragrs\nU2FuaXRpemVk\nhttps://jaschrepragrs.blob.core.windows.net\nhttps://jaschrepragrs.file.core.windows.net\nhttps://jaschrepragrs.queue.core.windows.net\nhttps://jaschrepragrs.table.core.windows.net\n\n\n\n\nhttps://jaschrepragrs-secondary.blob.core.windows.net\nhttps://jaschrepragrs-secondary.file.core.windows.net\nhttps://jaschrepragrs-secondary.queue.core.windows.net\nhttps://jaschrepragrs-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jaschrepragrs.blob.core.windows.net/;QueueEndpoint=https://jaschrepragrs.queue.core.windows.net/;FileEndpoint=https://jaschrepragrs.file.core.windows.net/;BlobSecondaryEndpoint=https://jaschrepragrs-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jaschrepragrs-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jaschrepragrs-secondary.file.core.windows.net/;AccountName=jaschrepragrs;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
