{
  "Entries": [
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-filesystem-b0477141-3ea9-169e-4b6d-4cb8f2f3b275?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 09 May 2022 23:58:35 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA3217D3EBC452\u0022",
        "Last-Modified": "Mon, 09 May 2022 23:58:34 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.dfs.core.windows.net/test-filesystem-b0477141-3ea9-169e-4b6d-4cb8f2f3b275/test-file-21f0aa1c-4a31-6349-b660-01235f6c8e42?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 09 May 2022 23:58:35 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA3217D435DC1D\u0022",
        "Last-Modified": "Mon, 09 May 2022 23:58:35 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.dfs.core.windows.net/test-filesystem-b0477141-3ea9-169e-4b6d-4cb8f2f3b275/test-file-21f0aa1c-4a31-6349-b660-01235f6c8e42?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Mon, 09 May 2022 23:58:35 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": "g\u002BmgYAqsjJiPYmqv05jHyOeNTKhqskSQ\u002Bmw1nuGqdoAI3IJl4ia0v73vcM5An\u002B9U0P9Q4XlII9GkEGWed\u002B635ezpp/cWYuXB2Izqe0F2UFt84M3hWZQGwLmwwNLAFkjPOIvhVvj4PW4ZjwntXqiQLr8KIZYg1YtX4uY9ZqITAMFEGkK2lPlihKNfx8qLGWERIJEStfWyr2L/inMRutfLBo5HqERl2ZrGqJzywQ3BzMmFLEYRAUrMkmvgtwqGUcrLk8E7Q3EdrEb3TA1Yv\u002B1UPb2qi42RugVDehbYhCKPQFbRJy1MhYhXaID/GrQ9dNN9i3lM[...]
    {
      "RequestUri": "https://jaschrepragrs.dfs.core.windows.net/test-filesystem-b0477141-3ea9-169e-4b6d-4cb8f2f3b275/test-file-21f0aa1c-4a31-6349-b660-01235f6c8e42?action=flush\u0026position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 09 May 2022 23:58:35 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA3217D4576907\u0022",
        "Last-Modified": "Mon, 09 May 2022 23:58:35 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-filesystem-b0477141-3ea9-169e-4b6d-4cb8f2f3b275/test-file-21f0aa1c-4a31-6349-b660-01235f6c8e42",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 09 May 2022 23:58:35 GMT",
        "x-ms-range": "bytes=0-511",
        "x-ms-range-get-content-md5": "true",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-MD5": "YJ1MWYbPUEA/3GrHhDpq9w==",
        "Content-Range": "bytes 0-511/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA3217D4576907\u0022",
        "Last-Modified": "Mon, 09 May 2022 23:58:35 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Mon, 09 May 2022 23:58:35 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": "g\u002BmgYAqsjJiPYmqv05jHyOeNTKhqskSQ\u002Bmw1nuGqdoAI3IJl4ia0v73vcM5An\u002B9U0P9Q4XlII9GkEGWed\u002B635ezpp/cWYuXB2Izqe0F2UFt84M3hWZQGwLmwwNLAFkjPOIvhVvj4PW4ZjwntXqiQLr8KIZYg1YtX4uY9ZqITAMFEGkK2lPlihKNfx8qLGWERIJEStfWyr2L/inMRutfLBo5HqERl2ZrGqJzywQ3BzMmFLEYRAUrMkmvgtwqGUcrLk8E7Q3EdrEb3TA1Yv\u002B1UPb2qi42RugVDehbYhCKPQFbRJy1MhYhXaID/GrQ9dNN9i3lM28U9Oti798lbRCcjZwy2hpi/CLc1UiMMkaBQBgZCWvmpQ2SRlOxVkY6\u002B/CNZ27Kohu07vYLBF4mhMKk4avHDGOkteiOnJfGrancpdlUAs7btp38YB5x26Cza8GRDHCac\u002B\u002BQ5K2GPAGH8j1MLl6AzoXzzSsNxqhBMt5L3zTWNaE1RjXpwxohUXqYeHHhJalCLpk7nUNJjK1HT7XPPlzMsbiYFugolwtv0nuwcUo6YA0xBaybmphh77mIpnNgUhcZz8q1RQ7BFZeNz87HmRtjCO\u002BonjSsMRcgOisyo/CYC3xglqGDgRr\u002Bb\u002BwVDc7JmlKeJZmHu7PibZq3lQ7nknWm9cRSZwJ544vQqi5ElydI="
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-filesystem-b0477141-3ea9-169e-4b6d-4cb8f2f3b275/test-file-21f0aa1c-4a31-6349-b660-01235f6c8e42",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8DA3217D4576907\u0022",
        "x-ms-date": "Mon, 09 May 2022 23:58:35 GMT",
        "x-ms-range": "bytes=512-1023",
        "x-ms-range-get-content-md5": "true",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-MD5": "QAVUxv6g8RG3dh41ry9qqA==",
        "Content-Range": "bytes 512-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA3217D4576907\u0022",
 [...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-filesystem-b0477141-3ea9-169e-4b6d-4cb8f2f3b275?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 09 May 2022 23:58:36 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1151149090",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\njaschrepragrs\nU2FuaXRpemVk\nhttps://jaschrepragrs.blob.core.windows.net\nhttps://jaschrepragrs.file.core.windows.net\nhttps://jaschrepragrs.queue.core.windows.net\nhttps://jaschrepragrs.table.core.windows.net\n\n\n\n\nhttps://jaschrepragrs-secondary.blob.core.windows.net\nhttps://jaschrepragrs-secondary.file.core.windows.net\nhttps://jaschrepragrs-secondary.queue.core.windows.net\nhttps://jaschrepragrs-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jaschrepragrs.blob.core.windows.net/;QueueEndpoint=https://jaschrepragrs.queue.core.windows.net/;FileEndpoint=https://jaschrepragrs.file.core.windows.net/;BlobSecondaryEndpoint=https://jaschrepragrs-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jaschrepragrs-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jaschrepragrs-secondary.file.core.windows.net/;AccountName=jaschrepragrs;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
