{
  "Entries": [
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-filesystem-81a16c22-2a5c-5376-26f3-a379d0efe5c3?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 09 May 2022 23:58:13 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA3217C705371C\u0022",
        "Last-Modified": "Mon, 09 May 2022 23:58:13 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.dfs.core.windows.net/test-filesystem-81a16c22-2a5c-5376-26f3-a379d0efe5c3/test-file-80cf1d25-9252-bfe4-56b8-ce3e4c7d494f?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 09 May 2022 23:58:13 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA3217C744E835\u0022",
        "Last-Modified": "Mon, 09 May 2022 23:58:13 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.dfs.core.windows.net/test-filesystem-81a16c22-2a5c-5376-26f3-a379d0efe5c3/test-file-80cf1d25-9252-bfe4-56b8-ce3e4c7d494f?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Mon, 09 May 2022 23:58:13 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": "CFOu\u002BmIvkfq75zPgRq897hziz4GIFt7WVZH2LSNgRuplob7Citteer1rE/2cxstTORUzkZSWufF02KXROGTWWqFJe6Xxe2NBg1TEHQLgOY7Go/QNLLRWzujNTbE1jUFYlLlcU0slYb2y8g4/0Zvuk54XC5VvyS3s86y8Iy6yC/YTa4lJhOZCoEE3WzqmFv1N3rkSHoGr6MuLb1\u002BfaT2P/\u002BcXK2YSpA\u002B41GtUOG3zRdyvb0V0n\u002Bx0Z4K9vhSGozYDp1tTjuuWOjmqWkkWV7BdlymC8Pr4G2D6o8PjVOb6MTE0UJARoLfxGDQLyUSjXhDSYCbq[...]
    {
      "RequestUri": "https://jaschrepragrs.dfs.core.windows.net/test-filesystem-81a16c22-2a5c-5376-26f3-a379d0efe5c3/test-file-80cf1d25-9252-bfe4-56b8-ce3e4c7d494f?action=flush\u0026position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 09 May 2022 23:58:13 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA3217C765D8F4\u0022",
        "Last-Modified": "Mon, 09 May 2022 23:58:13 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-filesystem-81a16c22-2a5c-5376-26f3-a379d0efe5c3/test-file-80cf1d25-9252-bfe4-56b8-ce3e4c7d494f",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 09 May 2022 23:58:14 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-range-get-content-crc64": "true",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA3217C765D8F4\u0022",
        "Last-Modified": "Mon, 09 May 2022 23:58:13 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-content-crc64": "P02dkpP8Pt0=",
        "x-ms-creation-time": "Mon, 09 May 2022 23:58:13 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": "CFOu\u002BmIvkfq75zPgRq897hziz4GIFt7WVZH2LSNgRuplob7Citteer1rE/2cxstTORUzkZSWufF02KXROGTWWqFJe6Xxe2NBg1TEHQLgOY7Go/QNLLRWzujNTbE1jUFYlLlcU0slYb2y8g4/0Zvuk54XC5VvyS3s86y8Iy6yC/YTa4lJhOZCoEE3WzqmFv1N3rkSHoGr6MuLb1\u002BfaT2P/\u002BcXK2YSpA\u002B41GtUOG3zRdyvb0V0n\u002Bx0Z4K9vhSGozYDp1tTjuuWOjmqWkkWV7BdlymC8Pr4G2D6o8PjVOb6MTE0UJARoLfxGDQLyUSjXhDSYCbqBLI8Coz7Wesns\u002BVTsCgY4QYfS/dykdjF7FEbV0WzEfS/Dy1\u002B\u002BEUEFkbLyW[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-filesystem-81a16c22-2a5c-5376-26f3-a379d0efe5c3?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 09 May 2022 23:58:14 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1567279093",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\njaschrepragrs\nU2FuaXRpemVk\nhttps://jaschrepragrs.blob.core.windows.net\nhttps://jaschrepragrs.file.core.windows.net\nhttps://jaschrepragrs.queue.core.windows.net\nhttps://jaschrepragrs.table.core.windows.net\n\n\n\n\nhttps://jaschrepragrs-secondary.blob.core.windows.net\nhttps://jaschrepragrs-secondary.file.core.windows.net\nhttps://jaschrepragrs-secondary.queue.core.windows.net\nhttps://jaschrepragrs-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jaschrepragrs.blob.core.windows.net/;QueueEndpoint=https://jaschrepragrs.queue.core.windows.net/;FileEndpoint=https://jaschrepragrs.file.core.windows.net/;BlobSecondaryEndpoint=https://jaschrepragrs-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jaschrepragrs-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jaschrepragrs-secondary.file.core.windows.net/;AccountName=jaschrepragrs;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
