{
  "Entries": [
    {
      "RequestUri": "https://seanhnscanada.blob.core.windows.net/test-filesystem-9a3c7161-517b-d86b-9aea-3f828d84565c?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 27 Apr 2023 19:29:22 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB4755B4460818\u0022",
        "Last-Modified": "Thu, 27 Apr 2023 19:29:22 GMT",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanada.dfs.core.windows.net/test-filesystem-9a3c7161-517b-d86b-9aea-3f828d84565c/test-file-db7ac59d-4b07-94c5-cd5f-7b090d5f1394?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 27 Apr 2023 19:29:22 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB4755B4532696\u0022",
        "Last-Modified": "Thu, 27 Apr 2023 19:29:22 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanada.dfs.core.windows.net/test-filesystem-9a3c7161-517b-d86b-9aea-3f828d84565c/test-file-db7ac59d-4b07-94c5-cd5f-7b090d5f1394?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-content-crc64": "kpS6CmZz3FA=",
        "x-ms-date": "Thu, 27 Apr 2023 19:29:22 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": "V2cfk4BLjI6Q7Z0IZW95julW\u002BD4Kgn8hWeyQc1bUdq1YxaT27G1oPsLrQ\u002B4nquFdI\u002B0jglfbG9Xn/TmUuhg4vHfvr6DKg6J77bl7Hz\u002BR\u002Ba8KM09psPNWfKnPD\u002B401ISqs4Z3OPpAkqBKp5WdYPuVVgOJiYbIzgyEmDP2\u002B3S0Rxk10Wy4GsG0yaGvHwhduRytObjqqkr94eR68qDHSZcslWB8Z46P3DxC1b/lGa8DJt4WScG7yp3ON\u002B\u002BIPich7YAJgomn4VGNHlx8qNWLGMc0dszBsADWccvDrjCfBp4VIOc/25cmW0WMiSpkPiHH[...]
    {
      "RequestUri": "https://seanhnscanada.dfs.core.windows.net/test-filesystem-9a3c7161-517b-d86b-9aea-3f828d84565c/test-file-db7ac59d-4b07-94c5-cd5f-7b090d5f1394?action=flush\u0026position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 27 Apr 2023 19:29:22 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB4755B47665C2\u0022",
        "Last-Modified": "Thu, 27 Apr 2023 19:29:22 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanada.blob.core.windows.net/test-filesystem-9a3c7161-517b-d86b-9aea-3f828d84565c?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 27 Apr 2023 19:29:23 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "260582115",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseanhnscanada\nU2FuaXRpemVk\nhttps://seanhnscanada.blob.core.windows.net\nhttps://seanhnscanada.file.core.windows.net\nhttps://seanhnscanada.queue.core.windows.net\nhttps://seanhnscanada.table.core.windows.net\n\n\n\n\nhttps://seanhnscanada-secondary.blob.core.windows.net\nhttps://seanhnscanada-secondary.file.core.windows.net\nhttps://seanhnscanada-secondary.queue.core.windows.net\nhttps://seanhnscanada-secondary.table.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://seanhnscanada.blob.core.windows.net/;QueueEndpoint=https://seanhnscanada.queue.core.windows.net/;FileEndpoint=https://seanhnscanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanhnscanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanhnscanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanhnscanada-secondary.file.core.windows.net/;AccountName=seanhnscanada;AccountKey=Sanitized\n\nXClient\n"
  }
}
