{
  "Entries": [
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-filesystem-a8f28a65-ad08-a305-bfc6-147a4248ed39?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 09 May 2022 23:58:14 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA3217C796654D\u0022",
        "Last-Modified": "Mon, 09 May 2022 23:58:14 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.dfs.core.windows.net/test-filesystem-a8f28a65-ad08-a305-bfc6-147a4248ed39/test-file-1f7a388f-4230-f6ed-2cc1-fa831dd92f83?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 09 May 2022 23:58:14 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA3217C7D57AA2\u0022",
        "Last-Modified": "Mon, 09 May 2022 23:58:14 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.dfs.core.windows.net/test-filesystem-a8f28a65-ad08-a305-bfc6-147a4248ed39/test-file-1f7a388f-4230-f6ed-2cc1-fa831dd92f83?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Mon, 09 May 2022 23:58:14 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": "t7tpB9x2ovZ4GwtXiTacZe0kbkp0ZvCXPF62CtnU8tOUkRZL8NATlFXcDyz\u002BIAKPojFQv1rSHVHK0sp9v5gdpCk4w/ggUHQdENr0mFfEmRxcJ2eogzN5wXPFgB4FldS9vmsDxlwJb1K8M66A3YX6BjmuIZgxdSD2vwGFWs9WF3oGN9nrwdK/UrgU60\u002BE\u002BOTuy3rkV3Q8jElKDQZbhBSCZRw0eqWrDkRm7s7fHInQccYdlo5Vcb8GyauPobTMZM6jkoUzUH4\u002BQr01fmmlXG\u002B/eZtAPu2GLfNcLbD6G2yQmokAO4kEnSFH3lTRH/NVYGw70CcZ[...]
    {
      "RequestUri": "https://jaschrepragrs.dfs.core.windows.net/test-filesystem-a8f28a65-ad08-a305-bfc6-147a4248ed39/test-file-1f7a388f-4230-f6ed-2cc1-fa831dd92f83?action=flush\u0026position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 09 May 2022 23:58:14 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA3217C7F58122\u0022",
        "Last-Modified": "Mon, 09 May 2022 23:58:14 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-filesystem-a8f28a65-ad08-a305-bfc6-147a4248ed39/test-file-1f7a388f-4230-f6ed-2cc1-fa831dd92f83",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 09 May 2022 23:58:15 GMT",
        "x-ms-range": "bytes=0-511",
        "x-ms-range-get-content-crc64": "true",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-511/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA3217C7F58122\u0022",
        "Last-Modified": "Mon, 09 May 2022 23:58:14 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-content-crc64": "5/UAtmvdqGA=",
        "x-ms-creation-time": "Mon, 09 May 2022 23:58:14 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": "t7tpB9x2ovZ4GwtXiTacZe0kbkp0ZvCXPF62CtnU8tOUkRZL8NATlFXcDyz\u002BIAKPojFQv1rSHVHK0sp9v5gdpCk4w/ggUHQdENr0mFfEmRxcJ2eogzN5wXPFgB4FldS9vmsDxlwJb1K8M66A3YX6BjmuIZgxdSD2vwGFWs9WF3oGN9nrwdK/UrgU60\u002BE\u002BOTuy3rkV3Q8jElKDQZbhBSCZRw0eqWrDkRm7s7fHInQccYdlo5Vcb8GyauPobTMZM6jkoUzUH4\u002BQr01fmmlXG\u002B/eZtAPu2GLfNcLbD6G2yQmokAO4kEnSFH3lTRH/NVYGw70CcZiybgHWWR1yLORCZQpePfpCHlu9x5\u002BV\u002BZtA0ABsxDvktFdg9jIB0kcsb/eZotgHkPdbxLVhVKoJHGR2lXkdBVioXbCi7UfIQDwUkWeYDFazOT8JAQ92g1\u002BtZ9ndi0zOD1qe4UUnVLO/k3SJTMNCYRANw1xKE/RZIdpRBYV96sTvRoINCRsRi9SLSX2a/Tacawa538fwg\u002BtmRb9q1l8uQbi/mfYxNWf0/Dd3vsp2vjSjtJp\u002BtBr8/sKmlrNrprWFXQfE62MwayWutNOQiMUQ74eKxxHEr42dspszmq6kmUVx8mHCsdLBY0lk3/83bHYNhacr4O\u002BTsK2KJyjIDNCG\u002BiueHoZTXj20uVPIX8\u002BOU="
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-filesystem-a8f28a65-ad08-a305-bfc6-147a4248ed39/test-file-1f7a388f-4230-f6ed-2cc1-fa831dd92f83",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8DA3217C7F58122\u0022",
        "x-ms-date": "Mon, 09 May 2022 23:58:15 GMT",
        "x-ms-range": "bytes=512-1023",
        "x-ms-range-get-content-crc64": "true",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 512-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA3217C7F58122\u0022",
        "Last-Modified": "Mon, 09 May 2022 23:58:1[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-filesystem-a8f28a65-ad08-a305-bfc6-147a4248ed39?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 09 May 2022 23:58:15 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1290950394",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\njaschrepragrs\nU2FuaXRpemVk\nhttps://jaschrepragrs.blob.core.windows.net\nhttps://jaschrepragrs.file.core.windows.net\nhttps://jaschrepragrs.queue.core.windows.net\nhttps://jaschrepragrs.table.core.windows.net\n\n\n\n\nhttps://jaschrepragrs-secondary.blob.core.windows.net\nhttps://jaschrepragrs-secondary.file.core.windows.net\nhttps://jaschrepragrs-secondary.queue.core.windows.net\nhttps://jaschrepragrs-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jaschrepragrs.blob.core.windows.net/;QueueEndpoint=https://jaschrepragrs.queue.core.windows.net/;FileEndpoint=https://jaschrepragrs.file.core.windows.net/;BlobSecondaryEndpoint=https://jaschrepragrs-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jaschrepragrs-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jaschrepragrs-secondary.file.core.windows.net/;AccountName=jaschrepragrs;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
