{
  "Entries": [
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-filesystem-379c2293-2e8d-c1c4-f233-62c1775eb8f9?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 09 May 2022 23:58:31 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA3217D213A013\u0022",
        "Last-Modified": "Mon, 09 May 2022 23:58:31 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.dfs.core.windows.net/test-filesystem-379c2293-2e8d-c1c4-f233-62c1775eb8f9/test-file-c98818c3-f079-a012-f724-cc1ece45a364?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 09 May 2022 23:58:32 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA3217D25309E2\u0022",
        "Last-Modified": "Mon, 09 May 2022 23:58:32 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.dfs.core.windows.net/test-filesystem-379c2293-2e8d-c1c4-f233-62c1775eb8f9/test-file-c98818c3-f079-a012-f724-cc1ece45a364?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Mon, 09 May 2022 23:58:32 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": "bdk2Pg72MC\u002BehGsRK15izeJtKjzsMJL1PywP\u002BP8K98W4x/mF7hLnoQpC6eJc3/6sAJiWs9uHTj1GQf/h5jgvlIymWGRl3d7QhYgyqkawmF8uYvdnc0TpMHi7Pq0TBbrSE1VVtoaaRyO5xi1TVaT3lqmfs4NAyCFIvCjrqZ8wvYDNX5bxW\u002BHYkxvTra0WltrTxKgEc1I3kUo0DPlerp2EiAithfYNBTvHxh9obBpzMSZOF\u002BX2LEouls1LvE7oeuR9TySkaRHjxr5tPawyzyQwwNrTD5e4jVy\u002Bf\u002B4owUjs30w76h32zsgValEmie\u002[...]
    {
      "RequestUri": "https://jaschrepragrs.dfs.core.windows.net/test-filesystem-379c2293-2e8d-c1c4-f233-62c1775eb8f9/test-file-c98818c3-f079-a012-f724-cc1ece45a364?action=flush\u0026position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 09 May 2022 23:58:32 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA3217D273AC8F\u0022",
        "Last-Modified": "Mon, 09 May 2022 23:58:32 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-filesystem-379c2293-2e8d-c1c4-f233-62c1775eb8f9/test-file-c98818c3-f079-a012-f724-cc1ece45a364",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 09 May 2022 23:58:32 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-range-get-content-crc64": "true",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA3217D273AC8F\u0022",
        "Last-Modified": "Mon, 09 May 2022 23:58:32 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-content-crc64": "0/AhWv\u002BsZ\u002Bc=",
        "x-ms-creation-time": "Mon, 09 May 2022 23:58:32 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": "bdk2Pg72MC\u002BehGsRK15izeJtKjzsMJL1PywP\u002BP8K98W4x/mF7hLnoQpC6eJc3/6sAJiWs9uHTj1GQf/h5jgvlIymWGRl3d7QhYgyqkawmF8uYvdnc0TpMHi7Pq0TBbrSE1VVtoaaRyO5xi1TVaT3lqmfs4NAyCFIvCjrqZ8wvYDNX5bxW\u002BHYkxvTra0WltrTxKgEc1I3kUo0DPlerp2EiAithfYNBTvHxh9obBpzMSZOF\u002BX2LEouls1LvE7oeuR9TySkaRHjxr5tPawyzyQwwNrTD5e4jVy\u002Bf\u002B4owUjs30w76h32zsgValEmie\u002Bd\u002B8aoG/x0FGtNxMLI5uoiuwR1gF1g9\u002BQHOvESvqVFkgRsIIMnf6ZMeMrh7SZbL[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-filesystem-379c2293-2e8d-c1c4-f233-62c1775eb8f9?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 09 May 2022 23:58:32 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "326682656",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\njaschrepragrs\nU2FuaXRpemVk\nhttps://jaschrepragrs.blob.core.windows.net\nhttps://jaschrepragrs.file.core.windows.net\nhttps://jaschrepragrs.queue.core.windows.net\nhttps://jaschrepragrs.table.core.windows.net\n\n\n\n\nhttps://jaschrepragrs-secondary.blob.core.windows.net\nhttps://jaschrepragrs-secondary.file.core.windows.net\nhttps://jaschrepragrs-secondary.queue.core.windows.net\nhttps://jaschrepragrs-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jaschrepragrs.blob.core.windows.net/;QueueEndpoint=https://jaschrepragrs.queue.core.windows.net/;FileEndpoint=https://jaschrepragrs.file.core.windows.net/;BlobSecondaryEndpoint=https://jaschrepragrs-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jaschrepragrs-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jaschrepragrs-secondary.file.core.windows.net/;AccountName=jaschrepragrs;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
