{
  "Entries": [
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-filesystem-78a68628-bee1-abd3-1847-2ddc29e07235?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 09 May 2022 22:03:09 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA3207B41A70CB\u0022",
        "Last-Modified": "Mon, 09 May 2022 22:03:09 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.dfs.core.windows.net/test-filesystem-78a68628-bee1-abd3-1847-2ddc29e07235/test-file-3609edc5-885e-31d4-9c4b-494cc945f5fb?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 09 May 2022 22:03:09 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA3207B42D8E0B\u0022",
        "Last-Modified": "Mon, 09 May 2022 22:03:09 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jaschrepragrs.dfs.core.windows.net/test-filesystem-78a68628-bee1-abd3-1847-2ddc29e07235/test-file-3609edc5-885e-31d4-9c4b-494cc945f5fb?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-content-crc64": "QeG98Tc9aTk=",
        "x-ms-date": "Mon, 09 May 2022 22:03:10 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": "fZQVPaQomUTvPN2i/1Kn95yzd82Cnte3QyCHnVMqG6vvyARvC23VPMMZ5CLgdg6SlZjRm3eCdN69XvqEofvxxSAxszZOOOsu3TsJabq11swR9Ai6WYA0bVQlsq1zUZvIKB4BrsLYRFytor07eAokB4ctc6zyNmyg/EbhKYU\u002Bu4ygQUGbsycKOLCrDbbC\u002BfRKAKolRd7v1vGxYbF89hvXbucxmzfJiFRgIzr7Rim23QNRlyjbGXWusWpP6lF1jkKV1J/PkV68gHdWxSKj84/I\u002B4SuKl7y/FRxg\u002BnMeZ4C6pX4ZXGK50ullRawhFRSCr3bh\u002B7Nx2Pjo9hKXQ507wfZVNuNq40ePhQ4CJVHQXcAH3gr8fKvNCIxFcKZP4o9MKUP1zB5xV8wvUjalb7Om2FgSj2VSP4VKSC4XJbLhP6K\u002BtfvOGlHhlkZ\u002BzSp1Z9jYnlhOPVMqOin\u002Ba4PwGnJZDhKUJrn32L3GcPje03JbFSAVPkcaUwJPVLvSD67N8XwUJb8XoQFfIMXaR4xaCyb3Y1Zj2tvrPrrQBJH95ckO\u002BH98yu2zQ3Pe9h1BQAt2NUmVGqwYqhZgKObEB5xvYTs8i08M3UB5RCAiROT\u002Baf6vmg9IaMsc9k5o3KHGrzvXb5TiRLS8KRgJG9ZMNiUxof8oVK1NJvhv39UA5ADespUkSxVP3A=",
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-content-crc64": "QeG98Tc9aTk=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jaschrepragrs.dfs.core.windows.net/test-filesystem-78a68628-bee1-abd3-1847-2ddc29e07235/test-file-3609edc5-885e-31d4-9c4b-494cc945f5fb?action=flush\u0026position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 09 May 2022 22:03:10 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA3207B46DE923\u0022",
        "Last-Modified": "Mon, 09 May 2022 22:03:09 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-filesystem-78a68628-bee1-abd3-1847-2ddc29e07235?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 09 May 2022 22:03:10 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1537947216",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\njaschrepragrs\nU2FuaXRpemVk\nhttps://jaschrepragrs.blob.core.windows.net\nhttps://jaschrepragrs.file.core.windows.net\nhttps://jaschrepragrs.queue.core.windows.net\nhttps://jaschrepragrs.table.core.windows.net\n\n\n\n\nhttps://jaschrepragrs-secondary.blob.core.windows.net\nhttps://jaschrepragrs-secondary.file.core.windows.net\nhttps://jaschrepragrs-secondary.queue.core.windows.net\nhttps://jaschrepragrs-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jaschrepragrs.blob.core.windows.net/;QueueEndpoint=https://jaschrepragrs.queue.core.windows.net/;FileEndpoint=https://jaschrepragrs.file.core.windows.net/;BlobSecondaryEndpoint=https://jaschrepragrs-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jaschrepragrs-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jaschrepragrs-secondary.file.core.windows.net/;AccountName=jaschrepragrs;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
