{
  "Entries": [
    {
      "RequestUri": "https://seanhnscanada.blob.core.windows.net/test-filesystem-2f78c984-ae4d-baf8-315b-8ece0f15bf8f?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 27 Apr 2023 19:29:23 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB4755B48B6B8D\u0022",
        "Last-Modified": "Thu, 27 Apr 2023 19:29:22 GMT",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanada.dfs.core.windows.net/test-filesystem-2f78c984-ae4d-baf8-315b-8ece0f15bf8f/test-file-c75b8dda-72d2-5fd7-bd21-e1514152d9b7?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 27 Apr 2023 19:29:23 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB4755B49B24F1\u0022",
        "Last-Modified": "Thu, 27 Apr 2023 19:29:23 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanada.dfs.core.windows.net/test-filesystem-2f78c984-ae4d-baf8-315b-8ece0f15bf8f/test-file-c75b8dda-72d2-5fd7-bd21-e1514152d9b7?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-content-crc64": "ktrFXwmXymc=",
        "x-ms-date": "Thu, 27 Apr 2023 19:29:23 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": "l0NRvIVOVwrCGx8n0\u002BNqwbjdSnNdRMvyxKaRUwgDgCpXMnwMHuYrNUStuKcHWzNgZq9K/5taSlJ3XvjevAQBvpv1z6FnXqPSsRQvr4wj6mhzMexYuYGO/ecplL/tTXhAq/kMEoyS\u002BQgLeE2GK5vGVHOQa4sXqAUaZtK5Pcnj5GSc7gOSF9jb4DfkTUAzCNFLY0BMXeHsKQL08qu52Lw\u002BJ5Pp6jyYMzybtIpTMlvE5l4AbdmJl4eCr8UAniQtIgh7piWtSh2Vsy8DsKhXmPanLwtMuGritI8LZzp2l5UXbpKB2Iw2F5xAa7mqheffKhbPWW4Z4GmdmPGVouPjHhyZ60IW1c[...]
    {
      "RequestUri": "https://seanhnscanada.dfs.core.windows.net/test-filesystem-2f78c984-ae4d-baf8-315b-8ece0f15bf8f/test-file-c75b8dda-72d2-5fd7-bd21-e1514152d9b7?action=flush\u0026position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 27 Apr 2023 19:29:23 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB4755B4AF3315\u0022",
        "Last-Modified": "Thu, 27 Apr 2023 19:29:23 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanada.blob.core.windows.net/test-filesystem-2f78c984-ae4d-baf8-315b-8ece0f15bf8f?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 27 Apr 2023 19:29:23 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1066730749",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseanhnscanada\nU2FuaXRpemVk\nhttps://seanhnscanada.blob.core.windows.net\nhttps://seanhnscanada.file.core.windows.net\nhttps://seanhnscanada.queue.core.windows.net\nhttps://seanhnscanada.table.core.windows.net\n\n\n\n\nhttps://seanhnscanada-secondary.blob.core.windows.net\nhttps://seanhnscanada-secondary.file.core.windows.net\nhttps://seanhnscanada-secondary.queue.core.windows.net\nhttps://seanhnscanada-secondary.table.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://seanhnscanada.blob.core.windows.net/;QueueEndpoint=https://seanhnscanada.queue.core.windows.net/;FileEndpoint=https://seanhnscanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanhnscanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanhnscanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanhnscanada-secondary.file.core.windows.net/;AccountName=seanhnscanada;AccountKey=Sanitized\n\nXClient\n"
  }
}
