{
  "Entries": [
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-filesystem-f4c054e4-cc09-4d05-1426-629828a48562?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Fri, 01 Apr 2022 14:07:07 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA13E8E7F86878\u0022",
        "Last-Modified": "Fri, 01 Apr 2022 14:07:07 GMT",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.dfs.core.windows.net/test-filesystem-f4c054e4-cc09-4d05-1426-629828a48562/test-file-9a8419dd-b4ce-d2f7-81e6-e5a6305afec6?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 01 Apr 2022 14:07:07 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA13E8E8124BEA\u0022",
        "Last-Modified": "Fri, 01 Apr 2022 14:07:07 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jaschrepragrs.dfs.core.windows.net/test-filesystem-f4c054e4-cc09-4d05-1426-629828a48562/test-file-9a8419dd-b4ce-d2f7-81e6-e5a6305afec6?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-content-crc64": "bwQFrSl02yk=",
        "x-ms-date": "Fri, 01 Apr 2022 14:07:07 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": "kFS9ufZDeTONJZwN5ekWywd8YyxqrJTDy0qyhTbJFD4qQ4zjimXv8YIGSqhzDeNAkK70CrWlOeO/\u002Bu6skPT8xBBe4qFdM0GijXKpY2LsUL1mcfSI1AqIhQqoI493Q2COCYaXFCpB411sUn1D/NWB06owRR7/dO8F1V2XtA\u002BxK0kRGlrcVDuTJI6XG4KNRYg1J1DlRv1Cj5WWkj7Nqi9NuiYzMeF7pX5vnCGQZ1hteJDUYYy/zORLz4vERcL8xXleSmBbWROnuoLRdancsSc8KRmt\u002BEiije1C52JWtl\u002B7ctenMR34ER99LacK7Vc6bx1jiBupT8wxvLxyGXGwUAQiFQPSNX8KRBf5MMuhl5\u002BWB3hF8y1DEiMKdXRghfitzN2j59hTZzmeWEQErx4BkCUc2xH4a1zW3wPgyL8Kqb4fS2Tu/bDHQ58/p5rpP2IECeVPRKnmtWGAzAjVcp95k6\u002BF5GO6EpJ0VZhxucTC7J\u002Bg277aumUVOJYCbjCn8tEAxhPrY1r\u002BSvZS2\u002B4RdPycveBpNJbgnthJcKzNt6RhzGLHcfOw14hEoZHIh992A8OZZrBQPr06Hyc7ofOuMZJS8Q6MSgMJ6\u002BZXJJMEGBf40mzpM1HzEY6kjFLLdTWVlm/\u002BdpbR6rnAkHrK\u002BRoqNQcPQs6Gxf1BXuB/6L2wPXawwY4jBaI=",
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-content-crc64": "bwQFrSl02yk=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jaschrepragrs.dfs.core.windows.net/test-filesystem-f4c054e4-cc09-4d05-1426-629828a48562/test-file-9a8419dd-b4ce-d2f7-81e6-e5a6305afec6?action=flush\u0026position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 01 Apr 2022 14:07:07 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA13E8E82E5B45\u0022",
        "Last-Modified": "Fri, 01 Apr 2022 14:07:07 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-filesystem-f4c054e4-cc09-4d05-1426-629828a48562?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 01 Apr 2022 14:07:07 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1914971821",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\njaschrepragrs\nU2FuaXRpemVk\nhttps://jaschrepragrs.blob.core.windows.net\nhttps://jaschrepragrs.file.core.windows.net\nhttps://jaschrepragrs.queue.core.windows.net\nhttps://jaschrepragrs.table.core.windows.net\n\n\n\n\nhttps://jaschrepragrs-secondary.blob.core.windows.net\nhttps://jaschrepragrs-secondary.file.core.windows.net\nhttps://jaschrepragrs-secondary.queue.core.windows.net\nhttps://jaschrepragrs-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jaschrepragrs.blob.core.windows.net/;QueueEndpoint=https://jaschrepragrs.queue.core.windows.net/;FileEndpoint=https://jaschrepragrs.file.core.windows.net/;BlobSecondaryEndpoint=https://jaschrepragrs-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jaschrepragrs-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jaschrepragrs-secondary.file.core.windows.net/;AccountName=jaschrepragrs;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
