{
  "Entries": [
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-filesystem-dafd22a9-6cbf-705e-bb1c-6d72f8b9670b?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 10 May 2022 17:06:04 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA32A75DEEEFB2\u0022",
        "Last-Modified": "Tue, 10 May 2022 17:06:04 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.dfs.core.windows.net/test-filesystem-dafd22a9-6cbf-705e-bb1c-6d72f8b9670b/test-file-3ee8a98d-8c5a-98de-b956-da76190842b7?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 May 2022 17:06:04 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA32A75DFF52A1\u0022",
        "Last-Modified": "Tue, 10 May 2022 17:06:04 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.dfs.core.windows.net/test-filesystem-dafd22a9-6cbf-705e-bb1c-6d72f8b9670b/test-file-3ee8a98d-8c5a-98de-b956-da76190842b7?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 10 May 2022 17:06:04 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": "A\u002Bp11VYxLmMEyv/yWrbF0MJWN3KshsdASK2UuypSt5RHJKXAdYTACleo3HlR/4342koJJQ8TQXwjNY2onXM5shNqqzUQBVs9lS0aBKpN7kkgm\u002BDfSJKFNOMpnUD3GG3kbypm5lRX59Xvy4/i\u002BD3R1UZDhwGSWWmA5XZS52gbRnzANpSA5gf1yLQL8HwCozymV8f5s5BrURXA5QHdBf9s04UTIcGoUe8\u002BTr9MhmjsfUE6rJCgIZPrVOR/wAAGF8O1nhz374F6/QbYumXRH8us02i/o1hvzLLyJ83cKJDuODf7l\u002BdM9Y7AwK6JyGYtGjUZ0uyY[...]
    {
      "RequestUri": "https://jaschrepragrs.dfs.core.windows.net/test-filesystem-dafd22a9-6cbf-705e-bb1c-6d72f8b9670b/test-file-3ee8a98d-8c5a-98de-b956-da76190842b7?action=flush\u0026position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 May 2022 17:06:04 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA32A75E1DABBA\u0022",
        "Last-Modified": "Tue, 10 May 2022 17:06:04 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-filesystem-dafd22a9-6cbf-705e-bb1c-6d72f8b9670b/test-file-3ee8a98d-8c5a-98de-b956-da76190842b7",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 May 2022 17:06:04 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA32A75E1DABBA\u0022",
        "Last-Modified": "Tue, 10 May 2022 17:06:04 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 10 May 2022 17:06:04 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": "A\u002Bp11VYxLmMEyv/yWrbF0MJWN3KshsdASK2UuypSt5RHJKXAdYTACleo3HlR/4342koJJQ8TQXwjNY2onXM5shNqqzUQBVs9lS0aBKpN7kkgm\u002BDfSJKFNOMpnUD3GG3kbypm5lRX59Xvy4/i\u002BD3R1UZDhwGSWWmA5XZS52gbRnzANpSA5gf1yLQL8HwCozymV8f5s5BrURXA5QHdBf9s04UTIcGoUe8\u002BTr9MhmjsfUE6rJCgIZPrVOR/wAAGF8O1nhz374F6/QbYumXRH8us02i/o1hvzLLyJ83cKJDuODf7l\u002BdM9Y7AwK6JyGYtGjUZ0uyYRnRrRdJqBci0ndV16YIu1YjjYN7a/\u002BKp5QNLxAyYw1WjVvLCkFEU4e/FDCLZE9/k/0St[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-filesystem-dafd22a9-6cbf-705e-bb1c-6d72f8b9670b?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 May 2022 17:06:05 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1486752372",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\njaschrepragrs\nU2FuaXRpemVk\nhttps://jaschrepragrs.blob.core.windows.net\nhttps://jaschrepragrs.file.core.windows.net\nhttps://jaschrepragrs.queue.core.windows.net\nhttps://jaschrepragrs.table.core.windows.net\n\n\n\n\nhttps://jaschrepragrs-secondary.blob.core.windows.net\nhttps://jaschrepragrs-secondary.file.core.windows.net\nhttps://jaschrepragrs-secondary.queue.core.windows.net\nhttps://jaschrepragrs-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jaschrepragrs.blob.core.windows.net/;QueueEndpoint=https://jaschrepragrs.queue.core.windows.net/;FileEndpoint=https://jaschrepragrs.file.core.windows.net/;BlobSecondaryEndpoint=https://jaschrepragrs-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jaschrepragrs-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jaschrepragrs-secondary.file.core.windows.net/;AccountName=jaschrepragrs;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
