{
  "Entries": [
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-filesystem-da771c34-e5a7-3e67-b460-7dc81eb12fec?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Fri, 01 Apr 2022 14:07:05 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA13E8E77827B7\u0022",
        "Last-Modified": "Fri, 01 Apr 2022 14:07:06 GMT",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.dfs.core.windows.net/test-filesystem-da771c34-e5a7-3e67-b460-7dc81eb12fec/test-file-72592a86-b895-e334-38c5-f9c2fa39fd13?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 01 Apr 2022 14:07:06 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA13E8E7BF07EC\u0022",
        "Last-Modified": "Fri, 01 Apr 2022 14:07:06 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jaschrepragrs.dfs.core.windows.net/test-filesystem-da771c34-e5a7-3e67-b460-7dc81eb12fec/test-file-72592a86-b895-e334-38c5-f9c2fa39fd13?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-content-crc64": "PXcG0f47W7k=",
        "x-ms-date": "Fri, 01 Apr 2022 14:07:06 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": "wPQQV3VIhfzcxC2I281bGTRLy8NYI4bWf7AnLMRvFkIFWNnvitS9tNRbMKFJHDOGAlmcUp5UWZ1tOdfEIVg3ba3qg4LzbI9gjRfv/fLljGJ8oCpr0sSjsf88gVD8\u002BJN7JMLzX5mxkpXKPMSHZVuqiKx0R4AuzJrpRtGDt\u002Bs\u002BY5WDc9gv8S3Jyw2UoJb/G0yjkfmjiLASTFcoCRjHLduqjNguBPGDepZ/q3xzmiwD6SqF3ybymtrkcCaAB\u002BcVAZ0y6hO90BdaIBZiJN00n7IrJCDtQk60uPL\u002BSpPKAnOuaaneQa8YRRgTK78Pj3X9r9B0VeLHKL9PfTEhv4aE[...]
    {
      "RequestUri": "https://jaschrepragrs.dfs.core.windows.net/test-filesystem-da771c34-e5a7-3e67-b460-7dc81eb12fec/test-file-72592a86-b895-e334-38c5-f9c2fa39fd13?action=flush\u0026position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 01 Apr 2022 14:07:06 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA13E8E7D8F4C9\u0022",
        "Last-Modified": "Fri, 01 Apr 2022 14:07:06 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-filesystem-da771c34-e5a7-3e67-b460-7dc81eb12fec?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 01 Apr 2022 14:07:06 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "125782885",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\njaschrepragrs\nU2FuaXRpemVk\nhttps://jaschrepragrs.blob.core.windows.net\nhttps://jaschrepragrs.file.core.windows.net\nhttps://jaschrepragrs.queue.core.windows.net\nhttps://jaschrepragrs.table.core.windows.net\n\n\n\n\nhttps://jaschrepragrs-secondary.blob.core.windows.net\nhttps://jaschrepragrs-secondary.file.core.windows.net\nhttps://jaschrepragrs-secondary.queue.core.windows.net\nhttps://jaschrepragrs-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jaschrepragrs.blob.core.windows.net/;QueueEndpoint=https://jaschrepragrs.queue.core.windows.net/;FileEndpoint=https://jaschrepragrs.file.core.windows.net/;BlobSecondaryEndpoint=https://jaschrepragrs-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jaschrepragrs-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jaschrepragrs-secondary.file.core.windows.net/;AccountName=jaschrepragrs;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
