{
  "Entries": [
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-filesystem-0e61c00d-23ef-96cd-31f3-d420ead1a2d2?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 09 May 2022 22:02:55 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA3207AB646C93\u0022",
        "Last-Modified": "Mon, 09 May 2022 22:02:54 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.dfs.core.windows.net/test-filesystem-0e61c00d-23ef-96cd-31f3-d420ead1a2d2/test-file-522e4d62-773b-3d35-c55b-22353ac53bc8?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 09 May 2022 22:02:55 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA3207AB7429CB\u0022",
        "Last-Modified": "Mon, 09 May 2022 22:02:54 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jaschrepragrs.dfs.core.windows.net/test-filesystem-0e61c00d-23ef-96cd-31f3-d420ead1a2d2/test-file-522e4d62-773b-3d35-c55b-22353ac53bc8?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-content-crc64": "t3Q30YKkqc8=",
        "x-ms-date": "Mon, 09 May 2022 22:02:55 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": "GsQuvY8IIKzmmKOKTBeUqJMyAZxOHObV6vBCCtisHjqFsJs9WqESFi3Wn1PD\u002BI31ed\u002Bady9C2P7eWNOexhXUOnpoBZt8Vk3xIOpveH2TEvFjTJH4EaYLQtedXwLOdE8XAmXYWvLxeSKSqVdE02CAS0bhOnqE2yjTXcPE3vdLI6ubWHYXurf\u002BctJuZmhPxm93HBS77DnVkyY8BPwvLZorRoarqXrpaJCP48inFXXAg5ZUTMLijzZyxcVQ27W6z0Q3Qx/hpB30jrODLAlxLn2xe4Fl2\u002BDXSLdPOOO1mY3a1BODb9JV3955X74PX2ItAJdHnl80VPNkX/pokms6P/Ulq[...]
    {
      "RequestUri": "https://jaschrepragrs.dfs.core.windows.net/test-filesystem-0e61c00d-23ef-96cd-31f3-d420ead1a2d2/test-file-522e4d62-773b-3d35-c55b-22353ac53bc8?action=flush\u0026position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 09 May 2022 22:02:55 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA3207ABA40C7F\u0022",
        "Last-Modified": "Mon, 09 May 2022 22:02:55 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-filesystem-0e61c00d-23ef-96cd-31f3-d420ead1a2d2?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 09 May 2022 22:02:55 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "109001384",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\njaschrepragrs\nU2FuaXRpemVk\nhttps://jaschrepragrs.blob.core.windows.net\nhttps://jaschrepragrs.file.core.windows.net\nhttps://jaschrepragrs.queue.core.windows.net\nhttps://jaschrepragrs.table.core.windows.net\n\n\n\n\nhttps://jaschrepragrs-secondary.blob.core.windows.net\nhttps://jaschrepragrs-secondary.file.core.windows.net\nhttps://jaschrepragrs-secondary.queue.core.windows.net\nhttps://jaschrepragrs-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jaschrepragrs.blob.core.windows.net/;QueueEndpoint=https://jaschrepragrs.queue.core.windows.net/;FileEndpoint=https://jaschrepragrs.file.core.windows.net/;BlobSecondaryEndpoint=https://jaschrepragrs-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jaschrepragrs-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jaschrepragrs-secondary.file.core.windows.net/;AccountName=jaschrepragrs;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
