{
  "Entries": [
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-filesystem-df0c3305-2d6e-fe1a-3e90-3582ddd77cb4?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 09 May 2022 23:58:37 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA3217D52EEA64\u0022",
        "Last-Modified": "Mon, 09 May 2022 23:58:36 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.dfs.core.windows.net/test-filesystem-df0c3305-2d6e-fe1a-3e90-3582ddd77cb4/test-file-f15f85ad-c03d-d2e9-6dda-708f416e165b?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 09 May 2022 23:58:37 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA3217D570C6C3\u0022",
        "Last-Modified": "Mon, 09 May 2022 23:58:37 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.dfs.core.windows.net/test-filesystem-df0c3305-2d6e-fe1a-3e90-3582ddd77cb4/test-file-f15f85ad-c03d-d2e9-6dda-708f416e165b?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Mon, 09 May 2022 23:58:37 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": "rmmtxo8Omoj86YEMV0vWA/0MVSTPLZAnPFttbQ7zk/C7GyC/jcuYHh5/Ujr5lnX5XGlFghiB6oHYhYo0oC15CVWRUDsqFnYxczcFT9pVLaXlcxCkrhDXOTCe5ghBZH3xBUnkaEY5z0bzEw/hfJung1flTy0c1FtEuRYKizBt8A\u002B6FEmQcMRfq6TKsZoB9b2V92OwXBRQ1DDtn68vL0QWhSIAJ2dRFhKShaOIUiPAQ8NYdZTMvZT6akAZo9EVL3xgsyt4Ac5VROBQHdZxx4ENLVzr17qwSciNBb0nOHNBfVYnKJ74SEL1AzCze5\u002B\u002BiaK\u002BC3Z0KljCs[...]
    {
      "RequestUri": "https://jaschrepragrs.dfs.core.windows.net/test-filesystem-df0c3305-2d6e-fe1a-3e90-3582ddd77cb4/test-file-f15f85ad-c03d-d2e9-6dda-708f416e165b?action=flush\u0026position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 09 May 2022 23:58:37 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA3217D593DA13\u0022",
        "Last-Modified": "Mon, 09 May 2022 23:58:37 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-filesystem-df0c3305-2d6e-fe1a-3e90-3582ddd77cb4/test-file-f15f85ad-c03d-d2e9-6dda-708f416e165b",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 09 May 2022 23:58:37 GMT",
        "x-ms-range": "bytes=0-511",
        "x-ms-range-get-content-crc64": "true",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-511/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA3217D593DA13\u0022",
        "Last-Modified": "Mon, 09 May 2022 23:58:37 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-content-crc64": "JC5I4o59EHM=",
        "x-ms-creation-time": "Mon, 09 May 2022 23:58:37 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": "rmmtxo8Omoj86YEMV0vWA/0MVSTPLZAnPFttbQ7zk/C7GyC/jcuYHh5/Ujr5lnX5XGlFghiB6oHYhYo0oC15CVWRUDsqFnYxczcFT9pVLaXlcxCkrhDXOTCe5ghBZH3xBUnkaEY5z0bzEw/hfJung1flTy0c1FtEuRYKizBt8A\u002B6FEmQcMRfq6TKsZoB9b2V92OwXBRQ1DDtn68vL0QWhSIAJ2dRFhKShaOIUiPAQ8NYdZTMvZT6akAZo9EVL3xgsyt4Ac5VROBQHdZxx4ENLVzr17qwSciNBb0nOHNBfVYnKJ74SEL1AzCze5\u002B\u002BiaK\u002BC3Z0KljCsGpi6vsRLgxtD6B/Sp/iFOQa9tOJ/M0pz3waaCz9zFL\u002BZXc0lV1G49QkRWz\u002BPj4D3PeRWjSEOLOcORp/9sXgcENOgeUnrX\u002BG0xL/ZbZhKpE9F4w0a3EeeizEmFxDx\u002B0PRNUosL1Z2y53CocihdP8Ow6JQd45qwTRLwa4YxUiQwwl8CDgOHrT5DxdvWHq/PVZx1xOuYYO1ZnRV4C2oHcYVcd7/JWyGwKTtlyi2\u002B6j5zMRX5u51IqFFhqHD\u002BH5HUPERWeZb/9gpqtaugMpa/qrLm9NpEHcX4A89eZ6KgwhmpgZ3paGCXgzsbjwXxqGXKog3OBxrHgB6ObnXXkZ5XyfOCBqD41kJCX3GfM="
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-filesystem-df0c3305-2d6e-fe1a-3e90-3582ddd77cb4/test-file-f15f85ad-c03d-d2e9-6dda-708f416e165b",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8DA3217D593DA13\u0022",
        "x-ms-date": "Mon, 09 May 2022 23:58:37 GMT",
        "x-ms-range": "bytes=512-1023",
        "x-ms-range-get-content-crc64": "true",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 512-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA3217D593DA13\u0022",
        "Last-Modified": "Mon, 09 May 2022 23:58:3[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-filesystem-df0c3305-2d6e-fe1a-3e90-3582ddd77cb4?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 09 May 2022 23:58:38 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1481416295",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\njaschrepragrs\nU2FuaXRpemVk\nhttps://jaschrepragrs.blob.core.windows.net\nhttps://jaschrepragrs.file.core.windows.net\nhttps://jaschrepragrs.queue.core.windows.net\nhttps://jaschrepragrs.table.core.windows.net\n\n\n\n\nhttps://jaschrepragrs-secondary.blob.core.windows.net\nhttps://jaschrepragrs-secondary.file.core.windows.net\nhttps://jaschrepragrs-secondary.queue.core.windows.net\nhttps://jaschrepragrs-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jaschrepragrs.blob.core.windows.net/;QueueEndpoint=https://jaschrepragrs.queue.core.windows.net/;FileEndpoint=https://jaschrepragrs.file.core.windows.net/;BlobSecondaryEndpoint=https://jaschrepragrs-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jaschrepragrs-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jaschrepragrs-secondary.file.core.windows.net/;AccountName=jaschrepragrs;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
