{
  "Entries": [
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-filesystem-337f0cf0-921d-81e7-a4ac-a5edb7809b8e?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 09 May 2022 22:02:58 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA3207AD6680F1\u0022",
        "Last-Modified": "Mon, 09 May 2022 22:02:58 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.dfs.core.windows.net/test-filesystem-337f0cf0-921d-81e7-a4ac-a5edb7809b8e/test-file-28c6a301-e6dc-8e19-1461-aee3019d19e6?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 09 May 2022 22:02:58 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA3207AD7F17B6\u0022",
        "Last-Modified": "Mon, 09 May 2022 22:02:58 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jaschrepragrs.dfs.core.windows.net/test-filesystem-337f0cf0-921d-81e7-a4ac-a5edb7809b8e/test-file-28c6a301-e6dc-8e19-1461-aee3019d19e6?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-content-crc64": "KFH3szRQvk8=",
        "x-ms-date": "Mon, 09 May 2022 22:02:58 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": "tllItkrXAKh/ZFQkGO5bcQMC3d5AEnwTyXu4RyZYtWtJckPM6vFZONiWCK3rtLBVZLAwY5bRxqPcNOzOHrmBJ6/o2qarjoYRqKUFqgrPKBXLY\u002BJ2J1HVeKyf77YFixkeFeH9AtkKqtYpHrvwyxyZDQzWA7vWCgBdE2H5C57QDB2M5pQo0SY7wLgMTQiW5KyPBuKpLoddRwrhn\u002B54EJ83WBKeZOSHcDzmmkICyr33xy\u002B0aQS8J92VLp\u002BKRzE3w68Z1PT2\u002BH/ICJalw5REWn1N6di/w6eaezE0CDZF/SkLrtaT6fXIAc\u002Bv7GFuFmNJUNMhPF1YeAAIf1nDwe9JggtsmhS9sXGHhegJENdFK2TN6rhjJMDLsjbWimqbBT/fZWpWAXxPjJ5hmbd0T2gowlP09dY35l5Koefe5icH64CpKqpt7yrofl4ZAYoJV2POrccWpw9oqH8LC2CUcKZ3Wq43yyW9u9MpDHZ4HeXUQEmEEDhf8URwQIErYePJVA64oqfb0ow9EPL07JqY8IqaN8sWD19tGGlpxoqjkVrvYLdov3s9\u002BG29Rv9GagSp10/3kSkYskSuSok\u002BcgsBmn\u002BXBIzjLzEPXD9dWMhgJ61kv\u002B46rP8w161zunTx/4VhvKyArmV3xqce6DXqulp7TiPc2bIcxu5/Zi3fb3W8HVy5\u002B5wc33g=",
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-content-crc64": "KFH3szRQvk8=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jaschrepragrs.dfs.core.windows.net/test-filesystem-337f0cf0-921d-81e7-a4ac-a5edb7809b8e/test-file-28c6a301-e6dc-8e19-1461-aee3019d19e6?action=flush\u0026position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 09 May 2022 22:02:59 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA3207ADBF72C8\u0022",
        "Last-Modified": "Mon, 09 May 2022 22:02:58 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-filesystem-337f0cf0-921d-81e7-a4ac-a5edb7809b8e?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 09 May 2022 22:02:59 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "926376885",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\njaschrepragrs\nU2FuaXRpemVk\nhttps://jaschrepragrs.blob.core.windows.net\nhttps://jaschrepragrs.file.core.windows.net\nhttps://jaschrepragrs.queue.core.windows.net\nhttps://jaschrepragrs.table.core.windows.net\n\n\n\n\nhttps://jaschrepragrs-secondary.blob.core.windows.net\nhttps://jaschrepragrs-secondary.file.core.windows.net\nhttps://jaschrepragrs-secondary.queue.core.windows.net\nhttps://jaschrepragrs-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jaschrepragrs.blob.core.windows.net/;QueueEndpoint=https://jaschrepragrs.queue.core.windows.net/;FileEndpoint=https://jaschrepragrs.file.core.windows.net/;BlobSecondaryEndpoint=https://jaschrepragrs-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jaschrepragrs-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jaschrepragrs-secondary.file.core.windows.net/;AccountName=jaschrepragrs;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
