{
  "Entries": [
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-filesystem-b0e71f5d-8a71-b253-f369-b9cd808a4772?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 09 May 2022 23:58:23 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA3217CD3B088A\u0022",
        "Last-Modified": "Mon, 09 May 2022 23:58:23 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.dfs.core.windows.net/test-filesystem-b0e71f5d-8a71-b253-f369-b9cd808a4772/test-file-65df3c27-70f0-52b4-6530-ab1a588f09f0?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 09 May 2022 23:58:23 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA3217CD7F02A3\u0022",
        "Last-Modified": "Mon, 09 May 2022 23:58:23 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.dfs.core.windows.net/test-filesystem-b0e71f5d-8a71-b253-f369-b9cd808a4772/test-file-65df3c27-70f0-52b4-6530-ab1a588f09f0?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Mon, 09 May 2022 23:58:24 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": "T0vxXGlIJzCxgk8KsIcsEzfCrCwgWYAAvGuYHUNR0N3/fHs67tWN2Cw5PW8OxZEcFtbk0dU6PfXL8Z/\u002BrwrtX7JxCzQL8SViNNT/5hwQ8ffZfAZsbP4IxT\u002BGb/01jygiTN28nbpdECWxgp0BO1bZuv\u002BoJDMDgfK0aUX1hYEoLKWr3Jo\u002BVFQ9fGzguupgBonorLX9jWr1HsvrBzN0Z4qjiVX4VV67mmaqaqjHIsYIU2O8DNnMKp86tr7OU0wgyRXhPTGUaLArLRFPUiLCLvsE4rPQuFqx1l62vp6g7EYZiqGT5eWVc\u002BuykN/Hfdh8d4jCynCY[...]
    {
      "RequestUri": "https://jaschrepragrs.dfs.core.windows.net/test-filesystem-b0e71f5d-8a71-b253-f369-b9cd808a4772/test-file-65df3c27-70f0-52b4-6530-ab1a588f09f0?action=flush\u0026position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 09 May 2022 23:58:24 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA3217CDA0417B\u0022",
        "Last-Modified": "Mon, 09 May 2022 23:58:24 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-filesystem-b0e71f5d-8a71-b253-f369-b9cd808a4772/test-file-65df3c27-70f0-52b4-6530-ab1a588f09f0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 09 May 2022 23:58:24 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-range-get-content-md5": "true",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-MD5": "jYAB1UPT0Wrm9hFcfwep1w==",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA3217CDA0417B\u0022",
        "Last-Modified": "Mon, 09 May 2022 23:58:24 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Mon, 09 May 2022 23:58:23 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": "T0vxXGlIJzCxgk8KsIcsEzfCrCwgWYAAvGuYHUNR0N3/fHs67tWN2Cw5PW8OxZEcFtbk0dU6PfXL8Z/\u002BrwrtX7JxCzQL8SViNNT/5hwQ8ffZfAZsbP4IxT\u002BGb/01jygiTN28nbpdECWxgp0BO1bZuv\u002BoJDMDgfK0aUX1hYEoLKWr3Jo\u002BVFQ9fGzguupgBonorLX9jWr1HsvrBzN0Z4qjiVX4VV67mmaqaqjHIsYIU2O8DNnMKp86tr7OU0wgyRXhPTGUaLArLRFPUiLCLvsE4rPQuFqx1l62vp6g7EYZiqGT5eWVc\u002BuykN/Hfdh8d4jCynCYUBC6MGbS3qoRikDKNciBL0gWbm/IHid66ViGOkYW3iLVgDqQ2LR/w5VBoAaf/EgP\u002B0hA[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-filesystem-b0e71f5d-8a71-b253-f369-b9cd808a4772?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 09 May 2022 23:58:24 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "958734796",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\njaschrepragrs\nU2FuaXRpemVk\nhttps://jaschrepragrs.blob.core.windows.net\nhttps://jaschrepragrs.file.core.windows.net\nhttps://jaschrepragrs.queue.core.windows.net\nhttps://jaschrepragrs.table.core.windows.net\n\n\n\n\nhttps://jaschrepragrs-secondary.blob.core.windows.net\nhttps://jaschrepragrs-secondary.file.core.windows.net\nhttps://jaschrepragrs-secondary.queue.core.windows.net\nhttps://jaschrepragrs-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jaschrepragrs.blob.core.windows.net/;QueueEndpoint=https://jaschrepragrs.queue.core.windows.net/;FileEndpoint=https://jaschrepragrs.file.core.windows.net/;BlobSecondaryEndpoint=https://jaschrepragrs-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jaschrepragrs-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jaschrepragrs-secondary.file.core.windows.net/;AccountName=jaschrepragrs;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
