{
  "Entries": [
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-filesystem-385c9aa6-f336-7713-15af-911dd45a8b2a?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 09 May 2022 22:09:24 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA320893AD69C2\u0022",
        "Last-Modified": "Mon, 09 May 2022 22:09:24 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.dfs.core.windows.net/test-filesystem-385c9aa6-f336-7713-15af-911dd45a8b2a/test-file-afa6f04a-61d6-18d0-bf44-672ea0432082?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 09 May 2022 22:09:24 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA320893BE4F80\u0022",
        "Last-Modified": "Mon, 09 May 2022 22:09:24 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jaschrepragrs.dfs.core.windows.net/test-filesystem-385c9aa6-f336-7713-15af-911dd45a8b2a/test-file-afa6f04a-61d6-18d0-bf44-672ea0432082?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Mon, 09 May 2022 22:09:25 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": "WyFWMyjCsEvfLAhsSlDZ7FRYz4gKRagcoNGkM\u002BJkkWC/pWZ70ScPi5wEZlafum7TLosDRv\u002BD\u002BRZ5OpNXHn1pe5unraXpXhssSETrBd5RfeZi0QRXYEtgO6tQAZeTuG0fm\u002Bu69wzJ6dBw1v27l/Q3J7yt9E14EhpPR3H5mVyDmY/XzGrzlobZmecz5opNpKS3GNra5sMgponQarCb0E907D1t5MqJRJA21FtlRCuQAqLNQoGCqbLMtybhIizVPcmXv/pN38DZLdRJoxJoumFdQGgOzo3O8kOKoS2kqCFkYJaSzYUxQyLh8xStOAWgY/zEg\u002BLDx287yMy2wj2SNIWz5EN71uzcLP1FLNp5Ibk\u002B6j0w4CQ\u002BoZknVgS4eoDkTr\u002BP\u002BlTBJI0P6FfkfpuVwqcTeNgAYVRgdEOqVH/nI7J8YN0b6idlfMWvIfjNWiL9kpRdpQGo5OxqLoUQF9AOKMSlZx29edd/rvwSUEBbkxkgrMLqin6w1HvwsLuhVGT1ofgzKPIEQBi83fYFlpSrDpts8GsNJJ1F9JOizMgc3lqXHa9IJ2snG2upLayHqj7nRaEgNWP5531a7TNfYnRPoP\u002BcbnjlY\u002BYwRNT/Y/bxvklVuocn\u002B6j2nTYx7Tk3yLn3Woys6zzFAeG68PCP\u002BoOGaS/pCafsKKRXptBCs3as\u002BHwbBwk=",
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jaschrepragrs.dfs.core.windows.net/test-filesystem-385c9aa6-f336-7713-15af-911dd45a8b2a/test-file-afa6f04a-61d6-18d0-bf44-672ea0432082?action=flush\u0026position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 09 May 2022 22:09:25 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA32089404C43A\u0022",
        "Last-Modified": "Mon, 09 May 2022 22:09:25 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-filesystem-385c9aa6-f336-7713-15af-911dd45a8b2a?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 09 May 2022 22:09:25 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "680672729",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\njaschrepragrs\nU2FuaXRpemVk\nhttps://jaschrepragrs.blob.core.windows.net\nhttps://jaschrepragrs.file.core.windows.net\nhttps://jaschrepragrs.queue.core.windows.net\nhttps://jaschrepragrs.table.core.windows.net\n\n\n\n\nhttps://jaschrepragrs-secondary.blob.core.windows.net\nhttps://jaschrepragrs-secondary.file.core.windows.net\nhttps://jaschrepragrs-secondary.queue.core.windows.net\nhttps://jaschrepragrs-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jaschrepragrs.blob.core.windows.net/;QueueEndpoint=https://jaschrepragrs.queue.core.windows.net/;FileEndpoint=https://jaschrepragrs.file.core.windows.net/;BlobSecondaryEndpoint=https://jaschrepragrs-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jaschrepragrs-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jaschrepragrs-secondary.file.core.windows.net/;AccountName=jaschrepragrs;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
