{
  "Entries": [
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-filesystem-399f2ddf-1445-96cb-c573-5f95e27337c7?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 24 Feb 2022 00:37:03 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9F72DC7533490\u0022",
        "Last-Modified": "Thu, 24 Feb 2022 00:37:03 GMT",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.dfs.core.windows.net/test-filesystem-399f2ddf-1445-96cb-c573-5f95e27337c7/test-file-3f416b87-5745-7f75-c616-08193a172adf?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 24 Feb 2022 00:37:03 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9F72DC75CB4DC\u0022",
        "Last-Modified": "Thu, 24 Feb 2022 00:37:03 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://seanmcccanary3.dfs.core.windows.net/test-filesystem-399f2ddf-1445-96cb-c573-5f95e27337c7/test-file-3f416b87-5745-7f75-c616-08193a172adf?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-content-crc64": "X2VDggnF5iQ=",
        "x-ms-date": "Thu, 24 Feb 2022 00:37:04 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": "ADoGRfv/ZpyNiD7pYqiFjPhOjCZ4dc3C7SDniWa9YsNsoiPWMTYVCVRfNHJTm7nC61DqZ6vJl4ptRFfbF9w10CV6fcCFrlrBOILRGEFbblJnJZ4W0vsYogqZae3fOvJ3KWNM2R75PT31KS4p\u002BH9IEdUFc/I\u002BH/0qYtu260Rt4v6PWe7dD5UzbudhIKnN76qLUFcX2sYAOQpmIXZDQlH4iEcvmZ6QagJA0QUK3P5UXXMwKprsVgc4jyDjd\u002B0e8CuWaZhinVUL\u002BuZV1gnB9VwMEsQDEhe2CzI/9gl\u002BrPIUIeDZdHNl8b8dJDC0l3/\u002Bd5nD12UpGt4T311[...]
    {
      "RequestUri": "http://seanmcccanary3.dfs.core.windows.net/test-filesystem-399f2ddf-1445-96cb-c573-5f95e27337c7/test-file-3f416b87-5745-7f75-c616-08193a172adf?action=flush\u0026position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 24 Feb 2022 00:37:04 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9F72DC7919FD0\u0022",
        "Last-Modified": "Thu, 24 Feb 2022 00:37:04 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-filesystem-399f2ddf-1445-96cb-c573-5f95e27337c7?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 24 Feb 2022 00:37:04 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1474709662",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttp://seanmcccanary3.blob.core.windows.net\nhttp://seanmcccanary3.file.core.windows.net\nhttp://seanmcccanary3.queue.core.windows.net\nhttp://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttp://seanmcccanary3-secondary.blob.core.windows.net\nhttp://seanmcccanary3-secondary.file.core.windows.net\nhttp://seanmcccanary3-secondary.queue.core.windows.net\nhttp://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=http://seanmcccanary3.queue.core.windows.net/;FileEndpoint=http://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=http://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Sanitized\n\n\n"
  }
}