{
  "Entries": [
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-filesystem-c693664b-2a8f-e568-1f96-7885b374d449?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 24 Feb 2022 00:37:04 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9F72DC7A5DC3F\u0022",
        "Last-Modified": "Thu, 24 Feb 2022 00:37:04 GMT",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.dfs.core.windows.net/test-filesystem-c693664b-2a8f-e568-1f96-7885b374d449/test-file-31f8cc80-ef08-fa29-2e22-f35beaefb3f7?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 24 Feb 2022 00:37:04 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9F72DC7AF83AC\u0022",
        "Last-Modified": "Thu, 24 Feb 2022 00:37:04 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://seanmcccanary3.dfs.core.windows.net/test-filesystem-c693664b-2a8f-e568-1f96-7885b374d449/test-file-31f8cc80-ef08-fa29-2e22-f35beaefb3f7?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-content-crc64": "eIWItQvBwGU=",
        "x-ms-date": "Thu, 24 Feb 2022 00:37:04 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": "NSA6Qo2pHe0mzAgNZZl4cV7OCDnbAeQwbS30VQWt\u002BPyz5ZlNdPUc01yrrJdb0oDC/Oc1/7mUBDQ8CdVgtcfoedQMWn//K/xosTTdL1RM1ZqsMVged/hCH\u002BBlEGofvB6UwzPDTncAw9HqzU6Ft9Tf8DQ7s4NuyQHbyjufmRqRSPUWSGwhiIYirG6HNKqqvWgMhSA25AiaJvky6IQ8YSq3WIRYb25ovmetGAYV55VWMA3TkhP5W2PseyJy7p8B5ktE0NslUU35pMa4iMsChT5k27d3aM4Wvf0hbPNM9dDHrDK70Re5Md6/2u5NQdKX6vbjDRPoiX18LhLdBOVZrK728NyZRrQnqqrYuI7gyHwqiYH9aee83yK1PqME3Cz5ZS0/VlD2/qRBvGJpD9HunGWWsntjXEPGOhC54wcQIs5931NgoXIsNIrdu62FU9BRxqI\u002BbimwlQnqeBw/PBucMZmU6y99jvryan7xhaCVQeZAaB1k0rSlzUpKdShW7PhvQYoT8Wih0zioSwOrvw9pVDY1/9P9OF7k7h3lMxjRm32FgkQVglB\u002BnpTlvIaw\u002Bg464SDyIO0kcQkrLwJKu58f1q\u002BGJTzKU9Llt2A\u002BGHvYM/QPq1L433uQYRA76VJOM\u002BP1xubWKtTRb41NDGmM5ViNU/sOOxBNJvc09sQsj2l/l4N9SVI=",
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-content-crc64": "eIWItQvBwGU=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://seanmcccanary3.dfs.core.windows.net/test-filesystem-c693664b-2a8f-e568-1f96-7885b374d449/test-file-31f8cc80-ef08-fa29-2e22-f35beaefb3f7?action=flush\u0026position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 24 Feb 2022 00:37:04 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9F72DC7F4BFED\u0022",
        "Last-Modified": "Thu, 24 Feb 2022 00:37:04 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-filesystem-c693664b-2a8f-e568-1f96-7885b374d449?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 24 Feb 2022 00:37:05 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1324959504",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttp://seanmcccanary3.blob.core.windows.net\nhttp://seanmcccanary3.file.core.windows.net\nhttp://seanmcccanary3.queue.core.windows.net\nhttp://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttp://seanmcccanary3-secondary.blob.core.windows.net\nhttp://seanmcccanary3-secondary.file.core.windows.net\nhttp://seanmcccanary3-secondary.queue.core.windows.net\nhttp://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=http://seanmcccanary3.queue.core.windows.net/;FileEndpoint=http://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=http://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Sanitized\n\n\n"
  }
}