{
  "Entries": [
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-filesystem-d41d1ee9-4338-22e0-338e-ea5a3d09cc2e?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 09 May 2022 22:03:18 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA3207B98FCDC8\u0022",
        "Last-Modified": "Mon, 09 May 2022 22:03:18 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.dfs.core.windows.net/test-filesystem-d41d1ee9-4338-22e0-338e-ea5a3d09cc2e/test-file-b706c678-24f9-5fd0-b7b2-9f8330187635?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 09 May 2022 22:03:18 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA3207B9A00873\u0022",
        "Last-Modified": "Mon, 09 May 2022 22:03:18 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jaschrepragrs.dfs.core.windows.net/test-filesystem-d41d1ee9-4338-22e0-338e-ea5a3d09cc2e/test-file-b706c678-24f9-5fd0-b7b2-9f8330187635?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-content-crc64": "PVp8pVfnOHI=",
        "x-ms-date": "Mon, 09 May 2022 22:03:19 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": "j5/AvHKSleuAl25b3gbU3Zui\u002ByS6HXWyn\u002Be4GlC980AOYEqulTbVzIJiLyCtH4oX7c9E8CmpSnIpDR2K2XubwqQuTH28JUhlzC6iV\u002B1VBX9doS2AeAMWZRbXhYcZS/IHx2x8ftIMW8eH3yP6BvKE0widLThNGkqhF\u002BZn5Z/BTIE8mpCB2YasUUZl\u002BZnfHF8jUrJ\u002Bex26ua0i2mbrpHUnxZOivmtiA/qC8dzy6CGwwfuHQ5LtQtFjgeHjX/4fwKzQPTMGPF7zwU\u002B3/IpBx9GLcRlrZGHjOoLCPzyKf6T8YjAwIqrtqoWdlIJDNkZHIrkPV\u002B3ltFxK7AOxRP0haEKquplZEaUmnseTzs/eoAQ7ex2Ceyi2F67U5TWnPGaHeytAmHut7RAT6bgmUeWMbEz/dcngnu0Z9KPqhStwfmJhDFKjngiIjo0MbpFvkMbIR3noqMecp90\u002BJqTXwmjlo2pWxUST6M1EduY71C9bqmPdIj2yh9aaxGV1ZXdksMwlJssnGMuBNV6rpDLgYdKt43tA\u002BqAqMhuTuwDfHoNV4MUaFq1kM5GXW\u002BzeB\u002BOjumKSx4L7I7Ys\u002BvSwk13KoRbbVcRtxkolSa/qqZ6zSys47wGdTVYBWb0P7hu4tKA0zLrWA7EeNvMYbH7TEXkXeK/JeKNcLFPA2vsHXdgubJUOttzk3Uc=",
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-content-crc64": "PVp8pVfnOHI=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jaschrepragrs.dfs.core.windows.net/test-filesystem-d41d1ee9-4338-22e0-338e-ea5a3d09cc2e/test-file-b706c678-24f9-5fd0-b7b2-9f8330187635?action=flush\u0026position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 09 May 2022 22:03:19 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA3207B9CE16A9\u0022",
        "Last-Modified": "Mon, 09 May 2022 22:03:18 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-filesystem-d41d1ee9-4338-22e0-338e-ea5a3d09cc2e?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 09 May 2022 22:03:19 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1212822551",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\njaschrepragrs\nU2FuaXRpemVk\nhttps://jaschrepragrs.blob.core.windows.net\nhttps://jaschrepragrs.file.core.windows.net\nhttps://jaschrepragrs.queue.core.windows.net\nhttps://jaschrepragrs.table.core.windows.net\n\n\n\n\nhttps://jaschrepragrs-secondary.blob.core.windows.net\nhttps://jaschrepragrs-secondary.file.core.windows.net\nhttps://jaschrepragrs-secondary.queue.core.windows.net\nhttps://jaschrepragrs-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jaschrepragrs.blob.core.windows.net/;QueueEndpoint=https://jaschrepragrs.queue.core.windows.net/;FileEndpoint=https://jaschrepragrs.file.core.windows.net/;BlobSecondaryEndpoint=https://jaschrepragrs-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jaschrepragrs-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jaschrepragrs-secondary.file.core.windows.net/;AccountName=jaschrepragrs;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
