{
  "Entries": [
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-filesystem-3e70a79c-8a34-502a-5638-53d6cdbc0968?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 28 Apr 2022 23:02:59 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA296B3D8BCB38\u0022",
        "Last-Modified": "Thu, 28 Apr 2022 23:02:59 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.dfs.core.windows.net/test-filesystem-3e70a79c-8a34-502a-5638-53d6cdbc0968/test-file-9f439b68-79e7-b1b5-fab9-e1bb224179e7?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Apr 2022 23:02:59 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA296B3D9A8F12\u0022",
        "Last-Modified": "Thu, 28 Apr 2022 23:02:59 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.dfs.core.windows.net/test-filesystem-3e70a79c-8a34-502a-5638-53d6cdbc0968/test-file-9f439b68-79e7-b1b5-fab9-e1bb224179e7?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 28 Apr 2022 23:02:59 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": "1J6mbN37bkWb2gHJ59wjssncq9T\u002BxppsO\u002BZM5\u002BMGzAFXtHiO/AGZLop4p/P49IcqPsE87Y5A7w4DOjH2roZhlA7/cjJklLbHQn1Jhh\u002Bnc0ZeIqgiyd5zF8VqisLQooAEFhLl\u002BIFUxqkKdaoR9mjuXMbrmIzeP8ovjFtt\u002BQr096D9RXAMwXrEClv\u002BF1Q0YiBcey775QrzJdZHtWwm58yfFn4KE7H44ppLJo0w3yh2\u002Bio7EX7b\u002BBGVCR\u002BZxQwOniOOXgDWKk5uY5mTsL98wkat0btC69VOxB5sdAmSXhyOPId[...]
    {
      "RequestUri": "https://jaschrepragrs.dfs.core.windows.net/test-filesystem-3e70a79c-8a34-502a-5638-53d6cdbc0968/test-file-9f439b68-79e7-b1b5-fab9-e1bb224179e7?action=flush\u0026position=2048",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Apr 2022 23:03:00 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA296B3DB7887B\u0022",
        "Last-Modified": "Thu, 28 Apr 2022 23:03:00 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-filesystem-3e70a79c-8a34-502a-5638-53d6cdbc0968/test-file-9f439b68-79e7-b1b5-fab9-e1bb224179e7",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Apr 2022 23:03:00 GMT",
        "x-ms-range": "bytes=0-511",
        "x-ms-range-get-content-md5": "true",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-MD5": "bqKnF0XNViR5uNSJVZXf8g==",
        "Content-Range": "bytes 0-511/2048",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA296B3DB7887B\u0022",
        "Last-Modified": "Thu, 28 Apr 2022 23:03:00 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 28 Apr 2022 23:02:59 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": "1J6mbN37bkWb2gHJ59wjssncq9T\u002BxppsO\u002BZM5\u002BMGzAFXtHiO/AGZLop4p/P49IcqPsE87Y5A7w4DOjH2roZhlA7/cjJklLbHQn1Jhh\u002Bnc0ZeIqgiyd5zF8VqisLQooAEFhLl\u002BIFUxqkKdaoR9mjuXMbrmIzeP8ovjFtt\u002BQr096D9RXAMwXrEClv\u002BF1Q0YiBcey775QrzJdZHtWwm58yfFn4KE7H44ppLJo0w3yh2\u002Bio7EX7b\u002BBGVCR\u002BZxQwOniOOXgDWKk5uY5mTsL98wkat0btC69VOxB5sdAmSXhyOPIdqooAnoNDbza7kSEhSGEfY7PNQzLJNQJriabVE2wR8BXM3EiDGhTDrZh4naXzWGVzCunIpPXDUHWHlRTYal/GpZ0LUGwYmEmbCZWWUJtYeDFBYgSGRU8cCYvS\u002B4ED60M8sfQI5Af5Wm6gMZtcKQPeLxjnmwRXQFxR60bkRZzElyJWWaKjU5QpSAuV5he3w\u002BCL9MxkHFA66XGXtvi9ERDN2551CdNdOtuEulL8vV5ImitmWEzQXHrSG2wxC5ifaDb2yAp5ProNKr3042X9PiwTTxjNWrTD/Xsnpu5jLC9C5U4cBfVX019xVTGS330Q0NlAHbx/zhF\u002BMsqPVZfLrfqOtfoX4Tg6v3\u002B9WAWHMSH\u002BEtYRHxJywxs8ndMqxHnLqac4="
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-filesystem-3e70a79c-8a34-502a-5638-53d6cdbc0968/test-file-9f439b68-79e7-b1b5-fab9-e1bb224179e7",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8DA296B3DB7887B\u0022",
        "x-ms-date": "Thu, 28 Apr 2022 23:03:00 GMT",
        "x-ms-range": "bytes=512-1023",
        "x-ms-range-get-content-md5": "true",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-MD5": "m\u002BY\u002BliZctfbprzgB6369/g==",
        "Content-Range": "bytes 512-1023/2048",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA296B3DB7887B[...]
[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-filesystem-3e70a79c-8a34-502a-5638-53d6cdbc0968?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Apr 2022 23:03:00 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "975883530",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\njaschrepragrs\nU2FuaXRpemVk\nhttps://jaschrepragrs.blob.core.windows.net\nhttps://jaschrepragrs.file.core.windows.net\nhttps://jaschrepragrs.queue.core.windows.net\nhttps://jaschrepragrs.table.core.windows.net\n\n\n\n\nhttps://jaschrepragrs-secondary.blob.core.windows.net\nhttps://jaschrepragrs-secondary.file.core.windows.net\nhttps://jaschrepragrs-secondary.queue.core.windows.net\nhttps://jaschrepragrs-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jaschrepragrs.blob.core.windows.net/;QueueEndpoint=https://jaschrepragrs.queue.core.windows.net/;FileEndpoint=https://jaschrepragrs.file.core.windows.net/;BlobSecondaryEndpoint=https://jaschrepragrs-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jaschrepragrs-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jaschrepragrs-secondary.file.core.windows.net/;AccountName=jaschrepragrs;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
