{
  "Entries": [
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-filesystem-e42df535-0946-b1ab-a545-5ad7ecd327fc?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 28 Apr 2022 23:02:59 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA296B3D2E7678\u0022",
        "Last-Modified": "Thu, 28 Apr 2022 23:02:59 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.dfs.core.windows.net/test-filesystem-e42df535-0946-b1ab-a545-5ad7ecd327fc/test-file-e4993ca1-7935-8e94-116e-35a271782300?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Apr 2022 23:02:59 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA296B3D3E2589\u0022",
        "Last-Modified": "Thu, 28 Apr 2022 23:02:59 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.dfs.core.windows.net/test-filesystem-e42df535-0946-b1ab-a545-5ad7ecd327fc/test-file-e4993ca1-7935-8e94-116e-35a271782300?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 28 Apr 2022 23:02:59 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": "5uIo5R\u002BnIVhNvOsXqvMfWJ2oP02zosatCe1um5me7PAsatGwJMKS737GN3ijBbA7yuts28m0QEMbe9sxOYW/r9D76z8ibjPbFVDO7WpOCQM8MtGuMhAndyqNlKnmYLb5BoioqBpwGVu3kMZ45lLYzXHX9Qa0EHy/1HMVlNqK9LSZ1ebipmHpzBl19qFKrpHXtMc3DmuwRfYL6NOmW4SALZwS3xFr9icQ7ijsPhrbdSbiPd8TUuZI6Y/w172OQnCV9ckFOM5/a76fJx9DxAfbMHOsxB6kbdq2yfaBex9qgqy3V0lQ1jxXYtEhcyvGBSSIFKdJ4X1S8IfuT27Y/vCfNaRy[...]
    {
      "RequestUri": "https://jaschrepragrs.dfs.core.windows.net/test-filesystem-e42df535-0946-b1ab-a545-5ad7ecd327fc/test-file-e4993ca1-7935-8e94-116e-35a271782300?action=flush\u0026position=2048",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Apr 2022 23:02:59 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA296B3D5CF364\u0022",
        "Last-Modified": "Thu, 28 Apr 2022 23:02:59 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-filesystem-e42df535-0946-b1ab-a545-5ad7ecd327fc/test-file-e4993ca1-7935-8e94-116e-35a271782300",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Apr 2022 23:02:59 GMT",
        "x-ms-range": "bytes=0-2047",
        "x-ms-range-get-content-crc64": "true",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-2047/2048",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA296B3D5CF364\u0022",
        "Last-Modified": "Thu, 28 Apr 2022 23:02:59 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-content-crc64": "sLxalJsVMuU=",
        "x-ms-creation-time": "Thu, 28 Apr 2022 23:02:59 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": "5uIo5R\u002BnIVhNvOsXqvMfWJ2oP02zosatCe1um5me7PAsatGwJMKS737GN3ijBbA7yuts28m0QEMbe9sxOYW/r9D76z8ibjPbFVDO7WpOCQM8MtGuMhAndyqNlKnmYLb5BoioqBpwGVu3kMZ45lLYzXHX9Qa0EHy/1HMVlNqK9LSZ1ebipmHpzBl19qFKrpHXtMc3DmuwRfYL6NOmW4SALZwS3xFr9icQ7ijsPhrbdSbiPd8TUuZI6Y/w172OQnCV9ckFOM5/a76fJx9DxAfbMHOsxB6kbdq2yfaBex9qgqy3V0lQ1jxXYtEhcyvGBSSIFKdJ4X1S8IfuT27Y/vCfNaRyi22\u002Bi1k2VGFMg/qv78TR\u002BGZ4IKAuZGbBYobOfmTggT2GU3q3yolNEowcBmyMP1\[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-filesystem-e42df535-0946-b1ab-a545-5ad7ecd327fc?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Apr 2022 23:02:59 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "2015649224",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\njaschrepragrs\nU2FuaXRpemVk\nhttps://jaschrepragrs.blob.core.windows.net\nhttps://jaschrepragrs.file.core.windows.net\nhttps://jaschrepragrs.queue.core.windows.net\nhttps://jaschrepragrs.table.core.windows.net\n\n\n\n\nhttps://jaschrepragrs-secondary.blob.core.windows.net\nhttps://jaschrepragrs-secondary.file.core.windows.net\nhttps://jaschrepragrs-secondary.queue.core.windows.net\nhttps://jaschrepragrs-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jaschrepragrs.blob.core.windows.net/;QueueEndpoint=https://jaschrepragrs.queue.core.windows.net/;FileEndpoint=https://jaschrepragrs.file.core.windows.net/;BlobSecondaryEndpoint=https://jaschrepragrs-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jaschrepragrs-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jaschrepragrs-secondary.file.core.windows.net/;AccountName=jaschrepragrs;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
