{
  "Entries": [
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-filesystem-84df6bec-7068-9c74-169f-a37783c18cd4?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 10 May 2022 17:40:43 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA32AC352137C5\u0022",
        "Last-Modified": "Tue, 10 May 2022 17:40:43 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.dfs.core.windows.net/test-filesystem-84df6bec-7068-9c74-169f-a37783c18cd4/test-file-a4d375b2-a96e-a986-b0f9-7707583c5394?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 May 2022 17:40:43 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA32AC3531B0CA\u0022",
        "Last-Modified": "Tue, 10 May 2022 17:40:43 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.dfs.core.windows.net/test-filesystem-84df6bec-7068-9c74-169f-a37783c18cd4/test-file-a4d375b2-a96e-a986-b0f9-7707583c5394?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 10 May 2022 17:40:43 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": "G4bHjakl3szO3PvdnIM/mBSH2dqQ\u002Bwit4ath9wRZoaH5aNTWt/5yeMlkw\u002B/4gM5ZrIIv2Q622iB\u002BGqz\u002BxOfHdDpZ5DSuaeEVFWEQLDgZtGDcB0qBKciTQo60WJxSc7PinE60npyaqkOhGcOtpa7nZGVLIbycRkpxxqGl\u002BhBEw6GtLo/pZRXEQVwH4BAE5ZzgzPM2BlH3RlYDQtj69LAyXFYi/3ce/f9Qh\u002BBflGU6beAExS0dDbxPtuc55iI9yUys1YO54uYkwc/05n9xl7HwyNX39S\u002BDFE\u002BZ00mQ5RfcE72Ts7/igYr64[...]
    {
      "RequestUri": "https://jaschrepragrs.dfs.core.windows.net/test-filesystem-84df6bec-7068-9c74-169f-a37783c18cd4/test-file-a4d375b2-a96e-a986-b0f9-7707583c5394?action=flush\u0026position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 May 2022 17:40:43 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA32AC355B79DB\u0022",
        "Last-Modified": "Tue, 10 May 2022 17:40:43 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-filesystem-84df6bec-7068-9c74-169f-a37783c18cd4/test-file-a4d375b2-a96e-a986-b0f9-7707583c5394",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 May 2022 17:40:44 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-range-get-content-crc64": "true",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA32AC355B79DB\u0022",
        "Last-Modified": "Tue, 10 May 2022 17:40:43 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-content-crc64": "12yhesXZTeo=",
        "x-ms-creation-time": "Tue, 10 May 2022 17:40:43 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": "G4bHjakl3szO3PvdnIM/mBSH2dqQ\u002Bwit4ath9wRZoaH5aNTWt/5yeMlkw\u002B/4gM5ZrIIv2Q622iB\u002BGqz\u002BxOfHdDpZ5DSuaeEVFWEQLDgZtGDcB0qBKciTQo60WJxSc7PinE60npyaqkOhGcOtpa7nZGVLIbycRkpxxqGl\u002BhBEw6GtLo/pZRXEQVwH4BAE5ZzgzPM2BlH3RlYDQtj69LAyXFYi/3ce/f9Qh\u002BBflGU6beAExS0dDbxPtuc55iI9yUys1YO54uYkwc/05n9xl7HwyNX39S\u002BDFE\u002BZ00mQ5RfcE72Ts7/igYr64AReKCc83R41SR1NRtQdKMA0IA\u002BclNy3GNPC3uPyDkdK/BUrJewnXPUqWpz5j83pdYr\u[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-filesystem-84df6bec-7068-9c74-169f-a37783c18cd4?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 May 2022 17:40:44 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "248478828",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\njaschrepragrs\nU2FuaXRpemVk\nhttps://jaschrepragrs.blob.core.windows.net\nhttps://jaschrepragrs.file.core.windows.net\nhttps://jaschrepragrs.queue.core.windows.net\nhttps://jaschrepragrs.table.core.windows.net\n\n\n\n\nhttps://jaschrepragrs-secondary.blob.core.windows.net\nhttps://jaschrepragrs-secondary.file.core.windows.net\nhttps://jaschrepragrs-secondary.queue.core.windows.net\nhttps://jaschrepragrs-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jaschrepragrs.blob.core.windows.net/;QueueEndpoint=https://jaschrepragrs.queue.core.windows.net/;FileEndpoint=https://jaschrepragrs.file.core.windows.net/;BlobSecondaryEndpoint=https://jaschrepragrs-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jaschrepragrs-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jaschrepragrs-secondary.file.core.windows.net/;AccountName=jaschrepragrs;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
