{
  "Entries": [
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-filesystem-ffe5f882-47d1-e27e-83ba-fa0ffc288680?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 10 May 2022 17:40:46 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA32AC371BFB09\u0022",
        "Last-Modified": "Tue, 10 May 2022 17:40:46 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.dfs.core.windows.net/test-filesystem-ffe5f882-47d1-e27e-83ba-fa0ffc288680/test-file-a179eddd-f452-c483-abfe-021feafc730e?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 May 2022 17:40:47 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA32AC372D5E94\u0022",
        "Last-Modified": "Tue, 10 May 2022 17:40:46 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.dfs.core.windows.net/test-filesystem-ffe5f882-47d1-e27e-83ba-fa0ffc288680/test-file-a179eddd-f452-c483-abfe-021feafc730e?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 10 May 2022 17:40:47 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": "Vbo40PRxHuN9tb/4KLOubmoqR6tl1Co/t2N\u002BjTgD7jXi8XV523/bVjLfNKDP/ZxO0PgMFcNLyICQ\u002BRiR8pCresaKFTY\u002BNJLrT/B4haCJb7rGMLw/99hylij06eJmSWShNLrZROdlD5xlIcbS00PgBoldysHTbIPtGH4OSkqwhAaM1lHmryvTYCEg2dUSn8PlE\u002BNYCX\u002Bizcc27CtoV8RRtZy/Rvzy\u002BVdeimmgs5Kt2nm7KDZnV3uG6QiJr8P/aglczyQ4U1nG8xqM\u002Bn4VAho1iRGyrC6N6V0hOF30aEmTXh9gQ\u002BRudIcf9[...]
    {
      "RequestUri": "https://jaschrepragrs.dfs.core.windows.net/test-filesystem-ffe5f882-47d1-e27e-83ba-fa0ffc288680/test-file-a179eddd-f452-c483-abfe-021feafc730e?action=flush\u0026position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 May 2022 17:40:47 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA32AC374C7ADE\u0022",
        "Last-Modified": "Tue, 10 May 2022 17:40:46 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-filesystem-ffe5f882-47d1-e27e-83ba-fa0ffc288680/test-file-a179eddd-f452-c483-abfe-021feafc730e",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 May 2022 17:40:47 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-range-get-content-md5": "true",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-MD5": "LnwQuFEDT5mFOKSGciNq9w==",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA32AC374C7ADE\u0022",
        "Last-Modified": "Tue, 10 May 2022 17:40:46 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 10 May 2022 17:40:46 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": "Vbo40PRxHuN9tb/4KLOubmoqR6tl1Co/t2N\u002BjTgD7jXi8XV523/bVjLfNKDP/ZxO0PgMFcNLyICQ\u002BRiR8pCresaKFTY\u002BNJLrT/B4haCJb7rGMLw/99hylij06eJmSWShNLrZROdlD5xlIcbS00PgBoldysHTbIPtGH4OSkqwhAaM1lHmryvTYCEg2dUSn8PlE\u002BNYCX\u002Bizcc27CtoV8RRtZy/Rvzy\u002BVdeimmgs5Kt2nm7KDZnV3uG6QiJr8P/aglczyQ4U1nG8xqM\u002Bn4VAho1iRGyrC6N6V0hOF30aEmTXh9gQ\u002BRudIcf9TUc2138cebuVCWyTb3azuXGFxr80orQ\u002BJxetb82xhWJkrf4cQ0AJcd2BRQj4RFhhXT\u[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-filesystem-ffe5f882-47d1-e27e-83ba-fa0ffc288680?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 May 2022 17:40:47 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1604497974",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\njaschrepragrs\nU2FuaXRpemVk\nhttps://jaschrepragrs.blob.core.windows.net\nhttps://jaschrepragrs.file.core.windows.net\nhttps://jaschrepragrs.queue.core.windows.net\nhttps://jaschrepragrs.table.core.windows.net\n\n\n\n\nhttps://jaschrepragrs-secondary.blob.core.windows.net\nhttps://jaschrepragrs-secondary.file.core.windows.net\nhttps://jaschrepragrs-secondary.queue.core.windows.net\nhttps://jaschrepragrs-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jaschrepragrs.blob.core.windows.net/;QueueEndpoint=https://jaschrepragrs.queue.core.windows.net/;FileEndpoint=https://jaschrepragrs.file.core.windows.net/;BlobSecondaryEndpoint=https://jaschrepragrs-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jaschrepragrs-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jaschrepragrs-secondary.file.core.windows.net/;AccountName=jaschrepragrs;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
