{
  "Entries": [
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-filesystem-52f5f490-5ad8-038b-4ded-09fccb8adbef?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 28 Apr 2022 23:03:33 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA296B51B41EEA\u0022",
        "Last-Modified": "Thu, 28 Apr 2022 23:03:33 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.dfs.core.windows.net/test-filesystem-52f5f490-5ad8-038b-4ded-09fccb8adbef/test-file-296bac49-4fd7-593b-50b6-858f74a80f0c?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Apr 2022 23:03:33 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA296B51C0B983\u0022",
        "Last-Modified": "Thu, 28 Apr 2022 23:03:33 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jaschrepragrs.dfs.core.windows.net/test-filesystem-52f5f490-5ad8-038b-4ded-09fccb8adbef/test-file-296bac49-4fd7-593b-50b6-858f74a80f0c?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-content-crc64": "C793D7TKfiM=",
        "x-ms-date": "Thu, 28 Apr 2022 23:03:33 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": "oJ7dX\u002BU3qBR4XLzbAgv25SWtbbge1zRmyum34GacmIaOa99timd2V2tWi11qGFWchDC5UqG1zMlpdpX7f8et3MM1TZcsiVq9NxVNyEzW/LGUGlw240Xl2J4VAxTSetijqK6aNMu\u002BcPrV\u002BxuMaAR9k3njZ2Rqd/l\u002BUHT4FoZF67w9qR\u002BdPMfm1apiYOcpWG\u002BamHCa7xJzOTG1HONWxlp0kA9eTr/l4Fax/ZG6CBYRVPcEXX0VqvypynDt5yDkjw9Q7dDXywqwtLga6PKBuDAbo8jsUWjcXuUTtIRP\u002BPg1zW2CahpGOYjtVKnF\u002B8EKKBE/0[...]
    {
      "RequestUri": "https://jaschrepragrs.dfs.core.windows.net/test-filesystem-52f5f490-5ad8-038b-4ded-09fccb8adbef/test-file-296bac49-4fd7-593b-50b6-858f74a80f0c?action=flush\u0026position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Apr 2022 23:03:33 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA296B51F29741\u0022",
        "Last-Modified": "Thu, 28 Apr 2022 23:03:33 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-filesystem-52f5f490-5ad8-038b-4ded-09fccb8adbef?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Apr 2022 23:03:34 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "56683085",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\njaschrepragrs\nU2FuaXRpemVk\nhttps://jaschrepragrs.blob.core.windows.net\nhttps://jaschrepragrs.file.core.windows.net\nhttps://jaschrepragrs.queue.core.windows.net\nhttps://jaschrepragrs.table.core.windows.net\n\n\n\n\nhttps://jaschrepragrs-secondary.blob.core.windows.net\nhttps://jaschrepragrs-secondary.file.core.windows.net\nhttps://jaschrepragrs-secondary.queue.core.windows.net\nhttps://jaschrepragrs-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jaschrepragrs.blob.core.windows.net/;QueueEndpoint=https://jaschrepragrs.queue.core.windows.net/;FileEndpoint=https://jaschrepragrs.file.core.windows.net/;BlobSecondaryEndpoint=https://jaschrepragrs-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jaschrepragrs-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jaschrepragrs-secondary.file.core.windows.net/;AccountName=jaschrepragrs;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
