{
  "Entries": [
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-filesystem-a23a2e4e-d1a1-daf5-0758-ca31918c8eec?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 28 Apr 2022 23:03:02 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA296B3EE75859\u0022",
        "Last-Modified": "Thu, 28 Apr 2022 23:03:01 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.dfs.core.windows.net/test-filesystem-a23a2e4e-d1a1-daf5-0758-ca31918c8eec/test-file-da86f871-3e73-4899-1df4-f10bf79fcf34?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Apr 2022 23:03:02 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA296B3EF666CD\u0022",
        "Last-Modified": "Thu, 28 Apr 2022 23:03:02 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jaschrepragrs.dfs.core.windows.net/test-filesystem-a23a2e4e-d1a1-daf5-0758-ca31918c8eec/test-file-da86f871-3e73-4899-1df4-f10bf79fcf34?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-content-crc64": "d6rlndlnebQ=",
        "x-ms-date": "Thu, 28 Apr 2022 23:03:02 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": "a2t8aoVmx0gSepMUD4wqT1orEBPSAJOa5V1uJrfPcHCpXP5EO5MZurZxfN5Y8OJLvP7zJI3QkmvY4oQo96GQQgoia7ON5RPGEVZcYYO0QfR6I2q53Evj2MmSa1kP8cIV4DrUNoUvvdbqLBI2dDDnI6CPrdQ212W\u002BP5Lp\u002B3q6th\u002BTR4FJ4AtvS2aUzq85rGSZq0i4f0Tu3gnUFfbyRsJcMHbzoiyvnUOVIGJuogi2hZIuT08yATfapWh3dcoUfASjOJ45RQk36Q4EI17ifzwAHpBkxPZzKi4\u002BGP3EOCd4gKRdymlqfD\u002BJ9mZALd3Y\u002BCUrdlc6sLcOMA5[...]
    {
      "RequestUri": "https://jaschrepragrs.dfs.core.windows.net/test-filesystem-a23a2e4e-d1a1-daf5-0758-ca31918c8eec/test-file-da86f871-3e73-4899-1df4-f10bf79fcf34?action=flush\u0026position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Apr 2022 23:03:02 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA296B3F21DCE3\u0022",
        "Last-Modified": "Thu, 28 Apr 2022 23:03:02 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-filesystem-a23a2e4e-d1a1-daf5-0758-ca31918c8eec?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Apr 2022 23:03:02 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "580235336",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\njaschrepragrs\nU2FuaXRpemVk\nhttps://jaschrepragrs.blob.core.windows.net\nhttps://jaschrepragrs.file.core.windows.net\nhttps://jaschrepragrs.queue.core.windows.net\nhttps://jaschrepragrs.table.core.windows.net\n\n\n\n\nhttps://jaschrepragrs-secondary.blob.core.windows.net\nhttps://jaschrepragrs-secondary.file.core.windows.net\nhttps://jaschrepragrs-secondary.queue.core.windows.net\nhttps://jaschrepragrs-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jaschrepragrs.blob.core.windows.net/;QueueEndpoint=https://jaschrepragrs.queue.core.windows.net/;FileEndpoint=https://jaschrepragrs.file.core.windows.net/;BlobSecondaryEndpoint=https://jaschrepragrs-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jaschrepragrs-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jaschrepragrs-secondary.file.core.windows.net/;AccountName=jaschrepragrs;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
