{
  "Entries": [
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-filesystem-acd1ebaa-d2a2-5e37-5789-550f471a59e6?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 09 May 2022 22:03:06 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA3207B2716BE5\u0022",
        "Last-Modified": "Mon, 09 May 2022 22:03:06 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.dfs.core.windows.net/test-filesystem-acd1ebaa-d2a2-5e37-5789-550f471a59e6/test-file-70b06eba-c393-3d6a-dda5-3972db7e993e?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 09 May 2022 22:03:07 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA3207B2810632\u0022",
        "Last-Modified": "Mon, 09 May 2022 22:03:06 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jaschrepragrs.dfs.core.windows.net/test-filesystem-acd1ebaa-d2a2-5e37-5789-550f471a59e6/test-file-70b06eba-c393-3d6a-dda5-3972db7e993e?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-content-crc64": "Jionds7aE\u002B4=",
        "x-ms-date": "Mon, 09 May 2022 22:03:07 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": "0Lt4zKejCDSjmEK7d2Tki18YByjbzBs8lJADrU7tYIxfRQO\u002BU12VYxYK6jINqLgXHpz7wNVeOQSgOzcWoFrmtTe1WzFgJTcBg6QS0OHoLuvX64\u002Bx8p\u002B2AAz/HRglfsO7JDT7WEyHtvhk\u002BT0xTGgiuAxLP7XLNMOX/lskYQcf3AThVqyt7NaeUDSXTPhihbOj3GUL2T8N8O9wY1nxYlTwRR04UPa7dMs1rO\u002BANOfKNXmngYWiEwLF02a9PIl9re3fpgfbKjW96Gea1S1PjbsHpi7gSeHPTjEbcnyP/jhCuP8BoI3g7wpD6pkdCD3VdUaqtZZanGQLD1jVwLe4LekvWB0tTuwuJ7cjnF5IskX0Rv025Umi5xua9ZE0Ci5Tiryv7rAgpydZfI3eNwAFw10S4Xq6gkigjHABk1hb\u002BRyI0BGhmcSV057V3Gm7w7AblDIzISm0mQh0D2E/HxTP/oJwVmbuYyqYfQ3b5KXe5MnA5f4lJ9fz0zcJLYljVrSKBt7nSmxJLTEIm6Qc2bRjlSqYfjkVqdeqfYMv5DagNSZZUN7G95pcd7fMHYwy1vmCpZdfy9h6dV0GPMzpGUj6Z2V\u002Bw4nWnJ6QOwaBSItLd6aJrT6fQWpN3tuBwLvNcl5u0rYmtBNwrAn4z4/S\u002BSzRu8QlX2sJWyb7MOStVdziwsmnEnY=",
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-content-crc64": "Jionds7aE\u002B4=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jaschrepragrs.dfs.core.windows.net/test-filesystem-acd1ebaa-d2a2-5e37-5789-550f471a59e6/test-file-70b06eba-c393-3d6a-dda5-3972db7e993e?action=flush\u0026position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 09 May 2022 22:03:07 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA3207B2C22480\u0022",
        "Last-Modified": "Mon, 09 May 2022 22:03:07 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-filesystem-acd1ebaa-d2a2-5e37-5789-550f471a59e6?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 09 May 2022 22:03:07 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1828289668",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\njaschrepragrs\nU2FuaXRpemVk\nhttps://jaschrepragrs.blob.core.windows.net\nhttps://jaschrepragrs.file.core.windows.net\nhttps://jaschrepragrs.queue.core.windows.net\nhttps://jaschrepragrs.table.core.windows.net\n\n\n\n\nhttps://jaschrepragrs-secondary.blob.core.windows.net\nhttps://jaschrepragrs-secondary.file.core.windows.net\nhttps://jaschrepragrs-secondary.queue.core.windows.net\nhttps://jaschrepragrs-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jaschrepragrs.blob.core.windows.net/;QueueEndpoint=https://jaschrepragrs.queue.core.windows.net/;FileEndpoint=https://jaschrepragrs.file.core.windows.net/;BlobSecondaryEndpoint=https://jaschrepragrs-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jaschrepragrs-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jaschrepragrs-secondary.file.core.windows.net/;AccountName=jaschrepragrs;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
