{
  "Entries": [
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-filesystem-9d45c484-a05f-0c4e-645e-2b34c7460261?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 09 May 2022 22:03:21 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA3207BB13C3F1\u0022",
        "Last-Modified": "Mon, 09 May 2022 22:03:21 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.dfs.core.windows.net/test-filesystem-9d45c484-a05f-0c4e-645e-2b34c7460261/test-file-b5ba79ec-3d3a-3e12-8663-22a52d170523?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 09 May 2022 22:03:21 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA3207BB236366\u0022",
        "Last-Modified": "Mon, 09 May 2022 22:03:21 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jaschrepragrs.dfs.core.windows.net/test-filesystem-9d45c484-a05f-0c4e-645e-2b34c7460261/test-file-b5ba79ec-3d3a-3e12-8663-22a52d170523?action=append\u0026position=512",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-content-crc64": "gjXsWbyPNss=",
        "x-ms-date": "Mon, 09 May 2022 22:03:21 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": "Bb45YYfJE8t3cbuNwLfdNDY7iKoiznXlISHRfrk\u002BzDJxZBF7Ltq9b5jwLT6YiAI0rxt9URBczTZJVEBm\u002BJQROaWJHFumYQZcfRgSMaA2TZgenM\u002BewHohFJfaMtmZV3YD3vSZDmunjU0VIdP4SpuVEganR1vFc3gqZwjDyy8swiahD1KsnT4tdw\u002BCiZ6nKcn7RCDS8g8bPWt8bqdj48Id6F\u002BtVjtJ6XTIetBMQ\u002BnZgz0\u002Bx4YPWdAWhtHnMC6WyZNMZKA\u002B\u002BtKOslurCnc\u002BzvqBoutpJRs7Do\u002BPltBqYblGMbE8/95JmohrrxQrY05Y2LfWZY1DLaR4EVURr2QCJFGiZdnFAc4cOAhi/nUGD6pANr4Yk/wsAgQMxO6JOOskaYvDif51k9bpui2E4C4vcQGq0Hil6ZBVdWLUuT3gk/8cPZXpQoasy6PoL9nOpyLV3VPs3mhzf3/6bhOcoNqYCSctZ6KZRS57/gXUvbq3hs4//9vq87SXqb4V7tRyECrJTyayoD9/O5ckcd9jnsHEQ\u002BhFXKH\u002BrhVylr3kg1ZaCO7aC26UBeWOwMRExYLUNAv8UKvrLbOJy6AQPwqBmrdAyWnxiJNSMD4CtpvcuemSnWGy5zKrb9o6UT/Og8XaDSUMA/wZ46x4qiBs6XcXrBG3fqKpz7OElVqOtzZThK15KKh20LY=",
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-content-crc64": "gjXsWbyPNss=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jaschrepragrs.dfs.core.windows.net/test-filesystem-9d45c484-a05f-0c4e-645e-2b34c7460261/test-file-b5ba79ec-3d3a-3e12-8663-22a52d170523?action=flush\u0026position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 09 May 2022 22:03:21 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA3207BB52F7FB\u0022",
        "Last-Modified": "Mon, 09 May 2022 22:03:21 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-filesystem-9d45c484-a05f-0c4e-645e-2b34c7460261?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 09 May 2022 22:03:21 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1416511215",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\njaschrepragrs\nU2FuaXRpemVk\nhttps://jaschrepragrs.blob.core.windows.net\nhttps://jaschrepragrs.file.core.windows.net\nhttps://jaschrepragrs.queue.core.windows.net\nhttps://jaschrepragrs.table.core.windows.net\n\n\n\n\nhttps://jaschrepragrs-secondary.blob.core.windows.net\nhttps://jaschrepragrs-secondary.file.core.windows.net\nhttps://jaschrepragrs-secondary.queue.core.windows.net\nhttps://jaschrepragrs-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jaschrepragrs.blob.core.windows.net/;QueueEndpoint=https://jaschrepragrs.queue.core.windows.net/;FileEndpoint=https://jaschrepragrs.file.core.windows.net/;BlobSecondaryEndpoint=https://jaschrepragrs-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jaschrepragrs-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jaschrepragrs-secondary.file.core.windows.net/;AccountName=jaschrepragrs;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
