{
  "Entries": [
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-filesystem-100569c8-5bf1-5252-4cad-c72b5a66e421?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 28 Apr 2022 23:03:03 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA296B3FA18CAD\u0022",
        "Last-Modified": "Thu, 28 Apr 2022 23:03:03 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.dfs.core.windows.net/test-filesystem-100569c8-5bf1-5252-4cad-c72b5a66e421/test-file-1459d9b3-ed37-d93e-c4e7-c21a750882b4?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Apr 2022 23:03:03 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA296B3FB13569\u0022",
        "Last-Modified": "Thu, 28 Apr 2022 23:03:03 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jaschrepragrs.dfs.core.windows.net/test-filesystem-100569c8-5bf1-5252-4cad-c72b5a66e421/test-file-1459d9b3-ed37-d93e-c4e7-c21a750882b4?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-content-crc64": "\u002B9ZyViz4t0k=",
        "x-ms-date": "Thu, 28 Apr 2022 23:03:03 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": "tUdf9UchM\u002B0b1FCe2QuCNc\u002Bt7sFwFbAADK356b0sZPZp2JGJt\u002BjSG2UItJw95XolLuhTHtsnOZ\u002BWX\u002BiZJ0ow7m9aNAF5\u002BX7m2tNcaGETwicz1LrU2EYbQZ/x8lf/OPMa18Ut47F4qzVpbEMIy9E\u002Bgp3BZlOQWxYpPvJiiAYn5qLfQpCc5t51uiiFa2sCE3bOs2\u002B6PdKfinyuBKW/FiMuQoahKIhAoZy\u002BTKsrC/CqJit7lNSWbKjPP7gT7eE5tqQFVijlYertjRHT\u002B/EndH6LBN16Q4JOl9Xd0ejQLLS6hZUGJbTHxcVAjQbDw3G3qMo5h\u002BkEv3Iitr5SCI8CHWBdGHVcIE7KxD4XObZ7itRkJSkel6XKtsYj5G/1dLw2PnCmZar7Woh7bsOq7YW8pivp7uJm44a7kmKvOTvf1E\u002BC4ftG1CUpaMugoijhH8hBZj1DDIbaz1rp69JITCFMm5pzKAuJdtIGv4UXxUFe2XOZbdL\u002BnMjJqBGhXOlS4RypVAaNbfe8uPBrPEwAwgoZixFfrt9PTv/RqoD65xrptN5pbnA60Gx73LTikl98yeUGiNDX8jM9WgYHu8N3wtDWgohullSZ37ul5NEqbLugVeCa819JEcKqLBNpMhSoBBrkCw/XDjKQbagUMQ1hE\u002B1KZ2bi3M5xjHHFw2pBL6yn/N\u002B3RmA=",
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-content-crc64": "\u002B9ZyViz4t0k=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jaschrepragrs.dfs.core.windows.net/test-filesystem-100569c8-5bf1-5252-4cad-c72b5a66e421/test-file-1459d9b3-ed37-d93e-c4e7-c21a750882b4?action=flush\u0026position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Apr 2022 23:03:03 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA296B3FEF6D44\u0022",
        "Last-Modified": "Thu, 28 Apr 2022 23:03:03 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-filesystem-100569c8-5bf1-5252-4cad-c72b5a66e421?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Apr 2022 23:03:03 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "229031558",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\njaschrepragrs\nU2FuaXRpemVk\nhttps://jaschrepragrs.blob.core.windows.net\nhttps://jaschrepragrs.file.core.windows.net\nhttps://jaschrepragrs.queue.core.windows.net\nhttps://jaschrepragrs.table.core.windows.net\n\n\n\n\nhttps://jaschrepragrs-secondary.blob.core.windows.net\nhttps://jaschrepragrs-secondary.file.core.windows.net\nhttps://jaschrepragrs-secondary.queue.core.windows.net\nhttps://jaschrepragrs-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jaschrepragrs.blob.core.windows.net/;QueueEndpoint=https://jaschrepragrs.queue.core.windows.net/;FileEndpoint=https://jaschrepragrs.file.core.windows.net/;BlobSecondaryEndpoint=https://jaschrepragrs-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jaschrepragrs-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jaschrepragrs-secondary.file.core.windows.net/;AccountName=jaschrepragrs;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
