{
  "Entries": [
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-filesystem-a8c82c51-9f06-6ad0-ad1d-5e47ccc85e92?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 10 May 2022 17:05:28 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA32A74875B611\u0022",
        "Last-Modified": "Tue, 10 May 2022 17:05:28 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.dfs.core.windows.net/test-filesystem-a8c82c51-9f06-6ad0-ad1d-5e47ccc85e92/test-file-c099bd62-6be4-35a8-aa1e-76b4fa9a4081?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 May 2022 17:05:28 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA32A748877534\u0022",
        "Last-Modified": "Tue, 10 May 2022 17:05:28 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.dfs.core.windows.net/test-filesystem-a8c82c51-9f06-6ad0-ad1d-5e47ccc85e92/test-file-c099bd62-6be4-35a8-aa1e-76b4fa9a4081?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 10 May 2022 17:05:28 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": "F2xQQ576EIw9vdIrmtvboFrzA0kTq8oKM0e2eNAF0WX1PN0jvH/MSXEodQsQvf1Jy1SORm2btWyhRhBXRJi8OOxtNl7\u002Bt\u002BTbJrnX6jW/\u002BXZKbKx7d4v3WYdwgXVudQXZbD0eo4afSxRwsx\u002B0w8o24kyaDdfrQMBhdt3WjTZubLG0/X73oFbvqiGYC8RrQ5W8Op4p1Gct7St8vSypyL3dAUZt/8VMP0L1qmK1UzT89TNHGlOXRJhJhxBSe\u002BMpRuJkugp9/UPPcPtcMyoFd5r3f8f5Ya5qRrytJHi1\u002BcNey2N/UZkqfvjveKlYOxFuRA9[...]
    {
      "RequestUri": "https://jaschrepragrs.dfs.core.windows.net/test-filesystem-a8c82c51-9f06-6ad0-ad1d-5e47ccc85e92/test-file-c099bd62-6be4-35a8-aa1e-76b4fa9a4081?action=flush\u0026position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 May 2022 17:05:28 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA32A748A5CE3A\u0022",
        "Last-Modified": "Tue, 10 May 2022 17:05:28 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-filesystem-a8c82c51-9f06-6ad0-ad1d-5e47ccc85e92/test-file-c099bd62-6be4-35a8-aa1e-76b4fa9a4081",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 May 2022 17:05:28 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA32A748A5CE3A\u0022",
        "Last-Modified": "Tue, 10 May 2022 17:05:28 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 10 May 2022 17:05:28 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": "F2xQQ576EIw9vdIrmtvboFrzA0kTq8oKM0e2eNAF0WX1PN0jvH/MSXEodQsQvf1Jy1SORm2btWyhRhBXRJi8OOxtNl7\u002Bt\u002BTbJrnX6jW/\u002BXZKbKx7d4v3WYdwgXVudQXZbD0eo4afSxRwsx\u002B0w8o24kyaDdfrQMBhdt3WjTZubLG0/X73oFbvqiGYC8RrQ5W8Op4p1Gct7St8vSypyL3dAUZt/8VMP0L1qmK1UzT89TNHGlOXRJhJhxBSe\u002BMpRuJkugp9/UPPcPtcMyoFd5r3f8f5Ya5qRrytJHi1\u002BcNey2N/UZkqfvjveKlYOxFuRA92W/scMOQ0\u002BnRN0NnLGXc3/WfGhSYAzADOCekEEQqrP\u002BBpP53IQpt/S1cl3a4fJF[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-filesystem-a8c82c51-9f06-6ad0-ad1d-5e47ccc85e92?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 May 2022 17:05:29 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "47689573",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\njaschrepragrs\nU2FuaXRpemVk\nhttps://jaschrepragrs.blob.core.windows.net\nhttps://jaschrepragrs.file.core.windows.net\nhttps://jaschrepragrs.queue.core.windows.net\nhttps://jaschrepragrs.table.core.windows.net\n\n\n\n\nhttps://jaschrepragrs-secondary.blob.core.windows.net\nhttps://jaschrepragrs-secondary.file.core.windows.net\nhttps://jaschrepragrs-secondary.queue.core.windows.net\nhttps://jaschrepragrs-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jaschrepragrs.blob.core.windows.net/;QueueEndpoint=https://jaschrepragrs.queue.core.windows.net/;FileEndpoint=https://jaschrepragrs.file.core.windows.net/;BlobSecondaryEndpoint=https://jaschrepragrs-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jaschrepragrs-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jaschrepragrs-secondary.file.core.windows.net/;AccountName=jaschrepragrs;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
