{
  "Entries": [
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-filesystem-1b0565f4-88aa-c782-a8db-1fd3fddcbc8b?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 09 May 2022 23:58:24 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA3217CDD0F0FD\u0022",
        "Last-Modified": "Mon, 09 May 2022 23:58:24 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.dfs.core.windows.net/test-filesystem-1b0565f4-88aa-c782-a8db-1fd3fddcbc8b/test-file-6c8642ea-51d1-665b-5e40-ceab5719ea21?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 09 May 2022 23:58:24 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA3217CE151273\u0022",
        "Last-Modified": "Mon, 09 May 2022 23:58:24 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.dfs.core.windows.net/test-filesystem-1b0565f4-88aa-c782-a8db-1fd3fddcbc8b/test-file-6c8642ea-51d1-665b-5e40-ceab5719ea21?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Mon, 09 May 2022 23:58:25 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": "kVDJ7JxzbV//uJZcv2E6XvnrRn4E3C7Z4N6fz4ZGOGXVV488gPWXGRF34KM0Br9S97AmKNn5bbUh7wy\u002B1J3ZuX8whmjS/t0DUy1tjfuLpdkeTNjWIBCL2\u002BnZGpHo2UVznicjA4BXf/jTItSsjOC5lkozn4fFA5hvpKp\u002B\u002BeRLG3ro\u002Be7UZ6FZxszfAv07304JH4NGtTm9rZuOtF7V2YYUhwdaw5Px5S6p2di65gCaM8VcdNlgBWVAKktTRrNChO1Gy3v24Ru7GDpUnNxgAseb84CZeGWss4GhGplHnp57ZlTrdBqEo1KpoFyfC2iJ3yeDuFIy[...]
    {
      "RequestUri": "https://jaschrepragrs.dfs.core.windows.net/test-filesystem-1b0565f4-88aa-c782-a8db-1fd3fddcbc8b/test-file-6c8642ea-51d1-665b-5e40-ceab5719ea21?action=flush\u0026position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 09 May 2022 23:58:25 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA3217CE3B80AF\u0022",
        "Last-Modified": "Mon, 09 May 2022 23:58:25 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-filesystem-1b0565f4-88aa-c782-a8db-1fd3fddcbc8b/test-file-6c8642ea-51d1-665b-5e40-ceab5719ea21",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 09 May 2022 23:58:25 GMT",
        "x-ms-range": "bytes=0-511",
        "x-ms-range-get-content-crc64": "true",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-511/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA3217CE3B80AF\u0022",
        "Last-Modified": "Mon, 09 May 2022 23:58:25 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-content-crc64": "eHyJNV3MnRw=",
        "x-ms-creation-time": "Mon, 09 May 2022 23:58:24 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": "kVDJ7JxzbV//uJZcv2E6XvnrRn4E3C7Z4N6fz4ZGOGXVV488gPWXGRF34KM0Br9S97AmKNn5bbUh7wy\u002B1J3ZuX8whmjS/t0DUy1tjfuLpdkeTNjWIBCL2\u002BnZGpHo2UVznicjA4BXf/jTItSsjOC5lkozn4fFA5hvpKp\u002B\u002BeRLG3ro\u002Be7UZ6FZxszfAv07304JH4NGtTm9rZuOtF7V2YYUhwdaw5Px5S6p2di65gCaM8VcdNlgBWVAKktTRrNChO1Gy3v24Ru7GDpUnNxgAseb84CZeGWss4GhGplHnp57ZlTrdBqEo1KpoFyfC2iJ3yeDuFIyqAuImRj5VceCc3mb2TWHdY2tFk8u8NgIDacZFzpyxOZMSb5JY9sCi06KJi3iAzIyAmqZ1qICA7czf4tw4D2MEK\u002BTT5B3PRKyqooBo8mqJgl15hXQ2O5ESUUGFuNPkqsQ/hZ\u002BTrOiu8RX5ysXAV/tiFmB\u002BvknvDfATwZKcCcvYhjf8KWzLNdW0ytRePDDLEjlGI2JzZey6ELevf6tV0qdKIQSOBC6OlyBKyfN1kNH/SO\u002BZFiZpZWALAhj1G7YqHvhtE9ssPQ3K90xB6Fw5BL\u002Bl7/b7/PxA4PvkQsIVmbtqYOs6yL02k0uhjl6aJ3zEEj2ZTyv/LiI77DMfB7pL9R3RF4dxPnvCbxyrWm5d5s="
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-filesystem-1b0565f4-88aa-c782-a8db-1fd3fddcbc8b/test-file-6c8642ea-51d1-665b-5e40-ceab5719ea21",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8DA3217CE3B80AF\u0022",
        "x-ms-date": "Mon, 09 May 2022 23:58:25 GMT",
        "x-ms-range": "bytes=512-1023",
        "x-ms-range-get-content-crc64": "true",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 512-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA3217CE3B80AF\u0022",
        "Last-Modified": "Mon, 09 May 2022 23:58:2[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-filesystem-1b0565f4-88aa-c782-a8db-1fd3fddcbc8b?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 09 May 2022 23:58:25 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1101562134",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\njaschrepragrs\nU2FuaXRpemVk\nhttps://jaschrepragrs.blob.core.windows.net\nhttps://jaschrepragrs.file.core.windows.net\nhttps://jaschrepragrs.queue.core.windows.net\nhttps://jaschrepragrs.table.core.windows.net\n\n\n\n\nhttps://jaschrepragrs-secondary.blob.core.windows.net\nhttps://jaschrepragrs-secondary.file.core.windows.net\nhttps://jaschrepragrs-secondary.queue.core.windows.net\nhttps://jaschrepragrs-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jaschrepragrs.blob.core.windows.net/;QueueEndpoint=https://jaschrepragrs.queue.core.windows.net/;FileEndpoint=https://jaschrepragrs.file.core.windows.net/;BlobSecondaryEndpoint=https://jaschrepragrs-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jaschrepragrs-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jaschrepragrs-secondary.file.core.windows.net/;AccountName=jaschrepragrs;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
