{
  "Entries": [
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-filesystem-937d2281-599c-1453-72af-e88f780eb48f?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Fri, 01 Apr 2022 14:07:08 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA13E8E87F8607\u0022",
        "Last-Modified": "Fri, 01 Apr 2022 14:07:08 GMT",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.dfs.core.windows.net/test-filesystem-937d2281-599c-1453-72af-e88f780eb48f/test-file-581389ee-af18-6ce8-7a09-14cc2ee89e3a?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 01 Apr 2022 14:07:08 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA13E8E89AEFFA\u0022",
        "Last-Modified": "Fri, 01 Apr 2022 14:07:08 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jaschrepragrs.dfs.core.windows.net/test-filesystem-937d2281-599c-1453-72af-e88f780eb48f/test-file-581389ee-af18-6ce8-7a09-14cc2ee89e3a?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-content-crc64": "gkxTNC8XQdI=",
        "x-ms-date": "Fri, 01 Apr 2022 14:07:08 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": "GYNQv/3iIsgnY5fRocoUmuvxDchmlnQ/PMqrt9AuQOz\u002BNW58hwT6n43e9rdLlh\u002BmDU7g6AIDGoMPEYMyN2v4\u002BSOr0mtclxLn9247iKC886WrBamBTVjq\u002BxvrbXaBx2gh5f2ToMSzSnY8\u002BfCTyJLiUh3ehzHBd6vLwddQcCqcZi8GGaKiKVPg97szRFNnVjKJCBpYokA2YG5SyN7tY9lLoJPBja7vPynJ/pB2jjJXY2ukxmcPQ8Pvz7k0UGB08pTh56TApcmEmcjxjqSvv9I7\u002BmRzSZxxPF3Q0r31u\u002B/JVQv8laaOl76iIC2fHrQePxDn\u002BFb8Aan3cKtH79MLjt7ZJzmZsyorrGKm0Shv0h2osZKtDsKYzFNhBCX6R6fqlpFOxfZ6hYvmu0vzVS\u002BAiJ2Onj5AXoAcQFvmN68FMGW6uzqWIAwmLiwHx1J2pXYj4XuHbKhpqjgRMoSblE7b4YrmOJr16WiQZ3ASOJctppvkwlYzfcS9UREChe2Hi5rdK\u002BbHkGzcLvcT9gQ4V3Gh5Izpt9H3qGPGKOeJ8mR6CNzWNA2wZRUuCJNeH4a/hPmfYKFhntPI5oOCAGeEUjuTme0oYiNk8H52uq89mYjcB6Pu6ZHDGGoIDU6JLmSuqrVYy4aZliLWO3Ai6\u002BMkikz6pvnDlWiqz4CDH1TV2sIZxxD55c0=",
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-content-crc64": "gkxTNC8XQdI=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jaschrepragrs.dfs.core.windows.net/test-filesystem-937d2281-599c-1453-72af-e88f780eb48f/test-file-581389ee-af18-6ce8-7a09-14cc2ee89e3a?action=flush\u0026position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 01 Apr 2022 14:07:08 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA13E8E8BCCAEA\u0022",
        "Last-Modified": "Fri, 01 Apr 2022 14:07:08 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-filesystem-937d2281-599c-1453-72af-e88f780eb48f?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 01 Apr 2022 14:07:08 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "800331048",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\njaschrepragrs\nU2FuaXRpemVk\nhttps://jaschrepragrs.blob.core.windows.net\nhttps://jaschrepragrs.file.core.windows.net\nhttps://jaschrepragrs.queue.core.windows.net\nhttps://jaschrepragrs.table.core.windows.net\n\n\n\n\nhttps://jaschrepragrs-secondary.blob.core.windows.net\nhttps://jaschrepragrs-secondary.file.core.windows.net\nhttps://jaschrepragrs-secondary.queue.core.windows.net\nhttps://jaschrepragrs-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jaschrepragrs.blob.core.windows.net/;QueueEndpoint=https://jaschrepragrs.queue.core.windows.net/;FileEndpoint=https://jaschrepragrs.file.core.windows.net/;BlobSecondaryEndpoint=https://jaschrepragrs-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jaschrepragrs-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jaschrepragrs-secondary.file.core.windows.net/;AccountName=jaschrepragrs;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
