{
  "Entries": [
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-filesystem-fb83e0b5-518f-7974-b849-c43070756f58?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 28 Apr 2022 23:03:02 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA296B3F44FB2B\u0022",
        "Last-Modified": "Thu, 28 Apr 2022 23:03:02 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.dfs.core.windows.net/test-filesystem-fb83e0b5-518f-7974-b849-c43070756f58/test-file-564ddded-0aa1-0dea-6b42-8ca55ec45715?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Apr 2022 23:03:02 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA296B3F5456BC\u0022",
        "Last-Modified": "Thu, 28 Apr 2022 23:03:02 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jaschrepragrs.dfs.core.windows.net/test-filesystem-fb83e0b5-518f-7974-b849-c43070756f58/test-file-564ddded-0aa1-0dea-6b42-8ca55ec45715?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-MD5": "VtE08eRT44DX1aZpBbA9Qw==",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 28 Apr 2022 23:03:02 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": "WScC8UPEFzRfpKnGWHUuqoNffJgdJG1RFlY5cgE1SYLRjqUiC9Mg78Aj7Eet361EMNTHNVJfTTW6sdrsi6QzKVom9MrPC56wPo3X\u002Bjglozeo9EIsbhQvckBvaFr5M2Mc78LthurjdCQ1F/bFiFP9lQ2iRJZiBrtG9oKJYKNEtwspugp2OB1MxX8d91YdauntctNNVu/NuekGpo9oWRSB8WDrm81Ih1zwVn8WRQ9lKIyYnO3Q92EbXAEgb5GN5GtrnAX2Ms8bpOt2XABwtnTaoX0Dz70msPr/0D/LJxfKY3EUq6kJbva8fPcCWpphq6aNRs0UiRStROsL92KQT33Tq/mO[...]
    {
      "RequestUri": "https://jaschrepragrs.dfs.core.windows.net/test-filesystem-fb83e0b5-518f-7974-b849-c43070756f58/test-file-564ddded-0aa1-0dea-6b42-8ca55ec45715?action=flush\u0026position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Apr 2022 23:03:03 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA296B3F81EF5B\u0022",
        "Last-Modified": "Thu, 28 Apr 2022 23:03:03 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-filesystem-fb83e0b5-518f-7974-b849-c43070756f58?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Apr 2022 23:03:03 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1687953289",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\njaschrepragrs\nU2FuaXRpemVk\nhttps://jaschrepragrs.blob.core.windows.net\nhttps://jaschrepragrs.file.core.windows.net\nhttps://jaschrepragrs.queue.core.windows.net\nhttps://jaschrepragrs.table.core.windows.net\n\n\n\n\nhttps://jaschrepragrs-secondary.blob.core.windows.net\nhttps://jaschrepragrs-secondary.file.core.windows.net\nhttps://jaschrepragrs-secondary.queue.core.windows.net\nhttps://jaschrepragrs-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jaschrepragrs.blob.core.windows.net/;QueueEndpoint=https://jaschrepragrs.queue.core.windows.net/;FileEndpoint=https://jaschrepragrs.file.core.windows.net/;BlobSecondaryEndpoint=https://jaschrepragrs-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jaschrepragrs-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jaschrepragrs-secondary.file.core.windows.net/;AccountName=jaschrepragrs;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
