{
  "Entries": [
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-filesystem-5fdc900b-7378-ac2d-73be-e7b65d5cc145?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 09 May 2022 22:02:54 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA3207AAE7D4C1\u0022",
        "Last-Modified": "Mon, 09 May 2022 22:02:53 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.dfs.core.windows.net/test-filesystem-5fdc900b-7378-ac2d-73be-e7b65d5cc145/test-file-8d6b7efd-6cb7-0c53-3981-02d00296e7a9?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 09 May 2022 22:02:54 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA3207AAF806D2\u0022",
        "Last-Modified": "Mon, 09 May 2022 22:02:54 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jaschrepragrs.dfs.core.windows.net/test-filesystem-5fdc900b-7378-ac2d-73be-e7b65d5cc145/test-file-8d6b7efd-6cb7-0c53-3981-02d00296e7a9?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-content-crc64": "vwqz6\u002BXQWPU=",
        "x-ms-date": "Mon, 09 May 2022 22:02:54 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": "aUZRy/GjjvfEc7Tbbd/eZS\u002BmuCLKvhbLplHFc1g8uu2dLOSHvMROWq2aPrrMjC0ld1ZgBwXcDqsvhSSg3hqeiLjGPkD7V6hrV110L39c/hojoPwC3LPowB45WDafrnyT\u002B7UCBk7tKh\u002Bt9K\u002BnaN8r04cKfT4dnKwE3n0iwv5xy6nh4DTKWvjMNXXcVOcEQFg\u002BDoWvlTE\u002BdV4J/SfQy2ghOykFxoerYXiOPUfIQEjFAJ0l47N4wjV4o2rVwFzQ/GoNuxm9/nnQk6wMIFfpdTUWRPyKque0qHnzjSMc1qAcvkHduoUvBwEjVU8HbKHeji01vnxgRlGCWRKfynFWs70M8GIWDLqv5zz7ZlWXrTzYFf715xcju3fvWmFyjzyPzKKS\u002Bns\u002Bx4FyhddAZOD86qzVxrVzYcym6DTqJrJZPVf/a5mzBbLBmk18gmFA41eX82\u002B1nMiHHGvV7BJGU6DPGUh/QPlGSeX5FCxn9t5qZQTdUzNDpKCOeE4t3RigekesrWkYwKNdUKqJu4icICaMa4YNaf9tjHSo8MerGGvMWZrlukl1UaVhgAKJuekY8lgnoXKSkhBHPyD0cNDbsTc\u002BvGHttmXdFxnhrOn95NKLj/5vg3f5OsaJnnsogOHVhc7LSvyHKjvySolYseYnSlpNaeDRbC6/RIKaYxjqtJc4DCYaMpk=",
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-content-crc64": "vwqz6\u002BXQWPU=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jaschrepragrs.dfs.core.windows.net/test-filesystem-5fdc900b-7378-ac2d-73be-e7b65d5cc145/test-file-8d6b7efd-6cb7-0c53-3981-02d00296e7a9?action=flush\u0026position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 09 May 2022 22:02:54 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA3207AB3AD28D\u0022",
        "Last-Modified": "Mon, 09 May 2022 22:02:54 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-filesystem-5fdc900b-7378-ac2d-73be-e7b65d5cc145?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 09 May 2022 22:02:54 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "78570721",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\njaschrepragrs\nU2FuaXRpemVk\nhttps://jaschrepragrs.blob.core.windows.net\nhttps://jaschrepragrs.file.core.windows.net\nhttps://jaschrepragrs.queue.core.windows.net\nhttps://jaschrepragrs.table.core.windows.net\n\n\n\n\nhttps://jaschrepragrs-secondary.blob.core.windows.net\nhttps://jaschrepragrs-secondary.file.core.windows.net\nhttps://jaschrepragrs-secondary.queue.core.windows.net\nhttps://jaschrepragrs-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jaschrepragrs.blob.core.windows.net/;QueueEndpoint=https://jaschrepragrs.queue.core.windows.net/;FileEndpoint=https://jaschrepragrs.file.core.windows.net/;BlobSecondaryEndpoint=https://jaschrepragrs-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jaschrepragrs-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jaschrepragrs-secondary.file.core.windows.net/;AccountName=jaschrepragrs;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
