{
  "Entries": [
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-filesystem-d44f0e80-8e63-ce4b-8dd8-5543e92413ef?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 09 May 2022 23:58:10 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA3217C5180751\u0022",
        "Last-Modified": "Mon, 09 May 2022 23:58:09 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.dfs.core.windows.net/test-filesystem-d44f0e80-8e63-ce4b-8dd8-5543e92413ef/test-file-8320138b-c80b-7327-52e0-4e6f1ed3fd46?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 09 May 2022 23:58:10 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA3217C55DA9C6\u0022",
        "Last-Modified": "Mon, 09 May 2022 23:58:10 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.dfs.core.windows.net/test-filesystem-d44f0e80-8e63-ce4b-8dd8-5543e92413ef/test-file-8320138b-c80b-7327-52e0-4e6f1ed3fd46?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Mon, 09 May 2022 23:58:10 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": "aqhyHIRDMEW9KmsP3igfWRnISY7\u002BEYtPGTTDNgq3\u002BFXnS7gGwqIItivgRDnf\u002BH9etdd/Y8ndZlkdIwJPf/k7BTIVJ5JwGZZ2wJJjHcxRbyG0ZIEzN5WLCeVf6Z\u002BguDcxpT8HytDs7pxACaM3ekiMy7Thmxp3B82diR2tEC/31gdbMXiNSqVQx3Xl8i7yVI\u002Bd0x3qvh0cup1yakCzPt1sSDOb20jP/oEOkdOkkhWeqjSOED0RDBfpPnfbGuBknIiXeKr7VnhGzdSc2y1KdyeI078LJS6gWjsbsp3R9OSgqvRKDBlqo1S8R0NpdTDqn8dPUkYg[...]
    {
      "RequestUri": "https://jaschrepragrs.dfs.core.windows.net/test-filesystem-d44f0e80-8e63-ce4b-8dd8-5543e92413ef/test-file-8320138b-c80b-7327-52e0-4e6f1ed3fd46?action=flush\u0026position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 09 May 2022 23:58:10 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA3217C57EE89F\u0022",
        "Last-Modified": "Mon, 09 May 2022 23:58:10 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-filesystem-d44f0e80-8e63-ce4b-8dd8-5543e92413ef/test-file-8320138b-c80b-7327-52e0-4e6f1ed3fd46",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 09 May 2022 23:58:10 GMT",
        "x-ms-range": "bytes=0-511",
        "x-ms-range-get-content-md5": "true",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-MD5": "DGCcGG8JrkfZxo5K1pslgQ==",
        "Content-Range": "bytes 0-511/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA3217C57EE89F\u0022",
        "Last-Modified": "Mon, 09 May 2022 23:58:10 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Mon, 09 May 2022 23:58:10 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": "aqhyHIRDMEW9KmsP3igfWRnISY7\u002BEYtPGTTDNgq3\u002BFXnS7gGwqIItivgRDnf\u002BH9etdd/Y8ndZlkdIwJPf/k7BTIVJ5JwGZZ2wJJjHcxRbyG0ZIEzN5WLCeVf6Z\u002BguDcxpT8HytDs7pxACaM3ekiMy7Thmxp3B82diR2tEC/31gdbMXiNSqVQx3Xl8i7yVI\u002Bd0x3qvh0cup1yakCzPt1sSDOb20jP/oEOkdOkkhWeqjSOED0RDBfpPnfbGuBknIiXeKr7VnhGzdSc2y1KdyeI078LJS6gWjsbsp3R9OSgqvRKDBlqo1S8R0NpdTDqn8dPUkYgWXda9x5u36Tbddjv\u002BzE5/2oNHTBrT93rNuULMRLVgaGdgFB87xX7/MOv4NJqeXn/sJ9cQTUWtQqZb8E5Y66RBfM3UnvgvBBVEiBtu24LgLxsC4BzeT9sh8pG44BTwpkUHtreMyf9HvSPBy8Uqfqbje4FzVcuHYy0ysuxmtmPAlCHWJyULU2Ubu2L5HIQV97Pq1WRTfVC5gBOKmhcTIQb/wTejVBeB2CgcF5pojkao3Ls4e6E/rRbRHKcRgPlNyFpcOVtMcqNcaT08dyW2EPHM4b1b2uVlgBQg0jewsFduzk8/zJTrXKoX29Kjw3XxWsu1BJ978i21NnkHK6Crq/jlzajWdkRc4YTTQ/7Swc="
    },
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-filesystem-d44f0e80-8e63-ce4b-8dd8-5543e92413ef/test-file-8320138b-c80b-7327-52e0-4e6f1ed3fd46",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8DA3217C57EE89F\u0022",
        "x-ms-date": "Mon, 09 May 2022 23:58:11 GMT",
        "x-ms-range": "bytes=512-1023",
        "x-ms-range-get-content-md5": "true",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-MD5": "cuRJQql0PtGiJRRRUye8gg==",
        "Content-Range": "bytes 512-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA3217C57EE89F\u0022",
 [...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-filesystem-d44f0e80-8e63-ce4b-8dd8-5543e92413ef?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 09 May 2022 23:58:11 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "443144230",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\njaschrepragrs\nU2FuaXRpemVk\nhttps://jaschrepragrs.blob.core.windows.net\nhttps://jaschrepragrs.file.core.windows.net\nhttps://jaschrepragrs.queue.core.windows.net\nhttps://jaschrepragrs.table.core.windows.net\n\n\n\n\nhttps://jaschrepragrs-secondary.blob.core.windows.net\nhttps://jaschrepragrs-secondary.file.core.windows.net\nhttps://jaschrepragrs-secondary.queue.core.windows.net\nhttps://jaschrepragrs-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jaschrepragrs.blob.core.windows.net/;QueueEndpoint=https://jaschrepragrs.queue.core.windows.net/;FileEndpoint=https://jaschrepragrs.file.core.windows.net/;BlobSecondaryEndpoint=https://jaschrepragrs-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jaschrepragrs-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jaschrepragrs-secondary.file.core.windows.net/;AccountName=jaschrepragrs;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
