{
  "Entries": [
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-filesystem-acc61be1-811b-f05d-52e6-3023dd1b8cb2?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 04 May 2022 22:07:55 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA2E1A8AC5BE21\u0022",
        "Last-Modified": "Wed, 04 May 2022 22:07:55 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.dfs.core.windows.net/test-filesystem-acc61be1-811b-f05d-52e6-3023dd1b8cb2/test-file-f4ec9cb2-4668-1972-af95-af4ce0422a18?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 04 May 2022 22:07:56 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA2E1A8AD49B23\u0022",
        "Last-Modified": "Wed, 04 May 2022 22:07:55 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.dfs.core.windows.net/test-filesystem-acc61be1-811b-f05d-52e6-3023dd1b8cb2/test-file-f4ec9cb2-4668-1972-af95-af4ce0422a18?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-MD5": "PSiLZo6P5yJcBwB8UvBL\u002Bg==",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 04 May 2022 22:07:56 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": "5RESH2B8iyDq\u002B911HrT/vs7DH3X1R8i6rSjJ7czk9skGqMPfgfgNiNwGWu2lwmjeZjV9EOYqxZ1IV3I3sp5TBQQTbnXwID3WtpaY7\u002B3aFevA64aWZ\u002Bbj2\u002BImlimG1dU\u002BslXokVPy7Ub4p1pPktawbUKGdscXvZ0eMJOSyokUT\u002BDBWTyY8YOXzv1AnsCMk0gMdijn/18OJvS3ymHAXyO85Fd5jjiZF3y\u002B76jJ1x/dkZxKhlRhLFCAsjNH4Cci127ahLpoEgUQcl6sKBC3RU7V2TnEddnPW7cH\u002BNsFUTdVnBg571NldH\u0[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-filesystem-acc61be1-811b-f05d-52e6-3023dd1b8cb2?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 04 May 2022 22:07:56 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "850970434",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\njaschrepragrs\nU2FuaXRpemVk\nhttps://jaschrepragrs.blob.core.windows.net\nhttps://jaschrepragrs.file.core.windows.net\nhttps://jaschrepragrs.queue.core.windows.net\nhttps://jaschrepragrs.table.core.windows.net\n\n\n\n\nhttps://jaschrepragrs-secondary.blob.core.windows.net\nhttps://jaschrepragrs-secondary.file.core.windows.net\nhttps://jaschrepragrs-secondary.queue.core.windows.net\nhttps://jaschrepragrs-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jaschrepragrs.blob.core.windows.net/;QueueEndpoint=https://jaschrepragrs.queue.core.windows.net/;FileEndpoint=https://jaschrepragrs.file.core.windows.net/;BlobSecondaryEndpoint=https://jaschrepragrs-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jaschrepragrs-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jaschrepragrs-secondary.file.core.windows.net/;AccountName=jaschrepragrs;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
