{
  "Entries": [
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-filesystem-2aadf5a8-f79d-7d3d-0bc9-0330e4d59377?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 04 May 2022 22:07:57 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA2E1A8B926482\u0022",
        "Last-Modified": "Wed, 04 May 2022 22:07:57 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.dfs.core.windows.net/test-filesystem-2aadf5a8-f79d-7d3d-0bc9-0330e4d59377/test-file-59e1a4a5-6877-e480-7bcd-f7fb9f6d1c25?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 04 May 2022 22:07:57 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA2E1A8BA1B82F\u0022",
        "Last-Modified": "Wed, 04 May 2022 22:07:57 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.dfs.core.windows.net/test-filesystem-2aadf5a8-f79d-7d3d-0bc9-0330e4d59377/test-file-59e1a4a5-6877-e480-7bcd-f7fb9f6d1c25?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-MD5": "RJ/deRmsY7KrCZwvZYS9nQ==",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 04 May 2022 22:07:57 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": "e18/uAiHw5M5KlRl4X4Z9Bjg52hyKECtwhHjBQlY98Z0QEIE1vgawbfPMQ2cVgxlshZLqyhZYlIfkfX2o76J4DOO8KE8FR4fxiWwovcyEWwFflLzDEueGt7w5EQCIx75RlDaDmVrKZ34LOUCqcBa7YCJ8SVrltTn79XDTDHZHKIHt1unWAMGmVS1\u002BuBmnHEdlffEeTH4jrB78h6QqN1sHw9C\u002BvFkspR8g1jQtpvzgVNjpbY5FKNwDimrK2XldfB3SNvQI6GAueJiSPXZKNcUiHHLLAMmMgps0evIuYculw1nWW3AI12x4\u002BvU18ytl\u002BZRlqPzGkntU[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-filesystem-2aadf5a8-f79d-7d3d-0bc9-0330e4d59377?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 04 May 2022 22:07:57 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "28907157",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\njaschrepragrs\nU2FuaXRpemVk\nhttps://jaschrepragrs.blob.core.windows.net\nhttps://jaschrepragrs.file.core.windows.net\nhttps://jaschrepragrs.queue.core.windows.net\nhttps://jaschrepragrs.table.core.windows.net\n\n\n\n\nhttps://jaschrepragrs-secondary.blob.core.windows.net\nhttps://jaschrepragrs-secondary.file.core.windows.net\nhttps://jaschrepragrs-secondary.queue.core.windows.net\nhttps://jaschrepragrs-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jaschrepragrs.blob.core.windows.net/;QueueEndpoint=https://jaschrepragrs.queue.core.windows.net/;FileEndpoint=https://jaschrepragrs.file.core.windows.net/;BlobSecondaryEndpoint=https://jaschrepragrs-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jaschrepragrs-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jaschrepragrs-secondary.file.core.windows.net/;AccountName=jaschrepragrs;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
