{
  "Entries": [
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-filesystem-314d38bc-21ce-2740-e764-1699abaf83ad?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 04 May 2022 22:07:55 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA2E1A8A889783\u0022",
        "Last-Modified": "Wed, 04 May 2022 22:07:55 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.dfs.core.windows.net/test-filesystem-314d38bc-21ce-2740-e764-1699abaf83ad/test-file-e7d6762f-d32b-964e-b682-f6edc836c5b4?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 04 May 2022 22:07:55 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA2E1A8A983744\u0022",
        "Last-Modified": "Wed, 04 May 2022 22:07:55 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.dfs.core.windows.net/test-filesystem-314d38bc-21ce-2740-e764-1699abaf83ad/test-file-e7d6762f-d32b-964e-b682-f6edc836c5b4?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-content-crc64": "7ThmWm4ahgE=",
        "x-ms-date": "Wed, 04 May 2022 22:07:55 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": "31EpCfQJ52SUyX10/r8N7q6zhcrUwxZ3BR0Bl9V5Ii7Tm6HI0KxtCvl3K817ISbObJR8rv\u002B8tBs6sQTXCE\u002BOGqZPoGIdRB4BRnvQXJhJ\u002B\u002BP3MipB/XMuF\u002BeGjh6nlgKq6BAmLIHEsSd1emeE61eD8LUh4NUlTRwzIIl7l7YAWbB5JnSHI89iMoECy4MMqiuQAp1ohrYshJv08wv3SBpxdSC3C8Tj/M3lvq1UIoGZJnVd65QZl9P5TKLYky/EaupmkVZiVJ9mrAbPg8cJ2GEZWsyVml2FWN5Nvb4iCmmdIVTC7ZErNtLW9z6OSRQL8HRAvzhjL9CM4Tl4FZfg[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-filesystem-314d38bc-21ce-2740-e764-1699abaf83ad?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 04 May 2022 22:07:55 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1651760912",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\njaschrepragrs\nU2FuaXRpemVk\nhttps://jaschrepragrs.blob.core.windows.net\nhttps://jaschrepragrs.file.core.windows.net\nhttps://jaschrepragrs.queue.core.windows.net\nhttps://jaschrepragrs.table.core.windows.net\n\n\n\n\nhttps://jaschrepragrs-secondary.blob.core.windows.net\nhttps://jaschrepragrs-secondary.file.core.windows.net\nhttps://jaschrepragrs-secondary.queue.core.windows.net\nhttps://jaschrepragrs-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jaschrepragrs.blob.core.windows.net/;QueueEndpoint=https://jaschrepragrs.queue.core.windows.net/;FileEndpoint=https://jaschrepragrs.file.core.windows.net/;BlobSecondaryEndpoint=https://jaschrepragrs-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jaschrepragrs-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jaschrepragrs-secondary.file.core.windows.net/;AccountName=jaschrepragrs;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
