{
  "Entries": [
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-filesystem-ceef4c33-1465-bd37-47a4-988f290b775e?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 09 May 2022 17:09:39 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA31DEB3D5785B\u0022",
        "Last-Modified": "Mon, 09 May 2022 17:09:39 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.dfs.core.windows.net/test-filesystem-ceef4c33-1465-bd37-47a4-988f290b775e/test-file-a34b0876-79c4-b1b9-b018-e617489c693d?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 09 May 2022 17:09:40 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA31DEB448C961\u0022",
        "Last-Modified": "Mon, 09 May 2022 17:09:40 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.dfs.core.windows.net/test-filesystem-ceef4c33-1465-bd37-47a4-988f290b775e/test-file-a34b0876-79c4-b1b9-b018-e617489c693d?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-content-crc64": "\u002BC7t1LePIVQ=",
        "x-ms-date": "Mon, 09 May 2022 17:09:40 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": "UBMy7Wbql\u002BFYcnz8hz7WrYCIQoD6sibAksipGEaSfxwCC6fTaDaoYxEvbMVVSwwxpl7hc/Plhp7tcVudQH\u002BaxfNf\u002BXuWAkVK4N5uy0Zgake8eHHosAspHIUJ5fbbCiOSlKbR9VGRm6MZl5MUd7tYjAYU4ccNshTnNtz2jB1Ob9W73Dafj3X1K93Nzxl4FKXKsVnvxyhbhOKR6r90mg6Gyie9WJqEuP2RHrbqQOP6biE2K9vEXqesYFhUDqS2gJDORgTxurwLRflbXqhycET\u002BlnudPW4ywmt/EfdCL6pZ250mG/nfCbRkK\u002BXiaAD/OvATVXcoGEIhnIS[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-filesystem-ceef4c33-1465-bd37-47a4-988f290b775e?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 09 May 2022 17:09:40 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "596842604",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\njaschrepragrs\nU2FuaXRpemVk\nhttps://jaschrepragrs.blob.core.windows.net\nhttps://jaschrepragrs.file.core.windows.net\nhttps://jaschrepragrs.queue.core.windows.net\nhttps://jaschrepragrs.table.core.windows.net\n\n\n\n\nhttps://jaschrepragrs-secondary.blob.core.windows.net\nhttps://jaschrepragrs-secondary.file.core.windows.net\nhttps://jaschrepragrs-secondary.queue.core.windows.net\nhttps://jaschrepragrs-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jaschrepragrs.blob.core.windows.net/;QueueEndpoint=https://jaschrepragrs.queue.core.windows.net/;FileEndpoint=https://jaschrepragrs.file.core.windows.net/;BlobSecondaryEndpoint=https://jaschrepragrs-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jaschrepragrs-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jaschrepragrs-secondary.file.core.windows.net/;AccountName=jaschrepragrs;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
