{
  "Entries": [
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-filesystem-17830f94-cb1b-a241-af54-043ee80496c7?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 04 May 2022 22:07:45 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA2E1A84ACA407\u0022",
        "Last-Modified": "Wed, 04 May 2022 22:07:45 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.dfs.core.windows.net/test-filesystem-17830f94-cb1b-a241-af54-043ee80496c7/test-file-3f813580-4c08-1b84-5675-7dd4d8ef87f7?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 04 May 2022 22:07:45 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA2E1A84C97C73\u0022",
        "Last-Modified": "Wed, 04 May 2022 22:07:45 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.dfs.core.windows.net/test-filesystem-17830f94-cb1b-a241-af54-043ee80496c7/test-file-3f813580-4c08-1b84-5675-7dd4d8ef87f7?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 04 May 2022 22:07:45 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": "83g7rPJCa\u002BdaUQkhCX1zVOAhGUuPcbIEk5szHXGBua7SI9C2H8fw4jCOysOZKTjcjOZTVkbbD4HFNxhXD0512JhaTuasvDUZMTcbAKfvamliVpGKLmJo9hNP8OiumNLiGPEqP9tSL9CxOiUOwA7Z1c2v9Li966o18lfSXctMaphkOOi2xCuOECfA2fQ8WTYEdRsb/6MaJS1G9UyDf9IEZM\u002BNqYcmIxChIOSR/BG2\u002BJghzeewMWr0ShO6cM/eCpFUvHQkr6\u002Bu3lIKed6/iCkbj/yzYrHqVDNkmF90a7NAwxZTPUCdkknocu\u002BVpbeMNMHqn\u0[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-filesystem-17830f94-cb1b-a241-af54-043ee80496c7?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 04 May 2022 22:07:46 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "801383478",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\njaschrepragrs\nU2FuaXRpemVk\nhttps://jaschrepragrs.blob.core.windows.net\nhttps://jaschrepragrs.file.core.windows.net\nhttps://jaschrepragrs.queue.core.windows.net\nhttps://jaschrepragrs.table.core.windows.net\n\n\n\n\nhttps://jaschrepragrs-secondary.blob.core.windows.net\nhttps://jaschrepragrs-secondary.file.core.windows.net\nhttps://jaschrepragrs-secondary.queue.core.windows.net\nhttps://jaschrepragrs-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jaschrepragrs.blob.core.windows.net/;QueueEndpoint=https://jaschrepragrs.queue.core.windows.net/;FileEndpoint=https://jaschrepragrs.file.core.windows.net/;BlobSecondaryEndpoint=https://jaschrepragrs-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jaschrepragrs-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jaschrepragrs-secondary.file.core.windows.net/;AccountName=jaschrepragrs;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
