{
  "Entries": [
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-filesystem-aa4573eb-cf7d-1bb1-6b54-37c7b04c8067?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 28 Apr 2022 23:03:39 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA296B5569D1F3\u0022",
        "Last-Modified": "Thu, 28 Apr 2022 23:03:39 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.dfs.core.windows.net/test-filesystem-aa4573eb-cf7d-1bb1-6b54-37c7b04c8067/test-file-27cbdc51-3ba3-7c91-4bfc-c03eadaf113c?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Apr 2022 23:03:39 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA296B557677BE\u0022",
        "Last-Modified": "Thu, 28 Apr 2022 23:03:39 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.dfs.core.windows.net/test-filesystem-aa4573eb-cf7d-1bb1-6b54-37c7b04c8067/test-file-27cbdc51-3ba3-7c91-4bfc-c03eadaf113c?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-content-crc64": "KNNUzJ1HEF0=",
        "x-ms-date": "Thu, 28 Apr 2022 23:03:39 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": "t9BC\u002B1NdidG344cB9CUpN\u002BxcLWfdinGOJi5h3Uf1ZNYGqNQh8WyHPL\u002BePxLx\u002BAcaNpvZoR8OVC1fs9Ul\u002B6uJwX\u002Bw\u002B0tQCEaA1fCnP0pfnS0nR6asG8O3\u002BFSnwT2WYkETFH6TQf27yi5UWcsuZhXi/xan/bQE3aW7\u002BAP3qEYJ6XOvkyrMzFwwbHx4V8L3iZE\u002BxMIm7mSMDzfY10j6wyHoS29YftPrFjO6d5E3jIbixG9xuOSE4vsOI4Tz9PQUNahbjwtTnwq\u002BU66ObHbTVYKw9RLYiAo9ZGl0SVtO9yI\u002BpkLo3[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-filesystem-aa4573eb-cf7d-1bb1-6b54-37c7b04c8067?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Apr 2022 23:03:40 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1773400099",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\njaschrepragrs\nU2FuaXRpemVk\nhttps://jaschrepragrs.blob.core.windows.net\nhttps://jaschrepragrs.file.core.windows.net\nhttps://jaschrepragrs.queue.core.windows.net\nhttps://jaschrepragrs.table.core.windows.net\n\n\n\n\nhttps://jaschrepragrs-secondary.blob.core.windows.net\nhttps://jaschrepragrs-secondary.file.core.windows.net\nhttps://jaschrepragrs-secondary.queue.core.windows.net\nhttps://jaschrepragrs-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jaschrepragrs.blob.core.windows.net/;QueueEndpoint=https://jaschrepragrs.queue.core.windows.net/;FileEndpoint=https://jaschrepragrs.file.core.windows.net/;BlobSecondaryEndpoint=https://jaschrepragrs-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jaschrepragrs-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jaschrepragrs-secondary.file.core.windows.net/;AccountName=jaschrepragrs;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
