{
  "Entries": [
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-filesystem-c0213ae7-9c2d-e5c0-1384-a9628110f560?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 28 Apr 2022 23:03:40 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA296B55EA3736\u0022",
        "Last-Modified": "Thu, 28 Apr 2022 23:03:40 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.dfs.core.windows.net/test-filesystem-c0213ae7-9c2d-e5c0-1384-a9628110f560/test-file-528d465c-b8e0-767c-8052-c6b2741f9fd1?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Apr 2022 23:03:40 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA296B55FBE6CD\u0022",
        "Last-Modified": "Thu, 28 Apr 2022 23:03:40 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.dfs.core.windows.net/test-filesystem-c0213ae7-9c2d-e5c0-1384-a9628110f560/test-file-528d465c-b8e0-767c-8052-c6b2741f9fd1?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-content-crc64": "uNolYhRRV28=",
        "x-ms-date": "Thu, 28 Apr 2022 23:03:40 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": "NxO7IKd2ijcxEfRVYLCGmnYt6sWH0iUcN/vJRFTiSSMfSthKve3UATFS8Sl1vKxvicGxmL7yamTunumsrUXiTsjRNhbYO9yIWemUNOH7p3tOWbuTMbBkLOBzXB8EJ1Prb6Jho4WWl03kKD7UXjWD8vdtXlOKTx0XbAk2ZN\u002B9gzGVqMU\u002BmgP1uMJtrghxkM6q8GknlskAYR\u002BESTd7XzNtJ6UNPrVvRFjzeKWRHKEVptw7i3R2lexnlUaluVHMeliO/4ZiZFEYO6sRNB4jb0R\u002Bb6JbP9S/95K4paluyYoGJ/5NAhwaskGKI1DIZWHORCUBJ0mucDqDzwj0qb\u002Bn[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-filesystem-c0213ae7-9c2d-e5c0-1384-a9628110f560?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Apr 2022 23:03:40 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "846031080",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\njaschrepragrs\nU2FuaXRpemVk\nhttps://jaschrepragrs.blob.core.windows.net\nhttps://jaschrepragrs.file.core.windows.net\nhttps://jaschrepragrs.queue.core.windows.net\nhttps://jaschrepragrs.table.core.windows.net\n\n\n\n\nhttps://jaschrepragrs-secondary.blob.core.windows.net\nhttps://jaschrepragrs-secondary.file.core.windows.net\nhttps://jaschrepragrs-secondary.queue.core.windows.net\nhttps://jaschrepragrs-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jaschrepragrs.blob.core.windows.net/;QueueEndpoint=https://jaschrepragrs.queue.core.windows.net/;FileEndpoint=https://jaschrepragrs.file.core.windows.net/;BlobSecondaryEndpoint=https://jaschrepragrs-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jaschrepragrs-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jaschrepragrs-secondary.file.core.windows.net/;AccountName=jaschrepragrs;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
