{
  "Entries": [
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-filesystem-2578f5af-c01b-2138-881f-ed8578eb2c02?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 24 Feb 2022 00:37:14 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9F72DCDA8E49A\u0022",
        "Last-Modified": "Thu, 24 Feb 2022 00:37:14 GMT",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.dfs.core.windows.net/test-filesystem-2578f5af-c01b-2138-881f-ed8578eb2c02/test-file-4f6db15b-a17e-a991-5677-3635a222d358?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 24 Feb 2022 00:37:14 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9F72DCDB3777C\u0022",
        "Last-Modified": "Thu, 24 Feb 2022 00:37:14 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.dfs.core.windows.net/test-filesystem-2578f5af-c01b-2138-881f-ed8578eb2c02/test-file-4f6db15b-a17e-a991-5677-3635a222d358?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-content-crc64": "EIwprX6nThE=",
        "x-ms-date": "Thu, 24 Feb 2022 00:37:14 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": "2blGRJjorUuwKrG29CPMt2jKupJv3Ui3Ncz/lEkr9fLq3j2ainKK4zcwn4/0b1j7p2Oyjcbnfvtxjw/M6BgChTS/yxXmMSz1QNdaPz24wsZzA\u002B3meGcrA2BBKftjvvoeLRpaNaNCFXU2vEzvjD\u002B9uMxIWOQrHAzMk8i1pAgxkoLcPBEjXY0iMO54sLwaO3Yhg3EuGmUW8xEOjqHbjXFtBCrKE1Atmlo/Jif2s2xPsVhRlCCXAnccxUgAFM/sRqN8C6uSUCgm8\u002BgW7/Q\u002BID\u002BlvtxJivhR1gGyrU0HLYWLUt\u002BDeajAvWEvK6E3gBOD3qUJWlbyo7yrKzW[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-filesystem-2578f5af-c01b-2138-881f-ed8578eb2c02?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 24 Feb 2022 00:37:14 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "978562040",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttp://seanmcccanary3.blob.core.windows.net\nhttp://seanmcccanary3.file.core.windows.net\nhttp://seanmcccanary3.queue.core.windows.net\nhttp://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttp://seanmcccanary3-secondary.blob.core.windows.net\nhttp://seanmcccanary3-secondary.file.core.windows.net\nhttp://seanmcccanary3-secondary.queue.core.windows.net\nhttp://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=http://seanmcccanary3.queue.core.windows.net/;FileEndpoint=http://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=http://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Sanitized\n\n\n"
  }
}