{
  "Entries": [
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-filesystem-0e89d71a-9950-a8c2-b19a-b664ba3e3286?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 28 Apr 2022 23:03:39 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA296B552B73C2\u0022",
        "Last-Modified": "Thu, 28 Apr 2022 23:03:39 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.dfs.core.windows.net/test-filesystem-0e89d71a-9950-a8c2-b19a-b664ba3e3286/test-file-54d00034-4ff6-9a3f-d45d-a431a70ac879?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Apr 2022 23:03:39 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA296B55388DF9\u0022",
        "Last-Modified": "Thu, 28 Apr 2022 23:03:39 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.dfs.core.windows.net/test-filesystem-0e89d71a-9950-a8c2-b19a-b664ba3e3286/test-file-54d00034-4ff6-9a3f-d45d-a431a70ac879?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-content-crc64": "BhbkpI6NO9U=",
        "x-ms-date": "Thu, 28 Apr 2022 23:03:39 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": "WpuxESvE6V\u002BWtMjyx95\u002B4hrEEqXximuq1AcgrMEOmv/D8IqOHW7GjSruEWfL3yCHoBcYdTP0788wBj0kpDydiBrJLtZU8MSs/oV6A3gD3vXmmQyq9iTLzwG6XRcxoejuUIlNArFKM7BSbHeueexXLCdHPgow85H1/V7VmZKtelycjLLuttxEnGZcV4qsHVYUYjHv6WPevl34VwVSdJkdpfEaEew6aXVLA6Gj1JwHSd8IwTdhvZH4vc5V9V/X8SfNPrGYkQxp2vm7pOXCO\u002BrA8Q4mSbNhvOdgIlMe5HMVdBF51pbqbrfTnuY9pRmrNoLklARRsad0a4HKOG\u002B4S/WGp[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-filesystem-0e89d71a-9950-a8c2-b19a-b664ba3e3286?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Apr 2022 23:03:39 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "778078821",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\njaschrepragrs\nU2FuaXRpemVk\nhttps://jaschrepragrs.blob.core.windows.net\nhttps://jaschrepragrs.file.core.windows.net\nhttps://jaschrepragrs.queue.core.windows.net\nhttps://jaschrepragrs.table.core.windows.net\n\n\n\n\nhttps://jaschrepragrs-secondary.blob.core.windows.net\nhttps://jaschrepragrs-secondary.file.core.windows.net\nhttps://jaschrepragrs-secondary.queue.core.windows.net\nhttps://jaschrepragrs-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jaschrepragrs.blob.core.windows.net/;QueueEndpoint=https://jaschrepragrs.queue.core.windows.net/;FileEndpoint=https://jaschrepragrs.file.core.windows.net/;BlobSecondaryEndpoint=https://jaschrepragrs-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jaschrepragrs-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jaschrepragrs-secondary.file.core.windows.net/;AccountName=jaschrepragrs;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
