{
  "Entries": [
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-filesystem-901d72d1-7f0e-0c71-88f9-5860ed9abd2b?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 09 May 2022 17:09:42 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA31DEB5B00E15\u0022",
        "Last-Modified": "Mon, 09 May 2022 17:09:42 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.dfs.core.windows.net/test-filesystem-901d72d1-7f0e-0c71-88f9-5860ed9abd2b/test-file-6fcc028f-3724-8767-084c-12341b391b00?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 09 May 2022 17:09:43 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA31DEB5BF2DC3\u0022",
        "Last-Modified": "Mon, 09 May 2022 17:09:42 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.dfs.core.windows.net/test-filesystem-901d72d1-7f0e-0c71-88f9-5860ed9abd2b/test-file-6fcc028f-3724-8767-084c-12341b391b00?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-MD5": "c2hNZMAfYTZDh5jWPNfgzw==",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Mon, 09 May 2022 17:09:43 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": "bgHd8Jjb\u002BvzQW7EhWFFSphdzhekvACzh3vRsdmwxtP2kEbG4BPFL/wlu7aKW3P9nfcFYmVxe5m7U\u002BxGkb4SPnqe0fEafmaEmJ4bgwBKKSwH0Bfir2RqgRipD5AjfppCF3k764WC5x\u002BMfMXHWfSZbSrAQsGmL48WMEzYbW7SZR4D2W\u002BLEj2mhOz4UjKepysgE6JpYzvYm\u002BfqIbs0qnWsvhurw4CJDlrpGbnUrdlce40luF3MaQHiKz2HoOyGcd53S5Qa9uOqlwVHfEmCA\u002BoOjaoqDu4b4FEVxZhDAW1uYqffXWZBQYCtfyFYhOi4YCtX[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-filesystem-901d72d1-7f0e-0c71-88f9-5860ed9abd2b?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 09 May 2022 17:09:43 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "793608448",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\njaschrepragrs\nU2FuaXRpemVk\nhttps://jaschrepragrs.blob.core.windows.net\nhttps://jaschrepragrs.file.core.windows.net\nhttps://jaschrepragrs.queue.core.windows.net\nhttps://jaschrepragrs.table.core.windows.net\n\n\n\n\nhttps://jaschrepragrs-secondary.blob.core.windows.net\nhttps://jaschrepragrs-secondary.file.core.windows.net\nhttps://jaschrepragrs-secondary.queue.core.windows.net\nhttps://jaschrepragrs-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jaschrepragrs.blob.core.windows.net/;QueueEndpoint=https://jaschrepragrs.queue.core.windows.net/;FileEndpoint=https://jaschrepragrs.file.core.windows.net/;BlobSecondaryEndpoint=https://jaschrepragrs-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jaschrepragrs-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jaschrepragrs-secondary.file.core.windows.net/;AccountName=jaschrepragrs;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
