{
  "Entries": [
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-filesystem-26ec470b-169d-477d-3f51-215baad2b2ca?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 04 May 2022 22:07:56 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA2E1A8B04441D\u0022",
        "Last-Modified": "Wed, 04 May 2022 22:07:56 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.dfs.core.windows.net/test-filesystem-26ec470b-169d-477d-3f51-215baad2b2ca/test-file-4a22eb58-1e9e-460c-b168-52cb9635fdc9?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 04 May 2022 22:07:56 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA2E1A8B13E4CE\u0022",
        "Last-Modified": "Wed, 04 May 2022 22:07:56 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.dfs.core.windows.net/test-filesystem-26ec470b-169d-477d-3f51-215baad2b2ca/test-file-4a22eb58-1e9e-460c-b168-52cb9635fdc9?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-content-crc64": "xCtDbgwjfio=",
        "x-ms-date": "Wed, 04 May 2022 22:07:56 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": "Bx4LWosb7hRDCYy5bfmyyXn8wfizkHtQbcu0I1PeCT7Oa3x2anyZfsMK3kUDbBm\u002BItmq3Jkdineju\u002B3AZsrBZf9N6wF8PF/9Y0I0qbE1TQCy9gB5My2lseEF0q\u002BP2Rj4SXlGtYEXQeZ6rXlX6OHFbW7sDW/KRzHSqDofd2mwbYkpO2A475d/mrQZ/4WzTcgAQGVAosuoLgFHdA1H\u002BMp9yT/vLayBjX7XbXO7sEirHlpxHjcEb8u9gQ1e8HqJN6HqnDVFxCAbf7LmaTRY7X25nFay1dmTeFp0MayfIp0DTTXR0RMSZlk6Vp\u002BEHQWWZZSQpVQk1mLIViTb0ZJz[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-filesystem-26ec470b-169d-477d-3f51-215baad2b2ca?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 04 May 2022 22:07:56 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1075763784",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\njaschrepragrs\nU2FuaXRpemVk\nhttps://jaschrepragrs.blob.core.windows.net\nhttps://jaschrepragrs.file.core.windows.net\nhttps://jaschrepragrs.queue.core.windows.net\nhttps://jaschrepragrs.table.core.windows.net\n\n\n\n\nhttps://jaschrepragrs-secondary.blob.core.windows.net\nhttps://jaschrepragrs-secondary.file.core.windows.net\nhttps://jaschrepragrs-secondary.queue.core.windows.net\nhttps://jaschrepragrs-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jaschrepragrs.blob.core.windows.net/;QueueEndpoint=https://jaschrepragrs.queue.core.windows.net/;FileEndpoint=https://jaschrepragrs.file.core.windows.net/;BlobSecondaryEndpoint=https://jaschrepragrs-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jaschrepragrs-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jaschrepragrs-secondary.file.core.windows.net/;AccountName=jaschrepragrs;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
