{
  "Entries": [
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-filesystem-ca9b95e4-4b92-dcf8-7d1a-eefc6cb42c05?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 04 May 2022 22:07:49 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA2E1A87033005\u0022",
        "Last-Modified": "Wed, 04 May 2022 22:07:49 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.dfs.core.windows.net/test-filesystem-ca9b95e4-4b92-dcf8-7d1a-eefc6cb42c05/test-file-6130265c-2236-6b16-349e-05026543a4e8?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 04 May 2022 22:07:49 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA2E1A8712A1A5\u0022",
        "Last-Modified": "Wed, 04 May 2022 22:07:49 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.dfs.core.windows.net/test-filesystem-ca9b95e4-4b92-dcf8-7d1a-eefc6cb42c05/test-file-6130265c-2236-6b16-349e-05026543a4e8?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-content-crc64": "oK\u002BeyzFV\u002BlI=",
        "x-ms-date": "Wed, 04 May 2022 22:07:49 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": "xPOkoj7uBDSMcoXf7EQt/qFwcW7k82WQ8i5SJV8H3BjE9O\u002B72tY\u002Bm/marC3JHBJuiVJg27uAhdGNFLAQm97VhJVtGvdVcSTKMtZ0SUc4x9Yb5JwNpwBcRG4eLsUmLQAaxSeXXAEaGBgtlanlDDyJVE3a9bdCyN2UENaJN0JepATVWYQgoGrUAMuE3xFWdzcylNl4TDhI2P1JAkwrkeHVz/GlD7K3abTiBfTsvujMPZieVqJo5ljLjYGH1p0eqG/qrhAgsWiEeisllUZEXBoUfcWzjTo\u002BbOmZ2oIxMJIWw12EAg/YrIwwGdt3Q1ARhzBmclnYaxs0q0Inhtfm[...]
    {
      "RequestUri": "https://jaschrepragrs.blob.core.windows.net/test-filesystem-ca9b95e4-4b92-dcf8-7d1a-eefc6cb42c05?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 04 May 2022 22:07:49 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1469008821",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\njaschrepragrs\nU2FuaXRpemVk\nhttps://jaschrepragrs.blob.core.windows.net\nhttps://jaschrepragrs.file.core.windows.net\nhttps://jaschrepragrs.queue.core.windows.net\nhttps://jaschrepragrs.table.core.windows.net\n\n\n\n\nhttps://jaschrepragrs-secondary.blob.core.windows.net\nhttps://jaschrepragrs-secondary.file.core.windows.net\nhttps://jaschrepragrs-secondary.queue.core.windows.net\nhttps://jaschrepragrs-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jaschrepragrs.blob.core.windows.net/;QueueEndpoint=https://jaschrepragrs.queue.core.windows.net/;FileEndpoint=https://jaschrepragrs.file.core.windows.net/;BlobSecondaryEndpoint=https://jaschrepragrs-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jaschrepragrs-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jaschrepragrs-secondary.file.core.windows.net/;AccountName=jaschrepragrs;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
