{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-filesystem-da7503be-79b7-2756-30ba-6241942398eb?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 30 Mar 2022 22:44:22 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA129ED872485A\u0022",
        "Last-Modified": "Wed, 30 Mar 2022 22:44:27 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.dfs.core.windows.net/test-filesystem-da7503be-79b7-2756-30ba-6241942398eb/test-file-6842b364-bb55-14be-4dc3-7ee3e8c01b98?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 30 Mar 2022 22:44:22 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA129ED8815D59\u0022",
        "Last-Modified": "Wed, 30 Mar 2022 22:44:27 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.dfs.core.windows.net/test-filesystem-da7503be-79b7-2756-30ba-6241942398eb/test-file-6842b364-bb55-14be-4dc3-7ee3e8c01b98?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-content-crc64": "yih87o\u002BbAuI=",
        "x-ms-date": "Wed, 30 Mar 2022 22:44:22 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": "yP6U05rNfxiTGpmqisNUg2Gabx8UGc3\u002BHsmP0byACUF4M8vTGIUtBPT26gOqZzFpUGaNto90p64wlrXRPa5cEhBYMVb3gGrbbGsqHS7KU7aXJYFV8lOyBIwdo4LQXMZGmtjyUjbbcc/8skkkSYp/ZUL/ORcsBh\u002B9pS3J2t3nCxCk5IJW2AGAvLOyWEAJjrsCnj4/0SKvGZO4NawJEZfyFKY5f2QHKI1Bfnxjeq3fsxdxxzyeqDrt9crunqJUd6ocv0Sa0A5W\u002BnWw/lKlS57l2YGUl0paU2xrS4maGYrq7AfRR7ppROMIG8zH7qroR6orCMQgwN9gwWzYLoSFvOHrx[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-filesystem-da7503be-79b7-2756-30ba-6241942398eb?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 30 Mar 2022 22:44:22 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "402691127",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Sanitized\n\n\n"
  }
}
