{
  "Entries": [
    {
      "RequestUri": "https://smstestapp.communication.azure.com/sms?api-version=2021-03-07",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "from": "Sanitized",
        "smsRecipients": [
          {
            "to": "Sanitized",
            "repeatabilityRequestId": "Sanitized",
            "repeatabilityFirstSent": "Sanitized"
          },
          {
            "to": "Sanitized",
            "repeatabilityRequestId": "Sanitized",
            "repeatabilityFirstSent": "Sanitized"
          }
        ],
        "message": "Weekly Promotion!",
        "smsSendOptions": {
          "enableDeliveryReport": true,
          "tag": "marketing"
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "api-supported-versions": "2020-07-20-preview1, 2020-08-20-preview, 2021-03-07",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "/wR3TXbbqUW4L3EL27vzPA.0",
        "X-Processing-Time": "560ms"
      },
      "ResponseBody": {
        "value": [
          {
            "to": "Sanitized",
            "messageId": "Outgoing_202103092132240666bb7c-7025-4004-9a9c-7ec7dbf237a5_noam",
            "httpStatusCode": 202,
            "repeatabilityResult": "accepted",
            "successful": true
          },
          {
            "to": "Sanitized",
            "messageId": "Outgoing_20210309213224758ac7c8-8b62-4092-bd37-4dd5185f919d_noam",
            "httpStatusCode": 202,
            "repeatabilityResult": "accepted",
            "successful": true
          }
        ]
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_STATIC_CONNECTION_STRING": "endpoint=https://smstestapp.communication.azure.com/;accesskey=Kg==",
    "AZURE_PHONE_NUMBER": "\u002B14255550123",
    "RandomSeed": "15769138"
  }
}