{
  "Entries": [
    {
      "RequestUri": "/providers/Microsoft.Billing/billingAccounts/4b15e98a-cb13-5f5d-0d2c-64eea298c8d4:277f7747-44f1-446f-88b0-d27d655c60cd_2019-05-31/products/b04536f5-e758-081a-b981-0b9afad94173?api-version=2020-05-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-service-version": [
          "10.6.1265.560"
        ],
        "api-supported-versions": [
          "2018-11-01-preview, 2019-10-01-preview, 2020-05-01"
        ],
        "x-ms-ratelimit-remaining-tenant-reads": [
          "14999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/providers/Microsoft.Billing/billingAccounts/4b15e98a-cb13-5f5d-0d2c-64eea298c8d4:277f7747-44f1-446f-88b0-d27d655c60cd_2019-05-31/products/b04536f5-e758-081a-b981-0b9afad94173\",\r\n  \"name\": \"b04536f5-e758-081a-b981-0b9afad94173\",\r\n  \"properties\": {\r\n    \"autoRenew\": \"On\",\r\n    \"availabilityId\": \"DZH318Z0C06X\",\r\n    \"billingProfileId\": \"/providers/Microsoft.Billing/billingAccounts/4b15e98a-cb13-5f5d-0d2c-64eea298c8d4:277f7747-44f1-446f-88b0-d27d655c60cd_2019-05-31/billingProfiles/KKMM-ZUHC-BG7-TGB\",\r\n    \"billingProfileDisplayName\": \"First BG\",\r\n    \"endDate\": \"07/09/2020\",\r\n    \"invoiceSectionId\": \"/providers/Microsoft.Billing/billingAccounts/4b15e98a-cb13-5f5d-0d2c-64eea298c8d4:277f7747-44f1-446f-88b0-d27d655c60cd_2019-05-31/billingProfiles/KKMM-ZUHC-BG7-TGB/invoiceSections/UCAF-IQUR-PJA-TGB\",\r\n    \"invoiceSectionDisplayName\": \"InvoiceSection1\",\r\n    \"productType\": \"Barracuda WAF-as-a-Service\",\r\n    \"productTypeId\": \"DZH318Z0BXWC\",\r\n    \"skuId\": \"0001\",\r\n    \"skuDescription\": \"Barracuda WaaS - Small Plan\",\r\n    \"purchaseDate\": \"06/10/2020\",\r\n    \"quantity\": 1,\r\n    \"status\": \"AutoRenew\",\r\n    \"tenantId\": \"58ed2055-72d2-45e9-b337-e2754925ceca\"\r\n  },\r\n  \"type\": \"Microsoft.Billing/billingAccounts/products\"\r\n}",
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "ce294754-54f1-41f0-853b-57415ca15600"
  }
}