{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/7c4785eb-d3cf-4349-b811-8d756312d1ff?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11807"
      },
      "ResponseBody": {
        "id": "/subscriptions/7c4785eb-d3cf-4349-b811-8d756312d1ff",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "DDFunMDCTag": "Public"
        },
        "subscriptionId": "7c4785eb-d3cf-4349-b811-8d756312d1ff",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": "CacheTeam - AJ Tiwari",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/7c4785eb-d3cf-4349-b811-8d756312d1ff/resourcegroups/testRG-7066?api-version=**",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {
          "test": "env"
        },
        "location": "eastus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1187"
      },
      "ResponseBody": {
        "id": "/subscriptions/7c4785eb-d3cf-4349-b811-8d756312d1ff/resourceGroups/testRG-7066",
        "name": "testRG-7066",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus",
        "tags": {
          "test": "env"
        },
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/7c4785eb-d3cf-4349-b811-8d756312d1ff/resourceGroups/testRG-7066/providers/Microsoft.Cache/redis/RedisFirewall5606?api-version=2023-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus",
        "properties": {
          "sku": {
            "name": "Premium",
            "family": "P",
            "capacity": 1
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/7c4785eb-d3cf-4349-b811-8d756312d1ff/providers/Microsoft.Cache/locations/East%20US/asyncOperations/dca114e1-a2bd-441e-809b-e61d2ff8a544?api-version=2023-04-01",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/7c4785eb-d3cf-4349-b811-8d756312d1ff/resourceGroups/testRG-7066/providers/Microsoft.Cache/redis/RedisFirewall5606?api-version=2023-04-01",
        "x-ms-ratelimit-remaining-subscription-writes": "1186",
        "x-rp-server-mvid": "7bfbfeec-1fa5-40de-80e4-255dbbd614d8"
      },
      "ResponseBody": {
        "id": "/subscriptions/7c4785eb-d3cf-4349-b811-8d756312d1ff/resourceGroups/testRG-7066/providers/Microsoft.Cache/Redis/RedisFirewall5606",
        "location": "East US",
        "name": "RedisFirewall5606",
        "type": "Microsoft.Cache/Redis",
        "tags": {},
        "properties": {
          "provisioningState": "Creating",
          "redisVersion": "6.0",
          "sku": {
            "name": "Premium",
            "family": "P",
            "capacity": 1
          },
          "enableNonSslPort": false,
          "instances": [
            {
              "sslPort": 15000,
              "isMaster": false,
              "isPrimary": false
            },
            {
              "sslPort": 15001,
              "isMaster": false,
              "isPrimary": false
            }
          ],
          "publicNetworkAccess": "Enabled",
          "redisConfiguration": {
            "maxclients": "7500",
            "maxmemory-reserved": "642",
            "maxfragmentationmemory-reserved": "642",
            "maxmemory-delta": "642"
          },
          "accessKeys": {
            "primaryKey": "Sanitized",
            "secondaryKey": "Sanitized"
          },
          "hostName": "RedisFirewall5606.redis.cache.windows.net",
          "port": 6379,
          "sslPort": 6380,
          "linkedServers": []
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/7c4785eb-d3cf-4349-b811-8d756312d1ff/providers/Microsoft.Cache/locations/East%20US/asyncOperations/dca114e1-a2bd-441e-809b-e61d2ff8a544?api-version=2023-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/7c4785eb-d3cf-4349-b811-8d756312d1ff/providers/Microsoft.Cache/locations/East%20US/asyncOperations/dca114e1-a2bd-441e-809b-e61d2ff8a544?api-version=2023-04-01",
        "Content-Type": "application/json",
        "x-ms-ratelimit-remaining-subscription-reads": "11806",
        "x-rp-server-mvid": "7bfbfeec-1fa5-40de-80e4-255dbbd614d8"
      },
      "ResponseBody": {
        "id": "/subscriptions/7c4785eb-d3cf-4349-b811-8d756312d1ff/providers/Microsoft.Cache/locations/East US/asyncOperations/dca114e1-a2bd-441e-809b-e61d2ff8a544",
        "name": "dca114e1-a2bd-441e-809b-e61d2ff8a544",
        "status": "InProgress",
        "startTime": null,
        "endTime": null,
        "percentComplete": null,
        "properties": null,
        "error": null
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/7c4785eb-d3cf-4349-b811-8d756312d1ff/resourceGroups/testRG-7066/providers/Microsoft.Cache/redis/RedisFirewall5606/firewallRules/RuleOne?api-version=2023-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "startIP": "10.0.0.0",
          "endIP": "10.0.0.32"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/7c4785eb-d3cf-4349-b811-8d756312d1ff/resourceGroups/testRG-7066/providers/Microsoft.Cache/redis/RedisFirewall5606/firewallRules/RuleOne?api-version=2023-04-01",
        "x-ms-ratelimit-remaining-subscription-writes": "1187",
        "x-rp-server-mvid": "7bfbfeec-1fa5-40de-80e4-255dbbd614d8"
      },
      "ResponseBody": {
        "properties": {
          "startIP": "10.0.0.0",
          "endIP": "10.0.0.32"
        },
        "id": "/subscriptions/7c4785eb-d3cf-4349-b811-8d756312d1ff/resourceGroups/testRG-7066/providers/Microsoft.Cache/redis/RedisFirewall5606/firewallRules/RuleOne",
        "name": "RedisFirewall5606/RuleOne",
        "type": "Microsoft.Cache/redis/firewallRules"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/7c4785eb-d3cf-4349-b811-8d756312d1ff/resourceGroups/testRG-7066/providers/Microsoft.Cache/redis/RedisFirewall5606/firewallRules/RuleTwo?api-version=2023-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "startIP": "10.0.0.64",
          "endIP": "10.0.0.128"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/7c4785eb-d3cf-4349-b811-8d756312d1ff/resourceGroups/testRG-7066/providers/Microsoft.Cache/redis/RedisFirewall5606/firewallRules/RuleTwo?api-version=2023-04-01",
        "x-ms-ratelimit-remaining-subscription-writes": "1186",
        "x-rp-server-mvid": "7bfbfeec-1fa5-40de-80e4-255dbbd614d8"
      },
      "ResponseBody": {
        "properties": {
          "startIP": "10.0.0.64",
          "endIP": "10.0.0.128"
        },
        "id": "/subscriptions/7c4785eb-d3cf-4349-b811-8d756312d1ff/resourceGroups/testRG-7066/providers/Microsoft.Cache/redis/RedisFirewall5606/firewallRules/RuleTwo",
        "name": "RedisFirewall5606/RuleTwo",
        "type": "Microsoft.Cache/redis/firewallRules"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/7c4785eb-d3cf-4349-b811-8d756312d1ff/resourceGroups/testRG-7066/providers/Microsoft.Cache/redis/RedisFirewall5606/firewallRules?api-version=2023-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11812",
        "x-rp-server-mvid": "7bfbfeec-1fa5-40de-80e4-255dbbd614d8"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/7c4785eb-d3cf-4349-b811-8d756312d1ff/resourceGroups/testRG-7066/providers/Microsoft.Cache/Redis/RedisFirewall5606/firewallRules/RuleOne",
            "name": "RedisFirewall5606/RuleOne",
            "type": "Microsoft.Cache/Redis/firewallRules",
            "properties": {
              "startIP": "10.0.0.0",
              "endIP": "10.0.0.32"
            }
          },
          {
            "id": "/subscriptions/7c4785eb-d3cf-4349-b811-8d756312d1ff/resourceGroups/testRG-7066/providers/Microsoft.Cache/Redis/RedisFirewall5606/firewallRules/RuleTwo",
            "name": "RedisFirewall5606/RuleTwo",
            "type": "Microsoft.Cache/Redis/firewallRules",
            "properties": {
              "startIP": "10.0.0.64",
              "endIP": "10.0.0.128"
            }
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/7c4785eb-d3cf-4349-b811-8d756312d1ff/resourceGroups/testRG-7066/providers/Microsoft.Cache/redis/RedisFirewall5606/firewallRules/RuleTwo?api-version=2023-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11811",
        "x-rp-server-mvid": "7bfbfeec-1fa5-40de-80e4-255dbbd614d8"
      },
      "ResponseBody": {
        "id": "/subscriptions/7c4785eb-d3cf-4349-b811-8d756312d1ff/resourceGroups/testRG-7066/providers/Microsoft.Cache/Redis/RedisFirewall5606/firewallRules/RuleTwo",
        "name": "RedisFirewall5606/RuleTwo",
        "type": "Microsoft.Cache/Redis/firewallRules",
        "properties": {
          "startIP": "10.0.0.64",
          "endIP": "10.0.0.128"
        }
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "RandomSeed": "382048040",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "7c4785eb-d3cf-4349-b811-8d756312d1ff"
  }
}
