{
  "Entries": [
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models/dtmi%3Aexample%3Awifi%3B191291152?includeModelDefinition=true\u0026api-version=2023-06-30",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "386e7650-0c09-4eaa-a5bb-05a4e0ef16e5",
        "traceresponse": "00-2bfbc3237c272b134c434357dddfa3dc-6a4d102fe91a5c99-01",
        "x-ms-error-code": "ModelNotFound"
      },
      "ResponseBody": {
        "error": {
          "code": "ModelNotFound",
          "message": "There is no Model(s) available that matches the provided id(s) dtmi:example:wifi;191291152. Check that the Model ID provided is valid by doing a Model_List API call."
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models/dtmi%3Aexample%3Awifiroom%3B17557?includeModelDefinition=true\u0026api-version=2023-06-30",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "9890e8d5-99b5-4245-8f38-afe12b560e93",
        "traceresponse": "00-1bb3250815d6f69021e3649437e8077f-0feb8f83c2dd3b1e-01",
        "x-ms-error-code": "ModelNotFound"
      },
      "ResponseBody": {
        "error": {
          "code": "ModelNotFound",
          "message": "There is no Model(s) available that matches the provided id(s) dtmi:example:wifiroom;17557. Check that the Model ID provided is valid by doing a Model_List API call."
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/roomWithWifiTwin21204036?api-version=2023-06-30",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "f2ac86b7-05c3-4289-bf4a-2b8a30676c73",
        "traceresponse": "00-93948e3897e018df71c70579ca6d3fcc-44b70a6070ebb5a2-01",
        "x-ms-error-code": "DigitalTwinNotFound"
      },
      "ResponseBody": {
        "error": {
          "code": "DigitalTwinNotFound",
          "message": "There is no digital twin instance that exists with the ID roomWithWifiTwin21204036. Please verify that the twin id is valid and ensure that the twin is not deleted. See section on querying the twins https://aka.ms/adtv2query."
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models?api-version=2023-06-30",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": "[{    \u0022@id\u0022: \u0022dtmi:example:wifiroom;17557\u0022,    \u0022@type\u0022: \u0022Interface\u0022,    \u0022displayName\u0022: \u0022RoomWithWifi\u0022,    \u0022contents\u0022: [        {            \u0022@type\u[...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models?includeModelDefinition=false\u0026api-version=2023-06-30",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "5c3845c9-925b-430e-9098-bed169cca28a",
        "traceresponse": "00-161cc7bbde4719e8b61bb5434d3bf1ac-5d3493f588e9fc6a-01"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "dtmi:example:room;180719651",
            "description": {
              "en": "An enclosure inside a building."
            },
            "displayName": {
              "en": "Room"
            },
            "decommissioned": false,
            "uploadTime": "2023-07-20T16:56:11.0624733\u002B00:00"
          },
          {
            "id": "dtmi:example:room;151014275",
            "description": {
              "en": "An enclosure inside a building."
            },
            "displayName": {
              "en": "Room"
            },
            "decommissioned": false,
            "uploadTime": "2023-07-20T16:56:11.2279247\u002B00:00"
          },
          {
            "id": "dtmi:example:Ward;192203971",
            "description": {
        [...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/roomWithWifiTwin21204036?api-version=2023-06-30",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "$dtId": null,
        "$etag": null,
        "Temperature": 80,
        "Humidity": 25,
        "IsOccupied": true,
        "EmployeeId": "Employee1",
        "wifiAccessPoint": {
          "$metadata": {},
          "RouterName": "Cisco1",
          "Network": "Room1"
        },
        "$metadata": {
          "$model": "dtmi:example:wifiroom;17557"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\u0022390e9c85-62f7-44ab-8340-20162b3f43b4\u0022",
        "mise-correlation-id": "5d560eb9-2d5e-4c14-af29-822471d7302b",
        "traceresponse": "00-9a8cad340ccf22d858e7448658a6cb3b-4511124e11af2ab4-01"
      },
      "ResponseBody": {
        "$dtId": "roomWithWifiTwin21204036",
        "$etag": "W/\u0022390e9c85-62f7-44ab-8340-20162b3f43b4\u0022",
        "Temperature": 80,
        "Humidity": 25,
        "IsOccupied": true,
        "EmployeeId": "Employee1",
        "wifiAccessPoint": {
          "RouterName": "Cisco1",
          "Network": "Room1",
          "$metadata": {
            "$lastUpdateTime": "2023-07-20T18:54:23.1942928Z",
            "RouterName": {
              "lastUpdateTime": "2023-07-20T18:54:23.1942928Z"
            },
            "Network": {
              "lastUpdateTime": "2023-07-20T18:54:23.1942928Z"
            }
          }
        },
        "$metadata": {
          "$model": "dtmi:example:wifiroom;17557",
          "$lastUpdateTime": "2023-07-20T18:54:23.1942928Z",
          "Temperature": {
            "lastUpdateTime": "2023-07-20T18:54:23.1942928Z"
          },
          "Humidity": {
            "lastUpdateTime": "2023-07-20T18:54:23.1942928Z"
          },
          "IsOccupied": {
            "lastUpdateTime": "2023-07-20T18:54:23.1942928Z"
          },
          "EmployeeId": {
            "lastUpdateTime": "2023-07-20T18:54:23.1942928Z"
          }
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/roomWithWifiTwin21204036/components/wifiAccessPoint?api-version=2023-06-30",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\u0022390e9c85-62f7-44ab-8340-20162b3f43b4\u0022",
        "mise-correlation-id": "ca9f6cb8-b5d3-45b5-8820-2b456e418a7f",
        "traceresponse": "00-3d2b34cd5a818995927da7a7087e337d-ffe530029ddb4f99-01"
      },
      "ResponseBody": {
        "RouterName": "Cisco1",
        "Network": "Room1",
        "$metadata": {
          "$lastUpdateTime": "2023-07-20T18:54:23.1942928Z",
          "RouterName": {
            "lastUpdateTime": "2023-07-20T18:54:23.1942928Z"
          },
          "Network": {
            "lastUpdateTime": "2023-07-20T18:54:23.1942928Z"
          }
        }
      }
    },
[...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/roomWithWifiTwin21204036/components/wifiAccessPoint?api-version=2023-06-30",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json-patch\u002Bjson",
        "If-Match": "W/\u00225a0751d0-40e5-4eb5-8966-16182413c7b4\u0022"
      },
      "RequestBody": "[]",
      "StatusCode": 204,
      "ResponseHeaders": {
        "mise-correlation-id": "3f798737-99d3-4be6-9db3-9ed3ebc7f971",
        "traceresponse": "00-0f80f3024b0e970c9459c4525fc2477d-348732e0bd5c58a9-01"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models/dtmi%3Aexample%3Awifiroom%3B17557?api-version=2023-06-30",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "mise-correlation-id": "7b1d8b86-2c4c-41ad-af1c-b2d530f0f89b",
        "traceresponse": "00-e37d841c3b6644c95f9ec95b6f160f60-fd22f290f71b93f3-01"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models/dtmi%3Aexample%3Awifi%3B191291152?api-version=2023-06-30",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "mise-correlation-id": "e7c87b78-ff17-49d9-97c8-43769163a20e",
        "traceresponse": "00-ebf4a4d2b718cb6eb738459f14a2209b-d409487448749227-01"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": null,
    "DIGITALTWINS_URL": "https://fakeHost.api.wus2.digitaltwins.azure.net",
    "RandomSeed": "554373691"
  }
}
