{
  "Entries": [
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models/dtmi%3Aexample%3Awifi%3B110151006?includeModelDefinition=true\u0026api-version=2023-06-30",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "f206edb4-3e1d-4052-a62c-4653127e22fc",
        "traceresponse": "00-3b2ec1fe59c18f5efc784ddd3d7f9238-eb563fd518b84a0d-01",
        "x-ms-error-code": "ModelNotFound"
      },
      "ResponseBody": {
        "error": {
          "code": "ModelNotFound",
          "message": "There is no Model(s) available that matches the provided id(s) dtmi:example:wifi;110151006. Check that the Model ID provided is valid by doing a Model_List API call."
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models/dtmi%3Aexample%3Awifiroom%3B18623?includeModelDefinition=true\u0026api-version=2023-06-30",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "3490cae4-cadc-4ed3-a291-b7fcec734353",
        "traceresponse": "00-3629bb6006bbb146c7efd4c7ec504b80-7b271d05f6fa3780-01",
        "x-ms-error-code": "ModelNotFound"
      },
      "ResponseBody": {
        "error": {
          "code": "ModelNotFound",
          "message": "There is no Model(s) available that matches the provided id(s) dtmi:example:wifiroom;18623. Check that the Model ID provided is valid by doing a Model_List API call."
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/roomWithWifiTwin1559966150?api-version=2023-06-30",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "a3ee9b34-f12c-43b8-b93b-bb5d03c16c6a",
        "traceresponse": "00-29145aaad3c6693a3f83615e7f410ad9-8612c962121bc046-01",
        "x-ms-error-code": "DigitalTwinNotFound"
      },
      "ResponseBody": {
        "error": {
          "code": "DigitalTwinNotFound",
          "message": "There is no digital twin instance that exists with the ID roomWithWifiTwin1559966150. Please verify that the twin id is valid and ensure that the twin is not deleted. See section on querying the twins https://aka.ms/adtv2query."
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models?api-version=2023-06-30",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": "[{    \u0022@id\u0022: \u0022dtmi:example:wifiroom;18623\u0022,    \u0022@type\u0022: \u0022Interface\u0022,    \u0022displayName\u0022: \u0022RoomWithWifi\u0022,    \u0022contents\u0022: [        {            \u0022@type\u[...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models?includeModelDefinition=false\u0026api-version=2023-06-30",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "aa1c0227-fe88-4346-88d9-1685e7e51f1a",
        "traceresponse": "00-71c9bd05516892f5e8e6c24572dbfd40-f0480e50e53384a4-01"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "dtmi:com:microsoft:azure:iot:demomodel900;1",
            "description": {
              "en": "This is the description of model"
            },
            "displayName": {
              "en": "This is the display name"
            },
            "decommissioned": false,
            "uploadTime": "2023-05-18T00:40:07.4729517\u002B00:00"
          },
          {
            "id": "dtmi:com:microsoft:azure:iot:model0;1",
            "description": {
              "en": "This is the description of model"
            },
            "displayName": {
              "en": "This is the display name"
            },
            "decommissioned": false,
            "uploadTime": "2023-05-18T00:50:17.6199536\u002B00:00"
          },
          {
            "id": "dtmi:com:microsoft:azure:iot:model1;[...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/roomWithWifiTwin1559966150?api-version=2023-06-30",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "$dtId": null,
        "$etag": null,
        "Temperature": 80,
        "Humidity": 25,
        "IsOccupied": true,
        "EmployeeId": "Employee1",
        "wifiAccessPoint": {
          "$metadata": {},
          "RouterName": "Cisco1",
          "Network": "Room1"
        },
        "$metadata": {
          "$model": "dtmi:example:wifiroom;18623"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\u0022234f742b-41e1-4722-884a-9b83a0a26684\u0022",
        "mise-correlation-id": "95aa6862-d73c-445e-8f00-8d5098087f8f",
        "traceresponse": "00-c0fd33bf9c360d2665692f89394f0a6c-4b375861573d5782-01"
      },
      "ResponseBody": {
        "$dtId": "roomWithWifiTwin1559966150",
        "$etag": "W/\u0022234f742b-41e1-4722-884a-9b83a0a26684\u0022",
        "Temperature": 80,
        "Humidity": 25,
        "IsOccupied": true,
        "EmployeeId": "Employee1",
        "wifiAccessPoint": {
          "RouterName": "Cisco1",
          "Network": "Room1",
          "$metadata": {
            "$lastUpdateTime": "2023-05-18T23:07:53.4354498Z",
            "RouterName": {
              "lastUpdateTime": "2023-05-18T23:07:53.4354498Z"
            },
            "Network": {
              "lastUpdateTime": "2023-05-18T23:07:53.4354498Z"
            }
          }
        },
        "$metadata": {
          "$model": "dtmi:example:wifiroom;18623",
          "$lastUpdateTime": "2023-05-18T23:07:53.4354498Z",
          "Temperature": {
            "lastUpdateTime": "2023-05-18T23:07:53.4354498Z"
          },
          "Humidity": {
            "lastUpdateTime": "2023-05-18T23:07:53.4354498Z"
          },
          "IsOccupied": {
            "lastUpdateTime": "2023-05-18T23:07:53.4354498Z"
          },
          "EmployeeId": {
            "lastUpdateTime": "2023-05-18T23:07:53.4354498Z"
          }
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/roomWithWifiTwin1559966150/components/wifiAccessPoint?api-version=2023-06-30",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\u0022234f742b-41e1-4722-884a-9b83a0a26684\u0022",
        "mise-correlation-id": "85fd7312-3a31-47ce-acdc-c53da7098127",
        "traceresponse": "00-994800df16de6c0d0976e88950436551-7d401d51ed7ee027-01"
      },
      "ResponseBody": {
        "RouterName": "Cisco1",
        "Network": "Room1",
        "$metadata": {
          "$lastUpdateTime": "2023-05-18T23:07:53.4354498Z",
          "RouterName": {
            "lastUpdateTime": "2023-05-18T23:07:53.4354498Z"
          },
          "Network": {
            "lastUpdateTime": "2023-05-18T23:07:53.4354498Z"
          }
        }
      }
    },
[...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models/dtmi%3Aexample%3Awifiroom%3B18623?api-version=2023-06-30",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "mise-correlation-id": "ed909363-5ae4-4a69-b65b-a84ad115d7e4",
        "traceresponse": "00-7e1d9f37bc263d351bff00edde575d93-50a8158eb55a73a5-01"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models/dtmi%3Aexample%3Awifi%3B110151006?api-version=2023-06-30",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "mise-correlation-id": "2dc8f920-2df8-43cc-8725-b1f4fcf7e075",
        "traceresponse": "00-f2cebdddd9efe1f46e4a775d1240ee9d-9d2a82f4e1630e88-01"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": null,
    "DIGITALTWINS_URL": "https://fakeHost.api.wus2.digitaltwins.azure.net",
    "RandomSeed": "691519620"
  }
}
