{
  "Entries": [
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models/dtmi%3Aexample%3Awifi%3B191784493?includeModelDefinition=true\u0026api-version=2023-02-27-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "9056110e-12ed-4222-ab33-a8fd4d5f446e",
        "traceresponse": "00-5a4d9b71ab07985e94417dffad945da9-3457333dd38537a4-01"
      },
      "ResponseBody": {
        "error": {
          "code": "ModelNotFound",
          "message": "There is no Model(s) available that matches the provided id(s) dtmi:example:wifi;191784493. Check that the Model ID provided is valid by doing a Model_List API call."
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models/dtmi%3Aexample%3Awifiroom%3B12034?includeModelDefinition=true\u0026api-version=2023-02-27-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "a61a87f2-13fc-479a-9ccf-0f3b47f9875a",
        "traceresponse": "00-9318773c195e7b1bb13d8d7d031ffbd0-9235d93cba465b14-01"
      },
      "ResponseBody": {
        "error": {
          "code": "ModelNotFound",
          "message": "There is no Model(s) available that matches the provided id(s) dtmi:example:wifiroom;12034. Check that the Model ID provided is valid by doing a Model_List API call."
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/roomWithWifiTwin1871310704?api-version=2023-02-27-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "00e2e311-699f-4f1e-9212-69486dd3176f",
        "traceresponse": "00-cb03ea2e2e36fe2bf7215f0eaed4d3ab-eacaafcb09b859a6-01"
      },
      "ResponseBody": {
        "error": {
          "code": "DigitalTwinNotFound",
          "message": "There is no digital twin instance that exists with the ID roomWithWifiTwin1871310704. Please verify that the twin id is valid and ensure that the twin is not deleted. See section on querying the twins https://aka.ms/adtv2query."
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models?api-version=2023-02-27-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": "[{    \u0022@id\u0022: \u0022dtmi:example:wifiroom;12034\u0022,    \u0022@type\u0022: \u0022Interface\u0022,    \u0022displayName\u0022: \u0022RoomWithWifi\u0022,    \u0022contents\u0022: [        {            \u002[...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models?api-version=2023-02-27-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "657b71bd-89a2-42c1-8b3a-248e66cde6ab",
        "traceresponse": "00-3943534cb0b20193756559a2387871a4-51496138bc468639-01"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "dtmi:example:room;172332512",
            "description": {
              "en": "An enclosure inside a building."
            },
            "displayName": {
              "en": "Room"
            },
            "decommissioned": false,
            "uploadTime": "2023-01-30T18:49:13.4317179\u002B00:00"
          },
          {
            "id": "dtmi:example:room;120668288",
            "description": {
              "en": "An enclosure inside a building."
            },
            "displayName": {
              "en": "Room"
            },
            "decommissioned": false,
            "uploadTime": "2023-01-30T18:49:13.443748\u002B00:00"
          },
          {
            "id": "dtmi:example:Ward;136137213",
            "description": {
         [...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/roomWithWifiTwin1871310704?api-version=2023-02-27-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "$dtId": null,
        "$etag": null,
        "Temperature": 80,
        "Humidity": 25,
        "IsOccupied": true,
        "EmployeeId": "Employee1",
        "wifiAccessPoint": {
          "$metadata": {},
          "RouterName": "Cisco1",
          "Network": "Room1"
        },
        "$metadata": {
          "$model": "dtmi:example:wifiroom;12034"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\u002234b75d9b-e533-4f04-b3af-ef3d51bb7b74\u0022",
        "mise-correlation-id": "63f2b911-092e-4eb1-a029-ac9525a9843b",
        "traceresponse": "00-acc20dba0b203e8a2f689b35708f4367-fd8ef85c364c1cc6-01"
      },
      "ResponseBody": {
        "$dtId": "roomWithWifiTwin1871310704",
        "$etag": "W/\u002234b75d9b-e533-4f04-b3af-ef3d51bb7b74\u0022",
        "Temperature": 80,
        "Humidity": 25,
        "IsOccupied": true,
        "EmployeeId": "Employee1",
        "wifiAccessPoint": {
          "RouterName": "Cisco1",
          "Network": "Room1",
          "$metadata": {
            "$lastUpdateTime": "2023-02-01T23:58:09.3029768Z",
            "RouterName": {
              "lastUpdateTime": "2023-02-01T23:58:09.3029768Z"
            },
            "Network": {
              "lastUpdateTime": "2023-02-01T23:58:09.3029768Z"
            }
          }
        },
        "$metadata": {
          "$model": "dtmi:example:wifiroom;12034",
          "$lastUpdateTime": "2023-02-01T23:58:09.3029768Z",
          "Temperature": {
            "lastUpdateTime": "2023-02-01T23:58:09.3029768Z"
          },
          "Humidity": {
            "lastUpdateTime": "2023-02-01T23:58:09.3029768Z"
          },
          "IsOccupied": {
            "lastUpdateTime": "2023-02-01T23:58:09.3029768Z"
          },
          "EmployeeId": {
            "lastUpdateTime": "2023-02-01T23:58:09.3029768Z"
          }
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/roomWithWifiTwin1871310704/components/wifiAccessPoint?api-version=2023-02-27-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\u002234b75d9b-e533-4f04-b3af-ef3d51bb7b74\u0022",
        "mise-correlation-id": "c0fc1aa5-fb1d-4e0a-b998-b15ed93aad13",
        "traceresponse": "00-6f26165d3e1ba7a6ac3f1036570ffcf1-7eb968283309d194-01"
      },
      "ResponseBody": {
        "RouterName": "Cisco1",
        "Network": "Room1",
        "$metadata": {
          "$lastUpdateTime": "2023-02-01T23:58:09.3029768Z",
          "RouterName": {
            "lastUpdateTime": "2023-02-01T23:58:09.3029768Z"
          },
          "Network": {
            "lastUpdateTime": "2023-02-01T23:58:09.3029768Z"
          }
        }
      }
    },
[...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models/dtmi%3Aexample%3Awifiroom%3B12034?api-version=2023-02-27-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "mise-correlation-id": "17ca5af2-0e7e-4be9-b964-6781e2452311",
        "traceresponse": "00-16814759878e84722033dcde0f471fb0-27af05c66ae46a68-01"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models/dtmi%3Aexample%3Awifi%3B191784493?api-version=2023-02-27-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "mise-correlation-id": "106a214c-01a8-442d-8a1c-021685fb9a20",
        "traceresponse": "00-e4a1ad1af746c27703dfe72183d229a3-fe40f8c37403d380-01"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com/",
    "DIGITALTWINS_URL": "https://fakeHost.api.wus2.digitaltwins.azure.net",
    "RandomSeed": "691538436"
  }
}
