{
  "Entries": [
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models/dtmi%3Aexample%3Awifi%3B116084634?includeModelDefinition=true\u0026api-version=2022-05-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "07a005c4-df19-4a16-aac6-2b1657b11370",
        "traceresponse": "00-a4c5e855d66e402ff44a18446730d515-2484ae2d23942343-01"
      },
      "ResponseBody": {
        "error": {
          "code": "ModelNotFound",
          "message": "There is no Model(s) available that matches the provided id(s) dtmi:example:wifi;116084634. Check that the Model ID provided is valid by doing a Model_List API call."
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models/dtmi%3Aexample%3Awifiroom%3B11900?includeModelDefinition=true\u0026api-version=2022-05-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "74cc9be1-2fcd-415d-b901-f51c4b705029",
        "traceresponse": "00-db7ce72113f2846971bffb412ecf91b6-c05b7fd8e2a8274b-01"
      },
      "ResponseBody": {
        "error": {
          "code": "ModelNotFound",
          "message": "There is no Model(s) available that matches the provided id(s) dtmi:example:wifiroom;11900. Check that the Model ID provided is valid by doing a Model_List API call."
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/roomWithWifiTwin486384143?api-version=2022-05-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "traceresponse": "00-4c1c21bc660ddef765ce48bfaa300edc-624f975c9b57d54e-01"
      },
      "ResponseBody": {
        "error": {
          "code": "DigitalTwinNotFound",
          "message": "There is no digital twin instance that exists with the ID roomWithWifiTwin486384143. Please verify that the twin id is valid and ensure that the twin is not deleted. See section on querying the twins https://aka.ms/adtv2query."
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models?api-version=2022-05-31",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": "[{    \u0022@id\u0022: \u0022dtmi:example:wifiroom;11900\u0022,    \u0022@type\u0022: \u0022Interface\u0022,    \u0022displayName\u0022: \u0022RoomWithWifi\u0022,    \u0022contents\u0022: [        {            \u0022@type\u[...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models?includeModelDefinition=false\u0026api-version=2022-05-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "90f34e3b-9b2e-4c95-aa7f-e3edb5c4190c",
        "traceresponse": "00-0c74a4228d780b4a462b36ef9fd29c0c-08455157fb979245-01"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "dtmi:example:Ward;113089428",
            "description": {
              "en-US": "A separate partition in a building, made of rooms and hallways."
            },
            "displayName": {
              "en-US": "Ward"
            },
            "decommissioned": false,
            "uploadTime": "2022-05-26T01:04:05.1560817\u002B00:00"
          },
          {
            "id": "dtmi:example:Ward;115732946",
            "description": {
              "en-US": "A separate partition in a building, made of rooms and hallways."
            },
            "displayName": {
              "en-US": "Ward"
            },
            "decommissioned": false,
            "uploadTime": "2022-05-26T01:04:05.1564508\u002B00:00"
          },
          {
            "id": "dtmi:example:room;116996374",[...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/roomWithWifiTwin486384143?api-version=2022-05-31",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "$dtId": null,
        "$etag": null,
        "$metadata": {
          "$model": "dtmi:example:wifiroom;11900"
        },
        "Temperature": 80,
        "Humidity": 25,
        "IsOccupied": true,
        "EmployeeId": "Employee1",
        "wifiAccessPoint": {
          "$metadata": {},
          "RouterName": "Cisco1",
          "Network": "Room1"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\u00226ff81b61-3707-4fce-a32c-1aeb8360159a\u0022",
        "traceresponse": "00-c7a5963ff40fc095d23d2a8ef276f226-00d6d5eb62236449-01"
      },
      "ResponseBody": {
        "$dtId": "roomWithWifiTwin486384143",
        "$etag": "W/\u00226ff81b61-3707-4fce-a32c-1aeb8360159a\u0022",
        "Temperature": 80,
        "Humidity": 25,
        "IsOccupied": true,
        "EmployeeId": "Employee1",
        "wifiAccessPoint": {
          "RouterName": "Cisco1",
          "Network": "Room1",
          "$metadata": {
            "$lastUpdateTime": "2022-05-26T01:31:01.5647329Z",
            "RouterName": {
              "lastUpdateTime": "2022-05-26T01:31:01.5647329Z"
            },
            "Network": {
              "lastUpdateTime": "2022-05-26T01:31:01.5647329Z"
            }
          }
        },
        "$metadata": {
          "$model": "dtmi:example:wifiroom;11900",
          "$lastUpdateTime": "2022-05-26T01:31:01.5647329Z",
          "Temperature": {
            "lastUpdateTime": "2022-05-26T01:31:01.5647329Z"
          },
          "Humidity": {
            "lastUpdateTime": "2022-05-26T01:31:01.5647329Z"
          },
          "IsOccupied": {
            "lastUpdateTime": "2022-05-26T01:31:01.5647329Z"
          },
          "EmployeeId": {
            "lastUpdateTime": "2022-05-26T01:31:01.5647329Z"
          }
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/roomWithWifiTwin486384143/components/wifiAccessPoint?api-version=2022-05-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\u00226ff81b61-3707-4fce-a32c-1aeb8360159a\u0022",
        "traceresponse": "00-51ff134c64b2352d31753fed0dd84d25-6e1b751288d5d94a-01"
      },
      "ResponseBody": {
        "RouterName": "Cisco1",
        "Network": "Room1",
        "$metadata": {
          "$lastUpdateTime": "2022-05-26T01:31:01.5647329Z",
          "RouterName": {
            "lastUpdateTime": "2022-05-26T01:31:01.5647329Z"
          },
          "Network": {
            "lastUpdateTime": "2022-05-26T01:31:01.5647329Z"
          }
        }
      }
    },
[...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/roomWithWifiTwin486384143/components/wifiAccessPoint?api-version=2022-05-31",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json-patch\u002Bjson",
        "If-Match": "W/\u002249589b0d-aeee-444b-af0e-e0c57bbdd3b3\u0022"
      },
      "RequestBody": "[]",
      "StatusCode": 204,
      "ResponseHeaders": {
        "traceresponse": "00-7b9b327a4f5bbfe1e75d7b46477bc6c9-c3c7b189fcba9a4b-01"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models/dtmi%3Aexample%3Awifiroom%3B11900?api-version=2022-05-31",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "mise-correlation-id": "880eb705-ed60-4a22-a6dd-8700a55d3ae9",
        "traceresponse": "00-3002ebe796d93b185d16909b31020952-249e351184e43343-01"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models/dtmi%3Aexample%3Awifi%3B116084634?api-version=2022-05-31",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "mise-correlation-id": "d9758d8e-3798-4329-ac30-12b37c665f9a",
        "traceresponse": "00-f63b761413507d7dfcaf00e562b8288a-766970fb6258dc45-01"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DIGITALTWINS_URL": "https://fakeHost.api.wus2.digitaltwins.azure.net",
    "RandomSeed": "424358983"
  }
}
