{
  "Entries": [
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models/dtmi%3Aexample%3Awifi%3B118907159?includeModelDefinition=true\u0026api-version=2021-06-30-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "traceresponse": "00-18e69b17ea80b74ea1ec7fb1d0b723f6-aa89199ccd23af4d-01"
      },
      "ResponseBody": {
        "error": {
          "code": "ModelNotFound",
          "message": "There is no Model(s) available that matches the provided id(s) dtmi:example:wifi;118907159. Check that the Model ID provided is valid by doing a Model_List API call."
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models/dtmi%3Aexample%3Awifiroom%3B11502?includeModelDefinition=true\u0026api-version=2021-06-30-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "traceresponse": "00-851a135772ea3648944a0ce68b4f9238-ee7fea0506838549-01"
      },
      "ResponseBody": {
        "error": {
          "code": "ModelNotFound",
          "message": "There is no Model(s) available that matches the provided id(s) dtmi:example:wifiroom;11502. Check that the Model ID provided is valid by doing a Model_List API call."
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/roomWithWifiTwin1164154488?api-version=2021-06-30-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "traceresponse": "00-58b42b98d130f24e85e65fedb84f5adf-7309515a21ea804a-01"
      },
      "ResponseBody": {
        "error": {
          "code": "DigitalTwinNotFound",
          "message": "There is no digital twin instance that exists with the ID roomWithWifiTwin1164154488. Please verify that the twin id is valid and ensure that the twin is not deleted. See section on querying the twins https://aka.ms/adtv2query."
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models?api-version=2021-06-30-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": "[{    \u0022@id\u0022: \u0022dtmi:example:wifiroom;11502\u0022,    \u0022@type\u0022: \u0022Interface\u0022,    \u0022displayName\u0022: \u0022RoomWithWifi\u0022,    \u0022contents\u0022: [        {            \u002[...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models?api-version=2021-06-30-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "traceresponse": "00-86e30d235358784db3943bd20a81dca7-f42c9551f0bac14a-01"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "dtmi:example:Ward;145613168",
            "description": {
              "en": "A separate partition in a building, made of rooms and hallways."
            },
            "displayName": {
              "en": "Ward"
            },
            "decommissioned": false,
            "uploadTime": "2022-01-20T06:09:22.6352542\u002B00:00"
          },
          {
            "id": "dtmi:example:room;133999852",
            "description": {
              "en": "An enclosure inside a building."
            },
            "displayName": {
              "en": "Room"
            },
            "decommissioned": false,
            "uploadTime": "2022-01-20T06:09:22.9537885\u002B00:00"
          },
          {
            "id": "dtmi:example:room;111892730",
            "description": {
        [...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/roomWithWifiTwin1164154488?api-version=2021-06-30-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "$dtId": null,
        "$etag": null,
        "$metadata": {
          "$model": "dtmi:example:wifiroom;11502"
        },
        "Temperature": 80,
        "Humidity": 25,
        "IsOccupied": true,
        "EmployeeId": "Employee1",
        "wifiAccessPoint": {
          "$metadata": {},
          "RouterName": "Cisco1",
          "Network": "Room1"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\u00222a9a95c6-fae4-4d69-ae6b-5a2a15be7f95\u0022",
        "traceresponse": "00-c163397763721b479cac9d03e255f91a-02f10931ab7a984e-01"
      },
      "ResponseBody": {
        "$dtId": "roomWithWifiTwin1164154488",
        "$etag": "W/\u00222a9a95c6-fae4-4d69-ae6b-5a2a15be7f95\u0022",
        "Temperature": 80,
        "Humidity": 25,
        "IsOccupied": true,
        "EmployeeId": "Employee1",
        "wifiAccessPoint": {
          "RouterName": "Cisco1",
          "Network": "Room1",
          "$metadata": {
            "RouterName": {
              "lastUpdateTime": "2022-01-20T06:11:33.7816458Z"
            },
            "Network": {
              "lastUpdateTime": "2022-01-20T06:11:33.7816458Z"
            }
          }
        },
        "$metadata": {
          "$model": "dtmi:example:wifiroom;11502",
          "Temperature": {
            "lastUpdateTime": "2022-01-20T06:11:33.7816458Z"
          },
          "Humidity": {
            "lastUpdateTime": "2022-01-20T06:11:33.7816458Z"
          },
          "IsOccupied": {
            "lastUpdateTime": "2022-01-20T06:11:33.7816458Z"
          },
          "EmployeeId": {
            "lastUpdateTime": "2022-01-20T06:11:33.7816458Z"
          }
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/roomWithWifiTwin1164154488/components/wifiAccessPoint?api-version=2021-06-30-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\u00222a9a95c6-fae4-4d69-ae6b-5a2a15be7f95\u0022",
        "traceresponse": "00-b35fd8dde4a0da48811e8893ffc15512-2f56b93d9807f744-01"
      },
      "ResponseBody": {
        "RouterName": "Cisco1",
        "Network": "Room1",
        "$metadata": {
          "RouterName": {
            "lastUpdateTime": "2022-01-20T06:11:33.7816458Z"
          },
          "Network": {
            "lastUpdateTime": "2022-01-20T06:11:33.7816458Z"
          }
        }
      }
    },
[...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/roomWithWifiTwin1164154488/components/wifiAccessPoint?api-version=2021-06-30-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json-patch\u002Bjson",
        "If-Match": "W/\u00222a9a95c6-fae4-4d69-ae6b-5a2a15be7f95\u0022"
      },
      "RequestBody": "[{\u0022op\u0022:\u0022replace\u0022,\u0022path\u0022:\u0022/Network\u0022,\u0022value\u0022:\u0022Even newer Network\u0022}]",
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "traceresponse": "00-bf4460863e115446ad7fca1c5d1405bc-9c0dd0c7114d1e4f-01"
      },
      "ResponseBody": {
        "error": {
          "code": "PreconditionFailed",
          "message": "The provided etag W/\u00222a9a95c6-fae4-4d69-ae6b-5a2a15be7f95\u0022 doesn\u0027t match the current etag for the resource. Please obtain and provide the latest etag by getting the resource. See section on get apis in the documentation https://aka.ms/adtv2twins."
        }
      }
    },
[...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models/dtmi%3Aexample%3Awifiroom%3B11502?api-version=2021-06-30-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "traceresponse": "00-3b0493e106ccd04c83258946e2437b51-1720ddfa127a0349-01"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models/dtmi%3Aexample%3Awifi%3B118907159?api-version=2021-06-30-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "traceresponse": "00-24991da7d5136e42b3fee9cef9127ce1-9d487e9b752dd94a-01"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DIGITALTWINS_URL": "https://fakeHost.api.wus2.digitaltwins.azure.net",
    "RandomSeed": "942298711"
  }
}