{
  "Entries": [
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models/dtmi%3Aexample%3Awifi%3B141126540?includeModelDefinition=true\u0026api-version=2022-05-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "7eb0bb87-8e48-43d5-a381-1667ffbe8f1d",
        "traceresponse": "00-2666d12303a41b4285c1b7661c63e0e6-8f2f37f1ab09e84c-01"
      },
      "ResponseBody": {
        "error": {
          "code": "ModelNotFound",
          "message": "There is no Model(s) available that matches the provided id(s) dtmi:example:wifi;141126540. Check that the Model ID provided is valid by doing a Model_List API call."
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models/dtmi%3Aexample%3Awifiroom%3B11152?includeModelDefinition=true\u0026api-version=2022-05-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "26cc90b7-e639-4884-9d0f-a67ecaef60d5",
        "traceresponse": "00-d273794c4d2c7d4b8e0a87066861820b-f15dd3280c44934d-01"
      },
      "ResponseBody": {
        "error": {
          "code": "ModelNotFound",
          "message": "There is no Model(s) available that matches the provided id(s) dtmi:example:wifiroom;11152. Check that the Model ID provided is valid by doing a Model_List API call."
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/roomWithWifiTwin2089794746?api-version=2022-05-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "traceresponse": "00-bbdd27894ca22a48ba90bb86f22bb2da-8ce810ee77ad9b44-01"
      },
      "ResponseBody": {
        "error": {
          "code": "DigitalTwinNotFound",
          "message": "There is no digital twin instance that exists with the ID roomWithWifiTwin2089794746. Please verify that the twin id is valid and ensure that the twin is not deleted. See section on querying the twins https://aka.ms/adtv2query."
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models?api-version=2022-05-31",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": "[{    \u0022@id\u0022: \u0022dtmi:example:wifiroom;11152\u0022,    \u0022@type\u0022: \u0022Interface\u0022,    \u0022displayName\u0022: \u0022RoomWithWifi\u0022,    \u0022contents\u0022: [        {            \u0022@type\u[...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models?includeModelDefinition=false\u0026api-version=2022-05-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "b13a674e-8418-4644-9835-16d017187f45",
        "traceresponse": "00-0a7547ab2645c2428bef5f3724e109b1-2372bb6a1340f54f-01"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "dtmi:example:Ward;1865639",
            "description": {
              "en": "Aseparatepartitioninabuilding,madeofroomsandhallways."
            },
            "displayName": {
              "en": "Ward"
            },
            "decommissioned": false,
            "uploadTime": "2022-06-10T18:18:31.0669485\u002B00:00"
          },
          {
            "id": "dtmi:example:Ward;1393609",
            "description": {
              "en": "Aseparatepartitioninabuilding,madeofroomsandhallways."
            },
            "displayName": {
              "en": "Ward"
            },
            "decommissioned": false,
            "uploadTime": "2022-06-10T18:18:31.0915231\u002B00:00"
          },
          {
            "id": "dtmi:example:Building;1841529",
            "de[...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/Models?includeModelDefinition=False\u0026continuationToken=%5B%7B%22token%22%3A%22%2BRID%3A~XOMNALuXjGqyrAAAAAAACg%3D%3D%23RT%3A1%23TRC%3A100%23ISV%3A2%23IEO%3A65551%23QCF%3A8%22,%22range%22%3A%7B%22min%22%3A%2205C1D369B55B2C%22,%22max%22%3A%2205C1D74BA5D368%22%7D%7D%5D\u0026api-version=2022-05-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": [...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/roomWithWifiTwin2089794746?api-version=2022-05-31",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "$dtId": null,
        "$etag": null,
        "$metadata": {
          "$model": "dtmi:example:wifiroom;11152"
        },
        "Temperature": 80,
        "Humidity": 25,
        "IsOccupied": true,
        "EmployeeId": "Employee1",
        "wifiAccessPoint": {
          "$metadata": {},
          "RouterName": "Cisco1",
          "Network": "Room1"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\u00222afb4df8-434a-4c5a-b6a8-5e967d8a34a3\u0022",
        "traceresponse": "00-1d77d95075cd5f4da791cfaad79918fd-a58c7223c27c2c4e-01"
      },
      "ResponseBody": {
        "$dtId": "roomWithWifiTwin2089794746",
        "$etag": "W/\u00222afb4df8-434a-4c5a-b6a8-5e967d8a34a3\u0022",
        "Temperature": 80,
        "Humidity": 25,
        "IsOccupied": true,
        "EmployeeId": "Employee1",
        "wifiAccessPoint": {
          "RouterName": "Cisco1",
          "Network": "Room1",
          "$metadata": {
            "$lastUpdateTime": "2022-06-10T20:20:43.7368889Z",
            "RouterName": {
              "lastUpdateTime": "2022-06-10T20:20:43.7368889Z"
            },
            "Network": {
              "lastUpdateTime": "2022-06-10T20:20:43.7368889Z"
            }
          }
        },
        "$metadata": {
          "$model": "dtmi:example:wifiroom;11152",
          "$lastUpdateTime": "2022-06-10T20:20:43.7368889Z",
          "Temperature": {
            "lastUpdateTime": "2022-06-10T20:20:43.7368889Z"
          },
          "Humidity": {
            "lastUpdateTime": "2022-06-10T20:20:43.7368889Z"
          },
          "IsOccupied": {
            "lastUpdateTime": "2022-06-10T20:20:43.7368889Z"
          },
          "EmployeeId": {
            "lastUpdateTime": "2022-06-10T20:20:43.7368889Z"
          }
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/roomWithWifiTwin2089794746/components/wifiAccessPoint?api-version=2022-05-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\u00222afb4df8-434a-4c5a-b6a8-5e967d8a34a3\u0022",
        "traceresponse": "00-f035f422f4b68642ad3d1d42f8dc82c2-7b7b37c476012d4c-01"
      },
      "ResponseBody": {
        "RouterName": "Cisco1",
        "Network": "Room1",
        "$metadata": {
          "$lastUpdateTime": "2022-06-10T20:20:43.7368889Z",
          "RouterName": {
            "lastUpdateTime": "2022-06-10T20:20:43.7368889Z"
          },
          "Network": {
            "lastUpdateTime": "2022-06-10T20:20:43.7368889Z"
          }
        }
      }
    },
[...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models/dtmi%3Aexample%3Awifiroom%3B11152?api-version=2022-05-31",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "mise-correlation-id": "63c9fe16-42db-4dac-91d0-7cdb7d4265a4",
        "traceresponse": "00-652f5dc7f2a38f41b0a586cc114fbbab-f9ca6d78a78d634f-01"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models/dtmi%3Aexample%3Awifi%3B141126540?api-version=2022-05-31",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "mise-correlation-id": "8c101945-a53c-4d85-86d7-84de7030242c",
        "traceresponse": "00-d354e148350a48478eea983d2ba44332-d0f9da873a366b4f-01"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DIGITALTWINS_URL": "https://fakeHost.api.wus2.digitaltwins.azure.net",
    "RandomSeed": "1667948179"
  }
}
