{
  "Entries": [
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models/dtmi%3Aexample%3Awifi%3B115046300?includeModelDefinition=true\u0026api-version=2023-02-27-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "723eba52-bc24-4e01-869b-4dd200719838",
        "traceresponse": "00-da655670a0781146a82ec514c3d39de4-d7d86a9ad6ba0ac4-01"
      },
      "ResponseBody": {
        "error": {
          "code": "ModelNotFound",
          "message": "There is no Model(s) available that matches the provided id(s) dtmi:example:wifi;115046300. Check that the Model ID provided is valid by doing a Model_List API call."
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models/dtmi%3Aexample%3Awifiroom%3B11028?includeModelDefinition=true\u0026api-version=2023-02-27-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "2683460c-bbd4-4e9d-9ff8-5827f898e93a",
        "traceresponse": "00-8cf17eaffc9fc9428dc931f8d50e3d4a-0acf86217be0330f-01"
      },
      "ResponseBody": {
        "error": {
          "code": "ModelNotFound",
          "message": "There is no Model(s) available that matches the provided id(s) dtmi:example:wifiroom;11028. Check that the Model ID provided is valid by doing a Model_List API call."
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/roomWithWifiTwin1929951335?api-version=2023-02-27-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "c45323cf-552c-42f1-9e6b-00ad142ab6bd",
        "traceresponse": "00-0123bbbf7ca6a444b244c4d5c0bf3b63-f9e15aa228d0f779-01"
      },
      "ResponseBody": {
        "error": {
          "code": "DigitalTwinNotFound",
          "message": "There is no digital twin instance that exists with the ID roomWithWifiTwin1929951335. Please verify that the twin id is valid and ensure that the twin is not deleted. See section on querying the twins https://aka.ms/adtv2query."
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models?api-version=2023-02-27-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": "[{    \u0022@id\u0022: \u0022dtmi:example:wifiroom;11028\u0022,    \u0022@type\u0022: \u0022Interface\u0022,    \u0022displayName\u0022: \u0022RoomWithWifi\u0022,    \u0022contents\u0022: [        {            \u002[...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models?api-version=2023-02-27-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "a694de4c-e8fe-4416-9d1f-b1bb31ffc7fa",
        "traceresponse": "00-13e986b26ebcd04b8958d27d2c4027f9-40d1a200f44e6bcc-01"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "dtmi:example:Ward;142582203",
            "description": {
              "en": "A separate partition in a building, made of rooms and hallways."
            },
            "displayName": {
              "en": "Ward"
            },
            "decommissioned": false,
            "uploadTime": "2023-01-19T23:58:12.9369753\u002B00:00"
          },
          {
            "id": "dtmi:example:Ward;177753514",
            "description": {
              "en": "A separate partition in a building, made of rooms and hallways."
            },
            "displayName": {
              "en": "Ward"
            },
            "decommissioned": false,
            "uploadTime": "2023-01-19T23:58:12.9483585\u002B00:00"
          },
          {
            "id": "dtmi:example:Ward;160994964",
     [...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/roomWithWifiTwin1929951335?api-version=2023-02-27-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "$dtId": null,
        "$etag": null,
        "Temperature": 80,
        "Humidity": 25,
        "IsOccupied": true,
        "EmployeeId": "Employee1",
        "wifiAccessPoint": {
          "$metadata": {},
          "RouterName": "Cisco1",
          "Network": "Room1"
        },
        "$metadata": {
          "$model": "dtmi:example:wifiroom;11028"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\u0022e19a138b-812f-4049-915f-435fcb060c5c\u0022",
        "mise-correlation-id": "1b92d652-1568-4737-936b-bdd5a8fba48c",
        "traceresponse": "00-2501db191cd06d4ba5ff73dfbc2aa89c-5c15660b8f0e6e62-01"
      },
      "ResponseBody": {
        "$dtId": "roomWithWifiTwin1929951335",
        "$etag": "W/\u0022e19a138b-812f-4049-915f-435fcb060c5c\u0022",
        "Temperature": 80,
        "Humidity": 25,
        "IsOccupied": true,
        "EmployeeId": "Employee1",
        "wifiAccessPoint": {
          "RouterName": "Cisco1",
          "Network": "Room1",
          "$metadata": {
            "$lastUpdateTime": "2023-01-24T01:11:53.3600392Z",
            "RouterName": {
              "lastUpdateTime": "2023-01-24T01:11:53.3600392Z"
            },
            "Network": {
              "lastUpdateTime": "2023-01-24T01:11:53.3600392Z"
            }
          }
        },
        "$metadata": {
          "$model": "dtmi:example:wifiroom;11028",
          "$lastUpdateTime": "2023-01-24T01:11:53.3600392Z",
          "Temperature": {
            "lastUpdateTime": "2023-01-24T01:11:53.3600392Z"
          },
          "Humidity": {
            "lastUpdateTime": "2023-01-24T01:11:53.3600392Z"
          },
          "IsOccupied": {
            "lastUpdateTime": "2023-01-24T01:11:53.3600392Z"
          },
          "EmployeeId": {
            "lastUpdateTime": "2023-01-24T01:11:53.3600392Z"
          }
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/roomWithWifiTwin1929951335/components/wifiAccessPoint?api-version=2023-02-27-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\u0022e19a138b-812f-4049-915f-435fcb060c5c\u0022",
        "mise-correlation-id": "e852e1d9-0df7-46dc-8e95-100fd5480347",
        "traceresponse": "00-cea6ff16e257da44bb0c47f925274889-c76d6ee139a24d56-01"
      },
      "ResponseBody": {
        "RouterName": "Cisco1",
        "Network": "Room1",
        "$metadata": {
          "$lastUpdateTime": "2023-01-24T01:11:53.3600392Z",
          "RouterName": {
            "lastUpdateTime": "2023-01-24T01:11:53.3600392Z"
          },
          "Network": {
            "lastUpdateTime": "2023-01-24T01:11:53.3600392Z"
          }
        }
      }
    },
[...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models/dtmi%3Aexample%3Awifiroom%3B11028?api-version=2023-02-27-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "mise-correlation-id": "5277aa66-1975-45fe-9ba2-db400f0782fb",
        "traceresponse": "00-48f2617d7b0a844db855f399598e5ec6-82aba9457920a64d-01"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models/dtmi%3Aexample%3Awifi%3B115046300?api-version=2023-02-27-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "mise-correlation-id": "1cdd718a-ab2e-472e-a6f9-de3d2c704a7a",
        "traceresponse": "00-647c86f19f41a740818d8820fc057b46-c303c0f4f48f4c03-01"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com/",
    "DIGITALTWINS_URL": "https://fakeHost.api.wus2.digitaltwins.azure.net",
    "RandomSeed": "1262103899"
  }
}
