{
  "Entries": [
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models/dtmi%3Aexample%3Awifi%3B119645626?includeModelDefinition=true\u0026api-version=2023-02-27-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "400eea1f-93e5-4d11-99a8-cdd6dc1e4d8b",
        "traceresponse": "00-dca272017702274a860c805fa7b21496-8b78f1aeabdcf3e8-01"
      },
      "ResponseBody": {
        "error": {
          "code": "ModelNotFound",
          "message": "There is no Model(s) available that matches the provided id(s) dtmi:example:wifi;119645626. Check that the Model ID provided is valid by doing a Model_List API call."
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models/dtmi%3Aexample%3Awifiroom%3B11913?includeModelDefinition=true\u0026api-version=2023-02-27-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "6406bbad-756f-4ef2-9879-4b1a853f589e",
        "traceresponse": "00-4ef8215d5782b04ebcf8d0d77ba5f471-4af6a6d6b747f0d5-01"
      },
      "ResponseBody": {
        "error": {
          "code": "ModelNotFound",
          "message": "There is no Model(s) available that matches the provided id(s) dtmi:example:wifiroom;11913. Check that the Model ID provided is valid by doing a Model_List API call."
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/roomWithWifiTwin2064892926?api-version=2023-02-27-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "55901f0f-9f9d-4765-b13b-da317f5ad9fc",
        "traceresponse": "00-7780288e661e9c4ebfadba28b08ea3a8-ae8c06a77b334a6c-01"
      },
      "ResponseBody": {
        "error": {
          "code": "DigitalTwinNotFound",
          "message": "There is no digital twin instance that exists with the ID roomWithWifiTwin2064892926. Please verify that the twin id is valid and ensure that the twin is not deleted. See section on querying the twins https://aka.ms/adtv2query."
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models?api-version=2023-02-27-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": "[{    \u0022@id\u0022: \u0022dtmi:example:wifiroom;11913\u0022,    \u0022@type\u0022: \u0022Interface\u0022,    \u0022displayName\u0022: \u0022RoomWithWifi\u0022,    \u0022contents\u0022: [        {            \u002[...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models?api-version=2023-02-27-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "f13bd216-f8ce-4ab4-bfad-a41d19cc36da",
        "traceresponse": "00-d3d10e3b87f9904591cd32fcb6831b7e-eacb0c4cee5e4ec2-01"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "dtmi:example:room;113146068",
            "description": {
              "en": "An enclosure inside a building."
            },
            "displayName": {
              "en": "Room"
            },
            "decommissioned": false,
            "uploadTime": "2023-02-15T17:42:08.2255171\u002B00:00"
          },
          {
            "id": "dtmi:example:room;130376293",
            "description": {
              "en": "An enclosure inside a building."
            },
            "displayName": {
              "en": "Room"
            },
            "decommissioned": false,
            "uploadTime": "2023-02-15T17:42:08.3082608\u002B00:00"
          },
          {
            "id": "dtmi:example:Ward;111396979",
            "description": {
        [...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/roomWithWifiTwin2064892926?api-version=2023-02-27-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "$dtId": null,
        "$etag": null,
        "Temperature": 80,
        "Humidity": 25,
        "IsOccupied": true,
        "EmployeeId": "Employee1",
        "wifiAccessPoint": {
          "$metadata": {},
          "RouterName": "Cisco1",
          "Network": "Room1"
        },
        "$metadata": {
          "$model": "dtmi:example:wifiroom;11913"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\u0022fadeb0c1-2421-4809-9f6c-55bed3606d1b\u0022",
        "mise-correlation-id": "466fb151-0b3d-49c7-8be3-141cd68af55b",
        "traceresponse": "00-7ffab47ed29cad478a6c9dd3813f930a-78c2cc460fdce359-01"
      },
      "ResponseBody": {
        "$dtId": "roomWithWifiTwin2064892926",
        "$etag": "W/\u0022fadeb0c1-2421-4809-9f6c-55bed3606d1b\u0022",
        "Temperature": 80,
        "Humidity": 25,
        "IsOccupied": true,
        "EmployeeId": "Employee1",
        "wifiAccessPoint": {
          "RouterName": "Cisco1",
          "Network": "Room1",
          "$metadata": {
            "$lastUpdateTime": "2023-02-15T18:25:30.7960695Z",
            "RouterName": {
              "lastUpdateTime": "2023-02-15T18:25:30.7960695Z"
            },
            "Network": {
              "lastUpdateTime": "2023-02-15T18:25:30.7960695Z"
            }
          }
        },
        "$metadata": {
          "$model": "dtmi:example:wifiroom;11913",
          "$lastUpdateTime": "2023-02-15T18:25:30.7960695Z",
          "Temperature": {
            "lastUpdateTime": "2023-02-15T18:25:30.7960695Z"
          },
          "Humidity": {
            "lastUpdateTime": "2023-02-15T18:25:30.7960695Z"
          },
          "IsOccupied": {
            "lastUpdateTime": "2023-02-15T18:25:30.7960695Z"
          },
          "EmployeeId": {
            "lastUpdateTime": "2023-02-15T18:25:30.7960695Z"
          }
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/roomWithWifiTwin2064892926/components/wifiAccessPoint?api-version=2023-02-27-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\u0022fadeb0c1-2421-4809-9f6c-55bed3606d1b\u0022",
        "mise-correlation-id": "fcc0ef1e-062d-4e4d-bebc-dc44762e0173",
        "traceresponse": "00-657704fde4d4be4c853b66f3a98a10fa-0d3a155d93bc1480-01"
      },
      "ResponseBody": {
        "RouterName": "Cisco1",
        "Network": "Room1",
        "$metadata": {
          "$lastUpdateTime": "2023-02-15T18:25:30.7960695Z",
          "RouterName": {
            "lastUpdateTime": "2023-02-15T18:25:30.7960695Z"
          },
          "Network": {
            "lastUpdateTime": "2023-02-15T18:25:30.7960695Z"
          }
        }
      }
    },
[...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models/dtmi%3Aexample%3Awifiroom%3B11913?api-version=2023-02-27-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "mise-correlation-id": "302b0b22-49d2-4edf-bf84-74b617c32e10",
        "traceresponse": "00-9fe8a52033cc32449cf5832552f601d4-c38677d7550c5629-01"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models/dtmi%3Aexample%3Awifi%3B119645626?api-version=2023-02-27-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "mise-correlation-id": "2ac083d8-041b-4a19-9062-33e5bb43827f",
        "traceresponse": "00-8c8f3c943ed161418d87bcded59fdd02-31438ccd4704495d-01"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com/",
    "DIGITALTWINS_URL": "https://fakeHost.api.wus2.digitaltwins.azure.net",
    "RandomSeed": "387437501"
  }
}
