{
  "Entries": [
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models/dtmi%3Aexample%3Awifi%3B169970552?includeModelDefinition=true\u0026api-version=2023-02-27-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "a2ec0337-f7b5-479d-95c2-3e61339994a2",
        "traceresponse": "00-74bcf74fa8b0e64ba8f1fd9aaed971a6-6f044a7b5a49f151-01"
      },
      "ResponseBody": {
        "error": {
          "code": "ModelNotFound",
          "message": "There is no Model(s) available that matches the provided id(s) dtmi:example:wifi;169970552. Check that the Model ID provided is valid by doing a Model_List API call."
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models/dtmi%3Aexample%3Awifiroom%3B19188?includeModelDefinition=true\u0026api-version=2023-02-27-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "d4c7890b-6c60-4954-ac0e-519e0f69931f",
        "traceresponse": "00-61611aa03a52ff46a2090ddf0509371a-9563fe0d1bc2c913-01"
      },
      "ResponseBody": {
        "error": {
          "code": "ModelNotFound",
          "message": "There is no Model(s) available that matches the provided id(s) dtmi:example:wifiroom;19188. Check that the Model ID provided is valid by doing a Model_List API call."
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/roomWithWifiTwin117278482?api-version=2023-02-27-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "0385a161-e073-4fdd-a3fa-c56188225832",
        "traceresponse": "00-3df7ff8a8920a24ca9d3f4e3007987e7-a0f5e1057a382bc7-01"
      },
      "ResponseBody": {
        "error": {
          "code": "DigitalTwinNotFound",
          "message": "There is no digital twin instance that exists with the ID roomWithWifiTwin117278482. Please verify that the twin id is valid and ensure that the twin is not deleted. See section on querying the twins https://aka.ms/adtv2query."
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models?api-version=2023-02-27-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": "[{    \u0022@id\u0022: \u0022dtmi:example:wifiroom;19188\u0022,    \u0022@type\u0022: \u0022Interface\u0022,    \u0022displayName\u0022: \u0022RoomWithWifi\u0022,    \u0022contents\u0022: [        {            \u002[...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models?api-version=2023-02-27-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "b6d2d992-61f0-4171-89f8-3266f49f0073",
        "traceresponse": "00-f4d82a85e23e244087a0e46216515504-d9b04153c6d36365-01"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "dtmi:example:room;113146068",
            "description": {
              "en": "An enclosure inside a building."
            },
            "displayName": {
              "en": "Room"
            },
            "decommissioned": false,
            "uploadTime": "2023-02-15T17:42:08.2255171\u002B00:00"
          },
          {
            "id": "dtmi:example:room;130376293",
            "description": {
              "en": "An enclosure inside a building."
            },
            "displayName": {
              "en": "Room"
            },
            "decommissioned": false,
            "uploadTime": "2023-02-15T17:42:08.3082608\u002B00:00"
          },
          {
            "id": "dtmi:example:Ward;111396979",
            "description": {
        [...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/roomWithWifiTwin117278482?api-version=2023-02-27-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "$dtId": null,
        "$etag": null,
        "Temperature": 80,
        "Humidity": 25,
        "IsOccupied": true,
        "EmployeeId": "Employee1",
        "wifiAccessPoint": {
          "$metadata": {},
          "RouterName": "Cisco1",
          "Network": "Room1"
        },
        "$metadata": {
          "$model": "dtmi:example:wifiroom;19188"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\u0022c380c1fb-4fa5-4eb5-a42e-b430d4731618\u0022",
        "mise-correlation-id": "7e1076ea-dd50-443d-b342-a2baa592c865",
        "traceresponse": "00-a98c09ab1fe3f640bf1a03b64d479c18-37454686b406906e-01"
      },
      "ResponseBody": {
        "$dtId": "roomWithWifiTwin117278482",
        "$etag": "W/\u0022c380c1fb-4fa5-4eb5-a42e-b430d4731618\u0022",
        "Temperature": 80,
        "Humidity": 25,
        "IsOccupied": true,
        "EmployeeId": "Employee1",
        "wifiAccessPoint": {
          "RouterName": "Cisco1",
          "Network": "Room1",
          "$metadata": {
            "$lastUpdateTime": "2023-02-15T18:25:36.7631801Z",
            "RouterName": {
              "lastUpdateTime": "2023-02-15T18:25:36.7631801Z"
            },
            "Network": {
              "lastUpdateTime": "2023-02-15T18:25:36.7631801Z"
            }
          }
        },
        "$metadata": {
          "$model": "dtmi:example:wifiroom;19188",
          "$lastUpdateTime": "2023-02-15T18:25:36.7631801Z",
          "Temperature": {
            "lastUpdateTime": "2023-02-15T18:25:36.7631801Z"
          },
          "Humidity": {
            "lastUpdateTime": "2023-02-15T18:25:36.7631801Z"
          },
          "IsOccupied": {
            "lastUpdateTime": "2023-02-15T18:25:36.7631801Z"
          },
          "EmployeeId": {
            "lastUpdateTime": "2023-02-15T18:25:36.7631801Z"
          }
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/roomWithWifiTwin117278482/components/wifiAccessPoint?api-version=2023-02-27-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\u0022c380c1fb-4fa5-4eb5-a42e-b430d4731618\u0022",
        "mise-correlation-id": "62f165f6-897e-4744-9698-34bb000f413f",
        "traceresponse": "00-6184ae6e9c8c3943bc572d76d8834ee7-cf416ac667dd34a3-01"
      },
      "ResponseBody": {
        "RouterName": "Cisco1",
        "Network": "Room1",
        "$metadata": {
          "$lastUpdateTime": "2023-02-15T18:25:36.7631801Z",
          "RouterName": {
            "lastUpdateTime": "2023-02-15T18:25:36.7631801Z"
          },
          "Network": {
            "lastUpdateTime": "2023-02-15T18:25:36.7631801Z"
          }
        }
      }
    },
[...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/roomWithWifiTwin117278482/components/wifiAccessPoint?api-version=2023-02-27-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json-patch\u002Bjson",
        "If-Match": "W/\u0022bd506c66-8720-446f-9600-61e5cc3c6c5f\u0022"
      },
      "RequestBody": "[]",
      "StatusCode": 204,
      "ResponseHeaders": {
        "mise-correlation-id": "a836fe80-a180-4991-91d1-c819efabd351",
        "traceresponse": "00-a76a51b30cf7ff42b65920cacdabc80e-4c17a7b1d578ff5b-01"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models/dtmi%3Aexample%3Awifiroom%3B19188?api-version=2023-02-27-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "mise-correlation-id": "6e59bf20-6e5f-4a58-b91e-3b7b083ae60b",
        "traceresponse": "00-ef1ad49717eed149b553554ac1de788e-bf96a60aa9618dbd-01"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models/dtmi%3Aexample%3Awifi%3B169970552?api-version=2023-02-27-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "mise-correlation-id": "c9a10109-a8b0-4b66-9f43-ddcdec46a711",
        "traceresponse": "00-8f1549a30b854247a2c5a2109c138085-5ff47167fcd492b3-01"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com/",
    "DIGITALTWINS_URL": "https://fakeHost.api.wus2.digitaltwins.azure.net",
    "RandomSeed": "586774615"
  }
}
