{
  "Entries": [
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models/dtmi%3Aexample%3Awifi%3B121143663?includeModelDefinition=true\u0026api-version=2023-02-27-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "344c9340-39a7-4843-af74-0817275b5cc4",
        "traceresponse": "00-dc36d4eb65f16f449650ab8f61721154-fc32a7cb67239e21-01"
      },
      "ResponseBody": {
        "error": {
          "code": "ModelNotFound",
          "message": "There is no Model(s) available that matches the provided id(s) dtmi:example:wifi;121143663. Check that the Model ID provided is valid by doing a Model_List API call."
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models/dtmi%3Aexample%3Awifiroom%3B12732?includeModelDefinition=true\u0026api-version=2023-02-27-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "8bebbea8-4f3e-4fb7-8f4f-e42c262f64ff",
        "traceresponse": "00-b04d29d62f168e4e94ae4363f5eb2bf4-3080f2ee5840bed4-01"
      },
      "ResponseBody": {
        "error": {
          "code": "ModelNotFound",
          "message": "There is no Model(s) available that matches the provided id(s) dtmi:example:wifiroom;12732. Check that the Model ID provided is valid by doing a Model_List API call."
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/roomWithWifiTwin1976745120?api-version=2023-02-27-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "30b947c3-3881-4bb4-901d-ff1ebc6bf6ce",
        "traceresponse": "00-2aecfb3ff5e8384bb5ab633dacb78f01-5c45279bf7d55c8c-01"
      },
      "ResponseBody": {
        "error": {
          "code": "DigitalTwinNotFound",
          "message": "There is no digital twin instance that exists with the ID roomWithWifiTwin1976745120. Please verify that the twin id is valid and ensure that the twin is not deleted. See section on querying the twins https://aka.ms/adtv2query."
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models?api-version=2023-02-27-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": "[{    \u0022@id\u0022: \u0022dtmi:example:wifiroom;12732\u0022,    \u0022@type\u0022: \u0022Interface\u0022,    \u0022displayName\u0022: \u0022RoomWithWifi\u0022,    \u0022contents\u0022: [        {            \u002[...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models?api-version=2023-02-27-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "f1d437e6-4e36-4371-af6f-866c226ea482",
        "traceresponse": "00-cd0182030af04e4bb5e8e62f5456cca4-c1738a1fb6a6cf5b-01"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "dtmi:example:room;113146068",
            "description": {
              "en": "An enclosure inside a building."
            },
            "displayName": {
              "en": "Room"
            },
            "decommissioned": false,
            "uploadTime": "2023-02-15T17:42:08.2255171\u002B00:00"
          },
          {
            "id": "dtmi:example:room;130376293",
            "description": {
              "en": "An enclosure inside a building."
            },
            "displayName": {
              "en": "Room"
            },
            "decommissioned": false,
            "uploadTime": "2023-02-15T17:42:08.3082608\u002B00:00"
          },
          {
            "id": "dtmi:example:Ward;111396979",
            "description": {
        [...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/roomWithWifiTwin1976745120?api-version=2023-02-27-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "$dtId": null,
        "$etag": null,
        "Temperature": 80,
        "Humidity": 25,
        "IsOccupied": true,
        "EmployeeId": "Employee1",
        "wifiAccessPoint": {
          "$metadata": {},
          "RouterName": "Cisco1",
          "Network": "Room1"
        },
        "$metadata": {
          "$model": "dtmi:example:wifiroom;12732"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\u0022fe558d83-15d4-4e7e-b360-bf8ba2fbdc1b\u0022",
        "mise-correlation-id": "4f992137-7e94-4bda-b696-caac2f81acd4",
        "traceresponse": "00-7e110b64756f23418700c275713964f8-7075229d5db9ce79-01"
      },
      "ResponseBody": {
        "$dtId": "roomWithWifiTwin1976745120",
        "$etag": "W/\u0022fe558d83-15d4-4e7e-b360-bf8ba2fbdc1b\u0022",
        "Temperature": 80,
        "Humidity": 25,
        "IsOccupied": true,
        "EmployeeId": "Employee1",
        "wifiAccessPoint": {
          "RouterName": "Cisco1",
          "Network": "Room1",
          "$metadata": {
            "$lastUpdateTime": "2023-02-15T18:25:33.7299873Z",
            "RouterName": {
              "lastUpdateTime": "2023-02-15T18:25:33.7299873Z"
            },
            "Network": {
              "lastUpdateTime": "2023-02-15T18:25:33.7299873Z"
            }
          }
        },
        "$metadata": {
          "$model": "dtmi:example:wifiroom;12732",
          "$lastUpdateTime": "2023-02-15T18:25:33.7299873Z",
          "Temperature": {
            "lastUpdateTime": "2023-02-15T18:25:33.7299873Z"
          },
          "Humidity": {
            "lastUpdateTime": "2023-02-15T18:25:33.7299873Z"
          },
          "IsOccupied": {
            "lastUpdateTime": "2023-02-15T18:25:33.7299873Z"
          },
          "EmployeeId": {
            "lastUpdateTime": "2023-02-15T18:25:33.7299873Z"
          }
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/roomWithWifiTwin1976745120/components/wifiAccessPoint?api-version=2023-02-27-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\u0022fe558d83-15d4-4e7e-b360-bf8ba2fbdc1b\u0022",
        "mise-correlation-id": "dad5fe65-9bf8-44e3-9d49-29aceac413aa",
        "traceresponse": "00-654477b2569fb846a2be2b992d43b1b6-68495b47a1ce4b53-01"
      },
      "ResponseBody": {
        "RouterName": "Cisco1",
        "Network": "Room1",
        "$metadata": {
          "$lastUpdateTime": "2023-02-15T18:25:33.7299873Z",
          "RouterName": {
            "lastUpdateTime": "2023-02-15T18:25:33.7299873Z"
          },
          "Network": {
            "lastUpdateTime": "2023-02-15T18:25:33.7299873Z"
          }
        }
      }
    },
[...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/roomWithWifiTwin1976745120/components/wifiAccessPoint?api-version=2023-02-27-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json-patch\u002Bjson",
        "If-Match": "W/\u0022fe558d83-15d4-4e7e-b360-bf8ba2fbdc1b\u0022"
      },
      "RequestBody": "[{\u0022op\u0022:\u0022replace\u0022,\u0022path\u0022:\u0022/Network\u0022,\u0022value\u0022:\u0022Even newer Network\u0022}]",
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "5459cf0a-7b32-49eb-8750-266ef818acac",
        "traceresponse": "00-af283e9f241d4742afa5dd17d1f70877-f650e30866b3888b-01"
      },
      "ResponseBody": {
        "error": {
          "code": "PreconditionFailed",
          "message": "The provided etag W/\u0022fe558d83-15d4-4e7e-b360-bf8ba2fbdc1b\u0022 doesn\u0027t match the current etag for the resource. Please obtain and provide the latest etag by getting the resource. See section on get apis in the documentation https://aka.ms/adtv2twins."
        }
      }
    },
[...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models/dtmi%3Aexample%3Awifiroom%3B12732?api-version=2023-02-27-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "mise-correlation-id": "d7375bcc-869d-41c5-9681-85248c70cfc8",
        "traceresponse": "00-b99cb15d185ac1488e7d59c1af9fdf89-485408d0859c8c63-01"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models/dtmi%3Aexample%3Awifi%3B121143663?api-version=2023-02-27-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "mise-correlation-id": "1b01dfd4-8481-4726-8f7a-694dfda5da39",
        "traceresponse": "00-29f8a3abcef2684e83e7c95dbdf8352e-f700693ac6e8d2d0-01"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com/",
    "DIGITALTWINS_URL": "https://fakeHost.api.wus2.digitaltwins.azure.net",
    "RandomSeed": "1954404357"
  }
}
