{
  "Entries": [
    {
      "RequestUri": "/1273adef-00a3-4086-a51a-dbcce1857d36/groups?api-version=1.6",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"displayName\": \"adgroup6831\",\r\n  \"mailNickname\": \"adgroup6831tester\",\r\n  \"mailEnabled\": false,\r\n  \"securityEnabled\": true\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://graph.windows.net/1273adef-00a3-4086-a51a-dbcce1857d36/$metadata#directoryObjects/Microsoft.DirectoryServices.Group/@Element\",\r\n  \"odata.type\": \"Microsoft.DirectoryServices.Group\",\r\n  \"objectType\": \"Group\",\r\n  \"objectId\": \"ffc311cf-03cb-424d-90eb-cbe89273e9c6\",\r\n  \"deletionTimestamp\": null,\r\n  \"description\": null,\r\n  \"dirSyncEnabled\": null,\r\n  \"displayName\": \"adgroup6831\",\r\n  \"lastDirSyncTime\": null,\r\n  \"mail\": null,\r\n  \"mailNickname\": \"adgroup6831tester\",\r\n  \"mailEnabled\": false,\r\n  \"onPremisesSecurityIdentifier\": null,\r\n  \"provisioningErrors\": [],\r\n  \"proxyAddresses\": [],\r\n  \"securityEnabled\": true\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; odata=minimalmetadata; streaming=true; charset=utf-8"
        ],
        "Location": [
          "https://graph.windows.net/1273adef-00a3-4086-a51a-dbcce1857d36/directoryObjects/ffc311cf-03cb-424d-90eb-cbe89273e9c6/Microsoft.DirectoryServices.Group"
        ],
        "ocp-aad-diagnostics-server-name": [
          "+g9S9df1eU79iMfVZ0psO4Vd6TCUCddyFguh8uT50fw="
        ],
        "x-ms-dirapi-data-contract-version": [
          "1.6"
        ],
        "ocp-aad-session-key": [
          "PuPDp__C8cPJE2Mo6XZcca-8_Fx2KdKao1Fr8kkI5VmPnV8rjFlNjjxYH_KXb5tOZmeRgomkud8DAF_TM6l6VDboisfrMoOmgM4NpESl1hWlOXMws4XVOqE0MSncs4DwnC6MSRdb-SPDqRYZM0_dXUt7NzafjHsKumawufSaiJdZDcZE0o8-J2e63fz8SXSoFR0XbHmDrhlM2Srt_MOyjg.a_Xa-_qtRpDZKLNSlkskP_YMhU0282E7i6C_cRN6QlI"
        ],
        "DataServiceVersion": [
          "3.0;"
        ],
        "Duration": [
          "3027934"
        ]
      },
      "StatusCode": 201
    },
    {
      "RequestUri": "/1273adef-00a3-4086-a51a-dbcce1857d36/groups/ffc311cf-03cb-424d-90eb-cbe89273e9c6?api-version=1.6",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "ocp-aad-diagnostics-server-name": [
          "VfUsEwfVIt6kKxw4w3DIj7NdfHZq0I7s9UKQB+zebI0="
        ],
        "x-ms-dirapi-data-contract-version": [
          "1.6"
        ],
        "ocp-aad-session-key": [
          "gpCsN5b2OFgjxB1CNX0gcH3o1DiKFXnp4eYSxS0DeP7NDCTK8k-cLX64L5t6eniQ-YYQ6vluzYqZr8xvOqrYkWEv-cbyMiGX8SzM9rp50aZU89-3jN3bOYPse0yLUcpyL6fl-vi0jS60kNEyAPgLSxIQPEYq1neIOUemYFJJ98fmbdiyzp1-tCE0PgK_NTP2FypcwBd41w2eQK5M_s31GA._QrrgGWmcatOzHjebNqjzqD16xdMtqXFLz_wH1E8EYM"
        ],
        "DataServiceVersion": [
          "1.0;"
        ],
        "Duration": [
          "2853877"
        ]
      },
      "StatusCode": 204
    },
    {
      "RequestUri": "/1273adef-00a3-4086-a51a-dbcce1857d36/groups/ffc311cf-03cb-424d-90eb-cbe89273e9c6?api-version=1.6",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"odata.error\": {\r\n    \"code\": \"Request_ResourceNotFound\",\r\n    \"message\": {\r\n      \"lang\": \"en\",\r\n      \"value\": \"Resource 'ffc311cf-03cb-424d-90eb-cbe89273e9c6' does not exist or one of its queried reference-property objects are not present.\"\r\n    }\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; odata=minimalmetadata; charset=utf-8"
        ],
        "ocp-aad-diagnostics-server-name": [
          "OJEDlpO1nWkFXNc0DSj2m0k+EJetYq/Grjd02KZTLl8="
        ],
        "x-ms-dirapi-data-contract-version": [
          "1.6"
        ],
        "ocp-aad-session-key": [
          "oJFD4NoTdGkYQoWTDawAX0E5EvI6yUvph3VBYARAj7LHTpTHPSOgEnWXSXnh2QpgQMZwwFqkamG-PO51hWg7KUhgLar0JJrrSx0mf0COrTHqp90Pa4wY9K15uVhymjyd3ami_dE1nIyCa_hh5EMvc0YXGBQUEojfdI51ecZkM51Y-eciOxLB8JSQKoQ47rDBIwwPyNUHNFar4LrzZMk21A.IwCxayYoEFEy6sdSNBcukRlwHlRMf82AdFYMiEzhkVU"
        ],
        "Duration": [
          "964891"
        ]
      },
      "StatusCode": 404
    }
  ],
  "Names": {
    "CreateGroup": [
      "adgroup6831"
    ]
  },
  "Variables": {
    "SubscriptionId": "4004a9fd-d58e-48dc-aeb2-4a4aec58606f",
    "TenantId": "1273adef-00a3-4086-a51a-dbcce1857d36",
    "Domain": "rbacclitest.onmicrosoft.com"
  }
}