{
  "Entries": [
    {
      "RequestUri": "/luis/authoring/v3.0-preview/apps/customprebuiltdomains",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"domainName\": \"Calendar\",\r\n  \"culture\": \"en-us\"\r\n}",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": [
          "120f721e60454544a884022b1bc988a5"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Location": [
          "https://westus.api.cognitive.microsoft.com/luis/api/v3.0-preview/apps/customprebuiltdomains/43933e78-a4ad-4aee-a9d3-9707ee95ec23"
        ],
        "Operation-Location": [
          "https://westus.api.cognitive.microsoft.com/luis/api/v3.0-preview/apps/customprebuiltdomains/43933e78-a4ad-4aee-a9d3-9707ee95ec23"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "\"43933e78-a4ad-4aee-a9d3-9707ee95ec23\"",
      "StatusCode": 201
    },
    {
      "RequestUri": "/luis/authoring/v3.0-preview/apps/43933e78-a4ad-4aee-a9d3-9707ee95ec23?force=false",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": [
          "120f721e60454544a884022b1bc988a5"
        ]
      },
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"code\": \"Success\",\r\n  \"message\": \"Operation Successful\"\r\n}",
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {}
}