{
  "Entries": [
    {
      "RequestUri": "/luis/authoring/v3.0-preview/apps/usagescenarios",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": [
          "120f721e60454544a884022b1bc988a5"
        ]
      },
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "[\r\n  \"IoT\",\r\n  \"Bot\",\r\n  \"Mobile Application\",\r\n  \"Other\"\r\n]",
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {}
}