{
  "Entries": [
    {
      "RequestUri": "/luis/api/v2.0/apps/3327b33c-35df-40d0-a661-c9ade29da239/publish",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"versionId\": \"0.1\",\r\n  \"isStaging\": false\r\n}",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": [
          "62b834e0069943d9b035f32abd230359"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"versionId\": \"0.1\",\r\n  \"directVersionPublish\": false,\r\n  \"endpointUrl\": \"https://westus.api.cognitive.microsoft.com/luis/v2.0/apps/3327b33c-35df-40d0-a661-c9ade29da239\",\r\n  \"isStaging\": false,\r\n  \"assignedEndpointKey\": null,\r\n  \"region\": \"westus\",\r\n  \"endpointRegion\": \"westus\",\r\n  \"publishedDateTime\": \"2019-08-25T19:16:38Z\",\r\n  \"failedRegions\": \"\"\r\n}",
      "StatusCode": 201
    }
  ],
  "Names": {},
  "Variables": {}
}