{
  "Entries": [
    {
      "RequestUri": "/luis/api/v2.0/apps/",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"culture\": \"en-us\",\r\n  \"domain\": \"Comics\",\r\n  \"description\": \"New LUIS App\",\r\n  \"usageScenario\": \"IoT\",\r\n  \"name\": \"LUIS App to be renamed\"\r\n}",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": [
          "62b834e0069943d9b035f32abd230359"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Location": [
          "https://westus.api.cognitive.microsoft.com/luis/api/v2.0/apps/32f05068-4265-4e3a-a4ba-2b59800e4ab2"
        ],
        "Operation-Location": [
          "https://westus.api.cognitive.microsoft.com/luis/api/v2.0/apps/32f05068-4265-4e3a-a4ba-2b59800e4ab2"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "\"32f05068-4265-4e3a-a4ba-2b59800e4ab2\"",
      "StatusCode": 201
    },
    {
      "RequestUri": "/luis/api/v2.0/apps/32f05068-4265-4e3a-a4ba-2b59800e4ab2",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"name\": \"LUIS App name updated\",\r\n  \"description\": \"LUIS App description updated\"\r\n}",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": [
          "62b834e0069943d9b035f32abd230359"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"code\": \"Success\",\r\n  \"message\": \"Operation Successful\"\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/luis/api/v2.0/apps/32f05068-4265-4e3a-a4ba-2b59800e4ab2",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": [
          "62b834e0069943d9b035f32abd230359"
        ]
      },
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"32f05068-4265-4e3a-a4ba-2b59800e4ab2\",\r\n  \"name\": \"LUIS App name updated\",\r\n  \"description\": \"LUIS App description updated\",\r\n  \"culture\": \"en-us\",\r\n  \"usageScenario\": \"IoT\",\r\n  \"domain\": \"Comics\",\r\n  \"versionsCount\": 1,\r\n  \"createdDateTime\": \"2019-08-25T19:16:41Z\",\r\n  \"endpoints\": {},\r\n  \"endpointHitsCount\": 0,\r\n  \"activeVersion\": \"0.1\",\r\n  \"ownerEmail\": \"a-omsami@microsoft.com\",\r\n  \"tokenizerVersion\": \"1.0.0\"\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/luis/api/v2.0/apps/32f05068-4265-4e3a-a4ba-2b59800e4ab2?force=false",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": [
          "62b834e0069943d9b035f32abd230359"
        ]
      },
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"code\": \"Success\",\r\n  \"message\": \"Operation Successful\"\r\n}",
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {}
}