{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/b0f278e1-1f18-4378-84d7-b44dfa708665?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "id": "/subscriptions/b0f278e1-1f18-4378-84d7-b44dfa708665",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "subscriptionId": "b0f278e1-1f18-4378-84d7-b44dfa708665",
        "tenantId": "f1a380c7-4edb-405c-9ffb-015823f5b32c",
        "displayName": "PayG-UK-03-09-2021",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Public_2014-09-01",
          "quotaId": "PayAsYouGo_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/tenants?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-tenant-reads": "11999"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/tenants/f1a380c7-4edb-405c-9ffb-015823f5b32c",
            "tenantId": "f1a380c7-4edb-405c-9ffb-015823f5b32c",
            "tenantCategory": "Home"
          }
        ]
      }
    },
    {
      "RequestUri": "https://management.azure.com/providers/Microsoft.Capacity/reservationOrders/55940ea5-f1ab-4dc6-804e-44ffe25c6769?api-version=2022-03-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-tenant-reads": "11998"
      },
      "ResponseBody": {
        "id": "/providers/microsoft.capacity/reservationOrders/55940ea5-f1ab-4dc6-804e-44ffe25c6769",
        "type": "Microsoft.Capacity/reservationOrders",
        "name": "55940ea5-f1ab-4dc6-804e-44ffe25c6769",
        "etag": 9,
        "properties": {
          "displayName": "testVM123",
          "requestDateTime": "2022-05-27T00:20:37.1221873Z",
          "createdDateTime": "2022-05-27T00:24:49.6860953Z",
          "expiryDate": "2023-05-27",
          "benefitStartTime": "2022-05-27T00:24:49.3571379Z",
          "term": "P1Y",
          "provisioningState": "Succeeded",
          "reservations": [
            {
              "id": "/providers/microsoft.capacity/reservationOrders/55940ea5-f1ab-4dc6-804e-44ffe25c6769/reservations/94d889a8-f0dd-42c2-adb3-bad2870240c0"
            }
          ],
          "originalQuantity": 10,
          "billingPlan": "Upfront"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/providers/Microsoft.Capacity/reservationOrders/55940ea5-f1ab-4dc6-804e-44ffe25c6769/reservations/94d889a8-f0dd-42c2-adb3-bad2870240c0?api-version=2022-03-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-tenant-reads": "11997"
      },
      "ResponseBody": {
        "sku": {
          "name": "Standard_B1ls"
        },
        "id": "/providers/microsoft.capacity/reservationOrders/55940ea5-f1ab-4dc6-804e-44ffe25c6769/reservations/94d889a8-f0dd-42c2-adb3-bad2870240c0",
        "type": "Microsoft.Capacity/reservationOrders/reservations",
        "name": "55940ea5-f1ab-4dc6-804e-44ffe25c6769/94d889a8-f0dd-42c2-adb3-bad2870240c0",
        "etag": 9,
        "location": "westus",
        "properties": {
          "appliedScopeType": "Shared",
          "quantity": 10,
          "provisioningState": "Succeeded",
          "expiryDate": "2023-05-27",
          "benefitStartTime": "2022-05-27T00:24:49.3571379Z",
          "displayName": "testVM123",
          "effectiveDateTime": "2022-05-27T00:24:49.6860953Z",
          "lastUpdatedDateTime": "2022-05-27T00:24:49.6860953Z",
          "reservedResourceType": "VirtualMachines",
          "instanceFlexibility": "On",
          "skuDescription": "Reserved VM Instance, Standard_B1ls, US West, 1 Year",
          "renew": false,
          "term": "P1Y",
          "billingScopeId": "/subscriptions/b0f278e1-1f18-4378-84d7-b44dfa708665",
          "billingPlan": "Upfront",
          "archived": false
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/providers/Microsoft.Capacity/reservationOrders/55940ea5-f1ab-4dc6-804e-44ffe25c6769/split?api-version=2022-03-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "quantities": [
            1,
            9
          ],
          "reservationId": "/providers/microsoft.capacity/reservationOrders/55940ea5-f1ab-4dc6-804e-44ffe25c6769/reservations/94d889a8-f0dd-42c2-adb3-bad2870240c0"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/providers/Microsoft.Capacity/reservationorders/55940ea5-f1ab-4dc6-804e-44ffe25c6769/splitoperationresults/94d889a8-f0dd-42c2-adb3-bad2870240c0_10?api-version=2022-03-01",
        "Retry-After": "10",
        "x-ms-ratelimit-remaining-tenant-writes": "1199",
        "x-ms-test": "{\u0022contact\u0022:\u0022sornaks\u0022,\u0022scenarios\u0022:\u0022MultiCurrencyTesting\u0022,\u0022retention\u0022:\u00228/25/2022 12:20:34 AM\u0022}"
      },
      "ResponseBody": "[{\u0022sku\u0022:{\u0022name\u0022:\u0022Standard_B1ls\u0022},\u0022id\u0022:\u0022/providers/microsoft.capacity/reservationOrders/55940ea5-f1ab-4dc6-804e-44ffe25c6769/reservations/d9ebfc49-434f-44fc-8674-5fc2308a9172/revisions/2\u0022,\u0022type\u0022:\u0022Microsoft.Capacity/reservationOrders/reservations/re[...]
    {
      "RequestUri": "https://management.azure.com/providers/Microsoft.Capacity/reservationorders/55940ea5-f1ab-4dc6-804e-44ffe25c6769/splitoperationresults/94d889a8-f0dd-42c2-adb3-bad2870240c0_10?api-version=2022-03-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining[...]
