{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/aaaaaaaa-bbbb-cccc-dddd-eeeeeeeeeeee?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11998"
      },
      "ResponseBody": {
        "id": "/subscriptions/aaaaaaaa-bbbb-cccc-dddd-eeeeeeeeeeee",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "subscriptionId": "aaaaaaaa-bbbb-cccc-dddd-eeeeeeeeeeee",
        "tenantId": "f1a380c7-4edb-405c-9ffb-015823f5b32c",
        "displayName": "PayG-UK-03-09-2021",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Public_2014-09-01",
          "quotaId": "PayAsYouGo_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/tenants?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-tenant-reads": "11999"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/tenants/f1a380c7-4edb-405c-9ffb-015823f5b32c",
            "tenantId": "f1a380c7-4edb-405c-9ffb-015823f5b32c",
            "tenantCategory": "Home"
          }
        ]
      }
    },
    {
      "RequestUri": "https://management.azure.com/providers/Microsoft.Capacity/reservationOrders/8c8a563e-a762-4872-a3ea-4d6bfd9efdc0?api-version=2022-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-tenant-reads": "11998",
        "x-ms-version": "1.0.2251.115"
      },
      "ResponseBody": {
        "id": "/providers/microsoft.capacity/reservationOrders/8c8a563e-a762-4872-a3ea-4d6bfd9efdc0",
        "name": "8c8a563e-a762-4872-a3ea-4d6bfd9efdc0",
        "type": "microsoft.capacity/reservationOrders",
        "etag": 9,
        "properties": {
          "originalQuantity": 3,
          "requestDateTime": "2023-03-10T01:44:36.3622978Z",
          "billingPlan": "Monthly",
          "reservations": [
            {
              "id": "/providers/Microsoft.Capacity/reservationOrders/8c8a563e-a762-4872-a3ea-4d6bfd9efdc0/reservations/d654edef-40f1-48aa-b88a-f2aebff6cba1"
            }
          ],
          "term": "P1Y",
          "displayName": "testVM",
          "createdDateTime": "2023-03-10T03:36:52.536576Z",
          "benefitStartTime": "2023-03-10T03:36:51.7241000Z",
          "provisioningState": "Succeeded",
          "billingAccountId": "/providers/Microsoft.Billing/billingAccounts/61e667a1-0558-45a2-b21a-57fa7893951d",
          "expiryDateTime": "2024-03-10T03:36:51.7241000Z"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/providers/Microsoft.Capacity/reservationOrders/8c8a563e-a762-4872-a3ea-4d6bfd9efdc0/reservations/d654edef-40f1-48aa-b88a-f2aebff6cba1?api-version=2022-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-tenant-reads": "11997",
        "x-ms-version": "1.0.2251.115"
      },
      "ResponseBody": {
        "id": "/providers/microsoft.capacity/reservationOrders/8c8a563e-a762-4872-a3ea-4d6bfd9efdc0/reservations/d654edef-40f1-48aa-b88a-f2aebff6cba1",
        "name": "d654edef-40f1-48aa-b88a-f2aebff6cba1",
        "type": "microsoft.capacity/reservationOrders/reservations",
        "location": "westeurope",
        "etag": 9,
        "sku": {
          "name": "Standard_B1ls"
        },
        "properties": {
          "reservedResourceType": "VirtualMachines",
          "userFriendlyRenewState": "Off",
          "skuDescription": "Reserved VM Instance, Standard_B1ls, EU West, 1 Year",
          "renew": false,
          "archived": false,
          "quantity": 3,
          "appliedScopeType": "Shared",
          "displayName": "testVM",
          "provisioningState": "Succeeded",
          "term": "P1Y",
          "displayProvisioningState": "Succeeded",
          "userFriendlyAppliedScopeType": "Shared",
          "expiryDateTime": "2024-03-10T03:36:51.7241000Z",
          "purchaseDateTime": "2023-03-10T01:44:36.3622978Z",
          "benefitStartTime": "2023-03-10T03:36:51.7241000Z",
          "lastUpdatedDateTime": "2023-03-10T03:36:52.5365760Z",
          "expiryDate": "2024-03-10",
          "purchaseDate": "2023-03-10",
          "effectiveDateTime": "2023-03-10T03:36:52.536576Z",
          "instanceFlexibility": "On",
          "utilization": {
            "trend": "",
            "aggregates": [
              {
                "grain": 1.0,
                "grainUnit": "days",
                "value": 0.0,
                "valueUnit": "percentage"
              },
              {
                "grain": 7.0,
                "grainUnit": "days",
                "value": 0.0,
                "valueUnit": "percentage"
              }
            ]
          },
          "billingPlan": "Monthly",
          "billingScopeId": "/subscriptions/aaaaaaaa-bbbb-cccc-dddd-eeeeeeeeeeee"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/providers/Microsoft.Capacity/reservationOrders/8c8a563e-a762-4872-a3ea-4d6bfd9efdc0/split?api-version=2022-11-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "quantities": [
            1,
            2
          ],
          "reservationId": "/providers/Microsoft.Capacity/reservationOrders/8c8a563e-a762-4872-a3ea-4d6bfd9efdc0/reservations/d654edef-40f1-48aa-b88a-f2aebff6cba1"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/providers/Microsoft.Capacity/reservationorders/8c8a563e-a762-4872-a3ea-4d6bfd9efdc0/splitoperationresults/d654edef-40f1-48aa-b88a-f2aebff6cba1_10?api-version=2022-11-01",
        "Retry-After": "10",
        "x-ms-ratelimit-remaining-tenant-writes": "1199",
        "x-ms-test": "{\u0022contact\u0022:\u0022sornaks\u0022,\u0022scenarios\u0022:\u0022MultiCurrencyTesting\u0022,\u0022retention\u0022:\u00226/8/2023 1:44:26 AM\u0022}"
      },
      "ResponseBody": "[{\u0022sku\u0022:{\u0022name\u0022:\u0022Standard_B1ls\u0022},\u0022id\u0022:\u0022/providers/microsoft.capacity/reservationOrders/8c8a563e-a762-4872-a3ea-4d6bfd9efdc0/reservations/fa66d37f-083d-48b8-9d9c-8890ccda196a/revisions/2\u0022,\u0022type\u0022:\u0022Microsoft.Capacity/reservationOrders/reservations/revi[...]
    {
      "RequestUri": "https://management.azure.com/providers/Microsoft.Capacity/reservationorders/8c8a563e-a762-4872-a3ea-4d6bfd9efdc0/splitoperationresults/d654edef-40f1-48aa-b88a-f2aebff6cba1_10?api-version=2022-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining[...]
