{
  "Entries": [
    {
      "RequestUri": "/0cd40ba3-75d4-4d82-95fe-b4c3ff4fd7e4/services/networking/dedicatedcircuits/serviceproviders?api-version=1.0",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2011-10-01"
        ]
      },
      "ResponseBody": "<DedicatedCircuitServiceProviders xmlns=\"http://schemas.microsoft.com/windowsazure\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n  <DedicatedCircuitServiceProvider>\r\n    <DedicatedCircuitBandwidths>\r\n      <DedicatedCircuitBandwidth>\r\n        <Bandwidth>1</Bandwidth>\r\n        <Label>1Mbps</Label>\r\n      </DedicatedCircuitBandwidth>\r\n      <DedicatedCircuitBandwidth>\r\n        <Bandwidth>50</Bandwidth>\r\n        <Label>50Mbps</Label>\r\n      </DedicatedCircuitBandwidth>\r\n      <DedicatedCircuitBandwidth>\r\n        <Bandwidth>100</Bandwidth>\r\n        <Label>100Mbps</Label>\r\n      </DedicatedCircuitBandwidth>\r\n      <DedicatedCircuitBandwidth>\r\n        <Bandwidth>500</Bandwidth>\r\n        <Label>500Mbps</Label>\r\n      </DedicatedCircuitBandwidth>\r\n      <DedicatedCircuitBandwidth>\r\n        <Bandwidth>1000</Bandwidth>\r\n        <Label>1Gbps</Label>\r\n      </DedicatedCircuitBandwidth>\r\n      <DedicatedCircuitBandwidth>\r\n        <Bandwidth>10000</Bandwidth>\r\n        <Label>10Gbps</Label>\r\n      </DedicatedCircuitBandwidth>\r\n    </DedicatedCircuitBandwidths>\r\n    <DedicatedCircuitLocations>Boydton 1 DC,Des Moines 2 DC,USWest</DedicatedCircuitLocations>\r\n    <Encapsulation>None</Encapsulation>\r\n    <Name>BVTAzureIXP01</Name>\r\n    <Type>IXP</Type>\r\n  </DedicatedCircuitServiceProvider>\r\n  <DedicatedCircuitServiceProvider>\r\n    <DedicatedCircuitBandwidths>\r\n      <DedicatedCircuitBandwidth>\r\n        <Bandwidth>1</Bandwidth>\r\n        <Label>1Mbps</Label>\r\n      </DedicatedCircuitBandwidth>\r\n      <DedicatedCircuitBandwidth>\r\n        <Bandwidth>50</Bandwidth>\r\n        <Label>50Mbps</Label>\r\n      </DedicatedCircuitBandwidth>\r\n      <DedicatedCircuitBandwidth>\r\n        <Bandwidth>100</Bandwidth>\r\n        [...]
    {
      "RequestUri": "/0cd40ba3-75d4-4d82-95fe-b4c3ff4fd7e4/services/networking/dedicatedcircuits?api-version=1.0",
      "RequestMethod": "POST",
      "RequestBody": "<CreateDedicatedCircuit xmlns=\"http://schemas.microsoft.com/windowsazure\">\r\n  <Bandwidth>1</Bandwidth>\r\n  <CircuitName>circuit5725</CircuitName>\r\n  <Location>Location1</Location>\r\n  <ServiceProviderName>BVTTestServiceProvider2</ServiceProviderName>\r\n</CreateDedicatedCircuit>",
      "RequestHeaders": {
        "Content-Type": [
          "application/xml"
        ],
        "x-ms-version": [
          "2011-10-01"
        ]
      },
      "ResponseBody": "<GatewayOperationAsyncResponse xmlns=\"http://schemas.microsoft.com/windowsazure\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n  <ID>616c9ee8-0ca2-0525-a7aa-fcee07f28d26</ID>\r\n</GatewayOperationAsyncResponse>",
      "ResponseHeaders": {
        "Content-Type": [
          "application/xml; charset=utf-8"
        ]
      },
      "StatusCode": 202
    },
    {
      "RequestUri": "/0cd40ba3-75d4-4d82-95fe-b4c3ff4fd7e4/services/networking/operation/616c9ee8-0ca2-0525-a7aa-fcee07f28d26",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2011-10-01"
        ]
      },
      "ResponseBody": "<GatewayOperation xmlns=\"http://schemas.microsoft.com/windowsazure\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n  <ID>616c9ee8-0ca2-0525-a7aa-fcee07f28d26</ID>\r\n  <OperationName>CreateDedicatedCircuit</OperationName>\r\n  <OperationStartedTime>2015-02-24T21:02:48.0059245</OperationStartedTime>\r\n  <Status>InProgress</Status>\r\n</GatewayOperation>",
      "ResponseHeaders": {
        "Content-Type": [
          "application/xml; charset=utf-8"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/0cd40ba3-75d4-4d82-95fe-b4c3ff4fd7e4/services/networking/operation/616c9ee8-0ca2-0525-a7aa-fcee07f28d26",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2011-10-01"
        ]
      },
      "ResponseBody": "<GatewayOperation xmlns=\"http://schemas.microsoft.com/windowsazure\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n  <Data>c1e4c5eb-664f-41bb-a24f-59b1810d7411</Data>\r\n  <HttpStatusCode>OK</HttpStatusCode>\r\n  <ID>616c9ee8-0ca2-0525-a7aa-fcee07f28d26</ID>\r\n  <OperationCompletedTime>2015-02-24T21:02:53.5779844</OperationCompletedTime>\r\n  <OperationName>CreateDedicatedCircuit</OperationName>\r\n  <OperationStartedTime>2015-02-24T21:02:48.0059245</OperationStartedTime>\r\n  <Status>Successful</Status>\r\n</GatewayOperation>",
      "ResponseHeaders": {
        "Content-Type": [
          "application/xml; charset=utf-8"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/81e5b62a-6488-4a10-a9f7-a0cb8b7883a7/services/networking/dedicatedcircuits/c1e4c5eb-664f-41bb-a24f-59b1810d7411/crossconnection?api-version=1.0",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2011-10-01"
        ]
      },
      "ResponseBody": "<GatewayOperationAsyncResponse xmlns=\"http://schemas.microsoft.com/windowsazure\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n  <ID>8dbf6c62-9297-0985-94e1-53a148aeaed3</ID>\r\n</GatewayOperationAsyncResponse>",
      "ResponseHeaders": {
        "Content-Type": [
          "application/xml; charset=utf-8"
        ]
      },
      "StatusCode": 202
    },
[...]
    {
      "RequestUri": "/81e5b62a-6488-4a10-a9f7-a0cb8b7883a7/services/networking/dedicatedcircuits/c1e4c5eb-664f-41bb-a24f-59b1810d7411/crossconnection?api-version=1.0",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2011-10-01"
        ]
      },
      "ResponseBody": "<CrossConnection xmlns=\"http://schemas.microsoft.com/windowsazure\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n  <Bandwidth>1</Bandwidth>\r\n  <PrimaryAzurePort>BVTTestServiceProvider2Device1Port11</PrimaryAzurePort>\r\n  <ProvisioningState>Provisioning</ProvisioningState>\r\n  <STag>5</STag>\r\n  <SecondaryAzurePort>BVTTestServiceProvider2Device2Port11</SecondaryAzurePort>\r\n  <Status>Enabled</Status>\r\n</CrossConnection>",
      "ResponseHeaders": {
        "Content-Type": [
          "application/xml; charset=utf-8"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/81e5b62a-6488-4a10-a9f7-a0cb8b7883a7/services/networking/dedicatedcircuits/c1e4c5eb-664f-41bb-a24f-59b1810d7411/crossconnection?api-version=1.0",
      "RequestMethod": "PUT",
      "RequestBody": "<UpdateCrossConnection xmlns=\"http://schemas.microsoft.com/windowsazure\">\r\n  <Operation>NotifyCrossConnectionProvisioned</Operation>\r\n  <ProvisioningError></ProvisioningError>\r\n</UpdateCrossConnection>",
      "RequestHeaders": {
        "Content-Type": [
          "application/xml"
        ],
        "x-ms-version": [
          "2011-10-01"
        ]
      },
      "ResponseBody": "<GatewayOperationAsyncResponse xmlns=\"http://schemas.microsoft.com/windowsazure\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n  <ID>c7515d6c-71d2-0769-bf3b-7ed9331c6d59</ID>\r\n</GatewayOperationAsyncResponse>",
      "ResponseHeaders": {
        "Content-Type": [
          "application/xml; charset=utf-8"
        ]
      },
      "StatusCode": 202
    },
[...]
    {
      "RequestUri": "/81e5b62a-6488-4a10-a9f7-a0cb8b7883a7/services/networking/operation/c7515d6c-71d2-0769-bf3b-7ed9331c6d59",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2011-10-01"
        ]
      },
      "ResponseBody": "<GatewayOperation xmlns=\"http://schemas.microsoft.com/windowsazure\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n  <HttpStatusCode>OK</HttpStatusCode>\r\n  <ID>c7515d6c-71d2-0769-bf3b-7ed9331c6d59</ID>\r\n  <OperationCompletedTime>2015-02-24T21:04:00.0368355</OperationCompletedTime>\r\n  <OperationName>UpdateCrossConnection</OperationName>\r\n  <OperationStartedTime>2015-02-24T21:03:58.4018304</OperationStartedTime>\r\n  <Status>Successful</Status>\r\n</GatewayOperation>",
      "ResponseHeaders": {
        "Content-Type": [
          "application/xml; charset=utf-8"
        ]
      },
      "StatusCode": 200
    }
  ],
  "Names": {
    "CanCreateGetListAndUpdateCrossConnnections": [
      "circuit5725"
    ]
  },
  "Variables": {
    "SubscriptionId": "0cd40ba3-75d4-4d82-95fe-b4c3ff4fd7e4",
    "TEST_PROVIDER_NAME": "bvttestserviceprovider2",
    "TEST_PROVIDER_MANAGEMENT_CERTIFICATE": "MIIJ5AIBAzCCCaQGCSqGSIb3DQEHAaCCCZUEggmRMIIJjTCCBf4GCSqGSIb3DQEHAaCCBe8EggXrMIIF5zCCBeMGCyqGSIb3DQEMCgECoIIE/jCCBPowHAYKKoZIhvcNAQwBAzAOBAgisfPWwdGGZwICB9AEggTYy9W6n9F6bSD9DlVaxHFzbr3iATwa2YaRR2bI2d/ShXEuW8Q6DVpN2vvlIGqlQq/ecZ2asPMrZHOC/yreeQuEyu5R/sARgmocP03u44WlXNXMQK1nJdP4bvvuFGGc1qLgxOWYD01Gc36TKbo4RdSSA1c0wcaIM6URm6bCESmoMLlAZ9fgKPF3tyyHpdXKhhOAVwQxt8gLP/GRjxoj/6qfPE5iPT0tcRKFxxjTZ5bH4r+EbbQVR1MetK896Qdgdm8HBHkkeYhSWjfhc98EWZDSWqwwwZh3kzSDWkIrjWVmeoNZPjPNQaIqn76M/zUUc1lJXK6LZn1S24VlM+7xaa[...]
