{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.sanitized_label.sanitized_location.geocatalog.spatio.azure.com/stac/collections/naip-atl/configurations?api-version=2025-04-30-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json"
      },
      "ResponseBody": {
        "tileSettings": {
          "minZoom": 6,
          "maxItemsPerTile": 35,
          "defaultLocation": null
        },
        "mosaicInfo": {
          "mosaics": [
            {
              "id": "default",
              "name": "Default",
              "description": "",
              "cql": []
            },
            {
              "id": "mos1",
              "name": "Most recent available",
              "description": "Most recent available imagery in this collection",
              "cql": []
            },
            {
              "id": "test-mosaic-1",
              "name": "Test Most recent available",
              "description": "Most recent available imagery in this collection - updated",
              "cql": []
            }
          ],
          "renderOptions": [
            {
              "id": "natural-color",
              "name": "Natural color",
              "description": "RGB from visual assets",
              "type": "raster-tile",
              "options": "assets=image&asset_bidx=image|1,2,3",
              "vectorOptions": null,
              "minZoom": 6,
              "legend": null,
              "conditions": null
            },
            {
              "id": "test-natural-color",
              "name": "Test Natural color updated",
              "description": "RGB from visual assets - updated",
              "type": "raster-tile",
              "options": "assets=image&asset_bidx=image|1,2,3",
              "vectorOptions": null,
              "minZoom": 6,
              "legend": null,
              "conditions": null
            }
          ],
          "defaultLocation": null,
          "defaultCustomQuery": null
        }
      }
    }
  ],
  "Variables": {
    "PLANETARYCOMPUTER_COLLECTION_ID": "naip-atl",
    "PLANETARYCOMPUTER_ENDPOINT": "https://Sanitized.sanitized_label.sanitized_location.geocatalog.spatio.azure.com",
    "RandomSeed": "1609512431"
  }
}
