{
  "Entries": [
    {
      "RequestUri": "/subscriptions/dbedb4e0-40e6-4145-81f3-f1314c150774/providers/Microsoft.ServiceBus?api-version=2015-11-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/dbedb4e0-40e6-4145-81f3-f1314c150774/providers/Microsoft.ServiceBus\",\r\n  \"namespace\": \"Microsoft.ServiceBus\",\r\n  \"authorizations\": [\r\n    {\r\n      \"applicationId\": \"80a10ef9-8168-493d-abf9-3297c4ef6e3c\",\r\n      \"roleDefinitionId\": \"2b7763f7-bbe2-4e19-befe-28c79f1cf7f7\"\r\n    },\r\n    {\r\n      \"applicationId\": \"eb070ea5-bd17-41f1-ad68-5851f6e71774\"\r\n    }\r\n  ],\r\n  \"resourceTypes\": [\r\n    {\r\n      \"resourceType\": \"namespaces\",\r\n      \"locations\": [\r\n        \"Australia East\",\r\n        \"Australia Southeast\",\r\n        \"Central US\",\r\n        \"East US\",\r\n        \"East US 2\",\r\n        \"West US 2\",\r\n        \"West US\",\r\n        \"North Central US\",\r\n        \"South Central US\",\r\n        \"West Central US\",\r\n        \"East Asia\",\r\n        \"Southeast Asia\",\r\n        \"Brazil South\",\r\n        \"Japan East\",\r\n        \"Japan West\",\r\n        \"North Europe\",\r\n        \"West Europe\",\r\n        \"Central India\",\r\n        \"South India\",\r\n        \"West India\",\r\n        \"Canada Central\",\r\n        \"Canada East\",\r\n        \"UK West\",\r\n        \"UK South\",\r\n        \"Korea Central\",\r\n        \"Korea South\",\r\n        \"France Central\",\r\n        \"South Africa North\",\r\n        \"UAE North\",\r\n        \"Australia Central\",\r\n        \"Switzerland North\",\r\n        \"Germany West Central\",\r\n        \"Norway East\",\r\n        \"Jio India West\",\r\n        \"West US 3\",\r\n        \"Sweden Central\",\r\n        \"Central US EUAP\",\r\n        \"East US 2 EUAP\"\r\n      ],\r\n      \"apiVersions\": [\r\n        \"2022-01-01-preview\",\r\n        \"2021-11-01\",\r\n        \"2021-06-01-preview\",\r\n        \"2021-01-01-preview\",\r\n        \"2018-01-01-preview\",\r\n        \"2017-04-01\",\r\n        \"2015-08-01\",\r\n        \"2014-09-01\"\r\n      ],\r\n      \"capabilities\": \"CrossResourceGroupResourceMove, CrossSubscriptionResourceMove, SystemAssignedResourceIdentity\"\r\n    },\r\n    {\r\n      \"resourceType\": \"namespaces/authorizationrules\",\r\n      \"locations\": [],\r\n      \"apiVersions\": [\r\n        \"2022-01-01-preview\",\r\n        \"2021-11-01\",\r\n        \"2021-06-01-preview\",\r\n        \"2021-01-01-preview\",\r\n        \"2018-01-01-preview\",\r\n        \"2017-04-01\",\r\n        \"2015-08-01\",\r\n        \"2014-09-01\"\r\n      ]\r\n   [...]
    {
      "RequestUri": "/subscriptions/dbedb4e0-40e6-4145-81f3-f1314c150774/resourcegroups?api-version=2015-11-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11998"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/dbedb4e0-40e6-4145-81f3-f1314c150774/resourceGroups/PPGTest0112\",\r\n      \"name\": \"PPGTest0112\",\r\n      \"location\": \"eastus2euap\",\r\n      \"properties\": {\r\n        \"provisioningState\": \"Succeeded\"\r\n      }\r\n    },\r\n    {\r\n      \"id\": \"/subscriptions/dbedb4e0-40e6-4145-81f3-f1314c150774/resourceGroups/v-ajnavtest\",\r\n      \"name\": \"v-ajnavtest\",\r\n      \"location\": \"eastus\",\r\n      \"tags\": {},\r\n      \"properties\": {\r\n        \"provisioningState\": \"Succeeded\"\r\n      }\r\n    },\r\n    {\r\n      \"id\": \"/subscriptions/dbedb4e0-40e6-4145-81f3-f1314c150774/resourceGroups/AzSecPackAutoConfigRG\",\r\n      \"name\": \"AzSecPackAutoConfigRG\",\r\n      \"location\": \"eastus\",\r\n      \"properties\": {\r\n        \"provisioningState\": \"Succeeded\"\r\n      }\r\n    },\r\n    {\r\n      \"id\": \"/subscriptions/dbedb4e0-40e6-4145-81f3-f1314c150774/resourceGroups/cleanupservice\",\r\n      \"name\": \"cleanupservice\",\r\n      \"location\": \"westus\",\r\n      \"tags\": {\r\n        \"What Is Cleanup Service\": \"https://aka.ms/WhatIsCleanupService\"\r\n      },\r\n      \"properties\": {\r\n        \"provisioningState\": \"Succeeded\"\r\n      }\r\n    },\r\n    {\r\n      \"id\": \"/subscriptions/dbedb4e0-40e6-4145-81f3-f1314c150774/resourceGroups/Default-ServiceBus-9817\",\r\n      \"name\": \"Default-ServiceBus-9817\",\r\n      \"location\": \"australiaeast\",\r\n      \"properties\": {\r\n        \"provisioningState\": \"Succeeded\"\r\n      }\r\n    },\r\n    {\r\n      \"id\": \"/subscriptions/dbedb4e0-40e6-4145-81f3-f1314c150774/resourceGroups/alitest\",\r\n      \"name\": \"alitest\",\r\n      \"location\": \"westus\",\r\n      \"properties\": {\r\n        \"provisioningState\": \"Succeeded\"\r\n      }\r\n    }\r\n  ]\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/dbedb4e0-40e6-4145-81f3-f1314c150774/resourceGroups/Default-ServiceBus-9817/providers/Microsoft.ServiceBus/namespaces/sdk-Namespace-839?api-version=2022-01-01-preview",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/dbedb4e0-40e6-4145-81f3-f1314c150774/resourcegroups/Default-ServiceBus-9817/providers/Microsoft.ServiceBus/locations/australiaeast/operationStatus/sdk-Namespace-839?api-version=2022-01-01-preview&resourceType=Namespace"
        ],
        "Server-SB": [
          "Service-Bus-Resource-Provider/SN1"
        ],
        "x-ms-ratelimit-remaining-subscription-deletes": [
          "14998"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 202
    },
[...]
    {
      "RequestUri": "/subscriptions/dbedb4e0-40e6-4145-81f3-f1314c150774/resourceGroups/Default-ServiceBus-9817/providers/Microsoft.ServiceBus/namespaces/sdk-Namespace-1271?api-version=2022-01-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"sku\": {\r\n    \"name\": \"Premium\",\r\n    \"tier\": \"Premium\"\r\n  },\r\n  \"location\": \"Australia East\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Server-SB": [
          "Service-Bus-Resource-Provider/SN1"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"sku\": {\r\n    \"name\": \"Premium\",\r\n    \"tier\": \"Premium\",\r\n    \"capacity\": 1\r\n  },\r\n  \"id\": \"/subscriptions/dbedb4e0-40e6-4145-81f3-f1314c150774/resourceGroups/Default-ServiceBus-9817/providers/Microsoft.ServiceBus/namespaces/sdk-Namespace-1271\",\r\n  \"name\": \"sdk-Namespace-1271\",\r\n  \"type\": \"Microsoft.ServiceBus/Namespaces\",\r\n  \"location\": \"Australia East\",\r\n  \"tags\": {},\r\n  \"properties\": {\r\n    \"minimumTlsVersion\": \"1.2\",\r\n    \"publicNetworkAccess\": \"Enabled\",\r\n    \"disableLocalAuth\": false,\r\n    \"zoneRedundant\": false,\r\n    \"provisioningState\": \"Created\",\r\n    \"metricId\": \"dbedb4e0-40e6-4145-81f3-f1314c150774:sdk-namespace-1271\",\r\n    \"createdAt\": \"2022-07-13T07:22:11.34Z\",\r\n    \"updatedAt\": \"2022-07-13T07:22:11.34Z\",\r\n    \"serviceBusEndpoint\": \"https://sdk-Namespace-1271.servicebus.windows.net:443/\",\r\n    \"status\": \"Activating\"\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/dbedb4e0-40e6-4145-81f3-f1314c150774/resourceGroups/Default-ServiceBus-9817/providers/Microsoft.ServiceBus/namespaces/sdk-Namespace-1271/queues/sdk-Queues-2997?api-version=2022-01-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"maxMessageSizeInKilobytes\": 14336,\r\n    \"enableBatchedOperations\": true\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1198"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/dbedb4e0-40e6-4145-81f3-f1314c150774/resourceGroups/Default-ServiceBus-9817/providers/Microsoft.ServiceBus/namespaces/sdk-Namespace-1271/queues/sdk-Queues-2997\",\r\n  \"name\": \"sdk-Queues-2997\",\r\n  \"type\": \"Microsoft.ServiceBus/Namespaces/Queues\",\r\n  \"location\": \"australiaeast\",\r\n  \"properties\": {\r\n    \"maxMessageSizeInKilobytes\": 14336,\r\n    \"lockDuration\": \"PT1M\",\r\n    \"maxSizeInMegabytes\": 1024,\r\n    \"requiresDuplicateDetection\": false,\r\n    \"requiresSession\": false,\r\n    \"defaultMessageTimeToLive\": \"P10675199DT2H48M5.4775807S\",\r\n    \"deadLetteringOnMessageExpiration\": false,\r\n    \"enableBatchedOperations\": true,\r\n    \"duplicateDetectionHistoryTimeWindow\": \"PT10M\",\r\n    \"maxDeliveryCount\": 10,\r\n    \"sizeInBytes\": 0,\r\n    \"messageCount\": 0,\r\n    \"status\": \"Active\",\r\n    \"autoDeleteOnIdle\": \"P10675199DT2H48M5.4775807S\",\r\n    \"enablePartitioning\": false,\r\n    \"enableExpress\": false,\r\n    \"countDetails\": {\r\n      \"activeMessageCount\": 0,\r\n      \"deadLetterMessageCount\": 0,\r\n      \"scheduledMessageCount\": 0,\r\n      \"transferMessageCount\": 0,\r\n      \"transferDeadLetterMessageCount\": 0\r\n    },\r\n    \"createdAt\": \"2022-07-13T07:23:51.507Z\",\r\n    \"updatedAt\": \"2022-07-13T07:23:52.293Z\",\r\n    \"accessedAt\": \"0001-01-01T00:00:00\"\r\n  }\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/dbedb4e0-40e6-4145-81f3-f1314c150774/resourceGroups/Default-ServiceBus-9817/providers/Microsoft.ServiceBus/namespaces/sdk-Namespace-1271/queues/sdk-Queues-2997?api-version=2022-01-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"maxSizeInMegabytes\": 1024,\r\n    \"maxMessageSizeInKilobytes\": 13312,\r\n    \"maxDeliveryCount\": 5,\r\n    \"forwardTo\": \"sdk-Queues-6400\",\r\n    \"forwardDeadLetteredMessagesTo\": \"sdk-Queues-6400\"\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1196"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/dbedb4e0-40e6-4145-81f3-f1314c150774/resourceGroups/Default-ServiceBus-9817/providers/Microso[...]
[...]
    {
      "RequestUri": "/subscriptions/dbedb4e0-40e6-4145-81f3-f1314c150774/resourceGroups/Default-ServiceBus-9817/providers/Microsoft.ServiceBus/namespaces/sdk-Namespace-1271/queues?api-version=2022-01-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-inline-count": [
          ""
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11995"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/dbedb4e0-40e6-4145-81f3-f1314c150774/resourceGroups/Default-ServiceBus-9817/providers/Microsoft.ServiceBus/namespaces/sdk-Namespace-1271/queues/sdk-queues-2997\",\r\n      \"name\": \"sdk-queues-2997\",\r\n      [...]
[...]
    {
      "RequestUri": "/subscriptions/dbedb4e0-40e6-4145-81f3-f1314c150774/resourceGroups/Default-ServiceBus-9817/providers/Microsoft.ServiceBus/namespaces/sdk-Namespace-1271/queues/sdk-Queues-2997?api-version=2022-01-01-preview",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-deletes": [
          "14999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "\"\"",
      "StatusCode": 200
    }
  ],
  "Names": {
    "QueuesPremiumCreateGetUpdateDelete": [
      "sdk-Namespace-1271",
      "sdk-Queues-2997",
      "sdk-Queues-6400",
      "sdk-Queues-1178"
    ]
  },
  "Variables": {
    "SubscriptionId": "dbedb4e0-40e6-4145-81f3-f1314c150774"
  }
}