{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/964c10bb-8a6c-43bc-83d3-6b318c6c7305?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "id": "/subscriptions/964c10bb-8a6c-43bc-83d3-6b318c6c7305",
        "authorizationSource": "RoleBased",
        "managedByTenants": [
          {
            "tenantId": "2f4a9838-26b7-47ee-be60-ccc1fdec5953"
          }
        ],
        "tags": {
          "azsecpack": "nonprod"
        },
        "subscriptionId": "964c10bb-8a6c-43bc-83d3-6b318c6c7305",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": "BDHadoopHumboldtAdhocTestShortTermTeam3",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/964c10bb-8a6c-43bc-83d3-6b318c6c7305/resourcegroups/HDInsightRG-6627?api-version=**",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "japaneast"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "id": "/subscriptions/964c10bb-8a6c-43bc-83d3-6b318c6c7305/resourceGroups/HDInsightRG-6627",
        "name": "HDInsightRG-6627",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "japaneast",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/964c10bb-8a6c-43bc-83d3-6b318c6c7305/resourceGroups/HDInsightRG-6627/providers/Microsoft.HDInsight/clusters/cluster2168?api-version=2023-04-15-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "japaneast",
        "tags": {
          "key0": "value0"
        },
        "properties": {
          "clusterVersion": "4.0",
          "osType": "Linux",
          "tier": "Standard",
          "clusterDefinition": {
            "kind": "Hadoop",
            "configurations": {
              "gateway": {
                "restAuthCredential.isEnabled": "true",
                "restAuthCredential.username": "admin4468",
                "restAuthCredential.password": "Password1!9688"
              }
            }
          },
          "computeProfile": {
            "roles": [
              {
                "name": "headnode",
                "targetInstanceCount": 2,
                "hardwareProfile": {
                  "vmSize": "Large"
                },
                "osProfile": {
                  "linuxOperatingSystemProfile": {
                    "username": "sshuser5951",
                    "password": "Password!5951"
                  }
                }
              },
              {
                "name": "workernode",
                "targetInstanceCount": 3,
                "hardwareProfile": {
                  "vmSize": "Large"
                },
                "osProfile": {
                  "linuxOperatingSystemProfile": {
                    "username": "sshuser5951",
                    "password": "Password!5951"
                  }
                }
              },
              {
                "name": "zookeepernode",
                "targetInstanceCount": 3,
                "hardwareProfile": {
                  "vmSize": "Small"
                },
                "osProfile": {
                  "linuxOperatingSystemProfile": {
                    "username": "sshuser5951",
                    "password": "Password!5951"
                  }
                }
              }
            ]
          },
          "storageProfile": {
            "storageaccounts": [
              {
                "name": "azstorageforcluster5483.blob.core.windows.net",
                "isDefault": true,
                "container": "container5026",
                "key": "Sanitized"
              }
            ]
          },
          "encryptionInTransitProperties": {
            "isEncryptionInTransitEnabled": true
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com:443/subscriptions/964c10bb-8a6c-43bc-83d3-6b318c6c7305/resourceGroups/HDInsightRG-6627/providers/Microsoft.HDInsight/clusters/cluster2168/azureasyncoperations/create?api-version=2023-04-15-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00229f70c9fc-8bac-46ed-b234-07cacf17fb81\u0022",
        "x-ms-hdi-clusteruri": "https://management.azure.com/subscriptions/964c10bb-8a6c-43bc-83d3-6b318c6c7305/resourceGroups/HDInsightRG-6627/providers/Microsoft.HDInsight/clusters/cluster2168?api-version=2023-04-15-preview",
        "x-ms-hdi-served-by": "japaneast",
        "x-ms-ratelimit-remaining-subscription-writes": "1196"
      },
      "ResponseBody": {
        "id": "/subscriptions/964c10bb-8a6c-43bc-83d3-6b318c6c7305/resourceGroups/HDInsightRG-6627/providers/Microsoft.HDInsight/clusters/cluster2168",
        "name": "cluster2168",
        "type": "Microsoft.HDInsight/clusters",
        "location": "Japan East",
        "etag": "9f70c9fc-8bac-46ed-b234-07cacf17fb81",
        "tags": {
          "key0": "value0"
        },
        "properties": {
          "clusterVersion": "4.0.3000.1",
          "clusterHdpVersion": "",
          "osType": "Linux",
          "clusterDefinition": {
            "blueprint": "https://blueprints.azurehdinsight.net/hadoop-4.0.3000.1.2304280205.json",
            "kind": "Hadoop",
            "componentVersion": {
              "Hadoop": "3.1"
            }
          },
          "clusterId": "ad9a1939e0ca4907a2050a8876976f7b",
          "computeProfile": {
            "roles": [
              {
                "name": "headnode",
                "targetInstanceCount": 2,
                "hardwareProfile": {
                  "vmSize": "standard_a4_v2"
                },
                "osProfile": {
                  "linuxOperatingSystemProfile": {
                    "username": "sshuser5951"
                  }
                },
                "encryptDataDisks": false
              },
              {
                "name": "workernode",
                "targetInstanceCount": 3,
                "hardwareProfile": {
                  "vmSize": "standard_a4_v2"
                },
                "osProfile": {
                  "linuxOperatingSystemProfile": {
                    "username": "sshuser5951"
                  }
                },
                "encryptDataDisks": false
              },
              {
                "name": "zookeepernode",
                "targetInstanceCount": 3,
                "hardwareProfile": {
                  "vmSize": "standard_a1_v2"
                },
                "osProfile": {
                  "linuxOperatingSystemProfile": {
                    "username": "sshuser5951"
                  }
                },
                "encryptDataDisks": false
              }
            ]
          },
          "provisioningState": "InProgress",
          "clusterState": "Accepted",
          "createdDate": "2023-06-14T06:03:26.793",
          "quotaInfo": {
            "coresUsed": 20
          },
          "tier": "standard",
          "encryptionInTransitProperties": {
            "isEncryptionInTransitEnabled": true
          },
          "storageProfile": {
            "storageaccounts": [
              {
                "name": "azstorageforcluster5483.blob.core.windows.net",
                "resourceId": null,
                "msiResourceId": null,
                "key": null,
                "fileSystem": null,
                "container": "container5026",
                "saskey": null,
                "isDefault": true,
                "enableSecureChannel": null,
                "fileshare": null
              }
            ]
          },
          "excludedServicesConfig": {
            "excludedServicesConfigId": "default",
            "excludedServicesList": ""
          },
          "computeIsolationProperties": {
            "enableComputeIsolation": false,
            "hostSku": null
          }
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/964c10bb-8a6c-43bc-83d3-6b318c6c7305/resourceGroups/HDInsightRG-6627/providers/Microsoft.HDInsight/clusters/cluster2168/azureasyncoperations/create?api-version=2023-04-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-hdi-served-by": "japaneast",
        "x-ms-ratelimit-remaining-subscription-reads": "11995"
      },
      "ResponseBody": {
        "status": "InProgress"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/964c10bb-8a6c-43bc-83d3-6b318c6c7305/providers/Microsoft.Resources?api-version=**",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11942"
      },
      "ResponseBody": {
        "id": "/subscriptions/964c10bb-8a6c-43bc-83d3-6b318c6c7305/providers/Microsoft.Resources",
        "namespace": "Microsoft.Resources",
        "authorizations": [
          {
            "applicationId": "3b990c8b-9607-4c2a-8b04-1d41985facca"
          },
          {
            "applicationId": "94946920-7f9c-4956-93c0-2fcf94608102"
          }
        ],
        "resourceTypes": [
          {
            "resourceType": "deploymentScripts",
            "locations": [
              "East Asia",
              "Southeast Asia",
              "Australia East",
              "Australia Southeast",
              "Brazil South",
              "Canada Central",
              "Canada East",
              "Switzerland North",
              "Germany West Central",
              "East US 2",
              "East US",
              "Central US",
              "North Central US",
              "France Central",
              "UK South",
              "UK West",
              "Central India",
              "South India",
              "Jio India West",
              "Japan East",
              "Japan West",
              "Korea Central",
              "North Europe",
              "Norway East",
              "Sweden Central",
              "UAE North",
              "West Central US",
              "West Europe",
              "West US 2",
              "West US",
              "South Central US",
              "West US 3",
              "South Africa North",
              "Switzerland West",
              "Central US EUAP",
              "East US 2 EUAP"
            ],
            "apiVersions": [
              "2020-10-01",
              "2019-10-01-preview"
            ],
            "capabilities": "SupportsTags, SupportsLocation"
          },
          {
            "resourceType": "deploymentScripts/logs",
            "locations": [
              "East Asia",
              "Southeast Asia",
              "Australia East",
              "Australia Southeast",
              "Brazil South",
              "Canada Central",
              "Canada East",
              "Switzerland North",
              "Germany West Central",
              "East US 2",
              "East US",
              "C[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/964c10bb-8a6c-43bc-83d3-6b318c6c7305/resourceGroups/HDInsightRG-6627/providers/Microsoft.HDInsight/clusters/cluster2168/providers/Microsoft.Resources/tags/default?api-version=**",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11941"
      },
      "ResponseBody": {
        "id": "/subscriptions/964c10bb-8a6c-43bc-83d3-6b318c6c7305/resourceGroups/HDInsightRG-6627/providers/Microsoft.HDInsight/clusters/cluster2168/providers/Microsoft.Resources/tags/default",
        "name": "default",
        "type": "Microsoft.Resources/tags",
        "properties": {
          "tags": {
            "key0": "value0"
          }
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/964c10bb-8a6c-43bc-83d3-6b318c6c7305/resourceGroups/HDInsightRG-6627/providers/Microsoft.HDInsight/clusters/cluster2168/providers/Microsoft.Resources/tags/default?api-version=**",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "tags": {
            "key0": "value0",
            "addtagkey": "addtagvalue"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1195"
      },
      "ResponseBody": {
        "id": "/subscriptions/964c10bb-8a6c-43bc-83d3-6b318c6c7305/resourceGroups/HDInsightRG-6627/providers/Microsoft.HDInsight/clusters/cluster2168/providers/Microsoft.Resources/tags/default",
        "name": "default",
        "type": "Microsoft.Resources/tags",
        "properties": {
          "tags": {
            "key0": "value0",
            "addtagkey": "addtagvalue"
          }
        }
      }
    },
[...]
