{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11996"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "TagKey-9823": "TagValue-566",
          "TagKey-3481": "TagValue-320",
          "TagKey-4926": "TagValue-1187",
          "TagKey-751": "TagValue-3921",
          "TagKey-1866": "TagValue-8559",
          "TagKey-3094": "TagValue-9190",
          "TagKey-2449": "TagValue-9",
          "TagKey-8379": "TagValue-164",
          "TagKey-7470": "TagValue-2205",
          "TagKey-4236": "TagValue-3698",
          "TagKey-5316": "TagValue-2725"
        },
        "subscriptionId": "db1ab6f0-4769-4b27-930e-01e2ef9c123c",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": ".NET Mgmt SDK Test with TTL = 1 Day",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourcegroups/HDInsightRG-7218?api-version=2021-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1196"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/HDInsightRG-7218",
        "name": "HDInsightRG-7218",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/HDInsightRG-7218/providers/Microsoft.Storage/storageAccounts/azstorageforcluster1575?api-version=2022-05-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "sku": {
          "name": "Standard_GRS"
        },
        "kind": "Storage",
        "location": "eastus",
        "properties": {}
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "text/plain; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Storage/locations/eastus/asyncoperations/6bd37bb0-a544-4bd8-95dc-b68fb4e9ef96?monitor=true\u0026api-version=2022-05-01",
        "Retry-After": "17",
        "x-ms-ratelimit-remaining-subscription-writes": "1195"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Storage/locations/eastus/asyncoperations/6bd37bb0-a544-4bd8-95dc-b68fb4e9ef96?monitor=true\u0026api-version=2022-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "text/plain; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Storage/locations/eastus/asyncoperations/6bd37bb0-a544-4bd8-95dc-b68fb4e9ef96?monitor=true\u0026api-version=2022-05-01",
        "Retry-After": "17",
        "x-ms-ratelimit-remaining-subscription-reads": "11995"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Storage/locations/eastus/asyncoperations/6bd37bb0-a544-4bd8-95dc-b68fb4e9ef96?monitor=true\u0026api-version=2022-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ratelimit-remaining-subscription-reads": "11994"
      },
      "ResponseBody": {
        "sku": {
          "name": "Standard_GRS",
          "tier": "Standard"
        },
        "kind": "Storage",
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/HDInsightRG-7218/providers/Microsoft.Storage/storageAccounts/azstorageforcluster1575",
        "name": "azstorageforcluster1575",
        "type": "Microsoft.Storage/storageAccounts",
        "location": "eastus",
        "tags": {},
        "properties": {
          "keyCreationTime": {
            "key1": "2022-09-05T03:26:52.6341300Z",
            "key2": "2022-09-05T03:26:52.6341300Z"
          },
          "privateEndpointConnections": [],
          "minimumTlsVersion": "TLS1_0",
          "allowBlobPublicAccess": true,
          "networkAcls": {
            "bypass": "AzureServices",
            "virtualNetworkRules": [],
            "ipRules": [],
            "defaultAction": "Allow"
          },
          "supportsHttpsTrafficOnly": true,
          "encryption": {
            "services": {
              "file": {
                "keyType": "Account",
                "enabled": true,
                "lastEnabledTime": "2022-09-05T03:26:52.8372331Z"
              },
              "blob": {
                "keyType": "Account",
                "enabled": true,
                "lastEnabledTime": "2022-09-05T03:26:52.8372331Z"
              }
            },
            "keySource": "Microsoft.Storage"
          },
          "provisioningState": "Succeeded",
          "creationTime": "2022-09-05T03:26:52.4934783Z",
          "primaryEndpoints": {
            "blob": "https://azstorageforcluster1575.blob.core.windows.net/",
            "queue": "https://azstorageforcluster1575.queue.core.windows.net/",
            "table": "https://azstorageforcluster1575.table.core.windows.net/",
            "file": "https://azstorageforcluster1575.file.core.windows.net/"
          },
          "primaryLocation": "eastus",
          "statusOfPrimary": "available",
          "secondaryLocation": "westus",
          "statusOfSecondary": "available"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/HDInsightRG-7218/providers/Microsoft.Storage/storageAccounts/azstorageforcluster1575/blobServices/default/containers/container6373?api-version=2022-05-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {}
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "ETag": "\u00220x8DA8EEE896D9EFE\u0022",
        "x-ms-ratelimit-remaining-subscription-writes": "1194"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/HDInsightRG-7218/providers/Microsoft.Storage/storageAccounts/azstorageforcluster1575/blobServices/default/containers/container6373",
        "name": "container6373",
        "type": "Microsoft.Storage/storageAccounts/blobServices/containers",
        "properties": {
          "deleted": false,
          "remainingRetentionDays": 0,
          "hasImmutabilityPolicy": false,
          "hasLegalHold": false
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/HDInsightRG-7218/providers/Microsoft.Storage/storageAccounts/azstorageforcluster1575/listKeys?api-version=2022-05-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "11998"
      },
      "ResponseBody": {
        "keys": [
          {
            "creationTime": "2022-09-05T03:26:52.6341300Z",
            "keyName": "key1",
            "value": "zRvsOofSkTiiwbjZaIIxirkJZQkyr9swUeq65OjNUJnrOhrjIsqpQwc72SY1FaoQ\u002BIHeM8Zcw1pN\u002BAStkyLmiw==",
            "permissions": "FULL"
          },
          {
            "creationTime": "2022-09-05T03:26:52.6341300Z",
            "keyName": "key2",
            "value": "qW6TwHPaGO5ZNeiGIT\u002BKbPSYAzVjvGc2XAppq9lW5qF\u002BQFXUN2ZN3jRUFIVjdr\u002B4w5oXe/0bwkc5\u002BASt4n064w==",
            "permissions": "FULL"
          }
        ]
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/HDInsightRG-7218/providers/Microsoft.HDInsight/clusters/cluster5884?api-version=2021-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus",
        "tags": {
          "key0": "value0"
        },
        "properties": {
          "clusterVersion": "3.6",
          "osType": "Linux",
          "tier": "Standard",
          "clusterDefinition": {
            "kind": "Hadoop",
            "configurations": {
              "gateway": {
                "restAuthCredential.isEnabled": "true",
                "restAuthCredential.username": "admin4468",
                "restAuthCredential.password": "Password1!9688"
              }
            }
          },
          "computeProfile": {
            "roles": [
              {
                "name": "headnode",
                "targetInstanceCount": 2,
                "hardwareProfile": {
                  "vmSize": "Large"
                },
                "osProfile": {
                  "linuxOperatingSystemProfile": {
                    "username": "sshuser5951",
                    "password": "Password!5951"
                  }
                }
              },
              {
                "name": "workernode",
                "targetInstanceCount": 3,
                "hardwareProfile": {
                  "vmSize": "Large"
                },
                "osProfile": {
                  "linuxOperatingSystemProfile": {
                    "username": "sshuser5951",
                    "password": "Password!5951"
                  }
                }
              },
              {
                "name": "zookeepernode",
                "targetInstanceCount": 3,
                "hardwareProfile": {
                  "vmSize": "Small"
                },
                "osProfile": {
                  "linuxOperatingSystemProfile": {
                    "username": "sshuser5951",
                    "password": "Password!5951"
                  }
                }
              }
            ]
          },
          "storageProfile": {
            "storageaccounts": [
              {
                "name": "azstorageforcluster1575.blob.core.windows.net",
                "isDefault": true,
                "container": "container6373",
                "key": "zRvsOofSkTiiwbjZaIIxirkJZQkyr9swUeq65OjNUJnrOhrjIsqpQwc72SY1FaoQ\u002BIHeM8Zcw1pN\u002BAStkyLmiw=="
              }
            ]
          },
          "encryptionInTransitProperties": {
            "isEncryptionInTransitEnabled": true
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com:443/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/HDInsightRG-7218/providers/Microsoft.HDInsight/clusters/cluster5884/azureasyncoperations/create?api-version=2021-06-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022940f7cff-f4c7-4a6d-9a66-dbb879caf301\u0022",
        "x-ms-hdi-clusteruri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/HDInsightRG-7218/providers/Microsoft.HDInsight/clusters/cluster5884?api-version=2021-06-01",
        "x-ms-hdi-served-by": "eastus",
        "x-ms-ratelimit-remaining-subscription-writes": "1193"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/HDInsightRG-7218/providers/Microsoft.HDInsight/clusters/cluster5884",
        "name": "cluster5884",
        "type": "Microsoft.HDInsight/clusters",
        "location": "East US",
        "etag": "940f7cff-f4c7-4a6d-9a66-dbb879caf301",
        "tags": {
          "key0": "value0"
        },
        "properties": {
          "clusterVersion": "3.6.2000.67",
          "clusterHdpVersion": "",
          "osType": "Linux",
          "clusterDefinition": {
            "blueprint": "https://blueprints.azurehdinsight.net/hadoop-3.6.2000.67.2201042214.json",
            "kind": "Hadoop",
            "componentVersion": {
              "Hadoop": "2.7"
            }
          },
          "clusterId": "1e917a19aaa04a299593d8ec1f264035",
          "computeProfile": {
            "roles": [
              {
                "name": "headnode",
                "targetInstanceCount": 2,
                "hardwareProfile": {
                  "vmSize": "standard_a4_v2"
                },
                "osProfile": {
                  "linuxOperatingSystemProfile": {
                    "username": "sshuser5951"
                  }
                },
                "encryptDataDisks": false
              },
              {
                "name": "workernode",
                "targetInstanceCount": 3,
                "hardwareProfile": {
                  "vmSize": "standard_a4_v2"
                },
                "osProfile": {
                  "linuxOperatingSystemProfile": {
                    "username": "sshuser5951"
                  }
                },
                "encryptDataDisks": false
              },
              {
                "name": "zookeepernode",
                "targetInstanceCount": 3,
                "hardwareProfile": {
                  "vmSize": "standard_a1_v2"
                },
                "osProfile": {
                  "linuxOperatingSystemProfile": {
                    "username": "sshuser5951"
                  }
                },
                "encryptDataDisks": false
              }
            ]
          },
          "provisioningState": "InProgress",
          "clusterState": "Accepted",
          "createdDate": "2022-09-05T03:27:56.73",
          "quotaInfo": {
            "coresUsed": 20
          },
          "tier": "standard",
          "encryptionInTransitProperties": {
            "isEncryptionInTransitEnabled": true
          },
          "storageProfile": {
            "storageaccounts": [
              {
                "name": "azstorageforcluster1575.blob.core.windows.net",
                "resourceId": null,
                "msiResourceId": null,
                "key": null,
                "fileSystem": null,
                "container": "container6373",
                "saskey": null,
                "isDefault": true,
                "fileshare": null
              }
            ]
          },
          "excludedServicesConfig": {
            "excludedServicesConfigId": "default",
            "excludedServicesList": ""
          },
          "computeIsolationProperties": {
            "enableComputeIsolation": false,
            "hostSku": null
          }
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/HDInsightRG-7218/providers/Microsoft.HDInsight/clusters/cluster5884/azureasyncoperations/create?api-version=2021-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-hdi-served-by": "eastus",
        "x-ms-ratelimit-remaining-subscription-reads": "11993"
      },
      "ResponseBody": {
        "status": "InProgress"
      }
    },
[...]
