{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11983"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "TagKey-9823": "TagValue-1254",
          "TagKey-3481": "TagValue-320",
          "TagKey-4926": "TagValue-1187",
          "TagKey-751": "TagValue-3921",
          "TagKey-1866": "TagValue-8559",
          "TagKey-3094": "TagValue-9190",
          "TagKey-2449": "TagValue-9",
          "TagKey-8379": "TagValue-164",
          "TagKey-7470": "TagValue-2205",
          "TagKey-4236": "TagValue-3698",
          "TagKey-5316": "TagValue-2725"
        },
        "subscriptionId": "db1ab6f0-4769-4b27-930e-01e2ef9c123c",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": ".NET Mgmt SDK Test with TTL = 1 Day",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourcegroups/HDInsightRG-510?api-version=**",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/HDInsightRG-510",
        "name": "HDInsightRG-510",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/HDInsightRG-510/providers/Microsoft.HDInsight/clusters/cluster7753?api-version=2021-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus",
        "tags": {
          "key0": "value0"
        },
        "properties": {
          "clusterVersion": "4.0",
          "osType": "Linux",
          "tier": "Standard",
          "clusterDefinition": {
            "kind": "Hadoop",
            "configurations": {
              "gateway": {
                "restAuthCredential.isEnabled": "true",
                "restAuthCredential.username": "admin4468",
                "restAuthCredential.password": "Password1!9688"
              }
            }
          },
          "computeProfile": {
            "roles": [
              {
                "name": "headnode",
                "targetInstanceCount": 2,
                "hardwareProfile": {
                  "vmSize": "Large"
                },
                "osProfile": {
                  "linuxOperatingSystemProfile": {
                    "username": "sshuser5951",
                    "password": "Password!5951"
                  }
                }
              },
              {
                "name": "workernode",
                "targetInstanceCount": 3,
                "hardwareProfile": {
                  "vmSize": "Large"
                },
                "osProfile": {
                  "linuxOperatingSystemProfile": {
                    "username": "sshuser5951",
                    "password": "Password!5951"
                  }
                }
              },
              {
                "name": "zookeepernode",
                "targetInstanceCount": 3,
                "hardwareProfile": {
                  "vmSize": "Small"
                },
                "osProfile": {
                  "linuxOperatingSystemProfile": {
                    "username": "sshuser5951",
                    "password": "Password!5951"
                  }
                }
              }
            ]
          },
          "storageProfile": {
            "storageaccounts": [
              {
                "name": "azstorageforcluster8583.blob.core.windows.net",
                "isDefault": true,
                "container": "container4681",
                "key": "Sanitized"
              }
            ]
          },
          "encryptionInTransitProperties": {
            "isEncryptionInTransitEnabled": true
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com:443/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/HDInsightRG-510/providers/Microsoft.HDInsight/clusters/cluster7753/azureasyncoperations/create?api-version=2021-06-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022db46b260-c646-47bf-9362-ed65d8befde7\u0022",
        "x-ms-hdi-clusteruri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/HDInsightRG-510/providers/Microsoft.HDInsight/clusters/cluster7753?api-version=2021-06-01",
        "x-ms-hdi-served-by": "eastus",
        "x-ms-ratelimit-remaining-subscription-writes": "1196"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/HDInsightRG-510/providers/Microsoft.HDInsight/clusters/cluster7753",
        "name": "cluster7753",
        "type": "Microsoft.HDInsight/clusters",
        "location": "East US",
        "etag": "db46b260-c646-47bf-9362-ed65d8befde7",
        "tags": {
          "key0": "value0"
        },
        "properties": {
          "clusterVersion": "4.0.3000.1",
          "clusterHdpVersion": "",
          "osType": "Linux",
          "clusterDefinition": {
            "blueprint": "https://blueprints.azurehdinsight.net/hadoop-4.0.3000.1.2208310943.json",
            "kind": "Hadoop",
            "componentVersion": {
              "Hadoop": "3.1"
            }
          },
          "clusterId": "7bf764d390b54b588a00b5ef337eb514",
          "computeProfile": {
            "roles": [
              {
                "name": "headnode",
                "targetInstanceCount": 2,
                "hardwareProfile": {
                  "vmSize": "standard_a4_v2"
                },
                "osProfile": {
                  "linuxOperatingSystemProfile": {
                    "username": "sshuser5951"
                  }
                },
                "encryptDataDisks": false
              },
              {
                "name": "workernode",
                "targetInstanceCount": 3,
                "hardwareProfile": {
                  "vmSize": "standard_a4_v2"
                },
                "osProfile": {
                  "linuxOperatingSystemProfile": {
                    "username": "sshuser5951"
                  }
                },
                "encryptDataDisks": false
              },
              {
                "name": "zookeepernode",
                "targetInstanceCount": 3,
                "hardwareProfile": {
                  "vmSize": "standard_a1_v2"
                },
                "osProfile": {
                  "linuxOperatingSystemProfile": {
                    "username": "sshuser5951"
                  }
                },
                "encryptDataDisks": false
              }
            ]
          },
          "provisioningState": "InProgress",
          "clusterState": "Accepted",
          "createdDate": "2022-12-05T04:43:11.243",
          "quotaInfo": {
            "coresUsed": 20
          },
          "tier": "standard",
          "encryptionInTransitProperties": {
            "isEncryptionInTransitEnabled": true
          },
          "storageProfile": {
            "storageaccounts": [
              {
                "name": "azstorageforcluster8583.blob.core.windows.net",
                "resourceId": null,
                "msiResourceId": null,
                "key": null,
                "fileSystem": null,
                "container": "container4681",
                "saskey": null,
                "isDefault": true,
                "fileshare": null
              }
            ]
          },
          "excludedServicesConfig": {
            "excludedServicesConfigId": "default",
            "excludedServicesList": ""
          },
          "computeIsolationProperties": {
            "enableComputeIsolation": false,
            "hostSku": null
          }
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/HDInsightRG-510/providers/Microsoft.HDInsight/clusters/cluster7753/azureasyncoperations/create?api-version=2021-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-hdi-served-by": "eastus",
        "x-ms-ratelimit-remaining-subscription-reads": "11980"
      },
      "ResponseBody": {
        "status": "InProgress"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/HDInsightRG-510/providers/Microsoft.HDInsight/clusters/cluster7753?api-version=2021-06-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com:443/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.HDInsight/locations/East US/azureasyncoperations/a0eef5cb-c6c1-48ce-a910-3593d4112b1b-0-r?api-version=2021-06-01",
        "Location": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.HDInsight/locations/East%20US/operationresults/a0eef5cb-c6c1-48ce-a910-3593d4112b1b-0-r?api-version=2021-06-01",
        "Retry-After": "60",
        "x-ms-hdi-served-by": "eastus",
        "x-ms-ratelimit-remaining-subscription-deletes": "14999"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.HDInsight/locations/East%20US/azureasyncoperations/a0eef5cb-c6c1-48ce-a910-3593d4112b1b-0-r?api-version=2021-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-hdi-served-by": "eastus",
        "x-ms-ratelimit-remaining-subscription-reads": "11926"
      },
      "ResponseBody": {
        "status": "InProgress"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/HDInsightRG-510/providers/Microsoft.HDInsight/clusters/cluster7753?api-version=2021-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-failure-cause": "gateway"
      },
      "ResponseBody": {
        "error": {
          "code": "ResourceNotFound",
          "message": "The Resource \u0027Microsoft.HDInsight/clusters/cluster7753\u0027 under resource group \u0027HDInsightRG-510\u0027 was not found. For more details please go to https://aka.ms/ARMResourceNotFoundFix"
        }
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "RandomSeed": "1991411400",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "db1ab6f0-4769-4b27-930e-01e2ef9c123c"
  }
}
