{
  "Entries": [
    {
      "RequestUri": "https://dotnetllcpurviewaccount.scan.purview.azure.com/datasources/test-datasource1014/scans?api-version=2018-12-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "properties": {
              "credential": {
                "referenceName": "test-credential1014",
                "credentialType": "AmazonARN"
              },
              "roleARN": null,
              "isMauiScan": false,
              "scanRulesetName": "AmazonS3",
              "scanRulesetType": "System",
              "collection": {
                "lastModifiedAt": "2021-10-14T09:39:37.2408835Z",
                "referenceName": "dotnetllcpurviewaccount",
                "type": "CollectionReference"
              },
              "createdAt": "2021-10-14T09:39:37.2408835Z",
              "lastModifiedAt": "2021-10-14T09:39:37.2408835Z"
            },
            "kind": "AmazonS3Credential",
            "id": "datasources/test-datasource1014/scans/test-scan1014",
            "name": "test-scan1014"
          }
        ],
        "count": 1
      }
    }
  ],
  "Variables": {
    "PURVIEW_SCANNING_URL": "https://dotnetllcpurviewaccount.scan.purview.azure.com/",
    "RandomSeed": "787642163"
  }
}