{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/fb9e7fe1-af44-47ef-852d-2d086a069327?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11974"
      },
      "ResponseBody": {
        "id": "/subscriptions/fb9e7fe1-af44-47ef-852d-2d086a069327",
        "authorizationSource": "RoleBased",
        "managedByTenants": [
          {
            "tenantId": "2f4a9838-26b7-47ee-be60-ccc1fdec5953"
          }
        ],
        "tags": {
          "NRMS12581055": "20220228",
          "NRMSBreakGlassNonHighRisk ": "NRMSBreakGlassNonHighRisk "
        },
        "subscriptionId": "fb9e7fe1-af44-47ef-852d-2d086a069327",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": "GenevaMetrics_Int",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/fb9e7fe1-af44-47ef-852d-2d086a069327/resourcegroups/resourceGroupName3523?api-version=2021-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1191"
      },
      "ResponseBody": {
        "id": "/subscriptions/fb9e7fe1-af44-47ef-852d-2d086a069327/resourceGroups/resourceGroupName3523",
        "name": "resourceGroupName3523",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/fb9e7fe1-af44-47ef-852d-2d086a069327/resourceGroups/resourceGroupName3523/providers/Microsoft.Network/trafficmanagerprofiles/profileName7142?api-version=2018-08-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "global",
        "name": "profileName7142",
        "properties": {
          "trafficRoutingMethod": "Weighted",
          "dnsConfig": {
            "relativeName": "profileName7142"
          },
          "monitorConfig": {
            "protocol": "HTTP",
            "port": 80,
            "path": "/public/health-probe"
          },
          "endpoints": [
            {
              "name": "endpoint1",
              "type": "Microsoft.Network/trafficManagerProfiles/externalEndpoints",
              "properties": {
                "target": "az-int-black.int.microsoftmetrics.com",
                "weight": 1000
              }
            },
            {
              "name": "endpoint2",
              "type": "Microsoft.Network/trafficManagerProfiles/externalEndpoints",
              "properties": {
                "target": "az-int-red.int.microsoftmetrics.com",
                "weight": 1
              }
            }
          ]
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "10793"
      },
      "ResponseBody": {
        "id": "/subscriptions/fb9e7fe1-af44-47ef-852d-2d086a069327/resourceGroups/resourcegroupname3523/providers/Microsoft.Network/trafficManagerProfiles/profileName7142",
        "name": "profileName7142",
        "type": "Microsoft.Network/trafficManagerProfiles",
        "location": "global",
        "properties": {
          "profileStatus": "Enabled",
          "trafficRoutingMethod": "Weighted",
          "dnsConfig": {
            "relativeName": "profilename7142",
            "fqdn": "profilename7142.trafficmanager.net",
            "ttl": 0
          },
          "monitorConfig": {
            "profileMonitorStatus": "CheckingEndpoints",
            "protocol": "HTTP",
            "port": 80,
            "path": "/public/health-probe",
            "intervalInSeconds": 30,
            "toleratedNumberOfFailures": 3,
            "timeoutInSeconds": 10
          },
          "endpoints": [
            {
              "id": "/subscriptions/fb9e7fe1-af44-47ef-852d-2d086a069327/resourceGroups/resourcegroupname3523/providers/Microsoft.Network/trafficManagerProfiles/profileName7142/externalEndpoints/endpoint1",
              "name": "endpoint1",
              "type": "Microsoft.Network/trafficManagerProfiles/externalEndpoints",
              "properties": {
                "endpointStatus": "Enabled",
                "endpointMonitorStatus": "CheckingEndpoint",
                "targetResourceId": null,
                "target": "az-int-black.int.microsoftmetrics.com",
                "weight": 1000,
                "priority": 1,
                "endpointLocation": null,
                "minChildEndpoints": null,
                "minChildEndpointsIPv4": null,
                "minChildEndpointsIPv6": null
              }
            },
            {
              "id": "/subscriptions/fb9e7fe1-af44-47ef-852d-2d086a069327/resourceGroups/resourcegroupname3523/providers/Microsoft.Network/trafficManagerProfiles/profileName7142/externalEndpoints/endpoint2",
              "name": "endpoint2",
              "type": "Microsoft.Network/trafficManagerProfiles/externalEndpoints",
              "properties": {
                "endpointStatus": "Enabled",
                "endpointMonitorStatus": "CheckingEndpoint",
                "targetResourceId": null,
                "target": "az-int-red.int.microsoftmetrics.com",
                "weight": 1,
                "priority": 2,
                "endpointLocation": null,
                "minChildEndpoints": null,
                "minChildEndpointsIPv4": null,
                "minChildEndpointsIPv6": null
              }
            }
          ],
          "trafficViewEnrollmentStatus": "Disabled",
          "maxReturn": null
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/fb9e7fe1-af44-47ef-852d-2d086a069327/resourceGroups/resourceGroupName3523/providers/Microsoft.Network/trafficmanagerprofiles/profileName7142/externalEndpoints/endpoint1?api-version=2018-08-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11973"
      },
      "ResponseBody": {
        "id": "/subscriptions/fb9e7fe1-af44-47ef-852d-2d086a069327/resourceGroups/resourcegroupname3523/providers/Microsoft.Network/trafficManagerProfiles/profileName7142/externalEndpoints/endpoint1",
        "name": "endpoint1",
        "type": "Microsoft.Network/trafficManagerProfiles/externalEndpoints",
        "properties": {
          "endpointStatus": "Enabled",
          "endpointMonitorStatus": "CheckingEndpoint",
          "targetResourceId": null,
          "target": "az-int-black.int.microsoftmetrics.com",
          "weight": 1000,
          "priority": 1,
          "endpointLocation": null,
          "minChildEndpoints": null,
          "minChildEndpointsIPv4": null,
          "minChildEndpointsIPv6": null
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/fb9e7fe1-af44-47ef-852d-2d086a069327/resourceGroups/resourcegroupname3523/providers/Microsoft.Network/trafficmanagerprofiles/profileName7142/externalEndpoints/endpoint1?api-version=2018-08-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "id": "/subscriptions/fb9e7fe1-af44-47ef-852d-2d086a06932[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/fb9e7fe1-af44-47ef-852d-2d086a069327/resourcegroups/resourceGroupName3523?api-version=2021-04-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Location": "https://management.azure.com/subscriptions/fb9e7fe1-af44-47ef-852d-2d086a069327/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1SRVNPVVJDRUdST1VQTkFNRTM1MjMtRUFTVFVTIiwiam9iTG9jYXRpb24iOiJlYXN0dXMifQ?api-version=2021-04-01",
        "Retry-After": "15",
        "x-ms-ratelimit-remaining-subscription-deletes": "14992"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/fb9e7fe1-af44-47ef-852d-2d086a069327/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1SRVNPVVJDRUdST1VQTkFNRTM1MjMtRUFTVFVTIiwiam9iTG9jYXRpb24iOiJlYXN0dXMifQ?api-version=2021-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Location": "https://management.azure.com/subscriptions/fb9e7fe1-af44-47ef-852d-2d086a069327/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1SRVNPVVJDRUdST1VQTkFNRTM1MjMtRUFTVFVTIiwiam9iTG9jYXRpb24iOiJlYXN0dXMifQ?api-version=2021-04-01",
        "Retry-After": "15",
        "x-ms-ratelimit-remaining-subscription-reads": "11971"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/fb9e7fe1-af44-47ef-852d-2d086a069327/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1SRVNPVVJDRUdST1VQTkFNRTM1MjMtRUFTVFVTIiwiam9iTG9jYXRpb24iOiJlYXN0dXMifQ?api-version=2021-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": "11970"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "RandomSeed": "1341360671",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "fb9e7fe1-af44-47ef-852d-2d086a069327"
  }
}
