{
  "Entries": [
    {
      "RequestUri": "/30da001a-1a9e-48a1-8b77-e5abcfe38bdc/services/rdst15/account?api-version=2014-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2014-08-01"
        ]
      },
      "ResponseBody": "{\r\n  \"ContactEmail\": \"tstestadmin1@mohoro001.msolctp-int.com\",\r\n  \"Id\": \"007f5a5c-5964-468c-92e1-294a6dc68abf\",\r\n  \"IsDesktopEnabled\": false,\r\n  \"MaxPublishedAppsPerService\": 100,\r\n  \"MaxServices\": 2,\r\n  \"MaxUsersPerService\": 0,\r\n  \"OptIntoMarketingEmail\": true,\r\n  \"RdWebUrl\": \"https://clouddvtest15-iworkerui.cloudapp.net/\",\r\n  \"WorkspaceName\": \"Work Resources\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-servedbyregion": [
          "uswest"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/30da001a-1a9e-48a1-8b77-e5abcfe38bdc/services/rdst15/account?api-version=2014-09-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"WorkspaceName\": \"Work Resources\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-version": [
          "2014-08-01"
        ]
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "x-ms-servedbyregion": [
          "uswest"
        ]
      },
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "30da001a-1a9e-48a1-8b77-e5abcfe38bdc"
  }
}