{
  "Entries": [
    {
      "RequestUri": "/customvision/v3.0/prediction/eac7b96a-c848-4b83-a920-c834407c4f80/classify/iterations/Training%20UnitTest%20Iteration/url/nostore",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"url\": \"https://raw.githubusercontent.com/Microsoft/Cognitive-CustomVision-Windows/master/Samples/Images/Test/test_image.jpg\"\r\n}",
      "RequestHeaders": {
        "Prediction-Key": [
          ""
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"6ba18dd6-a7b2-44c2-83b8-eb2f3dc26645\",\r\n  \"project\": \"eac7b96a-c848-4b83-a920-c834407c4f80\",\r\n  \"iteration\": \"1738ffb6-efb7-47ff-878e-9872da13e278\",\r\n  \"created\": \"2019-03-15T06:14:49.7782526Z\",\r\n  \"predictions\": [\r\n    {\r\n      \"probability\": 0.9999984,\r\n      \"tagId\": \"3bd41e58-cd97-41c8-8535-370f4440403e\",\r\n      \"tagName\": \"Tag1\"\r\n    },\r\n    {\r\n      \"probability\": 3.54070262E-13,\r\n      \"tagId\": \"a01af166-5903-4a6b-86e0-86bb1bf86e20\",\r\n      \"tagName\": \"Tag2\"\r\n    }\r\n  ]\r\n}",
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {}
}