{
  "Entries": [
    {
      "RequestUri": "/customvision/v2.0/Prediction/1896e6d9-5090-4733-882f-4f14632fec37/url",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"url\": \"https://raw.githubusercontent.com/Microsoft/Cognitive-CustomVision-Windows/master/Samples/Images/Test/test_image.jpg\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Prediction-Key": [
          ""
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"4a4d4e88-caaa-4e08-a7e8-c6071b9632f6\",\r\n  \"project\": \"1896e6d9-5090-4733-882f-4f14632fec37\",\r\n  \"iteration\": \"aaeb5238-fabd-4102-ae30-0455b03c593e\",\r\n  \"created\": \"2018-04-26T18:29:52.7637813Z\",\r\n  \"predictions\": [\r\n    {\r\n      \"probability\": 0.9999821,\r\n      \"tagId\": \"5bd06679-eb62-47f7-a76f-c9b33f505afa\",\r\n      \"tagName\": \"hemlock\"\r\n    },\r\n    {\r\n      \"probability\": 3.03306615E-06,\r\n      \"tagId\": \"24cbd7bc-f2cf-49ad-9c8f-63e3d03c3511\",\r\n      \"tagName\": \"cherry\"\r\n    }\r\n  ]\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {}
}