{
  "Entries": [
    {
      "RequestUri": "/providers/Microsoft.HybridConnectivity/operations?api-version=2021-10-06-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-tenant-reads": [
          "11998"
        ],
        "x-ms-providerhub-traffic": [
          "True"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"name\": \"Microsoft.HybridConnectivity/Locations/OperationStatuses/read\",\r\n      \"isDataAction\": false,\r\n      \"display\": {\r\n        \"provider\": \"Microsoft.HybridConnectivity\",\r\n        \"resource\": \"Locations/OperationStatuses\",\r\n        \"operation\": \"read_OperationStatuses\",\r\n        \"description\": \"read OperationStatuses\"\r\n      },\r\n      \"properties\": null\r\n    },\r\n    {\r\n      \"name\": \"Microsoft.HybridConnectivity/operations/read\",\r\n      \"isDataAction\": false,\r\n      \"display\": {\r\n        \"provider\": \"Microsoft.HybridConnectivity\",\r\n        \"resource\": \"Operations\",\r\n        \"operation\": \"Get operations\",\r\n        \"description\": \"Get the list of Operations\"\r\n      },\r\n      \"properties\": null\r\n    },\r\n    {\r\n      \"name\": \"Microsoft.HybridConnectivity/endpoints/read\",\r\n      \"isD[...]
