{
  "Entries": [
    {
      "RequestUri": "/30b701a7-a992-42ac-934c-bf08643902a7/services/storageservices",
      "RequestMethod": "POST",
      "RequestBody": "<CreateStorageServiceInput xmlns=\"http://schemas.microsoft.com/windowsazure\">\r\n  <ServiceName>rdfepir6224</ServiceName>\r\n  <Description p2:nil=\"true\" xmlns:p2=\"http://www.w3.org/2001/XMLSchema-instance\" />\r\n  <Label>cmRmZXBpcjYyMjQ=</Label>\r\n  <Location>West US</Location>\r\n  <AccountType>Standard_GRS</AccountType>\r\n</CreateStorageServiceInput>",
      "RequestHeaders": {
        "Content-Type": [
          "application/xml"
        ],
        "x-ms-version": [
          "2014-10-01"
        ]
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "x-ms-servedbyregion": [
          "uswest"
        ],
        "Location": [
          "https://management-preview.core.windows-int.net/subscriptions/30b701a7-a992-42ac-934c-bf08643902a7/storage/rdfepir6224"
        ]
      },
      "StatusCode": 202
    },
    {
      "RequestUri": "/30b701a7-a992-42ac-934c-bf08643902a7/operations/7e13647990fe96cab4ec5aec4a79ee95",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2014-10-01"
        ]
      },
      "ResponseBody": "<Operation xmlns=\"http://schemas.microsoft.com/windowsazure\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n  <ID>7e136479-90fe-96ca-b4ec-5aec4a79ee95</ID>\r\n  <Status>InProgress</Status>\r\n</Operation>",
      "ResponseHeaders": {
        "Content-Type": [
          "application/xml; charset=utf-8"
        ],
        "x-ms-servedbyregion": [
          "uswest"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/30b701a7-a992-42ac-934c-bf08643902a7/operations/7e13647990fe96cab4ec5aec4a79ee95",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2014-10-01"
        ]
      },
      "ResponseBody": "<Operation xmlns=\"http://schemas.microsoft.com/windowsazure\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n  <ID>7e136479-90fe-96ca-b4ec-5aec4a79ee95</ID>\r\n  <Status>Succeeded</Status>\r\n  <HttpStatusCode>200</HttpStatusCode>\r\n</Operation>",
      "ResponseHeaders": {
        "Content-Type": [
          "application/xml; charset=utf-8"
        ],
        "x-ms-servedbyregion": [
          "uswest"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/30b701a7-a992-42ac-934c-bf08643902a7/services/storageservices/rdfepir6224",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2014-10-01"
        ]
      },
      "ResponseBody": "<StorageService xmlns=\"http://schemas.microsoft.com/windowsazure\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n  <Url>https://management-preview.core.windows-int.net/30b701a7-a992-42ac-934c-bf08643902a7/services/storageservices/rdfepir6224</Url>\r\n  <ServiceName>rdfepir6224</ServiceName>\r\n  <StorageServiceProperties>\r\n    <Description i:nil=\"true\" />\r\n    <Location>West US</Location>\r\n    <Label>cmRmZXBpcjYyMjQ=</Label>\r\n    <Status>Created</Status>\r\n    <Endpoints>\r\n      <Endpoint>https://rdfepir6224.blob.core.test-cint.azure-test.net/</Endpoint>\r\n      <Endpoint>https://rdfepir6224.queue.core.test-cint.azure-test.net/</Endpoint>\r\n      <Endpoint>https://rdfepir6224.table.core.test-cint.azure-test.net/</Endpoint>\r\n      <Endpoint>https://rdfepir6224.file.core.test-cint.azure-test.net/</Endpoint>\r\n    </Endpoints>\r\n    <GeoPrimaryRegion>West US</GeoPrimaryRegion>\r\n    <StatusOfPrimary>Available</StatusOfPrimary>\r\n    <GeoSecondaryRegion />\r\n    <StatusOfSecondary>Unavailable</StatusOfSecondary>\r\n    <CreationTime>2015-04-15T00:12:34Z</CreationTime>\r\n    <CustomDomains />\r\n    <AccountType>Standard_GRS</AccountType>\r\n  </StorageServiceProperties>\r\n  <ExtendedProperties>\r\n    <ExtendedProperty>\r\n      <Name>ResourceGroup</Name>\r\n      <Value>Default-Storage-WestUS</Value>\r\n    </ExtendedProperty>\r\n    <ExtendedProperty>\r\n      <Name>ResourceLocation</Name>\r\n      <Value>West US</Value>\r\n    </ExtendedProperty>\r\n  </ExtendedProperties>\r\n  <Capabilities>\r\n    <Capability>PersistentVMRole</Capability>\r\n  </Capabilities>\r\n</StorageService>",
      "ResponseHeaders": {
        "Content-Type": [
          "application/xml; charset=utf-8"
        ],
        "x-ms-servedbyregion": [
          "uswest"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/30b701a7-a992-42ac-934c-bf08643902a7/services/storageservices/rdfepir6224/keys",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2014-10-01"
        ]
      },
      "ResponseBody": "<StorageService xmlns=\"http://schemas.microsoft.com/windowsazure\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n  <Url>https://management-preview.core.windows-int.net/30b701a7-a992-42ac-934c-bf08643902a7/services/storageservices/rdfepir6224</Url>\r\n  <StorageServiceKeys>\r\n    <Primary>X9ua9t2VKY/SWzdYXqoTxo8u8LUNRXdsqpI+NCZSwuy7IdsRuQWpErn0wTNh0XW45IDTcL6fjk1utTEc6873zw==</Primary>\r\n    <Secondary>7l8mNkOLtKSecTECD5W5HcFR1B2ANUsXTanYWj4/r7JEPSIIDeN729NedlQjb4pi3AVFWma5W/0PeBW/wm6CMQ==</Secondary>\r\n  </StorageServiceKeys>\r\n</StorageService>",
      "ResponseHeaders": {
        "Content-Type": [
          "application/xml; charset=utf-8"
        ],
        "x-ms-servedbyregion": [
          "uswest"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/30b701a7-a992-42ac-934c-bf08643902a7/services/images",
      "RequestMethod": "POST",
      "RequestBody": "<OSImage xmlns=\"http://schemas.microsoft.com/windowsazure\">\r\n  <Label>test</Label>\r\n  <MediaLink>https://rdfepir6224.blob.core.test-cint.azure-test.net/osimages/osimage3036.vhd</MediaLink>\r\n  <Name>osimage3036</Name>\r\n  <OS>Windows</OS>\r\n  <Eula>http://test.com</Eula>\r\n  <Description>test</Description>\r\n  <ImageFamily>test</ImageFamily>\r\n  <PublishedDate>2015-04-15T00:13:20.7576850Z</PublishedDate>\r\n  <IsPremium>false</IsPremium>\r\n  <ShowInGui>false</ShowInGui>\r\n  <PrivacyUri>http://test.com/</PrivacyUri>\r\n  <IconUri>test</IconUri>\r\n  <RecommendedVMSize>Small</RecommendedVMSize>\r\n  <SmallIconUri>test</SmallIconUri>\r\n  <Language>test</Language>\r\n</OSImage>",
      "RequestHeaders": {
        "Content-Type": [
          "application/xml"
        ],
        "x-ms-version": [
          "2016-06-01"
        ]
      },
      "ResponseBody": "<OSImage xmlns=\"http://schemas.microsoft.com/windowsazure\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n  <Category>User</Category>\r\n  <Label>test</Label>\r\n  <Location>West US</Location>\r\n  <LogicalSizeInGB>31</LogicalSizeInGB>\r\n  <MediaLink>https://rdfepir6224.blob.core.test-cint.azure-test.net/osimages/osimage3036.vhd</MediaLink>\r\n  <Name>osimage3036</Name>\r\n  <OS>Windows</OS>\r\n  <Eula>http://test.com</Eula>\r\n  <Description>test</Description>\r\n  <ImageFamily>test</ImageFamily>\r\n  <PublishedDate>2015-04-15T00:13:20.757685Z</PublishedDate>\r\n  <IsPremium>false</IsPremium>\r\n  <PrivacyUri>http://test.com/</PrivacyUri>\r\n  <RecommendedVMSize>Small</RecommendedVMSize>\r\n  <SmallIconUri>test</SmallIconUri>\r\n  <Language>test</Language>\r\n  <OSState>Generalized</OSState>\r\n  <IOType>Standard</IOType>\r\n</OSImage>",
      "ResponseHeaders": {
        "Content-Type": [
          "application/xml; charset=utf-8"
        ],
        "x-ms-servedbyregion": [
          "uswest"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/30b701a7-a992-42ac-934c-bf08643902a7/services/images/osimage3036/replicate",
      "RequestMethod": "PUT",
      "RequestBody": "<ReplicationInput xmlns=\"http://schemas.microsoft.com/windowsazure\">\r\n  <TargetLocations>\r\n    <Region>West US</Region>\r\n  </TargetLocations>\r\n  <ComputeImageAttributes>\r\n    <Offer>TestOffer</Offer>\r\n    <Sku>Standard</Sku>\r\n    <Version>1.0.0</Version>\r\n  </ComputeImageAttributes>\r\n  <MarketplaceImageAttributes>\r\n    <PublisherId>publisherId</PublisherId>\r\n    <Plan>\r\n      <Name>PlanName</Name>\r\n      <Publisher>PlanPublisher</Publisher>\r\n      <Product>PlanProduct</Product>\r\n    </Plan>\r\n  </MarketplaceImageAttributes>\r\n</ReplicationInput>",
      "RequestHeaders": {
        "Content-Type": [
          "application/xml"
        ],
        "x-ms-version": [
          "2016-06-01"
        ]
      },
      "ResponseBody": "<string xmlns=\"http://schemas.microsoft.com/2003/10/Serialization/\">e3b7015cbf014d28b985ed161c499958__osimage3036</string>",
      "ResponseHeaders": {
        "Content-Type": [
          "application/xml; charset=utf-8"
        ],
        "x-ms-servedbyregion": [
          "uswest"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/30b701a7-a992-42ac-934c-bf08643902a7/services/images/osimage3036/details",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2016-06-01"
        ]
      },
      "ResponseBody": "<OSImageDetails xmlns=\"http://schemas.microsoft.com/windowsazure\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n  <Category>User</Category>\r\n  <Label>test</Label>\r\n  <Location>West US</Location>\r\n  <LogicalSizeInGB>31</LogicalSizeInGB>\r\n  <MediaLink>https://rdfepir6224.blob.core.test-cint.azure-test.net/osimages/osimage3036.vhd</MediaLink>\r\n  <Name>osimage3036</Name>\r\n  <OS>Windows</OS>\r\n  <Eula>http://test.com</Eula>\r\n  <Description>test</Description>\r\n  <ImageFamily>test</ImageFamily>\r\n  <PublishedDate>2015-04-15T00:13:20.757685Z</PublishedDate>\r\n  <IsPremium>false</IsPremium>\r\n  <PrivacyUri>http://test.com/</PrivacyUri>\r\n  <RecommendedVMSize>Small</RecommendedVMSize>\r\n  <SmallIconUri>test</SmallIconUri>\r\n  <Language>test</Language>\r\n  <ReplicationProgress>\r\n    <ReplicationProgressElement>\r\n      <Location>West US</Location>\r\n      <Progress>0</Progress>\r\n    </ReplicationProgressElement>\r\n  </ReplicationProgress>\r\n  <ComputeImageAttributes>\r\n    <Offer>TestOffer</Offer>\r\n    <Sku>Standard</Sku>\r\n    <Version>1.0.0</Version>\r\n  </ComputeImageAttributes>\r\n  <MarketplaceImageAttributes>\r\n    <PublisherId>publisherId</PublisherId>\r\n    <Plan>\r\n      <Name>PlanName</Name>\r\n      <Publisher>PlanPublisher</Publisher>\r\n      <Product>PlanProduct</Product>\r\n    </Plan>\r\n  </MarketplaceImageAttributes>\r\n</OSImageDetails>",
      "ResponseHeaders": {
        "Content-Type": [
          "application/xml; charset=utf-8"
        ],
        "x-ms-servedbyregion": [
          "uswest"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/30b701a7-a992-42ac-934c-bf08643902a7/services/images/osimage3036/shareasync?permission=Private",
      "RequestMethod": "PUT",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2016-06-01"
        ]
      },
      "ResponseBody": "<boolean xmlns=\"http://schemas.microsoft.com/2003/10/Serialization/\">false</boolean>",
      "ResponseHeaders": {
        "Content-Type": [
          "application/xml; charset=utf-8"
        ],
        "x-ms-servedbyregion": [
          "uswest"
        ]
      },
      "StatusCode": 202
    },
[...]
    {
      "RequestUri": "/30b701a7-a992-42ac-934c-bf08643902a7/services/images/osimage3036/unreplicate",
      "RequestMethod": "PUT",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2016-06-01"
        ]
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "x-ms-servedbyregion": [
          "uswest"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/30b701a7-a992-42ac-934c-bf08643902a7/services/images/osimage3036?comp=media",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2016-06-01"
        ]
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "x-ms-servedbyregion": [
          "uswest"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/30b701a7-a992-42ac-934c-bf08643902a7/services/storageservices/rdfepir6224",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2014-10-01"
        ]
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "x-ms-servedbyregion": [
          "uswest"
        ]
      },
      "StatusCode": 200
    }
  ],
  "Names": {
    "OSImage": [
      "rdfepir6224",
      "osimage3036"
    ]
  },
  "Variables": {
    "SubscriptionId": "30b701a7-a992-42ac-934c-bf08643902a7"
  }
}