{
  "Entries": [
    {
      "RequestUri": "/30b701a7-a992-42ac-934c-bf08643902a7/services/storageservices",
      "RequestMethod": "POST",
      "RequestBody": "<CreateStorageServiceInput xmlns=\"http://schemas.microsoft.com/windowsazure\">\r\n  <ServiceName>rdfepir3745</ServiceName>\r\n  <Description p2:nil=\"true\" xmlns:p2=\"http://www.w3.org/2001/XMLSchema-instance\" />\r\n  <Label>cmRmZXBpcjM3NDU=</Label>\r\n  <Location>West US</Location>\r\n  <AccountType>Standard_GRS</AccountType>\r\n</CreateStorageServiceInput>",
      "RequestHeaders": {
        "Content-Type": [
          "application/xml"
        ],
        "x-ms-version": [
          "2014-10-01"
        ]
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "x-ms-servedbyregion": [
          "uswest"
        ],
        "Location": [
          "https://management-preview.core.windows-int.net/subscriptions/30b701a7-a992-42ac-934c-bf08643902a7/storage/rdfepir3745"
        ]
      },
      "StatusCode": 202
    },
    {
      "RequestUri": "/30b701a7-a992-42ac-934c-bf08643902a7/operations/f3ee64cc55de961198fd7bf6aa63bbe2",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2014-10-01"
        ]
      },
      "ResponseBody": "<Operation xmlns=\"http://schemas.microsoft.com/windowsazure\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n  <ID>f3ee64cc-55de-9611-98fd-7bf6aa63bbe2</ID>\r\n  <Status>InProgress</Status>\r\n</Operation>",
      "ResponseHeaders": {
        "Content-Type": [
          "application/xml; charset=utf-8"
        ],
        "x-ms-servedbyregion": [
          "uswest"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/30b701a7-a992-42ac-934c-bf08643902a7/operations/f3ee64cc55de961198fd7bf6aa63bbe2",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2014-10-01"
        ]
      },
      "ResponseBody": "<Operation xmlns=\"http://schemas.microsoft.com/windowsazure\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n  <ID>f3ee64cc-55de-9611-98fd-7bf6aa63bbe2</ID>\r\n  <Status>Succeeded</Status>\r\n  <HttpStatusCode>200</HttpStatusCode>\r\n</Operation>",
      "ResponseHeaders": {
        "Content-Type": [
          "application/xml; charset=utf-8"
        ],
        "x-ms-servedbyregion": [
          "uswest"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/30b701a7-a992-42ac-934c-bf08643902a7/services/storageservices/rdfepir3745",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2014-10-01"
        ]
      },
      "ResponseBody": "<StorageService xmlns=\"http://schemas.microsoft.com/windowsazure\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n  <Url>https://management-preview.core.windows-int.net/30b701a7-a992-42ac-934c-bf08643902a7/services/storageservices/rdfepir3745</Url>\r\n  <ServiceName>rdfepir3745</ServiceName>\r\n  <StorageServiceProperties>\r\n    <Description i:nil=\"true\" />\r\n    <Location>West US</Location>\r\n    <Label>cmRmZXBpcjM3NDU=</Label>\r\n    <Status>Created</Status>\r\n    <Endpoints>\r\n      <Endpoint>https://rdfepir3745.blob.core.test-cint.azure-test.net/</Endpoint>\r\n      <Endpoint>https://rdfepir3745.queue.core.test-cint.azure-test.net/</Endpoint>\r\n      <Endpoint>https://rdfepir3745.table.core.test-cint.azure-test.net/</Endpoint>\r\n      <Endpoint>https://rdfepir3745.file.core.test-cint.azure-test.net/</Endpoint>\r\n    </Endpoints>\r\n    <GeoPrimaryRegion>West US</GeoPrimaryRegion>\r\n    <StatusOfPrimary>Available</StatusOfPrimary>\r\n    <GeoSecondaryRegion />\r\n    <StatusOfSecondary>Unavailable</StatusOfSecondary>\r\n    <CreationTime>2015-04-14T23:31:40Z</CreationTime>\r\n    <CustomDomains />\r\n    <AccountType>Standard_GRS</AccountType>\r\n  </StorageServiceProperties>\r\n  <ExtendedProperties>\r\n    <ExtendedProperty>\r\n      <Name>ResourceGroup</Name>\r\n      <Value>Default-Storage-WestUS</Value>\r\n    </ExtendedProperty>\r\n    <ExtendedProperty>\r\n      <Name>ResourceLocation</Name>\r\n      <Value>West US</Value>\r\n    </ExtendedProperty>\r\n  </ExtendedProperties>\r\n  <Capabilities>\r\n    <Capability>PersistentVMRole</Capability>\r\n  </Capabilities>\r\n</StorageService>",
      "ResponseHeaders": {
        "Content-Type": [
          "application/xml; charset=utf-8"
        ],
        "x-ms-servedbyregion": [
          "uswest"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/30b701a7-a992-42ac-934c-bf08643902a7/services/storageservices/rdfepir3745/keys",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2014-10-01"
        ]
      },
      "ResponseBody": "<StorageService xmlns=\"http://schemas.microsoft.com/windowsazure\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n  <Url>https://management-preview.core.windows-int.net/30b701a7-a992-42ac-934c-bf08643902a7/services/storageservices/rdfepir3745</Url>\r\n  <StorageServiceKeys>\r\n    <Primary>IITY+oMwKrYKfEqSF6GwvaGXnLtcIwDO477AsUD7m4KQnsH4dbsL3hcm4PIER6pyHUSMz2HyGq/bgXmv2Mklcg==</Primary>\r\n    <Secondary>UZicDYxvO0MQkxrZvz0TaA3g+B2VRksnr4FmkKU3vVzxeUbDkE77w9RWarj51itfdz4xdLwNXGOrp99lWJDz2Q==</Secondary>\r\n  </StorageServiceKeys>\r\n</StorageService>",
      "ResponseHeaders": {
        "Content-Type": [
          "application/xml; charset=utf-8"
        ],
        "x-ms-servedbyregion": [
          "uswest"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/30b701a7-a992-42ac-934c-bf08643902a7/services/vmimages",
      "RequestMethod": "POST",
      "RequestBody": "<VMImage xmlns=\"http://schemas.microsoft.com/windowsazure\">\r\n  <Name>vmimage1644</Name>\r\n  <Label>test</Label>\r\n  <Description>test</Description>\r\n  <OSDiskConfiguration>\r\n    <HostCaching>ReadWrite</HostCaching>\r\n    <OSState>Generalized</OSState>\r\n    <OS>Windows</OS>\r\n    <MediaLink>https://rdfepir3745.blob.core.test-cint.azure-test.net/vmimages/vmimage1644.vhd</MediaLink>\r\n  </OSDiskConfiguration>\r\n  <DataDiskConfigurations />\r\n  <Language>test</Language>\r\n  <ImageFamily>test</ImageFamily>\r\n  <RecommendedVMSize>Small</RecommendedVMSize>\r\n  <Eula>http://test.com</Eula>\r\n  <IconUri>test</IconUri>\r\n  <SmallIconUri>test</SmallIconUri>\r\n  <PrivacyUri>http://test.com/</PrivacyUri>\r\n  <PublishedDate>2015-04-14T23:32:21.1061990Z</PublishedDate>\r\n  <ShowInGui>false</ShowInGui>\r\n</VMImage>",
      "RequestHeaders": {
        "Content-Type": [
          "application/xml"
        ],
        "x-ms-version": [
          "2016-06-01"
        ]
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "x-ms-servedbyregion": [
          "uswest"
        ]
      },
      "StatusCode": 202
    },
[...]
    {
      "RequestUri": "/30b701a7-a992-42ac-934c-bf08643902a7/services/vmimages/vmimage1644/replicate",
      "RequestMethod": "PUT",
      "RequestBody": "<ReplicationInput xmlns=\"http://schemas.microsoft.com/windowsazure\">\r\n  <TargetLocations>\r\n    <Region>West US</Region>\r\n  </TargetLocations>\r\n  <ComputeImageAttributes>\r\n    <Offer>TestOffer</Offer>\r\n    <Sku>Standard</Sku>\r\n    <Version>1.0.0</Version>\r\n  </ComputeImageAttributes>\r\n  <MarketplaceImageAttributes>\r\n    <PublisherId>publisherId</PublisherId>\r\n    <Plan>\r\n      <Name>PlanName</Name>\r\n      <Publisher>PlanPublisher</Publisher>\r\n      <Product>PlanProduct</Product>\r\n    </Plan>\r\n  </MarketplaceImageAttributes>\r\n</ReplicationInput>",
      "RequestHeaders": {
        "Content-Type": [
          "application/xml"
        ],
        "x-ms-version": [
          "2016-06-01"
        ]
      },
      "ResponseBody": "<string xmlns=\"http://schemas.microsoft.com/2003/10/Serialization/\">e3b7015cbf014d28b985ed161c499958__vmimage1644</string>",
      "ResponseHeaders": {
        "Content-Type": [
          "application/xml; charset=utf-8"
        ],
        "x-ms-servedbyregion": [
          "uswest"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/30b701a7-a992-42ac-934c-bf08643902a7/services/vmimages/vmimage1644/details",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2016-06-01"
        ]
      },
      "ResponseBody": "<VMImageDetails xmlns=\"http://schemas.microsoft.com/windowsazure\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n  <Name>vmimage1644</Name>\r\n  <Label>test</Label>\r\n  <Category>User</Category>\r\n  <Description>test</Description>\r\n  <Location>West US</Location>\r\n  <Language>test</Language>\r\n  <ImageFamily>test</ImageFamily>\r\n  <RecommendedVMSize>Small</RecommendedVMSize>\r\n  <IsPremium>false</IsPremium>\r\n  <Eula>http://test.com</Eula>\r\n  <IconUri>test</IconUri>\r\n  <SmallIconUri>test</SmallIconUri>\r\n  <PrivacyUri>http://test.com/</PrivacyUri>\r\n  <PublishedDate>2015-04-14T23:32:21.106199Z</PublishedDate>\r\n  <ShowInGui>false</ShowInGui>\r\n  <PublishedName>e3b7015cbf014d28b985ed161c499958__vmimage1644</PublishedName>\r\n  <ReplicationProgress>\r\n    <ReplicationProgressElement>\r\n      <Location>West US</Location>\r\n      <Progress>0</Progress>\r\n    </ReplicationProgressElement>\r\n  </ReplicationProgress>\r\n  <ComputeImageAttributes>\r\n    <Offer>TestOffer</Offer>\r\n    <Sku>Standard</Sku>\r\n    <Version>1.0.0</Version>\r\n  </ComputeImageAttributes>\r\n  <MarketplaceImageAttributes>\r\n    <PublisherId>publisherId</PublisherId>\r\n    <Plan>\r\n      <Name>PlanName</Name>\r\n      <Publisher>PlanPublisher</Publisher>\r\n      <Product>PlanProduct</Product>\r\n    </Plan>\r\n  </MarketplaceImageAttributes>\r\n</VMImageDetails>",
      "ResponseHeaders": {
        "Content-Type": [
          "application/xml; charset=utf-8"
        ],
        "x-ms-servedbyregion": [
          "uswest"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/30b701a7-a992-42ac-934c-bf08643902a7/services/vmimages/vmimage1644/shareasync?permission=Private",
      "RequestMethod": "PUT",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2016-06-01"
        ]
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "x-ms-servedbyregion": [
          "uswest"
        ]
      },
      "StatusCode": 202
    },
[...]
    {
      "RequestUri": "/30b701a7-a992-42ac-934c-bf08643902a7/services/vmimages/vmimage1644/unreplicate",
      "RequestMethod": "PUT",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2016-06-01"
        ]
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "x-ms-servedbyregion": [
          "uswest"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/30b701a7-a992-42ac-934c-bf08643902a7/services/vmimages/vmimage1644?comp=media",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2016-06-01"
        ]
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "x-ms-servedbyregion": [
          "uswest"
        ]
      },
      "StatusCode": 202
    },
[...]
    {
      "RequestUri": "/30b701a7-a992-42ac-934c-bf08643902a7/services/storageservices/rdfepir3745",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2014-10-01"
        ]
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "x-ms-servedbyregion": [
          "uswest"
        ]
      },
      "StatusCode": 200
    }
  ],
  "Names": {
    "VMImage": [
      "rdfepir3745",
      "vmimage1644"
    ]
  },
  "Variables": {
    "SubscriptionId": "30b701a7-a992-42ac-934c-bf08643902a7"
  }
}