{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/7c71b563-0dc0-4bc0-bcf6-06f8f0516c7a?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "id": "/subscriptions/7c71b563-0dc0-4bc0-bcf6-06f8f0516c7a",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "SkipGreenTeamLinuxSSHAuthForSub": "1081476937",
          "NRMSBreakGlassNonHighRisk": "322946830"
        },
        "subscriptionId": "7c71b563-0dc0-4bc0-bcf6-06f8f0516c7a",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": "Cloud-Native-Testing-IDC-Test",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/7c71b563-0dc0-4bc0-bcf6-06f8f0516c7a/resourcegroups/SdkRg9215?api-version=2021-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus2"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "id": "/subscriptions/7c71b563-0dc0-4bc0-bcf6-06f8f0516c7a/resourceGroups/SdkRg9215",
        "name": "SdkRg9215",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus2",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/7c71b563-0dc0-4bc0-bcf6-06f8f0516c7a/resourceGroups/SdkRg9215/providers/Microsoft.LoadTestService/loadTests/Sdk-LoadTestService-DotNet3650?api-version=2022-12-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "westus2",
        "properties": {}
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/7c71b563-0dc0-4bc0-bcf6-06f8f0516c7a/providers/Microsoft.LoadTestService/locations/WESTUS2/operationStatuses/eccd0bf8-1474-4f8b-805f-112bcdf1b53b*3A13DD889C2F94B3276C0F8163968EBF72B3C7C7642373AB7767A1E097DEC34E?api-version=2022-12-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002211008dfb-0000-0800-0000-63497a000000\u0022",
        "mise-correlation-id": "ea9fe687-493b-438c-875f-7fa368ba39a0",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-writes": "1198"
      },
      "ResponseBody": {
        "id": "/subscriptions/7c71b563-0dc0-4bc0-bcf6-06f8f0516c7a/resourceGroups/SdkRg9215/providers/Microsoft.LoadTestService/loadTests/Sdk-LoadTestService-DotNet3650",
        "name": "Sdk-LoadTestService-DotNet3650",
        "type": "microsoft.loadtestservice/loadtests",
        "location": "westus2",
        "tags": {},
        "systemData": {
          "createdBy": "5b96bb74-67f0-463c-9319-6f766ae1c33f",
          "createdByType": "Application",
          "createdAt": "2022-10-14T15:02:23.8367841Z",
          "lastModifiedBy": "5b96bb74-67f0-463c-9319-6f766ae1c33f",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2022-10-14T15:02:23.8367841Z"
        },
        "identity": {
          "type": "None"
        },
        "properties": {
          "description": null,
          "dataPlaneURI": "5462cf9b-8076-4b6c-9456-892c02ae6f49.westus2.cnt-prod.loadtesting.azure.com",
          "encryption": null,
          "provisioningState": "Accepted"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/7c71b563-0dc0-4bc0-bcf6-06f8f0516c7a/providers/Microsoft.LoadTestService/locations/WESTUS2/operationStatuses/eccd0bf8-1474-4f8b-805f-112bcdf1b53b*3A13DD889C2F94B3276C0F8163968EBF72B3C7C7642373AB7767A1E097DEC34E?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022010052ca-0000-0800-0000-63497a010000\u0022",
        "x-ms-ratelimit-remaining-subscription-reads": "11996"
      },
      "ResponseBody": {
        "id": "/subscriptions/7c71b563-0dc0-4bc0-bcf6-06f8f0516c7a/providers/Microsoft.LoadTestService/locations/WESTUS2/operationStatuses/eccd0bf8-1474-4f8b-805f-112bcdf1b53b*3A13DD889C2F94B3276C0F8163968EBF72B3C7C7642373AB7767A1E097DEC34E",
        "name": "eccd0bf8-1474-4f8b-805f-112bcdf1b53b*3A13DD889C2F94B3276C0F8163968EBF72B3C7C7642373AB7767A1E097DEC34E",
        "resourceId": "/subscriptions/7c71b563-0dc0-4bc0-bcf6-06f8f0516c7a/resourceGroups/SdkRg9215/providers/Microsoft.LoadTestService/loadTests/Sdk-LoadTestService-DotNet3650",
        "status": "Succeeded",
        "startTime": "2022-10-14T15:02:24.7297938Z",
        "endTime": "2022-10-14T15:02:25.873997Z",
        "properties": null
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/7c71b563-0dc0-4bc0-bcf6-06f8f0516c7a/resourceGroups/SdkRg9215/providers/Microsoft.LoadTestService/loadTests/Sdk-LoadTestService-DotNet3650?api-version=2022-12-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "identity": {
          "type": "SystemAssigned"
        },
        "properties": {}
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/7c71b563-0dc0-4bc0-bcf6-06f8f0516c7a/providers/Microsoft.LoadTestService/locations/WESTUS2/operationStatuses/f01b16db-10eb-45ce-9c38-6c1a7be628d2*3A13DD889C2F94B3276C0F8163968EBF72B3C7C7642373AB7767A1E097DEC34E?api-version=2022-12-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022110076fc-0000-0800-0000-63497a050000\u0022",
        "Location": "https://management.azure.com/subscriptions/7c71b563-0dc0-4bc0-bcf6-06f8f0516c7a/providers/Microsoft.LoadTestService/locations/WESTUS2/operationStatuses/f01b16db-10eb-45ce-9c38-6c1a7be628d2*3A13DD889C2F94B3276C0F8163968EBF72B3C7C7642373AB7767A1E097DEC34E?api-version=2022-12-01",
        "mise-correlation-id": "b4bc2da0-b239-432d-bd6e-af8c161d672d",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-writes": "1197"
      },
      "ResponseBody": "null"
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/7c71b563-0dc0-4bc0-bcf6-06f8f0516c7a/resourceGroups/SdkRg9215/providers/Microsoft.LoadTestService/loadTests/Sdk-LoadTestService-DotNet3650?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00221100affc-0000-0800-0000-63497a060000\u0022",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-reads": "11991"
      },
      "ResponseBody": {
        "id": "/subscriptions/7c71b563-0dc0-4bc0-bcf6-06f8f0516c7a/resourceGroups/SdkRg9215/providers/Microsoft.LoadTestService/loadTests/Sdk-LoadTestService-DotNet3650",
        "name": "Sdk-LoadTestService-DotNet3650",
        "type": "microsoft.loadtestservice/loadtests",
        "location": "westus2",
        "tags": {},
        "systemData": {
          "createdBy": "5b96bb74-67f0-463c-9319-6f766ae1c33f",
          "createdByType": "Application",
          "createdAt": "2022-10-14T15:02:23.8367841Z",
          "lastModifiedBy": "5b96bb74-67f0-463c-9319-6f766ae1c33f",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2022-10-14T15:02:29.496152Z"
        },
        "identity": {
          "principalId": "dd59645f-cef2-493d-a9c2-968085074fba",
          "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
          "type": "SystemAssigned"
        },
        "properties": {
          "description": null,
          "dataPlaneURI": "5462cf9b-8076-4b6c-9456-892c02ae6f49.westus2.cnt-prod.loadtesting.azure.com",
          "encryption": null,
          "provisioningState": "Succeeded"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/7c71b563-0dc0-4bc0-bcf6-06f8f0516c7a/providers/Microsoft.LoadTestService/locations/WESTUS2/operationStatuses/2770e12d-ba0f-475d-a319-a499f2c588bc*3A13DD889C2F94B3276C0F8163968EBF72B3C7C7642373AB7767A1E097DEC34E?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002201006aca-0000-0800-0000-63497a080000\u0022",
        "x-ms-ratelimit-remaining-subscription-reads": "11989"
      },
      "ResponseBody": {
        "id": "/subscriptions/7c71b563-0dc0-4bc0-bcf6-06f8f0516c7a/providers/Microsoft.LoadTestService/locations/WESTUS2/operationStatuses/2770e12d-ba0f-475d-a319-a499f2c588bc*3A13DD889C2F94B3276C0F8163968EBF72B3C7C7642373AB7767A1E097DEC34E",
        "name": "2770e12d-ba0f-475d-a319-a499f2c588bc*3A13DD889C2F94B3276C0F8163968EBF72B3C7C7642373AB7767A1E097DEC34E",
        "resourceId": "/subscriptions/7c71b563-0dc0-4bc0-bcf6-06f8f0516c7a/resourceGroups/SdkRg9215/providers/Microsoft.LoadTestService/loadTests/Sdk-LoadTestService-DotNet3650",
        "status": "Succeeded",
        "startTime": "2022-10-14T15:02:32.4857313Z",
        "endTime": "2022-10-14T15:02:32.8528576Z",
        "properties": null
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com/",
    "RandomSeed": "603653711",
    "RESOURCE_MANAGER_URL": "https://management.azure.com/",
    "SUBSCRIPTION_ID": "7c71b563-0dc0-4bc0-bcf6-06f8f0516c7a"
  }
}
