{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/7c71b563-0dc0-4bc0-bcf6-06f8f0516c7a?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11988"
      },
      "ResponseBody": {
        "id": "/subscriptions/7c71b563-0dc0-4bc0-bcf6-06f8f0516c7a",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "SkipGreenTeamLinuxSSHAuthForSub": "1081476937",
          "NRMSBreakGlassNonHighRisk": "322946830"
        },
        "subscriptionId": "7c71b563-0dc0-4bc0-bcf6-06f8f0516c7a",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": "Cloud-Native-Testing-IDC-Test",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/7c71b563-0dc0-4bc0-bcf6-06f8f0516c7a/resourcegroups/SdkRg6036?api-version=2021-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus2"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1196"
      },
      "ResponseBody": {
        "id": "/subscriptions/7c71b563-0dc0-4bc0-bcf6-06f8f0516c7a/resourceGroups/SdkRg6036",
        "name": "SdkRg6036",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus2",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/7c71b563-0dc0-4bc0-bcf6-06f8f0516c7a/providers/Microsoft.LoadTestService/loadTests?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-original-request-ids": [
          "874653e2-97d8-4736-a26a-2811c9f86dea",
          "8ccd7ebe-df9d-4b49-8c00-be347e0bd8be",
          "df645478-5c6b-4bbd-991d-3fcb465c877f",
          "6792744d-55ba-4215-9688-842a31432045",
          "4d3543e1-f69b-44d2-a690-0a7286ad8e47",
          "0277fcde-9ab9-4adb-96c4-e8188c9a83fc",
          "0c416c06-a27f-498f-8eb4-950d31b75286",
          "57910a46-35be-48c1-a479-b28782ad9611",
          "b78f7073-7ddd-4ae0-9b60-a188794a44a1",
          "14a62128-bbf0-4265-9c5b-c0b53bf111a4"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": "11985"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/7c71b563-0dc0-4bc0-bcf6-06f8f0516c7a/resourceGroups/divyesh-rg/providers/Microsoft.LoadTestService/loadtests/eastus1",
            "name": "eastus1",
            "type": "Microsoft.LoadTestService/loadtests",
            "location": "eastus",
            "tags": {
              "Team": "AzureCom"
            },
            "systemData": {
              "createdBy": "ditikman@microsoft.com",
              "createdByType": "User",
              "createdAt": "2021-02-21T17:01:02.9097211Z",
              "lastModifiedBy": "ditikman@microsoft.com",
              "lastModifiedByType": "User",
              "lastModifiedAt": "2021-02-21T17:01:02.9097211Z"
            },
            "properties": {
              "description": "This is new load test resource",
              "provisioningState": "Succeeded"
            }
          },
          {
            "id": "/subscriptions/7c71b563-0dc0-4bc0-bcf6-06f8f0516c7a/resourceGroups/divyesh-rg/providers/Microsoft.LoadTestService/loadtests/eastus2",
            "name": "eastus2",
            "type": "Microsoft.LoadTestService/loadtests",
            "location": "eastus",
            "tags": {
              "Team": "AzureCom"
            },
            "systemData": {
    [...]
