{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/providers/Microsoft.AppComplianceAutomation/reports/sdk-report1725?api-version=2022-11-16-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-aad-user-token": "Sanitized"
      },
      "RequestBody": {
        "properties": {
          "timeZone": "GMT Standard Time",
          "triggerTime": "2021-12-31T16:00:00.0000000Z",
          "resources": [
            {
              "resourceId": "/subscriptions/f744fbde-a95f-437e-8fcf-38f9324e3d9c/resourceGroups/sdk-test/providers/Microsoft.Storage/storageAccounts/sdkteststorageaccount",
              "resourceType": "microsoft.storage/storageaccounts",
              "resourceKind": "StorageV2",
              "resourceName": "sdkteststorageaccount",
              "tags": {}
            }
          ]
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/providers/Microsoft.AppComplianceAutomation/locations/WESTUS3/operationStatuses/2e099f38-c2b7-415c-b1c8-acb9e8d801fa*521DA4319F0A5B94A93EF17CBD4D8E27B148B1ED1FA64D6916A07DFB2AE79EEE?api-version=2022-11-16-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/providers/Microsoft.AppComplianceAutomation/locations/WESTUS3/operationStatuses/2e099f38-c2b7-415c-b1c8-acb9e8d801fa*521DA4319F0A5B94A93EF17CBD4D8E27B148B1ED1FA64D6916A07DFB2AE79EEE?api-version=2022-11-16-preview",
        "mise-correlation-id": "ed798600-112b-4898-acaf-4c31e651dc76",
        "X-ms-Operation-Id": "5d004f24201ed9d4bc5b2f5455fb0a9f",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-tenant-writes": "1199"
      },
      "ResponseBody": {
        "id": "/providers/Microsoft.AppComplianceAutomation/reports/sdk-report1725",
        "name": "sdk-report1725",
        "type": "microsoft.appcomplianceautomation/reports",
        "systemData": {
          "createdBy": "4132ff8f-5c93-489e-ad02-9e3fb97dcf34",
          "createdByType": "Application",
          "createdAt": "2022-10-13T08:15:07.7396263Z",
          "lastModifiedBy": "4132ff8f-5c93-489e-ad02-9e3fb97dcf34",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2022-10-13T08:15:07.7396263Z"
        },
        "properties": {
          "id": "1d326dfc-19b1-4605-b21c-c1d952c55685",
          "status": "Active",
          "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
          "reportName": "sdk-report1725",
          "offerGuid": "",
          "timeZone": "GMT Standard Time",
          "triggerTime": "2021-12-31T16:00:00Z",
          "nextTriggerTime": "2022-10-14T16:00:00Z",
          "subscriptions": [
            "f744fbde-a95f-437e-8fcf-38f9324e3d9c"
          ],
          "resources": [
            {
              "resourceId": "/subscriptions/f744fbde-a95f-437e-8fcf-38f9324e3d9c/resourceGroups/sdk-test/providers/Microsoft.Storage/storageAccounts/sdkteststorageaccount",
              "resourceType": "microsoft.storage/storageaccounts",
              "resourceName": "sdkteststorageaccount",
              "resourceKind": "StorageV2",
              "tags": {}
            }
          ],
          "complianceStatus": {
            "m365": {
              "passed": 0,
              "failed": 0,
              "manual": 0
            }
          },
          "provisioningState": "Accepted"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/providers/Microsoft.AppComplianceAutomation/locations/WESTUS3/operationStatuses/2e099f38-c2b7-415c-b1c8-acb9e8d801fa*521DA4319F0A5B94A93EF17CBD4D8E27B148B1ED1FA64D6916A07DFB2AE79EEE?api-version=2022-11-16-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-aad-user-token": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00220000213d-0000-4d00-0000-6347c90d0000\u0022",
        "x-ms-ratelimit-remaining-tenant-reads": "11999"
      },
      "ResponseBody": {
        "id": "/providers/Microsoft.AppComplianceAutomation/locations/WESTUS3/operationStatuses/2e099f38-c2b7-415c-b1c8-acb9e8d801fa*521DA4319F0A5B94A93EF17CBD4D8E27B148B1ED1FA64D6916A07DFB2AE79EEE",
        "name": "2e099f38-c2b7-415c-b1c8-acb9e8d801fa*521DA4319F0A5B94A93EF17CBD4D8E27B148B1ED1FA64D6916A07DFB2AE79EEE",
        "resourceId": "/providers/Microsoft.AppComplianceAutomation/reports/sdk-report1725",
        "status": "Accepted",
        "startTime": "2022-10-13T08:15:08.1450374Z"
      }
    },
    {
      "RequestUri": "https://management.azure.com/providers/Microsoft.AppComplianceAutomation/locations/WESTUS3/operationStatuses/2e099f38-c2b7-415c-b1c8-acb9e8d801fa*521DA4319F0A5B94A93EF17CBD4D8E27B148B1ED1FA64D6916A07DFB2AE79EEE?api-version=2022-11-16-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-aad-user-token": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00220000233d-0000-4d00-0000-6347c9100000\u0022",
        "x-ms-ratelimit-remaining-tenant-reads": "11998"
      },
      "ResponseBody": {
        "id": "/providers/Microsoft.AppComplianceAutomation/locations/WESTUS3/operationStatuses/2e099f38-c2b7-415c-b1c8-acb9e8d801fa*521DA4319F0A5B94A93EF17CBD4D8E27B148B1ED1FA64D6916A07DFB2AE79EEE",
        "name": "2e099f38-c2b7-415c-b1c8-acb9e8d801fa*521DA4319F0A5B94A93EF17CBD4D8E27B148B1ED1FA64D6916A07DFB2AE79EEE",
        "resourceId": "/providers/Microsoft.AppComplianceAutomation/reports/sdk-report1725",
        "status": "Succeeded",
        "startTime": "2022-10-13T08:15:08.1450374Z",
        "endTime": "2022-10-13T08:15:12.281584Z",
        "error": {},
        "properties": null
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/providers/Microsoft.AppComplianceAutomation/reports?api-version=2022-11-16-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-aad-user-token": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "e8fbf0ba-30ef-4746-97ec-0fd9d19468d0",
        "X-ms-Operation-Id": "529e3c0696457701dc78481684fd9873",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-tenant-reads": "11996"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/providers/Microsoft.AppComplianceAutomation/reports/sdk-report1725",
            "name": "sdk-report1725",
            "type": "Microsoft.AppComplianceAutomation/reports",
            "systemData": {
              "createdBy": "",
              "createdByType": "Application",
              "createdAt": "2022-10-13T08:15:07.7396263Z",
              "lastModifiedBy": "",
              "lastModifiedByType": "Application",
              "lastModifiedAt": "2022-10-1[...]
[...]
    {
      "RequestUri": "https://management.azure.com/providers/Microsoft.AppComplianceAutomation/reports/sdk-report1725?api-version=2022-11-16-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-aad-user-token": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/providers/Microsoft.AppComplianceAutomation/locations/WESTUS3/operationStatuses/ef48e44d-bca6-4c97-9ae2-0e796b22ac27*521DA4319F0A5B94A93EF17CBD4D8E27B148B1ED1FA64D6916A07DFB2AE79EEE?api-version=2022-11-16-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/providers/Microsoft.AppComplianceAutomation/locations/WESTUS3/operationStatuses/ef48e44d-bca6-4c97-9ae2-0e796b22ac27*521DA4319F0A5B94A93EF17CBD4D8E27B148B1ED1FA64D6916A07DFB2AE79EEE?api-version=2022-11-16-preview",
        "mise-correlation-id": "2bf79c30-03c6-440e-9a8a-df452f2e2a25",
        "X-ms-Operation-Id": "ca0526130c0e441b07767b9d12f31649",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-tenant-deletes": "14999"
      },
      "ResponseBody": "null"
    },
[...]
    {
      "RequestUri": "https://management.azure.com/providers/Microsoft.AppComplianceAutomation/locations/WESTUS3/operationStatuses/ef48e44d-bca6-4c97-9ae2-0e796b22ac27*521DA4319F0A5B94A93EF17CBD4D8E27B148B1ED1FA64D6916A07DFB2AE79EEE?api-version=2022-11-16-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-aad-user-token": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00220000263d-0000-4d00-0000-6347c9140000\u0022",
        "x-ms-ratelimit-remaining-tenant-reads": "11993"
      },
      "ResponseBody": {
        "id": "/providers/Microsoft.AppComplianceAutomation/locations/WESTUS3/operationStatuses/ef48e44d-bca6-4c97-9ae2-0e796b22ac27*521DA4319F0A5B94A93EF17CBD4D8E27B148B1ED1FA64D6916A07DFB2AE79EEE",
        "name": "ef48e44d-bca6-4c97-9ae2-0e796b22ac27*521DA4319F0A5B94A93EF17CBD4D8E27B148B1ED1FA64D6916A07DFB2AE79EEE",
        "resourceId": "/providers/Microsoft.AppComplianceAutomation/reports/sdk-report1725",
        "status": "Succeeded",
        "startTime": "2022-10-13T08:15:14.5755372Z",
        "endTime": "2022-10-13T08:15:16.3534461Z",
        "error": {},
        "properties": null
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com/",
    "RandomSeed": "1834102149",
    "RESOURCE_MANAGER_URL": "https://management.azure.com/",
    "SUBSCRIPTION_ID": "f744fbde-a95f-437e-8fcf-38f9324e3d9c"
  }
}
