{
  "Entries": [
    {
      "RequestUri": "http://storageteglazatesting.file.core.windows.net/test-share-7404fa0b-9da9-8391-5e83-692aa1edc085?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Jul 2019 02:12:18 GMT",
        "x-ms-share-quota": "1",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D70A5C31D246BC\u0022",
        "Last-Modified": "Wed, 17 Jul 2019 02:12:18 GMT",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://storageteglazatesting.file.core.windows.net/test-share-7404fa0b-9da9-8391-5e83-692aa1edc085?restype=share\u0026comp=acl",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "x-ms-date": "Wed, 17 Jul 2019 02:12:18 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": [
        "\u003cSignedIdentifiers\u003e\r\n",
        "  \u003cSignedIdentifier\u003e\r\n",
        "    \u003cId\u003erccqdfeklwxrxcbmocax\u003c/Id\u003e\r\n",
        "    \u003cAccessPolicy\u003e\r\n",
        "      \u003cStart\u003e2019-07-17T01:12:18.5548913Z\u003c/Start\u003e\r\n",
        "      \u003cExpiry\u003e2019-07-17T03:12:18.5548913Z\u003c/Expiry\u003e\r\n",
        "      \u003cPermission\u003erw\u003c/Permission\u003e\r\n",
        "    \u003c/AccessPolicy\u003e\r\n",
        "  \u003c/SignedIdentifier\u003e\r\n",
        "\u003c/SignedIdentifiers\u003e"
      ],
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D70A5C31D56864\u0022",
        "Last-Modified": "Wed, 17 Jul 2019 02:12:18 GMT",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://storageteglazatesting.file.core.windows.net/test-share-7404fa0b-9da9-8391-5e83-692aa1edc085?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Jul 2019 02:12:18 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2019-07-16T19:12:18.5548913-07:00",
    "RandomSeed": "1541257125",
    "Storage_TestConfigDefault": "ProductionTenant\nstorageteglazatesting\nU2FuaXRpemVk\nhttp://storageteglazatesting.blob.core.windows.net\nhttp://storageteglazatesting.file.core.windows.net\nhttp://storageteglazatesting.queue.core.windows.net\nhttp://storageteglazatesting.table.core.windows.net\n\n\n\n\nhttp://storageteglazatesting-secondary.blob.core.windows.net\n\nhttp://storageteglazatesting-secondary.queue.core.windows.net\nhttp://storageteglazatesting-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://storageteglazatesting.blob.core.windows.net/;QueueEndpoint=http://storageteglazatesting.queue.core.windows.net/;TableEndpoint=http://storageteglazatesting.table.core.windows.net/;FileEndpoint=http://storageteglazatesting.file.core.windows.net/;BlobSecondaryEndpoint=http://storageteglazatesting-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://storageteglazatesting-secondary.queue.core.windows.net/;TableSecondaryEndpoint=http://storageteglazatesting-secondary.table.core.windows.net/;AccountName=storageteglazatesting;AccountKey=Sanitized"
  }
}