{
  "Entries": [
    {
      "RequestUri": "http://storageteglazatesting.file.core.windows.net/test-share-950c922f-0c56-2494-2061-19b08b135423?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 17 Jun 2019 20:59:39 GMT",
        "x-ms-share-quota": "1",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D6F366B6DC45C0\u0022",
        "Last-Modified": "Mon, 17 Jun 2019 20:59:39 GMT",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "http://storageteglazatesting.file.core.windows.net/test-share-950c922f-0c56-2494-2061-19b08b135423?restype=share\u0026comp=acl",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "x-ms-date": "Mon, 17 Jun 2019 20:59:39 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": [
        "\u003cSignedIdentifiers\u003e\r\n",
        "  \u003cSignedIdentifier\u003e\r\n",
        "    \u003cId\u003eogmyicjrvhjwdcbbahyc\u003c/Id\u003e\r\n",
        "    \u003cAccessPolicy\u003e\r\n",
        "      \u003cStart\u003e2019-06-17T19:59:39.9761492Z\u003c/Start\u003e\r\n",
        "      \u003cExpiry\u003e2019-06-17T21:59:39.9761492Z\u003c/Expiry\u003e\r\n",
        "      \u003cPermission\u003erw\u003c/Permission\u003e\r\n",
        "    \u003c/AccessPolicy\u003e\r\n",
        "  \u003c/SignedIdentifier\u003e\r\n",
        "\u003c/SignedIdentifiers\u003e"
      ],
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D6F366B6DF3AFF\u0022",
        "Last-Modified": "Mon, 17 Jun 2019 20:59:39 GMT",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "http://storageteglazatesting.file.core.windows.net/test-share-950c922f-0c56-2494-2061-19b08b135423?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 17 Jun 2019 20:59:39 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2019-06-17T13:59:39.9761492-07:00",
    "RandomSeed": "1957859215"
  }
}