{
  "Entries": [
    {
      "RequestUri": "https://chriss-cl2.confidential-ledger.azure.com/app/transactions?api-version=0.1-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "contents": "test3670"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ccf-transaction-id": "2.3458"
      },
      "ResponseBody": {
        "subLedgerId": "subledger:0"
      }
    },
    {
      "RequestUri": "https://chriss-cl2.confidential-ledger.azure.com/app/transactions/2.3458/status?api-version=0.1-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ccf-transaction-id": "2.3458"
      },
      "ResponseBody": {
        "state": "Pending",
        "transactionId": "2.3458"
      }
    },
[...]
    {
      "RequestUri": "https://chriss-cl2.confidential-ledger.azure.com/app/transactions?api-version=0.1-preview\u0026subLedgerId=subledger%3A0\u0026fromTransactionId=2.102",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ccf-transaction-id": "2.3459"
      },
      "ResponseBody": [
        "{\n",
        "  \u0022@nextLink\u0022: \u0022/app/transactions?api-version=0.1-preview\u0026subLedgerId=subledger:0\u0026fromTransactionId=2.203\u0022,\n",
        "  \u0022entries\u0022: [],\n",
        "  \u0022state\u0022: \u0022Ready\u0022\n",
        "}"
      ]
    },
[...]
