{
  "Entries": [
    {
      "RequestUri": "https://identity.accledger.azure.com/ledgerIdentity/chrissconfidentialledger?api-version=0.1-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-image-digest": "sha256:cfd1fe780509aad0087f6cacc65bff18dd7ac4f9eff38afba2b63a29d033c639",
        "x-ms-image-tag": "latest-20210802174905559-04aa2284",
        "x-ms-machineName": "identityservice-6dbf458c55-sqlm5"
      },
      "ResponseBody": {
        "ledgerTlsCertificate": "-----BEGIN CERTIFICATE-----\nMIIBezCCASCgAwIBAgIQLyPJdcq/69suz\u002BxDKJiUizAKBggqhkjOPQQDAjAWMRQw\nEgYDVQQDDAtDQ0YgTmV0d29yazAeFw0yMTAzMTEwMDAwMDBaFw0yMzA2MTEyMzU5\nNTlaMBYxFDASBgNVBAMMC0NDRiBOZXR3b3JrMFkwEwYHKoZIzj0CAQYIKoZIzj0D\nAQcDQgAEZQGlfAdHO0Oho9svJtDF\u002Bk1bHrr5ovZVaMriVKbh\u002BsXWipS4JtskCX4T\nW8/tvn8mGNJVfPM7nA62TZCxxm5Y56NQME4wDAYDVR0TBAUwAwEB/zAdBgNVHQ4E\nFgQUnWCB9yR6vxrJAYs0k67drBKAiqgwHwYDVR0jBBgwFoAUnWCB9yR6vxrJAYs0\nk67drBKAiqgwCgYIKoZIzj0EAwIDSQAwRgIhAMdUll14tgGweqASveLxl4HW2SBC\nllJvvz480pTy5uQ1AiEA0Spywkvu9t6qHYO\u002BJERRXCMWVTESPDJkMXGOMY/0xvs=\n-----END CERTIFICATE-----\n\u0000",
        "ledgerId": "chrissconfidentialledger"
      }
    },
    {
      "RequestUri": "https://chrissconfidentialledger.confidential-ledger.azure.com/app/transactions?api-version=0.1-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "contents": "test1839"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ccf-transaction-id": "2.285"
      },
      "ResponseBody": {
        "subLedgerId": "subledger:0"
      }
    },
[...]
    {
      "RequestUri": "https://chrissconfidentialledger.confidential-ledger.azure.com/app/transactions?api-version=0.1-preview\u0026subLedgerId=subledger%3A0\u0026fromTransactionId=2.24",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ccf-transaction-id": "2.285"
      },
      "ResponseBody": [
        "{\n",
        "  \u0022@nextLink\u0022: \u0022/app/transactions?api-version=0.1-preview\u0026subLedgerId=subledger:0\u0026fromTransactionId=2.24\u0022,\n",
        "  \u0022state\u0022: \u0022Loading\u0022\n",
        "}"
      ]
    },
[...]
