{
  "Entries": [
    {
      "RequestUri": "https://chriss-cl2.confidential-ledger.azure.com/app/transactions?api-version=0.1-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "contents": "test7713"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ccf-transaction-id": "2.3448"
      },
      "ResponseBody": {
        "subLedgerId": "subledger:0"
      }
    },
    {
      "RequestUri": "https://chriss-cl2.confidential-ledger.azure.com/app/transactions/2.3448/status?api-version=0.1-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ccf-transaction-id": "2.3448"
      },
      "ResponseBody": {
        "state": "Pending",
        "transactionId": "2.3448"
      }
    },
[...]
    {
      "RequestUri": "https://chriss-cl2.confidential-ledger.azure.com/app/transactions/2.3448/receipt?api-version=0.1-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ccf-transaction-id": "2.3449"
      },
      "ResponseBody": [
        "{\n",
        "  \u0022receipt\u0022: {\n",
        "    \u0022leaf\u0022: \u0022\u0022,\n",
        "    \u0022node_id\u0022: \u0022\u0022,\n",
        "    \u0022proof\u0022: [],\n",
        "    \u0022root\u0022: \u0022\u0022,\n",
        "    \u0022signature\u0022: \u0022\u0022\n",
        "  },\n",
        "  \u0022state\u0022: \u0022Loading\u0022,\n",
        "  \u0022transactionId\u0022: \u0022\u0022\n",
        "}"
      ]
    },
    {
      "RequestUri": "https://chriss-cl2.confidential-ledger.azure.com/app/transactions/2.3448?api-version=0.1-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ccf-transaction-id": "2.3449"
      },
      "ResponseBody": [
        "{\n",
        "  \u0022entry\u0022: {\n",
        "    \u0022contents\u0022: \u0022test7713\u0022,\n",
        "    \u0022subLedgerId\u0022: \u0022subledger:0\u0022,\n",
        "    \u0022transactionId\u0022: \u00222.3448\u0022\n",
        "  },\n",
        "  \u0022state\u0022: \u0022Ready\u0022\n",
        "}"
      ]
    }
  ],
  "Variables": {
    "CONFIDENTIALLEDGER_IDENTITY_URL": "https://identity.accledger.azure.com/",
    "CONFIDENTIALLEDGER_URL": "https://chriss-CL2.confidential-ledger.azure.com",
    "RandomSeed": "1035201351"
  }
}