{
  "Entries": [
    {
      "RequestUri": "https://chriss-cl2.confidential-ledger.azure.com/app/transactions?api-version=0.1-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "contents": "test2281"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ccf-transaction-id": "2.3452"
      },
      "ResponseBody": {
        "subLedgerId": "subledger:0"
      }
    },
    {
      "RequestUri": "https://chriss-cl2.confidential-ledger.azure.com/app/transactions/2.3452/status?api-version=0.1-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ccf-transaction-id": "2.3452"
      },
      "ResponseBody": {
        "state": "Pending",
        "transactionId": "2.3452"
      }
    },
[...]
    {
      "RequestUri": "https://chriss-cl2.confidential-ledger.azure.com/app/transactions/2.3454/status?api-version=0.1-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ccf-transaction-id": "2.3455"
      },
      "ResponseBody": {
        "state": "Committed",
        "transactionId": "2.3454"
      }
    }
  ],
  "Variables": {
    "CONFIDENTIALLEDGER_IDENTITY_URL": "https://identity.accledger.azure.com/",
    "CONFIDENTIALLEDGER_URL": "https://chriss-CL2.confidential-ledger.azure.com",
    "RandomSeed": "1279542385"
  }
}