{
  "Entries": [
    {
      "RequestUri": "https://chrisss.confidential-ledger.azure.com/app/transactions?api-version=2022-05-13",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "contents": "test4567"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ccf-transaction-id": "5.874"
      },
      "ResponseBody": {
        "collectionId": "subledger:0"
      }
    },
    {
      "RequestUri": "https://chrisss.confidential-ledger.azure.com/app/transactions/5.874/status?api-version=2022-05-13",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ccf-transaction-id": "5.874"
      },
      "ResponseBody": {
        "state": "Pending",
        "transactionId": "5.874"
      }
    },
    {
      "RequestUri": "https://chrisss.confidential-ledger.azure.com/app/transactions/5.874/status?api-version=2022-05-13",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ccf-transaction-id": "5.875"
      },
      "ResponseBody": {
        "state": "Committed",
        "transactionId": "5.874"
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com/",
    "CONFIDENTIALLEDGER_IDENTITY_URL": "https://identity.confidential-ledger.core.azure.com",
    "CONFIDENTIALLEDGER_URL": "https://chrisss.confidential-ledger.azure.com",
    "RandomSeed": "1600953455"
  }
}
