{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11914"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "TagKey-9823": "TagValue-1254",
          "TagKey-3481": "TagValue-320",
          "TagKey-4926": "TagValue-1187",
          "TagKey-751": "TagValue-3921",
          "TagKey-1866": "TagValue-8559",
          "TagKey-3094": "TagValue-9190",
          "TagKey-2449": "TagValue-9",
          "TagKey-8379": "TagValue-164",
          "TagKey-7470": "TagValue-2205",
          "TagKey-4236": "TagValue-3698",
          "TagKey-5316": "TagValue-2725"
        },
        "subscriptionId": "db1ab6f0-4769-4b27-930e-01e2ef9c123c",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": ".NET Mgmt SDK Test with TTL = 1 Day",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourcegroups/Sql-RG-3863?api-version=**",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus2"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1193"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/Sql-RG-3863",
        "name": "Sql-RG-3863",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus2",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/Sql-RG-3863/providers/Microsoft.Network/networkSecurityGroups/network-security-group-2328?api-version=**",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus2",
        "properties": {}
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncNotification": "Enabled",
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Network/locations/westus2/operations/67a2fe9f-ef62-49d2-9803-0db4912e3243?api-version=2021-02-01",
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "3",
        "x-ms-ratelimit-remaining-subscription-writes": "1192"
      },
      "ResponseBody": {
        "name": "network-security-group-2328",
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/Sql-RG-3863/providers/Microsoft.Network/networkSecurityGroups/network-security-group-2328",
        "etag": "W/\u0022aae56aa1-b0ec-4959-a76f-64c53c06fcba\u0022",
        "type": "Microsoft.Network/networkSecurityGroups",
        "location": "westus2",
        "properties": {
          "provisioningState": "Updating",
          "resourceGuid": "4522dbc0-ff87-4621-a297-81285e20fc19",
          "securityRules": [],
          "defaultSecurityRules": [
            {
              "name": "AllowVnetInBound",
              "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/Sql-RG-3863/providers/Microsoft.Network/networkSecurityGroups/network-security-group-2328/defaultSecurityRules/AllowVnetInBound",
              "etag": "W/\u0022aae56aa1-b0ec-4959-a76f-64c53c06fcba\u0022",
              "type": "Microsoft.Network/networkSecurityGroups/defaultSecurityRules",
              "properties": {
                "provisioningState": "Updating",
                "description": "Allow inbound traffic from all VMs in VNET",
                "protocol": "*",
                "sourcePortRange": "*",
                "destinationPortRange": "*",
                "sourceAddressPrefix": "VirtualNetwork",
                "destinationAddressPrefix": "VirtualNetwork",
                "access": "Allow",
                "priority": 65000,
                "direction": "Inbound",
                "sourcePortRanges": [],
                "destinationPortRanges": [],
                "sourceAddressPrefixes": [],
                "destinationAddressPrefixes": []
              }
            },
            {
              "name": "AllowAzureLoadBalancerInBound",
              "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/Sql-RG-3863/providers/Microsoft.Network/networkSecurityGroups/network-security-group-2328/defaultSecurityRules/AllowAzureLoadBalancerInBound",
              "etag": "W/\u0022aae56aa1-b0ec-4959-a76f-64c53c06fcba\u0022",
              "type": "Microsoft.Network/networkSecurityGroups/defaultSecurityRules",
   [...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Network/locations/westus2/operations/67a2fe9f-ef62-49d2-9803-0db4912e3243?api-version=**",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11913"
      },
      "ResponseBody": {
        "status": "Succeeded"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/Sql-RG-3863/providers/Microsoft.Network/networkSecurityGroups/network-security-group-2328?api-version=**",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\u0022f21f148d-7247-4816-9d6c-97e5c4ed725f\u0022",
        "x-ms-ratelimit-remaining-subscription-reads": "11912"
      },
      "ResponseBody": {
        "name": "network-security-group-2328",
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/Sql-RG-3863/providers/Microsoft.Network/networkSecurityGroups/network-security-group-2328",
        "etag": "W/\u0022f21f148d-7247-4816-9d6c-97e5c4ed725f\u0022",
        "type": "Microsoft.Network/networkSecurityGroups",[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/Sql-RG-3863/providers/Microsoft.Network/routeTables/route-table-4910?api-version=**",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus2",
        "properties": {}
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncNotification": "Enabled",
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Network/locations/westus2/operations/454c2006-fe9c-4a67-846a-5299565d462d?api-version=2021-02-01",
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "2",
        "x-ms-ratelimit-remaining-subscription-writes": "1191"
      },
      "ResponseBody": {
        "name": "route-table-4910",
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/Sql-RG-3863/providers/Microsoft.Network/routeTables/route-table-4910",
        "etag": "W/\u00224a744eda-db32-4762-bc6f-85e2cb1a9297\u0022",
        "type": "Microsoft.Network/routeTables",
        "location": "westus2",
        "properties": {
          "provisioningState": "Updating",
          "resourceGuid": "cb7993fa-6411-4725-87cb-f810761da4bf",
          "disableBgpRoutePropagation": false,
          "routes": []
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/Sql-RG-3863/providers/Microsoft.Network/virtualNetworks/vnet-923?api-version=**",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus2",
        "properties": {
          "addressSpace": {
            "addressPrefixes": [
              "10.10.0.0/16"
            ]
          },
          "subnets": [
            {
              "name": "subnet01",
              "properties": {
                "addressPrefix": "10.10.1.0/24"
              }
            },
            {
              "name": "ManagedInstance",
              "properties": {
                "addressPrefix": "10.10.2.0/24",
                "networkSecurityGroup": {
                  "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/Sql-RG-3863/providers/Microsoft.Network/networkSecurityGroups/network-security-group-2328",
                  "properties": {}
                },
                "routeTable": {
                  "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/Sql-RG-3863/providers/Microsoft.Network/routeTables/route-table-4910",
                  "properties": {}
                },
                "delegations": [
                  {
                    "name": "Microsoft.Sql/managedInstances",
                    "type": "Microsoft.Sql/managedInstances",
                    "properties": {
                      "serviceName": "Microsoft.Sql/managedInstances"
                    }
                  }
                ]
              }
            }
          ]
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncNotification": "Enabled",
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Network/locations/westus2/operations/b9f84dbd-5869-4d9f-99f5-a5f895ecaec5?api-version=2021-02-01",
        "Conten[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/Sql-RG-3863/providers/Microsoft.Sql/managedInstances/managed-instance-6740?api-version=2022-08-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "westus2",
        "properties": {
          "administratorLogin": "admin-managed-instance-6740",
          "administratorLoginPassword": "HvVJ%paVC@%GBKmi",
          "subnetId": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/Sql-RG-3863/providers/Microsoft.Network/virtualNetworks/vnet-923/subnets/ManagedInstance",
          "publicDataEndpointEnabled": false,
          "proxyOverride": "Proxy",
          "timezoneId": "UTC",
          "maintenanceConfigurationId": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Maintenance/publicMaintenanceConfigurations/SQL_Default",
          "zoneRedundant": false
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "60",
        "x-ms-ratelimit-remaining-subscription-writes": "1189"
      },
      "ResponseBody": {
        "sku": {
          "name": "GP_Gen5",
          "tier": "GeneralPurpose",
          "family": "Gen5",
          "capacity": 8
        },
        "properties": {
          "provisioningState": "Creating",
          "administratorLogin": "admin-managed-instance-6740",
          "licenseType": "LicenseIncluded",
          "vCores": 8,
          "storageSizeInGB": 256,
          "collation": "SQL_Latin1_General_CP1_CI_AS",
          "publicDataEndpointEnabled": false,
          "proxyOverride": "Proxy",
          "timezoneId": "UTC",
          "maintenanceConfigurationId": "SystemDefault",
          "privateEndpointConnections": [],
          "currentBackupStorageRedundancy": "Geo",
          "requestedBackupStorageRedundancy": "Geo",
          "zoneRedundant": false
        },
        "location": "westus2",
        "tags": {},
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/Sql-RG-3863/providers/Microsoft.Sql/managedInstances/managed-instance-6740",
        "name": "managed-instance-6740",
        "type": "Microsoft.Sql/managedInstances"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/Sql-RG-3863/providers/Microsoft.Sql/managedInstances/managed-instance-6740?api-version=2022-08-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11851"
      },
      "ResponseBody": {
        "sku": {
          "name": "GP_Gen5",
          "tier": "GeneralPurpose",
          "family": "Gen5",
          "capacity": 8
        },
        "properties": {
          "provisioningState": "Creating",
          "fullyQualifiedDomainName": "managed-instance-6740.9c282ab55b24.database.windows.net",
          "administratorLogin": "admin-managed-instance-6740",
          "subnetId": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/Sql-RG-3863/providers/Microsoft.Network/virtualNetworks/vnet-923/subnets/ManagedInstance",
          "state": "Creating",
          "licenseType": "LicenseIncluded",
          "vCores": 8,
          "storageSizeInGB": 256,
          "collation": "SQL_Latin1_General_CP1_CI_AS",
          "dnsZone": "9c282ab55b24",
          "publicDataEndpointEnabled": false,
          "proxyOverride": "Proxy",
          "timezoneId": "UTC",
          "maintenanceConfigurationId": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Maintenance/publicMaintenanceConfigurations/SQL_Default",
          "privateEndpointConnections": [],
          "currentBackupStorageRedundancy": "Geo",
          "requestedBackupStorageRedundancy": "Geo",
          "zoneRedundant": false
        },
        "location": "westus2",
        "tags": {},
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/Sql-RG-3863/providers/Microsoft.Sql/managedInstances/managed-instance-6740",
        "name": "managed-instance-6740",
        "type": "Microsoft.Sql/managedInstances"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/Sql-RG-3863/providers/Microsoft.Sql/managedInstances/managed-instance-6740/databases/mi-database-1711?api-version=2022-05-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "westus2",
        "properties": {}
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/Sql-RG-3863/providers/Microsoft.Sql/locations/westus2/managedDatabaseAzureAsyncOperation/51b1c5a8-57a1-4a7e-b7d5-69797bf80d3b?api-version=2022-05-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/Sql-RG-3863/providers/Microsoft.Sql/locations/westus2/managedDatabaseOperationResults/51b1c5a8-57a1-4a7e-b7d5-69797bf80d3b?api-version=2022-05-01-preview",
        "Retry-After": "15",
        "x-ms-ratelimit-remaining-subscription-writes": "1193"
      },
      "ResponseBody": {
        "operation": "CreateManagedDatabase",
        "startTime": "2023-05-09T04:42:30.11Z"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/Sql-RG-3863/providers/Microsoft.Sql/locations/westus2/managedDatabaseAzureAsyncOperation/51b1c5a8-57a1-4a7e-b7d5-69797bf80d3b?api-version=2022-05-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "15",
        "x-ms-ratelimit-remaining-subscription-reads": "11860"
      },
      "ResponseBody": {
        "name": "51b1c5a8-57a1-4a7e-b7d5-69797bf80d3b",
        "status": "InProgress",
        "startTime": "2023-05-09T04:42:30.11Z"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/Sql-RG-3863/providers/Microsoft.Sql/managedInstances/managed-instance-6740/databases/mi-database-1711?api-version=2022-05-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11857"
      },
      "ResponseBody": {
        "properties": {
          "collation": "SQL_Latin1_General_CP1_CI_AS",
          "status": "Online",
          "creationDate": "2023-05-09T04:42:32.923Z",
          "defaultSecondaryLocation": "westcentralus"
        },
        "location": "westus2",
        "tags": {},
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/Sql-RG-3863/providers/Microsoft.Sql/managedInstances/managed-instance-6740/databases/mi-database-1711",
        "name": "mi-database-1711",
        "type": "Microsoft.Sql/managedInstances/databases"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/Sql-RG-3863/providers/Microsoft.Sql/managedInstances/managed-instance-6740/databases/mi-database-17110?api-version=2022-05-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-failure-cause": "gateway"
      },
      "ResponseBody": {
        "error": {
          "code": "ResourceNotFound",
          "message": "The Resource \u0027Microsoft.Sql/managedInstances/managed-instance-6740/databases/mi-database-17110\u0027 under resource group \u0027Sql-RG-3863\u0027 was not found. For more details please go to https://aka.ms/ARMResourceNotFoundFix"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/Sql-RG-3863/providers/Microsoft.Sql/managedInstances/managed-instance-6740/databases?api-version=2022-05-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11853"
      },
      "ResponseBody": {
        "value": [
          {
            "properties": {
              "collation": "SQL_Latin1_General_CP1_CI_AS",
              "status": "Online",
              "creationDate": "2023-05-09T04:42:32.923Z",
              "defaultSecondaryLocation": "westcentralus"
            },
            "location": "westus2",
            "tags": {},
            "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/Sql-RG-3863/providers/Microsoft.Sql/managedInstances/managed-instance-6740/databases/mi-database-1711",
            "name": "mi-database-1711",
            "type": "Microsoft.Sql/managedInstances/databases"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/Sql-RG-3863/providers/Microsoft.Sql/managedInstances/managed-instance-6740/databases?api-version=2022-05-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11849"
      },
      "ResponseBody": {
        "value": []
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "RandomSeed": "127140184",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "db1ab6f0-4769-4b27-930e-01e2ef9c123c"
  }
}
