{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/f3d94233-a9aa-4241-ac82-2dfb63ce637a?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11995"
      },
      "ResponseBody": {
        "id": "/subscriptions/f3d94233-a9aa-4241-ac82-2dfb63ce637a",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "subscriptionId": "f3d94233-a9aa-4241-ac82-2dfb63ce637a",
        "tenantId": "75743128-1c62-4904-9be1-c23c1edb9a9f",
        "displayName": "Visual Studio Enterprise Subscription",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Public_2014-09-01",
          "quotaId": "MSDN_2014-09-01",
          "spendingLimit": "On"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/f3d94233-a9aa-4241-ac82-2dfb63ce637a/resourcegroups/testRg-4-3087?api-version=**",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus2"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "id": "/subscriptions/f3d94233-a9aa-4241-ac82-2dfb63ce637a/resourceGroups/testRg-4-3087",
        "name": "testRg-4-3087",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus2",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/f3d94233-a9aa-4241-ac82-2dfb63ce637a/resourceGroups/testRg-4-3087/providers/Microsoft.Solutions/applicationDefinitions/appDef-G-2680?api-version=2019-07-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "westus2",
        "properties": {
          "lockLevel": "None",
          "displayName": "appDef-G-2680",
          "description": "appDef-G-2680 description",
          "packageFileUri": "https://raw.githubusercontent.com/Azure/azure-managedapp-samples/master/Managed%20Application%20Sample%20Packages/201-managed-storage-account/managedstorage.zip"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1198"
      },
      "ResponseBody": {
        "properties": {
          "lockingPolicy": {
            "allowedActions": [],
            "allowedDataActions": []
          },
          "isEnabled": true,
          "lockLevel": "None",
          "displayName": "appDef-G-2680",
          "description": "appDef-G-2680 description",
          "artifacts": [
            {
              "name": "ApplicationResourceTemplate",
              "type": "Template",
              "uri": "https://prdsapplianceprodmwh01.blob.core.windows.net/applicationdefinitions/C0E08_F3D94233A9AA4241AC822DFB63CE637A_43A8866F23E0118162D06693F363FA7D6FCE29463D01DE50317A594FBAB83305/73fcbe36380042bf8ed43ddc8d17a1cc/applicationResourceTemplate.json"
            },
            {
              "name": "CreateUiDefinition",
              "type": "Custom",
              "uri": "https://management.azure.com/subscriptions/f3d94233-a9aa-4241-ac82-2dfb63ce637a/resourceGroups/testRg-4-3087/providers/Microsoft.Solutions/applicationDefinitions/appDef-G-2680/applicationArtifacts/CreateUiDefinition?api-version=2017-09-01"
            },
            {
              "name": "MainTemplateParameters",
              "type": "Custom",
              "uri": "https://management.azure.com/subscriptions/f3d94233-a9aa-4241-ac82-2dfb63ce637a/resourceGroups/testRg-4-3087/providers/Microsoft.Solutions/applicationDefinitions/appDef-G-2680/applicationArtifacts/MainTemplateParameters?api-version=2017-09-01"
            }
          ]
        },
        "id": "/subscriptions/f3d94233-a9aa-4241-ac82-2dfb63ce637a/resourceGroups/testRg-4-3087/providers/Microsoft.Solutions/applicationDefinitions/appDef-G-2680",
        "name": "appDef-G-2680",
        "type": "Microsoft.Solutions/applicationDefinitions",
        "location": "westus2",
        "tags": {}
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/f3d94233-a9aa-4241-ac82-2dfb63ce637a/resourceGroups/testRg-4-3087/providers/Microsoft.Solutions/applications/application-G-6369?api-version=2019-07-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kind": "ServiceCatalog",
        "tags": {},
        "location": "westus2",
        "properties": {
          "managedResourceGroupId": "/subscriptions/f3d94233-a9aa-4241-ac82-2dfb63ce637a/resourceGroups/managed-4-4847",
          "applicationDefinitionId": "/subscriptions/f3d94233-a9aa-4241-ac82-2dfb63ce637a/resourceGroups/testRg-4-3087/providers/Microsoft.Solutions/applicationDefinitions/appDef-G-2680",
          "parameters": {
            "storageAccountNamePrefix": {
              "value": "s41883"
            },
            "storageAccountType": {
              "value": "Standard_LRS"
            }
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/f3d94233-a9aa-4241-ac82-2dfb63ce637a/resourceGroups/testRg-4-3087/providers/Microsoft.Solutions/locations/westus2/operationStatuses/eyJmdWxseVF1YWxpZmllZEFwcGxpYW5jZUlkIjoiL3N1YnNjcmlwdGlvbnMvZjNkOTQyMzMtYTlhYS00MjQxLWFjODItMmRmYjYzY2U2MzdhL3Jlc291cmNlR3JvdXBzL3Rlc3RSZy00LTMwODcvcHJvdmlkZXJzL01pY3Jvc29mdC5Tb2x1dGlvbnMvYXBwbGljYXRpb25zL2FwcGxpY2F0aW9uLUctNjM2OSIsImpvYklkIjoiQXBwbGlhbmNlUHJvdmlzaW9uaW5nSm9iOjJEUkdBOjJEVEVTVFJHOjNBMkQ0OjNBMkQzMDg3OjJEQVBQTElDQVRJT046M0EyREc6M0EyRDYzNjkifQ?api-version=2019-07-01",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/f3d94233-a9aa-4241-ac82-2dfb63ce637a/resourceGroups/testRg-4-3087/providers/Microsoft.Solutions/locations/westus2/operationStatuses/eyJmdWxseVF1YWxpZmllZEFwcGxpYW5jZUlkIjoiL3N1YnNjcmlwdGlvbnMvZjNkOTQyMzMtYTlhYS00MjQxLWFjODItMmRmYjYzY2U2MzdhL3Jlc291cmNlR3JvdXBzL3Rlc3RSZy00LTMwODcvcHJvdmlkZXJzL01pY3Jvc29mdC5Tb2x1dGlvbnMvYXBwbGljYXRpb25zL2FwcGxpY2F0aW9uLUctNjM2OSIsImpvYklkIjoiQXBwbGlhbmNlUHJvdmlzaW9uaW5nSm9iOjJEUkdBOjJEVEVTVFJHOjNBMkQ0OjNBMkQzMDg3OjJEQVBQTElDQVRJT046M0EyREc6M0EyRDYzNjkifQ?api-version=2019-07-01",
        "Retry-After": "15",
        "x-ms-ratelimit-remaining-subscription-writes": "1197"
      },
      "ResponseBody": {
        "properties": {
          "managedResourceGroupId": "/subscriptions/f3d94233-a9aa-4241-ac82-2dfb63ce637a/resourceGroups/managed-4-4847",
          "applicationDefinitionId": "/subscriptions/f3d94233-a9aa-4241-ac82-2dfb63ce637a/resourceGroups/testRg-4-3087/providers/Microsoft.Solutions/applicationDefinitions/appDef-G-2680",
          "provisioningState": "Accepted",
          "managementMode": "Managed",
          "createdBy": {
            "oid": "a7f6524f-c945-44eb-8671-431626ab4768",
            "applicationId": "f03720c1-6b28-4033-b949-e30e027685c6"
          },
          "updatedBy": {
            "oid": "a7f6524f-c945-44eb-8671-431626ab4768",
            "applicationId": "f03720c1-6b28-4033-b949-e30e027685c6"
          }
        },
        "id": "/subscriptions/f3d94233-a9aa-4241-ac82-2dfb63ce637a/resourceGroups/testRg-4-3087/providers/Microsoft.Solutions/applications/application-G-6369",
        "name": "application-G-6369",
        "type": "Microsoft.Solutions/applications",
        "kind": "ServiceCatalog",
        "location": "westus2",
        "tags": {}
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/f3d94233-a9aa-4241-ac82-2dfb63ce637a/resourceGroups/testRg-4-3087/providers/Microsoft.Solutions/locations/westus2/operationStatuses/eyJmdWxseVF1YWxpZmllZEFwcGxpYW5jZUlkIjoiL3N1YnNjcmlwdGlvbnMvZjNkOTQyMzMtYTlhYS00MjQxLWFjODItMmRmYjYzY2U2MzdhL3Jlc291cmNlR3JvdXBzL3Rlc3RSZy00LTMwODcvcHJvdmlkZXJzL01pY3Jvc29mdC5Tb2x1dGlvbnMvYXBwbGljYXRpb25zL2FwcGxpY2F0aW9uLUctNjM2OSIsImpvYklkIjoiQXBwbGlhbmNlUHJvdmlzaW9uaW5nSm9iOjJEUkdBOjJEVEVTVFJHOjNBMkQ0OjNBMkQzMDg3OjJEQVBQTElDQVRJT046M0EyREc6M0EyRDYzNjkifQ?api-version=2019-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11994"
      },
      "ResponseBody": {
        "status": "Accepted"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/f3d94233-a9aa-4241-ac82-2dfb63ce637a/resourceGroups/testRg-4-3087/providers/Microsoft.Solutions/applications/application-G-6369?api-version=2019-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11685"
      },
      "ResponseBody": {
        "properties": {
          "managedResourceGroupId": "/subscriptions/f3d94233-a9aa-4241-ac82-2dfb63ce637a/resourceGroups/managed-4-4847",
          "applicationDefinitionId": "/subscriptions/f3d94233-a9aa-4241-ac82-2dfb63ce637a/resourceGroups/testRg-4-3087/providers/Microsoft.Solutions/applicationDefinitions/appDef-G-2680",
          "parameters": {
            "storageAccountNamePrefix": {
              "type": "String",
              "value": "s41883"
            },
            "storageAccountType": {
              "type": "String",
              "value": "Standard_LRS"
            },
            "location": {
              "type": "String",
              "value": "westus2"
            }
          },
          "outputs": {
            "storageEndpoint": {
              "type": "String",
              "value": "https://s41883zu4ll3n7x3ok6.blob.core.windows.net/"
            }
          },
          "provisioningState": "Succeeded",
          "managementMode": "Managed",
          "createdBy": {
            "oid": "a7f6524f-c945-44eb-8671-431626ab4768",
            "applicationId": "f03720c1-6b28-4033-b949-e30e027685c6"
          },
          "updatedBy": {
            "oid": "a7f6524f-c945-44eb-8671-431626ab4768",
            "applicationId": "f03720c1-6b28-4033-b949-e30e027685c6"
          }
        },
        "id": "/subscriptions/f3d94233-a9aa-4241-ac82-2dfb63ce637a/resourceGroups/testRg-4-3087/providers/Microsoft.Solutions/applications/application-G-6369",
        "name": "application-G-6369",
        "type": "Microsoft.Solutions/applications",
        "kind": "ServiceCatalog",
        "location": "westus2",
        "tags": {}
      }
    },
[...]
