{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11987"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "TagKey-9823": "TagValue-1254",
          "TagKey-3481": "TagValue-320",
          "TagKey-4926": "TagValue-1187",
          "TagKey-751": "TagValue-3921",
          "TagKey-1866": "TagValue-8559",
          "TagKey-3094": "TagValue-9190",
          "TagKey-2449": "TagValue-9",
          "TagKey-8379": "TagValue-164",
          "TagKey-7470": "TagValue-2205",
          "TagKey-4236": "TagValue-3698",
          "TagKey-5316": "TagValue-2725"
        },
        "subscriptionId": "db1ab6f0-4769-4b27-930e-01e2ef9c123c",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": ".NET Mgmt SDK Test with TTL = 1 Day",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourcegroups/testRg-4-94?api-version=**",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus2"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1196"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRg-4-94",
        "name": "testRg-4-94",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus2",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRg-4-94/providers/Microsoft.Solutions/applicationDefinitions/appDef-G-3246?api-version=2019-07-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "westus2",
        "properties": {
          "lockLevel": "None",
          "displayName": "appDef-G-3246",
          "description": "appDef-G-3246 description",
          "packageFileUri": "https://raw.githubusercontent.com/Azure/azure-managedapp-samples/master/Managed%20Application%20Sample%20Packages/201-managed-storage-account/managedstorage.zip"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1195"
      },
      "ResponseBody": {
        "properties": {
          "lockingPolicy": {
            "allowedActions": [],
            "allowedDataActions": []
          },
          "isEnabled": true,
          "lockLevel": "None",
          "displayName": "appDef-G-3246",
          "description": "appDef-G-3246 description",
          "artifacts": [
            {
              "name": "ApplicationResourceTemplate",
              "type": "Template",
              "uri": "https://prdsapplianceprodmwh01.blob.core.windows.net/applicationdefinitions/B8430_DB1AB6F047694B27930E01E2EF9C123C_12E365E500E288A16950F923795EC44FB64674C6A69071E656CE50602305F60D/e451c74dfc314dca9a08f7c22efd2359/applicationResourceTemplate.json"
            },
            {
              "name": "CreateUiDefinition",
              "type": "Custom",
              "uri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRg-4-94/providers/Microsoft.Solutions/applicationDefinitions/appDef-G-3246/applicationArtifacts/CreateUiDefinition?api-version=2017-09-01"
            },
            {
              "name": "MainTemplateParameters",
              "type": "Custom",
              "uri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRg-4-94/providers/Microsoft.Solutions/applicationDefinitions/appDef-G-3246/applicationArtifacts/MainTemplateParameters?api-version=2017-09-01"
            }
          ]
        },
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRg-4-94/providers/Microsoft.Solutions/applicationDefinitions/appDef-G-3246",
        "name": "appDef-G-3246",
        "type": "Microsoft.Solutions/applicationDefinitions",
        "location": "westus2",
        "tags": {}
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRg-4-94/providers/Microsoft.Solutions/applications/application-G-1290?api-version=2019-07-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kind": "ServiceCatalog",
        "tags": {},
        "location": "westus2",
        "properties": {
          "managedResourceGroupId": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/managed-4-6849",
          "applicationDefinitionId": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRg-4-94/providers/Microsoft.Solutions/applicationDefinitions/appDef-G-3246",
          "parameters": {
            "storageAccountNamePrefix": {
              "value": "s46055"
            },
            "storageAccountType": {
              "value": "Standard_LRS"
            }
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRg-4-94/providers/Microsoft.Solutions/locations/westus2/operationResults/eyJmdWxseVF1YWxpZmllZEFwcGxpYW5jZUlkIjoiL3N1YnNjcmlwdGlvbnMvZGIxYWI2ZjAtNDc2OS00YjI3LTkzMGUtMDFlMmVmOWMxMjNjL3Jlc291cmNlR3JvdXBzL3Rlc3RSZy00LTk0L3Byb3ZpZGVycy9NaWNyb3NvZnQuU29sdXRpb25zL2FwcGxpY2F0aW9ucy9hcHBsaWNhdGlvbi1HLTEyOTAiLCJqb2JJZCI6IkFwcGxpYW5jZVByb3Zpc2lvbmluZ0pvYjoyRFJHQToyRFRFU1RSRzozQTJENDozQTJEOTQ6MkRBUFBMSUNBVElPTjozQTJERzozQTJEMTI5MCJ9?api-version=2019-07-01",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRg-4-94/providers/Microsoft.Solutions/locations/westus2/operationResults/eyJmdWxseVF1YWxpZmllZEFwcGxpYW5jZUlkIjoiL3N1YnNjcmlwdGlvbnMvZGIxYWI2ZjAtNDc2OS00YjI3LTkzMGUtMDFlMmVmOWMxMjNjL3Jlc291cmNlR3JvdXBzL3Rlc3RSZy00LTk0L3Byb3ZpZGVycy9NaWNyb3NvZnQuU29sdXRpb25zL2FwcGxpY2F0aW9ucy9hcHBsaWNhdGlvbi1HLTEyOTAiLCJqb2JJZCI6IkFwcGxpYW5jZVByb3Zpc2lvbmluZ0pvYjoyRFJHQToyRFRFU1RSRzozQTJENDozQTJEOTQ6MkRBUFBMSUNBVElPTjozQTJERzozQTJEMTI5MCJ9?api-version=2019-07-01",
        "Retry-After": "15",
        "x-ms-ratelimit-remaining-subscription-writes": "1194"
      },
      "ResponseBody": {
        "properties": {
          "managedResourceGroupId": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/managed-4-6849",
          "applicationDefinitionId": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRg-4-94/providers/Microsoft.Solutions/applicationDefinitions/appDef-G-3246",
          "provisioningState": "Accepted",
          "managementMode": "Managed",
          "createdBy": {
            "oid": "fdc9f735-07d7-441f-92ab-f95b1c49185a",
            "applicationId": "ea0eddd2-3d60-47f8-b3bf-7ec8ae554d10"
          },
          "updatedBy": {
            "oid": "fdc9f735-07d7-441f-92ab-f95b1c49185a",
            "applicationId": "ea0eddd2-3d60-47f8-b3bf-7ec8ae554d10"
          }
        },
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRg-4-94/providers/Microsoft.Solutions/applications/application-G-1290",
        "name": "application-G-1290",
        "type": "Microsoft.Solutions/applications",
        "kind": "ServiceCatalog",
        "location": "westus2",
        "tags": {}
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRg-4-94/providers/Microsoft.Solutions/locations/westus2/operationResults/eyJmdWxseVF1YWxpZmllZEFwcGxpYW5jZUlkIjoiL3N1YnNjcmlwdGlvbnMvZGIxYWI2ZjAtNDc2OS00YjI3LTkzMGUtMDFlMmVmOWMxMjNjL3Jlc291cmNlR3JvdXBzL3Rlc3RSZy00LTk0L3Byb3ZpZGVycy9NaWNyb3NvZnQuU29sdXRpb25zL2FwcGxpY2F0aW9ucy9hcHBsaWNhdGlvbi1HLTEyOTAiLCJqb2JJZCI6IkFwcGxpYW5jZVByb3Zpc2lvbmluZ0pvYjoyRFJHQToyRFRFU1RSRzozQTJENDozQTJEOTQ6MkRBUFBMSUNBVElPTjozQTJERzozQTJEMTI5MCJ9?api-version=2019-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11986"
      },
      "ResponseBody": {
        "status": "Accepted"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRg-4-94/providers/Microsoft.Solutions/applications/application-G-1290?api-version=2019-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11976"
      },
      "ResponseBody": {
        "properties": {
          "managedResourceGroupId": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/managed-4-6849",
          "applicationDefinitionId": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRg-4-94/providers/Microsoft.Solutions/applicationDefinitions/appDef-G-3246",
          "parameters": {
            "storageAccountNamePrefix": {
              "type": "String",
              "value": "s46055"
            },
            "storageAccountType": {
              "type": "String",
              "value": "Standard_LRS"
            },
            "location": {
              "type": "String",
              "value": "westus2"
            }
          },
          "outputs": {
            "storageEndpoint": {
              "type": "String",
              "value": "https://s46055zu4ll3n7x3ok6.blob.core.windows.net/"
            }
          },
          "provisioningState": "Succeeded",
          "managementMode": "Managed",
          "createdBy": {
            "oid": "fdc9f735-07d7-441f-92ab-f95b1c49185a",
            "applicationId": "ea0eddd2-3d60-47f8-b3bf-7ec8ae554d10"
          },
          "updatedBy": {
            "oid": "fdc9f735-07d7-441f-92ab-f95b1c49185a",
            "applicationId": "ea0eddd2-3d60-47f8-b3bf-7ec8ae554d10"
          }
        },
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRg-4-94/providers/microsoft.solutions/applications/application-G-1290",
        "name": "application-G-1290",
        "type": "microsoft.solutions/applications",
        "kind": "ServiceCatalog",
        "location": "westus2",
        "tags": {}
      }
    },
[...]
