{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/f3d94233-a9aa-4241-ac82-2dfb63ce637a?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11997"
      },
      "ResponseBody": {
        "id": "/subscriptions/f3d94233-a9aa-4241-ac82-2dfb63ce637a",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "subscriptionId": "f3d94233-a9aa-4241-ac82-2dfb63ce637a",
        "tenantId": "75743128-1c62-4904-9be1-c23c1edb9a9f",
        "displayName": "Visual Studio Enterprise Subscription",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Public_2014-09-01",
          "quotaId": "MSDN_2014-09-01",
          "spendingLimit": "On"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/f3d94233-a9aa-4241-ac82-2dfb63ce637a/resourcegroups/testRg-2-8404?api-version=**",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus2"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "id": "/subscriptions/f3d94233-a9aa-4241-ac82-2dfb63ce637a/resourceGroups/testRg-2-8404",
        "name": "testRg-2-8404",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus2",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/f3d94233-a9aa-4241-ac82-2dfb63ce637a/resourceGroups/testRg-2-8404/providers/Microsoft.Solutions/applicationDefinitions/appDef-L-6388?api-version=2019-07-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "westus2",
        "properties": {
          "lockLevel": "None",
          "displayName": "appDef-L-6388",
          "description": "appDef-L-6388 description",
          "packageFileUri": "https://raw.githubusercontent.com/Azure/azure-managedapp-samples/master/Managed%20Application%20Sample%20Packages/201-managed-storage-account/managedstorage.zip"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1198"
      },
      "ResponseBody": {
        "properties": {
          "lockingPolicy": {
            "allowedActions": [],
            "allowedDataActions": []
          },
          "isEnabled": true,
          "lockLevel": "None",
          "displayName": "appDef-L-6388",
          "description": "appDef-L-6388 description",
          "artifacts": [
            {
              "name": "ApplicationResourceTemplate",
              "type": "Template",
              "uri": "https://prdsapplianceprodmwh01.blob.core.windows.net/applicationdefinitions/C0E08_F3D94233A9AA4241AC822DFB63CE637A_9B8C0F1F834A88B314F207E724AF92B94669418A90A878A5F304B4BA8811C3F5/fede8cd4e0174688afb668a15e9b90f0/applicationResourceTemplate.json"
            },
            {
              "name": "CreateUiDefinition",
              "type": "Custom",
              "uri": "https://management.azure.com/subscriptions/f3d94233-a9aa-4241-ac82-2dfb63ce637a/resourceGroups/testRg-2-8404/providers/Microsoft.Solutions/applicationDefinitions/appDef-L-6388/applicationArtifacts/CreateUiDefinition?api-version=2017-09-01"
            },
            {
              "name": "MainTemplateParameters",
              "type": "Custom",
              "uri": "https://management.azure.com/subscriptions/f3d94233-a9aa-4241-ac82-2dfb63ce637a/resourceGroups/testRg-2-8404/providers/Microsoft.Solutions/applicationDefinitions/appDef-L-6388/applicationArtifacts/MainTemplateParameters?api-version=2017-09-01"
            }
          ]
        },
        "id": "/subscriptions/f3d94233-a9aa-4241-ac82-2dfb63ce637a/resourceGroups/testRg-2-8404/providers/Microsoft.Solutions/applicationDefinitions/appDef-L-6388",
        "name": "appDef-L-6388",
        "type": "Microsoft.Solutions/applicationDefinitions",
        "location": "westus2",
        "tags": {}
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/f3d94233-a9aa-4241-ac82-2dfb63ce637a/resourceGroups/testRg-2-8404/providers/Microsoft.Solutions/applications/application-L-7055?api-version=2019-07-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kind": "ServiceCatalog",
        "tags": {},
        "location": "westus2",
        "properties": {
          "managedResourceGroupId": "/subscriptions/f3d94233-a9aa-4241-ac82-2dfb63ce637a/resourceGroups/managed-2-9790",
          "applicationDefinitionId": "/subscriptions/f3d94233-a9aa-4241-ac82-2dfb63ce637a/resourceGroups/testRg-2-8404/providers/Microsoft.Solutions/applicationDefinitions/appDef-L-6388",
          "parameters": {
            "storageAccountNamePrefix": {
              "value": "s23210"
            },
            "storageAccountType": {
              "value": "Standard_LRS"
            }
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/f3d94233-a9aa-4241-ac82-2dfb63ce637a/resourceGroups/testRg-2-8404/providers/Microsoft.Solutions/locations/westus2/operationStatuses/eyJmdWxseVF1YWxpZmllZEFwcGxpYW5jZUlkIjoiL3N1YnNjcmlwdGlvbnMvZjNkOTQyMzMtYTlhYS00MjQxLWFjODItMmRmYjYzY2U2MzdhL3Jlc291cmNlR3JvdXBzL3Rlc3RSZy0yLTg0MDQvcHJvdmlkZXJzL01pY3Jvc29mdC5Tb2x1dGlvbnMvYXBwbGljYXRpb25zL2FwcGxpY2F0aW9uLUwtNzA1NSIsImpvYklkIjoiQXBwbGlhbmNlUHJvdmlzaW9uaW5nSm9iOjJEUkdBOjJEVEVTVFJHOjNBMkQyOjNBMkQ4NDA0OjJEQVBQTElDQVRJT046M0EyREw6M0EyRDcwNTUifQ?api-version=2019-07-01",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/f3d94233-a9aa-4241-ac82-2dfb63ce637a/resourceGroups/testRg-2-8404/providers/Microsoft.Solutions/locations/westus2/operationStatuses/eyJmdWxseVF1YWxpZmllZEFwcGxpYW5jZUlkIjoiL3N1YnNjcmlwdGlvbnMvZjNkOTQyMzMtYTlhYS00MjQxLWFjODItMmRmYjYzY2U2MzdhL3Jlc291cmNlR3JvdXBzL3Rlc3RSZy0yLTg0MDQvcHJvdmlkZXJzL01pY3Jvc29mdC5Tb2x1dGlvbnMvYXBwbGljYXRpb25zL2FwcGxpY2F0aW9uLUwtNzA1NSIsImpvYklkIjoiQXBwbGlhbmNlUHJvdmlzaW9uaW5nSm9iOjJEUkdBOjJEVEVTVFJHOjNBMkQyOjNBMkQ4NDA0OjJEQVBQTElDQVRJT046M0EyREw6M0EyRDcwNTUifQ?api-version=2019-07-01",
        "Retry-After": "15",
        "x-ms-ratelimit-remaining-subscription-writes": "1197"
      },
      "ResponseBody": {
        "properties": {
          "managedResourceGroupId": "/subscriptions/f3d94233-a9aa-4241-ac82-2dfb63ce637a/resourceGroups/managed-2-9790",
          "applicationDefinitionId": "/subscriptions/f3d94233-a9aa-4241-ac82-2dfb63ce637a/resourceGroups/testRg-2-8404/providers/Microsoft.Solutions/applicationDefinitions/appDef-L-6388",
          "provisioningState": "Accepted",
          "managementMode": "Managed",
          "createdBy": {
            "oid": "a7f6524f-c945-44eb-8671-431626ab4768",
            "applicationId": "f03720c1-6b28-4033-b949-e30e027685c6"
          },
          "updatedBy": {
            "oid": "a7f6524f-c945-44eb-8671-431626ab4768",
            "applicationId": "f03720c1-6b28-4033-b949-e30e027685c6"
          }
        },
        "id": "/subscriptions/f3d94233-a9aa-4241-ac82-2dfb63ce637a/resourceGroups/testRg-2-8404/providers/Microsoft.Solutions/applications/application-L-7055",
        "name": "application-L-7055",
        "type": "Microsoft.Solutions/applications",
        "kind": "ServiceCatalog",
        "location": "westus2",
        "tags": {}
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/f3d94233-a9aa-4241-ac82-2dfb63ce637a/resourceGroups/testRg-2-8404/providers/Microsoft.Solutions/locations/westus2/operationStatuses/eyJmdWxseVF1YWxpZmllZEFwcGxpYW5jZUlkIjoiL3N1YnNjcmlwdGlvbnMvZjNkOTQyMzMtYTlhYS00MjQxLWFjODItMmRmYjYzY2U2MzdhL3Jlc291cmNlR3JvdXBzL3Rlc3RSZy0yLTg0MDQvcHJvdmlkZXJzL01pY3Jvc29mdC5Tb2x1dGlvbnMvYXBwbGljYXRpb25zL2FwcGxpY2F0aW9uLUwtNzA1NSIsImpvYklkIjoiQXBwbGlhbmNlUHJvdmlzaW9uaW5nSm9iOjJEUkdBOjJEVEVTVFJHOjNBMkQyOjNBMkQ4NDA0OjJEQVBQTElDQVRJT046M0EyREw6M0EyRDcwNTUifQ?api-version=2019-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11996"
      },
      "ResponseBody": {
        "status": "Accepted"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/f3d94233-a9aa-4241-ac82-2dfb63ce637a/resourceGroups/testRg-2-8404/providers/Microsoft.Solutions/applications/application-L-7055?api-version=2019-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11682"
      },
      "ResponseBody": {
        "properties": {
          "managedResourceGroupId": "/subscriptions/f3d94233-a9aa-4241-ac82-2dfb63ce637a/resourceGroups/managed-2-9790",
          "applicationDefinitionId": "/subscriptions/f3d94233-a9aa-4241-ac82-2dfb63ce637a/resourceGroups/testRg-2-8404/providers/Microsoft.Solutions/applicationDefinitions/appDef-L-6388",
          "parameters": {
            "storageAccountNamePrefix": {
              "type": "String",
              "value": "s23210"
            },
            "storageAccountType": {
              "type": "String",
              "value": "Standard_LRS"
            },
            "location": {
              "type": "String",
              "value": "westus2"
            }
          },
          "outputs": {
            "storageEndpoint": {
              "type": "String",
              "value": "https://s23210zu4ll3n7x3ok6.blob.core.windows.net/"
            }
          },
          "provisioningState": "Succeeded",
          "managementMode": "Managed",
          "createdBy": {
            "oid": "a7f6524f-c945-44eb-8671-431626ab4768",
            "applicationId": "f03720c1-6b28-4033-b949-e30e027685c6"
          },
          "updatedBy": {
            "oid": "a7f6524f-c945-44eb-8671-431626ab4768",
            "applicationId": "f03720c1-6b28-4033-b949-e30e027685c6"
          }
        },
        "id": "/subscriptions/f3d94233-a9aa-4241-ac82-2dfb63ce637a/resourceGroups/testRg-2-8404/providers/Microsoft.Solutions/applications/application-L-7055",
        "name": "application-L-7055",
        "type": "Microsoft.Solutions/applications",
        "kind": "ServiceCatalog",
        "location": "westus2",
        "tags": {}
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/f3d94233-a9aa-4241-ac82-2dfb63ce637a/resourceGroups/testRg-2-8404/providers/Microsoft.Solutions/applications?api-version=2019-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "[...]
