{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11911"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "tagKey1": "tagValue1",
          "tagKey2": "tagValue2"
        },
        "subscriptionId": "db1ab6f0-4769-4b27-930e-01e2ef9c123c",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": ".NET Mgmt SDK Test with TTL = 1 Day",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourcegroups/bastionrg-7251?api-version=**",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11910"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/bastionrg-7251",
        "name": "bastionrg-7251",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus2",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/bastionrg-7251/providers/Microsoft.Network/virtualNetworks/vnet-6121?api-version=2021-02-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\"87157f85-bcc7-46b7-a895-265d367fd494\"",
        "x-ms-ratelimit-remaining-subscription-reads": "11909"
      },
      "ResponseBody": [
        "{\r\n",
        "  \"name\": \"vnet-6121\",\r\n",
        "  \"id\": \"/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/bastionrg-7251/providers/Microsoft.Network/virtualNetworks/vnet-6121\",\r\n",
        "  \"etag\": \"W/\\\"87157f85-bcc7-46b7-a895-265d367fd494\\\"\",\r\n",
        "  \"type\": \"Microsoft.Network/virtualNetworks\",\r\n",
        "  \"location\": \"westus2\",\r\n",
        "  \"properties\": {\r\n",
        "    \"provisioningState\": \"Succeeded\",\r\n",
        "    \"resourceGuid\": \"e7cef00d-7052-40c5-b34c-b35c7a557481\",\r\n",
        "    \"addressSpace\": {\r\n",
        "      \"addressPrefixes\": [\r\n",
        "        \"10.0.0.0/16\"\r\n",
        "      ]\r\n",
        "    },\r\n",
        "    \"subnets\": [\r\n",
        "      {\r\n",
        "        \"name\": \"AzureBastionSubnet\",\r\n",
        "        \"id\": \"/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/bastionrg-7251/providers/Microsoft.Network/virtualNetworks/vnet-6121/subnets/AzureBastionSubnet\",\r\n",
        "        \"etag\": \"W/\\\"87157f85-bcc7-46b7-a895-265d367fd494\\\"\",\r\n",
        "        \"properties\": {\r\n",
        "          \"provisioningState\": \"Succeeded\",\r\n",
        "          \"addressPrefix\": \"10.0.0.0/24\",\r\n",
        "          \"routeTable\": {\r\n",
        "            \"id\": \"/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/bastionrg-7251/providers/Microsoft.Network/routeTables/_e41f87a2_AZBST_RT_77059fe0-66ab-41fa-b781-f4af4e609c2f\"\r\n",
        "          },\r\n",
        "          \"delegations\": [],\r\n",
        "          \"privateEndpointNetworkPolicies\": \"Enabled\",\r\n",
        "          \"privateLinkServiceNetworkPolicies\": \"Enabled\"\r\n",
        "        },\r\n",
        "        \"type\": \"Microsoft.Network/virtualNetworks/subnets\"\r\n",
        "      }\r\n",
        "    ],\r\n",
        "    \"virtualNetworkPeerings\": [],\r\n",
        "    \"enableDdosProtection\": false\r\n",
        "  }\r\n",
        "}"
      ]
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/bastionrg-7251/providers/Microsoft.Network/virtualNetworks/vnet-6121/subnets/AzureBastionSubnet?api-version=2021-02-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/bastionrg-7251/providers/Microsoft.Network/publicIPAddresses/ip-2376?api-version=2021-02-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\"642d5583-31b6-4ceb-a418-ecc0f1415aa8\"",
        "x-ms-ratelimit-remaining-subscription-reads": "11907"
      },
      "ResponseBody": [
        "{\r\n",
        "  \"name\": \"ip-2376\",\r\n",
        "  \"id\": \"/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/bastionrg-7251/providers/Microsoft.Network/publicIPAddresses/ip-2376\",\r\n",
        "  \"etag\": \"W/\\\"642d5583-31b6-4ceb-a418-ecc0f1415aa8\\\"\",\r\n",
        "  \"location\": \"westus2\",\r\n",
        "  \"properties\": {\r\n",
        "    \"provisioningState\": \"Succeeded\",\r\n",
        "    \"resourceGuid\": \"02eccd3a-bf61-4e36-9bb5-9e38d5780362\",\r\n",
        "    \"ipAddress\": \"20.83.251.247\",\r\n",
        "    \"publicIPAddressVersion\": \"IPv4\",\r\n",
        "    \"publicIPAllocationMethod\": \"Static\",\r\n",
        "    \"idleTimeoutInMinutes\": 4,\r\n",
        "    \"ipTags\": []\r\n",
        "  },\r\n",
        "  \"type\": \"Microsoft.Network/publicIPAddresses\",\r\n",
        "  \"sku\": {\r\n",
        "    \"name\": \"Standard\",\r\n",
        "    \"tier\": \"Regional\"\r\n",
        "  }\r\n",
        "}"
      ]
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/bastionrg-7251/providers/Microsoft.Network/bastionHosts/bastion-2295?api-version=2021-02-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus2",
        "properties": {
          "ipConfigurations": [
            {
              "name": "bastionIPConfig-5719",
              "properties": {
                "subnet": {
                  "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/bastionrg-7251/providers/Microsoft.Network/virtualNetworks/vnet-6121/subnets/AzureBastionSubnet"
                },
                "publicIPAddress": {
                  "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/bastionrg-7251/providers/Microsoft.Network/publicIPAddresses/ip-2376"
                }
              }
            }
          ]
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncNotification": "Enabled",
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Network/locations/westus2/operations/2cc034a2-70c1-4658-b4bf-6cb889974b35?api-version=2021-02-01",
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": [
        "{\r\n",
        "  \"name\": \"bastion-2295\",\r\n",
        "  \"id\": \"/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/bastionrg-7251/providers/Microsoft.Network/bastionHosts/bastion-2295\",\r\n",
        "  \"etag\": \"W/\\\"476b2d21-20c4-41b4-937a-f5f6aef97065\\\"\",\r\n",
        "  \"type\": \"Microsoft.Network/bastionHosts\",\r\n",
        "  \"location\": \"westus2\",\r\n",
        "  \"properties\": {\r\n",
        "    \"provisioningState\": \"Updating\",\r\n",
        "    \"scaleUnits\": 2,\r\n",
        "    \"ipConfigurations\": [\r\n",
        "      {\r\n",
        "        \"name\": \"bastionIPConfig-5719\",\r\n",
        "        \"id\": \"/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/bastionrg-7251/providers/Microsoft.Network/bastionHosts/bastion-2295/bastionHostIpConfigurations/bastionIPConfig-5719\",\r\n",
        "        \"etag\": \"W/\\\"476b2d21-20c4-41b4-937a-f5f6aef97065\\\"\",\r\n",
        "        \"type\": \"Microsoft.Network/bastionHosts/bastionHostIpConfigurations\",\r\n",
        "        \"properties\": {\r\n",
        "          \"provisioningState\": \"Succeeded\",\r\n",
        "          \"privateIPAllocationMethod\": \"Dynamic\",\r\n",
        "          \"publicIPAddress\": {\r\n",
        "            \"id\": \"/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/bastionrg-7251/providers/Microsoft.Network/publicIPAddresses/ip-2376\"\r\n",
        "          },\r\n",
        "          \"subnet\": {\r\n",
        "            \"id\": \"/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/bastionrg-7251/providers/Microsoft.Network/virtualNetworks/vnet-6121/subnets/AzureBastionSubnet\"\r\n",
        "          }\r\n",
        "        }\r\n",
        "      }\r\n",
        "    ],\r\n",
        "    \"bastionShareableLinks\": {}\r\n",
        "  },\r\n",
        "  \"sku\": {\r\n",
        "    \"name\": \"Basic\"\r\n",
        "  }\r\n",
        "}"
      ]
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Network/locations/westus2/operations/2cc034a2-70c1-4658-b4bf-6cb889974b35?api-version=2021-02-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "x-ms-ratelimit-remaining-subscription-reads": "11906"
      },
      "ResponseBody": [
        "{\r\n",
        "  \"status\": \"InProgress\"\r\n",
        "}"
      ]
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/bastionrg-7251/providers/Microsoft.Network/bastionHosts/bastion-2295?api-version=2021-02-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\"45431a24-3ad7-4527-a646-216e8a0a9cb2\"",
        "x-ms-ratelimit-remaining-subscription-reads": "11716"
      },
      "ResponseBody": [
        "{\r\n",
        "  \"name\": \"bastion-2295\",\r\n",
        "  \"id\": \"/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/bastionrg-7251/providers/Microsoft.Network/bastionHosts/bastion-2295\",\r\n",
        "  \"etag\": \"W/\\\"45431a24-3ad7-4527-a646-216e8a0a9cb2\\\"\",\r\n",
        "  \"type\": \"Microsoft.Network/bastionHosts\",\r\n",
        "  \"location\": \"westus2\",\r\n",
        "  \"properties\": {\r\n",
        "    \"provisioningState\": \"Succeeded\",\r\n",
        "    \"dnsName\": \"bst-c892fcea-5797-4e34-b7be-0042b6ff2352.bastion.azure.com\",\r\n",
        "    \"scaleUnits\": 2,\r\n",
        "    \"ipConfigurations\": [\r\n",
        "      {\r\n",
        "        \"name\": \"bastionIPConfig-5719\",\r\n",
        "        \"id\": \"/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/bastionrg-7251/providers/Microsoft.Network/bastionHosts/bastion-2295/bastionHostIpConfigurations/bastionIPConfig-5719\",\r\n",
        "        \"etag\": \"W/\\\"45431a24-3[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/bastionrg-7251/providers/Microsoft.Network/bastionHosts/bastion-2295?api-version=2021-02-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncNotification": "Enabled",
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Network/locations/westus2/operations/078280cf-bd94-4884-ac65-578e5c4a706f?api-version=2021-02-01",
        "Location": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Network/locations/westus2/operationResults/078280cf-bd94-4884-ac65-578e5c4a706f?api-version=2021-02-01",
        "Retry-After": "10",
        "x-ms-ratelimit-remaining-subscription-deletes": "14999"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Network/locations/westus2/operations/078280cf-bd94-4884-ac65-578e5c4a706f?api-version=2021-02-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11958"
      },
      "ResponseBody": [
        "{\r\n",
        "  \"status\": \"Succeeded\"\r\n",
        "}"
      ]
    }
  ],
  "Variables": {
    "RandomSeed": "1531711705",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "db1ab6f0-4769-4b27-930e-01e2ef9c123c"
  }
}