{
  "Entries": [
    {
      "RequestUri": "/providers/Microsoft.RecoveryServices/operations?api-version=2016-08-10",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-tenant-reads": [
          "11999"
        ],
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"name\": \"Microsoft.RecoveryServices/Locations/backupPreValidateProtection/action\",\r\n      \"display\": {\r\n        \"provider\": \"Microsoft.RecoveryServices\",\r\n        \"resource\": \"PreValidate Protection\",\r\n        \"operation\": \"Pre Validate Enable Protection\",\r\n        \"description\": \"\"\r\n      },\r\n      \"origin\": \"user\"\r\n    },\r\n    {\r\n      \"name\": \"Microsoft.RecoveryServices/Locations/backupProtectedItem/write\",\r\n      \"display\": {\r\n        \"provider\": \"Microsoft.RecoveryServices\",\r\n        \"resource\": \"Protected Items\",\r\n        \"operation\": \"Create Backup Protected Item\",\r\n        \"description\": \"Create a backup Protected Item\"\r\n      },\r\n      \"origin\": \"user\"\r\n    },\r\n    {\r\n      \"name\": \"Microsoft.RecoveryServices/Locations/backupProtected[...]
