{
  "Entries": [
    {
      "RequestUri": "/catalog/usql/databases?api-version=2015-10-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "useragent": [
          "Azure SDK - Microsoft.Azure.Management.DataLake.AnalyticsCatalog 0.9.3-preview"
        ],
        "x-ms-client-resource-group-name": [
          "abarg17004"
        ],
        "x-ms-client-subscription-id": [
          "46153750-fa3b-4140-bf57-8beb7d5c971a"
        ]
      },
      "ResponseBody": "{\r\n  \"@odata.context\": \"https://testadlac1134.azuredatalakeanalytics.net/catalog/$metadata#databases\",\r\n  \"value\": [\r\n    {\r\n      \"computeAccountName\": \"testadlac1134\",\r\n      \"databaseName\": \"master\",\r\n      \"version\": \"d15256c6-1ae0-4f90-a317-be348959f835\"\r\n    },\r\n    {\r\n      \"computeAccountName\": \"testadlac1134\",\r\n      \"databaseName\": \"testdb15450\",\r\n      \"version\": \"501dd2ad-a37a-4611-98ac-50822583489d\"\r\n    }\r\n  ]\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; odata.metadata=minimal; odata.streaming=true"
        ],
        "OData-Version": [
          "4.0"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/catalog/usql/databases/testdb15450?api-version=2015-10-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "useragent": [
          "Azure SDK - Microsoft.Azure.Management.DataLake.AnalyticsCatalog 0.9.3-preview"
        ],
        "x-ms-client-resource-group-name": [
          "abarg17004"
        ],
        "x-ms-client-subscription-id": [
          "46153750-fa3b-4140-bf57-8beb7d5c971a"
        ]
      },
      "ResponseBody": "{\r\n  \"@odata.context\": \"https://testadlac1134.azuredatalakeanalytics.net/catalog/$metadata#databases/$entity\",\r\n  \"computeAccountName\": \"testadlac1134\",\r\n  \"databaseName\": \"testdb15450\",\r\n  \"version\": \"501dd2ad-a37a-4611-98ac-50822583489d\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; odata.metadata=minimal; odata.streaming=true"
        ],
        "OData-Version": [
          "4.0"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/catalog/usql/databases/testdb15450/schemas/dbo/tables?api-version=2015-10-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "useragent": [
          "Azure SDK - Microsoft.Azure.Management.DataLake.AnalyticsCatalog 0.9.3-preview"
        ],
        "x-ms-client-resource-group-name": [
          "abarg17004"
        ],
        "x-ms-client-subscription-id": [
          "46153750-fa3b-4140-bf57-8beb7d5c971a"
        ]
      },
      "ResponseBody": "{\r\n  \"@odata.context\": \"https://testadlac1134.azuredatalakeanalytics.net/catalog/$metadata#tables\",\r\n  \"value\": [\r\n    {\r\n      \"computeAccountName\": \"testadlac1134\",\r\n      \"databaseName\": \"testdb15450\",\r\n      \"schemaName\": \"dbo\",\r\n      \"tableName\": \"testtbl19389\",\r\n      \"columnList\": [\r\n        {\r\n          \"name\": \"UserId\",\r\n          \"type\": \"System.Int32\"\r\n        },\r\n        {\r\n          \"name\": \"Start\",\r\n          \"type\": \"System.DateTime\"\r\n        },\r\n        {\r\n          \"name\": \"Region\",\r\n          \"type\": \"System.String\"\r\n        },\r\n        {\r\n          \"name\": \"Query\",\r\n          \"type\": \"System.String\"\r\n        },\r\n        {\r\n          \"name\": \"Duration\",\r\n          \"type\": \"System.Int32\"\r\n        },\r\n        {\r\n          \"name\": \"Urls\",\r\n          \"type\": \"System.String\"\r\n        },\r\n        {\r\n          \"name\": \"ClickedUrls\",\r\n          \"type\": \"System.String\"\r\n        }\r\n      ],\r\n      \"indexList\": [\r\n        {\r\n          \"name\": \"idx1\",\r\n          \"indexKeys\": [\r\n            {\r\n              \"name\": \"Region\",\r\n              \"descending\": false\r\n            }\r\n          ],\r\n          \"columns\": [\r\n            \"Region\"\r\n          ],\r\n          \"distributionInfo\": {\r\n            \"type\": 2,\r\n            \"keys\": [\r\n              {\r\n                \"name\": \"Region\",\r\n                \"descending\": false\r\n              }\r\n            ],\r\n            \"count\": 0,\r\n            \"dynamicCount\": 0\r\n          },\r\n          \"partitionFunction\": \"1b723ef7-9baf-4d23-9ebe-99bb2735845c\",\r\n          \"partitionKeyList\": [],\r\n          \"streamNames\": [],\r\n          \"distributionGroups\": [],\r\n          \"isColumnstore\": false,\r\n          \"indexId\": 1,\r\n          \"isUnique\": false\r\n        }\r\n      ],\r\n      \"partitionKeyList\": [],\r\n      \"externalTable\": null,\r\n      \"version\": \"2d3fbbe6-1d3c-47d6-bb9e-18359ae8569e\"\r\n    }\r\n  ]\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; odata.metadata=minimal; odata.streaming=true"
        ],
        "OData-Version": [
          "4.0"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/catalog/usql/databases/testdb15450/schemas/dbo/tables/testtbl19389?api-version=2015-10-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "useragent": [
          "Azure SDK - Microsoft.Azure.Management.DataLake.AnalyticsCatalog 0.9.3-preview"
        ],
        "x-ms-client-resource-group-name": [
          "abarg17004"
        ],
        "x-ms-client-subscription-id": [
          "46153750-fa3b-4140-bf57-8beb7d5c971[...]
    {
      "RequestUri": "/catalog/usql/databases/testdb15450/schemas/dbo/tablevaluedfunctions?api-version=2015-10-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "useragent": [
          "Azure SDK - Microsoft.Azure.Management.DataLake.AnalyticsCatalog 0.9.3-preview"
        ],
        "x-ms-client-resource-group-name": [
          "abarg17004"
        ],
        "x-ms-client-subscription-id": [
          "46153750-fa3b-4140-bf57-8beb7d5c971a"
        ]
      },
      "ResponseBody": "{\r\n  \"@odata.context\": \"https://testadlac1134.azuredatalakeanalytics.net/catalog/$metadata#tablevaluedfunctions\",\r\n  \"value\": [\r\n    {\r\n      \"computeAccountName\": \"testadlac1134\",\r\n      \"databaseName\": \"testdb15450\",\r\n      \"schemaName\": \"dbo\",\r\n      \"tvfName\": \"testtvf12289\",\r\n      \"definition\": \"//create table weblogs on space-delimited website log data\\nCREATE FUNCTION testdb15450.dbo.testtvf12289()\\nRETURNS @result TABLE\\n(\\n    s_date DateTime,\\n    s_time string,\\n    s_sitename string,\\n    cs_method string, \\n    cs_uristem string,\\n    cs_uriquery string,\\n    s_port int,\\n    cs_username string, \\n    c_ip string,\\n    cs_useragent string,\\n    cs_cookie string,\\n    cs_referer string, \\n    cs_host string,\\n    sc_status int,\\n    sc_substatus int,\\n    sc[...]
    {
      "RequestUri": "/catalog/usql/databases/testdb15450/schemas/dbo/tablevaluedfunctions/testtvf12289?api-version=2015-10-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "useragent": [
          "Azure SDK - Microsoft.Azure.Management.DataLake.AnalyticsCatalog 0.9.3-preview"
        ],
        "x-ms-client-resource-group-name": [
          "abarg17004"
        ],
        "x-ms-client-subscription-id": [
          "46153750-fa3b-4140-bf[...]
    {
      "RequestUri": "/catalog/usql/databases/testdb15450/schemas/dbo/views?api-version=2015-10-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "useragent": [
          "Azure SDK - Microsoft.Azure.Management.DataLake.AnalyticsCatalog 0.9.3-preview"
        ],
        "x-ms-client-resource-group-name": [
          "abarg17004"
        ],
        "x-ms-client-subscription-id": [
          "46153750-fa3b-4140-bf57-8beb7d5c971a"
        ]
      },
      "ResponseBody": "{\r\n  \"@odata.context\": \"https://testadlac1134.azuredatalakeanalytics.net/catalog/$metadata#views\",\r\n  \"value\": [\r\n    {\r\n      \"computeAccountName\": \"testadlac1134\",\r\n      \"databaseName\": \"testdb15450\",\r\n      \"schemaName\": \"dbo\",\r\n      \"viewName\": \"testview13182\",\r\n      \"definition\": \"CREATE VIEW testdb15450.dbo.testview13182 \\nAS \\n    SELECT * FROM \\n    (\\n        VALUES(1,2),(2,4)\\n    ) \\nAS \\nT(a, b);\",\r\n      \"version\": \"0113975b-92b7-42d7-b8e2-bfc60f21b7b2\"\r\n    }\r\n  ]\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; odata.metadata=minimal; odata.streaming=true"
        ],
        "OData-Version": [
          "4.0"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/catalog/usql/databases/testdb15450/schemas/dbo/views/testview13182?api-version=2015-10-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "useragent": [
          "Azure SDK - Microsoft.Azure.Management.DataLake.AnalyticsCatalog 0.9.3-preview"
        ],
        "x-ms-client-resource-group-name": [
          "abarg17004"
        ],
        "x-ms-client-subscription-id": [
          "46153750-fa3b-4140-bf57-8beb7d5c971a"
        ]
      },
      "ResponseBody": "{\r\n  \"@odata.context\": \"https://testadlac1134.azuredatalakeanalytics.net/catalog/$metadata#views/$entity\",\r\n  \"computeAccountName\": \"testadlac1134\",\r\n  \"databaseName\": \"testdb15450\",\r\n  \"schemaName\": \"dbo\",\r\n  \"viewName\": \"testview13182\",\r\n  \"definition\": \"CREATE VIEW testdb15450.dbo.testview13182 \\nAS \\n    SELECT * FROM \\n    (\\n        VALUES(1,2),(2,4)\\n    ) \\nAS \\nT(a, b);\",\r\n  \"version\": \"0113975b-92b7-42d7-b8e2-bfc60f21b7b2\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; odata.metadata=minimal; odata.streaming=true"
        ],
        "OData-Version": [
          "4.0"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/catalog/usql/databases/testdb15450/schemas/dbo/procedures?api-version=2015-10-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "useragent": [
          "Azure SDK - Microsoft.Azure.Management.DataLake.AnalyticsCatalog 0.9.3-preview"
        ],
        "x-ms-client-resource-group-name": [
          "abarg17004"
        ],
        "x-ms-client-subscription-id": [
          "46153750-fa3b-4140-bf57-8beb7d5c971a"
        ]
      },
      "ResponseBody": "{\r\n  \"@odata.context\": \"https://testadlac1134.azuredatalakeanalytics.net/catalog/$metadata#procedures\",\r\n  \"value\": [\r\n    {\r\n      \"computeAccountName\": \"testadlac1134\",\r\n      \"databaseName\": \"testdb15450\",\r\n      \"schemaName\": \"dbo\",\r\n      \"procName\": \"testproc11409\",\r\n      \"definition\": \"CREATE PROCEDURE testdb15450.dbo.testproc11409()\\nAS BEGIN\\n  CREATE VIEW testdb15450.dbo.testview13182 \\n  AS \\n    SELECT * FROM \\n    (\\n        VALUES(1,2),(2,4)\\n    ) \\n  AS \\n  T(a, b);\\nEND;\",\r\n      \"version\": \"c9f95024-e224-42d5-b8af-8d961c790c62\"\r\n    }\r\n  ]\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; odata.metadata=minimal; odata.streaming=true"
        ],
        "OData-Version": [
          "4.0"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/catalog/usql/databases/testdb15450/schemas/dbo/procedures/testproc11409?api-version=2015-10-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "useragent": [
          "Azure SDK - Microsoft.Azure.Management.DataLake.AnalyticsCatalog 0.9.3-preview"
        ],
        "x-ms-client-resource-group-name": [
          "abarg17004"
        ],
        "x-ms-client-subscription-id": [
          "46153750-fa3b-4140-bf57-8beb7d5c971a"
        ]
      },
      "ResponseBody": "{\r\n  \"@odata.context\": \"https://testadlac1134.azuredatalakeanalytics.net/catalog/$metadata#procedures/$entity\",\r\n  \"computeAccountName\": \"testadlac1134\",\r\n  \"databaseName\": \"testdb15450\",\r\n  \"schemaName\": \"dbo\",\r\n  \"procName\": \"testproc11409\",\r\n  \"definition\": \"CREATE PROCEDURE testdb15450.dbo.testproc11409()\\nAS BEGIN\\n  CREATE VIEW testdb15450.dbo.testview13182 \\n  AS \\n    SELECT * FROM \\n    (\\n        VALUES(1,2),(2,4)\\n    ) \\n  AS \\n  T(a, b);\\nEND;\",\r\n  \"version\": \"c9f95024-e224-42d5-b8af-8d961c790c62\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; odata.metadata=minimal; odata.streaming=true"
        ],
        "OData-Version": [
          "4.0"
        ]
      },
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "46153750-fa3b-4140-bf57-8beb7d5c971a"
  }
}