{
  "Entries": [
    {
      "RequestUri": "/catalog/usql/databases?api-version=2015-10-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "useragent": [
          "Azure SDK - Microsoft.Azure.Management.DataLake.AnalyticsCatalog 0.9.3-preview"
        ],
        "x-ms-client-resource-group-name": [
          "abarg18151"
        ],
        "x-ms-client-subscription-id": [
          "0353d26d-e338-469a-a87a-bd3507471155"
        ]
      },
      "ResponseBody": "{\r\n  \"@odata.context\": \"https://testadlac13926.konaaccountdogfood.net/sqlip/$metadata#databases\",\r\n  \"value\": [\r\n    {\r\n      \"computeAccountName\": \"testadlac13926\",\r\n      \"databaseName\": \"master\",\r\n      \"version\": \"99fd5a56-f9d1-4682-b34c-d78456cc35b9\"\r\n    },\r\n    {\r\n      \"computeAccountName\": \"testadlac13926\",\r\n      \"databaseName\": \"testdb17619\",\r\n      \"version\": \"29ea71ba-c616-44ac-b9b4-ad02dbaa9a54\"\r\n    }\r\n  ]\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; odata.metadata=minimal; odata.streaming=true"
        ],
        "OData-Version": [
          "4.0"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/catalog/usql/databases/testdb17619?api-version=2015-10-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "useragent": [
          "Azure SDK - Microsoft.Azure.Management.DataLake.AnalyticsCatalog 0.9.3-preview"
        ],
        "x-ms-client-resource-group-name": [
          "abarg18151"
        ],
        "x-ms-client-subscription-id": [
          "0353d26d-e338-469a-a87a-bd3507471155"
        ]
      },
      "ResponseBody": "{\r\n  \"@odata.context\": \"https://testadlac13926.konaaccountdogfood.net/sqlip/$metadata#databases/$entity\",\r\n  \"computeAccountName\": \"testadlac13926\",\r\n  \"databaseName\": \"testdb17619\",\r\n  \"version\": \"29ea71ba-c616-44ac-b9b4-ad02dbaa9a54\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; odata.metadata=minimal; odata.streaming=true"
        ],
        "OData-Version": [
          "4.0"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/catalog/usql/databases/testdb17619/schemas/dbo/tables?api-version=2015-10-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "useragent": [
          "Azure SDK - Microsoft.Azure.Management.DataLake.AnalyticsCatalog 0.9.3-preview"
        ],
        "x-ms-client-resource-group-name": [
          "abarg18151"
        ],
        "x-ms-client-subscription-id": [
          "0353d26d-e338-469a-a87a-bd3507471155"
        ]
      },
      "ResponseBody": "{\r\n  \"@odata.context\": \"https://testadlac13926.konaaccountdogfood.net/sqlip/$metadata#tables\",\r\n  \"value\": [\r\n    {\r\n      \"computeAccountName\": \"testadlac13926\",\r\n      \"databaseName\": \"testdb17619\",\r\n      \"schemaName\": \"dbo\",\r\n      \"tableName\": \"testtbl19558\",\r\n      \"columnList\": [\r\n        {\r\n          \"name\": \"UserId\",\r\n          \"type\": \"System.Int32\"\r\n        },\r\n        {\r\n          \"name\": \"Start\",\r\n          \"type\": \"System.DateTime\"\r\n        },\r\n        {\r\n          \"name\": \"Region\",\r\n          \"type\": \"System.String\"\r\n        },\r\n        {\r\n          \"name\": \"Query\",\r\n          \"type\": \"System.String\"\r\n        },\r\n        {\r\n          \"name\": \"Duration\",\r\n          \"type\": \"System.Int32\"\r\n        },\r\n        {\r\n          \"name\": \"Urls\",\r\n          \"type\": \"System.String\"\r\n        },\r\n        {\r\n          \"name\": \"ClickedUrls\",\r\n          \"type\": \"System.String\"\r\n        }\r\n      ],\r\n      \"indexList\": [\r\n        {\r\n          \"name\": \"idx1\",\r\n          \"indexKeys\": [\r\n            {\r\n              \"name\": \"Region\",\r\n              \"descending\": false\r\n            }\r\n          ],\r\n          \"columns\": [\r\n            \"Region\"\r\n          ],\r\n          \"distributionInfo\": {\r\n            \"type\": 2,\r\n            \"keys\": [\r\n              {\r\n                \"name\": \"Region\",\r\n                \"descending\": false\r\n              }\r\n            ],\r\n            \"count\": 0,\r\n            \"dynamicCount\": 0\r\n          },\r\n          \"partitionFunction\": \"1ad51a94-2316-455a-b446-a0a1a5ebd2fc\",\r\n          \"partitionKeyList\": [],\r\n          \"streamNames\": [],\r\n          \"distributionGroups\": [],\r\n          \"isColumnstore\": false,\r\n          \"indexId\": 1,\r\n          \"isUnique\": false\r\n        }\r\n      ],\r\n      \"partitionKeyList\": [],\r\n      \"externalTable\": null,\r\n      \"version\": \"333a8e33-5019-437a-abc8-a96156975e95\"\r\n    }\r\n  ]\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; odata.metadata=minimal; odata.streaming=true"
        ],
        "OData-Version": [
          "4.0"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/catalog/usql/databases/testdb17619/schemas/dbo/tables/testtbl19558?api-version=2015-10-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "useragent": [
          "Azure SDK - Microsoft.Azure.Management.DataLake.AnalyticsCatalog 0.9.3-preview"
        ],
        "x-ms-client-resource-group-name": [
          "abarg18151"
        ],
        "x-ms-client-subscription-id": [
          "0353d26d-e338-469a-a87a-bd350747115[...]
    {
      "RequestUri": "/catalog/usql/databases/testdb17619/schemas/dbo/tablevaluedfunctions?api-version=2015-10-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "useragent": [
          "Azure SDK - Microsoft.Azure.Management.DataLake.AnalyticsCatalog 0.9.3-preview"
        ],
        "x-ms-client-resource-group-name": [
          "abarg18151"
        ],
        "x-ms-client-subscription-id": [
          "0353d26d-e338-469a-a87a-bd3507471155"
        ]
      },
      "ResponseBody": "{\r\n  \"@odata.context\": \"https://testadlac13926.konaaccountdogfood.net/sqlip/$metadata#tablevaluedfunctions\",\r\n  \"value\": [\r\n    {\r\n      \"computeAccountName\": \"testadlac13926\",\r\n      \"databaseName\": \"testdb17619\",\r\n      \"schemaName\": \"dbo\",\r\n      \"tvfName\": \"testtvf17306\",\r\n      \"definition\": \"//create table weblogs on space-delimited website log data\\nCREATE FUNCTION testdb17619.dbo.testtvf17306()\\nRETURNS @result TABLE\\n(\\n    s_date DateTime,\\n    s_time string,\\n    s_sitename string,\\n    cs_method string, \\n    cs_uristem string,\\n    cs_uriquery string,\\n    s_port int,\\n    cs_username string, \\n    c_ip string,\\n    cs_useragent string,\\n    cs_cookie string,\\n    cs_referer string, \\n    cs_host string,\\n    sc_status int,\\n    sc_substatus int,\\n    sc[...]
    {
      "RequestUri": "/catalog/usql/databases/testdb17619/schemas/dbo/tablevaluedfunctions/testtvf17306?api-version=2015-10-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "useragent": [
          "Azure SDK - Microsoft.Azure.Management.DataLake.AnalyticsCatalog 0.9.3-preview"
        ],
        "x-ms-client-resource-group-name": [
          "abarg18151"
        ],
        "x-ms-client-subscription-id": [
          "0353d26d-e338-469a-a8[...]
    {
      "RequestUri": "/catalog/usql/databases/testdb17619/schemas/dbo/views?api-version=2015-10-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "useragent": [
          "Azure SDK - Microsoft.Azure.Management.DataLake.AnalyticsCatalog 0.9.3-preview"
        ],
        "x-ms-client-resource-group-name": [
          "abarg18151"
        ],
        "x-ms-client-subscription-id": [
          "0353d26d-e338-469a-a87a-bd3507471155"
        ]
      },
      "ResponseBody": "{\r\n  \"@odata.context\": \"https://testadlac13926.konaaccountdogfood.net/sqlip/$metadata#views\",\r\n  \"value\": [\r\n    {\r\n      \"computeAccountName\": \"testadlac13926\",\r\n      \"databaseName\": \"testdb17619\",\r\n      \"schemaName\": \"dbo\",\r\n      \"viewName\": \"testview12389\",\r\n      \"definition\": \"CREATE VIEW testdb17619.dbo.testview12389 \\nAS \\n    SELECT * FROM \\n    (\\n        VALUES(1,2),(2,4)\\n    ) \\nAS \\nT(a, b);\",\r\n      \"version\": \"a77086a6-edeb-420b-adc6-d4e9c1d930cf\"\r\n    }\r\n  ]\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; odata.metadata=minimal; odata.streaming=true"
        ],
        "OData-Version": [
          "4.0"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/catalog/usql/databases/testdb17619/schemas/dbo/views/testview12389?api-version=2015-10-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "useragent": [
          "Azure SDK - Microsoft.Azure.Management.DataLake.AnalyticsCatalog 0.9.3-preview"
        ],
        "x-ms-client-resource-group-name": [
          "abarg18151"
        ],
        "x-ms-client-subscription-id": [
          "0353d26d-e338-469a-a87a-bd3507471155"
        ]
      },
      "ResponseBody": "{\r\n  \"@odata.context\": \"https://testadlac13926.konaaccountdogfood.net/sqlip/$metadata#views/$entity\",\r\n  \"computeAccountName\": \"testadlac13926\",\r\n  \"databaseName\": \"testdb17619\",\r\n  \"schemaName\": \"dbo\",\r\n  \"viewName\": \"testview12389\",\r\n  \"definition\": \"CREATE VIEW testdb17619.dbo.testview12389 \\nAS \\n    SELECT * FROM \\n    (\\n        VALUES(1,2),(2,4)\\n    ) \\nAS \\nT(a, b);\",\r\n  \"version\": \"a77086a6-edeb-420b-adc6-d4e9c1d930cf\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; odata.metadata=minimal; odata.streaming=true"
        ],
        "OData-Version": [
          "4.0"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/catalog/usql/databases/testdb17619/schemas/dbo/procedures?api-version=2015-10-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "useragent": [
          "Azure SDK - Microsoft.Azure.Management.DataLake.AnalyticsCatalog 0.9.3-preview"
        ],
        "x-ms-client-resource-group-name": [
          "abarg18151"
        ],
        "x-ms-client-subscription-id": [
          "0353d26d-e338-469a-a87a-bd3507471155"
        ]
      },
      "ResponseBody": "{\r\n  \"@odata.context\": \"https://testadlac13926.konaaccountdogfood.net/sqlip/$metadata#procedures\",\r\n  \"value\": [\r\n    {\r\n      \"computeAccountName\": \"testadlac13926\",\r\n      \"databaseName\": \"testdb17619\",\r\n      \"schemaName\": \"dbo\",\r\n      \"procName\": \"testproc18849\",\r\n      \"definition\": \"CREATE PROCEDURE testdb17619.dbo.testproc18849()\\nAS BEGIN\\n  CREATE VIEW testdb17619.dbo.testview12389 \\n  AS \\n    SELECT * FROM \\n    (\\n        VALUES(1,2),(2,4)\\n    ) \\n  AS \\n  T(a, b);\\nEND;\",\r\n      \"version\": \"bf1202bc-24be-49fd-a5d3-b0febab7501e\"\r\n    }\r\n  ]\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; odata.metadata=minimal; odata.streaming=true"
        ],
        "OData-Version": [
          "4.0"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/catalog/usql/databases/testdb17619/schemas/dbo/procedures/testproc18849?api-version=2015-10-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "useragent": [
          "Azure SDK - Microsoft.Azure.Management.DataLake.AnalyticsCatalog 0.9.3-preview"
        ],
        "x-ms-client-resource-group-name": [
          "abarg18151"
        ],
        "x-ms-client-subscription-id": [
          "0353d26d-e338-469a-a87a-bd3507471155"
        ]
      },
      "ResponseBody": "{\r\n  \"@odata.context\": \"https://testadlac13926.konaaccountdogfood.net/sqlip/$metadata#procedures/$entity\",\r\n  \"computeAccountName\": \"testadlac13926\",\r\n  \"databaseName\": \"testdb17619\",\r\n  \"schemaName\": \"dbo\",\r\n  \"procName\": \"testproc18849\",\r\n  \"definition\": \"CREATE PROCEDURE testdb17619.dbo.testproc18849()\\nAS BEGIN\\n  CREATE VIEW testdb17619.dbo.testview12389 \\n  AS \\n    SELECT * FROM \\n    (\\n        VALUES(1,2),(2,4)\\n    ) \\n  AS \\n  T(a, b);\\nEND;\",\r\n  \"version\": \"bf1202bc-24be-49fd-a5d3-b0febab7501e\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; odata.metadata=minimal; odata.streaming=true"
        ],
        "OData-Version": [
          "4.0"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/catalog/usql/databases/testdb17619/schemas/dbo/types?api-version=2015-10-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "useragent": [
          "Azure SDK - Microsoft.Azure.Management.DataLake.AnalyticsCatalog 0.9.3-preview"
        ],
        "x-ms-client-resource-group-name": [
          "abarg18151"
        ],
        "x-ms-client-subscription-id": [
          "0353d26d-e338-469a-a87a-bd3507471155"
        ]
      },
      "ResponseBody": "{\r\n  \"@odata.context\": \"https://testadlac13926.konaaccountdogfood.net/sqlip/$metadata#types\",\r\n  \"value\": [\r\n    {\r\n      \"computeAccountName\": \"testadlac13926\",\r\n      \"databaseName\": \"master\",\r\n      \"schemaName\": \"sys\",\r\n      \"typeName\": \"Microsoft.Analytics.Types.Sql.SqlArray\",\r\n      \"typeFamily\": \"SQL\",\r\n      \"cSharpName\": \"Microsoft.Analytics.Types.Sql.SqlArray\",\r\n      \"fullCSharpName\": \"Microsoft.Analytics.Types.Sql.SqlArray\",\r\n      \"systemTypeId\": 100,\r\n      \"userTypeId\": 334,\r\n      \"schemaId\": 0,\r\n      \"principalId\": null,\r\n      \"isNullable\": false,\r\n      \"isUserDefined\": false,\r\n      \"isAssemblyType\": false,\r\n      \"isTableType\": false,\r\n      \"isComplexType\": false,\r\n      \"version\": \"1137ad93-d19b-4d4e-b726-011f76d4d833\"\r\n    },\r\n    {\r\n      \"computeAccountName\": \"testadlac13926\",\r\n      \"databaseName\": \"master\",\r\n      \"schemaName\": \"sys\",\r\n      \"typeName\": \"Microsoft.Analytics.Types.Sql.SqlBinary\",\r\n      \"typeFamily\": \"SQL\",\r\n      \"cSharpName\": \"SqlBinary\",\r\n      \"fullCSharpName\": \"Microsoft.Analytics.Types.Sql.SqlBinary\",\r\n      \"systemTypeId\": 100,\r\n      \"userTypeId\": 341,\r\n   [...]
    {
      "RequestUri": "/catalog/usql/databases/testdb17619/schemas/dbo/types?$filter=isComplexType%20eq%20false&api-version=2015-10-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "useragent": [
          "Azure SDK - Microsoft.Azure.Management.DataLake.AnalyticsCatalog 0.9.3-preview"
        ],
        "x-ms-client-resource-group-name": [
          "abarg18151"
        ],
        "x-ms-client-subscription-id": [
          "0353d26d-e338-[...]
