{
  "Entries": [
    {
      "RequestUri": "/subscriptions/db4e2fdb-6d80-4e6e-b7cd-736098270664/providers/Microsoft.DataBoxEdge/skus?api-version=2019-08-01&$filter=location%20eq%20%27centraluseuap%27",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"resourceType\": \"dataBoxEdgeDevices\",\r\n      \"name\": \"Edge\",\r\n      \"locations\": [\r\n        \"centraluseuap\"\r\n      ],\r\n      \"locationInfo\": [\r\n        {\r\n          \"location\": \"centraluseuap\",\r\n          \"zones\": [],\r\n          \"zoneDetails\": []\r\n        }\r\n      ],\r\n      \"restrictions\": []\r\n    },\r\n    {\r\n      \"resourceType\": \"dataBoxEdgeDevices\",\r\n      \"name\": \"Gateway\",\r\n      \"locations\": [\r\n        \"centraluseuap\"\r\n      ],\r\n      \"locationInfo\": [\r\n        {\r\n          \"location\": \"centraluseuap\",\r\n          \"zones\": [],\r\n          \"zoneDetails\": []\r\n        }\r\n      ],\r\n      \"restrictions\": []\r\n    },\r\n    {\r\n      \"resourceType\": \"dataBoxEdgeDevices\",\r\n      \"name\": \"TEA_1Node\",\r\n      \"location[...]
