{
  "Entries": [
    {
      "RequestUri": "/providers/Microsoft.PowerBIDedicated/operations?api-version=2017-10-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"name\": \"Microsoft.PowerBIDedicated/capacities/read\",\r\n      \"display\": {\r\n        \"provider\": \"Microsoft Power BI Dedicated\",\r\n        \"resource\": \"capacities\",\r\n        \"operation\": \"Read Power BI Dedicated Capacity\",\r\n        \"description\": \"Retrieves the information of the specified Power BI Dedicated Capacity.\"\r\n      },\r\n      \"origin\": \"user,system\"\r\n    },\r\n    {\r\n      \"name\": \"Microsoft.PowerBIDedicated/capacities/write\",\r\n      \"display\": {\r\n        \"provider\": \"Microsoft Power BI Dedicated\",\r\n        \"resource\": \"capacities\",\r\n        \"operation\": \"Create/Update Power BI Dedicated Capacity\",\r\n        \"description\": \"Creates or updates the specified Power BI Dedicated Capacity.\"\r\n      },\r\n      \"origin\": \"user,system\"\r\n    },\r\n    {\r\n      \"name\": \"Microsoft.PowerB[...]
[...]
