{
  "Entries": [
    {
      "RequestUri": "https://eccdc9b7-7603-402b-879d-bde2b637db56.eus.cnt-prod.loadtesting.azure.com/appcomponents/ff0be495-eb8b-43f7-b18b-7877d33d98e7?api-version=2022-06-01-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson"
      },
      "RequestBody": {
        "testid": "d7c68e2a-bcd8-423f-b9ce-fe9cccd00f1c",
        "name": "New App Component",
        "value": {
          "appComponentConnectionString": {
            "resourceId": "/subscriptions/7c71b563-0dc0-4bc0-bcf6-06f8f0516c7a/resourceGroups/App-Service-Sample-Demo-rg/providers/Microsoft.Web/sites/App-Service-Sample-Demo",
            "resourceName": "App-Service-Sample-Demo",
            "resourceType": "Microsoft.Web/sites",
            "subscriptionId": "7c71b563-0dc0-4bc0-bcf6-06f8f0516c7a"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-07-01-preview, 2022-06-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "734c2e80-7011-4cab-8d45-498f61a547b5"
      },
      "ResponseBody": {
        "resourceId": "/subscriptions/7c71b563-0dc0-4bc0-bcf6-06f8f0516c7a/resourcegroups/yashika-rg/providers/microsoft.loadtestservice/loadtests/loadtestsdk",
        "testId": "d7c68e2a-bcd8-423f-b9ce-fe9cccd00f1c",
        "testRunId": null,
        "name": "ff0be495-eb8b-43f7-b18b-7877d33d98e7",
        "value": {
          "/subscriptions/7c71b563-0dc0-4bc0-bcf6-06f8f0516c7a/resourceGroups/App-Service-Sample-Demo-rg/providers/Microsoft.Web/sites/App-Service-Sample-Demo": {
            "resourceId": "/subscriptions/7c71b563-0dc0-4bc0-bcf6-06f8f0516c7a/resourceGroups/App-Service-Sample-Demo-rg/providers/Microsoft.Web/sites/App-Service-Sample-Demo",
            "resourceName": "App-Service-Sample-Demo",
            "resourceType": "Microsoft.Web/sites",
            "displayName": null,
            "resourceGroup": "App-Service-Sample-Demo-rg",
            "subscriptionId": "7c71b563-0dc0-4bc0-bcf6-06f8f0516c7a",
            "kind": null
          }
        }
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com/",
    "ENDPOINT": "eccdc9b7-7603-402b-879d-bde2b637db56.eus.cnt-prod.loadtesting.azure.com",
    "RandomSeed": "375428201"
  }
}
