{
  "Entries": [
    {
      "RequestUri": "https://eccdc9b7-7603-402b-879d-bde2b637db56.eus.cnt-prod.loadtesting.azure.com/loadtests/d7c68e2a-bcd8-423f-b9ce-fe9cccd00f1c/files/1c2ccb7b-8f62-4f70-812e-70df2c3df314?api-version=2022-06-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "multipart/form-data;boundary=----WebkitFormBoundaryIajoMWevpH"
      },
      "RequestBody": "LS0tLS0tV2Via2l0Rm9ybUJvdW5kYXJ5SWFqb01XZXZwSA0KQ29udGVudC1EaXNwb3NpdGlvbjogZm9ybS1kYXRhOyBuYW1lPSJmaWxlIjsgZmlsZW5hbWU9InNhbXBsZS5qbXgiDQpDb250ZW50LVR5cGU6IGFwcGxpY2F0aW9uL29jdGV0LXN0cmVhbQ0KDQpBenVyZS5Db3JlLlJlcXVlc3RDb250ZW50K1N0cmVhbUNvbnRlbnQNCg0KLS0tLS0tV2Via2l0Rm9ybUJvdW5kYXJ5SWFqb01XZXZwSC0t",
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-07-01-preview, 2022-06-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://eccdc9b7-7603-402b-879d-bde2b637db56.eus.cnt-prod.loadtesting.azure.com/loadtests/d7c68e2a-bcd8-423f-b9ce-fe9cccd00f1c/files/1c2ccb7b-8f62-4f70-812e-70df2c3df314?resourceId=%2fsubscriptions%2f7c71b563-0dc0-4bc0-bcf6-06f8f0516c7a%2fresourcegroups%2fyashika-rg%2fproviders%2fmicrosoft.loadtestservice%2floadtests%2floadtestsdk\u0026api-version=2022-06-01-preview",
        "mise-correlation-id": "5b6b3e2c-22d6-46b9-9561-baed8e412c77"
      },
      "ResponseBody": {
        "url": "https://stcntproddataeus.blob.core.windows.net/0f707b6c-09cb-4fa8-a12d-b243c792d9b4/1c2ccb7b-8f62-4f70-812e-70df2c3df314?sv=2020-04-08\u0026se=2022-10-07T14%3A18%3A09Z\u0026sr=b\u0026sp=r\u0026sig=yKo5Dbgn1HX2B2%2BNXKE205NPRsXSNVzWq%2FRCBi4SdR4%3D",
        "fileId": "1c2ccb7b-8f62-4f70-812e-70df2c3df314",
        "filename": "sample.jmx",
        "fileType": 0,
        "expireTime": "2022-10-07T14:18:09.8140411",
        "validationStatus": "VALIDATION_INITIATED"
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com/",
    "LOADTESTSERVICE_ENDPOINT": "eccdc9b7-7603-402b-879d-bde2b637db56.eus.cnt-prod.loadtesting.azure.com",
    "RandomSeed": "304296478"
  }
}
