{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11865"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "TagKey-9823": "TagValue-1254",
          "TagKey-3481": "TagValue-320",
          "TagKey-4926": "TagValue-1187",
          "TagKey-751": "TagValue-3921",
          "TagKey-1866": "TagValue-8559",
          "TagKey-3094": "TagValue-9190",
          "TagKey-2449": "TagValue-9",
          "TagKey-8379": "TagValue-164",
          "TagKey-7470": "TagValue-2205",
          "TagKey-4236": "TagValue-3698",
          "TagKey-5316": "TagValue-2725"
        },
        "subscriptionId": "db1ab6f0-4769-4b27-930e-01e2ef9c123c",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": ".NET Mgmt SDK Test with TTL = 1 Day",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourcegroups/testrg961?api-version=2019-10-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus2"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1151"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testrg961",
        "name": "testrg961",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus2",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Compute?api-version=2022-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11864"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Compute",
        "namespace": "Microsoft.Compute",
        "authorizations": [
          {
            "applicationId": "60e6cd67-9c8c-4951-9b3c-23c25a2169af",
            "roleDefinitionId": "e4770acb-272e-4dc8-87f3-12f44a612224"
          },
          {
            "applicationId": "a303894e-f1d8-4a37-bf10-67aa654a0596",
            "roleDefinitionId": "903ac751-8ad5-4e5a-bfc2-5e49f450a241"
          },
          {
            "applicationId": "a8b6bf88-1d1a-4626-b040-9a729ea93c65",
            "roleDefinitionId": "45c8267c-80ba-4b96-9a43-115b8f49fccd"
          },
          {
            "applicationId": "184909ca-69f1-4368-a6a7-c558ee6eb0bd",
            "roleDefinitionId": "45c8267c-80ba-4b96-9a43-115b8f49fccd"
          },
          {
            "applicationId": "5e5e43d4-54da-4211-86a4-c6e7f3715801",
            "roleDefinitionId": "ffcd6e5b-8772-457d-bb17-89703c03428f"
          },
          {
            "applicationId": "ce6ff14a-7fdc-4685-bbe0-f6afdfcfa8e0",
            "roleDefinitionId": "cb17cddc-dbac-4ae0-ae79-8db34eddfca0"
          },
          {
            "applicationId": "372140e0-b3b7-4226-8ef9-d57986796201",
            "roleDefinitionId": "cb17cddc-dbac-4ae0-ae79-8db34eddfca0"
          },
          {
            "applicationId": "579d9c9d-4c83-4efc-8124-7eba65ed3356",
            "roleDefinitionId": "8c99c4ce-d744-4597-a2f0-0a0044d67560"
          },
          {
            "applicationId": "b9a92e36-2cf8-4f4e-bcb3-9d99e00e14ab",
            "roleDefinitionId": "6efa92ca-56b6-40af-a468-5e3d2b5232f0"
          }
        ],
        "resourceTypes": [
          {
            "resourceType": "availabilitySets",
            "locations": [
              "East US",
              "East US 2",
              "West US",
              "Central US",
              "North Central US",
              "South Central US",
              "North Europe",
              "West Europe",
              "East Asia",
              "Southeast Asia",
              "Japan East",
              "Japan West",
              "Australia East",
              "Australia Southeast",
              "Australia Central",
              "Brazil South",
              "South India",
              "Central India",
              "West India",
              "Canada Central",
              "Canada East",
              "West US 2",
              "West Central US",
              "UK South",
              "UK West",
              "Korea Central",
              "Korea South",
              "France Central",
              "South Africa North",
              "UAE North",
              "Switzerland North",
              "Germany West Central",
              "Norway East",
              "Jio India West",
              "West US 3",
              "Sweden Central",
              "Qatar Central"
            ],
            "apiVersions": [
              "2022-11-01",
              "2022-08-01",
              "2022-03-01",
              "2021-11-01",
              "2021-07-01",
              "2021-04-01",
              "2021-03-01",
              "2020-12-01",
              "2020-06-01",
              "2019-12-01",
              "2019-07-01",
              "2019-03-01",
              "2018-10-01",
              "2018-06-01",
              "2018-04-01",
              "2017-12-01",
              "2017-03-30",
              "2016-08-30",
              "2016-04-30-preview",
              "2016-03-30",
              "2015-06-15",
              "2015-05-01-preview"
            ],
            "defaultApiVersion": "2021-07-01",
            "apiProfiles": [
              {
                "profileVersion": "2017-03-09-profile",
                "apiVersion": "2016-03-30"
              },
              {
                "profileVersion": "2018-03-01-hybrid",
                "apiVersion": "2017-03-30"
              },
              {
                "profileVersion": "2018-06-01-profile",
                "apiVersion": "2017-12-01"
              },
              {
                "profileVersion": "2019-03-01-hybrid",
                "apiVersion": "2017-12-01"
              },
              {
                "profileVersion": "2020-09-01-hybrid",
                "apiVersion": "2020-06-01"
              }
            ],
            "capabilities": "CrossResourceGroupResourceMove, CrossSubscriptionResourceMove, SupportsTags, SupportsLocation"
          },
          {
            "resourceType": "virtualMachines",
            "locations": [
              "East US",
              "East US 2",
              "West US",
              "Central US",
              "North Central US",
              "South Central US",
              "North Europe",
              "West Europe",
              "East Asia",
              "Southeast Asia",
             [...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testrg961/providers/Microsoft.Compute/availabilitySets/test-aset8239?api-version=2022-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "platformUpdateDomainCount": 5,
          "platformFaultDomainCount": 2
        },
        "sku": {
          "name": "Aligned"
        },
        "location": "westus2"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-resource": "Microsoft.Compute/PutVM3Min;239,Microsoft.Compute/PutVM30Min;1198",
        "x-ms-ratelimit-remaining-subscription-writes": "1149"
      },
      "ResponseBody": {
        "name": "test-aset8239",
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testrg961/providers/Microsoft.Compute/availabilitySets/test-aset8239",
        "type": "Microsoft.Compute/availabilitySets",
        "location": "westus2",
        "properties": {
          "platformUpdateDomainCount": 5,
          "platformFaultDomainCount": 2
        },
        "sku": {
          "name": "Aligned"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testrg961/validateMoveResources?api-version=2019-10-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "resources": [
          "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testrg961/providers/Microsoft.Compute/availabilitySets/test-aset8239"
        ],
        "targetResourceGroup": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testrg2917"
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Location": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/operationresults/eyJqb2JJZCI6IlJFU09VUkNFQkFUQ0hNT1ZFSk9CLVRFU1RSRzk2MS1XRVNUVVMyLVZBTElEQVRFIiwiam9iTG9jYXRpb24iOiJ3ZXN0dXMyIn0?api-version=2019-10-01",
        "Retry-After": "15",
        "x-ms-ratelimit-remaining-subscription-writes": "1195"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/operationresults/eyJqb2JJZCI6IlJFU09VUkNFQkFUQ0hNT1ZFSk9CLVRFU1RSRzk2MS1XRVNUVVMyLVZBTElEQVRFIiwiam9iTG9jYXRpb24iOiJ3ZXN0dXMyIn0?api-version=2019-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Location": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/operationresults/eyJqb2JJZCI6IlJFU09VUkNFQkFUQ0hNT1ZFSk9CLVRFU1RSRzk2MS1XRVNUVVMyLVZBTElEQVRFIiwiam9iTG9jYXRpb24iOiJ3ZXN0dXMyIn0?api-version=2019-10-01",
        "Retry-After": "15",
        "x-ms-ratelimit-remaining-subscription-reads": "11863"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/operationresults/eyJqb2JJZCI6IlJFU09VUkNFQkFUQ0hNT1ZFSk9CLVRFU1RSRzk2MS1XRVNUVVMyLVZBTElEQVRFIiwiam9iTG9jYXRpb24iOiJ3ZXN0dXMyIn0?api-version=2019-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": "11854"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "RandomSeed": "1884897609",
    "RESOURCE_MANAGER_URL": "https://management.azure.com",
    "SUBSCRIPTION_ID": "db1ab6f0-4769-4b27-930e-01e2ef9c123c"
  }
}
