{
  "Entries": [
    {
      "RequestUri": "https://chrisskeyvaulthsm.managedhsm.azure.net/backup?api-version=7.2-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://managedhsm.azure.net\u0022",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://chrisskeyvaulthsm.managedhsm.azure.net/backup?api-version=7.2-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "storageResourceUri": "https://chrisskeyvaultprim.blob.core.windows.net/backup",
        "token": "Sanitized"
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "azure-asyncoperation": "https://chrisskeyvaulthsm.managedhsm.azure.net/backup/e157bc7cdec148089554afdb42a1e6df/pending",
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "0",
        "x-ms-server-latency": "1210"
      },
      "ResponseBody": {
        "status": "InProgress",
        "statusDetails": null,
        "error": {
          "code": null,
          "message": null,
          "innererror": null
        },
        "startTime": 1607470246,
        "endTime": null,
        "jobId": "e157bc7cdec148089554afdb42a1e6df",
        "azureStorageBlobContainerUri": null
      }
    },
    {
      "RequestUri": "https://chrisskeyvaulthsm.managedhsm.azure.net/backup/e157bc7cdec148089554afdb42a1e6df/pending?api-version=7.2-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20201130-1-64549fd2-develop",
        "x-ms-server-latency": "1001"
      },
      "ResponseBody": {
        "azureStorageBlobContainerUri": null,
        "endTime": null,
        "error": {
          "code": null,
          "innererror": null,
          "message": null
        },
        "jobId": "e157bc7cdec148089554afdb42a1e6df",
        "startTime": 1607470246,
        "status": "InProgress",
        "statusDetails": null
      }
    },
[...]
    {
      "RequestUri": "https://chrisskeyvaulthsm.managedhsm.azure.net/restore?api-version=7.2-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "sasTokenParameters": {
          "storageResourceUri": "https://chrisskeyvaultprim.blob.core.windows.net/backup",
          "token": "Sanitized"
        },
        "folderToRestore": "mhsm-chrisskeyvaulthsm-2020120823304666"
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "azure-asyncoperation": "https://chrisskeyvaulthsm.managedhsm.azure.net/restore/923a1981f659416d9feef9a81e42071a/pending",
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "0",
        "x-ms-server-latency": "5464"
      },
      "ResponseBody": {
        "endTime": null,
        "error": {
          "code": null,
          "innererror": null,
          "message": null
        },
        "jobId": "923a1981f659416d9feef9a81e42071a",
        "startTime": 1607470265,
        "status": "InProgress",
        "statusDetails": null
      }
    },
    {
      "RequestUri": "https://chrisskeyvaulthsm.managedhsm.azure.net/restore/923a1981f659416d9feef9a81e42071a/pending?api-version=7.2-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20201130-1-64549fd2-develop",
        "x-ms-server-latency": "4028"
      },
      "ResponseBody": {
        "endTime": null,
        "error": {
          "code": null,
          "innererror": null,
          "message": null
        },
        "jobId": "923a1981f659416d9feef9a81e42071a",
        "startTime": 1607470265,
        "status": "InProgress",
        "statusDetails": null
      }
    },
[...]
    {
      "RequestUri": "https://chrisskeyvaulthsm.managedhsm.azure.net/restore/923a1981f659416d9feef9a81e42071a/pending?api-version=7.2-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20201130-1-64549fd2-develop",
        "x-ms-server-latency": "2591"
      },
      "ResponseBody": {
        "endTime": 1607470284,
        "error": null,
        "jobId": "923a1981f659416d9feef9a81e42071a",
        "startTime": 1607470265,
        "status": "Succeeded",
        "statusDetails": null
      }
    }
  ],
  "Variables": {
    "AZURE_MANAGEDHSM_URL": "https://chrisskeyvaulthsm.managedhsm.azure.net/",
    "BLOB_PRIMARY_STORAGE_ACCOUNT_KEY": "Sanitized",
    "BLOB_STORAGE_ACCOUNT_NAME": "chrisskeyvaultprim",
    "RandomSeed": "232847108"
  }
}