{
  "Entries": [
    {
      "RequestUri": "https://textanalytics-westeurope.ppe.cognitiveservices.azure.com/text/analytics/v3.1-preview.3/entities/health/jobs?stringIndexType=Utf16CodeUnit",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "documents": [
          {
            "id": "0",
            "text": "Subject is taking 100mg of ibuprofen twice daily",
            "language": "en"
          }
        ]
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "operation-location": "https://textanalytics-westeurope.ppe.cognitiveservices.azure.com/text/analytics/v3.1-preview.3/entities/health/jobs/90704182-010a-4b15-b21c-4ceba6d39d03"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://textanalytics-westeurope.ppe.cognitiveservices.azure.com/text/analytics/v3.1-preview.3/entities/health/jobs/90704182-010a-4b15-b21c-4ceba6d39d03?showStats=false",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "jobId": "90704182-010a-4b15-b21c-4ceba6d39d03",
        "lastUpdateDateTime": "2020-11-12T19:33:57Z",
        "createdDateTime": "2020-11-12T19:33:57Z",
        "expirationDateTime": "2020-11-13T19:33:57Z",
        "status": "notStarted",
        "errors": []
      }
    },
[...]
    {
      "RequestUri": "https://textanalytics-westeurope.ppe.cognitiveservices.azure.com/text/analytics/v3.1-preview.3/entities/health/jobs/90704182-010a-4b15-b21c-4ceba6d39d03?showStats=false",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "jobId": "90704182-010a-4b15-b21c-4ceba6d39d03",
        "lastUpdateDateTime": "2020-11-12T19:34:01Z",
        "createdDateTime": "2020-11-12T19:33:57Z",
        "expirationDateTime": "2020-11-13T19:33:57Z",
        "status": "succeeded",
        "errors": [],
        "results": {
          "documents": [
            {
              "id": "0",
              "entities": [
                {
                  "offset": 18,
                  "length": 5,
                  "text": "100mg",
                  "category": "Dosage",
                  "confidenceScore": 1.0,
                  "isNegated": false
                },
                {
                  "offset": 27,
                  "length": 9,
                  "text": "ibuprofen",
                  "category": "MedicationName",
                  "confidenceScore": 1.0,
                  "isNegated": false,
                  "links": [
                    {
                      "dataSource": "UMLS",
                      "id": "C0020740"
                    },
                    {
                      "dataSource": "AOD",
                      "id": "0000019879"
                    },
                    {
                      "dataSource": "ATC",
                      "id": "M01AE01"
                    },
                    {
                      "dataSource": "CCPSS",
                      "id": "0046165"
                    },
                    {
                      "d[...]
