{
  "Entries": [
    {
      "RequestUri": "https://textanalytics-westeurope.ppe.cognitiveservices.azure.com/text/analytics/v3.1-preview.3/entities/health/jobs?stringIndexType=Utf16CodeUnit",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "documents": [
          {
            "id": "0",
            "text": "RECORD #333582770390100 | MH | 85986313 | | 054351 | 2/14/2001 12:00:00 AM | CORONARY ARTERY DISEASE.",
            "language": "en"
          },
          {
            "id": "1",
            "text": "RECORD #333582770390100 | MH | 85986313 | | 054351 | 2/14/2001 12:00:00 AM | CORONARY ARTERY DISEASE.",
            "language": "en"
          },
          {
            "id": "2",
            "text": "RECORD #333582770390100 | MH | 85986313 | | 054351 | 2/14/2001 12:00:00 AM | CORONARY ARTERY DISEASE.",
            "language": "en"
          },
          {
            "id": "3",
            "text": "RECORD #3335827703901[...]
    {
      "RequestUri": "https://textanalytics-westeurope.ppe.cognitiveservices.azure.com/text/analytics/v3.1-preview.3/entities/health/jobs/dcb89372-7aef-40b9-b879-409253681ed4?$top=2\u0026showStats=false",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "jobId": "dcb89372-7aef-40b9-b879-409253681ed4",
        "lastUpdateDateTime": "2020-11-17T20:17:53Z",
        "createdDateTime": "2020-11-17T20:17:53Z",
        "expirationDateTime": "2020-11-18T20:17:53Z",
        "status": "running",
        "errors": []
      }
    },
    {
      "RequestUri": "https://textanalytics-westeurope.ppe.cognitiveservices.azure.com/text/analytics/v3.1-preview.3/entities/health/jobs/dcb89372-7aef-40b9-b879-409253681ed4?$top=2\u0026showStats=false",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "jobId": "dcb89372-7aef-40b9-b879-409253681ed4",
        "lastUpdateDateTime": "2020-11-17T20:17:54Z",
        "createdDateTime": "2020-11-17T20:17:53Z",
        "expirationDateTime": "2020-11-18T20:17:53Z",
        "status": "succeeded",
        "errors": [],
        "results": {
          "documents": [
            {
              "id": "0",
              "entities": [
                {
                  "offset": 63,
                  "length": 11,
                  "text": "12:00:00 AM",
                  "category": "Time",
                  "confidenceScore": 1.0,
                  "isNegated": false
                },
                {
                  "offset": 77,
                  "length": 23,
                  "text": "CORONARY ARTERY DISEASE",
                  "category": "Diagnosis",
                  "confidenceScore": 1.0,
                  "isNegated": false,
                  "links": [
                    {
                      "dataSource": "UMLS",
                      "id": "C1956346"
                    },
                    {
                      "dataSource": "AOD",
                      "id": "0000005327"
                    },
                    {
                      "dataSource": "BI",
                      "id": "BI00010"
                    },
                    {
                      "dataSource": "CCPSS",
                      "id": "0037465"
                    },
                    {
                      "da[...]
    {
      "RequestUri": "https://textanalytics-westeurope.ppe.cognitiveservices.azure.com/text/analytics/v3.1-preview.3/entities/health/jobs/dcb89372-7aef-40b9-b879-409253681ed4?$top=2\u0026$skip=2\u0026showStats=false",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBo[...]
[...]
