{
  "Entries": [
    {
      "RequestUri": "https://mariari-westus2-s.cognitiveservices.azure.com/text/analytics/v3.1-preview.5/entities/health/jobs?stringIndexType=Utf16CodeUnit",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "documents": [
          {
            "id": "1",
            "text": "Subject is taking 100mg of ibuprofen twice daily",
            "language": "en"
          },
          {
            "id": "2",
            "text": "Can cause rapid or irregular heartbeat, delirium, panic, psychosis, and heart failure.",
            "language": "en"
          }
        ]
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "operation-location": "https://mariari-westus2-s.cognitiveservices.azure.com/text/analytics/v3.1-preview.5/entities/health/jobs/7e8f3b58-4aff-455f-ba86-f52333d5be84"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://mariari-westus2-s.cognitiveservices.azure.com/text/analytics/v3.1-preview.5/entities/health/jobs/7e8f3b58-4aff-455f-ba86-f52333d5be84?showStats=false",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "jobId": "7e8f3b58-4aff-455f-ba86-f52333d5be84",
        "lastUpdateDateTime": "2021-05-14T17:28:18Z",
        "createdDateTime": "2021-05-14T17:28:18Z",
        "expirationDateTime": "2021-05-15T17:28:18Z",
        "status": "notStarted",
        "errors": []
      }
    },
[...]
    {
      "RequestUri": "https://mariari-westus2-s.cognitiveservices.azure.com/text/analytics/v3.1-preview.5/entities/health/jobs/7e8f3b58-4aff-455f-ba86-f52333d5be84?showStats=false",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "jobId": "7e8f3b58-4aff-455f-ba86-f52333d5be84",
        "lastUpdateDateTime": "2021-05-14T17:28:29Z",
        "createdDateTime": "2021-05-14T17:28:18Z",
        "expirationDateTime": "2021-05-15T17:28:18Z",
        "status": "succeeded",
        "errors": [],
        "results": {
          "documents": [
            {
              "id": "1",
              "entities": [
                {
                  "offset": 18,
                  "length": 5,
                  "text": "100mg",
                  "category": "Dosage",
                  "confidenceScore": 1.0
                },
                {
                  "offset": 27,
                  "length": 9,
                  "text": "ibuprofen",
                  "category": "MedicationName",
                  "confidenceScore": 1.0,
                  "name": "ibuprofen",
                  "links": [
                    {
                      "dataSource": "UMLS",
                      "id": "C0020740"
                    },
                    {
                      "dataSource": "AOD",
                      "id": "0000019879"
                    },
                    {
                      "dataSource": "ATC",
                      "id": "M01AE01"
                    },
                    {
                      "dataSource": "CCPSS",
                      "id": "0046165"
                    },
                    {
                      "d[...]
