{
  "Entries": [
    {
      "RequestUri": "https://cognitiveusw2dev.azure-api.net/text/analytics/v3.1-preview.3/entities/health/jobs?stringIndexType=Utf16CodeUnit",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "documents": [
          {
            "id": "1",
            "text": "Subject is taking 100mg of ibuprofen twice daily",
            "language": "en"
          },
          {
            "id": "2",
            "text": "Can cause rapid or irregular heartbeat, delirium, panic, psychosis, and heart failure.",
            "language": "en"
          }
        ]
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "operation-location": "https://cognitiveusw2dev.azure-api.net/text/analytics/v3.1-preview.3/entities/health/jobs/70c8c70a-ee1e-4944-bbcd-5ed1237aedd1"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://cognitiveusw2dev.azure-api.net/text/analytics/v3.1-preview.3/entities/health/jobs/70c8c70a-ee1e-4944-bbcd-5ed1237aedd1?$top=1\u0026showStats=false",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "jobId": "70c8c70a-ee1e-4944-bbcd-5ed1237aedd1",
        "lastUpdateDateTime": "2020-11-04T13:55:11Z",
        "createdDateTime": "2020-11-04T13:55:11Z",
        "expirationDateTime": "2020-11-05T13:55:11Z",
        "status": "notStarted",
        "errors": []
      }
    },
[...]
    {
      "RequestUri": "https://cognitiveusw2dev.azure-api.net/text/analytics/v3.1-preview.3/entities/health/jobs/70c8c70a-ee1e-4944-bbcd-5ed1237aedd1?$top=1\u0026showStats=false",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "jobId": "70c8c70a-ee1e-4944-bbcd-5ed1237aedd1",
        "lastUpdateDateTime": "2020-11-04T13:55:15Z",
        "createdDateTime": "2020-11-04T13:55:11Z",
        "expirationDateTime": "2020-11-05T13:55:11Z",
        "status": "succeeded",
        "errors": [],
        "results": {
          "documents": [
            {
              "id": "1",
              "statistics": {
                "charactersCount": 48,
                "transactionsCount": 1
              },
              "entities": [
                {
                  "offset": 18,
                  "length": 5,
                  "text": "100mg",
                  "category": "Dosage",
                  "confidenceScore": 1.0,
                  "isNegated": false
                },
                {
                  "offset": 27,
                  "length": 9,
                  "text": "ibuprofen",
                  "category": "MedicationName",
                  "confidenceScore": 1.0,
                  "isNegated": false,
                  "links": [
                    {
                      "dataSource": "UMLS",
                      "id": "C0020740"
                    },
                    {
                      "dataSource": "AOD",
                      "id": "0000019879"
                    },
                    {
                      "dataSource": "ATC",
                      "id": "M01AE01"
                    },
                    {
                      "dataSource": "CCPSS",
                      "id": "0046165"
                    },
                    {
                      "d[...]
