{
  "Entries": [
    {
      "RequestUri": "https://wuppe.api.cognitive.microsoft.com/language/:query-knowledgebases?projectName=190a9e13-8ede-4e4b-a8fd-c4d7f2aeab6c\u0026deploymentName=test\u0026api-version=2021-05-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "question": "How long should my Surface battery last?",
        "top": 3,
        "userId": "sd53lsY=",
        "confidenceScoreThreshold": 0.2,
        "answerSpanRequest": {
          "enable": true,
          "confidenceScoreThreshold": 0.2,
          "topAnswersWithSpan": 1
        },
        "includeUnstructuredSources": true
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": [
        "{\n",
        "  \u0022answers\u0022: [\n",
        "    {\n",
        "      \u0022questions\u0022: [\n",
        "        \u0022Make your battery last\u0022\n",
        "      ],\n",
        "      \u0022answer\u0022: \u0022**Make your battery last**\\n\\nFor info on how to care for your battery and power supply, conserve power, and make your Surface battery last longer, see [Surface battery and power](http://www.microsoft.com/surface/support/hardware-and-drivers/battery-and-power)[...]
