{
  "Entries": [
    {
      "RequestUri": "https://wuppe.api.cognitive.microsoft.com/language/:query-text?api-version=2021-07-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "question": "How long it takes to charge surface?",
        "records": [
          {
            "id": "1",
            "text": "Power and charging. It takes two to four hours to charge the Surface Pro 4 battery fully from an empty state. It can take longer if you\u2019re using your Surface for power-intensive activities like gaming or video streaming while you\u2019re charging it."
          },
          {
            "id": "2",
            "text": "You can use the USB port on your Surface Pro 4 power supply to charge other devices, like a phone, while your Surface charges. The USB port on the power supply is only for charging, not for data transfer. If you want to use a USB device, plug it into the USB port on your Surface."
          }
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "csp-billing-usage": "CognitiveServices.TextAnalytics.QuestionAnsweringTextRecords=1"
      },
      "ResponseBody": [
        "{\n",
        "  \u0022answers\u0022: [\n",
        "    {\n",
        "      \u0022answer\u0022: \u0022Power and charging. It takes two to four hours to charge the Surface Pro 4 battery fully from an empty state. It can take longer if you\u2019re using your Surface for power-intensive activities like gaming or video streaming while you\u2019re charging it.\u0022,\n",
        "      \u0022confidenceScore\u0022: 0.9298818707466125,\n",
        "      \u0022id\u0022: \u00221\u0022,\n",[...]
