{
  "Entries": [
    {
      "RequestUri": "https://wuppe.api.cognitive.microsoft.com/language/:query-knowledgebases?projectName=190a9e13-8ede-4e4b-a8fd-c4d7f2aeab6c\u0026deploymentName=test\u0026api-version=2021-07-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "question": "Battery life",
        "top": 3,
        "filters": {
          "metadataFilter": {
            "metadata": [
              {
                "key": "explicitlytaggedheading",
                "value": "check the battery level"
              },
              {
                "key": "explicitlytaggedheading",
                "value": "make your battery last"
              }
            ],
            "logicalOperation": "OR"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "csp-billing-usage": "CognitiveServices.TextAnalytics.QuestionAnsweringTransaction=1"
      },
      "ResponseBody": [
        "{\n",
        "  \u0022answers\u0022: [\n",
        "    {\n",
        "      \u0022questions\u0022: [\n",
        "        \u0022Check the battery level\u0022\n",
        "      ],\n",
        "      \u0022answer\u0022: \u0022**Check the battery level**\\n\\nYou can check the battery level from the lock screen or the desktop:\u0022,\n",
        "      \u0022confidenceScore\u0022: 0.6905,\n",
        "      \u0022id\u0022: 24,\n",
        "      \u0022source\u0022: \u0022surface-pro-[...]
