{
  "Entries": [
    {
      "RequestUri": "https://wuppe.api.cognitive.microsoft.com/language/:query-knowledgebases?projectName=190a9e13-8ede-4e4b-a8fd-c4d7f2aeab6c\u0026deploymentName=test\u0026api-version=2021-05-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "qnaId": 24
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": [
        "{\n",
        "  \u0022answers\u0022: [\n",
        "    {\n",
        "      \u0022questions\u0022: [\n",
        "        \u0022Check the battery level\u0022\n",
        "      ],\n",
        "      \u0022answer\u0022: \u0022**Check the battery level**\\n\\nYou can check the battery level from the lock screen or the desktop:\u0022,\n",
        "      \u0022confidenceScore\u0022: 1.0,\n",
        "      \u0022id\u0022: 24,\n",
        "      \u0022source\u0022: \u0022surface-pro-4-user-guide-EN.pdf\u0022,\n",
        "      \u0022metadata\u0022: {\n",
        "        \u0022explicitlytaggedheading\u0022: \u0022check the battery level\u0022\n",
        "      },\n",
        "      \u0022dialog\u0022: {\n",
        "        \u0022isContextOnly\u0022: false,\n",
        "        \u0022prompts\u0022: []\n",
        "      }\n",
        "    }\n",
        "  ]\n",
        "}"
      ]
    }
  ],
  "Variables": {
    "QNAMAKER_API_KEY": "Sanitized",
    "QNAMAKER_PROJECT": "190a9e13-8ede-4e4b-a8fd-c4d7f2aeab6c",
    "QNAMAKER_URI": "https://wuppe.api.cognitive.microsoft.com",
    "RandomSeed": "2107017080"
  }
}