{
  "Entries": [
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/jobs/imports/job11744581801?api-version=2023-06-30",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "17795f82-b0a1-4d4b-b736-02989e0a725d",
        "traceresponse": "00-9f808b1937211ebcded8a3cc4e06a4c6-87ae8a4d24d06ac0-01"
      },
      "ResponseBody": {
        "error": {
          "code": "JobNotFound",
          "message": "There is no job available that matches the provided id job11744581801. Check that the Job ID provided is valid by doing a Jobs_List API call."
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/jobs/imports/job11744581801?api-version=2023-06-30",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "inputBlobUri": "https://importjobsa.blob.core.windows.net/importjob/bulkverysmall.ndjson",
        "outputBlobUri": "https://importjobsa.blob.core.windows.net/importjob/output-job11744581801.ndjson"
      },
      "StatusCode": 429,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "Retry-After": "5"
      },
      "ResponseBody": {
        "error": {
          "statusCode": 429,
          "message": "Maximum request rate limit reached. For Azure Digital Twins rate limiting details please see http://aka.ms/dtv2limits."
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/jobs/imports/job11744581801?api-version=2023-06-30",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "inputBlobUri": "https://importjobsa.blob.core.windows.net/importjob/bulkverysmall.ndjson",
        "outputBlobUri": "https://importjobsa.blob.core.windows.net/importjob/output-job11744581801.ndjson"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "5ca886e6-6ccb-4972-abde-d60c1cffecd9",
        "traceresponse": "00-ac6f597ab155f4e8f0536ab69e1a4f8a-be76b2586d646ca7-01"
      },
      "ResponseBody": {
        "id": "job11744581801",
        "inputBlobUri": "https://importjobsa.blob.core.windows.net/importjob/bulkverysmall.ndjson",
        "outputBlobUri": "https://importjobsa.blob.core.windows.net/importjob/output-job11744581801.ndjson",
        "createdDateTime": "2023-07-20T22:05:31.0689989Z",
        "lastActionDateTime": "2023-07-20T22:05:31.0689998Z",
        "purgeDateTime": "2023-08-19T22:05:31.069001Z",
        "status": "notstarted"
      }
    },
[...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/jobs/imports/job11744581801?api-version=2023-06-30",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "inputBlobUri": "https://importjobsa.blob.core.windows.net/importjob/bulkverysmall.ndjson",
        "outputBlobUri": "https://importjobsa.blob.core.windows.net/importjob/output-job11744581801.ndjson"
      },
      "StatusCode": 429,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "7622b92f-967a-4219-8780-85176b2eb19d",
        "traceresponse": "00-2c6d8610e19df878a5a9383d665fd648-04b25a30d281febe-01"
      },
      "ResponseBody": "\u0022{\\\u0022error\\\u0022:{\\\u0022code\\\u0022:\\\u0022TooManyRequests\\\u0022,\\\u0022message\\\u0022:\\\u0022Cannot start another job while one is in progress. Please wait for it to complete before starting another one.\\\u0022}}\u0022"
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": null,
    "DIGITALTWINS_URL": "https://fakeHost.api.wus2.digitaltwins.azure.net",
    "INPUT_BLOB_URI": "https://importjobsa.blob.core.windows.net/importjob/bulkverysmall.ndjson",
    "RandomSeed": "1603420482",
    "STORAGE_CONTAINER_URI": "https://importjobsa.blob.core.windows.net/importjob"
  }
}
