{
  "Entries": [
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/jobs/imports/job118532831?api-version=2023-10-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "afc03a14-1be9-4820-9b04-39d53ee3ddce",
        "traceresponse": "00-fdaa75375b2319cae5030f7152a7fd0a-5c20fd331b8b6a01-01"
      },
      "ResponseBody": {
        "error": {
          "code": "JobNotFound",
          "message": "There is no job available that matches the provided id job118532831. Check that the Job ID provided is valid by doing a Jobs_List API call."
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/jobs/imports/job118532831?api-version=2023-10-31",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "inputBlobUri": "https://azsdknew9.blob.core.windows.net/azsdknew9/importJobInputBlobSdkTest.ndjson",
        "outputBlobUri": "https://azsdknew9.blob.core.windows.net/azsdknew9/output-job118532831.ndjson"
      },
      "StatusCode": 429,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "Retry-After": "6"
      },
      "ResponseBody": {
        "error": {
          "statusCode": 429,
          "message": "Maximum request rate limit reached. For Azure Digital Twins rate limiting details please see http://aka.ms/dtv2limits."
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/jobs/imports/job118532831?api-version=2023-10-31",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "inputBlobUri": "https://azsdknew9.blob.core.windows.net/azsdknew9/importJobInputBlobSdkTest.ndjson",
        "outputBlobUri": "https://azsdknew9.blob.core.windows.net/azsdknew9/output-job118532831.ndjson"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "63982609-4943-40a9-ae63-f508ea4c304e",
        "traceresponse": "00-9d5cc7ea1e7c9908a8efb5d806d1aedc-9b7f2509470b258d-01"
      },
      "ResponseBody": {
        "id": "job118532831",
        "inputBlobUri": "https://azsdknew9.blob.core.windows.net/azsdknew9/importJobInputBlobSdkTest.ndjson",
        "outputBlobUri": "https://azsdknew9.blob.core.windows.net/azsdknew9/output-job118532831.ndjson",
        "createdDateTime": "2025-05-02T15:02:18.8464828Z",
        "lastActionDateTime": "2025-05-02T15:02:18.846483Z",
        "purgeDateTime": "2025-06-01T15:02:18.8464832Z",
        "status": "notstarted"
      }
    },
[...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/jobs/imports?api-version=2023-10-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 429,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "Retry-After": "7"
      },
      "ResponseBody": {
        "error": {
          "statusCode": 429,
          "message": "Maximum request rate limit reached. For Azure Digital Twins rate limiting details please see http://aka.ms/dtv2limits."
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/jobs/imports?api-version=2023-10-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "e8b0e8e7-653f-4a86-b14c-198ed1fbded5",
        "traceresponse": "00-07237f9f6b688de8cd6ece27e2089863-085b7302a7378ff3-01"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "job11989450484",
            "inputBlobUri": "https://azsdknew9.blob.core.windows.net/azsdknew9/importJobInputBlobSdkTest.ndjson",
            "outputBlobUri": "https://azsdknew9.blob.core.windows.net/azsdknew9/output-job11989450484.ndjson",
            "createdDateTime": "2025-05-02T14:46:55.9648247Z",
            "lastActionDateTime": "2025-05-02T14:48:43.0058827Z",
            "finishedDateTime": "2025-05-02T14:48:43.0058827Z",
            "purgeDateTime": "2025-06-01T14:46:55.9648256Z",
            "status": "succeeded"
          },
          {
            "id": "job1237449672",
            "inputBlobUri": "https://azsdknew9.blob.core.windows.net/azsdknew9/importJobInputBlobSdkTest.ndjson",
            "outputBlobUri": "https://azsdknew9.blob.core.windows.net/azsdknew9/output-job1237449672.ndjson",
            "createdDateTime": "2025-05-02T14:51:41.4324686Z",
            "lastActionDa[...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/jobs/imports/job118532831/cancel?api-version=2023-10-31",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 429,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "Retry-After": "5"
      },
      "ResponseBody": {
        "error": {
          "statusCode": 429,
          "message": "Maximum request rate limit reached. For Azure Digital Twins rate limiting details please see http://aka.ms/dtv2limits."
        }
      }
    },
[...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/jobs/imports/job118532831?api-version=2023-10-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "82e437fc-f2a5-4170-9d68-8d646dc85330",
        "traceresponse": "00-89d023985ce1e8c90931042887a13408-54b0591c62df1758-01"
      },
      "ResponseBody": {
        "error": {
          "code": "JobNotFound",
          "message": "There is no job available that matches the provided id job118532831. Check that the Job ID provided is valid by doing a Jobs_List API call."
        }
      }
    }
  ],
  "Variables": {
    "DIGITALTWINS_URL": "https://fakeHost.api.wus2.digitaltwins.azure.net",
    "INPUT_BLOB_URI": "https://azsdknew9.blob.core.windows.net/azsdknew9/importJobInputBlobSdkTest.ndjson",
    "RandomSeed": "874243037",
    "STORAGE_CONTAINER_URI": "https://azsdknew9.blob.core.windows.net/azsdknew9"
  }
}
