{
  "Entries": [
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/jobs/imports/job11384811794?api-version=2023-06-30",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "60066da6-f68e-46e6-a920-c6c004c012a1",
        "traceresponse": "00-ddd0bf82b1b41ace9df69e44501c2ec4-de86fd22b2687a83-01"
      },
      "ResponseBody": {
        "error": {
          "code": "JobNotFound",
          "message": "There is no job available that matches the provided id job11384811794. Check that the Job ID provided is valid by doing a Jobs_List API call."
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/jobs/imports/job11384811794?api-version=2023-06-30",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "inputBlobUri": "https://bulksa.blob.core.windows.net/bulkcontainer/bulkverysmall.ndjson",
        "outputBlobUri": "https://bulksa.blob.core.windows.net/bulkcontainer/output-job11384811794.ndjson"
      },
      "StatusCode": 429,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "Retry-After": "5"
      },
      "ResponseBody": {
        "error": {
          "statusCode": 429,
          "message": "Maximum request rate limit reached. For Azure Digital Twins rate limiting details please see http://aka.ms/dtv2limits."
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/jobs/imports/job11384811794?api-version=2023-06-30",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "inputBlobUri": "https://bulksa.blob.core.windows.net/bulkcontainer/bulkverysmall.ndjson",
        "outputBlobUri": "https://bulksa.blob.core.windows.net/bulkcontainer/output-job11384811794.ndjson"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "c6124970-38e7-4b35-9e90-daab59927cb2",
        "traceresponse": "00-fd79dc8cb3465a8d5f5aad4d4264a03b-abc634fcdbf288ab-01"
      },
      "ResponseBody": {
        "id": "job11384811794",
        "inputBlobUri": "https://bulksa.blob.core.windows.net/bulkcontainer/bulkverysmall.ndjson",
        "outputBlobUri": "https://bulksa.blob.core.windows.net/bulkcontainer/output-job11384811794.ndjson",
        "createdDateTime": "2023-05-31T22:17:55.1753609Z",
        "lastActionDateTime": "2023-05-31T22:17:55.175361Z",
        "purgeDateTime": "2023-06-30T22:17:55.175361Z",
        "status": "notstarted"
      }
    },
[...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/jobs/imports?api-version=2023-06-30",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 429,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "Retry-After": "8"
      },
      "ResponseBody": {
        "error": {
          "statusCode": 429,
          "message": "Maximum request rate limit reached. For Azure Digital Twins rate limiting details please see http://aka.ms/dtv2limits."
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/jobs/imports?api-version=2023-06-30",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "0a5273c4-df67-4c83-8dfe-e84f1a342394",
        "traceresponse": "00-d9c117545b972e61d292bb81c89c4061-de4ec3bb57d93090-01"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "job1",
            "inputBlobUri": "https://bulksa.blob.core.windows.net/bulkcontainer/bulkverysmall.ndjson",
            "outputBlobUri": "https://bulksa.blob.core.windows.net/bulkcontainer/joboutput.ndjson",
            "createdDateTime": "2023-05-18T00:49:38.6711813Z",
            "lastActionDateTime": "2023-05-18T00:50:54.1306857Z",
            "finishedDateTime": "2023-05-18T00:50:54.1306857Z",
            "purgeDateTime": "2023-06-17T00:49:38.6711813Z",
            "status": "succeeded"
          },
          {
            "id": "job1811071264",
            "inputBlobUri": "https://bulksa.blob.core.windows.net/bulkcontainer/bulkverysmall.ndjson",
            "outputBlobUri": "https://bulksa.blob.core.windows.net/bulkcontainer/output-job1811071264.ndjson",
            "createdDateTime": "2023-05-18T19:14:39.9973175Z",
            "lastActionDateTime": "[...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/jobs/imports/job11384811794/cancel?api-version=2023-06-30",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 429,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "Retry-After": "6"
      },
      "ResponseBody": {
        "error": {
          "statusCode": 429,
          "message": "Maximum request rate limit reached. For Azure Digital Twins rate limiting details please see http://aka.ms/dtv2limits."
        }
      }
    },
[...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/jobs/imports/job11384811794?api-version=2023-06-30",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "a977bf01-eed5-4492-9dce-9c6afff353a3",
        "traceresponse": "00-0c2c3d077ade383cd19ae05ea01394af-2575c3c1cce5a14b-01"
      },
      "ResponseBody": {
        "error": {
          "code": "JobNotFound",
          "message": "There is no job available that matches the provided id job11384811794. Check that the Job ID provided is valid by doing a Jobs_List API call."
        }
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": null,
    "DIGITALTWINS_URL": "https://fakeHost.api.wus2.digitaltwins.azure.net",
    "INPUT_BLOB_URI": "https://bulksa.blob.core.windows.net/bulkcontainer/bulkverysmall.ndjson",
    "RandomSeed": "170316473",
    "STORAGE_CONTAINER_URI": "https://bulksa.blob.core.windows.net/bulkcontainer"
  }
}
