{
  "Entries": [
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/jobs/imports/job1982809694?api-version=2023-10-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "9f9b3ab2-72ba-42dd-b22d-e8da3bdebeb7",
        "traceresponse": "00-d44ee96cc14eea95d946a92942d8c104-a666f9a64ffb2561-01"
      },
      "ResponseBody": {
        "error": {
          "code": "JobNotFound",
          "message": "There is no job available that matches the provided id job1982809694. Check that the Job ID provided is valid by doing a Jobs_List API call."
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/jobs/imports/job1982809694?api-version=2023-10-31",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "inputBlobUri": "https://azsdknew9.blob.core.windows.net/azsdknew9/importJobInputBlobSdkTest.ndjson",
        "outputBlobUri": "https://azsdknew9.blob.core.windows.net/azsdknew9/output-job1982809694.ndjson"
      },
      "StatusCode": 429,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "Retry-After": "14"
      },
      "ResponseBody": {
        "error": {
          "statusCode": 429,
          "message": "Maximum request rate limit reached. For Azure Digital Twins rate limiting details please see http://aka.ms/dtv2limits."
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/jobs/imports/job1982809694?api-version=2023-10-31",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "inputBlobUri": "https://azsdknew9.blob.core.windows.net/azsdknew9/importJobInputBlobSdkTest.ndjson",
        "outputBlobUri": "https://azsdknew9.blob.core.windows.net/azsdknew9/output-job1982809694.ndjson"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "6b4c4fd3-1827-4a6c-b9f4-f758803dfdff",
        "traceresponse": "00-f47370812ddfd23804750f42c355f43f-968cbcd68542308e-01"
      },
      "ResponseBody": {
        "id": "job1982809694",
        "inputBlobUri": "https://azsdknew9.blob.core.windows.net/azsdknew9/importJobInputBlobSdkTest.ndjson",
        "outputBlobUri": "https://azsdknew9.blob.core.windows.net/azsdknew9/output-job1982809694.ndjson",
        "createdDateTime": "2025-05-02T15:08:30.7653818Z",
        "lastActionDateTime": "2025-05-02T15:08:30.7653823Z",
        "purgeDateTime": "2025-06-01T15:08:30.765383Z",
        "status": "notstarted"
      }
    },
[...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/jobs/imports/job1982809694?api-version=2023-10-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "377cbf31-32f9-4b89-b658-95fe7094e0aa",
        "traceresponse": "00-82ce636d1b867cdd0fc30cb302330cd7-e5dfe3720e8e6b07-01"
      },
      "ResponseBody": {
        "id": "job1982809694",
        "inputBlobUri": "https://azsdknew9.blob.core.windows.net/azsdknew9/importJobInputBlobSdkTest.ndjson",
        "outputBlobUri": "https://azsdknew9.blob.core.windows.net/azsdknew9/output-job1982809694.ndjson",
        "createdDateTime": "2025-05-02T15:08:30.7653818Z",
        "lastActionDateTime": "2025-05-02T15:08:37.3614092Z",
        "finishedDateTime": "2025-05-02T15:08:37.3614092Z",
        "purgeDateTime": "2025-06-01T15:08:30.765383Z",
        "status": "succeeded"
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/jobs/imports?api-version=2023-10-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 429,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "Retry-After": "9"
      },
      "ResponseBody": {
        "error": {
          "statusCode": 429,
          "message": "Maximum request rate limit reached. For Azure Digital Twins rate limiting details please see http://aka.ms/dtv2limits."
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/jobs/imports?api-version=2023-10-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "808c479b-b323-4212-a0f8-62f5e55b94ee",
        "traceresponse": "00-b021982346e6da7e81d739295f0752b2-105b09cdfbc3e8ab-01"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "job11989450484",
            "inputBlobUri": "https://azsdknew9.blob.core.windows.net/azsdknew9/importJobInputBlobSdkTest.ndjson",
            "outputBlobUri": "https://azsdknew9.blob.core.windows.net/azsdknew9/output-job11989450484.ndjson",
            "createdDateTime": "2025-05-02T14:46:55.9648247Z",
            "lastActionDateTime": "2025-05-02T14:48:43.0058827Z",
            "finishedDateTime": "2025-05-02T14:48:43.0058827Z",
            "purgeDateTime": "2[...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/jobs/imports/job1982809694/cancel?api-version=2023-10-31",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 429,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "Retry-After": "8"
      },
      "ResponseBody": {
        "error": {
          "statusCode": 429,
          "message": "Maximum request rate limit reached. For Azure Digital Twins rate limiting details please see http://aka.ms/dtv2limits."
        }
      }
    },
[...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/jobs/imports/job1982809694?api-version=2023-10-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "0852e921-33a4-4182-9351-0c2d79dee71a",
        "traceresponse": "00-ca51128128ca419a4d67ab0cff4b532a-613f141d945bcacf-01"
      },
      "ResponseBody": {
        "error": {
          "code": "JobNotFound",
          "message": "There is no job available that matches the provided id job1982809694. Check that the Job ID provided is valid by doing a Jobs_List API call."
        }
      }
    }
  ],
  "Variables": {
    "DIGITALTWINS_URL": "https://fakeHost.api.wus2.digitaltwins.azure.net",
    "INPUT_BLOB_URI": "https://azsdknew9.blob.core.windows.net/azsdknew9/importJobInputBlobSdkTest.ndjson",
    "RandomSeed": "1830465245",
    "STORAGE_CONTAINER_URI": "https://azsdknew9.blob.core.windows.net/azsdknew9"
  }
}
