{
  "Entries": [
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/jobs/imports/job1414130719?api-version=2023-02-27-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "a41a9d2c-4610-4239-9eed-d2aefeda3fee",
        "traceresponse": "00-09fd2eef999f8b1bb6cb680ffaa89731-cda46525a2bed5ca-01"
      },
      "ResponseBody": {
        "error": {
          "code": "JobNotFound",
          "message": "There is no job available that matches the provided id job1414130719. Check that the Job ID provided is valid by doing a Jobs_List API call."
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/jobs/imports/job1414130719?api-version=2023-02-27-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "inputBlobUri": "https://importjobsdktest.blob.core.windows.net/importjobsdktest/importJobInputBlobSdkTest.ndjson",
        "outputBlobUri": "https://importjobsdktest.blob.core.windows.net/importjobsdktest/output-job1414130719.ndjson"
      },
      "StatusCode": 429,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "Retry-After": "10"
      },
      "ResponseBody": {
        "error": {
          "statusCode": 429,
          "message": "Maximum request rate limit reached. For Azure Digital Twins rate limiting details please see http://aka.ms/dtv2limits."
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/jobs/imports/job1414130719?api-version=2023-02-27-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "inputBlobUri": "https://importjobsdktest.blob.core.windows.net/importjobsdktest/importJobInputBlobSdkTest.ndjson",
        "outputBlobUri": "https://importjobsdktest.blob.core.windows.net/importjobsdktest/output-job1414130719.ndjson"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "79d641e7-d93d-44d5-bd0d-5ca13cdb1360",
        "traceresponse": "00-0dff26eabd05334472fba0af4a17db2d-f7771300795ccfa5-01"
      },
      "ResponseBody": {
        "id": "job1414130719",
        "inputBlobUri": "https://importjobsdktest.blob.core.windows.net/importjobsdktest/importJobInputBlobSdkTest.ndjson",
        "outputBlobUri": "https://importjobsdktest.blob.core.windows.net/importjobsdktest/output-job1414130719.ndjson",
        "createdDateTime": "2023-02-08T03:57:54.7353168Z",
        "lastActionDateTime": "2023-02-08T03:57:54.7353169Z",
        "finishedDateTime": null,
        "purgeDateTime": "2023-03-10T03:57:54.7353171Z",
        "status": "notstarted"
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/jobs/imports?api-version=2023-02-27-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 429,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "Retry-After": "7"
      },
      "ResponseBody": {
        "error": {
          "statusCode": 429,
          "message": "Maximum request rate limit reached. For Azure Digital Twins rate limiting details please see http://aka.ms/dtv2limits."
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/jobs/imports?api-version=2023-02-27-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "1c879eec-3a85-4f88-8511-ba21b16e2156",
        "traceresponse": "00-65a26640ae44b7261121730ae63dbdfa-efeb4aa5fa61f18d-01"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "job11956845077",
            "inputBlobUri": "https://importjobsdktest.blob.core.windows.net/importjobsdktest/importJobInputBlobSdkTest.ndjson",
            "outputBlobUri": "https://importjobsdktest.blob.core.windows.net/importjobsdktest/output-job11956845077.ndjson",
            "createdDateTime": "2023-02-08T02:40:45.0133854Z",
            "lastActionDateTime": "2023-02-08T02:40:51.591784Z",
            "finishedDateTime": "2023-02-08T02:40:51.591784Z",
     [...]
[...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/jobs/imports/job1414130719?api-version=2023-02-27-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "fd61b43c-6e53-47fa-8abc-f1c466314bdd",
        "traceresponse": "00-c8d39ff8e5fed7eefbb39e206379e51b-3c65d28b65e947ec-01"
      },
      "ResponseBody": {
        "error": {
          "code": "JobNotFound",
          "message": "There is no job available that matches the provided id job1414130719. Check that the Job ID provided is valid by doing a Jobs_List API call."
        }
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com/",
    "DIGITALTWINS_URL": "https://fakeHost.api.wus2.digitaltwins.azure.net",
    "INPUT_BLOB_URI": "https://importjobsdktest.blob.core.windows.net/importjobsdktest/importJobInputBlobSdkTest.ndjson",
    "RandomSeed": "1749837578",
    "STORAGE_CONTAINER_URI": "https://importjobsdktest.blob.core.windows.net/importjobsdktest"
  }
}
