{
  "Entries": [
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/jobs/imports/job11523195158?api-version=2023-06-30",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "5d482f8c-e3d1-4ea4-81ff-70d8ca5519fa",
        "traceresponse": "00-7d49274de2441e0ae6acb2212b7d3f73-95523dc71deff009-01"
      },
      "ResponseBody": {
        "error": {
          "code": "JobNotFound",
          "message": "There is no job available that matches the provided id job11523195158. Check that the Job ID provided is valid by doing a Jobs_List API call."
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/jobs/imports/job11523195158?api-version=2023-06-30",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "inputBlobUri": "https://bulksa.blob.core.windows.net/bulkcontainer/bulkverysmall.ndjson",
        "outputBlobUri": "https://bulksa.blob.core.windows.net/bulkcontainer/output-job11523195158.ndjson"
      },
      "StatusCode": 429,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "Retry-After": "9"
      },
      "ResponseBody": {
        "error": {
          "statusCode": 429,
          "message": "Maximum request rate limit reached. For Azure Digital Twins rate limiting details please see http://aka.ms/dtv2limits."
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/jobs/imports/job11523195158?api-version=2023-06-30",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "inputBlobUri": "https://bulksa.blob.core.windows.net/bulkcontainer/bulkverysmall.ndjson",
        "outputBlobUri": "https://bulksa.blob.core.windows.net/bulkcontainer/output-job11523195158.ndjson"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "7ca56e41-3f00-44fb-a7b8-f01d0754d1b6",
        "traceresponse": "00-cba3c598de164460f51546f85b954880-1b631d654e5b7ff1-01"
      },
      "ResponseBody": {
        "id": "job11523195158",
        "inputBlobUri": "https://bulksa.blob.core.windows.net/bulkcontainer/bulkverysmall.ndjson",
        "outputBlobUri": "https://bulksa.blob.core.windows.net/bulkcontainer/output-job11523195158.ndjson",
        "createdDateTime": "2023-05-31T22:19:31.3501354Z",
        "lastActionDateTime": "2023-05-31T22:19:31.3501355Z",
        "purgeDateTime": "2023-06-30T22:19:31.3501355Z",
        "status": "notstarted"
      }
    },
[...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/jobs/imports/job11523195158?api-version=2023-06-30",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "inputBlobUri": "https://bulksa.blob.core.windows.net/bulkcontainer/bulkverysmall.ndjson",
        "outputBlobUri": "https://bulksa.blob.core.windows.net/bulkcontainer/output-job11523195158.ndjson"
      },
      "StatusCode": 429,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "9bc6da3b-7b32-499c-88d1-90a851086766",
        "traceresponse": "00-5d68f170221cfa0d179996499895ef92-f7afbe5fa4b5ce5a-01"
      },
      "ResponseBody": "\u0022{\\\u0022error\\\u0022:{\\\u0022code\\\u0022:\\\u0022TooManyRequests\\\u0022,\\\u0022message\\\u0022:\\\u0022Cannot start another job while one is in progress. Please wait for it to complete before starting another one.\\\u0022}}\u0022"
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": null,
    "DIGITALTWINS_URL": "https://fakeHost.api.wus2.digitaltwins.azure.net",
    "INPUT_BLOB_URI": "https://bulksa.blob.core.windows.net/bulkcontainer/bulkverysmall.ndjson",
    "RandomSeed": "853773879",
    "STORAGE_CONTAINER_URI": "https://bulksa.blob.core.windows.net/bulkcontainer"
  }
}
