{
  "Entries": [
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/jobs/imports/job11177336717?api-version=2023-06-30",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 429,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "Retry-After": "12"
      },
      "ResponseBody": {
        "error": {
          "statusCode": 429,
          "message": "Maximum request rate limit reached. For Azure Digital Twins rate limiting details please see http://aka.ms/dtv2limits."
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/jobs/imports/job11177336717?api-version=2023-06-30",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "40e5d149-08ec-4c99-8341-9fa82d3d33c7",
        "traceresponse": "00-7b34d84f7997fd8c045613470bb590ff-1aa83515e5d885b8-01"
      },
      "ResponseBody": {
        "error": {
          "code": "JobNotFound",
          "message": "There is no job available that matches the provided id job11177336717. Check that the Job ID provided is valid by doing a Jobs_List API call."
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/jobs/imports/job11177336717?api-version=2023-06-30",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "inputBlobUri": "https://importjobsa.blob.core.windows.net/importjob/bulkverysmall.ndjson",
        "outputBlobUri": "https://importjobsa.blob.core.windows.net/importjob/output-job11177336717.ndjson"
      },
      "StatusCode": 429,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "Retry-After": "5"
      },
      "ResponseBody": {
        "error": {
          "statusCode": 429,
          "message": "Maximum request rate limit reached. For Azure Digital Twins rate limiting details please see http://aka.ms/dtv2limits."
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/jobs/imports/job11177336717?api-version=2023-06-30",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "inputBlobUri": "https://importjobsa.blob.core.windows.net/importjob/bulkverysmall.ndjson",
        "outputBlobUri": "https://importjobsa.blob.core.windows.net/importjob/output-job11177336717.ndjson"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "fefc4b9d-0183-4577-b91d-cdecf000216a",
        "traceresponse": "00-68dc86ba30dc6bf986bdd63553ba9688-b7627e06a26fba24-01"
      },
      "ResponseBody": {
        "id": "job11177336717",
        "inputBlobUri": "https://importjobsa.blob.core.windows.net/importjob/bulkverysmall.ndjson",
        "outputBlobUri": "https://importjobsa.blob.core.windows.net/importjob/output-job11177336717.ndjson",
        "createdDateTime": "2023-07-20T22:06:21.6563027Z",
        "lastActionDateTime": "2023-07-20T22:06:21.6563027Z",
        "purgeDateTime": "2023-08-19T22:06:21.6563028Z",
        "status": "notstarted"
      }
    },
[...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/jobs/imports?api-version=2023-06-30",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 429,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "Retry-After": "12"
      },
      "ResponseBody": {
        "error": {
          "statusCode": 429,
          "message": "Maximum request rate limit reached. For Azure Digital Twins rate limiting details please see http://aka.ms/dtv2limits."
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/jobs/imports?api-version=2023-06-30",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "cf2775a8-74cc-4192-9483-5f6ff7d079f2",
        "traceresponse": "00-efe5798fd74a3176c6f2b32711db7ce0-a98cba442bcf2e0c-01"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "job11947872646",
            "inputBlobUri": "https://bulksa.blob.core.windows.net/bulkcontainer/bulkverysmall.ndjson",
            "outputBlobUri": "https://bulksa.blob.core.windows.net/bulkcontainer/output-job11947872646.ndjson",
            "createdDateTime": "2023-07-20T16:54:53.4902127Z",
            "lastActionDateTime": "2023-07-20T16:56:35.1290877Z",
            "finishedDateTime": "2023-07-20T16:56:35.1290877Z",
            "purgeDateTime": "2023-08-19T16:54:53.4902129Z",
            "status": "failed",
            "error": {
              "code": "UnableToWriteToOutputBlob",
              "message": "Encountered errors while importing. Service was unable to write error feed to output blob. Please see that output blob exists and Azure Digital Twin instance\u0027s managed identity has Storage Blob Data Contributor access to that container."
            }
          },
    [...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/jobs/imports/job11177336717/cancel?api-version=2023-06-30",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 429,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "Retry-After": "13"
      },
      "ResponseBody": {
        "error": {
          "statusCode": 429,
          "message": "Maximum request rate limit reached. For Azure Digital Twins rate limiting details please see http://aka.ms/dtv2limits."
        }
      }
    },
[...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/jobs/imports/job11177336717?api-version=2023-06-30",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "32b15544-4107-4edd-941b-9c97f6071be0",
        "traceresponse": "00-f85094454a7cf2cd6ecbc46772070d33-04af2c8a32b88f8b-01"
      },
      "ResponseBody": {
        "error": {
          "code": "JobNotFound",
          "message": "There is no job available that matches the provided id job11177336717. Check that the Job ID provided is valid by doing a Jobs_List API call."
        }
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": null,
    "DIGITALTWINS_URL": "https://fakeHost.api.wus2.digitaltwins.azure.net",
    "INPUT_BLOB_URI": "https://importjobsa.blob.core.windows.net/importjob/bulkverysmall.ndjson",
    "RandomSeed": "1759902202",
    "STORAGE_CONTAINER_URI": "https://importjobsa.blob.core.windows.net/importjob"
  }
}
