{
  "Entries": [
    {
      "RequestUri": "https://rsarkar-sdktest.int.communication.azure.net/routing/distributionPolicies/B4-05-1A-E3-49-2F-41-4B-8F-DB-F1-BD-BE-3C-03-02-BF?api-version=2021-10-20-preview2",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 15 Jun 2022 23:44:56 GMT"
      },
      "RequestBody": {
        "name": "LongestIdleDistributionPolicyB4-05-1A-E3-49-2F-41-4B-8F-DB-F1-BD-BE-3C-03-02-BF",
        "offerTtlSeconds": 30,
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2021-10-20-preview2",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00229f02eb0e-0000-0700-0000-62aa6ef80000\u0022",
        "Last-Modified": "Wed, 15 Jun 2022 23:44:56 GMT",
        "trace-id": "70c1d374334b554e867c2d0ae30afcaa"
      },
      "ResponseBody": {
        "id": "B4-05-1A-E3-49-2F-41-4B-8F-DB-F1-BD-BE-3C-03-02-BF",
        "name": "LongestIdleDistributionPolicyB4-05-1A-E3-49-2F-41-4B-8F-DB-F1-BD-BE-3C-03-02-BF",
        "offerTtlSeconds": 30,
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        }
      }
    },
    {
      "RequestUri": "https://rsarkar-sdktest.int.communication.azure.net/routing/queues/CB-FB-5B-55-E9-17-84-FC-7F-F4-33-F5-91-30-5B-10-52?api-version=2021-10-20-preview2",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 15 Jun 2022 23:44:56 GMT"
      },
      "RequestBody": {
        "name": "DefaultQueue-Sdk-TestCB-FB-5B-55-E9-17-84-FC-7F-F4-33-F5-91-30-5B-10-52",
        "distributionPolicyId": "B4-05-1A-E3-49-2F-41-4B-8F-DB-F1-BD-BE-3C-03-02-BF",
        "labels": {
          "Label_1": "Value_1"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2021-10-20-preview2",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00222504a22c-0000-0700-0000-62aa6ef80000\u0022",
        "Last-Modified": "Wed, 15 Jun 2022 23:44:56 GMT",
        "trace-id": "244511d75d99444ca4ea56f048f68982"
      },
      "ResponseBody": {
        "id": "CB-FB-5B-55-E9-17-84-FC-7F-F4-33-F5-91-30-5B-10-52",
        "name": "DefaultQueue-Sdk-TestCB-FB-5B-55-E9-17-84-FC-7F-F4-33-F5-91-30-5B-10-52",
        "distributionPolicyId": "B4-05-1A-E3-49-2F-41-4B-8F-DB-F1-BD-BE-3C-03-02-BF",
        "labels": {
          "Label_1": "Value_1",
          "Id": "CB-FB-5B-55-E9-17-84-FC-7F-F4-33-F5-91-30-5B-10-52"
        }
      }
    },
    {
      "RequestUri": "https://rsarkar-sdktest.int.communication.azure.net/routing/classificationPolicies/sdk-H1kFYCxgt0a0srvdgiLx6w--CPQS?api-version=2021-10-20-preview2",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 15 Jun 2022 23:44:57 GMT"
      },
      "RequestBody": {
        "name": "QueueSelection-ClassificationPolicy",
        "queueSelectors": [
          {
            "labelSelector": {
              "key": "Id",
              "labelOperator": "equal",
              "value": "CB-FB-5B-55-E9-17-84-FC-7F-F4-33-F5-91-30-5B-10-52"
            },
            "kind": "static"
          }
        ],
        "workerSelectors": []
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2021-10-20-preview2",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002222087fda-0000-0700-0000-62aa6ef90000\u0022",
        "Last-Modified": "Wed, 15 Jun 2022 23:44:57 GMT",
        "trace-id": "63f9871270d90244b37209fe362b7809"
      },
      "ResponseBody": {
        "id": "sdk-H1kFYCxgt0a0srvdgiLx6w--CPQS",
        "name": "QueueSelection-ClassificationPolicy",
        "queueSelectors": [
          {
            "kind": "static",
            "labelSelector": {
              "key": "Id",
              "labelOperator": "equal",
              "value": "CB-FB-5B-55-E9-17-84-FC-7F-F4-33-F5-91-30-5B-10-52"
            }
          }
        ],
        "workerSelectors": []
      }
    },
    {
      "RequestUri": "https://rsarkar-sdktest.int.communication.azure.net/routing/classificationPolicies/sdk-H1kFYCxgt0a0srvdgiLx6w--CPQS?api-version=2021-10-20-preview2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 15 Jun 2022 23:44:57 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2021-10-20-preview2",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002222087fda-0000-0700-0000-62aa6ef90000\u0022",
        "Last-Modified": "Wed, 15 Jun 2022 23:44:57 GMT",
        "trace-id": "107decd53d2b5549978d45e52066f1a2"
      },
      "ResponseBody": {
        "id": "sdk-H1kFYCxgt0a0srvdgiLx6w--CPQS",
        "name": "QueueSelection-ClassificationPolicy",
        "queueSelectors": [
          {
            "kind": "static",
            "labelSelector": {
              "key": "Id",
              "labelOperator": "equal",
              "value": "CB-FB-5B-55-E9-17-84-FC-7F-F4-33-F5-91-30-5B-10-52"
            }
          }
        ],
        "workerSelectors": []
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://rsarkar-sdktest.int.communication.azure.net/;accesskey=Kg==",
    "id-prefix": "sdk-H1kFYCxgt0a0srvdgiLx6w-",
    "RandomSeed": "600404046"
  }
}
