{
  "Entries": [
    {
      "RequestUri": "https://rsarkar-sdktest.int.communication.azure.net/routing/classificationPolicies/sdk-QzuZDQYE8UeqfGydjupN6A--CPWR?api-version=2021-10-20-preview2",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 15 Jun 2022 23:44:55 GMT"
      },
      "RequestBody": {
        "name": "Priority-ClassificationPolicy",
        "queueSelectors": [],
        "workerSelectors": [
          {
            "labelSelector": {
              "key": "department",
              "labelOperator": "equal",
              "value": "sales"
            },
            "kind": "static"
          }
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2021-10-20-preview2",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002222087ada-0000-0700-0000-62aa6ef70000\u0022",
        "Last-Modified": "Wed, 15 Jun 2022 23:44:55 GMT",
        "trace-id": "5a71aad0078e6542b6df046bed8d2d16"
      },
      "ResponseBody": {
        "id": "sdk-QzuZDQYE8UeqfGydjupN6A--CPWR",
        "name": "Priority-ClassificationPolicy",
        "queueSelectors": [],
        "workerSelectors": [
          {
            "kind": "static",
            "labelSelector": {
              "expedite": false,
              "state": "active",
              "key": "department",
              "labelOperator": "equal",
              "value": "sales"
            }
          }
        ]
      }
    },
    {
      "RequestUri": "https://rsarkar-sdktest.int.communication.azure.net/routing/classificationPolicies/sdk-QzuZDQYE8UeqfGydjupN6A--CPWR?api-version=2021-10-20-preview2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 15 Jun 2022 23:44:55 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2021-10-20-preview2",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002222087ada-0000-0700-0000-62aa6ef70000\u0022",
        "Last-Modified": "Wed, 15 Jun 2022 23:44:55 GMT",
        "trace-id": "afe19bb1a70ddd438bb180eb59df3583"
      },
      "ResponseBody": {
        "id": "sdk-QzuZDQYE8UeqfGydjupN6A--CPWR",
        "name": "Priority-ClassificationPolicy",
        "queueSelectors": [],
        "workerSelectors": [
          {
            "kind": "static",
            "labelSelector": {
              "expedite": false,
              "state": "active",
              "key": "department",
              "labelOperator": "equal",
              "value": "sales"
            }
          }
        ]
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://rsarkar-sdktest.int.communication.azure.net/;accesskey=Kg==",
    "id-prefix": "sdk-QzuZDQYE8UeqfGydjupN6A-",
    "RandomSeed": "2028895114"
  }
}
