{
  "Entries": [
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/classificationPolicies/sdk-8X-YzVSVukOQc7rdxzf6oQ--CPPri?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 30 Jun 2023 00:31:52 GMT"
      },
      "RequestBody": {
        "name": "Priority-ClassificationPolicy",
        "prioritizationRule": {
          "value": 10,
          "kind": "static-rule"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022c70042ad-0000-0d00-0000-649e227a0000\u0022",
        "Last-Modified": "Fri, 30 Jun 2023 00:31:54 GMT",
        "trace-id": "aa285996-cb82-fbab-004f-9e49f3d37dde"
      },
      "ResponseBody": {
        "id": "sdk-8X-YzVSVukOQc7rdxzf6oQ--CPPri",
        "name": "Priority-ClassificationPolicy",
        "queueSelectors": [],
        "prioritizationRule": {
          "kind": "static-rule",
          "value": 10
        },
        "workerSelectors": []
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/classificationPolicies/sdk-8X-YzVSVukOQc7rdxzf6oQ--CPPri?api-version=2022-07-18-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 30 Jun 2023 00:31:53 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022c70042ad-0000-0d00-0000-649e227a0000\u0022",
        "Last-Modified": "Fri, 30 Jun 2023 00:31:54 GMT",
        "trace-id": "584bd2a3-0874-27f2-8390-f2cb22fa0c09"
      },
      "ResponseBody": {
        "id": "sdk-8X-YzVSVukOQc7rdxzf6oQ--CPPri",
        "name": "Priority-ClassificationPolicy",
        "queueSelectors": [],
        "prioritizationRule": {
          "kind": "static-rule",
          "value": 10
        },
        "workerSelectors": []
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://sanitized.communication.azure.com/;accesskey=Kg==",
    "id-prefix": "sdk-8X-YzVSVukOQc7rdxzf6oQ-",
    "RandomSeed": "1064133856"
  }
}
