{
  "Entries": [
    {
      "RequestUri": "https://rsarkar-sdktest.int.communication.azure.net/routing/distributionPolicies/12-15-B0-73-9E-83-2B-9A-52-5E-FC-41-16-E9-AE-1C-A7?api-version=2021-10-20-preview2",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 15 Jun 2022 17:38:49 GMT"
      },
      "RequestBody": {
        "name": "LongestIdleDistributionPolicy12-15-B0-73-9E-83-2B-9A-52-5E-FC-41-16-E9-AE-1C-A7",
        "offerTtlSeconds": 30,
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2021-10-20-preview2",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022920247df-0000-0700-0000-62aa192a0000\u0022",
        "Last-Modified": "Wed, 15 Jun 2022 17:38:50 GMT",
        "trace-id": "933593b380ebc1498db1119e809af125"
      },
      "ResponseBody": {
        "id": "12-15-B0-73-9E-83-2B-9A-52-5E-FC-41-16-E9-AE-1C-A7",
        "name": "LongestIdleDistributionPolicy12-15-B0-73-9E-83-2B-9A-52-5E-FC-41-16-E9-AE-1C-A7",
        "offerTtlSeconds": 30,
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        }
      }
    },
    {
      "RequestUri": "https://rsarkar-sdktest.int.communication.azure.net/routing/classificationPolicies/sdk-Y6RKsOE9u0mYBFUGxdHU8Q--CPEmpty?api-version=2021-10-20-preview2",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 15 Jun 2022 17:38:49 GMT"
      },
      "RequestBody": {
        "queueSelectors": [],
        "workerSelectors": []
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2021-10-20-preview2",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022220871d7-0000-0700-0000-62aa192a0000\u0022",
        "Last-Modified": "Wed, 15 Jun 2022 17:38:50 GMT",
        "trace-id": "d177cc2e11890444bf7258872dab4e00"
      },
      "ResponseBody": {
        "id": "sdk-Y6RKsOE9u0mYBFUGxdHU8Q--CPEmpty",
        "queueSelectors": [],
        "workerSelectors": []
      }
    },
    {
      "RequestUri": "https://rsarkar-sdktest.int.communication.azure.net/routing/classificationPolicies/sdk-Y6RKsOE9u0mYBFUGxdHU8Q--CPEmpty?api-version=2021-10-20-preview2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 15 Jun 2022 17:38:49 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2021-10-20-preview2",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022220871d7-0000-0700-0000-62aa192a0000\u0022",
        "Last-Modified": "Wed, 15 Jun 2022 17:38:50 GMT",
        "trace-id": "a425a294ad20f34f9490871e4ae63710"
      },
      "ResponseBody": {
        "id": "sdk-Y6RKsOE9u0mYBFUGxdHU8Q--CPEmpty",
        "queueSelectors": [],
        "workerSelectors": []
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://rsarkar-sdktest.int.communication.azure.net/;accesskey=Kg==",
    "id-prefix": "sdk-Y6RKsOE9u0mYBFUGxdHU8Q-",
    "RandomSeed": "1171917220"
  }
}
