{
  "Entries": [
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/classificationPolicies/1940BC2B366D79523F76340C6A8FFDB81587E09C27BA7124DC?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 05 Apr 2023 21:23:35 GMT"
      },
      "RequestBody": {
        "name": "Priority-ClassificationPolicy",
        "queueSelectors": [],
        "workerSelectors": [
          {
            "labelSelector": {
              "key": "department",
              "labelOperator": "equal",
              "value": "sales"
            },
            "kind": "static"
          }
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00223900446f-0000-0700-0000-642de6d80000\u0022",
        "Last-Modified": "Wed, 05 Apr 2023 21:23:36 GMT",
        "trace-id": "a1b938c0-285d-f04a-8d3b-cf6e424c26a9"
      },
      "ResponseBody": {
        "id": "1940BC2B366D79523F76340C6A8FFDB81587E09C27BA7124DC",
        "name": "Priority-ClassificationPolicy",
        "queueSelectors": [],
        "workerSelectors": [
          {
            "kind": "static",
            "labelSelector": {
              "expedite": false,
              "state": "active",
              "key": "department",
              "labelOperator": "equal",
              "value": "sales"
            }
          }
        ]
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/classificationPolicies/1940BC2B366D79523F76340C6A8FFDB81587E09C27BA7124DC?api-version=2022-07-18-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 05 Apr 2023 21:23:35 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00223900446f-0000-0700-0000-642de6d80000\u0022",
        "Last-Modified": "Wed, 05 Apr 2023 21:23:36 GMT",
        "trace-id": "9bb09933-0a28-8242-8989-f0145fc9add5"
      },
      "ResponseBody": {
        "id": "1940BC2B366D79523F76340C6A8FFDB81587E09C27BA7124DC",
        "name": "Priority-ClassificationPolicy",
        "queueSelectors": [],
        "workerSelectors": [
          {
            "kind": "static",
            "labelSelector": {
              "expedite": false,
              "state": "active",
              "key": "department",
              "labelOperator": "equal",
              "value": "sales"
            }
          }
        ]
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://sanitized.communication.azure.com/;accesskey=Kg==",
    "id-prefix": "sdk-EhPRzR7tmEuQmUezPBkO-g-",
    "RandomSeed": "2125725877"
  }
}
