{
  "Entries": [
    {
      "RequestUri": "https://rsarkar-sdktest.int.communication.azure.net/routing/classificationPolicies/sdk-wUgTaIZk_EOGfx3zidbgNA--CPPri?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Sat, 23 Jul 2022 04:16:01 GMT"
      },
      "RequestBody": {
        "name": "Priority-ClassificationPolicy",
        "queueSelectors": [],
        "prioritizationRule": {
          "value": 10,
          "kind": "static-rule"
        },
        "workerSelectors": []
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2021-10-20-preview2, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00224a012265-0000-0700-0000-62db76020000\u0022",
        "Last-Modified": "Sat, 23 Jul 2022 04:16:02 GMT",
        "trace-id": "192ded4b319ec946b8fae787d3808f33"
      },
      "ResponseBody": {
        "id": "sdk-wUgTaIZk_EOGfx3zidbgNA--CPPri",
        "name": "Priority-ClassificationPolicy",
        "queueSelectors": [],
        "prioritizationRule": {
          "kind": "static-rule",
          "value": 10
        },
        "workerSelectors": []
      }
    },
    {
      "RequestUri": "https://rsarkar-sdktest.int.communication.azure.net/routing/classificationPolicies/sdk-wUgTaIZk_EOGfx3zidbgNA--CPPri?api-version=2022-07-18-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Sat, 23 Jul 2022 04:16:03 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2021-10-20-preview2, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00224a012265-0000-0700-0000-62db76020000\u0022",
        "Last-Modified": "Sat, 23 Jul 2022 04:16:02 GMT",
        "trace-id": "fac514bda0503e419a36d1e4e8127e36"
      },
      "ResponseBody": {
        "id": "sdk-wUgTaIZk_EOGfx3zidbgNA--CPPri",
        "name": "Priority-ClassificationPolicy",
        "queueSelectors": [],
        "prioritizationRule": {
          "kind": "static-rule",
          "value": 10
        },
        "workerSelectors": []
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://rsarkar-sdktest.int.communication.azure.net/;accesskey=Kg==",
    "id-prefix": "sdk-wUgTaIZk_EOGfx3zidbgNA-",
    "RandomSeed": "605775179"
  }
}
