{
  "Entries": [
    {
      "RequestUri": "https://rsarkar-sdktest.int.communication.azure.net/routing/classificationPolicies/sdk-Dp_fB7enVUegafHv4yjIGQ--CPWR?api-version=2021-10-20-preview2",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 13 Jun 2022 22:07:32 GMT"
      },
      "RequestBody": {
        "name": "Priority-ClassificationPolicy",
        "queueSelectors": [],
        "workerSelectors": [
          {
            "labelSelector": {
              "key": "department",
              "labelOperator": "equal",
              "value": "sales"
            },
            "kind": "static"
          }
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2021-10-20-preview2",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002222086fbd-0000-0700-0000-62a7b5250000\u0022",
        "Last-Modified": "Mon, 13 Jun 2022 22:07:33 GMT",
        "trace-id": "d9a1225c2cb57b4289fca027571ce17e"
      },
      "ResponseBody": {
        "id": "sdk-Dp_fB7enVUegafHv4yjIGQ--CPWR",
        "name": "Priority-ClassificationPolicy",
        "queueSelectors": [],
        "workerSelectors": [
          {
            "kind": "static",
            "labelSelector": {
              "expedite": false,
              "state": "active",
              "key": "department",
              "labelOperator": "equal",
              "value": "sales"
            }
          }
        ]
      }
    },
    {
      "RequestUri": "https://rsarkar-sdktest.int.communication.azure.net/routing/classificationPolicies/sdk-Dp_fB7enVUegafHv4yjIGQ--CPWR?api-version=2021-10-20-preview2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 13 Jun 2022 22:07:32 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2021-10-20-preview2",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002222086fbd-0000-0700-0000-62a7b5250000\u0022",
        "Last-Modified": "Mon, 13 Jun 2022 22:07:33 GMT",
        "trace-id": "e000efe2ef4bb446b3c39b28b93ca198"
      },
      "ResponseBody": {
        "id": "sdk-Dp_fB7enVUegafHv4yjIGQ--CPWR",
        "name": "Priority-ClassificationPolicy",
        "queueSelectors": [],
        "workerSelectors": [
          {
            "kind": "static",
            "labelSelector": {
              "expedite": false,
              "state": "active",
              "key": "department",
              "labelOperator": "equal",
              "value": "sales"
            }
          }
        ]
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://rsarkar-sdktest.int.communication.azure.net/;accesskey=Kg==",
    "id-prefix": "sdk-Dp_fB7enVUegafHv4yjIGQ-",
    "RandomSeed": "1157203669"
  }
}
