{
  "Entries": [
    {
      "RequestUri": "https://rsarkar-sdktest.int.communication.azure.net/routing/distributionPolicies/6A-4B-6F-31-EF-72-BA-06-58-B4-6D-E8-D4-2B-FE-63-D7?api-version=2021-10-20-preview2",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 13 Jun 2022 22:07:29 GMT"
      },
      "RequestBody": {
        "name": "LongestIdleDistributionPolicy6A-4B-6F-31-EF-72-BA-06-58-B4-6D-E8-D4-2B-FE-63-D7",
        "offerTtlSeconds": 30,
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2021-10-20-preview2",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002266020e09-0000-0700-0000-62a7b5220000\u0022",
        "Last-Modified": "Mon, 13 Jun 2022 22:07:30 GMT",
        "trace-id": "eab3c251b97352428c6c3de399d1700f"
      },
      "ResponseBody": {
        "id": "6A-4B-6F-31-EF-72-BA-06-58-B4-6D-E8-D4-2B-FE-63-D7",
        "name": "LongestIdleDistributionPolicy6A-4B-6F-31-EF-72-BA-06-58-B4-6D-E8-D4-2B-FE-63-D7",
        "offerTtlSeconds": 30,
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        }
      }
    },
    {
      "RequestUri": "https://rsarkar-sdktest.int.communication.azure.net/routing/queues/6A-4B-6F-31-EF-72-BA-06-58-B4-6D-E8-D4-2B-FE-63-D7?api-version=2021-10-20-preview2",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 13 Jun 2022 22:07:29 GMT"
      },
      "RequestBody": {
        "name": "DefaultQueue-Sdk-Test6A-4B-6F-31-EF-72-BA-06-58-B4-6D-E8-D4-2B-FE-63-D7",
        "distributionPolicyId": "6A-4B-6F-31-EF-72-BA-06-58-B4-6D-E8-D4-2B-FE-63-D7",
        "labels": {
          "Label_1": "Value_1"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2021-10-20-preview2",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00221104bdb5-0000-0700-0000-62a7b5220000\u0022",
        "Last-Modified": "Mon, 13 Jun 2022 22:07:30 GMT",
        "trace-id": "ab3ed19d41c4b042acca4c09da099b8d"
      },
      "ResponseBody": {
        "id": "6A-4B-6F-31-EF-72-BA-06-58-B4-6D-E8-D4-2B-FE-63-D7",
        "name": "DefaultQueue-Sdk-Test6A-4B-6F-31-EF-72-BA-06-58-B4-6D-E8-D4-2B-FE-63-D7",
        "distributionPolicyId": "6A-4B-6F-31-EF-72-BA-06-58-B4-6D-E8-D4-2B-FE-63-D7",
        "labels": {
          "Label_1": "Value_1",
          "Id": "6A-4B-6F-31-EF-72-BA-06-58-B4-6D-E8-D4-2B-FE-63-D7"
        }
      }
    },
    {
      "RequestUri": "https://rsarkar-sdktest.int.communication.azure.net/routing/classificationPolicies/sdk-yXIEMi2vxEaneL1eVqMprA--CPEmpty?api-version=2021-10-20-preview2",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 13 Jun 2022 22:07:29 GMT"
      },
      "RequestBody": {
        "queueSelectors": [],
        "workerSelectors": []
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2021-10-20-preview2",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022220866bd-0000-0700-0000-62a7b5220000\u0022",
        "Last-Modified": "Mon, 13 Jun 2022 22:07:30 GMT",
        "trace-id": "8cc918aca2c485478de248b95881e88e"
      },
      "ResponseBody": {
        "id": "sdk-yXIEMi2vxEaneL1eVqMprA--CPEmpty",
        "queueSelectors": [],
        "workerSelectors": []
      }
    },
    {
      "RequestUri": "https://rsarkar-sdktest.int.communication.azure.net/routing/classificationPolicies/sdk-yXIEMi2vxEaneL1eVqMprA--CPEmpty?api-version=2021-10-20-preview2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 13 Jun 2022 22:07:29 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2021-10-20-preview2",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022220866bd-0000-0700-0000-62a7b5220000\u0022",
        "Last-Modified": "Mon, 13 Jun 2022 22:07:30 GMT",
        "trace-id": "47272b8964e62542a18c5685999a43a7"
      },
      "ResponseBody": {
        "id": "sdk-yXIEMi2vxEaneL1eVqMprA--CPEmpty",
        "queueSelectors": [],
        "workerSelectors": []
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://rsarkar-sdktest.int.communication.azure.net/;accesskey=Kg==",
    "id-prefix": "sdk-yXIEMi2vxEaneL1eVqMprA-",
    "RandomSeed": "452224843"
  }
}
