{
  "Entries": [
    {
      "RequestUri": "https://rsarkar-sdktest.int.communication.azure.net/routing/classificationPolicies/sdk-Vu72MJWDJkOmCpzP34eWaw--CPWR?api-version=2021-10-20-preview2",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 13 Jun 2022 22:07:30 GMT"
      },
      "RequestBody": {
        "name": "Priority-ClassificationPolicy",
        "queueSelectors": [],
        "workerSelectors": [
          {
            "labelSelector": {
              "key": "department",
              "labelOperator": "equal",
              "value": "sales"
            },
            "kind": "static"
          }
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2021-10-20-preview2",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022220869bd-0000-0700-0000-62a7b5230000\u0022",
        "Last-Modified": "Mon, 13 Jun 2022 22:07:31 GMT",
        "trace-id": "ba5465be78bee543bec7b83649daa8be"
      },
      "ResponseBody": {
        "id": "sdk-Vu72MJWDJkOmCpzP34eWaw--CPWR",
        "name": "Priority-ClassificationPolicy",
        "queueSelectors": [],
        "workerSelectors": [
          {
            "kind": "static",
            "labelSelector": {
              "expedite": false,
              "state": "active",
              "key": "department",
              "labelOperator": "equal",
              "value": "sales"
            }
          }
        ]
      }
    },
    {
      "RequestUri": "https://rsarkar-sdktest.int.communication.azure.net/routing/classificationPolicies/sdk-Vu72MJWDJkOmCpzP34eWaw--CPWR?api-version=2021-10-20-preview2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 13 Jun 2022 22:07:30 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2021-10-20-preview2",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022220869bd-0000-0700-0000-62a7b5230000\u0022",
        "Last-Modified": "Mon, 13 Jun 2022 22:07:31 GMT",
        "trace-id": "2465c4740b55034aac55aa5963fde477"
      },
      "ResponseBody": {
        "id": "sdk-Vu72MJWDJkOmCpzP34eWaw--CPWR",
        "name": "Priority-ClassificationPolicy",
        "queueSelectors": [],
        "workerSelectors": [
          {
            "kind": "static",
            "labelSelector": {
              "expedite": false,
              "state": "active",
              "key": "department",
              "labelOperator": "equal",
              "value": "sales"
            }
          }
        ]
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://rsarkar-sdktest.int.communication.azure.net/;accesskey=Kg==",
    "id-prefix": "sdk-Vu72MJWDJkOmCpzP34eWaw-",
    "RandomSeed": "1590373459"
  }
}
