{
  "Entries": [
    {
      "RequestUri": "https://rsarkar-sdktest.int.communication.azure.net/routing/classificationPolicies/sdk-T0JMYHvAaUqg2FlpIwwTrw--CPPri?api-version=2021-10-20-preview2",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 15 Jun 2022 17:38:47 GMT"
      },
      "RequestBody": {
        "name": "Priority-ClassificationPolicy",
        "queueSelectors": [],
        "prioritizationRule": {
          "value": 10,
          "kind": "static-rule"
        },
        "workerSelectors": []
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2021-10-20-preview2",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002222086cd7-0000-0700-0000-62aa19290000\u0022",
        "Last-Modified": "Wed, 15 Jun 2022 17:38:49 GMT",
        "trace-id": "722cbf6d01cf8d41828c381d08e09327"
      },
      "ResponseBody": {
        "id": "sdk-T0JMYHvAaUqg2FlpIwwTrw--CPPri",
        "name": "Priority-ClassificationPolicy",
        "queueSelectors": [],
        "prioritizationRule": {
          "kind": "static-rule",
          "value": 10
        },
        "workerSelectors": []
      }
    },
    {
      "RequestUri": "https://rsarkar-sdktest.int.communication.azure.net/routing/classificationPolicies/sdk-T0JMYHvAaUqg2FlpIwwTrw--CPPri?api-version=2021-10-20-preview2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 15 Jun 2022 17:38:48 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2021-10-20-preview2",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002222086cd7-0000-0700-0000-62aa19290000\u0022",
        "Last-Modified": "Wed, 15 Jun 2022 17:38:49 GMT",
        "trace-id": "c312fe888ff21c4c92db66d316a85989"
      },
      "ResponseBody": {
        "id": "sdk-T0JMYHvAaUqg2FlpIwwTrw--CPPri",
        "name": "Priority-ClassificationPolicy",
        "queueSelectors": [],
        "prioritizationRule": {
          "kind": "static-rule",
          "value": 10
        },
        "workerSelectors": []
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://rsarkar-sdktest.int.communication.azure.net/;accesskey=Kg==",
    "id-prefix": "sdk-T0JMYHvAaUqg2FlpIwwTrw-",
    "RandomSeed": "527799720"
  }
}
