{
  "Entries": [
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/distributionPolicies/84D71B4DDFEDC1317CDA37354EE6F1ECCA9B7EC61F5B0FF6BF?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 16 Jun 2023 19:55:32 GMT"
      },
      "RequestBody": {
        "name": "LongestIdleDistributionPolicy84D71B4DDFEDC1317CDA37354EE6F1ECCA9B7EC61F5B0FF6BF",
        "offerExpiresAfterSeconds": 30,
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022700192ca-0000-0700-0000-648cbe320000\u0022",
        "Last-Modified": "Fri, 16 Jun 2023 19:55:30 GMT",
        "trace-id": "1e119238-b0f8-5901-7acb-9d2861b144c9"
      },
      "ResponseBody": {
        "id": "84D71B4DDFEDC1317CDA37354EE6F1ECCA9B7EC61F5B0FF6BF",
        "name": "LongestIdleDistributionPolicy84D71B4DDFEDC1317CDA37354EE6F1ECCA9B7EC61F5B0FF6BF",
        "offerExpiresAfterSeconds": 30,
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        }
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/queues/EEB4166FC6C41FA4EC1EB71BF85891F047D1AA00D5DB3588C2?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 16 Jun 2023 19:55:32 GMT"
      },
      "RequestBody": {
        "name": "DefaultQueue-Sdk-TestEEB4166FC6C41FA4EC1EB71BF85891F047D1AA00D5DB3588C2",
        "distributionPolicyId": "84D71B4DDFEDC1317CDA37354EE6F1ECCA9B7EC61F5B0FF6BF",
        "labels": {
          "Label_1": "Value_1"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002208004d44-0000-0700-0000-648cbe320000\u0022",
        "Last-Modified": "Fri, 16 Jun 2023 19:55:30 GMT",
        "trace-id": "a8e87ec5-005f-c251-68c9-2006e8aa4570"
      },
      "ResponseBody": {
        "id": "EEB4166FC6C41FA4EC1EB71BF85891F047D1AA00D5DB3588C2",
        "name": "DefaultQueue-Sdk-TestEEB4166FC6C41FA4EC1EB71BF85891F047D1AA00D5DB3588C2",
        "distributionPolicyId": "84D71B4DDFEDC1317CDA37354EE6F1ECCA9B7EC61F5B0FF6BF",
        "labels": {
          "Label_1": "Value_1",
          "Id": "EEB4166FC6C41FA4EC1EB71BF85891F047D1AA00D5DB3588C2"
        }
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/classificationPolicies/sdk-tG9d9i76E0CTMe8etnq4vQ--CPEmpty?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 16 Jun 2023 19:55:32 GMT"
      },
      "RequestBody": {
        "queueSelectors": [],
        "workerSelectors": []
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022fe006fd0-0000-0700-0000-648cbe320000\u0022",
        "Last-Modified": "Fri, 16 Jun 2023 19:55:30 GMT",
        "trace-id": "36d15a37-1603-afe1-91bc-615816f4471c"
      },
      "ResponseBody": {
        "id": "sdk-tG9d9i76E0CTMe8etnq4vQ--CPEmpty",
        "queueSelectors": [],
        "workerSelectors": []
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/classificationPolicies/sdk-tG9d9i76E0CTMe8etnq4vQ--CPEmpty?api-version=2022-07-18-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 16 Jun 2023 19:55:32 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022fe006fd0-0000-0700-0000-648cbe320000\u0022",
        "Last-Modified": "Fri, 16 Jun 2023 19:55:30 GMT",
        "trace-id": "a174be03-d171-ebf2-7328-c25513dd9bf9"
      },
      "ResponseBody": {
        "id": "sdk-tG9d9i76E0CTMe8etnq4vQ--CPEmpty",
        "queueSelectors": [],
        "workerSelectors": []
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://sanitized.communication.azure.com/;accesskey=Kg==",
    "id-prefix": "sdk-tG9d9i76E0CTMe8etnq4vQ-",
    "RandomSeed": "1526565590"
  }
}
