{
  "Entries": [
    {
      "RequestUri": "https://rsarkar-sdktest.int.communication.azure.net/routing/classificationPolicies/sdk-H4AwsEzUZkO_EfshKGvj2A--CPEmpty?api-version=2021-10-20-preview2",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 15 Jun 2022 23:47:42 GMT"
      },
      "RequestBody": {
        "queueSelectors": [],
        "workerSelectors": []
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2021-10-20-preview2",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00222208a1da-0000-0700-0000-62aa6f9e0000\u0022",
        "Last-Modified": "Wed, 15 Jun 2022 23:47:42 GMT",
        "trace-id": "b2cad3add6e75c49b10dc2977a4717f4"
      },
      "ResponseBody": {
        "id": "sdk-H4AwsEzUZkO_EfshKGvj2A--CPEmpty",
        "queueSelectors": [],
        "workerSelectors": []
      }
    },
    {
      "RequestUri": "https://rsarkar-sdktest.int.communication.azure.net/routing/classificationPolicies/sdk-H4AwsEzUZkO_EfshKGvj2A--CPEmpty?api-version=2021-10-20-preview2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 15 Jun 2022 23:47:42 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2021-10-20-preview2",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00222208a1da-0000-0700-0000-62aa6f9e0000\u0022",
        "Last-Modified": "Wed, 15 Jun 2022 23:47:42 GMT",
        "trace-id": "24d36d6a124f2b4b9a7002bfeaa9215e"
      },
      "ResponseBody": {
        "id": "sdk-H4AwsEzUZkO_EfshKGvj2A--CPEmpty",
        "queueSelectors": [],
        "workerSelectors": []
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://rsarkar-sdktest.int.communication.azure.net/;accesskey=Kg==",
    "id-prefix": "sdk-H4AwsEzUZkO_EfshKGvj2A-",
    "RandomSeed": "1417647334"
  }
}
