{
  "Entries": [
    {
      "RequestUri": "https://rsarkar-sdktest.int.communication.azure.net/routing/classificationPolicies/C3-9E-48-DB-76-63-9F-29-6E-8C-9E-D9-99-CE-0A-9D-14?api-version=2021-10-20-preview2",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 16 Jun 2022 01:20:38 GMT"
      },
      "RequestBody": {
        "name": "Priority-ClassificationPolicy",
        "queueSelectors": [],
        "workerSelectors": [
          {
            "labelSelector": {
              "key": "department",
              "labelOperator": "equal",
              "value": "sales"
            },
            "kind": "static"
          }
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2021-10-20-preview2",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002222084fdb-0000-0700-0000-62aa85660000\u0022",
        "Last-Modified": "Thu, 16 Jun 2022 01:20:38 GMT",
        "trace-id": "aaced2c2c73def48a28c83d64f8b6ff3"
      },
      "ResponseBody": {
        "id": "C3-9E-48-DB-76-63-9F-29-6E-8C-9E-D9-99-CE-0A-9D-14",
        "name": "Priority-ClassificationPolicy",
        "queueSelectors": [],
        "workerSelectors": [
          {
            "kind": "static",
            "labelSelector": {
              "expedite": false,
              "state": "active",
              "key": "department",
              "labelOperator": "equal",
              "value": "sales"
            }
          }
        ]
      }
    },
    {
      "RequestUri": "https://rsarkar-sdktest.int.communication.azure.net/routing/classificationPolicies/C3-9E-48-DB-76-63-9F-29-6E-8C-9E-D9-99-CE-0A-9D-14?api-version=2021-10-20-preview2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 16 Jun 2022 01:20:38 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2021-10-20-preview2",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002222084fdb-0000-0700-0000-62aa85660000\u0022",
        "Last-Modified": "Thu, 16 Jun 2022 01:20:38 GMT",
        "trace-id": "32a1eef8d694904081d625f1ff16aa56"
      },
      "ResponseBody": {
        "id": "C3-9E-48-DB-76-63-9F-29-6E-8C-9E-D9-99-CE-0A-9D-14",
        "name": "Priority-ClassificationPolicy",
        "queueSelectors": [],
        "workerSelectors": [
          {
            "kind": "static",
            "labelSelector": {
              "expedite": false,
              "state": "active",
              "key": "department",
              "labelOperator": "equal",
              "value": "sales"
            }
          }
        ]
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://rsarkar-sdktest.int.communication.azure.net/;accesskey=Kg==",
    "id-prefix": "sdk-4N65t3xSrkKJNRzo9YrTgw-",
    "RandomSeed": "519210340"
  }
}
