{
  "Entries": [
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/distributionPolicies/8AE8345022E9487149D778CEB5FB96293EFDA546ED4E28A028?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 26 Apr 2023 15:51:54 GMT"
      },
      "RequestBody": {
        "name": "LongestIdleDistributionPolicy8AE8345022E9487149D778CEB5FB96293EFDA546ED4E28A028",
        "offerTtlSeconds": 30,
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022a1022db6-0000-0700-0000-6449489b0000\u0022",
        "Last-Modified": "Wed, 26 Apr 2023 15:51:55 GMT",
        "trace-id": "593b364e-31f2-d240-a6fc-7a9ff06b3660"
      },
      "ResponseBody": {
        "id": "8AE8345022E9487149D778CEB5FB96293EFDA546ED4E28A028",
        "name": "LongestIdleDistributionPolicy8AE8345022E9487149D778CEB5FB96293EFDA546ED4E28A028",
        "offerTtlSeconds": 30,
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        }
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/queues/8F90ECE892EC90681945A43A63CCB4200DF9B39F3E77CC9992?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 26 Apr 2023 15:51:55 GMT"
      },
      "RequestBody": {
        "name": "DefaultQueue-Sdk-Test8F90ECE892EC90681945A43A63CCB4200DF9B39F3E77CC9992",
        "distributionPolicyId": "8AE8345022E9487149D778CEB5FB96293EFDA546ED4E28A028",
        "labels": {
          "Label_1": "Value_1"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00223500ea77-0000-0700-0000-6449489b0000\u0022",
        "Last-Modified": "Wed, 26 Apr 2023 15:51:55 GMT",
        "trace-id": "d016eb27-8f93-6947-9547-1e5401f64388"
      },
      "ResponseBody": {
        "id": "8F90ECE892EC90681945A43A63CCB4200DF9B39F3E77CC9992",
        "name": "DefaultQueue-Sdk-Test8F90ECE892EC90681945A43A63CCB4200DF9B39F3E77CC9992",
        "distributionPolicyId": "8AE8345022E9487149D778CEB5FB96293EFDA546ED4E28A028",
        "labels": {
          "Label_1": "Value_1",
          "Id": "8F90ECE892EC90681945A43A63CCB4200DF9B39F3E77CC9992"
        }
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/classificationPolicies/sdk-72s7qEZkl0WAge4zFBLxIg--CPEmpty?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 26 Apr 2023 15:51:55 GMT"
      },
      "RequestBody": {
        "queueSelectors": [],
        "workerSelectors": []
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002231009578-0000-0700-0000-6449489b0000\u0022",
        "Last-Modified": "Wed, 26 Apr 2023 15:51:55 GMT",
        "trace-id": "7e2b3512-0197-b54d-9bb9-216ec745acc6"
      },
      "ResponseBody": {
        "id": "sdk-72s7qEZkl0WAge4zFBLxIg--CPEmpty",
        "queueSelectors": [],
        "workerSelectors": []
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/classificationPolicies/sdk-72s7qEZkl0WAge4zFBLxIg--CPEmpty?api-version=2022-07-18-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 26 Apr 2023 15:51:55 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002231009578-0000-0700-0000-6449489b0000\u0022",
        "Last-Modified": "Wed, 26 Apr 2023 15:51:55 GMT",
        "trace-id": "ae712c20-2535-5048-b644-be5f6b157c90"
      },
      "ResponseBody": {
        "id": "sdk-72s7qEZkl0WAge4zFBLxIg--CPEmpty",
        "queueSelectors": [],
        "workerSelectors": []
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://sanitized.communication.azure.com/;accesskey=Kg==",
    "id-prefix": "sdk-72s7qEZkl0WAge4zFBLxIg-",
    "RandomSeed": "1503390901"
  }
}
