{
  "Entries": [
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/classificationPolicies/712C47005E53104EE0093AC9C7EA0E08C2ED5B4AFFB6C823F5?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 16 Jun 2023 19:06:08 GMT"
      },
      "RequestBody": {
        "name": "Priority-ClassificationPolicy",
        "queueSelectors": [],
        "workerSelectors": [
          {
            "workerSelector": {
              "key": "department",
              "labelOperator": "equal",
              "value": "sales"
            },
            "kind": "static"
          }
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022fe00207d-0000-0700-0000-648cb29e0000\u0022",
        "Last-Modified": "Fri, 16 Jun 2023 19:06:06 GMT",
        "trace-id": "20cb9f56-0baa-c144-a994-ddb4077fc38e"
      },
      "ResponseBody": {
        "id": "712C47005E53104EE0093AC9C7EA0E08C2ED5B4AFFB6C823F5",
        "name": "Priority-ClassificationPolicy",
        "queueSelectors": [],
        "workerSelectors": [
          {
            "kind": "static",
            "workerSelector": {
              "expedite": false,
              "status": "active",
              "key": "department",
              "labelOperator": "equal",
              "value": "sales"
            }
          }
        ]
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/classificationPolicies/712C47005E53104EE0093AC9C7EA0E08C2ED5B4AFFB6C823F5?api-version=2022-07-18-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 16 Jun 2023 19:06:08 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022fe00207d-0000-0700-0000-648cb29e0000\u0022",
        "Last-Modified": "Fri, 16 Jun 2023 19:06:06 GMT",
        "trace-id": "54b49c15-91c2-994e-8594-00b460d59a5a"
      },
      "ResponseBody": {
        "id": "712C47005E53104EE0093AC9C7EA0E08C2ED5B4AFFB6C823F5",
        "name": "Priority-ClassificationPolicy",
        "queueSelectors": [],
        "workerSelectors": [
          {
            "kind": "static",
            "workerSelector": {
              "expedite": false,
              "status": "active",
              "key": "department",
              "labelOperator": "equal",
              "value": "sales"
            }
          }
        ]
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://sanitized.communication.azure.com/;accesskey=Kg==",
    "id-prefix": "sdk-mq3fCOENxU2U6Cdt4jMVHA-",
    "RandomSeed": "1116430320"
  }
}
