{
  "Entries": [
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/distributionPolicies/34B6AB0FCD67B7AC430C817D4C2C96284E00ED487DA0C8DAE2?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 26 Apr 2023 15:51:50 GMT"
      },
      "RequestBody": {
        "name": "LongestIdleDistributionPolicy34B6AB0FCD67B7AC430C817D4C2C96284E00ED487DA0C8DAE2",
        "offerTtlSeconds": 30,
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022a102f5b3-0000-0700-0000-644948980000\u0022",
        "Last-Modified": "Wed, 26 Apr 2023 15:51:52 GMT",
        "trace-id": "cedff8a4-2fda-514d-82a0-0b95f86f0b10"
      },
      "ResponseBody": {
        "id": "34B6AB0FCD67B7AC430C817D4C2C96284E00ED487DA0C8DAE2",
        "name": "LongestIdleDistributionPolicy34B6AB0FCD67B7AC430C817D4C2C96284E00ED487DA0C8DAE2",
        "offerTtlSeconds": 30,
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        }
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/queues/FDC53F14E849CB5321E6844EA5CC9232329A6E590A0DDB0791?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 26 Apr 2023 15:51:52 GMT"
      },
      "RequestBody": {
        "name": "DefaultQueue-Sdk-TestFDC53F14E849CB5321E6844EA5CC9232329A6E590A0DDB0791",
        "distributionPolicyId": "34B6AB0FCD67B7AC430C817D4C2C96284E00ED487DA0C8DAE2",
        "labels": {
          "Label_1": "Value_1"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00223500d377-0000-0700-0000-644948990000\u0022",
        "Last-Modified": "Wed, 26 Apr 2023 15:51:53 GMT",
        "trace-id": "e5121ad2-0544-e44c-b023-6827e39e5534"
      },
      "ResponseBody": {
        "id": "FDC53F14E849CB5321E6844EA5CC9232329A6E590A0DDB0791",
        "name": "DefaultQueue-Sdk-TestFDC53F14E849CB5321E6844EA5CC9232329A6E590A0DDB0791",
        "distributionPolicyId": "34B6AB0FCD67B7AC430C817D4C2C96284E00ED487DA0C8DAE2",
        "labels": {
          "Label_1": "Value_1",
          "Id": "FDC53F14E849CB5321E6844EA5CC9232329A6E590A0DDB0791"
        }
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/classificationPolicies/34B6AB0FCD67B7AC430C817D4C2C96284E00ED487DA0C8DAE2?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 26 Apr 2023 15:51:52 GMT"
      },
      "RequestBody": {
        "queueSelectors": [
          {
            "labelSelector": {
              "key": "Id",
              "labelOperator": "equal",
              "value": "FDC53F14E849CB5321E6844EA5CC9232329A6E590A0DDB0791"
            },
            "kind": "static"
          }
        ],
        "prioritizationRule": {
          "value": 1,
          "kind": "static-rule"
        },
        "workerSelectors": [
          {
            "labelSelector": {
              "key": "key",
              "labelOperator": "equal",
              "value": "value"
            },
            "kind": "static"
          }
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002231008d78-0000-0700-0000-644948990000\u0022",
        "Last-Modified": "Wed, 26 Apr 2023 15:51:53 GMT",
        "trace-id": "5a79083b-53d9-c34e-b3e2-68769343b4e9"
      },
      "ResponseBody": {
        "id": "34B6AB0FCD67B7AC430C817D4C2C96284E00ED487DA0C8DAE2",
        "queueSelectors": [
          {
            "kind": "static",
            "labelSelector": {
              "key": "Id",
              "labelOperator": "equal",
              "value": "FDC53F14E849CB5321E6844EA5CC9232329A6E590A0DDB0791"
            }
          }
        ],
        "prioritizationRule": {
          "kind": "static-rule",
          "value": 1
        },
        "workerSelectors": [
          {
            "kind": "static",
            "labelSelector": {
              "expedite": false,
              "state": "active",
              "key": "key",
              "labelOperator": "equal",
              "value": "value"
            }
          }
        ]
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/classificationPolicies/34B6AB0FCD67B7AC430C817D4C2C96284E00ED487DA0C8DAE2?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 26 Apr 2023 15:51:53 GMT"
      },
      "RequestBody": {
        "name": "34B6AB0FCD67B7AC430C817D4C2C96284E00ED487DA0C8DAE2-Name",
        "fallbackQueueId": "FDC53F14E849CB5321E6844EA5CC9232329A6E590A0DDB0791",
        "queueSelectors": [
          {
            "labelSelector": {
              "key": "Id",
              "labelOperator": "equal",
              "value": "FDC53F14E849CB5321E6844EA5CC9232329A6E590A0DDB0791"
            },
            "kind": "static"
          }
        ],
        "prioritizationRule": {
          "value": 1,
          "kind": "static-rule"
        },
        "workerSelectors": [
          {
            "labelSelector[...]
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/classificationPolicies/34B6AB0FCD67B7AC430C817D4C2C96284E00ED487DA0C8DAE2?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 26 Apr 2023 15:51:53 GMT"
      },
      "RequestBody": {
        "name": "34B6AB0FCD67B7AC430C817D4C2C96284E00ED487DA0C8DAE2-Name-updated",
        "queueSelectors": [],
        "workerSelectors": []
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002231008f78-0000-0700-0000-6449489a0000\u0022",
        "Last-Modified": "Wed, 26 Apr 2023 15:51:54 GMT",
        "trace-id": "ca04a5cc-f353-f846-9aee-8c8223aca229"
      },
      "ResponseBody": {
        "id": "34B6AB0FCD67B7AC430C817D4C2C96284E00ED487DA0C8DAE2",
        "name": "34B6AB0FCD67B7AC430C817D4C2C96284E00ED487DA0C8DAE2-Name-updated",
        "fallbackQueueId": "FDC53F14E849CB5321E6844EA5CC9232329A6E590A0DDB0791",
        "queueSelectors": [],
        "prioritizationRule": {
          "kind": "static-rule",
          "value": 1
        },
        "workerSelectors": []
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://sanitized.communication.azure.com/;accesskey=Kg==",
    "id-prefix": "sdk-Rw-oBy6g10KSp3tBth1YaQ-",
    "RandomSeed": "1725781094"
  }
}
