{
  "Entries": [
    {
      "RequestUri": "/subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourcegroups?api-version=2015-11-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11955"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/amh\",\r\n      \"name\": \"amh\",\r\n      \"location\": \"centraluseuap\",\r\n      \"tags\": {},\r\n      \"properties\": {\r\n        \"provisioningState\": \"Succeeded\"\r\n      }\r\n    },\r\n    {\r\n      \"id\": \"/subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/AzureEventGridArmRunnerRGCentralIndia\",\r\n      \"name\": \"AzureEventGridArmRunnerRGCentralIndia\",\r\n      \"location\": \"centralindia\",\r\n      \"properties\": {\r\n        \"provisioningState\": \"Succeeded\"\r\n      }\r\n    },\r\n    {\r\n      \"id\": \"/subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/AzureEventGridArmRunnerRGEastUS\",[...]
    {
      "RequestUri": "/subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourcegroups/sdk-EventGrid-RG-8766?api-version=2015-11-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"centraluseuap\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/sdk-EventGrid-RG-8766\",\r\n  \"name\": \"sdk-EventGrid-RG-8766\",\r\n  \"location\": \"centraluseuap\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/sdk-EventGrid-RG-8766/providers/Microsoft.EventGrid/topics/sdk-Topic-2169?api-version=2019-02-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"centraluseuap\",\r\n  \"tags\": {\r\n    \"originalTag1\": \"originalValue1\",\r\n    \"originalTag2\": \"originalValue2\"\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Retry-After": [
          "10"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com:443/subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/providers/Microsoft.EventGrid/locations/centraluseuap/operationsStatus/7D6528EA-43BB-4E03-B9F9-1CF5AAC95D40?api-version=2019-02-01-preview"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"provisioningState\": \"Creating\",\r\n    \"endpoint\": null\r\n  },\r\n  \"location\": \"centraluseuap\",\r\n  \"tags\": {\r\n    \"originalTag1\": \"originalValue1\",\r\n    \"originalTag2\": \"originalValue2\"\r\n  },\r\n  \"id\": \"/subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/sdk-EventGrid-RG-8766/providers/Microsoft.EventGrid/topics/sdk-Topic-2169\",\r\n  \"name\": \"sdk-Topic-2169\",\r\n  \"type\": \"Microsoft.EventGrid/topics\"\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/providers/Microsoft.EventGrid/locations/centraluseuap/operationsStatus/7D6528EA-43BB-4E03-B9F9-1CF5AAC95D40?api-version=2019-02-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"https://management.azure.com/subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/providers/Microsoft.EventGrid/locations/centraluseuap/operationsStatus/7D6528EA-43BB-4E03-B9F9-1CF5AAC95D40?api-version=2019-02-01-preview\",\r\n  \"name\": \"7d6528ea-43bb-4e03-b9f9-1cf5aac95d40\",\r\n  \"status\": \"Succeeded\"\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/sdk-EventGrid-RG-8766/providers/Microsoft.EventGrid/topics/sdk-Topic-2169?api-version=2019-02-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11998"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"endpoint\": \"https://sdk-topic-2169.centraluseuap-1.eventgrid.azure.net/api/events\",\r\n    \"inputSchema\": \"EventGridSchema\"\r\n  },\r\n  \"location\": \"centraluseuap\",\r\n  \"tags\": {\r\n    \"originalTag1\": \"originalValue1\",\r\n    \"originalTag2\": \"originalValue2\"\r\n  },\r\n  \"id\": \"/subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/sdk-EventGrid-RG-8766/providers/Microsoft.EventGrid/topics/sdk-Topic-2169\",\r\n  \"name\": \"sdk-Topic-2169\",\r\n  \"type\": \"Microsoft.EventGrid/topics\"\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/sdk-EventGrid-RG-8766/providers/Microsoft.EventGrid/topics/sdk-Topic-2169/listKeys?api-version=2019-02-01-preview",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1196"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"key1\": \"7poRjsCif38ok/uHvjvsDQEhB4u7pEQZZvv791n5q/w=\",\r\n  \"key2\": \"cM1/ZG3gQ6jsa9f/dn8pn9kKjn0mCM4MzaYC5BmUj78=\"\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/api/events?api-version=2018-01-01",
      "RequestMethod": "POST",
      "RequestBody": "[\r\n  {\r\n    \"id\": \"22430c9e-ff30-4a31-8843-e32bba5d2e57\",\r\n    \"subject\": \"TestSubject\",\r\n    \"data\": {\r\n      \"Field1\": \"Value1\",\r\n      \"Field2\": \"Value2\",\r\n      \"Field3\": \"Value3\"\r\n    },\r\n    \"eventType\": \"Microsoft.MockPublisher.TestEvent\",\r\n    \"eventTime\": \"2019-03-08T01:27:42.2722268Z\",\r\n    \"dataVersion\": \"1.0\"\r\n  },\r\n  {\r\n    \"id\": \"767f5fde-8b5e-4919-b227-7bdf6828d85d\",\r\n    \"subject\": \"TestSubject\",\r\n    \"data\": {\r\n      \"Field1\": \"Value1\",\r\n      \"Field2\": \"Value2\",\r\n      \"Field3\": \"Value3\"\r\n    },\r\n    \"eventType\": \"Microsoft.MockPublisher.TestEvent\",\r\n    \"eventTime\": \"2019-03-08T01:27:42.2722333Z\",\r\n    \"dataVersion\": \"1.0\"\r\n  },\r\n  {\r\n    \"id\": \"da3df647-ffb1-4fbb-ae8b-b6b354d36cde\",\r\n    \"subject\": \"TestSubject\[...]
    {
      "RequestUri": "/subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/sdk-EventGrid-RG-8766/providers/Microsoft.EventGrid/topics/sdk-Topic-2169?api-version=2019-02-01-preview",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/providers/Microsoft.EventGrid/locations/centraluseuap/operationResults/93EA9E66-8407-46E8-B1E2-F7BF7A27831F?api-version=2019-02-01-preview"
        ],
        "Retry-After": [
          "10"
        ],
        "x-ms-ratelimit-remaining-subscription-deletes": [
          "14996"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 202
    },
    {
      "RequestUri": "/subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/providers/Microsoft.EventGrid/locations/centraluseuap/operationResults/93EA9E66-8407-46E8-B1E2-F7BF7A27831F?api-version=2019-02-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11992"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/providers/Microsoft.EventGrid/locations/centraluseuap/operationResults/93EA9E66-8407-46E8-B1E2-F7BF7A27831F?api-version=2019-02-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11991"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 200
    }
  ],
  "Names": {
    "PublishEventsToTopic": [
      "sdk-EventGrid-RG-8766",
      "sdk-Topic-2169"
    ]
  },
  "Variables": {
    "SubscriptionId": "5b4b650e-28b9-4790-b3ab-ddbd88d727c4"
  }
}