{
  "Entries": [
    {
      "RequestUri": "https://ga-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/metrics/b6c0649c-0c51-4aa6-82b6-3c3b0aa55066/series/query",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized",
        "x-api-key": "Sanitized"
      },
      "RequestBody": {
        "activeSince": "2022-01-01T00:00:00.0000000Z",
        "dimensionFilter": {
          "Dim1": [
            "JPN",
            "USD",
            "__SUM__"
          ],
          "Dim2": [
            "JP",
            "US"
          ]
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "metricId": "b6c0649c-0c51-4aa6-82b6-3c3b0aa55066",
            "dimension": {
              "Dim1": "JPN",
              "Dim2": "JP"
            }
          },
          {
            "metricId": "b6c0649c-0c51-4aa6-82b6-3c3b0aa55066",
            "dimension": {
              "Dim1": "__SUM__",
              "Dim2": "JP"
            }
          },
          {
            "metricId": "b6c0649c-0c51-4aa6-82b6-3c3b0aa55066",
            "dimension": {
              "Dim1": "USD",
              "Dim2": "US"
            }
          },
          {
            "metricId": "b6c0649c-0c51-4aa6-82b6-3c3b0aa55066",
            "dimension": {
              "Dim1": "__SUM__",
              "Dim2": "US"
            }
          }
        ]
      }
    }
  ],
  "Variables": {
    "METRICSADVISOR_ACCOUNT_NAME": "ga-metrics-advisor",
    "METRICSADVISOR_ENDPOINT_SUFFIX": null,
    "METRICSADVISOR_PRIMARY_API_KEY": "Sanitized",
    "METRICSADVISOR_SUBSCRIPTION_KEY": "Sanitized",
    "RandomSeed": "963599971"
  }
}
