{
  "Entries": [
    {
      "RequestUri": "https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/metrics/27e3015f-04fd-44ba-a20b-bc529a0aebae/series/query",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized",
        "x-api-key": "Sanitized"
      },
      "RequestBody": {
        "activeSince": "2020-10-01T00:00:00Z"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "metricId": "27e3015f-04fd-44ba-a20b-bc529a0aebae",
            "dimension": {
              "city": "Miami",
              "category": "Health \u0026 Personal Care"
            }
          },
          {
            "metricId": "27e3015f-04fd-44ba-a20b-bc529a0aebae",
            "dimension": {
              "city": "Rio de Janeiro",
              "category": "Historical \u0026 Advertising Collectibles"
            }
          },
          {
            "metricId": "27e3015f-04fd-44ba-a20b-bc529a0aebae",
            "dimension": {
              "city": "Belo Horizonte",
              "category": "Electronics (Consumer)"
       [...]
