{
  "Entries": [
    {
      "RequestUri": "https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/metrics/27e3015f-04fd-44ba-a20b-bc529a0aebae/data/query",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized",
        "x-api-key": "Sanitized"
      },
      "RequestBody": {
        "startTime": "2020-10-01T00:00:00Z",
        "endTime": "2020-10-31T00:00:00Z",
        "series": [
          {
            "city": "Delhi",
            "category": "Handmade"
          },
          {
            "city": "Koltaka",
            "category": "__SUM__"
          }
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "id": {
              "metricId": "27e3015f-04fd-44ba-a20b-bc529a0aebae",
              "dimension": {
                "city": "Delhi",
                "category": "Handmade"
              }
            },
            "timestampList": [
              "2020-10-01T00:00:00Z",
              "2020-10-02T00:00:00Z",
              "2020-10-03T00:00:00Z",
              "2020-10-04T00:00:00Z",
              "2020-10-05T00:00:00Z",
              "2020-10-06T00:00:00Z",
              "2020-10-07T00:00:00Z",
              "2020-10-08T00:00:00Z",
              "2020-10-09T00:00:00Z",
              "2020-10-10T00:00:00Z",
              "2020-10-11T00:00:00Z",
              "2020-10-12T00:00:00Z",
              "2020-10-13T00:00:00Z",
              "2020-10-14T00:00:00Z",
              "2020-10-15T00:00:00Z",
              "2020-10-16T00:00:00Z",
              "2020-10-17T00:00:00Z",
              "2020-10-18T00:00:00Z",
              "2020-10-19T00:00:00Z",
              "2020-10-20T00:00:00Z",
              "2020-10-21T00:00:00Z",
              "2020-10-22T00:00:00Z",
              "2020-10-23T00:00:00Z",
              "2020-10-24T00:00:00Z",
              "2020-10-25T00:00:00Z",
              "2020-10-26T00:00:00Z",
              "2020-10-27T00:00:00Z",
              "2020-10-28T00:00:00Z",
              "2020-10-29T00:00:00Z",
              "2020-10-30T00:00:00Z"
            ],
            "valueList": [
              646400.8,
              591698.8,
              393672.8,
              461016.4,
              671330.0,
              663083.8,
              652174.0,
              652647.2,
              602663.2,
              405481.2,
              460825.6,
              648188.4,
              639784.2,
              629455.0,
              622654.2,
              575832.6,
              376714.8,
              423373.6,
              595968.4,
              591052.6,
              585573.4,
              591703.2,
              535243.2,
              385288.2,
              391302.2,
              527925.6,
              543222.8,
              545699.2,
              513455.6,
              503106.4
            ]
          },
          {
            "id": {
              "metricId": "27e3015f-04fd-44ba-a20b-bc529a0aebae",
              "dimension": {
                "city": "Koltaka",
                "category": "__SUM__"
              }
            },
            "timestampList": [],
            "valueList": []
          }
        ]
      }
    }
  ],
  "Variables": {
    "METRICSADVISOR_ACCOUNT_NAME": "js-metrics-advisor",
    "METRICSADVISOR_ENDPOINT_SUFFIX": null,
    "METRICSADVISOR_PRIMARY_API_KEY": "Sanitized",
    "METRICSADVISOR_SUBSCRIPTION_KEY": "Sanitized",
    "RandomSeed": "284879907"
  }
}