{
  "Entries": [
    {
      "RequestUri": "https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/metrics/27e3015f-04fd-44ba-a20b-bc529a0aebae/status/enrichment/anomalyDetection/query",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized",
        "x-api-key": "Sanitized"
      },
      "RequestBody": {
        "startTime": "2020-10-01T00:00:00Z",
        "endTime": "2020-10-31T00:00:00Z"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "timestamp": "2020-10-23T00:00:00Z",
            "status": "Succeeded",
            "message": "{\u0022UpdateTime\u0022:\u00222020-11-05T00:56:53.037Z\u0022,\u0022CreateTime\u0022:\u00222020-11-05T00:56:53.037Z\u0022}"
          },
          {
            "timestamp": "2020-10-26T00:00:00Z",
            "status": "Succeeded",
            "message": "{\u0022UpdateTime\u0022:\u00222020-11-05T00:56:53.039Z\u0022,\u0022CreateTime\u0022:\u00222020-11-05T00:56:53.039Z\u0022}"
          },
          {
            "timestamp": "2020-10-28T00:00:00Z",
            "status": "Succeeded",
          [...]
