{
  "Entries": [
    {
      "RequestUri": "/subscriptions/ea841058-b4bc-4534-b5f0-f5eb5286de2f/resourceGroups/WIRunnersProd/providers/Microsoft.Sql/servers/wi-runner-australia-east/databases/WIRunner/advisors/CreateIndex/recommendedActions?api-version=2015-05-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "[\r\n  {\r\n    \"id\": \"/subscriptions/ea841058-b4bc-4534-b5f0-f5eb5286de2f/resourceGroups/WIRunnersProd/providers/Microsoft.Sql/servers/wi-runner-australia-east/databases/WIRunner/advisors/CreateIndex/recommendedActions/IR_[test_schema]_[test_table_0.0361551]_6C7AE8CC9C87E7FD5893\",\r\n    \"name\": \"IR_[test_schema]_[test_table_0.0361551]_6C7AE8CC9C87E7FD5893\",\r\n    \"type\": \"Microsoft.Sql/servers/databases/advisors/recommendedActions\",\r\n    \"location\": \"Australia East\",\r\n    \"kind\": \"\",\r\n    \"properties\": {\r\n      \"recommendationReason\": \"\",\r\n      \"validSince\": \"2016-04-21T15:24:47Z\",\r\n      \"lastRefresh\": \"2016-04-21T15:24:47Z\",\r\n      \"state\": {\r\n        \"currentValue\": \"Success\",\r\n        \"actionInitiatedBy\": \"User\",\r\n        \"lastModified\": \"2016-04-21T15:24:47Z\"\r\n      },\r\n      \"isExecutableAction\": true,\r\n      \"isRevertableAction\": true,\r\n      \"isArchivedAction\": false,\r\n      \"executeActionStartTime\": \"2016-04-21T15:24:47Z\",\r\n      \"executeActionDuration\": \"PT1M\",\r\n      \"executeActionInitiatedBy\": \"User\",\r\n      \"executeActionInitiatedTime\": \"2016-04-21T15:24:47Z\",\r\n      \"score\": 2,\r\n      \"implementationDetails\": {\r\n        \"method\": \"TSql\",\r\n        \"script\": \"CREATE NONCLUSTERED INDEX [nci_wi_test_table_0.0361551_6C7AE8CC9C87E7FD5893] ON [test_schema].[test_table_0.0361551] ([index_1],[index_2],[index_3]) INCLUDE ([included_1]) WITH (ONLINE = ON)\"\r\n      },\r\n      \"errorDetails\": {},\r\n      \"estimatedImpact\": [\r\n        {\r\n          \"dimensionName\": \"ActionDuration\",\r\n          \"unit\": \"Seconds\",\r\n          \"absoluteValue\": 343.0\r\n        },\r\n        {\r\n          \"dimensionName\": \"SpaceChange\",\r\n          \"unit\": \"Megabytes\",\r\n          \"absoluteValue\": 0.055789001245945449\r\n        }\r\n      ],\r\n      \"observedImpact\": [\r\n        {\r\n          \"dimensionName\": \"CpuUtilization\",\r\n          \"unit\": \"CpuCores\",\r\n          \"changeValueAbsolute\": 0.5,\r\n          \"changeValueRelative\": 0.1\r\n        } ],\r\n      \"timeSeries\": [],\r\n      \"details\": {\r\n        \"indexName\": \"nci_wi_test_table_0.0361551_6C7AE8CC9C87E7FD5893\",\r\n        \"indexType\": \"NONCLUSTERED\",\r\n        \"schema\": \"[test_schema]\",\r\n        \"table\": \"[test_table_0.0361551]\",\r\n        \"indexColumns\": \"[index_1],[index_2],[index_3]\",\r\n        \"benefit\": 2,\r\n        \"includedColumns\": \"[included_1]\",\r\n        \"indexActionStartTime\": \"2016-04-21T15:24:47.583\",\r\n        \"indexActionDuration\": \"00:01:00\"\r\n      }\r\n    }\r\n  },\r\n  {\r\n    \"id\": \"/subscriptions/ea841058-b4bc-4534-b5f0-f5eb5286de2f/resourceGroups/WIRunnersProd/providers/Microsoft.Sql/servers/wi-runner-australia-east/databases/WIRunner/advisors/CreateIndex/recommendedActions/IR_[test_schema]_[test_table_0.756532]_6C7AE8CC9C87E7FD5893\",\r\n    \"name\": \"IR_[test_schema]_[test_table_0.756532]_6C7AE8CC9C87E7FD5893\",\r\n    \"type\": \"Microsoft.Sql/servers/databases/advisors/recommendedActions\",\r\n    \"l[...]
