{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/292d7caa-a878-4de8-b774-689097666272?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11985"
      },
      "ResponseBody": {
        "id": "/subscriptions/292d7caa-a878-4de8-b774-689097666272",
        "authorizationSource": "Bypassed",
        "managedByTenants": [],
        "subscriptionId": "292d7caa-a878-4de8-b774-689097666272",
        "tenantId": "01884692-6d96-44fa-8c58-11b4e90fef19",
        "displayName": "Microsoft Azure",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Public_2014-09-01",
          "quotaId": "CSP_2015-05-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/292d7caa-a878-4de8-b774-689097666272/resourcegroups/azsdkRG?api-version=2021-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11984"
      },
      "ResponseBody": {
        "id": "/subscriptions/292d7caa-a878-4de8-b774-689097666272/resourceGroups/azsdkRG",
        "name": "azsdkRG",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "brazilsouth",
        "tags": {
          "ServiceDirectory": "desktopvirtualization",
          "Creator": "sampa",
          "DeleteAfter": "2022-05-22T20:49:28.1719085Z"
        },
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/292d7caa-a878-4de8-b774-689097666272/resourceGroups/azsdkRG/providers/Microsoft.DesktopVirtualization/hostPools/testHostPoolCrud?api-version=2021-07-12",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "brazilsouth",
        "properties": {
          "hostPoolType": "Personal",
          "loadBalancerType": "DepthFirst",
          "preferredAppGroupType": "RailApplications"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-lamport-ts": "1238",
        "x-ms-opsarmpath64": "L3N1YnNjcmlwdGlvbnMvMjkyZDdjYWEtYTg3OC00ZGU4LWI3NzQtNjg5MDk3NjY2MjcyL3Jlc291cmNlR3JvdXBzL2F6c2RrUkcvcHJvdmlkZXJzL01pY3Jvc29mdC5EZXNrdG9wVmlydHVhbGl6YXRpb24vaG9zdFBvb2xzL3Rlc3RIb3N0UG9vbENydWQ=",
        "x-ms-ratelimit-remaining-subscription-writes": "1192",
        "X-Rate-Limit-Limit": "0",
        "X-Rate-Limit-Remaining": "9223372036854775807",
        "X-Rate-Limit-Reset": "0"
      },
      "ResponseBody": {
        "name": "testHostPoolCrud",
        "id": "/subscriptions/292d7caa-a878-4de8-b774-689097666272/resourcegroups/azsdkRG/providers/Microsoft.DesktopVirtualization/hostpools/testHostPoolCrud",
        "type": "Microsoft.DesktopVirtualization/hostpools",
        "location": "brazilsouth",
        "tags": {},
        "kind": null,
        "systemData": {
          "createdBy": "4d623718-752b-4325-9960-46e070a92bca",
          "createdByType": "Application",
          "createdAt": "2022-05-24T20:22:10.53Z",
          "lastModifiedBy": "4d623718-752b-4325-9960-46e070a92bca",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2022-05-24T20:23:05.66Z"
        },
        "properties": {
          "friendlyName": null,
          "description": null,
          "hostPoolType": "Personal",
          "personalDesktopAssignmentType": "Automatic",
          "applicationGroupReferences": [],
          "customRdpProperty": "",
          "maxSessionLimit": 999999,
          "loadBalancerType": "Persistent",
          "validationEnvironment": true,
          "ring": 0,
          "registrationInfo": {
            "expirationTime": "0001-01-01T00:00:00",
            "token": "",
            "registrationTokenOperation": "None"
          },
          "vmTemplate": null,
          "preferredAppGroupType": "RailApplications",
          "migrationRequest": {
            "operation": "",
            "migrationPath": ""
          },
          "cloudPcResource": false,
          "startVMOnConnect": false,
          "ssoadfsAuthority": null,
          "ssoClientId": null,
          "ssoClientSecretKeyVaultPath": null,
          "ssoSecretType": "SharedKey",
          "objectId": "d921e4e9-ee11-4193-b9b9-c3b28d596e16"
        }
      }
    },
[...]
