{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/292d7caa-a878-4de8-b774-689097666272?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11972"
      },
      "ResponseBody": {
        "id": "/subscriptions/292d7caa-a878-4de8-b774-689097666272",
        "authorizationSource": "Bypassed",
        "managedByTenants": [],
        "subscriptionId": "292d7caa-a878-4de8-b774-689097666272",
        "tenantId": "01884692-6d96-44fa-8c58-11b4e90fef19",
        "displayName": "Microsoft Azure",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Public_2014-09-01",
          "quotaId": "CSP_2015-05-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/292d7caa-a878-4de8-b774-689097666272/resourcegroups/azsdkRG?api-version=2021-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11971"
      },
      "ResponseBody": {
        "id": "/subscriptions/292d7caa-a878-4de8-b774-689097666272/resourceGroups/azsdkRG",
        "name": "azsdkRG",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "brazilsouth",
        "tags": {
          "ServiceDirectory": "desktopvirtualization",
          "Creator": "sampa",
          "DeleteAfter": "2022-05-22T20:49:28.1719085Z"
        },
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/292d7caa-a878-4de8-b774-689097666272/resourceGroups/azsdkRG/providers/Microsoft.DesktopVirtualization/hostPools/testHostPoolCrud?api-version=2021-07-12",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "brazilsouth",
        "properties": {
          "hostPoolType": "Pooled",
          "loadBalancerType": "BreadthFirst",
          "preferredAppGroupType": "Desktop"
        }
      },
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-lamport-ts": "1278",
        "x-ms-opsarmpath64": "L3N1YnNjcmlwdGlvbnMvMjkyZDdjYWEtYTg3OC00ZGU4LWI3NzQtNjg5MDk3NjY2MjcyL3Jlc291cmNlR3JvdXBzL2F6c2RrUkcvcHJvdmlkZXJzL01pY3Jvc29mdC5EZXNrdG9wVmlydHVhbGl6YXRpb24vaG9zdFBvb2xzL3Rlc3RIb3N0UG9vbENydWQ=",
        "x-ms-ratelimit-remaining-subscription-writes": "1187",
        "X-Rate-Limit-Limit": "0",
        "X-Rate-Limit-Remaining": "9223372036854775807",
        "X-Rate-Limit-Reset": "0"
      },
      "ResponseBody": {
        "error": {
          "code": "400",
          "message": "ActivityId: 8d0a9fdc-3541-44ed-b789-3e50825fd20f Error: Cannot patch HostPoolType. current: PersonalDesktop new: Pooled"
        }
      }
    }
  ],
  "Variables": {
    "DESKTOPVIRTUALIZATION_RESOURCE_GROUP": "azsdkRG",
    "RandomSeed": "30259506",
    "RESOURCE_MANAGER_URL": "https://management.azure.com/",
    "SUBSCRIPTION_ID": "292d7caa-a878-4de8-b774-689097666272"
  }
}
