{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/providers/Microsoft.ContainerInstance?api-version=2019-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11730"
      },
      "ResponseBody": {
        "id": "/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/providers/Microsoft.ContainerInstance",
        "namespace": "Microsoft.ContainerInstance",
        "authorizations": [
          {
            "applicationId": "6bb8e274-af5d-4df2-98a3-4fd78b4cafd9",
            "roleDefinitionId": "3c60422b-a83a-428d-9830-22609c77aa6c"
          }
        ],
        "resourceTypes": [
          {
            "resourceType": "containerGroups",
            "locations": [
              "West Central US",
              "West US",
              "East US",
              "West Europe",
              "West US 2",
              "North Europe",
              "Southeast Asia",
              "East US 2",
              "Central US",
              "Australia East",
              "UK South",
              "South Central US",
              "Central India",
              "Brazil South",
              "South India",
              "North Central US",
              "East Asia",
              "Canada Central",
              "Japan East",
              "Korea Central",
              "France Central",
              "Switzerland North",
              "Germany West Central",
              "UAE North"
            ],
            "apiVersions": [
              "2020-11-01",
              "2019-12-01",
              "2018-10-01",
              "2018-09-01",
              "2018-07-01",
              "2018-06-01",
              "2018-04-01",
              "2018-02-01-preview",
              "2017-12-01-preview",
              "2017-10-01-preview",
              "2017-08-01-preview"
            ],
            "capabilities": "SystemAssignedResourceIdentity, SupportsTags, SupportsLocation"
          },
          {
            "resourceType": "serviceAssociationLinks",
            "locations": [
              "West Central US",
              "West US",
              "East US",
              "West Europe",
              "West US 2",
              "North Europe",
              "Southeast Asia",
              "East US 2",
              "Central US",
              "Australia East",
              "UK South",
             [...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/providers/Microsoft.ContainerInstance/locations/West%20Central%20US/capabilities?api-version=2020-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11729"
      },
      "ResponseBody": {
        "value": [
          {
            "resourceType": "containerGroups",
            "osType": "Linux",
            "location": "WESTCENTRALUS",
            "ipAddressType": "Public",
            "gpu": "None",
            "capabilities": {
              "maxMemoryInGB": 16.0,
              "maxCpu": 4.0,
              "maxGpuCount": 0
            }
          },
          {
            "resourceType": "containerGroups",
            "osType": "Linux",
            "location": "WESTCENTRALUS",
            "ipAddressType": "Private",
            "gpu": "None",
            "capabilities": {
              "maxMemoryInGB": 16.0,
              "maxCpu": 4.0,
              "maxGpuCount": 0
            }
          },
          {
            "resourceType": "containerGroups",
            "osType": "Windows",
            "location": "WESTCENTRALUS",
            "ipAddressType": "Public",
            "gpu": "None",
            "capabilities": {
              "maxMemoryInGB": 16.0,
              "maxCpu": 4.0,
              "maxGpuCount": 0
            }
          }
        ]
      }
    }
  ],
  "Variables": {
    "RandomSeed": "1484599927",
    "SUBSCRIPTION_ID": "9e223dbe-3399-4e19-88eb-0975f02ac87f"
  }
}