{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/259fbb24-9bcd-4cfc-865c-fc33b22fe38a/resourceGroups/dbaccount-7059/providers/Microsoft.DocumentDB/databaseAccounts/dbaccount-7840/sqlDatabases/sql-db-3509/containers/sql-container-5075?api-version=2022-11-15",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-gatewayversion": "version=2.14.0",
        "x-ms-ratelimit-remaining-subscription-reads": "11976"
      },
      "ResponseBody": {
        "id": "/subscriptions/259fbb24-9bcd-4cfc-865c-fc33b22fe38a/resourceGroups/dbaccount-7059/providers/Microsoft.DocumentDB/databaseAccounts/dbaccount-7840/sqlDatabases/sql-db-3509/containers/sql-container-5075",
        "type": "Microsoft.DocumentDB/databaseAccounts/sqlDatabases/containers",
        "name": "sql-container-5075",
        "properties": {
          "resource": {
            "id": "sql-container-5075",
            "indexingPolicy": {
              "indexingMode": "consistent",
              "automatic": true,
              "includedPaths": [
                {
                  "path": "/*"
                }
              ],
              "excludedPaths": [
                {
                  "path": "/pathToNotIndex/*"
                },
                {
                  "path": "/\u0022_etag\u0022/?"
                }
              ],
              "spatialIndexes": [
                {
                  "path": "/*",
                  "types": [
                    "Point",
                    "LineString",
                    "Polygon",
                    "MultiPolygon"
                  ]
                }
              ],
              "compositeIndexes": [
                [
                  {
                    "path": "/orderByPath1",
                    "order": "ascending"
                  },
                  {
                    "path": "/orderByPath2",
                    "order": "descending"
                  }
                ]
              ]
            },
            "partitionKey": {
              "paths": [
                "/address/zipCode"
              ],
              "kind": "Hash"
            },
            "uniqueKeyPolicy": {
              "uniqueKeys": []
            },
            "conflictResolutionPolicy": {
              "mode": "LastWriterWins",
              "conflictResolutionPath": "/_ts",
              "conflictResolutionProcedure": ""
            },
            "geospatialConfig": {
              "type": "Geography"
            },
            "_rid": "RHwwANgLBTQ=",
            "_ts": 1679581118,
            "_self": "dbs/RHwwAA==/colls/RHwwANgLBTQ=/",
            "_etag": "\u002200001000-0000-0700-0000-641c5fbe0000\u0022",
            "_docs": "docs/",
            "_sprocs": "sprocs/",
            "_triggers": "triggers/",
            "_udfs": "udfs/",
            "_conflicts": "conflicts/",
            "statistics": [
              {
                "id": "0",
                "sizeInKB": 0,
                "documentCount": 0,
                "sampledDistinctPartitionKeyCount": 0,
                "partitionKeys": []
              }
            ]
          }
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/259fbb24-9bcd-4cfc-865c-fc33b22fe38a/resourceGroups/dbaccount-7059/providers/Microsoft.DocumentDB/databaseAccounts/dbaccount-7840/sqlDatabases/sql-db-3509/containers/sql-container-5075/userDefinedFunctions/sql-stored-procedure-6137?api-version=2022-11-15",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "westus",
        "properties": {
          "resource": {
            "id": "sql-stored-procedure-6137",
            "body": "function () {\r\n    var updatetext = getContext();\r\n    var response = context.getResponse();\r\n    response.setBody(\u0027First Hello World\u0027);\r\n}"
          },
          "options": {
            "throughput": 700
          }
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/259fbb24-9bcd-4cfc-865c-fc33b22fe38a/providers/Microsoft.DocumentDB/locations/westus2/operationsStatus/cbab0a76-d1d0-45e7-acad-2dccc740dd98?api-version=2022-11-15",
        "Content-Type": "application/json",
        "Location": "https://management.azure.com/subscriptions/259fbb24-9bcd-4cfc-865c-fc33b22fe38a/resourceGroups/dbaccount-7059/providers/Microsoft.DocumentDB/databaseAccounts/dbaccount-7840/sqlDatabases/sql-db-3509/containers/sql-container-5075/userDefinedFunctions/sql-stored-procedure-6137/operationResults/cbab0a76-d1d0-45e7-acad-2dccc740dd98?api-version=2022-11-15",
        "x-ms-gatewayversion": "version=2.14.0",
        "x-ms-ratelimit-remaining-subscription-writes": "1197"
      },
      "ResponseBody": {
        "status": "Enqueued"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/259fbb24-9bcd-4cfc-865c-fc33b22fe38a/providers/Microsoft.DocumentDB/locations/westus2/operationsStatus/cbab0a76-d1d0-45e7-acad-2dccc740dd98?api-version=2022-11-15",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-gatewayversion": "version=2.14.0",
        "x-ms-ratelimit-remaining-subscription-reads": "11975"
      },
      "ResponseBody": {
        "status": "Enqueued"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/259fbb24-9bcd-4cfc-865c-fc33b22fe38a/providers/Microsoft.DocumentDB/locations/westus2/operationsStatus/f7041832-287d-4797-aa5d-6071bfa71c1b?api-version=2022-11-15",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-gatewayversion": "version=2.14.0",
        "x-ms-ratelimit-remaining-subscription-reads": "11952"
      },
      "ResponseBody": {
        "status": "Succeeded"
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com/",
    "RandomSeed": "1025578536",
    "RESOURCE_MANAGER_URL": "https://management.azure.com/",
    "SUBSCRIPTION_ID": "259fbb24-9bcd-4cfc-865c-fc33b22fe38a"
  }
}
