{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/dbaccount-7542/providers/Microsoft.DocumentDB/databaseAccounts/dbaccount-9821/sqlDatabases/sql-db-7884/containers/sql-container-1702?api-version=2022-05-15",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-gatewayversion": "version=2.14.0",
        "x-ms-ratelimit-remaining-subscription-reads": "11913"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/dbaccount-7542/providers/Microsoft.DocumentDB/databaseAccounts/dbaccount-9821/sqlDatabases/sql-db-7884/containers/sql-container-1702",
        "type": "Microsoft.DocumentDB/databaseAccounts/sqlDatabases/containers",
        "name": "sql-container-1702",
        "properties": {
          "resource": {
            "id": "sql-container-1702",
            "indexingPolicy": {
              "indexingMode": "consistent",
              "automatic": true,
              "includedPaths": [
                {
                  "path": "/*"
                }
              ],
              "excludedPaths": [
                {
                  "path": "/pathToNotIndex/*"
                },
                {
                  "path": "/\u0022_etag\u0022/?"
                }
              ],
              "spatialIndexes": [
                {
                  "path": "/*",
                  "types": [
                    "Point",
                    "LineString",
                    "Polygon",
                    "MultiPolygon"
                  ]
                }
              ],
              "compositeIndexes": [
                [
                  {
                    "path": "/orderByPath1",
                    "order": "ascending"
                  },
                  {
                    "path": "/orderByPath2",
                    "order": "descending"
                  }
                ]
              ]
            },
            "partitionKey": {
              "paths": [
                "/address/zipCode"
              ],
              "kind": "Hash"
            },
            "uniqueKeyPolicy": {
              "uniqueKeys": []
            },
            "conflictResolutionPolicy": {
              "mode": "LastWriterWins",
              "conflictResolutionPath": "/_ts",
              "conflictResolutionProcedure": ""
            },
            "geospatialConfig": {
              "type": "Geography"
            },
            "_rid": "EKkCALz0B64=",
            "_ts": 1657141277,
            "_self": "dbs/EKkCAA==/colls/EKkCALz0B64=/",
            "_etag": "\u002200005600-0000-0700-0000-62c5f81d0000\u0022",
            "_docs": "docs/",
            "_sprocs": "sprocs/",
            "_triggers": "triggers/",
            "_udfs": "udfs/",
            "_conflicts": "conflicts/",
            "statistics": [
              {
                "id": "0",
                "sizeInKB": 0,
                "documentCount": 0,
                "sampledDistinctPartitionKeyCount": 0,
                "partitionKeys": []
              }
            ]
          }
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/dbaccount-7542/providers/Microsoft.DocumentDB/databaseAccounts/dbaccount-9821/sqlDatabases/sql-db-7884/containers/sql-container-1702/userDefinedFunctions/sql-stored-procedure-3266?api-version=2022-05-15",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "westus",
        "properties": {
          "resource": {
            "id": "sql-stored-procedure-3266",
            "body": "function () {\r\n    var updatetext = getContext();\r\n    var response = context.getResponse();\r\n    response.setBody(\u0027First Hello World\u0027);\r\n}"
          },
          "options": {
            "throughput": 700
          }
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.DocumentDB/locations/westus2/operationsStatus/7f82e0ad-1343-4344-9d00-c1f48ac452a3?api-version=2022-05-15",
        "Content-Type": "application/json",
        "Location": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/dbaccount-7542/providers/Microsoft.DocumentDB/databaseAccounts/dbaccount-9821/sqlDatabases/sql-db-7884/containers/sql-container-1702/userDefinedFunctions/sql-stored-procedure-3266/operationResults/7f82e0ad-1343-4344-9d00-c1f48ac452a3?api-version=2022-05-15",
        "x-ms-gatewayversion": "version=2.14.0",
        "x-ms-ratelimit-remaining-subscription-writes": "1194"
      },
      "ResponseBody": {
        "status": "Enqueued"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.DocumentDB/locations/westus2/operationsStatus/7f82e0ad-1343-4344-9d00-c1f48ac452a3?api-version=2022-05-15",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-gatewayversion": "version=2.14.0",
        "x-ms-ratelimit-remaining-subscription-reads": "11912"
      },
      "ResponseBody": {
        "status": "Enqueued"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/dbaccount-7542/providers/Microsoft.DocumentDB/databaseAccounts/dbaccount-9821/sqlDatabases/sql-db-7884/containers/sql-container-1702/userDefinedFunctions?api-version=2022-05-15",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-gatewayversion": "version=2.14.0",
        "x-ms-ratelimit-remaining-subscription-reads": "11905"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/dbaccount-7542/providers/Microsoft.DocumentDB/databaseAccounts/dbaccount-9821/sqlDatabases/sql-db-7884/containers/sql-container-1702/userDefinedFunctions/sql-stored-procedure-3266",
            "type": "Microsoft.DocumentDB/databaseAccounts/sqlDatabases/containers/userDefinedFunctions",
            "name": "sql-stored-procedure-3266",
            "properties": {
              "resource": {
                "id": "sql-stored-procedure-3266",
                "body": "function () {\r\n    var updatetext = getContext();\r\n    var response = context.getResponse();\r\n    response.setBody(\u0027First Hello World\u0027);\r\n}",
                "_rid": "EKkCALz0B64EAAAAAAAAYA==",
                "_self": "dbs/EKkCAA==/colls/EKkCALz0B64=/udfs/EKkCALz0B64EAAAAAAAAYA==/",
                "_etag": "\u0022020033f7-0000-0700-0000-62c5f8620000\u0022",
                "_ts": 1657141346
              }
            }
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.DocumentDB/locations/westus2/operationsStatus/656e21b4-cf1c-48d9-8248-6b7de469e8d7?api-version=2022-05-15",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-gatewayversion": "version=2.14.0",
        "x-ms-ratelimit-remaining-subscription-reads": "11899"
      },
      "ResponseBody": {
        "status": "Succeeded"
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "RandomSeed": "1696186487",
    "RESOURCE_MANAGER_URL": "https://management.azure.com/",
    "SUBSCRIPTION_ID": "db1ab6f0-4769-4b27-930e-01e2ef9c123c"
  }
}
