{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourcegroups/networkcloud-sdk6461?api-version=**",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "id": "/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourceGroups/networkcloud-sdk6461",
        "name": "networkcloud-sdk6461",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourceGroups/anpankie-sim/providers/Microsoft.NetworkCloud/clusters/simulator?api-version=2023-05-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022d400cd58-0000-0100-0000-6490f2320000\u0022",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-reads": "11993"
      },
      "ResponseBody": {
        "id": "/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourceGroups/anpankie-sim/providers/Microsoft.NetworkCloud/clusters/simulator",
        "name": "simulator",
        "type": "microsoft.networkcloud/clusters",
        "location": "eastus",
        "extendedLocation": {
          "name": "/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourcegroups/sim-clustermgr-mrg-phdz6a3e4oyhi/providers/microsoft.extendedlocation/customlocations/sim-cluster-mgr-phdz6a3e4oyhi-cl",
          "type": "CustomLocation"
        },
        "tags": {
          "ManagedBy": "nc-development-environments",
          "LabEnvironment": "simulator",
          "ResourceType": "cluster",
          "sshKeyUrl": "https://simulatorsa.blob.core.windows.net/simulator-public-key/common-simulator-key.pub"
        },
        "systemData": {
          "createdBy": "de975306-d24e-4dec-9d3b-ef05c66f0075",
          "createdByType": "Application",
          "createdAt": "2023-06-19T22:57:19.5338882Z",
          "lastModifiedBy": "319f651f-7ddb-4fc6-9857-7aef9250bd05",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2023-06-20T00:26:26.0530912Z"
        },
        "properties": {
          "provisioningState": "Succeeded",
          "analyticsWorkspaceId": "/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourceGroups/anpankie-sim/providers/Microsoft.OperationalInsights/workspaces/simulator-law",
          "networkFabricId": "/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourceGroups/anpankie-sim/providers/Microsoft.Network/virtualNetworks/CM_vNet/subnets/CM_Subnet",
          "clusterType": "MultiRack",
          "clusterVersion": "3.3.0",
          "aggregatorOrSingleRackDefinition": {
            "networkRackId": "/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourceGroups/anpankie-sim/providers/Microsoft.Network/virtualNetworks/vNet/subnets/Subnet",
            "rackSkuId": "/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/providers/Microsoft.NetworkCloud/rackSkus/VLab1_4_Aggregator_sim",
            "rackSerialNumber": "aa1234",
            "rackLocation": "Foo Datacenter, Floor 3, Aisle 9, Rack 2",
            "availabilityZone": "A",
            "storageApplianceConfigurationData": [],
            "bareMetalMachineConfigurationData": []
          },
          "computeRackDefinitions": [
            {
              "networkRackId": "/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourceGroups/anpankie-sim/providers/Microsoft.Network/virtualNetworks/vNet/subnets/Subnet",
              "rackSkuId": "/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/providers/Microsoft.NetworkCloud/rackSkus/VLab1_4_Compute_DellR750_3C2M_sim",
              "rackSerialNumber": "aa5678",
              "rackLocation": "Foo Datacenter, Floor 3, Aisle 9, Rack 2",
              "availabilityZone": "1",
              "storageApplianceConfigurationData": [],
              "bareMetalMachineConfigurationData": [
                {
                  "rackSlot": 1,
                  "bootMacAddress": "52:54:00:9b:27:01",
                  "bmcCredentials": {
                    "username": "dXNlcm5hbWUK"
                  },
                  "bmcConnectionString": "redfish\u002Bhttps://10.100.100.10:8443/redfish/v1/Systems/rack1compute01",
                  "machineName": "rack1compute01",
                  "bmcMacAddress": "AA:BB:CC:DD:EE:AA",
                  "serialNumber": "BM1219XX1"
                },
                {
                  "rackSlot": 2,
                  "bootMacAddress": "52:54:00:68:9b:b1",
                  "bmcCredentials": {
                    "username": "dXNlcm5hbWUK"
                  },
                  "bmcConnectionString": "redfish\u002Bhttps://10.100.100.10:8443/redfish/v1/Systems/rack1compute02",
                  "machineName": "rack1compute02",
                  "bmcMacAddress": "AA:BB:CC:DD:EE:BB",
                  "serialNumb[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourceGroups/anpankie-sim/providers/Microsoft.NetworkCloud/clusters/simulator/metricsConfigurations/default?api-version=2023-05-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "extendedLocation": {
          "name": "/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourcegroups/simulator-hostedresources-4ae3464d/providers/microsoft.extendedlocation/customlocations/simulator-cstm-loc",
          "type": "CustomLocation"
        },
        "tags": {
          "key1": "myvalue1"
        },
        "location": "eastus",
        "properties": {
          "collectionInterval": 15
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/providers/Microsoft.NetworkCloud/locations/EASTUS/operationStatuses/64cdbcf6-2690-4c59-bcfa-735ea4779c6e*A00BFB4037162FFC09D17CCF3DCAD475D92F523396CE6BB5624F7CCA5015042B?api-version=2023-05-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00225b07ec4c-0000-0100-0000-6494a6600000\u0022",
        "mise-correlation-id": "4eacac2c-522c-432d-9761-7393cd3f61b9",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-writes": "1198"
      },
      "ResponseBody": {
        "id": "/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourceGroups/anpankie-sim/providers/Microsoft.NetworkCloud/clusters/simulator/metricsConfigurations/default",
        "name": "default",
        "type": "microsoft.networkcloud/clusters/metricsconfigurations",
        "location": "eastus",
        "extendedLocation": {
          "name": "/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourcegroups/simulator-hostedresources-4ae3464d/providers/microsoft.extendedlocation/customlocations/simulator-cstm-loc",
          "type": "CustomLocation"
        },
        "tags": {
          "key1": "myvalue1"
        },
        "systemData": {
          "createdBy": "REDACTED",
          "createdByType": "User",
          "createdAt": "2023-06-22T19:51:59.7197173Z",
          "lastModifiedBy": "REDACTED",
          "lastModifiedByType": "User",
          "lastModifiedAt": "2023-06-22T19:51:59.7197173Z"
        },
        "properties": {
          "provisioningState": "Accepted",
          "collectionInterval": 15
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/providers/Microsoft.NetworkCloud/locations/EASTUS/operationStatuses/64cdbcf6-2690-4c59-bcfa-735ea4779c6e*A00BFB4037162FFC09D17CCF3DCAD475D92F523396CE6BB5624F7CCA5015042B?api-version=2023-05-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022e6029b9e-0000-0100-0000-6494a65f0000\u0022",
        "x-ms-ratelimit-remaining-subscription-reads": "11992"
      },
      "ResponseBody": {
        "id": "/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/providers/Microsoft.NetworkCloud/locations/EASTUS/operationStatuses/64cdbcf6-2690-4c59-bcfa-735ea4779c6e*A00BFB4037162FFC09D17CCF3DCAD475D92F523396CE6BB5624F7CCA5015042B",
        "name": "64cdbcf6-2690-4c59-bcfa-735ea4779c6e*A00BFB4037162FFC09D17CCF3DCAD475D92F523396CE6BB5624F7CCA5015042B",
        "resourceId": "/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourceGroups/anpankie-sim/providers/Microsoft.NetworkCloud/clusters/simulator/metricsConfigurations/default",
        "status": "Accepted",
        "startTime": "2023-06-22T19:51:59.9592979Z"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/providers/Microsoft.NetworkCloud/locations/EASTUS/operationStatuses/64cdbcf6-2690-4c59-bcfa-735ea4779c6e*A00BFB4037162FFC09D17CCF3DCAD475D92F523396CE6BB5624F7CCA5015042B?api-version=2023-05-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022e602a99e-0000-0100-0000-6494a6680000\u0022",
        "x-ms-ratelimit-remaining-subscription-reads": "11987"
      },
      "ResponseBody": {
        "id": "/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/providers/Microsoft.NetworkCloud/locations/EASTUS/operationStatuses/64cdbcf6-2690-4c59-bcfa-735ea4779c6e*A00BFB4037162FFC09D17CCF3DCAD475D92F523396CE6BB5624F7CCA5015042B",
        "name": "64cdbcf6-2690-4c59-bcfa-735ea4779c6e*A00BFB4037162FFC09D17CCF3DCAD475D92F523396CE6BB5624F7CCA5015042B",
        "resourceId": "/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourceGroups/anpankie-sim/providers/Microsoft.NetworkCloud/clusters/simulator/metricsConfigurations/default",
        "status": "Succeeded",
        "startTime": "2023-06-22T19:51:59.9592979Z",
        "endTime": "2023-06-22T19:52:08.575667Z",
        "properties": null
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourceGroups/anpankie-sim/providers/Microsoft.NetworkCloud/clusters/simulator/metricsConfigurations/default?api-version=2023-05-01-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {
          "key1": "myvalue1",
          "key2": "myvalue2"
        },
        "properties": {}
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/providers/Microsoft.NetworkCloud/locations/EASTUS/operationStatuses/1dbf52e5-9963-4590-b21e-ab58d02fa3c7*A00BFB4037162FFC09D17CCF3DCAD475D92F523396CE6BB5624F7CCA5015042B?api-version=2023-05-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00225b07e54f-0000-0100-0000-6494a66b0000\u0022",
        "Location": "https://management.azure.com/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/providers/Microsoft.NetworkCloud/locations/EASTUS/operationStatuses/1dbf52e5-9963-4590-b21e-ab58d02fa3c7*A00BFB4037162FFC09D17CCF3DCAD475D92F523396CE6BB5624F7CCA5015042B?api-version=2023-05-01-preview",
        "mise-correlation-id": "9f6debf3-7282-4f3f-82d6-2890be4a5cf6",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-writes": "1197"
      },
      "ResponseBody": "null"
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourceGroups/anpankie-sim/providers/Microsoft.NetworkCloud/clusters/simulator/metricsConfigurations?api-version=2023-05-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-reads": "11978"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourceGroups/anpankie-sim/providers/Microsoft.NetworkCloud/clusters/simulator/metricsConfigurations/default",
            "name": "default",
            "type": "microsoft.networkcloud/clusters/metricsconfigurations",
            "location": "eastus",
            "extendedLocation": {
              "name": "/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourcegroups/simulator-hostedresources-4ae3464d/providers/microsoft.extendedlocation/customlocations/simulator-cstm-loc",
              "type": "CustomLocation"
            },
            "tags": {
              "key1": "myvalue1",
              "key2": "myvalue2"
            },
            "systemData": {
              "createdBy": "REDACTED",
              "createdByType": "User",
              "createdAt": "2023-06-22T19:51:59.7197173Z",
              "lastModifiedBy": "319f651f-7ddb-4fc6-9857-7aef9250bd05",
              "lastModifiedByType": "Application",
              "lastModifiedAt": "2023-06-22T19:52:15.7905137Z"
            },
            "properties": {
              "collectionInterval": 15,
              "enabledMetrics": [],
              "disabledMetrics": [
                "apiserver_client_certificate_expiration_seconds_bucket",
                "container_file_descriptors",
                "container_fs_io_current",
                "container_fs_io_time_weighted_seconds_total",
                "container_fs_read_seconds_total",
                "container_fs_reads_bytes_total",
                "container_fs_reads_total",
                "container_fs_sector_reads_total",
                "container_fs_sector_writes_total",
                "contai[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/providers/Microsoft.NetworkCloud/locations/EASTUS/operationStatuses/bb6aefe4-ac5e-4638-9e92-0cde9969413d*A00BFB4037162FFC09D17CCF3DCAD475D92F523396CE6BB5624F7CCA5015042B?api-version=2023-05-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022e602c69e-0000-0100-0000-6494a6780000\u0022",
        "x-ms-ratelimit-remaining-subscription-reads": "11972"
      },
      "ResponseBody": {
        "id": "/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/providers/Microsoft.NetworkCloud/locations/EASTUS/operationStatuses/bb6aefe4-ac5e-4638-9e92-0cde9969413d*A00BFB4037162FFC09D17CCF3DCAD475D92F523396CE6BB5624F7CCA5015042B",
        "name": "bb6aefe4-ac5e-4638-9e92-0cde9969413d*A00BFB4037162FFC09D17CCF3DCAD475D92F523396CE6BB5624F7CCA5015042B",
        "resourceId": "/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourceGroups/anpankie-sim/providers/Microsoft.NetworkCloud/clusters/simulator/metricsConfigurations/default",
        "status": "Succeeded",
        "startTime": "2023-06-22T19:52:17.1249008Z",
        "endTime": "2023-06-22T19:52:24.1825682Z",
        "properties": null
      }
    }
  ],
  "Variables": {
    "CLUSTER_ID": "/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourceGroups/anpankie-sim/providers/Microsoft.NetworkCloud/clusters/simulator",
    "LOCATION": "eastus",
    "RandomSeed": "1294223179",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "a3eeb848-665a-4dbf-80a4-eb460930fb23"
  }
}
