{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/fca2e8ee-1179-48b8-9532-428ed0873a2e/resourcegroups/networkcloud-sdk4866?api-version=**",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "id": "/subscriptions/fca2e8ee-1179-48b8-9532-428ed0873a2e/resourceGroups/networkcloud-sdk4866",
        "name": "networkcloud-sdk4866",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/fca2e8ee-1179-48b8-9532-428ed0873a2e/resourceGroups/m20-cluster/providers/Microsoft.NetworkCloud/clusters/m20-d18ffd0e18c9?api-version=2022-12-12-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00220d00e115-0000-0100-0000-63f8b06f0000\u0022",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "id": "/subscriptions/fca2e8ee-1179-48b8-9532-428ed0873a2e/resourceGroups/m20-cluster/providers/Microsoft.NetworkCloud/clusters/m20-d18ffd0e18c9",
        "name": "m20-d18ffd0e18c9",
        "type": "microsoft.networkcloud/clusters",
        "location": "eastus",
        "extendedLocation": {
          "name": "/subscriptions/fca2e8ee-1179-48b8-9532-428ed0873a2e/resourcegroups/m20-clustermgr-mrg-443djpnv3kwjo/providers/microsoft.extendedlocation/customlocations/m20-443djpnv3kwjo-cl",
          "type": "CustomLocation"
        },
        "tags": {
          "ManagedBy": "nc-labs",
          "LabEnvironment": "m20",
          "ResourceType": "cluster",
          "sshKeyUrl": "https://aka.ms/aods-nc-ssh"
        },
        "systemData": {
          "createdBy": "de975306-d24e-4dec-9d3b-ef05c66f0075",
          "createdByType": "Application",
          "createdAt": "2023-02-24T02:32:36.1420781Z",
          "lastModifiedBy": "319f651f-7ddb-4fc6-9857-7aef9250bd05",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2023-02-24T12:41:19.6409399Z"
        },
        "properties": {
          "provisioningState": "Succeeded",
          "analyticsWorkspaceId": "/subscriptions/fca2e8ee-1179-48b8-9532-428ed0873a2e/resourceGroups/m20-cluster/providers/Microsoft.OperationalInsights/workspaces/m20-law",
          "networkFabricId": "/subscriptions/fca2e8ee-1179-48b8-9532-428ed0873a2e/resourceGroups/m20-lab/providers/Microsoft.Network/virtualNetworks/m20-vnet/subnets/ClusterManagerSubnet",
          "clusterType": "SingleRack",
          "clusterVersion": "0.1.6",
          "aggregatorOrSingleRackDefinition": {
            "networkRackId": "/subscriptions/fca2e8ee-1179-48b8-9532-428ed0873a2e/resourceGroups/m20-lab/providers/Microsoft.Network/virtualNetworks/m20-vnet/subnets/ClusterManagerSubnet",
            "rackSkuId": "/subscriptions/fca2e8ee-1179-48b8-9532-428ed0873a2e/providers/Microsoft.NetworkCloud/rackSkus/VLab_Single_DellR750_8C2M_x70r3_9",
            "rackSerialNumber": "b37m20r1",
            "rackLocation": "b37m20r1",
            "availabilityZone": "1",
            "storageApplianceConfigurationData": [
              {
                "adminCredentials": {
                  "username": "pureuser"
                },
                "rackSlot": 1,
                "serialNumber": "serial",
                "storageApplianceName": "b37m20purestor1"
              }
            ],
            "bareMetalMachineConfigurationData": [
              {
                "bmcConnectionString": "redfish\u002Bhttps://10.4.3.11/redfish/v1/Systems/System.Embedded.1",
                "bmcCredentials": {
                  "username": "root"
                },
                "bmcMacAddress": "B0:7B:25:F8:5B:C1",
                "bootMacAddress": "B0:7B:25:F8:5B:C0",
                "machineName": "m20r750wkr1",
                "rackSlot": 2,
                "serialNumber": "HKS7PK3"
              },
              {
                "bmcConnectionString": "redfish\u002Bhttps://10.4.3.12/redfish/v1/Systems/System.Embedded.1",
                "bmcCredentials": {
                  "username": "root"
                },
                "bmcMacAddress": "B0:7B:25:F8:58:D1",
                "bootMacAddress": "B0:7B:25:F8:58:D0",
                "machineName": "m20r750wkr2",
                "rack[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/fca2e8ee-1179-48b8-9532-428ed0873a2e/resourceGroups/m20-cluster/providers/Microsoft.NetworkCloud/clusters/m20-d18ffd0e18c9/metricsConfigurations/default?api-version=2022-12-12-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "extendedLocation": {
          "name": "/subscriptions/fca2e8ee-1179-48b8-9532-428ed0873a2e/resourcegroups/m20-d18ffd0e18c9-hostedresources-62ae0150/providers/microsoft.extendedlocation/customlocations/m20-d18ffd0e18c9-cstm-loc",
          "type": "CustomLocation"
        },
        "tags": {
          "key1": "myvalue1"
        },
        "location": "eastus",
        "properties": {
          "collectionInterval": 15
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/fca2e8ee-1179-48b8-9532-428ed0873a2e/providers/Microsoft.NetworkCloud/locations/EASTUS/operationStatuses/0dbc2f93-0025-4619-952f-f34ea4008edb*531BD3C3F32E80B4110CF022ADB56CD07B69B80AEA092A7A1DF7E9C8765C3E3A?api-version=2022-12-12-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00220700096e-0000-0100-0000-63f8edf10000\u0022",
        "mise-correlation-id": "ebf39f73-1b28-45f2-9e6e-eb2acd0f10e4",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-writes": "1198"
      },
      "ResponseBody": {
        "id": "/subscriptions/fca2e8ee-1179-48b8-9532-428ed0873a2e/resourceGroups/m20-cluster/providers/Microsoft.NetworkCloud/clusters/m20-d18ffd0e18c9/metricsConfigurations/default",
        "name": "default",
        "type": "microsoft.networkcloud/clusters/metricsconfigurations",
        "location": "eastus",
        "extendedLocation": {
          "name": "/subscriptions/fca2e8ee-1179-48b8-9532-428ed0873a2e/resourcegroups/m20-d18ffd0e18c9-hostedresources-62ae0150/providers/microsoft.extendedlocation/customlocations/m20-d18ffd0e18c9-cstm-loc",
          "type": "CustomLocation"
        },
        "tags": {
          "key1": "myvalue1"
        },
        "systemData": {
          "createdBy": "v-dymurphy@microsoft.com",
          "createdByType": "User",
          "createdAt": "2023-02-24T17:03:44.975223Z",
          "lastModifiedBy": "v-dymurphy@microsoft.com",
          "lastModifiedByType": "User",
          "lastModifiedAt": "2023-02-24T17:03:44.975223Z"
        },
        "properties": {
          "provisioningState": "Accepted",
          "collectionInterval": 15
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/fca2e8ee-1179-48b8-9532-428ed0873a2e/providers/Microsoft.NetworkCloud/locations/EASTUS/operationStatuses/0dbc2f93-0025-4619-952f-f34ea4008edb*531BD3C3F32E80B4110CF022ADB56CD07B69B80AEA092A7A1DF7E9C8765C3E3A?api-version=2022-12-12-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00222800dc10-0000-0100-0000-63f8edf10000\u0022",
        "x-ms-ratelimit-remaining-subscription-reads": "11998"
      },
      "ResponseBody": {
        "id": "/subscriptions/fca2e8ee-1179-48b8-9532-428ed0873a2e/providers/Microsoft.NetworkCloud/locations/EASTUS/operationStatuses/0dbc2f93-0025-4619-952f-f34ea4008edb*531BD3C3F32E80B4110CF022ADB56CD07B69B80AEA092A7A1DF7E9C8765C3E3A",
        "name": "0dbc2f93-0025-4619-952f-f34ea4008edb*531BD3C3F32E80B4110CF022ADB56CD07B69B80AEA092A7A1DF7E9C8765C3E3A",
        "resourceId": "/subscriptions/fca2e8ee-1179-48b8-9532-428ed0873a2e/resourceGroups/m20-cluster/providers/Microsoft.NetworkCloud/clusters/m20-d18ffd0e18c9/metricsConfigurations/default",
        "status": "Accepted",
        "startTime": "2023-02-24T17:03:45.0667171Z"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/fca2e8ee-1179-48b8-9532-428ed0873a2e/providers/Microsoft.NetworkCloud/locations/EASTUS/operationStatuses/0dbc2f93-0025-4619-952f-f34ea4008edb*531BD3C3F32E80B4110CF022ADB56CD07B69B80AEA092A7A1DF7E9C8765C3E3A?api-version=2022-12-12-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00222800de10-0000-0100-0000-63f8edf70000\u0022",
        "x-ms-ratelimit-remaining-subscription-reads": "11993"
      },
      "ResponseBody": {
        "id": "/subscriptions/fca2e8ee-1179-48b8-9532-428ed0873a2e/providers/Microsoft.NetworkCloud/locations/EASTUS/operationStatuses/0dbc2f93-0025-4619-952f-f34ea4008edb*531BD3C3F32E80B4110CF022ADB56CD07B69B80AEA092A7A1DF7E9C8765C3E3A",
        "name": "0dbc2f93-0025-4619-952f-f34ea4008edb*531BD3C3F32E80B4110CF022ADB56CD07B69B80AEA092A7A1DF7E9C8765C3E3A",
        "resourceId": "/subscriptions/fca2e8ee-1179-48b8-9532-428ed0873a2e/resourceGroups/m20-cluster/providers/Microsoft.NetworkCloud/clusters/m20-d18ffd0e18c9/metricsConfigurations/default",
        "status": "Succeeded",
        "startTime": "2023-02-24T17:03:45.0667171Z",
        "endTime": "2023-02-24T17:03:51.9594928Z",
        "error": {},
        "properties": null
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/fca2e8ee-1179-48b8-9532-428ed0873a2e/resourceGroups/m20-cluster/providers/Microsoft.NetworkCloud/clusters/m20-d18ffd0e18c9/metricsConfigurations/default?api-version=2022-12-12-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {
          "key1": "myvalue1",
          "key2": "myvalue2"
        },
        "properties": {}
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/fca2e8ee-1179-48b8-9532-428ed0873a2e/providers/Microsoft.NetworkCloud/locations/EASTUS/operationStatuses/700cd665-82c9-4d2e-b8ab-9846038c7c88*531BD3C3F32E80B4110CF022ADB56CD07B69B80AEA092A7A1DF7E9C8765C3E3A?api-version=2022-12-12-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002207000c6e-0000-0100-0000-63f8edfc0000\u0022",
        "Location": "https://management.azure.com/subscriptions/fca2e8ee-1179-48b8-9532-428ed0873a2e/providers/Microsoft.NetworkCloud/locations/EASTUS/operationStatuses/700cd665-82c9-4d2e-b8ab-9846038c7c88*531BD3C3F32E80B4110CF022ADB56CD07B69B80AEA092A7A1DF7E9C8765C3E3A?api-version=2022-12-12-preview",
        "mise-correlation-id": "2fffbb14-a3d4-4950-a415-b9dc48776bb8",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-writes": "1197"
      },
      "ResponseBody": "null"
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/fca2e8ee-1179-48b8-9532-428ed0873a2e/resourceGroups/m20-cluster/providers/Microsoft.NetworkCloud/clusters/m20-d18ffd0e18c9/metricsConfigurations?api-version=2022-12-12-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-original-request-ids": [
          "28142442-32fc-4f29-8f80-143d6849652f",
          "5edfae07-6c12-4dbf-9067-10ccdfc32339",
          "0ddbbaab-57ce-450c-8c67-f7d50ef499ed"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": "11981"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/fca2e8ee-1179-48b8-9532-428ed0873a2e/resourceGroups/m20-cluster/providers/Microsoft.NetworkCloud/clusters/m20-d18ffd0e18c9/metricsConfigurations/default",
            "name": "default",
            "type": "microsoft.networkcloud/clusters/metricsconfigurations",
            "location": "eastus",
            "extendedLocation": {
              "name": "/subscriptions/fca2e8ee-1179-48b8-9532-428ed0873a2e/resourcegroups/m20-d18ffd0e18c9-hostedresources-62ae0150/providers/microsoft.extendedlocation/customlocations/m20-d18ffd0e18c9-cstm-loc",
              "type": "CustomLocation"
            },
            "tags": {
              "key1": "myvalue1",
              "key2": "myvalue2"
            },
            "systemData": {
              "createdBy": "v-dymurphy@microsoft.com",
              "createdByType": "User",
              "createdAt": "2023-02-24T17:03:44.975223Z",
              "lastModifiedBy": "319f651f-7ddb-4fc6-9857-7aef9250bd05",
              "lastModifiedByType": "Application",
              "lastModifiedAt": "2023-02-24T17:04:17.7428038Z"
            },
            "properties": {
              "collectionInterval": 15,
              "enabledMetrics": [],
              "disabledMetrics": [
                "apiserver_client_certificate_expiration_seconds_bucket",
                "container_file_descriptors",
                "container_fs_io_current",
                "container_fs_io_time_weighted_seconds_total",
                "container_fs_read_seconds_total",
                "container_fs_reads_bytes_total",
                "container_fs_reads_total",
                "container_fs_sector_reads_total",
                "container_fs_sector_writes_total",
                "contai[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/fca2e8ee-1179-48b8-9532-428ed0873a2e/providers/Microsoft.NetworkCloud/locations/EASTUS/operationStatuses/593be49c-53be-4d18-8582-95cc06b9629c*531BD3C3F32E80B4110CF022ADB56CD07B69B80AEA092A7A1DF7E9C8765C3E3A?api-version=2022-12-12-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00222800ea10-0000-0100-0000-63f8ee300000\u0022",
        "x-ms-ratelimit-remaining-subscription-reads": "11974"
      },
      "ResponseBody": {
        "id": "/subscriptions/fca2e8ee-1179-48b8-9532-428ed0873a2e/providers/Microsoft.NetworkCloud/locations/EASTUS/operationStatuses/593be49c-53be-4d18-8582-95cc06b9629c*531BD3C3F32E80B4110CF022ADB56CD07B69B80AEA092A7A1DF7E9C8765C3E3A",
        "name": "593be49c-53be-4d18-8582-95cc06b9629c*531BD3C3F32E80B4110CF022ADB56CD07B69B80AEA092A7A1DF7E9C8765C3E3A",
        "resourceId": "/subscriptions/fca2e8ee-1179-48b8-9532-428ed0873a2e/resourceGroups/m20-cluster/providers/Microsoft.NetworkCloud/clusters/m20-d18ffd0e18c9/metricsConfigurations/default",
        "status": "Succeeded",
        "startTime": "2023-02-24T17:04:31.2815944Z",
        "endTime": "2023-02-24T17:04:48.0693546Z",
        "properties": null
      }
    }
  ],
  "Variables": {
    "CLUSTER_EXTENDED_LOCATION": "/subscriptions/fca2e8ee-1179-48b8-9532-428ed0873a2e/resourcegroups/m20-d18ffd0e18c9-hostedresources-62ae0150/providers/microsoft.extendedlocation/customlocations/m20-d18ffd0e18c9-cstm-loc",
    "CLUSTER_ID": "/subscriptions/fca2e8ee-1179-48b8-9532-428ed0873a2e/resourceGroups/m20-cluster/providers/Microsoft.NetworkCloud/clusters/m20-d18ffd0e18c9",
    "LOCATION": "eastus",
    "RandomSeed": "1471590698",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "fca2e8ee-1179-48b8-9532-428ed0873a2e"
  }
}
