{
  "Entries": [
    {
      "RequestUri": "/subscriptions/41e010d8-8a1c-4c4b-9fca-d31fb6e90655/resourcegroups/res958?api-version=2017-05-10",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"centralus\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/41e010d8-8a1c-4c4b-9fca-d31fb6e90655/resourceGroups/res958\",\r\n  \"name\": \"res958\",\r\n  \"location\": \"centralus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/41e010d8-8a1c-4c4b-9fca-d31fb6e90655/resourceGroups/res958/providers/Microsoft.BotService/botServices?api-version=2017-12-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-client-principal-name": [
          "test@microsoft.com"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": []\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/41e010d8-8a1c-4c4b-9fca-d31fb6e90655/resourceGroups/res958/providers/Microsoft.BotService/botServices/botservice2699?api-version=2017-12-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"msaAppPassword\": \"7d01b610-8a19-44d0-9db8-baffebcfb05a\",\r\n    \"displayName\": \"Default bot display name\",\r\n    \"description\": \"Default bot description\",\r\n    \"endpoint\": \"https://mybot.coffee\",\r\n    \"msaAppId\": \"5b269e08-f297-4eba-983c-5af3ff1ddd58\"\r\n  },\r\n  \"location\": \"global\",\r\n  \"tags\": {\r\n    \"key1\": \"value1\",\r\n    \"key2\": \"value2\"\r\n  },\r\n  \"sku\": {\r\n    \"name\": \"F0\"\r\n  },\r\n  \"kind\": \"sdk\"\r\n}",
      "RequestHeaders": {
        "x-ms-client-principal-name": [
          "test@microsoft.com"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "ETag": [
          "\"0903de96-0000-0800-0000-5ce37ce50000\""
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1198"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/41e010d8-8a1c-4c4b-9fca-d31fb6e90655/resourceGroups/res958/providers/Microsoft.BotService/botServices/botservice2699\",\r\n  \"name\": \"botservice2699\",\r\n  \"type\": \"Microsoft.BotService/botServices\",\r\n  \"etag\": \"\\\"0903de96-0000-0800-0000-5ce37ce50000\\\"\",\r\n  \"location\": \"global\",\r\n  \"sku\": {\r\n    \"name\": \"F0\"\r\n  },\r\n  \"kind\": \"sdk\",\r\n  \"tags\": {\r\n    \"key1\": \"value1\",\r\n    \"key2\": \"value2\"\r\n  },\r\n  \"properties\": {\r\n    \"displayName\": \"Default bot display name\",\r\n    \"description\": \"Default bot description\",\r\n    \"iconUrl\": \"https://docs.scratch.botframework.com/static/devportal/client/images/bot-framework-default.png\",\r\n    \"endpoint\": \"https://mybot.coffee\",\r\n    \"msaAppId\": \"5b269e08-f297-4eba-983c-5af3ff1ddd58\",\r\n    \"developerAppInsightKey\": null,\r\n    \"developerAppInsightsApplicationId\": null,\r\n    \"luisAppIds\": [],\r\n    \"endpointVersion\": \"3.0\",\r\n    \"configuredChannels\": [\r\n      \"webchat\"\r\n    ],\r\n    \"enabledChannels\": [\r\n      \"webchat\",\r\n      \"directline\"\r\n    ],\r\n    \"isDeveloperAppInsightsApiKeySet\": false,\r\n    \"isStreamingSupported\": false,\r\n    \"publishingCredentials\": null,\r\n    \"parameters\": null,\r\n    \"allSettings\": null,\r\n    \"manifestUrl\": null,\r\n    \"storageResourceId\": null,\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/41e010d8-8a1c-4c4b-9fca-d31fb6e90655/resourceGroups/res958/providers/Microsoft.BotService/botServices/botservice2699/channels/EmailChannel?api-version=2017-12-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"channelName\": \"EmailChannel\",\r\n    \"properties\": {\r\n      \"emailAddress\": \"carlostestsdk2@outlook.com\",\r\n      \"password\": \"Carlos.Test1\",\r\n      \"isEnabled\": true\r\n    }\r\n  },\r\n  \"location\": \"global\"\r\n}",
      "RequestHeaders": {
        "x-ms-client-principal-name": [
          "test@microsoft.com"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "ETag": [
          "W/\"70e13968e754d68c59e359acc327a2595/21/2019 4:22:20 AM\""
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1197"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/41e010d8-8a1c-4c4b-9fca-d31fb6e90655/resourceGroups/res958/providers/Microsoft.BotService/botServices/botservice2699/channels/EmailChannel\",\r\n  \"name\": \"botservice2699/EmailChannel\",\r\n  \"type\": \"Microsoft.BotService/botServices/channels\",\r\n  \"etag\": \"W/\\\"70e13968e754d68c59e359acc327a2595/21/2019 4:22:20 AM\\\"\",\r\n  \"location\": \"global\",\r\n  \"properties\": {\r\n    \"properties\": {\r\n      \"emailAddress\": \"carlostestsdk2@outlook.com\",\r\n      \"password\": \"Carlos.Test1\",\r\n      \"isEnabled\": true\r\n    },\r\n    \"etag\": \"W/\\\"70e13968e754d68c59e359acc327a2595/21/2019 4:22:20 AM\\\"\",\r\n    \"channelName\": \"EmailChannel\",\r\n    \"location\": \"global\",\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 201
    }
  ],
  "Names": {
    "CreateResourceGroup": [
      "res958"
    ],
    "CreateAndValidateBot": [
      "botservice2699"
    ]
  },
  "Variables": {
    "SubscriptionId": "41e010d8-8a1c-4c4b-9fca-d31fb6e90655"
  }
}