{
  "Entries": [
    {
      "RequestUri": "/subscriptions/35fa7461-d48a-4053-9aa2-56c014495e89/resourcegroups/res9883?api-version=2017-05-10",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"centralus\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/35fa7461-d48a-4053-9aa2-56c014495e89/resourceGroups/res9883\",\r\n  \"name\": \"res9883\",\r\n  \"location\": \"centralus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ]
      },
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/35fa7461-d48a-4053-9aa2-56c014495e89/resourceGroups/res9883/providers/Microsoft.BotService/botServices?api-version=2017-12-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-client-principal-name": [
          "test@microsoft.com"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [],\r\n  \"nextLink\": \"https://management.azure.com/subscriptions/35fa7461-d48a-4053-9aa2-56c014495e89/resourceGroups/res9883/providers/Microsoft.BotService/botServices?api-version=2017-12-01&%24skipToken=eyJuZXh0TWFya2VyIjoiMCJ9\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14996"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/35fa7461-d48a-4053-9aa2-56c014495e89/resourceGroups/res9883/providers/Microsoft.BotService/botServices?api-version=2017-12-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-client-principal-name": [
          "test@microsoft.com"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/35fa7461-d48a-4053-9aa2-56c014495e89/resourceGroups/res9883/providers/Microsoft.BotService/botServices/botservice3241\",\r\n      \"name\": \"botservice3241\",\r\n      \"type\": \"Microsoft.BotService/botServices\",\r\n      \"sku\": {\r\n        \"name\": \"F0\"\r\n      },\r\n      \"kind\": \"bot\",\r\n      \"properties\": {\r\n        \"displayName\": \"botservice3241\",\r\n        \"description\": \"\",\r\n        \"iconUrl\": \"//intercom-scratch.azureedge.net/bot-icons-v1/bot-framework-default.png\",\r\n        \"endpoint\": null,\r\n        \"msaAppId\": \"18ec024d-52fd-494b-ba25-67225b90bf39\",\r\n        \"developerAppInsightKey\": null,\r\n        \"developerAppInsightsApplicationId\": null,\r\n        \"luisAppIds\": [],\r\n        \"endpointVersion\": null,\r\n        \"configuredChannels\": [],\r\n        \"enabledChannels\": [\r\n          \"webchat\",\r\n          \"directline\"\r\n        ],\r\n        \"isDeveloperAppInsightsApiKeySet\": null,\r\n        \"provisioningState\": \"Succeeded\"\r\n      }\r\n    },\r\n    {\r\n      \"id\": \"/subscriptions/35fa7461-d48a-4053-9aa2-56c014495e89/resourceGroups/res9883/providers/Microsoft.BotService/botServices/botservice7034\",\r\n      \"name\": \"botservice7034\",\r\n      \"type\": \"Microsoft.BotService/botServices\",\r\n      \"sku\": {\r\n        \"name\": \"F0\"\r\n      },\r\n      \"kind\": \"bot\",\r\n      \"properties\": {\r\n        \"displayName\": \"botservice7034\",\r[...]
    {
      "RequestUri": "/subscriptions/35fa7461-d48a-4053-9aa2-56c014495e89/resourceGroups/res9883/providers/Microsoft.BotService/botServices/botservice7034?api-version=2017-12-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-client-principal-name": [
          "test@microsoft.com"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/35fa7461-d48a-4053-9aa2-56c014495e89/resourceGroups/res9883/providers/Microsoft.BotService/botServices/botservice7034\",\r\n  \"name\": \"botservice7034\",\r\n  \"type\": \"Microsoft.BotService/botServices\",\r\n  \"etag\": \"W/\\\"datetime'2018-04-02T23%3A06%3A16.8602669Z'\\\"\",\r\n  \"location\": \"global\",\r\n  \"sku\": {\r\n    \"name\": \"F0\"\r\n  },\r\n  \"kind\": \"bot\",\r\n  \"properties\": {\r\n    \"displayName\": \"botservice7034\",\r\n    \"description\": \"\",\r\n    \"iconUrl\": \"//intercom-scratch.azureedge.net/bot-icons-v1/bot-framework-default.png\",\r\n    \"endpoint\": \"\",\r\n    \"msaAppId\": \"5f94c118-0fbc-466b-b379-c6c115cf9b7a\",\r\n    \"developerAppInsightKey\": \"1eee4781-5d99-4171-8f68-240669f1bbd1\",\r\n    \"developerAppInsightsApplicationId\": \"botservice7034a6b26b\",\r\n    \"luisAppIds\": [],\r\n    \"endpointVersion\": \"3.0\",\r\n    \"configuredChannels\": [\r\n      \"webchat\"\r\n    ],\r\n    \"enabledChannels\": [\r\n      \"webchat\",\r\n      \"directline\"\r\n    ],\r\n    \"isDeveloperAppInsightsApiKeySet\": false,\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "ETag": [
          "W/\"datetime'2018-04-02T23%3A06%3A16.8602669Z'\""
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14986"
        ]
      },
      "StatusCode": 200
    },
[...]
