{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11965"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "tagKey1": "tagValue1",
          "tagKey2": "tagValue2"
        },
        "subscriptionId": "db1ab6f0-4769-4b27-930e-01e2ef9c123c",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": ".NET Mgmt SDK Test with TTL = 1 Day",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourcegroups/testRg-1-3197?api-version=**",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus2"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1197"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRg-1-3197",
        "name": "testRg-1-3197",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus2",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRg-1-3197/providers/Microsoft.Resources/deployments/deployEx-C-8561?api-version=2021-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "template": {
            "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
            "contentVersion": "1.0.0.0",
            "metadata": {
              "_generator": {
                "name": "bicep",
                "version": "0.4.1008.15138",
                "templateHash": "104821603399126558"
              }
            },
            "parameters": {
              "storageAccountType": {
                "type": "string",
                "defaultValue": "Standard_LRS",
                "allowedValues": [
                  "Premium_LRS",
                  "Premium_ZRS",
                  "Standard_GRS",
                  "Standard_GZRS",
                  "Standard_LRS",
                  "Standard_RAGRS",
                  "Standard_RAGZRS",
                  "Standard_ZRS"
                ],
                "metadata": {
                  "description": "Storage Account type"
                }
              },
              "location": {
                "type": "string",
                "defaultValue": "[resourceGroup().location]",
                "metadata": {
                  "description": "Location for all resources."
                }
              },
              "storageAccountName": {
                "type": "string",
                "defaultValue": "[format(\u0027store{0}\u0027, uniqueString(resourceGroup().id))]",
                "metadata": {
                  "description": "The name of the Storage Account"
                }
              }
            },
            "functions": [],
            "resources": [
              {
                "type": "Microsoft.Storage/storageAccounts",
                "apiVersion": "2021-04-01",
                "name": "[parameters(\u0027storageAccountName\u0027)]",
                "location": "[parameters(\u0027location\u0027)]",
                "sku": {
                  "name": "[parameters(\u0027storageAccountType\u0027)]"
                },
                "kind": "StorageV2",
                "properties": {}
              }
            ],
            "outputs": {
              "storageAccountName": {
                "type": "string",
                "value": "[parameters(\u0027storageAccountName\u0027)]"
              },
              "storageAccountId": {
                "type": "string",
                "value": "[resourceId(\u0027Microsoft.Storage/storageAccounts\u0027, parameters(\u0027storageAccountName\u0027))]"
              }
            }
          },
          "parameters": {
            "storageAccountType": {
              "value": "Standard_GRS"
            }
          },
          "mode": "Incremental"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourcegroups/testRg-1-3197/providers/Microsoft.Resources/deployments/deployEx-C-8561/operationStatuses/08585637972903534124?api-version=2021-04-01",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1196"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRg-1-3197/providers/Microsoft.Resources/deployments/deployEx-C-8561",
        "name": "deployEx-C-8561",
        "type": "Microsoft.Resources/deployments",
        "properties": {
          "templateHash": "104821603399126558",
          "parameters": {
            "storageAccountType": {
              "type": "String",
              "value": "Standard_GRS"
            },
            "location": {
              "type": "String",
              "value": "westus2"
            },
            "storageAccountName": {
              "type": "String",
              "value": "storemq26pn44c7t3q"
            }
          },
          "mode": "Incremental",
          "provisioningState": "Accepted",
          "timestamp": "2021-11-25T03:06:35.7760201Z",
          "duration": "PT0.6517779S",
          "correlationId": "0b68b231-ab20-4cc2-9674-dffe0d535368",
          "providers": [
            {
              "namespace": "Microsoft.Storage",
              "resourceTypes": [
                {
                  "resourceType": "storageAccounts",
                  "locations": [
                    "westus2"
                  ]
                }
              ]
            }
          ],
          "dependencies": []
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourcegroups/testRg-1-3197/providers/Microsoft.Resources/deployments/deployEx-C-8561/operationStatuses/08585637972903534124?api-version=2021-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11964"
      },
      "ResponseBody": {
        "status": "Running"
      }
    },
[...]
