{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/051ddeca-1ed6-4d8b-ba6f-1ff561e5f3b3?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11829"
      },
      "ResponseBody": {
        "id": "/subscriptions/051ddeca-1ed6-4d8b-ba6f-1ff561e5f3b3",
        "authorizationSource": "RoleBased",
        "managedByTenants": [
          {
            "tenantId": "2f4a9838-26b7-47ee-be60-ccc1fdec5953"
          }
        ],
        "tags": {
          "sub_tagname_1": "sub_tagvalue_1"
        },
        "subscriptionId": "051ddeca-1ed6-4d8b-ba6f-1ff561e5f3b3",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": "Synapse Web Tooling",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/051ddeca-1ed6-4d8b-ba6f-1ff561e5f3b3/resourcegroups/synapsesdkrp7947?api-version=**",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus2"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1176"
      },
      "ResponseBody": {
        "id": "/subscriptions/051ddeca-1ed6-4d8b-ba6f-1ff561e5f3b3/resourceGroups/synapsesdkrp7947",
        "name": "synapsesdkrp7947",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus2",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/051ddeca-1ed6-4d8b-ba6f-1ff561e5f3b3/resourceGroups/synapsesdkrp7947/providers/Microsoft.Storage/storageAccounts/synapsesdkstorage6920?api-version=2022-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "sku": {
          "name": "Standard_GRS"
        },
        "kind": "StorageV2",
        "location": "eastus2",
        "properties": {}
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "text/plain; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/051ddeca-1ed6-4d8b-ba6f-1ff561e5f3b3/providers/Microsoft.Storage/locations/eastus2/asyncoperations/0957aeca-b041-4bf9-9475-3122070eb4f4?monitor=true\u0026api-version=2022-09-01",
        "Retry-After": "17",
        "x-ms-ratelimit-remaining-subscription-writes": "1175"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/051ddeca-1ed6-4d8b-ba6f-1ff561e5f3b3/providers/Microsoft.Storage/locations/eastus2/asyncoperations/0957aeca-b041-4bf9-9475-3122070eb4f4?monitor=true\u0026api-version=2022-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "text/plain; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/051ddeca-1ed6-4d8b-ba6f-1ff561e5f3b3/providers/Microsoft.Storage/locations/eastus2/asyncoperations/0957aeca-b041-4bf9-9475-3122070eb4f4?monitor=true\u0026api-version=2022-09-01",
        "Retry-After": "17",
        "x-ms-ratelimit-remaining-subscription-reads": "11828"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/051ddeca-1ed6-4d8b-ba6f-1ff561e5f3b3/providers/Microsoft.Storage/locations/eastus2/asyncoperations/0957aeca-b041-4bf9-9475-3122070eb4f4?monitor=true\u0026api-version=2022-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ratelimit-remaining-subscription-reads": "11827"
      },
      "ResponseBody": {
        "sku": {
          "name": "Standard_GRS",
          "tier": "Standard"
        },
        "kind": "StorageV2",
        "id": "/subscriptions/051ddeca-1ed6-4d8b-ba6f-1ff561e5f3b3/resourceGroups/synapsesdkrp7947/providers/Microsoft.Storage/storageAccounts/synapsesdkstorage6920",
        "name": "synapsesdkstorage6920",
        "type": "Microsoft.Storage/storageAccounts",
        "location": "eastus2",
        "tags": {},
        "properties": {
          "keyCreationTime": {
            "key1": "2023-02-17T08:48:34.6799875Z",
            "key2": "2023-02-17T08:48:34.6799875Z"
          },
          "privateEndpointConnections": [],
          "minimumTlsVersion": "TLS1_0",
          "allowBlobPublicAccess": true,
          "networkAcls": {
            "bypass": "AzureServices",
            "virtualNetworkRules": [],
            "ipRules": [],
            "defaultAction": "Allow"
          },
          "supportsHttpsTrafficOnly": true,
          "encryption": {
            "services": {
              "file": {
                "keyType": "Account",
                "enabled": true,
                "lastEnabledTime": "2023-02-17T08:48:35.0081665Z"
              },
              "blob": {
                "keyType": "Account",
                "enabled": true,
                "lastEnabledTime": "2023-02-17T08:48:35.0081665Z"
              }
            },
            "keySource": "Microsoft.Storage"
          },
          "accessTier": "Hot",
          "provisioningState": "Succeeded",
          "creationTime": "2023-02-17T08:48:34.5393637Z",
          "primaryEndpoints": {
            "dfs": "https://synapsesdkstorage6920.dfs.core.windows.net/",
            "web": "https://synapsesdkstorage6920.z20.web.core.windows.net/",
            "blob": "https://synapsesdkstorage6920.blob.core.windows.net/",
            "queue": "https://synapsesdkstorage6920.queue.core.windows.net/",
            "table": "https://synapsesdkstorage6920.table.core.windows.net/",
            "file": "https://synapsesdkstorage6920.file.core.windows.net/"
          },
          "primaryLocation": "eastus2",
          "statusOfPrimary": "available",
          "secondaryLocation": "centralus",
          "statusOfSecondary": "available"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/051ddeca-1ed6-4d8b-ba6f-1ff561e5f3b3/resourceGroups/synapsesdkrp7947/providers/Microsoft.Storage/storageAccounts/synapsesdkstorage6920/listKeys?api-version=2022-09-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "11995"
      },
      "ResponseBody": {
        "keys": [
          {
            "creationTime": "2023-02-17T08:48:34.6799875Z",
            "keyName": "key1",
            "value": "sYsdn9D9F5wxss5HA9xmP1ZycvflhDwHfOtzo\u002B\u002Be5vnHxLvEduUHMZ7xGVpa22FG7tq8yU5/6X7P\u002BAStmAxuIQ==",
            "permissions": "FULL"
          },
          {
            "creationTime": "2023-02-17T08:48:34.6799875Z",
            "keyName": "key2",
            "value": "gh15ohgF5T6Mdg2pcDiTSfJ1I\u002BmI7JsE6ccu9i3\u002Bp/3X6XJqtdT8ZI04iZm84cqc7oZgM1XIRUzQ\u002BAStrNWXGA==",
            "permissions": "FULL"
          }
        ]
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/051ddeca-1ed6-4d8b-ba6f-1ff561e5f3b3/resourceGroups/synapsesdkrp7947/providers/Microsoft.Synapse/workspaces/synapsesdkworkspace716?api-version=2021-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "identity": {
          "type": "SystemAssigned"
        },
        "tags": {},
        "location": "eastus2",
        "properties": {
          "defaultDataLakeStorage": {
            "accountUrl": "https://synapsesdkstorage6920.dfs.core.windows.net/",
            "filesystem": "synapsesdkfilesys197"
          },
          "sqlAdministratorLoginPassword": "Password1!2289",
          "sqlAdministratorLogin": "sshuser2657"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/051ddeca-1ed6-4d8b-ba6f-1ff561e5f3b3/resourceGroups/synapsesdkrp7947/providers/Microsoft.Synapse/workspaces/synapsesdkworkspace716/operationStatuses/ded38eac-80f9-41e7-b808-7bf32ffa6cdd?api-version=2021-06-01",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1174"
      },
      "ResponseBody": {
        "properties": {
          "defaultDataLakeStorage": {
            "createManagedPrivateEndpoint": false,
            "accountUrl": "https://synapsesdkstorage6920.dfs.core.windows.net/",
            "filesystem": "synapsesdkfilesys197"
          },
          "encryption": {
            "doubleEncryptionEnabled": false
          },
          "provisioningState": "Provisioning",
          "connectivityEndpoints": {
            "web": "https://web.azuresynapse.net?workspace=%2fsubscriptions%2f051ddeca-1ed6-4d8b-ba6f-1ff561e5f3b3%2fresourceGroups%2fsynapsesdkrp7947%2fproviders%2fMicrosoft.Synapse%2fworkspaces%2fsynapsesdkworkspace716",
            "dev": "https://synapsesdkworkspace716.dev.azuresynapse.net",
            "sqlOnDemand": "synapsesdkworkspace716-ondemand.sql.azuresynapse.net",
            "sql": "synapsesdkworkspace716.sql.azuresynapse.net"
          },
          "managedResourceGroupName": "synapseworkspace-managedrg-3f5148f1-431c-4c3d-b0ba-1c22b26d934a",
          "privateEndpointConnections": [],
          "workspaceUID": "c01cffa2-fbc3-42f0-badd-e45f054debd6",
          "extraProperties": {
            "WorkspaceType": "Normal"
          },
          "publicNetworkAccess": "Enabled",
          "cspWorkspaceAdminProperties": {
            "initialWorkspaceAdminObjectId": "5adcf4d8-4923-420e-ab0b-f6e5fc718b42"
          },
          "trustedServiceBypassEnabled": false
        },
        "type": "Microsoft.Synapse/workspaces",
        "id": "/subscriptions/051ddeca-1ed6-4d8b-ba6f-1ff561e5f3b3/resourceGroups/synapsesdkrp7947/providers/Microsoft.Synapse/workspaces/synapsesdkworkspace716",
        "location": "eastus2",
        "name": "synapsesdkworkspace716",
        "identity": {
          "type": "SystemAssigned",
          "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
          "principalId": "f1043d07-715a-42c0-b978-0d094610cedb"
        },
        "tags": {}
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/051ddeca-1ed6-4d8b-ba6f-1ff561e5f3b3/resourceGroups/synapsesdkrp7947/providers/Microsoft.Synapse/workspaces/synapsesdkworkspace716/operationStatuses/ded38eac-80f9-41e7-b808-7bf32ffa6cdd?api-version=2021-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11826"
      },
      "ResponseBody": {
        "status": "InProgress"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/051ddeca-1ed6-4d8b-ba6f-1ff561e5f3b3/resourceGroups/synapsesdkrp7947/providers/Microsoft.Synapse/workspaces/synapsesdkworkspace716/kustoPools/kustopool8935?api-version=2021-06-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "sku": {
          "name": "Storage optimized",
          "size": "Medium"
        },
        "tags": {},
        "location": "eastus2",
        "properties": {
          "workspaceUID": "c01cffa2-fbc3-42f0-badd-e45f054debd6"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/051ddeca-1ed6-4d8b-ba6f-1ff561e5f3b3/providers/Microsoft.Synapse/locations/eastus2/kustoPoolOperationResults/3fb1bd7f-8330-43a7-a18b-02e4a0a721ed?api-version=2021-06-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022\u0022",
        "x-ms-ratelimit-remaining-subscription-writes": "1173"
      },
      "ResponseBody": {
        "id": "/subscriptions/051ddeca-1ed6-4d8b-ba6f-1ff561e5f3b3/resourceGroups/synapsesdkrp7947/providers/Microsoft.Synapse/workspaces/synapsesdkworkspace716/kustoPools/kustopool8935",
        "name": "synapsesdkworkspace716/kustopool8935",
        "type": "Microsoft.Synapse/workspaces/kustoPools",
        "etag": "\u0022\u0022",
        "location": "eastus2",
        "sku": {
          "name": "Storage optimized",
          "size": "Medium"
        },
        "tags": {},
        "properties": {
          "state": "Creating",
          "workspaceUID": "c01cffa2-fbc3-42f0-badd-e45f054debd6",
          "provisioningState": "Creating"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/051ddeca-1ed6-4d8b-ba6f-1ff561e5f3b3/providers/Microsoft.Synapse/locations/eastus2/kustoPoolOperationResults/3fb1bd7f-8330-43a7-a18b-02e4a0a721ed?api-version=2021-06-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11813"
      },
      "ResponseBody": {
        "id": "/subscriptions/051ddeca-1ed6-4d8b-ba6f-1ff561e5f3b3/providers/Microsoft.Synapse/locations/eastus2/kustoPoolOperationResults/3fb1bd7f-8330-43a7-a18b-02e4a0a721ed",
        "name": "3fb1bd7f-8330-43a7-a18b-02e4a0a721ed",
        "status": "Running",
        "startTime": "2023-02-17T08:51:52.0837158Z",
        "endTime": "2023-02-17T08:51:52.0837158Z",
        "percentComplete": 0.5,
        "properties": {
          "OperationKind": "ClusterCreateSynapse",
          "RootActivityId": "cfd96567-ffb2-4a73-8b93-b2b16a11639f",
          "provisioningState": "Running",
          "OperationState": "InProgress"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/051ddeca-1ed6-4d8b-ba6f-1ff561e5f3b3/resourceGroups/synapsesdkrp7947/providers/Microsoft.Synapse/workspaces/synapsesdkworkspace716/kustoPools/kustopool8935?api-version=2021-06-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00222023-02-17T09:00:56.5480570Z\u0022",
        "x-ms-ratelimit-remaining-subscription-reads": "11801"
      },
      "ResponseBody": {
        "id": "/subscriptions/051ddeca-1ed6-4d8b-ba6f-1ff561e5f3b3/resourceGroups/synapsesdkrp7947/providers/Microsoft.Synapse/workspaces/synapsesdkworkspace716/kustoPools/kustopool8935",
        "name": "synapsesdkworkspace716/kustopool8935",
        "type": "Microsoft.Synapse/workspaces/kustoPools",
        "etag": "\u00222023-02-17T09:00:56.5480570Z\u0022",
        "location": "East US 2",
        "sku": {
          "name": "Storage optimized",
          "size": "Medium",
          "capacity": 2
        },
        "tags": {},
        "properties": {
          "state": "Running",
          "stateReason": null,
          "uri": "https://kustopool8935.synapsesdkworkspace716.kusto.azuresynapse.net",
          "dataIngestionUri": "https://ingest-kustopool8935.synapsesdkworkspace716.kusto.azuresynapse.net",
          "optimizedAutoscale": null,
          "enableStreamingIngest": false,
          "languageExtensions": {
            "value": []
          },
          "enablePurge": null,
          "workspaceUID": "c01cffa2-fbc3-42f0-badd-e45f054debd6",
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/051ddeca-1ed6-4d8b-ba6f-1ff561e5f3b3/resourceGroups/synapsesdkrp7947/providers/Microsoft.Synapse/workspaces/synapsesdkworkspace716/kustoPools/kustopool8935/databases/kustodatabase7781?api-version=2021-06-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus2",
        "kind": "ReadWrite",
        "properties": {
          "softDeletePeriod": "P4D",
          "hotCachePeriod": "P2D"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/051ddeca-1ed6-4d8b-ba6f-1ff561e5f3b3/providers/Microsoft.Synapse/locations/eastus2/kustoPoolOperationResults/622b84b8-12f1-4d79-b703-7ac41c236cea?api-version=2021-06-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1173"
      },
      "ResponseBody": {
        "id": "/subscriptions/051ddeca-1ed6-4d8b-ba6f-1ff561e5f3b3/resourceGroups/synapsesdkrp7947/providers/Microsoft.Synapse/workspaces/synapsesdkworkspace716/kustoPools/kustopool8935/Databases/kustodatabase7781",
        "name": "synapsesdkworkspace716/kustopool8935/kustodatabase7781",
        "type": "Microsoft.Synapse/workspaces/kustoPools/Databases",
        "location": "eastus2",
        "kind": "ReadWrite",
        "properties": {
          "softDeletePeriod": "P4D",
          "hotCachePeriod": "P2D",
          "provisioningState": "Creating"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/051ddeca-1ed6-4d8b-ba6f-1ff561e5f3b3/resourceGroups/synapsesdkrp7947/providers/Microsoft.Synapse/workspaces/synapsesdkworkspace716/kustoPools/kustopool8935/databases/kustodatabase7781?api-version=2021-06-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11795"
      },
      "ResponseBody": {
        "id": "/subscriptions/051ddeca-1ed6-4d8b-ba6f-1ff561e5f3b3/resourceGroups/synapsesdkrp7947/providers/Microsoft.Synapse/workspaces/synapsesdkworkspace716/kustoPools/kustopool8935/Databases/kustodatabase7781",
        "name": "synapsesdkworkspace716/kustopool8935/kustodatabase7781",
        "type": "Microsoft.Synapse/workspaces/kustoPools/Databases",
        "location": "East US 2",
        "kind": "ReadWrite",
        "properties": {
          "softDeletePeriod": "P4D",
          "hotCachePeriod": "P2D",
          "statistics": {
            "size": 0.0
          },
          "isFollowed": false,
          "provisioningState": "Succeeded"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/051ddeca-1ed6-4d8b-ba6f-1ff561e5f3b3/providers/Microsoft.Synapse/locations/East%20US%202/kustoPoolOperationResults/94cde453-bfe8-45b6-841c-2d17c04a031a?api-version=2021-06-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11793"
      },
      "ResponseBody": {
        "id": "/subscriptions/051ddeca-1ed6-4d8b-ba6f-1ff561e5f3b3/providers/Microsoft.Synapse/locations/East US 2/kustoPoolOperationResults/94cde453-bfe8-45b6-841c-2d17c04a031a",
        "name": "94cde453-bfe8-45b6-841c-2d17c04a031a",
        "status": "Running",
        "startTime": "2023-02-17T09:01:15.6226976Z",
        "endTime": "2023-02-17T09:01:15.6226976Z",
        "percentComplete": 0.5,
        "properties": {
          "OperationKind": "DatabaseCreate",
          "RootActivityId": "241daac7-4dd2-4f26-aae3-a159b990c5a6",
          "provisioningState": "Running",
          "OperationState": "InProgress"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/051ddeca-1ed6-4d8b-ba6f-1ff561e5f3b3/resourceGroups/synapsesdkrp7947/providers/Microsoft.Synapse/workspaces/synapsesdkworkspace716/kustoPools/kustopool8935/databases?api-version=2021-06-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11787"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/051ddeca-1ed6-4d8b-ba6f-1ff561e5f3b3/resourceGroups/synapsesdkrp7947/providers/Microsoft.Synapse/workspaces/synapsesdkworkspace716/kustoPools/kustopool8935/Databases/kustodatabase7781",
            "name": "synapsesdkworkspace716/kustopool8935/kustodatabase7781",
            "type": "Microsoft.Synapse/workspaces/kustoPools/Databases",
            "location": "East US 2",
            "kind": "ReadWrite",
            "properties": {
              "softDeletePeriod": "P6D",
              "hotCachePeriod": "P3D",
              "statistics": {
                "size": 0.0
              },
              "isFollowed": false,
              "provisioningState": "Succeeded"
            }
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/051ddeca-1ed6-4d8b-ba6f-1ff561e5f3b3/resourceGroups/synapsesdkrp7947/providers/Microsoft.Synapse/workspaces/synapsesdkworkspace716/kustoPools/kustopool8935/databases?api-version=2021-06-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11780"
      },
      "ResponseBody": {
        "value": []
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com/",
    "RandomSeed": "2117411730",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "051ddeca-1ed6-4d8b-ba6f-1ff561e5f3b3"
  }
}
