{
    "Entries": [
        {
            "RequestUri": "/subscriptions/07c0b09d-9f69-4e6e-8d05-f59f67299cb2/resourcegroups/vmscalesetrg/providers/microsoft.insights/autoscalesettings/setting1?api-version=2015-04-01",
            "RequestMethod": "PATCH",
            "RequestBody": "{\r\n  \"tags\": {\r\n    \"key2\": \"val2\"\r\n  },\r\n  \"properties\": {\r\n    \"profiles\": [\r\n      {\r\n        \"name\": \"Profile1\",\r\n        \"capacity\": {\r\n          \"minimum\": \"1\",\r\n          \"maximum\": \"10\",\r\n          \"default\": \"1\"\r\n        },\r\n        \"rules\": [\r\n          {\r\n            \"metricTrigger\": {\r\n              \"metricName\": \"Percentage CPU\",\r\n              \"metricResourceUri\": \"/subscriptions/07c0b09d-9f69-4e6e-8d05-f59f67299cb2/resourceGroups/vmscalesetrg/providers/Microsoft.Compute/virtualMachineScaleSets/vmscaleset\",\r\n              \"timeGrain\": \"PT1M\",\r\n              \"statistic\": \"Average\",\r\n              \"timeWindow\": \"PT1H\",\r\n              \"timeAggregation\": \"Maximum\",\r\n              \"operator\": \"Equals\",\r\n              \"threshold\": 80.0\r\n            },\r\n            \"scaleAction\": {\r\n              \"direction\": \"Increase\",\r\n              \"type\": \"ChangeCount\",\r\n              \"value\": \"1\",\r\n              \"cooldown\": \"PT20M\"\r\n            }\r\n          }\r\n        ],\r\n        \"fixedDate\": {\r\n          \"timeZone\": \"UTC\",\r\n          \"start\": \"2014-04-15T21:06:11.7882792Z\",\r\n          \"end\": \"2014-04-16T21:06:11.7882792Z\"\r\n        }\r\n      },\r\n      {\r\n        \"name\": \"Profile2\",\r\n        \"capacity\": {\r\n          \"minimum\": \"1\",\r\n          \"maximum\": \"10\",\r\n          \"default\": \"1\"\r\n        },\r\n        \"rules\": [\r\n          {\r\n            \"metricTrigger\": {\r\n              \"metricName\": \"Percentage CPU\",\r\n              \"metricResourceUri\": \"/subscriptions/07c0b09d-9f69-4e6e-8d05-f59f67299cb2/resourceGroups/vmscalesetrg/providers/Microsoft.Compute/virtualMachineScaleSets/vmscaleset\",\r\n              \"timeGrain\": \"PT1M\",\r\n              \"statistic\": \"Average\",\r\n              \"timeWindow\": \"PT1H\",\r\n              \"timeAggregation\": \"Maximum\",\r\n              \"operator\": \"Equals\",\r\n              \"threshold\": 80.0\r\n            },\r\n            \"scaleAction\": {\r\n              \"direction\": \"Increase\",\r\n              \"type\": \"ChangeCount\",\r\n              \"value\": \"1\",\r\n              \"cooldown\": \"PT20M\"\r\n            }\r\n          }\r\n        ],\r\n        \"recurrence\": {\r\n          \"frequency\": \"Week\",\r\n          \"schedule\": {\r\n            \"timeZone\": \"UTC-11\",\r\n            \"days\": [\r\n              \"Monday\"\r\n            ],\r\n            \"hours\": [\r\n              0\r\n            ],\r\n            \"minutes\": [\r\n              10\r\n            ]\r\n          }\r\n        }\r\n      }\r\n    ],\r\n    \"enabled\": false,\r\n    \"name\": \"setting1\",\r\n    \"targetResourceUri\": \"/subscriptions/07c0b09d-9f69-4e6e-8d05-f59f67299cb2/resourceGroups/vmscalesetrg/providers/Microsoft.Compute/virtualMachineScaleSets/vmscaleset\"\r\n  }\r\n}",
            "RequestHeaders": {
                "Content-Type": [
                    "application/json; charset=utf-8"
                ]
            },
            "ResponseBody": "{\r\n  \"code\": \"BadRequest\",\r\n  \"message\": \"The location is invalid.\"\r\n}",
            "ResponseHeaders": {
                "Content-Type": [
                    "application/json; charset=utf-8"
                ],
                "x-ms-ratelimit-remaining-subscription-writes": [
                    "1199"
                ]
            },
            "StatusCode": 400
        }
    ],
    "Names": {},
    "Variables": {
        "SubscriptionId": "07c0b09d-9f69-4e6e-8d05-f59f67299cb2"
    }
}