{
  "Entries": [
    {
      "RequestUri": "https://workspaceywlive.dev.azuresynapse.net/linkedservices/LinkedSercive478119347?api-version=2019-06-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "AzureDataLakeStore",
          "typeProperties": {
            "dataLakeStoreUri": "adl://test.azuredatalakestore.net/"
          }
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://workspaceywlive.dev.azuresynapse.net/operationResults/c6215839-ce89-4583-811e-3020fd619233?api-version=2019-06-01-preview",
        "Retry-After": "10"
      },
      "ResponseBody": {
        "id": "/subscriptions/7f31cba8-b597-4129-b158-8f21a7395bd0/resourceGroups/rg-ywlive/providers/Microsoft.Synapse/workspaces/workspaceywlive/linkedServices/LinkedSercive478119347",
        "recordId": 460278,
        "state": "Creating",
        "created": "2020-09-23T08:56:42.11Z",
        "changed": "2020-09-23T08:56:42.11Z",
        "type": "LinkedService",
        "name": "LinkedSercive478119347",
        "operationId": "c6215839-ce89-4583-811e-3020fd619233",
        "artifactId": "CC224280-A5D0-4438-B27E-CC28D58B8FE4"
      }
    },
    {
      "RequestUri": "https://workspaceywlive.dev.azuresynapse.net/operationResults/c6215839-ce89-4583-811e-3020fd619233?api-version=2019-06-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://workspaceywlive.dev.azuresynapse.net/operationResults/c6215839-ce89-4583-811e-3020fd619233?api-version=2019-06-01-preview",
        "Retry-After": "10"
      },
      "ResponseBody": {
        "status": "InProgress"
      }
    },
[...]
    {
      "RequestUri": "https://workspaceywlive.dev.azuresynapse.net/operationResults/c6215839-ce89-4583-811e-3020fd619233?api-version=2019-06-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "/subscriptions/7f31cba8-b597-4129-b158-8f21a7395bd0/resourceGroups/rg-ywlive/providers/Microsoft.Synapse/workspaces/workspaceywlive/linkedservices/LinkedSercive478119347",
        "name": "LinkedSercive478119347",
        "type": "Microsoft.Synapse/workspaces/linkedservices",
        "properties": {
          "type": "AzureDataLakeStore",
          "typeProperties": {
            "dataLakeStoreUri": "adl://test.azuredatalakestore.net/"
          }
        },
        "etag": "7700775f-0000-0800-0000-5f6b0dcd0000"
      }
    },
[...]
    {
      "RequestUri": "https://workspaceywlive.dev.azuresynapse.net/operationResults/d553abf0-4bdf-4491-8a9a-98eecdb8bb78?api-version=2019-06-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "AZURE_SYNAPSE_WORKSPACE_URL": "https://workspaceywlive.dev.azuresynapse.net",
    "RandomSeed": "1809874018"
  }
}