{
  "Entries": [
    {
      "RequestUri": "https://testsynapseworkspace.dev.azuresynapse.net/linkedservices?api-version=2019-06-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/051ddeca-1ed6-4d8b-ba6f-1ff561e5f3b3/resourceGroups/zzy-test-rg/providers/Microsoft.Synapse/workspaces/testsynapseworkspace/linkedservices/testsynapseworkspace-WorkspaceDefaultStorage",
            "name": "testsynapseworkspace-WorkspaceDefaultStorage",
            "type": "Microsoft.Synapse/workspaces/linkedservices",
            "etag": "4500110d-0000-0100-0000-5df21ebd0000",
            "properties": {
              "type": "AzureBlobFS",
              "typeProperties": {
                "url": "https://newzzyadlsgen2.dfs.core.windows.net"
              }
            }
          },
          {
            "id": "/subscriptions/051ddeca-1ed6-4d8b-ba6f-1ff561e5f3b3/resourceGroups/zzy-test-rg/providers/Microsoft.Synapse/workspaces/testsynapseworkspace/linkedservices/testsynapseworkspace-WorkspaceDefaultSqlServer",
            "name": "testsynapseworkspace-WorkspaceDefaultSqlServer",
            "type": "Microsoft.Synapse/workspaces/linkedservices",
            "etag": "4500400d-0000-0100-0000-5df21ec50000",
            "properties": {
              "type": "AzureSqlDW",
              "typeProperties": {
                "connectionString": "Data Source=tcp:testsynapseworkspace.database.windows.net,1433;Initial Catalog=@{linkedService().DBName}"
              },
              "parameters": {
                "DBName": {
                  "type": "String"
                }
              }
            }
          },
          {
            "id": "/subscriptions/051ddeca-1ed6-4d8b-ba6f-1ff561e5f3b3/resourceGroups/zzy-test-rg/providers/Microsoft.Synapse/workspaces/testsynapseworkspace/linkedservices/MyLinkedService1",
            "name": "MyLinkedService1",
            "type": "Microsoft.Synapse/workspaces/linkedservices",
            "etag": "41001c1c-0000-0100-0000-5f1fe64d0000",
            "properties": {
              "type": "CosmosDbMongoDbApi",
              "typeProperties": {
                "connectionString": "mongodb://yuwwang-consmosdb-account-mongo:@yuwwang-consmosdb-account-mongo.documents.azure.com:10255/?ssl=true;replicaSet=globaldb",
                "database": "yuwwang-mongo-db1"
              }
            }
          },
          {
            "id": "/subscriptions/051ddeca-1ed6-4d8b-ba6f-1ff561e5f3b3/resourceGroups/zzy-test-rg/providers/Microsoft.Synapse/workspaces/testsynapseworkspace/linkedservices/MyLinkedService",
            "name": "MyLinkedService",
            "type": "Microsoft.Synapse/workspaces/linkedservices",
            "etag": "0900d20a-0000-0100-0000-5f3f2f480000",
            "properties": {
              "type": "AzureDataLakeStore",
              "typeProperties": {
                "dataLakeStoreUri": "adl://test.azuredatalakestore.net/"
              }
            }
          }
        ]
      }
    },
    {
      "RequestUri": "https://testsynapseworkspace.dev.azuresynapse.net/linkedservices/testsynapseworkspace-WorkspaceDefaultStorage?api-version=2019-06-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "/subscriptions/051ddeca-1ed6-4d8b-ba6f-1ff561e5f3b3/resourceGroups/zzy-test-rg/providers/Microsoft.Synapse/workspaces/testsynapseworkspace/linkedservices/testsynapseworkspace-WorkspaceDefaultStorage",
        "name": "testsynapseworkspace-WorkspaceDefaultStorage",
        "type": "Microsoft.Synapse/workspaces/linkedservices",
        "properties": {
          "type": "AzureBlobFS",
          "typeProperties": {
            "url": "https://newzzyadlsgen2.dfs.core.windows.net"
          }
        },
        "etag": "4500110d-0000-0100-0000-5df21ebd0000"
      }
    },
    {
      "RequestUri": "https://testsynapseworkspace.dev.azuresynapse.net/linkedservices/testsynapseworkspace-WorkspaceDefaultSqlServer?api-version=2019-06-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "/subscriptions/051ddeca-1ed6-4d8b-ba6f-1ff561e5f3b3/resourceGroups/zzy-test-rg/providers/Microsoft.Synapse/workspaces/testsynapseworkspace/linkedservices/testsynapseworkspace-WorkspaceDefaultSqlServer",
        "name": "testsynapseworkspace-WorkspaceDefaultSqlServer",
        "type": "Microsoft.Synapse/workspaces/linkedservices",
        "properties": {
          "type": "AzureSqlDW",
          "typeProperties": {
            "connectionString": "Data Source=tcp:testsynapseworkspace.database.windows.net,1433;Initial Catalog=@{linkedService().DBName}"
          },
          "parameters": {
            "DBName": {
              "type": "String"
            }
          }
        },
        "etag": "4500400d-0000-0100-0000-5df21ec50000"
      }
    },
    {
      "RequestUri": "https://testsynapseworkspace.dev.azuresynapse.net/linkedservices/MyLinkedService1?api-version=2019-06-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "/subscriptions/051ddeca-1ed6-4d8b-ba6f-1ff561e5f3b3/resourceGroups/zzy-test-rg/providers/Microsoft.Synapse/workspaces/testsynapseworkspace/linkedservices/MyLinkedService1",
        "name": "MyLinkedService1",
        "type": "Microsoft.Synapse/workspaces/linkedservices",
        "properties": {
          "type": "CosmosDbMongoDbApi",
          "typeProperties": {
            "connectionString": "mongodb://yuwwang-consmosdb-account-mongo:@yuwwang-consmosdb-account-mongo.documents.azure.com:10255/?ssl=true;replicaSet=globaldb",
            "database": "yuwwang-mongo-db1"
          }
        },
        "etag": "41001c1c-0000-0100-0000-5f1fe64d0000"
      }
    },
    {
      "RequestUri": "https://testsynapseworkspace.dev.azuresynapse.net/linkedservices/MyLinkedService?api-version=2019-06-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "/subscriptions/051ddeca-1ed6-4d8b-ba6f-1ff561e5f3b3/resourceGroups/zzy-test-rg/providers/Microsoft.Synapse/workspaces/testsynapseworkspace/linkedservices/MyLinkedService",
        "name": "MyLinkedService",
        "type": "Microsoft.Synapse/workspaces/linkedservices",
        "properties": {
          "type": "AzureDataLakeStore",
          "typeProperties": {
            "dataLakeStoreUri": "adl://test.azuredatalakestore.net/"
          }
        },
        "etag": "0900d20a-0000-0100-0000-5f3f2f480000"
      }
    }
  ],
  "Variables": {
    "AZURE_SYNAPSE_WORKSPACE_URL": "https://testsynapseworkspace.dev.azuresynapse.net",
    "RandomSeed": "709390330"
  }
}