{
  "Entries": [
    {
      "RequestUri": "https://workspaceywlive.dev.azuresynapse.net/linkedservices/LinkedSercive468335119?api-version=2019-06-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "AzureDataLakeStore",
          "typeProperties": {
            "dataLakeStoreUri": "adl://test.azuredatalakestore.net/"
          }
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://workspaceywlive.dev.azuresynapse.net/operationResults/2a6c5496-0370-4b0e-a7c8-868f1b2008c8?api-version=2019-06-01-preview",
        "Retry-After": "10"
      },
      "ResponseBody": {
        "id": "/subscriptions/7f31cba8-b597-4129-b158-8f21a7395bd0/resourceGroups/rg-ywlive/providers/Microsoft.Synapse/workspaces/workspaceywlive/linkedServices/LinkedSercive468335119",
        "recordId": 459901,
        "state": "Updating",
        "created": "2020-09-23T08:26:56.59Z",
        "changed": "2020-09-23T08:26:58.44Z",
        "type": "LinkedService",
        "name": "LinkedSercive468335119",
        "operationId": "2a6c5496-0370-4b0e-a7c8-868f1b2008c8",
        "artifactId": "607F840A-266A-4C2B-8FAF-DBDC57C71FA3"
      }
    },
    {
      "RequestUri": "https://workspaceywlive.dev.azuresynapse.net/operationResults/2a6c5496-0370-4b0e-a7c8-868f1b2008c8?api-version=2019-06-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://workspaceywlive.dev.azuresynapse.net/operationResults/2a6c5496-0370-4b0e-a7c8-868f1b2008c8?api-version=2019-06-01-preview",
        "Retry-After": "10"
      },
      "ResponseBody": {
        "status": "InProgress"
      }
    },
[...]
    {
      "RequestUri": "https://workspaceywlive.dev.azuresynapse.net/operationResults/2a6c5496-0370-4b0e-a7c8-868f1b2008c8?api-version=2019-06-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "/subscriptions/7f31cba8-b597-4129-b158-8f21a7395bd0/resourceGroups/rg-ywlive/providers/Microsoft.Synapse/workspaces/workspaceywlive/linkedservices/LinkedSercive468335119",
        "name": "LinkedSercive468335119",
        "type": "Microsoft.Synapse/workspaces/linkedservices",
        "properties": {
          "type": "AzureDataLakeStore",
          "typeProperties": {
            "dataLakeStoreUri": "adl://test.azuredatalakestore.net/"
          }
        },
        "etag": "760039d3-0000-0800-0000-5f6b06d20000"
      }
    }
  ],
  "Variables": {
    "AZURE_SYNAPSE_WORKSPACE_URL": "https://workspaceywlive.dev.azuresynapse.net",
    "RandomSeed": "942458813"
  }
}