{
  "Entries": [
    {
      "RequestUri": "https://acstestbot1.communication.azure.com/identities?api-version=2021-03-07",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 26 Oct 2021 21:29:46 GMT"
      },
      "RequestBody": {},
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-03-31-preview1, 2021-10-31-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "ZbR2UB14\u002BE\u002Bl/yjgM8My3g.0",
        "X-Processing-Time": "101ms"
      },
      "ResponseBody": {
        "identity": {
          "id": "8:acs:016a7064-0581-40b9-be73-6dde64d69d72_0000000d-5e64-01c3-ccd7-444822000fda"
        }
      }
    },
    {
      "RequestUri": "https://acstestbot1.communication.azure.com/calling/callConnections?api-version=2021-11-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 26 Oct 2021 21:29:47 GMT"
      },
      "RequestBody": {
        "targets": [
          {
            "phoneNumber": {
              "value": "Sanitized"
            }
          }
        ],
        "source": {
          "communicationUser": {
            "id": "8:acs:016a7064-0581-40b9-be73-6dde64d69d72_0000000d-5e64-01c3-ccd7-444822000fda"
          }
        },
        "callbackUri": "https://dummy.ngrok.io/api/incident/callback?SecretKey=helloworld",
        "requestedMediaTypes": [
          "audio"
        ],
        "requestedCallEvents": [
          "participantsUpdated",
          "toneReceived"
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "X-Microsoft-Skype-Chain-ID": "9b407c52-c118-4389-beab-3659be35046d"
      },
      "ResponseBody": {
        "callConnectionId": "14201300-14f0-4b9c-8408-b61b7f8b58c9"
      }
    }
  ],
  "Variables": {
    "AZURE_PHONE_NUMBER": "Sanitized",
    "COMMUNICATION_LIVETEST_STATIC_CONNECTION_STRING": "endpoint=https://acstestbot1.communication.azure.com/;accesskey=Kg==",
    "RandomSeed": "303477573"
  }
}