{
  "Entries": [
    {
      "RequestUri": "/subscriptions/3c66da21-607e-49b4-8bdf-f25fbb8f705f/resourceGroups/BVTToolRG1/providers/Microsoft.DataBox/jobs/sdktest5497/downloadShippingLabel?api-version=2018-01-01",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"shippingLabelSasUri\": \"https://wusintd2cis2secx0fo9.blob.core.windows.net/dummycontainer/1Z12345E8791315509.PDF?sv=2016-05-31&sr=b&sig=ijNPoWPcbt0BNxTCK9p6nta4jsOr2hzJpgWyyE7AU0k%3D&st=2018-04-16T04%3A42%3A31Z&se=2018-04-16T05%3A12%3A31Z&sp=r\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1159"
        ]
      },
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "3c66da21-607e-49b4-8bdf-f25fbb8f705f",
    "SubId": "3c66da21-607e-49b4-8bdf-f25fbb8f705f"
  }
}