{
  "Entries": [
    {
      "RequestUri": "/subscriptions/c3aa9078-d017-4b20-b6b5-e36f151182d7/resourceGroups/Default-SQL-SoutheastAsia/providers/Microsoft.Sql/servers/lubaseaserver/devOpsAuditingSettings/default?api-version=2020-02-02-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"isAzureMonitorTargetEnabled\": true,\r\n    \"state\": \"Enabled\",\r\n    \"storageEndpoint\": \"https://olsternbstorageaccount.blob.core.windows.net/\",\r\n    \"storageAccountAccessKey\": \"RDyxx3ORhww2iA6todWBYfNQor15ScEC4mF1VDrbwHz0q/smzD1GVMEBpODRz0yvaV1T8wi2CfG1cQYyEiPx3w==\"\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Location": [
          "https://api-dogfood.resources.windows-int.net/subscriptions/c3aa9078-d017-4b20-b6b5-e36f151182d7/providers/Microsoft.Sql/locations/southeastasia/devOpsAuditingSettingsOperationResults/14b1fac8-cfd5-4f31-83ac-81487005d308?api-version=2020-02-02-preview"
        ],
        "Retry-After": [
          "60"
        ],
        "Azure-AsyncOperation": [
          "https://api-dogfood.resources.windows-int.net/subscriptions/c3aa9078-d017-4b20-b6b5-e36f151182d7/providers/Microsoft.Sql/locations/southeastasia/devOpsAuditingSettingsAzureAsyncOperation/14b1fac8-cfd5-4f31-83ac-81487005d308?api-version=2020-02-02-preview"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"operation\": \"UpsertServerDevOpsAuditPolicy\",\r\n  \"startTime\": \"2020-11-15T19:23:42.437Z\"\r\n}",
      "StatusCode": 202
    },
    {
      "RequestUri": "/subscriptions/c3aa9078-d017-4b20-b6b5-e36f151182d7/providers/Microsoft.Sql/locations/southeastasia/devOpsAuditingSettingsAzureAsyncOperation/14b1fac8-cfd5-4f31-83ac-81487005d308?api-version=2020-02-02-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"14b1fac8-cfd5-4f31-83ac-81487005d308\",\r\n  \"status\": \"Succeeded\",\r\n  \"startTime\": \"2020-11-15T19:23:42.437Z\"\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/c3aa9078-d017-4b20-b6b5-e36f151182d7/resourceGroups/Default-SQL-SoutheastAsia/providers/Microsoft.Sql/servers/lubaseaserver/devOpsAuditingSettings/default?api-version=2020-02-02-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14998"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"isAzureMonitorTargetEnabled\": true,\r\n    \"state\": \"Enabled\",\r\n    \"storageEndpoint\": \"https://olsternbstorageaccount.blob.core.windows.net/\",\r\n    \"storageAccountSubscriptionId\": \"00000000-0000-0000-0000-000000000000\"\r\n  },\r\n  \"id\": \"/subscriptions/c3aa9078-d017-4b20-b6b5-e36f151182d7/resourceGroups/Default-SQL-SoutheastAsia/providers/Microsoft.Sql/servers/lubaseaserver/devOpsAuditingSettings/Default\",\r\n  \"name\": \"Default\",\r\n  \"type\": \"Microsoft.Sql/servers/devOpsAuditingSettings\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/c3aa9078-d017-4b20-b6b5-e36f151182d7/resourceGroups/Default-SQL-SoutheastAsia/providers/Microsoft.Sql/servers/lubaseaserver/devOpsAuditingSettings?api-version=2020-02-02-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14996"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"properties\": {\r\n        \"isAzureMonitorTargetEnabled\": true,\r\n        \"state\": \"Enabled\",\r\n        \"storageEndpoint\": \"https://olsternbstorageaccount.blob.core.windows.net/\",\r\n        \"storageAccountSubscriptionId\": \"00000000-0000-0000-0000-000000000000\"\r\n      },\r\n      \"id\": \"/subscriptions/c3aa9078-d017-4b20-b6b5-e36f151182d7/resourceGroups/Default-SQL-SoutheastAsia/providers/Microsoft.Sql/servers/lubaseaserver/devOpsAuditingSettings/Default\",\r\n      \"name\": \"Default\",\r\n      \"type\": \"Microsoft.Sql/servers/devOpsAuditingSettings\"\r\n    }\r\n  ]\r\n}",
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "c3aa9078-d017-4b20-b6b5-e36f151182d7"
  }
}