{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/45b60d85-fd72-427a-a708-f994d26e593e/resourcegroups/res3738?api-version=2019-10-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus2"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1143"
      },
      "ResponseBody": {
        "id": "/subscriptions/45b60d85-fd72-427a-a708-f994d26e593e/resourceGroups/res3738",
        "name": "res3738",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus2",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/45b60d85-fd72-427a-a708-f994d26e593e/resourceGroups/res3738/providers/Microsoft.Storage/storageAccounts/sto6839?api-version=2019-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "sku": {
          "name": "Standard_LRS"
        },
        "kind": "StorageV2",
        "location": "eastus2(stage)",
        "tags": {
          "key1": "value1",
          "key2": "value2"
        },
        "properties": {}
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "text/plain; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/45b60d85-fd72-427a-a708-f994d26e593e/providers/Microsoft.Storage/locations/eastus2(stage)/asyncoperations/75c3f6e3-5a52-403a-98ea-db52e6f4dd0b?monitor=true\u0026api-version=2019-06-01",
        "Retry-After": "17",
        "x-ms-ratelimit-remaining-subscription-writes": "1142"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/45b60d85-fd72-427a-a708-f994d26e593e/providers/Microsoft.Storage/locations/eastus2(stage)/asyncoperations/75c3f6e3-5a52-403a-98ea-db52e6f4dd0b?monitor=true\u0026api-version=2019-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "text/plain; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/45b60d85-fd72-427a-a708-f994d26e593e/providers/Microsoft.Storage/locations/eastus2(stage)/asyncoperations/75c3f6e3-5a52-403a-98ea-db52e6f4dd0b?monitor=true\u0026api-version=2019-06-01",
        "Retry-After": "17",
        "x-ms-ratelimit-remaining-subscription-reads": "11824"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/45b60d85-fd72-427a-a708-f994d26e593e/providers/Microsoft.Storage/locations/eastus2(stage)/asyncoperations/75c3f6e3-5a52-403a-98ea-db52e6f4dd0b?monitor=true\u0026api-version=2019-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ratelimit-remaining-subscription-reads": "11788"
      },
      "ResponseBody": {
        "sku": {
          "name": "Standard_LRS",
          "tier": "Standard"
        },
        "kind": "StorageV2",
        "id": "/subscriptions/45b60d85-fd72-427a-a708-f994d26e593e/resourceGroups/res3738/providers/Microsoft.Storage/storageAccounts/sto6839",
        "name": "sto6839",
        "type": "Microsoft.Storage/storageAccounts",
        "location": "eastus2(stage)",
        "tags": {
          "key1": "value1",
          "key2": "value2"
        },
        "properties": {
          "privateEndpointConnections": [],
          "networkAcls": {
            "bypass": "AzureServices",
            "virtualNetworkRules": [],
            "ipRules": [],
            "defaultAction": "Allow"
          },
          "supportsHttpsTrafficOnly": true,
          "encryption": {
            "services": {
              "file": {
                "keyType": "Account",
                "enabled": true,
                "lastEnabledTime": "2020-06-01T05:45:25.0083980Z"
              },
              "blob": {
                "keyType": "Account",
                "enabled": true,
                "lastEnabledTime": "2020-06-01T05:45:25.0083980Z"
              }
            },
            "keySource": "Microsoft.Storage"
          },
          "accessTier": "Hot",
          "provisioningState": "Succeeded",
          "creationTime": "2020-06-01T05:45:24.9302602Z",
          "primaryEndpoints": {
            "dfs": "https://sto6839.dfs.core.windows.net/",
            "web": "https://sto6839.z1.web.core.windows.net/",
            "blob": "https://sto6839.blob.core.windows.net/",
            "queue": "https://sto6839.queue.core.windows.net/",
            "table": "https://sto6839.table.core.windows.net/",
            "file": "https://sto6839.file.core.windows.net/"
          },
          "primaryLocation": "eastus2(stage)",
          "statusOfPrimary": "available"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/45b60d85-fd72-427a-a708-f994d26e593e/resourceGroups/res3738/providers/Microsoft.Storage/storageAccounts/sto6839/blobServices/default?api-version=2019-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ratelimit-remaining-subscription-reads": "11750"
      },
      "ResponseBody": {
        "sku": {
          "name": "Standard_LRS",
          "tier": "Standard"
        },
        "id": "/subscriptions/45b60d85-fd72-427a-a708-f994d26e593e/resourceGroups/res3738/providers/Microsoft.Storage/storageAccounts/sto6839/blobServices/default",
        "name": "default",
        "type": "Microsoft.Storage/storageAccounts/blobServices",
        "properties": {
          "cors": {
            "corsRules": []
          },
          "deleteRetentionPolicy": {
            "enabled": false
          }
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/45b60d85-fd72-427a-a708-f994d26e593e/resourceGroups/res3738/providers/Microsoft.Storage/storageAccounts/sto6839/blobServices/default?api-version=2019-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "sku": {
          "name": "Standard_LRS",
          "tier": "Standard"
        },
        "id": "/subscriptions/45b60d85-fd72-427a-a708-f994d26e593e/resourceGroups/res3738/providers/Microsoft.Storage/storageAccounts/sto6839/blobServices/default",
        "name": "default",
        "type": "Microsoft.Storage/storageAccounts/blobServices",
        "properties": {
          "cors": {
            "corsRules": []
          },
          "deleteRetentionPolicy": {
            "enabled": false
          },
          "isVersioningEnabled": true,
          "changeFeed": {
            "enabled": true
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ratelimit-remaining-subscription-writes": "1140"
      },
      "ResponseBody": {
        "id": "/subscriptions/45b60d85-fd72-427a-a708-f994d26e593e/resourceGroups/res3738/providers/Microsoft.Storage/storageAccounts/sto6839/blobServices/default",
        "name": "default",
        "type": "Microsoft.Storage/storageAccounts/blobServices",
        "properties": {
          "changeFeed": {
            "enabled": true
          },
          "cors": {
            "corsRules": []
          },
          "deleteRetentionPolicy": {
            "enabled": false
          },
          "isVersioningEnabled": true
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/45b60d85-fd72-427a-a708-f994d26e593e/resourceGroups/res3738/providers/Microsoft.Storage/storageAccounts/sto6839/blobServices/default/containers/src1?api-version=2019-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {}
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "ETag": "\u00220x8D805EF38E93E73\u0022",
        "x-ms-ratelimit-remaining-subscription-writes": "1138"
      },
      "ResponseBody": {
        "id": "/subscriptions/45b60d85-fd72-427a-a708-f994d26e593e/resourceGroups/res3738/providers/Microsoft.Storage/storageAccounts/sto6839/blobServices/default/containers/src1",
        "name": "src1",
        "type": "Microsoft.Storage/storageAccounts/blobServices/containers",
        "properties": {
          "deleted": false,
          "remainingRetentionDays": 0,
          "hasImmutabilityPolicy": false,
          "hasLegalHold": false
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/45b60d85-fd72-427a-a708-f994d26e593e/resourceGroups/res3738/providers/Microsoft.Storage/storageAccounts/sto7053/blobServices/default/containers/dest1?api-version=2019-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {}
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "ETag": "\u00220x8D805EF39FDEE1C\u0022",
        "x-ms-ratelimit-remaining-subscription-writes": "1136"
      },
      "ResponseBody": {
        "id": "/subscriptions/45b60d85-fd72-427a-a708-f994d26e593e/resourceGroups/res3738/providers/Microsoft.Storage/storageAccounts/sto7053/blobServices/default/containers/dest1",
        "name": "dest1",
        "type": "Microsoft.Storage/storageAccounts/blobServices/containers",
        "properties": {
          "deleted": false,
          "remainingRetentionDays": 0,
          "hasImmutabilityPolicy": false,
          "hasLegalHold": false
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/45b60d85-fd72-427a-a708-f994d26e593e/resourceGroups/res3738/providers/Microsoft.Storage/storageAccounts/sto7053/objectReplicationPolicies/default?api-version=2019-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "sourceAccount": "sto6839",
          "destinationAccount": "sto7053",
          "rules": [
            {
              "sourceContainer": "src1",
              "destinationContainer": "dest1",
              "filters": {
                "prefixMatch": [
                  "aa",
                  "bc d",
                  "123"
                ],
                "minCreationTime": "2020-03-19T16:06:00Z"
              }
            },
            {
              "sourceContainer": "src2",
              "destinationContainer": "dest2"
            }
          ]
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ratelimit-remaining-subscription-writes": "1134"
      },
      "ResponseBody": {
        "id": "/subscriptions/45b60d85-fd72-427a-a708-f994d26e593e/resourceGroups/res3738/providers/Microsoft.Storage/storageAccounts/sto7053/objectReplicationPolicies/3761c73f-3e8c-4f21-ac0a-5f3aaf51e4bd",
        "name": "3761c73f-3e8c-4f21-ac0a-5f3aaf51e4bd",
        "type": "Microsoft.Storage/storageAccounts/objectReplicationPolicies",
        "properties": {
          "policyId": "3761c73f-3e8c-4f21-ac0a-5f3aaf51e4bd",
          "sourceAccount": "sto6839",
          "destinationAccount": "sto7053",
          "rules": [
            {
              "ruleId": "3457b033-5a90-4196-ad98-9adaad1d1198",
              "sourceContainer": "src1",
              "destinationContainer": "dest1",
              "filters": {
                "prefixMatch": [
                  "aa",
                  "bc d",
                  "123"
                ],
                "minCreationTime": "2020-03-19T16:06:00Z"
              }
            },
            {
              "ruleId": "b1200c4f-2e45-46a8-b7d8-5cd400afe0ef",
              "sourceContainer": "src2",
              "destinationContainer": "dest2"
            }
          ]
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/45b60d85-fd72-427a-a708-f994d26e593e/resourceGroups/res3738/providers/Microsoft.Storage/storageAccounts/sto7053/objectReplicationPolicies?api-version=2019-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ratelimit-remaining-subscription-reads": "11746"
      },
      "ResponseBody": {
        "value": [
          {
            "properties": {
              "policyId": "3761c73f-3e8c-4f21-ac0a-5f3aaf51e4bd",
              "sourceAccount": "sto6839",
              "destinationAccount": "sto7053",
              "rules": [
                {
                  "ruleId": "3457b033-5a90-4196-ad98-9adaad1d1198",
                  "sourceContainer": "src1",
                  "destinationContainer": "dest1",
                  "filters": {
                    "prefixMatch": [
                      "aa",
                      "bc d",
                      "123"
                    ],
                    "minCreationTime": "2020-03-19T16:06:00Z"
                  }
                },
                {
                  "ruleId": "b1200c4f-2e45-46a8-b7d8-5cd400afe0ef",
                  "sourceContainer": "src2",
                  "destinationContainer": "dest2"
                }
              ]
            }
          }
        ]
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/45b60d85-fd72-427a-a708-f994d26e593e/resourceGroups/res3738/providers/Microsoft.Storage/storageAccounts/sto6839/objectReplicationPolicies/3761c73f-3e8c-4f21-ac0a-5f3aaf51e4bd?api-version=2019-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "policyId": "3761c73f-3e8c-[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/45b60d85-fd72-427a-a708-f994d26e593e/resourcegroups/res3738?api-version=2019-10-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Location": "https://management.azure.com/subscriptions/45b60d85-fd72-427a-a708-f994d26e593e/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1SRVMzNzM4LUVBU1RVUzIiLCJqb2JMb2NhdGlvbiI6ImVhc3R1czIifQ?api-version=2019-10-01",
        "Retry-After": "15",
        "x-ms-ratelimit-remaining-subscription-deletes": "14961"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "2126428943",
    "SUBSCRIPTION_ID": "45b60d85-fd72-427a-a708-f994d26e593e",
    "TENANT_ID": "72f988bf-86f1-41af-91ab-2d7cd011db47"
  }
}