{
  "Entries": [
    {
      "RequestUri": "/subscriptions/45062c92-741a-4e9b-acc4-f0afbfce9c7a/providers/Microsoft.ManagedServices/registrationDefinitions/99295ee6-57d1-479f-8e3b-bbff63d78578?api-version=2018-06-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"description\": \"Registration Defintion Description\",\r\n    \"authorizations\": [\r\n      {\r\n        \"principalId\": \"1445e20d-2d4f-4616-9c19-564f4a963499\",\r\n        \"roleDefinitionId\": \"acdd72a7-3385-48ef-bd42-f606fba81ae7\"\r\n      }\r\n    ],\r\n    \"registrationDefinitionName\": \"registrationDefinitionName\",\r\n    \"managedByTenantId\": \"72f988bf-86f1-41af-91ab-2d7cd011db47\"\r\n  },\r\n  \"plan\": {\r\n    \"name\": \"planName\",\r\n    \"publisher\": \"publisher\",\r\n    \"product\": \"product\",\r\n    \"version\": \"1.0.0\"\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"registrationDefinitionName\": \"registrationDefinitionName\",\r\n    \"description\": \"Registration Defintion Description\",\r\n    \"managedByTenantId\": \"72f988bf-86f1-41af-91ab-2d7cd011db47\",\r\n    \"authorizations\": [\r\n      {\r\n        \"principalId\": \"1445e20d-2d4f-4616-9c19-564f4a963499\",\r\n        \"roleDefinitionId\": \"acdd72a7-3385-48ef-bd42-f606fba81ae7\"\r\n      }\r\n    ],\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"managedByTenantName\": \"Microsoft\"\r\n  },\r\n  \"plan\": {\r\n    \"name\": \"planName\",\r\n    \"product\": \"product\",\r\n    \"publisher\": \"publisher\",\r\n    \"version\": \"1.0.0\"\r\n  },\r\n  \"id\": \"/subscriptions/45062c92-741a-4e9b-acc4-f0afbfce9c7a/providers/Microsoft.ManagedServices/registrationDefinitions/99295ee6-57d1-479f-8e3b-bbff63d78578\",\r\n  \"type\": \"Microsoft.ManagedServices/registrationDefinitions\",\r\n  \"name\": \"99295ee6-57d1-479f-8e3b-bbff63d78578\"\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/45062c92-741a-4e9b-acc4-f0afbfce9c7a/providers/Microsoft.ManagedServices/registrationAssignments/8be5caba-645f-4b28-978f-22eb67a0b315?api-version=2018-06-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"registrationDefinitionId\": \"subscriptions/45062c92-741a-4e9b-acc4-f0afbfce9c7a/providers/Microsoft.ManagedServices/registrationdefinitions/99295ee6-57d1-479f-8e3b-bbff63d78578\"\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1198"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"registrationDefinitionId\": \"subscriptions/45062c92-741a-4e9b-acc4-f0afbfce9c7a/providers/Microsoft.ManagedServices/registrationdefinitions/99295ee6-57d1-479f-8e3b-bbff63d78578\",\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"managedByTenantId\": \"72f988bf-86f1-41af-91ab-2d7cd011db47\"\r\n  },\r\n  \"id\": \"/subscriptions/45062c92-741a-4e9b-acc4-f0afbfce9c7a/providers/Microsoft.ManagedServices/registrationAssignments/8be5caba-645f-4b28-978f-22eb67a0b315\",\r\n  \"type\": \"Microsoft.ManagedServices/registrationAssignments\",\r\n  \"name\": \"8be5caba-645f-4b28-978f-22eb67a0b315\"\r\n}",
      "StatusCode": 201
    },
[...]
    {
      "RequestUri": "/subscriptions/45062c92-741a-4e9b-acc4-f0afbfce9c7a/providers/Microsoft.ManagedServices/registrationAssignments?$expandRegistrationDefinition=true&api-version=2018-06-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11998"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"properties\": {\r\n        \"registrationDefinitionId\": \"subscriptions/45062c92-741a-4e9b-acc4-f0afbfce9c7a/providers/Microsoft.ManagedServices/registrationdefinitions/99295ee6-57d1-479f-8e3b-bbff63d78578\",\r\n        \"provisioningState\": \"Succeeded\",\r\n        \"registrationDefinition\": {\r\n          \"properties\": {\r\n            \"registrationDefinitionName\": \"registrationDefinitionName\",\r\n            \"description\": \"Registration Defintion Description\",\r\n            \"managedByTenantId\": \"72f988bf-86f1-41af-91ab-2d7cd011db47\",\r\n            \"authorizations\": [\r\n              {\r\n                \"principalId\": \"1445e20d-2d4f-4616-9c19-564f4a963499\",\r\n                \"roleDefinitionId\": \"acdd72a7-3385-48ef-bd42-f606fba81ae7\"\r\n              }\r\n            ],\r\n            \"provisioningState\": \"Succeeded\",\r\n            \"manageeTenantId\": \"3e2e3761-10ff-46ae-9221-cf0d273c13e5\",\r\n            \"manageeTenantName\": \"Default Directory\",\r\n            \"managedByTenantName\": \"Microsoft\"\r\n          },\r\n          \"plan\": {\r\n            \"name\": \"planName\",\r\n            \"product\": \"product\",\r\n            \"publisher\": \"publisher\",\r\n            \"version\": \"1.0.0\"\r\n          },\r\n          \"id\": \"/subscriptions/45062c92-741a-4e9b-acc4-f0afbfce9c7a/providers/Microsoft.ManagedServices/registrationDefinitions/99295ee6-57d1-479f-8e3b-bbff63d78578\",\r\n          \"type\": \"Microsoft.ManagedServices/registrationDefinitions\",\r\n          \"name\": \"99295ee6-57d1-479f-8e3b-bbff63d78578\"\r\n        },\r\n        \"managedByTenantId\": \"72f988bf-86f1-41af-91ab-2d7cd011db47\"\r\n      },\r\n      \"id\": \"/subscriptions/45062c92-741a-4e9b-acc4-f0afbfce9c7a/providers/Microsoft.ManagedServices/registrationAssignments/8be5caba-645f-4b28-978f-22eb67a0b315\",\r\n      \"type\": \"Microsoft.ManagedServices/registrationAssignments\",\r\n      \"name\": \"8be5caba-645f-4b28-978f-22eb67a0b315\"\r\n    }\r\n  ]\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/45062c92-741a-4e9b-acc4-f0afbfce9c7a/providers/Microsoft.ManagedServices/registrationAssignments?api-version=2018-06-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11996"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": []\r\n}",
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "45062c92-741a-4e9b-acc4-f0afbfce9c7a"
  }
}