{
  "Entries": [
    {
      "RequestUri": "/v1/apps/DEMO_APP/events/pageViews?timespan=P1D&$top=10",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-api-key": [
          "DEMO_KEY"
        ],
        "prefer": [
          "response-v1=true"
        ],
        "x-ms-app": [
          "csharpsdk"
        ]
      },
      "ResponseBody": "{\r\n  \"@odata.context\": \"https://api.applicationinsights.io/v1/apps/DEMO_APP/events/$metadata#pageViews\",\r\n  \"value\": [\r\n    {\r\n      \"id\": \"73d62900-c4b1-11e7-b62d-7364f6736f57\",\r\n      \"type\": \"pageView\",\r\n      \"count\": 1,\r\n      \"timestamp\": \"2017-11-08T18:20:00.04Z\",\r\n      \"customDimensions\": null,\r\n      \"customMeasurements\": null,\r\n      \"operation\": {\r\n        \"name\": \"/\",\r\n        \"id\": \"yBEoi\",\r\n        \"parentId\": \"yBEoi\",\r\n        \"syntheticSource\": null\r\n      },\r\n      \"session\": {\r\n        \"id\": \"3p8tX\"\r\n      },\r\n      \"user\": {\r\n        \"id\": \"hnC00\",\r\n        \"accountId\": null,\r\n        \"authenticatedId\": null\r\n      },\r\n      \"cloud\": {\r\n        \"roleName\": null,\r\n        \"roleInstance\": null\r\n      },\r\n      \"ai\": {\r\n        \"iKey\": \"5a2e4e0c-e136-4a15-9824-90ba859b0a89\",\r\n        \"appName\": \"fabrikamprod\",\r\n        \"appId\": \"cf58dcfd-0683-487c-bc84-048789bca8e5\",\r\n        \"sdkVersion\": \"javascript:1.0.8\"\r\n      },\r\n      \"pageView\": {\r\n        \"name\": \"Home Page\",\r\n        \"url\": null,\r\n        \"duration\": null,\r\n        \"performanceBucket\": null\r\n      },\r\n      \"application\": {\r\n        \"version\": \"1.2.6\"\r\n      },\r\n      \"client\": {\r\n        \"model\": null,\r\n        \"os\": \"Windows 10\",\r\n        \"type\": \"Browser\",\r\n        \"browser\": null,\r\n        \"ip\": \"2.125.100.0\",\r\n        \"city\": \"Peterborough\",\r\n        \"stateOrProvince\": \"Peterborough\",\r\n        \"countryOrRegion\": \"United Kingdom\"\r\n      }\r\n    },\r\n    {\r\n      \"id\": \"73bd97f0-c4b1-11e7-8234-27f8725203c4\",\r\n      \"type\": \"pageView\",\r\n      \"count\": 1,\r\n      \"timestamp\": \"2017-11-08T18:20:00.04Z\",\r\n      \"customDimensions\": null,\r\n      \"customMeasurements\": null,\r\n      \"operation\": {\r\n        \"name\": \"/\",\r\n        \"id\": \"pJMNR\",\r\n        \"parentId\": \"pJMNR\",\r\n        \"syntheticSource\": null\r\n      },\r\n      \"session\": {\r\n        \"[...]
    {
      "RequestUri": "/v1/apps/DEMO_APP/events/pageViews/73d62900-c4b1-11e7-b62d-7364f6736f57",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-api-key": [
          "DEMO_KEY"
        ],
        "prefer": [
          "response-v1=true"
        ],
        "x-ms-app": [
          "csharpsdk"
        ]
      },
      "ResponseBody": "{\r\n  \"@odata.context\": \"https://api.applicationinsights.io/v1/apps/DEMO_APP/events/pageViews/$metadata#pageViews[...]
