{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "TagKey-9823": "TagValue-566",
          "TagKey-3481": "TagValue-320",
          "TagKey-4926": "TagValue-1187",
          "TagKey-751": "TagValue-3921",
          "TagKey-1866": "TagValue-8559",
          "TagKey-3094": "TagValue-9190",
          "TagKey-2449": "TagValue-9",
          "TagKey-8379": "TagValue-164",
          "TagKey-7470": "TagValue-2205",
          "TagKey-4236": "TagValue-3698",
          "TagKey-5316": "TagValue-2725"
        },
        "subscriptionId": "db1ab6f0-4769-4b27-930e-01e2ef9c123c",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": ".NET Mgmt SDK Test with TTL = 1 Day",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourcegroups/sqlvmtestrg9024?api-version=2021-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/sqlvmtestrg9024",
        "name": "sqlvmtestrg9024",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/sqlvmtestrg9024/providers/Microsoft.Storage/storageAccounts/sqlvmteststorage1603?api-version=2021-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "sku": {
          "name": "Standard_LRS"
        },
        "kind": "StorageV2",
        "location": "westus",
        "properties": {}
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "text/plain; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Storage/locations/westus/asyncoperations/12a70348-5dcb-4516-af1e-9d9df2f06794?monitor=true\u0026api-version=2021-09-01",
        "Retry-After": "17",
        "x-ms-ratelimit-remaining-subscription-writes": "1198"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Storage/locations/westus/asyncoperations/12a70348-5dcb-4516-af1e-9d9df2f06794?monitor=true\u0026api-version=2021-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "text/plain; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Storage/locations/westus/asyncoperations/12a70348-5dcb-4516-af1e-9d9df2f06794?monitor=true\u0026api-version=2021-09-01",
        "Retry-After": "17",
        "x-ms-ratelimit-remaining-subscription-reads": "11998"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Storage/locations/westus/asyncoperations/12a70348-5dcb-4516-af1e-9d9df2f06794?monitor=true\u0026api-version=2021-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "sku": {
          "name": "Standard_LRS",
          "tier": "Standard"
        },
        "kind": "StorageV2",
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/sqlvmtestrg9024/providers/Microsoft.Storage/storageAccounts/sqlvmteststorage1603",
        "name": "sqlvmteststorage1603",
        "type": "Microsoft.Storage/storageAccounts",
        "location": "westus",
        "tags": {},
        "properties": {
          "keyCreationTime": {
            "key1": "2022-08-18T02:33:38.4614600Z",
            "key2": "2022-08-18T02:33:38.4614600Z"
          },
          "privateEndpointConnections": [],
          "minimumTlsVersion": "TLS1_0",
          "allowBlobPublicAccess": true,
          "networkAcls": {
            "bypass": "AzureServices",
            "virtualNetworkRules": [],
            "ipRules": [],
            "defaultAction": "Allow"
          },
          "supportsHttpsTrafficOnly": true,
          "encryption": {
            "services": {
              "file": {
                "keyType": "Account",
                "enabled": true,
                "lastEnabledTime": "2022-08-18T02:33:38.4771473Z"
              },
              "blob": {
                "keyType": "Account",
                "enabled": true,
                "lastEnabledTime": "2022-08-18T02:33:38.4771473Z"
              }
            },
            "keySource": "Microsoft.Storage"
          },
          "accessTier": "Hot",
          "provisioningState": "Succeeded",
          "creationTime": "2022-08-18T02:33:38.3833535Z",
          "primaryEndpoints": {
            "dfs": "https://sqlvmteststorage1603.dfs.core.windows.net/",
            "web": "https://sqlvmteststorage1603.z22.web.core.windows.net/",
            "blob": "https://sqlvmteststorage1603.blob.core.windows.net/",
            "queue": "https://sqlvmteststorage1603.queue.core.windows.net/",
            "table": "https://sqlvmteststorage1603.table.core.windows.net/",
            "file": "https://sqlvmteststorage1603.file.core.windows.net/"
          },
          "primaryLocation": "westus",
          "statusOfPrimary": "available"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/sqlvmtestrg9024/providers/Microsoft.Network/networkSecurityGroups/nsg7676?api-version=2021-02-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus",
        "properties": {
          "securityRules": [
            {
              "name": "default-allow-rdp",
              "properties": {
                "description": "Allow inbound traffic from VNET",
                "protocol": "Tcp",
                "sourcePortRange": "*",
                "destinationPortRange": "*",
                "sourceAddressPrefix": "*",
                "destinationAddressPrefix": "*",
                "access": "Allow",
                "priority": 1000,
                "direction": "Inbound"
              }
            }
          ]
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncNotification": "Enabled",
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Network/locations/westus/operations/d380f86e-dc65-4416-aa9a-5b105663b120?api-version=2021-02-01",
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "3",
        "x-ms-ratelimit-remaining-subscription-writes": "1198"
      },
      "ResponseBody": {
        "name": "nsg7676",
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/sqlvmtestrg9024/providers/Microsoft.Network/networkSecurityGroups/nsg7676",
        "etag": "W/\u0022289e678e-677f-4385-a639-c6ae39bbface\u0022",
        "type": "Microsoft.Network/networkSecurityGroups",
        "location": "westus",
        "properties": {
          "provisioningState": "Updating",
          "resourceGuid": "995dacc2-ee4c-42f5-9332-f90f463965d4",
          "securityRules": [
            {
              "name": "default-allow-rdp",
              "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/sqlvmtestrg9024/providers/Microsoft.Network/networkSecurityGroups/nsg7676/securityRules/default-allow-rdp",
              "etag": "W/\u0022289e678e-677f-4385-a639-c6ae39bbface\u0022",
              "type": "Microsoft.Network/networkSecurityGroups/securityRules",
              "properties": {
                "provisioningState": "Updating",
                "description": "Allow inbound traffic from VNET",
                "protocol": "Tcp",
                "sourcePortRange": "*",
                "destinationPortRange": "*",
                "sourceAddressPrefix": "*",
                "destinationAddressPrefix": "*",
                "access": "Allow",
                "priority": 1000,
                "direction": "Inbound",
                "sourcePortRanges": [],
                "destinationPortRanges": [],
                "sourceAddressPrefixes": [],
                "destinationAddressPrefixes": []
              }
            }
          ],
          "defaultSecurityRules": [
            {
              "name": "AllowVnetInBound",
              "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/sqlvmtestrg9024/providers/Microsoft.Network/networkSecurityGroups/nsg7676/defaultSecurityRules/AllowVnetInBound",
              "etag": "W/\u0022289e678e-677f-4385-a639-c6ae39bbface\u0022",
              "type": "Microsoft.Network/networkSecurityGroups/defaultSecurityRules",
              "properties": {
                "provisioningState": "Updating"[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Network/locations/westus/operations/d380f86e-dc65-4416-aa9a-5b105663b120?api-version=2021-02-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11998"
      },
      "ResponseBody": {
        "status": "Succeeded"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/sqlvmtestrg9024/providers/Microsoft.Network/networkSecurityGroups/nsg7676?api-version=2021-02-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\u0022a7108174-02c1-4120-b7aa-40012f0674eb\u0022",
        "x-ms-ratelimit-remaining-subscription-reads": "11997"
      },
      "ResponseBody": {
        "name": "nsg7676",
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/sqlvmtestrg9024/providers/Microsoft.Network/networkSecurityGroups/nsg7676",
        "etag": "W/\u0022a7108174-02c1-4120-b7aa-40012f0674eb\u0022",
        "type": "Microsoft.Network/networkSecurityGroups",
        "location": "westus",
     [...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/sqlvmtestrg9024/providers/Microsoft.Network/virtualNetworks/vnet4121?api-version=2021-02-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus",
        "properties": {
          "addressSpace": {
            "addressPrefixes": [
              "10.0.0.0/16"
            ]
          },
          "subnets": [
            {
              "name": "subnet1465",
              "properties": {
                "addressPrefix": "10.0.0.0/24",
                "networkSecurityGroup": {
                  "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/sqlvmtestrg9024/providers/Microsoft.Network/networkSecurityGroups/nsg7676",
                  "location": "westus",
                  "properties": {
                    "securityRules": [
                      {
                        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/sqlvmtestrg9024/providers/Microsoft.Network/networkSecurityGroups/nsg7676/securityRules/defaul[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/sqlvmtestrg9024/providers/Microsoft.Network/publicIPAddresses/publicip7561?api-version=2021-02-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus",
        "tags": {
          "key": "value"
        },
        "properties": {
          "publicIPAllocationMethod": "Dynamic",
          "dnsSettings": {
            "domainNameLabel": "dnslabel5761"
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncNotification": "Enabled",
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Network/locations/westus/operations/911e3833-b4f3-432e-a3ee-7612b7bb7aeb?api-version=2021-02-01",
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "1",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "name": "publicip7561",
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/sqlvmtestrg9024/providers/Microsoft.Network/publicIPAddresses/publicip7561",
        "etag": "W/\u002252f5d086-2436-435d-9b35-2a2d0c09b044\u0022",
        "location": "westus",
        "tags": {
          "key": "value"
        },
        "properties": {
          "provisioningState": "Updating",
          "resourceGuid": "d26add9e-c3f0-498c-9765-7daaabea2bf0",
          "publicIPAddressVersion": "IPv4",
          "publicIPAllocationMethod": "Dynamic",
          "idleTimeoutInMinutes": 4,
          "dnsSettings": {
            "domainNameLabel": "dnslabel5761",
            "fqdn": "dnslabel5761.westus.cloudapp.azure.com"
          },
          "ipTags": []
        },
        "type": "Microsoft.Network/publicIPAddresses",
        "sku": {
          "name": "Basic",
          "tier": "Regional"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/sqlvmtestrg9024/providers/Microsoft.Network/networkInterfaces/nic8279?api-version=2021-02-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus",
        "properties": {
          "networkSecurityGroup": {
            "id": "/subs[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/sqlvmtestrg9024/providers/Microsoft.Network/networkInterfaces/nic8279?api-version=2021-02-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\u0022db1ed183-dead-4c8d-9d0c-7a43d652ffcf\u0022",
        "x-ms-ratelimit-remaining-subscription-reads": "11995"
      },
      "ResponseBody": {
        "name": "nic8279",
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/sqlvmtestrg9024/providers/Microsoft.Network/networkInterfaces/nic8279",
        "etag": "W/\u0022db1ed183-dead-4c8d-9d0c-7a43d652ffcf\u0022",
        "properties": {
          "provisioningState": "Succeeded",
          "resourceGuid": "17aaf312-0089-41fa-9320-89f23370899e",
          "ipConfigurations": [
            {
              "name": "ipconfig3125",
              "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/sqlvmtestrg9024/providers/Microsoft.Network/networkInterfaces/nic8279/ipConfigurations/ipconfig3125",
              "etag": "W/\u0022db1ed183-dead-4c8d-9d0c-7a43d652ffcf\u0022",
              "type": "Microsoft.Network/networkInterfaces/ipConfigurations",
              "properties": {
                "provisioningState": "Succeeded",
                "privateIPAddress": "10.0.0.4",
                "privateIPAllocationMethod": "Dynamic",
                "publicIPAddress": {
                  "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/sqlvmtestrg9024/providers/Microsoft.Network/publicIPAddresses/publicip7561"
                },
                "subnet": {
                  "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/sqlvmtestrg9024/providers/Microsoft.Network/virtualNetworks/vnet4121/subnets/subnet1465"
                },
                "primary": true,
                "privateIPAddressVersion": "IPv4"
              }
            }
          ],
          "dnsSettings": {
            "dnsServers": [],
            "appliedDnsServers": [],
            "internalDomainNameSuffix": "xxugj0aga4pudglmgscli313jf.dx.internal.cloudapp.net"
          },
          "vnetEncryptionSupported": false,
          "enableIPForwarding": false,
          "networkSecurityGroup": {
            "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/sqlvmtestrg9024/providers/Microsoft.Network/networkSecurityGroups/nsg7676"
          },
          "hostedWorkloads": [],
          "tapConfigurations": [],
          "nicType": "Standard"
        },
        "type": "Microsoft.Network/networkInterfaces",
        "location": "westus"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/sqlvmtestrg9024/providers/Microsoft.Compute/virtualMachines/vm3016?api-version=2022-03-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "westus",
        "properties": {
          "hardwareProfile": {
            "vmSize": "Standard_DS13-2_v2"
          },
          "storageProfile": {
            "imageReference": {
              "publisher": "MicrosoftSQLServer",
              "offer": "SQL2017-WS2016",
              "sku": "Enterprise",
              "version": "latest"
            },
            "osDisk": {
              "caching": "None",
              "writeAcceleratorEnabled": false,
              "createOption": "FromImage",
              "managedDisk": {
                "storageAccountType": "Standard_LRS"
              }
            },
            "dataDisks": [
              {
                "lun": 0,
                "caching": "None",
                "writeAcceleratorEnabled": false,
                "createOption": "Empty",
                "diskSizeGB": 30,
                "managedDisk": {
                  "storageAccountType": "Standard_LRS"
                }
              }
            ]
          },
          "osProfile": {
            "computerName": "vm3016",
            "adminUsername": "myvmadmin",
            "adminPassword": "sql@zure123!",
            "windowsConfiguration": {
              "provisionVMAgent": true
            }
          },
          "networkProfile": {
            "networkInterfaces": [
              {
                "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/sqlvmtestrg9024/providers/Microsoft.Network/networkInterfaces/nic8279",
                "properties": {}
              }
            ]
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncNotification": "Enabled",
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Compute/locations/westus/operations/0899038f-7041-478e-bb34-eea366e16b04?p=046f8f59-63f6-49fe-9e36-d0be293b890a\u0026api-version=2022-03-01",
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "x-ms-ratelimit-remaining-resource": "Microsoft.Compute/PutVM3Min;239,Microsoft.Compute/PutVM30Min;1194",
        "x-ms-ratelimit-remaining-subscription-writes": "1197"
      },
      "ResponseBody": {
        "name": "vm3016",
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/sqlvmtestrg9024/providers/Microsoft.Compute/virtualMachines/vm3016",
        "type": "Microsoft.Compute/virtualMachines",
        "location": "westus",
        "tags": {
          "azsecpack": "nonprod",
          "platformsettings.host_environment.service.platform_optedin_for_rootcerts": "true"
        },
        "properties": {
          "vmId": "f7449d33-ae14-4a02-bc2e-ac30eaaa124e",
          "hardwareProfile": {
            "vmSize": "Standard_DS13-2_v2"
          },
          "storageProfile": {
            "imageReference": {
              "publisher": "MicrosoftSQLServer",
              "offer": "SQL2017-WS2016",
              "sku": "Enterprise",
              "version": "latest",
              "exactVersion": "14.1.220712"
            },
            "osDisk": {
              "osType": "Windows",
              "createOption": "FromImage",
              "caching": "None",
              "writeAcceleratorEnabled": false,
              "managedDisk": {
                "storageAccountType": "Standard_LRS"
              },
              "deleteOption": "Detach",
              "diskSizeGB": 127
            },
            "dataDisks": [
              {
                "lun": 0,
                "createOption": "Empty",
                "caching": "None",
                "writeAcceleratorEnabled": false,
                "managedDisk": {
                  "storageAccountType": "Standard_LRS"
                },
                "deleteOption": "Detach",
                "diskSizeGB": 30,
                "toBeDetached": false
              }
            ]
          },
          "osProfile": {
            "computerName": "vm3016",
            "adminUsername": "myvmadmin",
            "windowsConfiguration": {
              "provisionVMAgent": true,
              "enableAutomaticUpdates": true,
              "patchSettings": {
                "patchMode": "AutomaticByOS",
                "assessmentMode": "ImageDefault"
              },
              "enableVMAgentPlatformUpdates": false
            },
            "secrets": [],
            "allowExtensionOperations": true,
            "requireGuestProvisionSignal": true
          },
          "networkProfile": {
            "networkInterfaces": [
              {
                "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/sqlvmtestrg9024/providers/Microsoft.Network/networkInterfaces/nic8279"
              }
            ]
          },
          "provisioningState": "Creating",
          "timeCreated": "2022-08-18T02:35:00.7423408\u002B00:00"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Compute/locations/westus/operations/0899038f-7041-478e-bb34-eea366e16b04?p=046f8f59-63f6-49fe-9e36-d0be293b890a\u0026api-version=2022-03-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "4",
        "x-ms-ratelimit-remaining-resource": "Microsoft.Compute/GetOperation3Min;14989,Microsoft.Compute/GetOperation30Min;29902",
        "x-ms-ratelimit-remaining-subscription-reads": "11994"
      },
      "ResponseBody": {
        "startTime": "2022-08-18T02:34:59.8986072\u002B00:00",
        "status": "InProgress",
        "name": "0899038f-7041-478e-bb34-eea366e16b04"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Compute/locations/westus/operations/0899038f-7041-478e-bb34-eea366e16b04?p=046f8f59-63f6-49fe-9e36-d0be293b890a\u0026api-version=2022-03-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-resource": "Microsoft.Compute/GetOperation3Min;14981,Microsoft.Compute/GetOperation30Min;29894",
        "x-ms-ratelimit-remaining-subscription-reads": "11989"
      },
      "ResponseBody": {
        "startTime": "2022-08-18T02:34:59.8986072\u002B00:00",
        "endTime": "2022-08-18T02:35:19.7430913\u002B00:00",
        "status": "Succeeded",
        "name": "0899038f-7041-478e-bb34-eea366e16b04"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/sqlvmtestrg9024/providers/Microsoft.SqlVirtualMachine/sqlVirtualMachines/vm3016?api-version=2022-02-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "westus",
        "properties": {
          "virtualMachineResourceId": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/sqlvmtestrg9024/providers/Microsoft.Compute/virtualMachines/vm3016",
          "sqlImageOffer": "SQL2017-WS2016",
          "sqlServerLicenseType": "PAYG",
          "sqlManagement": "Full",
          "sqlImageSku": "Enterprise",
          "autoPatchingSettings": {
            "enable": false
          },
          "serverConfigurationsManagementSettings": {
            "sqlConnectivityUpdateSettings": {
              "connectivityType": "PRIVATE",
              "port": 1433,
              "sqlAuthUpdateUserName": "sqlLogin",
              "sqlAuthUpdatePassword": "sql@zure123!"
            },
            "sqlWorkloadTypeUpdateSettings": {
              "sqlWorkloadType": "OLTP"
            },
            "sqlStorageUpdateSettings": {
              "diskCount": 1,
              "startingDeviceId": 2,
              "diskConfigurationType": "NEW"
            }
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.SqlVirtualMachine/locations/westus/operationTypes/createsqlvirtualmachine/operationResults/a56da521-6f54-4651-b15f-ca7136845629?api-version=2022-02-01",
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "15",
        "x-ms-ratelimit-remaining-subscription-writes": "1196"
      },
      "ResponseBody": {
        "properties": {
          "virtualMachineResourceId": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/sqlvmtestrg9024/providers/Microsoft.Compute/virtualMachines/vm3016",
          "provisioningState": "Provisioning",
          "sqlServerLicenseType": "PAYG",
          "sqlManagement": "Full",
          "sqlImageSku": "Unknown"
        },
        "location": "westus",
        "tags": {},
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/sqlvmtestrg9024/providers/Microsoft.SqlVirtualMachine/sqlVirtualMachines/vm3016",
        "name": "vm3016",
        "type": "Microsoft.SqlVirtualMachine/sqlVirtualMachines"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.SqlVirtualMachine/locations/westus/operationTypes/createsqlvirtualmachine/operationResults/a56da521-6f54-4651-b15f-ca7136845629?api-version=2022-02-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "15",
        "x-ms-ratelimit-remaining-subscription-reads": "11987"
      },
      "ResponseBody": {
        "name": "a56da521-6f54-4651-b15f-ca7136845629",
        "status": "InProgress",
        "startTime": "2022-08-18T02:35:27.36Z"
      }
    },
[...]
    {
[...]
