{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11951"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "TagKey-9823": "TagValue-1254",
          "TagKey-3481": "TagValue-320",
          "TagKey-4926": "TagValue-1187",
          "TagKey-751": "TagValue-3921",
          "TagKey-1866": "TagValue-8559",
          "TagKey-3094": "TagValue-9190",
          "TagKey-2449": "TagValue-9",
          "TagKey-8379": "TagValue-164",
          "TagKey-7470": "TagValue-2205",
          "TagKey-4236": "TagValue-3698",
          "TagKey-5316": "TagValue-2725"
        },
        "subscriptionId": "db1ab6f0-4769-4b27-930e-01e2ef9c123c",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": ".NET Mgmt SDK Test with TTL = 1 Day",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourcegroups/sqlvmtestrg8526?api-version=**",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1191"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/sqlvmtestrg8526",
        "name": "sqlvmtestrg8526",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/sqlvmtestrg8526/providers/Microsoft.SqlVirtualMachine/sqlVirtualMachines/vm2665?api-version=2022-02-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "westus",
        "properties": {
          "virtualMachineResourceId": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/sqlvmtestrg8526/providers/Microsoft.Compute/virtualMachines/vm2665",
          "sqlImageOffer": "SQL2017-WS2016",
          "sqlServerLicenseType": "PAYG",
          "sqlManagement": "Full",
          "sqlImageSku": "Enterprise",
          "autoPatchingSettings": {
            "enable": false
          },
          "serverConfigurationsManagementSettings": {
            "sqlConnectivityUpdateSettings": {
              "connectivityType": "PRIVATE",
              "port": 1433,
              "sqlAuthUpdateUserName": "sqlLogin",
              "sqlAuthUpdatePassword": "sql@zure123!"
            },
            "sqlWorkloadTypeUpdateSettings": {
              "sqlWorkloadType": "OLTP"
            },
            "sqlStorageUpdateSettings": {
              "diskCount": 1,
              "startingDeviceId": 2,
              "diskConfigurationType": "NEW"
            }
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.SqlVirtualMachine/locations/westus/operationTypes/createsqlvirtualmachine/operationResults/d52622ab-87bd-484d-8a54-e869b409d08b?api-version=2022-02-01",
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "15",
        "x-ms-ratelimit-remaining-subscription-writes": "1185"
      },
      "ResponseBody": {
        "properties": {
          "virtualMachineResourceId": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/sqlvmtestrg8526/providers/Microsoft.Compute/virtualMachines/vm2665",
          "provisioningState": "Provisioning",
          "sqlServerLicenseType": "PAYG",
          "sqlManagement": "Full",
          "sqlImageSku": "Unknown"
        },
        "location": "westus",
        "tags": {},
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/sqlvmtestrg8526/providers/Microsoft.SqlVirtualMachine/sqlVirtualMachines/vm2665",
        "name": "vm2665",
        "type": "Microsoft.SqlVirtualMachine/sqlVirtualMachines"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.SqlVirtualMachine/locations/westus/operationTypes/createsqlvirtualmachine/operationResults/d52622ab-87bd-484d-8a54-e869b409d08b?api-version=2022-02-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "15",
        "x-ms-ratelimit-remaining-subscription-reads": "11930"
      },
      "ResponseBody": {
        "name": "d52622ab-87bd-484d-8a54-e869b409d08b",
        "status": "InProgress",
        "startTime": "2022-12-05T07:55:02.733Z"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/sqlvmtestrg8526/providers/Microsoft.SqlVirtualMachine/sqlVirtualMachines/vm2665?api-version=2022-02-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {
          "test": "updateTag"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.SqlVirtualMachine/locations/westus/operationTypes/patchsqlvirtualmachine/operationResults/453c9027-a5c6-4e06-886f-a5fa8e487a31?api-version=2022-02-01",
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "15",
        "x-ms-ratelimit-remaining-subscription-writes": "1184"
      },
      "ResponseBody": {
        "properties": {
          "virtualMachineResourceId": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/sqlvmtestrg8526/providers/Microsoft.Compute/virtualMachines/vm2665",
          "provisioningState": "Patching",
          "sqlServerLicenseType": "PAYG",
          "sqlManagement": "Full",
          "sqlImageSku": "Unknown"
        },
        "location": "westus",
        "tags": {
          "test": "updateTag"
        },
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/sqlvmtestrg8526/providers/Microsoft.SqlVirtualMachine/sqlVirtualMachines/vm2665",
        "name": "vm2665",
        "type": "Microsoft.SqlVirtualMachine/sqlVirtualMachines"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/sqlvmtestrg8526/providers/Microsoft.SqlVirtualMachine/sqlVirtualMachines?api-version=2022-02-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11913"
      },
      "ResponseBody": {
        "value": [
          {
            "properties": {
              "virtualMachineResourceId": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/sqlvmtestrg8526/providers/Microsoft.Compute/virtualMachines/vm2665",
              "provisioningState": "Succeeded",
              "sqlImageOffer": "SQL2017-WS2016",
              "sqlServerLicenseType": "PAYG",
              "sqlManagement": "Full",
              "sqlImageSku": "Enterprise"
            },
            "location": "westus",
            "tags": {
              "test": "updateTag"
            },
            "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/sqlvmtestrg8526/providers/Microsoft.SqlVirtualMachine/sqlVirtualMachines/vm2665",
            "name": "vm2665",
            "type": "Microsoft.SqlVirtualMachine/sqlVirtualMachines"
          }
        ]
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.SqlVirtualMachine/sqlVirtualMachines?api-version=2022-02-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11912"
      },[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/sqlvmtestrg8526/providers/Microsoft.SqlVirtualMachine/sqlVirtualMachines/vm2665?api-version=2022-02-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.SqlVirtualMachine/locations/westus/operationTypes/deletesqlvirtualmachine/operationResults/d68fdef9-0659-4cbb-b2fe-113e085d3022?api-version=2022-02-01",
        "Location": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.SqlVirtualMachine/locations/westus/sqlVirtualMachineOperationResults/d68fdef9-0659-4cbb-b2fe-113e085d3022?api-version=2022-02-01",
        "Retry-After": "15",
        "x-ms-ratelimit-remaining-subscription-deletes": "14998"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.SqlVirtualMachine/locations/westus/operationTypes/deletesqlvirtualmachine/operationResults/d68fdef9-0659-4cbb-b2fe-113e085d3022?api-version=2022-02-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "15",
        "x-ms-ratelimit-remaining-subscription-reads": "11911"
      },
      "ResponseBody": {
        "name": "d68fdef9-0659-4cbb-b2fe-113e085d3022",
        "status": "InProgress",
        "startTime": "2022-12-05T08:00:13.63Z"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.SqlVirtualMachine/locations/westus/operationTypes/deletesqlvirtualmachine/operationResults/d68fdef9-0659-4cbb-b2fe-113e085d3022?api-version=2022-02-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "15",
        "x-ms-ratelimit-remaining-subscription-reads": "11903"
      },
      "ResponseBody": {
        "name": "d68fdef9-0659-4cbb-b2fe-113e085d3022",
        "status": "Succeeded",
        "startTime": "2022-12-05T08:00:13.63Z"
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "RandomSeed": "228532010",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "db1ab6f0-4769-4b27-930e-01e2ef9c123c"
  }
}
