{
  "Entries": [
    {
      "RequestUri": "https://annelocontainerregistry.azurecr.io/v2/oci-artifact-large/blobs/uploads/",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Docker-Distribution-Api-Version": "registry/2.0",
        "WWW-Authenticate": "Bearer realm=\u0022https://annelocontainerregistry.azurecr.io/oauth2/token\u0022,service=\u0022annelocontainerregistry.azurecr.io\u0022,scope=\u0022repository:oci-artifact-large:pull,push\u0022"
      },
      "ResponseBody": {
        "errors": [
          {
            "code": "UNAUTHORIZED",
            "message": "authentication required, visit https://aka.ms/acr/authorization for more information.",
            "detail": [
              {
                "Type": "repository",
                "Name": "oci-artifact-large",
                "Action": "pull"
              },
              {
                "Type": "repository",
                "Name": "oci-artifact-large",
                "Action": "push"
              }
            ]
          }
        ]
      }
    },
    {
      "RequestUri": "https://annelocontainerregistry.azurecr.io/oauth2/exchange?api-version=2021-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/x-www-form-urlencoded"
      },
      "RequestBody": "grant_type=access_token\u0026service=annelocontainerregistry.azurecr.io\u0026access_token=Sanitized",
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-calls-per-second": "166.183333"
      },
      "ResponseBody": {
        "refresh_token": "Sanitized.eyJleHAiOjI2MTQxODA2NTJ9.Sanitized"
      }
    },
    {
      "RequestUri": "https://annelocontainerregistry.azurecr.io/oauth2/token?api-version=2021-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/x-www-form-urlencoded"
      },
      "RequestBody": "service=annelocontainerregistry.azurecr.io\u0026scope=repository%3Aoci-artifact-large%3Apull%2Cpush\u0026refresh_token=Sanitized\u0026grant_type=refresh_token",
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-calls-per-second": "166.166667"
      },
      "ResponseBody": {
        "access_token": "Sanitized"
      }
    },
    {
      "RequestUri": "https://annelocontainerregistry.azurecr.io/v2/oci-artifact-large/blobs/uploads/",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Docker-Distribution-Api-Version": "registry/2.0",
        "Docker-Upload-Uuid": "b5d15b04-f5c9-4bd6-ac0c-802c7a99757d",
        "Location": "/v2/oci-artifact-large/blobs/uploads/b5d15b04-f5c9-4bd6-ac0c-802c7a99757d?_nouploadcache=false\u0026_state=L3qUv3SRX9Cie9EzSG-RX5uswSi_mpnoQ9U1jKfcfCx7Ik5hbWUiOiJvY2ktYXJ0aWZhY3QtbGFyZ2UiLCJVVUlEIjoiYjVkMTViMDQtZjVjOS00YmQ2LWFjMGMtODAyYzdhOTk3NTdkIiwiT2Zmc2V0IjowLCJTdGFydGVkQXQiOiIyMDIyLTExLTEwVDE3OjE3OjQ0LjMxODI2ODc4MVoifQ%3D%3D",
        "Range": "0-0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://annelocontainerregistry.azurecr.io/v2/oci-artifact-large/blobs/uploads/b5d15b04-f5c9-4bd6-ac0c-802c7a99757d?_nouploadcache=false\u0026_state=L3qUv3SRX9Cie9EzSG-RX5uswSi_mpnoQ9U1jKfcfCx7Ik5hbWUiOiJvY2ktYXJ0aWZhY3QtbGFyZ2UiLCJVVUlEIjoiYjVkMTViMDQtZjVjOS00YmQ2LWFjMGMtODAyYzdhOTk3NTdkIiwiT2Zmc2V0IjowLCJTdGFydGVkQXQiOiIyMDIyLTExLTEwVDE3OjE3OjQ0LjMxODI2ODc4MVoifQ%3D%3D",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Content-Range": "0-170",
        "Content-Type": "application/octet-stream"
      },
      "RequestBody": "H4sIAAAAAAAA/\u002BzRwcrCMBAE4Dn/8L9DD551tulmn6dUq4VioUb06VUsORU8aRQx32VzSjYzi2bYt90WKZGkmU2T5HxOZ6lo6lTNPCjUUlFo0q2i4yHUI8hn75l/7kvE/lf1GLq2bsIynMOr37jn4b1/3L\u002BrYv9lWYkDxYkoireE\u002BOP9Xy87bNCjx4ACJwwY0WONf/x9erUsy7IsoVsAAAD//yO/fykACgAA",
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Docker-Distribution-Api-Version": "registry/2.0",
        "WWW-Authenticate": "Bearer realm=\u0022https://annelocontainerregistry.azurecr.io/oauth2/token\u0022,service=\u0022annelocontainerregistry.azurecr.io\u0022,scope=\u0022repository:oci-artifact-large:pull,push\u0022"
      },
      "ResponseBody": {
        "errors": [
          {
            "code": "UNAUTHORIZED",
            "message": "authentication required, visit https://aka.ms/acr/authorization for more information.",
            "detail": [
              {
                "Type": "repository",
                "Name": "oci-artifact-large",
                "Action": "pull"
              },
              {
                "Type": "repository",
                "Name": "oci-artifact-large",
                "Action": "push"
              }
            ]
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://annelocontainerregistry.azurecr.io/v2/oci-artifact-large/blobs/uploads/b5d15b04-f5c9-4bd6-ac0c-802c7a99757d?_nouploadcache=false\u0026_state=_9v9EjD-4-yCCjxX0U4D2DGyhGZRlpWm0NDcbmni_Ll7Ik5hbWUiOiJvY2ktYXJ0aWZhY3QtbGFyZ2UiLCJVVUlEIjoiYjVkMTViMDQtZjVjOS00YmQ2LWFjMGMtODAyYzdhOTk3NTdkIiwiT2Zmc2V0IjoxNzEsIlN0YXJ0ZWRBdCI6IjIwMjItMTEtMTBUMTc6MTc6NDRaIn0%3D\u0026digest=sha256%3Ad25b42d3dbad5361ed2d909624d899e7254a822c9a632b582ebd3a44f9b0dbc8",
      "RequestMethod": "P[...]
[...]
    {
      "RequestUri": "https://annelocontainerregistry.azurecr.io/v2/oci-artifact-large/blobs/uploads/b5d15b04-f5c9-4bd6-ac0c-802c7a99757d?_nouploadcache=false\u0026_state=_9v9EjD-4-yCCjxX0U4D2DGyhGZRlpWm0NDcbmni_Ll7Ik5hbWUiOiJvY2ktYXJ0aWZhY3QtbGFyZ2UiLCJVVUlEIjoiYjVkMTViMDQtZjVjOS00YmQ2LWFjMGMtODAyYzdhOTk3NTdkIiwiT2Zmc2V0IjoxNzEsIlN0YXJ0ZWRBdCI6IjIwMjItMTEtMTBUMTc6MTc6NDRaIn0%3D\u0026digest=sha256%3Ad25b42d3dbad5361ed2d909624d899e7254a822c9a632b582ebd3a44f9b0dbc8",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "Docker-Content-Digest": "sha256:d25b42d3dbad5361ed2d909624d899e7254a822c9a632b582ebd3a44f9b0dbc8",
        "Docker-Distribution-Api-Version": "registry/2.0",
        "Location": "/v2/oci-artifact-large/blobs/sha256:d25b42d3dbad5361ed2d909624d899e7254a822c9a632b582ebd3a44f9b0dbc8"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://annelocontainerregistry.azurecr.io/v2/oci-artifact-large/blobs/uploads/1d2a50f8-8b26-49bd-84fe-5bf0574c59c9?_nouploadcache=false\u0026_state=TyeL1jo2biunPFH2-dlZWtLcUuF6-IAipoeZXH3W9lx7Ik5hbWUiOiJvY2ktYXJ0aWZhY3QtbGFyZ2UiLCJVVUlEIjoiMWQyYTUwZjgtOGIyNi00OWJkLTg0ZmUtNWJmMDU3NGM1OWM5IiwiT2Zmc2V0IjowLCJTdGFydGVkQXQiOiIyMDIyLTExLTEwVDE3OjE3OjQ0LjczNjE2NDU1M1oifQ%3D%3D",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Content-Range": "0-1040",
    [...]
[...]
    {
      "RequestUri": "https://annelocontainerregistry.azurecr.io/v2/oci-artifact-large/blobs/uploads/1d2a50f8-8b26-49bd-84fe-5bf0574c59c9?_nouploadcache=false\u0026_state=KEbHMNnpmap8c9wGhpFqCdd6gOxEx0NKGuTnFH-hpeV7Ik5hbWUiOiJvY2ktYXJ0aWZhY3QtbGFyZ2UiLCJVVUlEIjoiMWQyYTUwZjgtOGIyNi00OWJkLTg0ZmUtNWJmMDU3NGM1OWM5IiwiT2Zmc2V0IjoxMDQxLCJTdGFydGVkQXQiOiIyMDIyLTExLTEwVDE3OjE3OjQ0WiJ9\u0026digest=sha256%3A7310388adc5902d53cfd1000f30ed572ea9631ab91d0f72095b1a5fcf13270fd",
      "RequestMethod": "PUT[...]
[...]
    {
      "RequestUri": "https://annelocontainerregistry.azurecr.io/v2/oci-artifact-large/manifests/big-1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/vnd.oci.image.manifest.v1\u002Bjson"
      },
      "RequestBody": {
        "config": {
          "mediaType": "application/vnd.acme.rocket.config",
          "size": 171,
          "digest": "sha256:d25b42d3dbad5361ed2d909624d899e7254a822c9a632b582ebd3a44f9b0dbc8"
        },
        "layers": [
          {
            "mediaType": "application/vnd.oci.image.layer.v1.tar",
            "size": 1041,
            "digest": "sha256:7310388adc5902d53cfd1000f30ed572ea9631ab91d0f72095b1a5fcf13270fd"
          }
        ],
        "schemaVersion": 2
      },
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Docker-Distribution-Api-Version": "registry/2.0",
        "WWW-Authenticate": "Bearer realm=\u0022https://annelocontainerregistry.azurecr.io/oauth2/token\u0022,service=\u0022annelocontainerregistry.azurecr.io\u0022,scope=\u0022repository:oci-artifact-large:pull,push\u0022"
      },
      "ResponseBody": {
        "errors": [
          {
            "code": "UNAUTHORIZED",
            "message": "authentication required, visit https://aka.ms/acr/authorization for more information.",
            "detail": [
              {
                "Type": "repository",
                "Name": "oci-artifact-large",
                "Action": "pull"
              },
              {
                "Type": "repository",
                "Name": "oci-artifact-large",
                "Action": "push"
              }
            ]
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://annelocontainerregistry.azurecr.io/acr/v1/_catalog?api-version=2021-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Docker-Distribution-Api-Version": "registry/2.0",
        "WWW-Authenticate": "Bearer realm=\u0022https://annelocontainerregistry.azurecr.io/oauth2/token\u0022,service=\u0022annelocontainerregistry.azurecr.io\u0022,scope=\u0022registry:catalog:*\u0022"
      },
      "ResponseBody": {
        "errors": [
          {
            "code": "UNAUTHORIZED",
            "message": "authentication required, visit https://aka.ms/acr/authorization for more information.",
            "detail": [
              {
                "Type": "registry",
                "Name": "catalog",
                "Action": "*"
              }
            ]
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://annelocontainerregistry.azurecr.io/acr/v1/_catalog?api-version=2021-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Docker-Distribution-Api-Version": "registry/2.0"
      },
      "ResponseBody": {
        "repositories": [
          "library/alpine",
          "library/busybox",
          "library/hello-world",
          "oci-artifact-large"
        ]
      }
    },
    {
      "RequestUri": "https://annelocontainerregistry.azurecr.io/acr/v1/oci-artifact-large/_tags/big-1?api-version=2021-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Docker-Distribution-Api-Version": "registry/2.0",
        "WWW-Authenticate": "Bearer realm=\u0022https://annelocontainerregistry.azurecr.io/oauth2/token\u0022,service=\u0022annelocontainerregistry.azurecr.io\u0022,scope=\u0022repository:oci-artifact-large:metadata_read\u0022"
      },
      "ResponseBody": {
        "errors": [
          {
            "code": "UNAUTHORIZED",
            "message": "authentication required, visit https://aka.ms/acr/authorization for more information.",
            "detail": [
              {
                "Type": "repository",
                "Name": "oci-artifact-large",
                "Action": "metadata_read"
              }
            ]
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://annelocontainerregistry.azurecr.io/acr/v1/oci-artifact-large/_tags/big-1?api-version=2021-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Docker-Distribution-Api-Version": "registry/2.0"
      },
      "ResponseBody": {
        "registry": "annelocontainerregistry.azurecr.io",
        "imageName": "oci-artifact-large",
        "tag": {
          "name": "big-1",
          "digest": "sha256:5b35986b0ff880629268fed8dc4040771b37e73ea0a7de26993d70d0240dee5f",
          "createdTime": "2022-11-10T17:17:45.3760116Z",
          "lastUpdateTime": "2022-11-10T17:17:45.3760116Z",
          "signed": false,
          "changeableAttributes": {
            "deleteEnabled": true,
            "writeEnabled": true,
            "readEnabled": true,
            "listEnabled": true
          }
        }
      }
    },
    {
      "RequestUri": "https://annelocontainerregistry.azurecr.io/acr/v1/oci-artifact-large/_manifests/sha256%3A5b35986b0ff880629268fed8dc4040771b37e73ea0a7de26993d70d0240dee5f?api-version=2021-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Docker-Distribution-Api-Version": "registry/2.0",
        "WWW-Authenticate": "Bearer realm=\u0022https://annelocontainerregistry.azurecr.io/oauth2/token\u0022,service=\u0022annelocontainerregistry.azurecr.io\u0022,scope=\u0022repository:oci-artifact-large:metadata_read\u0022"
      },
      "ResponseBody": {
        "errors": [
          {
            "code": "UNAUTHORIZED",
            "message": "authentication required, visit https://aka.ms/acr/authorization for more information.",
            "detail": [
              {
                "Type": "repository",
                "Name": "oci-artifact-large",
                "Action": "metadata_read"
              }
            ]
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://annelocontainerregistry.azurecr.io/acr/v1/oci-artifact-large/_manifests/sha256%3A5b35986b0ff880629268fed8dc4040771b37e73ea0a7de26993d70d0240dee5f?api-version=2021-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Docker-Distribution-Api-Version": "registry/2.0"
      },
      "ResponseBody": {
        "registry": "annelocontainerregistry.azurecr.io",
        "imageName": "oci-artifact-large",
        "manifest": {
          "digest": "sha256:5b35986b0ff880629268fed8dc4040771b37e73ea0a7de26993d70d0240dee5f",
          "imageSize": 0,
          "createdTime": "2022-11-10T17:17:45.2186134Z",
          "lastUpdateTime": "2022-11-10T17:17:45.2186134Z",
          "mediaType": "application/vnd.oci.image.manifest.v1\u002Bjson",
          "tags": [
            "big-1"
          ],
          "changeableAttributes": {
            "deleteEnabled": true,
            "writeEnabled": true,
            "readEnabled": true,
            "listEnabled": true
          }
        }
      }
    },
    {
      "RequestUri": "https://annelocontainerregistry.azurecr.io/acr/v1/oci-artifact-large?api-version=2021-07-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Docker-Distribution-Api-Version": "registry/2.0",
        "WWW-Authenticate": "Bearer realm=\u0022https://annelocontainerregistry.azurecr.io/oauth2/token\u0022,service=\u0022annelocontainerregistry.azurecr.io\u0022,scope=\u0022repository:oci-artifact-large:delete\u0022"
      },
      "ResponseBody": {
        "errors": [
          {
            "code": "UNAUTHORIZED",
            "message": "authentication required, visit https://aka.ms/acr/authorization for more information.",
            "detail": [
              {
                "Type": "repository",
                "Name": "oci-artifact-large",
                "Action": "delete"
              }
            ]
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://annelocontainerregistry.azurecr.io/acr/v1/oci-artifact-large?api-version=2021-07-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Docker-Distribution-Api-Version": "registry/2.0",
        "X-Ms-Ratelimit-Remaining-Calls-Per-Second": "8.000000"
      },
      "ResponseBody": {
        "manifestsDeleted": [
          "sha256:5b35986b0ff880629268fed8dc4040771b37e73ea0a7de26993d70d0240dee5f"
        ],
        "tagsDeleted": [
          "big-1"
        ]
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com/",
    "CONTAINERREGISTRY_ENDPOINT": "https://annelocontainerregistry.azurecr.io",
    "RandomSeed": "115843538"
  }
}
