{
  "Entries": [
    {
      "RequestUri": "/subscriptions/6f53185c-ea09-4fc3-9075-318dec805303/providers/Microsoft.ProviderHub/providerRegistrations/Microsoft.Contoso/defaultRollouts/defaultRolloutSDK?api-version=2020-11-20",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"specification\": {\r\n      \"canary\": {\r\n        \"skipRegions\": [\r\n          \"BrazilUS\"\r\n        ]\r\n      }\r\n    }\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Retry-After": [
          "00:01:00"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/providers/Microsoft.ProviderHub/operationStatuses/0db7575f-1cf2-4adf-bc47-70351db6c229?api-version=2019-10-01"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"provisioningState\": \"RolloutInProgress\",\r\n    \"specification\": {\r\n      \"canary\": {\r\n        \"skipRegions\": [\r\n          \"BrazilUS\"\r\n        ],\r\n        \"regions\": [\r\n          \"eastus2euap\",\r\n          \"centraluseuap\"\r\n        ]\r\n      },\r\n      \"lowTraffic\": {\r\n        \"waitDuration\": \"P1D\",\r\n        \"regions\": [\r\n          \"westcentralus\"\r\n        ]\r\n      },\r\n      \"mediumTraffic\": {\r\n        \"waitDuration\": \"P1D\",\r\n        \"regions\": [\r\n          \"northcentralus\",\r\n          \"centralindia\"\r\n        ]\r\n      },\r\n      \"highTraffic\": {\r\n        \"waitDuration\": \"P1D\",\r\n        \"regions\": [\r\n          \"westus2\"\r\n        ]\r\n      },\r\n      \"restOfTheWorldGroupOne\": {\r\n        \"waitDuration\": \"P1D\",\r\n        \"regions\": [\r\n          \"westeurope\",\r\n          \"eastus\",\r\n          \"southcentralus\",\r\n          \"eastasia\",\r\n          \"uksouth\",\r\n          \"canadacentral\",\r\n          \"japanwest\",\r\n          \"australiasoutheast\",\r\n          \"koreacentral\",\r\n          \"francecentral\",\r\n          \"australiacentral\",\r\n          \"westus\",\r\n          \"uaecentral\",\r\n          \"southafricawest\",\r\n          \"switzerlandwest\",\r\n          \"norwaywest\",\r\n          \"westindia\",\r\n          \"germanywestcentral\"\r\n        ]\r\n      },\r\n      \"restOfTheWorldGroupTwo\": {\r\n        \"waitDuration\": \"P1D\",\r\n        \"regions\": [\r\n          \"northeurope\",\r\n          \"centralus\",\r\n          \"southeastasia\",\r\n          \"ukwest\",\r\n          \"canadaeast\",\r\n          \"brazilsouth\",\r\n          \"japaneast\",\r\n          \"australiaeast\",\r\n          \"koreasouth\",\r\n          \"eastus2\",\r\n          \"francesouth\",\r\n          \"australiacentral2\",\r\n          \"uaenorth\",\r\n          \"southafricanorth\",\r\n          \"switzerlandnorth\",\r\n          \"germanynorth\",\r\n          \"norwayeast\",\r\n          \"brazilsoutheast\",\r\n          \"eastusslv\",\r\n          \"southindia\",\r\n          \"westus3\"\r\n        ]\r\n      }\r\n    },\r\n    \"status\": {\r\n      \"nextTrafficRegion\": \"Canary\",\r\n      \"nextTrafficRegionScheduledTime\": \"2021-02-26T04:26:35.8920983Z\",\r\n      \"completedRegions\": [],\r\n      \"failedOrSkippedRegions\": {}\r\n    }\r\n  },\r\n  \"name\": \"defaultRolloutSDK\"\r\n}",
      "StatusCode": 201
    },
[...]
    {
      "RequestUri": "/subscriptions/6f53185c-ea09-4fc3-9075-318dec805303/providers/Microsoft.ProviderHub/providerRegistrations/Microsoft.Contoso/defaultRollouts/defaultRolloutSDK?api-version=2020-11-20",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ],
        "x-ms-failure-cause": [
          "gateway"
        ],
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"RolloutNotFound\",\r\n    \"message\": \"The manifest rollout 'defaultRolloutSDK' under the provider namespace 'Microsoft.Contoso' could not be found.\"\r\n  }\r\n}",
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/6f53185c-ea09-4fc3-9075-318dec805303/providers/Microsoft.ProviderHub/providerRegistrations/Microsoft.Contoso/defaultRollouts?api-version=2020-11-20",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"properties\": {\r\n        \"provisioningState\": \"Succeeded\",\r\n        \"specification\": {\r\n          \"canary\": {\r\n            \"regions\": [\r\n              \"brazilus\",\r\n              \"eastus2euap\",\r\n              \"centraluseuap\"\r\n            ]\r\n          },\r\n          \"lowTraffic\": {\r\n            \"waitDuration\": \"P1D\",\r\n            \"regions\": [\r\n              \"westcentralus\"\r\n            ]\r\n          },\r\n          \"medi[...]
    {
      "RequestUri": "/subscriptions/6f53185c-ea09-4fc3-9075-318dec805303/providers/Microsoft.ProviderHub/providerRegistrations/Microsoft.Contoso/defaultRollouts/defaultRolloutSDK/stop?api-version=2020-11-20",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "null",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/6f53185c-ea09-4fc3-9075-318dec805303/providers/Microsoft.ProviderHub/providerRegistrations/Microsoft.Contoso/defaultRollouts/defaultRolloutSDK?api-version=2020-11-20",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-deletes": [
          "14999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "null",
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "6f53185c-ea09-4fc3-9075-318dec805303"
  }
}