{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/051ddeca-1ed6-4d8b-ba6f-1ff561e5f3b3?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11962"
      },
      "ResponseBody": {
        "id": "/subscriptions/051ddeca-1ed6-4d8b-ba6f-1ff561e5f3b3",
        "authorizationSource": "RoleBased",
        "managedByTenants": [
          {
            "tenantId": "2f4a9838-26b7-47ee-be60-ccc1fdec5953"
          }
        ],
        "tags": {
          "sub_tagname_1": "sub_tagvalue_1"
        },
        "subscriptionId": "051ddeca-1ed6-4d8b-ba6f-1ff561e5f3b3",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": "Synapse Web Tooling",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/051ddeca-1ed6-4d8b-ba6f-1ff561e5f3b3/resourcegroups/synapsesdkrp8989?api-version=**",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus2"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1195"
      },
      "ResponseBody": {
        "id": "/subscriptions/051ddeca-1ed6-4d8b-ba6f-1ff561e5f3b3/resourceGroups/synapsesdkrp8989",
        "name": "synapsesdkrp8989",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus2",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/051ddeca-1ed6-4d8b-ba6f-1ff561e5f3b3/resourceGroups/synapsesdkrp8989/providers/Microsoft.Storage/storageAccounts/synapsesdkstorage7589?api-version=2022-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "sku": {
          "name": "Standard_GRS"
        },
        "kind": "StorageV2",
        "location": "eastus2",
        "properties": {}
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "text/plain; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/051ddeca-1ed6-4d8b-ba6f-1ff561e5f3b3/providers/Microsoft.Storage/locations/eastus2/asyncoperations/60bfa651-16b9-415d-9af5-033136221e6f?monitor=true\u0026api-version=2022-09-01",
        "Retry-After": "17",
        "x-ms-ratelimit-remaining-subscription-writes": "1194"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/051ddeca-1ed6-4d8b-ba6f-1ff561e5f3b3/providers/Microsoft.Storage/locations/eastus2/asyncoperations/60bfa651-16b9-415d-9af5-033136221e6f?monitor=true\u0026api-version=2022-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "text/plain; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/051ddeca-1ed6-4d8b-ba6f-1ff561e5f3b3/providers/Microsoft.Storage/locations/eastus2/asyncoperations/60bfa651-16b9-415d-9af5-033136221e6f?monitor=true\u0026api-version=2022-09-01",
        "Retry-After": "17",
        "x-ms-ratelimit-remaining-subscription-reads": "11961"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/051ddeca-1ed6-4d8b-ba6f-1ff561e5f3b3/providers/Microsoft.Storage/locations/eastus2/asyncoperations/60bfa651-16b9-415d-9af5-033136221e6f?monitor=true\u0026api-version=2022-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ratelimit-remaining-subscription-reads": "11960"
      },
      "ResponseBody": {
        "sku": {
          "name": "Standard_GRS",
          "tier": "Standard"
        },
        "kind": "StorageV2",
        "id": "/subscriptions/051ddeca-1ed6-4d8b-ba6f-1ff561e5f3b3/resourceGroups/synapsesdkrp8989/providers/Microsoft.Storage/storageAccounts/synapsesdkstorage7589",
        "name": "synapsesdkstorage7589",
        "type": "Microsoft.Storage/storageAccounts",
        "location": "eastus2",
        "tags": {},
        "properties": {
          "keyCreationTime": {
            "key1": "2023-02-20T02:46:00.9918441Z",
            "key2": "2023-02-20T02:46:00.9918441Z"
          },
          "privateEndpointConnections": [],
          "minimumTlsVersion": "TLS1_0",
          "allowBlobPublicAccess": true,
          "networkAcls": {
            "bypass": "AzureServices",
            "virtualNetworkRules": [],
            "ipRules": [],
            "defaultAction": "Allow"
          },
          "supportsHttpsTrafficOnly": true,
          "encryption": {
            "services": {
              "file": {
                "keyType": "Account",
                "enabled": true,
                "lastEnabledTime": "2023-02-20T02:46:01.6793994Z"
              },
              "blob": {
                "keyType": "Account",
                "enabled": true,
                "lastEnabledTime": "2023-02-20T02:46:01.6793994Z"
              }
            },
            "keySource": "Microsoft.Storage"
          },
          "accessTier": "Hot",
          "provisioningState": "Succeeded",
          "creationTime": "2023-02-20T02:46:00.8514502Z",
          "primaryEndpoints": {
            "dfs": "https://synapsesdkstorage7589.dfs.core.windows.net/",
            "web": "https://synapsesdkstorage7589.z20.web.core.windows.net/",
            "blob": "https://synapsesdkstorage7589.blob.core.windows.net/",
            "queue": "https://synapsesdkstorage7589.queue.core.windows.net/",
            "table": "https://synapsesdkstorage7589.table.core.windows.net/",
            "file": "https://synapsesdkstorage7589.file.core.windows.net/"
          },
          "primaryLocation": "eastus2",
          "statusOfPrimary": "available",
          "secondaryLocation": "centralus",
          "statusOfSecondary": "available"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/051ddeca-1ed6-4d8b-ba6f-1ff561e5f3b3/resourceGroups/synapsesdkrp8989/providers/Microsoft.Storage/storageAccounts/synapsesdkstorage7589/listKeys?api-version=2022-09-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "11998"
      },
      "ResponseBody": {
        "keys": [
          {
            "creationTime": "2023-02-20T02:46:00.9918441Z",
            "keyName": "key1",
            "value": "3iGoUK1fIEuTePrE87gXY9lioaNl2lDzP4DhPg0lYorLamjxdewdAyHCRWJjeDjVJU1JM9sgHImi\u002BAStKZ3rZA==",
            "permissions": "FULL"
          },
          {
            "creationTime": "2023-02-20T02:46:00.9918441Z",
            "keyName": "key2",
            "value": "pBYGz4WTHvXS\u002By66cyp6iFiE8e1mvccnCV\u002BQogT7pFn9kL\u002Bk9VHFUz2W6qzxYdi5FFRI3fUKTgW5\u002BASt6PF0JQ==",
            "permissions": "FULL"
          }
        ]
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/051ddeca-1ed6-4d8b-ba6f-1ff561e5f3b3/resourceGroups/synapsesdkrp8989/providers/Microsoft.Synapse/workspaces/synapsesdkworkspace3979?api-version=2021-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "identity": {
          "type": "SystemAssigned"
        },
        "tags": {},
        "location": "eastus2",
        "properties": {
          "defaultDataLakeStorage": {
            "accountUrl": "https://synapsesdkstorage7589.dfs.core.windows.net/",
            "filesystem": "synapsesdkfilesys7099"
          },
          "sqlAdministratorLoginPassword": "Password1!2518",
          "sqlAdministratorLogin": "sshuser7954"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/051ddeca-1ed6-4d8b-ba6f-1ff561e5f3b3/resourceGroups/synapsesdkrp8989/providers/Microsoft.Synapse/workspaces/synapsesdkworkspace3979/operationStatuses/a5ecd8ff-d5ce-48c7-9f45-ec15c83bc1cc?api-version=2021-06-01",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1193"
      },
      "ResponseBody": {
        "properties": {
          "defaultDataLakeStorage": {
            "createManagedPrivateEndpoint": false,
            "accountUrl": "https://synapsesdkstorage7589.dfs.core.windows.net/",
            "filesystem": "synapsesdkfilesys7099"
          },
          "encryption": {
            "doubleEncryptionEnabled": false
          },
          "provisioningState": "Provisioning",
          "connectivityEndpoints": {
            "web": "https://web.azuresynapse.net?workspace=%2fsubscriptions%2f051ddeca-1ed6-4d8b-ba6f-1ff561e5f3b3%2fresourceGroups%2fsynapsesdkrp8989%2fproviders%2fMicrosoft.Synapse%2fworkspaces%2fsynapsesdkworkspace3979",
            "dev": "https://synapsesdkworkspace3979.dev.azuresynapse.net",
            "sqlOnDemand": "synapsesdkworkspace3979-ondemand.sql.azuresynapse.net",
            "sql": "synapsesdkworkspace3979.sql.azuresynapse.net"
          },
          "managedResourceGroupName": "synapseworkspace-managedrg-1221e6f9-2cbe-4436-85a5-f2cb1317b371",
          "privateEndpointConnections": [],
          "workspaceUID": "7faa9284-a884-473b-a6c0-7e257feaa8cf",
          "extraProperties": {
            "WorkspaceType": "Normal"
          },
          "publicNetworkAccess": "Enabled",
          "cspWorkspaceAdminProperties": {
            "initialWorkspaceAdminObjectId": "5adcf4d8-4923-420e-ab0b-f6e5fc718b42"
          },
          "trustedServiceBypassEnabled": false
        },
        "type": "Microsoft.Synapse/workspaces",
        "id": "/subscriptions/051ddeca-1ed6-4d8b-ba6f-1ff561e5f3b3/resourceGroups/synapsesdkrp8989/providers/Microsoft.Synapse/workspaces/synapsesdkworkspace3979",
        "location": "eastus2",
        "name": "synapsesdkworkspace3979",
        "identity": {
          "type": "SystemAssigned",
          "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
          "principalId": "5cd68555-5e85-4ed0-982e-4ed6b7108f0a"
        },
        "tags": {}
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/051ddeca-1ed6-4d8b-ba6f-1ff561e5f3b3/resourceGroups/synapsesdkrp8989/providers/Microsoft.Synapse/workspaces/synapsesdkworkspace3979/operationStatuses/a5ecd8ff-d5ce-48c7-9f45-ec15c83bc1cc?api-version=2021-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11959"
      },
      "ResponseBody": {
        "status": "InProgress"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/051ddeca-1ed6-4d8b-ba6f-1ff561e5f3b3/resourceGroups/synapsesdkrp8989/providers/Microsoft.Synapse/workspaces/synapsesdkworkspace3979?api-version=2021-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "identity": {
          "type": "SystemAssigned"
        },
        "tags": {
          "TestTag": "TestUpdate"
        },
        "location": "eastus2",
        "properties": {
          "defaultDataLakeStorage": {
            "accountUrl": "https://synapsesdkstorage7589.dfs.core.windows.net/",
            "filesystem": "synapsesdkfilesys7099"
          },
          "sqlAdministratorLoginPassword": "Password1!2518",
          "sqlAdministratorLogin": "sshuser7954"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/051ddeca-1ed6-4d8b-ba6f-1ff561e5f3b3/resourceGroups/synapsesdkrp8989/providers/Microsoft.Synapse/workspaces?api-version=2021-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "1[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/051ddeca-1ed6-4d8b-ba6f-1ff561e5f3b3/providers/Microsoft.Synapse/locations/eastus2/operationStatuses/868e7114-7ff5-4715-9c63-5d7979cade28?api-version=2021-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11935"
      },
      "ResponseBody": {
        "status": "InProgress"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/051ddeca-1ed6-4d8b-ba6f-1ff561e5f3b3/resourceGroups/synapsesdkrp8989/providers/Microsoft.Synapse/workspaces?api-version=2021-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11925"
      },
      "ResponseBody": {
        "value": []
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com/",
    "RandomSeed": "605095358",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "051ddeca-1ed6-4d8b-ba6f-1ff561e5f3b3"
  }
}
