{
  "Entries": [
    {
      "RequestUri": "/subscriptions/b80cf239-2c72-47ab-b309-b26aec4656b1/providers/Microsoft.Search/register?api-version=2014-04-01-preview",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/b80cf239-2c72-47ab-b309-b26aec4656b1/providers/Microsoft.Search\",\r\n  \"namespace\": \"Microsoft.Search\",\r\n  \"resourceTypes\": [\r\n    {\r\n      \"resourceType\": \"searchServices\",\r\n      \"locations\": [\r\n        \"West US\"\r\n      ],\r\n      \"apiVersions\": [\r\n        \"2015-08-19\",\r\n        \"2015-02-28\",\r\n        \"2014-07-31-Preview\"\r\n      ]\r\n    },\r\n    {\r\n      \"resourceType\": \"searchServicesCit\",\r\n      \"locations\": [\r\n        \"West US\"\r\n      ],\r\n      \"apiVersions\": [\r\n        \"2015-08-19\",\r\n        \"2015-02-28\",\r\n        \"2014-07-31-Preview\"\r\n      ]\r\n    },\r\n    {\r\n      \"resourceType\": \"searchServicesInt\",\r\n      \"locations\": [\r\n        \"West US\"\r\n      ],\r\n      \"[...]
    {
      "RequestUri": "/subscriptions/b80cf239-2c72-47ab-b309-b26aec4656b1/resourcegroups/azsmnet8133?api-version=2014-04-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"West US\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/b80cf239-2c72-47ab-b309-b26aec4656b1/resourceGroups/azsmnet8133\",\r\n  \"name\": \"azsmnet8133\",\r\n  \"location\": \"westus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1157"
        ]
      },
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/b80cf239-2c72-47ab-b309-b26aec4656b1/resourceGroups/azsmnet8133/providers/Microsoft.Search/searchServices/azs-4373?api-version=2015-02-28",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"West US\",\r\n  \"properties\": {\r\n    \"sku\": {\r\n      \"name\": \"free\"\r\n    }\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/b80cf239-2c72-47ab-b309-b26aec4656b1/resourceGroups/azsmnet8133/providers/Microsoft.Search/searchServices/azs-4373\",\r\n  \"name\": \"azs-4373\",\r\n  \"type\": \"Microsoft.Search/searchServices\",\r\n  \"location\": \"West US\",\r\n  \"properties\": {\r\n    \"sku\": {\r\n      \"name\": \"free\"\r\n    },\r\n    \"replicaCount\": 1,\r\n    \"partitionCount\": 1,\r\n    \"status\": \"running\",\r\n    \"statusDetails\": null,\r\n    \"provisioningState\": \"succeeded\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "elapsed-time": [
          "2524"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1158"
        ],
        "ETag": [
          "W/\"datetime'2015-12-09T22%3A00%3A48.8461947Z'\""
        ]
      },
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/b80cf239-2c72-47ab-b309-b26aec4656b1/resourceGroups/azsmnet8133/providers/Microsoft.Search/searchServices/azs-4373/listAdminKeys?api-version=2015-02-28",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"primaryKey\": \"D929D62581FD9A28E2054DF75B784BD4\",\r\n  \"secondaryKey\": \"42F9FE3A49E2C4F4E95E8F788D8BA091\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "elapsed-time": [
          "554"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1157"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/b80cf239-2c72-47ab-b309-b26aec4656b1/resourceGroups/azsmnet8133/providers/Microsoft.Search/searchServices/azs-4373/listQueryKeys?api-version=2015-02-28",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"name\": null,\r\n      \"key\": \"D99A3930A198AA246F44A791068AD634\"\r\n    }\r\n  ],\r\n  \"nextLink\": null\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "elapsed-time": [
          "418"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14991"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/datasources?api-version=2015-02-28",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"name\": \"azsmnet1028\",\r\n  \"type\": \"azuresql\",\r\n  \"credentials\": {\r\n    \"connectionString\": \"Server=tcp:fake,1433;Database=fake;User ID=fake;Password=fake;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;\"\r\n  },\r\n  \"container\": {\r\n    \"name\": \"faketable\"\r\n  },\r\n  \"dataChangeDetectionPolicy\": {\r\n    \"@odata.type\": \"#Microsoft.Azure.Search.HighWaterMarkChangeDetectionPolicy\",\r\n    \"highWaterMarkColumnName\": \"fakecolumn\"\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "api-key": [
          "D929D62581FD9A28E2054DF75B784BD4"
        ],
        "Prefer": [
          "return=representation"
        ]
      },
      "ResponseBody": "{\"@odata.context\":\"https://azs-4373.search-dogfood.windows-int.net/$metadata#datasources/$entity\",\"name\":\"azsmnet1028\",\"description\":null,\"type\":\"azuresql\",\"credentials\":{\"connectionString\":\"Server=tcp:fake,1433;Database=fake;User ID=fake;Password=fake;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;\"},\"container\":{\"name\":\"faketable\",\"query\":null},\"dataChangeDetectionPolicy\":{\"@odata.type\":\"#Microsoft.Azure.Search.HighWaterMarkChangeDetectionPolicy\",\"highWaterMarkColumnName\":\"fakecolumn\"},\"dataDeletionDetectionPolicy\":null}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; odata.metadata=minimal"
        ],
        "elapsed-time": [
          "97"
        ],
        "OData-Version": [
          "4.0"
        ],
        "Preference-Applied": [
          "odata.include-annotations=\"*\""
        ],
        "Location": [
          "https://azs-4373.search-dogfood.windows-int.net/datasources('azsmnet1028')?api-version=2015-02-28"
        ]
      },
      "StatusCode": 201
    },
    {
      "RequestUri": "/datasources('azsmnet1028')?api-version=2015-02-28",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"name\": \"azsmnet1028\",\r\n  \"description\": \"somethingdifferent\",\r\n  \"type\": \"azuresql\",\r\n  \"credentials\": {\r\n    \"connectionString\": \"Server=tcp:fake,1433;Database=fake;User ID=fake;Password=fake;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;\"\r\n  },\r\n  \"container\": {\r\n    \"name\": \"somethingdifferent\"\r\n  },\r\n  \"dataChangeDetectionPolicy\": {\r\n    \"@odata.type\": \"#Microsoft.Azure.Search.HighWaterMarkChangeDetectionPolicy\",\r\n    \"highWaterMarkColumnName\": \"rowversion\"\r\n  },\r\n  \"dataDeletionDetectionPolicy\": {\r\n    \"@odata.type\": \"#Microsoft.Azure.Search.SoftDeleteColumnDeletionDetectionPolicy\",\r\n    \"softDeleteColumnName\": \"isDeleted\",\r\n    \"softDeleteMarkerValue\": \"1\"\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "api-key": [
          "D929D62581FD9A28E2054DF75B784BD4"
        ],
        "Prefer": [
          "return=representation"
        ]
      },
      "ResponseBody": "{\"@odata.context\":\"https://azs-4373.search-dogfood.windows-int.net/$metadata#datasources/$entity\",\"name\":\"azsmnet1028\",\"description\":\"somethingdifferent\",\"type\":\"azuresql\",\"credentials\":{\"connectionString\":\"Server=tcp:fake,1433;Database=fake;User ID=fake;Password=fake;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;\"},\"container\":{\"name\":\"somethingdifferent\",\"query\":null},\"dataChangeDetectionPolicy\":{\"@odata.type\":\"#Microsoft.Azure.Search.HighWaterMarkChangeDetectionPolicy\",\"highWaterMarkColumnName\":\"rowversion\"},\"dataDeletionDetectionPolicy\":{\"@odata.type\":\"#Microsoft.Azure.Search.SoftDeleteColumnDeletionDetectionPolicy\",\"softDeleteColumnName\":\"isDeleted\",\"softDeleteMarkerValue\":\"1\"}}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; odata.metadata=minimal"
        ],
        "elapsed-time": [
          "107"
        ],
        "OData-Version": [
          "4.0"
        ],
        "Preference-Applied": [
          "odata.include-annotations=\"*\""
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/b80cf239-2c72-47ab-b309-b26aec4656b1/resourceGroups/azsmnet8133/providers/Microsoft.Search/searchServices/azs-4373?api-version=2015-02-28",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "elapsed-time": [
          "764"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1147"
        ]
      },
      "StatusCode": 200
    }
  ],
  "Names": {
    "GenerateName": [
      "azsmnet8133",
      "azsmnet1028",
      "azsmnet228"
    ],
    "GenerateServiceName": [
      "azs-4373"
    ]
  },
  "Variables": {
    "SubscriptionId": "b80cf239-2c72-47ab-b309-b26aec4656b1"
  }
}