{
  "Entries": [
    {
      "RequestUri": "https://smstestapp.communication.azure.com/sms?api-version=2021-03-07",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "from": "Sanitized",
        "smsRecipients": [
          {
            "to": "Sanitized",
            "repeatabilityRequestId": "Sanitized",
            "repeatabilityFirstSent": "Sanitized"
          },
          {
            "to": "Sanitized",
            "repeatabilityRequestId": "Sanitized",
            "repeatabilityFirstSent": "Sanitized"
          }
        ],
        "message": "Hi",
        "smsSendOptions": {
          "enableDeliveryReport": true,
          "tag": "marketing"
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "api-supported-versions": "2020-07-20-preview1, 2020-08-20-preview, 2021-03-07",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "/6wbX18SDkC48iKcZtOPGw.0",
        "X-Processing-Time": "482ms"
      },
      "ResponseBody": {
        "value": [
          {
            "to": "Sanitized",
            "messageId": "Outgoing_20210226233734be357206-5462-4b6d-bb0f-598d771817b9_noam",
            "httpStatusCode": 202,
            "errorMessage": null,
            "repeatabilityResult": "accepted",
            "successful": true
          },
          {
            "to": "Sanitized",
            "messageId": "Outgoing_20210226233734a8ac9387-b3ab-4af8-acec-807c8eabb755_noam",
            "httpStatusCode": 202,
            "errorMessage": null,
            "repeatabilityResult": "accepted",
            "successful": true
          }
        ]
      }
    }
  ],
  "Variables": {
    "AZURE_PHONE_NUMBER": "\u002B18005555555",
    "COMMUNICATION_CONNECTION_STRING": "endpoint=https://smstestapp.communication.azure.com/;accesskey=Kg==",
    "RandomSeed": "632665570"
  }
}