{
  "Entries": [
    {
      "RequestUri": "https://smstestapp.communication.azure.com/sms?api-version=2021-03-07",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "from": "Sanitized",
        "smsRecipients": [
          {
            "to": "Sanitized",
            "repeatabilityRequestId": "Sanitized",
            "repeatabilityFirstSent": "Sanitized"
          }
        ],
        "message": "Hi"
      },
      "StatusCode": 404,
      "ResponseHeaders": {
        "api-supported-versions": "2020-07-20-preview1, 2020-08-20-preview, 2021-03-07",
        "MS-CV": "YxRTv1jyUUqX\u002BCTpffP02A.0",
        "X-Processing-Time": "363ms"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "AZURE_COMMUNICATION_LIVETEST_CONNECTION_STRING": "endpoint=https://smstestapp.communication.azure.com/;accesskey=3z7dN2ZEcANlOejjlHaJUfqdC4SyuzdiHbaMcFR0tNRK37KDZ14HUuhIybbBgt6oSQwUwu5TnF5cYFm22Lh/xg==",
    "AZURE_PHONE_NUMBER": "\u002B18005555555",
    "RandomSeed": "257421069"
  }
}