{
  "Entries": [
    {
      "RequestUri": "https://smstestapp.communication.azure.com/sms?api-version=2021-03-07",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "from": "Sanitized",
        "smsRecipients": [
          {
            "to": "Sanitized",
            "repeatabilityRequestId": "ec4d901c-d125-42a1-b726-0b67d3cdf581",
            "repeatabilityFirstSent": "02/26/2021 10:32:45"
          },
          {
            "to": "Sanitized",
            "repeatabilityRequestId": "05008124-b247-4287-814d-74a041f1bfbb",
            "repeatabilityFirstSent": "02/26/2021 10:32:45"
          }
        ],
        "message": "Hi"
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "api-supported-versions": "2020-07-20-preview1, 2020-08-20-preview, 2021-03-07",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "oR0IjpMEWUW4U\u002B2TY3GdDg.0",
        "X-Processing-Time": "288ms"
      },
      "ResponseBody": {
        "value": [
          {
            "to": "Sanitized",
            "messageId": "Outgoing_20210226183245ec557978-94de-472d-9c44-6dadbe856454_noam",
            "httpStatusCode": 202,
            "errorMessage": null,
            "repeatabilityResult": "accepted",
            "successful": true
          },
          {
            "to": "Sanitized",
            "messageId": "Outgoing_20210226183245de0983b6-3fc7-4eb6-b301-662b6f53a692_noam",
            "httpStatusCode": 202,
            "errorMessage": null,
            "repeatabilityResult": "accepted",
            "successful": true
          }
        ]
      }
    }
  ],
  "Variables": {
    "AZURE_PHONE_NUMBER": "\u002B18005555555",
    "COMMUNICATION_CONNECTION_STRING": "endpoint=https://smstestapp.communication.azure.com/;accesskey=Kg==",
    "RandomSeed": "747633515"
  }
}