{
  "Entries": [
    {
      "RequestUri": "https://smstestapp.communication.azure.com/sms?api-version=2021-03-07",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "from": "Sanitized",
        "smsRecipients": [
          {
            "to": "Sanitized",
            "repeatabilityRequestId": "Sanitized",
            "repeatabilityFirstSent": "Sanitized"
          }
        ],
        "message": "Hi"
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "api-supported-versions": "2020-07-20-preview1, 2020-08-20-preview, 2021-03-07",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "hWKbFAXmW02qUoWwZ8dhUg.0",
        "X-Processing-Time": "467ms"
      },
      "ResponseBody": {
        "value": [
          {
            "to": "Sanitized",
            "messageId": "Outgoing_20210309213236463fffa2-f571-4f93-9404-f4e0bb18542a_noam",
            "httpStatusCode": 202,
            "repeatabilityResult": "accepted",
            "successful": true
          }
        ]
      }
    },
    {
      "RequestUri": "https://smstestapp.communication.azure.com/sms?api-version=2021-03-07",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "from": "Sanitized",
        "smsRecipients": [
          {
            "to": "Sanitized",
            "repeatabilityRequestId": "Sanitized",
            "repeatabilityFirstSent": "Sanitized"
          }
        ],
        "message": "Hi"
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "api-supported-versions": "2020-07-20-preview1, 2020-08-20-preview, 2021-03-07",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "Xgwe40dzLkS2z1vclAjA/w.0",
        "X-Processing-Time": "469ms"
      },
      "ResponseBody": {
        "value": [
          {
            "to": "Sanitized",
            "messageId": "Outgoing_202103092132378087c10c-112d-4fba-982c-af5328f76f46_noam",
            "httpStatusCode": 202,
            "repeatabilityResult": "accepted",
            "successful": true
          }
        ]
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_STATIC_CONNECTION_STRING": "endpoint=https://smstestapp.communication.azure.com/;accesskey=Kg==",
    "AZURE_PHONE_NUMBER": "\u002B14255550123",
    "RandomSeed": "203598891"
  }
}