{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.com/sms?api-version=2020-07-20-preview1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "from": "Sanitized",
        "to": "Sanitized",
        "message": "Hi"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "agzaG2yXxEijoZa/sDYCFQ.0",
        "X-Processing-Time": "559ms"
      },
      "ResponseBody": {
        "messageId": "Sanitized"
      }
    }
  ],
  "Variables": {
    "AZURE_PHONE_NUMBER": "\u002B18005555555",
    "COMMUNICATION_CONNECTION_STRING": "endpoint=https://sanitized.communication.azure.com/;accesskey=Kg==",
    "RandomSeed": "1749107038"
  }
}