{
  "Entries": [
    {
      "RequestUri": "https://smstestapp.communication.azure.com/sms?api-version=2021-03-07",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "from": "Sanitized",
        "smsRecipients": [
          {
            "to": "Sanitized",
            "repeatabilityRequestId": "Sanitized",
            "repeatabilityFirstSent": "Sanitized"
          }
        ],
        "message": "Hi"
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "api-supported-versions": "2020-07-20-preview1, 2020-08-20-preview, 2021-03-07",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "gJJNdlQdg0WCPXJWRYtqmg.0",
        "X-Processing-Time": "292ms"
      },
      "ResponseBody": {
        "value": [
          {
            "to": "Sanitized",
            "messageId": "Outgoing_202103012059188d2392ee-7e6d-4706-8170-85ef306a97a4_noam",
            "httpStatusCode": 202,
            "errorMessage": null,
            "repeatabilityResult": "accepted",
            "successful": true
          }
        ]
      }
    }
  ],
  "Variables": {
    "AZURE_PHONE_NUMBER": "\u002B18005555555",
    "COMMUNICATION_CONNECTION_STRING": "endpoint=https://smstestapp.communication.azure.com/;accesskey=Kg==",
    "RandomSeed": "897551786"
  }
}