{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/fbccad30-f0ed-4ac4-9497-93bf6141062f?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11927"
      },
      "ResponseBody": {
        "id": "/subscriptions/fbccad30-f0ed-4ac4-9497-93bf6141062f",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "NRMS9825974": "20220330",
          "NRMSBreakGlassAzureOnly": "286269898",
          "NRMS13179388": "20220808"
        },
        "subscriptionId": "fbccad30-f0ed-4ac4-9497-93bf6141062f",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": "Kusto_Dev_Kusto_Ilay_00",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/fbccad30-f0ed-4ac4-9497-93bf6141062f/resourcegroups/CSharpSDKRG275?api-version=**",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11926"
      },
      "ResponseBody": {
        "id": "/subscriptions/fbccad30-f0ed-4ac4-9497-93bf6141062f/resourceGroups/CSharpSDKRG275",
        "name": "CSharpSDKRG275",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "australiaeast",
        "tags": {
          "DeleteAfter": "2023-06-29T20:12:45.0225642Z",
          "Owners": "michaelshikh",
          "ServiceDirectory": "kusto"
        },
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/fbccad30-f0ed-4ac4-9497-93bf6141062f/resourceGroups/CSharpSDKRG275/providers/Microsoft.Kusto/clusters/sdkCluster275?api-version=2023-05-02",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00222023-06-29T19:35:44.6534612Z\u0022",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "299"
      },
      "ResponseBody": {
        "id": "/subscriptions/fbccad30-f0ed-4ac4-9497-93bf6141062f/resourceGroups/CSharpSDKRG275/providers/Microsoft.Kusto/Clusters/sdkCluster275",
        "name": "sdkCluster275",
        "type": "Microsoft.Kusto/Clusters",
        "etag": "\u00222023-06-29T19:35:44.6534612Z\u0022",
        "location": "Australia East",
        "sku": {
          "name": "Standard_E2a_v4",
          "tier": "Standard",
          "capacity": 2
        },
        "tags": {},
        "properties": {
          "state": "Running",
          "stateReason": null,
          "uri": "https://sdkcluster275.australiaeast.dev.kusto.windows.net",
          "dataIngestionUri": "https://ingest-sdkcluster275.australiaeast.dev.kusto.windows.net",
          "trustedExternalTenants": [],
          "virtualNetworkConfiguration": null,
          "optimizedAutoscale": null,
          "enableDiskEncryption": false,
          "enableStreamingIngest": false,
          "keyVaultProperties": null,
          "languageExtensions": {
            "value": []
          },
          "enablePurge": null,
          "enableDoubleEncryption": false,
          "engineType": "V3",
          "acceptedAudiences": [],
          "restrictOutboundNetworkAccess": "Disabled",
          "allowedFqdnList": [],
          "publicNetworkAccess": "Enabled",
          "allowedIpRangeList": [],
          "enableAutoStop": true,
          "publicIPType": "IPv4",
          "virtualClusterGraduationProperties": null,
          "privateEndpointConnections": [
            {
              "name": "sdkPrivateEndpoint275-dc20dcd0-60a2-41fe-ab6a-a91f276d7650",
              "type": "Microsoft.Kusto/Clusters/privateEndpointConnections",
              "id": "/subscriptions/fbccad30-f0ed-4ac4-9497-93bf6141062f/resourceGroups/CSharpSDKRG275/providers/Microsoft.Kusto/Clusters/sdkCluster275/privateEndpointConnections/sdkPrivateEndpoint275-dc20dcd0-60a2-41fe-ab6a-a91f276d7650",
              "properties": {
                "provisioningState": "Succeeded",
                "groupId": "cluster",
                "privateEndpoint": {
                  "id": "/subscriptions/fbccad30-f0ed-4ac4-9497-93bf6141062f/resourceGroups/CSharpSDKRG275/providers/Microsoft.Network/privateEndpoints/sdkPrivateEndpoint275"
                },
                "privateLinkServiceConnectionState": {
                  "status": "Approved",
                  "description": "",
                  "actionsRequired": "None"
                }
              }
            }
          ],
          "migrationCluster": null,
          "provisioningState": "Succeeded"
        },
        "identity": {
          "principalId": "248b89d6-0e4e-4feb-a6da-492b52973868",
          "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
          "type": "SystemAssigned, UserAssigned",
          "userAssignedIdentities": {
            "/subscriptions/fbccad30-f0ed-4ac4-9497-93bf6141062f/resourcegroups/CSharpSDKRG275/providers/Microsoft.ManagedIdentity/userAssignedIdentities/sdkUserAssignedIdentity275": {
              "principalId": "350beacb-08b0-4272-aa40-9fe463a5304c",
              "clientId": "771fdec6-d1e2-4987-8076-804f0a92960a"
            }
          }
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/fbccad30-f0ed-4ac4-9497-93bf6141062f/resourceGroups/CSharpSDKRG275/providers/Microsoft.Kusto/clusters/sdkCluster275/privateLinkResources/cluster?api-version=2023-05-02",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022\u0022",
        "x-ms-ratelimit-remaining-subscription-reads": "11925"
      },
      "ResponseBody": {
        "id": "/subscriptions/fbccad30-f0ed-4ac4-9497-93bf6141062f/resourceGroups/CSharpSDKRG275/providers/Microsoft.Kusto/Clusters/sdkCluster275/PrivateLinkResources/cluster",
        "name": "sdkCluster275/cluster",
        "type": "Microsoft.Kusto/Clusters/PrivateLinkResources",
        "etag": "\u0022\u0022",
        "location": "DummyLocation",
        "properties": {
          "GroupId": "cluster",
          "RequiredMembers": [
            "Engine",
            "DataManagement",
            "blob-49pkstrldsdkcluster27500",
            "queue-49pkstrldsdkcluster27500",
            "table-49pkstrldsdkcluster27500",
            "blob-fr3kstrldsdkcluster27501",
            "queue-fr3kstrldsdkcluster27501",
            "table-fr3kstrldsdkcluster27501"
          ],
          "RequiredZoneNames": [
            "privatelink.australiaeast.dev.kusto.windows.net",
            "privatelink.blob.core.windows.net",
            "privatelink.queue.core.windows.net",
            "privatelink.table.core.windows.net"
          ],
          "provisioningState": "Succeeded"
        },
        "displayName": "cluster"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/fbccad30-f0ed-4ac4-9497-93bf6141062f/resourceGroups/CSharpSDKRG275/providers/Microsoft.Kusto/clusters/sdkCluster275/privateLinkResources?api-version=2023-05-02",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11924"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/fbccad30-f0ed-4ac4-9497-93bf6141062f/resourceGroups/CSharpSDKRG275/providers/Microsoft.Kusto/Clusters/sdkCluster275/PrivateLinkResources/cluster",
            "name": "sdkCluster275/cluster",
            "type": "Microsoft.Kusto/Clusters/PrivateLinkResources",
            "location": "Australia East",
            "properties": {
              "groupId": "cluster",
              "requiredMembers": [
                "Engine",
                "DataManagement",
                "blob-49pkstrldsdkcluster27500",
                "queue-49pkstrldsdkcluster27500",
                "table-49pkstrldsdkcluster27500",
                "blob-fr3kstrldsdkcluster27501",
                "queue-fr3kstrldsdkcluster27501",
                "table-fr3kstrldsdkcluster27501"
              ],
              "requiredZoneNames": [
                "privatelink.australiaeast.dev.kusto.windows.net",
                "privatelink.blob.core.windows.net",
                "privatelink.queue.core.windows.net",
                "privatelink.table.core.windows.net"
              ],
              "provisioningState": "Succeeded"
            }
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/fbccad30-f0ed-4ac4-9497-93bf6141062f/resourceGroups/CSharpSDKRG275/providers/Microsoft.Kusto/clusters/sdkCluster275/privateLinkResources/nonExistent?api-version=2023-05-02",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11922"
      },
      "ResponseBody": {
        "error": {
          "code": "ResourceNotFound",
          "message": "The resource with identifier \u0027/subscriptions/fbccad30-f0ed-4ac4-9497-93bf6141062f/resourceGroups/CSharpSDKRG275/providers/Microsoft.Kusto/Clusters/sdkCluster275/PrivateLinkResources/nonExistent\u0027 is not found."
        }
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com/",
    "CLUSTER_NAME": "sdkCluster275",
    "LOCATION": "australiaeast",
    "RandomSeed": "1213987534",
    "RESOURCE_GROUP": "CSharpSDKRG275",
    "RESOURCE_MANAGER_URL": "https://management.azure.com/",
    "SUBSCRIPTION_ID": "fbccad30-f0ed-4ac4-9497-93bf6141062f"
  }
}
