{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/fbccad30-f0ed-4ac4-9497-93bf6141062f?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11951"
      },
      "ResponseBody": {
        "id": "/subscriptions/fbccad30-f0ed-4ac4-9497-93bf6141062f",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "NRMS9825974": "20220330",
          "NRMSBreakGlassAzureOnly": "286269898",
          "NRMS13179388": "20220808"
        },
        "subscriptionId": "fbccad30-f0ed-4ac4-9497-93bf6141062f",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": "Kusto_Dev_Kusto_Ilay_00",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/fbccad30-f0ed-4ac4-9497-93bf6141062f/resourcegroups/CSharpSDKRG217?api-version=**",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11950"
      },
      "ResponseBody": {
        "id": "/subscriptions/fbccad30-f0ed-4ac4-9497-93bf6141062f/resourceGroups/CSharpSDKRG217",
        "name": "CSharpSDKRG217",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "australiaeast",
        "tags": {
          "DeleteAfter": "2023-06-30T05:33:48.1367684Z",
          "Owners": "michaelshikh",
          "ServiceDirectory": "kusto"
        },
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/fbccad30-f0ed-4ac4-9497-93bf6141062f/resourceGroups/CSharpSDKRG217/providers/Microsoft.Kusto/clusters/sdkCluster217?api-version=2023-05-02",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00222023-06-30T04:55:34.5731746Z\u0022",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "299"
      },
      "ResponseBody": {
        "id": "/subscriptions/fbccad30-f0ed-4ac4-9497-93bf6141062f/resourceGroups/CSharpSDKRG217/providers/Microsoft.Kusto/Clusters/sdkCluster217",
        "name": "sdkCluster217",
        "type": "Microsoft.Kusto/Clusters",
        "etag": "\u00222023-06-30T04:55:34.5731746Z\u0022",
        "location": "Australia East",
        "sku": {
          "name": "Dev(No SLA)_Standard_E2a_v4",
          "tier": "Basic",
          "capacity": 1
        },
        "tags": {},
        "properties": {
          "state": "Running",
          "stateReason": null,
          "uri": "https://sdkcluster217.australiaeast.dev.kusto.windows.net",
          "dataIngestionUri": "https://ingest-sdkcluster217.australiaeast.dev.kusto.windows.net",
          "trustedExternalTenants": [],
          "virtualNetworkConfiguration": null,
          "optimizedAutoscale": null,
          "enableDiskEncryption": false,
          "enableStreamingIngest": false,
          "keyVaultProperties": null,
          "languageExtensions": {
            "value": []
          },
          "enablePurge": null,
          "enableDoubleEncryption": false,
          "engineType": "V3",
          "acceptedAudiences": [],
          "restrictOutboundNetworkAccess": "Disabled",
          "allowedFqdnList": [],
          "publicNetworkAccess": "Enabled",
          "allowedIpRangeList": [],
          "enableAutoStop": true,
          "publicIPType": "IPv4",
          "virtualClusterGraduationProperties": null,
          "privateEndpointConnections": [
            {
              "name": "sdkPrivateEndpoint217-5776ad51-1317-4ffa-b232-ee3047d73d85",
              "type": "Microsoft.Kusto/Clusters/privateEndpointConnections",
              "id": "/subscriptions/fbccad30-f0ed-4ac4-9497-93bf6141062f/resourceGroups/CSharpSDKRG217/providers/Microsoft.Kusto/Clusters/sdkCluster217/privateEndpointConnections/sdkPrivateEndpoint217-5776ad51-1317-4ffa-b232-ee3047d73d85",
              "properties": {
                "provisioningState": "Succeeded",
                "groupId": "cluster",
                "privateEndpoint": {
                  "id": "/subscriptions/fbccad30-f0ed-4ac4-9497-93bf6141062f/resourceGroups/CSharpSDKRG217/providers/Microsoft.Network/privateEndpoints/sdkPrivateEndpoint217"
                },
                "privateLinkServiceConnectionState": {
                  "status": "Approved",
                  "description": "",
                  "actionsRequired": "None"
                }
              }
            }
          ],
          "migrationCluster": null,
          "provisioningState": "Succeeded"
        },
        "identity": {
          "principalId": "95d8be9a-a749-40fd-b078-afd8b54bf665",
          "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
          "type": "SystemAssigned, UserAssigned",
          "userAssignedIdentities": {
            "/subscriptions/fbccad30-f0ed-4ac4-9497-93bf6141062f/resourcegroups/CSharpSDKRG217/providers/Microsoft.ManagedIdentity/userAssignedIdentities/sdkUserAssignedIdentity217": {
              "principalId": "6f18cb20-071a-4341-a7c7-8e5b04bd02e6",
              "clientId": "80a46bb6-5add-490f-9e1b-e135749bfc13"
            }
          }
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/fbccad30-f0ed-4ac4-9497-93bf6141062f/resourceGroups/CSharpSDKRG217/providers/Microsoft.Kusto/clusters/sdkCluster217/privateLinkResources/cluster?api-version=2023-05-02",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022\u0022",
        "x-ms-ratelimit-remaining-subscription-reads": "11949"
      },
      "ResponseBody": {
        "id": "/subscriptions/fbccad30-f0ed-4ac4-9497-93bf6141062f/resourceGroups/CSharpSDKRG217/providers/Microsoft.Kusto/Clusters/sdkCluster217/PrivateLinkResources/cluster",
        "name": "sdkCluster217/cluster",
        "type": "Microsoft.Kusto/Clusters/PrivateLinkResources",
        "etag": "\u0022\u0022",
        "location": "DummyLocation",
        "properties": {
          "GroupId": "cluster",
          "RequiredMembers": [
            "Engine",
            "DataManagement",
            "blob-3ybkstrldsdkcluster21700",
            "queue-3ybkstrldsdkcluster21700",
            "table-3ybkstrldsdkcluster21700",
            "blob-myhkstrldsdkcluster21701",
            "queue-myhkstrldsdkcluster21701",
            "table-myhkstrldsdkcluster21701"
          ],
          "RequiredZoneNames": [
            "privatelink.australiaeast.dev.kusto.windows.net",
            "privatelink.blob.core.windows.net",
            "privatelink.queue.core.windows.net",
            "privatelink.table.core.windows.net"
          ],
          "provisioningState": "Succeeded"
        },
        "displayName": "cluster"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/fbccad30-f0ed-4ac4-9497-93bf6141062f/resourceGroups/CSharpSDKRG217/providers/Microsoft.Kusto/clusters/sdkCluster217/privateLinkResources?api-version=2023-05-02",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11948"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/fbccad30-f0ed-4ac4-9497-93bf6141062f/resourceGroups/CSharpSDKRG217/providers/Microsoft.Kusto/Clusters/sdkCluster217/PrivateLinkResources/cluster",
            "name": "sdkCluster217/cluster",
            "type": "Microsoft.Kusto/Clusters/PrivateLinkResources",
            "location": "Australia East",
            "properties": {
              "groupId": "cluster",
              "requiredMembers": [
                "Engine",
                "DataManagement",
                "blob-3ybkstrldsdkcluster21700",
                "queue-3ybkstrldsdkcluster21700",
                "table-3ybkstrldsdkcluster21700",
                "blob-myhkstrldsdkcluster21701",
                "queue-myhkstrldsdkcluster21701",
                "table-myhkstrldsdkcluster21701"
              ],
              "requiredZoneNames": [
                "privatelink.australiaeast.dev.kusto.windows.net",
                "privatelink.blob.core.windows.net",
                "privatelink.queue.core.windows.net",
                "privatelink.table.core.windows.net"
              ],
              "provisioningState": "Succeeded"
            }
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/fbccad30-f0ed-4ac4-9497-93bf6141062f/resourceGroups/CSharpSDKRG217/providers/Microsoft.Kusto/clusters/sdkCluster217/privateLinkResources/nonExistent?api-version=2023-05-02",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11946"
      },
      "ResponseBody": {
        "error": {
          "code": "ResourceNotFound",
          "message": "The resource with identifier \u0027/subscriptions/fbccad30-f0ed-4ac4-9497-93bf6141062f/resourceGroups/CSharpSDKRG217/providers/Microsoft.Kusto/Clusters/sdkCluster217/PrivateLinkResources/nonExistent\u0027 is not found."
        }
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com/",
    "CLUSTER_NAME": "sdkCluster217",
    "LOCATION": "australiaeast",
    "RandomSeed": "1808294737",
    "RESOURCE_GROUP": "CSharpSDKRG217",
    "RESOURCE_MANAGER_URL": "https://management.azure.com/",
    "SUBSCRIPTION_ID": "fbccad30-f0ed-4ac4-9497-93bf6141062f"
  }
}
