{
    "Entries": [
        {
            "RequestUri": "https://sdktestmultislot.ppe.cognitiveservices.azure.com/personalizer/v1.1-preview.3/configurations/service",
            "RequestMethod": "GET",
            "RequestHeaders": {
                "Ocp-Apim-Subscription-Key": "Sanitized"
            },
            "RequestBody": null,
            "StatusCode": 200,
            "ResponseHeaders": {
                "Content-Type": "application/json; charset=utf-8"
            },
            "ResponseBody": {
                "rewardWaitTime": "PT10M",
                "defaultReward": 0.0,
                "rewardAggregation": "earliest",
                "explorationPercentage": 0.2,
                "modelExportFrequency": "PT5M",
                "logRetentionDays": 90,
                "lastConfigurationEditDate": "1601-01-01T00:00:00",
                "learningMode": "Online",
                "isAutoOptimizationEnabled": false,
                "autoOptimizationFrequency": "P28D",
                "autoOptimizationStartDate": "2021-10-30T14:41:23"
            }
        },
[...]
        {
            "RequestUri": "https://sdktestmultislot.ppe.cognitiveservices.azure.com/personalizer/v1.1-preview.3/configurations/policy",
            "RequestMethod": "PUT",
            "RequestHeaders": {
                "Content-Type": "application/json",
                "Ocp-Apim-Subscription-Key": "Sanitized"
            },
            "RequestBody": {
                "name": "multiSlot",
                "arguments": "--ccb_explore_adf --epsilon 0.2 --power_t 0 -l 0.001 --cb_type mtr -q ::"
            },
            "StatusCode": 200,
            "ResponseHeaders": {
                "Content-Type": "application/json; charset=utf-8"
            },
            "ResponseBody": {
                "name": "8c31472ec8f14f65b37a0b1a14d743c7",
                "arguments": "--ccb_explore_adf --epsilon 0.2 --power_t 0 -l 0.001 --cb_type mtr -q ::"
            }
        },
        {
            "RequestUri": "https://sdktestmultislot.ppe.cognitiveservices.azure.com/personalizer/v1.1-preview.3/multislot/rank",
            "RequestMethod": "POST",
            "RequestHeaders": {
                "Content-Type": "application/json",
                "Ocp-Apim-Subscription-Key": "Sanitized"
            },
            "RequestBody": {
                "actions": [
                    {
                        "id": "NewsArticle",
                        "features": [
                            {
                                "Type": "News"
                            }
                        ]
                    },
                    {
                        "id": "SportsArticle",
                        "features": [
                            {
                                "Type": "Sports"
                            }
                        ]
                    },
                    {
                        "id": "EntertainmentArticle",
                        "features": [
                            {
                                "Type": "Entertainment"
                            }
                        ]
                    }
                ],
                "slots": [
                    {
                        "id": "Main Article",
                        "features": [
                            {
                                "Size": "Large",
                                "Position": "Top Middle"
                            }
                        ],
                        "excludedActions": [
                            "SportsArticle",
                            "EntertainmentArticle"
                        ],
                        "baselineAction": "NewsArticle"
                    },
                    {
                        "id": "Side Bar",
                        "features": [
                            {
                                "Size": "Small",
                                "Position": "Bottom Right"
                            }
                        ],
                        "excludedActions": [
                            "EntertainmentArticle"
                        ],
                        "baselineAction": "SportsArticle"
                    }
                ]
            },
            "StatusCode": 201,
            "ResponseHeaders": {
                "Content-Type": "application/json; charset=utf-8"
            },
            "ResponseBody": {
                "slots": [
                    {
                        "id": "Main Article",
                        "rewardActionId": "NewsArticle"
                    },
                    {
                        "id": "Side Bar",
                        "rewardActionId": "SportsArticle"
                    }
                ],
                "eventId": "2ae3324436df4819aa636316fd5c9e22-8Io5X"
            }
        },
[...]
