{
  "Entries": [
    {
      "RequestUri": "/vision/v3.2/models/landmarks/analyze?language=pt&model-version=latest",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"url\": \"https://raw.githubusercontent.com/Azure/azure-sdk-for-net/main/sdk/cognitiveservices/Vision.ComputerVision/tests/TestImages/spaceneedle.jpg\"\r\n}",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": [
          ""
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "csp-billing-usage": [
          "CognitiveServices.ComputerVision.Landmarks=1,CognitiveServices.ComputerVision.Transaction=1"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"result\": {\r\n    \"landmarks\": [\r\n      {\r\n        \"name\": \"Obelisco Espacial\",\r\n        \"confidence\": 0.9999101161956787\r\n      }\r\n    ]\r\n  },\r\n  \"requestId\": \"f37e1fcb-90e7-4f7f-abda-10af7f248bec\",\r\n  \"metadata\": {\r\n    \"height\": 479,\r\n    \"width\": 243,\r\n    \"format\": \"Jpeg\"\r\n  },\r\n  \"modelVersion\": \"2021-04-01\"\r\n}",
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {}
}