{
  "Entries": [
    {
      "RequestUri": "https://jolovtablesprim.table.core.windows.net/Tables?$format=application%2Fjson%3Bodata%3Dminimalmetadata",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json; odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Mon, 31 Jan 2022 22:17:54 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "TableName": "testtableFNkKl3Dl"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "Location": "https://jolovtablesprim.table.core.windows.net/Tables(\u0027testtableFNkKl3Dl\u0027)",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://jolovtablesprim.table.core.windows.net/$metadata#Tables/@Element",
        "TableName": "testtableFNkKl3Dl"
      }
    },
    {
      "RequestUri": "https://jolovtablesprim.table.core.windows.net/$batch",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "multipart/mixed; boundary=batch_a1093821-9e3c-0517-dc3d-38f203b697ee",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Mon, 31 Jan 2022 22:17:54 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": "LS1iYXRjaF9hMTA5MzgyMS05ZTNjLTA1MTctZGMzZC0zOGYyMDNiNjk3ZWUNCkNvbnR[...]
    {
      "RequestUri": "https://jolovtablesprim.table.core.windows.net/testtableFNkKl3Dl(PartitionKey=\u0027PK\u0027,RowKey=\u0027RK\u0027)?$format=application%2Fjson%3Bodata%3Dminimalmetadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Mon, 31 Jan 2022 22:17:54 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "ETag": "W/\u0022datetime\u00272022-01-31T22%3A17%3A54.6613865Z\u0027\u0022",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://jolovtablesprim.table.core.windows.net/$metadata#testtableFNkKl3Dl/@Element",
        "odata.etag": "W/\u0022datetime\u00272022-01-31T22%3A17%3A54.6613865Z\u0027\u0022",
        "PartitionKey": "PK",
        "RowKey": "RK",
        "Timestamp": "2022-01-31T22:17:54.6613865Z",
        "Value": "Foo"
      }
    },
    {
      "RequestUri": "https://jolovtablesprim.table.core.windows.net/testtableFNkKl3Dl()?$format=application%2Fjson%3Bodata%3Dminimalmetadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Mon, 31 Jan 2022 22:17:55 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://jolovtablesprim.table.core.windows.net/$metadata#testtableFNkKl3Dl",
        "value": [
          {
            "odata.etag": "W/\u0022datetime\u00272022-01-31T22%3A17%3A54.6613865Z\u0027\u0022",
            "PartitionKey": "PK",
            "RowKey": "RK",
            "Timestamp": "2022-01-31T22:17:54.6613865Z",
            "Value": "Foo"
          }
        ]
      }
    },
    {
      "RequestUri": "https://jolovtablesprim.table.core.windows.net/testtableFNkKl3Dl(PartitionKey=\u0027PK\u0027,RowKey=\u0027RK\u0027)?$format=application%2Fjson%3Bodata%3Dminimalmetadata",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "DataServiceVersion": "3.0",
        "If-Match": "*",
        "x-ms-date": "Mon, 31 Jan 2022 22:17:55 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jolovtablesprim.table.core.windows.net/testtableFNkKl3Dl(PartitionKey=\u0027PK\u0027,RowKey=\u0027RK\u0027)?$format=application%2Fjson%3Bodata%3Dminimalmetadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Mon, 31 Jan 2022 22:17:55 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "ETag": "W/\u0022datetime\u00272022-01-31T22%3A17%3A55.5478779Z\u0027\u0022",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://jolovtablesprim.table.core.windows.net/$metadata#testtableFNkKl3Dl/@Element",
        "odata.etag": "W/\u0022datetime\u00272022-01-31T22%3A17%3A55.5478779Z\u0027\u0022",
        "PartitionKey": "PK",
        "RowKey": "RK",
        "Timestamp": "2022-01-31T22:17:55.5478779Z",
        "Value@odata.type": "Edm.Guid",
        "Value": "81a130d2-502f-4cf1-a376-63edeb000e9f"
      }
    },
[...]
    {
      "RequestUri": "https://jolovtablesprim.table.core.windows.net/Tables(\u0027testtableFNkKl3Dl\u0027)",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 31 Jan 2022 22:17:58 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1622917122",
    "STORAGE_ENDPOINT_SUFFIX": "core.windows.net",
    "TABLES_PRIMARY_STORAGE_ACCOUNT_KEY": "Kg==",
    "TABLES_STORAGE_ACCOUNT_NAME": "jolovtablesprim"
  }
}
