{
  "Entries": [
    {
      "RequestUri": "https://jolovtablesprim.table.core.windows.net/Tables?$format=application%2Fjson%3Bodata%3Dminimalmetadata",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json; odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Mon, 31 Jan 2022 22:18:10 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "TableName": "testtableQFzD7ph7"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "Location": "https://jolovtablesprim.table.core.windows.net/Tables(\u0027testtableQFzD7ph7\u0027)",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://jolovtablesprim.table.core.windows.net/$metadata#Tables/@Element",
        "TableName": "testtableQFzD7ph7"
      }
    },
    {
      "RequestUri": "https://jolovtablesprim.table.core.windows.net/$batch",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "multipart/mixed; boundary=batch_4de5d911-7f27-46f5-7446-931182878cc9",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Mon, 31 Jan 2022 22:18:10 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": "LS1iYXRjaF80ZGU1ZDkxMS03ZjI3LTQ2ZjUtNzQ0Ni05MzExODI4NzhjYzkNCkNvbnR[...]
    {
      "RequestUri": "https://jolovtablesprim.table.core.windows.net/testtableQFzD7ph7(PartitionKey=\u0027PK\u0027,RowKey=\u0027RK\u0027)?$format=application%2Fjson%3Bodata%3Dminimalmetadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Mon, 31 Jan 2022 22:18:10 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "ETag": "W/\u0022datetime\u00272022-01-31T22%3A18%3A10.8541046Z\u0027\u0022",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://jolovtablesprim.table.core.windows.net/$metadata#testtableQFzD7ph7/@Element",
        "odata.etag": "W/\u0022datetime\u00272022-01-31T22%3A18%3A10.8541046Z\u0027\u0022",
        "PartitionKey": "PK",
        "RowKey": "RK",
        "Timestamp": "2022-01-31T22:18:10.8541046Z",
        "Value": "Foo"
      }
    },
    {
      "RequestUri": "https://jolovtablesprim.table.core.windows.net/testtableQFzD7ph7(PartitionKey=\u0027PK\u0027,RowKey=\u0027RK1\u0027)?$format=application%2Fjson%3Bodata%3Dminimalmetadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Mon, 31 Jan 2022 22:18:10 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "ETag": "W/\u0022datetime\u00272022-01-31T22%3A18%3A10.8541046Z\u0027\u0022",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://jolovtablesprim.table.core.windows.net/$metadata#testtableQFzD7ph7/@Element",
        "odata.etag": "W/\u0022datetime\u00272022-01-31T22%3A18%3A10.8541046Z\u0027\u0022",
        "PartitionKey": "PK",
        "RowKey": "RK1",
        "Timestamp": "2022-01-31T22:18:10.8541046Z",
        "Value": "Bar"
      }
    },
    {
      "RequestUri": "https://jolovtablesprim.table.core.windows.net/Tables(\u0027testtableQFzD7ph7\u0027)",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 31 Jan 2022 22:18:10 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1117263635",
    "STORAGE_ENDPOINT_SUFFIX": "core.windows.net",
    "TABLES_PRIMARY_STORAGE_ACCOUNT_KEY": "Kg==",
    "TABLES_STORAGE_ACCOUNT_NAME": "jolovtablesprim"
  }
}
