{
  "Entries": [
    {
      "RequestUri": "https://pakrymtables4prim.table.core.windows.net/Tables?$format=application%2Fjson%3Bodata%3Dminimalmetadata",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json; odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Mon, 03 Jan 2022 16:24:06 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "TableName": "testtablel3TQ2WUJ"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "Location": "https://pakrymtables4prim.table.core.windows.net/Tables(\u0027testtablel3TQ2WUJ\u0027)",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://pakrymtables4prim.table.core.windows.net/$metadata#Tables/@Element",
        "TableName": "testtablel3TQ2WUJ"
      }
    },
    {
      "RequestUri": "https://pakrymtables4prim.table.core.windows.net/$batch",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "multipart/mixed; boundary=batch_15c45076-e5eb-42f2-b730-9891d4219c7f",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Mon, 03 Jan 2022 16:24:06 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": "LS1tdWx0aXBhcnRfYm91bmRhcnkNCkNvbnRlbnQtVHlwZTogbXVsdGlwYXJ0L21pe[...]
    {
      "RequestUri": "https://pakrymtables4prim.table.core.windows.net/testtablel3TQ2WUJ(PartitionKey=\u0027PK\u0027,RowKey=\u0027RK\u0027)?$format=application%2Fjson%3Bodata%3Dminimalmetadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Mon, 03 Jan 2022 16:24:06 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "ETag": "W/\u0022datetime\u00272022-01-03T16%3A24%3A06.6537554Z\u0027\u0022",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://pakrymtables4prim.table.core.windows.net/$metadata#testtablel3TQ2WUJ/@Element",
        "odata.etag": "W/\u0022datetime\u00272022-01-03T16%3A24%3A06.6537554Z\u0027\u0022",
        "PartitionKey": "PK",
        "RowKey": "RK",
        "Timestamp": "2022-01-03T16:24:06.6537554Z",
        "Value": "Foo"
      }
    },
    {
      "RequestUri": "https://pakrymtables4prim.table.core.windows.net/testtablel3TQ2WUJ()?$format=application%2Fjson%3Bodata%3Dminimalmetadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Mon, 03 Jan 2022 16:24:06 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://pakrymtables4prim.table.core.windows.net/$metadata#testtablel3TQ2WUJ",
        "value": [
          {
            "odata.etag": "W/\u0022datetime\u00272022-01-03T16%3A24%3A06.6537554Z\u0027\u0022",
            "PartitionKey": "PK",
            "RowKey": "RK",
            "Timestamp": "2022-01-03T16:24:06.6537554Z",
            "Value": "Foo"
          }
        ]
      }
    },
    {
      "RequestUri": "https://pakrymtables4prim.table.core.windows.net/testtablel3TQ2WUJ(PartitionKey=\u0027PK\u0027,RowKey=\u0027RK\u0027)?$format=application%2Fjson%3Bodata%3Dminimalmetadata",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "DataServiceVersion": "3.0",
        "If-Match": "*",
        "x-ms-date": "Mon, 03 Jan 2022 16:24:06 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://pakrymtables4prim.table.core.windows.net/testtablel3TQ2WUJ(PartitionKey=\u0027PK\u0027,RowKey=\u0027RK\u0027)?$format=application%2Fjson%3Bodata%3Dminimalmetadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Mon, 03 Jan 2022 16:24:06 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "ETag": "W/\u0022datetime\u00272022-01-03T16%3A24%3A06.7596955Z\u0027\u0022",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://pakrymtables4prim.table.core.windows.net/$metadata#testtablel3TQ2WUJ/@Element",
        "odata.etag": "W/\u0022datetime\u00272022-01-03T16%3A24%3A06.7596955Z\u0027\u0022",
        "PartitionKey": "PK",
        "RowKey": "RK",
        "Timestamp": "2022-01-03T16:24:06.7596955Z",
        "Value@odata.type": "Edm.Guid",
        "Value": "81a130d2-502f-4cf1-a376-63edeb000e9f"
      }
    },
[...]
    {
      "RequestUri": "https://pakrymtables4prim.table.core.windows.net/Tables(\u0027testtablel3TQ2WUJ\u0027)",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 03 Jan 2022 16:24:07 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "818835434",
    "STORAGE_ENDPOINT_SUFFIX": "core.windows.net",
    "TABLES_PRIMARY_STORAGE_ACCOUNT_KEY": "Kg==",
    "TABLES_STORAGE_ACCOUNT_NAME": "pakrymtables4prim"
  }
}
