{
  "Entries": [
    {
      "RequestUri": "https://pakrymtables3prim.table.core.windows.net/Tables?$format=application%2Fjson%3Bodata%3Dminimalmetadata",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json; odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Wed, 29 Dec 2021 18:15:19 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "TableName": "testtablegyWuMG8W"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "Location": "https://pakrymtables3prim.table.core.windows.net/Tables(\u0027testtablegyWuMG8W\u0027)",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://pakrymtables3prim.table.core.windows.net/$metadata#Tables/@Element",
        "TableName": "testtablegyWuMG8W"
      }
    },
    {
      "RequestUri": "https://pakrymtables3prim.table.core.windows.net/$batch",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "multipart/mixed; boundary=batch_710cdbb5-6654-4416-8b53-a74e773e5e87",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Wed, 29 Dec 2021 18:15:19 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": "LS1tdWx0aXBhcnRfYm91bmRhcnkNCkNvbnRlbnQtVHlwZTogbXVsdGlwYXJ0L21pe[...]
    {
      "RequestUri": "https://pakrymtables3prim.table.core.windows.net/testtablegyWuMG8W(PartitionKey=\u0027PK\u0027,RowKey=\u0027RK\u0027)?$format=application%2Fjson%3Bodata%3Dminimalmetadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Wed, 29 Dec 2021 18:15:19 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "ETag": "W/\u0022datetime\u00272021-12-29T18%3A15%3A19.4037133Z\u0027\u0022",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://pakrymtables3prim.table.core.windows.net/$metadata#testtablegyWuMG8W/@Element",
        "odata.etag": "W/\u0022datetime\u00272021-12-29T18%3A15%3A19.4037133Z\u0027\u0022",
        "PartitionKey": "PK",
        "RowKey": "RK",
        "Timestamp": "2021-12-29T18:15:19.4037133Z",
        "Value": "Foo"
      }
    },
    {
      "RequestUri": "https://pakrymtables3prim.table.core.windows.net/testtablegyWuMG8W()?$format=application%2Fjson%3Bodata%3Dminimalmetadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Wed, 29 Dec 2021 18:15:19 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://pakrymtables3prim.table.core.windows.net/$metadata#testtablegyWuMG8W",
        "value": [
          {
            "odata.etag": "W/\u0022datetime\u00272021-12-29T18%3A15%3A19.4037133Z\u0027\u0022",
            "PartitionKey": "PK",
            "RowKey": "RK",
            "Timestamp": "2021-12-29T18:15:19.4037133Z",
            "Value": "Foo"
          }
        ]
      }
    },
    {
      "RequestUri": "https://pakrymtables3prim.table.core.windows.net/testtablegyWuMG8W(PartitionKey=\u0027PK\u0027,RowKey=\u0027RK\u0027)?$format=application%2Fjson%3Bodata%3Dminimalmetadata",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "DataServiceVersion": "3.0",
        "If-Match": "*",
        "x-ms-date": "Wed, 29 Dec 2021 18:15:19 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://pakrymtables3prim.table.core.windows.net/testtablegyWuMG8W(PartitionKey=\u0027PK\u0027,RowKey=\u0027RK\u0027)?$format=application%2Fjson%3Bodata%3Dminimalmetadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Wed, 29 Dec 2021 18:15:19 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "ETag": "W/\u0022datetime\u00272021-12-29T18%3A15%3A19.5286437Z\u0027\u0022",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://pakrymtables3prim.table.core.windows.net/$metadata#testtablegyWuMG8W/@Element",
        "odata.etag": "W/\u0022datetime\u00272021-12-29T18%3A15%3A19.5286437Z\u0027\u0022",
        "PartitionKey": "PK",
        "RowKey": "RK",
        "Timestamp": "2021-12-29T18:15:19.5286437Z",
        "Value@odata.type": "Edm.Guid",
        "Value": "81a130d2-502f-4cf1-a376-63edeb000e9f"
      }
    },
[...]
    {
      "RequestUri": "https://pakrymtables3prim.table.core.windows.net/Tables(\u0027testtablegyWuMG8W\u0027)",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 29 Dec 2021 18:15:20 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "716791977",
    "STORAGE_ENDPOINT_SUFFIX": "core.windows.net",
    "TABLES_PRIMARY_STORAGE_ACCOUNT_KEY": "Kg==",
    "TABLES_STORAGE_ACCOUNT_NAME": "pakrymtables3prim"
  }
}
