{
  "Entries": [
    {
      "RequestUri": "https://chrisstablesprim.table.core.windows.net/Tables?$format=application%2Fjson%3Bodata%3Dminimalmetadata",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json; odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Thu, 14 Apr 2022 15:45:42 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": {
        "TableName": "testtableAOo0qEbo"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "Location": "https://chrisstablesprim.table.core.windows.net/Tables(\u0027testtableAOo0qEbo\u0027)",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": {
        "odata.metadata": "https://chrisstablesprim.table.core.windows.net/$metadata#Tables/@Element",
        "TableName": "testtableAOo0qEbo"
      }
    },
    {
      "RequestUri": "https://chrisstablesprim.table.core.windows.net/$batch",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "multipart/mixed; boundary=batch_0798295c-ddcd-2e69-eea2-a217770a932c",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Thu, 14 Apr 2022 15:45:42 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": "LS1iYXRjaF8wNzk4Mjk1Yy1kZGNkLTJlNjktZWVhMi1hMjE3NzcwYTkzMmMNCkNvbn[...]
    {
      "RequestUri": "https://chrisstablesprim.table.core.windows.net/testtableAOo0qEbo(PartitionKey=\u0027PK\u0027,RowKey=\u0027RK\u0027)?$format=application%2Fjson%3Bodata%3Dminimalmetadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Thu, 14 Apr 2022 15:45:42 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "ETag": "W/\u0022datetime\u00272022-04-14T15%3A45%3A43.0795042Z\u0027\u0022",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": {
        "odata.metadata": "https://chrisstablesprim.table.core.windows.net/$metadata#testtableAOo0qEbo/@Element",
        "odata.etag": "W/\u0022datetime\u00272022-04-14T15%3A45%3A43.0795042Z\u0027\u0022",
        "PartitionKey": "PK",
        "RowKey": "RK",
        "Timestamp": "2022-04-14T15:45:43.0795042Z",
        "Value": "Foo"
      }
    },
    {
      "RequestUri": "https://chrisstablesprim.table.core.windows.net/testtableAOo0qEbo(PartitionKey=\u0027PK\u0027,RowKey=\u0027RK1\u0027)?$format=application%2Fjson%3Bodata%3Dminimalmetadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Thu, 14 Apr 2022 15:45:42 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "ETag": "W/\u0022datetime\u00272022-04-14T15%3A45%3A43.0795042Z\u0027\u0022",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": {
        "odata.metadata": "https://chrisstablesprim.table.core.windows.net/$metadata#testtableAOo0qEbo/@Element",
        "odata.etag": "W/\u0022datetime\u00272022-04-14T15%3A45%3A43.0795042Z\u0027\u0022",
        "PartitionKey": "PK",
        "RowKey": "RK1",
        "Timestamp": "2022-04-14T15:45:43.0795042Z",
        "Value": "Bar"
      }
    },
    {
      "RequestUri": "https://chrisstablesprim.table.core.windows.net/Tables(\u0027testtableAOo0qEbo\u0027)",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Apr 2022 15:45:42 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "2019679720",
    "STORAGE_ENDPOINT_SUFFIX": "core.windows.net",
    "TABLES_PRIMARY_STORAGE_ACCOUNT_KEY": "Kg==",
    "TABLES_STORAGE_ACCOUNT_NAME": "chrisstablesprim"
  }
}
