{
  "Entries": [
    {
      "RequestUri": "https://pakrymtables3prim.table.core.windows.net/Tables?$format=application%2Fjson%3Bodata%3Dminimalmetadata",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json; odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Wed, 29 Dec 2021 18:15:25 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "TableName": "testtableCkBXaogA"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "Location": "https://pakrymtables3prim.table.core.windows.net/Tables(\u0027testtableCkBXaogA\u0027)",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://pakrymtables3prim.table.core.windows.net/$metadata#Tables/@Element",
        "TableName": "testtableCkBXaogA"
      }
    },
    {
      "RequestUri": "https://pakrymtables3prim.table.core.windows.net/testtableCkBXaogA?$format=application%2Fjson%3Bodata%3Dminimalmetadata",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json; odata=nometadata",
        "DataServiceVersion": "3.0",
        "Prefer": "return-no-content",
        "x-ms-date": "Wed, 29 Dec 2021 18:15:25 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "PartitionKey": "PK",
        "RowKey": "RK",
        "Value": "Foo"
      },
      "StatusCode": 204,
      "ResponseHeaders": {
        "DataServiceId": "https://pakrymtables3prim.table.core.windows.net/testtableCkBXaogA(PartitionKey=\u0027PK\u0027,RowKey=\u0027RK\u0027)",
        "ETag": "W/\u0022datetime\u00272021-12-29T18%3A15%3A25.6471672Z\u0027\u0022",
        "Location": "https://pakrymtables3prim.table.core.windows.net/testtableCkBXaogA(PartitionKey=\u0027PK\u0027,RowKey=\u0027RK\u0027)",
        "Preference-Applied": "return-no-content",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://pakrymtables3prim.table.core.windows.net/testtableCkBXaogA(PartitionKey=\u0027PK\u0027,RowKey=\u0027RK\u0027)?$format=application%2Fjson%3Bodata%3Dminimalmetadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Wed, 29 Dec 2021 18:15:25 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "ETag": "W/\u0022datetime\u00272021-12-29T18%3A15%3A25.6471672Z\u0027\u0022",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://pakrymtables3prim.table.core.windows.net/$metadata#testtableCkBXaogA/@Element",
        "odata.etag": "W/\u0022datetime\u00272021-12-29T18%3A15%3A25.6471672Z\u0027\u0022",
        "PartitionKey": "PK",
        "RowKey": "RK",
        "Timestamp": "2021-12-29T18:15:25.6471672Z",
        "Value": "Foo"
      }
    },
    {
      "RequestUri": "https://pakrymtables3prim.table.core.windows.net/testtableCkBXaogA()?$format=application%2Fjson%3Bodata%3Dminimalmetadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Wed, 29 Dec 2021 18:15:25 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://pakrymtables3prim.table.core.windows.net/$metadata#testtableCkBXaogA",
        "value": [
          {
            "odata.etag": "W/\u0022datetime\u00272021-12-29T18%3A15%3A25.6471672Z\u0027\u0022",
            "PartitionKey": "PK",
            "RowKey": "RK",
            "Timestamp": "2021-12-29T18:15:25.6471672Z",
            "Value": "Foo"
          }
        ]
      }
    },
    {
      "RequestUri": "https://pakrymtables3prim.table.core.windows.net/testtableCkBXaogA(PartitionKey=\u0027PK\u0027,RowKey=\u0027RK\u0027)?$format=application%2Fjson%3Bodata%3Dminimalmetadata",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "DataServiceVersion": "3.0",
        "If-Match": "*",
        "x-ms-date": "Wed, 29 Dec 2021 18:15:25 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://pakrymtables3prim.table.core.windows.net/testtableCkBXaogA?$format=application%2Fjson%3Bodata%3Dminimalmetadata",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json; odata=nometadata",
        "DataServiceVersion": "3.0",
        "Prefer": "return-no-content",
        "x-ms-date": "Wed, 29 Dec 2021 18:15:25 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "PartitionKey": "PK",
        "RowKey": "RK",
        "Value": "81a130d2-502f-4cf1-a376-63edeb000e9f",
        "Value@odata.type": "Edm.Guid"
      },
      "StatusCode": 204,
      "ResponseHeaders": {
        "DataServiceId": "https://pakrymtables3prim.table.core.windows.net/testtableCkBXaogA(PartitionKey=\u0027PK\u0027,RowKey=\u0027RK\u0027)",
        "ETag": "W/\u0022datetime\u00272021-12-29T18%3A15%3A25.7780935Z\u0027\u0022",
        "Location": "https://pakrymtables3prim.table.core.windows.net/testtableCkBXaogA(PartitionKey=\u0027PK\u0027,RowKey=\u0027RK\u0027)",
        "Preference-Applied": "return-no-content",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://pakrymtables3prim.table.core.windows.net/Tables(\u0027testtableCkBXaogA\u0027)",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 29 Dec 2021 18:15:26 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1997765045",
    "STORAGE_ENDPOINT_SUFFIX": "core.windows.net",
    "TABLES_PRIMARY_STORAGE_ACCOUNT_KEY": "Kg==",
    "TABLES_STORAGE_ACCOUNT_NAME": "pakrymtables3prim"
  }
}
