{
  "Entries": [
    {
      "RequestUri": "https://pakrymtables4prim.table.core.windows.net/Tables?$format=application%2Fjson%3Bodata%3Dminimalmetadata",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json; odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Mon, 03 Jan 2022 16:24:53 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "TableName": "testtablePIkK8n1P"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "Location": "https://pakrymtables4prim.table.core.windows.net/Tables(\u0027testtablePIkK8n1P\u0027)",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://pakrymtables4prim.table.core.windows.net/$metadata#Tables/@Element",
        "TableName": "testtablePIkK8n1P"
      }
    },
    {
      "RequestUri": "https://pakrymtables4prim.table.core.windows.net/testtablePIkK8n1P(PartitionKey=\u0027PK\u0027,RowKey=\u0027RK\u0027)?$format=application%2Fjson%3Bodata%3Dminimalmetadata",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Mon, 03 Jan 2022 16:24:53 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "PartitionKey": "PK",
        "RowKey": "RK",
        "Value": "Foo"
      },
      "StatusCode": 204,
      "ResponseHeaders": {
        "ETag": "W/\u0022datetime\u00272022-01-03T16%3A24%3A53.8128466Z\u0027\u0022",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://pakrymtables4prim.table.core.windows.net/testtablePIkK8n1P(PartitionKey=\u0027PK\u0027,RowKey=\u0027RK\u0027)?$format=application%2Fjson%3Bodata%3Dminimalmetadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Mon, 03 Jan 2022 16:24:53 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "ETag": "W/\u0022datetime\u00272022-01-03T16%3A24%3A53.8128466Z\u0027\u0022",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://pakrymtables4prim.table.core.windows.net/$metadata#testtablePIkK8n1P/@Element",
        "odata.etag": "W/\u0022datetime\u00272022-01-03T16%3A24%3A53.8128466Z\u0027\u0022",
        "PartitionKey": "PK",
        "RowKey": "RK",
        "Timestamp": "2022-01-03T16:24:53.8128466Z",
        "Value": "Foo"
      }
    },
[...]
    {
      "RequestUri": "https://pakrymtables4prim.table.core.windows.net/testtablePIkK8n1P()?$format=application%2Fjson%3Bodata%3Dminimalmetadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Mon, 03 Jan 2022 16:24:53 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://pakrymtables4prim.table.core.windows.net/$metadata#testtablePIkK8n1P",
        "value": [
          {
            "odata.etag": "W/\u0022datetime\u00272022-01-03T16%3A24%3A53.8638183Z\u0027\u0022",
            "PartitionKey": "PK",
            "RowKey": "RK",
            "Timestamp": "2022-01-03T16:24:53.8638183Z",
            "Value": "Bar"
          }
        ]
      }
    },
    {
      "RequestUri": "https://pakrymtables4prim.table.core.windows.net/testtablePIkK8n1P(PartitionKey=\u0027PK\u0027,RowKey=\u0027RK\u0027)?$format=application%2Fjson%3Bodata%3Dminimalmetadata",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "DataServiceVersion": "3.0",
        "If-Match": "*",
        "x-ms-date": "Mon, 03 Jan 2022 16:24:53 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://pakrymtables4prim.table.core.windows.net/testtablePIkK8n1P(PartitionKey=\u0027PK\u0027,RowKey=\u0027RK\u0027)?$format=application%2Fjson%3Bodata%3Dminimalmetadata",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Mon, 03 Jan 2022 16:24:54 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "PartitionKey": "PK",
        "RowKey": "RK",
        "Value": "81a130d2-502f-4cf1-a376-63edeb000e9f",
        "Value@odata.type": "Edm.Guid"
      },
      "StatusCode": 204,
      "ResponseHeaders": {
        "ETag": "W/\u0022datetime\u00272022-01-03T16%3A24%3A54.5464279Z\u0027\u0022",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://pakrymtables4prim.table.core.windows.net/Tables(\u0027testtablePIkK8n1P\u0027)",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 03 Jan 2022 16:24:59 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "635082831",
    "STORAGE_ENDPOINT_SUFFIX": "core.windows.net",
    "TABLES_PRIMARY_STORAGE_ACCOUNT_KEY": "Kg==",
    "TABLES_STORAGE_ACCOUNT_NAME": "pakrymtables4prim"
  }
}
