{
  "Entries": [
    {
      "RequestUri": "/subscriptions/4445bf11-61c4-436f-a940-60194f8aca57/providers/Microsoft.Peering/getPeerInfo?api-version=2018-10-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"peerAsn\": 6453,\r\n  \"peerContactInfo\": {\r\n    \"emails\": [\r\n      \"noc@tata.com\"\r\n    ],\r\n    \"phone\": [\r\n      \"9999999\"\r\n    ]\r\n  }\r\n}",
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "4445bf11-61c4-436f-a940-60194f8aca57"
  }
}