{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/82f138e0-1c79-4708-bda1-5e224cd688b2?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11997"
      },
      "ResponseBody": {
        "id": "/subscriptions/82f138e0-1c79-4708-bda1-5e224cd688b2",
        "authorizationSource": "Bypassed",
        "managedByTenants": [],
        "subscriptionId": "82f138e0-1c79-4708-bda1-5e224cd688b2",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": "sub-as3-arm-tests-prod-001",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/82f138e0-1c79-4708-bda1-5e224cd688b2/resourcegroups/sdkTestRG?api-version=**",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11996"
      },
      "ResponseBody": {
        "id": "/subscriptions/82f138e0-1c79-4708-bda1-5e224cd688b2/resourceGroups/sdkTestRG",
        "name": "sdkTestRG",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/82f138e0-1c79-4708-bda1-5e224cd688b2/resourceGroups/sdkTestRG/providers/Microsoft.AzureSphere/catalogs/catalog-6535?api-version=2022-09-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "global",
        "properties": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022190074b7-0000-0400-0000-649362d60000\u0022",
        "mise-correlation-id": "cbd76e7d-a266-4ed9-8d49-2154a903287d",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "id": "/subscriptions/82f138e0-1c79-4708-bda1-5e224cd688b2/resourceGroups/sdkTestRG/providers/Microsoft.AzureSphere/catalogs/catalog-6535",
        "name": "catalog-6535",
        "type": "microsoft.azuresphere/catalogs",
        "location": "global",
        "tags": {},
        "systemData": {
          "createdBy": "513e1ad3-36bc-4d5c-b639-0ec23e6a87e1",
          "createdByType": "Application",
          "createdAt": "2023-06-21T20:51:29.2436154Z",
          "lastModifiedBy": "513e1ad3-36bc-4d5c-b639-0ec23e6a87e1",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2023-06-21T20:51:29.2436154Z"
        },
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/82f138e0-1c79-4708-bda1-5e224cd688b2/resourceGroups/sdkTestRG/providers/Microsoft.AzureSphere/catalogs/catalog-6535?api-version=2022-09-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022190074b7-0000-0400-0000-649362d60000\u0022",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-reads": "11995"
      },
      "ResponseBody": {
        "id": "/subscriptions/82f138e0-1c79-4708-bda1-5e224cd688b2/resourceGroups/sdkTestRG/providers/Microsoft.AzureSphere/catalogs/catalog-6535",
        "name": "catalog-6535",
        "type": "microsoft.azuresphere/catalogs",
        "location": "global",
        "tags": {},
        "systemData": {
          "createdBy": "513e1ad3-36bc-4d5c-b639-0ec23e6a87e1",
          "createdByType": "Application",
          "createdAt": "2023-06-21T20:51:29.2436154Z",
          "lastModifiedBy": "513e1ad3-36bc-4d5c-b639-0ec23e6a87e1",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2023-06-21T20:51:29.2436154Z"
        },
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "RandomSeed": "902925639",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "82f138e0-1c79-4708-bda1-5e224cd688b2"
  }
}
