{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/f3d94233-a9aa-4241-ac82-2dfb63ce637a?api-version=2019-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11906"
      },
      "ResponseBody": {
        "id": "/subscriptions/f3d94233-a9aa-4241-ac82-2dfb63ce637a",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "subscriptionId": "f3d94233-a9aa-4241-ac82-2dfb63ce637a",
        "tenantId": "75743128-1c62-4904-9be1-c23c1edb9a9f",
        "displayName": "Visual Studio Enterprise Subscription",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Public_2014-09-01",
          "quotaId": "MSDN_2014-09-01",
          "spendingLimit": "On"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/f3d94233-a9aa-4241-ac82-2dfb63ce637a/resourcegroups/testRg-9239?api-version=2019-10-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1198"
      },
      "ResponseBody": {
        "id": "/subscriptions/f3d94233-a9aa-4241-ac82-2dfb63ce637a/resourceGroups/testRg-9239",
        "name": "testRg-9239",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/f3d94233-a9aa-4241-ac82-2dfb63ce637a/resourceGroups/testRg-9239/providers/Microsoft.Cdn/profiles/AFDProfile-4511?api-version=2020-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "sku": {
          "name": "Standard_AzureFrontDoor"
        },
        "location": "Global",
        "properties": {}
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/f3d94233-a9aa-4241-ac82-2dfb63ce637a/resourcegroups/testRg-9239/providers/Microsoft.Cdn/operationresults/7a8f26c4-ffca-4697-a24b-d8da33821b45?api-version=2020-09-01",
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "23"
      },
      "ResponseBody": {
        "id": "/subscriptions/f3d94233-a9aa-4241-ac82-2dfb63ce637a/resourcegroups/testRg-9239/providers/Microsoft.Cdn/profiles/AFDProfile-4511",
        "type": "Microsoft.Cdn/profiles",
        "name": "AFDProfile-4511",
        "location": "Global",
        "kind": "frontdoor",
        "tags": {},
        "sku": {
          "name": "Standard_AzureFrontDoor"
        },
        "properties": {
          "frontDoorId": "d13979e8-494e-4e99-88cc-e9703daff3e9",
          "resourceState": "Creating",
          "provisioningState": "Creating"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/f3d94233-a9aa-4241-ac82-2dfb63ce637a/resourcegroups/testRg-9239/providers/Microsoft.Cdn/operationresults/7a8f26c4-ffca-4697-a24b-d8da33821b45?api-version=2020-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11905"
      },
      "ResponseBody": {
        "status": "InProgress",
        "error": {
          "code": "None",
          "message": null
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/f3d94233-a9aa-4241-ac82-2dfb63ce637a/resourceGroups/testRg-9239/providers/Microsoft.Cdn/profiles/AFDProfile-4511/originGroups/AFDOriginGroup-2970?api-version=2020-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "loadBalancingSettings": {
            "sampleSize": 5,
            "successfulSamplesRequired": 4,
            "additionalLatencyInMilliseconds": 200
          },
          "healthProbeSettings": {
            "probePath": "/healthz",
            "probeRequestType": "HEAD",
            "probeProtocol": "Https",
            "probeIntervalInSeconds": 60
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "98"
      },
      "ResponseBody": {
        "id": "/subscriptions/f3d94233-a9aa-4241-ac82-2dfb63ce637a/resourcegroups/testRg-9239/providers/Microsoft.Cdn/profiles/AFDProfile-4511/originGroups/AFDOriginGroup-2970",
        "type": "Microsoft.Cdn/profiles/originGroups",
        "name": "AFDOriginGroup-2970",
        "properties": {
          "loadBalancingSettings": {
            "sampleSize": 5,
            "successfulSamplesRequired": 4,
            "additionalLatencyInMilliseconds": 200
          },
          "healthProbeSettings": {
            "probePath": "/healthz",
            "probeRequestType": "HEAD",
            "probeProtocol": "Https",
            "probeIntervalInSeconds": 60
          },
          "responseBasedAFDOriginErrorDetectionSettings": null,
          "trafficRestorationTimeToHealedOrNewEndpointsInMinutes": null,
          "sessionAffinityState": "Disabled",
          "provisioningState": "Succeeded",
          "deploymentStatus": "NotStarted"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/f3d94233-a9aa-4241-ac82-2dfb63ce637a/resourceGroups/testRg-9239/providers/Microsoft.Cdn/profiles/AFDProfile-4511/originGroups/AFDOriginGroup-2970/origins/AFDOrigin-7110?api-version=2020-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "hostName": "testsa4dotnetsdk.blob.core.windows.net"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/f3d94233-a9aa-4241-ac82-2dfb63ce637a/resourcegroups/testRg-9239/providers/Microsoft.Cdn/operationresults/2d0903be-d18b-448b-8915-ac329d65a74f?api-version=2020-09-01",
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "98"
      },
      "ResponseBody": {
        "id": "/subscriptions/f3d94233-a9aa-4241-ac82-2dfb63ce637a/resourcegroups/testRg-9239/providers/Microsoft.Cdn/profiles/AFDProfile-4511/originGroups/AFDOriginGroup-2970/origins/AFDOrigin-7110",
        "type": "Microsoft.Cdn/profiles/originGroups/origins",
        "name": "AFDOrigin-7110",
        "properties": {
          "originGroupName": "AFDOriginGroup-2970",
          "hostName": "testsa4dotnetsdk.blob.core.windows.net",
          "httpPort": 80,
          "httpsPort": 443,
          "originHostHeader": null,
          "priority": null,
          "weight": null,
          "enabledState": "Enabled",
          "sharedPrivateLinkResource": null,
          "provisioningState": "Creating",
          "deploymentStatus": "NotStarted"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/f3d94233-a9aa-4241-ac82-2dfb63ce637a/resourceGroups/testRg-9239/providers/Microsoft.Cdn/profiles/AFDProfile-4511/originGroups/AFDOriginGroup-2970/origins?api-version=2020-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11819"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/f3d94233-a9aa-4241-ac82-2dfb63ce637a/resourcegroups/testRg-9239/providers/Microsoft.Cdn/profiles/AFDProfile-4511/originGroups/AFDOriginGroup-2970/origins/AFDOrigin-7110",
            "type": "Microsoft.Cdn/profiles/originGroups/origins",
            "name": "AFDOrigin-7110",
            "properties": {
              "originGroupName": "AFDOriginGroup-2970",
              "hostName": "testsa4dotnetsdk.blob.core.windows.net",
              "httpPort": 80,
              "httpsPort": 443,
              "originHostHeader": null,
              "priority": null,
              "weight": null,
              "enabledState": "Enabled",
              "sharedPrivateLinkResource": null,
              "provisioningState": "Succeeded",
              "deploymentStatus": "NotStarted"
            }
          }
        ]
      }
    }
  ],
  "Variables": {
    "RandomSeed": "1901939872",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "f3d94233-a9aa-4241-ac82-2dfb63ce637a"
  }
}