{
  "Entries": [
    {
      "RequestUri": "/providers/Microsoft.Billing/billingAccounts/default/billingSubscriptions/7b9751e1-7bb6-4583-a3b1-a7626901811a/invoices/T000154489/download?api-version=2020-05-01&downloadToken=Drs_9904044",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Location": [
          "https://api-dogfood.resources.windows-int.net/providers/Microsoft.Billing/billingAccounts/default/billingSubscriptions/7b9751e1-7bb6-4583-a3b1-a7626901811a/operationResults/invoiceDownload_9893eb36-1a0f-4b98-871d-60c1ddbf7b8d?api-version=2020-05-01"
        ],
        "Retry-After": [
          "10"
        ],
        "x-ms-service-version": [
          "10.5.1246.542"
        ],
        "api-supported-versions": [
          "2018-11-01-preview, 2019-10-01-preview, 2020-05-01"
        ],
        "x-ms-ratelimit-remaining-tenant-writes": [
          "1199"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 202
    },
    {
      "RequestUri": "/providers/Microsoft.Billing/billingAccounts/default/billingSubscriptions/7b9751e1-7bb6-4583-a3b1-a7626901811a/operationResults/invoiceDownload_9893eb36-1a0f-4b98-871d-60c1ddbf7b8d?api-version=2020-05-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-service-version": [
          "10.5.1246.542"
        ],
        "api-supported-versions": [
          "2018-11-01-preview, 2019-10-01-preview, 2020-05-01"
        ],
        "x-ms-ratelimit-remaining-tenant-reads": [
          "14999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"url\": \"https://billingrptest.blob.core.windows.net/invoices/T000154489_9904044.pdf?sv=2019-02-02&sr=b&sig=6y4utV0PXtKzi%2BSCcjOMoJKW%2FJw%2BqV1NXgfLY%2B57imQ%3D&se=2020-05-31T03%3A07%3A04Z&sp=r\"\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/providers/Microsoft.Billing/billingAccounts/default/billingSubscriptions/7b9751e1-7bb6-4583-a3b1-a7626901811a/operationResults/invoiceDownload_9893eb36-1a0f-4b98-871d-60c1ddbf7b8d?api-version=2020-05-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-service-version": [
          "10.5.1246.542"
        ],
        "api-supported-versions": [
          "2018-11-01-preview, 2019-10-01-preview, 2020-05-01"
        ],
        "x-ms-ratelimit-remaining-tenant-reads": [
          "14998"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"url\": \"https://billingrptest.blob.core.windows.net/invoices/T000154489_9904044.pdf?sv=2019-02-02&sr=b&sig=6y4utV0PXtKzi%2BSCcjOMoJKW%2FJw%2BqV1NXgfLY%2B57imQ%3D&se=2020-05-31T03%3A07%3A04Z&sp=r\"\r\n}",
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "7b9751e1-7bb6-4583-a3b1-a7626901811a"
  }
}