{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/f3d94233-a9aa-4241-ac82-2dfb63ce637a?api-version=2019-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11998"
      },
      "ResponseBody": {
        "id": "/subscriptions/f3d94233-a9aa-4241-ac82-2dfb63ce637a",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "subscriptionId": "f3d94233-a9aa-4241-ac82-2dfb63ce637a",
        "tenantId": "75743128-1c62-4904-9be1-c23c1edb9a9f",
        "displayName": "Visual Studio Enterprise Subscription",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Public_2014-09-01",
          "quotaId": "MSDN_2014-09-01",
          "spendingLimit": "On"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/providers/Microsoft.Management/managementGroups/testMgmtGroup-8404?api-version=2021-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ba-restapi": "1.0.3.2282",
        "x-ms-ratelimit-remaining-managementgroups-requests": "59",
        "x-ms-ratelimit-remaining-tenant-writes": "1199"
      },
      "ResponseBody": {
        "id": "/providers/Microsoft.Management/managementGroups/testMgmtGroup-8404",
        "type": "Microsoft.Management/managementGroups",
        "name": "testMgmtGroup-8404",
        "properties": {
          "tenantId": "75743128-1c62-4904-9be1-c23c1edb9a9f",
          "displayName": "testMgmtGroup-8404",
          "details": {
            "version": 7,
            "updatedTime": "2021-08-06T03:29:49.1551922Z",
            "updatedBy": "5fb160c5-5f5e-4097-8ad3-174a58b6d0f1",
            "parent": {
              "id": "/providers/Microsoft.Management/managementGroups/75743128-1c62-4904-9be1-c23c1edb9a9f",
              "name": "75743128-1c62-4904-9be1-c23c1edb9a9f",
              "displayName": "Tenant Root Group"
            }
          }
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/providers/Microsoft.Management/managementGroups/testMgmtGroup-8404/providers/Microsoft.Authorization/policyDefinitions/testPolDef-2-6516?api-version=2020-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "displayName": "AutoTest $testPolDef-2-6516",
          "policyRule": {
            "if": {
              "source": "action",
              "equals": "ResourceProviderTestHost/TestResourceType/TestResourceTypeNestedOne/write"
            },
            "then": {
              "effect": "deny"
            }
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-tenant-writes": "1198"
      },
      "ResponseBody": {
        "properties": {
          "displayName": "AutoTest $testPolDef-2-6516",
          "policyType": "Custom",
          "mode": "Indexed",
          "metadata": {
            "createdBy": "a7f6524f-c945-44eb-8671-431626ab4768",
            "createdOn": "2021-08-06T03:30:48.9398918Z",
            "updatedBy": null,
            "updatedOn": null
          },
          "policyRule": {
            "if": {
              "source": "action",
              "equals": "ResourceProviderTestHost/TestResourceType/TestResourceTypeNestedOne/write"
            },
            "then": {
              "effect": "deny"
            }
          }
        },
        "id": "/providers/Microsoft.Management/managementGroups/testMgmtGroup-8404/providers/Microsoft.Authorization/policyDefinitions/testPolDef-2-6516",
        "type": "Microsoft.Authorization/policyDefinitions",
        "name": "testPolDef-2-6516"
      }
    },
    {
      "RequestUri": "https://management.azure.com/providers/Microsoft.Management/managementGroups/testMgmtGroup-8404/providers/Microsoft.Authorization/policySetDefinitions/polSetDef-C-7055?api-version=2020-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "displayName": "AutoTest $polSetDef-C-7055",
          "policyDefinitions": [
            {
              "policyDefinitionId": "/providers/Microsoft.Management/managementGroups/testMgmtGroup-8404/providers/Microsoft.Authorization/policyDefinitions/testPolDef-2-6516"
            }
          ]
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-tenant-writes": "1197"
      },
      "ResponseBody": {
        "properties": {
          "displayName": "AutoTest $polSetDef-C-7055",
          "policyType": "Custom",
          "metadata": {
            "createdBy": "a7f6524f-c945-44eb-8671-431626ab4768",
            "createdOn": "2021-08-06T03:30:49.1973026Z",
            "updatedBy": null,
            "updatedOn": null
          },
          "policyDefinitions": [
            {
              "policyDefinitionReferenceId": "11339143737699946823",
              "policyDefinitionId": "/providers/Microsoft.Management/managementGroups/testMgmtGroup-8404/providers/Microsoft.Authorization/policyDefinitions/testPolDef-2-6516"
            }
          ]
        },
        "id": "/providers/Microsoft.Management/managementGroups/testMgmtGroup-8404/providers/Microsoft.Authorization/policySetDefinitions/polSetDef-C-7055",
        "type": "Microsoft.Authorization/policySetDefinitions",
        "name": "polSetDef-C-7055"
      }
    }
  ],
  "Variables": {
    "RandomSeed": "704997570",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "f3d94233-a9aa-4241-ac82-2dfb63ce637a"
  }
}