{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/f3d94233-a9aa-4241-ac82-2dfb63ce637a?api-version=2019-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "id": "/subscriptions/f3d94233-a9aa-4241-ac82-2dfb63ce637a",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "subscriptionId": "f3d94233-a9aa-4241-ac82-2dfb63ce637a",
        "tenantId": "75743128-1c62-4904-9be1-c23c1edb9a9f",
        "displayName": "Visual Studio Enterprise Subscription",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Public_2014-09-01",
          "quotaId": "MSDN_2014-09-01",
          "spendingLimit": "On"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/f3d94233-a9aa-4241-ac82-2dfb63ce637a/providers/Microsoft.Authorization/policyDefinitions/tesPolDef-4-8404?api-version=2020-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "displayName": "AutoTest $tesPolDef-4-8404",
          "policyRule": {
            "if": {
              "source": "action",
              "equals": "ResourceProviderTestHost/TestResourceType/TestResourceTypeNestedOne/write"
            },
            "then": {
              "effect": "deny"
            }
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "properties": {
          "displayName": "AutoTest $tesPolDef-4-8404",
          "policyType": "Custom",
          "mode": "Indexed",
          "metadata": {
            "createdBy": "a7f6524f-c945-44eb-8671-431626ab4768",
            "createdOn": "2021-08-06T03:30:54.0064962Z",
            "updatedBy": null,
            "updatedOn": null
          },
          "policyRule": {
            "if": {
              "source": "action",
              "equals": "ResourceProviderTestHost/TestResourceType/TestResourceTypeNestedOne/write"
            },
            "then": {
              "effect": "deny"
            }
          }
        },
        "id": "/subscriptions/f3d94233-a9aa-4241-ac82-2dfb63ce637a/providers/Microsoft.Authorization/policyDefinitions/tesPolDef-4-8404",
        "type": "Microsoft.Authorization/policyDefinitions",
        "name": "tesPolDef-4-8404"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/f3d94233-a9aa-4241-ac82-2dfb63ce637a/providers/Microsoft.Authorization/policySetDefinitions/polSetDef-G-6388?api-version=2020-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "displayName": "AutoTest $polSetDef-G-6388",
          "policyDefinitions": [
            {
              "policyDefinitionId": "/subscriptions/f3d94233-a9aa-4241-ac82-2dfb63ce637a/providers/Microsoft.Authorization/policyDefinitions/tesPolDef-4-8404"
            }
          ]
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1198"
      },
      "ResponseBody": {
        "properties": {
          "displayName": "AutoTest $polSetDef-G-6388",
          "policyType": "Custom",
          "metadata": {
            "createdBy": "a7f6524f-c945-44eb-8671-431626ab4768",
            "createdOn": "2021-08-06T03:30:54.1844203Z",
            "updatedBy": null,
            "updatedOn": null
          },
          "policyDefinitions": [
            {
              "policyDefinitionReferenceId": "5677496715678101267",
              "policyDefinitionId": "/subscriptions/f3d94233-a9aa-4241-ac82-2dfb63ce637a/providers/Microsoft.Authorization/policyDefinitions/tesPolDef-4-8404"
            }
          ]
        },
        "id": "/subscriptions/f3d94233-a9aa-4241-ac82-2dfb63ce637a/providers/Microsoft.Authorization/policySetDefinitions/polSetDef-G-6388",
        "type": "Microsoft.Authorization/policySetDefinitions",
        "name": "polSetDef-G-6388"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/f3d94233-a9aa-4241-ac82-2dfb63ce637a/providers/Microsoft.Authorization/policyDefinitions/tesPolDef-4-8404?api-version=2020-09-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-deletes": "14998"
      },
      "ResponseBody": {
        "properties": {
          "displayName": "AutoTest $tesPolDef-4-8404",
          "policyType": "Custom",
          "mode": "Indexed",
          "metadata": {
            "createdBy": "a7f6524f-c945-44eb-8671-431626ab4768",
            "createdOn": "2021-08-06T03:30:54.0064962Z",
            "updatedBy": null,
            "updatedOn": null
          },
          "policyRule": {
            "if": {
              "source": "action",
              "equals": "ResourceProviderTestHost/TestResourceType/TestResourceTypeNestedOne/write"
            },
            "then": {
              "effect": "deny"
            }
          }
        },
        "id": "/subscriptions/f3d94233-a9aa-4241-ac82-2dfb63ce637a/providers/Microsoft.Authorization/policyDefinitions/tesPolDef-4-8404",
        "type": "Microsoft.Authorization/policyDefinitions",
        "name": "tesPolDef-4-8404"
      }
    }
  ],
  "Variables": {
    "RandomSeed": "704997570",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "f3d94233-a9aa-4241-ac82-2dfb63ce637a"
  }
}