{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/fb74b135-894b-4c1d-9b2e-8a3c231abc14?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11995"
      },
      "ResponseBody": {
        "id": "/subscriptions/fb74b135-894b-4c1d-9b2e-8a3c231abc14",
        "authorizationSource": "Bypassed",
        "managedByTenants": [],
        "subscriptionId": "fb74b135-894b-4c1d-9b2e-8a3c231abc14",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": "ChaosRP-Test-MSFT-Manual-1",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/fb74b135-894b-4c1d-9b2e-8a3c231abc14/resourcegroups/rg-chaos-sdk-test-recording?api-version=2021-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11994"
      },
      "ResponseBody": {
        "id": "/subscriptions/fb74b135-894b-4c1d-9b2e-8a3c231abc14/resourceGroups/rg-chaos-sdk-test-recording",
        "name": "rg-chaos-sdk-test-recording",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus",
        "tags": {
          "DeleteAfter": "2022-12-11T22:29:35.7859903\u002B00:00",
          "Owners": "brrusino",
          "ServiceDirectory": "chaos"
        },
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/fb74b135-894b-4c1d-9b2e-8a3c231abc14/resourceGroups/rg-chaos-sdk-test-recording/providers/Microsoft.Chaos/experiments?api-version=2022-07-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-original-request-ids": [
          "",
          ""
        ],
        "x-ms-ratelimit-remaining-subscription-resource-requests": "298"
      },
      "ResponseBody": {
        "value": [
          {
            "type": "Microsoft.Chaos/experiments",
            "id": "/subscriptions/fb74b135-894b-4c1d-9b2e-8a3c231abc14/resourceGroups/rg-chaos-sdk-test-recording/providers/Microsoft.Chaos/experiments/VMSS-Shutdown-V2v0-chaossdk",
            "name": "VMSS-Shutdown-V2v0-chaossdk",
            "systemData": {
              "createdAt": "2022-12-01T22:35:37.5502193\u002B00:00",
              "lastModifiedAt": "2022-12-01T22:36:11.8791929\u002B00:00",
              "createdByType": "User"
            },
            "location": "eastus",
            "properties": {
              "selectors": [
                {
                  "type": "List",
                  "id": "Selector1",
                  "targets": [
                    {
                      "id": "/subscriptions/fb74b135-894b-4c1d-9b2e-8a3c231abc14/resourceGroups/rg-chaos-sdk-test-recording/providers/Microsoft.Compute/virtualMachineScaleSets/chaossdk-vmss-eastus/providers/Microsoft.Chaos/targets/Microsoft-VirtualMachineScaleSet",
                      "type": "ChaosTarget"
                    }
                  ]
                }
              ],
              "steps": [
                {
                  "name": "Step1",
                  "branches": [
                    {
                      "name": "Branch1",
                      "actions": [
                        {
                          "type": "continuous",
                          "selectorId": "Selector1",
                          "duration": "PT2M",
                          "parameters": [
                            {
                              "key": "abruptShutdown",
                              "value": "false"
                            }
                          ],
                          "name": "urn:csci:microsoft:virtualMachineScaleSet:shutdown/2.0"
                        }
                      ]
                    }
                  ]
                }
              ]
            }
          },
          {
            "type": "Microsoft.Chaos/experiments",
            "id": "/subscriptions/fb74b135-894b-4c1d-9b2e-8a3c231abc[...]
