{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/fb74b135-894b-4c1d-9b2e-8a3c231abc14?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11971"
      },
      "ResponseBody": {
        "id": "/subscriptions/fb74b135-894b-4c1d-9b2e-8a3c231abc14",
        "authorizationSource": "Bypassed",
        "managedByTenants": [],
        "subscriptionId": "fb74b135-894b-4c1d-9b2e-8a3c231abc14",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": "ChaosRP-Test-MSFT-Manual-1",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/fb74b135-894b-4c1d-9b2e-8a3c231abc14/resourcegroups/rg-chaos-sdk-test-recording?api-version=2021-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11970"
      },
      "ResponseBody": {
        "id": "/subscriptions/fb74b135-894b-4c1d-9b2e-8a3c231abc14/resourceGroups/rg-chaos-sdk-test-recording",
        "name": "rg-chaos-sdk-test-recording",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus",
        "tags": {
          "ServiceDirectory": "chaos",
          "DeleteAfter": "2022-12-11T06:39:47.2089768Z",
          "Owners": "brrusino"
        },
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/fb74b135-894b-4c1d-9b2e-8a3c231abc14/resourceGroups/rg-chaos-sdk-test-recording/providers/Microsoft.Chaos/experiments/sdktest-chaos-execution-5?api-version=2022-10-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-07-01-preview, 2021-07-05-preview, 2021-08-11-preview, 2021-09-15-preview, 2022-07-01-preview, 2022-10-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "286"
      },
      "ResponseBody": {
        "type": "Microsoft.Chaos/experiments",
        "id": "/subscriptions/fb74b135-894b-4c1d-9b2e-8a3c231abc14/resourceGroups/rg-chaos-sdk-test-recording/providers/Microsoft.Chaos/experiments/sdktest-chaos-execution-5",
        "name": "sdktest-chaos-execution-5",
        "systemData": {
          "createdAt": "2022-12-06T05:16:47.1239495\u002B00:00",
          "lastModifiedAt": "2022-12-06T06:45:00.4253199\u002B00:00",
          "createdByType": "User"
        },
        "identity": {
          "type": "SystemAssigned",
          "principalId": "266940a5-6f39-4971-940e-776d72d468ed",
          "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47"
        },
        "location": "eastus",
        "properties": {
          "selectors": [
            {
              "type": "List",
              "id": "Selector1",
              "targets": [
                {
                  "id": "/subscriptions/fb74b135-894b-4c1d-9b2e-8a3c231abc14/resourceGroups/rg-chaos-sdk-test-recording/providers/Microsoft.Compute/virtualMachineScaleSets/chaossdk-vmss-eastus-5/providers/Microsoft.Chaos/targets/Microsoft-VirtualMachineScaleSet",
                  "type": "ChaosTarget"
                }
              ],
              "filter": null
            }
          ],
          "steps": [
            {
              "name": "Step1",
              "branches": [
                {
                  "name": "Branch1",
                  "actions": [
                    {
                      "type": "continuous",
                      "selectorId": "Selector1",
                      "duration": "PT2M",
                      "parameters": [
                        {
                          "key": "abruptShutdown",
                          "value": "false"
                        }
                      ],
                      "name": "urn:csci:microsoft:virtualMachineScaleSet:shutdown/2.0"
                    }
                  ]
                }
              ]
            }
          ]
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/fb74b135-894b-4c1d-9b2e-8a3c231abc14/resourceGroups/rg-chaos-sdk-test-recording/providers/Microsoft.Chaos/experiments/sdktest-chaos-execution-5/executionDetails?api-version=2022-10-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-07-01-preview, 2021-07-05-preview, 2021-08-11-preview, 2021-09-15-preview, 2022-07-01-preview, 2022-10-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "996"
      },
      "ResponseBody": {
        "value": [
          {
            "type": "Microsoft.Chaos/experiments/executionDetails",
            "id": "/subscriptions/fb74b135-894b-4c1d-9b2e-8a3c231abc14/resourceGroups/rg-chaos-sdk-test-recording/providers/Microsoft.Chaos/experiments/sdktest-chaos-execution-5/executionDetails/CF2CA2B8-C534-43F5-A2D1-2FFA8E69F901",
            "name": "CF2CA2B8-C534-43F5-A2D1-2FFA8E69F901",
            "properties": {
              "experimentId": "CF2CA2B8-C534-43F5-A2D1-2FFA8E69F901",
              "status": "Cancelled",
              "failureReason": "",
              "createdDateTime": "0001-01-01T00:00:00\u002B00:00",
              "lastActionDateTime": "0001-01-01T00:00:00\u002B00:00",
              "startDateTime": "0001-01-01T00:00:00\u002B00:00",
              "stopDateTime": "0001-01-01T00:00:00\u002B00:00",
              "runInformation": null,
              "executionId": null
            }
          },
          {
            "type": "Microsoft.Chaos/experiments/executionDetails",
            "id": "/subscriptions/fb74b135-894b-4c1d-9b2e-8a3c231abc14/resourceGroups/rg-chaos-sdk-test-recording/providers/Microsoft.Chaos/experiments/sdktest-chaos-execution-5/executionDetails/ED9F2C2C-3787-40A5-B06F-6AE09C2A8370",
            "name": "ED9F2C2C-3787-40A5-B06F-6AE09C2A8370",
            "properties": {
              "experimentId": "ED9F2C2C-3787-40A5-B06F-6AE09C2A8370",
              "status": "Success",
              "failureReason": null,
              "createdDateTime": "2022-12-06T07:19:05.5033805\u002B00:00",
              "lastActionDateTime": "2022-12-06T07:21:56.2842771\u002B00:00",
              "startDateTime": "2022-12-06T07:19:15.0751918\u002B00:00",
              "stopDateTime": "2022-12-06T07:21:56.2842771\u002B00:00",
              "runInformation": {
                "steps": [
                  {
                    "stepName": "Step1",
                    "stepId": "Step1",
                    "status": "completed",
                    "branches": [
                      {
                        "branchName": "Branch1",
                        "branchId": "Branch1",
                        "status": "completed",
                        "actions": [
                          {
                            "actionName": "urn:csci:microsoft:virtualMachineScaleSet:shutdown/2.0",
                            "actionId": "276d2830-91d7-42d6-aa89-8c45ff611d54",
                            "status": "completed",
                            "targets": [
                              {
                                "status": "completed",
                                "target": "urn:x-chaos-targets:Azure-virtualMachineScaleSetVM:/subscriptions/fb74b135-894b-4c1d-9b2e-8a3c231abc14/resourceGroups/rg-chaos-sdk-test-recording/providers/Microsoft.Compute/virtualMachineScaleSets/chaossdk-vmss-eastus-5/providers/Microsoft.Chaos/targets/Microsoft-VirtualMachineScaleSet",
                                "targetFailedTime": "0001-01-01T00:00:00\u002B00:00",
                                "targetCompletedTime": "2022-12-06T07:21:49.8643137\u002B00:00",
                                "error": {
                                  "code": null,
                                  "message": null
                                }
                              }
                            ],
                            "startTime": "2022-12-06T07:19:16.438885\u002B00:00",
                            "endTime": "2022-12-06T07:21:49.9239161\u002B00:00"
                          }
                        ]
                      }
                    ]
                  }
                ]
              },
              "executionId": null
            }
          }
        ],
        "nextLink": "https://management.azure.com/subscriptions/fb74b135-894b-4c1d-9b2e-8a3c231abc14/resourceGroups/rg-chaos-sdk-test-recording/providers/Microsoft.Chaos/experiments/sdktest-chaos-execution-5/executionDetails?continuationToken=%5b%7B%22token%22%3a%22%2bRID%3a~zjgaAIgVcn1ApxMAAAAAAA%3d%3d%23RT%3a1%23TRC%3a2%23RTD%3aDWdvyvRuVDNffelI%2bB3GBTMxMzMuMjMuMTdVMTg7Mjk7NDQvMjg6Njg1WwA%3d%23ISV%3a2%23IEO%3a65567%23QCF%3a8%22%2c%22range%22%3a%7B%22min%22%3a%22%22%2c%22max%22%3a%22FF%22%7D%7D%5d\u0026api-version=2022-10-01-preview"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/fb74b135-894b-4c1d-9b2e-8a3c231abc14/resourceGroups/rg-chaos-sdk-test-recording/providers/Microsoft.Chaos/experiments/sdktest-chaos-execution-5/executionDetails?continuationToken=%5b%7B%22token%22%3a%22%2bRID%3a~zjgaAIgVcn1ApxMAAAAAAA%3d%3d%23RT%3a1%23TRC%3a2%23RTD%3aDWdvyvRuVDNffelI%2bB3GBTMxMzMuMjMuMTdVMTg7Mjk7NDQvMjg6Njg1WwA%3d%23ISV%3a2%23IEO%3a65567%23QCF%3a8%22%2c%22range%22%3a%7B%22min%22%3a%22%22%2c%22max%22%3a%22FF%22[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/fb74b135-894b-4c1d-9b2e-8a3c231abc14/resourceGroups/rg-chaos-sdk-test-recording/providers/Microsoft.Chaos/experiments/sdktest-chaos-execution-5/executionDetails/CF2CA2B8-C534-43F5-A2D1-2FFA8E69F901?api-version=2022-10-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-suppo[...]
