{
  "Entries": [
    {
      "RequestUri": "/52f290f6-ea2a-4c39-9bbc-1070047a0ef0/cloudservices/CisService-TRSY36RJLI3GVRJMZY4JKFKNS7HAHME3QGSESC5TVYOUXQUFW4NQ-west-us/resources/CISBVT2/~/CiSVault/onesdk-p2/api/devices?api-version=2014-01-01.1.0",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2014-01-01"
        ]
      },
      "ResponseBody": "<ArrayOfDeviceInfo xmlns=\"http://windowscloudbackup.com/CiS/V2013_03\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n  <DeviceInfo>\r\n    <ACRCount>0</ACRCount>\r\n    <ActivationTime>2015-02-09T11:37:02.1937849Z</ActivationTime>\r\n    <ActiveController>Unknown</ActiveController>\r\n    <AvailableStorageInBytes>734439407616</AvailableStorageInBytes>\r\n    <CloudCredCount>0</CloudCredCount>\r\n    <Culture>en-US</Culture>\r\n    <CurrentController>Unknown</CurrentController>\r\n    <DataContainerCount>0</DataContainerCount>\r\n    <Description>TestDescription9218</Description>\r\n    <DeviceId>865e68f6-1e71-47b6-80d5-15d3a23bd2b0</DeviceId>\r\n    <DeviceSoftwareVersion>6.3.9600.17397</DeviceSoftwareVersion>\r\n    <FriendlyName>TestFriendlyName4564</FriendlyName>\r\n    <IsConfigUpdated>true</IsConfigUpdated>\r\n    <IsVirtualApplianceInterimEntry>false</IsVirtualApplianceInterimEntry>\r\n    <Location i:nil=\"true\" />\r\n    <ModelDescription>100</ModelDescription>\r\n    <NNicCards>6</NNicCards>\r\n    <ProvisionedStorageInBytes>365072220160</ProvisionedStorageInBytes>\r\n    <SerialNumber>123456789</SerialNumber>\r\n    <Status>Online</Status>\r\n    <TargetIQN>iqn.1991-05.com.microsoft:storsimple100-123456789-target</TargetIQN>\r\n    <TimeZone>Pacific Standard Time</TimeZone>\r\n    <TotalStorageInBytes>1099511627776</TotalStorageInBytes>\r\n    <Type>Appliance</Type>\r\n    <UsingStorageInBytes>0</UsingStorageInBytes>\r\n    <VolumeCount>0</VolumeCount>\r\n  </DeviceInfo>\r\n  <DeviceInfo>\r\n    <ACRCount>0</ACRCount>\r\n    <ActivationTime>2015-02-17T06:35:38.4946609Z</ActivationTime>\r\n    <ActiveController>Unknown</ActiveController>\r\n    <AvailableStorageInBytes>1095364144128</AvailableStorageInBytes>\r\n    <CloudCredCount>0</CloudCredCount>\r\n    <Culture>en-US</Culture>\r\n    <CurrentController>Unknown</CurrentController>\r\n    <DataContainerCount>0</DataContainerCount>\r\n    <Description i:nil=\"true\" />\r\n    <DeviceId>e1458501-f34e-422d-8094-59fa5c9ff2d4</DeviceId>\r\n    <DeviceSoftwareVersion>6.3.9600.17361</DeviceSoftwareVersion>\r\n    <FriendlyName>Avirupch_App6</FriendlyName>\r\n    <IsConfigUpdated>true</IsConfigUpdated>\r\n    <IsVirtualApplianceInterimEntry>false</IsVirtualApplianceInterimEntry>\r\n    <Location i:nil=\"true\" />\r\n    <ModelDescription>100</ModelDescription>\r\n    <NNicCards>6</NNicCards>\r\n    <ProvisionedStorageInBytes>4147483648</ProvisionedStorageInBytes>\r\n    <SerialNumber>123456789</SerialNumber>\r\n    <Status>Online</Status>\r\n    <TargetIQN>iqn.1991-05.com.microsoft:storsimple100-123456789-target</TargetIQN>\r\n    <TimeZone>Pacific Standard Time</TimeZone>\r\n    <TotalStorageInBytes>1099511627776</TotalStorageInBytes>\r\n    <Type>Appliance</Type>\r\n    <UsingStorageInBytes>0</UsingStorageInBytes>\r\n    <VolumeCount>0</VolumeCount>\r\n  </DeviceInfo>\r\n</ArrayOfDeviceInfo>",
      "ResponseHeaders": {
        "Content-Type": [
          "application/xml; charset=utf-8"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/52f290f6-ea2a-4c39-9bbc-1070047a0ef0/cloudservices/CisService-TRSY36RJLI3GVRJMZY4JKFKNS7HAHME3QGSESC5TVYOUXQUFW4NQ-west-us/resources/CISBVT2/~/CiSVault/onesdk-p2/api/?api-version=2014-01-01.1.0",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2014-01-01"
        ]
      },
      "ResponseBody": "<ServiceConfiguration_Base i:type=\"ServiceConfiguration\" xmlns=\"http://windowscloudbackup.com/CiS/V2013_03\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n  <AcrChangeList>\r\n    <Added />\r\n    <Deleted xmlns:d3p1=\"http://schemas.microsoft.com/2003/10/Serialization/Arrays\" />\r\n    <Updated>\r\n      <AccessControlRecord>\r\n        <InstanceId>0433c2da-9049-4d4d-b5ec-8a7e7af3349b</InstanceId>\r\n        <Name>VDnewTestAcr8108</Name>\r\n        <OperationInProgress>None</OperationInProgress>\r\n        <GlobalId i:nil=\"true\" xmlns=\"http://schemas.datacontract.org/2004/07/Microsoft.Internal.CiS.Service.Interface.Portal\" />\r\n        <InitiatorName>VDinitiator6040</InitiatorName>\r\n        <VolumeCount>1</VolumeCount>\r\n      </AccessControlRecord>\r\n      <AccessControlRecord>\r\n        <InstanceId>05ae9fd1-db52-4c68-be7d-b2772a9ec501</InstanceId>\r\n        <Name>VDnewTestAcr4174</Name>\r\n        <OperationInProgress>None</OperationInProgress>\r\n        <GlobalId i:nil=\"true\" xmlns=\"http://schemas.datacontract.org/2004/07/Microsoft.Internal.CiS.Service.Interface.Portal\" />\r\n        <InitiatorName>VDinitiator86260</InitiatorNa[...]
    {
      "RequestUri": "/52f290f6-ea2a-4c39-9bbc-1070047a0ef0/cloudservices/CisService-TRSY36RJLI3GVRJMZY4JKFKNS7HAHME3QGSESC5TVYOUXQUFW4NQ-west-us/resources/CISBVT2/~/CiSVault/onesdk-p2/api/devices/865e68f6-1e71-47b6-80d5-15d3a23bd2b0/datacontainers?api-version=2014-01-01.2.0",
      "RequestMethod": "POST",
      "RequestBody": "<DataContainer_V2 xmlns=\"http://windowscloudbackup.com/CiS/V2013_03\">\r\n  <Name>DCName2212</Name>\r\n  <OperationInProgress>Invalid</OperationInProgress>\r\n  <BandwidthRate>256</BandwidthRate>\r\n  <IsDefault>false</IsDefault>\r\n  <IsEncryptionEnabled>false</IsEncryptionEnabled>\r\n  <Owned>false</Owned>\r\n  <PrimaryStorageAccountCredential>\r\n    <InstanceId>cdc1001f-8a34-44de-aa41-deaf8e1192c9</InstanceId>\r\n    <Name>onesdkp2</Name>\r\n    <OperationInProgress>None</OperationInProgress>\r\n    <CloudType>Azure</CloudType>\r\n    <Hostname>blob.core.test-cint.azure-test.net</Hostname>\r\n    <IsDefault>false</IsDefault>\r\n    <Location>West US</Location>\r\n    <Login>onesdkp2</Login>\r\n    <Password>hW1orG8vE4nEF9m4VauFaEcdcpSjPyUpe+aOMzXKu+/KFcoeBJG4oErSOL0wQsWWtlxjoMn3WSSAHeH9LJ4WvQzg45QWJ3My1xX3l83UC11MxXvL68lv/LrmCRbltY9NjvAJLWsxwr60fEkpsuXJAmgi/c8yK1s6pWwXFLF/67xd6UovhTqTK2Xiqal4NrPyqSwoDnPHhQFSu5T//AkMug6FaJjozlIJ87mQWkR5aMZmDbQLcjOF48vdh+KmJM2clYaobRrbVz6r6XeHR8UKW4xbyBgtkYzQ+gAkqdOt1GCT0FkDKXv8/412eZSgOnUaIHWUc20MSyOO4YKREHxRqQ==</Password>\r\n    <UseSSL>true</UseSSL>\r\n    <VolumeCount>9</VolumeCount>\r\n    <PasswordEncryptionCertThumbprint p3:nil=\"true\" xmlns:p3=\"http://www.w3.org/2001/XMLSchema-instance\" />\r\n  </PrimaryStorageAccountCredential>\r\n  <VolumeCount>0</VolumeCount>\r\n</DataContainer_V2>",
      "RequestHeaders": {
        "Content-Type": [
          "application/xml"
        ],
        "x-ms-version": [
          "2014-01-01"
        ]
      },
      "ResponseBody": "<string xmlns=\"http://schemas.microsoft.com/2003/10/Serialization/\">14c460a0-a171-4e33-8d0d-184fe33fd03b</string>",
      "ResponseHeaders": {
        "Content-Type": [
          "application/xml; charset=utf-8"
        ]
      },
      "StatusCode": 202
    },
    {
      "RequestUri": "/52f290f6-ea2a-4c39-9bbc-1070047a0ef0/cloudservices/CisService-TRSY36RJLI3GVRJMZY4JKFKNS7HAHME3QGSESC5TVYOUXQUFW4NQ-west-us/resources/CISBVT2/~/CiSVault/onesdk-p2/api/jobs/14c460a0-a171-4e33-8d0d-184fe33fd03b?api-version=2014-01-01.1.0",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2014-01-01"
        ]
      },
      "ResponseBody": "<JobStatusInfo xmlns=\"http://windowscloudbackup.com/CiS/V2013_03\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n  <Error i:nil=\"true\" xmlns:d2p1=\"http://schemas.microsoft.com/wars\" />\r\n  <JobId>14c460a0-a171-4e33-8d0d-184fe33fd03b</JobId>\r\n  <JobSteps>\r\n    <JobStep>\r\n      <Detail></Detail>\r\n      <ErrorCode>SS_08061AC3</ErrorCode>\r\n      <Message>Create volume container 'DCName2212' on 'TestFriendlyName4564' in progress</Message>\r\n      <Result>Invalid</Result>\r\n      <Status>InProgress</Status>\r\n    </JobStep>\r\n  </JobSteps>\r\n  <Result>Invalid</Result>\r\n  <Status>InProgress</Status>\r\n  <TaskResult>InProgress</TaskResult>\r\n</JobStatusInfo>",
      "ResponseHeaders": {
        "Content-Type": [
          "application/xml; charset=utf-8"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/52f290f6-ea2a-4c39-9bbc-1070047a0ef0/cloudservices/CisService-TRSY36RJLI3GVRJMZY4JKFKNS7HAHME3QGSESC5TVYOUXQUFW4NQ-west-us/resources/CISBVT2/~/CiSVault/onesdk-p2/api/devices/865e68f6-1e71-47b6-80d5-15d3a23bd2b0/datacontainers?dataContainerName=DCName2212&api-version=2014-01-01.1.0",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2014-01-01"
        ]
      },
      "ResponseBody": "<DataContainer_Base i:type=\"DataContainer\" xmlns=\"http://windowscloudbackup.com/CiS/V2013_03\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n  <InstanceId>9b3f3628-3208-4b22-b805-646c5123607d</InstanceId>\r\n  <Name>DCName2212</Name>\r\n  <OperationInProgress>None</OperationInProgress>\r\n  <BandwidthRate>256</BandwidthRate>\r\n  <EncryptionKey></EncryptionKey>\r\n  <IsDefault>false</IsDefault>\r\n  <IsEncryptionEnabled>false</IsEncryptionEnabled>\r\n  <Owned>true</Owned>\r\n  <PrimaryStorageAccountCredential>\r\n    <InstanceId>cdc1001f-8a34-44de-aa41-deaf8e1192c9</InstanceId>\r\n    <Name>onesdkp2</Name>\r\n    <OperationInProgress>None</OperationInProgress>\r\n    <GlobalId xmlns=\"http://schemas.datacontract.org/2004/07/Microsoft.Internal.CiS.Service.Interface.Portal\">cdc1001f-8a34-44de-aa41-deaf8e1192c9</GlobalId>\r\n    <CloudType>Azure</CloudType>\r\n    <Hostname>blob.core.test-cint.azure-test.net</Hostname>\r\n    <IsDefault>false</IsDefault>\r\n    <Location>West US</Location>\r\n    <Login>onesdkp2</Login>\r\n    <Password>hW1orG8vE4nEF9m4VauFaEcdcpSjPyUpe+aOMzXKu+/KFcoeBJG4oErSOL0wQsWWtlxjoMn3WSSAHeH9LJ4WvQzg45QWJ3My1xX3l83UC11MxXvL68lv/LrmCRbltY9NjvAJLWsxwr60fEkpsuXJAmgi/c8yK1s6pWwXFLF/67xd6UovhTqTK2Xiqal4NrPyqSwoDnPHhQFSu5T//AkMug6FaJjozlIJ87mQWkR5aMZmDbQLcjOF48vdh+KmJM2clYaobRrbVz6r6XeHR8UKW4xbyBgtkYzQ+gAkqdOt1GCT0FkDKXv8/412eZSgOnUaIHWUc20MSyOO4YKREHxRqQ==</Password>\r\n    <UseSSL>true</UseSSL>\r\n    <VolumeCount>9</VolumeCount>\r\n  </PrimaryStorageAccountCredential>\r\n  <VolumeCount>0</VolumeCount>\r\n</DataContainer_Base>",
      "ResponseHeaders": {
        "Content-Type": [
          "application/xml; charset=utf-8"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/52f290f6-ea2a-4c39-9bbc-1070047a0ef0/cloudservices/CisService-TRSY36RJLI3GVRJMZY4JKFKNS7HAHME3QGSESC5TVYOUXQUFW4NQ-west-us/resources/CISBVT2/~/CiSVault/onesdk-p2/api/devices/865e68f6-1e71-47b6-80d5-15d3a23bd2b0/virtualdisks?api-version=2014-01-01.1.0",
      "RequestMethod": "POST",
      "RequestBody": "<VirtualDisk xmlns=\"http://windowscloudbackup.com/CiS/V2013_03\">\r\n  <Name>VD1Name319</Name>\r\n  <OperationInProgress>Invalid</OperationInProgress>\r\n  <AccessType>ReadWrite</AccessType>\r\n  <AcrIdList />\r\n  <AcrList>\r\n    <AccessControlRecord>\r\n      <Name>VDnewTestAcr4138</Name>\r\n      <InitiatorName>VDinitiator41290</InitiatorName>\r\n      <VolumeCount>0</VolumeCount>\r\n      <OperationInProgress>Invalid</OperationInProgress>\r\n    </AccessControlRecord>\r\n  </AcrList>\r\n  <AppType>PrimaryVolume</AppType>\r\n  <DataContainer>\r\n    <InstanceId>9b3f3628-3208-4b22-b805-646c5123607d</InstanceId>\r\n    <Name>DCName2212</Name>\r\n    <OperationInProgress>None</OperationInProgress>\r\n    <BandwidthRate>256</BandwidthRate>\r\n    <EncryptionKey></EncryptionKey>\r\n    <IsDefault>false</IsDefault>\r\n    <IsEncryptionEnabled>false</IsEncryptionEnabled>\r\n    <Owned>true</Owned>\r\n    <PrimaryStorageAccountCredential>\r\n      <InstanceId>cdc1001f-8a34-44de-aa41-deaf8e1192c9</InstanceId>\r\n      <Name>onesdkp2</Name>\r\n      <OperationInProgress>None</OperationInProgress>\r\n      <CloudType>Azure</CloudType>\r\n      <Hostname>blob.core.test-cint.azure-test.net</Hostname>\r\n      <IsDefault>false</IsDefault>\r\n      <Location>West US</Location>\r\n      <Login>onesdkp2</Login>\r\n      <Password>hW1orG8vE4nEF9m4VauFaEcdcpSjPyUpe+aOMzXKu+/KFcoeBJG4oErSOL0wQsWWtlxjoMn3WSSAHeH9LJ4WvQzg45QWJ3My1xX3l83UC11MxXvL68lv/LrmCRbltY9NjvAJLWsxwr60fEkpsuXJAmgi/c8yK1s6pWwXFLF/67xd6UovhTqTK2Xiqal4NrPyqSwoDnPHhQFSu5T//AkMug6FaJjozlIJ87mQWkR5aMZmDbQLcjOF48vdh+KmJM2clYaobRrbVz6r6XeHR8UKW4xbyBgtkYzQ+gAkqdOt1GCT0FkDKXv8/412eZSgOnUaIHWUc20MSyOO4YKREHxRqQ==</Password>\r\n      <UseSSL>true</UseSSL>\r\n      <VolumeCount>9</VolumeCount>\r\n      <PasswordEncryptionCertThumbprint p4:nil=\"true\" xmlns:p4=\"http://www.w3.org/2001/XMLSchema-instance\" />\r\n    </PrimaryStorageAccountCredential>\r\n    <VolumeCount>0</VolumeCount>\r\n  </DataContainer>\r\n  <IsBackupEnabled>false</IsBackupEnabled>\r\n  <IsDefaultBackupEnabled>true</IsDefaultBackupEnabled>\r\n  <IsMonitoringEnabled>false</IsMonitoringEnabled>\r\n  <Online>true</Online>\r\n  <SizeInBytes>10737418240</SizeInBytes>\r\n</VirtualDisk>",
      "RequestHeaders": {
        "Content-Type": [
          "application/xml"
        ],
        "x-ms-version": [
          "2014-01-01"
        ]
      },
      "ResponseBody": "<guid xmlns=\"http://schemas.microsoft.com/2003/10/Serialization/\">57e30179-b3ed-4688-bbd7-b0a5c18821e8</guid>",
      "ResponseHeaders": {
        "Content-Type": [
          "application/xml; charset=utf-8"
        ]
      },
      "StatusCode": 202
    },
[...]
    {
      "RequestUri": "/52f290f6-ea2a-4c39-9bbc-1070047a0ef0/cloudservices/CisService-TRSY36RJLI3GVRJMZY4JKFKNS7HAHME3QGSESC5TVYOUXQUFW4NQ-west-us/resources/CISBVT2/~/CiSVault/onesdk-p2/api/devices/865e68f6-1e71-47b6-80d5-15d3a23bd2b0/virtualdisks?diskName=VD1Name319&api-version=2014-01-01.1.0",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2014-01-01"
        ]
      },
      "ResponseBody": "<VirtualDisk xmlns=\"http://windowscloudbackup.com/CiS/V2013_03\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n  <InstanceId>SS-VOL-0a200b48-8a3c-4056-95d0-3eecd9dda148</InstanceId>\r\n  <Name>VD1Name319</Name>\r\n  <OperationInProgress>None</OperationInProgress>\r\n  <AccessType>ReadWrite</AccessType>\r\n  <AcrIdList xmlns:d2p1=\"http://schemas.microsoft.com/2003/10/Serialization/Arrays\">\r\n    <d2p1:string>17aa9471-70c7-4b84-bfe5-3f3cb8aaec7e</d2p1:string>\r\n  </AcrIdList>\r\n  <AcrList>\r\n    <AccessControlRecord>\r\n      <InstanceId>32541647-f9f4-41dd-975d-e42a9a0f325d</InstanceId>\r\n      <Name>VDnewTestAcr4138</Name>\r\n      <OperationInProgress>None</OperationInProgress>\r\n      <GlobalId xmlns=\"http://schemas.datacontract.org/2004/07/Microsoft.Internal.CiS.Service.Interface.Portal\">32541647-f9f4-41dd-975d-e42a9a0f325d</GlobalId>\r\n      <InitiatorName>VDinitiator41290</InitiatorName[...]
    {
      "RequestUri": "/52f290f6-ea2a-4c39-9bbc-1070047a0ef0/cloudservices/CisService-TRSY36RJLI3GVRJMZY4JKFKNS7HAHME3QGSESC5TVYOUXQUFW4NQ-west-us/resources/CISBVT2/~/CiSVault/onesdk-p2/api/devices/865e68f6-1e71-47b6-80d5-15d3a23bd2b0/policies?api-version=2014-01-01.1.0",
      "RequestMethod": "POST",
      "RequestBody": "<AddBackupPolicyRequest xmlns=\"http://windowscloudbackup.com/CiS/V2013_03\">\r\n  <Name>PolicyName3513</Name>\r\n  <Schedules>\r\n    <BackupScheduleBase>\r\n      <BackupType>CloudSnapshot</BackupType>\r\n      <Recurrence>\r\n        <RecurrenceType>Daily</RecurrenceType>\r\n        <RecurrenceValue>5</RecurrenceValue>\r\n      </Recurrence>\r\n      <RetentionCount>5</RetentionCount>\r\n      <StartTime>2015-02-17T17:23:22+05:30</StartTime>\r\n      <Status>Enabled</Status>\r\n    </BackupScheduleBase>\r\n  </Schedules>\r\n  <VirtualDiskIds>\r\n    <string xmlns=\"http://schemas.microsoft.com/2003/10/Serialization/Arrays\">SS-VOL-0a200b48-8a3c-4056-95d0-3eecd9dda148</string>\r\n  </VirtualDiskIds>\r\n</AddBackupPolicyRequest>",
      "RequestHeaders": {
        "Content-Type": [
          "application/xml"
        ],
        "x-ms-version": [
          "2014-01-01"
        ]
      },
      "ResponseBody": "<string xmlns=\"http://schemas.microsoft.com/2003/10/Serialization/\">47b8fb7f-eb45-460a-bf08-bca15ff09c31</string>",
      "ResponseHeaders": {
        "Content-Type": [
          "application/xml; charset=utf-8"
        ]
      },
      "StatusCode": 202
    },
[...]
    {
      "RequestUri": "/52f290f6-ea2a-4c39-9bbc-1070047a0ef0/cloudservices/CisService-TRSY36RJLI3GVRJMZY4JKFKNS7HAHME3QGSESC5TVYOUXQUFW4NQ-west-us/resources/CISBVT2/~/CiSVault/onesdk-p2/api/devices/865e68f6-1e71-47b6-80d5-15d3a23bd2b0/policies?policyName=PolicyName3513&api-version=2014-01-01.1.0",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2014-01-01"
        ]
      },
      "ResponseBody": "<BackupPolicyDetails xmlns=\"http://windowscloudbackup.com/CiS/V2013_03\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n  <InstanceId>464efbc0-9a2a-4641-9c1d-28ae92f68cbb</InstanceId>\r\n  <Name>PolicyName3513</Name>\r\n  <OperationInProgress>None</OperationInProgress>\r\n  <BackupPolicyCreationType>BySaaS</BackupPolicyCreationType>\r\n  <LastBackup>2010-01-01T00:00:00Z</LastBackup>\r\n  <NextBackup>2015-02-22T11:53:53Z</NextBackup>\r\n  <SSMHostName i:nil=\"true\" />\r\n  <SchedulesCount>1</SchedulesCount>\r\n  <VolumesCount>1</VolumesCount>\r\n  <Schedules>\r\n    <BackupScheduleResponse>\r\n      <BackupType>CloudSnapshot</BackupType>\r\n      <Recurrence>\r\n        <RecurrenceType>Daily</RecurrenceType>\r\n        <RecurrenceValue>5</RecurrenceValue>\r\n      </Recurrence>\r\n      <RetentionCount>5</RetentionCount>\r\n      <StartTime>2015-02-17T11:53:22Z</StartTime>\r\n      <Status>Enabled</Status>\r\n      <Id>715a52cb-e1e2-4081-ba2d-bb3bea4cc54e</Id>\r\n      <LastSuccessfulRun>2010-01-01T00:00:00Z</LastSuccessfulRun>\r\n    </BackupScheduleResponse>\r\n  </Schedules>\r\n  <VirtualDisks>\r\n    <VirtualDiskPolicyInfo>\r\n      <InstanceId>SS-VOL-0a200b48-8a3c-4056-95d0-3eecd9dda148</InstanceId>\r\n      <Name>VD1Name319</Name>\r\n      <OperationInProgress>None</OperationInProgress>\r\n      <AssociatedBackupPolicies xmlns:d4p1=\"http://schemas.microsoft.com/2003/10/Serialization/Arrays\">\r\n        <d4p1:string>VD1Name319_Default</d4p1:string>\r\n        <d4p1:string>PolicyName3513</d4p1:string>\r\n      </AssociatedBackupPolicies>\r\n      <CloudType>Azure</CloudType>\r\n      <DataContainerId>9b3f3628-3208-4b22-b805-646c5123607d</DataContainerId>\r\n      <DataContainerName>DCName2212</DataContainerName>\r\n    </VirtualDiskPolicyInfo>\r\n  </VirtualDisks>\r\n</BackupPolicyDetails>",
      "ResponseHeaders": {
        "Content-Type": [
          "application/xml; charset=utf-8"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/52f290f6-ea2a-4c39-9bbc-1070047a0ef0/cloudservices/CisService-TRSY36RJLI3GVRJMZY4JKFKNS7HAHME3QGSESC5TVYOUXQUFW4NQ-west-us/resources/CISBVT2/~/CiSVault/onesdk-p2/api/devices/865e68f6-1e71-47b6-80d5-15d3a23bd2b0/policies/464efbc0-9a2a-4641-9c1d-28ae92f68cbb?api-version=2014-01-01.1.0",
      "RequestMethod": "POST",
      "RequestBody": "<BackupNowRequest xmlns=\"http://windowscloudbackup.com/CiS/V2013_03\">\r\n  <Type>CloudSnapshot</Type>\r\n</BackupNowRequest>",
      "RequestHeaders": {
        "Content-Type": [
          "application/xml; charset=utf-8"
        ],
        "x-ms-version": [
          "2014-01-01"
        ]
      },
      "ResponseBody": "<string xmlns=\"http://schemas.microsoft.com/2003/10/Serialization/\">7c1994f1-3d46-4d45-9e1f-ed3e371c2cac</string>",
      "ResponseHeaders": {
        "Content-Type": [
          "application/xml; charset=utf-8"
        ]
      },
      "StatusCode": 202
    },
[...]
    {
      "RequestUri": "/52f290f6-ea2a-4c39-9bbc-1070047a0ef0/cloudservices/CisService-TRSY36RJLI3GVRJMZY4JKFKNS7HAHME3QGSESC5TVYOUXQUFW4NQ-west-us/resources/CISBVT2/~/CiSVault/onesdk-p2/api/devices/865e68f6-1e71-47b6-80d5-15d3a23bd2b0/backups?filterType=BackupPolicy&isAllSelected=False&filterValue=464efbc0-9a2a-4641-9c1d-28ae92f68cbb&api-version=2014-01-01.1.0",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2014-01-01"
        ]
      },
      "ResponseBody": "<BackupSetsQueryResult_V2 xmlns=\"http://windowscloudbackup.com/CiS/V2013_03\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n  <BackupSetsList />\r\n  <TotalBackupSetCount>0</TotalBackupSetCount>\r\n  <NextPageStartIdentifier>-1</NextPageStartIdentifier>\r\n  <NextPageUri i:nil=\"true\" />\r\n</BackupSetsQueryResult_V2>",
      "ResponseHeaders": {
        "Content-Type": [
          "application/xml; charset=utf-8"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/52f290f6-ea2a-4c39-9bbc-1070047a0ef0/cloudservices/CisService-TRSY36RJLI3GVRJMZY4JKFKNS7HAHME3QGSESC5TVYOUXQUFW4NQ-west-us/resources/CISBVT2/~/CiSVault/onesdk-p2/api/devices/865e68f6-1e71-47b6-80d5-15d3a23bd2b0/backups?filterType=BackupPolicy&isAllSelected=False&filterValue=464efbc0-9a2a-4641-9c1d-28ae92f68cbb&api-version=2014-01-01.1.0",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2014-01-01"
        ]
      },
      "ResponseBody": "<BackupSetsQueryResult_V2 xmlns=\"http://windowscloudbackup.com/CiS/V2013_03\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n  <BackupSetsList>\r\n    <BackupSetInfo>\r\n      <InstanceId>ddc362e7-04a4-4646-b686-9343fbf8adfa</InstanceId>\r\n      <Name>PolicyName3513</Name>\r\n      <OperationInProgress>None</OperationInProgress>\r\n      <BackupJobCreationType>Adhoc</BackupJobCreationType>\r\n      <CloudType>Azure</CloudType>\r\n      <CreatedOn>2015-02-17T11:53:48.806Z</CreatedOn>\r\n      <SSMHostName i:nil=\"true\" />\r\n      <SizeInBytes>10737418240</SizeInBytes>\r\n      <Snapshots>\r\n        <Snapshot>\r\n          <DataContainerId>9b3f3628-3208-4b22-b805-646c5123607d</DataContainerId>\r\n          <Id>de35113a-c5d0-45cb-829d-9b8574588ce8_0000000000000000</Id>\r\n          <Name>VD1Name319</Name>\r\n          <SizeInBytes>10737418240</SizeInBytes>\r\n          <VolumeId>SS-VOL-0a200b48-8a3c-4056-95d0-3eecd9dda148</VolumeId>\r\n        </Snapshot>\r\n      </Snapshots>\r\n      <Type>CloudSnapshot</Type>\r\n    </BackupSetInfo>\r\n  </BackupSetsList>\r\n  <TotalBackupSetCount>1</TotalBackupSetCount>\r\n  <NextPageStartIdentifier>-1</NextPageStartIdentifier>\r\n  <NextPageUri i:nil=\"true\" />\r\n</BackupSetsQueryResult_V2>",
      "ResponseHeaders": {
        "Content-Type": [
          "application/xml; charset=utf-8"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/52f290f6-ea2a-4c39-9bbc-1070047a0ef0/cloudservices/CisService-TRSY36RJLI3GVRJMZY4JKFKNS7HAHME3QGSESC5TVYOUXQUFW4NQ-west-us/resources/CISBVT2/~/CiSVault/onesdk-p2/api/devices/865e68f6-1e71-47b6-80d5-15d3a23bd2b0/failoverdatacontainers?api-version=2014-01-01.1.0",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2014-01-01"
        ]
      },
      "ResponseBody": "<DataContainerGroupResponse xmlns=\"http://windowscloudbackup.com/CiS/V2013_03\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n  <DCGroups>\r\n    <DataContainerGroup>\r\n      <DCGroup>\r\n        <DRDataContainer>\r\n          <InstanceId>00f8172f-ac4c-43f5-b0e6-92d651dc0608</InstanceId>\r\n          <Name>DCName584</Name>\r\n          <OperationInProgress>None</OperationInProgress>\r\n          <CloudType>Azure</CloudType>\r\n          <DataContainerId>00f8172f-ac4c-43f5-b0e6-92d651dc0608</DataContainerId>\r\n          <Location>West US</Location>\r\n          <Owned>true</Owned>\r\n          <OwnerDeviceId></OwnerDeviceId>\r\n          <VolumeList>\r\n            <DRVolume>\r\n              <DisplayName>VD1Name6105</DisplayName>\r\n              <Size>107374182400</Size>\r\n              <SnapshotId>1e9015da-dd84-4efa-aada-19ca1ef1a4bd_0000000000000000</SnapshotId>\r\n            </DRVolume>\r\n          </VolumeList>\r\n        </DRDataContainer>\r\n      </DCGroup>\r\n      <IneligibilityMessage></IneligibilityMessage>\r\n      <IsDCGroupEligibleForDR>true</IsDCGroupEligibleForDR>\r\n    </DataContainerGroup>\r\n    <DataContainerGroup>\r\n      <DCGroup>\r\n        <DRDataContainer>\r\n          <InstanceId>9b3f3628-3208-4b22-b805-646c5123607d</InstanceId>\r\n          <Name>DCName2212</Name>\r\n          <OperationInProgress>None</OperationInProgress>\r\n          <CloudType>Azure</CloudType>\r\n          <DataContainerId>9b3f3628-3208-4b22-b805-646c5123607d</DataContainerId>\r\n          <Location>West US</Location>\r\n          <Owned>tru[...]
    {
      "RequestUri": "/52f290f6-ea2a-4c39-9bbc-1070047a0ef0/cloudservices/CisService-TRSY36RJLI3GVRJMZY4JKFKNS7HAHME3QGSESC5TVYOUXQUFW4NQ-west-us/resources/CISBVT2/~/CiSVault/onesdk-p2/api/devices/865e68f6-1e71-47b6-80d5-15d3a23bd2b0/failover?api-version=2014-01-01.1.0",
      "RequestMethod": "POST",
      "RequestBody": "<DRRequest_V2 xmlns=\"http://windowscloudbackup.com/CiS/V2013_03\">\r\n  <CleanupPrimary>false</CleanupPrimary>\r\n  <DataContainerIds>\r\n    <string xmlns=\"http://schemas.microsoft.com/2003/10/Serialization/Arrays\">00f8172f-ac4c-43f5-b0e6-92d651dc0608</string>\r\n  </DataContainerIds>\r\n  <ReturnWorkflowId>true</ReturnWorkflowId>\r\n  <TargetDeviceId>e1458501-f34e-422d-8094-59fa5c9ff2d4</TargetDeviceId>\r\n</DRRequest_V2>",
      "RequestHeaders": {
        "Content-Type": [
          "application/xml; charset=utf-8"
        ],
        "x-ms-version": [
          "2014-01-01"
        ]
      },
      "ResponseBody": "<string xmlns=\"http://schemas.microsoft.com/2003/10/Serialization/\">017242c8-a349-4fed-81fc-cfbe3c9f2bfe_e1458501-f34e-422d-8094-59fa5c9ff2d4</string>",
      "ResponseHeaders": {
        "Content-Type": [
          "application/xml; charset=utf-8"
        ]
      },
      "StatusCode": 202
    }
  ],
  "Names": {
    "DeviceRestoreScenarioTest": [
      "DCName2212",
      "VDnewTestAcr4138",
      "VDinitiator4129",
      "VD1Name319",
      "PolicyName3513"
    ]
  },
  "Variables": {
    "SubscriptionId": "52f290f6-ea2a-4c39-9bbc-1070047a0ef0"
  }
}