{
  "Entries": [
    {
      "RequestUri": "/subscriptions/9532a63e-f2eb-4649-bb23-5ed01077ce80/providers/Microsoft.Network/expressRouteServiceProviders?api-version=2015-05-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"name\": \"Equinix\",\r\n      \"id\": \"/subscriptions//resourceGroups//providers/Microsoft.Network/expressRouteServiceProviders/\",\r\n      \"type\": \"Microsoft.Network/expressRouteServiceProviders\",\r\n      \"properties\": {\r\n        \"provisioningState\": \"Succeeded\",\r\n        \"peeringLocations\": [\r\n          \"Amsterdam\",\r\n          \"Atlanta\",\r\n          \"Chicago\",\r\n          \"Dallas\",\r\n          \"Hong Kong\",\r\n          \"London\",\r\n          \"Los Angeles\",\r\n          \"Melbourne\",\r\n          \"New York\",\r\n          \"Sao Paulo\",\r\n          \"Seattle\",\r\n          \"Silicon Valley\",\r\n          \"Singapore\",\r\n          \"Sydney\",\r\n          \"Tokyo\",\r\n          \"Washington DC\"\r\n        ],\r\n        \"bandwidthsOffered\": [\r\n          {\r\n            \"offerName\": \"200Mbps\",\r\n            \"valueInMbps\": 200\r\n          },\r\n          {\r\n            \"offerName\": \"500Mbps\",\r\n            \"valueInMbps\": 500\r\n          },\r\n          {\r\n            \"offerName\": \"1Gbps\",\r\n            \"valueInMbps\": 1000\r\n          },\r\n          {\r\n            \"offerName\": \"10Gbps\",\r\n            \"valueInMbps\": 10000\r\n          }\r\n        ]\r\n      }\r\n    }\r\n  ]\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14969"
        ]
      },
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "9532a63e-f2eb-4649-bb23-5ed01077ce80"
  }
}