{
  "Entries": [
    {
      "RequestUri": "/providers/Microsoft.Network/checkTrafficManagerNameAvailability?api-version=2015-04-28-preview",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"name\": \"hydratestrelativename2768\",\r\n  \"type\": \"microsoft.network/trafficmanagerprofiles\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"hydratestrelativename2768\",\r\n  \"type\": \"Microsoft.Network/trafficManagerProfiles\",\r\n  \"nameAvailable\": true,\r\n  \"reason\": null,\r\n  \"message\": null\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-tenant-writes": [
          "1196"
        ]
      },
      "StatusCode": 200
    }
  ],
  "Names": {
    "NameAvailabilityTest_NameAvailable": [
      "hydratestrelativename2768"
    ]
  },
  "Variables": {
    "SubscriptionId": "f3352c17-4be9-4c46-8f38-019a54ec05f7"
  }
}