{
  "Entries": [
    {
      "RequestUri": "https://rnpstd.blob.core.windows.net/test-container-48c1bd44-733d-b70b-ec57-d76ca3220037?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 08 Jul 2021 21:41:16 GMT",
        "x-ms-version": "2020-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D942591D6CE159\u0022",
        "Last-Modified": "Thu, 08 Jul 2021 21:41:16 GMT",
        "x-ms-version": "2020-08-04"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://rnpstd.blob.core.windows.net/test-container-48c1bd44-733d-b70b-ec57-d76ca3220037/test-blob-893fe898-1b61-0c6f-430c-eef3ceec28c8/es0xsvzr.fqn",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 08 Jul 2021 21:41:16 GMT",
        "x-ms-version": "2020-08-04"
      },
      "RequestBody": [],
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "1B2M2Y8AsgTpgAmY7PhCfg==",
        "ETag": "\u00220x8D942591D761DA2\u0022",
        "Last-Modified": "Thu, 08 Jul 2021 21:41:16 GMT",
        "x-ms-content-crc64": "AAAAAAAAAAA=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-08-04",
        "x-ms-version-id": "2021-07-08T21:41:16.3438498Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://rnpstd.blob.core.windows.net/test-container-48c1bd44-733d-b70b-ec57-d76ca3220037/test-blob-893fe898-1b61-0c6f-430c-eef3ceec28c8/vs5ej0dh.fxt",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 08 Jul 2021 21:41:16 GMT",
        "x-ms-version": "2020-08-04"
      },
      "RequestBody": [],
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "1B2M2Y8AsgTpgAmY7PhCfg==",
        "ETag": "\u00220x8D942591D761DA2\u0022",
        "Last-Modified": "Thu, 08 Jul 2021 21:41:16 GMT",
        "x-ms-content-crc64": "AAAAAAAAAAA=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-08-04",
        "x-ms-version-id": "2021-07-08T21:41:16.3438498Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://rnpstd.blob.core.windows.net/test-container-48c1bd44-733d-b70b-ec57-d76ca3220037/test-blob-893fe898-1b61-0c6f-430c-eef3ceec28c8/dp1nkwjy.loo/dmonujjs.0m3",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 08 Jul 2021 21:41:16 GMT",
        "x-ms-version": "2020-08-04"
      },
      "RequestBody": [],
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "1B2M2Y8AsgTpgAmY7PhCfg==",
        "ETag": "\u00220x8D942591D7B75CB\u0022",
        "Last-Modified": "Thu, 08 Jul 2021 21:41:16 GMT",
        "x-ms-content-crc64": "AAAAAAAAAAA=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-08-04",
        "x-ms-version-id": "2021-07-08T21:41:16.3788747Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://rnpstd.blob.core.windows.net/test-container-48c1bd44-733d-b70b-ec57-d76ca3220037/test-blob-893fe898-1b61-0c6f-430c-eef3ceec28c8/12bvlvue.nhf/zpxsldnk.i3t",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 08 Jul 2021 21:41:16 GMT",
        "x-ms-version": "2020-08-04"
      },
      "RequestBody": [],
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "1B2M2Y8AsgTpgAmY7PhCfg==",
        "ETag": "\u00220x8D942591D7B75CB\u0022",
        "Last-Modified": "Thu, 08 Jul 2021 21:41:16 GMT",
        "x-ms-content-crc64": "AAAAAAAAAAA=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-08-04",
        "x-ms-version-id": "2021-07-08T21:41:16.3798761Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://rnpstd.blob.core.windows.net/test-container-48c1bd44-733d-b70b-ec57-d76ca3220037?restype=container\u0026comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 08 Jul 2021 21:41:16 GMT",
        "x-ms-version": "2020-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2020-08-[...]
    {
      "RequestUri": "https://rnpstd.blob.core.windows.net/test-container-48c1bd44-733d-b70b-ec57-d76ca3220037?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 08 Jul 2021 21:41:16 GMT",
        "x-ms-version": "2020-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-08-04"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "492436364",
    "Storage_TestConfigDefault": "ProductionTenant\nrnpstd\nU2FuaXRpemVk\nhttps://rnpstd.blob.core.windows.net\nhttps://rnpstd.file.core.windows.net\nhttps://rnpstd.queue.core.windows.net\nhttps://rnpstd.table.core.windows.net\n\n\n\n\nhttps://rnpstd-secondary.blob.core.windows.net\nhttps://rnpstd-secondary.file.core.windows.net\nhttps://rnpstd-secondary.queue.core.windows.net\nhttps://rnpstd-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://rnpstd.blob.core.windows.net/;QueueEndpoint=https://rnpstd.queue.core.windows.net/;FileEndpoint=https://rnpstd.file.core.windows.net/;BlobSecondaryEndpoint=https://rnpstd-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://rnpstd-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://rnpstd-secondary.file.core.windows.net/;AccountName=rnpstd;AccountKey=Kg==;\n[encryption scope]"
  }
}