{
  "Entries": [
    {
      "RequestUri": "https://azs-net-abtydouh.search.windows.net/datasources?api-version=2019-05-06-Preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "api-key": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "heathsrchstg",
        "type": "azureblob",
        "credentials": {
          "connectionString": "DefaultEndpointsProtocol=https;AccountName=heathsrchstg;AccountKey=Sanitized;EndpointSuffix=core.windows.net"
        },
        "container": {
          "name": "gfbsiebt"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal",
        "elapsed-time": "90",
        "ETag": "W/\u00220x8D7E833D255E6B9\u0022",
        "Location": "https://azs-net-abtydouh.search.windows.net/datasources(\u0027heathsrchstg\u0027)?api-version=2019-05-06-Preview",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\u0022*\u0022"
      },
      "ResponseBody": {
        "@odata.context": "https://azs-net-abtydouh.search.windows.net/$metadata#datasources/$entity",
        "@odata.etag": "\u00220x8D7E833D255E6B9\u0022",
        "name": "heathsrchstg",
        "description": null,
        "type": "azureblob",
        "subtype": null,
        "credentials": {
          "connectionString": null
        },
        "container": {
          "name": "gfbsiebt",
          "query": null
        },
        "dataChangeDetectionPolicy": null,
        "dataDeletionDetectionPolicy": null
      }
    },
    {
      "RequestUri": "https://azs-net-abtydouh.search.windows.net/indexers?api-version=2019-05-06-Preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "api-key": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "jgiorpcc",
        "dataSourceName": "heathsrchstg",
        "targetIndexName": "iobushiy"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal",
        "elapsed-time": "617",
        "ETag": "W/\u00220x8D7E833D279A3F8\u0022",
        "Location": "https://azs-net-abtydouh.search.windows.net/indexers(\u0027jgiorpcc\u0027)?api-version=2019-05-06-Preview",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\u0022*\u0022"
      },
      "ResponseBody": {
        "@odata.context": "https://azs-net-abtydouh.search.windows.net/$metadata#indexers/$entity",
        "@odata.etag": "\u00220x8D7E833D279A3F8\u0022",
        "name": "jgiorpcc",
        "description": null,
        "dataSourceName": "heathsrchstg",
        "skillsetName": null,
        "targetIndexName": "iobushiy",
        "disabled": null,
        "schedule": null,
        "parameters": null,
        "fieldMappings": [],
        "outputFieldMappings": [],
        "cache": null
      }
    },
    {
      "RequestUri": "https://azs-net-abtydouh.search.windows.net/indexers(\u0027jgiorpcc\u0027)?api-version=2019-05-06-Preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "api-key": "Sanitized",
        "Content-Type": "application/json",
        "If-Match": "\u00220x8D7E833D279A3F8\u0022",
        "Prefer": "return=representation"
      },
      "RequestBody": {
        "name": "jgiorpcc",
        "description": "Updated description",
        "dataSourceName": "heathsrchstg",
        "targetIndexName": "iobushiy",
        "fieldMappings": [],
        "outputFieldMappings": [],
        "@odata.etag": "\u00220x8D7E833D279A3F8\u0022"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal",
        "elapsed-time": "116",
        "ETag": "W/\u00220x8D7E833D2E3F13A\u0022",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\u0022*\u0022"
      },
      "ResponseBody": {
        "@odata.context": "https://azs-net-abtydouh.search.windows.net/$metadata#indexers/$entity",
        "@odata.etag": "\u00220x8D7E833D2E3F13A\u0022",
        "name": "jgiorpcc",
        "description": "Updated description",
        "dataSourceName": "heathsrchstg",
        "skillsetName": null,
        "targetIndexName": "iobushiy",
        "disabled": null,
        "schedule": null,
        "parameters": null,
        "fieldMappings": [],
        "outputFieldMappings": [],
        "cache": null
      }
    },
    {
      "RequestUri": "https://azs-net-abtydouh.search.windows.net/indexers(\u0027jgiorpcc\u0027)/search.status?api-version=2019-05-06-Preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal",
        "elapsed-time": "35",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\u0022*\u0022"
      },
      "ResponseBody": {
        "@odata.context": "https://azs-net-abtydouh.search.windows.net/$metadata#Microsoft.Azure.Search.V2019_05_06_Preview.IndexerExecutionInfo",
        "name": "jgiorpcc",
        "status": "running",
        "lastResult": {
          "status": "success",
          "errorMessage": null,
          "startTime": "2020-04-24T09:42:39.291Z",
          "endTime": "2020-04-24T09:42:39.916Z",
          "itemsProcessed": 10,
          "itemsFailed": 0,
          "initialTrackingState": "{\r\n  \u0022lastFullEnumerationStartTime\u0022: \u00220001-01-01T00:00:00Z\u0022,\r\n  \u0022lastAttemptedEnumerationStartTime\u0022: \u00222020-04-24T09:42:39.354Z\u0022,\r\n  \u0022nameHighWaterMark\u0022: null\r\n}",
          "finalTrackingState": "{\u0022LastFullEnumerationStartTime\u0022:\u00222020-04-24T09:42:09.3544804\u002B00:00\u0022,\u0022LastAttemptedEnumerationStartTime\u0022:\u00222020-04-24T09:42:09.3544804\u002B00:00\u0022,\u0022NameHighWaterMark\u0022:null}",
          "errors": [],
          "warnings": [],
          "metrics": null
        },
        "executionHistory": [
          {
            "status": "success",
            "errorMessage": null,
            "startTime": "2020-04-24T09:42:39.291Z",
            "endTime": "2020-04-24T09:42:39.916Z",
            "itemsProcessed": 10,
            "itemsFailed": 0,
            "initialTrackingState": "{\r\n  \u0022lastFullEnumerationStartTime\u0022: \u00220001-01-01T00:00:00Z\u0022,\r\n  \u0022lastAttemptedEnumerationStartTime\u0022: \u00222020-04-24T09:42:39.354Z\u0022,\r\n  \u0022nameHighWaterMark\u0022: null\r\n}",
            "finalTrackingState": "{\u0022LastFullEnumerationStartTime\u0022:\u00222020-04-24T09:42:09.3544804\u002B00:00\u0022,\u0022LastAttemptedEnumerationStartTime\u0022:\u00222020-04-24T09:42:09.3544804\u002B00:00\u0022,\u0022NameHighWaterMark\u0022:null}",
            "errors": [],
            "warnings": [],
            "metrics": null
          }
        ],
        "limits": {
          "maxRunTime": "PT2M",
          "maxDocumentExtractionSize": 16777216,
          "maxDocumentContentCharactersToExtract": 32768
        }
      }
    },
    {
      "RequestUri": "https://azs-net-abtydouh.search.windows.net/indexers(\u0027jgiorpcc\u0027)/search.run?api-version=2019-05-06-Preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "elapsed-time": "123"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://azs-net-abtydouh.search.windows.net/indexes(\u0027iobushiy\u0027)/docs/$count?api-version=2019-05-06-Preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "text/plain",
        "elapsed-time": "4",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\u0022*\u0022"
      },
      "ResponseBody": "\uFEFF10"
    }
  ],
  "Variables": {
    "BlobContainerName": "gfbsiebt",
    "CLIENT_ID": "f9ab11db-b032-44b3-af0a-44713541cc40",
    "LOCATION": "westus2",
    "RandomSeed": "939854059",
    "RESOURCE_GROUP": "heaths-search",
    "SearchIndexName": "iobushiy",
    "SearchServiceName": "azs-net-abtydouh",
    "SEARCH_STORAGE_KEY": "Sanitized",
    "SEARCH_STORAGE_NAME": "heathsrchstg",
    "SUBSCRIPTION_ID": "faa080af-c1d8-40ad-9cce-e1a450ca5b57",
    "TENANT_ID": "72f988bf-86f1-41af-91ab-2d7cd011db47"
  }
}