{
  "Entries": [
    {
      "RequestUri": "https://azs-net-phjinuhg.search.windows.net/datasources?api-version=2019-05-06-Preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "api-key": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "azsneteamvbfbw",
        "type": "azureblob",
        "credentials": {
          "connectionString": "DefaultEndpointsProtocol=https;AccountName=azsneteamvbfbw;AccountKey=a20wAqHUDFyr0cR\u002ByAYgohrHUryBej3QvfED2bbCBerF96LQI8vzwni4ux35SQagXHLhEHx0FxxE9vWeRuMlXA==;EndpointSuffix=core.windows.net"
        },
        "container": {
          "name": "hotels"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal",
        "elapsed-time": "76",
        "ETag": "W/\u00220x8D7DB91DCF5C5D3\u0022",
        "Location": "https://azs-net-phjinuhg.search.windows.net/datasources(\u0027azsneteamvbfbw\u0027)?api-version=2019-05-06-Preview",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\u0022*\u0022"
      },
      "ResponseBody": {
        "@odata.context": "https://azs-net-phjinuhg.search.windows.net/$metadata#datasources/$entity",
        "@odata.etag": "\u00220x8D7DB91DCF5C5D3\u0022",
        "name": "azsneteamvbfbw",
        "description": null,
        "type": "azureblob",
        "subtype": null,
        "credentials": {
          "connectionString": null
        },
        "container": {
          "name": "hotels",
          "query": null
        },
        "dataChangeDetectionPolicy": null,
        "dataDeletionDetectionPolicy": null
      }
    },
    {
      "RequestUri": "https://azs-net-phjinuhg.search.windows.net/indexers?api-version=2019-05-06-Preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "api-key": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "jgiorpcc",
        "dataSourceName": "azsneteamvbfbw",
        "targetIndexName": "uelocdkh"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal",
        "elapsed-time": "9630",
        "ETag": "W/\u00220x8D7DB91E2A3BEC4\u0022",
        "Location": "https://azs-net-phjinuhg.search.windows.net/indexers(\u0027jgiorpcc\u0027)?api-version=2019-05-06-Preview",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\u0022*\u0022"
      },
      "ResponseBody": {
        "@odata.context": "https://azs-net-phjinuhg.search.windows.net/$metadata#indexers/$entity",
        "@odata.etag": "\u00220x8D7DB91E2A3BEC4\u0022",
        "name": "jgiorpcc",
        "description": null,
        "dataSourceName": "azsneteamvbfbw",
        "skillsetName": null,
        "targetIndexName": "uelocdkh",
        "disabled": null,
        "schedule": null,
        "parameters": null,
        "fieldMappings": [],
        "outputFieldMappings": [],
        "cache": null
      }
    },
    {
      "RequestUri": "https://azs-net-phjinuhg.search.windows.net/indexers(\u0027jgiorpcc\u0027)?api-version=2019-05-06-Preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "api-key": "Sanitized",
        "Content-Type": "application/json",
        "If-Match": "\u00220x8D7DB91E2A3BEC4\u0022",
        "Prefer": "return=representation"
      },
      "RequestBody": {
        "name": "jgiorpcc",
        "description": "Updated description",
        "dataSourceName": "azsneteamvbfbw",
        "targetIndexName": "uelocdkh",
        "fieldMappings": [],
        "outputFieldMappings": [],
        "@odata.etag": "\u00220x8D7DB91E2A3BEC4\u0022"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal",
        "elapsed-time": "219",
        "ETag": "W/\u00220x8D7DB91E2E2CF21\u0022",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\u0022*\u0022"
      },
      "ResponseBody": {
        "@odata.context": "https://azs-net-phjinuhg.search.windows.net/$metadata#indexers/$entity",
        "@odata.etag": "\u00220x8D7DB91E2E2CF21\u0022",
        "name": "jgiorpcc",
        "description": "Updated description",
        "dataSourceName": "azsneteamvbfbw",
        "skillsetName": null,
        "targetIndexName": "uelocdkh",
        "disabled": null,
        "schedule": null,
        "parameters": null,
        "fieldMappings": [],
        "outputFieldMappings": [],
        "cache": null
      }
    },
    {
      "RequestUri": "https://azs-net-phjinuhg.search.windows.net/indexers(\u0027jgiorpcc\u0027)/search.status?api-version=2019-05-06-Preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal; odata.streaming=true",
        "elapsed-time": "47",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\u0022*\u0022"
      },
      "ResponseBody": {
        "@odata.context": "https://azs-net-phjinuhg.search.windows.net/$metadata#Microsoft.Azure.Search.V2019_05_06_Preview.IndexerExecutionInfo",
        "name": "jgiorpcc",
        "status": "running",
        "lastResult": {
          "status": "success",
          "errorMessage": null,
          "startTime": "2020-04-08T07:53:14.628Z",
          "endTime": "2020-04-08T07:53:15.347Z",
          "itemsProcessed": 10,
          "itemsFailed": 0,
          "initialTrackingState": "{\r\n  \u0022lastFullEnumerationStartTime\u0022: \u00220001-01-01T00:00:00Z\u0022,\r\n  \u0022lastAttemptedEnumerationStartTime\u0022: \u00222020-04-08T07:53:14.644Z\u0022,\r\n  \u0022nameHighWaterMark\u0022: null\r\n}",
          "finalTrackingState": "{\u0022LastFullEnumerationStartTime\u0022:\u00222020-04-08T07:52:44.6445552\u002B00:00\u0022,\u0022LastAttemptedEnumerationStartTime\u0022:\u00222020-04-08T07:52:44.6445552\u002B00:00\u0022,\u0022NameHighWaterMark\u0022:null}",
          "errors": [],
          "warnings": [],
          "metrics": null
        },
        "executionHistory": [
          {
            "status": "success",
            "errorMessage": null,
            "startTime": "2020-04-08T07:53:14.628Z",
            "endTime": "2020-04-08T07:53:15.347Z",
            "itemsProcessed": 10,
            "itemsFailed": 0,
            "initialTrackingState": "{\r\n  \u0022lastFullEnumerationStartTime\u0022: \u00220001-01-01T00:00:00Z\u0022,\r\n  \u0022lastAttemptedEnumerationStartTime\u0022: \u00222020-04-08T07:53:14.644Z\u0022,\r\n  \u0022nameHighWaterMark\u0022: null\r\n}",
            "finalTrackingState": "{\u0022LastFullEnumerationStartTime\u0022:\u00222020-04-08T07:52:44.6445552\u002B00:00\u0022,\u0022LastAttemptedEnumerationStartTime\u0022:\u00222020-04-08T07:52:44.6445552\u002B00:00\u0022,\u0022NameHighWaterMark\u0022:null}",
            "errors": [],
            "warnings": [],
            "metrics": null
          }
        ],
        "limits": {
          "maxRunTime": "PT2M",
          "maxDocumentExtractionSize": 16777216,
          "maxDocumentContentCharactersToExtract": 32768
        }
      }
    },
    {
      "RequestUri": "https://azs-net-phjinuhg.search.windows.net/indexers(\u0027jgiorpcc\u0027)/search.run?api-version=2019-05-06-Preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "elapsed-time": "77"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://azs-net-phjinuhg.search.windows.net/indexes(\u0027uelocdkh\u0027)/docs/$count?api-version=2019-05-06-Preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "text/plain",
        "elapsed-time": "22",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\u0022*\u0022"
      },
      "ResponseBody": "\uFEFF10"
    }
  ],
  "Variables": {
    "RandomSeed": "939854059",
    "SearchIndexName": "uelocdkh",
    "SearchServiceName": "azs-net-phjinuhg",
    "StorageAccountConnectionString": "DefaultEndpointsProtocol=https;AccountName=azsneteamvbfbw;AccountKey=a20wAqHUDFyr0cR\u002ByAYgohrHUryBej3QvfED2bbCBerF96LQI8vzwni4ux35SQagXHLhEHx0FxxE9vWeRuMlXA==;EndpointSuffix=core.windows.net",
    "StorageAccountName": "azsneteamvbfbw"
  }
}