{
  "Entries": [
    {
      "RequestUri": "https://azs-net-heathsearch2.search.windows.net/datasources?api-version=2019-05-06-Preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "api-key": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "frgsqbma",
        "type": "azureblob",
        "credentials": {
          "connectionString": "DefaultEndpointsProtocol=https;AccountName=heathsearch2stg;AccountKey=Sanitized;EndpointSuffix=core.windows.net"
        },
        "container": {
          "name": "uangflsr"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal",
        "elapsed-time": "84",
        "ETag": "W/\u00220x8D7F31DBF9AE2C9\u0022",
        "Location": "https://azs-net-heathsearch2.search.windows.net/datasources(\u0027frgsqbma\u0027)?api-version=2019-05-06-Preview",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\u0022*\u0022"
      },
      "ResponseBody": {
        "@odata.context": "https://azs-net-heathsearch2.search.windows.net/$metadata#datasources/$entity",
        "@odata.etag": "\u00220x8D7F31DBF9AE2C9\u0022",
        "name": "frgsqbma",
        "description": null,
        "type": "azureblob",
        "subtype": null,
        "credentials": {
          "connectionString": null
        },
        "container": {
          "name": "uangflsr",
          "query": null
        },
        "dataChangeDetectionPolicy": null,
        "dataDeletionDetectionPolicy": null
      }
    },
    {
      "RequestUri": "https://azs-net-heathsearch2.search.windows.net/indexers?api-version=2019-05-06-Preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "api-key": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "sxyxrtqp",
        "dataSourceName": "frgsqbma",
        "targetIndexName": "fexlvtnn"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal",
        "elapsed-time": "9815",
        "ETag": "W/\u00220x8D7F31DC56CBB11\u0022",
        "Location": "https://azs-net-heathsearch2.search.windows.net/indexers(\u0027sxyxrtqp\u0027)?api-version=2019-05-06-Preview",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\u0022*\u0022"
      },
      "ResponseBody": {
        "@odata.context": "https://azs-net-heathsearch2.search.windows.net/$metadata#indexers/$entity",
        "@odata.etag": "\u00220x8D7F31DC56CBB11\u0022",
        "name": "sxyxrtqp",
        "description": null,
        "dataSourceName": "frgsqbma",
        "skillsetName": null,
        "targetIndexName": "fexlvtnn",
        "disabled": null,
        "schedule": null,
        "parameters": null,
        "fieldMappings": [],
        "outputFieldMappings": [],
        "cache": null
      }
    },
    {
      "RequestUri": "https://azs-net-heathsearch2.search.windows.net/indexers(\u0027sxyxrtqp\u0027)?api-version=2019-05-06-Preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "api-key": "Sanitized",
        "Content-Type": "application/json",
        "If-Match": "\u00220x8D7F31DC56CBB11\u0022",
        "Prefer": "return=representation"
      },
      "RequestBody": {
        "name": "sxyxrtqp",
        "description": "Updated description",
        "dataSourceName": "frgsqbma",
        "targetIndexName": "fexlvtnn",
        "fieldMappings": [],
        "outputFieldMappings": [],
        "@odata.etag": "\u00220x8D7F31DC56CBB11\u0022"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal",
        "elapsed-time": "112",
        "ETag": "W/\u00220x8D7F31DC598DC19\u0022",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\u0022*\u0022"
      },
      "ResponseBody": {
        "@odata.context": "https://azs-net-heathsearch2.search.windows.net/$metadata#indexers/$entity",
        "@odata.etag": "\u00220x8D7F31DC598DC19\u0022",
        "name": "sxyxrtqp",
        "description": "Updated description",
        "dataSourceName": "frgsqbma",
        "skillsetName": null,
        "targetIndexName": "fexlvtnn",
        "disabled": null,
        "schedule": null,
        "parameters": null,
        "fieldMappings": [],
        "outputFieldMappings": [],
        "cache": null
      }
    },
    {
      "RequestUri": "https://azs-net-heathsearch2.search.windows.net/indexers(\u0027sxyxrtqp\u0027)/search.status?api-version=2019-05-06-Preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal",
        "elapsed-time": "14",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\u0022*\u0022"
      },
      "ResponseBody": {
        "@odata.context": "https://azs-net-heathsearch2.search.windows.net/$metadata#Microsoft.Azure.Search.V2019_05_06_Preview.IndexerExecutionInfo",
        "name": "sxyxrtqp",
        "status": "running",
        "lastResult": {
          "status": "inProgress",
          "errorMessage": null,
          "startTime": "2020-05-08T07:02:30.506Z",
          "endTime": null,
          "itemsProcessed": 0,
          "itemsFailed": 0,
          "initialTrackingState": null,
          "finalTrackingState": null,
          "errors": [],
          "warnings": [],
          "metrics": null
        },
        "executionHistory": [],
        "limits": {
          "maxRunTime": "PT2M",
          "maxDocumentExtractionSize": 16777216,
          "maxDocumentContentCharactersToExtract": 32768
        }
      }
    },
[...]
    {
      "RequestUri": "https://azs-net-heathsearch2.search.windows.net/indexers(\u0027sxyxrtqp\u0027)/search.run?api-version=2019-05-06-Preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "elapsed-time": "37"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://azs-net-heathsearch2.search.windows.net/indexes(\u0027fexlvtnn\u0027)/docs/$count?api-version=2019-05-06-Preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "text/plain",
        "elapsed-time": "3",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\u0022*\u0022"
      },
      "ResponseBody": "\uFEFF10"
    },
    {
      "RequestUri": "https://azs-net-heathsearch2.search.windows.net/indexes(\u0027fexlvtnn\u0027)?api-version=2019-05-06-Preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "elapsed-time": "168"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "BlobContainerName": "uangflsr",
    "RandomSeed": "1401021797",
    "SearchIndexName": "fexlvtnn",
    "SEARCH_ADMIN_API_KEY": "Sanitized",
    "SEARCH_SERVICE_NAME": "azs-net-heathsearch2",
    "SEARCH_STORAGE_KEY": "Sanitized",
    "SEARCH_STORAGE_NAME": "heathsearch2stg"
  }
}