{
  "Entries": [
    {
      "RequestUri": "https://azs-net-plgbxdgs.search.windows.net/synonymmaps?api-version=2019-05-06-Preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "api-key": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "vsluedsr",
        "format": "solr",
        "synonyms": "msft=\u003EMicrosoft"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal",
        "elapsed-time": "37",
        "ETag": "W/\u00220x8D7E272B830B300\u0022",
        "Location": "https://azs-net-plgbxdgs.search.windows.net/synonymmaps(\u0027vsluedsr\u0027)?api-version=2019-05-06-Preview",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\u0022*\u0022"
      },
      "ResponseBody": {
        "@odata.context": "https://azs-net-plgbxdgs.search.windows.net/$metadata#synonymmaps/$entity",
        "@odata.etag": "\u00220x8D7E272B830B300\u0022",
        "name": "vsluedsr",
        "format": "solr",
        "synonyms": "msft=\u003EMicrosoft",
        "encryptionKey": null
      }
    },
    {
      "RequestUri": "https://azs-net-plgbxdgs.search.windows.net/synonymmaps(\u0027vsluedsr\u0027)?api-version=2019-05-06-Preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "api-key": "Sanitized",
        "Content-Type": "application/json",
        "If-Match": "\u00220x8D7E272B830B300\u0022",
        "Prefer": "return=representation"
      },
      "RequestBody": {
        "name": "vsluedsr",
        "format": "solr",
        "synonyms": "ms,msft=\u003EMicrosoft"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal",
        "elapsed-time": "15",
        "ETag": "W/\u00220x8D7E272B8441775\u0022",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\u0022*\u0022"
      },
      "ResponseBody": {
        "@odata.context": "https://azs-net-plgbxdgs.search.windows.net/$metadata#synonymmaps/$entity",
        "@odata.etag": "\u00220x8D7E272B8441775\u0022",
        "name": "vsluedsr",
        "format": "solr",
        "synonyms": "ms,msft=\u003EMicrosoft",
        "encryptionKey": null
      }
    },
    {
      "RequestUri": "https://azs-net-plgbxdgs.search.windows.net/synonymmaps?$select=name\u0026api-version=2019-05-06-Preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal; odata.streaming=true",
        "elapsed-time": "5",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\u0022*\u0022"
      },
      "ResponseBody": {
        "@odata.context": "https://azs-net-plgbxdgs.search.windows.net/$metadata#synonymmaps(name)",
        "value": [
          {
            "name": "vsluedsr"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://azs-net-plgbxdgs.search.windows.net/synonymmaps(\u0027vsluedsr\u0027)?api-version=2019-05-06-Preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "api-key": "Sanitized",
        "If-Match": "\u00220x8D7E272B8441775\u0022"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "elapsed-time": "12"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1266633341",
    "SearchIndexName": "ibpxiiit",
    "SearchServiceName": "azs-net-plgbxdgs"
  }
}