{
  "Entries": [
    {
      "RequestUri": "https://azs-net-ypwrygpr.search.windows.net/indexes?$select=%2A\u0026api-version=2019-05-06-Preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal; odata.streaming=true",
        "elapsed-time": "152",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\u0022*\u0022"
      },
      "ResponseBody": {
        "@odata.context": "https://azs-net-ypwrygpr.search.windows.net/$metadata#indexes(*)",
        "value": [
          {
            "@odata.etag": "\u00220x8D7E71352C81C3C\u0022",
            "name": "kmjauxxu",
            "defaultScoringProfile": null,
            "fields": [
              {
                "name": "hotelId",
                "type": "Edm.String",
                "searchable": false,
                "filterable": true,
                "retrievable": true,
                "sortable": true,
                "facetable": true,
                "key": true,
                "indexAnalyzer": null,
                "searchAnalyzer": null,
                "analyzer": null,
                "synonymMaps": []
              },
              {
                "name": "hotelName",
                "type": "Edm.String",
                "searchable": true,
                "filterable": true,
                "retrievable": true,
                "sortable": true,
                "facetable": false,
                "key": false,
                "indexAnalyzer": null,
                "searchAnalyzer": null,
                "analyzer": null,
                "synonymMaps": []
              },
              {[...]
