{
  "Entries": [
    {
      "RequestUri": "https://azs-net-viyaxldn.search.windows.net/indexes(\u0027xoeydefs\u0027)?api-version=2019-05-06-Preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal; odata.streaming=true",
        "elapsed-time": "49",
        "ETag": "W/\u00220x8D7D2ACD92DA1F4\u0022",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\u0022*\u0022"
      },
      "ResponseBody": {
        "@odata.context": "https://azs-net-viyaxldn.search.windows.net/$metadata#indexes/$entity",
        "@odata.etag": "\u00220x8D7D2ACD92DA1F4\u0022",
        "name": "xoeydefs",
        "defaultScoringProfile": null,
        "fields": [
          {
            "name": "hotelId",
            "type": "Edm.String",
            "searchable": false,
            "filterable": true,
            "retrievable": true,
            "sortable": true,
            "facetable": true,
            "key": true,
            "indexAnalyzer": null,
            "searchAnalyzer": null,
            "analyzer": null,
            "synonymMaps": []
          },
          {
            "name": "hotelName",
            "type": "Edm.String",
            "searchable": true,
            "filterable": true,
            "retrievable": true,
            "sortable": true,
            "facetable": false,
            "key": false,
            "indexAnalyzer": null,
            "searchAnalyzer": null,
            "analyzer": null,
            "synonymMaps": []
          },
          {
            "name": "description",
            "type": "Edm.Str[...]
