{
  "Entries": [
    {
      "RequestUri": "/subscriptions/9f6cce51-6baf-4de5-a3c4-6f58b85315b9/providers/Microsoft.Capacity/resourceProviders/Microsoft.MachineLearningServices/locations/badLocation/serviceLimits/TotalLowPriorityCores?api-version=2019-07-19-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"limit\": 2000,\r\n    \"name\": {\r\n      \"value\": \"TotalLowPriorityCores\"\r\n    },\r\n    \"resourceType\": \"lowPriority\"\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1198"
        ],
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "{\r\n  \"Error\": {\r\n    \"Description\": \"Bad request\",\r\n    \"Code\": \"BadRequest\",\r\n    \"Message\": \"Please look into error Details for more details.\",\r\n    \"Details\": [\r\n      {\r\n        \"Description\": \"Invalid location: badLocation\",\r\n        \"Code\": \"BadRequest\",\r\n        \"Message\": null\r\n      }\r\n    ]\r\n  }\r\n}",
      "StatusCode": 400
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "9f6cce51-6baf-4de5-a3c4-6f58b85315b9"
  }
}