{
  "Entries": [
    {
      "RequestUri": "/subscriptions/9f6cce51-6baf-4de5-a3c4-6f58b85315b9/providers/Microsoft.Capacity/resourceProviders/Microsoft.MachineLearningServices/locations/westus/serviceLimits?api-version=2020-10-25",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "MS-RequestId": [
          "KArv-JviDUep_WrMWkzBYg.0"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ],
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/9f6cce51-6baf-4de5-a3c4-6f58b85315b9/providers/Microsoft.Capacity/resourceProviders/Microsoft.MachineLearningServices/locations/westus/serviceLimits\",\r\n      \"name\": \"standardDFamily\",\r\n      \"properties\": {\r\n        \"currentValue\": 0,\r\n        \"limit\": 100,\r\n        \"name\": {\r\n          \"value\": \"standardDFamily\",\r\n          \"localizedValue\": \"Standard D Family Cluster Dedicated vCPUs\"\r\n        },\r\n        \"properties\": {},\r\n        \"resourceType\": \"dedicated\",\r\n        \"unit\": \"Count\"\r\n      },\r\n      \"type\": \"Microsoft.Capacity/ServiceLimits\"\r\n    },\r\n    {\r\n      \"id\": \"/subscriptions/9f6cce51-6baf-4de5-a3c4-6f58b85315b9/providers/Microsoft.Capacity/resourceProviders/Microsoft.MachineLearningServices/locations/westus/serviceLimits\",\r\n      \"name\": \"standardDv2Family\",\r\n      \"properties\": {\r\n        \"currentValue\": 0,\r\n        \"limit\": 202,\r\n        \"name\": {\r\n          \"value\": \"standardDv2Family\",\r\n          \"localizedValue\": \"Standard Dv2 Family Clus[...]
