{
  "Entries": [
    {
      "RequestUri": "/subscriptions/9f6cce51-6baf-4de5-a3c4-6f58b85315b9/providers/Microsoft.Capacity/resourceProviders/Microsoft.MachineLearningServices/locations/westus/serviceLimits/TotalLowPriorityCores?api-version=2020-10-25",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"limit\": 2,\r\n    \"name\": {\r\n      \"value\": \"TotalLowPriorityCores\"\r\n    },\r\n    \"resourceType\": \"lowPriority\"\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/9f6cce51-6baf-4de5-a3c4-6f58b85315b9/providers/Microsoft.Capacity/resourceProviders/Microsoft.MachineLearningServices/locations/westus/serviceLimitsRequests/f9586023-2081-46c7-a864-cba630e93ea2?api-version=2020-10-25"
        ],
        "Retry-After": [
          "30"
        ],
        "MS-RequestId": [
          "62YZGbsf9UOcBeW77LjDyA.0"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/9f6cce51-6baf-4de5-a3c4-6f58b85315b9/providers/Microsoft.Capacity/resourceProviders/Microsoft.MachineLearningServices/locations/westus/operationsStatus/f9586023-2081-46c7-a864-cba630e93ea2?api-version=2020-10-25"
        ],
        "Operation-Location": [
          "https://management.azure.com/subscriptions/9f6cce51-6baf-4de5-a3c4-6f58b85315b9/providers/Microsoft.Capacity/resourceProviders/Microsoft.MachineLearningServices/locations/westus/operationsStatus/f9586023-2081-46c7-a864-cba630e93ea2?api-version=2020-10-25"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/9f6cce51-6baf-4de5-a3c4-6f58b85315b9/providers/Microsoft.Capacity/resourceProviders/Microsoft.MachineLearningServices/locations/westus/serviceLimitsRequests/f9586023-2081-46c7-a864-cba630e93ea2\",\r\n  \"name\": \"f9586023-2081-46c7-a864-cba630e93ea2\",\r\n  \"properties\": {\r\n    \"message\": \"Request processing.\",\r\n    \"provisioningState\": \"InProgress\",\r\n    \"properties\": {\r\n      \"properties\": {\r\n        \"currentValue\": 0,\r\n        \"limit\": 2,\r\n        \"name\": {\r\n          \"value\": \"TotalLowPriorityCores\"\r\n        },\r\n        \"properties\": {},\r\n        \"provisioningState\": \"InProgress\"\r\n      }\r\n    }\r\n  },\r\n  \"type\": \"Microsoft.Capacity/ServiceLimits\"\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/9f6cce51-6baf-4de5-a3c4-6f58b85315b9/providers/Microsoft.Capacity/resourceProviders/Microsoft.MachineLearningServices/locations/westus/operationsStatus/f9586023-2081-46c7-a864-cba630e93ea2?api-version=2020-10-25",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/9f6cce51-6baf-4de5-a3c4-6f58b85315b9/providers/Micr[...]
    {
      "RequestUri": "/subscriptions/9f6cce51-6baf-4de5-a3c4-6f58b85315b9/providers/Microsoft.Capacity/resourceProviders/Microsoft.MachineLearningServices/locations/westus/operationsStatus/f9586023-2081-46c7-a864-cba630e93ea2?api-version=2020-10-25",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/9f6cce51-6baf-4de5-a3c4-6f58b85315b9/providers/Microsoft.Capacity/resourceProviders/Microsoft.MachineLearningServices/locations/westus/serviceLimitsRequests/f9586023-2081-46c7-a864-cba630e93ea2?api-version=2020-10-25"
        ],
        "MS-RequestId": [
          "3c00wE-L9kmTIEl8Hg3kXg.0"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11998"
        ],
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/9f6cce51-6baf-4de5-a3c4-6f58b85315b9/providers/Microsoft.Capacity/resourceProviders/Microsoft.MachineLearningServices/locations/westus/operationsStatus/f9586023-2081-46c7-a864-cba630e93ea2\",\r\n  \"name\": \"f9586023-2081-46c7-a864-cba630e93ea2\",\r\n  \"startTime\": \"2021-01-27T01:33:09Z\",\r\n  \"status\": \"Succeeded\"\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/9f6cce51-6baf-4de5-a3c4-6f58b85315b9/providers/Microsoft.Capacity/resourceProviders/Microsoft.MachineLearningServices/locations/westus/serviceLimits/TotalLowPriorityCores?api-version=2020-10-25",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "MS-RequestId": [
          "ygiSYxpRVU2TfFEypxuOlw.0"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11997"
        ],
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/9f6cce51-6baf-4de5-a3c4-6f58b85315b9/providers/Microsoft.Capacity/resourceProviders/Microsoft.MachineLearningServices/locations/westus/serviceLimits/TotalLowPriorityCores\",\r\n  \"name\": \"TotalLowPriorityCores\",\r\n  \"properties\": {\r\n    \"currentValue\": 0,\r\n    \"limit\": 2,\r\n    \"name\": {\r\n      \"value\": \"TotalLowPriorityCores\",\r\n      \"localizedValue\": \"Total Cluster Low Priority Regional vCPUs\"\r\n    },\r\n    \"properties\": {},\r\n    \"resourceType\": \"lowPriority\",\r\n    \"unit\": \"Count\"\r\n  },\r\n  \"type\": \"Microsoft.Capacity/ServiceLimits\"\r\n}",
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "9f6cce51-6baf-4de5-a3c4-6f58b85315b9"
  }
}