{
  "Entries": [
    {
      "RequestUri": "/subscriptions/9f6cce51-6baf-4de5-a3c4-6f58b85315b9/providers/Microsoft.Capacity/resourceProviders/Microsoft.Compute/locations/eastus/serviceLimitsRequests?api-version=2020-10-25&$top=3",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "MS-RequestId": [
          "rTBfIjYVjUybrizdehcjAQ.0"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ],
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "{\r\n  \"nextLink\": \"https://management.azure.com/subscriptions/9f6cce51-6baf-4de5-a3c4-6f58b85315b9/providers/Microsoft.Capacity/resourceProviders/Microsoft.Compute/locations/eastus/serviceLimitsRequests?api-version=2020-10-25&%24top=3&%24skipToken=%2BRID%3A~Lt5LALpXgvENAAAAAAAAAA%3D%3D%23RT%3A1%23TRC%3A3%23ISV%3A2%23IEO%3A65567%23QCF%3A3%23FPC%3AAgEAAAAeAA2ACMACKIgACiIACRABAACAgggAIQI4AIICAIQAIg%3D%3D\",\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/9f6cce51-6baf-4de5-a3c4-6f58b85315b9/providers/Microsoft.Capacity/resourceProviders/Microsoft.Compute/locations/eASTuS/serviceLimitsRequests/ee92095e-a37b-4724-929d-825ec1215cdc\",\r\n      \"name\": \"ee92095e-a37b-4724-929d-825ec1215cdc\",\r\n      \"properties\": {\r\n        \"properties\": {\r\n          \"message\": \"Request completed.\",\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"requestSubmitTime\": \"2021-01-16T22:00:52Z\",\r\n          \"value\": [\r\n            {\r\n              \"limit\": 500,\r\n              \"message\": \"Request completed.\",\r\n              \"name\": {\r\n                \"value\": \"standarddv2family\"\r\n              },\r\n              \"provisioningState\": \"Succeeded\",\r\n              \"subRequestId\": \"ee92095e-a37b-4724-929d-825ec1215cdc\"\r\n            }\r\n          ]\r\n        }\r\n      },\r\n      \"type\": \"Microsoft.Capacity/ServiceLimitsRequests\"\r\n    },\r\n    {\r\n      \"id\": \"/subscriptions/9f6cce51-6baf-4de5-a3c4-6f58b85315b9/providers/Microsoft.Capacity/resourceProviders/Microsoft.Compute/locations/eASTuS/serviceLimitsRequests/504c9031-710b-4edd-8269-ac35cf0024c4\",\r\n      \"name\": \"504c9031-710b-4edd-8269-ac35cf0024c4\",\r\n      \"properties\": {\r\n        \"properties\": {\r\n          \"message\": \"Request completed.\",\r\n          \"provisioningState\": \"Succeeded\",\r\[...]
