{
  "Entries": [
    {
      "RequestUri": "/subscriptions/9f6cce51-6baf-4de5-a3c4-6f58b85315b9/providers/Microsoft.Capacity/resourceProviders/Microsoft.Compute/locations/westus/serviceLimits/standardFSv2Family?api-version=2020-10-25",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"limit\": 207,\r\n    \"unit\": \"Count\",\r\n    \"name\": {\r\n      \"value\": \"standardFSv2Family\"\r\n    },\r\n    \"properties\": {}\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/9f6cce51-6baf-4de5-a3c4-6f58b85315b9/providers/Microsoft.Capacity/resourceProviders/Microsoft.Compute/locations/westus/serviceLimitsRequests/b08c5419-7523-4054-883f-4c330613745c?api-version=2020-10-25"
        ],
        "Retry-After": [
          "30"
        ],
        "MS-RequestId": [
          "AO_yxA4gs0-_WW_SKDhl_Q.0"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/9f6cce51-6baf-4de5-a3c4-6f58b85315b9/providers/Microsoft.Capacity/resourceProviders/Microsoft.Compute/locations/westus/operationsStatus/b08c5419-7523-4054-883f-4c330613745c?api-version=2020-10-25"
        ],
        "Operation-Location": [
          "https://management.azure.com/subscriptions/9f6cce51-6baf-4de5-a3c4-6f58b85315b9/providers/Microsoft.Capacity/resourceProviders/Microsoft.Compute/locations/westus/operationsStatus/b08c5419-7523-4054-883f-4c330613745c?api-version=2020-10-25"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/9f6cce51-6baf-4de5-a3c4-6f58b85315b9/providers/Microsoft.Capacity/resourceProviders/Microsoft.Compute/locations/westus/serviceLimitsRequests/b08c5419-7523-4054-883f-4c330613745c\",\r\n  \"name\": \"b08c5419-7523-4054-883f-4c330613745c\",\r\n  \"properties\": {\r\n    \"message\": \"Request processing.\",\r\n    \"provisioningState\": \"InProgress\",\r\n    \"properties\": {\r\n      \"properties\": {\r\n        \"currentValue\": 0,\r\n        \"limit\": 207,\r\n        \"name\": {\r\n          \"value\": \"standardFSv2Family\"\r\n        },\r\n        \"properties\": {},\r\n        \"provisioningState\": \"InProgress\"\r\n      }\r\n    }\r\n  },\r\n  \"type\": \"Microsoft.Capacity/ServiceLimits\"\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/9f6cce51-6baf-4de5-a3c4-6f58b85315b9/providers/Microsoft.Capacity/resourceProviders/Microsoft.Compute/locations/westus/operationsStatus/b08c5419-7523-4054-883f-4c330613745c?api-version=2020-10-25",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-failure-cause": [
          "gateway"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"AuthorizationFailed\",\r\n    \"message\": \"The client 'c1587881-55c3-468e-b5a2-ffc987fa3c87' with object id 'c1587881-55c3-468e-b5a2-ffc987fa3c87' does not have authorization to perform action 'Microsoft.Capacity/resourceProviders/locations/operationsStatus/read' over scope '/subscriptions/9f6cce51-6baf-4de5-a3c4-6f58b85315b9' or the scope is invalid. If access was recently granted, please refresh your credentials.\"\r\n  }\r\n}",
      "StatusCode": 403
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "9f6cce51-6baf-4de5-a3c4-6f58b85315b9"
  }
}