{
  "Entries": [
    {
      "RequestUri": "/subscriptions/9f6cce51-6baf-4de5-a3c4-6f58b85315b9/providers/Microsoft.Capacity/autoQuotaIncrease?api-version=2019-07-19-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"settings\": {\r\n      \"autoQuotaIncreaseState\": \"Disabled\"\r\n    }\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-resource-requests": [
          "9"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"settings\": {\r\n      \"AutoQuotaIncreaseState\": \"Disabled\"\r\n    },\r\n    \"onSuccess\": null,\r\n    \"onFailure\": null,\r\n    \"supportTicketAction\": null\r\n  },\r\n  \"id\": \"/subscriptions/9f6cce51-6baf-4de5-a3c4-6f58b85315b9/providers/Microsoft.Capacity/autoQuotaIncrease\",\r\n  \"name\": \"Automatic Quota Increase\",\r\n  \"type\": \"Microsoft.Capacity/autoQuotaIncrease\"\r\n}",
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "9f6cce51-6baf-4de5-a3c4-6f58b85315b9"
  }
}