{
  "Entries": [
    {
      "RequestUri": "/subscriptions/9f6cce51-6baf-4de5-a3c4-6f58b85315b9/providers/Microsoft.Capacity/resourceProviders/Microsoft.Compute/locations/westus/serviceLimitsRequests?api-version=2019-07-19-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "OData-Version": [
          "4.0"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ],
        "Content-Type": [
          "application/json; odata.metadata=minimal; odata.streaming=true"
        ]
      },
      "ResponseBody": "{\r\n  \"@odata.context\": \"https://capacityrpprodpreview.trafficmanager.net/subscriptions/9f6cce51-6baf-4de5-a3c4-6f58b85315b9/providers/Microsoft.Capacity/resourceProviders/Microsoft.Compute/locations/westus/$metadata#serviceLimitsRequests\",\r\n  \"value\": [\r\n    {\r\n      \"properties\": {\r\n        \"requestSubmitTime\": \"2020-06-01T21:05:35.2227357Z\",\r\n        \"message\": \"Quota is currently unavailable in this location for this resource. Please contact Support.\",\r\n        \"code\": \"QuotaNotAvailableForResource\",\r\n        \"SerailizeCodeField\": false,\r\n        \"provisioningState\": \"Failed\",\r\n        \"value\": [\r\n          {\r\n            \"subRequestId\": \"94e809f9-e0ab-451b-961a-13f57acc62d9\",\r\n            \"message\": \"\",\r\n            \"provisioningState\": \"Failed\",\r\n            \"Limit\": 12,\r\n            \"Name\": {\r\n              \"Value\": \"standardHFamily\",\r\n              \"LocalizedValue\": null\r\n            },\r\n            \"ResourceType\": null\r\n          }\r\n        ]\r\n      },\r\n      \"id\": \"/subscriptions/9f6cce51-6baf-4de5-a3c4-6f58b85315b9/providers/Microsoft.Capacity/resourceProviders/Microsoft.Compute/locations/westus/serviceLimitsRequests/011e1463-c8d7-4a5e-ae35-f15c1f3226b4\",\r\n      \"name\": \"9f6cce51-6baf-4de5-a3c4-6f58b85315b9/011e1463-c8d7-4a5e-ae35-f15c1f3226b4\",\r\n      \"type\": \"Microsoft.Capacity/serviceLimitsRequests\"\r\n    },\r\n    {\r\n      \"properties\": {\r\n        \"requestSubmitTime\": \"2020-01-22T00:08:28.2982963Z\",\r\n        \"message\": \"\",\r\n        \"code\": \"\",\r\n        \"SerailizeCodeField\": false,\r\n        \"provisioningState\": \"Failed\",\r\n        \"value\": [\r\n          {\r\n            \"subRequestId\": \"9ef3b863-93b6-4536-a653-650cdb0d7135\",\r\n            \"message\": \"\",\r\n            \"provisioningState\": \"Failed\[...]
