{
  "Entries": [
    {
      "RequestUri": "/subscriptions/d6465d51-776c-479c-88af-320a06eef6ca/providers/Microsoft.DataLakeAnalytics/register?api-version=2016-02-01",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/d6465d51-776c-479c-88af-320a06eef6ca/providers/Microsoft.DataLakeAnalytics\",\r\n  \"namespace\": \"Microsoft.DataLakeAnalytics\",\r\n  \"resourceTypes\": [\r\n    {\r\n      \"resourceType\": \"accounts\",\r\n      \"locations\": [\r\n        \"Brazil South\",\r\n        \"Australia East\",\r\n        \"East US 2\",\r\n        \"East US\",\r\n        \"West US\",\r\n        \"North Central US\",\r\n        \"South Central US\",\r\n        \"Southeast Asia\",\r\n        \"Central US\",\r\n        \"Japan East\",\r\n        \"North Europe\",\r\n        \"Japan West\",\r\n        \"East Asia\"\r\n      ],\r\n      \"apiVersions\": [\r\n        \"2016-11-01\",\r\n        \"2015-10-01-preview\"\r\n      ],\r\n      \"capabilities\": \"CrossResourceGroupResourceMove, CrossSubscriptionResourceMove\"\r\n    },\r\n    {\r\n      \"resourceType\": \"accounts/dataLakeStoreAccounts\",\r\n      \"locations\": [\r\n        \"Brazil South\",\r\n        \"Australia East\",\r\n        \"East US 2\",\r\n        \"East US\",\r\n        \"West US\",\r\n        \"North Central US\",\r\n        \"South Central US\",\r\n        \"Southeast Asia\",\r\n        \"Central US\",\r\n        \"Japan East\",\r\n        \"North Europe\",\r\n        [...]
    {
      "RequestUri": "/subscriptions/d6465d51-776c-479c-88af-320a06eef6ca/providers/Microsoft.DataLakeAnalytics?api-version=2016-02-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/d6465d51-776c-479c-88af-320a06eef6ca/providers/Microsoft.DataLakeAnalytics\",\r\n  \"namespace\": \"Microsoft.DataLakeAnalytics\",\r\n  \"resourceTypes\": [\r\n    {\r\n      \"resourceType\": \"accounts\",\r\n   [...]
    {
      "RequestUri": "/subscriptions/d6465d51-776c-479c-88af-320a06eef6ca/providers/Microsoft.Storage/register?api-version=2016-02-01",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/d6465d51-776c-479c-88af-320a06eef6ca/providers/Microsoft.Storage\",\r\n  \"namespace\": \"Microsoft.Storage\",\r\n  \"authorization\": {\r\n    \"applicationId\": \"a6aa9161-5291-40bb-8c5c-923b567bee3b\",\r\n    \"roleDefinitionId\": \"cd0cad5c-ac96-4c4c-99cd-cfafc285ba36\"\r\n  },\r\n  \"resourceTypes\": [\r\n    {\r\n      \"resourceType\": \"storageAccounts\",\r\n      \"locations\": [\r\n        \"West US\",\r\n        \"North Central US\",\r\n        \"South Central US\",\r\n        \"East US\"\r\n      ],\r\n      \"apiVersions\": [\r\n        \"2017-06-01\",\r\n        \"2016-12-01\",\r\n        \"2016-07-01\",\r\n        \"2016-05-01\",\r\n        \"2016-01-01\",\r\n        \"2015-10-01\",\r\n        \"2015-06-15\",[...]
    {
      "RequestUri": "/subscriptions/d6465d51-776c-479c-88af-320a06eef6ca/providers/Microsoft.Storage?api-version=2016-02-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/d6465d51-776c-479c-88af-320a06eef6ca/providers/Microsoft.Storage\",\r\n  \"namespace\": \"Microsoft.Storage\",\r\n  \"authorization\": {\r\n    \"applicationId\": \"a6aa9161-5291-40bb-8c5c-923b567bee3b\",\r\n    \"roleDefin[...]
    {
      "RequestUri": "/subscriptions/d6465d51-776c-479c-88af-320a06eef6ca/providers/Microsoft.DataLakeStore/register?api-version=2016-02-01",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/d6465d51-776c-479c-88af-320a06eef6ca/providers/Microsoft.DataLakeStore\",\r\n  \"namespace\": \"Microsoft.DataLakeStore\",\r\n  \"authorization\": {\r\n    \"applicationId\": \"e9f49c6b-5ce5-44c8-925d-015017[...]
    {
      "RequestUri": "/subscriptions/d6465d51-776c-479c-88af-320a06eef6ca/providers/Microsoft.DataLakeStore?api-version=2016-02-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/d6465d51-776c-479c-88af-320a06eef6ca/providers/Microsoft.DataLakeStore\",\r\n  \"namespace\": \"Microsoft.DataLakeStore\",\r\n  \"authorization\": {\r\n    \"applicationId\": \"e9f49c6b-5ce5-44c8-925d-015017e9f7ad\",\[...]
    {
      "RequestUri": "/subscriptions/d6465d51-776c-479c-88af-320a06eef6ca/resourcegroups/rgaba18656?api-version=2016-02-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceGroupNotFound\",\r\n    \"message\": \"Resource group 'rgaba18656' could not be found.\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-failure-cause": [
          "gateway"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14983"
        ]
      },
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/d6465d51-776c-479c-88af-320a06eef6ca/resourcegroups/rgaba18656?api-version=2016-02-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/d6465d51-776c-479c-88af-320a06eef6ca/resourceGroups/rgaba18656\",\r\n  \"name\": \"rgaba18656\",\r\n  \"location\": \"westus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14982"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/d6465d51-776c-479c-88af-320a06eef6ca/resourceGroups/rgaba18656/providers/Microsoft.DataLakeStore/accounts/testdatalake1348?api-version=2016-11-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.DataLakeStore/accounts/testdatalake1348' under resource group 'rgaba18656' was not found.\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-failure-cause": [
          "gateway"
        ]
      },
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/d6465d51-776c-479c-88af-320a06eef6ca/resourceGroups/rgaba18656/providers/Microsoft.DataLakeStore/accounts/testdatalake1348?api-version=2016-11-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"firewallState\": \"Disabled\",\r\n    \"firewallAllowAzureIps\": \"Disabled\",\r\n    \"firewallRules\": [],\r\n    \"trustedIdProviderState\": \"Disabled\",\r\n    \"trustedIdProviders\": [],\r\n    \"encryptionState\": \"Enabled\",\r\n    \"encryptionConfig\": {\r\n      \"type\": \"ServiceManaged\"\r\n    },\r\n    \"currentTier\": \"Consumption\",\r\n    \"newTier\": \"Consumption\",\r\n    \"replicationType\": \"LRS\",\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"state\": \"Active\",\r\n    \"endpoint\": \"testdatalake1348.caboaccountdogfood.net\",\r\n    \"accountId\": \"cbffbc50-ffbe-4602-9be7-fc01eb3e1cf1\",\r\n    \"creationTime\": \"2017-05-26T17:42:59.3445348Z\",\r\n    \"lastModifiedTime\": \"2017-05-26T17:42:59.3445348Z\"\r\n  },\r\n  \"location\": \"West US\",\r\n  \"id\": \"/subscriptions/d6465d51-776c-479c-88af-320a06eef6ca/resourceGroups/rgaba18656/providers/Microsoft.DataLakeStore/accounts/testdatalake1348\",\r\n  \"name\": \"testdatalake1348\",\r\n  \"type\": \"Microsoft.DataLakeStore/accounts\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14975"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/d6465d51-776c-479c-88af-320a06eef6ca/resourceGroups/rgaba18656/providers/Microsoft.DataLakeStore/accounts/testdatalake1348?api-version=2016-11-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"West US\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"provisioningState\": \"Creating\",\r\n    \"state\": null,\r\n    \"endpoint\": null,\r\n    \"accountId\": \"cbffbc50-ffbe-4602-9be7-fc01eb3e1cf1\"\r\n  },\r\n  \"location\": \"West US\",\r\n  \"id\": \"/subscriptions/d6465d51-776c-479c-88af-320a06eef6ca/resourceGroups/rgaba18656/providers/Microsoft.DataLakeStore/accounts/testdatalake1348\",\r\n  \"name\": \"testdatalake1348\",\r\n  \"type\": \"Microsoft.DataLakeStore/accounts\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json"
        ],
        "Location": [
          "https://api-dogfood.resources.windows-int.net/subscriptions/d6465d51-776c-479c-88af-320a06eef6ca/resourcegroups/rgaba18656/providers/Microsoft.DataLakeStore/accounts/testdatalake1348/operationresults/0?api-version=2016-11-01"
        ],
        "Retry-After": [
          "10"
        ],
        "Azure-AsyncOperation": [
          "https://api-dogfood.resources.windows-int.net/subscriptions/d6465d51-776c-479c-88af-320a06eef6ca/providers/Microsoft.DataLakeStore/locations/WestUS/operationResults/cbffbc50-ffbe-4602-9be7-fc01eb3e1cf10?api-version=2016-11-01&expanded=true"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1193"
        ]
      },
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/d6465d51-776c-479c-88af-320a06eef6ca/providers/Microsoft.DataLakeStore/locations/WestUS/operationResults/cbffbc50-ffbe-4602-9be7-fc01eb3e1cf10?api-version=2016-11-01&expanded=true",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"status\": \"InProgress\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14978"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/d6465d51-776c-479c-88af-320a06eef6ca/resourceGroups/rgaba18656/providers/Microsoft.DataLakeStore/accounts/testdatalake28943?api-version=2016-11-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.DataLakeStore/accounts/testdatalake28943' under resource group 'rgaba18656' was not found.\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-failure-cause": [
          "gateway"
        ]
      },
      "StatusCode": 404
    },
[...]
    {
      "RequestUri": "/subscriptions/d6465d51-776c-479c-88af-320a06eef6ca/resourceGroups/rgaba18656/providers/Microsoft.DataLakeAnalytics/accounts/testaba21548?api-version=2016-11-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"defaultDataLakeStoreAccount\": \"testdatalake1348\",\r\n    \"dataLakeStoreAccounts\": [\r\n      {\r\n        \"properties\": {\r\n          \"suffix\": \"caboaccountdogfood.net\"\r\n        },\r\n        \"name\": \"testdatalake1348\"\r\n      }\r\n    ]\r\n  },\r\n  \"location\": \"West US\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"defaultDataLakeStoreAccount\": \"testdatalake1348\",\r\n    \"dataLakeStoreAccounts\": [\r\n      {\r\n        \"properties\": {\r\n          \"suffix\": \"caboaccountdogfood.net[...]
    {
      "RequestUri": "/subscriptions/d6465d51-776c-479c-88af-320a06eef6ca/providers/Microsoft.DataLakeAnalytics/locations/WestUS/operationResults/a1bbb698-c81e-4f1e-a123-a6ba1777dc6f0?api-version=2016-11-01&expanded=true",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"status\": \"InProgress\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14975"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/d6465d51-776c-479c-88af-320a06eef6ca/resourceGroups/rgaba18656/providers/Microsoft.DataLakeAnalytics/accounts/testaba21548?api-version=2016-11-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"firewallState\": \"Disabled\",\r\n    \"firewallAllowAzureIps\": \"Disabled\",\r\n    \"debugDataAccessLevel\": \"All\",\r\n    \"firewallRules\": [],\r\n    \"defaultDataLakeStoreAccount\": \"testdatalake1348\",\r\n    \"dataLakeStoreAccounts\": [\r\n      {\r\n        \"properties\": {\r\n          \"suffix\": \"caboaccountdogfood.net\"\r\n        },\r\n        \"name\": \"testdatalake1348\"\r\n      }\r\n    ],\r\n    \"storageAccounts\": [],\r\n    \"maxDegreeOfParallelism\": 120,\r\n    \"maxJobCount\": 10,\r\n    \"systemMaxDegreeOfParallelism\": 120,\r\n    \"systemMaxJobCount\": 20,\r\n    \"maxDegreeOfParallelismPerJob\": 120,\r\n    \"minPriorityPerJob\": 1,\r\n    \"computePolicies\": [],\r\n    \"queryStoreRetention\": 30,\r\n    \"hiveMetastores\": [],\r\n    \"currentTier\": \"Consumption\",\r\n    \"newTier\": \"Consumption\",\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"state\": \"Active\",\r\n    \"endpoint\": \"testaba21548.konaaccountdogfood.net\",\r\n    \"accountId\": \"a1bbb698-c81e-4f1e-a123-a6ba1777dc6f\",\r\n    \"creationTime\": \"2017-05-26T17:45:36.2241587Z\",\r\n    \"lastModifiedTime\": \"2017-05-26T17:45:36.2241587Z\"\r\n  },\r\n  \"location\": \"West US\",\r\n  \"id\": \"/subscriptions/d6465d51-776c-479c-88af-320a06eef6ca/resourceGroups/rgaba18656/providers/Microsoft.DataLakeAnalytics/accounts/testaba21548\",\r\n  \"name\": \"testaba21548\",\r\n  \"type\": \"Microsoft.DataLakeAnalytics/accounts\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14976"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/Jobs/bcbca8b6-f47f-48ce-bee0-191ee1c73626?api-version=2016-11-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"JobNotFound\",\r\n    \"message\": \"Cannot find the job with id bcbca8b6-f47f-48ce-bee0-191ee1c73626.\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-origin-server": [
          "bn4sch103190323"
        ]
      },
      "StatusCode": 404
    },
    {
      "RequestUri": "/Jobs/bcbca8b6-f47f-48ce-bee0-191ee1c73626?api-version=2016-11-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"jobId\": \"bcbca8b6-f47f-48ce-bee0-191ee1c73626\",\r\n  \"name\": \"azure sdk data lake analytics job\",\r\n  \"type\": \"USql\",\r\n  \"submitter\": \"BegoldsmSDKTestApp@SPI\",\r\n  \"degreeOfParallelism\": 2,\r\n  \"priority\": 1000,\r\n  \"submitTime\": \"2017-05-26T10:46:06.3906373-07:00\",\r\n  \"endTime\": \"2017-05-26T10:46:07.3593774-07:00\",\r\n  \"state\": \"Ended\",\r\n  \"result\": \"Cancelled\",\r\n  \"errorMessage\": [\r\n    {\r\n      \"errorId\": \"I_USER_CJS_CANCELEDBYUSER\",\r\n      \"name\": \"CANCELED_BY_USER\",\r\n      \"severity\": \"Info\",\r\n      \"source\": \"User\",\r\n      \"component\": \"CJS\",\r\n      \"message\": \"Job was cancelled.\",\r\n      \"details\": \"\",\r\n      \"description\": \"Job was cancelled by BegoldsmSDKTestApp@SPI.\",\r\n      \"resolution\": \"\",\r\n      \"helpLink\": \"\",\r\n      \"innerError\": null\r\n    }\r\n  ],\r\n  \"stateAuditRecords\": [\r\n    {\r\n      \"newState\": \"New\",\r\n      \"timeStamp\": \"2017-05-26T10:46:06.3906373-07:00\",\r\n      \"details\": \"userName:;submitMachine:N/A\"\r\n    },\r\n    {\r\n      \"newState\": \"Compiling\",\r\n      \"timeStamp\": \"2017-05-26T10:46:07.0937498-07:00\",\r\n      \"details\": \"CcsAttempts:1;Status:Dispatched\"\r\n    },\r\n    {\r\n      \"newState\": \"Ended\",\r\n      \"timeStamp\": \"2017-05-26T10:46:07.3593774-07:00\",\r\n      \"details\": \"result:CanceledByUser\"\r\n    }\r\n  ],\r\n  \"properties\": {\r\n    \"owner\": \"BegoldsmSDKTestApp@SPI\",\r\n    \"resources\": [\r\n      {\r\n        \"name\": \"Profile\",\r\n        \"resourcePath\": \"adl://testdatalake1348.caboaccountdogfood.net/system/jobservice/jobs/Usql/2017/05/26/17/46/bcbca8b6-f47f-48ce-bee0-191ee1c73626/profile\",\r\n        \"type\": \"StatisticsResource\"\r\n      },\r\n      {\r\n        \"name\": \"__ScopeRuntimeStatistics__.xml\",\r\n        \"resourcePath\": \"adl://testdatalake1348.caboaccountdogfood.net/system/jobservice/jobs/Usql/2017/05/26/17/46/bcbca8b6-f47f-48ce-bee0-191ee1c73626/__ScopeRuntimeStatistics__.xml\",\r\n        \"type\": \"StatisticsResource\"\r\n      }\r\n    ],\r\n    \"runtimeVersion\": \"default\",\r\n    \"rootProcessNodeId\": \"00000000-0000-0000-0000-000000000000\",\r\n    \"algebraFilePath\": \"adl://testdatalake1348.caboaccountdogfood.net/system/jobservice/jobs/Usql/2017/05/26/17/46/bcbca8b6-f47f-48ce-bee0-191ee1c73626/algebra.xml\",\r\n    \"compileMode\": \"Semantic\",\r\n    \"errorSource\": \"UserError\",\r\n    \"totalCompilationTime\": \"PT0.2656276S\",\r\n    \"totalPausedTime\": \"PT0S\",\r\n    \"totalQueuedTime\": \"PT0S\",\r\n    \"totalRunningTime\": \"PT0S\",\r\n    \"expirationTimeUtc\": \"0001-01-01T00:00:00\",\r\n    \"type\": \"USql\"\r\n  },\r\n  \"related\": {\r\n    \"pipelineId\": \"cb4e801b-8ea4-4323-912b-af105ffc80e4\",\r\n    \"pipelineName\": \"jobPipeline8333\",\r\n    \"pipelineUri\": \"https://pipelineuri2670.contoso.com/myJob\",\r\n    \"runId\": \"09a2d87a-5fbe-485f-87d2-a088ccedab6e\",\r\n    \"recurrenceId\": \"f8edd8c4-e0ad-4cfd-bd03-190e776643cc\",\r\n    \"recurrenceName\": \"recurrence3346\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-origin-server": [
          "bn4sch103190323"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/Jobs/bcbca8b6-f47f-48ce-bee0-191ee1c73626?api-version=2016-11-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"name\": \"azure sdk data lake analytics job\",\r\n  \"type\": \"USql\",\r\n  \"degreeOfParallelism\": 2,\r\n  \"properties\": {\r\n    \"type\": \"USql\",\r\n    \"script\": \"DROP DATABASE IF EXISTS testdb; CREATE DATABASE testdb;\"\r\n  },\r\n  \"related\": {\r\n    \"pipelineId\": \"cb4e801b-8ea4-4323-912b-af105ffc80e4\",\r\n    \"pipelineName\": \"jobPipeline8333\",\r\n    \"pipelineUri\": \"https://pipelineuri2670.contoso.com/myJob\",\r\n    \"runId\": \"09a2d87a-5fbe-485f-87d2-a088ccedab6e\",\r\n    \"recurrenceId\": \"f8edd8c4-e0ad-4cfd-bd03-190e776643cc\",\r\n    \"recurrenceName\": \"recurrence3346\"\r\n  }\r\n}",
      "RequestHeaders": {
        "Content[...]
    {
      "RequestUri": "/Jobs/bcbca8b6-f47f-48ce-bee0-191ee1c73626/CancelJob?api-version=2016-11-01",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "x-origin-server": [
          "bn4sch103190323"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/Jobs/51fdd607-278d-4126-89aa-6414a93beed6?api-version=2016-11-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"jobId\": \"51fdd607-278d-4126-89aa-6414a93beed6\",\r\n  \"name\": \"azure sdk data lake analytics job\",\r\n  \"type\": \"USql\",\r\n  \"submitter\": \"BegoldsmSDKTestApp@SPI\",\r\n  \"degreeOfParallelism\": 2,\r\n  \"priority\": 1000,\r\n  \"submitTime\": \"2017-05-26T10:46:08.4219194-07:00\",\r\n  \"startTime\": \"2017-05-26T10:46:51.2818376-07:00\",\r\n  \"endTime\": \"2017-05-26T10:46:54.4850049-07:00\",\r\n  \"state\": \"Ended\",\r\n  \"result\": \"Succeeded\",\r\n  \"stateAuditRecords\": [\r\n    {\r\n      \"newState\": \"New\",\r\n      \"timeStamp\": \"2017-05-26T10:46:08.4219194-07:00\",\r\n      \"details\": \"userName:;submitMachine:N/A\"\r\n    },\r\n    {\r\n      \"newState\": \"Compiling\",\r\n      \"timeStamp\": \"2017-05-26T10:46:19.359518-07:00\",\r\n      \"details\": \"CcsAttempts:1[...]
    {
      "RequestUri": "/Jobs?api-version=2016-11-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"jobId\": \"bcbca8b6-f47f-48ce-bee0-191ee1c73626\",\r\n      \"name\": \"azure sdk data lake analytics job\",\r\n      \"type\": \"USql\",\r\n      \"submitter\": \"BegoldsmSDKTestApp@SPI\",\r\n      \"degreeOfParallelism\": 2,\r\n      \"priority\": 1000,\r\n      \"submitTime\": \"2017-05-26T10:46:06.3906373-07:00\",\r\n      \"endTime\": \"2017-05-26T10:46:07.3593774-07:00\",\r\n      \"state\": \"Ended\",\r\n      \"result\": \"Cancelled\",\r\n      \"related\": {\r\n  [...]
    {
      "RequestUri": "/pipelines/cb4e801b-8ea4-4323-912b-af105ffc80e4?api-version=2016-11-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"pipelineId\": \"cb4e801b-8ea4-4323-912b-af105ffc80e4\",\r\n  \"pipelineName\": \"jobPipeline8333\",\r\n  \"pipelineUri\": \"https://pipelineuri2670.contoso.com/myJob\",\r\n  \"numJobsFailed\": 0,\r\n  \"numJobsCanceled\": 1,\r\n  \"numJobsSucceeded\": 1,\r\n  \"auHoursFailed\": 0.0,\r\n  \"auHoursCanceled\": 0.0,\r\n  \"auHoursSucceeded\": 0.0017795373888888888,\r\n  \"lastSubmitTime\": \"2017-05-26T10:46:08.4219194-07:00\",\r\n  \"runs\": [\r\n    {\r\n      \"item1\": \"5d922ade-561d-4403-8129-6c56a203b277\",\r\n      \"item2\": \"2017-05-26T10:46:08.4219194-07:00\"\r\n    },\r\n    {\r\n      \"item1\": \"09a2d87a-5fbe-485f-87d2-a088ccedab6e\",\r\n      \"item2\": \"2017-05-26T10:46:06.3906373-07:00\"\r\n    },\r\n    {\r\n      \"item1\": \"5d922ade-561d-4403-8129-6c56a203b277\",\r\n      \"item2\": \"2017-05-26T10:46:08.4219194-07:00\"\r\n    },\r\n    {\r\n      \"item1\": \"09a2d87a-5fbe-485f-87d2-a088ccedab6e\",\r\n      \"item2\": \"2017-05-26T10:46:06.3906373-07:00\"\r\n    }\r\n  ],\r\n  \"recurrences\": [\r\n    \"f8edd8c4-e0ad-4cfd-bd03-190e776643cc\"\r\n  ]\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-origin-server": [
          "bn4sch103190323"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/pipelines?api-version=2016-11-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"pipelineId\": \"cb4e801b-8ea4-4323-912b-af105ffc80e4\",\r\n      \"pipelineName\": \"jobPipeline8333\",\r\n      \"pipelineUri\": \"https://pipelineuri2670.contoso.com/myJob\",\r\n      \"numJobsFailed\": 0,\r\n      \"numJobsCanceled\": 1,\r\n      \"numJobsSucceeded\": 1,\r\n      \"auHoursFailed\": 0.0,\r\n      \"auHoursCanceled\": 0.0,\r\n      \"auHoursSucceeded\": 0.0017795373888888888,\r\n      \"lastSubmitTime\": \"2017-05-26T10:46:08.4219194-07:00\"\r\n    }\r\n  ],\r\n  \"count\": 1\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-origin-server": [
          "bn4sch103190323"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/recurrences/f8edd8c4-e0ad-4cfd-bd03-190e776643cc?api-version=2016-11-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"recurrenceId\": \"f8edd8c4-e0ad-4cfd-bd03-190e776643cc\",\r\n  \"recurrenceName\": \"recurrence3346\",\r\n  \"numJobsFailed\": 0,\r\n  \"numJobsCanceled\": 1,\r\n  \"numJobsSucceeded\": 1,\r\n  \"auHoursFailed\": 0.0,\r\n  \"auHoursCanceled\": 0.0,\r\n  \"auHoursSucceeded\": 0.0017795373888888888,\r\n  \"lastSubmitTime\": \"2017-05-26T10:46:08.4219194-07:00\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-origin-server": [
          "bn4sch103190323"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/recurrences?api-version=2016-11-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"recurrenceId\": \"f8edd8c4-e0ad-4cfd-bd03-190e776643cc\",\r\n      \"recurrenceName\": \"recurrence3346\",\r\n      \"numJobsFailed\": 0,\r\n      \"numJobsCanceled\": 1,\r\n      \"numJobsSucceeded\": 1,\r\n      \"auHoursFailed\": 0.0,\r\n      \"auHoursCanceled\": 0.0,\r\n      \"auHoursSucceeded\": 0.0017795373888888888,\r\n      \"lastSubmitTime\": \"2017-05-26T10:46:08.4219194-07:00\"\r\n    }\r\n  ],\r\n  \"count\": 1\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-origin-server": [
          "bn4sch103190323"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/BuildJob?api-version=2016-11-01",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"name\": \"azure sdk data lake analytics job\",\r\n  \"type\": \"USql\",\r\n  \"degreeOfParallelism\": 2,\r\n  \"properties\": {\r\n    \"type\": \"USql\",\r\n    \"script\": \"DROP DATABASE IF EXISTS testdb; CREATE DATABASE testdb;\"\r\n  },\r\n  \"related\": {\r\n    \"pipelineId\": \"cb4e801b-8ea4-4323-912b-af105ffc80e4\",\r\n    \"pipelineName\": \"jobPipeline8333\",\r\n[...]
    {
      "RequestUri": "/BuildJob?api-version=2016-11-01",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"name\": \"azure sdk data lake analytics job\",\r\n  \"type\": \"USql\",\r\n  \"degreeOfParallelism\": 2,\r\n  \"properties\": {\r\n    \"type\": \"USql\",\r\n    \"script\": \"DROP DATABASE IF EXIST FOO; CREATE DATABASE FOO;\"\r\n  },\r\n  \"related\": {\r\n    \"pipelineId\": \"cb4e801b-8ea4-4323-912b-af105ffc80e4\",\r\n    \"pipelineName\": \"jobPipeline8333\",\r\n    \"pipelineUri\": \"https://pipelineuri2670.contoso.com/myJob\",\r\n    \"runId\": \"5d922ade-561d-4403-8129-6c56a203b277\",\r\n    \"recurrenceId\": \"f8edd8c4-e0ad-4cfd-bd03-190e776643cc\",\r\n    \"recurrenceName\": \"recurrence3346\"\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"jobId\": \"0562cd29-5e3c-4a92-948f-bc0d62013542\",\r\n  \"name\": \"azure sdk data lake analytics job\",\r\n  \"type\": \"USql\",\r\n  \"submitter\": \"BegoldsmSDKTestApp@SPI\",\r\n  \"degreeOfParallelism\": 0,\r\n  \"priority\": 0,\r\n  \"submitTime\": \"0001-01-01T00:00:00-08:00\",\r\n  \"state\": \"Ended\",\r\n  \"result\": \"Failed\",\r\n  \"properties\": {\r\n    \"resources\": [],\r\n    \"runtimeVersion\": \"\",\r\n    \"script\": \"DROP DATABASE IF EXIST FOO; CREATE DATABASE FOO;\",\r\n    \"compileMode\": \"Semantic\",\r\n    \"errorSource\": \"Unknown\",\r\n    \"diagnostics\": [\r\n      {\r\n        \"severity\": \"Error\",\r\n        \"lineNumber\": 1,\r\n        \"columnNumber\": 18,\r\n        \"start\": 17,\r\n        \"end\": 22,\r\n        \"message\": \"E_CSC_USER_SYNTAXERROR: syntax error. Expected one of: EXISTS\"\r\n      }\r\n    ],\r\n    \"expirationTimeUtc\": \"0001-01-01T00:00:00\",\r\n    \"type\": \"USql\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-origin-server": [
          "bn4sch103190323"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/Jobs?$select=jobId&api-version=2016-11-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"jobId\": \"bcbca8b6-f47f-48ce-bee0-191ee1c73626\"\r\n    },\r\n    {\r\n      \"jobId\": \"51fdd607-278d-4126-89aa-6414a93beed6\"\r\n    }\r\n  ]\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-origin-server": [
          "bn4sch103190323"
        ]
      },
      "StatusCode": 200
    }
  ],
  "Names": {
    ".ctor": [
      "rgaba18656",
      "testaba12495",
      "testaba21548",
      "teststorage15324",
      "testdatalake1348",
      "testdatalake28943",
      "testazureblob19226",
      "testdb19964",
      "testtbl18974",
      "testtvf1533",
      "testproc13195",
      "testview18335",
      "testcred15458",
      "testsecret19013",
      "testsecretpwd14668"
    ],
    "SubmitGetListCancelTest": [
      "bcbca8b6-f47f-48ce-bee0-191ee1c73626",
      "51fdd607-278d-4126-89aa-6414a93beed6",
      "f8edd8c4-e0ad-4cfd-bd03-190e776643cc",
      "recurrence3346",
[...]
