{
  "Entries": [
    {
      "RequestUri": "/providers/Microsoft.Management/managementGroups?api-version=2018-03-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/providers/Microsoft.Management/managementGroups/AzGovLiveTest\",\r\n      \"type\": \"/providers/Microsoft.Management/managementGroups\",\r\n      \"name\": \"AzGovLiveTest\",\r\n      \"properties\": {\r\n        \"tenantId\": \"72f988bf-86f1-41af-91ab-2d7cd011db47\",\r\n        \"displayName\": \"GovernanceLiveTest\"\r\n      }\r\n    }\r\n  ]\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/providers/Microsoft.Management/managementGroups/azsmnet4901?api-version=2018-03-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"name\": \"azsmnet4901\",\r\n  \"properties\": {\r\n    \"displayName\": \"CanCrudPolicyDefinitionAtManagementGroup\",\r\n    \"details\": {\r\n      \"parent\": {\r\n        \"id\": \"/providers/Microsoft.Management/managementGroups/AzGovLiveTest\"\r\n      }\r\n    }\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/providers/Microsoft.Management/operationResults/create/managementGroups/azsmnet4901?api-version=2018-03-01-preview"
        ],
        "Retry-After": [
          "10"
        ],
        "x-ba-restapi": [
          "1.0.3.766"
        ],
        "x-ms-ratelimit-remaining-tenant-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/providers/Microsoft.Management/managementGroups/azsmnet4901\",\r\n  \"type\": \"/providers/Microsoft.Management/managementGroups\",\r\n  \"name\": \"azsmnet4901\",\r\n  \"status\": \"NotStarted\"\r\n}",
      "StatusCode": 202
    },
    {
      "RequestUri": "/providers/Microsoft.Management/operationResults/create/managementGroups/azsmnet4901?api-version=2018-03-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-tenant-reads": [
          "11998"
        ],
        "x-ba-restapi": [
          "1.0.3.766"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/providers/Microsoft.Management/managementGroups/azsmnet4901\",\r\n  \"type\": \"/providers/Microsoft.Management/managementGroups\",\r\n  \"name\": \"azsmnet4901\",\r\n  \"status\": \"Succeeded\",\r\n  \"properties\": {\r\n    \"tenantId\": \"72f988bf-86f1-41af-91ab-2d7cd011db47\",\r\n    \"displayName\": \"CanCrudPolicyDefinitionAtManagementGroup\",\r\n    \"details\": {\r\n      \"version\": 1,\r\n      \"updatedTime\": \"2018-08-22T22:24:53.6393062Z\",\r\n      \"updatedBy\": \"5d7fb743-b335-4f27-ba6e-f8bc2444f333\",\r\n      \"parent\": {\r\n        \"id\": \"/providers/Microsoft.Management/managementGroups/AzGovLiveTest\",\r\n        \"name\": \"AzGovLiveTest\",\r\n        \"displayName\": \"GovernanceLiveTest\"\r\n      }\r\n    }\r\n  }\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/providers/Microsoft.Management/managementgroups/azsmnet4901/providers/Microsoft.Authorization/policyDefinitions/azsmnet788?api-version=2018-05-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"displayName\": \"CanCrudPolicyDefinitionAtManagementGroup Policy Definition\",\r\n    \"policyRule\": {\r\n      \"if\": {\r\n        \"source\": \"action\",\r\n        \"equals\": \"ResourceProviderTestHost/TestResourceType/TestResourceTypeNestedOne/write\"\r\n      },\r\n      \"then\": {\r\n        \"effect\": \"deny\"\r\n      }\r\n    }\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-tenant-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"displayName\": \"CanCrudPolicyDefinitionAtManagementGroup Policy Definition\",\r\n    \"policyType\": \"Custom\",\r\n    \"policyRule\": {\r\n      \"if\": {\r\n        \"source\": \"action\",\r\n        \"equals\": \"ResourceProviderTestHost/TestResourceType/TestResourceTypeNestedOne/write\"\r\n      },\r\n      \"then\": {\r\n        \"effect\": \"deny\"\r\n      }\r\n    }\r\n  },\r\n  \"id\": \"/providers/Microsoft.Management/managementgroups/azsmnet4901/providers/Microsoft.Authorization/policyDefinitions/azsmnet788\",\r\n  \"type\": \"Microsoft.Authorization/policyDefinitions\",\r\n  \"name\": \"azsmnet788\"\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/providers/Microsoft.Management/managementgroups/azsmnet4901/providers/Microsoft.Authorization/policyDefinitions/azsmnet788?api-version=2018-05-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"mode\": \"All\",\r\n    \"displayName\": \"Update CanCrudPolicyDefinitionAtManagementGroup Policy Definition\",\r\n    \"description\": \"Description text\",\r\n    \"policyRule\": {\r\n      \"if\": {\r\n        \"source\": \"action\",\r\n        \"equals\": \"ResourceProviderTestHost/TestResourceType/TestResourceTypeNestedOne/write\"\r\n      },\r\n      \"then\": {\r\n        \"effect\": \"deny\"\r\n      }\r\n    },\r\n    \"metadata\": {\r\n      \"category\": \"sdk test\"\r\n    }\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-tenant-writes": [
          "1198"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"displayName\": \"Update CanCrudPolicyDefinitionAtManagementGroup Policy Definition\",\r\n    \"policyType\": \"Custom\",\r\n    \"mode\": \"All\",\r\n    \"description\": \"Description text\",\r\n    \"metadata\": {\r\n      \"category\": \"sdk test\"\r\n    },\r\n    \"policyRule\": {\r\n      \"if\": {\r\n        \"source\": \"action\",\r\n        \"equals\": \"ResourceProviderTestHost/TestResourceType/TestResourceTypeNestedOne/write\"\r\n      },\r\n      \"then\": {\r\n        \"effect\": \"deny\"\r\n      }\r\n    }\r\n  },\r\n  \"id\": \"/providers/Microsoft.Management/managementgroups/azsmnet4901/providers/Microsoft.Authorization/policyDefinitions/azsmnet788\",\r\n  \"type\": \"Microsoft.Authorization/policyDefinitions\",\r\n  \"name\": \"azsmnet788\"\r\n}",
      "StatusCode": 201
    },
[...]
    {
      "RequestUri": "/providers/Microsoft.Management/managementgroups/azsmnet4901/providers/Microsoft.Authorization/policyDefinitions/azsmnet788?api-version=2018-05-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-tenant-reads": [
          "11996"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"PolicyDefinitionNotFound\",\r\n    \"message\": \"The policy definition 'azsmnet788' could not be found.\"\r\n  }\r\n}",
      "StatusCode": 404
    },
    {
      "RequestUri": "/providers/Microsoft.Management/managementgroups/azsmnet4901/providers/Microsoft.Authorization/policyDefinitions?api-version=2018-05-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-tenant-reads": [
          "11998"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"properties\": {\r\n        \"displayName\": \"Audit enabling of diagnostic logs in Azure Data Lake Store\",\r\n        \"policyType\": \"BuiltIn\",\r\n        \"mode\": \"Indexed\",\r\n        \"description\": \"Audit enabling of logs and retain them up to a year. This enables you to recreate activity trails for investigation purposes when a security incident occurs or your network is compromised\",\r\n        \"metadata\": {\r\n          \"category\": \"Data Lake\"\r\n        },\r\n        \"parameters\": {\r\n          \"effect\": {\r\n            \"type\": \"String\",\r\n            \"metadata\": {\r\n              \"displayName\": \"Effect\",\r\n              \"description\": \"Enable or disable the execution of the policy\"\r\n            },\r\n            \"allowedValues\": [\r\n              \"AuditIfNotExists\",\r\n              \"Disabled\"\r\n            ],\r\n            \"defaultValue\": \"AuditIfNotExists\"\r\n          },\r\n          \"requiredRetentionDays\": {\r\n            \"type\": \"String\",\r\n            \"metadata\": {\r\n              \"displayName\": \"Required retention (days)\",\r\n              \"description\": \"The required diagnostic logs retention in days\"\r\n            },\r\n            \"defaultValue\": \"365\"\r\n          }\r\n        },\r\n        \"policyRule\": {\r\n          \"if\": {\r\n            \"field\": \"type\",\r\n            \"equals\": \"Microsoft.DataLakeStore/accounts\"\r\n          },\r\n          \"then\": {\r\n            \"effect\": \"[parameters('effect')]\",\r\n            \"details\": {\r\n              \"type\": \"Microsoft.Insights/diagnosticSettings\",\r\n              \"existenceCondition\": {\r\n                \"allOf\": [\r\n                  {\r\n                    \"field\": \"Microsoft.Insights/diagnosticSettings/logs[*].retentionPolicy.enabled\",\r\n                    \"equals\": \"true\"\r\n                  },\r\n                  {\r\n                    \"field\": \"Microsoft.Insights/diagnosticSettings/logs[*].retentionPolicy.days\",\r\n                    \"equals\": \"[parameters('requiredRetentionDays')]\"\r\n                  }\r\n                ]\r\n              }\r\n            }\r\n          }\r\n        }\r\n      },\r\n      \"id\": \"/providers/Microsoft.Authorization/policyDefinitions/057ef27e-665e-4328-8ea3-04b3122bd9fb\",\r\n      \"type\": \"Microsoft.Authorization/policyDefinitions\",\r\n      \"name\": \"057ef27e-665e-4328-8ea3-04b3122bd9fb\"\r\n    },\r\n    {\r\n      \"properties\": {\r\n        \"displayName\": \"Audit SQL DB Level Audit Setting\",\r\n        \"policyType\": \"BuiltIn\",\r\n        \"mode\": \"All\",\r\n        \"description\": \"Audit DB level audit setting for SQL databases\",\r\n        \"metadata\": {\r\n          \"category\": \"SQL\",\r\n          \"deprecated\": true\r\n        },\r\n        \"parameters\": {\r\n          \"setting\": {\r\n            \"type\": \"String\",\r\n            \"metadata\": {\r\n              \"displayName\": \"Audit Setting\"\r\n            },\r\n            \"allowedValues\": [\r\n              \"enabled\",\r\n              \"disabled\"\r\n            ]\r\n          }\r\n        },\r\n        \"policyRule\": {\r\n          \"if\": {\r\n            \"field\": \"type\",\r\n            \"equals\": \"Microsoft.Sql/servers/databases\"\r\n          },\r\n          \"then\": {\r\n            \"effect\"[...]
[...]
    {
      "RequestUri": "/providers/Microsoft.Management/operationResults/delete/managementGroups/azsmnet4901?api-version=2018-03-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-tenant-reads": [
          "11997"
        ],
        "x-ba-restapi": [
          "1.0.3.766"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/providers/Microsoft.Management/managementGroups/azsmnet4901\",\r\n  \"type\": \"/providers/Microsoft.Management/managementGroups\",\r\n  \"name\": \"azsmnet4901\",\r\n  \"status\": \"Succeeded\"\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/providers/Microsoft.Management/operationResults/delete/managementGroups/azsmnet4901?api-version=2018-03-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-tenant-reads": [
          "11996"
        ],
        "x-ba-restapi": [
          "1.0.3.766"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/providers/Microsoft.Management/managementGroups/azsmnet4901\",\r\n  \"type\": \"/providers/Microsoft.Management/managementGroups\",\r\n  \"name\": \"azsmnet4901\",\r\n  \"status\": \"Succeeded\"\r\n}",
      "StatusCode": 200
    }
  ],
  "Names": {
    "CanCrudPolicyDefinitionAtManagementGroup": [
      "azsmnet4901",
      "azsmnet788"
    ]
  },
  "Variables": {
    "SubscriptionId": "d0610b27-9663-4c05-89f8-5b4be01e86a5"
  }
}