{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/f3d94233-a9aa-4241-ac82-2dfb63ce637a?api-version=2019-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11996"
      },
      "ResponseBody": {
        "id": "/subscriptions/f3d94233-a9aa-4241-ac82-2dfb63ce637a",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "subscriptionId": "f3d94233-a9aa-4241-ac82-2dfb63ce637a",
        "tenantId": "75743128-1c62-4904-9be1-c23c1edb9a9f",
        "displayName": "Visual Studio Enterprise Subscription",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Public_2014-09-01",
          "quotaId": "MSDN_2014-09-01",
          "spendingLimit": "On"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/f3d94233-a9aa-4241-ac82-2dfb63ce637a/resourcegroups/testRg-9621?api-version=2019-10-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "id": "/subscriptions/f3d94233-a9aa-4241-ac82-2dfb63ce637a/resourceGroups/testRg-9621",
        "name": "testRg-9621",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/f3d94233-a9aa-4241-ac82-2dfb63ce637a/resourceGroups/testRg-9621/providers/Microsoft.Cdn/profiles/profile-1677?api-version=2020-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "sku": {
          "name": "Standard_Microsoft"
        },
        "location": "westus",
        "properties": {}
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/f3d94233-a9aa-4241-ac82-2dfb63ce637a/resourcegroups/testRg-9621/providers/Microsoft.Cdn/operationresults/f45d88b1-d5ec-4536-978e-76b2bdf3bdce?api-version=2020-09-01",
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "24"
      },
      "ResponseBody": {
        "id": "/subscriptions/f3d94233-a9aa-4241-ac82-2dfb63ce637a/resourcegroups/testRg-9621/providers/Microsoft.Cdn/profiles/profile-1677",
        "type": "Microsoft.Cdn/profiles",
        "name": "profile-1677",
        "location": "WestUs",
        "kind": "cdn",
        "tags": {},
        "sku": {
          "name": "Standard_Microsoft"
        },
        "properties": {
          "resourceState": "Creating",
          "provisioningState": "Creating"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/f3d94233-a9aa-4241-ac82-2dfb63ce637a/resourcegroups/testRg-9621/providers/Microsoft.Cdn/operationresults/f45d88b1-d5ec-4536-978e-76b2bdf3bdce?api-version=2020-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11995"
      },
      "ResponseBody": {
        "status": "InProgress",
        "error": {
          "code": "None",
          "message": null
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/f3d94233-a9aa-4241-ac82-2dfb63ce637a/resourceGroups/testRg-9621/providers/Microsoft.Cdn/profiles/profile-1677/endpoints/endpoint-2108?api-version=2020-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus",
        "properties": {
          "isHttpAllowed": true,
          "isHttpsAllowed": true,
          "optimizationType": "GeneralWebDelivery",
          "defaultOriginGroup": {
            "id": "/subscriptions/f3d94233-a9aa-4241-ac82-2dfb63ce637a/resourceGroups/testRg-9621/providers/Microsoft.Cdn/profiles/profile-1677/endpoints/endpoint-2108/originGroups/testOriginGroup"
          },
          "origins": [
            {
              "name": "testOrigin",
              "properties": {
                "hostName": "testsa4dotnetsdk.blob.core.windows.net",
                "priority": 3,
                "weight": 100
              }
            }
          ],
          "originGroups": [
            {
              "name": "testOriginGroup",
              "properties": {
                "healthProbeSettings": {
                  "probePath": "/healthz",
                  "probeRequestType": "HEAD",
                  "probeProtocol": "Https",
                  "probeIntervalInSeconds": 60
                },
                "origins": [
                  {
                    "id": "/subscriptions/f3d94233-a9aa-4241-ac82-2dfb63ce637a/resourceGroups/testRg-9621/providers/Microsoft.Cdn/profiles/profile-1677/endpoints/endpoint-2108/origins/testOrigin"
                  }
                ]
              }
            }
          ]
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/f3d94233-a9aa-4241-ac82-2dfb63ce637a/resourcegroups/testRg-9621/providers/Microsoft.Cdn/operationresults/480ee8b5-4f3f-457c-953a-b46ed826e32f?api-version=2020-09-01",
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "99"
      },
      "ResponseBody": {
        "id": "/subscriptions/f3d94233-a9aa-4241-ac82-2dfb63ce637a/resourcegroups/testRg-9621/providers/Microsoft.Cdn/profiles/profile-1677/endpoints/endpoint-2108",
        "type": "Microsoft.Cdn/profiles/endpoints",
        "name": "endpoint-2108",
        "location": "WestUs",
        "tags": {},
        "properties": {
          "hostName": "endpoint-2108.azureedge.net",
          "originHostHeader": null,
          "originPath": null,
          "contentTypesToCompress": [],
          "isCompressionEnabled": false,
          "isHttpAllowed": true,
          "isHttpsAllowed": true,
          "queryStringCachingBehavior": "IgnoreQueryString",
          "optimizationType": "GeneralWebDelivery",
          "probePath": null,
          "origins": [
            {
              "name": "testOrigin",
              "properties": {
                "hostName": "testsa4dotnetsdk.blob.core.windows.net",
                "httpPort": null,
                "httpsPort": null,
                "originHostHeader": null,
                "priority": 3,
                "weight": 100,
                "enabled": true,
                "privateLinkAlias": null,
                "privateLinkResourceId": null,
                "privateLinkLocation": null,
                "privateEndpointStatus": null,
                "privateLinkApprovalMessage": null
              }
            }
          ],
          "originGroups": [
            {
              "name": "testOriginGroup",
              "properties": {
                "healthProbeSettings": {
                  "probePath": "/healthz",
                  "probeRequestType": "HEAD",
                  "probeProtocol": "Https",
                  "probeIntervalInSeconds": 60
                },
                "responseBasedOriginErrorDetectionSettings": null,
                "trafficRestorationTimeToHealedOrNewEndpointsInMinutes": null,
                "origins": [
                  {
                    "id": "/subscriptions/f3d94233-a9aa-4241-ac82-2dfb63ce637a/resourceGroups/testRg-9621/providers/Microsoft.Cdn/profiles/profile-1677/endpoints/endpoint-2108/origins/testOrigin"
                  }
                ]
              }
            }
          ],
          "defaultOriginGroup": {
            "id": "/subscriptions/f3d94233-a9aa-4241-ac82-2dfb63ce637a/resourceGroups/testRg-9621/providers/Microsoft.Cdn/profiles/profile-1677/endpoints/endpoint-2108/originGroups/testOriginGroup"
          },
          "customDomains": [],
          "geoFilters": [],
          "deliveryPolicy": null,
          "urlSigningKeys": null,
          "webApplicationFirewallPolicyLink": null,
          "resourceState": "Creating",
          "provisioningState": "Creating"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/f3d94233-a9aa-4241-ac82-2dfb63ce637a/resourceGroups/testRg-9621/providers/Microsoft.Cdn/profiles/profile-1677/endpoints/endpoint-2108/origins/origin-209?api-version=2020-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "hostName": "testsa4dotnetsdk.blob.core.windows.n[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/f3d94233-a9aa-4241-ac82-2dfb63ce637a/resourceGroups/testRg-9621/providers/Microsoft.Cdn/profiles/profile-1677/endpoints/endpoint-2108/origins/origin-209?api-version=2020-09-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/f3d94233-a9aa-4241-ac82-2dfb63ce637a/resourcegroups/testRg-9621/providers/Microsoft.Cdn/operationresults/dc853b0c-827a-4da9-9c5f-978388c2d562?api-version=2020-09-01",
        "Location": "https://management.azure.com/subscriptions/f3d94233-a9aa-4241-ac82-2dfb63ce637a/resourcegroups/testRg-9621/providers/Microsoft.Cdn/operationresults/dc853b0c-827a-4da9-9c5f-978388c2d562/profileresults/profile-1677/endpointresults/endpoint-2108/originresults/origin-209?api-version=2020-09-01",
        "Retry-After": "10",
        "x-ms-ratelimit-remaining-subscription-deletes": "14998"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/f3d94233-a9aa-4241-ac82-2dfb63ce637a/resourceGroups/testRg-9621/providers/Microsoft.Cdn/profiles/profile-1677/endpoints/endpoint-2108/origins/origin-209?api-version=2020-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11757"
      },
      "ResponseBody": {
        "error": {
          "code": "NotFound",
          "message": "The requested resource was not found."
        }
      }
    }
  ],
  "Variables": {
    "RandomSeed": "1618644912",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "f3d94233-a9aa-4241-ac82-2dfb63ce637a"
  }
}