{
  "Entries": [
    {
      "RequestUri": "/keys?api-version=7.0",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"kid\": \"https://karlaugsoftdeletesdk.vault-int.azure-int.net/keys/listkeytest0\",\r\n      \"attributes\": {\r\n        \"enabled\": true,\r\n        \"created\": 1482188857,\r\n        \"updated\": 1482188857\r\n      }\r\n    },\r\n    {\r\n      \"kid\": \"https://karlaugsoftdeletesdk.vault-int.azure-int.net/keys/listkeytest1\",\r\n      \"attributes\": {\r\n        \"enabled\": true,\r\n        \"created\": 1482188857,\r\n        \"updated\": 1482188857\r\n      }\r\n    },\r\n    {\r\n      \"kid\": \"https://karlaugsoftdeletesdk.vault-int.azure-int.net/keys/listkeytest2\",\r\n      \"attributes\": {\r\n        \"enabled\": true,\r\n        \"created\": 1482188858,\r\n        \"updated\": 1482188858\r\n      }\r\n    },\r\n    {\r\n      \"kid\": \"https://karlaugsoftdeletesdk.vault-int.azure-int.net/keys/listkeyversionstest\",\r\n      \"attributes\": {\r\n        \"enabled\": true,\r\n        \"created\": 1482188853,\r\n        \"updated\": 1482188853\r\n      }\r\n    },\r\n    {\r\n      \"kid\": \"https://karlaugsoftdeletesdk.vault-int.azure-int.net/keys/sdktestkey\",\r\n      \"attributes\": {\r\n        \"enabled\": true,\r\n        \"created\": 1482188915,\r\n        \"updated\": 1482188915\r\n      }\r\n    }\r\n  ],\r\n  \"nextLink\": null\r\n}",
      "ResponseHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "StatusCode": 200
    },
[...]
