{"Entries": [{"RequestUri": "//keys/EcTestKeyP521/create?api-version=7.0", "EncodedRequestUri": "Ly9rZXlzL0VjVGVzdEtleVA1MjEvY3JlYXRlP2FwaS12ZXJzaW9uPTcuMA==", "RequestMethod": "POST", "RequestBody": "{\r\n  \"kty\": \"EC\",\r\n  \"crv\": \"P-521\",\r\n  \"key_size\": null,\r\n  \"key_ops\": null,\r\n  \"attributes\": null,\r\n  \"tags\": null\r\n}", "RequestHeaders": {"Content-Type": ["application/json; charset=utf-8"], "Content-Length": ["181"], "x-ms-client-request-id": ["6bf748fc-2665-456e-bacb-368108f23734"], "accept-language": ["en-US"], "User-Agent": ["FxVersion/4.6.25009.03", "Microsoft.Azure.KeyVault.KeyVaultClient/2.2.1-preview"]}, "ResponseBody": "{\r\n  \"key\": {\r\n    \"kid\": \"https://kv-sdk-test.vault-int.azure-int.net/keys/EcTestKeyP521/fe277909d7e248f7913d6049ccf8451f\",\r\n    \"kty\": \"EC\",\r\n    \"key_ops\": [\r\n      \"sign\",\r\n      \"verify\"\r\n    ],\r\n    \"crv\": \"P-521\",\r\n    \"x\": \"ASggRFEA2L_FxGjnU5FNplPHBi8tU0e2L89ZWro4ZpDYvBvel0gjao_S23fuNFlhufLp5kePdGbqujy45wHKMjMR\",\r\n    \"y\": \"AFDVBsQZN2V1lox2kMCmqWL5Kn4f3X0mtqnBLWgPlOSl6l-tMDHj8gcLnMGJZNarCKVGVrdjhmK9BpbYy0Q8Omnm\"\r\n  },\r\n  \"attributes\": {\r\n    \"recoveryLevel\": \"Recoverable+Purgeable\",\r\n    \"enabled\": true,\r\n    \"nbf\": null,\r\n    \"exp\": null,\r\n    \"created\": 1493942958,\r\n    \"updated\": 1493942958\r\n  }\r\n}", "ResponseHeaders": {"Content-Length": ["676"], "Content-Type": ["application/json; charset=utf-8"], "Expires": ["-1"], "Cache-Control": ["no-cache"], "Date": ["Fri, 05 May 2017 00:09:18 GMT"], "Pragma": ["no-cache"], "Server": ["Microsoft-IIS/8.5"], "x-ms-keyvault-region": ["eastus2"], "x-ms-request-id": ["d9337449-73a3-4d58-bc2a-93b135104fed"], "x-ms-keyvault-service-version": ["1.0.0.1185"], "X-AspNet-Version": ["4.0.30319"], "X-Powered-By": ["ASP.NET"], "Strict-Transport-Security": ["max-age=31536000;includeSubDomains"], "X-Content-Type-Options": ["nosniff"]}, "StatusCode": 200}, {"RequestUri": "/keys/EcTestKeyP521/fe277909d7e248f7913d6049ccf8451f/sign?api-version=7.0", "EncodedRequestUri": "L2tleXMvRWNUZXN0S2V5UDUyMS9mZTI3NzkwOWQ3ZTI0OGY3OTEzZDYwNDljY2Y4NDUxZi9zaWduP2FwaS12ZXJzaW9uPTcuMA==", "RequestMethod": "POST", "RequestBody": "{\r\n  \"alg\": \"ES512\",\r\n  \"value\": \"GgxGb1115NitZ2XV9RnbyCt8NDs3+IUA7F5kAFOTsw1KQCl1z3RsD/S+wk0eBOtLtZj+qEa1aiGGRoL+EOSEGg==\"\r\n}", "RequestHeaders": {"Content-Type": ["application/json; charset=utf-8"], "Content-Length": ["81"], "x-ms-client-request-id": ["744e35ba-a678-46c9-aec0-e6466bcd4f32"], "accept-language": ["en-US"], "User-Agent": ["FxVersion/4.6.24214.01", "Microsoft.Azure.KeyVault.KeyVaultClient/2.1.0-preview"]}, "ResponseBody": "{\r\n  \"kid\": \"https://kv-sdk-test.vault-int.azure-int.net/keys/EcTestKeyP521/fe277[...]
