{"Entries": [{"RequestUri": "/keys/sdktestkey//sign?api-version=7.0", "EncodedRequestUri": "L2tleXMvc2RrdGVzdGtleS8vc2lnbj9hcGktdmVyc2lvbj03LjA=", "RequestMethod": "POST", "RequestBody": "{\r\n  \"alg\": \"RS512\",\r\n  \"value\": \"sQV0Lmiz3qANzbFmfHdgpv-BWpiwOFZQzgkMLOoGhSKRszaTdtW_22ui5em1oKY0q36SkY5nJpkL8wCRQk8GvA\"\r\n}", "RequestHeaders": {"Content-Type": ["application/json; charset=utf-8"], "Content-Length": ["124"], "x-ms-client-request-id": ["b0e74068-c329-4f8d-b814-b9ed49b02847"], "accept-language": ["en-US"], "User-Agent": ["FxVersion/4.6.24709.01", "Microsoft.Azure.KeyVault.KeyVaultClient/2.0.6"]}, "ResponseBody": "{\r\n  \"kid\": \"https://testvault1021.vault.azure.net/keys/sdktestkey/4eb68492b5f6421e835d961ad2be3155\",\r\n  \"value\": \"H0NfAOJqwqbCnYA3fULsAFFu4N1RUqGjlZ6PQ4VicA0bXnvgG8gJ4dj7cz6VzDdw9e2PP_NtXMsX3eOnyFwS_CVEXncnoMygumSY0s6zqA-a5bylOmOgIlh2tcLnn52z3b7YOaDLZLcqOQBHuOfM7DEc4z2wZ2_9qbdR8wGjvpPoX1mP5JVd373iCehUA7wM52nYngVfEwmZbzubloDdN1RMI7KWeGKStAEDFPFDVa6IJCMJyt4p94lYP2sAr8CnpOi2-i6lMnK_UAgJkTJvqduBcWMdYZ8X0j7-adIJzg33TeeEv2VMjowUMNiL9MVFtUAh8vxZrSfOYmj_vEs5EA\"\r\n}", "ResponseHeaders": {"Content-Length": ["449"], "Content-Type": ["application/json; charset=utf-8"], "Expires": ["-1"], "Cache-Control": ["no-cache"], "Date": ["Mon, 19 Dec 2016 23:09:13 GMT"], "Pragma": ["no-cache"], "Server": ["Microsoft-IIS/8.5"], "x-ms-keyvault-region": ["eastus"], "x-ms-request-id": ["32c9b524-dcf4-45f1-bfbb-2a1c7369b003"], "x-ms-keyvault-service-version": ["1.0.0.793"], "X-AspNet-Version": ["4.0.30319"], "X-Powered-By": ["ASP.NET"], "Strict-Transport-Security": ["max-age=31536000;includeSubDomains"], "X-Content-Type-Options": ["nosniff"]}, "StatusCode": 200}, {"RequestUri": "/keys/sdktestkey/4eb68492b5f6421e835d961ad2be3155/verify?api-version=7.0", "EncodedRequestUri": "L2tleXMvc2RrdGVzdGtleS80ZWI2ODQ5MmI1ZjY0MjFlODM1ZDk2MWFkMmJlMzE1NS92ZXJpZnk/YXBpLXZlcnNpb249Ny4w", "RequestMethod": "POST", "RequestBody": "{\r\n  \"alg\": \"RS512\",\r\n  \"digest\": \"sQV0Lmiz3qANzbFmfHdgpv-BWpiwOFZQzgkMLOoGhSKRszaTdtW_22ui5em1oKY0q36SkY5nJpkL8wCRQk8GvA\",\r\n  \"value\": \"H0NfAOJqwqbCnYA3fULsAFFu4N1RUqGjlZ6PQ4VicA0bXnvgG8gJ4dj7cz6VzDdw9e2PP_NtXMsX3eOnyFwS_CVEXncnoMygumSY0s6zqA-a5bylOmOgIlh2tcLnn52z3b7YOaDLZLcqOQBHuOfM7DEc4z2wZ2_9qbdR8wGjvpPoX1mP5JVd373iCehUA7wM52nYngVfEwmZbzubloDdN1RMI7KWeGKStAEDFPFDVa6IJCMJyt4p94lYP2sAr8CnpOi2-i6lMnK_UAgJkTJvqduBcWMdYZ8X0j7-adIJzg33TeeEv2VMjowUMNiL9MVFtUAh8vxZrSfOYmj_vEs5EA\"\r\n}", "RequestHeaders": {"Content-Type": ["application/json; charset=utf-8"], "Content-Length": ["483"], "x-ms-client-request-id": ["e4d9857a-bb5b-455f-bc40-6fef67bbc19b"], "accept-language": ["en-US"], "User-Agent": ["FxVersion/4.6.24709.01", "Microsoft.Azure.KeyVault.KeyVaultClient/2.0.6"]}, "ResponseBody": "{\r\n  \"value\": true\r\n}", "ResponseHeaders": {"Content-Length": ["14"], "Content-Type": ["application/json; charset=utf-8"], "Expires": ["-1"], "Cache-Control": ["no-cache"], "Date": ["Mon, 19 Dec 2016 23:09:13 GMT"], "Pragma": ["no-cache"], "Server": ["Microsoft-IIS/8.5"], "x-ms-keyvault-region": ["eastus"], "x-ms-request-id": ["ef0c4ee5-f5db-4cf2-94fe-741788ef3821"], "x-ms-keyvault-service-version": ["1.0.0.793"], "X-AspNet-Version": ["4.0.30319"], "X-Powered-By": ["ASP.NET"], "Strict-Transport-Security": ["max-age=31536000;includeSubDomains"], "X-Content-Type-Options": ["nosniff"]}, "StatusCode": 200}], "Names": {}, "Variables": {"VaultAddress": "https://testvault1021.vault.azure.net", "KeyName": "sdktestkey", "KeyVersion": "4eb68492b5f6421e835d961ad2be3155", "RandomBytes": "6Z3EOTg5wY6ZP8TZSXKneDSrXK0t1p1HmhXp5FZXHPjhbGGfI+EFDhFqQzRfN5Jm0gMUuMgWahP/fJ4jT9w3QQ=="}}