{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/7c71b563-0dc0-4bc0-bcf6-06f8f0516c7a?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "id": "/subscriptions/7c71b563-0dc0-4bc0-bcf6-06f8f0516c7a",
        "authorizationSource": "RoleBased",
        "managedByTenants": [
          {
            "tenantId": "2f4a9838-26b7-47ee-be60-ccc1fdec5953"
          }
        ],
        "tags": {
          "SkipGreenTeamLinuxSSHAuthForSub": "1081476937",
          "NRMSBreakGlassNonHighRisk": "322946830",
          "NRMS15526970": "20230411"
        },
        "subscriptionId": "7c71b563-0dc0-4bc0-bcf6-06f8f0516c7a",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": "Cloud-Native-Testing-IDC-Test",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/7c71b563-0dc0-4bc0-bcf6-06f8f0516c7a/resourcegroups/SdkRg6916?api-version=2021-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus2"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "id": "/subscriptions/7c71b563-0dc0-4bc0-bcf6-06f8f0516c7a/resourceGroups/SdkRg6916",
        "name": "SdkRg6916",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus2",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/7c71b563-0dc0-4bc0-bcf6-06f8f0516c7a/resourceGroups/SdkRg6916/providers/Microsoft.LoadTestService/loadTests/Sdk-LoadTestService-DotNet181?api-version=2022-12-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "westus2",
        "properties": {}
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/7c71b563-0dc0-4bc0-bcf6-06f8f0516c7a/providers/Microsoft.LoadTestService/locations/WESTUS2/operationStatuses/d1301d47-fe61-4a29-8eb1-b53228a156db*91EF9025CDFB58C826A6C9B2545836780D5EFB74FBFFCE9899CA380144027CB4?api-version=2022-12-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00222405ee53-0000-0800-0000-639efa210000\u0022",
        "mise-correlation-id": "5b94be2d-19cc-4866-b05f-65a54dd30a04",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-writes": "1198"
      },
      "ResponseBody": {
        "id": "/subscriptions/7c71b563-0dc0-4bc0-bcf6-06f8f0516c7a/resourceGroups/SdkRg6916/providers/Microsoft.LoadTestService/loadTests/Sdk-LoadTestService-DotNet181",
        "name": "Sdk-LoadTestService-DotNet181",
        "type": "microsoft.loadtestservice/loadtests",
        "location": "westus2",
        "tags": {},
        "systemData": {
          "createdBy": "5b96bb74-67f0-463c-9319-6f766ae1c33f",
          "createdByType": "Application",
          "createdAt": "2022-12-18T11:31:45.1300639Z",
          "lastModifiedBy": "5b96bb74-67f0-463c-9319-6f766ae1c33f",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2022-12-18T11:31:45.1300639Z"
        },
        "identity": {
          "type": "None"
        },
        "properties": {
          "description": null,
          "dataPlaneURI": "c2d108fa-7e82-47d0-86ab-d3d455efc8ce.westus2.cnt-prod.loadtesting.azure.com",
          "encryption": null,
          "provisioningState": "Accepted"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/7c71b563-0dc0-4bc0-bcf6-06f8f0516c7a/providers/Microsoft.LoadTestService/locations/WESTUS2/operationStatuses/d1301d47-fe61-4a29-8eb1-b53228a156db*91EF9025CDFB58C826A6C9B2545836780D5EFB74FBFFCE9899CA380144027CB4?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022be02ab2a-0000-0800-0000-639efa230000\u0022",
        "x-ms-ratelimit-remaining-subscription-reads": "11996"
      },
      "ResponseBody": {
        "id": "/subscriptions/7c71b563-0dc0-4bc0-bcf6-06f8f0516c7a/providers/Microsoft.LoadTestService/locations/WESTUS2/operationStatuses/d1301d47-fe61-4a29-8eb1-b53228a156db*91EF9025CDFB58C826A6C9B2545836780D5EFB74FBFFCE9899CA380144027CB4",
        "name": "d1301d47-fe61-4a29-8eb1-b53228a156db*91EF9025CDFB58C826A6C9B2545836780D5EFB74FBFFCE9899CA380144027CB4",
        "resourceId": "/subscriptions/7c71b563-0dc0-4bc0-bcf6-06f8f0516c7a/resourceGroups/SdkRg6916/providers/Microsoft.LoadTestService/loadTests/Sdk-LoadTestService-DotNet181",
        "status": "Succeeded",
        "startTime": "2022-12-18T11:31:45.9228628Z",
        "endTime": "2022-12-18T11:31:47.1023179Z",
        "properties": null
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/7c71b563-0dc0-4bc0-bcf6-06f8f0516c7a/resourceGroups/SdkRg6916/providers/Microsoft.LoadTestService/loadTests?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-original-request-ids": [
          "4bd046af-0ac5-4377-8f36-c0cacfd1e708",
          "c8cab31a-db7c-461e-825c-a573bb5c3e85",
          "507aa3c1-339d-4c8a-b3cb-8c1647d1fd66",
          "d2b61ac1-792d-4ae7-a505-4834cf443696",
          "4dd06db7-1ef3-43f7-b7e9-47e6ae50447a",
          "44d153bf-81d1-44cc-aee6-9909b5c59e2d",
          "31ad88de-480a-497b-af8c-d77e3161c27d",
          "c9f43c6f-d6fa-4df4-963a-afb498f50b78",
          "4918f4e2-57d1-43be-bd82-e274dc54a9f9",
          "7aed9229-b493-4611-844a-cf7ce3baa9ab",
          "6a8fe48b-0e7c-4670-96e9-25cb9417555c",
          "2a8f5239-3223-4f3f-9e2c-3a092fea3100",
          "e7003eb0-d67c-4e0c-aaf1-abdcde77932a"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": "11992"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/7c71b563-0dc0-4bc0-bcf6-06f8f0516c7a/resourceGroups/SdkRg6916/providers/Microsoft.LoadTestService/loadTests/Sdk-LoadTestService-DotNet181",
            "name": "Sdk-LoadTestService-DotNet181",
            "type": "microsoft.loadtestservice/loadtests",
            "location": "westus2",
            "tags": {},
            "systemData": {
              "createdBy": "5b96bb74-67f0-463c-9319-6f766ae1c33f",
              "createdByType": "Application",
              "createdAt": "2022-12-18T11:31:45.1300639Z",
              "lastModifiedBy": "5b96bb74-67f0-463c-9319-6f766ae1c33f",
              "lastModifiedByType": "Application",
              "lastModifiedAt": "2022-12-18T11:31:45.1300639Z"
            },
            "identity": {
              "type": "None"
            },
            "properties": {
              "description": null,
              "dataPlaneURI": "c2d108fa-7e82-47d0-86ab-d3d455efc8ce.westus2.cnt-prod.loadtesting.azure.com",
              "encryption": null,
              "provisioningState": "Succeeded"
            }
          }
        ]
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/7c71b563-0dc0-4bc0-bcf6-06f8f0516c7a/resourceGroups/SdkRg6916/providers/Microsoft.LoadTestService/loadTests/Sdk-LoadTestService-DotNet181/outboundNetworkDependenciesEndpoints?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "e07d8593-af2d-4e4b-86d8-841dd55367c0",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-reads": "11991"
      },
      "ResponseBody": {
        "value": [
          {
            "category": "Azure Load Testing",
            "endpoints": [
              {
                "domainName": "*.batch.azure.com",
                "description": null,
                "endpointDetails": [
                  {
                    "port": 29876
                  },
                  {
                    "port": 29877
                  }
                ]
              },
              {
                "domainName": "*.azloadtesting.io",
                "description": null,
                "endpointDetails": [
                  {
                    "port": 443
                  }
                ]
              },
              {
                "domainName": "*.servicebus.windows.net",
                "description": null,
                "endpointDetails": [
                  {
                    "port": 443
                  }
                ]
              },
              {
                "domainName": "*.blob.core.windows.net",
                "description": null,
                "endpointDetails": [
                  {
                    "port": 443
                  }
                ]
              },
              {
                "domainName": "jmeter-plugins.org",
                "description": null,
                "endpointDetails": [
                  {
                    "port": 443
                  }
                ]
              }
            ]
          }
        ]
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/7c71b563-0dc0-4bc0-bcf6-06f8f0516c7a/resourceGroups/SdkRg6916/providers/Microsoft.LoadTestService/loadTests/Sdk-LoadTestService-DotNet181?api-version=2022-12-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "identity": {
          "type": "SystemAssigned"
        },
        "properties": {
          "description": "test"
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/7c71b563-0dc0-4bc0-bcf6-06f8f0516c7a/providers/Microsoft.LoadTestService/locations/WESTUS2/operationStatuses/4fa4d663-e390-4cda-a77f-beaeef24a126*91EF9025CDFB58C826A6C9B2545836780D5EFB74FBFFCE9899CA380144027CB4?api-version=2022-12-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002224057c54-0000-0800-0000-639efa2a0000\u0022",
        "Location": "https://management.azure.com/subscriptions/7c71b563-0dc0-4bc0-bcf6-06f8f0516c7a/providers/Microsoft.LoadTestService/locations/WESTUS2/operationStatuses/4fa4d663-e390-4cda-a77f-beaeef24a126*91EF9025CDFB58C826A6C9B2545836780D5EFB74FBFFCE9899CA380144027CB4?api-version=2022-12-01",
        "mise-correlation-id": "cb6cf79f-561e-4916-94ae-1a09103b7005",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-writes": "1197"
      },
      "ResponseBody": "null"
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/7c71b563-0dc0-4bc0-bcf6-06f8f0516c7a/resourceGroups/SdkRg6916/providers/Microsoft.LoadTestService/loadTests/Sdk-LoadTestService-DotNet181?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002224059954-0000-0800-0000-639efa2b0000\u0022",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-reads": "11988"
      },
      "ResponseBody": {
        "id": "/subscriptions/7c71b563-0dc0-4bc0-bcf6-06f8f0516c7a/resourceGroups/SdkRg6916/providers/Microsoft.LoadTestService/loadTests/Sdk-LoadTestService-DotNet181",
        "name": "Sdk-LoadTestService-DotNet181",
        "type": "microsoft.loadtestservice/loadtests",
        "location": "westus2",
        "tags": {},
        "systemData": {
          "createdBy": "5b96bb74-67f0-463c-9319-6f766ae1c33f",
          "createdByType": "Application",
          "createdAt": "2022-12-18T11:31:45.1300639Z",
          "lastModifiedBy": "5b96bb74-67f0-463c-9319-6f766ae1c33f",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2022-12-18T11:31:53.895974Z"
        },
        "identity": {
          "principalId": "76c6831e-8773-43cd-a1e3-d5e2a1ee0442",
          "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
          "type": "SystemAssigned"
        },
        "properties": {
          "description": "test",
          "dataPlaneURI": "c2d108fa-7e82-47d0-86ab-d3d455efc8ce.westus2.cnt-prod.loadtesting.azure.com",
          "encryption": null,
          "provisioningState": "Succeeded"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/7c71b563-0dc0-4bc0-bcf6-06f8f0516c7a/providers/Microsoft.LoadTestService/locations/WESTUS2/operationStatuses/81c90bda-53c8-4e82-bf0d-77165e041fd5*91EF9025CDFB58C826A6C9B2545836780D5EFB74FBFFCE9899CA380144027CB4?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022be023b2b-0000-0800-0000-639efa2d0000\u0022",
        "x-ms-ratelimit-remaining-subscription-reads": "11987"
      },
      "ResponseBody": {
        "id": "/subscriptions/7c71b563-0dc0-4bc0-bcf6-06f8f0516c7a/providers/Microsoft.LoadTestService/locations/WESTUS2/operationStatuses/81c90bda-53c8-4e82-bf0d-77165e041fd5*91EF9025CDFB58C826A6C9B2545836780D5EFB74FBFFCE9899CA380144027CB4",
        "name": "81c90bda-53c8-4e82-bf0d-77165e041fd5*91EF9025CDFB58C826A6C9B2545836780D5EFB74FBFFCE9899CA380144027CB4",
        "resourceId": "/subscriptions/7c71b563-0dc0-4bc0-bcf6-06f8f0516c7a/resourceGroups/SdkRg6916/providers/Microsoft.LoadTestService/loadTests/Sdk-LoadTestService-DotNet181",
        "status": "Succeeded",
        "startTime": "2022-12-18T11:31:56.9020716Z",
        "endTime": "2022-12-18T11:31:57.2235573Z",
        "properties": null
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com/",
    "RandomSeed": "1758744075",
    "RESOURCE_MANAGER_URL": "https://management.azure.com/",
    "SUBSCRIPTION_ID": "7c71b563-0dc0-4bc0-bcf6-06f8f0516c7a"
  }
}
