{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/7c71b563-0dc0-4bc0-bcf6-06f8f0516c7a?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11988"
      },
      "ResponseBody": {
        "id": "/subscriptions/7c71b563-0dc0-4bc0-bcf6-06f8f0516c7a",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "SkipGreenTeamLinuxSSHAuthForSub": "1081476937",
          "NRMSBreakGlassNonHighRisk": "322946830",
          "NRMS15526970": "20230411"
        },
        "subscriptionId": "7c71b563-0dc0-4bc0-bcf6-06f8f0516c7a",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": "Cloud-Native-Testing-IDC-Test",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/7c71b563-0dc0-4bc0-bcf6-06f8f0516c7a/resourcegroups/SdkRg702?api-version=2021-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus2"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1197"
      },
      "ResponseBody": {
        "id": "/subscriptions/7c71b563-0dc0-4bc0-bcf6-06f8f0516c7a/resourceGroups/SdkRg702",
        "name": "SdkRg702",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus2",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/7c71b563-0dc0-4bc0-bcf6-06f8f0516c7a/providers/Microsoft.LoadTestService/loadTests?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-original-request-ids": [
          "2a81ad54-586f-4d7d-a37a-456d95da8613",
          "98ae310f-f6e5-4c1f-a52e-e6d0ab534145",
          "c30f787a-758b-4596-8f7d-bf651ccdab9a",
          "c5c1c976-402c-4f7a-84a6-aae4640a5c2f",
          "68df9b8d-a415-4300-a6f1-af882faaa05f",
          "b12cdb16-501a-4d9f-be9e-7b71a47ddec7",
          "b650bbdd-ce53-4101-b427-f0104dd1c25e",
          "5fe0a520-63ee-4065-bcd7-8aa5a86a0395",
          "02350b80-8425-496e-b776-a5c5e64f5dbc",
          "578bafda-ad51-4c43-a1bc-d05a9a6dbaef",
          "3d6d9df7-3a99-4880-be96-b7d591af4d88",
          "5cf5e97a-538a-4f8a-8fd2-c797da005a2b",
          "661467a8-75d2-4d90-a73a-3899f0bd8275"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": "11985"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/7c71b563-0dc0-4bc0-bcf6-06f8f0516c7a/resourceGroups/divyesh-rg/providers/Microsoft.LoadTestService/loadtests/eastus1",
            "name": "eastus1",
            "type": "Microsoft.LoadTestService/loadtests",
            "location": "eastus",
            "tags": {
              "Team": "AzureCom"
            },
            "systemData": {
              "createdBy": "ditikman@microsoft.com",
              "createdByType": "User",
              "createdAt": "2021-02-21T17:01:02.9097211Z",
              "lastModifiedBy": "ditikman@microsoft.com",
              "lastModifiedByType": "User",
              "lastModifiedAt": "2021-02-21T17:01:02.9097211Z"
            },
            "properties": {
              "description": "This is new load test resource",
              "provisioningState": "Succeeded"
            }
          },
          {
            "id": "/subscriptions/7c71b563-0dc0-4bc0-bcf6-06f8f0516c7a/resourceGroups/divyesh-rg/providers/Microsoft.LoadTestService/loadtests/eastus2",
            "name": "eastus2",
            "type": "Microsoft.LoadTestService/loadtests",
            "location": "eastus",
            "tags": {
              "Team": "AzureCom"
            },
            "systemData": {
    [...]
