{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/7c71b563-0dc0-4bc0-bcf6-06f8f0516c7a?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "id": "/subscriptions/7c71b563-0dc0-4bc0-bcf6-06f8f0516c7a",
        "authorizationSource": "RoleBased",
        "managedByTenants": [
          {
            "tenantId": "2f4a9838-26b7-47ee-be60-ccc1fdec5953"
          }
        ],
        "tags": {
          "SkipGreenTeamLinuxSSHAuthForSub": "1081476937",
          "NRMSBreakGlassNonHighRisk": "322946830",
          "NRMS15526970": "20230411"
        },
        "subscriptionId": "7c71b563-0dc0-4bc0-bcf6-06f8f0516c7a",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": "Cloud-Native-Testing-IDC-Test",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/7c71b563-0dc0-4bc0-bcf6-06f8f0516c7a/resourcegroups/SdkRg5243?api-version=**",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus2"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "id": "/subscriptions/7c71b563-0dc0-4bc0-bcf6-06f8f0516c7a/resourceGroups/SdkRg5243",
        "name": "SdkRg5243",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus2",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/7c71b563-0dc0-4bc0-bcf6-06f8f0516c7a/resourceGroups/SdkRg5243/providers/Microsoft.LoadTestService/loadTests/Sdk-LoadTestService-DotNet3721?api-version=2022-12-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "westus2",
        "properties": {}
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/7c71b563-0dc0-4bc0-bcf6-06f8f0516c7a/providers/Microsoft.LoadTestService/locations/WESTUS2/operationStatuses/91d310fa-4041-46c4-9dd3-3421ca78a6ce*F0B70BC7ECA64054DF126809121084C1D917D446BB94D1DD7B8C4BE15B4A3E08?api-version=2022-12-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00224305f063-0000-0800-0000-63a028f90000\u0022",
        "mise-correlation-id": "b8a91f6f-9c20-4f92-8595-dadbd69d17bf",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-writes": "1198"
      },
      "ResponseBody": {
        "id": "/subscriptions/7c71b563-0dc0-4bc0-bcf6-06f8f0516c7a/resourceGroups/SdkRg5243/providers/Microsoft.LoadTestService/loadTests/Sdk-LoadTestService-DotNet3721",
        "name": "Sdk-LoadTestService-DotNet3721",
        "type": "microsoft.loadtestservice/loadtests",
        "location": "westus2",
        "tags": {},
        "systemData": {
          "createdBy": "5b96bb74-67f0-463c-9319-6f766ae1c33f",
          "createdByType": "Application",
          "createdAt": "2022-12-19T09:03:52.5022226Z",
          "lastModifiedBy": "5b96bb74-67f0-463c-9319-6f766ae1c33f",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2022-12-19T09:03:52.5022226Z"
        },
        "identity": {
          "type": "None"
        },
        "properties": {
          "description": null,
          "dataPlaneURI": "c573d084-c1b9-4192-b2f2-7b2d18bae18f.westus2.cnt-prod.loadtesting.azure.com",
          "encryption": null,
          "provisioningState": "Accepted"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/7c71b563-0dc0-4bc0-bcf6-06f8f0516c7a/providers/Microsoft.LoadTestService/locations/WESTUS2/operationStatuses/91d310fa-4041-46c4-9dd3-3421ca78a6ce*F0B70BC7ECA64054DF126809121084C1D917D446BB94D1DD7B8C4BE15B4A3E08?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022d402251f-0000-0800-0000-63a028fa0000\u0022",
        "x-ms-ratelimit-remaining-subscription-reads": "11996"
      },
      "ResponseBody": {
        "id": "/subscriptions/7c71b563-0dc0-4bc0-bcf6-06f8f0516c7a/providers/Microsoft.LoadTestService/locations/WESTUS2/operationStatuses/91d310fa-4041-46c4-9dd3-3421ca78a6ce*F0B70BC7ECA64054DF126809121084C1D917D446BB94D1DD7B8C4BE15B4A3E08",
        "name": "91d310fa-4041-46c4-9dd3-3421ca78a6ce*F0B70BC7ECA64054DF126809121084C1D917D446BB94D1DD7B8C4BE15B4A3E08",
        "resourceId": "/subscriptions/7c71b563-0dc0-4bc0-bcf6-06f8f0516c7a/resourceGroups/SdkRg5243/providers/Microsoft.LoadTestService/loadTests/Sdk-LoadTestService-DotNet3721",
        "status": "Succeeded",
        "startTime": "2022-12-19T09:03:53.4527409Z",
        "endTime": "2022-12-19T09:03:54.5932106Z",
        "properties": null
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/7c71b563-0dc0-4bc0-bcf6-06f8f0516c7a/resourceGroups/SdkRg5243/providers/Microsoft.LoadTestService/loadTests?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-original-request-ids": [
          "be0c35e5-f734-4fde-93fe-4946edb96c3f",
          "8369b259-5f80-4014-8175-996dd5375847",
          "9ff0f431-5e59-4bf8-80ac-2c09c0e7809b",
          "6841dc3d-173c-49c1-8dbe-a96562422356",
          "8cedb7e1-315f-4313-9f77-71675a344b19",
          "f4418f15-71aa-4c94-85c0-183af069cd58",
          "44f9b1a9-5479-4643-9a0a-6ae4080e3c83",
          "2e47f7dc-a3ec-4165-91b5-02270c93724a",
          "fe94d295-b7b0-4060-b61b-079433491ab3",
          "fb7e11e4-50e7-4233-9f29-cf04ec6e0627",
          "53ac2c83-4156-43ed-9aa9-7c87fb37c1b5",
          "1ada00d8-1a9c-4df7-8eb4-87da7e7e995b",
          "5b3a4887-aa34-4d30-810c-39a1e179ab29"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": "11992"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/7c71b563-0dc0-4bc0-bcf6-06f8f0516c7a/resourceGroups/SdkRg5243/providers/Microsoft.LoadTestService/loadTests/Sdk-LoadTestService-DotNet3721",
            "name": "Sdk-LoadTestService-DotNet3721",
            "type": "microsoft.loadtestservice/loadtests",
            "location": "westus2",
            "tags": {},
            "systemData": {
              "createdBy": "5b96bb74-67f0-463c-9319-6f766ae1c33f",
              "createdByType": "Application",
              "createdAt": "2022-12-19T09:03:52.5022226Z",
              "lastModifiedBy": "5b96bb74-67f0-463c-9319-6f766ae1c33f",
              "lastModifiedByType": "Application",
              "lastModifiedAt": "2022-12-19T09:03:52.5022226Z"
            },
            "identity": {
              "type": "None"
            },
            "properties": {
              "description": null,
              "dataPlaneURI": "c573d084-c1b9-4192-b2f2-7b2d18bae18f.westus2.cnt-prod.loadtesting.azure.com",
              "encryption": null,
              "provisioningState": "Succeeded"
            }
          }
        ]
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/7c71b563-0dc0-4bc0-bcf6-06f8f0516c7a/resourceGroups/SdkRg5243/providers/Microsoft.LoadTestService/loadTests/Sdk-LoadTestService-DotNet3721/outboundNetworkDependenciesEndpoints?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "366de66a-d918-4069-a3a8-b42c01e0afab",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-reads": "11991"
      },
      "ResponseBody": {
        "value": [
          {
            "category": "Azure Load Testing",
            "endpoints": [
              {
                "domainName": "*.batch.azure.com",
                "description": null,
                "endpointDetails": [
                  {
                    "port": 29876
                  },
                  {
                    "port": 29877
                  }
                ]
              },
              {
                "domainName": "*.azloadtesting.io",
                "description": null,
                "endpointDetails": [
                  {
                    "port": 443
                  }
                ]
              },
              {
                "domainName": "*.servicebus.windows.net",
                "description": null,
                "endpointDetails": [
                  {
                    "port": 443
                  }
                ]
              },
              {
                "domainName": "*.blob.core.windows.net",
                "description": null,
                "endpointDetails": [
                  {
                    "port": 443
                  }
                ]
              },
              {
                "domainName": "jmeter-plugins.org",
                "description": null,
                "endpointDetails": [
                  {
                    "port": 443
                  }
                ]
              }
            ]
          }
        ]
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/7c71b563-0dc0-4bc0-bcf6-06f8f0516c7a/resourceGroups/SdkRg5243/providers/Microsoft.LoadTestService/loadTests/Sdk-LoadTestService-DotNet3721?api-version=2022-12-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "identity": {
          "type": "SystemAssigned"
        },
        "properties": {
          "description": "test"
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/7c71b563-0dc0-4bc0-bcf6-06f8f0516c7a/providers/Microsoft.LoadTestService/locations/WESTUS2/operationStatuses/e28fed7f-3ea3-4cc4-b1f2-7f4e579807a9*F0B70BC7ECA64054DF126809121084C1D917D446BB94D1DD7B8C4BE15B4A3E08?api-version=2022-12-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002243058b64-0000-0800-0000-63a029020000\u0022",
        "Location": "https://management.azure.com/subscriptions/7c71b563-0dc0-4bc0-bcf6-06f8f0516c7a/providers/Microsoft.LoadTestService/locations/WESTUS2/operationStatuses/e28fed7f-3ea3-4cc4-b1f2-7f4e579807a9*F0B70BC7ECA64054DF126809121084C1D917D446BB94D1DD7B8C4BE15B4A3E08?api-version=2022-12-01",
        "mise-correlation-id": "a65f88e0-357e-4425-93a1-07faad44cbc8",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-writes": "1197"
      },
      "ResponseBody": "null"
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/7c71b563-0dc0-4bc0-bcf6-06f8f0516c7a/resourceGroups/SdkRg5243/providers/Microsoft.LoadTestService/loadTests/Sdk-LoadTestService-DotNet3721?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00224305a264-0000-0800-0000-63a029040000\u0022",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-reads": "11988"
      },
      "ResponseBody": {
        "id": "/subscriptions/7c71b563-0dc0-4bc0-bcf6-06f8f0516c7a/resourceGroups/SdkRg5243/providers/Microsoft.LoadTestService/loadTests/Sdk-LoadTestService-DotNet3721",
        "name": "Sdk-LoadTestService-DotNet3721",
        "type": "microsoft.loadtestservice/loadtests",
        "location": "westus2",
        "tags": {},
        "systemData": {
          "createdBy": "5b96bb74-67f0-463c-9319-6f766ae1c33f",
          "createdByType": "Application",
          "createdAt": "2022-12-19T09:03:52.5022226Z",
          "lastModifiedBy": "5b96bb74-67f0-463c-9319-6f766ae1c33f",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2022-12-19T09:04:02.7782074Z"
        },
        "identity": {
          "principalId": "82059627-660d-4670-8eac-02e1d475570f",
          "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
          "type": "SystemAssigned"
        },
        "properties": {
          "description": "test",
          "dataPlaneURI": "c573d084-c1b9-4192-b2f2-7b2d18bae18f.westus2.cnt-prod.loadtesting.azure.com",
          "encryption": null,
          "provisioningState": "Succeeded"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/7c71b563-0dc0-4bc0-bcf6-06f8f0516c7a/providers/Microsoft.LoadTestService/locations/WESTUS2/operationStatuses/1f7a9d75-3251-4e31-a34a-c655815b6a81*F0B70BC7ECA64054DF126809121084C1D917D446BB94D1DD7B8C4BE15B4A3E08?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022d402ca1f-0000-0800-0000-63a029060000\u0022",
        "x-ms-ratelimit-remaining-subscription-reads": "11986"
      },
      "ResponseBody": {
        "id": "/subscriptions/7c71b563-0dc0-4bc0-bcf6-06f8f0516c7a/providers/Microsoft.LoadTestService/locations/WESTUS2/operationStatuses/1f7a9d75-3251-4e31-a34a-c655815b6a81*F0B70BC7ECA64054DF126809121084C1D917D446BB94D1DD7B8C4BE15B4A3E08",
        "name": "1f7a9d75-3251-4e31-a34a-c655815b6a81*F0B70BC7ECA64054DF126809121084C1D917D446BB94D1DD7B8C4BE15B4A3E08",
        "resourceId": "/subscriptions/7c71b563-0dc0-4bc0-bcf6-06f8f0516c7a/resourceGroups/SdkRg5243/providers/Microsoft.LoadTestService/loadTests/Sdk-LoadTestService-DotNet3721",
        "status": "Succeeded",
        "startTime": "2022-12-19T09:04:05.9390764Z",
        "endTime": "2022-12-19T09:04:06.3670605Z",
        "properties": null
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com/",
    "RandomSeed": "954207556",
    "RESOURCE_MANAGER_URL": "https://management.azure.com/",
    "SUBSCRIPTION_ID": "7c71b563-0dc0-4bc0-bcf6-06f8f0516c7a"
  }
}
