{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/9e28142e-8a8c-4a93-a280-41a2df3e0215?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "id": "/subscriptions/9e28142e-8a8c-4a93-a280-41a2df3e0215",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "subscriptionId": "9e28142e-8a8c-4a93-a280-41a2df3e0215",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": "Liftr-Dynatrace-Dev",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/9e28142e-8a8c-4a93-a280-41a2df3e0215/resourcegroups/SDKTestRG-7260?api-version=**",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "id": "/subscriptions/9e28142e-8a8c-4a93-a280-41a2df3e0215/resourceGroups/SDKTestRG-7260",
        "name": "SDKTestRG-7260",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus",
        "tags": {},
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/9e28142e-8a8c-4a93-a280-41a2df3e0215/resourceGroups/SDKTestRG-7260/providers/Dynatrace.Observability/monitors/testDT-86?api-version=2021-09-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "eastus",
        "properties": {
          "dynatraceEnvironmentProperties": {
            "singleSignOnProperties": {
              "singleSignOnState": "Disable",
              "singleSignOnUrl": "http://www.contoso.com/",
              "aadDomains": [
                "SDKTest"
              ]
            }
          },
          "userInfo": {
            "firstName": "Divyansh",
            "lastName": "Agarwal",
            "emailAddress": "agarwald@microsoft.com",
            "phoneNumber": "1234567890",
            "country": "US"
          },
          "planData": {
            "usageType": "COMMITTED",
            "billingCycle": "Monthly",
            "planDetails": "azureportalintegration_privatepreview",
            "effectiveDate": "2022-05-26T07:12:30.0000000Z"
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/providers/Dynatrace.Observability/locations/EASTUS/operationStatuses/9007dd47-bd61-4283-8832-8ed700901e89*DEDB33AFDC6FD9A482A5ABE6F1ED2158FB6B7FDF69CB66539400C5CFAC30772D?api-version=2021-09-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00222000fe95-0000-0100-0000-628fc6770000\u0022",
        "Location": "https://management.azure.com/providers/Dynatrace.Observability/locations/EASTUS/operationStatuses/9007dd47-bd61-4283-8832-8ed700901e89*DEDB33AFDC6FD9A482A5ABE6F1ED2158FB6B7FDF69CB66539400C5CFAC30772D?api-version=2021-09-01-preview",
        "mise-correlation-id": "ef8c9804-77f4-4c10-aa9f-5b077eeb5c82",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-writes": "1198"
      },
      "ResponseBody": {
        "id": "/subscriptions/9e28142e-8a8c-4a93-a280-41a2df3e0215/resourceGroups/SDKTestRG-7260/providers/Dynatrace.Observability/monitors/testDT-86",
        "name": "testDT-86",
        "type": "dynatrace.observability/monitors",
        "location": "eastus",
        "tags": {},
        "systemData": {
          "createdBy": "a796cb8d-d398-4da1-9dd3-665d69b3173b",
          "createdByType": "Application",
          "createdAt": "2022-05-26T18:26:59.5165704Z",
          "lastModifiedBy": "a796cb8d-d398-4da1-9dd3-665d69b3173b",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2022-05-26T18:26:59.5165704Z"
        },
        "properties": {
          "monitoringStatus": "Enabled",
          "marketplaceSubscriptionStatus": "Active",
          "dynatraceEnvironmentProperties": {
            "userId": null,
            "accountInfo": null,
            "environmentInfo": null,
            "singleSignOnProperties": {
              "singleSignOnState": "Disable",
              "enterpriseAppId": null,
              "singleSignOnUrl": "http://www.contoso.com/",
              "aadDomains": [
                "SDKTest"
              ],
              "provisioningState": "Accepted"
            }
          },
          "userInfo": null,
          "planData": {
            "usageType": "COMMITTED",
            "billingCycle": "Monthly",
            "planDetails": "azureportalintegration_privatepreview",
            "effectiveDate": "2022-05-26T07:12:30Z"
          },
          "liftrResourceCategory": "MonitorLogs",
          "liftrResourcePreference": 0,
          "provisioningState": "Accepted"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/providers/Dynatrace.Observability/locations/EASTUS/operationStatuses/9007dd47-bd61-4283-8832-8ed700901e89*DEDB33AFDC6FD9A482A5ABE6F1ED2158FB6B7FDF69CB66539400C5CFAC30772D?api-version=2021-09-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00222d035e34-0000-0100-0000-628fc6770000\u0022",
        "x-ms-ratelimit-remaining-tenant-reads": "11999"
      },
      "ResponseBody": {
        "id": "/providers/Dynatrace.Observability/locations/EASTUS/operationStatuses/9007dd47-bd61-4283-8832-8ed700901e89*DEDB33AFDC6FD9A482A5ABE6F1ED2158FB6B7FDF69CB66539400C5CFAC30772D",
        "name": "9007dd47-bd61-4283-8832-8ed700901e89*DEDB33AFDC6FD9A482A5ABE6F1ED2158FB6B7FDF69CB66539400C5CFAC30772D",
        "resourceId": "/subscriptions/9e28142e-8a8c-4a93-a280-41a2df3e0215/resourceGroups/SDKTestRG-7260/providers/Dynatrace.Observability/monitors/testDT-86",
        "status": "Accepted",
        "startTime": "2022-05-26T18:27:03.6389057Z"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/providers/Dynatrace.Observability/locations/EASTUS/operationStatuses/9007dd47-bd61-4283-8832-8ed700901e89*DEDB33AFDC6FD9A482A5ABE6F1ED2158FB6B7FDF69CB66539400C5CFAC30772D?api-version=2021-09-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00222d03e238-0000-0100-0000-628fc6ad0000\u0022",
        "x-ms-ratelimit-remaining-tenant-reads": "11991"
      },
      "ResponseBody": {
        "id": "/providers/Dynatrace.Observability/locations/EASTUS/operationStatuses/9007dd47-bd61-4283-8832-8ed700901e89*DEDB33AFDC6FD9A482A5ABE6F1ED2158FB6B7FDF69CB66539400C5CFAC30772D",
        "name": "9007dd47-bd61-4283-8832-8ed700901e89*DEDB33AFDC6FD9A482A5ABE6F1ED2158FB6B7FDF69CB66539400C5CFAC30772D",
        "resourceId": "/subscriptions/9e28142e-8a8c-4a93-a280-41a2df3e0215/resourceGroups/SDKTestRG-7260/providers/Dynatrace.Observability/monitors/testDT-86",
        "status": "Succeeded",
        "startTime": "2022-05-26T18:27:03.6389057Z",
        "endTime": "2022-05-26T18:27:57.1336536Z",
        "error": {},
        "properties": null
      }
    },
[...]
