{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/9e28142e-8a8c-4a93-a280-41a2df3e0215?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "id": "/subscriptions/9e28142e-8a8c-4a93-a280-41a2df3e0215",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "subscriptionId": "9e28142e-8a8c-4a93-a280-41a2df3e0215",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": "Liftr-Dynatrace-Dev",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/9e28142e-8a8c-4a93-a280-41a2df3e0215/resourcegroups/SDKTestRG-9583?api-version=2021-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "eastus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "id": "/subscriptions/9e28142e-8a8c-4a93-a280-41a2df3e0215/resourceGroups/SDKTestRG-9583",
        "name": "SDKTestRG-9583",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus",
        "tags": {},
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/9e28142e-8a8c-4a93-a280-41a2df3e0215/resourceGroups/SDKTestRG-9583/providers/Dynatrace.Observability/monitors/testDT-5301?api-version=2021-09-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "eastus",
        "properties": {
          "dynatraceEnvironmentProperties": {
            "singleSignOnProperties": {
              "singleSignOnState": "Disable",
              "singleSignOnUrl": "http://www.contoso.com/",
              "aadDomains": [
                "SDKTest"
              ]
            }
          },
          "userInfo": {
            "firstName": "Divyansh",
            "lastName": "Agarwal",
            "emailAddress": "agarwald@microsoft.com",
            "phoneNumber": "1234567890",
            "country": "US"
          },
          "planData": {
            "usageType": "COMMITTED",
            "billingCycle": "Monthly",
            "planDetails": "azureportalintegration_privatepreview",
            "effectiveDate": "2022-05-23T20:04:52.4240483Z"
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/providers/Dynatrace.Observability/locations/EASTUS/operationStatuses/adaf9c5d-4e56-4633-b022-cf97c1995cec*94C35E8C230FC49B6405EE5C9E916987CB8DAD8A611FF826A799178EC145A7A1?api-version=2021-09-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00221d009f7f-0000-0100-0000-628be8ed0000\u0022",
        "Location": "https://management.azure.com/providers/Dynatrace.Observability/locations/EASTUS/operationStatuses/adaf9c5d-4e56-4633-b022-cf97c1995cec*94C35E8C230FC49B6405EE5C9E916987CB8DAD8A611FF826A799178EC145A7A1?api-version=2021-09-01-preview",
        "mise-correlation-id": "a65dcc5a-ebb1-4f40-8233-1b120dbd59f9",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-writes": "1198"
      },
      "ResponseBody": {
        "id": "/subscriptions/9e28142e-8a8c-4a93-a280-41a2df3e0215/resourceGroups/SDKTestRG-9583/providers/Dynatrace.Observability/monitors/testDT-5301",
        "name": "testDT-5301",
        "type": "dynatrace.observability/monitors",
        "location": "eastus",
        "tags": {},
        "systemData": {
          "createdBy": "a796cb8d-d398-4da1-9dd3-665d69b3173b",
          "createdByType": "Application",
          "createdAt": "2022-05-23T20:04:56.4622288Z",
          "lastModifiedBy": "a796cb8d-d398-4da1-9dd3-665d69b3173b",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2022-05-23T20:04:56.4622288Z"
        },
        "properties": {
          "monitoringStatus": "Enabled",
          "marketplaceSubscriptionStatus": "Active",
          "dynatraceEnvironmentProperties": {
            "userId": null,
            "accountInfo": null,
            "environmentInfo": null,
            "singleSignOnProperties": {
              "singleSignOnState": "Disable",
              "enterpriseAppId": null,
              "singleSignOnUrl": "http://www.contoso.com/",
              "aadDomains": [
                "SDKTest"
              ],
              "provisioningState": "Accepted"
            }
          },
          "userInfo": null,
          "planData": {
            "usageType": "COMMITTED",
            "billingCycle": "Monthly",
            "planDetails": "azureportalintegration_privatepreview",
            "effectiveDate": "2022-05-23T20:04:52.4240483Z"
          },
          "liftrResourceCategory": "MonitorLogs",
          "liftrResourcePreference": 0,
          "provisioningState": "Accepted"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/providers/Dynatrace.Observability/locations/EASTUS/operationStatuses/adaf9c5d-4e56-4633-b022-cf97c1995cec*94C35E8C230FC49B6405EE5C9E916987CB8DAD8A611FF826A799178EC145A7A1?api-version=2021-09-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022b40274ff-0000-0100-0000-628be8ed0000\u0022",
        "x-ms-ratelimit-remaining-tenant-reads": "11999"
      },
      "ResponseBody": {
        "id": "/providers/Dynatrace.Observability/locations/EASTUS/operationStatuses/adaf9c5d-4e56-4633-b022-cf97c1995cec*94C35E8C230FC49B6405EE5C9E916987CB8DAD8A611FF826A799178EC145A7A1",
        "name": "adaf9c5d-4e56-4633-b022-cf97c1995cec*94C35E8C230FC49B6405EE5C9E916987CB8DAD8A611FF826A799178EC145A7A1",
        "resourceId": "/subscriptions/9e28142e-8a8c-4a93-a280-41a2df3e0215/resourceGroups/SDKTestRG-9583/providers/Dynatrace.Observability/monitors/testDT-5301",
        "status": "Accepted",
        "startTime": "2022-05-23T20:05:01.3196675Z"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/providers/Dynatrace.Observability/locations/EASTUS/operationStatuses/adaf9c5d-4e56-4633-b022-cf97c1995cec*94C35E8C230FC49B6405EE5C9E916987CB8DAD8A611FF826A799178EC145A7A1?api-version=2021-09-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022b40293ff-0000-0100-0000-628be91b0000\u0022",
        "x-ms-ratelimit-remaining-tenant-reads": "11991"
      },
      "ResponseBody": {
        "id": "/providers/Dynatrace.Observability/locations/EASTUS/operationStatuses/adaf9c5d-4e56-4633-b022-cf97c1995cec*94C35E8C230FC49B6405EE5C9E916987CB8DAD8A611FF826A799178EC145A7A1",
        "name": "adaf9c5d-4e56-4633-b022-cf97c1995cec*94C35E8C230FC49B6405EE5C9E916987CB8DAD8A611FF826A799178EC145A7A1",
        "resourceId": "/subscriptions/9e28142e-8a8c-4a93-a280-41a2df3e0215/resourceGroups/SDKTestRG-9583/providers/Dynatrace.Observability/monitors/testDT-5301",
        "status": "Succeeded",
        "startTime": "2022-05-23T20:05:01.3196675Z",
        "endTime": "2022-05-23T20:05:47.787654Z",
        "error": {},
        "properties": null
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/9e28142e-8a8c-4a93-a280-41a2df3e0215/resourceGroups/SDKTestRG-9583/providers/Dynatrace.Observability/monitors/testDT-53011?api-version=2021-09-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-failure-cause": "gateway"
      },
      "ResponseBody": {
        "error": {
          "code": "ResourceNotFound",
          "message": "The Resource \u0027Dynatrace.Observability/monitors/testDT-53011\u0027 under resource group \u0027SDKTestRG-9583\u0027 was not found. For more details please go to https://aka.ms/ARMResourceNotFoundFix"
        }
      }
    }
  ],
  "Variables": {
    "RandomSeed": "505381190",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "9e28142e-8a8c-4a93-a280-41a2df3e0215"
  }
}
