{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/9e28142e-8a8c-4a93-a280-41a2df3e0215?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "id": "/subscriptions/9e28142e-8a8c-4a93-a280-41a2df3e0215",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "subscriptionId": "9e28142e-8a8c-4a93-a280-41a2df3e0215",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": "Liftr-Dynatrace-Dev",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/9e28142e-8a8c-4a93-a280-41a2df3e0215/resourcegroups/SDKTestRG-5241?api-version=**",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "id": "/subscriptions/9e28142e-8a8c-4a93-a280-41a2df3e0215/resourceGroups/SDKTestRG-5241",
        "name": "SDKTestRG-5241",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus",
        "tags": {},
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/9e28142e-8a8c-4a93-a280-41a2df3e0215/resourceGroups/SDKTestRG-5241/providers/Dynatrace.Observability/monitors/testDT-8977?api-version=2021-09-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "eastus",
        "properties": {
          "dynatraceEnvironmentProperties": {
            "singleSignOnProperties": {
              "singleSignOnState": "Disable",
              "singleSignOnUrl": "http://www.contoso.com/",
              "aadDomains": [
                "SDKTest"
              ]
            }
          },
          "userInfo": {
            "firstName": "Divyansh",
            "lastName": "Agarwal",
            "emailAddress": "agarwald@microsoft.com",
            "phoneNumber": "1234567890",
            "country": "US"
          },
          "planData": {
            "usageType": "COMMITTED",
            "billingCycle": "Monthly",
            "planDetails": "azureportalintegration_privatepreview",
            "effectiveDate": "2022-05-26T07:12:30.0000000Z"
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/providers/Dynatrace.Observability/locations/EASTUS/operationStatuses/f4cee75b-6f0f-4c67-87e4-2cf1fcc124cb*5871447041579CE6A0C0F1297AEF45847EA549E73B0ED630CF358447F7543870?api-version=2021-09-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002220005496-0000-0100-0000-628fc78a0000\u0022",
        "Location": "https://management.azure.com/providers/Dynatrace.Observability/locations/EASTUS/operationStatuses/f4cee75b-6f0f-4c67-87e4-2cf1fcc124cb*5871447041579CE6A0C0F1297AEF45847EA549E73B0ED630CF358447F7543870?api-version=2021-09-01-preview",
        "mise-correlation-id": "031b1291-4cd4-430b-966f-07ffb4ed9a6f",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-writes": "1198"
      },
      "ResponseBody": {
        "id": "/subscriptions/9e28142e-8a8c-4a93-a280-41a2df3e0215/resourceGroups/SDKTestRG-5241/providers/Dynatrace.Observability/monitors/testDT-8977",
        "name": "testDT-8977",
        "type": "dynatrace.observability/monitors",
        "location": "eastus",
        "tags": {},
        "systemData": {
          "createdBy": "a796cb8d-d398-4da1-9dd3-665d69b3173b",
          "createdByType": "Application",
          "createdAt": "2022-05-26T18:31:27.8111926Z",
          "lastModifiedBy": "a796cb8d-d398-4da1-9dd3-665d69b3173b",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2022-05-26T18:31:27.8111926Z"
        },
        "properties": {
          "monitoringStatus": "Enabled",
          "marketplaceSubscriptionStatus": "Active",
          "dynatraceEnvironmentProperties": {
            "userId": null,
            "accountInfo": null,
            "environmentInfo": null,
            "singleSignOnProperties": {
              "singleSignOnState": "Disable",
              "enterpriseAppId": null,
              "singleSignOnUrl": "http://www.contoso.com/",
              "aadDomains": [
                "SDKTest"
              ],
              "provisioningState": "Accepted"
            }
          },
          "userInfo": null,
          "planData": {
            "usageType": "COMMITTED",
            "billingCycle": "Monthly",
            "planDetails": "azureportalintegration_privatepreview",
            "effectiveDate": "2022-05-26T07:12:30Z"
          },
          "liftrResourceCategory": "MonitorLogs",
          "liftrResourcePreference": 0,
          "provisioningState": "Accepted"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/providers/Dynatrace.Observability/locations/EASTUS/operationStatuses/f4cee75b-6f0f-4c67-87e4-2cf1fcc124cb*5871447041579CE6A0C0F1297AEF45847EA549E73B0ED630CF358447F7543870?api-version=2021-09-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00222d03144b-0000-0100-0000-628fc78a0000\u0022",
        "x-ms-ratelimit-remaining-tenant-reads": "11999"
      },
      "ResponseBody": {
        "id": "/providers/Dynatrace.Observability/locations/EASTUS/operationStatuses/f4cee75b-6f0f-4c67-87e4-2cf1fcc124cb*5871447041579CE6A0C0F1297AEF45847EA549E73B0ED630CF358447F7543870",
        "name": "f4cee75b-6f0f-4c67-87e4-2cf1fcc124cb*5871447041579CE6A0C0F1297AEF45847EA549E73B0ED630CF358447F7543870",
        "resourceId": "/subscriptions/9e28142e-8a8c-4a93-a280-41a2df3e0215/resourceGroups/SDKTestRG-5241/providers/Dynatrace.Observability/monitors/testDT-8977",
        "status": "Accepted",
        "startTime": "2022-05-26T18:31:38.0208266Z"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/providers/Dynatrace.Observability/locations/EASTUS/operationStatuses/f4cee75b-6f0f-4c67-87e4-2cf1fcc124cb*5871447041579CE6A0C0F1297AEF45847EA549E73B0ED630CF358447F7543870?api-version=2021-09-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00222d03794e-0000-0100-0000-628fc7bd0000\u0022",
        "x-ms-ratelimit-remaining-tenant-reads": "11991"
      },
      "ResponseBody": {
        "id": "/providers/Dynatrace.Observability/locations/EASTUS/operationStatuses/f4cee75b-6f0f-4c67-87e4-2cf1fcc124cb*5871447041579CE6A0C0F1297AEF45847EA549E73B0ED630CF358447F7543870",
        "name": "f4cee75b-6f0f-4c67-87e4-2cf1fcc124cb*5871447041579CE6A0C0F1297AEF45847EA549E73B0ED630CF358447F7543870",
        "resourceId": "/subscriptions/9e28142e-8a8c-4a93-a280-41a2df3e0215/resourceGroups/SDKTestRG-5241/providers/Dynatrace.Observability/monitors/testDT-8977",
        "status": "Succeeded",
        "startTime": "2022-05-26T18:31:38.0208266Z",
        "endTime": "2022-05-26T18:32:29.3066536Z",
        "error": {},
        "properties": null
      }
    },
[...]
