{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/2c647056-bab2-4175-b172-493ff049eb29/resourcegroups/Sql-RG-4702?api-version=**",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11998"
      },
      "ResponseBody": {
        "id": "/subscriptions/2c647056-bab2-4175-b172-493ff049eb29/resourceGroups/Sql-RG-4702",
        "name": "Sql-RG-4702",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus2",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/2c647056-bab2-4175-b172-493ff049eb29/resourceGroups/Sql-RG-4702/providers/Microsoft.Sql/servers/sql-server-1516?api-version=2022-08-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "eastus2",
        "properties": {
          "administratorLogin": "admin-sql-server-1516",
          "administratorLoginPassword": "HvVJ%paVC@%GBKmi"
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/2c647056-bab2-4175-b172-493ff049eb29/resourceGroups/Sql-RG-4702/providers/Microsoft.Sql/locations/eastus2/serverAzureAsyncOperation/a255c16f-2bd7-4287-98d8-a1b840e85fe2?api-version=2022-08-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/2c647056-bab2-4175-b172-493ff049eb29/resourceGroups/Sql-RG-4702/providers/Microsoft.Sql/locations/eastus2/serverOperationResults/a255c16f-2bd7-4287-98d8-a1b840e85fe2?api-version=2022-08-01-preview",
        "Retry-After": "1",
        "x-ms-ratelimit-remaining-subscription-writes": "1198"
      },
      "ResponseBody": {
        "operation": "UpsertLogicalServer",
        "startTime": "2023-05-01T23:18:14.127Z"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/2c647056-bab2-4175-b172-493ff049eb29/resourceGroups/Sql-RG-4702/providers/Microsoft.Sql/locations/eastus2/serverAzureAsyncOperation/a255c16f-2bd7-4287-98d8-a1b840e85fe2?api-version=2022-08-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "1",
        "x-ms-ratelimit-remaining-subscription-reads": "11997"
      },
      "ResponseBody": {
        "name": "a255c16f-2bd7-4287-98d8-a1b840e85fe2",
        "status": "InProgress",
        "startTime": "2023-05-01T23:18:14.127Z"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/2c647056-bab2-4175-b172-493ff049eb29/resourceGroups/Sql-RG-4702/providers/Microsoft.Sql/servers/sql-server-1516?api-version=2022-08-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11988"
      },
      "ResponseBody": {
        "kind": "v12.0",
        "properties": {
          "administratorLogin": "admin-sql-server-1516",
          "version": "12.0",
          "state": "Ready",
          "fullyQualifiedDomainName": "sql-server-1516.database.windows.net",
          "privateEndpointConnections": [],
          "publicNetworkAccess": "Enabled",
          "restrictOutboundNetworkAccess": "Disabled",
          "externalGovernanceStatus": "Disabled"
        },
        "location": "eastus2",
        "tags": {},
        "id": "/subscriptions/2c647056-bab2-4175-b172-493ff049eb29/resourceGroups/Sql-RG-4702/providers/Microsoft.Sql/servers/sql-server-1516",
        "name": "sql-server-1516",
        "type": "Microsoft.Sql/servers"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/2c647056-bab2-4175-b172-493ff049eb29/resourceGroups/Sql-RG-4702/providers/Microsoft.Sql/servers/sql-server-1516/elasticPools/sql-pool-160?api-version=2021-08-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "eastus2",
        "properties": {}
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/2c647056-bab2-4175-b172-493ff049eb29/resourceGroups/Sql-RG-4702/providers/Microsoft.Sql/locations/eastus2/elasticPoolAzureAsyncOperation/ae1adae7-854b-4e1c-b969-148630568b69?api-version=2021-08-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/2c647056-bab2-4175-b172-493ff049eb29/resourceGroups/Sql-RG-4702/providers/Microsoft.Sql/locations/eastus2/elasticPoolOperationResults/ae1adae7-854b-4e1c-b969-148630568b69?api-version=2021-08-01-preview",
        "Retry-After": "15",
        "x-ms-ratelimit-remaining-subscription-writes": "1197"
      },
      "ResponseBody": {
        "operation": "CreateLogicalElasticPool",
        "startTime": "2023-05-01T23:19:57.077Z"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/2c647056-bab2-4175-b172-493ff049eb29/resourceGroups/Sql-RG-4702/providers/Microsoft.Sql/locations/eastus2/elasticPoolAzureAsyncOperation/ae1adae7-854b-4e1c-b969-148630568b69?api-version=2021-08-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "15",
        "x-ms-ratelimit-remaining-subscription-reads": "11987"
      },
      "ResponseBody": {
        "name": "ae1adae7-854b-4e1c-b969-148630568b69",
        "status": "InProgress",
        "startTime": "2023-05-01T23:19:57.077Z"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/2c647056-bab2-4175-b172-493ff049eb29/resourceGroups/Sql-RG-4702/providers/Microsoft.Sql/servers/sql-server-1516/elasticPools/sql-pool-160?api-version=2021-08-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11982"
      },
      "ResponseBody": {
        "sku": {
          "name": "GP_Gen5",
          "tier": "GeneralPurpose",
          "family": "Gen5",
          "capacity": 2
        },
        "kind": "vcore,pool",
        "properties": {
          "state": "Ready",
          "creationDate": "2023-05-01T23:19:57.17Z",
          "maxSizeBytes": 34359738368,
          "perDatabaseSettings": {
            "minCapacity": 0.0000,
            "maxCapacity": 2.0000
          },
          "zoneRedundant": false,
          "licenseType": "LicenseIncluded",
          "maintenanceConfigurationId": "/subscriptions/2c647056-bab2-4175-b172-493ff049eb29/providers/Microsoft.Maintenance/publicMaintenanceConfigurations/SQL_Default"
        },
        "location": "eastus2",
        "tags": {},
        "id": "/subscriptions/2c647056-bab2-4175-b172-493ff049eb29/resourceGroups/Sql-RG-4702/providers/Microsoft.Sql/servers/sql-server-1516/elasticPools/sql-pool-160",
        "name": "sql-pool-160",
        "type": "Microsoft.Sql/servers/elasticPools"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/2c647056-bab2-4175-b172-493ff049eb29/resourceGroups/Sql-RG-4702/providers/Microsoft.Sql/servers/sql-server-1516/elasticPools/sql-pool-6275?api-version=2021-08-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-failure-cause": "gateway"
      },
      "ResponseBody": {
        "error": {
          "code": "ResourceNotFound",
          "message": "The Resource \u0027Microsoft.Sql/servers/sql-server-1516/elasticpools/sql-pool-6275\u0027 under resource group \u0027Sql-RG-4702\u0027 was not found. For more details please go to https://aka.ms/ARMResourceNotFoundFix"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/2c647056-bab2-4175-b172-493ff049eb29/resourceGroups/Sql-RG-4702/providers/Microsoft.Sql/servers/sql-server-1516/elasticPools?api-version=2021-08-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11972"
      },
      "ResponseBody": {
        "value": [
          {
            "sku": {
              "name": "GP_Gen5",
              "tier": "GeneralPurpose",
              "family": "Gen5",
              "capacity": 2
            },
            "kind": "vcore,pool",
            "properties": {
              "state": "Ready",
              "creationDate": "2023-05-01T23:19:57.17Z",
              "maxSizeBytes": 34359738368,
              "perDatabaseSettings": {
                "minCapacity": 0.0000,
                "maxCapacity": 2.0000
      [...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/2c647056-bab2-4175-b172-493ff049eb29/resourceGroups/Sql-RG-4702/providers/Microsoft.Sql/servers?api-version=2022-08-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11968"
      },
      "ResponseBody": {
        "value": [
          {
            "kind": "v12.0",
            "properties": {
              "administratorLogin": "admin-sql-server-1516",
              "version": "12.0",
              "state": "Ready",
              "fullyQualifiedDomainName": "sql-server-1516.database.windows.net",
              "privateEndpointConnections": [],
              "publicNetworkAccess": "Enabled",
              "restrictOutboundNetworkAccess": "Disabled",
              "externalGovernanceStatus": "Disabled"
            },
            "location": "eastus2",
            "tags": {},
            "id": "/subscriptions/2c647056-bab2-4175-b172-493ff049eb29/resourceGroups/Sql-RG-4702/providers/Microsoft.Sql/servers/sql-server-1516",
            "name": "sql-server-1516",
            "type": "Microsoft.Sql/servers"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/2c647056-bab2-4175-b172-493ff049eb29/resourceGroups/Sql-RG-4702/providers/Microsoft.Sql/locations/eastus2/serverAzureAsyncOperation/58daac17-a037-4499-8715-458333c77419?api-version=2022-08-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "15",
        "x-ms-ratelimit-remaining-subscription-reads": "11966"
      },
      "ResponseBody": {
        "name": "58daac17-a037-4499-8715-458333c77419",
        "status": "Succeeded",
        "startTime": "2023-05-01T23:22:08.357Z"
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "RandomSeed": "1231914204",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "2c647056-bab2-4175-b172-493ff049eb29"
  }
}
