{
  "Entries": [
    {
      "RequestUri": "/providers/Microsoft.Logic/operations?api-version=2018-07-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-tenant-reads": [
          "11998"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"name\": \"Microsoft.Logic/operations/read\",\r\n      \"display\": {\r\n        \"provider\": \"Microsoft Logic\",\r\n        \"resource\": \"Operation\",\r\n        \"operation\": \"Get Operation\",\r\n        \"description\": \"Gets the operation.\"\r\n      }\r\n    },\r\n    {\r\n      \"name\": \"Microsoft.Logic/register/action\",\r\n      \"display\": {\r\n        \"provider\": \"Microsoft Logic\",\r\n        \"resource\": \"Resource Provider\",\r\n        \"operation\": \"Register Resource Provider\",\r\n        \"description\": \"Registers the Microsoft.Logic resource provider for a given subscription.\"\r\n      }\r\n    },\r\n    {\r\n      \"name\": \"Microsoft.Logic/locations/workflows/validate/action\",\r[...]
