{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/f9b96b36-1f5e-4021-8959-51527e26e6d3?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11873"
      },
      "ResponseBody": {
        "id": "/subscriptions/f9b96b36-1f5e-4021-8959-51527e26e6d3",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {},
        "subscriptionId": "f9b96b36-1f5e-4021-8959-51527e26e6d3",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": "CS-Platform-Dev-01",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/f9b96b36-1f5e-4021-8959-51527e26e6d3/resourcegroups/testRG-120?api-version=2021-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {
          "test": "env"
        },
        "location": "centralus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1157"
      },
      "ResponseBody": {
        "id": "/subscriptions/f9b96b36-1f5e-4021-8959-51527e26e6d3/resourceGroups/testRG-120",
        "name": "testRG-120",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "centralus",
        "tags": {
          "test": "env"
        },
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/f9b96b36-1f5e-4021-8959-51527e26e6d3/resourceGroups/testRG-120/providers/Microsoft.CognitiveServices/accounts/testAccount-3972?api-version=2022-12-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kind": "Face",
        "sku": {
          "name": "S0"
        },
        "properties": {},
        "tags": {},
        "location": "centralus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "azure-asyncoperation": "https://management.azure.com/subscriptions/f9b96b36-1f5e-4021-8959-51527e26e6d3/providers/Microsoft.CognitiveServices/locations/centralus/operationResults/bdb28b17-e2b5-4829-a5b7-086c416fc121?api-version=2017-04-18",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002232013de5-0000-0300-0000-63bce8150000\u0022",
        "x-ms-ratelimit-remaining-subscription-writes": "1156"
      },
      "ResponseBody": {
        "id": "/subscriptions/f9b96b36-1f5e-4021-8959-51527e26e6d3/resourceGroups/testRG-120/providers/Microsoft.CognitiveServices/accounts/testAccount-3972",
        "name": "testAccount-3972",
        "type": "Microsoft.CognitiveServices/accounts",
        "etag": "\u002232013de5-0000-0300-0000-63bce8150000\u0022",
        "location": "centralus",
        "sku": {
          "name": "S0"
        },
        "kind": "Face",
        "tags": {},
        "properties": {
          "endpoint": "https://centralus.api.cognitive.microsoft.com/",
          "internalId": "57ab2d505c3045ceaa58afacca6d7023",
          "dateCreated": "2023-01-10T04:22:45.0708301Z",
          "callRateLimit": {
            "rules": [
              {
                "key": "face",
                "renewalPeriod": 1,
                "count": 10,
                "matchPatterns": [
                  {
                    "path": "face/*",
                    "method": "*"
                  }
                ]
              },
              {
                "key": "container.billing",
                "renewalPeriod": 10,
                "count": 500,
                "matchPatterns": [
                  {
                    "path": "billing/*",
                    "method": "*"
                  }
                ]
              },
              {
                "key": "default",
                "renewalPeriod": 1,
                "count": 10,
                "matchPatterns": [
                  {
                    "path": "*",
                    "method": "*"
                  }
                ]
              }
            ]
          },
          "isMigrated": false,
          "privateEndpointConnections": [],
          "publicNetworkAccess": "Enabled",
          "capabilities": [
            {
              "name": "VirtualNetworks"
            },
            {
              "name": "Container",
              "value": "Face.*,Face.Face"
            },
            {
              "name": "Scenario",
              "value": "Face.LegacyPreview,Face.Legacy"
            }
          ],
          "endpoints": {
            "Face": "https://centralus.api.cognitive.microsoft.com/"
          },
          "provisioningState": "Creating"
        },
        "systemData": {
          "createdBy": "50841d5f-166a-406c-8472-6800c9698b43",
          "createdByType": "Application",
          "createdAt": "2023-01-10T04:22:45.0139073Z",
          "lastModifiedBy": "50841d5f-166a-406c-8472-6800c9698b43",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2023-01-10T04:22:45.0139073Z"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/f9b96b36-1f5e-4021-8959-51527e26e6d3/providers/Microsoft.CognitiveServices/locations/centralus/operationResults/bdb28b17-e2b5-4829-a5b7-086c416fc121?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11872"
      },
      "ResponseBody": {
        "id": "/subscriptions/f9b96b36-1f5e-4021-8959-51527e26e6d3/providers/Microsoft.CognitiveServices/locations/centralus/operationResults/bdb28b17-e2b5-4829-a5b7-086c416fc121",
        "name": "bdb28b17-e2b5-4829-a5b7-086c416fc121",
        "status": "Succeeded",
        "startTime": "2023-01-10T04:22:45Z",
        "endTime": "2023-01-10T04:22:45Z"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/f9b96b36-1f5e-4021-8959-51527e26e6d3/resourceGroups/testRG-120/providers/Microsoft.CognitiveServices/accounts/testAccount-3972/privateEndpointConnections?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11870"
      },
      "ResponseBody": {
        "value": []
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": null,
    "RandomSeed": "1924206129",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "f9b96b36-1f5e-4021-8959-51527e26e6d3"
  }
}
