{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/f9b96b36-1f5e-4021-8959-51527e26e6d3?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11969"
      },
      "ResponseBody": {
        "id": "/subscriptions/f9b96b36-1f5e-4021-8959-51527e26e6d3",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {},
        "subscriptionId": "f9b96b36-1f5e-4021-8959-51527e26e6d3",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": "CS-Platform-Dev-01",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/f9b96b36-1f5e-4021-8959-51527e26e6d3/resourcegroups/testRG-2493?api-version=**",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {
          "test": "env"
        },
        "location": "centralus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1184"
      },
      "ResponseBody": {
        "id": "/subscriptions/f9b96b36-1f5e-4021-8959-51527e26e6d3/resourceGroups/testRG-2493",
        "name": "testRG-2493",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "centralus",
        "tags": {
          "test": "env"
        },
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/f9b96b36-1f5e-4021-8959-51527e26e6d3/resourceGroups/testRG-2493/providers/Microsoft.CognitiveServices/accounts/testAccount-7870?api-version=2023-05-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kind": "Face",
        "sku": {
          "name": "S0"
        },
        "properties": {},
        "tags": {},
        "location": "centralus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "azure-asyncoperation": "https://management.azure.com/subscriptions/f9b96b36-1f5e-4021-8959-51527e26e6d3/providers/Microsoft.CognitiveServices/locations/centralus/operationResults/47e09f17-db4d-4e33-ae90-0c60aadef856?api-version=2017-04-18",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022bc03dca5-0000-0300-0000-648a98990000\u0022",
        "x-ms-ratelimit-remaining-subscription-writes": "1183"
      },
      "ResponseBody": {
        "id": "/subscriptions/f9b96b36-1f5e-4021-8959-51527e26e6d3/resourceGroups/testRG-2493/providers/Microsoft.CognitiveServices/accounts/testAccount-7870",
        "name": "testAccount-7870",
        "type": "Microsoft.CognitiveServices/accounts",
        "etag": "\u0022bc03dca5-0000-0300-0000-648a98990000\u0022",
        "location": "centralus",
        "sku": {
          "name": "S0"
        },
        "kind": "Face",
        "tags": {},
        "properties": {
          "endpoint": "https://centralus.api.cognitive.microsoft.com/",
          "internalId": "b78b27307ca148e1b15012e1a558b153",
          "dateCreated": "2023-06-15T04:50:33.4602108Z",
          "callRateLimit": {
            "rules": [
              {
                "key": "face",
                "renewalPeriod": 1,
                "count": 10,
                "matchPatterns": [
                  {
                    "path": "face/*",
                    "method": "*"
                  }
                ]
              },
              {
                "key": "container.billing",
                "renewalPeriod": 10,
                "count": 500,
                "matchPatterns": [
                  {
                    "path": "billing/*",
                    "method": "*"
                  }
                ]
              },
              {
                "key": "default",
                "renewalPeriod": 1,
                "count": 10,
                "matchPatterns": [
                  {
                    "path": "*",
                    "method": "*"
                  }
                ]
              }
            ]
          },
          "isMigrated": false,
          "privateEndpointConnections": [],
          "publicNetworkAccess": "Enabled",
          "capabilities": [
            {
              "name": "VirtualNetworks"
            },
            {
              "name": "Container",
              "value": "Face.*,Face.Face"
            },
            {
              "name": "Scenario",
              "value": "Face.LegacyPreview,Face.Legacy"
            }
          ],
          "endpoints": {
            "Face": "https://centralus.api.cognitive.microsoft.com/"
          },
          "provisioningState": "Creating"
        },
        "systemData": {
          "createdBy": "50841d5f-166a-406c-8472-6800c9698b43",
          "createdByType": "Application",
          "createdAt": "2023-06-15T04:50:33.3964537Z",
          "lastModifiedBy": "50841d5f-166a-406c-8472-6800c9698b43",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2023-06-15T04:50:33.3964537Z"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/f9b96b36-1f5e-4021-8959-51527e26e6d3/providers/Microsoft.CognitiveServices/locations/centralus/operationResults/47e09f17-db4d-4e33-ae90-0c60aadef856?api-version=2023-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11968"
      },
      "ResponseBody": {
        "id": "/subscriptions/f9b96b36-1f5e-4021-8959-51527e26e6d3/providers/Microsoft.CognitiveServices/locations/centralus/operationResults/47e09f17-db4d-4e33-ae90-0c60aadef856",
        "name": "47e09f17-db4d-4e33-ae90-0c60aadef856",
        "status": "Creating",
        "startTime": "2023-06-15T04:50:33Z"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/f9b96b36-1f5e-4021-8959-51527e26e6d3/providers/Microsoft.CognitiveServices/locations/centralus/operationResults/47e09f17-db4d-4e33-ae90-0c60aadef856?api-version=2023-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11967"
      },
      "ResponseBody": {
        "id": "/subscriptions/f9b96b36-1f5e-4021-8959-51527e26e6d3/providers/Microsoft.CognitiveServices/locations/centralus/operationResults/47e09f17-db4d-4e33-ae90-0c60aadef856",
        "name": "47e09f17-db4d-4e33-ae90-0c60aadef856",
        "status": "Succeeded",
        "startTime": "2023-06-15T04:50:33Z",
        "endTime": "2023-06-15T04:50:34Z"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/f9b96b36-1f5e-4021-8959-51527e26e6d3/resourceGroups/testRG-2493/providers/Microsoft.CognitiveServices/accounts/testAccount-7870/privateEndpointConnections?api-version=2023-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11965"
      },
      "ResponseBody": {
        "value": []
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": null,
    "RandomSeed": "1238933439",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "f9b96b36-1f5e-4021-8959-51527e26e6d3"
  }
}
