{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/f9b96b36-1f5e-4021-8959-51527e26e6d3?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11987"
      },
      "ResponseBody": {
        "id": "/subscriptions/f9b96b36-1f5e-4021-8959-51527e26e6d3",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {},
        "subscriptionId": "f9b96b36-1f5e-4021-8959-51527e26e6d3",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": "CS-Platform-Dev-01",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/f9b96b36-1f5e-4021-8959-51527e26e6d3/resourcegroups/testRG-8568?api-version=2021-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {
          "test": "env"
        },
        "location": "centralus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1196"
      },
      "ResponseBody": {
        "id": "/subscriptions/f9b96b36-1f5e-4021-8959-51527e26e6d3/resourceGroups/testRG-8568",
        "name": "testRG-8568",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "centralus",
        "tags": {
          "test": "env"
        },
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/f9b96b36-1f5e-4021-8959-51527e26e6d3/resourceGroups/testRG-8568/providers/Microsoft.CognitiveServices/accounts/testAccount-387?api-version=2022-10-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kind": "Face",
        "sku": {
          "name": "S0"
        },
        "properties": {},
        "tags": {},
        "location": "centralus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "azure-asyncoperation": "https://management.azure.com/subscriptions/f9b96b36-1f5e-4021-8959-51527e26e6d3/providers/Microsoft.CognitiveServices/locations/centralus/operationResults/51a46db2-ed3a-4bce-b09a-2cba6f56c3f9?api-version=2017-04-18",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00223c001b0e-0000-0300-0000-6337f9d20000\u0022",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "id": "/subscriptions/f9b96b36-1f5e-4021-8959-51527e26e6d3/resourceGroups/testRG-8568/providers/Microsoft.CognitiveServices/accounts/testAccount-387",
        "name": "testAccount-387",
        "type": "Microsoft.CognitiveServices/accounts",
        "etag": "\u00223c001b0e-0000-0300-0000-6337f9d20000\u0022",
        "location": "centralus",
        "sku": {
          "name": "S0"
        },
        "kind": "Face",
        "tags": {},
        "properties": {
          "endpoint": "https://centralus.api.cognitive.microsoft.com/",
          "internalId": "c1a792a9087447fe87cec78d54ad7bca",
          "dateCreated": "2022-10-01T08:26:58.0485426Z",
          "callRateLimit": {
            "rules": [
              {
                "key": "face",
                "renewalPeriod": 1,
                "count": 10,
                "dynamicThrottlingEnabled": false,
                "matchPatterns": [
                  {
                    "path": "face/*",
                    "method": "*"
                  }
                ]
              },
              {
                "key": "container.billing",
                "renewalPeriod": 10,
                "count": 500,
                "dynamicThrottlingEnabled": false,
                "matchPatterns": [
                  {
                    "path": "billing/*",
                    "method": "*"
                  }
                ]
              },
              {
                "key": "default",
                "renewalPeriod": 1,
                "count": 10,
                "dynamicThrottlingEnabled": false,
                "matchPatterns": [
                  {
                    "path": "*",
                    "method": "*"
                  }
                ]
              }
            ]
          },
          "isMigrated": false,
          "privateEndpointConnections": [],
          "publicNetworkAccess": "Enabled",
          "capabilities": [
            {
              "name": "VirtualNetworks"
            },
            {
              "name": "Container",
              "value": "Face.*,Face.Face"
            },
            {
              "name": "Scenario",
              "value": "Face.LegacyPreview,Face.Legacy"
            }
          ],
          "endpoints": {
            "Face": "https://centralus.api.cognitive.microsoft.com/"
          },
          "provisioningState": "Creating"
        },
        "systemData": {
          "createdBy": "50841d5f-166a-406c-8472-6800c9698b43",
          "createdByType": "Application",
          "createdAt": "2022-10-01T08:26:57.849788Z",
          "lastModifiedBy": "50841d5f-166a-406c-8472-6800c9698b43",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2022-10-01T08:26:57.849788Z"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/f9b96b36-1f5e-4021-8959-51527e26e6d3/providers/Microsoft.CognitiveServices/locations/centralus/operationResults/51a46db2-ed3a-4bce-b09a-2cba6f56c3f9?api-version=2022-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11998"
      },
      "ResponseBody": {
        "id": "/subscriptions/f9b96b36-1f5e-4021-8959-51527e26e6d3/providers/Microsoft.CognitiveServices/locations/centralus/operationResults/51a46db2-ed3a-4bce-b09a-2cba6f56c3f9",
        "name": "51a46db2-ed3a-4bce-b09a-2cba6f56c3f9",
        "status": "Succeeded",
        "startTime": "2022-10-01T08:26:58Z",
        "endTime": "2022-10-01T08:26:58Z"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/f9b96b36-1f5e-4021-8959-51527e26e6d3/resourceGroups/testRG-8568/providers/Microsoft.CognitiveServices/accounts/testAccount-387/privateEndpointConnections?api-version=2022-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11996"
      },
      "ResponseBody": {
        "value": []
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": null,
    "RandomSeed": "1309565398",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "f9b96b36-1f5e-4021-8959-51527e26e6d3"
  }
}
