{
  "Entries": [
    {
      "RequestUri": "/1273adef-00a3-4086-a51a-dbcce1857d36/groups?api-version=1.6",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"displayName\": \"testGroup04b96235f-7d1c-4478-bbd4-a53d1cf86fed\",\r\n  \"mailNickname\": \"testGroup04b96235f-7d1c-4478-bbd4-a53d1cf86fedtester\",\r\n  \"mailEnabled\": false,\r\n  \"securityEnabled\": true\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Location": [
          "https://graph.windows.net/1273adef-00a3-4086-a51a-dbcce1857d36/directoryObjects/1edb3c0d-211a-4838-9a18-033446776ca0/Microsoft.DirectoryServices.Group"
        ],
        "ocp-aad-diagnostics-server-name": [
          "smDzeL4bkZOf2IZ45+oQ9cb0D2p+UcizCJoyGyQLD1w="
        ],
        "x-ms-dirapi-data-contract-version": [
          "1.6"
        ],
        "ocp-aad-session-key": [
          "n0dQNjX9N4gyyA1p8NVRgitJmV6ztelCrBS5h5y77pVlTKvcOrTeEOmm_N5THVQx0i2_ENlefqUMvXnCQgan9UVaLwy45udRxTPMljCjKkhTjb4WCsAvRIWlZTnl42jNPxqWmIkqMDFDFha8WkMdrw.lTrKXCkNDebg9383zw4ft0G8EhWfu1k5zse1pJ7IqjI"
        ],
        "DataServiceVersion": [
          "3.0;"
        ],
        "Duration": [
          "1032494"
        ],
        "Content-Type": [
          "application/json; odata=minimalmetadata; streaming=true; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://graph.windows.net/1273adef-00a3-4086-a51a-dbcce1857d36/$metadata#directoryObjects/Microsoft.DirectoryServices.Group/@Element\",\r\n  \"odata.type\": \"Microsoft.DirectoryServices.Group\",\r\n  \"objectType\": \"Group\",\r\n  \"objectId\": \"1edb3c0d-211a-4838-9a18-033446776ca0\",\r\n  \"deletionTimestamp\": null,\r\n  \"description\": null,\r\n  \"dirSyncEnabled\": null,\r\n  \"displayName\": \"testGroup04b96235f-7d1c-4478-bbd4-a53d1cf86fed\",\r\n  \"lastDirSyncTime\": null,\r\n  \"mail\": null,\r\n  \"mailNickname\": \"testGroup04b96235f-7d1c-4478-bbd4-a53d1cf86fedtester\",\r\n  \"mailEnabled\": false,\r\n  \"onPremisesDomainName\": null,\r\n  \"onPremisesNetBiosName\": null,\r\n  \"onPremisesSamAccountName\": null,\r\n  \"onPremisesSecurityIdentifier\": null,\r\n  \"provisioningErrors\": [],\r\n  \"proxyAddresses\": [],\r\n  \"securityEnabled\": true\r\n}",
      "StatusCode": 201
    },
[...]
    {
      "RequestUri": "/1273adef-00a3-4086-a51a-dbcce1857d36/users?api-version=1.6",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"accountEnabled\": true,\r\n  \"displayName\": \"testUser048f97b6c-19e5-45c5-9367-823d9bec685c\",\r\n  \"passwordProfile\": {\r\n    \"password\": \"Test12345\",\r\n    \"forceChangePasswordNextLogin\": false\r\n  },\r\n  \"userPrincipalName\": \"testUser048f97b6c-19e5-45c5-9367-823d9bec685c@rbacclitest.onmicrosoft.com\",\r\n  \"mailNickname\": \"testUser048f97b6c-19e5-45c5-9367-823d9bec685ctest\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Location": [
          "https://graph.windows.net/1273adef-00a3-4086-a51a-dbcce1857d36/directoryObjects/def2bd7f-32b5-4a5d-b228-93783bc889d8/Microsoft.DirectoryServices.User"
        ],[...]
[...]
