{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/db4e2fdb-6d80-4e6e-b7cd-736098270664?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "id": "/subscriptions/db4e2fdb-6d80-4e6e-b7cd-736098270664",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "subscriptionId": "db4e2fdb-6d80-4e6e-b7cd-736098270664",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": "Edge Gateway Test",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db4e2fdb-6d80-4e6e-b7cd-736098270664/providers/Microsoft.DataBoxEdge?api-version=**",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11998"
      },
      "ResponseBody": {
        "id": "/subscriptions/db4e2fdb-6d80-4e6e-b7cd-736098270664/providers/Microsoft.DataBoxEdge",
        "namespace": "Microsoft.DataBoxEdge",
        "authorizations": [
          {
            "applicationId": "2368d027-f996-4edb-bf48-928f98f2ab8c"
          }
        ],
        "resourceTypes": [
          {
            "resourceType": "DataBoxEdgeDevices",
            "locations": [
              "East US",
              "West Europe",
              "Southeast Asia",
              "East US 2 EUAP",
              "Central US EUAP",
              "West Central US",
              "West US 2"
            ],
            "apiVersions": [
              "2023-02-01",
              "2023-01-01-preview",
              "2022-12-01-preview",
              "2022-04-01-preview",
              "2022-03-01",
              "2021-06-01-preview",
              "2021-06-01",
              "2021-02-01-preview",
              "2021-02-01",
              "2020-12-01",
              "2020-09-01-preview",
              "2020-09-01",
              "2020-07-01-preview",
              "2020-07-01",
              "2020-06-01",
              "2020-05-01-preview",
              "2020-01-01",
              "2019-08-01",
              "2019-07-01",
              "2019-03-01",
              "2018-07-01",
              "2017-09-01"
            ],
            "defaultApiVersion": "2021-06-01",
            "capabilities": "CrossResourceGroupResourceMove, CrossSubscriptionResourceMove, SystemAssignedResourceIdentity, SupportsTags, SupportsLocation"
          },
          {
            "resourceType": "DataBoxEdgeDevices/checkNameAvailability",
            "locations": [
              "East US",
              "West Europe",
              "Southeast Asia",
              "East US 2 EUAP",
              "Central US EUAP",
              "West Central US",
              "West US 2"
            ],
            "apiVersio[...]
    {
      "RequestUri": "https://management.azure.com/providers/Microsoft.DataBoxEdge/operations?api-version=2023-02-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-tenant-reads": "11999"
      },
      "ResponseBody": {
        "value": [
          {
            "name": "Microsoft.DataBoxEdge/availableSkus/read",
            "isDataAction": false,
            "display": {
              "provider": "Microsoft.DataBoxEdge",
              "resource": "available skus",
              "operation": "List available skus",
              "description": "Lists or gets the available skus"
            },
            "origin": "user"
          },
          {
            "name": "Microsoft.DataBoxEdge/dataBoxEdgeDevices/roles/addons/read",
            "isDataAction": false,
            "display": {
              "provider": "Microsoft.DataBoxEdge",
              "resource": "addons",
              "operation": "List addons",
              "description": "Lists or gets the addons"
            },
            "origin": "user"
          },
          {
            "name": "Microsoft.DataBoxEdge/dataBoxEdgeDevices/roles/add[...]
