{
  "Entries": [
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-825b382c-0955-e53d-739b-b556fe1d619e?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 20 Jan 2022 20:47:44 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9DC561C2A8979\u0022",
        "Last-Modified": "Thu, 20 Jan 2022 20:47:44 GMT",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-825b382c-0955-e53d-739b-b556fe1d619e/test-file-49ffd256-f5f1-dd50-0cf7-accf1e893d68",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Thu, 20 Jan 2022 20:47:44 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9DC561C3669DD\u0022",
        "Last-Modified": "Thu, 20 Jan 2022 20:47:44 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2022-01-20T20:47:44.8262109Z",
        "x-ms-file-creation-time": "2022-01-20T20:47:44.8262109Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2022-01-20T20:47:44.8262109Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "4010187179898695473*11459378189709739967",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-825b382c-0955-e53d-739b-b556fe1d619e/test-file-49ffd256-f5f1-dd50-0cf7-accf1e893d68?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 20 Jan 2022 20:47:44 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2021-04-10",
        "x-ms-write": "update"
      },
      "RequestBody": "KyeWoXTdW3EsWckpFqcZzLUdXNYLJZzLDMp3SqPFZFohz1cidC9YeXaNHZgrJsdl3uAaAS1mXQaLy5WqZRDOZ/RvCEdP9liFxeNffQgEn\u002BUDEmzCqmMtunFRl6iarRRmv7WjvB5/FeiIlDxJB\u002BD9hiuvp1KkC7yRQk7W/V6v6xfP\u002BL5SYOLHg/2DOhUm47KQVBB96gbBwrP5EnrPqReJ2akleg4hqyZJ5yNVINGnal6bRalOMQAQDTYLWU5n99rm\u002BmFrAWijb6nqMwLibKHiUqcbNGNtO6epFG3YFlHX4fBJbiZvO2j299YAY/79LqGUKAemS8N2eL65wu36y1hXElESmP17chY\u002BJTyNbNeorOXMQ\u002B1KMJYs0/ZntXl7\u002Byx9qVCs6pWjGbbwaCaH6AvnEBUHLohrDeK75sQHE7yd[...]
[...]
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-825b382c-0955-e53d-739b-b556fe1d619e/test-file-49ffd256-f5f1-dd50-0cf7-accf1e893d68",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 20 Jan 2022 20:47:45 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D9DC561C7676C0\u0022",
        "Last-Modified": "Thu, 20 Jan 2022 20:47:45 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2022-01-20T20:47:45.0830641Z",
        "x-ms-file-creation-time": "2022-01-20T20:47:45.0830641Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2022-01-20T20:47:45.0830641Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "4010187179898695473*11459378189709739967",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": "3871fKnjii7kUj9hee\u002BMSsZrtoaT5uyay7BfkIQNWGxc\u002B0GER3fW9KsdnqdJpelhKtyTTKcMj/jiW7D4g/qp1vnSBX2uBwJPlcLadkhEUCbH/maneQzET2tIouzG3nCxc8etdqBrsyLaRLflMhmwnQqJMIWUAV3tDrUSZWUViLdRKQKBltmFXEtDzTRU3h1SlwTiPa3rHHFpv2jrWU29xLwAlAkWLwYwBNQ5UTQpmS\u002BYv81gM0sJZgyRF9dxmgP\u002BhQh4VEoUO2j\u002BsTjYscs9QCY5U5l/XZFx9i78hRcvv2rRO8srsUTkhINlYoESMbRAVNewN0dpfih3Bl4cF7ZRzvHOB3UAEY/iVM4VGvoPXsV5uzA/[...]
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-825b382c-0955-e53d-739b-b556fe1d619e?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 20 Jan 2022 20:47:45 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "722605307",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttp://seanmcccanary3.blob.core.windows.net\nhttp://seanmcccanary3.file.core.windows.net\nhttp://seanmcccanary3.queue.core.windows.net\nhttp://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttp://seanmcccanary3-secondary.blob.core.windows.net\nhttp://seanmcccanary3-secondary.file.core.windows.net\nhttp://seanmcccanary3-secondary.queue.core.windows.net\nhttp://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=http://seanmcccanary3.queue.core.windows.net/;FileEndpoint=http://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=http://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\n[encryption scope]\n\n"
  }
}