{
  "Entries": [
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-76d1932b-0705-b444-f4c2-c9cec9265424?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 20 Jan 2022 20:47:31 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9DC561434ACC6\u0022",
        "Last-Modified": "Thu, 20 Jan 2022 20:47:31 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-76d1932b-0705-b444-f4c2-c9cec9265424/test-file-8ee4db32-32c7-021c-87be-8a9962c88bc2",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Thu, 20 Jan 2022 20:47:31 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9DC56143FC844\u0022",
        "Last-Modified": "Thu, 20 Jan 2022 20:47:31 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2022-01-20T20:47:31.4658372Z",
        "x-ms-file-creation-time": "2022-01-20T20:47:31.4658372Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2022-01-20T20:47:31.4658372Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "4010187179898695473*11459378189709739967",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-76d1932b-0705-b444-f4c2-c9cec9265424/test-file-8ee4db32-32c7-021c-87be-8a9962c88bc2?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 20 Jan 2022 20:47:31 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2021-06-08",
        "x-ms-write": "update"
      },
      "RequestBody": "ijtm5vPApJE/7jbUSfEGG3FaSU1NqMU0xjALwIBjqjm1HI/QaRNWcTdST9n8SLmWuG4nCH49deJ2MR/DteQR3ET8Hi1hNbJdA9gW\u002BlnsN353dAgRO6K7d6etWjf0k7xSQXKVACmLNIK8ygSmJ3qIivqgTEDb/6GhQaeGtNt7aXAbw7nmVzdV60CGVXGdFU8tJNA9VEZ7d0LR87\u002BBBYCnQWGUimTAojLCS2AAVakwAytXWY8LPRQpoEt3FGN40\u002BbA3xQQCYvrbIKdegjleiKYoe\u002BTKazwmwNMaukYSY3PSnd6QHWVIPqgbOwNbsIMQyYp3nN05Kk5z0MQw56h0iL0zTCRajmsA4H18ry/4i1AQCbD72oaWmXNQXEyhFxb/5rKGaCSetnsfNvxfvHteuwV0IN43uK42XPKwynIen4lmvMi9cmNrsVN13O[...]
[...]
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-76d1932b-0705-b444-f4c2-c9cec9265424/test-file-8ee4db32-32c7-021c-87be-8a9962c88bc2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 20 Jan 2022 20:47:31 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D9DC56147BDE1B\u0022",
        "Last-Modified": "Thu, 20 Jan 2022 20:47:31 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2022-01-20T20:47:31.7047008Z",
        "x-ms-file-creation-time": "2022-01-20T20:47:31.7047008Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2022-01-20T20:47:31.7047008Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "4010187179898695473*11459378189709739967",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": "ww6\u002BG7K\u002Bc9FH18XXfBB17EO2efq9h5slsYeBlRrmKsnaKHAAj7Z40ZV/58cvs3LnB8aPUKuB8TtzmWkrPd23YKz7/VOgdVyNPadlPqDT9f0UmY1UV9kdWDc0jPZMTZS3x4cbM7YfR5FpAhMDHLKbn6NsF6RQYwnS3aQba\u002BhmQfASrXYYt8FH9VH76lTGGjyEme1S3zbvZmR\u002BSVURA9ypAsEj8G48gujhJCFSVHi0C8Nnl9H7E2G5I0cSmm5sNvJ1UuiToynOSBcEcbsUnRHryj2RqWsKre9gac0nKeh5de4v3QKQIGiamU6696KlpYY1JtAx2oyGa6T4Mzlbpx4vi/vN5b8PWqnU9g8dT7ZNusRH8gIXSJthq[...]
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-76d1932b-0705-b444-f4c2-c9cec9265424?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 20 Jan 2022 20:47:31 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "970451736",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttp://seanmcccanary3.blob.core.windows.net\nhttp://seanmcccanary3.file.core.windows.net\nhttp://seanmcccanary3.queue.core.windows.net\nhttp://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttp://seanmcccanary3-secondary.blob.core.windows.net\nhttp://seanmcccanary3-secondary.file.core.windows.net\nhttp://seanmcccanary3-secondary.queue.core.windows.net\nhttp://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=http://seanmcccanary3.queue.core.windows.net/;FileEndpoint=http://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=http://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\n[encryption scope]\n\n"
  }
}