{
  "Entries": [
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-8c259cba-70ad-8f4b-5632-d911da5a6da2?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 20 Jan 2022 20:47:18 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9DC560CE69027\u0022",
        "Last-Modified": "Thu, 20 Jan 2022 20:47:19 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-8c259cba-70ad-8f4b-5632-d911da5a6da2/test-file-a33d306e-b8ea-5304-8879-3eaa3bfdda45",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Thu, 20 Jan 2022 20:47:19 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9DC560D48970E\u0022",
        "Last-Modified": "Thu, 20 Jan 2022 20:47:19 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2022-01-20T20:47:19.7795086Z",
        "x-ms-file-creation-time": "2022-01-20T20:47:19.7795086Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2022-01-20T20:47:19.7795086Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "4010187179898695473*11459378189709739967",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-8c259cba-70ad-8f4b-5632-d911da5a6da2/test-file-a33d306e-b8ea-5304-8879-3eaa3bfdda45?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 20 Jan 2022 20:47:19 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2021-06-08",
        "x-ms-write": "update"
      },
      "RequestBody": "d1RK7K2f27uQFaNkPJqFO\u002BqYS9gcV3Jqc50w5oEWDtJaqfF5AqL4v4gl8r1tWSA4ivafgeFTtSDh33gPb/Q5egfRCZOoCzlHoItQ92S0/Bp891uLd43wB/TRlyIq6FCT63i2nFCNkH68V\u002BFVA728LOJekneZrgN64AGf13MWHbc7vAzr/mDJ72fczh\u002BsmgQ2FWs/zFXZ\u002Bjx1O7xO7rgKpTopGkax0C2ClKMPvN/jzkX9acII11BhYsLPdsKjewCv0inkgoC\u002BhEQ9vTeyyT5dkW12UIX2Ac7pyLeD4llr3hmiYOm2/kvFP\u002BR9yxoYrpmEceRVLCp7uNBa\u002B7rIOqHr0t4eEGlUppMisRGgeTa00Rke/nB0FbLuJqcZWwOR/ARCkvk7\u002BZ4vMMtRM3sY2z\u002BZpimgqjwwdr[...]
[...]
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-8c259cba-70ad-8f4b-5632-d911da5a6da2/test-file-a33d306e-b8ea-5304-8879-3eaa3bfdda45",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 20 Jan 2022 20:47:20 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D9DC560D8FCED1\u0022",
        "Last-Modified": "Thu, 20 Jan 2022 20:47:20 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2022-01-20T20:47:20.0843341Z",
        "x-ms-file-creation-time": "2022-01-20T20:47:20.0843341Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2022-01-20T20:47:20.0843341Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "4010187179898695473*11459378189709739967",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": "f3c0/BGmLbVmUP8sGQ4q\u002B58WEiNmH6CJyViWNqLZ8T1hO4n6YzEEMrpSxyWUfQWGQBfaui1eZV/WqjK5EPYSjF/Byt6EMJhtEuBpFFh69UxTD/WL/zYPAtYqI7j/SyHDQDrG0rInARB\u002BbKhN9VAGW7XmZQABh40pscgIWg3fbse\u002BpdQdtCKZLA3kDZKNwg2FI8cDGeUgwbitnCHqHqcDnv7hjk986aeSTDnzHHr7nO\u002B6gjdF21ThneMbcBgBrg1m4W6UrDO9CDogcMysLaU\u002BsgAyL5xvvcOp//FrYXiOkZ4rjDoLZ\u002B\u002B7/Xr9JWqINW8\u002B3L4Yz35x9ySr6qxCUabBkd8tgKFqMkoQd[...]
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-8c259cba-70ad-8f4b-5632-d911da5a6da2?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 20 Jan 2022 20:47:20 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-15b77df0-3cfa-0457-f721-f5638714ad2c/test-file-aa5a54de-92ed-3fc2-b1c0-d56da69fa0f2?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 20 Jan 2022 20:47:23 GMT",
        "x-ms-lease-action": "acquire",
        "x-ms-lease-duration": "-1",
        "x-ms-proposed-lease-id": "e2256ad5-1c8f-1ae4-cc3c-162b6d96fc64",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9DC560F92A693\u0022",
        "Last-Modified": "Thu, 20 Jan 2022 20:47:23 GMT",
        "x-ms-lease-id": "e2256ad5-1c8f-1ae4-cc3c-162b6d96fc64",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-15b77df0-3cfa-0457-f721-f5638714ad2c?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 20 Jan 2022 20:47:24 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2022-01-20T12:47:18.1794440-08:00",
    "RandomSeed": "372895158",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttp://seanmcccanary3.blob.core.windows.net\nhttp://seanmcccanary3.file.core.windows.net\nhttp://seanmcccanary3.queue.core.windows.net\nhttp://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttp://seanmcccanary3-secondary.blob.core.windows.net\nhttp://seanmcccanary3-secondary.file.core.windows.net\nhttp://seanmcccanary3-secondary.queue.core.windows.net\nhttp://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=http://seanmcccanary3.queue.core.windows.net/;FileEndpoint=http://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=http://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\n[encryption scope]\n\n"
  }
}