{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c?api-version=2019-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11925"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "tagKey1": "tagValue1",
          "tagKey2": "tagValue2"
        },
        "subscriptionId": "db1ab6f0-4769-4b27-930e-01e2ef9c123c",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": ".NET Mgmt SDK Test with TTL = 1 Day",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourcegroups/WebPubSubRG-9189?api-version=2019-10-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus2"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1197"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/WebPubSubRG-9189",
        "name": "WebPubSubRG-9189",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus2",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/WebPubSubRG-9189/providers/Microsoft.SignalRService/webPubSub/WebPubSub-2494?api-version=2021-09-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "sku": {
          "name": "Standard_S1"
        },
        "tags": {},
        "location": "westus2",
        "properties": {
          "liveTraceConfiguration": {
            "enabled": "true",
            "categories": [
              {
                "name": "category-01",
                "enabled": "true"
              }
            ]
          },
          "eventHandler": {
            "items": {
              "key": [
                {
                  "urlTemplate": "http://directreach.com/domain/xn--0zwm56d.com/",
                  "systemEventPattern": "\u0026quot;connect\u0026quot;"
                }
              ]
            }
          },
          "networkACLs": {
            "defaultAction": "Deny",
            "publicNetwork": {
              "allow": [],
              "deny": [
                "RESTAPI"
              ]
            },
            "privateEndpoints": []
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/WebPubSubRG-9189/providers/Microsoft.SignalRService/WebPubSub/WebPubSub-2494/operationStatuses/755789ec-cec8-49b1-be9e-c0c1c1e1aa09?api-version=2021-09-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/WebPubSubRG-9189/providers/Microsoft.SignalRService/WebPubSub/WebPubSub-2494/operationResults/755789ec-cec8-49b1-be9e-c0c1c1e1aa09?api-version=2021-09-01-preview",
        "x-ms-ratelimit-remaining-subscription-writes": "1196",
        "x-rp-server-mvid": "052104b6-a76f-4c87-b183-74bee8bc2fa4"
      },
      "ResponseBody": {
        "sku": {
          "name": "Standard_S1",
          "tier": "Standard",
          "size": "S1",
          "capacity": 1
        },
        "properties": {
          "provisioningState": "Creating",
          "externalIP": null,
          "hostName": "webpubsub-2494.webpubsub.azure.com",
          "publicPort": 443,
          "serverPort": 443,
          "version": "1.0-preview",
          "privateEndpointConnections": [],
          "sharedPrivateLinkResources": [],
          "tls": {
            "clientCertEnabled": false
          },
          "liveTraceConfiguration": {
            "enabled": "true",
            "categories": [
              {
                "name": "category-01",
                "enabled": "true"
              }
            ]
          },
          "resourceLogConfiguration": null,
          "eventHandler": {
            "items": {
              "key": [
                {
                  "urlTemplate": "http://directreach.com/domain/xn--0zwm56d.com/",
                  "userEventPattern": null,
                  "systemEventPattern": "\u0026quot;connect\u0026quot;"
                }
              ]
            }
          },
          "networkACLs": {
            "defaultAction": "Deny",
            "publicNetwork": {
              "allow": [],
              "deny": [
                "RESTAPI"
              ]
            },
            "privateEndpoints": []
          },
          "publicNetworkAccess": "Enabled",
          "disableLocalAuth": false,
          "disableAadAuth": false
        },
        "systemData": {
          "createdBy": "8e6d47e0-7969-4fde-a62c-4fea4f165e98",
          "createdByType": "Application",
          "createdAt": "2021-09-30T05:48:30.1053812Z",
          "lastModifiedBy": "8e6d47e0-7969-4fde-a62c-4fea4f165e98",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2021-09-30T05:48:30.1053812Z"
        },
        "location": "westus2",
        "tags": {},
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/WebPubSubRG-9189/providers/Microsoft.SignalRService/WebPubSub/WebPubSub-2494",
        "name": "WebPubSub-2494",
        "type": "Microsoft.SignalRService/WebPubSub"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/WebPubSubRG-9189/providers/Microsoft.SignalRService/WebPubSub/WebPubSub-2494/operationStatuses/755789ec-cec8-49b1-be9e-c0c1c1e1aa09?api-version=2021-09-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11924",
        "x-rp-server-mvid": "052104b6-a76f-4c87-b183-74bee8bc2fa4"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/WebPubSubRG-9189/providers/Microsoft.SignalRService/WebPubSub/WebPubSub-2494/operationStatuses/755789ec-cec8-49b1-be9e-c0c1c1e1aa09",
        "name": "755789ec-cec8-49b1-be9e-c0c1c1e1aa09",
        "status": "Running",
        "startTime": "2021-09-30T05:48:30.9657888Z"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/WebPubSubRG-9189/providers/Microsoft.SignalRService/WebPubSub/WebPubSub-2494/operationStatuses/755789ec-cec8-49b1-be9e-c0c1c1e1aa09?api-version=2021-09-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11828",
        "x-rp-server-mvid": "052104b6-a76f-4c87-b183-74bee8bc2fa4"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/WebPubSubRG-9189/providers/Microsoft.SignalRService/WebPubSub/WebPubSub-2494/operationStatuses/755789ec-cec8-49b1-be9e-c0c1c1e1aa09",
        "name": "755789ec-cec8-49b1-be9e-c0c1c1e1aa09",
        "status": "Succeeded",
        "startTime": "2021-09-30T05:48:30.9657888Z",
        "endTime": "2021-09-30T05:50:35.0774358Z"
      }
    },
[...]
