{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/eef82110-c91b-4395-9420-fcfcbefc5a47?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11997"
      },
      "ResponseBody": {
        "id": "/subscriptions/eef82110-c91b-4395-9420-fcfcbefc5a47",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "costcenter": "1000"
        },
        "subscriptionId": "eef82110-c91b-4395-9420-fcfcbefc5a47",
        "tenantId": "ba5ed788-ddc6-429c-a6a2-0277f01dbee7",
        "displayName": "Azure subscription 1",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Public_2014-09-01",
          "quotaId": "PayAsYouGo_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/tenants?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-tenant-reads": "11997"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/tenants/ba5ed788-ddc6-429c-a6a2-0277f01dbee7",
            "tenantId": "ba5ed788-ddc6-429c-a6a2-0277f01dbee7",
            "tenantCategory": "Home"
          }
        ]
      }
    },
    {
      "RequestUri": "https://management.azure.com/providers/Microsoft.BillingBenefits/savingsPlans?api-version=2022-11-01\u0026selectedState=Succeeded",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/providers/microsoft.billingbenefits/savingsPlanOrders/849623f7-c032-4868-a6a1-c8891fa3af17/savingsPlans/b7d7afeb-0382-4cd6-88f0-a212f7ddcb53",
            "name": "b7d7afeb-0382-4cd6-88f0-a212f7ddcb53",
            "type": "microsoft.billingbenefits/savingsPlanOrders/savingsPlans",
            "sku": {
              "name": "Compute_Savings_Plan"
            },
            "properties": {
              "billingScopeId": "/subscriptions/eef82110-c91b-4395-9420-fcfcbefc5a47",
              "billingAccountId": "/providers/Microsoft.Billing/billingAccounts/4973e1de-a829-5c64-4fef-0a692e2b3108:1970c5da-0aa4-46fd-a917-4772f9a17978_2019-05-31",
              "billingProfileId": "/providers/Microsoft.Billing/billingAccounts/4973e1de-a829-5c64-4fef-0a692e2b3108:1970c5da-0aa4-46fd-a917-4772f9a17978_2019-05-31/billingProfiles/KPSV-DWNE-BG7-TGB",
              "billingPlan": "P1M",
              "appliedScopeProperties": {
                "tenantId": "ba5ed788-ddc6-429c-a6a2-0277f01dbee7",
                "managementGroupId": "/providers/Microsoft.Management/managementGroups/ba5ed788-ddc6-429c-a6a2-0277f01dbee7",
                "displayName": "Tenant Root Group"
              },
              "commitment": {
                "grain": "Hourly",
                "currencyCode": "USD",
                "amount": 0.001
              },
              "renew": false,
              "appliedScopeType": "ManagementGroup",
              "displayName": "TestSPNameManagementGroup",
              "provisioningState": "Succeeded",
              "term": "P3Y",
              "displayProvisioningState": "Succeeded",
              "userFriendlyAppliedScopeType": "ManagementGroup",
              "expiryDateTime": "2025-11-16T02:25:11.7183866Z",
              "purchaseDateTime": "2022-11-16T02:23:21.3864783Z",
              "benefitStartTime": "2022-11-16T02:25:11.7183866Z",
              "effectiveDateTime": "2022-11-16T02:25:12.907453Z",
              "utilization": {
                "trend": "",
                "aggregates": [
                  {
                    "grain": 1.0,
                    "grainUnit": "days",
                    "value": 0.0,
                    "valueUnit": "percentage"
                  },
                  {
                    "grain": 7.0,
                    "grainUnit": "days",
                    "value": 0.0,
                    "valueUnit": "percentage"
                  }
                ]
              }
            }
          },
          {
            "id": "/providers/microsoft.billingbenefits/savingsPlanOrders/b538c0a7-b852-4ff8-aa3a-1d91dad90d2a/savingsPlans/2035abf9-4697-4220-b158-dbff2a0dc073",
            "name": "2035abf9-4697-4220-b158-dbff2a0dc073",
            "type": "microsoft.billingbenefits/savingsPlanOrders/savingsPlans",
            "sku": {
              "name": "Compute_Savings_Plan"
            },
            "properties": {
              "billingScopeId": "/subscriptions/eef82110-c91b-4395-9420-fcfcbefc5a47",
              "billingAccountId": "/providers/Microsoft.Billing/billingAccounts/4973e1de-a829-5c64-4fef-0a692e2b3108:1970c5da-0aa4-46fd-a917-4772f9a17978_2019-05-31",
              "billingProfileId": "/providers/Microsoft.Billing/billingAccounts/4973e1de-a829-5c64-4fef-0a692e2b3108:1970c5da-0aa4-46fd-a917-4772f9a17978_2019-05-31/billingProfiles/KPSV-DWNE-BG7-TGB",
              "billingPlan": "P1M",
              "appliedScopeProperties": {
                "resourceGroupId": "/subscriptions/eef82110-c91b-4395-9420-fcfcbefc5a47/resourcegroups/TestRG",
                "displayName": "TestRG"
              },
              "commitment": {
                "grain": "Hourly",
                "currencyCode": "USD",
                "amount": 0.001
              },
              "renew": false,
              "appliedScopeType": "Single",
              "displayName": "TestSPNameSingle",
              "provisioningState": "Succeeded",
              "term": "P3Y",
            [...]
