{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/eef82110-c91b-4395-9420-fcfcbefc5a47?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11996"
      },
      "ResponseBody": {
        "id": "/subscriptions/eef82110-c91b-4395-9420-fcfcbefc5a47",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "costcenter": "1000"
        },
        "subscriptionId": "eef82110-c91b-4395-9420-fcfcbefc5a47",
        "tenantId": "ba5ed788-ddc6-429c-a6a2-0277f01dbee7",
        "displayName": "Azure subscription 1",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Public_2014-09-01",
          "quotaId": "PayAsYouGo_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/tenants?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-tenant-reads": "11996"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/tenants/ba5ed788-ddc6-429c-a6a2-0277f01dbee7",
            "tenantId": "ba5ed788-ddc6-429c-a6a2-0277f01dbee7",
            "tenantCategory": "Home"
          }
        ]
      }
    },
    {
      "RequestUri": "https://management.azure.com/providers/Microsoft.BillingBenefits/savingsPlanOrders/b538c0a7-b852-4ff8-aa3a-1d91dad90d2a?api-version=2022-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-tenant-reads": "11995",
        "x-ms-version": "1.0.2141.1412"
      },
      "ResponseBody": {
        "id": "/providers/microsoft.billingbenefits/savingsPlanOrders/b538c0a7-b852-4ff8-aa3a-1d91dad90d2a",
        "name": "b538c0a7-b852-4ff8-aa3a-1d91dad90d2a",
        "type": "microsoft.billingbenefits/savingsPlanOrders",
        "properties": {
          "billingScopeId": "eef82110-c91b-4395-9420-fcfcbefc5a47",
          "savingsPlans": [
            "/providers/Microsoft.BillingBenefits/savingsPlanOrders/b538c0a7-b852-4ff8-aa3a-1d91dad90d2a/savingsPlans/2035abf9-4697-4220-b158-dbff2a0dc073"
          ],
          "billingPlan": "P1M",
          "term": "P3Y",
          "displayName": "TestSPNameSingle",
          "benefitStartTime": "2022-11-16T02:14:36.5807954Z",
          "provisioningState": "Succeeded",
          "billingProfileId": "/providers/Microsoft.Billing/billingAccounts/4973e1de-a829-5c64-4fef-0a692e2b3108:1970c5da-0aa4-46fd-a917-4772f9a17978_2019-05-31/billingProfiles/KPSV-DWNE-BG7-TGB",
          "billingAccountId": "/providers/Microsoft.Billing/billingAccounts/4973e1de-a829-5c64-4fef-0a692e2b3108:1970c5da-0aa4-46fd-a917-4772f9a17978_2019-05-31",
          "expiryDateTime": "2025-11-16T02:14:36.5807954Z"
        },
        "sku": {
          "name": "Compute_Savings_Plan"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/providers/Microsoft.BillingBenefits/savingsPlanOrders/b538c0a7-b852-4ff8-aa3a-1d91dad90d2a/savingsPlans/2035abf9-4697-4220-b158-dbff2a0dc073?api-version=2022-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-tenant-reads": "11994",
        "x-ms-version": "1.0.2141.1412"
      },
      "ResponseBody": {
        "id": "/providers/microsoft.billingbenefits/savingsPlanOrders/b538c0a7-b852-4ff8-aa3a-1d91dad90d2a/savingsPlans/2035abf9-4697-4220-b158-dbff2a0dc073",
        "name": "2035abf9-4697-4220-b158-dbff2a0dc073",
        "type": "microsoft.billingbenefits/savingsPlanOrders/savingsPlans",
        "sku": {
          "name": "Compute_Savings_Plan"
        },
        "properties": {
          "billingScopeId": "/subscriptions/eef82110-c91b-4395-9420-fcfcbefc5a47",
          "billingAccountId": "/providers/Microsoft.Billing/billingAccounts/4973e1de-a829-5c64-4fef-0a692e2b3108:1970c5da-0aa4-46fd-a917-4772f9a17978_2019-05-31",
          "billingProfileId": "/providers/Microsoft.Billing/billingAccounts/4973e1de-a829-5c64-4fef-0a692e2b3108:1970c5da-0aa4-46fd-a917-4772f9a17978_2019-05-31/billingProfiles/KPSV-DWNE-BG7-TGB",
          "billingPlan": "P1M",
          "appliedScopeProperties": {
            "resourceGroupId": "/subscriptions/eef82110-c91b-4395-9420-fcfcbefc5a47/resourcegroups/TestRG",
            "displayName": "TestRG"
          },
          "commitment": {
            "grain": "Hourly",
            "currencyCode": "USD",
            "amount": 0.001
          },
          "renew": false,
          "appliedScopeType": "Single",
          "displayName": "TestSP_67",
          "provisioningState": "Succeeded",
          "term": "P3Y",
          "displayProvisioningState": "Succeeded",
          "userFriendlyAppliedScopeType": "ResourceGroup",
          "expiryDateTime": "2025-11-16T02:14:36.5807954Z",
          "purchaseDateTime": "2022-11-16T02:12:26.8754615Z",
          "benefitStartTime": "2022-11-16T02:14:36.5807954Z",
          "effectiveDateTime": "2022-11-17T01:46:57.8229218Z",
          "utilization": {
            "trend": "",
            "aggregates": [
              {
                "grain": 1.0,
                "grainUnit": "days",
                "value": 0.0,
                "valueUnit": "percentage"
              },
              {
                "grain": 7.0,
                "grainUnit": "days",
                "value": 0.0,
                "valueUnit": "percentage"
              }
            ]
          }
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/providers/Microsoft.BillingBenefits/savingsPlanOrders/b538c0a7-b852-4ff8-aa3a-1d91dad90d2a/savingsPlans/2035abf9-4697-4220-b158-dbff2a0dc073/validate?api-version=2022-11-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "benefits": [
          {
            "appliedScopeType": "Single",
            "appliedScopeProperties": {
              "subscriptionId": "/subscriptions/eef82110-c91b-4395-9420-fcfcbefc5a47"
            }
          }
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-tenant-writes": "1198",
        "x-ms-version": "1.0.2141.1412"
      },
      "ResponseBody": {
        "benefits": [
          {
            "valid": true
          }
        ]
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com/",
    "RandomSeed": "240336543",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "eef82110-c91b-4395-9420-fcfcbefc5a47"
  }
}
