{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourcegroups/Sql-RG-1589?api-version=2019-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11920"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/Sql-RG-1589",
        "name": "Sql-RG-1589",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus2",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/Sql-RG-1589/providers/Microsoft.Sql/servers/server-6026?api-version=2021-02-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "westus2",
        "properties": {
          "administratorLogin": "Admin-server-6026",
          "administratorLoginPassword": "HvVJ%paVC@%GBKmi"
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/Sql-RG-1589/providers/Microsoft.Sql/locations/westus2/serverAzureAsyncOperation/a01a788d-5c5c-4793-9220-13b72556d4f1?api-version=2021-02-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/Sql-RG-1589/providers/Microsoft.Sql/locations/westus2/serverOperationResults/a01a788d-5c5c-4793-9220-13b72556d4f1?api-version=2021-02-01-preview",
        "Retry-After": "1",
        "x-ms-ratelimit-remaining-subscription-writes": "1196"
      },
      "ResponseBody": {
        "operation": "UpsertLogicalServer",
        "startTime": "2021-11-16T03:21:22.747Z"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/Sql-RG-1589/providers/Microsoft.Sql/locations/westus2/serverAzureAsyncOperation/a01a788d-5c5c-4793-9220-13b72556d4f1?api-version=2021-02-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "1",
        "x-ms-ratelimit-remaining-subscription-reads": "11919"
      },
      "ResponseBody": {
        "name": "a01a788d-5c5c-4793-9220-13b72556d4f1",
        "status": "InProgress",
        "startTime": "2021-11-16T03:21:22.747Z"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/Sql-RG-1589/providers/Microsoft.Sql/servers/server-6026?api-version=2021-02-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11977"
      },
      "ResponseBody": {
        "kind": "v12.0",
        "properties": {
          "administratorLogin": "Admin-server-6026",
          "version": "12.0",
          "state": "Ready",
          "fullyQualifiedDomainName": "server-6026.database.windows.net",
          "privateEndpointConnections": [],
          "publicNetworkAccess": "Enabled",
          "restrictOutboundNetworkAccess": "Disabled"
        },
        "location": "westus2",
        "tags": {},
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/Sql-RG-1589/providers/Microsoft.Sql/servers/server-6026",
        "name": "server-6026",
        "type": "Microsoft.Sql/servers"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/Sql-RG-1589/providers/Microsoft.Sql/servers?api-version=2021-02-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11975"
      },
      "ResponseBody": {
        "value": [
          {
            "kind": "v12.0",
            "properties": {
              "administratorLogin": "Admin-server-6026",
              "version": "12.0",
              "state": "Ready",
              "fullyQualifiedDomainName": "server-6026.database.windows.net",
              "privateEndpointConnections": [],
              "publicNetworkAccess": "Enabled",
              "restrictOutboundNetworkAccess": "Disabled"
            },
            "location": "westus2",
            "tags": {},
            "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/Sql-RG-1589/providers/Microsoft.Sql/servers/server-6026",
            "name": "server-6026",
            "type": "Microsoft.Sql/servers"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/Sql-RG-1589/providers/Microsoft.Sql/locations/westus2/serverAzureAsyncOperation/55f550c3-b384-468a-a650-678e36ef8ba4?api-version=2021-02-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "15",
        "x-ms-ratelimit-remaining-subscription-reads": "11968"
      },
      "ResponseBody": {
        "name": "55f550c3-b384-468a-a650-678e36ef8ba4",
        "status": "Succeeded",
        "startTime": "2021-11-16T03:24:37.65Z"
      }
    }
  ],
  "Variables": {
    "RandomSeed": "341787650",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "db1ab6f0-4769-4b27-930e-01e2ef9c123c"
  }
}