<html>

<head>
  <title>Serverless Chat</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css">
  <script>
    window.apiBaseUrl = 'http://localhost:7071';
  </script>
  <style>
    .slide-fade-enter-active,
    .slide-fade-leave-active {
      transition: all 1s ease;
    }

    .slide-fade-enter,
    .slide-fade-leave-to {
      height: 0px;
      overflow-y: hidden;
      opacity: 0;
    }
  </style>
</head>

<body>
  <p>&nbsp;</p>
  <div id="app" class="container">
    <h3>Serverless chat</h3>
    <div class="row" v-if="ready">
      <div class="signalr-demo col-sm">
        <hr />
        <div id='groupchecked'>
          <input type="checkbox" id="checkbox" v-model="checked">
          <label for="checkbox">Send To Default Group: {{ this.defaultgroup }}</label>
        </div>
        <form v-on:submit.prevent="sendNewMessage(checked)">
          <input type="text" v-model="newMessage" id="message-box" class="form-control" placeholder="Type message here..." />
        </form>
      </div>
    </div>
    <div class="row" v-if="!ready">
      <div class="col-sm">
        <div>Loading...</div>
      </div>
    </div>
    <div v-if="ready">
      <transition-group name="slide-fade" tag="div">
        <div class="row" v-for="message in messages" v-bind:key="message.id">
          <div class="col-sm">
            <hr />
            <div>
              <div style="display: inline-block; padding-left: 12px;">
                <div>
                  <a href="#" v-on:click.prevent="sendPrivateMessage(message.Sender)">
                    <span class="text-info small">
                      <strong>{{ message.Sender || message.sender }}</strong>
                    </span>
                  </a>
                  <span v-if="message.ConnectionId || message.connectionId" class="badge badge-secondary">Connection: {{ message.ConnectionId || message.connectionId }}</span>
                  <a href="#" v-on:click.prevent="addToGroup(null, message.Sender || message.sender)">
                    <span class="badge badge-primary">AddGroup</span>
                  </a>
                  <a href="#" v-on:click.prevent="removeFromGroup(null, message.Sender || message.sender)">
                    <span class="badge badge-primary">RemoveGroup</span>
                  </a>
                  <a href="#" v-on:click.prevent="addToGroup(message.ConnectionId || message.connectionId, message.Sender || message.sender)">
                    <span v-if="message.ConnectionId || message.connectionId" class="badge badge-primary">AddConnectionToGroup</span>
                  </a>
                  <a href="#" v-on:click.prevent="removeFromGroup(message.ConnectionId || message.connectionId, message.Sender || message.sender)">
                    <span v-if="message.ConnectionId || message.connectionId" class="badge badge-primary">RemoveConnectionFromGroup</span>
                  </a>
                  <span v-if="message.IsPrivate || message.isPrivate" class="badge badge-secondary">private message
                  </span>
                </div>
                <div>
                  {{ message.Text || message.text }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </transition-group>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@aspnet/signalr@1.0.3/dist/browser/signalr.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios@0.18.0/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/crypto-js@3.1.9-1/crypto-js.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/crypto-js@3.1.9-1/enc-base64.js"></script>
    <script>
      const data = {
        username: '',
        defaultgroup: 'AzureSignalR',
        checked: false,
        newMessage: '',
        messages: [],
        myConnectionId: '',
        ready: false
      };
      const app = new Vue({
        el: '#app',
        data: data,
        methods: {
          sendNewMessage: function (isToGroup) {
            if (isToGroup) {
              sendMessage(this.username, null, this.defaultgroup, this.newMessage);
            }
            else {
              sendMessage(this.username, null, null, this.newMessage);
            }
            this.newMessage = '';
          },
          sendPrivateMessage: function (recipient) {
            const messageText = prompt('Send private message to ' + recipient);

            if (messageText) {
              sendMessage(this.username, recipient, null, messageText);
            }
          },
          addToGroup: function (connectionId, recipient) {
            var r;
            if (connectionId) {
              r = confirm('Add connection ' + connectionId + ' to group: ' + this.defaultgroup);
            } else {
              r = confirm('Add user ' + recipient + ' to group: ' + this.defaultgroup);
            }

            if (r) {
              addGroup(this.username, recipient, connectionId, this.defaultgroup);
            }
          },
          removeFromGroup: function (connectionId, recipient) {
            var r;
            if (connectionId) {
              r = confirm('Remove connection ' + connectionId + ' from group: ' + this.defaultgroup);
            } else {
              r = confirm('Remove user ' + recipient + ' from group: ' + this.defaultgroup);
            }

            if (r) {
              removeGroup(this.username, recipient, connectionId, this.defaultgroup);
            }
          }
        }
      });
      const apiBaseUrl = prompt('Enter the Azure Function app base URL', window.apiBaseUrl);
      data.username = prompt("Enter your username");
      const isAdmin = confirm('Work as administrator? (only an administrator can broadcast messages)');
      if (!data.username) {
        alert("No username entered. Reload page and try again.");
        throw "No username entered";
      }
      const connection = new signalR.HubConnectionBuilder()
        .withUrl(apiBaseUrl + "/simplechat", {
          accessTokenFactory: () => {
            return generateAccessToken(data.username)
          }
        })
        .configureLogging(signalR.LogLevel.Information)
        .build();
      connection.on('newMessage', newMessage);
      connection.on('newConnection', newConnection)
      connection.onclose(() => console.log('disconnected'));
      console.log('connecting...');
      connection.start()
        .then(() => {
          data.ready = true;
          console.log('connected!');
        })
        .catch(console.error);
      function getAxiosConfig() {
        const config = {
          headers: {
            'x-ms-signalr-custom-claim': 'Hello ' + data.username,
            'Authorization': 'Bearer ' + generateAccessToken(data.username)
          }
        };
        return config;
      }
      function sendMessage(sender, recipient, groupName, messageText) {
        return axios.post(`${apiBaseUrl}/simplechat/messages`, {
          connectionId: data.myConnectionId,
          recipient: recipient,
          isPrivate: recipient != null,
          groupName: groupName,
          sender: sender,
          text: messageText
        }, getAxiosConfig()).then(resp => resp.data).catch(err => alert(err.response.data.Message));
      }
      function addGroup(sender, recipient, connectionId, groupName) {
        return axios.post(`${apiBaseUrl}/simplechat/addToGroup`, {
          connectionId: connectionId,
          recipient: recipient,
          groupName: groupName
        }, getAxiosConfig()).then(resp => {
          if (resp.status == 200) {
            confirm("Add Successfully")
          }
        }).catch(err => alert(err.response.data.Message));
      }
      function removeGroup(sender, recipient, connectionId, groupName) {
        return axios.post(`${apiBaseUrl}/simplechat/removeFromGroup`, {
          connectionId: connectionId,
          recipient: recipient,
          groupName: groupName
        }, getAxiosConfig()).then(resp => {
          if (resp.status == 200) {
            confirm("Remove Successfully")
          }
        }).catch(err => alert(err.response.data.Message));
      }
      let counter = 0;
      function newMessage(message) {
        message.id = counter++; // vue transitions need an id
        data.messages.unshift(message);
      };
      function newConnection(message) {
        data.myConnectionId = message.ConnectionId;
      }

      function base64url(source) {
        // Encode in classical base64
        encodedSource = CryptoJS.enc.Base64.stringify(source);

        // Remove padding equal characters
        encodedSource = encodedSource.replace(/=+$/, '');

        // Replace characters according to base64url specifications
        encodedSource = encodedSource.replace(/\+/g, '-');
        encodedSource = encodedSource.replace(/\//g, '_');

        return encodedSource;
      }

      // this function should be in auth server, do not expose your secret
      function generateAccessToken(userName) {
        var header = {
          "alg": "HS256",
          "typ": "JWT"
        };

        var stringifiedHeader = CryptoJS.enc.Utf8.parse(JSON.stringify(header));
        var encodedHeader = base64url(stringifiedHeader);

        // customize your JWT token payload here 
        var data = {
          "http://schemas.xmlsoap.org/ws/2005/05/identity/claims/name": userName,
          "exp": 1699819025,
          'admin': isAdmin
        };

        var stringifiedData = CryptoJS.enc.Utf8.parse(JSON.stringify(data));
        var encodedData = base64url(stringifiedData);

        var token = encodedHeader + "." + encodedData;

        var secret = "myfunctionauthtest"; // do not expose your secret here

        var signature = CryptoJS.HmacSHA256(token, secret);
        signature = base64url(signature);

        var signedToken = token + "." + signature;

        return signedToken;
      }
    </script>
</body>

</html>