{
  "Entries": [
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-b1252ad1-924f-4520-af3f-358f6fb735ca?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 01 Jul 2019 21:55:21 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D6FE6ED04EC85C\u0022",
        "Last-Modified": "Mon, 01 Jul 2019 21:55:21 GMT",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-b1252ad1-924f-4520-af3f-358f6fb735ca?comp=lease\u0026restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 01 Jul 2019 21:55:21 GMT",
        "x-ms-lease-action": "acquire",
        "x-ms-lease-duration": "15",
        "x-ms-proposed-lease-id": "c1142b3b-84ae-1dbf-1282-bb44eb546109",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D6FE6ED04EC85C\u0022",
        "Last-Modified": "Mon, 01 Jul 2019 21:55:21 GMT",
        "x-ms-lease-id": "c1142b3b-84ae-1dbf-1282-bb44eb546109",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-96416ef0-a017-afee-3dce-4807eac20394?comp=lease\u0026restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Modified-Since": "Sun, 30 Jun 2019 21:55:21 GMT",
        "x-ms-date": "Mon, 01 Jul 2019 21:55:21 GMT",
        "x-ms-lease-action": "acquire",
        "x-ms-lease-duration": "15",
        "x-ms-proposed-lease-id": "ab0cd712-5b3c-0f21-2ca4-07d42a15e654",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D6FE6ED055328F\u0022",
        "Last-Modified": "Mon, 01 Jul 2019 21:55:21 GMT",
        "x-ms-lease-id": "ab0cd712-5b3c-0f21-2ca4-07d42a15e654",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-472183a8-2afb-4e33-1538-a3e8649747e2?comp=lease\u0026restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Unmodified-Since": "Tue, 02 Jul 2019 21:55:21 GMT",
        "x-ms-date": "Mon, 01 Jul 2019 21:55:21 GMT",
        "x-ms-lease-action": "acquire",
        "x-ms-lease-duration": "15",
        "x-ms-proposed-lease-id": "44e16d91-4827-2d14-09a6-fd7db46fcfc9",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D6FE6ED05E83AD\u0022",
        "Last-Modified": "Mon, 01 Jul 2019 21:55:21 GMT",
        "x-ms-lease-id": "44e16d91-4827-2d14-09a6-fd7db46fcfc9",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-472183a8-2afb-4e33-1538-a3e8649747e2?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 01 Jul 2019 21:55:21 GMT",
        "x-ms-lease-id": "44e16d91-4827-2d14-09a6-fd7db46fcfc9",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2019-07-01T14:55:21.4192485-07:00",
    "RandomSeed": "1743717082"
  }
}