{
  "Entries": [
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-7dca6757-ae59-be0e-7687-d88b8fd58d47?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 17 Jun 2019 20:57:05 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D6F3665B123CDA\u0022",
        "Last-Modified": "Mon, 17 Jun 2019 20:57:05 GMT",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-7dca6757-ae59-be0e-7687-d88b8fd58d47?comp=lease\u0026restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 17 Jun 2019 20:57:05 GMT",
        "x-ms-lease-action": "acquire",
        "x-ms-lease-duration": "15",
        "x-ms-proposed-lease-id": "8b6af831-93df-2232-bf78-9bce305cd7bd",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D6F3665B123CDA\u0022",
        "Last-Modified": "Mon, 17 Jun 2019 20:57:05 GMT",
        "x-ms-lease-id": "8b6af831-93df-2232-bf78-9bce305cd7bd",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-be235a01-931a-831e-e12a-7d8799b28ca2?comp=lease\u0026restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Modified-Since": "Sun, 16 Jun 2019 20:57:05 GMT",
        "x-ms-date": "Mon, 17 Jun 2019 20:57:06 GMT",
        "x-ms-lease-action": "acquire",
        "x-ms-lease-duration": "15",
        "x-ms-proposed-lease-id": "3c7ed316-26f9-babe-f7d5-b64083e1b34b",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D6F3665B1A06EF\u0022",
        "Last-Modified": "Mon, 17 Jun 2019 20:57:06 GMT",
        "x-ms-lease-id": "3c7ed316-26f9-babe-f7d5-b64083e1b34b",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-ac1f5d82-096f-ef79-b0bd-34a11ad9cff5?comp=lease\u0026restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Unmodified-Since": "Tue, 18 Jun 2019 20:57:05 GMT",
        "x-ms-date": "Mon, 17 Jun 2019 20:57:06 GMT",
        "x-ms-lease-action": "acquire",
        "x-ms-lease-duration": "15",
        "x-ms-proposed-lease-id": "8e623a0e-7ce2-5df7-7f81-15751b07522a",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D6F3665B21A9F3\u0022",
        "Last-Modified": "Mon, 17 Jun 2019 20:57:06 GMT",
        "x-ms-lease-id": "8e623a0e-7ce2-5df7-7f81-15751b07522a",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-ac1f5d82-096f-ef79-b0bd-34a11ad9cff5?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 17 Jun 2019 20:57:06 GMT",
        "x-ms-lease-id": "8e623a0e-7ce2-5df7-7f81-15751b07522a",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2019-06-17T13:57:05.9685651-07:00",
    "RandomSeed": "207118706"
  }
}