{
  "Entries": [
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-8547bc90-638a-0474-9d4b-977ff2582561?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 12 Jul 2019 17:54:35 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D706F20099B592\u0022",
        "Last-Modified": "Fri, 12 Jul 2019 17:54:35 GMT",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-8547bc90-638a-0474-9d4b-977ff2582561?comp=lease\u0026restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 12 Jul 2019 17:54:35 GMT",
        "x-ms-lease-action": "acquire",
        "x-ms-lease-duration": "15",
        "x-ms-proposed-lease-id": "7a97c1f4-c5eb-72c4-12e3-7a1aada5e8ed",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D706F20099B592\u0022",
        "Last-Modified": "Fri, 12 Jul 2019 17:54:35 GMT",
        "x-ms-lease-id": "7a97c1f4-c5eb-72c4-12e3-7a1aada5e8ed",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-f842846e-d472-ad8b-959d-641bf10ee5ce?comp=lease\u0026restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Modified-Since": "Thu, 11 Jul 2019 17:54:35 GMT",
        "x-ms-date": "Fri, 12 Jul 2019 17:54:35 GMT",
        "x-ms-lease-action": "change",
        "x-ms-lease-id": "0ef9dbd7-418e-4cd3-d8e1-9e7d5211b1ce",
        "x-ms-proposed-lease-id": "02e9739c-0d94-8c8b-f24a-e6bcc28010a6",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D706F200A2B878\u0022",
        "Last-Modified": "Fri, 12 Jul 2019 17:54:35 GMT",
        "x-ms-lease-id": "02e9739c-0d94-8c8b-f24a-e6bcc28010a6",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-7fb6e4a4-e712-8ba1-ca79-c6a8bbfb6e74?comp=lease\u0026restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Unmodified-Since": "Sat, 13 Jul 2019 17:54:35 GMT",
        "x-ms-date": "Fri, 12 Jul 2019 17:54:35 GMT",
        "x-ms-lease-action": "change",
        "x-ms-lease-id": "769f3d24-0a60-e845-56df-bb53d40f0a37",
        "x-ms-proposed-lease-id": "947702b1-fb79-8534-b04c-f469f1bb7a09",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D706F200ACF426\u0022",
        "Last-Modified": "Fri, 12 Jul 2019 17:54:35 GMT",
        "x-ms-lease-id": "947702b1-fb79-8534-b04c-f469f1bb7a09",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-7fb6e4a4-e712-8ba1-ca79-c6a8bbfb6e74?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 12 Jul 2019 17:54:35 GMT",
        "x-ms-lease-id": "947702b1-fb79-8534-b04c-f469f1bb7a09",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2019-07-12T10:54:35.8256539-07:00",
    "RandomSeed": "1708402925",
    "Storage_TestConfigDefault": "ProductionTenant\nstorageteglazatesting\nU2FuaXRpemVk\nhttp://storageteglazatesting.blob.core.windows.net\nhttp://storageteglazatesting.file.core.windows.net\nhttp://storageteglazatesting.queue.core.windows.net\nhttp://storageteglazatesting.table.core.windows.net\n\n\n\n\nhttp://storageteglazatesting-secondary.blob.core.windows.net\n\nhttp://storageteglazatesting-secondary.queue.core.windows.net\nhttp://storageteglazatesting-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://storageteglazatesting.blob.core.windows.net/;QueueEndpoint=http://storageteglazatesting.queue.core.windows.net/;TableEndpoint=http://storageteglazatesting.table.core.windows.net/;FileEndpoint=http://storageteglazatesting.file.core.windows.net/;BlobSecondaryEndpoint=http://storageteglazatesting-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://storageteglazatesting-secondary.queue.core.windows.net/;TableSecondaryEndpoint=http://storageteglazatesting-secondary.table.core.windows.net/;AccountName=storageteglazatesting;AccountKey=Sanitized"
  }
}