{
  "Entries": [
    {
      "RequestUri": "https://seanstagetest.blob.core.windows.net/test-container-031dbf16-eb09-1533-e0c7-303cfc778aad?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 05 Mar 2020 21:12:50 GMT",
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7C149F699E905\u0022",
        "Last-Modified": "Thu, 05 Mar 2020 21:12:51 GMT",
        "x-ms-version": "2019-10-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanstagetest.blob.core.windows.net/test-container-031dbf16-eb09-1533-e0c7-303cfc778aad?comp=lease\u0026restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 05 Mar 2020 21:12:51 GMT",
        "x-ms-lease-action": "acquire",
        "x-ms-lease-duration": "15",
        "x-ms-proposed-lease-id": "8ea04062-edec-6745-b3d6-d09b0aa845a6",
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7C149F699E905\u0022",
        "Last-Modified": "Thu, 05 Mar 2020 21:12:51 GMT",
        "x-ms-lease-id": "8ea04062-edec-6745-b3d6-d09b0aa845a6",
        "x-ms-version": "2019-10-10"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seanstagetest.blob.core.windows.net/test-container-7b4abcdb-9673-d115-dfa5-e1f2443c235e?comp=lease\u0026restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Modified-Since": "Wed, 04 Mar 2020 21:12:50 GMT",
        "x-ms-date": "Thu, 05 Mar 2020 21:12:51 GMT",
        "x-ms-lease-action": "change",
        "x-ms-lease-id": "3fb0aaa9-e3a1-953d-cffc-ef5a5590550f",
        "x-ms-proposed-lease-id": "bfcc8d8d-3ae6-4af2-4951-ccbd96a2a35f",
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7C149F6F9F5DE\u0022",
        "Last-Modified": "Thu, 05 Mar 2020 21:12:51 GMT",
        "x-ms-lease-id": "bfcc8d8d-3ae6-4af2-4951-ccbd96a2a35f",
        "x-ms-version": "2019-10-10"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seanstagetest.blob.core.windows.net/test-container-3763af5d-3a6c-1a68-194c-46de4429b6b3?comp=lease\u0026restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Unmodified-Since": "Fri, 06 Mar 2020 21:12:50 GMT",
        "x-ms-date": "Thu, 05 Mar 2020 21:12:52 GMT",
        "x-ms-lease-action": "change",
        "x-ms-lease-id": "8723b90b-beea-af24-25a9-93270c6860e0",
        "x-ms-proposed-lease-id": "79aacdc0-7eb1-0e4d-1a1b-af5e4998f73b",
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7C149F756B8EF\u0022",
        "Last-Modified": "Thu, 05 Mar 2020 21:12:52 GMT",
        "x-ms-lease-id": "79aacdc0-7eb1-0e4d-1a1b-af5e4998f73b",
        "x-ms-version": "2019-10-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanstagetest.blob.core.windows.net/test-container-3763af5d-3a6c-1a68-194c-46de4429b6b3?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 05 Mar 2020 21:12:52 GMT",
        "x-ms-lease-id": "79aacdc0-7eb1-0e4d-1a1b-af5e4998f73b",
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-10-10"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2020-03-05T13:12:50.8657993-08:00",
    "RandomSeed": "1190296725",
    "Storage_TestConfigDefault": "ProductionTenant\nseanstagetest\nU2FuaXRpemVk\nhttps://seanstagetest.blob.core.windows.net\nhttp://seanstagetest.file.core.windows.net\nhttp://seanstagetest.queue.core.windows.net\nhttp://seanstagetest.table.core.windows.net\n\n\n\n\nhttp://seanstagetest-secondary.blob.core.windows.net\nhttp://seanstagetest-secondary.file.core.windows.net\nhttp://seanstagetest-secondary.queue.core.windows.net\nhttp://seanstagetest-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanstagetest.blob.core.windows.net/;QueueEndpoint=http://seanstagetest.queue.core.windows.net/;FileEndpoint=http://seanstagetest.file.core.windows.net/;BlobSecondaryEndpoint=http://seanstagetest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanstagetest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanstagetest-secondary.file.core.windows.net/;AccountName=seanstagetest;AccountKey=Sanitized\nseanscope1"
  }
}