{
  "Entries": [
    {
      "RequestUri": "http://seanstagetest.blob.core.windows.net/test-container-de37ae56-994a-5434-56ac-190a5f93a795?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 11 Dec 2019 04:02:54 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D77DEEFFA98268\u0022",
        "Last-Modified": "Wed, 11 Dec 2019 04:02:54 GMT",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagetest.blob.core.windows.net/test-container-de37ae56-994a-5434-56ac-190a5f93a795?comp=lease\u0026restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 11 Dec 2019 04:02:54 GMT",
        "x-ms-lease-action": "acquire",
        "x-ms-lease-duration": "15",
        "x-ms-proposed-lease-id": "8857819a-95ff-ea5b-2831-f9e68276e600",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D77DEEFFA98268\u0022",
        "Last-Modified": "Wed, 11 Dec 2019 04:02:54 GMT",
        "x-ms-lease-id": "8857819a-95ff-ea5b-2831-f9e68276e600",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://seanstagetest.blob.core.windows.net/test-container-f61a4fca-fe73-828e-cd3b-1a40bba9c845?comp=lease\u0026restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Modified-Since": "Tue, 10 Dec 2019 04:02:54 GMT",
        "x-ms-date": "Wed, 11 Dec 2019 04:02:54 GMT",
        "x-ms-lease-action": "change",
        "x-ms-lease-id": "1184b5f4-c7f7-9a43-7445-d72b8c39b055",
        "x-ms-proposed-lease-id": "05d9bd49-0215-0f28-3c44-391634eb8a06",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D77DEEFFDA82AE\u0022",
        "Last-Modified": "Wed, 11 Dec 2019 04:02:54 GMT",
        "x-ms-lease-id": "05d9bd49-0215-0f28-3c44-391634eb8a06",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://seanstagetest.blob.core.windows.net/test-container-e7894d28-1432-ea78-6ddc-4908c8c1e759?comp=lease\u0026restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Unmodified-Since": "Thu, 12 Dec 2019 04:02:54 GMT",
        "x-ms-date": "Wed, 11 Dec 2019 04:02:54 GMT",
        "x-ms-lease-action": "change",
        "x-ms-lease-id": "af3c97ac-6732-3fa6-03cd-60d18ac6ccdf",
        "x-ms-proposed-lease-id": "3526e98c-78e4-d4f4-49fa-572f2f292d4b",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D77DEF000A9560\u0022",
        "Last-Modified": "Wed, 11 Dec 2019 04:02:54 GMT",
        "x-ms-lease-id": "3526e98c-78e4-d4f4-49fa-572f2f292d4b",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagetest.blob.core.windows.net/test-container-e7894d28-1432-ea78-6ddc-4908c8c1e759?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 11 Dec 2019 04:02:54 GMT",
        "x-ms-lease-id": "3526e98c-78e4-d4f4-49fa-572f2f292d4b",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2019-12-10T20:02:54.1112447-08:00",
    "RandomSeed": "54189305",
    "Storage_TestConfigDefault": "ProductionTenant\nseanstagetest\nU2FuaXRpemVk\nhttp://seanstagetest.blob.core.windows.net\nhttp://seanstagetest.file.core.windows.net\nhttp://seanstagetest.queue.core.windows.net\nhttp://seanstagetest.table.core.windows.net\n\n\n\n\nhttp://seanstagetest-secondary.blob.core.windows.net\nhttp://seanstagetest-secondary.file.core.windows.net\nhttp://seanstagetest-secondary.queue.core.windows.net\nhttp://seanstagetest-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanstagetest.blob.core.windows.net/;QueueEndpoint=http://seanstagetest.queue.core.windows.net/;FileEndpoint=http://seanstagetest.file.core.windows.net/;BlobSecondaryEndpoint=http://seanstagetest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanstagetest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanstagetest-secondary.file.core.windows.net/;AccountName=seanstagetest;AccountKey=Sanitized\nseanscope1"
  }
}