{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-05f23944-b0b9-4109-41ec-048627c22cb7?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 02:29:58 GMT"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D2EBEBE3901B\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 02:29:58 GMT"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-05f23944-b0b9-4109-41ec-048627c22cb7?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 02:29:58 GMT"
      },
      "RequestBody": null,
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ContainerAlreadyExists"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003EContainerAlreadyExists\u003C/Code\u003E\u003CMessage\u003EThe specified container already exists.\n",
        "RequestId:5c4955c8-d01e-007a-11d4-04c782000000\n",
        "Time:2021-02-17T02:29:59.0412582Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-05f23944-b0b9-4109-41ec-048627c22cb7?restype=container",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 02:29:58 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D2EBEBE3901B\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 02:29:58 GMT",
        "x-ms-default-encryption-scope": "$account-encryption-key",
        "x-ms-deny-encryption-scope-override": "false",
        "x-ms-has-immutability-policy": "false",
        "x-ms-has-legal-hold": "false",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-05f23944-b0b9-4109-41ec-048627c22cb7?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 02:29:58 GMT"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1054396929",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\nseanscope1"
  }
}