{
  "Entries": [
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-da1217e1-511c-e6cb-4900-f171e9940932?sv=2018-11-09\u0026ss=b\u0026srt=co\u0026st=2019-07-01T20%3A55%3A23Z\u0026se=2019-07-01T22%3A55%3A23Z\u0026sp=rwdlac\u0026sig=Sanitized\u0026restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D6FE6ED14F8781\u0022",
        "Last-Modified": "Mon, 01 Jul 2019 21:55:23 GMT",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-da1217e1-511c-e6cb-4900-f171e9940932?sv=2018-11-09\u0026ss=b\u0026srt=co\u0026st=2019-07-01T20%3A55%3A23Z\u0026se=2019-07-01T22%3A55%3A23Z\u0026sp=rwdlac\u0026sig=Sanitized\u0026restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2019-07-01T14:55:23.1007700-07:00",
    "RandomSeed": "1036743287"
  }
}