{
  "Entries": [
    {
      "RequestUri": "https://amandacanary.blob.core.windows.net/test-container-176d6d28-3102-b605-f87a-b40d7dc57194?sv=2019-07-07\u0026ss=bfqt\u0026srt=c\u0026spr=https\u0026se=2020-04-25T02%3A11%3A57Z\u0026sp=rwdlacup\u0026sig=Sanitized\u0026restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7E8B5A68E144A\u0022",
        "Last-Modified": "Sat, 25 Apr 2020 01:11:57 GMT",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://amandacanary.blob.core.windows.net/test-container-176d6d28-3102-b605-f87a-b40d7dc57194/test-blob-93b26900-c125-dad1-f7d6-8032ee1072f7?sv=2019-07-07\u0026ss=bfqt\u0026srt=c\u0026spr=https\u0026se=2020-04-25T02%3A11%3A57Z\u0026sp=rwdlacup\u0026sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": "DwG1uZ4dAB56LbZs730pkH4c9NpN2I2W8ktcvSTUjCkuZ\u002BlsUZiH42iUGPgKZet6rPCz0hyXqTdzHsZTwUL5pqGMPYeTvT/llBFxub\u002BVjI1g4RE0ILkNlr2y\u002BDLRNCEmm3JWfSdj5\u002B\u002Bxzj4LJfB33ZI5898xxYbnf6fK4MQME1/vSx5MPg5l/PkhglF6AXDNOhqfmEFB9dXsbv6AmQYqpLrfHNrRK56E0/blD0I0bX02/KaqbXsdrVZIYM8Q5GLz996Xm\u002BWW\u002Bw97G8RLXOWTuAGASp1ggDc/wm\u002BDicvOc\u002B6U8hdknNGXoACWLlG20lFwtKfOj5rFknanV9l2EnJErKfVtmnNLxsw6KmcyVHliO8dE9QjAORUz[...]
    {
      "RequestUri": "https://amandacanary.blob.core.windows.net/test-container-176d6d28-3102-b605-f87a-b40d7dc57194?sv=2019-07-07\u0026ss=bfqt\u0026srt=c\u0026spr=https\u0026se=2020-04-25T02%3A11%3A57Z\u0026sp=rwdlacup\u0026sig=Sanitized\u0026restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2020-04-24T18:11:57.4521158-07:00",
    "RandomSeed": "2077096764",
    "Storage_TestConfigDefault": "ProductionTenant\namandacanary\nU2FuaXRpemVk\nhttp://amandacanary.blob.core.windows.net\nhttp://amandacanary.file.core.windows.net\nhttp://amandacanary.queue.core.windows.net\nhttp://amandacanary.table.core.windows.net\n\n\n\n\nhttp://amandacanary-secondary.blob.core.windows.net\nhttp://amandacanary-secondary.file.core.windows.net\nhttp://amandacanary-secondary.queue.core.windows.net\nhttp://amandacanary-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://amandacanary.blob.core.windows.net/;QueueEndpoint=http://amandacanary.queue.core.windows.net/;FileEndpoint=http://amandacanary.file.core.windows.net/;BlobSecondaryEndpoint=http://amandacanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://amandacanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://amandacanary-secondary.file.core.windows.net/;AccountName=amandacanary;AccountKey=Sanitized\n\nDefaultEndpointsProtocol=https;AccountName=ortestsaccountcbn1;AccountKey=OrRfzSm3ktQSklAGiL90/QusS7SdS6Y5S/AJoxZEeyKYDtnue7OKYIMLOraTnT4xcOyhYbqzWVmtTKappcc5Fg==;EndpointSuffix=core.windows.net\nDefaultEndpointsProtocol=https;AccountName=vbalaorcentral1;AccountKey=vlHMz/LZ3Sx7r/1bdTQT26pG0tqORQ4uTIcxGhHB0LQhIhqGxfv2TXV7u\u002BI2ra4UWXrWGGHG2N6l\u002BBfb5FgAcQ==;EndpointSuffix=core.windows.net"
  }
}