{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-bfd73a3e-0695-2fe1-5797-5275d269eba1?sv=2020-06-12\u0026ss=bfqt\u0026srt=c\u0026spr=https\u0026se=2021-02-17T03%3A31%3A19Z\u0026sp=rwdxlacuptf\u0026sig=Sanitized\u0026restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D2EC1BDFAEC7\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 02:31:19 GMT",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-bfd73a3e-0695-2fe1-5797-5275d269eba1/test-blob-1784de34-0d12-015d-3673-1c5362e640bc?sv=2020-06-12\u0026ss=bfqt\u0026srt=c\u0026spr=https\u0026se=2021-02-17T03%3A31%3A19Z\u0026sp=rwdxlacuptf\u0026sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-encryption-algorithm": "AES256",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": "vtSPBkNn9Fq3RQOIhpt6XBFxxg8WwWvYbiRNOfltCDKN\u002BaoVtinvzeopYM0J1Xqb\u002Bb9B8CAwpvxpt5geGbthSTzR\u002Bo3wZKbogvgl7GGdzpmqsj85LBcRXFOtrP6Q0bMuyBaQN9rtqpQZWG4nC7mby\u002Bj\u002BdGd7KBwkv506Q7inV7BE9iRLDZe\u002BvAerINSo6lGZEuAWkl1Ms5/5a3g8smfccQG\u002B4hSUT75RQLdf0AhIe9VLoDHXkMVT\u002BEOEUaEegQmgzq7T6gg9BMIixVGl7eOXsfCi8RE2BOA7a\u002BrREP4dMr6tvwFZdZHNDpxutctzrQtf7aCxfJD3asnOl38dbPTDBZOT\u002BC3hPjte1eJ1x08Vx73fcSJebLY[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-bfd73a3e-0695-2fe1-5797-5275d269eba1?sv=2020-06-12\u0026ss=bfqt\u0026srt=c\u0026spr=https\u0026se=2021-02-17T03%3A31%3A19Z\u0026sp=rwdxlacuptf\u0026sig=Sanitized\u0026restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2021-02-16T20:31:19.1074713-06:00",
    "RandomSeed": "873727315",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\nseanscope1"
  }
}