{
  "Entries": [
    {
      "RequestUri": "https://seanstagetest.blob.core.windows.net/test-container-176d6d28-3102-b605-f87a-b40d7dc57194?sv=2019-10-10\u0026ss=bfqt\u0026srt=c\u0026spr=https\u0026se=2020-03-06T00%3A13%3A24Z\u0026sp=rwdlacup\u0026sig=Sanitized\u0026restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7C15ACE759D9D\u0022",
        "Last-Modified": "Thu, 05 Mar 2020 23:13:25 GMT",
        "x-ms-version": "2019-10-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanstagetest.blob.core.windows.net/test-container-176d6d28-3102-b605-f87a-b40d7dc57194/test-blob-93b26900-c125-dad1-f7d6-8032ee1072f7?sv=2019-10-10\u0026ss=bfqt\u0026srt=c\u0026spr=https\u0026se=2020-03-06T00%3A13%3A24Z\u0026sp=rwdlacup\u0026sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": "DwG1uZ4dAB56LbZs730pkH4c9NpN2I2W8ktcvSTUjCkuZ\u002BlsUZiH42iUGPgKZet6rPCz0hyXqTdzHsZTwUL5pqGMPYeTvT/llBFxub\u002BVjI1g4RE0ILkNlr2y\u002BDLRNCEmm3JWfSdj5\u002B\u002Bxzj4LJfB33ZI5898xxYbnf6fK4MQME1/vSx5MPg5l/PkhglF6AXDNOhqfmEFB9dXsbv6AmQYqpLrfHNrRK56E0/blD0I0bX02/KaqbXsdrVZIYM8Q5GLz996Xm\u002BWW\u002Bw97G8RLXOWTuAGASp1ggDc/wm\u002BDicvOc\u002B6U8hdknNGXoACWLlG20lFwtKfOj5rFknanV9l2EnJErKfVtmnNLxsw6KmcyVHliO8dE9QjAORUz[...]
    {
      "RequestUri": "https://seanstagetest.blob.core.windows.net/test-container-176d6d28-3102-b605-f87a-b40d7dc57194?sv=2019-10-10\u0026ss=bfqt\u0026srt=c\u0026spr=https\u0026se=2020-03-06T00%3A13%3A24Z\u0026sp=rwdlacup\u0026sig=Sanitized\u0026restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-10-10"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2020-03-05T15:13:24.8958888-08:00",
    "RandomSeed": "2077096764",
    "Storage_TestConfigDefault": "ProductionTenant\nseanstagetest\nU2FuaXRpemVk\nhttps://seanstagetest.blob.core.windows.net\nhttp://seanstagetest.file.core.windows.net\nhttp://seanstagetest.queue.core.windows.net\nhttp://seanstagetest.table.core.windows.net\n\n\n\n\nhttp://seanstagetest-secondary.blob.core.windows.net\nhttp://seanstagetest-secondary.file.core.windows.net\nhttp://seanstagetest-secondary.queue.core.windows.net\nhttp://seanstagetest-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanstagetest.blob.core.windows.net/;QueueEndpoint=http://seanstagetest.queue.core.windows.net/;FileEndpoint=http://seanstagetest.file.core.windows.net/;BlobSecondaryEndpoint=http://seanstagetest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanstagetest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanstagetest-secondary.file.core.windows.net/;AccountName=seanstagetest;AccountKey=Sanitized\nseanscope1"
  }
}