{
  "Entries": [
    {
      "RequestUri": "https://jolovstorage.blob.core.windows.net/test-container-2cc4085d-c4e5-4a6f-d23d-64b24be9f38d?sv=2019-02-02\u0026ss=bfq\u0026srt=sco\u0026spr=https\u0026se=2019-12-02T22%3A57%3A38Z\u0026sp=rwdlacup\u0026sig=Sanitized\u0026restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D77772A5C49C34\u0022",
        "Last-Modified": "Mon, 02 Dec 2019 21:57:38 GMT",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://jolovstorage.blob.core.windows.net/test-container-2cc4085d-c4e5-4a6f-d23d-64b24be9f38d/test-blob-7c5139b1-507a-5c9a-51b5-520c1043abb5?sv=2019-02-02\u0026ss=bfq\u0026srt=sco\u0026spr=https\u0026se=2019-12-02T22%3A57%3A38Z\u0026sp=rwdlacup\u0026sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-blob-type": "BlockBlob",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": "NKCDh75HYdLdhIk\u002BxL2TsXPHp/hFrWiGBFNEVItXXBAzBicdBO2MiLiE9cR4RWxibJEddXtQboY3/YNqAw1Ghih4C72Vda2GOx8/wLikDb7n4ef6OeaU4pih5gZpIYSrPm\u002BcADmuzffjlzpcEK3OkvDEgyEmS0xB5Cgl9I6mHBmblIJJBw2FOBTvF6KsONLq0lMWpJ5ihPIiWxsQiNhpPHogwXwqhYviP0oNNjSqlKxWOyE6kHd7OA\u002BQJqvxdLA7htonjHdVv03IM2VTVU69d8ZvuU23LqwCpIhsml7f8cqa0bBagwg1AXvTclwSKOLB0q7lgrpihFgtJOfu6CXu6EKauYOeY/S9ObjR47tP8Hylq8ew\u002Bm4PN0xXLF8hRhhW5YoaeG5fI265KE[...]
[...]
    {
      "RequestUri": "https://jolovstorage.blob.core.windows.net/test-container-6ad0e640-d753-4979-5bed-2a088b938c2a?sv=2019-02-02\u0026ss=bfq\u0026srt=sco\u0026spr=https\u0026se=2019-12-02T22%3A57%3A38Z\u0026sp=rwdlacup\u0026sig=Sanitized\u0026restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2019-12-02T13:57:38.7243886-08:00",
    "RandomSeed": "1459908078",
    "Storage_TestConfigDefault": "ProductionTenant\njolovstorage\nU2FuaXRpemVk\nhttps://jolovstorage.blob.core.windows.net\nhttps://jolovstorage.file.core.windows.net\nhttps://jolovstorage.queue.core.windows.net\nhttps://jolovstorage.table.core.windows.net\n\n\n\n\nhttps://jolovstorage-secondary.blob.core.windows.net\nhttps://jolovstorage-secondary.file.core.windows.net\nhttps://jolovstorage-secondary.queue.core.windows.net\nhttps://jolovstorage-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jolovstorage.blob.core.windows.net/;QueueEndpoint=https://jolovstorage.queue.core.windows.net/;FileEndpoint=https://jolovstorage.file.core.windows.net/;BlobSecondaryEndpoint=https://jolovstorage-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jolovstorage-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jolovstorage-secondary.file.core.windows.net/;AccountName=jolovstorage;AccountKey=Sanitized"
  }
}