{
  "Entries": [
    {
      "RequestUri": "https://seanstagetest.blob.core.windows.net/test-container-b1899efe-e5bd-725c-761c-64851974d457?sv=2019-07-07\u0026ss=bfq\u0026srt=c\u0026spr=https\u0026se=2019-12-11T05%3A02%3A59Z\u0026sp=rwdlacup\u0026sig=Sanitized\u0026restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D77DEF02948C4D\u0022",
        "Last-Modified": "Wed, 11 Dec 2019 04:02:59 GMT",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanstagetest.blob.core.windows.net/test-container-b1899efe-e5bd-725c-761c-64851974d457/test-blob-a9af93a0-af18-1332-8a58-0e3017fd28f9?sv=2019-07-07\u0026ss=bfq\u0026srt=c\u0026spr=https\u0026se=2019-12-11T05%3A02%3A59Z\u0026sp=rwdlacup\u0026sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": "1l2XLfQkJFqO98uSJP3AIMbHv7fNnO4/uWsl2hkCzU0GzUAS6pkQfG5UGiDjoO\u002BNl\u002B1qTz5wKzluWHOJ/klBjCl\u002Bi1e8rjYst0NIeYLNWxl8l0Mrl30OlqIGpJImhn0kEo33ZRWX0Om3Ppj7J7G3oPxaDWcGFvSrb/W1tgmjBTDFJGf01vUD5MZadFnlE27wTgOVy3kVHvyZS/Yf4hrfEzhnNQNKw8oHVimgq6KbxluHxGgGDTq3rwVqW4r/4wGse2Agfd5qpos5jnRQdXJa/YWamB2y2QX\u002BsIX932g/B3In9DBCe0h9HB7czH/FZzqSEF0FZUvk\u002BqJaIc1ZbcYj\u002BoYBKIFCGII8HXz/1QyGOUhKas8KOaInQ/qO51l6JK5XudL4[...]
    {
      "RequestUri": "https://seanstagetest.blob.core.windows.net/test-container-b1899efe-e5bd-725c-761c-64851974d457?sv=2019-07-07\u0026ss=bfq\u0026srt=c\u0026spr=https\u0026se=2019-12-11T05%3A02%3A59Z\u0026sp=rwdlacup\u0026sig=Sanitized\u0026restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2019-12-10T20:02:59.0051562-08:00",
    "RandomSeed": "31189073",
    "Storage_TestConfigDefault": "ProductionTenant\nseanstagetest\nU2FuaXRpemVk\nhttp://seanstagetest.blob.core.windows.net\nhttp://seanstagetest.file.core.windows.net\nhttp://seanstagetest.queue.core.windows.net\nhttp://seanstagetest.table.core.windows.net\n\n\n\n\nhttp://seanstagetest-secondary.blob.core.windows.net\nhttp://seanstagetest-secondary.file.core.windows.net\nhttp://seanstagetest-secondary.queue.core.windows.net\nhttp://seanstagetest-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanstagetest.blob.core.windows.net/;QueueEndpoint=http://seanstagetest.queue.core.windows.net/;FileEndpoint=http://seanstagetest.file.core.windows.net/;BlobSecondaryEndpoint=http://seanstagetest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanstagetest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanstagetest-secondary.file.core.windows.net/;AccountName=seanstagetest;AccountKey=Sanitized\nseanscope1"
  }
}