{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-176d6d28-3102-b605-f87a-b40d7dc57194?sv=2020-04-08\u0026ss=bfqt\u0026srt=c\u0026spr=https\u0026se=2020-10-23T20%3A16%3A04Z\u0026sp=rwdxylacuptf\u0026sig=Sanitized\u0026restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8778815777E62\u0022",
        "Last-Modified": "Fri, 23 Oct 2020 19:16:03 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-176d6d28-3102-b605-f87a-b40d7dc57194/test-blob-93b26900-c125-dad1-f7d6-8032ee1072f7?sv=2020-04-08\u0026ss=bfqt\u0026srt=c\u0026spr=https\u0026se=2020-10-23T20%3A16%3A04Z\u0026sp=rwdxylacuptf\u0026sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": "DwG1uZ4dAB56LbZs730pkH4c9NpN2I2W8ktcvSTUjCkuZ\u002BlsUZiH42iUGPgKZet6rPCz0hyXqTdzHsZTwUL5pqGMPYeTvT/llBFxub\u002BVjI1g4RE0ILkNlr2y\u002BDLRNCEmm3JWfSdj5\u002B\u002Bxzj4LJfB33ZI5898xxYbnf6fK4MQME1/vSx5MPg5l/PkhglF6AXDNOhqfmEFB9dXsbv6AmQYqpLrfHNrRK56E0/blD0I0bX02/KaqbXsdrVZIYM8Q5GLz996Xm\u002BWW\u002Bw97G8RLXOWTuAGASp1ggDc/wm\u002BDicvOc\u002B6U8hdknNGXoACWLlG20lFwtKfOj5rFknanV9l2EnJErKfVtmnNLxsw6KmcyVHliO8dE9QjAORUz[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-176d6d28-3102-b605-f87a-b40d7dc57194?sv=2020-04-08\u0026ss=bfqt\u0026srt=c\u0026spr=https\u0026se=2020-10-23T20%3A16%3A04Z\u0026sp=rwdxylacuptf\u0026sig=Sanitized\u0026restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2020-10-23T14:16:04.0442765-05:00",
    "RandomSeed": "2077096764",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\nseanscope1"
  }
}