{
  "Entries": [
    {
      "RequestUri": "https://storagedotnettesting.blob.core.windows.net/test-container-7adf3256-e3fc-2e0f-0395-1accc7b332fc?sv=2019-02-02\u0026ss=bfqt\u0026srt=c\u0026spr=https\u0026se=2019-12-13T00%3A23%3A14Z\u0026sp=rwdlacup\u0026sig=Sanitized\u0026restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D77F5A42C226DC\u0022",
        "Last-Modified": "Thu, 12 Dec 2019 23:23:14 GMT",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://storagedotnettesting.blob.core.windows.net/test-container-7adf3256-e3fc-2e0f-0395-1accc7b332fc/test-blob-6f8bccfd-82b1-1d49-f6d0-f8c8bacd1474?sv=2019-02-02\u0026ss=bfqt\u0026srt=c\u0026spr=https\u0026se=2019-12-13T00%3A23%3A14Z\u0026sp=rwdlacup\u0026sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": "6hulR/iTP28EgvTuqEJ6ctq1RE0DOk6lNp2o7Cqqw\u002BSfHA95ahJ6aowbai\u002BOWnWzVobtBYnGcK/NABBb61NFWb8PT4szAQfHO9rB6M8fF9sn9JajvL5b2Kxfq2oCHn451RFvfgvpgFR\u002BJsqvBYffruk0NPa8oZ0BtHbf01WdxBxbhxK\u002Br5jQPXNBJZb0q9Mkf/2BzeqHfDNzbsqUCq3/4GGtVH50IP5QZPaDe3wHDQijulNXHPYx0wreS0DOOzLGQkQ0RldUr1//MGnzBAG3bGHB8U9Zp8RqfIBzltW9gijDvDg408exTgr0WOyNPc4IJ97fDErjbJqAycnW4RmJQa1BL0fIfpmZEKJEZU7X3T6yam723nXe4FCduAn92m3xahc\u002BTA2GQ[...]
    {
      "RequestUri": "https://storagedotnettesting.blob.core.windows.net/test-container-7adf3256-e3fc-2e0f-0395-1accc7b332fc?sv=2019-02-02\u0026ss=bfqt\u0026srt=c\u0026spr=https\u0026se=2019-12-13T00%3A23%3A14Z\u0026sp=rwdlacup\u0026sig=Sanitized\u0026restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2019-12-12T15:23:14.0225839-08:00",
    "RandomSeed": "1315048386",
    "Storage_TestConfigDefault": "ProductionTenant\nstoragedotnettesting\nU2FuaXRpemVk\nhttps://storagedotnettesting.blob.core.windows.net\nhttps://storagedotnettesting.file.core.windows.net\nhttps://storagedotnettesting.queue.core.windows.net\nhttps://storagedotnettesting.table.core.windows.net\n\n\n\n\nhttps://storagedotnettesting-secondary.blob.core.windows.net\nhttps://storagedotnettesting-secondary.file.core.windows.net\nhttps://storagedotnettesting-secondary.queue.core.windows.net\nhttps://storagedotnettesting-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://storagedotnettesting.blob.core.windows.net/;QueueEndpoint=https://storagedotnettesting.queue.core.windows.net/;FileEndpoint=https://storagedotnettesting.file.core.windows.net/;BlobSecondaryEndpoint=https://storagedotnettesting-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://storagedotnettesting-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://storagedotnettesting-secondary.file.core.windows.net/;AccountName=storagedotnettesting;AccountKey=Sanitized"
  }
}