{
  "Entries": [
    {
      "RequestUri": "https://seanstagetest.blob.core.windows.net/test-container-bfd73a3e-0695-2fe1-5797-5275d269eba1?sv=2019-10-10\u0026ss=bfqt\u0026srt=c\u0026spr=https\u0026se=2020-03-06T00%3A13%3A28Z\u0026sp=rwdlacup\u0026sig=Sanitized\u0026restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7C15AD0B3FED1\u0022",
        "Last-Modified": "Thu, 05 Mar 2020 23:13:28 GMT",
        "x-ms-version": "2019-10-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanstagetest.blob.core.windows.net/test-container-bfd73a3e-0695-2fe1-5797-5275d269eba1/test-blob-1784de34-0d12-015d-3673-1c5362e640bc?sv=2019-10-10\u0026ss=bfqt\u0026srt=c\u0026spr=https\u0026se=2020-03-06T00%3A13%3A28Z\u0026sp=rwdlacup\u0026sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": "vtSPBkNn9Fq3RQOIhpt6XBFxxg8WwWvYbiRNOfltCDKN\u002BaoVtinvzeopYM0J1Xqb\u002Bb9B8CAwpvxpt5geGbthSTzR\u002Bo3wZKbogvgl7GGdzpmqsj85LBcRXFOtrP6Q0bMuyBaQN9rtqpQZWG4nC7mby\u002Bj\u002BdGd7KBwkv506Q7inV7BE9iRLDZe\u002BvAerINSo6lGZEuAWkl1Ms5/5a3g8smfccQG\u002B4hSUT75RQLdf0AhIe9VLoDHXkMVT\u002BEOEUaEegQmgzq7T6gg9BMIixVGl7eOXsfCi8RE2BOA7a\u002BrREP4dMr6tvwFZdZHNDpxutctzrQtf7aCxfJD3asnOl38dbPTDBZOT\u002BC3hPjte1eJ1x08Vx73fcSJe[...]
    {
      "RequestUri": "https://seanstagetest.blob.core.windows.net/test-container-bfd73a3e-0695-2fe1-5797-5275d269eba1?sv=2019-10-10\u0026ss=bfqt\u0026srt=c\u0026spr=https\u0026se=2020-03-06T00%3A13%3A28Z\u0026sp=rwdlacup\u0026sig=Sanitized\u0026restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-10-10"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2020-03-05T15:13:28.6417881-08:00",
    "RandomSeed": "873727315",
    "Storage_TestConfigDefault": "ProductionTenant\nseanstagetest\nU2FuaXRpemVk\nhttps://seanstagetest.blob.core.windows.net\nhttp://seanstagetest.file.core.windows.net\nhttp://seanstagetest.queue.core.windows.net\nhttp://seanstagetest.table.core.windows.net\n\n\n\n\nhttp://seanstagetest-secondary.blob.core.windows.net\nhttp://seanstagetest-secondary.file.core.windows.net\nhttp://seanstagetest-secondary.queue.core.windows.net\nhttp://seanstagetest-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanstagetest.blob.core.windows.net/;QueueEndpoint=http://seanstagetest.queue.core.windows.net/;FileEndpoint=http://seanstagetest.file.core.windows.net/;BlobSecondaryEndpoint=http://seanstagetest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanstagetest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanstagetest-secondary.file.core.windows.net/;AccountName=seanstagetest;AccountKey=Sanitized\nseanscope1"
  }
}