{
  "Entries": [
    {
      "RequestUri": "http://jolovstorage.blob.core.windows.net/test-container-9288b818-9ddb-0903-dc40-cf710414c69e?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Fri, 04 Oct 2019 23:43:11 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D749249E0F2FFE\u0022",
        "Last-Modified": "Fri, 04 Oct 2019 23:43:11 GMT",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://jolovstorage.blob.core.windows.net/test-container-9288b818-9ddb-0903-dc40-cf710414c69e/test-blob-9d733296-508e-c020-403d-312fdfd98a40",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 04 Oct 2019 23:43:11 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": "ukt8Cmxz1GMGqalYmlb\u002BbyfUkkwo6PSl2OcTjf3FHPW2fGcAdnl8I10Pl\u002BSnxybpP8IICkc\u002BGNJW1jKFX0dmQIyzoh3u/fiuV2/uGFAQ/hDAKk47vRKueGSVqZ9G98MWqVZY8w==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "WhWynDQ4WwDdYGQoc0gZXg==",
        "ETag": "\u00220x8D749249E13FD3A\u0022",
        "Last-Modified": "Fri, 04 Oct 2019 23:43:11 GMT",
        "x-ms-content-crc64": "BiNkHYssc3c=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://jolovstorage.blob.core.windows.net/test-container-9288b818-9ddb-0903-dc40-cf710414c69e/test-blob-9d733296-508e-c020-403d-312fdfd98a40",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 04 Oct 2019 23:43:11 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-delete-type-permanent": "true",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://jolovstorage.blob.core.windows.net/test-container-9288b818-9ddb-0903-dc40-cf710414c69e/test-blob-9d733296-508e-c020-403d-312fdfd98a40",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 04 Oct 2019 23:43:11 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "BlobNotFound",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://jolovstorage.blob.core.windows.net/test-container-9288b818-9ddb-0903-dc40-cf710414c69e?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 04 Oct 2019 23:43:11 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "684307682",
    "Storage_TestConfigDefault": "ProductionTenant\njolovstorage\nU2FuaXRpemVk\nhttp://jolovstorage.blob.core.windows.net\nhttp://jolovstorage.file.core.windows.net\nhttp://jolovstorage.queue.core.windows.net\nhttp://jolovstorage.table.core.windows.net\n\n\n\n\nhttp://jolovstorage-secondary.blob.core.windows.net\n\nhttp://jolovstorage-secondary.queue.core.windows.net\nhttp://jolovstorage-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://jolovstorage.blob.core.windows.net/;QueueEndpoint=http://jolovstorage.queue.core.windows.net/;TableEndpoint=http://jolovstorage.table.core.windows.net/;FileEndpoint=http://jolovstorage.file.core.windows.net/;BlobSecondaryEndpoint=http://jolovstorage-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://jolovstorage-secondary.queue.core.windows.net/;TableSecondaryEndpoint=http://jolovstorage-secondary.table.core.windows.net/;AccountName=jolovstorage;AccountKey=Sanitized"
  }
}