{
  "Entries": [
    {
      "RequestUri": "https://gczxscnapby3prdev16a.blob.preprod.core.windows.net/test-container-b105c888-0067-c886-57cf-029afd707c3c?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 04 Nov 2021 17:30:09 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D99FB8C0100410\u0022",
        "Last-Modified": "Thu, 04 Nov 2021 17:30:09 GMT",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://gczxscnapby3prdev16a.blob.preprod.core.windows.net/test-container-b105c888-0067-c886-57cf-029afd707c3c/test-blob-ad50a20c-f978-24dd-5fca-bff57c6a30bb",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Thu, 04 Nov 2021 17:30:09 GMT",
        "x-ms-tags": "myTagKey=myTagValue",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D99FB8C01BDD8E\u0022",
        "Last-Modified": "Thu, 04 Nov 2021 17:30:09 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://gczxscnapby3prdev16a.blob.preprod.core.windows.net/test-container-b105c888-0067-c886-57cf-029afd707c3c?restype=container\u0026comp=blobs\u0026where=%22myTagKey%22%3D%27myTagValue%27",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 04 Nov 2021 17:30:11 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\n",
        "\u003CEnumerationResults ServiceEndpoint=\u0022https://gczxscnapby3prdev16a.blob.preprod.core.windows.net/\u0022\u003E\u003CWhere\u003E\u0026quot;myTagKey\u0026quot;=\u0026apos;myTagValue\u0026apos;\u003C/Where\u003E\u003CBlobs\u003E\u003CBlob\u003E\u003CName\u003Etest-blob-ad50a20c-f978-24dd-5fca-bff57c6a30bb\u003C/Name\u003E\u003CContainerName\u003Etest-container-b105c888-0067-c886-57cf-029afd707c3c\u003C/ContainerName\u003E\u003CTags\u003E\u003CTagSet\u003E\u003CTag\u003E\u003CKey\u003EmyTagKey\u003C/Key\u003E\u003CValue\u003EmyTagValue\u003C/Value\u003E\u003C/Tag\u003E\u003C/TagSet\u003E\u003C/Tags\u003E\u003C/Blob\u003E\u003C/Blobs\u003E\u003CNextMarker/\u003E\u003C/EnumerationResults\u003E"
      ]
    },
    {
      "RequestUri": "https://gczxscnapby3prdev16a.blob.preprod.core.windows.net/test-container-b105c888-0067-c886-57cf-029afd707c3c?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 04 Nov 2021 17:30:11 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "961929466",
    "Storage_TestConfigDefault": "ProductionTenant\ngczxscnapby3prdev16a\nU2FuaXRpemVk\nhttps://gczxscnapby3prdev16a.blob.preprod.core.windows.net\nhttps://gczxscnapby3prdev16a.file.core.windows.net\nhttps://gczxscnapby3prdev16a.queue.core.windows.net\nhttps://gczxscnapby3prdev16a.table.core.windows.net\n\n\n\n\nhttps://gczxscnapby3prdev16a-secondary.blob.core.windows.net\nhttps://gczxscnapby3prdev16a-secondary.file.core.windows.net\nhttps://gczxscnapby3prdev16a-secondary.queue.core.windows.net\nhttps://gczxscnapby3prdev16a-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://gczxscnapby3prdev16a.blob.preprod.core.windows.net/;QueueEndpoint=https://gczxscnapby3prdev16a.queue.core.windows.net/;FileEndpoint=https://gczxscnapby3prdev16a.file.core.windows.net/;BlobSecondaryEndpoint=https://gczxscnapby3prdev16a-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://gczxscnapby3prdev16a-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://gczxscnapby3prdev16a-secondary.file.core.windows.net/;AccountName=gczxscnapby3prdev16a;AccountKey=Kg==;\nseanscope1\n\n"
  }
}