{
  "Entries": [
    {
      "RequestUri": "https://qo5xscnapby3pev24a.blob.preprod.core.windows.net/test-container-534f7ca4-d0f2-9f1c-7f38-26a0ccd8b703?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 22 Mar 2022 23:45:10 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA0C5E00CADE46\u0022",
        "Last-Modified": "Tue, 22 Mar 2022 23:45:10 GMT",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://qo5xscnapby3pev24a.blob.preprod.core.windows.net/test-container-534f7ca4-d0f2-9f1c-7f38-26a0ccd8b703/test-blob-b26d0b97-f78c-a452-ffa2-a5798c9ed76f",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Tue, 22 Mar 2022 23:45:10 GMT",
        "x-ms-tags": "myTagKey=myTagValue",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA0C5E00E624C6\u0022",
        "Last-Modified": "Tue, 22 Mar 2022 23:45:10 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-08-06",
        "x-ms-version-id": "2022-03-22T23:45:10.7888326Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://qo5xscnapby3pev24a.blob.preprod.core.windows.net/test-container-534f7ca4-d0f2-9f1c-7f38-26a0ccd8b703?restype=container\u0026comp=blobs\u0026where=%22myTagKey%22%3D%27myTagValue%27\u0026include=Versions",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 22 Mar 2022 23:45:13 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\n",
        "\u003CEnumerationResults ServiceEndpoint=\u0022https://qo5xscnapby3pev24a.blob.preprod.core.windows.net/\u0022\u003E\u003CWhere\u003E\u0026quot;myTagKey\u0026quot;=\u0026apos;myTagValue\u0026apos;\u003C/Where\u003E\u003CBlobs\u003E\u003CBlob\u003E\u003CName\u003Etest-blob-b26d0b97-f78c-a452-ffa2-a5798c9ed76f\u00[...]
    {
      "RequestUri": "https://qo5xscnapby3pev24a.blob.preprod.core.windows.net/test-container-534f7ca4-d0f2-9f1c-7f38-26a0ccd8b703?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 22 Mar 2022 23:45:13 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1801025699",
    "Storage_TestConfigDefault": "ProductionTenant\nqo5xscnapby3pev24a\nU2FuaXRpemVk\nhttps://qo5xscnapby3pev24a.blob.preprod.core.windows.net\nhttps://qo5xscnapby3pev24a.file.preprod.core.windows.net\nhttps://qo5xscnapby3pev24a.queue.core.windows.net\nhttps://qo5xscnapby3pev24a.table.core.windows.net\n\n\n\n\nhttps://qo5xscnapby3pev24a-secondary.blob.core.windows.net\nhttps://qo5xscnapby3pev24a-secondary.file.core.windows.net\nhttps://qo5xscnapby3pev24a-secondary.queue.core.windows.net\nhttps://qo5xscnapby3pev24a-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://qo5xscnapby3pev24a.blob.preprod.core.windows.net/;QueueEndpoint=https://qo5xscnapby3pev24a.queue.core.windows.net/;FileEndpoint=https://qo5xscnapby3pev24a.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://qo5xscnapby3pev24a-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://qo5xscnapby3pev24a-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://qo5xscnapby3pev24a-secondary.file.core.windows.net/;AccountName=qo5xscnapby3pev24a;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
