{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-a3efd096-0a88-7466-e3cf-0938c662b9f3?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 29 Jun 2020 18:01:47 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D81C567D97A13D\u0022",
        "Last-Modified": "Mon, 29 Jun 2020 18:01:47 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-a3efd096-0a88-7466-e3cf-0938c662b9f3/%2521%252A%2527%2528%2529%253B%255B%255D%253A%2540%2526%2525%253D%252B%2524%252C%252F%253F%2523\u00E4\u00C4\u00F6\u00D6\u00FC\u00DC\u00DF",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Mon, 29 Jun 2020 18:01:47 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": "SRzxDUZEXQ1b7LBW528524T35MpU8QIQCaBurwHgqgbiwq0eFjzMD50AbAWRh22nvqwPYQiEDFca4ASl1a4MekKpcyTCG8VHK9UsVIT8f4IzxvBV0Uj9XrZVAzU4Jzru8/LD5xNI5KLmxzYzV7fTHWGBcQ69tqn5rBVubRePDwSaPmCSOZhu6uJNbgkRygb\u002BgubTtrUrMT1IyTv\u002B2neLV7gymBlXQOPJE4csb0if5\u002BEOb\u002Bsxu1hObwwjSXBdcBBqwhdQ3zLtp0ECCqMt/sH0qOFZ72qMWptg4ygMM/ZzbKJ3wa0xTgiuIcipLrG0IHFLLqGOA4Gl3mh78PsK4HNKjp0B[...]
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-a3efd096-0a88-7466-e3cf-0938c662b9f3/%2521%252A%2527%2528%2529%253B%255B%255D%253A%2540%2526%2525%253D%252B%2524%252C%252F%253F%2523\u00E4\u00C4\u00F6\u00D6\u00FC\u00DC\u00DF?sv=2020-04-08\u0026st=2020-06-29T17%3A01%3A48Z\u0026se=2020-06-29T19%3A01%3A48Z\u0026sr=b\u0026sp=racwd\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "TbqxvdcbfRFGtu0lmZmjVQ==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D81C567DBD5EBC\u0022",
        "Last-Modified": "Mon, 29 Jun 2020 18:01:47 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Mon, 29 Jun 2020 18:01:47 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-04-08",
        "x-ms-version-id": "2020-06-29T18:01:47.5252924Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-a3efd096-0a88-7466-e3cf-0938c662b9f3?restype=container\u0026comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 29 Jun 2020 18:01:48 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2[...]
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-a3efd096-0a88-7466-e3cf-0938c662b9f3?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 29 Jun 2020 18:01:48 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2020-06-29T13:01:48.0619974-05:00",
    "RandomSeed": "1293784596",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary\nU2FuaXRpemVk\nhttps://seanmcccanary.blob.core.windows.net\nhttps://seanmcccanary.file.core.windows.net\nhttps://seanmcccanary.queue.core.windows.net\nhttps://seanmcccanary.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary-secondary.blob.core.windows.net\nhttps://seanmcccanary-secondary.file.core.windows.net\nhttps://seanmcccanary-secondary.queue.core.windows.net\nhttps://seanmcccanary-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary.queue.core.windows.net/;FileEndpoint=https://seanmcccanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary-secondary.file.core.windows.net/;AccountName=seanmcccanary;AccountKey=Kg==;\nseanscope1"
  }
}