{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-cf1a3afe-5878-fce9-438b-b0558349929f?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 29 Jun 2020 18:01:45 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D81C567CA0CD50\u0022",
        "Last-Modified": "Mon, 29 Jun 2020 18:01:45 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-cf1a3afe-5878-fce9-438b-b0558349929f/blob",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Mon, 29 Jun 2020 18:01:46 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": "6VyEJUx7UvkXnd42JU9uomggkP06HmqKUR06wRz9Mj5cv7AyHP1ESTMVXZeCVmOnQka9KSLoOcvy\u002BtQvQJDcGWqf2mafPIVr3EfKJMHSB/q5k3/WQAgcc4XkQCIoFAijOUMs43z8CAbAUU3bHRUKH/LZda0RBtlhg2bhuvxjQsc\u002BJ\u002Bt9pSR\u002BvYp4Fe67QVZw2iAwT59bkTJqy18VG04KXQ\u002BGnPYqjHnOWrcjmPHqpkEQcd/bM/Mn45W4EtrEaaE8brjfNKRfRU6nYfXnN/hBfyQdBaluLyocX7lgcXmeCfEW5io5C3KdsCuRM9H\u002BP6ucdpK2pmP4zT6Ow9[...]
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-cf1a3afe-5878-fce9-438b-b0558349929f/blob?sv=2020-04-08\u0026st=2020-06-29T17%3A01%3A46Z\u0026se=2020-06-29T19%3A01%3A46Z\u0026sr=b\u0026sp=racwd\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "w2HcSPevjuf3xiZSsxxl5A==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D81C567CC1E116\u0022",
        "Last-Modified": "Mon, 29 Jun 2020 18:01:45 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Mon, 29 Jun 2020 18:01:45 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-04-08",
        "x-ms-version-id": "2020-06-29T18:01:45.8771222Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-cf1a3afe-5878-fce9-438b-b0558349929f?restype=container\u0026comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 29 Jun 2020 18:01:46 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2[...]
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-cf1a3afe-5878-fce9-438b-b0558349929f?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 29 Jun 2020 18:01:46 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2020-06-29T13:01:46.4028217-05:00",
    "RandomSeed": "1957436061",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary\nU2FuaXRpemVk\nhttps://seanmcccanary.blob.core.windows.net\nhttps://seanmcccanary.file.core.windows.net\nhttps://seanmcccanary.queue.core.windows.net\nhttps://seanmcccanary.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary-secondary.blob.core.windows.net\nhttps://seanmcccanary-secondary.file.core.windows.net\nhttps://seanmcccanary-secondary.queue.core.windows.net\nhttps://seanmcccanary-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary.queue.core.windows.net/;FileEndpoint=https://seanmcccanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary-secondary.file.core.windows.net/;AccountName=seanmcccanary;AccountKey=Kg==;\nseanscope1"
  }
}