{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-853c00f6-7138-b046-8dce-06ef3034ae8f?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 29 Jun 2020 18:01:45 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D81C567C273E23\u0022",
        "Last-Modified": "Mon, 29 Jun 2020 18:01:44 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-853c00f6-7138-b046-8dce-06ef3034ae8f/my cool blob",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Mon, 29 Jun 2020 18:01:45 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": "mkhb5xPpBhXtusBY9AxDekBqzsIEovSCqzTL2ahw5MfiYJ8lt6WJN2cZHeCS61nnnb1hMy46F/hU2TzeHS1sfdX4dpRsHcKb4Jdb6oUT78Db4zzqDrGZp0in0N5pqhk5rKALmnTEe3/7xlKX3yxyQOl8Ajrxgm4jX89MxUzkMjZ\u002BIT3kCFVLF2i870hfAcgbNJD07ajeSCox5zuleLUyFpQcGL3vjjiTMOrRNJIlxF0HMJG870SNn9gSsiAapp\u002Bzidm0Q\u002BkKLKZXYLy9DROYDCLenkgkdiZPjnnk3NsXeYpLHqu5cYB0/APqZI6I0JHFeqb\u002BOwdWjhOyZbVvJVDLQOcy[...]
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-853c00f6-7138-b046-8dce-06ef3034ae8f/my cool blob?sv=2020-04-08\u0026st=2020-06-29T17%3A01%3A45Z\u0026se=2020-06-29T19%3A01%3A45Z\u0026sr=b\u0026sp=racwd\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "0qQf5jkOBiTgv1D4yA2a7A==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D81C567C49DC1E\u0022",
        "Last-Modified": "Mon, 29 Jun 2020 18:01:45 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Mon, 29 Jun 2020 18:01:45 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-04-08",
        "x-ms-version-id": "2020-06-29T18:01:45.0905630Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-853c00f6-7138-b046-8dce-06ef3034ae8f?restype=container\u0026comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 29 Jun 2020 18:01:45 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2[...]
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-853c00f6-7138-b046-8dce-06ef3034ae8f?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 29 Jun 2020 18:01:45 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2020-06-29T13:01:45.6162858-05:00",
    "RandomSeed": "72290147",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary\nU2FuaXRpemVk\nhttps://seanmcccanary.blob.core.windows.net\nhttps://seanmcccanary.file.core.windows.net\nhttps://seanmcccanary.queue.core.windows.net\nhttps://seanmcccanary.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary-secondary.blob.core.windows.net\nhttps://seanmcccanary-secondary.file.core.windows.net\nhttps://seanmcccanary-secondary.queue.core.windows.net\nhttps://seanmcccanary-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary.queue.core.windows.net/;FileEndpoint=https://seanmcccanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary-secondary.file.core.windows.net/;AccountName=seanmcccanary;AccountKey=Kg==;\nseanscope1"
  }
}