{
  "Entries": [
    {
      "RequestUri": "https://seanstagetest.blob.core.windows.net/test-container-21b5ddad-6ee0-87a6-f9bc-0b99dce73b6f?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 05 Mar 2020 21:14:39 GMT",
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7C14A3745366B\u0022",
        "Last-Modified": "Thu, 05 Mar 2020 21:14:39 GMT",
        "x-ms-version": "2019-10-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanstagetest.blob.core.windows.net/test-container-21b5ddad-6ee0-87a6-f9bc-0b99dce73b6f/foo",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 05 Mar 2020 21:14:39 GMT",
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": "hpJqtzqmCOmD3AFBkFUVCvr7eZhvfB4CMJrKU4qRU5T8c8rghQrVejuOO3VlOIMPZy/NihIK\u002Bwp0Z4ag3LRe8YhtRR2LNIXvJf5c4EConfgWuuxbw8mB8XfAbB2ENJ2GMEnt9/NmhDOp3mQTrRrJy8qNiiLIAi2/61Oly8hoavBh1bD3u6UFsDW5suVkbkRd9qBT9qp7vi0bLQyfwLlqQXNzsddq0hAkh9rsD1BIWnwPSNQoFHRG5heC242ZZe98TnBx8Lxs8ySPLm7Qjq7d0tOPkHfkQiz/LcvA5/aCiyLqb8Dg12nAolWvmOYFdVdopQm6CdV4lwxDccPxqwsuDKJM5h7u/fppz\u002B[...]
    {
      "RequestUri": "https://seanstagetest.blob.core.windows.net/test-container-21b5ddad-6ee0-87a6-f9bc-0b99dce73b6f/bar",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 05 Mar 2020 21:14:39 GMT",
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": "hpJqtzqmCOmD3AFBkFUVCvr7eZhvfB4CMJrKU4qRU5T8c8rghQrVejuOO3VlOIMPZy/NihIK\u002Bwp0Z4ag3LRe8YhtRR2LNIXvJf5c4EConfgWuux[...]
    {
      "RequestUri": "https://seanstagetest.blob.core.windows.net/test-container-21b5ddad-6ee0-87a6-f9bc-0b99dce73b6f/baz",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 05 Mar 2020 21:14:39 GMT",
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": "hpJqtzqmCOmD3AFBkFUVCvr7eZhvfB4CMJrKU4qRU5T8c8rghQrVejuOO3VlOIMPZy/NihIK\u002Bwp0Z4ag3LRe8YhtRR2LNIXvJf5c4EConfgWuux[...]
    {
      "RequestUri": "https://seanstagetest.blob.core.windows.net/test-container-21b5ddad-6ee0-87a6-f9bc-0b99dce73b6f/foo/foo",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 05 Mar 2020 21:14:39 GMT",
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": "hpJqtzqmCOmD3AFBkFUVCvr7eZhvfB4CMJrKU4qRU5T8c8rghQrVejuOO3VlOIMPZy/NihIK\u002Bwp0Z4ag3LRe8YhtRR2LNIXvJf5c4EConfg[...]
    {
      "RequestUri": "https://seanstagetest.blob.core.windows.net/test-container-21b5ddad-6ee0-87a6-f9bc-0b99dce73b6f/foo/bar",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 05 Mar 2020 21:14:40 GMT",
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": "hpJqtzqmCOmD3AFBkFUVCvr7eZhvfB4CMJrKU4qRU5T8c8rghQrVejuOO3VlOIMPZy/NihIK\u002Bwp0Z4ag3LRe8YhtRR2LNIXvJf5c4EConfg[...]
    {
      "RequestUri": "https://seanstagetest.blob.core.windows.net/test-container-21b5ddad-6ee0-87a6-f9bc-0b99dce73b6f/baz/foo",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 05 Mar 2020 21:14:40 GMT",
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": "hpJqtzqmCOmD3AFBkFUVCvr7eZhvfB4CMJrKU4qRU5T8c8rghQrVejuOO3VlOIMPZy/NihIK\u002Bwp0Z4ag3LRe8YhtRR2LNIXvJf5c4EConfg[...]
    {
      "RequestUri": "https://seanstagetest.blob.core.windows.net/test-container-21b5ddad-6ee0-87a6-f9bc-0b99dce73b6f/baz/foo/bar",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 05 Mar 2020 21:14:40 GMT",
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": "hpJqtzqmCOmD3AFBkFUVCvr7eZhvfB4CMJrKU4qRU5T8c8rghQrVejuOO3VlOIMPZy/NihIK\u002Bwp0Z4ag3LRe8YhtRR2LNIXvJf5c4EC[...]
    {
      "RequestUri": "https://seanstagetest.blob.core.windows.net/test-container-21b5ddad-6ee0-87a6-f9bc-0b99dce73b6f/baz/bar/foo",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 05 Mar 2020 21:14:40 GMT",
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": "hpJqtzqmCOmD3AFBkFUVCvr7eZhvfB4CMJrKU4qRU5T8c8rghQrVejuOO3VlOIMPZy/NihIK\u002Bwp0Z4ag3LRe8YhtRR2LNIXvJf5c4EC[...]
    {
      "RequestUri": "https://seanstagetest.blob.core.windows.net/test-container-21b5ddad-6ee0-87a6-f9bc-0b99dce73b6f/foo/foo?comp=metadata",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 05 Mar 2020 21:14:40 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7C14A37B941F2\u0022",
        "Last-Modified": "Thu, 05 Mar 2020 21:14:40 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-10-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanstagetest.blob.core.windows.net/test-container-21b5ddad-6ee0-87a6-f9bc-0b99dce73b6f?restype=container\u0026comp=list\u0026prefix=foo",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 05 Mar 2020 21:14:40 GMT",
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2019-10-10"
      },
      "ResponseBody": "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CEnumerationResults ServiceEndpoint=\u0022https://seanstagetest.blob.core.windows.net/\u0022 ContainerName=\u0022test-container-21b5ddad-6ee0-87a6-f9bc-0b99dce73b6f\u0022\u003E\u003CPrefix\u003Efoo\u003C/Prefix\u003E\u003CBlobs\u003E\u003CBlob\u003E\u003CName\u003Efoo\u003C/Name\u003E\u003CProperties\u003E\u003CCreation-Time\u003E[...]
    {
      "RequestUri": "https://seanstagetest.blob.core.windows.net/test-container-21b5ddad-6ee0-87a6-f9bc-0b99dce73b6f?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 05 Mar 2020 21:14:40 GMT",
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-10-10"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "533742588",
    "Storage_TestConfigDefault": "ProductionTenant\nseanstagetest\nU2FuaXRpemVk\nhttps://seanstagetest.blob.core.windows.net\nhttp://seanstagetest.file.core.windows.net\nhttp://seanstagetest.queue.core.windows.net\nhttp://seanstagetest.table.core.windows.net\n\n\n\n\nhttp://seanstagetest-secondary.blob.core.windows.net\nhttp://seanstagetest-secondary.file.core.windows.net\nhttp://seanstagetest-secondary.queue.core.windows.net\nhttp://seanstagetest-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanstagetest.blob.core.windows.net/;QueueEndpoint=http://seanstagetest.queue.core.windows.net/;FileEndpoint=http://seanstagetest.file.core.windows.net/;BlobSecondaryEndpoint=http://seanstagetest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanstagetest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanstagetest-secondary.file.core.windows.net/;AccountName=seanstagetest;AccountKey=Sanitized\nseanscope1"
  }
}