{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-d7743b99-e68f-d5ad-eab5-bda878c950ec?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 10 Jun 2020 19:56:59 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D80D786FEE9F91\u0022",
        "Last-Modified": "Wed, 10 Jun 2020 19:56:59 GMT",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-d7743b99-e68f-d5ad-eab5-bda878c950ec/foo",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 10 Jun 2020 19:56:59 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": "7ozxqWI8cWkRj4ijTXyfcKGZ3TL\u002BWJaqU66rkomD2SE8p0OqiWrBj9Nh5sZsBvtqJTUEcVB88ZX1R1W0kN/fjrVnZqY49OY3105enXLQPk2yQG1UfmjQwLWttUIUDf70gVcRBJ9VMjBOzZoBHVQjJAkIAU9yixBNlqbwij\u002BkI8pPahsavzmtXA48BbDNz6JhipA5CwuugvZHw274ZafxqqrQsrM4CGTPWqRBNYZff8cDjv\u002Buaxe\u002BoOcl0vvLtPdmS1sG/R3vKIEsabBmbU1w6ESm9danQj6SERHLEzVoBKat2\u002BkqWIGqFGZ\u002BggJmVzOatOq3JL8gvggddO[...]
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-d7743b99-e68f-d5ad-eab5-bda878c950ec/bar",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 10 Jun 2020 19:56:59 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": "7ozxqWI8cWkRj4ijTXyfcKGZ3TL\u002BWJaqU66rkomD2SE8p0OqiWrBj9Nh5sZsBvtqJTUEcVB88ZX1R1W0kN/fjrVnZqY49OY3105enXLQPk2yQG1[...]
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-d7743b99-e68f-d5ad-eab5-bda878c950ec/baz",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 10 Jun 2020 19:56:59 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": "7ozxqWI8cWkRj4ijTXyfcKGZ3TL\u002BWJaqU66rkomD2SE8p0OqiWrBj9Nh5sZsBvtqJTUEcVB88ZX1R1W0kN/fjrVnZqY49OY3105enXLQPk2yQG1[...]
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-d7743b99-e68f-d5ad-eab5-bda878c950ec/foo/foo",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 10 Jun 2020 19:56:59 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": "7ozxqWI8cWkRj4ijTXyfcKGZ3TL\u002BWJaqU66rkomD2SE8p0OqiWrBj9Nh5sZsBvtqJTUEcVB88ZX1R1W0kN/fjrVnZqY49OY3105enXLQPk2[...]
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-d7743b99-e68f-d5ad-eab5-bda878c950ec/foo/bar",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 10 Jun 2020 19:56:59 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": "7ozxqWI8cWkRj4ijTXyfcKGZ3TL\u002BWJaqU66rkomD2SE8p0OqiWrBj9Nh5sZsBvtqJTUEcVB88ZX1R1W0kN/fjrVnZqY49OY3105enXLQPk2[...]
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-d7743b99-e68f-d5ad-eab5-bda878c950ec/baz/foo",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 10 Jun 2020 19:56:59 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": "7ozxqWI8cWkRj4ijTXyfcKGZ3TL\u002BWJaqU66rkomD2SE8p0OqiWrBj9Nh5sZsBvtqJTUEcVB88ZX1R1W0kN/fjrVnZqY49OY3105enXLQPk2[...]
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-d7743b99-e68f-d5ad-eab5-bda878c950ec/baz/foo/bar",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 10 Jun 2020 19:56:59 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": "7ozxqWI8cWkRj4ijTXyfcKGZ3TL\u002BWJaqU66rkomD2SE8p0OqiWrBj9Nh5sZsBvtqJTUEcVB88ZX1R1W0kN/fjrVnZqY49OY3105enXL[...]
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-d7743b99-e68f-d5ad-eab5-bda878c950ec/baz/bar/foo",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 10 Jun 2020 19:57:00 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": "7ozxqWI8cWkRj4ijTXyfcKGZ3TL\u002BWJaqU66rkomD2SE8p0OqiWrBj9Nh5sZsBvtqJTUEcVB88ZX1R1W0kN/fjrVnZqY49OY3105enXL[...]
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-d7743b99-e68f-d5ad-eab5-bda878c950ec/foo/foo?comp=metadata",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 10 Jun 2020 19:57:00 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D80D78703F7331\u0022",
        "Last-Modified": "Wed, 10 Jun 2020 19:57:00 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-12-12",
        "x-ms-version-id": "2020-06-10T19:57:00.3388253Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-d7743b99-e68f-d5ad-eab5-bda878c950ec?restype=container\u0026comp=list\u0026delimiter=%2F\u0026maxresults=2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 10 Jun 2020 19:57:00 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CEnumerationResults ServiceEndpoint=\u0022https://seanmcccanary.blob.core.windows.net/\u0022 ContainerName=\u0022test-container-d7743b99-e68f-d5ad-eab5-bda878c950ec\u0022\u003E\u003CMaxResults\u003E2\u003C/MaxResults\u003E\u003CDelimiter\u003E/\u003C/Delimiter\u003E\u003CBlobs\u003E\u003CBlob\u003E\u003CName\u003Ebar\u003C/Name\u0[...]
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-d7743b99-e68f-d5ad-eab5-bda878c950ec?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 10 Jun 2020 19:57:00 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "111208276",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary\nU2FuaXRpemVk\nhttps://seanmcccanary.blob.core.windows.net\nhttps://seanmcccanary.file.core.windows.net\nhttps://seanmcccanary.queue.core.windows.net\nhttps://seanmcccanary.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary-secondary.blob.core.windows.net\nhttps://seanmcccanary-secondary.file.core.windows.net\nhttps://seanmcccanary-secondary.queue.core.windows.net\nhttps://seanmcccanary-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary.queue.core.windows.net/;FileEndpoint=https://seanmcccanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary-secondary.file.core.windows.net/;AccountName=seanmcccanary;AccountKey=Sanitized\nseanscope1"
  }
}