{
  "Entries": [
    {
      "RequestUri": "http://jamesschreppler.blob.core.windows.net/test-container-4f596d9c-21f7-c5db-56cd-8ebfdd55f2cd?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 09 Jun 2020 20:39:34 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D80CB53841F8BF\u0022",
        "Last-Modified": "Tue, 09 Jun 2020 20:39:34 GMT",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://jamesschreppler.blob.core.windows.net/test-container-4f596d9c-21f7-c5db-56cd-8ebfdd55f2cd/foo",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 09 Jun 2020 20:39:34 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": "XqKIGlz9wp4Ayk65ZcidFr/OIjjc7xaD/TZ1Q2SizfMguLSGt/Njn\u002BLZAuxx5\u002BsK4IMK8urkJ26LBBwmiH86XvxamawTF17LaoNWA\u002BwqEhZKamPhl9oJO5FF\u002BrPXPRZjn6TvFk0\u002B9sgkP4hnjSSBYfIG2x4cWMYiUV4bzhyr9Cxt82NIOvvIC3SavFhSoa1tw5nB0GH4R0bdzcXvIyiseUtb\u002BprAOSb2PdCpgpxuz6\u002BwrgqC6SPKdKwcam022ehM7UIM9qcSrIpyypKRTsWqbv0WPnQdKY8nkYXupM65wGToXZRZYdkHnQKAEB\u002BQOSbncvxv[...]
    {
      "RequestUri": "http://jamesschreppler.blob.core.windows.net/test-container-4f596d9c-21f7-c5db-56cd-8ebfdd55f2cd/bar",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 09 Jun 2020 20:39:34 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": "XqKIGlz9wp4Ayk65ZcidFr/OIjjc7xaD/TZ1Q2SizfMguLSGt/Njn\u002BLZAuxx5\u002BsK4IMK8urkJ26LBBwmiH86XvxamawTF17LaoNWA\u00[...]
    {
      "RequestUri": "http://jamesschreppler.blob.core.windows.net/test-container-4f596d9c-21f7-c5db-56cd-8ebfdd55f2cd/baz",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 09 Jun 2020 20:39:34 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": "XqKIGlz9wp4Ayk65ZcidFr/OIjjc7xaD/TZ1Q2SizfMguLSGt/Njn\u002BLZAuxx5\u002BsK4IMK8urkJ26LBBwmiH86XvxamawTF17LaoNWA\u00[...]
    {
      "RequestUri": "http://jamesschreppler.blob.core.windows.net/test-container-4f596d9c-21f7-c5db-56cd-8ebfdd55f2cd/foo/foo",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 09 Jun 2020 20:39:34 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": "XqKIGlz9wp4Ayk65ZcidFr/OIjjc7xaD/TZ1Q2SizfMguLSGt/Njn\u002BLZAuxx5\u002BsK4IMK8urkJ26LBBwmiH86XvxamawTF17LaoNWA[...]
    {
      "RequestUri": "http://jamesschreppler.blob.core.windows.net/test-container-4f596d9c-21f7-c5db-56cd-8ebfdd55f2cd/foo/bar",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 09 Jun 2020 20:39:34 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": "XqKIGlz9wp4Ayk65ZcidFr/OIjjc7xaD/TZ1Q2SizfMguLSGt/Njn\u002BLZAuxx5\u002BsK4IMK8urkJ26LBBwmiH86XvxamawTF17LaoNWA[...]
    {
      "RequestUri": "http://jamesschreppler.blob.core.windows.net/test-container-4f596d9c-21f7-c5db-56cd-8ebfdd55f2cd/baz/foo",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 09 Jun 2020 20:39:34 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": "XqKIGlz9wp4Ayk65ZcidFr/OIjjc7xaD/TZ1Q2SizfMguLSGt/Njn\u002BLZAuxx5\u002BsK4IMK8urkJ26LBBwmiH86XvxamawTF17LaoNWA[...]
    {
      "RequestUri": "http://jamesschreppler.blob.core.windows.net/test-container-4f596d9c-21f7-c5db-56cd-8ebfdd55f2cd/baz/foo/bar",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 09 Jun 2020 20:39:34 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": "XqKIGlz9wp4Ayk65ZcidFr/OIjjc7xaD/TZ1Q2SizfMguLSGt/Njn\u002BLZAuxx5\u002BsK4IMK8urkJ26LBBwmiH86XvxamawTF17La[...]
    {
      "RequestUri": "http://jamesschreppler.blob.core.windows.net/test-container-4f596d9c-21f7-c5db-56cd-8ebfdd55f2cd/baz/bar/foo",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 09 Jun 2020 20:39:34 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": "XqKIGlz9wp4Ayk65ZcidFr/OIjjc7xaD/TZ1Q2SizfMguLSGt/Njn\u002BLZAuxx5\u002BsK4IMK8urkJ26LBBwmiH86XvxamawTF17La[...]
    {
      "RequestUri": "http://jamesschreppler.blob.core.windows.net/test-container-4f596d9c-21f7-c5db-56cd-8ebfdd55f2cd/foo/foo?comp=metadata",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 09 Jun 2020 20:39:34 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D80CB5387AD85B\u0022",
        "Last-Modified": "Tue, 09 Jun 2020 20:39:34 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://jamesschreppler.blob.core.windows.net/test-container-4f596d9c-21f7-c5db-56cd-8ebfdd55f2cd?restype=container\u0026comp=list\u0026delimiter=%2F",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 09 Jun 2020 20:39:34 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CEnumerationResults ServiceEndpoint=\u0022http://jamesschreppler.blob.core.windows.net/\u0022 ContainerName=\u0022test-container-4f596d9c-21f7-c5db-56cd-8ebfdd55f2cd\u0022\u003E\u003CDelimiter\u003E/\u003C/Delimiter\u003E\u003CBlobs\u003E\u003CBlob\u003E\u003CName\u003Ebar\u003C/Name\u003E\u003CProperties\u003E\u003CCreation-Time\[...]
    {
      "RequestUri": "http://jamesschreppler.blob.core.windows.net/test-container-4f596d9c-21f7-c5db-56cd-8ebfdd55f2cd?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 09 Jun 2020 20:39:34 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1801241028",
    "Storage_TestConfigDefault": "ProductionTenant\njamesschreppler\nU2FuaXRpemVk\nhttp://jamesschreppler.blob.core.windows.net\nhttp://jamesschreppler.file.core.windows.net\nhttp://jamesschreppler.queue.core.windows.net\nhttp://jamesschreppler.table.core.windows.net\n\n\n\n\nhttp://jamesschreppler-secondary.blob.core.windows.net\nhttp://jamesschreppler-secondary.file.core.windows.net\nhttp://jamesschreppler-secondary.queue.core.windows.net\nhttp://jamesschreppler-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://jamesschreppler.blob.core.windows.net/;QueueEndpoint=http://jamesschreppler.queue.core.windows.net/;FileEndpoint=http://jamesschreppler.file.core.windows.net/;BlobSecondaryEndpoint=http://jamesschreppler-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://jamesschreppler-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://jamesschreppler-secondary.file.core.windows.net/;AccountName=jamesschreppler;AccountKey=Sanitized\n"
  }
}