{
  "Entries": [
    {
      "RequestUri": "https://473xscnapby3pev24a.blob.preprod.core.windows.net/test-container-d7911d2f-51c6-cf4a-9cf3-c4d2325a1a37?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 23 Mar 2022 19:39:36 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA0D04DD4A093F\u0022",
        "Last-Modified": "Wed, 23 Mar 2022 19:39:36 GMT",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://473xscnapby3pev24a.blob.preprod.core.windows.net/test-container-d7911d2f-51c6-cf4a-9cf3-c4d2325a1a37/foo",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 23 Mar 2022 19:39:36 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": "V1cJAovwyjHnOE8qZ38aaG4Nd32EqYgdXfPm\u002BakaPUGxkHNdKoIqaeqjinea7LbltuytDs5t1K7P7KWXCtGIzPsNeNYLvT3r4g6T4B4Qg3A9AEK8bS9zRLzFjj3dk18ZG718jHTg2vmuwSzA2fOPvmk0WgqOy17LmjMZRi//Dk\u002BuecVglPb8XCVJDqwDsmrINdDUqThVik9esPJBxpTJrrPcEmAuLilyOP7kRb2yyOjIUBBfK2QXWe92AuQEupaRf1/5JqAKmgemYnE6cEWRrOcKeHWEaYNOxbhxuCxEbn1nU8VeuKJHvbYIuMjz3emp5FX9\u002BUIhDRXbq2HnmeLaYvPz0h1/M[...]
    {
      "RequestUri": "https://473xscnapby3pev24a.blob.preprod.core.windows.net/test-container-d7911d2f-51c6-cf4a-9cf3-c4d2325a1a37/bar",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 23 Mar 2022 19:39:36 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": "V1cJAovwyjHnOE8qZ38aaG4Nd32EqYgdXfPm\u002BakaPUGxkH[...]
    {
      "RequestUri": "https://473xscnapby3pev24a.blob.preprod.core.windows.net/test-container-d7911d2f-51c6-cf4a-9cf3-c4d2325a1a37/baz",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 23 Mar 2022 19:39:37 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": "V1cJAovwyjHnOE8qZ38aaG4Nd32EqYgdXfPm\u002BakaPUGxkH[...]
    {
      "RequestUri": "https://473xscnapby3pev24a.blob.preprod.core.windows.net/test-container-d7911d2f-51c6-cf4a-9cf3-c4d2325a1a37/foo/foo",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 23 Mar 2022 19:39:37 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": "V1cJAovwyjHnOE8qZ38aaG4Nd32EqYgdXfPm\u002BakaPU[...]
    {
      "RequestUri": "https://473xscnapby3pev24a.blob.preprod.core.windows.net/test-container-d7911d2f-51c6-cf4a-9cf3-c4d2325a1a37/foo/bar",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 23 Mar 2022 19:39:38 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": "V1cJAovwyjHnOE8qZ38aaG4Nd32EqYgdXfPm\u002BakaPU[...]
    {
      "RequestUri": "https://473xscnapby3pev24a.blob.preprod.core.windows.net/test-container-d7911d2f-51c6-cf4a-9cf3-c4d2325a1a37/baz/foo",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 23 Mar 2022 19:39:38 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": "V1cJAovwyjHnOE8qZ38aaG4Nd32EqYgdXfPm\u002BakaPU[...]
    {
      "RequestUri": "https://473xscnapby3pev24a.blob.preprod.core.windows.net/test-container-d7911d2f-51c6-cf4a-9cf3-c4d2325a1a37/baz/foo/bar",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 23 Mar 2022 19:39:39 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": "V1cJAovwyjHnOE8qZ38aaG4Nd32EqYgdXfPm\u002Ba[...]
    {
      "RequestUri": "https://473xscnapby3pev24a.blob.preprod.core.windows.net/test-container-d7911d2f-51c6-cf4a-9cf3-c4d2325a1a37/baz/bar/foo",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 23 Mar 2022 19:39:39 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": "V1cJAovwyjHnOE8qZ38aaG4Nd32EqYgdXfPm\u002Ba[...]
    {
      "RequestUri": "https://473xscnapby3pev24a.blob.preprod.core.windows.net/test-container-d7911d2f-51c6-cf4a-9cf3-c4d2325a1a37/foo/foo?comp=metadata",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 23 Mar 2022 19:39:40 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA0D04DFBA0502\u0022",
        "Last-Modified": "Wed, 23 Mar 2022 19:39:41 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://473xscnapby3pev24a.blob.preprod.core.windows.net/test-container-d7911d2f-51c6-cf4a-9cf3-c4d2325a1a37?restype=container\u0026comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 23 Mar 2022 19:39:40 GMT",
        "x-ms-ignore-strong-consistency-lock": "true",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CEnumerationResults ServiceEndpoint=\u0022https://473xscnapby3pev24a.blob.preprod.core.windows.net/\u0022 ContainerName=\u0022test-container-d7911d2f-51c6-cf4a-9cf3-c4d2325a1a[...]
    {
      "RequestUri": "https://473xscnapby3pev24a.blob.preprod.core.windows.net/test-container-d7911d2f-51c6-cf4a-9cf3-c4d2325a1a37?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 23 Mar 2022 19:39:40 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1583342504",
    "Storage_TestConfigSecondary": "SecondaryTenant\n473xscnapby3pev24a\nU2FuaXRpemVk\nhttps://473xscnapby3pev24a.blob.preprod.core.windows.net\nhttp://473xscnapby3pev24a.file.core.windows.net\nhttp://473xscnapby3pev24a.queue.core.windows.net\nhttp://473xscnapby3pev24a.table.core.windows.net\n\n\n\n\nhttp://473xscnapby3pev24a-secondary.blob.core.windows.net\nhttp://473xscnapby3pev24a-secondary.file.core.windows.net\nhttp://473xscnapby3pev24a-secondary.queue.core.windows.net\nhttp://473xscnapby3pev24a-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://473xscnapby3pev24a.blob.preprod.core.windows.net/;QueueEndpoint=http://473xscnapby3pev24a.queue.core.windows.net/;FileEndpoint=http://473xscnapby3pev24a.file.core.windows.net/;BlobSecondaryEndpoint=http://473xscnapby3pev24a-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://473xscnapby3pev24a-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://473xscnapby3pev24a-secondary.file.core.windows.net/;AccountName=473xscnapby3pev24a;AccountKey=Sanitized\n\n\n"
  }
}
