{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-9610ec3e-b9b8-e97c-4d37-0652301e4b6f?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 17 Feb 2021 18:59:44 GMT"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D37630C49322\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 18:59:45 GMT"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-9610ec3e-b9b8-e97c-4d37-0652301e4b6f/foo",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 17 Feb 2021 18:59:45 GMT"
      },
      "RequestBody": "\u002BkNMtXiRhc6pEizv9Tx9WyvVMhAuqwm8VeoRRmu7HFuNQkUppVa3jpkh91Mj\u002BUtd56hbC9srUk45j2COfz9j7fbQYbL2U7bVHaN3DbS2mVuftF7CYBB/YvD27xX1KQ5avQldUpeYZpPyhe43tESag/YE7srgoIzlUf/C/2Sg4POVHE\u002BqWEbEBk7L0NoiR66rW2we8DtDeR18dwGY1mYvUaX6opf18CqvQOd8FdCywwlRFqP3gu\u002B4UaIyLeFFLDDnm381J6QWtmtBbrBTx2RMyrT3RsDCN861QlH0w8JJahS3lHlQfJtkOl84thM/ZYk\u002B5WIsTuVwJWOwf\u002BVSIfKo\u002BASbnDPq/E0YkwxgioG7dtzItt5[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-9610ec3e-b9b8-e97c-4d37-0652301e4b6f/bar",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 17 Feb 2021 18:59:45 GMT"
      },
      "RequestBody": "\u002BkNMtXiRhc6pEizv9Tx9WyvVMhAuqwm8VeoRRmu7HFuNQkUppVa3jpkh91Mj\u002BUtd56hbC9srUk45j2COfz9j7fbQYbL[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-9610ec3e-b9b8-e97c-4d37-0652301e4b6f/baz",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 17 Feb 2021 18:59:45 GMT"
      },
      "RequestBody": "\u002BkNMtXiRhc6pEizv9Tx9WyvVMhAuqwm8VeoRRmu7HFuNQkUppVa3jpkh91Mj\u002BUtd56hbC9srUk45j2COfz9j7fbQYbL[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-9610ec3e-b9b8-e97c-4d37-0652301e4b6f/foo/foo",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 17 Feb 2021 18:59:45 GMT"
      },
      "RequestBody": "\u002BkNMtXiRhc6pEizv9Tx9WyvVMhAuqwm8VeoRRmu7HFuNQkUppVa3jpkh91Mj\u002BUtd56hbC9srUk45j2COfz9j7fb[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-9610ec3e-b9b8-e97c-4d37-0652301e4b6f/foo/bar",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 17 Feb 2021 18:59:45 GMT"
      },
      "RequestBody": "\u002BkNMtXiRhc6pEizv9Tx9WyvVMhAuqwm8VeoRRmu7HFuNQkUppVa3jpkh91Mj\u002BUtd56hbC9srUk45j2COfz9j7fb[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-9610ec3e-b9b8-e97c-4d37-0652301e4b6f/baz/foo",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 17 Feb 2021 18:59:45 GMT"
      },
      "RequestBody": "\u002BkNMtXiRhc6pEizv9Tx9WyvVMhAuqwm8VeoRRmu7HFuNQkUppVa3jpkh91Mj\u002BUtd56hbC9srUk45j2COfz9j7fb[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-9610ec3e-b9b8-e97c-4d37-0652301e4b6f/baz/foo/bar",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 17 Feb 2021 18:59:45 GMT"
      },
      "RequestBody": "\u002BkNMtXiRhc6pEizv9Tx9WyvVMhAuqwm8VeoRRmu7HFuNQkUppVa3jpkh91Mj\u002BUtd56hbC9srUk45j2COfz9[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-9610ec3e-b9b8-e97c-4d37-0652301e4b6f/baz/bar/foo",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 17 Feb 2021 18:59:45 GMT"
      },
      "RequestBody": "\u002BkNMtXiRhc6pEizv9Tx9WyvVMhAuqwm8VeoRRmu7HFuNQkUppVa3jpkh91Mj\u002BUtd56hbC9srUk45j2COfz9[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-9610ec3e-b9b8-e97c-4d37-0652301e4b6f/foo/foo?comp=metadata",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 18:59:45 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D376311C1555\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 18:59:45 GMT",
        "x-ms-request-server-encrypted": "true",
         "x-ms-version": "2020-08-04",
        "x-ms-version-id": "2021-02-17T18:59:45.6460901Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-9610ec3e-b9b8-e97c-4d37-0652301e4b6f?restype=container\u0026comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 18:59:45 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml"
      },
      "ResponseBody": "\uFEFF\u003C?xml version=\u00221[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-9610ec3e-b9b8-e97c-4d37-0652301e4b6f?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 18:59:45 GMT"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "764835154",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\nseanscope1"
  }
}