{
  "Entries": [
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-6ff03634-353d-001e-c0ee-1c4fbbb5ab35?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 17 Jul 2019 02:07:49 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D70A5B91B9C683\u0022",
        "Last-Modified": "Wed, 17 Jul 2019 02:07:49 GMT",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-6ff03634-353d-001e-c0ee-1c4fbbb5ab35/foo",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 17 Jul 2019 02:07:49 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": "OC4sWW0OCe3osv0W\u002bSBPaQZ5O30gVWMO\u002bsStKChTGYObahaNiVHHtELqt2coJTKhxaPEbQHWkePLHl\u002bpYeDFlZl6eo4KwuC0sYc6Np385tSRDGOFjquCxdkzwmvyHlNhJSLNrauklgLCELt5m1tGzjiLGFV9Pwbt\u002bLW11v91wpM02BF6Ljgp7XVhw37vCCl\u002b7PMyZwb95OUc4LX17r8CTU0oRcNJy6D/YSvgHHyH/e\u002bMN\u002bkMQlqNNvQrXU6CM/61XnYwx8NlNCFTMwXaHchpleLGaLbW9grzmg7PHm1SfS0sKr0GVjYsJgPIuQ9VshgrwshrvMtH3[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-6ff03634-353d-001e-c0ee-1c4fbbb5ab35/bar",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 17 Jul 2019 02:07:49 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": "OC4sWW0OCe3osv0W\u002bSBPaQZ5O30gVWMO\u002bsStKChTGYObahaNiVHHtELqt2coJTKhxaPEbQHWkePLHl\u002bpYeDFlZl6eo4Kwu[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-6ff03634-353d-001e-c0ee-1c4fbbb5ab35/baz",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 17 Jul 2019 02:07:49 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": "OC4sWW0OCe3osv0W\u002bSBPaQZ5O30gVWMO\u002bsStKChTGYObahaNiVHHtELqt2coJTKhxaPEbQHWkePLHl\u002bpYeDFlZl6eo4Kwu[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-6ff03634-353d-001e-c0ee-1c4fbbb5ab35/foo/foo",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 17 Jul 2019 02:07:50 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": "OC4sWW0OCe3osv0W\u002bSBPaQZ5O30gVWMO\u002bsStKChTGYObahaNiVHHtELqt2coJTKhxaPEbQHWkePLHl\u002bpYeDFlZl6eo[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-6ff03634-353d-001e-c0ee-1c4fbbb5ab35/foo/bar",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 17 Jul 2019 02:07:50 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": "OC4sWW0OCe3osv0W\u002bSBPaQZ5O30gVWMO\u002bsStKChTGYObahaNiVHHtELqt2coJTKhxaPEbQHWkePLHl\u002bpYeDFlZl6eo[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-6ff03634-353d-001e-c0ee-1c4fbbb5ab35/baz/foo",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 17 Jul 2019 02:07:50 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": "OC4sWW0OCe3osv0W\u002bSBPaQZ5O30gVWMO\u002bsStKChTGYObahaNiVHHtELqt2coJTKhxaPEbQHWkePLHl\u002bpYeDFlZl6eo[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-6ff03634-353d-001e-c0ee-1c4fbbb5ab35/baz/foo/bar",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 17 Jul 2019 02:07:50 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": "OC4sWW0OCe3osv0W\u002bSBPaQZ5O30gVWMO\u002bsStKChTGYObahaNiVHHtELqt2coJTKhxaPEbQHWkePLHl\u002bpYeDFlZ[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-6ff03634-353d-001e-c0ee-1c4fbbb5ab35/baz/bar/foo",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 17 Jul 2019 02:07:50 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": "OC4sWW0OCe3osv0W\u002bSBPaQZ5O30gVWMO\u002bsStKChTGYObahaNiVHHtELqt2coJTKhxaPEbQHWkePLHl\u002bpYeDFlZ[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-6ff03634-353d-001e-c0ee-1c4fbbb5ab35/foo/foo?comp=metadata",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Jul 2019 02:07:50 GMT",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D70A5B91CEBBF9\u0022",
        "Last-Modified": "Wed, 17 Jul 2019 02:07:50 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-6ff03634-353d-001e-c0ee-1c4fbbb5ab35?restype=container\u0026comp=list\u0026maxresults=2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Jul 2019 02:07:50 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": "\ufeff\u003c?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003e\u003cEnumerationResults ServiceEndpoint=\u0022http://storageteglazatesting.blob.core.windows.net/\u0022 ContainerName=\u0022test-container-6ff03634-353d-001e-c0ee-1c4fbbb5ab35\u0022\u003e\u003cMaxResults\u003e2\u003c/MaxResults\u003e\u003cBlobs\u003e\u003cBlob\u003e\u003cName\u003ebar\u003c/Name\u003e\u003cProperties\u003e\u003cCreati[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-6ff03634-353d-001e-c0ee-1c4fbbb5ab35?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Jul 2019 02:07:50 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1832602272",
    "Storage_TestConfigDefault": "ProductionTenant\nstorageteglazatesting\nU2FuaXRpemVk\nhttp://storageteglazatesting.blob.core.windows.net\nhttp://storageteglazatesting.file.core.windows.net\nhttp://storageteglazatesting.queue.core.windows.net\nhttp://storageteglazatesting.table.core.windows.net\n\n\n\n\nhttp://storageteglazatesting-secondary.blob.core.windows.net\n\nhttp://storageteglazatesting-secondary.queue.core.windows.net\nhttp://storageteglazatesting-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://storageteglazatesting.blob.core.windows.net/;QueueEndpoint=http://storageteglazatesting.queue.core.windows.net/;TableEndpoint=http://storageteglazatesting.table.core.windows.net/;FileEndpoint=http://storageteglazatesting.file.core.windows.net/;BlobSecondaryEndpoint=http://storageteglazatesting-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://storageteglazatesting-secondary.queue.core.windows.net/;TableSecondaryEndpoint=http://storageteglazatesting-secondary.table.core.windows.net/;AccountName=storageteglazatesting;AccountKey=Sanitized"
  }
}