{
  "Entries": [
    {
      "RequestUri": "https://ortestsaccountcbn1.blob.core.windows.net/test1?restype=container\u0026comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 26 Jun 2020 22:22:38 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CEnumerationResults ServiceEndpoint=\u0022https://ortestsaccountcbn1.blob.core.windows.net/\u0022 ContainerName=\u0022test1\u0022\u003E\u003CBlobs\u003E\u003CBlob\u003E\u003CName\u003Ebla.txt\u003C/Name\u003E\u003CVersionId\u003E2020-05-18T09:53:04.5502688Z\u003C/VersionId\u003E\u003CIsCurrentVersion\u003Etrue\u003C/IsCurrentVersion\u003E\u003CProperties\u003E\u003CCreation-Time\u003EMon, 18 May 2020 09:53:04 GMT\u0[...]
