{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-b9f5ed2d-b861-c91f-1a5b-aedf6913eae6?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Fri, 19 Jun 2020 19:18:39 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D81485938F1491\u0022",
        "Last-Modified": "Fri, 19 Jun 2020 19:18:41 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-b9f5ed2d-b861-c91f-1a5b-aedf6913eae6/foo",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 19 Jun 2020 19:18:39 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": "lJDhWlcghoMCpmracw/jQHtUfCuhbKngXRcndPCIu7d6intV\u002BIYCQrjue5fgH1FBlXjnPhrgFyfnAfxA\u002BRGSeuqzX\u002BmUjkj0Ujpys/AR/z7F5d94oH2dmnJUbfeKwkimWwGtLb9orQYw8\u002BzfbWQ21QG9ehQxGtlsFcV2QCFQao/yy1fvZNF/XTjZR62QvSwOHZf1zEc0dUEoQBf58Wzl34hc7KEMR3EwPRzbWNIs3FeZaCKJW51HvlYWxyO5hmzL82ckM9GKAtYmxY4rWB1u/GS/X4lKXITqFC5L9YBNdrewD2RqB6iGD2VMYpUPHGU5p8q/\u002BSbigZfjOh6iPgx[...]
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-b9f5ed2d-b861-c91f-1a5b-aedf6913eae6/bar",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 19 Jun 2020 19:18:40 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": "lJDhWlcghoMCpmracw/jQHtUfCuhbKngXRcndPCIu7d6intV\u002BIYCQrjue5fgH1FBlXjnPhrgFyfnAfxA\u002BRGSeuqzX\u002BmUjkj0Ujpys[...]
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-b9f5ed2d-b861-c91f-1a5b-aedf6913eae6/baz",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 19 Jun 2020 19:18:40 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": "lJDhWlcghoMCpmracw/jQHtUfCuhbKngXRcndPCIu7d6intV\u002BIYCQrjue5fgH1FBlXjnPhrgFyfnAfxA\u002BRGSeuqzX\u002BmUjkj0Ujpys[...]
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-b9f5ed2d-b861-c91f-1a5b-aedf6913eae6/foo%2Ffoo",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 19 Jun 2020 19:18:40 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": "lJDhWlcghoMCpmracw/jQHtUfCuhbKngXRcndPCIu7d6intV\u002BIYCQrjue5fgH1FBlXjnPhrgFyfnAfxA\u002BRGSeuqzX\u002BmUjkj[...]
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-b9f5ed2d-b861-c91f-1a5b-aedf6913eae6/foo%2Fbar",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 19 Jun 2020 19:18:40 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": "lJDhWlcghoMCpmracw/jQHtUfCuhbKngXRcndPCIu7d6intV\u002BIYCQrjue5fgH1FBlXjnPhrgFyfnAfxA\u002BRGSeuqzX\u002BmUjkj[...]
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-b9f5ed2d-b861-c91f-1a5b-aedf6913eae6/baz%2Ffoo",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 19 Jun 2020 19:18:40 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": "lJDhWlcghoMCpmracw/jQHtUfCuhbKngXRcndPCIu7d6intV\u002BIYCQrjue5fgH1FBlXjnPhrgFyfnAfxA\u002BRGSeuqzX\u002BmUjkj[...]
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-b9f5ed2d-b861-c91f-1a5b-aedf6913eae6/baz%2Ffoo%2Fbar",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 19 Jun 2020 19:18:40 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": "lJDhWlcghoMCpmracw/jQHtUfCuhbKngXRcndPCIu7d6intV\u002BIYCQrjue5fgH1FBlXjnPhrgFyfnAfxA\u002BRGSeuqzX\u002[...]
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-b9f5ed2d-b861-c91f-1a5b-aedf6913eae6/baz%2Fbar%2Ffoo",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 19 Jun 2020 19:18:40 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": "lJDhWlcghoMCpmracw/jQHtUfCuhbKngXRcndPCIu7d6intV\u002BIYCQrjue5fgH1FBlXjnPhrgFyfnAfxA\u002BRGSeuqzX\u002[...]
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-b9f5ed2d-b861-c91f-1a5b-aedf6913eae6/foo%2Ffoo?comp=metadata",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 19 Jun 2020 19:18:40 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8148593E3B0BE\u0022",
        "Last-Modified": "Fri, 19 Jun 2020 19:18:41 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-04-08",
        "x-ms-version-id": "2020-06-19T19:18:41.7313742Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-b9f5ed2d-b861-c91f-1a5b-aedf6913eae6?restype=container\u0026comp=list\u0026maxresults=2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 19 Jun 2020 19:18:40 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CEnumerationResults ServiceEndpoint=\u0022https://seanmcccanary.blob.core.windows.net/\u0022 ContainerName=\u0022test-container-b9f5ed2d-b861-c91f-1a5b-aedf6913eae6\u0022\u003E\u003CMaxResults\u003E2\u003C/MaxResults\u003E\u003CBlobs\u003E\u003CBlob\u003E\u003CName\u003Ebar\u003C/Name\u003E\u003CVersionId\u003E2020-06-19T19:18:41.[...]
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-b9f5ed2d-b861-c91f-1a5b-aedf6913eae6?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 19 Jun 2020 19:18:40 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1967572656",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary\nU2FuaXRpemVk\nhttps://seanmcccanary.blob.core.windows.net\nhttps://seanmcccanary.file.core.windows.net\nhttps://seanmcccanary.queue.core.windows.net\nhttps://seanmcccanary.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary-secondary.blob.core.windows.net\nhttps://seanmcccanary-secondary.file.core.windows.net\nhttps://seanmcccanary-secondary.queue.core.windows.net\nhttps://seanmcccanary-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary.queue.core.windows.net/;FileEndpoint=https://seanmcccanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary-secondary.file.core.windows.net/;AccountName=seanmcccanary;AccountKey=Sanitized\nseanscope1"
  }
}