{
  "Entries": [
    {
      "RequestUri": "http://seanstagetest.blob.core.windows.net/test-container-9c28c0cc-7a09-7ba8-6c26-35ad861dd1b8?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 11 Dec 2019 04:03:05 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D77DEF06755F11\u0022",
        "Last-Modified": "Wed, 11 Dec 2019 04:03:05 GMT",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagetest.blob.core.windows.net/test-container-9c28c0cc-7a09-7ba8-6c26-35ad861dd1b8/foo",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 11 Dec 2019 04:03:05 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": "I3sVvHWk0CO9gprcqTDHQbgoxNLrTBOGOS/LzSLIxW6wGFQ4FLKXQ\u002BMOxyOZEK/dSESCt82qzddoj4JF2QIA9LwsLJHcjy0FkYHv3ITv7CiA7YTeRg6hBUp8z4QvUWrgDtNnbeQeALkXfSZMuvFSeaJaxet\u002BIq6uiiZHX8Co1UAWD86xiH9EYu3Lx8noVUtZKVbi1Yt\u002BYewluOK91qH4bqfmNaoiofEjFWL\u002Bs1vlxjXb7jZqxgC0mK7ijM\u002BchotL0lgiASCgNohkvr8ogK6RQPKt4uhrjqimMp38QBUhho7XsuECwsQVOretBQdAixcAUUzc76Si4EOve8\u002[...]
    {
      "RequestUri": "http://seanstagetest.blob.core.windows.net/test-container-9c28c0cc-7a09-7ba8-6c26-35ad861dd1b8/bar",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 11 Dec 2019 04:03:05 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": "I3sVvHWk0CO9gprcqTDHQbgoxNLrTBOGOS/LzSLIxW6wGFQ4FLKXQ\u002BMOxyOZEK/dSESCt82qzddoj4JF2QIA9LwsLJHcjy0FkYHv3ITv7CiA7YTe[...]
    {
      "RequestUri": "http://seanstagetest.blob.core.windows.net/test-container-9c28c0cc-7a09-7ba8-6c26-35ad861dd1b8/baz",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 11 Dec 2019 04:03:05 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": "I3sVvHWk0CO9gprcqTDHQbgoxNLrTBOGOS/LzSLIxW6wGFQ4FLKXQ\u002BMOxyOZEK/dSESCt82qzddoj4JF2QIA9LwsLJHcjy0FkYHv3ITv7CiA7YTe[...]
    {
      "RequestUri": "http://seanstagetest.blob.core.windows.net/test-container-9c28c0cc-7a09-7ba8-6c26-35ad861dd1b8/foo/foo",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 11 Dec 2019 04:03:05 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": "I3sVvHWk0CO9gprcqTDHQbgoxNLrTBOGOS/LzSLIxW6wGFQ4FLKXQ\u002BMOxyOZEK/dSESCt82qzddoj4JF2QIA9LwsLJHcjy0FkYHv3ITv7CiA[...]
    {
      "RequestUri": "http://seanstagetest.blob.core.windows.net/test-container-9c28c0cc-7a09-7ba8-6c26-35ad861dd1b8/foo/bar",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 11 Dec 2019 04:03:05 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": "I3sVvHWk0CO9gprcqTDHQbgoxNLrTBOGOS/LzSLIxW6wGFQ4FLKXQ\u002BMOxyOZEK/dSESCt82qzddoj4JF2QIA9LwsLJHcjy0FkYHv3ITv7CiA[...]
    {
      "RequestUri": "http://seanstagetest.blob.core.windows.net/test-container-9c28c0cc-7a09-7ba8-6c26-35ad861dd1b8/baz/foo",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 11 Dec 2019 04:03:05 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": "I3sVvHWk0CO9gprcqTDHQbgoxNLrTBOGOS/LzSLIxW6wGFQ4FLKXQ\u002BMOxyOZEK/dSESCt82qzddoj4JF2QIA9LwsLJHcjy0FkYHv3ITv7CiA[...]
    {
      "RequestUri": "http://seanstagetest.blob.core.windows.net/test-container-9c28c0cc-7a09-7ba8-6c26-35ad861dd1b8/baz/foo/bar",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 11 Dec 2019 04:03:06 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": "I3sVvHWk0CO9gprcqTDHQbgoxNLrTBOGOS/LzSLIxW6wGFQ4FLKXQ\u002BMOxyOZEK/dSESCt82qzddoj4JF2QIA9LwsLJHcjy0FkYHv3ITv[...]
    {
      "RequestUri": "http://seanstagetest.blob.core.windows.net/test-container-9c28c0cc-7a09-7ba8-6c26-35ad861dd1b8/baz/bar/foo",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 11 Dec 2019 04:03:06 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": "I3sVvHWk0CO9gprcqTDHQbgoxNLrTBOGOS/LzSLIxW6wGFQ4FLKXQ\u002BMOxyOZEK/dSESCt82qzddoj4JF2QIA9LwsLJHcjy0FkYHv3ITv[...]
    {
      "RequestUri": "http://seanstagetest.blob.core.windows.net/test-container-9c28c0cc-7a09-7ba8-6c26-35ad861dd1b8/foo/foo?comp=metadata",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 11 Dec 2019 04:03:06 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D77DEF06E339B3\u0022",
        "Last-Modified": "Wed, 11 Dec 2019 04:03:06 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanstagetest.blob.core.windows.net/test-container-9c28c0cc-7a09-7ba8-6c26-35ad861dd1b8?restype=container\u0026comp=list\u0026maxresults=2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 11 Dec 2019 04:03:06 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CEnumerationResults ServiceEndpoint=\u0022http://seanstagetest.blob.core.windows.net/\u0022 ContainerName=\u0022test-container-9c28c0cc-7a09-7ba8-6c26-35ad861dd1b8\u0022\u003E\u003CMaxResults\u003E2\u003C/MaxResults\u003E\u003CBlobs\u003E\u003CBlob\u003E\u003CName\u003Ebar\u003C/Name\u003E\u003CProperties\u003E\u003CCreation-Time\[...]
    {
      "RequestUri": "http://seanstagetest.blob.core.windows.net/test-container-9c28c0cc-7a09-7ba8-6c26-35ad861dd1b8?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 11 Dec 2019 04:03:06 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "714752713",
    "Storage_TestConfigDefault": "ProductionTenant\nseanstagetest\nU2FuaXRpemVk\nhttp://seanstagetest.blob.core.windows.net\nhttp://seanstagetest.file.core.windows.net\nhttp://seanstagetest.queue.core.windows.net\nhttp://seanstagetest.table.core.windows.net\n\n\n\n\nhttp://seanstagetest-secondary.blob.core.windows.net\nhttp://seanstagetest-secondary.file.core.windows.net\nhttp://seanstagetest-secondary.queue.core.windows.net\nhttp://seanstagetest-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanstagetest.blob.core.windows.net/;QueueEndpoint=http://seanstagetest.queue.core.windows.net/;FileEndpoint=http://seanstagetest.file.core.windows.net/;BlobSecondaryEndpoint=http://seanstagetest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanstagetest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanstagetest-secondary.file.core.windows.net/;AccountName=seanstagetest;AccountKey=Sanitized\nseanscope1"
  }
}