{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-8fafcf20-12dd-1dfa-25ae-1a28000a1532?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 10 Jun 2020 19:56:54 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D80D786D0C53AD\u0022",
        "Last-Modified": "Wed, 10 Jun 2020 19:56:54 GMT",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-8fafcf20-12dd-1dfa-25ae-1a28000a1532/foo",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 10 Jun 2020 19:56:54 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": "qH0StMAx6iMNjr1AOnoqsQb3Y3PMg4BKo8QnEoWRg7wzgNd1YfRjk6IbgyOy4XcDbsUqpbH1iiT8yBD7CdidfAoADbmitVARlNDRsQBcmMFNJKPAZt4LPvazeJnjaInKfQcZsdS9YLl0GBHhI9kkny9OreU03BUs9c/D7jy3LixGBjP4Q\u002BftkMPpS03MKhodj9lqlLqjlaDx7LsF\u002BXF9verlmh2lK1xHYR0iSpDIYMu0pl9jTZlxo3CSB1cr6JZRbI5j55D9d2R9IjOdgEoPKIzwUFMSGXBRdPasEiMEG3mG0d4CZXg6ty765ipl0yImg97KO5dDPlIdEnOZUWVAeAa6Fq9sDcMTtZ[...]
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-8fafcf20-12dd-1dfa-25ae-1a28000a1532/bar",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 10 Jun 2020 19:56:54 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": "qH0StMAx6iMNjr1AOnoqsQb3Y3PMg4BKo8QnEoWRg7wzgNd1YfRjk6IbgyOy4XcDbsUqpbH1iiT8yBD7CdidfAoADbmitVARlNDRsQBcmMFNJKPAZt4L[...]
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-8fafcf20-12dd-1dfa-25ae-1a28000a1532/baz",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 10 Jun 2020 19:56:54 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": "qH0StMAx6iMNjr1AOnoqsQb3Y3PMg4BKo8QnEoWRg7wzgNd1YfRjk6IbgyOy4XcDbsUqpbH1iiT8yBD7CdidfAoADbmitVARlNDRsQBcmMFNJKPAZt4L[...]
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-8fafcf20-12dd-1dfa-25ae-1a28000a1532/foo/foo",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 10 Jun 2020 19:56:54 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": "qH0StMAx6iMNjr1AOnoqsQb3Y3PMg4BKo8QnEoWRg7wzgNd1YfRjk6IbgyOy4XcDbsUqpbH1iiT8yBD7CdidfAoADbmitVARlNDRsQBcmMFNJKPA[...]
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-8fafcf20-12dd-1dfa-25ae-1a28000a1532/foo/bar",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 10 Jun 2020 19:56:55 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": "qH0StMAx6iMNjr1AOnoqsQb3Y3PMg4BKo8QnEoWRg7wzgNd1YfRjk6IbgyOy4XcDbsUqpbH1iiT8yBD7CdidfAoADbmitVARlNDRsQBcmMFNJKPA[...]
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-8fafcf20-12dd-1dfa-25ae-1a28000a1532/baz/foo",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 10 Jun 2020 19:56:55 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": "qH0StMAx6iMNjr1AOnoqsQb3Y3PMg4BKo8QnEoWRg7wzgNd1YfRjk6IbgyOy4XcDbsUqpbH1iiT8yBD7CdidfAoADbmitVARlNDRsQBcmMFNJKPA[...]
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-8fafcf20-12dd-1dfa-25ae-1a28000a1532/baz/foo/bar",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 10 Jun 2020 19:56:55 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": "qH0StMAx6iMNjr1AOnoqsQb3Y3PMg4BKo8QnEoWRg7wzgNd1YfRjk6IbgyOy4XcDbsUqpbH1iiT8yBD7CdidfAoADbmitVARlNDRsQBcmMFN[...]
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-8fafcf20-12dd-1dfa-25ae-1a28000a1532/baz/bar/foo",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 10 Jun 2020 19:56:55 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": "qH0StMAx6iMNjr1AOnoqsQb3Y3PMg4BKo8QnEoWRg7wzgNd1YfRjk6IbgyOy4XcDbsUqpbH1iiT8yBD7CdidfAoADbmitVARlNDRsQBcmMFN[...]
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-8fafcf20-12dd-1dfa-25ae-1a28000a1532/foo/foo?comp=metadata",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 10 Jun 2020 19:56:55 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D80D786D5D9D70\u0022",
        "Last-Modified": "Wed, 10 Jun 2020 19:56:55 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-12-12",
        "x-ms-version-id": "2020-06-10T19:56:55.5023488Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-8fafcf20-12dd-1dfa-25ae-1a28000a1532?restype=container\u0026comp=list\u0026prefix=foo",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 10 Jun 2020 19:56:55 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CEnumerationResults ServiceEndpoint=\u0022https://seanmcccanary.blob.core.windows.net/\u0022 ContainerName=\u0022test-container-8fafcf20-12dd-1dfa-25ae-1a28000a1532\u0022\u003E\u003CPrefix\u003Efoo\u003C/Prefix\u003E\u003CBlobs\u003E\u003CBlob\u003E\u003CName\u003Efoo\u003C/Name\u003E\u003CVersionId\u003E2020-06-10T19:56:55.028009[...]
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-8fafcf20-12dd-1dfa-25ae-1a28000a1532?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 10 Jun 2020 19:56:55 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "465334250",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary\nU2FuaXRpemVk\nhttps://seanmcccanary.blob.core.windows.net\nhttps://seanmcccanary.file.core.windows.net\nhttps://seanmcccanary.queue.core.windows.net\nhttps://seanmcccanary.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary-secondary.blob.core.windows.net\nhttps://seanmcccanary-secondary.file.core.windows.net\nhttps://seanmcccanary-secondary.queue.core.windows.net\nhttps://seanmcccanary-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary.queue.core.windows.net/;FileEndpoint=https://seanmcccanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary-secondary.file.core.windows.net/;AccountName=seanmcccanary;AccountKey=Sanitized\nseanscope1"
  }
}