{
  "Entries": [
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-100c62ea-c05c-9f6c-5593-9c69bf22defc?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Fri, 12 Jul 2019 17:54:40 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D706F203815F95\u0022",
        "Last-Modified": "Fri, 12 Jul 2019 17:54:40 GMT",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-100c62ea-c05c-9f6c-5593-9c69bf22defc/foo",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 12 Jul 2019 17:54:40 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": "99L5lA7wMr5/UPRI\u002b97fQYj0y6c0YJFEcT11yARAnnp\u002btHHtKUntWMHglh\u002bxp9O8tHqjDA9stJdAtSLQe2q6P7J6yUdt8hg\u002bBnLlVMlxkslquBOKnZJrEf/arHMmHN1XJldtN96MT8JhZAWchmDNziJYZsJWL6EfDrdHkkWkF\u002bmUji1xBFvr3WlRKDiNzoqfDN5RzrYaAfa2TigmRLx8vE0bCPgyW8rHbYhZBAdokkAsqIZnU0kzeow3u7UyxJis1WzqcsaSbLATiWAtwf3vTbvo\u002bpw2FWgE541r\u002bqAUlajvrC\u002bafSB6mjvVU8roBbmPSG75[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-100c62ea-c05c-9f6c-5593-9c69bf22defc/bar",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 12 Jul 2019 17:54:40 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": "99L5lA7wMr5/UPRI\u002b97fQYj0y6c0YJFEcT11yARAnnp\u002btHHtKUntWMHglh\u002bxp9O8tHqjDA9stJdAtSLQe2q6P7J6yUdt8h[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-100c62ea-c05c-9f6c-5593-9c69bf22defc/baz",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 12 Jul 2019 17:54:40 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": "99L5lA7wMr5/UPRI\u002b97fQYj0y6c0YJFEcT11yARAnnp\u002btHHtKUntWMHglh\u002bxp9O8tHqjDA9stJdAtSLQe2q6P7J6yUdt8h[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-100c62ea-c05c-9f6c-5593-9c69bf22defc/foo/foo",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 12 Jul 2019 17:54:40 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": "99L5lA7wMr5/UPRI\u002b97fQYj0y6c0YJFEcT11yARAnnp\u002btHHtKUntWMHglh\u002bxp9O8tHqjDA9stJdAtSLQe2q6P7J6yU[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-100c62ea-c05c-9f6c-5593-9c69bf22defc/foo/bar",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 12 Jul 2019 17:54:40 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": "99L5lA7wMr5/UPRI\u002b97fQYj0y6c0YJFEcT11yARAnnp\u002btHHtKUntWMHglh\u002bxp9O8tHqjDA9stJdAtSLQe2q6P7J6yU[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-100c62ea-c05c-9f6c-5593-9c69bf22defc/baz/foo",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 12 Jul 2019 17:54:40 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": "99L5lA7wMr5/UPRI\u002b97fQYj0y6c0YJFEcT11yARAnnp\u002btHHtKUntWMHglh\u002bxp9O8tHqjDA9stJdAtSLQe2q6P7J6yU[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-100c62ea-c05c-9f6c-5593-9c69bf22defc/baz/foo/bar",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 12 Jul 2019 17:54:40 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": "99L5lA7wMr5/UPRI\u002b97fQYj0y6c0YJFEcT11yARAnnp\u002btHHtKUntWMHglh\u002bxp9O8tHqjDA9stJdAtSLQe2q6P7[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-100c62ea-c05c-9f6c-5593-9c69bf22defc/baz/bar/foo",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 12 Jul 2019 17:54:40 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": "99L5lA7wMr5/UPRI\u002b97fQYj0y6c0YJFEcT11yARAnnp\u002btHHtKUntWMHglh\u002bxp9O8tHqjDA9stJdAtSLQe2q6P7[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-100c62ea-c05c-9f6c-5593-9c69bf22defc/foo/foo?comp=metadata",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 12 Jul 2019 17:54:40 GMT",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D706F2039D55FF\u0022",
        "Last-Modified": "Fri, 12 Jul 2019 17:54:40 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-100c62ea-c05c-9f6c-5593-9c69bf22defc?restype=container\u0026comp=list\u0026delimiter=%2F\u0026maxresults=2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 12 Jul 2019 17:54:40 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": "\ufeff\u003c?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003e\u003cEnumerationResults ServiceEndpoint=\u0022http://storageteglazatesting.blob.core.windows.net/\u0022 ContainerName=\u0022test-container-100c62ea-c05c-9f6c-5593-9c69bf22defc\u0022\u003e\u003cMaxResults\u003e2\u003c/MaxResults\u003e\u003cDelimiter\u003e/\u003c/Delimiter\u003e\u003cBlobs\u003e\u003cBlob\u003e\u003cName\u003ebar\u003c/[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-100c62ea-c05c-9f6c-5593-9c69bf22defc?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 12 Jul 2019 17:54:40 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "308442798",
    "Storage_TestConfigDefault": "ProductionTenant\nstorageteglazatesting\nU2FuaXRpemVk\nhttp://storageteglazatesting.blob.core.windows.net\nhttp://storageteglazatesting.file.core.windows.net\nhttp://storageteglazatesting.queue.core.windows.net\nhttp://storageteglazatesting.table.core.windows.net\n\n\n\n\nhttp://storageteglazatesting-secondary.blob.core.windows.net\n\nhttp://storageteglazatesting-secondary.queue.core.windows.net\nhttp://storageteglazatesting-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://storageteglazatesting.blob.core.windows.net/;QueueEndpoint=http://storageteglazatesting.queue.core.windows.net/;TableEndpoint=http://storageteglazatesting.table.core.windows.net/;FileEndpoint=http://storageteglazatesting.file.core.windows.net/;BlobSecondaryEndpoint=http://storageteglazatesting-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://storageteglazatesting-secondary.queue.core.windows.net/;TableSecondaryEndpoint=http://storageteglazatesting-secondary.table.core.windows.net/;AccountName=storageteglazatesting;AccountKey=Sanitized"
  }
}