{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-0e27ba4e-b0b3-1285-b83d-8b0c80b26fbd?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 17 Feb 2021 18:59:19 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8D8D376219E9D54\"",
        "Last-Modified": "Wed, 17 Feb 2021 18:59:19 GMT",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-0e27ba4e-b0b3-1285-b83d-8b0c80b26fbd/test-blob-13997125-b5fe-8942-ae99-a1a3387bf00c?comp=block&blockid=dGVzdC1ibG9jay01YWIwOTc1NC1jOTk0LTQ0OWEtYTIwYi1iNTA2Mzk4ODZmNzA%3D",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 17 Feb 2021 18:59:19 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": "1hJsGSjwXU8IbXeWFBWq+MfC47ASVHrpIwDPxvTRpa0epCDQBy6NNRRJCpA9rHWY76jbdpc/+YKYgvYnIJdbN8fKd3D12fCZNa6cyEnprHeLN9ZM9i8V3qqeOIQ4ZRR87tPJczQEoxW3QkDpozE4rtZ+nOnBD0CXtJjGVqFsYNCaH9p1IDhChpPBlLTvLDt5ZYmuuskru96SMr+bPkxzS+FwToNWw46eOxVV/3qMqIddTfEYvaUHb2T74u55p0hHTUjSft23IqL7D36z1btjBYk3PvFbW408ad8fWuCgJZTMDrIyuimppSpPHK4nU5mpl9xkQWhW7PG7lhX+mMjBW+rq5scIM[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-0e27ba4e-b0b3-1285-b83d-8b0c80b26fbd?restype=container&comp=list&include=Uncommittedblobs",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 18:59:19 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://seanmcccanary3.blob.core.windows.net/\" ContainerName=\"test-container-0e27ba4e-b0b3-1285-b83d-8b0c80b26fbd\"><Blobs><Blob><Name>test-blob-13997125-b5fe-8942-ae99-a1a3387bf00c</Name><Properties><Content-Length>0</Content-Length><BlobType>BlockBlob</BlobType><AccessTier>Hot</AccessTier><AccessTierInferred>true</AccessTierInferred><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>false</ServerEncrypted></Properties><OrMetadata /></Blob></Blobs><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-0e27ba4e-b0b3-1285-b83d-8b0c80b26fbd?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 18:59:19 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1420237412",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\nseanscope1\n\n"
  }
}