{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-1748637c-8821-a243-9a3e-c545c286ea07?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 17 Feb 2021 02:30:16 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D2EBF697F33F\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 02:30:16 GMT",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-1748637c-8821-a243-9a3e-c545c286ea07/foo",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 17 Feb 2021 02:30:16 GMT",
        "x-ms-encryption-algorithm": "AES256",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": "2VbfnHfyAaA/xoVR0Yr7jnr09COcUYXlMXhERvho/\u002BE4b99QKydZX51IWbuqXSN8k1NBjbx0q4fQ\u002Bmv/rbqo1sajGWGqq2NSm5WFU/jJOtNUyLOkJ3ElxMNYfzG8WbHjoIP1B0TB0ufw7/In7liPB7\u002BYquUGA69VflWeUiwylkLjorJ11DOPkvbMtDd//dVqyHhyI6/M3JzTn4nuI3\u002B6vVmvQ0ulGjKLCRfvOk931YB/M4m0wHKSFsYVoTSqoG92Evbez7mJxa5F5hqX3aJNXMoIb\u002B/2Bf3nHS2Fj3j\u002B4WioeCdZmQbG9m7ab9lX\u002BjkjyERqoTF/fwz49rKMBDU1RwSx72R69MLEQnmAHJYjjyLzYcc0kz83KPkbYKJTOfE5pC[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-1748637c-8821-a243-9a3e-c545c286ea07/bar",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 17 Feb 2021 02:30:16 GMT",
        "x-ms-encryption-algorithm": "AES256",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": "2VbfnHfyAaA/xoVR[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-1748637c-8821-a243-9a3e-c545c286ea07/baz",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 17 Feb 2021 02:30:16 GMT",
        "x-ms-encryption-algorithm": "AES256",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": "2VbfnHfyAaA/xoVR[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-1748637c-8821-a243-9a3e-c545c286ea07/foo/foo",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 17 Feb 2021 02:30:17 GMT",
        "x-ms-encryption-algorithm": "AES256",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": "2VbfnHfyAaA/[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-1748637c-8821-a243-9a3e-c545c286ea07/foo/bar",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 17 Feb 2021 02:30:17 GMT",
        "x-ms-encryption-algorithm": "AES256",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": "2VbfnHfyAaA/[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-1748637c-8821-a243-9a3e-c545c286ea07/baz/foo",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 17 Feb 2021 02:30:17 GMT",
        "x-ms-encryption-algorithm": "AES256",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": "2VbfnHfyAaA/[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-1748637c-8821-a243-9a3e-c545c286ea07/baz/foo/bar",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 17 Feb 2021 02:30:17 GMT",
        "x-ms-encryption-algorithm": "AES256",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": "2VbfnHfy[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-1748637c-8821-a243-9a3e-c545c286ea07/baz/bar/foo",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 17 Feb 2021 02:30:17 GMT",
        "x-ms-encryption-algorithm": "AES256",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": "2VbfnHfy[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-1748637c-8821-a243-9a3e-c545c286ea07/foo/foo?comp=metadata",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 02:30:17 GMT",
        "x-ms-encryption-algorithm": "AES256",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D2EBF6FBB6AC\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 02:30:17 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-06-12",
        "x-ms-version-id": "2021-02-17T02:30:17.5784145Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-1748637c-8821-a243-9a3e-c545c286ea07?restype=container\u0026comp=list\u0026prefix=foo",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 02:30:17 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-1748637c-8821-a243-9a3e-c545c286ea07?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 02:30:17 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "572484369",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\nseanscope1"
  }
}