{
  "Entries": [
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-9c28c0cc-7a09-7ba8-6c26-35ad861dd1b8?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 17 Jul 2019 02:07:57 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D70A5B962D7933\u0022",
        "Last-Modified": "Wed, 17 Jul 2019 02:07:57 GMT",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-9c28c0cc-7a09-7ba8-6c26-35ad861dd1b8/foo",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 17 Jul 2019 02:07:57 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": "6LMyhKU07FgNEIY64JJ9uSN7Fbx1pNAjvYKa3Kkwx0G4KMTS60wThjkvy80iyMVusBhUOBSyl0PjDscjmRCv3UhEgrfNqs3XaI\u002bCRdkCAPS8LCyR3I8tBZGB79yE7\u002bwogO2E3kYOoQVKfM\u002bEL1Fq4A7TZ23kHgC5F30mTLrxUnmiWsXrfiKuroomR1/AqNVAFg/OsYh/RGLty8fJ6FVLWSlW4tWLfmHsJbjivdah\u002bG6n5jWqIqHxIxVi/rNb5cY12\u002b42asYAtJiu4ozPnIaLS9JYIgEgoDaIZL6/KICukUDyreLoa46opjKd/EAVIYaO17LhAsLEFTq3rQUHQIs[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-9c28c0cc-7a09-7ba8-6c26-35ad861dd1b8/bar",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 17 Jul 2019 02:07:57 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": "6LMyhKU07FgNEIY64JJ9uSN7Fbx1pNAjvYKa3Kkwx0G4KMTS60wThjkvy80iyMVusBhUOBSyl0PjDscjmRCv3UhEgrfNqs3XaI\u002bCRdkC[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-9c28c0cc-7a09-7ba8-6c26-35ad861dd1b8/baz",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 17 Jul 2019 02:07:57 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": "6LMyhKU07FgNEIY64JJ9uSN7Fbx1pNAjvYKa3Kkwx0G4KMTS60wThjkvy80iyMVusBhUOBSyl0PjDscjmRCv3UhEgrfNqs3XaI\u002bCRdkC[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-9c28c0cc-7a09-7ba8-6c26-35ad861dd1b8/foo/foo",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 17 Jul 2019 02:07:57 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": "6LMyhKU07FgNEIY64JJ9uSN7Fbx1pNAjvYKa3Kkwx0G4KMTS60wThjkvy80iyMVusBhUOBSyl0PjDscjmRCv3UhEgrfNqs3XaI\u002bC[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-9c28c0cc-7a09-7ba8-6c26-35ad861dd1b8/foo/bar",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 17 Jul 2019 02:07:57 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": "6LMyhKU07FgNEIY64JJ9uSN7Fbx1pNAjvYKa3Kkwx0G4KMTS60wThjkvy80iyMVusBhUOBSyl0PjDscjmRCv3UhEgrfNqs3XaI\u002bC[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-9c28c0cc-7a09-7ba8-6c26-35ad861dd1b8/baz/foo",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 17 Jul 2019 02:07:57 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": "6LMyhKU07FgNEIY64JJ9uSN7Fbx1pNAjvYKa3Kkwx0G4KMTS60wThjkvy80iyMVusBhUOBSyl0PjDscjmRCv3UhEgrfNqs3XaI\u002bC[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-9c28c0cc-7a09-7ba8-6c26-35ad861dd1b8/baz/foo/bar",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 17 Jul 2019 02:07:57 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": "6LMyhKU07FgNEIY64JJ9uSN7Fbx1pNAjvYKa3Kkwx0G4KMTS60wThjkvy80iyMVusBhUOBSyl0PjDscjmRCv3UhEgrfNqs3XaI\u0[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-9c28c0cc-7a09-7ba8-6c26-35ad861dd1b8/baz/bar/foo",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 17 Jul 2019 02:07:57 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": "6LMyhKU07FgNEIY64JJ9uSN7Fbx1pNAjvYKa3Kkwx0G4KMTS60wThjkvy80iyMVusBhUOBSyl0PjDscjmRCv3UhEgrfNqs3XaI\u0[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-9c28c0cc-7a09-7ba8-6c26-35ad861dd1b8/foo/foo?comp=metadata",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Jul 2019 02:07:57 GMT",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D70A5B9641FA9B\u0022",
        "Last-Modified": "Wed, 17 Jul 2019 02:07:57 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-9c28c0cc-7a09-7ba8-6c26-35ad861dd1b8?restype=container\u0026comp=list\u0026maxresults=2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Jul 2019 02:07:57 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": "\ufeff\u003c?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003e\u003cEnumerationResults ServiceEndpoint=\u0022http://storageteglazatesting.blob.core.windows.net/\u0022 ContainerName=\u0022test-container-9c28c0cc-7a09-7ba8-6c26-35ad861dd1b8\u0022\u003e\u003cMaxResults\u003e2\u003c/MaxResults\u003e\u003cBlobs\u003e\u003cBlob\u003e\u003cName\u003ebar\u003c/Name\u003e\u003cProperties\u003e\u003cCreati[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-9c28c0cc-7a09-7ba8-6c26-35ad861dd1b8?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Jul 2019 02:07:57 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "714752713",
    "Storage_TestConfigDefault": "ProductionTenant\nstorageteglazatesting\nU2FuaXRpemVk\nhttp://storageteglazatesting.blob.core.windows.net\nhttp://storageteglazatesting.file.core.windows.net\nhttp://storageteglazatesting.queue.core.windows.net\nhttp://storageteglazatesting.table.core.windows.net\n\n\n\n\nhttp://storageteglazatesting-secondary.blob.core.windows.net\n\nhttp://storageteglazatesting-secondary.queue.core.windows.net\nhttp://storageteglazatesting-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://storageteglazatesting.blob.core.windows.net/;QueueEndpoint=http://storageteglazatesting.queue.core.windows.net/;TableEndpoint=http://storageteglazatesting.table.core.windows.net/;FileEndpoint=http://storageteglazatesting.file.core.windows.net/;BlobSecondaryEndpoint=http://storageteglazatesting-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://storageteglazatesting-secondary.queue.core.windows.net/;TableSecondaryEndpoint=http://storageteglazatesting-secondary.table.core.windows.net/;AccountName=storageteglazatesting;AccountKey=Sanitized"
  }
}