{
  "Entries": [
    {
      "RequestUri": "https://seanstagetest.blob.core.windows.net/test-container-18cbc38f-93e8-b528-9201-74550519c9f9?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 05 Mar 2020 21:14:43 GMT",
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7C14A39BE9BA4\u0022",
        "Last-Modified": "Thu, 05 Mar 2020 21:14:43 GMT",
        "x-ms-version": "2019-10-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanstagetest.blob.core.windows.net/test-container-18cbc38f-93e8-b528-9201-74550519c9f9/foo",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 05 Mar 2020 21:14:43 GMT",
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": "ok2XLqoXubFuSgv75D85T45B0qzphK6I93cvJrTxySN5yEUtq0SIap5\u002B1wDj\u002BARcfdrVdRbH/R6fDzYz55P8fYDngRz5C6RKuWgNa6ytpf9y0qjaG1QNscsnjpsNVYMKgVqA\u002B3boY3E1i7ytuZFx8Wo3wBTrImEr2s9Q0nwIPWTkA\u002BlSLaqIim82pJCYX/g5tp0w1ZRuH1/5VCCml5D0LU5XybanH8TArjWltH3Rk3rXFxzf12fPduOKWdiJ4vPeQndCQJZBkZfZcCdfyGviJ8Gmz390FVXniFLTHcXsN8xCxnIFjlLjlYWEBmc/cK13qDEW4hJzaiwhW7hEbnTR7Dla[...]
    {
      "RequestUri": "https://seanstagetest.blob.core.windows.net/test-container-18cbc38f-93e8-b528-9201-74550519c9f9/bar",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 05 Mar 2020 21:14:43 GMT",
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": "ok2XLqoXubFuSgv75D85T45B0qzphK6I93cvJrTxySN5yEUtq0SIap5\u002B1wDj\u002BARcfdrVdRbH/R6fDzYz55P8fYDngRz5C6RKuWgNa6ytpf[...]
    {
      "RequestUri": "https://seanstagetest.blob.core.windows.net/test-container-18cbc38f-93e8-b528-9201-74550519c9f9/baz",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 05 Mar 2020 21:14:43 GMT",
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": "ok2XLqoXubFuSgv75D85T45B0qzphK6I93cvJrTxySN5yEUtq0SIap5\u002B1wDj\u002BARcfdrVdRbH/R6fDzYz55P8fYDngRz5C6RKuWgNa6ytpf[...]
    {
      "RequestUri": "https://seanstagetest.blob.core.windows.net/test-container-18cbc38f-93e8-b528-9201-74550519c9f9/foo/foo",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 05 Mar 2020 21:14:44 GMT",
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": "ok2XLqoXubFuSgv75D85T45B0qzphK6I93cvJrTxySN5yEUtq0SIap5\u002B1wDj\u002BARcfdrVdRbH/R6fDzYz55P8fYDngRz5C6RKuWgNa6[...]
    {
      "RequestUri": "https://seanstagetest.blob.core.windows.net/test-container-18cbc38f-93e8-b528-9201-74550519c9f9/foo/bar",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 05 Mar 2020 21:14:44 GMT",
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": "ok2XLqoXubFuSgv75D85T45B0qzphK6I93cvJrTxySN5yEUtq0SIap5\u002B1wDj\u002BARcfdrVdRbH/R6fDzYz55P8fYDngRz5C6RKuWgNa6[...]
    {
      "RequestUri": "https://seanstagetest.blob.core.windows.net/test-container-18cbc38f-93e8-b528-9201-74550519c9f9/baz/foo",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 05 Mar 2020 21:14:44 GMT",
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": "ok2XLqoXubFuSgv75D85T45B0qzphK6I93cvJrTxySN5yEUtq0SIap5\u002B1wDj\u002BARcfdrVdRbH/R6fDzYz55P8fYDngRz5C6RKuWgNa6[...]
    {
      "RequestUri": "https://seanstagetest.blob.core.windows.net/test-container-18cbc38f-93e8-b528-9201-74550519c9f9/baz/foo/bar",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 05 Mar 2020 21:14:44 GMT",
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": "ok2XLqoXubFuSgv75D85T45B0qzphK6I93cvJrTxySN5yEUtq0SIap5\u002B1wDj\u002BARcfdrVdRbH/R6fDzYz55P8fYDngRz5C6RKuW[...]
    {
      "RequestUri": "https://seanstagetest.blob.core.windows.net/test-container-18cbc38f-93e8-b528-9201-74550519c9f9/baz/bar/foo",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 05 Mar 2020 21:14:44 GMT",
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": "ok2XLqoXubFuSgv75D85T45B0qzphK6I93cvJrTxySN5yEUtq0SIap5\u002B1wDj\u002BARcfdrVdRbH/R6fDzYz55P8fYDngRz5C6RKuW[...]
    {
      "RequestUri": "https://seanstagetest.blob.core.windows.net/test-container-18cbc38f-93e8-b528-9201-74550519c9f9/foo/foo?comp=metadata",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 05 Mar 2020 21:14:44 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7C14A3A3342A2\u0022",
        "Last-Modified": "Thu, 05 Mar 2020 21:14:44 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-10-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanstagetest.blob.core.windows.net/test-container-18cbc38f-93e8-b528-9201-74550519c9f9?restype=container\u0026comp=list\u0026delimiter=%2F",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 05 Mar 2020 21:14:44 GMT",
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2019-10-10"
      },
      "ResponseBody": "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CEnumerationResults ServiceEndpoint=\u0022https://seanstagetest.blob.core.windows.net/\u0022 ContainerName=\u0022test-container-18cbc38f-93e8-b528-9201-74550519c9f9\u0022\u003E\u003CDelimiter\u003E/\u003C/Delimiter\u003E\u003CBlobs\u003E\u003CBlob\u003E\u003CName\u003Ebar\u003C/Name\u003E\u003CProperties\u003E\u003CCreation-Time\u[...]
    {
      "RequestUri": "https://seanstagetest.blob.core.windows.net/test-container-18cbc38f-93e8-b528-9201-74550519c9f9?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 05 Mar 2020 21:14:44 GMT",
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-10-10"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1542115839",
    "Storage_TestConfigDefault": "ProductionTenant\nseanstagetest\nU2FuaXRpemVk\nhttps://seanstagetest.blob.core.windows.net\nhttp://seanstagetest.file.core.windows.net\nhttp://seanstagetest.queue.core.windows.net\nhttp://seanstagetest.table.core.windows.net\n\n\n\n\nhttp://seanstagetest-secondary.blob.core.windows.net\nhttp://seanstagetest-secondary.file.core.windows.net\nhttp://seanstagetest-secondary.queue.core.windows.net\nhttp://seanstagetest-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanstagetest.blob.core.windows.net/;QueueEndpoint=http://seanstagetest.queue.core.windows.net/;FileEndpoint=http://seanstagetest.file.core.windows.net/;BlobSecondaryEndpoint=http://seanstagetest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanstagetest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanstagetest-secondary.file.core.windows.net/;AccountName=seanstagetest;AccountKey=Sanitized\nseanscope1"
  }
}