{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-05ba7927-d406-3f61-d4db-7702540dc6b4?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 17 Feb 2021 18:59:04 GMT"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D37618961E18\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 18:59:04 GMT"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-05ba7927-d406-3f61-d4db-7702540dc6b4/test-blob-e5223091-76d0-29c9-db07-64ef8a526caa",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 17 Feb 2021 18:59:04 GMT"
      },
      "RequestBody": "KVtauUsEDzO9wbCeWJJOqIpGfaIIzEwx0ZjnneHZ9Ivt\u002B\u002BIIndK3jSHvJw7GKtBJuLxkRNTKoVwPKOeyHHFR5MwksFyvRgq4jvCAGaU9aqbInuQldLC3IlmF\u002BHTqBXCvnUNConp0mXKxq7bjSYi30r5B6n6MLG8cbY4CKk2VzomA0Hti\u002B8gsVARyc8j609nRzSa2qBrxI3HTJTTrcW8kHN0sYngMVdf1FJZ6GbmnIpm0MVwn3iVuj60KjtWUQOKVTlbrzXFgxHhPwZSEdwm4LAKbN0AS/T23vtPLAsYBYdSz5Mtiu1UoVGzk2B2R6hijUmLT\u002BAmig1EZMw\u002BelcKxTWDA0JI9VXCtc\u002BPTLSQgJtO6J69[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-05ba7927-d406-3f61-d4db-7702540dc6b4/test-blob-e5223091-76d0-29c9-db07-64ef8a526caa?comp=tier",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-access-tier": "Archive",
        "x-ms-date": "Wed, 17 Feb 2021 18:59:04 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-05ba7927-d406-3f61-d4db-7702540dc6b4/test-blob-e5223091-76d0-29c9-db07-64ef8a526caa?comp=tier",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-access-tier": "Hot",
        "x-ms-date": "Wed, 17 Feb 2021 18:59:04 GMT",
        "x-ms-rehydrate-priority": "Standard"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-05ba7927-d406-3f61-d4db-7702540dc6b4?restype=container\u0026comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 18:59:04 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml"
      },
      "ResponseBody": "\uFEFF\u003C?xml version=\u00221[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-05ba7927-d406-3f61-d4db-7702540dc6b4?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 18:59:04 GMT"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1737951270",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\nseanscope1"
  }
}