{
  "Entries": [
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-9da18303-2d5f-f172-fdc6-3f613d720669?restype=container\u0026comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 01 Jul 2019 21:55:26 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ContainerNotFound",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": [
        "\ufeff\u003c?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003e\u003cError\u003e\u003cCode\u003eContainerNotFound\u003c/Code\u003e\u003cMessage\u003eThe specified container does not exist.\n",
        "RequestId:5be9f843-101e-0070-0657-30f4f9000000\n",
        "Time:2019-07-01T21:55:26.2672087Z\u003c/Message\u003e\u003c/Error\u003e"
      ]
    }
  ],
  "Variables": {
    "RandomSeed": "364965231"
  }
}