{
  "Entries": [
    {
      "RequestUri": "https://cdm03r01aversioning16.blob.core.windows.net/test-container-2b7d4e26-2f87-c6e0-58b4-153f6adca761?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 08 Apr 2020 00:55:06 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7DB577AB30CB4\u0022",
        "Last-Modified": "Wed, 08 Apr 2020 00:55:06 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://cdm03r01aversioning16.blob.core.windows.net/test-container-2b7d4e26-2f87-c6e0-58b4-153f6adca761/test-blob-708d7634-4225-7801-52d4-879b172573d9",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Wed, 08 Apr 2020 00:55:06 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7DB577ABD3E8C\u0022",
        "Last-Modified": "Wed, 08 Apr 2020 00:55:06 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-04-08",
        "x-ms-version-id": "2020-04-08T00:55:06.4074892Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://cdm03r01aversioning16.blob.core.windows.net/test-container-2b7d4e26-2f87-c6e0-58b4-153f6adca761/test-blob-708d7634-4225-7801-52d4-879b172573d9?comp=metadata",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 08 Apr 2020 00:55:06 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7DB577AC7A0B9\u0022",
        "Last-Modified": "Wed, 08 Apr 2020 00:55:06 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-04-08",
        "x-ms-version-id": "2020-04-08T00:55:06.4775392Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://cdm03r01aversioning16.blob.core.windows.net/test-container-2b7d4e26-2f87-c6e0-58b4-153f6adca761?restype=container\u0026comp=list\u0026include=versions",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 08 Apr 2020 00:55:06 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CEnumerationResults ServiceEndpoint=\u0022https://cdm03r01aversioning16.blob.core.windows.net/\u0022 ContainerName=\u0022test-container-2b7d4e26-2f87-c6e0-58b4-153f6adca761\u0022\u003E\u003CBlobs\u003E\u003CBlob\u003E\u003CName\u003Etest-blob-708d7634-4225-7801-52d4-879b172573d9\u003C/Name\u003E\u003CVersionId\u003E2020-04-08T00:5[...]
    {
      "RequestUri": "https://cdm03r01aversioning16.blob.core.windows.net/test-container-2b7d4e26-2f87-c6e0-58b4-153f6adca761?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 08 Apr 2020 00:55:06 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "756400947",
    "Storage_TestConfigDefault": "ProductionTenant\ncdm03r01aversioning16\nU2FuaXRpemVk\nhttps://cdm03r01aversioning16.blob.core.windows.net\nhttps://cdm03r01aversioning16.file.core.windows.net\nhttps://cdm03r01aversioning16.queue.core.windows.net\nhttps://cdm03r01aversioning16.table.core.windows.net\n\n\n\n\nhttps://cdm03r01aversioning16-secondary.blob.core.windows.net\nhttps://cdm03r01aversioning16-secondary.file.core.windows.net\nhttps://cdm03r01aversioning16-secondary.queue.core.windows.net\nhttps://cdm03r01aversioning16-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://cdm03r01aversioning16.blob.core.windows.net/;QueueEndpoint=https://cdm03r01aversioning16.queue.core.windows.net/;FileEndpoint=https://cdm03r01aversioning16.file.core.windows.net/;BlobSecondaryEndpoint=https://cdm03r01aversioning16-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://cdm03r01aversioning16-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://cdm03r01aversioning16-secondary.file.core.windows.net/;AccountName=cdm03r01aversioning16;AccountKey=Sanitized\nseanscope1"
  }
}