{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-8247fb6e-900d-cf50-91b3-bae6565ebdfe?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 17 Feb 2021 18:59:20 GMT"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D37622401BE5\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 18:59:20 GMT"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-8247fb6e-900d-cf50-91b3-bae6565ebdfe/foo",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 17 Feb 2021 18:59:20 GMT"
      },
      "RequestBody": "MG5kKLwei7vBqeRsk3CUQdVSiBtUSlDvHjI89FrmqDTop67L67SsQK9OsQQFQpplAhZ9o\u002BCdAeYedAqJ4Zdh2wCvhOvCyVYhpUdrBphL6tyX1vFDaQVUS6bIrXaqIl4Y7NYDVb6voznAXP2YMfpN04ou8gqlHnH7WzlF\u002BhvfdoPpUxrCR5Qe5zO3gw0HuxmretrsfC9Ucs5kB/qEaakd4OV6r97giov2DwrX7ppk9KAfmYBB8/pTlOBLXkCamX6KmqInjQs7y\u002B9O9mwkfIQz/xNaZNAp2\u002B3rJhv9lCxLW3aMTVT4PGaU5M6Q8vyNLxdcGF4sQDSuYL60PGfwPTbCA5r2ly8wO8KsxYACmOjwXfYDoXzNHhtC3uyVQwD/pK[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-8247fb6e-900d-cf50-91b3-bae6565ebdfe/bar",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 17 Feb 2021 18:59:20 GMT"
      },
      "RequestBody": "MG5kKLwei7vBqeRsk3CUQdVSiBtUSlDvHjI89FrmqDTop67L67SsQK9OsQQFQpplAhZ9o\u002BCdAeYedAqJ4Zdh2wCvhOvCyVYh[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-8247fb6e-900d-cf50-91b3-bae6565ebdfe/baz",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 17 Feb 2021 18:59:20 GMT"
      },
      "RequestBody": "MG5kKLwei7vBqeRsk3CUQdVSiBtUSlDvHjI89FrmqDTop67L67SsQK9OsQQFQpplAhZ9o\u002BCdAeYedAqJ4Zdh2wCvhOvCyVYh[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-8247fb6e-900d-cf50-91b3-bae6565ebdfe/foo/foo",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 17 Feb 2021 18:59:20 GMT"
      },
      "RequestBody": "MG5kKLwei7vBqeRsk3CUQdVSiBtUSlDvHjI89FrmqDTop67L67SsQK9OsQQFQpplAhZ9o\u002BCdAeYedAqJ4Zdh2wCvhOvC[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-8247fb6e-900d-cf50-91b3-bae6565ebdfe/foo/bar",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 17 Feb 2021 18:59:21 GMT"
      },
      "RequestBody": "MG5kKLwei7vBqeRsk3CUQdVSiBtUSlDvHjI89FrmqDTop67L67SsQK9OsQQFQpplAhZ9o\u002BCdAeYedAqJ4Zdh2wCvhOvC[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-8247fb6e-900d-cf50-91b3-bae6565ebdfe/baz/foo",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 17 Feb 2021 18:59:21 GMT"
      },
      "RequestBody": "MG5kKLwei7vBqeRsk3CUQdVSiBtUSlDvHjI89FrmqDTop67L67SsQK9OsQQFQpplAhZ9o\u002BCdAeYedAqJ4Zdh2wCvhOvC[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-8247fb6e-900d-cf50-91b3-bae6565ebdfe/baz/foo/bar",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 17 Feb 2021 18:59:21 GMT"
      },
      "RequestBody": "MG5kKLwei7vBqeRsk3CUQdVSiBtUSlDvHjI89FrmqDTop67L67SsQK9OsQQFQpplAhZ9o\u002BCdAeYedAqJ4Zdh2wCv[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-8247fb6e-900d-cf50-91b3-bae6565ebdfe/baz/bar/foo",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 17 Feb 2021 18:59:21 GMT"
      },
      "RequestBody": "MG5kKLwei7vBqeRsk3CUQdVSiBtUSlDvHjI89FrmqDTop67L67SsQK9OsQQFQpplAhZ9o\u002BCdAeYedAqJ4Zdh2wCv[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-8247fb6e-900d-cf50-91b3-bae6565ebdfe/foo/foo?comp=metadata",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 18:59:21 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D37622A49095\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 18:59:21 GMT",
        "x-ms-request-server-encrypted": "true",
         "x-ms-version": "2020-08-04",
        "x-ms-version-id": "2021-02-17T18:59:21.3747109Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-8247fb6e-900d-cf50-91b3-bae6565ebdfe?restype=container\u0026comp=list\u0026delimiter=%2F",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 18:59:21 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml"
      },
      "ResponseBody": "\uFEFF\u003C?[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-8247fb6e-900d-cf50-91b3-bae6565ebdfe?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 18:59:21 GMT"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1851942372",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\nseanscope1"
  }
}