{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-1748637c-8821-a243-9a3e-c545c286ea07?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 10 Jun 2020 19:56:52 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D80D786BEF1398\u0022",
        "Last-Modified": "Wed, 10 Jun 2020 19:56:53 GMT",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-1748637c-8821-a243-9a3e-c545c286ea07/foo",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 10 Jun 2020 19:56:52 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": "2VbfnHfyAaA/xoVR0Yr7jnr09COcUYXlMXhERvho/\u002BE4b99QKydZX51IWbuqXSN8k1NBjbx0q4fQ\u002Bmv/rbqo1sajGWGqq2NSm5WFU/jJOtNUyLOkJ3ElxMNYfzG8WbHjoIP1B0TB0ufw7/In7liPB7\u002BYquUGA69VflWeUiwylkLjorJ11DOPkvbMtDd//dVqyHhyI6/M3JzTn4nuI3\u002B6vVmvQ0ulGjKLCRfvOk931YB/M4m0wHKSFsYVoTSqoG92Evbez7mJxa5F5hqX3aJNXMoIb\u002B/2Bf3nHS2Fj3j\u002B4WioeCdZmQbG9m7ab9lX\u002BjkjyERqoTF/f[...]
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-1748637c-8821-a243-9a3e-c545c286ea07/bar",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 10 Jun 2020 19:56:52 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": "2VbfnHfyAaA/xoVR0Yr7jnr09COcUYXlMXhERvho/\u002BE4b99QKydZX51IWbuqXSN8k1NBjbx0q4fQ\u002Bmv/rbqo1sajGWGqq2NSm5WFU/jJOt[...]
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-1748637c-8821-a243-9a3e-c545c286ea07/baz",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 10 Jun 2020 19:56:53 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": "2VbfnHfyAaA/xoVR0Yr7jnr09COcUYXlMXhERvho/\u002BE4b99QKydZX51IWbuqXSN8k1NBjbx0q4fQ\u002Bmv/rbqo1sajGWGqq2NSm5WFU/jJOt[...]
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-1748637c-8821-a243-9a3e-c545c286ea07/foo/foo",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 10 Jun 2020 19:56:53 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": "2VbfnHfyAaA/xoVR0Yr7jnr09COcUYXlMXhERvho/\u002BE4b99QKydZX51IWbuqXSN8k1NBjbx0q4fQ\u002Bmv/rbqo1sajGWGqq2NSm5WFU/[...]
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-1748637c-8821-a243-9a3e-c545c286ea07/foo/bar",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 10 Jun 2020 19:56:53 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": "2VbfnHfyAaA/xoVR0Yr7jnr09COcUYXlMXhERvho/\u002BE4b99QKydZX51IWbuqXSN8k1NBjbx0q4fQ\u002Bmv/rbqo1sajGWGqq2NSm5WFU/[...]
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-1748637c-8821-a243-9a3e-c545c286ea07/baz/foo",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 10 Jun 2020 19:56:53 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": "2VbfnHfyAaA/xoVR0Yr7jnr09COcUYXlMXhERvho/\u002BE4b99QKydZX51IWbuqXSN8k1NBjbx0q4fQ\u002Bmv/rbqo1sajGWGqq2NSm5WFU/[...]
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-1748637c-8821-a243-9a3e-c545c286ea07/baz/foo/bar",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 10 Jun 2020 19:56:53 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": "2VbfnHfyAaA/xoVR0Yr7jnr09COcUYXlMXhERvho/\u002BE4b99QKydZX51IWbuqXSN8k1NBjbx0q4fQ\u002Bmv/rbqo1sajGWGqq2NSm5[...]
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-1748637c-8821-a243-9a3e-c545c286ea07/baz/bar/foo",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 10 Jun 2020 19:56:53 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": "2VbfnHfyAaA/xoVR0Yr7jnr09COcUYXlMXhERvho/\u002BE4b99QKydZX51IWbuqXSN8k1NBjbx0q4fQ\u002Bmv/rbqo1sajGWGqq2NSm5[...]
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-1748637c-8821-a243-9a3e-c545c286ea07/foo/foo?comp=metadata",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 10 Jun 2020 19:56:53 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D80D786C3EB246\u0022",
        "Last-Modified": "Wed, 10 Jun 2020 19:56:53 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-12-12",
        "x-ms-version-id": "2020-06-10T19:56:53.6219990Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-1748637c-8821-a243-9a3e-c545c286ea07?restype=container\u0026comp=list\u0026prefix=foo",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 10 Jun 2020 19:56:53 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CEnumerationResults ServiceEndpoint=\u0022https://seanmcccanary.blob.core.windows.net/\u0022 ContainerName=\u0022test-container-1748637c-8821-a243-9a3e-c545c286ea07\u0022\u003E\u003CPrefix\u003Efoo\u003C/Prefix\u003E\u003CBlobs\u003E\u003CBlob\u003E\u003CName\u003Efoo\u003C/Name\u003E\u003CVersionId\u003E2020-06-10T19:56:53.158667[...]
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-1748637c-8821-a243-9a3e-c545c286ea07?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 10 Jun 2020 19:56:53 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "572484369",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary\nU2FuaXRpemVk\nhttps://seanmcccanary.blob.core.windows.net\nhttps://seanmcccanary.file.core.windows.net\nhttps://seanmcccanary.queue.core.windows.net\nhttps://seanmcccanary.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary-secondary.blob.core.windows.net\nhttps://seanmcccanary-secondary.file.core.windows.net\nhttps://seanmcccanary-secondary.queue.core.windows.net\nhttps://seanmcccanary-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary.queue.core.windows.net/;FileEndpoint=https://seanmcccanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary-secondary.file.core.windows.net/;AccountName=seanmcccanary;AccountKey=Sanitized\nseanscope1"
  }
}