{
  "Entries": [
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-6bba1760-11de-5442-48cd-538f113c8f26?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Fri, 12 Jul 2019 17:54:38 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D706F2020D28C7\u0022",
        "Last-Modified": "Fri, 12 Jul 2019 17:54:38 GMT",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-6bba1760-11de-5442-48cd-538f113c8f26/foo",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 12 Jul 2019 17:54:38 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": "FvcrdJ5cph5xUqcxLvTngDEoVy\u002b9q31dTSpW42q8OobSf3gaEBqIZJnucX9bmWIgEiZU8WrKFmt5zidzBcKztBggXq57zXAWoPKWzzn\u002bAbPHNdFEaEgcCGgNoEHzFF/WOr1nOjuzpUS1PVF3M0cye810q8/xbkzPBFVGbi0uI4uTwJR8l8Z3FJCMjir3pdUh2yV0fmiP5MxxlzbmbTYXhxrG5HKyteMG/Jc/Zd8h2F\u002bAJJMIuaUiBNvIC/\u002bQkadZdAcQMcFibyVBboHRT3/sT7/XZUijD810o9\u002bW6arjdWvw5fDYEaedHbVuxksjUbRc3LtAuStetmU5m43hy4V[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-6bba1760-11de-5442-48cd-538f113c8f26/bar",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 12 Jul 2019 17:54:38 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": "FvcrdJ5cph5xUqcxLvTngDEoVy\u002b9q31dTSpW42q8OobSf3gaEBqIZJnucX9bmWIgEiZU8WrKFmt5zidzBcKztBggXq57zXAWoPKWzzn\[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-6bba1760-11de-5442-48cd-538f113c8f26/baz",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 12 Jul 2019 17:54:38 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": "FvcrdJ5cph5xUqcxLvTngDEoVy\u002b9q31dTSpW42q8OobSf3gaEBqIZJnucX9bmWIgEiZU8WrKFmt5zidzBcKztBggXq57zXAWoPKWzzn\[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-6bba1760-11de-5442-48cd-538f113c8f26/foo/foo",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 12 Jul 2019 17:54:38 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": "FvcrdJ5cph5xUqcxLvTngDEoVy\u002b9q31dTSpW42q8OobSf3gaEBqIZJnucX9bmWIgEiZU8WrKFmt5zidzBcKztBggXq57zXAWoPKW[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-6bba1760-11de-5442-48cd-538f113c8f26/foo/bar",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 12 Jul 2019 17:54:38 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": "FvcrdJ5cph5xUqcxLvTngDEoVy\u002b9q31dTSpW42q8OobSf3gaEBqIZJnucX9bmWIgEiZU8WrKFmt5zidzBcKztBggXq57zXAWoPKW[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-6bba1760-11de-5442-48cd-538f113c8f26/baz/foo",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 12 Jul 2019 17:54:38 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": "FvcrdJ5cph5xUqcxLvTngDEoVy\u002b9q31dTSpW42q8OobSf3gaEBqIZJnucX9bmWIgEiZU8WrKFmt5zidzBcKztBggXq57zXAWoPKW[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-6bba1760-11de-5442-48cd-538f113c8f26/baz/foo/bar",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 12 Jul 2019 17:54:38 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": "FvcrdJ5cph5xUqcxLvTngDEoVy\u002b9q31dTSpW42q8OobSf3gaEBqIZJnucX9bmWIgEiZU8WrKFmt5zidzBcKztBggXq57zXAW[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-6bba1760-11de-5442-48cd-538f113c8f26/baz/bar/foo",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 12 Jul 2019 17:54:38 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": "FvcrdJ5cph5xUqcxLvTngDEoVy\u002b9q31dTSpW42q8OobSf3gaEBqIZJnucX9bmWIgEiZU8WrKFmt5zidzBcKztBggXq57zXAW[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-6bba1760-11de-5442-48cd-538f113c8f26/foo/foo?comp=metadata",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 12 Jul 2019 17:54:38 GMT",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D706F202277203\u0022",
        "Last-Modified": "Fri, 12 Jul 2019 17:54:38 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-6bba1760-11de-5442-48cd-538f113c8f26?restype=container\u0026comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 12 Jul 2019 17:54:38 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": "\ufeff\u003c?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003e\u003cEnumerationResults ServiceEndpoint=\u0022http://storageteglazatesting.blob.core.windows.net/\u0022 ContainerName=\u0022test-container-6bba1760-11de-5442-48cd-538f113c8f26\u0022\u003e\u003cBlobs\u003e\u003cBlob\u003e\u003cName\u003ebar\u003c/Name\u003e\u003cProperties\u003e\u003cCreation-Time\u003eFri, 12 Jul 2019 17:54:38 GMT\u00[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-6bba1760-11de-5442-48cd-538f113c8f26?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 12 Jul 2019 17:54:38 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "2028523084",
    "Storage_TestConfigDefault": "ProductionTenant\nstorageteglazatesting\nU2FuaXRpemVk\nhttp://storageteglazatesting.blob.core.windows.net\nhttp://storageteglazatesting.file.core.windows.net\nhttp://storageteglazatesting.queue.core.windows.net\nhttp://storageteglazatesting.table.core.windows.net\n\n\n\n\nhttp://storageteglazatesting-secondary.blob.core.windows.net\n\nhttp://storageteglazatesting-secondary.queue.core.windows.net\nhttp://storageteglazatesting-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://storageteglazatesting.blob.core.windows.net/;QueueEndpoint=http://storageteglazatesting.queue.core.windows.net/;TableEndpoint=http://storageteglazatesting.table.core.windows.net/;FileEndpoint=http://storageteglazatesting.file.core.windows.net/;BlobSecondaryEndpoint=http://storageteglazatesting-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://storageteglazatesting-secondary.queue.core.windows.net/;TableSecondaryEndpoint=http://storageteglazatesting-secondary.table.core.windows.net/;AccountName=storageteglazatesting;AccountKey=Sanitized"
  }
}