{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-b9f5ed2d-b861-c91f-1a5b-aedf6913eae6?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 17 Feb 2021 02:31:33 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D2EC24878FBA\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 02:31:33 GMT",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-b9f5ed2d-b861-c91f-1a5b-aedf6913eae6/foo",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 17 Feb 2021 02:31:33 GMT",
        "x-ms-encryption-algorithm": "AES256",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": "lJDhWlcghoMCpmracw/jQHtUfCuhbKngXRcndPCIu7d6intV\u002BIYCQrjue5fgH1FBlXjnPhrgFyfnAfxA\u002BRGSeuqzX\u002BmUjkj0Ujpys/AR/z7F5d94oH2dmnJUbfeKwkimWwGtLb9orQYw8\u002BzfbWQ21QG9ehQxGtlsFcV2QCFQao/yy1fvZNF/XTjZR62QvSwOHZf1zEc0dUEoQBf58Wzl34hc7KEMR3EwPRzbWNIs3FeZaCKJW51HvlYWxyO5hmzL82ckM9GKAtYmxY4rWB1u/GS/X4lKXITqFC5L9YBNdrewD2RqB6iGD2VMYpUPHGU5p8q/\u002BSbigZfjOh6iPgxW2E/Weki4A/S7OVAj/vnv2/jJEU61jXyRzo7Mh82J5NBY9YlGOKIcgKPW[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-b9f5ed2d-b861-c91f-1a5b-aedf6913eae6/bar",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 17 Feb 2021 02:31:33 GMT",
        "x-ms-encryption-algorithm": "AES256",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": "lJDhWlcghoMCpmra[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-b9f5ed2d-b861-c91f-1a5b-aedf6913eae6/baz",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 17 Feb 2021 02:31:34 GMT",
        "x-ms-encryption-algorithm": "AES256",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": "lJDhWlcghoMCpmra[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-b9f5ed2d-b861-c91f-1a5b-aedf6913eae6/foo/foo",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 17 Feb 2021 02:31:34 GMT",
        "x-ms-encryption-algorithm": "AES256",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": "lJDhWlcghoMC[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-b9f5ed2d-b861-c91f-1a5b-aedf6913eae6/foo/bar",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 17 Feb 2021 02:31:34 GMT",
        "x-ms-encryption-algorithm": "AES256",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": "lJDhWlcghoMC[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-b9f5ed2d-b861-c91f-1a5b-aedf6913eae6/baz/foo",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 17 Feb 2021 02:31:34 GMT",
        "x-ms-encryption-algorithm": "AES256",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": "lJDhWlcghoMC[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-b9f5ed2d-b861-c91f-1a5b-aedf6913eae6/baz/foo/bar",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 17 Feb 2021 02:31:34 GMT",
        "x-ms-encryption-algorithm": "AES256",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": "lJDhWlcg[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-b9f5ed2d-b861-c91f-1a5b-aedf6913eae6/baz/bar/foo",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 17 Feb 2021 02:31:34 GMT",
        "x-ms-encryption-algorithm": "AES256",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": "lJDhWlcg[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-b9f5ed2d-b861-c91f-1a5b-aedf6913eae6/foo/foo?comp=metadata",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 02:31:34 GMT",
        "x-ms-encryption-algorithm": "AES256",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D2EC24E3715B\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 02:31:34 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-06-12",
        "x-ms-version-id": "2021-02-17T02:31:34.5935467Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-b9f5ed2d-b861-c91f-1a5b-aedf6913eae6?restype=container\u0026comp=list\u0026maxresults=2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 02:31:34 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
       [...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-b9f5ed2d-b861-c91f-1a5b-aedf6913eae6?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 02:31:34 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1967572656",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\nseanscope1"
  }
}