{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-4556850d-559d-81e6-f7e0-8ec631a1f6df?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 17 Feb 2021 18:59:47 GMT"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D376321BB4D9\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 18:59:47 GMT"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-4556850d-559d-81e6-f7e0-8ec631a1f6df/foo",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 17 Feb 2021 18:59:47 GMT"
      },
      "RequestBody": "A2iUthey4YEOkRRZtgVQzgdB2Qb939Yf\u002BpZtfPw02AJZH97IlCI1OkkiCHfJy2OhGcE7qlTjgiORdLuBRWWE2rkR/5YmhznkDJ\u002B82tdeVS8zy2I7\u002BS2udZ26NyBntPXknS2\u002BuMvMe5KHVp61JqdMMx6MTXkCSeGLY4r5a1AZfVip2Dypn51jZlDQtKKP\u002BE72bgMB2mZ74VRMM1RB0w9CbdhFC05qo5OAKOYpMpU\u002B\u002B2o7A/1MF6LyLfboXGxIIZNAjkbKSu0Ai8pwgLF/Uq6/DTfqBs8R9VU1U91XgkYnOAZT6KROdLF8O3cy3Jfwc9tIKE80XhvEL5jwlPcQqAmESEirLGoKcZmGbspX3hm\u002BRO[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-4556850d-559d-81e6-f7e0-8ec631a1f6df/bar",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 17 Feb 2021 18:59:47 GMT"
      },
      "RequestBody": "A2iUthey4YEOkRRZtgVQzgdB2Qb939Yf\u002BpZtfPw02AJZH97IlCI1OkkiCHfJy2OhGcE7qlTjgiORdLuBRWWE2rkR/5Ymhznk[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-4556850d-559d-81e6-f7e0-8ec631a1f6df/baz",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 17 Feb 2021 18:59:47 GMT"
      },
      "RequestBody": "A2iUthey4YEOkRRZtgVQzgdB2Qb939Yf\u002BpZtfPw02AJZH97IlCI1OkkiCHfJy2OhGcE7qlTjgiORdLuBRWWE2rkR/5Ymhznk[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-4556850d-559d-81e6-f7e0-8ec631a1f6df/foo/foo",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 17 Feb 2021 18:59:47 GMT"
      },
      "RequestBody": "A2iUthey4YEOkRRZtgVQzgdB2Qb939Yf\u002BpZtfPw02AJZH97IlCI1OkkiCHfJy2OhGcE7qlTjgiORdLuBRWWE2rkR/5Ym[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-4556850d-559d-81e6-f7e0-8ec631a1f6df/foo/bar",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 17 Feb 2021 18:59:47 GMT"
      },
      "RequestBody": "A2iUthey4YEOkRRZtgVQzgdB2Qb939Yf\u002BpZtfPw02AJZH97IlCI1OkkiCHfJy2OhGcE7qlTjgiORdLuBRWWE2rkR/5Ym[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-4556850d-559d-81e6-f7e0-8ec631a1f6df/baz/foo",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 17 Feb 2021 18:59:47 GMT"
      },
      "RequestBody": "A2iUthey4YEOkRRZtgVQzgdB2Qb939Yf\u002BpZtfPw02AJZH97IlCI1OkkiCHfJy2OhGcE7qlTjgiORdLuBRWWE2rkR/5Ym[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-4556850d-559d-81e6-f7e0-8ec631a1f6df/baz/foo/bar",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 17 Feb 2021 18:59:47 GMT"
      },
      "RequestBody": "A2iUthey4YEOkRRZtgVQzgdB2Qb939Yf\u002BpZtfPw02AJZH97IlCI1OkkiCHfJy2OhGcE7qlTjgiORdLuBRWWE2rkR[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-4556850d-559d-81e6-f7e0-8ec631a1f6df/baz/bar/foo",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 17 Feb 2021 18:59:47 GMT"
      },
      "RequestBody": "A2iUthey4YEOkRRZtgVQzgdB2Qb939Yf\u002BpZtfPw02AJZH97IlCI1OkkiCHfJy2OhGcE7qlTjgiORdLuBRWWE2rkR[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-4556850d-559d-81e6-f7e0-8ec631a1f6df/foo/foo?comp=metadata",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 18:59:47 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D37632724700\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 18:59:47 GMT",
        "x-ms-request-server-encrypted": "true",
         "x-ms-version": "2020-08-04",
        "x-ms-version-id": "2021-02-17T18:59:47.8886928Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-4556850d-559d-81e6-f7e0-8ec631a1f6df?restype=container\u0026comp=list\u0026prefix=foo",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 18:59:47 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml"
      },
      "ResponseBody": "\uFEFF\u003C?xml[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-4556850d-559d-81e6-f7e0-8ec631a1f6df?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 18:59:48 GMT"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1033237254",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\nseanscope1"
  }
}