{
  "Entries": [
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-70868297-0ddc-db8d-c381-9cc13e8337ec?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 17 Jun 2019 20:57:11 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D6F3665E61C2AD\u0022",
        "Last-Modified": "Mon, 17 Jun 2019 20:57:11 GMT",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-70868297-0ddc-db8d-c381-9cc13e8337ec/foo",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Mon, 17 Jun 2019 20:57:11 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": "/SddrIlawM1yK5D0hBQSrYrSc09u/3XHOSeeJEUQxM4P\u002bMMXJotjj\u002bQgPtM\u002bVNq\u002bpRryRYAjNf6xlXJivJuHYmfB5YtR\u002b4b/b\u002bRqTsChiORN338rHn9O68PEZZEYANNJmNxsfW9ObamT8tWcuOY\u002bEAyOFNwbW0Poc/nIjJb1524QIbXjNQt1/nHVmCypsjPdhVSEiuv2LT2YhAp1huATnQtni5cwWtoAGBZqRsMXPsHG6gdBcV2CGfR4SrEB/3iRwvsgQSacrCp6g3HVjOd5gUVJrpvZ0iyu5HKiuBAp/xid2YTH9vyaKj7cx\u002b3rrI0M/slr[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-70868297-0ddc-db8d-c381-9cc13e8337ec/bar",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Mon, 17 Jun 2019 20:57:11 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": "/SddrIlawM1yK5D0hBQSrYrSc09u/3XHOSeeJEUQxM4P\u002bMMXJotjj\u002bQgPtM\u002bVNq\u002bpRryRYAjNf6xlXJivJuHYmfB5[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-70868297-0ddc-db8d-c381-9cc13e8337ec/baz",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Mon, 17 Jun 2019 20:57:11 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": "/SddrIlawM1yK5D0hBQSrYrSc09u/3XHOSeeJEUQxM4P\u002bMMXJotjj\u002bQgPtM\u002bVNq\u002bpRryRYAjNf6xlXJivJuHYmfB5[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-70868297-0ddc-db8d-c381-9cc13e8337ec/foo/foo",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Mon, 17 Jun 2019 20:57:11 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": "/SddrIlawM1yK5D0hBQSrYrSc09u/3XHOSeeJEUQxM4P\u002bMMXJotjj\u002bQgPtM\u002bVNq\u002bpRryRYAjNf6xlXJivJuHY[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-70868297-0ddc-db8d-c381-9cc13e8337ec/foo/bar",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Mon, 17 Jun 2019 20:57:11 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": "/SddrIlawM1yK5D0hBQSrYrSc09u/3XHOSeeJEUQxM4P\u002bMMXJotjj\u002bQgPtM\u002bVNq\u002bpRryRYAjNf6xlXJivJuHY[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-70868297-0ddc-db8d-c381-9cc13e8337ec/baz/foo",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Mon, 17 Jun 2019 20:57:11 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": "/SddrIlawM1yK5D0hBQSrYrSc09u/3XHOSeeJEUQxM4P\u002bMMXJotjj\u002bQgPtM\u002bVNq\u002bpRryRYAjNf6xlXJivJuHY[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-70868297-0ddc-db8d-c381-9cc13e8337ec/baz/foo/bar",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Mon, 17 Jun 2019 20:57:11 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": "/SddrIlawM1yK5D0hBQSrYrSc09u/3XHOSeeJEUQxM4P\u002bMMXJotjj\u002bQgPtM\u002bVNq\u002bpRryRYAjNf6xlXJiv[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-70868297-0ddc-db8d-c381-9cc13e8337ec/baz/bar/foo",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Mon, 17 Jun 2019 20:57:11 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": "/SddrIlawM1yK5D0hBQSrYrSc09u/3XHOSeeJEUQxM4P\u002bMMXJotjj\u002bQgPtM\u002bVNq\u002bpRryRYAjNf6xlXJiv[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-70868297-0ddc-db8d-c381-9cc13e8337ec/foo/foo?comp=metadata",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 17 Jun 2019 20:57:11 GMT",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D6F3665E7D4BE7\u0022",
        "Last-Modified": "Mon, 17 Jun 2019 20:57:11 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-70868297-0ddc-db8d-c381-9cc13e8337ec?restype=container\u0026comp=list\u0026delimiter=%2F\u0026maxresults=2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 17 Jun 2019 20:57:11 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": "\ufeff\u003c?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003e\u003cEnumerationResults ServiceEndpoint=\u0022http://storageteglazatesting.blob.core.windows.net/\u0022 ContainerName=\u0022test-container-70868297-0ddc-db8d-c381-9cc13e8337ec\u0022\u003e\u003cMaxResults\u003e2\u003c/MaxResults\u003e\u003cDelimiter\u003e/\u003c/Delimiter\u003e\u003cBlobs\u003e\u003cBlob\u003e\u003cName\u003ebar\u003c/[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-70868297-0ddc-db8d-c381-9cc13e8337ec?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 17 Jun 2019 20:57:11 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "312433409"
  }
}