{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-2ec0cc9d-10e9-bdee-376b-d974520c2f3e?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 17 Feb 2021 02:30:52 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D2EC0C26B508\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 02:30:53 GMT",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-2ec0cc9d-10e9-bdee-376b-d974520c2f3e/test-blob-306fd92e-aa7b-07bb-1610-e42796839764",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 17 Feb 2021 02:30:52 GMT",
        "x-ms-encryption-algorithm": "AES256",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": "iYsH2smXzLyz3lcPErcR1xZ9PExjsdLCvDuBYjmzn9VgHnQTatAylgyzfJ1Sq/Ve/g0RGUZKAde5RR6OFmqCAD6Cr/ND/WxGS6U/sDQ0bxFFImMsooaOFR2dWiWxo4CiMHxe0PsBGwChys2hC1GjhNUMSPMHVl2485rWpaNHlKclnX\u002B31p8VRAdji9e47QrL\u002BdVPpVuMmtoepd1hKnVdWTUme23S66429wPspMuG/wWPCqzN\u002BO9LmQKkmTDBtBmSBTGiknKc\u002BQ4nGa5Xn/YPmKbX0R/Jj2FF2uFrLVF\u002BdEPqWp6Z422T8xGdpt5B9PkLlACK6uL5yHbQXbiQMcu8qaRqbUVYdrU4Q94OLOiCA\u002BXoX5hR84lg8JEnyYW1A8FF4P061oe[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-2ec0cc9d-10e9-bdee-376b-d974520c2f3e/test-blob-306fd92e-aa7b-07bb-1610-e42796839764?comp=tier",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-access-tier": "Archive",
        "x-ms-date": "Wed, 17 Feb 2021 02:30:53 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-2ec0cc9d-10e9-bdee-376b-d974520c2f3e/test-blob-306fd92e-aa7b-07bb-1610-e42796839764?comp=tier",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-access-tier": "Hot",
        "x-ms-date": "Wed, 17 Feb 2021 02:30:53 GMT",
        "x-ms-rehydrate-priority": "Standard",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-2ec0cc9d-10e9-bdee-376b-d974520c2f3e?restype=container\u0026comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 02:30:53 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-2ec0cc9d-10e9-bdee-376b-d974520c2f3e?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 02:30:53 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "148085221",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\nseanscope1"
  }
}