{
  "Entries": [
    {
      "RequestUri": "https://473xscnapby3pev24a.blob.preprod.core.windows.net/test-container-f441f029-fc90-9835-a05d-b20924a9ef83?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 23 Mar 2022 19:39:31 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA0D04DA681B09\u0022",
        "Last-Modified": "Wed, 23 Mar 2022 19:39:32 GMT",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://473xscnapby3pev24a.blob.preprod.core.windows.net/test-container-f441f029-fc90-9835-a05d-b20924a9ef83/foo",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 23 Mar 2022 19:39:31 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": "b5T7hZ6MAbz4h8c2pB5/\u002Bpr93ICLCEm3iotT8RbEZZ\u002BaAKeEqj0Xn6Ji7rInaec/IVyYV7A\u002BzGZLRPoSOA\u002BlMyIom6R2\u002B1Bd5jzeKRqWkCGkFM\u002B6LA7uXDNBOGVCBGeSvLqQ/s1DyCULOnB0X6NMtbTZbiQ/6gYTOj9wNcLqGuHVS2xfBZFUYEuqrvGdevyQ9IOxaJZCUtGzfMSN05NjISCPnhQ27LAihQ3YlTwVdsBC4EA/OLFLkvmaq4jNxo23Ro3RDdvoWQjTj\u002BOIabyVngUDSvJTJOhuRAsbm0EnVL6AIU\u002BuQ2jkWoY4a6nOwik8BQyC[...]
    {
      "RequestUri": "https://473xscnapby3pev24a.blob.preprod.core.windows.net/test-container-f441f029-fc90-9835-a05d-b20924a9ef83/bar",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 23 Mar 2022 19:39:32 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": "b5T7hZ6MAbz4h8c2pB5/\u002Bpr93ICLCEm3iotT8RbEZZ\u00[...]
    {
      "RequestUri": "https://473xscnapby3pev24a.blob.preprod.core.windows.net/test-container-f441f029-fc90-9835-a05d-b20924a9ef83/baz",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 23 Mar 2022 19:39:32 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": "b5T7hZ6MAbz4h8c2pB5/\u002Bpr93ICLCEm3iotT8RbEZZ\u00[...]
    {
      "RequestUri": "https://473xscnapby3pev24a.blob.preprod.core.windows.net/test-container-f441f029-fc90-9835-a05d-b20924a9ef83/foo/foo",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 23 Mar 2022 19:39:33 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": "b5T7hZ6MAbz4h8c2pB5/\u002Bpr93ICLCEm3iotT8RbEZZ[...]
    {
      "RequestUri": "https://473xscnapby3pev24a.blob.preprod.core.windows.net/test-container-f441f029-fc90-9835-a05d-b20924a9ef83/foo/bar",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 23 Mar 2022 19:39:33 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": "b5T7hZ6MAbz4h8c2pB5/\u002Bpr93ICLCEm3iotT8RbEZZ[...]
    {
      "RequestUri": "https://473xscnapby3pev24a.blob.preprod.core.windows.net/test-container-f441f029-fc90-9835-a05d-b20924a9ef83/baz/foo",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 23 Mar 2022 19:39:34 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": "b5T7hZ6MAbz4h8c2pB5/\u002Bpr93ICLCEm3iotT8RbEZZ[...]
    {
      "RequestUri": "https://473xscnapby3pev24a.blob.preprod.core.windows.net/test-container-f441f029-fc90-9835-a05d-b20924a9ef83/baz/foo/bar",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 23 Mar 2022 19:39:34 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": "b5T7hZ6MAbz4h8c2pB5/\u002Bpr93ICLCEm3iotT8R[...]
    {
      "RequestUri": "https://473xscnapby3pev24a.blob.preprod.core.windows.net/test-container-f441f029-fc90-9835-a05d-b20924a9ef83/baz/bar/foo",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 23 Mar 2022 19:39:35 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": "b5T7hZ6MAbz4h8c2pB5/\u002Bpr93ICLCEm3iotT8R[...]
    {
      "RequestUri": "https://473xscnapby3pev24a.blob.preprod.core.windows.net/test-container-f441f029-fc90-9835-a05d-b20924a9ef83/foo/foo?comp=metadata",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 23 Mar 2022 19:39:35 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA0D04DCE7C656\u0022",
        "Last-Modified": "Wed, 23 Mar 2022 19:39:36 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://473xscnapby3pev24a.blob.preprod.core.windows.net/test-container-f441f029-fc90-9835-a05d-b20924a9ef83?restype=container\u0026comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 23 Mar 2022 19:39:35 GMT",
        "x-ms-ignore-strong-consistency-lock": "true",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CEnumerationResults ServiceEndpoint=\u0022https://473xscnapby3pev24a.blob.preprod.core.windows.net/\u0022 ContainerName=\u0022test-container-f441f029-fc90-9835-a05d-b20924a9ef[...]
    {
      "RequestUri": "https://473xscnapby3pev24a.blob.preprod.core.windows.net/test-container-f441f029-fc90-9835-a05d-b20924a9ef83?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 23 Mar 2022 19:39:35 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1142257932",
    "Storage_TestConfigSecondary": "SecondaryTenant\n473xscnapby3pev24a\nU2FuaXRpemVk\nhttps://473xscnapby3pev24a.blob.preprod.core.windows.net\nhttp://473xscnapby3pev24a.file.core.windows.net\nhttp://473xscnapby3pev24a.queue.core.windows.net\nhttp://473xscnapby3pev24a.table.core.windows.net\n\n\n\n\nhttp://473xscnapby3pev24a-secondary.blob.core.windows.net\nhttp://473xscnapby3pev24a-secondary.file.core.windows.net\nhttp://473xscnapby3pev24a-secondary.queue.core.windows.net\nhttp://473xscnapby3pev24a-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://473xscnapby3pev24a.blob.preprod.core.windows.net/;QueueEndpoint=http://473xscnapby3pev24a.queue.core.windows.net/;FileEndpoint=http://473xscnapby3pev24a.file.core.windows.net/;BlobSecondaryEndpoint=http://473xscnapby3pev24a-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://473xscnapby3pev24a-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://473xscnapby3pev24a-secondary.file.core.windows.net/;AccountName=473xscnapby3pev24a;AccountKey=Sanitized\n\n\n"
  }
}
