{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-0193ad44-6041-fd3b-e707-645c35a2da49?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 17 Feb 2021 18:59:53 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8D8D37635E0A0B3\"",
        "Last-Modified": "Wed, 17 Feb 2021 18:59:53 GMT",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-0193ad44-6041-fd3b-e707-645c35a2da49/test-blob-7f7d7b22-b054-2163-f9e2-1612d5a269e5",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 17 Feb 2021 18:59:53 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": "KZBL3vlMl2k3stkWxCNEexOadRiEXn5g84eUz60XJl9weWbbJDz21uQUSKLWTFzVnpr+OixQYMoR6utxt8e7H4t6pku8aVfXo580cBXciqYrvzETGewyHxmcyjpRhB4cWSkXXKYQGDVCJ5aNHPC1NV9FRviWpwafSIYyIJ8chR+AFxbsxS3/Gqb80PJVpQIp55TaDD4mhrEjdxMf3viVJqF3DAXZyG8yRStSmdcUSaKECTkKQnnhWpBlyU0a3zyuZqpQ3pn9Tx4kqMYS1O3ZDy1xm9W+i+MolrF0dP8iGGXvozItw2sJh7kb5Zqyzoaji7kfqENn79rHJ0fniNseApBhIzC6rEvCZxQbo6ZJdscr[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-0193ad44-6041-fd3b-e707-645c35a2da49?restype=container&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 18:59:53 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://seanmcccanary3.blob.core.windows.net/\" ContainerName=\"test-container-0193ad44-6041-fd3b-e707-645c35a2da49\"><Blobs><Blob><Name>test-blob-7f7d7b22-b054-2163-f9e2-1612d5a269e5</Name><VersionId>2021-02-17T18:59:53.7148661Z</VersionId><IsCurrentVersion>true</IsCurrentVersion><Properties><Creation-Time>Wed, 17 Feb 2021 18:59:53 GMT</Creation-Time><Last-Modified>Wed, 17 Feb 2021 18:59:53 GMT</Last-Modified><Etag>0x8D8D37635EB6EF5</Etag><Content-Length>1024</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding /><Content-Language /><Content-CRC64 /><Content-MD5>/os6hJv7f1OH3mqx5Z2d9A==</Content-MD5><Cache-Control /><Content-Disposition /><LastAccessTime>Wed, 17 Feb 2021 18:59:53 GMT</LastAccessTime><BlobType>BlockBlob</BlobType><AccessTier>Hot</AccessTier><AccessTierInferred>true</AccessTierInferred><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><OrMetadata /></Blob></Blobs><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-0193ad44-6041-fd3b-e707-645c35a2da49?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 18:59:53 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "18694865",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\nseanscope1\n\n"
  }
}