{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-7061c747-dbb7-0d9c-f68c-e46fd4ef1069?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 17 Feb 2021 18:59:35 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8D8D3762B0195A1\"",
        "Last-Modified": "Wed, 17 Feb 2021 18:59:35 GMT",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-7061c747-dbb7-0d9c-f68c-e46fd4ef1069/test-blob-4d6a6a42-3765-3c90-3577-baeb4dbe1806",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 17 Feb 2021 18:59:35 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": "+pwlcLeIQYJiYJdoyFRpe5B1moqFROIS0/tTsJ0MTTyJO0TkFMphuinn6gSfJ3PhDj5a1yOOgLW6E5y7NZHlVhJb340PhGbGFOBhnlndcquHcaFesXYY+7qOKgEtpYWXAZTxREjm0YnXk8JDLeJb3KDwM8Pvh6ScQ+TTgFplmW5byZzF6y5joaAYhh6z1c7YM01gPHLCqHrwVQBkE1EucvpU6GNFlvFyjZIj1wCG6G4V+k0NBFz8mCAi1JUt/o5O6RQjX+1qk5xb7q/fn9B5am2SThgEIG2dV09CI8FbRI4E1O7sYomBq2exsRatHPlQqGoom7B1SsimhQeeJ2/aAKkg28rijQjkEKOwU29X8DtV[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-7061c747-dbb7-0d9c-f68c-e46fd4ef1069?restype=container&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 18:59:35 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://seanmcccanary3.blob.core.windows.net/\" ContainerName=\"test-container-7061c747-dbb7-0d9c-f68c-e46fd4ef1069\"><Blobs><Blob><Name>test-blob-4d6a6a42-3765-3c90-3577-baeb4dbe1806</Name><VersionId>2021-02-17T18:59:35.5058303Z</VersionId><IsCurrentVersion>true</IsCurrentVersion><Properties><Creation-Time>Wed, 17 Feb 2021 18:59:35 GMT</Creation-Time><Last-Modified>Wed, 17 Feb 2021 18:59:35 GMT</Last-Modified><Etag>0x8D8D3762B10F47F</Etag><Content-Length>1024</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding /><Content-Language /><Content-CRC64 /><Content-MD5>xBFbC3Eqk0eeupCsFlEBoA==</Content-MD5><Cache-Control /><Content-Disposition /><LastAccessTime>Wed, 17 Feb 2021 18:59:35 GMT</LastAccessTime><BlobType>BlockBlob</BlobType><AccessTier>Hot</AccessTier><AccessTierInferred>true</AccessTierInferred><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><OrMetadata /></Blob></Blobs><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-7061c747-dbb7-0d9c-f68c-e46fd4ef1069?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 18:59:35 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "200035518",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\nseanscope1\n\n"
  }
}