{
  "Entries": [
    {
      "RequestUri": "http://amandadev2.blob.core.windows.net/test-container-763e9087-72f7-5d57-7086-f89f3aa6017c?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 15 Oct 2019 23:43:42 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D751C983021F5B\u0022",
        "Last-Modified": "Tue, 15 Oct 2019 23:43:42 GMT",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://amandadev2.blob.core.windows.net/test-container-763e9087-72f7-5d57-7086-f89f3aa6017c/foo",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 15 Oct 2019 23:43:42 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": "e30l/HWggsHQEbI0mMzrMPPa5w2Utl7ZfZMDyJ0nB2vlqA/0GpenF6pQeQz\u002BkRK\u002B6/elSnDPncUeS37hnbkjqQlGTu\u002B99xVbM89iQzxR2uyBRNymgr37FgtK1c4YxXnxLNACuEIjAfThSRegbFmIzXGRYFncfSZMSzjjciJHQ25VcRdsTiKqXULoxDmmWqqxwghch2QgFK6ptmwKP47RmgaoSvpCG35P5wIW9LjtpvCOMrAa6rsJNV1ow5i1oB6zFyoz/Q\u002Bvb6aJDZ9iCiD1uxB7fA3etrBKnxWc2VjlmUfkYtyOuqjh3sIKkNwcpyo9cgeIOiQQ1WF66F36E5VNpHNX[...]
    {
      "RequestUri": "http://amandadev2.blob.core.windows.net/test-container-763e9087-72f7-5d57-7086-f89f3aa6017c/bar",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 15 Oct 2019 23:43:42 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": "e30l/HWggsHQEbI0mMzrMPPa5w2Utl7ZfZMDyJ0nB2vlqA/0GpenF6pQeQz\u002BkRK\u002B6/elSnDPncUeS37hnbkjqQlGTu\u002B99xVbM89iQzxR2[...]
    {
      "RequestUri": "http://amandadev2.blob.core.windows.net/test-container-763e9087-72f7-5d57-7086-f89f3aa6017c/baz",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 15 Oct 2019 23:43:42 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": "e30l/HWggsHQEbI0mMzrMPPa5w2Utl7ZfZMDyJ0nB2vlqA/0GpenF6pQeQz\u002BkRK\u002B6/elSnDPncUeS37hnbkjqQlGTu\u002B99xVbM89iQzxR2[...]
    {
      "RequestUri": "http://amandadev2.blob.core.windows.net/test-container-763e9087-72f7-5d57-7086-f89f3aa6017c/foo/foo",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 15 Oct 2019 23:43:42 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": "e30l/HWggsHQEbI0mMzrMPPa5w2Utl7ZfZMDyJ0nB2vlqA/0GpenF6pQeQz\u002BkRK\u002B6/elSnDPncUeS37hnbkjqQlGTu\u002B99xVbM89iQ[...]
    {
      "RequestUri": "http://amandadev2.blob.core.windows.net/test-container-763e9087-72f7-5d57-7086-f89f3aa6017c/foo/bar",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 15 Oct 2019 23:43:42 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": "e30l/HWggsHQEbI0mMzrMPPa5w2Utl7ZfZMDyJ0nB2vlqA/0GpenF6pQeQz\u002BkRK\u002B6/elSnDPncUeS37hnbkjqQlGTu\u002B99xVbM89iQ[...]
    {
      "RequestUri": "http://amandadev2.blob.core.windows.net/test-container-763e9087-72f7-5d57-7086-f89f3aa6017c/baz/foo",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 15 Oct 2019 23:43:42 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": "e30l/HWggsHQEbI0mMzrMPPa5w2Utl7ZfZMDyJ0nB2vlqA/0GpenF6pQeQz\u002BkRK\u002B6/elSnDPncUeS37hnbkjqQlGTu\u002B99xVbM89iQ[...]
    {
      "RequestUri": "http://amandadev2.blob.core.windows.net/test-container-763e9087-72f7-5d57-7086-f89f3aa6017c/baz/foo/bar",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 15 Oct 2019 23:43:42 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": "e30l/HWggsHQEbI0mMzrMPPa5w2Utl7ZfZMDyJ0nB2vlqA/0GpenF6pQeQz\u002BkRK\u002B6/elSnDPncUeS37hnbkjqQlGTu\u002B99xVbM[...]
    {
      "RequestUri": "http://amandadev2.blob.core.windows.net/test-container-763e9087-72f7-5d57-7086-f89f3aa6017c/baz/bar/foo",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 15 Oct 2019 23:43:42 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": "e30l/HWggsHQEbI0mMzrMPPa5w2Utl7ZfZMDyJ0nB2vlqA/0GpenF6pQeQz\u002BkRK\u002B6/elSnDPncUeS37hnbkjqQlGTu\u002B99xVbM[...]
    {
      "RequestUri": "http://amandadev2.blob.core.windows.net/test-container-763e9087-72f7-5d57-7086-f89f3aa6017c/foo/foo?comp=metadata",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 15 Oct 2019 23:43:42 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D751C98349DE14\u0022",
        "Last-Modified": "Tue, 15 Oct 2019 23:43:42 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://amandadev2.blob.core.windows.net/test-container-763e9087-72f7-5d57-7086-f89f3aa6017c?restype=container\u0026comp=list\u0026prefix=foo",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 15 Oct 2019 23:43:42 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CEnumerationResults ServiceEndpoint=\u0022http://amandadev2.blob.core.windows.net/\u0022 ContainerName=\u0022test-container-763e9087-72f7-5d57-7086-f89f3aa6017c\u0022\u003E\u003CPrefix\u003Efoo\u003C/Prefix\u003E\u003CBlobs\u003E\u003CBlob\u003E\u003CName\u003Efoo\u003C/Name\u003E\u003CProperties\u003E\u003CCreation-Time\u003ETue,[...]
    {
      "RequestUri": "http://amandadev2.blob.core.windows.net/test-container-763e9087-72f7-5d57-7086-f89f3aa6017c?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 15 Oct 2019 23:43:43 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1425492991",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttp://amandadev2.blob.core.windows.net\nhttp://amandadev2.file.core.windows.net\nhttp://amandadev2.queue.core.windows.net\nhttp://amandadev2.table.core.windows.net\n\n\n\n\nhttp://amandadev2-secondary.blob.core.windows.net\nhttp://amandadev2-secondary.file.core.windows.net\nhttp://amandadev2-secondary.queue.core.windows.net\nhttp://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://amandadev2.blob.core.windows.net/;QueueEndpoint=http://amandadev2.queue.core.windows.net/;TableEndpoint=http://amandadev2.table.core.windows.net/;FileEndpoint=http://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=http://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://amandadev2-secondary.queue.core.windows.net/;TableSecondaryEndpoint=http://amandadev2-secondary.table.core.windows.net/;FileSecondaryEndpoint=http://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized"
  }
}