{
  "Entries": [
    {
      "RequestUri": "http://amandacanary.blob.core.windows.net/test-container-18cbc38f-93e8-b528-9201-74550519c9f9?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Sat, 25 Apr 2020 01:12:54 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7E8B5C89781D2\u0022",
        "Last-Modified": "Sat, 25 Apr 2020 01:12:54 GMT",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://amandacanary.blob.core.windows.net/test-container-18cbc38f-93e8-b528-9201-74550519c9f9/foo",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Sat, 25 Apr 2020 01:12:54 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": "ok2XLqoXubFuSgv75D85T45B0qzphK6I93cvJrTxySN5yEUtq0SIap5\u002B1wDj\u002BARcfdrVdRbH/R6fDzYz55P8fYDngRz5C6RKuWgNa6ytpf9y0qjaG1QNscsnjpsNVYMKgVqA\u002B3boY3E1i7ytuZFx8Wo3wBTrImEr2s9Q0nwIPWTkA\u002BlSLaqIim82pJCYX/g5tp0w1ZRuH1/5VCCml5D0LU5XybanH8TArjWltH3Rk3rXFxzf12fPduOKWdiJ4vPeQndCQJZBkZfZcCdfyGviJ8Gmz390FVXniFLTHcXsN8xCxnIFjlLjlYWEBmc/cK13qDEW4hJzaiwhW7hEbnTR7Dla[...]
    {
      "RequestUri": "http://amandacanary.blob.core.windows.net/test-container-18cbc38f-93e8-b528-9201-74550519c9f9/bar",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Sat, 25 Apr 2020 01:12:54 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": "ok2XLqoXubFuSgv75D85T45B0qzphK6I93cvJrTxySN5yEUtq0SIap5\u002B1wDj\u002BARcfdrVdRbH/R6fDzYz55P8fYDngRz5C6RKuWgNa6ytpf9y[...]
    {
      "RequestUri": "http://amandacanary.blob.core.windows.net/test-container-18cbc38f-93e8-b528-9201-74550519c9f9/baz",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Sat, 25 Apr 2020 01:12:55 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": "ok2XLqoXubFuSgv75D85T45B0qzphK6I93cvJrTxySN5yEUtq0SIap5\u002B1wDj\u002BARcfdrVdRbH/R6fDzYz55P8fYDngRz5C6RKuWgNa6ytpf9y[...]
    {
      "RequestUri": "http://amandacanary.blob.core.windows.net/test-container-18cbc38f-93e8-b528-9201-74550519c9f9/foo/foo",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Sat, 25 Apr 2020 01:12:55 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": "ok2XLqoXubFuSgv75D85T45B0qzphK6I93cvJrTxySN5yEUtq0SIap5\u002B1wDj\u002BARcfdrVdRbH/R6fDzYz55P8fYDngRz5C6RKuWgNa6yt[...]
    {
      "RequestUri": "http://amandacanary.blob.core.windows.net/test-container-18cbc38f-93e8-b528-9201-74550519c9f9/foo/bar",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Sat, 25 Apr 2020 01:12:55 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": "ok2XLqoXubFuSgv75D85T45B0qzphK6I93cvJrTxySN5yEUtq0SIap5\u002B1wDj\u002BARcfdrVdRbH/R6fDzYz55P8fYDngRz5C6RKuWgNa6yt[...]
    {
      "RequestUri": "http://amandacanary.blob.core.windows.net/test-container-18cbc38f-93e8-b528-9201-74550519c9f9/baz/foo",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Sat, 25 Apr 2020 01:12:55 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": "ok2XLqoXubFuSgv75D85T45B0qzphK6I93cvJrTxySN5yEUtq0SIap5\u002B1wDj\u002BARcfdrVdRbH/R6fDzYz55P8fYDngRz5C6RKuWgNa6yt[...]
    {
      "RequestUri": "http://amandacanary.blob.core.windows.net/test-container-18cbc38f-93e8-b528-9201-74550519c9f9/baz/foo/bar",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Sat, 25 Apr 2020 01:12:55 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": "ok2XLqoXubFuSgv75D85T45B0qzphK6I93cvJrTxySN5yEUtq0SIap5\u002B1wDj\u002BARcfdrVdRbH/R6fDzYz55P8fYDngRz5C6RKuWgN[...]
    {
      "RequestUri": "http://amandacanary.blob.core.windows.net/test-container-18cbc38f-93e8-b528-9201-74550519c9f9/baz/bar/foo",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Sat, 25 Apr 2020 01:12:55 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": "ok2XLqoXubFuSgv75D85T45B0qzphK6I93cvJrTxySN5yEUtq0SIap5\u002B1wDj\u002BARcfdrVdRbH/R6fDzYz55P8fYDngRz5C6RKuWgN[...]
    {
      "RequestUri": "http://amandacanary.blob.core.windows.net/test-container-18cbc38f-93e8-b528-9201-74550519c9f9/foo/foo?comp=metadata",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 25 Apr 2020 01:12:55 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7E8B5C907E172\u0022",
        "Last-Modified": "Sat, 25 Apr 2020 01:12:55 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://amandacanary.blob.core.windows.net/test-container-18cbc38f-93e8-b528-9201-74550519c9f9?restype=container\u0026comp=list\u0026delimiter=%2F",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 25 Apr 2020 01:12:55 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CEnumerationResults ServiceEndpoint=\u0022http://amandacanary.blob.core.windows.net/\u0022 ContainerName=\u0022test-container-18cbc38f-93e8-b528-9201-74550519c9f9\u0022\u003E\u003CDelimiter\u003E/\u003C/Delimiter\u003E\u003CBlobs\u003E\u003CBlob\u003E\u003CName\u003Ebar\u003C/Name\u003E\u003CProperties\u003E\u003CCreation-Time\u00[...]
    {
      "RequestUri": "http://amandacanary.blob.core.windows.net/test-container-18cbc38f-93e8-b528-9201-74550519c9f9?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 25 Apr 2020 01:12:55 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1542115839",
    "Storage_TestConfigDefault": "ProductionTenant\namandacanary\nU2FuaXRpemVk\nhttp://amandacanary.blob.core.windows.net\nhttp://amandacanary.file.core.windows.net\nhttp://amandacanary.queue.core.windows.net\nhttp://amandacanary.table.core.windows.net\n\n\n\n\nhttp://amandacanary-secondary.blob.core.windows.net\nhttp://amandacanary-secondary.file.core.windows.net\nhttp://amandacanary-secondary.queue.core.windows.net\nhttp://amandacanary-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://amandacanary.blob.core.windows.net/;QueueEndpoint=http://amandacanary.queue.core.windows.net/;FileEndpoint=http://amandacanary.file.core.windows.net/;BlobSecondaryEndpoint=http://amandacanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://amandacanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://amandacanary-secondary.file.core.windows.net/;AccountName=amandacanary;AccountKey=Sanitized\n\nDefaultEndpointsProtocol=https;AccountName=ortestsaccountcbn1;AccountKey=OrRfzSm3ktQSklAGiL90/QusS7SdS6Y5S/AJoxZEeyKYDtnue7OKYIMLOraTnT4xcOyhYbqzWVmtTKappcc5Fg==;EndpointSuffix=core.windows.net\nDefaultEndpointsProtocol=https;AccountName=vbalaorcentral1;AccountKey=vlHMz/LZ3Sx7r/1bdTQT26pG0tqORQ4uTIcxGhHB0LQhIhqGxfv2TXV7u\u002BI2ra4UWXrWGGHG2N6l\u002BBfb5FgAcQ==;EndpointSuffix=core.windows.net"
  }
}