{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-a08472b7-761a-4983-a829-3d5744ebf5fe?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 17 Feb 2021 02:29:34 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D2EBDDBA886D\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 02:29:35 GMT",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-a08472b7-761a-4983-a829-3d5744ebf5fe/test-blob-b5824410-fa31-6ef4-ec82-157394ab791d",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 17 Feb 2021 02:29:35 GMT",
        "x-ms-encryption-algorithm": "AES256",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": "PS8Pqgw\u002B6agSZR9Fl5iosXbax4sHNdxNpm/KkuRZaqEKkq4qyYb70lvao8zartdT2mT9uePuFghTwgScc1fDuPp\u002BOwTqfefw3/QvLZIPcveYdreAXLC9G3ym1weCXl4DF\u002BrRXHPSaV19DNruvuh1Q08MA/2gQlxJwSCIQ6XfboCWLBanPhaExgxZA0/WzlyTMJS3dVphY9SOh5tSSiW3nZ5ZWJHSzQU5iD3wRj8Mc/LD9BMRJ/kmNclBGbZ7MXznomWxfHbKwWOOfu0dcByUghSoj1USpnWlMyLIkLRPvVbBCaTaWvd7\u002BDKwgqgLCcSsrZai0qEm1PvwDEhTAjCuP8GWXGd4uicdLZcjYiPMmSpeG\u002BMdrOu1mjSo6k6uKPUBAULndK1dNPNv[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-a08472b7-761a-4983-a829-3d5744ebf5fe/test-blob-b5824410-fa31-6ef4-ec82-157394ab791d?comp=tier",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-access-tier": "Archive",
        "x-ms-date": "Wed, 17 Feb 2021 02:29:35 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-a08472b7-761a-4983-a829-3d5744ebf5fe/test-blob-b5824410-fa31-6ef4-ec82-157394ab791d?comp=tier",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-access-tier": "Hot",
        "x-ms-date": "Wed, 17 Feb 2021 02:29:35 GMT",
        "x-ms-rehydrate-priority": "High",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-a08472b7-761a-4983-a829-3d5744ebf5fe?restype=container\u0026comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 02:29:35 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-a08472b7-761a-4983-a829-3d5744ebf5fe?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 02:29:35 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1639908443",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\nseanscope1"
  }
}