{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-17b90712-da11-c586-207d-de5d6cf329a7?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 10 Jun 2020 19:57:00 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D80D78707333C8\u0022",
        "Last-Modified": "Wed, 10 Jun 2020 19:57:00 GMT",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-17b90712-da11-c586-207d-de5d6cf329a7/foo",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 10 Jun 2020 19:57:00 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": "oFFHV69sjLYPSVEEbd/pHthSSFfjYH6JrxvWIbPZpNDDJQaJukzcqIdYueDx3aWY6opFeK3wYz/TvqeTlWsDNaSAQEfZX2OLdp/Pi6edmNF2PjYolCwj08LGtvylSBIcVIQ7cZxevoomuQININeYNSbVHVc02qF4XG2FE6lm5i2MszYiYic1F3\u002BsAtoqFrPqLoDWzyu66HnjwxQv2avhwNPUgG2hddP/oAXYh9jGTka6m\u002BQpjxYC0sq8P54SBT7Uy0IHVZVGSbms1y8l4mChHHXNdT7GuDC80a6i5DU17JrGA7yWv/ixc1ErfLjn3e9pGyMoRZAADhMRSoTno2WDd\u002BuUXt6jC[...]
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-17b90712-da11-c586-207d-de5d6cf329a7/bar",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 10 Jun 2020 19:57:00 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": "oFFHV69sjLYPSVEEbd/pHthSSFfjYH6JrxvWIbPZpNDDJQaJukzcqIdYueDx3aWY6opFeK3wYz/TvqeTlWsDNaSAQEfZX2OLdp/Pi6edmNF2PjYolCwj[...]
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-17b90712-da11-c586-207d-de5d6cf329a7/baz",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 10 Jun 2020 19:57:00 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": "oFFHV69sjLYPSVEEbd/pHthSSFfjYH6JrxvWIbPZpNDDJQaJukzcqIdYueDx3aWY6opFeK3wYz/TvqeTlWsDNaSAQEfZX2OLdp/Pi6edmNF2PjYolCwj[...]
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-17b90712-da11-c586-207d-de5d6cf329a7/foo/foo",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 10 Jun 2020 19:57:00 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": "oFFHV69sjLYPSVEEbd/pHthSSFfjYH6JrxvWIbPZpNDDJQaJukzcqIdYueDx3aWY6opFeK3wYz/TvqeTlWsDNaSAQEfZX2OLdp/Pi6edmNF2PjYo[...]
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-17b90712-da11-c586-207d-de5d6cf329a7/foo/bar",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 10 Jun 2020 19:57:00 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": "oFFHV69sjLYPSVEEbd/pHthSSFfjYH6JrxvWIbPZpNDDJQaJukzcqIdYueDx3aWY6opFeK3wYz/TvqeTlWsDNaSAQEfZX2OLdp/Pi6edmNF2PjYo[...]
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-17b90712-da11-c586-207d-de5d6cf329a7/baz/foo",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 10 Jun 2020 19:57:00 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": "oFFHV69sjLYPSVEEbd/pHthSSFfjYH6JrxvWIbPZpNDDJQaJukzcqIdYueDx3aWY6opFeK3wYz/TvqeTlWsDNaSAQEfZX2OLdp/Pi6edmNF2PjYo[...]
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-17b90712-da11-c586-207d-de5d6cf329a7/baz/foo/bar",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 10 Jun 2020 19:57:00 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": "oFFHV69sjLYPSVEEbd/pHthSSFfjYH6JrxvWIbPZpNDDJQaJukzcqIdYueDx3aWY6opFeK3wYz/TvqeTlWsDNaSAQEfZX2OLdp/Pi6edmNF2[...]
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-17b90712-da11-c586-207d-de5d6cf329a7/baz/bar/foo",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 10 Jun 2020 19:57:00 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": "oFFHV69sjLYPSVEEbd/pHthSSFfjYH6JrxvWIbPZpNDDJQaJukzcqIdYueDx3aWY6opFeK3wYz/TvqeTlWsDNaSAQEfZX2OLdp/Pi6edmNF2[...]
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-17b90712-da11-c586-207d-de5d6cf329a7/foo/foo?comp=metadata",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 10 Jun 2020 19:57:00 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D80D7870C6965D\u0022",
        "Last-Modified": "Wed, 10 Jun 2020 19:57:01 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-12-12",
        "x-ms-version-id": "2020-06-10T19:57:01.2234605Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-17b90712-da11-c586-207d-de5d6cf329a7?restype=container\u0026comp=list\u0026prefix=foo",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 10 Jun 2020 19:57:01 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CEnumerationResults ServiceEndpoint=\u0022https://seanmcccanary.blob.core.windows.net/\u0022 ContainerName=\u0022test-container-17b90712-da11-c586-207d-de5d6cf329a7\u0022\u003E\u003CPrefix\u003Efoo\u003C/Prefix\u003E\u003CBlobs\u003E\u003CBlob\u003E\u003CName\u003Efoo\u003C/Name\u003E\u003CVersionId\u003E2020-06-10T19:57:00.739113[...]
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-17b90712-da11-c586-207d-de5d6cf329a7?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 10 Jun 2020 19:57:01 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1720048379",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary\nU2FuaXRpemVk\nhttps://seanmcccanary.blob.core.windows.net\nhttps://seanmcccanary.file.core.windows.net\nhttps://seanmcccanary.queue.core.windows.net\nhttps://seanmcccanary.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary-secondary.blob.core.windows.net\nhttps://seanmcccanary-secondary.file.core.windows.net\nhttps://seanmcccanary-secondary.queue.core.windows.net\nhttps://seanmcccanary-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary.queue.core.windows.net/;FileEndpoint=https://seanmcccanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary-secondary.file.core.windows.net/;AccountName=seanmcccanary;AccountKey=Sanitized\nseanscope1"
  }
}