{
  "Entries": [
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-49196437-8fa4-6065-bfab-06e1d1bf0778?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Fri, 12 Jul 2019 17:54:52 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D706F20A867106\u0022",
        "Last-Modified": "Fri, 12 Jul 2019 17:54:52 GMT",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-49196437-8fa4-6065-bfab-06e1d1bf0778/foo",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 12 Jul 2019 17:54:52 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": "T\u002bJyHmQFXxaYMTxZbkCIIwjXdggd7F0lXds0xfqEDKNbTpLvTegULOrdQ3HVrM/UVnHXfKVGm2OETcGI0JobEyWY/iCumdUgw0oeP6jsT7AMYG\u002bIrY/\u002bFLIua/8mi1tQwS9LPa6vJb2bt7laKFu6l/0QfHArk2aVmeltfy3V\u002bTfuzn54oBIBXTqx7PXWpOxXc9MCFg7rJC7JtaPFQaaPxb2BbFrdQffqDh81eaZwv/X8FgtZ0\u002bMoA6lPr\u002bpvPBuUISY3VTeSeTHcFwfvtauIWPatyCuaNvLaWGiwjZIMe9IDoFd/OGm9apzZfbvbOU3\u002bx1b0wXPw\[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-49196437-8fa4-6065-bfab-06e1d1bf0778/bar",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 12 Jul 2019 17:54:52 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": "T\u002bJyHmQFXxaYMTxZbkCIIwjXdggd7F0lXds0xfqEDKNbTpLvTegULOrdQ3HVrM/UVnHXfKVGm2OETcGI0JobEyWY/iCumdUgw0oeP6js[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-49196437-8fa4-6065-bfab-06e1d1bf0778/baz",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 12 Jul 2019 17:54:52 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": "T\u002bJyHmQFXxaYMTxZbkCIIwjXdggd7F0lXds0xfqEDKNbTpLvTegULOrdQ3HVrM/UVnHXfKVGm2OETcGI0JobEyWY/iCumdUgw0oeP6js[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-49196437-8fa4-6065-bfab-06e1d1bf0778/foo/foo",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 12 Jul 2019 17:54:52 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": "T\u002bJyHmQFXxaYMTxZbkCIIwjXdggd7F0lXds0xfqEDKNbTpLvTegULOrdQ3HVrM/UVnHXfKVGm2OETcGI0JobEyWY/iCumdUgw0oe[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-49196437-8fa4-6065-bfab-06e1d1bf0778/foo/bar",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 12 Jul 2019 17:54:52 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": "T\u002bJyHmQFXxaYMTxZbkCIIwjXdggd7F0lXds0xfqEDKNbTpLvTegULOrdQ3HVrM/UVnHXfKVGm2OETcGI0JobEyWY/iCumdUgw0oe[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-49196437-8fa4-6065-bfab-06e1d1bf0778/baz/foo",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 12 Jul 2019 17:54:52 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": "T\u002bJyHmQFXxaYMTxZbkCIIwjXdggd7F0lXds0xfqEDKNbTpLvTegULOrdQ3HVrM/UVnHXfKVGm2OETcGI0JobEyWY/iCumdUgw0oe[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-49196437-8fa4-6065-bfab-06e1d1bf0778/baz/foo/bar",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 12 Jul 2019 17:54:52 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": "T\u002bJyHmQFXxaYMTxZbkCIIwjXdggd7F0lXds0xfqEDKNbTpLvTegULOrdQ3HVrM/UVnHXfKVGm2OETcGI0JobEyWY/iCumdUg[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-49196437-8fa4-6065-bfab-06e1d1bf0778/baz/bar/foo",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 12 Jul 2019 17:54:52 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": "T\u002bJyHmQFXxaYMTxZbkCIIwjXdggd7F0lXds0xfqEDKNbTpLvTegULOrdQ3HVrM/UVnHXfKVGm2OETcGI0JobEyWY/iCumdUg[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-49196437-8fa4-6065-bfab-06e1d1bf0778/foo/foo?comp=metadata",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 12 Jul 2019 17:54:52 GMT",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D706F20AA4AF6B\u0022",
        "Last-Modified": "Fri, 12 Jul 2019 17:54:52 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-49196437-8fa4-6065-bfab-06e1d1bf0778?restype=container\u0026comp=list\u0026delimiter=%2F",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 12 Jul 2019 17:54:52 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": "\ufeff\u003c?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003e\u003cEnumerationResults ServiceEndpoint=\u0022http://storageteglazatesting.blob.core.windows.net/\u0022 ContainerName=\u0022test-container-49196437-8fa4-6065-bfab-06e1d1bf0778\u0022\u003e\u003cDelimiter\u003e/\u003c/Delimiter\u003e\u003cBlobs\u003e\u003cBlob\u003e\u003cName\u003ebar\u003c/Name\u003e\u003cProperties\u003e\u003cCreation[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-49196437-8fa4-6065-bfab-06e1d1bf0778?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 12 Jul 2019 17:54:52 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1751041535",
    "Storage_TestConfigDefault": "ProductionTenant\nstorageteglazatesting\nU2FuaXRpemVk\nhttp://storageteglazatesting.blob.core.windows.net\nhttp://storageteglazatesting.file.core.windows.net\nhttp://storageteglazatesting.queue.core.windows.net\nhttp://storageteglazatesting.table.core.windows.net\n\n\n\n\nhttp://storageteglazatesting-secondary.blob.core.windows.net\n\nhttp://storageteglazatesting-secondary.queue.core.windows.net\nhttp://storageteglazatesting-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://storageteglazatesting.blob.core.windows.net/;QueueEndpoint=http://storageteglazatesting.queue.core.windows.net/;TableEndpoint=http://storageteglazatesting.table.core.windows.net/;FileEndpoint=http://storageteglazatesting.file.core.windows.net/;BlobSecondaryEndpoint=http://storageteglazatesting-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://storageteglazatesting-secondary.queue.core.windows.net/;TableSecondaryEndpoint=http://storageteglazatesting-secondary.table.core.windows.net/;AccountName=storageteglazatesting;AccountKey=Sanitized"
  }
}