{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-419ce9f1-5f73-c7f1-90c0-be535defa936?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 24 Jun 2020 17:30:44 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8186453B24C74\u0022",
        "Last-Modified": "Wed, 24 Jun 2020 17:30:45 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-419ce9f1-5f73-c7f1-90c0-be535defa936/test-blob-7a9e6c80-cb16-21f2-a6a2-f01ce0576983",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 24 Jun 2020 17:30:45 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": "ae2/hzGWcsuUQKEZedBx1nDAGfJu3LrI4ptsIaDKphCn0wiau1\u002BL6vnS5dUq2afVMBmrHz12FI0z96SWKVErypmQcabI1xsRNS/4m/bknQnzlvCHH4bSML56Z8O69cCopxo7mWcBDFn\u002BmeoOfniXTlmbopNgo6sTvkHnTm9XVz9uT/TbqASh8omWiIWcxLFF4xlpHlItSANvKNsmGb7qpkGrny6Eu6VV\u002BrAJyhold/qPoWpW7jjsQQfwbH8pe9jLrOJD8CSDwSdzEySiJH3oSbHhlndUlLcJvl4mk08mLH/XPR444YbVDOBC49oUSR2JByLOSORhdxcqOjLGXC3YTeeky\u00[...]
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-419ce9f1-5f73-c7f1-90c0-be535defa936?restype=container\u0026comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 24 Jun 2020 17:30:45 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CEnumerationResults ServiceEndpoint=\u0022https://seanmcccanary.blob.core.windows.net/\u0022 ContainerName=\u0022test-container-419ce9f1-5f73-c7f1-90c0-be535defa936\u0022\u003E\u003CBlobs\u003E\u003CBlob\u003E\u003CName\u003Etest-blob-7a9e6c80-cb16-21f2-a6a2-f01ce0576983\u003C/Name\u003E\u003CVersionId\u003E2020-06-24T17:30:45.441[...]
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-419ce9f1-5f73-c7f1-90c0-be535defa936?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 24 Jun 2020 17:30:45 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1626905169",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary\nU2FuaXRpemVk\nhttps://seanmcccanary.blob.core.windows.net\nhttps://seanmcccanary.file.core.windows.net\nhttps://seanmcccanary.queue.core.windows.net\nhttps://seanmcccanary.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary-secondary.blob.core.windows.net\nhttps://seanmcccanary-secondary.file.core.windows.net\nhttps://seanmcccanary-secondary.queue.core.windows.net\nhttps://seanmcccanary-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary.queue.core.windows.net/;FileEndpoint=https://seanmcccanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary-secondary.file.core.windows.net/;AccountName=seanmcccanary;AccountKey=Sanitized\nseanscope1"
  }
}