{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-9de05bc0-4877-a233-31b2-6eb96834f8b1?sv=2021-12-02\u0026ss=bfqt\u0026srt=sco\u0026spr=https\u0026se=2021-08-31T22%3A19%3A27Z\u0026sp=rwdxylacuptfi\u0026sig=Sanitized\u0026restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D96CC503663419\u0022",
        "Last-Modified": "Tue, 31 Aug 2021 21:19:27 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-9de05bc0-4877-a233-31b2-6eb96834f8b1/test-blob-1ac12407-871e-76dc-2b6c-63a87725b9e9?sv=2021-12-02\u0026ss=bfqt\u0026srt=sco\u0026spr=https\u0026se=2021-08-31T22%3A19%3A27Z\u0026sp=rwdxylacuptfi\u0026sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": "fJvaJFgO8WEjCQiNLwXlZnXR5CIlNnbsGZ14815OnkDgYG48RXDljSBclkbZrP8tHy\u002Bfp3YfIUYk7Qq6lf0D1GrHrc\u002BWqSAE7FcByZ8wE22eStQvrvfJwD4oF1dlK/ciWcHcEf4vl3YOm7sfHVim9NmdG0sp1CZz/eyRbpHInsBf32/eUwJubrNeIBM7qqLlgSJ\u002ByA\u002Bs\u002BYWbaBMSnijkRfz6wD7oyKDXLqyXyrMTOFNKq\u002B1vStaxsubqQuvuXNCKetsWQOpj/biBppljFC7RiDDAyPM7dPslSQ1Y/Ya16dLcDVDY/Pdp5q007qM8Tp63Gbq7LZTcTwXg8PfcC/8yy73Ghgfd\u002BYw4V\u002BFFBoVX6fpuoeTM\u002Brs\u[...]
[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-9d9c23a5-b4fc-8af9-a263-08c11c48ab49?sv=2021-12-02\u0026ss=bfqt\u0026srt=sco\u0026spr=https\u0026se=2021-08-31T22%3A19%3A27Z\u0026sp=rwdxylacuptfi\u0026sig=Sanitized\u0026restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2021-08-31T16:19:27.6652455-05:00",
    "RandomSeed": "228007509",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\nseanscope1\n\n"
  }
}