{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-ecd397fb-b7fa-939e-d57a-dbe894d4b1ad?sv=2019-12-12\u0026ss=bfqt\u0026srt=sco\u0026spr=https\u0026se=2020-04-03T01%3A02%3A13Z\u0026sp=rwdlacup\u0026sig=Sanitized\u0026restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7D76243528D3B\u0022",
        "Last-Modified": "Fri, 03 Apr 2020 00:02:13 GMT",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-ecd397fb-b7fa-939e-d57a-dbe894d4b1ad/test-blob-550e7583-07db-fd7b-a786-9b2ff4274327?sv=2019-12-12\u0026ss=bfqt\u0026srt=sco\u0026spr=https\u0026se=2020-04-03T01%3A02%3A13Z\u0026sp=rwdlacup\u0026sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-blob-type": "BlockBlob",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": "IsvfapPgBdhlMbMxXUrjO9EgA\u002BBQnHJBKmcBIwP9PImseqdhii\u002BdlGf/YitbLs4WGnSelP7OLoZZnT8s3\u002BLVZ/UpheOigbCig294UTpG5fuY6giPX6eK3UwhCO3vcLSFKvo2MajrdJjD\u002BxGPVtxLErdDk/TaRQdOn6eWgXnDshK68yc/D7RSrHZvy2SW\u002Bodv1fU1q92/q\u002BTz6JIBVfIf/0j\u002B1WK1CwMD8OZ\u002Banqjt6UgJquEjgc1\u002BkhDTCciUVeDUMsblyQkusnyMbr2QUBpUDDs4C5Hm3FByNsacr/b4Z\u002BO\u002BhquhyCA/GzhkV1MP7gH2fz2NXEpPLRa2s9JCUgKFk8bZ0clu8gQbOPCZQkU9Yk[...]
[...]
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-ec8534e0-6dcd-1a3e-5795-1c1d46e7f765?sv=2019-12-12\u0026ss=bfqt\u0026srt=sco\u0026spr=https\u0026se=2020-04-03T01%3A02%3A13Z\u0026sp=rwdlacup\u0026sig=Sanitized\u0026restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2020-04-02T17:02:13.8517921-07:00",
    "RandomSeed": "1093056167",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary\nU2FuaXRpemVk\nhttps://seanmcccanary.blob.core.windows.net\nhttps://seanmcccanary.file.core.windows.net\nhttps://seanmcccanary.queue.core.windows.net\nhttps://seanmcccanary.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary-secondary.blob.core.windows.net\nhttps://seanmcccanary-secondary.file.core.windows.net\nhttps://seanmcccanary-secondary.queue.core.windows.net\nhttps://seanmcccanary-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary.queue.core.windows.net/;FileEndpoint=https://seanmcccanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary-secondary.file.core.windows.net/;AccountName=seanmcccanary;AccountKey=Sanitized\nseanscope1"
  }
}