{
  "Entries": [
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-92fd4e0a-7cd7-2104-c535-f324cf15b4a5?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 01 Jul 2019 21:55:27 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D6FE6ED404552A\u0022",
        "Last-Modified": "Mon, 01 Jul 2019 21:55:27 GMT",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-92fd4e0a-7cd7-2104-c535-f324cf15b4a5?comp=lease\u0026restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 01 Jul 2019 21:55:27 GMT",
        "x-ms-lease-action": "acquire",
        "x-ms-lease-duration": "15",
        "x-ms-proposed-lease-id": "94487bf7-3ddc-3048-eaa5-ce7b8f0307a0",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D6FE6ED404552A\u0022",
        "Last-Modified": "Mon, 01 Jul 2019 21:55:27 GMT",
        "x-ms-lease-id": "94487bf7-3ddc-3048-eaa5-ce7b8f0307a0",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-7463198d-b4d6-fad3-84da-39c5eaf6f9b9?comp=lease\u0026restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Modified-Since": "Sun, 30 Jun 2019 21:55:27 GMT",
        "x-ms-date": "Mon, 01 Jul 2019 21:55:27 GMT",
        "x-ms-lease-action": "renew",
        "x-ms-lease-id": "076de85f-f329-347d-b7e0-38f9cb0d5d94",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D6FE6ED40CE2C3\u0022",
        "Last-Modified": "Mon, 01 Jul 2019 21:55:27 GMT",
        "x-ms-lease-id": "076de85f-f329-347d-b7e0-38f9cb0d5d94",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-127fa5b6-5aa7-400b-0591-b1970e530f53?comp=lease\u0026restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Unmodified-Since": "Tue, 02 Jul 2019 21:55:27 GMT",
        "x-ms-date": "Mon, 01 Jul 2019 21:55:27 GMT",
        "x-ms-lease-action": "renew",
        "x-ms-lease-id": "7c9d8881-3566-2d91-292c-3624948735ee",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D6FE6ED415705D\u0022",
        "Last-Modified": "Mon, 01 Jul 2019 21:55:27 GMT",
        "x-ms-lease-id": "7c9d8881-3566-2d91-292c-3624948735ee",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-127fa5b6-5aa7-400b-0591-b1970e530f53?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 01 Jul 2019 21:55:27 GMT",
        "x-ms-lease-id": "7c9d8881-3566-2d91-292c-3624948735ee",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2019-07-01T14:55:27.6384810-07:00",
    "RandomSeed": "666240665"
  }
}