{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-b14bca0b-6965-7d96-7029-69e865fba446?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 02:31:55 GMT"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D2EC31BA4740\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 02:31:56 GMT"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-b14bca0b-6965-7d96-7029-69e865fba446?comp=lease\u0026restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 02:31:56 GMT",
        "x-ms-lease-action": "acquire",
        "x-ms-lease-duration": "15",
        "x-ms-proposed-lease-id": "fa1c1e1b-74f7-5b92-1d8a-4fe07b4ab609"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D2EC31BA4740\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 02:31:56 GMT",
        "x-ms-lease-id": "fa1c1e1b-74f7-5b92-1d8a-4fe07b4ab609"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-6fd4a36f-ff50-c284-96dd-fec3468fae71?comp=lease\u0026restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Modified-Since": "Tue, 16 Feb 2021 02:31:55 GMT",
        "x-ms-date": "Wed, 17 Feb 2021 02:31:56 GMT",
        "x-ms-lease-action": "renew",
        "x-ms-lease-id": "97fd7c88-04a6-70d8-f602-482689287135"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D2EC31FBC74F\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 02:31:56 GMT",
        "x-ms-lease-id": "97fd7c88-04a6-70d8-f602-482689287135"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-2850247b-8008-abb0-0342-d144ee7297a1?comp=lease\u0026restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Unmodified-Since": "Thu, 18 Feb 2021 02:31:55 GMT",
        "x-ms-date": "Wed, 17 Feb 2021 02:31:56 GMT",
        "x-ms-lease-action": "renew",
        "x-ms-lease-id": "ae93e3f3-8352-8094-319a-a26f8862b3d9"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D2EC323A32E3\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 02:31:56 GMT",
        "x-ms-lease-id": "ae93e3f3-8352-8094-319a-a26f8862b3d9"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-2850247b-8008-abb0-0342-d144ee7297a1?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 02:31:57 GMT",
        "x-ms-lease-id": "ae93e3f3-8352-8094-319a-a26f8862b3d9"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2021-02-16T20:31:55.7705480-06:00",
    "RandomSeed": "476528161",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\nseanscope1"
  }
}