{
  "Entries": [
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-c1d1c3b9-f7ef-05f6-42e2-6ab782f22a0b?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 24 Jun 2019 23:41:03 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D6F8FD6BBB6BBB\u0022",
        "Last-Modified": "Mon, 24 Jun 2019 23:41:03 GMT",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-c1d1c3b9-f7ef-05f6-42e2-6ab782f22a0b?restype=container\u0026comp=acl",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 24 Jun 2019 23:41:03 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": [
        "\u003cSignedIdentifiers\u003e\r\n",
        "  \u003cSignedIdentifier\u003e\r\n",
        "    \u003cId\u003emhfrapkrbjemchxtfqtk\u003c/Id\u003e\r\n",
        "    \u003cAccessPolicy\u003e\r\n",
        "      \u003cStart\u003e2019-06-24T22:41:03.7346052Z\u003c/Start\u003e\r\n",
        "      \u003cExpiry\u003e2019-06-25T00:41:03.7346052Z\u003c/Expiry\u003e\r\n",
        "      \u003cPermission\u003erw\u003c/Permission\u003e\r\n",
        "    \u003c/AccessPolicy\u003e\r\n",
        "  \u003c/SignedIdentifier\u003e\r\n",
        "\u003c/SignedIdentifiers\u003e"
      ],
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D6F8FD6BBEBE1C\u0022",
        "Last-Modified": "Mon, 24 Jun 2019 23:41:03 GMT",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-e1598fa1-67d1-0be4-a9f5-4d8753d4bab9?restype=container\u0026comp=acl",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "If-Modified-Since": "Sun, 23 Jun 2019 23:41:03 GMT",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 24 Jun 2019 23:41:03 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": [
        "\u003cSignedIdentifiers\u003e\r\n",
        "  \u003cSignedIdentifier\u003e\r\n",
        "    \u003cId\u003ehftetkmdhlxxtrtuytpw\u003c/Id\u003e\r\n",
        "    \u003cAccessPolicy\u003e\r\n",
        "      \u003cStart\u003e2019-06-24T22:41:03.7346052Z\u003c/Start\u003e\r\n",
        "      \u003cExpiry\u003e2019-06-25T00:41:03.7346052Z\u003c/Expiry\u003e\r\n",
        "      \u003cPermission\u003erw\u003c/Permission\u003e\r\n",
        "    \u003c/AccessPolicy\u003e\r\n",
        "  \u003c/SignedIdentifier\u003e\r\n",
        "\u003c/SignedIdentifiers\u003e"
      ],
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D6F8FD6BC5EBCF\u0022",
        "Last-Modified": "Mon, 24 Jun 2019 23:41:03 GMT",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-4f43cfab-0716-47ba-db19-4d2f91d00e1c?restype=container\u0026comp=acl",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "If-Unmodified-Since": "Tue, 25 Jun 2019 23:41:03 GMT",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 24 Jun 2019 23:41:03 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": [
        "\u003cSignedIdentifiers\u003e\r\n",
        "  \u003cSignedIdentifier\u003e\r\n",
        "    \u003cId\u003eqowoeckmevuiyrqhbdfr\u003c/Id\u003e\r\n",
        "    \u003cAccessPolicy\u003e\r\n",
        "      \u003cStart\u003e2019-06-24T22:41:03.7346052Z\u003c/Start\u003e\r\n",
        "      \u003cExpiry\u003e2019-06-25T00:41:03.7346052Z\u003c/Expiry\u003e\r\n",
        "      \u003cPermission\u003erw\u003c/Permission\u003e\r\n",
        "    \u003c/AccessPolicy\u003e\r\n",
        "  \u003c/SignedIdentifier\u003e\r\n",
        "\u003c/SignedIdentifiers\u003e"
      ],
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D6F8FD6BCC7D18\u0022",
        "Last-Modified": "Mon, 24 Jun 2019 23:41:03 GMT",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-13e95490-23c3-1779-c0cc-6eb841058164?comp=lease\u0026restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 24 Jun 2019 23:41:03 GMT",
        "x-ms-lease-action": "acquire",
        "x-ms-lease-duration": "-1",
        "x-ms-proposed-lease-id": "2ef145f6-9253-7145-0c01-98d090940407",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D6F8FD6BD0CDAA\u0022",
        "Last-Modified": "Mon, 24 Jun 2019 23:41:03 GMT",
        "x-ms-lease-id": "2ef145f6-9253-7145-0c01-98d090940407",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-13e95490-23c3-1779-c0cc-6eb841058164?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 24 Jun 2019 23:41:03 GMT",
        "x-ms-lease-id": "2ef145f6-9253-7145-0c01-98d090940407",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2019-06-24T16:41:03.7346052-07:00",
    "RandomSeed": "696503141"
  }
}