{
  "Entries": [
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-489484a9-fe58-2d7d-80c3-d71eab1a631c?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 01 Jul 2019 21:55:29 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D6FE6ED4D3E616\u0022",
        "Last-Modified": "Mon, 01 Jul 2019 21:55:29 GMT",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-489484a9-fe58-2d7d-80c3-d71eab1a631c/test-blob-ef884701-1ee6-d91d-7753-a9ca8879dc96",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Mon, 01 Jul 2019 21:55:29 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": "xokZeeuImB9jeA86bdafO2xiHGSRdDa8xJ/NmeFWkr9B\u002buAEK92JeK5pi20P42yhtG1eJl14BVJTXLVMu/49DeVP\u002bHP1mw\u002bO2aS1J\u002bjJreAzLOV0\u002bGxiyfSOsM8oPL2wLH6Hvw==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "iJcqH\u002bqqW6nvDdcVbIQs\u002bA==",
        "ETag": "\u00220x8D6FE6ED4E31B86\u0022",
        "Last-Modified": "Mon, 01 Jul 2019 21:55:29 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-489484a9-fe58-2d7d-80c3-d71eab1a631c/test-blob-ef884701-1ee6-d91d-7753-a9ca8879dc96",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 01 Jul 2019 21:55:29 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "iJcqH\u002bqqW6nvDdcVbIQs\u002bA==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D6FE6ED4E31B86\u0022",
        "Last-Modified": "Mon, 01 Jul 2019 21:55:29 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Mon, 01 Jul 2019 21:55:29 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-tag-count": "0",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-489484a9-fe58-2d7d-80c3-d71eab1a631c?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 01 Jul 2019 21:55:29 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "647384943"
  }
}