{
  "Entries": [
    {
      "RequestUri": "https://kasoboltest.blob.core.windows.net/test-container-db1edf07-20ce-6512-eb7f-2d8f0704c15a?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Fri, 05 Mar 2021 07:19:24 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8DFA7014FA070\u0022",
        "Last-Modified": "Fri, 05 Mar 2021 07:19:24 GMT",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://kasoboltest.blob.core.windows.net/test-container-db1edf07-20ce-6512-eb7f-2d8f0704c15a/test-blob-9a79a189-5900-6697-02b7-5a652f59ae96",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 05 Mar 2021 07:19:25 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": "QVE6Z4sj02F5O7TwmQ3pDDsWMBXcotv7CBGa0EQzL/6acI0tOcVOZc4XIcWkp831zU4pGSiYup51P196iAIcRgu2VSh/u9J2yMpHxIEVVmBEpQL2CRbVArbut/pl093L\u002B9u57g==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "t0UkxLJFrccwT2LaXVYBQw==",
        "ETag": "\u00220x8D8DFA70168211D\u0022",
        "Last-Modified": "Fri, 05 Mar 2021 07:19:24 GMT",
        "x-ms-content-crc64": "Pxzv3V03sss=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://kasoboltest.blob.core.windows.net/test-container-db1edf07-20ce-6512-eb7f-2d8f0704c15a/test-blob-9a79a189-5900-6697-02b7-5a652f59ae96",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 05 Mar 2021 07:19:25 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "t0UkxLJFrccwT2LaXVYBQw==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D8DFA70168211D\u0022",
        "Last-Modified": "Fri, 05 Mar 2021 07:19:24 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 05 Mar 2021 07:19:24 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://kasoboltest.blob.core.windows.net/test-container-db1edf07-20ce-6512-eb7f-2d8f0704c15a?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 05 Mar 2021 07:19:25 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1279956081",
    "Storage_TestConfigDefault": "ProductionTenant\nkasoboltest\nU2FuaXRpemVk\nhttps://kasoboltest.blob.core.windows.net\nhttps://kasoboltest.file.core.windows.net\nhttps://kasoboltest.queue.core.windows.net\nhttps://kasoboltest.table.core.windows.net\n\n\n\n\nhttps://kasoboltest-secondary.blob.core.windows.net\nhttps://kasoboltest-secondary.file.core.windows.net\nhttps://kasoboltest-secondary.queue.core.windows.net\nhttps://kasoboltest-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://kasoboltest.blob.core.windows.net/;QueueEndpoint=https://kasoboltest.queue.core.windows.net/;FileEndpoint=https://kasoboltest.file.core.windows.net/;BlobSecondaryEndpoint=https://kasoboltest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://kasoboltest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://kasoboltest-secondary.file.core.windows.net/;AccountName=kasoboltest;AccountKey=Kg==;\nencryptionScope"
  }
}