{
  "Entries": [
    {
      "RequestUri": "https://adu-sdk-testing.api.adu.microsoft.com/deviceUpdate/sdkinstance/management/groups/dpokluda-test/bestUpdates?api-version=2022-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "1f66ab6d-926b-4dc8-b0db-6bbd94146aa5"
      },
      "ResponseBody": {
        "value": [
          {
            "groupId": "dpokluda-test",
            "deviceClassId": "0919e3ae422a2bfa8c84ff905813e60351e456d1",
            "update": {
              "updateId": {
                "provider": "fabrikam",
                "name": "vacuum",
                "version": "2022.809.131.21"
              }
            },
            "deviceCount": 1
          }
        ]
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "DEVICEUPDATE_ACCOUNT_ENDPOINT": "adu-sdk-testing.api.adu.microsoft.com",
    "DEVICEUPDATE_INSTANCE_ID": "sdkinstance",
    "RandomSeed": "2118836320"
  }
}
