{
  "Entries": [
    {
      "RequestUri": "https://adu-sdk-testing.api.adu.microsoft.com/deviceUpdate/sdkinstance/management/deviceClasses?api-version=2022-07-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "bc477e24-a7c1-43ec-b489-95ecd99c9152"
      },
      "ResponseBody": {
        "value": [
          {
            "deviceClassId": "0919e3ae422a2bfa8c84ff905813e60351e456d1",
            "deviceClassProperties": {
              "compatProperties": {
                "manufacturer": "fabrikam",
                "model": "vacuum"
              },
              "contractModel": {
                "id": "dtmi:azure:iot:deviceUpdateContractModel;1",
                "name": "Device Update Model V1"
              }
            },
            "bestCompatibleUpdate": {
              "updateId": {
                "provider": "fabrikam",
                "name": "vacuum",
                "version": "2022.701.235.32"
              }
            }
          }
        ]
      }
    }
  ],
  "Variables": {
    "DEVICEUPDATE_ACCOUNT_ENDPOINT": "adu-sdk-testing.api.adu.microsoft.com",
    "DEVICEUPDATE_INSTANCE_ID": "sdkinstance",
    "RandomSeed": "1389018072"
  }
}
