{
  "Entries": [
    {
      "RequestUri": "https://adu-sdk-testing.api.adu.microsoft.com/deviceUpdate/sdkinstance/management/devices?api-version=2022-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "aa436749-38a0-404c-8241-20eda7b3e876"
      },
      "ResponseBody": {
        "value": [
          {
            "deviceId": "adu-sdk-test-device-1",
            "deviceClassId": "0919e3ae422a2bfa8c84ff905813e60351e456d1",
            "groupId": "testgroup",
            "onLatestUpdate": false,
            "deploymentStatus": "Succeeded",
            "lastInstallResult": {
              "resultCode": 700,
              "extendedResultCode": 0,
              "resultDetails": ""
            }
          },
          {
            "deviceId": "joseph-edgevm2",
            "deviceClassId": "0919e3ae422a2bfa8c84ff905813e60351e456d1",
            "groupId": "joegroup",
            "installedUpdate": {
              "updateId": {
                "provider": "fabrikam",
                "name": "vacuum",
                "version": "2022.128.1751.30"
              }
            },
            "onLatestUpdate": false,
            "lastAttemptedUpdate": {
              "updateId": {
                "provider": "fabrikam",
                "name": "vacuum",
                "version": "2022.128.1751.30"
              }
            },
            "deploymentStatus": "Succeeded",
            "lastDeploymentId": "joegroup-2022-128-1751-30-0129015341",
            "lastInstallResult": {
              "resultCode": 700,
              "extendedResultCode": 0,
              "resultDetails": ""
            }
          },
          {
            "deviceId": "dpokluda-test",
            "deviceClassId": "0919e3ae422a2bfa8c84ff905813e60351e456d1",
            "groupId": "dpokluda-test",
            "onLatestUpdate": false,
            "lastAttemptedUpdate": {
              "updateId": {
                "provider": "fabrikam",
                "name": "vacuum",
                "version": "2022.809.1238.32"
              }
            },
            "deploymentStatus": "Failed",
            "lastDeploymentId": "test0809074302",
            "lastInstallResult": {
              "resultCode": 0,
              "extendedResultCode": 805306472,
              "resultDetails": ""
            }
          }
        ]
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "DEVICEUPDATE_ACCOUNT_ENDPOINT": "adu-sdk-testing.api.adu.microsoft.com",
    "DEVICEUPDATE_INSTANCE_ID": "sdkinstance",
    "RandomSeed": "554142186"
  }
}
