{
  "Entries": [
    {
      "RequestUri": "https://adu-sdk-testing.api.adu.microsoft.com/deviceUpdate/sdkinstance/management/groups/dpokluda-test/deployments?api-version=2022-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "20bf6eb2-2733-4036-81d3-71649855eb7a"
      },
      "ResponseBody": {
        "value": [
          {
            "deploymentId": "test0809083849",
            "groupId": "dpokluda-test",
            "startDateTime": "2022-08-09T20:38:49.4478431\u002B00:00",
            "update": {
              "updateId": {
                "provider": "fabrikam",
                "name": "vacuum",
                "version": "2022.809.131.21"
              }
            },
            "isCloudInitiatedRollback": false,
            "deviceClassSubgroups": [
              "0919e3ae422a2bfa8c84ff905813e60351e456d1"
            ]
          },
          {
            "deploymentId": "11c4a8389ea044c9b0febaf4b32b9fae",
            "groupId": "dpokluda-test",
            "startDateTime": "2022-08-10T00:02:09.878437\u002B00:00",
            "update": {
              "updateId": {
                "provider": "fabrikam",
                "name": "vacuum",
                "version": "2022.809.131.21"
              }
            },
            "isCloudIniti[...]
