{
  "Entries": [
    {
      "RequestUri": "https://adu-sdk-testing.api.adu.microsoft.com/deviceUpdate/sdkinstance/management/groups/foo-bar-dpokluda-completely-fake?api-version=2022-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/problem\u002Bjson; charset=utf-8",
        "mise-correlation-id": "d90c4a57-711b-4121-8c32-b84b1fe441c5"
      },
      "ResponseBody": {
        "type": "https://tools.ietf.org/html/rfc7231#section-6.5.4",
        "title": "Not Found",
        "status": 404,
        "traceId": "00-8eca458d814d554e998c66096919586c-21900487c27a094f-00"
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "DEVICEUPDATE_ACCOUNT_ENDPOINT": "adu-sdk-testing.api.adu.microsoft.com",
    "DEVICEUPDATE_INSTANCE_ID": "sdkinstance",
    "RandomSeed": "87530769"
  }
}
