{
  "Entries": [
    {
      "RequestUri": "https://adu-sdk-testing.api.adu.microsoft.com/deviceUpdate/sdkinstance/management/groups/dpokluda-test?api-version=2022-07-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "f9a33a26-de6c-44f8-b283-f13692b87ff2"
      },
      "ResponseBody": {
        "groupId": "dpokluda-test",
        "groupType": "IoTHubTag",
        "createdDateTime": "2022-06-09T00:08:48.4487\u002B00:00",
        "deviceCount": 1,
        "subgroupsWithNewUpdatesAvailableCount": 1,
        "subgroupsWithUpdatesInProgressCount": 0,
        "subgroupsWithOnLatestUpdateCount": 0,
        "deployments": []
      }
    }
  ],
  "Variables": {
    "DEVICEUPDATE_ACCOUNT_ENDPOINT": "adu-sdk-testing.api.adu.microsoft.com",
    "DEVICEUPDATE_INSTANCE_ID": "sdkinstance",
    "RandomSeed": "1797186390"
  }
}
