{
  "Entries": [
    {
      "RequestUri": "https://adu-sdk-testing.api.adu.microsoft.com/deviceUpdate/sdkinstance/management/groups/dpokluda-test?api-version=2022-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "0932926f-834d-4851-9aa1-6a0266b84380"
      },
      "ResponseBody": {
        "groupId": "dpokluda-test",
        "groupType": "IoTHubTag",
        "createdDateTime": "2022-06-09T00:08:48.4487\u002B00:00",
        "deviceCount": 1,
        "subgroupsWithNewUpdatesAvailableCount": 1,
        "subgroupsWithUpdatesInProgressCount": 0,
        "subgroupsWithOnLatestUpdateCount": 0,
        "deployments": [
          "a5f6a54b-938d-44b6-8baa-8dc72017ae54"
        ]
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "DEVICEUPDATE_ACCOUNT_ENDPOINT": "adu-sdk-testing.api.adu.microsoft.com",
    "DEVICEUPDATE_INSTANCE_ID": "sdkinstance",
    "RandomSeed": "1557106358"
  }
}
