{
  "Entries": [
    {
      "RequestUri": "https://adu-sdk-testing.api.adu.microsoft.com/deviceUpdate/sdkinstance/management/groups/dpokluda-test?api-version=2022-07-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "9d17696d-220b-4671-be08-8cbd0c52817a"
      },
      "ResponseBody": {
        "groupId": "dpokluda-test",
        "groupType": "IoTHubTag",
        "createdDateTime": "2022-06-09T00:08:48.4487\u002B00:00",
        "deviceCount": 1,
        "deployments": []
      }
    }
  ],
  "Variables": {
    "RandomSeed": "1276578091"
  }
}
