{
  "Entries": [
    {
      "RequestUri": "https://adu-sdk-testing.api.adu.microsoft.com/deviceupdate/sdkinstance/management/groups?api-version=2021-06-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": [
        "{\r\n",
        "  \u0022value\u0022: [\r\n",
        "    {\r\n",
        "      \u0022deploymentId\u0022: \u0022test20211117112017\u0022,\r\n",
        "      \u0022groupId\u0022: \u0022testgroup\u0022,\r\n",
        "      \u0022tags\u0022: [\r\n",
        "        \u0022testgroup\u0022\r\n",
        "      ],\r\n",
        "      \u0022createdDateTime\u0022: \u00222021-11-16T00:49:25.141\u002B00:00\u0022,\r\n",
        "      \u0022groupType\u0022: \u0022DeviceClassIdAndIoTHubTag[...]
