{
  "Entries": [
    {
      "RequestUri": "/subscriptions/4445bf11-61c4-436f-a940-60194f8aca57/providers/Microsoft.Peering/peeringLocations?kind=Exchange&api-version=2020-10-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "WWW-Authenticate-dSTS": [
          "http://schemas.microsoft.com/dsts/saml2-bearer metadata-version=1,sts-realm=realm://dsts.core.azure-test.net/,certificate-sts-address=https://co2agg04-dsts.dsts.core.azure-test.net/v2/wstrust/13/certificate,issued-token-sts-address=https://co2agg04-dsts.dsts.core.azure-test.net/v2/wstrust/13/issuedtoken-bearer,discovery-sts-address=https://co2agg04-dsts.dsts.core.azure-test.net/2012/IDstsDiscoveryService,service-dns-name=secrets.wanrr-test.radar.core.azure-test.net,known-sts-thumbprints=ForBackwardCompatibility,trusted-sts-thumbprints=ForBackwardCompatibility,error=3,error-description=\"The security token is invalid. Cannot decode base64 encoded string. The input is not a valid Base-64 string as it contains a non-base 64 character, more than two padding characters, or an illegal character among the padding characters. \""
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"kind\": \"Exchange\",\r\n      \"properties\": {\r\n        \"exchange\": {\r\n          \"peeringFacilities\": [\r\n            {\r\n              \"exchangeName\": \"NL-ix\",\r\n              \"bandwidthInMbps\": 200000,\r\n              \"microsoftIPv4Address\": \"193.239.117.16,193.239.118.173\",\r\n              \"microsoftIPv6Address\": \"2001:7f8:13::a500:8075:1,2001:7f8:13::a500:8075:5\",\r\n              \"facilityIPv4Prefix\": \"193.239.116.0/22\",\r\n              \"facilityIPv6Prefix\": \"2001:7f8:13::/64\",\r\n              \"peeringDBFacilityId\": 64,\r\n              \"peeringDBFacilityLink\": \"https://www.peeringdb.com/ix/64\"\r\n            },\r\n            {\r\n              \"exchangeName\": \"AMS-IX\",\r\n              \"bandwidthInMbps\": 300000,\r\n              \"microsoftIPv4Address\": \"80.249.209.21,80.249.209.20\",\r\n              \"microsoftIPv6Address\": \"2001:7f8:1::a500:8075:2,2001:7f8:1::a500:8075:1\",\r\n              \"facilityIPv4Prefix\": \"80.249.208.0/21\",\r\n              \"facilityIPv6Prefix\": \"2001:7f8:1::/64\",\r\n              \"peeringDBFacilityId\[...]
