{
  "Entries": [
    {
      "RequestUri": "/providers/Microsoft.Peering/operations?api-version=2019-06-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-failure-cause": [
          "gateway"
        ],
        "x-ms-ratelimit-remaining-tenant-reads": [
          "14997"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"InvalidResourceType\",\r\n    \"message\": \"The resource type 'operations' could not be found in the namespace 'Microsoft.Peering' for api version '2019-06-01-preview'. The supported api-versions are '2019-03-01-preview'.\"\r\n  }\r\n}",
      "StatusCode": 404
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "4445bf11-61c4-436f-a940-60194f8aca57"
  }
}