{
  "Entries": [
    {
      "RequestUri": "https://sr-playground.servicebus.windows.net/$schemagroups/miyanni_srgroup/schemas/TestSchema.Employee?api-version=2017-04",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "X-Schema-Type": "avro"
      },
      "RequestBody": "\u0022{\\u0022type\\u0022:\\u0022record\\u0022,\\u0022name\\u0022:\\u0022Employee\\u0022,\\u0022namespace\\u0022:\\u0022TestSchema\\u0022,\\u0022fields\\u0022:[{\\u0022name\\u0022:\\u0022Name\\u0022,\\u0022type\\u0022:\\u0022string\\u0022},{\\u0022name\\u0022:\\u0022Age\\u0022,\\u0022type\\u0022:\\u0022int\\u0022}]}\u0022",
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "Location": "https://sr-playground.servicebus.windows.net/$schemagroups/miyanni_srgroup/schemas/TestSchema.Employee/versions/1?api-version=2017-04",
        "X-Schema-Id": "34fa96c2ac67489da0df6d4a245265a7",
        "X-Schema-Id-Location": "https://sr-playground.servicebus.windows.net:443/$schemagroups/getschemabyid/34fa96c2ac67489da0df6d4a245265a7?api-version=2017-04",
        "X-Schema-Type": "Avro",
        "X-Schema-Version": "1",
        "X-Schema-Versions-Location": "https://sr-playground.servicebus.windows.net:443/$schemagroups/miyanni_srgroup/schemas/TestSchema.Employee/versions?api-version=2017-04"
      },
      "ResponseBody": {
        "id": "34fa96c2ac67489da0df6d4a245265a7"
      }
    },
    {
      "RequestUri": "https://sr-playground.servicebus.windows.net/$schemagroups/getSchemaById/34fa96c2ac67489da0df6d4a245265a7?api-version=2017-04",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "Location": "https://sr-playground.servicebus.windows.net/$schemagroups/miyanni_srgroup/schemas/TestSchema.Employee/versions/1?api-version=2017-04",
        "X-Schema-Id": "34fa96c2ac67489da0df6d4a245265a7",
        "X-Schema-Id-Location": "https://sr-playground.servicebus.windows.net:443/$schemagroups/getschemabyid/34fa96c2ac67489da0df6d4a245265a7?api-version=2017-04",
        "X-Schema-Type": "Avro",
        "X-Schema-Version": "1",
        "X-Schema-Versions-Location": "https://sr-playground.servicebus.windows.net:443/$schemagroups/miyanni_srgroup/schemas/TestSchema.Employee/versions?api-version=2017-04"
      },
      "ResponseBody": "\u0022{\\\u0022type\\\u0022:\\\u0022record\\\u0022,\\\u0022name\\\u0022:\\\u0022Employee\\\u0022,\\\u0022namespace\\\u0022:\\\u0022TestSchema\\\u0022,\\\u0022fields\\\u0022:[{\\\u0022name\\\u0022:\\\u0022Name\\\u0022,\\\u0022type\\\u0022:\\\u0022string\\\u0022},{\\\u0022name\\\u0022:\\\u0022Age\\\u0022,\\\u0022type\\\u0022:\\\u0022int\\\u0022}]}\u0022"
    }
  ],
  "Variables": {
    "RandomSeed": "403326279",
    "SCHEMAREGISTRY_URL": "sr-playground.servicebus.windows.net"
  }
}