{
  "Entries": [
    {
      "RequestUri": "https://chrissscratch.table.core.windows.net/Tables?$format=application%2Fjson%3Bodata%3Dfullmetadata",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json; odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Tue, 14 Jul 2020 20:58:15 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "TableName": "testtablepj3a3xau"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=fullmetadata; streaming=true; charset=utf-8",
        "Location": "https://chrissscratch.table.core.windows.net/Tables(\u0027testtablepj3a3xau\u0027)",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://chrissscratch.table.core.windows.net/$metadata#Tables/@Element",
        "odata.type": "chrissscratch.Tables",
        "odata.id": "https://chrissscratch.table.core.windows.net/Tables(\u0027testtablepj3a3xau\u0027)",
        "odata.editLink": "Tables(\u0027testtablepj3a3xau\u0027)",
        "TableName": "testtablepj3a3xau"
      }
    },
    {
      "RequestUri": "https://chrissscratch.table.core.windows.net/Tables?sv=2019-02-02\u0026ss=t\u0026srt=s\u0026se=2040-01-01T01%3A01%3A00Z\u0026sp=rwdlau\u0026sig=Sanitized\u0026$format=application%2Fjson%3Bodata%3Dfullmetadata",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json; odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "TableName": "testtableyounu39i"
      },
      "StatusCode": 403,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=fullmetadata; streaming=true; charset=utf-8",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.error": {
          "code": "AuthorizationResourceTypeMismatch",
          "message": {
            "lang": "en-US",
            "value": "This request is not authorized to perform this operation using this resource type.\nRequestId:20756e99-b002-001b-0c21-5aea7a000000\nTime:2020-07-14T20:58:15.3108151Z"
          }
        }
      }
    },
    {
      "RequestUri": "https://chrissscratch.table.core.windows.net/Tables?sv=2019-02-02\u0026ss=t\u0026srt=sc\u0026se=2040-01-01T01%3A01%3A00Z\u0026sp=rwdlau\u0026sig=Sanitized\u0026$format=application%2Fjson%3Bodata%3Dfullmetadata",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json; odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "TableName": "testtableyounu39i"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=fullmetadata; streaming=true; charset=utf-8",
        "Location": "https://chrissscratch.table.core.windows.net/Tables(\u0027testtableyounu39i\u0027)",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://chrissscratch.table.core.windows.net/$metadata#Tables/@Element",
        "odata.type": "chrissscratch.Tables",
        "odata.id": "https://chrissscratch.table.core.windows.net/Tables(\u0027testtableyounu39i\u0027)",
        "odata.editLink": "Tables(\u0027testtableyounu39i\u0027)",
        "TableName": "testtableyounu39i"
      }
    },
    {
      "RequestUri": "https://chrissscratch.table.core.windows.net/?sv=2019-02-02\u0026ss=t\u0026srt=s\u0026se=2040-01-01T01%3A01%3A00Z\u0026sp=rwdlau\u0026sig=Sanitized\u0026restype=service\u0026comp=properties",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2019-02-02"
      },
      "Resp[...]
[...]
    {
      "RequestUri": "https://chrissscratch.table.core.windows.net/Tables(\u0027testtableyounu39i\u0027)?sv=2019-02-02\u0026ss=t\u0026srt=sc\u0026se=2040-01-01T01%3A01%3A00Z\u0026sp=rwdlau\u0026sig=Sanitized",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://chrissscratch.table.core.windows.net/Tables(\u0027testtablepj3a3xau\u0027)",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 14 Jul 2020 20:58:15 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1835219046",
    "TABLES_PRIMARY_STORAGE_ACCOUNT_KEY": "",
    "TABLES_STORAGE_ACCOUNT_NAME": "chrissscratch"
  }
}