{
  "Entries": [
    {
      "RequestUri": "https://td29f528fe8af4d53prim.table.core.windows.net/Tables?$format=application%2Fjson%3Bodata%3Dminimalmetadata",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json; odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Thu, 20 Aug 2020 22:47:37 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "TableName": "testtablecitp75th"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "Location": "https://td29f528fe8af4d53prim.table.core.windows.net/Tables(\u0027testtablecitp75th\u0027)",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://td29f528fe8af4d53prim.table.core.windows.net/$metadata#Tables/@Element",
        "TableName": "testtablecitp75th"
      }
    },
    {
      "RequestUri": "https://td29f528fe8af4d53prim.table.core.windows.net/Tables?sv=2019-02-02\u0026ss=t\u0026srt=sco\u0026se=2040-01-01T01%3A01%3A00Z\u0026sp=d\u0026sig=Sanitized\u0026$format=application%2Fjson%3Bodata%3Dminimalmetadata",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json; odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "TableName": "testtableng449w66"
      },
      "StatusCode": 403,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.error": {
          "code": "AuthorizationPermissionMismatch",
          "message": {
            "lang": "en-US",
            "value": "This request is not authorized to perform this operation using this permission.\nRequestId:fa55afc4-b002-0004-2b43-77b913000000\nTime:2020-08-20T22:47:37.6841482Z"
          }
        }
      }
    },
    {
      "RequestUri": "https://td29f528fe8af4d53prim.table.core.windows.net/Tables?sv=2019-02-02\u0026ss=t\u0026srt=sco\u0026se=2040-01-01T01%3A01%3A00Z\u0026sp=w\u0026sig=Sanitized\u0026$format=application%2Fjson%3Bodata%3Dminimalmetadata",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json; odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "TableName": "testtableng449w66"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "Location": "https://td29f528fe8af4d53prim.table.core.windows.net/Tables(\u0027testtableng449w66\u0027)",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://td29f528fe8af4d53prim.table.core.windows.net/$metadata#Tables/@Element",
        "TableName": "testtableng449w66"
      }
    },
    {
      "RequestUri": "https://td29f528fe8af4d53prim.table.core.windows.net/Tables(\u0027testtableng449w66\u0027)?sv=2019-02-02\u0026ss=t\u0026srt=sco\u0026se=2040-01-01T01%3A01%3A00Z\u0026sp=d\u0026sig=Sanitized",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://td29f528fe8af4d53prim.table.core.windows.net/Tables(\u0027testtablecitp75th\u0027)",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 20 Aug 2020 22:47:37 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "648734828",
    "TABLES_PRIMARY_STORAGE_ACCOUNT_KEY": "Kg==",
    "TABLES_STORAGE_ACCOUNT_NAME": "td29f528fe8af4d53prim"
  }
}