{
  "Entries": [
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-f149deb4-aa6f-0f2a-df44-0a75b667212a?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 11 Oct 2021 23:43:43 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D98D10F5E30994\u0022",
        "Last-Modified": "Mon, 11 Oct 2021 23:43:43 GMT",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-f149deb4-aa6f-0f2a-df44-0a75b667212a/test-blob-47a9f5ba-c9da-7127-2148-63c8bb1ce6d0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Mon, 11 Oct 2021 23:43:43 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": "st6n8LQHSvE/GZ82KqjX/4pxyyTIoaYhl7fdLRRysNx2uM9ZOMnkokeuQGo5Unuw8q6hDamdABA4hln8KhzczWnDwHHZfsfBjSjdGWE750Q7LDpm0KIy2Li/ILFv6Hgq0XIAdpEJ13Tm34CBv\u002Bau/J4UwP3hdvzHkei5Gl0WUaSws0fvOnGzMVXGf/AisRjRECMSWyd6SFt1OeWpUL0W0I7b0Ayev8ItYY6oG/YMpd/P6Ak6A/V9NmrreQCLCeGXr65iRuALMlFh5PqY0i1laZQF2mez3M2YXpqhs0XBolesEGtHqV7/w7W42B775GQ9hhBrhi955NPhyuhGan8LoEKi68HBHb82Bhax\u0[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-f149deb4-aa6f-0f2a-df44-0a75b667212a/test-blob-47a9f5ba-c9da-7127-2148-63c8bb1ce6d0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 11 Oct 2021 23:43:43 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-range-get-content-crc64": "true",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D98D10F5EC7578\u0022",
        "Last-Modified": "Mon, 11 Oct 2021 23:43:43 GMT",
        "x-ms-blob-content-md5": "XVc4m\u002BkKQ1vV1xopPsplgA==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-content-crc64": "xYOWlG/X2Sk=",
        "x-ms-creation-time": "Mon, 11 Oct 2021 23:43:43 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Mon, 11 Oct 2021 23:43:43 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-12-06",
        "x-ms-version-id": "2021-10-11T23:43:43.4543480Z"
      },
      "ResponseBody": "st6n8LQHSvE/GZ82KqjX/4pxyyTIoaYhl7fdLRRysNx2uM9ZOMnkokeuQGo5Unuw8q6hDamdABA4hln8KhzczWnDwHHZfsfBjSjdGWE750Q7LDpm0KIy2Li/ILFv6Hgq0XIAdpEJ13Tm34CBv\u002Bau/J4UwP3hdvzHkei5Gl0WUaSws0fvOnGzMVXGf/AisRjRECMSWyd6SFt1OeWpUL0W0I7b0Ayev8ItYY6oG/YMpd/P6Ak6A/V9NmrreQCLCeGXr65iRuALMlFh5PqY0i1laZQF2mez3M2YXpqhs0XBolesEGtHqV7/w7W42B775GQ9hhBrhi955NPhyuhGan8LoEKi68HBHb82Bhax\u002BwOunXk2ZCw0VRwoMyyYZt92uVk2rDjcWPiie2lQNX8Zx\u002BjPMi1uDwVT1komeriVK[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-f149deb4-aa6f-0f2a-df44-0a75b667212a?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 11 Oct 2021 23:43:43 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1032676842",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttp://seanmcccanary3.blob.core.windows.net\nhttp://seanmcccanary3.file.core.windows.net\nhttp://seanmcccanary3.queue.core.windows.net\nhttp://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttp://seanmcccanary3-secondary.blob.core.windows.net\nhttp://seanmcccanary3-secondary.file.core.windows.net\nhttp://seanmcccanary3-secondary.queue.core.windows.net\nhttp://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=http://seanmcccanary3.queue.core.windows.net/;FileEndpoint=http://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=http://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\n[encryption scope]\n\n"
  }
}