{
  "Entries": [
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-08595900-6d3d-2b6e-5d2c-745aaa45d3bb?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 11 Oct 2021 23:43:30 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D98D10EE43E553\u0022",
        "Last-Modified": "Mon, 11 Oct 2021 23:43:30 GMT",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-08595900-6d3d-2b6e-5d2c-745aaa45d3bb/test-blob-e1e34eb3-1406-fc4b-297e-ca19dddfcfb2",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Mon, 11 Oct 2021 23:43:30 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": "fuY3IcgdiuPu2z0F3TCM4XN381DS04FL/Zo8dmxrgem8r8C5RJg0Sc\u002BPEV5nwrQ\u002BZ86Lhe4qDapl7CMt4RN2glpTSC5v0pzaQqmAQsEi5Drm/Q6e3/z7kqEVVFh0B2i7GY8EE3mFzpQxsUJEqsrpQgfpR\u002BME2KJeWLaMWX5EZTtBxCkxHtDBYC55bC65t\u002BfXLBFQi7\u002BFt0DtprvC\u002BHQW7UsHAuWgtyQ3J\u002Ba0imxzpKDOtSxs89p7vA3pRHgU/mi6Y37isrQCNnXtGGPZ0CzUeQEa9ENHqvlxi0bYt3KsIyl\u002B\u002BiftkPLszH\u002B3ft[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-08595900-6d3d-2b6e-5d2c-745aaa45d3bb/test-blob-e1e34eb3-1406-fc4b-297e-ca19dddfcfb2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 11 Oct 2021 23:43:30 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-range-get-content-md5": "true",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-MD5": "x5m54Yf\u002BbucZw7L1JpRu1A==",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D98D10EE4D3457\u0022",
        "Last-Modified": "Mon, 11 Oct 2021 23:43:30 GMT",
        "x-ms-blob-content-md5": "x5m54Yf\u002BbucZw7L1JpRu1A==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Mon, 11 Oct 2021 23:43:30 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Mon, 11 Oct 2021 23:43:30 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-12-06",
        "x-ms-version-id": "2021-10-11T23:43:30.6666071Z"
      },
      "ResponseBody": "fuY3IcgdiuPu2z0F3TCM4XN381DS04FL/Zo8dmxrgem8r8C5RJg0Sc\u002BPEV5nwrQ\u002BZ86Lhe4qDapl7CMt4RN2glpTSC5v0pzaQqmAQsEi5Drm/Q6e3/z7kqEVVFh0B2i7GY8EE3mFzpQxsUJEqsrpQgfpR\u002BME2KJeWLaMWX5EZTtBxCkxHtDBYC55bC65t\u002BfXLBFQi7\u002BFt0DtprvC\u002BHQW7UsHAuWgtyQ3J\u002Ba0imxzpKDOtSxs89p7vA3pRHgU/mi6Y37isrQCNnXtGGPZ0CzUeQEa9ENHqvlxi0bYt3KsIyl\u002B\u002BiftkPLszH\u002B3ftp2ouvhFMt2\u002BQokcriFcSZtKX4DQfU5W9YE5\u002BgPLifEkCwe\u002Bulb9qKnNSk[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-08595900-6d3d-2b6e-5d2c-745aaa45d3bb?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 11 Oct 2021 23:43:30 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1428947913",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttp://seanmcccanary3.blob.core.windows.net\nhttp://seanmcccanary3.file.core.windows.net\nhttp://seanmcccanary3.queue.core.windows.net\nhttp://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttp://seanmcccanary3-secondary.blob.core.windows.net\nhttp://seanmcccanary3-secondary.file.core.windows.net\nhttp://seanmcccanary3-secondary.queue.core.windows.net\nhttp://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=http://seanmcccanary3.queue.core.windows.net/;FileEndpoint=http://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=http://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\n[encryption scope]\n\n"
  }
}