{
  "Entries": [
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-3ba4481b-512c-7ece-d98e-12e3993a7d04?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 11 Oct 2021 23:43:46 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D98D10F7C31C12\u0022",
        "Last-Modified": "Mon, 11 Oct 2021 23:43:46 GMT",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-3ba4481b-512c-7ece-d98e-12e3993a7d04/test-blob-4b214a5a-a0eb-7cd2-c367-c429959486af",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Mon, 11 Oct 2021 23:43:46 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": "qWyMxVk6nPUslDce6Tt7ziErYy0hbwcnFWuklG4kq\u002BGNVOmVfaeMRM8i4mjdBbLhI\u002BjWOL5T8TllZK/ulgeHB\u002BhVkZVS5lB5nh9e/42fSQ\u002B4wnGGTnMjOmOvMBn3nq3Hm9p/iHMdjzyXXJme9PKsxhufNtOVALl1MVcxorU3gQBxl2SyH8GcmzI17/HZhEVxA2r9V2jaMZohCVYc6\u002B2HX9uYLFyO\u002BaZZA5qgYBHHnK0RwJ5LOimYl2bJkBVrf69Fro8WQFfo4wnDpFTNOdCIWm2pCipOOyWx/5X2xGiQ7oPrW7KBsFtVKN2ViJXVy12VQTaownWE9nJqZU[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-3ba4481b-512c-7ece-d98e-12e3993a7d04/test-blob-4b214a5a-a0eb-7cd2-c367-c429959486af",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 11 Oct 2021 23:43:46 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-range-get-content-crc64": "true",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D98D10F7CCAF7D\u0022",
        "Last-Modified": "Mon, 11 Oct 2021 23:43:46 GMT",
        "x-ms-blob-content-md5": "mwBBdbgJVH6EgOCr7z/maw==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-content-crc64": "XJ0iuiD6pDs=",
        "x-ms-creation-time": "Mon, 11 Oct 2021 23:43:46 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Mon, 11 Oct 2021 23:43:46 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-04-10",
        "x-ms-version-id": "2021-10-11T23:43:46.6015613Z"
      },
      "ResponseBody": "qWyMxVk6nPUslDce6Tt7ziErYy0hbwcnFWuklG4kq\u002BGNVOmVfaeMRM8i4mjdBbLhI\u002BjWOL5T8TllZK/ulgeHB\u002BhVkZVS5lB5nh9e/42fSQ\u002B4wnGGTnMjOmOvMBn3nq3Hm9p/iHMdjzyXXJme9PKsxhufNtOVALl1MVcxorU3gQBxl2SyH8GcmzI17/HZhEVxA2r9V2jaMZohCVYc6\u002B2HX9uYLFyO\u002BaZZA5qgYBHHnK0RwJ5LOimYl2bJkBVrf69Fro8WQFfo4wnDpFTNOdCIWm2pCipOOyWx/5X2xGiQ7oPrW7KBsFtVKN2ViJXVy12VQTaownWE9nJqZUHC8h6gMrXQ4d4dBqkSU\u002BJNubKP3DQ4YIIy6CsOZmRAF0sakja\u002B9FXgBOl/eDqN[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-3ba4481b-512c-7ece-d98e-12e3993a7d04?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 11 Oct 2021 23:43:46 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "927202987",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttp://seanmcccanary3.blob.core.windows.net\nhttp://seanmcccanary3.file.core.windows.net\nhttp://seanmcccanary3.queue.core.windows.net\nhttp://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttp://seanmcccanary3-secondary.blob.core.windows.net\nhttp://seanmcccanary3-secondary.file.core.windows.net\nhttp://seanmcccanary3-secondary.queue.core.windows.net\nhttp://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=http://seanmcccanary3.queue.core.windows.net/;FileEndpoint=http://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=http://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\n[encryption scope]\n\n"
  }
}