{
  "Entries": [
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-a71de096-fe9c-f848-e5f2-0ad372f35c21?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 11 Oct 2021 23:43:34 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D98D10F0CB2C7F\u0022",
        "Last-Modified": "Mon, 11 Oct 2021 23:43:34 GMT",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-a71de096-fe9c-f848-e5f2-0ad372f35c21/test-blob-9b35ead2-9fe7-0835-1d82-a61b51f96234",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Mon, 11 Oct 2021 23:43:34 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": "HxAeWC3nRY1YopgUFyYmyYAfnc1PSnSAddsLyFBfvAtViwLB/Ri9Tl4WuAk0IEZuve6nnmVkC9WbnuJS2309\u002BOWMvosjZMxnYU9vOZFrS1WUnApiuB6l8YAtJV41anLh2L8jp2G6SlghPzwW9dFDMFONvT5y20DH5s0K9j5uMvbcjWDRR6Pz2lKyQXnhj/yu6vULqK00bv1/XMGUsFQZsg1GOmdxcemvmePswJrH5VfQXAtJY4lJqB9jUuriXyn9mI5rm1WVPXkLWw7JR65jt3Zpw1RIz0\u002BD/JFIDR7/zDq67igLW0oBOx6SPgd7gGBwAJpzeJzVtcg\u002B6J7DTC9aDI/UDliGV[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-a71de096-fe9c-f848-e5f2-0ad372f35c21/test-blob-9b35ead2-9fe7-0835-1d82-a61b51f96234",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 11 Oct 2021 23:43:34 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "hkS5TATjz0wnwGcmLhbGJA==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D98D10F0D49293\u0022",
        "Last-Modified": "Mon, 11 Oct 2021 23:43:34 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Mon, 11 Oct 2021 23:43:34 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Mon, 11 Oct 2021 23:43:34 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-12-06",
        "x-ms-version-id": "2021-10-11T23:43:34.9091987Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-a71de096-fe9c-f848-e5f2-0ad372f35c21/test-blob-9b35ead2-9fe7-0835-1d82-a61b51f96234",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "0x8D98D10F0D49293",
        "x-ms-date": "Mon, 11 Oct 2021 23:43:34 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-range-get-content-crc64": "true",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/3072",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D98D10F0D49293\u0022",
        "Last-Modified": "Mon, 11 Oct 2021 23:43:34 GMT",
        "x-ms-blob-content-md5": "hkS5TATjz0wnwGcmLhbGJA==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-content-crc64": "vkYhi6KlE9k=",
        "x-ms-creation-time": "Mon, 11 Oct 2021 23:43:34 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Mon, 11 Oct 2021 23:43:34 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-12-06",
        "x-ms-version-id": "2021-10-11T23:43:34.9091987Z"
      },
      "ResponseBody": "HxAeWC3nRY1YopgUFyYmyYAfnc1PSnSAddsLyFBfvAtViwLB/Ri9Tl4WuAk0[...]
[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-a71de096-fe9c-f848-e5f2-0ad372f35c21?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 11 Oct 2021 23:43:35 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1262444619",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttp://seanmcccanary3.blob.core.windows.net\nhttp://seanmcccanary3.file.core.windows.net\nhttp://seanmcccanary3.queue.core.windows.net\nhttp://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttp://seanmcccanary3-secondary.blob.core.windows.net\nhttp://seanmcccanary3-secondary.file.core.windows.net\nhttp://seanmcccanary3-secondary.queue.core.windows.net\nhttp://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=http://seanmcccanary3.queue.core.windows.net/;FileEndpoint=http://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=http://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\n[encryption scope]\n\n"
  }
}