{
  "Entries": [
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-24a7ef40-fdce-7838-d108-358dff01d89b?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 11 Oct 2021 23:24:54 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D98D0E54C7E36A\u0022",
        "Last-Modified": "Mon, 11 Oct 2021 23:24:54 GMT",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-24a7ef40-fdce-7838-d108-358dff01d89b/test-blob-7b6e0bce-049c-b0a9-da8b-ab370012e3aa",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-MD5": "JGTVCMRdWtzI4/wfPzvTsA==",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Mon, 11 Oct 2021 23:24:54 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": "ox5cVd9E6Qe/tScI7teu/v4XiqO1WnYmZfiilT2THApAeL2rdrQ\u002BvXFEvm8c1Cd3\u002Bv2cvWfh4UmnNe/molTKK5gdyHYZA4dK2cwycZsHCpDRK5tA9l\u002BiXpd0A0DEVxsdeZLW/wyxXvd1UuOar2\u002BuoCtfFXe5ijQ4emnepf9HhoKxFfcIMAqEIM2ky6R8CK8nxmMUZUGkY\u002B9dnoWj0rn3Lsth6Zp3pW8g2/WqFb6QvHG5t96bMiFADLEIqpKF4E0TrJ3YGh8VryD09IpL\u002Bk4wzeET6RvaXPuqINzob/rcm/qnlmght6FSpAe\u002Bpj6X9BFi192xcvYyO[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-24a7ef40-fdce-7838-d108-358dff01d89b?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 11 Oct 2021 23:24:54 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "640328575",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttp://seanmcccanary3.blob.core.windows.net\nhttp://seanmcccanary3.file.core.windows.net\nhttp://seanmcccanary3.queue.core.windows.net\nhttp://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttp://seanmcccanary3-secondary.blob.core.windows.net\nhttp://seanmcccanary3-secondary.file.core.windows.net\nhttp://seanmcccanary3-secondary.queue.core.windows.net\nhttp://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=http://seanmcccanary3.queue.core.windows.net/;FileEndpoint=http://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=http://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\n[encryption scope]\n\n"
  }
}