{
  "Entries": [
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-2c3fdb2e-92a5-eb35-ad43-45137f9e317f?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 11 Oct 2021 23:43:40 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D98D10F408282C\u0022",
        "Last-Modified": "Mon, 11 Oct 2021 23:43:40 GMT",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-2c3fdb2e-92a5-eb35-ad43-45137f9e317f/test-blob-44ecfc48-6a28-7cf3-907d-7c5ad391eeac?comp=block\u0026blockid=AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-MD5": "BhgT5sWP8iU8BUiwe4o8UQ==",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Mon, 11 Oct 2021 23:43:40 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": "hEjhJQmUptihlHkj//ZADEKgCtQanIxed6ipohCo\u002B6b\u002BKbpiv9ybcwSr8l7HyXroCjlNDwGvT\u002Be8gq1g6wPH\u002BJnSJNY83UxmBJfQb6otlq0uwZjWW\u002BulT9rSpjwuOogA4/nF9aWkqyzs5gpq3\u002BA9juwAMilr8Z2tLdX8ajYQOMoOz4uwaKEHihVr6XThO2/5lBhQLQdelPJcF8jQp0H13K5AWw9UjCVK\u002BKgUAAcozPJlAtUevwrCsDqZVFHZN\u002BLTdQ3God9fpAjyBTRfSpTqM0vWaqRs1x2jfavVuzfUccHGQIr5YioSBl3NLLnWY2WlriEGA809Z57wIiMziunQHZRzmQkK8NAgw2RGn6pkzRpFLw0Vzm7ziNnrCUAG3nt0/A8kY8pbm71R5T9p9sf0i1UJ7lrbuk8lfxAwHuaPGeTo0qKbP2pP6ZRPxOkuipER937r/fAgmEK//\u002BO5K33WwctbgCQlWEzquQTGi/Zl9vR/HiZopBz0xzlg2z\u002BGlr0XeQId0wps7J8xAEPsWg1LWQjvOQ1WbR2uZ7jrxH0MZCNGrxLzSCPqEzGHN6PZCG0sFIE3l1ywwAvlbmxRgSciJJwfpar6VxHlBSbbzjZ51V5Lv6/71czHlu8GDtm2mJEJZRMHuWLCMbxwUZI11PHVa5kNBcJ3Jk7PWA\u002B780g3Lmw=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "BhgT5sWP8iU8BUiwe4o8UQ==",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-2c3fdb2e-92a5-eb35-ad43-45137f9e317f/test-blob-44ecfc48-6a28-7cf3-907d-7c5ad391eeac?comp=block\u0026blockid=AAIAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-MD5": "u2IR8rp8yKN4W4OrU8CApw==",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Mon, 11 Oct 2021 23:[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-2c3fdb2e-92a5-eb35-ad43-45137f9e317f/test-blob-44ecfc48-6a28-7cf3-907d-7c5ad391eeac?comp=blocklist",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "x-ms-date": "Mon, 11 Oct 2021 23:43:40 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": "\uFEFF\u003CBlockList\u003E\u003CLatest\u003EAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\u003C/Latest\u003E\u003CLatest\u003EAAIAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\u003C/Latest\u003E\u003C/BlockList\u003E",
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D98D10F42A4665\u0022",
        "Last-Modified": "Mon, 11 Oct 2021 23:43:40 GMT",
        "x-ms-content-crc64": "uZyvATng5EM=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-12-06",
        "x-ms-version-id": "2021-10-11T23:43:40.5040229Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-2c3fdb2e-92a5-eb35-ad43-45137f9e317f?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 11 Oct 2021 23:43:40 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "807625069",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttp://seanmcccanary3.blob.core.windows.net\nhttp://seanmcccanary3.file.core.windows.net\nhttp://seanmcccanary3.queue.core.windows.net\nhttp://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttp://seanmcccanary3-secondary.blob.core.windows.net\nhttp://seanmcccanary3-secondary.file.core.windows.net\nhttp://seanmcccanary3-secondary.queue.core.windows.net\nhttp://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=http://seanmcccanary3.queue.core.windows.net/;FileEndpoint=http://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=http://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\n[encryption scope]\n\n"
  }
}