{
  "Entries": [
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-f7b84f28-0d3e-20bf-a817-b70944cca800?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 11 Oct 2021 23:43:38 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D98D10F341A75F\u0022",
        "Last-Modified": "Mon, 11 Oct 2021 23:43:38 GMT",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-f7b84f28-0d3e-20bf-a817-b70944cca800/test-blob-22d98ae0-299c-9fac-f8d4-a8b395ecbc88",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Mon, 11 Oct 2021 23:43:39 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": "Vmu/XnDC1bXhr5OP9wS1vnspiB20WzaEGyeE0CRJIaBZUWT/Kz4dvlFiaxnE4ct2UpCpvTo3EPo1OkJJPQSRmI7yNqaftZI9C8rMUfAcwDlbDn2ToGNlIUFpyfH71IFM0dOL0asl1p3\u002BbLJwa74KGHoJ7S6G/vcqjBVkNeuhQTZIf38dke6ONjjglTOx9baCX7F38edSxdLbYESWwKCxXCp7KOs\u002B7YaLe7b2pmnEeZde4tY6Kk9P9rmtQTCp\u002BHaXLzgJNs3KQ3Iq63YxWx9pF\u002BetN97KdjHaKzExkatV4oJAX3YwukLKlJ5kDz/ZHpqaQypJ/MCYzLgGLwqbmLLG1Qjz[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-f7b84f28-0d3e-20bf-a817-b70944cca800/test-blob-22d98ae0-299c-9fac-f8d4-a8b395ecbc88",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 11 Oct 2021 23:43:39 GMT",
        "x-ms-range": "bytes=0-511",
        "x-ms-range-get-content-crc64": "true",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-511/2048",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D98D10F34AB541\u0022",
        "Last-Modified": "Mon, 11 Oct 2021 23:43:39 GMT",
        "x-ms-blob-content-md5": "8rE968zzh/XzmQhE/kGOFw==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-content-crc64": "cY0mbujBkO0=",
        "x-ms-creation-time": "Mon, 11 Oct 2021 23:43:39 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Mon, 11 Oct 2021 23:43:39 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-12-06",
        "x-ms-version-id": "2021-10-11T23:43:39.0388545Z"
      },
      "ResponseBody": "Vmu/XnDC1bXhr5OP9wS1vnspiB20WzaEGyeE0CRJIaBZUWT/Kz4dvlFiaxnE4ct2UpCpvTo3EPo1OkJJPQSRmI7yNqaftZI9C8rMUfAcwDlbDn2ToGNlIUFpyfH71IFM0dOL0asl1p3\u002BbLJwa74KGHoJ7S6G/vcqjBVkNeuhQTZIf38dke6ONjjglTOx9baCX7F38edSxdLbYESWwKCxXCp7KOs\u002B7YaLe7b2pmnEeZde4tY6Kk9P9rmtQTCp\u002BHaXLzgJNs3KQ3Iq63YxWx9pF\u002BetN97KdjHaKzExkatV4oJAX3YwukLKlJ5kDz/ZHpqaQypJ/MCYzLgGLwqbmLLG1Qjz8fyoOFyk4qNAZmfyAQ2Xl02BDObCqJK9KYo4L/vrnTo25S2e8QvNpBkdWGZRFC78AwFkRcgiMUlp6g7SbLOnVMgsuxvg\u002BaVCs2fMpE8rbBVcOyv5hlhxE7PkNAb8\u002BzhldQOeJVkSHApcIpFhVo35PX75dTCIrs1wuqdo/MSeRbguZy5MjUe7Sh8gnWTGEL0m6/eIA4YI3Mc2LWqxqSBGvd3ZMu9erK83PSoQaBBpqanpQhHNFkEyJopmFV/cCqD/2t\u002BG7d7Oxz5HUcVb93S2zYTAx2cPeaebpwxk\u002BJdQWjOKEY4x4rzLGnvShcR81i4VsEjbG0I58GA460bSac4="
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-f7b84f28-0d3e-20bf-a817-b70944cca800/test-blob-22d98ae0-299c-9fac-f8d4-a8b395ecbc88",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "0x8D98D10F34AB541",
        "x-ms-date": "Mon, 11 Oct 2021 23:43:39 GMT",
        "x-ms-range": "bytes=512-1023",
        "x-ms-range-get-content-crc64": "true",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 512-1023/2048",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D98D10F34AB541\u0022",
        "Last-Modified": "Mon, 11 Oct 2021 23:43:39 GMT",
    [...]
[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-f7b84f28-0d3e-20bf-a817-b70944cca800?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 11 Oct 2021 23:43:39 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "100788160",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttp://seanmcccanary3.blob.core.windows.net\nhttp://seanmcccanary3.file.core.windows.net\nhttp://seanmcccanary3.queue.core.windows.net\nhttp://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttp://seanmcccanary3-secondary.blob.core.windows.net\nhttp://seanmcccanary3-secondary.file.core.windows.net\nhttp://seanmcccanary3-secondary.queue.core.windows.net\nhttp://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=http://seanmcccanary3.queue.core.windows.net/;FileEndpoint=http://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=http://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\n[encryption scope]\n\n"
  }
}