{
  "Entries": [
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-db484519-125d-abac-2334-3206902e44d1?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 11 Oct 2021 23:24:51 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D98D0E5339CF1D\u0022",
        "Last-Modified": "Mon, 11 Oct 2021 23:24:51 GMT",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-db484519-125d-abac-2334-3206902e44d1/test-blob-eaafabac-7df0-d950-a0d9-5a0fb9001283",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 11 Oct 2021 23:24:51 GMT",
        "x-ms-range": "bytes=0-511",
        "x-ms-range-get-content-md5": "true",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-MD5": "L2tibnqiTtVW34x3E5oVyg==",
        "Content-Range": "bytes 0-511/2048",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D98D0E53435F40\u0022",
        "Last-Modified": "Mon, 11 Oct 2021 23:24:51 GMT",
        "x-ms-blob-content-md5": "NhJgO11cEcVde5W5R2MmLg==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Mon, 11 Oct 2021 23:24:51 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Mon, 11 Oct 2021 23:24:51 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-12-06",
        "x-ms-version-id": "2021-10-11T23:24:51.5618624Z"
      },
      "ResponseBody": "cjeA5zBitX4M/v0tjzhjXUOELSmoeLgFx0uH10sjAezFCQEQRQh9dbEHvxphU\u002B/zRvHRw8RA0fp/eyDl290y6fwQZ4U2Uhg7B7d3oLmdo3Rbk5FZUT0ohDgHkcnomJrU1NUdUetpvfPZlrwMyTBA4derikdL2Ze/6OJNL8FOU28do8zjgFKI8dadgLuBG7sIxrDxPA1SiPs\u002BXmgJHI4yikNN7yVjXWGFI5hxrljbPcwmRWgRXRZhyhrRpCHqf9VHavZ4NCyVpGlObBl14dqiYiCb4tYlISws7CQLkrg/m6TDKUNhYwmfkKD/wvD96\u002BlALkIBTpz\u002BIkjJS0cIihGwD9F0sbeWQP8X/FE2Jl88LwA7y2R2Pk0HxQf7mBjBlwaOTrIfiDkxqe1C6lFLyPvojRxHzL\u002BtOdGEbeyvm6jmVWRLp9itHabGCSF2M1P7vP0MEgv7estG4RTgmhpNgQ5EXJTt/yEjO292gcKdNgZ9iLHvo4md69uYBMXDzIKLeYgTMde/Dbzc6NabhfgJqKoOYhFpXd6Fp3G5VPtbYG7t6gg6igQuvnv1E7qyAmXij1satGpwIhupjopmBbjBgIhorZvwzh6l36OWc0oj06UL18SfQKsEfMjskPt6yLnCNJIxSVTJ8cE9dNTG2a7RhrvlWi7zIj/dYzDTAz4iKxfq1D8="
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-db484519-125d-abac-2334-3206902e44d1/test-blob-eaafabac-7df0-d950-a0d9-5a0fb9001283",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "0x8D98D0E53435F40",
        "x-ms-date": "Mon, 11 Oct 2021 23:24:51 GMT",
        "x-ms-range": "bytes=512-1023",
        "x-ms-range-get-content-md5": "true",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-MD5": "w6EYr4PU1\u002BFwnABxwV\u002Bh6Q==",
        "Content-Range": "bytes 512-1023/2048",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D98D0E53435F40\u0022",
   [...]
[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-db484519-125d-abac-2334-3206902e44d1?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 11 Oct 2021 23:24:51 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1552787071",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttp://seanmcccanary3.blob.core.windows.net\nhttp://seanmcccanary3.file.core.windows.net\nhttp://seanmcccanary3.queue.core.windows.net\nhttp://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttp://seanmcccanary3-secondary.blob.core.windows.net\nhttp://seanmcccanary3-secondary.file.core.windows.net\nhttp://seanmcccanary3-secondary.queue.core.windows.net\nhttp://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=http://seanmcccanary3.queue.core.windows.net/;FileEndpoint=http://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=http://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\n[encryption scope]\n\n"
  }
}