{
  "Entries": [
    {
      "RequestUri": "https://cognitiveusw2dev.azure-api.net/text/analytics/v3.1-preview.2/entities/recognition/pii?showStats=true\u0026domain=PHI\u0026stringIndexType=Utf16CodeUnit",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "documents": [
          {
            "id": "0",
            "text": "A developer with SSN 859-98-0987 whose phone number is 800-102-1100 is building tools with our APIs.",
            "language": "en"
          },
          {
            "id": "1",
            "text": "Your ABA number - 111000025 - is the first 9 digits in the lower left hand corner of your personal check.",
            "language": "en"
          }
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "csp-billing-usage": "CognitiveServices.TextAnalytics.BatchScoring=2"
      },
      "ResponseBody": {
        "statistics": {
          "documentsCount": 2,
          "validDocumentsCount": 2,
          "erroneousDocumentsCount": 0,
          "transactionsCount": 2
        },
        "documents": [
          {
            "redactedText": "A developer with SSN *********** whose phone number is ************ is building tools with our APIs.",
            "id": "0",
            "statistics": {
              "charactersCount": 100,
              "transactionsCount": 1
            },
            "entities": [
              {
                "text": "859-98-0987",
                "category": "U.S. Social Security Number (SSN)",
                "offset": 21,
                "length": 11,
                "confidenceScore": 0.65
              },
              {
                "text": "800-102-1100",
                "category": "Phone Number",
                "offset": 55,
                "length": 12,
                "confidenceScore": 0.8
              }
            ],
            "warnings": []
          },
          {
            "redactedText": "Your ABA number - ********* - is the first 9 digits in the lower left hand corner of your personal check.",
            "id": "1",
            "statistics": {
              "charactersCount": 105,
              "transactionsCount": 1
            },
            "entities": [
              {
                "text": "111000025",
                "category": "Phone Number",
                "offset": 18,
                "length": 9,
                "confidenceScore": 0.8
              },
              {
                "text": "111000025",
                "category": "ABA Routing Number",
                "offset": 18,
                "length": 9,
                "confidenceScore": 0.75
              },
              {
                "text": "111000025",
                "category": "New Zealand Social Welfare Number",
                "offset": 18,
                "length": 9,
                "confidenceScore": 0.65
              }
            ],
            "warnings": []
          }
        ],
        "errors": [],
        "modelVersion": "2020-07-01"
      }
    }
  ],
  "Variables": {
    "RandomSeed": "1097726284",
    "TEXT_ANALYTICS_API_KEY": "Sanitized",
    "TEXT_ANALYTICS_ENDPOINT": "https://cognitiveusw2dev.azure-api.net"
  }
}