{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-nibhatimonitor/providers/Microsoft.OperationalInsights/workspaces/nibhatimonitor-logs/providers/Microsoft.Insights/metrics?timespan=2021-10-05T23%3A45%3A00.0000000Z%2F2021-10-06T00%3A00%3A00.0000000Z\u0026metricnames=CowsHappiness\u0026aggregation=Count\u0026api-version=2018-01-01\u0026metricnamespace=Cows",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ratelimit-remaining-subscription-reads": "11997"
      },
      "ResponseBody": {
        "cost": 14,
        "timespan": "2021-10-05T23:45:00Z/2021-10-06T00:00:00Z",
        "interval": "PT1M",
        "value": [
          {
            "id": "/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-nibhatimonitor/providers/Microsoft.OperationalInsights/workspaces/nibhatimonitor-logs/providers/Microsoft.Insights/metrics/CowsHappiness",
            "type": "Microsoft.Insights/metrics",
            "name": {
              "value": "CowsHappiness",
              "localizedValue": "CowsHappiness"
            },
            "unit": "Unspecified",
            "timeseries": [
              {
                "metadatavalues": [],
                "data": [
                  {
                    "timeStamp": "2021-10-05T23:45:00Z",
                    "count": 3.0
                  },
                  {
                    "timeStamp": "2021-10-05T23:46:00Z",
                    "count": 6.0
                  },
                  {
                    "timeStamp": "2021-10-05T23:47:00Z",
                    "count": 9.0
                  },
                  {
                    "timeStamp": "2021-10-05T23:48:00Z",
                    "count": 12.0
                  },
                  {
                    "timeStamp": "2021-10-05T23:49:00Z",
   [...]
