{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-nibhatimonitor/providers/Microsoft.OperationalInsights/workspaces/nibhatimonitor-logs/providers/microsoft.insights/metricNamespaces?api-version=2017-12-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ratelimit-remaining-subscription-reads": "11982"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-nibhatimonitor/providers/Microsoft.OperationalInsights/workspaces/nibhatimonitor-logs/providers/microsoft.insights/metricNamespaces/Microsoft.OperationalInsights-workspaces",
            "name": "Microsoft.OperationalInsights-workspaces",
            "type": "Microsoft.Insights/metricNamespaces",
            "classification": "Platform",
            "properties": {
              "metricNamespaceName": "Microsoft.OperationalInsights/workspaces"
            }
          }
        ]
      }
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2021-10-05T16:58:13.4593706-07:00",
    "METRICS_RESOURCE_ID": "/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-nibhatimonitor/providers/Microsoft.OperationalInsights/workspaces/nibhatimonitor-logs",
    "RandomSeed": "986176634",
    "RESOURCE_MANAGER_URL": "https://management.azure.com/"
  }
}