{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-pakrymmon6/providers/Microsoft.OperationalInsights/workspaces/pakrymmon6-logs/providers/Microsoft.Insights/metrics?metricnames=CowsHappiness\u0026api-version=2018-01-01\u0026metricnamespace=Cows",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ratelimit-remaining-subscription-reads": "11989"
      },
      "ResponseBody": {
        "cost": 59,
        "timespan": "2021-06-25T16:16:13Z/2021-06-25T17:16:13Z",
        "interval": "PT1M",
        "value": [
          {
            "id": "/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-pakrymmon6/providers/Microsoft.OperationalInsights/workspaces/pakrymmon6-logs/providers/Microsoft.Insights/metrics/CowsHappiness",
            "type": "Microsoft.Insights/metrics",
            "name": {
              "value": "CowsHappiness",
              "localizedValue": "CowsHappiness"
            },
            "unit": "Unspecified",
            "timeseries": [
              {
                "metadatavalues": [],
                "data": [
                  {
                    "timeStamp": "2021-06-25T16:16:00Z"
                  },
                  {
                    "timeStamp": "2021-06-25T16:17:00Z"
                  },
                  {
                    "timeStamp": "2021-06-25T16:18:00Z"
                  },
                  {
                    "timeStamp": "2021-06-25T16:19:00Z"
                  },
                  {
                    "timeStamp": "2021-06-25T16:20:00Z"
                  },
                  {
                    "timeStamp": "2021-06-25T16[...]
