{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-pakrymmon2/providers/Microsoft.OperationalInsights/workspaces/pakrymmon2-logs/providers/microsoft.insights/metrics?metricnames=CowsHappiness\u0026api-version=2018-01-01\u0026metricnamespace=Cows",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ratelimit-remaining-subscription-reads": "11979"
      },
      "ResponseBody": {
        "cost": 59,
        "timespan": "2021-05-04T17:37:45Z/2021-05-04T18:37:45Z",
        "interval": "PT1M",
        "value": [
          {
            "id": "/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-pakrymmon2/providers/Microsoft.OperationalInsights/workspaces/pakrymmon2-logs/providers/Microsoft.Insights/metrics/CowsHappiness",
            "type": "Microsoft.Insights/metrics",
            "name": {
              "value": "CowsHappiness",
              "localizedValue": "CowsHappiness"
            },
            "unit": "Unspecified",
            "timeseries": [
              {
                "metadatavalues": [],
                "data": [
                  {
                    "timeStamp": "2021-05-04T17:37:00Z"
                  },
                  {
                    "timeStamp": "2021-05-04T17:38:00Z"
                  },
                  {
                    "timeStamp": "2021-05-04T17:39:00Z"
                  },
                  {
                    "timeStamp": "2021-05-04T17:40:00Z"
                  },
                  {
                    "timeStamp": "2021-05-04T17:41:00Z"
                  },
                  {
                    "timeStamp": "2021-05-04T17:42:00Z"
                  },
                  {
                    "timeStamp": "2021-05-04T17:43:00Z"
                  },
                  {
                    "timeStamp": "2021-05-04T17:44:00Z"
                  },
                  {
                    "timeStamp": "2021-05-04T17:45:00Z"
                  },
                  {
                    "timeStamp": "2021-05-04T17:46:00Z"
                  },
                  {
                    "timeStamp": "2021-05-04T17:47:00Z"
                  },
                  {
                    "timeStamp": "2021-05-04T17:48:00Z"
                  },
                  {
                    "timeStamp": "2021-05-04T17:49:00Z"
                  },
                  {
                    "timeStamp": "2021-05-04T17:50:00Z",
                    "average": 25.0
                  },
                  {
                    "timeStamp": "2021-05-04T17:51:00Z",
                    "average": 25.714285714285715
                  },
                  {
                    "timeStamp": "2021-05-04T17:52:00Z",
                    "average": 26.25
                  },
                  {
                    "timeStamp": "2021-05-04T17:53:00Z",
                    "average": 26.666666666666668
                  },
                  {
                    "t[...]
