{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-pakrymmon3/providers/Microsoft.OperationalInsights/workspaces/pakrymmon3-logs/providers/microsoft.insights/metrics?timespan=2021-05-13T21%3A45%3A00.0000000Z%2FPT15M\u0026metricnames=CowsHappiness\u0026api-version=2018-01-01\u0026metricnamespace=Cows",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ratelimit-remaining-subscription-reads": "11974"
      },
      "ResponseBody": {
        "cost": 14,
        "timespan": "2021-05-13T21:45:00Z/2021-05-13T22:00:00Z",
        "interval": "PT1M",
        "value": [
          {
            "id": "/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-pakrymmon3/providers/Microsoft.OperationalInsights/workspaces/pakrymmon3-logs/providers/Microsoft.Insights/metrics/CowsHappiness",
            "type": "Microsoft.Insights/metrics",
            "name": {
              "value": "CowsHappiness",
              "localizedValue": "CowsHappiness"
            },
            "unit": "Unspecified",
            "timeseries": [
              {
                "metadatavalues": [],
                "data": [
                  {
                    "timeStamp": "2021-05-13T21:45:00Z",
                    "average": 0.0
                  },
                  {
                    "timeStamp": "2021-05-13T21:46:00Z",
                    "average": 15.0
                  },
                  {
                    "timeStamp": "2021-05-13T21:47:00Z",
                    "average": 20.0
                  },
                  {
                    "timeStamp": "2021-05-13T21:48:00Z",
                    "average": 22.5
                  },
                  {
                    "timeStamp": "2021-05-13T21:49:0[...]
