{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-pakrymmon2/providers/Microsoft.OperationalInsights/workspaces/pakrymmon2-logs/providers/microsoft.insights/metrics?timespan=2021-05-04T18%3A15%3A00.0000000Z%2F2021-05-04T18%3A30%3A00.0000000Z\u0026metricnames=CowsHappiness\u0026aggregation=Count\u0026$filter=Name%20eq%20%27Guinness%27\u0026api-version=2018-01-01\u0026metricnamespace=Cows",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ratelimit-remaining-subscription-reads": "11981"
      },
      "ResponseBody": {
        "cost": 14,
        "timespan": "2021-05-04T18:15:00Z/2021-05-04T18:30:00Z",
        "interval": "PT1M",
        "value": [
          {
            "id": "/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-pakrymmon2/providers/Microsoft.OperationalInsights/workspaces/pakrymmon2-logs/providers/Microsoft.Insights/metrics/CowsHappiness",
            "type": "Microsoft.Insights/metrics",
            "name": {
              "value": "CowsHappiness",
              "localizedValue": "CowsHappiness"
            },
            "unit": "Unspecified",
            "timeseries": [
              {
                "metadatavalues": [
                  {
                    "name": {
                      "value": "name",
                      "localizedValue": "name"
                    },
                    "value": "Guinness"
                  }
                ],
                "data": [
                  {
                    "timeStamp": "2021-05-04T18:15:00Z",
                    "count": 1.0
                  },
                  {
                    "timeStamp": "2021-05-04T18:16:00Z",
                    "count": 2.0
                  },
                  {
                    "timeStamp": "2021-05-04T18:17:00Z",
                    "count": 3.0
                  },
                  {
                    "timeStamp": "2021-05-04T18:18:00Z",
                    "count": 4.0
                  },
                  {
                    "timeStamp": "2021-05-04T18:19:00Z",
    [...]
