{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-pakrymmon2/providers/Microsoft.OperationalInsights/workspaces/pakrymmon2-logs/providers/microsoft.insights/metrics?timespan=2021-05-04T18%3A15%3A00.0000000Z%2F2021-05-04T18%3A30%3A00.0000000Z\u0026interval=PT5M\u0026metricnames=CowsHappiness\u0026api-version=2018-01-01\u0026metricnamespace=Cows",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ratelimit-remaining-subscription-reads": "11987"
      },
      "ResponseBody": {
        "cost": 14,
        "timespan": "2021-05-04T18:15:00Z/2021-05-04T18:30:00Z",
        "interval": "PT5M",
        "value": [
          {
            "id": "/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-pakrymmon2/providers/Microsoft.OperationalInsights/workspaces/pakrymmon2-logs/providers/Microsoft.Insights/metrics/CowsHappiness",
            "type": "Microsoft.Insights/metrics",
            "name": {
              "value": "CowsHappiness",
              "localizedValue": "CowsHappiness"
            },
            "unit": "Unspecified",
            "timeseries": [
              {
                "metadatavalues": [],
                "data": [
                  {
                    "timeStamp": "2021-05-04T18:15:00Z",
                    "average": 20.0
                  },
                  {
                    "timeStamp": "2021-05-04T18:20:00Z",
                    "average": 26.25
                  },
                  {
                    "timeStamp": "2021-05-04T18:25:00Z",
                    "average": 27.692307692307693
                  }
                ]
              }
            ],
            "errorCode": "Success"
          }
        ],
        "namespace": "Cows",
        "resourceregion": "westus2"
      }
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2021-05-04T11:37:39.5925911-07:00",
    "METRICS_RESOURCE_ID": "/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-pakrymmon2/providers/Microsoft.OperationalInsights/workspaces/pakrymmon2-logs",
    "RandomSeed": "707005817"
  }
}