{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-pakrymmon5/providers/Microsoft.OperationalInsights/workspaces/pakrymmon5-logs/providers/microsoft.insights/metrics?timespan=2021-06-07T16%3A30%3A00.0000000Z%2FPT3M\u0026metricnames=CowsHappiness\u0026api-version=2018-01-01\u0026metricnamespace=Cows",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ratelimit-remaining-subscription-reads": "11987"
      },
      "ResponseBody": {
        "cost": 2,
        "timespan": "2021-06-07T16:30:00Z/2021-06-07T16:33:00Z",
        "interval": "PT1M",
        "value": [
          {
            "id": "/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-pakrymmon5/providers/Microsoft.OperationalInsights/workspaces/pakrymmon5-logs/providers/Microsoft.Insights/metrics/CowsHappiness",
            "type": "Microsoft.Insights/metrics",
            "name": {
              "value": "CowsHappiness",
              "localizedValue": "CowsHappiness"
            },
            "unit": "Unspecified",
            "timeseries": [
              {
                "metadatavalues": [],
                "data": [
                  {
                    "timeStamp": "2021-06-07T16:30:00Z",
                    "average": 0.0
                  },
                  {
                    "timeStamp": "2021-06-07T16:31:00Z",
                    "average": 15.0
                  },
                  {
                    "timeStamp": "2021-06-07T16:32:00Z",
                    "average": 20.0
                  }
                ]
              }
            ],
            "errorCode": "Success"
          }
        ],
        "namespace": "Cows",
        "resourceregion": "westus2"
      }
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2021-06-07T09:40:35.6713675-07:00",
    "METRICS_RESOURCE_ID": "/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-pakrymmon5/providers/Microsoft.OperationalInsights/workspaces/pakrymmon5-logs",
    "RandomSeed": "297588951",
    "RESOURCE_MANAGER_URL": "https://management.azure.com/"
  }
}