{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11949"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "tagKey1": "tagValue1",
          "tagKey2": "tagValue2"
        },
        "subscriptionId": "db1ab6f0-4769-4b27-930e-01e2ef9c123c",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": ".NET Mgmt SDK Test with TTL = 1 Day",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourcegroups/testservicebusRG-7063?api-version=2021-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {
          "test": "env"
        },
        "location": "eastus2"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1197"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testservicebusRG-7063",
        "name": "testservicebusRG-7063",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus2",
        "tags": {
          "test": "env"
        },
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.ServiceBus/CheckNameAvailability?api-version=2021-06-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "testnamespacemgmt2698"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Server-SB": "Service-Bus-Resource-Provider/SN1",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "nameAvailable": true,
        "reason": "None",
        "message": null
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testservicebusRG-7063/providers/Microsoft.ServiceBus/namespaces/testnamespacemgmt2698?api-version=2021-06-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "sku": {
          "name": "Premium",
          "tier": "Premium"
        },
        "tags": {},
        "location": "eastus2",
        "properties": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Server-SB": "Service-Bus-Resource-Provider/SN1",
        "x-ms-ratelimit-remaining-subscription-writes": "1196"
      },
      "ResponseBody": {
        "sku": {
          "name": "Premium",
          "tier": "Premium",
          "capacity": 1
        },
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testservicebusRG-7063/providers/Microsoft.ServiceBus/namespaces/testnamespacemgmt2698",
        "name": "testnamespacemgmt2698",
        "type": "Microsoft.ServiceBus/Namespaces",
        "location": "East US 2",
        "tags": {},
        "properties": {
          "disableLocalAuth": false,
          "zoneRedundant": false,
          "provisioningState": "Created",
          "metricId": "db1ab6f0-4769-4b27-930e-01e2ef9c123c:testnamespacemgmt2698",
          "createdAt": "2021-12-08T01:49:51.9Z",
          "updatedAt": "2021-12-08T01:49:51.9Z",
          "serviceBusEndpoint": "https://testnamespacemgmt2698.servicebus.windows.net:443/",
          "status": "Activating"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testservicebusRG-7063/providers/Microsoft.ServiceBus/namespaces/testnamespacemgmt4200/queues/queue08922?api-version=2021-06-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Server-SB": "Service-Bus-Resource-Provider/CH3",
        "x-ms-ratelimit-remaining-subscription-writes": "1193"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testservicebusRG-7063/providers/Microsoft.ServiceBus/namespaces/testnamespacemgmt4200/queues/queue08922",
        "name": "queue08922",
        "type": "Microsoft.ServiceBus/Namespaces/Queues",
        "location": "East US",
        "properties": {
          "maxMessageSizeInKilobytes": 256,
          "lockDuration": "PT1M",
          "maxSizeInMegabytes": 1024,
          "requiresDuplicateDetection": false,
          "requiresSession": false,
          "defaultMessageTimeToLive": "P10675199DT2H48M5.4775807S",
          "deadLetteringOnMessageExpiration": false,
          "enableBatchedOperations": true,
          "duplicateDetectionHistoryTimeWindow": "PT10M",
          "maxDeliveryCount": 10,
          "sizeInBytes": 0,
          "messageCount": 0,
          "status": "Active",
          "autoDeleteOnIdle": "P10675199DT2H48M5.4775807S",
          "enablePartitioning": false,
          "enableExpress": false,
          "countDetails": {
            "activeMessageCount": 0,
            "deadLetterMessageCount": 0,
            "scheduledMessageCount": 0,
            "transferMessageCount": 0,
            "transferDeadLetterMessageCount": 0
          },
          "createdAt": "2021-12-08T01:51:57.01Z",
          "updatedAt": "2021-12-08T01:51:57.203Z",
          "accessedAt": "0001-01-01T00:00:00"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testservicebusRG-7063/providers/Microsoft.ServiceBus/namespaces/testnamespacemgmt4200/topics/topic0361?api-version=2021-06-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Server-SB": "Service-Bus-Resource-Provider/CH3",
        "x-ms-ratelimit-remaining-subscription-writes": "1183"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testservicebusRG-7063/providers/Microsoft.ServiceBus/namespaces/testnamespacemgmt4200/topics/topic0361",
        "name": "topic0361",
        "type": "Microsoft.ServiceBus/Namespaces/Topics",
        "location": "East US",
        "properties": {
          "maxMessageSizeInKilobytes": 256,
          "defaultMessageTimeToLive": "P10675199DT2H48M5.4775807S",
          "maxSizeInMegabytes": 1024,
          "requiresDuplicateDetection": false,
          "duplicateDetectionHistoryTimeWindow": "PT10M",
          "enableBatchedOperations": true,
          "sizeInBytes": 0,
          "status": "Active",
          "supportOrdering": true,
          "autoDeleteOnIdle": "P10675199DT2H48M5.4775807S",
          "enablePartitioning": false,
          "enableExpress": false,
          "createdAt": "2021-12-08T01:52:22.553Z",
          "updatedAt": "2021-12-08T01:52:22.64Z",
          "accessedAt": "0001-01-01T00:00:00",
          "subscriptionCount": 0,
          "countDetails": {
            "activeMessageCount": 0,
            "deadLetterMessageCount": 0,
            "scheduledMessageCount": 0,
            "transferMessageCount": 0,
            "transferDeadLetterMessageCount": 0
          }
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testservicebusRG-7063/providers/Microsoft.ServiceBus/namespaces/testnamespacemgmt4200/topics/topic15564?api-version=2021-06-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {}
      },
      "StatusCode": 200,
      "Respon[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testservicebusRG-7063/providers/Microsoft.ServiceBus/namespaces/testnamespacemgmt4200/migrationConfigurations/%24default?api-version=2021-06-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "targetNamespace": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testservicebusRG-7063/providers/Microsoft.ServiceBus/namespaces/testnamespacemgmt2698",
          "postMigrationName": "postmigration6353"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Server-SB": "Service-Bus-Resource-Provider/CH3",
        "x-ms-ratelimit-remaining-subscription-writes": "1173"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testservicebusRG-7063/providers/Microsoft.ServiceBus/namespaces/testnamespacemgmt4200/migrationConfigurations/$default",
        "name": "testnamespacemgmt4200",
        "type": "Microsoft.ServiceBus/Namespaces/migrationconfigurations",
        "properties": {
          "provisioningState": "Accepted",
          "targetNamespace": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testservicebusRG-7063/providers/Microsoft.ServiceBus/namespaces/testnamespacemgmt2698",
          "postMigrationName": "postmigration6353",
          "migrationState": "Initiating"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testservicebusRG-7063/providers/Microsoft.ServiceBus/namespaces/testnamespacemgmt4200/migrationConfigurations/%24default?api-version=2021-06-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Server-SB": "Service-Bus-Resource-Provider/CH3",
        "x-ms-ratelimit-remaining-subscription-reads": "11336"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testservicebusRG-7063/providers/Microsoft.ServiceBus/namespaces/testnamespacemgmt4200/migrationConfigurations/$default",
        "name": "testnamespacemgmt4200",
        "type": "Microsoft.ServiceBus/Namespaces/migrationconfigurations",
        "properties": {
          "provisioningState": "Succeeded",
          "targetNamespace": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testservicebusRG-7063/providers/Microsoft.ServiceBus/namespaces/testnamespacemgmt2698",
          "postMigrationName": "postmigration6353",
          "pendingReplicationOperationsCount": 16,
          "migrationState": "Syncing"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testservicebusRG-7063/providers/Microsoft.ServiceBus/namespaces/testnamespacemgmt4200/migrationConfigurations?api-version=2021-06-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Server-SB": "Service-Bus-Resource-Provider/CH3",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testservicebusRG-7063/providers/Microsoft.ServiceBus/namespaces/testnamespacemgmt4200/migrationConfigurations/testnamespacemgmt4200",
            "name": "testnamespacemgmt4200",
            "type": "Microsoft.ServiceBus/Namespaces/migrationconfigurations",
            "properties": {
              "provisioningState": "Succeeded",
              "targetNamespace": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testservicebusRG-7063/providers/Microsoft.ServiceBus/namespaces/testnamespacemgmt2698",
              "postMigrationName": "postmigration6353"
            }
          }
        ]
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testservicebusRG-7063/providers/Microsoft.ServiceBus/namespaces/testnamespacemgmt4200/migrationConfigurations/%24default/upgrade?api-version=2021-06-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Server-SB": "Service-Bus-Resource-Provider/SN1",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testservicebusRG-7063/providers/Microsoft.ServiceBus/namespaces/testnamespacemgmt2698/topics?api-version=2021-06-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Server-SB": "Service-Bus-Resource-Provider/SN1",
        "x-ms-inline-count": "",
        "x-ms-ratelimit-remaining-subscription-reads": "11998"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testservicebusRG-7063/providers/Microsoft.ServiceBus/namespaces/testnamespacemgmt2698/topics/topic0361",
            "name": "topic0361",
            "type": "Microsoft.ServiceBus/Namespaces/Topics",
            "location": "East US 2",
            "properties": {
              "ma[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testservicebusRG-7063/providers/Microsoft.ServiceBus/namespaces/testnamespacemgmt2698/queues?api-version=2021-06-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Ser[...]
[...]
