{
  "Entries": [
    {
      "RequestUri": "https://azade2ehub33.azure-devices.net/devices/IdentityLifecycleDevice726366390?api-version=2020-03-13",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-Match": "\u0022\u0022"
      },
      "RequestBody": {
        "deviceId": "IdentityLifecycleDevice726366390"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022OTc3Mjc0MTc4\u0022"
      },
      "ResponseBody": {
        "deviceId": "IdentityLifecycleDevice726366390",
        "generationId": "637287875373996012",
        "etag": "OTc3Mjc0MTc4",
        "connectionState": "Disconnected",
        "status": "enabled",
        "statusReason": null,
        "connectionStateUpdatedTime": "0001-01-01T00:00:00",
        "statusUpdatedTime": "0001-01-01T00:00:00",
        "lastActivityTime": "0001-01-01T00:00:00",
        "cloudToDeviceMessageCount": 0,
        "authentication": {
          "symmetricKey": {
            "primaryKey": "D1C6BR\u002Bsm\u002B6YqOZD6t5Rg8rZ98x14w\u002BGueBJu\u002B9pJaI=",
            "secondaryKey": "PfO8eXYTgjeoYzlA\u002B1rJtEXEkd3Um8EsvME1Xsgjxi0="
          },
          "x509Thumbprint": {
            "primaryThumbprint": null,
            "secondaryThumbprint": null
          },
          "type": "sas"
        },
        "capabilities": {
          "iotEdge": false
        }
      }
    },
[...]
    {
      "RequestUri": "https://azade2ehub33.azure-devices.net/devices/IdentityLifecycleDevice726366390?api-version=2020-03-13",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "*"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "IOT_HUB_CONNECTION_STRING": "HostName=AzadE2EHub33.azure-devices.net;SharedAccessKeyName=iothubowner;SharedAccessKey=Kg==;",
    "RandomSeed": "347912009"
  }
}