{
  "Entries": [
    {
      "RequestUri": "https://azade2ehub33.azure-devices.net/devices/IdentityLifecycleDevice375200814?api-version=2020-03-13",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-Match": "\u0022\u0022"
      },
      "RequestBody": {
        "deviceId": "IdentityLifecycleDevice375200814"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022NzEyNDA0MjY4\u0022"
      },
      "ResponseBody": {
        "deviceId": "IdentityLifecycleDevice375200814",
        "generationId": "637290465277519551",
        "etag": "NzEyNDA0MjY4",
        "connectionState": "Disconnected",
        "status": "enabled",
        "statusReason": null,
        "connectionStateUpdatedTime": "0001-01-01T00:00:00",
        "statusUpdatedTime": "0001-01-01T00:00:00",
        "lastActivityTime": "0001-01-01T00:00:00",
        "cloudToDeviceMessageCount": 0,
        "authentication": {
          "symmetricKey": {
            "primaryKey": "suwjwpf0siBJwa4DKI3qDi74SnRCGWmwrmbGIGbwexk=",
            "secondaryKey": "Sz9jISjabRC6eRcYr7z3vf\u002BblxV7VjHNFQKYnny16YY="
          },
          "x509Thumbprint": {
            "primaryThumbprint": null,
            "secondaryThumbprint": null
          },
          "type": "sas"
        },
        "capabilities": {
          "iotEdge": false
        }
      }
    },
[...]
    {
      "RequestUri": "https://azade2ehub33.azure-devices.net/devices/IdentityLifecycleDevice375200814?api-version=2020-03-13",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "*"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "IOT_HUB_CONNECTION_STRING": "HostName=AzadE2EHub33.azure-devices.net;SharedAccessKeyName=iothubowner;SharedAccessKey=Kg==;",
    "RandomSeed": "1984409653"
  }
}