{
  "Entries": [
    {
      "RequestUri": "https://FakeHost.net/devices/UpdateWithETag274499735?api-version=2020-03-13",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-Match": "\u0022\u0022"
      },
      "RequestBody": {
        "deviceId": "UpdateWithETag274499735"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022NDc5NzYyNzY1\u0022"
      },
      "ResponseBody": {
        "deviceId": "UpdateWithETag274499735",
        "generationId": "637746781254687193",
        "etag": "NDc5NzYyNzY1",
        "connectionState": "Disconnected",
        "status": "enabled",
        "statusReason": null,
        "connectionStateUpdatedTime": "0001-01-01T00:00:00",
        "statusUpdatedTime": "0001-01-01T00:00:00",
        "lastActivityTime": "0001-01-01T00:00:00",
        "cloudToDeviceMessageCount": 0,
        "authentication": {
          "symmetricKey": {
            "primaryKey": "Sanitized",
            "secondaryKey": "Sanitized"
          },
          "x509Thumbprint": {
            "primaryThumbprint": null,
            "secondaryThumbprint": null
          },
          "type": "sas"
        },
        "capabilities": {
          "iotEdge": false
        }
      }
    },
[...]
    {
      "RequestUri": "https://FakeHost.net/devices/UpdateWithETag274499735?api-version=2020-03-13",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-Match": "\u0022NDc5NzYyNzY1\u0022"
      },
      "RequestBody": {
        "deviceId": "UpdateWithETag274499735",
        "generationId": "637746781254687193",
        "etag": "NDc5NzYyNzY1",
        "connectionState": "Disconnected",
        "status": "enabled",
        "connectionStateUpdatedTime": "0001-01-01T00:00:00.0000000Z",
        "statusUpdatedTime": "0001-01-01T00:00:00.0000000Z",
        "lastActivityTime": "0001-01-01T00:00:00.0000000Z",
        "cloudToDeviceMessageCount": 0,
        "authentication": {
          "symmetricKey": {
            "primaryKey": "Sanitized",
            "secondaryKey": "Sanitized"
          },
          "x509Thumbprint": {},
          "type": "sas"
        },
        "capabilities": {
          "iotEdge": false
        }
      },
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "iothub-errorcode": "PreconditionFailed"
      },
      "ResponseBody": {
        "Message": "ErrorCode:PreconditionFailed;Precondition failed: Device version did not match, existingVersion:479762766 newVersion:479762765",
        "ExceptionMessage": "Tracking ID:b75f753767ef4e488af118542b90cf36-G:0-TimeStamp:12/09/2021 20:22:05"
      }
    },
[...]
    {
      "RequestUri": "https://FakeHost.net/devices/UpdateWithETag274499735?api-version=2020-03-13",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "*"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "IOT_HUB_CONNECTION_STRING": "HostName=FakeHost.net;SharedAccessKeyName=iothubowner;SharedAccessKey=Kg==",
    "RandomSeed": "654523133"
  }
}
