{
  "Entries": [
    {
      "RequestUri": "https://csharp-linux-westus-2.azure-devices.net/devices/IdentityLifecycleDevice726366390?api-version=2020-03-13",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-Match": "\u0022\u0022"
      },
      "RequestBody": {
        "deviceId": "IdentityLifecycleDevice726366390"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022MTA0NjUwNTcwMQ==\u0022"
      },
      "ResponseBody": {
        "deviceId": "IdentityLifecycleDevice726366390",
        "generationId": "637305341211358759",
        "etag": "MTA0NjUwNTcwMQ==",
        "connectionState": "Disconnected",
        "status": "enabled",
        "statusReason": null,
        "connectionStateUpdatedTime": "0001-01-01T00:00:00",
        "statusUpdatedTime": "0001-01-01T00:00:00",
        "lastActivityTime": "0001-01-01T00:00:00",
        "cloudToDeviceMessageCount": 0,
        "authentication": {
          "symmetricKey": {
            "primaryKey": "02WBVbdRBhZJJCkYW5AB/akrAhFIVxtzK9zJpucG1AY=",
            "secondaryKey": "a9oZBXWgHOs4EiYHSKMFOJ204lHx4WH0ki\u002Bksoe4\u002BVY="
          },
          "x509Thumbprint": {
            "primaryThumbprint": null,
            "secondaryThumbprint": null
          },
          "type": "sas"
        },
        "capabilities": {
          "iotEdge": false
        }
      }
    },
[...]
    {
      "RequestUri": "https://csharp-linux-westus-2.azure-devices.net/devices/IdentityLifecycleDevice726366390?api-version=2020-03-13",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "*"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "IOT_HUB_CONNECTION_STRING": "HostName=csharp-linux-westus-2.azure-devices.net;SharedAccessKeyName=iothubowner;SharedAccessKey=Kg==;",
    "RandomSeed": "347912009"
  }
}