{
  "Entries": [
    {
      "RequestUri": "https://FakeHost.net/devices?api-version=2020-03-13",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": "[{\u0022id\u0022:\u0022bulkDeviceWithTwin1109223729\u0022,\u0022importMode\u0022:\u0022create\u0022,\u0022status\u0022:\u0022enabled\u0022,\u0022properties\u0022:{\u0022desired\u0022:{\u0022user\u0022:\u0022userA\u0022}}},{\u0022id\u0022:\u0022bulkDeviceWithTwin424129578\u0022,\u0022importMode\u0022:\u0022create\u0022,\u0022status\u0022:\u0022enabled\u0022,\u0022properties\u0022:{\u0022desired\u0022:{\u0022user\u0022:\u0022userA\u0022}}},{\u0022id\u0022:\u0022bulkDeviceWithTwin1902645846\u0022[...]
    {
      "RequestUri": "https://FakeHost.net/twins/bulkDeviceWithTwin1109223729?api-version=2020-03-13",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "deviceId": "bulkDeviceWithTwin1109223729",
        "etag": "AAAAAAAAAAE=",
        "deviceEtag": "NzU1ODEwODYz",
        "status": "enabled",
        "statusUpdateTime": "0001-01-01T00:00:00Z",
        "connectionState": "Disconnected",
        "lastActivityTime": "0001-01-01T00:00:00Z",
        "cloudToDeviceMessageCount": 0,
        "authenticationType": "sas",
        "x509Thumbprint": {
          "primaryThumbprint": null,
          "secondaryThumbprint": null
        },
        "version": 2,
        "properties": {
          "desired": {
            "user": "userA",
            "$metadata": {
              "$lastUpdated": "0001-01-01T00:00:00Z",
              "$lastUpdatedVersion": 1,
              "user": {
                "$lastUpdated": "0001-01-01T00:00:00Z",
                "$lastUpdatedVersion": 1
              }
            },
            "$version": 1
          },
          "reported": {
            "$metadata": {
              "$lastUpdated": "2020-07-28T22:17:07.1922974Z"
            },
            "$version": 1
          }
        },
        "capabilities": {
          "iotEdge": false
        }
      }
    },
    {
      "RequestUri": "https://FakeHost.net/devices?api-version=2020-03-13",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": "[{\u0022id\u0022:\u0022bulkDeviceWithTwin1109223729\u0022,\u0022importMode\u0022:\u0022delete\u0022},{\u0022id\u0022:\u0022bulkDeviceWithTwin424129578\u0022,\u0022importMode\u0022:\u0022delete\u0022},{\u0022id\u0022:\u0022bulkDeviceWithTwin1902645846\u0022,\u0022importMode\u0022:\u0022delete\u0022},{\u0022id\u0022:\u0022bulkDeviceWithTwin1008012596\u0022,\u0022importMode\u0022:\u0022delete\u0022},{\u0022id\u0022:\u0022bulkDeviceWithTwin275442662\u0022,\u0022importMode\u0022:\u0022delete\u0022},{\u0022id\u0022:\u0022bulkDeviceWithTwin30389356\u0022,\u0022importMode\u0022:\u0022delete\u0022},{\u0022id\u0022:\u0022bulkDeviceWithTwin715021882\u0022,\u0022importMode\u0022:\u0022delete\u0022},{\u0022id\u0022:\u0022bulkDeviceWithTwin1778863504\u0022,\u0022importMode\u0022:\u0022delete\u0022},{\u0022id\u0022:\u0022bulkDeviceWithTwin678975368\u0022,\u0022importMode\u0022:\u0022delete\u0022},{\u0022id\u0022:\u0022bulkDeviceWithTwin409277462\u0022,\u0022importMode\u0022:\u0022delete\u0022}]",
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "isSuccessful": true,
        "errors": [],
        "warnings": []
      }
    }
  ],
  "Variables": {
    "IOT_HUB_CONNECTION_STRING": "HostName=FakeHost.net;SharedAccessKeyName=iothubowner;SharedAccessKey=Kg==;",
    "RandomSeed": "1405471046"
  }
}