{
  "Entries": [
    {
      "RequestUri": "https://azade2ehub33.azure-devices.net/devices/UpdateWithETag788075770?api-version=2020-03-13",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-Match": "\u0022\u0022"
      },
      "RequestBody": {
        "deviceId": "UpdateWithETag788075770"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022NzUyOTE5MDQx\u0022"
      },
      "ResponseBody": {
        "deviceId": "UpdateWithETag788075770",
        "generationId": "637287875549665773",
        "etag": "NzUyOTE5MDQx",
        "connectionState": "Disconnected",
        "status": "enabled",
        "statusReason": null,
        "connectionStateUpdatedTime": "0001-01-01T00:00:00",
        "statusUpdatedTime": "0001-01-01T00:00:00",
        "lastActivityTime": "0001-01-01T00:00:00",
        "cloudToDeviceMessageCount": 0,
        "authentication": {
          "symmetricKey": {
            "primaryKey": "i9jEzgEcjX8kfgVhdFHTzviWJKzHHo/Ws09NvVgUaQU=",
            "secondaryKey": "wz3ZTO\u002BJGQo69fFVzg0Fc0XhU94U063QuGLE\u002BexPYQE="
          },
          "x509Thumbprint": {
            "primaryThumbprint": null,
            "secondaryThumbprint": null
          },
          "type": "sas"
        },
        "capabilities": {
          "iotEdge": false
        }
      }
    },
[...]
    {
      "RequestUri": "https://azade2ehub33.azure-devices.net/devices/UpdateWithETag788075770?api-version=2020-03-13",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-Match": "\u0022NzUyOTE5MDQx\u0022"
      },
      "RequestBody": {
        "deviceId": "UpdateWithETag788075770",
        "generationId": "637287875549665773",
        "etag": "NzUyOTE5MDQx",
        "connectionState": "Disconnected",
        "status": "enabled",
        "connectionStateUpdatedTime": "0001-01-01T00:00:00.0000000Z",
        "statusUpdatedTime": "0001-01-01T00:00:00.0000000Z",
        "lastActivityTime": "0001-01-01T00:00:00.0000000Z",
        "cloudToDeviceMessageCount": 0,
        "authentication": {
          "symmetricKey": {
            "primaryKey": "i9jEzgEcjX8kfgVhdFHTzviWJKzHHo/Ws09NvVgUaQU=",
            "secondaryKey": "wz3ZTO\u002BJGQo69fFVzg0Fc0XhU94U063QuGLE\u002BexPYQE="
          },
          "x509Thumbprint": {},
          "type": "sas"
        },
        "capabilities": {
          "iotEdge": false
        }
      },
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "iothub-errorcode": "PreconditionFailed"
      },
      "ResponseBody": {
        "Message": "ErrorCode:PreconditionFailed;PreconditionFailed",
        "ExceptionMessage": "Tracking ID:2adf462b3f6c44768281141d6ff58ced-G:8-TimeStamp:06/26/2020 16:59:15"
      }
    },
[...]
    {
      "RequestUri": "https://azade2ehub33.azure-devices.net/devices/UpdateWithETag788075770?api-version=2020-03-13",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "*"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "IOT_HUB_CONNECTION_STRING": "HostName=AzadE2EHub33.azure-devices.net;SharedAccessKeyName=iothubowner;SharedAccessKey=Kg==;",
    "RandomSeed": "1815440680"
  }
}