{
  "Entries": [
    {
      "RequestUri": "https://azade2ehub33.azure-devices.net/devices/TwinLifecycleDevice2112406490?api-version=2020-03-13",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "deviceId": "TwinLifecycleDevice2112406490"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022ODgxODE4MTE4\u0022"
      },
      "ResponseBody": {
        "deviceId": "TwinLifecycleDevice2112406490",
        "generationId": "637287333714452458",
        "etag": "ODgxODE4MTE4",
        "connectionState": "Disconnected",
        "status": "enabled",
        "statusReason": null,
        "connectionStateUpdatedTime": "0001-01-01T00:00:00",
        "statusUpdatedTime": "0001-01-01T00:00:00",
        "lastActivityTime": "0001-01-01T00:00:00",
        "cloudToDeviceMessageCount": 0,
        "authentication": {
          "symmetricKey": {
            "primaryKey": "pvgoJXTrmUGeVT/wH05vFkNrl1slbbDIkETJKMdMUpg=",
            "secondaryKey": "MtQnhuR3aGmJfMUMuzlbUy7BqUBEXVTi1WEcvdra5Ag="
          },
          "x509Thumbprint": {
            "primaryThumbprint": null,
            "secondaryThumbprint": null
          },
          "type": "sas"
        },
        "capabilities": {
          "iotEdge": false
        }
      }
    },
    {
      "RequestUri": "https://azade2ehub33.azure-devices.net/twins/TwinLifecycleDevice2112406490?api-version=2020-03-13",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "deviceId": "TwinLifecycleDevice2112406490",
        "etag": "AAAAAAAAAAE=",
        "deviceEtag": "ODgxODE4MTE4",
        "status": "enabled",
        "statusUpdateTime": "0001-01-01T00:00:00Z",
        "connectionState": "Disconnected",
        "lastActivityTime": "0001-01-01T00:00:00Z",
        "cloudToDeviceMessageCount": 0,
        "authenticationType": "sas",
        "x509Thumbprint": {
          "primaryThumbprint": null,
          "secondaryThumbprint": null
        },
        "version": 2,
        "properties": {
          "desired": {
            "$metadata": {
              "$lastUpdated": "2020-06-26T01:56:11.4452458Z"
            },
            "$version": 1
          },
          "reported": {
            "$metadata": {
              "$lastUpdated": "2020-06-26T01:56:11.4452458Z"
            },
            "$version": 1
          }
        },
        "capabilities": {
          "iotEdge": false
        }
      }
    },
    {
      "RequestUri": "https://azade2ehub33.azure-devices.net/twins/TwinLifecycleDevice2112406490?api-version=2020-03-13",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-Match": "*"
      },
      "RequestBody": {
        "deviceId": "TwinLifecycleDevice2112406490",
        "properties": {
          "desired": {
            "$metadata": {
              "$lastUpdated": "2020-06-26T01:56:11.4452458Z"
            },
            "$version": 1,
            "username": "userA"
          },
          "reported": {
            "$metadata": {
              "$lastUpdated": "2020-06-26T01:56:11.4452458Z"
            },
            "$version": 1
          }
        },
        "etag": "AAAAAAAAAAE=",
        "version": 2,
        "deviceEtag": "ODgxODE4MTE4",
        "status": "enabled",
        "statusUpdateTime": "0001-01-01T00:00:00.0000000Z",
        "connectionState": "Disconnected",
        "lastActivityTime": "0001-01-01T00:00:00.0000000Z",
        "cloudToDe[...]
    {
      "RequestUri": "https://azade2ehub33.azure-devices.net/devices/TwinLifecycleDevice2112406490?api-version=2020-03-13",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "*"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "IOT_HUB_CONNECTION_STRING": "HostName=AzadE2EHub33.azure-devices.net;SharedAccessKeyName=iothubowner;SharedAccessKey=Kg==;",
    "RandomSeed": "1067398702"
  }
}