{
  "Entries": [
    {
      "RequestUri": "https://FakeHost.net/devices/UpdateWithETag788075770?api-version=2020-03-13",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-Match": "\u0022\u0022"
      },
      "RequestBody": {
        "deviceId": "UpdateWithETag788075770"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022MzU3ODk5NzQy\u0022"
      },
      "ResponseBody": {
        "deviceId": "UpdateWithETag788075770",
        "generationId": "637335579305427059",
        "etag": "MzU3ODk5NzQy",
        "connectionState": "Disconnected",
        "status": "enabled",
        "statusReason": null,
        "connectionStateUpdatedTime": "0001-01-01T00:00:00",
        "statusUpdatedTime": "0001-01-01T00:00:00",
        "lastActivityTime": "0001-01-01T00:00:00",
        "cloudToDeviceMessageCount": 0,
        "authentication": {
          "symmetricKey": {
            "primaryKey": "OLXDcidgeXaP5TEeov09KrSwmSpGlhBQubHZ4Dwj8yM=",
            "secondaryKey": "WJQmvXfr8I84\u002BNRhOMtezDWpV2P9YHOySheTwW3W/vQ="
          },
          "x509Thumbprint": {
            "primaryThumbprint": null,
            "secondaryThumbprint": null
          },
          "type": "sas"
        },
        "capabilities": {
          "iotEdge": false
        },
        "parentScopes": []
      }
    },
[...]
    {
      "RequestUri": "https://FakeHost.net/devices/UpdateWithETag788075770?api-version=2020-03-13",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-Match": "\u0022MzU3ODk5NzQy\u0022"
      },
      "RequestBody": "{\u0022deviceId\u0022:\u0022UpdateWithETag788075770\u0022,\u0022generationId\u0022:\u0022637335579305427059\u0022,\u0022etag\u0022:\u0022MzU3ODk5NzQy\u0022,\u0022connectionState\u0022:\u0022Disconnected\u0022,\u0022status\u0022:\u0022enabled\u0022,\u0022connectionStateUpdatedTime\u0022:\u00220001-01-01T00:00:00Z\u0022,\u0022statusUpdatedTime\u0022:\u00220001-01-01T00:00:00Z\u0022,\u0022lastActivityTime\u0022:\u00220001-01-01T00:00:00Z\u0022,\u0022cloudToDeviceMessageCount\u0022:0,\u0022authentication\u0022:{\u0022symmetricKey\u0022:{\u0022primaryKey\u0022:\u0022OLXDcidgeXaP5TEeov09KrSwmSpGlhBQubHZ4Dwj8yM=\u0022,\u0022secondaryKey\u0022:\u0022WJQmvXfr8I84\u002BNRhOMtezDWpV2P9YHOySheTwW3W/vQ=\u0022},\u0022x509Thumbprint\u0022:{},\u0022type\u0022:\u0022sas\u0022},\u0022capabilities\u0022:{\u0022iotEdge\u0022:false},\u0022parentScopes\u0022:[]}",
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "iothub-errorcode": "PreconditionFailed"
      },
      "ResponseBody": {
        "Message": "ErrorCode:PreconditionFailed;PreconditionFailed",
        "ExceptionMessage": "Tracking ID:47d76b2e41c14c5dad0cfb2b958e6770-G:2-TimeStamp:08/20/2020 22:05:30"
      }
    },
[...]
    {
      "RequestUri": "https://FakeHost.net/devices/UpdateWithETag788075770?api-version=2020-03-13",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "*"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "IOT_HUB_CONNECTION_STRING": "HostName=FakeHost.net;SharedAccessKeyName=iothubowner;SharedAccessKey=Kg==",
    "RandomSeed": "1815440680"
  }
}