{
  "Entries": [
    {
      "RequestUri": "https://FakeHost.net/devices/TwinLifecycleDevice280967207?api-version=2020-03-13",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-Match": "\u0022\u0022"
      },
      "RequestBody": {
        "deviceId": "TwinLifecycleDevice280967207"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022MTg0NzY1ODg5\u0022"
      },
      "ResponseBody": {
        "deviceId": "TwinLifecycleDevice280967207",
        "generationId": "637746781246494265",
        "etag": "MTg0NzY1ODg5",
        "connectionState": "Disconnected",
        "status": "enabled",
        "statusReason": null,
        "connectionStateUpdatedTime": "0001-01-01T00:00:00",
        "statusUpdatedTime": "0001-01-01T00:00:00",
        "lastActivityTime": "0001-01-01T00:00:00",
        "cloudToDeviceMessageCount": 0,
        "authentication": {
          "symmetricKey": {
            "primaryKey": "Sanitized",
            "secondaryKey": "Sanitized"
          },
          "x509Thumbprint": {
            "primaryThumbprint": null,
            "secondaryThumbprint": null
          },
          "type": "sas"
        },
        "capabilities": {
          "iotEdge": false
        }
      }
    },
    {
      "RequestUri": "https://FakeHost.net/twins/TwinLifecycleDevice280967207?api-version=2020-03-13",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "deviceId": "TwinLifecycleDevice280967207",
        "etag": "AAAAAAAAAAE=",
        "deviceEtag": "MTg0NzY1ODg5",
        "status": "enabled",
        "statusUpdateTime": "0001-01-01T00:00:00Z",
        "connectionState": "Disconnected",
        "lastActivityTime": "0001-01-01T00:00:00Z",
        "cloudToDeviceMessageCount": 0,
        "authenticationType": "sas",
        "x509Thumbprint": {
          "primaryThumbprint": null,
          "secondaryThumbprint": null
        },
        "version": 2,
        "properties": {
          "desired": {
            "$metadata": {
              "$lastUpdated": "2021-12-09T20:22:04.6494265Z"
            },
            "$version": 1
          },
          "reported": {
            "$metadata": {
              "$lastUpdated": "2021-12-09T20:22:04.6494265Z"
            },
            "$version": 1
          }
        },
        "capabilities": {
          "iotEdge": false
        }
      }
    },
    {
      "RequestUri": "https://FakeHost.net/twins/TwinLifecycleDevice280967207?api-version=2020-03-13",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-Match": "*"
      },
      "RequestBody": {
        "deviceId": "TwinLifecycleDevice280967207",
        "properties": {
          "desired": {
            "$metadata": {
              "$lastUpdated": "2021-12-09T20:22:04.6494265Z"
            },
            "$version": 1,
            "username": "userA"
          },
          "reported": {
            "$metadata": {
              "$lastUpdated": "2021-12-09T20:22:04.6494265Z"
            },
            "$version": 1
          }
        },
        "etag": "AAAAAAAAAAE=",
        "version": 2,
        "deviceEtag": "MTg0NzY1ODg5",
        "status": "enabled",
        "statusUpdateTime": "0001-01-01T00:00:00.0000000Z",
        "connectionState": "Disconnected",
        "lastActivityTime": "0001-01-01T00:00:00.0000000Z",
        "cloudToDe[...]
    {
      "RequestUri": "https://FakeHost.net/devices/TwinLifecycleDevice280967207?api-version=2020-03-13",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "*"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "IOT_HUB_CONNECTION_STRING": "HostName=FakeHost.net;SharedAccessKeyName=iothubowner;SharedAccessKey=Kg==",
    "RandomSeed": "1503839305"
  }
}
