{
  "Entries": [
    {
      "RequestUri": "https://azade2ehub33.azure-devices.net/devices/testDevice57405026?api-version=2020-03-13",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "iothub-errorcode": "DeviceNotFound"
      },
      "ResponseBody": {
        "Message": "ErrorCode:DeviceNotFound;testDevice57405026",
        "ExceptionMessage": "Tracking ID:9c61c6b1c22e4fbf9747dde38e995284-TimeStamp:06/16/2020 22:34:56"
      }
    },
    {
      "RequestUri": "https://azade2ehub33.azure-devices.net/devices/testDevice57405026?api-version=2020-03-13",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "deviceId": "testDevice57405026"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022NzUzMzQwNTQ4\u0022"
      },
      "ResponseBody": {
        "deviceId": "testDevice57405026",
        "generationId": "637279436963743765",
        "etag": "NzUzMzQwNTQ4",
        "connectionState": "Disconnected",
        "status": "enabled",
        "statusReason": null,
        "connectionStateUpdatedTime": "0001-01-01T00:00:00",
        "statusUpdatedTime": "0001-01-01T00:00:00",
        "lastActivityTime": "0001-01-01T00:00:00",
        "cloudToDeviceMessageCount": 0,
        "authentication": {
          "symmetricKey": {
            "primaryKey": "gT9h6sBk1DdThl7X8q72D0o5TPJI5wbxP9ilMbv7BwM=",
            "secondaryKey": "4lAXP9CSPQuDkAkacZxU91D/fvh\u002B01DVVs0pc3K/zYM="
          },
          "x509Thumbprint": {
            "primaryThumbprint": null,
            "secondaryThumbprint": null
          },
          "type": "sas"
        },
        "capabilities": {
          "iotEdge": false
        }
      }
    },
[...]
    {
      "RequestUri": "https://azade2ehub33.azure-devices.net/devices/testDevice57405026?api-version=2020-03-13",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "*"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "IOT_HUB_CONNECTION_STRING": "HostName=AzadE2EHub33.azure-devices.net;SharedAccessKeyName=iothubowner;SharedAccessKey=Kg==;",
    "RandomSeed": "295524903"
  }
}