{
  "Entries": [
    {
      "RequestUri": "https://azade2ehub33.azure-devices.net/devices/bulkDeviceUpdate2058308758?api-version=2020-03-13",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-Match": "\u0022\u0022"
      },
      "RequestBody": {
        "deviceId": "bulkDeviceUpdate2058308758",
        "status": "enabled"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022MTU3NTc4OTU1\u0022"
      },
      "ResponseBody": {
        "deviceId": "bulkDeviceUpdate2058308758",
        "generationId": "637290465270736398",
        "etag": "MTU3NTc4OTU1",
        "connectionState": "Disconnected",
        "status": "enabled",
        "statusReason": null,
        "connectionStateUpdatedTime": "0001-01-01T00:00:00",
        "statusUpdatedTime": "0001-01-01T00:00:00",
        "lastActivityTime": "0001-01-01T00:00:00",
        "cloudToDeviceMessageCount": 0,
        "authentication": {
          "symmetricKey": {
            "primaryKey": "8y4ukRz\u002B6Exo2daJoCsXiv7ykvegTkBlGmMgxlJGjQw=",
            "secondaryKey": "enT6Q4OCgm6DWE36uV6aY8P7A/ge9PijFQ5zDqWSvRQ="
          },
          "x509Thumbprint": {
            "primaryThumbprint": null,
            "secondaryThumbprint": null
          },
          "type": "sas"
        },
        "capabilities": {
          "iotEdge": false
        }
      }
    },
[...]
    {
      "RequestUri": "https://azade2ehub33.azure-devices.net/devices?api-version=2020-03-13",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": "[{\u0022id\u0022:\u0022bulkDeviceUpdate2058308758\u0022,\u0022eTag\u0022:\u0022MTU3NTc4OTU1\u0022,\u0022importMode\u0022:\u0022update\u0022,\u0022status\u0022:\u0022disabled\u0022,\u0022authentication\u0022:{\u0022symmetricKey\u0022:{\u0022primaryKey\u0022:\u00228y4ukRz\\u002B6Exo2daJoCsXiv7ykvegTkBlGmMgxlJGjQw=\u0022,\u0022secondaryKey\u0022:\u0022enT6Q4OCgm6DWE36uV6aY8P7A/ge9PijFQ5zDqWSvRQ=\u0022},\u0022x509Thumbprint\u0022:{},\u0022type\u0022:\u0022sas\u0022},\u0022capabilities\u0022:{\u0022iotEdge\u0022:false}},{\u0022id\u0022:\u0022bulkDeviceUpdate1689940095\u0022,\u0022eTag\u0022:\u0022NDE2MzY4MTQ=\u0022,\u0022importMode\u0022:\u0022update\u0022,\u0022status\u0022:\u0022disabled\u0022,\u0022authentication\u0022:{\u0022symmetricKey\u0022:{\u0022primaryKey\u0022:\u0022PJEquZf6Sb6NkorAlqsGEuft3sUdvx8YSWq3nkJWi8c=\u0022,\u0022secondaryKey\u0022:\u0022awa04P3e4nYzxpTkYbBN1I8tUpVwGtf\\u002BlJYjHA0PSDU=\u0022},\u0022x509Thumbprint\u0022:{},\u0022type\u0022:\u0022sas\u0022},\u0022capabilities\u0022:{\u0022iotEdge\u0022:false}}]",
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "isSuccessful": true,
        "errors": [],
        "warnings": []
      }
    },
[...]
    {
      "RequestUri": "https://azade2ehub33.azure-devices.net/devices?api-version=2020-03-13",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": "[{\u0022id\u0022:\u0022bulkDeviceUpdate2058308758\u0022,\u0022eTag\u0022:\u0022MTU3NTc4OTU1\u0022,\u0022importMode\u0022:\u0022delete\u0022},{\u0022id\u0022:\u0022bulkDeviceUpdate1689940095\u0022,\u0022eTag\u0022:\u0022NDE2MzY4MTQ=\u0022,\u0022importMode\u0022:\u0022delete\u0022}]",
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "isSuccessful": true,
        "errors": [],
        "warnings": []
      }
    }
  ],
  "Variables": {
    "IOT_HUB_CONNECTION_STRING": "HostName=AzadE2EHub33.azure-devices.net;SharedAccessKeyName=iothubowner;SharedAccessKey=Kg==;",
    "RandomSeed": "1759351927"
  }
}