{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/5b0120b2-6e29-4784-95cd-49a1b101a0c4?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11965"
      },
      "ResponseBody": {
        "id": "/subscriptions/5b0120b2-6e29-4784-95cd-49a1b101a0c4",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "NRMSBreakGlassAzureOnly": "NRMSBreakGlassAzureOnly"
        },
        "subscriptionId": "5b0120b2-6e29-4784-95cd-49a1b101a0c4",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": "Marlin - Dev CP",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/5b0120b2-6e29-4784-95cd-49a1b101a0c4/resourcegroups/test-rg-2447?api-version=**",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11964"
      },
      "ResponseBody": {
        "id": "/subscriptions/5b0120b2-6e29-4784-95cd-49a1b101a0c4/resourceGroups/test-rg-2447",
        "name": "test-rg-2447",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus2",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/5b0120b2-6e29-4784-95cd-49a1b101a0c4/resourceGroups/test-rg-2447/providers/Microsoft.DBforPostgreSQL/serverGroupsv2/cosmos-pg-net-5460?api-version=2022-11-08",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11963"
      },
      "ResponseBody": {
        "id": "/subscriptions/5b0120b2-6e29-4784-95cd-49a1b101a0c4/resourceGroups/test-rg-2447/providers/Microsoft.DBforPostgreSQL/serverGroupsv2/cosmos-pg-net-5460",
        "name": "cosmos-pg-net-5460",
        "type": "Microsoft.DBforPostgreSQL/serverGroupsv2",
        "tags": {},
        "location": "westus2",
        "systemData": {
          "createdAt": "2023-05-31T22:42:33.2675188Z",
          "createdBy": "66761688-d440-4677-af3f-3325374b8ebf",
          "createdByType": "Application",
          "lastModifiedAt": "2023-05-31T22:42:33.2675188Z",
          "lastModifiedBy": "66761688-d440-4677-af3f-3325374b8ebf",
          "lastModifiedByType": "Application"
        },
        "properties": {
          "provisioningState": "Succeeded",
          "state": "Ready",
          "administratorLogin": "citus",
          "postgresqlVersion": "14",
          "citusVersion": "11.1",
          "maintenanceWindow": {
            "customWindow": "Disabled",
            "dayOfWeek": 0,
            "startHour": 0,
            "startMinute": 0
          },
          "preferredPrimaryZone": "1",
          "enableShardsOnCoordinator": true,
          "earliestRestoreTime": null,
          "sourceResourceId": null,
          "enableHa": false,
          "coordinatorServerEdition": "GeneralPurpose",
          "nodeServerEdition": "MemoryOptimized",
          "coordinatorStorageQuotaInMb": 524288,
          "nodeStorageQuotaInMb": 524288,
          "coordinatorVCores": 4,
          "nodeVCores": 4,
          "coordinatorEnablePublicIpAccess": true,
          "nodeEnablePublicIpAccess": false,
          "nodeCount": 2,
          "serverNames": [
            {
              "name": "cosmos-pg-net-5460-c",
              "fullyQualifiedDomainName": "c.cosmos-pg-net-5460.postgres.database.azure.com"
            },
            {
              "name": "cosmos-pg-net-5460-w0",
              "fullyQualifiedDomainName": "w0.cosmos-pg-net-5460.postgres.database.azure.com"
            },
            {
              "name": "cosmos-pg-net-5460-w1",
              "fullyQualifiedDomainName": "w1.cosmos-pg-net-5460.postgres.database.azure.com"
            }
          ],
          "readReplicas": [],
          "privateEndpointConnections": []
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/5b0120b2-6e29-4784-95cd-49a1b101a0c4/resourceGroups/test-rg-2447/providers/Microsoft.DBforPostgreSQL/serverGroupsv2/cosmos-pg-net-5460/nodeConfigurations/array_nulls?api-version=2022-11-08",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "value": "false"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/5b0120b2-6e29-4784-95cd-49a1b101a0c4/providers/Microsoft.DBforPostgreSQL/locations/westus2/azureAsyncOperation/84065521-4d0d-4f75-af6f-b996771ec732?api-version=2022-11-08",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/5b0120b2-6e29-4784-95cd-49a1b101a0c4/providers/Microsoft.DBforPostgreSQL/locations/westus2/operationResults/84065521-4d0d-4f75-af6f-b996771ec732?api-version=2022-11-08",
        "x-ms-ratelimit-remaining-subscription-writes": "1196"
      },
      "ResponseBody": {
        "id": "/subscriptions/5b0120b2-6e29-4784-95cd-49a1b101a0c4/resourceGroups/test-rg-2447/providers/Microsoft.DBforPostgreSQL/serverGroupsv2/cosmos-pg-net-5460/nodeConfigurations/array_nulls",
        "name": "array_nulls",
        "type": "Microsoft.DBforPostgreSQL/serverGroupsv2/nodeConfigurations",
        "systemData": {
          "createdBy": "66761688-d440-4677-af3f-3325374b8ebf",
          "createdByType": "Application",
          "createdAt": "2023-05-31T22:49:48.8471431Z",
          "lastModifiedBy": "66761688-d440-4677-af3f-3325374b8ebf",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2023-05-31T22:49:48.8471431Z"
        },
        "properties": {
          "description": "Enables input of NULL elements in arrays.",
          "provisioningState": "InProgress",
          "dataType": "Boolean",
          "allowedValues": "on,off",
          "requiresRestart": false,
          "defaultValue": "on",
          "value": "false",
          "source": "user-override"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/5b0120b2-6e29-4784-95cd-49a1b101a0c4/providers/Microsoft.DBforPostgreSQL/locations/westus2/azureAsyncOperation/84065521-4d0d-4f75-af6f-b996771ec732?api-version=2022-11-08",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/5b0120b2-6e29-4784-95cd-49a1b101a0c4/providers/Microsoft.DBforPostgreSQL/locations/westus2/azureAsyncOperation/84065521-4d0d-4f75-af6f-b996771ec732?api-version=2022-11-08",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/5b0120b2-6e29-4784-95cd-49a1b101a0c4/providers/Microsoft.DBforPostgreSQL/locations/westus2/operationResults/84065521-4d0d-4f75-af6f-b996771ec732?api-version=2022-11-08",
        "x-ms-ratelimit-remaining-subscription-reads": "11962"
      },
      "ResponseBody": {
        "id": "/subscriptions/5b0120b2-6e29-4784-95cd-49a1b101a0c4/providers/Microsoft.DBforPostgreSQL/locations/westus2/azureAsyncOperation/84065521-4d0d-4f75-af6f-b996771ec732",
        "name": "84065521-4d0d-4f75-af6f-b996771ec732",
        "status": "InProgress",
        "startTime": "2023-05-31 22:49:49 \u002B0000"
      }
    },
[...]
