{
  "Entries": [
    {
      "RequestUri": "/subscriptions/c909e979-ef71-4def-a970-bc7c154db8c5/resourceGroups/TestHubRG/providers/Microsoft.CustomerInsights/hubs/sdktestbn3/profiles/testProfile3800?api-version=2017-01-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"apiEntitySetName\": \"testProfile3800\",\r\n    \"fields\": [\r\n      {\r\n        \"fieldName\": \"ContactId\",\r\n        \"fieldType\": \"Edm.String\",\r\n        \"isArray\": false,\r\n        \"isRequired\": true\r\n      }\r\n    ],\r\n    \"strongIds\": [\r\n      {\r\n        \"keyPropertyNames\": [\r\n          \"ContactId\"\r\n        ],\r\n        \"strongIdName\": \"ContactId\"\r\n      }\r\n    ]\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/c909e979-ef71-4def-a970-bc7c154db8c5/resourceGroups/TestHubRG/providers/Microsoft.CustomerInsights/hubs/sdktestbn3/profiles/testProfile3800\",\r\n  \"name\": \"sdktestbn3/testProfile3800\",\r\n  \"properties\": {\r\n    \"strongIds\": [\r\n      {\r\n        \"keyPropertyNames\": [\r\n          \"ContactId\"\r\n        ],\r\n        \"strongIdName\": \"ContactId\"\r\n      },\r\n      {\r\n        \"keyPropertyNames\": [\r\n          \"ProfileId\"\r\n        ],\r\n        \"strongIdName\": \"ProfileId\"\r\n      }\r\n    ],\r\n    \"apiEntitySetName\": \"testProfile3800\",\r\n    \"entityType\": 1,\r\n    \"fields\": [\r\n      {\r\n        \"fieldName\": \"ContactId\",\r\n        \"fieldType\": \"Edm.String\",\r\n        \"isArray\": false,\r\n        \"isEnum\": false,\r\n        \"isFlagEnum\": false,\r\n        \"isImage\": false,\r\n        \"isLocalizedString\": false,\r\n        \"isName\": false,\r\n        \"isRequired\": true,\r\n        \"propertyId\": \"id1\",\r\n        \"maxLength\": 4000,\r\n        \"isAvailableInGraph\": true\r\n      },\r\n      {\r\n        \"fieldName\": \"ProfileId\",\r\n        \"fieldType\": \"Edm.String\",\r\n        \"isArray\": false,\r\n        \"isEnum\": false,\r\n        \"isFlagEnum\": false,\r\n        \"isImage\": false,\r\n        \"isLocalizedString\": false,\r\n        \"isName\": false,\r\n        \"isRequired\": false,\r\n        \"propertyId\": \"PROFILEID\",\r\n        \"maxLength\": 4000,\r\n        \"isAvailableInGraph\": true\r\n      }\r\n    ],\r\n    \"instancesCount\": 0,\r\n    \"provisioningState\": \"Provisioning\",\r\n    \"tenantId\": \"sdktestbn3\",\r\n    \"typeName\": \"testProfile3800\"\r\n  },\r\n  \"type\": \"Microsoft.CustomerInsights/hubs/profiles\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json"
        ],
        "Location": [
          "https://api-dogfood.resources.windows-int.net/subscriptions/c909e979-ef71-4def-a970-bc7c154db8c5/resourceGroups/TestHubRG/providers/Microsoft.CustomerInsights/hubs/sdktestbn3/profiles/testProfile3800/operations/286b7907992b481e9b9a5c6645b04de1?api-version=2017-01-01"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "OData-Version": [
          "4.0"
        ]
      },
      "StatusCode": 202
    },
    {
      "RequestUri": "/subscriptions/c909e979-ef71-4def-a970-bc7c154db8c5/resourceGroups/TestHubRG/providers/Microsoft.CustomerInsights/hubs/sdktestbn3/profiles/testProfile3800/operations/286b7907992b481e9b9a5c6645b04de1?api-version=2017-01-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/c909e979-ef71-4def-a970-bc7c154db8c5/resourceGroups/TestHubRG/providers/Microsoft.CustomerInsights/hubs/[...]
[...]
    {
      "RequestUri": "/subscriptions/c909e979-ef71-4def-a970-bc7c154db8c5/resourceGroups/TestHubRG/providers/Microsoft.CustomerInsights/hubs/sdktestbn3/interactions/testInteraction8877?api-version=2017-01-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"apiEntitySetName\": \"testInteraction8877\",\r\n    \"fields\": [\r\n      {\r\n        \"fieldName\": \"ContactId\",\r\n        \"fieldType\": \"Edm.String\"\r\n      },\r\n      {\r\n        \"fieldName\": \"BranchId\",\r\n        \"fieldType\": \"Edm.String\"\r\n      }\r\n    ]\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/c909e979-ef71-4def-a970-bc7c154db8c5/resourceGroups/TestHubRG/providers/Microsoft.CustomerInsights/hubs/sdktestbn3/interactions/testInteraction8877\",\r\n  \"name\": \"sdktestbn3/testInteraction8877\",\r\n  \"properties\": {\r\n    \"defaultDataSourceId\": 0,\r\n    \"idPropertyNames\": [],\r\n    \"isActivity\": false,\r\n    \"apiEntitySetName\": \"testInteraction8877\",\r\n    \"entityType\": 2,\r\n    \"fields\": [\r\n      {\r\n        \"fieldName\": \"ContactId\",\r\n        \"fieldType\": \"Edm.String\",\r\n        \"isArray\": false,\r\n        \"isEnum\": false,\r\n        \"isFlagEnum\": false,\r\n        \"isImage\": false,\r\n        \"isLocalizedString\": false,\r\n        \"isName\": false,\r\n        \"isRequired\": false,\r\n        \"propertyId\": \"id1\",\r\n        \"maxLength\": 4000[...]
    {
      "RequestUri": "/subscriptions/c909e979-ef71-4def-a970-bc7c154db8c5/resourceGroups/TestHubRG/providers/Microsoft.CustomerInsights/hubs/sdktestbn3/interactions/testInteraction8877/operations/ef55f0bd6876447f8f37a0b864932e5a?api-version=2017-01-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/c909e979-ef71-4def-a970-bc7c154db8c5/resourceGroups/TestHubRG/providers/Microsoft.CustomerInsigh[...]
[...]
    {
      "RequestUri": "/subscriptions/c909e979-ef71-4def-a970-bc7c154db8c5/resourceGroups/TestHubRG/providers/Microsoft.CustomerInsights/hubs/sdktestbn3/links/linkTest1710?api-version=2017-01-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"sourceInteractionType\": \"testInteraction8877\",\r\n    \"targetProfileType\": \"testProfile3800\",\r\n    \"participantPropertyReferences\": [\r\n      {\r\n        \"interactionPropertyName\": \"ContactId\",\r\n        \"profilePropertyName\": \"ContactId\"\r\n      }\r\n    ]\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"expiryDateTime\": \"0001-01-01T00:00:00\",\r\n  \"linkGuidId\": \"693e1b56-5021-e711-80c3-0004ffd343d6\",\r\n  \"name\": \"linkTest1710\",\r\n  \"operationType\": 0,\r\n  \"participantPropertyReferences\": [\r\n    {\r\n      \"interactionPropertyName\": \"ContactId\",\r\n      \"profilePropertyName\": \"ContactId\"\r\n    }\r\n  ],\r\n  \"provisioningState\": \"Succeeded\",\r\n  \"referenceOnly\": true,\r\n  \"sourceInteractionTypeName\": \"testInteraction8877\",\r\n  \"targetEntityTypeName\": \"testProfile3800\",\r\n  \"tenantId\": \"sdktestbn3\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1196"
        ],
        "OData-Version": [
          "4.0"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/c909e979-ef71-4def-a970-bc7c154db8c5/resourceGroups/TestHubRG/providers/Microsoft.CustomerInsights/hubs/sdktestbn3/interactions/testInteraction8877/suggestRelationshipLinks?api-version=2017-01-01",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"interactionName\": \"testInteraction8877\",\r\n  \"suggestedRelationships\": [\r\n    {\r\n      \"profileName\": \"testProfile3800\",\r\n      \"profilePropertyReferences\": [\r\n        {\r\n          \"interactionPropertyName\": \"ContactId\",\r\n          \"profilePropertyName\": \"ContactId\"\r\n        }\r\n      ],\r\n      \"relatedProfileName\": \"testProfile5785\",\r\n      \"relatedProfilePropertyReferences\": [\r\n        {\r\n          \"interactionPropertyName\": \"BranchId\",\r\n          \"profilePropertyName\": \"BranchId\"\r\n        }\r\n      ]\r\n    },\r\n    {\r\n      \"profileName\": \"testProfile5785\",\r\n      \"profilePropertyReferences\": [\r\n        {\r\n          \"interactionPropertyName\": \"BranchId\",\r\n          \"profilePropertyName\": \"BranchId\"\r\n        }\r\n      ],\r\n      \"relatedProfileName\": \"testProfile3800\",\r\n      \"relatedProfilePropertyReferences\": [\r\n        {\r\n          \"interactionPropertyName\": \"ContactId\",\r\n          \"profilePropertyName\": \"ContactId\"\r\n        }\r\n      ]\r\n    }\r\n  ]\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1194"
        ],
        "OData-Version": [
          "4.0"
        ]
      },
      "StatusCode": 200
    }
  ],
  "Names": {
    "SuggestRelationshipLinks": [
      "testProfile3800",
      "testProfile5785",
      "testInteraction8877",
      "linkTest1710",
      "linkTest4149"
    ]
  },
  "Variables": {
    "SubscriptionId": "c909e979-ef71-4def-a970-bc7c154db8c5"
  }
}