{
  "Entries": [
    {
      "RequestUri": "https://atlas.microsoft.com/route/directions/json?api-version=1.0\u0026query=45.9375%2C123.751%3A45.96875%2C123.791%3A45.90625%2C123.767",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-client-id": "86ff944f-d704-4f24-8af8-34f4a58ff4e0"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-azuremaps-region": "West US 2"
      },
      "ResponseBody": {
        "formatVersion": "0.0.12",
        "routes": [
          {
            "summary": {
              "lengthInMeters": 14128,
              "travelTimeInSeconds": 1404,
              "trafficDelayInSeconds": 0,
              "trafficLengthInMeters": 0,
              "departureTime": "2022-08-26T17:22:43\u002B08:00",
              "arrivalTime": "2022-08-26T17:46:06\u002B08:00"
            },
            "legs": [
              {
                "summary": {
                  "lengthInMeters": 4672,
                  "travelTimeInSeconds": 420,
                  "trafficDelayInSeconds": 0,
                  "trafficLengthInMeters": 0,
                  "departureTime": "2022-08-26T17:22:43\u002B08:00",
                  "arrivalTime": "2022-08-26T17:29:43\u002B08:00"
                },
                "points": [
                  {
                    "latitude": 45.93959,
                    "longitude": 123.7501
                  },
                  {
                    "latitude": 45.94181,
                    "longitude": 123.76086
                  },
                  {
                    "latitude": 45.94482,
                    "longitude": 123.76914
                  },
                  {
                    "latitude": 45.94586,
                    "longitude": 123.77197
                  },
                  {
                    "latitude": 45.94589,
                    "longitud[...]
