{
  "Entries": [
    {
      "RequestUri": "https://atlas.microsoft.com/route/directions/batch/json?api-version=1.0",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-client-id": "86ff944f-d704-4f24-8af8-34f4a58ff4e0"
      },
      "RequestBody": {
        "batchItems": [
          {
            "query": "?query=45.9375,123.751:45.96875,123.791:45.90625,123.767\u0026travelMode=bicycle\u0026traffic=false\u0026routeType=eco"
          },
          {
            "query": "?query=45.9375,123.751:45.90625,123.767"
          }
        ]
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://atlas.microsoft.com/route/directions/batch/a997c71a-e725-4d97-a640-aa9e9c2e12bb?api-version=1.0",
        "x-ms-azuremaps-region": "West US 2"
      },
      "ResponseBody": "\u0022\u0022"
    },
    {
      "RequestUri": "https://atlas.microsoft.com/route/directions/batch/a997c71a-e725-4d97-a640-aa9e9c2e12bb?api-version=1.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-client-id": "86ff944f-d704-4f24-8af8-34f4a58ff4e0"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-azuremaps-region": "West US 2"
      },
      "ResponseBody": {
        "batchItems": [
          {
            "statusCode": 200,
            "response": {
              "formatVersion": "0.0.12",
              "routes": [
                {
                  "summary": {
                    "lengthInMeters": 14128,
                    "travelTimeInSeconds": 2549,
                    "trafficDelayInSeconds": 0,
                    "departureTime": "2022-08-26T09:22:41\u002B00:00",
                    "arrivalTime": "2022-08-26T10:05:09\u002B00:00"
                  },
                  "legs": [
                    {
                      "summary": {
                        "lengthInMeters": 4672,
                        "travelTimeInSeconds": 841,
                        "trafficDelayInSeconds": 0,
                        "departureTime": "2022-08-26T09:22:41\u002B00:00",
                        "arrivalTime": "2022-08-26T09:36:41\u002B00:00"
                      },
                      "points": [
                        {
                          "latitude": 45.93959,
                          "longitude": 123.7501
                        },
                        {
                          "latitude": 45.94181,
                          "longitude": 123.76086
                        },
                        {
                          "latitude": 45.94482,
                          "longitude": 123.76914
                        },
                        {
                          "latitude": 45.94586,
                          "longitude": 123.77197
                        },
             [...]
[...]
