{
  "Entries": [
    {
      "RequestUri": "https://atlas.microsoft.com/route/directions/batch/sync/json?api-version=1.0",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-client-id": "86ff944f-d704-4f24-8af8-34f4a58ff4e0"
      },
      "RequestBody": {},
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-azuremaps-region": "West US 2"
      },
      "ResponseBody": {
        "error": {
          "code": "400 BadRequest",
          "message": "Request body is invalid or empty"
        }
      }
    }
  ],
  "Variables": {
    "AZMAPS_CLIENT_ID": "86ff944f-d704-4f24-8af8-34f4a58ff4e0",
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com/",
    "RandomSeed": "997463799"
  }
}
