{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11996"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "azsecpack": "nonprod",
          "C-AI-MG-Placement-Subscription-Level": "2023-06-13"
        },
        "subscriptionId": "00000000-0000-0000-0000-000000000000",
        "tenantId": "00000000-0000-0000-0000-000000000000",
        "displayName": "Hilo Team TIP Development",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/hdiaks-testrg-4562?api-version=2022-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westeurope"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/hdiaks-testrg-4562",
        "name": "hdiaks-testrg-4562",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westeurope",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/hdiaks-testrg-4562/providers/Microsoft.HDInsight/clusterpools/sdk-testpool-8033?api-version=2023-06-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "westus2",
        "properties": {
          "computeProfile": {
            "vmSize": "Standard_E4s_v3"
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/providers/Microsoft.HDInsight/locations/WESTUS2/operationStatuses/06a5aa59-8b7e-4b22-98ce-1d89c11aa9e7*03A210F7D828CC472F766EC8B7E32386869F448172207652B86586AD688D0389?api-version=2023-06-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00221c00ce6f-0000-0800-0000-64d0973b0000\u0022",
        "mise-correlation-id": "a8f9f830-8944-4a52-81b6-fe501dd52f28",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-writes": "1198"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/hdiaks-testrg-4562/providers/Microsoft.HDInsight/clusterpools/sdk-testpool-8033",
        "name": "sdk-testpool-8033",
        "type": "microsoft.hdinsight/clusterpools",
        "location": "westus2",
        "tags": {},
        "systemData": {
          "createdBy": "982e3695-380b-4e83-9941-fc6f5b47bb8d",
          "createdByType": "Application",
          "createdAt": "2023-08-07T07:03:20.9722147Z",
          "lastModifiedBy": "982e3695-380b-4e83-9941-fc6f5b47bb8d",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2023-08-07T07:03:20.9722147Z"
        },
        "properties": {
          "computeProfile": {
            "vmSize": "Standard_E4s_v3"
          },
          "provisioningState": "Accepted"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/providers/Microsoft.HDInsight/locations/WESTUS2/operationStatuses/06a5aa59-8b7e-4b22-98ce-1d89c11aa9e7*03A210F7D828CC472F766EC8B7E32386869F448172207652B86586AD688D0389?api-version=2023-06-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00221500a504-0000-0800-0000-64d0973b0000\u0022",
        "x-ms-ratelimit-remaining-tenant-reads": "11999"
      },
      "ResponseBody": {
        "id": "/providers/Microsoft.HDInsight/locations/WESTUS2/operationStatuses/06a5aa59-8b7e-4b22-98ce-1d89c11aa9e7*03A210F7D828CC472F766EC8B7E32386869F448172207652B86586AD688D0389",
        "name": "06a5aa59-8b7e-4b22-98ce-1d89c11aa9e7*03A210F7D828CC472F766EC8B7E32386869F448172207652B86586AD688D0389",
        "resourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/hdiaks-testrg-4562/providers/Microsoft.HDInsight/clusterpools/sdk-testpool-8033",
        "status": "Accepted",
        "startTime": "2023-08-07T07:03:23.378116Z"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/hdiaks-testrg-4562/providers/Microsoft.HDInsight/clusterpools/sdk-testpool-8033?api-version=2023-06-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00221c00ae70-0000-0800-0000-64d098430000\u0022",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-reads": "11995"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/hdiaks-testrg-4562/providers/Microsoft.HDInsight/clusterpools/sdk-testpool-8033",
        "name": "sdk-testpool-8033",
        "type": "microsoft.hdinsight/clusterpools",
        "location": "westus2",
        "tags": {},
        "systemData": {
          "createdBy": "982e3695-380b-4e83-9941-fc6f5b47bb8d",
          "createdByType": "Application",
          "createdAt": "2023-08-07T07:03:20.9722147Z",
          "lastModifiedBy": "982e3695-380b-4e83-9941-fc6f5b47bb8d",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2023-08-07T07:03:20.9722147Z"
        },
        "properties": {
          "managedResourceGroupName": "hdi-7c44dc0c033f4c5986c31edc8325f340",
          "aksManagedResourceGroupName": "MC_hdi-7c44dc0c033f4c5986c31edc8325f340_sdk-testpool-8033_westus2",
          "aksClusterProfile": {
            "aksVersion": "1.26",
            "aksClusterResourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/hdi-7c44dc0c033f4c5986c31edc8325f340/providers/Microsoft.ContainerService/managedClusters/sdk-testpool-8033",
            "aksClusterAgentPoolIdentityProfile": {
              "msiResourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/MC_hdi-7c44dc0c033f4c5986c31edc8325f340_sdk-testpool-8033_westus2/providers/Microsoft.ManagedIdentity/userAssignedIdentities/sdk-testpool-8033-agentpool",
              "msiClientId": "dc4a4227-e98b-4ef0-8c7e-cc5b244a72e0",
              "msiObjectId": "c86136d1-c64b-47a3-b296-55dd19bd5ad8"
            }
          },
          "computeProfile": {
            "vmSize": "Standard_E4s_v3",
            "count": 3
          },
          "deploymentId": "7c44dc0c033f4c5986c31edc8325f340",
          "provisioningState": "Succeeded",
          "status": "Running"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/hdiaks-testrg-4562/providers/Microsoft.HDInsight/clusterpools?api-version=2023-06-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-reads": "11993"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/hdiaks-testrg-4562/providers/Microsoft.HDInsight/clusterpools/sdk-testpool-8033",
            "name": "sdk-testpool-8033",
            "type": "microsoft.hdinsight/clusterpools",
            "location": "westus2",
            "tags": {},
            "systemData": {
              "createdBy": "982e3695-380b-4e83-9941-fc6f5b47bb8d",
              "createdByType": "Application",
              "creat[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/hdiaks-testrg-4562/providers/Microsoft.HDInsight/clusterpools/sdk-testpool-8033?api-version=2023-06-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/providers/Microsoft.HDInsight/locations/WESTUS2/operationStatuses/04176776-567f-4e7d-bb3a-d4134febe72e*03A210F7D828CC472F766EC8B7E32386869F448172207652B86586AD688D0389?api-version=2023-06-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00221c00ca70-0000-0800-0000-64d098860000\u0022",
        "Location": "https://management.azure.com/providers/Microsoft.HDInsight/locations/WESTUS2/operationStatuses/04176776-567f-4e7d-bb3a-d4134febe72e*03A210F7D828CC472F766EC8B7E32386869F448172207652B86586AD688D0389?api-version=2023-06-01-preview",
        "mise-correlation-id": "edea82c2-c120-49e8-9a80-81bfffb0b255",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-deletes": "14999"
      },
      "ResponseBody": "null"
    },
[...]
    {
      "RequestUri": "https://management.azure.com/providers/Microsoft.HDInsight/locations/westus2/operationStatuses/04176776-567f-4e7d-bb3a-d4134febe72e*03A210F7D828CC472F766EC8B7E32386869F448172207652B86586AD688D0389?api-version=2023-06-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/hdiaks-testrg-4562?api-version=2022-09-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Location": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1IRElBS1M6MkRURVNUUkc6MkQ0NTYyLVdFU1RFVVJPUEUiLCJqb2JMb2NhdGlvbiI6Indlc3RldXJvcGUifQ?api-version=2022-09-01",
        "Retry-After": "15",
        "x-ms-ratelimit-remaining-subscription-deletes": "14998"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1IRElBS1M6MkRURVNUUkc6MkQ0NTYyLVdFU1RFVVJPUEUiLCJqb2JMb2NhdGlvbiI6Indlc3RldXJvcGUifQ?api-version=2022-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Location": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1IRElBS1M6MkRURVNUUkc6MkQ0NTYyLVdFU1RFVVJPUEUiLCJqb2JMb2NhdGlvbiI6Indlc3RldXJvcGUifQ?api-version=2022-09-01",
        "Retry-After": "15",
        "x-ms-ratelimit-remaining-subscription-reads": "11991"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1IRElBS1M6MkRURVNUUkc6MkQ0NTYyLVdFU1RFVVJPUEUiLCJqb2JMb2NhdGlvbiI6Indlc3RldXJvcGUifQ?api-version=2022-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": "11986"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "CLIENT_ID": "Sanitized",
    "ObjectId": "982e3695-380b-4e83-9941-fc6f5b47bb8d",
    "RandomSeed": "945703397",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "00000000-0000-0000-0000-000000000000",
    "TENANT_ID": "Sanitized"
  }
}
