{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "azsecpack": "nonprod",
          "C-AI-MG-Placement-Subscription-Level": "2023-06-13"
        },
        "subscriptionId": "00000000-0000-0000-0000-000000000000",
        "tenantId": "00000000-0000-0000-0000-000000000000",
        "displayName": "Hilo Team TIP Development",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/hdiaks-testrg-3446?api-version=2022-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westeurope"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/hdiaks-testrg-3446",
        "name": "hdiaks-testrg-3446",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westeurope",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/hdiaks-testrg-3446/providers/Microsoft.HDInsight/clusterpools/sdk-testpool-1452?api-version=2023-06-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "westus2",
        "properties": {
          "computeProfile": {
            "vmSize": "Standard_E4s_v3"
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/providers/Microsoft.HDInsight/locations/WESTUS2/operationStatuses/126f30d5-777f-49b3-b2a2-7463337ffcbc*D0C9932810BF1A831FD0C75346014C99680619C5183DDB81FB92FEE9BC31F6AB?api-version=2023-06-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00221c005a6b-0000-0800-0000-64d094510000\u0022",
        "mise-correlation-id": "f1327800-2777-49eb-b139-fd6369ebb3c0",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-writes": "1198"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/hdiaks-testrg-3446/providers/Microsoft.HDInsight/clusterpools/sdk-testpool-1452",
        "name": "sdk-testpool-1452",
        "type": "microsoft.hdinsight/clusterpools",
        "location": "westus2",
        "tags": {},
        "systemData": {
          "createdBy": "982e3695-380b-4e83-9941-fc6f5b47bb8d",
          "createdByType": "Application",
          "createdAt": "2023-08-07T06:50:55.1208369Z",
          "lastModifiedBy": "982e3695-380b-4e83-9941-fc6f5b47bb8d",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2023-08-07T06:50:55.1208369Z"
        },
        "properties": {
          "computeProfile": {
            "vmSize": "Standard_E4s_v3"
          },
          "provisioningState": "Accepted"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/providers/Microsoft.HDInsight/locations/WESTUS2/operationStatuses/126f30d5-777f-49b3-b2a2-7463337ffcbc*D0C9932810BF1A831FD0C75346014C99680619C5183DDB81FB92FEE9BC31F6AB?api-version=2023-06-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00221400f1f8-0000-0800-0000-64d094510000\u0022",
        "x-ms-ratelimit-remaining-tenant-reads": "11999"
      },
      "ResponseBody": {
        "id": "/providers/Microsoft.HDInsight/locations/WESTUS2/operationStatuses/126f30d5-777f-49b3-b2a2-7463337ffcbc*D0C9932810BF1A831FD0C75346014C99680619C5183DDB81FB92FEE9BC31F6AB",
        "name": "126f30d5-777f-49b3-b2a2-7463337ffcbc*D0C9932810BF1A831FD0C75346014C99680619C5183DDB81FB92FEE9BC31F6AB",
        "resourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/hdiaks-testrg-3446/providers/Microsoft.HDInsight/clusterpools/sdk-testpool-1452",
        "status": "Accepted",
        "startTime": "2023-08-07T06:50:57.603336Z"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/hdiaks-testrg-3446/providers/Microsoft.HDInsight/clusterpools/sdk-testpool-1452?api-version=2023-06-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00221c00d76d-0000-0800-0000-64d0957b0000\u0022",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-reads": "11998"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/hdiaks-testrg-3446/providers/Microsoft.HDInsight/clusterpools/sdk-testpool-1452",
        "name": "sdk-testpool-1452",
        "type": "microsoft.hdinsight/clusterpools",
        "location": "westus2",
        "tags": {},
        "systemData": {
          "createdBy": "982e3695-380b-4e83-9941-fc6f5b47bb8d",
          "createdByType": "Application",
          "createdAt": "2023-08-07T06:50:55.1208369Z",
          "lastModifiedBy": "982e3695-380b-4e83-9941-fc6f5b47bb8d",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2023-08-07T06:50:55.1208369Z"
        },
        "properties": {
          "managedResourceGroupName": "hdi-dabf9aaf91464058acbe52d1fb5961a3",
          "aksManagedResourceGroupName": "MC_hdi-dabf9aaf91464058acbe52d1fb5961a3_sdk-testpool-1452_westus2",
          "aksClusterProfile": {
            "aksVersion": "1.26",
            "aksClusterResourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/hdi-dabf9aaf91464058acbe52d1fb5961a3/providers/Microsoft.ContainerService/managedClusters/sdk-testpool-1452",
            "aksClusterAgentPoolIdentityProfile": {
              "msiResourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/MC_hdi-dabf9aaf91464058acbe52d1fb5961a3_sdk-testpool-1452_westus2/providers/Microsoft.ManagedIdentity/userAssignedIdentities/sdk-testpool-1452-agentpool",
              "msiClientId": "f0d2b788-95f3-4df2-a424-d02f4fbbbfd7",
              "msiObjectId": "fb2f9fe2-4029-4064-9bf2-2bcbc919b257"
            }
          },
          "computeProfile": {
            "vmSize": "Standard_E4s_v3",
            "count": 3
          },
          "deploymentId": "dabf9aaf91464058acbe52d1fb5961a3",
          "provisioningState": "Succeeded",
          "status": "Running"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/hdiaks-testrg-3446/providers/Microsoft.HDInsight/clusterpools?api-version=2023-06-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-reads": "11996"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/hdiaks-testrg-3446/providers/Microsoft.HDInsight/clusterpools/sdk-testpool-1452",
            "name": "sdk-testpool-1452",
            "type": "microsoft.hdinsight/clusterpools",
            "location": "westus2",
            "tags": {},
            "systemData": {
              "createdBy": "982e3695-380b-4e83-9941-fc6f5b47bb8d",
              "createdByType": "Application",
              "creat[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/hdiaks-testrg-3446/providers/Microsoft.HDInsight/clusterpools/sdk-testpool-1452?api-version=2023-06-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/providers/Microsoft.HDInsight/locations/WESTUS2/operationStatuses/66153d39-bf27-4991-bcf0-9dccd6591be1*D0C9932810BF1A831FD0C75346014C99680619C5183DDB81FB92FEE9BC31F6AB?api-version=2023-06-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00221c00d86d-0000-0800-0000-64d095990000\u0022",
        "Location": "https://management.azure.com/providers/Microsoft.HDInsight/locations/WESTUS2/operationStatuses/66153d39-bf27-4991-bcf0-9dccd6591be1*D0C9932810BF1A831FD0C75346014C99680619C5183DDB81FB92FEE9BC31F6AB?api-version=2023-06-01-preview",
        "mise-correlation-id": "dbaf58ee-580e-41a6-835c-6a3872e20d6b",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-deletes": "14999"
      },
      "ResponseBody": "null"
    },
[...]
    {
      "RequestUri": "https://management.azure.com/providers/Microsoft.HDInsight/locations/westus2/operationStatuses/66153d39-bf27-4991-bcf0-9dccd6591be1*D0C9932810BF1A831FD0C75346014C99680619C5183DDB81FB92FEE9BC31F6AB?api-version=2023-06-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/hdiaks-testrg-3446?api-version=2022-09-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Location": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1IRElBS1M6MkRURVNUUkc6MkQzNDQ2LVdFU1RFVVJPUEUiLCJqb2JMb2NhdGlvbiI6Indlc3RldXJvcGUifQ?api-version=2022-09-01",
        "Retry-After": "15",
        "x-ms-ratelimit-remaining-subscription-deletes": "14998"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1IRElBS1M6MkRURVNUUkc6MkQzNDQ2LVdFU1RFVVJPUEUiLCJqb2JMb2NhdGlvbiI6Indlc3RldXJvcGUifQ?api-version=2022-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Location": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1IRElBS1M6MkRURVNUUkc6MkQzNDQ2LVdFU1RFVVJPUEUiLCJqb2JMb2NhdGlvbiI6Indlc3RldXJvcGUifQ?api-version=2022-09-01",
        "Retry-After": "15",
        "x-ms-ratelimit-remaining-subscription-reads": "11994"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1IRElBS1M6MkRURVNUUkc6MkQzNDQ2LVdFU1RFVVJPUEUiLCJqb2JMb2NhdGlvbiI6Indlc3RldXJvcGUifQ?api-version=2022-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": "11993"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "CLIENT_ID": "Sanitized",
    "ObjectId": "982e3695-380b-4e83-9941-fc6f5b47bb8d",
    "RandomSeed": "792692258",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "00000000-0000-0000-0000-000000000000",
    "TENANT_ID": "Sanitized"
  }
}
