{
  "Entries": [
    {
      "RequestUri": "https://amandaadlscanary.blob.core.windows.net/test-filesystem-a32156fd-123a-5fc4-f4c7-e7369cc5494e?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 27 Jul 2022 22:26:49 GMT",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA701F1AD4A4E8\u0022",
        "Last-Modified": "Wed, 27 Jul 2022 22:26:52 GMT",
        "x-ms-version": "2021-10-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandaadlscanary.dfs.core.windows.net/test-filesystem-a32156fd-123a-5fc4-f4c7-e7369cc5494e/test-directory-7efa5523-f66c-755d-a240-65146f06618c?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 27 Jul 2022 22:26:49 GMT",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA701F1AE87218\u0022",
        "Last-Modified": "Wed, 27 Jul 2022 22:26:52 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-10-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandaadlscanary.dfs.core.windows.net/test-filesystem-a32156fd-123a-5fc4-f4c7-e7369cc5494e/test-directory-7efa5523-f66c-755d-a240-65146f06618c/test-file-5a6a9709-10b8-afe6-466c-f90de6781099?sv=2023-01-03\u0026ss=bqtf\u0026srt=soc\u0026se=2022-07-28T22%3A26%3A50Z\u0026sp=racwdlxyuptf\u0026sig=Sanitized\u0026resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA701F1AFB6EFB\u0022",
        "Last-Modified": "Wed, 27 Jul 2022 22:26:52 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-10-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandaadlscanary.blob.core.windows.net/test-filesystem-a32156fd-123a-5fc4-f4c7-e7369cc5494e?sv=2023-01-03\u0026ss=bqtf\u0026srt=soc\u0026se=2022-07-28T22%3A26%3A50Z\u0026sp=racwdlxyuptf\u0026sig=Sanitized\u0026restype=container",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA701F1AD4A4E8\u0022",
        "Last-Modified": "Wed, 27 Jul 2022 22:26:52 GMT",
        "x-ms-blob-public-access": "container",
        "x-ms-default-encryption-scope": "$account-encryption-key",
        "x-ms-deny-encryption-scope-override": "false",
        "x-ms-has-immutability-policy": "false",
        "x-ms-has-legal-hold": "false",
        "x-ms-immutable-storage-with-versioning-enabled": "false",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-version": "2021-10-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandaadlscanary.blob.core.windows.net/test-filesystem-a32156fd-123a-5fc4-f4c7-e7369cc5494e?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 27 Jul 2022 22:26:50 GMT",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-10-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2022-07-27T15:26:50.0073783-07:00",
    "RandomSeed": "948846039",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\namandaadlscanary\nU2FuaXRpemVk\nhttps://amandaadlscanary.blob.core.windows.net\nhttps://amandaadlscanary.file.core.windows.net\nhttps://amandaadlscanary.queue.core.windows.net\nhttps://amandaadlscanary.table.core.windows.net\n\n\n\n\nhttps://amandaadlscanary-secondary.blob.core.windows.net\nhttps://amandaadlscanary-secondary.file.core.windows.net\nhttps://amandaadlscanary-secondary.queue.core.windows.net\nhttps://amandaadlscanary-secondary.table.core.windows.net\na42cfe5c-69a3-423d-bfce-8e3ad1aba0d2\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://amandaadlscanary.blob.core.windows.net/;QueueEndpoint=https://amandaadlscanary.queue.core.windows.net/;FileEndpoint=https://amandaadlscanary.file.core.windows.net/;BlobSecondaryEndpoint=https://amandaadlscanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandaadlscanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandaadlscanary-secondary.file.core.windows.net/;AccountName=amandaadlscanary;AccountKey=Sanitized\n\n\n"
  }
}
