{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/204898ee-cd13-4332-b9d4-55ca5c25496d?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11987"
      },
      "ResponseBody": {
        "id": "/subscriptions/204898ee-cd13-4332-b9d4-55ca5c25496d",
        "authorizationSource": "RoleBased",
        "managedByTenants": [
          {
            "tenantId": "33e01921-4d64-4f8c-a055-5bdaffd5e33d"
          }
        ],
        "subscriptionId": "204898ee-cd13-4332-b9d4-55ca5c25496d",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": "ARC-Testing",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/204898ee-cd13-4332-b9d4-55ca5c25496d/resourcegroups/testConnectedVMwareRG-4521?api-version=**",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {
            "test": "env"
        },
        "location": "eastus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1197"
      },
      "ResponseBody": {
        "id": "/subscriptions/204898ee-cd13-4332-b9d4-55ca5c25496d/resourceGroups/testConnectedVMwareRG-4521",
        "name": "testConnectedVMwareRG-4521",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus",
        "tags": {
          "test": "env"
        },
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/204898ee-cd13-4332-b9d4-55ca5c25496d/resourceGroups/testConnectedVMwareRG-4521/providers/Microsoft.ConnectedVMwarevSphere/virtualMachines/testvm3077?api-version=2020-10-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "extendedLocation": {
          "type": "CustomLocation",
          "name": "/subscriptions/204898ee-cd13-4332-b9d4-55ca5c25496d/resourceGroups/service-sdk-test/providers/Microsoft.ExtendedLocation/customLocations/service-sdk-test-cl"
        },
        "tags": {},
        "location": "eastus",
        "properties": {
          "templateId": "/subscriptions/204898ee-cd13-4332-b9d4-55ca5c25496d/resourceGroups/service-sdk-test/providers/Microsoft.ConnectedVMwarevSphere/virtualMachineTemplates/azcli-test-vm-template",
          "vCenterId": "/subscriptions/204898ee-cd13-4332-b9d4-55ca5c25496d/resourceGroups/service-sdk-test/providers/Microsoft.ConnectedVMwarevSphere/VCenters/service-sdk-test-vcenter",
          "placementProfile": {
            "resourcePoolId": "/subscriptions/204898ee-cd13-4332-b9d4-55ca5c25496d/resourceGroups/service-sdk-test/providers/Microsoft.ConnectedVMwarevSphere/resourcePools/azcli-test-resource-pool"
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2020-10-01-preview, 2022-01-10-preview",
        "Azure-AsyncOperation": "https://management.azure.com/providers/Microsoft.ConnectedVMwarevSphere/locations/EASTUS/operationStatuses/1d34015d-7b78-4a80-b71e-3983eef4ff17*6869320D56311ECED27DD32A407322A3B1631B3D619DE89D2C58D7150F570CE3?api-version=2020-10-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00222d010881-0000-0100-0000-61de09cc0000\u0022",
        "Location": "/subscriptions/204898ee-cd13-4332-b9d4-55ca5c25496d/resourceGroups/testConnectedVMwareRG-4521/providers/Microsoft.ConnectedVMwarevSphere/VirtualMachines/testvm3077",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-writes": "1196"
      },
      "ResponseBody": {
        "id": "/subscriptions/204898ee-cd13-4332-b9d4-55ca5c25496d/resourceGroups/testConnectedVMwareRG-4521/providers/Microsoft.ConnectedVMwarevSphere/virtualMachines/testvm3077",
        "name": "testvm3077",
        "type": "microsoft.connectedvmwarevsphere/virtualmachines",
        "kind": "VMware",
        "location": "eastus",
        "extendedLocation": {
          "type": "CustomLocation",
          "name": "/subscriptions/204898ee-cd13-4332-b9d4-55ca5c25496d/resourceGroups/service-sdk-test/providers/Microsoft.ExtendedLocation/customLocations/service-sdk-test-cl"
        },
        "tags": {},
        "systemData": {
          "createdBy": "bf1347fd-2d31-40a9-9980-5f31f8e0edd1",
          "createdByType": "Application",
          "createdAt": "2022-01-11T22:50:51.0236375Z",
          "lastModifiedBy": "bf1347fd-2d31-40a9-9980-5f31f8e0edd1",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2022-01-11T22:50:51.0236375Z"
        },
        "properties": {
          "placementProfile": {
            "resourcePoolId": "/subscriptions/204898ee-cd13-4332-b9d4-55ca5c25496d/resourceGroups/service-sdk-test/providers/Microsoft.ConnectedVMwarevSphere/resourcePools/azcli-test-resource-pool"
          },
          "resourcePoolId": "/subscriptions/204898ee-cd13-4332-b9d4-55ca5c25496d/resourceGroups/service-sdk-test/providers/Microsoft.ConnectedVMwarevSphere/resourcePools/azcli-test-resource-pool",
          "templateId": "/subscriptions/204898ee-cd13-4332-b9d4-55ca5c25496d/resourceGroups/service-sdk-test/providers/Microsoft.ConnectedVMwarevSphere/virtualMachineTemplates/azcli-test-vm-template",
          "vCenterId": "/subscriptions/204898ee-cd13-4332-b9d4-55ca5c25496d/resourceGroups/service-sdk-test/providers/Microsoft.ConnectedVMwarevSphere/VCenters/service-sdk-test-vcenter",
          "provisioningState": "Accepted",
          "statuses": [
            {
              "status": "False",
              "type": "Ready",
              "reason": "Provisioning",
              "message": "The resource is being provisioned.",
              "severity": "Info",
              "lastUpdatedAt": "2022-01-11T22:50:52.4323191Z"
            },
            {
              "status": "False",
              "type": "Idle",
              "reason": "Provisioning",
              "message": "The resource is being provisioned.",
              "severity": "Info",
              "lastUpdatedAt": "2022-01-11T22:50:52.4323191Z"
            }
          ]
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/providers/Microsoft.ConnectedVMwarevSphere/locations/EASTUS/operationStatuses/1d34015d-7b78-4a80-b71e-3983eef4ff17*6869320D56311ECED27DD32A407322A3B1631B3D619DE89D2C58D7150F570CE3?api-version=2020-10-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00228400165f-0000-0100-0000-61de09cc0000\u0022",
        "x-ms-ratelimit-remaining-tenant-reads": "11850"
      },
      "ResponseBody": {
        "id": "/providers/Microsoft.ConnectedVMwarevSphere/locations/EASTUS/operationStatuses/1d34015d-7b78-4a80-b71e-3983eef4ff17*6869320D56311ECED27DD32A407322A3B1631B3D619DE89D2C58D7150F570CE3",
        "name": "1d34015d-7b78-4a80-b71e-3983eef4ff17*6869320D56311ECED27DD32A407322A3B1631B3D619DE89D2C58D7150F570CE3",
        "resourceId": "/subscriptions/204898ee-cd13-4332-b9d4-55ca5c25496d/resourceGroups/testConnectedVMwareRG-4521/providers/Microsoft.ConnectedVMwarevSphere/virtualMachines/testvm3077",
        "status": "Accepted",
        "startTime": "2022-01-11T22:50:52.2294177Z"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/providers/Microsoft.ConnectedVMwarevSphere/locations/EASTUS/operationStatuses/1d34015d-7b78-4a80-b71e-3983eef4ff17*6869320D56311ECED27DD32A407322A3B1631B3D619DE89D2C58D7150F570CE3?api-version=2020-10-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00228400845f-0000-0100-0000-61de0a0f0000\u0022",
        "x-ms-ratelimit-remaining-tenant-reads": "11684"
      },
      "ResponseBody": {
        "id": "/providers/Microsoft.ConnectedVMwarevSphere/locations/EASTUS/operationStatuses/1d34015d-7b78-4a80-b71e-3983eef4ff17*6869320D56311ECED27DD32A407322A3B1631B3D619DE89D2C58D7150F570CE3",
        "name": "1d34015d-7b78-4a80-b71e-3983eef4ff17*6869320D56311ECED27DD32A407322A3B1631B3D619DE89D2C58D7150F570CE3",
        "resourceId": "/subscriptions/204898ee-cd13-4332-b9d4-55ca5c25496d/resourceGroups/testConnectedVMwareRG-4521/providers/Microsoft.ConnectedVMwarevSphere/virtualMachines/testvm3077",
        "status": "Succeeded",
        "startTime": "2022-01-11T22:50:52.2294177Z",
        "endTime": "2022-01-11T22:51:59.8686863Z",
        "properties": null
      }
    },
[...]
