{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/204898ee-cd13-4332-b9d4-55ca5c25496d?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11980"
      },
      "ResponseBody": {
        "id": "/subscriptions/204898ee-cd13-4332-b9d4-55ca5c25496d",
        "authorizationSource": "RoleBased",
        "managedByTenants": [
          {
            "tenantId": "33e01921-4d64-4f8c-a055-5bdaffd5e33d"
          }
        ],
        "subscriptionId": "204898ee-cd13-4332-b9d4-55ca5c25496d",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": "ARC-Testing",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/204898ee-cd13-4332-b9d4-55ca5c25496d/resourcegroups/testConnectedVMwareRG-6843?api-version=**",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {
            "test": "env"
        },
        "location": "eastus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1191"
      },
      "ResponseBody": {
        "id": "/subscriptions/204898ee-cd13-4332-b9d4-55ca5c25496d/resourceGroups/testConnectedVMwareRG-6843",
        "name": "testConnectedVMwareRG-6843",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus",
        "tags": {
          "test": "env"
        },
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/204898ee-cd13-4332-b9d4-55ca5c25496d/resourceGroups/testConnectedVMwareRG-6843/providers/Microsoft.ConnectedVMwarevSphere/virtualMachines/testvm2168?api-version=2020-10-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "extendedLocation": {
          "type": "CustomLocation",
          "name": "/subscriptions/204898ee-cd13-4332-b9d4-55ca5c25496d/resourceGroups/service-sdk-test/providers/Microsoft.ExtendedLocation/customLocations/service-sdk-test-cl"
        },
        "tags": {},
        "location": "eastus",
        "properties": {
          "templateId": "/subscriptions/204898ee-cd13-4332-b9d4-55ca5c25496d/resourceGroups/service-sdk-test/providers/Microsoft.ConnectedVMwarevSphere/virtualMachineTemplates/azcli-test-vm-template",
          "vCenterId": "/subscriptions/204898ee-cd13-4332-b9d4-55ca5c25496d/resourceGroups/service-sdk-test/providers/Microsoft.ConnectedVMwarevSphere/VCenters/service-sdk-test-vcenter",
          "placementProfile": {
            "resourcePoolId": "/subscriptions/204898ee-cd13-4332-b9d4-55ca5c25496d/resourceGroups/service-sdk-test/providers/Microsoft.ConnectedVMwarevSphere/resourcePools/azcli-test-resource-pool"
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2020-10-01-preview, 2022-01-10-preview",
        "Azure-AsyncOperation": "https://management.azure.com/providers/Microsoft.ConnectedVMwarevSphere/locations/EASTUS/operationStatuses/3e31ce0d-b456-49ac-93b1-40364ab8905c*2333110D1FD1E927ADEA3EF9526B236EAE2F33E7DA29B038275230BAE3EB9EAA?api-version=2020-10-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002233012090-0000-0100-0000-61de94c70000\u0022",
        "Location": "/subscriptions/204898ee-cd13-4332-b9d4-55ca5c25496d/resourceGroups/testConnectedVMwareRG-6843/providers/Microsoft.ConnectedVMwarevSphere/VirtualMachines/testvm2168",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-writes": "1190"
      },
      "ResponseBody": {
        "id": "/subscriptions/204898ee-cd13-4332-b9d4-55ca5c25496d/resourceGroups/testConnectedVMwareRG-6843/providers/Microsoft.ConnectedVMwarevSphere/virtualMachines/testvm2168",
        "name": "testvm2168",
        "type": "microsoft.connectedvmwarevsphere/virtualmachines",
        "kind": "VMware",
        "location": "eastus",
        "extendedLocation": {
          "type": "CustomLocation",
          "name": "/subscriptions/204898ee-cd13-4332-b9d4-55ca5c25496d/resourceGroups/service-sdk-test/providers/Microsoft.ExtendedLocation/customLocations/service-sdk-test-cl"
        },
        "tags": {},
        "systemData": {
          "createdBy": "bf1347fd-2d31-40a9-9980-5f31f8e0edd1",
          "createdByType": "Application",
          "createdAt": "2022-01-12T08:43:50.936991Z",
          "lastModifiedBy": "bf1347fd-2d31-40a9-9980-5f31f8e0edd1",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2022-01-12T08:43:50.936991Z"
        },
        "properties": {
          "placementProfile": {
            "resourcePoolId": "/subscriptions/204898ee-cd13-4332-b9d4-55ca5c25496d/resourceGroups/service-sdk-test/providers/Microsoft.ConnectedVMwarevSphere/resourcePools/azcli-test-resource-pool"
          },
          "resourcePoolId": "/subscriptions/204898ee-cd13-4332-b9d4-55ca5c25496d/resourceGroups/service-sdk-test/providers/Microsoft.ConnectedVMwarevSphere/resourcePools/azcli-test-resource-pool",
          "templateId": "/subscriptions/204898ee-cd13-4332-b9d4-55ca5c25496d/resourceGroups/service-sdk-test/providers/Microsoft.ConnectedVMwarevSphere/virtualMachineTemplates/azcli-test-vm-template",
          "vCenterId": "/subscriptions/204898ee-cd13-4332-b9d4-55ca5c25496d/resourceGroups/service-sdk-test/providers/Microsoft.ConnectedVMwarevSphere/VCenters/service-sdk-test-vcenter",
          "provisioningState": "Accepted",
          "statuses": [
            {
              "status": "False",
              "type": "Ready",
              "reason": "Provisioning",
              "message": "The resource is being provisioned.",
              "severity": "Info",
              "lastUpdatedAt": "2022-01-12T08:43:51.6665782Z"
            },
            {
              "status": "False",
              "type": "Idle",
              "reason": "Provisioning",
              "message": "The resource is being provisioned.",
              "severity": "Info",
              "lastUpdatedAt": "2022-01-12T08:43:51.6665782Z"
            }
          ]
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/providers/Microsoft.ConnectedVMwarevSphere/locations/EASTUS/operationStatuses/3e31ce0d-b456-49ac-93b1-40364ab8905c*2333110D1FD1E927ADEA3EF9526B236EAE2F33E7DA29B038275230BAE3EB9EAA?api-version=2020-10-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022860035c8-0000-0100-0000-61de94c70000\u0022",
        "x-ms-ratelimit-remaining-tenant-reads": "11453"
      },
      "ResponseBody": {
        "id": "/providers/Microsoft.ConnectedVMwarevSphere/locations/EASTUS/operationStatuses/3e31ce0d-b456-49ac-93b1-40364ab8905c*2333110D1FD1E927ADEA3EF9526B236EAE2F33E7DA29B038275230BAE3EB9EAA",
        "name": "3e31ce0d-b456-49ac-93b1-40364ab8905c*2333110D1FD1E927ADEA3EF9526B236EAE2F33E7DA29B038275230BAE3EB9EAA",
        "resourceId": "/subscriptions/204898ee-cd13-4332-b9d4-55ca5c25496d/resourceGroups/testConnectedVMwareRG-6843/providers/Microsoft.ConnectedVMwarevSphere/virtualMachines/testvm2168",
        "status": "Accepted",
        "startTime": "2022-01-12T08:43:51.4119758Z"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/providers/Microsoft.ConnectedVMwarevSphere/locations/EASTUS/operationStatuses/3e31ce0d-b456-49ac-93b1-40364ab8905c*2333110D1FD1E927ADEA3EF9526B236EAE2F33E7DA29B038275230BAE3EB9EAA?api-version=2020-10-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002286008dc9-0000-0100-0000-61de94fe0000\u0022",
        "x-ms-ratelimit-remaining-tenant-reads": "11309"
      },
      "ResponseBody": {
        "id": "/providers/Microsoft.ConnectedVMwarevSphere/locations/EASTUS/operationStatuses/3e31ce0d-b456-49ac-93b1-40364ab8905c*2333110D1FD1E927ADEA3EF9526B236EAE2F33E7DA29B038275230BAE3EB9EAA",
        "name": "3e31ce0d-b456-49ac-93b1-40364ab8905c*2333110D1FD1E927ADEA3EF9526B236EAE2F33E7DA29B038275230BAE3EB9EAA",
        "resourceId": "/subscriptions/204898ee-cd13-4332-b9d4-55ca5c25496d/resourceGroups/testConnectedVMwareRG-6843/providers/Microsoft.ConnectedVMwarevSphere/virtualMachines/testvm2168",
        "status": "Succeeded",
        "startTime": "2022-01-12T08:43:51.4119758Z",
        "endTime": "2022-01-12T08:44:46.2635986Z",
        "properties": null
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/204898ee-cd13-4332-b9d4-55ca5c25496d/resourceGroups/testConnectedVMwareRG-6843/providers/Microsoft.ConnectedVMwarevSphere/virtualMachines?api-version=2020-10-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-original-request-ids": [
          "73119585-07a4-4ac2-9966-185872fc71c1",
          "fb5e2dde-188c-46f3-9b05-f30f2eaba329",
          "271bc446-9f22-40e8-9388-862c62f08595"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": "11978"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/204898ee-cd13-4332-b9d4-55ca5c25496d/resourceGroups/testConnectedVMwareRG-6843/providers/Microsoft.ConnectedVMwarevSphere/virtualMachines/testvm2168",
            "name": "testvm2168",
            "type": "microsoft.connectedvmwarevsphere/virtualmachines",
            "kind": "VMware",
            "location": "eastus",
            "extendedLocation": {
              "type": "CustomLocation",
              "name": "/subscriptions/204898ee-cd13-4332[...]
