{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/db4e2fdb-6d80-4e6e-b7cd-736098270664?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11996"
      },
      "ResponseBody": {
        "id": "/subscriptions/db4e2fdb-6d80-4e6e-b7cd-736098270664",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "subscriptionId": "db4e2fdb-6d80-4e6e-b7cd-736098270664",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": "Edge Gateway Test",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db4e2fdb-6d80-4e6e-b7cd-736098270664/resourceGroups/demo-resources/providers/Microsoft.DataBoxEdge/dataBoxEdgeDevices/demo-edge-sdk6-2023/alerts?api-version=2023-01-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11995"
      },
      "ResponseBody": {
        "value": [
          {
            "properties": {
              "title": "Lost heartbeat from your device.",
              "alertType": "DeviceHeartBeat",
              "appearedAtDateTime": "2023-03-17T11:46:31.9379967Z",
              "recommendation": "If your device is offline, then the device is not able to communicate with the Azure service. This could be due to one of the following reasons: \u003Cbr/\u003E \u0026nbsp;1. The Internet connectivity is broken. Check your internet connection. In the local web UI of the device, go to Troubleshooting \u003E Diagnostic tests. Run the diagnostic tests. Resolve the reported issues.\u003Cbr/\u003E \u0026nbsp;2. The device is turned off or paused on the hypervisor. Turn on your device! For more information, go to \u003Ca href=\u0022https://aka.ms/dbe-device-local-mgmt\u0022 target=\u0022_blank\u0022\u003ETurn on your device\u003C/a\u003E. \u003Cbr/\u003E\u0026nbsp;3. Your device could have rebooted due to an update. Wait a few minutes and try to reconnect.",
              "severity": "Critical",
              "errorDetails": {
                "errorCode": "",
                "errorMessage": "",
                "occurrences": 1
              },
              "detailedInformation": {}
            },
            "id": "/subscriptions/db4e2fdb-6d80-4e6e-b7cd-736098270664/resourceGroups/demo-resources/providers/Microsoft.DataBoxEdge/dataBoxEdgeDevices/demo-edge-sdk6-2023/alerts/b117940e-4e3d-4d45-b83c-27234eb2d6cd",
            "name": "b117940e-4e3d-4d45-b83c-27234eb2d6cd",
            "type": "Microsoft.DataBoxEdge/dataBoxEdgeDevices/alerts"
          },
          {
            "properties": {
              "title": "Cluster resource \u0027demouser\u0027 is down. You device will continue to run IO, but you cannot use the local web UI to manage the device.",
              "alertType": "HcsClusterResource.ReplicatedLocalUserFaulted",
              "appearedAtDateTime": "2019-06-13T20:56:32.8546114Z",
              "recommendation": "If the issue persists, collect a log package and contact Microsoft Support. For more information, go to \u003Ca href=\u0022https://aka.ms/collect-logs\u0022\u003EUse the local web UI to collect a log package\u003C/a\u003E.",
              "severity": "Warning",
              "errorDetails": {
                "errorCode": "",
                "errorMessage": "",
                "occurrences": 1
              },
              "detailedInformation": {}
            },
            "id": "/subscriptions/db4e2fdb-6d80-4e6e-b7cd-736098270664/resourceGroups/demo-resources/providers/Microsoft.DataBoxEdge/dataBoxEdgeDevices/demo-edge-sdk6-2023/alerts/389258e9-5547-4018-97c1-24ef20ac1a1c",
            "name": "389258e9-5547-4018-97c1-24ef20ac1a1c",
            "type": "Microsoft.DataBoxEdge/dataBoxEdgeDevices/alerts"
          }
        ]
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db4e2fdb-6d80-4e6e-b7cd-736098270664/resourceGroups/demo-resources/providers/Microsoft.DataBoxEdge/dataBoxEdgeDevices/demo-edge-sdk6-2023/alerts/b117940e-4e3d-4d45-b83c-27234eb2d6cd?api-version=2023-01-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "applicati[...]
