{
  "Entries": [
    {
      "RequestUri": "/providers/Microsoft.Cdn/edgenodes?api-version=2017-10-12",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"name\": \"Standard_Verizon\",\r\n      \"id\": \"/providers/Microsoft.Cdn/edgenodes/Standard_Verizon\",\r\n      \"type\": \"Microsoft.Cdn/edgenodes\",\r\n      \"properties\": {\r\n        \"ipAddressGroups\": [\r\n          {\r\n            \"deliveryRegion\": \"All\",\r\n            \"ipv4Addresses\": [\r\n              {\r\n                \"baseIpAddress\": \"152.195.208.0\",\r\n                \"prefixLength\": 24\r\n              },\r\n              {\r\n                \"baseIpAddress\": \"152.195.209.0\",\r\n                \"prefixLength\": 24\r\n              },\r\n              {\r\n                \"baseIpAddress\": \"192.229.176.0\",\r\n                \"prefixLength\": 24\r\n              },\r\n              {\r\n                \"baseIpAddress\": \"180.240.184.128\",\r\n                \"prefixLength\": 25\r\n              },\r\n              {\r\n                \"baseIpAddress\": \"61.49.4[...]
