{
  "Entries": [
    {
      "RequestUri": "/providers/Microsoft.Management/managementGroups?api-version=2018-03-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/providers/Microsoft.Management/managementGroups/AzGovPerfTest\",\r\n      \"type\": \"/providers/Microsoft.Management/managementGroups\",\r\n      \"name\": \"AzGovPerfTest\",\r\n      \"properties\": {\r\n        \"tenantId\": \"72f988bf-86f1-41af-91ab-2d7cd011db47\",\r\n        \"displayName\": \"Azure Governance Performance Test\"\r\n      }\r\n    },\r\n    {\r\n      \"id\": \"/providers/Microsoft.Management/managementGroups/azsmnet3725\",\r\n      \"type\": \"/providers/Microsoft.Management/managementGroups\",\r\n      \"name\": \"azsmnet3725\",\r\n      \"properties\": {\r\n        \"tenantId\": \"72f988bf-86f1-41af-91ab-2d7cd011db47\",\r\n        \"displayName\": \"CanCrudPolicyAssignmentAtManagementGroup\"\r\n      }\r\n    },\r\n    {\r\n      \"id\": \"/providers/Microsoft.Management/managementGroups/azsmnet5972\",\r\n      \"type\": \"/providers/Microsoft.Management/managementGroups\",\r\n      \"name\": \"azsmnet5972\",\r\n      \"properties\": {\r\n        \"tenantId\": \"72f988bf-86f1-41af-91ab-2d7cd011db47\",\r\n        \"displayName\": \"CanCrudPolicyAssignmentAtManagementGroup\"\r\n      }\r\n    },\r\n    {\r\n      \"id\": \"/providers/Microsoft.Management/managementGroups/azsmnet5694\",\r\n      \"type\": \"/providers/Microsoft.Management/managementGroups\",\r\n      \"name\": \"azsmnet5694\",\r\n      \"properties\": {\r\n        \"tenantId\": \"72f988bf-86f1-41af-91ab-2d7cd011db47\",\r\n        \"displayName\": \"CanCrudPolicyExemptionAtManagementGroup\"\r\n      }\r\n    }\r\n  ]\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/providers/Microsoft.Management/managementGroups/azsmnet8139?api-version=2018-03-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"name\": \"azsmnet8139\",\r\n  \"properties\": {\r\n    \"displayName\": \"CanCrudPolicyAssignmentAtManagementGroup\",\r\n    \"details\": {\r\n      \"parent\": {\r\n        \"id\": \"/providers/Microsoft.Management/managementGroups/AzGovPerfTest\"\r\n      }\r\n    }\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/providers/Microsoft.Management/operationResults/create/managementGroups/azsmnet8139?api-version=2018-03-01-preview"
        ],
        "Retry-After": [
          "10"
        ],
        "x-ba-restapi": [
          "1.0.3.1594"
        ],
        "x-ms-ratelimit-remaining-tenant-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/providers/Microsoft.Management/managementGroups/azsmnet8139\",\r\n  \"type\": \"/providers/Microsoft.Management/managementGroups\",\r\n  \"name\": \"azsmnet8139\",\r\n  \"status\": \"NotStarted\"\r\n}",
      "StatusCode": 202
    },
    {
      "RequestUri": "/providers/Microsoft.Management/operationResults/create/managementGroups/azsmnet8139?api-version=2018-03-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/providers/Microsoft.Management/operationResults/create/managementGroups/azsmnet8139?api-version=2018-03-01-preview"
        ],
        "Retry-After": [
          "10"
        ],
        "x-ba-restapi": [
          "1.0.3.1594"
        ],
        "x-ms-ratelimit-remaining-tenant-reads": [
          "9340"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/providers/Microsoft.Management/managementGroups/azsmnet8139\",\r\n  \"type\": \"/providers/Microsoft.Management/managementGroups\",\r\n  \"name\": \"azsmnet8139\",\r\n  \"status\": \"Running\"\r\n}",
      "StatusCode": 202
    },
[...]
    {
      "RequestUri": "/providers/Microsoft.Management/operationResults/create/managementGroups/azsmnet8139?api-version=2018-03-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-tenant-reads": [
          "9338"
        ],
        "x-ba-restapi": [
          "1.0.3.1594"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/providers/Microsoft.Management/managementGroups/azsmnet8139\",\r\n  \"type\": \"/providers/Microsoft.Management/managementGroups\",\r\n  \"name\": \"azsmnet8139\",\r\n  \"status\": \"Succeeded\",\r\n  \"properties\": {\r\n    \"tenantId\": \"72f988bf-86f1-41af-91ab-2d7cd011db47\",\r\n    \"displayName\": \"CanCrudPolicyAssignmentAtManagementGroup\",\r\n    \"details\": {\r\n      \"version\": 1,\r\n      \"updatedTime\": \"2021-01-27T19:46:29.6592029Z\",\r\n      \"updatedBy\": \"9d6d6799-f94d-4ccf-a96d-67761f19626b\",\r\n      \"parent\": {\r\n        \"id\": \"/providers/Microsoft.Management/managementGroups/AzGovPerfTest\",\r\n        \"name\": \"AzGovPerfTest\",\r\n        \"displayName\": \"Azure Governance Performance Test\"\r\n      }\r\n    }\r\n  }\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/providers/Microsoft.Authorization/policyDefinitions?api-version=2020-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-tenant-reads": [
          "11999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"properties\": {\r\n        \"displayName\": \"Microsoft Managed Control 1599 - Developer Configuration Management | Software / Firmware Integrity Verification\",\r\n        \"policyType\": \"Static\",\r\n        \"mode\": \"Indexed\",\r\n        \"description\": \"Microsoft implements this System and Services Acquisition control\",\r\n        \"metadata\": {\r\n          \"version\": \"1.0.0\",\r\n          \"category\": \"Regulatory Compliance\",\r\n          \"additionalMetadataId\": \"/providers/Microsoft.PolicyInsights/policyMetadata/ACF1599\"\r\n        },\r\n        \"policyRule\": {\r\n          \"if\": {\r\n            \"allOf\": [\r\n              {\r\n                \"field\": \"type\",\r\n                \"in\": [\r\n                  \"Microsoft.Resources/subscriptions\",\r\n                  \"Microsoft.Resources/subscriptions/resourceGroups\"\r\n                ]\r\n              },\r\n              {\r\n                \"value\": \"false\",\r\n                \"equals\": \"true\"\r\n              }\r\n            ]\r\n          },\r\n          \"then\": {\r\n            \"effect\": \"audit\"\r\n          }\r\n        }\r\n      },\r\n      \"id\": \"/providers/Microsoft.Authorization/policyDefinitions/0004bbf0-5099-4179-869e-e9ffe5fb0945\",\r\n      \"type\": \"Microsoft.Authorization/policyDefinitions\",\r\n      \"name\": \"0004bbf0-5099-4179-869e-e9ffe5fb0945\"\r\n    },\r\n    {\r\n      \"properties\": {\r\n        \"displayName\": \"Audit virtual machines without disaster recovery configured\",\r\n        \"policyType\": \"BuiltIn\",\r\n        \"mode\": \"All\",\r\n        \"description\": \"Audit virtual machines which do not have disaster recovery configured. To learn more about disaster recovery, visit https://aka.ms/asr-doc.\",\r\n        \"metadata\": {\r\n          \"version\": \"1.0.0\",\r\n          \"category\": \"Compute\"\r\n        },\r\n        \"parameters\": {},\r\n        \"policyRule\": {\r\n          \"if\": {\r\n            \"field\": \"type\",\r\n            \"in\": [\r\n              \"Microsoft.Compute/virtualMachines\",\r\n              \"Microsoft.ClassicCompute/virtualMachines\"\r\n            ]\r\n          },\r\n          \"then\": {\r\n            \"effect\": \"auditIfNotExists\",\r\n            \"details\": {\r\n              \"type\": \"Microsoft.Resources/links\",\r\n              \"existenceCondition\": {\r\n                \"field\": \"name\",\r\n                \"like\": \"ASR-Protect-*\"\r\n              }\r\n            }\r\n          }\r\n        }\r\n      },\r\n      \"id\": \"/providers/Microsoft.Authorization/policyDefinitions/0015ea4d-51ff-4ce3-8d8c-f3f8f0179a56\",\r\n      \"type\": \"Microsoft.Authorization/policyDefinitions\",\r\n      \"name\": \"0015ea4d-51ff-4ce3-8d8c-f3f8f0179a56\"\r\n    },\r\n    {\r\n      \"properties\": {\r\n        \"displayName\": \"[Deprecated]: Audit Web Sockets state for a Function App\",\r\n        \"policyType\": \"BuiltIn\",\r\n        \"mode\": \"All\",\r\n        \"description\": \"The Web Sockets protocol is vulnerable to different types of security threats. Use of Web Sockets within an Function app must be carefully reviewed.\",\r\n        \"metadata\": {\r\n          \"version\": \"1.0.0-deprecated\",\r\n          \"category\": \"Security Center\",\r\n          \"deprecated\": true\r\n        },\r\n        \"parameters\": {\r\n          \"effect\": {\r\n            \"type\": \"String\",\r\n            \"metadata\": {\r\n              \"displayName\": \"[Deprecated]: Effect\",\r\n              \"description\": \"Enable or disable the execution of the policy\"\r\n            },\r\n            \"allowedValues\": [\r\n              \"AuditIfNotExists\",\r\n              \"Disabled\"\r\n            ],\r\n            \"defaultValue\": \"AuditIfNotExists\"\r\n          }\r\n        },\r\n        \"policyRule\": {\r\n          \"if\": {\r\n            \"allof\": [\r\n              {\r\n                \"field\": \"type\",\r\n                \"equals\": \"microsoft.Web/sites\"\r\n              },\r\n              {\r\n                \"anyof\": [\r\n                  {\r\n                    \"field\": \"kind\",\r\n                    \"equals\": \"functionapp\"\r\n                  },\r\n                  {\r\n                    \"field\": \"kind\",\r\n                    \"equals\": \"functionapp,linux\"\r\n                  },\r\n                  {\r\n                    \"field\": \"kind\",\r\n                    \"equals\": \"functionapp,linux,container\"\r\n                  }\r\n                ]\r\n              }\r\n       [...]
