{
  "Entries": [
    {
      "RequestUri": "/subscriptions/0336439f-0e9d-44ec-975e-62accb9b3901/resourcegroups/azsmnet9321?api-version=2021-04-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"westus2\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/0336439f-0e9d-44ec-975e-62accb9b3901/resourceGroups/azsmnet9321\",\r\n  \"name\": \"azsmnet9321\",\r\n  \"type\": \"Microsoft.Resources/resourceGroups\",\r\n  \"location\": \"westus2\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/0336439f-0e9d-44ec-975e-62accb9b3901/resourceGroups/azsmnet9321/providers/Microsoft.ManagedIdentity/userAssignedIdentities/azsmnet6745?api-version=2023-01-31",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"westus2\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Location": [
          "/subscriptions/0336439f-0e9d-44ec-975e-62accb9b3901/resourcegroups/azsmnet9321/providers/Microsoft.ManagedIdentity/userAssignedIdentities/azsmnet6745"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/0336439f-0e9d-44ec-975e-62accb9b3901/resourcegroups/azsmnet9321/providers/Microsoft.ManagedIdentity/userAssignedIdentities/azsmnet6745\",\r\n  \"name\": \"azsmnet6745\",\r\n  \"type\": \"Microsoft.ManagedIdentity/userAssignedIdentities\",\r\n  \"location\": \"westus2\",\r\n  \"tags\": {},\r\n  \"properties\": {\r\n    \"tenantId\": \"a66b4d27-b1b3-4b60-8b06-7fb4fd05bc3c\",\r\n    \"principalId\": \"b372d816-7f25-4b14-a0ee-69b4f32f6739\",\r\n    \"clientId\": \"ed15dd70-1ca7-442b-91c7-466c48bacc3a\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/0336439f-0e9d-44ec-975e-62accb9b3901/providers/Microsoft.Authorization/policyDefinitions/azsmnet8362?api-version=2021-06-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"displayName\": \"CanCrudPolicyAssignmentAtResourceGroup Policy Definition\",\r\n    \"policyRule\": {\r\n      \"if\": {\r\n        \"source\": \"action\",\r\n        \"equals\": \"ResourceProviderTestHost/TestResourceType/TestResourceTypeNestedOne/write\"\r\n      },\r\n      \"then\": {\r\n        \"effect\": \"deny\"\r\n      }\r\n    }\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"displayName\": \"CanCrudPolicyAssignmentAtResourceGroup Policy Definition\",\r\n    \"policyType\": \"Custom\",\r\n    \"mode\": \"Indexed\",\r\n    \"metadata\": {\r\n      \"createdBy\": \"29f1770e-969d-4f82-b459-b234f79f9b40\",\r\n      \"createdOn\": \"2023-02-09T19:40:32.5301905Z\",\r\n      \"updatedBy\": null,\r\n      \"updatedOn\": null\r\n    },\r\n    \"policyRule\": {\r\n      \"if\": {\r\n        \"source\": \"action\",\r\n        \"equals\": \"ResourceProviderTestHost/TestResourceType/TestResourceTypeNestedOne/write\"\r\n      },\r\n      \"then\": {\r\n        \"effect\": \"deny\"\r\n      }\r\n    }\r\n  },\r\n  \"id\": \"/subscriptions/0336439f-0e9d-44ec-975e-62accb9b3901/providers/Microsoft.Authorization/policyDefinitions/azsmnet8362\",\r\n  \"type\": \"Microsoft.Authorization/policyDefinitions\",\r\n  \"name\": \"azsmnet8362\",\r\n  \"systemData\": {\r\n    \"createdBy\": \"31319eaf-fe8f-4c14-bea4-dabc083f4dfa\",\r\n    \"createdByType\": \"Application\",\r\n    \"createdAt\": \"2023-02-09T19:40:32.5180591Z\",\r\n    \"lastModifiedBy\": \"31319eaf-fe8f-4c14-bea4-dabc083f4dfa\",\r\n    \"lastModifiedByType\": \"Application\",\r\n    \"lastModifiedAt\": \"2023-02-09T19:40:32.5180591Z\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "//subscriptions/0336439f-0e9d-44ec-975e-62accb9b3901/resourceGroups/azsmnet9321/providers/Microsoft.Authorization/policyAssignments/azsmnet8183?api-version=2021-06-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"displayName\": \"CanCrudPolicyAssignmentAtResourceGroup Policy Assignment\",\r\n    \"policyDefinitionId\": \"/subscriptions/0336439f-0e9d-44ec-975e-62accb9b3901/providers/Microsoft.Authorization/policyDefinitions/azsmnet8362\",\r\n    \"enforcementMode\": \"Default\"\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1198"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"displayName\": \"CanCrudPolicyAssignmentAtResourceGroup Policy Assignment\",\r\n    \"policyDefinitionId\": \"/subscriptions/0336439f-0e9d-44ec-975e-62accb9b3901/providers/Microsoft.Authorization/policyDefinitions/azsmnet8362\",\r\n    \"scope\": \"/subscriptions/0336439f-0e9d-44ec-975e-62accb9b3901/resourceGroups/azsmnet9321\",\r\n    \"metadata\": {\r\n      \"createdBy\": \"29f1770e-969d-4f82-b459-b234f79f9b40\",\r\n      \"createdOn\": \"2023-02-09T19:40:32.9260146Z\",\r\n      \"updatedBy\": null,\r\n      \"updatedOn\": null\r\n    },\r\n    \"enforcementMode\": \"Default\"\r\n  },\r\n  \"id\": \"/subscriptions/0336439f-0e9d-44ec-975e-62accb9b3901/resourceGroups/azsmnet9321/providers/Microsoft.Authorization/policyAssignments/azsmnet8183\",\r\n  \"type\": \"Microsoft.Authorization/policyAssignments\",\r\n  \"name\": \"azsmnet8183\",\r\n  \"systemData\": {\r\n    \"createdBy\": \"31319eaf-fe8f-4c14-bea4-dabc083f4dfa\",\r\n    \"createdByType\": \"Application\",\r\n    \"createdAt\": \"2023-02-09T19:40:32.9086869Z\",\r\n    \"lastModifiedBy\": \"31319eaf-fe8f-4c14-bea4-dabc083f4dfa\",\r\n    \"lastModifiedByType\": \"Application\",\r\n    \"lastModifiedAt\": \"2023-02-09T19:40:32.9086869Z\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "//subscriptions/0336439f-0e9d-44ec-975e-62accb9b3901/resourceGroups/azsmnet9321/providers/Microsoft.Authorization/policyAssignments/azsmnet8183?api-version=2021-06-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"displayName\": \"CanCrudPolicyAssignmentAtResourceGroup Policy Assignment\",\r\n    \"policyDefinitionId\": \"/subscriptions/0336439f-0e9d-44ec-975e-62accb9b3901/providers/Microsoft.Authorization/policyDefinitions/azsmnet8362\",\r\n    \"enforcementMode\": \"Default\"\r\n  },\r\n  \"location\": \"westus2\",\r\n  \"identity\": {\r\n    \"type\": \"UserAssigned\",\r\n    \"userAssignedIdentities\": {\r\n      \"/subscriptions/0336439f-0e9d-44ec-975e-62accb9b3901/resourcegroups/azsmnet9321/providers/Microsoft.ManagedIdentity/userAssignedIdentities/azsmnet6745\": {}\r\n    }\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1197"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ][...]
    {
      "RequestUri": "/subscriptions/0336439f-0e9d-44ec-975e-62accb9b3901/resourceGroups/azsmnet9321/providers/Microsoft.Authorization/policyAssignments?api-version=2021-06-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"properties\": {\r\n        \"displayName\": \"CanCrudPolicyAssignmentAtResourceGroup Policy Assignment\",\r\n        \"policyDefinitionId\": \"/subscriptions/0336439f-0e9d-44ec-975e-62accb9b3901/providers/Microsoft.Authorization/policyDefinitions/azsmnet8362\",\r\n        \"scope\": \"/subscriptions/0336439f-0e9d-44ec-975e-62accb9b3901/resourceGroups/azsmnet9321\",\r\n        \"metadata\": {\r\n          \"createdBy\": \"29f1770e-969d-4f82-b459-b234f79f9b40\",\r\n          \"createdOn\": \"2023-02-09T19:40:32.9260146Z\",\r\n          \"updatedBy\": null,\r\n          \"updatedOn\": null\r\n        },\r\n        \"enforcementMode\": \"Default\"\r\n      },\r\n      \"id\": \"/subscriptions/0336439f-0e9d-44ec-975e-62accb9b3901/resourceGroups/azsmnet9321/providers/Microsoft.Authorization/policyAssignments/azsmnet8183\",\r\n      \"type\": \"Microsoft.Authorization/policyAssignments\",\r\n      \"name\": \"azsmnet8183\",\r\n      \"systemData\": {\r\n        \"createdBy\": \"31319eaf-fe8f-4c14-bea4-dabc083f4dfa\",\r\n        \"createdByType\": \"Application\",\r\n        \"createdAt\": \"2023-02-09T19:40:32.9086869Z\",\r\n        \"lastModifiedBy\": \"31319eaf-fe8f-4c14-bea4-dabc083f4dfa\",\r\n        \"lastModifiedByType\": \"Application\",\r\n        \"lastModifiedAt\": \"2023-02-09T19:40:32.9086869Z\"\r\n      }\r\n    }\r\n  ]\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/0336439f-0e9d-44ec-975e-62accb9b3901/resourcegroups/azsmnet9321?api-version=2021-04-01",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/0336439f-0e9d-44ec-975e-62accb9b3901/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1BWlNNTkVUOTMyMS1XRVNUVVMyIiwiam9iTG9jYXRpb24iOiJ3ZXN0dXMyIn0?api-version=2021-04-01"
        ],
        "Retry-After": [
          "15"
        ],
        "x-ms-ratelimit-remaining-subscription-deletes": [
          "14999"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 202
    },
    {
      "RequestUri": "/subscriptions/0336439f-0e9d-44ec-975e-62accb9b3901/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1BWlNNTkVUOTMyMS1XRVNUVVMyIiwiam9iTG9jYXRpb24iOiJ3ZXN0dXMyIn0?api-version=2021-04-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/0336439f-0e9d-44ec-975e-62accb9b3901/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1BWlNNTkVUOTMyMS1XRVNUVVMyIiwiam9iTG9jYXRpb24iOiJ3ZXN0dXMyIn0?api-version=2021-04-01"
        ],
        "Retry-After": [
          "15"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 202
    },
[...]
    {
      "RequestUri": "/subscriptions/0336439f-0e9d-44ec-975e-62accb9b3901/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1BWlNNTkVUOTMyMS1XRVNUVVMyIiwiam9iTG9jYXRpb24iOiJ3ZXN0dXMyIn0?api-version=2021-04-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11994"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 200
    }
  ],
  "Names": {
    "CanCrudPolicyAssignmentAtResourceGroup": [
      "azsmnet9321",
      "azsmnet6745",
      "azsmnet8362",
      "azsmnet8183"
    ]
  },
  "Variables": {
    "SubscriptionId": "0336439f-0e9d-44ec-975e-62accb9b3901"
  }
}