{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/fc9d0215-3964-4895-8df1-3801ccffb3e2?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11998"
      },
      "ResponseBody": {
        "id": "/subscriptions/fc9d0215-3964-4895-8df1-3801ccffb3e2",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "subscriptionId": "fc9d0215-3964-4895-8df1-3801ccffb3e2",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": "AMVM-SubLib-006",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/tenants?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-tenant-reads": "11997"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/tenants/72f988bf-86f1-41af-91ab-2d7cd011db47",
            "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
            "tenantCategory": "Home"
          }
        ]
      }
    },
    {
      "RequestUri": "https://management.azure.com/providers/Microsoft.Automanage/bestPractices/AzureBestPracticesDevTest?api-version=2022-05-04",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-tenant-reads": "11996"
      },
      "ResponseBody": {
        "id": "/providers/Microsoft.Automanage/bestPractices/AzureBestPracticesDevTest",
        "name": "AzureBestPracticesDevTest",
        "type": "Microsoft.Automanage/bestPractices",
        "properties": {
          "configuration": {
            "Antimalware/Enable": "true",
            "Antimalware/EnableRealTimeProtection": "true",
            "Antimalware/RunScheduledScan": "true",
            "Antimalware/ScanType": "Quick",
            "Antimalware/ScanDay": "7",
            "Antimalware/ScanTimeInMinutes": "120",
            "Backup/Enable": "false",
            "VMInsights/Enable": "false",
            "AzureSecurityCenter/Enable": "true",
            "UpdateManagement/Enable": "true",
            "ChangeTrackingAndInventory/Enable": "true",
            "GuestConfiguration/Enable": "true",
            "LogAnalytics/Enable": "true",
            "BootDiagnostics/Enable": "true"
          }
        },
        "systemData": {
          "createdAt": "2021-06-30T00:00:00\u002B00:00",
          "createdBy": "SYSTEM",
          "createdByType": "User",
          "lastModifiedAt": "2021-06-30T00:00:00\u002B00:00",
          "lastModifiedBy": "SYSTEM",
          "lastModifiedByType": "User"
        }
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com/",
    "RandomSeed": "1338152144",
    "RESOURCE_MANAGER_URL": "https://management.azure.com/",
    "SUBSCRIPTION_ID": "fc9d0215-3964-4895-8df1-3801ccffb3e2"
  }
}
