{
  "Entries": [
    {
      "RequestUri": "https://acstestbot3.communication.azure.com/calling/calls?api-version=2021-04-15-preview1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "sourceAlternateIdentity": {
          "value": "\u002B15129104698"
        },
        "targets": [
          {
            "phoneNumber": {
              "value": "\u002B15129104698"
            }
          }
        ],
        "source": {
          "communicationUser": {
            "id": "8:acs:02665c56-277e-4c59-bab4-c475caa3ee80_00000009-fdf4-eb12-290c-113a0d001aea"
          }
        },
        "callbackUri": "https://dummy.ngrok.io/api/incident/callback?SecretKey=helloworld",
        "requestedModalities": [
          "audio"
        ],
        "requestedCallEvents": [
          "participantsUpdated",
          "dtmfReceived"
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "X-Microsoft-Skype-Chain-ID": "30746549-3385-46a0-a98c-8c91093cb96a"
      },
      "ResponseBody": {
        "callLegId": "411f0b00-401f-4878-8b49-8168189eda00"
      }
    }
  ],
  "Variables": {
    "AZURE_COMMUNICATION_LIVETEST_CONNECTION_STRING": "endpoint=https://acstestbot3.communication.azure.com/;accesskey=Kg==",
    "AZURE_PHONE_NUMBER": "\u002B15129104698",
    "RandomSeed": "1211965556"
  }
}