{
  "Entries": [
    {
      "RequestUri": "https://acstestbot3.communication.azure.com/calling/calls?api-version=2021-04-15-preview1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "sourceAlternateIdentity": {
          "value": "\u002B15129104698"
        },
        "targets": [
          {
            "phoneNumber": {
              "value": "\u002B15129104698"
            }
          }
        ],
        "source": {
          "communicationUser": {
            "id": "8:acs:02665c56-277e-4c59-bab4-c475caa3ee80_0000000a-0432-8370-570c-113a0d00899f"
          }
        },
        "callbackUri": "https://dummy.ngrok.io/api/incident/callback?SecretKey=helloworld",
        "requestedModalities": [
          "audio"
        ],
        "requestedCallEvents": [
          "participantsUpdated",
          "dtmfReceived"
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "X-Microsoft-Skype-Chain-ID": "9db45c2e-d6f9-44a6-96da-36fa329f4e2f"
      },
      "ResponseBody": {
        "callLegId": "421f0b00-411f-4a73-821b-5b8733112500"
      }
    }
  ],
  "Variables": {
    "AZURE_PHONE_NUMBER": "\u002B15129104698",
    "COMMUNICATION_LIVETEST_STATIC_CONNECTION_STRING": "endpoint=https://acstestbot3.communication.azure.com/;accesskey=Kg==",
    "RandomSeed": "1211965556"
  }
}