{
  "Entries": [
    {
      "RequestUri": "https://acstestbot3.communication.azure.com/calling/calls?api-version=2021-04-15-preview1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "sourceAlternateIdentity": {
          "value": "\u002B15129104698"
        },
        "targets": [
          {
            "phoneNumber": {
              "value": "\u002B15129104698"
            }
          }
        ],
        "source": {
          "communicationUser": {
            "id": "8:acs:02665c56-277e-4c59-bab4-c475caa3ee80_0000000a-0432-85be-570c-113a0d0089a1"
          }
        },
        "callbackUri": "https://dummy.ngrok.io/api/incident/callback?SecretKey=helloworld",
        "requestedModalities": [
          "audio"
        ],
        "requestedCallEvents": [
          "participantsUpdated",
          "dtmfReceived"
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "X-Microsoft-Skype-Chain-ID": "aee3bf01-1df8-4412-a8c6-935e4c26543d"
      },
      "ResponseBody": {
        "callLegId": "421f0b00-411f-4fa4-ba35-3c550eafeb00"
      }
    },
    {
      "RequestUri": "https://acstestbot3.communication.azure.com/calling/calls/421f0b00-411f-4fa4-ba35-3c550eafeb00/Hangup?api-version=2021-04-15-preview1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "X-Microsoft-Skype-Chain-ID": "bdd09a22-2341-4b2d-b8f4-f9daa76798e8"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://acstestbot3.communication.azure.com/calling/calls/421f0b00-411f-4fa4-ba35-3c550eafeb00?api-version=2021-04-15-preview1",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "X-Microsoft-Skype-Chain-ID": "1cb0da10-3e64-42ec-8924-04cf9c7e2afb"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "AZURE_PHONE_NUMBER": "\u002B15129104698",
    "COMMUNICATION_LIVETEST_STATIC_CONNECTION_STRING": "endpoint=https://acstestbot3.communication.azure.com/;accesskey=Kg==",
    "RandomSeed": "869131480"
  }
}