{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/0accec26-d6de-4757-8e74-d080f38eaaab?api-version=2019-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11998"
      },
      "ResponseBody": {
        "id": "/subscriptions/0accec26-d6de-4757-8e74-d080f38eaaab",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {},
        "subscriptionId": "0accec26-d6de-4757-8e74-d080f38eaaab",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": "ACR - TEST - China Team",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/0accec26-d6de-4757-8e74-d080f38eaaab/resourcegroups/testrg9790?api-version=2019-10-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "West US 2",
        "tags": {}
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "id": "/subscriptions/0accec26-d6de-4757-8e74-d080f38eaaab/resourceGroups/testrg9790",
        "name": "testrg9790",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus2",
        "tags": {},
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/0accec26-d6de-4757-8e74-d080f38eaaab/resourceGroups/testrg9790/providers/Microsoft.Resources/tags/default?api-version=2019-10-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-deletes": "14999"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/0accec26-d6de-4757-8e74-d080f38eaaab/resourceGroups/testrg9790/providers/Microsoft.Resources/tags/default?api-version=2019-10-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "tags": {
            "k1": "v1",
            "k2": "v2"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1198"
      },
      "ResponseBody": {
        "id": "/subscriptions/0accec26-d6de-4757-8e74-d080f38eaaab/resourceGroups/testrg9790/providers/Microsoft.Resources/tags/default",
        "name": "default",
        "type": "Microsoft.Resources/tags",
        "properties": {
          "tags": {
            "k1": "v1",
            "k2": "v2"
          }
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/0accec26-d6de-4757-8e74-d080f38eaaab/resourcegroups/testrg9790?api-version=2019-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11994"
      },
      "ResponseBody": {
        "id": "/subscriptions/0accec26-d6de-4757-8e74-d080f38eaaab/resourceGroups/testrg9790",
        "name": "testrg9790",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus2",
        "tags": {
          "k2": "v2"
        },
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    }
  ],
  "Variables": {
    "RandomSeed": "145958214",
    "SUBSCRIPTION_ID": "0accec26-d6de-4757-8e74-d080f38eaaab"
  }
}