{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/0accec26-d6de-4757-8e74-d080f38eaaab?api-version=2019-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11998"
      },
      "ResponseBody": {
        "id": "/subscriptions/0accec26-d6de-4757-8e74-d080f38eaaab",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "subscriptionId": "0accec26-d6de-4757-8e74-d080f38eaaab",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": "ACR - TEST - China Team",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/0accec26-d6de-4757-8e74-d080f38eaaab/locations?api-version=2019-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11997"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/0accec26-d6de-4757-8e74-d080f38eaaab/locations/eastus",
            "name": "eastus",
            "displayName": "East US",
            "regionalDisplayName": "(US) East US",
            "metadata": {
              "regionType": "Physical",
              "regionCategory": "Recommended",
              "geographyGroup": "US",
              "longitude": "-79.8164",
              "latitude": "37.3719",
              "physicalLocation": "Virginia",
              "pairedRegion": [
                {
                  "name": "westus",
                  "id": "/subscriptions/0accec26-d6de-4757-8e74-d080f38eaaab/locations/westus"
                }
              ]
            }
          },
          {
            "id": "/subscriptions/0accec26-d6de-4757-8e74-d080f38eaaab/locations/eastus2",
            "name": "eastus2",
            "displayName": "East US 2",
            "regionalDisplayName": "(US) East US 2",
            "metadata": {
              "regionType": "Physi[...]
