{
  "Entries": [
    {
      "RequestUri": "/subscriptions/b7a57872-f429-4eb3-b26a-5108178380a5/providers/Microsoft.KeyVault.Admin/locations/local/quotas?api-version=2017-02-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/b7a57872-f429-4eb3-b26a-5108178380a5/providers/Microsoft.KeyVault.Admin/locations/local/quotas/Unlimited\",\r\n      \"name\": \"local/Unlimited\",\r\n      \"type\": \"Microsoft.KeyVault.Admin/locations/quotas\",\r\n      \"location\": \"local\",\r\n      \"plan\": null,\r\n      \"sku\": null,\r\n      \"kind\": null,\r\n      \"tags\": null,\r\n      \"etag\": null,\r\n      \"properties\": null\r\n    }\r\n  ],\r\n  \"nextLink\": null\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14194"
        ]
      },
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "b7a57872-f429-4eb3-b26a-5108178380a5"
  }
}