{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourcegroups/networkcloud-sdk3745?api-version=**",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "id": "/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourceGroups/networkcloud-sdk3745",
        "name": "networkcloud-sdk3745",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/fca2e8ee-1179-48b8-9532-428ed0873a2e/resourceGroups/dev6-cluster/providers/Microsoft.NetworkCloud/clusters/dev6-1013a8b273c4?api-version=2023-05-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00220100f062-0000-3300-0000-648d74050000\u0022",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "id": "/subscriptions/fca2e8ee-1179-48b8-9532-428ed0873a2e/resourceGroups/dev6-cluster/providers/Microsoft.NetworkCloud/clusters/dev6-1013a8b273c4",
        "name": "dev6-1013a8b273c4",
        "type": "microsoft.networkcloud/clusters",
        "location": "eastus2euap",
        "extendedLocation": {
          "name": "/subscriptions/fca2e8ee-1179-48b8-9532-428ed0873a2e/resourcegroups/dev6-clustermgr-mrg-netbezzeascks/providers/microsoft.extendedlocation/customlocations/dev6-netbezzeascks-cl",
          "type": "CustomLocation"
        },
        "tags": {
          "ManagedBy": "nc-labs",
          "LabEnvironment": "dev6",
          "ResourceType": "cluster",
          "sshKeyUrl": "https://aka.ms/aods-nc-ssh",
          "SkipHardwareValidation": "false"
        },
        "systemData": {
          "createdBy": "de975306-d24e-4dec-9d3b-ef05c66f0075",
          "createdByType": "Application",
          "createdAt": "2023-06-10T06:23:57.5139242Z",
          "lastModifiedBy": "319f651f-7ddb-4fc6-9857-7aef9250bd05",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2023-06-17T08:51:17.4185573Z"
        },
        "properties": {
          "provisioningState": "Succeeded",
          "analyticsWorkspaceId": "/subscriptions/fca2e8ee-1179-48b8-9532-428ed0873a2e/resourceGroups/dev6-cluster/providers/Microsoft.OperationalInsights/workspaces/dev6-law-3n2l3mtdciios",
          "networkFabricId": "/subscriptions/fca2e8ee-1179-48b8-9532-428ed0873a2e/resourceGroups/dev6nfrg060723/providers/Microsoft.ManagedNetworkFabric/networkFabrics/dev6lab-nf09",
          "clusterType": "MultiRack",
          "clusterVersion": "3.2.0",
          "aggregatorOrSingleRackDefinition": {
            "networkRackId": "/subscriptions/fca2e8ee-1179-48b8-9532-428ed0873a2e/resourceGroups/dev6nfrg060723/providers/Microsoft.ManagedNetworkFabric/networkRacks/dev6lab-nf09-aggrack",
            "rackSkuId": "/subscriptions/fca2e8ee-1179-48b8-9532-428ed0873a2e/providers/Microsoft.NetworkCloud/rackSkus/V1_5_4_Aggregator_x70r3_9",
            "rackSerialNumber": "b37dev6r1",
            "rackLocation": "b37dev6r1",
            "availabilityZone": "1",
            "storageApplianceConfigurationData": [
              {
                "rackSlot": 1,
                "adminCredentials": {
                  "username": "pureuser"
                },
                "storageApplianceName": "b37dev6purestor1",
                "serialNumber": "serial"
              }
            ],
            "bareMetalMachineConfigurationData": []
          },
          "computeRackDefinitions": [
            {
              "networkRackId": "/subscriptions/fca2e8ee-1179-48b8-9532-428ed0873a2e/resourceGroups/dev6nfrg060723/providers/Microsoft.ManagedNetworkFabric/networkRacks/dev6lab-nf09-comprack1",
              "rackSkuId": "/subscriptions/fca2e8ee-1179-48b8-9532-428ed0873a2e/providers/Microsoft.NetworkCloud/rackSkus/V1_5_4_Compute_DellR750_8C2M",
              "rackSerialNumber": "rs1234",
              "rackLocation": "Foo Datacenter Floor 3 Aisle 9 Rack 1",
              "availabilityZone": "1",
              "storageApplianceConfigurationData": [],
              "bareMetalMachineConfigurationData": [
                {
                  "rackSlot": 10,
                  "bootMacAddress": "EC:2A:72:19:91:8C",
                  "bmcCredentials": {
                    "username": "root"
                  },
                  "bmcConnectionString": "redfish\u002Bhttps://10.19.3.20/redfish/v1/Systems/System.Embedded.1",
                  "machineName": "B37DEV06C1MG02",
                  "bmcMacAddress": "EC:2A:72:20:E9:22",
                  "serialNumber": "55TBRN3"
                },
                {
                  "rackSlot": 9,
                  "bootMacAddress": "EC:2A:72:19:58:40",
                  "bmcCredentials": {
                    "username": "root"
                  },
                  "bmcConnectionString": "redfish\u002Bhttps://10.19.3.19/redfish/v1/Systems/System.Embedded.1",
                  "machineName": "B37DEV06C1MG01",
                  "bmcMacAddress": "EC:2A:72:[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/fca2e8ee-1179-48b8-9532-428ed0873a2e/resourceGroups/dev6-cluster/providers/Microsoft.NetworkCloud/clusters/dev6-1013a8b273c4/bmcKeySets/bmckeyset9609?api-version=2023-05-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "extendedLocation": {
          "name": "/subscriptions/fca2e8ee-1179-48b8-9532-428ed0873a2e/resourcegroups/dev6-1013a8b273c4-hostedresources-69088feb/providers/microsoft.extendedlocation/customlocations/dev6-1013a8b273c4-cstm-loc",
          "type": "CustomLocation"
        },
        "tags": {
          "key1": "myvalue1"
        },
        "location": "eastus2euap",
        "properties": {
          "azureGroupId": "fake-ag-id",
          "expiration": "2023-06-23T19:12:30.0000000Z",
          "privilegeLevel": "ReadOnly",
          "userList": [
            {
              "azureUserName": "username",
              "sshPublicKey": {
                "keyData": "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQCYnWX/sth0/ikG/d\u002BahWdO4sTp1stHP1jnEcxt0Vr4YcoKYh6cic2yZr3Mjb4NxcuJKAw4kmJ7bSRl5na8MEJkSFyMberQaqapahv\u002Blx7Pm8ZTZVlVcvq0Q83yrHA/62RNtLqLF03RaTaBMrNXZoC76euPEHK4LNgk9UxhTfE0GDHGHOHGRafh24pTgVhyd7nSTuYyY\u002BOlIfv6J726wGsRFZ8OXtE7xfHEtfzsFJBpf15YOEEtdrIQ0w\u002Bxj53nO2FOk\u002BgLhExxlfj4gizQZPXtNI\u002BnM7d25rlZWQW4RngFAvon63/3HNELCEHmAaEPpoAQpgESl19AtTQzUf5hl3RAyL75CM7V95/NcUG0UJ\u002B3t1wI\u002BKc3WpTkHZmbcgOBYSi6\u002BJPpmqB/oxEkjDUIvyyenLB9UFyTj8keQ2vCYzaTBLjcndDJWFYM\u002BMbKHCSx/XxZXDkFiPQeLgkWixFAWLmufnwULIx/tr/VRdQFSZI6MoUmfUqaQhv7a2eVikiqLEk= fake-public-key"
              }
            }
          ]
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/fca2e8ee-1179-48b8-9532-428ed0873a2e/providers/Microsoft.NetworkCloud/locations/EASTUS2EUAP/operationStatuses/be2005ae-3216-4542-bdc0-5b28cec62dd5*824856B5EB2143D654EBCA07A222EE0371B8A2D9113DFA6C52138B915105DB71?api-version=2023-05-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00220300598b-0000-3300-0000-6494a3f80000\u0022",
        "mise-correlation-id": "ca6c6252-cf6d-4985-8442-917b06dc7e02",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "id": "/subscriptions/fca2e8ee-1179-48b8-9532-428ed0873a2e/resourceGroups/dev6-cluster/providers/Microsoft.NetworkCloud/clusters/dev6-1013a8b273c4/bmcKeySets/bmckeyset9609",
        "name": "bmckeyset9609",
        "type": "microsoft.networkcloud/clusters/bmckeysets",
        "location": "eastus2euap",
       [...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/fca2e8ee-1179-48b8-9532-428ed0873a2e/providers/Microsoft.NetworkCloud/locations/EASTUS2EUAP/operationStatuses/be2005ae-3216-4542-bdc0-5b28cec62dd5*824856B5EB2143D654EBCA07A222EE0371B8A2D9113DFA6C52138B915105DB71?api-version=2023-05-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00226b003b5b-0000-3300-0000-6494a3f70000\u0022",
        "x-ms-ratelimit-remaining-subscription-reads": "11998"
      },
      "ResponseBody": {
        "id": "/subscriptions/fca2e8ee-1179-48b8-9532-428ed0873a2e/providers/Microsoft.NetworkCloud/locations/EASTUS2EUAP/operationStatuses/be2005ae-3216-4542-bdc0-5b28cec62dd5*824856B5EB2143D654EBCA07A222EE0371B8A2D9113DFA6C52138B915105DB71",
        "name": "be2005ae-3216-4542-bdc0-5b28cec62dd5*824856B5EB2143D654EBCA07A222EE0371B8A2D9113DFA6C52138B915105DB71",
        "resourceId": "/subscriptions/fca2e8ee-1179-48b8-9532-428ed0873a2e/resourceGroups/dev6-cluster/providers/Microsoft.NetworkCloud/clusters/dev6-1013a8b273c4/bmcKeySets/bmckeyset9609",
        "status": "Accepted",
        "startTime": "2023-06-22T19:41:43.2907435Z"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/fca2e8ee-1179-48b8-9532-428ed0873a2e/providers/Microsoft.NetworkCloud/locations/EASTUS2EUAP/operationStatuses/be2005ae-3216-4542-bdc0-5b28cec62dd5*824856B5EB2143D654EBCA07A222EE0371B8A2D9113DFA6C52138B915105DB71?api-version=2023-05-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00226b00d05b-0000-3300-0000-6494a40f0000\u0022",
        "x-ms-ratelimit-remaining-subscription-reads": "11991"
      },
      "ResponseBody": {
        "id": "/subscriptions/fca2e8ee-1179-48b8-9532-428ed0873a2e/providers/Microsoft.NetworkCloud/locations/EASTUS2EUAP/operationStatuses/be2005ae-3216-4542-bdc0-5b28cec62dd5*824856B5EB2143D654EBCA07A222EE0371B8A2D9113DFA6C52138B915105DB71",
        "name": "be2005ae-3216-4542-bdc0-5b28cec62dd5*824856B5EB2143D654EBCA07A222EE0371B8A2D9113DFA6C52138B915105DB71",
        "resourceId": "/subscriptions/fca2e8ee-1179-48b8-9532-428ed0873a2e/resourceGroups/dev6-cluster/providers/Microsoft.NetworkCloud/clusters/dev6-1013a8b273c4/bmcKeySets/bmckeyset9609",
        "status": "Succeeded",
        "startTime": "2023-06-22T19:41:43.2907435Z",
        "endTime": "2023-06-22T19:42:07.6371807Z",
        "error": {},
        "properties": null
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/fca2e8ee-1179-48b8-9532-428ed0873a2e/resourceGroups/dev6-cluster/providers/Microsoft.NetworkCloud/clusters/dev6-1013a8b273c4/bmcKeySets?api-version=2023-05-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-reads": "11988"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/fca2e8ee-1179-48b8-9532-428ed0873a2e/resourceGroups/dev6-cluster/providers/Microsoft.NetworkCloud/clusters/dev6-1013a8b273c4/bmcKeySets/bmckeyset9609",
            "name": "bmckeyset9609",
            "type": "microsoft.networkcloud/clusters/bmckeysets",
            "location": "eastus2euap",
            "extendedLocation": {
              "name": "/subscriptions/fca2e8ee-1179-48b8-9532-428ed0873a2e/resourcegroups/dev6-1013a8b273c4-hostedresources[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/fca2e8ee-1179-48b8-9532-428ed0873a2e/resourceGroups/dev6-cluster/providers/Microsoft.NetworkCloud/clusters/dev6-1013a8b273c4/bmcKeySets/bmckeyset9609?api-version=2023-05-01-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {
          "key1": "myvalue1",
          "key2": "myvalue2"
        },
        "properties": {}
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/fca2e8ee-1179-48b8-9532-428ed0873a2e/providers/Microsoft.NetworkCloud/locations/EASTUS2EUAP/operationStatuses/35b1fc8b-e76f-4583-8188-972259eecc42*824856B5EB2143D654EBCA07A222EE0371B8A2D9113DFA6C52138B915105DB71?api-version=2023-05-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00220300658b-0000-3300-0000-6494a41c0000\u0022",
        "Location": "https://management.azure.com/subscriptions/fca2e8ee-1179-48b8-9532-428ed0873a2e/providers/Microsoft.NetworkCloud/locations/EASTUS2EUAP/operationStatuses/35b1fc8b-e76f-4583-8188-972259eecc42*824856B5EB2143D654EBCA07A222EE0371B8A2D9113DFA6C52138B915105DB71?api-version=2023-05-01-preview",
        "mise-correlation-id": "68a50bff-212e-41dc-84a4-70e154c8ffd4",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-writes": "1198"
      },
      "ResponseBody": "null"
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/fca2e8ee-1179-48b8-9532-428ed0873a2e/providers/Microsoft.NetworkCloud/locations/EASTUS2EUAP/operationStatuses/abba5e92-b141-44ed-a0fe-222a79e898f8*824856B5EB2143D654EBCA07A222EE0371B8A2D9113DFA6C52138B915105DB71?api-version=2023-05-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00226b007d5d-0000-3300-0000-6494a4520000\u0022",
        "x-ms-ratelimit-remaining-subscription-reads": "11971"
      },
      "ResponseBody": {
        "id": "/subscriptions/fca2e8ee-1179-48b8-9532-428ed0873a2e/providers/Microsoft.NetworkCloud/locations/EASTUS2EUAP/operationStatuses/abba5e92-b141-44ed-a0fe-222a79e898f8*824856B5EB2143D654EBCA07A222EE0371B8A2D9113DFA6C52138B915105DB71",
        "name": "abba5e92-b141-44ed-a0fe-222a79e898f8*824856B5EB2143D654EBCA07A222EE0371B8A2D9113DFA6C52138B915105DB71",
        "resourceId": "/subscriptions/fca2e8ee-1179-48b8-9532-428ed0873a2e/resourceGroups/dev6-cluster/providers/Microsoft.NetworkCloud/clusters/dev6-1013a8b273c4/bmcKeySets/bmckeyset9609",
        "status": "Succeeded",
        "startTime": "2023-06-22T19:42:54.4383508Z",
        "endTime": "2023-06-22T19:43:14.3570294Z",
        "properties": null
      }
    }
  ],
  "Variables": {
    "CLUSTER_ID": "/subscriptions/fca2e8ee-1179-48b8-9532-428ed0873a2e/resourceGroups/dev6-cluster/providers/Microsoft.NetworkCloud/clusters/dev6-1013a8b273c4",
    "DAY_FROM_NOW": "Fri, 23 Jun 2023 15:12:30 -0400",
    "LOCATION": "eastus",
    "RandomSeed": "2141858136",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "a3eeb848-665a-4dbf-80a4-eb460930fb23"
  }
}
