{
  "Entries": [
    {
      "RequestUri": "https://ads-perf-westeurope-pv.purview.azure.com/share/receivedShares/7de5fc90-2960-45a0-adb4-940db27a2305?api-version=2023-02-15-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://ads-perf-westeurope-pv.purview.azure.com/share/operationResults/f7f7fa7b-b843-4ea7-b4df-c2662e59b64b?api-version=2023-02-15-preview",
        "Operation-Id": "https://ads-perf-westeurope-pv.purview.azure.com/share/operationResults/f7f7fa7b-b843-4ea7-b4df-c2662e59b64b?api-version=2023-02-15-preview",
        "Operation-Location": "https://ads-perf-westeurope-pv.purview.azure.com/share/operationResults/f7f7fa7b-b843-4ea7-b4df-c2662e59b64b?api-version=2023-02-15-preview"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://ads-perf-westeurope-pv.purview.azure.com/share/operationResults/f7f7fa7b-b843-4ea7-b4df-c2662e59b64b?api-version=2023-02-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "startTime": "2023-02-15T03:52:27.7645843Z",
        "endTime": null,
        "status": "Running",
        "error": null
      }
    },
[...]
    {
      "RequestUri": "https://ads-perf-westeurope-pv.purview.azure.com/share/operationResults/f7f7fa7b-b843-4ea7-b4df-c2662e59b64b?api-version=2023-02-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "startTime": "2023-02-15T03:52:27.7645843Z",
        "endTime": null,
        "status": "Succeeded",
        "error": null
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": null,
    "PURVIEW_SHARE_URL": "https://ads-perf-westeurope-pv.purview.azure.com/share",
    "RandomSeed": "916091358"
  }
}
