{
  "Entries": [
    {
      "RequestUri": "/24fb23e3-6ba3-41f0-9b6e-e41131d5d61e/locations",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2014-10-01"
        ]
      },
      "ResponseBody": "<Locations xmlns=\"http://schemas.microsoft.com/windowsazure\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n  <Location>\r\n    <Name>East US</Name>\r\n    <DisplayName>East US</DisplayName>\r\n    <AvailableServices>\r\n      <AvailableService>Compute</AvailableService>\r\n      <AvailableService>Storage</AvailableService>\r\n      <AvailableService>PersistentVMRole</AvailableService>\r\n      <AvailableService>HighMemory</AvailableService>\r\n    </AvailableServices>\r\n    <ComputeCapabilities>\r\n      <WebWorkerRoleSizes>\r\n        <RoleSize>A10</RoleSize>\r\n        <RoleSize>A11</RoleSize>\r\n        <RoleSize>A5</RoleSize>\r\n        <RoleSize>A6</RoleSize>\r\n        <RoleSize>A7</RoleSize>\r\n        <RoleSize>A8</RoleSize>\r\n        <RoleSize>A9</RoleSize>\r\n        <RoleSize>ExtraLarge</RoleSize>\r\n        <RoleSize>ExtraSmall</RoleSize>\r\n        <RoleSize>Large</RoleSize>\r\n        <RoleSize>Medium</RoleSize>\r\n        <RoleSize>Small</RoleSize>\r\n        <RoleSize>Standard_D1</RoleSize>\r\n        <RoleSize>Standard_D1_v2</RoleSize>\r\n        <RoleSize>Standard_D11</RoleSize>\r\n        <RoleSize>Standard_D11_v2</RoleSize>\r\n        <RoleSize>Standard_D12</RoleSize>\r\n        <RoleSize>Standard_D12_v2</RoleSize>\r\n        <RoleSize>Standard_D13</RoleSize>\r\n        <RoleSize>Standard_D13_v2</RoleSize>\r\n        <RoleSize>Standard_D14</RoleSize>\r\n        <RoleSize>Standard_D14_v2</RoleSize>\r\n        <RoleSize>Standard_D2</RoleSize>\r\n        <RoleSize>Standard_D2_v2</RoleSize>\r\n        <RoleSize>Standard_D3</RoleSize>\r\n        <RoleSize>Standard_D3_v2</RoleSize>\r\n        <RoleSize>Standard_D4</RoleSize>\r\n        <RoleSize>Standard_D4_v2</RoleSize>\r\n        <RoleSize>Standard_D5_v2</RoleSize>\r\n      </WebWorkerRoleSizes>\r\n      <VirtualMachinesRoleSizes>\r\n        <RoleSize>A10</RoleSize>\r\n        <RoleSize>A11</RoleSize>\r\n        <RoleSize>A5</RoleSize>\r\n        <RoleSize>A6</RoleSize>\r\n        <RoleSize>A7</RoleSize>\r\n        <RoleSize>A8</RoleSize>\r\n        <RoleSize>A9</RoleSize>\r\n        <RoleSize>Basic_A0</RoleSize>\r\n        <RoleSize>Basic_A1</RoleSize>\r\n        <RoleSize>Basic_A2</RoleSize>\r\n        <RoleSize>Basic_A3</RoleSize>\r\n        <RoleSize>Basic_A4</RoleSize>\r\n        <RoleSize>ExtraLarge</RoleSize>\r\n [...]
[...]
    {
      "RequestUri": "/24fb23e3-6ba3-41f0-9b6e-e41131d5d61e/services/storageservices",
      "RequestMethod": "POST",
      "RequestBody": "<CreateStorageServiceInput xmlns=\"http://schemas.microsoft.com/windowsazure\">\r\n  <ServiceName>teststorage8170</ServiceName>\r\n  <Description p2:nil=\"true\" xmlns:p2=\"http://www.w3.org/2001/XMLSchema-instance\" />\r\n  <Label>dGVzdHN0b3JhZ2U4MTcw</Label>\r\n  <Location>East US</Location>\r\n  <AccountType>Standard_LRS</AccountType>\r\n</CreateStorageServiceInput>",
      "RequestHeaders": {
        "Content-Type": [
          "application/xml"
        ],
        "x-ms-version": [
          "2014-10-01"
        ]
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "x-ms-servedbyregion": [
          "ussouth3"
        ],
        "Location": [
          "https://management.core.windows.net/subscriptions/24fb23e3-6ba3-41f0-9b6e-e41131d5d61e/storage/teststorage8170"
        ]
      },
      "StatusCode": 202
    },
    {
      "RequestUri": "/24fb23e3-6ba3-41f0-9b6e-e41131d5d61e/operations/a7c1c87ef1ea73ab8874a7a7e7eaad14",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2014-10-01"
        ]
      },
      "ResponseBody": "<Operation xmlns=\"http://schemas.microsoft.com/windowsazure\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n  <ID>a7c1c87e-f1ea-73ab-8874-a7a7e7eaad14</ID>\r\n  <Status>InProgress</Status>\r\n</Operation>",
      "ResponseHeaders": {
        "Content-Type": [
          "application/xml; charset=utf-8"
        ],
        "x-ms-servedbyregion": [
          "ussouth3"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/24fb23e3-6ba3-41f0-9b6e-e41131d5d61e/operations/a7c1c87ef1ea73ab8874a7a7e7eaad14",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2014-10-01"
        ]
      },
      "ResponseBody": "<Operation xmlns=\"http://schemas.microsoft.com/windowsazure\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n  <ID>a7c1c87e-f1ea-73ab-8874-a7a7e7eaad14</ID>\r\n  <Status>Succeeded</Status>\r\n  <HttpStatusCode>200</HttpStatusCode>\r\n</Operation>",
      "ResponseHeaders": {
        "Content-Type": [
          "application/xml; charset=utf-8"
        ],
        "x-ms-servedbyregion": [
          "ussouth3"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/24fb23e3-6ba3-41f0-9b6e-e41131d5d61e/services/storageservices/teststorage8170/keys",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2014-10-01"
        ]
      },
      "ResponseBody": "<StorageService xmlns=\"http://schemas.microsoft.com/windowsazure\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n  <Url>https://management.core.windows.net/24fb23e3-6ba3-41f0-9b6e-e41131d5d61e/services/storageservices/teststorage8170</Url>\r\n  <StorageServiceKeys>\r\n    <Primary>gbFqDIJnjIBHuhUULhniBevKXS9Vf3YFkmc3FyMVcj1IxAcYwiXKnwNqPmJPpB1s8E/I7I9twjx02lJ0K5mYbw==</Primary>\r\n    <Secondary>PrS9GrBx6iN7bqXAipYSez+8kvknloueeaWsOzGsIYn3gq4j2lxmEePmmHsCupxo4tef6QNIRrTUsjQ95zjf+w==</Secondary>\r\n  </StorageServiceKeys>\r\n</StorageService>",
      "ResponseHeaders": {
        "Content-Type": [
          "application/xml; charset=utf-8"
        ],
        "x-ms-servedbyregion": [
          "ussouth3"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/24fb23e3-6ba3-41f0-9b6e-e41131d5d61e/services/storageservices/teststorage8170",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2014-10-01"
        ]
      },
      "ResponseBody": "<StorageService xmlns=\"http://schemas.microsoft.com/windowsazure\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n  <Url>https://management.core.windows.net/24fb23e3-6ba3-41f0-9b6e-e41131d5d61e/services/storageservices/teststorage8170</Url>\r\n  <ServiceName>teststorage8170</ServiceName>\r\n  <StorageServiceProperties>\r\n    <Description i:nil=\"true\" />\r\n    <Location>East US</Location>\r\n    <Label>dGVzdHN0b3JhZ2U4MTcw</Label>\r\n    <Status>Created</Status>\r\n    <Endpoints>\r\n      <Endpoint>https://teststorage8170.blob.core.windows.net/</Endpoint>\r\n      <Endpoint>https://teststorage8170.queue.core.windows.net/</Endpoint>\r\n      <Endpoint>https://teststorage8170.table.core.windows.net/</Endpoint>\r\n      <Endpoint>https://teststorage8170.file.core.windows.net/</Endpoint>\r\n    </Endpoints>\r\n    <GeoPrimaryRegion>East US</GeoPrimaryRegion>\r\n    <StatusOfPrimary>Available</StatusOfPrimary>\r\n    <GeoSecondaryRegion />\r\n    <StatusOfSecondary />\r\n    <CreationTime>2016-02-18T02:54:23Z</CreationTime>\r\n    <CustomDomains />\r\n    <AccountType>Standard_LRS</AccountType>\r\n  </StorageServiceProperties>\r\n  <ExtendedProperties>\r\n    <ExtendedProperty>\r\n      <Name>ResourceGroup</Name>\r\n      <Value>Default-Storage-EastUS</Value>\r\n    </ExtendedProperty>\r\n    <ExtendedProperty>\r\n      <Name>ResourceLocation</Name>\r\n      <Value>East US</Value>\r\n    </ExtendedProperty>\r\n  </ExtendedProperties>\r\n  <Capabilities>\r\n    <Capability>PersistentVMRole</Capability>\r\n  </Capabilities>\r\n</StorageService>",
      "ResponseHeaders": {
        "Content-Type": [
          "application/xml; charset=utf-8"
        ],
        "x-ms-servedbyregion": [
          "ussouth3"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/24fb23e3-6ba3-41f0-9b6e-e41131d5d61e/services/extensions",
      "RequestMethod": "POST",
      "RequestBody": "<ExtensionImage xmlns=\"http://schemas.microsoft.com/windowsazure\">\r\n  <ProviderNameSpace>testprovider506</ProviderNameSpace>\r\n  <Type>testextension3258</Type>\r\n  <Version>74.59.0.0</Version>\r\n  <Label>testprovider506</Label>\r\n  <HostingResources>VmRole</HostingResources>\r\n  <MediaLink>https://teststorage8170.blob.core.windows.net/ext/RemoteAccessPlugin.zip</MediaLink>\r\n  <Certificate>\r\n    <StoreLocation>LocalMachine</StoreLocation>\r\n    <StoreName>My</StoreName>\r\n    <ThumbprintRequired>true</ThumbprintRequired>\r\n    <ThumbprintAlgorithm>sha1</ThumbprintAlgorithm>\r\n  </Certificate>\r\n  <Endpoints>\r\n    <InputEndpoints>\r\n      <InputEndpoint>\r\n        <Name>Test1</Name>\r\n        <Protocol>tcp</Protocol>\r\n        <Port>1111</Port>\r\n        <LocalPort>*</LocalPort>\r\n      </InputEndpoint>\r\n      <InputEndpoint>\r\n        <Name>Test2</Name>\r\n        <Protocol>tcp</Protocol>\r\n        <Port>2222</Port>\r\n        <LocalPort>22222</LocalPort>\r\n      </InputEndpoint>\r\n    </InputEndpoints>\r\n    <InternalEndpoints>\r\n      <InternalEndpoint>\r\n        <Name>Test1</Name>\r\n        <Protocol>tcp</Protocol>\r\n        <Port>1111</Port>\r\n      </InternalEndpoint>\r\n      <InternalEndpoint>\r\n        <Name>Test2</Name>\r\n        <Protocol>tcp</Protocol>\r\n        <Port>2222</Port>\r\n      </InternalEndpoint>\r\n    </InternalEndpoints>\r\n    <InstanceInputEndpoints>\r\n      <InstanceInputEndpoint>\r\n        <Name>Test1</Name>\r\n        <Protocol>tcp</Protocol>\r\n        <LocalPort>111</LocalPort>\r\n        <FixedPortMin>100</FixedPortMin>\r\n        <FixedPortMax>1000</FixedPortMax>\r\n      </InstanceInputEndpoint>\r\n      <InstanceInputEndpoint>\r\n        <Name>Test2</Name>\r\n        <Protocol>tcp</Protocol>\r\n        <LocalPort>22</LocalPort>\r\n        <FixedPortMin>2000</FixedPortMin>\r\n        <FixedPortMax>10000</FixedPortMax>\r\n      </InstanceInputEndpoint>\r\n    </InstanceInputEndpoints>\r\n  </Endpoints>\r\n  <PublicConfigurationSchema>PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48eHM6c2NoZW1hIGF0dHJpYnV0ZUZvcm1EZWZhdWx0PSJ1bnF1YWxpZmllZCIgIGVsZW1lbnRGb3JtRGVmYXVsdD0icXVhbGlmaWVkIiAgeG1sbnM6eHM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDEvWE1MU2NoZW1hIj4gIDx4czplbGVtZW50IG5hbWU9IlB1YmxpY0NvbmZpZyI+ICAgIDx4czpjb21wbGV4VHlwZT4gICAgICA8eHM6c2VxdWVuY2U+ICAgICAgICA8eHM6ZWxlbWVudCBuYW1lPSJVc2VyTmFtZSIgdHlwZT0ieHM6c3RyaW5nIiAvPiAgICAgIDwveHM6c2VxdWVuY2U+ICAgIDwveHM6Y29tcGxleFR5cGU+ICA8L3hzOmVsZW1lbnQ+PC94czpzY2hlbWE+</PublicConfigurationSchema>\r\n  <PrivateConfigurationSchema>PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48eHM6c2NoZW1hIGF0dHJpYnV0ZUZvcm1EZWZhdWx0PSJ1bnF1YWxpZmllZCIgIGVsZW1lbnRGb3JtRGVmYXVsdD0icXVhbGlmaWVkIiAgeG1sbnM6eHM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDEvWE1MU2NoZW1hIj4gIDx4czplbGVtZW50IG5hbWU9IlByaXZhdGVDb25maWciPiAgICA8eHM6Y29tcGxleFR5cGU+ICAgICAgPHhzOnNlcXVlbmNlPiAgICAgICAgPHhzOmVsZW1lbnQgbmFtZT0iUGFzc3dvcmQiIHR5cGU9InhzOnN0cmluZyIgLz4gICAgICA8L3hzOnNlcXVlbmNlPiAgICA8L3hzOmNvbXBsZXhUeXBlPiAgPC94czplbGVtZW50PjwveHM6c2NoZW1hPg==</PrivateConfigurationSchema>\r\n  <Description>testprovider506</Description>\r\n  <PublishedDate>2016-02-18T02:55:06.1417702Z</PublishedDate>\r\n  <LocalResources>\r\n    <LocalResource>\r\n      <Name>Test1</Name>\r\n      <SizeInMB>100</SizeInMB>\r\n    </LocalResource>\r\n    <LocalResource>\r\n      <Name>Test2</Name>\r\n      <SizeInMB>200</SizeInMB>\r\n    </LocalResource>\r\n  </LocalResources>\r\n  <BlockRoleUponFailure>false</BlockRoleUponFailure>\r\n  <IsInternalExtension>true</IsInternalExtension>\r\n  <SampleConfig>VGVzdFNhbXBsZUNvbmZpZw==</SampleConfig>\r\n  <Eula>http://test.com/</Eula>\r\n  <PrivacyUri>http://test.com/</PrivacyUri>\r\n  <HomepageUri>http://test.com/</HomepageUri>\r\n  <IsJsonExtension>false</IsJsonExtension>\r\n  <DisallowMajorVersionUpgrade>true</DisallowMajorVersionUpgrade>\r\n  <SupportedOS>Windows</SupportedOS>\r\n  <CompanyName>testprovider506</CompanyName>\r\n  <Regions>West US</Regions>\r\n</ExtensionImage>",
      "RequestHeaders": {
        "Content-Type": [
          "application/xml"
        ],
        "x-ms-version": [
          "2016-06-01"
        ]
      },
      "ResponseBody": "<Error xmlns=\"http://schemas.microsoft.com/windowsazure\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n  <Code>ForbiddenError</Code>\r\n  <Message>This operation is not allowed for this subscription.</Message>\r\n</Error>",
      "ResponseHeaders": {
        "Content-Type": [
          "application/xml; charset=utf-8"
        ],
        "x-ms-servedbyregion": [
          "ussouth3"
        ]
      },
      "StatusCode": 403
    },
    {
      "RequestUri": "/24fb23e3-6ba3-41f0-9b6e-e41131d5d61e/services/extensions?action=update",
      "RequestMethod": "PUT",
      "RequestBody": "<ExtensionImage xmlns=\"http://schemas.microsoft.com/windowsazure\">\r\n  <ProviderNameSpace>testprovider506</ProviderNameSpace>\r\n  <Type>testextension3258</Type>\r\n  <Version>74.60.0.0</Version>\r\n  <Label>testprovider506</Label>\r\n  <HostingResources>VmRole</HostingResources>\r\n  <MediaLink>https://teststorage8170.blob.core.windows.net/e[...]
    {
      "RequestUri": "/24fb23e3-6ba3-41f0-9b6e-e41131d5d61e/services/extensions/testprovider506/testextension3258/74.59.0.0",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2016-06-01"
        ]
      },
      "ResponseBody": "<Error xmlns=\"http://schemas.microsoft.com/windowsazure\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n  <Code>ForbiddenError</Code>\r\n  <Message>This operation is not allowed for this subscription.</Message>\r\n</Error>",
      "ResponseHeaders": {
        "Content-Type": [
          "application/xml; charset=utf-8"
        ],
        "x-ms-servedbyregion": [
          "ussouth3"
        ]
      },
      "StatusCode": 403
    },
    {
      "RequestUri": "/24fb23e3-6ba3-41f0-9b6e-e41131d5d61e/services/publisherextensions",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2016-06-01"
        ]
      },
      "ResponseBody": "<Error xmlns=\"http://schemas.microsoft.com/windowsazure\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n  <Code>ForbiddenError</Code>\r\n  <Message>This operation is not allowed for this subscription.</Message>\r\n</Error>",
      "ResponseHeaders": {
        "Content-Type": [
          "application/xml; charset=utf-8"
        ],
        "x-ms-servedbyregion": [
          "ussouth3"
        ]
      },
      "StatusCode": 403
    }
  ],
  "Names": {
    "CanRegisterUpdateAndUnregisterExtensionImage": [
      "teststorage8170",
      "testprovider506",
      "testextension3258"
    ]
  },
  "Variables": {
    "SubscriptionId": "24fb23e3-6ba3-41f0-9b6e-e41131d5d61e"
  }
}