{
  "Entries": [
    {
      "RequestUri": "/contentmoderator/review/v1.0/teams/TeamNov2017/reviews/201712v1f35675ed4d8457cbf84f4890ce59c58/frames",
      "RequestMethod": "POST",
      "RequestBody": "[\r\n  {\r\n    \"Timestamp\": \"2\",\r\n    \"frameImage\": \"http://cvs-docs.azurewebsites.net/test-data/A2.jpg\",\r\n    \"ReviewerResultTags\": [],\r\n    \"Metadata\": [\r\n      {\r\n        \"Key\": \"apiScoreVal\",\r\n        \"Value\": \"0.3\"\r\n      },\r\n      {\r\n        \"Key\": \"a\",\r\n        \"Value\": \"False\"\r\n      },\r\n      {\r\n        \"Key\": \"racyScore\",\r\n        \"Value\": \"0.2\"\r\n      },\r\n      {\r\n        \"Key\": \"ExternalId\",\r\n        \"Value\": \"Image4\"\r\n      },\r\n      {\r\n        \"Key\": \"FrameCount\",\r\n        \"Value\": \"5\"\r\n      }\r\n    ]\r\n  },\r\n  {\r\n    \"Timestamp\": \"3\",\r\n    \"frameImage\": \"https://hashblobsm2.blob.core.windows.net/testimages/[...]
