{
  "Entries": [
    {
      "RequestUri": "/contentmoderator/review/v1.0/teams/TeamNov2017/reviews/201712vc779930a65dc4de993d25bc21f53f928/frames?timescale=300",
      "RequestMethod": "POST",
      "RequestBody": "--cc8d8559-55d7-4d07-99e5-389b271451a6\r\nContent-Type: application/octet-stream\r\nContent-Disposition: form-data; name=frameImageZip; filename=\"C:\\Users\\v-sodsou\\myfork\\pssdkjson6\\src\\SDKs\\CognitiveServices\\dataPlane\\Vision\\ContentModerator\\ContentModerator.Tests\\RoarFrames.zip\"\r\n\r\nPK\u0003\u0004\u0014\u0000\u0000\u0000\b\u0000�\u001dK\u000b�&R�W\u0002\u0000C\\\u0002\u00009\u0000\u0000\u0000RoarFrames/201708vc884ee3ad69e439eaaf5e57940c2f7a2_29.png4�uTS����66j��t)�A\u000e�FQ[...]
