{
  "Entries": [
    {
      "RequestUri": "/contentmoderator/review/v1.0/teams/TeamNov2017/reviews/201712vbb90cbd620c0433dbecf70ad51e5563d/frames?startSeed=0&noOfRecords=3",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": [
          
        ],
        "User-Agent": [
          "FxVersion/4.7.2600.0",
          "OSName/Windows10Enterprise",
          "OSVersion/6.3.16299",
          "Microsoft.CognitiveServices.ContentModerator.ContentModeratorClient/0.0.0.0"
        ]
      },
      "ResponseBody": "{\r\n  \"ReviewId\": \"201712vbb90cbd620c0433dbecf70ad51e5563d\",\r\n  \"VideoFrames\": [\r\n    {\r\n      \"Timestamp\": \"0\",\r\n      \"FrameImage\": \"https://reviewcontentstoragesea.blob.core.windows.net/teamnov2017/FRM_201712vbb90cbd620c0433dbecf70ad51e5563d_0.jpg\",\r\n      \"Metadata\": [\r\n        {\r\n          \"Key\": \"apiScoreVal\",\r\n          \"Value\": \"0.206\"\r\n        },\r\n        {\r\n          \"Key\": \"a\",\r\n          \"Value\": \"False\"\r\n        }\r\n      ],\r\n      \"ReviewerResultTags\": [],\r\n      \"FrameImageBytes\": \"\"\r\n    },\r\n    {\r\n      \"Timestamp\": \"500\",\r\n      \"FrameImage\": \"https://reviewcontentstoragesea.blob.core.windows.net/teamnov2017/FRM_201712vbb90cbd620c0433dbecf70ad51e5563d_500.jpg\",\r\n      \"Metadata\": [\r\n        {\r\n          \"Key\": \"apiScoreVal\",\r\n          \"Value\": \"0.206\"\r\n        },\r\n        {\r\n          \"Key\": \"a\",\r\n          \"Value\": \"False\"\r\n        }\r\n      ],\r\n      \"ReviewerResultTags\": [],\r\n      \"FrameImageBytes\": \"\"\r\n    },\r\n    {\r\n      \"Timestamp\": \"833\",\r\n      \"FrameImage\": \"https://reviewcontentstoragesea.blob.core.windows.net/teamnov2017/FRM_201712vbb90cbd620c0433dbecf70ad51e5563d_833.jpg\",\r\n      \"Metadata\": [\r\n        {\r\n          \"Key\": \"apiScoreVal\",\r\n          \"Value\": \"0.206\"\r\n        },\r\n        {\r\n          \"Key\": \"a\",\r\n          \"Value\": \"False\"\r\n        }\r\n      ],\r\n      \"ReviewerResultTags\": [],\r\n      \"FrameImageBytes\": \"\"\r\n    }\r\n  ]\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {}
}