{
  "Entries": [
    {
      "RequestUri": "/contentmoderator/review/v1.0/teams/TeamNov2017/reviews/201712if012516997aa4d19befb3129c1082c48",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": [
          
        ],
        "User-Agent": [
          "FxVersion/4.7.2600.0",
          "OSName/Windows10Enterprise",
          "OSVersion/6.3.16299",
          "Microsoft.CognitiveServices.ContentModerator.ContentModeratorClient/0.0.0.0"
        ]
      },
      "ResponseBody": "{\r\n  \"ReviewId\": \"201712if012516997aa4d19befb3129c1082c48\",\r\n  \"SubTeam\": \"public\",\r\n  \"CreatedBy\": \"teamnov2017\",\r\n  \"Metadata\": [\r\n    {\r\n      \"Key\": \"KeyNote1\",\r\n      \"Value\": \"KeyNote2\"\r\n    }\r\n  ],\r\n  \"ReviewerResultTags\": [],\r\n  \"Type\": \"Image\",\r\n  \"Content\": \"https://reviewcontentstoragesea.blob.core.windows.net/teamnov2017/IMG_201712if012516997aa4d19befb3129c1082c48\",\r\n  \"ContentId\": \"ImageReview\",\r\n  \"CallbackEndpoint\": \"\",\r\n  \"Status\": \"Pending\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {}
}