{
  "Entries": [
    {
      "RequestUri": "/contentmoderator/review/v1.0/teams/TeamNov2017/jobs/201712b43444e4be70470b80bff6605a33e77d",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": [
          
        ],
        "User-Agent": [
          "FxVersion/4.7.2600.0",
          "OSName/Windows10Enterprise",
          "OSVersion/6.3.16299",
          "Microsoft.CognitiveServices.ContentModerator.ContentModeratorClient/0.0.0.0"
        ]
      },
      "ResponseBody": "{\r\n  \"Id\": \"201712b43444e4be70470b80bff6605a33e77d\",\r\n  \"TeamName\": \"teamnov2017\",\r\n  \"Status\": \"Complete\",\r\n  \"WorkflowId\": \"BVTTextWorkflow\",\r\n  \"Type\": \"Text\",\r\n  \"CallBackEndpoint\": \"\",\r\n  \"ReviewId\": \"201712t8cd2110716384c838d2dff39b3e3ecbb\",\r\n  \"ResultMetaData\": [\r\n    {\r\n      \"Key\": \"text.HasProfanity\",\r\n      \"Value\": \"True\"\r\n    },\r\n    {\r\n      \"Key\": \"matchTerms\",\r\n      \"Value\": \"[{\\\"Term\\\":\\\"crappy\\\",\\\"Index\\\":0,\\\"ListId\\\":\\\"0\\\",\\\"OriginalIndex\\\":\\\"0\\\"}]\"\r\n    }\r\n  ],\r\n  \"JobExecutionReport\": [\r\n    {\r\n      \"Ts\": \"2017-12-19T06:08:04.2255876\",\r\n      \"Msg\": \"Job marked completed and job content has been removed\"\r\n    },\r\n    {\r\n      \"Ts\": \"2017-12-19T06:08:03.6015603\",\r\n      \"Msg\": \"Execution Complete\"\r\n    },\r\n    {\r\n      \"Ts\": \"2017-12-19T06:08:02.4225052\",\r\n      \"Msg\": \"Successfully got text.HasProfanity response from Moderator\"\r\n    },\r\n    {\r\n      \"Ts\": \"2017-12-19T06:08:02.0924928\",\r\n      \"Msg\": \"Getting text.HasProfanity from Moderator\"\r\n    },\r\n    {\r\n      \"Ts\": \"2017-12-19T06:08:01.8674823\",\r\n      \"Msg\": \"Starting Execution - Try 1\"\r\n    }\r\n  ]\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {}
}