{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/b604dcd8-f4cf-4a85-88ea-2cde532905a3?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "id": "/subscriptions/b604dcd8-f4cf-4a85-88ea-2cde532905a3",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {},
        "subscriptionId": "b604dcd8-f4cf-4a85-88ea-2cde532905a3",
        "tenantId": "00000000-0000-0000-0000-000000000000",
        "displayName": "PMaaS Synthetics Corp",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/b604dcd8-f4cf-4a85-88ea-2cde532905a3/resourcegroups/standbyPoolRG-75?api-version=2022-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastasia"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-writes": "11999",
        "x-ms-ratelimit-remaining-subscription-writes": "799"
      },
      "ResponseBody": {
        "id": "/subscriptions/b604dcd8-f4cf-4a85-88ea-2cde532905a3/resourceGroups/standbyPoolRG-75",
        "name": "standbyPoolRG-75",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastasia",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/b604dcd8-f4cf-4a85-88ea-2cde532905a3/providers/Microsoft.Network?api-version=2022-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "id": "/subscriptions/b604dcd8-f4cf-4a85-88ea-2cde532905a3/providers/Microsoft.Network",
        "namespace": "Microsoft.Network",
        "authorizations": [
          {
            "applicationId": "00000000-0000-0000-0000-000000000000",
            "roleDefinitionId": "18363e25-ff21-4159-ae8d-7dfecb5bd001"
          },
          {
            "applicationId": "00000000-0000-0000-0000-000000000000",
            "roleDefinitionId": "d4d2d679-cce0-429d-9a3b-17118c035f66"
          },
          {
            "applicationId": "00000000-0000-0000-0000-000000000000",
            "roleDefinitionId": "d4d2d679-cce0-429d-9a3b-17118c035f66"
          },
          {
            "applicationId": "00000000-0000-0000-0000-000000000000",
            "roleDefinitionId": "13b[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/b604dcd8-f4cf-4a85-88ea-2cde532905a3/resourceGroups/standbyPoolRG-75/providers/Microsoft.Network/virtualNetworks/testVNet-1937?api-version=**",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastasia",
        "properties": {
          "addressSpace": {
            "addressPrefixes": [
              "10.0.0.0/16"
            ]
          },
          "subnets": [
            {
              "name": "testSubnet-7301",
              "properties": {
                "addressPrefix": "10.0.2.0/24"
              }
            }
          ]
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncNotification": "Enabled",
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/b604dcd8-f4cf-4a85-88ea-2cde532905a3/providers/Microsoft.Network/locations/eastasia/operations/53d6de06-485e-4d48-b24a-035f7ad48654?api-version=2024-07-01&t=638792387364118187&c=MIIHpTCCBo2gAwIBAgITfwTYu0qoRwcN0bP8jwAEBNi7SjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDIwHhcNMjUwMTIzMjA0ODUxWhcNMjUwNzIyMjA0ODUxWjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdjZXJ0aWZpY2F0ZS5tYW5hZ2VtZW50L[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/b604dcd8-f4cf-4a85-88ea-2cde532905a3/providers/Microsoft.Network/locations/eastasia/operations/53d6de06-485e-4d48-b24a-035f7ad48654?api-version=**&t=638792387364118187&c=MIIHpTCCBo2gAwIBAgITfwTYu0qoRwcN0bP8jwAEBNi7SjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDIwHhcNMjUwMTIzMjA0ODUxWhcNMjUwNzIyMjA0ODUxWjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdjZXJ0aWZpY2F0[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/b604dcd8-f4cf-4a85-88ea-2cde532905a3/resourceGroups/standbyPoolRG-75/providers/Microsoft.Network/virtualNetworks/testVNet-1937?api-version=**",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\"6897a533-6417-4d4b-a583-834b20a6d88b\"",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "name": "testVNet-1937",
        "id": "/subscriptions/b604dcd8-f4cf-4a85-88ea-2cde532905a3/resourceGroups/standbyPoolRG-75/providers/Microsoft.Network/virtualNetworks/testVNet-1937",
        "etag": "W/\"6897a533-6417-4d4b-a583-834b20a6d88b\"",
        "type": "Microsoft.Network/virtualNetworks",
        "location": "eastasia",
        "properties": {
          "provisioningState": "Succeeded",
          "resourceGuid": "d5798092-32f1-4701-bc0b-99389473596f",
          "addressSpace": {
            "addressPrefixes": [
              "10.0.0.0/16"
            ]
          },
          "privateEndpointVNetPolicies": "Disabled",
          "subnets": [
            {
              "name": "testSubnet-7301",
              "id": "/subscriptions/b604dcd8-f4cf-4a85-88ea-2cde532905a3/resourceGroups/standbyPoolRG-75/providers/Microsoft.Network/virtualNetworks/testVNet-1937/subnets/testSubnet-7301",
              "etag": "W/\"6897a533-6417-4d4b-a583-834b20a6d88b\"",
              "properties": {
                "provisioningState": "Succeeded",
                "addressPrefix": "10.0.2.0/24",
                "delegations": [],
                "privateEndpointNetworkPolicies": "Disabled",
                "privateLinkServiceNetworkPolicies": "Enabled"
              },
              "type": "Microsoft.Network/virtualNetworks/subnets"
            }
          ],
          "virtualNetworkPeerings": [],
          "enableDdosProtection": false
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/b604dcd8-f4cf-4a85-88ea-2cde532905a3/resourceGroups/standbyPoolRG-75/providers/Microsoft.Network/networkSecurityGroups/testVNetSecurityGroups-8784?api-version=**",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastasia"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
     [...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/b604dcd8-f4cf-4a85-88ea-2cde532905a3/providers/Microsoft.Network/locations/eastasia/operations/c5193727-13f5-4404-b360-5c8542211722?api-version=**&t=638792387497072981&c=MIIHpTCCBo2gAwIBAgITfwTYu0qoRwcN0bP8jwAEBNi7SjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDIwHhcNMjUwMTIzMjA0ODUxWhcNMjUwNzIyMjA0ODUxWjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdjZXJ0aWZpY2F0[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/b604dcd8-f4cf-4a85-88ea-2cde532905a3/resourceGroups/standbyPoolRG-75/providers/Microsoft.Network/networkSecurityGroups/testVNetSecurityGroups-8784?api-version=**",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\"3e178142-974c-4a3c-95be-f95dd48d0a88\"",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "name": "testVNetSecurityGroups-8784",
        "id": "/subscriptions/b604dcd8-f4cf-4a85-88ea-2cde532905a3/resourceGroups/standbyPoolRG-75/providers/Microsoft.Network/networkSecurityGroups/testVNetSecurityGroups-8784",
        "etag": "W/\"3e178142-974c-4a3c-95be-f95dd48d0a88\"",
        "type": "Microsoft.Network/networkSecurityGroups",
        "location": "eastasia",
        "properties": {
          "provisioningState": "Succeeded",
          "resourceGuid": "2effa140-2133-4a5c-bc00-664c1d517f08",
          "securityRules": [],
          "defaultSecurityRules": [
            {
              "name": "AllowVnetInBound",
              "id": "/subscriptions/b604dcd8-f4cf-4a85-88ea-2cde532905a3/resourceGroups/standbyPoolRG-75/providers/Microsoft.Network/networkSecurityGroups/testVNetSecurityGroups-8784/defaultSecurityRules/AllowVnetInBound",
              "etag": "W/\"3e178142-974c-4a3c-95be-f95dd48d0a88\"",
              "type": "Microsoft.Network/networkSecurityGroups/defaultSecurityRules",
              "properties": {
                "provisioningState": "Succeeded",
                "description": "Allow inbound traffic from all VMs in VNET",
                "protocol": "*",
                "sourcePortRange": "*",
                "destinationPortRange": "*",
                "sourceAddressPrefix": "VirtualNetwork",
                "destinationAddressPrefix": "VirtualNetwork",
                "access": "Allow",
                "priority": 65000,
                "direction": "Inbound",
                "sourcePortRanges": [],
                "destinationPortRanges": [],
                "sourceAddressPrefixes": [],
                "destinationAddressPrefixes": []
              }
            },
            {
              "name": "AllowAzureLoadBalancerInBound",
              "id": "/subscriptions/b604dcd8-f4cf-4a85-88ea-2cde532905a3/resourceGroups/standbyPoolRG-75/providers/Microsoft.Network/networkSecurityGroups/testVNetSecurityGroups-8784/defaultSecurityRules/AllowAzureLoadBalancerInBound",
              "etag": "W/\"3e178142-974c-4a3c-95be-f95dd48d0a88\"",
              "type": "Microsoft.Network/networkSecurityGroups/defaultSecurityRules",
      [...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/b604dcd8-f4cf-4a85-88ea-2cde532905a3/resourceGroups/standbyPoolRG-75/providers/Microsoft.Compute/virtualMachineScaleSets/testVMSS-8247?api-version=2024-07-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastasia",
        "sku": {
          "name": "Standard_DS1_v2",
          "capacity": 0
        },
        "properties": {
          "virtualMachineProfile": {
            "osProfile": {
              "computerNamePrefix": "testVMSS",
              "adminUsername": "dummyAdmin",
              "adminPassword": "Sanitized",
              "linuxConfiguration": {
                "disablePasswordAuthentication": false,
                "ssh": {
                  "publicKeys": [
                    {
                      "path": "/home/dummyAdmin/.ssh/authorized_keys",
                      "keyData": "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQC+wWK73dCr+jgQOAxNsHAnNNNMEMWOHYEccp6wJm2gotpr9katuF/ZAdou5AaW1C61slRkHRkpRRX9FA9CYBiitZgvCCz+3nWNN7l/Up54Zps/pHWGZLHNJZRYyAB6j5yVLMVHIHriY49d/GZTZVNB8GoJv9Gakwc/fuEZYYl4YDFiGMBP///TzlI4jhiJzjKnEvqPFki5p2ZRJqcbCiF4pJrxUQR/RXqVFQdbRLZgYfJ8xGB878RENq3yQ39d8dVOkq4edbkzwcUmwwwkYVPIoDGsYLaRHnG+To7FvMeyO7xDVQkMKzopTQV8AuKpyvpqu0a9pWOMaiCyDytO7GGN you@me.com"
                    }
                  ]
                }
              }
            },
            "storageProfile": {
              "imageReference": {
                "publisher": "canonical",
                "offer": "0001-com-ubuntu-server-focal",
                "sku": "20_04-lts-gen2",
                "version": "latest"
              },
              "osDisk": {
                "caching": "ReadWrite",
                "createOption": "FromImage",
                "managedDisk": {
                  "storageAccountType": "Premium_LRS"
                }
              }
            },
            "networkProfile": {
              "networkInterfaceConfigurations": [
                {
                  "name": "testVMSS-8247",
                  "properties": {
                    "primary": true,
                    "enableAcceleratedNetworking": false,
                    "networkSecurityGroup": {
                      "id": "/subscriptions/b604dcd8-f4cf-4a85-88ea-2cde532905a3/resourceGroups/standbyPoolRG-75/providers/Microsoft.Network/networkSecurityGroups/testVNetSecurityGroups-8784"
                    },
                    "ipConfigurations": [
                      {
                        "name": "testVMSS-8247",
                        "properties": {
                          "subnet": {
                            "id": "/subscriptions/b604dcd8-f4cf-4a85-88ea-2cde532905a3/resourceGroups/standbyPoolRG-75/providers/Microsoft.Network/virtualNetworks/testVNet-1937/subnets/testSubnet-7301"
                          },
                          "publicIPAddressConfiguration": {
                            "name": "testVMSS-8247",
                            "properties": {
                              "idleTimeoutInMinutes": 15
                            }
                          }
                        }
                      }
                    ]
                  }
                }
              ],
              "networkApiVersion": "2020-11-01"
            },
            "diagnosticsProfile": {
              "bootDiagnostics": {
                "enabled": true
              }
            }
          },
          "platformFaultDomainCount": 1,
          "orchestrationMode": "Flexible"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "azure-asyncnotification": "Enabled",
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/b604dcd8-f4cf-4a85-88ea-2cde532905a3/providers/Microsoft.Compute/locations/eastasia/operations/452344b7-27a2-4a18-8ecf-cefa4e1362fd?p=8a257356-465d-41cc-a75f-5c2732bfee9b&api-version=2024-07-01&t=638792387556025544&c=MIIHpTCCBo2gAwIBAgITfwTYu0qoRwcN0bP8jwAEBNi7SjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDIwHhcNMjUwMTIzMjA0ODUxWhcNMjUwNzIyMjA[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/b604dcd8-f4cf-4a85-88ea-2cde532905a3/providers/Microsoft.Compute/locations/eastasia/operations/452344b7-27a2-4a18-8ecf-cefa4e1362fd?p=8a257356-465d-41cc-a75f-5c2732bfee9b&api-version=2024-07-01&t=638792387556025544&c=MIIHpTCCBo2gAwIBAgITfwTYu0qoRwcN0bP8jwAEBNi7SjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDIwHhcNMjUwMTIzMjA0ODUxWhcNMjUwNzIyMjA0ODUxWjBAMT4wPAYDV[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/b604dcd8-f4cf-4a85-88ea-2cde532905a3/resourceGroups/standbyPoolRG-75/providers/Microsoft.Compute/virtualMachineScaleSets/testVMSS-8247?api-version=2024-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\"1\"",
        "x-ms-need-to-refresh-epl-cache": "False",
        "x-ms-ratelimit-remaining-resource": "Microsoft.Compute/GetVMScaleSetSubscriptionMaximum;2399,Microsoft.Compute/GetVMScaleSetResource;35",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "name": "testVMSS-8247",
        "id": "/subscriptions/b604dcd8-f4cf-4a85-88ea-2cde532905a3/resourceGroups/standbyPoolRG-75/providers/Microsoft.Compute/virtualMachineScaleSets/testVMSS-8247",
        "type": "Microsoft.Compute/virtualMachineScaleSets",
        "location": "eastasia",
        "tags": {
          "azsecpack": "nonprod",
          "platformsettings.host_environment.service.platform_optedin_for_rootcerts": "true"
        },
        "sku": {
          "name": "Standard_DS1_v2",
          "tier": "Standard",
          "capacity": 0
        },
        "etag": "\"1\"",
        "properties": {
          "singlePlacementGroup": false,
          "highSpeedInterconnectPlacement": "None",
          "orchestrationMode": "Flexible",
          "upgradePolicy": {
            "mode": "Manual"
          },
          "virtualMachineProfile": {
            "osProfile": {
              "computerNamePrefix": "testVMSS",
              "adminUsername": "dummyAdmin",
              "linuxConfiguration": {
                "disablePasswordAuthentication": false,
                "ssh": {
                  "publicKeys": [
                    {
                      "path": "/home/dummyAdmin/.ssh/authorized_keys",
                      "keyData": "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQC+wWK73dCr+jgQOAxNsHAnNNNMEMWOHYEccp6wJm2gotpr9katuF/ZAdou5AaW1C61slRkHRkpRRX9FA9CYBiitZgvCCz+3nWNN7l/Up54Zps/pHWGZLHNJZRYyAB6j5yVLMVHIHriY49d/GZTZVNB8GoJv9Gakwc/fuEZYYl4YDFiGMBP///TzlI4jhiJzjKnEvqPFki5p2ZRJqcbCiF4pJrxUQR/RXqVFQdbRLZgYfJ8xGB878RENq3yQ39d8dVOkq4edbkzwcUmwwwkYVPIoDGsYLaRHnG+To7FvMeyO7xDVQkMKzopTQV8AuKpyvpqu0a9pWOMaiCyDytO7GGN you@me.com"
                    }
                  ]
                },
                "provisionVMAgent": true,
                "patchSettings": {
                  "patchMode": "ImageDefault",
                  "assessmentMode": "ImageDefault"
                }
              },
              "secrets": [],
              "allowExtensionOperations": true,
              "requireGuestProvisionSignal": true
            },
            "storageProfile": {
              "osDisk": {
                "osType": "Linux",
                "createOption": "FromImage",
                "caching": "ReadWrite",
                "managedDisk": {
                  "storageAccountType": "Premium_LRS"
                },
                "deleteOption": "Delete",
                "diskSizeGB": 30
              },
              "imageReference": {
                "publisher": "canonical",
                "offer": "0001-com-ubuntu-server-focal",
                "sku": "20_04-lts-gen2",
                "version": "latest"
              },
              "diskControllerType": "SCSI"
            },
            "networkProfile": {
              "networkApiVersion": "2020-11-01",
              "networkInterfaceConfigurations": [
                {
                  "name": "testVMSS-8247",
                  "properties": {
                    "primary": true,
                    "enableAcceleratedNetworking": false,
                    "disableTcpStateTracking": false,
                    "effectiveEnableAcceleratedNetworking": false,
                    "enableIPForwarding": false,
                    "auxiliaryMode": "None",
                    "auxiliarySku": "None",
                    "deleteOption": "Delete",
                    "ipConfigurations": [
                      {
                        "name": "testVMSS-8247",
                        "properties": {
                          "privateIPAddressVersion": "IPv4",
                          "subnet": {
                            "id": "/subscriptions/b604dcd8-f4cf-4a85-88ea-2cde532905a3/resourceGroups/standbyPoolRG-75/providers/Microsoft.Network/virtualNetworks/testVNet-1937/subnets/testSubnet-7301"
                          },
                          "publicIPAddressConfiguration": {
                            "name": "testVMSS-8247",
                            "properties": {
                              "idleTimeoutInMinutes": 15,
                              "ipTags": [],
                              "publicIPAddressVersion": "IPv4"
                            }
                          },
                          "applicationSecurityGroups": [],
                          "loadBalancerBackendAddressPools": [],
                          "applicationGatewayBackendAddressPools": []
                        }
                      }
                    ],
                    "networkSecurityGroup": {
                      "id": "/subscriptions/b604dcd8-f4cf-4a85-88ea-2cde532905a3/resourceGroups/standbyPoolRG-75/providers/Microsoft.Network/networkSecurityGroups/testVNetSecurityGroups-8784"
                    },
                    "dnsSettings": {
                      "dnsServers": []
                    }
                  }
                }
              ]
            },
            "diagnosticsProfile": {
              "bootDiagnostics": {
                "enabled": true
              }
            },
            "extensionProfile": {
              "extensions": [
                {
                  "name": "Microsoft.Azure.Monitor.AzureMonitorLinuxAgent",
                  "properties": {
                    "autoUpgradeMinorVersion": true,
                    "enableAutomaticUpgrade": true,
                    "publisher": "Microsoft.Azure.Monitor",
                    "type": "AzureMonitorLinuxAgent",
                    "typeHandlerVersion": "1.0",
                    "settings": {
                      "GCS_AUTO_CONFIG": true
                    }
                  }
                },
                {
                  "name": "Microsoft.Azure.Security.Monitoring.AzureSecurityLinuxAgent",
                  "properties": {
                    "autoUpgradeMinorVersion": true,
                    "enableAutomaticUpgrade": true,
                    "publisher": "Microsoft.Azure.Security.Monitoring",
                    "type": "AzureSecurityLinuxAgent",
                    "typeHandlerVersion": "2.0",
                    "settings": {
                      "enableGenevaUpload": true,
                      "enableAutoConfig": true,
                      "reportSuccessOnUnsupportedDistro": true
                    }
                  }
                }
              ]
            },
            "timeCreated": "2025-04-03T00:59:14.5479942+00:00"
          },
          "provisioningState": "Succeeded",
          "uniqueId": "61967a56-1307-478a-b2de-bcfbfbfa450d",
          "platformFaultDomainCount": 1,
          "constrainedMaximumCapacity": false,
          "timeCreated": "2025-04-03T00:59:14.5479942+00:00"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/b604dcd8-f4cf-4a85-88ea-2cde532905a3/resourceGroups/standbyPoolRG-75/providers/Microsoft.StandbyPool/standbyVirtualMachinePools/standbyVM-3965?api-version=2025-03-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastasia",
        "properties": {
          "elasticityProfile": {
            "maxReadyCapacity": 11,
            "minReadyCapacity": 1
          },
          "virtualMachineState": "Running",
          "attachedVirtualMachineScaleSetId": "/subscriptions/b604dcd8-f4cf-4a85-88ea-2cde532905a3/resourceGroups/standbyPoolRG-75/providers/Microsoft.Compute/virtualMachineScaleSets/testVMSS-8247"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\"2e006a17-0000-1900-0000-67eddd670000\"",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-global-writes": "11999",
        "x-ms-ratelimit-remaining-subscription-writes": "19998"
      },
      "ResponseBody": {
        "id": "/subscriptions/b604dcd8-f4cf-4a85-88ea-2cde532905a3/resourceGroups/standbyPoolRG-75/providers/Microsoft.StandbyPool/standbyVirtualMachinePools/standbyVM-3965",
        "name": "standbyVM-3965",
        "type": "microsoft.standbypool/standbyvirtualmachinepools",
        "location": "eastasia",
        "tags": {},
        "systemData": {
          "createdBy": "Sanitized",
          "createdByType": "User",
          "createdAt": "2025-04-03T00:59:18.3749496Z",
          "lastModifiedBy": "Sanitized",
          "lastModifiedByType": "User",
          "lastModifiedAt": "2025-04-03T00:59:18.3749496Z"
        },
        "properties": {
          "elasticityProfile": {
            "maxReadyCapacity": 11,
            "minReadyCapacity": 1
          },
          "virtualMachineState": "Running",
          "attachedVirtualMachineScaleSetId": "/subscriptions/b604dcd8-f4cf-4a85-88ea-2cde532905a3/resourceGroups/standbyPoolRG-75/providers/Microsoft.Compute/virtualMachineScaleSets/testVMSS-8247",
          "provisioningState": "Succeeded"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/b604dcd8-f4cf-4a85-88ea-2cde532905a3/providers/Microsoft.Network/locations/eastasia/operations/95cd3a3c-0577-4f84-8af2-273dbaf30a94?api-version=**&t=638792387634520967&c=MIIHpTCCBo2gAwIBAgITfwTYu0qoRwcN0bP8jwAEBNi7SjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDIwHhcNMjUwMTIzMjA0ODUxWhcNMjUwNzIyMjA0ODUxWjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdjZXJ0aWZpY2F0[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/b604dcd8-f4cf-4a85-88ea-2cde532905a3/providers/Microsoft.Network/locations/eastasia/operations/a34e729f-7f8d-40b9-870d-dc26fd26c93e?api-version=**&t=638792387781138294&c=MIIHpTCCBo2gAwIBAgITfwTYu0qoRwcN0bP8jwAEBNi7SjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDIwHhcNMjUwMTIzMjA0ODUxWhcNMjUwNzIyMjA0ODUxWjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdjZXJ0aWZpY2F0[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/b604dcd8-f4cf-4a85-88ea-2cde532905a3/providers/Microsoft.Compute/locations/eastasia/operations/3ab1afd6-9fd3-4f13-8b73-2018ff05704b?p=8a257356-465d-41cc-a75f-5c2732bfee9b&api-version=2024-07-01&t=638792387836080313&c=MIIHpTCCBo2gAwIBAgITfwTYu0qoRwcN0bP8jwAEBNi7SjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDIwHhcNMjUwMTIzMjA0ODUxWhcNMjUwNzIyMjA0ODUxWjBAMT4wPAYDV[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/b604dcd8-f4cf-4a85-88ea-2cde532905a3/resourceGroups/standbyPoolRG-75/providers/Microsoft.StandbyPool/standbyVirtualMachinePools?api-version=2025-03-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-original-request-ids": "0fd396e7-a31d-4f4e-ac27-dbd770fccd89",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "199746"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/b604dcd8-f4cf-4a85-88ea-2cde532905a3/resourceGroups/standbyPoolRG-75/providers/Microsoft.StandbyPool/standbyVirtualMachinePools/standbyVM-3965",
            "name": "standbyVM-3965",
            "type": "microsoft.standbypool/standbyvirtualmachinepools",
            "location": "eastasia",
            "tags": {},
            "systemData": {
              "createdBy": "Sanitized",
              "createdByType": "User",
              "createdAt": "2[...]
