{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/b604dcd8-f4cf-4a85-88ea-2cde532905a3?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "id": "/subscriptions/b604dcd8-f4cf-4a85-88ea-2cde532905a3",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {},
        "subscriptionId": "b604dcd8-f4cf-4a85-88ea-2cde532905a3",
        "tenantId": "00000000-0000-0000-0000-000000000000",
        "displayName": "PMaaS Synthetics Corp",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/b604dcd8-f4cf-4a85-88ea-2cde532905a3/resourcegroups/standbyPoolRG-9463?api-version=2022-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastasia"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-writes": "11999",
        "x-ms-ratelimit-remaining-subscription-writes": "799"
      },
      "ResponseBody": {
        "id": "/subscriptions/b604dcd8-f4cf-4a85-88ea-2cde532905a3/resourceGroups/standbyPoolRG-9463",
        "name": "standbyPoolRG-9463",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastasia",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/b604dcd8-f4cf-4a85-88ea-2cde532905a3/providers/Microsoft.Network?api-version=2022-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "id": "/subscriptions/b604dcd8-f4cf-4a85-88ea-2cde532905a3/providers/Microsoft.Network",
        "namespace": "Microsoft.Network",
        "authorizations": [
          {
            "applicationId": "00000000-0000-0000-0000-000000000000",
            "roleDefinitionId": "18363e25-ff21-4159-ae8d-7dfecb5bd001"
          },
          {
            "applicationId": "00000000-0000-0000-0000-000000000000",
            "roleDefinitionId": "d4d2d679-cce0-429d-9a3b-17118c035f66"
          },
          {
            "applicationId": "00000000-0000-0000-0000-000000000000",
            "roleDefinitionId": "d4d2d679-cce0-429d-9a3b-17118c035f66"
          },
          {
            "applicationId": "00000000-0000-0000-0000-000000000000",
            "roleDefinitionId": "13b[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/b604dcd8-f4cf-4a85-88ea-2cde532905a3/resourceGroups/standbyPoolRG-9463/providers/Microsoft.Network/virtualNetworks/testVNet-9023?api-version=**",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastasia",
        "properties": {
          "addressSpace": {
            "addressPrefixes": [
              "10.0.0.0/16"
            ]
          },
          "subnets": [
            {
              "name": "testSubnet-7301",
              "properties": {
                "addressPrefix": "10.0.2.0/24"
              }
            }
          ]
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncNotification": "Enabled",
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/b604dcd8-f4cf-4a85-88ea-2cde532905a3/providers/Microsoft.Network/locations/eastasia/operations/e8ce8e06-aedf-4505-a1eb-2b3fd41434e0?api-version=2024-07-01&t=638792388217767433&c=MIIHpTCCBo2gAwIBAgITfwTYu0qoRwcN0bP8jwAEBNi7SjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDIwHhcNMjUwMTIzMjA0ODUxWhcNMjUwNzIyMjA0ODUxWjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdjZXJ0aWZpY2F0ZS5tYW5hZ2VtZW50L[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/b604dcd8-f4cf-4a85-88ea-2cde532905a3/providers/Microsoft.Network/locations/eastasia/operations/e8ce8e06-aedf-4505-a1eb-2b3fd41434e0?api-version=**&t=638792388217767433&c=MIIHpTCCBo2gAwIBAgITfwTYu0qoRwcN0bP8jwAEBNi7SjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDIwHhcNMjUwMTIzMjA0ODUxWhcNMjUwNzIyMjA0ODUxWjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdjZXJ0aWZpY2F0[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/b604dcd8-f4cf-4a85-88ea-2cde532905a3/resourceGroups/standbyPoolRG-9463/providers/Microsoft.Network/virtualNetworks/testVNet-9023?api-version=**",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\"d934a717-8f6d-42ab-b7fd-8262907174c4\"",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "name": "testVNet-9023",
        "id": "/subscriptions/b604dcd8-f4cf-4a85-88ea-2cde532905a3/resourceGroups/standbyPoolRG-9463/providers/Microsoft.Network/virtualNetworks/testVNet-9023",
        "etag": "W/\"d934a717-8f6d-42ab-b7fd-8262907174c4\"",
        "type": "Microsoft.Network/virtualNetworks",
        "location": "eastasia",
        "properties": {
          "provisioningState": "Succeeded",
          "resourceGuid": "c0acc4d8-674b-4eaf-8e7b-112e9e04431a",
          "addressSpace": {
            "addressPrefixes": [
              "10.0.0.0/16"
            ]
          },
          "privateEndpointVNetPolicies": "Disabled",
          "subnets": [
            {
              "name": "testSubnet-7301",
              "id": "/subscriptions/b604dcd8-f4cf-4a85-88ea-2cde532905a3/resourceGroups/standbyPoolRG-9463/providers/Microsoft.Network/virtualNetworks/testVNet-9023/subnets/testSubnet-7301",
              "etag": "W/\"d934a717-8f6d-42ab-b7fd-8262907174c4\"",
              "properties": {
                "provisioningState": "Succeeded",
                "addressPrefix": "10.0.2.0/24",
                "delegations": [],
                "privateEndpointNetworkPolicies": "Disabled",
                "privateLinkServiceNetworkPolicies": "Enabled"
              },
              "type": "Microsoft.Network/virtualNetworks/subnets"
            }
          ],
          "virtualNetworkPeerings": [],
          "enableDdosProtection": false
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/b604dcd8-f4cf-4a85-88ea-2cde532905a3/resourceGroups/standbyPoolRG-9463/providers/Microsoft.Network/networkSecurityGroups/testVNetSecurityGroups-1815?api-version=**",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastasia"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
   [...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/b604dcd8-f4cf-4a85-88ea-2cde532905a3/providers/Microsoft.Network/locations/eastasia/operations/10544c3a-6e06-43fe-9b89-a217112725c0?api-version=**&t=638792388294742043&c=MIIHpTCCBo2gAwIBAgITfwTYu0qoRwcN0bP8jwAEBNi7SjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDIwHhcNMjUwMTIzMjA0ODUxWhcNMjUwNzIyMjA0ODUxWjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdjZXJ0aWZpY2F0[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/b604dcd8-f4cf-4a85-88ea-2cde532905a3/resourceGroups/standbyPoolRG-9463/providers/Microsoft.Network/networkSecurityGroups/testVNetSecurityGroups-1815?api-version=**",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\"29b05bbb-9760-4536-a908-34cd957c82e8\"",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "name": "testVNetSecurityGroups-1815",
        "id": "/subscriptions/b604dcd8-f4cf-4a85-88ea-2cde532905a3/resourceGroups/standbyPoolRG-9463/providers/Microsoft.Network/networkSecurityGroups/testVNetSecurityGroups-1815",
        "etag": "W/\"29b05bbb-9760-4536-a908-34cd957c82e8\"",
        "type": "Microsoft.Network/networkSecurityGroups",
        "location": "eastasia",
        "properties": {
          "provisioningState": "Succeeded",
          "resourceGuid": "cd635f88-0fee-4b4b-9b05-e2a5e7d01e22",
          "securityRules": [],
          "defaultSecurityRules": [
            {
              "name": "AllowVnetInBound",
              "id": "/subscriptions/b604dcd8-f4cf-4a85-88ea-2cde532905a3/resourceGroups/standbyPoolRG-9463/providers/Microsoft.Network/networkSecurityGroups/testVNetSecurityGroups-1815/defaultSecurityRules/AllowVnetInBound",
              "etag": "W/\"29b05bbb-9760-4536-a908-34cd957c82e8\"",
              "type": "Microsoft.Network/networkSecurityGroups/defaultSecurityRules",
              "properties": {
                "provisioningState": "Succeeded",
                "description": "Allow inbound traffic from all VMs in VNET",
                "protocol": "*",
                "sourcePortRange": "*",
                "destinationPortRange": "*",
                "sourceAddressPrefix": "VirtualNetwork",
                "destinationAddressPrefix": "VirtualNetwork",
                "access": "Allow",
                "priority": 65000,
                "direction": "Inbound",
                "sourcePortRanges": [],
                "destinationPortRanges": [],
                "sourceAddressPrefixes": [],
                "destinationAddressPrefixes": []
              }
            },
            {
              "name": "AllowAzureLoadBalancerInBound",
              "id": "/subscriptions/b604dcd8-f4cf-4a85-88ea-2cde532905a3/resourceGroups/standbyPoolRG-9463/providers/Microsoft.Network/networkSecurityGroups/testVNetSecurityGroups-1815/defaultSecurityRules/AllowAzureLoadBalancerInBound",
              "etag": "W/\"29b05bbb-9760-4536-a908-34cd957c82e8\"",
              "type": "Microsoft.Network/networkSecurityGroups/defaultSecurityRules",
    [...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/b604dcd8-f4cf-4a85-88ea-2cde532905a3/resourceGroups/standbyPoolRG-9463/providers/Microsoft.Compute/virtualMachineScaleSets/testVMSS-2642?api-version=2024-07-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastasia",
        "sku": {
          "name": "Standard_DS1_v2",
          "capacity": 0
        },
        "properties": {
          "virtualMachineProfile": {
            "osProfile": {
              "computerNamePrefix": "testVMSS",
              "adminUsername": "dummyAdmin",
              "adminPassword": "Sanitized",
              "linuxConfiguration": {
                "disablePasswordAuthentication": false,
                "ssh": {
                  "publicKeys": [
                    {
                      "path": "/home/dummyAdmin/.ssh/authorized_keys",
                      "keyData": "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQC+wWK73dCr+jgQOAxNsHAnNNNMEMWOHYEccp6wJm2gotpr9katuF/ZAdou5AaW1C61slRkHRkpRRX9FA9CYBiitZgvCCz+3nWNN7l/Up54Zps/pHWGZLHNJZRYyAB6j5yVLMVHIHriY49d/GZTZVNB8GoJv9Gakwc/fuEZYYl4YDFiGMBP///TzlI4jhiJzjKnEvqPFki5p2ZRJqcbCiF4pJrxUQR/RXqVFQdbRLZgYfJ8xGB878RENq3yQ39d8dVOkq4edbkzwcUmwwwkYVPIoDGsYLaRHnG+To7FvMeyO7xDVQkMKzopTQV8AuKpyvpqu0a9pWOMaiCyDytO7GGN you@me.com"
                    }
                  ]
                }
              }
            },
            "storageProfile": {
              "imageReference": {
                "publisher": "canonical",
                "offer": "0001-com-ubuntu-server-focal",
                "sku": "20_04-lts-gen2",
                "version": "latest"
              },
              "osDisk": {
                "caching": "ReadWrite",
                "createOption": "FromImage",
                "managedDisk": {
                  "storageAccountType": "Premium_LRS"
                }
              }
            },
            "networkProfile": {
              "networkInterfaceConfigurations": [
                {
                  "name": "testVMSS-2642",
                  "properties": {
                    "primary": true,
                    "enableAcceleratedNetworking": false,
                    "networkSecurityGroup": {
                      "id": "/subscriptions/b604dcd8-f4cf-4a85-88ea-2cde532905a3/resourceGroups/standbyPoolRG-9463/providers/Microsoft.Network/networkSecurityGroups/testVNetSecurityGroups-1815"
                    },
                    "ipConfigurations": [
                      {
                        "name": "testVMSS-2642",
                        "properties": {
                          "subnet": {
                            "id": "/subscriptions/b604dcd8-f4cf-4a85-88ea-2cde532905a3/resourceGroups/standbyPoolRG-9463/providers/Microsoft.Network/virtualNetworks/testVNet-9023/subnets/testSubnet-7301"
                          },
                          "publicIPAddressConfiguration": {
                            "name": "testVMSS-2642",
                            "properties": {
                              "idleTimeoutInMinutes": 15
                            }
                          }
                        }
                      }
                    ]
                  }
                }
              ],
              "networkApiVersion": "2020-11-01"
            },
            "diagnosticsProfile": {
              "bootDiagnostics": {
                "enabled": true
              }
            }
          },
          "platformFaultDomainCount": 1,
          "orchestrationMode": "Flexible"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "azure-asyncnotification": "Enabled",
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/b604dcd8-f4cf-4a85-88ea-2cde532905a3/providers/Microsoft.Compute/locations/eastasia/operations/8404f94f-2534-40f2-b7cd-978d768a1282?p=8a257356-465d-41cc-a75f-5c2732bfee9b&api-version=2024-07-01&t=638792388371494666&c=MIIHpTCCBo2gAwIBAgITfwTYu0qoRwcN0bP8jwAEBNi7SjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDIwHhcNMjUwMTIzMjA0ODUxWhcNMjUwNzIyMjA[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/b604dcd8-f4cf-4a85-88ea-2cde532905a3/providers/Microsoft.Compute/locations/eastasia/operations/8404f94f-2534-40f2-b7cd-978d768a1282?p=8a257356-465d-41cc-a75f-5c2732bfee9b&api-version=2024-07-01&t=638792388371494666&c=MIIHpTCCBo2gAwIBAgITfwTYu0qoRwcN0bP8jwAEBNi7SjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDIwHhcNMjUwMTIzMjA0ODUxWhcNMjUwNzIyMjA0ODUxWjBAMT4wPAYDV[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/b604dcd8-f4cf-4a85-88ea-2cde532905a3/resourceGroups/standbyPoolRG-9463/providers/Microsoft.Compute/virtualMachineScaleSets/testVMSS-2642?api-version=2024-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\"1\"",
        "x-ms-need-to-refresh-epl-cache": "False",
        "x-ms-ratelimit-remaining-resource": "Microsoft.Compute/GetVMScaleSetSubscriptionMaximum;2395,Microsoft.Compute/GetVMScaleSetResource;35",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "name": "testVMSS-2642",
        "id": "/subscriptions/b604dcd8-f4cf-4a85-88ea-2cde532905a3/resourceGroups/standbyPoolRG-9463/providers/Microsoft.Compute/virtualMachineScaleSets/testVMSS-2642",
        "type": "Microsoft.Compute/virtualMachineScaleSets",
        "location": "eastasia",
        "tags": {
          "azsecpack": "nonprod",
          "platformsettings.host_environment.service.platform_optedin_for_rootcerts": "true"
        },
        "sku": {
          "name": "Standard_DS1_v2",
          "tier": "Standard",
          "capacity": 0
        },
        "etag": "\"1\"",
        "properties": {
          "singlePlacementGroup": false,
          "highSpeedInterconnectPlacement": "None",
          "orchestrationMode": "Flexible",
          "upgradePolicy": {
            "mode": "Manual"
          },
          "virtualMachineProfile": {
            "osProfile": {
              "computerNamePrefix": "testVMSS",
              "adminUsername": "dummyAdmin",
              "linuxConfiguration": {
                "disablePasswordAuthentication": false,
                "ssh": {
                  "publicKeys": [
                    {
                      "path": "/home/dummyAdmin/.ssh/authorized_keys",
                      "keyData": "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQC+wWK73dCr+jgQOAxNsHAnNNNMEMWOHYEccp6wJm2gotpr9katuF/ZAdou5AaW1C61slRkHRkpRRX9FA9CYBiitZgvCCz+3nWNN7l/Up54Zps/pHWGZLHNJZRYyAB6j5yVLMVHIHriY49d/GZTZVNB8GoJv9Gakwc/fuEZYYl4YDFiGMBP///TzlI4jhiJzjKnEvqPFki5p2ZRJqcbCiF4pJrxUQR/RXqVFQdbRLZgYfJ8xGB878RENq3yQ39d8dVOkq4edbkzwcUmwwwkYVPIoDGsYLaRHnG+To7FvMeyO7xDVQkMKzopTQV8AuKpyvpqu0a9pWOMaiCyDytO7GGN you@me.com"
                    }
                  ]
                },
                "provisionVMAgent": true,
                "patchSettings": {
                  "patchMode": "ImageDefault",
                  "assessmentMode": "ImageDefault"
                }
              },
              "secrets": [],
              "allowExtensionOperations": true,
              "requireGuestProvisionSignal": true
            },
            "storageProfile": {
              "osDisk": {
                "osType": "Linux",
                "createOption": "FromImage",
                "caching": "ReadWrite",
                "managedDisk": {
                  "storageAccountType": "Premium_LRS"
                },
                "deleteOption": "Delete",
                "diskSizeGB": 30
              },
              "imageReference": {
                "publisher": "canonical",
                "offer": "0001-com-ubuntu-server-focal",
                "sku": "20_04-lts-gen2",
                "version": "latest"
              },
              "diskControllerType": "SCSI"
            },
            "networkProfile": {
              "networkApiVersion": "2020-11-01",
              "networkInterfaceConfigurations": [
                {
                  "name": "testVMSS-2642",
                  "properties": {
                    "primary": true,
                    "enableAcceleratedNetworking": false,
                    "disableTcpStateTracking": false,
                    "effectiveEnableAcceleratedNetworking": false,
                    "enableIPForwarding": false,
                    "auxiliaryMode": "None",
                    "auxiliarySku": "None",
                    "deleteOption": "Delete",
                    "ipConfigurations": [
                      {
                        "name": "testVMSS-2642",
                        "properties": {
                          "privateIPAddressVersion": "IPv4",
                          "subnet": {
                            "id": "/subscriptions/b604dcd8-f4cf-4a85-88ea-2cde532905a3/resourceGroups/standbyPoolRG-9463/providers/Microsoft.Network/virtualNetworks/testVNet-9023/subnets/testSubnet-7301"
                          },
                          "publicIPAddressConfiguration": {
                            "name": "testVMSS-2642",
                            "properties": {
                              "idleTimeoutInMinutes": 15,
                              "ipTags": [],
                              "publicIPAddressVersion": "IPv4"
                            }
                          },
                          "applicationSecurityGroups": [],
                          "loadBalancerBackendAddressPools": [],
                          "applicationGatewayBackendAddressPools": []
                        }
                      }
                    ],
                    "networkSecurityGroup": {
                      "id": "/subscriptions/b604dcd8-f4cf-4a85-88ea-2cde532905a3/resourceGroups/standbyPoolRG-9463/providers/Microsoft.Network/networkSecurityGroups/testVNetSecurityGroups-1815"
                    },
                    "dnsSettings": {
                      "dnsServers": []
                    }
                  }
                }
              ]
            },
            "diagnosticsProfile": {
              "bootDiagnostics": {
                "enabled": true
              }
            },
            "extensionProfile": {
              "extensions": [
                {
                  "name": "Microsoft.Azure.Monitor.AzureMonitorLinuxAgent",
                  "properties": {
                    "autoUpgradeMinorVersion": true,
                    "enableAutomaticUpgrade": true,
                    "publisher": "Microsoft.Azure.Monitor",
                    "type": "AzureMonitorLinuxAgent",
                    "typeHandlerVersion": "1.0",
                    "settings": {
                      "GCS_AUTO_CONFIG": true
                    }
                  }
                },
                {
                  "name": "Microsoft.Azure.Security.Monitoring.AzureSecurityLinuxAgent",
                  "properties": {
                    "autoUpgradeMinorVersion": true,
                    "enableAutomaticUpgrade": true,
                    "publisher": "Microsoft.Azure.Security.Monitoring",
                    "type": "AzureSecurityLinuxAgent",
                    "typeHandlerVersion": "2.0",
                    "settings": {
                      "enableGenevaUpload": true,
                      "enableAutoConfig": true,
                      "reportSuccessOnUnsupportedDistro": true
                    }
                  }
                }
              ]
            },
            "timeCreated": "2025-04-03T01:00:35.8298869+00:00"
          },
          "provisioningState": "Succeeded",
          "uniqueId": "c512eca1-3798-48ec-b2f2-2c6a32c43710",
          "platformFaultDomainCount": 1,
          "constrainedMaximumCapacity": false,
          "timeCreated": "2025-04-03T01:00:35.8298869+00:00"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/b604dcd8-f4cf-4a85-88ea-2cde532905a3/resourceGroups/standbyPoolRG-9463/providers/Microsoft.StandbyPool/standbyVirtualMachinePools/standbyVM-5609?api-version=2025-03-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastasia",
        "properties": {
          "elasticityProfile": {
            "maxReadyCapacity": 11,
            "minReadyCapacity": 1
          },
          "virtualMachineState": "Running",
          "attachedVirtualMachineScaleSetId": "/subscriptions/b604dcd8-f4cf-4a85-88ea-2cde532905a3/resourceGroups/standbyPoolRG-9463/providers/Microsoft.Compute/virtualMachineScaleSets/testVMSS-2642"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\"2e00b424-0000-1900-0000-67edddba0000\"",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-global-writes": "11999",
        "x-ms-ratelimit-remaining-subscription-writes": "19998"
      },
      "ResponseBody": {
        "id": "/subscriptions/b604dcd8-f4cf-4a85-88ea-2cde532905a3/resourceGroups/standbyPoolRG-9463/providers/Microsoft.StandbyPool/standbyVirtualMachinePools/standbyVM-5609",
        "name": "standbyVM-5609",
        "type": "microsoft.standbypool/standbyvirtualmachinepools",
        "location": "eastasia",
        "tags": {},
        "systemData": {
          "createdBy": "Sanitized",
          "createdByType": "User",
          "createdAt": "2025-04-03T01:00:41.5041641Z",
          "lastModifiedBy": "Sanitized",
          "lastModifiedByType": "User",
          "lastModifiedAt": "2025-04-03T01:00:41.5041641Z"
        },
        "properties": {
          "elasticityProfile": {
            "maxReadyCapacity": 11,
            "minReadyCapacity": 1
          },
          "virtualMachineState": "Running",
          "attachedVirtualMachineScaleSetId": "/subscriptions/b604dcd8-f4cf-4a85-88ea-2cde532905a3/resourceGroups/standbyPoolRG-9463/providers/Microsoft.Compute/virtualMachineScaleSets/testVMSS-2642",
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/b604dcd8-f4cf-4a85-88ea-2cde532905a3/providers/Microsoft.StandbyPool/standbyVirtualMachinePools?api-version=2025-03-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-original-request-ids": [
          "67d36f24-cf13-4b87-84b6-9b828bad1851",
          "21e949b9-6bfc-44ec-aff5-27abce18d42b",
          "279d5e9a-00a5-4f63-ac4d-802dc76ae41f",
          "a04cdaf3-5994-4e4d-8aef-369b65821b74",
          "79570c49-3563-404d-a99c-2185ef4c4210",
          "5d3b6f7d-9489-4240-9a5f-36b3c93513f9",
          "59ef7335-438e-49e2-8ec1-24cb663c8aa7",
          "25415c60-5ab6-42b8-b762-120813be905a",
          "5ba8b40c-a566-4963-93f2-0fe7336f6d39",
          "d763d375-b09e-487b-a7a0-970d6c7447af[...]
