{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.com/messages/channels/59aced66-68ae-4b7a-8430-36f4c5dfa328/templates?api-version=2023-02-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 26 Jul 2023 17:30:19 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2023-02-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "mk2ogWSx0U\u002Bi32BeiQlLTw.0",
        "X-Processing-Time": "338ms"
      },
      "ResponseBody": {
        "value": [
          {
            "name": "optin_confirmation",
            "language": "en_US",
            "channelType": "whatsApp",
            "status": "approved",
            "whatsApp": {
              "content": [
                {
                  "type": "BODY",
                  "text": "Reply {{1}} to receive {{2}}. Txt {{3}} for HELP, Txt {{4}} to opt-out.",
                  "example": {
                    "body_text": [
                      [
                        "Y",
                        "appointment reminders",
                        "HELP",
                        "STOP"
                      ]
                    ]
                  }
                }
              ]
            }
          },
          {
            "name": "sample_flight_confirmation",
            "language": "en_US",
            "channelType": "whatsApp",
            "status": "approved",
            "whatsApp": {
              "content": [
                {
                  "type": "HEADER",
                  "format": "DOCUMENT"
                },
                {
                  "type": "BODY",
                  "text": "This is your flight confirmation for {{1}}-{{2}} on {{3}}."
                },
                {
                  "type": "FOOTER",
                  "text": "This message is from an unverified business."
                }
              ]
            }
          },
          {
            "name": "sample_flight_confirmation",
            "language": "pt_BR",
            "channelType": "[...]
    {
      "RequestUri": "https://sanitized.communication.azure.com/messages/channels/59aced66-68ae-4b7a-8430-36f4c5dfa328/templates?api-version=2023-02-01-preview\u0026api-version=2023-02-01-preview\u0026continuationToken=MjQZD",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 26 Jul 2023 17:30:19 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2023-02-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "wwJzTJF5H0i4/Ojkd83qmw.0",
        "X-Processing-Time": "271ms"
      },
      "ResponseBody": {
        "value": [],
        "nextLink": "/messages/channels/59aced66-68ae-4b7a-8430-36f4c5dfa328/templates?api-version=2023-02-01-preview\u0026api-version=2023-02-01-preview\u0026continuationToken=MjQZD\u0026api-version=2023-02-01-preview\u0026continuationToken=NDkZD"
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://sanitized.communication.azure.com/;accesskey=Kg==",
    "RandomSeed": "509697157",
    "SENDER_CHANNEL_REGISTRATION_ID": "59aced66-68ae-4b7a-8430-36f4c5dfa328"
  }
}
