{
  "Entries": [
    {
      "RequestUri": "/subscriptions/930a85e2-eb62-46f1-90b0-9ec49005f84c/resourceGroups/hdicsharprg8974/providers/Microsoft.Storage/storageAccounts/hdicsharpstorage23740?api-version=2018-07-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"sku\": {\r\n    \"name\": \"Standard_GRS\"\r\n  },\r\n  \"kind\": \"Storage\",\r\n  \"location\": \"East US 2\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/930a85e2-eb62-46f1-90b0-9ec49005f84c/providers/Microsoft.Storage/locations/eastus2/asyncoperations/2889743c-55a7-4b84-9635-9da41689617a?monitor=true&api-version=2018-07-01"
        ],
        "Retry-After": [
          "17"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1198"
        ],
        "Content-Type": [
          "text/plain; charset=utf-8"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 202
    },
    {
      "RequestUri": "/subscriptions/930a85e2-eb62-46f1-90b0-9ec49005f84c/providers/Microsoft.Storage/locations/eastus2/asyncoperations/2889743c-55a7-4b84-9635-9da41689617a?monitor=true&api-version=2018-07-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11996"
        ],
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "{\r\n  \"sku\": {\r\n    \"name\": \"Standard_GRS\",\r\n    \"tier\": \"Standard\"\r\n  },\r\n  \"kind\": \"Storage\",\r\n  \"id\": \"/subscriptions/930a85e2-eb62-46f1-90b0-9ec49005f84c/resourceGroups/hdicsharprg8974/providers/Microsoft.Storage/storageAccounts/hdicsharpstorage23740\",\r\n  \"name\": \"hdicsharpstorage23740\",\r\n  \"type\": \"Microsoft.Storage/storageAccounts\",\r\n  \"location\": \"eastus2\",\r\n  \"tags\": {},\r\n  \"properties\": {\r\n    \"networkAcls\": {\r\n      \"bypass\": \"AzureServices\",\r\n      \"virtualNetworkRules\": [],\r\n      \"ipRules\": [],\r\n      \"defaultAction\": \"Allow\"\r\n    },\r\n    \"supportsHttpsTrafficOnly\": false,\r\n    \"encryption\": {\r\n      \"services\": {\r\n        \"file\": {\r\n          \"enabled\": true,\r\n          \"lastEnabledTime\": \"2019-01-31T05:45:55.2759471Z\"\r\n        },\r\n        \"blob\": {\r\n          \"enabled\": true,\r\n          \"lastEnabledTime\": \"2019-01-31T05:45:55.2759471Z\"\r\n        }\r\n      },\r\n      \"keySource\": \"Microsoft.Storage\"\r\n    },\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"creationTime\": \"2019-01-31T05:45:55.166564Z\",\r\n    \"primaryEndpoints\": {\r\n      \"blob\": \"https://hdicsharpstorage23740.blob.core.windows.net/\",\r\n      \"queue\": \"https://hdicsharpstorage23740.queue.core.windows.net/\",\r\n      \"table\": \"https://hdicsharpstorage23740.table.core.windows.net/\",\r\n      \"file\": \"https://hdicsharpstorage23740.file.core.windows.net/\"\r\n    },\r\n    \"primaryLocation\": \"eastus2\",\r\n    \"statusOfPrimary\": \"available\",\r\n    \"secondaryLocation\": \"centralus\",\r\n    \"statusOfSecondary\": \"available\"\r\n  }\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/930a85e2-eb62-46f1-90b0-9ec49005f84c/resourceGroups/hdicsharprg8974/providers/Microsoft.Storage/storageAccounts/hdicsharpstorage23740/listKeys?api-version=2018-07-01",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1198"
        ],
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "{\r\n  \"keys\": [\r\n    {\r\n      \"keyName\": \"key1\",\r\n      \"value\": \"5cXg7F0D7HwTSzlHH3SsWzyPDp8g46KG9QcI0IoGtKw/FGGQJ3gz9LXPFua4JnFvRfKgbPYWeMoOUPKnuA3tLA==\",\r\n      \"permissions\": \"FULL\"\r\n    },\r\n    {\r\n      \"keyName\": \"key2\",\r\n      \"value\": \"EXRSG7m9sU93LHyW3C6Ve1C6cfabY7OMi1O9Vyw849UtZsTsoAk92KQ58Lp1t22hAkYgfovZaT8FYyD4rmV+xA==\",\r\n      \"permissions\": \"FULL\"\r\n    }\r\n  ]\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/930a85e2-eb62-46f1-90b0-9ec49005f84c/resourceGroups/hdicsharprg8974/providers/Microsoft.HDInsight/clusters/hdisdk-additional9831?api-version=2018-06-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"East US 2\",\r\n  \"properties\": {\r\n    \"clusterVersion\": \"3.6\",\r\n    \"osType\": \"Linux\",\r\n    \"tier\": \"Standard\",\r\n    \"clusterDefinition\": {\r\n      \"kind\": \"Hadoop\",\r\n      \"configurations\": {\r\n        \"gateway\": {\r\n          \"restAuthCredential.isEnabled\": \"true\",\r\n          \"restAuthCredential.username\": \"admin3261\",\r\n          \"restAuthCredential.password\": \"Password19868\"\r\n        }\r\n      }\r\n    },\r\n    \"computeProfile\": {\r\n      \"roles\": [\r\n        {\r\n          \"name\": \"headnode\",\r\n          \"targetInstanceCount\": 2,\r\n          \"hardwareProfile\": {\r\n            \"vmSize\": \"Large\"\r\n          },\r\n          \"osProfile\": {\r\n            \"linuxOperatingSystemProfile\": {\r\n              \"username\": \"sshuser6250\",\r\n              \"password\": \"Password15660\"\r\n            }\r\n          }\r\n        },\r\n        {\r\n          \"name\": \"workernode\",\r\n          \"targetInstanceCount\": 3,\r\n          \"hardwareProfile\": {\r\n            \"vmSize\": \"Large\"\r\n          },\r\n          \"osProfile\": {\r\n            \"linuxOperatingSystemProfile\": {\r\n              \"username\": \"sshuser6250\",\r\n              \"password\": \"Password15660\"\r\n            }\r\n          }\r\n        },\r\n        {\r\n          \"name\": \"zookeepernode\",\r\n          \"targetInstanceCount\": 3,\r\n          \"hardwareProfile\": {\r\n            \"vmSize\": \"Small\"\r\n          },\r\n          \"osProfile\": {\r\n            \"linuxOperatingSystemProfile\": {\r\n              \"username\": \"sshuser6250\",\r\n              \"password\": \"Password15660\"\r\n            }\r\n          }\r\n        }\r\n      ]\r\n    },\r\n    \"storageProfile\": {\r\n      \"storageaccounts\": [\r\n        {\r\n          \"name\": \"hdicsharpstorage9907.blob.core.windows.net\",\r\n          \"isDefault\": true,\r\n          \"container\": \"default4714\",\r\n          \"key\": \"xrONAq6ueFDKbq3rOrXHqaNZLdRIQRbao798BsCiCVbVSdfzGaunwKWauQoD/IAk2I01SpUndeYJ6F+hfvENmA==\"\r\n        },\r\n        {\r\n          \"name\": \"hdicsharpstorage23740.blob.core.windows.net\",\r\n          \"isDefault\": false,\r\n          \"container\": \"default4714\",\r\n          \"key\": \"5cXg7F0D7HwTSzlHH3SsWzyPDp8g46KG9QcI0IoGtKw/FGGQJ3gz9LXPFua4JnFvRfKgbPYWeMoOUPKnuA3tLA==\"\r\n        }\r\n      ]\r\n    }\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "ETag": [
          "\"a6154b14-1e0c-45e6-bb0e-48cf9961cf68\""
        ],
        "x-ms-hdi-clusteruri": [
          "https://management.azure.com/subscriptions/930a85e2-eb62-46f1-90b0-9ec49005f84c/resourceGroups/hdicsharprg8974/providers/Microsoft.HDInsight/clusters/hdisdk-additional9831?api-version=2018-06-01-preview"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com:443/subscriptions/930a85e2-eb62-46f1-90b0-9ec49005f84c/resourceGroups/hdicsharprg8974/providers/Microsoft.HDInsight/clusters/hdisdk-additional9831/azureasyncoperations/create?api-version=2018-06-01-preview"
        ],
        "x-ms-hdi-served-by": [
          "global"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/930a85e2-eb62-46f1-90b0-9ec49005f84c/resourceGroups/hdicsharprg8974/providers/Microsoft.HDInsight/clusters/hdisdk-additional9831\",\r\n  \"name\": \"hdisdk-additional9831\",\r\n  \"type\": \"Microsoft.HDInsight/clusters\",\r\n  \"location\": \"East US 2\",\r\n  \"etag\": \"a6154b14-1e0c-45e6-bb0e-48cf9961cf68\",\r\n  \"tags\": null,\r\n  \"properties\": {\r\n    \"clusterVersion\": \"3.6.1000.67\",\r\n    \"clusterHdpVersion\": \"\",\r\n    \"osType\": \"Linux\",\r\n    \"clusterDefinition\": {\r\n      \"blueprint\": \"https://blueprints.azurehdinsight.net/hadoop-3.6.1000.67.1901050618.json\",\r\n      \"kind\": \"Hadoop\",\r\n      \"componentVersion\": {\r\n        \"Hadoop\": \"2.7\"\r\n      }\r\n    },\r\n    \"computeProfile\": {\r\n      \"roles\": [\r\n        {\r\n          \"name\": \"headnode\",\r\n          \"targetInstanceCount\": 2,\r\n          \"hardwareProfile\": {\r\n            \"vmSize\": \"Large\"\r\n          },\r\n          \"osProfile\": {\r\n            \"linuxOperatingSystemProfile\": {\r\n              \"username\": \"sshuser6250\"\r\n            }\r\n          },\r\n          \"encryptDataDisks\": false\r\n        },\r\n        {\r\n          \"name\": \"workernode\",\r\n          \"targetInstanceCount\": 3,\r\n          \"hardwareProfile\": {\r\n            \"vmSize\": \"Large\"\r\n          },\r\n          \"osProfile\": {\r\n            \"linuxOperatingSystemProfile\": {\r\n              \"username\": \"sshuser6250\"\r\n            }\r\n          },\r\n          \"encryptDataDisks\": false\r\n        },\r\n        {\r\n          \"name\": \"zookeepernode\",\r\n          \"targetInstanceCount\": 3,\r\n          \"hardwareProfile\": {\r\n            \"vmSize\": \"Medium\"\r\n          },\r\n          \"osProfile\": {\r\n            \"linuxOperatingSystemProfile\": {\r\n              \"username\": \"sshuser6250\"\r\n            }\r\n          },\r\n          \"encryptDataDisks\": false\r\n        }\r\n      ]\r\n    },\r\n    \"provisioningState\": \"InProgress\",\r\n    \"clusterState\": \"Accepted\",\r\n    \"createdDate\": \"2019-01-31T05:46:32.533\",\r\n    \"quotaInfo\": {\r\n      \"coresUsed\": 20\r\n    },\r\n    \"tier\": \"standard\"\r\n  }\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/930a85e2-eb62-46f1-90b0-9ec49005f84c/resourceGroups/hdicsharprg8974/providers/Microsoft.HDInsight/clusters/hdisdk-additional9831/azureasyncoperations/create?api-version=2018-06-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-hdi-served-by": [
          "global"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"status\": \"InProgress\"\r\n}",
      "StatusCode": 200
    },
[...]
