{
  "Entries": [
    {
      "RequestUri": "/subscriptions/415d9387-858a-40ed-87ac-c088e57da39f/resourceGroups/hdicsharprg4139/providers/Microsoft.HDInsight/clusters/hdisdk-schedulebased1967?api-version=2018-06-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"East US 2\",\r\n  \"properties\": {\r\n    \"clusterVersion\": \"3.6\",\r\n    \"osType\": \"Linux\",\r\n    \"tier\": \"Standard\",\r\n    \"clusterDefinition\": {\r\n      \"kind\": \"Hadoop\",\r\n      \"configurations\": {\r\n        \"gateway\": {\r\n          \"restAuthCredential.isEnabled\": \"true\",\r\n          \"restAuthCredential.username\": \"admin9101\",\r\n          \"restAuthCredential.password\": \"Password1!2256\"\r\n        }\r\n      }\r\n    },\r\n    \"computeProfile\": {\r\n      \"roles\": [\r\n        {\r\n          \"name\": \"headnode\",\r\n          \"targetInstanceCount\": 2,\r\n          \"hardwareProfile\": {\r\n            \"vmSize\": \"Large\"\r\n          },\r\n          \"osProfile\": {\r\n            \"linuxOperatingSystemProfile\": {\r\n              \"username\": \"sshuser5121\",\r\n              \"password\": \"Password1!2932\"\r\n            }\r\n          }\r\n        },\r\n        {\r\n          \"name\": \"workernode\",\r\n          \"targetInstanceCount\": 3,\r\n          \"autoscale\": {\r\n            \"recurrence\": {\r\n              \"timeZone\": \"China Standard Time\",\r\n              \"schedule\": [\r\n                {\r\n                  \"days\": [\r\n                    \"Thursday\"\r\n                  ],\r\n                  \"timeAndCapacity\": {\r\n                    \"time\": \"16:00\",\r\n                    \"minInstanceCount\": 4,\r\n                    \"maxInstanceCount\": 4\r\n                  }\r\n                }\r\n              ]\r\n            }\r\n          },\r\n          \"hardwareProfile\": {\r\n            \"vmSize\": \"Large\"\r\n          },\r\n          \"osProfile\": {\r\n            \"linuxOperatingSystemProfile\": {\r\n              \"username\": \"sshuser5121\",\r\n              \"password\": \"Password1!2932\"\r\n            }\r\n          }\r\n        },\r\n        {\r\n          \"name\": \"zookeepernode\",\r\n          \"targetInstanceCount\": 3,\r\n          \"hardwareProfile\": {\r\n            \"vmSize\": \"Small\"\r\n          },\r\n          \"osProfile\": {\r\n            \"linuxOperatingSystemProfile\": {\r\n              \"username\": \"sshuser5121\",\r\n              \"password\": \"Password1!2932\"\r\n            }\r\n          }\r\n        }\r\n      ]\r\n    },\r\n    \"storageProfile\": {\r\n      \"storageaccounts\": [\r\n        {\r\n          \"name\": \"hdicsharpstorage8759.blob.core.windows.net\",\r\n          \"isDefault\": true,\r\n          \"container\": \"default336\",\r\n          \"key\": \"13WyBCkXtoW0XtOqWKghhDAiU0Mwa+YKS49QuxPXDpq682BDovrLju2BSZ7Jpa9rhAswOmGg2PMTZQNvwVoP1Q==\"\r\n        }\r\n      ]\r\n    }\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "ETag": [
          "\"c4873bac-5636-4a46-9bf6-4692bbca7784\""
        ],
        "x-ms-hdi-clusteruri": [
          "https://management.azure.com/subscriptions/415d9387-858a-40ed-87ac-c088e57da39f/resourceGroups/hdicsharprg4139/providers/Microsoft.HDInsight/clusters/hdisdk-schedulebased1967?api-version=2018-06-01-preview"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com:443/subscriptions/415d9387-858a-40ed-87ac-c088e57da39f/resourceGroups/hdicsharprg4139/providers/Microsoft.HDInsight/clusters/hdisdk-schedulebased1967/azureasyncoperations/create?api-version=2018-06-01-preview"
        ],
        "x-ms-hdi-served-by": [
          "global"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1198"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/415d9387-858a-40ed-87ac-c088e57da39f/resourceGroups/hdicsharprg4139/providers/Microsoft.HDInsight/clusters/hdisdk-schedulebased1967\",\r\n  \"name\": \"hdisdk-schedulebased1967\",\r\n  \"type\": \"Microsoft.HDInsight/clusters\",\r\n  \"location\": \"East US 2\",\r\n  \"etag\": \"c4873bac-5636-4a46-9bf6-4692bbca7784\",\r\n  \"tags\": null,\r\n  \"properties\": {\r\n    \"clusterVersion\": \"3.6.1000.67\",\r\n    \"clusterHdpVersion\": \"\",\r\n    \"osType\": \"Linux\",\r\n    \"clusterDefinition\": {\r\n      \"blueprint\": \"https://blueprints.azurehdinsight.net/hadoop-3.6.1000.67.1907200859.json\",\r\n      \"kind\": \"Hadoop\",\r\n      \"componentVersion\": {\r\n        \"Hadoop\": \"2.7\"\r\n      }\r\n    },\r\n    \"computeProfile\": {\r\n      \"roles\": [\r\n        {\r\n          \"name\": \"headnode\",\r\n          \"targetInstanceCount\": 2,\r\n          \"hardwareProfile\": {\r\n            \"vmSize\": \"standard_a4_v2\"\r\n          },\r\n          \"osProfile\": {\r\n            \"linuxOperatingSystemProfile\": {\r\n              \"username\": \"sshuser5121\"\r\n            }\r\n          },\r\n          \"encryptDataDisks\": false\r\n        },\r\n        {\r\n          \"name\": \"workernode\",\r\n          \"targetInstanceCount\": 3,\r\n          \"autoscale\": {\r\n            \"recurrence\": {\r\n              \"timeZone\": \"China Standard Time\",\r\n              \"schedule\": [\r\n                {\r\n                  \"days\": [\r\n                    \"Thursday\"\r\n                  ],\r\n                  \"timeAndCapacity\": {\r\n                    \"time\": \"16:00\",\r\n                    \"minInstanceCount\": 4,\r\n                    \"maxInstanceCount\": 4\r\n                  }\r\n                }\r\n              ]\r\n            }\r\n          },\r\n          \"hardwareProfile\": {\r\n            \"vmSize\": \"standard_a4_v2\"\r\n          },\r\n          \"osProfile\": {\r\n            \"linuxOperatingSystemProfile\": {\r\n              \"username\": \"sshuser5121\"\r\n            }\r\n          },\r\n          \"encryptDataDisks\": false\r\n        },\r\n        {\r\n          \"name\": \"zookeepernode\",\r\n          \"targetInstanceCount\": 3,\r\n          \"hardwareProfile\": {\r\n            \"vmSize\": \"standard_a2_v2\"\r\n          },\r\n          \"osProfile\": {\r\n            \"linuxOperatingSystemProfile\": {\r\n              \"username\": \"sshuser5121\"\r\n            }\r\n          },\r\n          \"encryptDataDisks\": false\r\n        }\r\n      ]\r\n    },\r\n    \"provisioningState\": \"InProgress\",\r\n    \"clusterState\": \"Accepted\",\r\n    \"createdDate\": \"2019-08-12T02:51:24.22\",\r\n    \"quotaInfo\": {\r\n      \"coresUsed\": 20\r\n    },\r\n    \"tier\": \"standard\",\r\n    \"storageProfile\": {\r\n      \"storageaccounts\": [\r\n        {\r\n          \"name\": \"hdicsharpstorage8759.blob.core.windows.net\",\r\n          \"resourceId\": null,\r\n          \"msiResourceId\": null,\r\n          \"key\": null,\r\n          \"fileSystem\": null,\r\n          \"container\": \"default336\",\r\n          \"saskey\": null,\r\n          \"isDefault\": true\r\n        }\r\n      ]\r\n    }\r\n  }\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/415d9387-858a-40ed-87ac-c088e57da39f/resourceGroups/hdicsharprg4139/providers/Microsoft.HDInsight/clusters/hdisdk-schedulebased1967/azureasyncoperations/create?api-version=2018-06-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-hdi-served-by": [
          "global"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11997"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"status\": \"InProgress\"\r\n}",
      "StatusCode": 200
    },
[...]
