{
  "Entries": [
    {
      "RequestUri": "/subscriptions/75e9580a-53ee-4425-bb34-e340883a3076/resourceGroups/hdicsharprg2220/providers/Microsoft.Storage/storageAccounts/hdicsharpadlsv2190?api-version=2018-07-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"sku\": {\r\n    \"name\": \"Standard_GRS\"\r\n  },\r\n  \"kind\": \"StorageV2\",\r\n  \"location\": \"East US 2\",\r\n  \"properties\": {\r\n    \"isHnsEnabled\": true\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/75e9580a-53ee-4425-bb34-e340883a3076/providers/Microsoft.Storage/locations/eastus2/asyncoperations/723bdaad-e1aa-4282-8f70-c5ae513976ef?monitor=true&api-version=2018-07-01"
        ],
        "Retry-After": [
          "17"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1198"
        ],
        "Content-Type": [
          "text/plain; charset=utf-8"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 202
    },
    {
      "RequestUri": "/subscriptions/75e9580a-53ee-4425-bb34-e340883a3076/providers/Microsoft.Storage/locations/eastus2/asyncoperations/723bdaad-e1aa-4282-8f70-c5ae513976ef?monitor=true&api-version=2018-07-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11997"
        ],
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "{\r\n  \"sku\": {\r\n    \"name\": \"Standard_GRS\",\r\n    \"tier\": \"Standard\"\r\n  },\r\n  \"kind\": \"StorageV2\",\r\n  \"id\": \"/subscriptions/75e9580a-53ee-4425-bb34-e340883a3076/resourceGroups/hdicsharprg2220/providers/Microsoft.Storage/storageAccounts/hdicsharpadlsv2190\",\r\n  \"name\": \"hdicsharpadlsv2190\",\r\n  \"type\": \"Microsoft.Storage/storageAccounts\",\r\n  \"location\": \"eastus2\",\r\n  \"tags\": {},\r\n  \"properties\": {\r\n    \"isHnsEnabled\": true,\r\n    \"networkAcls\": {\r\n      \"bypass\": \"AzureServices\",\r\n      \"virtualNetworkRules\": [],\r\n      \"ipRules\": [],\r\n      \"defaultAction\": \"Allow\"\r\n    },\r\n    \"supportsHttpsTrafficOnly\": false,\r\n    \"encryption\": {\r\n      \"services\": {\r\n        \"file\": {\r\n          \"enabled\": true,\r\n          \"lastEnabledTime\": \"2019-03-14T09:35:49.7427658Z\"\r\n        },\r\n        \"blob\": {\r\n          \"enabled\": true,\r\n          \"lastEnabledTime\": \"2019-03-14T09:35:49.7427658Z\"\r\n        }\r\n      },\r\n      \"keySource\": \"Microsoft.Storage\"\r\n    },\r\n    \"accessTier\": \"Hot\",\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"creationTime\": \"2019-03-14T09:35:49.4615131Z\",\r\n    \"primaryEndpoints\": {\r\n      \"dfs\": \"https://hdicsharpadlsv2190.dfs.core.windows.net/\",\r\n      \"web\": \"https://hdicsharpadlsv2190.z20.web.core.windows.net/\",\r\n      \"blob\": \"https://hdicsharpadlsv2190.blob.core.windows.net/\",\r\n      \"queue\": \"https://hdicsharpadlsv2190.queue.core.windows.net/\",\r\n      \"table\": \"https://hdicsharpadlsv2190.table.core.windows.net/\",\r\n      \"file\": \"https://hdicsharpadlsv2190.file.core.windows.net/\"\r\n    },\r\n    \"primaryLocation\": \"eastus2\",\r\n    \"statusOfPrimary\": \"available\",\r\n    \"secondaryLocation\": \"centralus\",\r\n    \"statusOfSecondary\": \"available\"\r\n  }\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/75e9580a-53ee-4425-bb34-e340883a3076/resourceGroups/hdicsharprg2220/providers/Microsoft.Storage/storageAccounts/hdicsharpadlsv2190/listKeys?api-version=2018-07-01",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1198"
        ],
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "{\r\n  \"keys\": [\r\n    {\r\n      \"keyName\": \"key1\",\r\n      \"value\": \"mQLgf33IbI2KEPUNqIzlUM9Vo71IVWe2ypT9SpSj+oj4VyVzcZy80lUQK4DB+rxeNw0La3iKpaI6YIhwTstt7A==\",\r\n      \"permissions\": \"FULL\"\r\n    },\r\n    {\r\n      \"keyName\": \"key2\",\r\n      \"value\": \"gMFYeZe7NsoyejJ4+ccwMGbVg4VqAXt+NJn322IyjQ0QiSK4MpIG/QH9Fn85SGkt580t5A/jFkXL7FS5TCHXrA==\",\r\n      \"permissions\": \"FULL\"\r\n    }\r\n  ]\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/75e9580a-53ee-4425-bb34-e340883a3076/resourceGroups/hdicsharprg2220/providers/Microsoft.ManagedIdentity/userAssignedIdentities/hdicsharpmsi842?api-version=2015-08-31-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"East US 2\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Location": [
          "/subscriptions/75e9580a-53ee-4425-bb34-e340883a3076/resourcegroups/hdicsharprg2220/providers/Microsoft.ManagedIdentity/userAssignedIdentities/hdicsharpmsi842"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/75e9580a-53ee-4425-bb34-e340883a3076/resourcegroups/hdicsharprg2220/providers/Microsoft.ManagedIdentity/userAssignedIdentities/hdicsharpmsi842\",\r\n  \"name\": \"hdicsharpmsi842\",\r\n  \"type\": \"Microsoft.ManagedIdentity/userAssignedIdentities\",\r\n  \"location\": \"eastus2\",\r\n  \"tags\": {},\r\n  \"properties\": {\r\n    \"tenantId\": \"82112b53-45f2-4d76-9546-4546bb97235d\",\r\n    \"principalId\": \"0513ee68-ce1f-4d3c-abfc-0ce25ebb9932\",\r\n    \"clientId\": \"47d4c6eb-8be4-4019-afce-e0d608a52ce2\",\r\n    \"clientSecretUrl\": \"https://control-eastus2.identity.azure.net/subscriptions/75e9580a-53ee-4425-bb34-e340883a3076/resourcegroups/hdicsharprg2220/providers/Microsoft.ManagedIdentity/userAssignedIdentities/hdicsharpmsi842/credentials?tid=82112b53-45f2-4d76-9546-4546bb97235d&oid=0513ee68-ce1f-4d3c-abfc-0ce25ebb9932&aid=47d4c6eb-8be4-4019-afce-e0d608a52ce2\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "//subscriptions/75e9580a-53ee-4425-bb34-e340883a3076/resourceGroups/hdicsharprg2220/providers/Microsoft.Storage/storageAccounts/hdicsharpadlsv2190/providers/Microsoft.Authorization/roleDefinitions?api-version=2018-01-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-request-charge": [
          "1"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"properties\": {\r\n        \"roleName\": \"HDInsight cluster writer.\",\r\n        \"type\": \"CustomRole\",\r\n        \"description\": \"Allows a user to write a cluster.\",\r\n        \"assignableScopes\": [\r\n          \"/subscriptions/75e9580a-53ee-4425-bb34-e340883a3076\"\r\n        ],\r\n        \"permissions\": [\r\n          {\r\n            \"actions\": [\r\n              \"Microsoft.HDInsight/clusters/*\"\r\n            ],\r\n            \"notActions\": [],\r\n            \"dataActions\": [],\r\n            \"notDataActions\": []\r\n          }\r\n        ],\r\n        \"createdOn\": \"2018-10-26T21:19:08.4612156Z\",\r\n        \"updatedOn\": \"2018-10-26T22:28:02.0747032Z\",\r\n        \"createdBy\": \"3f9d3fbb-46e8-43d1-9d82-3d1dd5db2ae7\",\r\n        \"updatedBy\": \"3f9d3fbb-46e8-43d1-9d82-3d1dd5db2ae7\"\r\n      },\r\n      \"id\": \"/subscriptions/75e9580a-53ee-4425-bb34-e340883a3076/providers/Microsoft.Authorization/roleDefinitions/ffffffff-cc56-434a-8c6b-5cea8616e0ac\",\r\n      \"type\": \"Microsoft.Authorization/roleDefinitions\",\r\n      \"name\": \"ffffffff-cc56-434a-8c6b-5cea8616e0ac\"\r\n    },\r\n    {\r\n      \"properties\": {\r\n        \"roleName\": \"Storage Container Owner\",\r\n        \"type\": \"CustomRole\",\r\n        \"description[...]
    {
      "RequestUri": "//subscriptions/75e9580a-53ee-4425-bb34-e340883a3076/resourceGroups/hdicsharprg2220/providers/Microsoft.Storage/storageAccounts/hdicsharpadlsv2190/providers/Microsoft.Authorization/roleAssignments/d75bdf85-c4be-4b5a-a298-5bedc8164559?api-version=2018-09-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"roleDefinitionId\": \"/subscriptions/75e9580a-53ee-4425-bb34-e340883a3076/providers/Microsoft.Authorization/roleDefinitions/ba92f5b4-2d11-453d-a403-e96b0029c9fe\",\r\n    \"principalId\": \"0513ee68-ce1f-4d3c-abfc-0ce25ebb9932\",\r\n    \"canDelegate\": false\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "x-ms-request-charge": [
          "3"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"roleDefinitionId\": \"/subscriptions/75e9580a-53ee-4425-bb34-e340883a3076/providers/Microsoft.Authorization/roleDefinitions/ba92f5b4-2d11-453d-a403-e96b0029c9fe\",\r\n    \"principalId\": \"0513ee68-ce1f-4d3c-abfc-0ce25ebb9932\",\r\n    \"principalType\": \"ServicePrincipal\",\r\n    \"scope\": \"/subscriptions/75e9580a-53ee-4425-bb34-e340883a3076/resourceGroups/hdicsharprg2220/providers/Microsoft.Storage/storageAccounts/hdicsharpadlsv2190\",\r\n    \"createdOn\": \"2019-03-14T09:37:12.4173611Z\",\r\n    \"updatedOn\": \"2019-03-14T09:37:12.4173611Z\",\r\n    \"createdBy\": null,\r\n    \"updatedBy\": \"8de290e7-a867-42f8-96c4-00c452d1d399\"\r\n  },\r\n  \"id\": \"/subscriptions/75e9580a-53ee-4425-bb34-e340883a3076/resourceGroups/hdicsharprg2220/providers/Microsoft.Storage/storageAccounts/hdicsharpadlsv2190/providers/Microsoft.Authorization/roleAssignments/d75bdf85-c4be-4b5a-a298-5bedc8164559\",\r\n  \"type\": \"Microsoft.Authorization/roleAssignments\",\r\n  \"name\": \"d75bdf85-c4be-4b5a-a298-5bedc8164559\"\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/75e9580a-53ee-4425-bb34-e340883a3076/resourceGroups/hdicsharprg2220/providers/Microsoft.HDInsight/clusters/hdisdk-adlgen2345?api-version=2018-06-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"East US 2\",\r\n  \"properties\": {\r\n    \"clusterVersion\": \"3.6\",\r\n    \"osType\": \"Linux\",\r\n    \"tier\": \"Standard\",\r\n    \"clusterDefinition\": {\r\n      \"kind\": \"Hadoop\",\r\n      \"configurations\": {\r\n        \"gateway\": {\r\n          \"restAuthCredential.isEnabled\": \"true\",\r\n          \"restAuthCredential.username\": \"admin5817\",\r\n          \"restAuthCredential.password\": \"Password17335\"\r\n        }\r\n      }\r\n    },\r\n    \"computeProfile\": {\r\n      \"roles\": [\r\n        {\r\n          \"name\": \"headnode\",\r\n          \"targetInstanceCount\": 2,\r\n          \"hardwareProfile\": {\r\n            \"vmSize\": \"Large\"\r\n          },\r\n          \"osProfile\": {\r\n            \"linuxOperatingSystemProfile\": {\r\n              \"username\": \"sshuser2700\",\r\n              \"password\": \"Password1158\"\r\n            }\r\n          }\r\n        },\r\n        {\r\n          \"name\": \"workernode\",\r\n          \"targetInstanceCount\": 3,\r\n          \"hardwareProfile\": {\r\n            \"vmSize\": \"Large\"\r\n          },\r\n          \"osProfile\": {\r\n            \"linuxOperatingSystemProfile\": {\r\n              \"username\": \"sshuser2700\",\r\n              \"password\": \"Password1158\"\r\n            }\r\n          }\r\n        },\r\n        {\r\n          \"name\": \"zookeepernode\",\r\n          \"targetInstanceCount\": 3,\r\n          \"hardwareProfile\": {\r\n            \"vmSize\": \"Small\"\r\n          },\r\n          \"osProfile\": {\r\n            \"linuxOperatingSystemProfile\": {\r\n              \"username\": \"sshuser2700\",\r\n              \"password\": \"Password1158\"\r\n            }\r\n          }\r\n        }\r\n      ]\r\n    },\r\n    \"storageProfile\": {\r\n      \"storageaccounts\": [\r\n        {\r\n          \"name\": \"hdicsharpadlsv2190.dfs.core.windows.net\",\r\n          \"isDefault\": true,\r\n          \"fileSystem\": \"default2127\",\r\n          \"resourceId\": \"/subscriptions/75e9580a-53ee-4425-bb34-e340883a3076/resourceGroups/hdicsharprg2220/providers/Microsoft.Storage/storageAccounts/hdicsharpadlsv2190\",\r\n          \"msiResourceId\": \"/subscriptions/75e9580a-53ee-4425-bb34-e340883a3076/resourcegroups/hdicsharprg2220/providers/Microsoft.ManagedIdentity/userAssignedIdentities/hdicsharpmsi842\"\r\n        },\r\n        {\r\n          \"name\": \"hdicsharpstorage1232.blob.core.windows.net\",\r\n          \"isDefault\": false,\r\n          \"container\": \"default2127\",\r\n          \"key\": \"vAkIbjuDmV9gL4Unfuu1NkAXoFm4WdkITx/VPAZDjdpj4W1uEyn+je9+7lAl/Uf7itT5UWpKbjUSW/fP6OhLxg==\"\r\n        }\r\n      ]\r\n    }\r\n  },\r\n  \"identity\": {\r\n    \"type\": \"UserAssigned\",\r\n    \"userAssignedIdentities\": {\r\n      \"/subscriptions/75e9580a-53ee-4425-bb34-e340883a3076/resourcegroups/hdicsharprg2220/providers/Microsoft.ManagedIdentity/userAssignedIdentities/hdicsharpmsi842\": {}\r\n    }\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "ETag": [
          "\"c01970e1-f748-4320-9399-132e63b65099\""
        ],
        "x-ms-hdi-clusteruri": [
          "https://management.azure.com/subscriptions/75e9580a-53ee-4425-bb34-e340883a3076/resourceGroups/hdicsharprg2220/providers/Microsoft.HDInsight/clusters/hdisdk-adlgen2345?api-version=2018-06-01-preview"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com:443/subscriptions/75e9580a-53ee-4425-bb34-e340883a3076/resourceGroups/hdicsharprg2220/providers/Microsoft.HDInsight/clusters/hdisdk-adlgen2345/azureasyncoperations/create?api-version=2018-06-01-preview"
        ],
        "x-ms-hdi-served-by": [
          "southcentralus"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/75e9580a-53ee-4425-bb34-e340883a3076/resourceGroups/hdicsharprg2220/providers/Microsoft.HDInsight/clusters/hdisdk-adlgen2345\",\r\n  \"name\": \"hdisdk-adlgen2345\",\r\n  \"type\": \"Microsoft.HDInsight/clusters\",\r\n  \"location\": \"East US 2\",\r\n  \"etag\": \"c01970e1-f748-4320-9399-132e63b65099\",\r\n  \"tags\": null,\r\n  \"properties\": {\r\n    \"clusterVersion\": \"3.6.1000.67\",\r\n    \"clusterHdpVersion\": \"\",\r\n    \"osType\": \"Linux\",\r\n    \"clusterDefinition\": {\r\n      \"blueprint\": \"https://blueprints.azurehdinsight.net/hadoop-3.6.1000.67.1903131947.json\",\r\n      \"kind\": \"Hadoop\",\r\n      \"componentVersion\": {\r\n        \"Hadoop\": \"2.7\"\r\n      }\r\n    },\r\n    \"computeProfile\": {\r\n      \"roles\": [\r\n        {\r\n          \"name\": \"headnode\",\r\n          \"targetInstanceCount\": 2,\r\n          \"hardwareProfile\": {\r\n            \"vmSize\": \"Large\"\r\n          },\r\n          \"osProfile\": {\r\n            \"linuxOperatingSystemProfile\": {\r\n              \"username\": \"sshuser2700\"\r\n            }\r\n          },\r\n          \"encryptDataDisks\": false\r\n        },\r\n        {\r\n          \"name\": \"workernode\",\r\n          \"targetInstanceCount\": 3,\r\n          \"hardwareProfile\": {\r\n            \"vmSize\": \"Large\"\r\n          },\r\n          \"osProfile\": {\r\n            \"linuxOperatingSystemProfile\": {\r\n              \"username\": \"sshuser2700\"\r\n            }\r\n          },\r\n          \"encryptDataDisks\": false\r\n        },\r\n        {\r\n          \"name\": \"zookeepernode\",\r\n          \"targetInstanceCount\": 3,\r\n          \"hardwareProfile\": {\r\n            \"vmSize\": \"Medium\"\r\n          },\r\n          \"osProfile\": {\r\n            \"linuxOperatingSystemProfile\": {\r\n              \"username\": \"sshuser2700\"\r\n            }\r\n          },\r\n          \"encryptDataDisks\": false\r\n        }\r\n      ]\r\n    },\r\n    \"provisioningState\": \"InProgress\",\r\n    \"clusterState\": \"Accepted\",\r\n    \"createdDate\": \"2019-03-14T09:37:23.24\",\r\n    \"quotaInfo\": {\r\n      \"coresUsed\": 20\r\n    },\r\n    \"tier\": \"standard\",\r\n    \"storageProfile\": {\r\n      \"storageaccounts\": [\r\n        {\r\n          \"name\": \"hdicsharpadlsv2190.dfs.core.windows.net\",\r\n          \"resourceId\": \"/subscriptions/75e9580a-53ee-4425-bb34-e340883a3076/resourceGroups/hdicsharprg2220/providers/Microsoft.Storage/storageAccounts/hdicsharpadlsv2190\",\r\n          \"msiResourceId\": \"/subscriptions/75e9580a-53ee-4425-bb34-e340883a3076/resourcegroups/hdicsharprg2220/providers/Microsoft.ManagedIdentity/userAssignedIdentities/hdicsharpmsi842\",\r\n          \"key\": null,\r\n          \"fileSystem\": \"default2127\",\r\n          \"container\": null,\r\n          \"saskey\": null,\r\n          \"isDefault\": true\r\n        },\r\n        {\r\n          \"name\": \"hdicsharpstorage1232.blob.core.windows.net\",\r\n          \"resourceId\": null,\r\n          \"msiResourceId\": null,\r\n          \"key\": null,\r\n          \"fileSystem\": null,\r\n          \"container\": \"default2127\",\r\n          \"saskey\": null,\r\n          \"isDefault\": false\r\n        }\r\n      ]\r\n    }\r\n  },\r\n  \"identity\": {\r\n    \"type\": \"UserAssigned\",\r\n    \"userAssignedIdentities\": {\r\n      \"/subscriptions/75e9580a-53ee-4425-bb34-e340883a3076/resourcegroups/hdicsharprg2220/providers/microsoft.managedidentity/userassignedidentities/hdicsharpmsi842\": {}\r\n    }\r\n  }\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/75e9580a-53ee-4425-bb34-e340883a3076/resourceGroups/hdicsharprg2220/providers/Microsoft.HDInsight/clusters/hdisdk-adlgen2345/azureasyncoperations/create?api-version=2018-06-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-hdi-served-by": [
          "southcentralus"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"status\": \"InProgress\"\r\n}",
      "StatusCode": 200
    },
[...]
