{
  "Entries": [
    {
      "RequestUri": "/subscriptions/e84c57ba-ca1d-4559-8944-78ab65ea3ccc/resourceGroups/hdicsharprg2916/providers/Microsoft.HDInsight/clusters/hdisdk-cluster5564?api-version=2018-06-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "x-ms-failure-cause": [
          "gateway"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"LocationRequired\",\r\n    \"message\": \"The location property is required for this definition.\"\r\n  }\r\n}",
      "StatusCode": 400
    }
  ],
  "Names": {
    ".ctor": [
      "admin7171",
      "Password16277",
      "sshuser6199",
      "Password17277",
      "fc292138-115c-47c3-a8f9-57a36e10a637",
      "hdicsharprg2916",
      "hdicsharpstorage1863",
      "hdicsharpmsi2022",
      "hdicsharpvault434",
      "hdicsharpadls6196",
      "default2443",
      "storageaccountkey3911",
      "e84c57ba-ca1d-4559-8944-78ab65ea3ccc"
    ],
    "TestCreateWithEmptyExtendedParameters": [
      "hdisdk-cluster5564"
    ]
  },
  "Variables": {
    "SubscriptionId": "e84c57ba-ca1d-4559-8944-78ab65ea3ccc"
  }
}
