{
  "Entries": [
    {
      "RequestUri": "/subscriptions/6a23d3fd-47c4-4ef9-a07c-3bdce8d0ff9d/resourceGroups/hdicsharprg7428/providers/Microsoft.HDInsight/clusters/hdisdk-encryptionathost2619?api-version=2021-06-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"South Central US\",\r\n  \"properties\": {\r\n    \"clusterVersion\": \"3.6\",\r\n    \"osType\": \"Linux\",\r\n    \"tier\": \"Standard\",\r\n    \"clusterDefinition\": {\r\n      \"kind\": \"Spark\",\r\n      \"configurations\": {\r\n        \"gateway\": {\r\n          \"restAuthCredential.isEnabled\": \"true\",\r\n          \"restAuthCredential.username\": \"admin5093\",\r\n          \"restAuthCredential.password\": \"Password1!4839\"\r\n        }\r\n      }\r\n    },\r\n    \"computeProfile\": {\r\n      \"roles\": [\r\n        {\r\n          \"name\": \"headnode\",\r\n          \"targetInstanceCount\": 2,\r\n          \"hardwareProfile\": {\r\n            \"vmSize\": \"Standard_DS14_v2\"\r\n          },\r\n          \"osProfile\": {\r\n            \"linuxOperatingSystemProfile\": {\r\n              \"username\": \"sshuser1649\",\r\n              \"password\": \"Password1!3649\"\r\n            }\r\n          }\r\n        },\r\n        {\r\n          \"name\": \"workernode\",\r\n          \"targetInstanceCount\": 3,\r\n          \"hardwareProfile\": {\r\n            \"vmSize\": \"Standard_DS14_v2\"\r\n          },\r\n          \"osProfile\": {\r\n            \"linuxOperatingSystemProfile\": {\r\n              \"username\": \"sshuser1649\",\r\n              \"password\": \"Password1!3649\"\r\n            }\r\n          }\r\n        },\r\n        {\r\n          \"name\": \"zookeepernode\",\r\n          \"targetInstanceCount\": 3,\r\n          \"hardwareProfile\": {\r\n            \"vmSize\": \"Standard_DS14_v2\"\r\n          },\r\n          \"osProfile\": {\r\n            \"linuxOperatingSystemProfile\": {\r\n              \"username\": \"sshuser1649\",\r\n              \"password\": \"Password1!3649\"\r\n            }\r\n          }\r\n        }\r\n      ]\r\n    },\r\n    \"storageProfile\": {\r\n      \"storageaccounts\": [\r\n        {\r\n          \"name\": \"hdicsharpstorage3315.blob.core.windows.net\",\r\n          \"isDefault\": true,\r\n          \"container\": \"default3689\",\r\n          \"key\": \"VnuM612ySl7qASLaEdf7ETYOGoPRkLdjOiIVr8mWJPdKvIgwaPvgRHUWMzROsA0l8LvLh11OyqI4mdJPtFQEeA==\"\r\n        }\r\n      ]\r\n    },\r\n    \"diskEncryptionProperties\": {\r\n      \"encryptionAtHost\": true\r\n    }\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "ETag": [
          "\"1b4825ec-b52f-491b-89e2-5e644fdc4611\""
        ],
        "x-ms-hdi-clusteruri": [
          "https://management.azure.com/subscriptions/6a23d3fd-47c4-4ef9-a07c-3bdce8d0ff9d/resourceGroups/hdicsharprg7428/providers/Microsoft.HDInsight/clusters/hdisdk-encryptionathost2619?api-version=2021-06-01"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com:443/subscriptions/6a23d3fd-47c4-4ef9-a07c-3bdce8d0ff9d/resourceGroups/hdicsharprg7428/providers/Microsoft.HDInsight/clusters/hdisdk-encryptionathost2619/azureasyncoperations/create?api-version=2021-06-01"
        ],
        "x-ms-hdi-served-by": [
          "southcentralus"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/6a23d3fd-47c4-4ef9-a07c-3bdce8d0ff9d/resourceGroups/hdicsharprg7428/providers/Microsoft.HDInsight/clusters/hdisdk-encryptionathost2619\",\r\n  \"name\": \"hdisdk-encryptionathost2619\",\r\n  \"type\": \"Microsoft.HDInsight/clusters\",\r\n  \"location\": \"South Central US\",\r\n  \"etag\": \"1b4825ec-b52f-491b-89e2-5e644fdc4611\",\r\n  \"tags\": null,\r\n  \"properties\": {\r\n    \"clusterVersion\": \"3.6.2000.67\",\r\n    \"clusterHdpVersion\": \"\",\r\n    \"osType\": \"Linux\",\r\n    \"clusterDefinition\": {\r\n      \"blueprint\": \"https://blueprints.azurehdinsight.net/spark-3.6.2000.67.2107220401.json\",\r\n      \"kind\": \"Spark\",\r\n      \"componentVersion\": {\r\n        \"Spark\": \"2.3\"\r\n      }\r\n    },\r\n    \"clusterId\": \"502cd7e950554b5292706564db667523\",\r\n    \"computeProfile\": {\r\n      \"roles\": [\r\n        {\r\n          \"name\": \"headnode\",\r\n          \"targetInstanceCount\": 2,\r\n          \"hardwareProfile\": {\r\n            \"vmSize\": \"standard_ds14_v2\"\r\n          },\r\n          \"osProfile\": {\r\n            \"linuxOperatingSystemProfile\": {\r\n              \"username\": \"sshuser1649\"\r\n            }\r\n          },\r\n          \"encryptDataDisks\": false\r\n        },\r\n        {\r\n          \"name\": \"workernode\",\r\n          \"targetInstanceCount\": 3,\r\n          \"hardwareProfile\": {\r\n            \"vmSize\": \"standard_ds14_v2\"\r\n          },\r\n          \"osProfile\": {\r\n            \"linuxOperatingSystemProfile\": {\r\n              \"username\": \"sshuser1649\"\r\n            }\r\n          },\r\n          \"encryptDataDisks\": false\r\n        },\r\n        {\r\n          \"name\": \"zookeepernode\",\r\n          \"targetInstanceCount\": 3,\r\n          \"hardwareProfile\": {\r\n            \"vmSize\": \"standard_ds14_v2\"\r\n          },\r\n          \"osProfile\": {\r\n            \"linuxOperatingSystemProfile\": {\r\n              \"username\": \"sshuser1649\"\r\n            }\r\n          },\r\n          \"encryptDataDisks\": false\r\n        }\r\n      ]\r\n    },\r\n    \"provisioningState\": \"InProgress\",\r\n    \"clusterState\": \"Accepted\",\r\n    \"createdDate\": \"2021-09-14T10:07:50.263\",\r\n    \"quotaInfo\": {\r\n      \"coresUsed\": 80\r\n    },\r\n    \"tier\": \"standard\",\r\n    \"diskEncryptionProperties\": {\r\n      \"vaultUri\": null,\r\n      \"keyName\": null,\r\n      \"keyVersion\": null,\r\n      \"encryptionAlgorithm\": null,\r\n      \"msiResourceId\": null,\r\n      \"encryptionAtHost\": true\r\n    },\r\n    \"encryptionInTransitProperties\": {\r\n      \"isEncryptionInTransitEnabled\": false\r\n    },\r\n    \"storageProfile\": {\r\n      \"storageaccounts\": [\r\n        {\r\n          \"name\": \"hdicsharpstorage3315.blob.core.windows.net\",\r\n          \"resourceId\": null,\r\n          \"msiResourceId\": null,\r\n          \"key\": null,\r\n          \"fileSystem\": null,\r\n          \"container\": \"default3689\",\r\n          \"saskey\": null,\r\n          \"isDefault\": true,\r\n          \"fileshare\": null\r\n        }\r\n      ]\r\n    },\r\n    \"minSupportedTlsVersion\": \"1.2\",\r\n    \"excludedServicesConfig\": {\r\n      \"excludedServicesConfigId\": \"default\",\r\n      \"excludedServicesList\": \"\"\r\n    },\r\n    \"computeIsolationProperties\": {\r\n      \"enableComputeIsolation\": false,\r\n      \"hostSku\": null\r\n    }\r\n  }\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/6a23d3fd-47c4-4ef9-a07c-3bdce8d0ff9d/resourceGroups/hdicsharprg7428/providers/Microsoft.HDInsight/clusters/hdisdk-encryptionathost2619/azureasyncoperations/create?api-version=2021-06-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-hdi-served-by": [
          "southcentralus"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"status\": \"InProgress\"\r\n}",
      "StatusCode": 200
    },
[...]
