{
  "Entries": [
    {
      "RequestUri": "/subscriptions/7da589fa-b097-474e-a4c2-b1d12f677877/resourceGroups/hdicsharprg6802/providers/Microsoft.Storage/storageAccounts/hdicsharpadlsv2782?api-version=2018-07-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"sku\": {\r\n    \"name\": \"Standard_GRS\"\r\n  },\r\n  \"kind\": \"StorageV2\",\r\n  \"location\": \"South Central US\",\r\n  \"properties\": {\r\n    \"isHnsEnabled\": true\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/7da589fa-b097-474e-a4c2-b1d12f677877/providers/Microsoft.Storage/locations/southcentralus/asyncoperations/484dcbf5-9258-463c-812a-2067cb017683?monitor=true&api-version=2018-07-01"
        ],
        "Retry-After": [
          "17"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1197"
        ],
        "Content-Type": [
          "text/plain; charset=utf-8"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 202
    },
    {
      "RequestUri": "/subscriptions/7da589fa-b097-474e-a4c2-b1d12f677877/providers/Microsoft.Storage/locations/southcentralus/asyncoperations/484dcbf5-9258-463c-812a-2067cb017683?monitor=true&api-version=2018-07-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11989"
        ],
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "{\r\n  \"sku\": {\r\n    \"name\": \"Standard_GRS\",\r\n    \"tier\": \"Standard\"\r\n  },\r\n  \"kind\": \"StorageV2\",\r\n  \"id\": \"/subscriptions/7da589fa-b097-474e-a4c2-b1d12f677877/resourceGroups/hdicsharprg6802/providers/Microsoft.Storage/storageAccounts/hdicsharpadlsv2782\",\r\n  \"name\": \"hdicsharpadlsv2782\",\r\n  \"type\": \"Microsoft.Storage/storageAccounts\",\r\n  \"location\": \"southcentralus\",\r\n  \"tags\": {},\r\n  \"properties\": {\r\n    \"isHnsEnabled\": true,\r\n    \"networkAcls\": {\r\n      \"bypass\": \"AzureServices\",\r\n      \"virtualNetworkRules\": [],\r\n      \"ipRules\": [],\r\n      \"defaultAction\": \"Allow\"\r\n    },\r\n    \"supportsHttpsTrafficOnly\": false,\r\n    \"encryption\": {\r\n      \"services\": {\r\n        \"file\": {\r\n          \"enabled\": true,\r\n          \"lastEnabledTime\": \"2021-09-14T09:46:44.6498921Z\"\r\n        },\r\n        \"blob\": {\r\n          \"enabled\": true,\r\n          \"lastEnabledTime\": \"2021-09-14T09:46:44.6498921Z\"\r\n        }\r\n      },\r\n      \"keySource\": \"Microsoft.Storage\"\r\n    },\r\n    \"accessTier\": \"Hot\",\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"creationTime\": \"2021-09-14T09:46:44.5561073Z\",\r\n    \"primaryEndpoints\": {\r\n      \"dfs\": \"https://hdicsharpadlsv2782.dfs.core.windows.net/\",\r\n      \"web\": \"https://hdicsharpadlsv2782.z21.web.core.windows.net/\",\r\n      \"blob\": \"https://hdicsharpadlsv2782.blob.core.windows.net/\",\r\n      \"queue\": \"https://hdicsharpadlsv2782.queue.core.windows.net/\",\r\n      \"table\": \"https://hdicsharpadlsv2782.table.core.windows.net/\",\r\n      \"file\": \"https://hdicsharpadlsv2782.file.core.windows.net/\"\r\n    },\r\n    \"primaryLocation\": \"southcentralus\",\r\n    \"statusOfPrimary\": \"available\",\r\n    \"secondaryLocation\": \"northcentralus\",\r\n    \"statusOfSecondary\": \"available\"\r\n  }\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/7da589fa-b097-474e-a4c2-b1d12f677877/resourceGroups/hdicsharprg6802/providers/Microsoft.Storage/storageAccounts/hdicsharpadlsv2782/listKeys?api-version=2018-07-01",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-resource-requests": [
          "11998"
        ],
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "{\r\n  \"keys\": [\r\n    {\r\n      \"keyName\": \"key1\",\r\n      \"value\": \"UzaD2IOBtruJheFp7vsovjRtZLcQokqPATv4rsrwtHcp+XXsR7x6LJXmOhpSVHyktSO1DgSI5shuWBGdSLUcNg==\",\r\n      \"permissions\": \"FULL\"\r\n    },\r\n    {\r\n      \"keyName\": \"key2\",\r\n      \"value\": \"i6A+e8MLScNK5Wjir3ARHZEerFfMtZ7RAv74mnRg8DeV5lddx41VdcMDcYsmWAnnjvFFsWFBlXs2+8zru3FAtg==\",\r\n      \"permissions\": \"FULL\"\r\n    }\r\n  ]\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/7da589fa-b097-474e-a4c2-b1d12f677877/resourceGroups/hdicsharprg6802/providers/Microsoft.ManagedIdentity/userAssignedIdentities/hdicsharpmsi7880?api-version=2015-08-31-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"South Central US\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Location": [
          "/subscriptions/7da589fa-b097-474e-a4c2-b1d12f677877/resourcegroups/hdicsharprg6802/providers/Microsoft.ManagedIdentity/userAssignedIdentities/hdicsharpmsi7880"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1198"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/7da589fa-b097-474e-a4c2-b1d12f677877/resourcegroups/hdicsharprg6802/providers/Microsoft.ManagedIdentity/userAssignedIdentities/hdicsharpmsi7880\",\r\n  \"name\": \"hdicsharpmsi7880\",\r\n  \"type\": \"Microsoft.ManagedIdentity/userAssignedIdentities\",\r\n  \"location\": \"southcentralus\",\r\n  \"tags\": {},\r\n  \"properties\": {\r\n    \"tenantId\": \"c237622c-46c1-4641-833f-2b7476ecc58c\",\r\n    \"principalId\": \"671551a7-8b68-42e0-bb32-fed8ded89667\",\r\n    \"clientId\": \"c9acb546-78f8-4264-ab89-c8176cb20369\",\r\n    \"clientSecretUrl\": \"https://control-southcentralus.identity.azure.net/subscriptions/7da589fa-b097-474e-a4c2-b1d12f677877/resourcegroups/hdicsharprg6802/providers/Microsoft.ManagedIdentity/userAssignedIdentities/hdicsharpmsi7880/credentials?tid=c237622c-46c1-4641-833f-2b7476ecc58c&oid=671551a7-8b68-42e0-bb32-fed8ded89667&aid=c9acb546-78f8-4264-ab89-c8176cb20369\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "//subscriptions/7da589fa-b097-474e-a4c2-b1d12f677877/resourceGroups/hdicsharprg6802/providers/Microsoft.Storage/storageAccounts/hdicsharpadlsv2782/providers/Microsoft.Authorization/roleDefinitions?api-version=2018-01-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"properties\": {\r\n        \"roleName\": \"Avere Cluster Create\",\r\n        \"type\": \"CustomRole\",\r\n        \"description\": \"Avere cluster create role used by the Avere controller to create a vFXT cluster.\",\r\n        \"assignableScopes\": [\r\n          \"/\"\r\n        ],\r\n        \"permissions\": [\r\n          {\r\n            \"actions\": [\r\n              \"Microsoft.Authorization/*/read\",\r\n              \"Microsoft.Authorization/roleAssignments/*\",\r\n              \"Microsoft.Authorization/roleDefinitions/*\",\r\n              \"Microsoft.Compute/*/read\",\r\n              \"Microsoft.Compute/availabilitySets/*\",\r\n              \"Microsoft.Compute/virtualMachines/*\",\r\n              \"Microsoft.Network/*/read\",\r\n              \"Microsoft.Network/networkInterfaces/*\",\r\n              \"Microsoft.Network/virtualNetworks/subnets/join/action\",\r\n              \"Microsoft.Network/virtualNetworks/subnets/read\",\r\n              \"Microsoft.Resources/subscriptions/resourceGroups/read\",\r\n              \"Microsoft.Resources/subscriptions/resourceGroups/resources/read\",\r\n              \"Microsoft.Storage/*/read\",\r\n              \"Microsoft.Storage/storageAccounts/listKeys/action\"\r\n            ],\r\n            \"notActions\": [],\r\n            \"dataActions\": [],\r\n            \"notDataActions\": []\r\n          }\r\n        ],\r\n        \"createdOn\": \"2018-11-29T18:46:55.0492387Z\",\r\n        \"updatedOn\": \"2018-11-29T18:46:55.0492387Z\",\r\n        \"createdBy\": null,\r\n        \"updatedBy\": null\r\n      },\r\n      \"id\": \"/subscriptions/7da589fa-b097-474e-a4c2-b1d12f677877/providers/Microsoft.Authorization/roleDefinitions/a7b1b19a-0e83-4fe5-935c-faaefbfd18c3\",\r\n      \"type\": \"Microsoft.Authorization/roleDefinitions\",\r\n      \"name\": \"a7b1b19a-0e83-4fe5-935c-faaefbfd18c3\"\r\n    },\r\n    {\r\n      \"properties\": {\r\n        \"roleName\": \"Avere Cluster Runtime Operator\",\r\n        \"type\": \"CustomRole\",\r\n        \"description\": \"Avere cluster runtime r[...]
    {
      "RequestUri": "//subscriptions/7da589fa-b097-474e-a4c2-b1d12f677877/resourceGroups/hdicsharprg6802/providers/Microsoft.Storage/storageAccounts/hdicsharpadlsv2782/providers/Microsoft.Authorization/roleAssignments/cd32e270-d204-4e4a-976c-b25bc5f3ee8d?api-version=2018-09-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"roleDefinitionId\": \"/subscriptions/7da589fa-b097-474e-a4c2-b1d12f677877/providers/Microsoft.Authorization/roleDefinitions/b7e6dc6d-f1e8-4753-8033-0f276bb0955b\",\r\n    \"principalId\": \"671551a7-8b68-42e0-bb32-fed8ded89667\",\r\n    \"canDelegate\": false\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"roleDefinitionId\": \"/subscriptions/7da589fa-b097-474e-a4c2-b1d12f677877/providers/Microsoft.Authorization/roleDefinitions/b7e6dc6d-f1e8-4753-8033-0f276bb0955b\",\r\n    \"principalId\": \"671551a7-8b68-42e0-bb32-fed8ded89667\",\r\n    \"principalType\": \"ServicePrincipal\",\r\n    \"scope\": \"/subscriptions/7da589fa-b097-474e-a4c2-b1d12f677877/resourceGroups/hdicsharprg6802/providers/Microsoft.Storage/storageAccounts/hdicsharpadlsv2782\",\r\n    \"createdOn\": \"2021-09-14T09:48:12.1711146Z\",\r\n    \"updatedOn\": \"2021-09-14T09:48:12.5616709Z\",\r\n    \"createdBy\": null,\r\n    \"updatedBy\": \"1c5c04ba-c589-44d2-9443-17dfb4b4edaf\"\r\n  },\r\n  \"id\": \"/subscriptions/7da589fa-b097-474e-a4c2-b1d12f677877/resourceGroups/hdicsharprg6802/providers/Microsoft.Storage/storageAccounts/hdicsharpadlsv2782/providers/Microsoft.Authorization/roleAssignments/cd32e270-d204-4e4a-976c-b25bc5f3ee8d\",\r\n  \"type\": \"Microsoft.Authorization/roleAssignments\",\r\n  \"name\": \"cd32e270-d204-4e4a-976c-b25bc5f3ee8d\"\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/7da589fa-b097-474e-a4c2-b1d12f677877/resourceGroups/hdicsharprg6802/providers/Microsoft.HDInsight/clusters/hdisdk-adlgen26189?api-version=2021-06-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"South Central US\",\r\n  \"properties\": {\r\n    \"clusterVersion\": \"3.6\",\r\n    \"osType\": \"Linux\",\r\n    \"tier\": \"Standard\",\r\n    \"clusterDefinition\": {\r\n      \"kind\": \"Hadoop\",\r\n      \"configurations\": {\r\n        \"gateway\": {\r\n          \"restAuthCredential.isEnabled\": \"true\",\r\n          \"restAuthCredential.username\": \"admin1031\",\r\n          \"restAuthCredential.password\": \"Password1!5132\"\r\n        }\r\n      }\r\n    },\r\n    \"computeProfile\": {\r\n      \"roles\": [\r\n        {\r\n          \"name\": \"headnode\",\r\n          \"targetInstanceCount\": 2,\r\n          \"hardwareProfile\": {\r\n            \"vmSize\": \"Large\"\r\n          },\r\n          \"osProfile\": {\r\n            \"linuxOperatingSystemProfile\": {\r\n              \"username\": \"sshuser4258\",\r\n              \"password\": \"Password1!1659\"\r\n            }\r\n          }\r\n        },\r\n        {\r\n          \"name\": \"workernode\",\r\n          \"targetInstanceCount\": 3,\r\n          \"hardwareProfile\": {\r\n            \"vmSize\": \"Large\"\r\n          },\r\n          \"osProfile\": {\r\n            \"linuxOperatingSystemProfile\": {\r\n              \"username\": \"sshuser4258\",\r\n              \"password\": \"Password1!1659\"\r\n            }\r\n          }\r\n        },\r\n        {\r\n          \"name\": \"zookeepernode\",\r\n          \"targetInstanceCount\": 3,\r\n          \"hardwareProfile\": {\r\n            \"vmSize\": \"Small\"\r\n          },\r\n          \"osProfile\": {\r\n            \"linuxOperatingSystemProfile\": {\r\n              \"username\": \"sshuser4258\",\r\n              \"password\": \"Password1!1659\"\r\n            }\r\n          }\r\n        }\r\n      ]\r\n    },\r\n    \"storageProfile\": {\r\n      \"storageaccounts\": [\r\n        {\r\n          \"name\": \"hdicsharpadlsv2782.dfs.core.windows.net\",\r\n          \"isDefault\": true,\r\n          \"fileSystem\": \"default8946\",\r\n          \"resourceId\": \"/subscriptions/7da589fa-b097-474e-a4c2-b1d12f677877/resourceGroups/hdicsharprg6802/providers/Microsoft.Storage/storageAccounts/hdicsharpadlsv2782\",\r\n          \"msiResourceId\": \"/subscriptions/7da589fa-b097-474e-a4c2-b1d12f677877/resourcegroups/hdicsharprg6802/providers/Microsoft.ManagedIdentity/userAssignedIdentities/hdicsharpmsi7880\"\r\n        },\r\n        {\r\n          \"name\": \"hdicsharpstorage8522.blob.core.windows.net\",\r\n          \"isDefault\": false,\r\n          \"container\": \"default8946\",\r\n          \"key\": \"gMb0ENya5u3KjOFsROHV8O5RtWm8FLG3DabWTK03fs5gLTZUJpiZXmOGtw8Ngv1TkS4V58bq9fJc+g5Ghd7t3w==\"\r\n        }\r\n      ]\r\n    }\r\n  },\r\n  \"identity\": {\r\n    \"type\": \"UserAssigned\",\r\n    \"userAssignedIdentities\": {\r\n      \"/subscriptions/7da589fa-b097-474e-a4c2-b1d12f677877/resourcegroups/hdicsharprg6802/providers/Microsoft.ManagedIdentity/userAssignedIdentities/hdicsharpmsi7880\": {}\r\n    }\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "ETag": [
          "\"215ec254-fa27-4e3b-855d-adc089b72889\""
        ],
        "x-ms-hdi-clusteruri": [
          "https://management.azure.com/subscriptions/7da589fa-b097-474e-a4c2-b1d12f677877/resourceGroups/hdicsharprg6802/providers/Microsoft.HDInsight/clusters/hdisdk-adlgen26189?api-version=2021-06-01"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com:443/subscriptions/7da589fa-b097-474e-a4c2-b1d12f677877/resourceGroups/hdicsharprg6802/providers/Microsoft.HDInsight/clusters/hdisdk-adlgen26189/azureasyncoperations/create?api-version=2021-06-01"
        ],
        "x-ms-hdi-served-by": [
          "southcentralus"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/7da589fa-b097-474e-a4c2-b1d12f677877/resourceGroups/hdicsharprg6802/providers/Microsoft.HDInsight/clusters/hdisdk-adlgen26189\",\r\n  \"name\": \"hdisdk-adlgen26189\",\r\n  \"type\": \"Microsoft.HDInsight/clusters\",\r\n  \"location\": \"South Central US\",\r\n  \"etag\": \"215ec254-fa27-4e3b-855d-adc089b72889\",\r\n  \"tags\": null,\r\n  \"properties\": {\r\n    \"clusterVersion\": \"3.6.2000.67\",\r\n    \"clusterHdpVersion\": \"\",\r\n    \"osType\": \"Linux\",\r\n    \"clusterDefinition\": {\r\n      \"blueprint\": \"https://blueprints.azurehdinsight.net/hadoop-3.6.2000.67.2107220401.json\",\r\n      \"kind\": \"Hadoop\",\r\n      \"componentVersion\": {\r\n        \"Hadoop\": \"2.7\"\r\n      }\r\n    },\r\n    \"clusterId\": \"20653e7847d4497ab27b0f9d3dc5c130\",\r\n    \"computeProfile\": {\r\n      \"roles\": [\r\n        {\r\n          \"name\": \"headnode\",\r\n          \"targetInstanceCount\": 2,\r\n          \"hardwareProfile\": {\r\n            \"vmSize\": \"standard_a4_v2\"\r\n          },\r\n          \"osProfile\": {\r\n            \"linuxOperatingSystemProfile\": {\r\n              \"username\": \"sshuser4258\"\r\n            }\r\n          },\r\n          \"encryptDataDisks\": false\r\n        },\r\n        {\r\n          \"name\": \"workernode\",\r\n          \"targetInstanceCount\": 3,\r\n          \"hardwareProfile\": {\r\n            \"vmSize\": \"standard_a4_v2\"\r\n          },\r\n          \"osProfile\": {\r\n            \"linuxOperatingSystemProfile\": {\r\n              \"username\": \"sshuser4258\"\r\n            }\r\n          },\r\n          \"encryptDataDisks\": false\r\n        },\r\n        {\r\n          \"name\": \"zookeepernode\",\r\n          \"targetInstanceCount\": 3,\r\n          \"hardwareProfile\": {\r\n            \"vmSize\": \"standard_a1_v2\"\r\n          },\r\n          \"osProfile\": {\r\n            \"linuxOperatingSystemProfile\": {\r\n              \"username\": \"sshuser4258\"\r\n            }\r\n          },\r\n          \"encryptDataDisks\": false\r\n        }\r\n      ]\r\n    },\r\n    \"provisioningState\": \"InProgress\",\r\n    \"clusterState\": \"Accepted\",\r\n    \"createdDate\": \"2021-09-14T09:48:30.97\",\r\n    \"quotaInfo\": {\r\n      \"coresUsed\": 20\r\n    },\r\n    \"tier\": \"standard\",\r\n    \"encryptionInTransitProperties\": {\r\n      \"isEncryptionInTransitEnabled\": false\r\n    },\r\n    \"storageProfile\": {\r\n      \"storageaccounts\": [\r\n        {\r\n          \"name\": \"hdicsharpadlsv2782.dfs.core.windows.net\",\r\n          \"resourceId\": \"/subscriptions/7da589fa-b097-474e-a4c2-b1d12f677877/resourceGroups/hdicsharprg6802/providers/Microsoft.Storage/storageAccounts/hdicsharpadlsv2782\",\r\n          \"msiResourceId\": \"/subscriptions/7da589fa-b097-474e-a4c2-b1d12f677877/resourcegroups/hdicsharprg6802/providers/Microsoft.ManagedIdentity/userAssignedIdentities/hdicsharpmsi7880\",\r\n          \"key\": null,\r\n          \"fileSystem\": \"default8946\",\r\n          \"container\": null,\r\n          \"saskey\": null,\r\n          \"isDefault\": true,\r\n          \"fileshare\": null\r\n        },\r\n        {\r\n          \"name\": \"hdicsharpstorage8522.blob.core.windows.net\",\r\n          \"resourceId\": null,\r\n          \"msiResourceId\": null,\r\n          \"key\": null,\r\n          \"fileSystem\": null,\r\n          \"container\": \"default8946\",\r\n          \"saskey\": null,\r\n          \"isDefault\": false,\r\n          \"fileshare\": null\r\n        }\r\n      ]\r\n    },\r\n    \"minSupportedTlsVersion\": \"1.2\",\r\n    \"excludedServicesConfig\": {\r\n      \"excludedServicesConfigId\": \"default\",\r\n      \"excludedServicesList\": \"\"\r\n    },\r\n    \"computeIsolationProperties\": {\r\n      \"enableComputeIsolation\": false,\r\n      \"hostSku\": null\r\n    }\r\n  },\r\n  \"identity\": {\r\n    \"type\": \"UserAssigned\",\r\n    \"userAssignedIdentities\": {\r\n      \"/subscriptions/7da589fa-b097-474e-a4c2-b1d12f677877/resourcegroups/hdicsharprg6802/providers/microsoft.managedidentity/userassignedidentities/hdicsharpmsi7880\": {}\r\n    }\r\n  }\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/7da589fa-b097-474e-a4c2-b1d12f677877/resourceGroups/hdicsharprg6802/providers/Microsoft.HDInsight/clusters/hdisdk-adlgen26189/azureasyncoperations/create?api-version=2021-06-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-hdi-served-by": [
          "southcentralus"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"status\": \"InProgress\"\r\n}",
      "StatusCode": 200
    },
[...]
