{
  "Entries": [
    {
      "RequestUri": "/subscriptions/29a1e0fb-8cd8-400a-9c60-d10c85cc4286/resourceGroups/hdicsharprg6375/providers/Microsoft.HDInsight/clusters/hdisdk-outboundpl7076?api-version=2018-06-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"South Central US\",\r\n  \"properties\": {\r\n    \"clusterVersion\": \"3.6\",\r\n    \"osType\": \"Linux\",\r\n    \"tier\": \"Standard\",\r\n    \"clusterDefinition\": {\r\n      \"kind\": \"Hadoop\",\r\n      \"configurations\": {\r\n        \"gateway\": {\r\n          \"restAuthCredential.isEnabled\": \"true\",\r\n          \"restAuthCredential.username\": \"admin5051\",\r\n          \"restAuthCredential.password\": \"Password1!833\"\r\n        }\r\n      }\r\n    },\r\n    \"computeProfile\": {\r\n      \"roles\": [\r\n        {\r\n          \"name\": \"headnode\",\r\n          \"targetInstanceCount\": 2,\r\n          \"hardwareProfile\": {\r\n            \"vmSize\": \"Large\"\r\n          },\r\n          \"osProfile\": {\r\n            \"linuxOperatingSystemProfile\": {\r\n              \"username\": \"sshuser591\",\r\n              \"password\": \"Password1!115\"\r\n            }\r\n          },\r\n          \"virtualNetworkProfile\": {\r\n            \"id\": \"/subscriptions/29a1e0fb-8cd8-400a-9c60-d10c85cc4286/resourceGroups/resourceGroups/rg/providers/Microsoft.Network/virtualNetworks/fakevnet\",\r\n            \"subnet\": \"/subscriptions/29a1e0fb-8cd8-400a-9c60-d10c85cc4286/resourceGroups/resourceGroups/rg/providers/Microsoft.Network/virtualNetworks/fakevnet/subnets/default\"\r\n          }\r\n        },\r\n        {\r\n          \"name\": \"workernode\",\r\n          \"targetInstanceCount\": 3,\r\n          \"hardwareProfile\": {\r\n            \"vmSize\": \"Large\"\r\n          },\r\n          \"osProfile\": {\r\n            \"linuxOperatingSystemProfile\": {\r\n              \"username\": \"sshuser591\",\r\n[...]
    {
      "RequestUri": "/subscriptions/29a1e0fb-8cd8-400a-9c60-d10c85cc4286/resourceGroups/hdicsharprg6375/providers/Microsoft.HDInsight/clusters/hdisdk-outboundpl7076/azureasyncoperations/create?api-version=2018-06-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-hdi-served-by": [
          "southcentralus"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"status\": \"InProgress\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/29a1e0fb-8cd8-400a-9c60-d10c85cc4286/resourceGroups/hdicsharprg6375/providers/Microsoft.HDInsight/clusters/hdisdk-outboundpl7076?api-version=2018-06-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-hdi-served-by": [
          "southcentralus"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11943"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/29a1e0fb-8cd8-400a-9c60-d10c85cc4286/resourceGroups/hdicsharprg6375/providers/Microsoft.HDInsight/clusters/hdisdk-outboundpl7076\",\r\n  \"name\": \"hdisdk-outboundpl7076\",\r\n  \"type\": \"Microsoft.HDInsight/clusters\",\r\n  \"location\": \"South Central US\",\r\n  \"etag\": \"d20e9b17-0e73-44be-890c-c30b33c2d998\",\r\n  \"tags\": null,\r\n  \"properties\": {\r\n    \"clusterVersion\": \"3.6.1000.67\",\r\n    \"clusterHdpVersion\": \"\",\r\n    \"osType\": \"Linux\",\r\n    \"clusterDefinition\": {\r\n      \"blueprint\": \"https://blueprints.azurehdinsight.net/hadoop-3.6.1000.67.2010090238.json\",\r\n      \"kind\": \"Hadoop\",\r\n      \"componentVersion\": {\r\n        \"Hadoop\": \"2.7\"\r\n      }\r\n    },\r\n    \"clusterId\": \"1d112f136bfd4961aa9a641bc2bb9ada\",\r\n    \"computeProfile\": {\r\n      \"roles\": [\r\n        {\r\n          \"name\": \"headnode\",\r\n          \"targetInstanceCount\": 2,\r\n          \"hardwareProfile\": {\r\n            \"vmSize\": \"standard_a4_v2\"\r\n          },\r\n          \"osProfile\": {\r\n            \"linuxOperatingSystemProfile\": {\r\n              \"username\": \"sshuser591\"\r\n            }\r\n          },\r\n          \"virtualNetworkProfile\": {\r\n            \"id\": \"/subscriptions/29a1e0fb-8cd8-400a-9c60-d10c85cc4286/resourceGroups/resourceGroups/rg/providers/Microsoft.Network/virtualNetworks/fakevnet\",\r\n            \"subnet\": \"/subscriptions/29a1e0fb-8cd8-400a-9c60-d10c85cc4286/resourceGroups/resourceGroups/rg/providers/Microsoft.Network/virtualNetworks/fakevnet/subnets/default\"\r\n          },\r\n          \"encryptDataDisks\": false\r\n        },\r\n        {\r\n          \"name\": \"workernode\",\r\n          \"targetInstanceCount\": 3,\r\n          \"hardwareProfile\": {\r\n            \"vmSize\": \"standard_a4_v2\"\r\n          },\r\n          \"osProfile\": {\r\n            \"linuxOperatingSystemProfile\": {\r\n              \"username\": \"sshuser591\"\r\n            }\r\n          },\r\n          \"virtualNetworkProfile\": {\r\n            \"id\": \"/subscriptions/29a1e0fb-8cd8-400a-9c60-d10c85cc4286/resourceGr[...]
[...]
