{
  "Entries": [
    {
      "RequestUri": "/subscriptions/019807a4-68f3-4d88-948e-d5bd52cf8086/resourceGroups/hdicsharprg2718/providers/Microsoft.HDInsight/clusters/hdisdk-cluster1875?api-version=2021-06-01",
      "RequestMethod": "PUT",
      "RequestBody": "{}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "x-ms-failure-cause": [
          "gateway"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"LocationRequired\",\r\n    \"message\": \"The location property is required for this definition.\"\r\n  }\r\n}",
      "StatusCode": 400
    }
  ],
  "Names": {
    ".ctor": [
      "admin5638",
      "Password1!9072",
      "sshuser3565",
      "Password1!9749",
      "7287d309-b312-4d7d-9fed-3eaa3e9f097a",
      "hdicsharprg2718",
      "hdicsharpstorage3918",
      "hdicsharpmsi9894",
      "hdicsharpvault8972",
      "hdicsharpadls6749",
      "default9123",
      "storageaccountkey6255"
    ],
    "TestInitialize": [
      "019807a4-68f3-4d88-948e-d5bd52cf8086"
    ],
    "TestCreateWithEmptyExtendedParameters": [
      "hdisdk-cluster1875"
    ]
  },
  "Variables": {
    "SubscriptionId": "019807a4-68f3-4d88-948e-d5bd52cf8086"
  }
}
