{
  "Entries": [
    {
      "RequestUri": "/subscriptions/640b4577-f12e-403e-bef3-0e732c94247d/resourceGroups/hdicsharprg1686/providers/Microsoft.HDInsight/clusters/hdisdk-az818?api-version=2021-06-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"South Central US\",\r\n  \"zones\": [\r\n    \"1\"\r\n  ],\r\n  \"properties\": {\r\n    \"clusterVersion\": \"4.0\",\r\n    \"osType\": \"Linux\",\r\n    \"tier\": \"Standard\",\r\n    \"clusterDefinition\": {\r\n      \"kind\": \"Spark\",\r\n      \"configurations\": {\r\n        \"ambari-conf\": {\r\n          \"database-server\": \"scustestsqlserver.database.windows.net\",\r\n          \"database-name\": \"ambaridb1\",\r\n          \"database-user-name\": \"sqlserveruser\",\r\n          \"database-user-password\": \"HDInsight123!\"\r\n        },\r\n        \"gateway\": {\r\n          \"restAuthCredential.isEnabled\": \"true\",\r\n          \"restAuthCredential.username\": \"admin3366\",\r\n          \"restAuthCredential.password\": \"Password1!8462\"\r\n        },\r\n        \"hive-site\": {\r\n          \"javax.jdo.option.ConnectionURL\": \"jdbc:sqlserver://scustestsqlserver.database.windows.net;database=hivemetastore1;encrypt=true;trustServerCertificate=true;create=false;loginTimeout=300;sendStringParametersAsUnicode=true;prepareSQL=0\",\r\n          \"javax.jdo.option.ConnectionUserName\": \"sqlserveruser\",\r\n          \"javax.jdo.option.ConnectionPassword\": \"HDInsight123!\",\r\n          \"javax.jdo.option.ConnectionDriverName\": \"com.microsoft.sqlserver.jdbc.SQLServerDriver\"\r\n        },\r\n        \"hive-env\": {\r\n          \"hive_database\": \"Existing MSSQL Server database with SQL authentication\",\r\n          \"hive_database_name\": \"hivemetastore1\",\r\n          \"hive_database_type\": \"mssql\",\r\n          \"hive_existing_mssql_server_database\": \"hivemetastore1\",\r\n          \"hive_existing_mssql_server_host\": \"scustestsqlserver.database.windows.net\",\r\n          \"hive_hostname\": \"scustestsqlserver.database.windows.net\"\r\n        },\r\n        \"oozie-site\": {\r\n          \"oozie.service.JPAService.jdbc.url\": \"jdbc:sqlserver://scustestsqlserver.database.windows.net;database=ooziemetastore1;encrypt=true;trustServerCertificate=true;create=false;loginTimeout=300;sendStringParametersAsUnicode=true;prepareSQL=0\",\r\n          \"oozie.service.JPAService.jdbc.username\": \"sqlserveruser\",\r\n          \"oozie.service.JPAService.jdbc.password\": \"HDInsight123!\",\r\n          \"oozie.service.JPAService.jdbc.driver\": \"com.microsoft.sqlserver.jdbc.SQLServerDriver\",\r\n          \"oozie.db.schema.name\": \"oozie\"\r\n        },\r\n        \"oozie-env\": {\r\n          \"oozie_database\": \"Existing MSSQL Server database with SQL authentication\",\r\n          \"oozie_database_name\": \"ooziemetastore1\",\r\n          \"oozie_database_type\": \"mssql\",\r\n          \"oozie_existing_mssql_server_database\": \"ooziemetastore1\",\r\n          \"oozie_existing_mssql_server_host\": \"scustestsqlserver.database.windows.net\",\r\n          \"oozie_hostname\": \"scustestsqlserver.database.windows.net\"\r\n        }\r\n      }\r\n    },\r\n    \"computeProfile\": {\r\n      \"roles\": [\r\n        {\r\n          \"name\": \"headnode\",\r\n          \"targetInstanceCount\": 2,\r\n          \"hardwareProfile\": {\r\n            \"vmSize\": \"Large\"\r\n          },\r\n          \"osProfile\": {\r\n            \"linuxOperatingSystemProfile\": {\r\n              \"username\": \"sshuser2921\",\r\n              \"password\": \"Password1!9289\"\r\n            }\r\n          },\r\n          \"virtualNetworkProfile\": {\r\n            \"id\": \"/subscriptions/640b4577-f12e-403e-bef3-0e732c94247d/resourceGroups/rg/providers/Microsoft.Network/virtualNetworks/vnetforcreatcluster\",\r\n            \"subnet\": \"/subscriptions/640b4577-f12e-403e-bef3-0e732c94247d/resourceGroups/rg/providers/Microsoft.Network/virtualNetworks/vnetforcreatcluster/subnets/default\"\r\n          }\r\n        },\r\n        {\r\n          \"name\": \"workernode\",\r\n          \"targetInstanceCount\": 3,\r\n          \"hardwareProfile\": {\r\n            \"vmSize\": \"Large\"\r\n          },\r\n          \"osProfile\": {\r\n            \"linuxOperatingSystemProfile\": {\r\n              \"username\": \"sshuser2921\",\r\n   [...]
    {
      "RequestUri": "/subscriptions/640b4577-f12e-403e-bef3-0e732c94247d/resourceGroups/hdicsharprg1686/providers/Microsoft.HDInsight/clusters/hdisdk-az818/azureasyncoperations/create?api-version=2021-06-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-hdi-served-by": [
          "southcentralus"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11978"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"status\": \"InProgress\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/640b4577-f12e-403e-bef3-0e732c94247d/resourceGroups/hdicsharprg1686/providers/Microsoft.HDInsight/clusters/hdisdk-az818?api-version=2021-06-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-hdi-served-by": [
          "southcentralus"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11982"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/640b4577-f12e-403e-bef3-0e732c94247d/resourceGroups/hdicsharprg1686/providers/Microsoft.HDInsight/clusters/hdisdk-az818\",\r\n  \"name\": \"hdisdk-az818\",\r\n  \"type\": \"Microsoft.HDInsight/clusters\",\r\n  \"location\": \"South Central US\",\r\n  \"zones\": [\r\n    \"1\"\r\n  ],\r\n  \"etag\": \"a5b42a68-a872-48d4-87b5-094835b98a05\",\r\n  \"tags\": null,\r\n  \"properties\": {\r\n    \"clusterVersion\": \"4.0.3000.1\",\r\n    \"clusterHdpVersion\": \"4.1.7.7\",\r\n    \"osType\": \"Linux\",\r\n    \"clusterDefinition\": {\r\n      \"blueprint\": \"https://blueprints.azurehdinsight.net/spark-4.0.3000.1.2109140342.json\",\r\n      \"kind\": \"Spark\",\r\n      \"componentVersion\": {\r\n        \"Spark\": \"2.4\"\r\n      }\r\n    },\r\n    \"clusterId\": \"6d31c57cda504ff88c841087feb9d281\",\r\n    \"computeProfile\": {\r\n      \"roles\": [\r\n        {\r\n          \"name\": \"headnode\",\r\n          \"targetInstanceCount\": 2,\r\n          \"hardwareProfile\": {\r\n            \"vmSize\": \"standard_a4_v2\"\r\n          },\r\n          \"osProfile\": {\r\n            \"linuxOperatingSystemProfile\": {\r\n              \"username\": \"sshuser2921\"\r\n            }\r\n          },\r\n          \"virtualNetworkProfile\": {\r\n            \"id\": \"/subscriptions/640b4577-f12e-403e-bef3-0e732c94247d/resourceGroups/rg/providers/Microsoft.Network/virtualNetworks/vnetforcreatcluster\",\r\n            \"subnet\": \"/subscriptions/640b4577-f12e-403e-bef3-0e732c94247d/resourceGroups/rg/providers/Microsoft.Network/virtualNetworks/vnetforcreatcluster/subnets/default\"\r\n          },\r\n          \"encryptDataDisks\": false\r\n        },\r\n        {\r\n          \"name\": \"workernode\",\r\n          \"targetInstanceCount\": 3,\r\n          \"hardwareProfile\": {\r\n            \"vmSize\": \"standard_a4_v2\"\r\n          },\r\n          \"osProfile\": {\r\n            \"linuxOperatingSystemProfile\": {\r\n              \"username\": \"sshuser2921\"\r\n            }\r\n          },\r\n          \"virtualNetworkProfile\": {\r\n            \"id\": \"/subscriptions/640b4577-f12e-403e-bef3-0e732c94247d/resourceG[...]
