{
  "Entries": [
    {
      "RequestUri": "/providers/Microsoft.Capacity/operations?api-version=2019-04-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-tenant-reads": [
          "11999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"name\": \"Microsoft.Capacity/appliedreservations/read\",\r\n      \"display\": {\r\n        \"provider\": \"Microsoft Capacity\",\r\n        \"resource\": \"Reservations\",\r\n        \"operation\": \"Get Reservations\",\r\n        \"description\": \"Read All Reservations\"\r\n      }\r\n    },\r\n    {\r\n      \"name\": \"Microsoft.Capacity/calculateprice/action\",\r\n      \"display\": {\r\n        \"provider\": \"Microsoft Capacity\",\r\n        \"resource\": \"Reservations\",\r\n        \"operation\": \"Calculate Reservation Price\",\r\n        \"description\": \"Calculate any Reservation Price\"\r\n      }\r\n    },\r\n    {\r\n      \"name\": \"Microsoft.Capacity/catalogs/read\",\r\n      \"display\": {\r\n        \"provider\": \"M[...]
