{
  "Entries": [
    {
      "RequestUri": "//vision/v3.1/describe?maxCandidates=2",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"url\": \"https://raw.githubusercontent.com/Azure/azure-sdk-for-net/master/sdk/cognitiveservices/Vision.ComputerVision/tests/TestImages/dog.jpg\"\r\n}",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": [
          "aebf675c810f498ea94ed13bd02b8c06"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "csp-billing-usage": [
          "CognitiveServices.ComputerVision.Describe=1,CognitiveServices.ComputerVision.Transaction=1"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"description\": {\r\n    \"tags\": [\r\n      \"dog\",\r\n      \"tree\",\r\n      \"outdoor\",\r\n      \"sitting\",\r\n      \"ground\",\r\n      \"animal\",\r\n      \"mammal\",\r\n      \"close\"\r\n    ],\r\n    \"captions\": [\r\n      {\r\n        \"text\": \"a dog with its mouth open\",\r\n        \"confidence\": 0.52405291795730591\r\n      }\r\n    ]\r\n  },\r\n  \"requestId\": \"0e019a35-1c60-4827-8cf7-f619a878b370\",\r\n  \"metadata\": {\r\n    \"height\": 599,\r\n    \"width\": 455,\r\n    \"format\": \"Jpeg\"\r\n  }\r\n}",
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {}
}