{
  "Entries": [
    {
      "RequestUri": "/vision/v3.2/describe?maxCandidates=2&model-version=latest",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"url\": \"https://raw.githubusercontent.com/Azure/azure-sdk-for-net/master/sdk/cognitiveservices/Vision.ComputerVision/tests/TestImages/dog.jpg\"\r\n}",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": [
          ""
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "csp-billing-usage": [
          "CognitiveServices.ComputerVision.Describe=1,CognitiveServices.ComputerVision.Transaction=1"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"description\": {\r\n    \"tags\": [\r\n      \"dog\",\r\n      \"tree\",\r\n      \"outdoor\",\r\n      \"sitting\",\r\n      \"ground\",\r\n      \"animal\",\r\n      \"mammal\",\r\n      \"close\"\r\n    ],\r\n    \"captions\": [\r\n      {\r\n        \"text\": \"a dog with its mouth open\",\r\n        \"confidence\": 0.51670414209365845\r\n      }\r\n    ]\r\n  },\r\n  \"requestId\": \"019f366b-6b6c-4266-b74c-617d13dea057\",\r\n  \"metadata\": {\r\n    \"height\": 599,\r\n    \"width\": 455,\r\n    \"format\": \"Jpeg\"\r\n  },\r\n  \"modelVersion\": \"2021-04-01\"\r\n}",
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {}
}