{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/220fc532-6091-423c-8ba0-66c2397d591b/resourceGroups/dbaccount-9102/providers/Microsoft.DocumentDB/databaseAccounts/dbaccount-3554/mongodbDatabases/mongodb-5696?api-version=2023-03-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-gatewayversion": "version=2.14.0",
        "x-ms-ratelimit-remaining-subscription-reads": "11281"
      },
      "ResponseBody": {
        "id": "/subscriptions/220fc532-6091-423c-8ba0-66c2397d591b/resourceGroups/dbaccount-9102/providers/Microsoft.DocumentDB/databaseAccounts/dbaccount-3554/mongodbDatabases/mongodb-5696",
        "type": "Microsoft.DocumentDB/databaseAccounts/mongodbDatabases",
        "name": "mongodb-5696",
        "properties": {
          "resource": {
            "id": "mongodb-5696"
          }
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/220fc532-6091-423c-8ba0-66c2397d591b/resourceGroups/dbaccount-9102/providers/Microsoft.DocumentDB/databaseAccounts/dbaccount-3554/mongodbDatabases/mongodb-5696/collections/mongodb-collection-9015?api-version=2023-03-15-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "westus",
        "properties": {
          "resource": {
            "id": "mongodb-collection-9015"
          },
          "options": {
            "throughput": 700
          }
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/220fc532-6091-423c-8ba0-66c2397d591b/providers/Microsoft.DocumentDB/locations/westus2/operationsStatus/39b419b0-09be-49e1-9bc3-93245baa9cea?api-version=2023-03-15-preview",
        "Content-Type": "application/json",
        "Location": "https://management.azure.com/subscriptions/220fc532-6091-423c-8ba0-66c2397d591b/resourceGroups/dbaccount-9102/providers/Microsoft.DocumentDB/databaseAccounts/dbaccount-3554/mongodbDatabases/mongodb-5696/collections/mongodb-collection-9015/operationResults/39b419b0-09be-49e1-9bc3-93245baa9cea?api-version=2023-03-15-preview",
        "x-ms-gatewayversion": "version=2.14.0",
        "x-ms-ratelimit-remaining-subscription-writes": "1139"
      },
      "ResponseBody": {
        "status": "Enqueued"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/220fc532-6091-423c-8ba0-66c2397d591b/providers/Microsoft.DocumentDB/locations/westus2/operationsStatus/39b419b0-09be-49e1-9bc3-93245baa9cea?api-version=2023-03-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-gatewayversion": "version=2.14.0",
        "x-ms-ratelimit-remaining-subscription-reads": "11280"
      },
      "ResponseBody": {
        "status": "Enqueued"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/220fc532-6091-423c-8ba0-66c2397d591b/resourceGroups/dbaccount-9102/providers/Microsoft.DocumentDB/databaseAccounts/dbaccount-3554/mongodbDatabases/mongodb-5696/collections/mongodb-collection-9015?api-version=2023-03-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-gatewayversion": "version=2.14.0",
        "x-ms-ratelimit-remaining-subscription-reads": "11274"
      },
      "ResponseBody": {
        "id": "/subscriptions/220fc532-6091-423c-8ba0-66c2397d591b/resourceGroups/dbaccount-9102/providers/Microsoft.DocumentDB/databaseAccounts/dbaccount-3554/mongodbDatabases/mongodb-5696/collections/mongodb-collection-9015",
        "type": "Microsoft.DocumentDB/databaseAccounts/mongodbDatabases/collections",
        "name": "mongodb-collection-9015",
        "properties": {
          "resource": {
            "id": "mongodb-collection-9015",
            "indexes": [
              {
                "key": {
                  "keys": [
                    "_id"
                  ]
                }
              }
            ]
          }
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/220fc532-6091-423c-8ba0-66c2397d591b/resourceGroups/dbaccount-9102/providers/Microsoft.DocumentDB/databaseAccounts/dbaccount-3554/mongodbDatabases/mongodb-5696/collections/mongodb-collection-9015?api-version=2023-03-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-gatewayversion": "version=2.14.0",
        "x-ms-ratelimit-remaining-subscription-reads": "11267"
      },
      "ResponseBody": {
        "code": "NotFound",
        "message": "The collection \u0027mongodb-5696\u0027.\u0027mongodb-collection-9015\u0027 doesn\u0027t exist.\r\nActivityId: b644bdcd-364b-a3e9-5cbe-219f82403d20, Microsoft.Azure.Documents.Common/2.14.0"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/220fc532-6091-423c-8ba0-66c2397d591b/resourceGroups/dbaccount-9102/providers/Microsoft.DocumentDB/databaseAccounts/dbaccount-3554/mongodbDatabases/mongodb-5696/collections/mongodb-collection-9015?api-version=2023-03-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-gatewayversion": "version=2.14.0",
        "x-ms-ratelimit-remaining-subscription-reads": "11266"
      },
      "ResponseBody": {
        "code": "NotFound",
        "message": "The collection \u0027mongodb-5696\u0027.\u0027mongodb-collection-9015\u0027 doesn\u0027t exist.\r\nActivityId: 79faac6d-63e6-75c7-7b48-4815ee236fe2, Microsoft.Azure.Documents.Common/2.14.0"
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "RandomSeed": "1801983518",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "220fc532-6091-423c-8ba0-66c2397d591b"
  }
}
