{
  "Entries": [
    {
      "RequestUri": "/subscriptions/b36cdf46-b75d-4dc2-9fe1-1296ee8c623d/resourceGroups/sfmc-net-sdk-rg-3567/providers/Microsoft.ServiceFabric/managedClusters/sfmcnetsdk582?api-version=2021-05-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-failure-cause": [
          "gateway"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceGroupNotFound\",\r\n    \"message\": \"Resource group 'sfmc-net-sdk-rg-3567' could not be found.\"\r\n  }\r\n}",
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/b36cdf46-b75d-4dc2-9fe1-1296ee8c623d/resourceGroups/sfmc-net-sdk-rg-3567/providers/Microsoft.ServiceFabric/managedClusters/sfmcnetsdk582?api-version=2021-05-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11991"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/b36cdf46-b75d-4dc2-9fe1-1296ee8c623d/resourcegroups/sfmc-net-sdk-rg-3567/providers/Microsoft.ServiceFabric/managedClusters/sfmcnetsdk582\",\r\n  \"type\": \"Microsoft.ServiceFabric/managedclusters\",\r\n  \"location\": \"South Central US\",\r\n  \"name\": \"sfmcnetsdk582\",\r\n  \"tags\": {},\r\n  \"sku\": {\r\n    \"name\": \"Basic\"\r\n  },\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"clusterId\": \"d3f47a78-36ad-452b-8ff1-a15c7d46fe88\",\r\n    \"clusterState\": \"WaitingForNodes\",\r\n    \"clusterUpgradeMode\": \"Automatic\",\r\n    \"clusterUpgradeCadence\": \"Wave0\",\r\n    \"adminUserName\": \"vmadmin\",\r\n    \"dnsName\": \"sfmcnetsdk582\",\r\n    \"fqdn\": \"sfmcnetsdk582.southcentralus.cloudapp.azure.com\",\r\n    \"ipv4Address\": \"13.84.32.119\",\r\n    \"clusterCertificateThumbprints\": [\r\n      \"A8A6640EFBFE5D14A619566B08576BE6FB40A1EE\"\r\n    ],\r\n    \"clientConnectionPort\": 19000,\r\n    \"httpGatewayConnectionPort\": 19080,\r\n    \"allowRdpAccess\": false,\r\n    \"clients\": [\r\n      {\r\n        \"isAdmin\": true,\r\n        \"thumbprint\": \"123BDACDCDFB2C7B250192C6078E47D1E1DB119B\"\r\n      }\r\n    ],\r\n    \"enableAutoOSUpgrade\": false,\r\n    \"zonalResiliency\": false\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/b36cdf46-b75d-4dc2-9fe1-1296ee8c623d/resourceGroups/sfmc-net-sdk-rg-3567/providers/Microsoft.ServiceFabric/managedClusters/sfmcnetsdk582?api-version=2021-05-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11973"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/b36cdf46-b75d-4dc2-9fe1-1296ee8c623d/resourcegroups/sfmc-net-sdk-rg-3567/providers/Microsoft.ServiceFabric/managedClusters/sfmcnetsdk582\",\r\n  \"type\": \"Microsoft.ServiceFabric/managedclusters\",\r\n  \"location\": \"South Central US\",\r\n  \"name\": \"sfmcnetsdk582\",\r\n  \"tags\": {},\r\n  \"sku\": {\r\n    \"name\": \"Basic\"\r\n  },\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"clusterId\": \"d3f47a78-36ad-452b-8ff1-a15c7d46fe88\",\r\n    \"clusterState\": \"Deploying\",\r\n    \"clusterCodeVersion\": \"8.0.514.9590\",\r\n    \"clusterUpgradeMode\": \"Automatic\",\r\n    \"clusterUpgradeCadence\": \"Wave0\",\r\n    \"adminUserName\": \"vmadmin\",\r\n    \"dnsName\": \"sfmcnetsdk582\",\r\n    \"fqdn\": \"sfmcnetsdk582.southcentralus.cloudapp.azure.com\",\r\n    \"ipv4Address\": \"13.84.32.119\",\r\n    \"clusterCertificateThumbprints\": [\r\n      \"A8A6640EFBFE5D14A619566B08576BE6FB40A1EE\"\r\n    ],\r\n    \"clientConnectionPort\": 19000,\r\n    \"httpGatewayConnectionPort\": 19080,\r\n    \"allowRdpAccess\": false,\r\n    \"clients\": [\r\n      {\r\n        \"isAdmin\": true,\r\n        \"thumbprint\": \"123BDACDCDFB2C7B250192C6078E47D1E1DB119B\"\r\n      }\r\n    ],\r\n    \"enableAutoOSUpgrade\": false,\r\n    \"zonalResiliency\": false\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/b36cdf46-b75d-4dc2-9fe1-1296ee8c623d/resourceGroups/sfmc-net-sdk-rg-3567/providers/Microsoft.ServiceFabric/managedClusters/sfmcnetsdk582?api-version=2021-05-01",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/b36cdf46-b75d-4dc2-9fe1-1296ee8c623d/providers/Microsoft.ServiceFabric/locations/southcentralus/managedclusteroperationresults/72700003-2143-4dde-89db-1f59edd01366?api-version=2021-05-01&Experiment=local"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com:443/subscriptions/b36cdf46-b75d-4dc2-9fe1-1296ee8c623d/providers/Microsoft.ServiceFabric/locations/southcentralus/managedclusteroperations/72700003-2143-4dde-89db-1f59edd01366?api-version=2021-05-01&Experiment=local"
        ],
        "x-ms-ratelimit-remaining-subscription-deletes": [
          "14998"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptio[...]
    {
      "RequestUri": "/subscriptions/b36cdf46-b75d-4dc2-9fe1-1296ee8c623d/resourcegroups/sfmc-net-sdk-rg-3567?api-version=2015-11-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"South Central US\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/b36cdf46-b75d-4dc2-9fe1-1296ee8c623d/resourceGroups/sfmc-net-sdk-rg-3567\",\r\n  \"name\": \"sfmc-net-sdk-rg-3567\",\r\n  \"location\": \"southcentralus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/b36cdf46-b75d-4dc2-9fe1-1296ee8c623d/resourceGroups/sfmc-net-sdk-rg-3567/providers/Microsoft.ServiceFabric/managedClusters/sfmcnetsdk582?api-version=2021-05-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"dnsName\": \"sfmcnetsdk582\",\r\n    \"clientConnectionPort\": 19000,\r\n    \"httpGatewayConnectionPort\": 19080,\r\n    \"adminUserName\": \"vmadmin\",\r\n    \"adminPassword\": \"Password123!@#\",\r\n    \"clients\": [\r\n      {\r\n        \"isAdmin\": true,\r\n        \"thumbprint\": \"123BDACDCDFB2C7B250192C6078E47D1E1DB119B\"\r\n      }\r\n    ],\r\n    \"clusterUpgradeMode\": \"Automatic\",\r\n    \"zonalResiliency\": false\r\n  },\r\n  \"sku\": {\r\n    \"name\": \"Basic\"\r\n  },\r\n  \"location\": \"South Central US\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders[...]
    {
      "RequestUri": "/subscriptions/b36cdf46-b75d-4dc2-9fe1-1296ee8c623d/providers/Microsoft.ServiceFabric/locations/southcentralus/managedclusteroperations/03150003-3107-43cc-a859-abcc04939efb?api-version=2021-05-01&Experiment=local",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11998"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"03150003-3107-43cc-a859-abcc04939efb\",\r\n  \"startTime\": \"2021-04-15T22:16:55.8274054Z\",\r\n  \"endTime\": \"0001-01-01T00:00:00\",\r\n  \"percentComplete\": 30.0,\r\n  \"status\": \"Created\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/b36cdf46-b75d-4dc2-9fe1-1296ee8c623d/resourceGroups/sfmc-net-sdk-rg-3567/providers/Microsoft.ServiceFabric/managedClusters/sfmcnetsdk582/nodeTypes/nt5864?api-version=2021-05-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"isPrimary\": true,\r\n    \"vmInstanceCount\": 6,\r\n    \"dataDiskSizeGB\": 100,\r\n    \"dataDiskType\": \"StandardSSD_LRS\",\r\n    \"vmSize\": \"Standard_D2\",\r\n    \"vmImagePublisher\": \"MicrosoftWindowsServer\",\r\n    \"vmImageOffer\": \"WindowsServer\",\r\n    \"vmImageSku\": \"2019-Datacenter\",\r\n    \"vmImageVersion\": \"latest\",\r\n    \"isStateless\": false\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Azure-AsyncOperation": [
          "https://management.azure.com:443/subscriptions/b36cdf46-b75d-4dc2-9fe1-1296ee8c623d/providers/Microsoft.ServiceFabric/locations/southcentralus/managedclusteroperations/777e0003-6cc4-415a-ab22-6a7545df70ad?api-version=2021-05-01&Experiment=local"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1198"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/b36cdf46-b75d-4dc2-9fe1-1296ee8c623d/resourcegroups/sfmc-net-sdk-rg-3567/providers/Microsoft.ServiceFabric/managedClusters/sfmcnetsdk582/nodetypes/nt5864\",\r\n  \"type\": \"Microsoft.ServiceFabric/managedclusters/nodetypes\",\r\n  \"location\": \"South Central US\",\r\n  \"name\": \"nt5864\",\r\n  \"tags\": {},\r\n  \"properties\": {\r\n    \"provisioningState\": \"Creating\",\r\n    \"isPrimary\": true,\r\n    \"vmImagePublisher\": \"MicrosoftWindowsServer\",\r\n    \"vmImageOffer\": \"WindowsServer\",\r\n    \"vmImageSku\": \"2019-Datacenter\",\r\n    \"vmImageVersion\": \"latest\",\r\n    \"vmSize\": \"Standard_D2\",\r\n    \"vmInstanceCount\": 6,\r\n    \"dataDiskSizeGB\": 100,\r\n    \"dataDiskType\": \"StandardSSD_LRS\",\r\n    \"placementProperties\": {},\r\n    \"capacities\": {},\r\n    \"isStateless\": false\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/b36cdf46-b75d-4dc2-9fe1-1296ee8c623d/resourceGroups/sfmc-net-sdk-rg-3567/providers/Microsoft.ServiceFabric/managedClusters/sfmcnetsdk582/nodeTypes/nt5864/restart?api-version=2021-05-01",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"nodes\": [\r\n    \"nt5864_3\"\r\n  ]\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/b36cdf46-b75d-4dc2-9fe1-1296ee8c623d/providers/Microsoft.ServiceFabric/locations/southcentralus/managedclusteroperationresults/75a10003-5c71-48ac-a953-dc5ef65af3db?api-version=2021-05-01&Experiment=local"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com:443/subscriptions/b36cdf46-b75d-4dc2-9fe1-1296ee8c623d/providers/Microsoft.ServiceFabric/locations/southcentralus/managedclusteroperations/75a10003-5c71-48ac-a953-dc5ef65af3db?api-version=2021-05-01&Experiment=local"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{}",
      "StatusCode": 202
    },
[...]
    {
      "RequestUri": "/subscriptions/b36cdf46-b75d-4dc2-9fe1-1296ee8c623d/providers/Microsoft.ServiceFabric/locations/southcentralus/managedclusteroperationresults/75a10003-5c71-48ac-a953-dc5ef65af3db?api-version=2021-05-01&Experiment=local",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11960"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 204
    },
    {
      "RequestUri": "/subscriptions/b36cdf46-b75d-4dc2-9fe1-1296ee8c623d/resourceGroups/sfmc-net-sdk-rg-3567/providers/Microsoft.ServiceFabric/managedClusters/sfmcnetsdk582/nodeTypes/nt5864/deleteNode?api-version=2021-05-01",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"nodes\": [\r\n    \"nt5864_0\"\r\n  ]\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/b36cdf46-b75d-4dc2-9fe1-1296ee8c623d/providers/Microsoft.ServiceFabric/locations/southcentralus/managedclusteroperationresults/681a0003-3ba6-40b7-9c62-e1f14723c6cc?api-version=2021-05-01&Experiment=local"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com:443/subscriptions/b36cdf46-b75d-4dc2-9fe1-1296ee8c623d/providers/Microsoft.ServiceFabric/locations/southcentralus/managedclusteroperations/681a0003-3ba6-40b7-9c62-e1f14723c6cc?api-version=2021-05-01&Experiment=local"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1198"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{}",
      "StatusCode": 202
    },
[...]
    {
      "RequestUri": "/subscriptions/b36cdf46-b75d-4dc2-9fe1-1296ee8c623d/resourceGroups/sfmc-net-sdk-rg-3567/providers/Microsoft.ServiceFabric/managedClusters/sfmcnetsdk582/nodeTypes/nt5864/reimage?api-version=2021-05-01",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"nodes\": [\r\n    \"nt5864_3\"\r\n  ]\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/b36cdf46-b75d-4dc2-9fe1-1296ee8c623d/providers/Microsoft.ServiceFabric/locations/southcentralus/managedclusteroperationresults/22170003-359a-469b-83f0-993f695d1e46?api-version=2021-05-01&Experiment=local"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com:443/subscriptions/b36cdf46-b75d-4dc2-9fe1-1296ee8c623d/providers/Microsoft.ServiceFabric/locations/southcentralus/managedclusteroperations/22170003-359a-469b-83f0-993f695d1e46?api-version=2021-05-01&Experiment=local"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1197"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{}",
      "StatusCode": 202
    },
[...]
    {
      "RequestUri": "/subscriptions/b36cdf46-b75d-4dc2-9fe1-1296ee8c623d/providers/Microsoft.ServiceFabric/locations/southcentralus/managedclusteroperationresults/72700003-2143-4dde-89db-1f59edd01366?api-version=2021-05-01&Experiment=local",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11894"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 204
    }
  ],
  "Names": {
    "NodeTypeNodeOperationsTest": [
      "sfmc-net-sdk-rg-3567",
      "sfmcnetsdk582",
      "nt5864"
    ]
  },
  "Variables": {
    "SubscriptionId": "b36cdf46-b75d-4dc2-9fe1-1296ee8c623d"
  }
}