{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/87082bb7-c39f-42d2-83b6-4980444c7397?api-version=2019-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11947"
      },
      "ResponseBody": {
        "id": "/subscriptions/87082bb7-c39f-42d2-83b6-4980444c7397",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "subscriptionId": "87082bb7-c39f-42d2-83b6-4980444c7397",
        "tenantId": "75743128-1c62-4904-9be1-c23c1edb9a9f",
        "displayName": "Visual Studio Enterprise \u8BA2\u9605",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Public_2014-09-01",
          "quotaId": "MSDN_2014-09-01",
          "spendingLimit": "On"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/87082bb7-c39f-42d2-83b6-4980444c7397/resourcegroups/testRg-9027?api-version=2019-10-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1198"
      },
      "ResponseBody": {
        "id": "/subscriptions/87082bb7-c39f-42d2-83b6-4980444c7397/resourceGroups/testRg-9027",
        "name": "testRg-9027",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/87082bb7-c39f-42d2-83b6-4980444c7397/resourceGroups/testRg-9027/providers/Microsoft.Cdn/profiles/AFDProfile-827?api-version=2020-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "sku": {
          "name": "Standard_AzureFrontDoor"
        },
        "location": "Global",
        "properties": {}
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/87082bb7-c39f-42d2-83b6-4980444c7397/resourcegroups/testRg-9027/providers/Microsoft.Cdn/operationresults/ce7ae2ee-7638-4c83-88f7-1501ff63219c?api-version=2020-09-01",
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "23"
      },
      "ResponseBody": {
        "id": "/subscriptions/87082bb7-c39f-42d2-83b6-4980444c7397/resourcegroups/testRg-9027/providers/Microsoft.Cdn/profiles/AFDProfile-827",
        "type": "Microsoft.Cdn/profiles",
        "name": "AFDProfile-827",
        "location": "Global",
        "kind": "frontdoor",
        "tags": {},
        "sku": {
          "name": "Standard_AzureFrontDoor"
        },
        "properties": {
          "frontDoorId": "5ae4a607-308c-463d-b1b8-1ffb0b71c6bb",
          "resourceState": "Creating",
          "provisioningState": "Creating"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/87082bb7-c39f-42d2-83b6-4980444c7397/resourcegroups/testRg-9027/providers/Microsoft.Cdn/operationresults/ce7ae2ee-7638-4c83-88f7-1501ff63219c?api-version=2020-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11946"
      },
      "ResponseBody": {
        "status": "InProgress",
        "error": {
          "code": "None",
          "message": null
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/87082bb7-c39f-42d2-83b6-4980444c7397/resourceGroups/testRg-9027/providers/Microsoft.Cdn/profiles/AFDProfile-827/secrets/AFDSecret-9845?api-version=2020-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "parameters": {
            "secretSource": {
              "id": "/subscriptions/87082bb7-c39f-42d2-83b6-4980444c7397/resourceGroups/CdnTest/providers/Microsoft.KeyVault/vaults/testKV4AFD/certificates/testCert"
            },
            "useLatestVersion": true,
            "type": "CustomerCertificate"
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "98"
      },
      "ResponseBody": {
        "id": "/subscriptions/87082bb7-c39f-42d2-83b6-4980444c7397/resourcegroups/testRg-9027/providers/Microsoft.Cdn/profiles/AFDProfile-827/secrets/AFDSecret-9845",
        "type": "Microsoft.Cdn/profiles/secrets",
        "name": "AFDSecret-9845",
        "properties": {
          "parameters": {
            "type": "CustomerCertificate",
            "subject": "testssolution.com",
            "certificateAuthority": "CN=ZeroSSL RSA Domain Secure Site CA, O=ZeroSSL, C=AT",
            "expirationDate": "2022-01-07T23:59:59\u002B00:00",
            "thumbprint": "3A1C43D1758AEECD68564350FB8CC3793866BDC8",
            "secretSource": {
              "id": "/subscriptions/87082bb7-c39f-42d2-83b6-4980444c7397/resourceGroups/CdnTest/providers/Microsoft.KeyVault/vaults/testKV4AFD/certificates/testCert"
            },
            "secretVersion": "242fe9960a044ca1ab28e79cbcf75d29",
            "useLatestVersion": true,
            "subjectAlternativeNames": [
              "testssolution.com",
              "www.testssolution.com"
            ]
          },
          "provisioningState": "Succeeded",
          "deploymentStatus": "NotStarted"
        }
      }
    }
  ],
  "Variables": {
    "RandomSeed": "1737567639",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "87082bb7-c39f-42d2-83b6-4980444c7397"
  }
}