{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/7c4785eb-d3cf-4349-b811-8d756312d1ff?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11809"
      },
      "ResponseBody": {
        "id": "/subscriptions/7c4785eb-d3cf-4349-b811-8d756312d1ff",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "DDFunMDCTag": "Public"
        },
        "subscriptionId": "7c4785eb-d3cf-4349-b811-8d756312d1ff",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": "CacheTeam - AJ Tiwari",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/7c4785eb-d3cf-4349-b811-8d756312d1ff/resourcegroups/testRG-7513?api-version=**",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {
          "test": "env"
        },
        "location": "eastus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1191"
      },
      "ResponseBody": {
        "id": "/subscriptions/7c4785eb-d3cf-4349-b811-8d756312d1ff/resourceGroups/testRG-7513",
        "name": "testRG-7513",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus",
        "tags": {
          "test": "env"
        },
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/7c4785eb-d3cf-4349-b811-8d756312d1ff/resourceGroups/testRG-7513/providers/Microsoft.Cache/redis/RedisBegin8889?api-version=2023-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus",
        "properties": {
          "sku": {
            "name": "Premium",
            "family": "P",
            "capacity": 1
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/7c4785eb-d3cf-4349-b811-8d756312d1ff/providers/Microsoft.Cache/locations/East%20US/asyncOperations/ce729836-f04b-4b55-9355-6a312495a832?api-version=2023-04-01",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/7c4785eb-d3cf-4349-b811-8d756312d1ff/resourceGroups/testRG-7513/providers/Microsoft.Cache/redis/RedisBegin8889?api-version=2023-04-01",
        "x-ms-ratelimit-remaining-subscription-writes": "1190",
        "x-rp-server-mvid": "7bfbfeec-1fa5-40de-80e4-255dbbd614d8"
      },
      "ResponseBody": {
        "id": "/subscriptions/7c4785eb-d3cf-4349-b811-8d756312d1ff/resourceGroups/testRG-7513/providers/Microsoft.Cache/Redis/RedisBegin8889",
        "location": "East US",
        "name": "RedisBegin8889",
        "type": "Microsoft.Cache/Redis",
        "tags": {},
        "properties": {
          "provisioningState": "Creating",
          "redisVersion": "6.0",
          "sku": {
            "name": "Premium",
            "family": "P",
            "capacity": 1
          },
          "enableNonSslPort": false,
          "instances": [
            {
              "sslPort": 15000,
              "isMaster": false,
              "isPrimary": false
            },
            {
              "sslPort": 15001,
              "isMaster": false,
              "isPrimary": false
            }
          ],
          "publicNetworkAccess": "Enabled",
          "redisConfiguration": {
            "maxclients": "7500",
            "maxmemory-reserved": "642",
            "maxfragmentationmemory-reserved": "642",
            "maxmemory-delta": "642"
          },
          "accessKeys": {
            "primaryKey": "Sanitized",
            "secondaryKey": "Sanitized"
          },
          "hostName": "RedisBegin8889.redis.cache.windows.net",
          "port": 6379,
          "sslPort": 6380,
          "linkedServers": []
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/7c4785eb-d3cf-4349-b811-8d756312d1ff/providers/Microsoft.Cache/locations/East%20US/asyncOperations/ce729836-f04b-4b55-9355-6a312495a832?api-version=2023-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/7c4785eb-d3cf-4349-b811-8d756312d1ff/providers/Microsoft.Cache/locations/East%20US/asyncOperations/ce729836-f04b-4b55-9355-6a312495a832?api-version=2023-04-01",
        "Content-Type": "application/json",
        "x-ms-ratelimit-remaining-subscription-reads": "11808",
        "x-rp-server-mvid": "7bfbfeec-1fa5-40de-80e4-255dbbd614d8"
      },
      "ResponseBody": {
        "id": "/subscriptions/7c4785eb-d3cf-4349-b811-8d756312d1ff/providers/Microsoft.Cache/locations/East US/asyncOperations/ce729836-f04b-4b55-9355-6a312495a832",
        "name": "ce729836-f04b-4b55-9355-6a312495a832",
        "status": "InProgress",
        "startTime": null,
        "endTime": null,
        "percentComplete": null,
        "properties": null,
        "error": null
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/7c4785eb-d3cf-4349-b811-8d756312d1ff/resourceGroups/testRG-7513/providers/Microsoft.Cache/redis?api-version=2023-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11807",
        "x-rp-server-mvid": "7bfbfeec-1fa5-40de-80e4-255dbbd614d8"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/7c4785eb-d3cf-4349-b811-8d756312d1ff/resourceGroups/testRG-7513/providers/Microsoft.Cache/Redis/RedisBegin8889",
            "location": "East US",
            "name": "RedisBegin8889",
            "type": "Microsoft.Cache/Redis",
            "tags": {},
            "properties": {
              "provisioningState": "Succeeded",
              "redisVersion": "6.0",
              "sku": {
                "name": "Premium",
                "family": "P",
                "capacity": 1
              },
              "enableNonSslPort": false,
              "instances": [
                {
                  "sslPort": 15000,
                  "isMaster": true,
                  "isPrimary": true
                },
                {
                  "sslPort": 15001,
                  "isMaster": false,
                  "isPrimary": false
                }
              ],
              "publicNetworkAccess": "Enabled",
              "redisConfiguration": {
                "maxclients": "7500",
                "maxmemory-reserved": "642",
                "maxfragmentationmemory-reserved": "642",
                "maxmemory-delta": "642"
              },
              "accessKeys": null,
              "hostName": "RedisBegin8889.redis.cache.windows.net",
              "port": 6379,
              "sslPort": 6380,
              "linkedServers": []
            }
          }
        ]
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/7c4785eb-d3cf-4349-b811-8d756312d1ff/providers/Microsoft.Cache/redis?api-version=2023-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-original-request-ids": [
          "fb209f7e-bc25-4169-8e85-d460d58c31a4",
          "54101219-43fb-42cc-9636-7beb4c80530b",
          "82b8ee9c-49fd-4883-8327-737ad279dcae",
          "43dd71b6-5943-4233-ba32-e3f66277bb63",
          "4c375591-0279-4604-8b42-72ad75a809a8",
          "3b74827b-6635-47d0-95ed-10206bb495c7",
          "524dde8c-20c5-4373-a8c1-1075de7fc286"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": "11806"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/7c4785eb-d3cf-4349-b811-8d756312d1ff/resourceGroups/aj-tiwari/providers/Microsoft.Cache/Redis/aoftest",
            "location": "North Europe",
            "name": "aoftest",
            "type": "Microsoft.Cache/Redis",
            "tags": {},
            "properties": {
              "provisioningState": "Succeeded",
              "redisVersion": "6.0",
              "sku": {
                "name": "Premium",
                "family": "P",
                "capacity": 2
              },
              "enableNonSslPort": false,
              "instances": [
                {
                  "sslPort": 15000,
                  "shardId": 0,
                  "isMaster": true,
                  "isPrimary": true
                },
                {
                  "sslPort": 15001,
                  "shardId": 0,
                  "isMaster": false,
                  "isPrimary": false
                },
                {
                  "sslPort": 15002,
                  "shardId": 1,
                  "isMaster": true,
                  "isPrimary": true
                },
                {
                  "sslPort": 15[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/7c4785eb-d3cf-4349-b811-8d756312d1ff/resourceGroups/testRG-7513/providers/Microsoft.Cache/redis/RedisBegin8889/listKeys?api-version=2023-04-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1197",
        "x-rp-server-mvid": "7bfbfeec-1fa5-40de-80e4-255dbbd614d8"
      },
      "ResponseBody": {
        "primaryKey": "Sanitized",
        "secondaryKey": "Sanitized"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/7c4785eb-d3cf-4349-b811-8d756312d1ff/resourceGroups/testRG-7513/providers/Microsoft.Cache/redis/RedisBegin8889/regenerateKey?api-version=2023-04-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "keyType": "Primary"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1196",
        "x-rp-server-mvid": "7bfbfeec-1fa5-40de-80e4-255dbbd614d8"
      },
      "ResponseBody": {
        "primaryKey": "Sanitized",
        "secondaryKey": "Sanitized"
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "RandomSeed": "1672841758",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "7c4785eb-d3cf-4349-b811-8d756312d1ff"
  }
}
