{
  "Entries": [
    {
      "RequestUri": "/f3dc4aaa-f836-4cef-91af-8764f035bfa9/services/hostedservices/azsmnet4064/deployments/azsmnet5683/migration?comp=validate",
      "RequestMethod": "POST",
      "RequestBody": "<DeploymentNetworkResource xmlns=\"http://schemas.microsoft.com/windowsazure\">\r\n  <ResourceGroupName></ResourceGroupName>\r\n  <VirtualNetworkName></VirtualNetworkName>\r\n  <SubNetName></SubNetName>\r\n  <DestinationVirtualNetwork>New</DestinationVirtualNetwork>\r\n</DeploymentNetworkResource>",
      "RequestHeaders": {
        "Content-Type": [
          "application/xml"
        ],
        "x-ms-version": [
          "2016-03-01"
        ]
      },
      "ResponseBody": "<ValidationMessages xmlns=\"http://schemas.microsoft.com/windowsazure\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n  <ValidationMessage>\r\n    <ResourceType>Deployment</ResourceType>\r\n    <ResourceName>azsmnet5683</ResourceName>\r\n    <Category>Error</Category>\r\n    <Message>The deployment name 'azsmnet5683' does not exist.</Message>\r\n  </ValidationMessage>\r\n</ValidationMessages>",
      "ResponseHeaders": {
        "Content-Type": [
          "application/xml; charset=utf-8"
        ],
        "x-ms-servedbyregion": [
          "ussouth3"
        ]
      },
      "StatusCode": 200
    }
  ],
  "Names": {
    "CanValidateDeploymentForMigration": [
      "azsmnet4064",
      "azsmnet5683"
    ]
  },
  "Variables": {
    "SubscriptionId": "f3dc4aaa-f836-4cef-91af-8764f035bfa9"
  }
}