{
  "Entries": [
    {
      "RequestUri": "https://myaccountname.purview.azure.com/share/sentShares/016eb068-ddaa-41be-8804-8bef566663a5/sentShareInvitations/4ae8a8dc-0662-4027-960e-92b4778fc5ff?api-version=2023-05-30-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "invitationKind": "Service",
        "properties": {
          "TargetActiveDirectoryId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
          "TargetObjectId": "67bb1d64-b708-496a-ba33-48c242cbb6c8"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "/sentShares/fe11781e-9a7d-488d-bd22-cc2c95536e96/sentShareInvitations/4ae8a8dc-0662-4027-960e-92b4778fc5ff/4ae8a8dc-0662-4027-960e-92b4778fc5ff"
      },
      "ResponseBody": {
        "properties": {
          "targetActiveDirectoryId": "9299795a-3979-4c95-a2fa-2431ea9171f2",
          "targetObjectId": "67bb1d64-b708-496a-ba33-48c242cbb6c8",
          "shareStatus": "Attached",
          "sentAt": "2023-06-12T04:04:14.1369877Z",
          "senderName": "sdk-05-30-share",
          "senderTenantName": "Microsoft",
          "state": "Succeeded"
        },
        "invitationKind": "Service",
        "id": "4ae8a8dc-0662-4027-960e-92b4778fc5ff",
        "type": "sentShares/sentShareInvitations"
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": null,
    "PURVIEW_SHARE_URL": "https://myaccountname.purview.azure.com/share",
    "RandomSeed": "865092215"
  }
}
