{
  "Entries": [
    {
      "RequestUri": "https://azs-net-pakrysearch.search.windows.net/indexes(\u0027emintori\u0027)/docs/search.index?api-version=2020-06-30",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "api-key": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "value": [
          {
            "@search.action": "upload",
            "hotelId": "11"
          },
          {
            "@search.action": "upload",
            "hotelId": "12"
          },
          {
            "@search.action": "upload",
            "hotelId": "13"
          },
          {
            "@search.action": "upload",
            "hotelId": "14"
          },
          {
            "@search.action": "upload",
            "hotelId": "15"
          },
          {
            "@search.action": "upload",
            "hotelId": "16"
          },
          {
    [...]
[...]
    {
      "RequestUri": "https://azs-net-pakrysearch.search.windows.net/indexes(\u0027emintori\u0027)/docs/search.post.search?api-version=2020-06-30",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "api-key": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "orderby": "hotelId asc",
        "search": "*",
        "select": "hotelId",
        "top": 3000
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=none",
        "elapsed-time": "78",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\u0022*\u0022"
      },
      "ResponseBody": {
        "@search.nextPageParameters": {
          "orderby": "hotelId asc",
          "search": "*",
          "select": "hotelId",
          "top": 2000,
          "skip": 1000
        },
        "value": [
          {
            "@search.score": 1.0,
            "hotelId": "1"
          },
          {
            "@search.score": 1.0,
            "hotelId": "10"
          },
          {
            "@search.score": 1.0,
            "hotelId": "100"
          },
          {
            "@search.score": 1.0,
            "hotelId": "1000"
          },
          {
            "@search.score": 1.0,
            "hotelId": "1001"
          },
          {
            "[...]
[...]
    {
      "RequestUri": "https://azs-net-pakrysearch.search.windows.net/indexes(\u0027emintori\u0027)?api-version=2020-06-30",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "elapsed-time": "425"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1771240683",
    "SearchIndexName": "emintori",
    "SEARCH_ADMIN_API_KEY": "Sanitized",
    "SEARCH_QUERY_API_KEY": "Sanitized",
    "SEARCH_SERVICE_NAME": "azs-net-pakrysearch"
  }
}