{
  "Entries": [
    {
      "RequestUri": "https://mohitc-acs.search.windows.net/indexes(\u0027djpnsaeo\u0027)/docs/search.index?api-version=2020-06-30",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "api-key": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "value": [
          {
            "@search.action": "upload",
            "Key": "1",
            "Value": "9-6"
          },
          {
            "@search.action": "upload",
            "Key": "2",
            "Value": "9.6"
          },
          {
            "@search.action": "upload",
            "Key": "3",
            "Value": "9\u00276\u0022"
          }
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=none",
        "elapsed-time": "120",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\u0022*\u0022"
      },
      "ResponseBody": {
        "value": [
          {
            "key": "1",
            "status": true,
            "errorMessage": null,
            "statusCode": 201
          },
          {
            "key": "2",
            "status": true,
            "errorMessage": null,
            "statusCode": 201
          },
          {
            "key": "3",
            "status": true,
            "errorMessage": null,
            "statusCode": 201
          }
        ]
      }
    },
    {
      "RequestUri": "https://mohitc-acs.search.windows.net/indexes(\u0027djpnsaeo\u0027)/docs/search.post.search?api-version=2020-06-30",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "api-key": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "facets": [
          "Value"
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=none",
        "elapsed-time": "23",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\u0022*\u0022"
      },
      "ResponseBody": {
        "@search.facets": {
          "Value": [
            {
              "count": 1,
              "value": "9\u00276\u0022"
            },
            {
              "count": 1,
              "value": "9-6"
            },
            {
              "count": 1,
              "value": "9.6"
            }
          ]
        },
        "value": [
          {
            "@search.score": 1.0,
            "Key": "3",
            "Value": "9\u00276\u0022"
          },
          {
            "@search.score": 1.0,
            "Key": "2",
            "Value": "9.6"
          },
          {
            "@search.score": 1.0,
            "Key": "1",
            "Value": "9-6"
          }
        ]
      }
    },
    {
      "RequestUri": "https://mohitc-acs.search.windows.net/indexes(\u0027djpnsaeo\u0027)?api-version=2020-06-30",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "elapsed-time": "174"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1102667734",
    "SearchIndexName": "djpnsaeo",
    "SEARCH_ADMIN_API_KEY": "Sanitized",
    "SEARCH_ENDPOINT_SUFFIX": null,
    "SEARCH_QUERY_API_KEY": "Sanitized",
    "SEARCH_SERVICE_NAME": "mohitc-acs"
  }
}