{
  "Entries": [
    {
      "RequestUri": "https://azs-net-teglaza2.search.windows.net/indexes(\u0027ymmcblub\u0027)/docs/search.index?api-version=2020-06-30",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "api-key": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "value": [
          {
            "@search.action": "upload",
            "Key": "1",
            "Value": "2020-11-06T16:04"
          },
          {
            "@search.action": "upload",
            "Key": "2",
            "Value": "2020-11-06"
          },
          {
            "@search.action": "upload",
            "Key": "3",
            "Value": "16:04"
          }
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=none",
        "elapsed-time": "202",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\u0022*\u0022"
      },
      "ResponseBody": {
        "value": [
          {
            "key": "1",
            "status": true,
            "errorMessage": null,
            "statusCode": 201
          },
          {
            "key": "2",
            "status": true,
            "errorMessage": null,
            "statusCode": 201
          },
          {
            "key": "3",
            "status": true,
            "errorMessage": null,
            "statusCode": 201
          }
        ]
      }
    },
    {
      "RequestUri": "https://azs-net-teglaza2.search.windows.net/indexes(\u0027ymmcblub\u0027)/docs/search.post.search?api-version=2020-06-30",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "api-key": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "facets": [
          "Value,count:3"
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=none",
        "elapsed-time": "64",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\u0022*\u0022"
      },
      "ResponseBody": {
        "@search.facets": {
          "Value": [
            {
              "count": 1,
              "value": "16:04"
            },
            {
              "count": 1,
              "value": "2020-11-06"
            },
            {
              "count": 1,
              "value": "2020-11-06T16:04"
            }
          ]
        },
        "value": [
          {
            "@search.score": 1.0,
            "Key": "1",
            "Value": "2020-11-06T16:04"
          },
          {
            "@search.score": 1.0,
            "Key": "2",
            "Value": "2020-11-06"
          },
          {
            "@search.score": 1.0,
            "Key": "3",
            "Value": "16:04"
          }
        ]
      }
    },
    {
      "RequestUri": "https://azs-net-teglaza2.search.windows.net/indexes(\u0027ymmcblub\u0027)?api-version=2020-06-30",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "elapsed-time": "156"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2020-11-06T16:04:03.6067379-08:00",
    "RandomSeed": "2085134664",
    "SearchIndexName": "ymmcblub",
    "SEARCH_ADMIN_API_KEY": "Sanitized",
    "SEARCH_QUERY_API_KEY": "Sanitized",
    "SEARCH_SERVICE_NAME": "azs-net-teglaza2"
  }
}