{
  "Entries": [
    {
      "RequestUri": "https://mohitc-acs.search.windows.net/indexes(\u0027mbqvlxmt\u0027)/docs/search.post.search?api-version=2020-06-30",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "api-key": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "filter": "rating eq 5",
        "highlight": "description,category",
        "highlightPostTag": "\u003C/b\u003E",
        "highlightPreTag": "\u003Cb\u003E",
        "search": "luxury hotel"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=none",
        "elapsed-time": "16",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\u0022*\u0022"
      },
      "ResponseBody": "{\u0022value\u0022:[{\u0022@search.score\u0022:1.9115671,\u0022@search.highlights\u0022:{\u0022category\u0022:[\u0022\u003Cb\u003ELuxury\u003C/b\u003E\u0022],\u0022description\u0022:[\u0022Best \u003Cb\u003Ehotel\u003C/b\u003E in town if you like \u003Cb\u003Eluxury\u003C/b\u003E \u003Cb\u003Ehotels\u003C/b\u003E.\u0022,\u0022We highly recommend this \u003Cb\u003Ehotel\u003C/b\u003E.\u0022]},\u0022hotelId\u0022:\u00221\u0022,\u0022hotelName\u0022:\u0022Fancy Stay\u0022,\u0022description\u0022:[...]
