{
  "Entries": [
    {
      "RequestUri": "https://azs-net-amyysbpg.search.windows.net/indexes(\u0027gerhvwda\u0027)/docs/search.post.search?api-version=2019-05-06-Preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "api-key": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "facets": [],
        "queryType": "full",
        "scoringParameters": [],
        "search": "hotelName:roch~",
        "select": "hotelName,rating"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal",
        "elapsed-time": "25",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\u0022*\u0022"
      },
      "ResponseBody": {
        "@odata.context": "https://azs-net-amyysbpg.search.windows.net/indexes(\u0027gerhvwda\u0027)/$metadata#docs(*)",
        "value": [
          {
            "@search.score": 1.8411939,
            "hotelName": "Roach Motel",
            "rating": 1
          }
        ]
      }
    }
  ],
  "Variables": {
    "RandomSeed": "1305604714",
    "SearchIndexName": "gerhvwda",
    "SearchServiceName": "azs-net-amyysbpg"
  }
}