{
  "Entries": [
    {
      "RequestUri": "https://azs-net-heathsrchtst.search.windows.net/indexes(\u0027josgoidr\u0027)/docs/search.post.search?api-version=2020-06-30",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "api-key": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "facets": [
          "rooms/baseRate,values:5|8|10",
          "lastRenovationDate,values:2000-01-01T00:00:00Z"
        ],
        "scoringParameters": [],
        "search": "*"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=none",
        "elapsed-time": "124",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\u0022*\u0022"
      },
      "ResponseBody": "{\u0022@search.facets\u0022:{\u0022lastRenovationDate\u0022:[{\u0022count\u0022:5,\u0022to\u0022:\u00222000-01-01T00:00:00.000\u002B0000\u0022},{\u0022count\u0022:2,\u0022from\u0022:\u00222000-01-01T00:00:00.000\u002B0000\u0022}],\u0022rooms/baseRate\u0022:[{\u0022count\u0022:1,\u0022to\u0022:5.0},{\u0022count\u0022:1,\u0022from\u0022:5.0,\u0022to\u0022:8.0},{\u0022count\u0022:1,\u0022from\u0022:8.0,\u0022to\u0022:10.0},{\u0022count\u0022:0,\u0022from\u0022:10.0}]},\u0022value\u0022:[{\u0022@s[...]
