{
  "Entries": [
    {
      "RequestUri": "https://azs-net-morphgyq.search.windows.net/indexes(\u0027ylirgsqk\u0027)/docs/search.post.search?api-version=2019-05-06-Preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "api-key": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "facets": [],
        "queryType": "full",
        "scoringParameters": [],
        "search": "hotelName:/.*oach.*\\/?/",
        "select": "hotelName,rating"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=none",
        "elapsed-time": "5",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\u0022*\u0022"
      },
      "ResponseBody": {
        "value": [
          {
            "@search.score": 1.0,
            "hotelName": "Roach Motel",
            "rating": 1
          }
        ]
      }
    }
  ],
  "Variables": {
    "RandomSeed": "780300718",
    "SearchIndexName": "ylirgsqk",
    "SearchServiceName": "azs-net-morphgyq"
  }
}