{
  "Entries": [
    {
      "RequestUri": "https://azs-net-heathsearch2.search.windows.net/indexes(\u0027yrehvsfy\u0027)/docs/search.post.search?api-version=2019-05-06-Preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "api-key": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "facets": [],
        "queryType": "full",
        "scoringParameters": [],
        "search": "/.*/.*/"
      },
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Language": "en",
        "Content-Type": "application/json; odata.metadata=none",
        "elapsed-time": "32",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\u0022*\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "",
          "message": "Failed to parse query string at line 1, column 8. See https://aka.ms/azure-search-full-query for supported syntax."
        }
      }
    }
  ],
  "Variables": {
    "RandomSeed": "1082736906",
    "SearchIndexName": "yrehvsfy",
    "SEARCH_QUERY_API_KEY": "Sanitized",
    "SEARCH_SERVICE_NAME": "azs-net-heathsearch2"
  }
}