{
  "Entries": [
    {
      "RequestUri": "https://azs-net-heathsrchtst.search.windows.net/indexes(\u0027josgoidr\u0027)/docs/search.post.search?api-version=2020-06-30",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "api-key": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "facets": [],
        "queryType": "simple",
        "scoringParameters": [],
        "search": "Cheapest hotel",
        "searchMode": "all"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=none",
        "elapsed-time": "5",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\u0022*\u0022"
      },
      "ResponseBody": "{\u0022value\u0022:[{\u0022@search.score\u0022:4.3545203,\u0022hotelId\u0022:\u00222\u0022,\u0022hotelName\u0022:\u0022Roach Motel\u0022,\u0022description\u0022:\u0022Cheapest hotel in town. Infact, a motel.\u0022,\u0022descriptionFr\u0022:\u0022H\\u00f4tel le moins cher en ville. Infact, un motel.\u0022,\u0022category\u0022:\u0022Budget\u0022,\u0022tags\u0022:[\u0022motel\u0022,\u0022budget\u0022],\u0022parkingIncluded\u0022:true,\u0022smokingAllowed\u0022:true,\u0022lastRenovationDate\u0022:\u00221982-04-28T00:00:00Z\u0022,\u0022rating\u0022:1,\u0022location\u0022:{\u0022type\u0022:\u0022Point\u0022,\u0022coordinates\u0022:[-122.131577,49.678581],\u0022crs\u0022:{\u0022type\u0022:\u0022name\u0022,\u0022properties\u0022:{\u0022name\u0022:\u0022EPSG:4326\u0022}}},\u0022address\u0022:null,\u0022rooms\u0022:[]}]}"
    }
  ],
  "Variables": {
    "RandomSeed": "1552992714",
    "SearchIndexName": "josgoidr",
    "SEARCH_QUERY_API_KEY": "Sanitized",
    "SEARCH_SERVICE_NAME": "azs-net-heathsrchtst"
  }
}