{
  "Entries": [
    {
      "RequestUri": "https://azs-net-heathsrchtst.search.windows.net/indexes(\u0027josgoidr\u0027)/docs/search.post.search?api-version=2020-06-30",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "api-key": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "facets": [],
        "scoringParameters": [],
        "search": "fancy luxury secret",
        "searchFields": "category,hotelName",
        "select": "hotelName,rating,address/city,rooms/type"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=none",
        "elapsed-time": "6",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\u0022*\u0022"
      },
      "ResponseBody": {
        "value": [
          {
            "@search.score": 3.1617427,
            "hotelName": "Fancy Stay",
            "rating": 5,
            "address": null,
            "rooms": []
          },
          {
            "@search.score": 1.1383567,
            "hotelName": "Secret Point Motel",
            "rating": 4,
            "address": {
              "city": "New York"
            },
            "rooms": [
              {
                "type": "Budget Room"
              },
              {
                "type": "Budget Room"
              }
            ]
          }
        ]
      }
    }
  ],
  "Variables": {
    "RandomSeed": "1278407184",
    "SearchIndexName": "josgoidr",
    "SEARCH_QUERY_API_KEY": "Sanitized",
    "SEARCH_SERVICE_NAME": "azs-net-heathsrchtst"
  }
}