{
  "Entries": [
    {
      "RequestUri": "https://azs-net-jcswnkcn.search.windows.net/indexes(\u0027mesaejwj\u0027)/docs/search.post.search?api-version=2019-05-06-Preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "api-key": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "facets": [],
        "scoringParameters": [],
        "search": "fancy luxury secret",
        "searchFields": "category,hotelName",
        "select": "hotelName,rating,address/city,rooms/type"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=none",
        "elapsed-time": "5",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\u0022*\u0022"
      },
      "ResponseBody": {
        "value": [
          {
            "@search.score": 1.1593354,
            "hotelName": "Fancy Stay",
            "rating": 5,
            "address": null,
            "rooms": []
          },
          {
            "@search.score": 0.17835927,
            "hotelName": "Secret Point Motel",
            "rating": 4,
            "address": {
              "city": "New York"
            },
            "rooms": [
              {
                "type": "Budget Room"
              },
              {
                "type": "Budget Room"
              }
            ]
          }
        ]
      }
    }
  ],
  "Variables": {
    "RandomSeed": "28556768",
    "SearchIndexName": "mesaejwj",
    "SearchServiceName": "azs-net-jcswnkcn"
  }
}