{
  "Entries": [
    {
      "RequestUri": "https://azs-net-pakrysearch.search.windows.net/indexes(\u0027aypqybvw\u0027)/docs/search.post.search?api-version=2020-06-30",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "api-key": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "filter": "This is not a valid filter.",
        "search": "*"
      },
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Language": "en",
        "Content-Type": "application/json; odata.metadata=none",
        "elapsed-time": "4",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\u0022*\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "",
          "message": "Invalid expression: Syntax error at position 7 in \u0027This is not a valid filter.\u0027.\r\nParameter name: $filter"
        }
      }
    }
  ],
  "Variables": {
    "RandomSeed": "1660709923",
    "SearchIndexName": "aypqybvw",
    "SEARCH_QUERY_API_KEY": "Sanitized",
    "SEARCH_SERVICE_NAME": "azs-net-pakrysearch"
  }
}