{
  "Entries": [
    {
      "RequestUri": "https://gokulk-test.cognitiveservices.azure.com/language/authoring/analyze-text/projects/MyTextProject/train/jobs/4e993615-bfe2-44bb-926b-fbe12dc17097_638686944000000000/:cancel?api-version=2024-11-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "operation-location": "https://gokulk-test.cognitiveservices.azure.com/language/authoring/analyze-text/projects/MyTextProject/train/jobs/4e993615-bfe2-44bb-926b-fbe12dc17097_638686944000000000?api-version=2024-11-15-preview",
        "x-ms-region": "East US"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://gokulk-test.cognitiveservices.azure.com/language/authoring/analyze-text/projects/MyTextProject/train/jobs/4e993615-bfe2-44bb-926b-fbe12dc17097_638686944000000000?api-version=2024-11-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "result": {
          "modelLabel": "model1",
          "trainingConfigVersion": "2022-05-01",
          "trainingStatus": {
            "percentComplete": 100,
            "startDateTime": "2024-12-02T04:02:22.1410725Z",
            "endDateTime": "2024-12-02T04:02:27.4467181Z",
            "status": "succeeded"
          },
          "evaluationStatus": {
            "percentComplete": 0,
            "status": "running"
          },
          "estimatedEndDateTime": "2024-12-02T04:02:27.1410725Z"
        },
        "jobId": "4e993615-bfe2-44bb-926b-fbe12dc17097_638686944000000000",
        "createdDateTime": "2024-12-02T04:02:20Z",
        "lastUpdatedDateTime": "2024-12-02T04:02:48Z",
        "expirationDateTime": "2024-12-09T04:02:20Z",
        "status": "cancelling",
        "warnings": [
          {
            "code": "Warning",
            "message": "Class `Computer_science` is tagged in `2` training dataset examples, it is recommended to have `10` tags for better model quality."
          },
          {
            "code": "Warning",
            "message": "Class `Electrical_engineering` is tagged in `1` training dataset examples, it is recommended to have `10` tags for better model quality."
          },
          {
            "code": "Warning",
            "message": "Class `Mechanical_engineering` is tagged in `5` training dataset examples, it is recommended to have `10` tags for better model quality."
          },
          {
            "code": "Warning",
            "message": "Class `Civil_engineering` is tagged in `1` training dataset examples, it is recommended to have `10` tags for better model quality."
          },
          {
            "code": "Warning",
            "message": "Class `Biochemistry` is tagged in `2` training dataset examples, it is recommended to have `10` tags for better model quality."
          }
        ]
      }
    },
[...]
