{
  "Entries": [
    {
      "RequestUri": "https://gokulk-test.cognitiveservices.azure.com/language/authoring/analyze-text/projects/MyTextProject?api-version=2024-11-15-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Content-Type": "application/merge-patch+json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "projectName": "MyTextProject",
        "language": "en",
        "projectKind": "customMultiLabelClassification",
        "description": "Project description for a Custom Entity Recognition project",
        "multilingual": true,
        "storageInputContainerName": "e2e0test0data"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://gokulk-test.cognitiveservices.azure.com/language/authoring/analyze-text/projects/MyTextProject/MyTextProject",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "createdDateTime": "2024-12-01T19:19:43Z",
        "lastModifiedDateTime": "2024-12-01T19:19:43Z",
        "projectKind": "CustomMultiLabelClassification",
        "storageInputContainerName": "e2e0test0data",
        "projectName": "MyTextProject",
        "multilingual": true,
        "description": "Project description for a Custom Entity Recognition project",
        "language": "en"
      }
    }
  ],
  "Variables": {
    "AZURE_TEXT_AUTHORING_ENDPOINT": "https://gokulk-test.cognitiveservices.azure.com",
    "AZURE_TEXT_AUTHORING_KEY": "Sanitized",
    "RandomSeed": "871251045"
  }
}
