{
  "Entries": [
    {
      "RequestUri": "https://sdk-test-01.cognitiveservices.azure.com/language/authoring/analyze-text/projects/MyTextProject001?api-version=2025-05-15-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Content-Type": "application/merge-patch+json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "projectKind": "customMultiLabelClassification",
        "storageInputContainerName": "multi-class-example",
        "projectName": "MyTextProject001",
        "multilingual": true,
        "description": "Project description for a Custom Entity Recognition project",
        "language": "en"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://sdk-test-01.cognitiveservices.azure.com/language/authoring/analyze-text/projects/MyTextProject001/MyTextProject001",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "createdDateTime": "2025-06-03T21:43:08Z",
        "lastModifiedDateTime": "2025-06-03T21:43:08Z",
        "projectKind": "CustomMultiLabelClassification",
        "storageInputContainerName": "multi-class-example",
        "projectName": "MyTextProject001",
        "multilingual": true,
        "description": "Project description for a Custom Entity Recognition project",
        "language": "en"
      }
    }
  ],
  "Variables": {
    "AZURE_TEXT_AUTHORING_ENDPOINT": "https://sdk-test-01.cognitiveservices.azure.com/",
    "AZURE_TEXT_AUTHORING_KEY": "Sanitized",
    "RandomSeed": "178710853"
  }
}
