{
  "Entries": [
    {
      "RequestUri": "https://sdk-test-01.cognitiveservices.azure.com/language/authoring/analyze-text/projects/MyImportTextProject/:import?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "projectFileVersion": "2022-05-01",
        "stringIndexType": "Utf16CodeUnit",
        "metadata": {
          "projectKind": "CustomSingleLabelClassification",
          "storageInputContainerName": "single-class-example",
          "settings": {},
          "projectName": null,
          "multilingual": false,
          "description": "This is a sample dataset provided by the Azure Language service team to help users get started with Custom named entity recognition. The provided sample dataset contains 20 loan agreements drawn up between two entities.",
          "language": "en"
        },
        "assets": {
          "projectKind": "CustomSingleLabelClassification",
          "classes": [
            {
              "category": "Date"
            },
            {
              "category": "LenderName"
            },
            {
              "category": "LenderAddress"
            }
          ],
          "documents": [
            {
              "class": {
                "category": "Date"
              },
              "location": "01.txt",
              "language": "en"
            },
            {
              "class": {
                "category": "LenderName"
              },
              "location": "02.txt",
              "language": "en"
            }
          ]
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "operation-location": "https://sdk-test-01.cognitiveservices.azure.com/language/authoring/analyze-text/projects/MyImportTextProject/import/jobs/13bd338c-e607-4eda-bcf9-e54d5684acf5_638845056000000000?api-version=2025-05-15-preview",
        "x-ms-region": "East US"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://sdk-test-01.cognitiveservices.azure.com/language/authoring/analyze-text/projects/MyImportTextProject/import/jobs/13bd338c-e607-4eda-bcf9-e54d5684acf5_638845056000000000?api-version=2025-05-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "jobId": "13bd338c-e607-4eda-bcf9-e54d5684acf5_638845056000000000",
        "createdDateTime": "2025-06-03T21:46:39Z",
        "lastUpdatedDateTime": "2025-06-03T21:46:39Z",
        "expirationDateTime": "2025-06-10T21:46:39Z",
        "status": "notStarted"
      }
    },
    {
      "RequestUri": "https://sdk-test-01.cognitiveservices.azure.com/language/authoring/analyze-text/projects/MyImportTextProject/import/jobs/13bd338c-e607-4eda-bcf9-e54d5684acf5_638845056000000000?api-version=2025-05-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "jobId": "13bd338c-e607-4eda-bcf9-e54d5684acf5_638845056000000000",
        "createdDateTime": "2025-06-03T21:46:39Z",
        "lastUpdatedDateTime": "2025-06-03T21:46:40Z",
        "expirationDateTime": "2025-06-10T21:46:39Z",
        "status": "succeeded"
      }
    }
  ],
  "Variables": {
    "AZURE_TEXT_AUTHORING_ENDPOINT": "https://sdk-test-01.cognitiveservices.azure.com/",
    "AZURE_TEXT_AUTHORING_KEY": "Sanitized",
    "RandomSeed": "1980914448"
  }
}
