{
  "Entries": [
    {
      "RequestUri": "https://sdk-test-01.cognitiveservices.azure.com/language/authoring/analyze-text/projects/MyImportTextProjectRaw0718/:import?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "projectFileVersion": "2025-05-15-preview",
        "stringIndexType": "Utf16CodeUnit",
        "metadata": {
          "projectKind": "CustomSingleLabelClassification",
          "storageInputContainerName": "single-class-example",
          "language": "en",
          "description": "This is a sample dataset provided by the Azure Language service team to help users get started with Custom named entity recognition. The provided sample dataset contains 20 loan agreements drawn up between two entities.",
          "multilingual": false,
          "settings": {}
        },
        "assets": {
          "projectKind": "CustomSingleLabelClassification",
          "classes": [
            {
              "category": "Date"
            },
            {
              "category": "LenderName"
            },
            {
              "category": "LenderAddress"
            }
          ],
          "documents": [
            {
              "class": {
                "category": "Date"
              },
              "location": "01.txt",
              "language": "en"
            },
            {
              "class": {
                "category": "LenderName"
              },
              "location": "02.txt",
              "language": "en"
            }
          ]
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "operation-location": "https://sdk-test-01.cognitiveservices.azure.com/language/authoring/analyze-text/projects/MyImportTextProjectRaw0718/import/jobs/a4d37d9d-eae1-4540-ab0d-066dd2c08f91_638883936000000000?api-version=2025-05-15-preview",
        "x-ms-region": "East US"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "AZURE_TEXT_AUTHORING_ENDPOINT": "https://sdk-test-01.cognitiveservices.azure.com/",
    "AZURE_TEXT_AUTHORING_KEY": "Sanitized",
    "RandomSeed": "247989509"
  }
}
