{
  "Entries": [
    {
      "RequestUri": "https://gokulk-test.cognitiveservices.azure.com/language/authoring/analyze-text/projects/MyImportTextProject/:import?api-version=2024-11-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "projectFileVersion": "2022-05-01",
        "stringIndexType": "Utf16CodeUnit",
        "metadata": {
          "projectKind": "CustomSingleLabelClassification",
          "storageInputContainerName": "test-data",
          "settings": {},
          "projectName": null,
          "multilingual": false,
          "description": "This is a sample dataset provided by the Azure Language service team to help users get started with Custom named entity recognition. The provided sample dataset contains 20 loan agreements drawn up between two entities.",
          "language": "en"
        },
        "assets": {
          "projectKind": "CustomSingleLabelClassification",
          "classes": [
            {
              "category": "Date"
            },
            {
              "category": "LenderName"
            },
            {
              "category": "LenderAddress"
            }
          ],
          "documents": [
            {
              "class": {
                "category": "Date"
              },
              "location": "01.txt",
              "language": "en"
            },
            {
              "class": {
                "category": "LenderName"
              },
              "location": "02.txt",
              "language": "en"
            }
          ]
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "operation-location": "https://gokulk-test.cognitiveservices.azure.com/language/authoring/analyze-text/projects/MyImportTextProject/import/jobs/f278878a-97ab-4b1e-af8f-83a5f3b465be_638765568000000000?api-version=2024-11-15-preview",
        "x-ms-region": "East US"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://gokulk-test.cognitiveservices.azure.com/language/authoring/analyze-text/projects/MyImportTextProject/import/jobs/f278878a-97ab-4b1e-af8f-83a5f3b465be_638765568000000000?api-version=2024-11-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "jobId": "f278878a-97ab-4b1e-af8f-83a5f3b465be_638765568000000000",
        "createdDateTime": "2025-03-03T06:43:47Z",
        "lastUpdatedDateTime": "2025-03-03T06:43:47Z",
        "expirationDateTime": "2025-03-10T06:43:47Z",
        "status": "notStarted"
      }
    },
    {
      "RequestUri": "https://gokulk-test.cognitiveservices.azure.com/language/authoring/analyze-text/projects/MyImportTextProject/import/jobs/f278878a-97ab-4b1e-af8f-83a5f3b465be_638765568000000000?api-version=2024-11-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "jobId": "f278878a-97ab-4b1e-af8f-83a5f3b465be_638765568000000000",
        "createdDateTime": "2025-03-03T06:43:47Z",
        "lastUpdatedDateTime": "2025-03-03T06:43:47Z",
        "expirationDateTime": "2025-03-10T06:43:47Z",
        "status": "succeeded"
      }
    }
  ],
  "Variables": {
    "AZURE_TEXT_AUTHORING_ENDPOINT": "https://gokulk-test.cognitiveservices.azure.com/",
    "AZURE_TEXT_AUTHORING_KEY": "Sanitized",
    "RandomSeed": "1021873558"
  }
}
