{
  "Entries": [
    {
      "RequestUri": "https://sdk-test-01.cognitiveservices.azure.com/language/authoring/analyze-text/projects/single-class-project/models/model1/:load-snapshot?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "operation-location": "https://sdk-test-01.cognitiveservices.azure.com/language/authoring/analyze-text/projects/single-class-project/models/model1/load-snapshot/jobs/1843f85e-6539-44b6-83a7-1394338689d1_638865792000000000?api-version=2025-05-15-preview",
        "x-ms-region": "East US"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://sdk-test-01.cognitiveservices.azure.com/language/authoring/analyze-text/projects/single-class-project/models/model1/load-snapshot/jobs/1843f85e-6539-44b6-83a7-1394338689d1_638865792000000000?api-version=2025-05-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "jobId": "1843f85e-6539-44b6-83a7-1394338689d1_638865792000000000",
        "createdDateTime": "2025-06-27T17:35:11Z",
        "lastUpdatedDateTime": "2025-06-27T17:35:11Z",
        "expirationDateTime": "2025-07-04T17:35:11Z",
        "status": "notStarted"
      }
    },
    {
      "RequestUri": "https://sdk-test-01.cognitiveservices.azure.com/language/authoring/analyze-text/projects/single-class-project/models/model1/load-snapshot/jobs/1843f85e-6539-44b6-83a7-1394338689d1_638865792000000000?api-version=2025-05-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "jobId": "1843f85e-6539-44b6-83a7-1394338689d1_638865792000000000",
        "createdDateTime": "2025-06-27T17:35:11Z",
        "lastUpdatedDateTime": "2025-06-27T17:35:11Z",
        "expirationDateTime": "2025-07-04T17:35:11Z",
        "status": "succeeded"
      }
    }
  ],
  "Variables": {
    "AZURE_TEXT_AUTHORING_ENDPOINT": "https://sdk-test-01.cognitiveservices.azure.com/",
    "AZURE_TEXT_AUTHORING_KEY": "Sanitized",
    "RandomSeed": "317865145"
  }
}
