{
  "Entries": [
    {
      "RequestUri": "https://gokulk-test.cognitiveservices.azure.com/language/authoring/analyze-text/projects/MyTextProject/models/model1/:load-snapshot?api-version=2024-11-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "operation-location": "https://gokulk-test.cognitiveservices.azure.com/language/authoring/analyze-text/projects/MyTextProject/models/model1/load-snapshot/jobs/ae7d8cb0-371e-47b7-a1ae-05dd813d8d05_638686944000000000?api-version=2024-11-15-preview",
        "x-ms-region": "East US"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://gokulk-test.cognitiveservices.azure.com/language/authoring/analyze-text/projects/MyTextProject/models/model1/load-snapshot/jobs/ae7d8cb0-371e-47b7-a1ae-05dd813d8d05_638686944000000000?api-version=2024-11-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "jobId": "ae7d8cb0-371e-47b7-a1ae-05dd813d8d05_638686944000000000",
        "createdDateTime": "2024-12-02T04:15:27Z",
        "lastUpdatedDateTime": "2024-12-02T04:15:27Z",
        "expirationDateTime": "2024-12-09T04:15:27Z",
        "status": "running"
      }
    },
    {
      "RequestUri": "https://gokulk-test.cognitiveservices.azure.com/language/authoring/analyze-text/projects/MyTextProject/models/model1/load-snapshot/jobs/ae7d8cb0-371e-47b7-a1ae-05dd813d8d05_638686944000000000?api-version=2024-11-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "jobId": "ae7d8cb0-371e-47b7-a1ae-05dd813d8d05_638686944000000000",
        "createdDateTime": "2024-12-02T04:15:27Z",
        "lastUpdatedDateTime": "2024-12-02T04:15:28Z",
        "expirationDateTime": "2024-12-09T04:15:27Z",
        "status": "succeeded"
      }
    }
  ],
  "Variables": {
    "AZURE_TEXT_AUTHORING_ENDPOINT": "https://gokulk-test.cognitiveservices.azure.com",
    "AZURE_TEXT_AUTHORING_KEY": "Sanitized",
    "RandomSeed": "335308371"
  }
}
