{
  "Entries": [
    {
      "RequestUri": "https://sdk-test-01.cognitiveservices.azure.com/language/authoring/analyze-text/projects/single-class-project/deployments/:swap?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "firstDeploymentName": "deployment1",
        "secondDeploymentName": "deployment2"
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "operation-location": "https://sdk-test-01.cognitiveservices.azure.com/language/authoring/analyze-text/projects/single-class-project/deployments/swap/jobs/73ae5983-b60c-4d7a-ae26-a3df8e9aa4b2_638865792000000000?api-version=2025-05-15-preview",
        "x-ms-region": "East US"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://sdk-test-01.cognitiveservices.azure.com/language/authoring/analyze-text/projects/single-class-project/deployments/swap/jobs/73ae5983-b60c-4d7a-ae26-a3df8e9aa4b2_638865792000000000?api-version=2025-05-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "jobId": "73ae5983-b60c-4d7a-ae26-a3df8e9aa4b2_638865792000000000",
        "createdDateTime": "2025-06-27T17:33:17Z",
        "lastUpdatedDateTime": "2025-06-27T17:33:17Z",
        "expirationDateTime": "2025-07-04T17:33:17Z",
        "status": "notStarted"
      }
    },
[...]
    {
      "RequestUri": "https://sdk-test-01.cognitiveservices.azure.com/language/authoring/analyze-text/projects/single-class-project/deployments/swap/jobs/73ae5983-b60c-4d7a-ae26-a3df8e9aa4b2_638865792000000000?api-version=2025-05-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "jobId": "73ae5983-b60c-4d7a-ae26-a3df8e9aa4b2_638865792000000000",
        "createdDateTime": "2025-06-27T17:33:17Z",
        "lastUpdatedDateTime": "2025-06-27T17:33:20Z",
        "expirationDateTime": "2025-07-04T17:33:17Z",
        "status": "succeeded"
      }
    }
  ],
  "Variables": {
    "AZURE_TEXT_AUTHORING_ENDPOINT": "https://sdk-test-01.cognitiveservices.azure.com/",
    "AZURE_TEXT_AUTHORING_KEY": "Sanitized",
    "RandomSeed": "904779647"
  }
}
