{
  "Entries": [
    {
      "RequestUri": "https://sdk-test-01.cognitiveservices.azure.com/language/authoring/analyze-text/projects/single-class-project/:train?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "modelLabel": "model1",
        "trainingConfigVersion": "2022-05-01",
        "evaluationOptions": {
          "kind": "percentage",
          "trainingSplitPercentage": 80,
          "testingSplitPercentage": 20
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "operation-location": "https://sdk-test-01.cognitiveservices.azure.com/language/authoring/analyze-text/projects/single-class-project/train/jobs/214d526f-9247-416e-9562-ca8bff5ea520_638864928000000000?api-version=2025-05-15-preview",
        "x-ms-region": "East US"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "AZURE_TEXT_AUTHORING_ENDPOINT": "https://sdk-test-01.cognitiveservices.azure.com/",
    "AZURE_TEXT_AUTHORING_KEY": "Sanitized",
    "RandomSeed": "1186837361"
  }
}
