{
  "Entries": [
    {
      "RequestUri": "https://gokulk-test.cognitiveservices.azure.com/language/authoring/analyze-text/projects/MyTextProject/:train?api-version=2024-11-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "modelLabel": "model1",
        "trainingConfigVersion": "latest",
        "evaluationOptions": {
          "kind": "percentage",
          "trainingSplitPercentage": 80,
          "testingSplitPercentage": 20
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "operation-location": "https://gokulk-test.cognitiveservices.azure.com/language/authoring/analyze-text/projects/MyTextProject/train/jobs/4fc91945-d21f-4d57-98ae-9b8781257562_638686944000000000?api-version=2024-11-15-preview",
        "x-ms-region": "East US"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://gokulk-test.cognitiveservices.azure.com/language/authoring/analyze-text/projects/MyTextProject/train/jobs/4fc91945-d21f-4d57-98ae-9b8781257562_638686944000000000?api-version=2024-11-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "result": {
          "modelLabel": "model1",
          "trainingConfigVersion": "2022-05-01",
          "trainingStatus": {
            "percentComplete": 0,
            "status": "notStarted"
          },
          "evaluationStatus": {
            "percentComplete": 0,
            "status": "notStarted"
          }
        },
        "jobId": "4fc91945-d21f-4d57-98ae-9b8781257562_638686944000000000",
        "createdDateTime": "2024-12-02T03:21:18Z",
        "lastUpdatedDateTime": "2024-12-02T03:21:18Z",
        "expirationDateTime": "2024-12-09T03:21:18Z",
        "status": "notStarted"
      }
    },
[...]
    {
      "RequestUri": "https://gokulk-test.cognitiveservices.azure.com/language/authoring/analyze-text/projects/MyTextProject/train/jobs/4fc91945-d21f-4d57-98ae-9b8781257562_638686944000000000?api-version=2024-11-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "result": {
          "modelLabel": "model1",
          "trainingConfigVersion": "2022-05-01",
          "trainingStatus": {
            "percentComplete": 0,
            "startDateTime": "2024-12-02T03:21:20.8155063Z",
            "status": "running"
          },
          "evaluationStatus": {
            "percentComplete": 0,
            "status": "notStarted"
          },
          "estimatedEndDateTime": "2024-12-02T03:23:30.8155063Z"
        },
        "jobId": "4fc91945-d21f-4d57-98ae-9b8781257562_638686944000000000",
        "createdDateTime": "2024-12-02T03:21:18Z",
        "lastUpdatedDateTime": "2024-12-02T03:21:25Z",
        "expirationDateTime": "2024-12-09T03:21:18Z",
        "status": "running"
      }
    },
[...]
    {
      "RequestUri": "https://gokulk-test.cognitiveservices.azure.com/language/authoring/analyze-text/projects/MyTextProject/train/jobs/4fc91945-d21f-4d57-98ae-9b8781257562_638686944000000000?api-version=2024-11-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "result": {
          "modelLabel": "model1",
          "trainingConfigVersion": "2022-05-01",
          "trainingStatus": {
            "percentComplete": 100,
            "startDateTime": "2024-12-02T03:21:20.8155063Z",
            "endDateTime": "2024-12-02T03:21:48.6158922Z",
            "status": "succeeded"
          },
          "evaluationStatus": {
            "percentComplete": 0,
            "status": "running"
          },
          "estimatedEndDateTime": "2024-12-02T03:21:47.8155063Z"
        },
        "jobId": "4fc91945-d21f-4d57-98ae-9b8781257562_638686944000000000",
        "createdDateTime": "2024-12-02T03:21:18Z",
        "lastUpdatedDateTime": "2024-12-02T03:21:52Z",
        "expirationDateTime": "2024-12-09T03:21:18Z",
        "status": "running"
      }
    },
[...]
    {
      "RequestUri": "https://gokulk-test.cognitiveservices.azure.com/language/authoring/analyze-text/projects/MyTextProject/train/jobs/4fc91945-d21f-4d57-98ae-9b8781257562_638686944000000000?api-version=2024-11-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "result": {
          "modelLabel": "model1",
          "trainingConfigVersion": "2022-05-01",
          "trainingStatus": {
            "percentComplete": 100,
            "startDateTime": "2024-12-02T03:21:20.8155063Z",
            "endDateTime": "2024-12-02T03:21:48.6158922Z",
            "status": "succeeded"
          },
          "evaluationStatus": {
            "percentComplete": 100,
            "startDateTime": "2024-12-02T03:21:52.8468205Z",
            "endDateTime": "2024-12-02T03:22:23.1819551Z",
            "status": "succeeded"
          },
          "estimatedEndDateTime": "2024-12-02T03:21:47.8155063Z"
        },
        "jobId": "4fc91945-d21f-4d57-98ae-9b8781257562_638686944000000000",
        "createdDateTime": "2024-12-02T03:21:18Z",
        "lastUpdatedDateTime": "2024-12-02T03:22:53Z",
        "expirationDateTime": "2024-12-09T03:21:18Z",
        "status": "running",
        "warnings": []
      }
    },
    {
      "RequestUri": "https://gokulk-test.cognitiveservices.azure.com/language/authoring/analyze-text/projects/MyTextProject/train/jobs/4fc91945-d21f-4d57-98ae-9b8781257562_638686944000000000?api-version=2024-11-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "result": {
          "modelLabel": "model1",
          "trainingConfigVersion": "2022-05-01",
          "trainingStatus": {
            "percentComplete": 100,
            "startDateTime": "2024-12-02T03:21:20.8155063Z",
            "endDateTime": "2024-12-02T03:21:48.6158922Z",
            "status": "succeeded"
          },
          "evaluationStatus": {
            "percentComplete": 100,
            "startDateTime": "2024-12-02T03:21:52.8468205Z",
            "endDateTime": "2024-12-02T03:22:23.1819551Z",
            "status": "succeeded"
          }
        },
        "jobId": "4fc91945-d21f-4d57-98ae-9b8781257562_638686944000000000",
        "createdDateTime": "2024-12-02T03:21:18Z",
        "lastUpdatedDateTime": "2024-12-02T03:22:53Z",
        "expirationDateTime": "2024-12-09T03:21:18Z",
        "status": "succeeded",
        "warnings": []
      }
    }
  ],
  "Variables": {
    "AZURE_TEXT_AUTHORING_ENDPOINT": "https://gokulk-test.cognitiveservices.azure.com",
    "AZURE_TEXT_AUTHORING_KEY": "Sanitized",
    "RandomSeed": "748547699"
  }
}
