{
  "Entries": [
    {
      "RequestUri": "/subscriptions/dfb63c8c-7c89-4ef8-af13-75c1d873c895/resourceGroups/matttest/providers/Microsoft.ContainerRegistry/registries/managedtestregistry?api-version=2017-10-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"sku\": {\r\n    \"name\": \"Premium\",\r\n    \"tier\": \"Premium\"\r\n  },\r\n  \"type\": \"Microsoft.ContainerRegistry/registries\",\r\n  \"id\": \"/subscriptions/dfb63c8c-7c89-4ef8-af13-75c1d873c895/resourceGroups/matttest/providers/Microsoft.ContainerRegistry/registries/managedtestregistry\",\r\n  \"name\": \"managedtestregistry\",\r\n  \"location\": \"westus\",\r\n  \"tags\": {},\r\n  \"properties\": {\r\n    \"loginServer\": \"managedtestregistry.azurecr.io\",\r\n    \"creationDate\": \"2018-08-14T20:27:59.2394952Z\",\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"adminUserEnabled\": true,\r\n    \"firewallRulesEnabled\": false,\r\n    \"firewallRules\": []\r\n  }\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/dfb63c8c-7c89-4ef8-af13-75c1d873c895/resourceGroups/matttest/providers/Microsoft.ContainerRegistry/registries/managedtestregistry/listCredentials?api-version=2017-10-01",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"username\": \"managedtestregistry\",\r\n  \"passwords\": [\r\n    {\r\n      \"name\": \"password\",\r\n      \"value\": \"2GoQeb3D8vs=2Kn8ijhGJMhkVXDHuHzt\"\r\n    },\r\n    {\r\n      \"name\": \"password2\",\r\n      \"value\": \"VBNhobRyJ6EPEKHye+v3Q4e6ujc28kJ/\"\r\n    }\r\n  ]\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/acr/v1/prod%2Fbash",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Docker-Distribution-Api-Version": [
          "registry/2.0"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"registry\": \"managedtestregistry.azurecr.io\",\r\n  \"imageName\": \"prod/bash\",\r\n  \"createdTime\": \"2018-09-28T23:37:51.9668212Z\",\r\n  \"lastUpdateTime\": \"2018-09-28T23:37:52.0356217Z\",\r\n  \"manifestCount\": 1,\r\n  \"tagCount\": 1,\r\n  \"changeableAttributes\": {\r\n    \"deleteEnabled\": true,\r\n    \"writeEnabled\": true,\r\n    \"readEnabled\": true,\r\n    \"listEnabled\": true\r\n  }\r\n}",
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "dfb63c8c-7c89-4ef8-af13-75c1d873c895"
  }
}