{
  "Entries": [
    {
      "RequestUri": "https://sanitized.skype.com/identities?api-version=2021-03-07",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 09 Aug 2022 23:10:32 GMT"
      },
      "RequestBody": {},
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview, 2021-11-01, 2022-06-01",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "wQO8u178HES2XtGWACwm6w.0",
        "X-Processing-Time": "26ms"
      },
      "ResponseBody": {
        "identity": {
          "id": "Sanitized"
        }
      }
    },
    {
      "RequestUri": "https://sanitized.skype.com/calling/callConnections?api-version=2022-04-07-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 09 Aug 2022 23:10:32 GMT"
      },
      "RequestBody": {
        "targets": [
          {
            "rawId": "Sanitized",
            "communicationUser": {
              "id": "Sanitized"
            }
          }
        ],
        "source": {
          "identifier": {
            "rawId": "Sanitized",
            "communicationUser": {
              "id": "Sanitized"
            }
          }
        },
        "callbackUri": "https://localhost/"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "X-Microsoft-Skype-Chain-ID": "be26aae5-de21-446c-aae0-1bfca0ed7dc6"
      },
      "ResponseBody": {
        "callConnectionId": "401f0b00-13d4-43f9-9c34-01b56eb262e3",
        "source": {
          "identifier": {
            "rawId": "Sanitized",
            "kind": "communicationUser",
            "communicationUser": {
              "id": "Sanitized"
            }
          }
        },
        "targets": [
          {
            "rawId": "Sanitized",
            "kind": "communicationUser",
            "communicationUser": {
              "id": "Sanitized"
            }
          }
        ],
        "callConnectionState": "connecting",
        "callbackUri": "https://localhost/"
      }
    },
    {
        "RequestUri": "https://sanitized.skype.com/calling/callConnections/401f0b00-13d4-43f9-9c34-01b56eb262e3:play?api-version=2022-04-07-preview",
        "RequestMethod": "POST",
        "RequestHeaders": {
            "Authorization": "Sanitized",
            "Content-Type": "application/json",
            "x-ms-content-sha256": "Sanitized",
            "x-ms-date": "Tue, 09 Aug 2022 23:10:44 GMT"
        },
        "RequestBody": {
            "playSourceInfo": {
                "sourceType": "file",
                "playSourceId": "playSourceId",
                "fileSource": {
                    "uri": "https://localhost/bot-hold-music-2.wav"
                }
            },
            "playTo": [
                {
                    "rawId": "Sanitized",
                    "communicationUser": {
                        "id": "Sanitized"
                    }
                }
            ]
        },
        "StatusCode": 202,
        "ResponseHeaders": {
            "X-Microsoft-Skype-Chain-ID": "be26aae5-de21-446c-aae0-1bfca0ed7dc6"
        },
        "ResponseBody": null
    },
    {
      "RequestUri": "https://sanitized.skype.com/calling/callConnections/401f0b00-13d4-43f9-9c34-01b56eb262e3:terminate?api-version=2022-04-07-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 09 Aug 2022 23:10:47 GMT"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "X-Microsoft-Skype-Chain-ID": "be26aae5-de21-446c-aae0-1bfca0ed7dc6"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1352044465",
    "COMMUNICATION_LIVETEST_STATIC_CONNECTION_STRING": "endpoint=https://acs-recording-common-e2e.communication.azure.com/;accesskey=Kg==",
    "TARGET_USER_ID": "8:acs:75d93288-131e-4faa-b5b6-f7a8cf962802_00000013-24bb-ba02-d68a-084822008625",
    "PMA_Endpoint": ""
  }
}
