{
  "Entries": [
    {
      "RequestUri": "https://sdktest-communication.communication.azure.com/identities?api-version=2021-03-31-preview1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {},
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-03-31-preview1",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "CEQJoJ1/uU\u002BPfay3JQohGA.0",
        "X-Processing-Time": "69ms"
      },
      "ResponseBody": {
        "identity": {
          "id": "8:acs:b5006058-9a48-4a02-a333-11c443e69e12_0000000a-5433-5bb2-51b9-a43a0d0067b2"
        }
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://sdktest-communication.communication.azure.com/;accesskey=Kg==",
    "RandomSeed": "1340713197"
  }
}