{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.net/identities?api-version=2021-10-31-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {},
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-03-31-preview1, 2021-10-31-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "5KCQHaOoD0W\u002BJKnKjpCMKQ.0",
        "X-Processing-Time": "268ms"
      },
      "ResponseBody": {
        "identity": {
          "id": "8:acs:a5ba7870-ef05-4e2b-9901-7751faa29e20_0000000d-42b0-c366-e1fe-0848220043bc"
        }
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://sanitized.communication.azure.net/;accesskey=Kg==",
    "RandomSeed": "727080435"
  }
}