{
  "Entries": [
    {
      "RequestUri": "https://sdktest-communication.communication.azure.com/identities?api-version=2021-03-31-preview1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {},
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-03-31-preview1",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "TlAsy07QuUia/CqdE\u002BsMyg.0",
        "X-Processing-Time": "244ms"
      },
      "ResponseBody": {
        "identity": {
          "id": "8:acs:b5006058-9a48-4a02-a333-11c443e69e12_0000000a-2111-49d7-eef0-8b3a0d00c0cd"
        }
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://sdktest-communication.communication.azure.com/;accesskey=Kg==",
    "RandomSeed": "1690082112"
  }
}