{
  "Entries": [
    {
      "RequestUri": "https://chitchat-test.communication.azure.com/identities?api-version=2021-03-07",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {},
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2020-07-20-preview2, 2021-03-07",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "Wv5Ttul5mUWGdkOZcd4T\u002BQ.0",
        "X-Processing-Time": "10ms"
      },
      "ResponseBody": {
        "identity": {
          "id": "8:acs:cb58c3bb-a8ef-4e54-8c12-4a8e652eba58_00000008-57be-0912-6a0b-343a0d005879"
        }
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_CONNECTION_STRING": "endpoint=https://chitchat-test.communication.azure.com/;accesskey=Kg==",
    "RandomSeed": "1697946323"
  }
}