{
  "Entries": [
    {
      "RequestUri": "https://avinpsdklivetestacs03222021-communication.communication.azure.com/identities?api-version=2021-02-22-preview1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {},
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "Fp\u002BgLCnTAU\u002BgsnL4B5NKiA.0",
        "X-Processing-Time": "12ms"
      },
      "ResponseBody": {
        "identity": {
          "id": "8:acs:207d5cb4-8afc-42cb-a26f-74ad337313f1_00000009-342c-87bb-9806-113a0d00913f"
        }
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_CONNECTION_STRING": "endpoint=https://avinpsdklivetestacs03222021-communication.communication.azure.com/;accesskey=Kg==",
    "RandomSeed": "1690082112"
  }
}