{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.com/teamsUser/:exchangeAccessToken?api-version=2022-06-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 20 May 2022 08:58:58 GMT"
      },
      "RequestBody": {
        "token": "Sanitized",
        "appId": "Sanitized",
        "userId": "Sanitized"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-10-31-preview, 2022-06-01",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "bHvckPSzaECUhdjAXWw5yQ.0",
        "X-Processing-Time": "263ms"
      },
      "ResponseBody": {
        "token": "Sanitized",
        "expiresOn": "2022-05-20T10:00:02.293738\u002B00:00"
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://smstestapp.communication.azure.com/;accesskey=Kg==",
    "RandomSeed": "2111315956"
  }
}
