{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourcegroups/res6596?api-version=2019-10-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus2"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1128"
      },
      "ResponseBody": {
        "id": "/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/res6596",
        "name": "res6596",
        "location": "eastus2",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/res6596/providers/Microsoft.Storage/storageAccounts/sto6257?api-version=2019-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "sku": {
          "name": "Standard_GRS"
        },
        "kind": "Storage",
        "location": "eastus2",
        "tags": {
          "key1": "value1",
          "key2": "value2"
        },
        "properties": {}
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "text/plain; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/providers/Microsoft.Storage/locations/eastus2/asyncoperations/44712bf8-50a2-45d6-a9cc-073eb71379a4?monitor=true\u0026api-version=2019-06-01",
        "Retry-After": "17",
        "x-ms-ratelimit-remaining-subscription-writes": "1127"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/providers/Microsoft.Storage/locations/eastus2/asyncoperations/44712bf8-50a2-45d6-a9cc-073eb71379a4?monitor=true\u0026api-version=2019-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "text/plain; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/providers/Microsoft.Storage/locations/eastus2/asyncoperations/44712bf8-50a2-45d6-a9cc-073eb71379a4?monitor=true\u0026api-version=2019-06-01",
        "Retry-After": "17",
        "x-ms-ratelimit-remaining-subscription-reads": "11755"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/providers/Microsoft.Storage/locations/eastus2/asyncoperations/44712bf8-50a2-45d6-a9cc-073eb71379a4?monitor=true\u0026api-version=2019-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ratelimit-remaining-subscription-reads": "11743"
      },
      "ResponseBody": {
        "sku": {
          "name": "Standard_GRS",
          "tier": "Standard"
        },
        "kind": "Storage",
        "id": "/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/res6596/providers/Microsoft.Storage/storageAccounts/sto6257",
        "name": "sto6257",
        "type": "Microsoft.Storage/storageAccounts",
        "location": "eastus2",
        "tags": {
          "key1": "value1",
          "key2": "value2"
        },
        "properties": {
          "privateEndpointConnections": [],
          "networkAcls": {
            "bypass": "AzureServices",
            "virtualNetworkRules": [],
            "ipRules": [],
            "defaultAction": "Allow"
          },
          "supportsHttpsTrafficOnly": true,
          "encryption": {
            "services": {
              "file": {
                "keyType": "Account",
                "enabled": true,
                "lastEnabledTime": "2020-09-14T03:01:17.8706125Z"
              },
              "blob": {
                "keyType": "Account",
                "enabled": true,
                "lastEnabledTime": "2020-09-14T03:01:17.8706125Z"
              }
            },
            "keySource": "Microsoft.Storage"
          },
          "provisioningState": "Succeeded",
          "creationTime": "2020-09-14T03:01:17.7924848Z",
          "primaryEndpoints": {
            "blob": "https://sto6257.blob.core.windows.net/",
            "queue": "https://sto6257.queue.core.windows.net/",
            "table": "https://sto6257.table.core.windows.net/",
            "file": "https://sto6257.file.core.windows.net/"
          },
          "primaryLocation": "eastus2",
          "statusOfPrimary": "available",
          "secondaryLocation": "centralus",
          "statusOfSecondary": "available"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/res6596/providers/Microsoft.Storage/storageAccounts/sto6257/blobServices/default/containers/container4000?api-version=2019-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {}
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "ETag": "\u00220x8D8585A7DAC4C9E\u0022",
        "x-ms-ratelimit-remaining-subscription-writes": "1126"
      },
      "ResponseBody": {
        "id": "/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/res6596/providers/Microsoft.Storage/storageAccounts/sto6257/blobServices/default/containers/container4000",
        "name": "container4000",
        "type": "Microsoft.Storage/storageAccounts/blobServices/containers",
        "properties": {
          "deleted": false,
          "remainingRetentionDays": 0,
          "hasImmutabilityPolicy": false,
          "hasLegalHold": false
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/res6596/providers/Microsoft.Storage/storageAccounts/sto6257/blobServices/default/containers/container4000?api-version=2019-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "ETag": "\u00220x8D8585A7DAC4C9E\u0022",
        "x-ms-ratelimit-remaining-subscription-reads": "11742"
      },
      "ResponseBody": {
        "id": "/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/res6596/providers/Microsoft.Storage/storageAccounts/sto6257/blobServices/default/containers/container4000",
        "name": "container4000",
        "type": "Microsoft.Storage/storageAccounts/blobServices/containers",
        "etag": "\u00220x8D8585A7DAC4C9E\u0022",
        "properties": {
          "deleted": false,
          "remainingRetentionDays": 0,
          "defaultEncryptionScope": "$account-encryption-key",
          "denyEncryptionScopeOverride": false,
          "publicAccess": "None",
          "leaseStatus": "Unlocked",
          "leaseState": "Available",
          "lastModifiedTime": "2020-09-14T03:01:35.0000000Z",
          "legalHold": {
            "hasLegalHold": false,
            "tags": []
          },
          "hasImmutabilityPolicy": false,
          "hasLegalHold": false
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/res6596/providers/Microsoft.Storage/storageAccounts/sto6257/blobServices/default/containers?api-version=2019-06-01\u0026$include=deleted",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ratelimit-remaining-subscription-reads": "11741"
      },
      "ResponseBody": {
        "value": []
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/res6596/providers/Microsoft.Storage/storageAccounts/sto6257/blobServices/default/containers/container4000?api-version=2019-06-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "text/plain; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-deletes": "14973"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "514230964",
    "SUBSCRIPTION_ID": "c9cbd920-c00c-427c-852b-8aaf38badaeb"
  }
}