{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/45b60d85-fd72-427a-a708-f994d26e593e/resourcegroups/res7755?api-version=2017-05-10",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus2"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1195"
      },
      "ResponseBody": {
        "id": "/subscriptions/45b60d85-fd72-427a-a708-f994d26e593e/resourceGroups/res7755",
        "name": "res7755",
        "location": "eastus2",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/45b60d85-fd72-427a-a708-f994d26e593e/resourceGroups/res7755/providers/Microsoft.Storage/storageAccounts/sto7742?api-version=2019-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "sku": {
          "name": "Standard_GRS"
        },
        "kind": "StorageV2",
        "location": "eastus2(stage)",
        "tags": {
          "key1": "value1",
          "key2": "value2"
        },
        "properties": {}
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "text/plain; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/45b60d85-fd72-427a-a708-f994d26e593e/providers/Microsoft.Storage/locations/eastus2(stage)/asyncoperations/758780a4-7f90-40d6-a094-7360a5bc787c?monitor=true\u0026api-version=2019-06-01",
        "Retry-After": "17",
        "x-ms-ratelimit-remaining-subscription-writes": "1194"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/45b60d85-fd72-427a-a708-f994d26e593e/providers/Microsoft.Storage/locations/eastus2(stage)/asyncoperations/758780a4-7f90-40d6-a094-7360a5bc787c?monitor=true\u0026api-version=2019-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "text/plain; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/45b60d85-fd72-427a-a708-f994d26e593e/providers/Microsoft.Storage/locations/eastus2(stage)/asyncoperations/758780a4-7f90-40d6-a094-7360a5bc787c?monitor=true\u0026api-version=2019-06-01",
        "Retry-After": "17",
        "x-ms-ratelimit-remaining-subscription-reads": "11922"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/45b60d85-fd72-427a-a708-f994d26e593e/providers/Microsoft.Storage/locations/eastus2(stage)/asyncoperations/758780a4-7f90-40d6-a094-7360a5bc787c?monitor=true\u0026api-version=2019-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ratelimit-remaining-subscription-reads": "11880"
      },
      "ResponseBody": {
        "sku": {
          "name": "Standard_GRS",
          "tier": "Standard"
        },
        "kind": "StorageV2",
        "id": "/subscriptions/45b60d85-fd72-427a-a708-f994d26e593e/resourceGroups/res7755/providers/Microsoft.Storage/storageAccounts/sto7742",
        "name": "sto7742",
        "type": "Microsoft.Storage/storageAccounts",
        "location": "eastus2(stage)",
        "tags": {
          "key1": "value1",
          "key2": "value2"
        },
        "properties": {
          "privateEndpointConnections": [],
          "networkAcls": {
            "bypass": "AzureServices",
            "virtualNetworkRules": [],
            "ipRules": [],
            "defaultAction": "Allow"
          },
          "supportsHttpsTrafficOnly": true,
          "encryption": {
            "services": {
              "file": {
                "keyType": "Account",
                "enabled": true,
                "lastEnabledTime": "2020-06-11T03:53:42.8990250Z"
              },
              "blob": {
                "keyType": "Account",
                "enabled": true,
                "lastEnabledTime": "2020-06-11T03:53:42.8990250Z"
              }
            },
            "keySource": "Microsoft.Storage"
          },
          "accessTier": "Hot",
          "provisioningState": "Succeeded",
          "creationTime": "2020-06-11T03:53:42.8365231Z",
          "primaryEndpoints": {
            "dfs": "https://sto7742.dfs.core.windows.net/",
            "web": "https://sto7742.z1.web.core.windows.net/",
            "blob": "https://sto7742.blob.core.windows.net/",
            "queue": "https://sto7742.queue.core.windows.net/",
            "table": "https://sto7742.table.core.windows.net/",
            "file": "https://sto7742.file.core.windows.net/"
          },
          "primaryLocation": "eastus2(stage)",
          "statusOfPrimary": "available",
          "secondaryLocation": "northcentralus(stage)",
          "statusOfSecondary": "available"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/45b60d85-fd72-427a-a708-f994d26e593e/resourceGroups/res7755/providers/Microsoft.Storage/storageAccounts/sto7742/blobServices/default/containers/container6394?api-version=2019-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {}
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "ETag": "\u00220x8D80DBB290990C7\u0022",
        "x-ms-ratelimit-remaining-subscription-writes": "1193"
      },
      "ResponseBody": {
        "id": "/subscriptions/45b60d85-fd72-427a-a708-f994d26e593e/resourceGroups/res7755/providers/Microsoft.Storage/storageAccounts/sto7742/blobServices/default/containers/container6394",
        "name": "container6394",
        "type": "Microsoft.Storage/storageAccounts/blobServices/containers",
        "properties": {
          "deleted": false,
          "remainingRetentionDays": 0,
          "hasImmutabilityPolicy": false,
          "hasLegalHold": false
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/45b60d85-fd72-427a-a708-f994d26e593e/resourceGroups/res7755/providers/Microsoft.Storage/storageAccounts/sto7742/blobServices/default/containers/container6394/immutabilityPolicies/default?api-version=2019-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "immutabilityPeriodSinceCreationInDays": 4,
          "allowProtectedAppendWrites": true
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "ETag": "\u00228d80dbb29527bc1\u0022",
        "x-ms-ratelimit-remaining-subscription-writes": "1192"
      },
      "ResponseBody": {
        "id": "/subscriptions/45b60d85-fd72-427a-a708-f994d26e593e/resourceGroups/res7755/providers/Microsoft.Storage/storageAccounts/sto7742/blobServices/default/containers/container6394/immutabilityPolicies/default",
        "name": "default",
        "type": "Microsoft.Storage/storageAccounts/blobServices/containers/immutabilityPolicies",
        "etag": "\u00228d80dbb29527bc1\u0022",
        "properties": {
          "allowProtectedAppendWrites": true,
          "immutabilityPeriodSinceCreationInDays": 4,
          "state": "Unlocked"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/45b60d85-fd72-427a-a708-f994d26e593e/resourceGroups/res7755/providers/Microsoft.Storage/storageAccounts/sto7742/blobServices/default/containers/container6394/immutabilityPolicies/default?api-version=2019-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-Match": "\u00228d80dbb29527bc1\u0022"
      },
      "RequestBody": {
        "properties": {
          "immutabilityPeriodSinceCreationInDays": 5,
          "allowProtectedAppendWrites": false
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "ETag": "\u00228d80dbb299ec6c5\u0022",
        "x-ms-ratelimit-remaining-subscription-writes": "1191"
      },
      "ResponseBody": {
        "id": "/subscriptions/45b60d85-fd72-427a-a708-f994d26e593e/resourceGroups/res7755/providers/Microsoft.Storage/storageAccounts/sto7742/blobServices/default/containers/container6394/immutabilityPolicies/default",
        "name": "default",
        "type": "Microsoft.Storage/storageAccounts/blobServices/containers/immutabilityPolicies",
        "etag": "\u00228d80dbb299ec6c5\u0022",
        "properties": {
          "allowProtectedAppendWrites": false,
          "immutabilityPeriodSinceCreationInDays": 5,
          "state": "Unlocked"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/45b60d85-fd72-427a-a708-f994d26e593e/resourceGroups/res7755/providers/Microsoft.Storage/storageAccounts/sto7742/blobServices/default/containers/container6394/immutabilityPolicies/default?api-version=2019-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "ETag": "\u00228d80dbb299ec6c5\u0022",
        "x-ms-ratelimit-remaining-subscription-reads": "11879"
      },
      "ResponseBody": {
        "id": "/subscriptions/45b60d85-fd72-427a-a708-f994d26e593e/resourceGroups/res7755/providers/Microsoft.Storage/storageAccounts/sto7742/blobServices/default/containers/container6394/immutabilityPolicies/default",
        "name": "default",
        "type": "Microsoft.Storage/storageAccounts/blobServices/containers/immutabilityPolicies",
        "etag": "\u00228d80dbb299ec6c5\u0022",
        "properties": {
          "allowProtectedAppendWrites": false,
          "immutabilityPeriodSinceCreationInDays": 5,
          "state": "Unlocked"
        }
      }
    }
  ],
  "Variables": {
    "RandomSeed": "1672409681",
    "SUBSCRIPTION_ID": "45b60d85-fd72-427a-a708-f994d26e593e"
  }
}