{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourcegroups/res1346?api-version=2019-10-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus2"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1076"
      },
      "ResponseBody": {
        "id": "/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/res1346",
        "name": "res1346",
        "location": "eastus2",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/res1346/providers/Microsoft.Storage/storageAccounts/sto6644?api-version=2019-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "sku": {
          "name": "Standard_LRS"
        },
        "kind": "StorageV2",
        "location": "eastus2",
        "tags": {
          "key1": "value1",
          "key2": "value2"
        },
        "properties": {}
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "text/plain; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/providers/Microsoft.Storage/locations/eastus2/asyncoperations/54b5ef40-0e98-4412-9ead-27be5fbe279c?monitor=true\u0026api-version=2019-06-01",
        "Retry-After": "17",
        "x-ms-ratelimit-remaining-subscription-writes": "1075"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/providers/Microsoft.Storage/locations/eastus2/asyncoperations/54b5ef40-0e98-4412-9ead-27be5fbe279c?monitor=true\u0026api-version=2019-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "text/plain; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/providers/Microsoft.Storage/locations/eastus2/asyncoperations/54b5ef40-0e98-4412-9ead-27be5fbe279c?monitor=true\u0026api-version=2019-06-01",
        "Retry-After": "17",
        "x-ms-ratelimit-remaining-subscription-reads": "11573"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/providers/Microsoft.Storage/locations/eastus2/asyncoperations/54b5ef40-0e98-4412-9ead-27be5fbe279c?monitor=true\u0026api-version=2019-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ratelimit-remaining-subscription-reads": "11561"
      },
      "ResponseBody": {
        "sku": {
          "name": "Standard_LRS",
          "tier": "Standard"
        },
        "kind": "StorageV2",
        "id": "/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/res1346/providers/Microsoft.Storage/storageAccounts/sto6644",
        "name": "sto6644",
        "type": "Microsoft.Storage/storageAccounts",
        "location": "eastus2",
        "tags": {
          "key1": "value1",
          "key2": "value2"
        },
        "properties": {
          "privateEndpointConnections": [],
          "networkAcls": {
            "bypass": "AzureServices",
            "virtualNetworkRules": [],
            "ipRules": [],
            "defaultAction": "Allow"
          },
          "supportsHttpsTrafficOnly": true,
          "encryption": {
            "services": {
              "file": {
                "keyType": "Account",
                "enabled": true,
                "lastEnabledTime": "2020-09-14T03:06:44.6612957Z"
              },
              "blob": {
                "keyType": "Account",
                "enabled": true,
                "lastEnabledTime": "2020-09-14T03:06:44.6612957Z"
              }
            },
            "keySource": "Microsoft.Storage"
          },
          "accessTier": "Hot",
          "provisioningState": "Succeeded",
          "creationTime": "2020-09-14T03:06:44.5518986Z",
          "primaryEndpoints": {
            "dfs": "https://sto6644.dfs.core.windows.net/",
            "web": "https://sto6644.z20.web.core.windows.net/",
            "blob": "https://sto6644.blob.core.windows.net/",
            "queue": "https://sto6644.queue.core.windows.net/",
            "table": "https://sto6644.table.core.windows.net/",
            "file": "https://sto6644.file.core.windows.net/"
          },
          "primaryLocation": "eastus2",
          "statusOfPrimary": "available"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/res1346/providers/Microsoft.Storage/storageAccounts/sto6644/blobServices/default?api-version=2019-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ratelimit-remaining-subscription-reads": "11547"
      },
      "ResponseBody": {
        "sku": {
          "name": "Standard_LRS",
          "tier": "Standard"
        },
        "id": "/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/res1346/providers/Microsoft.Storage/storageAccounts/sto6644/blobServices/default",
        "name": "default",
        "type": "Microsoft.Storage/storageAccounts/blobServices",
        "properties": {
          "cors": {
            "corsRules": []
          },
          "deleteRetentionPolicy": {
            "enabled": false
          }
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/res1346/providers/Microsoft.Storage/storageAccounts/sto6644/blobServices/default?api-version=2019-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "cors": {
            "corsRules": []
          },
          "deleteRetentionPolicy": {
            "enabled": false
          },
          "isVersioningEnabled": true,
          "changeFeed": {
            "enabled": true
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ratelimit-remaining-subscription-writes": "1073"
      },
      "ResponseBody": {
        "id": "/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/res1346/providers/Microsoft.Storage/storageAccounts/sto6644/blobServices/default",
        "name": "default",
        "type": "Microsoft.Storage/storageAccounts/blobServices",
        "properties": {
          "changeFeed": {
            "enabled": true
          },
          "cors": {
            "corsRules": []
          },
          "deleteRetentionPolicy": {
            "enabled": false
          },
          "isVersioningEnabled": true
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/res1346/providers/Microsoft.Storage/storageAccounts/sto6644/blobServices/default/containers/src1?api-version=2019-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {}
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "ETag": "\u00220x8D8585B4E0E0172\u0022",
        "x-ms-ratelimit-remaining-subscription-writes": "1071"
      },
      "ResponseBody": {
        "id": "/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/res1346/providers/Microsoft.Storage/storageAccounts/sto6644/blobServices/default/containers/src1",
        "name": "src1",
        "type": "Microsoft.Storage/storageAccounts/blobServices/containers",
        "properties": {
          "deleted": false,
          "remainingRetentionDays": 0,
          "hasImmutabilityPolicy": false,
          "hasLegalHold": false
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/res1346/providers/Microsoft.Storage/storageAccounts/sto9997/blobServices/default/containers/dest1?api-version=2019-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {}
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "ETag": "\u00220x8D8585B4EE80BBB\u0022",
        "x-ms-ratelimit-remaining-subscription-writes": "1069"
      },
      "ResponseBody": {
        "id": "/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/res1346/providers/Microsoft.Storage/storageAccounts/sto9997/blobServices/default/containers/dest1",
        "name": "dest1",
        "type": "Microsoft.Storage/storageAccounts/blobServices/containers",
        "properties": {
          "deleted": false,
          "remainingRetentionDays": 0,
          "hasImmutabilityPolicy": false,
          "hasLegalHold": false
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/res1346/providers/Microsoft.Storage/storageAccounts/sto9997/objectReplicationPolicies/default?api-version=2019-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "sourceAccount": "sto6644",
          "destinationAccount": "sto9997",
          "rules": [
            {
              "sourceContainer": "src1",
              "destinationContainer": "dest1",
              "filters": {
                "prefixMatch": [
                  "aa",
                  "bc d",
                  "123"
                ],
                "minCreationTime": "2020-03-19T16:06:00Z"
              }
            },
            {
              "sourceContainer": "src2",
              "destinationContainer": "dest2"
            }
          ]
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ratelimit-remaining-subscription-writes": "1067"
      },
      "ResponseBody": {
        "id": "/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/res1346/providers/Microsoft.Storage/storageAccounts/sto9997/objectReplicationPolicies/6df14088-1c83-4fce-992a-4e9166e35200",
        "name": "6df14088-1c83-4fce-992a-4e9166e35200",
        "type": "Microsoft.Storage/storageAccounts/objectReplicationPolicies",
        "properties": {
          "policyId": "6df14088-1c83-4fce-992a-4e9166e35200",
          "sourceAccount": "sto6644",
          "destinationAccount": "sto9997",
          "rules": [
            {
              "ruleId": "43d7054b-e2c5-4e5a-b9d9-a67045053c39",
              "sourceContainer": "src1",
              "destinationContainer": "dest1",
              "filters": {
                "prefixMatch": [
                  "aa",
                  "bc d",
                  "123"
                ],
                "minCreationTime": "2020-03-19T16:06:00Z"
              }
            },
            {
              "ruleId": "1d3e783f-0b75-4f6b-9755-a0033929688d",
              "sourceContainer": "src2",
              "destinationContainer": "dest2"
            }
          ]
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/res1346/providers/Microsoft.Storage/storageAccounts/sto9997/objectReplicationPolicies?api-version=2019-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ratelimit-remaining-subscription-reads": "11543"
      },
      "ResponseBody": {
        "value": [
          {
            "properties": {
              "policyId": "6df14088-1c83-4fce-992a-4e9166e35200",
              "sourceAccount": "sto6644",
              "destinationAccount": "sto9997",
              "rules": [
                {
                  "ruleId": "43d7054b-e2c5-4e5a-b9d9-a67045053c39",
                  "sourceContainer": "src1",
                  "destinationContainer": "dest1",
                  "filters": {
                    "prefixMatch": [
                      "aa",
                      "bc d",
                      "123"
                    ],
                    "minCreationTime": "2020-03-19T16:06:00Z"
                  }
                },
                {
                  "ruleId": "1d3e783f-0b75-4f6b-9755-a0033929688d",
                  "sourceContainer": "src2",
                  "destinationContainer": "dest2"
                }
              ]
            }
          }
        ]
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/res1346/providers/Microsoft.Storage/storageAccounts/sto6644/objectReplicationPolicies/6df14088-1c83-4fce-992a-4e9166e35200?api-version=2019-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "sourceAccount": "sto6644",[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/res1346/providers/Microsoft.Storage/storageAccounts/sto9997/objectReplicationPolicies/6df14088-1c83-4fce-992a-4e9166e35200?api-version=2019-06-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "text/plain; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-deletes": "14955"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1636403624",
    "SUBSCRIPTION_ID": "c9cbd920-c00c-427c-852b-8aaf38badaeb"
  }
}