{
  "Entries": [
    {
      "RequestUri": "https://sanitized.skype.com/identities?api-version=2021-03-07",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 06 Oct 2022 00:42:51 GMT"
      },
      "RequestBody": {},
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview, 2021-11-01, 2022-06-01, 2022-10-01",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "yrmch\u002BAkVUqX91tkguWrOw.0",
        "X-Processing-Time": "114ms"
      },
      "ResponseBody": {
        "identity": {
          "id": "Sanitized"
        }
      }
    },
    {
      "RequestUri": "https://sanitized.skype.com/calling/callConnections?api-version=2022-04-07-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Repeatability-First-Sent": "Thu, 06 Oct 2022 00:42:52 GMT",
        "Repeatability-Request-ID": "7e4058e8-00e4-4fc7-9135-95c2ca839852",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 06 Oct 2022 00:42:52 GMT"
      },
      "RequestBody": {
        "targets": [
          {
            "rawId": "Sanitized",
            "communicationUser": {
              "id": "Sanitized"
            }
          },
          {
            "rawId": "Sanitized",
            "communicationUser": {
              "id": "Sanitized"
            }
          },
          {
            "rawId": "Sanitized",
            "phoneNumber": {
              "value": "Sanitized"
            }
          }
        ],
        "source": {
          "callerId": {
            "value": "Sanitized"
          },
          "identifier": {
            "rawId": "Sanitized",
            "communicationUser": {
              "id": "Sanitized"
            }
          }
        },
        "callbackUri": "https://dummy.ngrok.io/api/incident/callback?SecretKey=helloworld"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Repeatability-Result": "accepted",
        "X-Microsoft-Skype-Chain-ID": "fbb85609-c3a2-4c37-a307-401df6cc118f"
      },
      "ResponseBody": {
        "callConnectionId": "421f3500-b834-48ad-94ab-d2cc2a63afe3",
        "source": {
          "callerId": {
            "value": "Sanitized"
          },
          "identifier": {
            "rawId": "Sanitized",
            "kind": "communicationUser",
            "communicationUser": {
              "id": "Sanitized"
            }
          }
        },
        "targets": [
          {
            "rawId": "Sanitized",
            "kind": "communicationUser",
            "communicationUser": {
              "id": "Sanitized"
            }
          },
          {
            "rawId": "Sanitized",
            "kind": "communicationUser",
            "communicationUser": {
              "id": "Sanitized"
            }
          },
          {
            "rawId": "Sanitized",
            "kind": "phoneNumber",
            "phoneNumber": {
              "value": "Sanitized"
            }
          }
        ],
        "callConnectionState": "connecting",
        "callbackUri": "https://dummy.ngrok.io/api/incident/callback?SecretKey=helloworld",
        "mediaSubscriptionId": "28c70d88-25f7-40fd-97b4-4b481e30545d"
      }
    },
    {
      "RequestUri": "https://sanitized.skype.com/calling/callConnections/421f3500-b834-48ad-94ab-d2cc2a63afe3?api-version=2022-04-07-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 06 Oct 2022 00:43:02 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "X-Microsoft-Skype-Chain-ID": "fbb85609-c3a2-4c37-a307-401df6cc118f"
      },
      "ResponseBody": {
        "callConnectionId": "421f3500-b834-48ad-94ab-d2cc2a63afe3",
        "serverCallId": "aHR0cHM6Ly9hcGkuZmxpZ2h0cHJveHkuc2t5cGUuY29tL2FwaS92Mi9jcC9jb252LXVzd2UtMDEtc2RmLWFrcy5jb252LnNreXBlLmNvbS9jb252L3Rvd19LdTB5TmtxeWZXdld6T29XSGc/aT0xMC02MC0wLTE1NCZlPTYzODAwNTg5NTYzMDk2MzcyMg==",
        "source": {
          "callerId": {
            "value": "Sanitized"
          },
          "identifier": {
            "rawId": "Sanitized",
            "kind": "communicationUser",
            "communicationUser": {
              "id": "Sanitized"
            }
          }
        },
        "targets": [
          {
            "rawId": "Sanitized",
            "kind": "communicationUser",
            "communicationUser": {
              "id": "Sanitized"
            }
          },
          {
            "rawId": "Sanitized",
            "kind": "communicationUser",
            "communicationUser": {
              "id": "Sanitized"
            }
          },
          {
            "rawId": "Sanitized",
            "kind": "phoneNumber",
            "phoneNumber": {
              "value": "Sanitized"
            }
          }
        ],
        "callConnectionState": "connected",
        "callbackUri": "https://dummy.ngrok.io/api/incident/callback?SecretKey=helloworld",
        "mediaSubscriptionId": "28c70d88-25f7-40fd-97b4-4b481e30545d"
      }
    },
    {
      "RequestUri": "https://sanitized.skype.com/calling/callConnections/421f3500-b834-48ad-94ab-d2cc2a63afe3/participants?api-version=2022-04-07-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 06 Oct 2022 00:43:11 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "X-Microsoft-Skype-Chain-ID": "fbb85609-c3a2-4c37-a307-401df6cc118f"
      },
      "ResponseBody": {
        "values": [
          {
            "identifier": {
              "rawId": "Sanitized",
              "kind": "communicationUser",
              "communicationUser": {
                "id": "Sanitized"
              }
            },
            "isMuted": false
          },
          {
            "identifier": {
              "rawId": "Sanitized",
              "kind": "communicationUser",
              "communicationUser": {
                "id": "Sanitized"
              }
            },
            "isMuted": true
          },
          {
            "identifier": {
              "rawId": "Sanitized",
              "kind": "communicationUser",
              "communicationUser": {
                "id": "Sanitized"
              }
            },
            "isMuted": false
          },
          {
            "identifier": {
              "rawId": "Sanitized",
              "kind": "phoneNumber",
              "phoneNumber": {
                "value": "Sanitized"
              }
            },
            "isMuted": false
          }
        ]
      }
    },
    {
      "RequestUri": "https://sanitized.skype.com/calling/callConnections/421f3500-b834-48ad-94ab-d2cc2a63afe3/participants:remove?api-version=2022-04-07-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Repeatability-First-Sent": "Thu, 06 Oct 2022 00:43:12 GMT",
        "Repeatability-Request-ID": "25f0d212-b699-4d06-9333-655b32cd8a61",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 06 Oct 2022 00:43:12 GMT"
      },
      "RequestBody": {
        "participantsToRemove": [
          {
            "rawId": "Sanitized",
            "communicationUser": {
              "id": "Sanitized"
            }
          },
          {
            "rawId": "Sanitized",
            "phoneNumber": {
              "value": "Sanitized"
            }
          }
        ]
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Repeatability-Result": "accepted",
        "X-Microsoft-Skype-Chain-ID": "fbb85609-c3a2-4c37-a307-401df6cc118f"
      },
      "ResponseBody": {}
    },
[...]
    {
        "RequestUri": "https://sanitized.skype.com/calling/callConnections/421f3500-b834-48ad-94ab-d2cc2a63afe3:terminate?api-version=2022-04-07-preview",
        "RequestMethod": "POST",
        "RequestHeaders": {
            "Authorization": "Sanitized",
            "Repeatability-First-Sent": "Thu, 06 Oct 2022 00:43:22 GMT",
            "Repeatability-Request-ID": "7b64737f-74a9-4daf-97fc-0b7b7cc736e3",
            "x-ms-content-sha256": "Sanitized",
            "x-ms-date": "Thu, 06 Oct 2022 00:43:22 GMT"
        },
        "RequestBody": null,
        "StatusCode": 204,
        "ResponseHeaders": {
            "Repeatability-Result": "accepted",
            "X-Microsoft-Skype-Chain-ID": "fbb85609-c3a2-4c37-a307-401df6cc118f"
        },
        "ResponseBody": null
    }
  ],
  "Variables": {
    "ANOTHER_TARGET_USER_ID": "8:acs:82e890fc-188a-4b67-bb7d-deff073d7d1e_0000000e-9f82-b5db-eef0-8b3a0d000839",
    "AZURE_PHONE_NUMBER": "\u002B18771234567",
    "COMMUNICATION_LIVETEST_STATIC_CONNECTION_STRING": "endpoint=https://minwoolee-comm2.communication.azure.com/;accesskey=Kg==",
    "PMA_Endpoint": null,
    "RandomSeed": "2068624691",
    "TARGET_PHONE_NUMBER": "\u002B16041234567",
    "TARGET_USER_ID": "8:acs:82e890fc-188a-4b67-bb7d-deff073d7d1e_0000000e-abbe-44ad-9f37-b0a72a616d0b"
  }
}
