{
  "Entries": [
    {
      "RequestUri": "https://sanitized.skype.com/identities?api-version=2021-03-07",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 19 Sep 2022 21:37:38 GMT"
      },
      "RequestBody": {},
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview, 2021-11-01, 2022-06-01",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "frhIyNDRP0m\u002BNWV9JrAWfg.0",
        "X-Processing-Time": "96ms"
      },
      "ResponseBody": {
        "identity": {
          "id": "Sanitized"
        }
      }
    },
    {
      "RequestUri": "https://sanitized.skype.com/calling/callConnections?api-version=2022-04-07-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 19 Sep 2022 21:37:38 GMT"
      },
      "RequestBody": {
        "targets": [
          {
            "rawId": "Sanitized",
            "communicationUser": {
              "id": "Sanitized"
            }
          },
          {
            "rawId": "Sanitized",
            "phoneNumber": {
              "value": "Sanitized"
            }
          }
        ],
        "source": {
          "callerId": {
            "value": "Sanitized"
          },
          "identifier": {
            "rawId": "Sanitized",
            "communicationUser": {
              "id": "Sanitized"
            }
          }
        },
        "callbackUri": "https://dummy.ngrok.io/api/incident/callback?SecretKey=helloworld"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "X-Microsoft-Skype-Chain-ID": "f4e7e767-228a-4990-8ab7-e91a868f3177"
      },
      "ResponseBody": {
        "callConnectionId": "411f3500-bb6d-4fe2-9d53-6aa2ac7bcb2d",
        "source": {
          "callerId": {
            "value": "Sanitized"
          },
          "identifier": {
            "rawId": "Sanitized",
            "kind": "communicationUser",
            "communicationUser": {
              "id": "Sanitized"
            }
          }
        },
        "targets": [
          {
            "rawId": "Sanitized",
            "kind": "communicationUser",
            "communicationUser": {
              "id": "Sanitized"
            }
          },
          {
            "rawId": "Sanitized",
            "kind": "phoneNumber",
            "phoneNumber": {
              "value": "Sanitized"
            }
          }
        ],
        "callConnectionState": "connecting",
        "callbackUri": "https://dummy.ngrok.io/api/incident/callback?SecretKey=helloworld",
        "mediaSubscriptionId": "eacaf01a-4ccb-4afe-9d19-fcc01f0c6e9f"
      }
    },
    {
      "RequestUri": "https://sanitized.skype.com/calling/callConnections/411f3500-bb6d-4fe2-9d53-6aa2ac7bcb2d?api-version=2022-04-07-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 19 Sep 2022 21:37:48 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "X-Microsoft-Skype-Chain-ID": "f4e7e767-228a-4990-8ab7-e91a868f3177"
      },
      "ResponseBody": {
        "callConnectionId": "411f3500-bb6d-4fe2-9d53-6aa2ac7bcb2d",
        "serverCallId": "aHR0cHM6Ly9hcGkuZmxpZ2h0cHJveHkuc2t5cGUuY29tL2FwaS92Mi9jcC9jb252LXVzZWEyLTAyLmNvbnYuc2t5cGUuY29tL2NvbnYvcnhreVpZb2g2VVdXVEJrSFV1d2ZqQT9pPTE1JmU9NjM3OTkyMDUwMTc3OTc0NTI4",
        "source": {
          "callerId": {
            "value": "Sanitized"
          },
          "identifier": {
            "rawId": "Sanitized",
            "kind": "communicationUser",
            "communicationUser": {
              "id": "Sanitized"
            }
          }
        },
        "targets": [
          {
            "rawId": "Sanitized",
            "kind": "communicationUser",
            "communicationUser": {
              "id": "Sanitized"
            }
          },
          {
            "rawId": "Sanitized",
            "kind": "phoneNumber",
            "phoneNumber": {
              "value": "Sanitized"
            }
          }
        ],
        "callConnectionState": "connected",
        "callbackUri": "https://dummy.ngrok.io/api/incident/callback?SecretKey=helloworld",
        "mediaSubscriptionId": "eacaf01a-4ccb-4afe-9d19-fcc01f0c6e9f"
      }
    },
    {
      "RequestUri": "https://sanitized.skype.com/calling/callConnections/411f3500-bb6d-4fe2-9d53-6aa2ac7bcb2d/participants?api-version=2022-04-07-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 19 Sep 2022 21:37:48 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "X-Microsoft-Skype-Chain-ID": "f4e7e767-228a-4990-8ab7-e91a868f3177"
      },
      "ResponseBody": {
        "values": [
          {
            "identifier": {
              "rawId": "Sanitized",
              "kind": "communicationUser",
              "communicationUser": {
                "id": "Sanitized"
              }
            },
            "isMuted": false
          },
          {
            "identifier": {
              "rawId": "Sanitized",
              "kind": "communicationUser",
              "communicationUser": {
                "id": "Sanitized"
              }
            },
            "isMuted": false
          },
          {
            "identifier": {
              "rawId": "Sanitized",
              "kind": "phoneNumber",
              "phoneNumber": {
                "value": "Sanitized"
              }
            },
            "isMuted": false
          }
        ]
      }
    },
    {
      "RequestUri": "https://sanitized.skype.com/calling/callConnections/411f3500-bb6d-4fe2-9d53-6aa2ac7bcb2d/participants:remove?api-version=2022-04-07-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 19 Sep 2022 21:37:48 GMT"
      },
      "RequestBody": {
        "participantsToRemove": [
          {
            "rawId": "Sanitized",
            "phoneNumber": {
              "value": "Sanitized"
            }
          }
        ]
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "X-Microsoft-Skype-Chain-ID": "f4e7e767-228a-4990-8ab7-e91a868f3177"
      },
      "ResponseBody": {}
    },
[...]
    {
      "RequestUri": "https://sanitized.skype.com/calling/callConnections/411f3500-bb6d-4fe2-9d53-6aa2ac7bcb2d:terminate?api-version=2022-04-07-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 19 Sep 2022 21:37:59 GMT"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "X-Microsoft-Skype-Chain-ID": "f4e7e767-228a-4990-8ab7-e91a868f3177"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "AZURE_PHONE_NUMBER": "\u002B18771234567",
    "COMMUNICATION_LIVETEST_STATIC_CONNECTION_STRING": "endpoint=https://acstestappjuntu.communication.azure.com/;accesskey=Kg==",
    "PMA_Endpoint": null,
    "RandomSeed": "1030970121",
    "TARGET_PHONE_NUMBER": "\u002B16041234567",
    "TARGET_USER_ID": "8:acs:82e890fc-188a-4b67-bb7d-deff073d7d1e_0000000e-abbe-44ad-9f37-b0a72a616d0b"
  }
}
