{
  "Entries": [
    {
      "RequestUri": "https://sanitized.skype.com/identities?api-version=2021-03-07",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 19 Sep 2022 21:38:29 GMT"
      },
      "RequestBody": {},
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview, 2021-11-01, 2022-06-01",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "cBNxGT1Ae02Op3hxSJ6LPQ.0",
        "X-Processing-Time": "97ms"
      },
      "ResponseBody": {
        "identity": {
          "id": "Sanitized"
        }
      }
    },
    {
      "RequestUri": "https://sanitized.skype.com/calling/callConnections?api-version=2022-04-07-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 19 Sep 2022 21:38:29 GMT"
      },
      "RequestBody": {
        "targets": [
          {
            "rawId": "Sanitized",
            "communicationUser": {
              "id": "Sanitized"
            }
          }
        ],
        "source": {
          "callerId": {
            "value": "Sanitized"
          },
          "identifier": {
            "rawId": "Sanitized",
            "communicationUser": {
              "id": "Sanitized"
            }
          }
        },
        "callbackUri": "https://dummy.ngrok.io/api/incident/callback?SecretKey=helloworld"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "X-Microsoft-Skype-Chain-ID": "e84ed486-2078-409d-bab3-fca6231ef9a5"
      },
      "ResponseBody": {
        "callConnectionId": "411f3500-92bf-4960-8ff8-5d15233edc45",
        "source": {
          "callerId": {
            "value": "Sanitized"
          },
          "identifier": {
            "rawId": "Sanitized",
            "kind": "communicationUser",
            "communicationUser": {
              "id": "Sanitized"
            }
          }
        },
        "targets": [
          {
            "rawId": "Sanitized",
            "kind": "communicationUser",
            "communicationUser": {
              "id": "Sanitized"
            }
          }
        ],
        "callConnectionState": "connecting",
        "callbackUri": "https://dummy.ngrok.io/api/incident/callback?SecretKey=helloworld",
        "mediaSubscriptionId": "731657e2-d07d-4295-b38b-4a26c20a32e6"
      }
    },
    {
      "RequestUri": "https://sanitized.skype.com/calling/callConnections/411f3500-92bf-4960-8ff8-5d15233edc45?api-version=2022-04-07-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 19 Sep 2022 21:38:40 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "X-Microsoft-Skype-Chain-ID": "e84ed486-2078-409d-bab3-fca6231ef9a5"
      },
      "ResponseBody": {
        "callConnectionId": "411f3500-92bf-4960-8ff8-5d15233edc45",
        "serverCallId": "aHR0cHM6Ly9hcGkuZmxpZ2h0cHJveHkuc2t5cGUuY29tL2FwaS92Mi9jcC9jb252LXVzZWEyLTAyLmNvbnYuc2t5cGUuY29tL2NvbnYvaklUal96RDV1azYzdDl1SDFZYXhaUT9pPTE1JmU9NjM3OTkyMDUwMTc3OTc0NTI4",
        "source": {
          "callerId": {
            "value": "Sanitized"
          },
          "identifier": {
            "rawId": "Sanitized",
            "kind": "communicationUser",
            "communicationUser": {
              "id": "Sanitized"
            }
          }
        },
        "targets": [
          {
            "rawId": "Sanitized",
            "kind": "communicationUser",
            "communicationUser": {
              "id": "Sanitized"
            }
          }
        ],
        "callConnectionState": "connected",
        "callbackUri": "https://dummy.ngrok.io/api/incident/callback?SecretKey=helloworld",
        "mediaSubscriptionId": "731657e2-d07d-4295-b38b-4a26c20a32e6"
      }
    },
    {
      "RequestUri": "https://sanitized.skype.com/calling/callConnections/411f3500-92bf-4960-8ff8-5d15233edc45:transferToParticipant?api-version=2022-04-07-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 19 Sep 2022 21:38:40 GMT"
      },
      "RequestBody": {
        "targetParticipant": {
          "rawId": "Sanitized",
          "communicationUser": {
            "id": "Sanitized"
          }
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "X-Microsoft-Skype-Chain-ID": "e84ed486-2078-409d-bab3-fca6231ef9a5"
      },
      "ResponseBody": {}
    }
  ],
  "Variables": {
    "ANOTHER_TARGET_USER_ID": "8:acs:82e890fc-188a-4b67-bb7d-deff073d7d1e_0000000e-9f82-b5db-eef0-8b3a0d000839",
    "AZURE_PHONE_NUMBER": "\u002B18771234567",
    "COMMUNICATION_LIVETEST_STATIC_CONNECTION_STRING": "endpoint=https://acstestappjuntu.communication.azure.com/;accesskey=Kg==",
    "PMA_Endpoint": null,
    "RandomSeed": "1781925768",
    "TARGET_USER_ID": "8:acs:82e890fc-188a-4b67-bb7d-deff073d7d1e_0000000e-abbe-44ad-9f37-b0a72a616d0b"
  }
}
