{
  "Entries": [
    {
      "RequestUri": "/subscriptions/c2902e31-7250-41b6-9bda-4bd3af792d35/resourcegroups/crptestar7469?api-version=2017-05-10",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"SouthCentralUSSTG\",\r\n  \"tags\": {\r\n    \"crptestar7469\": \"2021-07-15 22:09:09Z\"\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/c2902e31-7250-41b6-9bda-4bd3af792d35/resourceGroups/crptestar7469\",\r\n  \"name\": \"crptestar7469\",\r\n  \"location\": \"southcentralusstg\",\r\n  \"tags\": {\r\n    \"crptestar7469\": \"2021-07-15 22:09:09Z\"\r\n  },\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 201
    },
[...]
    {
      "RequestUri": "/subscriptions/c2902e31-7250-41b6-9bda-4bd3af792d35/resourceGroups/crptestar7469/providers/Microsoft.Storage/storageAccounts/crptestar8185?api-version=2015-06-15",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"SouthCentralUSSTG\",\r\n  \"properties\": {\r\n    \"accountType\": \"Standard_GRS\"\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/c2902e31-7250-41b6-9bda-4bd3af792d35/providers/Microsoft.Storage/locations/southcentralusstg/asyncoperations/e424704f-a8ba-45c0-8645-b8330650a1b5?monitor=true&api-version=2015-06-15"
        ],
        "Retry-After": [
          "17"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "text/plain; charset=utf-8"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 202
    },
    {
      "RequestUri": "/subscriptions/c2902e31-7250-41b6-9bda-4bd3af792d35/providers/Microsoft.Storage/locations/southcentralusstg/asyncoperations/e424704f-a8ba-45c0-8645-b8330650a1b5?monitor=true&api-version=2015-06-15",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ],
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "{\r\n  \"location\": \"SouthCentralUSSTG\",\r\n  \"properties\": {\r\n    \"accountType\": \"Standard_GRS\"\r\n  }\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/c2902e31-7250-41b6-9bda-4bd3af792d35/resourceGroups/crptestar7469/providers/Microsoft.Storage/storageAccounts?api-version=2015-06-15",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11998"
        ],
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/c2902e31-7250-41b6-9bda-4bd3af792d35/resourceGroups/crptestar7469/providers/Microsoft.Storage/storageAccounts/crptestar8185\",\r\n      \"name\": \"crptestar8185\",\r\n      \"type\": \"Microsoft.Storage/storageAccounts\",\r\n      \"location\": \"southcentralusstg\",\r\n      \"tags\": {},\r\n      \"properties\": {\r\n        \"accountType\": \"Standard_GRS\",\r\n        \"provisioningState\": \"Succeeded\",\r\n        \"creationTime\": \"2021-07-15T22:09:12.2589522Z\",\r\n        \"primaryEndpoints\": {\r\n          \"blob\": \"https://crptestar8185.blob.core.windows.net/\",\r\n          \"queue\": \"https://crptestar8185.queue.core.windows.net/\",\r\n          \"table\": \"https://crptestar8185.table.core.windows.net/\",\r\n          \"file\": \"https://crptestar8185.file.core.windows.net/\"\r\n        },\r\n        \"primaryLocation\": \"southcentralusstg\",\r\n        \"statusOfPrimary\": \"available\",\r\n        \"secondaryLocation\": \"eastusstg\",\r\n        \"statusOfSecondary\": \"available\"\r\n      }\r\n    }\r\n  ]\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/c2902e31-7250-41b6-9bda-4bd3af792d35/resourceGroups/crptestar7469/providers/Microsoft.Compute/virtualMachineScaleSets/VMScaleSetDoesNotExist?api-version=2021-07-01",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-deletes": [
          "14999"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 204
    },
    {
      "RequestUri": "/subscriptions/c2902e31-7250-41b6-9bda-4bd3af792d35/resourceGroups/crptestar7469/providers/Microsoft.Network/publicIPAddresses/pip7037?api-version=2019-09-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"publicIPAllocationMethod\": \"Dynamic\",\r\n    \"dnsSettings\": {\r\n      \"domainNameLabel\": \"dn919\"\r\n    }\r\n  },\r\n  \"location\": \"SouthCentralUSSTG\",\r\n  \"tags\": {\r\n    \"key\": \"value\"\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Retry-After": [
          "1"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/c2902e31-7250-41b6-9bda-4bd3af792d35/providers/Microsoft.Network/locations/southcentralusstg/operations/a3cdf6d9-94ba-4bf4-b881-3bbfe7b57eab?api-version=2019-09-01"
        ],
        "Azure-AsyncNotification": [
          "Enabled"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"pip7037\",\r\n  \"id\": \"/subscriptions/c2902e31-7250-41b6-9bda-4bd3af792d35/resourceGroups/crptestar7469/providers/Microsoft.Network/publicIPAddresses/pip7037\",\r\n  \"etag\": \"W/\\\"a45f0586-1087-4ad0-a3fc-17ad1436b847\\\"\",\r\n  \"location\": \"southcentralusstg\",\r\n  \"tags\": {\r\n    \"key\": \"value\"\r\n  },\r\n  \"properties\": {\r\n    \"provisioningState\": \"Updating\",\r\n    \"resourceGuid\": \"4c881a7f-d415-42a7-acda-6f264eab339b\",\r\n    \"publicIPAddressVersion\": \"IPv4\",\r\n    \"publicIPAllocationMethod\": \"Dynamic\",\r\n    \"idleTimeoutInMinutes\": 4,\r\n    \"dnsSettings\": {\r\n      \"domainNameLabel\": \"dn919\",\r\n      \"fqdn\": \"dn919.southcentralusstg.cloudapp.azure.com\"\r\n    },\r\n    \"ipTags\": []\r\n  },\r\n  \"type\": \"Microsoft.Network/publicIPAddresses\",\r\n  \"sku\": {\r\n    \"name\": \"Basic\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/c2902e31-7250-41b6-9bda-4bd3af792d35/providers/Microsoft.Network/locations/southcentralusstg/operations/a3cdf6d9-94ba-4bf4-b881-3bbfe7b57eab?api-version=2019-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"status\": \"Succeeded\"\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/c2902e31-7250-41b6-9bda-4bd3af792d35/resourceGroups/crptestar7469/providers/Microsoft.Network/publicIPAddresses/pip7037?api-version=2019-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "ETag": [
          "W/\"e92eeaae-62bd-4348-9e93-b8c43b33b943\""
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11998"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"pip7037\",\r\n  \"id\": \"/subscriptions/c2902e31-7250-41b6-9bda-4bd3af792d35/resourceGroups/crptestar7469/providers/Microsoft.Network/publicIPAddresses/pip7037\",\r\n  \"etag\": \"W/\\\"e92eeaae-62bd-4348-9e93-b8c43b33b943\\\"\",\r\n  \"location\": \"southcentralusstg\",\r\n  \"tags\": {\r\n    \"key\": \"value\"\r\n  },\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"resourceGuid\": \"4c881a7f-d415-42a7-acda-6f264eab339b\",\r\n    \"publicIPAddressVersion\": \"IPv4\",\r\n    \"publicIPAllocationMethod\": \"Dynamic\",\r\n    \"idleTimeoutInMinutes\": 4,\r\n    \"dnsSettings\": {\r\n      \"domainNameLabel\": \"dn919\",\r\n      \"fqdn\": \"dn919.southcentralusstg.cloudapp.azure.com\"\r\n    },\r\n    \"ipTags\": []\r\n  },\r\n  \"type\": \"Microsoft.Network/publicIPAddresses\",\r\n  \"sku\": {\r\n    \"name\": \"Basic\"\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/c2902e31-7250-41b6-9bda-4bd3af792d35/resourceGroups/crptestar7469/providers/Microsoft.Network/virtualNetworks/vn1924?api-version=2019-09-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"addressSpace\": {\r\n      \"addressPrefixes\": [\r\n        \"10.0.0.0/16\"\r\n      ]\r\n    },\r\n    \"dhcpOptions\": {\r\n      \"dnsServers\": [\r\n        \"10.1.1.1\",\r\n        \"10.1.2.4\"\r\n      ]\r\n    },\r\n    \"subnets\": [\r\n      {\r\n        \"properties\": {\r\n          \"addressPrefix\": \"10.0.0.0/24\"\r\n        },\r\n        \"name\": \"sn9430\"\r\n      }\r\n    ]\r\n  },\r\n  \"location\": \"SouthCentralUSSTG\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Retry-After": [
          "3"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/c2902e31-7250-41b6-9bda-4bd3af792d35/providers/Microsoft.Network/locations/southc[...]
[...]
    {
      "RequestUri": "/subscriptions/c2902e31-7250-41b6-9bda-4bd3af792d35/resourceGroups/crptestar7469/providers/Microsoft.Network/virtualNetworks/vn1924/subnets/sn9430?api-version=2019-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "ETag": [
          "W/\"32daeed4-e843-4cd2-8a07-c0918183aa05\""
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11994"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"sn9430\",\r\n  \"id\": \"/subscriptions/c2902e31-7250-41b6-9bda-4bd3af792d35/resourceGroups/crptestar7469/providers/Microsoft.Network/virtualNetworks/vn1924/subnets/sn9430\",\r\n  \"etag\": \"W/\\\"32daeed4-e843-4cd2-8a07-c0918183aa05\\\"\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"addressPrefix\": \"10.0.0.0/24\",\r\n    \"delegations\": [],\r\n    \"privateEndpointNetworkPolicies\": \"Enabled\",\r\n    \"privateLinkServiceNetworkPolicies\": \"Enabled\"\r\n  },\r\n  \"type\": \"Microsoft.Network/virtualNetworks/subnets\"\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/c2902e31-7250-41b6-9bda-4bd3af792d35/resourceGroups/crptestar7469/providers/Microsoft.Network/networkInterfaces/nic7911?api-version=2019-09-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"ipConfigurations\": [\r\n      {\r\n        \"properties\": {\r\n          \"privateIPAllocationMethod\": \"Dynamic\",\r\n          \"subnet\": {\r\n            \"properties\": {\r\n              \"addressPrefix\": \"10.0.0.0/24\",\r\n              \"delegations\": [],\r\n              \"privateEndpointNetworkPolicies\": \"Enabled\",\r\n              \"privateLinkServiceNetworkPolicies\": \"Enabled\"\r\n            },\r\n            \"name\": \"sn9430\",\r\n            \"id\": \"/subscriptions/c2902e31-7250-41b6-9bda-4bd3af792d35/resourceGroups/crptestar7469/providers/Microsoft.Network/virtualNetworks/vn1924/subnets/sn9430\"\r\n       [...]
[...]
    {
      "RequestUri": "/subscriptions/c2902e31-7250-41b6-9bda-4bd3af792d35/resourceGroups/crptestar7469/providers/Microsoft.Compute/virtualMachineScaleSets/vmss4902?api-version=2021-07-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"sku\": {\r\n    \"name\": \"Standard_A1_v2\",\r\n    \"capacity\": 2\r\n  },\r\n  \"properties\": {\r\n    \"upgradePolicy\": {\r\n      \"mode\": \"Automatic\"\r\n    },\r\n    \"virtualMachineProfile\": {\r\n      \"osProfile\": {\r\n        \"computerNamePrefix\": \"test\",\r\n        \"adminUsername\": \"Foo12\",\r\n        \"adminPassword\": \"[PLACEHOLDEr1]\",\r\n        \"customData\": \"Q3VzdG9tIGRhdGE=\"\r\n      },\r\n      \"storageProfile\": {\r\n        \"imageReference\": {\r\n          \"publisher\": \"AzureRT.PIRCore.TestWAStage\",\r\n          \"offer\": \"TestUbuntuServer\",\r\n          \"sku\": \"16.04\",\r\n          \"version\": \"latest\"\r\n        },\r\n        \"dataDisks\": [\r\n          {\r\n            \"lun\": 1,\r\n            \"createOption\": \"Empty\",\r\n            \"diskSizeGB\": 128\r\n          }\r\n        ]\r\n      },\r\n      \"networkProfile\": {\r\n        \"networkInterfaceConfigurations\": [\r\n          {\r\n            \"name\": \"vmsstestnetconfig5793\",\r\n            \"properties\": {\r\n              \"primary\": true,\r\n              \"ipConfigurations\": [\r\n                {\r\n                  \"name\": \"vmsstestnetconfig9460\",\r\n                  \"properties\": {\r\n                    \"subnet\": {\r\n                      \"id\": \"/subscriptions/c2902e31-7250-41b6-9bda-4bd3af792d35/resourceGroups/crptestar7469/providers/Microsoft.Network/virtualNetworks/vn1924/subnets/sn9430\"\r\n                    },\r\n                    \"applicationGatewayBackendAddressPools\": []\r\n                  }\r\n                }\r\n              ]\r\n            }\r\n          }\r\n        ]\r\n      }\r\n    },\r\n    \"overprovision\": false\r\n  },\r\n  \"location\": \"SouthCentralUSSTG\",\r\n  \"tags\": {\r\n    \"RG\": \"rg\",\r\n    \"testTag\": \"1\"\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Retry-After": [
          "10"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/c2902e31-7250-41b6-9bda-4bd3af792d35/providers/Microsoft.Compute/locations/SouthCentralUSSTG/operations/ab9883fa-4d62-4622-987a-eb3db4c1c9f9?p=0f0a2c5a-336f-4bd3-b1e1-9a9ee8ea6707&api-version=2021-07-01"
        ],
        "Azure-AsyncNotification": [
          "Enabled"
        ],
        "x-ms-ratelimit-remaining-resource": [
          "Microsoft.Compute/CreateVMScaleSet3Min;129,Microsoft.Compute/CreateVMScaleSet30Min;650,Microsoft.Compute/VMScaleSetBatchedVMRequests5Min;2595,Microsoft.Compute/VmssQueuedVMOperations;0"
        ],
        "x-ms-request-charge": [
          "2"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"vmss4902\",\r\n  \"id\": \"/subscriptions/c2902e31-7250-41b6-9bda-4bd3af792d35/resourceGroups/crptestar7469/providers/Microsoft.Compute/virtualMachineScaleSets/vmss4902\",\r\n  \"type\": \"Microsoft.Compute/virtualMachineScaleSets\",\r\n  \"location\": \"southcentralusstg\",\r\n  \"tags\": {\r\n    \"RG\": \"rg\",\r\n    \"testTag\": \"1\"\r\n  },\r\n  \"sku\": {\r\n    \"name\": \"Standard_A1_v2\",\r\n    \"tier\": \"Standard\",\r\n    \"capacity\": 2\r\n  },\r\n  \"properties\": {\r\n    \"singlePlacementGroup\": true,\r\n    \"upgradePolicy\": {\r\n      \"mode\": \"Automatic\"\r\n    },\r\n    \"virtualMachineProfile\": {\r\n      \"osProfile\": {\r\n        \"computerNamePrefix\": \"test\",\r\n        \"adminUsername\": \"Foo12\",\r\n        \"linuxConfiguration\": {\r\n          \"disablePasswordAuthentication\": false,\r\n          \"provisionVMAgent\": true\r\n        },\r\n        \"secrets\": [],\r\n        \"allowExtensionOperations\": true,\r\n        \"requireGuestProvisionSignal\": true\r\n      },\r\n      \"storageProfile\": {\r\n        \"osDisk\": {\r\n          \"osType\": \"Linux\",\r\n          \"createOption\": \"FromImage\",\r\n          \"caching\": \"None\",\r\n          \"managedDisk\": {\r\n            \"storageAccountType\": \"Standard_LRS\"\r\n          },\r\n          \"diskSizeGB\": 30\r\n        },\r\n        \"imageReference\": {\r\n          \"publisher\": \"AzureRT.PIRCore.TestWAStage\",\r\n          \"offer\": \"TestUbuntuServer\",\r\n          \"sku\": \"16.04\",\r\n          \"version\": \"latest\"\r\n        },\r\n        \"dataDisks\": [\r\n          {\r\n            \"lun\": 1,\r\n            \"createOption\": \"Empty\",\r\n            \"caching\": \"None\",\r\n            \"managedDisk\": {\r\n              \"storageAccountType\": \"Standard_LRS\"\r\n            },\r\n            \"diskSizeGB\": 128\r\n          }\r\n        ]\r\n      },\r\n      \"networkProfile\": {\r\n        \"networkInterfaceConfigurations\": [\r\n          {\r\n            \"name\": \"vmsstestnetconfig5793\",\r\n            \"properties\": {\r\n              \"primary\": true,\r\n              \"enableAcceleratedNetworking\": false,\r\n              \"dnsSettings\": {\r\n                \"dnsServers\": []\r\n              },\r\n              \"enableIPForwarding\": false,\r\n              \"ipConfigurations\": [\r\n                {\r\n                  \"name\": \"vmsstestnetconfig9460\",\r\n                  \"properties\": {\r\n                    \"subnet\": {\r\n                      \"id\": \"/subscriptions/c2902e31-7250-41b6-9bda-4bd3af792d35/resourceGroups/crptestar7469/providers/Microsoft.Network/virtualNetworks/vn1924/subnets/sn9430\"\r\n                    },\r\n                    \"privateIPAddressVersion\": \"IPv4\"\r\n                  }\r\n                }\r\n              ]\r\n            }\r\n          }\r\n        ]\r\n      }\r\n    },\r\n    \"provisioningState\": \"Creating\",\r\n    \"overprovision\": false,\r\n    \"doNotRunExtensionsOnOverprovisionedVMs\": false,\r\n    \"uniqueId\": \"665075de-983b-4184-8fef-840fb232b958\"\r\n  }\r\n}",
      "StatusCode": 201
    },
[...]
    {
      "RequestUri": "/subscriptions/c2902e31-7250-41b6-9bda-4bd3af792d35/providers/Microsoft.Compute/locations/SouthCentralUSSTG/operations/ab9883fa-4d62-4622-987a-eb3db4c1c9f9?p=0f0a2c5a-336f-4bd3-b1e1-9a9ee8ea6707&api-version=2021-07-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Retry-After": [
          "61"
        ],
        "x-ms-ratelimit-remaining-resource": [
          "Microsoft.Compute/GetOperation3Min;14999,Microsoft.Compute/GetOperation30Min;29999"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"startTime\": \"2021-07-15T15:09:56.2826268-07:00\",\r\n  \"status\": \"InProgress\",\r\n  \"name\": \"ab9883fa-4d62-4622-987a-eb3db4c1c9f9\"\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/c2902e31-7250-41b6-9bda-4bd3af792d35/providers/Microsoft.Compute/locations/SouthCentralUSSTG/operations/ab9883fa-4d62-4622-987a-eb3db4c1c9f9?p=0f0a2c5a-336f-4bd3-b1e1-9a9ee8ea6707&api-version=2021-07-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-resource": [
          "Microsoft.Compute/GetOperation3Min;14997,Microsoft.Compute/GetOperation30Min;29997"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11998"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"startTime\": \"2021-07-15T15:09:56.2826268-07:00\",\r\n  \"endTime\": \"2021-07-15T15:11:03.2829454-07:00\",\r\n  \"status\": \"Succeeded\",\r\n  \"name\": \"ab9883fa-4d62-4622-987a-eb3db4c1c9f9\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/c2902e31-7250-41b6-9bda-4bd3af792d35/resourceGroups/crptestar7469/providers/Microsoft.Compute/virtualMachineScaleSets/vmss4902?api-version=2021-07-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-resource": [
          "Microsoft.Compute/GetVMScaleSet3Min;392,Microsoft.Compute/GetVMScaleSet30Min;2584"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11992"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"vmss4902\",\r\n  \"id\": \"/subscriptions/c2902e31-7250-41b6-9bda-4bd3af792d35/resourceGroups/crptestar7469/providers/Microsoft.Compute/virtualMachineScaleSets/vmss4902\",\r\n  \"type\": \"Microsoft.Compute/virtualMachineScaleSets\",\r\n  \"location\": \"southcentralusstg\",\r\n  \"tags\": {\r\n    \"RG\": \"rg\",\r\n    \"testTag\": \"1\"\r\n  },\r\n  \"sku\": {\r\n    \"name\": \"Standard_A1_v2\",\r\n    \"tier\": \"Standard\",\r\n    \"capacity\": 1\r\n  },\r\n  \"properties\": {\r\n    \"singlePlacementGroup\": true,\r\n    \"upgradePolicy\": {\r\n      \"mode\": \"Automatic\"\r\n    },\r\n    \"scaleInPolicy\": {\r\n      \"forceDeletion\": true\r\n    },\r\n    \"virtualMachineProfile\": {\r\n      \"osProfile\": {\r\n        \"computerNamePrefix\": \"test\",\r\n        \"adminUsername\": \"Foo12\",\r\n        \"linuxConfiguration\": {\r\n          \"disablePasswordAuthentication\": false,\r\n          \"provisionVMAgent\": true\r\n        },\r\n        \"secrets\": [],\r\n        \"allowExtensionOperations\": true,\r\n        \"requireGuestProvisionSignal\": true\r\n      },\r\n      \"storageProfile\": {\r\n        \"osDisk\": [...]
[...]
    {
      "RequestUri": "/subscriptions/c2902e31-7250-41b6-9bda-4bd3af792d35/providers/Microsoft.Compute/locations/SouthCentralUSSTG/operations/8b2cf343-330b-4af6-a3f3-a35f76ce756e?p=0f0a2c5a-336f-4bd3-b1e1-9a9ee8ea6707&monitor=true&api-version=2021-07-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-resource": [
          "Microsoft.Compute/GetOperation3Min;14988,Microsoft.Compute/GetOperation30Min;29982"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11978"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/c2902e31-7250-41b6-9bda-4bd3af792d35/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1DUlBURVNUQVI3NDY5LVNPVVRIQ0VOVFJBTFVTU1RHIiwiam9iTG9jYXRpb24iOiJzb3V0aGNlbnRyYWx1c3N0ZyJ9?api-version=2017-05-10",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/c2902e31-7250-41b6-9bda-4bd3af792d35/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1DUlBURVNUQVI3NDY5LVNPVVRIQ0VOVFJBTFVTU1RHIiwiam9iTG9jYXRpb24iOiJzb3V0aGNlbnRyYWx1c3N0ZyJ9?api-version=2017-05-10"
        ],
        "Retry-After": [
          "15"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 202
    },
[...]
    {
      "RequestUri": "/subscriptions/c2902e31-7250-41b6-9bda-4bd3af792d35/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1DUlBURVNUQVI3NDY5LVNPVVRIQ0VOVFJBTFVTU1RHIiwiam9iTG9jYXRpb24iOiJzb3V0aGNlbnRyYWx1c3N0ZyJ9?api-version=2017-05-10",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11992"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 200
    }
  ],
  "Names": {
    "TestVMScaleSetForceScaleinOperation": [
      "crptestar7469",
      "vmss4902",
      "crptestar8185"
    ],
    "CreatePublicIP": [
      "pip7037",
      "dn919"
    ],
    "CreateVNET": [
      "vn1924",
      "sn9430"
    ],
    "CreateNIC": [
      "nic7911",
      "ip8841"
    ],
    "CreateDefaultVMScaleSetInput": [
      "crptestar8983",
      "vmss5123",
      "vmsstestnetconfig5793",
      "vmsstestnetconfig9460"
    ]
  },
  "Variables": {
    "SubscriptionId": "c2902e31-7250-41b6-9bda-4bd3af792d35"
  }
}