{
  "Entries": [
    {
      "RequestUri": "/subscriptions/c2902e31-7250-41b6-9bda-4bd3af792d35/resourcegroups/crptestar426?api-version=2017-05-10",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"SouthCentralUSSTG\",\r\n  \"tags\": {\r\n    \"crptestar426\": \"2021-07-15 21:08:27Z\"\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/c2902e31-7250-41b6-9bda-4bd3af792d35/resourceGroups/crptestar426\",\r\n  \"name\": \"crptestar426\",\r\n  \"location\": \"southcentralusstg\",\r\n  \"tags\": {\r\n    \"crptestar426\": \"2021-07-15 21:08:27Z\"\r\n  },\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 201
    },
[...]
    {
      "RequestUri": "/subscriptions/c2902e31-7250-41b6-9bda-4bd3af792d35/resourceGroups/crptestar426/providers/Microsoft.Storage/storageAccounts/crptestar3380?api-version=2015-06-15",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"SouthCentralUSSTG\",\r\n  \"properties\": {\r\n    \"accountType\": \"Standard_GRS\"\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/c2902e31-7250-41b6-9bda-4bd3af792d35/providers/Microsoft.Storage/locations/southcentralusstg/asyncoperations/ae12314b-96be-455e-862f-50656cad6ab2?monitor=true&api-version=2015-06-15"
        ],
        "Retry-After": [
          "17"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "text/plain; charset=utf-8"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 202
    },
    {
      "RequestUri": "/subscriptions/c2902e31-7250-41b6-9bda-4bd3af792d35/providers/Microsoft.Storage/locations/southcentralusstg/asyncoperations/ae12314b-96be-455e-862f-50656cad6ab2?monitor=true&api-version=2015-06-15",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ],
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "{\r\n  \"location\": \"SouthCentralUSSTG\",\r\n  \"properties\": {\r\n    \"accountType\": \"Standard_GRS\"\r\n  }\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/c2902e31-7250-41b6-9bda-4bd3af792d35/resourceGroups/crptestar426/providers/Microsoft.Storage/storageAccounts?api-version=2015-06-15",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11998"
        ],
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/c2902e31-7250-41b6-9bda-4bd3af792d35/resourceGroups/crptestar426/providers/Microsoft.Storage/storageAccounts/crptestar3380\",\r\n      \"name\": \"crptestar3380\",\r\n      \"type\": \"Microsoft.Storage/storageAccounts\",\r\n      \"location\": \"southcentralusstg\",\r\n      \"tags\": {},\r\n      \"properties\": {\r\n        \"accountType\": \"Standard_GRS\",\r\n        \"provisioningState\": \"Succeeded\",\r\n        \"creationTime\": \"2021-07-15T21:08:30.6395236Z\",\r\n        \"primaryEndpoints\": {\r\n          \"blob\": \"https://crptestar3380.blob.core.windows.net/\",\r\n          \"queue\": \"https://crptestar3380.queue.core.windows.net/\",\r\n          \"table\": \"https://crptestar3380.table.core.windows.net/\",\r\n          \"file\": \"https://crptestar3380.file.core.windows.net/\"\r\n        },\r\n        \"primaryLocation\": \"southcentralusstg\",\r\n        \"statusOfPrimary\": \"available\",\r\n        \"secondaryLocation\": \"eastusstg\",\r\n        \"statusOfSecondary\": \"available\"\r\n      }\r\n    }\r\n  ]\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/c2902e31-7250-41b6-9bda-4bd3af792d35/resourceGroups/crptestar426/providers/Microsoft.Compute/virtualMachineScaleSets/VMScaleSetDoesNotExist?api-version=2021-07-01",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-deletes": [
          "14999"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 204
    },
    {
      "RequestUri": "/subscriptions/c2902e31-7250-41b6-9bda-4bd3af792d35/resourceGroups/crptestar426/providers/Microsoft.Network/publicIPAddresses/pip5003?api-version=2019-09-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"publicIPAllocationMethod\": \"Dynamic\",\r\n    \"dnsSettings\": {\r\n      \"domainNameLabel\": \"dn3450\"\r\n    }\r\n  },\r\n  \"location\": \"SouthCentralUSSTG\",\r\n  \"tags\": {\r\n    \"key\": \"value\"\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Retry-After": [
          "1"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/c2902e31-7250-41b6-9bda-4bd3af792d35/providers/Microsoft.Network/locations/southcentralusstg/operations/e984c31c-d591-49a9-a661-52698619c79c?api-version=2019-09-01"
        ],
        "Azure-AsyncNotification": [
          "Enabled"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"pip5003\",\r\n  \"id\": \"/subscriptions/c2902e31-7250-41b6-9bda-4bd3af792d35/resourceGroups/crptestar426/providers/Microsoft.Network/publicIPAddresses/pip5003\",\r\n  \"etag\": \"W/\\\"9c575281-7e9a-408c-868a-74a37d13bb16\\\"\",\r\n  \"location\": \"southcentralusstg\",\r\n  \"tags\": {\r\n    \"key\": \"value\"\r\n  },\r\n  \"properties\": {\r\n    \"provisioningState\": \"Updating\",\r\n    \"resourceGuid\": \"aa852430-90e2-47b5-82db-1f7237592bca\",\r\n    \"publicIPAddressVersion\": \"IPv4\",\r\n    \"publicIPAllocationMethod\": \"Dynamic\",\r\n    \"idleTimeoutInMinutes\": 4,\r\n    \"dnsSettings\": {\r\n      \"domainNameLabel\": \"dn3450\",\r\n      \"fqdn\": \"dn3450.southcentralusstg.cloudapp.azure.com\"\r\n    },\r\n    \"ipTags\": []\r\n  },\r\n  \"type\": \"Microsoft.Network/publicIPAddresses\",\r\n  \"sku\": {\r\n    \"name\": \"Basic\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/c2902e31-7250-41b6-9bda-4bd3af792d35/providers/Microsoft.Network/locations/southcentralusstg/operations/e984c31c-d591-49a9-a661-52698619c79c?api-version=2019-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"status\": \"Succeeded\"\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/c2902e31-7250-41b6-9bda-4bd3af792d35/resourceGroups/crptestar426/providers/Microsoft.Network/publicIPAddresses/pip5003?api-version=2019-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "ETag": [
          "W/\"2b67f4af-f53c-433b-b8a7-d9af08dc6eee\""
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11998"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"pip5003\",\r\n  \"id\": \"/subscriptions/c2902e31-7250-41b6-9bda-4bd3af792d35/resourceGroups/crptestar426/providers/Microsoft.Network/publicIPAddresses/pip5003\",\r\n  \"etag\": \"W/\\\"2b67f4af-f53c-433b-b8a7-d9af08dc6eee\\\"\",\r\n  \"location\": \"southcentralusstg\",\r\n  \"tags\": {\r\n    \"key\": \"value\"\r\n  },\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"resourceGuid\": \"aa852430-90e2-47b5-82db-1f7237592bca\",\r\n    \"publicIPAddressVersion\": \"IPv4\",\r\n    \"publicIPAllocationMethod\": \"Dynamic\",\r\n    \"idleTimeoutInMinutes\": 4,\r\n    \"dnsSettings\": {\r\n      \"domainNameLabel\": \"dn3450\",\r\n      \"fqdn\": \"dn3450.southcentralusstg.cloudapp.azure.com\"\r\n    },\r\n    \"ipTags\": []\r\n  },\r\n  \"type\": \"Microsoft.Network/publicIPAddresses\",\r\n  \"sku\": {\r\n    \"name\": \"Basic\"\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/c2902e31-7250-41b6-9bda-4bd3af792d35/resourceGroups/crptestar426/providers/Microsoft.Network/virtualNetworks/vn6540?api-version=2019-09-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"addressSpace\": {\r\n      \"addressPrefixes\": [\r\n        \"10.0.0.0/16\"\r\n      ]\r\n    },\r\n    \"dhcpOptions\": {\r\n      \"dnsServers\": [\r\n        \"10.1.1.1\",\r\n        \"10.1.2.4\"\r\n      ]\r\n    },\r\n    \"subnets\": [\r\n      {\r\n        \"properties\": {\r\n          \"addressPrefix\": \"10.0.0.0/24\"\r\n        },\r\n        \"name\": \"sn9226\"\r\n      }\r\n    ]\r\n  },\r\n  \"location\": \"SouthCentralUSSTG\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Retry-After": [
          "3"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/c2902e31-7250-41b6-9bda-4bd3af792d35/providers/Microsoft.Network/locations/southc[...]
[...]
    {
      "RequestUri": "/subscriptions/c2902e31-7250-41b6-9bda-4bd3af792d35/resourceGroups/crptestar426/providers/Microsoft.Network/virtualNetworks/vn6540/subnets/sn9226?api-version=2019-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "ETag": [
          "W/\"581cb45e-9b76-472b-add8-9de8e9f4fe5a\""
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11994"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"sn9226\",\r\n  \"id\": \"/subscriptions/c2902e31-7250-41b6-9bda-4bd3af792d35/resourceGroups/crptestar426/providers/Microsoft.Network/virtualNetworks/vn6540/subnets/sn9226\",\r\n  \"etag\": \"W/\\\"581cb45e-9b76-472b-add8-9de8e9f4fe5a\\\"\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"addressPrefix\": \"10.0.0.0/24\",\r\n    \"delegations\": [],\r\n    \"privateEndpointNetworkPolicies\": \"Enabled\",\r\n    \"privateLinkServiceNetworkPolicies\": \"Enabled\"\r\n  },\r\n  \"type\": \"Microsoft.Network/virtualNetworks/subnets\"\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/c2902e31-7250-41b6-9bda-4bd3af792d35/resourceGroups/crptestar426/providers/Microsoft.Network/networkInterfaces/nic5633?api-version=2019-09-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"ipConfigurations\": [\r\n      {\r\n        \"properties\": {\r\n          \"privateIPAllocationMethod\": \"Dynamic\",\r\n          \"subnet\": {\r\n            \"properties\": {\r\n              \"addressPrefix\": \"10.0.0.0/24\",\r\n              \"delegations\": [],\r\n              \"privateEndpointNetworkPolicies\": \"Enabled\",\r\n              \"privateLinkServiceNetworkPolicies\": \"Enabled\"\r\n            },\r\n            \"name\": \"sn9226\",\r\n            \"id\": \"/subscriptions/c2902e31-7250-41b6-9bda-4bd3af792d35/resourceGroups/crptestar426/providers/Microsoft.Network/virtualNetworks/vn6540/subnets/sn9226\"\r\n        [...]
[...]
    {
      "RequestUri": "/subscriptions/c2902e31-7250-41b6-9bda-4bd3af792d35/resourceGroups/crptestar426/providers/Microsoft.Compute/virtualMachineScaleSets/vmss3217?api-version=2021-07-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"sku\": {\r\n    \"name\": \"Standard_A1_v2\",\r\n    \"capacity\": 2\r\n  },\r\n  \"properties\": {\r\n    \"upgradePolicy\": {\r\n      \"mode\": \"Automatic\"\r\n    },\r\n    \"virtualMachineProfile\": {\r\n      \"osProfile\": {\r\n        \"computerNamePrefix\": \"test\",\r\n        \"adminUsername\": \"Foo12\",\r\n        \"adminPassword\": \"[PLACEHOLDEr1]\",\r\n        \"customData\": \"Q3VzdG9tIGRhdGE=\"\r\n      },\r\n      \"storageProfile\": {\r\n        \"imageReference\": {\r\n          \"publisher\": \"AzureRT.PIRCore.TestWAStage\",\r\n          \"offer\": \"TestUbuntuServer\",\r\n          \"sku\": \"16.04\",\r\n          \"version\": \"latest\"\r\n        },\r\n        \"dataDisks\": [\r\n          {\r\n            \"lun\": 1,\r\n            \"createOption\": \"Empty\",\r\n            \"diskSizeGB\": 128\r\n          }\r\n        ]\r\n      },\r\n      \"networkProfile\": {\r\n        \"networkInterfaceConfigurations\": [\r\n          {\r\n            \"name\": \"vmsstestnetconfig4200\",\r\n            \"properties\": {\r\n              \"primary\": true,\r\n              \"ipConfigurations\": [\r\n                {\r\n                  \"name\": \"vmsstestnetconfig3000\",\r\n                  \"properties\": {\r\n                    \"subnet\": {\r\n                      \"id\": \"/subscriptions/c2902e31-7250-41b6-9bda-4bd3af792d35/resourceGroups/crptestar426/providers/Microsoft.Network/virtualNetworks/vn6540/subnets/sn9226\"\r\n                    },\r\n                    \"applicationGatewayBackendAddressPools\": []\r\n                  }\r\n                }\r\n              ]\r\n            }\r\n          }\r\n        ]\r\n      }\r\n    },\r\n    \"overprovision\": false\r\n  },\r\n  \"location\": \"SouthCentralUSSTG\",\r\n  \"tags\": {\r\n    \"RG\": \"rg\",\r\n    \"testTag\": \"1\"\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Retry-After": [
          "10"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/c2902e31-7250-41b6-9bda-4bd3af792d35/providers/Microsoft.Compute/locations/SouthCentralUSSTG/operations/8996d36b-6946-49dd-84a7-8cb3b457f032?p=0f0a2c5a-336f-4bd3-b1e1-9a9ee8ea6707&api-version=2021-07-01"
        ],
        "Azure-AsyncNotification": [
          "Enabled"
        ],
        "x-ms-ratelimit-remaining-resource": [
          "Microsoft.Compute/CreateVMScaleSet3Min;129,Microsoft.Compute/CreateVMScaleSet30Min;651,Microsoft.Compute/VMScaleSetBatchedVMRequests5Min;2602,Microsoft.Compute/VmssQueuedVMOperations;0"
        ],
        "x-ms-request-charge": [
          "2"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"vmss3217\",\r\n  \"id\": \"/subscriptions/c2902e31-7250-41b6-9bda-4bd3af792d35/resourceGroups/crptestar426/providers/Microsoft.Compute/virtualMachineScaleSets/vmss3217\",\r\n  \"type\": \"Microsoft.Compute/virtualMachineScaleSets\",\r\n  \"location\": \"southcentralusstg\",\r\n  \"tags\": {\r\n    \"RG\": \"rg\",\r\n    \"testTag\": \"1\"\r\n  },\r\n  \"sku\": {\r\n    \"name\": \"Standard_A1_v2\",\r\n    \"tier\": \"Standard\",\r\n    \"capacity\": 2\r\n  },\r\n  \"properties\": {\r\n    \"singlePlacementGroup\": true,\r\n    \"upgradePolicy\": {\r\n      \"mode\": \"Automatic\"\r\n    },\r\n    \"virtualMachineProfile\": {\r\n      \"osProfile\": {\r\n        \"computerNamePrefix\": \"test\",\r\n        \"adminUsername\": \"Foo12\",\r\n        \"linuxConfiguration\": {\r\n          \"disablePasswordAuthentication\": false,\r\n          \"provisionVMAgent\": true\r\n        },\r\n        \"secrets\": [],\r\n        \"allowExtensionOperations\": true,\r\n        \"requireGuestProvisionSignal\": true\r\n      },\r\n      \"storageProfile\": {\r\n        \"osDisk\": {\r\n          \"osType\": \"Linux\",\r\n          \"createOption\": \"FromImage\",\r\n          \"caching\": \"None\",\r\n          \"managedDisk\": {\r\n            \"storageAccountType\": \"Standard_LRS\"\r\n          },\r\n          \"diskSizeGB\": 30\r\n        },\r\n        \"imageReference\": {\r\n          \"publisher\": \"AzureRT.PIRCore.TestWAStage\",\r\n          \"offer\": \"TestUbuntuServer\",\r\n          \"sku\": \"16.04\",\r\n          \"version\": \"latest\"\r\n        },\r\n        \"dataDisks\": [\r\n          {\r\n            \"lun\": 1,\r\n            \"createOption\": \"Empty\",\r\n            \"caching\": \"None\",\r\n            \"managedDisk\": {\r\n              \"storageAccountType\": \"Standard_LRS\"\r\n            },\r\n            \"diskSizeGB\": 128\r\n          }\r\n        ]\r\n      },\r\n      \"networkProfile\": {\r\n        \"networkInterfaceConfigurations\": [\r\n          {\r\n            \"name\": \"vmsstestnetconfig4200\",\r\n            \"properties\": {\r\n              \"primary\": true,\r\n              \"enableAcceleratedNetworking\": false,\r\n              \"dnsSettings\": {\r\n                \"dnsServers\": []\r\n              },\r\n              \"enableIPForwarding\": false,\r\n              \"ipConfigurations\": [\r\n                {\r\n                  \"name\": \"vmsstestnetconfig3000\",\r\n                  \"properties\": {\r\n                    \"subnet\": {\r\n                      \"id\": \"/subscriptions/c2902e31-7250-41b6-9bda-4bd3af792d35/resourceGroups/crptestar426/providers/Microsoft.Network/virtualNetworks/vn6540/subnets/sn9226\"\r\n                    },\r\n                    \"privateIPAddressVersion\": \"IPv4\"\r\n                  }\r\n                }\r\n              ]\r\n            }\r\n          }\r\n        ]\r\n      }\r\n    },\r\n    \"provisioningState\": \"Creating\",\r\n    \"overprovision\": false,\r\n    \"doNotRunExtensionsOnOverprovisionedVMs\": false,\r\n    \"uniqueId\": \"6bbcae35-ea72-4b78-82e7-301f8bfe29f4\"\r\n  }\r\n}",
      "StatusCode": 201
    },
[...]
    {
      "RequestUri": "/subscriptions/c2902e31-7250-41b6-9bda-4bd3af792d35/providers/Microsoft.Compute/locations/SouthCentralUSSTG/operations/8996d36b-6946-49dd-84a7-8cb3b457f032?p=0f0a2c5a-336f-4bd3-b1e1-9a9ee8ea6707&api-version=2021-07-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Retry-After": [
          "61"
        ],
        "x-ms-ratelimit-remaining-resource": [
          "Microsoft.Compute/GetOperation3Min;14999,Microsoft.Compute/GetOperation30Min;29999"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"startTime\": \"2021-07-15T14:09:12.828531-07:00\",\r\n  \"status\": \"InProgress\",\r\n  \"name\": \"8996d36b-6946-49dd-84a7-8cb3b457f032\"\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/c2902e31-7250-41b6-9bda-4bd3af792d35/providers/Microsoft.Compute/locations/SouthCentralUSSTG/operations/8996d36b-6946-49dd-84a7-8cb3b457f032?p=0f0a2c5a-336f-4bd3-b1e1-9a9ee8ea6707&api-version=2021-07-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-resource": [
          "Microsoft.Compute/GetOperation3Min;14997,Microsoft.Compute/GetOperation30Min;29997"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11998"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"startTime\": \"2021-07-15T14:09:12.828531-07:00\",\r\n  \"endTime\": \"2021-07-15T14:09:59.625194-07:00\",\r\n  \"status\": \"Succeeded\",\r\n  \"name\": \"8996d36b-6946-49dd-84a7-8cb3b457f032\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/c2902e31-7250-41b6-9bda-4bd3af792d35/resourceGroups/crptestar426/providers/Microsoft.Compute/virtualMachineScaleSets/vmss3217?api-version=2021-07-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-resource": [
          "Microsoft.Compute/GetVMScaleSet3Min;386,Microsoft.Compute/GetVMScaleSet30Min;2571"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11992"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"vmss3217\",\r\n  \"id\": \"/subscriptions/c2902e31-7250-41b6-9bda-4bd3af792d35/resourceGroups/crptestar426/providers/Microsoft.Compute/virtualMachineScaleSets/vmss3217\",\r\n  \"type\": \"Microsoft.Compute/virtualMachineScaleSets\",\r\n  \"location\": \"southcentralusstg\",\r\n  \"tags\": {\r\n    \"RG\": \"rg\",\r\n    \"testTag\": \"1\"\r\n  },\r\n  \"sku\": {\r\n    \"name\": \"Standard_A1_v2\",\r\n    \"tier\": \"Standard\",\r\n    \"capacity\": 1\r\n  },\r\n  \"properties\": {\r\n    \"singlePlacementGroup\": true,\r\n    \"upgradePolicy\": {\r\n      \"mode\": \"Automatic\"\r\n    },\r\n    \"scaleInPolicy\": {\r\n      \"forceDeletion\": true\r\n    },\r\n    \"virtualMachineProfile\": {\r\n      \"osProfile\": {\r\n        \"computerNamePrefix\": \"test\",\r\n        \"adminUsername\": \"Foo12\",\r\n        \"linuxConfiguration\": {\r\n          \"disablePasswordAuthentication\": false,\r\n          \"provisionVMAgent\": true\r\n        },\r\n        \"secrets\": [],\r\n        \"allowExtensionOperations\": true,\r\n        \"requireGuestProvisionSignal\": true\r\n      },\r\n      \"storageProfile\": {\r\n        \"osDisk\": [...]
[...]
    {
      "RequestUri": "/subscriptions/c2902e31-7250-41b6-9bda-4bd3af792d35/providers/Microsoft.Compute/locations/SouthCentralUSSTG/operations/98470f05-4e20-4933-9eae-940d4ab44518?p=0f0a2c5a-336f-4bd3-b1e1-9a9ee8ea6707&monitor=true&api-version=2021-07-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-resource": [
          "Microsoft.Compute/GetOperation3Min;14988,Microsoft.Compute/GetOperation30Min;29981"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11977"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/c2902e31-7250-41b6-9bda-4bd3af792d35/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1DUlBURVNUQVI0MjYtU09VVEhDRU5UUkFMVVNTVEciLCJqb2JMb2NhdGlvbiI6InNvdXRoY2VudHJhbHVzc3RnIn0?api-version=2017-05-10",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/c2902e31-7250-41b6-9bda-4bd3af792d35/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1DUlBURVNUQVI0MjYtU09VVEhDRU5UUkFMVVNTVEciLCJqb2JMb2NhdGlvbiI6InNvdXRoY2VudHJhbHVzc3RnIn0?api-version=2017-05-10"
        ],
        "Retry-After": [
          "15"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 202
    },
[...]
    {
      "RequestUri": "/subscriptions/c2902e31-7250-41b6-9bda-4bd3af792d35/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1DUlBURVNUQVI0MjYtU09VVEhDRU5UUkFMVVNTVEciLCJqb2JMb2NhdGlvbiI6InNvdXRoY2VudHJhbHVzc3RnIn0?api-version=2017-05-10",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11992"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 200
    }
  ],
  "Names": {
    "TestVMScaleSetForceScaleinOperation": [
      "crptestar426",
      "vmss3217",
      "crptestar3380"
    ],
    "CreatePublicIP": [
      "pip5003",
      "dn3450"
    ],
    "CreateVNET": [
      "vn6540",
      "sn9226"
    ],
    "CreateNIC": [
      "nic5633",
      "ip1618"
    ],
    "CreateDefaultVMScaleSetInput": [
      "crptestar7054",
      "vmss4247",
      "vmsstestnetconfig4200",
      "vmsstestnetconfig3000"
    ]
  },
  "Variables": {
    "SubscriptionId": "c2902e31-7250-41b6-9bda-4bd3af792d35"
  }
}