{
  "Entries": [
    {
      "RequestUri": "https://fakeHost.api.wus2.timeseriesinsights.azure.com/timeseries/modelSettings?api-version=2020-07-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json"
      },
      "ResponseBody": {
        "modelSettings": {
          "name": "testModel",
          "timeSeriesIdProperties": [
            {
              "name": "Building",
              "type": "String"
            },
            {
              "name": "Floor",
              "type": "String"
            },
            {
              "name": "Room",
              "type": "String"
            }
          ],
          "defaultTypeId": "1be09af9-f089-4d6b-9f0b-48018b5f7393"
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.timeseriesinsights.azure.com/timeseries/types/$batch?api-version=2020-07-31",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "put": [
          {
            "id": "1930204419",
            "name": "typeU45tXvQp",
            "variables": {
              "aggregateVariablebrj9n49j": {
                "aggregation": {
                  "tsx": "count()"
                },
                "kind": "aggregate"
              }
            }
          }
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json"
      },
      "ResponseBody": {
        "put": [
          {
            "timeSeriesType": {
              "id": "1930204419",
              "name": "typeU45tXvQp",
              "variables": {
                "aggregateVariablebrj9n49j": {
                  "kind": "aggregate",
                  "aggregation": {
                    "tsx": "count()"
                  }
                }
              }
            }
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://fakeHost.api.wus2.timeseriesinsights.azure.com/timeseries/types/$batch?api-version=2020-07-31",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "delete": {
          "typeIds": [
            "1930204419"
          ]
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json"
      },
      "ResponseBody": {
        "delete": [
          null
        ]
      }
    }
  ],
  "Variables": {
    "RandomSeed": "1017404809",
    "TIMESERIESINSIGHTS_URL": "fakeHost.api.wus2.timeseriesinsights.azure.com"
  }
}