{
  "Entries": [
    {
      "RequestUri": "https://fakeHost.api.wus2.timeseriesinsights.azure.com/timeseries/modelSettings?api-version=2020-07-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json"
      },
      "ResponseBody": {
        "modelSettings": {
          "name": "testModel",
          "timeSeriesIdProperties": [
            {
              "name": "building",
              "type": "String"
            },
            {
              "name": "floor",
              "type": "String"
            },
            {
              "name": "room",
              "type": "String"
            }
          ],
          "defaultTypeId": "1be09af9-f089-4d6b-9f0b-48018b5f7393"
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.timeseriesinsights.azure.com/timeseries/modelSettings?api-version=2020-07-31",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "testModel"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json"
      },
      "ResponseBody": {
        "modelSettings": {
          "name": "testModel",
          "timeSeriesIdProperties": [
            {
              "name": "building",
              "type": "String"
            },
            {
              "name": "floor",
              "type": "String"
            },
            {
              "name": "room",
              "type": "String"
            }
          ],
          "defaultTypeId": "1be09af9-f089-4d6b-9f0b-48018b5f7393"
        }
      }
    }
  ],
  "Variables": {
    "RandomSeed": "636032997",
    "TIMESERIESINSIGHTS_URL": "fakeHost.api.wus2.timeseriesinsights.azure.com"
  }
}