{
  "Entries": [
    {
      "RequestUri": "https://fakeHost.api.wus2.timeseriesinsights.azure.com/timeseries/modelSettings?api-version=2020-07-31",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "defaultTypeId": "testId"
      },
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/json"
      },
      "ResponseBody": {
        "error": {
          "code": "InvalidInput",
          "message": "Time series type with ID \u0027testId\u0027 specified as \u0027defaultTypeId\u0027 does not exist.",
          "innerError": {
            "code": "TypeNotFound"
          }
        }
      }
    }
  ],
  "Variables": {
    "RandomSeed": "44395832",
    "TIMESERIESINSIGHTS_URL": "fakeHost.api.wus2.timeseriesinsights.azure.com"
  }
}