{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/db4e2fdb-6d80-4e6e-b7cd-736098270664?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "id": "/subscriptions/db4e2fdb-6d80-4e6e-b7cd-736098270664",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "subscriptionId": "db4e2fdb-6d80-4e6e-b7cd-736098270664",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": "Edge Gateway Test",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db4e2fdb-6d80-4e6e-b7cd-736098270664/resourceGroups/demo-resources/providers/Microsoft.DataBoxEdge/dataBoxEdgeDevices/ase-sdk-resource/networkSettings/default?api-version=2023-01-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11998"
      },
      "ResponseBody": {
        "properties": {
          "networkAdapters": [
            {
              "adapterId": "{C497FD09-7E5D-4716-9428-8B9FC0AF5052}",
              "adapterPosition": {
                "networkGroup": "NonRDMA",
                "port": 0
              },
              "index": 1,
              "nodeId": "5c183aa7-8705-4867-ae96-4bedc5716d99",
              "networkAdapterName": "DATA1",
              "label": "DATA1",
              "macAddress": "00155D4E262B",
              "linkSpeed": 10000000000,
              "status": "Inactive",
              "rdmaStatus": "Incapable",
              "dhcpStatus": "Enabled",
              "ipv4Configuration": {
                "ipAddress": "10.150.76.82",
                "subnet": "255.255.252.0",
                "gateway": "10.150.76.1"
              },
              "ipv6Configuration": {
                "ipAddress": "2404:f801:4800:1e:8168:dca6:b3b9:d70",
                "prefixLength": 64,
                "gateway": "fe80::12f3:11ff:fe3b:55d3%4"
              },
              "dnsServers": [
                "10.50.50.50",
                "10.50.10.50"
              ]
            }
          ]
        },
        "id": "/subscriptions/db4e2fdb-6d80-4e6e-b7cd-736098270664/resourceGroups/demo-resources/providers/Microsoft.DataBoxEdge/dataBoxEdgeDevices/ase-sdk-resource/networkSettings/default",
        "name": "default",
        "type": "Microsoft.DataBoxEdge/dataBoxEdgeDevices/networkSettings"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db4e2fdb-6d80-4e6e-b7cd-736098270664/resourceGroups/demo-resources/providers/Microsoft.DataBoxEdge/dataBoxEdgeDevices/ase-sdk-resource/securitySettings/default/update?api-version=2023-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json-patch\u002Bjson"
      },
      "RequestBody": {
        "properties": {
          "deviceAdminPassword": {
            "value": "j\u002BVe\u002Be77JkFQNVXzARjlf/Fjn5pVZYWPSfy6/WqmGJQKeZjd4mBc8V0Ck1kEukMgxwFg/iY0yymEWfdAZ9qOd46azsRal8qvSCbWtAz/XrWQhOZU/DLvfZBnfcJst4UKQya9SpRHAUhfzwB3cF16VCl7yAGPwyFSAehMr6EO/UcnPofMPZLJqTOcEeCHsaUH5VIKVQyAHqAOr3LTE4aGkT76DGoPGvCeli/HC4npHTUbr2FfLSpIFDzHvLj2kXpIRdb7NyVOTTWPExiqbfpSuyFXpmiYfaTJXw7IGS2z5RCidAqOQ3LdtQz70Y5G4HS/yTtUNS1znxFD7TmKc9ZFMw==",
            "encryptionCertThumbprint": "203B72802C1D30B77D680350AFA9B27552FE1D46",
            "encryptionAlgorithm": "AES256"
          }
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Location": "https://management.azure.com/subscriptions/db4e2fdb-6d80-4e6e-b7cd-736098270664/resourceGroups/demo-resources/providers/Microsoft.DataBoxEdge/dataBoxEdgeDevices/ase-sdk-resource/securitySettings/default/operationResults/b5d8b469-f67e-45b8-ad0a-cc5116bc2e0e?api-version=2023-01-01-preview",
        "Retry-After": "30",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db4e2fdb-6d80-4e6e-b7cd-736098270664/resourceGroups/demo-resources/providers/Microsoft.DataBoxEdge/dataBoxEdgeDevices/ase-sdk-resource/securitySettings/default/operationResults/b5d8b469-f67e-45b8-ad0a-cc5116bc2e0e?api-version=2023-01-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Location": "https://management.azure.com/subscriptions/db4e2fdb-6d80-4e6e-b7cd-736098270664/resourceGroups/demo-resources/providers/Microsoft.DataBoxEdge/dataBoxEdgeDevices/ase-sdk-resource/securitySettings/default/operationResults/b5d8b469-f67e-45b8-ad0a-cc5116bc2e0e?api-version=2023-01-01-preview",
        "Retry-After": "10",
        "x-ms-ratelimit-remaining-subscription-reads": "11997"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db4e2fdb-6d80-4e6e-b7cd-736098270664/resourceGroups/demo-resources/providers/Microsoft.DataBoxEdge/dataBoxEdgeDevices/ase-sdk-resource/securitySettings/default/operationResults/b5d8b469-f67e-45b8-ad0a-cc5116bc2e0e?api-version=2023-01-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": "11996"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "RandomSeed": "1737476694",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "db4e2fdb-6d80-4e6e-b7cd-736098270664"
  }
}
