{
  "Entries": [
    {
      "RequestUri": "https://pakrymtables3prim.table.cosmos.azure.com/Tables?$format=application%2Fjson%3Bodata%3Dminimalmetadata",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json; odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Wed, 22 Dec 2021 22:48:44 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "TableName": "testtableEKhM5EVe"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "ETag": "W/\u0022datetime\u00272021-12-22T22%3A48%3A45.1699720Z\u0027\u0022",
        "Location": "https://pakrymtables3prim.table.cosmos.azure.com/Tables(\u0027testtableEKhM5EVe\u0027)"
      },
      "ResponseBody": {
        "TableName": "testtableEKhM5EVe",
        "odata.metadata": "https://pakrymtables3prim.table.cosmos.azure.com/$metadata#Tables/@Element"
      }
    },
    {
      "RequestUri": "https://pakrymtables3prim.table.cosmos.azure.com/testtableEKhM5EVe(PartitionKey=\u0027PK\u0027,RowKey=\u0027RK\u0027)?$format=application%2Fjson%3Bodata%3Dminimalmetadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Wed, 22 Dec 2021 22:48:46 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "ETag": "W/\u0022datetime\u00272021-12-22T22%3A48%3A45.9601928Z\u0027\u0022"
      },
      "ResponseBody": {
        "odata.metadata": "https://pakrymtables3prim.table.cosmos.azure.com/testtableEKhM5EVe/$metadata#testtableEKhM5EVe/@Element",
        "odata.etag": "W/\u0022datetime\u00272021-12-22T22%3A48%3A45.9601928Z\u0027\u0022",
        "StringTypeProperty": "hello",
        "DatetimeTypeProperty@odata.type": "Edm.DateTime",
        "DatetimeTypeProperty": "1997-07-08T00:00:00.0000000Z",
        "DatetimeOffsetTypeProperty@odata.type": "Edm.DateTime",
        "DatetimeOffsetTypeProperty": "1997-07-08T00:00:00.0000000Z",
        "GuidTypeProperty@odata.type": "Edm.Guid",
        "GuidTypeProperty": "ca761232-ed42-11ce-bacd-00aa0057b223",
        "BinaryTypeProperty@odata.type": "Edm.Binary",
        "BinaryTypeProperty": "AQID",
        "Int64TypeProperty@odata.type": "Edm.Int64",
        "Int64TypeProperty": "2147483647",
        "UInt64TypeProperty": "2147483647",
        "DoubleTypeProperty": 1.7976931348623157E+308,
        "IntTypeProperty": 2147483647,
        "EnumProperty": "Blue",
        "NullableDatetimeTypeProperty@odata.type": "Edm.DateTime",
        "NullableDatetimeTypeProperty": "1997-07-08T00:00:00.0000000Z",
        "NullableDatetimeOffsetTypeProperty@odata.type": "Edm.DateTime",
        "NullableDatetimeOffsetTypeProperty": "1997-07-08T00:00:00.0000000Z",
        "NullableGuidTypeProperty@odata.type": "Edm.Guid",
        "NullableGuidTypeProperty": "ca761232-ed42-11ce-bacd-00aa0057b223",
        "NullableInt64TypeProperty@odata.type": "Edm.Int64",
        "NullableInt64TypeProperty": "2147483647",
        "NullableUInt64TypeProperty": "2147483647",
        "NullableDoubleTypeProperty": 1.7976931348623157E+308,
        "NullableIntTypeProperty": 2147483647,
        "NullableEnumProperty": "Blue",
        "NestedEntity": "null",
        "PartitionKey": "PK",
        "RowKey": "RK",
        "Timestamp": "2021-12-22T22:48:45.9601928Z"
      }
    },
    {
      "RequestUri": "https://pakrymtables3prim.table.cosmos.azure.com/Tables(\u0027testtableEKhM5EVe\u0027)",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 22 Dec 2021 22:48:46 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "COSMOS_TABLES_ENDPOINT_SUFFIX": "cosmos.azure.com",
    "RandomSeed": "1423557083",
    "TABLES_COSMOS_ACCOUNT_NAME": "pakrymtables3prim",
    "TABLES_PRIMARY_COSMOS_ACCOUNT_KEY": "Kg=="
  }
}
