{
  "Entries": [
    {
      "RequestUri": "https://pakrymtables3prim.table.cosmos.azure.com/Tables?$format=application%2Fjson%3Bodata%3Dminimalmetadata",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json;odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Tue, 21 Dec 2021 23:56:08 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "TableName": "testtablern9HZkYg"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "ETag": "W/\u0022datetime\u00272021-12-21T23%3A56%3A08.7734280Z\u0027\u0022",
        "Location": "https://pakrymtables3prim.table.cosmos.azure.com/Tables(\u0027testtablern9HZkYg\u0027)"
      },
      "ResponseBody": {
        "TableName": "testtablern9HZkYg",
        "odata.metadata": "https://pakrymtables3prim.table.cosmos.azure.com/$metadata#Tables/@Element"
      }
    },
    {
      "RequestUri": "https://pakrymtables3prim.table.cosmos.azure.com/$batch",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "multipart/mixed; boundary=batch_b642fc07-f867-44ad-b17e-4368a78dc15f",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Tue, 21 Dec 2021 23:56:09 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": "LS1tdWx0aXBhcnRfYm91bmRhcnkNCkNvbnRlbnQtVHlwZTogbXVsdGlwYXJ0L21pe[...]
    {
      "RequestUri": "https://pakrymtables3prim.table.cosmos.azure.com/testtablern9HZkYg(PartitionKey=\u0027PK\u0027,RowKey=\u0027RK\u0027)?$format=application%2Fjson%3Bodata%3Dminimalmetadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Tue, 21 Dec 2021 23:56:09 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "ETag": "W/\u0022datetime\u00272021-12-21T23%3A56%3A09.2710920Z\u0027\u0022"
      },
      "ResponseBody": {
        "odata.metadata": "https://pakrymtables3prim.table.cosmos.azure.com/testtablern9HZkYg/$metadata#testtablern9HZkYg/@Element",
        "odata.etag": "W/\u0022datetime\u00272021-12-21T23%3A56%3A09.2710920Z\u0027\u0022",
        "DatetimeTypeProperty@odata.type": "Edm.DateTime",
        "DatetimeTypeProperty": "1997-07-08T00:00:00.0000000Z",
        "DatetimeOffsetTypeProperty@odata.type": "Edm.DateTime",
        "DatetimeOffsetTypeProperty": "1997-07-08T00:00:00.0000000Z",
        "GuidTypeProperty@odata.type": "Edm.Guid",
        "GuidTypeProperty": "00000000-0000-0000-0000-000000000000",
        "Int64TypeProperty@odata.type": "Edm.Int64",
        "Int64TypeProperty": "0",
        "UInt64TypeProperty@odata.type": "Edm.Int64",
        "UInt64TypeProperty": "0",
        "DoubleTypeProperty": 0.0,
        "IntTypeProperty": 0,
        "PartitionKey": "PK",
        "RowKey": "RK",
        "Timestamp": "2021-12-21T23:56:09.2710920Z"
      }
    },
    {
      "RequestUri": "https://pakrymtables3prim.table.cosmos.azure.com/testtablern9HZkYg(PartitionKey=\u0027PK\u0027,RowKey=\u0027RK\u0027)?$format=application%2Fjson%3Bodata%3Dminimalmetadata",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "DataServiceVersion": "3.0",
        "If-Match": "W/\u0022datetime\u00272021-12-21T23%3A56%3A09.2710920Z\u0027\u0022",
        "X-HTTP-Method": "MERGE",
        "x-ms-date": "Tue, 21 Dec 2021 23:56:09 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "StringTypeProperty": null,
        "DatetimeTypeProperty": "1997-07-08T00:00:00.0000000Z",
        "DatetimeTypeProperty@odata.type": "Edm.DateTime",
        "DatetimeOffsetTypeProperty": "1997-07-08T00:00:00.0000000Z",
        "DatetimeOffsetTypeProperty@odata.type": "Edm.DateTime",
        "GuidTypeProperty": "00000000-0000-0000-0000-000000000000",
        "GuidTypeProperty@odata.type": "Edm.Guid",
        "BinaryTypeProperty": null,
        "Int64TypeProperty": "0",
        "Int64TypeProperty@odata.type": "Edm.Int64",
        "UInt64TypeProperty": "0",
        "UInt64TypeProperty@odata.type": "Edm.Int64",
        "DoubleTypeProperty": 0,
        "DoubleTypeProperty@odata.type": "Edm.Double",
        "IntTypeProperty": 0,
        "NullableDatetimeTypeProperty": null,
        "NullableDatetimeOffsetTypeProperty": null,
        "NullableGuidTypeProperty": null,
        "NullableInt64TypeProperty": null,
        "NullableUInt64TypeProperty": null,
        "NullableDoubleTypeProperty": null,
        "NullableIntTypeProperty": null,
        "PartitionKey": "PK",
        "RowKey": "RK"
      },
      "StatusCode": 204,
      "ResponseHeaders": {
        "ETag": "W/\u0022datetime\u00272021-12-21T23%3A56%3A09.3062152Z\u0027\u0022"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://pakrymtables3prim.table.cosmos.azure.com/Tables(\u0027testtablern9HZkYg\u0027)",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 21 Dec 2021 23:56:09 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "COSMOS_TABLES_ENDPOINT_SUFFIX": "cosmos.azure.com",
    "RandomSeed": "851800751",
    "TABLES_COSMOS_ACCOUNT_NAME": "pakrymtables3prim",
    "TABLES_PRIMARY_COSMOS_ACCOUNT_KEY": "Kg=="
  }
}
