{
  "Entries": [
    {
      "RequestUri": "https://atlas.microsoft.com/map/tile?api-version=2022-08-01\u0026tilesetId=microsoft.base.hybrid\u0026zoom=10\u0026x=88\u0026y=88\u0026language=",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-client-id": "86ff944f-d704-4f24-8af8-34f4a58ff4e0"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.mapbox-vector-tile",
        "Copyright": "2022 TomTom",
        "ETag": "W/\u002210266cbf25b2088a7c1478475d0e11fe\u0022",
        "x-ms-azuremaps-region": "West US 2"
      },
      "ResponseBody": "GgwKBUVNUFRZKIAgeAI="
    }
  ],
  "Variables": {
    "AZMAPS_CLIENT_ID": "86ff944f-d704-4f24-8af8-34f4a58ff4e0",
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com/",
    "RandomSeed": "1629206198"
  }
}
