{
  "Entries": [
    {
      "RequestUri": "https://atlas.microsoft.com/map/tileset?api-version=2022-08-01\u0026tilesetId=microsoft.imagery",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-client-id": "86ff944f-d704-4f24-8af8-34f4a58ff4e0"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-azuremaps-region": "West US 2"
      },
      "ResponseBody": {
        "tilejson": "2.2.0",
        "name": "microsoft.imagery",
        "version": "1.0.0",
        "attribution": "\u003Ca data-azure-maps-attribution-dynamic=\u0022true\u0022 data-azure-maps-attribution-tileset=\u0022microsoft.imagery\u0022\u003E\u0026copy;2022 Airbus/ Digital Globe/ Vexcel\u003C/a\u003E",
        "scheme": "xyz",
        "tiles": [
          "https://atlas.microsoft.com/map/tile?api-version=2.1\u0026tilesetId=microsoft.imagery\u0026zoom={z}\u0026x={x}\u0026y={y}\u0026tileSize=256"
        ],
        "grids": [],
        "data": [],
        "minzoom": 1,
        "maxzoom": 19,
        "bounds": [
          -180.0,
          -90.0,
          180.0,
          90.0
        ],
        "tileSize": "256"
      }
    }
  ],
  "Variables": {
    "AZMAPS_CLIENT_ID": "86ff944f-d704-4f24-8af8-34f4a58ff4e0",
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com/",
    "RandomSeed": "218707558"
  }
}
