{
  "Entries": [
    {
      "RequestUri": "/1273adef-00a3-4086-a51a-dbcce1857d36/applications?api-version=1.6",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"availableToOtherTenants\": false,\r\n  \"displayName\": \"adApplication5075\",\r\n  \"homepage\": \"http://adApplication5075/home\",\r\n  \"identifierUris\": [\r\n    \"http://adApplication5075/home\"\r\n  ],\r\n  \"replyUrls\": [\r\n    \"http://adApplication5075/home\"\r\n  ]\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Location": [
          "https://graph.windows.net/1273adef-00a3-4086-a51a-dbcce1857d36/directoryObjects/188a543f-db5f-4b0f-9aea-3c77ac618c4d/Microsoft.DirectoryServices.Application"
        ],
        "ocp-aad-diagnostics-server-name": [
          "Ww4JZ3phP63mdXQAX3Q+w5V7Po6AayFlRCSGeKGwhtg="
        ],
        "x-ms-dirapi-data-contract-version": [
          "1.6"
        ],
        "ocp-aad-session-key": [
          "vGQBO8j-JuuXn9azILkElwK5OtC6fZbKPRskJgVdAt3bSMJu141y3kSJJnfr6AQUJ9yEGoib0fOw8fP9vExxrPsC7yVZkCXcfrlp8vvEACpIfufzjrFQ0a5ZnZJcZY443Zd9CWXQtWR-sq0Q-tEXAQ.hQXi26y3J0Htnfd2EJYZZiEBRY65d1fWp0fhUgONIy0"
        ],
        "DataServiceVersion": [
          "3.0;"
        ],
        "Duration": [
          "1848431"
        ],
        "Content-Type": [
          "application/json; odata=minimalmetadata; streaming=true; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://graph.windows.net/1273adef-00a3-4086-a51a-dbcce1857d36/$metadata#directoryObjects/Microsoft.DirectoryServices.Application/@Element\",\r\n  \"odata.type\": \"Microsoft.DirectoryServices.Application\",\r\n  \"objectType\": \"Application\",\r\n  \"objectId\": \"188a543f-db5f-4b0f-9aea-3c77ac618c4d\",\r\n  \"deletionTimestamp\": null,\r\n  \"acceptMappedClaims\": null,\r\n  \"addIns\": [],\r\n  \"appId\": \"51e2118d-18a3-4fa4-abf5-6dedb034249e\",\r\n  \"appRoles\": [],\r\n  \"availableToOtherTenants\": false,\r\n  \"displayName\": \"adApplication5075\",\r\n  \"errorUrl\": null,\r\n  \"groupMembershipClaims\": null,\r\n  \"homepage\": \"http://adApplication5075/home\",\r\n  \"identifierUris\": [\r\n    \"http://adApplication5075/home\"\r\n  ],\r\n  \"informationalUrls\": {\r\n    \"termsOfService\": null,\r\n    \"support\": null,\r\n    \"privacy\": null,\r\n    \"marketing\": null\r\n  },\r\n  \"isDeviceOnlyAuthSupported\": null,\r\n  \"keyCredentials\": [],\r\n  \"knownClientApplications\": [],\r\n  \"logoutUrl\": null,\r\n  \"logo@odata.mediaContentType\": \"application/json;odata=minimalmetadata; charset=utf-8\",\r\n  \"logoUrl\": null,\r\n  \"oauth2AllowIdTokenImplicitFlow\": true,\r\n  \"oauth2AllowImplicitFlow\": false,\r\n  \"oauth2AllowUrlPathMatching\": false,\r\n  \"oauth2Permissions\": [\r\n    {\r\n      \"adminConsentDescription\": \"Allow the application to access adApplication5075 on behalf of the signed-in user.\",\r\n      \"adminConsentDisplayName\": \"Access adApplication5075\",\r\n      \"id\": \"4eb971cd-6297-4120-a708-d6c5626ee4d7\",\r\n      \"isEnabled\": true,\r\n      \"type\": \"User\",\r\n      \"userConsentDescription\": \"Allow the application to access adApplication5075 on your behalf.\",\r\n      \"userConsentDisplayName\": \"Access adApplication5075\",\r\n      \"value\": \"user_impersonation\"\r\n    }\r\n  ],\r\n  \"oauth2RequirePostResponse\": false,\r\n  \"optionalClaims\": null,\r\n  \"orgRestrictions\": [],\r\n  \"parentalControlSettings\": {\r\n    \"countriesBlockedForMinors\": [],\r\n    \"legalAgeGroupRule\": \"Allow\"\r\n  },\r\n  \"passwordCredentials\": [],\r\n  \"publicClient\": null,\r\n  \"publisherDomain\": null,\r\n  \"recordConsentConditions\": null,\r\n  \"replyUrls\": [\r\n    \"http://adApplication5075/home\"\r\n  ],\r\n  \"requiredResourceAccess\": [],\r\n  \"samlMetadataUrl\": null,\r\n  \"signInAudience\": \"AzureADMyOrg\",\r\n  \"tokenEncryptionKeyId\": null\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/1273adef-00a3-4086-a51a-dbcce1857d36/applications/188a543f-db5f-4b0f-9aea-3c77ac618c4d/keyCredentials?api-version=1.6",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "ocp-aad-diagnostics-server-name": [
          "zZ1f4XOAaTeupg8OmIBOPbaDV65tJpuytfDxxeFsj0o="
        ],
        "x-ms-dirapi-data-contract-version": [
          "1.6"
        ],
        "ocp-aad-session-key": [
          "4Spji4XacMEtLZiSpo_rSj6fJ8qlE8OoAyKHKLoXPpKFOdGhIfw2xBgG71FfmWHOWrUS4kyv7Klayt6NfCtzDpbl0eM9l9JE5Qi_DXkVoBEvygcOiO1eAfYo_7g0dLn9JkjQ7iA_QWfGU_85t4B2Jg.S3ycKSl9NRkZZRnFP5eoXvDEc6N3w-cYineH4riFOvI"
        ],
        "DataServiceVersion": [
          "3.0;"
        ],
        "Duration": [
          "1750758"
        ],
        "Content-Type": [
          "application/json; odata=minimalmetadata; streaming=true; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://graph.windows.net/1273adef-00a3-4086-a51a-dbcce1857d36/$metadata#Collection(Microsoft.DirectoryServices.KeyCredential)\",\r\n  \"value\": []\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/1273adef-00a3-4086-a51a-dbcce1857d36/applications/188a543f-db5f-4b0f-9aea-3c77ac618c4d/keyCredentials?api-version=1.6",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "ocp-aad-diagnostics-server-name": [
          "P277HeLOcMoYADlOIgX/5nDH/EQ2eMVFV4LkO8IWIBk="
        ],
        "x-ms-dirapi-data-contract-version": [
          "1.6"
        ],
        "ocp-aad-session-key": [
          "XNtu8hxHVXv6cG4pjzPCrH6UjaTR8MKSCdlLZvGO2EpHG8W3Tr7d9pP9VFx0Psff0im2C9NhqLOKygQc9i2GOlwQBqyixXP5ISikhiBOVG7fL7M4dd-TdcZuBTV9x-ihenha1ECDnQEYdRks1Sp_ig.rGTkWkI1hR-SE4010tZe6ErUCgTQ9kXi_o6yb7h2oQc"
        ],
        "DataServiceVersion": [
          "3.0;"
        ],
        "Duration": [
          "1295051"
        ],
        "Content-Type": [
          "application/json; odata=minimalmetadata; streaming=true; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://graph.windows.net/1273adef-00a3-4086-a51a-dbcce1857d36/$metadata#Collection(Microsoft.DirectoryServices.KeyCredential)\",\r\n  \"value\": [\r\n    {\r\n      \"customKeyIdentifier\": \"0DD6EA212E11DB7310BE092A0903C0B040775470\",\r\n      \"endDate\": \"2019-09-28T19:34:56.2391079Z\",\r\n      \"keyId\": \"8e7911c6-f9ff-46d2-9124-76ffb307cadc\",\r\n      \"startDate\": \"2018-09-28T19:34:56.238904Z\",\r\n      \"type\": \"AsymmetricX509Cert\",\r\n      \"usage\": \"Verify\",\r\n      \"value\": null\r\n    }\r\n  ]\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/1273adef-00a3-4086-a51a-dbcce1857d36/applications/188a543f-db5f-4b0f-9aea-3c77ac618c4d/passwordCredentials?api-version=1.6",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "ocp-aad-diagnostics-server-name": [
          "zZ1f4XOAaTeupg8OmIBOPbaDV65tJpuytfDxxeFsj0o="
        ],
        "x-ms-dirapi-data-contract-version": [
          "1.6"
        ],
        "ocp-aad-session-key": [
          "PjTPMaZIspcwVquTN2aIA_zud1h7L5Vbgl7h0yu8kVRDE7vHbT4nQFEnD4Z-O1DoIzXwcXeXW3EknnY1shSr5jI1hWHuoryoRl-XHm31_CrFT-4a3QSG5qeZ1DCnzwCJhaUTgGR9g5wMs_A6q-bsug.hLtiO16oDH1fV6pmQtX9lXgwJkVSPHRFGxxqCV6Xv8U"
        ],
        "DataServiceVersion": [
          "3.0;"
        ],
        "Duration": [
          "774125"
        ],
        "Content-Type": [
          "application/json; odata=minimalmetadata; streaming=true; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://graph.windows.net/1273adef-00a3-4086-a51a-dbcce1857d36/$metadata#Collection(Microsoft.DirectoryServices.PasswordCredential)\",\r\n  \"value\": []\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/1273adef-00a3-4086-a51a-dbcce1857d36/applications/188a543f-db5f-4b0f-9aea-3c77ac618c4d?api-version=1.6",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "ocp-aad-diagnostics-server-name": [
          "zZ1f4XOAaTeupg8OmIBOPbaDV65tJpuytfDxxeFsj0o="
        ],
        "x-ms-dirapi-data-contract-version": [
          "1.6"
        ],
        "ocp-aad-session-key": [
          "Xg4BPWsBRECsqmxNqZWTnZ2BpLguC1Uog45TEGN5eTY5KEpFLMW6NJsXTdzjUD-Ezqv7cwLA1ZRRsO6J4SS8PFLXpOqJjt3sw2Wjsrf_Qs9yhsAl02Oy5WMPTlRvN7Xbm78CVoSBvaLjmKjpBu74Kg.fNfOfI4LUzHmat2a2ayRg1Lpfy7d86LZw1jbVFU5uKA"
        ],
        "DataServiceVersion": [
          "1.0;"
        ],
        "Duration": [
          "34228025"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 204
    }
  ],
  "Names": {
    "CreateApplication": [
      "adApplication5075"
    ]
  },
  "Variables": {
    "SubscriptionId": "4004a9fd-d58e-48dc-aeb2-4a4aec58606f",
    "TenantId": "1273adef-00a3-4086-a51a-dbcce1857d36",
    "Domain": "rbacclitest.onmicrosoft.com"
  }
}