{
  "Entries": [
    {
      "RequestUri": "/subscriptions/7d2ab4e8-7801-4503-bafa-4cb1e7bddef7/providers?api-version=2015-11-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/7d2ab4e8-7801-4503-bafa-4cb1e7bddef7/providers/Microsoft.Advisor\",\r\n      \"namespace\": \"Microsoft.Advisor\",\r\n      \"authorization\": {\r\n        \"applicationId\": \"c39c9bac-9d1f-4dfb-aa29-27f6365e5cb7\",\r\n        \"roleDefinitionId\": \"8a63b04c-3731-409b-9765-f1175c047872\"\r\n      },\r\n      \"resourceTypes\": [\r\n        {\r\n          \"resourceType\": \"suppressions\",\r\n          \"locations\": [],\r\n          \"apiVersions\": [\r\n            \"2017-04-19\",\r\n            \"2017-03-31\",\r\n            \"2016-07-12-preview\",\r\n            \"2016-05-09-preview\"\r\n          ]\r\n        },\r\n        {\r\n          \"resourceType\": \"configurations\",\r\n          \"locations\": [],\r\n          \"apiVersions\": [\r\n            \"2017-04-19\",\r\n            \"2017-03-31\"\r\n          ]\r\n        },\r\n        {\r\n          \"resourceType\": \"recommendations\",\r\n          \"locations\": [],\r\n          \"apiVersions\": [\r\n            \"2017-04-19\",\r\n            \"2017-03-31\",\r\n            \"2016-07-12-preview\",\r\n            \"2016-05-09-preview\"\r\n          ]\r\n        },\r\n        {\r\n          \"resourceType\": \"generateRecommendations\",\r\n          \"locations\": [],\r\n          \"apiVersions\": [\r\n            \"2017-04-19\",\r\n            \"2017-03-31\",\r\n            \"2016-07-12-preview\",\r\n            \"2016-05-09-preview\"\r\n          ]\r\n        },\r\n        {\r\n          \"resourceType\": \"operations\",\r\n          \"locations\": [],\r\n          \"apiVersions\": [\r\n            \"2017-04-19\",\r\n            \"2017-03-31\",\r\n            \"2016-07-12-preview\",\r\n            \"2016-05-09-preview\"\r\n          ]\r\n        }\r\n      ],\r\n      \"registrationState\": \"Registered\"\r\n    },\r\n    {\r\n      \"id\": \"/subscriptions/7d2ab4e8-7801-4503-bafa-4cb1e7bddef7/providers/Microsoft.Batch\",\r\n      \"namespace\": \"Microsoft.Batch\",\r\n      \"authorization\": {\r\n        \"applicationId\": \"ddbf3205-c6bd-46ae-8127-60eb93363864\",\r\n        \"roleDefinitionId\": \"b7f84953-1d03-4eab-9ea4-45f065258ff8\"\r\n      },\r\n      \"resourceTypes\": [\r\n        {\r\n          \"resourceType\": \"batchAccounts\",\r\n          \"locations\": [\r\n      [...]
    {
      "RequestUri": "/subscriptions/7d2ab4e8-7801-4503-bafa-4cb1e7bddef7/resourcegroups/rg6750?api-version=2015-11-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"West US 2\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/7d2ab4e8-7801-4503-bafa-4cb1e7bddef7/resourceGroups/rg6750\",\r\n  \"name\": \"rg6750\",\r\n  \"location\": \"westus2\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1182"
        ]
      },
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/7d2ab4e8-7801-4503-bafa-4cb1e7bddef7/resourceGroups/rg6750/providers/Microsoft.Media/mediaservices?api-version=2018-06-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"value\": []\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14955"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/7d2ab4e8-7801-4503-bafa-4cb1e7bddef7/resourceGroups/rg6750/providers/Microsoft.Media/mediaservices?api-version=2018-06-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"name\": \"media973\",\r\n      \"id\": \"/subscriptions/7d2ab4e8-7801-4503-bafa-4cb1e7bddef7/resourceGroups/rg6750/providers/Microsoft.Media/mediaservices/media973\",\r\n      \"type\": \"Microsoft.Media/mediaservices\",\r\n      \"location\": \"West US 2\",\r\n      \"tags\": {\r\n        \"key1\": \"value1\",\r\n        \"key2\": \"value2\"\r\n      },\r\n      \"properties\": {\r\n        \"mediaServiceId\": \"76df6a56-6605-4c85-9e28-480b0360212e\",\r\n        \"storageAccounts\": [\r\n          {\r\n            \"id\": \"/subscriptions/7d2ab4e8-7801-4503-bafa-4cb1e7bddef7/resourceGroups/rg6750/providers/Microsoft.Storage/storageAccounts/sto9108\",\r\n            \"type\": \"Primary\"\r\n          }\r\n        ]\r\n      }\r\n    }\r\n  ]\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; odata.metadata=minimal; odata.streaming=true"
        ],
        "OData-Version": [
          "4.0"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14953"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/7d2ab4e8-7801-4503-bafa-4cb1e7bddef7/resourceGroups/rg6750/providers/Microsoft.Storage/storageAccounts/sto9108?api-version=2016-01-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"sku\": {\r\n    \"name\": \"Standard_GRS\"\r\n  },\r\n  \"kind\": \"Storage\",\r\n  \"location\": \"West US 2\",\r\n  \"tags\": {\r\n    \"key1\": \"value1\",\r\n    \"key2\": \"value2\"\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "Content-Type": [
          "text/plain; charset=utf-8"
        ],
        "Location": [
          "https://brazilus.management.azure.com/subscriptions/7d2ab4e8-7801-4503-bafa-4cb1e7bddef7/providers/Microsoft.Storage/locations/westus2/asyncoperations/eb5b6504-921b-4fd1-877b-38e00422c937?monitor=true&api-version=2016-01-01"
        ],
        "Retry-After": [
          "17"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1186"
        ]
      },
      "StatusCode": 202
    },
    {
      "RequestUri": "/subscriptions/7d2ab4e8-7801-4503-bafa-4cb1e7bddef7/providers/Microsoft.Storage/locations/westus2/asyncoperations/eb5b6504-921b-4fd1-877b-38e00422c937?monitor=true&api-version=2016-01-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"sku\": {\r\n    \"name\": \"Standard_GRS\",\r\n    \"tier\": \"Standard\"\r\n  },\r\n  \"kind\": \"Storage\",\r\n  \"id\": \"/subscriptions/7d2ab4e8-7801-4503-bafa-4cb1e7bddef7/resourceGroups/rg6750/providers/Microsoft.Storage/storageAccounts/sto9108\",\r\n  \"name\": \"sto9108\",\r\n  \"type\": \"Microsoft.Storage/storageAccounts\",\r\n  \"location\": \"westus2\",\r\n  \"tags\": {\r\n    \"key1\": \"value1\",\r\n    \"key2\": \"value2\"\r\n  },\r\n  \"properties\": {\r\n    \"encryption\": {\r\n      \"services\": {\r\n        \"blob\": {\r\n          \"enabled\": true,\r\n          \"lastEnabledTime\": \"2018-06-20T17:22:19.6849853Z\"\r\n        }\r\n      },\r\n      \"keySource\": \"Microsoft.Storage\"\r\n    },\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"creationTime\": \"2018-06-20T17:22:19.6068386Z\",\r\n    \"primaryEndpoints\": {\r\n      \"blob\": \"https://sto9108.blob.core.windows.net/\",\r\n      \"queue\": \"https://sto9108.queue.core.windows.net/\",\r\n      \"table\": \"https://sto9108.table.core.windows.net/\",\r\n      \"file\": \"https://sto9108.file.core.windows.net/\"\r\n    },\r\n    \"primaryLocation\": \"westus2\",\r\n    \"statusOfPrimary\": \"available\",\r\n    \"secondaryLocation\": \"westcentralus\",\r\n    \"statusOfSecondary\": \"available\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14954"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/7d2ab4e8-7801-4503-bafa-4cb1e7bddef7/providers/Microsoft.Media/locations/westus2/checkNameAvailability?api-version=2018-06-01-preview",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"name\": \"media973\",\r\n  \"type\": \"Microsoft.Media/MediaServices\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"nameAvailable\": true\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; odata.metadata=minimal"
        ],
        "OData-Version": [
          "4.0"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1185"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/7d2ab4e8-7801-4503-bafa-4cb1e7bddef7/providers/Microsoft.Media/locations/westus2/checkNameAvailability?api-version=2018-06-01-preview",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"name\": \"media973\",\r\n  \"type\": \"Microsoft.Media/MediaServices\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"nameAvailable\": false,\r\n  \"reason\": \"AlreadyExists\",\r\n  \"message\": \"Already in use by another Media Service account. Please try again with a name that is not likely to be in use.\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; odata.metadata=minimal"
        ],
        "OData-Version": [
          "4.0"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1183"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/7d2ab4e8-7801-4503-bafa-4cb1e7bddef7/resourceGroups/rg6750/providers/Microsoft.Media/mediaservices/media973?api-version=2018-06-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"storageAccounts\": [\r\n      {\r\n        \"id\": \"/subscriptions/7d2ab4e8-7801-4503-bafa-4cb1e7bddef7/resourceGroups/rg6750/providers/Microsoft.Storage/storageAccounts/sto9108\",\r\n        \"type\": \"Primary\"\r\n      }\r\n  [...]
[...]
    {
      "RequestUri": "/subscriptions/7d2ab4e8-7801-4503-bafa-4cb1e7bddef7/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1SRzY3NTAtV0VTVFVTMiIsImpvYkxvY2F0aW9uIjoid2VzdHVzMiJ9?api-version=2015-11-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "Location": [
          "https://brazilus.management.azure.com/subscriptions/7d2ab4e8-7801-4503-bafa-4cb1e7bddef7/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1SRzY3NTAtV0VTVFVTMiIsImpvYkxvY2F0aW9uIjoid2VzdHVzMiJ9?api-version=2015-11-01"
        ],
        "Retry-After": [
          "15"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14932"
        ]
      },
      "StatusCode": 202
    },
[...]
    {
      "RequestUri": "/subscriptions/7d2ab4e8-7801-4503-bafa-4cb1e7bddef7/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1SRzY3NTAtV0VTVFVTMiIsImpvYkxvY2F0aW9uIjoid2VzdHVzMiJ9?api-version=2015-11-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14925"
        ]
      },
      "StatusCode": 200
    }
  ],
  "Names": {
    "CreateResourceGroup": [
      "rg6750"
    ],
    "CreateStorageAccount": [
      "sto9108"
    ],
    "MediaServiceCheckNameAvailabiltyTest": [
      "media973"
    ]
  },
  "Variables": {
    "SubscriptionId": "7d2ab4e8-7801-4503-bafa-4cb1e7bddef7"
  }
}