{
  "Entries": [
    {
      "RequestUri": "https://sr-playground.servicebus.windows.net/$schemagroups/miyanni_srgroup/schemas/test1?api-version=2017-04",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "X-Schema-Type": "avro"
      },
      "RequestBody": "\r\n{\r\n   \u0022type\u0022 : \u0022record\u0022,\r\n    \u0022namespace\u0022 : \u0022TestSchema\u0022,\r\n    \u0022name\u0022 : \u0022Employee\u0022,\r\n    \u0022fields\u0022 : [\r\n    { \u0022name\u0022 : \u0022Name\u0022 , \u0022type\u0022 : \u0022string\u0022 },\r\n    { \u0022name\u0022 : \u0022Age\u0022, \u0022type\u0022 : \u0022int\u0022 }\r\n    ]\r\n}",
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "Location": "https://sr-playground.servicebus.windows.net/$schemagroups/miyanni_srgroup/schemas/test1/versions/1?api-version=2017-04",
        "X-Schema-Id": "0e30eb5c747e496cbedd94918fe36fd6",
        "X-Schema-Id-Location": "https://sr-playground.servicebus.windows.net:443/$schemagroups/getschemabyid/0e30eb5c747e496cbedd94918fe36fd6?api-version=2017-04",
        "X-Schema-Type": "Avro",
        "X-Schema-Version": "1",
        "X-Schema-Versions-Location": "https://sr-playground.servicebus.windows.net:443/$schemagroups/miyanni_srgroup/schemas/test1/versions?api-version=2017-04"
      },
      "ResponseBody": {
        "id": "0e30eb5c747e496cbedd94918fe36fd6"
      }
    },
    {
      "RequestUri": "https://sr-playground.servicebus.windows.net/$schemagroups/getSchemaById/0e30eb5c747e496cbedd94918fe36fd6?api-version=2017-04",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "Location": "https://sr-playground.servicebus.windows.net/$schemagroups/miyanni_srgroup/schemas/test1/versions/1[...]
