{
  "Entries": [
    {
      "RequestUri": "https://sr-playground.servicebus.windows.net/$schemagroups/miyanni_srgroup/schemas/test1?api-version=2017-04",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "X-Schema-Type": "avro"
      },
      "RequestBody": "\u0022{\\u0022type\\u0022 : \\u0022record\\u0022,\\u0022namespace\\u0022 : \\u0022TestSchema\\u0022,\\u0022name\\u0022 : \\u0022Employee\\u0022,\\u0022fields\\u0022 : [{ \\u0022name\\u0022 : \\u0022Name\\u0022 , \\u0022type\\u0022 : \\u0022string\\u0022 },{ \\u0022name\\u0022 : \\u0022Age\\u0022, \\u0022type\\u0022 : \\u0022int\\u0022 }]}\u0022",
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "Location": "https://sr-playground.servicebus.windows.net/$schemagroups/miyanni_srgroup/schemas/test1/versions/24?api-version=2017-04",
        "X-Schema-Id": "19ce9e525b5b410fa34ee4d0c2977ede",
        "X-Schema-Id-Location": "https://sr-playground.servicebus.windows.net:443/$schemagroups/getschemabyid/19ce9e525b5b410fa34ee4d0c2977ede?api-version=2017-04",
        "X-Schema-Type": "Avro",
        "X-Schema-Version": "24",
        "X-Schema-Versions-Location": "https://sr-playground.servicebus.windows.net:443/$schemagroups/miyanni_srgroup/schemas/test1/versions?api-version=2017-04"
      },
      "ResponseBody": {
        "id": "19ce9e525b5b410fa34ee4d0c2977ede"
      }
    },
    {
      "RequestUri": "https://sr-playground.servicebus.windows.net/$schemagroups/getSchemaById/19ce9e525b5b410fa34ee4d0c2977ede?api-version=2017-04",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "Location": "https://sr-playground.servicebus.windows.net/$schemagroups/miyanni_srgroup/schemas/test1/versions/24?api-version=2017-04",
        "X-Schema-Id": "19ce9e525b5b410fa34ee4d0c2977ede",
        "X-Schema-Id-Location": "https://sr-playground.servicebus.windows.net:443/$schemagroups/getschemabyid/19ce9e525b5b410fa34ee4d0c2977ede?api-version=2017-04",
        "X-Schema-Type": "Avro",
        "X-Schema-Version": "24",
        "X-Schema-Versions-Location": "https://sr-playground.servicebus.windows.net:443/$schemagroups/miyanni_srgroup/schemas/test1/versions?api-version=2017-04"
      },
      "ResponseBody": "\u0022{\\\u0022type\\\u0022 : \\\u0022record\\\u0022,\\\u0022namespace\\\u0022 : \\\u0022TestSchema\\\u0022,\\\u0022name\\\u0022 : \\\u0022Employee\\\u0022,\\\u0022fields\\\u0022 : [{ \\\u0022name\\\u0022 : \\\u0022Name\\\u0022 , \\\u0022type\\\u0022 : \\\u0022string\\\u0022 },{ \\\u0022name\\\u0022 : \\\u0022Age\\\u0022, \\\u0022type\\\u0022 : \\\u0022int\\\u0022 }]}\u0022"
    }
  ],
  "Variables": {
    "RandomSeed": "1446263238",
    "SCHEMAREGISTRY_URL": "sr-playground.servicebus.windows.net"
  }
}