{
  "Entries": [
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/504062085?api-version=7.2",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://managedhsm.azure.net\u0022",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/504062085?api-version=7.2",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "key": {
          "kty": "oct",
          "key_ops": [
            "encrypt",
            "decrypt",
            "wrapKey",
            "unwrapKey"
          ],
          "k": "pBZVALPctDgu2eVdVrBgNQlZ2-cIIN8mT0JDMENMD28"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "235"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1613812027,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 90,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "updated": 1613812027
        },
        "key": {
          "key_ops": [
            "encrypt",
            "decrypt",
            "unwrapKey",
            "wrapKey"
          ],
          "kid": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/504062085/7bb20adc5d2a43e5394c60165bc74f75",
          "kty": "oct-HSM"
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/504062085/7bb20adc5d2a43e5394c60165bc74f75/encrypt?api-version=7.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "A256GCM",
        "value": "UmRHtz8FpJUN1VoZn1YNiC1OKQXi3lzFBfEzYQlmj2k"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "106"
      },
      "ResponseBody": {
        "alg": "A256GCM",
        "iv": "vhLxAdilvF7hlPrKAAAAAA",
        "kid": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/504062085/7bb20adc5d2a43e5394c60165bc74f75",
        "tag": "ICnWqK4yARaJBMqL4sIExw",
        "value": "5GAYCnWfYEeJW8Ur9hRVWb0sa6jVuIwy0ZkfRqmw2s8"
      }
    },
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/504062085/7bb20adc5d2a43e5394c60165bc74f75/decrypt?api-version=7.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "A256GCM",
        "value": "5GAYCnWfYEeJW8Ur9hRVWb0sa6jVuIwy0ZkfRqmw2s8",
        "iv": "vhLxAdilvF7hlPrKAAAAAA",
        "tag": "ICnWqK4yARaJBMqL4sIExw"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": {
        "alg": "A256GCM",
        "kid": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/504062085/7bb20adc5d2a43e5394c60165bc74f75",
        "value": "UmRHtz8FpJUN1VoZn1YNiC1OKQXi3lzFBfEzYQlmj2k"
      }
    }
  ],
  "Variables": {
    "AZURE_MANAGEDHSM_URL": "https://heathskeyvaulthsm.managedhsm.azure.net/",
    "RandomSeed": "1050770362"
  }
}