{
  "Entries": [
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/1236934845?api-version=7.2",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://managedhsm.azure.net\u0022",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/1236934845?api-version=7.2",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "key": {
          "kty": "oct",
          "key_ops": [
            "encrypt",
            "decrypt",
            "wrapKey",
            "unwrapKey"
          ],
          "k": "pBZVALPctDgu2eVdVrBgNQlZ2-cIIN8mT0JDMENMD28"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "249"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1613812189,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 90,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "updated": 1613812189
        },
        "key": {
          "key_ops": [
            "encrypt",
            "decrypt",
            "unwrapKey",
            "wrapKey"
          ],
          "kid": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/1236934845/2fd7f8f23b11429e9219ae61ecf54704",
          "kty": "oct-HSM"
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/1236934845/2fd7f8f23b11429e9219ae61ecf54704/encrypt?api-version=7.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "A256GCM",
        "value": "I-QQri-WwOIZ4engbDKfgii4GBeerHmwXTrPDOEFDm4"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "125"
      },
      "ResponseBody": {
        "alg": "A256GCM",
        "iv": "0e2U-vOav0OhkpLbAAAAAA",
        "kid": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/1236934845/2fd7f8f23b11429e9219ae61ecf54704",
        "tag": "Fk2Bed-fPdDnR3ywMc0Bsg",
        "value": "eRphGh6TqW_jI2VKD6bWdJdaEEpjSRXhqJmI-d9QUQc"
      }
    },
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/1236934845/2fd7f8f23b11429e9219ae61ecf54704/decrypt?api-version=7.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "A256GCM",
        "value": "eRphGh6TqW_jI2VKD6bWdJdaEEpjSRXhqJmI-d9QUQc",
        "iv": "0e2U-vOav0OhkpLbAAAAAA",
        "tag": "Fk2Bed-fPdDnR3ywMc0Bsg"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": {
        "alg": "A256GCM",
        "kid": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/1236934845/2fd7f8f23b11429e9219ae61ecf54704",
        "value": "I-QQri-WwOIZ4engbDKfgii4GBeerHmwXTrPDOEFDm4"
      }
    }
  ],
  "Variables": {
    "AZURE_MANAGEDHSM_URL": "https://heathskeyvaulthsm.managedhsm.azure.net/",
    "RandomSeed": "579981388"
  }
}