{
  "Entries": [
    {
      "RequestUri": "https://heathskvtesthsm.managedhsm.azure.net/keys/1236934845?api-version=7.3-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://managedhsm.azure.net\u0022",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://heathskvtesthsm.managedhsm.azure.net/keys/1236934845?api-version=7.3-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "key": {
          "kty": "oct",
          "key_ops": [
            "encrypt",
            "decrypt",
            "wrapKey",
            "unwrapKey"
          ],
          "k": "pBZVALPctDgu2eVdVrBgNQlZ2-cIIN8mT0JDMENMD28"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "238"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1626299880,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 90,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "updated": 1626299880
        },
        "key": {
          "key_ops": [
            "encrypt",
            "decrypt",
            "unwrapKey",
            "wrapKey"
          ],
          "kid": "https://heathskvtesthsm.managedhsm.azure.net/keys/1236934845/26671ec439db478d2c954b25d5bef71b",
          "kty": "oct-HSM"
        }
      }
    },
    {
      "RequestUri": "https://heathskvtesthsm.managedhsm.azure.net/keys/1236934845/26671ec439db478d2c954b25d5bef71b/encrypt?api-version=7.3-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "A256GCM",
        "value": "I-QQri-WwOIZ4engbDKfgii4GBeerHmwXTrPDOEFDm4"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "100"
      },
      "ResponseBody": {
        "alg": "A256GCM",
        "iv": "f0Yp0ecfRk0QrZ9F",
        "kid": "https://heathskvtesthsm.managedhsm.azure.net/keys/1236934845/26671ec439db478d2c954b25d5bef71b",
        "tag": "1WW71cAqMSgfjkkvaYRgig",
        "value": "kmEIUfY2I327oYB8y0f3hadSznC-TKTfKxUrOcqqM80"
      }
    },
    {
      "RequestUri": "https://heathskvtesthsm.managedhsm.azure.net/keys/1236934845/26671ec439db478d2c954b25d5bef71b/decrypt?api-version=7.3-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "A256GCM",
        "value": "kmEIUfY2I327oYB8y0f3hadSznC-TKTfKxUrOcqqM80",
        "iv": "f0Yp0ecfRk0QrZ9F",
        "tag": "1WW71cAqMSgfjkkvaYRgig"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": {
        "alg": "A256GCM",
        "kid": "https://heathskvtesthsm.managedhsm.azure.net/keys/1236934845/26671ec439db478d2c954b25d5bef71b",
        "value": "I-QQri-WwOIZ4engbDKfgii4GBeerHmwXTrPDOEFDm4"
      }
    }
  ],
  "Variables": {
    "AZURE_MANAGEDHSM_URL": "https://heathskvtesthsm.managedhsm.azure.net/",
    "RandomSeed": "579981388"
  }
}