{
  "Entries": [
    {
      "RequestUri": "https://heathskvtesthsm.managedhsm.azure.net/keys/1898586083?api-version=7.3-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://managedhsm.azure.net\u0022",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://heathskvtesthsm.managedhsm.azure.net/keys/1898586083?api-version=7.3-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "key": {
          "kty": "oct",
          "key_ops": [
            "encrypt",
            "decrypt",
            "wrapKey",
            "unwrapKey"
          ],
          "k": "pBZVALPctDgu2eVdVrBgNQ"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "208"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1626299878,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 90,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "updated": 1626299878
        },
        "key": {
          "key_ops": [
            "encrypt",
            "decrypt",
            "unwrapKey",
            "wrapKey"
          ],
          "kid": "https://heathskvtesthsm.managedhsm.azure.net/keys/1898586083/31faffb81a0b44f12d64efc9f94e7f46",
          "kty": "oct-HSM"
        }
      }
    },
    {
      "RequestUri": "https://heathskvtesthsm.managedhsm.azure.net/keys/1898586083/31faffb81a0b44f12d64efc9f94e7f46/encrypt?api-version=7.3-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "A128GCM",
        "value": "OqY1KwrsAAw8uc42xq7NoV_yuMFXA28xjwNnHQ9r-Mo"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "95"
      },
      "ResponseBody": {
        "alg": "A128GCM",
        "iv": "7V05F1ogrNqYPAVn",
        "kid": "https://heathskvtesthsm.managedhsm.azure.net/keys/1898586083/31faffb81a0b44f12d64efc9f94e7f46",
        "tag": "c7qKIqGRLvHk9nO8SyC4PQ",
        "value": "fNzDuWy2WLa71Y8QaWlQVyYcI-bi1daFh7QuRiIG84Q"
      }
    },
    {
      "RequestUri": "https://heathskvtesthsm.managedhsm.azure.net/keys/1898586083/31faffb81a0b44f12d64efc9f94e7f46/decrypt?api-version=7.3-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "A128GCM",
        "value": "fNzDuWy2WLa71Y8QaWlQVyYcI-bi1daFh7QuRiIG84Q",
        "iv": "7V05F1ogrNqYPAVn",
        "tag": "c7qKIqGRLvHk9nO8SyC4PQ"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": {
        "alg": "A128GCM",
        "kid": "https://heathskvtesthsm.managedhsm.azure.net/keys/1898586083/31faffb81a0b44f12d64efc9f94e7f46",
        "value": "OqY1KwrsAAw8uc42xq7NoV_yuMFXA28xjwNnHQ9r-Mo"
      }
    }
  ],
  "Variables": {
    "AZURE_MANAGEDHSM_URL": "https://heathskvtesthsm.managedhsm.azure.net/",
    "RandomSeed": "287570114"
  }
}