{
  "Entries": [
    {
      "RequestUri": "https://heathskvtesthsm.managedhsm.azure.net/keys/1576464707?api-version=7.3-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://managedhsm.azure.net\u0022",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://heathskvtesthsm.managedhsm.azure.net/keys/1576464707?api-version=7.3-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "key": {
          "kty": "oct",
          "key_ops": [
            "encrypt",
            "decrypt",
            "wrapKey",
            "unwrapKey"
          ],
          "k": "pBZVALPctDgu2eVdVrBgNQlZ2-cIIN8m"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "248"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1626299775,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 90,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "updated": 1626299775
        },
        "key": {
          "key_ops": [
            "encrypt",
            "decrypt",
            "unwrapKey",
            "wrapKey"
          ],
          "kid": "https://heathskvtesthsm.managedhsm.azure.net/keys/1576464707/7e1b791c9f9307f2a0ae10b11b458925",
          "kty": "oct-HSM"
        }
      }
    },
    {
      "RequestUri": "https://heathskvtesthsm.managedhsm.azure.net/keys/1576464707/7e1b791c9f9307f2a0ae10b11b458925/encrypt?api-version=7.3-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "A192GCM",
        "value": "PkvI91J_abv9qXMxtnIrLnAGfBIiCf7tfMoy3fLApvo"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "110"
      },
      "ResponseBody": {
        "alg": "A192GCM",
        "iv": "4LywUztP6pwTRQbA",
        "kid": "https://heathskvtesthsm.managedhsm.azure.net/keys/1576464707/7e1b791c9f9307f2a0ae10b11b458925",
        "tag": "bLLybVz_tUG-1wTEwqspIA",
        "value": "SXoHobqcdGP_dQYe6mE15wjy3iq-9fOwsLhkQ157qu4"
      }
    },
    {
      "RequestUri": "https://heathskvtesthsm.managedhsm.azure.net/keys/1576464707/7e1b791c9f9307f2a0ae10b11b458925/decrypt?api-version=7.3-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "A192GCM",
        "value": "SXoHobqcdGP_dQYe6mE15wjy3iq-9fOwsLhkQ157qu4",
        "iv": "4LywUztP6pwTRQbA",
        "tag": "bLLybVz_tUG-1wTEwqspIA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": {
        "alg": "A192GCM",
        "kid": "https://heathskvtesthsm.managedhsm.azure.net/keys/1576464707/7e1b791c9f9307f2a0ae10b11b458925",
        "value": "PkvI91J_abv9qXMxtnIrLnAGfBIiCf7tfMoy3fLApvo"
      }
    }
  ],
  "Variables": {
    "AZURE_MANAGEDHSM_URL": "https://heathskvtesthsm.managedhsm.azure.net/",
    "RandomSeed": "1062346833"
  }
}