{
  "Entries": [
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/798360467?api-version=7.3",
      "RequestMethod": "PUT",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://managedhsm.azure.net\u0022",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/798360467?api-version=7.3",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "key": {
          "kty": "oct",
          "key_ops": [
            "encrypt",
            "decrypt",
            "wrapKey",
            "unwrapKey"
          ],
          "k": "pBZVALPctDgu2eVdVrBgNQlZ2-cIIN8m"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "203"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1648058426,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1648058426
        },
        "key": {
          "key_ops": [
            "encrypt",
            "decrypt",
            "unwrapKey",
            "wrapKey"
          ],
          "kid": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/798360467/535ca08254b30fd2850c954cdee62211",
          "kty": "oct-HSM"
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/798360467/535ca08254b30fd2850c954cdee62211/encrypt?api-version=7.3",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "A192GCM",
        "value": "h5I5r_umd1FdsEKAj34i39NLZnL6a7pre40GgM6v-AM"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "60"
      },
      "ResponseBody": {
        "alg": "A192GCM",
        "iv": "EYnguOsCe5WTczBn",
        "kid": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/798360467/535ca08254b30fd2850c954cdee62211",
        "tag": "McKsjPlcT8_mQbjKl6auPA",
        "value": "dUz_nRF-Yze8cS7BAoueApIqrqbDmT3diecMknB2L6o"
      }
    },
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/798360467/535ca08254b30fd2850c954cdee62211/decrypt?api-version=7.3",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "A192GCM",
        "value": "dUz_nRF-Yze8cS7BAoueApIqrqbDmT3diecMknB2L6o",
        "iv": "EYnguOsCe5WTczBn",
        "tag": "McKsjPlcT8_mQbjKl6auPA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": {
        "alg": "A192GCM",
        "kid": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/798360467/535ca08254b30fd2850c954cdee62211",
        "value": "h5I5r_umd1FdsEKAj34i39NLZnL6a7pre40GgM6v-AM"
      }
    }
  ],
  "Variables": {
    "AZURE_MANAGEDHSM_URL": "https://heathskeyvaulthsm.managedhsm.azure.net/",
    "RandomSeed": "875855316"
  }
}
