{
  "Entries": [
    {
      "RequestUri": "https://heathskvtesthsm.managedhsm.azure.net/keys/1746054147/create?api-version=7.3-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://managedhsm.azure.net\u0022",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://heathskvtesthsm.managedhsm.azure.net/keys/1746054147/create?api-version=7.3-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "oct",
        "key_size": 192
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "174"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1626299777,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 90,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "updated": 1626299777
        },
        "key": {
          "key_ops": [
            "wrapKey",
            "unwrapKey",
            "decrypt",
            "encrypt"
          ],
          "kid": "https://heathskvtesthsm.managedhsm.azure.net/keys/1746054147/08bf820ce5364492b2b0cc9d8fd73cdf",
          "kty": "oct-HSM"
        }
      }
    },
    {
      "RequestUri": "https://heathskvtesthsm.managedhsm.azure.net/keys/1746054147/08bf820ce5364492b2b0cc9d8fd73cdf/wrapKey?api-version=7.3-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "A192KW",
        "value": "rSggeXTIuLVuw4zdr1Ieg4dRbtIP_p0wDr4uVNIzgAQ"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "104"
      },
      "ResponseBody": {
        "alg": "A192KW",
        "kid": "https://heathskvtesthsm.managedhsm.azure.net/keys/1746054147/08bf820ce5364492b2b0cc9d8fd73cdf",
        "value": "nq9u3x3CiVOhgMreUItRbzZLhSy6QnxhSlpqDkOpbm5l8qqcwsa4JA"
      }
    },
    {
      "RequestUri": "https://heathskvtesthsm.managedhsm.azure.net/keys/1746054147/08bf820ce5364492b2b0cc9d8fd73cdf/unwrapKey?api-version=7.3-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "A192KW",
        "value": "nq9u3x3CiVOhgMreUItRbzZLhSy6QnxhSlpqDkOpbm5l8qqcwsa4JA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": {
        "alg": "A192KW",
        "kid": "https://heathskvtesthsm.managedhsm.azure.net/keys/1746054147/08bf820ce5364492b2b0cc9d8fd73cdf",
        "value": "rSggeXTIuLVuw4zdr1Ieg4dRbtIP_p0wDr4uVNIzgAQ"
      }
    }
  ],
  "Variables": {
    "AZURE_MANAGEDHSM_URL": "https://heathskvtesthsm.managedhsm.azure.net/",
    "RandomSeed": "626969971"
  }
}