{
  "Entries": [
    {
      "RequestUri": "https://heathskvtesthsm.managedhsm.azure.net/keys/1726678352/create?api-version=7.3-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://managedhsm.azure.net\u0022",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://heathskvtesthsm.managedhsm.azure.net/keys/1726678352/create?api-version=7.3-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "oct",
        "key_size": 256
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "180"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1626299778,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 90,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "updated": 1626299778
        },
        "key": {
          "key_ops": [
            "wrapKey",
            "unwrapKey",
            "decrypt",
            "encrypt"
          ],
          "kid": "https://heathskvtesthsm.managedhsm.azure.net/keys/1726678352/25d7d2a145e10bb4bd7233503292111a",
          "kty": "oct-HSM"
        }
      }
    },
    {
      "RequestUri": "https://heathskvtesthsm.managedhsm.azure.net/keys/1726678352/25d7d2a145e10bb4bd7233503292111a/wrapKey?api-version=7.3-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "A256KW",
        "value": "LPPBxvWDHwQccHr67OrjCNyggIh8wU9N0TMqkHfnT10"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "113"
      },
      "ResponseBody": {
        "alg": "A256KW",
        "kid": "https://heathskvtesthsm.managedhsm.azure.net/keys/1726678352/25d7d2a145e10bb4bd7233503292111a",
        "value": "sR9Yy2hclI8MMuCzCHnhJNrHE3mKi9_PLWZcNZHG8ywK6vCcvyrlmA"
      }
    },
    {
      "RequestUri": "https://heathskvtesthsm.managedhsm.azure.net/keys/1726678352/25d7d2a145e10bb4bd7233503292111a/unwrapKey?api-version=7.3-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "A256KW",
        "value": "sR9Yy2hclI8MMuCzCHnhJNrHE3mKi9_PLWZcNZHG8ywK6vCcvyrlmA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": {
        "alg": "A256KW",
        "kid": "https://heathskvtesthsm.managedhsm.azure.net/keys/1726678352/25d7d2a145e10bb4bd7233503292111a",
        "value": "LPPBxvWDHwQccHr67OrjCNyggIh8wU9N0TMqkHfnT10"
      }
    }
  ],
  "Variables": {
    "AZURE_MANAGEDHSM_URL": "https://heathskvtesthsm.managedhsm.azure.net/",
    "RandomSeed": "1301518134"
  }
}