{
  "Entries": [
    {
      "RequestUri": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/1959886305/create?api-version=7.4",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://managedhsm.azure.net\u0022",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/1959886305/create?api-version=7.4",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC",
        "crv": "P-384"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "269"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1679347243,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1679347243
        },
        "key": {
          "crv": "P-384",
          "key_ops": [
            "verify",
            "sign"
          ],
          "kid": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/1959886305/ddf24b22a7384dd892ce698257e23f1c",
          "kty": "EC-HSM",
          "x": "nUiL6g1XjBoAaGUbrjoEAllux9jsw_sQctEB9lpwkJeyhZWn5KtybHNu74U4Vzfk",
          "y": "K00aUk7HG7E9AYMkcl-dnTlnk3CEJDKpfghxgd_1hw2D8kTz0c7EUy0KH5GSJwL9"
        }
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/1959886305/ddf24b22a7384dd892ce698257e23f1c?api-version=7.4",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20230312-1-12e5b134-feb-lkg",
        "x-ms-server-latency": "30"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1679347243,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1679347243
        },
        "key": {
          "crv": "P-384",
          "key_ops": [
            "verify",
            "sign"
          ],
          "kid": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/1959886305/ddf24b22a7384dd892ce698257e23f1c",
          "kty": "EC-HSM",
          "x": "nUiL6g1XjBoAaGUbrjoEAllux9jsw_sQctEB9lpwkJeyhZWn5KtybHNu74U4Vzfk",
          "y": "K00aUk7HG7E9AYMkcl-dnTlnk3CEJDKpfghxgd_1hw2D8kTz0c7EUy0KH5GSJwL9"
        }
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/1959886305/ddf24b22a7384dd892ce698257e23f1c/sign?api-version=7.4",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES384",
        "value": "1f9nVpp7ygg84bIPWVl6XNe4vPyXwL5bN_apy_4445hY3foksKpInKoljE_oBt0C"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "12"
      },
      "ResponseBody": {
        "alg": "ES384",
        "kid": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/1959886305/ddf24b22a7384dd892ce698257e23f1c",
        "value": "T5_fm_HWlEfb4mog25x0SOfT8IdnnWkHB57phkDDbvVcbOS4VYsuq3T-qBk4WTiCuPonyVro8N3ZvczgNZu7GMk81e7Mkpnm8s4Xk6jSKLWCv0JHYZ6AXEF_TR3vrmoF"
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com/",
    "AZURE_MANAGEDHSM_URL": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/",
    "RandomSeed": "316354751"
  }
}
