{
  "Entries": [
    {
      "RequestUri": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/1878649416/create?api-version=7.4",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://managedhsm.azure.net\u0022",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/1878649416/create?api-version=7.4",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC",
        "crv": "P-521"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "464"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1679347235,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1679347235
        },
        "key": {
          "crv": "P-521",
          "key_ops": [
            "verify",
            "sign"
          ],
          "kid": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/1878649416/b177ab3d3536492aaa1042d0d0e290b3",
          "kty": "EC-HSM",
          "x": "AJLGJYs2XB9Wtgf-fA09vUjh3QlycIyVVTLDk79AaiMPFMTwCBHVqWRNja7XLvXp5S4TYPPyaIK0RABubfnOfrc1",
          "y": "AC7yhTACbTluOzHLaX8IcuLnpZvEvEl56EeczOidcBRMo8_4JTlx-Av6sF54kgZRghLEtO3EkArlfnfVAPMc8ybb"
        }
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/1878649416/b177ab3d3536492aaa1042d0d0e290b3?api-version=7.4",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20230312-1-12e5b134-feb-lkg",
        "x-ms-server-latency": "31"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1679347235,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1679347235
        },
        "key": {
          "crv": "P-521",
          "key_ops": [
            "verify",
            "sign"
          ],
          "kid": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/1878649416/b177ab3d3536492aaa1042d0d0e290b3",
          "kty": "EC-HSM",
          "x": "AJLGJYs2XB9Wtgf-fA09vUjh3QlycIyVVTLDk79AaiMPFMTwCBHVqWRNja7XLvXp5S4TYPPyaIK0RABubfnOfrc1",
          "y": "AC7yhTACbTluOzHLaX8IcuLnpZvEvEl56EeczOidcBRMo8_4JTlx-Av6sF54kgZRghLEtO3EkArlfnfVAPMc8ybb"
        }
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/1878649416/b177ab3d3536492aaa1042d0d0e290b3/sign?api-version=7.4",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES512",
        "value": "UN6JJ5l_H1uyu4FGSvFnITdF9d72SZ5LdQpMlMHBjOVvSdRSu1RCCQ-cV9iUvoXa73rGt2VceFGgTV2ypykpoQ"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "36"
      },
      "ResponseBody": {
        "alg": "ES512",
        "kid": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/1878649416/b177ab3d3536492aaa1042d0d0e290b3",
        "value": "AEEnW8PgLIKh-OGM7qEx-0o9srZo3fAnhLPXFMUfQiTAYoLxO-aSeNywaMhEImdSAciJWImWr3aeL49a2Qtou0koAJvHgS2Su18KwfzhgaT1uiMj3_pxLumxoGPeG4miu4n3DLoetFZMyzFuDI-oz4Fg2S47c-1JQ6CMZazGVQQJq5KP"
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com/",
    "AZURE_MANAGEDHSM_URL": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/",
    "RandomSeed": "57175103"
  }
}
