{
  "Entries": [
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/754229722/create?api-version=7.4-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://managedhsm.azure.net\u0022",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/754229722/create?api-version=7.4-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "OKP",
        "crv": "Ed25519"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "259"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1667431059,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1667431059
        },
        "key": {
          "crv": "Ed25519",
          "key_ops": [
            "verify",
            "sign"
          ],
          "kid": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/754229722/864817413d2e483a0c355dbbc7260e7f",
          "kty": "OKP-HSM",
          "x": "32XjFOK-syVhOlsCibydf1IeIbTwhMS4O9FqjPIWIMM"
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/754229722/864817413d2e483a0c355dbbc7260e7f?api-version=7.4-preview.1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20221020-1-945ffe56-develop",
        "x-ms-server-latency": "162"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1667431059,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1667431059
        },
        "key": {
          "crv": "Ed25519",
          "key_ops": [
            "verify",
            "sign"
          ],
          "kid": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/754229722/864817413d2e483a0c355dbbc7260e7f",
          "kty": "OKP-HSM",
          "x": "32XjFOK-syVhOlsCibydf1IeIbTwhMS4O9FqjPIWIMM"
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/754229722/864817413d2e483a0c355dbbc7260e7f/sign?api-version=7.4-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "EdDSA",
        "value": "WhTBzc9r4_qijJ2mkVntcu4xMEMCC5DkiY0tNRRNhEo"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "7"
      },
      "ResponseBody": {
        "alg": "EdDSA",
        "kid": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/754229722/864817413d2e483a0c355dbbc7260e7f",
        "value": "Waon594sLQVQ7f4gzqyaFfpVfRxDIIxa8j3LzQlpbEmhkJh4IoaH5VioBM_McHgLmF8E_Na4ePzGmB661yLvAA"
      }
    },
[...]
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/754229722/864817413d2e483a0c355dbbc7260e7f/verify?api-version=7.4-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "EdDSA",
        "digest": "WhTBzc9r4_qijJ2mkVntcu4xMEMCC5DkiY0tNRRNhEo",
        "value": "Waon594sLQVQ7f4gzqyaFfpVfRxDIIxa8j3LzQlpbEmhkJh4IoaH5VioBM_McHgLmF8E_Na4ePzGmB661yLvAA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "14"
      },
      "ResponseBody": {
        "alg": "EdDSA",
        "kid": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/754229722/864817413d2e483a0c355dbbc7260e7f",
        "value": true
      }
    },
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/754229722/864817413d2e483a0c355dbbc7260e7f/verify?api-version=7.4-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "EdDSA",
        "digest": "WhTBzc9r4_qijJ2mkVntcu4xMEMCC5DkiY0tNRRNhEo",
        "value": "Waon594sLQVQ7f4gzqyaFfpVfRxDIIxa8j3LzQlpbEmhkJh4IoaH5VioBM_McHgLmF8E_Na4ePzGmB661yLvAA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "13"
      },
      "ResponseBody": {
        "alg": "EdDSA",
        "kid": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/754229722/864817413d2e483a0c355dbbc7260e7f",
        "value": true
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com/",
    "AZURE_MANAGEDHSM_URL": "https://heathskeyvaulthsm.managedhsm.azure.net/",
    "RandomSeed": "1572849028"
  }
}
