{
  "Entries": [
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/12356445/create?api-version=7.3",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://managedhsm.azure.net\u0022",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/12356445/create?api-version=7.3",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "238"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1648058435,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1648058435
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/12356445/610373ce2397038803daac809006034f",
          "kty": "RSA-HSM",
          "n": "uPsbTWHhluKoaXEr01YLy1JAL3MJg6YCDfEXVcBIgT9I796sJtpsonV3aGNyJaaRE9iDtzKyG_zoyEMRDLbF4n5P2B6QvhKaNeeVYbofQnA2VyhHdJG6CScop2sCQwuQC7qHYs4F-yKRN-6Pw5_PljbE-WGzZd07hPD2jvGs_yn3jcemecRu2BDuBdgkzpzvmXH4OZYhOQGcV4Rro7ViRN820_BF8Zvkk00w-Ff6Gku01GSw1LBgJQcp-j2_R7x7H6HoSwAGPV7vXw4ZjDPQCwZmjeJoy1TMN43nT0Osnr9GcoVyIM_fL2vRLLJ-q_pBo2h74KGtBV0OnyCBFYDUCQ"
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/12356445/610373ce2397038803daac809006034f/encrypt?api-version=7.3",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RSA-OAEP-256",
        "value": "5DjMF0dKYnAleEcz7sLNY60nyf4Bbj3asTajeyOJJGE"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "87"
      },
      "ResponseBody": {
        "alg": "RSA-OAEP-256",
        "kid": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/12356445/610373ce2397038803daac809006034f",
        "value": "WKC2GFxGJVLFcKNswAla4V4AQ15735dP219jgMnE9FC7sY8rF0OUW5Ff3wQI2txyZJMf6XYPDueN9d0YgaOVOn1dlbXjq992m42O8R_ES47-VGwZ85DugSoHYCNN31NVhGR4nGiWHe36RQir95L1lTRRly1WC_9Dr20f0lMIapQXfbtWtR0OTPoCvnRD3tzMjMh7JXWNkG_dFnSuTJHKvgqRM_mEaXU5vXP2vxKprwrVMdN44hH8UY3S_iXkqtc24_FtMNfVN7L9vWM5QkwOCbJ-A9HSmo8lcvdneeOfxp8jsSTwXuA2Cx1dYh7M5xQJ9BNTFDc98vANL8kn1Jlscg"
      }
    },
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/12356445/610373ce2397038803daac809006034f/decrypt?api-version=7.3",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RSA-OAEP-256",
        "value": "WKC2GFxGJVLFcKNswAla4V4AQ15735dP219jgMnE9FC7sY8rF0OUW5Ff3wQI2txyZJMf6XYPDueN9d0YgaOVOn1dlbXjq992m42O8R_ES47-VGwZ85DugSoHYCNN31NVhGR4nGiWHe36RQir95L1lTRRly1WC_9Dr20f0lMIapQXfbtWtR0OTPoCvnRD3tzMjMh7JXWNkG_dFnSuTJHKvgqRM_mEaXU5vXP2vxKprwrVMdN44hH8UY3S_iXkqtc24_FtMNfVN7L9vWM5QkwOCbJ-A9HSmo8lcvdneeOfxp8jsSTwXuA2Cx1dYh7M5xQJ9BNTFDc98vANL8kn1Jlscg"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "2"
      },
      "ResponseBody": {
        "alg": "RSA-OAEP-256",
        "kid": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/12356445/610373ce2397038803daac809006034f",
        "value": "5DjMF0dKYnAleEcz7sLNY60nyf4Bbj3asTajeyOJJGE"
      }
    }
  ],
  "Variables": {
    "AZURE_MANAGEDHSM_URL": "https://heathskeyvaulthsm.managedhsm.azure.net/",
    "RandomSeed": "1205136082"
  }
}
