{
  "Entries": [
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/2078254641/create?api-version=7.3",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://managedhsm.azure.net\u0022",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/2078254641/create?api-version=7.3",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "216"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1648058124,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1648058124
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/2078254641/a256f5f0d2b90907b5109c25f7284bf9",
          "kty": "RSA-HSM",
          "n": "jWkUVihWScLj3AY8LqmcOHk9xcjsfbp8BHSc6UVtjziH2sP0fdYROY0prHpjUveO-ooRTFEgxkpF_TkwP182E734g92dBrrtidGV_5mlFAumvpuAeCfa8vUIUq-QNyBp7JbbK17TSpnKmx2s5aLxULljNnppGmVqVgVxs2hmEYq6W0MUCQAc6iQNFL_wSiB3HrSU6WQkj15cc9uWp0eWGDWCD0c_WFQ6slZiM9F-iy_Q8dcPKLAxDabgFREx47HkIYr2wZRT3ODqpju_2_Kgw-B0ygO8-E3RRqwJ0JcYRdqqPCMnsChdFCV44NW-0Aujf90czWtkmh6xdqptevVuLQ"
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/2078254641/a256f5f0d2b90907b5109c25f7284bf9/encrypt?api-version=7.3",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RSA1_5",
        "value": "o2NQOmhUt6PNP5MXwxZvl69RPhRcbjtlEwlVPQ6pEBw"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "91"
      },
      "ResponseBody": {
        "alg": "RSA1_5",
        "kid": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/2078254641/a256f5f0d2b90907b5109c25f7284bf9",
        "value": "W89sezwHRvS8HimPwsn-x3n9RmG8lI7bV9hBUzoxVQB1CNNPxCTRcx8DqfglDnSbPT_I9sAJpC5hrQE7RA8HWD7ddsh4vTrTqtZ_9y70x3n3V92eB3dL-nOym2NNsSya8hXC49Cu0Z_cTqL6R1aypptHOPl7Md9mUwFZsL_9xF8Xsg9l7B_PutTjM-DyWymBaJiy5Ha1MZdb_ynjGXHcQDEGhpiwuhq5FsuqDWc7K81xt87xEW2-Wvu6FifvCc-zGt7LxX2IqgDVFWADy5tvr1pjrcZjFujU1XdRC3O5mKcciYA6ghB6g2kxV8LETOb8arfnpViLEAHzBp_Kpu8BIg"
      }
    },
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/2078254641/a256f5f0d2b90907b5109c25f7284bf9/decrypt?api-version=7.3",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RSA1_5",
        "value": "W89sezwHRvS8HimPwsn-x3n9RmG8lI7bV9hBUzoxVQB1CNNPxCTRcx8DqfglDnSbPT_I9sAJpC5hrQE7RA8HWD7ddsh4vTrTqtZ_9y70x3n3V92eB3dL-nOym2NNsSya8hXC49Cu0Z_cTqL6R1aypptHOPl7Md9mUwFZsL_9xF8Xsg9l7B_PutTjM-DyWymBaJiy5Ha1MZdb_ynjGXHcQDEGhpiwuhq5FsuqDWc7K81xt87xEW2-Wvu6FifvCc-zGt7LxX2IqgDVFWADy5tvr1pjrcZjFujU1XdRC3O5mKcciYA6ghB6g2kxV8LETOb8arfnpViLEAHzBp_Kpu8BIg"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "2"
      },
      "ResponseBody": {
        "alg": "RSA1_5",
        "kid": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/2078254641/a256f5f0d2b90907b5109c25f7284bf9",
        "value": "o2NQOmhUt6PNP5MXwxZvl69RPhRcbjtlEwlVPQ6pEBw"
      }
    }
  ],
  "Variables": {
    "AZURE_MANAGEDHSM_URL": "https://heathskeyvaulthsm.managedhsm.azure.net/",
    "RandomSeed": "1089036057"
  }
}
