{
  "Entries": [
    {
      "RequestUri": "https://heathskvtesthsm.managedhsm.azure.net/keys/552776258/create?api-version=7.3-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://managedhsm.azure.net\u0022",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://heathskvtesthsm.managedhsm.azure.net/keys/552776258/create?api-version=7.3-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "231"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1626299890,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 90,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "updated": 1626299890
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://heathskvtesthsm.managedhsm.azure.net/keys/552776258/5adb66ff61d00445ad5dece9dbddb0df",
          "kty": "RSA-HSM",
          "n": "iHps5P4sBu-bB_blIi_HN5-_H04VrNjNG5GkWzmyce3GJXW1V_r-6atSn7knMdRztYQ2NPqtgjKctwLGg5aFRTgS7Vzs8MbfeE0ZTA6vlM82yHKJLRM6xQIiybxChFUprdN6q9ka9bvYSI9ZUwa4J7tPVbt24Xzm1m1yPApZkj10e8kbRQ4511hwT68Tm88USertwothHqPu2Y-eehmNqf_gOYBgmqAB3g8tRrng2WqKQdr-R4YPjx3R-PBMVjCAnSGIxrzPDJlk7S0JZtn2-qRdgdG3U9_Ftsq_Z1OA5zQ-s8uLX2jNfSEP75WshOuQezZpKGZg7dXflZ_mqgt4AQ"
        }
      }
    },
    {
      "RequestUri": "https://heathskvtesthsm.managedhsm.azure.net/keys/552776258/5adb66ff61d00445ad5dece9dbddb0df/decrypt?api-version=7.3-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RSA1_5",
        "value": "EWCSlYu0QH5H8Ki39zgN1-W5Csv1ZEW1kZQJAAZtZ5iEJ11bX0Axt8-8RYkIygSj0_GqQ3513PFbTjw4sj-hOvxMNDJNRETAdV4-1tjDOoK0KPfs-Eiq3bpbo3bNYy4QA9EXHr9-8zkmDMACeyCqPWXEySBe-9iQmcQY4Asc6r70A9pZw0920x7lF74NYNf8sdeYdJEw3OYSkph7CiTu-HUXGqL6bXvP_IElgyAyKtWZKjE6lp9VsgzU-PMiXZGdOcErccRPpX4w_GmHpArbVNSl3ckN6cPvO8GhCtLenc8ikey2ejFNGFXgZnwE0wp8xl_WvpzaTmRAG-DxGDDcQQ"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "136"
      },
      "ResponseBody": {
        "alg": "RSA1_5",
        "kid": "https://heathskvtesthsm.managedhsm.azure.net/keys/552776258/5adb66ff61d00445ad5dece9dbddb0df",
        "value": "_lm9TToVheUcbHjE86Itb65m1mNa2OBR7K74n9UX6wc"
      }
    }
  ],
  "Variables": {
    "AZURE_MANAGEDHSM_URL": "https://heathskvtesthsm.managedhsm.azure.net/",
    "RandomSeed": "536989334"
  }
}