{
  "Entries": [
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/98158167/create?api-version=7.3",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://managedhsm.azure.net\u0022",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/98158167/create?api-version=7.3",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "215"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1648058135,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1648058135
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/98158167/56c85958e5a608b09a94c41a6d0f93c1",
          "kty": "RSA-HSM",
          "n": "iGiSrcr0iqanRjtVxo7IiZ9CUDp54utOc6421-l0m4GaY0ODm58uO92S5u8t9c-diw9JyHPSOO9hUKTxR2cWIu94YsDJeZQ_1AB9-5IS19HzMVKZKBfK32Ootuyzt5baPt4O94Od6MIRuBfg0GaLR02m4Q5Vbmr8WbKmuUyGm7S4OJKQ_pGo4HZDjcqKsJcLLE8D0-GQdttPNgMc0sMTA1qH0r7S29MSnmDNH2rl6HUIvPLHH1T271XsUyexKEBdIdOCSZkk_V_23V0N2paCkh3Rzxn1BFFRcRdhX2fmVn7nv5y-Lu7NgzA51fRAOM7lsNTGl-vIGed42eTvWcrm7Q"
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/98158167/56c85958e5a608b09a94c41a6d0f93c1/decrypt?api-version=7.3",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RSA-OAEP-256",
        "value": "UpjGk5DP3yTIO4G-8hgxdxKjONs2B86AzhAplWzhVryVtTU--a62yd-bQKsmOFJOIv757VTFhRLu9PcJ_ltpIpD3wF0hpR92pFc6pp3cOb_c2s5mQGIM0_TzSZPkN79DELnk9iU9xgjKoopFusqBr3POHkJQOowPXH5sMp4xLxZlKsx4CuWdFMcl_6efKMbMcuaR3g1PCRuBhFVQltSsmxYcT4G2vgKrvVZZlegLEtt78-lz_CXWFfBlRan-45_6Cno5u4iJvRPxF5DnpK3ogL85t9KYBtjQd9YD4mWhvoyezzGtWypvYcClej9g-Gxzo30urvCuinLWJdAepy6hnQ"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "88"
      },
      "ResponseBody": {
        "alg": "RSA-OAEP-256",
        "kid": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/98158167/56c85958e5a608b09a94c41a6d0f93c1",
        "value": "j2LqyTVyfzZc_Kdn04eQKoEVs2D_CeW8Wt9SzVw9nOs"
      }
    }
  ],
  "Variables": {
    "AZURE_MANAGEDHSM_URL": "https://heathskeyvaulthsm.managedhsm.azure.net/",
    "RandomSeed": "497876673"
  }
}
