{
  "Entries": [
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/998249566/create?api-version=7.4-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://managedhsm.azure.net\u0022",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/998249566/create?api-version=7.4-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "301"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1667431166,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1667431166
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/998249566/334f93bfa4c3480b8a635f21adbdfa7d",
          "kty": "RSA-HSM",
          "n": "mw9J-JkUCCIlnAqo5g47FSXWkC_kHidkIK3ZyfSiyzSqlAMYozzHwxKJ25LTdinBEjA-zVKptB69qSK1_k7RAB4DEpIog9O9J3KqDpyoi4cdFOUs5tDBd6Qa0YGar9vXk_xvb78s_dBJzVetIlUhhikHSGaDrcT7aNyNgSl6ZTtkyEIQAhDW_0AkyqTcjyDprvkxEwbjP8BDuKo5sykjhMROiEDpoWErZ0U10s2CzHTMLLkXBVTQth26bJMZ1U4UD_2z40O6_F-HbBK2cMHd78-SWmkXMKe8rvnadom7jmjBQfl748h1QZXxAmRQwYB4RUn9942pUgGg7LaTxXYjfw"
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/998249566/334f93bfa4c3480b8a635f21adbdfa7d?api-version=7.4-preview.1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20221020-1-945ffe56-develop",
        "x-ms-server-latency": "181"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1667431166,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1667431166
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "verify",
            "sign",
            "unwrapKey",
            "encrypt",
            "decrypt"
          ],
          "kid": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/998249566/334f93bfa4c3480b8a635f21adbdfa7d",
          "kty": "RSA-HSM",
          "n": "mw9J-JkUCCIlnAqo5g47FSXWkC_kHidkIK3ZyfSiyzSqlAMYozzHwxKJ25LTdinBEjA-zVKptB69qSK1_k7RAB4DEpIog9O9J3KqDpyoi4cdFOUs5tDBd6Qa0YGar9vXk_xvb78s_dBJzVetIlUhhikHSGaDrcT7aNyNgSl6ZTtkyEIQAhDW_0AkyqTcjyDprvkxEwbjP8BDuKo5sykjhMROiEDpoWErZ0U10s2CzHTMLLkXBVTQth26bJMZ1U4UD_2z40O6_F-HbBK2cMHd78-SWmkXMKe8rvnadom7jmjBQfl748h1QZXxAmRQwYB4RUn9942pUgGg7LaTxXYjfw"
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/998249566/334f93bfa4c3480b8a635f21adbdfa7d/decrypt?api-version=7.4-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RSA-OAEP",
        "value": "Gl2dbksiBQNlK0da3Mpy6oYuDdbs8oDNNI7RUroWN-okUbFJIzGwU97cbIYe74gJ8m_djz3sm-GMf8LOeWK2SZqnaIyFLADAvujWjsK0myDXJkNzNQfLWapf5_jo0fWb5p5NdxNYv2D2rAXn041RpMqMCzSkDyeHhVvPsBdSTBZDjPx0qBsYUCGtDp2b1PBlAZQ3Vshl4gOswRCO99e265jsi36C6IuHDZTdjqAtIKNAKMqbD_OqY2Th2c4uCAU1DpAaGkowoh3kLxBg4fSRPVGNvLMLioegb4AbUfn7ZBgFSfYEFumGenrpD6ZteYYibcruxb3cxo-rFTaKFDr-Rg"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "2"
      },
      "ResponseBody": {
        "alg": "RSA-OAEP",
        "kid": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/998249566/334f93bfa4c3480b8a635f21adbdfa7d",
        "value": "QSBzaW5nbGUgYmxvY2sgb2YgcGxhaW50ZXh0"
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com/",
    "AZURE_MANAGEDHSM_URL": "https://heathskeyvaulthsm.managedhsm.azure.net/",
    "RandomSeed": "1088850686"
  }
}
