{
  "Entries": [
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/172828492/create?api-version=7.3-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://managedhsm.azure.net\u0022",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/172828492/create?api-version=7.3-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "239"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1632527031,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1632527031
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/172828492/7c75f5186f8b4ba7b05699215a6d340d",
          "kty": "RSA-HSM",
          "n": "jklFuhVKnMXt861HSxwr7UacvEDiO94ypd2493Kgk5MArlw5z7QQ7WMztfxTWsqYX0bgLGzFvAdrNjk7TashqF2RQOdiqdL1FcGY8ZZgmdKV6Q_5LOPWdgSf1yMhK1yfW-HHbBZ6Fk66CTmUXsq1X_XT4hCBZsa95bHx_tTEARKLO42l4tHpprHQvV-aTSPsioGFVJkhiIfZXzAMl1pP9WeGf3ZIil6Ro2_C_0GumzwY55IHN-BQ6y4YkfYb5o01w8hyQIE33vwq5wqAqPWxAAsZDK2aAUg_HOL0fgKi31884EIQHwut7PwSfxZ26j5h4rmHe0TYxgf29Bhz2XY_CQ"
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/172828492/7c75f5186f8b4ba7b05699215a6d340d/encrypt?api-version=7.3-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RSA-OAEP",
        "value": "QSBzaW5nbGUgYmxvY2sgb2YgcGxhaW50ZXh0"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "83"
      },
      "ResponseBody": {
        "alg": "RSA-OAEP",
        "kid": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/172828492/7c75f5186f8b4ba7b05699215a6d340d",
        "value": "DA4W5-AS-VK60AxOgRab_UY1BR6PT_QYMRHrl_euR0Tqxq6dVKd5UPVy3wC5uDQ9-a8fDeCNWCgP42_c1iQQndfYpZ_tck0sk4NyQkJLUdqLUzE0bfqpk_4Vh-nSSyvfwPiTbhyCKrZ03QghFGPSIxdQrWsKwEPUeMgzNh5xaeEctB9DpMkeRmHYnrMkqmBnHBU3FUsEkopYTzuEPXjgcg05ehIqOz_4xN85LCw-GchfMrLKupO4AmMU-fy1WGlrbF-bd-zcLsUtrMPLMB0phYFHa12jNL7tdmbqvrrYnL6zdFG-hig0HjyFiTfstQs1hyNBlvXiYatbrbUWLqyHrQ"
      }
    },
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/172828492/7c75f5186f8b4ba7b05699215a6d340d/decrypt?api-version=7.3-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RSA-OAEP",
        "value": "DA4W5-AS-VK60AxOgRab_UY1BR6PT_QYMRHrl_euR0Tqxq6dVKd5UPVy3wC5uDQ9-a8fDeCNWCgP42_c1iQQndfYpZ_tck0sk4NyQkJLUdqLUzE0bfqpk_4Vh-nSSyvfwPiTbhyCKrZ03QghFGPSIxdQrWsKwEPUeMgzNh5xaeEctB9DpMkeRmHYnrMkqmBnHBU3FUsEkopYTzuEPXjgcg05ehIqOz_4xN85LCw-GchfMrLKupO4AmMU-fy1WGlrbF-bd-zcLsUtrMPLMB0phYFHa12jNL7tdmbqvrrYnL6zdFG-hig0HjyFiTfstQs1hyNBlvXiYatbrbUWLqyHrQ"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "2"
      },
      "ResponseBody": {
        "alg": "RSA-OAEP",
        "kid": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/172828492/7c75f5186f8b4ba7b05699215a6d340d",
        "value": "QSBzaW5nbGUgYmxvY2sgb2YgcGxhaW50ZXh0"
      }
    }
  ],
  "Variables": {
    "AZURE_MANAGEDHSM_URL": "https://heathskeyvaulthsm.managedhsm.azure.net/",
    "RandomSeed": "1036888699"
  }
}