{
  "Entries": [
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/496589892/create?api-version=7.4-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://managedhsm.azure.net\u0022",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/496589892/create?api-version=7.4-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "253"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1667430972,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1667430972
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/496589892/9042ad64af87405924a5768cd4116e47",
          "kty": "RSA-HSM",
          "n": "qNNXUsC1uxk1kXOm0o9IImlko_ENMfUc4fwPlF2Cf2ahT-1CsrRBzutnbxFMm4QVBh-mLQadgdQEVR0gV_xqId8w9gZUKRMs4851rQJMjbN0TX2pyIhRAl-J6RuaCJcvlD9zyIPT1lYQxE0TJKhHVrkbCD9R5TScN7mjgyLwOyQDiofgfIMtr97W89NshvfFJp7BaPFoghceFpcDNuY7gnneeMfvdFxTV6Ix4JuLIazLv1nQUeBxqGfLGXexGH9nfl8HoBgR7S-j3yap8jDiBU8ewDMBQuke42Syr0lnHj_UVMLzheLIHt1X-F5D-d-xBCM_T3A95Jxkr0uJv0eDUw"
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/496589892/9042ad64af87405924a5768cd4116e47/decrypt?api-version=7.4-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RSA1_5",
        "value": "Ou98wsPH5SD9IbLmAoK5YVcOq3_s4pfW0NPt9T0TTAWIB8123R2prCIzP354_EVCxlweJphn8JLWXBkzJi4aP_rZ25Xs6IcmBDm4QHD4DZy03YxAwFXOeQ1ju_CmunbKRoLlHatlnNTmXAhC5oNuOwXNNmacBIDd7BZU91umMoKkjJADzeoXWH9fpIItG6HqXXk9bqcOCFziNvF83Q8Ys0njUfxJTzx3XmUFkFE-QadYo03bUICZTx6EG2-yzpC3ncQFLLMBRjJpnwud1B5KW98knbBxJjJ42fm18wXMK6wKqOEainOSQvWqK8qhHb2j75butsH7mAVC4gns-4tZRA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "102"
      },
      "ResponseBody": {
        "alg": "RSA1_5",
        "kid": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/496589892/9042ad64af87405924a5768cd4116e47",
        "value": "jEezLdpD9-NDoYS5z4MhHF5s6vN8fgh3MIquhbeWUok"
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com/",
    "AZURE_MANAGEDHSM_URL": "https://heathskeyvaulthsm.managedhsm.azure.net/",
    "RandomSeed": "1554653068"
  }
}
