{
  "Entries": [
    {
      "RequestUri": "https://heathskvtesthsm.managedhsm.azure.net/keys/551093170/create?api-version=7.3-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://managedhsm.azure.net\u0022",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://heathskvtesthsm.managedhsm.azure.net/keys/551093170/create?api-version=7.3-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "234"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1626299784,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 90,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "updated": 1626299784
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://heathskvtesthsm.managedhsm.azure.net/keys/551093170/06d5936cfc414a3c9d1d232452106dd8",
          "kty": "RSA-HSM",
          "n": "ocN-2GhEO3OHlEAwnLGw89bIbP_7RvLe1Q-P4rWxlt2tsm07QitbOwnJFRzvEZgT585O0yvZARBb_0gla4OGBHR1E8dlIfhp4QYyZK6PJPUc7KM7p8n75Ld79gYIgLc8jS0hO8-xjbbhzlzmhpl-DbIgPb0xaAUQ5Ds-feB9gBdZBikvIwWc0b1WLWKVc54rY_PbTgpP-RnwYm5LMODHIW2kT4kx32eZTSSrJWwsSje6LygUuTZG3xoHZQ-2hYZNOojw-G-2R7wvAW4qVBF8GK2jvG5G8S1j9n6n1KmgwlXXKXIXkeKWpoVRb8GJsgE8t0NrkYDARyvOQ7FLdskTQw"
        }
      }
    },
    {
      "RequestUri": "https://heathskvtesthsm.managedhsm.azure.net/keys/551093170/06d5936cfc414a3c9d1d232452106dd8/encrypt?api-version=7.3-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RSA-OAEP-256",
        "value": "IUL60thqxLPPl-lGjRdRA8ejR5IY1R4ym88kN2GDh8M"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "143"
      },
      "ResponseBody": {
        "alg": "RSA-OAEP-256",
        "kid": "https://heathskvtesthsm.managedhsm.azure.net/keys/551093170/06d5936cfc414a3c9d1d232452106dd8",
        "value": "JEeraZWvo18fwBlONrHJ1EBFVrsKJFwFb8bymG57IKDyuA95QxknbqLvut4sp8EKeqKrcwL3SnL2hehLrVu74kjJY53tB1VuQwcITaCpLa7FhPMoFT270ppu3iu-DZmETCdfSyTtioe4MpgPviTnJ8DPH4wQZqoOtbXNgE6cGTXdRi-WX7TOkySuJ_hvAuxtrtGmiAqH22T2Ov_7cixuoprYc57O9A7VXBbJt4WBuP7wpPr0iGJdr6MnzVyFkphhfnT1QAIbamvFIGSVyHEPy5csq2g7dJ5k59cjq4EsUJbx0QncnWEX_IrWCuCuyV-1MRAFUbaYRy5UFqFMvN-0qA"
      }
    },
    {
      "RequestUri": "https://heathskvtesthsm.managedhsm.azure.net/keys/551093170/06d5936cfc414a3c9d1d232452106dd8/decrypt?api-version=7.3-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RSA-OAEP-256",
        "value": "JEeraZWvo18fwBlONrHJ1EBFVrsKJFwFb8bymG57IKDyuA95QxknbqLvut4sp8EKeqKrcwL3SnL2hehLrVu74kjJY53tB1VuQwcITaCpLa7FhPMoFT270ppu3iu-DZmETCdfSyTtioe4MpgPviTnJ8DPH4wQZqoOtbXNgE6cGTXdRi-WX7TOkySuJ_hvAuxtrtGmiAqH22T2Ov_7cixuoprYc57O9A7VXBbJt4WBuP7wpPr0iGJdr6MnzVyFkphhfnT1QAIbamvFIGSVyHEPy5csq2g7dJ5k59cjq4EsUJbx0QncnWEX_IrWCuCuyV-1MRAFUbaYRy5UFqFMvN-0qA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "2"
      },
      "ResponseBody": {
        "alg": "RSA-OAEP-256",
        "kid": "https://heathskvtesthsm.managedhsm.azure.net/keys/551093170/06d5936cfc414a3c9d1d232452106dd8",
        "value": "IUL60thqxLPPl-lGjRdRA8ejR5IY1R4ym88kN2GDh8M"
      }
    }
  ],
  "Variables": {
    "AZURE_MANAGEDHSM_URL": "https://heathskvtesthsm.managedhsm.azure.net/",
    "RandomSeed": "185409912"
  }
}