{
  "Entries": [
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/1375268451/create?api-version=7.4-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://managedhsm.azure.net\u0022",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/1375268451/create?api-version=7.4-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "294"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1667431063,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1667431063
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/1375268451/ab8e67a8877544ef3b514de12a1431f2",
          "kty": "RSA-HSM",
          "n": "rV06jLrnVbjk6ADMOCl-GOoDxx45kDqN1tZhdxgkQNKqVFpo4u87eqMhBN1RxkaOff5n5TH-vGqpms9d8NoUor2a0NXk4oedRQj6rsaH4dOkuX40GlNFc5hNn0otq11iHEg7-XywkINTSzBzOlU9Yast75voMJtaPIv9DCwskbQQUejvxV60kwA4oV2HAX5ZIRghNhI4k1i80Zhm4FnS3GceFK2b__pbIdBrvad9cihnRXGD7ND0Bz-Pp6ue0RRGOQGM8jixijv07VgzetFUixLwI-DsdjQqiw4VYT_a4MCYZk6NKsAAuh4_u7w1y29s3L_IMJVxdMSHJUGaBRcbNw"
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/1375268451/encrypt?api-version=7.4-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RSA-OAEP",
        "value": "QSBzaW5nbGUgYmxvY2sgb2YgcGxhaW50ZXh0"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "126"
      },
      "ResponseBody": {
        "alg": "RSA-OAEP",
        "kid": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/1375268451/ab8e67a8877544ef3b514de12a1431f2",
        "value": "d07vonj8pSd4uc5v_M46zxjpVI6FziEIV1oMHjnaXgIEgpbV2Re313xu0juoHKtS7Itp5Wj2DMI3yUUoahsvtqQeITNwyeeRklJsai9nYpa-88T6N63UxririVB3p53Ov5gERu43xLV7KVhWWlMeJ80nbgA8GVNHjsIoGhIQ_kWHb-3CnaEFComt2VqKl0EK6wmfmRiA05bzlKzGH3EudWpRIHmzYtEGqWKGwF_zURKFfcXMpTm4MnoWUxIPaU7cRkCraA361FrpfZXYF_-lUM0P7hAarz7odyB3vuvd7t5pD6A64LYkZp-G6taxd0gFXfKxkqES6zraT0OBEp9Wcw"
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com/",
    "AZURE_MANAGEDHSM_URL": "https://heathskeyvaulthsm.managedhsm.azure.net/",
    "RandomSeed": "1033173436"
  }
}
