{
  "Entries": [
    {
      "RequestUri": "https://heathskvtesthsm.managedhsm.azure.net/keys/310353782?api-version=7.2",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://managedhsm.azure.net\u0022",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://heathskvtesthsm.managedhsm.azure.net/keys/310353782?api-version=7.2",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "key": {
          "kty": "oct",
          "key_ops": [
            "encrypt",
            "decrypt",
            "wrapKey",
            "unwrapKey"
          ],
          "k": "pBZVALPctDgu2eVdVrBgNQ"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "214"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1626228316,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 90,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "updated": 1626228316
        },
        "key": {
          "key_ops": [
            "encrypt",
            "decrypt",
            "unwrapKey",
            "wrapKey"
          ],
          "kid": "https://heathskvtesthsm.managedhsm.azure.net/keys/310353782/c8c5d2ef811c0f09bb1f0205a270cbd9",
          "kty": "oct-HSM"
        }
      }
    },
    {
      "RequestUri": "https://heathskvtesthsm.managedhsm.azure.net/keys/310353782/c8c5d2ef811c0f09bb1f0205a270cbd9/decrypt?api-version=7.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "A128CBCPAD",
        "value": "QdNt0sDiS4zg-4g6kT1_ee4RdL1r_dINKup3d4GU_XyZ34R0M59k5NJ4XVXqxtw8",
        "iv": "izNy_esQgVx6Hs7DIg8erw"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "109"
      },
      "ResponseBody": {
        "alg": "A128CBCPAD",
        "kid": "https://heathskvtesthsm.managedhsm.azure.net/keys/310353782/c8c5d2ef811c0f09bb1f0205a270cbd9",
        "value": "VYpQ6fRtQWD-lY5WvIUQEZogRBU6EPWI-q2nO-BaBUg"
      }
    }
  ],
  "Variables": {
    "AZURE_MANAGEDHSM_URL": "https://heathskvtesthsm.managedhsm.azure.net/",
    "RandomSeed": "1866845524"
  }
}