{
  "Entries": [
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/430067490/create?api-version=7.3",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://managedhsm.azure.net\u0022",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/430067490/create?api-version=7.3",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "249"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1648058133,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1648058133
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/430067490/18214791a9e8012029d3a20e64ec0f4d",
          "kty": "RSA-HSM",
          "n": "qNI-VoeaxWyczePzbyxlf3CkSllq7Nxs9Cnv9ff_J4bGxhpcN_m6cEnGN90OMYh41ovKZUEPOhnGgA0Yl2t4tVLsERqBDqlCz_aHj1sVZkyPVrX8Jzx6woxGscSMoPf3-5QMNxPC7jhhyFfYim7a4ISfbBhmJOFVdG4FG0lB_mAap9peKXuYAWeZQvnGyNCZ6oMn-wOEH_8FkDl_jKHrpnsMEgM1wjiX1EiHs1GH8TpcwiTb0WyJgismPN56iSnk-0z3r4bZa3H-5DbGe8qyc_I3mXe0v49SfZiZzN8MocrmCye1vtapyhSuBUcRY5dqoLwSXRibo2f0V937vi7vbw"
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/430067490/18214791a9e8012029d3a20e64ec0f4d/decrypt?api-version=7.3",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RSA-OAEP",
        "value": "UvogZAwK9L5Il8cxYkVT1UaFguFDzhjFh29rWbvTk2-fpTlQQcMzBNzw00-uI9Pq8f3Mi46F2bf3-_kRTzgiQSUWOWHhnDX542WlKcD4b_pFS7gLFKQ20p8okrAm6FFjjsFopZoMCuMrSDshlYCotNGA-GulqQR68uTAmnNt9_aeP-uc_JyUIxvfaPiqYorjWrAqx_Y4IRKX2-iENIRYFd0A0P6rUzMBJzw1ujrRQOnOeW8uQks58Fz937LNXG-2SWe7catVdLFlJ_LZ945dWAbTisLahCft7GKQdnHeYmPznVc6pAbSPmJYMAk-LSkiiv-SMzKBDowM-R8OoO3ymg"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "82"
      },
      "ResponseBody": {
        "alg": "RSA-OAEP",
        "kid": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/430067490/18214791a9e8012029d3a20e64ec0f4d",
        "value": "MbJaV4611AReMP1PZYHQWP-04x0UcfVNKWAvY4jPd8U"
      }
    }
  ],
  "Variables": {
    "AZURE_MANAGEDHSM_URL": "https://heathskeyvaulthsm.managedhsm.azure.net/",
    "RandomSeed": "1679438966"
  }
}
