{
  "Entries": [
    {
      "RequestUri": "https://heathskvtesthsm.managedhsm.azure.net/keys/704818264/create?api-version=7.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://managedhsm.azure.net\u0022",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://heathskvtesthsm.managedhsm.azure.net/keys/704818264/create?api-version=7.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "248"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1626228200,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 90,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "updated": 1626228200
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://heathskvtesthsm.managedhsm.azure.net/keys/704818264/7abd6656fd6f00d9363af912b11144ed",
          "kty": "RSA-HSM",
          "n": "tieMpALTkm2lFce9KqUFh2aP_PrqF1k8PXS7pA83TZEjQGA9AF6kyKWoIEpWypYNruIdEE4pIbJWx-HT23rkuFYMpgC4jyPIEUALYF9jnZOebxYCjCpIGaODVDXZgQvaxDz6kB6ma5ifUyvh2gAHxlbW6VuJB5gY5fobGoDJn1E90vsmhxzNjfRy0iArHxeyykgk4xCJxJ_IsbDUGY7AjGIIFnOWDlu4he2farpdgbCnW5LG_c1AaeJhXrRmqK6KYarf_T_hPmBwZkWvjZPd2aNp5zPVshQpz1oLYkvhJ2kN6YNr9xV6dVT6gGhUOiHApsxjUPL12JzIWaYE9mN8Ww"
        }
      }
    },
    {
      "RequestUri": "https://heathskvtesthsm.managedhsm.azure.net/keys/704818264/7abd6656fd6f00d9363af912b11144ed/decrypt?api-version=7.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RSA-OAEP-256",
        "value": "ou3M4Lp5Ut2ai8LC9cMzu6SExcYgUx6_PKHdvZz20vIbYmHosVQ96euy2OBQ-gJhISdrL6h2bPJEXYRLDIroLZT6HaDCtOu0bwu31XOQ08KXK5RDy25B-OKcyvNKA__EiS9ThjMxbI74yYDq0HSMeo5vyzGNEplgzw8CmPCmeewOu25QOhnF8AEO-a1eUyV0bkJmODI2nTleS23Hc6ym9Yg-UWJHTntHZR_RmFpp-rkRjKaY-unhP0Ye5hKg9l7RDEIwJwCIiFT1qE8biwMFGjPvi7s8yewuHklRtxVI_qahqrKk00AOXUIM8ou39gw-SJQ3nTo_78aR5hNvaPy4RA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "88"
      },
      "ResponseBody": {
        "alg": "RSA-OAEP-256",
        "kid": "https://heathskvtesthsm.managedhsm.azure.net/keys/704818264/7abd6656fd6f00d9363af912b11144ed",
        "value": "gkJcKV2YUP14S0ZHufxENkqocIy_JNai1n_Z91tXOBg"
      }
    }
  ],
  "Variables": {
    "AZURE_MANAGEDHSM_URL": "https://heathskvtesthsm.managedhsm.azure.net/",
    "RandomSeed": "867623144"
  }
}