{
  "Entries": [
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/552776258/create?api-version=7.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://managedhsm.azure.net\u0022",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/552776258/create?api-version=7.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "277"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1613812199,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 90,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "updated": 1613812199
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/552776258/63ca3251f0430bb73d94e329a50cbcde",
          "kty": "RSA-HSM",
          "n": "lBEACLbnl3d5AmAVqOMF1F8gZ1WuPfY0Q4uGBR9c-XEPF7PuUMACUnEq8Edy9MMI7qI8ln4oTsDpoxnVrlXXhRNCkEsrSAjJLKYmsUNxifTujObZLfxyHm0ekeTsONbxr5w0Ipjk2rE3RZbT8jI7CZexNAZ6vj5wKsP4pDY7i3WpFqLgJML-x-Go2K1m_Mvrvl0vLwsNt63AzYvMPy8v7kfjkY9FMNTpVWBFUtqhVIOeHHOt4AnEZzSrfqR0cvzZa1ggWB5eDv3KqeR0HCNlwdcOJdPb-V7pI1wfloY-0B7pkhnvBTx8KStgwBBF_8BZSAxyzgUPNWe2uframTaZtQ"
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/552776258/63ca3251f0430bb73d94e329a50cbcde/decrypt?api-version=7.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RSA1_5",
        "value": "C4dpommTr3g86wc_CvPRRwYmE0rt_5vg2KC8oSCehhR6bij_qzyg_2u2J6oId_WZ0AJFynrviNYhrCY8-d-g0l1MY4bO6PilwUYULZzXcxnfqYoDgIOR9a-Gof0utc203b31QHdZr96-twS2tdOcrtUS18n2es814ZfohqzaMm4btsBz67sYtajbvoG8uZxO7uyAD1DICZXgI0cuORNNnQVU7BMefH8KZf6mqOqyWZbTHiJicanUzmMuKHjefdgGcJwFJC0xFmihUfM_V1fyZmLHkiu5MFd6TK3YumYCtoPRRp0X96gnPwgwhdoEBoRCS1MayRadEiiRW4xlzaShnw"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "134"
      },
      "ResponseBody": {
        "alg": "RSA1_5",
        "kid": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/552776258/63ca3251f0430bb73d94e329a50cbcde",
        "value": "_lm9TToVheUcbHjE86Itb65m1mNa2OBR7K74n9UX6wc"
      }
    }
  ],
  "Variables": {
    "AZURE_MANAGEDHSM_URL": "https://heathskeyvaulthsm.managedhsm.azure.net/",
    "RandomSeed": "536989334"
  }
}