{
  "Entries": [
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/543822162/create?api-version=7.4-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://managedhsm.azure.net\u0022",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/543822162/create?api-version=7.4-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "255"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1667430968,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1667430968
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/543822162/f00837a9a924469f1448262e92547284",
          "kty": "RSA-HSM",
          "n": "t1olWHUZ0rgkhrn3JP6pDo999yekjRs2HxgDcMOJFbqN-CKzbtCJTd-4oFwKglmoylhPmLgj2MU4TSEa-lryiYdPABbEZJ3WEoe1VYiZbtBU7fgtV37Xsv_3gOTnXxwxnRTtSA96fYRn7PoPV28SVVC3tSZ9MjAREQo-GVAmj9AUUqzWfPM-kvIT3lnfaH8ehUxcxAX5jdyGDU8DUKuFUIknZR6ikUZ68PkF3sxcdoNWXRdx2JavCDMFon2FWJHj2KUVM5gVInuBQr6lM8bFjjmQtE7QYD2jkaRjcJQ8pKxjMGhVOiQB-BEgU99Nn_riZr9_qzXycWVoBrYDC24wVw"
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/543822162/f00837a9a924469f1448262e92547284/encrypt?api-version=7.4-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RSA-OAEP",
        "value": "LN4Mh1eSileKl459w-rexSBDzONVe5zetOM0X1vF68g"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "101"
      },
      "ResponseBody": {
        "alg": "RSA-OAEP",
        "kid": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/543822162/f00837a9a924469f1448262e92547284",
        "value": "iIkUbKCo90ZoO4M30G632vTy0aGMiDvcbE2HFD0zdRkD6ibboUzKe133IFWOT6DBENkeFqO0z7gO4XP_v_ppGeGihTIHS2j6gZBng9jClMEUQJE6ugT_BknGG80umkzwaTDOuhjC4_rlVxmTjgIQUOQS_SNOpzOLtPDHPpRCL3sawWidgZNXDDKZzhKqnEE_j2n1HtfOzm4n7_iHRFfotICo7AlJM9rTxW7QfqBih3HPZaokr1FY1NWutBi5Uth5rEdrzvbqKsUP-LMgtyPw2Udsj4NlUkI1KziN1OPqqy5KXvJbEBNHl4wjFrCAIQbLA-b1avfjIZ2m0P0EHa7ZjA"
      }
    },
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/543822162/f00837a9a924469f1448262e92547284/decrypt?api-version=7.4-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RSA-OAEP",
        "value": "iIkUbKCo90ZoO4M30G632vTy0aGMiDvcbE2HFD0zdRkD6ibboUzKe133IFWOT6DBENkeFqO0z7gO4XP_v_ppGeGihTIHS2j6gZBng9jClMEUQJE6ugT_BknGG80umkzwaTDOuhjC4_rlVxmTjgIQUOQS_SNOpzOLtPDHPpRCL3sawWidgZNXDDKZzhKqnEE_j2n1HtfOzm4n7_iHRFfotICo7AlJM9rTxW7QfqBih3HPZaokr1FY1NWutBi5Uth5rEdrzvbqKsUP-LMgtyPw2Udsj4NlUkI1KziN1OPqqy5KXvJbEBNHl4wjFrCAIQbLA-b1avfjIZ2m0P0EHa7ZjA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "3"
      },
      "ResponseBody": {
        "alg": "RSA-OAEP",
        "kid": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/543822162/f00837a9a924469f1448262e92547284",
        "value": "LN4Mh1eSileKl459w-rexSBDzONVe5zetOM0X1vF68g"
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com/",
    "AZURE_MANAGEDHSM_URL": "https://heathskeyvaulthsm.managedhsm.azure.net/",
    "RandomSeed": "130225044"
  }
}
