{
  "Entries": [
    {
      "RequestUri": "https://heathskvtesthsm.managedhsm.azure.net/keys/1256891427/create?api-version=7.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://managedhsm.azure.net\u0022",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://heathskvtesthsm.managedhsm.azure.net/keys/1256891427/create?api-version=7.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "240"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1626228307,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 90,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "updated": 1626228307
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://heathskvtesthsm.managedhsm.azure.net/keys/1256891427/c1ab4ea0351b4d14ab9464ae9789fe62",
          "kty": "RSA-HSM",
          "n": "uUHJhAQZbDmYFfpv7qxuH_OBtY4ZJmPOHH8S2rSRzp1ZQqVFUbqXqX4pUjJhCvYLVdOq6F4sgM73Kd7oKo9fEAzWj4s2rBCm7oZRsnwWHqq2Vw1GDlE3yiKGCi1y3AI8tmc1jcpgm-H8e-XKIWbKjIL39X_8W_yZuEJkFHcQfq_VgB69gL5Wlz3adHUla7cLAFeagc53eIj39yIF7ONs1Jt_t5oDIYLPK7jD2FuHjUqY0eCEeUFV_W4_8D_W-E3-vSokIS2lGbhQzo8RQoU2F8rDTz7JCJ3dbCsjId2qmlT-HfiqjNIXoWCcDWHAkoukWQuCUvKeznA1QVNi6JbBYw"
        }
      }
    },
    {
      "RequestUri": "https://heathskvtesthsm.managedhsm.azure.net/keys/1256891427/c1ab4ea0351b4d14ab9464ae9789fe62/encrypt?api-version=7.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RSA-OAEP-256",
        "value": "s7ZakCOksx4wZLkrLN2BTKvEqo6YI9SHIsSKxkrk_5A"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "132"
      },
      "ResponseBody": {
        "alg": "RSA-OAEP-256",
        "kid": "https://heathskvtesthsm.managedhsm.azure.net/keys/1256891427/c1ab4ea0351b4d14ab9464ae9789fe62",
        "value": "VcMmy3HBC-K4ENN5zYPcmqOOfcaTeBObcO-pe19zvUJveX0XK7o5nBcPfZVvwEsmfuujJz4EroOruEX0TWVhc8q-nPYwiswf2P5eUwYQ8Y3kMYdhQtV_ksmbkegZIbuFKt-UvPGpLW3LeylLSwq9VvntzbggP7HBgsMDWkV3TqcPdB9uZoHieHFNOPyJMcNZw51JN9NvcoZhahYjT6i7pqDglG2NLH6SOaYs4T_EASOuzYbRe2KS2I3iqTEWcagi-VUb9Afh3T0mBq2G6t3W88s8vFKLIveQyemWNMsvU0XnV44f93mHFCCiZS2xO6WEEBI0uf1RO_0QlY16pvTXEA"
      }
    },
    {
      "RequestUri": "https://heathskvtesthsm.managedhsm.azure.net/keys/1256891427/c1ab4ea0351b4d14ab9464ae9789fe62/decrypt?api-version=7.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RSA-OAEP-256",
        "value": "VcMmy3HBC-K4ENN5zYPcmqOOfcaTeBObcO-pe19zvUJveX0XK7o5nBcPfZVvwEsmfuujJz4EroOruEX0TWVhc8q-nPYwiswf2P5eUwYQ8Y3kMYdhQtV_ksmbkegZIbuFKt-UvPGpLW3LeylLSwq9VvntzbggP7HBgsMDWkV3TqcPdB9uZoHieHFNOPyJMcNZw51JN9NvcoZhahYjT6i7pqDglG2NLH6SOaYs4T_EASOuzYbRe2KS2I3iqTEWcagi-VUb9Afh3T0mBq2G6t3W88s8vFKLIveQyemWNMsvU0XnV44f93mHFCCiZS2xO6WEEBI0uf1RO_0QlY16pvTXEA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "3"
      },
      "ResponseBody": {
        "alg": "RSA-OAEP-256",
        "kid": "https://heathskvtesthsm.managedhsm.azure.net/keys/1256891427/c1ab4ea0351b4d14ab9464ae9789fe62",
        "value": "s7ZakCOksx4wZLkrLN2BTKvEqo6YI9SHIsSKxkrk_5A"
      }
    }
  ],
  "Variables": {
    "AZURE_MANAGEDHSM_URL": "https://heathskvtesthsm.managedhsm.azure.net/",
    "RandomSeed": "628652925"
  }
}