{
  "Entries": [
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/172828492/create?api-version=7.3-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://managedhsm.azure.net\u0022",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/172828492/create?api-version=7.3-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "220"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1636594674,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1636594674
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/172828492/b8dc360416be42a6021fda6ff0ba2189",
          "kty": "RSA-HSM",
          "n": "ymqmxS44EAJyBDCMxO4sFFybrnJV9aTBFsTVnmfU6dmr2osGsHw5PmS6hWIzsPnRARu1IO5j-FH7CyW5hy9zCSODSckCF42VImEL6cAl69xu1wZdVSVjJzg8IFMmVAGdvSLVayw-Xha9ES-Wpea9GFArK6HEtLO6DxlmN6CEHJaskh0HgWDyJ5lVlxFNnOcEc3sSUuEEJ_XZvXHdjbUVCubbbRvfTn2haFYNmyqsSwcw7LNJQLHiv9kFd3bnnW9sMqp41i4DzMb9JWWS8UoTPWVW3bAKvJqWqGEstJUh2oOw5pRwy0x-gk58CHgBFmk3tNIkCrqTD8jfEaOWitW2uQ"
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/172828492/b8dc360416be42a6021fda6ff0ba2189?api-version=7.3-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20211018-1-9c44708a-develop",
        "x-ms-server-latency": "85"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1636594674,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1636594674
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "verify",
            "sign",
            "unwrapKey",
            "encrypt",
            "decrypt"
          ],
          "kid": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/172828492/b8dc360416be42a6021fda6ff0ba2189",
          "kty": "RSA-HSM",
          "n": "ymqmxS44EAJyBDCMxO4sFFybrnJV9aTBFsTVnmfU6dmr2osGsHw5PmS6hWIzsPnRARu1IO5j-FH7CyW5hy9zCSODSckCF42VImEL6cAl69xu1wZdVSVjJzg8IFMmVAGdvSLVayw-Xha9ES-Wpea9GFArK6HEtLO6DxlmN6CEHJaskh0HgWDyJ5lVlxFNnOcEc3sSUuEEJ_XZvXHdjbUVCubbbRvfTn2haFYNmyqsSwcw7LNJQLHiv9kFd3bnnW9sMqp41i4DzMb9JWWS8UoTPWVW3bAKvJqWqGEstJUh2oOw5pRwy0x-gk58CHgBFmk3tNIkCrqTD8jfEaOWitW2uQ"
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/172828492/b8dc360416be42a6021fda6ff0ba2189/decrypt?api-version=7.3-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RSA-OAEP",
        "value": "sGqv3WuZJp-sceWIjb2sKMgxs6cb02lHL9JjxlMkpNwH1tuWID0XuFe-4qgM_OfZP9Z96d3DAwqjlKbWlHRW7aXVW4oXTuLxKII4GaQEpQQ0IivKl-aexHHJt854H83DZDMM-ogIzbtxnTqR4HcrJGUGLNQGuNq_dz4gV3HpQ_Nd25it1qWljCjwOgbnJEb9KujgKJFugKdKlbRTKXajrYB3_0YU8qDBP7X8rcMxMssMSh6DXNYRDFBSuyWHO3J2sPW3p87RRsu5lVliwoYz5R6YOQr_V9w5csK1Pv3ebI-kYXpviSbQlXK9tpUbBAUarqFPpPae9G1gBZbTRKhycQ"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "2"
      },
      "ResponseBody": {
        "alg": "RSA-OAEP",
        "kid": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/172828492/b8dc360416be42a6021fda6ff0ba2189",
        "value": "QSBzaW5nbGUgYmxvY2sgb2YgcGxhaW50ZXh0"
      }
    }
  ],
  "Variables": {
    "AZURE_MANAGEDHSM_URL": "https://heathskeyvaulthsm.managedhsm.azure.net/",
    "RandomSeed": "1036888699"
  }
}