{
  "Entries": [
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/518505344/create?api-version=7.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://managedhsm.azure.net\u0022",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/518505344/create?api-version=7.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "247"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1613812040,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 90,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "updated": 1613812040
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/518505344/281f7c0795f10187b1cbc41ae1680f5f",
          "kty": "RSA-HSM",
          "n": "3X1V3PZ6aGrhD54lbhU3gGvAmAusnkgfga5fD9jBhIcJo9BkXndPds_f282eTp3JvB25hmkvsDiKtRnq60VDqBZHINOOEtLUX-7n0DYW_NfXODaN_Z6KE89SyP6vs5zvOKHM4abfutzQm2FeOPPSzYmtvxYsygmQw6_1Ji58vWJoX0yJWvSw9Epd9IQwIruQ_1SfQBMq4rapARcb-cW0OjHhl5i4KZ7l0Ljb94qj0LGH49hNPJR9wRDUpbju0ZCOAI3z7acMI4Ap7BRyrjjZG5BIXRCUTcYbGqOkwwQ7EXPFfAB3dLD-Puuwb9QB8f4hg-AlLBCQkmKwSRwshuKK6Q"
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/518505344/281f7c0795f10187b1cbc41ae1680f5f/decrypt?api-version=7.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RSA-OAEP",
        "value": "NC1_mHt2TQRZgF-fbVCvZkJlyRq2fOtWUad6pioiZMvvg_Uu3VktnR_t2fAXt0KA3BnxNUe0_Vfy28UCspa2oXgEOViAYiACmFR9w9zoz6bzmoie99XaBcyPFpnslzJ9XA12QbwDpx-x13sY3v9h3X4-Apsc2FyR_u22Rnttid4gzVVvlvR4NgxJJBcxl-f1OwUn9GATn_4JBLEbXdmL35l8BoA5c4-U_H5XLb722ImuXOO-70kOWk9BfbHmrmhNkDribc6f0TKizX9wO9bsvVAL-PiQOBg1vJ4L4166ylU6dvQa72Mu5P5ryJvw8jMjJ3VdNvh54nJ7rsiNlsNZcQ"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "139"
      },
      "ResponseBody": {
        "alg": "RSA-OAEP",
        "kid": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/518505344/281f7c0795f10187b1cbc41ae1680f5f",
        "value": "D62bPNC61kvJKsXMrQnacBH1N4JbJjYL4vGLYJy-fbQ"
      }
    }
  ],
  "Variables": {
    "AZURE_MANAGEDHSM_URL": "https://heathskeyvaulthsm.managedhsm.azure.net/",
    "RandomSeed": "740375001"
  }
}