{
  "Entries": [
    {
      "RequestUri": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/116844506/create?api-version=7.4",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://managedhsm.azure.net\u0022",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/116844506/create?api-version=7.4",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "280"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1677719068,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1677719068
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/116844506/04c0421e6751469f007938ee0086aafb",
          "kty": "RSA-HSM",
          "n": "jpKyeCkLMhMAo3llbk0OF6OInhDNsAUWa0kc-Q4-zMH68ti5Ta0lt51B5pNyiP9k5gEJ8YeS2VifDAqWOomY4OFOjUFEfniy4ObyyTyLg0ZeYViO052iX-rmp-YmAoyYXYsMP4dCLNYhL7UZtUdt9fVP1v60X2KSpGULyf4yEOhqewl290rGqlliRa_IowrEuCzO3qt7tDLPQIIJvntFy7zkuPzapvculrPwGK-hABk1Sl_R0p5DIDG3Id1GhcGRu0nOA4Wjo01JomxzeTPSkormwzI5FRAbp6Kl7m9M-0nmXiZAeNiO2D0aM-851Mm55N12DzMmaMnoCT8WdPk-yQ"
        }
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/116844506/encrypt?api-version=7.4",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RSA-OAEP",
        "value": "QSBzaW5nbGUgYmxvY2sgb2YgcGxhaW50ZXh0"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "14"
      },
      "ResponseBody": {
        "alg": "RSA-OAEP",
        "kid": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/116844506/04c0421e6751469f007938ee0086aafb",
        "value": "MeQLMuJUSlGIifpLlFrGkFxjaLF7TTHEW6WOizzF9HCfDGl1EIzRslTuY0ZOL7y5Y2jtHgVQuY7ZCRSx_A7NaU2Q-d3D__29PHJqkrS1pC25aoZgHNCOfj6oeBKyIdDnYg86mFG-RRt1VqZtRbGB0uqjR1iByzac7zHP_i8ijjxyA8drlh4FNIQIWuK5eT04Ei8EJlt4F4BjkuBRh7sZhdXwhXSxmHGbxma2M0Bkpm3jshzKot1iklGVSZsXadpwLSuSt4wEncKD3j15r_JrxuJy60ruK4uNUhRb8BNMTjO9hr-fdxCqCA1e6Cnon4iYb_vxWkR242mjrdis9BZm-g"
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com/",
    "AZURE_MANAGEDHSM_URL": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/",
    "RandomSeed": "1062955579"
  }
}
