{
  "Entries": [
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/1658414533/create?api-version=7.3",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://managedhsm.azure.net\u0022",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/1658414533/create?api-version=7.3",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "312"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1648058437,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1648058437
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/1658414533/23f0e5fe6a950f5600968e8dba05f18d",
          "kty": "RSA-HSM",
          "n": "sC7e0Y0bzrQ5EdCGk6vDeDsFSJWduP4dLYhJZe4WYC3h4YdweHTz6XcZe2NLiY_3HCsAUB-jXgDSAuPd-ZJNh0v7jwb7Swr18u4UFA16vOA8mIWoEyidI2AaA7q5sgUSVw7hRZcOCpBASrmOJE1iseUK1lTgRVzZH08czvRHHSPC7raw11SSGJcmWfcoJTvCPD6piRIVrfyCqUp_ZWf3AjjY50ZcaeuIwZivqKmhn8hdCW48cbUnixx-Iv3-vofEx8sNi5xPkBQXjvoB75kcN-9_m2lxgT4PiqSJWgn1hBa0vJ7tOmdeEFPMrWnMNXhoJUY6lRypQq4_dXGxCOYBMQ"
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/1658414533/23f0e5fe6a950f5600968e8dba05f18d/decrypt?api-version=7.3",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RSA1_5",
        "value": "BZYDPJ0tuCFWKmU70Ad6cZ3ST4lBkVcBqVAz5TZ15s7ZeVQjo82EH5OOG8SZIPHlXYaEO6UMXIchR5TcMtvxSNWc8kV1_XEfBhA_T4HZCFAAyL-tS3X_EF6e7xCzbUOBJTrxviRx7gbBu_yoZq7mZok2v_tdWncSUGhypmChKbVu9nq9AYhjO9dLi7bavDToIhSkz0PHLxsA8zjvf4LUHja6KrGbneP5oDbKdCdu__C_0WJFdiSpCQh-eu46ngq8OuONFxi_LHwRqudgBXbSZDhKApIkp1TPAF8XKbHDq8kutFH_UZ8f03maV8J8aIRhcKDOUlDv3QTtPWidGz6Hjg"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "159"
      },
      "ResponseBody": {
        "alg": "RSA1_5",
        "kid": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/1658414533/23f0e5fe6a950f5600968e8dba05f18d",
        "value": "4425sq0zq3TQQpbsCZhX6voUpxoczzVUORQBdaqlPdc"
      }
    }
  ],
  "Variables": {
    "AZURE_MANAGEDHSM_URL": "https://heathskeyvaulthsm.managedhsm.azure.net/",
    "RandomSeed": "972595673"
  }
}
