{
  "Entries": [
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/546923513/create?api-version=7.3",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://managedhsm.azure.net\u0022",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/546923513/create?api-version=7.3",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "233"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1648058221,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1648058221
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/546923513/1753bca222fc4607256913c50db52f19",
          "kty": "RSA-HSM",
          "n": "qsHkRwOIKZxjCi9bKr7U0wtm7i8ccEDNGqJY4u2EkvZeWDGbZG9aSwtPkTLxlHI83doTSPs-Rf9vZIIVIbrSsE_EeEZExaOGLFpXCCz-VkU0tCT3eNWwCtpU0mBwKmGSkZXQMzfjigj6BVNbBhbLHxfUkjn2UNdAUSEPcLrls-5XfnaaUw3aO8BKcMBe6BkgbGK6U-8tPleKhJ-UDbkM5lcnodDXfSPV9miQiCtnLb-3jO_whG34_ag3mJEYVw3cXNnZEyD_n7k1ATfttW4RtBXLi9h4_0RpEOo7DPqZo0ycXVXhmklSIdmjZpswN2BIYaxm2a65rO87mx-H-aTQ4w"
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/546923513/1753bca222fc4607256913c50db52f19?api-version=7.3",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20220305-2-902fedaa-closebadconnections",
        "x-ms-server-latency": "141"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1648058221,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1648058221
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "verify",
            "sign",
            "unwrapKey",
            "encrypt",
            "decrypt"
          ],
          "kid": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/546923513/1753bca222fc4607256913c50db52f19",
          "kty": "RSA-HSM",
          "n": "qsHkRwOIKZxjCi9bKr7U0wtm7i8ccEDNGqJY4u2EkvZeWDGbZG9aSwtPkTLxlHI83doTSPs-Rf9vZIIVIbrSsE_EeEZExaOGLFpXCCz-VkU0tCT3eNWwCtpU0mBwKmGSkZXQMzfjigj6BVNbBhbLHxfUkjn2UNdAUSEPcLrls-5XfnaaUw3aO8BKcMBe6BkgbGK6U-8tPleKhJ-UDbkM5lcnodDXfSPV9miQiCtnLb-3jO_whG34_ag3mJEYVw3cXNnZEyD_n7k1ATfttW4RtBXLi9h4_0RpEOo7DPqZo0ycXVXhmklSIdmjZpswN2BIYaxm2a65rO87mx-H-aTQ4w"
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/546923513/1753bca222fc4607256913c50db52f19/decrypt?api-version=7.3",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RSA-OAEP",
        "value": "ikcnigEjEEzgLT_A6mfEfJQTlc4_LIUVLeyCQCNZ8XBkjw2cTjewUisVut4cCsvH0d1Iwx3HJeyMLDch9zhSvZHpVGh_AexLT6djftzcvds_P_RU_28XbmvXgWLeQJiwWHzD396AANOoC0XdSLaV7VK8X3uGVzhuRA4kYeCHa26E-1dhh4FMaJNdaIKBcPhnGrq4NlsX8bTT1exy6fPn7DeUd0uSMot4YhDoQW6KKpRX105FAp8WFNGYDf4zN2t4OG6Cqr6-SnABqwAYrs-GmvkmcocwV1TBgrU1m13ySHjnEYVUqw7brlmm7rBwlOwBaRQ3IuwfmPBaGe7Vfxym_A"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "2"
      },
      "ResponseBody": {
        "alg": "RSA-OAEP",
        "kid": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/546923513/1753bca222fc4607256913c50db52f19",
        "value": "QSBzaW5nbGUgYmxvY2sgb2YgcGxhaW50ZXh0"
      }
    }
  ],
  "Variables": {
    "AZURE_MANAGEDHSM_URL": "https://heathskeyvaulthsm.managedhsm.azure.net/",
    "RandomSeed": "310386890"
  }
}
