{
  "Entries": [
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/758997142/create?api-version=7.4-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://managedhsm.azure.net\u0022",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/758997142/create?api-version=7.4-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "272"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1667431080,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1667431080
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/758997142/b11c8c479e5a45589e93ac0817b228dc",
          "kty": "RSA-HSM",
          "n": "oulK_zW-59TnXIlakbM6pVtndcGhkEySt0sordPoBCKeVqWjBXMIaLem-rp30K5cJozMBNrzsH03GC-YWz76rcdoEc1riRddPgvkEK59tXZZrU4BQRVwmlYxLeh_zaZbcXNbZpfVJGqhaW5ffAXM6xARDzeH5MTKeOy1dRlq7Kb_Vkw7h7TYuczDl5N3SydaClBN1EF1e7YTocFAKvsb4mnw75fyibTJ6KqzGMJEV2nIgPdc1wYh1_GXMr0ieqSdfP7USHPEDgcWdLzT4TW4OcFB9XaDbBMvtmjeGC484a2r6kUFCbu6u48p6UDYt_pugSf8eN1qpt-nG7vRQE7Bpw"
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/758997142/b11c8c479e5a45589e93ac0817b228dc/decrypt?api-version=7.4-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RSA-OAEP-256",
        "value": "EX08PzysKcSyNVcHBjHAwQonlTPCb65QhuLdxh-1bkVVRCY_3R7lLXMGCUe04Xg-Tp0MQI3Bsa8O7ifeya-WWHEfIFWojjBTJ97Gr54uU3r23KvE9Pff0yqeDbCa7XbMiEGDPCgH6DudyWC9Kmu4_gWDH9qyDAQOFDxjFERJdYSXG4txy3jNFAHIh-ZhVf2OsxlgQ_8FHvLYAxV7FVtjwh_e1nkdGjswEZBs5pb8xkLH8fSsCzqyIpeEO90O9S4PdqRH3uhFEM2RBJoZ1-3KncCNIpD4A2O3sUB0ys-rikPL2xq40Ncy3fNNPmvARgccMSx4Pp9clPSqzKnCKOs1Sw"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "168"
      },
      "ResponseBody": {
        "alg": "RSA-OAEP-256",
        "kid": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/758997142/b11c8c479e5a45589e93ac0817b228dc",
        "value": "IvDE3dBsrrw7KBbD1dKJfnHbM_ZTrI43_RKffxmQ3FI"
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com/",
    "AZURE_MANAGEDHSM_URL": "https://heathskeyvaulthsm.managedhsm.azure.net/",
    "RandomSeed": "16109858"
  }
}
