{
  "Entries": [
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/1483228884/create?api-version=7.4-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://managedhsm.azure.net\u0022",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/1483228884/create?api-version=7.4-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "262"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1667431074,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1667431074
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/1483228884/d3bf42ca3a84066fbf4f14feb9838a37",
          "kty": "RSA-HSM",
          "n": "qTDvxrs8YMmi-W0cUR8XIHNQNs2uk9S01aiWE8NUFzKCTxi8mZqDkbBI1snoS1HtfjYcbZs-VFPOS86Mvtz9-BIsk4PLH6LQvZDyetwgEFNW0b4PVIIwwbbfcK_8-cLRZCi906xfacUGEOXggcP9jwjLG1-_9hmA9N_0P_zuZNkUlv0qWaAHTLYWw6enoLit3MpFI_nWUZdafFUCIm-8THPUUC69LDAkExXYeHfBx-S389KTOz6IBNKaw4xirh0m2wUtdrIPiFNESQLfC5If2cTnFl1HGLfTTMmbO4YdBy6wO6hKEE2YM346Pyol3voJrwUh-chAzfE_6hVMDgljKQ"
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/1483228884/d3bf42ca3a84066fbf4f14feb9838a37/encrypt?api-version=7.4-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RSA-OAEP-256",
        "value": "JJgsq_Ww-u9mhanyNvGqp_VKCr1PZEvKpI59BD9rjXc"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "180"
      },
      "ResponseBody": {
        "alg": "RSA-OAEP-256",
        "kid": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/1483228884/d3bf42ca3a84066fbf4f14feb9838a37",
        "value": "ng0756mdLb-wVyc5x8Y7W5U2KDI3dV4BYW6oGCMjwjYphqgzC4bp_ot3CuwGq0VNcaPShzrAHKUcQp_QrfoZkAwvW54Emje4ibU377SRIQ1MKzA03uKpyMZDI_uXrlAQT65g3t_IH8-cwz28hEjMulcT7Rp50Ykki8Fh_uTpr6BIiRdTCtLsMbv8pVLa5V0uvMEr6wmx_SNA_wmXEyEDT5S_enBKxx5GequSKm1OR6TIRcfUtLtggzd2EkU9U5aWyswAYiXLFwdCYzuVfZFWMxRFoR7b-IxE83sVjSnxXGiEZ34LQloGJp5O18qsMivJEm1ZCYdt8FEQIjaCIdgi9w"
      }
    },
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/1483228884/d3bf42ca3a84066fbf4f14feb9838a37/decrypt?api-version=7.4-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RSA-OAEP-256",
        "value": "ng0756mdLb-wVyc5x8Y7W5U2KDI3dV4BYW6oGCMjwjYphqgzC4bp_ot3CuwGq0VNcaPShzrAHKUcQp_QrfoZkAwvW54Emje4ibU377SRIQ1MKzA03uKpyMZDI_uXrlAQT65g3t_IH8-cwz28hEjMulcT7Rp50Ykki8Fh_uTpr6BIiRdTCtLsMbv8pVLa5V0uvMEr6wmx_SNA_wmXEyEDT5S_enBKxx5GequSKm1OR6TIRcfUtLtggzd2EkU9U5aWyswAYiXLFwdCYzuVfZFWMxRFoR7b-IxE83sVjSnxXGiEZ34LQloGJp5O18qsMivJEm1ZCYdt8FEQIjaCIdgi9w"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "3"
      },
      "ResponseBody": {
        "alg": "RSA-OAEP-256",
        "kid": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/1483228884/d3bf42ca3a84066fbf4f14feb9838a37",
        "value": "JJgsq_Ww-u9mhanyNvGqp_VKCr1PZEvKpI59BD9rjXc"
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com/",
    "AZURE_MANAGEDHSM_URL": "https://heathskeyvaulthsm.managedhsm.azure.net/",
    "RandomSeed": "1694492690"
  }
}
