{
  "Entries": [
    {
      "RequestUri": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/1257793656?api-version=7.4",
      "RequestMethod": "PUT",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://managedhsm.azure.net\u0022",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/1257793656?api-version=7.4",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "key": {
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-384",
          "x": "gj6Ft_vsh_XcZFrN8Myzr1c7q8QfyJt1l7_qLdJ-lOJFyKlwmQ19PVrnqqE7S4AL",
          "y": "QYcCetBOmVP0UHJ7F7QYdZalnXOzuef7yrmHjECQgtmlfgwGPw4A78cGew6BBOb_",
          "d": "Aubp6IT7MjkbeIsHsbc2kL1Ydfip-z0cKu6eGzys1-OyAfPKSRlr4b5JaXd-PXWx"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "652"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1677719097,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1677719097
        },
        "key": {
          "crv": "P-384",
          "key_ops": [
            "sign",
            "verify"
          ],
          "kid": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/1257793656/dedf8bfbcf0943ce1bb4fee91bb8e052",
          "kty": "EC-HSM",
          "x": "gj6Ft_vsh_XcZFrN8Myzr1c7q8QfyJt1l7_qLdJ-lOJFyKlwmQ19PVrnqqE7S4AL",
          "y": "QYcCetBOmVP0UHJ7F7QYdZalnXOzuef7yrmHjECQgtmlfgwGPw4A78cGew6BBOb_"
        }
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/1257793656/dedf8bfbcf0943ce1bb4fee91bb8e052/verify?api-version=7.4",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES384",
        "digest": "IGes50qeYRBdbzG_6AS7aorto0tkQOaUaIxT3fD5_JL0842Fy_AJvk5fD18N4EiC",
        "value": "LPKqyQ4HEhmyexrPfEAt9iXPx6RhpTamCO1LNvNHofxKu_B1swmwjUoPgvG6dWztoITOXbF1yrON6K5jn-v4SyspQKkEDA5mVA-DSHoG7i0LTE_vdXYI1-eOO21GMK2v"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "52"
      },
      "ResponseBody": {
        "alg": "ES384",
        "kid": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/1257793656/dedf8bfbcf0943ce1bb4fee91bb8e052",
        "value": true
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com/",
    "AZURE_MANAGEDHSM_URL": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/",
    "RandomSeed": "1230891912"
  }
}
