{
  "Entries": [
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/429369233?api-version=7.3",
      "RequestMethod": "PUT",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://managedhsm.azure.net\u0022",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/429369233?api-version=7.3",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "key": {
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-521",
          "x": "AVvoFcQjuX1Hb3o1RZ3PPvQQPtWXElQfTjZQPluIIFeTKQiPrJpAA_s6qFif4ejOOJUrird3wVsmCZyic7abp8tC",
          "y": "AWOCAYA2FJFeYg2e3McApy_S4b9MRyGz7Z2LdGVkwDUZcRDlahmLvyG7X7w6EVrjgADkyIbjexPnHb2RXAbQ0hHf",
          "d": "ATjcrFJp7QXmiuCZ9qcLKmeKnKRo83Jh4Qf29o-Chwyr-Yfn07OL71CQ-vbcn2e9j7Q7dHOGYRdOEVjCN9-3gFcI"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "618"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1648058149,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1648058149
        },
        "key": {
          "crv": "P-521",
          "key_ops": [
            "sign",
            "verify"
          ],
          "kid": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/429369233/741417b979210bb591ca6b85a6bca6b1",
          "kty": "EC-HSM",
          "x": "AVvoFcQjuX1Hb3o1RZ3PPvQQPtWXElQfTjZQPluIIFeTKQiPrJpAA_s6qFif4ejOOJUrird3wVsmCZyic7abp8tC",
          "y": "AWOCAYA2FJFeYg2e3McApy_S4b9MRyGz7Z2LdGVkwDUZcRDlahmLvyG7X7w6EVrjgADkyIbjexPnHb2RXAbQ0hHf"
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/429369233/741417b979210bb591ca6b85a6bca6b1/verify?api-version=7.3",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES512",
        "digest": "k2ZBfFQeW7TvQ3Ftoj_rt5C8FTZhq-Y7ktPgXxdTA-028OHnfNZ8wwqsokEsTHjNsq-VIC0t_x2y0xhkuuZEjQ",
        "value": "ANJ30kXODje8MU1Q4P3zsZY8W3H04iBNw_xeFtEU1gueseXpaW-Uku-ExxzzINs4yZPKTTuOEsMU6cZ_8Nlmj950ATF8UrGyG_pCIlFQMw0qdmwQSv4x8ztlJuqIcy_ORuAP6ub_IG7PizW4KQ1L76jC2216ibRlPq_AnE-EIcCmvIqm"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "213"
      },
      "ResponseBody": {
        "alg": "ES512",
        "kid": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/429369233/741417b979210bb591ca6b85a6bca6b1",
        "value": true
      }
    }
  ],
  "Variables": {
    "AZURE_MANAGEDHSM_URL": "https://heathskeyvaulthsm.managedhsm.azure.net/",
    "RandomSeed": "2124098600"
  }
}
