{
  "Entries": [
    {
      "RequestUri": "https://heathskvtst2hsm.managedhsm.azure.net/keys/1071623073?api-version=7.3-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://managedhsm.azure.net\u0022",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://heathskvtst2hsm.managedhsm.azure.net/keys/1071623073?api-version=7.3-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "key": {
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-521",
          "x": "ADg2UhyOc9Jx9MOhPB-w6UxBeSL7rAt6E86Oh6XBWPPPA69xFxNsRaafZEenNiqTdYDV_i7SqDHAdgdr6Et1DTxM",
          "y": "AK7031lfuR-xxbi99DQzYc1ajAXNvpnXAjoDsqmJrFYh7ooV2ofYgGDpckNe2Giv8N2MD00cdGkmtTvM0X20gsgp",
          "d": "ATQWIItxtt4fLPa0KqHj7K1ihhCjQKxcM3nCWK-2EOKYncbZ5WObKd-lBGZP1WnjFEYJ9YZvqTve-ydNDcySx0uV"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "599"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1627947375,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1627947375
        },
        "key": {
          "crv": "P-521",
          "key_ops": [
            "sign",
            "verify"
          ],
          "kid": "https://heathskvtst2hsm.managedhsm.azure.net/keys/1071623073/cb3f96b82cda071234879f15a2dee7ad",
          "kty": "EC-HSM",
          "x": "ADg2UhyOc9Jx9MOhPB-w6UxBeSL7rAt6E86Oh6XBWPPPA69xFxNsRaafZEenNiqTdYDV_i7SqDHAdgdr6Et1DTxM",
          "y": "AK7031lfuR-xxbi99DQzYc1ajAXNvpnXAjoDsqmJrFYh7ooV2ofYgGDpckNe2Giv8N2MD00cdGkmtTvM0X20gsgp"
        }
      }
    },
    {
      "RequestUri": "https://heathskvtst2hsm.managedhsm.azure.net/keys/1071623073/cb3f96b82cda071234879f15a2dee7ad/verify?api-version=7.3-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES512",
        "digest": "tvzOsgrXniQsLCtorX51hRdnpLq2YdPAAgS0VCKRhx_kt7hzSRdqVPUWv4U1B5aGPsDWGOH4BKgYoSO3xQ9XOg",
        "value": "AO1a9hIpyulr39byGarExJgSsMNewFyhLiLEX_-UW0Zb6Wrx6Dse__npkE0s9Gjn_vlgDGChFuTXGgN3OTcVZmDeABMq4RwTe3mfMZoAUBfDVXhc98wJ37TChPvbMuQyV35Mzo3uzlNAo7aMzR8TuNFaSABAPbxxLSIsj4gBCo3k1yly"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "186"
      },
      "ResponseBody": {
        "alg": "ES512",
        "kid": "https://heathskvtst2hsm.managedhsm.azure.net/keys/1071623073/cb3f96b82cda071234879f15a2dee7ad",
        "value": true
      }
    }
  ],
  "Variables": {
    "AZURE_MANAGEDHSM_URL": "https://heathskvtst2hsm.managedhsm.azure.net/",
    "RandomSeed": "2112871279"
  }
}