{
  "Entries": [
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/1205633463?api-version=7.2",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://managedhsm.azure.net\u0022",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/1205633463?api-version=7.2",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "key": {
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-384",
          "x": "1RLvS0V7FOUXNzEGPEIpyMdot5agUMLmLaNpnL_9S_q9xQL-HegZART5XOWihFNs",
          "y": "rxFHQ25icLBoPgWeth1QCpWp2CKF4HsjGjMGEHA_rcBexx8ihPAJvvT1t1ACXwLf",
          "d": "4h2LdIqw6sPLzkMHs8sG0kCvRgNoNLneTVGW_IwYmU40QsQeCRDWTPI9WZJ4mdfI"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "582"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1613812224,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 90,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "updated": 1613812224
        },
        "key": {
          "crv": "P-384",
          "key_ops": [
            "sign",
            "verify"
          ],
          "kid": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/1205633463/eb37db82a7ca0d63aa2d4c28a24ea3bc",
          "kty": "EC-HSM",
          "x": "1RLvS0V7FOUXNzEGPEIpyMdot5agUMLmLaNpnL_9S_q9xQL-HegZART5XOWihFNs",
          "y": "rxFHQ25icLBoPgWeth1QCpWp2CKF4HsjGjMGEHA_rcBexx8ihPAJvvT1t1ACXwLf"
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/1205633463/eb37db82a7ca0d63aa2d4c28a24ea3bc/verify?api-version=7.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES384",
        "digest": "ckNT-rw0Kn88S7EX9H5lN0U7OQA60QhYRVse6gL-P-_P34rFIAyMUyNGQiP9lKun",
        "value": "IHtPkfJmUEqInk3RX9BmY4Owgrnz4xUmcRxGF5v1x3JLw06Gtkk3hms5DkLgVpz8FPVXRJ46M0PrH2-QHkhgjUoGxiPgUWKM93N8kLGXbL7Xl9N2FZjYzM42ut7Oubie"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "174"
      },
      "ResponseBody": {
        "alg": "ES384",
        "kid": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/1205633463/eb37db82a7ca0d63aa2d4c28a24ea3bc",
        "value": true
      }
    }
  ],
  "Variables": {
    "AZURE_MANAGEDHSM_URL": "https://heathskeyvaulthsm.managedhsm.azure.net/",
    "RandomSeed": "1888918366"
  }
}