{
  "Entries": [
    {
      "RequestUri": "https://heathskvtesthsm.managedhsm.azure.net/keys/883085348?api-version=7.2",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://managedhsm.azure.net\u0022",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://heathskvtesthsm.managedhsm.azure.net/keys/883085348?api-version=7.2",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "key": {
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-521",
          "x": "AFTEjYh86zyZnXunDoX-bH-7gfIc0TRH49sSf7WW_-S62zJdT_KhLF0EL5LBJSpAqrJgOZNW9uOztXEgHv23ukKo",
          "y": "AUBohs52niYd6PXtkZ7zwdFSDerjgnHOaiJFtEMVGV6t5NpB4kc_2pHJN0QYwzkCMddKN0HBDenV-wQwQGWyUrBd",
          "d": "Abe5q-9Kx5YsLNUrEWut3E23ieg-WVS5vf_U_Zjs_JQEbcAAxiszw7-rlWQvPIYwNsvR5-bpnfRiaJY6kNVotS4F"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "522"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1626228325,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 90,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "updated": 1626228325
        },
        "key": {
          "crv": "P-521",
          "key_ops": [
            "sign",
            "verify"
          ],
          "kid": "https://heathskvtesthsm.managedhsm.azure.net/keys/883085348/a79e015324b6421d1508fcaab1e6e3bc",
          "kty": "EC-HSM",
          "x": "AFTEjYh86zyZnXunDoX-bH-7gfIc0TRH49sSf7WW_-S62zJdT_KhLF0EL5LBJSpAqrJgOZNW9uOztXEgHv23ukKo",
          "y": "AUBohs52niYd6PXtkZ7zwdFSDerjgnHOaiJFtEMVGV6t5NpB4kc_2pHJN0QYwzkCMddKN0HBDenV-wQwQGWyUrBd"
        }
      }
    },
    {
      "RequestUri": "https://heathskvtesthsm.managedhsm.azure.net/keys/883085348/a79e015324b6421d1508fcaab1e6e3bc/verify?api-version=7.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES512",
        "digest": "n_xKta_LlxdpW_7cwIYz51lV8JnQPG-3QJQ1Hf-nPQpb0_Jh3NVjlynseKXpXOfNhy7SfcWgjANHMiY8BVH4sg",
        "value": "AV_LAQJLEu-0Zie65BotlHK_iAPrG15J0_03p8F6geIa21AhmfmOM6NO9fBLUOGIpS_Fwa3D9Q4bSv5QdPsnIcOtAeptLNdETBKqqaWgzOSZTpwWpjA5mByB8zspV1slit8A4h7l2aIbCqmmboLJvELgkmyTzmXFpvDbsmTurA6QVtwl"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "247"
      },
      "ResponseBody": {
        "alg": "ES512",
        "kid": "https://heathskvtesthsm.managedhsm.azure.net/keys/883085348/a79e015324b6421d1508fcaab1e6e3bc",
        "value": true
      }
    }
  ],
  "Variables": {
    "AZURE_MANAGEDHSM_URL": "https://heathskvtesthsm.managedhsm.azure.net/",
    "RandomSeed": "858399598"
  }
}