{
  "Entries": [
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/421057640?api-version=7.4-preview.1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://managedhsm.azure.net\u0022",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/421057640?api-version=7.4-preview.1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "key": {
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-256",
          "x": "9hdMh8ITnGRy748q51P-IZ6VtC0wB1VSXgZerYj-fqU",
          "y": "X4JdSjcE2hJ4vVtjDvwB00coOEYfHukSDI8kVFD6ipE",
          "d": "pq-dg2CVEIXERmW4ARBJrgyxf3fInLGPdFRgwMQn58g"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "421"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1667430987,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1667430987
        },
        "key": {
          "crv": "P-256",
          "key_ops": [
            "sign",
            "verify"
          ],
          "kid": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/421057640/d4efdab1e42e4db111f6e183448b8502",
          "kty": "EC-HSM",
          "x": "9hdMh8ITnGRy748q51P-IZ6VtC0wB1VSXgZerYj-fqU",
          "y": "X4JdSjcE2hJ4vVtjDvwB00coOEYfHukSDI8kVFD6ipE"
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/421057640/d4efdab1e42e4db111f6e183448b8502/verify?api-version=7.4-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES256",
        "digest": "ER4T6GHUTkBX6uYTZsK-3UXwHUbqPaaN6tDJf6sn5dE",
        "value": "_u2x6_rGLVj-1XAFpjrbo4X1-_BI8cu6KspOX41UQmWVGTzbi8p71xEhAHcBvIbA2QkT7Tcgod2WXv5plNNbdQ"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "124"
      },
      "ResponseBody": {
        "alg": "ES256",
        "kid": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/421057640/d4efdab1e42e4db111f6e183448b8502",
        "value": true
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com/",
    "AZURE_MANAGEDHSM_URL": "https://heathskeyvaulthsm.managedhsm.azure.net/",
    "RandomSeed": "1981672301"
  }
}
