{
  "Entries": [
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/1351994727?api-version=7.4-preview.1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://managedhsm.azure.net\u0022",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/1351994727?api-version=7.4-preview.1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "key": {
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-256",
          "x": "6ChXX69u6IDiDD8CCOjCNyeKo-0wxn3H62GvUwindsQ",
          "y": "hMMFDz1XkqrFHsgZT-nonP1nbLB2ASAjiybvk35u3MM",
          "d": "lAoSa6IHxdCTVHn1U9YU6snurwVS1asnar9bHXhGr6w"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "404"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1667431092,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1667431092
        },
        "key": {
          "crv": "P-256",
          "key_ops": [
            "sign",
            "verify"
          ],
          "kid": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/1351994727/97299566c573021225ee713d47e63713",
          "kty": "EC-HSM",
          "x": "6ChXX69u6IDiDD8CCOjCNyeKo-0wxn3H62GvUwindsQ",
          "y": "hMMFDz1XkqrFHsgZT-nonP1nbLB2ASAjiybvk35u3MM"
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/1351994727/97299566c573021225ee713d47e63713/verify?api-version=7.4-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES256",
        "digest": "frEEf0jvFEROgqN_Zla2EN4LXg40CO4p_BkQoS4HGIA",
        "value": "uIVCr4idoReaFDmxVrlxuHDiE2cxebHxk6M15F0D87PFMeC6hTbdFtikNLI17HaAbytpgJ0v4HLkTWQ15Kr0eg"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "199"
      },
      "ResponseBody": {
        "alg": "ES256",
        "kid": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/1351994727/97299566c573021225ee713d47e63713",
        "value": true
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com/",
    "AZURE_MANAGEDHSM_URL": "https://heathskeyvaulthsm.managedhsm.azure.net/",
    "RandomSeed": "1079159391"
  }
}
