{
  "Entries": [
    {
      "RequestUri": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/451279044/create?api-version=7.4",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://managedhsm.azure.net\u0022",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/451279044/create?api-version=7.4",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC",
        "crv": "P-384"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "308"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1677719156,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1677719156
        },
        "key": {
          "crv": "P-384",
          "key_ops": [
            "verify",
            "sign"
          ],
          "kid": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/451279044/fb2c4ca81c1908943afc9c4ef13a08dd",
          "kty": "EC-HSM",
          "x": "NEKDRU_zFud7owzQjnKQE0wblo4pAgADjNu75CpynOYEAg3BcWyv-3NE0aC_DzzD",
          "y": "XzpxjZwyoPH5T76BHtxlfQMb73RtA1iiI4ZlIoBUmAw7vXq-lFsAYR_D8z2liY1e"
        }
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/451279044/fb2c4ca81c1908943afc9c4ef13a08dd/sign?api-version=7.4",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES384",
        "value": "8UT5VL2QpJhQ9FwM3RoXrLrMDjLPpGAS6QvZkmXzouCX5PRLQvIbSMFfp8NTO78F"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "38"
      },
      "ResponseBody": {
        "alg": "ES384",
        "kid": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/451279044/fb2c4ca81c1908943afc9c4ef13a08dd",
        "value": "6a3hp0PkNmwlLWK7gBDYe8O5VBhev24s9hkiM3wZKn9ym6bEcsxBcoRdURgCNV7kcKtNIPBksASgNke-GMyWkFORXcR4q7rYVWWspW2LnA_zs7TiB5gJpcQg6Fu5J0qb"
      }
    },
[...]
    {
      "RequestUri": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/451279044/fb2c4ca81c1908943afc9c4ef13a08dd/verify?api-version=7.4",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES384",
        "digest": "8UT5VL2QpJhQ9FwM3RoXrLrMDjLPpGAS6QvZkmXzouCX5PRLQvIbSMFfp8NTO78F",
        "value": "pdIHntVqqIF8VUtRGHDm8YhZ2R6DKrSGkJqnb2tAs9yh-UhIq2NzNNgW9wIh3g6m5rzxhLDC_pHbZeKl-qClXiBw883pdcsSyNp7PBPrcMIcngYMFUjxm0HSJB8I9pUK"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "25"
      },
      "ResponseBody": {
        "alg": "ES384",
        "kid": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/451279044/fb2c4ca81c1908943afc9c4ef13a08dd",
        "value": true
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/451279044/fb2c4ca81c1908943afc9c4ef13a08dd/verify?api-version=7.4",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES384",
        "digest": "8UT5VL2QpJhQ9FwM3RoXrLrMDjLPpGAS6QvZkmXzouCX5PRLQvIbSMFfp8NTO78F",
        "value": "6a3hp0PkNmwlLWK7gBDYe8O5VBhev24s9hkiM3wZKn9ym6bEcsxBcoRdURgCNV7kcKtNIPBksASgNke-GMyWkFORXcR4q7rYVWWspW2LnA_zs7TiB5gJpcQg6Fu5J0qb"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "23"
      },
      "ResponseBody": {
        "alg": "ES384",
        "kid": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/451279044/fb2c4ca81c1908943afc9c4ef13a08dd",
        "value": true
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com/",
    "AZURE_MANAGEDHSM_URL": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/",
    "RandomSeed": "125857790"
  }
}
