{
  "Entries": [
    {
      "RequestUri": "https://heathskvtesthsm.managedhsm.azure.net/keys/2016857876/create?api-version=7.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://managedhsm.azure.net\u0022",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://heathskvtesthsm.managedhsm.azure.net/keys/2016857876/create?api-version=7.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "235"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1626282514,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 90,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "updated": 1626282514
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://heathskvtesthsm.managedhsm.azure.net/keys/2016857876/f69c9d0dbd3e02cab7224c2ff94ba33e",
          "kty": "RSA-HSM",
          "n": "ifNPFCOzV3LGcJeqUCSYqoi8R6Wwln5yt5n4Or4jL-ysYo_7EjsjtsgrEYNhjFXDvncS1Tdkx9l6LaWG-Dh9iOC2z4L-Puj0zr7XOuDkPc4bLuYraOaNgcxGty1kq4rD78mRJIomVxqMmcT_7QVyHtBiT5M9ePBDQ7XyemZBLdue334ytSqVLtSZkDIs_yAulM1h6ZHZ-qxLXCRHrRHcV-OQmJTpQ2qdqMIX6f0sRmljpD8exy21Dqtdu0iX1getq4mv41tEtR_kHx9L9bAmv18IiRPAdHyyifzhLJnrsli3sTrYrbI_OXxNf6bscQwoH9_QRYOcYJRZNkZPmv0dPQ"
        }
      }
    },
    {
      "RequestUri": "https://heathskvtesthsm.managedhsm.azure.net/keys/2016857876/f69c9d0dbd3e02cab7224c2ff94ba33e?api-version=7.2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20210605-1-ffd80f31-develop",
        "x-ms-server-latency": "126"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1626282514,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 90,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "updated": 1626282514
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "verify",
            "sign",
            "unwrapKey",
            "encrypt",
            "decrypt"
          ],
          "kid": "https://heathskvtesthsm.managedhsm.azure.net/keys/2016857876/f69c9d0dbd3e02cab7224c2ff94ba33e",
          "kty": "RSA-HSM",
          "n": "ifNPFCOzV3LGcJeqUCSYqoi8R6Wwln5yt5n4Or4jL-ysYo_7EjsjtsgrEYNhjFXDvncS1Tdkx9l6LaWG-Dh9iOC2z4L-Puj0zr7XOuDkPc4bLuYraOaNgcxGty1kq4rD78mRJIomVxqMmcT_7QVyHtBiT5M9ePBDQ7XyemZBLdue334ytSqVLtSZkDIs_yAulM1h6ZHZ-qxLXCRHrRHcV-OQmJTpQ2qdqMIX6f0sRmljpD8exy21Dqtdu0iX1getq4mv41tEtR_kHx9L9bAmv18IiRPAdHyyifzhLJnrsli3sTrYrbI_OXxNf6bscQwoH9_QRYOcYJRZNkZPmv0dPQ"
        }
      }
    },
    {
      "RequestUri": "https://heathskvtesthsm.managedhsm.azure.net/keys/2016857876/f69c9d0dbd3e02cab7224c2ff94ba33e/sign?api-version=7.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "PS256",
        "value": "W2i1j25QQwyaKNLsyQ90PIekfk1Gf4Wlul58tDgw-Ec"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "2"
      },
      "ResponseBody": {
        "alg": "PS256",
        "kid": "https://heathskvtesthsm.managedhsm.azure.net/keys/2016857876/f69c9d0dbd3e02cab7224c2ff94ba33e",
        "value": "JjwpMMz9fSQ7CK2MM8HdSonHFww8jnCPoVjmSMaRK7HIhsilyVe5FNMYKIXpHXKkRU5ydDlrzBZzIPSu95ZAXZb3WDLNZE4QHBb-9p9CtebcD2hTp0rCfoAiWeSAHMgVC7ArgbsT_kAY3H3DazypwgM7j6EtqYgm88D2COaPGZ3ovj-sGdMlMDVmkz0K-mR2q_XTMrI_lY7gmZycklqVVOr79prnV1uVdcSnqdG-XSYcQ1a_MtHWsW72oYk_m9Qe4R5SSObDKRTamYAAB-Lqznc8E5ju7aTUaaR-RAW6wCUeGmqAJX_2CDTkA5eWcpGA1XMb36Z53X0RlMDLkMposw"
      }
    }
  ],
  "Variables": {
    "AZURE_MANAGEDHSM_URL": "https://heathskvtesthsm.managedhsm.azure.net/",
    "RandomSeed": "1383600223"
  }
}