{
  "Entries": [
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/137664481/create?api-version=7.4-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://managedhsm.azure.net\u0022",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/137664481/create?api-version=7.4-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "277"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1667431103,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1667431103
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/137664481/51bba6ff368e43b821a09cf0b0dc1790",
          "kty": "RSA-HSM",
          "n": "hvNzz_2gle0mXf53r1GDFM_TG6rfRjrmUo2CxrsWlOA7NG9VJV9niTlYyp9NPx66nhV9UJXQfPbFH8v-mLuQGxoJmvWEKYp2X5XPcizb7_wT7tpsxfJRD2BlRMsHh3nzYVhvZx8NrC_WNWBqYs_erAI0kguXYyTiwwbok_9Z04yfGYUYsWufbvuPvYXuYKSJBwramnmMVNWuVsVPmFmGDVTJMjSkYWfiNSG5K1EUjm0n-1a6EBlGWVOvKkkh-5qOqS50tVCVegbVN0i9zP8zuQNkW4KR6wk8M8jDZicDSeOlYwsCcKNpATCJweWByKvRNbRYm_tMgflTsf2B2R_YKQ"
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/137664481/51bba6ff368e43b821a09cf0b0dc1790?api-version=7.4-preview.1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20221020-1-945ffe56-develop",
        "x-ms-server-latency": "177"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1667431103,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1667431103
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "verify",
            "sign",
            "unwrapKey",
            "encrypt",
            "decrypt"
          ],
          "kid": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/137664481/51bba6ff368e43b821a09cf0b0dc1790",
          "kty": "RSA-HSM",
          "n": "hvNzz_2gle0mXf53r1GDFM_TG6rfRjrmUo2CxrsWlOA7NG9VJV9niTlYyp9NPx66nhV9UJXQfPbFH8v-mLuQGxoJmvWEKYp2X5XPcizb7_wT7tpsxfJRD2BlRMsHh3nzYVhvZx8NrC_WNWBqYs_erAI0kguXYyTiwwbok_9Z04yfGYUYsWufbvuPvYXuYKSJBwramnmMVNWuVsVPmFmGDVTJMjSkYWfiNSG5K1EUjm0n-1a6EBlGWVOvKkkh-5qOqS50tVCVegbVN0i9zP8zuQNkW4KR6wk8M8jDZicDSeOlYwsCcKNpATCJweWByKvRNbRYm_tMgflTsf2B2R_YKQ"
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/137664481/51bba6ff368e43b821a09cf0b0dc1790/sign?api-version=7.4-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "PS256",
        "value": "qbr2vKra-HvhgzAnp9wUT0vjro0L4VaxXsMPrUMOtFg"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "3"
      },
      "ResponseBody": {
        "alg": "PS256",
        "kid": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/137664481/51bba6ff368e43b821a09cf0b0dc1790",
        "value": "Nzowmf0thQrfAe4cd_TSVk4XOfrqi3Fy_RlTwRTU9rTQrnse6UfnD41h71nq-IfY3gDSsvisyb8gbxjmXFBOEbhUamG3y_HswSe6kCQ09VYqeQqOKReRGsj_zazIN-xJjrQZKYQuZ0UWtiT0eSjkCUDKjrQaM8XidCA04M5yx3OUflgAUylEb-qOlUIsY8eUXS3qRXun2dOQ1H34EQITcKK-ChPDyGPt7ox7hK9wNEYCSGi8o0dHsjzhIAHWBl4AAYzeydMmRMHgkfe8CscGLPdKrx0LSO7lzHVqe2GSeJzsgHkrjuxPsVTAfb8LrEYkSfxcbcIzpAx64Z0AN-flKQ"
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com/",
    "AZURE_MANAGEDHSM_URL": "https://heathskeyvaulthsm.managedhsm.azure.net/",
    "RandomSeed": "1286241771"
  }
}
