{
  "Entries": [
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/1296710535/create?api-version=7.4-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://managedhsm.azure.net\u0022",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/1296710535/create?api-version=7.4-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC",
        "crv": "P-521"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "409"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1667431133,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1667431133
        },
        "key": {
          "crv": "P-521",
          "key_ops": [
            "verify",
            "sign"
          ],
          "kid": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/1296710535/5d8bd96e09ee4df008181f714ad28fad",
          "kty": "EC-HSM",
          "x": "AOpAVJ15gLZebY3MA53-oO_fOl3-4VkKCxDTw0J3wndber6np_Ss8ZuKiOhexEVanj8sebwbYKyqDBwrFzE8LCHE",
          "y": "AG4DglXpaTWlEFRd_nQp_DerRvssSZ1QblrbUwKLMLc6v90vsHaZPTElCDEFsc6-EvJYvmiDdw3bQZk8pLpdrRe1"
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/1296710535/5d8bd96e09ee4df008181f714ad28fad/sign?api-version=7.4-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES512",
        "value": "5x6sl4yltVpAQsPYmC3TZMVtxPaP-TYpWSCIMzLNhWIY83j0BJaWA6F2b4h3XgH00sph0EO3vq6UO0CID_gMqw"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "238"
      },
      "ResponseBody": {
        "alg": "ES512",
        "kid": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/1296710535/5d8bd96e09ee4df008181f714ad28fad",
        "value": "AJ2max3UgzpnV6RGZ8FC9Ivyfe2hq7jVOSEpPp8geK06d4Y-OujotZZHt8EEPSAF6owEXlU2iCihOV1eBGvsIGIhAO0wvf_3UbxxpZOUzfq04s4ITkeNO9s8XxxOFMeifGewO4r0aj-p0P7t1hHziO-BNqwOKPby8-E1wgAcWakP9PVc"
      }
    },
[...]
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/1296710535/5d8bd96e09ee4df008181f714ad28fad/verify?api-version=7.4-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES512",
        "digest": "5x6sl4yltVpAQsPYmC3TZMVtxPaP-TYpWSCIMzLNhWIY83j0BJaWA6F2b4h3XgH00sph0EO3vq6UO0CID_gMqw",
        "value": "ALSJiTgAaX8vDbrpV8kYYPKZAGv51zOxp1CgZbzXPf6__Kp1x2fV_tfX7bWEgxiGKbaohui_tj2q7-oe8wjZ0Z9vAEdSNhl_EFAX-AAwrc4n2Q8D953cEICDxGScHe-QQcPmkjwF59yt46_pFAGRHLA5s_Kr1cvtkbczuSKJB-QM3EO_"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "71"
      },
      "ResponseBody": {
        "alg": "ES512",
        "kid": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/1296710535/5d8bd96e09ee4df008181f714ad28fad",
        "value": true
      }
    },
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/1296710535/5d8bd96e09ee4df008181f714ad28fad/verify?api-version=7.4-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES512",
        "digest": "5x6sl4yltVpAQsPYmC3TZMVtxPaP-TYpWSCIMzLNhWIY83j0BJaWA6F2b4h3XgH00sph0EO3vq6UO0CID_gMqw",
        "value": "AJ2max3UgzpnV6RGZ8FC9Ivyfe2hq7jVOSEpPp8geK06d4Y-OujotZZHt8EEPSAF6owEXlU2iCihOV1eBGvsIGIhAO0wvf_3UbxxpZOUzfq04s4ITkeNO9s8XxxOFMeifGewO4r0aj-p0P7t1hHziO-BNqwOKPby8-E1wgAcWakP9PVc"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "71"
      },
      "ResponseBody": {
        "alg": "ES512",
        "kid": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/1296710535/5d8bd96e09ee4df008181f714ad28fad",
        "value": true
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com/",
    "AZURE_MANAGEDHSM_URL": "https://heathskeyvaulthsm.managedhsm.azure.net/",
    "RandomSeed": "517573947"
  }
}
