{
  "Entries": [
    {
      "RequestUri": "https://heathskvtesthsm.managedhsm.azure.net/keys/1513231323/create?api-version=7.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://managedhsm.azure.net\u0022",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://heathskvtesthsm.managedhsm.azure.net/keys/1513231323/create?api-version=7.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "214"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1626228376,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 90,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "updated": 1626228376
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://heathskvtesthsm.managedhsm.azure.net/keys/1513231323/f1b7d068e7714dee154314182d51661d",
          "kty": "RSA-HSM",
          "n": "lbEg4JxY7M6o_sU8ngMr-FjiIBpRMhyf8wUVS21XprQ7pjUettzR5zC0rhKsRMbd7tKMajBS0FrkCEZGKULDGYue7LUtQnCYBgwpBbNaJlNO2p2o1BuF_JaFamXcCRPlvjssKG2rlKwcDfX8BGE8TnUa5YU5aE_9PmAIglUx2TJDdQZYfVJgUoZ-klw4fTpEUPEcX59R1d7NSZ7RtnHx8aMOcXjTIcL_rinUMlSeFJkwedOrkvYXYIsEm3xUN6fVLx1IJrBWFrK6LAiIS4d8B6e2RLjwQf5s3e-RMirNsTxmBUu9wLDbD-Xk7brNaiKix_I3tEAnbcLw5GziKW2hfw"
        }
      }
    },
    {
      "RequestUri": "https://heathskvtesthsm.managedhsm.azure.net/keys/1513231323/f1b7d068e7714dee154314182d51661d/sign?api-version=7.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "PS512",
        "value": "GqzP2zjxclkGp133GT3wl3xK0IPhtPrX15unW3xQbaqqGvwUWE_Vk1AKK1nxC5ybdLqzSOlW_VQFgHnrTCPA4Q"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "105"
      },
      "ResponseBody": {
        "alg": "PS512",
        "kid": "https://heathskvtesthsm.managedhsm.azure.net/keys/1513231323/f1b7d068e7714dee154314182d51661d",
        "value": "GR64fHMOfRv1pmIoNMOuNn5rZtSNjpYrLrJRuXVxTeL-zIutubGyqMA-rOOB3-ib9a94yfEey6MB70Rw_FUixjWn64gatyXe7fp6nvyGSuE2cfWY7uVR2qTIW_6Yr5Ha6V8iQQONIRQ_oiLSkY53pdici23H46RMRhAPIsJIxBjHZwSMdvPaT0OtIjBv0FMy748pH3HYxFDVFyiz1jswP7SxbaBMP2Fgd0vnKUQLjvutjrrBePWgmt8XPNMg0KFoNzBKjXKgfBWFT551c6mQgKZIz_uB7HND5M9D7SjxIzMWbGcx8kFcyV5V310itIoAlQrYIkHx1XfPg2zjq5nSJQ"
      }
    },
[...]
    {
      "RequestUri": "https://heathskvtesthsm.managedhsm.azure.net/keys/1513231323/f1b7d068e7714dee154314182d51661d/verify?api-version=7.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "PS512",
        "digest": "GqzP2zjxclkGp133GT3wl3xK0IPhtPrX15unW3xQbaqqGvwUWE_Vk1AKK1nxC5ybdLqzSOlW_VQFgHnrTCPA4Q",
        "value": "kyK0Owcipt73CrNvMsAYgeFblJskOQefarxyiObOwwAUHbjQK72mFenX7lG0sFxIhpYuoFNoulhndAzytCPZbRiKmXNRuLeQdLRyeJ9o3YcIBXx1OufmBLEvM2bFIe857nTHCwWOeTHNj6Iq-MLG30yEbVRwmowKbF5I9P_4Pu8E2-26aGjRyAiyDQLFBjiWR5gFsb9N5WdI2f-9O08EXtITOS6cqtFfuH2Gjl4DGAj4Qwrl4Bh9AzpcbIGd8RfLbqv54VOGZV6JvY8LWzz_QRbeBM3O4t5VgNbUnxMsjYZ3FwEjikbhJ3FfxShmS80Il4KltMPkxr8XIsnQAwMU4w"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": {
        "alg": "PS512",
        "kid": "https://heathskvtesthsm.managedhsm.azure.net/keys/1513231323/f1b7d068e7714dee154314182d51661d",
        "value": true
      }
    },
    {
      "RequestUri": "https://heathskvtesthsm.managedhsm.azure.net/keys/1513231323/f1b7d068e7714dee154314182d51661d/verify?api-version=7.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "PS512",
        "digest": "GqzP2zjxclkGp133GT3wl3xK0IPhtPrX15unW3xQbaqqGvwUWE_Vk1AKK1nxC5ybdLqzSOlW_VQFgHnrTCPA4Q",
        "value": "GR64fHMOfRv1pmIoNMOuNn5rZtSNjpYrLrJRuXVxTeL-zIutubGyqMA-rOOB3-ib9a94yfEey6MB70Rw_FUixjWn64gatyXe7fp6nvyGSuE2cfWY7uVR2qTIW_6Yr5Ha6V8iQQONIRQ_oiLSkY53pdici23H46RMRhAPIsJIxBjHZwSMdvPaT0OtIjBv0FMy748pH3HYxFDVFyiz1jswP7SxbaBMP2Fgd0vnKUQLjvutjrrBePWgmt8XPNMg0KFoNzBKjXKgfBWFT551c6mQgKZIz_uB7HND5M9D7SjxIzMWbGcx8kFcyV5V310itIoAlQrYIkHx1XfPg2zjq5nSJQ"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": {
        "alg": "PS512",
        "kid": "https://heathskvtesthsm.managedhsm.azure.net/keys/1513231323/f1b7d068e7714dee154314182d51661d",
        "value": true
      }
    }
  ],
  "Variables": {
    "AZURE_MANAGEDHSM_URL": "https://heathskvtesthsm.managedhsm.azure.net/",
    "RandomSeed": "1118559645"
  }
}