{
  "Entries": [
    {
      "RequestUri": "https://heathskvtesthsm.managedhsm.azure.net/keys/1174976188/create?api-version=7.3-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://managedhsm.azure.net\u0022",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://heathskvtesthsm.managedhsm.azure.net/keys/1174976188/create?api-version=7.3-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "246"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1626299904,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 90,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "updated": 1626299904
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://heathskvtesthsm.managedhsm.azure.net/keys/1174976188/2d5e8f6db4810759bb1d3e1cad9ce1ee",
          "kty": "RSA-HSM",
          "n": "r_-Rkq6_zMsyFhX-XUDbO3RQpwvPm3BX5V9Ah4N0HePzPnO-IT35h4eVoQoePS2qWUWTPwskwD-tqYqL_KrUdY7kqBa4l1Cf36j_2jM1lq183UlkqEQsbUWFO2wvJ0LCvUryKiz1hoDmGoxtK8p3Q65ztVLey7DRaZqEsM4F9yhlhNt96ft_6qqP6vQYAs-ECE8gNnwz21DU_4wr6YRvO_XDMtpULsR_yWGOJtiF2fjbXIGxfNSNAQOmPmc5vekpsGx0-3ci0FxqGcnafzjN0RRKtEubxBQT_9ChW0xu8RQUp4YnDLlEggRPTtDrG1_YEgFIUnXUytm-IBV17a_3WQ"
        }
      }
    },
    {
      "RequestUri": "https://heathskvtesthsm.managedhsm.azure.net/keys/1174976188/2d5e8f6db4810759bb1d3e1cad9ce1ee?api-version=7.3-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20210605-1-ffd80f31-develop",
        "x-ms-server-latency": "150"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1626299904,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 90,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "updated": 1626299904
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "verify",
            "sign",
            "unwrapKey",
            "encrypt",
            "decrypt"
          ],
          "kid": "https://heathskvtesthsm.managedhsm.azure.net/keys/1174976188/2d5e8f6db4810759bb1d3e1cad9ce1ee",
          "kty": "RSA-HSM",
          "n": "r_-Rkq6_zMsyFhX-XUDbO3RQpwvPm3BX5V9Ah4N0HePzPnO-IT35h4eVoQoePS2qWUWTPwskwD-tqYqL_KrUdY7kqBa4l1Cf36j_2jM1lq183UlkqEQsbUWFO2wvJ0LCvUryKiz1hoDmGoxtK8p3Q65ztVLey7DRaZqEsM4F9yhlhNt96ft_6qqP6vQYAs-ECE8gNnwz21DU_4wr6YRvO_XDMtpULsR_yWGOJtiF2fjbXIGxfNSNAQOmPmc5vekpsGx0-3ci0FxqGcnafzjN0RRKtEubxBQT_9ChW0xu8RQUp4YnDLlEggRPTtDrG1_YEgFIUnXUytm-IBV17a_3WQ"
        }
      }
    },
    {
      "RequestUri": "https://heathskvtesthsm.managedhsm.azure.net/keys/1174976188/2d5e8f6db4810759bb1d3e1cad9ce1ee/sign?api-version=7.3-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RS512",
        "value": "OHacct1WF4yVbz2bkbjfzpaUY-gFmW029EC61pJQNFV5fvYMUZgr8SHaTvgSQ7VUcIi7IiHideunfl4nkqMnRQ"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "3"
      },
      "ResponseBody": {
        "alg": "RS512",
        "kid": "https://heathskvtesthsm.managedhsm.azure.net/keys/1174976188/2d5e8f6db4810759bb1d3e1cad9ce1ee",
        "value": "Pp6en6ibg64_kTmRGCIFYV-2rfsE4B9ls4OtpNFbZQQPumWaeag68GXjgdqkgxYEL2DNyoZae9eEv_CJUKoylo5ZyryHdN9uGNOMKwHYoacwtpBI7X-OBgwMJrO2DVizflgZsXQv_BhypGaVcymkd2lJZgXBWpoo4y-EIbjKov-Inh-HRYj9TMUZ50uas2MH75friRxGJgvR03ZpReNeMN_zuY4khq7Zo5NnSYHXPruuGbenoUWrYIsgo0gwoeLnYKQEAOoJ8rPl4UzTsVLELptCcUt7ybPFEH_LxkswmtK19ctiqXJ5GOemsLl7OI9ucpJ1JIDcHbiCb3eEKXaypQ"
      }
    }
  ],
  "Variables": {
    "AZURE_MANAGEDHSM_URL": "https://heathskvtesthsm.managedhsm.azure.net/",
    "RandomSeed": "1291230998"
  }
}