{
  "Entries": [
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/1060910490/create?api-version=7.3",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://managedhsm.azure.net\u0022",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/1060910490/create?api-version=7.3",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "216"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1648058153,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1648058153
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/1060910490/95e5c084e9390474af7218576f1a8deb",
          "kty": "RSA-HSM",
          "n": "uHdAzOKAzVLtyk3RRFitiJLRaYPiZcL7DgEQgayEUWYlcvZRjURZ8IXzxU_6hSq7NMRbWx4m5UJTIvxDYFiRuFJfVeMO3AH-SEN62G1-m0-r1yh_D6bdjVj9MmuwoYUnD0BRkiAvSX04XhWtm7W_7g_H_UzLe2xPwFvhg4VDT0HpXMo7MuPhRhng5CBy68gZfWGuDdQcabaHNMg9u-V75dCMI4tBilqjXkro0Y_HBJ328qiqlvi-Cl2luNtFzFSD8xJK-ieY9kO7zTcMI4JKyh_MQD_MMnlusiEcOKuWszJRfziKucpnVQ8a4_2BPjCLikDqWw9u5FBsSN6-sKaRTQ"
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/1060910490/95e5c084e9390474af7218576f1a8deb?api-version=7.3",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20220305-2-902fedaa-closebadconnections",
        "x-ms-server-latency": "83"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1648058153,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1648058153
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "verify",
            "sign",
            "unwrapKey",
            "encrypt",
            "decrypt"
          ],
          "kid": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/1060910490/95e5c084e9390474af7218576f1a8deb",
          "kty": "RSA-HSM",
          "n": "uHdAzOKAzVLtyk3RRFitiJLRaYPiZcL7DgEQgayEUWYlcvZRjURZ8IXzxU_6hSq7NMRbWx4m5UJTIvxDYFiRuFJfVeMO3AH-SEN62G1-m0-r1yh_D6bdjVj9MmuwoYUnD0BRkiAvSX04XhWtm7W_7g_H_UzLe2xPwFvhg4VDT0HpXMo7MuPhRhng5CBy68gZfWGuDdQcabaHNMg9u-V75dCMI4tBilqjXkro0Y_HBJ328qiqlvi-Cl2luNtFzFSD8xJK-ieY9kO7zTcMI4JKyh_MQD_MMnlusiEcOKuWszJRfziKucpnVQ8a4_2BPjCLikDqWw9u5FBsSN6-sKaRTQ"
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/1060910490/95e5c084e9390474af7218576f1a8deb/sign?api-version=7.3",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RS384",
        "value": "sSq-fC3Q7xcAJ9uIpjWL71Q96iopJQMpeFuliN8AhvJBAnbaPEd7TvUwTAelkA7f"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "2"
      },
      "ResponseBody": {
        "alg": "RS384",
        "kid": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/1060910490/95e5c084e9390474af7218576f1a8deb",
        "value": "r_DS8AgVr5VQ-2b9V4vqefcncFXF4X12vmiv0HM7VOjk7-GZU3qoRxUdtRuW3UXcchA7qXtiuYxIa1epw9JyfCBPmPSWclYGil_3cHMfKeJ4J9ra8_2GFctm-xbfGY5mXQ409kTKs9sXV3Wnc2ZISr34t7LhpVmU5hpSWHuNhjvGKZ0FNa1GI7sDCQZLu7k6ZZ9W0L1q-C00dcrgGPqpmc3qEfx9XaMoZsfgSBpcacFG4HB6ZKmP5u302p_2_8GPDV5jvUy46N1oCPgk8-Lv0TlwqzPNJ0fCo_iDvkLUqFpTdkrB6ZJkuf7WFxWE91JEUDllGOm9ojyIskLQNc9FuQ"
      }
    }
  ],
  "Variables": {
    "AZURE_MANAGEDHSM_URL": "https://heathskeyvaulthsm.managedhsm.azure.net/",
    "RandomSeed": "2021728364"
  }
}
