{
  "Entries": [
    {
      "RequestUri": "https://heathskvtesthsm.managedhsm.azure.net/keys/876302771/create?api-version=7.3-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://managedhsm.azure.net\u0022",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://heathskvtesthsm.managedhsm.azure.net/keys/876302771/create?api-version=7.3-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "251"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1626299927,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 90,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "updated": 1626299927
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://heathskvtesthsm.managedhsm.azure.net/keys/876302771/28492bb38d42049727c87772cc39f3e5",
          "kty": "RSA-HSM",
          "n": "lML6F1_EP8Hn9XJtY5NWq4ogL816xNwBp8GjpWkHbec95LhFo7X54eHrwYP8cgnzT2GXcCb3-K4do9pxLYb_-MdTX1rYK6nGxHtuHImeT-YWbBhL-AyuzRsdnbVTO0cgui2AU7aPtenfb0nw0BcUB2Sd3bVRXZKQOHOo8zs4IkrJ8wLaQt5nr8gkPJpTFsDma07Hytw1Nq-3VNC9wfwqq9Y1qqScBTAtoJ8M76H_3oF-BwigHCkEzLlS2MVNLqIJ40lHknuEZNE_gxrtQeSxu6elnVuc_RZRTSFvxLx2L7sTRZ0I4sMYLKQiin_B-GUeVfUti9beA9n0HaBojqJAkw"
        }
      }
    },
    {
      "RequestUri": "https://heathskvtesthsm.managedhsm.azure.net/keys/876302771/28492bb38d42049727c87772cc39f3e5/sign?api-version=7.3-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "PS384",
        "value": "d7CIKbb49qeNcDLYDYyhb8jxBxF0BCgc6ZpraGjXxW2gmty_ksV6FwEKY8XTm93_"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "134"
      },
      "ResponseBody": {
        "alg": "PS384",
        "kid": "https://heathskvtesthsm.managedhsm.azure.net/keys/876302771/28492bb38d42049727c87772cc39f3e5",
        "value": "TZBG4oRTybL0CkIz-DRXBaJxmx0NyvbbTiv6WmK1ZYlXJ8eMrVl8sVYr4-FdbpvuR_XF9VwhJucspd6fvbn1m3L-dtSFKAjavoS1Ow1RU-NacebyG5yGMlUyNq-hMoUcBto68Z7U_Q-XZ97LCaZHCJ_Ef6v14-W3BeRVtOZOrpHum4pWuEQSnhCPERDxz6JFIY1WZDC0tpeqacyVdz7EY6XGNq-OyNGYM7vocbuVJOdxZIJecoADFgBBdbjjenbL26w9yWpp7huu-IQImXk5qVnmc-IuILeY6O7ekiYVF582dgJBpVpjF50FDls0UHNrr2Vb-SCy4UPgYWZnAXX8zw"
      }
    },
[...]
    {
      "RequestUri": "https://heathskvtesthsm.managedhsm.azure.net/keys/876302771/28492bb38d42049727c87772cc39f3e5/verify?api-version=7.3-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "PS384",
        "digest": "d7CIKbb49qeNcDLYDYyhb8jxBxF0BCgc6ZpraGjXxW2gmty_ksV6FwEKY8XTm93_",
        "value": "RPl24WShHWkDL3nBV5AaLtk4yviXfucXcHYSMVJB3cYDh_g0elvxztwle9vXFwUmbnUe6a9fyyafFbiYU6z7fDxHuK_qQTRab4kFUXVr1-NccBtxPsGi4KDPmLmtriAw4UImjecg-QNgJiF65yu_JYc4QpBR1RCrCallj31hkDR1hmAY3Vpktg47jie__yKFtu9UXpZtOkfkW_zszOkFM6gi2fJ8mnTtRBVjHHYwOyBzDR9KzmVe_OwjXixtZ9LIpcIT--eqLQlRFmdNdGBlrJEwaYMXxXcPFj0ON1suuNPGRt7iFbtHAT64mi217qyD-asoH1EL72eAIHyDbIi2XQ"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": {
        "alg": "PS384",
        "kid": "https://heathskvtesthsm.managedhsm.azure.net/keys/876302771/28492bb38d42049727c87772cc39f3e5",
        "value": true
      }
    },
    {
      "RequestUri": "https://heathskvtesthsm.managedhsm.azure.net/keys/876302771/28492bb38d42049727c87772cc39f3e5/verify?api-version=7.3-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "PS384",
        "digest": "d7CIKbb49qeNcDLYDYyhb8jxBxF0BCgc6ZpraGjXxW2gmty_ksV6FwEKY8XTm93_",
        "value": "TZBG4oRTybL0CkIz-DRXBaJxmx0NyvbbTiv6WmK1ZYlXJ8eMrVl8sVYr4-FdbpvuR_XF9VwhJucspd6fvbn1m3L-dtSFKAjavoS1Ow1RU-NacebyG5yGMlUyNq-hMoUcBto68Z7U_Q-XZ97LCaZHCJ_Ef6v14-W3BeRVtOZOrpHum4pWuEQSnhCPERDxz6JFIY1WZDC0tpeqacyVdz7EY6XGNq-OyNGYM7vocbuVJOdxZIJecoADFgBBdbjjenbL26w9yWpp7huu-IQImXk5qVnmc-IuILeY6O7ekiYVF582dgJBpVpjF50FDls0UHNrr2Vb-SCy4UPgYWZnAXX8zw"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": {
        "alg": "PS384",
        "kid": "https://heathskvtesthsm.managedhsm.azure.net/keys/876302771/28492bb38d42049727c87772cc39f3e5",
        "value": true
      }
    }
  ],
  "Variables": {
    "AZURE_MANAGEDHSM_URL": "https://heathskvtesthsm.managedhsm.azure.net/",
    "RandomSeed": "1978609544"
  }
}