{
  "Entries": [
    {
      "RequestUri": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/167583276/create?api-version=7.4",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://managedhsm.azure.net\u0022",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/167583276/create?api-version=7.4",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "262"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1677720029,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1677720029
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/167583276/d704dd62ff990de5b176c2a6846cabd4",
          "kty": "RSA-HSM",
          "n": "zQIke-dF9HFrQ6dDk5e_ik-ACH5N6rMGgHrvCTDfuwaqio9w2B4Dm1YiPZuEmswxyBG22-RNdKQA56j5jz3PVwTlfe2gry4Zj_eELzelxYSVq1b60SliU12-EwsXmYd0pFOTtrzvtPBXpuy10E_vIPrf-RihBegabT09i0H1X5Q-MiE1y3jZc_xJf9c6itPhDdo-_uLUyMAynwEMbdSoNf3TB0MV1Od0eZH9A88oOMTSnxIz21R9VfRnGyf6Vgdeb3CAO677VUHfW8AvpdeaiQqJ83Ztt6PrTJR5IR_rsSMFl9R73-G0NoTnOFfDxpvlhAqLYDKgQ3ZQ6tnLs11MnQ"
        }
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/167583276/d704dd62ff990de5b176c2a6846cabd4?api-version=7.4",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20230208-1-3e0fbecc-develop",
        "x-ms-server-latency": "35"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1677720029,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1677720029
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "verify",
            "sign",
            "unwrapKey",
            "encrypt",
            "decrypt"
          ],
          "kid": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/167583276/d704dd62ff990de5b176c2a6846cabd4",
          "kty": "RSA-HSM",
          "n": "zQIke-dF9HFrQ6dDk5e_ik-ACH5N6rMGgHrvCTDfuwaqio9w2B4Dm1YiPZuEmswxyBG22-RNdKQA56j5jz3PVwTlfe2gry4Zj_eELzelxYSVq1b60SliU12-EwsXmYd0pFOTtrzvtPBXpuy10E_vIPrf-RihBegabT09i0H1X5Q-MiE1y3jZc_xJf9c6itPhDdo-_uLUyMAynwEMbdSoNf3TB0MV1Od0eZH9A88oOMTSnxIz21R9VfRnGyf6Vgdeb3CAO677VUHfW8AvpdeaiQqJ83Ztt6PrTJR5IR_rsSMFl9R73-G0NoTnOFfDxpvlhAqLYDKgQ3ZQ6tnLs11MnQ"
        }
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/167583276/d704dd62ff990de5b176c2a6846cabd4/sign?api-version=7.4",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "PS384",
        "value": "EYT4trneNhlpXvNj92u8DoPIBoAo9JLYDZHZrd8DiclN9NsJTFq161IofWvpw0Fc"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "2"
      },
      "ResponseBody": {
        "alg": "PS384",
        "kid": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/167583276/d704dd62ff990de5b176c2a6846cabd4",
        "value": "fIGR9K55TfmgqpnbjguG2XShlZj9NX8JaE74LLvJVat6OnoTw2gvH4tpro8O1mvDUCdrEbEk0jOHgr-bXHU3ypwlB75yktdWA8zPYPmAENExTCPYmC48Z6nwRKFb2RF6pKKJpipGjjpd4LhsoaDsctpTJ5xoexP3R01MwTMolyfQbm39gwFzH7hvgyEj3qg_qeRq5v7wjC_sbYJvxBnEcsnUCTB1e9jZjkI8qF9rq9An7-_YYi2aqH-RFtAIs1rgHGrF4_HXZA2Vibk-x2gm2oHmhTJxKyuui0opttQUfPtkHQABrA26LQXbzBDYGm-jR4OFgixdJMDLalk7cqujNA"
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com/",
    "AZURE_MANAGEDHSM_URL": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/",
    "RandomSeed": "965342009"
  }
}
