{
  "Entries": [
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/1601400472/create?api-version=7.4-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://managedhsm.azure.net\u0022",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/1601400472/create?api-version=7.4-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC",
        "crv": "P-384"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "341"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1667431152,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1667431152
        },
        "key": {
          "crv": "P-384",
          "key_ops": [
            "verify",
            "sign"
          ],
          "kid": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/1601400472/f3742ec75f53467e93108c6eb6b69f4e",
          "kty": "EC-HSM",
          "x": "Ovy4bIiDjLm0xIQYt_ENwDAsi3CUTKTt1wIIVfA2UBHWm3jJUDQa-PCXsdLwF3pU",
          "y": "iC_-hx4NoeV52-0mtxAJeTZHQM6ZlcLE_DdodzZx5lqsTmw2qj5hEH73czTm1R4r"
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/1601400472/f3742ec75f53467e93108c6eb6b69f4e/sign?api-version=7.4-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES384",
        "value": "6hNha4zVCV_SzIZtdo67bfAIaYAwe27GW4GbHJehO2b30s9XczujWQoyss4SiHHp"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "167"
      },
      "ResponseBody": {
        "alg": "ES384",
        "kid": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/1601400472/f3742ec75f53467e93108c6eb6b69f4e",
        "value": "wmKwb8YVsYZsrRvgGa_QNdtqch6nIqde4KyK-FO3Iq_xLgk0EjBs5zf2ICjtL8ZKnHNx2DJvU68tRiIRe4nVR-K69CresVEcskuEnrDEHuqpkxZUgY76UZNAq4oVsaxG"
      }
    },
[...]
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/1601400472/f3742ec75f53467e93108c6eb6b69f4e/verify?api-version=7.4-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES384",
        "digest": "6hNha4zVCV_SzIZtdo67bfAIaYAwe27GW4GbHJehO2b30s9XczujWQoyss4SiHHp",
        "value": "npJ8UfWiCVDEQ0N_vUC0ovPOLw3fxejHkhuIJngBNWsQUYwx8n6R1mD85cFShaFeVQ_u3xbGc5wzOZSgvx048dzZeT7qIJJLPzv-QXlo5HiRp9zseMSdc9eibvDV-K6X"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "25"
      },
      "ResponseBody": {
        "alg": "ES384",
        "kid": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/1601400472/f3742ec75f53467e93108c6eb6b69f4e",
        "value": true
      }
    },
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/1601400472/f3742ec75f53467e93108c6eb6b69f4e/verify?api-version=7.4-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES384",
        "digest": "6hNha4zVCV_SzIZtdo67bfAIaYAwe27GW4GbHJehO2b30s9XczujWQoyss4SiHHp",
        "value": "wmKwb8YVsYZsrRvgGa_QNdtqch6nIqde4KyK-FO3Iq_xLgk0EjBs5zf2ICjtL8ZKnHNx2DJvU68tRiIRe4nVR-K69CresVEcskuEnrDEHuqpkxZUgY76UZNAq4oVsaxG"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "24"
      },
      "ResponseBody": {
        "alg": "ES384",
        "kid": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/1601400472/f3742ec75f53467e93108c6eb6b69f4e",
        "value": true
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com/",
    "AZURE_MANAGEDHSM_URL": "https://heathskeyvaulthsm.managedhsm.azure.net/",
    "RandomSeed": "1357376011"
  }
}
