{
  "Entries": [
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/558585781/create?api-version=7.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://managedhsm.azure.net\u0022",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/558585781/create?api-version=7.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC",
        "crv": "P-384"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "335"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1613812144,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 90,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "updated": 1613812144
        },
        "key": {
          "crv": "P-384",
          "key_ops": [
            "verify",
            "sign"
          ],
          "kid": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/558585781/ad40f781eee80430034ba4552d84e93e",
          "kty": "EC-HSM",
          "x": "X4MsTVFk3d7SMG2GaH2dnBjCV4Ogg2nvYPHpY9bc6jT54HTRzna2tL7rt4Xa7hvY",
          "y": "k4fgZgzLY-Sq4AccRmQi1pQFL70ap26GR2ZQU6y6EoAa13mNlZP73JQo2Pmjlv9J"
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/558585781/ad40f781eee80430034ba4552d84e93e/sign?api-version=7.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES384",
        "value": "bfFoD_6E1ZbdoKUbpzsHqZFxtgKry31FBNs-_n7IS4z-17kmHqrRA9T7BBRajaW1"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "135"
      },
      "ResponseBody": {
        "alg": "ES384",
        "kid": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/558585781/ad40f781eee80430034ba4552d84e93e",
        "value": "oRakthutjg7sY0Rprnu6hU25FGDn3Qr9ZLUg68NB3vAuX8WlImOEd_OjukYBJmMMEapSBMe6rC3oN07HcMtmOHG8BRq_MDRhChgV6CDIvVoalMKaMSxm0uWnifTPvpuH"
      }
    },
[...]
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/558585781/ad40f781eee80430034ba4552d84e93e/verify?api-version=7.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES384",
        "digest": "bfFoD_6E1ZbdoKUbpzsHqZFxtgKry31FBNs-_n7IS4z-17kmHqrRA9T7BBRajaW1",
        "value": "JPYNc8Hv_nFoYUBJpBf7NZvpblTso0E65ncBLGoNOMmV_1hZmmGtU-QQi5OPpHpNHsFZqMg3k6ku6jwRdGtqy8HG98wHCndJ5wA5SrP0wU04ItpHB5qQ1XS7ZsSXOrah"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "25"
      },
      "ResponseBody": {
        "alg": "ES384",
        "kid": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/558585781/ad40f781eee80430034ba4552d84e93e",
        "value": true
      }
    },
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/558585781/ad40f781eee80430034ba4552d84e93e/verify?api-version=7.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES384",
        "digest": "bfFoD_6E1ZbdoKUbpzsHqZFxtgKry31FBNs-_n7IS4z-17kmHqrRA9T7BBRajaW1",
        "value": "oRakthutjg7sY0Rprnu6hU25FGDn3Qr9ZLUg68NB3vAuX8WlImOEd_OjukYBJmMMEapSBMe6rC3oN07HcMtmOHG8BRq_MDRhChgV6CDIvVoalMKaMSxm0uWnifTPvpuH"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "24"
      },
      "ResponseBody": {
        "alg": "ES384",
        "kid": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/558585781/ad40f781eee80430034ba4552d84e93e",
        "value": true
      }
    }
  ],
  "Variables": {
    "AZURE_MANAGEDHSM_URL": "https://heathskeyvaulthsm.managedhsm.azure.net/",
    "RandomSeed": "1294506480"
  }
}