{
  "Entries": [
    {
      "RequestUri": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/115640821/create?api-version=7.4",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://managedhsm.azure.net\u0022",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/115640821/create?api-version=7.4",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC",
        "crv": "P-384"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "275"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1677719033,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1677719033
        },
        "key": {
          "crv": "P-384",
          "key_ops": [
            "verify",
            "sign"
          ],
          "kid": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/115640821/e5726561ae394e6b38c7af67a1e2da62",
          "kty": "EC-HSM",
          "x": "ItfG9f9KB40NKc0CkfSfR4MdLoq3xOX8YA6Khk0xFgZYKFA-azsJr_ZNbwOLKIIq",
          "y": "oHrGijbyRTXZttTnUpp1a3giWBOo2FUs2tDOQE8CyP4QD6kcECtvCqnVopNjRkLh"
        }
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/115640821/e5726561ae394e6b38c7af67a1e2da62/sign?api-version=7.4",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES384",
        "value": "ccoRDZqaMJy_kLdAjg4c1xWgVkJvI2lILE7dFmpENW7rkYJYH6yCJjxGpw_b-tDi"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "42"
      },
      "ResponseBody": {
        "alg": "ES384",
        "kid": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/115640821/e5726561ae394e6b38c7af67a1e2da62",
        "value": "i76SZa5e1da7P1jA6VNbE_d0WDTdPw1DSt0jBH2b0GWqOJE2XtEcy5Dz80ZgrR0Emsfpknf2sef1aaDlNu0jDEVEIKG6QdridgPK7T2BLnOn0uaGHHYADkGcUYiD1u_c"
      }
    },
[...]
    {
      "RequestUri": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/115640821/e5726561ae394e6b38c7af67a1e2da62/verify?api-version=7.4",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES384",
        "digest": "ccoRDZqaMJy_kLdAjg4c1xWgVkJvI2lILE7dFmpENW7rkYJYH6yCJjxGpw_b-tDi",
        "value": "YwIbMDPz8fq6MY21lSX9npccnkB3APyg08LsO4X5n5YZ-lALYUxjClgv3DiwFomGLRWYBw6N5oJJJHcv1sjllI-d5CxbYNWkjZvBE59SRZiqekDi-KUshvVm784fTKdH"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "25"
      },
      "ResponseBody": {
        "alg": "ES384",
        "kid": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/115640821/e5726561ae394e6b38c7af67a1e2da62",
        "value": true
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/115640821/e5726561ae394e6b38c7af67a1e2da62/verify?api-version=7.4",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES384",
        "digest": "ccoRDZqaMJy_kLdAjg4c1xWgVkJvI2lILE7dFmpENW7rkYJYH6yCJjxGpw_b-tDi",
        "value": "i76SZa5e1da7P1jA6VNbE_d0WDTdPw1DSt0jBH2b0GWqOJE2XtEcy5Dz80ZgrR0Emsfpknf2sef1aaDlNu0jDEVEIKG6QdridgPK7T2BLnOn0uaGHHYADkGcUYiD1u_c"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "24"
      },
      "ResponseBody": {
        "alg": "ES384",
        "kid": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/115640821/e5726561ae394e6b38c7af67a1e2da62",
        "value": true
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com/",
    "AZURE_MANAGEDHSM_URL": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/",
    "RandomSeed": "1263818874"
  }
}
