{
  "Entries": [
    {
      "RequestUri": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/1196035610/create?api-version=7.4",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://managedhsm.azure.net\u0022",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/1196035610/create?api-version=7.4",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "263"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1677719128,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1677719128
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/1196035610/a52dc2ee010c46c0be7398a20c0bd0fc",
          "kty": "RSA-HSM",
          "n": "sF8cDV-64WOnojYu45bQtWZoxvGlP5glZxcPMGLJSMI1IEpiuuBl7k4durKVdipJamxAMobcqLuEdK9jqIqTB9DkrH-UfceIcfC8uj1OOdLYwQCT3E6UQNfdj-5_Rj1f9yUxkvkmdkUE7SsROrSM86FtmQ4XSzzq_PZw0wGpAf5eQMR9vUb9nea-z9A4jo2p455FTshrkpwhEjMwH4UGM7jRmH6hAjjD-jKvAHnwyNdqWOde63FLSa-JQjZmn-ncWDWai71yu8OPby_RTXuvIXnheoSJzcwKIER5AoK4EIFCzXJ2nLjJceCUUHcQNBkseH_tEzgU_G4_sLvZMNzlOQ"
        }
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/1196035610/a52dc2ee010c46c0be7398a20c0bd0fc/sign?api-version=7.4",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "PS384",
        "value": "nz-FQoyrQEZgCENiIWW_YXv8RuUzN6kmNQ594L-XrGZSiYGJM3w54kvz49ZB2jX8"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "33"
      },
      "ResponseBody": {
        "alg": "PS384",
        "kid": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/1196035610/a52dc2ee010c46c0be7398a20c0bd0fc",
        "value": "Pfw17A9ucC7pT2gAgauPRSBWODF5W8xyb7Gz9wmZQSToZBpcsCh6FELx4lvuTbDGraf81vCi__q_zeFaogyuK_BxKkpUMe5k8EyE2YYxAIspHgINNeOHVHgBoq4A2uLFe50a2bmTRX_361zC_5Ehi7cZ1AhTZoCK8GtTvRjk475KDPGcpuwHL0J61QUj_fcPlnIAl3fNttRYrtiSEVAi7dHh57_zsK101H3L6hsR-oMSjHlLLeKlX3u8ztfPpSRxQRgIJ1lSitq_X-GJmOmv2Au5C9J5wIIEdOpXKS8dJwHLV9XL4SpGJyx8Fze45_ApBdVPzS82ACPuNa6Yl7D0xw"
      }
    },
[...]
    {
      "RequestUri": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/1196035610/a52dc2ee010c46c0be7398a20c0bd0fc/verify?api-version=7.4",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "PS384",
        "digest": "nz-FQoyrQEZgCENiIWW_YXv8RuUzN6kmNQ594L-XrGZSiYGJM3w54kvz49ZB2jX8",
        "value": "fbezDqpvc2lqUB3yc9J3haD-ojvCYDHfahy0f1OcqXeQbPfeCzxhJjf-AtI6En4gDAq3ZWBuz8ffwLnuQTuIaovLMBDf1rTp0dSZnwjzYRiXuGlu7i8JA1iHjC6Aac2zXlbOQ4sYihH-an1jCByJJWvl-plgTVImWUMoaa423hemov6_uZGOK2DXdexCHl0WNHWq8JovdfShsNsB0gcrG4MTArvKIWDfCTu-Eb3Fn6azhgYVyYeI4y1rSj6TI1Q3fy-W2aDuSVs4ZUiM143NKaO-finIdZkiIN_4AtIU0c2yCqzoybcDlZji0KZGRm7LNj7O259XoryAzqhQyU2TdA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": {
        "alg": "PS384",
        "kid": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/1196035610/a52dc2ee010c46c0be7398a20c0bd0fc",
        "value": true
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/1196035610/a52dc2ee010c46c0be7398a20c0bd0fc/verify?api-version=7.4",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "PS384",
        "digest": "nz-FQoyrQEZgCENiIWW_YXv8RuUzN6kmNQ594L-XrGZSiYGJM3w54kvz49ZB2jX8",
        "value": "Pfw17A9ucC7pT2gAgauPRSBWODF5W8xyb7Gz9wmZQSToZBpcsCh6FELx4lvuTbDGraf81vCi__q_zeFaogyuK_BxKkpUMe5k8EyE2YYxAIspHgINNeOHVHgBoq4A2uLFe50a2bmTRX_361zC_5Ehi7cZ1AhTZoCK8GtTvRjk475KDPGcpuwHL0J61QUj_fcPlnIAl3fNttRYrtiSEVAi7dHh57_zsK101H3L6hsR-oMSjHlLLeKlX3u8ztfPpSRxQRgIJ1lSitq_X-GJmOmv2Au5C9J5wIIEdOpXKS8dJwHLV9XL4SpGJyx8Fze45_ApBdVPzS82ACPuNa6Yl7D0xw"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "2"
      },
      "ResponseBody": {
        "alg": "PS384",
        "kid": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/1196035610/a52dc2ee010c46c0be7398a20c0bd0fc",
        "value": true
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com/",
    "AZURE_MANAGEDHSM_URL": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/",
    "RandomSeed": "872009804"
  }
}
