{
  "Entries": [
    {
      "RequestUri": "https://heathskvtesthsm.managedhsm.azure.net/keys/628005990/create?api-version=7.3-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://managedhsm.azure.net\u0022",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://heathskvtesthsm.managedhsm.azure.net/keys/628005990/create?api-version=7.3-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC",
        "crv": "P-256"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "266"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1626299912,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 90,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "updated": 1626299912
        },
        "key": {
          "crv": "P-256",
          "key_ops": [
            "verify",
            "sign"
          ],
          "kid": "https://heathskvtesthsm.managedhsm.azure.net/keys/628005990/c0e48f8c92cc0acfb92e1f31671e7c6c",
          "kty": "EC-HSM",
          "x": "voKv7EiGZSAqaasOBTNxrPHiBnZFGmHr8WJLAOqNP50",
          "y": "O3g4ofJzI5miqUZLsVUz5ad9S3qXzPX6suvfY2eZs2c"
        }
      }
    },
    {
      "RequestUri": "https://heathskvtesthsm.managedhsm.azure.net/keys/628005990/c0e48f8c92cc0acfb92e1f31671e7c6c?api-version=7.3-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20210605-1-ffd80f31-develop",
        "x-ms-server-latency": "142"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1626299912,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 90,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "updated": 1626299912
        },
        "key": {
          "crv": "P-256",
          "key_ops": [
            "verify",
            "sign"
          ],
          "kid": "https://heathskvtesthsm.managedhsm.azure.net/keys/628005990/c0e48f8c92cc0acfb92e1f31671e7c6c",
          "kty": "EC-HSM",
          "x": "voKv7EiGZSAqaasOBTNxrPHiBnZFGmHr8WJLAOqNP50",
          "y": "O3g4ofJzI5miqUZLsVUz5ad9S3qXzPX6suvfY2eZs2c"
        }
      }
    },
    {
      "RequestUri": "https://heathskvtesthsm.managedhsm.azure.net/keys/628005990/c0e48f8c92cc0acfb92e1f31671e7c6c/sign?api-version=7.3-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES256",
        "value": "XJn7jkH_ESooI8CXXAhHUwXnw3dnoa7Aa3sxuryVrGA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "8"
      },
      "ResponseBody": {
        "alg": "ES256",
        "kid": "https://heathskvtesthsm.managedhsm.azure.net/keys/628005990/c0e48f8c92cc0acfb92e1f31671e7c6c",
        "value": "O_RFxayQfiFf0FjBo3NmkYPP4JnXCHfSy0W4pTpeJcJe31KIazq9fThcn-5Ip-aJ0DSkAx9f7AIPmrGM4oWWlg"
      }
    }
  ],
  "Variables": {
    "AZURE_MANAGEDHSM_URL": "https://heathskvtesthsm.managedhsm.azure.net/",
    "RandomSeed": "489510469"
  }
}