{
  "Entries": [
    {
      "RequestUri": "https://heathskvtesthsm.managedhsm.azure.net/keys/1008226434/create?api-version=7.3-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://managedhsm.azure.net\u0022",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://heathskvtesthsm.managedhsm.azure.net/keys/1008226434/create?api-version=7.3-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "236"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1626299799,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 90,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "updated": 1626299799
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://heathskvtesthsm.managedhsm.azure.net/keys/1008226434/e573da3be2a340b4bcc5aeb793aba28f",
          "kty": "RSA-HSM",
          "n": "hvSdUCwiNmYWbth1H2ShazoMZh13TFt9vaPz14PGDERK2BIG4uA4rzxtCrjxkWfMIcB9i0OKq_60s9E33QwDkCa9-3kA5MobWvqzbuEVv540NqwwmOCckZuE7e6UnadpQTbSrYnie5XuFdWuvBPZ1CAZvXZg2QlXDo7-IQjxrQc5NmCcKoZG5TihEnxW3sOMUYaqKexX2cDNnviMDciPh14wFrjgofVP8dMgK-S3zA-nRW2KIdK1pDDWl0C84uJyo6kyQIMN60Ot7FEkc9jxNpSAKEkz-m7S6RozSk98NSWnFlHbno-ZcWOevVbKQq24qx9LR0tgv1k_XcJS9R0l1Q"
        }
      }
    },
    {
      "RequestUri": "https://heathskvtesthsm.managedhsm.azure.net/keys/1008226434/e573da3be2a340b4bcc5aeb793aba28f?api-version=7.3-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20210605-1-ffd80f31-develop",
        "x-ms-server-latency": "135"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1626299799,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 90,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "updated": 1626299799
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "verify",
            "sign",
            "unwrapKey",
            "encrypt",
            "decrypt"
          ],
          "kid": "https://heathskvtesthsm.managedhsm.azure.net/keys/1008226434/e573da3be2a340b4bcc5aeb793aba28f",
          "kty": "RSA-HSM",
          "n": "hvSdUCwiNmYWbth1H2ShazoMZh13TFt9vaPz14PGDERK2BIG4uA4rzxtCrjxkWfMIcB9i0OKq_60s9E33QwDkCa9-3kA5MobWvqzbuEVv540NqwwmOCckZuE7e6UnadpQTbSrYnie5XuFdWuvBPZ1CAZvXZg2QlXDo7-IQjxrQc5NmCcKoZG5TihEnxW3sOMUYaqKexX2cDNnviMDciPh14wFrjgofVP8dMgK-S3zA-nRW2KIdK1pDDWl0C84uJyo6kyQIMN60Ot7FEkc9jxNpSAKEkz-m7S6RozSk98NSWnFlHbno-ZcWOevVbKQq24qx9LR0tgv1k_XcJS9R0l1Q"
        }
      }
    },
    {
      "RequestUri": "https://heathskvtesthsm.managedhsm.azure.net/keys/1008226434/e573da3be2a340b4bcc5aeb793aba28f/sign?api-version=7.3-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RS384",
        "value": "RAgMNWq5B4-0VcjH1ctPjvdk5KL4qio45lj7sFnnGgAg46ICqEWNCcVtVcTg899g"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "3"
      },
      "ResponseBody": {
        "alg": "RS384",
        "kid": "https://heathskvtesthsm.managedhsm.azure.net/keys/1008226434/e573da3be2a340b4bcc5aeb793aba28f",
        "value": "dzmWJ1Gg8TdqFxOH-BTLfTDY_ZvEUmpJZUciv8s5DiKo3iKrk46t-C1-xUIFLhYT1HN7OTQZdzzZ0yZtMytXh15rIN4JhvYvP57mJaLbK9q0R04Gxr_5-oX32lY19pL1YFYKE3J-h-27TKoCne02rne2MxGc1duiVzBGNG8Ewy7o3BM_8WHPd7t8YKVzY4IvXxrG6ISPo7lg5-Mw88HWqqrJvdKQ6OYwJPeHsFW63Ot5rGyvC5lpFLgPRd_0PoUQmRLtfEtmTgI_bAciLTDvtE0KdgKaMkaL7RE0wRKZSfV3PAulyr11dwD1IH8jE_x9hjcXpd3edhkGikeAgqmYaA"
      }
    }
  ],
  "Variables": {
    "AZURE_MANAGEDHSM_URL": "https://heathskvtesthsm.managedhsm.azure.net/",
    "RandomSeed": "994777400"
  }
}