{
  "Entries": [
    {
      "RequestUri": "https://heathskvtesthsm.managedhsm.azure.net/keys/611804264/create?api-version=7.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://managedhsm.azure.net\u0022",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://heathskvtesthsm.managedhsm.azure.net/keys/611804264/create?api-version=7.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "223"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1626228355,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 90,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "updated": 1626228355
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://heathskvtesthsm.managedhsm.azure.net/keys/611804264/3003e4efc1f30f2909bd71fe8550b4f9",
          "kty": "RSA-HSM",
          "n": "wMy3l03ljeFZ7g37P7l4WIsdE3JeLvl26DJ7dyXXU9KSedrbaYeDupCCSsbewPXhxZsjQLftKtx_VMh1mYhZ5054sPkZ3KjRY8VxElXVkCBGhmaFA_04R6h0JPKITtgJISHGCJCIOHSTq2lTC8NHNMg4mkmSYPsjdH3jSsqinnAS9-oYxmVYniZ36VzVi2xe2MH39E1nUfTb3GmZN2HW5TpQQPv40Q3Q7m_veuwKc2jfFClw3CX_uB1V0FKJWngMliqTO0mSgoM9mmmeOZgVymBSRgB0zWLCTPGcOqpuLDaFTbsbggSrDixhOk_7byU-aVXNzunUypNVFhbD3-1joQ"
        }
      }
    },
    {
      "RequestUri": "https://heathskvtesthsm.managedhsm.azure.net/keys/611804264/3003e4efc1f30f2909bd71fe8550b4f9/sign?api-version=7.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "PS512",
        "value": "9P9Dqz9VqqEoM7yuEDAaa_FtRkJWqs7zc0_s4o3SfwwEu7B-1WhCnnhaT2Md9fOubMWV92YVHUEsqqelyRMVyA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "148"
      },
      "ResponseBody": {
        "alg": "PS512",
        "kid": "https://heathskvtesthsm.managedhsm.azure.net/keys/611804264/3003e4efc1f30f2909bd71fe8550b4f9",
        "value": "CGPactmkkIiZpyNuSU0uN04vUoa4wjgb0sOtPmp8HlZjStexzq4A5xuGKAXtOsJeR1zZM_EVj6Ou4rnj19wFtRUo-sAwHtnQ2SsRJ1JxnB367GwXE-nrxjoxXBKSGdfT2bUuMirSQod8vfF7tVjxYQvX1aFQ2fiEv7TX-hZnDjg23DjoCDHy7nwuBPwb_HqOxD18oZ328pvH_cCE3IDAx6ohJ_WuAQMPogw9yVKHcTnLTpbDpZ4lZLQIB6ZyNksK5rkemW7GwLJGK-gxUsRXPfLtIWVRkr7Ib1OMxTbA2VG7_noeFTJLgDkXmqN_fWx0Bf2avh1DClgPbLdbrrEOhQ"
      }
    },
[...]
    {
      "RequestUri": "https://heathskvtesthsm.managedhsm.azure.net/keys/611804264/3003e4efc1f30f2909bd71fe8550b4f9/verify?api-version=7.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "PS512",
        "digest": "9P9Dqz9VqqEoM7yuEDAaa_FtRkJWqs7zc0_s4o3SfwwEu7B-1WhCnnhaT2Md9fOubMWV92YVHUEsqqelyRMVyA",
        "value": "GELozfNUNx8wORkHm8kbjJjXShjE2W8XKMQ2pEjBW_E1NmYUEBhV_7QWhefwsiK31CjOVVw25PAI5KPMgBnjPr7PyztUnS-AfreNfIsPTZfaj-GZPIAFSniTSuY96RjiZ8-d05ijy0IylGL0SscepR0EhU7311KgAEo2vZUBGIJXnkJcvvuYktyaPHm0jduP-9CeN5N914JvfUKB21p8Cv_D2nk2e8ykqH0Zd4Ds_A-dIHDXJ-WpHK40q4zvqoTpbzh86TXfA1y-vyBFDIIM09e_8dnSD4kb0TNlkpmJyNLRByacEaAbpOF8xFDw7PmwJManT1cgtP-u3jRBj6FN7g"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": {
        "alg": "PS512",
        "kid": "https://heathskvtesthsm.managedhsm.azure.net/keys/611804264/3003e4efc1f30f2909bd71fe8550b4f9",
        "value": true
      }
    },
    {
      "RequestUri": "https://heathskvtesthsm.managedhsm.azure.net/keys/611804264/3003e4efc1f30f2909bd71fe8550b4f9/verify?api-version=7.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "PS512",
        "digest": "9P9Dqz9VqqEoM7yuEDAaa_FtRkJWqs7zc0_s4o3SfwwEu7B-1WhCnnhaT2Md9fOubMWV92YVHUEsqqelyRMVyA",
        "value": "CGPactmkkIiZpyNuSU0uN04vUoa4wjgb0sOtPmp8HlZjStexzq4A5xuGKAXtOsJeR1zZM_EVj6Ou4rnj19wFtRUo-sAwHtnQ2SsRJ1JxnB367GwXE-nrxjoxXBKSGdfT2bUuMirSQod8vfF7tVjxYQvX1aFQ2fiEv7TX-hZnDjg23DjoCDHy7nwuBPwb_HqOxD18oZ328pvH_cCE3IDAx6ohJ_WuAQMPogw9yVKHcTnLTpbDpZ4lZLQIB6ZyNksK5rkemW7GwLJGK-gxUsRXPfLtIWVRkr7Ib1OMxTbA2VG7_noeFTJLgDkXmqN_fWx0Bf2avh1DClgPbLdbrrEOhQ"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": {
        "alg": "PS512",
        "kid": "https://heathskvtesthsm.managedhsm.azure.net/keys/611804264/3003e4efc1f30f2909bd71fe8550b4f9",
        "value": true
      }
    }
  ],
  "Variables": {
    "AZURE_MANAGEDHSM_URL": "https://heathskvtesthsm.managedhsm.azure.net/",
    "RandomSeed": "542215126"
  }
}