{
  "Entries": [
    {
      "RequestUri": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/630136982/create?api-version=7.4",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://managedhsm.azure.net\u0022",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/630136982/create?api-version=7.4",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "271"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1677720031,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1677720031
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/630136982/a1d366d846a40a173c320d2105b8ddae",
          "kty": "RSA-HSM",
          "n": "ivDDmFLQ8ip8RZfc91EPg6j0HEdal1jPX1YBh-3ZtBQbf8is8-5xrO6MFjMa539PHiBkgupiGUaa62Q-WfFXn53NY6QIs0UsR4XTPclKwGJnalsvA025vcWXiMMqCBHMgsX9RweMJVKe0l6iZ_mIVAVx39sto2ZN2hKTS7rACmIU5xma9FPpFS9uCmVjebTXuoDaTOz6OtDmLy1OwRgC1fsXhk63O-QXR19hYrqULOSS3spgcpEM7kZV7HYRqY0fgN6tKmH_Azujn9wme2iwNjKh1WTuaLnb2qTccOWnj5Dp7jSNnl6N3fKZNsTS2G_mlg8b5wzRqRqxAqyxkTjyMw"
        }
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/630136982/a1d366d846a40a173c320d2105b8ddae?api-version=7.4",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20230208-1-3e0fbecc-develop",
        "x-ms-server-latency": "31"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1677720031,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1677720031
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "verify",
            "sign",
            "unwrapKey",
            "encrypt",
            "decrypt"
          ],
          "kid": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/630136982/a1d366d846a40a173c320d2105b8ddae",
          "kty": "RSA-HSM",
          "n": "ivDDmFLQ8ip8RZfc91EPg6j0HEdal1jPX1YBh-3ZtBQbf8is8-5xrO6MFjMa539PHiBkgupiGUaa62Q-WfFXn53NY6QIs0UsR4XTPclKwGJnalsvA025vcWXiMMqCBHMgsX9RweMJVKe0l6iZ_mIVAVx39sto2ZN2hKTS7rACmIU5xma9FPpFS9uCmVjebTXuoDaTOz6OtDmLy1OwRgC1fsXhk63O-QXR19hYrqULOSS3spgcpEM7kZV7HYRqY0fgN6tKmH_Azujn9wme2iwNjKh1WTuaLnb2qTccOWnj5Dp7jSNnl6N3fKZNsTS2G_mlg8b5wzRqRqxAqyxkTjyMw"
        }
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/630136982/a1d366d846a40a173c320d2105b8ddae/sign?api-version=7.4",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "PS512",
        "value": "rutumvk9hIiB6w6tDai6jPAlJtogfPeWGX5u-jUPyZFvIZc2jQCF9N5S7T5FwU_1lZ3QkCvxRrJK4QNCFpIiZQ"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "3"
      },
      "ResponseBody": {
        "alg": "PS512",
        "kid": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/630136982/a1d366d846a40a173c320d2105b8ddae",
        "value": "SsKQTSfKkb4Z-Gcqt9g0FibJaREUdqY9Q_TB9J_WxsdkH7z_57L4vSDW3YTXWaY4e0OzGSETM50Xw36CzUtdhm91Kv7rK2_NuhAMndtIg-SlsqHvvo6Wh9x90VR6gFmR226nBdGU9GkzhxWH5XMEkXqNAPpbeSCMaTSOosAu4nz95cfiCVRHSU42vMY7gf5YUCDb43zGKMMvNmgThs684I-NjdhQNbYWN_V4i00NKDLJXmbAUChpMuUvzTcHk3BNtz698sPkrdPOaKJe7G6GR6HT61Eynp2hr-UrgZk9ew2ebWd4B5qPo4Yt605d51Wx2DKcRL8pnJ3XANVSqa9Vsg"
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com/",
    "AZURE_MANAGEDHSM_URL": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/",
    "RandomSeed": "2066137142"
  }
}
