{
  "Entries": [
    {
      "RequestUri": "https://heathskvtesthsm.managedhsm.azure.net/keys/882748/create?api-version=7.3-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://managedhsm.azure.net\u0022",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://heathskvtesthsm.managedhsm.azure.net/keys/882748/create?api-version=7.3-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "239"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1626299918,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 90,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "updated": 1626299918
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://heathskvtesthsm.managedhsm.azure.net/keys/882748/0def116428f447403c0ca97f0c001e62",
          "kty": "RSA-HSM",
          "n": "m-jUeeawbCGkfWcSs23djtiPziXH9Jtl1zDXtz5uMT8cSnSPZn-07_U66wmF6QJem4ILYnbLakUdt7k6Fw164LlGdEdzlTMw9YHIhiudgG_oHIdwGKK0CY7F95T4PQfiFCnKQ4sowjgnZaea3wv8msY15mjmK-hK9T73em-P6Wtnx_VuNbT4k5AP7UCAMTDinIEmWRWTdMlFquf7KQeyblzPL_TyDCkJBYyDffVXZ2Z_kAe8pBjhcWoIrFj8KU9qFT3BJaUVztBBNrUgOxSdZ_G_8pYug9xSwq9SDxqyiVdD3eENToomN6rlARvC8cMlbHyRn4j6eG09qTkOGBMczw"
        }
      }
    },
    {
      "RequestUri": "https://heathskvtesthsm.managedhsm.azure.net/keys/882748/0def116428f447403c0ca97f0c001e62/sign?api-version=7.3-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RS256",
        "value": "tc9gM2v2kjkKsVu_BxzeApAPFmkdbC3anWVgrE60dU8"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "136"
      },
      "ResponseBody": {
        "alg": "RS256",
        "kid": "https://heathskvtesthsm.managedhsm.azure.net/keys/882748/0def116428f447403c0ca97f0c001e62",
        "value": "E8ohBM8KSjQO_cGYhRMDaib05ScN-75kr5XLT37b3djgScTgVqTi8o5ceSxTjfuopuGAR4afe5vq19EA4ZrPphwZco4NX_KGYmfh1GeNnkmXFnXTLk0sy180sta1TFLkSQRu52J81he_gAU0EXnhHswAMrjtc_8yOceSzb_sUHmlS3RFjtYk3PcNkSUGOyEybQpCUqh7aV-IbwJ9MgCk-81lWcttiufbQS4O2Sxb3Ivk-nBC-CByOdF3aQ_QUr9wqL5LErBLABV5l4dPtnCsDIIXZCI7sY-tXzWlE5yHLu95CCcstDy6ITAwiTI7Ig8gI-fCTQn5atsGr6QzBT1FBQ"
      }
    },
[...]
    {
      "RequestUri": "https://heathskvtesthsm.managedhsm.azure.net/keys/882748/0def116428f447403c0ca97f0c001e62/verify?api-version=7.3-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RS256",
        "digest": "tc9gM2v2kjkKsVu_BxzeApAPFmkdbC3anWVgrE60dU8",
        "value": "E8ohBM8KSjQO_cGYhRMDaib05ScN-75kr5XLT37b3djgScTgVqTi8o5ceSxTjfuopuGAR4afe5vq19EA4ZrPphwZco4NX_KGYmfh1GeNnkmXFnXTLk0sy180sta1TFLkSQRu52J81he_gAU0EXnhHswAMrjtc_8yOceSzb_sUHmlS3RFjtYk3PcNkSUGOyEybQpCUqh7aV-IbwJ9MgCk-81lWcttiufbQS4O2Sxb3Ivk-nBC-CByOdF3aQ_QUr9wqL5LErBLABV5l4dPtnCsDIIXZCI7sY-tXzWlE5yHLu95CCcstDy6ITAwiTI7Ig8gI-fCTQn5atsGr6QzBT1FBQ"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": {
        "alg": "RS256",
        "kid": "https://heathskvtesthsm.managedhsm.azure.net/keys/882748/0def116428f447403c0ca97f0c001e62",
        "value": true
      }
    },
    {
      "RequestUri": "https://heathskvtesthsm.managedhsm.azure.net/keys/882748/0def116428f447403c0ca97f0c001e62/verify?api-version=7.3-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RS256",
        "digest": "tc9gM2v2kjkKsVu_BxzeApAPFmkdbC3anWVgrE60dU8",
        "value": "E8ohBM8KSjQO_cGYhRMDaib05ScN-75kr5XLT37b3djgScTgVqTi8o5ceSxTjfuopuGAR4afe5vq19EA4ZrPphwZco4NX_KGYmfh1GeNnkmXFnXTLk0sy180sta1TFLkSQRu52J81he_gAU0EXnhHswAMrjtc_8yOceSzb_sUHmlS3RFjtYk3PcNkSUGOyEybQpCUqh7aV-IbwJ9MgCk-81lWcttiufbQS4O2Sxb3Ivk-nBC-CByOdF3aQ_QUr9wqL5LErBLABV5l4dPtnCsDIIXZCI7sY-tXzWlE5yHLu95CCcstDy6ITAwiTI7Ig8gI-fCTQn5atsGr6QzBT1FBQ"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": {
        "alg": "RS256",
        "kid": "https://heathskvtesthsm.managedhsm.azure.net/keys/882748/0def116428f447403c0ca97f0c001e62",
        "value": true
      }
    }
  ],
  "Variables": {
    "AZURE_MANAGEDHSM_URL": "https://heathskvtesthsm.managedhsm.azure.net/",
    "RandomSeed": "687372812"
  }
}