{
  "Entries": [
    {
      "RequestUri": "https://heathskvtesthsm.managedhsm.azure.net/keys/717612186/create?api-version=7.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://managedhsm.azure.net\u0022",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://heathskvtesthsm.managedhsm.azure.net/keys/717612186/create?api-version=7.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC",
        "crv": "P-521"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "379"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1626228230,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 90,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "updated": 1626228230
        },
        "key": {
          "crv": "P-521",
          "key_ops": [
            "verify",
            "sign"
          ],
          "kid": "https://heathskvtesthsm.managedhsm.azure.net/keys/717612186/f2169e37b59a0a8d8d6755e497cbadf1",
          "kty": "EC-HSM",
          "x": "AY0WtARDi-beETkSaEJUQJ4F3vmHWu6gSOXgKyduYmQzOZzNFl7bxlVEX-fqme7kJK8gKAmXxdQaUhgH1La_G-qb",
          "y": "AJflMCcc8m90uxlcDjiVkS9Q5rHpoluDO86UgmYQWeS7suaBAdR1Rk-11kEcOiox5Sag2uHlC3f26xBR08_eAjds"
        }
      }
    },
    {
      "RequestUri": "https://heathskvtesthsm.managedhsm.azure.net/keys/717612186/f2169e37b59a0a8d8d6755e497cbadf1?api-version=7.2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20210605-1-ffd80f31-develop",
        "x-ms-server-latency": "196"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1626228230,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 90,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "updated": 1626228230
        },
        "key": {
          "crv": "P-521",
          "key_ops": [
            "verify",
            "sign"
          ],
          "kid": "https://heathskvtesthsm.managedhsm.azure.net/keys/717612186/f2169e37b59a0a8d8d6755e497cbadf1",
          "kty": "EC-HSM",
          "x": "AY0WtARDi-beETkSaEJUQJ4F3vmHWu6gSOXgKyduYmQzOZzNFl7bxlVEX-fqme7kJK8gKAmXxdQaUhgH1La_G-qb",
          "y": "AJflMCcc8m90uxlcDjiVkS9Q5rHpoluDO86UgmYQWeS7suaBAdR1Rk-11kEcOiox5Sag2uHlC3f26xBR08_eAjds"
        }
      }
    },
    {
      "RequestUri": "https://heathskvtesthsm.managedhsm.azure.net/keys/717612186/f2169e37b59a0a8d8d6755e497cbadf1/sign?api-version=7.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES512",
        "value": "jkvvTOtLJmD8E1B3cXnOcg1tsjBbMoALZSBozo_zCSgwzzem-TgfBN86BkDxBUK2__jTpXJovZ-2U-YdAVFasg"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "36"
      },
      "ResponseBody": {
        "alg": "ES512",
        "kid": "https://heathskvtesthsm.managedhsm.azure.net/keys/717612186/f2169e37b59a0a8d8d6755e497cbadf1",
        "value": "AaDx4mj6q6t4LeV6mefzF-GUeWRiPq7Zpui8in2tU60n5tFwdG9Zren0OqhEH1zO3DuDgIQPXbFZFYeU6vdGS5VNAXShTOl6_0fgdl8WlQukbwbx3eovbKewFGRDARaRggK6dAWCZK22TGYUVc--nEhq_yew9temKWRalAAMFhZ9R8Zn"
      }
    }
  ],
  "Variables": {
    "AZURE_MANAGEDHSM_URL": "https://heathskvtesthsm.managedhsm.azure.net/",
    "RandomSeed": "1979593518"
  }
}