{
  "Entries": [
    {
      "RequestUri": "https://heathskvtesthsm.managedhsm.azure.net/keys/1844523746/create?api-version=7.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://managedhsm.azure.net\u0022",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://heathskvtesthsm.managedhsm.azure.net/keys/1844523746/create?api-version=7.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "224"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1626228239,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 90,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "updated": 1626228239
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://heathskvtesthsm.managedhsm.azure.net/keys/1844523746/557fa4a197434892206c5fa34c268a45",
          "kty": "RSA-HSM",
          "n": "jHoBXxzspyp7IwhRHq9hezcRZcbfSo_E6GkXFm6tDtYQQq1UJ_VtPPc4r_9sDXeK52E3yyZgZQEmdp4qh7nGSPXXE_xQnSm9STP0qT6ybFl9XemI4JuRrMsiWwbDgjgWquWMDiEoEjS1bSOdCbRVPEPDz1oWf3kUHApX0wlr1QRHSJK2qD5VZE4zbg8y7mZVMcWZ6j6uZZRMTJnE372vzRi6SSJfG2w6le67JeUPwPM7GpeHEgtf3Hd0SPXrrF8Y3oYz-0qaK6agc7ctY6TOpCBObG3o0cVMKa42WxNu3GV0BDeh6jsTTurHIACIMtI6GdLJ-5KEJ2aaxsEk18kvUQ"
        }
      }
    },
    {
      "RequestUri": "https://heathskvtesthsm.managedhsm.azure.net/keys/1844523746/557fa4a197434892206c5fa34c268a45/sign?api-version=7.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "PS256",
        "value": "JMfUB6CtuMJoZ0DFoIyJG8kpVYpQhHpKiTe17Id5Rlc"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "165"
      },
      "ResponseBody": {
        "alg": "PS256",
        "kid": "https://heathskvtesthsm.managedhsm.azure.net/keys/1844523746/557fa4a197434892206c5fa34c268a45",
        "value": "fANxjY7kHNa6shBmJdSL_wst2eQ_90NGkIlULiIDY-A_INVQS7cwKpuixOAaKohU_Ssz-OyP1aPCCV7qPIq5Pwo8LQlocjIvEDLi6MoU7j_JM7ci2cMLiuwO3DNU7aobRvC7gwpQKxHhWbV8ASm-0_ZOMyaxGRM1C-BATszX6U7TirYn5kN1XtN8rAeFEwdgUInuBaS0j4AeTh6fYPV19oEQPWUz2hs4cpcJH6czi0Y0_xEmEDVKoQO_XPGTuMoKMxP4Q20bBEPao2JByztZD6ywXc0KbMDWAM86z_WwEDWW7DapkT-pMe4N6FEbEP4BfGaOTlf0viuj0CdfboWIBw"
      }
    },
[...]
    {
      "RequestUri": "https://heathskvtesthsm.managedhsm.azure.net/keys/1844523746/557fa4a197434892206c5fa34c268a45/verify?api-version=7.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "PS256",
        "digest": "JMfUB6CtuMJoZ0DFoIyJG8kpVYpQhHpKiTe17Id5Rlc",
        "value": "W6GGKCRHI1jh6zRqPV5YW4p3f0wPAaY23az7IYnsv6B7ZKmbvvjuazFikVFHn4uscHhq5_eRRTkZyEKVB5Bj_lW0PvE5GVPkFv8f2mLVaDvbXjOADdc8TFhgS2AymFKWor_8KnzQqSAJEBCJVK5zGH904auBlLnZltZJxOtqVO6ya4v2y1LnaRMaFZcOiGa0uqn2jUmHCmmPp4LaqAUc26_8n0eOkhpEOVyVxOWvJQj3wkxKsiXLGydQZqVRYWYWvEhww_1fDXHY_cFqbT_hnF3uAtBoXIg6xzdrg6PSzIQRQpnvKTYXRGnBC2iqVZrbDUhCpQ83-t94XoxaUV9oEA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": {
        "alg": "PS256",
        "kid": "https://heathskvtesthsm.managedhsm.azure.net/keys/1844523746/557fa4a197434892206c5fa34c268a45",
        "value": true
      }
    },
    {
      "RequestUri": "https://heathskvtesthsm.managedhsm.azure.net/keys/1844523746/557fa4a197434892206c5fa34c268a45/verify?api-version=7.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "PS256",
        "digest": "JMfUB6CtuMJoZ0DFoIyJG8kpVYpQhHpKiTe17Id5Rlc",
        "value": "fANxjY7kHNa6shBmJdSL_wst2eQ_90NGkIlULiIDY-A_INVQS7cwKpuixOAaKohU_Ssz-OyP1aPCCV7qPIq5Pwo8LQlocjIvEDLi6MoU7j_JM7ci2cMLiuwO3DNU7aobRvC7gwpQKxHhWbV8ASm-0_ZOMyaxGRM1C-BATszX6U7TirYn5kN1XtN8rAeFEwdgUInuBaS0j4AeTh6fYPV19oEQPWUz2hs4cpcJH6czi0Y0_xEmEDVKoQO_XPGTuMoKMxP4Q20bBEPao2JByztZD6ywXc0KbMDWAM86z_WwEDWW7DapkT-pMe4N6FEbEP4BfGaOTlf0viuj0CdfboWIBw"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": {
        "alg": "PS256",
        "kid": "https://heathskvtesthsm.managedhsm.azure.net/keys/1844523746/557fa4a197434892206c5fa34c268a45",
        "value": true
      }
    }
  ],
  "Variables": {
    "AZURE_MANAGEDHSM_URL": "https://heathskvtesthsm.managedhsm.azure.net/",
    "RandomSeed": "1583365648"
  }
}