{
  "Entries": [
    {
      "RequestUri": "https://heathskvtesthsm.managedhsm.azure.net/keys/139560662/create?api-version=7.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://managedhsm.azure.net\u0022",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://heathskvtesthsm.managedhsm.azure.net/keys/139560662/create?api-version=7.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "244"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1626282516,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 90,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "updated": 1626282516
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://heathskvtesthsm.managedhsm.azure.net/keys/139560662/22c077dbd8534383219c3143d7d4b12a",
          "kty": "RSA-HSM",
          "n": "nlu5sKs2Ap6jwf7b5-UiS1jJHG0mEnLuGlruteB1TJOECInaRUlESUIG3m06d6aamTLAN6AwSPm-_lWJHE2NkryvQs2A6EKLJQi9fwWzdUF522COKD3F0Fjf4cwx5VK35nhAHsiHpCuozl-lJ7gqEaOgHsXValaT0BjfH4t1h2ectgRL9PBo9Ab2Wy7zSPaeWA72LezGSRqz9tzKRvOVs85sYYWDACuOkD4rCn_OL8DuSjyUULMJWrf5B19th88hwd__lXNmjytBuO9dOAS1sbF7ngKH7yZTJ1Q7MgBFSciN3RTbL6Oj2mmi6K6TUH4i5xb5a0VjALYHxMBUKYBsLw"
        }
      }
    },
    {
      "RequestUri": "https://heathskvtesthsm.managedhsm.azure.net/keys/139560662/22c077dbd8534383219c3143d7d4b12a?api-version=7.2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20210605-1-ffd80f31-develop",
        "x-ms-server-latency": "118"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1626282516,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 90,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "updated": 1626282516
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "verify",
            "sign",
            "unwrapKey",
            "encrypt",
            "decrypt"
          ],
          "kid": "https://heathskvtesthsm.managedhsm.azure.net/keys/139560662/22c077dbd8534383219c3143d7d4b12a",
          "kty": "RSA-HSM",
          "n": "nlu5sKs2Ap6jwf7b5-UiS1jJHG0mEnLuGlruteB1TJOECInaRUlESUIG3m06d6aamTLAN6AwSPm-_lWJHE2NkryvQs2A6EKLJQi9fwWzdUF522COKD3F0Fjf4cwx5VK35nhAHsiHpCuozl-lJ7gqEaOgHsXValaT0BjfH4t1h2ectgRL9PBo9Ab2Wy7zSPaeWA72LezGSRqz9tzKRvOVs85sYYWDACuOkD4rCn_OL8DuSjyUULMJWrf5B19th88hwd__lXNmjytBuO9dOAS1sbF7ngKH7yZTJ1Q7MgBFSciN3RTbL6Oj2mmi6K6TUH4i5xb5a0VjALYHxMBUKYBsLw"
        }
      }
    },
    {
      "RequestUri": "https://heathskvtesthsm.managedhsm.azure.net/keys/139560662/22c077dbd8534383219c3143d7d4b12a/sign?api-version=7.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "PS384",
        "value": "l3lHDFgXq7IyrRYAY471qmDRxjKmL3mHF3fd3161K_59IGAmljlUnqR2tLHZjN5c"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "3"
      },
      "ResponseBody": {
        "alg": "PS384",
        "kid": "https://heathskvtesthsm.managedhsm.azure.net/keys/139560662/22c077dbd8534383219c3143d7d4b12a",
        "value": "ng6CCnUT2GkTDLAy91_R_6jCdh8iHG2UyhSn6XYABU7sppmrVjLb34N8VNjnsBsP73pBGdbc37njTdePEPAzk6KS2Fh_KcIvehv2HOIf_DG4zrkZWAsNaLS-AOcn8J-od_LkzC15BFyyhJKMz0adAOfWlKehKBAwI1HZdPstgGmLQ7aSGZJ00pnSO5CYkbazTOi4F1jWuQOTbviu9mwgeRd87uMVGKVb5FPw-8oxCpacFiui-i6b9Ty6UwI2DtwBbaLvTFCUA0-CZb08PRrI8VVB6U8n2yIAplxIc1ULQcN6Zg81yL6JqNwgcTB1uXoNe4eAv_C06hGhWb3b9DBKdw"
      }
    }
  ],
  "Variables": {
    "AZURE_MANAGEDHSM_URL": "https://heathskvtesthsm.managedhsm.azure.net/",
    "RandomSeed": "749144926"
  }
}