{
  "Entries": [
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/848708469/create?api-version=7.3",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://managedhsm.azure.net\u0022",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/848708469/create?api-version=7.3",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC",
        "crv": "P-384"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "310"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1648058471,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1648058471
        },
        "key": {
          "crv": "P-384",
          "key_ops": [
            "verify",
            "sign"
          ],
          "kid": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/848708469/80bb1e93fe6b07ea8489c4d4b2492b40",
          "kty": "EC-HSM",
          "x": "-ww4NUCKndUCV7oz5Q-3Nhl5Pt4qB2Zh-SSm9kD3OPqhJuucWDWj0jeYlVcLPZWl",
          "y": "tTCGMV6znMJa6u-QVmdOhtv33j9fgcPL4nFMx6PX2yBwYek0E9d8tF6CRK6g3HfY"
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/848708469/80bb1e93fe6b07ea8489c4d4b2492b40?api-version=7.3",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20220305-2-902fedaa-closebadconnections",
        "x-ms-server-latency": "96"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1648058471,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1648058471
        },
        "key": {
          "crv": "P-384",
          "key_ops": [
            "verify",
            "sign"
          ],
          "kid": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/848708469/80bb1e93fe6b07ea8489c4d4b2492b40",
          "kty": "EC-HSM",
          "x": "-ww4NUCKndUCV7oz5Q-3Nhl5Pt4qB2Zh-SSm9kD3OPqhJuucWDWj0jeYlVcLPZWl",
          "y": "tTCGMV6znMJa6u-QVmdOhtv33j9fgcPL4nFMx6PX2yBwYek0E9d8tF6CRK6g3HfY"
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/848708469/80bb1e93fe6b07ea8489c4d4b2492b40/sign?api-version=7.3",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES384",
        "value": "5KBhqnmo3QejJv-y-ge8Nh7Ws_SD1EQiNEBRuSfAQI34NuO-NuSaoWy30FgHw3Jc"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "12"
      },
      "ResponseBody": {
        "alg": "ES384",
        "kid": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/848708469/80bb1e93fe6b07ea8489c4d4b2492b40",
        "value": "KX4QSxkSPXvN-oXyYkeWPWMOhHiix5e1PFjHODFdZknZo-XPbYS1slJ1tJhJLiKK6Z4atHym-fgRycVYUgQt_W30iyvfDVW0mznNEC5vEWiQ3ynEUwSGiYOFpfdMXkHS"
      }
    }
  ],
  "Variables": {
    "AZURE_MANAGEDHSM_URL": "https://heathskeyvaulthsm.managedhsm.azure.net/",
    "RandomSeed": "1533760057"
  }
}
