{
  "Entries": [
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/1911143284/create?api-version=7.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://managedhsm.azure.net\u0022",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/1911143284/create?api-version=7.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC",
        "crv": "P-384"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "347"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1613812249,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 90,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "updated": 1613812249
        },
        "key": {
          "crv": "P-384",
          "key_ops": [
            "verify",
            "sign"
          ],
          "kid": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/1911143284/699c419b236605f1992274f3afd35c1b",
          "kty": "EC-HSM",
          "x": "mlWfS5YPUmHXp8waX3Vx_s9laV1lhxnxt90yqDw1Bx97PTrkzCTcMC5OK5A__ViT",
          "y": "fu0ETINR1JDfyHoBoVdCwSV7KUcAt8pZfkisMXd5zdzq5fBDlPV3KkzlEnyj9lRB"
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/1911143284/699c419b236605f1992274f3afd35c1b?api-version=7.2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20210204-1-c9f88df4-develop",
        "x-ms-server-latency": "144"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1613812249,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 90,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "updated": 1613812249
        },
        "key": {
          "crv": "P-384",
          "key_ops": [
            "verify",
            "sign"
          ],
          "kid": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/1911143284/699c419b236605f1992274f3afd35c1b",
          "kty": "EC-HSM",
          "x": "mlWfS5YPUmHXp8waX3Vx_s9laV1lhxnxt90yqDw1Bx97PTrkzCTcMC5OK5A__ViT",
          "y": "fu0ETINR1JDfyHoBoVdCwSV7KUcAt8pZfkisMXd5zdzq5fBDlPV3KkzlEnyj9lRB"
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/1911143284/699c419b236605f1992274f3afd35c1b/sign?api-version=7.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES384",
        "value": "hYhFmF3LlNQQz7pTbtnxO44QLR_1_bzc0Lsr_rXgAlzjtbQGTI7BdbW4YZPQirjo"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "13"
      },
      "ResponseBody": {
        "alg": "ES384",
        "kid": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/1911143284/699c419b236605f1992274f3afd35c1b",
        "value": "GFE3o-KGEh9k_mBc_TbifZHMp4N33iQdtRYVy1efX8HZCEj6vyMmmtRDP8P32o8HfOOvx9HZom_wEFFc4jNUenYXK9i1dYVrd4UkB__2xr9yPLqEBmxRh5V4UuTRtf2h"
      }
    }
  ],
  "Variables": {
    "AZURE_MANAGEDHSM_URL": "https://heathskeyvaulthsm.managedhsm.azure.net/",
    "RandomSeed": "1423771163"
  }
}