{
  "Entries": [
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/1277140626/create?api-version=7.3",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://managedhsm.azure.net\u0022",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/1277140626/create?api-version=7.3",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC",
        "crv": "P-256K"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "311"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1648058190,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1648058190
        },
        "key": {
          "crv": "P-256K",
          "key_ops": [
            "verify",
            "sign"
          ],
          "kid": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/1277140626/fec001317ad64d622e1e94edcc44c6c6",
          "kty": "EC-HSM",
          "x": "_1ciJy6so5EKjwKMhq5GcNGsNJTXb9uN_0pwSB4vano",
          "y": "4SThb8D6JgDKzMTeEcP3IjVWpQab3wWvZjE12p3jBl4"
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/1277140626/fec001317ad64d622e1e94edcc44c6c6/sign?api-version=7.3",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES256K",
        "value": "PbwrgWvAoPOHv143azPv2_4LS7HhxSfQZPNz0JGbJF4"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "101"
      },
      "ResponseBody": {
        "alg": "ES256K",
        "kid": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/1277140626/fec001317ad64d622e1e94edcc44c6c6",
        "value": "8m0M0wzKtr41RLnR_xuAttLk2-ZxHaU-GVtTXuck2QKl0qp4k5_i6HM0A1if17l3k4KO9qQpMuV_4dHO5ikrCA"
      }
    },
[...]
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/1277140626/fec001317ad64d622e1e94edcc44c6c6/verify?api-version=7.3",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES256K",
        "digest": "PbwrgWvAoPOHv143azPv2_4LS7HhxSfQZPNz0JGbJF4",
        "value": "1nw95mUunHoScZccc9L1nIHmliSLd-1fflj2pjK2NK0LnpCl0DC4pjmNUj-qG1kY2OOtUghacSlpvs9YZV6kig"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "16"
      },
      "ResponseBody": {
        "alg": "ES256K",
        "kid": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/1277140626/fec001317ad64d622e1e94edcc44c6c6",
        "value": true
      }
    },
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/1277140626/fec001317ad64d622e1e94edcc44c6c6/verify?api-version=7.3",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES256K",
        "digest": "PbwrgWvAoPOHv143azPv2_4LS7HhxSfQZPNz0JGbJF4",
        "value": "8m0M0wzKtr41RLnR_xuAttLk2-ZxHaU-GVtTXuck2QKl0qp4k5_i6HM0A1if17l3k4KO9qQpMuV_4dHO5ikrCA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "16"
      },
      "ResponseBody": {
        "alg": "ES256K",
        "kid": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/1277140626/fec001317ad64d622e1e94edcc44c6c6",
        "value": true
      }
    }
  ],
  "Variables": {
    "AZURE_MANAGEDHSM_URL": "https://heathskeyvaulthsm.managedhsm.azure.net/",
    "RandomSeed": "1671786248"
  }
}
