{
  "Entries": [
    {
      "RequestUri": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/846122171/create?api-version=7.4",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://managedhsm.azure.net\u0022",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/846122171/create?api-version=7.4",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC",
        "crv": "P-256K"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "298"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1677719139,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1677719139
        },
        "key": {
          "crv": "P-256K",
          "key_ops": [
            "verify",
            "sign"
          ],
          "kid": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/846122171/cf319a869e7f4c8e15587a7a6b5509db",
          "kty": "EC-HSM",
          "x": "-2YOhrdMemIM2MHcuWHktlvFJR__dSaNIKM7ZW0patU",
          "y": "5D7X1_zNj7NKmk2ECdu2hDO0OqKE48niso3ShLjkCCc"
        }
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/846122171/cf319a869e7f4c8e15587a7a6b5509db/sign?api-version=7.4",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES256K",
        "value": "SxLaKEven6IeWfyPcJ93uU09YGI4a_O3FG_YtPgThPM"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "39"
      },
      "ResponseBody": {
        "alg": "ES256K",
        "kid": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/846122171/cf319a869e7f4c8e15587a7a6b5509db",
        "value": "NF2yhw8njtO_r85FNlZ797ygVIekFG6RlUOYTZq-mOJaQFK0Pl9DiK9toNx8DdSCpaOsjpfcGVHYYYiANeV79g"
      }
    },
[...]
    {
      "RequestUri": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/846122171/cf319a869e7f4c8e15587a7a6b5509db/verify?api-version=7.4",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES256K",
        "digest": "SxLaKEven6IeWfyPcJ93uU09YGI4a_O3FG_YtPgThPM",
        "value": "gmv6i8n0OKnbogRvfcFD8jwSgVlnVLUZ-Fcno9AMvR8oVy8GVM4JVz1ztMmfb10TMIuBh_bsINPaH_O3ZFN4Ng"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "16"
      },
      "ResponseBody": {
        "alg": "ES256K",
        "kid": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/846122171/cf319a869e7f4c8e15587a7a6b5509db",
        "value": true
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/846122171/cf319a869e7f4c8e15587a7a6b5509db/verify?api-version=7.4",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES256K",
        "digest": "SxLaKEven6IeWfyPcJ93uU09YGI4a_O3FG_YtPgThPM",
        "value": "NF2yhw8njtO_r85FNlZ797ygVIekFG6RlUOYTZq-mOJaQFK0Pl9DiK9toNx8DdSCpaOsjpfcGVHYYYiANeV79g"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "17"
      },
      "ResponseBody": {
        "alg": "ES256K",
        "kid": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/846122171/cf319a869e7f4c8e15587a7a6b5509db",
        "value": true
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com/",
    "AZURE_MANAGEDHSM_URL": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/",
    "RandomSeed": "1105734259"
  }
}
