{
  "Entries": [
    {
      "RequestUri": "https://heathskvtesthsm.managedhsm.azure.net/keys/79373414/create?api-version=7.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://managedhsm.azure.net\u0022",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://heathskvtesthsm.managedhsm.azure.net/keys/79373414/create?api-version=7.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC",
        "crv": "P-256"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "294"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1626228266,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 90,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "updated": 1626228266
        },
        "key": {
          "crv": "P-256",
          "key_ops": [
            "verify",
            "sign"
          ],
          "kid": "https://heathskvtesthsm.managedhsm.azure.net/keys/79373414/be7458f70835420f1be689180e5c89df",
          "kty": "EC-HSM",
          "x": "w8br0zwgmpabo1s826uu7dnWDci2VTUxBu8QJpm8YL8",
          "y": "iPdZaPwTM2aqUyYVxwcXsI_iKg80KgJFolFcVIwW-uI"
        }
      }
    },
    {
      "RequestUri": "https://heathskvtesthsm.managedhsm.azure.net/keys/79373414/be7458f70835420f1be689180e5c89df/sign?api-version=7.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES256",
        "value": "bvGdAfuuCcnNY9-c68DCMEyAX5ohavirzUwsWrKLUYg"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "127"
      },
      "ResponseBody": {
        "alg": "ES256",
        "kid": "https://heathskvtesthsm.managedhsm.azure.net/keys/79373414/be7458f70835420f1be689180e5c89df",
        "value": "W_ADB4GdCYnXstMhaF9wATsk_Fx4IE4eWxtC4dNMvx0kw4_ejwEmb9qzgSN5e61ntMacfAiQEV1oQSCkKB_X6g"
      }
    },
[...]
    {
      "RequestUri": "https://heathskvtesthsm.managedhsm.azure.net/keys/79373414/be7458f70835420f1be689180e5c89df/verify?api-version=7.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES256",
        "digest": "bvGdAfuuCcnNY9-c68DCMEyAX5ohavirzUwsWrKLUYg",
        "value": "IDTI_VH-O0dm04QVoB2_ZNZIKytEqmqG33I4kOGneVODp1VrBxZV1P5dCoxf1a6wpadpGNohLJqgsNnl6k-Rng"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "15"
      },
      "ResponseBody": {
        "alg": "ES256",
        "kid": "https://heathskvtesthsm.managedhsm.azure.net/keys/79373414/be7458f70835420f1be689180e5c89df",
        "value": true
      }
    },
    {
      "RequestUri": "https://heathskvtesthsm.managedhsm.azure.net/keys/79373414/be7458f70835420f1be689180e5c89df/verify?api-version=7.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES256",
        "digest": "bvGdAfuuCcnNY9-c68DCMEyAX5ohavirzUwsWrKLUYg",
        "value": "W_ADB4GdCYnXstMhaF9wATsk_Fx4IE4eWxtC4dNMvx0kw4_ejwEmb9qzgSN5e61ntMacfAiQEV1oQSCkKB_X6g"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "15"
      },
      "ResponseBody": {
        "alg": "ES256",
        "kid": "https://heathskvtesthsm.managedhsm.azure.net/keys/79373414/be7458f70835420f1be689180e5c89df",
        "value": true
      }
    }
  ],
  "Variables": {
    "AZURE_MANAGEDHSM_URL": "https://heathskvtesthsm.managedhsm.azure.net/",
    "RandomSeed": "1598264756"
  }
}