{
  "Entries": [
    {
      "RequestUri": "https://heathskvtesthsm.managedhsm.azure.net/keys/371032252/create?api-version=7.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://managedhsm.azure.net\u0022",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://heathskvtesthsm.managedhsm.azure.net/keys/371032252/create?api-version=7.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "215"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1626228329,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 90,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "updated": 1626228329
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://heathskvtesthsm.managedhsm.azure.net/keys/371032252/accd7c872ca24ab7267309ae8500f23d",
          "kty": "RSA-HSM",
          "n": "kkxqe2ezErw6GGwyyiPi2o17PLIdU_BhavjF1mLNLqqymzGFa0OOv11aGDoREyCMMdMYUYzgeRrNgpCR7KMt2pWwb2NSf_C_VH7pyqcET0c1yV96YdfCImQYJF2GrQPdeAsQAbR5au0mfXg73bBxzMJQ1_Hi6WoOSmW0EUpNkVuduFTyixVAntmhyuyE0G8721kYaKRwm8i_Zvbn_ut4Q0N3cnrhCqaaBoFfQd0RS9uawGE7hVQCJLVKKVrBcfPiwtnAUFNmCqpnF8Auz8Fslsp9vYNi77sbF7OPYNWMEowbGL6vwTirbpYO9-naEq_V_fi_GXiYXYdwWtjPFvJg-w"
        }
      }
    },
    {
      "RequestUri": "https://heathskvtesthsm.managedhsm.azure.net/keys/371032252/accd7c872ca24ab7267309ae8500f23d?api-version=7.2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20210605-1-ffd80f31-develop",
        "x-ms-server-latency": "140"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1626228329,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 90,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "updated": 1626228329
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "verify",
            "sign",
            "unwrapKey",
            "encrypt",
            "decrypt"
          ],
          "kid": "https://heathskvtesthsm.managedhsm.azure.net/keys/371032252/accd7c872ca24ab7267309ae8500f23d",
          "kty": "RSA-HSM",
          "n": "kkxqe2ezErw6GGwyyiPi2o17PLIdU_BhavjF1mLNLqqymzGFa0OOv11aGDoREyCMMdMYUYzgeRrNgpCR7KMt2pWwb2NSf_C_VH7pyqcET0c1yV96YdfCImQYJF2GrQPdeAsQAbR5au0mfXg73bBxzMJQ1_Hi6WoOSmW0EUpNkVuduFTyixVAntmhyuyE0G8721kYaKRwm8i_Zvbn_ut4Q0N3cnrhCqaaBoFfQd0RS9uawGE7hVQCJLVKKVrBcfPiwtnAUFNmCqpnF8Auz8Fslsp9vYNi77sbF7OPYNWMEowbGL6vwTirbpYO9-naEq_V_fi_GXiYXYdwWtjPFvJg-w"
        }
      }
    },
    {
      "RequestUri": "https://heathskvtesthsm.managedhsm.azure.net/keys/371032252/accd7c872ca24ab7267309ae8500f23d/sign?api-version=7.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RS384",
        "value": "qsHqs5qES0IFmoIcBtfxgjq0J4DPF4trJt5tkiczSLVjZC53qyzFLsNzzuc2omDs"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "3"
      },
      "ResponseBody": {
        "alg": "RS384",
        "kid": "https://heathskvtesthsm.managedhsm.azure.net/keys/371032252/accd7c872ca24ab7267309ae8500f23d",
        "value": "CogNsKv6-w-n3X05ggXepwMlK_auWjQg_bKWTzOV7Ii4YyOF2At8uaVy0LhMrc8zMYGM46ov2ndl85ILyzMExdjIkFF5OdEgiGSKa1e6qNF6bbfTBlynimiblZE78D41QJm2fujYPq0yQ_8LbAeD7VuvPAyOWPl1bzsGKQ6x1Wnk7dvvTgY0ay1DLmo0ppJdNjIoRNVSHv35Bqlu4RQoNSIMrAeSRICtgRqBkgZ_MhFOUYUaRzKj2xSLZJQoL3DHARZn9CUrc1PMs11X9GTm5yGzD6EOPIUowgANx4X4-cXql8SAO6p1dCQTPC3kKC25A2VnYV8_GPg5ZDwJLUu75A"
      }
    }
  ],
  "Variables": {
    "AZURE_MANAGEDHSM_URL": "https://heathskvtesthsm.managedhsm.azure.net/",
    "RandomSeed": "248450452"
  }
}