{
  "Entries": [
    {
      "RequestUri": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/803409737/create?api-version=7.4",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://managedhsm.azure.net\u0022",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/803409737/create?api-version=7.4",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "204"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1677719004,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1677719004
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/803409737/d838ce93ef620b5c39203b2c22d8a13d",
          "kty": "RSA-HSM",
          "n": "iUPF3Cb93jEwRPT2NP0Sni3MtxpEj6Yc9-H9EDTsc85hA4M4tU6n1qRbYJmhm8f7jZGOLp6eBZ2jVE2TkQpKVixThxcbsBvR0zWQ7xuXrCeXLA7caLu524vlxYjeEObJWjiqsLew6iv6K5DaxjjXEF2c6DppMHvlIWKV3KhsjnKX_loR6aK4nTchEOvgGId4qaW0oE8c-jEdCXSVbaA0P25Ns8CFbCvy5w1M2SjJ48pRQe-QMpPUErXbuG-UrtTKdf0vc6hhhQdnINiHlG3e7UfF_xb0nSUf14TXFvPEWZzIQINJwLkeq2jQ3UljhUfm2-y-BqN10f1JUIEveXKalQ"
        }
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/803409737/d838ce93ef620b5c39203b2c22d8a13d?api-version=7.4",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20230208-1-3e0fbecc-develop",
        "x-ms-server-latency": "31"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1677719004,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1677719004
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "verify",
            "sign",
            "unwrapKey",
            "encrypt",
            "decrypt"
          ],
          "kid": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/803409737/d838ce93ef620b5c39203b2c22d8a13d",
          "kty": "RSA-HSM",
          "n": "iUPF3Cb93jEwRPT2NP0Sni3MtxpEj6Yc9-H9EDTsc85hA4M4tU6n1qRbYJmhm8f7jZGOLp6eBZ2jVE2TkQpKVixThxcbsBvR0zWQ7xuXrCeXLA7caLu524vlxYjeEObJWjiqsLew6iv6K5DaxjjXEF2c6DppMHvlIWKV3KhsjnKX_loR6aK4nTchEOvgGId4qaW0oE8c-jEdCXSVbaA0P25Ns8CFbCvy5w1M2SjJ48pRQe-QMpPUErXbuG-UrtTKdf0vc6hhhQdnINiHlG3e7UfF_xb0nSUf14TXFvPEWZzIQINJwLkeq2jQ3UljhUfm2-y-BqN10f1JUIEveXKalQ"
        }
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/803409737/d838ce93ef620b5c39203b2c22d8a13d/sign?api-version=7.4",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RS256",
        "value": "wEwF252T5w-jbLWj7XJKm_tYpsZgrn5ikPQ4wur8S0w"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "2"
      },
      "ResponseBody": {
        "alg": "RS256",
        "kid": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/803409737/d838ce93ef620b5c39203b2c22d8a13d",
        "value": "PCb0anxybsVKNg_gXiLtmj2qch_FjccrqVGw0uxGKy2DVkzVqh_YhFu5K5CHfrAyC4TCk3j4XrxTiAmISFhTJDN1g4Vr0oCoE3oAu2qxFEextQHYNQOXhTtKbj12xXsdDm9RZUGsiQMUPbGN39NxmAxRr44crBEAnM2ycaNvRPZjyIXeJaXq9xn76U25GxWrH8JQLLlyxjLjSCq6I4tS1o9jEe5Q26L_2p0oMsfqcZ0HITgjzxEa55UsL1ioVd6d-saAEOnDhOGNSEya4NuWGFqRK1vQeNaxSYdra3XU8P8RAefLxS7GZLOFCzSOGO9TtLhK1IZ2-yz6lcaM-S258w"
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com/",
    "AZURE_MANAGEDHSM_URL": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/",
    "RandomSeed": "1973348323"
  }
}
