{
  "Entries": [
    {
      "RequestUri": "https://heathskvtesthsm.managedhsm.azure.net/keys/18713907/create?api-version=7.3-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://managedhsm.azure.net\u0022",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://heathskvtesthsm.managedhsm.azure.net/keys/18713907/create?api-version=7.3-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "230"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1626299906,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 90,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "updated": 1626299906
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://heathskvtesthsm.managedhsm.azure.net/keys/18713907/00750dcb979e425327078bad62a6be82",
          "kty": "RSA-HSM",
          "n": "w3ciwaQNI43WWIGGMT_FdXotiIBZc2lsoYopC2VzN6-_optzcmK5N0OO4SJn0rWGGnOIp7aoZ24N7oOUM-bmvgVwQjz4S_nO2eISrRsrLrff8IV5CaNoPXKKBVLKHr-HFRl1dysBV9sjfiBm8NeAcfwsr1yqrQFpWjHexohBE3JMXPnPVm2ihpAgz6bf2QSkLFdJsPXCGN135xn7MdbvdbUs0l8M5wwh4KnjPhS_zIqce7ohiIClKh-fXPvNfQwH6yDBsSmckVza__OqGuqXjUebHaRg8iNBNKx8ukubFThGYVqbdE4_IRsRyYbK2pFGN-djR3Vp-MvN7dLG5fxwcw"
        }
      }
    },
    {
      "RequestUri": "https://heathskvtesthsm.managedhsm.azure.net/keys/18713907/00750dcb979e425327078bad62a6be82?api-version=7.3-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20210605-1-ffd80f31-develop",
        "x-ms-server-latency": "170"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1626299906,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 90,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "updated": 1626299906
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "verify",
            "sign",
            "unwrapKey",
            "encrypt",
            "decrypt"
          ],
          "kid": "https://heathskvtesthsm.managedhsm.azure.net/keys/18713907/00750dcb979e425327078bad62a6be82",
          "kty": "RSA-HSM",
          "n": "w3ciwaQNI43WWIGGMT_FdXotiIBZc2lsoYopC2VzN6-_optzcmK5N0OO4SJn0rWGGnOIp7aoZ24N7oOUM-bmvgVwQjz4S_nO2eISrRsrLrff8IV5CaNoPXKKBVLKHr-HFRl1dysBV9sjfiBm8NeAcfwsr1yqrQFpWjHexohBE3JMXPnPVm2ihpAgz6bf2QSkLFdJsPXCGN135xn7MdbvdbUs0l8M5wwh4KnjPhS_zIqce7ohiIClKh-fXPvNfQwH6yDBsSmckVza__OqGuqXjUebHaRg8iNBNKx8ukubFThGYVqbdE4_IRsRyYbK2pFGN-djR3Vp-MvN7dLG5fxwcw"
        }
      }
    },
    {
      "RequestUri": "https://heathskvtesthsm.managedhsm.azure.net/keys/18713907/00750dcb979e425327078bad62a6be82/sign?api-version=7.3-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "PS256",
        "value": "-Lcj6GqF9r3dXErt9YX2JCEFT0WOO8LrRiyy2XFUvas"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "3"
      },
      "ResponseBody": {
        "alg": "PS256",
        "kid": "https://heathskvtesthsm.managedhsm.azure.net/keys/18713907/00750dcb979e425327078bad62a6be82",
        "value": "WDb3b9KqtZk0CPxuc9i5nxKV5r6bjpLw1b5l0eWhRObSTeeqe4ZUb27Gj_XfGq6qU4jb65AHAYJfLOhjppd6o_0VJtyJH4skl--EOaRripRAaCwg5ZwY7HIq3uGGr-hoDgRbL1IkNwO9REu4Ukx1lOd88ya7n5KV4S9GKvRGOZ5jGhRUrJZETcXTdXhmOsOSYIcSePqG3GtrqFHrlEcwZgkgNx0h44ctjLG16WgeJJk7TCAYEsdxBxSo7yEha_AKAq80aG2soE8ORCNc3W1zeWO5pHMUwmpnYiS6-CaWupqwQ7wqT4dW4gA0u982AG5hhnQYb7z3fcpVLEZExROp0Q"
      }
    }
  ],
  "Variables": {
    "AZURE_MANAGEDHSM_URL": "https://heathskvtesthsm.managedhsm.azure.net/",
    "RandomSeed": "1977807174"
  }
}