{
  "Entries": [
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/1588584473/create?api-version=7.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://managedhsm.azure.net\u0022",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/1588584473/create?api-version=7.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "363"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1613812081,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 90,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "updated": 1613812081
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/1588584473/940a212940f809c5a898e027e2e999ee",
          "kty": "RSA-HSM",
          "n": "qAA3SRnaBwrF-MxeBc9BP1wAVgK2YrxmgRIfbLYsPukgrtw3-6JgwpvK6zwYB2K3ZGrfzUWAqBNLmK50Zw3SVkaQw0Zji4tiaCCdIPGs1ABiU0kTr2ktJqJjyvUwFvRytKBkkYmooKfukh2Z3kRssch91t0Q7-WOEbe1DzRZJyr_LBt9FjvxmjKwIwkDVij41u24-CmDo4-1_YnDSaPtEv2n6XCWaj2-X1C6hLJs08CMHR0E4JERFJxACWF8Vt-K4bOJFhrDRHAUmvRc5kg6cHPmJU_jcFwP0DhBaF_EPq4chj9EphE6-F9d3QKvDnSu7jzdtWlNPGnccwcnVGFqAw"
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/1588584473/940a212940f809c5a898e027e2e999ee?api-version=7.2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20210204-1-c9f88df4-develop",
        "x-ms-server-latency": "145"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1613812081,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 90,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "updated": 1613812081
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "verify",
            "sign",
            "unwrapKey",
            "encrypt",
            "decrypt"
          ],
          "kid": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/1588584473/940a212940f809c5a898e027e2e999ee",
          "kty": "RSA-HSM",
          "n": "qAA3SRnaBwrF-MxeBc9BP1wAVgK2YrxmgRIfbLYsPukgrtw3-6JgwpvK6zwYB2K3ZGrfzUWAqBNLmK50Zw3SVkaQw0Zji4tiaCCdIPGs1ABiU0kTr2ktJqJjyvUwFvRytKBkkYmooKfukh2Z3kRssch91t0Q7-WOEbe1DzRZJyr_LBt9FjvxmjKwIwkDVij41u24-CmDo4-1_YnDSaPtEv2n6XCWaj2-X1C6hLJs08CMHR0E4JERFJxACWF8Vt-K4bOJFhrDRHAUmvRc5kg6cHPmJU_jcFwP0DhBaF_EPq4chj9EphE6-F9d3QKvDnSu7jzdtWlNPGnccwcnVGFqAw"
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/1588584473/940a212940f809c5a898e027e2e999ee/sign?api-version=7.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "PS512",
        "value": "Ek6xDjj-0liM_8kbjy4quyJTLcuSJsret_xdrcWAW1rLnsgIQc-XMtQ6DUcOdNxPq2Ti-C6R-g16y9VBsyfZOQ"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "3"
      },
      "ResponseBody": {
        "alg": "PS512",
        "kid": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/1588584473/940a212940f809c5a898e027e2e999ee",
        "value": "c82He8d0XOKpJEgNKzbDD5KpiuVrHKHFkxRckMvmnrRfR9wDUxh8qNdXVlw1vP6IcMzStbZkrogM_5hfjCuOJ-jS0hVInNwNkDfb-aq3sjg4xV-gzSN7V9GZRPgIeHEepFaqYziF06H9nquzhePm9Xj-duffD4hhqeeoRNEaDp6sFbH5YIVCHzEEa5cTxphtCiX3kmEL4l1pyJNDnhmRS3T_Mec6Zh4USIJ6qpqm1yWQHOiPe5iX0umRFb9Uoj-iRdgsYbrivCn9wUF8dvlpWqSnKmT7KQR3JZMpJ-aFpC-6yVkM1fKemjwoeaYXLiRwMYkCH4OCZNSy7uJHPRS2Ug"
      }
    }
  ],
  "Variables": {
    "AZURE_MANAGEDHSM_URL": "https://heathskeyvaulthsm.managedhsm.azure.net/",
    "RandomSeed": "769384182"
  }
}