{
  "Entries": [
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/1699019133/create?api-version=7.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://managedhsm.azure.net\u0022",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/1699019133/create?api-version=7.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC",
        "crv": "P-384"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "341"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1613812276,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 90,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "updated": 1613812276
        },
        "key": {
          "crv": "P-384",
          "key_ops": [
            "verify",
            "sign"
          ],
          "kid": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/1699019133/26ab953ca82c48e8bae5ddd25d1a7322",
          "kty": "EC-HSM",
          "x": "Y7dYp4a9D8Z7kooRJpVijJRqMLiyjfXsFV8B-PiniHy575oLhO-wl3oILSxJAQ06",
          "y": "kjYoRJqTbEtglspMWwTHMtKlexVl_mCV5hknZ9UYPLLCSyv1S5ufNH4qosER0NXH"
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/1699019133/26ab953ca82c48e8bae5ddd25d1a7322/sign?api-version=7.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES384",
        "value": "scriKFayE8LB3vRLVNDUlI0tG0R7fTvCxbEwcD5QAqKrYFV1YzQaxiMv0B2jaE3c"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "146"
      },
      "ResponseBody": {
        "alg": "ES384",
        "kid": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/1699019133/26ab953ca82c48e8bae5ddd25d1a7322",
        "value": "KS3U71uX_694TpyUhIrhOy2xWPh-xYDuKSCljsC5kbtj7WAZxeajA_zPi2IzM8mxuuS3JT6od_d-8i5VDh0x1XsTnLCFExRHlw8J3Xs5d3c4JNiXkzuwYkg7snshBQ16"
      }
    },
[...]
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/1699019133/26ab953ca82c48e8bae5ddd25d1a7322/verify?api-version=7.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES384",
        "digest": "scriKFayE8LB3vRLVNDUlI0tG0R7fTvCxbEwcD5QAqKrYFV1YzQaxiMv0B2jaE3c",
        "value": "EYZPv3OB6phOC-KIQ-BLkFE3WfcTQhLvhKcBdNwKy06TQZi7LY20wsk1WeYVA5hhpJe35F--hdyhzKdif4p_nYhXYjZCGfsYwsvc7wdVjIwGszpGxAvarr7ZQ8BqtOEz"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "25"
      },
      "ResponseBody": {
        "alg": "ES384",
        "kid": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/1699019133/26ab953ca82c48e8bae5ddd25d1a7322",
        "value": true
      }
    },
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/1699019133/26ab953ca82c48e8bae5ddd25d1a7322/verify?api-version=7.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES384",
        "digest": "scriKFayE8LB3vRLVNDUlI0tG0R7fTvCxbEwcD5QAqKrYFV1YzQaxiMv0B2jaE3c",
        "value": "KS3U71uX_694TpyUhIrhOy2xWPh-xYDuKSCljsC5kbtj7WAZxeajA_zPi2IzM8mxuuS3JT6od_d-8i5VDh0x1XsTnLCFExRHlw8J3Xs5d3c4JNiXkzuwYkg7snshBQ16"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "24"
      },
      "ResponseBody": {
        "alg": "ES384",
        "kid": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/1699019133/26ab953ca82c48e8bae5ddd25d1a7322",
        "value": true
      }
    }
  ],
  "Variables": {
    "AZURE_MANAGEDHSM_URL": "https://heathskeyvaulthsm.managedhsm.azure.net/",
    "RandomSeed": "1054474326"
  }
}