{
  "Entries": [
    {
      "RequestUri": "https://heathskvtesthsm.managedhsm.azure.net/keys/1135057671/create?api-version=7.3-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://managedhsm.azure.net\u0022",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://heathskvtesthsm.managedhsm.azure.net/keys/1135057671/create?api-version=7.3-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC",
        "crv": "P-256"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "310"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1626299957,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 90,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "updated": 1626299957
        },
        "key": {
          "crv": "P-256",
          "key_ops": [
            "verify",
            "sign"
          ],
          "kid": "https://heathskvtesthsm.managedhsm.azure.net/keys/1135057671/1b0a5ffd00ba4f2a864c2ae32037e687",
          "kty": "EC-HSM",
          "x": "Cv9q8ODBL4p8EUN6HMScOu72E8-rxFwdD3CMrIfl5hg",
          "y": "Zx-mjO-HSfiSu2hgGQYH8XAdontUXcHhmgKbrJAk5Tg"
        }
      }
    },
    {
      "RequestUri": "https://heathskvtesthsm.managedhsm.azure.net/keys/1135057671/1b0a5ffd00ba4f2a864c2ae32037e687/sign?api-version=7.3-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES256",
        "value": "cfDC-J8W1r1gXnPWCJp7GOWPqZhOQ2ALmJMrATXnpiA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "158"
      },
      "ResponseBody": {
        "alg": "ES256",
        "kid": "https://heathskvtesthsm.managedhsm.azure.net/keys/1135057671/1b0a5ffd00ba4f2a864c2ae32037e687",
        "value": "rpOjyp0WvpTlwYTwMJtAXRUMDqri-V22UA4C_5atTgRD4bvxoxW3Lk43SUUtLDxZ2lwzk3bfMaYgK4iB1yD1oA"
      }
    },
[...]
    {
      "RequestUri": "https://heathskvtesthsm.managedhsm.azure.net/keys/1135057671/1b0a5ffd00ba4f2a864c2ae32037e687/verify?api-version=7.3-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES256",
        "digest": "cfDC-J8W1r1gXnPWCJp7GOWPqZhOQ2ALmJMrATXnpiA",
        "value": "yhYFLXWsJprGgy7F6sLaRG5NWlnFCI-VkcQik8pB5CWP9fbxkCwuUGafpBh124DgcZYZOZsOYSq2ZtGzag_JPw"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "16"
      },
      "ResponseBody": {
        "alg": "ES256",
        "kid": "https://heathskvtesthsm.managedhsm.azure.net/keys/1135057671/1b0a5ffd00ba4f2a864c2ae32037e687",
        "value": true
      }
    },
    {
      "RequestUri": "https://heathskvtesthsm.managedhsm.azure.net/keys/1135057671/1b0a5ffd00ba4f2a864c2ae32037e687/verify?api-version=7.3-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES256",
        "digest": "cfDC-J8W1r1gXnPWCJp7GOWPqZhOQ2ALmJMrATXnpiA",
        "value": "rpOjyp0WvpTlwYTwMJtAXRUMDqri-V22UA4C_5atTgRD4bvxoxW3Lk43SUUtLDxZ2lwzk3bfMaYgK4iB1yD1oA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "16"
      },
      "ResponseBody": {
        "alg": "ES256",
        "kid": "https://heathskvtesthsm.managedhsm.azure.net/keys/1135057671/1b0a5ffd00ba4f2a864c2ae32037e687",
        "value": true
      }
    }
  ],
  "Variables": {
    "AZURE_MANAGEDHSM_URL": "https://heathskvtesthsm.managedhsm.azure.net/",
    "RandomSeed": "2062152749"
  }
}