{
  "Entries": [
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/671045274/create?api-version=7.4-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://managedhsm.azure.net\u0022",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/671045274/create?api-version=7.4-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC",
        "crv": "P-384"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "441"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1667431025,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1667431025
        },
        "key": {
          "crv": "P-384",
          "key_ops": [
            "verify",
            "sign"
          ],
          "kid": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/671045274/93f01da8eb850e0a844b43fd71410b3e",
          "kty": "EC-HSM",
          "x": "UN3UJ3OYcWYaTr4vnyuI5PnR47MwdsIKT9RPZfEWI1DVOGLWwzq7IOtbEALHtbk7",
          "y": "HlcSRfRjRtwNLiJb8gujgKHhNFCnL_9CV3QqeoMTHC49ITvQgPLh2sfQ8xfN-kiw"
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/671045274/93f01da8eb850e0a844b43fd71410b3e/sign?api-version=7.4-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES384",
        "value": "4VJ_8RRs4jihw53L5RZEbfOEpJHQ3A6C_h6j7yVCmh8vdB_Nbq_ZukuS_oBpfsya"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "129"
      },
      "ResponseBody": {
        "alg": "ES384",
        "kid": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/671045274/93f01da8eb850e0a844b43fd71410b3e",
        "value": "M8EqKvVLcPjYv7WZlZTT6lcxVg-H_voLx8cU-dHZKQEKqYR6WkG4GIv5D3GfrKMYb-MlAdt8t-b2sGSBC6HMuXoArRH_YjQt9Ii5XAvZbXo1AWALhrYqu1WGB9lKY5Iq"
      }
    },
[...]
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/671045274/93f01da8eb850e0a844b43fd71410b3e/verify?api-version=7.4-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES384",
        "digest": "4VJ_8RRs4jihw53L5RZEbfOEpJHQ3A6C_h6j7yVCmh8vdB_Nbq_ZukuS_oBpfsya",
        "value": "HywLhkdShhZ4RD_HkkNNaXTSix-u8s5TWBCH1drH60xB10hARDGMyjkJuQVYNROkSSD6szdeJx8or7TIyc-yqOvR7kv1QVf-UOWkm35SQHeQXl1DIrZkW3RvnDNiDnNJ"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "25"
      },
      "ResponseBody": {
        "alg": "ES384",
        "kid": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/671045274/93f01da8eb850e0a844b43fd71410b3e",
        "value": true
      }
    },
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/671045274/93f01da8eb850e0a844b43fd71410b3e/verify?api-version=7.4-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES384",
        "digest": "4VJ_8RRs4jihw53L5RZEbfOEpJHQ3A6C_h6j7yVCmh8vdB_Nbq_ZukuS_oBpfsya",
        "value": "M8EqKvVLcPjYv7WZlZTT6lcxVg-H_voLx8cU-dHZKQEKqYR6WkG4GIv5D3GfrKMYb-MlAdt8t-b2sGSBC6HMuXoArRH_YjQt9Ii5XAvZbXo1AWALhrYqu1WGB9lKY5Iq"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "24"
      },
      "ResponseBody": {
        "alg": "ES384",
        "kid": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/671045274/93f01da8eb850e0a844b43fd71410b3e",
        "value": true
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com/",
    "AZURE_MANAGEDHSM_URL": "https://heathskeyvaulthsm.managedhsm.azure.net/",
    "RandomSeed": "814139032"
  }
}
