{
  "Entries": [
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/108220427/create?api-version=7.4-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://managedhsm.azure.net\u0022",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/108220427/create?api-version=7.4-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "292"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1667432278,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1667432278
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/108220427/9ebc7a723c4e4f769dc4e35fe8c0c4cc",
          "kty": "RSA-HSM",
          "n": "i0o0-AMnU5BmG80mSTaCUBLC6vv-DhVIgVmbH2tb2p4DaHVwl8GQdWdzk-mi6fhj9wcE4GOiIMQ5IGUx1C-JpDRtdhiAqPZ_MIeNtU2DbkIw-YS1f-7mKbMWNvFPFgppMWJlywkWAmzmHOkHo-GMIzw238rNFlgM-I8zxfBXjYjGYzMSmGepglT7ezJSsgGisMpCghisRd679Dl7H2YeYt-w1v-Svf2jYuoCbdv5pIKz0Kn1uQjcT5Ybxo4JarLCXkeMlSFc2Wpe_D_jknpjtSmYdAfBnascX50XLbdTr-H53CZ4Z-kw_lix4DH8uD1t2rhNoMJr9jcQnZE8kbgoTw"
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/108220427/9ebc7a723c4e4f769dc4e35fe8c0c4cc?api-version=7.4-preview.1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20221020-1-945ffe56-develop",
        "x-ms-server-latency": "180"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1667432278,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1667432278
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "verify",
            "sign",
            "unwrapKey",
            "encrypt",
            "decrypt"
          ],
          "kid": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/108220427/9ebc7a723c4e4f769dc4e35fe8c0c4cc",
          "kty": "RSA-HSM",
          "n": "i0o0-AMnU5BmG80mSTaCUBLC6vv-DhVIgVmbH2tb2p4DaHVwl8GQdWdzk-mi6fhj9wcE4GOiIMQ5IGUx1C-JpDRtdhiAqPZ_MIeNtU2DbkIw-YS1f-7mKbMWNvFPFgppMWJlywkWAmzmHOkHo-GMIzw238rNFlgM-I8zxfBXjYjGYzMSmGepglT7ezJSsgGisMpCghisRd679Dl7H2YeYt-w1v-Svf2jYuoCbdv5pIKz0Kn1uQjcT5Ybxo4JarLCXkeMlSFc2Wpe_D_jknpjtSmYdAfBnascX50XLbdTr-H53CZ4Z-kw_lix4DH8uD1t2rhNoMJr9jcQnZE8kbgoTw"
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/108220427/9ebc7a723c4e4f769dc4e35fe8c0c4cc/sign?api-version=7.4-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "PS256",
        "value": "yVIs1FyCRZH-d_IqWmzJSQbmrvmi_mC_MBytfec7Nvw"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "3"
      },
      "ResponseBody": {
        "alg": "PS256",
        "kid": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/108220427/9ebc7a723c4e4f769dc4e35fe8c0c4cc",
        "value": "SH4Mani8V6-XYgD0u4BThdanRPixMs-C7FoWEbxlQd1Tlq-kn4tWHGuz5ZL9X_teKCh7DDFygpZBlPsFi9yHdhE80WrU2-wb0pVjdxCq056fj1LzQxacqNVDwpNXPdcFh-WIjmwJwj7OWGwitN5xhgCIuBFMK_O032bIIaCnweE4PvspNACTOf0ipuiuikoMuhyeSORbUMX_Fs_2KT99vWpwyGOBSK-y5CQxQpAo1X9mhG1D27rDkt3Kr3HCzbPaeeK85bh5p8OXdp1RSUFuP4ceyYe76vgOUr1EH_UvoQvBWPf2prKY4SBOukTEtRk0IpnMyoVy8J94BRD3w0r03A"
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com/",
    "AZURE_MANAGEDHSM_URL": "https://heathskeyvaulthsm.managedhsm.azure.net/",
    "RandomSeed": "1151405198"
  }
}
