{
  "Entries": [
    {
      "RequestUri": "https://heathskvtesthsm.managedhsm.azure.net/keys/93567653/create?api-version=7.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://managedhsm.azure.net\u0022",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://heathskvtesthsm.managedhsm.azure.net/keys/93567653/create?api-version=7.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC",
        "crv": "P-521"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "363"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1626228343,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 90,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "updated": 1626228343
        },
        "key": {
          "crv": "P-521",
          "key_ops": [
            "verify",
            "sign"
          ],
          "kid": "https://heathskvtesthsm.managedhsm.azure.net/keys/93567653/741c4ed8c7b00ecd2cea67b8eefdc15b",
          "kty": "EC-HSM",
          "x": "AY5hBWtjyCe30msYlTDDJE3TgEK5_qsLjYIxpPXZQylmyX2pB_K_1_rObXPMvDFXzVXQWiAWv-O0IXC7raY2S2oO",
          "y": "AD6t74iAZqrbkwhKmRTBxVc1OuJjLVeYCrQHDHx3TeRfhQpIqjFBKatziyC05cW-WgyDBG8n46LpcmPXtWqBBMuH"
        }
      }
    },
    {
      "RequestUri": "https://heathskvtesthsm.managedhsm.azure.net/keys/93567653/741c4ed8c7b00ecd2cea67b8eefdc15b?api-version=7.2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20210605-1-ffd80f31-develop",
        "x-ms-server-latency": "140"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1626228343,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 90,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "updated": 1626228343
        },
        "key": {
          "crv": "P-521",
          "key_ops": [
            "verify",
            "sign"
          ],
          "kid": "https://heathskvtesthsm.managedhsm.azure.net/keys/93567653/741c4ed8c7b00ecd2cea67b8eefdc15b",
          "kty": "EC-HSM",
          "x": "AY5hBWtjyCe30msYlTDDJE3TgEK5_qsLjYIxpPXZQylmyX2pB_K_1_rObXPMvDFXzVXQWiAWv-O0IXC7raY2S2oO",
          "y": "AD6t74iAZqrbkwhKmRTBxVc1OuJjLVeYCrQHDHx3TeRfhQpIqjFBKatziyC05cW-WgyDBG8n46LpcmPXtWqBBMuH"
        }
      }
    },
    {
      "RequestUri": "https://heathskvtesthsm.managedhsm.azure.net/keys/93567653/741c4ed8c7b00ecd2cea67b8eefdc15b/sign?api-version=7.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES512",
        "value": "TafMEcor-h7IMknOCz15v9A7Tr2lSlb9y-1XCInfvgYLUBn8H_7I7poFSKn396DsCyxj4GYfDL641EqL5qcihA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "35"
      },
      "ResponseBody": {
        "alg": "ES512",
        "kid": "https://heathskvtesthsm.managedhsm.azure.net/keys/93567653/741c4ed8c7b00ecd2cea67b8eefdc15b",
        "value": "ACUTzeXweosHIxb6we72KyLv0HpH_v6oN-ykXTK4bgL3iMEVA7JX2BFPEtDZIvORlkL8ihpXY1vJI7RoBsBnXw5GAc4-5Ewvk6nuXkQzfP3TPqnugf-NDb9E7YLoGyp7-u-GIGMfWLzC-cFVxuZzyJ7GrzsSaFcZT7-CA6G5EucdQfj6"
      }
    }
  ],
  "Variables": {
    "AZURE_MANAGEDHSM_URL": "https://heathskvtesthsm.managedhsm.azure.net/",
    "RandomSeed": "1360922396"
  }
}