{
  "Entries": [
    {
      "RequestUri": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/1343308196/create?api-version=7.4",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://managedhsm.azure.net\u0022",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/1343308196/create?api-version=7.4",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC",
        "crv": "P-256"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "416"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1677719112,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1677719112
        },
        "key": {
          "crv": "P-256",
          "key_ops": [
            "verify",
            "sign"
          ],
          "kid": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/1343308196/a0ba0aece6d80934ba12a684e8474e02",
          "kty": "EC-HSM",
          "x": "Q36ZZ4fcq6M72MJHmGgooTCgkXQBhP0UzMYMOfxU4js",
          "y": "tZfKl4kxzy5acDoO990NbYupSZfYFrKHhttjpd6LIvM"
        }
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/1343308196/a0ba0aece6d80934ba12a684e8474e02?api-version=7.4",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20230208-1-3e0fbecc-develop",
        "x-ms-server-latency": "30"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1677719112,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1677719112
        },
        "key": {
          "crv": "P-256",
          "key_ops": [
            "verify",
            "sign"
          ],
          "kid": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/1343308196/a0ba0aece6d80934ba12a684e8474e02",
          "kty": "EC-HSM",
          "x": "Q36ZZ4fcq6M72MJHmGgooTCgkXQBhP0UzMYMOfxU4js",
          "y": "tZfKl4kxzy5acDoO990NbYupSZfYFrKHhttjpd6LIvM"
        }
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/1343308196/a0ba0aece6d80934ba12a684e8474e02/sign?api-version=7.4",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES256",
        "value": "zMyByhIE-fLC_ndMKLVB1hsuVlZ-Z-aEMvDB0EsYlRs"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "8"
      },
      "ResponseBody": {
        "alg": "ES256",
        "kid": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/1343308196/a0ba0aece6d80934ba12a684e8474e02",
        "value": "HTttmhjwv9YqMT1LSwA0c-DUSZdC6jAqnvVbZoVX2u0gfMQFjeWVr7ozzJTbeTJg7t9iJ0-7Zj7mgdw1Zy5sLw"
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com/",
    "AZURE_MANAGEDHSM_URL": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/",
    "RandomSeed": "2108532215"
  }
}
