{
  "Entries": [
    {
      "RequestUri": "https://heathskvtesthsm.managedhsm.azure.net/keys/971502050/create?api-version=7.3-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://managedhsm.azure.net\u0022",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://heathskvtesthsm.managedhsm.azure.net/keys/971502050/create?api-version=7.3-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "276"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1626299940,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 90,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "updated": 1626299940
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://heathskvtesthsm.managedhsm.azure.net/keys/971502050/908bc57f581a0f31ae6f339796b2f05b",
          "kty": "RSA-HSM",
          "n": "pKj1zy-JqDn9K5snKD0PTCq6uAm3mJhhyO3dWKNq8Ba3j8XmyvFvK7yyXcjQ2ZyVzsT3hxuoYQoyXWxzk86MQg3AyvwAwvMS4H3mAUT6cz_bgsfPF3dvEaVOF1_jgMqYeou0GcncW5vyB7BcBuVKHyFul5IjcSb_nvpNE59dkhzVCsTIX5ns9DuSNFhj6CC0tONMhMeWk9ox4XfC7hxujnTANw4IpBTx-vWK--3eHOsaF3JVVrvr2PK74RFKr3_MC6JQ7M43KzOTfcz6NPQ_SWwrHVNZGO6PE9W2EyCjdh_yu4bQ1mh4G9lNsjeFfsl_1tnIFX2fTqAh601MH0A17w"
        }
      }
    },
    {
      "RequestUri": "https://heathskvtesthsm.managedhsm.azure.net/keys/971502050/908bc57f581a0f31ae6f339796b2f05b/sign?api-version=7.3-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RS256",
        "value": "Y3EiTeizehlPqOqkNHj78-EAM6RjW46nIa_4DrH7jhs"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "116"
      },
      "ResponseBody": {
        "alg": "RS256",
        "kid": "https://heathskvtesthsm.managedhsm.azure.net/keys/971502050/908bc57f581a0f31ae6f339796b2f05b",
        "value": "KEsbCM6O2cmRdTqHJNy-o5DXrK5fQ88rAjTvIF2ogR7X4pijRrfDndoeymb8oB_BMyOBVQoifIUIETY3740g-fJchePVhhzaEx7Hn76ulmQ5hO0yNpLjXSMjKBsv_GRRXz5vI5opdhweQx43105yM2Z7pN8H6I4NCN2DDufbywQVlxaKXbh0JlZpeWiImPKICeNSgxzlz7vkbgossL0x7dxrW_jTE6xEwSmEzVBidogc8iy9ZYp8GZzABWFIF6vDbVHEPtM6N15UIra9Mk355HjJwUPtSY-Vdljk4iQ9gZ2nLC2qLCBq1l8668ISy7AnGBFc-VyNYjJu3ipT-rw40w"
      }
    },
[...]
    {
      "RequestUri": "https://heathskvtesthsm.managedhsm.azure.net/keys/971502050/908bc57f581a0f31ae6f339796b2f05b/verify?api-version=7.3-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RS256",
        "digest": "Y3EiTeizehlPqOqkNHj78-EAM6RjW46nIa_4DrH7jhs",
        "value": "KEsbCM6O2cmRdTqHJNy-o5DXrK5fQ88rAjTvIF2ogR7X4pijRrfDndoeymb8oB_BMyOBVQoifIUIETY3740g-fJchePVhhzaEx7Hn76ulmQ5hO0yNpLjXSMjKBsv_GRRXz5vI5opdhweQx43105yM2Z7pN8H6I4NCN2DDufbywQVlxaKXbh0JlZpeWiImPKICeNSgxzlz7vkbgossL0x7dxrW_jTE6xEwSmEzVBidogc8iy9ZYp8GZzABWFIF6vDbVHEPtM6N15UIra9Mk355HjJwUPtSY-Vdljk4iQ9gZ2nLC2qLCBq1l8668ISy7AnGBFc-VyNYjJu3ipT-rw40w"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": {
        "alg": "RS256",
        "kid": "https://heathskvtesthsm.managedhsm.azure.net/keys/971502050/908bc57f581a0f31ae6f339796b2f05b",
        "value": true
      }
    },
    {
      "RequestUri": "https://heathskvtesthsm.managedhsm.azure.net/keys/971502050/908bc57f581a0f31ae6f339796b2f05b/verify?api-version=7.3-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RS256",
        "digest": "Y3EiTeizehlPqOqkNHj78-EAM6RjW46nIa_4DrH7jhs",
        "value": "KEsbCM6O2cmRdTqHJNy-o5DXrK5fQ88rAjTvIF2ogR7X4pijRrfDndoeymb8oB_BMyOBVQoifIUIETY3740g-fJchePVhhzaEx7Hn76ulmQ5hO0yNpLjXSMjKBsv_GRRXz5vI5opdhweQx43105yM2Z7pN8H6I4NCN2DDufbywQVlxaKXbh0JlZpeWiImPKICeNSgxzlz7vkbgossL0x7dxrW_jTE6xEwSmEzVBidogc8iy9ZYp8GZzABWFIF6vDbVHEPtM6N15UIra9Mk355HjJwUPtSY-Vdljk4iQ9gZ2nLC2qLCBq1l8668ISy7AnGBFc-VyNYjJu3ipT-rw40w"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": {
        "alg": "RS256",
        "kid": "https://heathskvtesthsm.managedhsm.azure.net/keys/971502050/908bc57f581a0f31ae6f339796b2f05b",
        "value": true
      }
    }
  ],
  "Variables": {
    "AZURE_MANAGEDHSM_URL": "https://heathskvtesthsm.managedhsm.azure.net/",
    "RandomSeed": "234305200"
  }
}