{
  "Entries": [
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/1065565867/create?api-version=7.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://managedhsm.azure.net\u0022",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/1065565867/create?api-version=7.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "277"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1613812073,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 90,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "updated": 1613812073
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/1065565867/e60eca0e9f9d49d78f94afcf05cfdd07",
          "kty": "RSA-HSM",
          "n": "n0iNpVFNVQk0Sk9jKcQx0o-GcscV6FGn6PWPQEV2dQ4kCPSCsjBF39AWVfKQX8hFHFNLanf8y6N3GJtFnEcm52NIVJBlGKNUbH70ueAw7NIEOXofEWsYCVFkx4G8Wcy2h-t3PdJ_LolCH9rVk3iGm6PBJP7iZaxTBZOZxGoDgHt7_4eUXhckOg0opHwD5U2fPrVuqA-GxxZUs4A-KiUSz0iefWk_UUxRhADUNQ0b-wBIZD8GGznw1-88c5KgkoKuVtG9s69XBxj62I0sZTvhgOrr6Ix-FylaPLHIn-Je-5A7I9VQnCtAdLEh29-kEUG1iLilAXqIvsNGFT4LuzziBQ"
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/1065565867/e60eca0e9f9d49d78f94afcf05cfdd07?api-version=7.2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20210204-1-c9f88df4-develop",
        "x-ms-server-latency": "144"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1613812073,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 90,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "updated": 1613812073
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "verify",
            "sign",
            "unwrapKey",
            "encrypt",
            "decrypt"
          ],
          "kid": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/1065565867/e60eca0e9f9d49d78f94afcf05cfdd07",
          "kty": "RSA-HSM",
          "n": "n0iNpVFNVQk0Sk9jKcQx0o-GcscV6FGn6PWPQEV2dQ4kCPSCsjBF39AWVfKQX8hFHFNLanf8y6N3GJtFnEcm52NIVJBlGKNUbH70ueAw7NIEOXofEWsYCVFkx4G8Wcy2h-t3PdJ_LolCH9rVk3iGm6PBJP7iZaxTBZOZxGoDgHt7_4eUXhckOg0opHwD5U2fPrVuqA-GxxZUs4A-KiUSz0iefWk_UUxRhADUNQ0b-wBIZD8GGznw1-88c5KgkoKuVtG9s69XBxj62I0sZTvhgOrr6Ix-FylaPLHIn-Je-5A7I9VQnCtAdLEh29-kEUG1iLilAXqIvsNGFT4LuzziBQ"
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/1065565867/e60eca0e9f9d49d78f94afcf05cfdd07/sign?api-version=7.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RS512",
        "value": "O9N_xHbRZ7dRjmsE0YTo10OylU_fdqht2drPnbJqfu42-4wC9qQ4VuwQ1UtNvGl2BsPzecxPiJOXFWdVhvzEFw"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "3"
      },
      "ResponseBody": {
        "alg": "RS512",
        "kid": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/1065565867/e60eca0e9f9d49d78f94afcf05cfdd07",
        "value": "FJAjVh7IlGfn8br4mFhNql3LbEUQhTJdjchZ8BpE1bECpEMYgiGHTljhCHLCgMoRq5SRAULSXhEV2qT-86Wzl4qJS2PNDryJOwtkXcCBrZe2D2k1nHuED9ErqsDnqvcPwROZoBzyPGgQO3xHwGFlIw0MJEYzgwrSLQ1mRrqc4yX3MZw_rzeOJqPJkShWegKoChSfWUsdhDKMbHS2RxMAbi61a76m-S0LuGdWaZtKHkPzfaRuejBxUfE2bYSdO0FeeR18wo7EpadDXEWJ91Rs_f-nyHDSrbI2HHRTHDKdk6PYRQZH8dJ3IhNzqJ7H7Bq-n11UrPlE8bEVqPY7I0W9jQ"
      }
    }
  ],
  "Variables": {
    "AZURE_MANAGEDHSM_URL": "https://heathskeyvaulthsm.managedhsm.azure.net/",
    "RandomSeed": "576084293"
  }
}