{
  "Entries": [
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/477274535/create?api-version=7.3",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://managedhsm.azure.net\u0022",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/477274535/create?api-version=7.3",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC",
        "crv": "P-384"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "327"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1648058185,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1648058185
        },
        "key": {
          "crv": "P-384",
          "key_ops": [
            "verify",
            "sign"
          ],
          "kid": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/477274535/b95c60eccd9a4172a2da9b8973caa55a",
          "kty": "EC-HSM",
          "x": "UDlMgVkh2kHQQe23-0c9RVF6QVVL8j_1ecNsQy6xXxaQJfAPPHwxqXbBA9-XAbUr",
          "y": "j6JQXVWPZo_llA_IGVSzZCEtpNdkcgva_BE3jjVZxVsIpEmqU51ay8Wcv4V4u_q2"
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/477274535/b95c60eccd9a4172a2da9b8973caa55a/sign?api-version=7.3",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES384",
        "value": "HOVd7JNeslLubAEeLGThHDpz4EK5pYKyZWZOLGu-mz1EbBmMpGMp4rl5lDXNhSWU"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "110"
      },
      "ResponseBody": {
        "alg": "ES384",
        "kid": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/477274535/b95c60eccd9a4172a2da9b8973caa55a",
        "value": "CI-iSsVvw5yOqtJNnMvBq9AhI_VHwWlCMcbHbdkHIC5b-NSz63ZHJ7oHWXuWbCl-q6DDu5P6j5NzHoaSPI0jWeE6uxbWbyIejJwEqzUvETcamIFF9A1psycrY6QGeUX_"
      }
    },
[...]
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/477274535/b95c60eccd9a4172a2da9b8973caa55a/verify?api-version=7.3",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES384",
        "digest": "HOVd7JNeslLubAEeLGThHDpz4EK5pYKyZWZOLGu-mz1EbBmMpGMp4rl5lDXNhSWU",
        "value": "I06T480JazPf1aqM9bLF8DYsJW6dz2SjSTHTM6REzFPQcJB1oThOkp9HBLd-tNfm10_mu90Jf2BLWmDGUH6H3QepijF07sVEhtMZk8pfR_nle0jG_R2EKLfUEGXWrLXC"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "24"
      },
      "ResponseBody": {
        "alg": "ES384",
        "kid": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/477274535/b95c60eccd9a4172a2da9b8973caa55a",
        "value": true
      }
    },
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/477274535/b95c60eccd9a4172a2da9b8973caa55a/verify?api-version=7.3",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES384",
        "digest": "HOVd7JNeslLubAEeLGThHDpz4EK5pYKyZWZOLGu-mz1EbBmMpGMp4rl5lDXNhSWU",
        "value": "CI-iSsVvw5yOqtJNnMvBq9AhI_VHwWlCMcbHbdkHIC5b-NSz63ZHJ7oHWXuWbCl-q6DDu5P6j5NzHoaSPI0jWeE6uxbWbyIejJwEqzUvETcamIFF9A1psycrY6QGeUX_"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "25"
      },
      "ResponseBody": {
        "alg": "ES384",
        "kid": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/477274535/b95c60eccd9a4172a2da9b8973caa55a",
        "value": true
      }
    }
  ],
  "Variables": {
    "AZURE_MANAGEDHSM_URL": "https://heathskeyvaulthsm.managedhsm.azure.net/",
    "RandomSeed": "1253494277"
  }
}
