{
  "Entries": [
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/1225930300/create?api-version=7.4-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://managedhsm.azure.net\u0022",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/1225930300/create?api-version=7.4-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC",
        "crv": "P-521"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "579"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1667431049,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1667431049
        },
        "key": {
          "crv": "P-521",
          "key_ops": [
            "verify",
            "sign"
          ],
          "kid": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/1225930300/3876d6df18460f4e253e4ba7949476dc",
          "kty": "EC-HSM",
          "x": "AFChMNQEfgYiuh2slJT1JYJ9k9JW6Z9Y_9Ct1w63BhsB0XEOq4t85QbNZ8NpH1NGE4GQJR6h9FCK8uppHLxygye4",
          "y": "AWwH87eUeRYpGIl7n2F2GRLLfApQJrhlRkaioJ5gKbY-jUbWLxTuxs_q-1Uc7aikcbZA8hsYDqWOmdPyATjiNlCw"
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/1225930300/3876d6df18460f4e253e4ba7949476dc/sign?api-version=7.4-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES512",
        "value": "B6tcEAmnSZgGtd3KrUn22wyQOe1mpxG5AEShrOYxz56OJwnJEDj-nMHfipmyNs-QLwCxIOYPscWm_F4Aj5BFZw"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "204"
      },
      "ResponseBody": {
        "alg": "ES512",
        "kid": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/1225930300/3876d6df18460f4e253e4ba7949476dc",
        "value": "AU8rCxGtB6xqqO6T4OUHwTTDHGNibPtTMN6rndj6ud0QFBC6zduhiL8rBMHQJ4rGZNMoprgNMXdr-dID-Ou7wlnUAQULpKudoN7DgHb8cL2KHPcnXHvr5LomuGIFMVhb1iSXjela5lcyY_yqNq27B08j-qxi90kHRJtG6-Sc2z_coA3N"
      }
    },
[...]
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/1225930300/3876d6df18460f4e253e4ba7949476dc/verify?api-version=7.4-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES512",
        "digest": "B6tcEAmnSZgGtd3KrUn22wyQOe1mpxG5AEShrOYxz56OJwnJEDj-nMHfipmyNs-QLwCxIOYPscWm_F4Aj5BFZw",
        "value": "AbjccGGaGnItwDPWjMcasuTild0QM9PgaV_B7jY6udpr070vstR3dmHxyEbQ8jv3mSYkX1VB-8F4p9jAdTsVnPusAJD7WdYBJXabtGvY-wtGTdSK7_TtXzX4LqIyIy_GtikGTCK-n4Tke-9lMilRwghBc7TF_YjKj0YJCXidCxz4zEOL"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "70"
      },
      "ResponseBody": {
        "alg": "ES512",
        "kid": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/1225930300/3876d6df18460f4e253e4ba7949476dc",
        "value": true
      }
    },
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/1225930300/3876d6df18460f4e253e4ba7949476dc/verify?api-version=7.4-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES512",
        "digest": "B6tcEAmnSZgGtd3KrUn22wyQOe1mpxG5AEShrOYxz56OJwnJEDj-nMHfipmyNs-QLwCxIOYPscWm_F4Aj5BFZw",
        "value": "AU8rCxGtB6xqqO6T4OUHwTTDHGNibPtTMN6rndj6ud0QFBC6zduhiL8rBMHQJ4rGZNMoprgNMXdr-dID-Ou7wlnUAQULpKudoN7DgHb8cL2KHPcnXHvr5LomuGIFMVhb1iSXjela5lcyY_yqNq27B08j-qxi90kHRJtG6-Sc2z_coA3N"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "71"
      },
      "ResponseBody": {
        "alg": "ES512",
        "kid": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/1225930300/3876d6df18460f4e253e4ba7949476dc",
        "value": true
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com/",
    "AZURE_MANAGEDHSM_URL": "https://heathskeyvaulthsm.managedhsm.azure.net/",
    "RandomSeed": "1656371658"
  }
}
