{
  "Entries": [
    {
      "RequestUri": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/781080533/create?api-version=7.4",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://managedhsm.azure.net\u0022",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/781080533/create?api-version=7.4",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "187"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1677719005,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1677719005
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/781080533/d7ec273f952049e3a428d4f15ecdbc00",
          "kty": "RSA-HSM",
          "n": "itF-3EpCAbn-46rgKyR38jc-UQKUlSDO3z1w1Z3Hw9dKLiL8mzp4Vw60UBr9xDLS3B1WXYwX7J_hvCqeDT13flpFaYW2G42eIOoU4EAQnXmkWKFZUaKu4nk15ov4e2le9Au4TWVq1I4_nBjG4dWI2N4by-fJ5dUowt-BPrRw8t-jdXD-av54DDSMw-ThG80Nj6nE4PrNIxyrDD8yyBU1kM2MtE0cF_XKEpfdl9HXtObIrZFTDrL3Pg5Pq8b8LVb1-9iNjT9NOj-UawiYrB4bh3f0Hnlp95YgaaW1GrgoDkEF6Tn2V5TLqYVt5pRRzFtAS96az4fqWgRjnAA-vnsw8Q"
        }
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/781080533/d7ec273f952049e3a428d4f15ecdbc00?api-version=7.4",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20230208-1-3e0fbecc-develop",
        "x-ms-server-latency": "32"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1677719005,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1677719005
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "verify",
            "sign",
            "unwrapKey",
            "encrypt",
            "decrypt"
          ],
          "kid": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/781080533/d7ec273f952049e3a428d4f15ecdbc00",
          "kty": "RSA-HSM",
          "n": "itF-3EpCAbn-46rgKyR38jc-UQKUlSDO3z1w1Z3Hw9dKLiL8mzp4Vw60UBr9xDLS3B1WXYwX7J_hvCqeDT13flpFaYW2G42eIOoU4EAQnXmkWKFZUaKu4nk15ov4e2le9Au4TWVq1I4_nBjG4dWI2N4by-fJ5dUowt-BPrRw8t-jdXD-av54DDSMw-ThG80Nj6nE4PrNIxyrDD8yyBU1kM2MtE0cF_XKEpfdl9HXtObIrZFTDrL3Pg5Pq8b8LVb1-9iNjT9NOj-UawiYrB4bh3f0Hnlp95YgaaW1GrgoDkEF6Tn2V5TLqYVt5pRRzFtAS96az4fqWgRjnAA-vnsw8Q"
        }
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/781080533/d7ec273f952049e3a428d4f15ecdbc00/sign?api-version=7.4",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RS384",
        "value": "gj4liIsCp_Nx6W8bc-QT2DZ-N2YiLb53B86QYvqjTTq3Mm5VECneytaEvFaZ9Z-p"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "2"
      },
      "ResponseBody": {
        "alg": "RS384",
        "kid": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/781080533/d7ec273f952049e3a428d4f15ecdbc00",
        "value": "Db58Qpou5Yh1xtGxQZfFxclfL14OYxI6GoVSpXFcy66TOTHPEY6IvTMiKHS6itPN6YAQLXbvXboc1aaOQ_JSE8TVi_kAAsZzOU2Cel4uYmfKRaRkuG7G87EwULgkTLfPymEQwfZSmvrKI38zQuga2y5ETudxceblvinhTA_NwGOMdyjuibgGCRtadqJW-2z7FYsyB6-iAT5vmXv9XmeWDwRDlZPjbYOdKkoI2uobFSeW8BUQlecm4Gtr2YQsFrp7H5W8CtYvFz8Dy9NbqktNlKjiQ9KCpTJ_LUU5w6x96AHbe55nu6_Vv_RZ7wsa2PktFrxb3UnCmjzEvjz24hdD-g"
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com/",
    "AZURE_MANAGEDHSM_URL": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/",
    "RandomSeed": "109429153"
  }
}
