{
  "Entries": [
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/1124289545/create?api-version=7.4-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://managedhsm.azure.net\u0022",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/1124289545/create?api-version=7.4-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "288"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1667432269,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1667432269
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/1124289545/b8d7b70f52d50a70287a4a29eed9b5aa",
          "kty": "RSA-HSM",
          "n": "rmVbUCQsOa2c9HvO4Mtok4V_ncqvB_NFWSpSVqJ_w4oKl1rTDl9_VT2kv7v8rAlsF3L0hoNMd_DJE3wH4JbX3yekg4qT2T3ZKMaOLvxnqoeo3TiR19XQXBjYTdOLhcWJqnbwGZOD_k0-3m-0u1MoSG1bnwFqXqG2IXzqKsDfSG60LmAleJ4jn0ngb2usCm4usWOuK43rILM4-UeBFkb_qQA6LmNz31RV4F7ERjSpT0cE2wE9wI0iHITivK7UneaMb-EiUjXBIs5hBmPjZlgN1mJvRHJAYJfea2kAUvRjWoARahgKauzKBp40l332sbb6_mRdV4zDFLqKlr50eXTrNw"
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/1124289545/b8d7b70f52d50a70287a4a29eed9b5aa?api-version=7.4-preview.1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20221020-1-945ffe56-develop",
        "x-ms-server-latency": "149"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1667432269,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1667432269
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "verify",
            "sign",
            "unwrapKey",
            "encrypt",
            "decrypt"
          ],
          "kid": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/1124289545/b8d7b70f52d50a70287a4a29eed9b5aa",
          "kty": "RSA-HSM",
          "n": "rmVbUCQsOa2c9HvO4Mtok4V_ncqvB_NFWSpSVqJ_w4oKl1rTDl9_VT2kv7v8rAlsF3L0hoNMd_DJE3wH4JbX3yekg4qT2T3ZKMaOLvxnqoeo3TiR19XQXBjYTdOLhcWJqnbwGZOD_k0-3m-0u1MoSG1bnwFqXqG2IXzqKsDfSG60LmAleJ4jn0ngb2usCm4usWOuK43rILM4-UeBFkb_qQA6LmNz31RV4F7ERjSpT0cE2wE9wI0iHITivK7UneaMb-EiUjXBIs5hBmPjZlgN1mJvRHJAYJfea2kAUvRjWoARahgKauzKBp40l332sbb6_mRdV4zDFLqKlr50eXTrNw"
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/1124289545/b8d7b70f52d50a70287a4a29eed9b5aa/sign?api-version=7.4-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "PS384",
        "value": "XqEx21TApi1s_HtIxDCvrq5WRCZO8bAHC7DolldEd4orn2T5VXoZjwUfXxvyRzUQ"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "3"
      },
      "ResponseBody": {
        "alg": "PS384",
        "kid": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/1124289545/b8d7b70f52d50a70287a4a29eed9b5aa",
        "value": "qB3UF4wQMs9qkk6eh4f0sAWeV3dw-MRJTf-X3EGylV4qDKp3AZDCTDuRlFQmNvGTLwqDMvpNNJuVKw8y_BlGpw3QjE9Aq7hlwnaBNb7IEQCQ4xUby6iEwVST4cVf3zDODh2o3TTc46Q53wKl-3Yqr_mvudHs81X8Ir2uM__mOdncGNZMXvSlcCdpmb43uomSA6uX7xMhcn8jyyMc_ODr34kJAGLooMsqWQ9t-u7ophcZLPoISmI3min9Q_SVxT7bX98grwKqflXHnmXLBLUrV4N1bxIX0nuHEw8gUC3LPBw-8vAf8LzyYDlvbINu83iw54r9GQZK9SimLfVOBlGNIw"
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com/",
    "AZURE_MANAGEDHSM_URL": "https://heathskeyvaulthsm.managedhsm.azure.net/",
    "RandomSeed": "1678151596"
  }
}
