{
  "Entries": [
    {
      "RequestUri": "https://heathskvtesthsm.managedhsm.azure.net/keys/1576499900/create?api-version=7.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://managedhsm.azure.net\u0022",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://heathskvtesthsm.managedhsm.azure.net/keys/1576499900/create?api-version=7.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "318"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1626282527,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 90,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "updated": 1626282527
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://heathskvtesthsm.managedhsm.azure.net/keys/1576499900/11a18b52614504949e674ee9edf2434a",
          "kty": "RSA-HSM",
          "n": "pZj-gig9rE0aJMpNfM-iGxnceBu1ESsgvo5JRhCEe_0yySv_E8DqyOA6o0TAiN3Ll5R6L8I5iezujQyNr2pX0Vz4G6KpgUDN0MH5gfeoWk97S_1mzBSuhyCxoY5LoFtOfbsYt9fQEtGmcmkZxcu_G9WeVGqLI-4ewQXSEvNTeTiHcjNkm_IhSIbvH4zKiBkKfobKzAokklXGPzp_mvVrrKVPF5k-LLM4W1KQrk6kVCoZ5TBrP81TCWSHVsO3x5tF8lTAVHGjcMV7F7mc2nXqZdgr7mfnCFnyIAl7TJB73aihdrWx96tvq7CQw3ooisoTfsLiGITh9d8k4KSf9Fq0cw"
        }
      }
    },
    {
      "RequestUri": "https://heathskvtesthsm.managedhsm.azure.net/keys/1576499900/11a18b52614504949e674ee9edf2434a?api-version=7.2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20210605-1-ffd80f31-develop",
        "x-ms-server-latency": "219"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1626282527,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 90,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "updated": 1626282527
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "verify",
            "sign",
            "unwrapKey",
            "encrypt",
            "decrypt"
          ],
          "kid": "https://heathskvtesthsm.managedhsm.azure.net/keys/1576499900/11a18b52614504949e674ee9edf2434a",
          "kty": "RSA-HSM",
          "n": "pZj-gig9rE0aJMpNfM-iGxnceBu1ESsgvo5JRhCEe_0yySv_E8DqyOA6o0TAiN3Ll5R6L8I5iezujQyNr2pX0Vz4G6KpgUDN0MH5gfeoWk97S_1mzBSuhyCxoY5LoFtOfbsYt9fQEtGmcmkZxcu_G9WeVGqLI-4ewQXSEvNTeTiHcjNkm_IhSIbvH4zKiBkKfobKzAokklXGPzp_mvVrrKVPF5k-LLM4W1KQrk6kVCoZ5TBrP81TCWSHVsO3x5tF8lTAVHGjcMV7F7mc2nXqZdgr7mfnCFnyIAl7TJB73aihdrWx96tvq7CQw3ooisoTfsLiGITh9d8k4KSf9Fq0cw"
        }
      }
    },
    {
      "RequestUri": "https://heathskvtesthsm.managedhsm.azure.net/keys/1576499900/11a18b52614504949e674ee9edf2434a/sign?api-version=7.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "PS384",
        "value": "gzdFQkvkmec1FQfBD8N4hnD_9I6mo3Efw4rxheUS9i-OhKMmhJqoXjGByOKDQll7"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "3"
      },
      "ResponseBody": {
        "alg": "PS384",
        "kid": "https://heathskvtesthsm.managedhsm.azure.net/keys/1576499900/11a18b52614504949e674ee9edf2434a",
        "value": "haYH37YlPOg7FJyL4l3w7zX3Mq3nPtFg-iPbDwLW4mKU8yIgWgzuvuHPNdAdIv6du717FSSXqMk32D35sRZLX2bsJKpzuHBalCuHKBPJbJQOL_baKcVIDgd_gVGY9RI8ODpMXP5_38mVgqRtly3ZGh09FfwPtZ8aqnb703-RTU2UmzmIn5DiPuv1gdjNVHDhiM6UZnbbVkIZqG6Fn6IG1P6ccZMr0q5NMxBvIYmDy6n9ReZJNQS9KuO9H4iDB76PWVQCOEsM2ooGQH3XluEJM9INnDN1gDgZ1vR6s3Q-fEe1_eSf_tVsPi81Az1K-L6nKtRmhNPXz1-LaEXhL2Gk0A"
      }
    }
  ],
  "Variables": {
    "AZURE_MANAGEDHSM_URL": "https://heathskvtesthsm.managedhsm.azure.net/",
    "RandomSeed": "1658435293"
  }
}