{
  "Entries": [
    {
      "RequestUri": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/1310482874/create?api-version=7.4",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://managedhsm.azure.net\u0022",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/1310482874/create?api-version=7.4",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "201"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1677719029,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1677719029
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/1310482874/1905731d54dd00fbb6406d553a92b828",
          "kty": "RSA-HSM",
          "n": "n4P-NVFClnfGhIVl4ME6mH8ov6lVqcJnxkNQKK8-OMirSsyyxtl5-AEfpghNz-ZPAMOtBN-KyAe0Dy4QipLWk4WCFyMpqIN0UK3yF3xaA6O7x93rr7r9s4hGEh8h-ikJ43pQwKtUOXWr6a6UDeTDFJXxRMET5lX5QLD6unKXpUxsk5b3qBeGeOPBCL1Wv9dfzjRcUzc2lhoi2VvXRlSifneGkzScEtnUsTwljBrZUfpSt8fLd9PoGDTlHDQTYw34Dfyw6Fn551BfaHqx26YRCxyEwh83pzwD6ET3Tn1kHJdMWlNDsEx0prVCXC32j7DQymSvM1p5nihdLK2v3BFDLQ"
        }
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/1310482874/1905731d54dd00fbb6406d553a92b828/sign?api-version=7.4",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "PS512",
        "value": "KP0poh_lCoQWXLqrki6qPnwcltUrzGBVucGqpzmBGt3Li-GLK1M5M98fzYz-5jVcLkRQrP6jzdgSaTlJemJMYg"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "31"
      },
      "ResponseBody": {
        "alg": "PS512",
        "kid": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/1310482874/1905731d54dd00fbb6406d553a92b828",
        "value": "e526wOH7PMXAOU7eib53N8og-gA8j_fY3Q8OpsdbadMdp4N8q6dEwPiJMxVzmgWGyOxbZb-ROKIkkbLiSc187XGiaBnenyEs6fofoLpdwulvLRJUcsL7ZXoujaNAcMOqw6Zy8Vb17hJaRHBN-jZJaASLo72Z9llUq-D9M72G8wW49MMXRe295Q48U-OJ8lthdzRRsx6Flv-TUcp77n3rtQjSg3WvkQBaf-NC3vvRXMMqDDoQNCH3oQ__TchqdreiBmQa1CZjMjrCaUoSlXEWk1xNiogK2Scj8_4-notMW8LyM3OJRFTd31G-iJFkU9vClX6Dd4Irhtr3-RZJkvyLhA"
      }
    },
[...]
    {
      "RequestUri": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/1310482874/1905731d54dd00fbb6406d553a92b828/verify?api-version=7.4",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "PS512",
        "digest": "KP0poh_lCoQWXLqrki6qPnwcltUrzGBVucGqpzmBGt3Li-GLK1M5M98fzYz-5jVcLkRQrP6jzdgSaTlJemJMYg",
        "value": "IUWGJi9V73kFbp8t299cuilAKSOILRRoZR_HK6ANVKBN6W20IyV_2-hStP1aV8BaN1rqO1Q3-Iwd3ymAv8RAkMC5eV4HsKiyCeXvJY9hYyOlQLnTJv58f7Fpam3eFtzopaI6DpXa4V6FLe8JeLcNXkSSsrfmM_bN8Z1vw5eZK5jby4VoTs4X7ItE89dhrOn9-iI1ze7bCq4d5wJbvXilBy1Xbd5zi6OCgYSQ-LsVZj-rOIa1ybMuIJy18s6xKG3yLWOhv90t2JKzbF1oSRy8YNgzn9uzH071C_GooVdzAARu1OPVzX8JIwOrE2cUoQd0miOrVLo4zMbdWtDF3BvW7w"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": {
        "alg": "PS512",
        "kid": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/1310482874/1905731d54dd00fbb6406d553a92b828",
        "value": true
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/1310482874/1905731d54dd00fbb6406d553a92b828/verify?api-version=7.4",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "PS512",
        "digest": "KP0poh_lCoQWXLqrki6qPnwcltUrzGBVucGqpzmBGt3Li-GLK1M5M98fzYz-5jVcLkRQrP6jzdgSaTlJemJMYg",
        "value": "e526wOH7PMXAOU7eib53N8og-gA8j_fY3Q8OpsdbadMdp4N8q6dEwPiJMxVzmgWGyOxbZb-ROKIkkbLiSc187XGiaBnenyEs6fofoLpdwulvLRJUcsL7ZXoujaNAcMOqw6Zy8Vb17hJaRHBN-jZJaASLo72Z9llUq-D9M72G8wW49MMXRe295Q48U-OJ8lthdzRRsx6Flv-TUcp77n3rtQjSg3WvkQBaf-NC3vvRXMMqDDoQNCH3oQ__TchqdreiBmQa1CZjMjrCaUoSlXEWk1xNiogK2Scj8_4-notMW8LyM3OJRFTd31G-iJFkU9vClX6Dd4Irhtr3-RZJkvyLhA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": {
        "alg": "PS512",
        "kid": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/1310482874/1905731d54dd00fbb6406d553a92b828",
        "value": true
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com/",
    "AZURE_MANAGEDHSM_URL": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/",
    "RandomSeed": "1818121835"
  }
}
