{
  "Entries": [
    {
      "RequestUri": "https://heathskvtesthsm.managedhsm.azure.net/keys/923623377/create?api-version=7.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://managedhsm.azure.net\u0022",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://heathskvtesthsm.managedhsm.azure.net/keys/923623377/create?api-version=7.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "223"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1626228215,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 90,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "updated": 1626228215
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://heathskvtesthsm.managedhsm.azure.net/keys/923623377/d3b758fcae1749f82a4589da3e3411cd",
          "kty": "RSA-HSM",
          "n": "rzcYVzc08f90sRrtcXuIMCfoCHBt3c7A60k6KHx3CCsVRorbI9koSE4VNjGCXhGgH1Qvm7f7iRzgeJ_WVKkS59ZqvigNpPiKxMn4coTqDi4ljEFjs0CGlwG1mBwmiBk0gU_YMwfvXjUyy6xZ-gWHLCbw0cLsaU5KMLqAHVK532AFLEl4CUzwp_mAsoemuQNMf5xji31PAnGhLoPA289RPFfL5tdVSG8dgcwS49Mn-T3etcUdKMMky4c5rvbETwxhX3IbclYGoaKaYlSOsGTleYyRoa2rVLEy2ifkWQRBP6OT_-IKkKSguaHMi3gtBA5Ik5wof5keSfArJnaB-7mBhw"
        }
      }
    },
    {
      "RequestUri": "https://heathskvtesthsm.managedhsm.azure.net/keys/923623377/d3b758fcae1749f82a4589da3e3411cd?api-version=7.2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20210605-1-ffd80f31-develop",
        "x-ms-server-latency": "84"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1626228215,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 90,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "updated": 1626228215
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "verify",
            "sign",
            "unwrapKey",
            "encrypt",
            "decrypt"
          ],
          "kid": "https://heathskvtesthsm.managedhsm.azure.net/keys/923623377/d3b758fcae1749f82a4589da3e3411cd",
          "kty": "RSA-HSM",
          "n": "rzcYVzc08f90sRrtcXuIMCfoCHBt3c7A60k6KHx3CCsVRorbI9koSE4VNjGCXhGgH1Qvm7f7iRzgeJ_WVKkS59ZqvigNpPiKxMn4coTqDi4ljEFjs0CGlwG1mBwmiBk0gU_YMwfvXjUyy6xZ-gWHLCbw0cLsaU5KMLqAHVK532AFLEl4CUzwp_mAsoemuQNMf5xji31PAnGhLoPA289RPFfL5tdVSG8dgcwS49Mn-T3etcUdKMMky4c5rvbETwxhX3IbclYGoaKaYlSOsGTleYyRoa2rVLEy2ifkWQRBP6OT_-IKkKSguaHMi3gtBA5Ik5wof5keSfArJnaB-7mBhw"
        }
      }
    },
    {
      "RequestUri": "https://heathskvtesthsm.managedhsm.azure.net/keys/923623377/d3b758fcae1749f82a4589da3e3411cd/sign?api-version=7.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RS256",
        "value": "eBAmBB-6vauXIc2uM2pp2cwiru8e2Ma1V1ckb3kjHvY"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "2"
      },
      "ResponseBody": {
        "alg": "RS256",
        "kid": "https://heathskvtesthsm.managedhsm.azure.net/keys/923623377/d3b758fcae1749f82a4589da3e3411cd",
        "value": "rK5_PWztyFyqZpB5Qnero15-uODUws371lOXTq7Q3HKoB4LKDAmlTdAAJ6Mr3EpKNRysDotqhJGYddq2FGcGiP8gkhXcLYE5bgvPcUwlUdfrMSFInSPfz5mZq2K1KQwACDprbfCRWI-8DNgE-rK6yEY3KC4soMu4AE7396Q6K2AGrRfybMpjuW4iBi_NoJ2rg3lIkSOhpMv0KzABkF59Mhbb7CTJJtdZUv7k2u-Wimt6EPg2S1AwFrfxlQXvYuOsdMHfUkBaRdgBXHNrx0hIQUmt7pvTeY_vQmjyXl8zMjGPcR2cs93teZQiZZrFKurz8RJujTf6-Z1-ZIaPauNLyg"
      }
    }
  ],
  "Variables": {
    "AZURE_MANAGEDHSM_URL": "https://heathskvtesthsm.managedhsm.azure.net/",
    "RandomSeed": "1521100994"
  }
}