{
  "Entries": [
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/371032252/create?api-version=7.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://managedhsm.azure.net\u0022",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/371032252/create?api-version=7.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "301"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1613812232,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 90,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "updated": 1613812232
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/371032252/f0aa98fdcee30229880e4c3586fcb7d8",
          "kty": "RSA-HSM",
          "n": "k125dQkGKbS9DCamlcTzZoiW_HBRyt9llwXN-7TVC-O4Ak2SXzsS0JTOYrUe2at0ylibd0VQan0zgaKZbgToHAOA-DJidY8NFJqN6Sqam-EcCsFy464zh2O4GYu3N-ubqHIOJcUKUSyu9PtFvWOgdcQLyBgPAyJ0eCslKnpJELBE3qL1N8bTXIDp8ENDbW3vysQbrsgOZ-MyTRGh_UkQLh9jlIPT-iI9LNVeLNNFmKmdI5uHz1loSCtVKcy1eOeIyyKLXjKnwLX72tfxZ58NGhom-D7Gx8cX-2-Enpu1cC5Cf96KYJ4JSwGgePihIj_IpHNl8xx2Ewhh_3K1Ktth2w"
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/371032252/f0aa98fdcee30229880e4c3586fcb7d8?api-version=7.2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20210204-1-c9f88df4-develop",
        "x-ms-server-latency": "142"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1613812232,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 90,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "updated": 1613812232
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "verify",
            "sign",
            "unwrapKey",
            "encrypt",
            "decrypt"
          ],
          "kid": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/371032252/f0aa98fdcee30229880e4c3586fcb7d8",
          "kty": "RSA-HSM",
          "n": "k125dQkGKbS9DCamlcTzZoiW_HBRyt9llwXN-7TVC-O4Ak2SXzsS0JTOYrUe2at0ylibd0VQan0zgaKZbgToHAOA-DJidY8NFJqN6Sqam-EcCsFy464zh2O4GYu3N-ubqHIOJcUKUSyu9PtFvWOgdcQLyBgPAyJ0eCslKnpJELBE3qL1N8bTXIDp8ENDbW3vysQbrsgOZ-MyTRGh_UkQLh9jlIPT-iI9LNVeLNNFmKmdI5uHz1loSCtVKcy1eOeIyyKLXjKnwLX72tfxZ58NGhom-D7Gx8cX-2-Enpu1cC5Cf96KYJ4JSwGgePihIj_IpHNl8xx2Ewhh_3K1Ktth2w"
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/371032252/f0aa98fdcee30229880e4c3586fcb7d8/sign?api-version=7.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RS384",
        "value": "qsHqs5qES0IFmoIcBtfxgjq0J4DPF4trJt5tkiczSLVjZC53qyzFLsNzzuc2omDs"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "3"
      },
      "ResponseBody": {
        "alg": "RS384",
        "kid": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/371032252/f0aa98fdcee30229880e4c3586fcb7d8",
        "value": "NL_RfQFl6-h65bAcCn8GoITnYGLWAzNiXdM-K6qaaYl5onjUqeBZEJmB5YXC1gDxhcsvdoqkjl4cMrYeNA7Hyal_8RNWiUVbs8n-NHoXgm_jZGxLC5zCBctImx6kvvZnXaVsC1-4R7eqdWtTdtj0ywEUDwSgs38Z_Ocw_rqXtj7jY__u9rwESbwMM-J0w6x5JYj5ivioUH2WrZdNhZoVGlpjd0UJNTDZPYVYTf6I8z74VUeEmCH5RjBVF5F92brFzESP07_pxBgxHX2OO8xEY2_uePmS3_zX-TAnOSxFSTplqx58vXZVsuaMWqXzrLL71gtU5Y8n35NrXuOOrJLS8g"
      }
    }
  ],
  "Variables": {
    "AZURE_MANAGEDHSM_URL": "https://heathskeyvaulthsm.managedhsm.azure.net/",
    "RandomSeed": "248450452"
  }
}