{
  "Entries": [
    {
      "RequestUri": "https://heathskvtesthsm.managedhsm.azure.net/keys/512114338/create?api-version=7.3-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://managedhsm.azure.net\u0022",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://heathskvtesthsm.managedhsm.azure.net/keys/512114338/create?api-version=7.3-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC",
        "crv": "P-384"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "367"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1626299959,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 90,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "updated": 1626299959
        },
        "key": {
          "crv": "P-384",
          "key_ops": [
            "verify",
            "sign"
          ],
          "kid": "https://heathskvtesthsm.managedhsm.azure.net/keys/512114338/9689f400f9ea488a29972eafaf349a1f",
          "kty": "EC-HSM",
          "x": "HM3XoXk-AZpPWJaSOsHYBNcXrSLZNfxMQaB4z8qjZPNdhChZpU0qvwUwJyD_TFbW",
          "y": "Bro6SFGYtphcW8XKmE-8aWRXvWtH4bokoQr2cV3J_9a3HXOdnyrSKkY4sbDLohRG"
        }
      }
    },
    {
      "RequestUri": "https://heathskvtesthsm.managedhsm.azure.net/keys/512114338/9689f400f9ea488a29972eafaf349a1f/sign?api-version=7.3-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES384",
        "value": "SQ_6do5rbbLOYhVOE6-OunZaZxsf_rRYPHhl3R37fwaZi7GrH23vcAuyEZL2eds4"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "142"
      },
      "ResponseBody": {
        "alg": "ES384",
        "kid": "https://heathskvtesthsm.managedhsm.azure.net/keys/512114338/9689f400f9ea488a29972eafaf349a1f",
        "value": "b5LYtnRmRHmcK2cWORHyWDkdI-I5RaeHWNXJTKJjQzFZbN7meu_ovxG9nE_8YdEZ3X0jfvhU14l8e39inPzA6TzNxFw_auqJPGcjO4K8NeFuPWQ17KbWS_lhYYD0jc-1"
      }
    },
[...]
    {
      "RequestUri": "https://heathskvtesthsm.managedhsm.azure.net/keys/512114338/9689f400f9ea488a29972eafaf349a1f/verify?api-version=7.3-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES384",
        "digest": "SQ_6do5rbbLOYhVOE6-OunZaZxsf_rRYPHhl3R37fwaZi7GrH23vcAuyEZL2eds4",
        "value": "fJ9TenMSMnOvlzPDgzzHmXY5lliQYAX9u9Ar6HmjlG1RwBHJKqPlNgU6utIIF74vUseG893E9tKqVmjNHw4ZX7boorneuvvXgPt1jN4dOwbUiWnwN--XqneS6g8JEPN8"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "25"
      },
      "ResponseBody": {
        "alg": "ES384",
        "kid": "https://heathskvtesthsm.managedhsm.azure.net/keys/512114338/9689f400f9ea488a29972eafaf349a1f",
        "value": true
      }
    },
    {
      "RequestUri": "https://heathskvtesthsm.managedhsm.azure.net/keys/512114338/9689f400f9ea488a29972eafaf349a1f/verify?api-version=7.3-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES384",
        "digest": "SQ_6do5rbbLOYhVOE6-OunZaZxsf_rRYPHhl3R37fwaZi7GrH23vcAuyEZL2eds4",
        "value": "b5LYtnRmRHmcK2cWORHyWDkdI-I5RaeHWNXJTKJjQzFZbN7meu_ovxG9nE_8YdEZ3X0jfvhU14l8e39inPzA6TzNxFw_auqJPGcjO4K8NeFuPWQ17KbWS_lhYYD0jc-1"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "25"
      },
      "ResponseBody": {
        "alg": "ES384",
        "kid": "https://heathskvtesthsm.managedhsm.azure.net/keys/512114338/9689f400f9ea488a29972eafaf349a1f",
        "value": true
      }
    }
  ],
  "Variables": {
    "AZURE_MANAGEDHSM_URL": "https://heathskvtesthsm.managedhsm.azure.net/",
    "RandomSeed": "742539140"
  }
}