{
  "Entries": [
    {
      "RequestUri": "https://heathskvtesthsm.managedhsm.azure.net/keys/1705838854/create?api-version=7.3-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://managedhsm.azure.net\u0022",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://heathskvtesthsm.managedhsm.azure.net/keys/1705838854/create?api-version=7.3-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "258"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1626299841,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 90,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "updated": 1626299841
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://heathskvtesthsm.managedhsm.azure.net/keys/1705838854/b96b0dea948902f1b8bd54bc38e9f4e4",
          "kty": "RSA-HSM",
          "n": "jMTATzaq2TW2oLidW3vgXUJHZpDxIxAyFiQ5eV-c6KGUi72j7goiHFgDS_jjxgygG2o5zruEsrIfWWlk6Ekuk9aPEjbzRAtYrU9xMVKTvTuzzOdd3njw8gP68vjeXUBy27R5l0nBqUrIivXlCW93-Bu-hJwpM2Ur9LNAJZcE7LQdXy9QMxJyfr6jdZqUkVQT3ddTRUNQMADladYjiM8WpmNBBk8lJViKGFwKBnXu9pPLkwgfanonqreeKoQvsOQT8zg03FlLMO5th1zRdKVZjnzbb8GrE7pN7kfmmNTu17IWwE2ru8vxtq_bukbSU3lSI0swQpPP86PFMFES_0lu9w"
        }
      }
    },
    {
      "RequestUri": "https://heathskvtesthsm.managedhsm.azure.net/keys/1705838854/b96b0dea948902f1b8bd54bc38e9f4e4/sign?api-version=7.3-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RS512",
        "value": "dtuDZ56Yt0FIT_merC6j9l02vk01pdcO2HYggR2XmAkCQ0vLe9Qg0eZWo0asL2D12WVXapnjXArkAZ_mc9xKOA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "146"
      },
      "ResponseBody": {
        "alg": "RS512",
        "kid": "https://heathskvtesthsm.managedhsm.azure.net/keys/1705838854/b96b0dea948902f1b8bd54bc38e9f4e4",
        "value": "NrKjtz7wZcCmTFgQcozY29pH1sdVbhadOxmNDn-hAGYMmVgbLb-HMYQ8R8xAW8PSfjNF9duT_Lp-VFt8fZ0o1ao9MB-qw9cUN8R7uC9LVqxI8FgRGtwLosKmbiFHpdYBQFokHLifOsTPEeiSRuugZcIhLCnqQUSXf4XBN8Yfs4FaRiBP91gKW96EvUHH4A8BoMg3CFxbrm92UiLCcZE2_cUncq-IkWdqVzza8yzeJUk0VDvf9SRplR6LSPHbmGsB093adYkB_PLixi1qhnl5ZdnSvz1UaNo-PCcN2ymAOW70q15UZJWZ6G8HU1n87Uj8jBtROswGD1cClxuV95zC-w"
      }
    },
[...]
    {
      "RequestUri": "https://heathskvtesthsm.managedhsm.azure.net/keys/1705838854/b96b0dea948902f1b8bd54bc38e9f4e4/verify?api-version=7.3-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RS512",
        "digest": "dtuDZ56Yt0FIT_merC6j9l02vk01pdcO2HYggR2XmAkCQ0vLe9Qg0eZWo0asL2D12WVXapnjXArkAZ_mc9xKOA",
        "value": "NrKjtz7wZcCmTFgQcozY29pH1sdVbhadOxmNDn-hAGYMmVgbLb-HMYQ8R8xAW8PSfjNF9duT_Lp-VFt8fZ0o1ao9MB-qw9cUN8R7uC9LVqxI8FgRGtwLosKmbiFHpdYBQFokHLifOsTPEeiSRuugZcIhLCnqQUSXf4XBN8Yfs4FaRiBP91gKW96EvUHH4A8BoMg3CFxbrm92UiLCcZE2_cUncq-IkWdqVzza8yzeJUk0VDvf9SRplR6LSPHbmGsB093adYkB_PLixi1qhnl5ZdnSvz1UaNo-PCcN2ymAOW70q15UZJWZ6G8HU1n87Uj8jBtROswGD1cClxuV95zC-w"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": {
        "alg": "RS512",
        "kid": "https://heathskvtesthsm.managedhsm.azure.net/keys/1705838854/b96b0dea948902f1b8bd54bc38e9f4e4",
        "value": true
      }
    },
    {
      "RequestUri": "https://heathskvtesthsm.managedhsm.azure.net/keys/1705838854/b96b0dea948902f1b8bd54bc38e9f4e4/verify?api-version=7.3-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RS512",
        "digest": "dtuDZ56Yt0FIT_merC6j9l02vk01pdcO2HYggR2XmAkCQ0vLe9Qg0eZWo0asL2D12WVXapnjXArkAZ_mc9xKOA",
        "value": "NrKjtz7wZcCmTFgQcozY29pH1sdVbhadOxmNDn-hAGYMmVgbLb-HMYQ8R8xAW8PSfjNF9duT_Lp-VFt8fZ0o1ao9MB-qw9cUN8R7uC9LVqxI8FgRGtwLosKmbiFHpdYBQFokHLifOsTPEeiSRuugZcIhLCnqQUSXf4XBN8Yfs4FaRiBP91gKW96EvUHH4A8BoMg3CFxbrm92UiLCcZE2_cUncq-IkWdqVzza8yzeJUk0VDvf9SRplR6LSPHbmGsB093adYkB_PLixi1qhnl5ZdnSvz1UaNo-PCcN2ymAOW70q15UZJWZ6G8HU1n87Uj8jBtROswGD1cClxuV95zC-w"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": {
        "alg": "RS512",
        "kid": "https://heathskvtesthsm.managedhsm.azure.net/keys/1705838854/b96b0dea948902f1b8bd54bc38e9f4e4",
        "value": true
      }
    }
  ],
  "Variables": {
    "AZURE_MANAGEDHSM_URL": "https://heathskvtesthsm.managedhsm.azure.net/",
    "RandomSeed": "1189953632"
  }
}