{
  "Entries": [
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/1266761961/create?api-version=7.4-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://managedhsm.azure.net\u0022",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/1266761961/create?api-version=7.4-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "260"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1667430996,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1667430996
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/1266761961/0f3e6a82b32d0dd3b7659b36c1b270e1",
          "kty": "RSA-HSM",
          "n": "qt1TSH1Lq1Ju2fUJIVcPgk2DajW4fivz5y3NG0S2zHs8h7f_XJBi7AW4JkVXg6_8-GxArQ0d494fg-OI_22WcxVcCPIjPGeRYbA8AHeYenwaMtONcwP7HYDMk1oHIFODv5NqG6UlA8eDqn3hL1Li_rqQNhNGQm1egmJGN2JOIjuG36c-pM6J19SuVSrGTWBiZCIvdq46jxXtGJsKFKK3wnu9UH6Ze0PXUXE93-4_Xtkb746XeygO4pIfKGckyUYyrBVRq2-lCTeLc96CVgCSQQ97sN9-xmq-AkkbA1Vg0MucphI6NzshY17byNSSs1ZMCsJ0L0MJH8_yfIXJ-GNIqw"
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/1266761961/0f3e6a82b32d0dd3b7659b36c1b270e1?api-version=7.4-preview.1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20221020-1-945ffe56-develop",
        "x-ms-server-latency": "101"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1667430996,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1667430996
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "verify",
            "sign",
            "unwrapKey",
            "encrypt",
            "decrypt"
          ],
          "kid": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/1266761961/0f3e6a82b32d0dd3b7659b36c1b270e1",
          "kty": "RSA-HSM",
          "n": "qt1TSH1Lq1Ju2fUJIVcPgk2DajW4fivz5y3NG0S2zHs8h7f_XJBi7AW4JkVXg6_8-GxArQ0d494fg-OI_22WcxVcCPIjPGeRYbA8AHeYenwaMtONcwP7HYDMk1oHIFODv5NqG6UlA8eDqn3hL1Li_rqQNhNGQm1egmJGN2JOIjuG36c-pM6J19SuVSrGTWBiZCIvdq46jxXtGJsKFKK3wnu9UH6Ze0PXUXE93-4_Xtkb746XeygO4pIfKGckyUYyrBVRq2-lCTeLc96CVgCSQQ97sN9-xmq-AkkbA1Vg0MucphI6NzshY17byNSSs1ZMCsJ0L0MJH8_yfIXJ-GNIqw"
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/1266761961/0f3e6a82b32d0dd3b7659b36c1b270e1/sign?api-version=7.4-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RS512",
        "value": "QxD1kCl_728WJMJWhGNVpxNg4gYOAh8XKQ0zV3-KIbI_rHl6XMSpsKX8Epb44iULOllbtaKAhaP52M3LVI1IYg"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "3"
      },
      "ResponseBody": {
        "alg": "RS512",
        "kid": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/1266761961/0f3e6a82b32d0dd3b7659b36c1b270e1",
        "value": "eq7AWocQs2QUhL1IFg4E_sZ5jund7AFWiKfHG-77PQnKG4Dwt9i62K9UfHT9UGS1jC4e1RNqkXJbH389MJUpu77PjnwptJl7ydsvEubTifVPj-ZyP2QXdyJB9uCMCPugx73bVuq8vXPTe1JmF6l8QXUbIPf3ojp26QLD12fU8HC8wd_4yIXdQBefOSwre7JHHU9F_MnagQg2Qkjjz5VqK-VAQjQoZx881r1lJFe8shhyNBXpqNh-FozFZivaWyVpqOrxVxYY7VdSdqeBTwZPAhG3VYz2LXzNVlBSuViR5Gm8oay2qSA53PqsAuXy-gqR-LlmvljIUu6mjBnY7rtscg"
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com/",
    "AZURE_MANAGEDHSM_URL": "https://heathskeyvaulthsm.managedhsm.azure.net/",
    "RandomSeed": "1598363330"
  }
}
