{
  "Entries": [
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/1777870303/create?api-version=7.3",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://managedhsm.azure.net\u0022",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/1777870303/create?api-version=7.3",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "233"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1648058502,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1648058502
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/1777870303/e78d6e605ea2030539324b10039f3bb0",
          "kty": "RSA-HSM",
          "n": "xF5UVG6LkecDS4HKX-eKsR8Qs7qw7jOCJW3NiGlpYoSNJHfcSQPGalIiolB2p_Um3ixesCdXKKAfGm3PeBRyOC9FetlI7EP3mL897DeDLEjQ9WW5O-o_M9_q48j8T5dwVNOgwsV4DFYJwfIpXLDeagllys-qfMnAAk9PQKke-isNNzfGfFes7CpNRxhGutYo4d_pNEM-FoBs7hY8EP6KKZPlzb0sEa-g3i8FTAZyWPaCN37KyZeLsddE9Adjk2YrfwW90YHb9XF77949xm27zl8_Ah24R1mkMGmxMkLMyl09Slkla8dTnfB9JaIDjnuNgpqksJoUImEmk3u4dROAvw"
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/1777870303/e78d6e605ea2030539324b10039f3bb0/sign?api-version=7.3",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RS384",
        "value": "tO0wwZMysngIN5bPpXtd7Js2XYQMrTOTMHrA6WsgnWQOyZaC9L7_Rq4gLTYKCgCW"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "92"
      },
      "ResponseBody": {
        "alg": "RS384",
        "kid": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/1777870303/e78d6e605ea2030539324b10039f3bb0",
        "value": "Ez6lODRDXZxQwuPd8fVKmqWXPYSrRieKLU24xFGLk9u6Z9DqMo-S-HM45vdyFbyypvNdVuUfVUpAXfjEJSvSS3wanhjCchmkWC_y_RCqXhUELmajrhXO-6d3oVlJFLgfcGHjt7tD6ihWViIlb5vX6OoRHfBvdOI-ENW1QcVtJa6ieiTEpcx0vsaZMxxcWTlSUqsKvYLgWAukN1QGV0wlSECF2o7akQy_xjsNc8nVTbUKqdE-69qflQaqNO5TIiE_oFKupn9fltxaOeK3p2E4hn5QSHHY2j6TwGfVzHryJUTfqz6Hwm9zcsEVui6oJj8Tdo30iuT7qEB7jE_blVr0tg"
      }
    },
[...]
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/1777870303/e78d6e605ea2030539324b10039f3bb0/verify?api-version=7.3",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RS384",
        "digest": "tO0wwZMysngIN5bPpXtd7Js2XYQMrTOTMHrA6WsgnWQOyZaC9L7_Rq4gLTYKCgCW",
        "value": "Ez6lODRDXZxQwuPd8fVKmqWXPYSrRieKLU24xFGLk9u6Z9DqMo-S-HM45vdyFbyypvNdVuUfVUpAXfjEJSvSS3wanhjCchmkWC_y_RCqXhUELmajrhXO-6d3oVlJFLgfcGHjt7tD6ihWViIlb5vX6OoRHfBvdOI-ENW1QcVtJa6ieiTEpcx0vsaZMxxcWTlSUqsKvYLgWAukN1QGV0wlSECF2o7akQy_xjsNc8nVTbUKqdE-69qflQaqNO5TIiE_oFKupn9fltxaOeK3p2E4hn5QSHHY2j6TwGfVzHryJUTfqz6Hwm9zcsEVui6oJj8Tdo30iuT7qEB7jE_blVr0tg"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": {
        "alg": "RS384",
        "kid": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/1777870303/e78d6e605ea2030539324b10039f3bb0",
        "value": true
      }
    },
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/1777870303/e78d6e605ea2030539324b10039f3bb0/verify?api-version=7.3",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RS384",
        "digest": "tO0wwZMysngIN5bPpXtd7Js2XYQMrTOTMHrA6WsgnWQOyZaC9L7_Rq4gLTYKCgCW",
        "value": "Ez6lODRDXZxQwuPd8fVKmqWXPYSrRieKLU24xFGLk9u6Z9DqMo-S-HM45vdyFbyypvNdVuUfVUpAXfjEJSvSS3wanhjCchmkWC_y_RCqXhUELmajrhXO-6d3oVlJFLgfcGHjt7tD6ihWViIlb5vX6OoRHfBvdOI-ENW1QcVtJa6ieiTEpcx0vsaZMxxcWTlSUqsKvYLgWAukN1QGV0wlSECF2o7akQy_xjsNc8nVTbUKqdE-69qflQaqNO5TIiE_oFKupn9fltxaOeK3p2E4hn5QSHHY2j6TwGfVzHryJUTfqz6Hwm9zcsEVui6oJj8Tdo30iuT7qEB7jE_blVr0tg"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": {
        "alg": "RS384",
        "kid": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/1777870303/e78d6e605ea2030539324b10039f3bb0",
        "value": true
      }
    }
  ],
  "Variables": {
    "AZURE_MANAGEDHSM_URL": "https://heathskeyvaulthsm.managedhsm.azure.net/",
    "RandomSeed": "303299055"
  }
}
