{
  "Entries": [
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/628005990/create?api-version=7.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://managedhsm.azure.net\u0022",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/628005990/create?api-version=7.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC",
        "crv": "P-256"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "291"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1613812246,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 90,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "updated": 1613812246
        },
        "key": {
          "crv": "P-256",
          "key_ops": [
            "verify",
            "sign"
          ],
          "kid": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/628005990/3ab8898437504dd4b0107542186e289e",
          "kty": "EC-HSM",
          "x": "p8V93NdRlLJN2sjOhoIz6yEIzlNQMt1A5WeWSLNACJg",
          "y": "QYIuN4dcF0Y_5d91zgkwd46lBz2K01bf_fpmgHfG6gI"
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/628005990/3ab8898437504dd4b0107542186e289e?api-version=7.2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20210204-1-c9f88df4-develop",
        "x-ms-server-latency": "143"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1613812246,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 90,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "updated": 1613812246
        },
        "key": {
          "crv": "P-256",
          "key_ops": [
            "verify",
            "sign"
          ],
          "kid": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/628005990/3ab8898437504dd4b0107542186e289e",
          "kty": "EC-HSM",
          "x": "p8V93NdRlLJN2sjOhoIz6yEIzlNQMt1A5WeWSLNACJg",
          "y": "QYIuN4dcF0Y_5d91zgkwd46lBz2K01bf_fpmgHfG6gI"
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/628005990/3ab8898437504dd4b0107542186e289e/sign?api-version=7.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES256",
        "value": "XJn7jkH_ESooI8CXXAhHUwXnw3dnoa7Aa3sxuryVrGA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "8"
      },
      "ResponseBody": {
        "alg": "ES256",
        "kid": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/628005990/3ab8898437504dd4b0107542186e289e",
        "value": "Xzvg7ya3-yCvSUh2ziOwfcCNRVZOw3yAj6meR_3sEBCfHvMMd9EBQdey3ZCUXu3JJeSP08sCH_HHNoOyZPYstg"
      }
    }
  ],
  "Variables": {
    "AZURE_MANAGEDHSM_URL": "https://heathskeyvaulthsm.managedhsm.azure.net/",
    "RandomSeed": "489510469"
  }
}