{
  "Entries": [
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/1065195/create?api-version=7.4-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://managedhsm.azure.net\u0022",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/1065195/create?api-version=7.4-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC",
        "crv": "P-521"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "630"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1667431007,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1667431007
        },
        "key": {
          "crv": "P-521",
          "key_ops": [
            "verify",
            "sign"
          ],
          "kid": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/1065195/b44992349ecf402ba1afd5137c4ef2e7",
          "kty": "EC-HSM",
          "x": "AcdRmjiWdsk1gzP6N4odzp54rSfCI2-v5nYZFILsLOrrzUgStFIR5JKHPMxQ03pws03oLnab8lqHGHRl0VvTn3P-",
          "y": "AdAgtpzUHejFy4Iq4o8q7BI1Ojbho2AbfCpz1rVJBFpVBl0Fl0PBBUOkRQkGDCbhH3mWBUy-e826X3B08vJJh2Nc"
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/1065195/b44992349ecf402ba1afd5137c4ef2e7?api-version=7.4-preview.1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20221020-1-945ffe56-develop",
        "x-ms-server-latency": "133"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1667431007,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1667431007
        },
        "key": {
          "crv": "P-521",
          "key_ops": [
            "verify",
            "sign"
          ],
          "kid": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/1065195/b44992349ecf402ba1afd5137c4ef2e7",
          "kty": "EC-HSM",
          "x": "AcdRmjiWdsk1gzP6N4odzp54rSfCI2-v5nYZFILsLOrrzUgStFIR5JKHPMxQ03pws03oLnab8lqHGHRl0VvTn3P-",
          "y": "AdAgtpzUHejFy4Iq4o8q7BI1Ojbho2AbfCpz1rVJBFpVBl0Fl0PBBUOkRQkGDCbhH3mWBUy-e826X3B08vJJh2Nc"
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/1065195/b44992349ecf402ba1afd5137c4ef2e7/sign?api-version=7.4-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES512",
        "value": "A9HY15Xv2kHvaEaDY5Uqmqi1-rFyzhxKUl-4m3RUpimvPBPGpme_1emEStj1fRUDjnWEVDMw1rXrySfHOkU2wg"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "36"
      },
      "ResponseBody": {
        "alg": "ES512",
        "kid": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/1065195/b44992349ecf402ba1afd5137c4ef2e7",
        "value": "AD_1nhpDLCq3xIpWuSmOcCPiaEIfxc3zZg5oZKBsNhzx4wgsYq3Yy_jB3zB3nBfs6gba2M-ZrXhHxPftaEwHpULwAP8dGPYgG2P2mgk6BOVDa-B6MKpsOLvsFWHRqizUcH9w42lUhcAqoxb2JwUVwoIHwddMvFNu4zM77v1yuW-TQTsV"
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com/",
    "AZURE_MANAGEDHSM_URL": "https://heathskeyvaulthsm.managedhsm.azure.net/",
    "RandomSeed": "1896718856"
  }
}
