{
  "Entries": [
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/570774133/create?api-version=7.4-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://managedhsm.azure.net\u0022",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/570774133/create?api-version=7.4-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "272"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1667432280,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1667432280
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/570774133/417561f4d69f074c223d5272a945b5bf",
          "kty": "RSA-HSM",
          "n": "tnXT_msZIsho558UCSsKekQvNfZotuI5fZxDsPgbH9tHBGIfwHfzuIv9hb-Fevh9a1ok-0pb_rwv5y7Ja4uUU8BsUxljJfbJLgSlyx99oHxwJSlaT8iKZQrBTihET5dt8MxcvgichM3Bof_RTa9TN1igz3MwDWxsFV8JejfuYLynIZCtnzCsscrTFtnuUBDLlg5P6_pG43GCLunOfVyYpWw8a7V-Cm_IRBsL4P1_XVz5rhOwBfuhO3cPlCUx4DQCtx4A9f7PYS7H8yCMkUUdhzTUgSOP-clH51C9JkhGqteFEaDk82N0SwxhkBd7zVY9G7L9Ty7jUXBlh0ph6DxtwQ"
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/570774133/417561f4d69f074c223d5272a945b5bf?api-version=7.4-preview.1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20221020-1-945ffe56-develop",
        "x-ms-server-latency": "182"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1667432280,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1667432280
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "verify",
            "sign",
            "unwrapKey",
            "encrypt",
            "decrypt"
          ],
          "kid": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/570774133/417561f4d69f074c223d5272a945b5bf",
          "kty": "RSA-HSM",
          "n": "tnXT_msZIsho558UCSsKekQvNfZotuI5fZxDsPgbH9tHBGIfwHfzuIv9hb-Fevh9a1ok-0pb_rwv5y7Ja4uUU8BsUxljJfbJLgSlyx99oHxwJSlaT8iKZQrBTihET5dt8MxcvgichM3Bof_RTa9TN1igz3MwDWxsFV8JejfuYLynIZCtnzCsscrTFtnuUBDLlg5P6_pG43GCLunOfVyYpWw8a7V-Cm_IRBsL4P1_XVz5rhOwBfuhO3cPlCUx4DQCtx4A9f7PYS7H8yCMkUUdhzTUgSOP-clH51C9JkhGqteFEaDk82N0SwxhkBd7zVY9G7L9Ty7jUXBlh0ph6DxtwQ"
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/570774133/417561f4d69f074c223d5272a945b5bf/sign?api-version=7.4-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "PS384",
        "value": "YqaxsFPRxVwCkZL-sKKD4Y465V4vMWV7WYSJCyY19oWU4bLpMpZrPpL1nIgxxELd"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "3"
      },
      "ResponseBody": {
        "alg": "PS384",
        "kid": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/570774133/417561f4d69f074c223d5272a945b5bf",
        "value": "sBo4ydAaXLlWENkMZKBrA3y362Cjf76POb-Xv8eAcB9NUGu5at7jPXG4MfgTVJnevnMmUWZpkCAw6uu9rcagI72i4Ulz7XSb0MyFx3tq-B5OU1pN9EVxGs8M8PhUpxGuomDMvj-CYtke6-3HZYVKKWyGPbwmlqEvNpjO3POE6taPyunyNW-Eyd2qaztUbfmFdVSUbWmHFIUB8TKeza4WraobyHWmvGWzdbejrzuEq_dVdp8GhYQ6TJwMz1-C1CbQ_o5KleJUsAnPdM7ncNR1ADq83tujwUdQgLy9F6AWwwGOrdtE2IjSJjLkCXfzg15Ie2TgT2AYnYrYWZUjdSHZkA"
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com/",
    "AZURE_MANAGEDHSM_URL": "https://heathskeyvaulthsm.managedhsm.azure.net/",
    "RandomSeed": "104716684"
  }
}
