{
  "Entries": [
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/1983438554/create?api-version=7.4-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://managedhsm.azure.net\u0022",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/1983438554/create?api-version=7.4-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "256"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1667431116,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1667431116
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/1983438554/80e8732e222a484732335ca94f7520f9",
          "kty": "RSA-HSM",
          "n": "i8Pa_KXMVMwgXVZZ7eDcNmTLsTJRLbtoefw-FXpZAqCqUtvDhuPR4E3C3H3wSlfbmisbO3Y3aVaGS8NbyzKxh6K5D5fkkXJCzrOi-lAW6_H3Cdhx-oMnfLE_WkrmreuoKRzpaeOLIMj-9S9NgkUzvnEPpApZyYuZJcNBn332CaWorOf9G39EYu9-_E2aeCCOREFpcGzbLoid_CFGdDQQxSoj6gPbSs2kDc5YWqlUu4s0nbL-Zl7Fif9L9IIs1PFIsBZQXXTOFzNJWt0euvipiNQxyEN2Fahep9bmDw35iWqbZ6V6MOkZeqPd5-l2cRqJ4nFReCDdmwpIqzPQ0qY_fw"
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/1983438554/80e8732e222a484732335ca94f7520f9/sign?api-version=7.4-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RS256",
        "value": "N_cSGechCT5QkaBsntxZGefbWzqAVCb15mISJ2LmkUM"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "181"
      },
      "ResponseBody": {
        "alg": "RS256",
        "kid": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/1983438554/80e8732e222a484732335ca94f7520f9",
        "value": "R11TjakndraZBGYFp58DP0SGjfQVCDL_8ii2IvchUbEz5c4aEW22cZvhxmXuEIQo3hBJOgnddjMeGC2jCOLNikyvWP5klQF_DwnWGtQMCpf4szWXo4JivcP_3-Gbxut6kqyOwrTKqAnQkia_IR_j9EVMgHMocMu81yJA53_QU0f0zx38RtvkSGR1nXim0yatpHRW5iwYgm_K_FUuYJIhqBVdpnioeFdjgmGMJoRYbMFZ9Gt6yNbFp8L4uEubnHmYF5BGwgzd6H_YoHx0WdAHbGe06GUnu9RjM5OvyiBSnDeEL72Rt04x1fl48tFkKxkphaSlETkGvrNy1IdOJfPhww"
      }
    },
[...]
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/1983438554/80e8732e222a484732335ca94f7520f9/verify?api-version=7.4-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RS256",
        "digest": "N_cSGechCT5QkaBsntxZGefbWzqAVCb15mISJ2LmkUM",
        "value": "R11TjakndraZBGYFp58DP0SGjfQVCDL_8ii2IvchUbEz5c4aEW22cZvhxmXuEIQo3hBJOgnddjMeGC2jCOLNikyvWP5klQF_DwnWGtQMCpf4szWXo4JivcP_3-Gbxut6kqyOwrTKqAnQkia_IR_j9EVMgHMocMu81yJA53_QU0f0zx38RtvkSGR1nXim0yatpHRW5iwYgm_K_FUuYJIhqBVdpnioeFdjgmGMJoRYbMFZ9Gt6yNbFp8L4uEubnHmYF5BGwgzd6H_YoHx0WdAHbGe06GUnu9RjM5OvyiBSnDeEL72Rt04x1fl48tFkKxkphaSlETkGvrNy1IdOJfPhww"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": {
        "alg": "RS256",
        "kid": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/1983438554/80e8732e222a484732335ca94f7520f9",
        "value": true
      }
    },
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/1983438554/80e8732e222a484732335ca94f7520f9/verify?api-version=7.4-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RS256",
        "digest": "N_cSGechCT5QkaBsntxZGefbWzqAVCb15mISJ2LmkUM",
        "value": "R11TjakndraZBGYFp58DP0SGjfQVCDL_8ii2IvchUbEz5c4aEW22cZvhxmXuEIQo3hBJOgnddjMeGC2jCOLNikyvWP5klQF_DwnWGtQMCpf4szWXo4JivcP_3-Gbxut6kqyOwrTKqAnQkia_IR_j9EVMgHMocMu81yJA53_QU0f0zx38RtvkSGR1nXim0yatpHRW5iwYgm_K_FUuYJIhqBVdpnioeFdjgmGMJoRYbMFZ9Gt6yNbFp8L4uEubnHmYF5BGwgzd6H_YoHx0WdAHbGe06GUnu9RjM5OvyiBSnDeEL72Rt04x1fl48tFkKxkphaSlETkGvrNy1IdOJfPhww"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": {
        "alg": "RS256",
        "kid": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/1983438554/80e8732e222a484732335ca94f7520f9",
        "value": true
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com/",
    "AZURE_MANAGEDHSM_URL": "https://heathskeyvaulthsm.managedhsm.azure.net/",
    "RandomSeed": "1064099080"
  }
}
