{
  "Entries": [
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/1514847490/create?api-version=7.4-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://managedhsm.azure.net\u0022",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/1514847490/create?api-version=7.4-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "258"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1667431097,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1667431097
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/1514847490/7928b12e7c654b870a76d004fc7c9b69",
          "kty": "RSA-HSM",
          "n": "s_3uUsj0xHfKWmpzkiut5hbeGvtl0_dN5V_AuRvhjxbddHNdosHeu1tdClA8r7QRHqH11DYBW_kiTRy54RuUUCBRGt11tXsMFNccc3qglthxmeB3zv4sUhrvTHSvk4KqIm-BE4o1myspbSKRaN6KQgVy11Nv2K7k5Gp7Qtyp2NwC5f3VXAALwTEoPuZ__LaAUWw9ohr-Ofn3kKAjPv1T5RyKFC_UlAtGSdLQkrVkUH87pCNHkA8Sgggp8NMXBgcnEeYi6Sddkjftuj-_2htFtgicAhcHhHmpNmuRqje7PrtwY3og9IINWGyqzD8aVSybi6k1plW-WKlpH35eOJTUyw"
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/1514847490/7928b12e7c654b870a76d004fc7c9b69?api-version=7.4-preview.1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20221020-1-945ffe56-develop",
        "x-ms-server-latency": "169"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1667431097,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1667431097
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "verify",
            "sign",
            "unwrapKey",
            "encrypt",
            "decrypt"
          ],
          "kid": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/1514847490/7928b12e7c654b870a76d004fc7c9b69",
          "kty": "RSA-HSM",
          "n": "s_3uUsj0xHfKWmpzkiut5hbeGvtl0_dN5V_AuRvhjxbddHNdosHeu1tdClA8r7QRHqH11DYBW_kiTRy54RuUUCBRGt11tXsMFNccc3qglthxmeB3zv4sUhrvTHSvk4KqIm-BE4o1myspbSKRaN6KQgVy11Nv2K7k5Gp7Qtyp2NwC5f3VXAALwTEoPuZ__LaAUWw9ohr-Ofn3kKAjPv1T5RyKFC_UlAtGSdLQkrVkUH87pCNHkA8Sgggp8NMXBgcnEeYi6Sddkjftuj-_2htFtgicAhcHhHmpNmuRqje7PrtwY3og9IINWGyqzD8aVSybi6k1plW-WKlpH35eOJTUyw"
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/1514847490/7928b12e7c654b870a76d004fc7c9b69/sign?api-version=7.4-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RS256",
        "value": "1VUkBWFM6ltOnJNJWA1KSjXuk_s0PWEGP9tAc1F3xHs"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "3"
      },
      "ResponseBody": {
        "alg": "RS256",
        "kid": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/1514847490/7928b12e7c654b870a76d004fc7c9b69",
        "value": "Jr5-CVtDWr3Uyi5l2Ajzei9cww2kkDX74wgbWsRWplOvEGFffgRYM8aNuIY5n3W-W3qsXsYN1SLFG3BppfheLTahnUP2oc4xsF5EeaLv4BAcHjkQiEmDZFZDv7L08vCXpTQ5cvufGkCf8OTw7JRDqFa3Ff-9QkK16padfk5oZjJnYezl4XWQPjvzrzF1_MnVcoMrj8gIqJnODN158RkrMwFDH7wseZIa-4Aeo1nwzwhReoBSrE-LYSo-45Vl8qh7zYMIIVImVCAFBbNLpSVisBU3ppl9RoBqoOQfz5ma66Nmx8R5NAvwBCcImzznG_q41sxfP66CkJ_t1RXMlFgZng"
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com/",
    "AZURE_MANAGEDHSM_URL": "https://heathskeyvaulthsm.managedhsm.azure.net/",
    "RandomSeed": "272763134"
  }
}
