{
  "Entries": [
    {
      "RequestUri": "https://heathskvtesthsm.managedhsm.azure.net/keys/93567653/create?api-version=7.3-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://managedhsm.azure.net\u0022",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://heathskvtesthsm.managedhsm.azure.net/keys/93567653/create?api-version=7.3-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC",
        "crv": "P-521"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "438"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1626299916,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 90,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "updated": 1626299916
        },
        "key": {
          "crv": "P-521",
          "key_ops": [
            "verify",
            "sign"
          ],
          "kid": "https://heathskvtesthsm.managedhsm.azure.net/keys/93567653/58a3b9b006cc447825ec98493a7972c3",
          "kty": "EC-HSM",
          "x": "AST6vz48O6mtVRi1KxWHmjYdpHf73OIX_rwISo0GBOWVkKPLyEHFBtyM4zAiddUEG8p-NmQikcvRpZmsYy0Afx8L",
          "y": "ANxWoTu2xBSmRztQA2y4OX_6uvRRdewwthTVwI2U8niz7HE1wlfjWfn-2CvrfXWPPP1moLMQtnkeiqHq1DIOHyeW"
        }
      }
    },
    {
      "RequestUri": "https://heathskvtesthsm.managedhsm.azure.net/keys/93567653/58a3b9b006cc447825ec98493a7972c3?api-version=7.3-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20210605-1-ffd80f31-develop",
        "x-ms-server-latency": "167"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1626299916,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 90,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "updated": 1626299916
        },
        "key": {
          "crv": "P-521",
          "key_ops": [
            "verify",
            "sign"
          ],
          "kid": "https://heathskvtesthsm.managedhsm.azure.net/keys/93567653/58a3b9b006cc447825ec98493a7972c3",
          "kty": "EC-HSM",
          "x": "AST6vz48O6mtVRi1KxWHmjYdpHf73OIX_rwISo0GBOWVkKPLyEHFBtyM4zAiddUEG8p-NmQikcvRpZmsYy0Afx8L",
          "y": "ANxWoTu2xBSmRztQA2y4OX_6uvRRdewwthTVwI2U8niz7HE1wlfjWfn-2CvrfXWPPP1moLMQtnkeiqHq1DIOHyeW"
        }
      }
    },
    {
      "RequestUri": "https://heathskvtesthsm.managedhsm.azure.net/keys/93567653/58a3b9b006cc447825ec98493a7972c3/sign?api-version=7.3-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES512",
        "value": "TafMEcor-h7IMknOCz15v9A7Tr2lSlb9y-1XCInfvgYLUBn8H_7I7poFSKn396DsCyxj4GYfDL641EqL5qcihA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "35"
      },
      "ResponseBody": {
        "alg": "ES512",
        "kid": "https://heathskvtesthsm.managedhsm.azure.net/keys/93567653/58a3b9b006cc447825ec98493a7972c3",
        "value": "AVv4x9Vr9qHuCV7-kl3hxTNP_pXxAT-GDhEefamemEUEYQcRXx63lyw3HV9JuA7iDF4h6Io0FBhc_mm1z30lrVmzAWIX8wRhj8wl7LgdscyMKjGaMEWg65PzQZjoe80TapCxtGxO69Y9hLEgXn7paSfcRVfFa15DbuSz0dLzxyBU-Qik"
      }
    }
  ],
  "Variables": {
    "AZURE_MANAGEDHSM_URL": "https://heathskvtesthsm.managedhsm.azure.net/",
    "RandomSeed": "1360922396"
  }
}