{
  "Entries": [
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/1648817672/create?api-version=7.4-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://managedhsm.azure.net\u0022",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/1648817672/create?api-version=7.4-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "272"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1667431120,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1667431120
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/1648817672/a626aa6ca30440afb4c9cc5e4c78bb08",
          "kty": "RSA-HSM",
          "n": "i9CMjDecPFVNZd9p6UqzktLJTcUQpCJKrggxQd2_7l4BR_YJeOIPkz8QigdoOwQ3H9fmIn1EMoju3Vrn-gtTn5wpxVAVvLjMph9cNYFR_0NUIEtsRIRKJW7caKDRz43J1N3L69HSgpihHJ2TiZFbyCITmh-OXVDZXUam88utgsnUEUxAx9jAlO6YYfJTIYr9i1beD-_zHQMVyD-RhZ6nTB-yw0YshCvJXXluNc7vkRa3YcZSnuIw0JNc0_j69KfNpZT4WQoLpQeg8cgrXyrUiJlnyQBuV_QT00jC00niv9r7Oi7ZRrMgDDny2mVO2dmg3Joi4YPFrRt_yhV-Up-6rw"
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/1648817672/a626aa6ca30440afb4c9cc5e4c78bb08/sign?api-version=7.4-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RS512",
        "value": "5aFTCfRA6gCOaeb6Aj2Ju8in-a6aej523thWyZ7pFYJmvLdY6Z3eEuQr1PWAvWjX0aX9O2NjJVURTs-dQsc6gQ"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "172"
      },
      "ResponseBody": {
        "alg": "RS512",
        "kid": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/1648817672/a626aa6ca30440afb4c9cc5e4c78bb08",
        "value": "MaxV5Apo_Xw-yCTU7ns9_EMj0Kehp8oV4GtQhOvIYbF_XWJvpuLBWDuo1CS9GQVRcwM7YsyhEnG9jE4yj8GOy7N9ZbWWB-u3_Mo7y2uzgv4yDOTdIbtSxP8o1FmI3NVsOqHcjQgry_lq_NUg89m7-BTw45lDYRAbcYtc2roUADTh3eNVdv2MxzVppEB7ld50oEqDIvkudPipYJAktgtbeoY7tmnuAN335VY6XjXnuzJG6gv272-O09LwWki-Z0sLrnXImiV8XBZDM01zTakrlj3w1DroH8UzOR-lo6nG6ylSOLK7DhcOBmgwaYxLDHW18GluvcO9hizV77fiqRv6_g"
      }
    },
[...]
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/1648817672/a626aa6ca30440afb4c9cc5e4c78bb08/verify?api-version=7.4-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RS512",
        "digest": "5aFTCfRA6gCOaeb6Aj2Ju8in-a6aej523thWyZ7pFYJmvLdY6Z3eEuQr1PWAvWjX0aX9O2NjJVURTs-dQsc6gQ",
        "value": "MaxV5Apo_Xw-yCTU7ns9_EMj0Kehp8oV4GtQhOvIYbF_XWJvpuLBWDuo1CS9GQVRcwM7YsyhEnG9jE4yj8GOy7N9ZbWWB-u3_Mo7y2uzgv4yDOTdIbtSxP8o1FmI3NVsOqHcjQgry_lq_NUg89m7-BTw45lDYRAbcYtc2roUADTh3eNVdv2MxzVppEB7ld50oEqDIvkudPipYJAktgtbeoY7tmnuAN335VY6XjXnuzJG6gv272-O09LwWki-Z0sLrnXImiV8XBZDM01zTakrlj3w1DroH8UzOR-lo6nG6ylSOLK7DhcOBmgwaYxLDHW18GluvcO9hizV77fiqRv6_g"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "2"
      },
      "ResponseBody": {
        "alg": "RS512",
        "kid": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/1648817672/a626aa6ca30440afb4c9cc5e4c78bb08",
        "value": true
      }
    },
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/1648817672/a626aa6ca30440afb4c9cc5e4c78bb08/verify?api-version=7.4-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RS512",
        "digest": "5aFTCfRA6gCOaeb6Aj2Ju8in-a6aej523thWyZ7pFYJmvLdY6Z3eEuQr1PWAvWjX0aX9O2NjJVURTs-dQsc6gQ",
        "value": "MaxV5Apo_Xw-yCTU7ns9_EMj0Kehp8oV4GtQhOvIYbF_XWJvpuLBWDuo1CS9GQVRcwM7YsyhEnG9jE4yj8GOy7N9ZbWWB-u3_Mo7y2uzgv4yDOTdIbtSxP8o1FmI3NVsOqHcjQgry_lq_NUg89m7-BTw45lDYRAbcYtc2roUADTh3eNVdv2MxzVppEB7ld50oEqDIvkudPipYJAktgtbeoY7tmnuAN335VY6XjXnuzJG6gv272-O09LwWki-Z0sLrnXImiV8XBZDM01zTakrlj3w1DroH8UzOR-lo6nG6ylSOLK7DhcOBmgwaYxLDHW18GluvcO9hizV77fiqRv6_g"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": {
        "alg": "RS512",
        "kid": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/1648817672/a626aa6ca30440afb4c9cc5e4c78bb08",
        "value": true
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com/",
    "AZURE_MANAGEDHSM_URL": "https://heathskeyvaulthsm.managedhsm.azure.net/",
    "RandomSeed": "2013675780"
  }
}
