{
  "Entries": [
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/528471776/create?api-version=7.3",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://managedhsm.azure.net\u0022",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/528471776/create?api-version=7.3",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "222"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1648058152,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1648058152
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/528471776/09e6a2eed3d345588353174a9968ca95",
          "kty": "RSA-HSM",
          "n": "uyiNi54CD0gkGxbbsmCXuIhyOgpJxNRHkHEXNu3V0fG8MP9rdFtO9C-jSQjJbHGT9iHrM3nN5JORVex7urPDowrSCGbAX9dUFLc2ib8MCuSBQcLSgp2D-kjCp6qISSlv4lbighL5c7QtrBszwlxF8H2rcUMBhQFrW1zohTdtFpVFHvcBojBhHxImCmWLZptzqRjVoYbwOqUwyUcHDQJhl01oiPFyg9bMAoj1sFTymVwc0deqT6_0s5cxN44OdM2_L2baC2kBAVDMNS4DipNrzenA0YYOFEW5-CbergCj6sPvL2tvRyylNEzdAjPPTE9ls4EwgYSmxdpdHT0d3jGO6Q"
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/528471776/09e6a2eed3d345588353174a9968ca95?api-version=7.3",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20220305-2-902fedaa-closebadconnections",
        "x-ms-server-latency": "100"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1648058152,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1648058152
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "verify",
            "sign",
            "unwrapKey",
            "encrypt",
            "decrypt"
          ],
          "kid": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/528471776/09e6a2eed3d345588353174a9968ca95",
          "kty": "RSA-HSM",
          "n": "uyiNi54CD0gkGxbbsmCXuIhyOgpJxNRHkHEXNu3V0fG8MP9rdFtO9C-jSQjJbHGT9iHrM3nN5JORVex7urPDowrSCGbAX9dUFLc2ib8MCuSBQcLSgp2D-kjCp6qISSlv4lbighL5c7QtrBszwlxF8H2rcUMBhQFrW1zohTdtFpVFHvcBojBhHxImCmWLZptzqRjVoYbwOqUwyUcHDQJhl01oiPFyg9bMAoj1sFTymVwc0deqT6_0s5cxN44OdM2_L2baC2kBAVDMNS4DipNrzenA0YYOFEW5-CbergCj6sPvL2tvRyylNEzdAjPPTE9ls4EwgYSmxdpdHT0d3jGO6Q"
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/528471776/09e6a2eed3d345588353174a9968ca95/sign?api-version=7.3",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RS256",
        "value": "bhzEa2nEl5gniYkQcskA-6aJ2NPzAGpc9UjNUto3uVE"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "3"
      },
      "ResponseBody": {
        "alg": "RS256",
        "kid": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/528471776/09e6a2eed3d345588353174a9968ca95",
        "value": "j-J6XdnlCdEmoulwKJ3HN7zPcfG51kt6CHsB7Gst5Uu5OKXQcq18O_YfbtI5Q1tcw38I2qWbkNYnm3zJY1t91VLPsbgjcmGNr8fXv8PvkvefUtLAQScW3FgqXVzHl7yJ2wdKSYUiLb9pr9beKr3dEDpv2ntNpwGo7rQDFcyWeSFJqRO81Pp1-hgwNgKis8o-QWfSY5Xm-6JN-_U3POmffrYmK6YIPCtXpwtjPq1JUi59Ve-Q9pvGf1f7uXjeZW1hPS44aUjuAxNCi7YruDaQApr59HAIt4e8hL8580e9cUj0S_dAI7fnqPvWj5LU1JOa7CiNeS5Ajwv2jN_mxzkZOw"
      }
    }
  ],
  "Variables": {
    "AZURE_MANAGEDHSM_URL": "https://heathskeyvaulthsm.managedhsm.azure.net/",
    "RandomSeed": "11827416"
  }
}
