{
  "Entries": [
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/603438458/create?api-version=7.4-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://managedhsm.azure.net\u0022",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/603438458/create?api-version=7.4-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "269"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1667431144,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1667431144
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/603438458/3bac23cce831495b812baf63173d074e",
          "kty": "RSA-HSM",
          "n": "5AuW6vFtBK4DTKzC2PUxDXtdZBsYR1A5tzIHqcHC7WdylPVErTcIorOx8aHtqRuivfYM24R2T8bQOmoOM2ylrH5yxQ8JclbJkwXtXZCSYbXG9l1bLUDOu1Y4o9BJBTJqUly8lPE_dyLmn_TkTBqbXAdiRr34YKoezbQ2iKxHJReFgO2JX0Ubz9KL7EGurUDq2SNaKJjKI_591Ptz_Y3WgexOJnMiiBUyjJ02gBsAd0EF-CEzN_NKBEq0ckx4LP0WmmNqyejZa5VrcBKAtBCiHzoLswKg5mJ9LRUwD-QOYkEtwTTuFgiIHfDgyu6Kf9BqjonHAVan81S1CzlEHtsOAw"
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/603438458/3bac23cce831495b812baf63173d074e/sign?api-version=7.4-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "PS256",
        "value": "ZcV1Iu1jutzmKg4C2SZ7xFfiS1Vbi7uD1-65QRBWiK4"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "186"
      },
      "ResponseBody": {
        "alg": "PS256",
        "kid": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/603438458/3bac23cce831495b812baf63173d074e",
        "value": "MafTu3Yf16pmMyZUNCQX11g2SiJfYZGSs_S96G4Tf4LZvjOtSIZxWpSAR49nxzqzMSHCrkSXbElqIUaIJ4Wsnj9k6z__617vB2XAmZ-WXYj7rkWIU-trhwgDd67bfZtJVfXD2ZgdcZCfjy8jN7crymaprK_dQfR37UUxTlhCQykEBsfa8d5g-xcI57MQeXUSze4Fnw1y0YZHyoWYzYPCTvSuq9F_Peh5wo7BqF2KC5wjNWollITliI8jjMvN6pnMJ8tW3bykCEq2hCBWP8GpFwKUObM-Hl8KXazDHUw2riGZyRJpjaAMOqPoFwHoMM8hEkVua3M1a5wXkYOgpOvm2A"
      }
    },
[...]
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/603438458/3bac23cce831495b812baf63173d074e/verify?api-version=7.4-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "PS256",
        "digest": "ZcV1Iu1jutzmKg4C2SZ7xFfiS1Vbi7uD1-65QRBWiK4",
        "value": "koeOAZJe_UrTh5sRofTdEbIsCKeZTBX3dRbM4M5jpCAVdTQ-BDsh1XjrubcfN2DvcCaTjsdJQIv_Muk5S_MdXuJ0HJN6t_HGtwpfa52eFwUc6u-p99jO-GrcguHiOCkll_rN_3gJoxocNZmRsz7jlPJwIiw9KmA_ueI-pIrijmkCBaxi-pbhvx-9faArnfvifrAq_SpJExcFZdD8KIQWHceUIt_Ic4vxWAOPlpM-VapN3hS_k3ZA0LE4VEyWZUO7zook1VwszAR-yfS5K1kiz8jrDpiqKq2rW0Hs3txv6EA7Apc0jK9UeuKzusi38fqxmw-KmLcwzc0PcuWaNyjPGw"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": {
        "alg": "PS256",
        "kid": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/603438458/3bac23cce831495b812baf63173d074e",
        "value": true
      }
    },
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/603438458/3bac23cce831495b812baf63173d074e/verify?api-version=7.4-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "PS256",
        "digest": "ZcV1Iu1jutzmKg4C2SZ7xFfiS1Vbi7uD1-65QRBWiK4",
        "value": "MafTu3Yf16pmMyZUNCQX11g2SiJfYZGSs_S96G4Tf4LZvjOtSIZxWpSAR49nxzqzMSHCrkSXbElqIUaIJ4Wsnj9k6z__617vB2XAmZ-WXYj7rkWIU-trhwgDd67bfZtJVfXD2ZgdcZCfjy8jN7crymaprK_dQfR37UUxTlhCQykEBsfa8d5g-xcI57MQeXUSze4Fnw1y0YZHyoWYzYPCTvSuq9F_Peh5wo7BqF2KC5wjNWollITliI8jjMvN6pnMJ8tW3bykCEq2hCBWP8GpFwKUObM-Hl8KXazDHUw2riGZyRJpjaAMOqPoFwHoMM8hEkVua3M1a5wXkYOgpOvm2A"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": {
        "alg": "PS256",
        "kid": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/603438458/3bac23cce831495b812baf63173d074e",
        "value": true
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com/",
    "AZURE_MANAGEDHSM_URL": "https://heathskeyvaulthsm.managedhsm.azure.net/",
    "RandomSeed": "1710124805"
  }
}
