{
  "Entries": [
    {
      "RequestUri": "https://heathskvtesthsm.managedhsm.azure.net/keys/1588584473/create?api-version=7.3-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://managedhsm.azure.net\u0022",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://heathskvtesthsm.managedhsm.azure.net/keys/1588584473/create?api-version=7.3-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "238"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1626299806,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 90,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "updated": 1626299806
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://heathskvtesthsm.managedhsm.azure.net/keys/1588584473/08a54c3cfe1e01e08e1ebe22e3ae6004",
          "kty": "RSA-HSM",
          "n": "h-qYWhPqTJkUHhQqHZE52qXhniekZ8pHdxc6R9WxE11gDk_RNTXSMpxy-QWmSw0b5Iru07HUIp-Wjb3U8Z6hvFQns_BGTBqBEIhiPWO-LrZsdbsBu7dOwOGMzvQGiDCOJzcCCyvnQvRPj1Kwj5MjA0BPhpgFOqghZGqYA43qaoKBRDInp2CnltI090ZOGN14XeRvCJTUMia6bxqc4VJuoE_iUkpnV7GqYjam7RBkdyBYimSf4gEFhrbF_6IyXgqFwQvt_ldU4U9xRXNL3It673klDg1AJtH52qcV8rCmgEqtKYSbFEnPKGgPhEizpegpjQyv_KoAu8VGUj5ui1jOlQ"
        }
      }
    },
    {
      "RequestUri": "https://heathskvtesthsm.managedhsm.azure.net/keys/1588584473/08a54c3cfe1e01e08e1ebe22e3ae6004?api-version=7.3-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20210605-1-ffd80f31-develop",
        "x-ms-server-latency": "136"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1626299806,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 90,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "updated": 1626299806
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "verify",
            "sign",
            "unwrapKey",
            "encrypt",
            "decrypt"
          ],
          "kid": "https://heathskvtesthsm.managedhsm.azure.net/keys/1588584473/08a54c3cfe1e01e08e1ebe22e3ae6004",
          "kty": "RSA-HSM",
          "n": "h-qYWhPqTJkUHhQqHZE52qXhniekZ8pHdxc6R9WxE11gDk_RNTXSMpxy-QWmSw0b5Iru07HUIp-Wjb3U8Z6hvFQns_BGTBqBEIhiPWO-LrZsdbsBu7dOwOGMzvQGiDCOJzcCCyvnQvRPj1Kwj5MjA0BPhpgFOqghZGqYA43qaoKBRDInp2CnltI090ZOGN14XeRvCJTUMia6bxqc4VJuoE_iUkpnV7GqYjam7RBkdyBYimSf4gEFhrbF_6IyXgqFwQvt_ldU4U9xRXNL3It673klDg1AJtH52qcV8rCmgEqtKYSbFEnPKGgPhEizpegpjQyv_KoAu8VGUj5ui1jOlQ"
        }
      }
    },
    {
      "RequestUri": "https://heathskvtesthsm.managedhsm.azure.net/keys/1588584473/08a54c3cfe1e01e08e1ebe22e3ae6004/sign?api-version=7.3-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "PS512",
        "value": "Ek6xDjj-0liM_8kbjy4quyJTLcuSJsret_xdrcWAW1rLnsgIQc-XMtQ6DUcOdNxPq2Ti-C6R-g16y9VBsyfZOQ"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "3"
      },
      "ResponseBody": {
        "alg": "PS512",
        "kid": "https://heathskvtesthsm.managedhsm.azure.net/keys/1588584473/08a54c3cfe1e01e08e1ebe22e3ae6004",
        "value": "VwSY76CGXEuU91b1LId2nVpRG4LQseHGfjNMBG4O20ikzvij0-ZfMYyaXTbGkrioiTXg0xd66Zn_VnWkFi3diqmHgEqkUXxEE7oE1VHfuU1ITjuhfZ6QIWwFDOr21XB2DfCCeigsYvrOWNF3vPXXL0ymu8za577xnPqOULR9wDfctcte56kIuRYJEga819C8Ku9MidsFvjeArx3lbgG0oxZcVxplVL0_yMge8AjYLrY2a9VsXTm9FpBNe1zbADo9PqO370wg4O4HWKThgZyCwELwgZNW4q88RIoOceIH_2WS8JlLViL-2UVJ7bxdWXqL5vusJZ72a2f2JqxlsFL_RQ"
      }
    }
  ],
  "Variables": {
    "AZURE_MANAGEDHSM_URL": "https://heathskvtesthsm.managedhsm.azure.net/",
    "RandomSeed": "769384182"
  }
}