{
  "Entries": [
    {
      "RequestUri": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/1156735342/create?api-version=7.4",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://managedhsm.azure.net\u0022",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/1156735342/create?api-version=7.4",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "264"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1677720027,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1677720027
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/1156735342/2e0bc177889f0185338402659c080618",
          "kty": "RSA-HSM",
          "n": "oX0uWIr-VBYfgV5yJyRa5QXkINN0e-VYx_5sANk4lBVHhqNP2Epvv4XtPLgxnk60-J7gSL12N2_-kSlFZx25nkSa_Lj_2NcLJqzIf9P6_GvWUNLWNKLaLk6uZR7ouwhu9OG3tHZ115wcdZemaYpyDqdwgmj7iNP-4A-x7qTPsz1J-c8h1vD0FtOw4jcTiWV0Q2n3nagk2Av0IgFCw8doeIV3powEe9ybC8BPj-fZIFGYKr7Ig8bcLrqm02oItH1OtCDXfba5R_sXjYZwqk6g7prfvcjjUYX0qALTlOG7r0RZCntBEVi9bl1R6z_4Ow8FVccpmb1pqJPdxTBL9bEUuQ"
        }
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/1156735342/2e0bc177889f0185338402659c080618?api-version=7.4",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20230208-1-3e0fbecc-develop",
        "x-ms-server-latency": "25"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1677720027,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1677720027
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "verify",
            "sign",
            "unwrapKey",
            "encrypt",
            "decrypt"
          ],
          "kid": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/1156735342/2e0bc177889f0185338402659c080618",
          "kty": "RSA-HSM",
          "n": "oX0uWIr-VBYfgV5yJyRa5QXkINN0e-VYx_5sANk4lBVHhqNP2Epvv4XtPLgxnk60-J7gSL12N2_-kSlFZx25nkSa_Lj_2NcLJqzIf9P6_GvWUNLWNKLaLk6uZR7ouwhu9OG3tHZ115wcdZemaYpyDqdwgmj7iNP-4A-x7qTPsz1J-c8h1vD0FtOw4jcTiWV0Q2n3nagk2Av0IgFCw8doeIV3powEe9ybC8BPj-fZIFGYKr7Ig8bcLrqm02oItH1OtCDXfba5R_sXjYZwqk6g7prfvcjjUYX0qALTlOG7r0RZCntBEVi9bl1R6z_4Ow8FVccpmb1pqJPdxTBL9bEUuQ"
        }
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/1156735342/2e0bc177889f0185338402659c080618/sign?api-version=7.4",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "PS256",
        "value": "qy8NomaoUqarVvHhKSls9XM2X056Z4_rL0V5N5vewR0"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "2"
      },
      "ResponseBody": {
        "alg": "PS256",
        "kid": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/1156735342/2e0bc177889f0185338402659c080618",
        "value": "F4eftul4RoHakKhsUvqA4DiIv4SX0zc93RbSO7DtlGzJqHCZ2Fs79yzD60nuIzKUaF7bILE0I1jx6hZRy0eW3zUewuFjOBfNxYJXZTx1lt4kV3k0ptd7yFp3BhPKYNmaJXQMVKFGxP_HIpxUEO3R5uEPMQ0pFLAkoocF5q0uOqozTFqGFuTV4wcEGLv_0265-kxP1hWVFRDyBGelR-kGqQaJK4LPgGatzniiNylh9nsedTT5ZuSz6yOuOzaZpvv1WBqmkI3M3-pmA5L1tNyoFpNDLvIChSLGkRKmdFlouCi9mAP3ArxOZXDcv0H0RhP4Dd6i9rlb7u_yteaGh5BiKw"
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com/",
    "AZURE_MANAGEDHSM_URL": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/",
    "RandomSeed": "1592874486"
  }
}
