{
  "Entries": [
    {
      "RequestUri": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/1329470992/create?api-version=7.4",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://managedhsm.azure.net\u0022",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/1329470992/create?api-version=7.4",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "274"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1677719105,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1677719105
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/1329470992/a20c102b52d54a898404ec8a53cd4940",
          "kty": "RSA-HSM",
          "n": "lamJccA8b9aGeu1In4AdWdihE_vdiTkX1mvDipmUCNdmdtPQ5VeD_qQmmByUeqnFH0sVwU6f6EY4GENonsajb0BEhS-KiIxJvop5hzVtNG37VLv_7zNhz08wwPWkS0mJJ2Kk3rdEpZr2sL3D_XmcoE7lFJa3H-MiLS0dldrlKbwuQgQdlq3dkjCkU-0z8_I2tbLj7P8fC_HiUSoEPjoprCjQKojUTA8M_t9_k9CtM5CVewpRo55OOwrQa9rwTPF_-rTlIdRhnKQkAtDL00Op06AaBZ-l9nXWHsyjDAeqN9TXvslwVgeWvoU0ywPeRXKRqMcd-WDCY2tLqxIqDpTXNQ"
        }
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/1329470992/a20c102b52d54a898404ec8a53cd4940?api-version=7.4",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20230208-1-3e0fbecc-develop",
        "x-ms-server-latency": "32"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1677719105,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1677719105
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "verify",
            "sign",
            "unwrapKey",
            "encrypt",
            "decrypt"
          ],
          "kid": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/1329470992/a20c102b52d54a898404ec8a53cd4940",
          "kty": "RSA-HSM",
          "n": "lamJccA8b9aGeu1In4AdWdihE_vdiTkX1mvDipmUCNdmdtPQ5VeD_qQmmByUeqnFH0sVwU6f6EY4GENonsajb0BEhS-KiIxJvop5hzVtNG37VLv_7zNhz08wwPWkS0mJJ2Kk3rdEpZr2sL3D_XmcoE7lFJa3H-MiLS0dldrlKbwuQgQdlq3dkjCkU-0z8_I2tbLj7P8fC_HiUSoEPjoprCjQKojUTA8M_t9_k9CtM5CVewpRo55OOwrQa9rwTPF_-rTlIdRhnKQkAtDL00Op06AaBZ-l9nXWHsyjDAeqN9TXvslwVgeWvoU0ywPeRXKRqMcd-WDCY2tLqxIqDpTXNQ"
        }
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/1329470992/a20c102b52d54a898404ec8a53cd4940/sign?api-version=7.4",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RS512",
        "value": "63q5TxLNwO3SUZCKYZCqQzaIKBJO2X_6WeEvi-0cKyyfai3FBE-VMsJdl6HTiCtWA4yXOOX6Y1ft9MThnCEeBw"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "3"
      },
      "ResponseBody": {
        "alg": "RS512",
        "kid": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/1329470992/a20c102b52d54a898404ec8a53cd4940",
        "value": "NekVW5TrNMvt-BsCfAl0zu-xUUShOMcqqTqpyBxDX157Gfiw2G4G9XfJYUofTwslmwcJJIr7BN2tDdqmGZu7HYEe5X12pOLDx4J_JUBKqRraXhH6z9LqHTLHBZksuxJolozQgJNFhoNQdrJ34rS1pXw5ju4UX7141BcL0ite7tI7xb6a8h0ZzdrlXrZMiQ3gGu4_3K7NcEcHqLPbWCSmREBTEbkIbY45Zm_uU9tGH_s-udQasPzn7_Oaq9zYRmGwhm4lNGCf4_W8TbA5nDuHwvqa_ih9BDcJDtEG2AKOCzr45g_OVj_RAvsUOEzWA_DBSJGCK2woK_HPS3Kaz9gjqA"
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com/",
    "AZURE_MANAGEDHSM_URL": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/",
    "RandomSeed": "2092158977"
  }
}
