{
  "Entries": [
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/93567653/create?api-version=7.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://managedhsm.azure.net\u0022",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/93567653/create?api-version=7.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC",
        "crv": "P-521"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "430"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1613812252,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 90,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "updated": 1613812252
        },
        "key": {
          "crv": "P-521",
          "key_ops": [
            "verify",
            "sign"
          ],
          "kid": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/93567653/7e119d6fcd7a411f8f00259aa036efb2",
          "kty": "EC-HSM",
          "x": "AUVeICmHa-UfPf-i6QBhihTfWV8KDrahrYXS_SL4-qLFnicekyN1JroZWMvvauCLOOea88NTH4jUuNvREu9YOt8H",
          "y": "AcGV3_rSyBnjhj1YHeFfRT0Q86tljgIP1MePo7hgl5bLY9Z9v7XF9JpRDoKBuSji_qh3u5lzMdLpiFvN1elr_XPt"
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/93567653/7e119d6fcd7a411f8f00259aa036efb2?api-version=7.2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20210204-1-c9f88df4-develop",
        "x-ms-server-latency": "183"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1613812252,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 90,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "updated": 1613812252
        },
        "key": {
          "crv": "P-521",
          "key_ops": [
            "verify",
            "sign"
          ],
          "kid": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/93567653/7e119d6fcd7a411f8f00259aa036efb2",
          "kty": "EC-HSM",
          "x": "AUVeICmHa-UfPf-i6QBhihTfWV8KDrahrYXS_SL4-qLFnicekyN1JroZWMvvauCLOOea88NTH4jUuNvREu9YOt8H",
          "y": "AcGV3_rSyBnjhj1YHeFfRT0Q86tljgIP1MePo7hgl5bLY9Z9v7XF9JpRDoKBuSji_qh3u5lzMdLpiFvN1elr_XPt"
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/93567653/7e119d6fcd7a411f8f00259aa036efb2/sign?api-version=7.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES512",
        "value": "TafMEcor-h7IMknOCz15v9A7Tr2lSlb9y-1XCInfvgYLUBn8H_7I7poFSKn396DsCyxj4GYfDL641EqL5qcihA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "35"
      },
      "ResponseBody": {
        "alg": "ES512",
        "kid": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/93567653/7e119d6fcd7a411f8f00259aa036efb2",
        "value": "AUJffD1kP7hixH4Xwo2wGyOUw1onEbx_fZ-rAQPEkhOxer-IYFy1kXZfR-Z1nROjSurp_QpvB9mMqjLm0NtuSN3iAQAGqi09WJ2HlRdBNs0KIT4tN24zzyS0jmfWodp5Cm_c2eUKAr5rAC7fsa_FsIGXKKW26whjoV8yFQu7ByeqPnGU"
      }
    }
  ],
  "Variables": {
    "AZURE_MANAGEDHSM_URL": "https://heathskeyvaulthsm.managedhsm.azure.net/",
    "RandomSeed": "1360922396"
  }
}