{
  "Entries": [
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/259840471/create?api-version=7.3",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://managedhsm.azure.net\u0022",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/259840471/create?api-version=7.3",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "223"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1648058217,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1648058217
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/259840471/2536f5982ae5048c90933ebe82f32ebf",
          "kty": "RSA-HSM",
          "n": "pYSQEbxRxYRXw8SyOsKmuAIFG77ai2yOm4xC25d2KBzYaYkaQKFaoNDvO9QUXA5KHY_tmNY5L1d2OE0j6hl0hP6vxcQJ8re1rVrcc1wKIyWrwMjnmLZKsrzy0HGjkSVCYR4pVzeiyKnDnpT2Z5MH5hvrXDf51e1AyyhunLIxE0inDQxETKLo86PTcW7NMWalBWb25N4PQP7SQOi5tHla_yfX0eW2FUB8_kUa09TtavCfQy2bE7AcVWSpa8edzmRhD7tHEXxSJQUHSvuoXAUMSY7w6lCnOORxDUQ5wPXnDpaSUlkOE-d_l9IxTS-HdvmAEA2UlS8jWJ_19pATGQLi8Q"
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/259840471/2536f5982ae5048c90933ebe82f32ebf/wrapKey?api-version=7.3",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RSA1_5",
        "value": "-PSQD64sW9cwzqTEYv1BTiVFSq3YYbOXzI0F2xKr-e4"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "141"
      },
      "ResponseBody": {
        "alg": "RSA1_5",
        "kid": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/259840471/2536f5982ae5048c90933ebe82f32ebf",
        "value": "Jeu3gjgg8RTpeEsrzMokBIYuDPne8LNlX6X9qsSg9P6HS8PtHULt9g7IdwtmmrUWdwSA7JBpiIQg0Tu-POlWY9lOPJSd8CbMKxDGZ8L-cpMNHaZZWNslBSLfwg5ewuDHOwRbsnaSMgbmx29MY6mFzqBPM38lK9AYU99G6WghXaIKoBFMmbwptm-hskegFpwmm2SBC8I57g-WO08X5CyIlARpkzLFjZtoB9BIJaoZo9YazFheKOeUiUvS1-E0R91viNq-HXHe2zUySJMrBQ5QZ52kscOmPvdV8JDPFCLMPFTy1lI_bhGUh1QIzgJ2KEihUylIwm31XXbLhnqPtjcN_Q"
      }
    },
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/259840471/2536f5982ae5048c90933ebe82f32ebf/unwrapKey?api-version=7.3",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RSA1_5",
        "value": "Jeu3gjgg8RTpeEsrzMokBIYuDPne8LNlX6X9qsSg9P6HS8PtHULt9g7IdwtmmrUWdwSA7JBpiIQg0Tu-POlWY9lOPJSd8CbMKxDGZ8L-cpMNHaZZWNslBSLfwg5ewuDHOwRbsnaSMgbmx29MY6mFzqBPM38lK9AYU99G6WghXaIKoBFMmbwptm-hskegFpwmm2SBC8I57g-WO08X5CyIlARpkzLFjZtoB9BIJaoZo9YazFheKOeUiUvS1-E0R91viNq-HXHe2zUySJMrBQ5QZ52kscOmPvdV8JDPFCLMPFTy1lI_bhGUh1QIzgJ2KEihUylIwm31XXbLhnqPtjcN_Q"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "2"
      },
      "ResponseBody": {
        "alg": "RSA1_5",
        "kid": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/259840471/2536f5982ae5048c90933ebe82f32ebf",
        "value": "-PSQD64sW9cwzqTEYv1BTiVFSq3YYbOXzI0F2xKr-e4"
      }
    }
  ],
  "Variables": {
    "AZURE_MANAGEDHSM_URL": "https://heathskeyvaulthsm.managedhsm.azure.net/",
    "RandomSeed": "1146474501"
  }
}
