{
  "Entries": [
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/701601670/create?api-version=7.4-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://managedhsm.azure.net\u0022",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/701601670/create?api-version=7.4-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "264"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1667431056,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1667431056
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/701601670/b4fefee5ebd4466e0e06b6c52790c839",
          "kty": "RSA-HSM",
          "n": "lsT1B5AvizbOzYYuuC-p5uB3W7ehY3SagoyRtey1ketWteqBilb5arQsiA5hIG_D54um15afrBKIrnE-mKsjk50x0Ejb9eQJFy0aMjf5_x8utUgTsG65yYVUbmof5w2pWdgLx3Tj3i9Gg3ucbjWp80o3paQK9dxEkw_ZFTJ-yThWJiwFPKw2ap3_ruZNtRblvtoP1TtgvKeHz1m471w6u4YJh2Zil60dH-d8IWK-Q5Eq6CQ8PLTS18qbNvBDWbY2lGbrx4CD5YgdnjPKFn_pd1yssITmSWwuLkmcUhV7URiYDeT3fK6o4wTwtZyV1Nyw90Ae6pqwMra3Zo5eTaXnBw"
        }
      }
    },
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/701601670/b4fefee5ebd4466e0e06b6c52790c839/wrapKey?api-version=7.4-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RSA1_5",
        "value": "tdt8X7z1pJyEJ4fTmU24QFusXMa4oj6VOrH7I4GuABw"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "184"
      },
      "ResponseBody": {
        "alg": "RSA1_5",
        "kid": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/701601670/b4fefee5ebd4466e0e06b6c52790c839",
        "value": "Wx2S5VP0xQrYst-bPDs2JByYurrTITD3Rb6kEc1OQmeXO09t84nMxLR5PXhX5ORC_4bDJO2EatpqghjFykwG_Tlkq0GZDQBdQYLm9lIG-oCcVA4__3uXOY3IVRxpeUxq_PIQKncQZjT-8MOeqv0_RWfYtYOy16uszSuOUmUQCCYrpXm2kZ4L2WYouxoIYsR87VIiJlhFZnAI9w5q-iqsFkZTTtmbN63xucPduHQ6rwzIm-puuQ_cJiEz6lfozOytvOaeOxYEa-BEfXzb_FpaMheHjt0Mb7b_bJnk3RiT6OUFqT8zg83v3lo-3SeQ8lYgXP411J4VE3epFuAfxL0PyQ"
      }
    },
    {
      "RequestUri": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/701601670/b4fefee5ebd4466e0e06b6c52790c839/unwrapKey?api-version=7.4-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RSA1_5",
        "value": "Wx2S5VP0xQrYst-bPDs2JByYurrTITD3Rb6kEc1OQmeXO09t84nMxLR5PXhX5ORC_4bDJO2EatpqghjFykwG_Tlkq0GZDQBdQYLm9lIG-oCcVA4__3uXOY3IVRxpeUxq_PIQKncQZjT-8MOeqv0_RWfYtYOy16uszSuOUmUQCCYrpXm2kZ4L2WYouxoIYsR87VIiJlhFZnAI9w5q-iqsFkZTTtmbN63xucPduHQ6rwzIm-puuQ_cJiEz6lfozOytvOaeOxYEa-BEfXzb_FpaMheHjt0Mb7b_bJnk3RiT6OUFqT8zg83v3lo-3SeQ8lYgXP411J4VE3epFuAfxL0PyQ"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "2"
      },
      "ResponseBody": {
        "alg": "RSA1_5",
        "kid": "https://heathskeyvaulthsm.managedhsm.azure.net/keys/701601670/b4fefee5ebd4466e0e06b6c52790c839",
        "value": "tdt8X7z1pJyEJ4fTmU24QFusXMa4oj6VOrH7I4GuABw"
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com/",
    "AZURE_MANAGEDHSM_URL": "https://heathskeyvaulthsm.managedhsm.azure.net/",
    "RandomSeed": "186692216"
  }
}
