{
  "Entries": [
    {
      "RequestUri": "https://heathskvtesthsm.managedhsm.azure.net/keys/2144649464/create?api-version=7.3-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://managedhsm.azure.net\u0022",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://heathskvtesthsm.managedhsm.azure.net/keys/2144649464/create?api-version=7.3-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "222"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1626299862,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 90,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "updated": 1626299862
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://heathskvtesthsm.managedhsm.azure.net/keys/2144649464/9b6f77edb08709dcafcb237f650f74a5",
          "kty": "RSA-HSM",
          "n": "ogDBGpLZeg8mbjcPnECu_6w0fkp4loOEzq5N1EUeQ0mnujxWEYn48Ac7elc-fHrf-VfuNMM0avbUZjkFFPhmRFbZM2tZ_ZaFc1PhomMCflRygmL_D2dLtsTF26lWbysWfP7F8ltzV2c9cRIZpyEg8eLV7DtPiV1GOc27BN1o1NH2xT4zeD0QRBdUqoyROQaEAU0RspHmn09VQN_y3teRg12ungtpRxpVklhgzD-FM7gOfIHF7_qJp0480HSCSAvckensLhq880Y5-ozoJboyNiBpuFjCPpL87scUGeM-YzivnvQh2Ow2vkq2jlDoNO9at4CsGyIGbwYd88W_R9Qpcw"
        }
      }
    },
    {
      "RequestUri": "https://heathskvtesthsm.managedhsm.azure.net/keys/2144649464/9b6f77edb08709dcafcb237f650f74a5/wrapKey?api-version=7.3-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RSA-OAEP-256",
        "value": "K16E5l7yjtIgcWaIt312LQzgxxSZRmhfiSWFBI2ZsTk"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "123"
      },
      "ResponseBody": {
        "alg": "RSA-OAEP-256",
        "kid": "https://heathskvtesthsm.managedhsm.azure.net/keys/2144649464/9b6f77edb08709dcafcb237f650f74a5",
        "value": "Yvtek85vbRfut0dnq_hbFxTBA1G0D0dk_EM2y195kHFCboHY8FYNEbRa_HGrGg2higpl-bczKUCuYHv7-5DMU2pgh7_tQquP8QQiU6YKBRT3gpC925hpNZmlaYtctuu_ov75sFre3beo9SR22Ghe_XN2KRTZGYXc0dEOwuqYgjNqaGA4qcVNhPjjxRfJEuV1VsOzXXGk7A6v5eXeqZvyiWqo94fK_0Z4d-zELjT9FQRb6G_nyL2Gtg07p67n7AHSeFuZU0PmNiYc-Mi2OrDBQHjhXS7s8NEgDlfujOTvXmoabthQFckkY15i2I3LLrEfZdx8LXOpB0ErdVZYaQ7NUA"
      }
    },
    {
      "RequestUri": "https://heathskvtesthsm.managedhsm.azure.net/keys/2144649464/9b6f77edb08709dcafcb237f650f74a5/unwrapKey?api-version=7.3-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RSA-OAEP-256",
        "value": "Yvtek85vbRfut0dnq_hbFxTBA1G0D0dk_EM2y195kHFCboHY8FYNEbRa_HGrGg2higpl-bczKUCuYHv7-5DMU2pgh7_tQquP8QQiU6YKBRT3gpC925hpNZmlaYtctuu_ov75sFre3beo9SR22Ghe_XN2KRTZGYXc0dEOwuqYgjNqaGA4qcVNhPjjxRfJEuV1VsOzXXGk7A6v5eXeqZvyiWqo94fK_0Z4d-zELjT9FQRb6G_nyL2Gtg07p67n7AHSeFuZU0PmNiYc-Mi2OrDBQHjhXS7s8NEgDlfujOTvXmoabthQFckkY15i2I3LLrEfZdx8LXOpB0ErdVZYaQ7NUA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "3"
      },
      "ResponseBody": {
        "alg": "RSA-OAEP-256",
        "kid": "https://heathskvtesthsm.managedhsm.azure.net/keys/2144649464/9b6f77edb08709dcafcb237f650f74a5",
        "value": "K16E5l7yjtIgcWaIt312LQzgxxSZRmhfiSWFBI2ZsTk"
      }
    }
  ],
  "Variables": {
    "AZURE_MANAGEDHSM_URL": "https://heathskvtesthsm.managedhsm.azure.net/",
    "RandomSeed": "606563108"
  }
}