{
  "Entries": [
    {
      "RequestUri": "https://heathskvtesthsm.managedhsm.azure.net/keys/190089752/create?api-version=7.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://managedhsm.azure.net\u0022",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://heathskvtesthsm.managedhsm.azure.net/keys/190089752/create?api-version=7.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "228"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1626228389,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 90,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "updated": 1626228389
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://heathskvtesthsm.managedhsm.azure.net/keys/190089752/fb300f6df53a4fcca0baa1ab5e46302b",
          "kty": "RSA-HSM",
          "n": "qp62iseRNsvg2RtU_VnFzxjOYycfDCrFhkBxo0I_Y-les4LH6bajr85MFa4Slwk3CliexL_UCip8QMki3FskNbeUKxXucaqXb3FCvY-lO4MGcwo8337mLkuq0W6O16Jkx2SYuhWMYxMe3V8E2P49HgMkbZs_TsvEQeGdfzw3lkNMQIR1cMdm0ThCWe29D9jePd9xJUAyS1qvibsn0FnPeGoXVgPaHEIhET-MLCOgXkgQS6ATSvUwM4tQi7V20ZGskoU1aveO3yj3IY0rOfUUQwPNsgWyOwOsCFByvF9KJ_YTvqe4D4lyi4cPHdm_8PG3WE89bSqunSh1-JgAsg38MQ"
        }
      }
    },
    {
      "RequestUri": "https://heathskvtesthsm.managedhsm.azure.net/keys/190089752/fb300f6df53a4fcca0baa1ab5e46302b/wrapKey?api-version=7.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RSA1_5",
        "value": "n8kcav6IThGDByPKYNjYVwrd02elNGaDvBO0_R2ra5g"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "129"
      },
      "ResponseBody": {
        "alg": "RSA1_5",
        "kid": "https://heathskvtesthsm.managedhsm.azure.net/keys/190089752/fb300f6df53a4fcca0baa1ab5e46302b",
        "value": "DxneeTClCNPlkU-ZkRLzzHed7VV4QeETfnHT4ex_z2FSgrtRRDADcyNClpqlxdBQsSHNhrgiOFC1plvrsRPT5jtbryHP5_7jY6jAgQMQLzMAFLASkftpC5HSu0pPW5PG6rTonptPpJP3TngSS7jmahTm5YKjF-q0QmkI0Ykkm0Uu8eDXAu33dehV9X8tYY_CGsaGJRo6DduV7zOW91pxrk7S35iIZrhR-3bcG3yRQL-LfVvYvDlPDgXCh5VD2msst39KCQuyiMFyRYDaH0Lqin4J6hZ25Jes2O7I6PbNw1eekhwHKnFWWSNsXWGwkymURkbaVrJMZX72ITzjtc8U9Q"
      }
    },
    {
      "RequestUri": "https://heathskvtesthsm.managedhsm.azure.net/keys/190089752/fb300f6df53a4fcca0baa1ab5e46302b/unwrapKey?api-version=7.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RSA1_5",
        "value": "DxneeTClCNPlkU-ZkRLzzHed7VV4QeETfnHT4ex_z2FSgrtRRDADcyNClpqlxdBQsSHNhrgiOFC1plvrsRPT5jtbryHP5_7jY6jAgQMQLzMAFLASkftpC5HSu0pPW5PG6rTonptPpJP3TngSS7jmahTm5YKjF-q0QmkI0Ykkm0Uu8eDXAu33dehV9X8tYY_CGsaGJRo6DduV7zOW91pxrk7S35iIZrhR-3bcG3yRQL-LfVvYvDlPDgXCh5VD2msst39KCQuyiMFyRYDaH0Lqin4J6hZ25Jes2O7I6PbNw1eekhwHKnFWWSNsXWGwkymURkbaVrJMZX72ITzjtc8U9Q"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "2"
      },
      "ResponseBody": {
        "alg": "RSA1_5",
        "kid": "https://heathskvtesthsm.managedhsm.azure.net/keys/190089752/fb300f6df53a4fcca0baa1ab5e46302b",
        "value": "n8kcav6IThGDByPKYNjYVwrd02elNGaDvBO0_R2ra5g"
      }
    }
  ],
  "Variables": {
    "AZURE_MANAGEDHSM_URL": "https://heathskvtesthsm.managedhsm.azure.net/",
    "RandomSeed": "448639639"
  }
}