{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-9293f44e-2146-e581-8aef-a22ef8306597?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 17 Feb 2021 02:25:21 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D2EB46702283\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 02:25:21 GMT",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-9293f44e-2146-e581-8aef-a22ef8306597/test-blob-b99a26d0-3664-9b3d-b543-7800546cde3e",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Wed, 17 Feb 2021 02:25:21 GMT",
        "x-ms-encryption-algorithm": "AES256",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D2EB467967F7\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 02:25:21 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-06-12",
        "x-ms-version-id": "2021-02-17T02:25:21.4434295Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-9293f44e-2146-e581-8aef-a22ef8306597/test-blob-b99a26d0-3664-9b3d-b543-7800546cde3e?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 02:25:21 GMT",
        "x-ms-encryption-algorithm": "AES256",
        "x-ms-page-write": "clear",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D2EB46813194\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 02:25:21 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-78c08acb-3d71-a72c-ad2a-2d82a3bbdb71/test-blob-37af16f4-7323-256a-ba94-38a8c7e9eba2?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Modified-Since": "Tue, 16 Feb 2021 02:25:21 GMT",
        "x-ms-date": "Wed, 17 Feb 2021 02:25:21 GMT",
        "x-ms-encryption-algorithm": "AES256",
        "x-ms-page-write": "clear",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D2EB46C5C11E\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 02:25:21 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-d2e771c7-7c8a-48a1-7d91-d992a0c5e8ec/test-blob-92a22a01-c225-4b9a-a8e1-23a290af1dbc?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Unmodified-Since": "Thu, 18 Feb 2021 02:25:21 GMT",
        "x-ms-date": "Wed, 17 Feb 2021 02:25:22 GMT",
        "x-ms-encryption-algorithm": "AES256",
        "x-ms-page-write": "clear",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D2EB471E7897\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 02:25:22 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-7e943b29-e829-6c5e-2211-e90432423631/test-blob-e7232178-b14b-63e2-bcee-1195a7282ae4",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 02:25:22 GMT",
        "x-ms-encryption-algorithm": "AES256",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D8D2EB475DFE28\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 02:25:22 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Wed, 17 Feb 2021 02:25:22 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-06-12",
        "x-ms-version-id": "2021-02-17T02:25:22.9414952Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-7e943b29-e829-6c5e-2211-e90432423631/test-blob-e7232178-b14b-63e2-bcee-1195a7282ae4?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "0x8D8D2EB475DFE28",
        "x-ms-date": "Wed, 17 Feb 2021 02:25:22 GMT",
        "x-ms-encryption-algorithm": "AES256",
        "x-ms-page-write": "clear",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D2EB476F6674\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 02:25:23 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-6610b0b0-513f-5764-a8df-ecac4395d0c1/test-blob-49c0384b-edf7-a269-e6c9-cb3bd75e2420?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 02:25:23 GMT",
        "x-ms-lease-action": "acquire",
        "x-ms-lease-duration": "-1",
        "x-ms-proposed-lease-id": "b6b50138-03e8-fb0d-a81f-ed7deb6bb6fe",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D2EB47F1CD9D\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 02:25:23 GMT",
        "x-ms-lease-id": "b6b50138-03e8-fb0d-a81f-ed7deb6bb6fe",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-1daad5aa-2b87-67ab-a093-9ded888a0aae/test-blob-49d96d35-2c84-0469-2ba7-5b6fe1175f96?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 02:25:24 GMT",
        "x-ms-encryption-algorithm": "AES256",
        "x-ms-if-sequence-number-lt": "5",
        "x-ms-page-write": "clear",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D2EB4847C59D\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 02:25:24 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-79befb71-220d-d5a0-5ff1-2ab9e6ef929f/test-blob-472368ed-60c2-c457-82a1-fd1ce95bb9a8?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 02:25:24 GMT",
        "x-ms-encryption-algorithm": "AES256",
        "x-ms-if-sequence-number-le": "3",
        "x-ms-page-write": "clear",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D2EB488FD85C\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 02:25:24 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-adaec5d4-7321-2fd9-93d6-c9fa3f35e00d/test-blob-29c2851a-43c9-708e-641b-c82f0f930827?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 02:25:25 GMT",
        "x-ms-encryption-algorithm": "AES256",
        "x-ms-if-sequence-number-eq": "0",
        "x-ms-page-write": "clear",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D2EB48DAD1D6\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 02:25:25 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-adaec5d4-7321-2fd9-93d6-c9fa3f35e00d?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 02:25:25 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2021-02-16T20:25:21.0330273-06:00",
    "RandomSeed": "1768463093",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\nseanscope1"
  }
}