{
  "Entries": [
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-00ba99d5-6179-200e-f5a9-4069b100fdab?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 17 Jun 2019 20:57:18 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D6F3666254B533\u0022",
        "Last-Modified": "Mon, 17 Jun 2019 20:57:18 GMT",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-00ba99d5-6179-200e-f5a9-4069b100fdab/test-blob-9c60798d-e8c0-59a9-1620-dd2db05e9310",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Mon, 17 Jun 2019 20:57:18 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D6F366625757F7\u0022",
        "Last-Modified": "Mon, 17 Jun 2019 20:57:18 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-00ba99d5-6179-200e-f5a9-4069b100fdab/test-blob-9c60798d-e8c0-59a9-1620-dd2db05e9310?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 17 Jun 2019 20:57:18 GMT",
        "x-ms-page-write": "clear",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D6F3666259C98B\u0022",
        "Last-Modified": "Mon, 17 Jun 2019 20:57:18 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-46d041ce-5a82-ec70-d8ba-046b1cb4987e/test-blob-ee89d480-79a6-a827-e4e1-32a591215ab8?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Modified-Since": "Sun, 16 Jun 2019 20:57:18 GMT",
        "x-ms-date": "Mon, 17 Jun 2019 20:57:18 GMT",
        "x-ms-page-write": "clear",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D6F36662660186\u0022",
        "Last-Modified": "Mon, 17 Jun 2019 20:57:18 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-7737ceae-1336-578d-4fdb-7cb3f2be7371/test-blob-4593481b-be5d-f784-86af-42ab2c4ed815?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Unmodified-Since": "Tue, 18 Jun 2019 20:57:18 GMT",
        "x-ms-date": "Mon, 17 Jun 2019 20:57:18 GMT",
        "x-ms-page-write": "clear",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D6F3666278F1E9\u0022",
        "Last-Modified": "Mon, 17 Jun 2019 20:57:18 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-ccd12d18-2eb6-5fe9-63b5-36d9a964aec2/test-blob-319ad1c4-cb5e-1a13-743a-e5bb6a4cd3cb",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 17 Jun 2019 20:57:18 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D6F3666287C291\u0022",
        "Last-Modified": "Mon, 17 Jun 2019 20:57:18 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Mon, 17 Jun 2019 20:57:18 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-tag-count": "0",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-ccd12d18-2eb6-5fe9-63b5-36d9a964aec2/test-blob-319ad1c4-cb5e-1a13-743a-e5bb6a4cd3cb?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8D6F3666287C291\u0022",
        "x-ms-date": "Mon, 17 Jun 2019 20:57:18 GMT",
        "x-ms-page-write": "clear",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D6F366628D6942\u0022",
        "Last-Modified": "Mon, 17 Jun 2019 20:57:18 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-0854a4c8-3775-1222-6567-5ffbd59dd509/test-blob-94fe076a-5b24-7fba-89a9-88d09c05838e?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "\u0022garbage\u0022",
        "x-ms-date": "Mon, 17 Jun 2019 20:57:18 GMT",
        "x-ms-page-write": "clear",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D6F3666297A4F1\u0022",
        "Last-Modified": "Mon, 17 Jun 2019 20:57:18 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-eacc493d-b574-ecef-57b0-ce9d76f18c07/test-blob-1045b5ee-c41a-3b31-a2fc-11d3e51a4ba2?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 17 Jun 2019 20:57:18 GMT",
        "x-ms-lease-action": "acquire",
        "x-ms-lease-duration": "-1",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D6F366629F20D4\u0022",
        "Last-Modified": "Mon, 17 Jun 2019 20:57:18 GMT",
        "x-ms-lease-id": "10a6eee1-a50a-4cd5-8692-35180c7bd0bc",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-e1211010-566c-1482-2aa5-66a0f94ec2f8/test-blob-c38edbc2-e06b-53cc-0200-12c623561661?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 17 Jun 2019 20:57:18 GMT",
        "x-ms-if-sequence-number-lt": "5",
        "x-ms-page-write": "clear",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D6F36662B74297\u0022",
        "Last-Modified": "Mon, 17 Jun 2019 20:57:18 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-e3298ed1-f878-67a1-3e92-7c8f7101c6ee/test-blob-8c0008df-f184-ddd3-4813-dc5034df7505?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 17 Jun 2019 20:57:18 GMT",
        "x-ms-if-sequence-number-le": "3",
        "x-ms-page-write": "clear",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D6F36662C0E1E0\u0022",
        "Last-Modified": "Mon, 17 Jun 2019 20:57:18 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-484de784-0c2f-aa04-ce92-90d04c29869d/test-blob-508e1dd2-6e02-76c1-0d85-d0c450206ca4?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 17 Jun 2019 20:57:18 GMT",
        "x-ms-if-sequence-number-eq": "0",
        "x-ms-page-write": "clear",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D6F36662CCA48E\u0022",
        "Last-Modified": "Mon, 17 Jun 2019 20:57:18 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-484de784-0c2f-aa04-ce92-90d04c29869d?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 17 Jun 2019 20:57:18 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2019-06-17T13:57:18.1472557-07:00",
    "RandomSeed": "1191522784"
  }
}