{
  "Entries": [
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-b5ca504a-c236-0df0-99ef-79792352681c?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Fri, 12 Jul 2019 17:56:32 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D706F246407879\u0022",
        "Last-Modified": "Fri, 12 Jul 2019 17:56:32 GMT",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-b5ca504a-c236-0df0-99ef-79792352681c/test-blob-9ceac3b0-3a77-6bd2-e4bf-612747aa0454",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Fri, 12 Jul 2019 17:56:32 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D706F246428CD4\u0022",
        "Last-Modified": "Fri, 12 Jul 2019 17:56:32 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-b5ca504a-c236-0df0-99ef-79792352681c/test-blob-9ceac3b0-3a77-6bd2-e4bf-612747aa0454?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 12 Jul 2019 17:56:32 GMT",
        "x-ms-page-write": "clear",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D706F24647BE38\u0022",
        "Last-Modified": "Fri, 12 Jul 2019 17:56:32 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-054c4e2b-a4e1-27ec-ebe1-fe333823f61c/test-blob-ab53a10b-c6ba-65f4-54dd-fd8be286affc?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Modified-Since": "Thu, 11 Jul 2019 17:56:32 GMT",
        "x-ms-date": "Fri, 12 Jul 2019 17:56:32 GMT",
        "x-ms-page-write": "clear",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D706F2465072E6\u0022",
        "Last-Modified": "Fri, 12 Jul 2019 17:56:32 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-6edbf507-185e-b82c-fcb1-3bd1b6e7d18c/test-blob-b90cc4b9-aa3f-18a3-15b0-f75c512d04be?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Unmodified-Since": "Sat, 13 Jul 2019 17:56:32 GMT",
        "x-ms-date": "Fri, 12 Jul 2019 17:56:32 GMT",
        "x-ms-page-write": "clear",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D706F246586419\u0022",
        "Last-Modified": "Fri, 12 Jul 2019 17:56:32 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-8c87f43f-1215-ebe2-28a1-f46fcf57395e/test-blob-f62727c5-4515-5432-4f0e-a82819e00db0",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 12 Jul 2019 17:56:32 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D706F2465DE3AB\u0022",
        "Last-Modified": "Fri, 12 Jul 2019 17:56:32 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Fri, 12 Jul 2019 17:56:32 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-tag-count": "0",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-8c87f43f-1215-ebe2-28a1-f46fcf57395e/test-blob-f62727c5-4515-5432-4f0e-a82819e00db0?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8D706F2465DE3AB\u0022",
        "x-ms-date": "Fri, 12 Jul 2019 17:56:32 GMT",
        "x-ms-page-write": "clear",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D706F246613FDD\u0022",
        "Last-Modified": "Fri, 12 Jul 2019 17:56:32 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-edab8113-98a7-e73c-cddf-2ea807f37125/test-blob-ad4191dd-3fac-e3b9-097d-7e5536d76324?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "\u0022garbage\u0022",
        "x-ms-date": "Fri, 12 Jul 2019 17:56:32 GMT",
        "x-ms-page-write": "clear",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D706F2466909F2\u0022",
        "Last-Modified": "Fri, 12 Jul 2019 17:56:32 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-faedbdef-ed0c-c971-e522-801252cfd118/test-blob-243eb29c-971c-8cd6-4ace-17ffe80591c2?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 12 Jul 2019 17:56:33 GMT",
        "x-ms-lease-action": "acquire",
        "x-ms-lease-duration": "-1",
        "x-ms-proposed-lease-id": "a075e266-ad91-bafb-79c3-b0ae78a0161d",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D706F2466F25EF\u0022",
        "Last-Modified": "Fri, 12 Jul 2019 17:56:32 GMT",
        "x-ms-lease-id": "a075e266-ad91-bafb-79c3-b0ae78a0161d",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-9771b340-0f08-658d-ee5a-4c77bc27ec72/test-blob-cc987ac4-4f57-c775-2c69-fa8a8088abb9?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 12 Jul 2019 17:56:33 GMT",
        "x-ms-if-sequence-number-lt": "5",
        "x-ms-page-write": "clear",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D706F2467B5DE8\u0022",
        "Last-Modified": "Fri, 12 Jul 2019 17:56:33 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-dd978b8f-6ad4-fd2b-d911-0cea1a6b060d/test-blob-14e9b5b0-12f6-1983-406a-bfb43a46b52a?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 12 Jul 2019 17:56:33 GMT",
        "x-ms-if-sequence-number-le": "3",
        "x-ms-page-write": "clear",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D706F246854B6B\u0022",
        "Last-Modified": "Fri, 12 Jul 2019 17:56:33 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-a2b3a95c-500c-f9a9-0b46-5f102151ccef/test-blob-d7d88bde-cf40-dd1e-d7b7-bf38751a30de?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 12 Jul 2019 17:56:33 GMT",
        "x-ms-if-sequence-number-eq": "0",
        "x-ms-page-write": "clear",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D706F2468E4E44\u0022",
        "Last-Modified": "Fri, 12 Jul 2019 17:56:33 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-a2b3a95c-500c-f9a9-0b46-5f102151ccef?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 12 Jul 2019 17:56:33 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2019-07-12T10:56:32.6829393-07:00",
    "RandomSeed": "292924582",
    "Storage_TestConfigDefault": "ProductionTenant\nstorageteglazatesting\nU2FuaXRpemVk\nhttp://storageteglazatesting.blob.core.windows.net\nhttp://storageteglazatesting.file.core.windows.net\nhttp://storageteglazatesting.queue.core.windows.net\nhttp://storageteglazatesting.table.core.windows.net\n\n\n\n\nhttp://storageteglazatesting-secondary.blob.core.windows.net\n\nhttp://storageteglazatesting-secondary.queue.core.windows.net\nhttp://storageteglazatesting-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://storageteglazatesting.blob.core.windows.net/;QueueEndpoint=http://storageteglazatesting.queue.core.windows.net/;TableEndpoint=http://storageteglazatesting.table.core.windows.net/;FileEndpoint=http://storageteglazatesting.file.core.windows.net/;BlobSecondaryEndpoint=http://storageteglazatesting-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://storageteglazatesting-secondary.queue.core.windows.net/;TableSecondaryEndpoint=http://storageteglazatesting-secondary.table.core.windows.net/;AccountName=storageteglazatesting;AccountKey=Sanitized"
  }
}