{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-4b98bdb2-7510-333e-c7fd-96a85aae2af5?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 17 Feb 2021 19:00:40 GMT"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D376521C5E48\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 19:00:41 GMT"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-4b98bdb2-7510-333e-c7fd-96a85aae2af5/test-blob-41d65d07-25f3-28ec-96d8-83683e5bb31b",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-cache-control": "control",
        "x-ms-blob-content-disposition": "disposition",
        "x-ms-blob-content-encoding": "encoding",
        "x-ms-blob-content-language": "language",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-content-md5": "c\u002BpLvAU7g2GyoN1caMtn6Q==",
        "x-ms-blob-content-type": "type",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Wed, 17 Feb 2021 19:00:41 GMT"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D376522670CA\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 19:00:41 GMT",
        "x-ms-request-server-encrypted": "true",
         "x-ms-version": "2020-08-04",
        "x-ms-version-id": "2021-02-17T19:00:41.0777802Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-4b98bdb2-7510-333e-c7fd-96a85aae2af5/test-blob-41d65d07-25f3-28ec-96d8-83683e5bb31b",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 19:00:41 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "disposition",
        "Content-Language": "language",
        "Content-MD5": "c\u002BpLvAU7g2GyoN1caMtn6Q==",
        "Content-Type": "type",
        "ETag": "\u00220x8D8D376522670CA\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 19:00:41 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Wed, 17 Feb 2021 19:00:41 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
         "x-ms-version": "2020-08-04",
        "x-ms-version-id": "2021-02-17T19:00:41.0777802Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-4b98bdb2-7510-333e-c7fd-96a85aae2af5?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 19:00:41 GMT"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1490327889",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\nseanscope1"
  }
}