{
    "Entries": [
        {
            "RequestUri": "http://md-58xxscnapsn4prde16j.blob.preprod.core.windows.net/test-container-045bc1ed-37e6-4cce-d9b1-c194e9a78a1b?restype=container",
            "RequestMethod": "PUT",
            "RequestHeaders": {
                "Authorization": "Sanitized",
                "x-ms-blob-public-access": "container",
                "x-ms-date": "Mon, 13 Jul 2020 19:24:17 GMT",
                "x-ms-version": "2020-04-08"
            },
            "RequestBody": null,
            "StatusCode": 201,
            "ResponseHeaders": {
                "ETag": "\u00220x8D8276256B209D1\u0022",
                "Last-Modified": "Mon, 13 Jul 2020 19:24:18 GMT",
                "x-ms-version": "2020-04-08"
            },
            "ResponseBody": []
        },
        {
            "RequestUri": "http://md-58xxscnapsn4prde16j.blob.preprod.core.windows.net/test-container-045bc1ed-37e6-4cce-d9b1-c194e9a78a1b/test-blob-498c8955-1f32-7659-194a-22c41393bdce",
            "RequestMethod": "PUT",
            "RequestHeaders": {
                "Authorization": "Sanitized",
                "If-None-Match": "*",
                "x-ms-blob-content-length": "4096",
                "x-ms-blob-sequence-number": "0",
                "x-ms-blob-type": "PageBlob",
                "x-ms-date": "Mon, 13 Jul 2020 19:24:17 GMT",
                "x-ms-version": "2020-04-08"
            },
            "RequestBody": null,
            "StatusCode": 201,
            "ResponseHeaders": {
                "ETag": "\u00220x8D8276256BA7CF0\u0022",
                "Last-Modified": "Mon, 13 Jul 2020 19:24:18 GMT",
                "x-ms-request-server-encrypted": "true",
                "x-ms-version": "2020-04-08"
            },
            "ResponseBody": []
        },
        {
            "RequestUri": "http://md-58xxscnapsn4prde16j.blob.preprod.core.windows.net/test-container-045bc1ed-37e6-4cce-d9b1-c194e9a78a1b/test-blob-498c8955-1f32-7659-194a-22c41393bdce?comp=page",
            "RequestMethod": "PUT",
            "RequestHeaders": {
                "Authorization": "Sanitized",
                "x-ms-date": "Mon, 13 Jul 2020 19:24:17 GMT",
                "x-ms-page-write": "update",
                "x-ms-range": "bytes=0-1023",
                "x-ms-version": "2020-04-08"
            },
            "RequestBody": "2IxAEUzoUaxiOKbZhdhcGnkh8ySuuE9mzrNAl\u002BF\u002BOnj24KeNvr\u002B06J04o0ZZhVtO8K0v9zU\u002BCiA92kKZp7rL5P0u46Uxzlu6bQuGdhQJDUlY8aYzTkNDt9WGUOR9G0DjbL9IK6K1HSJSdYopt5QMM8z5QLUTmJW66izPqn12PFLLowlVweGnotOE4di5Gf9Aeh0Xg9qKz9QpjUB15nOk2zg3XhOKtnLrUp7hj7a8AdEsji9gXrl4QNQ1KzOgMbxg4AWggbrrtsSqLDE7qEAdbIxvSVdERH1/vx4/VIo/SiHiga\u002BxHH8WQNhrtjGHPJeUGL6mMedkG5uIIMGcrGE5auIQWSeRbFAMWAl\u002B2Y1L94OGq[...]
        {
            "RequestUri": "http://md-58xxscnapsn4prde16j.blob.preprod.core.windows.net/test-container-045bc1ed-37e6-4cce-d9b1-c194e9a78a1b/test-blob-498c8955-1f32-7659-194a-22c41393bdce?comp=snapshot",
            "RequestMethod": "PUT",
            "RequestHeaders": {
                "Authorization": "Sanitized",
                "x-ms-date": "Mon, 13 Jul 2020 19:24:17 GMT",
                "x-ms-version": "2020-04-08"
            },
            "RequestBody": null,
            "StatusCode": 201,
            "ResponseHeaders": {
                "ETag": "\u00220x8D8276256C309FD\u0022",
                "Last-Modified": "Mon, 13 Jul 2020 19:24:18 GMT",
                "x-ms-request-server-encrypted": "false",
                "x-ms-snapshot": "2020-07-13T19:24:18.9376508Z",
                "x-ms-version": "2020-04-08"
            },
            "ResponseBody": []
        },
[...]
        {
            "RequestUri": "http://md-58xxscnapsn4prde16j.blob.preprod.core.windows.net/test-container-045bc1ed-37e6-4cce-d9b1-c194e9a78a1b/test-blob-498c8955-1f32-7659-194a-22c41393bdce?comp=pagelist",
            "RequestMethod": "GET",
            "RequestHeaders": {
                "Authorization": "Sanitized",
                "If-Modified-Since": "Tue, 14 Jul 2020 19:24:17 GMT",
                "x-ms-date": "Mon, 13 Jul 2020 19:24:18 GMT",
                "x-ms-previous-snapshot-url": "http://md-58xxscnapsn4prde16j.blob.preprod.core.windows.net/test-container-045bc1ed-37e6-4cce-d9b1-c194e9a78a1b/test-blob-498c8955-1f32-7659-194a-22c41393bdce?snapshot=2020-07-13T19:24:18.9376508Z",
                "x-ms-range": "bytes=0-1023",
                "x-ms-version": "2020-04-08"
            },
            "RequestBody": null,
            "StatusCode": 304,
            "ResponseHeaders": {
                "x-ms-error-code": "ConditionNotMet",
                "x-ms-version": "2020-04-08"
            },
            "ResponseBody": []
        },
[...]
        {
            "RequestUri": "http://md-58xxscnapsn4prde16j.blob.preprod.core.windows.net/test-container-ab8faaf8-094f-f5c8-d71c-ad1f9a25f94a/test-blob-85ce67ad-9988-f08e-af78-22c8614e3028?comp=pagelist",
            "RequestMethod": "GET",
            "RequestHeaders": {
                "Authorization": "Sanitized",
                "If-Unmodified-Since": "Sun, 12 Jul 2020 19:24:17 GMT",
                "x-ms-date": "Mon, 13 Jul 2020 19:24:18 GMT",
                "x-ms-previous-snapshot-url": "http://md-58xxscnapsn4prde16j.blob.preprod.core.windows.net/test-container-ab8faaf8-094f-f5c8-d71c-ad1f9a25f94a/test-blob-85ce67ad-9988-f08e-af78-22c8614e3028?snapshot=2020-07-13T19:24:19.3259286Z",
                "x-ms-range": "bytes=0-1023",
                "x-ms-version": "2020-04-08"
            },
            "RequestBody": null,
            "StatusCode": 412,
            "ResponseHeaders": {
                "Content-Type": "application/xml",
                "x-ms-error-code": "ConditionNotMet",
                "x-ms-version": "2020-04-08"
            },
            "ResponseBody": [
                "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\n",
                "\u003CError\u003E\u003CCode\u003EConditionNotMet\u003C/Code\u003E\u003CMessage\u003EThe condition specified using HTTP conditional header(s) is not met.\n",
                "RequestId:8e2bcf6f-901e-0007-624b-599724000000\n",
                "Time:2020-07-13T19:24:19.4336675Z\u003C/Message\u003E\u003C/Error\u003E"
            ]
        },
[...]
        {
            "RequestUri": "http://md-58xxscnapsn4prde16j.blob.preprod.core.windows.net/test-container-64c08588-f51a-1c2b-769c-b4ba8868e24c/test-blob-41c28a98-7b15-9c91-d735-41a5dcb86251?comp=pagelist",
            "RequestMethod": "GET",
            "RequestHeaders": {
                "Authorization": "Sanitized",
                "If-Match": "\u0022garbage\u0022",
                "x-ms-date": "Mon, 13 Jul 2020 19:24:18 GMT",
                "x-ms-previous-snapshot-url": "http://md-58xxscnapsn4prde16j.blob.preprod.core.windows.net/test-container-64c08588-f51a-1c2b-769c-b4ba8868e24c/test-blob-41c28a98-7b15-9c91-d735-41a5dcb86251?snapshot=2020-07-13T19:24:19.7122030Z",
                "x-ms-range": "bytes=0-1023",
                "x-ms-version": "2020-04-08"
            },
            "RequestBody": null,
            "StatusCode": 412,
            "ResponseHeaders": {
                "Content-Type": "application/xml",
                "x-ms-error-code": "ConditionNotMet",
                "x-ms-version": "2020-04-08"
            },
            "ResponseBody": [
                "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\n",
                "\u003CError\u003E\u003CCode\u003EConditionNotMet\u003C/Code\u003E\u003CMessage\u003EThe condition specified using HTTP conditional header(s) is not met.\n",
                "RequestId:8e2bcf7d-901e-0007-6e4b-599724000000\n",
                "Time:2020-07-13T19:24:19.8189422Z\u003C/Message\u003E\u003C/Error\u003E"
            ]
        },
[...]
        {
            "RequestUri": "http://md-58xxscnapsn4prde16j.blob.preprod.core.windows.net/test-container-73f624cd-a0bd-eebd-53d5-d9d77729f681/test-blob-3955df61-1b32-de96-3786-11db40ab7db2",
            "RequestMethod": "HEAD",
            "RequestHeaders": {
                "Authorization": "Sanitized",
                "x-ms-date": "Mon, 13 Jul 2020 19:24:19 GMT",
                "x-ms-version": "2020-04-08"
            },
            "RequestBody": null,
            "StatusCode": 200,
            "ResponseHeaders": {
                "Content-Type": "application/octet-stream",
                "ETag": "\u00220x8D8276257851DD3\u0022",
                "Last-Modified": "Mon, 13 Jul 2020 19:24:20 GMT",
                "x-ms-blob-sequence-number": "0",
                "x-ms-blob-type": "PageBlob",
                "x-ms-creation-time": "Mon, 13 Jul 2020 19:24:19 GMT",
                "x-ms-lease-state": "available",
                "x-ms-lease-status": "unlocked",
                "x-ms-server-encrypted": "true",
                "x-ms-version": "2020-04-08"
            },
            "ResponseBody": []
        },
[...]
        {
            "RequestUri": "http://md-58xxscnapsn4prde16j.blob.preprod.core.windows.net/test-container-059f5904-f30e-6254-f755-7df319d795ac/test-blob-dda7acf7-552e-3637-ea72-c85ebd277f55?comp=lease",
            "RequestMethod": "PUT",
            "RequestHeaders": {
                "Authorization": "Sanitized",
                "x-ms-date": "Mon, 13 Jul 2020 19:24:19 GMT",
                "x-ms-lease-action": "acquire",
                "x-ms-lease-duration": "-1",
                "x-ms-proposed-lease-id": "5be186a3-3f2a-e0f4-bc92-4d58b3cf3ae6",
                "x-ms-version": "2020-04-08"
            },
            "RequestBody": null,
            "StatusCode": 201,
            "ResponseHeaders": {
                "ETag": "\u00220x8D8276257C7D85B\u0022",
                "Last-Modified": "Mon, 13 Jul 2020 19:24:20 GMT",
                "x-ms-lease-id": "5be186a3-3f2a-e0f4-bc92-4d58b3cf3ae6",
                "x-ms-version": "2020-04-08"
            },
            "ResponseBody": []
        },
[...]
        {
            "RequestUri": "http://md-58xxscnapsn4prde16j.blob.preprod.core.windows.net/test-container-059f5904-f30e-6254-f755-7df319d795ac?restype=container",
            "RequestMethod": "DELETE",
            "RequestHeaders": {
                "Authorization": "Sanitized",
                "x-ms-date": "Mon, 13 Jul 2020 19:24:19 GMT",
                "x-ms-version": "2020-04-08"
            },
            "RequestBody": null,
            "StatusCode": 202,
            "ResponseHeaders": {
                "x-ms-version": "2020-04-08"
            },
            "ResponseBody": []
        }
    ],
    "Variables": {
        "DateTimeOffsetNow": "2020-07-13T14:24:17.8002166-05:00",
        "RandomSeed": "1840928999",
        "Storage_TestConfigManagedDisk": "ManagedDiskTenant\nmd-58xxscnapsn4prde16j\nU2FuaXRpemVk\nhttp://md-58xxscnapsn4prde16j.blob.preprod.core.windows.net\nhttp://md-58xxscnapsn4prde16j.file.preprod.core.windows.net\nhttp://md-58xxscnapsn4prde16j.queue.preprod.core.windows.net\nhttp://md-58xxscnapsn4prde16j.table.preprod.core.windows.net\n\n\n\n\nhttp://md-58xxscnapsn4prde16j-secondary.blob.preprod.core.windows.net\nhttp://md-58xxscnapsn4prde16j-secondary.file.preprod.core.windows.net\nhttp://md-58xxscnapsn4prde16j-secondary.queue.preprod.core.windows.net\nhttp://md-58xxscnapsn4prde16j-secondary.table.preprod.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://md-58xxscnapsn4prde16j.blob.preprod.core.windows.net/;QueueEndpoint=http://md-58xxscnapsn4prde16j.queue.preprod.core.windows.net/;FileEndpoint=http://md-58xxscnapsn4prde16j.file.preprod.core.windows.net/;BlobSecondaryEndpoint=http://md-58xxscnapsn4prde16j-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=http://md-58xxscnapsn4prde16j-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=http://md-58xxscnapsn4prde16j-secondary.file.preprod.core.windows.net/;AccountName=md-58xxscnapsn4prde16j;AccountKey=Sanitized\n"
    }
}
