{
    "Entries": [
        {
            "RequestUri": "http://md-58xxscnapsn4prde16j.blob.preprod.core.windows.net/test-container-587b3366-4c13-69e3-779f-f9e24d7b3254?restype=container",
            "RequestMethod": "PUT",
            "RequestHeaders": {
                "Authorization": "Sanitized",
                "x-ms-blob-public-access": "container",
                "x-ms-date": "Mon, 13 Jul 2020 19:24:19 GMT",
                "x-ms-version": "2020-04-08"
            },
            "RequestBody": null,
            "StatusCode": 201,
            "ResponseHeaders": {
                "ETag": "\u00220x8D8276257E9B140\u0022",
                "Last-Modified": "Mon, 13 Jul 2020 19:24:20 GMT",
                "x-ms-version": "2020-04-08"
            },
            "ResponseBody": []
        },
        {
            "RequestUri": "http://md-58xxscnapsn4prde16j.blob.preprod.core.windows.net/test-container-587b3366-4c13-69e3-779f-f9e24d7b3254/test-blob-c2e9a9be-e1b9-cce0-131b-11b7d4e81ca3",
            "RequestMethod": "PUT",
            "RequestHeaders": {
                "Authorization": "Sanitized",
                "If-None-Match": "*",
                "x-ms-blob-content-length": "4096",
                "x-ms-blob-sequence-number": "0",
                "x-ms-blob-type": "PageBlob",
                "x-ms-date": "Mon, 13 Jul 2020 19:24:19 GMT",
                "x-ms-version": "2020-04-08"
            },
            "RequestBody": null,
            "StatusCode": 201,
            "ResponseHeaders": {
                "ETag": "\u00220x8D8276257F2246D\u0022",
                "Last-Modified": "Mon, 13 Jul 2020 19:24:20 GMT",
                "x-ms-request-server-encrypted": "true",
                "x-ms-version": "2020-04-08"
            },
            "ResponseBody": []
        },
        {
            "RequestUri": "http://md-58xxscnapsn4prde16j.blob.preprod.core.windows.net/test-container-587b3366-4c13-69e3-779f-f9e24d7b3254/test-blob-c2e9a9be-e1b9-cce0-131b-11b7d4e81ca3?comp=pagelist",
            "RequestMethod": "GET",
            "RequestHeaders": {
                "Authorization": "Sanitized",
                "x-ms-date": "Mon, 13 Jul 2020 19:24:19 GMT",
                "x-ms-range": "bytes=5120-9215",
                "x-ms-version": "2020-04-08"
            },
            "RequestBody": null,
            "StatusCode": 416,
            "ResponseHeaders": {
                "Content-Type": "application/xml",
                "x-ms-error-code": "InvalidRange",
                "x-ms-version": "2020-04-08"
            },
            "ResponseBody": [
                "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\n",
                "\u003CError\u003E\u003CCode\u003EInvalidRange\u003C/Code\u003E\u003CMessage\u003EThe range specified is invalid for the current size of the resource.\n",
                "RequestId:8e2bcfa2-901e-0007-114b-599724000000\n",
                "Time:2020-07-13T19:24:20.9257311Z\u003C/Message\u003E\u003C/Error\u003E"
            ]
        },
        {
            "RequestUri": "http://md-58xxscnapsn4prde16j.blob.preprod.core.windows.net/test-container-587b3366-4c13-69e3-779f-f9e24d7b3254?restype=container",
            "RequestMethod": "DELETE",
            "RequestHeaders": {
                "Authorization": "Sanitized",
                "x-ms-date": "Mon, 13 Jul 2020 19:24:20 GMT",
                "x-ms-version": "2020-04-08"
            },
            "RequestBody": null,
            "StatusCode": 202,
            "ResponseHeaders": {
                "x-ms-version": "2020-04-08"
            },
            "ResponseBody": []
        }
    ],
    "Variables": {
        "RandomSeed": "1204550856",
        "Storage_TestConfigManagedDisk": "ManagedDiskTenant\nmd-58xxscnapsn4prde16j\nU2FuaXRpemVk\nhttp://md-58xxscnapsn4prde16j.blob.preprod.core.windows.net\nhttp://md-58xxscnapsn4prde16j.file.preprod.core.windows.net\nhttp://md-58xxscnapsn4prde16j.queue.preprod.core.windows.net\nhttp://md-58xxscnapsn4prde16j.table.preprod.core.windows.net\n\n\n\n\nhttp://md-58xxscnapsn4prde16j-secondary.blob.preprod.core.windows.net\nhttp://md-58xxscnapsn4prde16j-secondary.file.preprod.core.windows.net\nhttp://md-58xxscnapsn4prde16j-secondary.queue.preprod.core.windows.net\nhttp://md-58xxscnapsn4prde16j-secondary.table.preprod.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://md-58xxscnapsn4prde16j.blob.preprod.core.windows.net/;QueueEndpoint=http://md-58xxscnapsn4prde16j.queue.preprod.core.windows.net/;FileEndpoint=http://md-58xxscnapsn4prde16j.file.preprod.core.windows.net/;BlobSecondaryEndpoint=http://md-58xxscnapsn4prde16j-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=http://md-58xxscnapsn4prde16j-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=http://md-58xxscnapsn4prde16j-secondary.file.preprod.core.windows.net/;AccountName=md-58xxscnapsn4prde16j;AccountKey=Sanitized\n"
    }
}
