{
  "Entries": [
    {
      "RequestUri": "http://md-58xxscnapsn4prde16j.blob.preprod.core.windows.net/test-container-56925430-b0cb-36b4-2b1a-5a3cf7c1f245?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 19 Dec 2019 01:23:40 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D78422149B250C\u0022",
        "Last-Modified": "Thu, 19 Dec 2019 01:23:40 GMT",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://md-58xxscnapsn4prde16j.blob.preprod.core.windows.net/test-container-56925430-b0cb-36b4-2b1a-5a3cf7c1f245/test-blob-9ab309e0-8684-44fd-6683-38cc1895375f",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "4096",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Thu, 19 Dec 2019 01:23:40 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7842214A3D877\u0022",
        "Last-Modified": "Thu, 19 Dec 2019 01:23:40 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://md-58xxscnapsn4prde16j.blob.preprod.core.windows.net/test-container-56925430-b0cb-36b4-2b1a-5a3cf7c1f245/test-blob-9ab309e0-8684-44fd-6683-38cc1895375f?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 19 Dec 2019 01:23:40 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": "rOI6qRg1efrlB1Agu0SaM1T/LUBWQUaDl\u002BNaED\u002BEi2xnYgzH\u002BIQgaV5EEBCufi2Lm3JKH6\u002B7EWqbtxI022i6YHvkuFg30zrP3sTiETA11Bi1z3XMOmy8q1ChK0Fy6431iq\u002BUysXUU8c4ekDq2QA6ZeL5fwzy7SYPJw0Ilqj5XfM37IeAoQpS4HuulL8r0tJQZ8VeeGyBA5yJhaO4zL0fPh1Ns\u002Bx5usTXpp6QRFhn5FQ6ty7im\u002BSGtenq9xtnmhO\u002Bj1ah3R/m160BhtLO8b5EIaBOfhWOPKM5x/0Cj8KocAyK0bUCxgc1VOCB4RQSuMMqpdV7GRv\u002BMFKzZxYh40jqWBbFQyAJQVuZGCo0DFuOJw461\u002[...]
    {
      "RequestUri": "http://md-58xxscnapsn4prde16j.blob.preprod.core.windows.net/test-container-56925430-b0cb-36b4-2b1a-5a3cf7c1f245/test-blob-9ab309e0-8684-44fd-6683-38cc1895375f?comp=snapshot",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 19 Dec 2019 01:23:40 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7842214AC3E79\u0022",
        "Last-Modified": "Thu, 19 Dec 2019 01:23:40 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-snapshot": "2019-12-19T01:23:40.7351927Z",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://md-58xxscnapsn4prde16j.blob.preprod.core.windows.net/test-container-56925430-b0cb-36b4-2b1a-5a3cf7c1f245/test-blob-9ab309e0-8684-44fd-6683-38cc1895375f?comp=pagelist",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Modified-Since": "Fri, 20 Dec 2019 01:23:40 GMT",
        "x-ms-date": "Thu, 19 Dec 2019 01:23:40 GMT",
        "x-ms-previous-snapshot-url": "http://md-58xxscnapsn4prde16j.blob.preprod.core.windows.net/test-container-56925430-b0cb-36b4-2b1a-5a3cf7c1f245/test-blob-9ab309e0-8684-44fd-6683-38cc1895375f?snapshot=2019-12-19T01:23:40.7351927Z",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 304,
      "ResponseHeaders": {
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://md-58xxscnapsn4prde16j.blob.preprod.core.windows.net/test-container-f46a60cd-d208-9bc5-0378-0ce06d1f9a88/test-blob-0cb57eda-be93-1710-dcb1-f6a8c862438c?comp=pagelist",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Unmodified-Since": "Wed, 18 Dec 2019 01:23:40 GMT",
        "x-ms-date": "Thu, 19 Dec 2019 01:23:41 GMT",
        "x-ms-previous-snapshot-url": "http://md-58xxscnapsn4prde16j.blob.preprod.core.windows.net/test-container-f46a60cd-d208-9bc5-0378-0ce06d1f9a88/test-blob-0cb57eda-be93-1710-dcb1-f6a8c862438c?snapshot=2019-12-19T01:23:41.1194705Z",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\n",
        "\u003CError\u003E\u003CCode\u003EConditionNotMet\u003C/Code\u003E\u003CMessage\u003EThe condition specified using HTTP conditional header(s) is not met.\n",
        "RequestId:afc7c7da-901e-000c-5b0a-b68f50000000\n",
        "Time:2019-12-19T01:23:41.2255580Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
[...]
    {
      "RequestUri": "http://md-58xxscnapsn4prde16j.blob.preprod.core.windows.net/test-container-0851466c-2e99-91e7-b117-e90a85428ddd/test-blob-54e8d97a-9d9b-de35-0d48-78de832cb65c?comp=pagelist",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u0022garbage\u0022",
        "x-ms-date": "Thu, 19 Dec 2019 01:23:44 GMT",
        "x-ms-previous-snapshot-url": "http://md-58xxscnapsn4prde16j.blob.preprod.core.windows.net/test-container-0851466c-2e99-91e7-b117-e90a85428ddd/test-blob-54e8d97a-9d9b-de35-0d48-78de832cb65c?snapshot=2019-12-19T01:23:43.8814681Z",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\n",
        "\u003CError\u003E\u003CCode\u003EConditionNotMet\u003C/Code\u003E\u003CMessage\u003EThe condition specified using HTTP conditional header(s) is not met.\n",
        "RequestId:afc7c839-901e-000c-110a-b68f50000000\n",
        "Time:2019-12-19T01:23:43.9875232Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
[...]
    {
      "RequestUri": "http://md-58xxscnapsn4prde16j.blob.preprod.core.windows.net/test-container-b57c3f78-664f-4953-621a-b4d92aa27d63/test-blob-41ce92c7-7e8b-c84c-20d0-c74ba8034264",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 19 Dec 2019 01:23:44 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D7842216D72650\u0022",
        "Last-Modified": "Thu, 19 Dec 2019 01:23:44 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Thu, 19 Dec 2019 01:23:44 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://md-58xxscnapsn4prde16j.blob.preprod.core.windows.net/test-container-b57c3f78-664f-4953-621a-b4d92aa27d63/test-blob-41ce92c7-7e8b-c84c-20d0-c74ba8034264?comp=pagelist",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "\u00220x8D7842216D72650\u0022",
        "x-ms-date": "Thu, 19 Dec 2019 01:23:44 GMT",
        "x-ms-previous-snapshot-url": "http://md-58xxscnapsn4prde16j.blob.preprod.core.windows.net/test-container-b57c3f78-664f-4953-621a-b4d92aa27d63/test-blob-41ce92c7-7e8b-c84c-20d0-c74ba8034264?snapshot=2019-12-19T01:23:44.2627429Z",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 304,
      "ResponseHeaders": {
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://md-58xxscnapsn4prde16j.blob.preprod.core.windows.net/test-container-ad7307fe-f9df-4b5a-b69a-91da5ca23073/test-blob-2c1b37fa-0530-3eaa-3a8a-e56777e56756?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 19 Dec 2019 01:23:44 GMT",
        "x-ms-lease-action": "acquire",
        "x-ms-lease-duration": "-1",
        "x-ms-proposed-lease-id": "513da9c3-fe6c-c564-d65c-01dade64fcad",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D78422171992C8\u0022",
        "Last-Modified": "Thu, 19 Dec 2019 01:23:44 GMT",
        "x-ms-lease-id": "513da9c3-fe6c-c564-d65c-01dade64fcad",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://md-58xxscnapsn4prde16j.blob.preprod.core.windows.net/test-container-ad7307fe-f9df-4b5a-b69a-91da5ca23073?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 19 Dec 2019 01:23:44 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2019-12-18T17:23:40.5764553-08:00",
    "RandomSeed": "1773654531",
    "Storage_TestConfigManagedDisk": "ManagedDiskTenant\nmd-58xxscnapsn4prde16j\nU2FuaXRpemVk\nhttp://md-58xxscnapsn4prde16j.blob.preprod.core.windows.net\nhttp://md-58xxscnapsn4prde16j.file.preprod.core.windows.net\nhttp://md-58xxscnapsn4prde16j.queue.preprod.core.windows.net\nhttp://md-58xxscnapsn4prde16j.table.preprod.core.windows.net\n\n\n\n\nhttp://md-58xxscnapsn4prde16j-secondary.blob.preprod.core.windows.net\nhttp://md-58xxscnapsn4prde16j-secondary.file.preprod.core.windows.net\nhttp://md-58xxscnapsn4prde16j-secondary.queue.preprod.core.windows.net\nhttp://md-58xxscnapsn4prde16j-secondary.table.preprod.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://md-58xxscnapsn4prde16j.blob.preprod.core.windows.net/;QueueEndpoint=http://md-58xxscnapsn4prde16j.queue.preprod.core.windows.net/;FileEndpoint=http://md-58xxscnapsn4prde16j.file.preprod.core.windows.net/;BlobSecondaryEndpoint=http://md-58xxscnapsn4prde16j-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=http://md-58xxscnapsn4prde16j-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=http://md-58xxscnapsn4prde16j-secondary.file.preprod.core.windows.net/;AccountName=md-58xxscnapsn4prde16j;AccountKey=Sanitized\n"
  }
}