{
  "Entries": [
    {
      "RequestUri": "http://md-58xxscnapsn4prde16j.blob.preprod.core.windows.net/test-container-5ae73eec-6725-94ee-5462-735b8374662e?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 13 Jul 2020 19:24:14 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8276254AEFE05\u0022",
        "Last-Modified": "Mon, 13 Jul 2020 19:24:15 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://md-58xxscnapsn4prde16j.blob.preprod.core.windows.net/test-container-5ae73eec-6725-94ee-5462-735b8374662e/test-\u03B2\u00A3\u00A9\u00FE\u203D%253A-a8dbc458-06f3-d171-fc98-73e25e47a191",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "4096",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Mon, 13 Jul 2020 19:24:14 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8276254B7E623\u0022",
        "Last-Modified": "Mon, 13 Jul 2020 19:24:15 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://md-58xxscnapsn4prde16j.blob.preprod.core.windows.net/test-container-5ae73eec-6725-94ee-5462-735b8374662e/test-\u03B2\u00A3\u00A9\u00FE\u203D%253A-a8dbc458-06f3-d171-fc98-73e25e47a191?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 13 Jul 2020 19:24:14 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": "npu7o57VCj/j6pSobKXk8idhiRj3c6pB9RcXzcYqMAwUrSxRTsx0gzsPSvynnLJXBWCOX30d9Cvwea2GvTx4ubmIlL54k6Na7Qbd6CiumVllwMhmnNCP9rkBYNUe7cX\u002BlpFCHwj03nG9M3J3PwwDQuBUIf10Eh3p\u002BZ0FdzLOPP9A31GXa3lRcOFWqWldGLas/R30yszIiYRzWSZq72c/7/dzNmC7bNdmA7AbHWm0i\u002BHmWHkV2XEzd1XNIxFT5oF6F7px6uFW8ZFGjcYcrWwbv85Fg5btKhWFQL4K7UjFEx0uoQWuQqD/kGfozkurFsrpsWNDDWLqje2k7KoiSwNIgHqp7QtmbH0tRvMvBFvJ2Sn0ITvlgga6QxQYCVX23ERjn07RAim\u002Bg0X[...]
    {
      "RequestUri": "http://md-58xxscnapsn4prde16j.blob.preprod.core.windows.net/test-container-5ae73eec-6725-94ee-5462-735b8374662e/test-\u03B2\u00A3\u00A9\u00FE\u203D%253A-a8dbc458-06f3-d171-fc98-73e25e47a191?comp=snapshot",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 13 Jul 2020 19:24:14 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8276254C04C15\u0022",
        "Last-Modified": "Mon, 13 Jul 2020 19:24:15 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-snapshot": "2020-07-13T19:24:15.5642380Z",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://md-58xxscnapsn4prde16j.blob.preprod.core.windows.net/test-container-5ae73eec-6725-94ee-5462-735b8374662e/test-\u03B2\u00A3\u00A9\u00FE\u203D%253A-a8dbc458-06f3-d171-fc98-73e25e47a191?comp=pagelist\u0026snapshot=2020-07-13T19%3A24%3A15.6753169Z",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 13 Jul 2020 19:24:14 GMT",
        "x-ms-previous-snapshot-url": "http://md-58xxscnapsn4prde16j.blob.preprod.core.windows.net/test-container-5ae73eec-6725-94ee-5462-735b8374662e/test-%CE%B2%C2%A3%C2%A9%C3%BE%E2%80%BD%253A-a8dbc458-06f3-d171-fc98-73e25e47a191?snapshot=2020-07-13T19:24:15.5642380Z",
        "x-ms-range": "bytes=0-4095",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "ETag": "\u00220x8D8276254D117FF\u0022",
        "Last-Modified": "Mon, 13 Jul 2020 19:24:15 GMT",
        "x-ms-blob-content-length": "4096",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\n",
        "\u003CPageList\u003E\u003CPageRange\u003E\u003CStart\u003E2048\u003C/Start\u003E\u003CEnd\u003E3071\u003C/End\u003E\u003C/PageRange\u003E\u003C/PageList\u003E"
      ]
    },
    {
      "RequestUri": "http://md-58xxscnapsn4prde16j.blob.preprod.core.windows.net/test-container-5ae73eec-6725-94ee-5462-735b8374662e?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 13 Jul 2020 19:24:14 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1489156069",
    "Storage_TestConfigManagedDisk": "ManagedDiskTenant\nmd-58xxscnapsn4prde16j\nU2FuaXRpemVk\nhttp://md-58xxscnapsn4prde16j.blob.preprod.core.windows.net\nhttp://md-58xxscnapsn4prde16j.file.preprod.core.windows.net\nhttp://md-58xxscnapsn4prde16j.queue.preprod.core.windows.net\nhttp://md-58xxscnapsn4prde16j.table.preprod.core.windows.net\n\n\n\n\nhttp://md-58xxscnapsn4prde16j-secondary.blob.preprod.core.windows.net\nhttp://md-58xxscnapsn4prde16j-secondary.file.preprod.core.windows.net\nhttp://md-58xxscnapsn4prde16j-secondary.queue.preprod.core.windows.net\nhttp://md-58xxscnapsn4prde16j-secondary.table.preprod.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://md-58xxscnapsn4prde16j.blob.preprod.core.windows.net/;QueueEndpoint=http://md-58xxscnapsn4prde16j.queue.preprod.core.windows.net/;FileEndpoint=http://md-58xxscnapsn4prde16j.file.preprod.core.windows.net/;BlobSecondaryEndpoint=http://md-58xxscnapsn4prde16j-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=http://md-58xxscnapsn4prde16j-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=http://md-58xxscnapsn4prde16j-secondary.file.preprod.core.windows.net/;AccountName=md-58xxscnapsn4prde16j;AccountKey=Sanitized\n"
  }
}