{
  "Entries": [
    {
      "RequestUri": "http://md-58xxscnapsn4prde16j.blob.preprod.core.windows.net/test-container-67010e52-fc51-9749-d169-4ae28b98ebbb?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 13 Jul 2020 19:24:14 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8276254F53B9A\u0022",
        "Last-Modified": "Mon, 13 Jul 2020 19:24:15 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://md-58xxscnapsn4prde16j.blob.preprod.core.windows.net/test-container-67010e52-fc51-9749-d169-4ae28b98ebbb/test-blob-5bd23fe9-891e-034b-6914-5d5c93619885",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-content-length": "4096",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Mon, 13 Jul 2020 19:24:14 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8276255015885\u0022",
        "Last-Modified": "Mon, 13 Jul 2020 19:24:15 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://md-58xxscnapsn4prde16j.blob.preprod.core.windows.net/test-container-67010e52-fc51-9749-d169-4ae28b98ebbb/test-blob-5bd23fe9-891e-034b-6914-5d5c93619885?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 13 Jul 2020 19:24:15 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": "ZAfvKngXE53WM7Sm0URAdsPQKdVj1wt2t68TmBQrr32vJ6G7AyYUG6pg6UaXE4NRvb95Hv7zLYz7eXPJA3qIq4M396qjhXOduw0qAu3F36MswdpVsZB\u002Bu/kUv4qySxcv1z7CXxzZrjhM3GPwyCueNpnPnUKfM/ryuDywjsXp6nD1\u002ByqvA3\u002BHUxKiCdQtjvLOdYnw467Vj6REz6fgKCByYvHy\u002Bs0A7zMaSEkv/SolxSpJ4hg8\u002BQfCIGuGajPXpivyMKbjO5MkzYZW1ZtkppJ5Hwp9lkUINmnpMNpieoX/QqEePMyEQYmWJRWR5iNsXnnYDEopWQ/l6vo8\u002BQu4wVMAVpL5RWnF9d6A5nEvdk9GfdFhim061uiSOVLSSEd\u002B[...]
    {
      "RequestUri": "http://md-58xxscnapsn4prde16j.blob.preprod.core.windows.net/test-container-67010e52-fc51-9749-d169-4ae28b98ebbb/test-blob-5bd23fe9-891e-034b-6914-5d5c93619885?comp=snapshot",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 13 Jul 2020 19:24:15 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D827625509E597\u0022",
        "Last-Modified": "Mon, 13 Jul 2020 19:24:15 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-snapshot": "2020-07-13T19:24:16.0475809Z",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://md-58xxscnapsn4prde16j.blob.preprod.core.windows.net/test-container-67010e52-fc51-9749-d169-4ae28b98ebbb/test-blob-5bd23fe9-891e-034b-6914-5d5c93619885?comp=pagelist\u0026snapshot=2020-07-13T19%3A24%3A16.1556577Z",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 13 Jul 2020 19:24:15 GMT",
        "x-ms-previous-snapshot-url": "http://md-58xxscnapsn4prde16j.blob.preprod.core.windows.net/test-container-67010e52-fc51-9749-d169-4ae28b98ebbb/test-blob-5bd23fe9-891e-034b-6914-5d5c93619885?snapshot=2020-07-13T19:24:16.0475809Z",
        "x-ms-range": "bytes=0-4095",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "ETag": "\u00220x8D82762551A8A6A\u0022",
        "Last-Modified": "Mon, 13 Jul 2020 19:24:16 GMT",
        "x-ms-blob-content-length": "4096",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\n",
        "\u003CPageList\u003E\u003CPageRange\u003E\u003CStart\u003E2048\u003C/Start\u003E\u003CEnd\u003E3071\u003C/End\u003E\u003C/PageRange\u003E\u003C/PageList\u003E"
      ]
    },
    {
      "RequestUri": "http://md-58xxscnapsn4prde16j.blob.preprod.core.windows.net/test-container-67010e52-fc51-9749-d169-4ae28b98ebbb?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 13 Jul 2020 19:24:15 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "690507379",
    "Storage_TestConfigManagedDisk": "ManagedDiskTenant\nmd-58xxscnapsn4prde16j\nU2FuaXRpemVk\nhttp://md-58xxscnapsn4prde16j.blob.preprod.core.windows.net\nhttp://md-58xxscnapsn4prde16j.file.preprod.core.windows.net\nhttp://md-58xxscnapsn4prde16j.queue.preprod.core.windows.net\nhttp://md-58xxscnapsn4prde16j.table.preprod.core.windows.net\n\n\n\n\nhttp://md-58xxscnapsn4prde16j-secondary.blob.preprod.core.windows.net\nhttp://md-58xxscnapsn4prde16j-secondary.file.preprod.core.windows.net\nhttp://md-58xxscnapsn4prde16j-secondary.queue.preprod.core.windows.net\nhttp://md-58xxscnapsn4prde16j-secondary.table.preprod.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://md-58xxscnapsn4prde16j.blob.preprod.core.windows.net/;QueueEndpoint=http://md-58xxscnapsn4prde16j.queue.preprod.core.windows.net/;FileEndpoint=http://md-58xxscnapsn4prde16j.file.preprod.core.windows.net/;BlobSecondaryEndpoint=http://md-58xxscnapsn4prde16j-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=http://md-58xxscnapsn4prde16j-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=http://md-58xxscnapsn4prde16j-secondary.file.preprod.core.windows.net/;AccountName=md-58xxscnapsn4prde16j;AccountKey=Sanitized\n"
  }
}
