{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-89e27051-c701-9005-0935-d5c22b7e938f?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 17 Feb 2021 19:03:28 GMT"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D376B5FE4AE2\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 19:03:28 GMT"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-89e27051-c701-9005-0935-d5c22b7e938f/test-blob-40a86d38-f1cd-c7e9-50da-fd233b2545b2",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-content-length": "4096",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Wed, 17 Feb 2021 19:03:28 GMT"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D376B609932B\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 19:03:28 GMT",
        "x-ms-request-server-encrypted": "true",
         "x-ms-version": "2020-08-04",
        "x-ms-version-id": "2021-02-17T19:03:28.6607659Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-89e27051-c701-9005-0935-d5c22b7e938f/test-blob-40a86d38-f1cd-c7e9-50da-fd233b2545b2?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 17 Feb 2021 19:03:28 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023"
      },
      "RequestBody": "7wTPEv8qhogBSbPNg7v041hO0NJ\u002BZwTT3et8gh0kKLbTrT7PnXCvKeEe3GRdx24mJa7w5wdaQYj//DQTrQRq3SH9\u002BdZ9JEbnn6fwYIufdRV9VlxuNECveWy1z6A7nHvds/9CYM6YqQFnCEhfaeH9X4YflVen\u002B6jhToBpx1WmrAIrE6yLXRVH5axbBiv3Tw\u002BLuG8ZGwYjNbdWYBFNLuGrwVxFM1Y0cQJx17CqTPV96v9x3Q/ljJD8CN30NfwD\u002BbbLr0XPsRu4VkdtqERVeOnC2XUS3FDSxTXLSSt5QDwFbd3635ywrTnjuIfHeORMp4/zMVyG8R1l\u002BOkPA2fwPxYLZzpmW5hMEis8LyTJCk1Rf6KbhQ7ffnzAlOayoKnR83hxvBGp5kv2ph8wSsL5m\u002B2cvoTFVLkHK\u002[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-89e27051-c701-9005-0935-d5c22b7e938f/test-blob-40a86d38-f1cd-c7e9-50da-fd233b2545b2?comp=snapshot",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 19:03:28 GMT"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D376B6141C69\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 19:03:28 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-snapshot": "2021-02-17T19:03:28.7968613Z",
         "x-ms-version": "2020-08-04",
        "x-ms-version-id": "2021-02-17T19:03:28.7978613Z"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-89e27051-c701-9005-0935-d5c22b7e938f/test-blob-40a86d38-f1cd-c7e9-50da-fd233b2545b2?comp=pagelist\u0026snapshot=2021-02-17T19%3A03%3A28.9279543Z\u0026prevsnapshot=2021-02-17T19%3A03%3A28.7968613Z",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 19:03:28 GMT",
        "x-ms-if-tags": "\u0022coolTag\u0022 = \u0027true\u0027",
        "x-ms-range": "bytes=0-4095"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ConditionNotMet"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003EConditionNotMet\u003C/Code\u003E\u003CMessage\u003EThe condition specified using HTTP conditional header(s) is not met.\n",
        "RequestId:f030f9aa-d01e-006a-275f-0502ea000000\n",
        "Time:2021-02-17T19:03:29.0021187Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-89e27051-c701-9005-0935-d5c22b7e938f?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 19:03:29 GMT"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1202431156",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\nseanscope1"
  }
}