{
  "Entries": [
    {
      "RequestUri": "https://seanstagetest.blob.core.windows.net/test-container-db278997-d6b1-7c51-5cd5-87dae7af9f47?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 05 Mar 2020 21:22:15 GMT",
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7C14B47202E61\u0022",
        "Last-Modified": "Thu, 05 Mar 2020 21:22:15 GMT",
        "x-ms-version": "2019-10-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanstagetest.blob.core.windows.net/test-container-db278997-d6b1-7c51-5cd5-87dae7af9f47/test-blob-efdd9ad2-2a29-17ad-7eb9-23b1df1a0b97",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "4096",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Thu, 05 Mar 2020 21:22:15 GMT",
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7C14B472D4432\u0022",
        "Last-Modified": "Thu, 05 Mar 2020 21:22:15 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-10-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanstagetest.blob.core.windows.net/test-container-db278997-d6b1-7c51-5cd5-87dae7af9f47/test-blob-efdd9ad2-2a29-17ad-7eb9-23b1df1a0b97?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 05 Mar 2020 21:22:15 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": "feU7gurS\u002Bo/8mKSSu8kUj1MBXlC2NK/dsKZ7Q2Ku27/dhWcesuI3gJTU2VBfREmVFk\u002BbZyxpM0g2XtJDV7YsTrzltDZi9d1xyt674VpefWtd5S0TEnOSdFEe6FMQ8yjep4uTeo8TMyBxKp1OrlHt1\u002BFm5nGIGTxIUkDkQw2KYNa13DrPywPcSbENoufWQ8b/MRBxqg22VY5PSydPLvAS5srGmdEXHgveiZy/e3dUcQ965BH9GbXJ/4esgIDcjBvB\u002B7sdEKr06BMEkyBw9toW\u002BtkX1UneFc0V/JlJa52LAf2A/n\u002B8N2Fkhfz\u002B\u002BIWUWAitlYWnxLfS4ubtCBMQqn11eZEj8PdaWsN3s1BN4B1IgKSRnNYY5D1Grhu[...]
    {
      "RequestUri": "https://seanstagetest.blob.core.windows.net/test-container-db278997-d6b1-7c51-5cd5-87dae7af9f47/test-blob-efdd9ad2-2a29-17ad-7eb9-23b1df1a0b97?comp=snapshot",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 05 Mar 2020 21:22:15 GMT",
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7C14B4739C5A1\u0022",
        "Last-Modified": "Thu, 05 Mar 2020 21:22:15 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-snapshot": "2020-03-05T21:22:15.8751468Z",
        "x-ms-version": "2019-10-10"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seanstagetest.blob.core.windows.net/test-container-db278997-d6b1-7c51-5cd5-87dae7af9f47/test-blob-efdd9ad2-2a29-17ad-7eb9-23b1df1a0b97?comp=pagelist\u0026snapshot=2020-03-05T21%3A22%3A16.0381007Z\u0026prevsnapshot=2020-03-05T21%3A22%3A15.8751468Z",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 05 Mar 2020 21:22:16 GMT",
        "x-ms-range": "bytes=0-4095",
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "ETag": "\u00220x8D7C14B47531A9B\u0022",
        "Last-Modified": "Thu, 05 Mar 2020 21:22:15 GMT",
        "x-ms-blob-content-length": "4096",
        "x-ms-version": "2019-10-10"
      },
      "ResponseBody": "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CPageList\u003E\u003CPageRange\u003E\u003CStart\u003E2048\u003C/Start\u003E\u003CEnd\u003E3071\u003C/End\u003E\u003C/PageRange\u003E\u003C/PageList\u003E"
    },
    {
      "RequestUri": "https://seanstagetest.blob.core.windows.net/test-container-db278997-d6b1-7c51-5cd5-87dae7af9f47?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 05 Mar 2020 21:22:16 GMT",
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-10-10"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "927338647",
    "Storage_TestConfigDefault": "ProductionTenant\nseanstagetest\nU2FuaXRpemVk\nhttps://seanstagetest.blob.core.windows.net\nhttp://seanstagetest.file.core.windows.net\nhttp://seanstagetest.queue.core.windows.net\nhttp://seanstagetest.table.core.windows.net\n\n\n\n\nhttp://seanstagetest-secondary.blob.core.windows.net\nhttp://seanstagetest-secondary.file.core.windows.net\nhttp://seanstagetest-secondary.queue.core.windows.net\nhttp://seanstagetest-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanstagetest.blob.core.windows.net/;QueueEndpoint=http://seanstagetest.queue.core.windows.net/;FileEndpoint=http://seanstagetest.file.core.windows.net/;BlobSecondaryEndpoint=http://seanstagetest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanstagetest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanstagetest-secondary.file.core.windows.net/;AccountName=seanstagetest;AccountKey=Sanitized\nseanscope1"
  }
}