{
  "Entries": [
    {
      "RequestUri": "https://473xscnapby3pev24a.blob.preprod.core.windows.net/test-container-9469a3aa-5bd4-204b-6062-7697940f5dfe?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 23 Mar 2022 19:39:46 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA0D04E352B74A\u0022",
        "Last-Modified": "Wed, 23 Mar 2022 19:39:47 GMT",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://473xscnapby3pev24a.blob.preprod.core.windows.net/test-container-9469a3aa-5bd4-204b-6062-7697940f5dfe/test-blob-0e240d58-010d-b0dc-5293-79e5830bf02b",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-content-length": "4096",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Wed, 23 Mar 2022 19:39:46 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA0D04E35CDDC9\u0022",
        "Last-Modified": "Wed, 23 Mar 2022 19:39:47 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://473xscnapby3pev24a.blob.preprod.core.windows.net/test-container-9469a3aa-5bd4-204b-6062-7697940f5dfe/test-blob-0e240d58-010d-b0dc-5293-79e5830bf02b?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 23 Mar 2022 19:39:46 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": "0n4gxVDoj\u002BzpCfmbwwFfXQVHTAMkzBojm5kiNM3c7cCZPAnS1MjhsfD6OgYeSzpJNUFB5QjU3AVj/Sq3xVofDRw5Aof3jIk9ZpsTKpITBFBf2f6Mmge3xV8Db9adKeuW2izq5UiyUai3BH9twLFzT/naWOxbk3IUgj0n9B2znzyvfVBlKR8HrIdW1JaHSQSujx/dw9H\u002BOke51WILi12LBGRDvUNhDibZ06tlBb7cjTg5eWX\u002B1dtqsUIIq1O8\u002ByEqytAxRIvATIH4A/AlmTWJ3Ugq0hH3jS6I2AwAWWLTHdeKOzvtqkiseC3jBdLrRBcNf84KkikPMjyhqWt/v/MeJOUZml76mzP/fVnkE4dcnZP089mUyIuuewj\u002BSwHdLbk6xeDs0q[...]
[...]
    {
      "RequestUri": "https://473xscnapby3pev24a.blob.preprod.core.windows.net/test-container-9469a3aa-5bd4-204b-6062-7697940f5dfe/test-blob-0e240d58-010d-b0dc-5293-79e5830bf02b?comp=pagelist",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 23 Mar 2022 19:39:47 GMT",
        "x-ms-ignore-strong-consistency-lock": "true",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "ETag": "\u00220x8DA0D04E3F74B69\u0022",
        "Last-Modified": "Wed, 23 Mar 2022 19:39:48 GMT",
        "x-ms-blob-content-length": "4096",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\n",
        "\u003CPageList\u003E\u003CPageRange\u003E\u003CStart\u003E0\u003C/Start\u003E\u003CEnd\u003E1023\u003C/End\u003E\u003C/PageRange\u003E\u003CPageRange\u003E\u003CStart\u003E2048\u003C/Start\u003E\u003CEnd\u003E3071\u003C/End\u003E\u003C/PageRange\u003E\u003C/PageList\u003E"
      ]
    },
    {
      "RequestUri": "https://473xscnapby3pev24a.blob.preprod.core.windows.net/test-container-9469a3aa-5bd4-204b-6062-7697940f5dfe?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 23 Mar 2022 19:39:47 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "22724931",
    "Storage_TestConfigSecondary": "SecondaryTenant\n473xscnapby3pev24a\nU2FuaXRpemVk\nhttps://473xscnapby3pev24a.blob.preprod.core.windows.net\nhttp://473xscnapby3pev24a.file.core.windows.net\nhttp://473xscnapby3pev24a.queue.core.windows.net\nhttp://473xscnapby3pev24a.table.core.windows.net\n\n\n\n\nhttp://473xscnapby3pev24a-secondary.blob.core.windows.net\nhttp://473xscnapby3pev24a-secondary.file.core.windows.net\nhttp://473xscnapby3pev24a-secondary.queue.core.windows.net\nhttp://473xscnapby3pev24a-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://473xscnapby3pev24a.blob.preprod.core.windows.net/;QueueEndpoint=http://473xscnapby3pev24a.queue.core.windows.net/;FileEndpoint=http://473xscnapby3pev24a.file.core.windows.net/;BlobSecondaryEndpoint=http://473xscnapby3pev24a-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://473xscnapby3pev24a-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://473xscnapby3pev24a-secondary.file.core.windows.net/;AccountName=473xscnapby3pev24a;AccountKey=Sanitized\n\n\n"
  }
}
