{
  "Entries": [
    {
      "RequestUri": "http://amandacanary.blob.core.windows.net/test-container-a9225dae-60b6-8c91-f663-44f06e40d099?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Sat, 25 Apr 2020 01:15:00 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7E8B613893EE4\u0022",
        "Last-Modified": "Sat, 25 Apr 2020 01:15:00 GMT",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://amandacanary.blob.core.windows.net/test-container-a9225dae-60b6-8c91-f663-44f06e40d099/test-blob-fbda52df-98c0-416b-984b-45e203798ed7",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "4096",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Sat, 25 Apr 2020 01:15:00 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7E8B61394C824\u0022",
        "Last-Modified": "Sat, 25 Apr 2020 01:15:00 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://amandacanary.blob.core.windows.net/test-container-a9225dae-60b6-8c91-f663-44f06e40d099/test-blob-fbda52df-98c0-416b-984b-45e203798ed7?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 25 Apr 2020 01:15:00 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": "VdiIyOMnivqpqGIT4KuDGvRIds1C4pMT6rF\u002BO5MEZBUID2nl9o0YRKo9ApxHuPIW3jevhAzWZnNEdN4yqE5npERMC9BCniRnMDIjBOD3yzG\u002BaF1bVd8JMan2oIGv5ptb1l1X\u002B60h0z8TSFTas2GSTaisdEDxC09lQ9onS/6it0mXxy6Dn9CEnJQeRwyKLn5IZFLZAnJaasoN8rjT\u002BodAcZAKQusyD67YKNer08NC2hRb3uesyLTXPFxjdawXsaEN3dZ7f\u002BySFVWjAdqar5cGyxikdxyflKjcMwaOzpkBwHc2nvXtx1ooyciSCMbaPY3FXaqUczmFbUktn0zlA0a7oUBiZBCiGQO\u002BfK5TDYvhAfZ5yXHvbU09sDGsvycNQsWC1[...]
    {
      "RequestUri": "http://amandacanary.blob.core.windows.net/test-container-a9225dae-60b6-8c91-f663-44f06e40d099/test-blob-fbda52df-98c0-416b-984b-45e203798ed7?comp=snapshot",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 25 Apr 2020 01:15:00 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7E8B613A14985\u0022",
        "Last-Modified": "Sat, 25 Apr 2020 01:15:00 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-snapshot": "2020-04-25T01:15:00.8063205Z",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://amandacanary.blob.core.windows.net/test-container-a9225dae-60b6-8c91-f663-44f06e40d099/test-blob-fbda52df-98c0-416b-984b-45e203798ed7?comp=pagelist\u0026prevsnapshot=2020-04-25T01%3A15%3A00.8063205Z",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Modified-Since": "Sun, 26 Apr 2020 01:15:00 GMT",
        "x-ms-date": "Sat, 25 Apr 2020 01:15:00 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 304,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://amandacanary.blob.core.windows.net/test-container-c445ba01-9799-d54f-3398-52808f775c55/test-blob-c369f10c-4627-9734-80e3-827f4f494990?comp=pagelist\u0026prevsnapshot=2020-04-25T01%3A15%3A01.3830064Z",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Unmodified-Since": "Fri, 24 Apr 2020 01:15:00 GMT",
        "x-ms-date": "Sat, 25 Apr 2020 01:15:01 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003EConditionNotMet\u003C/Code\u003E\u003CMessage\u003EThe condition specified using HTTP conditional header(s) is not met.\n",
        "RequestId:7273b982-501e-003c-4e9e-1a0c6e000000\n",
        "Time:2020-04-25T01:15:01.5542385Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
[...]
    {
      "RequestUri": "http://amandacanary.blob.core.windows.net/test-container-a207133a-6d37-2b46-29b6-0b3695226691/test-blob-e0797a54-2ba2-9f81-a133-2d797430fcfd?comp=pagelist\u0026prevsnapshot=2020-04-25T01%3A15%3A01.9636898Z",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u0022garbage\u0022",
        "x-ms-date": "Sat, 25 Apr 2020 01:15:02 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003EConditionNotMet\u003C/Code\u003E\u003CMessage\u003EThe condition specified using HTTP conditional header(s) is not met.\n",
        "RequestId:7273b9af-501e-003c-779e-1a0c6e000000\n",
        "Time:2020-04-25T01:15:02.1309074Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
[...]
    {
      "RequestUri": "http://amandacanary.blob.core.windows.net/test-container-1a57c459-7b41-24d6-4a18-ca888d40619b/test-blob-60d760a7-b0c6-0721-5508-4fb9bd8b3452",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 25 Apr 2020 01:15:02 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D7E8B614C3CF01\u0022",
        "Last-Modified": "Sat, 25 Apr 2020 01:15:02 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Sat, 25 Apr 2020 01:15:02 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://amandacanary.blob.core.windows.net/test-container-1a57c459-7b41-24d6-4a18-ca888d40619b/test-blob-60d760a7-b0c6-0721-5508-4fb9bd8b3452?comp=pagelist\u0026prevsnapshot=2020-04-25T01%3A15%3A02.5473714Z",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "\u00220x8D7E8B614C3CF01\u0022",
        "x-ms-date": "Sat, 25 Apr 2020 01:15:02 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 304,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://amandacanary.blob.core.windows.net/test-container-ab44f4f9-e31b-0698-2172-9c96c7640c88/test-blob-d92ce05a-b31e-d39d-9141-60175f2a7401?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 25 Apr 2020 01:15:03 GMT",
        "x-ms-lease-action": "acquire",
        "x-ms-lease-duration": "-1",
        "x-ms-proposed-lease-id": "91bb82e0-f0a4-fa8c-c352-7611b4ec9952",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7E8B615284F27\u0022",
        "Last-Modified": "Sat, 25 Apr 2020 01:15:03 GMT",
        "x-ms-lease-id": "91bb82e0-f0a4-fa8c-c352-7611b4ec9952",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://amandacanary.blob.core.windows.net/test-container-ab44f4f9-e31b-0698-2172-9c96c7640c88?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 25 Apr 2020 01:15:03 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2020-04-24T18:15:00.5194771-07:00",
    "RandomSeed": "1612450628",
    "Storage_TestConfigDefault": "ProductionTenant\namandacanary\nU2FuaXRpemVk\nhttp://amandacanary.blob.core.windows.net\nhttp://amandacanary.file.core.windows.net\nhttp://amandacanary.queue.core.windows.net\nhttp://amandacanary.table.core.windows.net\n\n\n\n\nhttp://amandacanary-secondary.blob.core.windows.net\nhttp://amandacanary-secondary.file.core.windows.net\nhttp://amandacanary-secondary.queue.core.windows.net\nhttp://amandacanary-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://amandacanary.blob.core.windows.net/;QueueEndpoint=http://amandacanary.queue.core.windows.net/;FileEndpoint=http://amandacanary.file.core.windows.net/;BlobSecondaryEndpoint=http://amandacanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://amandacanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://amandacanary-secondary.file.core.windows.net/;AccountName=amandacanary;AccountKey=Sanitized\n\nDefaultEndpointsProtocol=https;AccountName=ortestsaccountcbn1;AccountKey=OrRfzSm3ktQSklAGiL90/QusS7SdS6Y5S/AJoxZEeyKYDtnue7OKYIMLOraTnT4xcOyhYbqzWVmtTKappcc5Fg==;EndpointSuffix=core.windows.net\nDefaultEndpointsProtocol=https;AccountName=vbalaorcentral1;AccountKey=vlHMz/LZ3Sx7r/1bdTQT26pG0tqORQ4uTIcxGhHB0LQhIhqGxfv2TXV7u\u002BI2ra4UWXrWGGHG2N6l\u002BBfb5FgAcQ==;EndpointSuffix=core.windows.net"
  }
}