{
  "Entries": [
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-4baea232-dc42-1cf5-b239-32f08e264777?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 01 Jul 2019 21:56:57 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D6FE6F094B69F6\u0022",
        "Last-Modified": "Mon, 01 Jul 2019 21:56:57 GMT",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-4baea232-dc42-1cf5-b239-32f08e264777/test-blob-a630fd2c-2a0a-5d4a-e01d-3f99d13dccbd",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "4096",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Mon, 01 Jul 2019 21:56:57 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D6FE6F094DB517\u0022",
        "Last-Modified": "Mon, 01 Jul 2019 21:56:57 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-4baea232-dc42-1cf5-b239-32f08e264777/test-blob-a630fd2c-2a0a-5d4a-e01d-3f99d13dccbd?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 01 Jul 2019 21:56:57 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": "nAXEkfagbYCPq/dq/D8aYswyub6Pk9t0EjndR3\u002bgcKxtsPzMeTvHaD8UeabAgPmKp0jdunnx/gkpT368wyUA7zpK/UtCTeiQa1F\u002bexk1tJJAU6A2wrYzfLLzoyq8CqQaE4prdoKtR1pgTE8ocoPv9JvsfHCFySyEF4GZT6q\u002b1GCsZGiPyT0PkgtG1nVmCgkuA6\u002bP0I40lEpd5l4BFPevoXjufA4bXypd3OlkP/K2HQx3akv7LgPRd88eMuLfDX4UljT9eI77E6OEMvOk0FVXpshRiqmrtHJ1HQQ\u002b/C1Ifs9rUKi\u002buaV\u002bfFand/wQLKd5xosZjYPVaOHBiFqJvRZ2O7QkOX\u002bsmO0j0w5SAz12ZPBcxDWiLvBLluf[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-4baea232-dc42-1cf5-b239-32f08e264777/test-blob-a630fd2c-2a0a-5d4a-e01d-3f99d13dccbd?comp=snapshot",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 01 Jul 2019 21:56:57 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D6FE6F094FD878\u0022",
        "Last-Modified": "Mon, 01 Jul 2019 21:56:57 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-snapshot": "2019-07-01T21:56:57.0706684Z",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-4baea232-dc42-1cf5-b239-32f08e264777/test-blob-a630fd2c-2a0a-5d4a-e01d-3f99d13dccbd?comp=pagelist\u0026prevsnapshot=2019-07-01T21%3A56%3A57.0706684Z",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Modified-Since": "Tue, 02 Jul 2019 21:56:57 GMT",
        "x-ms-date": "Mon, 01 Jul 2019 21:56:57 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 304,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-3c80e218-b4c8-4c86-a906-67fa9c7ff05d/test-blob-9c364e64-6967-58b0-a7e9-0f3a03982a47?comp=pagelist\u0026prevsnapshot=2019-07-01T21%3A56%3A57.1627561Z",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Unmodified-Since": "Sun, 30 Jun 2019 21:56:57 GMT",
        "x-ms-date": "Mon, 01 Jul 2019 21:56:57 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": [
        "\ufeff\u003c?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003e\u003cError\u003e\u003cCode\u003eConditionNotMet\u003c/Code\u003e\u003cMessage\u003eThe condition specified using HTTP conditional header(s) is not met.\n",
        "RequestId:6f4f664e-601e-0037-5257-309fa2000000\n",
        "Time:2019-07-01T21:56:57.1847617Z\u003c/Message\u003e\u003c/Error\u003e"
      ]
    },
[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-3b9e28d4-2f8c-fe01-1e9c-bc0cfede27dd/test-blob-aa066668-9bfe-07de-cc6e-fa84c9c0ef17?comp=pagelist\u0026prevsnapshot=2019-07-01T21%3A56%3A57.2538424Z",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u0022garbage\u0022",
        "x-ms-date": "Mon, 01 Jul 2019 21:56:57 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": [
        "\ufeff\u003c?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003e\u003cError\u003e\u003cCode\u003eConditionNotMet\u003c/Code\u003e\u003cMessage\u003eThe condition specified using HTTP conditional header(s) is not met.\n",
        "RequestId:6f4f6676-601e-0037-7357-309fa2000000\n",
        "Time:2019-07-01T21:56:57.2848576Z\u003c/Message\u003e\u003c/Error\u003e"
      ]
    },
[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-d6797119-7d34-7035-1aa9-6d1b2415560c/test-blob-7e96f3e2-460a-1376-9460-3ca984f5feff",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 01 Jul 2019 21:56:57 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D6FE6F09821848\u0022",
        "Last-Modified": "Mon, 01 Jul 2019 21:56:57 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Mon, 01 Jul 2019 21:56:57 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-tag-count": "0",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-d6797119-7d34-7035-1aa9-6d1b2415560c/test-blob-7e96f3e2-460a-1376-9460-3ca984f5feff?comp=pagelist\u0026prevsnapshot=2019-07-01T21%3A56%3A57.3739576Z",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "\u00220x8D6FE6F09821848\u0022",
        "x-ms-date": "Mon, 01 Jul 2019 21:56:57 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 304,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-0481e9c3-be67-133f-0ec8-9024791125ac/test-blob-0f587cf9-9d68-cfd0-5e2e-22b7115ca03a?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 01 Jul 2019 21:56:57 GMT",
        "x-ms-lease-action": "acquire",
        "x-ms-lease-duration": "-1",
        "x-ms-proposed-lease-id": "7add58a1-3448-414a-4de7-5654d8c487c1",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D6FE6F09944527\u0022",
        "Last-Modified": "Mon, 01 Jul 2019 21:56:57 GMT",
        "x-ms-lease-id": "7add58a1-3448-414a-4de7-5654d8c487c1",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-0481e9c3-be67-133f-0ec8-9024791125ac?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 01 Jul 2019 21:56:57 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2019-07-01T14:56:57.0254491-07:00",
    "RandomSeed": "325374968"
  }
}