{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-68c1f48a-61eb-cdd4-aa6e-5f3f5cc64197?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 17 Feb 2021 19:01:04 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8D8D37660097240\"",
        "Last-Modified": "Wed, 17 Feb 2021 19:01:04 GMT",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-68c1f48a-61eb-cdd4-aa6e-5f3f5cc64197/test-blob-d7374be4-74d6-4864-38f4-d411690ea2e4",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-content-length": "4096",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Wed, 17 Feb 2021 19:01:04 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8D8D37660139D78\"",
        "Last-Modified": "Wed, 17 Feb 2021 19:01:04 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-04-10",
        "x-ms-version-id": "2021-02-17T19:01:04.442508Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-68c1f48a-61eb-cdd4-aa6e-5f3f5cc64197/test-blob-d7374be4-74d6-4864-38f4-d411690ea2e4?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 17 Feb 2021 19:01:04 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": "oJxQ/IZUUNzdPRHzUBGGCGW0Ka0tw1Xd+Q0/WAg3tTX1yLIl4JKalGsEAVFLVI5LC/fQkGc/LdxGcgJ4FPjTpojb/odeYSjTGZRCKcEDkqV/9EwQZyTOtZvW3m2PIYBzMFvIb1UG7arP/XbS/QQbQuBc+B+rwj5kDUjsh4K6Q/gUzvhmOyJPeQeiQWqt+7eWu5uNMihhx20cZGENGmUnFbl+vi4LtAe9DX8XCYHUthKQVczmLBDPsweKSdfBQl+ieiuwLjyJiwaU0CWoSb7sSK1OfMSYQOiorwsngGsw+8ogdY5WI4fWB8nGUlvrJmlIngEpcsaaCTpCB38wYQubZNVaiNMwliQleHT60u6MvYih3uFpBokEhmtTExsIpaW+Ku6GkJ6WGAjcA/lRnzdMtUn2joIpMV1[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-68c1f48a-61eb-cdd4-aa6e-5f3f5cc64197/test-blob-d7374be4-74d6-4864-38f4-d411690ea2e4?comp=snapshot",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 19:01:04 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8D8D376601DD88C\"",
        "Last-Modified": "Wed, 17 Feb 2021 19:01:04 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-snapshot": "2021-02-17T19:01:04.5726004Z",
        "x-ms-version": "2021-04-10",
        "x-ms-version-id": "2021-02-17T19:01:04.5736004Z"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-68c1f48a-61eb-cdd4-aa6e-5f3f5cc64197/test-blob-d7374be4-74d6-4864-38f4-d411690ea2e4?comp=tags",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "x-ms-date": "Wed, 17 Feb 2021 19:01:04 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": "﻿<Tags><TagSet><Tag><Key>coolTag</Key><Value>true</Value></Tag></TagSet></Tags>",
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-68c1f48a-61eb-cdd4-aa6e-5f3f5cc64197/test-blob-d7374be4-74d6-4864-38f4-d411690ea2e4?comp=pagelist&snapshot=2021-02-17T19%3A01%3A04.7507293Z&prevsnapshot=2021-02-17T19%3A01%3A04.5726004Z",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 19:01:04 GMT",
        "x-ms-if-tags": "\"coolTag\" = 'true'",
        "x-ms-range": "bytes=0-4095",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "ETag": "\"0x8D8D3766030C7C7\"",
        "Last-Modified": "Wed, 17 Feb 2021 19:01:04 GMT",
        "x-ms-blob-content-length": "4096",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><PageList><PageRange><Start>2048</Start><End>3071</End></PageRange></PageList>"
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-68c1f48a-61eb-cdd4-aa6e-5f3f5cc64197?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 19:01:04 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1757281048",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\nseanscope1\n\n"
  }
}