{
  "Entries": [
    {
      "RequestUri": "https://0c2xscnapby3pev24a.blob.preprod.core.windows.net/test-container-4553935c-d9d2-9de7-65f1-cb2e0a213087?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Fri, 07 Jan 2022 19:36:22 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9D214FC23A784\u0022",
        "Last-Modified": "Fri, 07 Jan 2022 19:36:22 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://0c2xscnapby3pev24a.blob.preprod.core.windows.net/test-container-4553935c-d9d2-9de7-65f1-cb2e0a213087/test-blob-23165cc0-19d1-0ca8-24c9-4ac6c4848ce2",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-content-length": "4096",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Fri, 07 Jan 2022 19:36:22 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9D214FC2D6D7D\u0022",
        "Last-Modified": "Fri, 07 Jan 2022 19:36:22 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://0c2xscnapby3pev24a.blob.preprod.core.windows.net/test-container-4553935c-d9d2-9de7-65f1-cb2e0a213087/test-blob-23165cc0-19d1-0ca8-24c9-4ac6c4848ce2?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Fri, 07 Jan 2022 19:36:22 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": "tuM8lqG3QzvY6emCne2BXx0fITTi2HUMlUn6b/5KrEXIwwWniBWI7Uxm3IN3L0jGUSccYNRS1d1tMAFYvdM8jjyjudnn2tYHljPnfPzylGUAMx7WLUtxdu4nOVgUMDB5KU1G03Vu33dRFcqga1nhe5ubV4q1ZmDxMkPrwKB98mYCbVKuq8DwklSmhReB0AuVRb29eNimxMPtVaEygx7W1CJknf0GM9Daq8U1DuFJb2I3VXrjwHqNXKmPwVYfvQ41z7H0HTIOjhHt4swScLXio\u002BU\u002B\u002Bi2j8xOo1kFTd3J6uu23AD4vVFIvKcZo9d2te\u002Bz0rR1w4cLgkdydTEbxuhefcyfeW3B2sk\u002BTDtFnO/41\u002B1pUX8lVCdkq1m5ikggLPm\u0[...]
[...]
    {
      "RequestUri": "https://0c2xscnapby3pev24a.blob.preprod.core.windows.net/test-container-4553935c-d9d2-9de7-65f1-cb2e0a213087/test-blob-23165cc0-19d1-0ca8-24c9-4ac6c4848ce2?comp=pagelist\u0026maxresults=1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jan 2022 19:36:22 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "ETag": "\u00220x8D9D214FC40A7AE\u0022",
        "Last-Modified": "Fri, 07 Jan 2022 19:36:22 GMT",
        "x-ms-blob-content-length": "4096",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\n",
        "\u003CPageList\u003E\u003CPageRange\u003E\u003CStart\u003E0\u003C/Start\u003E\u003CEnd\u003E1023\u003C/End\u003E\u003C/PageRange\u003E\u003CNextMarker\u003E2!16!MDAwMDA0ITIwNDgh\u003C/NextMarker\u003E\u003C/PageList\u003E"
      ]
    },
    {
      "RequestUri": "https://0c2xscnapby3pev24a.blob.preprod.core.windows.net/test-container-4553935c-d9d2-9de7-65f1-cb2e0a213087/test-blob-23165cc0-19d1-0ca8-24c9-4ac6c4848ce2?comp=pagelist\u0026marker=2%2116%21MDAwMDA0ITIwNDgh\u0026maxresults=1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jan 2022 19:36:22 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "ETag": "\u00220x8D9D214FC40A7AE\u0022",
        "Last-Modified": "Fri, 07 Jan 2022 19:36:22 GMT",
        "x-ms-blob-content-length": "4096",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\n",
        "\u003CPageList\u003E\u003CPageRange\u003E\u003CStart\u003E2048\u003C/Start\u003E\u003CEnd\u003E3071\u003C/End\u003E\u003C/PageRange\u003E\u003CNextMarker/\u003E\u003C/PageList\u003E"
      ]
    },
    {
      "RequestUri": "https://0c2xscnapby3pev24a.blob.preprod.core.windows.net/test-container-4553935c-d9d2-9de7-65f1-cb2e0a213087?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jan 2022 19:36:22 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "798255204",
    "Storage_TestConfigDefault": "ProductionTenant\n0c2xscnapby3pev24a\nU2FuaXRpemVk\nhttps://0c2xscnapby3pev24a.blob.preprod.core.windows.net\nhttps://0c2xscnapby3pev24a.file.preprod.core.windows.net\nhttps://0c2xscnapby3pev24a.queue.core.windows.net\nhttps://0c2xscnapby3pev24a.table.core.windows.net\n\n\n\n\nhttps://0c2xscnapby3pev24a-secondary.blob.core.windows.net\nhttps://0c2xscnapby3pev24a-secondary.file.core.windows.net\nhttps://0c2xscnapby3pev24a-secondary.queue.core.windows.net\nhttps://0c2xscnapby3pev24a-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://0c2xscnapby3pev24a.blob.preprod.core.windows.net/;QueueEndpoint=https://0c2xscnapby3pev24a.queue.core.windows.net/;FileEndpoint=https://0c2xscnapby3pev24a.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://0c2xscnapby3pev24a-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://0c2xscnapby3pev24a-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://0c2xscnapby3pev24a-secondary.file.core.windows.net/;AccountName=0c2xscnapby3pev24a;AccountKey=Kg==;\nseanscope1\n\n"
  }
}