{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-8f9f9093-f36e-6de6-5bec-6a4fe2ea2197?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 17 Feb 2021 02:23:40 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D2EB0ABC64C3\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 02:23:41 GMT",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-8f9f9093-f36e-6de6-5bec-6a4fe2ea2197/test-blob-42e555e1-b1fa-6d15-d5ae-f4fe31d2d1c5",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-content-length": "4096",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Wed, 17 Feb 2021 02:23:41 GMT",
        "x-ms-encryption-algorithm": "AES256",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D2EB0AC651B8\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 02:23:41 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-06-12",
        "x-ms-version-id": "2021-02-17T02:23:41.2841912Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-8f9f9093-f36e-6de6-5bec-6a4fe2ea2197/test-blob-42e555e1-b1fa-6d15-d5ae-f4fe31d2d1c5?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 17 Feb 2021 02:23:41 GMT",
        "x-ms-encryption-algorithm": "AES256",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": "tuZMT60HNQN\u002Bx1w/jovy9o59O4yfiRR1klB8UW/E2EaQsdOUkdHJu3AvyOm9r5ico3eDx2Sd0SzR171di\u002BOTue4Wrty3XWW9tH8bcMEqt\u002BO33674QRHh8t\u002BnwrkUbDCMnA/6pwC85EURxRPlgWFrpyDapas1mnjdNLv8EJurqUdPj9OxMA/i\u002Bvpp5nz9/HF\u002BOxuZOcaEVgGXHHNEv9OpZhvMlfKNuXYQ96uxzLP74DhKftV/EW\u002BAyzjRGhOcnjomv4BgMWZ\u002B8IKkiUIb0opOmzw6\u002BUH\u002BKlSsS8q5u55jc1lwig0zm6/RzI1T2ogtZfiug3/XYqT4KJUrtOWcxTTjQRbpqkh8GwCMaS20q0/Mf\u00[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-8f9f9093-f36e-6de6-5bec-6a4fe2ea2197/test-blob-42e555e1-b1fa-6d15-d5ae-f4fe31d2d1c5?comp=snapshot",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 02:23:41 GMT",
        "x-ms-encryption-algorithm": "AES256",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D2EB0ACFA238\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 02:23:41 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-snapshot": "2021-02-17T02:23:41.4062757Z",
        "x-ms-version": "2020-06-12",
        "x-ms-version-id": "2021-02-17T02:23:41.4072757Z"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-8f9f9093-f36e-6de6-5bec-6a4fe2ea2197/test-blob-42e555e1-b1fa-6d15-d5ae-f4fe31d2d1c5?comp=pagelist\u0026snapshot=2021-02-17T02%3A23%3A41.5243606Z\u0026prevsnapshot=2021-02-17T02%3A23%3A41.4062757Z",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 02:23:41 GMT",
        "x-ms-if-tags": "\u0022coolTag\u0022 = \u0027true\u0027",
        "x-ms-range": "bytes=0-4095",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003EConditionNotMet\u003C/Code\u003E\u003CMessage\u003EThe condition specified using HTTP conditional header(s) is not met.\n",
        "RequestId:1c9258b5-601e-001d-31d3-04d77e000000\n",
        "Time:2021-02-17T02:23:41.5803977Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-8f9f9093-f36e-6de6-5bec-6a4fe2ea2197?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 02:23:41 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1598831349",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\nseanscope1"
  }
}