{
  "Entries": [
    {
      "RequestUri": "https://storagedotnettesting.blob.core.windows.net/test-container-c108f990-e2d8-6061-c199-639e2f0e5604?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 01 Oct 2020 22:57:37 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8665D6461DB7A\u0022",
        "Last-Modified": "Thu, 01 Oct 2020 22:57:37 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://storagedotnettesting.blob.core.windows.net/test-container-c108f990-e2d8-6061-c199-639e2f0e5604/test-blob-e43f7937-de56-91b7-9ae3-0204371924e2",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-content-length": "4096",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Thu, 01 Oct 2020 22:57:37 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8665D6466ED25\u0022",
        "Last-Modified": "Thu, 01 Oct 2020 22:57:37 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://storagedotnettesting.blob.core.windows.net/test-container-c108f990-e2d8-6061-c199-639e2f0e5604/test-blob-e43f7937-de56-91b7-9ae3-0204371924e2?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 01 Oct 2020 22:57:37 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": "HE94txrvls8Y\u002B\u002BPviCTCkEnq5a4JYkIEnFkVmRKhxx4MJ3Z/keL9LvJAqaP1SKuMLsR2kfyrJLkMdBrB2v29dzTE4mCtQ/5n7ba8ybmfDlSuiGpNKjUiYQK9cx3IO1T0gjJvMWVK3uvFD6RF7lv/bGXFE1GScEz/oYBe79DhnrFiyEeHMN3uY6l/hxuQ3XOnvQa3AigCYRLlb4/k7O8a5HDz4iYUeDyI1q\u002BoE\u002BgxbsMNtjLKKZyJX2Y0ocBNCne6ZKKrnfpNk0XJLyx5Wk0ptAHL1zW8ULvUaYO/39d8Osw37a9FhdDJwCLtAPlvEAQYCu2/gTJC/RPn1zN3jbRtTfRfQWye5C4wAhcTz0/BZFl\u002Bp9TqvLia9fCcXq6dUTJuf7MEEM[...]
    {
      "RequestUri": "https://storagedotnettesting.blob.core.windows.net/test-container-c108f990-e2d8-6061-c199-639e2f0e5604/test-blob-e43f7937-de56-91b7-9ae3-0204371924e2?comp=snapshot",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 01 Oct 2020 22:57:37 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8665D646BF763\u0022",
        "Last-Modified": "Thu, 01 Oct 2020 22:57:37 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-snapshot": "2020-10-01T22:57:37.6034459Z",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://storagedotnettesting.blob.core.windows.net/test-container-c108f990-e2d8-6061-c199-639e2f0e5604/test-blob-e43f7937-de56-91b7-9ae3-0204371924e2?comp=pagelist\u0026prevsnapshot=2020-10-01T22%3A57%3A37.6034459Z",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 01 Oct 2020 22:57:37 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "ETag": "\u00220x8D8665D6474AC16\u0022",
        "Last-Modified": "Thu, 01 Oct 2020 22:57:37 GMT",
        "x-ms-blob-content-length": "4096",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CPageList /\u003E"
    },
[...]
    {
      "RequestUri": "https://storagedotnettesting.blob.core.windows.net/test-container-fa2fa712-47eb-3078-d1c2-70f624620c15/test-blob-e9cad167-8fd3-a8cd-996d-d9d7029739ca?comp=pagelist\u0026prevsnapshot=2020-10-01T22%3A57%3A37.8727021Z",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Modified-Since": "Wed, 30 Sep 2020 22:57:37 GMT",
        "x-ms-date": "Thu, 01 Oct 2020 22:57:37 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "ETag": "\u00220x8D8665D649F21C9\u0022",
        "Last-Modified": "Thu, 01 Oct 2020 22:57:37 GMT",
        "x-ms-blob-content-length": "4096",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CPageList /\u003E"
    },
[...]
    {
      "RequestUri": "https://storagedotnettesting.blob.core.windows.net/test-container-77067b1b-0ad2-5cd1-5e27-b024b3186974/test-blob-32340f37-59d8-216e-0027-4b988fa67cd5?comp=pagelist\u0026prevsnapshot=2020-10-01T22%3A57%3A38.1799902Z",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Unmodified-Since": "Fri, 02 Oct 2020 22:57:37 GMT",
        "x-ms-date": "Thu, 01 Oct 2020 22:57:38 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "ETag": "\u00220x8D8665D64CCF397\u0022",
        "Last-Modified": "Thu, 01 Oct 2020 22:57:38 GMT",
        "x-ms-blob-content-length": "4096",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CPageList /\u003E"
    },
[...]
    {
      "RequestUri": "https://storagedotnettesting.blob.core.windows.net/test-container-749c99f0-28c3-d960-6288-351ae7723f4d/test-blob-2c498ba9-6c8c-bd56-7d6f-ee0d71a623ce",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 01 Oct 2020 22:57:38 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D8665D64F9DADD\u0022",
        "Last-Modified": "Thu, 01 Oct 2020 22:57:38 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Thu, 01 Oct 2020 22:57:38 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://storagedotnettesting.blob.core.windows.net/test-container-749c99f0-28c3-d960-6288-351ae7723f4d/test-blob-2c498ba9-6c8c-bd56-7d6f-ee0d71a623ce?comp=pagelist\u0026prevsnapshot=2020-10-01T22%3A57%3A38.4682632Z",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8D8665D64F9DADD\u0022",
        "x-ms-date": "Thu, 01 Oct 2020 22:57:38 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "ETag": "\u00220x8D8665D64F9DADD\u0022",
        "Last-Modified": "Thu, 01 Oct 2020 22:57:38 GMT",
        "x-ms-blob-content-length": "4096",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CPageList /\u003E"
    },
[...]
    {
      "RequestUri": "https://storagedotnettesting.blob.core.windows.net/test-container-4211dde9-c268-4233-6d27-26c5f1be3fd6/test-blob-004179da-5651-ea67-12e5-df2329187185?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 01 Oct 2020 22:57:39 GMT",
        "x-ms-lease-action": "acquire",
        "x-ms-lease-duration": "-1",
        "x-ms-proposed-lease-id": "8332cc4d-3862-9a76-f6c6-03073c9e5320",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8665D656AB94F\u0022",
        "Last-Modified": "Thu, 01 Oct 2020 22:57:39 GMT",
        "x-ms-lease-id": "8332cc4d-3862-9a76-f6c6-03073c9e5320",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://storagedotnettesting.blob.core.windows.net/test-container-4211dde9-c268-4233-6d27-26c5f1be3fd6?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 01 Oct 2020 22:57:39 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2020-10-01T15:57:37.3969437-07:00",
    "RandomSeed": "1012857945",
    "Storage_TestConfigDefault": "ProductionTenant\nstoragedotnettesting\nU2FuaXRpemVk\nhttps://storagedotnettesting.blob.core.windows.net\nhttps://storagedotnettesting.file.core.windows.net\nhttps://storagedotnettesting.queue.core.windows.net\nhttps://storagedotnettesting.table.core.windows.net\n\n\n\n\nhttps://storagedotnettesting-secondary.blob.core.windows.net\nhttps://storagedotnettesting-secondary.file.core.windows.net\nhttps://storagedotnettesting-secondary.queue.core.windows.net\nhttps://storagedotnettesting-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://storagedotnettesting.blob.core.windows.net/;QueueEndpoint=https://storagedotnettesting.queue.core.windows.net/;FileEndpoint=https://storagedotnettesting.file.core.windows.net/;BlobSecondaryEndpoint=https://storagedotnettesting-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://storagedotnettesting-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://storagedotnettesting-secondary.file.core.windows.net/;AccountName=storagedotnettesting;AccountKey=Kg==;\n"
  }
}