{
  "Entries": [
    {
      "RequestUri": "https://seanstagetest.blob.core.windows.net/test-container-c1b645bc-4b05-4aee-adb4-a9008637907b?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 05 Mar 2020 21:22:13 GMT",
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7C14B4638CECE\u0022",
        "Last-Modified": "Thu, 05 Mar 2020 21:22:14 GMT",
        "x-ms-version": "2019-10-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanstagetest.blob.core.windows.net/test-container-c1b645bc-4b05-4aee-adb4-a9008637907b/test-blob-f0ac5088-b3b8-b29f-6c39-7f43941ab0c3",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "6144",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Thu, 05 Mar 2020 21:22:14 GMT",
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7C14B464556EB\u0022",
        "Last-Modified": "Thu, 05 Mar 2020 21:22:14 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-10-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanstagetest.blob.core.windows.net/test-container-c1b645bc-4b05-4aee-adb4-a9008637907b/test-blob-f0ac5088-b3b8-b29f-6c39-7f43941ab0c3?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 05 Mar 2020 21:22:14 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-2047",
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": "ACzFWL3sABgBSrDQUyKYXyQ2x6POZ4VHLCjLB7pcuWpWPHzuSLyMj/AzR/INEb5qJlXOcg7tVJimfSyVIPhepZFGehelqRdnqjizmyCTOhtpYOFljUdbaOfkSMqQ9m741aFhx5anxXw\u002BZ8fWOrl3EkIQK78W\u002BRhK6hEvwWFM1rPJusV/MnOEwptkJiZ/hS0tbDWHgMuv4dyJF9yFeAMb8pAUDID0\u002BODPi2kjsdLyymTkAVUrxFbnGtnp9RqW/0qYSTSVanitOXNVuPRiiy8Jl0x4oHat7y05LPKnCgLFOIwei2ieXGDrNsjh1gtihY6p317OHl7U6lkGWz6FBi5xj39oQwDGazrsjGmtzBkh16Zk/Sqk9xotSqAPlwAhZTCZcEeL\u002BkKO4nQ[...]
[...]
    {
      "RequestUri": "https://seanstagetest.blob.core.windows.net/test-container-c1b645bc-4b05-4aee-adb4-a9008637907b/test-blob-f0ac5088-b3b8-b29f-6c39-7f43941ab0c3?comp=snapshot",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 05 Mar 2020 21:22:14 GMT",
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7C14B465CD68E\u0022",
        "Last-Modified": "Thu, 05 Mar 2020 21:22:14 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-snapshot": "2020-03-05T21:22:14.4241161Z",
        "x-ms-version": "2019-10-10"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seanstagetest.blob.core.windows.net/test-container-c1b645bc-4b05-4aee-adb4-a9008637907b/test-blob-f0ac5088-b3b8-b29f-6c39-7f43941ab0c3?comp=pagelist",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 05 Mar 2020 21:22:14 GMT",
        "x-ms-range": "bytes=0-6143",
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "ETag": "\u00220x8D7C14B4674CAE7\u0022",
        "Last-Modified": "Thu, 05 Mar 2020 21:22:14 GMT",
        "x-ms-blob-content-length": "6144",
        "x-ms-version": "2019-10-10"
      },
      "ResponseBody": "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CPageList\u003E\u003CPageRange\u003E\u003CStart\u003E0\u003C/Start\u003E\u003CEnd\u003E2047\u003C/End\u003E\u003C/PageRange\u003E\u003CPageRange\u003E\u003CStart\u003E5120\u003C/Start\u003E\u003CEnd\u003E6143\u003C/End\u003E\u003C/PageRange\u003E\u003C/PageList\u003E"
    },
    {
      "RequestUri": "https://seanstagetest.blob.core.windows.net/test-container-c1b645bc-4b05-4aee-adb4-a9008637907b/test-blob-f0ac5088-b3b8-b29f-6c39-7f43941ab0c3?comp=pagelist\u0026prevsnapshot=2020-03-05T21%3A22%3A14.4241161Z",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 05 Mar 2020 21:22:14 GMT",
        "x-ms-range": "bytes=0-6143",
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "ETag": "\u00220x8D7C14B4674CAE7\u0022",
        "Last-Modified": "Thu, 05 Mar 2020 21:22:14 GMT",
        "x-ms-blob-content-length": "6144",
        "x-ms-version": "2019-10-10"
      },
      "ResponseBody": "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CPageList\u003E\u003CClearRange\u003E\u003CStart\u003E4096\u003C/Start\u003E\u003CEnd\u003E5119\u003C/End\u003E\u003C/ClearRange\u003E\u003C/PageList\u003E"
    },
    {
      "RequestUri": "https://seanstagetest.blob.core.windows.net/test-container-c1b645bc-4b05-4aee-adb4-a9008637907b?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 05 Mar 2020 21:22:14 GMT",
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-10-10"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1849416144",
    "Storage_TestConfigDefault": "ProductionTenant\nseanstagetest\nU2FuaXRpemVk\nhttps://seanstagetest.blob.core.windows.net\nhttp://seanstagetest.file.core.windows.net\nhttp://seanstagetest.queue.core.windows.net\nhttp://seanstagetest.table.core.windows.net\n\n\n\n\nhttp://seanstagetest-secondary.blob.core.windows.net\nhttp://seanstagetest-secondary.file.core.windows.net\nhttp://seanstagetest-secondary.queue.core.windows.net\nhttp://seanstagetest-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanstagetest.blob.core.windows.net/;QueueEndpoint=http://seanstagetest.queue.core.windows.net/;FileEndpoint=http://seanstagetest.file.core.windows.net/;BlobSecondaryEndpoint=http://seanstagetest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanstagetest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanstagetest-secondary.file.core.windows.net/;AccountName=seanstagetest;AccountKey=Sanitized\nseanscope1"
  }
}