{
  "Entries": [
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-ed09a684-c3e1-3d78-032c-6a2665da80b3?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 17 Jun 2019 20:57:22 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D6F36664BA16BB\u0022",
        "Last-Modified": "Mon, 17 Jun 2019 20:57:22 GMT",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-ed09a684-c3e1-3d78-032c-6a2665da80b3/test-blob-6b134260-084c-cf06-9ebc-052910142cfe",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "4096",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Mon, 17 Jun 2019 20:57:22 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D6F36664BC9175\u0022",
        "Last-Modified": "Mon, 17 Jun 2019 20:57:22 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-ed09a684-c3e1-3d78-032c-6a2665da80b3/test-blob-6b134260-084c-cf06-9ebc-052910142cfe?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 17 Jun 2019 20:57:22 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": "UoDFIsYVZ6878y\u002bJSiUWZD2d/gLM\u002bzJpPN8TaZOPp3GgWdaPTgk4N7jbosTIfOgyyw85ii4Z31ZOXObmAf4brEu96fFOhxYzZcdJ8FhuoMD24Z2DVR1Dh3mAQfEjUTa6wPV4CpP340T5BSVnz\u002b/937sm8CBgmFcuemF3zkYlEBSQjzBj9ZYs/v1Zik/327iKgmE1/WEVWSieSpAxgBX\u002b1PUR1kC/muol\u002bfEiBw0INp6p7Ezk7xKyezUHxasG\u002b37oWrZZ5gV4y\u002bh2DwRv81IalRPxiJPIGeTjXlsKt9Q\u002bH/5yOqxXrk\u002bYMCFkbd8OQoji7S\u002bXFHLqH0DRdoiqbRMTN/AF/bilwufDWFdyZKsE1BvSJ[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-ed09a684-c3e1-3d78-032c-6a2665da80b3/test-blob-6b134260-084c-cf06-9ebc-052910142cfe?comp=snapshot",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 17 Jun 2019 20:57:22 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D6F36664BF785B\u0022",
        "Last-Modified": "Mon, 17 Jun 2019 20:57:22 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-snapshot": "2019-06-17T20:57:22.2157581Z",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-ed09a684-c3e1-3d78-032c-6a2665da80b3/test-blob-6b134260-084c-cf06-9ebc-052910142cfe?comp=pagelist\u0026snapshot=2019-06-17T20%3A57%3A22.2477886Z\u0026prevsnapshot=2019-06-17T20%3A57%3A22.2157581Z",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 17 Jun 2019 20:57:22 GMT",
        "x-ms-range": "bytes=0-4095",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "ETag": "\u00220x8D6F36664C45B88\u0022",
        "Last-Modified": "Mon, 17 Jun 2019 20:57:22 GMT",
        "x-ms-blob-content-length": "4096",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": "\ufeff\u003c?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003e\u003cPageList\u003e\u003cPageRange\u003e\u003cStart\u003e2048\u003c/Start\u003e\u003cEnd\u003e3071\u003c/End\u003e\u003c/PageRange\u003e\u003c/PageList\u003e"
    },
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-ed09a684-c3e1-3d78-032c-6a2665da80b3?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 17 Jun 2019 20:57:22 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1524558876"
  }
}