{
  "Entries": [
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-423ae723-7402-89a3-d011-6a06be8d5fa8?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 01 Jul 2019 21:56:55 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D6FE6F0839418D\u0022",
        "Last-Modified": "Mon, 01 Jul 2019 21:56:55 GMT",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-423ae723-7402-89a3-d011-6a06be8d5fa8/test-blob-b3a564fe-7c5d-37a5-7cde-eaf9c3c9216c",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "4096",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Mon, 01 Jul 2019 21:56:55 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D6FE6F083B8D0E\u0022",
        "Last-Modified": "Mon, 01 Jul 2019 21:56:55 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-423ae723-7402-89a3-d011-6a06be8d5fa8/test-blob-b3a564fe-7c5d-37a5-7cde-eaf9c3c9216c?comp=pagelist",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 01 Jul 2019 21:56:55 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "ETag": "\u00220x8D6FE6F083B8D0E\u0022",
        "Last-Modified": "Mon, 01 Jul 2019 21:56:55 GMT",
        "x-ms-blob-content-length": "4096",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": "\ufeff\u003c?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003e\u003cPageList /\u003e"
    },
[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-87ebb560-c6c1-3d84-df91-3c77fb6d1cf0/test-blob-d9b39f34-e613-3c7f-167f-01fffe3fe874?comp=pagelist",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Modified-Since": "Sun, 30 Jun 2019 21:56:55 GMT",
        "x-ms-date": "Mon, 01 Jul 2019 21:56:55 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "ETag": "\u00220x8D6FE6F08437E42\u0022",
        "Last-Modified": "Mon, 01 Jul 2019 21:56:55 GMT",
        "x-ms-blob-content-length": "4096",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": "\ufeff\u003c?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003e\u003cPageList /\u003e"
    },
[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-85a01929-8cfc-9bba-f7ff-d64f3e7d256e/test-blob-83983cb0-4f03-ae4a-4872-1b420d86fce3?comp=pagelist",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Unmodified-Since": "Tue, 02 Jul 2019 21:56:55 GMT",
        "x-ms-date": "Mon, 01 Jul 2019 21:56:55 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "ETag": "\u00220x8D6FE6F084D44A4\u0022",
        "Last-Modified": "Mon, 01 Jul 2019 21:56:55 GMT",
        "x-ms-blob-content-length": "4096",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": "\ufeff\u003c?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003e\u003cPageList /\u003e"
    },
[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-cc150552-f9e6-2afe-eec3-b9c9a1ddbc0f/test-blob-23c4ab98-a14e-1137-19d1-3266ef4e6b69",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 01 Jul 2019 21:56:55 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D6FE6F08558406\u0022",
        "Last-Modified": "Mon, 01 Jul 2019 21:56:55 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Mon, 01 Jul 2019 21:56:55 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-tag-count": "0",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-cc150552-f9e6-2afe-eec3-b9c9a1ddbc0f/test-blob-23c4ab98-a14e-1137-19d1-3266ef4e6b69?comp=pagelist",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8D6FE6F08558406\u0022",
        "x-ms-date": "Mon, 01 Jul 2019 21:56:55 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "ETag": "\u00220x8D6FE6F08558406\u0022",
        "Last-Modified": "Mon, 01 Jul 2019 21:56:55 GMT",
        "x-ms-blob-content-length": "4096",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": "\ufeff\u003c?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003e\u003cPageList /\u003e"
    },
[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-eb2dcafb-0590-6300-ee3c-a8a78d0316a8/test-blob-33c277ea-e7b5-34bc-cec5-62e1cda8cf3b?comp=pagelist",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "\u0022garbage\u0022",
        "x-ms-date": "Mon, 01 Jul 2019 21:56:55 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "ETag": "\u00220x8D6FE6F085ED517\u0022",
        "Last-Modified": "Mon, 01 Jul 2019 21:56:55 GMT",
        "x-ms-blob-content-length": "4096",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": "\ufeff\u003c?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003e\u003cPageList /\u003e"
    },
[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-37548f1b-b9ea-1cf9-8572-da9659a0d533/test-blob-517b1433-ac85-566e-1e32-ba1aa42e07a0?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 01 Jul 2019 21:56:55 GMT",
        "x-ms-lease-action": "acquire",
        "x-ms-lease-duration": "-1",
        "x-ms-proposed-lease-id": "45638f53-8324-ecad-214c-7931af2b68a2",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D6FE6F08687460\u0022",
        "Last-Modified": "Mon, 01 Jul 2019 21:56:55 GMT",
        "x-ms-lease-id": "45638f53-8324-ecad-214c-7931af2b68a2",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-37548f1b-b9ea-1cf9-8572-da9659a0d533?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 01 Jul 2019 21:56:55 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2019-07-01T14:56:55.2290801-07:00",
    "RandomSeed": "491615518"
  }
}