{
  "Entries": [
    {
      "RequestUri": "https://0c2xscnapby3pev24a.blob.preprod.core.windows.net/test-container-871a11ab-82c3-067e-9eee-c684b23fdece?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Fri, 07 Jan 2022 19:36:32 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9D2150269E12C\u0022",
        "Last-Modified": "Fri, 07 Jan 2022 19:36:32 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://0c2xscnapby3pev24a.blob.preprod.core.windows.net/test-container-871a11ab-82c3-067e-9eee-c684b23fdece/test-blob-e5a70c69-80dd-1c95-9f63-569c587e8713",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-content-length": "4096",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Fri, 07 Jan 2022 19:36:33 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9D21502737050\u0022",
        "Last-Modified": "Fri, 07 Jan 2022 19:36:32 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://0c2xscnapby3pev24a.blob.preprod.core.windows.net/test-container-871a11ab-82c3-067e-9eee-c684b23fdece/test-blob-e5a70c69-80dd-1c95-9f63-569c587e8713?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Fri, 07 Jan 2022 19:36:33 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-4095",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": "spHOjEtmQKQjmZrFCocxre4cpgPpFDBcglF3A0lmHmpArFxZIujukBTxTkm7bk7LXs2T0zrT351gcgr67z1avHsvhF0r14sGLhbu98bnoBQCq6R800owbM2\u002B\u002BLDd86HXlpHNjOnxoIdBjaUk5ejXedH2\u002BEOY3ukx/xiQbN/bKDp1FmE0GhQqEQodO0WlDIbk537e5/tdPrinnIzQYDSnZmRqrs\u002BGol\u002B8y\u002BY4e6Oji/ORq4Rg/EE\u002BF9epjH2HWrDWddThOl23XkQfIhsVJcMUBBCZP7SvR2kjLJf33RbhNXE2YQbOwlCW2U1AQNolKfIUlIht7hr7Ji1rvQ7Gv4AuPe2q3sO9RkHAA2VnbweP/QOk40mOdEZWOjvYYwRC[...]
    {
      "RequestUri": "https://0c2xscnapby3pev24a.blob.preprod.core.windows.net/test-container-871a11ab-82c3-067e-9eee-c684b23fdece/test-blob-e5a70c69-80dd-1c95-9f63-569c587e8713?comp=snapshot",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jan 2022 19:36:33 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9D215027C70E5\u0022",
        "Last-Modified": "Fri, 07 Jan 2022 19:36:32 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-snapshot": "2022-01-07T19:36:32.8081869Z",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://0c2xscnapby3pev24a.blob.preprod.core.windows.net/test-container-871a11ab-82c3-067e-9eee-c684b23fdece/test-blob-e5a70c69-80dd-1c95-9f63-569c587e8713?comp=pagelist\u0026snapshot=2022-01-07T19%3A36%3A33.0981852Z\u0026prevsnapshot=2022-01-07T19%3A36%3A32.8081869Z",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jan 2022 19:36:33 GMT",
        "x-ms-range": "bytes=0-2047",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "ETag": "\u00220x8D9D21502A7EDE1\u0022",
        "Last-Modified": "Fri, 07 Jan 2022 19:36:33 GMT",
        "x-ms-blob-content-length": "4096",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\n",
        "\u003CPageList\u003E\u003CPageRange\u003E\u003CStart\u003E0\u003C/Start\u003E\u003CEnd\u003E1023\u003C/End\u003E\u003C/PageRange\u003E\u003CClearRange\u003E\u003CStart\u003E1024\u003C/Start\u003E\u003CEnd\u003E2047\u003C/End\u003E\u003C/ClearRange\u003E\u003C/PageList\u003E"
      ]
    },
    {
      "RequestUri": "https://0c2xscnapby3pev24a.blob.preprod.core.windows.net/test-container-871a11ab-82c3-067e-9eee-c684b23fdece?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jan 2022 19:36:33 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1626105759",
    "Storage_TestConfigDefault": "ProductionTenant\n0c2xscnapby3pev24a\nU2FuaXRpemVk\nhttps://0c2xscnapby3pev24a.blob.preprod.core.windows.net\nhttps://0c2xscnapby3pev24a.file.preprod.core.windows.net\nhttps://0c2xscnapby3pev24a.queue.core.windows.net\nhttps://0c2xscnapby3pev24a.table.core.windows.net\n\n\n\n\nhttps://0c2xscnapby3pev24a-secondary.blob.core.windows.net\nhttps://0c2xscnapby3pev24a-secondary.file.core.windows.net\nhttps://0c2xscnapby3pev24a-secondary.queue.core.windows.net\nhttps://0c2xscnapby3pev24a-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://0c2xscnapby3pev24a.blob.preprod.core.windows.net/;QueueEndpoint=https://0c2xscnapby3pev24a.queue.core.windows.net/;FileEndpoint=https://0c2xscnapby3pev24a.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://0c2xscnapby3pev24a-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://0c2xscnapby3pev24a-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://0c2xscnapby3pev24a-secondary.file.core.windows.net/;AccountName=0c2xscnapby3pev24a;AccountKey=Kg==;\nseanscope1\n\n"
  }
}