{
  "Entries": [
    {
      "RequestUri": "https://storagedotnettesting.blob.core.windows.net/test-container-aa561a08-33ea-ffd0-4b87-624b70402241?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 01 Oct 2020 23:01:19 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8665DE8A14E2E\u0022",
        "Last-Modified": "Thu, 01 Oct 2020 23:01:19 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://storagedotnettesting.blob.core.windows.net/test-container-aa561a08-33ea-ffd0-4b87-624b70402241/test-blob-15a3008b-edb5-18af-162d-345dd9d03a01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-content-length": "4096",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Thu, 01 Oct 2020 23:01:19 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8665DE8A6049B\u0022",
        "Last-Modified": "Thu, 01 Oct 2020 23:01:19 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://storagedotnettesting.blob.core.windows.net/test-container-aa561a08-33ea-ffd0-4b87-624b70402241/test-blob-15a3008b-edb5-18af-162d-345dd9d03a01?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 01 Oct 2020 23:01:19 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": "gSmfLu1bcrfwePmTY9FSCqjKx4hbdVs7Ot93Bp0Ksholj12cbFZ9Ot691C4hpdtTPixcrjpznwvNZPQN5Gsa5sXebtRztp1RTIyqnqEtGpUEI8hwrQTgsfBRzghicFZyou1oQjYG34ePC2GtyQBqoEleCMCjqTnB/r3kIuiU7tw2N/u0xddf/kRA4aGjMufv5y2/BGeVz/izpkR4Ir2f\u002BhyEd5EFtdty/wl8YsiXHsvW9Dq61ep1oGgCAB6S5tyHoOaFH7tV6jJSTQVeGWwvHIh5oi2D5SUyD9YpArW93xgt9MHiEv4PgAoIaIjlF4b70uSVGUSvBLvBUxDlLOd8lG3sMCSrTQmJaSEien2cTPhPLS/QJ8XUfvAGIb/uKlQji9Ma\u002BOZiUIXaDLAijIk\u[...]
    {
      "RequestUri": "https://storagedotnettesting.blob.core.windows.net/test-container-aa561a08-33ea-ffd0-4b87-624b70402241/test-blob-15a3008b-edb5-18af-162d-345dd9d03a01?comp=snapshot",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 01 Oct 2020 23:01:19 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8665DE8AA2443\u0022",
        "Last-Modified": "Thu, 01 Oct 2020 23:01:19 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-snapshot": "2020-10-01T23:01:19.4631615Z",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://storagedotnettesting.blob.core.windows.net/test-container-aa561a08-33ea-ffd0-4b87-624b70402241/test-blob-15a3008b-edb5-18af-162d-345dd9d03a01?comp=pagelist\u0026prevsnapshot=2020-10-01T23%3A01%3A19.4631615Z",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 01 Oct 2020 23:01:19 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "ETag": "\u00220x8D8665DE8B4D533\u0022",
        "Last-Modified": "Thu, 01 Oct 2020 23:01:19 GMT",
        "x-ms-blob-content-length": "4096",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CPageList /\u003E"
    },
[...]
    {
      "RequestUri": "https://storagedotnettesting.blob.core.windows.net/test-container-198be213-a72c-1834-a059-2d22564ca506/test-blob-fdf35485-5055-6e03-e72c-b86dc0665b7f?comp=pagelist\u0026prevsnapshot=2020-10-01T23%3A01%3A19.8004808Z",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Modified-Since": "Wed, 30 Sep 2020 23:01:19 GMT",
        "x-ms-date": "Thu, 01 Oct 2020 23:01:19 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "ETag": "\u00220x8D8665DE8E53FBF\u0022",
        "Last-Modified": "Thu, 01 Oct 2020 23:01:19 GMT",
        "x-ms-blob-content-length": "4096",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CPageList /\u003E"
    },
[...]
    {
      "RequestUri": "https://storagedotnettesting.blob.core.windows.net/test-container-618dd14a-4f09-112e-75fe-b012f7022ea1/test-blob-047918f9-51ed-0d79-8cd5-5fe39a03b24f?comp=pagelist\u0026prevsnapshot=2020-10-01T23%3A01%3A20.1117752Z",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Unmodified-Since": "Fri, 02 Oct 2020 23:01:19 GMT",
        "x-ms-date": "Thu, 01 Oct 2020 23:01:20 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "ETag": "\u00220x8D8665DE915AA4F\u0022",
        "Last-Modified": "Thu, 01 Oct 2020 23:01:20 GMT",
        "x-ms-blob-content-length": "4096",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CPageList /\u003E"
    },
[...]
    {
      "RequestUri": "https://storagedotnettesting.blob.core.windows.net/test-container-8b9a82e9-d145-053a-0b9b-63b64a673d05/test-blob-a50e7371-c977-2ab7-4d2d-9b8a524360d3",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 01 Oct 2020 23:01:20 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D8665DE9569399\u0022",
        "Last-Modified": "Thu, 01 Oct 2020 23:01:20 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Thu, 01 Oct 2020 23:01:20 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://storagedotnettesting.blob.core.windows.net/test-container-8b9a82e9-d145-053a-0b9b-63b64a673d05/test-blob-a50e7371-c977-2ab7-4d2d-9b8a524360d3?comp=pagelist\u0026prevsnapshot=2020-10-01T23%3A01%3A20.5441837Z",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8D8665DE9569399\u0022",
        "x-ms-date": "Thu, 01 Oct 2020 23:01:20 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "ETag": "\u00220x8D8665DE9569399\u0022",
        "Last-Modified": "Thu, 01 Oct 2020 23:01:20 GMT",
        "x-ms-blob-content-length": "4096",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CPageList /\u003E"
    },
[...]
    {
      "RequestUri": "https://storagedotnettesting.blob.core.windows.net/test-container-ef7bc3f6-deb4-f2b9-77ff-bde941bd314c/test-blob-ef9f754c-8043-bb85-b323-a64b2f707857?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 01 Oct 2020 23:01:21 GMT",
        "x-ms-lease-action": "acquire",
        "x-ms-lease-duration": "-1",
        "x-ms-proposed-lease-id": "b4667d8f-017b-c243-16bd-35474bbc593d",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8665DE9CF3C23\u0022",
        "Last-Modified": "Thu, 01 Oct 2020 23:01:21 GMT",
        "x-ms-lease-id": "b4667d8f-017b-c243-16bd-35474bbc593d",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://storagedotnettesting.blob.core.windows.net/test-container-ef7bc3f6-deb4-f2b9-77ff-bde941bd314c?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 01 Oct 2020 23:01:21 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2020-10-01T16:01:19.2746548-07:00",
    "RandomSeed": "314147769",
    "Storage_TestConfigDefault": "ProductionTenant\nstoragedotnettesting\nU2FuaXRpemVk\nhttps://storagedotnettesting.blob.core.windows.net\nhttps://storagedotnettesting.file.core.windows.net\nhttps://storagedotnettesting.queue.core.windows.net\nhttps://storagedotnettesting.table.core.windows.net\n\n\n\n\nhttps://storagedotnettesting-secondary.blob.core.windows.net\nhttps://storagedotnettesting-secondary.file.core.windows.net\nhttps://storagedotnettesting-secondary.queue.core.windows.net\nhttps://storagedotnettesting-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://storagedotnettesting.blob.core.windows.net/;QueueEndpoint=https://storagedotnettesting.queue.core.windows.net/;FileEndpoint=https://storagedotnettesting.file.core.windows.net/;BlobSecondaryEndpoint=https://storagedotnettesting-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://storagedotnettesting-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://storagedotnettesting-secondary.file.core.windows.net/;AccountName=storagedotnettesting;AccountKey=Kg==;\n"
  }
}