{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-60fa47c8-9876-f5aa-3a2c-0db3b29fefcb?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Fri, 03 Apr 2020 00:03:36 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7D762747CBEFA\u0022",
        "Last-Modified": "Fri, 03 Apr 2020 00:03:35 GMT",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-60fa47c8-9876-f5aa-3a2c-0db3b29fefcb/test-blob-978d1e21-3b87-39ab-dc0b-fdfec39e642c",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "6144",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Fri, 03 Apr 2020 00:03:36 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7D76274895C87\u0022",
        "Last-Modified": "Fri, 03 Apr 2020 00:03:35 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-60fa47c8-9876-f5aa-3a2c-0db3b29fefcb/test-blob-978d1e21-3b87-39ab-dc0b-fdfec39e642c?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 03 Apr 2020 00:03:36 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-2047",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": "\u002B64atU/VTFEoTMPJUySExUE3zzqz8avcWCTcmYwteNzXI4sG/RV1WTyZSjSYTdZw4n2IkCisEQoDPVwr\u002BbPE\u002B9Tn8i\u002BZfccswXX9GaZ2QwtOa7YPpOezKhGAA7\u002B4SmCJ1E9gsVum12S2W8\u002BzrvhjjPlR3I38tVbtM8ceGHoHdHYUc0RXFpKwqJRSWEkYAHsZHXfGZm7TjR75c32TiL7qrudYnjuzDHVnoTT4qVwN1TNLBPsCQQ0IQeYlXaMUHB/WaKphv2FAZREBXsQ52uTB7J5KR4PD52zaUF1Uja7SU4UUIUGyqxXSC57pAeNIzmYCZHEFytScE4A9h28D69hiLgs/JbiiD0CIdzzk2eWJkYH2Uik8zYiweA7AdCSmzh/Gh[...]
[...]
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-60fa47c8-9876-f5aa-3a2c-0db3b29fefcb/test-blob-978d1e21-3b87-39ab-dc0b-fdfec39e642c?comp=snapshot",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 03 Apr 2020 00:03:36 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7D76274A155B3\u0022",
        "Last-Modified": "Fri, 03 Apr 2020 00:03:35 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-snapshot": "2020-04-03T00:03:36.0552270Z",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-60fa47c8-9876-f5aa-3a2c-0db3b29fefcb/test-blob-978d1e21-3b87-39ab-dc0b-fdfec39e642c?comp=pagelist",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 03 Apr 2020 00:03:37 GMT",
        "x-ms-range": "bytes=0-6143",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "ETag": "\u00220x8D7D76274BE7FFA\u0022",
        "Last-Modified": "Fri, 03 Apr 2020 00:03:36 GMT",
        "x-ms-blob-content-length": "6144",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CPageList\u003E\u003CPageRange\u003E\u003CStart\u003E0\u003C/Start\u003E\u003CEnd\u003E2047\u003C/End\u003E\u003C/PageRange\u003E\u003CPageRange\u003E\u003CStart\u003E5120\u003C/Start\u003E\u003CEnd\u003E6143\u003C/End\u003E\u003C/PageRange\u003E\u003C/PageList\u003E"
    },
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-60fa47c8-9876-f5aa-3a2c-0db3b29fefcb/test-blob-978d1e21-3b87-39ab-dc0b-fdfec39e642c?comp=pagelist\u0026prevsnapshot=2020-04-03T00%3A03%3A36.0552270Z",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 03 Apr 2020 00:03:37 GMT",
        "x-ms-range": "bytes=0-6143",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "ETag": "\u00220x8D7D76274BE7FFA\u0022",
        "Last-Modified": "Fri, 03 Apr 2020 00:03:36 GMT",
        "x-ms-blob-content-length": "6144",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CPageList\u003E\u003CClearRange\u003E\u003CStart\u003E4096\u003C/Start\u003E\u003CEnd\u003E5119\u003C/End\u003E\u003C/ClearRange\u003E\u003C/PageList\u003E"
    },
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-60fa47c8-9876-f5aa-3a2c-0db3b29fefcb?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 03 Apr 2020 00:03:37 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1119198656",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary\nU2FuaXRpemVk\nhttps://seanmcccanary.blob.core.windows.net\nhttps://seanmcccanary.file.core.windows.net\nhttps://seanmcccanary.queue.core.windows.net\nhttps://seanmcccanary.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary-secondary.blob.core.windows.net\nhttps://seanmcccanary-secondary.file.core.windows.net\nhttps://seanmcccanary-secondary.queue.core.windows.net\nhttps://seanmcccanary-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary.queue.core.windows.net/;FileEndpoint=https://seanmcccanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary-secondary.file.core.windows.net/;AccountName=seanmcccanary;AccountKey=Sanitized\nseanscope1"
  }
}