{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-a9225dae-60b6-8c91-f663-44f06e40d099?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 17 Feb 2021 19:03:23 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8D8D376B3450DDB\"",
        "Last-Modified": "Wed, 17 Feb 2021 19:03:24 GMT",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-a9225dae-60b6-8c91-f663-44f06e40d099/test-blob-fbda52df-98c0-416b-984b-45e203798ed7",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-content-length": "4096",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Wed, 17 Feb 2021 19:03:24 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8D8D376B34FBFA5\"",
        "Last-Modified": "Wed, 17 Feb 2021 19:03:24 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-04-10",
        "x-ms-version-id": "2021-02-17T19:03:24.0884922Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-a9225dae-60b6-8c91-f663-44f06e40d099/test-blob-fbda52df-98c0-416b-984b-45e203798ed7?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 17 Feb 2021 19:03:24 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": "VdiIyOMnivqpqGIT4KuDGvRIds1C4pMT6rF+O5MEZBUID2nl9o0YRKo9ApxHuPIW3jevhAzWZnNEdN4yqE5npERMC9BCniRnMDIjBOD3yzG+aF1bVd8JMan2oIGv5ptb1l1X+60h0z8TSFTas2GSTaisdEDxC09lQ9onS/6it0mXxy6Dn9CEnJQeRwyKLn5IZFLZAnJaasoN8rjT+odAcZAKQusyD67YKNer08NC2hRb3uesyLTXPFxjdawXsaEN3dZ7f+ySFVWjAdqar5cGyxikdxyflKjcMwaOzpkBwHc2nvXtx1ooyciSCMbaPY3FXaqUczmFbUktn0zlA0a7oUBiZBCiGQO+fK5TDYvhAfZ5yXHvbU09sDGsvycNQsWC12eGd9h8I0Sm1vaLMl+9TJ1WbDrVyzP[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-a9225dae-60b6-8c91-f663-44f06e40d099/test-blob-fbda52df-98c0-416b-984b-45e203798ed7?comp=snapshot",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 19:03:24 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8D8D376B35A48E3\"",
        "Last-Modified": "Wed, 17 Feb 2021 19:03:24 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-snapshot": "2021-02-17T19:03:24.2145818Z",
        "x-ms-version": "2021-04-10",
        "x-ms-version-id": "2021-02-17T19:03:24.2155818Z"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-a9225dae-60b6-8c91-f663-44f06e40d099/test-blob-fbda52df-98c0-416b-984b-45e203798ed7?comp=pagelist&prevsnapshot=2021-02-17T19%3A03%3A24.2145818Z",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Modified-Since": "Thu, 18 Feb 2021 19:03:23 GMT",
        "x-ms-date": "Wed, 17 Feb 2021 19:03:24 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 304,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-c445ba01-9799-d54f-3398-52808f775c55/test-blob-c369f10c-4627-9734-80e3-827f4f494990?comp=pagelist&prevsnapshot=2021-02-17T19%3A03%3A24.8820608Z",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Unmodified-Since": "Tue, 16 Feb 2021 19:03:23 GMT",
        "x-ms-date": "Wed, 17 Feb 2021 19:03:24 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": [
        "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ConditionNotMet</Code><Message>The condition specified using HTTP conditional header(s) is not met.\n",
        "RequestId:9c04eb20-e01e-003c-355f-05f305000000\n",
        "Time:2021-02-17T19:03:25.0246124Z</Message></Error>"
      ]
    },
[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-a207133a-6d37-2b46-29b6-0b3695226691/test-blob-e0797a54-2ba2-9f81-a133-2d797430fcfd?comp=pagelist&prevsnapshot=2021-02-17T19%3A03%3A25.4714829Z",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"garbage\"",
        "x-ms-date": "Wed, 17 Feb 2021 19:03:25 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": [
        "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ConditionNotMet</Code><Message>The condition specified using HTTP conditional header(s) is not met.\n",
        "RequestId:aec1fe4e-701e-0087-3d5f-0549a7000000\n",
        "Time:2021-02-17T19:03:25.5859100Z</Message></Error>"
      ]
    },
[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-1a57c459-7b41-24d6-4a18-ca888d40619b/test-blob-60d760a7-b0c6-0721-5508-4fb9bd8b3452",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 19:03:26 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8D8D376B48A4DFC\"",
        "Last-Modified": "Wed, 17 Feb 2021 19:03:26 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Wed, 17 Feb 2021 19:03:25 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-04-10",
        "x-ms-version-id": "2021-02-17T19:03:26.0909224Z"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-ab44f4f9-e31b-0698-2172-9c96c7640c88/test-blob-d92ce05a-b31e-d39d-9141-60175f2a7401?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 19:03:26 GMT",
        "x-ms-lease-action": "acquire",
        "x-ms-lease-duration": "-1",
        "x-ms-proposed-lease-id": "91bb82e0-f0a4-fa8c-c352-7611b4ec9952",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8D8D376B4F99EFB\"",
        "Last-Modified": "Wed, 17 Feb 2021 19:03:26 GMT",
        "x-ms-lease-id": "91bb82e0-f0a4-fa8c-c352-7611b4ec9952",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-ab44f4f9-e31b-0698-2172-9c96c7640c88?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 19:03:27 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2021-02-17T13:03:23.7981822-06:00",
    "RandomSeed": "1612450628",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\nseanscope1\n\n"
  }
}