{
  "Entries": [
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-74703e78-5857-ba45-666b-a2a093ac33a8?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 17 Jul 2019 02:08:06 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D70A5B9B89C8E7\u0022",
        "Last-Modified": "Wed, 17 Jul 2019 02:08:06 GMT",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-74703e78-5857-ba45-666b-a2a093ac33a8/test-blob-5b370c4e-a00b-bcdd-f09e-e1da8bc418ca",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "4096",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Wed, 17 Jul 2019 02:08:06 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D70A5B9B921423\u0022",
        "Last-Modified": "Wed, 17 Jul 2019 02:08:06 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-74703e78-5857-ba45-666b-a2a093ac33a8/test-blob-5b370c4e-a00b-bcdd-f09e-e1da8bc418ca?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Jul 2019 02:08:06 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": "oc5Rh3XXna3bo4XDEv/NZY0fRGQ6zwyyR7L39FYsTebnwDm8cpFVHwFdHiMWAXFkSeQkTsVS5tHCnz/C4KhXrlWe21LGEPP7yiRj3bDom0ZBk6pxCP4hlNln\u002btJRkj9YBXDNeCUenjjxKISg7wgg2gT5gUz95aZXfUd4XhYgqjjlC9dAGiIgIvVxgN96gKXQRh/NWBHyWiDJdvvepT8i0H5MuuMx38Dh2F9XjGXH3PyhqBj2UlEm87C3d6MnQny1T69hLsXBn2Zf7H\u002bym866Apr\u002bPP0nK30sJccyemgcupbioTy1Za033wixlmbSdFfi/HUIKAZ\u002bjiMxNAn9jyX\u002bQjHoz/mRBZzsx1z0dZQXWbBvUH3yFJGQYxMYgzCkOVDjs1Q16q[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-74703e78-5857-ba45-666b-a2a093ac33a8/test-blob-5b370c4e-a00b-bcdd-f09e-e1da8bc418ca?comp=snapshot",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Jul 2019 02:08:06 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D70A5B9B98A567\u0022",
        "Last-Modified": "Wed, 17 Jul 2019 02:08:06 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-snapshot": "2019-07-17T02:08:06.5358883Z",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-74703e78-5857-ba45-666b-a2a093ac33a8/test-blob-5b370c4e-a00b-bcdd-f09e-e1da8bc418ca?comp=pagelist\u0026snapshot=2019-07-17T02%3A08%3A06.5779282Z\u0026prevsnapshot=2019-07-17T02%3A08%3A06.5358883Z",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Jul 2019 02:08:06 GMT",
        "x-ms-range": "bytes=0-4095",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "ETag": "\u00220x8D70A5B9BA1F68A\u0022",
        "Last-Modified": "Wed, 17 Jul 2019 02:08:06 GMT",
        "x-ms-blob-content-length": "4096",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": "\ufeff\u003c?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003e\u003cPageList\u003e\u003cPageRange\u003e\u003cStart\u003e2048\u003c/Start\u003e\u003cEnd\u003e3071\u003c/End\u003e\u003c/PageRange\u003e\u003c/PageList\u003e"
    },
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-74703e78-5857-ba45-666b-a2a093ac33a8?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Jul 2019 02:08:06 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1405273441",
    "Storage_TestConfigDefault": "ProductionTenant\nstorageteglazatesting\nU2FuaXRpemVk\nhttp://storageteglazatesting.blob.core.windows.net\nhttp://storageteglazatesting.file.core.windows.net\nhttp://storageteglazatesting.queue.core.windows.net\nhttp://storageteglazatesting.table.core.windows.net\n\n\n\n\nhttp://storageteglazatesting-secondary.blob.core.windows.net\n\nhttp://storageteglazatesting-secondary.queue.core.windows.net\nhttp://storageteglazatesting-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://storageteglazatesting.blob.core.windows.net/;QueueEndpoint=http://storageteglazatesting.queue.core.windows.net/;TableEndpoint=http://storageteglazatesting.table.core.windows.net/;FileEndpoint=http://storageteglazatesting.file.core.windows.net/;BlobSecondaryEndpoint=http://storageteglazatesting-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://storageteglazatesting-secondary.queue.core.windows.net/;TableSecondaryEndpoint=http://storageteglazatesting-secondary.table.core.windows.net/;AccountName=storageteglazatesting;AccountKey=Sanitized"
  }
}