{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-31adc0ba-6660-0b85-517d-c6a8e7b799cb?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 17 Feb 2021 02:23:22 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D2EAFFBEC6DC\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 02:23:22 GMT",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-31adc0ba-6660-0b85-517d-c6a8e7b799cb/test-blob-400928aa-d795-4170-0cd5-307e5a910a91",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-content-length": "4096",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Wed, 17 Feb 2021 02:23:22 GMT",
        "x-ms-encryption-algorithm": "AES256",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D2EAFFCA1B93\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 02:23:22 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-06-12",
        "x-ms-version-id": "2021-02-17T02:23:22.8540819Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-31adc0ba-6660-0b85-517d-c6a8e7b799cb/test-blob-400928aa-d795-4170-0cd5-307e5a910a91?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 17 Feb 2021 02:23:22 GMT",
        "x-ms-encryption-algorithm": "AES256",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": "hawANlRILVcYnYQguTEHc7EMkIRHMtr4yELfmRcqfl1fLrmNmO7Ppajyvxmdk42ZZscz4M6QqFPSB20RaZM/7R8mwYt4edrDPOvbVXLBWzW1RTNQ9p2Pz4Vmu5CAvjsVstH5dtEBIe3scKTitFPgEKw4WyRg7/eBl/IGEb1JQn6wxqKhx\u002BRjsyNGY4b5rRoxhqvkSGIXtMLaeN/f\u002Bw8voi4lMu2wP0jI1KcAGotxh\u002BnY1IsSZfobmRLfxk8EhLgTFsBY03osgEZiG3O6Fpo2afD1BieDHD0zCZnb0Hj5w1Dv7APLGLNvq1NEsEmGYIJ3qV1eD32Qj/qDJMnhUa/OaVgjyymWa1A8hlvUP2zzrakWYycbmrTTXl0JR/TqjVmjdkfxY5VZ4T0MIYgh[...]
[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-31adc0ba-6660-0b85-517d-c6a8e7b799cb/test-blob-400928aa-d795-4170-0cd5-307e5a910a91?comp=pagelist",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 02:23:22 GMT",
        "x-ms-range": "bytes=0-4095",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "ETag": "\u00220x8D8D2EAFFDD58F4\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 02:23:22 GMT",
        "x-ms-blob-content-length": "4096",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CPageList\u003E\u003CPageRange\u003E\u003CStart\u003E0\u003C/Start\u003E\u003CEnd\u003E1023\u003C/End\u003E\u003C/PageRange\u003E\u003CPageRange\u003E\u003CStart\u003E2048\u003C/Start\u003E\u003CEnd\u003E3071\u003C/End\u003E\u003C/PageRange\u003E\u003C/PageList\u003E"
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-31adc0ba-6660-0b85-517d-c6a8e7b799cb?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 02:23:22 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1679413018",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\nseanscope1"
  }
}