{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-74703e78-5857-ba45-666b-a2a093ac33a8?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 17 Feb 2021 19:00:55 GMT"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D3765B0F5725\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 19:00:56 GMT"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-74703e78-5857-ba45-666b-a2a093ac33a8/test-blob-f90a9ef7-9cc7-84c4-6317-4ab16e09b720",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-content-length": "4096",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Wed, 17 Feb 2021 19:00:56 GMT"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D3765B1A6CE1\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 19:00:56 GMT",
        "x-ms-request-server-encrypted": "true",
         "x-ms-version": "2020-08-04",
        "x-ms-version-id": "2021-02-17T19:00:56.0985313Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-74703e78-5857-ba45-666b-a2a093ac33a8/test-blob-f90a9ef7-9cc7-84c4-6317-4ab16e09b720?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 17 Feb 2021 19:00:56 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023"
      },
      "RequestBody": "58A5vHKRVR8BXR4jFgFxZEnkJE7FUubRwp8/wuCoV65VnttSxhDz\u002B8okY92w6JtGQZOqcQj\u002BIZTZZ/rSUZI/WAVwzXglHp448SiEoO8IINoE\u002BYFM/eWmV31HeF4WIKo45QvXQBoiICL1cYDfeoCl0EYfzVgR8logyXb73qU/ItB\u002BTLrjMd/A4dhfV4xlx9z8oagY9lJRJvOwt3ejJ0J8tU\u002BvYS7FwZ9mX\u002Bx/spvOugKa/jz9Jyt9LCXHMnpoHLqW4qE8tWWtN98IsZZm0nRX4vx1CCgGfo4jMTQJ/Y8l/kIx6M/5kQWc7Mdc9HWUF1mwb1B98hSRkGMTGIMwpDlQ47NUNeqlXlD32RthqYkYjxrbWY0\u002Bpwsun1hr5XiBa0iNCxHCQOFvCxH/hhn4MOfa\u002B4loVUqrE[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-74703e78-5857-ba45-666b-a2a093ac33a8/test-blob-f90a9ef7-9cc7-84c4-6317-4ab16e09b720?comp=snapshot",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 19:00:56 GMT"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D3765B240B93\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 19:00:56 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-snapshot": "2021-02-17T19:00:56.2266218Z",
         "x-ms-version": "2020-08-04",
        "x-ms-version-id": "2021-02-17T19:00:56.2276218Z"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-74703e78-5857-ba45-666b-a2a093ac33a8/test-blob-f90a9ef7-9cc7-84c4-6317-4ab16e09b720?comp=pagelist\u0026snapshot=2021-02-17T19%3A00%3A56.3607177Z\u0026prevsnapshot=2021-02-17T19%3A00%3A56.2266218Z",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 19:00:56 GMT",
        "x-ms-range": "bytes=0-4095"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "ETag": "\u00220x8D8D3765B38CFE5\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 19:00:56 GMT",
        "x-ms-blob-content-length": "4096"
      },
      "ResponseBody": "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CPageList\u003E\u003CPageRange\u003E\u003CStart\u003E2048\u003C/Start\u003E\u003CEnd\u003E3071\u003C/End\u003E\u003C/PageRange\u003E\u003C/PageList\u003E"
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-74703e78-5857-ba45-666b-a2a093ac33a8?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 19:00:56 GMT"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1405273441",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\nseanscope1"
  }
}