{
  "Entries": [
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-247a89aa-f97f-9bc0-1110-99c88d189469?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Fri, 12 Jul 2019 17:56:35 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D706F247CC819B\u0022",
        "Last-Modified": "Fri, 12 Jul 2019 17:56:35 GMT",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-247a89aa-f97f-9bc0-1110-99c88d189469/test-blob-91ebfe1f-fb19-8834-436b-b3ffc3a48f09",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "4096",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Fri, 12 Jul 2019 17:56:35 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D706F247CEBD61\u0022",
        "Last-Modified": "Fri, 12 Jul 2019 17:56:35 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-247a89aa-f97f-9bc0-1110-99c88d189469/test-blob-91ebfe1f-fb19-8834-436b-b3ffc3a48f09?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 12 Jul 2019 17:56:35 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": "7nGojywCUA\u002b1zjW\u002bXdjdpNLgcT6NzHzPAVHfQB8XeRhgCxFS\u002bwDcIgLMoN0aPzzZ\u002bjdJLrnMGSH02I7bIg/vnVUcXVLGi6jSA048wSyftcIVBkXozkpek/HvXiJyAf/y3AKH/uHpE2\u002bPdyprkFj1VCPMxRzKB88Kvclg1yyFXwFPSeUqF7bgK/LVWVYf8wOZ\u002bgn\u002bpjvjKNUyfUAYiTtCCRcpG0dzyz1t65op9K146srGx90jhrnFayEP95p2yKK3klA/9te7Ji/MkbqhujMnupJ2UcJeH4JeY7AlY9Oi9iL4cmFdOfPyCqCuVvX\u002bJLHt6DwHAHfgWHLN4JMnlsJbKpqYqUjSyYGeg0YhsMmMYD7/OHuXm/arGBr[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-247a89aa-f97f-9bc0-1110-99c88d189469/test-blob-91ebfe1f-fb19-8834-436b-b3ffc3a48f09?comp=snapshot",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 12 Jul 2019 17:56:35 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D706F247D09294\u0022",
        "Last-Modified": "Fri, 12 Jul 2019 17:56:35 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-snapshot": "2019-07-12T17:56:35.3058297Z",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-247a89aa-f97f-9bc0-1110-99c88d189469/test-blob-91ebfe1f-fb19-8834-436b-b3ffc3a48f09?comp=pagelist\u0026snapshot=2019-07-12T17%3A56%3A35.3308535Z\u0026prevsnapshot=2019-07-12T17%3A56%3A35.3058297Z",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 12 Jul 2019 17:56:35 GMT",
        "x-ms-range": "bytes=0-4095",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "ETag": "\u00220x8D706F247D4640D\u0022",
        "Last-Modified": "Fri, 12 Jul 2019 17:56:35 GMT",
        "x-ms-blob-content-length": "4096",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": "\ufeff\u003c?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003e\u003cPageList\u003e\u003cPageRange\u003e\u003cStart\u003e2048\u003c/Start\u003e\u003cEnd\u003e3071\u003c/End\u003e\u003c/PageRange\u003e\u003c/PageList\u003e"
    },
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-247a89aa-f97f-9bc0-1110-99c88d189469?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 12 Jul 2019 17:56:35 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "298139906",
    "Storage_TestConfigDefault": "ProductionTenant\nstorageteglazatesting\nU2FuaXRpemVk\nhttp://storageteglazatesting.blob.core.windows.net\nhttp://storageteglazatesting.file.core.windows.net\nhttp://storageteglazatesting.queue.core.windows.net\nhttp://storageteglazatesting.table.core.windows.net\n\n\n\n\nhttp://storageteglazatesting-secondary.blob.core.windows.net\n\nhttp://storageteglazatesting-secondary.queue.core.windows.net\nhttp://storageteglazatesting-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://storageteglazatesting.blob.core.windows.net/;QueueEndpoint=http://storageteglazatesting.queue.core.windows.net/;TableEndpoint=http://storageteglazatesting.table.core.windows.net/;FileEndpoint=http://storageteglazatesting.file.core.windows.net/;BlobSecondaryEndpoint=http://storageteglazatesting-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://storageteglazatesting-secondary.queue.core.windows.net/;TableSecondaryEndpoint=http://storageteglazatesting-secondary.table.core.windows.net/;AccountName=storageteglazatesting;AccountKey=Sanitized"
  }
}