{
  "Entries": [
    {
      "RequestUri": "http://md-58xxscnapsn4prde16j.blob.preprod.core.windows.net/test-container-880c4024-9da3-fffa-521b-12984f36c222?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Fri, 13 Dec 2019 00:16:08 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D77F61A727B601\u0022",
        "Last-Modified": "Fri, 13 Dec 2019 00:16:08 GMT",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://md-58xxscnapsn4prde16j.blob.preprod.core.windows.net/test-container-880c4024-9da3-fffa-521b-12984f36c222/test-blob-fe41f1d2-4c65-5aba-a50d-3634dfc453d0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "4096",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Fri, 13 Dec 2019 00:16:08 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D77F61A7313ED3\u0022",
        "Last-Modified": "Fri, 13 Dec 2019 00:16:08 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://md-58xxscnapsn4prde16j.blob.preprod.core.windows.net/test-container-880c4024-9da3-fffa-521b-12984f36c222/test-blob-fe41f1d2-4c65-5aba-a50d-3634dfc453d0?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 13 Dec 2019 00:16:09 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": "\u002BZgLoXCwDVO9FmQ\u002B8iP59Zra7RBgmZCeJbtW6OJTl4Jd/J7IpdHrlsEQ/CrahdX7AKhGuSu5/GAHbHy0WiRxan7i4PaFME/I7lZOT5xmxJ/mWug6DN1Wo/89wDlVNjydn5Gr\u002BKTeds9YfsvVa63DoajczgA8N16giz33R28Vc7cZsbALusv6B\u002BMY4Y4SgThSeh\u002BReGg8YWgzCmxn5y9fQwsTu7n9uOfc4cYcI1bQjgkEpcxQhPpP3VBH2K9ekx\u002BzuZ6C/8Z\u002BVMI3tJahHz0SY3xjYkJjDr4QxN1ptd83fU6naWm3TY9DhlAKGNBkrb4SNXQz\u002BzDdUKrfcjroFJ/iADZH\u002BrbUWhXtH9zyWPXtqxYfV39rA4[...]
    {
      "RequestUri": "http://md-58xxscnapsn4prde16j.blob.preprod.core.windows.net/test-container-880c4024-9da3-fffa-521b-12984f36c222/test-blob-fe41f1d2-4c65-5aba-a50d-3634dfc453d0?comp=snapshot",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 13 Dec 2019 00:16:09 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D77F61A73AB668\u0022",
        "Last-Modified": "Fri, 13 Dec 2019 00:16:09 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-snapshot": "2019-12-13T00:16:09.0983046Z",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://md-58xxscnapsn4prde16j.blob.preprod.core.windows.net/test-container-880c4024-9da3-fffa-521b-12984f36c222/test-blob-fe41f1d2-4c65-5aba-a50d-3634dfc453d0?comp=pagelist\u0026snapshot=2019-12-13T00%3A16%3A09.2313974Z",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 13 Dec 2019 00:16:09 GMT",
        "x-ms-previous-snapshot-url": "http://md-58xxscnapsn4prde16j.blob.preprod.core.windows.net/test-container-880c4024-9da3-fffa-521b-12984f36c222/test-blob-fe41f1d2-4c65-5aba-a50d-3634dfc453d0?snapshot=2019-12-13T00:16:09.0983046Z",
        "x-ms-range": "bytes=0-4095",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "ETag": "\u00220x8D77F61A74BA95F\u0022",
        "Last-Modified": "Fri, 13 Dec 2019 00:16:09 GMT",
        "x-ms-blob-content-length": "4096",
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\n",
        "\u003CPageList\u003E\u003CPageRange\u003E\u003CStart\u003E2048\u003C/Start\u003E\u003CEnd\u003E3071\u003C/End\u003E\u003C/PageRange\u003E\u003CNextMarker/\u003E\u003C/PageList\u003E"
      ]
    },
    {
      "RequestUri": "http://md-58xxscnapsn4prde16j.blob.preprod.core.windows.net/test-container-880c4024-9da3-fffa-521b-12984f36c222?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 13 Dec 2019 00:16:09 GMT",
        "x-ms-version": "2019-07-07"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-07-07"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1103496492",
    "Storage_TestConfigManagedDisk": "ManagedDiskTenant\nmd-58xxscnapsn4prde16j\nU2FuaXRpemVk\nhttp://md-58xxscnapsn4prde16j.blob.preprod.core.windows.net\nhttp://md-58xxscnapsn4prde16j.file.preprod.core.windows.net\nhttp://md-58xxscnapsn4prde16j.queue.preprod.core.windows.net\nhttp://md-58xxscnapsn4prde16j.table.preprod.core.windows.net\n\n\n\n\nhttp://md-58xxscnapsn4prde16j-secondary.blob.preprod.core.windows.net\nhttp://md-58xxscnapsn4prde16j-secondary.file.preprod.core.windows.net\nhttp://md-58xxscnapsn4prde16j-secondary.queue.preprod.core.windows.net\nhttp://md-58xxscnapsn4prde16j-secondary.table.preprod.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://md-58xxscnapsn4prde16j.blob.preprod.core.windows.net/;QueueEndpoint=http://md-58xxscnapsn4prde16j.queue.preprod.core.windows.net/;FileEndpoint=http://md-58xxscnapsn4prde16j.file.preprod.core.windows.net/;BlobSecondaryEndpoint=http://md-58xxscnapsn4prde16j-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=http://md-58xxscnapsn4prde16j-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=http://md-58xxscnapsn4prde16j-secondary.file.preprod.core.windows.net/;AccountName=md-58xxscnapsn4prde16j;AccountKey=Sanitized\n"
  }
}