{
  "Entries": [
    {
      "RequestUri": "https://0c2xscnapby3pev24a.blob.preprod.core.windows.net/test-container-2cf4e593-d748-a1f2-afc9-1e11f1987daa?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Fri, 07 Jan 2022 19:36:21 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9D214FB53D1B7\u0022",
        "Last-Modified": "Fri, 07 Jan 2022 19:36:20 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://0c2xscnapby3pev24a.blob.preprod.core.windows.net/test-container-2cf4e593-d748-a1f2-afc9-1e11f1987daa/test-blob-1183cc0c-3589-bf3d-7211-090481aca435",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-content-length": "4096",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Fri, 07 Jan 2022 19:36:21 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9D214FB5D7254\u0022",
        "Last-Modified": "Fri, 07 Jan 2022 19:36:20 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://0c2xscnapby3pev24a.blob.preprod.core.windows.net/test-container-2cf4e593-d748-a1f2-afc9-1e11f1987daa/test-blob-1183cc0c-3589-bf3d-7211-090481aca435?comp=pagelist",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Modified-Since": "Sat, 08 Jan 2022 19:36:21 GMT",
        "x-ms-date": "Fri, 07 Jan 2022 19:36:21 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 304,
      "ResponseHeaders": {
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://0c2xscnapby3pev24a.blob.preprod.core.windows.net/test-container-543216fa-fcfa-2d01-9769-78cbf812e6ce/test-blob-b5aa117f-f794-6c1e-04fa-c4ce991141f9?comp=pagelist",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Unmodified-Since": "Thu, 06 Jan 2022 19:36:21 GMT",
        "x-ms-date": "Fri, 07 Jan 2022 19:36:21 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\n",
        "\u003CError\u003E\u003CCode\u003EConditionNotMet\u003C/Code\u003E\u003CMessage\u003EThe condition specified using HTTP conditional header(s) is not met.\n",
        "RequestId:f5450a11-a01e-0003-6ffd-031608000000\n",
        "Time:2022-01-07T19:36:21.0899275Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
[...]
    {
      "RequestUri": "https://0c2xscnapby3pev24a.blob.preprod.core.windows.net/test-container-2f4a15ce-59e4-f169-c560-7a3037c94109/test-blob-20da7127-19a7-1ae3-b63b-650cd32b08c8?comp=pagelist",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u0022garbage\u0022",
        "x-ms-date": "Fri, 07 Jan 2022 19:36:21 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\n",
        "\u003CError\u003E\u003CCode\u003EConditionNotMet\u003C/Code\u003E\u003CMessage\u003EThe condition specified using HTTP conditional header(s) is not met.\n",
        "RequestId:f5450a16-a01e-0003-73fd-031608000000\n",
        "Time:2022-01-07T19:36:21.3289389Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
[...]
    {
      "RequestUri": "https://0c2xscnapby3pev24a.blob.preprod.core.windows.net/test-container-17b85d05-35a6-5f2e-2d12-1476f278fe4d/test-blob-a78e3c85-d8ff-1619-83a5-9da7961d19ec",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jan 2022 19:36:21 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D9D214FBCA178C\u0022",
        "Last-Modified": "Fri, 07 Jan 2022 19:36:21 GMT",
        "x-ms-access-tier": "Cool",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Fri, 07 Jan 2022 19:36:21 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://0c2xscnapby3pev24a.blob.preprod.core.windows.net/test-container-948363ff-498f-4f6a-3f51-6a0e922ad867/test-blob-431020ce-69bb-b91f-4429-899e3ed11058?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jan 2022 19:36:22 GMT",
        "x-ms-lease-action": "acquire",
        "x-ms-lease-duration": "-1",
        "x-ms-proposed-lease-id": "f409a6ca-e47e-3893-7af9-712f053072bb",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9D214FBF60977\u0022",
        "Last-Modified": "Fri, 07 Jan 2022 19:36:21 GMT",
        "x-ms-lease-id": "f409a6ca-e47e-3893-7af9-712f053072bb",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://0c2xscnapby3pev24a.blob.preprod.core.windows.net/test-container-948363ff-498f-4f6a-3f51-6a0e922ad867?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jan 2022 19:36:22 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2022-01-07T13:36:21.1078170-06:00",
    "RandomSeed": "324411333",
    "Storage_TestConfigDefault": "ProductionTenant\n0c2xscnapby3pev24a\nU2FuaXRpemVk\nhttps://0c2xscnapby3pev24a.blob.preprod.core.windows.net\nhttps://0c2xscnapby3pev24a.file.preprod.core.windows.net\nhttps://0c2xscnapby3pev24a.queue.core.windows.net\nhttps://0c2xscnapby3pev24a.table.core.windows.net\n\n\n\n\nhttps://0c2xscnapby3pev24a-secondary.blob.core.windows.net\nhttps://0c2xscnapby3pev24a-secondary.file.core.windows.net\nhttps://0c2xscnapby3pev24a-secondary.queue.core.windows.net\nhttps://0c2xscnapby3pev24a-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://0c2xscnapby3pev24a.blob.preprod.core.windows.net/;QueueEndpoint=https://0c2xscnapby3pev24a.queue.core.windows.net/;FileEndpoint=https://0c2xscnapby3pev24a.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://0c2xscnapby3pev24a-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://0c2xscnapby3pev24a-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://0c2xscnapby3pev24a-secondary.file.core.windows.net/;AccountName=0c2xscnapby3pev24a;AccountKey=Kg==;\nseanscope1\n\n"
  }
}