{
  "Entries": [
    {
      "RequestUri": "https://seanstagetest.blob.core.windows.net/test-container-a9225dae-60b6-8c91-f663-44f06e40d099?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 05 Mar 2020 21:22:21 GMT",
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7C14B4AAB3298\u0022",
        "Last-Modified": "Thu, 05 Mar 2020 21:22:21 GMT",
        "x-ms-version": "2019-10-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanstagetest.blob.core.windows.net/test-container-a9225dae-60b6-8c91-f663-44f06e40d099/test-blob-fbda52df-98c0-416b-984b-45e203798ed7",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "4096",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Thu, 05 Mar 2020 21:22:21 GMT",
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7C14B4AB9C632\u0022",
        "Last-Modified": "Thu, 05 Mar 2020 21:22:21 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-10-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanstagetest.blob.core.windows.net/test-container-a9225dae-60b6-8c91-f663-44f06e40d099/test-blob-fbda52df-98c0-416b-984b-45e203798ed7?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 05 Mar 2020 21:22:21 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": "VdiIyOMnivqpqGIT4KuDGvRIds1C4pMT6rF\u002BO5MEZBUID2nl9o0YRKo9ApxHuPIW3jevhAzWZnNEdN4yqE5npERMC9BCniRnMDIjBOD3yzG\u002BaF1bVd8JMan2oIGv5ptb1l1X\u002B60h0z8TSFTas2GSTaisdEDxC09lQ9onS/6it0mXxy6Dn9CEnJQeRwyKLn5IZFLZAnJaasoN8rjT\u002BodAcZAKQusyD67YKNer08NC2hRb3uesyLTXPFxjdawXsaEN3dZ7f\u002BySFVWjAdqar5cGyxikdxyflKjcMwaOzpkBwHc2nvXtx1ooyciSCMbaPY3FXaqUczmFbUktn0zlA0a7oUBiZBCiGQO\u002BfK5TDYvhAfZ5yXHvbU09sDGsvycNQsWC1[...]
    {
      "RequestUri": "https://seanstagetest.blob.core.windows.net/test-container-a9225dae-60b6-8c91-f663-44f06e40d099/test-blob-fbda52df-98c0-416b-984b-45e203798ed7?comp=snapshot",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 05 Mar 2020 21:22:21 GMT",
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7C14B4AC5FB07\u0022",
        "Last-Modified": "Thu, 05 Mar 2020 21:22:21 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-snapshot": "2020-03-05T21:22:21.8250798Z",
        "x-ms-version": "2019-10-10"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seanstagetest.blob.core.windows.net/test-container-a9225dae-60b6-8c91-f663-44f06e40d099/test-blob-fbda52df-98c0-416b-984b-45e203798ed7?comp=pagelist\u0026prevsnapshot=2020-03-05T21%3A22%3A21.8250798Z",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Modified-Since": "Fri, 06 Mar 2020 21:22:21 GMT",
        "x-ms-date": "Thu, 05 Mar 2020 21:22:22 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": null,
      "StatusCode": 304,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2019-10-10"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seanstagetest.blob.core.windows.net/test-container-c445ba01-9799-d54f-3398-52808f775c55/test-blob-c369f10c-4627-9734-80e3-827f4f494990?comp=pagelist\u0026prevsnapshot=2020-03-05T21%3A22%3A22.6231193Z",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Unmodified-Since": "Wed, 04 Mar 2020 21:22:21 GMT",
        "x-ms-date": "Thu, 05 Mar 2020 21:22:22 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2019-10-10"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003EConditionNotMet\u003C/Code\u003E\u003CMessage\u003EThe condition specified using HTTP conditional header(s) is not met.\n",
        "RequestId:05085777-b01e-002c-6134-f37e94000000\n",
        "Time:2020-03-05T21:22:22.8261931Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
[...]
    {
      "RequestUri": "https://seanstagetest.blob.core.windows.net/test-container-a207133a-6d37-2b46-29b6-0b3695226691/test-blob-e0797a54-2ba2-9f81-a133-2d797430fcfd?comp=pagelist\u0026prevsnapshot=2020-03-05T21%3A22%3A23.4661023Z",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u0022garbage\u0022",
        "x-ms-date": "Thu, 05 Mar 2020 21:22:23 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2019-10-10"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003EConditionNotMet\u003C/Code\u003E\u003CMessage\u003EThe condition specified using HTTP conditional header(s) is not met.\n",
        "RequestId:589b523f-e01e-0021-2534-f3b640000000\n",
        "Time:2020-03-05T21:22:23.6260236Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
[...]
    {
      "RequestUri": "https://seanstagetest.blob.core.windows.net/test-container-1a57c459-7b41-24d6-4a18-ca888d40619b/test-blob-60d760a7-b0c6-0721-5508-4fb9bd8b3452",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 05 Mar 2020 21:22:24 GMT",
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D7C14B4C5721FA\u0022",
        "Last-Modified": "Thu, 05 Mar 2020 21:22:24 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Thu, 05 Mar 2020 21:22:24 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2019-10-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanstagetest.blob.core.windows.net/test-container-1a57c459-7b41-24d6-4a18-ca888d40619b/test-blob-60d760a7-b0c6-0721-5508-4fb9bd8b3452?comp=pagelist\u0026prevsnapshot=2020-03-05T21%3A22%3A24.2890602Z",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "\u00220x8D7C14B4C5721FA\u0022",
        "x-ms-date": "Thu, 05 Mar 2020 21:22:24 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": null,
      "StatusCode": 304,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2019-10-10"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seanstagetest.blob.core.windows.net/test-container-ab44f4f9-e31b-0698-2172-9c96c7640c88/test-blob-d92ce05a-b31e-d39d-9141-60175f2a7401?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 05 Mar 2020 21:22:25 GMT",
        "x-ms-lease-action": "acquire",
        "x-ms-lease-duration": "-1",
        "x-ms-proposed-lease-id": "91bb82e0-f0a4-fa8c-c352-7611b4ec9952",
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7C14B4CE55587\u0022",
        "Last-Modified": "Thu, 05 Mar 2020 21:22:25 GMT",
        "x-ms-lease-id": "91bb82e0-f0a4-fa8c-c352-7611b4ec9952",
        "x-ms-version": "2019-10-10"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seanstagetest.blob.core.windows.net/test-container-ab44f4f9-e31b-0698-2172-9c96c7640c88?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 05 Mar 2020 21:22:25 GMT",
        "x-ms-version": "2019-10-10"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-10-10"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2020-03-05T13:22:21.3861381-08:00",
    "RandomSeed": "1612450628",
    "Storage_TestConfigDefault": "ProductionTenant\nseanstagetest\nU2FuaXRpemVk\nhttps://seanstagetest.blob.core.windows.net\nhttp://seanstagetest.file.core.windows.net\nhttp://seanstagetest.queue.core.windows.net\nhttp://seanstagetest.table.core.windows.net\n\n\n\n\nhttp://seanstagetest-secondary.blob.core.windows.net\nhttp://seanstagetest-secondary.file.core.windows.net\nhttp://seanstagetest-secondary.queue.core.windows.net\nhttp://seanstagetest-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanstagetest.blob.core.windows.net/;QueueEndpoint=http://seanstagetest.queue.core.windows.net/;FileEndpoint=http://seanstagetest.file.core.windows.net/;BlobSecondaryEndpoint=http://seanstagetest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanstagetest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanstagetest-secondary.file.core.windows.net/;AccountName=seanstagetest;AccountKey=Sanitized\nseanscope1"
  }
}