{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-e016426d-d675-9fd6-fa7c-0289688477e5?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 17 Feb 2021 19:01:05 GMT"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D37660E4CAAF\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 19:01:05 GMT"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-e016426d-d675-9fd6-fa7c-0289688477e5/test-blob-109f2eda-4d4a-5081-6a7b-c984c43ec2e0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Wed, 17 Feb 2021 19:01:05 GMT"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D37660EDF8D1\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 19:01:05 GMT",
        "x-ms-request-server-encrypted": "true",
         "x-ms-version": "2020-08-04",
        "x-ms-version-id": "2021-02-17T19:01:05.8735313Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-e016426d-d675-9fd6-fa7c-0289688477e5/test-blob-109f2eda-4d4a-5081-6a7b-c984c43ec2e0",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 19:01:05 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D8D37660EDF8D1\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 19:01:05 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Wed, 17 Feb 2021 19:01:05 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
         "x-ms-version": "2020-08-04",
        "x-ms-version-id": "2021-02-17T19:01:05.8735313Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-e016426d-d675-9fd6-fa7c-0289688477e5/test-blob-109f2eda-4d4a-5081-6a7b-c984c43ec2e0?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "0x8D8D37660EDF8D1",
        "x-ms-date": "Wed, 17 Feb 2021 19:01:05 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-511"
      },
      "RequestBody": "8fELRG\u002BPm0Pv8McoctBPcF9LmwdkUFFsxQGYnPYnPL7Nyb8O79cOWSCXgp65FkBOTDC4J\u002B9MrKCgnn9u9v9NyLQIWqgQQYCHPELnzc6ysq7ASk/FbhTOgRwfblBYoGMgSrnqsLyXPQuvMeutZN/R7ezRrauwh1mfOtmM8dIwL5vexoIUyAHyKQxDFTwpIRw8TYBjh/O3cMJgSnbiC0s4fwJPzp5cvSTq3oOebHEddRi8T6RSzKeoJ1bAtH6LDx7BC5Y62lN\u002B349beahvGARRQtRdJrym5rJapqZInAimXs9l3WDa4pvFPm8U9lL/OA9RbnGqLehhGiXj4DOsNkOGtRrZCTqjdmA4mOhMke9fWm6X9i2X/DDmA8M79wJoGAgsjkE4Ji/UrvgRcZUAFIg1g4XFFT8V77jq8gZ3Z39d0IDgIAOuJzQ/w0c1hYub5e46BnN9ogPIF56ITTMoXEd5s6AVIPSEhltQhlH332ktTg0XPGAL4C59FwllJtoBFmYAvNLqhsX6tX8XLByx0Tc0Wv8mER/mbdJymAjqH2CBT3Dq9iOXQshHHIbh87QRy0bRMMva2wRGGk7/eO69D5Yelt2rxtoUnRc33vSZBXkeYMzBGe\u002BVp3NrpNzUl8raig3wwl3WZQVsvJKzo/wPrRXU4Rch\u002B/amie9pQCL9QAZNXFQ=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D3766101AB75\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 19:01:06 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-content-crc64": "rowJYy6Dn50=",
        "x-ms-request-server-encrypted": "true",
         "x-ms-version": "2020-08-04"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-e016426d-d675-9fd6-fa7c-0289688477e5?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 19:01:06 GMT"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1509797304",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\nseanscope1"
  }
}