{
  "Entries": [
    {
      "RequestUri": "https://amandacanary.blob.core.windows.net/test-container-1a93e4b5-81eb-969b-376d-6b879afd4de6?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 20 Oct 2021 17:31:42 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D993EF7B27F4DC\u0022",
        "Last-Modified": "Wed, 20 Oct 2021 17:31:42 GMT",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://amandacanary.blob.core.windows.net/test-container-1a93e4b5-81eb-969b-376d-6b879afd4de6/test-blob-ce88e05a-bab4-68bc-bb51-a853776cae6a",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Wed, 20 Oct 2021 17:31:42 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D993EF7B34F6F3\u0022",
        "Last-Modified": "Wed, 20 Oct 2021 17:31:42 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-04-10",
        "x-ms-version-id": "2021-10-20T17:31:42.3171315Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://amandacanary.blob.core.windows.net/test-container-1a93e4b5-81eb-969b-376d-6b879afd4de6/test-blob-ce88e05a-bab4-68bc-bb51-a853776cae6a",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 20 Oct 2021 17:31:42 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D993EF7B34F6F3\u0022",
        "Last-Modified": "Wed, 20 Oct 2021 17:31:42 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Wed, 20 Oct 2021 17:31:42 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-04-10",
        "x-ms-version-id": "2021-10-20T17:31:42.3171315Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://amandacanary.blob.core.windows.net/test-container-1a93e4b5-81eb-969b-376d-6b879afd4de6/test-blob-ce88e05a-bab4-68bc-bb51-a853776cae6a?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\u00220x8D993EF7B34F6F3\u0022",
        "x-ms-date": "Wed, 20 Oct 2021 17:31:42 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": "Et2vmFfrZcJFbKZixJdiNhjpW8mYpiVGKOiLV56hIlgQJhEo1qFnC0gRwdgF5K2RPMPhEHN4N2u3aW9uXw4kpEpOUZ6GOV92gU\u002BBh\u002BVNQEM7\u002BhrbwBLkl\u002B\u002BmcWwx\u002Baw57ByOtpIPCwNjao4k96\u002BGaigrM2TzSeQ3armu38jzRYijR5rIvoqxK\u002B8Xd1WDv6A/HwZEBsVHRaM3VkzYYCs6cCQGgK8Uvaueegd13NGOtKoZbsDBrj/CXAH3kGg92MvE3AcxfD/wK2Jbpou90WnSqaKhv/FqecLlRCSuHSxDYKE8sADKXTdrKENdZgezBIqYJOfFnBjZWWNFSzgaQg01F0bpgSFoCEtqNZeuDRO6Mj\u002BaFfhFfc[...]
[...]
    {
      "RequestUri": "https://amandacanary.blob.core.windows.net/test-container-2681abc3-525d-5052-1f56-f95cffb51b3b/test-blob-6d1d0051-e248-6865-9232-28ebc0fff8ea",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Modified-Since": "Tue, 19 Oct 2021 17:31:42 GMT",
        "x-ms-date": "Wed, 20 Oct 2021 17:31:42 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D993EF7B7FD832\u0022",
        "Last-Modified": "Wed, 20 Oct 2021 17:31:42 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Wed, 20 Oct 2021 17:31:42 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-04-10",
        "x-ms-version-id": "2021-10-20T17:31:42.8088638Z"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://amandacanary.blob.core.windows.net/test-container-43b8f618-d864-2fa8-90c1-ff581efd8cdb/test-blob-9dfffb2d-a8ff-868c-71ca-2b85dfead308",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Unmodified-Since": "Thu, 21 Oct 2021 17:31:42 GMT",
        "x-ms-date": "Wed, 20 Oct 2021 17:31:43 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D993EF7BCB2E98\u0022",
        "Last-Modified": "Wed, 20 Oct 2021 17:31:43 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Wed, 20 Oct 2021 17:31:43 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-04-10",
        "x-ms-version-id": "2021-10-20T17:31:43.3015960Z"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://amandacanary.blob.core.windows.net/test-container-3350d222-eefe-b7fa-8db0-151db4a00d82/test-blob-eed9abae-b9a1-241e-9a1e-7692fa458097?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 20 Oct 2021 17:31:44 GMT",
        "x-ms-lease-action": "acquire",
        "x-ms-lease-duration": "-1",
        "x-ms-proposed-lease-id": "c1492553-ffca-469d-35ee-40571dfae432",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D993EF7CBA9D61\u0022",
        "Last-Modified": "Wed, 20 Oct 2021 17:31:44 GMT",
        "x-ms-lease-id": "c1492553-ffca-469d-35ee-40571dfae432",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://amandacanary.blob.core.windows.net/test-container-dded4661-69f1-3ccd-e4a5-db3324ba23cc?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 20 Oct 2021 17:31:46 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2021-10-20T10:31:42.1966136-07:00",
    "RandomSeed": "647360483",
    "Storage_TestConfigDefault": "ProductionTenant\namandacanary\nU2FuaXRpemVk\nhttps://amandacanary.blob.core.windows.net\nhttps://amandacanary.file.core.windows.net\nhttps://amandacanary.queue.core.windows.net\nhttps://amandacanary.table.core.windows.net\n\n\n\n\nhttps://amandacanary-secondary.blob.core.windows.net\nhttps://amandacanary-secondary.file.core.windows.net\nhttps://amandacanary-secondary.queue.core.windows.net\nhttps://amandacanary-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandacanary.blob.core.windows.net/;QueueEndpoint=https://amandacanary.queue.core.windows.net/;FileEndpoint=https://amandacanary.file.core.windows.net/;BlobSecondaryEndpoint=https://amandacanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandacanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandacanary-secondary.file.core.windows.net/;AccountName=amandacanary;AccountKey=Kg==;\ntestscope2\n\n"
  }
}