{
  "Entries": [
    {
      "RequestUri": "https://amandacanary.blob.core.windows.net/test-container-cfe8ef23-bbc1-1024-8cb7-8857215f964e?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 20 Oct 2021 17:31:23 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D993EF6FE0E2E2\u0022",
        "Last-Modified": "Wed, 20 Oct 2021 17:31:23 GMT",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://amandacanary.blob.core.windows.net/test-container-cfe8ef23-bbc1-1024-8cb7-8857215f964e/test-blob-20c97584-66a8-48f3-3a08-c330e81630db",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Wed, 20 Oct 2021 17:31:23 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D993EF6FED9698\u0022",
        "Last-Modified": "Wed, 20 Oct 2021 17:31:23 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-04-10",
        "x-ms-version-id": "2021-10-20T17:31:23.3954212Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://amandacanary.blob.core.windows.net/test-container-cfe8ef23-bbc1-1024-8cb7-8857215f964e/test-blob-20c97584-66a8-48f3-3a08-c330e81630db",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 20 Oct 2021 17:31:23 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D993EF6FED9698\u0022",
        "Last-Modified": "Wed, 20 Oct 2021 17:31:23 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Wed, 20 Oct 2021 17:31:23 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-04-10",
        "x-ms-version-id": "2021-10-20T17:31:23.3954212Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://amandacanary.blob.core.windows.net/test-container-cfe8ef23-bbc1-1024-8cb7-8857215f964e/test-blob-20c97584-66a8-48f3-3a08-c330e81630db?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\u00220x8D993EF6FED9698\u0022",
        "x-ms-date": "Wed, 20 Oct 2021 17:31:23 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": "5d0h8qzK5rqqo5\u002Bc/wYnFgOVi72LxvNH8W8XbTdPKAPVFgdDAhGB2kTPv0SIWsEFLXt4aPB4xR/q2QE9s3mCWnucx\u002Bn/4xTxE7F5vAavv5euET\u002B8178SXFHnWSgQRCfKTWTI65LYBUpmhlU//wgYOhppj6E6xoO8iWqYF4nr4M\u002BJrm6i5tME1Qv0VVBp0l1Izx4Op7SGkIfhDGEoQO7Be6aGtlCadlRHZLmVRnAyUrcMUEdq3TgaAx7nwNlx3JUdM9qq4xwNrVnKx0P78UkWrrqqHPCmVp5ta7IxsrV61YcjdxOViG6a/6LunxX1HxLU0BIfxsCldtw7PHhp2/ukT/G713k2gSZMEBxNuLaIeEygXOKjWw/HfgE3WUz2MSSnSlAkOUiZnk/[...]
[...]
    {
      "RequestUri": "https://amandacanary.blob.core.windows.net/test-container-9bb6fcf0-1bc0-cc80-c8a2-8d9d38984700/test-blob-7bef1965-feec-b8ff-b749-44048ede56a9",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Modified-Since": "Tue, 19 Oct 2021 17:31:23 GMT",
        "x-ms-date": "Wed, 20 Oct 2021 17:31:23 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D993EF70396220\u0022",
        "Last-Modified": "Wed, 20 Oct 2021 17:31:23 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Wed, 20 Oct 2021 17:31:23 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-04-10",
        "x-ms-version-id": "2021-10-20T17:31:23.8911520Z"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://amandacanary.blob.core.windows.net/test-container-66d7d570-39b0-27e7-d821-27004fe5832f/test-blob-c06aafd3-f820-dc82-87dd-76334a34e830",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Unmodified-Since": "Thu, 21 Oct 2021 17:31:23 GMT",
        "x-ms-date": "Wed, 20 Oct 2021 17:31:24 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D993EF70852D9B\u0022",
        "Last-Modified": "Wed, 20 Oct 2021 17:31:24 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Wed, 20 Oct 2021 17:31:24 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-04-10",
        "x-ms-version-id": "2021-10-20T17:31:24.3878811Z"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://amandacanary.blob.core.windows.net/test-container-49942ea3-6254-06e1-39c0-3da5e3e2ebe2/test-blob-405f7f4a-7227-4cf7-614e-273512a67587?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 20 Oct 2021 17:31:26 GMT",
        "x-ms-lease-action": "acquire",
        "x-ms-lease-duration": "-1",
        "x-ms-proposed-lease-id": "b2149aff-a54e-1ff8-7477-86c9f8a61840",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D993EF7173D935\u0022",
        "Last-Modified": "Wed, 20 Oct 2021 17:31:25 GMT",
        "x-ms-lease-id": "b2149aff-a54e-1ff8-7477-86c9f8a61840",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://amandacanary.blob.core.windows.net/test-container-445310a4-4727-c850-0231-4669146b6550?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 20 Oct 2021 17:31:27 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2021-10-20T10:31:23.2724428-07:00",
    "RandomSeed": "1847687841",
    "Storage_TestConfigDefault": "ProductionTenant\namandacanary\nU2FuaXRpemVk\nhttps://amandacanary.blob.core.windows.net\nhttps://amandacanary.file.core.windows.net\nhttps://amandacanary.queue.core.windows.net\nhttps://amandacanary.table.core.windows.net\n\n\n\n\nhttps://amandacanary-secondary.blob.core.windows.net\nhttps://amandacanary-secondary.file.core.windows.net\nhttps://amandacanary-secondary.queue.core.windows.net\nhttps://amandacanary-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandacanary.blob.core.windows.net/;QueueEndpoint=https://amandacanary.queue.core.windows.net/;FileEndpoint=https://amandacanary.file.core.windows.net/;BlobSecondaryEndpoint=https://amandacanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandacanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandacanary-secondary.file.core.windows.net/;AccountName=amandacanary;AccountKey=Kg==;\ntestscope2\n\n"
  }
}