{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-b803c6ef-814b-4adf-fcdc-bdc98d5f90b9?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 17 Feb 2021 02:23:47 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D2EB0EAA8036\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 02:23:47 GMT",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-b803c6ef-814b-4adf-fcdc-bdc98d5f90b9/test-blob-577c88f4-d2a7-133d-8542-fe2ffcfb206d",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Wed, 17 Feb 2021 02:23:47 GMT",
        "x-ms-encryption-algorithm": "AES256",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D2EB0EB30FE5\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 02:23:47 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-06-12",
        "x-ms-version-id": "2021-02-17T02:23:47.8688741Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-b803c6ef-814b-4adf-fcdc-bdc98d5f90b9/test-blob-577c88f4-d2a7-133d-8542-fe2ffcfb206d",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 02:23:47 GMT",
        "x-ms-encryption-algorithm": "AES256",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D8D2EB0EB30FE5\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 02:23:47 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Wed, 17 Feb 2021 02:23:47 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-06-12",
        "x-ms-version-id": "2021-02-17T02:23:47.8688741Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-b803c6ef-814b-4adf-fcdc-bdc98d5f90b9/test-blob-577c88f4-d2a7-133d-8542-fe2ffcfb206d?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "0x8D8D2EB0EB30FE5",
        "x-ms-date": "Wed, 17 Feb 2021 02:23:47 GMT",
        "x-ms-encryption-algorithm": "AES256",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-511",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": "O6uvppx14HTvF2Qx8RZR\u002ByBrQAUNfluM2R0dEvW7KVLuvusW2nz1ehV6sfoX7HuDSo69z2CAFLxQIs1/V85\u002BM\u002B4SQzIqOyGkdsXwk8xgdeyhmcdm/lnxbaouxbevdiJG\u002B34MBalIWA9tGFmbkIHv763g3b4HFzSUIdWI/HZq9QCjqZdOU3BDWUG4\u002Beb/Vt0pPtUJzphkP\u002BNJd\u002BPTwFyZAiNZ9\u002BbpoZw9nYR8Tx5Olcv4X72gYCZnP2qzBdyMb5jkH/bCpl72P505zDAT5/DF\u002BuIY2mGf\u002BKL88bh8NZvAsS3slzAnjO5sAiAfZpP1VFd67gr5c5U3RSZUxbSlegkCeRsDJ0\u002B/nW7zq9hBf5EOB5xhAkeQxj2YtFIJ0sY6x4gWHe148i0IulCcBce89saURr4XRHfCcbLdanL9tsqnueRQKmKklRRvWEf288F13L2MdIwIIoIQVKw6moi6CgSF9Uzja8xk8LCqp\u002Bsvy33xaI61cUE\u002BnpZiQNW1afuLtU1DcP50knDxKITcXnuW4IkuSDL6BZnCR1e2gSv2roa1HvKe7Fp/fdYdxEm9YUAby2BMhyDIkbCzgSmnvhBF\u002Bnn9J0CI\u002BPQur8tc3EFQBeYWmrXLqiZl7IxC6mox2L7F2MnPvzr/ktJsHdhVbLVuY3tCkCNbek9TlzqzRQ6J/NYMlgQ=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D2EB0EC53BA2\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 02:23:47 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-content-crc64": "7bzM8ChTEyc=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-b803c6ef-814b-4adf-fcdc-bdc98d5f90b9?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 02:23:47 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1012542736",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\nseanscope1"
  }
}