{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-959b8258-7e27-aea0-05ad-db5d7f90a732?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Sat, 08 Aug 2020 00:03:48 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D83B2E86C16026\u0022",
        "Last-Modified": "Sat, 08 Aug 2020 00:03:48 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-959b8258-7e27-aea0-05ad-db5d7f90a732/test-blob-061e49f4-f77b-ef0b-3f46-3b87d4675b81",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Sat, 08 Aug 2020 00:03:48 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D83B2E86C67215\u0022",
        "Last-Modified": "Sat, 08 Aug 2020 00:03:48 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-959b8258-7e27-aea0-05ad-db5d7f90a732/test-blob-061e49f4-f77b-ef0b-3f46-3b87d4675b81?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8D83B2E86C67215\u0022",
        "x-ms-date": "Sat, 08 Aug 2020 00:03:48 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": "skcWPdEiWjqDgbtQnnV3wetBRAhk9BdPNc5GkDx4d6EgSBuVgnaV0u7kg/o7u1HJz3mckyNTHL4wxgcC28n9CgkaL1Va4T90rHIZgHEdE3p9fMDD3OR9zStcZbtuk/Yl5njwIYv8b\u002B46J\u002BexOZtNE7ONhV4IOi0lnGEp/XyDBRh79Jr4LPLugQzSibT8zJSPD1II4Q2XHKtLyoQq0nJytiLONUQBVObBngRRNrF4KNDNmu0peyML49jurWFuxK6aX9KSLpdPjrtrR0IJRuX60qK0XDeFSDv\u002BwlFsEqeFU9lVt9be5fo4fgwyvjTgAp3y9Nq/uWh3FBeWlGtF4nsT5fRps44OG\u002Byne94rU4kHHcC0eR7Nxplx3qO/R1GO85uQHtlAd04P5Nj[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-959b8258-7e27-aea0-05ad-db5d7f90a732/test-blob-061e49f4-f77b-ef0b-3f46-3b87d4675b81",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 08 Aug 2020 00:03:48 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D83B2E86CBA329\u0022",
        "Last-Modified": "Sat, 08 Aug 2020 00:03:48 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Sat, 08 Aug 2020 00:03:48 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": "skcWPdEiWjqDgbtQnnV3wetBRAhk9BdPNc5GkDx4d6EgSBuVgnaV0u7kg/o7u1HJz3mckyNTHL4wxgcC28n9CgkaL1Va4T90rHIZgHEdE3p9fMDD3OR9zStcZbtuk/Yl5njwIYv8b\u002B46J\u002BexOZtNE7ONhV4IOi0lnGEp/XyDBRh79Jr4LPLugQzSibT8zJSPD1II4Q2XHKtLyoQq0nJytiLONUQBVObBngRRNrF4KNDNmu0peyML49jurWFuxK6aX9KSLpdPjrtrR0IJRuX60qK0XDeFSDv\u002BwlFsEqeFU9lVt9be5fo4fgwyvjTgAp3y9Nq/uWh3FBeWlGtF4nsT5fRps44OG\u002Byne94rU4kHHcC0eR7Nxplx3qO/R1GO85uQHtlAd04P5NjtFz6KS8[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-959b8258-7e27-aea0-05ad-db5d7f90a732?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 08 Aug 2020 00:03:48 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1975995317",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\nseanscope1"
  }
}