{
  "Entries": [
    {
      "RequestUri": "https://storagedotnettesting.blob.core.windows.net/test-container-eaed48c2-36c5-50d0-17cb-d2a4669a0b13?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 01 Oct 2020 23:01:24 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8665DEBBF7648\u0022",
        "Last-Modified": "Thu, 01 Oct 2020 23:01:24 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://storagedotnettesting.blob.core.windows.net/test-container-eaed48c2-36c5-50d0-17cb-d2a4669a0b13/test-blob-7ad215a7-9d46-0ab7-2d46-e2dc59d68f1e",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Thu, 01 Oct 2020 23:01:24 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8665DEBC3BD25\u0022",
        "Last-Modified": "Thu, 01 Oct 2020 23:01:24 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://storagedotnettesting.blob.core.windows.net/test-container-eaed48c2-36c5-50d0-17cb-d2a4669a0b13/test-blob-7ad215a7-9d46-0ab7-2d46-e2dc59d68f1e",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 01 Oct 2020 23:01:24 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D8665DEBC3BD25\u0022",
        "Last-Modified": "Thu, 01 Oct 2020 23:01:24 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Thu, 01 Oct 2020 23:01:24 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://storagedotnettesting.blob.core.windows.net/test-container-eaed48c2-36c5-50d0-17cb-d2a4669a0b13/test-blob-7ad215a7-9d46-0ab7-2d46-e2dc59d68f1e?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8D8665DEBC3BD25\u0022",
        "x-ms-date": "Thu, 01 Oct 2020 23:01:24 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-511",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": "BlkpEACTOekVO4DJLPKDpvq0n8gI3JuSO/yrgoWIPeP\u002BS74uXDwtqVblnUd9WjvywZF8pXa1HSq9l9UD57djjf6dyuAzVUm\u002BhvVxIj5UFOHBucH0DJdsSC6UcMVmKsKfgRBJ349avmtHvh6BQ/rraYLzQS71boFmMYGyn\u002BSEV1wz0qAuCjVRZvpVrE556wUzqAdDc\u002BiUqhKP464Npx\u002BGw2bCTnFZvV5Notszn8Iy7EZ8fvbdQORznieNnyeGQ77az\u002Bnntp2T2uup9tANYApQXPZnkSkoqYKCTq9Kyx42xl4cWdDYSzWp6aQLNEoTZj4cPUMxH7KVsSVmZGftSQ7Nci9y8Qc6dxDAvqeEHXU4buhxLY7aBaerhqeqcubNu6CWPsEaoXQ34sUycGAKEZSwLfV/fBt/8m2IxmpfjwUp8gIH7d6zHs10OUvJqJRGoXUT\u002BkTwTj\u002BEF0xTktoK11K/CH1eAyO1/A8oC0LQtUnYQSX1TJXAOKPDg9aSX4vzamL5CZ8X6J5SXf01yEP8tGECe1C1FIu8/9DZmn9MI5yDNKHg1quqwVmHo\u002B\u002BYim9gx850j\u002BQ7PVXWPArPPU0eBTlgsZSiG922WLn2LnGbJHRgedOx15S4R/ZLCZmh2oMLaJ22N9nbvavxvjYqRA/kOxiVb8R6bS2kqGmdVxFDFX4168U=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8665DEBCBFC82\u0022",
        "Last-Modified": "Thu, 01 Oct 2020 23:01:24 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-content-crc64": "QrlkeTSCypY=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://storagedotnettesting.blob.core.windows.net/test-container-eaed48c2-36c5-50d0-17cb-d2a4669a0b13?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 01 Oct 2020 23:01:24 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1705737210",
    "Storage_TestConfigDefault": "ProductionTenant\nstoragedotnettesting\nU2FuaXRpemVk\nhttps://storagedotnettesting.blob.core.windows.net\nhttps://storagedotnettesting.file.core.windows.net\nhttps://storagedotnettesting.queue.core.windows.net\nhttps://storagedotnettesting.table.core.windows.net\n\n\n\n\nhttps://storagedotnettesting-secondary.blob.core.windows.net\nhttps://storagedotnettesting-secondary.file.core.windows.net\nhttps://storagedotnettesting-secondary.queue.core.windows.net\nhttps://storagedotnettesting-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://storagedotnettesting.blob.core.windows.net/;QueueEndpoint=https://storagedotnettesting.queue.core.windows.net/;FileEndpoint=https://storagedotnettesting.file.core.windows.net/;BlobSecondaryEndpoint=https://storagedotnettesting-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://storagedotnettesting-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://storagedotnettesting-secondary.file.core.windows.net/;AccountName=storagedotnettesting;AccountKey=Kg==;\n"
  }
}