{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-bf28f800-465d-7024-81ac-f1e31c3a58c3?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 17 Feb 2021 19:00:22 GMT"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D37647539698\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 19:00:22 GMT"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-bf28f800-465d-7024-81ac-f1e31c3a58c3/test-blob-5c8b398c-9601-fffc-0a68-93bb922ec5fd",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Wed, 17 Feb 2021 19:00:22 GMT"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D376475EBE53\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 19:00:22 GMT",
        "x-ms-request-server-encrypted": "true",
         "x-ms-version": "2020-08-04",
        "x-ms-version-id": "2021-02-17T19:00:22.9918291Z"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-bf28f800-465d-7024-81ac-f1e31c3a58c3/test-blob-5c8b398c-9601-fffc-0a68-93bb922ec5fd?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "0x8D8D3764768AB34",
        "x-ms-date": "Wed, 17 Feb 2021 19:00:23 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023"
      },
      "RequestBody": "PAUDJQWKAKtXkr2hv4MBIbxPKvfDUgWx7Xnr9XNo5spMFTz45YY9B5u\u002BG2WSX6oXIUy9w6oc/ekAUTeMngo476zyVapGCDs2ESNbBTefH47O1NQmqyIgLxdS\u002BJNOsGiQhSy4nwr/0BgQh7GHwPixYDKpvso2EUSJ0iWS8xCn52C6y38L53\u002BDzwO7FiNxmG8foZdhpPKdWXPnLs3kbNwIaJ9RzPV4pXmyJe7Ge/sgGDm2c1J4RkJtHXILI7iyn2Ins62EH8x6p/sern8E1t54xxWULfmJjyJc46\u002BCbILAAIaMn8dOm/hsPMxXWZfDaUaUk1ujHXFpniSKJzwd9zp5Xq34dzcWKSwcJ/EtMjWKmXlo7tkmHeMUIgCjw3O8T0WR3vvqyvEPfWkvhvZ/O2zu/47DtAhhUkDK5FQ2c2W4YNesm1M5o[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-bf28f800-465d-7024-81ac-f1e31c3a58c3/test-blob-5c8b398c-9601-fffc-0a68-93bb922ec5fd",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 19:00:23 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D8D37647777AFF\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 19:00:23 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Wed, 17 Feb 2021 19:00:23 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
         "x-ms-version": "2020-08-04",
        "x-ms-version-id": "2021-02-17T19:00:23.0588770Z"
      },
      "ResponseBody": "PAUDJQWKAKtXkr2hv4MBIbxPKvfDUgWx7Xnr9XNo5spMFTz45YY9B5u\u002BG2WSX6oXIUy9w6oc/ekAUTeMngo476zyVapGCDs2ESNbBTefH47O1NQmqyIgLxdS\u002BJNOsGiQhSy4nwr/0BgQh7GHwPixYDKpvso2EUSJ0iWS8xCn52C6y38L53\u002BDzwO7FiNxmG8foZdhpPKdWXPnLs3kbNwIaJ9RzPV4pXmyJe7Ge/sgGDm2c1J4RkJtHXILI7iyn2Ins62EH8x6p/sern8E1t54xxWULfmJjyJc46\u002BCbILAAIaMn8dOm/hsPMxXWZfDaUaUk1ujHXFpniSKJzwd9zp5Xq[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-bf28f800-465d-7024-81ac-f1e31c3a58c3?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 19:00:23 GMT"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1117320909",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\nseanscope1"
  }
}