{
  "Entries": [
    {
      "RequestUri": "https://storagedotnettesting.blob.core.windows.net/test-container-05928922-b660-c7dc-aebd-2223f9b57473?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 01 Oct 2020 22:57:45 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8665D690BEBDD\u0022",
        "Last-Modified": "Thu, 01 Oct 2020 22:57:45 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://storagedotnettesting.blob.core.windows.net/test-container-05928922-b660-c7dc-aebd-2223f9b57473/test-blob-4676666f-5dba-283d-aee9-0b57921fc50b",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-content-length": "2048",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Thu, 01 Oct 2020 22:57:45 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8665D6910D5BD\u0022",
        "Last-Modified": "Thu, 01 Oct 2020 22:57:45 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://storagedotnettesting.blob.core.windows.net/test-container-05928922-b660-c7dc-aebd-2223f9b57473/test-blob-4676666f-5dba-283d-aee9-0b57921fc50b?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 01 Oct 2020 22:57:45 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": "RrnAhXFql/UIEP51MD/0N\u002BAXqg7SKt/SzGMmhS0y2nPFUbd6toKCQutXkxvT1wCLjxVKcylwCRza7rkORBLI1TaKsN\u002BIeoBelGciepbE/vVim/YX6GdKVEeaoMjJdP7Zj73kSCcgAhSU7N/BTY6FFe/Eq6gbsO3PQFuY7dq4lCBpSevZ37bNQpjhg/uIiQe4FYrYBchVvd7QFQjLiBU63Fe\u002BVwSjrDY59mkQOS3xR7ZU39dP349XE4sMCMmtArmCp6ekyTICFWlUnw9fRIOx385Sdqk96vzIZ0R4lqNsi/SvjZKGTH2EUslu\u002B0B/984HWyn6W4sQRbyq3GHtiX7G5xMbsLfxK5JQziTfz\u002B\u002B8SHB1cTt5cTBon0jW23AclshLq[...]
    {
      "RequestUri": "https://storagedotnettesting.blob.core.windows.net/test-container-05928922-b660-c7dc-aebd-2223f9b57473/test-blob-4676666f-5dba-283d-aee9-0b57921fc50b",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 01 Oct 2020 22:57:45 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D8665D691591CF\u0022",
        "Last-Modified": "Thu, 01 Oct 2020 22:57:45 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Thu, 01 Oct 2020 22:57:45 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://storagedotnettesting.blob.core.windows.net/test-container-05928922-b660-c7dc-aebd-2223f9b57473/test-blob-4676666f-5dba-283d-aee9-0b57921fc50b?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8D8665D691591CF\u0022",
        "x-ms-date": "Thu, 01 Oct 2020 22:57:45 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=1024-2047",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": "CQegMSkbDjDhXV1bPhwWocuW1M7CBNQrV5Cg/6Kse7JE7c8\u002BqkLYw\u002Bfnj1LL3MvP9O326XRldAQyddqYeg\u002BONeGqF1FN1/eJvhHn2nWBX3vF0Au1tZI\u002B33nLDDRnP0jXWVpxIMV6ghz2bSpifpmPsRVf06oE2H9ObDfXgsrCIX7JD4AbED\u002B1Sk7uv0hn22HfPFseCGye04HaIrONogBRM0usmW4ZdKDWqYlbFhg35pDW\u002[...]
    {
      "RequestUri": "https://storagedotnettesting.blob.core.windows.net/test-container-05928922-b660-c7dc-aebd-2223f9b57473/test-blob-4676666f-5dba-283d-aee9-0b57921fc50b",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 01 Oct 2020 22:57:45 GMT",
        "x-ms-range": "bytes=0-2047",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-2047/2048",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D8665D691F5829\u0022",
        "Last-Modified": "Thu, 01 Oct 2020 22:57:45 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Thu, 01 Oct 2020 22:57:45 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "[...]
    {
      "RequestUri": "https://storagedotnettesting.blob.core.windows.net/test-container-05928922-b660-c7dc-aebd-2223f9b57473?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 01 Oct 2020 22:57:45 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "549977433",
    "Storage_TestConfigDefault": "ProductionTenant\nstoragedotnettesting\nU2FuaXRpemVk\nhttps://storagedotnettesting.blob.core.windows.net\nhttps://storagedotnettesting.file.core.windows.net\nhttps://storagedotnettesting.queue.core.windows.net\nhttps://storagedotnettesting.table.core.windows.net\n\n\n\n\nhttps://storagedotnettesting-secondary.blob.core.windows.net\nhttps://storagedotnettesting-secondary.file.core.windows.net\nhttps://storagedotnettesting-secondary.queue.core.windows.net\nhttps://storagedotnettesting-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://storagedotnettesting.blob.core.windows.net/;QueueEndpoint=https://storagedotnettesting.queue.core.windows.net/;FileEndpoint=https://storagedotnettesting.file.core.windows.net/;BlobSecondaryEndpoint=https://storagedotnettesting-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://storagedotnettesting-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://storagedotnettesting-secondary.file.core.windows.net/;AccountName=storagedotnettesting;AccountKey=Kg==;\n"
  }
}