{
  "Entries": [
    {
      "RequestUri": "https://amandacanary.blob.core.windows.net/test-container-89738d73-f093-129f-e234-4dd2a8659882?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 20 Oct 2021 17:31:27 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D993EF72AB5F24\u0022",
        "Last-Modified": "Wed, 20 Oct 2021 17:31:27 GMT",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://amandacanary.blob.core.windows.net/test-container-89738d73-f093-129f-e234-4dd2a8659882/test-blob-5df5f804-aa5f-9f81-caa7-621d0c3e9ff6",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Wed, 20 Oct 2021 17:31:28 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D993EF72B812F5\u0022",
        "Last-Modified": "Wed, 20 Oct 2021 17:31:28 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-04-10",
        "x-ms-version-id": "2021-10-20T17:31:28.0768757Z"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://amandacanary.blob.core.windows.net/test-container-89738d73-f093-129f-e234-4dd2a8659882/test-blob-5df5f804-aa5f-9f81-caa7-621d0c3e9ff6?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\u00220x8D993EF72C4BB64\u0022",
        "x-ms-date": "Wed, 20 Oct 2021 17:31:28 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": "vuW2YnG\u002B/pb7Dil39u2m8uaJOUvhJgCPYo\u002BAgQ4foQB0y9UTIV1nJsLGfud6zlZl\u002B233vfknBpjlJwDiPX2I3GwpAioXk9CIIROIG6cYFZQ5GoWgJ\u002BQGTcU8LvpdhehFPqF6UcssTWicbpvmn\u002BrxzBFrqSP357SIIrVk22XWK5sqQt0GnsTJDMwdBLlIH67bS2Ho8dzFTlbt8i4Vx3ICxUP/vFwN6i5NopxW2uP7PwIHiY8D7jm/ZfSGGauVs0VaGj52SGNRzWAzm05Ab3Nz8bIrDT7j/9cJQFZohtGCt\u002B9W/MCkhfeetrsuz1LqfvWAEyf5aaUHdhpmbAcM6EePseNf6XKzz2y7jFeCtC\u002BFHsFg53OqiU1JT4WlPhjv[...]
    {
      "RequestUri": "https://amandacanary.blob.core.windows.net/test-container-89738d73-f093-129f-e234-4dd2a8659882/test-blob-5df5f804-aa5f-9f81-caa7-621d0c3e9ff6",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 20 Oct 2021 17:31:28 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D993EF72D470A2\u0022",
        "Last-Modified": "Wed, 20 Oct 2021 17:31:28 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Wed, 20 Oct 2021 17:31:28 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-04-10",
        "x-ms-version-id": "2021-10-20T17:31:28.1608308Z"
      },
      "ResponseBody": "vuW2YnG\u002B/pb7Dil39u2m8uaJOUvhJgCPYo\u002BAgQ4foQB0y9UTIV1nJsLGfud6zlZl\u002B233vfknBpjlJwDiPX2I3GwpAioXk9CIIROIG6cYFZQ5GoWgJ\u002BQGTcU8LvpdhehFPqF6UcssTWicbpvmn\u002BrxzBFrqSP357SIIrVk22XWK5sqQt0GnsTJDMwdBLlIH67bS2Ho8dzFTlbt8i4Vx3ICxUP/vFwN6i5NopxW2uP7PwIHiY8D7jm/ZfSGGauVs0VaGj52SGNRzWAzm05Ab3Nz8bIrDT7j/9cJQFZohtGCt\u002B9W/MCkhfeetrsuz1LqfvWAEyf5aaUHdhpmb[...]
[...]
    {
      "RequestUri": "https://amandacanary.blob.core.windows.net/test-container-9560b5e1-112f-a052-b098-459103b17559/test-blob-4990a118-2e4c-947b-3b54-4ff09ed64090",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Modified-Since": "Tue, 19 Oct 2021 17:31:27 GMT",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Wed, 20 Oct 2021 17:31:28 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D993EF7312F793\u0022",
        "Last-Modified": "Wed, 20 Oct 2021 17:31:28 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-04-10",
        "x-ms-version-id": "2021-10-20T17:31:28.6745512Z"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://amandacanary.blob.core.windows.net/test-container-61fc6b90-d4cb-84f3-0143-388aaf96e10f/test-blob-85f168b4-d6d7-25db-baaa-584ab67d87ae",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Unmodified-Since": "Thu, 21 Oct 2021 17:31:27 GMT",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Wed, 20 Oct 2021 17:31:29 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D993EF736ACF50\u0022",
        "Last-Modified": "Wed, 20 Oct 2021 17:31:29 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-04-10",
        "x-ms-version-id": "2021-10-20T17:31:29.2492381Z"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://amandacanary.blob.core.windows.net/test-container-d693fe7a-6702-d83b-e46d-71bbf15e165a/test-blob-d5245898-3e26-2b97-b60c-d3143d457ad0?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 20 Oct 2021 17:31:30 GMT",
        "x-ms-lease-action": "acquire",
        "x-ms-lease-duration": "-1",
        "x-ms-proposed-lease-id": "241e14f9-3dea-449e-c67b-423d88cfc098",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D993EF745A171D\u0022",
        "Last-Modified": "Wed, 20 Oct 2021 17:31:30 GMT",
        "x-ms-lease-id": "241e14f9-3dea-449e-c67b-423d88cfc098",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://amandacanary.blob.core.windows.net/test-container-3665963c-c69c-69d6-78bb-4c77467a9d33?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 20 Oct 2021 17:31:32 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2021-10-20T10:31:27.9563860-07:00",
    "RandomSeed": "970306628",
    "Storage_TestConfigDefault": "ProductionTenant\namandacanary\nU2FuaXRpemVk\nhttps://amandacanary.blob.core.windows.net\nhttps://amandacanary.file.core.windows.net\nhttps://amandacanary.queue.core.windows.net\nhttps://amandacanary.table.core.windows.net\n\n\n\n\nhttps://amandacanary-secondary.blob.core.windows.net\nhttps://amandacanary-secondary.file.core.windows.net\nhttps://amandacanary-secondary.queue.core.windows.net\nhttps://amandacanary-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandacanary.blob.core.windows.net/;QueueEndpoint=https://amandacanary.queue.core.windows.net/;FileEndpoint=https://amandacanary.file.core.windows.net/;BlobSecondaryEndpoint=https://amandacanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandacanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandacanary-secondary.file.core.windows.net/;AccountName=amandacanary;AccountKey=Kg==;\ntestscope2\n\n"
  }
}