{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-02626c3c-8a8f-fa82-d0e6-0b31a252d1e7?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Sat, 08 Aug 2020 00:03:41 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D83B2E828A3F0D\u0022",
        "Last-Modified": "Sat, 08 Aug 2020 00:03:41 GMT",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-02626c3c-8a8f-fa82-d0e6-0b31a252d1e7/test-blob-e551906b-ce5c-992a-5a34-14f53ce7cbfd",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Sat, 08 Aug 2020 00:03:41 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D83B2E82910371\u0022",
        "Last-Modified": "Sat, 08 Aug 2020 00:03:41 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-02626c3c-8a8f-fa82-d0e6-0b31a252d1e7/test-blob-e551906b-ce5c-992a-5a34-14f53ce7cbfd?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8D83B2E8296F7FB\u0022",
        "x-ms-date": "Sat, 08 Aug 2020 00:03:41 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": "OI1tixLnc30auBIkpK\u002BBULVd7N64LHwymOfdP2U4IW8ipkKJnPOkIeqxhMlVZpkeuzmIGnc3ygwRO/IrCTQY4paiAf5t97PBuMrzB6iz3DJNvoMrrwb369s1eGABeRe2maEysmSbscSFx2GsQ8NkXl6/3Uuw7DOQqxUiN35Svz6yPW4GgCrNsgy/puekSqgY0RoBQZzMBaxuogdOeHpFMwci\u002BQZVXt008Ss\u002B8UZL62BtCmVkUH6i5jjBl94ifzmSeXPggVCiw3M9zVBwjRNmI7an4W4U4eKJgBPOlMb\u002BEnLyrHfTamkPy0byJ4MuMlkkWnMne53KfpiQVgE90y\u002BsPrrdfuCbk7hNlxUoIrleW025qTlT15bVJy7eQhRn0fcXRenIUL[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-02626c3c-8a8f-fa82-d0e6-0b31a252d1e7/test-blob-e551906b-ce5c-992a-5a34-14f53ce7cbfd",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 08 Aug 2020 00:03:41 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D83B2E829D88D9\u0022",
        "Last-Modified": "Sat, 08 Aug 2020 00:03:41 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Sat, 08 Aug 2020 00:03:41 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": "OI1tixLnc30auBIkpK\u002BBULVd7N64LHwymOfdP2U4IW8ipkKJnPOkIeqxhMlVZpkeuzmIGnc3ygwRO/IrCTQY4paiAf5t97PBuMrzB6iz3DJNvoMrrwb369s1eGABeRe2maEysmSbscSFx2GsQ8NkXl6/3Uuw7DOQqxUiN35Svz6yPW4GgCrNsgy/puekSqgY0RoBQZzMBaxuogdOeHpFMwci\u002BQZVXt008Ss\u002B8UZL62BtCmVkUH6i5jjBl94ifzmSeXPggVCiw3M9zVBwjRNmI7an4W4U4eKJgBPOlMb\u002BEnLyrHfTamkPy0byJ4MuMlkkWnMne53KfpiQVgE90y\u002BsPrrdfuCbk7hNlxUoIrleW025qTlT15bVJy7eQhRn0fcXRenIULR4iMa62[...]
[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-f7170ceb-a3f5-a249-6112-9ab809552cbc/test-blob-43191769-b21a-c22c-7e6b-12fb73ee21b2",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Modified-Since": "Fri, 07 Aug 2020 00:03:41 GMT",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Sat, 08 Aug 2020 00:03:42 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D83B2E82D0B02D\u0022",
        "Last-Modified": "Sat, 08 Aug 2020 00:03:42 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-e1c0b6a5-ab4e-b74b-31aa-9bdbb99d539c/test-blob-e8434ed1-4e33-dfe0-fa4f-74f99614218f",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Unmodified-Since": "Sun, 09 Aug 2020 00:03:41 GMT",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Sat, 08 Aug 2020 00:03:42 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D83B2E832C9CA6\u0022",
        "Last-Modified": "Sat, 08 Aug 2020 00:03:42 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-b48dc49b-0093-c9ac-092e-cdd8329e36b3/test-blob-49bc5a8e-d2e2-6b35-0027-396c778d1791",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "\u0022garbage\u0022",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Sat, 08 Aug 2020 00:03:43 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D83B2E83AA2111\u0022",
        "Last-Modified": "Sat, 08 Aug 2020 00:03:43 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-1e334957-8e09-c5ac-bd94-fc6c3c088474/test-blob-f5f1559c-6832-7842-8211-6be8f546fad1?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 08 Aug 2020 00:03:43 GMT",
        "x-ms-lease-action": "acquire",
        "x-ms-lease-duration": "-1",
        "x-ms-proposed-lease-id": "b795009d-7657-93dc-8aec-2791772f6b13",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D83B2E83E1B5FF\u0022",
        "Last-Modified": "Sat, 08 Aug 2020 00:03:44 GMT",
        "x-ms-lease-id": "b795009d-7657-93dc-8aec-2791772f6b13",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-bac23270-2897-6174-26e2-6633bd7518ef?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 08 Aug 2020 00:03:45 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2020-08-07T19:03:41.5454828-05:00",
    "RandomSeed": "180013149",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\nseanscope1"
  }
}