{
  "Entries": [
    {
      "RequestUri": "https://seanmccprodca.blob.core.windows.net/test-container-e016426d-d675-9fd6-fa7c-0289688477e5?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 11 Aug 2020 23:36:36 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D83E4F636CD2E4\u0022",
        "Last-Modified": "Tue, 11 Aug 2020 23:36:36 GMT",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmccprodca.blob.core.windows.net/test-container-e016426d-d675-9fd6-fa7c-0289688477e5/test-blob-109f2eda-4d4a-5081-6a7b-c984c43ec2e0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Tue, 11 Aug 2020 23:36:36 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D83E4F63829184\u0022",
        "Last-Modified": "Tue, 11 Aug 2020 23:36:36 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-12-12",
        "x-ms-version-id": "2020-08-11T23:36:36.5774992Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmccprodca.blob.core.windows.net/test-container-e016426d-d675-9fd6-fa7c-0289688477e5/test-blob-109f2eda-4d4a-5081-6a7b-c984c43ec2e0",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 11 Aug 2020 23:36:36 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D83E4F63829184\u0022",
        "Last-Modified": "Tue, 11 Aug 2020 23:36:36 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Tue, 11 Aug 2020 23:36:36 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2019-12-12",
        "x-ms-version-id": "2020-08-11T23:36:36.5774992Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmccprodca.blob.core.windows.net/test-container-e016426d-d675-9fd6-fa7c-0289688477e5/test-blob-109f2eda-4d4a-5081-6a7b-c984c43ec2e0?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8D83E4F63829184\u0022",
        "x-ms-date": "Tue, 11 Aug 2020 23:36:36 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-511",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": "8fELRG\u002BPm0Pv8McoctBPcF9LmwdkUFFsxQGYnPYnPL7Nyb8O79cOWSCXgp65FkBOTDC4J\u002B9MrKCgnn9u9v9NyLQIWqgQQYCHPELnzc6ysq7ASk/FbhTOgRwfblBYoGMgSrnqsLyXPQuvMeutZN/R7ezRrauwh1mfOtmM8dIwL5vexoIUyAHyKQxDFTwpIRw8TYBjh/O3cMJgSnbiC0s4fwJPzp5cvSTq3oOebHEddRi8T6RSzKeoJ1bAtH6LDx7BC5Y62lN\u002B349beahvGARRQtRdJrym5rJapqZInAimXs9l3WDa4pvFPm8U9lL/OA9RbnGqLehhGiXj4DOsNkOGtRrZCTqjdmA4mOhMke9fWm6X9i2X/DDmA8M79wJoGAgsjkE4Ji/UrvgRcZUAFIg1g4XFFT8V77jq8gZ3Z39d0IDgIAOuJzQ/w0c1hYub5e46BnN9ogPIF56ITTMoXEd5s6AVIPSEhltQhlH332ktTg0XPGAL4C59FwllJtoBFmYAvNLqhsX6tX8XLByx0Tc0Wv8mER/mbdJymAjqH2CBT3Dq9iOXQshHHIbh87QRy0bRMMva2wRGGk7/eO69D5Yelt2rxtoUnRc33vSZBXkeYMzBGe\u002BVp3NrpNzUl8raig3wwl3WZQVsvJKzo/wPrRXU4Rch\u002B/amie9pQCL9QAZNXFQ=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D83E4F639E0DA5\u0022",
        "Last-Modified": "Tue, 11 Aug 2020 23:36:36 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-content-crc64": "rowJYy6Dn50=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seanmccprodca.blob.core.windows.net/test-container-e016426d-d675-9fd6-fa7c-0289688477e5?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 11 Aug 2020 23:36:36 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1509797304",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmccprodca\nU2FuaXRpemVk\nhttps://seanmccprodca.blob.core.windows.net\nhttps://seanmccprodca.file.core.windows.net\nhttps://seanmccprodca.queue.core.windows.net\nhttps://seanmccprodca.table.core.windows.net\n\n\n\n\nhttps://seanmccprodca-secondary.blob.core.windows.net\nhttps://seanmccprodca-secondary.file.core.windows.net\nhttps://seanmccprodca-secondary.queue.core.windows.net\nhttps://seanmccprodca-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmccprodca.blob.core.windows.net/;QueueEndpoint=https://seanmccprodca.queue.core.windows.net/;FileEndpoint=https://seanmccprodca.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmccprodca-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmccprodca-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmccprodca-secondary.file.core.windows.net/;AccountName=seanmccprodca;AccountKey=Kg==;\nseanscope1"
  }
}