{
  "Entries": [
    {
      "RequestUri": "https://amandacanary.blob.core.windows.net/test-container-a2072a6e-e1f2-0ffe-0f68-393252c72f73?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 20 Oct 2021 17:31:52 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D993EF813EB57E\u0022",
        "Last-Modified": "Wed, 20 Oct 2021 17:31:52 GMT",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://amandacanary.blob.core.windows.net/test-container-a2072a6e-e1f2-0ffe-0f68-393252c72f73/test-blob-befb5117-acbc-7108-ecfd-a321cd233501",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Wed, 20 Oct 2021 17:31:52 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D993EF814B90B0\u0022",
        "Last-Modified": "Wed, 20 Oct 2021 17:31:52 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-04-10",
        "x-ms-version-id": "2021-10-20T17:31:52.5315760Z"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://amandacanary.blob.core.windows.net/test-container-a2072a6e-e1f2-0ffe-0f68-393252c72f73/test-blob-befb5117-acbc-7108-ecfd-a321cd233501?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\u00220x8D993EF81588733\u0022",
        "x-ms-date": "Wed, 20 Oct 2021 17:31:52 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": "TPOCoJfVUYYVnE9o3gZpFxRDnUtgre4hhIqhLeEBN34d57UVUkjIry88cnZ1k57Oqpgl5FPrhZ8EYBwNMySkE2TQSvZQVMXLeu0cJDp4rPDr04NI21IrMmIWEfEsunsLl18RpEmofVbTWmllzmFki7QrImChXDcSpReUOkLTn8BxEYzbZgemQ1UsdIHoxWMBsYU9AJgbaTsn//8xE0ITALqp873ViSWshd8KdOi2Kd\u002B0k4i9lZ4nVqdQtGYHdS8SGXPHP9KmLCdgkHu5EPVTcNYgfYC6VmobgZwWhNW\u002BpQ\u002Bv91t07\u002BkNDmZgXQUjbkax/UOQ5/euWMIJq701j6dSoetrChia3oHsE28ZWfll9xNWZIaRLb0YAJ6YakMs2H6\u002BDrsZuG[...]
    {
      "RequestUri": "https://amandacanary.blob.core.windows.net/test-container-a2072a6e-e1f2-0ffe-0f68-393252c72f73/test-blob-befb5117-acbc-7108-ecfd-a321cd233501",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 20 Oct 2021 17:31:52 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D993EF816A860E\u0022",
        "Last-Modified": "Wed, 20 Oct 2021 17:31:52 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Wed, 20 Oct 2021 17:31:52 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-04-10",
        "x-ms-version-id": "2021-10-20T17:31:52.6175299Z"
      },
      "ResponseBody": "TPOCoJfVUYYVnE9o3gZpFxRDnUtgre4hhIqhLeEBN34d57UVUkjIry88cnZ1k57Oqpgl5FPrhZ8EYBwNMySkE2TQSvZQVMXLeu0cJDp4rPDr04NI21IrMmIWEfEsunsLl18RpEmofVbTWmllzmFki7QrImChXDcSpReUOkLTn8BxEYzbZgemQ1UsdIHoxWMBsYU9AJgbaTsn//8xE0ITALqp873ViSWshd8KdOi2Kd\u002B0k4i9lZ4nVqdQtGYHdS8SGXPHP9KmLCdgkHu5EPVTcNYgfYC6VmobgZwWhNW\u002BpQ\u002Bv91t07\u002BkNDmZgXQUjbkax/UOQ5/euWMIJq701j6dSoet[...]
    {
      "RequestUri": "https://amandacanary.blob.core.windows.net/test-container-a2072a6e-e1f2-0ffe-0f68-393252c72f73?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 20 Oct 2021 17:31:52 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "171203161",
    "Storage_TestConfigDefault": "ProductionTenant\namandacanary\nU2FuaXRpemVk\nhttps://amandacanary.blob.core.windows.net\nhttps://amandacanary.file.core.windows.net\nhttps://amandacanary.queue.core.windows.net\nhttps://amandacanary.table.core.windows.net\n\n\n\n\nhttps://amandacanary-secondary.blob.core.windows.net\nhttps://amandacanary-secondary.file.core.windows.net\nhttps://amandacanary-secondary.queue.core.windows.net\nhttps://amandacanary-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandacanary.blob.core.windows.net/;QueueEndpoint=https://amandacanary.queue.core.windows.net/;FileEndpoint=https://amandacanary.file.core.windows.net/;BlobSecondaryEndpoint=https://amandacanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandacanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandacanary-secondary.file.core.windows.net/;AccountName=amandacanary;AccountKey=Kg==;\ntestscope2\n\n"
  }
}