{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-02626c3c-8a8f-fa82-d0e6-0b31a252d1e7?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Fri, 20 Aug 2021 22:45:53 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9642C4413A348\u0022",
        "Last-Modified": "Fri, 20 Aug 2021 22:45:53 GMT",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-02626c3c-8a8f-fa82-d0e6-0b31a252d1e7/test-blob-e551906b-ce5c-992a-5a34-14f53ce7cbfd",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Fri, 20 Aug 2021 22:45:53 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9642C441B4564\u0022",
        "Last-Modified": "Fri, 20 Aug 2021 22:45:53 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-10-02",
        "x-ms-version-id": "2021-08-20T22:45:53.3612388Z"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-02626c3c-8a8f-fa82-d0e6-0b31a252d1e7/test-blob-e551906b-ce5c-992a-5a34-14f53ce7cbfd?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\u00220x8D9642C44230EF9\u0022",
        "x-ms-date": "Fri, 20 Aug 2021 22:45:53 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": "OI1tixLnc30auBIkpK\u002BBULVd7N64LHwymOfdP2U4IW8ipkKJnPOkIeqxhMlVZpkeuzmIGnc3ygwRO/IrCTQY4paiAf5t97PBuMrzB6iz3DJNvoMrrwb369s1eGABeRe2maEysmSbscSFx2GsQ8NkXl6/3Uuw7DOQqxUiN35Svz6yPW4GgCrNsgy/puekSqgY0RoBQZzMBaxuogdOeHpFMwci\u002BQZVXt008Ss\u002B8UZL62BtCmVkUH6i5jjBl94ifzmSeXPggVCiw3M9zVBwjRNmI7an4W4U4eKJgBPOlMb\u002BEnLyrHfTamkPy0byJ4MuMlkkWnMne53KfpiQVgE90y\u002BsPrrdfuCbk7hNlxUoIrleW025qTlT15bVJy7eQhRn0fcXRenIUL[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-02626c3c-8a8f-fa82-d0e6-0b31a252d1e7/test-blob-e551906b-ce5c-992a-5a34-14f53ce7cbfd",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 20 Aug 2021 22:45:53 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D9642C442EA9C8\u0022",
        "Last-Modified": "Fri, 20 Aug 2021 22:45:53 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Fri, 20 Aug 2021 22:45:53 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-10-02",
        "x-ms-version-id": "2021-08-20T22:45:53.4142752Z"
      },
      "ResponseBody": "OI1tixLnc30auBIkpK\u002BBULVd7N64LHwymOfdP2U4IW8ipkKJnPOkIeqxhMlVZpkeuzmIGnc3ygwRO/IrCTQY4paiAf5t97PBuMrzB6iz3DJNvoMrrwb369s1eGABeRe2maEysmSbscSFx2GsQ8NkXl6/3Uuw7DOQqxUiN35Svz6yPW4GgCrNsgy/puekSqgY0RoBQZzMBaxuogdOeHpFMwci\u002BQZVXt008Ss\u002B8UZL62BtCmVkUH6i5jjBl94ifzmSeXPggVCiw3M9zVBwjRNmI7an4W4U4eKJgBPOlMb\u002BEnLyrHfTamkPy0byJ4MuMlkkWnMne53KfpiQVgE90y\u002[...]
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-f7170ceb-a3f5-a249-6112-9ab809552cbc/test-blob-43191769-b21a-c22c-7e6b-12fb73ee21b2",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Modified-Since": "Thu, 19 Aug 2021 22:45:53 GMT",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Fri, 20 Aug 2021 22:45:53 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9642C4453C4A3\u0022",
        "Last-Modified": "Fri, 20 Aug 2021 22:45:53 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-10-02",
        "x-ms-version-id": "2021-08-20T22:45:53.7324979Z"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-e1c0b6a5-ab4e-b74b-31aa-9bdbb99d539c/test-blob-e8434ed1-4e33-dfe0-fa4f-74f99614218f",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Unmodified-Since": "Sat, 21 Aug 2021 22:45:53 GMT",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Fri, 20 Aug 2021 22:45:54 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9642C4484532F\u0022",
        "Last-Modified": "Fri, 20 Aug 2021 22:45:54 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-10-02",
        "x-ms-version-id": "2021-08-20T22:45:54.0507199Z"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-1e334957-8e09-c5ac-bd94-fc6c3c088474/test-blob-f5f1559c-6832-7842-8211-6be8f546fad1?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 20 Aug 2021 22:45:55 GMT",
        "x-ms-lease-action": "acquire",
        "x-ms-lease-duration": "-1",
        "x-ms-proposed-lease-id": "b795009d-7657-93dc-8aec-2791772f6b13",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9642C45167422\u0022",
        "Last-Modified": "Fri, 20 Aug 2021 22:45:55 GMT",
        "x-ms-lease-id": "b795009d-7657-93dc-8aec-2791772f6b13",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-bac23270-2897-6174-26e2-6633bd7518ef?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 20 Aug 2021 22:45:56 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2021-08-20T15:45:53.2934863-07:00",
    "RandomSeed": "180013149",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Kg==;\ntestscope2\n\n"
  }
}