{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-1a93e4b5-81eb-969b-376d-6b879afd4de6?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Sat, 08 Aug 2020 00:03:37 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D83B2E806E880C\u0022",
        "Last-Modified": "Sat, 08 Aug 2020 00:03:38 GMT",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-1a93e4b5-81eb-969b-376d-6b879afd4de6/test-blob-ce88e05a-bab4-68bc-bb51-a853776cae6a",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Sat, 08 Aug 2020 00:03:38 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D83B2E807588A7\u0022",
        "Last-Modified": "Sat, 08 Aug 2020 00:03:38 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-1a93e4b5-81eb-969b-376d-6b879afd4de6/test-blob-ce88e05a-bab4-68bc-bb51-a853776cae6a",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 08 Aug 2020 00:03:38 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D83B2E807588A7\u0022",
        "Last-Modified": "Sat, 08 Aug 2020 00:03:38 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Sat, 08 Aug 2020 00:03:38 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-1a93e4b5-81eb-969b-376d-6b879afd4de6/test-blob-ce88e05a-bab4-68bc-bb51-a853776cae6a?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8D83B2E807588A7\u0022",
        "x-ms-date": "Sat, 08 Aug 2020 00:03:38 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": "Et2vmFfrZcJFbKZixJdiNhjpW8mYpiVGKOiLV56hIlgQJhEo1qFnC0gRwdgF5K2RPMPhEHN4N2u3aW9uXw4kpEpOUZ6GOV92gU\u002BBh\u002BVNQEM7\u002BhrbwBLkl\u002B\u002BmcWwx\u002Baw57ByOtpIPCwNjao4k96\u002BGaigrM2TzSeQ3armu38jzRYijR5rIvoqxK\u002B8Xd1WDv6A/HwZEBsVHRaM3VkzYYCs6cCQGgK8Uvaueegd13NGOtKoZbsDBrj/CXAH3kGg92MvE3AcxfD/wK2Jbpou90WnSqaKhv/FqecLlRCSuHSxDYKE8sADKXTdrKENdZgezBIqYJOfFnBjZWWNFSzgaQg01F0bpgSFoCEtqNZeuDRO6Mj\u002BaFfhFfc[...]
[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-2681abc3-525d-5052-1f56-f95cffb51b3b/test-blob-6d1d0051-e248-6865-9232-28ebc0fff8ea",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Modified-Since": "Fri, 07 Aug 2020 00:03:37 GMT",
        "x-ms-date": "Sat, 08 Aug 2020 00:03:38 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D83B2E80AC8138\u0022",
        "Last-Modified": "Sat, 08 Aug 2020 00:03:38 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Sat, 08 Aug 2020 00:03:38 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-43b8f618-d864-2fa8-90c1-ff581efd8cdb/test-blob-9dfffb2d-a8ff-868c-71ca-2b85dfead308",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Unmodified-Since": "Sun, 09 Aug 2020 00:03:37 GMT",
        "x-ms-date": "Sat, 08 Aug 2020 00:03:39 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D83B2E80F33423\u0022",
        "Last-Modified": "Sat, 08 Aug 2020 00:03:39 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Sat, 08 Aug 2020 00:03:39 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-acd8c827-c65b-226f-ab18-cc1995b319a9/test-blob-0ed6c5e2-76fd-d252-7b01-a5265a3c7ddd",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "\u0022garbage\u0022",
        "x-ms-date": "Sat, 08 Aug 2020 00:03:39 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D83B2E8169D979\u0022",
        "Last-Modified": "Sat, 08 Aug 2020 00:03:39 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Sat, 08 Aug 2020 00:03:39 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-3350d222-eefe-b7fa-8db0-151db4a00d82/test-blob-eed9abae-b9a1-241e-9a1e-7692fa458097?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 08 Aug 2020 00:03:40 GMT",
        "x-ms-lease-action": "acquire",
        "x-ms-lease-duration": "-1",
        "x-ms-proposed-lease-id": "c1492553-ffca-469d-35ee-40571dfae432",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D83B2E819F9955\u0022",
        "Last-Modified": "Sat, 08 Aug 2020 00:03:40 GMT",
        "x-ms-lease-id": "c1492553-ffca-469d-35ee-40571dfae432",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-dded4661-69f1-3ccd-e4a5-db3324ba23cc?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 08 Aug 2020 00:03:41 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2020-08-07T19:03:37.9345178-05:00",
    "RandomSeed": "647360483",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\nseanscope1"
  }
}