{
  "Entries": [
    {
      "RequestUri": "https://storagedotnettesting.blob.core.windows.net/test-container-02626c3c-8a8f-fa82-d0e6-0b31a252d1e7?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 01 Oct 2020 23:02:44 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8665E1B506655\u0022",
        "Last-Modified": "Thu, 01 Oct 2020 23:02:44 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://storagedotnettesting.blob.core.windows.net/test-container-02626c3c-8a8f-fa82-d0e6-0b31a252d1e7/test-blob-e551906b-ce5c-992a-5a34-14f53ce7cbfd",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Thu, 01 Oct 2020 23:02:44 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8665E1B55D899\u0022",
        "Last-Modified": "Thu, 01 Oct 2020 23:02:44 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://storagedotnettesting.blob.core.windows.net/test-container-02626c3c-8a8f-fa82-d0e6-0b31a252d1e7/test-blob-e551906b-ce5c-992a-5a34-14f53ce7cbfd?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8D8665E1B5A94A7\u0022",
        "x-ms-date": "Thu, 01 Oct 2020 23:02:44 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": "OI1tixLnc30auBIkpK\u002BBULVd7N64LHwymOfdP2U4IW8ipkKJnPOkIeqxhMlVZpkeuzmIGnc3ygwRO/IrCTQY4paiAf5t97PBuMrzB6iz3DJNvoMrrwb369s1eGABeRe2maEysmSbscSFx2GsQ8NkXl6/3Uuw7DOQqxUiN35Svz6yPW4GgCrNsgy/puekSqgY0RoBQZzMBaxuogdOeHpFMwci\u002BQZVXt008Ss\u002B8UZL62BtCmVkUH6i5jjBl94ifzmSeXPggVCiw3M9zVBwjRNmI7an4W4U4eKJgBPOlMb\u002BEnLyrHfTamkPy0byJ4MuMlkkWnMne53KfpiQVgE90y\u002BsPrrdfuCbk7hNlxUoIrleW025qTlT15bVJy7eQhRn0fcXRenIUL[...]
    {
      "RequestUri": "https://storagedotnettesting.blob.core.windows.net/test-container-02626c3c-8a8f-fa82-d0e6-0b31a252d1e7/test-blob-e551906b-ce5c-992a-5a34-14f53ce7cbfd",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 01 Oct 2020 23:02:44 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D8665E1B5FED28\u0022",
        "Last-Modified": "Thu, 01 Oct 2020 23:02:44 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Thu, 01 Oct 2020 23:02:44 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": "OI1tixLnc30auBIkpK\u002BBULVd7N64LHwymOfdP2U4IW8ipkKJnPOkIeqxhMlVZpkeuzmIGnc3ygwRO/IrCTQY4paiAf5t97PBuMrzB6iz3DJNvoMrrwb369s1eGABeRe2maEysmSbscSFx2GsQ8NkXl6/3Uuw7DOQqxUiN35Svz6yPW4GgCrNsgy/puekSqgY0RoBQZzMBaxuogdOeHpFMwci\u002BQZVXt008Ss\u002B8UZL62BtCmVkUH6i5jjBl94ifzmSeXPggVCiw3M9zVBwjRNmI7an4W4U4eKJgBPOlMb\u002BEnLyrHfTamkPy0byJ4MuMlkkWnMne53KfpiQVgE90y\u002BsPrrdfuCbk7hNlxUoIrleW025qTlT15bVJy7eQhRn0fcXRenIULR4iMa62[...]
[...]
    {
      "RequestUri": "https://storagedotnettesting.blob.core.windows.net/test-container-f7170ceb-a3f5-a249-6112-9ab809552cbc/test-blob-43191769-b21a-c22c-7e6b-12fb73ee21b2",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Modified-Since": "Wed, 30 Sep 2020 23:02:44 GMT",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Thu, 01 Oct 2020 23:02:44 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8665E1B8446CE\u0022",
        "Last-Modified": "Thu, 01 Oct 2020 23:02:44 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://storagedotnettesting.blob.core.windows.net/test-container-e1c0b6a5-ab4e-b74b-31aa-9bdbb99d539c/test-blob-e8434ed1-4e33-dfe0-fa4f-74f99614218f",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Unmodified-Since": "Fri, 02 Oct 2020 23:02:44 GMT",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Thu, 01 Oct 2020 23:02:45 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8665E1BB17C48\u0022",
        "Last-Modified": "Thu, 01 Oct 2020 23:02:45 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://storagedotnettesting.blob.core.windows.net/test-container-1e334957-8e09-c5ac-bd94-fc6c3c088474/test-blob-f5f1559c-6832-7842-8211-6be8f546fad1?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 01 Oct 2020 23:02:45 GMT",
        "x-ms-lease-action": "acquire",
        "x-ms-lease-duration": "-1",
        "x-ms-proposed-lease-id": "b795009d-7657-93dc-8aec-2791772f6b13",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8665E1C30B61F\u0022",
        "Last-Modified": "Thu, 01 Oct 2020 23:02:45 GMT",
        "x-ms-lease-id": "b795009d-7657-93dc-8aec-2791772f6b13",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://storagedotnettesting.blob.core.windows.net/test-container-bac23270-2897-6174-26e2-6633bd7518ef?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 01 Oct 2020 23:02:46 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2020-10-01T16:02:44.3176186-07:00",
    "RandomSeed": "180013149",
    "Storage_TestConfigDefault": "ProductionTenant\nstoragedotnettesting\nU2FuaXRpemVk\nhttps://storagedotnettesting.blob.core.windows.net\nhttps://storagedotnettesting.file.core.windows.net\nhttps://storagedotnettesting.queue.core.windows.net\nhttps://storagedotnettesting.table.core.windows.net\n\n\n\n\nhttps://storagedotnettesting-secondary.blob.core.windows.net\nhttps://storagedotnettesting-secondary.file.core.windows.net\nhttps://storagedotnettesting-secondary.queue.core.windows.net\nhttps://storagedotnettesting-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://storagedotnettesting.blob.core.windows.net/;QueueEndpoint=https://storagedotnettesting.queue.core.windows.net/;FileEndpoint=https://storagedotnettesting.file.core.windows.net/;BlobSecondaryEndpoint=https://storagedotnettesting-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://storagedotnettesting-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://storagedotnettesting-secondary.file.core.windows.net/;AccountName=storagedotnettesting;AccountKey=Kg==;\n"
  }
}