{
  "Entries": [
    {
      "RequestUri": "https://seanmccprodca.blob.core.windows.net/test-container-1cf5a92f-18af-36ef-18c8-52cf659cb112?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 27 Jul 2020 17:50:26 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D832558CA8D004\u0022",
        "Last-Modified": "Mon, 27 Jul 2020 17:50:28 GMT",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmccprodca.blob.core.windows.net/test-container-1cf5a92f-18af-36ef-18c8-52cf659cb112/test-blob-75579b1c-ae82-0c7c-a0db-5e0c68a04964",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "3072",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Mon, 27 Jul 2020 17:50:27 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D832558CB2FA59\u0022",
        "Last-Modified": "Mon, 27 Jul 2020 17:50:28 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-12-12",
        "x-ms-version-id": "2020-07-27T17:50:28.7073881Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmccprodca.blob.core.windows.net/test-container-1cf5a92f-18af-36ef-18c8-52cf659cb112/test-blob-75579b1c-ae82-0c7c-a0db-5e0c68a04964",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 27 Jul 2020 17:50:27 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D832558CB2FA59\u0022",
        "Last-Modified": "Mon, 27 Jul 2020 17:50:28 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Mon, 27 Jul 2020 17:50:28 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2019-12-12",
        "x-ms-version-id": "2020-07-27T17:50:28.7073881Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmccprodca.blob.core.windows.net/test-container-1cf5a92f-18af-36ef-18c8-52cf659cb112/test-blob-75579b1c-ae82-0c7c-a0db-5e0c68a04964?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8D832558CB2FA59\u0022",
        "x-ms-date": "Mon, 27 Jul 2020 17:50:27 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-511",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": "IqgF25/qYtgPeUYdkR314Uw2GHpu9wc3jMyiMnbid\u002BoHBzxtubOHCYtZQeLHBJgFOOtdLyzjpiqhzU/TRy9iLQJbFYngiCiYrg7vFbYkb4cznPmKhEi9JGASzOtjtMFb9hTga\u002B4PJLDCxIAd85B0fV3IoKs116m5nvEpzrw9NfpNlB\u002BhQwOZJHhJyL/HnzHPnU\u002BNmxQWJR5qJ8395lX0hY\u002BG0F9x0jlZL3sz7A/q8f7AWTFtr5rmNm4ANxw2nD4iVUIvQc/RXssVM2uY4zkPgDXPPIwkh9b1n5rwcJsdI5M9EJfNuq8u7vplV3suTVM08bbmZl\u002Bx/c5sOqE14e0w\u002BBDYW9KiQsaFoE6Svy9ax1JGvH/kNrwzixPIYIAN\u002BQ0NNV9rVfKAkq/wYMURHz6eEXJP7iRuS8FTpM\u002B/2eFFeKdAhInQ7nJfxirP9NX3ImzVKk4NvgvonumdGLAiwLjOquge0Jq0ziIA7yf6nlbrXIFj6q\u002BSOLmbWOWgMtbBPQVxAUrs2FLRIFwsDc7j7f\u002BTsbwuv9YJO3Iug3e0FJtMP7IiiZ0M/oMvkclTZivruGrmDIAZkn0uaMXYvVXaHAzA380bwWRihrM4/y0NttVHQ8sNzgcbMqw18yHYNEAuVHS8koZd0PYFg4bN4ZNPIbHvkHqKzU4Fpa0h5s5DilJyCas=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D832558CC489BE\u0022",
        "Last-Modified": "Mon, 27 Jul 2020 17:50:28 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-content-crc64": "8SVuJyZAsRY=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seanmccprodca.blob.core.windows.net/test-container-1cf5a92f-18af-36ef-18c8-52cf659cb112/test-blob-75579b1c-ae82-0c7c-a0db-5e0c68a04964?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8D832558CC489BE\u0022",
        "x-ms-date": "Mon, 27 Jul 2020 17:50:27 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=512-1023",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": "uVAjT\u002Blz1AdLgU1RGebRb\u002BijxqSHJrbs2TzqJ8L5M1vX6JbRjqCmB7XFA4RXWwcA/dSir6xlI5KZNnatiaxFUU3yejFPAOFH/L7vwSMylH006SruV4SuccQEN1cq\u002BX4IgLE3ZeHVsP3yWrLtdmJuZ6H5eJ\u002BBVvrJQwhtS8iJHANA5kFy\u002By\u002BbXzkt\u002B/zSwftildC1MYDehym2biHZaGQ0aT2urI8g/GxyXRllVFv\u002B9oIMC7X41OuDYl8XvI0NwfbU\u002BJK\u002BIxVrQZlkQ9NmeTLOt3efzF2vPJRSK0owCD/eZJwikVvIQNNsoMkclJEYHOksSQQWbvSZJbz9bPfKOjhZhd43Q\u002BfXBXejMiyTkqgDOg9hBL87yPaniWueytPcoWWRwg6y4NgBVUSMcjvIBZIU\u002BjHnaTZ5Hbzoj7p8ODqjxpHGAtCZUFk3YK97r1W73oPYitCi9DgvGKRSylAdhBwK6KypAgLCe6nYsAmH/m5mLbE2o65pAdFYluorRoYIGduSccapEduBFQ4myUQuqBo2652f5\u002BBuoObaUGwYlzQiz5ct9I2nvRvVtY2fQjeNKu7Q9FvpaTH6JNDfz8BvaH7ZBPqsAbOMji6ByTJTzl2vTCZ9R6LZOWVlM8\u002B8x\u002B5bZUwPxj494Sk6Q2YsaJ//p1ZzMIKZ8SDcAMuURs3j0MY/JmQ=",
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003EConditionNotMet\u003C/Code\u003E\u003CMessage\u003EThe condition specified using HTTP conditional header(s) is not met.\n",
        "RequestId:b714c2e4-301e-00a3-4f3e-64f447000000\n",
        "Time:2020-07-27T17:50:28.9389762Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
    {
      "RequestUri": "https://seanmccprodca.blob.core.windows.net/test-container-1cf5a92f-18af-36ef-18c8-52cf659cb112?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 27 Jul 2020 17:50:27 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "678792484",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmccprodca\nU2FuaXRpemVk\nhttps://seanmccprodca.blob.core.windows.net\nhttps://seanmccprodca.file.core.windows.net\nhttps://seanmccprodca.queue.core.windows.net\nhttps://seanmccprodca.table.core.windows.net\n\n\n\n\nhttps://seanmccprodca-secondary.blob.core.windows.net\nhttps://seanmccprodca-secondary.file.core.windows.net\nhttps://seanmccprodca-secondary.queue.core.windows.net\nhttps://seanmccprodca-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmccprodca.blob.core.windows.net/;QueueEndpoint=https://seanmccprodca.queue.core.windows.net/;FileEndpoint=https://seanmccprodca.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmccprodca-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmccprodca-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmccprodca-secondary.file.core.windows.net/;AccountName=seanmccprodca;AccountKey=Kg==;\nseanscope1"
  }
}