{
  "Entries": [
    {
      "RequestUri": "https://storagedotnettesting.blob.core.windows.net/test-container-b803c6ef-814b-4adf-fcdc-bdc98d5f90b9?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 01 Oct 2020 22:57:44 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8665D68D91CED\u0022",
        "Last-Modified": "Thu, 01 Oct 2020 22:57:44 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://storagedotnettesting.blob.core.windows.net/test-container-b803c6ef-814b-4adf-fcdc-bdc98d5f90b9/test-blob-577c88f4-d2a7-133d-8542-fe2ffcfb206d",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Thu, 01 Oct 2020 22:57:45 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8665D68DF809B\u0022",
        "Last-Modified": "Thu, 01 Oct 2020 22:57:45 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://storagedotnettesting.blob.core.windows.net/test-container-b803c6ef-814b-4adf-fcdc-bdc98d5f90b9/test-blob-577c88f4-d2a7-133d-8542-fe2ffcfb206d",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 01 Oct 2020 22:57:45 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D8665D68DF809B\u0022",
        "Last-Modified": "Thu, 01 Oct 2020 22:57:45 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Thu, 01 Oct 2020 22:57:45 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://storagedotnettesting.blob.core.windows.net/test-container-b803c6ef-814b-4adf-fcdc-bdc98d5f90b9/test-blob-577c88f4-d2a7-133d-8542-fe2ffcfb206d?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8D8665D68DF809B\u0022",
        "x-ms-date": "Thu, 01 Oct 2020 22:57:45 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-511",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": "O6uvppx14HTvF2Qx8RZR\u002ByBrQAUNfluM2R0dEvW7KVLuvusW2nz1ehV6sfoX7HuDSo69z2CAFLxQIs1/V85\u002BM\u002B4SQzIqOyGkdsXwk8xgdeyhmcdm/lnxbaouxbevdiJG\u002B34MBalIWA9tGFmbkIHv763g3b4HFzSUIdWI/HZq9QCjqZdOU3BDWUG4\u002Beb/Vt0pPtUJzphkP\u002BNJd\u002BPTwFyZAiNZ9\u002BbpoZw9nYR8Tx5Olcv4X72gYCZnP2qzBdyMb5jkH/bCpl72P505zDAT5/DF\u002BuIY2mGf\u002BKL88bh8NZvAsS3slzAnjO5sAiAfZpP1VFd67gr5c5U3RSZUxbSlegkCeRsDJ0\u002B/nW7zq9hBf5EOB5xhAkeQxj2YtFIJ0sY6x4gWHe148i0IulCcBce89saURr4XRHfCcbLdanL9tsqnueRQKmKklRRvWEf288F13L2MdIwIIoIQVKw6moi6CgSF9Uzja8xk8LCqp\u002Bsvy33xaI61cUE\u002BnpZiQNW1afuLtU1DcP50knDxKITcXnuW4IkuSDL6BZnCR1e2gSv2roa1HvKe7Fp/fdYdxEm9YUAby2BMhyDIkbCzgSmnvhBF\u002Bnn9J0CI\u002BPQur8tc3EFQBeYWmrXLqiZl7IxC6mox2L7F2MnPvzr/ktJsHdhVbLVuY3tCkCNbek9TlzqzRQ6J/NYMlgQ=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8665D68EA7FC4\u0022",
        "Last-Modified": "Thu, 01 Oct 2020 22:57:45 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-content-crc64": "7bzM8ChTEyc=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://storagedotnettesting.blob.core.windows.net/test-container-b803c6ef-814b-4adf-fcdc-bdc98d5f90b9?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 01 Oct 2020 22:57:45 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1012542736",
    "Storage_TestConfigDefault": "ProductionTenant\nstoragedotnettesting\nU2FuaXRpemVk\nhttps://storagedotnettesting.blob.core.windows.net\nhttps://storagedotnettesting.file.core.windows.net\nhttps://storagedotnettesting.queue.core.windows.net\nhttps://storagedotnettesting.table.core.windows.net\n\n\n\n\nhttps://storagedotnettesting-secondary.blob.core.windows.net\nhttps://storagedotnettesting-secondary.file.core.windows.net\nhttps://storagedotnettesting-secondary.queue.core.windows.net\nhttps://storagedotnettesting-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://storagedotnettesting.blob.core.windows.net/;QueueEndpoint=https://storagedotnettesting.queue.core.windows.net/;FileEndpoint=https://storagedotnettesting.file.core.windows.net/;BlobSecondaryEndpoint=https://storagedotnettesting-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://storagedotnettesting-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://storagedotnettesting-secondary.file.core.windows.net/;AccountName=storagedotnettesting;AccountKey=Kg==;\n"
  }
}