{
  "Entries": [
    {
      "RequestUri": "https://storagedotnettesting.blob.core.windows.net/test-container-cfe8ef23-bbc1-1024-8cb7-8857215f964e?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 01 Oct 2020 23:32:00 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8666231DF3552\u0022",
        "Last-Modified": "Thu, 01 Oct 2020 23:32:00 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://storagedotnettesting.blob.core.windows.net/test-container-cfe8ef23-bbc1-1024-8cb7-8857215f964e/test-blob-20c97584-66a8-48f3-3a08-c330e81630db",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Thu, 01 Oct 2020 23:32:00 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8666231E393C7\u0022",
        "Last-Modified": "Thu, 01 Oct 2020 23:32:00 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://storagedotnettesting.blob.core.windows.net/test-container-cfe8ef23-bbc1-1024-8cb7-8857215f964e/test-blob-20c97584-66a8-48f3-3a08-c330e81630db",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 01 Oct 2020 23:32:00 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D8666231E393C7\u0022",
        "Last-Modified": "Thu, 01 Oct 2020 23:32:00 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Thu, 01 Oct 2020 23:32:00 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://storagedotnettesting.blob.core.windows.net/test-container-cfe8ef23-bbc1-1024-8cb7-8857215f964e/test-blob-20c97584-66a8-48f3-3a08-c330e81630db?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8D8666231E393C7\u0022",
        "x-ms-date": "Thu, 01 Oct 2020 23:32:00 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": "5d0h8qzK5rqqo5\u002Bc/wYnFgOVi72LxvNH8W8XbTdPKAPVFgdDAhGB2kTPv0SIWsEFLXt4aPB4xR/q2QE9s3mCWnucx\u002Bn/4xTxE7F5vAavv5euET\u002B8178SXFHnWSgQRCfKTWTI65LYBUpmhlU//wgYOhppj6E6xoO8iWqYF4nr4M\u002BJrm6i5tME1Qv0VVBp0l1Izx4Op7SGkIfhDGEoQO7Be6aGtlCadlRHZLmVRnAyUrcMUEdq3TgaAx7nwNlx3JUdM9qq4xwNrVnKx0P78UkWrrqqHPCmVp5ta7IxsrV61YcjdxOViG6a/6LunxX1HxLU0BIfxsCldtw7PHhp2/ukT/G713k2gSZMEBxNuLaIeEygXOKjWw/HfgE3WUz2MSSnSlAkOUiZnk/[...]
[...]
    {
      "RequestUri": "https://storagedotnettesting.blob.core.windows.net/test-container-9bb6fcf0-1bc0-cc80-c8a2-8d9d38984700/test-blob-7bef1965-feec-b8ff-b749-44048ede56a9",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Modified-Since": "Wed, 30 Sep 2020 23:32:00 GMT",
        "x-ms-date": "Thu, 01 Oct 2020 23:32:00 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D8666232186C30\u0022",
        "Last-Modified": "Thu, 01 Oct 2020 23:32:00 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Thu, 01 Oct 2020 23:32:00 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://storagedotnettesting.blob.core.windows.net/test-container-66d7d570-39b0-27e7-d821-27004fe5832f/test-blob-c06aafd3-f820-dc82-87dd-76334a34e830",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Unmodified-Since": "Fri, 02 Oct 2020 23:32:00 GMT",
        "x-ms-date": "Thu, 01 Oct 2020 23:32:00 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D8666232415AD9\u0022",
        "Last-Modified": "Thu, 01 Oct 2020 23:32:00 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Thu, 01 Oct 2020 23:32:00 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://storagedotnettesting.blob.core.windows.net/test-container-49942ea3-6254-06e1-39c0-3da5e3e2ebe2/test-blob-405f7f4a-7227-4cf7-614e-273512a67587?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 01 Oct 2020 23:32:01 GMT",
        "x-ms-lease-action": "acquire",
        "x-ms-lease-duration": "-1",
        "x-ms-proposed-lease-id": "b2149aff-a54e-1ff8-7477-86c9f8a61840",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8666232C06DA0\u0022",
        "Last-Modified": "Thu, 01 Oct 2020 23:32:01 GMT",
        "x-ms-lease-id": "b2149aff-a54e-1ff8-7477-86c9f8a61840",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://storagedotnettesting.blob.core.windows.net/test-container-445310a4-4727-c850-0231-4669146b6550?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 01 Oct 2020 23:32:02 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2020-10-01T16:32:00.1536703-07:00",
    "RandomSeed": "1847687841",
    "Storage_TestConfigDefault": "ProductionTenant\nstoragedotnettesting\nU2FuaXRpemVk\nhttps://storagedotnettesting.blob.core.windows.net\nhttps://storagedotnettesting.file.core.windows.net\nhttps://storagedotnettesting.queue.core.windows.net\nhttps://storagedotnettesting.table.core.windows.net\n\n\n\n\nhttps://storagedotnettesting-secondary.blob.core.windows.net\nhttps://storagedotnettesting-secondary.file.core.windows.net\nhttps://storagedotnettesting-secondary.queue.core.windows.net\nhttps://storagedotnettesting-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://storagedotnettesting.blob.core.windows.net/;QueueEndpoint=https://storagedotnettesting.queue.core.windows.net/;FileEndpoint=https://storagedotnettesting.file.core.windows.net/;BlobSecondaryEndpoint=https://storagedotnettesting-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://storagedotnettesting-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://storagedotnettesting-secondary.file.core.windows.net/;AccountName=storagedotnettesting;AccountKey=Kg==;\nscope"
  }
}