{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-959b8258-7e27-aea0-05ad-db5d7f90a732?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Fri, 20 Aug 2021 22:45:56 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9642C45DD1DBB\u0022",
        "Last-Modified": "Fri, 20 Aug 2021 22:45:56 GMT",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-959b8258-7e27-aea0-05ad-db5d7f90a732/test-blob-061e49f4-f77b-ef0b-3f46-3b87d4675b81",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Fri, 20 Aug 2021 22:45:56 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9642C45E50CCA\u0022",
        "Last-Modified": "Fri, 20 Aug 2021 22:45:56 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-10-02",
        "x-ms-version-id": "2021-08-20T22:45:56.3613386Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-959b8258-7e27-aea0-05ad-db5d7f90a732/test-blob-061e49f4-f77b-ef0b-3f46-3b87d4675b81?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\u00220x8D9642C45E50CCA\u0022",
        "x-ms-date": "Fri, 20 Aug 2021 22:45:56 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": "skcWPdEiWjqDgbtQnnV3wetBRAhk9BdPNc5GkDx4d6EgSBuVgnaV0u7kg/o7u1HJz3mckyNTHL4wxgcC28n9CgkaL1Va4T90rHIZgHEdE3p9fMDD3OR9zStcZbtuk/Yl5njwIYv8b\u002B46J\u002BexOZtNE7ONhV4IOi0lnGEp/XyDBRh79Jr4LPLugQzSibT8zJSPD1II4Q2XHKtLyoQq0nJytiLONUQBVObBngRRNrF4KNDNmu0peyML49jurWFuxK6aX9KSLpdPjrtrR0IJRuX60qK0XDeFSDv\u002BwlFsEqeFU9lVt9be5fo4fgwyvjTgAp3y9Nq/uWh3FBeWlGtF4nsT5fRps44OG\u002Byne94rU4kHHcC0eR7Nxplx3qO/R1GO85uQHtlAd04P5Nj[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-959b8258-7e27-aea0-05ad-db5d7f90a732/test-blob-061e49f4-f77b-ef0b-3f46-3b87d4675b81",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 20 Aug 2021 22:45:56 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D9642C45ECAF4B\u0022",
        "Last-Modified": "Fri, 20 Aug 2021 22:45:56 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Fri, 20 Aug 2021 22:45:56 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-10-02",
        "x-ms-version-id": "2021-08-20T22:45:56.3613386Z"
      },
      "ResponseBody": "skcWPdEiWjqDgbtQnnV3wetBRAhk9BdPNc5GkDx4d6EgSBuVgnaV0u7kg/o7u1HJz3mckyNTHL4wxgcC28n9CgkaL1Va4T90rHIZgHEdE3p9fMDD3OR9zStcZbtuk/Yl5njwIYv8b\u002B46J\u002BexOZtNE7ONhV4IOi0lnGEp/XyDBRh79Jr4LPLugQzSibT8zJSPD1II4Q2XHKtLyoQq0nJytiLONUQBVObBngRRNrF4KNDNmu0peyML49jurWFuxK6aX9KSLpdPjrtrR0IJRuX60qK0XDeFSDv\u002BwlFsEqeFU9lVt9be5fo4fgwyvjTgAp3y9Nq/uWh3FBeWlGtF4nsT5fRps44O[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-959b8258-7e27-aea0-05ad-db5d7f90a732?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 20 Aug 2021 22:45:56 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1975995317",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Kg==;\ntestscope2\n\n"
  }
}