{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-a2072a6e-e1f2-0ffe-0f68-393252c72f73?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 17 Feb 2021 02:25:14 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D2EB4288F8C9\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 02:25:14 GMT",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-a2072a6e-e1f2-0ffe-0f68-393252c72f73/test-blob-befb5117-acbc-7108-ecfd-a321cd233501",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Wed, 17 Feb 2021 02:25:14 GMT",
        "x-ms-encryption-algorithm": "AES256",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D2EB42929E4D\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 02:25:14 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-06-12",
        "x-ms-version-id": "2021-02-17T02:25:14.8977741Z"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-a2072a6e-e1f2-0ffe-0f68-393252c72f73/test-blob-befb5117-acbc-7108-ecfd-a321cd233501?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "0x8D8D2EB429C3D04",
        "x-ms-date": "Wed, 17 Feb 2021 02:25:14 GMT",
        "x-ms-encryption-algorithm": "AES256",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": "TPOCoJfVUYYVnE9o3gZpFxRDnUtgre4hhIqhLeEBN34d57UVUkjIry88cnZ1k57Oqpgl5FPrhZ8EYBwNMySkE2TQSvZQVMXLeu0cJDp4rPDr04NI21IrMmIWEfEsunsLl18RpEmofVbTWmllzmFki7QrImChXDcSpReUOkLTn8BxEYzbZgemQ1UsdIHoxWMBsYU9AJgbaTsn//8xE0ITALqp873ViSWshd8KdOi2Kd\u002B0k4i9lZ4nVqdQtGYHdS8SGXPHP9KmLCdgkHu5EPVTcNYgfYC6VmobgZwWhNW\u002BpQ\u002Bv91t07\u002BkNDmZgXQUjbkax/UOQ5/euWMIJq701j6dSoetrChia3oHsE28ZWfll9xNWZIaRLb0YAJ6YakMs2H6\u002BDrsZuG[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-a2072a6e-e1f2-0ffe-0f68-393252c72f73/test-blob-befb5117-acbc-7108-ecfd-a321cd233501",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 02:25:14 GMT",
        "x-ms-encryption-algorithm": "AES256",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D8D2EB42A84D1F\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 02:25:15 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Wed, 17 Feb 2021 02:25:14 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-06-12",
        "x-ms-version-id": "2021-02-17T02:25:14.9618196Z"
      },
      "ResponseBody": "TPOCoJfVUYYVnE9o3gZpFxRDnUtgre4hhIqhLeEBN34d57UVUkjIry88cnZ1k57Oqpgl5FPrhZ8EYBwNMySkE2TQSvZQVMXLeu0cJDp4rPDr04NI21IrMmIWEfEsunsLl18RpEmofVbTWmllzmFki7QrImChXDcSpReUOkLTn8BxEYzbZgemQ1UsdIHoxWMBsYU9AJgbaTsn//8xE0ITALqp873ViSWshd8KdOi2Kd\u002B0k4i9lZ4nVqdQtGYHdS8SGXPHP9KmLCdgkHu5EPVTcNYgfYC6VmobgZwWhNW\u002BpQ\u002Bv91t07\u002BkNDmZgXQUjbkax/UOQ5/euWMIJq701j6dSoet[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-a2072a6e-e1f2-0ffe-0f68-393252c72f73?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 02:25:14 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "171203161",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\nseanscope1"
  }
}