{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-0255adb8-9010-f8af-cd50-84d7f952380b?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 17 Feb 2021 19:03:34 GMT"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D376B970F190\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 19:03:34 GMT"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-0255adb8-9010-f8af-cd50-84d7f952380b/test-blob-df01144b-0f07-7d69-2694-b2bc84ed07ee",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Wed, 17 Feb 2021 19:03:34 GMT"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D376B97C2A35\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 19:03:34 GMT",
        "x-ms-request-server-encrypted": "true",
         "x-ms-version": "2020-08-04",
        "x-ms-version-id": "2021-02-17T19:03:34.4449077Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-0255adb8-9010-f8af-cd50-84d7f952380b/test-blob-df01144b-0f07-7d69-2694-b2bc84ed07ee",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 19:03:34 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D8D376B97C2A35\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 19:03:34 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Wed, 17 Feb 2021 19:03:34 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
         "x-ms-version": "2020-08-04",
        "x-ms-version-id": "2021-02-17T19:03:34.4449077Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-0255adb8-9010-f8af-cd50-84d7f952380b/test-blob-df01144b-0f07-7d69-2694-b2bc84ed07ee?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "0x8D8D376B97C2A35",
        "x-ms-date": "Wed, 17 Feb 2021 19:03:34 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023"
      },
      "RequestBody": "KhUmTuaNBM07b\u002B67ATVHchCfb4J2KRHpYeVhNuk6QSpnGwkgjTUrv/2pom3U0W/hhyGNsVhifAAEPOwBLM3kAC7EVOYsJ\u002BXbc6\u002BEzYejFJB2f6/HrZDRBJ8IG1BIKpIvxKE/EHyItWA7sj2o3q55YSdci6weHFOe8lBGJAuVk0kdVAjlZAQT7cpPi/tSKSXwjroo657mEahOoR4sQZFUph7zi4mmlPwjSJ7hzpBXS8gqVZVQbKeqNkNflsPl56s5\u002BuXcXp2cSvq9BaMABEMY9lVVAev7BDp3SVRGRv05PWHyqNOre\u002BwqjQubkmYDqjL/R59tkOW/PvaqZBVJVgT8hMdBDlxvbHtoKnPgYHHUc54iRv5dzK17MmrdARfW4TcGng6fwZvVkNokBGVx3t2E1vB2Jg8Gn7cZxtvykmtkkUg8[...]
[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-0255adb8-9010-f8af-cd50-84d7f952380b?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 19:03:34 GMT"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "727006712",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\nseanscope1"
  }
}