{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-e30b1c32-3c45-fa1a-f71d-98ece624adbb?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Fri, 03 Apr 2020 00:07:28 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7D762FF1EBFB5\u0022",
        "Last-Modified": "Fri, 03 Apr 2020 00:07:28 GMT",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-e30b1c32-3c45-fa1a-f71d-98ece624adbb/test-blob-5df39186-406c-d573-0af1-22b6f1813b72",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "4096",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Fri, 03 Apr 2020 00:07:29 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7D762FF2BDCE2\u0022",
        "Last-Modified": "Fri, 03 Apr 2020 00:07:28 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-e30b1c32-3c45-fa1a-f71d-98ece624adbb/test-blob-5df39186-406c-d573-0af1-22b6f1813b72?comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "8192",
        "x-ms-date": "Fri, 03 Apr 2020 00:07:29 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7D762FF38B079\u0022",
        "Last-Modified": "Fri, 03 Apr 2020 00:07:28 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-fec4aab7-1a31-b10c-95bc-09807a25586e/test-blob-18210ff8-692a-9756-e9b0-e33068b517dc?comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Modified-Since": "Thu, 02 Apr 2020 00:07:28 GMT",
        "x-ms-blob-content-length": "8192",
        "x-ms-date": "Fri, 03 Apr 2020 00:07:29 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7D762FF92799B\u0022",
        "Last-Modified": "Fri, 03 Apr 2020 00:07:29 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-019999ad-b809-d329-3698-e8f103c59409/test-blob-ad337c2a-a24e-6610-756e-2535d6644801?comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Unmodified-Since": "Sat, 04 Apr 2020 00:07:28 GMT",
        "x-ms-blob-content-length": "8192",
        "x-ms-date": "Fri, 03 Apr 2020 00:07:30 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7D762FFE95C02\u0022",
        "Last-Modified": "Fri, 03 Apr 2020 00:07:29 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-738f5fe3-9c8b-4d68-f880-a5912f85fa7b/test-blob-6825dcc3-62dc-7fc7-1fb0-df191721330a",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 03 Apr 2020 00:07:31 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D7D76300328042\u0022",
        "Last-Modified": "Fri, 03 Apr 2020 00:07:30 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Fri, 03 Apr 2020 00:07:30 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-738f5fe3-9c8b-4d68-f880-a5912f85fa7b/test-blob-6825dcc3-62dc-7fc7-1fb0-df191721330a?comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8D7D76300328042\u0022",
        "x-ms-blob-content-length": "8192",
        "x-ms-date": "Fri, 03 Apr 2020 00:07:31 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7D763004AEEAD\u0022",
        "Last-Modified": "Fri, 03 Apr 2020 00:07:30 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-81d04363-e8be-379b-e9c5-749e5ff1fca7/test-blob-34f84006-2d9f-b981-83fd-060a319ea132?comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "\u0022garbage\u0022",
        "x-ms-blob-content-length": "8192",
        "x-ms-date": "Fri, 03 Apr 2020 00:07:31 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7D76300A5A237\u0022",
        "Last-Modified": "Fri, 03 Apr 2020 00:07:30 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-ed6ce22e-bd94-66c1-bf8e-3269111ff1eb/test-blob-fd1b5600-9a8d-d555-31ed-d63dc4760c3d?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 03 Apr 2020 00:07:32 GMT",
        "x-ms-lease-action": "acquire",
        "x-ms-lease-duration": "-1",
        "x-ms-proposed-lease-id": "81a0e30c-9aa5-9217-31a7-f5890a4c9c98",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D7D76300EFB105\u0022",
        "Last-Modified": "Fri, 03 Apr 2020 00:07:31 GMT",
        "x-ms-lease-id": "81a0e30c-9aa5-9217-31a7-f5890a4c9c98",
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://seanmcccanary.blob.core.windows.net/test-container-ed6ce22e-bd94-66c1-bf8e-3269111ff1eb?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 03 Apr 2020 00:07:32 GMT",
        "x-ms-version": "2019-12-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2019-12-12"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2020-04-02T17:07:28.9347392-07:00",
    "RandomSeed": "1789338741",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary\nU2FuaXRpemVk\nhttps://seanmcccanary.blob.core.windows.net\nhttps://seanmcccanary.file.core.windows.net\nhttps://seanmcccanary.queue.core.windows.net\nhttps://seanmcccanary.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary-secondary.blob.core.windows.net\nhttps://seanmcccanary-secondary.file.core.windows.net\nhttps://seanmcccanary-secondary.queue.core.windows.net\nhttps://seanmcccanary-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary.queue.core.windows.net/;FileEndpoint=https://seanmcccanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary-secondary.file.core.windows.net/;AccountName=seanmcccanary;AccountKey=Sanitized\nseanscope1"
  }
}