{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-ff40d19a-20a3-72d3-2f92-dc2807d44be9?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 17 Feb 2021 02:23:54 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D2EB12B39467\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 02:23:54 GMT",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-ff40d19a-20a3-72d3-2f92-dc2807d44be9/test-blob-76f1d0b5-8ce7-eedf-a380-9793e57f3475",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Wed, 17 Feb 2021 02:23:54 GMT",
        "x-ms-encryption-algorithm": "AES256",
        "x-ms-encryption-key": "WF/ryoVPWI9GfDOFNu3eo3Xfn27Iw5WwXWBYEBYC\u002BBM=",
        "x-ms-encryption-key-sha256": "4n//GY9CAXIS4WWwIBiJHS0q\u002BCIRO0boizECeOTAfXE=",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D2EB12BE310E\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 02:23:54 GMT",
        "x-ms-encryption-key-sha256": "4n//GY9CAXIS4WWwIBiJHS0q\u002BCIRO0boizECeOTAfXE=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-06-12",
        "x-ms-version-id": "2021-02-17T02:23:54.6526990Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-ff40d19a-20a3-72d3-2f92-dc2807d44be9/test-blob-76f1d0b5-8ce7-eedf-a380-9793e57f3475?comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "8192",
        "x-ms-date": "Wed, 17 Feb 2021 02:23:54 GMT",
        "x-ms-encryption-algorithm": "AES256",
        "x-ms-encryption-key": "WF/ryoVPWI9GfDOFNu3eo3Xfn27Iw5WwXWBYEBYC\u002BBM=",
        "x-ms-encryption-key-sha256": "4n//GY9CAXIS4WWwIBiJHS0q\u002BCIRO0boizECeOTAfXE=",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D8D2EB12C84503\u0022",
        "Last-Modified": "Wed, 17 Feb 2021 02:23:54 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-ff40d19a-20a3-72d3-2f92-dc2807d44be9?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 02:23:54 GMT",
        "x-ms-version": "2020-06-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-06-12"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "559028349",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\nseanscope1"
  }
}