{
  "Entries": [
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-e30b1c32-3c45-fa1a-f71d-98ece624adbb?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 17 Jul 2019 02:09:48 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D70A5BD84C9DC9\u0022",
        "Last-Modified": "Wed, 17 Jul 2019 02:09:48 GMT",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-e30b1c32-3c45-fa1a-f71d-98ece624adbb/test-blob-4a143f0e-1fc3-d364-25af-cfbbf09a43e9",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "4096",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Wed, 17 Jul 2019 02:09:48 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D70A5BD84F329F\u0022",
        "Last-Modified": "Wed, 17 Jul 2019 02:09:48 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-e30b1c32-3c45-fa1a-f71d-98ece624adbb/test-blob-4a143f0e-1fc3-d364-25af-cfbbf09a43e9?comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "8192",
        "x-ms-date": "Wed, 17 Jul 2019 02:09:48 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D70A5BD8517D1F\u0022",
        "Last-Modified": "Wed, 17 Jul 2019 02:09:48 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-11ad5d74-9cbd-23d9-99d7-ad274d9849b4/test-blob-2f664f63-17a8-af67-87ee-93ba04248132?comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Modified-Since": "Tue, 16 Jul 2019 02:09:48 GMT",
        "x-ms-blob-content-length": "8192",
        "x-ms-date": "Wed, 17 Jul 2019 02:09:48 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D70A5BD85E5185\u0022",
        "Last-Modified": "Wed, 17 Jul 2019 02:09:48 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-590220ed-8360-da00-7e57-698546b3eb57/test-blob-59938ace-fe23-090d-a702-18c6b63bcc66?comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Unmodified-Since": "Thu, 18 Jul 2019 02:09:48 GMT",
        "x-ms-blob-content-length": "8192",
        "x-ms-date": "Wed, 17 Jul 2019 02:09:48 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D70A5BD86EF767\u0022",
        "Last-Modified": "Wed, 17 Jul 2019 02:09:48 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-29864f8f-1183-8346-2564-897f642c323a/test-blob-019999ad-b809-d329-3698-e8f103c59409",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Jul 2019 02:09:48 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D70A5BD8769A6B\u0022",
        "Last-Modified": "Wed, 17 Jul 2019 02:09:48 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Wed, 17 Jul 2019 02:09:48 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-tag-count": "0",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-29864f8f-1183-8346-2564-897f642c323a/test-blob-019999ad-b809-d329-3698-e8f103c59409?comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8D70A5BD8769A6B\u0022",
        "x-ms-blob-content-length": "8192",
        "x-ms-date": "Wed, 17 Jul 2019 02:09:48 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D70A5BD87BF2EB\u0022",
        "Last-Modified": "Wed, 17 Jul 2019 02:09:48 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-0e9a5f24-d301-555a-d66b-55240afafa34/test-blob-7711cbbf-39ca-4500-e4a3-45887351a229?comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "\u0022garbage\u0022",
        "x-ms-blob-content-length": "8192",
        "x-ms-date": "Wed, 17 Jul 2019 02:09:48 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8D70A5BD886A3F0\u0022",
        "Last-Modified": "Wed, 17 Jul 2019 02:09:48 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-8b29e5be-63ec-de40-9372-84461aee43cc/test-blob-6825dcc3-62dc-7fc7-1fb0-df191721330a?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Jul 2019 02:09:48 GMT",
        "x-ms-lease-action": "acquire",
        "x-ms-lease-duration": "-1",
        "x-ms-proposed-lease-id": "3e831e2b-dbc8-e6f0-8e17-ca2892bbab5d",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D70A5BD88E46E7\u0022",
        "Last-Modified": "Wed, 17 Jul 2019 02:09:48 GMT",
        "x-ms-lease-id": "3e831e2b-dbc8-e6f0-8e17-ca2892bbab5d",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "http://storageteglazatesting.blob.core.windows.net/test-container-8b29e5be-63ec-de40-9372-84461aee43cc?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Jul 2019 02:09:48 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2019-07-16T19:09:48.3417466-07:00",
    "RandomSeed": "1789338741",
    "Storage_TestConfigDefault": "ProductionTenant\nstorageteglazatesting\nU2FuaXRpemVk\nhttp://storageteglazatesting.blob.core.windows.net\nhttp://storageteglazatesting.file.core.windows.net\nhttp://storageteglazatesting.queue.core.windows.net\nhttp://storageteglazatesting.table.core.windows.net\n\n\n\n\nhttp://storageteglazatesting-secondary.blob.core.windows.net\n\nhttp://storageteglazatesting-secondary.queue.core.windows.net\nhttp://storageteglazatesting-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://storageteglazatesting.blob.core.windows.net/;QueueEndpoint=http://storageteglazatesting.queue.core.windows.net/;TableEndpoint=http://storageteglazatesting.table.core.windows.net/;FileEndpoint=http://storageteglazatesting.file.core.windows.net/;BlobSecondaryEndpoint=http://storageteglazatesting-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://storageteglazatesting-secondary.queue.core.windows.net/;TableSecondaryEndpoint=http://storageteglazatesting-secondary.table.core.windows.net/;AccountName=storageteglazatesting;AccountKey=Sanitized"
  }
}